@charset "UTF-8";

/*************************************************************
http://www.cocolog-nifty.com/index.htm
*************************************************************/

body {
	font-size:85%;
}

/************************************************************
link
************************************************************/

a:link{color:#0066cc; text-decoration:underline;}
a:visited{color:#822988; text-decoration:underline;}
a:hover{color:#0066cc; text-decoration:none;}
a:active{color:#0066cc; text-decoration:none;}

h1{
	float:left;
	font-size:small;
	font-weight:normal!important;
	margin:20px 0 0 10px!important;}

h2 a:link,
#neta h3 a:link {
	color: #6a3906;

}
h2 a:visited,
#neta h3 a:visited {
	color: #6a3906;

}

h2 a:hover,
#neta h3 a:hover {
	color: #6a3906;

}


/**********************共通******************************/
div.common_wrapper {
	zoom : 1;
	padding: 0;
	margin: 0;
}

#content {
	padding: 15px 0 0;
	}

/*20100616 update*/
#mainContent h2 {
	background: url(../../images/20100616/leftcolumn_h2_bg.png) repeat-x top;
	font-size: medium;
	padding: 13px 0 5px 10px;
	margin: 0 0 10px;
	}

#mainContent h3 {
	background: url(../../images/20100616/main_h3_bg.gif) no-repeat left top;
	font-size: small;
	height:25px;
	padding: 0 0 0 15px;
	margin: 10px 0;
	}


.thumbnail img {
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #CCCCCC;
	margin:0 5px 0 0;
	padding:2px;
	}

.module {
	margin: 10px 0 20px;
	}

div.section {
	margin: 0 0 5px;
	}

/* 20110317 xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
div.section {
	margin: 0 0 20px;
	}
*/

#subContent h2 {
	background:  repeat-x top;
	font-size: medium;
	padding: 13px 0 5px 10px;
	margin: 0 0 10px;
	}

.fortop {
	text-align: right;
	margin:0 0 10px;
	}
.fortop a {
	background : url(../../images/ver4/arrow_top.gif) no-repeat left top;
	padding: 0 0 0 20px;
	}
.more,
.arrow {
	text-align: right;
	margin: 10px 0 0;
	}

.more a,
.arrow a {
	background: url(../../images/ver4/arrow_more.gif) no-repeat left top;
	padding: 0 0 0 20px;
	}


/**********************　#celeb ver2　******************************/
/*20111012 update*/
#celeb .c_box {
	border-bottom:1px dotted #CCCCCC;
	margin-bottom:10px;
	width:605px;
	clear:both;
	overflow:hidden;
}

#celeb .celeb_pic {
	float:left;
	margin-right:10px;
	padding-bottom:10px;
	width:60px;
}

#celeb .details {
	float:right;
	width:520px;
}

#celeb .entry-title {
	font-size:110%;
	font-weight:bold;
}

#celeb .entry-text {}

#celeb .blog-title,
#celeb .posted {
	font-size:80%;
	color:#A0A0A0;
	padding-bottom:6px;
}

.celeb_pic img {
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #CCCCCC;
	margin:0 5px 0 0;
	padding:2px;
	}
/**********************　#banner　******************************/
.ban_l {
	float: left;
	margin: 0 10px 20px 0;
	}

/**********************　#userblog　******************************/

#userblog #searchbox {
/*	background: #ffffe5;
	border: 1px solid #f5e082;
	padding: 20px;*/
	text-align: center;
	margin: 0 0 15px;
	}

#searchbox .submit {
	font-size: 110%;
	padding: 3px 20px;
	_padding: 2px 10px;
	}

#searchbox .l {
	width:90px;
	text-align: right;
	padding: 7px 0 0 0;
	}
#searchbox .r {
	width:473px;
	}


#searchbox .search-textarea {
	width:350px;
	height: 25px;
	}

#searchbox form {
	margin: 0 0 10px;
	}

#q {
	font-size:medium;
	padding: 3px 0 0 3px;
	}
#userblog h3 a{
	text-decoration:underline;
	color:#666666;
	}
#userblog h3 a:hover{
	text-decoration:none;
	color:#666666;
	}
#userblog .search_t {
	font-weight: bold;
	}
/*20100616 update*/
embed,object{
	padding:0;
	margin:0;
	}
#userblog .search_t2{
	background:url(../../images/20100616/naked_bgbar.png) top left no-repeat;
	width:600px;
	height:36px;
	}
	#userblog .search_t2 p{
		text-align:left;
		margin-left:200px;
		padding-top:8px;
		}
#userblog .lank {
	margin: 0 0 15px;
	}
/*20100616*/
#userblog .lankbox .l,#userblog .lankbox .r{
	width:300px;
	}

#userblog li {
	margin: 0 0 10px;
	}

#userblog .blog_t {
	font-size: medium;
	font-weight: bold;
	}

#userblog .blog_t a {
	color:#003399;
	}


#userblog li.rank1 {
	background: url(../../images/20100616/rank_01.png) no-repeat left 3px;
	padding:0 0 0 25px;
	}

#userblog li.rank2 {
	background: url(../../images/20100616/rank_02.png) no-repeat left 3px;
	padding:0 0 0 25px;
	}
#userblog li.rank3 {
	background: url(../../images/20100616/rank_03.png) no-repeat left 3px;
	padding:0 0 0 25px;
	}
#userblog li.rank4 {
	background: url(../../images/20100616/rank_04.png) no-repeat left 3px;
	padding:0 0 0 25px;
	}
#userblog li.rank5 {
	background: url(../../images/20100616/rank_05.png) no-repeat left 3px;
	padding:0 0 0 25px;
	}
#userblog li.rank6 {
	background: url(../../images/20100616/rank_06.png) no-repeat left 3px;
	padding:0 0 0 25px;
	}
#userblog li.rank7 {
	background: url(../../images/20100616/rank_07.png) no-repeat left 3px;
	padding:0 0 0 25px;
	}
#userblog li.rank8 {
	background: url(../../images/20100616/rank_08.png) no-repeat left 3px;
	padding:0 0 0 25px;
	}
#userblog li.rank9 {
	background: url(../../images/20100616/rank_09.png) no-repeat left 3px;
	padding:0 0 0 25px;
	}
#userblog li.rank10 {
	background: url(../../images/20100616/rank_10.png) no-repeat left 3px;
	padding:0 0 0 25px;
	}
#userblog li{
	margin:0;
	padding:0;}
#userblog li.list_icn {
	background: url(../../images/ver4/arrow_icon02.gif) no-repeat left 3px;
	padding:0 0 0 25px;
	}

#userblog .list_l {
	width:295px;
	margin: 0 10px 0 0;
	float: left;
	}

#userblog .list_r {
	width:295px;
	float: left;
	}



/**********************　#oekaki #picup　******************************/


#oekaki .frame
#picup .frame {
	padding: 20px;
	border: 1px solid #ff9900;
	}

#oekaki li,
#picup li {
	float: left;
	/*margin: 0 11px 0 0;*/
	}

#oekaki li.end,
#picup li.end {
	margin-right: 0px;
	}

#oekaki {
	position: relative;
	height: 190px;
	}

#picup {
	position: relative;
	height: 220px;
	}


#oekaki .tab_oekaki,
#picup .tab_oekaki {
	position: absolute;
	top:0;
	left:0;
	}

#oekaki .tab_picup,
#picup .tab_picup {
	position: absolute;
	top:0;
	left:123px;
	}

#oekaki .frame,
#picup .frame {
	position: absolute;
	top:31px;
	left:0px;
	padding: 20px;
	border: 1px solid #ff9900;
	}

#picup .left_box {
	width: 275px;
	margin-right: 10px;
	float:left;
	}

#picup .right_box {
	width: 275px;
	float: left;
	}

#picup .int-main .thumbnail {
	width:60px;
	margin-right: 10px;
	float: left;
	}



/**********************　#category　******************************/

#category ul.catlist strong {
	background:#EBEAD6 none repeat scroll 0 0;
	display:block;
	margin:5px 0;
	padding:3px;
}


#category ul.catlist {
	float:left;
	width:290px;
	margin: 0 5px;
}

/**********************　#banner02　******************************/

#banner02 .b_l,
#banner02 .b_c{
	width: 188px;
	float: left;
	margin: 0 18px 0 0;
	}

#banner02 .b_r {
	width: 188px;
	float: left;
	}

/**********************　#login　******************************/
/*20100616 update*/
/*20110214 update*/

#block-entry {
	text-align:center;
	margin-bottom:15px;
	padding:0;
}

#block-entry li {
    display: block;
}

#block-entry li a{
	overflow: hidden;
    text-decoration: none;
    text-indent: -5000px;
    display: block;
}

#block-entry ul.module-cocolog{
	width:268px;
	border:1px solid #FEC300;
	background:#FFFFE7;
	padding:10px 15px;
	overflow:hidden;
	_zoom:1;
	margin-bottom:13px;
}

#block-entry ul.module-cocolog li {
	float:left;
}

#block-entry ul.module-cocolog li.entry a{
    background:url("../../images/btn_entry.gif") no-repeat;
	height:71px;
	margin-bottom:5px;
	width:268px;
}

#block-entry ul.module-cocolog li.move a{
    background:url("../../images/btn_move.gif") no-repeat;
	height:25px;
	margin-bottom:7px;
	width:268px;
}

#block-entry ul.module-cocolog li.about a{
    background:url("../../images/btn_cocolog_about.gif") no-repeat;
	height:25px;
	width:127px;
	margin-right:6px;
}

#block-entry ul.module-cocolog li.plan a{
    background:url("../../images/btn_plan.gif") no-repeat;
	height:25px;
	width:135px;
}

#block-entry ul.module-hiroba{
	text-align:center;
	padding:0 15px;
	overflow:hidden;
	_zoom:1;
}

#block-entry ul.module-hiroba li {
	float:left;
}

#block-entry ul.module-hiroba li.blog a{
    background:url("../../images/btn_login.gif") no-repeat center;
	width:268px;
	height:52px;
	margin-bottom:10px;
}

#block-entry ul.module-hiroba li.hiroba a{
    background:url("../../images/btn_hiroba.gif") no-repeat center;
	width:268px;
	height:53px;
	margin-bottom:5px;
}

#block-entry ul.module-hiroba li.hiroba02 a{
    background:url("../../images/btn_hiroba_about.gif") no-repeat center;
	width:268px;
	height:25px;
}

/**********************　#sidebar　******************************/
#rightbar table {
	margin:0;
	padding:0;
	}

img.thumnail {
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #CCCCCC;
	margin:0 5px 0 0;
	padding:2px;
	/*width:60px;
	height:60px;*/
	float:left;
	}


/*20100116 update*/
#design h2,
#blogparts h2,
#helpbbs h2,
#bmn h2,
#mobile h2,
#cpub h2{
	background:url(../../images/20100616/rightcolumn_h2_bg.png) repeat-x left top;
	margin:0px 0px 10px;
	padding:8px 0px 0px 10px;
}
/*20100616 update*/
#mobile h2,
#bmn h2{
	color: #6a3906;
	}

#design li.thumbnail img {
	margin-right:0px;
/*	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #CCCCCC;
	padding:2px;*/
}

#design ul {
	width:312px;
	margin:0px -12px 12px 0px;
	overflow:hidden;
	_zoom:1;
}

#design li {
	float:left;
	margin:0 12px 0 0;
}


#blogparts p.blogparts_thunmb {
	float:left;
	margin: 0px 5px 0px 0px;
}
/*
#helpbbs li.question {
	background:url(http://cocolog.kaiketsu.nifty.com/images/icon_answer_waiting.gif) no-repeat left center;
	margin: 0px 0px 5px;
	padding: 0px 0px 5px 53px;
}

#helpbbs li.fixed_question {
	background:url(http://cocolog.kaiketsu.nifty.com/images/icon_resolution.gif) no-repeat left center;
	margin: 0px 0px 5px;
	padding: 0px 0px 5px 53px;
}
#neta {
	margin: 0 0 20px;
	}

#neta h3 {
	background:url(../../images/ver4/subContent_h2.gif) repeat-x left top;
	margin:0px 0px 10px;
	padding:8px 0px 0px 10px;
	font-size:medium;
}

#neta h3 a img {
	margin: 5px 0 0;
	}

#neta .neta_count {
	background:transparent url(http://www.cocolog-nifty.com/images/var2/neta_bg.gif) no-repeat scroll left top;
	color:#000000;
	float:left;
	line-height:1.3em;
	margin:0 9px 0 0;
	text-align:center;
	width:36px;
	}
#neta li {
	list-style-position: outside;
	list-style-type:none;
line-height:1.1em;
margin:0 0 5px;
min-height:16px;
width:300px;
	}


#neta li a {
	float:left;
width:255px;
	}
	*/
/*#cpub*/
#cpub .lr_box .l{
	width:150px;
	}
#cpub .lr_box .r{
	width:140px;
	margin-left:10px;
	}

#bmn .tieup ul.img_topics p {
	margin:0;
	padding: 0;
	float:right;
	width:222px;
	}

#bmn .tieup li {
	list-style-position: outside;
	list-style-type:none;
	min-height:1px;
	width:284px;
	}
#bmn .tieup h6 {
	line-height: 1.2;
	}

#bmn dd {
	color:#333;
	}

#bmn ul {
	padding:0px;
}

#bmn .tieup {
	background:#FFFFE5;
	margin-bottom: 15px;
	padding: 2px;
	border: 1px solid #F5E082;
}

#bmn .tieup ul {
	margin:10px 5px;
}

#bmn li.tieup_info {
	margin:0px 0px 10px;
	width:280px;
}

/*ul.bm {
	width: 300px;
	background-color:#0CF;
	}
ul.bm li {
	margin-bottom:10px;
}*/

.bmnCont img {
 background: #FFFFFF;
 margin:0px;
 padding:2px;
 border:1px solid #CCCCCC;
}

.bmnCont dt {
 float:left;
 width:66px;
}

.bmnCont dd {
 margin:0px 0px 15px;
 padding: 0px 0px 0px 70px;
 }

#bmn li.bmn_info {
	margin:0px 0px 10px;
	width:300px;
}

#bmn li.tieup_info img,
#bmn li.bmn_info img {
	background: #FFFFFF;
	margin:0px 5px 0px 0px;
	padding:2px;
	border:1px solid #CCCCCC;
}

#bmn h6 {
	font-weight:normal;
}

p.info_r {
	margin: 0px;
	padding: 0px;
}

p.info_thunmb {
	float:left;
	margin:0px 5px 0px 0px;
}

#mobile p.qr_thunmb {
	float:left;
	margin:0px 5px 0px 0px;
	border:1px solid #CCCCCC;
}






/**********************　#footermenu　******************************/

#footermenu {
	border-top: 4px solid #fabf00;
	width:894px;
	margin: 0 auto 20px;
	padding: 20px 27px 0px;
	text-align:left;
	}

#footermenu h3 {
	font-size:medium;
	}

.footermenu01 {
	float:left;
	margin-right:30px;
	width:200px;
}

.footermenu02 {
	float: left;
	margin-right:30px;
	width:420px;
	}


.footermenu02 .lcol {
	width: 200px;
	float: left;
	margin-right: 20px;
	}

.footermenu02 .rcol {
	width: 200px;
	float:left;
	}

.footermenu03 {
	width:200px;
	float:left;
	margin: 0;
	}


#footermenu li {
	background: url(../../images/ver4/li_icon.gif) no-repeat left 7px;
	list-style: outside;
	list-style-type: none;
	padding: 0 0 0 10px;
	}

.footer {
	width:948px;
	margin: 0 auto;
	padding:0 0 20px;
	border-top: 1px dotted #666;
	border-bottom: 9px solid #ffd457;
	}

/*tab*/
div#picup {
  display: none;
}
p.tab_changer {
  cursor: pointer;
}

/*.img_topics h6{
	margin:0;
	padding:0;
	background-color:#093;
	}
.img_topics p{
	margin:0;
	padding:0;
	background-color:#399;
	}
.img_topics li{
	background-color:#C03;
	}*/


#userblog li.rank1,
#userblog li.rank2,
#userblog li.rank3,
#userblog li.rank4,
#userblog li.rank5,
#userblog li.rank6,
#userblog li.rank7,
#userblog li.rank8,
#userblog li.rank9,
#userblog li.rank10{
/*	padding:0;*/
	margin:0 0 10px 0;
	}
#userblog p.blog_t,#userblog p.article_t{
	padding:0;
	margin:0;
	}

#userblog li {
	list-style-position: outside;
	list-style-type:none;

	}

#helpbbs li.question,
#helpbbs li.fixed_question {
	list-style-position: outside;
	list-style-type:none;
	}

#userblog li.list_icn {
	margin:0 0 10px 0;
	}

#oekaki .frame, #picup .frame {
	width: 560px;
	}

#oekaki li {
	margin: 0 8px 0 0;
	}


/**********************　#maintenance　******************************/

#maintenance {
	background: #ffe7cf;
	border: 1px solid #ef8f58;
	padding: 15px;
	margin: 0 0 20px;
	}

#maintenance h3 {
	background: url(../../images/ver4/maintenance_icn.gif) no-repeat left top;
	padding: 0 0 0 30px;
	margin:0;
	height: auto;
	}

#maintenance h3 a,
#maintenance h3 a:link
#maintenance h3 a:visited
#maintenance h3 a:hover
#maintenance h3 a:active {
	color:#ff0000;
	}

/**********************　sub_footer　******************************/
#sub_footer{
	border-top:1px dotted #666666;
	margin:0 auto;
	padding:5px 0;
	width:948px;
}
#sub_footer ul li{
	display:inline;
	margin-left:10px;
	}

#sub_footer ul li a{
	background:transparent url(../../images/ver4/arrow_more.gif) no-repeat scroll left top;
	padding:0 0 0 20px;
	}



/**********************　jizai　******************************/

#blog_neta h2 {
	background: url(../../images/ver4/subContent_h2.gif) repeat-x top left;
	margin:0 0 10px;
	padding:8px 0 0 10px;
	color:#6A3906;
	}

#blog_neta li {
	list-style: outside;
	list-style-type: none;
	background: url(../../images/ver4/arrow_icon02.gif) no-repeat left top;
	padding: 0 0 0 25px;
	margin: 0 0 15px;

	}

.entry-list p.entry-subject a {
	font-weight: bold;
	font-size: 110%;
}

.entry-list p.entry-body {
	margin-left: 85px;
}
.entry-list a {
	text-decoration:underline;
}
.entry-list a:hover {
	text-decoration:none;
}
.entry-list span.by {
	font-size: 90%;
	/*font-style: italic; */
}

/*
.entry-list span.by a {
	color: #333333;
}
*/

.entry-body {
	font-size: 95%;
}

.recent-entry img.avatar-icon {
	float: left;
	padding:2px;
	border: 1px solid #CCCCCC;
}

.recent-entry p {
	margin-left: 80px;
}

.recent-entry {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 70px;
	height: auto !important;
	height: 70px;
	border-bottom: dotted 1px #cccccc;
}

h3 a:link {
	color: #333333;
	text-decoration: none;
}

h3 a:visited {
	color: #333333;
	text-decoration: none;
}

h3 a:hover {
	color: #0066CC;
	text-decoration: underline;
}

.recent-entry p.entry-date {
	color:#7C7C7C;
	font-size:small;
	text-align: right;
	margin: 0px;
	padding: 0px;
}

a.genre:link {
	color: #666666;
	text-decoration: none;
}

a.genre:visited {
	color: #666666;
	text-decoration: none;
}

a.genre:hover {
	color: #0066CC;
	text-decoration: underline;
}

img.blog-thumbnail {
	float: left;
	padding:2px;
	border: 1px solid #CCCCCC;
	margin: 10px;
	width: 70px;
	height: 70px;
}

div.squares-thumbnail {
	float: left;
	margin: 3px;
}

div.squares-thumbnail img {
	width: 74px;
	height: 74px;
	overflow: hidden;
	border: 1px solid #CCCCCC;
	padding: 2px;
}

#maintenance ul{
background:url("/images/attention_2.gif") no-repeat scroll left top transparent;
padding-left: 35px;
}

/*===================================================================
TOP :2014/09/10
===================================================================*/
ul.nav{
	background: #f3f3f3;
	font-family: "メイリオ","ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN","Meiryo, sans-serif";
	padding:5px 0px;

}
ul.nav li{
	padding: 0px 40px;
	float: left;
	font-size: 0.88em;
	border-left: solid 1px ;
}

ul.nav li a{
	color: #333333;
}



ul.nav li.first{
	border: none;
}

.nav,#contents{
	width: 950px;
	margin: 0 auto;
	text-align: left;
}

#contents ul , #contents ol{
	list-style-position: outside;
}

#contents .linkBox {
	background: #fff;
	overflow: hidden;
	margin-bottom: 5px;
	padding: 10px;
}

#contents .linkBox.typeA {
	text-indent: -9999em;
}

#contents .linkBox.typeA a{
	display: block;
}

#contents .linkBoxtypeB {
	overflow: hidden;
	padding: 10px;
}

#contents .linkBox.typeA a:hover{
	opacity: 0.7;
	-ms-filter: "alpha( opacity=70 )";
	filter: alpha( opacity=70 );
	color: #0066cc;
}


.modBox {
	background-color: #fff;
	text-decoration: none;
	display: block;
}
.modBox a{
	text-decoration: none;
	color: #333;
}

.modBox a:hover{
	background-color: #fbebab;
	display: block;
}




/* .contentsBox
------------------------------------------------------------*/

.contentsBox{
	background: #f6dc76;
	padding:5px 5px 0px 5px;
	font-family: "メイリオ","ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN","Meiryo, sans-serif";
	margin-bottom: 15px;
}

/* .contentsBox .mainContents
-----------------------------*/

.contentsBox .mainContents{
	width:621px;
	float: left;
}

/*mainImgBox*/
.contentsBox .mainContents .mainImgBox{
	min-height: 357px;
	max-height: 357px;
}

/*mainImgBox*/
.contentsBox .mainContents .mainImgBox a:hover{
	opacity: 0.7;
	-ms-filter: "alpha( opacity=70 )";
	filter: alpha( opacity=70 );
}

/*mainNavBox*/
.mainNavBox ul.mainNavList{
	background: url("../../images/ver5/mainNavList.gif") no-repeat ;
	height: 89px;
}

.mainNavBox .mainNavList .mainNavlink {
	float: left;
}
.mainNavBox .mainNavList .mainNavlink a{
	display: block;
	text-indent: -9999em;
	overflow: hidden;
	height: 89px;
}

.mainNavBox .mainNavList #link1 a{
	width:147px;
}
.mainNavBox .mainNavList #link2 a{
	width:148px;
}
.mainNavBox .mainNavList #link3 a{
	width:160px;
}
.mainNavBox .mainNavList #link4 a{
	width:146px;
}

.mainNavBox .mainNavList #link1 a:hover{
	background: url("../../images/ver5/mainNavList.gif") no-repeat;
	background-position: 0px -89px;
}
.mainNavBox .mainNavList #link2 a:hover{
	background: url("../../images/ver5/mainNavList.gif") no-repeat;
	background-position: -147px -89px;
}
.mainNavBox .mainNavList #link3 a:hover{
	background: url("../../images/ver5/mainNavList.gif") no-repeat;
	background-position: -295px -89px;
}
.mainNavBox .mainNavList #link4 a:hover{
	background: url("../../images/ver5/mainNavList.gif") no-repeat;
	background-position: -455px -89px;
}

/*mainNews*/
.mainNews .mainNewsH {
	border-bottom: dotted 1px #a9a9a9;
	padding: 5px 0 5px 0px;
	margin-bottom: 15px;
}

.mainNews .mainNewsH h2{
	font-size: 1.18em;
	font-weight: bold;
	padding-left:5px;
}
.mainNews .mainNewsH .icoText{
	margin-top: -6px;
	padding-right: 10px;
	text-align: right;
}


.mainNews .mainNewsH .icoText a{
	color: #333;
}


.mainNews dl{
	padding: 0px 12px 8px 12px;
}

.mainNews dl dt{
	font-size: 0.9em !important;
	width: 90px;
	padding-right: 5px;
	float: left;
}

.mainNews dl dd{
	font-size: 1em !important;
	float: left;
	width: 480px;
	margin-top: -2px;
}

.mainNews dl dd a{
	color: #333333;
}

/*serviceBox*/
.serviceBox{
	margin-bottom: 5px;
}

.service{
	width: 288px;
	min-height: 245px;
}

.service .serviceText{
	font-size: 1.12em;
	background:#e06262;
	padding: 4px 8px 3px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 10px;
}

.service h2.serviceH2{
	padding: 8px  0px 8px  70px;
	font-weight: bold;
	font-size: 1.5em;
	line-height: 1.15em;
	display:table;
	vertical-align: middle;
	color: #333;
}

.service h2.serviceH2.one{
	background: url("../../images/ver5/serviceIco1.gif") no-repeat;
}
.service h2.serviceH2.two{
	background: url("../../images/ver5/serviceIco2.gif") no-repeat;
}

/**/
.templates{
	margin-bottom: 5px;
}
.templates h2{
	font-size: 1.12em;
	background:#a38732;
	padding: 4px 12px 3px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 10px;
}

/* .contentsBox .sideContents
-----------------------------*/
.contentsBox .sideContents{
	width:313px;
	float: right;
}


.contentsBox .sideContents .side-section1 .regBtn a{
	min-height:193px;
	background: url("../../images/ver5/sideRegBtn.gif") no-repeat;
}


.contentsBox .sideContents .side-section1 .loginBtn a{
	min-height:139px;
	background: url("../../images/ver5/sideLoginBtn.gif") no-repeat;
}

/* .side-section2 */


.contentsBox .sideContents .side-section2 .cocoHiroba {
	min-height:789px;
	background: url("../../images/ver5/cocoHiroba_bg.gif") repeat ;
	display: block;
}
.contentsBox .sideContents .side-section2 .cocoHiroba h3{
	background: url("../../images/ver5/sideCocoHiroba.gif") no-repeat;
	height: 34px;
	text-indent: -9999em;
	overflow: hidden;
	margin-bottom: 10px;
}

.contentsBox .sideContents .side-section2 .cocoHiroba .loginBtn a{
	background: url("../../images//ver5/sideCocoHirobaLoginBtn.gif") no-repeat;
	height: 52px;
	margin: 0 0 10px 10px;
	display: block;
	text-indent: -9999em;
	overflow: hidden;
}

.contentsBox .sideContents .side-section2 .cocoHiroba .HirobaTextBox{
	background: url("../../images/ver5/sideImg.png") no-repeat;
	height: 475px;
	text-indent: -9999em;
	overflow: hidden;
	margin-bottom: 15px;
}

.contentsBox .sideContents .side-section2 .cocoHiroba .regBtn a{
	background: url("../../images//ver5/sideCocoHirobaRegBtn.gif") no-repeat;
	height: 85px;
	margin: 0 0 0px 6px;
	display: block;
	text-indent: -9999em;
	overflow: hidden;
}

.contentsBox .sideContents .side-section2 .cocoHiroba a:hover{
	opacity: 0.7;
	-ms-filter: "alpha( opacity=70 )";
	filter: alpha( opacity=70 );
	color: #0066cc;
}

/*-----------------------------------------------------------
icon
-----------------------------------------------------------*/
.icoText {
	font-size:0.9em;
	text-decoration: underline;
	padding: 10px 0px 2px 0px;
}

.icoText.marg0{
	margin:0;
}

.ico{
	background-position:0px 0px;
	padding: 0px 0 5px 20px;
	width:18px;
	height:20px;
	margin-left: 5px;
}

.grays_R{
	background: url("../../images/ver5/arrow_more_R.gif") no-repeat ;
}

.mon{
margin: 0 auto;
text-align: left;
width: 920px;
}

.heightLine{
	min-height: 850px;
}


/*-----------------------------------------------------------
汎用クラス
-----------------------------------------------------------*/
.fL{float: left;}
.fR{float: right;}

.AC{text-align: center; }
.AL{text-align: left;}
.AR{text-align: right;}

.mB05{margin-bottom: 5px;}
.mB10{margin-bottom: 10px;}
.mB15{margin-bottom: 15px;}
.mB20{margin-bottom: 20px;}
.mB25{margin-bottom: 25px;}
.mB30{margin-bottom: 30px;}

