@charset "utf-8";
	
/*
@prefix : <http://purl.org/net/ns/doas#> .
<> a :CSSstylesheet;
 :title "Base Style";
 :created "2006-04-09";
 :release [:revision "1.12"; :created "2008-03-07"];
 :author [:name "wu"; :homepage <http://3ping.org/>; :mbox "3ping.org@gmail.com"];
 :license <http://creativecommons.org/licenses/publicdomain/deed.ja>;
 :description "各要素単独のスタイル";
 :note "
 	Outline - 
		1-1.Yahoo UI Library Fonts CSS. 
		1-2.Universal selector. 
		1-3.Structure Module. 
		1-4.Text Module. 
		1-5.Hypertext Module. 
		1-6.List Module. 
		1-7.Edit Module. 
		1-8.Forms Module. 
		1-9.Tables Module. 
		1-10.Image Module. 
		1-11.Object Module
		";
 :contributor [
 	:name "Yahoo";
	:title "YUI Fonts CSS";
	:description "ブラウザ間のフォントサイズを揃えるライブラリ";
	:revisiton "2.5.0";
	:homepage <http://developer.yahoo.com/yui/fonts/>;
	:license <http://developer.yahoo.com/yui/license.txt>;
	:note "
		Font-size Adjustment.
			77% = 10px	|	123.1% = 16px	|	167% = 22px
			85% = 11px	|	131% =  17px	|	174% = 23px 
			93% = 12px	|	138.5% = 18px	|	182% = 24px 
			100% = 13px	|	146.5% = 19px	|	189% = 25px 
			108% = 14px	|	153.9% = 20px	|	197% = 26px 
			116% = 15px	|	161.6% = 21px	| 
			"
	] .
*/

/*編集不要*/
body {font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}table {font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}

/*======================================

	1-2.Universal selector

=======================================*/

* {

}

/*======================================

	1-3.Structure Module

=======================================*/

html {
	overflow-y: scroll;
}

body {
	line-height: 1.5;
	color: #333;
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

/*======================================

	1-4.Text Module

=======================================*/

p,
pre,
address,
cite {
	margin: 0.5em 20px;
	font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0.5em 20px;
}

h1 {
	font-size: 189%;
}

h2 {
	font-size: 159%;
}

h3 {
	font-size: 144%;
}

h4 {
	font-size: 122%;
}

h5 {
	font-size: 107%;
}

h6 {
	font-size: 107%;
}

pre {
	padding: 0.5em 10px;
	border: 1px dotted #aaa;
	width: 90%;
	overflow: scroll;
	color: #333;
	background-color: #f5f5f5;
	font-family: "Osaka－等幅", monospace;
}

pre[title]::before {
	margin-bottom: 0.8em;
	padding: 0 10px;
	display: block; 
	content: attr(title);
	color: #000;
	background-color: #fff;
}

blockquote {
	margin: 1.5em 20px;
	padding: 1px 0; 
	border: 3px solid #eee;
	background-color: #fff;
}

blockquote * {
	color: #666;
}

blockquote[title]:before {
	margin: 2px 2px 1em 2px;
	padding: 0.1em 16px;
	display: block;
	content: attr(title); 
	background-color: #f5f5f5; 
}

blockquote[cite]:after {
	padding: 0.8em 20px;
	display: block; 
	content: attr(cite);
	color: #333;
	text-align: right;
}

cite {
	display: block;
	color: #333;
	text-align: right;
}

em {
	font-weight: bold;
}

strong {
	/*color: #ff4500;*/
}

code {
	font-family: "Osaka－等幅", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #aaa;
	cursor: help;
}

kbd {
	border: 1px solid #ccc;
	padding: 0 0.3em; 
	background-color: #f5f5f5;
	font-family: "Osaka－等幅", monospace;
}

/*======================================

	1-5.Hypertext Module

=======================================*/

a:link {
	color: #005585;
}

a:visited {
	color: #818f98;
}

a:hover {
	color: #0066CC;
	text-decoration:none;
}

/*======================================

	1-6.List Module

=======================================*/

ul,
ol,
dl {
	margin: 1em 20px;
	padding: 1px 0;
	list-style-position: inside;
}

li,
dt,
dd {
	margin: 0.1em 10px;
}

dt {
	margin-top: 0.6em;
}

dd {
	margin-bottom: 0.6em;
	color: #666;
}

li li,
li p,
li pre,
li dt,
li dd,
dd li,
dd p,
dd pre,
dd dt,
dd dd {
	font-size: 100%;
}

li ul,
li ol,
li dl,
li p,
dd ul,
dd ol,
dd dl,
dd p {
	margin: 0.1em 10px;
}

/*======================================

	1-7.Edit Module

=======================================*/

del {
	color: #999;
	text-decoration: line-through;
}

del[datetime]::before {
	content: " ( "attr(datetime)"\00524a\009664) ";
}

ins {
	border-bottom: 1px dotted #ccc;
	text-decoration: none;
}

ins[datetime]::before {
	content: " ( "attr(datetime)"\004fee\006b63) ";
}

/*======================================

	1-8.Forms Module

=======================================*/
/*
form {
	margin: 0.5em 20px;
	padding: 1px 0; 
}

form dl,
form p {
	margin: 0.5em 10px;
}

fieldset {
	border: 1px solid #ddd;
}

legend {
	margin: 0 1em;
	padding: 0 10px;
}

input,
textarea {
	margin: 0.4em 10px;
	padding: 0.1em 10px;
	border: 1px solid #ddd;
	font-family: Arial, Helvetica, "ヒラギノ角ゴ Pro W3",  sans-serif;
	background-color: #f5f5f5;
}

input {
	line-height: 1.2;
}

input:hover,
textarea:hover {
	border: 1px solid #aaa;
}

input:focus,
textarea:focus {
	border: 1px solid #000;
}

textarea {
	padding: 0.4em 10px;
}
*/
/*======================================

	1-9.Tables Module

=======================================*/

table {
	margin: 0 20px 0.5em 20px;
	border-collapse: separate;
	border-spacing: 1px;
	/*border: 1px solid #cfd3d6;*/
	/*background-color: #fff;*/
}

th,
td {
	padding: 0.1em 5px;
	/*border: 1px solid #efefef;*/
	border-color: #efefef #dce0e3 #dce0e3 #efefef;
}

th {
	color: #000;
	background-color: #eff0f1;
}

td {
	/*border: 1px solid #ddd;*/
	/*background-color: #fff;*/
}

/*======================================

	1-10.Image Module

=======================================*/

img {

}

a img {

}

a:hover img {

}

/*======================================

	1-11.Object Module

=======================================*/

object,
embed {
	margin: 1em 20px;
}
