
/*===================================================================
sub common header setting
===================================================================*/

div#header{
padding:0 20px 0 15px;
border-bottom:#dadada 1px solid;
}
div#header p.logo{
float:left;
padding:16px 0 18px;
width:181px;
}
div#header div#headNav{
float:left;
width:717px;
padding:9px 0 0;
}
div#header div#headNav h1{
font-weight:normal;
color:#333;
font-size: small;
}
#headNav h1{
padding: 0;
}
div#header div#headNav li{
display:inline;
border-left:#333 1px solid;
padding:0 0 0 10px;
margin:0 0 0 7px;
font-size: small;
zoom:1;
*line-height:1;
*margin-top:3px;
}
div#header div#headNav li.home{
padding:0;
margin:0;
border:0;
}

div#header div#headNav ul.line_02 {
padding-bottom:10px;
}
/*===================================================================
	 pankuzu setting
===================================================================*/
div#contentsTop{
	padding:15px 25px 15px;
}
div#contentsTop p.footpath {
	float:left;
	width:650px;
}
div#contentsTop p.footpath a{
	margin:0 4px 0 0;
}
div#contentsTop p.footpath span{
}
div#contentsTop ul{
	float:right;
}
div#contentsTop ul li{
	display:inline;
}

div#contentsTop ul li.about a{
/*
	padding:2px 0 4px 22px;
	background:url(http://www.cocolog-nifty.com/common_header/ver2/images/arrow_r.gif) no-repeat 0 0;
	*/
	padding:2px 0 4px 0;
}
div#contentsTop ul li.rss a{
/*
	padding:2px 0 4px 22px;
	background:url(http://www.cocolog-nifty.com/common_header/ver2/images/ico_rss.gif) no-repeat 0 0;
	*/
	padding:2px 0 4px 0;
}
div#contentsTop ul li.rss{
	margin:0 0 0 15px;
}
