@charset "UTF-8";

body {
	font-family: Meiryo, "Meiryo UI", 微軟正黑體, Arial, Helvetica, sans-serif,
		新細明體 !important;
}

#article-body {
	font-size: 18px;
	line-height: 2em;
}

#article-body img {
	max-width: 100%;
	min-width: 60%;
	border-radius: 0px;
	display: block;
	margin: auto;
}

.snippet {
	margin: 20px 0;
}

#article-body h4 {
	padding: 5px 10px;
	border-left: 8px solid #33CCCC;
}

big, tt, time, var, sub, sup {
	display: none;
}

.btn {
	margin-right: 5px;
}

u {
	font-weight: bold;
}

em {
	color: #800000;
	display: block;
	padding-left: 5px;
	border-left: 3px solid #800000;
}

small {
	display: block;
	text-align: center;
	color: gray;
	line-height: 1.5em;
}

small::before {
	
}

p {
	margin-bottom: 20px !important;
}

@media ( max-width : 765px) {
	header {
		margin-bottom: 0px !important;
	}
	.thumb2 {
		width: 180px !important;
		height: 96px !important;
	}
	p {
		margin-bottom: 15px !important;
	}
	#article-body {
		font-size: 18px !important;
		line-height: 1.8em;
	}
	.menu span {
		display: none;
	}
	.adsTipDiv {
		background: #fff !important;
	}
	.adsTip {
		display: none;
	}
}

/** tinymce end **/
body {
	margin: 0;
	padding: 0;
	color: #000;
	background: #E9EAED !important;
	text-shadow: 0px 0px 1px transparent;
}

h1, h2, h3, h4, h5 {
	/**font-weight: bold !important;**/
	
}

th {
	background: #eee;
}

.greatdaily {
	display: block;
	text-align: center;
	font-size: 10px;
	line-height: 16px;
	color: #fff;
}

blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	font-size: 16px !important;
	color: gray !important;
	font-style: italic;
	line-height: 1.8em;
}

blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

.alert {
	margin: 10px 0 !important;
}

.module {
	background: #fff;
	border: 1px solid #d8d8d8;
	border-radius: 3px;
	margin-bottom: 10px;
	padding: 15px;
}

.module.mod-line-top {
	border-top: 6px solid #dd4814;
}

.module.header {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: -10px;
	padding-top: 10px;
	border-left: 10px solid #45619D;
	padding-left: 10px;
}

h3.media-heading {
	font-size: 20px;
}

.title a:visited {
	color: #900;
}

.media-heading {
	margin-bottom: 15px;
}

.thumb2 {
	width: 250px;
	height: 131px;
	border: 1px solid #ddd;
}

/* bootstrap fix */
.breadcrumb, .pagination {
	margin-bottom: 10px !important;
}

.pagination>li>a {
	padding: 12px 20px !important;
}

.selected a {
	color: #aea79f !important;
	cursor: default;
	background-color: #f5f5f5 !important;
}

.first, .last {
	display: none !important;
}

.nav>li {
	display: inline-block !important;
}

.latest2-link a:visited {
	color: red;
}

.container {
	padding-right: 0px !important;
	padding-left: 0px !important;
}

header .container, nav {
	padding-right: 15px !important;
}

.menu {
	margin-right: 0px !important
}

.menu a {
	padding: 10px 13px !important;
}

.menu>li {
	display: inline-block !important;
}

.second-menu {
	margin: 0 !important;
}

.money {
	color: green;
}

.fb-comments, .fb-comments span, .fb-comments iframe {
	width: 100% !important;
}

input.error {
	border: 1px solid #a00;
}

.bold {
	font-weight: bold;
}

td, th {
	vertical-align: middle !important;
}

.margin-bottom-5 {
	margin-bottom: 5px !important;
}

.margin-bottom-10 {
	margin-bottom: 10px !important;
}

.margin-top-5 {
	margin-top: 5px !important;
}

.margin-top-10 {
	margin-top: 10px !important;
}

.adsDiv {
	margin: 20px 0;
	text-align: center;
}

.adsTipDiv {
	text-align: center !important;
	background-color: #f8f8f8;
}

.adsTip {
	text-align: center;
	color: #888;
	font-size: 16px;
	line-height: 25px;
}

.adsTip::after {
	content: "Sponsored Links";
}

.alert-fatal {
	background: #a00 !important;
	color: #fff !important;
}

.alert-fatal a {
	color: #fff !important;
}

.avatar {
	border-radius: 100%;
	width: 48px;
	margin-right: 5px;
}

.summary>div {
	margin: 20px 0;
	text-align: center;
}

.summary .money {
	font-size: 120%;
}

#ishare-wrapper-fixed.desktop {
	
}

.adnwMRectRoot {
	margin: 0 auto;
}

.nextPage {
	position: absolute;
	bottom: 0;
	height: 200px;
	width: 100%;
	padding: 100px 0;
	text-align: center;
	background-image: linear-gradient(rgba(256, 256, 256, 0),
		rgba(256, 256, 256, 1), rgba(256, 256, 256, 1));
	text-align: center;
}