@font-face {
  font-family: 'Ek Mukta';
  font-style: normal;
  font-weight: 400;
  src: local('Ek Mukta'), local('EkMukta-Regular'), url(http://fonts.gstatic.com/s/ekmukta/v7/LkANqRTGviFkcUlniFHuMPesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
