﻿/*-------------------------------------------

    Title :  NTDTV 2015
    Usage :  Homepage
    Author:  NTDTV
    Edited:  2015-04-27

---------------------------------------------

    1. headlines
    2. today
    3. column heading
    4. columns
    5. live
    6. program list
    7. global
    8. world
    9. social
   10. today headline
   11. shen yun special

---------------------------------------------*/



/*  1. headlines
---------------------------------------------*/

#v2015_headlines {
	position: relative;
	border-top: 24px solid #fff;
	z-index: 10;
	}

#v2015_headlines ol {
	padding-bottom: 14px;
	}

#v2015_headlines ol li {
	width: 100%;
	}

#v2015_headlines ol li h1 {
	overflow: hidden;
	font-weight: 700;
	text-align: center;
	white-space: nowrap;
	margin-right: 10px;
	margin-left: 10px;
	}

#v2015_headlines ol li h1 a {
	color: #010101;
	font-size: 4.0em;
	font-wight: 700;
	text-decoration: none;
	}

#v2015_headlines ol li h1 a:hover {
	border-bottom: 2px solid;
}	

#v2015_headlines ol li .tags {
	float: left;
	*clear: expression($(this).prepend('<before></before>'), style.clear = "none", 0);
	display: inline;
	margin: 20px 0 10px 19px;
	cursor: default;
	color: #000;
	font-size: 1.6em;
	}

#v2015_headlines ol li .tags:before,
#v2015_headlines ol li .tags before {
	content: "";
	position: relative;
	top: -2px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 2px;
	*margin-right: 6px;
	width: 21px;
	height: 21px;
	overflow: hidden;
	background: url(../images/sprite.png) no-repeat 0 -128px;
	z-index: 10;
	}

#v2015_headlines ol li .tags a {
	color: #000;
	}

#v2015_headlines ol li .prog {
	position: relative;
	float: left;
	*clear: expression($(this).prepend('<before></before>'), style.clear = "none", 0);
	display: inline;
	margin: 20px 0 10px 19px;
	padding-left: 21px;
	*padding-left: 25px;
	cursor: default;
	color: #000;
	font-size: 1.6em;
	}

#v2015_headlines ol li .prog:before,
#v2015_headlines ol li .prog before {
	content: "";
	position: absolute;
	top: 3px;
	left: 0;
	width: 15px;
	height: 15px;
	overflow: hidden;
	background: url(../images/sprite.png) no-repeat -52px -101px;
	z-index: 10;
	}

#v2015_headlines ol li .prog a {
	color: #000;
	}

#v2015_headlines ol li .social {
	float: right;
	display: inline;
	margin: 20px 167px 10px 0;
	}

#v2015_headlines ol li .social a {
	float: left;
	display: inline;
	margin-left: 12px;
	width: 21px;
	height: 21px;
	overflow: hidden;
	background: url(../images/sprite.png) no-repeat;
	}

#v2015_headlines ol li .social a.facebook { background-position:   0px -159px }
#v2015_headlines ol li .social a.twitter  { background-position: -31px -159px }
#v2015_headlines ol li .social a.comment  { background-position: -62px -159px }

#v2015_headlines ol li .fig {
	clear: both;
	display: block;
	margin: 0 auto;
	max-width: 665px;
	_width: 665px;
	height: 375px;
	overflow: hidden;
	text-align: center;
	}

#v2015_headlines ol li .fig img {
	width: auto;
	height: 375px;
	}

#v2015_headlines .nav a {
	position: absolute;
	top: 270px;
	z-index: 100;
	width: 16px;
	height: 48px;
	overflow: hidden;
	cursor: pointer;
	text-indent: -5000px;
	background: url(../images/sprite.png) no-repeat -214px 0;
	}

#v2015_headlines .nav a.prev {
	left: 45px;
	}

#v2015_headlines .nav a.prev:active {
	top: 271px;
	left: 44px;
	}

#v2015_headlines .nav a.next {
	right: 45px;
	}

#v2015_headlines .nav a.next:active {
	top: 271px;
	right: 44px;
	}

#v2015_headlines .nav a.next {
	filter: FlipH;
	-ms-filter: "FlipH";
	-webkit-transform: scaleX(-1);
	    -ms-transform: scaleX(-1);
	        transform: scaleX(-1);
	}

#v2015_headlines .pager {
	position: relative;
	margin: 0 14px 0 0;
	padding: 0px 0;
	height: 72px;
	text-align: center;
	/* border-top: 3px solid #cacbcc; */
	display: inline-block;
	width: 960px;
	}

#v2015_headlines .pager .jcarousel {
	position: relative;
	margin: 0 auto;
	width: 914px;
	height: 100%;
	overflow: hidden;
	}

#v2015_headlines .pager .jcarousel .wrapper {
	position: relative;
	width: 5000px;
	height: 72px;
	}

#v2015_headlines .pager .jcarousel .wrapper a.thumb {
	float: left;
	display: inline;
	}

#v2015_headlines .pager a.thumb {
	display: inline-block;
	margin: 0 3px 14px 0;
	width: 128px;
	height: 72px;
	}

#v2015_headlines .pager a.thumb img {
	width: 100%;
	height: 100%;
	}

#v2015_headlines .pager a.cycle-pager-active {
	opacity: 0.5;
	-ms-filter: "alpha(opacity=50)";
	    filter:  alpha(opacity=50) ;
	}

#v2015_headlines .pager .ctrl a {
	position: absolute;
	top: 0px;
	width: 0;
	height: 0;
	cursor: pointer;
	line-height: 0;
	border-style: solid;
	border-width: 36px 15px 36px 0;
	border-color: #fff #ccc #fff #fff;
	}

#v2015_headlines .pager .ctrl a:active {
	top: 0px;
	}

#v2015_headlines .pager .ctrl a.prev {
	left: 0;
	-webkit-transform: rotate(0.1deg);
	}

#v2015_headlines .pager .ctrl a.prev:active {
	left: -1px;
	}

#v2015_headlines .pager .ctrl a.next {
	right: 0;
	filter: FlipH;
	-ms-filter: "FlipH";
	-webkit-transform: scaleX(-1);
	    -ms-transform: scaleX(-1);
	        transform: scaleX(-1);
	}

#v2015_headlines .pager .ctrl a.next:active {
	right: -1px;
	}
	

#v2015_headlines .more {
	display: inline-block;
	margin: 0px auto;
	padding-top: 13px;
	width: 26px;
	height: 62px;
	color: #000;
	font-weight: 700;
	font-size: 1.6em;
	line-height: 1.4em;
	text-align: center;
	text-decoration: none;
	background: #eee;
	vertical-align: top;
}

#v2015_headlines {
    height: 563px;
    }

#v2015_headlines ol li {
    position: absolute;
    left: -5000px;
    }

#v2015_headlines ol li:first-child {
    position: static;
    }


/*  2. today
---------------------------------------------*/

#v2015_today {
	margin: 10px auto 15px;
	padding: 5px 18px;
	width: 964px;
	/* border: solid #d9d9d9; */
	border-width: 3px 0;
	z-index: 10;
	position: relative;
	/* background: #c8f0ff; */
	background: #eee;
	border-radius: 5px;
	}

#v2015_today .title{
	display: inline-block;
	width: 120px;
	vertical-align: top;
}

#v2015_today .content{
	display: inline-block;
	width: 816px;
}

#v2015_today strong {
	*clear: expression($(this).prepend('<before></before>'), style.clear = "none", 0);
	margin-right: 17px;
	font-size: 2em;
	line-height: 1.5em;
	}

#v2015_today strong:before,
#v2015_today strong before {
	content: "";
	display: inline-block;
	margin-right: 8px;
	width: 14px;
	height: 14px;
	background: url(../images/sprite.png) no-repeat -28px -101px;
	z-index: 10;
	}

#v2015_today span {
	cursor: default;
	font-size: 2em;
	line-height: 1.5em;
	}

#v2015_today span a {
	color: #000;
	font-weight: 700;
	}

#v2015_today span a:hover {
	text-decoration: none;
	border-bottom: 1px solid;
	}



/*  3. column heading
---------------------------------------------*/

#v2015_colheadings {
	margin: 26px auto 0px;
	width: 1000px;
	padding-bottom: 15px;
	z-index: 10;
	position: relative;
	background: #fff url(../images/bg_home_bottom.gif) repeat-y;
	}

#v2015_colheadings h2 {
	*clear: expression($(this).prepend('<before>/</before>'), style.clear = "none", 0);
	float: left;
	width: 333px;
	font-weight: 400;
	font-size: 2.716em;
	}

#v2015_colheadings h2:before,
#v2015_colheadings h2 before {
	content: "/";
	position: relative;
	top: -3px;
	display: inline-block;
	margin: 0 4px 0 17px;
	cursor: default;
	color: #b8b8b8;
	-webkit-transform: rotate(-8deg);
	        transform: rotate(-8deg);
	z-index: 10;
	}

#v2015_colheadings h2 small {
	font-size: 12.61px;
	}

#v2015_colheadings h2 a{
	text-decoration: none;
}

#v2015_colheadings h2 a:hover{
	border-bottom: 1px solid;
}

#v2015_colheadings:after {
	content: "";
	display: block;
	clear: both;
	}



/*  4. columns
---------------------------------------------*/

#v2015_bottom .left-col {
	position: relative;
	float: left;
	padding: 15px 16px;
	width: 300px;
	z-index: 10;
	}

#v2015_bottom .center-col {
	float: left;
	display: inline;
	margin-left: 2px;
	padding: 15px 16px;
	width: 300px;
	z-index: 10;
	position: relative;
	}

#v2015_bottom .right-col {
	float: left;
	display: inline;
	margin-left: 2px;
	padding: 15px 16px;
	width: 300px;
	z-index: 10;
	position: relative;
	}



/*  5. live
---------------------------------------------*/

#v2015_live {
	z-index: 10;
	}

#v2015_live h3 {
	*clear: expression($(this).prepend('<before></before>'), style.clear = "none", 0);
	margin-bottom: 15px;
	font-size: 2.1em;
	}

#v2015_live h3:before,
#v2015_live h3 before {
	content: "";
	position: relative;
	top: -1px;
	display: inline-block;
	margin-right: 8px;
	width: 14px;
	height: 14px;
	overflow: hidden;
	background: url(../images/sprite.png) no-repeat -28px -101px;
	z-index: 10;
	}

#v2015_live div.video {
	display: none;
	height: 180px;
	}

#v2015_live div.curr {
	display: block;
	}

#v2015_live .tab {
	margin-top: 6px;
	font-size: 0;
	text-align: center;
	}

#v2015_live .tab li {
	display: inline;
	margin: 0 11px;
	cursor: pointer;
	color: #013dad;
	font-size: 15px;
	}

#v2015_live .tab li.curr {
	border-bottom: 1px solid;
	}



/*  6. program list
---------------------------------------------*/

#v2015_proglist {
	margin-top: 20px;
	padding-top: 15px;
	border-top: 3px solid #ebecec;
	z-index: 10;
	}

#v2015_proglist h3 {
	*clear: expression($(this).prepend('<before></before>'), style.clear = "none", 0);
	margin-bottom: 11px;
	font-size: 2.1em;
	}

#v2015_proglist h3:before,
#v2015_proglist h3 before {
	content: "";
	position: relative;
	top: -3px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
	width: 15px;
	height: 15px;
	overflow: hidden;
	background: url(../images/sprite.png) no-repeat -52px -101px;
	z-index: 10;
	}

#v2015_proglist ul {
	counter-reset: number;
	font-size: 0;
	}

#v2015_proglist ul li {
	*clear: expression($(this).prepend('<before' + ($(this).is(':nth-child(even)') ? ' style="margin-left: 33px;">' : '>') + ($(this).index() < 9 ? '0' : '') + ($(this).index() + 1) +  '.</before>'), style.clear = "none", 0);
	display: inline-block;
	vertical-align: top;
	width: 150px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.45;
	}

#v2015_proglist ul li {
	*display: inline;
	}

#v2015_proglist ul li:nth-child(even):before {
	margin-left: -5px;
	}

#v2015_proglist ul li.even:before {
	margin-left: -5px;
	}

#v2015_proglist ul li:before {
	content: "0" counter(number) ".";
	counter-increment: number;
	}

#v2015_proglist ul li + li + li + li + li + li + li + li + li + li:before {
	content: counter(number) ".";
	}

#v2015_proglist ul li:before,
#v2015_proglist ul li before {
	margin-right: 3px;
	color: #013dad;
	font-family: Arial, sans-serif;
	}

#v2015_proglist ul li a {
	color: #000;
	}



/*  7. global
---------------------------------------------*/

#v2015_global {
	/* padding-top: 25px; */
	z-index: 10;
	}

.news-item {
	position: relative;
	_clear: expression($(this).filter(':first-child').css('margin-top', 0), style.clear = "none", 0);
	margin-top: 15px;
	padding-bottom: 15px;
	border-bottom: 3px solid #ebecec;
	zoom: 1;
	z-index: 10;
	}

.news-item.last{
	border-bottom: 0px;
}

.news-item:first-child {
	margin-top: 0;
	}

.news-item .fig-wrapper {
	position: relative;
	height: 200px;
	margin-bottom: 16px;
}
.news-item .fig {
	position: relative;
	display: block;
	margin-bottom: 16px;
	width: auto; 
	height: 200px;
	max-width: 300px;
	_width: 300px;
	overflow: hidden;
	text-align: center;
	background-color: #efefef;
	}

.vid .fig {
	*clear: expression($(this).prepend('<after></after>'), style.clear = "none", 0);
	z-index: 10;
	}

.news-item .fig img {
	height: 100%;
	max-width: auto;
	_width: 300px;
	width: auto;
	}

.vid .fig:after,
.vid .fig after {
	content: "";
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 46px;
	height: 33px;
	background: url(../images/sprite.png) no-repeat -555px 0;
	-pie-png-fix: true;
	behavior: url(js/PIE.htc);
	}

.ie8 .vid .fig:after {
	display: none;
	}
.pic .fig {
	z-index: 10;
}


.pic .fig ul {
	position: absolute;
	bottom: 10px;
	right: 10px;
	}

.pic .fig ul li {
	position: relative;
	float: left;
	display: inline;
/* 	margin-left: 10px;
	width: 54px;
	height: 36px;
 */
 	margin-left: 5px;
	width: 25px;
	height: 20px;
 
 	box-shadow: 0 0 1px rgba(0, 0, 0, 0.89);
	behavior: url(js/PIE.htc);
	}

.pic .fig ul li img {
	width: 100%;
	height: 100%;
	}

.news-item .social {
    position: absolute;
    top: 8px;
    right: 8px;
    visibility: hidden;
    padding: 3px 5px;
    font-size: 0;
    white-space: nowrap;
    background: #fff;
    border-radius: 3px;
}

.news-item:hover .social,
.news-item.hover .social {
    visibility: visible;
}

.news-item .social a {
    display: inline-block;
    margin-left: 6px;
    width: 19px;
    height: 19px;
    background: #e0e0e0 url(../images/sprite.png) no-repeat;
    outline: 1px solid #fff;
}

.news-item .social a.facebook {
    margin-left: 0;
    background-position: 0 -244px;
}

.news-item .social a.twitter {
    background-position: -29px -244px;
}

.news-item .social a.comment {
    width: 20px;
    background-position: -58px -244px;
}

.news-item .social a:hover {
    background-color: #707070;
}

.news-item .txt {
	color: #000;
	font-weight: 700;
	font-size: 1.713em;
	}

.news-item .tags {
	*clear: expression($(this).prepend('<before></before>'), style.clear = "none", 0);
	margin-top: 6px;
	cursor: default;
	font-size: 1.4em;
	}

.news-item .tags:before,
.news-item .tags before {
	content: "";
	position: relative;
	top: 3px;
	display: inline-block;
	width: 15px;
	height: 14px;
	overflow: hidden;
	background: url(../images/sprite.png) no-repeat -100px -101px;
	z-index: 10;
	}

.news-item .tags before {
	*vertical-align: middle;
	}

.news-item .tags a {
	color: #000;
	}

.news-item .views {
	position: absolute;
	bottom: 7px;
	right: 0;
	color: #00afef;
	font-size: 1.452em;
	white-space: nowrap;
	}

.news-item .views strong {
	color: #000;
	}

.news-item .topic-wrapper {
	font-size: 1.6em;
	margin-bottom: 10px;
	font-weight: 700;
	}

.news-item .topic {
	color: #00afef;
	text-decoration: none;
	}


/*  8. world
---------------------------------------------*/

.news-item h3 {
	position: relative;
	display: inline-block;
	*clear: expression($(this).prepend('<after></after>'), style.clear = "none", 0);
	margin-bottom: 5px;
	padding: 0 11px 0 4px;
	height: 20px;
	color: #fff;
	font-size: 1.194em;
	line-height: 20px;
	}

.news-item h3 {
	*display: inline;
	}

.news-item h3:after,
.news-item h3 after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	_clear: expression($(this).parent().outerWidth() / 2 === 0 ? null : $(this).css('right', -1), style.clear = "none", 0);
	overflow: hidden;
	height: 0;
	border-style: solid;
	border-width: 10px 0 10px 10px;
	}

.news-item h3.world,
.news-item h3.world:after,
.news-item h3.world after {
	background: #ffc100;
	border-color: #fff #fff #fff #ffbf00;
	}

.news-item h3.life,
.news-item h3.life:after,
.news-item h3.life after {
	background: #1b91ff;
	border-color: #fff #fff #fff #1b91ff;
	}

.news-item h3.entertainment,
.news-item h3.entertainment:after,
.news-item h3.entertainment after {
	background: #fc7800;
	border-color: #fff #fff #fff #fc7800;
	}

#v2015_world .news-item .social{
     top: 33px;
}

#v2016_vote{
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 3px solid #ebecec;
}

/*  9. social
---------------------------------------------*/

#v2015_social {
	margin-top: 15px;
	padding: 20px;
	background: #e4e4e4;
	z-index: 10;
	}

#v2015_social h3 {
	margin-bottom: 15px;
	font-size: 1.712em;
	}

#v2015_social ul li {
	float: left;
	display: inline;
	margin-right: 10px;
	}

#v2015_social ul li a {
	float: left;
	width: 32px;
	height: 32px;
	background: url(../images/sprite_social_a.png) no-repeat;
	}

#v2015_social ul li.twitter   a { background-position:   -0px 0 }
#v2015_social ul li.pinterest a { background-position:  -42px 0 }
#v2015_social ul li.facebook  a { background-position:  -84px 0 }
#v2015_social ul li.plus      a { background-position: -126px 0 }
#v2015_social ul li.youtube   a { background-position: -168px 0 }
#v2015_social ul li.linkedin  a { background-position: -210px 0 }
#v2015_social ul li.rss       a { background-position: -252px 0 }
#v2015_social ul li.app       a { background-position: -294px 0 }

#v2015_social ul:after {
	content: "";
	clear: both;
	display: block;
	}

#v2015_social form {
	padding: 15px 0;
	overflow: hidden;
	zoom: 1;
	}

#v2015_social form div input {
	position: relative;
	float: left;
	padding: 4px 10px;
	width: 170px;
	height: 20px;
	color: #9f9f9f;
	font-size: 1.6em;
	background: #fff;
	border: 1px solid #cacaca;
	border-radius: 6px;
	behavior: url(js/PIE.htc);
	}

#v2015_social form div input.entered {
	color: #333;
	}

#v2015_social form div .button {
	float: right;
	width: 45px;
	height: 30px;
	color: #22b8ff;
	font-weight: 700;
	font-size: 2.023em;
	background: none;
	border: none;
	}
	
#v2015_social form div input[type="submit"] {
	float: right;
	width: 45px;
	height: 30px;
	color: #22b8ff;
	font-weight: 700;
	font-size: 2.023em;
	background: none;
	border: none;
	}


#v2015_social form div #mce-error-response{
	font-size: 1.4em;
	font-weight: 700;
	color: #cc531b;
}

#v2015_social form div #mce-error-response a{
	color: #2378cc;
	text-decoration: none;
}

#v2015_social form div #mce-error-response a:hover{
	text-decoration: underline;
}

#v2015_social form div .mce_inline_error:before{
	clear: both;
	display: block;
}


#v2015_social form div #mce-success-response{
	font-size: 1.4em;
	font-weight: 700;
	color: #20932f;
} 

#v2015_social form div .mce_inline_error{
	font-weight: 700;
	font-size: 1.4em;
	color: #cc531b;
} 


/* 10. today headline
---------------------------------------------*/

#v2015_todayheadline {
	position: relative;
	margin: 28px auto 0;
	width: 963px;
	height: 49px;
	overflow: hidden;
	background: url(../images/bg_todayheadline-gb.jpg) no-repeat;
	z-index: 10;
	}

#v2015_todayheadline.b5{
	background: url(../images/bg_todayheadline-b5.jpg) no-repeat;
	}

#v2015_todayheadline .wrapper {
	position: absolute;
	top: 12px;
	left: 345px;
	width: 678px;
	cursor: default;
	display:inline-block;
	}
	
#v2015_todayheadline .wrapper .title-wrapper{
	max-width: 500px;
	height: 26px;
	display:inline-block;
	white-space: nowrap;
	overflow:hidden;
	}

#v2015_todayheadline .wrapper .title-wrapper a {
	vertical-align: middle;
	color: #ffffff;
	font-size: 21px;
	font-weight: 600;
	font-family: Arial, Helvetica, Tahoma, Verdana, "Microsoft YaHei New", "Microsoft Yahei", 微软雅黑, "Microsoft JhengHei", 微軟正黑體, "Hiragino Sans GB",冬青黑体简体中文, sans-serif;
	}

#v2015_todayheadline .wrapper .time {
	position: relative;
	top: 2px;
	display:inline-block;
	vertical-align: middle;
	margin-left: 13px;
	cursor: text;
	color: #ffffff;
	font-size: 12px;
	font-family: Arial, Helvetica, Tahoma, Verdana, "Microsoft YaHei New", "Microsoft Yahei", 微软雅黑, "Microsoft JhengHei", 微軟正黑體, "Hiragino Sans GB",冬青黑体简体中文, sans-serif;
	}

#v2015_todayheadline .close {
	position: absolute;
	top: 12px;
	right: 13px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	}


/* 11. shen yun special
---------------------------------------------*/

#v2015_sys {
	position: relative;
	margin-bottom: 16px;
	padding: 35px 0 13px;
	border-bottom: 3px solid #ebecec;
	z-index: 10;
	}

#v2015_sys h3 {
	position: absolute;
	top: 0;
	left: -19px;
	width: 191px;
	height: 32px;
	background: url(../images/sprite.png) no-repeat -609px 0;
	-pie-png-fix: true;
	behavior: url(js/PIE.htc);
	}

#v2015_sys h3 a {
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 21px;
	line-height: 24px;
	*line-height: 28px;
	_line-height: 30px;
	text-decoration: none;
	text-indent: 39px;
	white-space: nowrap;
	}

.ie8      #v2015_sys h3 a,
.ie.newer #v2015_sys h3 a {
	line-height: 26px;
	z-index: 10;
	}
#v2015_sys ul{
	width: 300px;
	overflow:hidden;
}
	
#v2015_sys ul li a {
	color: #000;
	font-weight: 700;
	font-size: 1.6em;
	line-height: 1.5em;
	white-space: nowrap;
	}

#v2015_sys ul li a:after,
#v2015_sys ul li a after {
	content: "";
	position: relative;
	top: 2px;
	display: inline-block;
	margin-left: 7px;
	width: 13px;
	height: 17px;
	background: url(../images/sprite.png) no-repeat -77px -101px;
	z-index: 10;
	}
	
	
#v2016_hotvideo .topic-wrapper{
	margin-top: 5px;
}

#v2016_hotvideo .topic-wrapper .topic{
	color: #ffffff;
	background: #f77d24;
	padding: 5px;
}

#v2016_hotvideo .news-item{
	margin-bottom: 15px;
}


#v2015_branding .center {
	padding: 23px 0;
}
	