@charset "shift_jis";

/* CSS Document */

/********************
*
* 地域トップ用CSS
* 2013.04.03更新
*
*********************/
#container {
	border: medium none!important;
	font-size: inherit!important;
	*font-size: 12px!important;
	_font-size: 12px!important;
	padding: 0!important;
	width: 815px!important;
}
/* 爆サイロゴ */
.bakusaiLogo , .bakusaiLogo_new {
	text-align:center;
	margin-top:15px;
}

.bakusaiLogo img{
	width:470px;
	height:130px;
	border:0;
	border:1px solid #CCCCCC;
}

/* 20130603変更分
.bakusaiLogo_new img{
	width:470px;
	height:70px;
	border:0;
	border:1px solid #CCCCCC;
}
*/

.bakusaiLogo_new img{
	width:470px;
	height:43px;
	border:0;
	border:1px solid #CCCCCC;
}



/********************
*
* 海外版
*
*********************/
html.oversea #newsContainer .nfTitle,
html.oversea .pickupNews .pnTitle {
    background-color: #dae3f4 !important;
    color: #fff;
    padding: 3px 5px !important;
}


/*
html.oversea #newsContainer .nfTitle.nWright {
    border-top: 2px solid #8dabeb;
}

html.oversea #newsContainer .nfTitle.interNews {
    border-top: 2px solid #52d250;
}

html.oversea  #newsContainer .nfTitle.nflash {
    border-top: 2px solid #dcda11;
}

html.oversea .nfBody3 {
    border-top: 1px solid #d2ddf1 !important;
}
*/

html.oversea .nfBody3:first-child,
html.oversea .latestWritingList:first-child,
html.oversea .pickupNews .pnBody:first-child{
    border-top: medium none!important;
}
html.oversea .nfBody3:nth-child(2n) {
    background-color: #ffffff !important;
}

.nfBody3 a {
	clear: both;
	display: block;
	padding: 0 5px;
	vertical-align: middle;
}

.nfBody3 a:hover {
	background-color: #F8F0F0;
}

html.oversea .nfBody3 a:hover {
	background-color: #EEF0F7;
}

.nfBody3:nth-child(2n) a:hover {
	background-color: #F2D1D1;
}

html.oversea .nfBody3:nth-child(2n) a:hover {
	background-color: #EEF0F7;
}

/* 国別リンク */
#overSea #menu ul {
    padding: 0;
    width: 890px;
}

#overSea #menu li {
    display: inline-block;
    float: none;
    margin: 0;
    text-align: center;
}

#overSea #menu a {
    display: inline;
    line-height: 7px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    width: 90px;
}

#overSea #menu a em{
    border: 1px solid #EEEEEE;
    display: inline-table !important;
    height: 15px;
    margin: 0 2px 0 0;
    vertical-align: middle;
    width: 15px;
}

#overSea #menu a span {
    font-size: 13px;
    vertical-align: middle;
}
#overSea #menu a:hover span {
    border-bottom: 1px solid #6d1928;
}

#overSea #menu li.CHN a em {
    background: url("/img/iphone/oversea/flag_of_China.gif") no-repeat scroll left center transparent;
	background-size: 15px auto;
}
#overSea #menu li.KOR a em {
    background: url("/img/iphone/oversea/flag_of_South_Korea.gif") no-repeat scroll left center transparent;
	background-size: 15px auto;
}
#overSea #menu li.PHL a em {
    background: url("/img/iphone/oversea/flag_of_Philippines.gif") no-repeat scroll left center transparent;
	background-size: 15px auto;
}
#overSea #menu li.VNM a em {
    background: url("/img/iphone/oversea/flag_of_Vietnam.gif") no-repeat scroll left center transparent;
	background-size: 15px auto;
}
#overSea #menu li.THA a em {
    background: url("/img/iphone/oversea/flag_of_Thailand.gif") no-repeat scroll left center transparent;
	background-size: 15px auto;
}
#overSea #menu li.USA a em {
    background: url("/img/iphone/oversea/flag_of_USA.gif") no-repeat scroll left center transparent;
	background-size: 15px auto;
}
#overSea #menu li.JPN a em {
    background: url("/img/iphone/oversea/flag_of_Japan.gif") no-repeat scroll left center transparent;
	background-size: 15px auto;
}

/********************
*
* アクセスランキング
*
*********************/

ul#mainNav {
	height: 20px;
	margin: 0;
	padding: 0;
	text-decoration: underline;
}

ul#mainNav > li {
	cursor: pointer;
	list-style: none outside none;
	margin: -7px 1px 0 0;
	padding: 6px 10px;
	position: relative;
	text-align: center;
	width: auto;
	*display: inline;
	*zoom: 1;
}

ul#mainNav li a {
	color: #FFFFFF!important;
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

ul#mainNav li a:hover {
	text-decoration: underline;
}

ul.subNav{
	display: none;
	font-weight: bold;
	padding-top: 5px;
	*position: relative;
	*zoom: 1;
}

ul.subNav li{
	background-color: #787878;
	background-color: rgba(60, 60, 60, 0.66);
	border-radius: 0 0 5px 5px;
	line-height: 32px;
	list-style: none outside none;
	padding: 0 10px 0 5px;
	position: relative;
	float: right;
	width: 115px;
}

ul.subNav li a{
	background: url("/img/iphone/arrow.png") no-repeat scroll right center / 10px auto transparent;
	width: 115px !important;
}

ul.subNav li ul.subNav {
	position: absolute;
	top: 0;
	left: 10em;
}

.alexaIcon{
	background: url("http://img.bakusai.com/p/img/alexaIcon.gif") no-repeat scroll 0 0 transparent;
	float: left;
	height: 20px;
	margin: -2px 0 0;
	width: 65px;
}


/********************
*
* 地域版総投稿
*
*********************/
/* 地域版総投稿 */
#areaPosts{
	text-align:center;
	/*margin:7px 0 3px 0;*/
	margin:7px 0;
	font-weight:bold;
}

#areaPosts span.areaPosts1{
	color:#009900;
	font-size:18px;
}

#areaPosts span.areaPosts2{
	color:#FF0000;
	font-size:18px;
}

#areaPosts span.areaPosts3{
	color:#3366CC;
	font-size:18px;
}

/* 以下消さない */
/* 1億投稿突破記念！ 2013/02/02設置
　 使用時はコメントアウトを外す
#totalPosts{
	background: url('http://img.bakusai.com/p/img/OneHundredMill_bg.gif') no-repeat scroll 0 0 transparent;
	color: #000000;
	font-size: 17px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 30px;
	width: 500px;
	margin: 0 auto 10px;
	text-align: center;
}

#totalPosts .countDown{
	color: #FFFFFF;
	font-size: 22px;
}
*/

/* 1億投稿突破しました！ 2013/02/15設置
　 使用時はコメントアウトを外す
#totalPosts{
	background: url('http://img.bakusai.com/p/img/OneHundredMill_bg.gif') no-repeat scroll 0 0 transparent;
	color: #000000;
	font-size: 17px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 30px;
	width: 500px;
	margin: 0 auto 10px;
	text-align: center;
}

#totalPosts .ichioku{
	color: red;
	font-size: 22px;
}
*/

/* 1億投稿突破後の平時用 2013/02/26設置 */
#totalPosts{
	font-size: 12px;
	line-height: 15px;
	margin: 0 auto 10px;
	text-align: center;
}

#totalPosts .ichioku{
	color: red;
	font-size: 13px;
	font-weight: bold;
}



/********************
*
* 検索生中継
*
*********************/

/* 検索生中継リンク */
.liveSearchLink{margin:3px auto; width:420px;}
.repolist{margin-bottom:0; height:auto!important;}
.liveSearchUpdate{text-align:center; height:30px; margin:5px;}
.liveSearchUpdate form{margin:0; padding:0;}
.liveSearchUpdate input[type="submit"]{margin:0; height:30px;}
html.oversea .liveSearchUpdate input[type="submit"] {
    border: 1px solid #828282;
    border-radius: 2px;
    box-shadow: -1px -1px 1px #ffffff inset;
    -webkit-box-shadow: -1px -1px 1px #ffffff inset;
}



/* TV実況中継　固定中スレッド（ON AIR） */
.onAirIcon {
    background-color: #ff8989;
    border: 1px solid #ff8989;
    border-radius: 2px;
    bottom: 0;
    float: right;
    height: 14px;
    position: relative;
    right: 0;
    text-align: center;
    width: 50px;
}

.onAirIcon i {
    background-color: #ED5D5D;
    border-radius: 1px 0 0 1px;
    color: #ffffff;
    display: inline-table;
    height: 13px;
    line-height: 12px;
    padding: 0 5px;
    vertical-align: top;
}

.onAirIcon span {
    color: #ffffff;
    display: inline;
    font-family: Arial;
    font-size: 10px;
    line-height: 14px;
	letter-spacing: 0.5px;
    padding: 0 2px;
    text-align: center;
    vertical-align: top;
    width: 50px;
}

a:hover .onAirIcon {
    border: 1px solid #fe6f6f;
    background-color: #fe6f6f;
}

a:hover .onAirIcon i {
}

a:hover .onAirIcon span {
}

.newsFlash li.nfBody2 a > .fa.fa-microphone,
.newsFlash li.nfBody2 a > .fa.fa-arrow-right {
    color: #c5c5c5;
	width: 13px;
}
.newsFlash li.nfBody2 a:hover > .fa.fa-microphone,
.newsFlash li.nfBody2 a:hover > .fa.fa-arrow-right  {
    color: #d96464;
}


/********************
*
* 最新書き込み／ピックアップニュース／ニュース速報
*
*********************/

/*** 最新書き込み／ピックアップニュース／ニュース速報 ***/
#newsContainer{
	width:810px;
	margin:0 auto;
	border:0px solid #00CC33;
}

/* 海外版差し色 */
html.oversea .newsContainerHeader {
    background-color: #feb4cf;
    border-left: 370px solid #ff80ae;
    border-right: 13px solid #ffd6e5;
    height: 4px;
}

html.oversea #newsContainer .pnTitle i.fa,
html.oversea #newsContainer .nfTitle i.fa{
    color: #5877b1;
    text-align: center;
    width: 13px;
}


/* 最新書き込み／ニュース速報 */
.latestWriting,
.newsFlash,
.newsFlas2{
	background-color: #ffffff;
	float: left;
	height: auto;
	margin: 0 2px 5px;
	width: 49%;
}


html.oversea .newsFlash,
html.oversea .newsFlas2{
	border: 1px solid #9fb6e0;
	height: 176px
}

.latestWriting .lwTitle,
.newsFlash .nfTitle {
    background-color: #ff9999;
    border: 1px solid #ff9999;
    padding: 3px 5px;
    text-align: left;
}

#newsContainer .pickupNews + div .nfTitle {
	background-color: #fe6f6f;
	border: 1px solid #fe6f6f;
}

.latestWriting .lwTitle span,
.newsFlash .nfTitle span{
	color:#FFFFFF;
	font-size:13px;
}

#newsContainer .nfTitle .fa,
#newsContainer .pnTitle .fa {
    color: #E05C5C;
}

#newsContainer + #newsContainer .nfTitle .fa,
#newsContainer + #newsContainer .pnTitle .fa {
    color: #C84D4D;
}


html.oversea #newsContainer + #newsContainer .nfTitle .fa,
html.oversea #newsContainer + #newsContainer .pnTitle .fa {
    color: #5877B1;
}


html.oversea .latestWriting .lwTitle span,
html.oversea .newsFlash .nfTitle span{
	color:#000000;
}


.latestWriting ul,
.newsFlash ul,
.pickupNews ul{
	border-bottom: 1px solid #ead0d0;
	border-left: 1px solid #ead0d0;
	border-right: 1px solid #ead0d0;
	margin: 0;
	padding: 0;
}

#newsContainer + #newsContainer ul {
	background-color: #fff;
	height: 155px;
}

.latestWriting .lwBody:first-child,
.newsFlash .nfBody:first-child{
	border-top: medium none;
}

.latestWriting .lwBody,
.newsFlash .nfBody{
	border-top: 1px solid #FFC3C3;
	padding:2px 2px 4px;
	padding:2px 2px 3px\9;
	_padding:2px 2px 3px;
	*padding:2px 2px 3px;
	text-align:left;
	height:1em; 
	height:1.1em\9;
	list-style: none outside none;
}

/* TV実況中継追加後のリスト表示修正 2013/06/04 */
.nfBody2 {
	clear: both;
	border-top: 1px solid #fcd9d9;
    height: 1.5em;
    line-height: 1.3em;
	list-style: none outside none;
}

.nfBody3 {
	clear: both;
	border-top: 1px solid #ffc3c3;
    height: 2em;
    line-height: 1.9em;
	list-style: none outside none;
}

html.oversea .nfBody3 {
    border-top: 1px solid #DDE2ED;
}

.nfBody_kakikomi {
	clear: both;
	border-top: 1px solid #FFC3C3;
	text-align: left;
    height: 1.5em;
    line-height: 1.3em;
	list-style: none outside none;
}

.nfBody2:first-child,
.nfBody3:first-child,
.nfBody_kakikomi:first-child {
 	border-top: 0 none;
}

.nfBody2 a,
.nfBody_kakikomi a {
	padding: 1px 5px;
    display: block !important;
}

.nfBody2 a:hover,
.nfBody_kakikomi a:hover {
	background-color: #F8F0F0;
}

.nfBody2:nth-child(2n) a:hover,
.nfBody3:nth-child(2n) a:hover,
.nfBody_kakikomi:nth-child(2n) a:hover {
    background-color: #f7e3e3;
}

html.oversea .nfBody_kakikomi {
	border-top: 1px dotted #cccccc;
	padding: 2px 2px 4px;
	text-align: left;
	height: 1em;
	line-height:1.5em;
	list-style: none outside none;
}


.stWriting .lwBody a,
.newsFlash .nfBody a{
	width: 100%;
}


/* TV実況中継追加後の絵文字位置修正 2013/06/04 */
.nfBody_kakikomi img , .nfBody2 img {vertical-align:-2px;}

/* 最新書き込みの絵文字位置修正 2013/04/30 */
.latestWriting .lwBody a img{
	vertical-align:top;
}

.latestWritingList,
.newsFlashList{
	text-align:right;
	border-top:1px solid #ffc3c3;
	list-style: none outside none;
}

html.oversea .latestWritingList,
html.oversea .newsFlashList{
	border-top: 1px solid #DDE2ED;
}


.latestWritingList a,
.newsFlashList a {
    display: block;
    padding: 7px 5px;
}

/* ピックアップニュース */

.pickupNews {
	float: left;
	height: 176px;
	margin: 0 2px;
	padding-bottom: 0;
	width: 49%;
}

html.oversea .pickupNews {
    background-color: #ffffff;
    border: 1px solid #9fb6e0;
    float: left;
    height: 176px;
    margin: 0 2px;
    padding-bottom: 0;
    width: 49%;
}

.pickupNews .pnTitle {
	background-color: #fe6f6f;
	border: 1px solid #fe6f6f;
	padding: 3px 5px;
	text-align: left;
}

html.oversea .pickupNews .pnTitle {
    padding: 3px 5px;
}


.pickupNews .pnTitle span{
	color:#FFFFFF;
	font-size:13px;
}

html.oversea .pickupNews .pnTitle span {
    color: #000000;
}

.pickupNews .pnBody:first-child{
	border-top: medium none;
}

.pickupNews .pnBody {
	border-top: 1px solid #ffc3c3;
	clear: both;
	height: 46px;
	list-style: outside none none;
	padding: 2px;
	text-align: left;
	vertical-align: middle;
}

.pickupNews .pnBody > a {
    display: block;
    min-height: 30px;
}

html.oversea .pnBody{
    border-top: 1px solid #ced9ee !important;
    padding: 2px;
}
html.oversea .pnBody:nth-child(2n) {
    background-color: #FFFFFF !important
}

.pickupNews li.pnBody:hover {
    background-color: #f7eeee!important;
}

.pickupNews li.pnBody:nth-child(2n):hover {
    background-color: #F7E3E3 !important;
}

html.oversea .pickupNews li.pnBody:hover {
    background-color: #eef0f7!important;
}

.pickupNews .pnBody:first-child {
    border-top: medium none;
}

html.oversea .pickupNews .pnBody:first-child {
    border-top: medium none;
}

.pickupNews li {
    position: relative;
}

.pickupNews img{
	border:0;
	height:45px;
	width:45px;
	float:left;
	margin:0 2px;
}

.pickupNews .boardName {
    bottom: 2px;
    position: absolute;
    right: 3px;

/*	padding-top: 3px;
    position: relative;
    text-align: right;
    top: 16px;*/
}


#container.main{
	margin: 0 auto;
	width: 800px;
}

/* 総投稿数 */
#total_posts{
	text-align:center;
	margin:7px 0 3px 0;
	font-size:18px;
	font-weight:bold;
	height: 30px;
	line-height: 30px;
}


/********************
*
* 検索
*
*********************/
/* 検索 */
#search_while{
	padding: 1px 5px;
	margin: 0 auto 3px;
	padding: 1px 3px;
	width: 783px;
}

#search_while .search_form{
	text-align:center;
	margin: -5px 0 0;
}

#search_while .search_form input[type="text"]{
	border: 1px solid #ABABAB;
	width:326px;
	height:19px;
	padding:2px;
	font-size:14px;
}

#search_while .search_form input[type="text"]:active,
#search_while .search_form input[type="text"]:focus {
	border: 1px solid #F86B9A;
	box-shadow: 1px 2px 1px #CBCBCB inset, 0 0 1px #FF00DC;
	-webkit-box-shadow: 1px 2px 1px #CBCBCB inset, 0 0 1px #FF00DC;
}


#search_while .search_form input[type="submit"]{
	padding:2px 0;
}

#search_while .live_search_result{
	line-height: 19px;
	margin: 0 auto;
	padding: 3px;
	width: 100%;
}

#search_while .live_search_submit{
	text-align:center;
	height:30px;
	margin-top:5px;
}

#search_while .live_search_submit input[type="submit"]{
	margin:0; height:30px;
}

#search_while #here{ /* 検索キーワード生中継はこちらから！ */
	margin:5px auto;
	height:50px;
	width:800px;
	text-align:right;
}


/* ピックアップ */
#pickup_while{
	width:782px;
	margin:0 auto;
	border:0px solid #00CC33;
	font-size: 14px;
}

#pickup_main,
#breaking_news_while,	/* 新着ニュース */
#areatop_row		/* エリアトップ横一列のボックス枠 */{
	border: 0px solid transparent;
	margin: 0px auto;
	width: 810px;
}

#areatop_row{
	border: 1px solid #CCCCCC!important;
	margin: 0 auto 5px!important;
	width: 780px !important;
}

#areatop_row ul.noimg li.more{	/* エリアトップ横一列のボックス枠 */
	background-color: #FFFFFF;
	display: inline-block;
	border-bottom: none;
	height: 15px;
	padding: 3px 5px;
	text-align: right;
	width: 765px;
}

* html #pickup_main,
* html #breaking_news_while,
* html #latest_writing{	/* IE6 hack */
	 display: inline;	
	 zoom: 1;
}

*:first-child+html #pickup_main,
*:first-child+html #breaking_news_while,
*:first-child+html #latest_writing{	/* IE7 hack */
	 display: inline;	
	 zoom: 1;
}

#pickup_main ul,
#breaking_news_while ul,
#latest_writing ul,
#areatop_row ul{
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.pickup_titlebar{
	background-color: #FE6F6F;
	text-align: center;
	padding: 2px 0px;
	border: 1px solid #CCCCCC;
	color:#ffffff;
	font-size:14px;
	font-weight: bold;
}

.pickup_article{
	display: inline-block;
	vertical-align: top;
	border: 1px solid #CCCCCC;
	height: 140px;
	background: none repeat scroll 0 0 #FFFFE0;
	width: 255px;
}

* html .pickup_article{	/* IE6 hack */
	 display: inline;	
	 zoom: 1;
}

*:first-child+html .pickup_article{	/* IE7 hack */
	 display: inline;	
	 zoom: 1;
}


.pickup_article:last-child{
	margin: 0!important;
}

.pickup_article .padding5{
	padding: 5px;
}

.pickup_article .img_frame{
	background: none repeat scroll 0px 0px #FFFFFF;
	border: 1px solid #BBBBBB;
	color: #FFFFFF;
	width: 130px !important;
	display: table-cell;
	vertical-align: middle !important;
	height: 130px !important;
}

.pickup_article .img_frame img{
	display: block;
	margin: 0 auto;
	text-align: center;
	border: none;
}

.pickup_title{
	display: table-cell;
	vertical-align: top;
	padding: 0px 3px;
	font-size: medium;
}

a .pickup_title{
	font-size:medium;
	font-weight: bold;
}

/* 各カテゴリピックアップ */
#breaking_news_while ul li#breaking_news_main{
	display: inline-block;	 
	vertical-align: top;
	border: 1px solid #CCCCCC;
	width: 255px;
	margin: 3px 1px 3px 5px;
}

* html #breaking_news_while ul li#breaking_news_main{	/* IE6 hack */
	 display: inline;	
	 zoom: 1;
}

*:first-child+html #breaking_news_while ul li#breaking_news_main{	/* IE7 hack */
	 display: inline;	
	 zoom: 1;
}

#breaking_news_while ul li#breaking_news_main div.breaking_news_titlebar/*,
#latest_writing ul li .boardname*/{	/* オールドブラウザ用 */
	background-color: #FF9999; 
}

#breaking_news_while ul li#breaking_news_main:nth-child(3n+1) div.breaking_news_titlebar/*,
#latest_writing ul li:nth-child(3n+1) .boardname*/{
	background-color: #FF9999; 
	/*background-color: #FF54C5;*/
}

#breaking_news_while ul li#breaking_news_main:nth-child(3n+2) div.breaking_news_titlebar/*,
#latest_writing ul li:nth-child(3n+2) .boardname*/{
	background-color: #FF9999; 
	/*background-color: #FF7ED4;*/
}

#breaking_news_while ul li#breaking_news_main:nth-child(3n) div.breaking_news_titlebar/*,
#latest_writing ul li:nth-child(3n) .boardname*/{
	background-color: #FF9999; 
	/*background-color: #FB98F0;*/
}

#breaking_news_main li{
	padding:3px 5px 2px 5px;
	text-align:left; 
}

#breaking_news_main li:nth-child(3n+1),
#breaking_news_main li:nth-child(3n){
	background:#FFFFFF;
}

#breaking_news_main li:nth-child(3n+2){
	background:#FFE2E2;
}
	
#breaking_news_main ul li img{
	float: left;
	margin: 0px 2px;
	border: 1px solid #CCCCCC;
}

#breaking_news_main ul li img.thumb{
	width:45px;
	height:45px;
}

#breaking_news_main ul a li div.title{
	display: inline;
	width: 200px;
	font-size: 13px;
}

#breaking_news_main ul.latest li{
	background-color: #FFFFFF;
	padding: 5px;
	height: 15.5px;
	line-height: 15.5px;
	text-align: left;
	border-bottom: 1px dotted #999999;
}

#breaking_news_main ul.latest li.more{
	border-bottom: none;
	text-align: right;
}

#breaking_news_main:last-child{
	/*margin: 2px 0 !important;*/
}

.breaking_news_titlebar,
.areatop_row_titlebar{
	text-align: center;
	border-bottom: 1px solid #CCCCCC;
	padding: 2px 0px;
	color:#ffffff;
	font-size:14px;
	font-weight: bold;
}

/* 最新書込み一覧 */
.latest_writing_titlebar{
	text-align: center;
	padding: 2px 0px;
	border-bottom: 1px solid #CCCCCC;
	background-color: #FF66CC;
	color:#ffffff;
	font-weight: bold;
	font-size:14px;
}

#latest_writing ul li{
	color:#FF6600;
	font-size:14px;
	border-bottom: 1px solid #CCCCCC;
	display:inline-block;
	height: 20px;
}

* html #latest_writing ul li{	/* IE6 hack */
	display: inline;	
	zoom: 1;
}

*:first-child+html #latest_writing ul li{	/* IE7 hack */
	display: inline;	
	zoom: 1;
}

#latest_writing ul li .boardname{
	display: inline-block;
	border-left: 1px dotted #CCCCCC;
	height: 25px;
	line-height: 25px;
	padding: 0 0 0 8px;
	width: 145px;
}

* html #latest_writing ul li .boardname{	/* IE6 hack */
	display: inline;	
	zoom: 1;
}

*:first-child+html #latest_writing ul li .boardname{	/* IE7 hack */
	display: inline;	
	zoom: 1;
}

#latest_writing ul li .boardname a,
#latest_writing ul li.more a,
#latest_writing ul li .titlename a{
	display: inline-block;
	width: 100%;
} 

* html #latest_writing ul li .boardname a,
* html #latest_writing ul li.more a,
* html #latest_writing ul li .titlename a{	/* IE6 hack */
	display: inline;	
	zoom: 1;
}

*:first-child+html #latest_writing ul li .boardname a,
*:first-child+html #latest_writing ul li.more a,
*:first-child+html #latest_writing ul li .titlename a{	/* IE7 hack */
	display: inline;	
	zoom: 1;
}

#latest_writing ul li .count{
	font-weight: bold;
	background: #FB67B1;
	color: #FFFFFF;
	display: inline-block;
	height: 20px;
	line-height: 24px;
	padding: 0 0 0 8px;
	width: 20px;
} 

* html #latest_writing ul li .count{	/* IE6 hack */
	display: inline;	
	zoom: 1;
}

*:first-child+html #latest_writing ul li .count{	/* IE7 hack */
	display: inline;	
	zoom: 1;
}

#latest_writing ul li .titlename{
	padding: 3px 5px;
	text-align: left;
	background-color: #FFFFFF;
	display: inline-block;
	height: 11px;
	width: 575px;
} 

* html #latest_writing ul li .titlename{	/* IE6 hack */
	display: inline;	
	zoom: 1;
}

*:first-child+html #latest_writing ul li .titlename{	/* IE7 hack */
	display: inline;	
	zoom: 1;
}

* html #latest_writing ul li.more{	/* IE6 hack */
	display: inline;	
	zoom: 1;
}

*:first-child+html #latest_writing ul li.more{	/* IE7 hack */
	display: inline;	
	zoom: 1;
}



/* 掲示板メニュー 都道府県雑談と市町村雑談を差別化 */
body#menu-body div#ctgmenu ul li a[title$="市雑談掲示板"],
body#menu-body div#ctgmenu ul li a[title$="区雑談掲示板"],
body#menu-body div#ctgmenu ul li a[title$="町雑談掲示板"],
body#menu-body div#ctgmenu ul li a[title$="村雑談掲示板"],
body#menu-body div#ctgmenu ul li a[title$="郡雑談掲示板"],
body#menu-body div#ctgmenu ul li a[title$="西東京雑談掲示板"],
/*body#menu-body div#ctgmenu ul li a[title$="種子島雑談掲示板"],
body#menu-body div#ctgmenu ul li a[title$="奄美大島雑談掲示板"],
body#menu-body div#ctgmenu ul li a[title$="徳之島雑談掲示板"],
*/
body#menu-body div#ctgmenu ul li a[title$="島雑談掲示板"]:not([title$="福島雑談掲示板"]):not([title$="広島雑談掲示板"]):not([title$="徳島雑談掲示板"]):not([title$="鹿児島雑談掲示板"]) {
    padding: 3px 0 3px 9px;
}
