@charset "shift-jis";

/* CSS Document */

/********************
メイン
*********************/
html{
	background:url(../img/main_bg.gif) repeat left top fixed;
}

body{
	font-size:12px;
	margin:0;
	padding:0;
}


hr { 
margin:3px 0; 
height:1px;
width:100%;
border-top:1px solid #999999;
border-bottom:none;
border-left:none;
border-right:none;
background:none;
} 


#comment{
text-align:center;
margin:20px 0 20px 0;
font-size:18px;
font-weight:bold;
}

.green{
color:#009900;
}

.lightblue{
color:#3366CC;
}

.red{
color:#FF0000;
}

a {
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
	color:#FF0000;
}

#menu{
margin:0 auto;

}

#menu ul{
	width:800px;
	height:30px;
	list-style:none;
	text-align:center;
	margin:0 auto 10px auto;
}

#menu li{
	text-align:center;
	float:left;
	margin:0 5px;
}

#menu a{
	width:55px;
	height:20px;
	display:block;
	padding:10px 0 0 0;
	color:#BA3A51;
	font-size:12px;
}

#menu a:hover{
	color:#6D1928;
}

/********************
　カテゴリ一覧
*********************/
#menu-body{
	width:146px!important;
	width:146px!important;
	margin:0 auto;
	_margin:0;
	padding:0;
	text-align:left;
	_text-align:center;
}

#ctgmenu {
	margin:0 auto;
	padding:0;
	width:141px;
	_width:144px;
	color:#333333;
}

#ctgmenu p {
	margin:10px 5px;
}

.ctg_box {
	width:137px;
	_width:140px;
	margin:0 auto 12px auto;
	border:#ff9999 solid 1px;
	background-color:#FFFFFF;
	text-align:left;
}


.follow_btn a {
display: block;
width::93px;
height:20px;
margin:3px;
overflow:hidden;
background-repeat:no-repeat;
background-image: url(/p/img/followMe.jpg);
}

.follow_btn a:hover {
background-image: url(/p/img/followme_ro.jpg);
}

.follow_btn img {
border-style:none;
}

.bg_whole{background:#FF99CC!important;} /*総合*/
.bg_rec{background:#FF76BD!important;} /*求人*/
.bg_new{background:#FE6F6F!important;} /*新着*/
.bg_other{background:#FC85D4!important;} /*iinaとか*/
.bg_comm{background:#FF66CC!important;} /*爆コミュとか*/
.bg_guide{background:#FF6699!important;} /*静的ページ*/

.border_whole{border:1px solid #FF99CC!important;} /*総合*/
.border_rec{border:1px solid #FF76BD!important;} /*求人*/
.border_new{border:1px solid #FE6F6F!important;} /*新着*/
.border_other{border:1px solid #FC85D4!important;} /*iinaとか*/
.border_comm{border:1px solid #FF66CC!important;} /*爆コミュとか*/
.border_guide{border:1px solid #FF6699!important;} /*静的ページ*/


.ctg_title {
	background-color:#FF9999;
	width:auto;
	padding:2px;
}

.ctg_box ul {
	list-style:none;
	margin:0px;
	padding:0px;
}

.ctg_box li {
	margin:2px;
}

#ctgmenu h1{
	margin:10px 5px!important;
	font-size:12px!important;
	font-weight:normal!important;
	background:none!important;
	border:none!important;
	padding:0!important;
	font-family:"ＭＳ ゴシック", "Osaka−等幅"!important;
}


/*検索生中継*/

#title_realserch{text-align:center!important; margin:5px auto 5px auto; letter-spacing:1px; font-size:15px;}

#realserch{
width:470px; height:75px; text-align:left; letter-spacing:0px; margin:3px auto;
}

.repolist{
line-height:19px; height:50px; width:800px; margin:0 auto 10px auto; letter-spacing:0;
}

*html .container{
line-height:19px; height:50px; width:800px; margin:0 auto 10px auto; letter-spacing:0;
}


*:first-child+html .container{
line-height:19px; height:50px; width:800px; margin:0 auto 10px auto; letter-spacing:0;
}


/********************
新グローバルメニュー
*********************/
#global_header{
	background:#C0C0C0;
	width:100%;
	height:20px;
}

#global_menu{
	height:20px;
	background:#C0C0C0 url(../img/global-bar.gif) no-repeat 2px 2px;
	margin:0px;
	width:auto;
	border-top:solid 1px #FFFFFF;
	border-left:solid 1px #FFFFFF;
	border-bottom:solid 1px #666666;
	border-right:solid 1px #808080;
}

#global_menu ul{
	width:auto;
	display:block;
	height:19px;
	list-style:none;
	margin:0;
	padding:0px 0px 0 8px;
	width:800px;

}

#global_menu li{
	width:64px;
	height:19px;
	float:left;
	text-align:center;
	border-left:solid 1px #FFFFFF;
	border-right:solid 1px #808080;
	background:#C0C0C0;
}

#global_menu li a{
	width:64px;
	height:14px;
	padding-top:3px;
	display:block;
	text-decoration:none;
	color:#000000;
	font-size:12px;
	border:solid 1px #C0C0C0;
}

#global_menu li a:hover{
	border:solid 1px;
	border-top-color:#FFFFFF;
	border-left-color:#FFFFFF;
	border-right-color:#808080;
	border-bottom-color:#808080;
	text-decoration:none;
	color:#6D1928;
}


#home, #home a{
	width:135px !important;
	text-align:right;
	background:url(../img/home.gif) no-repeat left center;
}
#home {
	border-left:solid 1px #C0C0C0 !important;
}
#home a{
	width:133px !important;
}

/* Googleマーク */
#google{
	background:url(../img/google.gif) no-repeat center;
	text-decoration:none;
	border-right:solid 2px #C0C0C0 !important;
}

#google a:hover {
	border:solid 1px;
	border-top-color:#FFFFFF;
	border-left-color:#FFFFFF;
	border-right-color:#808080;
	border-bottom-color:#808080;
	text-decoration:none;
	color:#6D1928;
}

.vi{
	visibility:hidden;
	text-decoration:none;
}

/********************
indexヘッダー
*********************/
#header{
background:url(../img/bg_header.gif) repeat-x top;
font-size:13px;
text-align:left;
border-bottom:#333333 0px solid;
height:15px;
color:#FFFFFF;
vertical-align:middle;
padding:5px 0 5px 10px;
margin-top:0px;
}

/*html #header {
*behavior: expression(IEPNGFIX.fix(this));
}*/


#header h1{
font-size:13px!important;
color:#FFFFFF!important;
padding:0px!important;
margin:0px!important;
background:none!important;
border:none!important;
font-weight:normal!important;
float:left!important;
font-family: "ＭＳ ゴシック", "Osaka−等幅"!important;
}

#header h2{
font-size:13px;
color:#FFFFFF;
padding:0px;
margin:0 5px;
float:left;
}

/********************
indexサブタイトル
*********************/
#subtitle{
text-align:center;
font-weight:bold;
color:#666666;
margin-top:10px;
/*letter-spacing:5px;*/
font-size:15px;
}

/********************
ロゴ
*********************/
#logo{
	margin:10px auto 0px;
	text-align:center;
	border:#999999 1px solid;
	width:500px;
	height:270px;
}

/********************
コンテンツ
*********************/
#contents{
	margin-top:0px;
}


/********************
フッター
*********************/
#footer{
	width:auto;
	margin:20px 0;
	text-align:center;
}


/************************ 
掲示板管理メニュー
************************/

#main_menu {
	width:730;
	text-align:center;
	padding-top:15px;
}

#main_menu ul{
	margin:3px auto;
	padding:0;
}

#main_menu li {
	list-style:none;
	display:inline;
	border-left:1px solid #999999;
	padding:0 3px 0 5px;
}

.fmlast{border-right:1px solid #999999;}

#main_menu a{
}


/************************ 
フッターメニュー
************************/
/* フッターメニュー */

#footerMenu {
	width:730;
	text-align:center;
	/*width: 785px;*/
	margin: 5px auto;
	padding: 10px 0px !important;
}

#footerMenu ul{
	margin:3px auto;
	padding:0;
}


#footerMenu li {
	list-style:none;
	display:inline;
	border-left:1px solid #999999;
	padding:0 2px 0 4px;
}


/************************ 
よくある質問
************************/
.cont{
	width:auto;
	height:auto;
	background-color:#ffffff;
	border-bottom:3px double #999999;
	margin:0 auto;
	padding:10px;
	clear:both;
	position:relative;
}

#leftcont{

}

.delete{
margin:0 0 0 15px;
}

.safety h2, .safety h3, .corp h2, .corp h3, .rule h2, .rule h3, .isp h2, .isp h3, .guide h2, .guide h3{
	font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Verdana, "ＭＳ Ｐゴシック", "MS PGothic", "VL Pゴシック", "Takao Pゴシック", "IPA Pゴシック", sans-serif !important;
	padding:5px;
	background:#D8D8D8;
	color:#333;
	font-weight:bold;
	border-left:15px #CCCCCC solid;
}

.guidename{
	color:#dd0000;
	font-size:14px;
	font-weight:normal;
	margin:5px 15px;
}

h1{
	font-weight:bold;
	margin:0 0 5px 0;
	color:#666666;
	border-top:1px solid #FF66CC;
	border-right:dashed 1px #FF66CC;
	border-left:#FF66CC 10px solid;
	border-bottom:1px dashed #FF66CC;
	background:#FFFFCC;
	padding:5px 0 5px 5px;
	font-size:16px;
	font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Verdana, "ＭＳ Ｐゴシック", "MS PGothic", "VL Pゴシック", "Takao Pゴシック", "IPA Pゴシック", sans-serif !important; 	}

h2{
	color:#dd0000;
	font-size:14px;
	font-weight:normal;
	margin:5px 15px;
}

h3{
	color:#dd0000;
	font-size:14px;
	font-weight:normal;
	margin:5px 15px;
}

h4{
	color:#dd0000;
	font-size:14px;
	font-weight:normal;
	margin:5px 15px;
}

h5{
	color:#dd0000;
	font-size:14px;
	font-weight:normal;
	margin:5px 15px;
}

h6{
	color:#dd0000;
	font-size:14px;
	font-weight:normal;
	margin:5px 15px;
}

.cont p{
	margin:5px 25px;
	line-height:1.4em;
}

.cont ul{
	padding:5px 10px;
	line-height:1.4em;
	list-style:decimal;
}

.red{
	color:#FF0000;
}

/*hr{
	color:#ffc0cb;
	height:3px;
}*/

.dis,.dis1{
	width:auto;
	height:auto;
	display:block;
	padding:5px 7px;
/*	text-decoration:underline;*/
	color:#666666;
}

/* サブ画面 */
.sub,.sub1{
	background:url(../img/g41.gif) 7px 5px no-repeat;
	padding-left:20px;
	padding-top:3px;
}

.dis,.sub{
	background-color:#FCE4E8;
}

.dis1,.sub1{
	background-color:#FFFFFF;
}

.dis img,.dis1 img{
	vertical-align:middle;
	margin-right:2px;
}

.sml {
	color:#666666;
}

/*********************
障害・メンテナンス情報
**********************/
/* 一覧 */
#trouble {
	width:560px;
	font-size:14px;
	margin:10px auto;
	/* background-color:#CCCCCC; */
}




#trouble tr {
	background-color:#F3F1E7;
	text-align:left;
}

#trouble th {
	height:30px;
	color:#666666;
	text-align:left;
	border-top:solid 2px #BEBEBE;
	border-right:dotted 1px #BEBEBE;
	border-bottom:solid 2px #BEBEBE;
}

#trouble td {
	height:32px;
	color:#666666;
	border-top:solid 1px #FFFFFF;
	border-right:solid 1px #FFFFFF;
	text-align:left;
	}

#trouble td.data {
	text-align:center;
	width:100px;
}

#trouble td.body {
	padding-left:5px;
	width:450px;
	text-align:left;
}

/* 詳細 */
#datelis {
	width:500px;
	height:auto;
	margin:15px auto;
	_text-align:center;
	color:#666666;
	border:solid 1px #BEBEBE;
	text-align:left;
	
}

#datelis #title {
	margin:10px;
	font-size:14px;
	font-weight:bold;
	color:#000000;
	text-align:left;
}

#datelis #reg_date {
	float:right;
	padding-bottom:2px;
	margin:0 10px 10px 0;
	border-bottom:dotted 1px #BEBEBE;
	text-align:left;
}

#datelis #margin {
	width:100%;
	margin:10px auto;
	font-size:15px;
	text-align:left;
}


#datelis table {
	width:450px;
	height:100px;
	min-height:100px;
	border-top:solid 2px #BEBEBE;
	border-bottom:solid 2px #BEBEBE;
	text-align:left;
	font-size:14px;
}

#datelis td {
	border-bottom:dashed 1px #BEBEBE;
	text-align:left;
	font-size:14px;
}

#datelis td.data {
	font-weight:bold;
	padding-left:2px;
	border-right:dotted 2px #003388;
	text-align:left;
	font-size:14px;
}

#datelis strong {
	display:block;
	margin:15px;
	text-align:center;
}

#datelis a {
	float:right;
	margin:0 10px 10px 0;
}


/* 爆サイ.comについて */
.begi01{
background:url(../img/begi_img01.gif) no-repeat left top;
width:480px;
_width:600px;
height:auto;
padding:45px 95px 20px 25px;
}


.begi01, .begi02, .begi03, img{
vertical-align:top;
_vertical-align:middle;
}

*:first-child+html .begi01, .begi02, .begi03, img{
vertical-align:middle;
}

html:\66irst-child .begi01, .begi02, .begi03, img{
vertical-align:top;
}

.begi02{
background:url(../img/begi_img02.gif) no-repeat left top;
width:480px;
_width:600px;
height:auto;
padding:45px 95px 20px 25px;
}

.begi_num{
text-align:right;
}

.begi_bbs td{
font-size:13px;
color:#666666;
letter-spacing:2px;
}


.begi03{
background:url(../img/begi_img03.gif) no-repeat left top;
width:480px;
_width:600px;
height:auto;
padding:45px 95px 20px 25px;
}

.begi04{
background:url(../img/begi_img04.gif) no-repeat left top;
width:480px;
_width:600px;
height:auto;
padding:45px 95px 20px 25px;
}

.begi_bg{
background:url(../img/begi_img_bg.gif) repeat-y left top;
width:600px;
}

.begi_bottom{
background:url(../img/begi_img_bottom.gif) no-repeat left bottom;
width:600px;
height:23px;
}


.begi05{
background:url(../img/begi_img05.gif) no-repeat left top;
width:480px;
_width:600px;
height:auto;
padding:45px 95px 20px 25px;
}

.begi05 p{
	margin:0;
	padding:0;
	}

.begi01, .begi02, .begi03, .begi04{
letter-spacing:3px;
line-height:1.4em;
}




/*ユーザー属性*/
.graph_user{
background:url(../img/graph_user.gif) no-repeat left top;
width:245px;
_width:245px;
padding-left:215px;
height:215px;
margin-bottom:20px;

}

.begi_user{
width:20px;
height:20px;
font-size:1px;
margin:3px;
}

.begi_user_bg01{
width:10em;
_width:110px;
}

.begi_user_bg02{
width:4em;
_width:55px;
}

.graph_user td{
padding:0 0 3px 3px;
margin-bottom:2px;
font-size:12px;
vertical-align:middle;
}



.graph_mobi{
background:url(../img/graph_mobi.gif) no-repeat left top;
width:245px;
_width:460px;
padding-left:215px;
height:215px;
margin-bottom:10px;
}

.graph_care{
background:url(../img/graph_care.gif) no-repeat left top;
width:245px;
_width:245px;
padding-left:215px;
height:215px;
margin-bottom:20px;
}

.graph_care td , .graph_mobi td{
font-family:Century Gothic ,"ＭＳ ゴシック", "Osaka−等幅" ;
padding-right:15px;
font-size:18px;
}

.graph_mobi2{
background:url(../img/graph_mobi2.gif) no-repeat left top;
width:245px;
_width:460px;
padding-left:215px;
height:215px;
margin-bottom:10px;
}

.graph_care2{
background:url(../img/graph_care2.gif) no-repeat left top;
width:245px;
_width:245px;
padding-left:215px;
height:215px;
margin-bottom:20px;
}

.graph_care2 td , .graph_mobi2 td{
font-family:Century Gothic ,"ＭＳ ゴシック", "Osaka−等幅" ;
padding-right:15px;
font-size:18px;
}


/****************************
掲示板メニュー 
****************************/
.bbs_menu{
	padding:0;
	text-align:left;
	width:auto;
	line-height:13px;
	float:left!important;
	font-size:12px;
	/*font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Verdana, "ＭＳ Ｐゴシック", "MS PGothic", "VL Pゴシック", "Takao Pゴシック", "IPA Pゴシック", sans-serif !important;*/
}

.bbs_menu span{
	display:inline;
	zoom:1; /* hasLayout を true にする */
}

.bbs_menu a{
	border:1px solid #999999;
	background:#fff;
	padding:3px 5px;
	margin:0 2px;
	text-decoration:none;
	color:#666666;
	display:inline;
	zoom:1; /* hasLayout を true にする */
	font-weight:bold;
}

.bbs_menu a:hover{
	border:1px solid #999999;
	background:#ccc;
	padding:3px 5px;
	margin:0 2px;
	text-decoration:none;
	color:#fff;
	display:inline;
	font-weight:bold;
	zoom:1; /* hasLayout を true にする */
}

.bbs_mainmenu{
min-width:760px;
max-width:auto;
margin:3px 0;
height:20px;
}



/****************************
検索 
****************************/
#search_main{
text-align:center;
margin-top:10px;
background:url(../img/search.gif) no-repeat center;
height:40px;
padding:0px 20px 20px 40px;
_padding:10px 25px 20px 40px;
width:360px;
margin-left:auto;
margin-right:auto;
}

#search_buttun{
border:none;
background:url(../img/search_buttun.gif) no-repeat center;
width:50px;
height:25px;
margin-top:16px;
margin-bottom:0;
_margin-bottom:-2px;
cursor:pointer;
}

/* IE7 のみ \*/
*:first-child+html #search_buttun{
border:none;
background:url(../img/search_buttun.gif) no-repeat center;
width:50px;
height:25px;
margin-top:10px;
margin-bottom:0;
cursor:pointer;
}

/* IE6 のみ \*/
*html #search_buttun{
border:none;
background:url(../img/search_buttun.gif) no-repeat center;
width:50px;
height:30px;
margin-top:20px;
cursor:pointer;
}


/* Safari のみ */
html* #search_buttun{
border:none;
background:url(../img/search_buttun.gif) no-repeat center;
width:50px;
height:20px;
margin-top:-5px;
cursor:pointer;
}

/* モダンブラウザ */
html>/**/body #search_buttun{
border:none;
background:url(../img/search_buttun.gif) no-repeat center;
width:50px;
height:20px;
margin-top:-30px;
cursor:pointer;
}

#search_text{
width:280px;
margin-top:21px;
_margin-top:14px;
border:1px #FFFFFF solid;
}


*:first-child+html #search_text{
width:280px;
margin-top:23px;
border:1px #FFFFFF solid;
}


.tag_area{
border:1px solid #999999;
background:#EFEFEF;
margin:0px;
overflow:auto;
height:60px;
width:480px;
resize:none;
font-size:12px;
letter-spacing:0;
border-radius:5px;
line-height:13px;
margin:5px 0 15px 0;
}

.banner_link{
margin-bottom:20px;
clear:both;

}

.img_size{
font-size:15px;
color:#666666;
font-weight:bold;

}

/********************
ブックマーク
*********************/
.bm_hatena{
text-indent:-9999px;
margin-right:2px;
_margin-right:0;
width:16px;
height:16px;
background:url(../img/sbm/sub.gif) no-repeat -5px;
display:block;
float:left;
text-indent:-9999px;
}

.bm_yahoo{
margin-right:2px;
width:16px;
height:16px;
background:url(../img/sbm/sub.gif) no-repeat -98px;
display:block;
float:left;
text-indent:-9999px;
}

.bm_google{
display:block;;
margin-right:2px;
width:16px;
height:16px;
background:url(../img/sbm/sub.gif) no-repeat -117px;
float:left;
text-indent:-9999px;
}

/********************
広告掲載について
*********************/

#ad_header{
width:752px;
height:48px;
background:url(../img/ad_header.gif) no-repeat top left;
margin:7px 0;
}

#ad_header h2{
display:none;
}


#ad_menu{
background:url(../img/bg_admenu.gif) repeat-x top left;
border:1px #999999 solid;
width:750px;
_width:752px;
height:65px;
}

#ad_menu ul{
list-style:none;
margin:0;
padding:0;
}

#ad_menu li{
width:150px;
height:65px;
float:left;
}

#ad_menu li ,#ad_menu li a{
width:150px;
height:65px;
display:block;
}


#ad_menu span{
display:none;
}

.ad_publish{background:url(../img/ad_publish.gif) no-repeat;}
.ad_publish a:hover{background:url(../img/ad_publish_a.gif) no-repeat;}

.ad_pc{background:url(../img/ad_pc.gif) no-repeat;}
.ad_pc a:hover{background:url(../img/ad_pc_a.gif) no-repeat;}

.ad_mobile{background:url(../img/ad_mobile.gif) no-repeat;}
.ad_mobile a:hover{background:url(../img/ad_mobile_a.gif) no-repeat;}

.ad_inq{background:url(../img/ad_inq.gif) no-repeat;}
.ad_inq a:hover{background:url(../img/ad_inq_a.gif) no-repeat;}

.ad_about{background:url(../img/ad_about.gif) no-repeat;}
.ad_about a:hover{background:url(../img/ad_about_a.gif) no-repeat;}


#ad_messege{
width:750px;
height:auto;
margin:15px 0 15px 10px;
}

.ad_contents{
width:825px;
margin-bottom:35px;
padding-bottom:35px;
background:url(../img/bg_adfooter.gif) no-repeat bottom center;
}

.ad_contents td{
font-size:12px;
}

.topmove{
border:none;
float:right;
text-decoration:none;
height:15px;
width:95px;
margin:5px 0;
background:url(../img/ad_toparrow.gif) top left no-repeat;
}

.topmove a{
border:none;
text-decoration:none;
height:15px;
width:95px;
display:block;
}

.topmove a:hover{
border:none;
text-decoration:none;
height:15px;
width:95px;
display:block;
background:url(../img/ad_toparrow_a.gif) top left no-repeat;
}

.topmove span{
display:none;
}


.ad_place{
float:left;
margin:5px 10px 5px 30px;
_margin:5px 10px 5px 15px;
line-height:1.4em;
}

/********************
代理店について
*********************/

#disty{
width:700px;
}

#disty h1{
	background:url(../img/distyImg_main.jpg) no-repeat left top!important;
	height:503px!important;
	margin:0!important;
	padding:0!important;
	text-indent:-20110121px!important;
	border:none!important;
}

#disty h2{
	background:url(../img/distyImg_merit.gif) no-repeat left top;
	height:367px!important;
	width:669px!important;
	margin:0 auto!important;
	padding:0!important;
	text-indent:-20110121px!important;
}

#disty h3{
	margin:20px 0 0 15px!important;
	padding:0 0 0 10px!important;
	border-left: #000033 6px solid;
	height: 24px;
	color: #111;
	font-size: 18px;
	font-weight: bold;
}

#disty01{background-image:url(../img/title_disty01.gif)!important;}
#disty02{background-image:url(../img/title_disty02.gif)!important;}
#disty03{background-image:url(../img/title_disty03.gif)!important;}
#disty04{background-image:url(../img/title_disty04.gif)!important;}

#disty_merit{
	background:url(../img/merit_disty.gif) no-repeat left top;
	width:700px;
	height:150px;
	font-size:11px;
	letter-spacing:0px;
	line-height:12px;
	margin:0;
	padding:0;
	text-indent:-20110122px;
}

#disty_merit span{
	display:none;
	}


#disty_ask{
	margin:0;
	padding:0;
}

#disty_ask table{
	width:660px;
	margin:0 20px;
	border-collapse:collapse;
	table-layout:auto;
	vertical-align:top;
	border:1px solid #CCCCCC;
	}

#disty_ask th{
	color:#FFFFFF;
	background-color:#999999;
	border:1px solid #CCCCCC;
	border-collapse:collapse;
	text-align:left;
	table-layout:auto;
	vertical-align:middle;
	padding:5px;
	width:210px;
	font-size:12px;
	}

#disty_ask td{
	font-size:12px;
	padding:5px;
	vertical-align:top;
	border-collapse:collapse;
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	padding:5px;
	font-size:12px;
	}

#disty_ask input{
	width:390px;
	}
	
#disty_ask textarea{
	width:640px;
	height:150px;
	font-size:12px;
	resize: none;
	margin:auto;
	overflow:auto;
	}

#disty_ask_submit{
	margin:10px 20px;
	padding:10px 15px;
	width:628px;
	_width:660px;
	letter-spacing:0;
	font-size:12px;
	line-height:1.4em;
	background:#FFFFCC;
	border:1px #FF0000 dashed;
	}

#disty_ask_submit input{
	padding:5px!important;
	cursor:pointer!important;
	margin:3px auto!important;
	}

.disty_submit{
	text-align:center;
	margin:0;
	padding:0;
	}

.disty_submit input{
	padding:5px!important;
	cursor:pointer!important;
	margin:3px auto!important;
	}

#disty_error{
padding:10px;
color:#FF0000;
}

.hTop {margin: 0!important;background: #000033;padding: 10px 0 10px 10px;color: #ffffff;font-size: 18px;}
#disty_infoform table {
	margin: 0;
	padding: 0;
	width: 100%;
	border-collapse:collapse;
	table-layout:auto;
	vertical-align:top;
	border:1px solid #cccccc;
}

#disty_infoform th {
	padding: 10px;
	width: 24%;
	background: #f7f8fc;
	border-right: #cccccc 1px solid;
	border-bottom: #cccccc 1px solid;
	text-align: left;
}

#disty_infoform td {
	padding: 10px;
	background: #ffffff;
	border-bottom: #cccccc 1px solid;
}

#distyicon_shop {
	background: url(../img/distyicon_shop.gif) no-repeat right top;
	height: 133px;
}

#distyicon_support {
	background: url(../img/distyicon_support.gif) no-repeat right top;
	height: 133px;
}

#distyicon_support ul {margin:0 0 0 35px!important;}
#distyicon_support ul li {list-style-type: disc;}
.cont #distyicon_shop p{
	margin:5px 30px;
	line-height:1.4em;
}


/********************
スマートフォンについて
*********************/
.iphone_title{
width:605px;
height:99px;
background:url(../img/iphonetitle.jpg) top left no-repeat;
text-indent:-9999px;
}

.iphone{
background:url(../img/iphone.gif) top left no-repeat;
width:734px;
height:132px;
margin:10px 0;
}

.iphone_text{
width: 550px;
_width: 704px;
height:100px;
padding:30px 0 0 150px;
}

.iphone_demo{
}

.iphone_demo ul{
list-style:none;
padding:0;
margin:0 0 10px 25px;
}

.iphone_demo li{
display:block;
float:left;
margin:0 40px 0 0;
text-align:center;
line-height:30px;
}

.iphone_demo span{
letter-spacing:0.2em;
}


/********************
スマートフォンについて
*********************/


/********************
機能説明
*********************/
.accesskey{
width:370px;
height:70px;
margin:0 0 0 22px;
background:url(../img/accesskey.gif) no-repeat center 5px;
border:1px dashed #CC6600;
}

.andsearch{
width:610px;
height:70px;
margin:0 0 0 22px;
background:url(../img/andsearch.gif) no-repeat center 5px;
border:1px dashed #CC6600;
}

.andsearch em{
	display:none;
	}

.nightwork{
background:url(../img/nw_bk.gif) top left no-repeat;
}

/*緊急お知らせindex*/
#toptrbinfo{
text-align:center;
margin:7px auto 0px auto;
padding:0px 0px 5px 0px;
background:#FFFFCC;
border: #FFCC99 1px solid;
width:500px; color:#393939;
}

#title_toptrbinfo{
font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Verdana, "ＭＳ Ｐゴシック", "MS PGothic", "VL Pゴシック", "Takao Pゴシック", "IPA Pゴシック", sans-serif !important;
text-align:center; padding:3px; border-bottom:1px dotted #CCCCCC; background:#EFEFEF; color:#FF0000; margin-bottom:3px;
}

#title_toptrbinfo strong{
font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Verdana, "ＭＳ Ｐゴシック", "MS PGothic", "VL Pゴシック", "Takao Pゴシック", "IPA Pゴシック", sans-serif !important;
}

#toptrbinfo p{
width:410px;
text-align:left!important;
border:0px solid #000;
margin:0 auto;
}

.left{float:left;text-align:left;}
.right{float:right;text-align:right;}
.center{text-align:center!important; margin:auto;}
.red{color:#FF0000;}

.noborder{border:none!important;}

.normal{font-size:12px!important;}
.xsmall{font-size:10px!important;}
.small{font-size:11px!important;}
.normal{font-weight:normal!important;}
.bold{font-weight:bold!important;}
.clear{clear:both; font-size:1px; height:1px;}
.clear hr{display:none;}