body{
	font-size: 15px;
	line-height: 24px;
	color: #666666;
}

body a{
	color: #35a1d4;
}

body p{
	padding: 0 0 15px;
}

.content_wrapper ul{
	list-style: inside none disc;
}

h2{

}

.bottom-content{
	float: left;
	width: 100%;
}

.contentSlider h2{
	padding: 0 0 15px;
}


.contentSlider .image img {
    float: right;
}

body .contentSlider .text .btngroup{
	margin: 10px 0 20px;
}

body .contentSlider .text .btngroup .btn{
	width: 45%;
}

.buy_btn {
    float: right;
    width: 45%;
}

body .contentSlider .text .btngroup .buy_btn .btn{
	width: 100%;
}

body .contentSlider.style2{
	padding: 30px 0;
}

body .contentSlider.style2 .text {
	margin: 0;
	padding: 30px;
}

body .contentTab .r-tabs .r-tabs-panel {
    padding: 70px 20px;
}	

body .contentTab a:before{
	content: none;
}

.contentTab .tabHead a:before{
	content: "";
}

.content{
	padding: 90px 0 0;
	float: left;
	width: 100%;
}

.content h2{
	font-size: 40px;
	color: #00b9ff;
	line-height: 40px;
	padding: 0 0 30px;
	width: 100%;
	text-align: center;
}

.content h3{
	font-size: 22px;
	line-height: 34px;
	color: #333333;
}
.contentTab h4, .contentTab h5 {
    color: #333333;
    font-size: 18px;
    line-height: 34px;
}

.contentTab h2{
	font-size: 40px;
	color: #00b9ff;
	line-height: 40px;
	padding: 0 0 60px;
}
.contentTab h2.detailed { font-size: 40px;
	color: #00b9ff;
	line-height: 40px;
	padding: 0 0 60px; padding-top:90px;}
.contentTab h3 {
    color: #333333;
    font-size: 30px;
    line-height: 34px;
    padding: 0 0 10px;
}

.read_more{
	color: #35a1d4;
}

.gray_block{
	background-color: #ebf5f8;
	padding: 25px 0;
	text-align: center;
	margin: 35px 0 0;	
}

.gray_block h3{
	padding: 0 0 20px;
}

.gray_block p{
	font-size: 20px;
	line-height: 28px;
	font-style: italic;
        text-align: inherit;
}

.gray_block a{
	color: #00b9ff;
}

.content_wrapper h4{
	font-weight: bold;
}

.content_wrapper .btn{
	margin: 30px 20px 50px 0;
}



/*-------  News Pages Style  -----------------------------*/


#news .contentSlider,
#news-template .contentSlider {
    background: url("/imagesv2/news-top-bg.jpg") no-repeat scroll center top #D3E5EB;
	background-size: cover;
}

#news .contentTab a[href="#tab-latest-news"]:before {
    background: url("/imagesv2/content/news-tab-menu-icons.png") no-repeat scroll 0px -1px transparent;
}

#news .contentTab a[href="#tab-comodo-in-the-news"]:before {
    background: url("/imagesv2/content/news-tab-menu-icons.png") no-repeat scroll 0px -46px transparent;
}
#news .contentTab a[href="#tab-news-archive"]:before {
    background: url("/imagesv2/content/news-tab-menu-icons.png") no-repeat scroll 0px -85px transparent;
}
#news .contentTab a[href="#tab-events"]:before {
    background: url("/imagesv2/content/news-tab-menu-icons.png") no-repeat scroll 0px -124px transparent;
}

#news .contentTab a:before {
/*    width: 25px;
    height: 21px;*/
}

.news_item_wrapper{
	border-top: 1px solid #e5e5e5;
}

.news_list .row:first-child .news_item_wrapper{
	border: 0 none;
	padding: 0 0 0;
}

.news_item{
	display: table-cell;
	padding: 0 0 35px 30px;
	width: 50%;
}

.news_item:first-child{
	padding: 0 30px 35px 0;
}

.news_item_wrapper{
	position: relative;
	padding: 35px 0 0;
}

.news_item .date{

}

.contentTab .row{
	display: table-row;
}

.date{
	line-height: 40px;
	color: #999999;
	font-size: 14px;
}

.gray_block.see_all{
	margin-bottom: 70px;
}

.gray_block.see_all p{
	font-style: normal;
}

.gray_block.see_all a{
	color: #35a1d4;
	background: url('/imagesv2/see-more-icon.png') no-repeat 0 center transparent;
	padding: 0 0 0 20px;
}

.viewing_info{
	font-size: 14px;
}

#news-template .content .middle {
    max-width: 800px;
}

.archive-menu ul {
	display: table-row;
}

.archive-menu li {
    display: inline-block;
    font-size: 30px;
    text-align: center;
    width: 7.3%;
}

.archive-menu li a {
    border-left: 1px solid #d7dadb;
    color: #666666;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.archive-menu li:first-child a {	
	border-left: 0 none;
}

.archive-menu li.active a {
	color: #35a1d4;
	text-decoration: underline;
}

/*---------------   Support tab style   -----------------------------------------------------------*/


#tab-support h2 {
    color: #111111;
    font-size: 36px;
    font-weight: 300;
    line-height: 40px;
    padding: 70px 0 50px;
}

#tab-support .chat-support {
    background: url("/imagesv2/chat-support-bg.png") no-repeat scroll right bottom #eef4f6;
    border-radius: 3px;
    display: block;
    float: left;
    height: 247px;
    padding: 22px 10% 31px 20px;
    width: 35%;
}

#tab-support .chat-support .chat_btn {
    background: url("/imagesv2/grey-btn.png") no-repeat scroll left top transparent;
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 2px #7c7e7f;
    text-transform: uppercase;
    width: 160px;
}

#tab-support .chat-support p {
    font-size: 18px;
    line-height: 22px;
    padding: 24px 0 45px;
}

#tab-support .chat-support h3 {
    font-size: 40px;
    padding: 0;
}

#tab-support .middle div {
    float: left;
    line-height: 20px;
    padding: 0 20px;
    width: 23%;
}

#tab-support .phone-title {
    color: #666666;
    display: inline-block;
    font-weight: 600;
    padding: 0 0 10px;
}

#tab-support .phone {
    color: #666666;
    display: inline-block;
    font-size: 32px;
    padding: 0 0 25px;
}

#tab-support .guide-title {
    background: url("/imagesv2/support-icons.png") no-repeat scroll left top transparent;
}

#tab-support .knowledgebase-title, #tab-support .guide-title {
    color: #222222;
    display: inline-block;
    font-size: 20px;
    line-height: 32px;
    margin: 0 0 20px;
    padding: 0 0 0 42px;
}

#tab-support .knowledgebase-title {
    background: url("/imagesv2/support-icons.png") no-repeat scroll left bottom transparent;
    margin-top: 20px;
}

.latest-news-container {
	padding: 0 18px;
	max-width:980px;
	margin:0 auto;
}
.latest-news-container ul li {
	display:block;
	border-bottom:1px solid #e5e5e5;
	padding-bottom:5px;
	margin-bottom:20px;
}
.latest-news-container ul li:last-child {
	border-bottom:none;
}

.article-list-container {
	padding: 0 18px;
	max-width:980px;
	margin:0 auto;
}
.article-list-container ul.article-items li {
	display:block;
	border-bottom:1px solid #e5e5e5;
	padding-bottom:5px;
	margin-bottom:20px;
}
.article-list-container ul.article-items li:last-child {
	border-bottom:none;
}




@media screen and (max-width: 520px) {

	.news_item {
		display: block;
		padding: 0 0 35px 0;
		width: 100%;
	}
	
	#tab-support div {
		width: 100%;
	}

}

@media screen and (max-width: 1000px) {
	
	#tab-support div {
		width: 100%;
	}
	
	#tab-support .chat-support{
		width: 85%;
	}

}