/* main navigation */

#main-nav{
    float: left;
    width: 100%;
    height: 48px;
    background: #fff;
    border-top: 1px solid #b5c5cb;
    border-bottom: 1px solid #b5c5cb;
}

#main-nav .main {
    position: relative;
    float: left;
    width: 100%;
    font-size: 0;
    margin: 0;
    text-align: center;
    display:table;
    width: 100%;
}

#main-nav .main>li {
    border-top: 3px solid #fff;
    display: table-cell;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#main-nav .main>li>a {
    position: relative;
    display: block;
    z-index: 2;
    /*color: #35a1d4;*/
    color: #187dad;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0;
    text-align: center;
    padding: 10px 50px 14px 50px;
    /*padding: 10px 52.03px 11px 52px;*/
    text-transform: uppercase;
    white-space: nowrap;
}
#main-nav .main>li:last-child>a {
     /*padding: 10px 0 10px 50px;*/
}

#main-nav .main>li>a:after {
    content: '';
    position: absolute;
    right: 0;
    top: 4px;
    width: 1px;
    height: 36px;
    background: #f0f2f3;
    float: right;
}

#main-nav .main>li:last-child>a:after {
    display: none;
}

#main-nav .main>li>a>span {
    line-height: 18px;
    font-family: 'Open Sans', sans-serif;
}

#main-nav .main>li:hover,
#main-nav .main>li.selected {
    border-top: 3px solid #00b9ff;
    background: #fff;
    -webkit-box-shadow: 0px 0px 5px #d8d8d8;
    -moz-box-shadow: 0px 0px 5px #d8d8d8;
    box-shadow: 0px 0px 5px #d8d8d8;
}

#main-nav .main>li:hover>a {
    background: #fff;
}

.menu-overlay {
    display: none;
    position: absolute;
    /*z-index: 998;*/
	z-index:1;
    top:0;
    left:0;
    width: 100%;
    height: 610%;
    background: #000;
    opacity: .8;
}


#main-nav .main>li>.full {
    display: none;
    position: absolute;
    font-size: 12px;
    z-index: 1;
    top: 49px;
    left:0;
    text-align: left;
    background: #fff;
    width: 100%;
    padding: 20px 30px;
    -webkit-box-shadow: 0px 0px 5px #d8d8d8;
    -moz-box-shadow: 0px 0px 5px #d8d8d8;
    box-shadow: 0px 0px 5px #d8d8d8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url("boxsizing.htc");
}




.full .box {
    float: left;  
    width: 100%;
    margin-bottom: 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border:1px solid #d3e5eb;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url("boxsizing.htc");    
}

.full .box .title {
    color:#666666;
    background: #d3e5eb;
    font-size: 22px;
    line-height: 22px;
    font-weight: 300;
    padding:9px 15px;
}

.full .box ul {
    float: left;
    width: 100%;
    padding:11px 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url("boxsizing.htc");     
}

.full .box ul li {
    position: relative;
    float: left;
    width: 50%;
}

.full .box ul li .image {
    position: absolute;
    left:0;
    width: 66px;
    text-align: center;
    margin-right: 5px;
    
}
.full .box ul li p {
    padding:3px 0 0 70px;
}

.full .box ul li p strong {
    display: block;
}

.full .box ul li a {
    color:#35a1d4;
    font-size: 16px;
    line-height: 18px;
}

.full .box ul li a:hover {
    color:#2683af;
}

.full .box .cont p { 
    color:#666666;
    font-size: 24px;
    line-height: 22px;
}

.full .box .cont p span {
    display: block;
    font-size: 14px;
}


.full .box .logos {
    float: left;
    width: 149px;
    text-align: center;
    border-right: 1px solid #cccccc;
}
.full .box .logos li {
    padding:0;
}
.full .box .logos li:first-child {
    margin-bottom: 20px;
}
.full .box .logos .image {
    position: relative;
    left: auto;
    float: left;
    width: 100%;
    text-align: center;
}
.full .box .logos li p {
   color:#666666;
   font-size: 15px; 
   margin-top:10px;
   padding:0;
}


.full .box .cont .hp {
    float: left;
    margin:90px 0 0 20px;
    font-size: 26px;
    line-height: 24px;
    color:#666666;
}
.full .box .cont .hp strong {
    display: block;
}
.full .box .padding {
    color:#666666;
    float: left;
    width: 100%;
    padding:13px 15px 2px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url("boxsizing.htc");      
}

.full .box .padding p {
    font-size: 15px;
    line-height: 17px;
}
.full .box .padding p a {
    color:#35a1d4;
    text-decoration: underline;
}
.full .box .padding p a:hover {
    color:#20769e;
}

.full .box.browser-box ul li  {
    width: 33%;
}

.full .box.browser-box ul li .image {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;
}

.full .box.browser-box ul li p {
    padding: 0;
    text-align: center;
}

.full .box.browser-box ul {
    padding: 6px 5px;
}





/* personal menu */

.full.personal .leftS {
    float: left;
    width: 60%;
    height: 100%;
    padding-right: 5%;
    margin-right: 4%;
    border-right: 1px solid #cccccc;
}

.full.personal .leftS .title {
    color: #111111;
    font-weight: 300;
    font-size: 26px;
    line-height: 26px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #cccccc;
}

.full.personal .leftS .title:after {
    content: '';
    display: inline-block;
    width: 122px;
    height: 32px;
    margin: 0 0 0 30px;
    background: url('../imagesv2/megamenu/labels.png') no-repeat;
}

.full.personal .leftS .block {
    float: left;
    color: #000;
}

.full.personal .leftS .block.sLeft {
    width: 60%;
    margin-right: 5%
}

.full.personal .leftS .block.sLeft ul {
    float: left;
    width: 100%;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.full.personal .leftS .block.sLeft>ul li {
    float: left;
    width: 48%;
}

.full.personal .leftS .block.sLeft>ul li:first-child {
    margin-right: 4%;
}

.full.personal .leftS .block.sLeft>ul li .image {
    float: left;
    width: 100%;
}
.full.personal .leftS .block.sLeft>ul li .image img {
    max-width: 100%;
}
.full.personal .leftS .block.sLeft>ul li p {
    color: #666666;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 10px;
}

.full.personal .leftS .block.sLeft>ul li p span {
    font-size: 13px;
    display: block;
}

.full.personal .leftS .block.sLeft .btn,
.full.personal .leftS .block.sLeft .btnFBlue {
    margin-bottom: 10px;
    padding:5px;
    height: 28px !important;
    line-height: 28px;
}
.full.personal .leftS .block.sLeft .btn.arrow span:after {
    width: 26px;
    height: 26px;
    background-size: 100% 100%;
    margin-top:1px;
}
.full.personal .leftS .block.sLeft .bottom {
    float: left;
    width: 100%;
}

.full.personal .leftS .block.sLeft .bottom .image {
    float: left;
    width: 40%;
}

.full.personal .leftS .block.sLeft .bottom ul {
    float: right;
    width: 60%;
    margin: 5px 0 0 0;
    padding:0;
    border:0;
}
.full.personal .leftS .block.sLeft .bottom ul li {
    float: left;
    width: 100%;
    padding:10px 0 0 22px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url("boxsizing.htc");     
}
.full.personal .leftS .block.sLeft .bottom ul li a {
    color:#35a1d4;
    font-size: 22px;
    line-height: 22px;
    font-weight: 300;
}
.full.personal .leftS .block.sLeft .bottom ul li a:hover {
    color:#237da8;
}
.full.personal .leftS .block.sLeft .bottom ul li a span {
    display: block;
    color:#999999;
    font-size: 16px;
}

.full.personal .leftS .block.sLeft .bottom ul li.bubbles {
    background: url('../imagesv2/megamenu/icons/bubbles.png') no-repeat top 15px left;
}
.full.personal .leftS .block.sLeft .bottom ul li.lock {
    background: url('../imagesv2/megamenu/icons/lock.png') no-repeat top 15px left 2px;
}

.full.personal .leftS .block.sRight {
    width: 35%
}
.full.personal .leftS .block.sRight ul {
    float: left;
    width: 100%;
    height: 336px;
    border-bottom: 1px solid #cccccc;
}
.full.personal .leftS .block.sRight ul li {
    padding:6px 0;
}
.full.personal .leftS .block.sRight ul a {
    display: block;
    color:#35a1d4;
    font-weight: 300;
    font-size: 16px;
    padding-left: 15px;
    background: url('../imagesv2/megamenu/icons/bullet.png') no-repeat top 7px left;
}
.full.personal .leftS .block.sRight ul a:hover {
    color:#237da8;
}


.full.personal .leftS .block.sRight .antivirus {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.full.personal .leftS .block.sRight .antivirus>a {
    display: table;
    height: 41px;
    color:#35a1d4;
    font-size: 22px;
    line-height: 22px;
    font-weight: 300;
    margin-top: 10px;
    background: url('../imagesv2/megamenu/icons/antivirus.png') no-repeat top left
}
.full.personal .leftS .block.sRight .antivirus>a:hover {
    color:#237da8;
}
.full.personal .leftS .block.sRight .antivirus>a span {
    padding-left: 55px;
    display: table-cell;
    vertical-align: middle;
}

.full.personal .rightS {
    float: right;
    margin: 0;
    width: 30%;
}


.full.personal .rightS .banner {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.full.personal .rightS .banner img {
    width: 100%;
}
.full.personal .rightS .banner.last {
    margin-bottom: 0;
}


/*eCommerce*/

.full.eCommerce .block {
    float: left;
    width: 100%;
}


.full.eCommerce .block figure {
    float: left;
    width: 18%;
    min-height: 120px;
    padding-right: 5px;
    margin-right: 15px;
    border-right:1px solid #cccccc;
}

.full.eCommerce .block figure.last {
    margin-right: 0;
    padding-right: 0;
    border:0;
}

.full.eCommerce .block figure h2 {
    color:#35a1d4;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 10px;
}
.full.eCommerce .block figure span {
    color: #35a1d4;
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 10px;
}
.full.eCommerce .block ul li {
    padding:5px 0;
    width: 100%;
}
.full.eCommerce .block ul a {
    display: block;
    color:#8ea9b1;
    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
    padding-left: 15px;
    background: url('../imagesv2/megamenu/icons/bullet2.png') no-repeat top 3px left;
}
.full.eCommerce .block ul li.ftrs {
    display: block;
    color:#8ea9b1;
    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
    padding-left: 15px;
    background: url('../imagesv2/megamenu/icons/bullet2.png') no-repeat top 8px left;
}
.full.eCommerce .block ul a:hover {
    color:#627d85;
}
.full.eCommerce .ribbon{
    float: left;
    width: 100%;
    height: 73px;
    position:relative;
    margin:25px 0 15px 0;
}

.full.eCommerce .green-ribbon{
    position:absolute;
    background: url('../imagesv2/megamenu/green-ribbon.png') no-repeat;
    width:753px;
    height:73px;
    left: -41px;
    top:0;
}

.full.eCommerce .red-ribbon{
    position:absolute;
    background: url('../imagesv2/megamenu/red-ribbon.png') no-repeat;
    width:512px;
    height:73px;
    right: -41px;
    top:0;
}

.full.eCommerce .green-ribbon span {
    font-size: 24px;
    color:#fff;
    line-height: 60px;
    margin-left: 50px;
    text-transform: none
}

.full.eCommerce .red-ribbon a {
    display: block;
    font-size: 24px;
    color:#fff;
    line-height: 60px;
    margin-left: 50px;
    text-transform: none
}

.full.eCommerce .col {
    float: left;
}

.full.eCommerce .col.first {
    width: 32.2%;
    margin-right: 1.5%;    
}


.full.eCommerce .col.first .box {
    margin:0;
    background: url('../imagesv2/megamenu/pci2.png') no-repeat bottom left;
    height: 271px;
}
.full.eCommerce .col.first .box .cont {
    float: left;
    padding:23px 0 0 144px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url("boxsizing.htc");     
}

.full.eCommerce .col.first .box .cont .btn {
    padding:5px 10px;
    margin-top: -5px;
    margin-bottom: 10px;
}


.full.eCommerce .col.second {
    width: 37.2%;
    margin-right: 1.5%;
}
.full.eCommerce .col.second .box {
    margin:0;
    height: 271px;
    background: url('../imagesv2/megamenu/hackerproof.png') no-repeat bottom right;
}

.full.eCommerce .col.second .box .cont {
    padding:10px 0 10px 27px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url("boxsizing.htc");        
}

.full.eCommerce .col.last {
    width: 27.6%
}

.full.eCommerce .col.last .box.last {
    margin-bottom: 0 !important;
}
.full.eCommerce .col.last .box.first {
    margin-bottom: 20px;
}
.full.eCommerce .col.last .box.first .padding p {
    float: left;
    width: 60%;
}

.full.eCommerce .col.last .box.first .padding .btn {
    float: left;
    width: 30%;
    line-height: 17px;
    padding:5px 10px;
}
/* Business & Enterprise*/

.full.business .block {
    float: left;
    width: 100%;
}
.full.business .block figure {
    float: left;
    width: 32.33%;
    margin-right:1.5%;
}
.full.business .block figure.last {
    margin-right: 0;
}

.full.business .certificate {
    margin-bottom: 7px;
}
.full.business .certificate li{
    border-bottom:1px solid #eee;
    display:block;
    text-transform: none;
    font-size: 26px;
    padding:4% 0 4% 0;
    margin:0px;
}

.full.business .certificate li a {
    /*display: table;*/
    display: block;
    font-size: 22px;
    line-height: 26px;
    min-height: 40px;
    color:#35a1d4;
    padding-top: 6px;
}
.full.business .certificate li a span {
    display: table-cell;
    vertical-align: middle;
}
.full.business .certificate li:hover{
    color:#16729d;
}
.full.business .certificate li:before {
    content:'';
    float: left; 
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.full.business .certificate li.cssl:before{
    background: url('../imagesv2/megamenu/icons/icons.png') no-repeat left 0;
}

.full.business .certificate li.wssl:before{
    background: url('../imagesv2/megamenu/icons/icons.png') no-repeat left -77px;
}

.full.business .certificate li.essl:before{
    background: url('../imagesv2/megamenu/icons/icons.png') no-repeat left -155px;
}

.full.business .certificate li.ussl:before{
    background: url('../imagesv2/megamenu/icons/icons.png') no-repeat left -233px;
}

.full.business .certificate li.fssl:before{
    background: url('../imagesv2/megamenu/icons/icons.png') no-repeat left -311px;
    border:0;
}
.full.business .certificate li.mdm:before{
    background: url('../imagesv2/megamenu/icons/icons.png') no-repeat left -389px;
    border:0;
}
.full.business .certificate li:last-child {
    border:0;
}
.full.business .block-fill {
    float: left;
    width: 100%;
    overflow: hidden;
    background: #f2f8fa;
    border:1px solid #d3e5eb;
    color:#8ea9b1;
    font-size: 15px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url("boxsizing.htc");       
}
.full.business .block-fill p {
    color:#8ea9b1;
    font-size: 15px;
    line-height: 17px;
}

.full.business .block-fill .title {
    display:block;
    font-size: 22px;
    color:#333;
}
.full.business .first .block-fill {
    min-height: 114px;
    margin-top:19px;
}

.full.business .first .block-fill p {
    padding:0 15px 10px 15px;
}

.full.business .first .block-fill .title {
    padding:10px 15px 5px 50px;
    background: url('../imagesv2/megamenu/icons/cs-certificate.png') no-repeat 18px 18px;
}

.full.business .second .block-fill {
    height:108px;
    margin-bottom: 10px;
}
.full.business .second .block-fill p {
    padding:0 15px 10px 104px;
}

.full.business .second .block-fill .title { 
    padding:10px 15px 5px 104px;
}

.full.business .block-fill.promo-pki{
    background: #f2f8fa url('../imagesv2/megamenu/pki.png') no-repeat left bottom;
}

.full.business .block-fill.cmdenterprise{
    /*background: #f2f8fa url('../imagesv2/megamenu/twof.png') no-repeat left bottom;*/
    background: #f2f8fa url('../imagesv2/megamenu/comodo-enterprise-solutions.png') no-repeat -20px bottom;
}

.full.business .block-fill.promo-twof{
    /*background: #f2f8fa url('../imagesv2/megamenu/twof.png') no-repeat left bottom;*/
    background: #f2f8fa url('../imagesv2/megamenu/stap.png') no-repeat -20px bottom;
}

.full.business .block-fill.promo-pci{
    background: #f2f8fa url('../imagesv2/megamenu/pci.png') no-repeat left bottom;
}

.full.business .second .box.last {
    margin-bottom: 0;
}

.full.business .second .box.last ul li {
    min-height:53px;
}
.full.business .last .box .image {
    float: left;
    width:65px;
    height: 55px;
    margin-right: 5px;
} 
.full.business .last .box .image2 {
    float: left;
    width:65px;
    height: 40px;
    margin-right: 5px;
    padding-top:15px;
} 
.full.business .last .box .padding .rw {
    height: 60px;
    border-bottom: 1px solid #ededed;
}
.full.business .last .box .padding>a, .full.business .last .box .padding .rw>a {
    color:#35a1d4;
    display: inline-block;
    font-size: 22px;
    line-height: 24px;
    padding-top: 16px;
}
.full.business .last .box .padding>a span {
    display: block;
}


.full.business .last .box .padding ul {
    float: left;
    width: 100%;
    padding-top: 15px;
    margin-top: 15px;
    border-top:1px solid #cccccc;
}

.full.business .last .box .padding ul li {
    width: 100%;
    padding:0 0 5px 0;
}
.full.business .last .box .padding ul li:last-child {
    padding:0;
}
.full.business .last .box .padding ul li a {
    font-size: 18px;
}


.full.business .last .block-fill ul li {
    float: left;
    width: 100%;
    padding:3px 0;
}
.full.business .last .block-fill {
    padding:5px 15px 4px 15px;
    margin-bottom: 5px;
}
.full.business .last .block-fill ul li:before {
    content:'';
    float:left;
    width: 35px;
    height: 39px;
    margin-right: 15px;
}
.full.business .last .block-fill ul li.comodo-agw:before {
    background: url('../imagesv2/megamenu/icons/icons2-small.png') no-repeat -2px 0;
}

.full.business .last .block-fill ul li.se-certificate:before{
    background: url('../imagesv2/megamenu/icons/icons2-small.png') no-repeat -2px -40px;
}

.full.business .last .block-fill ul li.comodo-one:before {
    background: url('../imagesv2/megamenu/icons/icons2-small.png') no-repeat -2px -80px;
}

.full.business .last .block-fill ul li.cwatch-network:before {
    background: url('../imagesv2/megamenu/icons/icons2-small.png') no-repeat -2px -120px;
}

.full.business .last .block-fill ul li.comodo-dome:before {
    background: url('../imagesv2/megamenu/icons/icons2-small.png') no-repeat -2px -161px;
}

.full.business .last .block-fill ul li.service-desk:before {
    background: url('../imagesv2/megamenu/icons/icons2-small.png') no-repeat -2px -204px;
}

.full.business .last .block-fill ul li.assessment-tool:before {
    background: url('../imagesv2/megamenu/icons/icons2-small.png') no-repeat -2px -245px;
}

.full.business .last .block-fill ul li a {
    display: table;
    font-size:22px;
    line-height: 24px;
    /*min-height: 40px;*/
    color:#35a1d4;
}
.full.business .last .block-fill ul li a span {
    display: table-cell;
    vertical-align: middle;
}
.full.business .last .block-fill ul li a span.small {
    font-size: 16px;
    padding-top: 6px;
}
.full.business .last .box.last {
    height: 116px;
    margin-bottom: 0;
}

/* full partners */

.full.partners .block {
    float: left;
    width: 100%;
}


.full.partners .block figure {
    float: left;
    width: 31.2%;
    height: 155px;
    padding-right: 1.5%;
    margin-right: 1.5%;
    border-right: 1px solid #cfcfcf;
}


.full.support .row figure > div.topic-block {
    color: #333333;
    font-size: 26px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 10px;
}

.full.partners .block figure.last {
    margin-right: 0;
    border-right: 0;
    padding-right: 0;
}
.full.support .row figure > div.topic-block span {
    display: block;
    font-size: 15px;
}
.full.partners .block figure > div.topic-block {
    color: #333333;
    font-size: 26px;
    font-weight: normal;
    line-height: 26px;
    margin-bottom: 25px;
}
.full.partners .block figure>h2 {
    color:#333333;
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 25px;
}

.full.partners .block figure figcaption>p {
    color:#88a5ae;
    font-size: 15px;
    line-height: 16px;
    margin-bottom: 0px;
}

.full.partners .block figure figcaption>a {
    color:#35a1d4;
    font-size: 15px;
    line-height: 16px;
    text-decoration: underline;
}

/* support */
.full.support {
    background: url('../imagesv2/megamenu/geekbuddy-bg.png') #fff no-repeat right 0 bottom 48px !important;
}
.full.support .row {
    float: left;
    width: 100%;
}

.full.support .row figure {
    float: left;
    height: 100%; 
}

.full.support .row .first {
    width: 43.5%;
    padding-right: 1.5%;
    margin-right: 1.5%;
    border-right: 1px solid #cfcfcf;
}
.full.support .row figure>h2 {
    color:#333333;
    font-weight: 300;
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 10px;
}
.full.support .row figure>h2 span {
    display: block;
    font-size: 15px;
}
.full.support .row .first .col {
    float: left;
    width: 50%;
}
.full.support .row .first .col p {
    color:#666666;
    font-size: 12px;
    padding: 0;
}


.full.support .row .second {
    width: 21.2%;
    padding-right: 1.5%;
    margin-right: 1.5%;
    border-right: 1px solid #cfcfcf;
}


.full.support ul {
    margin:10px 0;
}
.full.support ul li {
    padding:5px 0;
    display: block;
    color:#35a1d4;
    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
    padding-left: 15px;
    background: url('../imagesv2/megamenu/icons/bullet.png') no-repeat top 7px left;
}
.full.support ul li a {
    color:#35a1d4;
}

.full.support ul li a:hover {
    color:#2c88b3;
}

.full.support .btn {
    padding:3px 80px;
}
.full.support .btn.arrow span:after {
    width: 26px;
    height: 26px;
    background-size: 100% 100%;
    margin-top: -2px;
}
.full.support .row .last > div.sp a{
    color: #35a1d4;
    display: block;
    font-size: 26px;
}
.full.support .first .btn.arrow span:after,
.full.support .second .btn.arrow span:after {
    position: absolute;
    float: none;
    right: -70px;
}
.full.support .row .last {
    width: 26.2%;
}

.full.support .row .last>h2 {
    font-size: 15px;
    color:#333333;
    margin-bottom: 68px;
}
.full.support .row .last>h2 a {
    display: block;
    color:#35a1d4;
    font-size: 26px;
}
.full.support .row .last .btn {
    text-transform: uppercase;
    padding:3px 0;
}
.full.support .row .last .btn span {
    white-space: nowrap;
}
.full.support .last .btn.arrow span:after {
    margin-right: 5px;
}




/* responsive */
@media screen and (max-width: 1280px) {
    #main-nav .main>li>.full {
        padding: 20px 10px;
    }
    /*eCommerce*/
    .full.eCommerce .red-ribbon {
        position: relative;
        float: left;
        width: 50%;
        right: 0;
        height: 70px;
        background: #eb1f1f;
    }
    .full.eCommerce .green-ribbon {
        position: relative;
        float: left;
        width: 50%;
        left: 0;
        height: 70px;
        background: #1b9d4e;
    }
    .full.eCommerce .red-ribbon a,
    .full.eCommerce .green-ribbon span {
        display: table-cell;
        vertical-align: middle;
        font-size: 20px;
        line-height: 20px;
        margin:0;
        padding:10px;
    }
    /*business*/
    .full.business .second .block-fill,
    .full.business .last .box.last {
        height: auto;
    }
    /* support */
    .full.support .row figure{
        height: auto;
        border-right:0 !important;        
    }    
}

@media screen and (max-width: 1100px) {}

@media screen and (max-width: 960px) {
    /* personal menu */
    .full.personal .leftS .block.sRight ul {
        height: auto;
    }
    .full.personal .leftS .block.sLeft .bottom .image {
        display: none;
    }
    .full.personal .leftS .block.sLeft .bottom ul {
        width: 100%;
    }

    .full .box ul li .image {
        width: 100%;
        position: relative;
    }
    .full .box ul li p {
        padding-left: 0;
        text-align: center;
    }
    .full.personal .leftS .title:after {
        display: none;
    }
    /*eCommerce*/

    .full.eCommerce .block figure {
        margin:0 0 10px 0;
        border:0;
        padding:0;
        width: 33.333%;

    }
    .full.eCommerce .col.first {
        width: 49%;
        margin-right: 1%;
    }
    .full.eCommerce .col.second {
        width: 50%;
        margin-right: 0;
    }
    .full.eCommerce .col.last {
        width: 100%;
        margin-top: 10px;
    }
    .full.eCommerce .col.last .box {
        width: 50%;
        margin-bottom: 0;
    }
    .full.eCommerce .col.last .box.first {
        width: 49%;
        margin-right: 1%;
    }
    /*business*/
    .full.business .block figure.first {
        width: 50%;
    }
    .full.business .block figure.second {
        width: 48.5%;
        margin-right: 0;
    }
    .full.business .block figure.last {
        width: 100%;
        margin-top:10px;
    }

    /* partners*/
    .full.partners .block figure {
        height: auto;
        border:0;
    }
    /* support */
    .full.support .row .first {
        width: 100%;
        padding-right: 0;
        margin: 0 0 10px 0;      
    }   
    .full.support .row .second {
        width: 47%;
    }
    .full.support .last .btn {
        padding-right: 10px !important;
        padding-left: 10px !important;
        display: inline-block;
    }
    .full.support .last .btn.arrow span:after {
        display: none;
    }

}


@media screen and (max-width: 760px) {
    
    #main-nav {
        height: auto;
    }
    #main-nav .middle {
        padding:0;
    }

    #main-nav .main>li {
        float: left;
        width: 100%;
        border-top:0 !important;
        border-bottom:1px solid #ccc;
    }
    #main-nav .main>li:last-child {
        border-bottom: 0;
    }

    #main-nav .main>li.selected>a {
        background: #00b9ff;
        color:#fff;
    }
    
    
    #main-nav .main>li>a {
        font-weight: 700;
    }


    #main-nav .main>li>a:after {
        display: none;
    }
    #main-nav .main>li>.full {
        position: relative;
        top:0;
        left: 0;
        float: left;
        height: 100%;
    }

    .menu-overlay {
        display: none !important;
    }







    /* personal menu */
    .full.personal .leftS .block.sLeft,
    .full.personal .leftS .block.sRight {
        width: 100%;
        margin-right: 0;
    }    
    .full.personal .leftS .block.sRight {
        -webkit-column-count: 2; 
        -moz-column-count:2;
        column-count: 2;
        margin-top: 10px;
    }
    /*eCommerce*/
    .full.eCommerce .block figure {
        width: 50%;

    }

}
@media screen and (max-width: 640px) {
    /* personal menu */
    .full.personal .leftS {
        width: 100%;
        border-right: 0;
        margin-right: 0;
        padding-right: 0;
    }
    .full.personal .rightS {
        width: 100%;
        float: left;
        margin-top: 10px;
        
    }
    .full.personal .leftS .block.sRight {
        -webkit-column-count: 1; 
        -moz-column-count:1;
        column-count: 1;        
    }
    /*eCommerce*/
    .full.eCommerce .ribbon {
        margin:0 0 10px 0;
        height: auto;
    }
    .full.eCommerce .green-ribbon {
        display: none;
    }
    .full.eCommerce .red-ribbon {
        width: 100%;
        height: auto;
    }    
    .full.eCommerce .col.first,
    .full.eCommerce .col.second  {
        width: 100%;
        margin:0;
    }
    .full.eCommerce .col.first {
        margin-bottom: 10px;
    }
    .full.eCommerce .col.last .box {
        width: 100% !important;
        margin:0 !important;        
    }

    .full.eCommerce .col.last .box.first {
        margin-bottom: 10px !important;
    }
    .full.eCommerce .col.last .box.first .padding p {
        width: 100%;
        margin-bottom: 5px;
    }
    /*business*/
    .full.business .block figure.first,
    .full.business .block figure.second {
        width: 100%;
        margin:0;
    }
    .full.business .block figure.first,
    .full.business .second .block-fill {
        margin-bottom: 10px;
    }
    /* support */
    .full.support {
        background: transparent !important;
    }
    .full.support .row figure {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;

    }
    .full.support .row .first .btn {
        margin-bottom: 10px;
    }
    .full.support .row .last>h2 {
        margin-bottom: 10px;
    }
    .full.support .row .second {
        width: 100%;
        padding-right: 0;
        margin: 0 0 10px 0;      
    }   
    
    .full.support .row .last {
        width: 100%;
        border:0;
    }
    .full.support .row .first .col {
        width: 100%;
    }



}
@media screen and (max-width: 520px) {
    /* personal menu */
    .full.personal .leftS .block.sLeft>ul li .image {
        display: none;
    }

}


@media screen and (max-width: 480px) {
    /* personal menu */
    #main-nav .middle {
        padding:0;

    }
    .full.personal .leftS .block.sLeft>ul li {
        width: 100%;
        margin-right: 0;
    }
    .full .box ul li:first-child {
        margin-bottom: 10px;
    }
    .full .box ul li {
        width: 100%;
    }

    /*eCommerce*/
    .full.eCommerce .block figure {
        width: 100%;
        margin:0;

    }
    .full.eCommerce .col .box {
        background: none !important;
    }
    .full.eCommerce .col .box .cont {
        padding:10px !important;
    }
    /* partners*/
    .full.partners .block figure {
        width:100%;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #ccc;
    }
    .full.partners .block figure.last {
        margin-bottom: 0;
        border:0;
    }
    .full.partners .block figure>h2 {
        margin-bottom: 5px;
    }
}


