.rsVisibleNearbyWrap {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	left: 0;
	top: 0;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.rsVisibleNearbyWrap .rsOverflow {
	position: absolute;
	left: 0;
	top: 0;

}
.rsArrow {
	width: 25px;
	height: 44px;
	position: absolute;
	display: block;
	cursor: pointer;
	z-index: 21;
}
.rsVer .rsArrow {
	width: 25px;
	height: 44px;
	
}
.rsVer .rsArrowLeft { bottom: 0; left: 0; }
.rsVer .rsArrowRight { bottom: 0;  left: 0; }

.rsHor .rsArrowLeft { left: 50px; top: 250px; width: 25px; height: 44px; }
.rsHor .rsArrowRight { right: 50px; top: 250px; width: 25px; height: 44px; }


.rsArrowIcn {		
	width: 25px;
	height: 44px;
	position: absolute;	
	cursor: pointer;	
	background: url('arrows.png');
	opacity: 0.5;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;	
}

.rsArrowIcn:hover {
	opacity: 1;
}

.rsHor .rsArrowLeft .rsArrowIcn { background-position: 0 0 }
.rsHor .rsArrowRight .rsArrowIcn { background-position: -25px 0; }


.rsArrowDisabled .rsArrowIcn { opacity: .4; *display: none; }

/* v1.0.2 */
/* Core RS CSS file. 95% of time you shouldn't change anything here. */
.royalSlider {
	position: relative;
	width: 100%;
	height: auto !important;
}

.rsOverflow {
	width: 100%;
	position: relative;
	overflow: hidden;
	float: left;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.rsContainer {
	position: relative;
	width: 100%;
	height: 100% !important;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.rsArrow,
.rsThumbsArrow {
	cursor: pointer;
}

.rsArrow,
.rsNav,
.rsThumbsArrow {
	opacity: 1;
	-webkit-transition:opacity 0.3s linear;
	-moz-transition:opacity 0.3s linear;
	-o-transition:opacity 0.3s linear;
	transition:opacity 0.3s linear;
}
.rsHidden {
	opacity: 0;
	visibility: hidden;
	-webkit-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
	-moz-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
	-o-transition:visibility 0s linear 0.3s,opacity 0.3s linear;
	transition:visibility 0s linear 0.3s,opacity 0.3s linear;
}

.royalSlider .rsSlide.rsFakePreloader {
	opacity: 1 !important;
	-webkit-transition: 0s;
	-moz-transition: 0s;
	-o-transition:  0s;
	transition:  0s;
	display: none;
}

.rsSlide {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	display: block;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide {
	height: auto;
}
.rsAutoHeight .rsSlide {
	height: auto !important;
}
.rsContent {
	width: 100%;
	height: 100%;
	position: relative;
}

.rsPreloader {
	position:absolute;
	z-index: 0;	
}

.rsNav {
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	user-select: none;
}
.rsNavItem {
	-webkit-tap-highlight-color:rgba(0,0,0,0.25);
}

.rsABlock {
	left: 0;
	top: 0;
	position: absolute;
	z-index: 15;
	-webkit-backface-visibility: hidden;
}

.grab-cursor {
	cursor:url("grab.png") 8 8, move; 
}

.grabbing-cursor{ 
	cursor:url("grabbing.png") 8 8, move;
}

.rsNoDrag {
	cursor: auto;
}

.rsLink {
	left:0;
	top:0;
	position:absolute;
	width:100%;
	height:100%;
	display:block;	
	z-index: 20;
	background: url("blank.gif");
	-webkit-backface-visibility: hidden;
}
.rsBullets {
	position: absolute;
	z-index: 35;
	left: 0;
	bottom: 31px;
	width: 100%;
	height: auto;
	margin: 0 auto;
	text-align: center;
	line-height: 8px;
	overflow: hidden;
}

.rsBullet {
	display: inline-block;
	 *display:inline;
	 *zoom:1;
	 cursor: pointer;
}

.rsBullet span {
	display: block;
	background: url('bullet.png') no-repeat;
	width:21px;
	height: 18px;
}

.rsBullet.rsNavSelected span {
	background: url('bullet-select.png') no-repeat;
	width:21px;
	height: 18px;
	-webkit-animation: spinnerRotate 1s infinite linear;
    -moz-animation: spinnerRotate 1s infinite linear;
    -ms-animation: spinnerRotate 1s infinite linear;
    -o-animation: spinnerRotate 1s infinite linear;
    animation: spinnerRotate 1s infinite linear;
}
