h2.category-heading {
  font-family: "Montserrat", Arial, sans-serif;
  text-transform: uppercase;
  position: relative;
  left: 0;
  top: 0;
  text-align: center;
  margin: 0 0 0.5em; }

.categories .sixteen-grid {
  padding: 0 20px; }
  .categories .sixteen-grid li {
    width: 110px;
    height: 100px;
    background: #fff;
    text-align: center;
    display: inline-block;
    margin: 0 16px 20px; }
    .categories .sixteen-grid li a {
      display: block;
      position: relative;
      height: 100%;
      box-sizing: border-box;
      font-family: "Montserrat", Arial, sans-serif; }
    .categories .sixteen-grid li .ic_container {
      position: absolute;
      top: 50%;
      left: 50%;
      right: auto;
      margin: -10px 0 0 -16px; }

@media (min-width: 1024px) and (max-width: 1279px) {
  .categories .sixteen-grid {
    padding: 0; } }

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .categories .sixteen-grid {
    padding: 0 0; }
    .categories .sixteen-grid li {
      margin: 0 18px 20px; } }

@media (max-width: 767px) {
  .categories {
    padding: 0; }
    .categories .sixteen-grid {
      padding: 0; }
      .categories .sixteen-grid li {
        width: 320px !important;
        height: auto;
        padding: 0;
        margin: 0 auto;
        background: #fff;
        border: 1px solid #ccc;
        box-sizing: border-box;
        position: relative; }
        .categories .sixteen-grid li a {
          display: block;
          text-align: left;
          font-size: 1em;
          padding: 0.5em 1em; }
        .categories .sixteen-grid li img {
          display: none; }
        .categories .sixteen-grid li .ic_container {
          position: absolute;
          top: 50%;
          left: auto;
          right: 1em;
          margin: -8px 0 0 0; } }

.ic_art_supplies {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url(../images/category-sprite.png);
  background-position: -192px 0px; }

.ic_baking_party {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url(../images/category-sprite.png);
  background-position: -192px -128px; }

.ic_beads_jewelry {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url(../images/category-sprite.png);
  background-position: -192px -256px; }

.ic_canvas {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url(../images/category-sprite.png);
  background-position: -192px -384px; }

.ic_crafts_hobbies {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url(../images/category-sprite.png);
  background-position: -192px -512px; }

.ic_custom_products {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url(../images/category-sprite.png);
  background-position: -192px -640px; }

.ic_floral_decor {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url(../images/category-sprite.png);
  background-position: -192px -768px; }

.ic_frames {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url(../images/category-sprite.png);
  background-position: -432px 0px; }

.ic_kids {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url(../images/category-sprite.png);
  background-position: -432px -128px; }

.ic_knitting_crochet {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url(../images/category-sprite.png);
  background-position: -432px -256px; }

.ic_papercraft {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url(../images/category-sprite.png);
  background-position: -432px -384px; }

.ic_sewing {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url(../images/category-sprite.png);
  background-position: -432px -512px; }

.ic_tech_diy {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url(../images/category-sprite.png);
  background-position: -432px -640px; }

.ic_wedding {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url(../images/category-sprite.png);
  background-position: -432px -768px; }

@media (max-width: 767px) {
  .ic_art_supplies {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../images/category-sprite.png);
    background-position: -224px 0px; }
  .ic_baking_party {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../images/category-sprite.png);
    background-position: -224px -128px; }
  .ic_beads_jewelry {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../images/category-sprite.png);
    background-position: -224px -256px; }
  .ic_canvas {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../images/category-sprite.png);
    background-position: -224px -384px; }
  .ic_crafts_hobbies {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../images/category-sprite.png);
    background-position: -224px -512px; }
  .ic_custom_products {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../images/category-sprite.png);
    background-position: -224px -640px; }
  .ic_floral_decor {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../images/category-sprite.png);
    background-position: -224px -768px; }
  .ic_frames {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../images/category-sprite.png);
    background-position: -464px 0px; }
  .ic_kids {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../images/category-sprite.png);
    background-position: -464px -128px; }
  .ic_knitting_crochet {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../images/category-sprite.png);
    background-position: -464px -256px; }
  .ic_papercraft {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../images/category-sprite.png);
    background-position: -464px -384px; }
  .ic_sewing {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../images/category-sprite.png);
    background-position: -464px -512px; }
  .ic_tech_diy {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../images/category-sprite.png);
    background-position: -464px -640px; }
  .ic_wedding {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../images/category-sprite.png);
    background-position: -464px -768px; } }
