.edv-block {
  border: 0px; }

.edv-block + script + div > .slider-wrapper.horizontal-slider {
  border: 4px solid #000;
  border-top: 0; }

.edv-banner {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  background: #000;
  text-align: center;
  padding: 0 1em;
  box-sizing: border-box;
  display: block;
  position: relative;
  height: 80px; }
  .edv-banner .edv-logo {
    display: block;
    position: absolute;
    top: 50%;
    left: 0em;
    transform: translateY(-50%);
    width: 80%; }
    .edv-banner .edv-logo img {
      height: 80px;
      display: inline;
      vertical-align: middle; }
    .edv-banner .edv-logo h2 {
      font-size: 1.5em;
      font-family: "Montserrat",Arial,sans-serif;
      color: #fff;
      text-transform: uppercase;
      margin: 0 0 0 0.5em;
      display: inline-block; }
  .edv-banner .edv-cta {
    position: absolute;
    top: 50%;
    right: 0em;
    transform: translateY(-50%);
    width: 20%; }
    .edv-banner .edv-cta button {
      background: #000;
      display: block;
      margin: 0 auto; }
      .edv-banner .edv-cta button:hover {
        background: #000; }

.product-slider .slider-wrapper.horizontal-slider {
  width: 100%;
  max-width: 1280px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  box-sizing: border-box; }

.jcarousel {
  margin: 0 auto; }
  .jcarousel ul li.grid-tile {
    background: transparent;
    box-shadow: none;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 196px;
    height: 345px;
    box-sizing: border-box;
    border: 1px solid #fff;
    margin: 0; }

.slider-wrapper.horizontal-slider {
  padding: 0; }

.slider-wrapper .slider-title {
  font-family: "Montserrat",Arial,sans-serif;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1em; }

.slider-wrapper .product-tile .product-name {
  background: #fff;
  margin: 0;
  padding: 10px 10px 0;
  box-sizing: border-box;
  text-align: left;
  font-family: "Montserrat",Arial,sans-serif;
  color: #333;
  font-size: 1em;
  text-transform: capitalize; }

.slider-wrapper .product-image {
  padding: 0;
  margin: 20px auto 0;
  min-height: 150px;
  float: none; }
  .slider-wrapper .product-image a {
    display: block; }

.slider-wrapper .product-pricing {
  padding: 0 10px 10px;
  display: block;
  width: 100%;
  clear: both;
  text-align: left; }
  .slider-wrapper .product-pricing .product-sales-price {
    font-size: 13.6px;
    color: #333;
    font-weight: 700;
    font-weight: bold; }

.carousel-img-layer {
  display: none; }

.slider-control .control a.jcarousel-control-prev {
  left: 0; }

.slider-control .control a.jcarousel-control-next {
  right: 0; }

@media only screen and (max-width: 767px) and (min-width: 320px) {
  .edv-banner {
    height: auto; }
    .edv-banner .edv-logo {
      display: block;
      position: relative;
      width: 100%;
      transform: translateY(0);
      top: auto; }
      .edv-banner .edv-logo img {
        height: 60px; }
      .edv-banner .edv-logo h2 {
        font-size: 1.25em; }
    .edv-banner .edv-cta {
      position: relative;
      width: 100%;
      transform: translateY(0);
      top: auto; }
  .jcarousel {
    width: 100%; }
    .jcarousel ul li.grid-tile {
      width: 160px; }
  .product-slider .slider-wrapper.horizontal-slider {
    width: 100%; }
  .slider-control .control {
    display: block; } }

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .edv-banner {
    height: auto; }
    .edv-banner .edv-logo {
      display: block;
      position: relative;
      width: 100%;
      transform: translateY(0);
      top: auto; }
      .edv-banner .edv-logo img {
        height: 60px; }
      .edv-banner .edv-logo h2 {
        font-size: 1.25em; }
    .edv-banner .edv-cta {
      position: relative;
      width: 100%;
      transform: translateY(0);
      top: auto; }
  .jcarousel {
    width: 100%; }
  .product-slider .slider-wrapper.horizontal-slider {
    width: 100%;
    max-width: 1024px; } }
