/* Variables
	-------------------------------
	*/
/* mixins
	-------------------------------
	*/
.row {
  width: 100%;
  padding: 20px 0;
  margin: 0 auto;
  clear: both;
  overflow: hidden;
}
.row .home-block {
  box-sizing: border-box;
  margin: 10px auto;
}
.row .home-block img {
  width: 100%;
}
.row .home-block a {
  display: block;
}
.row.row-2 {
  display: none;
}
.row.row-3,
.row.pv-wrapper {
  display: none;
}
.row .pencil {
  width: 320px;
  margin-bottom: -4px;
  height: auto;
}
.row .pencil img {
  display: block;
}
.row .tier1-container {
  width: 320px;
  height: 320px;
  overflow: hidden;
  /* pager */
  /* controls */
}
.row .tier1-container .cycle-pager {
  text-align: center;
  width: 100%;
  z-index: 500;
  position: absolute;
  bottom: 10px;
  overflow: hidden;
}
.row .tier1-container .cycle-pager span {
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin-right: 11px;
  background-color: #ccc;
  overflow: hidden;
  text-indent: -99999px;
}
.row .tier1-container .cycle-pager span.cycle-pager-active {
  background-color: #e01836;
}
.row .tier1-container .cycle-pager > * {
  cursor: pointer;
}
.row .tier1-container .cycle-control {
  position: absolute;
  top: 44%;
  width: 51px;
  height: 57px;
  left: 0;
  z-index: 900;
  cursor: pointer;
  display: none;
  text-indent: -9999px;
  background-image: url(http://demandware.edgesuite.net/aaeo_prd/on/demandware.static/Sites-MichaelsUS-Site/-/default/v1421656960751/images/sprite.png);
  background-repeat: no-repeat;
  background-color: transparent;
}
.row .tier1-container .cycle-control.cycle-control-prev {
  background-position: -320px -117px;
}
.row .tier1-container .cycle-control.cycle-control-prev:hover {
  background-position: -320px -185px;
}
.row .tier1-container .cycle-control.cycle-control-next {
  background-position: -386px -117px;
  left: auto;
  right: 0;
}
.row .tier1-container .cycle-control.cycle-control-next:hover {
  background-position: -386px -185px;
}
.row .tier2-container {
  width: 320px;
  height: 173px;
}
.row .rounded-corner {
  border-radius: 20px;
}
.sixteen-grid {
  overflow: hidden;
}
.thumb {
  float: none;
  display: inline-block;
  width: 184px;
  margin: 20px 8px;
}
#custom-shop-categories .categories {
  padding: 40px 0 0 !important;
}
/* Phone Screen */
@media (max-width: 767px) {
  .row {
    padding: 0;
  }
  .tab-slider {
    display: none;
  }
  .product-slider {
    display: none;
  }
  .sixteen-grid li {
    width: 320px !important;
    height: auto;
    padding: 0;
    margin: 0 auto;
    background: #fff;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
  }
  .sixteen-grid li img {
    display: none;
  }
  .sixteen-grid li .category-name {
    text-align: left;
    padding: 10px 20px;
    font-size: .9em;
  }
  .sixteen-grid .category-grid-promo {
    display: none;
  }
}
/* Tablet/Small Desktop Screen */
@media (min-width: 768px) and (max-width: 1279px) {
  .row {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
    box-sizing: border-box;
  }
  .row .home-block {
    box-sizing: border-box;
    background: #fff;
    margin: 0;
  }
  .row .home-block img {
    width: 100%;
  }
  .row .left {
    float: left;
    margin-right: 10px;
  }
  .row .center {
    float: left;
  }
  .row .right {
    float: right;
  }
  .row.row-1 {
    padding-top: 20px;
    width: 1024px;
  }
  .row.row-2 {
    display: block;
    margin: 10px auto;
    width: 1024px;
  }
  .row.row-3,
  .row.pv-wrapper {
    display: block;
    margin-bottom: 20px;
    width: 1024px;
  }
  .row .pencil {
    width: 1024px;
    margin: 0 auto;
  }
  .row .tier1-container {
    width: 680px;
    height: 372px;
    overflow: hidden;
  }
  .row .tier1-container .cycle-control {
    display: block;
  }
  .row .tier2-container {
    width: 334px;
    height: 181px;
    overflow: hidden;
  }
  .row .tier2-container:first-child {
    margin-bottom: 10px;
  }
  .row .tier3-container {
    width: 32.7%;
    height: 181px;
    overflow: hidden;
  }
  .row .tier4-container {
    width: 506px;
    height: 276px;
    overflow: hidden;
  }
  .row .pv-container {
    width: 506px;
    height: auto;
    overflow: hidden;
  }
  .row .pv-container.video iframe {
    width: 506px;
    height: 285px;
  }
  .row .pv-container .pow-heading {
    font-size: 2em;
    margin-bottom: .5em;
  }
  .row .pv-container .home-block {
    margin-bottom: -4px;
  }
  #custom-shop-categories .categories {
    padding: 20px;
    position: relative;
  }
}
/* Tablet/Small Desktop Screen portrait */
@media (min-width: 768px) and (max-width: 1279px) and (orientation: portrait) {
  .row .center {
    float: right;
  }
  .row .right {
    width: 100%;
  }
  .row.row-1 {
    width: 680px;
  }
  .row.row-2 {
    width: 680px;
    margin: 0 auto 20px;
  }
  .row.row-3 {
    display: none;
  }
  .row.pv-wrapper {
    width: 680px;
    margin: 0 auto 10px;
  }
  .row .pencil {
    width: 100%;
    margin: 0;
  }
  .row .tier1-container .cycle-control {
    display: block;
  }
  .row .tier2-container {
    float: left;
    margin: 10px 0;
  }
  .row .tier2-container:last-child {
    margin: 10px 0 0 10px;
  }
  .row .tier3-container {
    width: 334px;
  }
  .row .tier3-container:last-child {
    display: none;
  }
  .row .pv-container {
    width: 620px;
    height: auto;
    overflow: hidden;
    margin: 0 auto 10px;
  }
  .row .pv-container.video iframe {
    width: 620px;
    height: 349px;
  }
  .row .pv-container.left,
  .row .pv-container.right {
    float: none;
  }
  .row .pv-container .pow-heading {
    font-size: 2em;
    margin-bottom: .5em;
  }
  .row .pv-container .home-block {
    margin-bottom: -4px;
  }
  .thumb {
    width: 130px;
  }
}
/* Desktop */
@media (min-width: 1280px) {
  .row {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
    box-sizing: border-box;
  }
  .row .home-block {
    box-sizing: border-box;
    background: #fff;
    margin: 0;
  }
  .row .home-block img {
    width: 100%;
  }
  .row .left {
    float: left;
    margin-right: 20px;
  }
  .row .center {
    float: left;
  }
  .row .right {
    float: right;
  }
  .row.row-pencil {
    padding-bottom: 10px;
    margin-bottom: -10px;
  }
  .row.row-1 {
    padding: 20px 10px 10px;
    width: 1280px;
  }
  .row.row-2 {
    display: block;
    padding: 10px;
    width: 1280px;
  }
  .row.row-3,
  .row.pv-wrapper {
    display: block;
    padding: 10px;
    width: 1280px;
    margin-bottom: 20px;
  }
  .row .pencil {
    width: 1260px;
    margin: 0 auto;
  }
  .row .tier1-container {
    width: 834px;
    height: 460px;
    overflow: visible;
  }
  .row .tier1-container .cycle-control {
    display: block;
  }
  .row .tier2-container {
    width: 406px;
    height: 220px;
    overflow: visible;
  }
  .row .tier2-container:first-child {
    margin-bottom: 20px;
  }
  .row .tier3-container {
    width: 406px;
    height: 220px;
    overflow: visible;
  }
  .row .tier4-container {
    width: 620px;
    height: 340px;
    overflow: visible;
  }
  .row .pv-container {
    width: 620px;
    height: auto;
    overflow: hidden;
  }
  .row .pv-container .pow-heading {
    font-size: 2em;
    margin-bottom: .5em;
  }
  .row .pv-container .home-block {
    margin-bottom: -4px;
  }
  #custom-shop-categories .categories {
    padding: 20px;
    position: relative;
  }
}
