@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Open+Sans:400,300,600,700);

html {
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
}
@media screen and (min-width: 48em) {
  html {
    font-size: 100%;
  }
}

body {
  min-width: 320px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.45;
  color: #000;
}
ul {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
p {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}
h1 {
  margin: 0 0 8px;
  margin: 0 0 0.5rem;
  font-family: 'Roboto Slab', serif;
  font-size: 25.632px;
  font-size: 1.602rem;
  font-weight: 300;
  line-height: 1.2;
}
h2,
h3,
h4 {
  margin: 22.624px 0 8px;
  margin: 1.414rem 0 0.5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.2;
}
h2 {
  font-size: 22.784px;
  font-size: 1.424em;
}
h3 {
  font-size: 20.256px;
  font-size: 1.266em;
  font-weight: 600;
}
h4 {
  font-size: 16px;
  line-height: 24px;
}
h5 {
  font-family: 'Roboto Slab', serif;
}
small,
.font_small {
  font-size: 14.224px;
  font-size: 0.889em;
}

.logo img {
    max-width: none !important;
}

img {
    max-width: 100%;
}

a {
  color: #0c4a85;
  transition-duration: 0.2s;
}
a:active {
  background: none;
}

.container {
  width: 100%;
  max-width: 1170px;
}

.sidebar-page.container,
.general-page.container,
.quiz-page.container {
  padding-top: 254px;
}

.colsCtrlClear {
  clear: both;
}

.styled-hr {
  background: url('../../content/dam/k12/triangles.gif') center 1px;
  background-repeat: repeat-x;
  padding-bottom: 0.625em;
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
.styled-hr {
  background-position: center 2px;
}
}

@media screen and (min-width: 992px) {
.styled-hr {
  background-position: center bottom;
}
}

.ordinary-hr {
  border-bottom: 0.2em solid #ccc;
  padding-bottom: 0.625em;
  margin-bottom: 0.625em;
}

.yes-no {
  margin: 0 auto;
}

.btn-long {
  background: #387ECD !important;
}

.no-caption caption {
  display: none;
}

.primary-table-heading th {
  text-align: center;
  font-weight: bold;
}

.primary-table-data td {
  vertical-align: top;
  text-align: left;
}

.header-h1 {
  width: 1px;
  height: 1px;
  overflow: hidden;
  display: inline;
  font-size: 0em;
  position: absolute;
}

main:focus {
  outline: none;
}

.gsc-input {
  border: none;
  z-index: 1;
}

.top-section {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 10;
}

a.backToTop {
  display: block;
  text-align: right;
}

a.backToTop{
  display: block;
  text-align: right;
}

.th-strong {
  font-weight: bold;
  text-align: left;
}

.td-center {
  text-align: center;
}

.rtecenter {
  text-align: center;
}

.rteindent1 {
  padding-left: .5in;
}

.margins1 {
  float: left;
  margin: 5px 25px 20px 5px !important;
}

.placeholder {
  color: #FFFFFF;
}

.zipPlaceholder {
  color: #0c4a85;
}

.image .modal-text {
  color: #5B3796;
}

.logo a:active {
  background: transparent;
}

caption {
  display: none;
}

.above-content-section img {
  margin-bottom: 20px;
  margin-top: -80px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.RichText table, .RichText th, .RichText td, .RichText tr,
.selectorAwareRichText table, .selectorAwareRichText th, .selectorAwareRichText td, .selectorAwareRichText tr {
  margin-bottom: 12px;
  padding: 6px;
}

.homePage main {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
}

.homePage.row.no-gutters {
  position: relative;
  width: 100%;
  padding-top: 90px;
  margin-bottom: 30px;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

.homePage.row.no-gutters .dl-bg {
  position: absolute;
  top: auto;
  bottom: 0;
}

.dl-bg {
  display: block;
  overflow: hidden;
  width: 100%;
  background: #e4e4e0;
}

.homePage.row.no-gutters #dl-bg-1 {
  display: none;
}

#dl-bg-1 {
  background: #e4e4e0;
}

#dl-bg-1, #dl-bg-2 {
  width: 50%;
  height: 578px;
  float: left;
  display: block;
}

#dl-bg-2 {
  width: 100%;
  background-size: cover;
  background-color: #0c4a85;
  background: #0c4a85 url("../../content/dam/k12/dl-aside-bg.gif") no-repeat bottom right;
}

.homePage.row.no-gutters #dl-bg-2 {
  height: 100%;
  width: 100%;
  background-size: cover;
}

button, .btn {
  position: relative;
  height: 42px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 42px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  border: none;
  text-decoration: none;
  background: #0172c2;
  -webkit-appearance: none;
  transition-duration: 0.2s;
}

.caps, button, .btn, .cta-card .cta-msg .heading, .homePage .find-a-school-section .fasc-find-a-school-header .heading, .homePage .find-a-school-section .fasc-find-a-school-form #fasc-btn {
  text-transform: uppercase;
}

.white-text, button, button:hover, button:active, button:focus, .btn, .btn:hover, .btn:active, .btn:focus, .footer-nav-accordion .accordion-arrow:after, .sidebar-column .requestMoreInfo a, .sidebar-column .panel-heading, .sidebar-column .panel-body, .sidebar-column .panel-body a, .sidebar-column .panel-heading .heading:after, .homePage .find-a-school-section {
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialised;
  -ms-font-smoothing: antialised;
  -o-font-smoothing: antialised;
  font-smoothing: antialiased;
}

h1.alt-heading, .cta-card .cta-msg h1.heading, h2.alt-heading, .cta-card .cta-msg h2.heading, h3.alt-heading, .cta-card .cta-msg h3.heading, h4.alt-heading, .cta-card .cta-msg h4.heading, h5.alt-heading, .cta-card .cta-msg h5.heading, h6.alt-heading, .cta-card .cta-msg h6.heading {
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.btn-toggle:active, .btn-toggle:hover, .btn-toggle:focus {
  color: #075698;
}

.offcanvas .homePage.row.no-gutters {
  padding-top: 45px;
}

.top-section .header {
  min-width: 320px;
  min-height: 90px;
}

.modal-header .close {
  margin-top: -19px;
}

@media screen and (min-width: 768px) {
  .homePage.row.no-gutters {
    padding-top: 115px;
  }
}

@media screen and (min-width: 960px) {
  .homePage main {
    padding: 0 40px 0 0;
  }
  .homePage.row.no-gutters .dl-bg {
    height: 100%;
  }
  .homePage.row.no-gutters #dl-bg-1 {
    display: block;
  }
  .homePage.row.no-gutters #dl-bg-2 {
    width: 50%;
  }
  .styled-hr {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .homePage.row.no-gutters {
    padding-top: 174px;
  }
}

@media screen and (max-width: 1199px) {
  .sidebar-page.container,
  .general-page.container,
  .quiz-page.container {
    padding-top: 214px !important;
  }
}

@media screen and (max-width: 1079px) {
  .sidebar-page.container,
  .general-page.container,
  .quiz-page.container {
    padding-top: 195px !important;
  }
}

@media screen and (max-width: 767px) {
  .above-content-section img {
    display: none;
  }
  .sidebar-page.container,
  .general-page.container,
  .quiz-page.container {
    padding-top: 136px !important;
  }
}

@media print {
  .top-section {
    display: none;
  }
  .shareThis {
    display: none;
  }
  .sidebar-page.container,
  .general-page.container,
  .quiz-page.container {
    padding: 0;
  }
}

@media screen and (max-width: 568px) {
  #print-scope-sequence a:link {
    display: none !important;
  }
}
a[href^="tel"]:link,
a[href^="tel"]:visited,
a[href^="tel"]:hover {
    text-decoration: none;
    color: #000;
    pointer-events: none;
    cursor: default;
}


@media only screen and (max-width: 767px) {
    a[href^="tel"]:link,
    a[href^="tel"]:visited,
    a[href^="tel"]:hover {
        text-decoration: underline;
        color: #3399ff;
        pointer-events: auto;
        cursor: pointer;
    }
}
/*hero-image*/
.splash-hero{margin-top:-120px}
@media screen and (min-width:768px){
  .splash-hero{margin-top:-155px}
}
@media screen and (min-width:992px){
  .splash-hero{margin-top:-82px}
}

.blue-column-wrapper,
.purple-column-wrapper,
.last-column-wrapper{
  padding-top:2em;
  padding-bottom: 2em;
}
/*blue box*/
@media screen and (min-width: 768px){
  .blue-column-wrapper{
    padding-bottom: 2.5em !important;
  }
}

@media screen and (min-width: 903px){
  .blue-column-wrapper{
    padding-bottom: 4em !important;
  }
}
@media screen and (min-width: 991px){
  .blue-column-wrapper{
    padding-bottom: 2em !important;
  }
}

@media screen and (min-width: 1085px){
  .blue-column-wrapper{
    padding-bottom: 4em !important;
  }
}

/*purple box*/
.purple-column-wrapper{
  padding-top: 2em !important;
  padding-bottom: 2em !important;
}

@media screen and (min-width: 768px){
  .purple-column-wrapper{
    padding-bottom: 8em !important;
  }
}
@media screen and (min-width: 850px){
  .purple-column-wrapper{
    padding-bottom: 7em !important;
  }
}
@media screen and (min-width: 900px){
  .purple-column-wrapper{
    padding-bottom: 6.5em !important;
  }
}
@media screen and (min-width: 1200px){
  .purple-column-wrapper{
    padding-bottom: 5em !important;
  }
}

@media screen and (min-width:768px){.splash-water-quote-blue{position:absolute;top:140px;right:-90px}
  .blue-para-1{padding-right:20px}
  .blue-para-2{padding-right:90px}
  .purple-box-wrapper{padding-bottom:7em}
  .splash-water-quote-purple{position:absolute;top:150px;left:-60px}
}

