/*
	Change sitelogo in header

	1. GET this file from the REMOTE server. NEVER USE AN OLD, LOCAL VERSION
	2. put image in the directory prm/varia/headerlogo and upload to server.
	3. copy-paste these two lines of code below this commented howto-text:
		#hdr_logo {background:url(/static/nmc/prm/varia/headerlogo/hln_logo_muziek.png) no-repeat}
		#hdr_logo img {visibility:hidden;}
		#hdr_logo a {display:block; width:169px; height:80px}
	4. change the name of the image in "background:url(/static/nmc/prm/varia/headerlogo/hln_logo.png)"
	5. upload this css.
	6. change the fingerprint of the autodeploy.css to the current date (format: ddmmyyyy) (and hour if there are multiple updates) so browsers pick up the new css
	7. Standard the autodeploy.css is included in these files:
		- nmc/head/hln_nl_4this_stop_1_head.html
		- nmc/head/hln_nl_4children_stop_1_head.html
	The included link-code:
	<link rel="stylesheet" href="/static/nmc/nmc/head/autodeploy.css" type="text/css" />
	If you want to exclude the css from a certain navigation, you can make a new head-file for that navigation-id without the autodeploy.css-link.

	To undo
	1. GET this file from the REMOTE server. NEVER USE AN OLD, LOCAL VERSION
	2. delete the two added lines in this css-file.
	3. don't change the other lines (if any).
	4. upload.

	DO NOT DELETE THIS FILE FROM THE SERVER.
*/

/*video nav voetbal green*/
#partnerSites li {width: 188px}
#partnerSites li.autozone h4 {margin-top:0px;}
#partnerSites li.extra hr {margin-top: 32px}
#partnerSites hr {margin-top: 17px}

.width810 h3 {
	float: none !important;
	width: auto;
}
.bn_large_img.bn_left .tn_list_h_video_button_container { float: none; }
.bn_large_img .tn_list_h_video_button_container { float: none; }

/* BN RODE DUIVELS EK 2016 */

/*div.bn_default.bn_ek-2012,
div.bn_default.bn_de-rode-duivels {
	background: none;
	background-image: url('HLN_EK_Header.jpg');
	background-color: #12295d;
	background-repeat: no-repeat;
}
.bn_ek-2012 .bn_header,
.bn_de-rode-duivels .bn_header {
	background: none !important;
	padding-left: 230px;
}

.bn_ek-2012 .bn_header ul li,
.bn_de-rode-duivels .bn_header ul li {
	padding: 0 15px;
	border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.bn_ek-2012 .bn_header ul li a,
.bn_de-rode-duivels .bn_header ul li a{
	padding: 0;
}

.bn_ek-2012 .bn_header ul li:nth-child(2),
.bn_de-rode-duivels .bn_header ul li:nth-child(2) {
	padding-left: 0;
}

.bn_ek-2012 .bn_header ul li:last-child,
.bn_de-rode-duivels .bn_header ul li:last-child {
	border-right: 0;
}

.bn_ek-2012 .bn_header .bn_arrow,
.bn_de-rode-duivels .bn_header .bn_arrow {
	display: none;
}

.bn_ek-2012 .bn_section,
.bn_de-rode-duivels .bn_section {
	background: #12295d;
}

.bn_ek-2012 .bn_section .bn_left,
.bn_de-rode-duivels .bn_section .bn_left {
	background-color: #12295d;
}


.bn_ek-2012 .bn_section .bn_right,
.bn_de-rode-duivels .bn_section .bn_right {
	padding-top: 0;
}

.bn_ek-2012.width810 ul.bn_buttons li a,
.bn_de-rode-duivels.width810 ul.bn_buttons li a {
	color: white !important;
}

.bn_ek-2012 .bn_section .bn_left,
.bn_de-rode-duivels .bn_section .bn_left {
	background-color: #12295d;
}


.bn_ek-2012 .bn_section .bn-sportcenter,
.bn_de-rode-duivels .bn_section .bn-sportcenter {
	padding-top: 0;
}

.bn_ek-2012 .ek2016__match-results a,
.bn_de-rode-duivels .ek2016__match-results a {
	display: block;
	height: 71px;
}

.bn_ek-2012.width810 ul.bn_buttons,
.bn_de-rode-duivels.width810 ul.bn_buttons {
	background: none;
}

.bn_ek-2012.bn_teaser7 .bn_right_wrapper,
.bn_de-rode-duivels.bn_teaser7 .bn_right_wrapper,
.bn_ek-2012.bn_teaser10 .bn_right_wrapper,
.bn_de-rode-duivels.bn_teaser10 .bn_right_wrapper {
	background-color: transparent;
}

.bn_ek-2012.bn_teaser7 ul.bn_buttons li,
.bn_ek-2012.bn_teaser3 ul.bn_buttons li,
.bn_de-rode-duivels.bn_teaser7 ul.bn_buttons li,
.bn_de-rode-duivels.bn_teaser3 ul.bn_buttons li,
.bn_ek-2012.bn_teaser10 ul.bn_buttons li,
.bn_de-rode-duivels.bn_teaser10 ul.bn_buttons li {
	background-color: transparent;
}

.bn_ek-2012.bn_teaser10 .bn_header,
.bn_de-rode-duivels.bn_teaser10 .bn_header {
	margin-bottom: 20px;
}

.bn_ek-2012.bn_teaser10 .bn_header ul li,
.bn_de-rode-duivels.bn_teaser10 .bn_header ul li {
	padding: 0;
}

.bn_ek-2012.bn_teaser10 .bn_header ul li:nth-child(2),
.bn_de-rode-duivels.bn_teaser10 .bn_header ul li:nth-child(2) {
	display: none;
}

.bn_ek-2012.bn_teaser10 .ek2016__match-results img,
.bn_de-rode-duivels.bn_teaser10 .ek2016__match-results img {
	width: 100%;
}*/

/* BN TOUR DE FRANCE 2016 */

.bn_default.bn_tour-de-france {
	margin: 20px auto 10px auto !important;
	background-color:#FCB900;
}
.bn_default.bn_tour-de-france .bn_section{
	min-height: auto;
}
.width510.bn_default.bn_tour-de-france .bn_large_img::after {
	content: '';
	display: table;
	height: 1px;
	width: 100%;
	clear: both;
}
.bn_default.bn_tour-de-france .bn_list li img,
.bn_default.bn_tour-de-france .bn_large_img img {
	border: none;
}
.bn_default.bn_tour-de-france .bn_right li h4 a,
.bn_default.bn_tour-de-france a {
	color: blue;
	text-decoration: underline;
}
.width510.bn_default.bn_tour-de-france .bn_buttons {
	background-color: white;
}
.width510.bn_default.bn_tour-de-france .bn_list {
	width: 492px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.width510.bn_default.bn_tour-de-france .bn_list li:last-child {
	margin-right: 0;
}
.width510.bn_default.bn_tour-de-france .bn_list li a img:first-child {
	width: 100%;
    height: auto;
}
.width510.bn_default.bn_tour-de-france .bn_list li h4 {
	padding: 8px;
}
.width510.bn_default.bn_tour-de-france .bn_list li {
	padding-top: 0;
	background-color: #fff;
	padding-right: 0;
	margin-right: 8px;
}
.width510.bn_default.bn_tour-de-france .bn_buttons li a,
.width510.bn_default.bn_tour-de-france .bn_list li a {
	color: blue !important;
	text-decoration: underline !important;
}
.width510.bn_default.bn_tour-de-france .bn_buttons li a:hover,
.width510.bn_default.bn_tour-de-france .bn_list li a:hover,
.bn_default.bn_tour-de-france .bn_right li a:hover {
	color: red !important;
}
.bn_default.bn_tour-de-france .bn_header::before {
	position: absolute;
	top: 8px;
	left: 0;
	display: block;
	width: 50px;
	height: 50px;
	background-color: #fff;
	background-image: url('./tour-de-france.png');
	background-position: center;
	background-size: cover;
	content: '';
}
.bn_default.bn_tour-de-france .bn_header {
	position: relative;
	top: 0;
	left: 0;
	padding: 8px;
	height: auto;
	width: auto;
	background-image: none !important;
	background-color:#FCB900 !important;
	padding-left: 60px;
}
.bn_default.bn_tour-de-france .bn_header h2 a{
	color: #000;
	text-decoration: none;
}
.bn_default.bn_tour-de-france .bn_header ul {
	margin-top: 8px;
	margin-left: 0;
	background-image: none;
} 
.bn_default.bn_tour-de-france .bn_header ul li a{
	padding: 0;
	color: #000;
	text-decoration: none;
}
.bn_default.bn_tour-de-france .bn_header ul li {
	padding-right: 10px;
}
.bn_default.bn_tour-de-france .bn_header ul li.bn_arrow {
	display: none;
}
.bn_default.bn_tour-de-france .bn_header h2 {
	display: block;
}
.hln-hpfr .bn_default.bn_teaser4.width510 ul.bn_buttons li a {
	color: blue !important;
}
/* END BN TOUR DE FRANCE 2016 */
