html,body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #404040;
}
body {
	/*	background-color: #404040; */
	overflow-x: hidden; /* prevents horizontal scroll bars */
	background-image: url(/images/v8/layout/whitenoise.png);
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	word-wrap: normal;
	word-break: break-word;
}


hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #7f7f7f;
}


input, button, select, textarea {
	word-wrap: normal;
	word-break: normal;
}


.wordwrap {
	word-wrap: normal;
	word-break: break-word;
}
/* ************************************
      PAGE WRAPPERS 
************************************** */

/* positioned absolute and middle - to allow mobile menu canavas over slide out */
#outer-wrapper {position: absolute;width: 92%;max-width: 1360px;margin-left: auto;margin-right: auto;background-color: #161616;margin: auto;top: 0; left: 0; right: 0;bottom: auto;}
#inner-wrapper {width: 100%;position: relative;margin: 0;padding:0;background-color: #e5e5e5;height: 100%;}
section#content {margin: 0;padding: 15px 0 15px 0;}

/* ************************************
      HEADER 
************************************** */
header#pageheader {
	background-color: #161616;
	background-image: url('/images/v8/layout/footer_stripes.jpg');
	width: 100%;
	height: 120px;
	overflow: hidden;
}
#headerwrap { width: 100%; overflow: hidden;}


#headerlogo {
	float: left;
	background-image: url('/images/logo/virtualdjlogo.svg');
	background-size: 220px;
	background-repeat: no-repeat;
	margin-left: 25px;
	display: block;
	width: 220px;
	height: 55px;
	margin-top: 35px;
}


/*
#headerlogo {
	float: left;
	background-image: url('/images/v8/layout/virtualdj_logo_v8.png');
	background-size: 300px;
	background-repeat: no-repeat;
	margin-left: 25px;
	display: block;
	width: 300px;
	height: 55px;
	margin-top: 35px;
}
*/

#headerslogan {
	float: left;
	font-size: 17px;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	width: auto;
	margin-left: 12%;
	margin-top: 45px;
}

#socialheader{float: right;margin-top: 20px;}
.contentbox p {padding: 10px;}

/* ************************************
      FOOTER 
************************************** */

footer#pagefooter .social-link a {color: silver;font-weight: normal;}
footer#pagefooter {
	background:black;
	background-color:#161616;
	height: auto;
	padding-top: 1%;
	font-size: .95em;
	color: silver;
	overflow: hidden;
	padding-bottom: 10px;
	background-image: url('/images/v8/layout/footer_stripes.jpg');
	min-height: 100px;
}

footer#pagefooter .footer-nav {list-style: none;}
footer#pagefooter .footer-nav li  {float: right;margin-right: 25px;}
footer#pagefooter .footer-nav a {text-decoration: none;color: silver;font-size: .9em;}
footer#pagefooter #footerboxes article {min-height:250px;overflow: hidden;}
footer#pagefooter .footerbox {padding-left: 20%;}
footer#pagefooter .footerbox ul {list-style: none;padding: 0;margin: 0;padding-left: 10px;} 
footer#pagefooter .footerbox ul li {padding: 0;margin: 0;} 
footer#pagefooter .footerbox p {padding-left: 10px;} 
footer#pagefooter #footerboxes a {color: silver;text-decoration: none;} 
footer#pagefooter #footerboxes a:hover {color: white;} 
footer#pagefooter #bottomfooter {color: gray;font-size: .9em;margin-top: 5px;padding-right: 20px;padding-left: 20px;}
footer#pagefooter #bottomfooter ul {margin: 0;padding: 0;}
footer#pagefooter #bottomfooter ul li {margin: 0;padding: 0;margin-left: 20px;margin-right: 20px;}
footer#pagefooter #bottomfooter a, a:visited {color: gray;text-decoration: none;}
footer#pagefooter #bottomfooter a:hover {color: white;text-decoration: none;}
footer#pagefooter #copyright{color: gray;font-size: .8em;margin-top: 5px;}
footer#pagefooter h5 {color:white;font-size: 1em;}


/* sections */
/* horisontal line bottom of section */
.divide-bottom { border-bottom: 1px solid #ccc; padding-bottom: 1.5em;margin-bottom: 1.5em; }


/* ************************************
      CONTENT STYLE 
************************************** */

/* ? */ 

#sidebar {border-left: 3px solid #DDDDDB;height: 100%;min-height: 100%;}
#contentbar {border-right: 3px solid #DDDDDB;height: 100%;min-height: 100%;}

/* ********************************
		FORMS
********************************** */

/* at layout css line 156 */
.whitebox input[type=text] {
	width: auto;
	min-width: 150px;
	height: 30px;
	margin: 0 5px 5px 0;
	background-repeat: no-repeat;
	border: 1px solid #b1b1b1;
	font-size: 13px;
	font-weight: 500;
	color: #8f8f8f;
	padding-left: 5px;
}

.whitebox input[type=password] {
	width: auto;
	min-width: 150px;
	height: 30px;
	margin: 0 5px 5px 0;
	background-repeat: no-repeat;
	border: 1px solid #b1b1b1;
	font-size: 13px;
	font-weight: 500;
	color: #8f8f8f;
	padding-left: 5px;
}

.whitebox select {
	width: auto;
	min-width: 30px;
	height: 33px;
	margin: 0 5px 5px 0;
	background-repeat: no-repeat;
	border: 1px solid #b1b1b1;
	font-size: 13px;
	font-weight: 500;
	color: #8f8f8f;
	padding: 1px;
}


.form-box8 {
	width: 310px;
	z-index: 1;
	background: -webkit-linear-gradient(top, #f4f5f7 0%,#e1e2e6 90%,#cfd1d4 100%);
	background: -moz-linear-gradient(top, #f4f5f7 0%,#e1e2e6 90%,#cfd1d4 100%);
	background: -o-linear-gradient(top, #f4f5f7 0%,#e1e2e6 90%,#cfd1d4 100%);
	background: -ms-linear-gradient(top, #f4f5f7 0%,#e1e2e6 90%,#cfd1d4 100%);
	background: linear-gradient(top, #f4f5f7 0%,#e1e2e6 90%,#cfd1d4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f5f7', endColorstr='#cfd1d4',GradientType=0 );
	border: 1px solid #949494;
	-webkit-box-shadow: inset 0px 1px 0px #fff, 0px 1px 1px rgba(0,0,0,.15);
	-moz-box-shadow: inset 0px 1px 0px #fff, 0px 1px 1px rgba(0,0,0,.15);
	box-shadow: inset 0px 1px 0px #fff, 0px 1px 1px rgba(0,0,0,.15);
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.form-box8 input[type=text] {
	width: 229px;
	height: 35px;
	float: left;
	margin: 0px 23px 7px 23px;
	position: relative;
	background-repeat: no-repeat;
	border: 1px solid #b1b1b1;
	font-size: 13px;
	font-weight: 500;
	color: #8f8f8f;
	padding-left: 35px;
}



/*************************
 SOCIAL STUFF 
********************** */
#social-circles {
	width: 250px;
	height:30px;
	float: right;
	margin-right: 0px;
	overflow: hidden;
	visibility: hidden;
	
}
#social-circles div  {
	float:right;
	margin-left: 10px;
}
.circle-social {
		width:30px;
		height:30px;
		border-radius:15px;
		font-size:16px;
		color:#fff;
		line-height:30px;
		text-align:center;
		background: #33383D;
		 -webkit-font-smoothing: antialiased;
}
.circle-twitter:hover { background: #69c7dc; cursor: pointer;}
.circle-youtube:hover { background: #C4302B; cursor: pointer;}
.circle-facebook:hover { background: #215a93; cursor: pointer;}
.circle-google:hover { background: #c04127; cursor: pointer;}
.circle-rss:hover { background: #ff8400; cursor: pointer;}

/* circles */

.circle-small {
		width:25px;
		height:25px;
		border-radius:12.5px;
		font-size:9px;
		color:#fff;
		line-height:25px;
		text-align:center;
		background:#000
}

.circle-normal {
		width:50px;
		height:50px;
		border-radius:25px;
		font-size:12px;
		color:#fff;
		line-height:50px;
		text-align:center;
		background:#000
}
.circle-big {
		width:100px;
		height:100px;
		border-radius:50px;
		font-size:30px;
		color:#fff;
		line-height:100px;
		text-align:center;
		background:#000
}
.circle-huge {
		height: 200px;
		width: 200px;
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		border-radius: 50%; 
		background: #000;
		font-size:50px;
		color:#fff;
}

/*
 usage : <div class="resonsive-circle"><div>text</div></div>
  */
.circle-responsive {
    width:50%;
}
.circle-responsive:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #000;
    color:#fff;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.circle-responsive div {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
    font-size: 20px;
    font-size: 10vw;
}


/* ************************
	SECTIONS
************************** */

section {margin: 0;padding: 0;}
section section {margin: 0;padding: 0;}
section header {margin: 0;padding: 0;}
section article {margin: 0;padding: 0;}
section footer {margin: 0;padding: 0;}

/* ************************
	ARTICLES
************************** */

article p {padding: 5px;}

article.center {
}


#menu-flags img {height: 15px;}

p.subtitle {
	padding: 0;
	margin: 0;
	font-size: 10px;
	color: gray;
	padding-right: 5px;
}

span.titlearrow {
	color: #2DB2EA;
}

/* ************************
	SIDEBARS
************************** */
aside.sidebar { 
 margin-top:15px;

}



/* ************************
	FRONT PAGE 
************************** */
.frontpagevideo-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    
}
.frontpagevideo-container iframe,
.frontpagevideo-container object,
.frontpagevideo-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#frontpagevideo-placeholder {
	border: 1px solid silver;
}


#frontpage_avatar img {
	border: 6px solid white;
	margin-right: 15px;
}
#frontpage_username {
	font-weight: 600px;
	font-size: 1.3em;
}

span#frontpage_usertopics a {
	font-size: 0.9em;
	width: 100%;
	margin: 0 0 5px 0;
	padding: 0;
}
span#frontpage_usertopics {
	margin-top: 10px;
	margin-bottom: 15px;
	display: block;
}
span#frontpage_usertopics img {
	margin-right: 15px;
}
span#frontpageb_usertopicstitle {
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: 700;
	display: block;
	width: 100%;
	border-bottom: 1px solid gray;
	margin-top: 15px;
}


#frontpage_login button {
	width: 40%;
	margin-bottom: 5px;
	font-size: 0.85em;

}

#frontpage_login small {
	font-size: 0.8em;
}

#frontpage_login input {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#frontpage_login #create_account {
		margin-bottom: 8px;
}


/* ***********************
   PRESENTATION PAGES 
********************  */

section.presentation {
	width:95% !important;
	margin-left: auto;
	margin-right: auto;
}
section.presentation article p {padding: 5px 0 5px 0;}

img.titlerbox_icon {
  float: left;
  margin-left: 2px;
  height: 3em;
  width: 3em;
  display: block;
  margin-right: 10px;
  margin-top: 2px;
}
.titlerbox h2 {line-height:1;}


/* *****************
 MY ACCOUNT PAGE 
******************* */

.licenceblock {
    clear:both;
    float: left;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid gray;
}

.license_icon{
    float: left;
    height: 32px;
    margin-right: 15px;
}

span.license_title {
    float: left;
    font-size: 14px;
    margin-right: 15px;
    font-weight: bold;
}

span.license_serial {
/* float: left; */
padding: 5px;
background: white;
border: 1px dotted silver;
font-weight: 600;
font-family: monospace;
font-size: 15px;
}


/* secure dl button */
.secure_download { float: right;}

button.sdl_button {
    width: 220px;
    float: right;
    margin-bottom: 10px;
    text-align: left;
    padding: 6px;
    margin-left: 20px;
}

a.sdl_link {
clear: both;
margin-top: 0px;
float: right;
margin-left: 15px;
font-size: 13px;
}

span.sdl_size {
clear: both;
float: right;
margin-right: 80px;
font-size: 10px;
font-variant: small-caps;
}

/* *************
   FORUM INDEX PAGE 
**************** */

#forumindex_page a, #forumindex_page a:visited {text-decoration: none;}
#forumindex_page .textbox {height: 110px !important;}
img.img_forumindex {
    float: right;
    margin-right: 2%;
    height: 80%;
    width: auto;
    margin-left: 15px;
    opacity: 0.3;
}

/* *************
 FREE DOWNLOAD PAGE
**************** */

#download_page #download_v8, #download_page #download_v7 {min-height: 400px;}
#download_page a {font-weight: 600;}
img.downloadpage_icon {opacity: 0.7;}

/* *****************
	BUY PAGE 
******************* */

#pricetable_buy, #pricetable_buytext, #pricetable_cu  {
	width: 95%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

#pricetable_buy .vdjpro_buy_box {max-width: 280px;}


article#buy_infinity .darkbox,  article#buy_infinity .whitebox {
		width: 98%;
		margin-left: auto;
		margin-right: auto;

}

article#buy_subscriber .darkbox,  article#buy_subscriber .whitebox {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
}

article#buy_upgrade .darkbox,  article#buy_upgrade .whitebox {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
}


#pricetable_buy h3 {
	margin:0;
	padding: 0;
}


#pricetable_buy .darkbox {
	margin:0;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box; 

}

#pricetable_buy .whitebox {
	margin:0;
	padding-top: 15px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 15px;
	box-sizing: border-box;
	margin-bottom: 30px;

}

#pricetable_buy hr {
	margin: 10px 0 10px 0;
	padding: 0;
	height: 1px;
	border-top: 1px solid #4b4b4b;

}


#pricetable_buy b.buybox_subtitle {
	display: block;
	margin-top: 15px;
}

.rounded-top {
	border-radius: 6px 6px 0 0; /* top-left top-right bottom-right bottom-left */
	padding: 5% 5%;
}

.big-rounded-top {
	border-radius: 15px 15px 0 0; /* top-left top-right bottom-right bottom-left */
	padding: 5% 5%;
}

#pricetable_buy .text-inset {
  text-shadow: 0px 0px 1px rgba(255,255,255,0.8);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
         
}

#pricetable_buy ul {
	list-style: none;
	text-align: left;
	width: 98%;
	display: block;
	font-size: 80%;
	line-height: 1.6;
	margin-left: auto;
	margin-right: auto;
}

#pricetable_cu .cu_box {margin-bottom: 15px;}


@media only screen and (min-width : 56.25em) {
	.col .grid .col  {
	 padding-right: 10px; 
	}
}
/* TODO: check this - a little bug in grid */



#pricetable_buy  #selecttext {
	font-size: 0.8em;
}

#pricetable_buy .buybutton_area  {
	display: block;
	height: 60px;
}


#pricetable_buy span.inputbutton {
    position: relative;
}

#pricetable_buy  span#inputbutton_buy:before {
	font-family: FontAwesome;
	content: "\F07A";
	font-size: 13px;
	position: absolute;
	left: 5px;
	top: 3px;
	pointer-events: none;
}

#pricetable_buy span#inputbutton_cancel:before {
    font-family: FontAwesome;
    content: "\F057";
	font-size: 13px;
	position: absolute;
	left: 5px;
	top: 3px;
	pointer-events: none;
}

#pricetable_buy input[type="submit"] {
	margin-top: 5px;
	padding-right: 10px;
	padding-left: 20px;
}

#pricetable_extras {
	width: 95%;
text-align: center;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
}


#pricetable_buy div.titlerbox h3 {
	padding-left: 0;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

#buy_upgrade .txt_small {
	font-size: 30px !important;
}

article#buy_cutext {
margin-bottom: 5px;
}


#pricetable_buy, #pricetable_buytext, #pricetable_cu, #pricetable_upgrade {
    width: 95%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#pricetable_upgrade span.inputbutton {position: relative;}
#pricetable_upgrade span#inputbutton_upgradepro:before, #pricetable_upgrade span#inputbutton_upgradeplus:before {
    font-family: FontAwesome;
    content: "\F07A";
    font-size: 13px;
    position: absolute;
    left: 10px;
    top: 4px;
    pointer-events: none;
}

#inputbutton_upgradeplus input, #inputbutton_upgradepro input  {
    width: 160px;
    display: inline-block;
    text-align: left;
    padding-left: 30px;
}

#upgradetext {line-height: 2.6;}



/* *****************
	CU PAGE 
******************* */

#cu_page article.col.col-1-1.regular-col-1-3 .whitebox {
min-height: inherit; /* gets override at larger screen to auto fix box */
display: block;
}



/* *****************
	CONTACT PAGE 
******************* */

.buttonsupport {
	width: 170px;
	height: 30px;
	line-height: 2.4;
	right: 15px;
	background-color: gray;
	background-image: url(/images/css/forum_button.jpg);
	border: 1px solid black;
	color: white;
	font-size: 12px;
	padding: 2px;
}
.supportbox a {cursor:pointer;text-decoration:none;}

#support_options .whitebox {min-height: 390px;}


#questionbox div#content {
	margin-left: 20px;
	font-size: 1em;

}

/* *****************
	LOGGED BAR
******************* */

div.loggedbar_avatar {
	float: left;
	margin-right: 15px;
	border: 2px solid white;
	height: 30px;
	width: 30px;
}
.loggedbar_who {float: left;margin-right: 40px;}
.loggedbar_name {
	float: left;
	font-weight: 600;
	font-size: 1em;
}
.loggedbar_date{
	clear:left;
	float: left;
	font-size:0.7em;

}
.loggedbar_buttons_group {width:auto}
.loggedbar_buttons { float: left;margin-top:1px;}
.loggedbar_buttons {width: auto;min-width: 150px;}
#logged_signout {float: right;}
.badge {background-color: #2DB2EA;}

.btn-group.loggedbar_buttons {
    display: inline-block;
    margin-right: 20px;
    float: left;
}

.container-fluid {
	padding: 0;
}
.loggedbar_buttons_group div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: left;
}

.loggedbar_buttons_group a {
    text-decoration: none;
}

/* *****************
	PAGE TITLES
******************* */
h1.toptitle{
	font-size: 4em;
	color:#161616;
	text-transform: uppercase;
	text-shadow: 0px 2px 3px #fff;
	margin-bottom: 20px;
	letter-spacing: -2px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	text-align: center;
}



/* team show user page */
#team_showuser .whitebox {
	padding: 20px;

}
#team_showuser form input[type=text] {
	width: 30%;
	margin-left: 5px;
	margin-right: 5px;
	padding: 2px;

}
#team_showuser form input#comment {
	width: 40%;
	padding: 10px;
	line-height: 40px;
}


/* *****************
	USER HOME PAGE
************** 	 */

article.wallpost {
	display: block;
	height: auto;
	border-top: 1px solid silver;
	padding: 10px;
	font-size: 0.9em;
}


div#wallbox span.wallpost_avatar img {
	margin-right: 15px;
	border: 4px solid white;
}

div#wallbox span.wallpost_name {
	margin-right: 2px;
	font-weight: 600;
}

div#wallbox span.wallpost_level {
	font-size: 0.9em;
	color: gray;
	margin-right: 10px;
}

div#wallbox textarea#wallpost {
    width: 100% !important;
    float: right;
}

div#wallpost_input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 90%;
    margin: auto;
}

div#wallbox input[type="submit"] {
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: none;
    border: none;
    font-weight: bold;
}

article.friendslist_avatars  span.friends_avatar {
	width: 16.666666%;
	display: block;
	float: left;
	height: auto;
}

article.friendslist_avatars span.friends_avatar img {
	width: 100% !important;
	height: 100% !important;
}


#homepageheader .clearfix {
	display: block;
	clear: both;
}
#homepageheader span.homepage_avatar {
    float: left;
    width: 15%;
    margin: 2%;
}
#homepageheader span.homepage_avatar img {
   /* border-radius: 50%; */
    border:2px solid white;
    width: 80%;
    height: 80%;
    
}

#homepageheader .homepage_desc {
    margin: 2%;
    width: 70%;
    float: right;
}

#homepageheader span#showdescdiv {
	width: 70%;
	float: left;
	margin-top: 30px;
	margin-left: 2%;
}


#editdescdiv #profile_description {
    width: 100%;
    height: 200px;
    float: right;
    text-align: left;
}
#homepageheader span.homepage_editbtn {
    display: block;
    text-align: right;
}
#homepageheader span.profileboxes_more {
    display: block;
    text-align: center;
    font-size: 0.8em;
    color: #606060;
    margin: 1%;
}
#homepageheader span.profileboxes_more {
    display: block;
    text-align: center;
    font-size: 0.8em;
    color: #606060;
    margin: 1%;
}

#homepageheader span#shortdescbtn, #homepageheader span#fulldescbtn {
    float: right;
    margin: 0 5px 0 5px;
    color:#606060;
}

#homepageheader span#changeimagediv {
	display: inline-block;
	float: left;
	margin-bottom: 50px;
	border: 1px solid gray;
	padding: 15px;
}


#homepageheader span.homepage_addfriend {
    clear: both;
    float: left;
    margin-left: 50%;
    margin-top: 30px;
}
#homepageheader span.homepage_writemsg {
    float: left;
    margin-top: 30px;
    margin-left: 20px;
}
#homepageheader span.homepage_avatar {
    float: left;
    width: 20%;
}

div#wallbox span.wallpost_delete {
    float: none;
    text-align: right;
    display: block;
}

div#wallbox span.wallpost_message {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.2em;
}

.clearfix {clear: both;display: block;}
.cursor-info {cursor:help;}
.no-underline { text-decoration: none !important;}


/* Tool tip */
.vdj-tooltips {
  border-radius: 5px; 
  border: 1px solid #000;
  background: #4c4c4c;
  color: #fff;
}

.vdj-tooltips .tooltipster-content {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 10px;
}



/* ****************
   ADD ON PAGES 

***************** */
.addonbox {position: relative;}
.addonpage .btn i {padding-right: 10px;}
.addonpage .button i {padding-right: 10px;}

.addon-creator {
  float: right;
  font-size: 0.9em;
  font-weight: 700;
}

#addon-menu-filters {float: left;}
#addon-menu {float: left;}

.dropdown-menu .icon-ok {
	margin-left: -14px;
}

.star-rating-wrapper {
  clear: right;
  float: right;
  margin-top: 10px;
  margin-bottom: 5px;
}

.addonpage .star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 100px;
  height: 20px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.addonpage .star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.addonpage .star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.addonpage .star-rating input:hover + i,
.addonpage .star-rating input:checked + i {
  opacity: 1;
}
.addonpage .star-rating i ~ i {width: 40%;}
.addonpage .star-rating i ~ i ~ i {width: 60%;}
.addonpage .star-rating i ~ i ~ i ~ i {width: 80%;}
.addonpage .star-rating i ~ i ~ i ~ i ~ i {width: 100%;}

.addonpage .choice {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  display: block;
}

.addonpage .star-rating input:hover {
cursor: pointer;
}

.addons-dlbutton-wrapper {
  clear: both;
  width: 100%;
  display: block;
}

.addons-dlbutton-wrapper a {
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.addon-features ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 15px;
}

.addon-features ul li {
	display: inline-block;
	margin-right: 5px;
	font-size: 0.9em;
}

.addon-features  { width: 48%; float: left;}
.addon-tags { width: 48%; float: right;}
.addon-tags a {margin-bottom: 4px; display: inline-block;}



.addon-facts {
  font-size: 0.85em;
  border-top: 1px solid gray;
  padding-top: 10px;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 25px;
  position: absolute;
  bottom: 0;
}

.addon-facts span {
  padding-right: 20px;
  display: inline-block;
  font-size: 0.93em;
}

.primary, .label-primary {background-color: #2DB2EA;}
.pagination > li > a, .pagination > li > span {color: #2DB2EA;}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
background-color: #2DB2EA;
}

.addonpage ul.dropdown-menu li a {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}

img.addonlist {
	margin-bottom: 0;
	width: 100%;
}

.addons-stats-wrapper {
    clear: both;
    float: left;
    width: 98%;
    margin-bottom: 10px;
}

div.manage-addon { position: inherit; margin-top: 0px;}
div.manage-addon img { height: 18px; width: 18px;}

img.addon-source {margin: 3px;}
img.addon-edit {margin: 3px;}

.addon-description {
   min-height: 0px;
  overflow: hidden;
  margin-bottom: 5px;
  font-size: 0.90em;
  padding-bottom: 20px;
}

.addon-normal .addon-description { margin-top: 20px;}

.addon-permission {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}


/* menu bar */
.addonpage .form-control {height: 1.5em;}
.addonpage .navbar-nav > li > a {
	text-decoration: none;
	text-align: center;
	display: block;
	min-width: 60px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	
}
.addonpage .navbar-inverse .navbar-nav > li > a {color: silver;}
.addonpage .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color:black;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}
.addonpage li.active a {
  	color:black;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}


.addonpage li.dropdown.open a {
  	color:black;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}

span.addon-date-updated,span.addon-date-added {
	padding-bottom: 5px;
	display: inline-block;
}

.addonpage a.view-select {
  font-size: 1.7em;
  color: gray;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
}

.addonpage a.view-select:hover { color: black;}

.addonpage div#view-controls {
	float: right;
	font-family: FontAwesome;
	display: inline-block;
	margin-right: 15px;
	margin-left: 15px;
}

.addonpage div#quick-links {
	float: left;
	font-size: 0.9em;
	color: gray;
}

.addonpage a.quick-select {
	color: gray;
	padding-right: 20px;
	font-size: 0.9em;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	margin-left: 5px;
}

.addonpage a.quick-select:hover {
  color: black;
  text-decoration: underline;
}



form#reviewaddon { padding: 15px;}
#reviewaddon label { padding-bottom: 3px;}
#reviewaddon  input[type="checkbox"] {
    margin-right: 2px;
    margin-left: 2px;
}
#reviewaddon table, tbody, tr {width: 100%;}



span.noscreenshots {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-weight: 400;
    font-size: 0.8em;
    color: gray;
    margin-top: 10px;
}

p.plugin-thumb {
    display: block;
    width: 98%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 55.12% 0 0 0; /* aspect ratio 16:9 */
    border: 4px solid white;
    box-shadow: 1px 1px 1px gray;
    margin-bottom: 5px;

}

p.plugin-thumb img {
    display: block;
    height: 100%;
    width:100%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: fill;
    overflow: hidden;
}



.plugin-thumb .plugin-screens-thumbs {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;  
}

.addon-skin p.plugin-screens-thumbs {
    overflow: hidden;
    /* max-height: 100px; */
    min-height: 50px;
    margin: 0;
    padding: 0;
    display: block;
}

.addon-skin span.screen-thumb {
    display: inline-block;
    width: 30%;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 16.87% 0 0 0; /* aspect ratio 16:9 */
    border: 3px solid white;
    box-shadow: 1px 1px 1px gray;
    margin-bottom: 5px;
    margin-right: 3%;
    box-sizing:border-box;
}

.addon-skin span.screen-thumb-last {
    margin-right: 0;
    float: right;
}


.addon-skin span.screen-thumb img {
    display: block;
    height: 100%;
    width:100%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: fill;
    overflow: hidden;
}

@media only screen and (min-width: 15em){
.addon-tags {padding-bottom: 40%;}
}
@media only screen and (min-width: 20em){
.addon-tags {padding-bottom: 30%;}
}
@media only screen and (min-width: 30em){
.addon-tags {padding-bottom: 20%;}
}


/* ===== == = === 37.5em (600px) === = == ===== */
@media only screen and (min-width: 37.5em) {
   p.plugin-thumb {width: 80%;padding: 45% 0 0 0;}
   .addon-skin p.plugin-screens-thumbs.screenshots-below {width: 82%;} 
   .addon-skin  {min-height: 455px;}
	.addon-normal  {min-height: 440px;}
	.addon-tags {padding-bottom: 12%;}
}

/* ===== == = === 48em (768px) === = == ===== */
/* .medium-col-1-2 */
@media only screen and (min-width : 48em) {
    p.plugin-thumb {width: 80%;padding: 45% 0 0 0;}
    .addon-skin p.plugin-screens-thumbs.screenshots-below {width: 82%;}
    .addon-skin  {min-height: 440px;}
	.addon-tags {padding-bottom: 0;}

}

/* ===== == = === 56.25em (900px) === = == ===== */
@media only screen and (min-width: 56.25em) {
    p.plugin-thumb {width: 80%;padding: 45% 0 0 0;}
    .addon-skin p.plugin-screens-thumbs.screenshots-below {width: 82%;}
}

/* ===== == = === 68.75em (1100px) === = == ===== */
@media only screen and (min-width : 68.75em) {
    p.plugin-thumb {width: 98%;padding: 55.12% 0 0 0;}
    .addon-skin p.plugin-screens-thumbs.screenshots-below {width: 100%;}
    .addon-skin .addonbox {min-height: 420px;}
}

/* Large screens ----------- */
@media only screen and (min-width : 81.25em) {
    .addon-skin .addonbox {min-height: 450px;}
}


/* responsive youtube */

.yt-container-wrapper {
	max-width: 600px;
	height: auto;
}

.yt-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    cursor: pointer;
    background-position: top left;
    background-size: cover;

}
 
.yt-container iframe,
.yt-container object,
.yt-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.yt-container::before { /* play bubble */
  content: '';
  background: rgba(255, 255, 255, .6);
  height: 80px;
  width: 80px;
  display:block;
  margin: -40px 0 0 -40px;
  border-radius: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 0 20px 3px rgba(51, 51, 51, .8);
  transition: all .1s ease;
  z-index:1;
}

.yt-container:hover::before { /* play bubble hover */
  background: rgba(238, 238, 238, .8);
  box-shadow: 0 0 10px 3px rgba(51, 51, 51, .8);
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
}

.yt-container::after { /* Play Triangle */
  content: '';
  width: 0;
  height: 0;
  line-height:0px;
  display:block;
  border-style: solid;
  border-width: 20px 0 20px 40px;
  margin: -20px 0 0 -15px;
  border-color: transparent transparent transparent #333;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0;
  width: 0;
  z-index:2;
} 

#forum .yt-container {
  width: 80%;
}

.featuredvideos-text {
  padding: 0 20px 0 20px;
}

img.iremote_page {max-width: 90%;}

span.inputicon input[type="submit"] {
    margin: 10px;
    padding-left: 30px;
}
span.inputicon {position: relative;}
span.inputicon:after {
    font-family: 'FontAwesome';
    font-size: 13px;
    position: absolute;
    left: 20px;
    top: 1px;
    pointer-events: none;
    color:#333333;
}
span.inputicon.save-icon:after {content:"\f0c7";}
span.inputicon.delete-icon:after {content:"\f014";}
span.inputicon.cancel-icon:after {content:"\f00d";}

.ghosted {
    opacity: 0.6;
    color: silver !important;
}

/* common colors */
.green {color: green !important;}
.red {color: red !important;}
.blue {color: blue !important;}
.orange {color: orange !important;}
.cyan {color: cyan !important;}
.magenta {color: magenta !important;}
.gray {color: silver !important;}
.black {color: black !important;}
.white {color: white !important;}

.clickable {
    cursor: pointer;
}
