/* STANDARD MENU */

#standard-nav {
	width: 100%;
}



ul#topmenu {
width: 100%;
background-color: #363636;
}

ul#topmenu,ul#topmenu ul{
	margin:0;
	list-style:none;
	padding:0;
	background-color:none;
	border-width:0;
	border-style:solid;
	border-color:;

}

ul#topmenu ul{
	visibility:hidden;
	position:absolute;
	left:0;
	top:100%;
	opacity:0;
	-moz-transition:all 0.5s;
	-webkit-transition:opacity 0.5s;
	-o-transition:opacity 0.5s,
	visibility 0.5s;
	transition:opacity 0.5s;
	background-color:#3F3F3F;
	border-radius:0px;-
	moz-border-radius:0px;
	-webkit-border-radius:0px;
	padding:0;
}

ul#topmenu li:hover>ul{
	visibility:visible;
	opacity:1;
}

ul#topmenu li{
	position:relative;
	display:block;
	white-space:nowrap;
	font-size:0;
	float:left;

}

ul#topmenu li:hover{
	z-index:1;
}

ul#topmenu ul ul{
	position:absolute;
	left:100%;
	top:0;
	-moz-box-shadow:#585858 0px 0px 1px;
	-webkit-box-shadow:#585858 0px 0px 1px;
	box-shadow:#585858 0px 0px 1px;
}

ul#topmenu{
	font-size:0;
	z-index:999;
	position:relative;
	display:inline-block;
	zoom:1;
	padding:0;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	*display:inline;
}


* html ul#topmenu li a{
	display:inline-block;
}

ul#topmenu>li{
	margin:0;
	width: 16.666666%;
}

ul#topmenu a:active, ul#topmenu a:focus{
	outline-style:none;
}
ul#topmenu a{
	display:block;
	vertical-align:middle;
	text-align:left;
	text-decoration:none;
	font:bold 12px Open Sans,Arial,sans-serif;
	color:#AAAAAA;
	cursor:pointer;
	padding: 23px 18px 23px 35px;
	background-color:;
	background-repeat:repeat;
	border-width:0px;
	border-style:none;
	border-color:;
}

ul#topmenu ul li{
	float:none;
	margin:0;
}

ul#topmenu ul a{
	text-align:left;
	padding:8px 15px;
	background-color:#3F3F3F;
	border-width:0 0 1px 0;
	border-style:solid;
	border-color:#4A4A4A;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-o-transition:all 0.5s;
	font:13px Open Sans,Arial,sans-serif;
	color:#AAAAAA;
	text-decoration:none;
	

}
ul#topmenu ul a{
width:190px;
}

ul#topmenu ul ul a{
width:150px;
}

ul#topmenu li:hover>a,ul#topmenu li a.pressed{
	border-style:none;
	color:#FFFFFF;
	text-decoration:none;
}

ul#topmenu img{
	border:none;
	vertical-align:middle;
	margin-right:23px;
}

ul#topmenu ul span{
	background-image:none;
	padding-right:8px;
}

ul#topmenu ul li:hover>a,ul#topmenu ul li a.pressed{
	background-color:#2DB2EA;
	border-style:solid;
	border-color:#4A4A4A;
	color:#FFFFFF;
	text-decoration:none;
}

ul#topmenu li.topmenu>a{
	background-color:#363636;
	border-width:3px 0 0 0;
	border-style:solid;
	border-color:transparent transparent transparent transparent;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
}

ul#topmenu li.topmenu:hover>a,ul#topmenu li.topmenu a.pressed{
	background-color:#3F3F3F;
	border-style:solid;
	border-color:#2DB2EA transparent transparent transparent;
}

ul#topmenu li.sublast>a{
	border-width:0px;

}


.top-menu-icon {
	font-size: 30px;
	color: silver;
	margin-right: 15px;
	line-height: 0.5;
}

.menuarrow{
	float: right;
}

/* MOBILE MENU */

#mobilemenu-bar{
	height: 60px;
	background-color: #363636;
	padding: 10px;
	color: silver;
}

#mobilemenu-toggle {
	display: block;
	width: auto;
	color: #fff;
	font-size: 2em;
	text-align: center;
	padding: 5px;
	width: 40px;
	float: left;
}

#mobilemenu-toggle:hover {
	background-color: red;
	cursor: pointer;
}

#mobilemenu-close {
	display: block;
	width: auto;
	color: #fff;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	width: 30px;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}

#mobilemenu-close:hover {
background-color: red;
cursor: pointer;
}

.mobilemenu-toggle-tag{
	float: left;
	font-size: 1.2em;
	margin-left: 10px;
	margin-top: 15px;
	color: #fff;
}


#mobilemenu-flyout {
	z-index: 999;
    width: 250px;
    position: fixed;
  	margin: auto;
	top: 0;
	left: -500px;
	height: 100%;
 	background-color: #363636;
    border-right: 1px solid #161616;
    border-bottom: 1px solid #161616;
  

}



#body #outer-wrapper {
	-webkit-transform: translateX(0);
	transform: translateX(0);

	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#body.show-nav-mobile #outer-wrapper {
	-webkit-transform: translateX(250px);
	transform: translateX(250px);

	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#body.show-nav-mobile #mobilemenu-flyout {
     left: -250px;
}


#mobilemenu {
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 1em;
	border-top: 1px solid #161616;

}

#mobilemenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul#mobilemenu-list li {
	padding: 0;
	margin: 0;
	height: auto;
	border-bottom: 1px solid #161616;
	border-left: 3px solid #363636;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;

}

ul#mobilemenu-list li:hover {
	border-left: 3px solid #2DB2EA;
	background-color: #161616;
	cursor: pointer;

}

ul#mobilemenu-list a {
	display:block;
	vertical-align:middle;
	text-align:left;
	text-decoration:none;
	font:bold 12px 'Open Sans',Arial,sans-serif;
	color:#AAAAAA;
	cursor:pointer;
	padding: 15px 0px 15px 15px;
	border-width:0px;
	border-style:none;
	line-height: 2;
}

#mobilemenu img {
	float: left;
	margin-right: 10px;
}

/* level 2 */
li.mobilemenu ul{
    display:none; 
    background-color: #2c2c2c;
    list-style: none;
    margin: 0;
    padding: 0;

}
li.mobilemenu ul li:hover>ul{
  /*  display:block; */  
}


ul.mobilemenu-sub li {
	padding: 0;
	margin: 0;
	height: auto;
	border-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

ul.mobilemenu-sub li:hover {
		border-left: 0;
}

ul.mobilemenu-sub li a {
 display: none;
}
ul.mobilemenu-sub li a {
	display:none;
	vertical-align:middle;
	text-align:left;
	text-decoration:none;
	font:bold 12px 'Open Sans',Arial,sans-serif;
	color:#AAAAAA;
	cursor:pointer;
	padding: 15px 0px 15px 15px;
	border-width:0px;
	border-style:none;
	line-height: 2;
}


/* extras */
.menuicon{
font-size: 16px;
display: inline-block;
margin-right: 12px;
color: #d9d9d9;
line-height: 1;
}

ul#topmenu img {
border: none;
vertical-align: middle;
margin-right: 12px;
}

li.menuline {
height: 2px;
border-top: 2px solid #7f7f7f;
background: #7f7f7f;
}