body {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-size: 1.2em/1.5;
	font: 1.2em/1.5 'Roboto', Helvetica, Arial, sans-serif;
	color: #141414;
	text-rendering: optimizeLegibility;
}


h1 {
	font-weight: 800;
	line-height: 1.1em;
	font-size: 3em;
	line-height: 1.2em;
	margin: 10px 0 10px 0;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color:#161616;
/*	letter-spacing: -1px; */
	text-transform: uppercase;
}

h2 {
	font-weight: 800;
	margin: 0 0 .2125em 0;
	font-size: 2em;
	line-height: 1.2em;
	margin: 10px 0 10px 0;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color:#161616;
/*	letter-spacing: -1px; */
	text-transform: uppercase;
	
}

h3 {
	font-weight: 700;
	margin: 0 0 .2125em 0;
	font-size: 1.5em;
	line-height: 1.2em;
	margin: 10px 0 10px 0;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color:#161616;
/*	letter-spacing: -1px; */
	text-transform: uppercase;
	
}

h4 {
	font-weight: 700;
	margin: 0 0 .2125em 0;
	font-size: 1.2em;
	line-height: 1.2em;
	margin: 10px 0 10px 0;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color:#161616;
}


h5 {
	font-weight: 600;
	margin: 0 0 .2125em 0;
	font-size: 1.15em;
	line-height: 1.2em;
	margin: 10px 0 10px 0;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color:#161616;
	
}

p {margin: 0 0 1.5em 0;}
.whitebox p {margin: 0 0 5px 0;}

/* ****************
     TITLES (spesific for uses)
***************** */

#sidebar h1 {font-size: 1.5em;}
#sidebar h2 {font-size: 1.3em;}

/* *************** 
 	LINKS 
************  */

a, a:visited {color: black; text-decoration: underline;}
a:hover {text-decoration: underline;}

.social-link a { text-decoration: none;}
.social-link a:hover {text-decoration: none; color:white;}

.darkbox a, a:visited { color: silver; text-decoration: underline;}
.darkbox a:hover { color: white; text-decoration: none;}

.whitebox a, a:visited { color: black; text-decoration: underline;}
.whitebox a:hover { color: gray; text-decoration: none;}


