.loginbar input[type="submit"]
{
    height:22px;background-color:gray;background-image:url(/images/css/forum_button.jpg);border:1px solid black;color:white;font-size:11px;padding:2px;
}
.loginbar button
{
    height:22px;background-color:gray;background-image:url(/images/css/forum_button.jpg);border:1px solid black;color:white;font-size:11px;padding:2px;
    padding-right:8px;
}
.loggedbar input[type="submit"]
{
    height:22px;background-color:gray;background-image:url(/images/css/forum_button.jpg);border:1px solid black;color:white;font-size:11px;padding:2px;
}
.submitsignout
{
    width:120px;position:absolute;top:50%;margin-top:-11px;right:15px;
}
.submitsignin
{
    width:120px;position:relative;top:50%;margin-top:-11px;left:15px;
}
.submitoauth
{
    position:absolute;top:50%;margin-top:-11px;right:15px;
}
.submitmicrosoft
{
    background-position:-22px 0;
    background-image:url(/images/ui-icons/oauth.png);
    background-repeat:no-repeat;
    width:22px;
    height:22px;
    float: left;
}
.submitgoogle
{
    background-position:0 0;
    background-image:url(/images/ui-icons/oauth.png);
    background-repeat:no-repeat;
    width:22px;
    height:22px;
    float: left;
}

#atomixbar {margin-top:8px;padding-top:2px;padding-bottom:2px;width:898px;display:block;background-color:#000000;font-size:10px;text-align:center;color:silver;}
#atomixbar a:link,#atomixbar a:visited {color:silver;}
#framebottom {background-image:url(/images/css/frame_bottom.png); background-repeat:no-repeat; width:944px;height:15px;margin-top:0px;margin-left:auto;margin-right:auto;float:none;}

/* tables */

table.vdj {border:1px solid #4b4c4c;border-collapse:collapse;}
table.vdj td {border:1px solid #4b4c4c;vertical-align:top;padding:5px 5px 5px 5px;background-color:#e3e1e2;}
table.vdj th {background-color:#4b4c4c;color:white;font-size:10px;font-weight:bolder;padding:2px 2px 2px 10px;}
table.vdj tr.r0 td.icon {background-color:#e3e1e2;}
table.vdj tr.r0 td {background-color: #e0dedf;}
table.vdj tr.r0 td+td {background-color: #c7c5c6;}
table.vdj tr.r0 td+td+td {background-color: #e0dedf;}
table.vdj tr.r0 td+td+td+td {background-color: #c7c5c6;}
table.vdj tr.r0 td+td+td+td+td {background-color: #e0dedf;}
table.vdj tr.r0 td+td+td+td+td+td {background-color: #c7c5c6;}
table.vdj tr.r0 td+td+td+td+td+td+td {background-color: #e0dedf;}
table.vdj tr.r0 td+td+td+td+td+td+td+td {background-color: #c7c5c6;}
table.vdj tr.r1 td.icon {background-color:#e3e1e2;}
table.vdj tr.r1 td {background-color: #f2f0f1;}
table.vdj tr.r1 td+td {background-color: #cfcdce;}
table.vdj tr.r1 td+td+td {background-color: #f2f0f1;}
table.vdj tr.r1 td+td+td+td {background-color: #cfcdce;}
table.vdj tr.r1 td+td+td+td+td {background-color: #f2f0f1;}
table.vdj tr.r1 td+td+td+td+td+td {background-color: #cfcdce;}
table.vdj tr.r1 td+td+td+td+td+td+td {background-color: #f2f0f1;}
table.vdj tr.r1 td+td+td+td+td+td+td+td {background-color: #cfcdce;}
table.vdj table {border:0px;}
table.vdj table td {border:0px;background-color:transparent;}


/* text elements */

.forumtree {font-size:0.9em;}
.level {font-size:0.9em;font-style:italic;}
.postlevel {font-size:0.9em;font-style:italic;color:red;}
.date {font-size:0.8em;}
.pageselector {font-size:0.9em;}
.txt_small {font-size:0.9em;}
.error {color:red;}
.title {font-weight:bolder;font-size:12px;}
.halftone {filter:alpha(opacity=50);filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);-moz-opacity:0.50;opacity:0.50;}

/* BB code and forum boxes */

.quote {margin-left:50px;margin-right:20px;font-weight:bold;}
.quotecontent {padding:5px 5px 5px 5px;background-color:#FAFAFA;border:1px solid #808080;font-size:0.9em;font-weight:normal;}
.sourcecode {margin-left:20px;margin-right:20px;padding:5px 5px 5px 5px;background-color:#FAFAFA;border:1px solid #808080;font-size:0.9em;font-family:monospace;}
.forumcontent {max-width:720px;word-wrap:break-word;}
.forumcontent img {max-width:650px;width:expression(this.width>650?650:true);}
.forumauthor {width:120px;overflow:hidden;font-size: 0.9em;}
.forumdate {max-width:750px;}

/* boxes */

.titlebar {width:100%;height:24px;background:url(/images/css/titleleft.png) 0 0 no-repeat;background-color:#4b4c4c;}
.titlebar h1 {background:url(/images/css/titleright.png) 100% 0 no-repeat;text-transform:uppercase;padding-left:0.9em;padding-top:3px;overflow:hidden;color:white;}
.titlebar h1 a:link,.titlebar h1 a:visited {color:white;}
.vdjbox {width:100%;height:auto;position:relative;}
.vdjbox0 {width:auto;height:auto;border-left:1px solid #4b4c4c;border-right:1px solid #4b4c4c;}
.vdjboxcontent {margin:0px 6px 0px 6px;}
.vdjbox1 {width:4px;height:4px;position:absolute;bottom:0;left:0;background:url(/images/css/boxlowleft.png) 0 0 no-repeat;}
.vdjbox2 {width:4px;height:4px;position:absolute;bottom:0;right:0;background:url(/images/css/boxlowright.png) 0 0 no-repeat;}
.vdjbox3 {width:auto;height:3px;border-bottom:1px solid #4b4c4c;margin:0px 4px 0px 4px;}

.vdjboxsub {font-size:0.9em;color:gray;}

/* bars and tabs */

.searchbox {border:1px solid #4b4c4c;background-color:#e3e1e2;padding:6px 5px 2px 5px;}

table.pluginbar {border:1px solid #4b4c4c;border-collapse:collapse;background-color:#e3e1e2;}
table.pluginbar td {padding:6px 5px 2px 5px;}
table.pluginlist img {border:1px solid gray;}
table.pluginbarbuttons {width:100%;padding:0px;border-collapse:collapse;border-spacing:0px;margin-top:20px;margin-bottom:0px;}
table.pluginbarbuttons div
{
    width:90px;height:12px;padding:5px;margin:20px 5px 0px 5px;
    background-color:#303030;color:silver;
    font-size:0.8em;font-weight:blod;text-align:center;text-decoration:none;cursor:pointer;
    border:1px solid black;border-bottom:0px;
}
table.pluginbarbuttons div:hover {background-color:#4b4c4c;color:white;}
table.pluginbarbuttons div.active {background-color:#9c9c9c;color:black;}
table.pluginbarbuttons div.upload {background-color:#d4d4d4;color:black;}

.loginbar {border:1px solid black;padding:10px;margin-top:20px;height:24px;background-color:#E3E1E2;vertical-align:middle;position:relative;}
.loggedbar {border:1px solid black;padding:0px;margin-top:20px;height:50px;background-color:#d4d4d4;vertical-align:middle;position:relative;}
.submitlogin
{
    width:120px;height:22px;position:absolute;top:50%;margin-top:-11px;right:15px;
    background-color:gray;background-image:url(/images/css/forum_button.jpg);border:1px solid black;color:white;font-size:11px;padding:2px;
}
.logbarsub div
{
    width:130px;height:12px;padding:5px;margin:0px 0px 0px 25px;float:left;
    background-color:#4b4c4c;color:white;
    font-size:9px;font-weight:blod;text-align:center;text-decoration:none;cursor:pointer;
    border:1px solid black;border-top:0px;
}
.logbarsub div:hover {background-color:#303030;color:white;}
.logbarsub div.active {background-color:#efdeb5;color:#000000;}
.logbarsub div.active:hover {background-color:#e3cf9d;color:#000000;}

/* bubble */

#BubbleDetail
{
    visibility:hidden;position:absolute;z-index:9999;
    background-color:gray;filter:alpha(opacity=95);filter:progid:DXImageTransform.Microsoft.Alpha(opacity=95);-moz-opacity:0.95;opacity:0.95;
}
.BubbleTable {background-color:gray;height:auto;border:2px solid black;padding:10px;}
#BubbleDetailTxt {color:white;font-size:11px;font-weight:bold;}



.titlebar h1 {
text-transform: uppercase;
padding-left: 10px;
padding-top: 3px;
overflow: hidden;
color: white;
font-size: 1em;
}



/* *******************
  changes to override v7 stuff 
***************** */
/* <b> as "titles" from white to dark */
div.whitebox.gray-gradient b {
color: #161616;
}


.vdjbox {
width: 95%;
height: auto;
position: relative;
margin-left: auto;
margin-right: auto;
margin-bottom: 15px;
}



/* temporary overrrides to make forum look ok */
#forum { letter-spacing: normal; }

#forum input[type=text] {
width: auto;
}

.loginbar input[type=password] {
width: auto;
}

.loginbar input[type=text] {
width: auto;
height: auto;
margin-top: 15px;
margin-left: 15px;
}


#forum .forumdate {
max-width: 100%;
}

#forum h1 {
   letter-spacing: normal; 
}

#forum .quotecontent {
background-color: #EEEAE6;
}

#forum .forumcontent {
max-width: 95%;
word-wrap: break-word;
padding-left: 10px;
padding-bottom: 10px;
}

#forum textarea {
width: 99.5% !important;
height: 150px !important;
}

#forum:before,
#forum:after {
  content:"";
  display:table;
}
#forum:after {
  clear:both;
}
#forum {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}



.titlebar {
    width: 100%;
    height: 40px;
    background: rgba(43,43,43,1);
    background: -moz-linear-gradient(top, rgba(75,75,75,1) 0%, rgba(43,43,43,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(75,75,75,1)), color-stop(100%, rgba(43,43,43,1)));
    background: -webkit-linear-gradient(top, rgba(75,75,75,1) 0%, rgba(43,43,43,1) 100%);
    background: -o-linear-gradient(top, rgba(75,75,75,1) 0%, rgba(43,43,43,1) 100%);
    background: -ms-linear-gradient(top, rgba(75,75,75,1) 0%, rgba(43,43,43,1) 100%);
    background: linear-gradient(to bottom, rgba(75,75,75,1) 0%, rgba(43,43,43,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#161616', GradientType=0 );
}




table.vdj {

        background: -webkit-linear-gradient(top, #f4f5f7 0%,#e1e2e6 90%,#cfd1d4 100%);
    background: -moz-linear-gradient(top, #f4f5f7 0%,#e1e2e6 90%,#cfd1d4 100%);
    background: -o-linear-gradient(top, #f4f5f7 0%,#e1e2e6 90%,#cfd1d4 100%);
    background: -ms-linear-gradient(top, #f4f5f7 0%,#e1e2e6 90%,#cfd1d4 100%);
    background: linear-gradient(top, #f4f5f7 0%,#e1e2e6 90%,#cfd1d4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f5f7', endColorstr='#cfd1d4',GradientType=0 );
    border: 1px solid #949494;
    -webkit-box-shadow: inset 0px 1px 0px #fff, 0px 1px 1px rgba(0,0,0,.15);
    -moz-box-shadow: inset 0px 1px 0px #fff, 0px 1px 1px rgba(0,0,0,.15);
    box-shadow: inset 0px 1px 0px #fff, 0px 1px 1px rgba(0,0,0,.15);
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

/* fix for Firefox IE that will not show tables as blocks */
table.forumtopic {table-layout: fixed;}

table.vdj tr td {

}

.titlebar h1 {
background: none;
text-transform: uppercase;
padding-left: 10px;
padding-top: 3px;
overflow: hidden;
color: white;
font-size: 1.2em;
line-height: 1;
padding-top: 10px;
}

table.vdj tr.r1 b a {
    color:#242424;
    font-size: 1em;
    font-weight: 700;
}

table.vdj tr.r0 b a {
   color:#242424;
   font-size: 1em;
   font-weight: 700;
}

table.vdj tr.r0 td+td {
    background-color: #e5e5e5;

}

table.vdj tr.r1 td+td {
    background-color: #f1f1f1;
}

table.vdj tr.r1 td.icon {
    background-color: #f1f1f1;
}

table.vdj th {
background: none;
color: black;
font-size: 10px;
font-weight: bolder;
padding: 2px 2px 2px 10px;
}

#forum .postlevel {
font-size: 10px;
font-style: italic;
color: red;
}


.forumcontent img {
max-width: 80% !important;
width: expression(this.width>1000?1000:true);
width: auto;
margin-left: auto;
margin-right: auto;
display: block;
border: 12px solid white;
margin-bottom: 20px;
box-shadow: 2px 4px 4px gray;
}

#forum .icon img {
    vertical-align: middle;
    text-align: center;
    opacity: 0.95;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    min-width: 25px;
    margin-top: 10px;
}
/* avatar */
div.forumauthor a img {
border: 4px solid white;
box-shadow: 1px 1px 1px gray;
margin-bottom: 5px;
}



/* hardware images 
.forumauthor img {
height: 20px;
}

*/

.loggedbar, .loginbar  {
border: 1px solid black;
padding: 0px;
margin-top: 20px;
height: 50px;
vertical-align: middle;
position: relative;
color: black;
    background: -webkit-linear-gradient(top, #f4f5f7 0%,#e1e2e6 90%,#cfd1d4 100%);
    background: -moz-linear-gradient(top, #f4f5f7 0%,#e1e2e6 90%,#cfd1d4 100%);
    background: -o-linear-gradient(top, #f4f5f7 0%,#e1e2e6 90%,#cfd1d4 100%);
    background: -ms-linear-gradient(top, #f4f5f7 0%,#e1e2e6 90%,#cfd1d4 100%);
    background: linear-gradient(top, #f4f5f7 0%,#e1e2e6 90%,#cfd1d4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f5f7', endColorstr='#cfd1d4',GradientType=0 );
    border: 1px solid #949494;
    -webkit-box-shadow: inset 0px 1px 0px #fff, 0px 1px 1px rgba(0,0,0,.15);
    -moz-box-shadow: inset 0px 1px 0px #fff, 0px 1px 1px rgba(0,0,0,.15);
    box-shadow: inset 0px 1px 0px #fff, 0px 1px 1px rgba(0,0,0,.15);

}

/* readabilty */
#forum {
    color: black;
    font-size: 1em;
    text-rendering: optimizeLegibility;
}




/* quick attempt at making forum a little more fluid to fit devices */


/* *************
 SWREG SPESIFIC 
***********  */

th#swr_cart_unit_price_id {
    width: 15% !important;
}
th#swr_cart_quantity_id {
    width: 5% !important;
    text-align: center;
}

th#swr_cart_delivery_method_id {
    width: 10% !important;
}
th#swr_cart_total_unit_price_id {
    width: 15% !important;
}
th#swr_cart_name_id {
    width: 55% !important;
}
table#swr_cart {
    width: 100% !important;
    border-spacing: 1px !important;
    border-collapse: separate;
   
}
table#swr_billing_table_id {
    width: 100% !important;
    border-collapse: separate;
    border-spacing: 5px;
}
table#swr_vendor_table_id tr td {
    padding: 3px;
}
table#swr_vendor_table_id {
    border-collapse: separate;
    border-spacing: 2px;
    background: white;
    border: 2px solid #c7ced6;
    padding: 10px;
    height: 300px;
     width: 100%;
}
table#swr_billing_table_id {
    border-collapse: separate;  border-spacing: 2px;  background: white;  
    border: 2px solid #c7ced6;  padding: 10px;
    height: 300px;
     width: 100%;
}
table#swr_cc_payment_table_id {
    border-collapse: separate;  border-spacing: 2px;  background: white;  border: 2px solid #c7ced6;  padding: 10px;  height: 300px;
    width: 100%;
}
tr.swr__head {
    font-weight: 600;
    text-decoration: underline;
}


