/*  buttons-core */
.vdj8 .button {
    /* Structure */
    display: inline-block;
    *display: inline; /*IE 6/7*/
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Firefox: Get rid of the inner focus border */
.vdj8 .button::-moz-focus-inner{
    padding: 0;
    border: 0;
}
/* end buttons-core */
/*csslint unqualified-attributes:false*/

.vdj8 .button {
    font-size: 100%;
    *font-size: 90%; /*IE 6/7 - To reduce IE's oversized button text*/
    *overflow: visible; /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
    padding: 0.7em 3em 0.7em;
    color: #fcfcfc; /* rgba not supported (IE 8) */
    /* color: rgba(0, 0, 0, 0.80); rgba supported */
    /* *color: #444; IE 6 & 7 */
    border: 1px solid #4f4f4f; /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0); /*IE9 + everything else*/
    background-color: #5e5e5e;
    text-decoration: none;
    border-radius: 2px;
    -webkit-font-smoothing: antialiased;
    /* Transitions */
    -webkit-transition: 0.1s linear -webkit-box-shadow;
    -moz-transition: 0.1s linear -moz-box-shadow;
    -ms-transition: 0.1s linear box-shadow;
    -o-transition: 0.1s linear box-shadow;
    transition: 0.1s linear box-shadow;
}

.vdj8 .button-hover,
.vdj8 .button:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.05)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.15));
    background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.05));
    background-image: -ms-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.15));
    background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.05));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.05));
}

.vdj8 .button:focus {
    outline: 0;
}
.vdj8 .button-active,
.vdj8 .button:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
}

.vdj8 .button[disabled],
.vdj8 .button-disabled,
.vdj8 .button-disabled:hover,
.vdj8 .button-disabled:active {
    border: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=40);
    -khtml-opacity: 0.40;
    -moz-opacity: 0.40;
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
}

.vdj8 .button-hidden {
    display: none;
}

/* Firefox: Get rid of the inner focus border */
.vdj8 .button::-moz-focus-inner{
    padding: 0;
    border: 0;
}

.vdj8 .button-primary,
.vdj8 .button-selected,
.vdj8 a.button-primary,
.vdj8 a.button-selected {
    background-color: #161616;
    color: #e6e6e6;
}


/* core form styles  */
/* for use with normalize.css v1.1.0  */

/* ==========
Forms Core
=========*/

/*
 * Corrects margin displayed oddly in IE 6/7.
 */

.vdj8 .form {
    margin: 0;
}

/* Define consistent border, margin, and padding.*/
 

.vdj8 .form fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Corrects text not wrapping in Firefox 3.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */

.vdj8 .form legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */

.vdj8 .form button,
.vdj8 .form input,
.vdj8 .form select,
.vdj8 .form textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/*
 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

.vdj8 .form button,
.vdj8 .form input {
    line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    
 */

.vdj8 .form button,
.vdj8 .form input[type="button"], /* 1 */
.vdj8 .form input[type="reset"],
.vdj8 .form input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/*
 * Re-set default cursor for disabled elements.
 */

.vdj8 .form button[disabled],
.vdj8 .form input[disabled] {
    cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    
 */

.vdj8 .form input[type="checkbox"],
.vdj8 .form input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

.vdj8 .form input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

.vdj8 .form input[type="search"]::-webkit-search-cancel-button,
.vdj8 .form input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
 * Removes inner padding and border in Firefox 3+.
 */

.vdj8 .form button::-moz-focus-inner,
.vdj8 .form input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */

.vdj8 .form textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}
/* ===============  forms-responsive.css =================*/

@media only screen and (max-width : 480px) {
    .vdj8 .form button[type="submit"] {
    margin: 0.7em 0 0;
    }

    .vdj8 .form input[type="text"],
    .vdj8 .form input[type="password"],
    .vdj8 .form input[type="email"],
    .vdj8 .form input[type="url"],
    .vdj8 .form input[type="date"],
    .vdj8 .form input[type="month"],
    .vdj8 .form input[type="time"],
    .vdj8 .form input[type="datetime"],
    .vdj8 .form input[type="datetime-local"],
    .vdj8 .form input[type="week"],
    .vdj8 .form input[type="number"],
    .vdj8 .form input[type="search"],
    .vdj8 .form input[type="tel"],
    .vdj8 .form input[type="color"],
    .vdj8 .form label {
        margin-bottom: 0.3em;
        display: block;
    }
    
    .vdj8 .group input[type="text"],
    .vdj8 .group input[type="password"],
    .vdj8 .group input[type="email"],
    .vdj8 .group input[type="url"],
    .vdj8 .group input[type="date"],
    .vdj8 .group input[type="month"],
    .vdj8 .group input[type="time"],
    .vdj8 .group input[type="datetime"],
    .vdj8 .group input[type="datetime-local"],
    .vdj8 .group input[type="week"],
    .vdj8 .group input[type="number"],
    .vdj8 .group input[type="search"],
    .vdj8 .group input[type="tel"],
    .vdj8 .group input[type="color"] {
        margin-bottom: 0;
    }

    .vdj8 .form-aligned .control-group label {
        margin-bottom: 0.3em;
        text-align: left;
        display: block;
        width: 100%;
    }

    .vdj8 .form-aligned .controls {
        margin: 1.5em 0 0 0;
    }

    .vdj8 .form .help-inline,
    .vdj8 .form-message-inline,
    .vdj8 .form-message {
        display: block;
        font-size: 80%;
        /* increased bottom padding to make it group with its related input element */
        padding: 0.2em 0 0.8em;
    }
}

/* ===============  forms.css =================================*/
.vdj8 .form input[type="text"],
.vdj8 .form input[type="password"],
.vdj8 .form input[type="email"],
.vdj8 .form input[type="url"],
.vdj8 .form input[type="date"],
.vdj8 .form input[type="month"],
.vdj8 .form input[type="time"],
.vdj8 .form input[type="datetime"],
.vdj8 .form input[type="datetime-local"],
.vdj8 .form input[type="week"],
.vdj8 .form input[type="number"],
.vdj8 .form input[type="search"],
.vdj8 .form input[type="tel"],
.vdj8 .form input[type="color"],
.vdj8 .form select,
.vdj8 .form textarea {
    padding: 0.7em 1.2em;
    display: inline-block;
    border: 1px solid #e6e6e6;
    font-size: 0.8em;
    box-shadow: inset 0 1px 3px #e6e6e6;
    border-radius: 4px;
    -webkit-transition: 0.3s linear border;
    -moz-transition: 0.3s linear border;
    -ms-transition: 0.3s linear border;
    -o-transition: 0.3s linear border;
    transition: 0.3s linear border;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.vdj8 .form input[type="text"]:focus,
.vdj8 .form input[type="password"]:focus,
.vdj8 .form input[type="email"]:focus,
.vdj8 .form input[type="url"]:focus,
.vdj8 .form input[type="date"]:focus,
.vdj8 .form input[type="month"]:focus,
.vdj8 .form input[type="time"]:focus,
.vdj8 .form input[type="datetime"]:focus,
.vdj8 .form input[type="datetime-local"]:focus,
.vdj8 .form input[type="week"]:focus,
.vdj8 .form input[type="number"]:focus,
.vdj8 .form input[type="search"]:focus,
.vdj8 .form input[type="tel"]:focus,
.vdj8 .form input[type="color"]:focus,
.vdj8 .form select:focus,
.vdj8 .form textarea:focus {
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    border-color: #129FEA;
}

.vdj8 .form input[type="file"]:focus,
.vdj8 .form input[type="radio"]:focus,
.vdj8 .form input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline: 1px auto #129FEA;
}
.vdj8 .form .checkbox,
.vdj8 .form .radio {
    margin: 0.5em 0;
    display: block;
}
.vdj8 .form input[type="text"][disabled],
.vdj8 .form input[type="password"][disabled],
.vdj8 .form input[type="email"][disabled],
.vdj8 .form input[type="url"][disabled],
.vdj8 .form input[type="date"][disabled],
.vdj8 .form input[type="month"][disabled],
.vdj8 .form input[type="time"][disabled],
.vdj8 .form input[type="datetime"][disabled],
.vdj8 .form input[type="datetime-local"][disabled],
.vdj8 .form input[type="week"][disabled],
.vdj8 .form input[type="number"][disabled],
.vdj8 .form input[type="search"][disabled],
.vdj8 .form input[type="tel"][disabled],
.vdj8 .form input[type="color"][disabled],
.vdj8 .form select[disabled],
.vdj8 .form textarea[disabled] {
    cursor: not-allowed;
    box-shadow: inset 0 1px 10px #ededed;
    background-color: #ededed;
    color: #adadad;
    border-color: #e6e6e6;
}
.vdj8 .form input[readonly],
.vdj8 .form select[readonly],
.vdj8 .form textarea[readonly],
.vdj8 .form input[readonly]:focus,
.vdj8 .form select[readonly]:focus,
.vdj8 .form textarea[readonly]:focus {
    background: #eee; /* menu hover bg color */
    color: #777; /* menu text color */
    border-color: #ccc;
}
.vdj8 .form input:focus:invalid,
.vdj8 .form textarea:focus:invalid,
.vdj8 .form select:focus:invalid {
    color: #b94a48;
    border: 1px solid #ee5f5b;
}
.vdj8 .form input:focus:invalid:focus,
.vdj8 .form textarea:focus:invalid:focus,
.vdj8 .form select:focus:invalid:focus {
    border-color: #e9322d;
}
.vdj8 .form input[type="file"]:focus:invalid:focus,
.vdj8 .form input[type="radio"]:focus:invalid:focus,
.vdj8 .form input[type="checkbox"]:focus:invalid:focus {
    outline-color: #e9322d;
}
.vdj8 .form select {
    border: 1px solid #e6e6e6;
    background-color: white;
}
.vdj8 .form select[multiple] {
    height: auto;
}
.vdj8 .form label {
    margin: 0.5em 0 0.2em;
    color: #4f4f4f;
    font-size:90%;
}
.vdj8 .form fieldset {
    margin: 0;
    padding: 0.35em 0 0.75em;
    border: 0;
}
.vdj8 .form legend {
    display: block;
    width: 100%;
    padding: 0.3em 0;
    margin-bottom: 0.3em;
    font-size: 125%;
    color: #262626;
    border-bottom: 1px solid #ededed;
}

.vdj8 .form-stacked input[type="text"],
.vdj8 .form-stacked input[type="password"],
.vdj8 .form-stacked input[type="email"],
.vdj8 .form-stacked input[type="url"],
.vdj8 .form-stacked input[type="date"],
.vdj8 .form-stacked input[type="month"],
.vdj8 .form-stacked input[type="time"],
.vdj8 .form-stacked input[type="datetime"],
.vdj8 .form-stacked input[type="datetime-local"],
.vdj8 .form-stacked input[type="week"],
.vdj8 .form-stacked input[type="number"],
.vdj8 .form-stacked input[type="search"],
.vdj8 .form-stacked input[type="tel"],
.vdj8 .form-stacked input[type="color"],
.vdj8 .form-stacked select,
.vdj8 .form-stacked label,
.vdj8 .form-stacked textarea {
    display: block;
    margin: 0.25em 0;
}

.vdj8 .form-aligned input,
.vdj8 .form-aligned textarea,
.vdj8 .form-aligned select,
.vdj8 .form-aligned .help-inline, 
.vdj8 .form-message-inline {
    display: inline-block;
    *display: inline; /* IE7 inline-block hack */
    *zoom: 1;
    vertical-align: middle;
}

/* aligned Forms */
.vdj8 .form-aligned .control-group {
    margin-bottom: 0.5em;
}
.vdj8 .form-aligned .control-group label {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    margin: 0 1em 0 0;
}
.vdj8 .form-aligned .controls {
    margin: 1.5em 0 0 10em;
}

/* Rounded Inputs */
.vdj8 .form input.input-rounded,
.vdj8 .form .input-rounded {
    border-radius: 30px;
    padding: 0.5em 1em;
}

/* Grouped Inputs */
.vdj8 .form .group fieldset {
    margin-bottom: 10px;
}
.vdj8 .form .group input {
    display: block;
    padding: 0.7em 1.2em;
    margin: 0;
    border-radius: 0;
    position: relative;
    top: -1px;
}
.vdj8 .form .group input:focus {
    z-index: 2;
}
.vdj8 .form .group input:first-child {
    top: 1px;
    border-radius: 4px 4px 0px 0px;
}
.vdj8 .form .group input:last-child {
    top: -2px;
    border-radius: 0px 0px 4px 4px;
}
.vdj8 .form .group button {
    margin: 0.35em 0;
}

.vdj8 .form .input-1 {
    width: 100%;
}
.vdj8 .form .input-2-3 {
    width: 66%;
}
.vdj8 .form .input-1-2 {
    width: 50%;
}
.vdj8 .form .input-1-3 {
    width: 33%;
}
.vdj8 .form .input-1-4 {
    width: 25%;
}

/* Inline help for forms */
.vdj8 .form .help-inline,
.vdj8 .form-message-inline {
    display: inline-block;
    padding-left: 0.3em;
    color: #adadad;
    vertical-align: middle;
    font-size: 90%;
}

/* Block help for forms */
.vdj8 .form-message {
    display: block;
    color: #adadad;
    font-size: 90%;
}
/* note forms-r no skinnable properties */

/* foundational stuff */
.vdj8 .table {
    /* Remove spacing between table cells - by normalize.css */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #d6d6d6;
}

.vdj8 .table caption {
    color: #adadad;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

.vdj8 .table td,
.vdj8 .table th {
    border-left: 1px solid #d6d6d6;/* inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.42em 1.2em; /* cell padding */
}

.vdj8 .table td:first-child,
.vdj8 .table th:first-child {
    border-left-width: 0;
}

.vdj8 .table thead {
    background-color: #bababa;
    color: #0f0f0f;
    text-align: left;
    vertical-align: bottom;
}

/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
.vdj8 .table td {
    background-color: #e6e6e6;
    color: #363636;
}
.vdj8 .table-odd td {
    background-color: #d6d6d6;
    color: #1f1f1f;
}

/* nth-child selector for modern browsers */
.vdj8 .table-striped tr:nth-child(2n-1) td {
    background-color: #d6d6d6;
    color: #1f1f1f;
}


/* BORDERED TABLES */
.vdj8 .table-bordered td {
    border-bottom: 1px solid #d6d6d6;
}
.vdj8 .table-bordered tbody > tr:last-child td,
.vdj8 .table-horizontal tbody > tr:last-child td {
    border-bottom-width: 0;
}

/* HORIZONTAL BORDERED TABLES */
.vdj8 .table-horizontal td,
.vdj8 .table-horizontal th {
    border-width: 0 0 1px 0;
    border-bottom:1px solid #d6d6d6;
}
.vdj8 .table-horizontal tbody > tr:last-child td {
    border-bottom-width: 0;
}

/* menu-core */
/*csslint adjoining-classes:false, outline-none:false*/

.vdj8 .menu ul {
    position: absolute;
    visibility: hidden;
}

.vdj8 .menu.menu-open {
    visibility: visible;
    z-index: 2;
    width: 100%;
}

.vdj8 .menu ul {
    left: -10000px;
    list-style: none;
    margin: 0;
    padding: 0;
    top: -10000px;
    z-index: 1;
}

.vdj8 .menu > ul { position: relative; }

.vdj8 .menu-open > ul {
    left: 0;
    top: 0;
    visibility: visible;
}

.vdj8 .menu-open > ul:focus {
    outline: 0;
}

.vdj8 .menu li {
    position: relative;
}

.vdj8 .menu a, .vdj8 .menu .menu-heading {
    display: block;
    color: inherit;
    line-height: 1.5em;
    padding: 0.49em 2.8em;
    text-decoration: none;
    white-space: nowrap;
}

.vdj8 .menu.menu-horizontal > .menu-heading {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0;
    vertical-align: middle;
}
.vdj8 .menu.menu-horizontal > ul {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    /* height: 2.4em; */
}

.vdj8 .menu li a { padding: 0.49em 2.8em; }

.vdj8 .menu-can-have-children > .menu-label:after {
    content: '\25B8';
    float: right;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'DejaVu Sans', sans-serif; /* These specific fonts have the Unicode char we need. */
    margin-right: -20px;
    margin-top: -1px;
}

.vdj8 .menu-can-have-children > .menu-label {
    padding-right: 30px;
}

.vdj8 .menu-separator {
    background-color: #d6d6d6;
    display: block;
    height: 1px;
    font-size: 0;
    margin: 7px 2px;
    overflow: hidden;
}

.vdj8 .menu-hidden {
    display: none;
}

/* FIXED MENU */
.vdj8 .menu-fixed {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
}


/* HORIZONTAL MENU CODE */

/* Initial menus should be inline-block so that they are horizontal */
.vdj8 .menu-horizontal li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}

/* Submenus should still be display:block; */
.vdj8 .menu-horizontal li li {
    display: block;
}

/* Content after should be down arrow */
.vdj8 .menu-horizontal > .menu-children > .menu-can-have-children > .menu-label:after {
    content: "\25BE";
}
/*Add extra padding to elements that have the arrow so that the hover looks nice */
.vdj8 .menu-horizontal > .menu-children > .menu-can-have-children > .menu-label {
    padding-right: 30px;
}

/* Adjusting separator for vertical menus */
.vdj8 .menu-horizontal li.menu-separator {
    height: 50%;
    width: 1px;
    margin: 0 7px;
}

/* Submenus should be horizontal separator again */
.vdj8 .menu-horizontal li li.menu-separator {
height: 1px;
width: auto;
margin: 7px 2px;
}


/* end menu-core *******************************************/
/* enu-paginator */
/*csslint box-model:false*/

.vdj8 .paginator {

    /* `g` Grid styles */
    letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
    *letter-spacing: normal; /* reset IE < 8 */
    *word-spacing: -0.43em; /* IE < 8: collapse white-space between units */
    text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */

    /* `paginator` Specific styles */
    list-style: none;
    margin: 0;
    padding: 0;
}
.opera-only :-o-prefocus,
.vdj8 .paginator {
    word-spacing: -0.43em;
}

/* `u` Grid styles */
.vdj8 .paginator li {
    display: inline-block;
    *display: inline; /* IE < 8: fake inline-block */
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}
.vdj8 .paginator .button {
    border-radius: 0;
    padding: 0.8em 1.4em;
    vertical-align: top;
    height: 1.1em;
}
.vdj8 .paginator .button:focus,
.vdj8 .paginator .button:active {
    outline-style: none;
}
.vdj8 .paginator .prev,
.vdj8 .paginator .next {
    /*color: #C0C1C3; allow .button to color text*/
}
.vdj8 .paginator .prev {
    border-radius: 4px 0px 0px 4px;
}
.vdj8 .paginator .next {
    border-radius: 0px 4px 4px 0px;
}

/* end  menu-paginator ******************************/


/* MAIN MENU STYLING */
/*csslint adjoining-classes:false*/


.vdj8 .menu.menu-open,
.vdj8 .menu.menu-horizontal li .menu-children {
    background: #e6e6e6; /* Old browsers */
    border: 1px solid #d6d6d6;
}

/* remove borders for horizontal menus */
.vdj8 .menu.menu-horizontal,
.vdj8 .menu.menu-horizontal .menu-heading {
    border: none;
}


/* LINK STYLES */

.vdj8 .menu a {
    border: 1px solid transparent;
    border-left: none;
    border-right: none;

}

.vdj8 .menu a,
.vdj8 .menu .menu-can-have-children > li:after {
    color: #363636;
}

.vdj8 .menu .menu-can-have-children > li:hover:after {
    color: #1f1f1f;
}

/* Focus style for a dropdown menu-item when the parent has been opened */
.vdj8 .menu .menu-open {
    background: #cfcfcf;
}

.vdj8 .menu li a:hover,
.vdj8 .menu li a:focus {
    background: #cfcfcf;
}

/* DISABLED STATES */
.vdj8 .menu li.menu-disabled a:hover,
.vdj8 .menu li.menu-disabled a:focus {
    background: #e6e6e6;
    color: #969696;
}

.vdj8 .menu .menu-disabled > a {
    background-image: none;
    border-color: transparent;
    cursor: default;
}

.vdj8 .menu .menu-disabled > a,
.vdj8 .menu .menu-can-have-children.menu-disabled > a:after {
    color: #969696;
}

/* HEADINGS */
.vdj8 .menu .menu-heading {
    color: #0f0f0f;
    text-transform: uppercase;
    font-size: 90%;
    margin-top: 0.5em;
    border-bottom: solid 1px #d6d6d6;
}


/* SELECTED MENU ITEM */
.vdj8 .menu li.menu-selected a {
    background-color: #161616;
    color: #bfbfbf;
}

/* FIXED MENU */
.vdj8 .menu.menu-open.menu-fixed {
    border: none;
    border-bottom: 1px solid #d6d6d6;
}
/* end menu ***********************************/

/* RESPONSIVE */

@media (max-width: 480px) {

    .vdj8 .menu-horizontal {
        width:100%;
    }

    .vdj8 .menu-children li {
        display: block;
        border-bottom:1px solid #d6d6d6;
    }

}
/* end menu-responsive ******************/

.vdj8 .addon-permission {
    float: left;
    margin-left: 10px;
}
.vdj8 .disabled {
    pointer-events: none;
    cursor: default;
}
