@charset "UTF-8";
/*
	====================
		Small Screen
	====================
*/
@media only screen and (max-width: 985px) and (min-width:768px){
	
	.container-2,.container{width:760px}
	.nav-col-1{width:350px}
	.nav-col-1-lg{width:530px}
	.nav-col-2{width:230px}
	.nav-col-3{width:180px}
	.nav-col-4{width:300px}
	.nav-col-5,.nav-col-6{width:230px}
	.nav-col-7,.content-col-3{width:760px}
	.content-col-1{width:760px;margin-left:0;margin-bottom:10px}
	.content-col-2{width:760px;-moz-column-count:2;-moz-column-gap:10px}
	.w-container{width:760px;margin:0 auto;padding:0 10px}
	.show-mt,.show-md{display:inline}
	.hide-sm{display:block}
	.nav-mobile{float:right;width:100%;display:block;}
	.nav-search {float:left;width:53%;}
	.search-top-text,
	.search-top input[type="text"]{width:75%}
	.content .max-height {max-height:380px !important;}
	.content .evideo {max-height:390px;}
	/*
	 * Logo
	*/
	.logo-col{width:290px}
	/*
	 * Hidden Elements
	*/
	.show-sd,.show-lg,ul.social-site li.follow,#menu-category,#menu-pages,.menu-cat,.third-nav{display:none}
	.menu-cat{height:0}
	.third-nav,
	.advert-col-bg{box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;border-bottom:none}
	/*
	 * Header
	 *
	 * Mobile Menu
	*/
	.menu-mobile {display:block}
	/* 
	 * Subscribe Mail
	*/
	.subscribe-header-text,
	.subscribe-header input[type="text"] {
		width:145px;
	}
	/* 
	 * NewsBar
	*/
	.newsbar {
		border-top:1px solid #f8f8f8;
	}
	.newsbar-content {
		width:620px;
	}
	/*
	 * Urgents News
	*/
	.urgent-content {
		width:549px;
	}
	/*
	 * Genearl ADS
	*/
	.advert-col{width:468px;margin-right:0}
	.advert-col img{width:100%;min-height:60px;max-height:60px;margin-top:15px}
	.advert-col-2{width:359px;border-left:1px dashed #ddd}
	.advert-col-2 img{width:359px}
	.advert-col-3{width:359px;text-align:center;margin:5px 0;padding:0;border-left:1px dashed #ddd}
	.advert-col-3:nth-child(2),
	.advert-col-3:last-child{border-left:none}
	.advert-col-4-left{width:760px;margin:10px 0 5px;text-align:center}
	.advert-col-4-right{width:760px;margin:0 0 5px;text-align:center}
	.advert-col-6{width:750px}
	.advert-out-left{margin-left:-550px}
	.advert-out-right{margin-right:-550px}
	.advert-out-left-adsense{margin-left:-511px}
	.advert-out-right-adsense{margin-right:-511px}
	.adv-s2{width:468px;height:60px}
	.adv-h2{width:468px!important;height:60px!important}
	.adv-h5{width:120px;height:600px}
	.adv-h4,
	.adv-h4-r,
	.adv-h6,
	.advert-col-4-left img,
	.advert-col-4-right img,
	.advert-col-6 img{width:728px;height:90px}
	.adv-s3{width:336px;height:280px}
	.adv-s4{width:336px;height:280px}
	.mwp_ads_s1{width:300px!important;height:250px!important}
	.section-advert p{width:96%}
	
	.slider1-col1{width:740px;border-left:none!important}
	.slider1{width:740px;height:280px}
	.slider1-content{width:380px}
	.slider1-post{width:380px;height:280px}
	.slider1-post img{width:380px;height:280px}
	.slider1-post .description{width:360px;height:70px}
	.slider1-nav{width:380px;height:280px}
	.slider1-nav li h2{width:260px}
	.slider1-nav li{width:380px;height:70px}
	.slider1-col2{display:none}
	.slider1-advert{margin:10px 0 0}
	
	.slider2-col1{width:740px;border-left:none!important}
	.slider2{width:740px;height:350px}
	.slider2-content{width:380px}
	.slider2-post{width:380px;height:350px}
	.slider2-post img{width:380px;height:260px}
	.slider2-post .description{width:360px;height:90px}
	.slider2-nav{width:380px;height:350px}
	.slider2-nav li h2{width:260px}
	.slider2-nav li{width:380px;height:70px}
	.slider2-col2{display:none}
	.slider2-advert{margin:8px 0 0}
	.slider2-facebook{margin:8px 0 0}
	
	.slider3-col1{width:740px;border-left:none!important}
	.slider3{width:740px;height:305px}
	.slider3-content{width:740px}
	.slider3-post{width:740px;height:305px}
	.slider3-post img{width:370px;height:230px}
	.slider3-post .description{width:349px;height:220px;left:0}
	.slider3-nav{width:740px;height:70px}
	.slider3-nav li{width:101px;height:70px}
	.slider3-nav li img{height:60px;width:101px}
	.slider3-col2{display:none}
	.slider3-advert{margin:8px 0 0}
	
	.slider4-col1{width:740px;border-left:none!important}
	.slider4{width:740px;height:312px}
	.slider4-content{width:740px}
	.slider4-post{width:740px;height:280px}
	.slider4-post img{width:740px;height:280px}
	.slider4-post .description{width:70%;height:auto}
	.slider4-nav{width:740px}
	.slider4-col2{width:330px;display:none}
	.slider4-advert{margin:8px 0 0}
	
	.slider5-wrap,.slider5{width:740px}
	.slider5,
	.slider5-post,
	.slider5-nav{height:223px}
	.slider5-content,.slider5-post{width:300px}
	.slider5-post img{width:300px;height:140px}
	.slider5-post .description{width:278px;height:149px}
	.slider5-nav{width:430px}
	.slider5-nav li,.slider5-nav li img{height:65px;width:100px}
	
	.slider6-div{width:740px}
	.slider6-content{height:663px}
	.slider6-content div.third,
	.slider6-content div.first{width:740px;margin:0 0 2px}
	.slider6-content div.third .thumbnail img,
	.slider6-content div.first .thumbnail img{width:100%;max-height:300px}
	.slider6-content div.fourth,
	.slider6-content div.second{width:369px}
	.slider6-content div.fourth .thumbnail img,
	.slider6-content div.second .thumbnail img{width:100%;max-height:176px;min-height:176px}
	
	.slider7-wrap{width:760px;height:280px}
	.slider7-content{width:400px}
	.slider7-post{width:400px;height:280px}
	.slider7-post img{width:400px;height:280px}
	.slider7-post .description{width:380px;height:70px}
	.slider7-nav{width:380px;height:280px}
	.slider7-nav li h2{width:260px}
	.slider7-nav li{width:380px;height:70px}
	
	.slider8-wrap{width:760px;height:312px}
	.slider8-content{width:760px}
	.slider8-post{width:760px;height:280px}
	.slider8-post img{width:760px;height:280px}
	.slider8-post .description{width:70%;height:auto}
	.slider8-nav{width:760px}
	
	.blog-box{width:760px}
	.blog-body,.blog-body li.post .title,.blog-body li.post{width:740px}
	.blog-body li.post .text{width:370px}
	.blog-body li.post .thumbnail{width:358px}
	
	/*
	 * Single
	 * Post : Thumbnail + Advert
	*/
	.advert-thumbnail .thumbnail{width:409px}
	.advert-thumbnail .thumbnail img{width:409px}
	.advert-thumbnail .advert{width:309px}
	.advert-thumbnail .advert img{width:300px}
	/*
	 * Single
	 * Post : Shortlink
	*/
	.post-shortlink input{width:30%}
	/*
	 * Single
	 * Advert + Facebook Like box
	*/
	.facebook-ads .ads{width:346px}
	.facebook-ads .ads img{width:auto}
	.facebook-ads .facebook{width:368px;height:290px}
	/*
	 * Single
	 * Related Posts : Style 1
	*/
	.related .related-body .article{width:175px}
	.related .related-body .article .title{width:165px;min-height:70px}
	.related .related-body .article .thumbnail{height:90px}
	.related .related-body .article .thumbnail img{max-height:90px;min-height:90px;width:100%}
	/*
	 * Single
	 * Related Posts : Style 2
	*/
	.related .related-body-2 .article{width:236.6px}
	.related .related-body-2 .article .title{width:226px;min-height:60px}
	.related .related-body-2 .article .thumbnail{height:120px}
	.related .related-body-2 .article .thumbnail img{max-height:120px;min-height:120px}
	/*
	 * Single
	 * Post : Gallery
	*/
	.content .gallery-columns-2 figure.gallery-item{width:49.3%}
	.content .gallery-columns-3 figure.gallery-item{width:32.4%}
	.content .gallery-columns-4 figure.gallery-item{width:23.9%}
	.content .gallery-columns-5 figure.gallery-item{width:18.9%}
	.content .gallery-columns-6 figure.gallery-item,
	.content .gallery-columns-7 figure.gallery-item,
	.content .gallery-columns-8 figure.gallery-item,
	.content .gallery-columns-9 figure.gallery-item{width:15.5%}
	/*
	 * Single
	 * Comments
	*/
	.comments-box .tabs .tab_content{width:97.2%}
	.comments-box .tabs .tabs-div{width:98.6%!important}
	.comments-box .tabs .social-comments .list{width:32.38%}
	.comments-box .social-comments .list{width:32.4%}
	/*
	 * Archives
	*/
	.section-articles .seventh .thumbnail img{max-height:118px;min-height:118px}
	.section-articles .eighth .thumbnail img{min-height:180px;max-height:180px}
	.section-articles .ninth .thumbnail img{min-height:100px;max-height:100px}
	/*
	 * Sidebar 
	*/
	.sidebar-wrapper, 
	.prayers, 
	.advert-sidebar-w,
	.advert-sidebar,
	.subscribe-newsletter ,
	.module-background-widget,
	.custom-badge{
		-webkit-column-break-inside:avoid;
		-moz-column-break-inside:avoid;
		column-break-inside:avoid;
		page-break-inside: avoid;
		break-inside:avoid-column;
		display:table;
		margin-left:12px;
		margin-right:0;
		width:374px;
	}
	.sidebar-wrapper:nth-child(even),
	.prayers:nth-child(even), 
	.subscribe-newsletter:nth-child(even) ,
	.module-background-widge:nth-child(even),
	.custom-badge:nth-child(even) {
		margin-left:0;
	}
	.widget-head{
		width:374px;
	}
	.sidebar-body,
	ul.sidebar-content{
		width:354px;
	}
	.content-col-2 {
		margin-bottom:10px;
	}
	/*
	 * Widgets Simple : 1
	*/
	.sidebar-content li.first{width:354px}
	.sidebar-content li.first .title{width:224px}
	.sidebar-content li.first .thumbnail{width:120px}
	/*
	 * Widgets Simple : 2
	*/
	.sidebar-content li.second,.sidebar-content li.second .title{width:354px}
	.sidebar-content li.second .text{width:183px;height:80px;overflow:hidden}
	.sidebar-content li.second .thumbnail{width:150px}
	/*
	 * Widgets Simple : 3
	*/
	.sidebar-content li.third_b{width:354px}
	.sidebar-content li.third_b .title{width:224px}
	.sidebar-content li.third_b .thumbnail{width:120px}
	.sidebar-content li.third_a,.sidebar-content li.third_a .thumbnail{width:354px}
	.sidebar-content li.third_a .title{width:344px}
	.sidebar-content li.third_a .thumbnail img{max-height:160px;min-height:160px}
	/*
	 * Widgets Simple : 4
	*/
	.sidebar-content li.fourth,.sidebar-content li.fourth .title,.sidebar-content li.fourth .thumbnail{width:172px}
	.sidebar-content li.fourth .thumbnail img{max-height:85px;min-height:85px}
	/*
	 * Widgets Simple : 5
	*/
	.sidebar-content li.fifth,.sidebar-content li.fifth .thumbnail{width:354px}
	.sidebar-content li.fifth .title{width:334px}	
	/*
	 * Widgets Simple : 8
	*/
	.sidebar-content li.eighth{width:354px}
	.sidebar-content li.eighth .title{width:184px}
	.sidebar-content li.eighth .thumbnail{width:160px}	
	/*
	 * Widgets Simple : 9
	*/
	.sidebar-content li.ninth,.sidebar-content li.ninth .title,.sidebar-content li.ninth .thumbnail{width:172px}
	.sidebar-content li.ninth .thumbnail img{max-height:85px;min-height:85px}
	/*
	 * Widgets Simple : 10
	*/
	.sidebar-content li.tenth{width:354px}
	.sidebar-content li.tenth .title{width:264px}
	/*
	 * Widgets jQuery : 1
	*/
	.gallery-one,.gallery-one a.cycle-link,.gallery-one-pager{width:354px}
	.gallery-one a.cycle-link img{min-height:220px;max-height:220px}
	.gallery-one-overlay{width:334px}
	.gallery-one-pager span{width:114.5px}
	.gallery-one-pager span img{max-height:60px;min-height:60px}
	/*
	 * Widgets jQuery : 2
	*/
	.gallery-two,.gallery-two a.cycle-link,.gallery-two-pager{width:354px}
	.gallery-two-overlay{width:334px}
	/*
	 * Widgets jQuery : 3
	*/
	.gallery-three{width:354px}
	.gallery-three a.cycle-link,.gallery-three a.cycle-link img{width:195px}
	.gallery-three a.cycle-link{margin:10px 80px 0}
	.gallery-three a.cycle-link img{height:250px}
	/*
	 * Widgets jQuery : 4
	*/
	.sidebar-content li.eleventh{width:354px}
	.sidebar-content li.eleventh .title,.sidebar-content li.eleventh .date{width:244px}
	.sidebar-content li.eleventh .thumbnail{width:100px}
	/*
	 * Widgets jQuery : 5
	*/
	.sidebar-content li.twelfth{width:340px}
	.sidebar-content li.twelfth .title{width:275px}
	/*
	 * Widgets jQuery : 6
	*/
	.sidebar-wrapper ul.tab_nav{width:374px}
	.sidebar-content li.w24_a{width:354px}
	.sidebar-content li.w24_a .title{width:224px}
	.sidebar-content li.w24_a .thumbnail{width:120px}
	/*
	 * Widgets jQuery : 7
	*/
	.sidebar-wrapper ul.tabnav,.sidebar-wrapper ul.tabsub{width:374px}
	.sidebar-content li.w24_a{width:354px}
	.sidebar-content li.w24_a .title{width:224px}
	.sidebar-content li.w24_a .thumbnail{width:120px}
	/*
	 * Widgets Addon : 1
	*/
	.weather_panel,.weather_panel p{width:354px}
	.weather_panel span.icon{width:100px}
	.weather_panel span.city{font-size:25px;width:153px}
	.weather_panel span.temp{font-size:45px;width:90px}
	/*
	 * Widgets Addon : 2
	*/
	.facebook-box-w{width:374px}	
	/*
	 * Widgets Addon : 3
	*/
	.twitter-w{width: 354px;}	
	/*
	 * Widgets Addon : 4
	*/
	.custom-badge{width:374px}
	.custom-badge .content{width:279px}	
	/*
	 * Widgets Addon : 5
	*/
	.subscribe-newsletter{width:354px}
	/*
	 * Widgets Addon : 6
	*/
	.prayers{width:364px}
	.prayers .title,.prayers .border,.prayers .times{width:354px}
	.prayers .single{width:111px}
	/*
	 * Widgets Addon : 7
	*/
	.advert-sidebar-w{width:374px;padding:20px 0}
	.advert-sidebar{width:374px}
	/*
	 * Footer
	*/
	.footer-col{width:740px}
	.footer-col li.posts .thumbnail{width:110px}
	.footer-col li.posts .title{width:625px;line-height:25px}
	/*
	 * Mobile Menu
	 *
	*/
	.page,
	.slideout-panel {
		will-change: transform;
	}
	.scrolltop{left:10px;right:auto;}
}
@media only screen and (max-width: 767px) and (min-width:480px){
	
	.container-2,.container{width:460px}
	.nav-col-4,.nav-col-5,.nav-col-6,.nav-col-7,.content-col-1,.content-col-2,.content-col-3{width:460px}
	.w-container{width:460px;margin:0 auto;padding:0 10px}
	.show-mt,.show-sd{display:block}
	.nav-col-1,.nav-col-1-lg,.nav-col-2{width:230px}
	.nav-col-3{width:180px}
	.content-col-1{margin-left:0;margin-bottom:10px}
	.brand{display:block;}
	.logo-col{display:inline-block;}
	.logo-col{width:460px;margin-left:0;text-align:center!important}
	.logo-col img{text-align:center!important;margin:0 auto}
	.nav-height-2{padding-top:0;padding-bottom:0;background-color:#fff}
	.nav-mobile{float:right;width:100%;display:block;}
	.nav-search {float:left;width:53%;}
	.search-top-text,
	.search-top input[type="text"]{width:75%}
	
	/*
	 * Hidden Elements
	*/
	#menu-category, #menu-pages{display:none}
	.show-lg,.show-md{display:none!important}
	.menu-cat{display:none;height:0}
	.third-nav{border-bottom:none;display:none}
	.hide-sm{display:none}
	.subscribe-header-form-margin{margin-right:5px}
	/*
	 * Header
	 *
	 * Mobile Menu
	*/
	.menu-mobile {display:block}
	/*	
	 * NewsBar
	*/
	.newsbar-content{width:320px}
	ul.social-site li.follow{text-indent:10px}
	/*
	 * Breadcrumbs
	*/
	.breadcrumbs{width:93.4%}
	/*
	 * Single Author bio
	*/
	.author-info .avatar{float:right;width:20%}
	.author-info .avatar img{width:80%;height:auto!important}
	/*
	 * Genearl ADS
	*/
	.advert-col-bg{box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;border-bottom:none}
	.advert-col{width:460px;text-align:center!important;margin:0 auto 10px}
	.advert-col img{margin:0 auto}
	.advert-col-2{border-left:none;width:440px}
	.advert-col-2 img{text-align:center;width:440px}
	.advert-col-3{width:460px;text-align:center;margin:5px 0 0;padding:0;border-left:none}
	.advert-col-3:nth-child(2),
	.advert-col-3:last-child{border-left:none}
	.advert-col-4-left,
	.advert-col-4-right{width:460px;margin:10px 0 5px;text-align:center}
	.advert-col-4-right{margin:0 0 5px}
	.advert-col-6{width:450px}
	.advert-out-left{margin-left:-401px}
	.advert-out-right{margin-right:-401px}
	.advert-out-left-adsense{margin-left:-361px}
	.advert-out-right-adsense{margin-right:-361px}
	.adv-h5{width:120px;height:600px}
	.advert-col img,
	.advert-col-4-left img,
	.advert-col-4-right img,
	.advert-col-6 img,
	.adv-h2,
	.adv-h4,
	.adv-h4-r,
	.adv-h6{width:234px!important;height:60px!important}
	.adv-s2{width:234px;height:60px}
	.adv-s3,.adv-s4{width:336px;height:280px}
	.mwp_ads_s1{width:336px;height:286px}
	.section-advert p{width:100%}
	
	.slider1-col1{width:440px;border-left:none}
	.slider1{width:440px;height:280px}
	.slider1-content{width:440px}
	.slider1-post{width:440px;height:280px}
	.slider1-post img{width:440px;height:280px}
	.slider1-post .description{width:430px;height:70px}
	.slider1 .prev,
	.slider1 .next{display:block}
	.slider1-col2{display:none}
	.slider1-advert{margin:10px 0 0}
	
	.slider2-col1{width:440px;border-left:none}
	.slider2{width:440px;height:280px}
	.slider2-content{width:440px}
	.slider2-post{width:440px;height:280px}
	.slider2-post img{width:440px;height:280px}
	.slider2-post .description{width:420px;height:70px}
	.slider2-post .description h2,
	.slider2 .prev,.slider2 .next{display:block}
	.slider2-col2{display:none}
	
	.slider3-col1{width:440px;border-left:none}
	.slider3{width:440px;height:280px}
	.slider3-content{width:440px}
	.slider3-post{width:440px;height:280px}
	.slider3-post img{width:440px;height:280px}
	.slider3-post .description{width:420px;height:auto;background:url(images/transpBlack.png) repeat scroll 0 0 transparent;top:auto;left:0;bottom:0}
	.slider3-post .description h2{color:#fff;font-size:17px;line-height:23px}
	.slider3-post .description h2,
	.slider3 .prev,.slider3 .next{display:block}
	.slider3-col2{display:none}
	.slider3-advert{margin:8px 0 0}
	
	.slider4-col1{width:440px;border-left:none}
	.slider4{width:440px;height:280px}
	.slider4-content{width:440px}
	.slider4-post{width:440px;height:280px}
	.slider4-post img{width:440px;height:280px}
	.slider4-post .description{width:420px;height:auto;top:auto;left:0;bottom:0}
	.slider4-post .description h2{color:#fff;font-size:17px;line-height:23px}
	.slider4-post .description h2,.slider4 .prev,.slider4 .next{display:block}
	.slider4-col2{display:none}
	.slider4-advert{margin:8px 0 0}
	
	.slider5-wrap{width:440px}
	.slider5{width:440px;height:280px}
	.slider5-content{width:440px}
	.slider5-post{width:440px;height:280px}
	.slider5-post img{width:440px;height:280px}
	.slider5-post .description{width:420px;height:auto;position:absolute;bottom:0;padding:5px 10px 10px;border:none}
	.slider5-post .description h2{color:#fff}
	.slider5 .prev,
	.slider5 .next{display:block}
	
	.slider6-div{width:440px}
	.slider6-content{height:486px}
	.slider6-content div.third,
	.slider6-content div.first{width:440px;margin:0 0 2px}
	.slider6-content div.third .thumbnail img,
	.slider6-content div.first .thumbnail img{width:100%;max-height:230px}
	.slider6-content div.fourth,
	.slider6-content div.second{width:219px}
	.slider6-content div.fourth .thumbnail img,
	.slider6-content div.second .thumbnail img{width:100%;max-height:110px;min-height:110px}
	
	.slider7-wrap{width:460px;height:280px}
	.slider7-content{width:460px}
	.slider7-post{width:460px;height:280px}
	.slider7-post img{width:460px;height:280px}
	.slider7-post .description{width:440px;height:70px}
	.slider7-wrap .prev,.slider7-wrap .next{display:block}
	
	.slider8-wrap{width:460px;height:280px}
	.slider8-content{width:460px}
	.slider8-post{width:460px;height:280px}
	.slider8-post img{width:460px;height:280px}
	.slider8-post .description{width:440px;height:auto;top:auto;left:0;bottom:0}
	.slider8-post .description h2{color:#fff;font-size:17px;line-height:23px}
	.slider8-post .description h2,
	.slider8-wrap .prev,
	.slider8-wrap .next{display:block}
	
	.blog-box{width:460px;margin-left:0}
	.blog-body,.blog-body li.post,.blog-body li.post .title,.blog-body li.post .text,.blog-body li.post .thumbnail{width:440px}
	.blog-body li.post .thumbnail{margin:0 0 10px}
	.blog-body li.post .thumbnail img{max-height:200px}
	.blog-body li.post .more{position:static;float:left;margin-top:10px}
	.blog-body li.post .title .category{margin-top:5px}
	
	/*
	 * Single
	 * Post : Thumbnail + Advert
	*/
	.advert-thumbnail .thumbnail{width:430px}
	.advert-thumbnail .thumbnail img{width:430px}
	.advert-thumbnail .advert{width:430px;border-right:none;margin:5px 0 0;text-align:center}
	.advert-thumbnail .advert img{width:300px}
	/*
	 * Single
	 * Post : Meta info
	*/
	.meta{padding:0}
	.meta span:first-child,.meta span:nth-child(2){margin-left:0;border-left:none;border-bottom:1px solid #eee;clear:both;width:100%;padding:5px 0}
	.meta span:last-child{margin-left:0;border-left:none;border-bottom:none;clear:both;width:100%;padding:5px 0}
	/*
	 * Single
	 * Post : Share Buttons
	*/
	.share .facebook{width:23%}
	.share .pinterest{float:right;width:19%}
	/*
	 * Single
	 * Post : Shortlink
	*/
	.post-shortlink input{width:50%}
	/*
	 * Single
	 * Advert + Facebook Like box
	*/
	.facebook-ads .ads{width:430px;margin-left:0;text-align:center}
	.facebook-ads .ads img{width:auto}
	.facebook-ads .facebook{width:430px;padding-right:0;text-align:center;border-right:none;height:290px}
	/*
	 * Single
	 * Related Posts : Style 1
	*/
	.related .related-body .article{width:210px}
	.related .related-body .article:nth-child(4n){margin-left:10px}
	.related .related-body .article:nth-child(2n){margin-left:0}
	.related .related-body .article .title{width:200px;min-height:60px}
	.related .related-body .article .thumbnail{height:106px}
	.related .related-body .article .thumbnail img{max-height:106px;min-height:106px;width:100%;width:100%}
	/*
	 * Single
	 * Related Posts : Style 2
	*/
	.related .related-body-2 .article{width:430px;margin:0 0 3px;padding:0 0 3px;border-bottom:1px solid #eef1f5}
	.related .related-body-2 .article:last-child{border-bottom:none}
	.related .related-body-2 .article:nth-child(3n){margin-left:0}
	.related .related-body-2 .article .title{width:300px;box-shadow:none;text-align:right;padding:0}
	.related .related-body-2 .article .thumbnail{height:61px;width:120px;margin-left:10px}
	.related .related-body-2 .article .thumbnail img{min-height:61px;max-height:61px}
	/*
	 * Single
	 * Post : Gallery
	*/
	.content .gallery-columns-2 figure.gallery-item{width:48.8%}
	.content .gallery-columns-3 figure.gallery-item{width:31.7%}
	.content .gallery-columns-4 figure.gallery-item,.content .gallery-columns-5 figure.gallery-item,.content .gallery-columns-6 figure.gallery-item,.content .gallery-columns-7 figure.gallery-item,.content .gallery-columns-8 figure.gallery-item,.content .gallery-columns-9 figure.gallery-item{width:23.2%}
	.content .gallery-columns-4 figure.gallery-item:nth-child(4n),.content .gallery-columns-5 figure.gallery-item:nth-child(5n),.content .gallery-columns-6 figure.gallery-item:nth-child(6n),.content .gallery-columns-7 figure.gallery-item:nth-child(6n),.content .gallery-columns-8 figure.gallery-item:nth-child(6n),.content .gallery-columns-9 figure.gallery-item:nth-child(6n){margin:0 10px 10px 0}
	.content .gallery-columns-4 figure.gallery-item:nth-child(4n),.content .gallery-columns-5 figure.gallery-item:nth-child(4n),.content .gallery-columns-6 figure.gallery-item:nth-child(4n),.content .gallery-columns-7 figure.gallery-item:nth-child(4n),.content .gallery-columns-8 figure.gallery-item:nth-child(4n),.content .gallery-columns-9 figure.gallery-item:nth-child(4n){margin:0 0 10px}

	/*
	 * Single
	 * Page : Contact 7 Forms 
	*/
	.wpcf7-form input.wpcf7-text{padding:2% 1%;width:98%}
	/*
	 * Single
	 * Posts : Next/Prev 
	*/
	.post-nav li{width:90%;margin-bottom:20px}
	.post-nav li:last-child{margin-bottom:0}
	.post-prev{padding-right:10%}
	.post-next{padding-left:10%}
	/*
	 * Single
	 * Content List
	*/
	.content ul li,.content ol li{width:auto}
	/*
	 * Single
	 * Comments
	*/
	.comments-inputs{width:100%;padding-left:0}
	.comments-inputs .input-title{width:50%}
	.comments-inputs textarea{width:95.4%}
	.comments-inputs input.author{width:46.4%}
	.comments-inputs input.email{width:47.1%}
	.comments-inputs input.url{width:97.4%}
	.comment-rules{border-right:none;float:right;padding:1%;width:98%}
	.comments-box .tabs .tab_content{width:95.3%}
	.comments-box .tabs .tabs-div{width:97.5%!important}
	.comments-box .social-comments{float:none;margin:5px auto;width:70%}
	.comments-box .social-comments .list{width:100%;margin-left:0}
	.comments-box .tabs .social-comments{float:none;margin:5px auto!important;width:70%}
	.comments-box .tabs .social-comments .list{width:100%;margin-left:0}
	.comments-inputs-2 input.email{width:47.1%}
	.comments-inputs-3 .col-2 .title{margin-bottom:8px}
	.comments-inputs-3 .col-2 .social-comments{float:right;margin:0;width:100%}
	.comments-inputs-3 .col-2 .social-comments .list{margin-bottom:5px;height:35px;line-height:35px}
	.comments-inputs-3 .col-2 .social-comments .list span.ifacebook,.comments-inputs-3 .col-2 .social-comments .list span.itwitter,.comments-inputs-3 .col-2 .social-comments .list span.igoogle{height:35px}
	/*
	 * Archives
	*/
	.section-articles .first .thumbnail,
	.section-articles .first .thumbnail img,
	.section-articles .first .title,
	.section-articles .first .text,
	.section-articles .first .date{width:100%}
	.section-articles .first .thumbnail{margin-left:0;margin-bottom:10px}
	.section-articles .first .thumbnail img{min-height:auto}
	.section-articles .second .text{display:none}
	.section-articles .second .thumbnail{width:38%}
	.section-articles .second .thumbnail img{min-height:100px}
	.section-articles .second .title,
	.section-articles .second .text,
	.section-articles .second .date{width:60%}
	.section-articles .third .thumbnail img{min-height:60px}
	.section-articles .fourth .text{height:36px}
	.section-articles .sixth{width:100%;margin-left:0}
	.section-articles .sixth:nth-last-of-type(-n+2){border-bottom:1px solid #eee}
	.section-articles .sixth:last-child{border-bottom:none}
	.section-articles .seventh{width:49%;margin-left:1.2%}
	.section-articles .seventh:nth-of-type(3n){margin-left:1.2%}
	.section-articles .seventh:nth-of-type(2n){margin-left:0!important}
	.section-articles .seventh .thumbnail img{width:100%;max-height:110px;min-height:110px}
	.section-articles .eighth{width:100%;margin-left:0}
	.section-articles .eighth .thumbnail img{min-height:150px;max-height:150px}
	.section-articles .eighth .thumbnail{width:30%}
	.section-articles .eighth .date,
	.section-articles .eighth .title{width:68%}
	.section-articles .eighth:nth-last-of-type(-n+2){border-bottom:1px solid #eee}
	.section-articles .eighth:last-child{border-bottom:none}
	.section-articles .ninth{width:100%;margin-left:0}
	.section-articles .ninth .author,
	.section-articles .ninth .title{width:76%}
	.section-articles .ninth .thumbnail{width:22%}
	.section-articles .ninth:nth-last-of-type(-n+2){border-bottom:1px solid #eee}
	.section-articles .ninth:last-child{border-bottom:none}
	.section-articles .search .thumbnail{width:28%}
	.section-articles .search .text{width:70%}
	/*
	 * Sidebar 
	*/
	.sidebar-wrapper{margin-right:0;margin-left:0;width:460px}
	.widget-head{width:460px}
	.sidebar-body,ul.sidebar-content{width:440px}
	/*
	 * Widgets Simple : 1
	*/
	.sidebar-content li.first{width:440px}
	.sidebar-content li.first .title{width:310px}
	.sidebar-content li.first .thumbnail{width:120px}
	/*
	 * Widgets Simple : 2
	*/
	.sidebar-content li.second,.sidebar-content li.second .title{width:440px}
	.sidebar-content li.second .text{width:269px;height:80px;overflow:hidden}
	.sidebar-content li.second .thumbnail{width:150px}
	.sidebar-content li.second .thumbnail img{max-height:90px;min-height:90px}
	/*
	 * Widgets Simple : 3
	*/
	.sidebar-content li.third_a,.sidebar-content li.third_a .thumbnail{width:440px}
	.sidebar-content li.third_a .title{width:430px}
	.sidebar-content li.third_a .thumbnail img{max-height:160px;min-height:160px}
	.sidebar-content li.third_b{width:440px}
	.sidebar-content li.third_b .title{width:310px}
	.sidebar-content li.third_b .thumbnail{width:120px}
	/*
	 * Widgets Simple : 4
	*/
	.sidebar-content li.fourth,.sidebar-content li.fourth .title,.sidebar-content li.fourth .thumbnail{width:215px}
	.sidebar-content li.fourth .thumbnail img{max-height:100px;min-height:100px}
	/*
	 * Widgets Simple : 5
	*/
	.sidebar-content li.fifth,.sidebar-content li.fifth .thumbnail{width:440px}
	.sidebar-content li.fifth .title{width:420px}
	/*
	 * Widgets Simple : 8
	*/
	.sidebar-content li.eighth{width:440px}
	.sidebar-content li.eighth .title{width:270px}
	.sidebar-content li.eighth .thumbnail{width:160px}
	/*
	 * Widgets Simple : 9
	*/
	.sidebar-content li.ninth,.sidebar-content li.ninth .title,.sidebar-content li.ninth .thumbnail{width:215px}
	.sidebar-content li.ninth .thumbnail img{max-height:100px;min-height:100px}
	.sidebar-content li.ninth .thumbnail .play_vid{right:30%;top:32%}
	/*
	 * Widgets Simple : 10
	*/
	.sidebar-content li.tenth{width:440px}
	.sidebar-content li.tenth .title{width:350px}
	/*
	 * Widgets jQuery : 1
	*/
	.gallery-one,.gallery-one a.cycle-link,.gallery-one-pager{width:440px}
	.gallery-one a.cycle-link img{min-height:230px;max-height:230px}
	.gallery-one-overlay{width:420px}
	.gallery-one-pager span{width:143.2px}
	.gallery-one-pager span img{max-height:70px;min-height:70px}
	/*
	 * Widgets jQuery : 2
	*/
	.gallery-two,.gallery-two a.cycle-link,.gallery-two-pager{width:440px}
	.gallery-two-overlay{width:420px}
	.gallery-two a.cycle-link img{min-height:250px;max-height:250px}
	/*
	 * Widgets jQuery : 3
	*/
	.gallery-three{width:440px}
	.gallery-three a.cycle-link,.gallery-three a.cycle-link img{width:195px}
	.gallery-three a.cycle-link{margin:10px 120px 0}
	.gallery-three a.cycle-link img{height:250px}
	/*
	 * Widgets jQuery : 4
	*/
	.sidebar-content li.eleventh{width:440px}
	.sidebar-content li.eleventh .title,.sidebar-content li.eleventh .date{width:330px}
	.sidebar-content li.eleventh .thumbnail{width:100px}
	/*
	 * Widgets jQuery : 5
	*/
	.sidebar-content li.twelfth{width:425px}
	.sidebar-content li.twelfth .title{width:365px}
	/*
	 * Widgets jQuery : 6
	*/
	.sidebar-wrapper ul.tab_nav{width:460px}
	.sidebar-content li.w24_a{width:440px}
	.sidebar-content li.w24_a .title{width:310px}
	.sidebar-content li.w24_a .thumbnail{width:120px}
	.sidebar-content li.w24_b{width:440px}
	.sidebar-content li.w24_b .title{width:300px}
	.sidebar-content li.w24_b .thumbnail{width:90px}
	/*
	 * Widgets jQuery : 7
	*/
	.sidebar-wrapper ul.tabnav,.sidebar-wrapper ul.tabsub{width:460px}
	.sidebar-content li.w24_a{width:440px}
	.sidebar-content li.w24_a .title{width:310px}
	.sidebar-content li.w24_a .thumbnail{width:120px}
	.sidebar-content li.w24_b{width:440px}
	.sidebar-content li.w24_b .title{width:300px}
	.sidebar-content li.w24_b .thumbnail{width:90px}
	/*
	 * Widgets Addon : 1
	*/
	.weather_panel,.weather_panel p{width:440px}
	.weather_panel span.icon{width:100px}
	.weather_panel span.city{font-size:25px;width:220px}
	.weather_panel span.temp{font-size:45px;width:110px}
	/*
	 * Widgets Addon : 2
	*/
	.fb-like-box-w{width:460px}
	/*
	 * Widgets Addon : 3
	*/
	.twitter-w{width: 420px}
	/*
	 * Widgets Addon : 4
	*/
	.custom-badge{width:460px}
	.custom-badge .content{width:365px}
	/*
	 * Widgets Addon : 5
	*/
	.subscribe-newsletter{width:440px}
	/*
	 * Widgets Addon : 6
	*/
	.prayers{width:450px}
	.prayers .title,.prayers .border,.prayers .times{width:438px}
	.prayers .single{width:139px}
	/*
	 * Widgets Addon : 7
	*/
	.advert-sidebar-w{width:460px;padding:8px 0}
	.advert-sidebar{width:460px}
	/*
	 * Footer
	*/
	.footer-col{width:440px}
	.footer-col li.posts .thumbnail{width:110px}
	.footer-col li.posts .title{width:325px;line-height:25px}
	/*
	 * Bootstarp
	 * Modal Position
	*/
	.modal:before{height:auto;}
	.modal-dialog{display:block;}
	/*
	 * Mobile Menu
	 *
	*/
	.page,
	.slideout-panel {
		will-change: transform;
	}
	.scrolltop{left:auto;right:10px;}
}

@media only screen and (max-width: 479px){
	
	.container-2,.container{width:100%}
	.container {padding:0;}
	.nav-col-1,.nav-col-1-lg,.nav-col-2,.nav-col-4,.nav-col-5,.nav-col-6,.nav-col-7,.logo-col,.content-col-1,.content-col-2,.content-col-3,.advert-col{width:100%}
	.w-container{width:98%;margin:0 auto;padding:0 1%}
	.show-sd{display:block}
	.nav-col-3{width:180px}
	.brand{display:block;}
	.logo-col{display:inline-block;}
	.logo-col img{text-align:center;margin:0 auto}
	.content-col-1{margin-left:0;margin-bottom:10px}
	.nav-height-2{padding-top:0;padding-bottom:0;background-color:#fff}
	.nav-mobile{float:right;width:100%;display:block;}
	.nav-search {float:left;width:53%;}
	.search-top-text,
	.search-top input[type="text"]{width:75%}
	/*
	 * Hidden Elements
	*/
	#menu-category, #menu-pages{display:none}
	.show-mt,.show-lg,.show-md{display:none!important}
	.menu-cat{display:none;height:0}
	.third-nav{border-bottom:none;display:none}
	/*
	 * Header
	 *
	 * Mobile Menu
	*/
	.menu-mobile {display:block}
	/*
	 * Breadcrumbs
	*/
	.breadcrumbs{width:90.4%}
	/*
	 * Genearl ADS
	*/
	.advert-col-bg{box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;border-bottom:none}
	.advert-col{margin:0 0 10px;text-align:center;display:inline-block;}
	.advert-col img{margin:0 auto}
	.advert-col-2{border-left:none;width:280px}
	.advert-col-3{width:310px;text-align:center;margin:5px 0 0;padding:0;border-left:none}
	.advert-col-3:nth-child(2),
	.advert-col-3:last-child{border-left:none}
	.advert-col-4-left,
	.advert-col-4-right{width:310px;margin:10px 0 5px;text-align:center;height:60px}
	.advert-col-4-right{margin:0 0 5px}
	.advert-col-6{width:300px}
	.advert-out-left{display:none}
	.advert-out-right{display:none}
	.adv-h2,
	.adv-h4,
	.adv-h4-r,
	.adv-h6,
	.advert-col img,
	.advert-col-2 img,
	.advert-col-3 img,
	.advert-col-4-left img,
	.advert-col-4-right img,
	.advert-col-6 img{width:234px!important;height:60px!important;text-align:center;max-height:60px!important}
	.adv-s3,
	.adv-s2{width:234px;height:60px}
	.adv-s4{width:250px;height:250px}
	.mwp_ads_s1{width:250px;height:250px}
	
	.slider-box,
	.slider1-col1{width:100%;border-left:none;padding:0;}
	.slider1-wrap{min-height:250px}
	.slider1{width:100%;height:auto}
	.slider1-content{width:100%}
	.slider1-post{width:100%;height:auto}
	.slider1-post img{width:100%;height:100%}
	.slider1-post .description{width:96%;height:auto}
	.slider1 .prev,
	.slider1 .next{display:block}
	.slider1-col2{display:none}
	.slider1-advert{margin:10px 0 0}
	.slider1-advert div img,.slider1-advert a img{width:100%}
	
	.slider-box,
	.slider2-col1{width:100%;border-left:none;padding:0;}
	.slider2{width:100%;height:auto}
	.slider2-content{width:100%}
	.slider2-post{width:100%;height:auto}
	.slider2-post img{width:100%;height:100%}
	.slider2-post .description{width:96%;height:auto}
	.slider2-post .description h2,
	.slider2 .prev,.slider2 .next{display:block}
	.slider2-col2{display:none}
	.slider2-advert{margin:8px 0 0}
	.slider2-advert div img,.slider2-advert a img{width:100%}
	.slider2-facebook{margin:8px 0 0}
	
	.slider-box,
	.slider3-col1{width:100%;border-left:none;padding:0;}
	.slider3{width:100%;height:auto}
	.slider3-content{width:100%}
	.slider3-post{width:100%;height:auto}
	.slider3-post img{width:100%;height:100%}
	.slider3-post .description{width:96%;height:auto;background:url(images/transpBlack.png) repeat scroll 0 0 transparent;top:auto;left:0;bottom:0}
	.slider3-post .description h2{color:#fff;font-size:12px;line-height:20px}
	.slider3-post .description h2,
	.slider3 .prev,.slider3 .next{display:block}
	.slider3-post .cat-name,
	.slider3-col2{display:none}
	.slider3-advert{margin:8px 0 0}
	.slider3-advert div img,.slider3-advert a img{width:100%}
	
	.slider-box,
	.slider4-col1{width:100%;border-left:none;padding:0;}
	.slider4{width:100%;height:auto}
	.slider4-content{width:100%}
	.slider4-post{width:100%;height:auto}
	.slider4-post img{width:100%;height:100%;min-height:200px;}
	.slider4-post .description{width:96%;height:auto;top:auto;left:0;bottom:0}
	.slider4-post .description h2{color:#fff;font-size:12px;line-height:20px}
	.slider4-post .description h2,
	.slider4 .prev,.slider4 .next{display:block}
	.slider4-post .cat-name,
	.slider4-col2{display:none}
	.slider4-advert{margin:8px 0 0}
	.slider4-advert div img,.slider4-advert a img{width:100%}
	
	.slider-box,
	.slider5-wrap{width:100%;border-left:none;padding:0;}
	.slider5{width:100%;height:auto}
	.slider5-content{width:100%}
	.slider5-post{width:100%;height:auto}
	.slider5-post img{width:100%;height:100%;min-height:200px;}
	.slider5-post .description{width:96%;height:auto;position:absolute;bottom:0;padding:5px 10px 10px;border:none!important}
	.slider5-post .description h2{color:#fff}
	.slider5 .prev,
	.slider5 .next{display:block}
	
	.slider6-div{width:100%;padding:0;}
	.slider6-content{height:auto}
	.slider6-content div.third,
	.slider6-content div.first{width:100%;margin:0 0 2px}
	.slider6-content div.third .thumbnail img,
	.slider6-content div.first .thumbnail img{width:100%;max-height:100%;min-height:100%;height:auto;}
	.slider6-content div.fourth,
	.slider6-content div.second{width:100%;margin:0 0 2px}
	.slider6-content div.fourth .thumbnail img,
	.slider6-content div.second .thumbnail img{width:100%;max-height:100%;min-height:100%;height:auto;}
	
	.slider7-wrap{width:100%;height:auto}
	.slider7-content{width:100%}
	.slider7-post{width:100%;height:auto}
	.slider7-post img{width:100%;height:100%}
	.slider7-post .description{width:96%;height:auto}
	.slider7-wrap .prev,.slider7-wrap .next{display:block}
	
	.slider8-wrap{width:100%;height:auto}
	.slider8-content{width:100%}
	.slider8-post{width:100%;height:auto}
	.slider8-post img{width:100%;height:100%;min-height:200px;}
	.slider8-post .description{width:96%;height:auto;top:auto;left:0;bottom:0}
	.slider8-post .description h2{color:#fff;font-size:14px;line-height:20px}
	.slider8-post .description h2,
	.slider8-wrap .prev,
	.slider8-wrap .next{display:block}
	
	.blog-box{width:100%;margin-left:0}
	.blog-body{width:96%;padding:2%;overflow:hidden}
	.blog-body li.post,.blog-body li.post .title,.blog-body li.post .text,.blog-body li.post .thumbnail{width:100%}
	.blog-body li.post .text{height:70px}
	.blog-body li.post .thumbnail{margin:0 0 10px}
	.blog-body li.post .thumbnail img{max-height:150px}
	.blog-body li.post .more{position:static;float:left;margin-top:10px}
	.blog-body li.post .title .category{display:none}
	
	/*
	 * Single
	 * Post : Thumbnail + Advert
	*/
	.advert-thumbnail .thumbnail{width:100%}
	.advert-thumbnail .thumbnail img{width:100%}
	.advert-thumbnail .advert{width:100%;border-right:none;margin:5px 0 0;text-align:center}
	.advert-thumbnail .advert img{width:250px}
	/*
	 * Single
	 * Post : Meta info
	*/
	.meta{padding:0}
	.meta span:first-child,.meta span:nth-child(2){margin-left:0;border-left:none;border-bottom:1px solid #eee;clear:both;width:100%;padding:5px 0}
	.meta span:last-child{margin-left:0;border-left:none;border-bottom:none;clear:both;width:100%;padding:5px 0}
	/*
	 * Single
	 * Post : Share Buttons
	*/
	.share .twitter,.share .facebook,.share .google,.share .pinterest{clear:both;float:right;width:100%;padding:5px 0;border-left:none;border-right:none;border-bottom:1px solid #ddd;text-indent:10px;margin-left:0;margin-right:0}
	.share .pinterest{border-bottom:none;padding:5px 0 0}
	.share .facebook{text-indent:0;padding-right:10px}
	/*
	 * Single
	 * Post : Shortlink
	*/
	.post-shortlink input{width:60%}
	/*
	 * Single
	 * Advert + Facebook Like box
	*/
	.facebook-ads .ads{width:100%;margin:0 0 10px 0;text-align:center}
	.facebook-ads .ads img{max-width:300px}
	.facebook-ads .facebook{width:100%;padding-right:0;text-align:center;border-right:none;height:258px}
	/*
	 * Single
	 * Related Posts : Style 1
	*/
	.related .related-body .article{width:100%}
	.related .related-body .article:nth-child(4n){margin-left:10px}
	.related .related-body .article:nth-child(2n){margin-left:0}
	.related .related-body .article .title{width:60%;min-height:70px}
	.related .related-body .article .thumbnail{width:35%;}
	.related .related-body .article .thumbnail img{max-height:68px;min-height:68px;width:100%}
	/*
	 * Single
	 * Related Posts : Style 2
	*/
	.related .related-body-2 .article{width:100%;margin:0 0 3px;padding:0 0 3px;border-bottom:1px solid #eef1f5}
	.related .related-body-2 .article:last-child{border-bottom:none}
	.related .related-body-2 .article:nth-child(3n){margin-left:0}
	.related .related-body-2 .article .title{width:60%;box-shadow:none;text-align:right;padding:0}
	.related .related-body-2 .article .thumbnail{height:70px;width:35%;margin-left:10px}
	.related .related-body-2 .article .thumbnail img{min-height:70px;max-height:70px}
	/*
	 * Single
	 * Post : Gallery
	*/
	.content .gallery-columns-2 figure.gallery-item{width:48%}
	.content .gallery-columns-3 figure.gallery-item{width:30%}
	.content .gallery-columns-4 figure.gallery-item,.content .gallery-columns-5 figure.gallery-item,.content .gallery-columns-6 figure.gallery-item,.content .gallery-columns-7 figure.gallery-item,.content .gallery-columns-8 figure.gallery-item,.content .gallery-columns-9 figure.gallery-item{width:48%}
	.content .gallery-columns-4 figure.gallery-item:nth-child(4n),.content .gallery-columns-5 figure.gallery-item:nth-child(5n),.content .gallery-columns-6 figure.gallery-item:nth-child(6n),.content .gallery-columns-7 figure.gallery-item:nth-child(6n),.content .gallery-columns-8 figure.gallery-item:nth-child(6n),.content .gallery-columns-9 figure.gallery-item:nth-child(6n){margin:0 0 10px 10px}
	.content .gallery-columns-4 figure.gallery-item:nth-child(2n),.content .gallery-columns-5 figure.gallery-item:nth-child(2n),.content .gallery-columns-6 figure.gallery-item:nth-child(2n),.content .gallery-columns-7 figure.gallery-item:nth-child(2n),.content .gallery-columns-8 figure.gallery-item:nth-child(2n),.content .gallery-columns-9 figure.gallery-item:nth-child(2n){margin:0 0 10px}
	/*
	 * Single
	 * Page : Contact 7 Forms 
	*/
	.wpcf7-form input.wpcf7-text{padding:2% 1%;width:98%}
	/*
	 * Single
	 * Posts : Next/Prev 
	*/
	.post-nav li{width:85%;margin-bottom:20px}
	.post-nav li:last-child{margin-bottom:0}
	.post-prev{padding-right:15%}
	.post-next{padding-left:15%}
	/*
	 * Single
	 * WordPress Default CSS
	*/
	.wp-caption img{width:96.5%}
	/*
	 * Single
	 * Content List
	*/
	.content ul li,.content ol li{width:auto}
	/*
	 * Single
	 * Comments
	*/
	.comment-body .comment-meta{width:60%}
	.comments-inputs{width:100%;padding-left:0}
	.comments-inputs .input-title{width:50%}
	.comments-inputs textarea{width:95.4%}
	.comments-inputs input.author{width:46.3%}
	.comments-inputs input.email{width:47.1%}
	.comments-inputs input.url{width:97.4%}
	.comment-rules{border-right:none;float:right;padding:1%;width:98%}
	.comments-box .tabs .tab_content{width:92.8%}
	.comments-box .tabs .tabs-div{width:96.3%!important}
	.comments-box .tabs ul.tab_nav li a span{display:none}
	.comments-box .social-comments{float:none;margin:5px auto;width:75%}
	.comments-box .social-comments .list{width:100%;margin-left:0}
	.comments-box .tabs .social-comments{float:none;margin:5px auto!important;width:75%}
	.comments-box .tabs .social-comments .list{width:100%;margin-right:0}
	.comments-inputs-2 input.email{width:46.6%}
	.comments-inputs-3 .col-1{border-left:none;margin-left:0;padding-left:0;width:100%}
	.comments-inputs-3 .col-2{float:right;margin-right:0;padding:0;width:100%}
	.comments-inputs-3 .col-2 .title{margin:10px 0}
	.comments-inputs-3 .col-2 .social-comments{float:right;margin:0;width:100%}
	/*
	 * Author Bio : Single
	*/
	.author-info{display:none;}
	/*
	 * Archives
	*/
	.section-articles .first .thumbnail,
	.section-articles .first .thumbnail img,
	.section-articles .first .title,
	.section-articles .first .text,
	.section-articles .first .date{width:100%}
	.section-articles .first .thumbnail{margin-left:0;margin-bottom:10px}
	.section-articles .first .thumbnail img{min-height:auto}
	.section-articles .second .date,
	.section-articles .third .date,
	.section-articles .second .text{display:none}
	.section-articles .second .thumbnail img,
	.section-articles .third .thumbnail img{min-height:70px}
	.section-articles .second .thumbnail,
	.section-articles .third .thumbnail{margin-left:2%;width:30%}
	.section-articles .first .thumbnail img,
	.section-articles .second .thumbnail img,
	.section-articles .third .thumbnail img{width:100%}
	.section-articles .second .title,
	.section-articles .third .title{width:68%}
	.section-articles .fourth .thumbnail{width:100%;margin-left:0}
	.section-articles .fourth .thumbnail img{width:100%}
	.section-articles .fourth .text{height:40px;margin-top:5px;width:100%}
	.section-articles .fourth .more{display:none}
	.section-articles .fifth{width:100%;margin-left:0}
	.section-articles .fifth:nth-last-of-type(-n+2){border-bottom:1px solid #eee}
	.section-articles .fifth:last-child{border-bottom:none}
	.section-articles .sixth{width:100%;margin-left:0}
	.section-articles .sixth:nth-last-of-type(-n+2){border-bottom:1px solid #eee}
	.section-articles .sixth:last-child{border-bottom:none}
	.section-articles .seventh{width:49%;min-height:auto;margin-left:0.5%}
	.section-articles .seventh:nth-of-type(3n){margin-left:0.5%}
	.section-articles .seventh:nth-of-type(2n){margin-left:0}
	.section-articles .seventh .thumbnail img{width:100%;max-height:90px;min-height:90px}
	.section-articles .eighth{width:100%;margin-left:0}
	.section-articles .eighth .thumbnail img{min-height:100px;max-height:100px}
	.section-articles .eighth .thumbnail{width:30%}
	.section-articles .eighth .date,
	.section-articles .eighth .title{width:68%}
	.section-articles .eighth:nth-last-of-type(-n+2){border-bottom:1px solid #eee}
	.section-articles .eighth:last-child{border-bottom:none}
	.section-articles .ninth{width:100%;margin-left:0}
	.section-articles .ninth .author,
	.section-articles .ninth .title{width:70%}
	.section-articles .ninth .thumbnail{width:28%}
	.section-articles .ninth:nth-last-of-type(-n+2){border-bottom:1px solid #eee}
	.section-articles .ninth:last-child{border-bottom:none}
	.section-articles .search .thumbnail{display:inline;width:100%;margin:0 0 10px;}
	.section-articles .search .thumbnail img{width:60%;}
	.section-articles .search .text{width:100%;}
	.section-articles .search .title {line-height:24px;}
	.more-posts-w {width:91%;}
	/*
	 * Sidebar 
	*/
	.sidebar-wrapper{margin-right:0;margin-left:0;width:100%}
	.widget-head{width:100%}
	.sidebar-body,ul.sidebar-content{width:96%;padding:2%;}
	.searchform input#s{width:74%}
	/*
	 * Widgets Simple : 1
	*/
	.sidebar-content li.first{width:100%}
	.sidebar-content li.first .title{width:65%}
	.sidebar-content li.first .thumbnail{width:30%}
	/*
	 * Widgets Simple : 2
	*/
	.sidebar-content li.second,.sidebar-content li.second .title{width:100%}
	.sidebar-content li.second .text{width:61%;height:58px;overflow:hidden}
	.sidebar-content li.second .thumbnail{width:30%}
	.sidebar-content li.second .thumbnail img{max-height:70px;min-height:70px}
	/*
	 * Widgets Simple : 3
	*/
	.sidebar-content li.third_b{width:100%}
	.sidebar-content li.third_b .title{width:65%}
	.sidebar-content li.third_b .thumbnail{width:30%}
	.sidebar-content li.third_a,.sidebar-content li.third_a .thumbnail{width:100%}
	.sidebar-content li.third_a .title{width:100%}
	.sidebar-content li.third_a .thumbnail img{max-height:160px;min-height:160px}
	/*
	 * Widgets Simple : 4
	*/
	.sidebar-content li.fourth{width:47.7%}
	.sidebar-content li.fourth .title,
	.sidebar-content li.fourth .thumbnail{width:100%}
	.sidebar-content li.fourth .thumbnail img{max-height:90px;min-height:90px}
	.sidebar-content li.fourth .thumbnail .play_vid{right:20%;top:30%}
	/*
	 * Widgets Simple : 5
	*/
	.sidebar-content li.fifth,.sidebar-content li.fifth .thumbnail{width:100%}
	.sidebar-content li.fifth .title{width:96%}
	.sidebar-content li.fifth .thumbnail img{max-height:180px;min-height:180px}
	/*
	 * Widgets Simple : 8
	*/
	.sidebar-content li.eighth{width:100%}
	.sidebar-content li.eighth .title{width:55%}
	.sidebar-content li.eighth .thumbnail{width:40%}
	/*
	 * Widgets Simple : 9
	*/
	.sidebar-content li.ninth{width:47.7%}
	.sidebar-content li.ninth .title,
	.sidebar-content li.ninth .thumbnail{width:100%}
	.sidebar-content li.ninth .thumbnail img{max-height:90px;min-height:90px}
	.sidebar-content li.ninth .thumbnail .play_vid{right:20%;top:30%}
	/*
	 * Widgets Simple : 10
	*/
	.sidebar-content li.tenth{width:100%;position:relative;}
	.sidebar-content li.tenth .title{width:65%}
	.sidebar-content li.tenth .thumbnail{width:30%}
	.sidebar-content li.tenth .author{right:auto;left:5px;position:absolute;bottom:0;}
	/*
	 * Widgets jQuery : 1
	*/
	.gallery-one,.gallery-one a.cycle-link,.gallery-one-pager{width:100%}
	.gallery-one a.cycle-link img{min-height:190px;max-height:190px}
	.gallery-one-overlay{width:92.2%}
	.gallery-one-pager span{width:32%}
	.gallery-one-pager span img{max-height:60px;min-height:60px}
	/*
	 * Widgets jQuery : 2
	*/
	.gallery-two,.gallery-two a.cycle-link,.gallery-two-pager{width:100%}
	.gallery-two-overlay{width:95%}
	.gallery-two-next, .gallery-two-prev {bottom:7px;}
	/*
	 * Widgets jQuery : 3
	*/
	.gallery-three{width:100%}
	.gallery-three a.cycle-link{width:65%}
	.gallery-three a.cycle-link img{width:170px}
	.gallery-three a.cycle-link{margin:10px 47px 0}
	.gallery-three a.cycle-link img{height:230px}
	.gallery-three-prev {left:12px;}
	.gallery-three-next {right:12px;}
	/*
	 * Widgets jQuery : 4
	*/
	.sidebar-content li.eleventh{width:100%}
	.sidebar-content li.eleventh .title,
	.sidebar-content li.eleventh .date{width:65%}
	.sidebar-content li.eleventh .thumbnail{width:30%}
	/*
	 * Widgets jQuery : 5
	*/
	.sidebar-content li.twelfth{width:100%}
	.sidebar-content li.twelfth .title{width:96%}
	/*
	 * Widgets jQuery : 6 & 7
	*/
	.sidebar-wrapper ul.tab_nav{width:100%}
	.sidebar-wrapper ul.tabnav,
	.sidebar-wrapper ul.tabsub{width:100%}
	.sidebar-content li.w24_a{width:100%}
	.sidebar-content li.w24_a .title{width:65%}
	.sidebar-content li.w24_a .thumbnail{width:30%}
	.sidebar-content li.w24_b{width:100%}
	.sidebar-content li.w24_b .title{width:65%}
	.sidebar-content li.w24_b .thumbnail{width:30%}
	.sidebar-content li.w24_b .count{width:30px;height:30px;font-size:19px;line-height:32px}
	.sidebar-content li.w24_b .thumbnail img{max-height:62px;min-height:62px}

	

	/*
	 * Widgets Addon : 1
	*/
	.module-background-widget,
	.weather_panel,
	.weather_panel p{width:100%;float:right;}
	.weather_panel{padding:0;}
	.weather_panel .wwrap{width:96%;margin:5px 0;}
	.weather_panel span.city{font-size:21px;width:40%}
	.weather_panel span.temp{font-size:45px;}
	.weather_panel span.icon,
	.weather_panel span.temp{width:25%}
	/*
	 * Widgets Addon : 2
	*/
	.fb-like-box-w{width:310px}
	/*
	 * Widgets Addon : 3
	*/
	.twitter-w{width:290px}
	/*
	 * Widgets Addon : 4
	*/
	.custom-badge{width:100%}
	.custom-badge .icon-b{width:25%;}
	.custom-badge .content{width:75%;height:80px}
	/*
	 * Widgets Addon : 5
	*/
	.subscribe-newsletter{width:96%}
	.subscribe-widget-text, .subscribe-widget input[type="text"] {width:66%;}
	/*
	 * Widgets Addon : 6
	*/
	.prayers{width:98%}
	.prayers .title,.prayers .border,.prayers .times{width:96%}
	.prayers .single{width:30.8%}
	/*
	 * Widgets Addon : 7
	*/
	.advert-sidebar-w{width:100%;padding:0}
	.advert-sidebar{width:100%}
	/*
	 * Footer
	*/
	.footer-col{width:100%}
	.footer-col li.posts .thumbnail{width:30%}
	.footer-col li.posts .title{width:65%;line-height:20px}
	.subscribe-footer-text, .subscribe-footer input[type="text"] {width:66%;}
	/*
	 * Bootstarp
	 * Modal Position
	*/
	.modal:before{height:auto;}
	.modal-dialog{display:block;}
	/*
	 * Mobile Menu
	 *
	*/
	.page,
	.slideout-panel {
		will-change: transform;
	}
	.scrolltop{right:auto;left:10px;}
}