﻿body,div,ul,li,dl,dd p{padding:0px;margin:0px;font-family:宋体, Arial, Helvetica, sans-serif;font-size:9pt;list-style:none}
h3,h4{padding:0px;margin:0px;list-style:none}
img{border:none;}
a{color:#333;text-decoration:none}
/*a:link{color:#333;text-decoration:none}*/
a:hover{color:#CC0000}
/*
body{filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);;background:url('../images/index/body.jpg') repeat-x center top black;
}*/
body{;background:url('../images/index/body.jpg') repeat-x center top black;
}
.c-red{color:red;}
.clearh10{display:block;clear:both;width:100%;height:10px;}
.mb10{margin-bottom:10px;}
.bodybox{width:1000px;margin:auto;clear:both;overflow:hidden;background:url('../images/index/bodybox.png') repeat-y;
padding:0px 5px 0px 5px
}
.chun{width:1000px;background:url('http://www.2cto.com/chun.jpg') no-repeat -189px 0px;margin:auto;height:88px}
.t1{height:31px;background:url('../images/index/t1.jpg') repeat-x
}
.t1 .topMenu{float:left;padding-top:10px}
.t1 A{display:block;float:left;border-right:1px #CCC solid;padding:0px 10px 0px 10px}
.login{float:right;padding-right:10px;padding-top:5px}
.rss{float:left;padding-left:10px;width:22px;padding-top:5px}
.rss A{padding:0px;border:0px;float:left;display:block;height:22px;width:22px;background:url('../images/index/rss.png') no-repeat}
.rss A:hover{float:left;display:block;height:22px;width:22px;background:url('../images/index/rss.png') no-repeat -29px top}

.t2{clear:both;overflow:hidden;padding:0px 10px 0px 10px}
.t2 .logo{float:left;padding-top:8px}
.t2 .MenuBox{float:right;padding-top:8px;overflow:hidden}
.t2 .MenuBox .one{float:left;border-right:1px #EEE solid;width:200px;padding-right:7px}
.t2 .MenuBox .two{float:left;border-right:1px #EEE solid;width:160px;padding:0px 7px 0px 8px}
.t2 .MenuBox .three{float:left;border-right:1px #EEE solid;width:137px;padding:0px 7px 0px 8px}
.t2 .MenuBox .four{float:left;border-right:1px #EEE solid;width:180px;padding:0px 7px 0px 8px}
.t2 .MenuBox .five{float:left;width:55px;padding:0px 10px 0px 10px}
.t2 .MenuBox .five span{color:red}
.t2 .MenuBox LI{float:left;line-height:22px;padding:0px 3px 0px 3px}
.t2 .MenuBox dl{float:left;width:100%;}
.t2 .MenuBox dt,.t2 .MenuBox dd{float:left;line-height:22px;padding:0px 3px;margin:0;white-space:nowrap;}
.t2 .MenuBox dt{font-weight:bold;}
.t2 .MenuBox dt.qq{width:24px;}

.tbody{width:980px;margin:auto;clear:both;padding:10px 0px 10px 0px}
.adv980,.ibox980{width:980px;text-align:center;}
.ibox980.mb10{margin-bottom:10px;}
.ibox980.mt10{margin-top:10px;}
.adv980box{width:980px;float:left;padding-top:8px;height:60px}
.adv980box img{border:0px}
.ibox380{width:100%;}
.clear10{clear:both;height:10px;overflow:hidden;}
.LineTen{height:7px;clear:both;overflow:hidden}
.LBox{float:left;width:390px;background:url('../images/index/LBOX.png') repeat-y;
padding-left:1px
}
.RBox{float:right;width:588px;background:url('../images/index/RBox.jpg') repeat-y;
padding-left:1px;overflow:hidden;border-bottom: 1px solid #eee;}

.LBox UL.LOne{width:359px;;border-bottom:1px #EEE solid;background:url('../images/index/LBoxTbg.jpg') repeat-x;
padding:10px;clear:both;overflow:hidden
}
.LBox UL.MenuBox{float:none;height:25px;width:359px;border-top:1px #CCC solid;background:url('../images/index/t.jpg') repeat-x;padding:8px 10px 0px 10px;}
.MenuBox .LTitle{font-size:16px;height:25px;;float:left}
.MenuBox .LTitle A:link{color:#3E5977;font-weight:bold}
.MenuBox .LTitle A{color:#3E5977;font-weight:bold}
.MenuBox .RButtoncheck{display:block;height:24px;;float:right;border-left:1px #BCCBDC solid;border-top:1px #BCCBDC solid;border-right:1px #BCCBDC solid;background:white;line-height:22px;padding:0px 8px 0px 8px;margin-right:5px}
.MenuBox .RButton{display:block;height:23px;float:right;border-left:1px #BCCBDC solid;border-top:1px #BCCBDC solid;border-right:1px #BCCBDC solid;line-height:22px;padding:0px 8px 0px 8px;margin-right:5px}

.MenuBox .LTitle .LTButton{height:24px;display:block;padding:1px 9px 0px 9px;line-height:22px;float:left}
.MenuBox .LTitle .LTButtoncheck{height:24px;;border-left:1px #BCCBDC solid;border-top:1px #BCCBDC solid;border-right:1px #BCCBDC solid;background:white;line-height:22px;padding:0px 8px 0px 8px;display:block;float:left}

.tbor{border-top:1px #CCC solid}
.bbor{border-bottom:1px #CCC solid}
.Newstt{float:left;width:359px;line-height:28px;height:28px;font-size:16px;font-weight:bold}
.Newstt A{color:#CC0000;}
.NewsDes{float:left;width:359px;line-height:22px;color:#999;padding-bottom:6px;background:url('../images/index/xx.jpg') repeat-x left bottom
}
.NewsList{float:left;width:349px;line-height:24px;background:url('../images/index/icon.jpg') no-repeat left center;
padding-left:10px
}
.NewsPic{float:left;width:85px;line-height:20px;color:#999;padding-bottom:6px;background:url('../images/index/xx.jpg') repeat-x left bottom;
padding-right:3px}
.NewsPic IMG{
	margin-bottom:1px
}
.NewsLine{float:left;width:349px;height:10px}
.NewsList A.lm{;font-size:12px;color:#396588}
.NewsList A.title{float:left;font-size:14px}
.NewsList span.tim{float:right;color:#999}
.NewsList span.lmbox{float:left;padding-right:5px;color:#396588}

.RBox .MBox{float:left;width:344px;overflow:hidden}
.MBox .Flash{float:left;width:344px;height:160px}
.MBox .Flash Li{float:left;width:344px;height:160px;position:absolute}
.MBox .Flash Li span{width:344px;height:30px;filter: Alpha(Opacity=50);background:black;display:block;position:absolute;left:0px;bottom:0px}
.MBox .Flash Li A.tl{width:344px;height:30px;display:block;position:absolute;left:0px;bottom:0px;line-height:30px;font-size:14px;color:white;text-align:center}
#npic{padding:0px;margin:0px}
#npic img{;border:0px}
#npic a{border:0px}
#npic a:hover{border:0px}

.tablistBox{float:left;width:323px;padding:10px;background:url('../images/index/lbg.jpg') repeat-x;
}
.tablistBox .TabBox{height:26px;background:url('../images/index/mbg.png') repeat-x left bottom
}
.tablistBox .TabBox .LT{font-size:16px;height:25px;;float:left}
.tablistBox .TabBox .LT A{color:#3E5977;font-weight:bold}
.tablistBox .TabBox .buttonon{margin-left:5px;height:25px;;float:right;padding:0px 10px 0px 10px;background:url('../images/index/mbuttonbg1.png');
border-left:1px #C8C8C8 solid;border-top:1px #C8C8C8 solid;border-right:1px #C8C8C8 solid;line-height:25px
}
.tablistBox .TabBox .buttonoff{margin-left:5px;height:24px;;float:right;padding:0px 10px 0px 10px;background:url('../images/index/mbuttonbg2.png');
border-left:1px #C8C8C8 solid;border-top:1px #C8C8C8 solid;border-right:1px #C8C8C8 solid;line-height:24px
}
.tablistLine{float:left;width:349px;height:10px}
.tablistBox .TabListBox{padding-top:10px;overflow:hidden}

.NewstabList{background:url('../images/index/icon.jpg') no-repeat left 10px;
overflow:hidden;height:23px;line-height:23px;vertical-align: bottom;padding-left:8px}

.NewstabListtt{overflow:hidden;height:23px;line-height:23px;vertical-align: bottom;;font-size:16px;font-weight:bold}
.NewstabListtt A{color:#CC0000;}
.NewstabListDes{line-height:22px;color:#999;padding-bottom:6px;background:url('../images/index/xx.jpg') repeat-x left bottom
}
.NewsLinem{height:10px;overflow:hidden}

.NewstabList A.lm{;font-size:12px;color:#396588;font-weight:bold}
.NewstabList A.title{float:left;font-size:12px}
.NewstabList span.tim{float:right;color:#999}
.NewstabList span.lmbox{float:left;padding-right:5px;color:#396588}
.NewstabListLine{float:left;width:313px;height:10px;overflow:hidden}
.tabpicboxL{width:111px;float:left;overflow:hidden}
.tabpicboxR{width:100px;float:right;overflow:hidden}
.tabpicboxL A{display:block;width:94px;height:74px;border:1px #CCC solid;background:white;padding:2px}
.tabpicboxR A{display:block;width:94px;height:74px;border:1px #CCC solid;background:white;padding:2px}
.tabpicboxL P{display:block;width:100px;line-height:18px;margin:0px;padding-top:8px}
.tabpicboxR P{display:block;width:100px;line-height:18px;margin:0px;padding-top:8px}

.RBox .nRBox{float:left;width:242px;overflow:hidden}
.nRgg{float:left;width:223px;padding:36px 10px 10px 10px;background:url('http://www.2cto.com/adv/ggtit.jpg') repeat-x;border-bottom:1px #CCC solid;}
.nRgg LI{line-height:24px;float:left;width:222px}
.nRList{float:left;width:223px;padding:10px;}
.nRList li.nRliner{float:left;width:223px;height:10px;overflow:hidden}
.nRList Li.nrt{height:24px;border-bottom:1px #CCC solid}
.nRList Li.nrt strong{color:#3E5977;font-size:16px;;float:left}
.nRList Li.nrt span{color:#999;font-size:12px;;float:right;padding-top:5px}
.nRList Li.list_box{display:none;}
.RtabList{float:left;width:223px;line-height:24px;background:url('../images/index/icon.jpg') no-repeat left center;
padding-left:10px;display:block
}
.line980foot{width:980px;height:10px;overflow:hidden;border-top:1px #CCC solid;margin:auto}
.advl{height:60px;width:379px}

.RBoxadv{float:left;width:580px;background:white;height:60px;padding:3px 4px 3px 3px;border-top:1px #CCC solid;border-bottom:1px #CCC solid;overflow:hidden}

.divzf{
	width:960px;margin:auto;border:1px #D8D8D8 solid;clear:both;overflow:hidden;background:url('../images/index/lbg.jpg') repeat-x;padding:10px
}
.divzf .divzhuantibutton{
	width:81px;float:left;height:30px;vertical-align:middle;text-align:center;line-height:30px
}
.divzfp{
	width:980px;margin:auto;height:60px;border-left:1px #D8D8D8 solid;border-bottom:1px #D8D8D8 solid;border-right:1px #D8D8D8 solid
}


.divzfp .divzhuantibutton{
	width:80px;float:left;height:30px;vertical-align:middle;text-align:center;line-height:30px
}
.divzfp TABLE TR TD{
	;text-align:center;height:60px
}

.line980foot{width:980px;height:10px;overflow:hidden;border-top:1px #CCC solid;margin:auto}
.bbs{width:980px;margin:auto;overflow:hidden;border:1px #CCC solid;height:375px}
.twoscreen{width:980px;float:left;padding:10px 0px 0px 0px}

.adv980two{width:980px;height:60px;overflow:hidden;border-top:1px #CCC solid;margin:auto;padding:5px 0px 0px 0px}


.searchbox{float:left;width:234px;overflow:hidden;padding:8px 0px 8px 8px}
.searchbox LI{float:left;padding-right:5px}
.searchbox select{border:1px #CCC solid;padding:2px}
.searchbox .keyword{width:160px;border:1px #CCC solid;height:19px}
.searchbox .button{width:45px;border:1px #CCC solid;height:23px}
form{margin:0px;padding:0px}

.helpc{float:left;width:588px;overflow:hidden;background-color:white;position:relative;}
.helpc .shouce{width:60px;height:60px;display:block;position:absolute;left:0px;top:0px}
.helpc .cbox{width:507px;padding:10px 10px 10px 70px;border-top:1px #CCC solid;border-right:1px #CCC solid;background:url('../images/index/zxsc.png') no-repeat left top;line-height:20px;color:#666} 

.thumbBoxL{float:left;width:80px;padding-right:10px}
.thumbBoxR{float:right;width:80px;}
.thumbBoxL IMG{border:0px;margin-bottom:3px}
.thumbBoxR IMG{border:0px;margin-bottom:3px}

.dorbutton{display:block;float:right;border-left:1px #CCC solid;border-right:1px #CCC solid;border-top:1px #CCC solid;padding:5px 10px 5px 10px;margin-right:5px;cursor:pointer}
.dorbuttoncheck{display:block;float:right;padding:5px 10px 5px 10px;border-left:1px #CCC solid;border-right:1px #CCC solid;border-top:1px #CCC solid;background:white;margin-right:5px;cursor:pointer}

.zt{float:left;width:233px;line-height:24px;padding:0px 0px 5px 0px}
.zt .imgl{float:left;width:80px;height:75px;display:block}
.zt .imgl IMG{border:0px}

.zt .rR{float:right;width:145px;line-height:22px;display:block}
.zt .rR A{font-weight:bold;color:#3E5977}
.zt .rdes{float:right;width:145px;line-height:22px;color:#999;display:block}

.nRList p{margin:0px}

.friendtext{width:960px;border-bottom:1px #CCC solid;margin-bottom:6px;height:30px;line-height:30px}
.friendtext .fltext{float:left;font-size:14px;font-weight:bold;color:#333}
.friendtext .frinfo{float:right;font-size:12px;color:#333}


.shouceBox{width:980px;margin:auto;clear:both;overflow:hidden;border:1px #C8C8C8 solid;background:url('../images/index/xs.png') left top repeat-y}
.shoucel{float:left;width:659px;padding:0px 0px 10px 0px;background:url('../images/index/lbg.jpg') repeat-x}
.shoucer{float:right;width:320px;padding:10px 0px 10px 0px;}
.shoucel .position{float:left;width:625px;background:url('../images/index/posicon.png') 10px 8px no-repeat;height:40px;line-height:40px;padding-left:35px;border-bottom:1px #C8C8C8 solid}
.shoucel .scbox{float:left;width:660px;background:url('../images/index/scl.png') repeat-y;width:176px}
.shoucel .rlistbox{width:460px;padding:10px 10px 10px 0px;float:right}
.shoucel .rlistbox Li{width:450px;height:24px;line-height:24px}
.shoucel .rlistbox Li A{font-size:14px}
.shoucel .scbox A{
	float:left;background:url('../images/index/tabbg.png') no-repeat;display:block;line-height:33px;padding-left:20px
}
.shoucel .scbox A.check{;background-position:left top;width:156px;height:34px;}
.shoucel .scbox A.checked{;background-position:left -56px;width:156px;height:33px}
.shoucel .scbox A.checked{font-size:14px;font-weight:bold;color:#FF0000}

.rtupdate{width:300px;padding:10px;clear:both;overflow:hidden}
.rtupdate ul{width:278px;background:url('../images/index/lbg.jpg') repeat-x;border:1px #C8C8C8 solid;clear:both;overflow:hidden;padding:10px}
.rtupdate ul li{height:24px;line-height:24px}
.rtupdate strong{display:block;height:30px;font-size:14px}

.book{float:left;width:978px;overflow:hidden;padding-bottom:8px;background-color:#FFF;border:1px #CCC solid}
.book .booktit{width:978px;height:30px}
.booktit{;color:#3E5977;font-weight:bold;font-size:14px}

.book .pboxc{float:left;width:122px}
.pboxc img{border:1px #CCC solid}
.pboxc span{display:block;width:110px;line-height:22px}

.tablistBoxW{float:left;width:978px;padding:10px 0px 10px 10px;background:url('../images/index/lbg.jpg') repeat-x;border-right:1px #CCC solid
overflow:hidden;}
.tablistBoxW .TabBox{height:26px;background:url('../images/index/mbg.png') repeat-x left bottom
}
.tablistBoxW .TabBox .LT{font-size:16px;height:25px;;float:left}
.tablistBoxW .TabBox .LT A{color:#3E5977;font-weight:bold}
.tablistBoxW .TabBox .buttonon{margin-left:5px;height:25px;;float:right;padding:0px 10px 0px 10px;background:url('../images/index/mbuttonbg1.png');
border-left:1px #C8C8C8 solid;border-top:1px #C8C8C8 solid;border-right:1px #C8C8C8 solid;line-height:25px
}
.tablistBoxW .TabBox .buttonoff{margin-left:5px;height:24px;;float:right;padding:0px 10px 0px 10px;background:url('../images/index/mbuttonbg2.png');
border-left:1px #C8C8C8 solid;border-top:1px #C8C8C8 solid;border-right:1px #C8C8C8 solid;line-height:24px
}
.tablistLine{float:left;width:349px;height:10px}
.tablistBoxW .TabListBox{padding-top:10px;overflow:hidden}

.NewstabListW{height:22px;line-height:22px;width:320px;overflow:hidden;font-size:0px}
.NewstabListW A{font-size:12px}
.NewstabListW A.lm{;font-size:12px;color:#396588;font-weight:bold}
.NewstabListW A.title{float:left;font-size:12px}
.NewstabListW span.tim{float:right;color:#999}
.NewstabListW span.lmbox{float:left;padding-right:5px;color:#396588}

.nRListw{float:right;width:223px;padding:10px;overflow:hidden}
.nRListw li.nRliner{float:left;width:223px;height:10px;overflow:hidden}
.nRListw Li.nrt{height:24px;border-bottom:1px #CCC solid}
.nRListw Li.nrt strong{color:#3E5977;font-size:16px;;float:left}
.nRListw Li.nrt span{color:#999;font-size:12px;;float:right;padding-top:5px}

.exbox{float:left;width:567px;border-top:1px #CCC solid;border-bottom:1px #CCC solid;border-right:1px #CCC solid;background:url('../images/index/lbg.jpg') repeat-x #FFF;padding:10px}
.exbox .tul{width:567px;height:26px;border-bottom:1px #BBCBDB solid}
.exbox .tul .tl{float:left}
.exbox .tul .tl h3,.exbox .tul .tl .headline{display:block;font-weight:bold;font-family:微软雅黑;font-size:13px;}
.exbox .tul .tr{float:right;padding-top:3px}
.exbox .tul .tr A{font-size:12px;color:#666;text-decoration:none}
.exbox .usrbox{clear:both;overflow:hidden;height:70px}
.exbox .usrbox ul.exl{float:left;width:285px}
.exbox .usrbox ul.exr{float:right;border-left:1px #BBCBDB solid;padding-left:8px}
.exbox .usrbox .usrtx{float:left}
.exbox .usrbox .usrtx img{border:1px #CCC solid}
.exbox .usrbox .usrdesc{float:right;width:220px;line-height:20px;font-size:12px;color:#666;padding-left:10px}
.exbox .usrbox .usrname{float:right;width:220px;line-height:26px;font-size:12px;color:#666;padding-left:10px}
.exbox .usrbox .usrname a{text-decoration:none;font-family:Microsoft Yahei;font-size:13px;color:#000;font-weight:bold;}
.exbox .usrbox .usrname h3{font-family:微软雅黑;font-size:13px;color:#000;}
.exbox .usrbox ul.exr li{width:270px;line-height:22px;color:#999}
.exbox .usrbox ul.exr li A{font-size:12px;color:#333;text-decoration:none}
.exbox .usrbox ul.exr li h3{font-family:微软雅黑;font-size:13px;color:#000;}
.exbox .usrbox ul.exr li.headline{line-height:26px}
.exbox .usrbox ul.exr li.headline a{font-size:14px;color:blue}
.divbox{height:70px;overflow:hidden;margin-top:8px}

.footicon img{border:0px}

.sehbox{width:978px;border:1px #A9CFE3 solid;height:40px;background:#DCEDFF}
.sehbox .box{border:1px #FFF solid;width:966px;padding:5px;height:28px}
.sehbox .box .s,.sehbox .box .left{float:left;padding-left:2px}
.sehbox .box .d,.sehbox .box .right{float:right;padding-left:2px}
.sehbox .box .right a,.sehbox .box .right span,.sehbox .box .right iframe{display:inline-block;vertical-align:middle;}
.sehbox .box .right span{padding:0 0px 0px 10px;}
.sehbox .box .left select,.sehbox .box .left input{float: left;margin-top: 3px;margin-right:2px;}
.sehbox select{font-family:微软雅黑;font-size:13px;border:1px #A1A1A1 solid}
.sehbox .keyword{font-family:微软雅黑;font-size:13px;border:1px #A1A1A1 solid;width:200px}
.sehbox .button{font-family:微软雅黑;font-size:13px;border:1px #A1A1A1 solid}
.sehbox .plt{padding-left:8px}
.sehbox .sina{background:url('../images/index/sina.jpg') no-repeat 10px center;height:20px;padding:8px 0px 0px 35px;}
.sehbox .tengxun{background:url('../images/index/tx.jpg') no-repeat 10px center;height:20px;padding:8px 0px 0px 35px;}
.sehbox .weixin{background:url('../images/index/weixin.jpg') no-repeat 10px center;height:20px;padding:8px 0px 0px 35px;}
.sehbox .rss{background:url('../images/index/rss.jpg') no-repeat 10px center;height:20px;padding:8px 0px 0px 35px;float:none;}

.anqnl{background:url('../images/anqnsp.jpg') no-repeat #E8F5FD;width:379px;margin-bottom:10px}
.anqnl li{line-height:30px;padding-left:100px}
.anqnl li A{font-family:微软雅黑;font-size:13px}
#GoAdviceDiv{
	height:80px;width:30px;position:absolute;display:block;background-image:url('{IMG_PATH}yjfk.jpg')
}
.footer{vertical-align:middle;line-height:24px;text-align:center;}
.footer p{margin:0;}
.footer p img.ga{ position:relative; top:4px; margin-right:4px;}
.footer p.icons{padding-top:5px;padding-bottom:10px;}
.footer p.icons a,.footer p.icons span{display:inline-block;vertical-align:middle;margin:0 5px;}
.footer p.icons a.ah40 img{display:block;height:40px !important;width:auto;}
.footer p.icons span a{margin:0;}