* {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

body {
	margin: 10px;
	color: #000000;
	font-size: 75%;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	background: #282828 url(./images/stripe.png);
}

p,
form {
	display: inline;
}

img {
	border: 0;
}

hr {
	border: 0;
	height: 0.9em;
	position: relative;
	margin-bottom: 0.9em;
	border-bottom: 1px dotted #999999;
}

li {
	margin-left: 50px;
}

h1 {
	color: #333333;
	font-size: 1.7em;
	font-weight: normal;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a:link,
a:visited {
	color: #005fa9;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

th, 
.table_header {
	height: 25px;
	color: #ffffff;
	font-size: 0.9em;
	text-align: center;
	background: #006699;
}

th a:link,
th a:hover,
th a:visited, 
.table_header a:link,
.table_header a:hover,
.table_header a:visited {
	color: #FFF;
	text-decoration: none;
}

td span {
	font-weight: 700;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

td.arial {
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

td .explain {
	font-size: 0.9em;
	font-style: italic;
}

.page_cell {
	width: 972px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #000000;
}

.help {
	cursor: help;
	border-bottom: dotted 1px #666;
}

.button1,
.input_field {
	padding: 3px;
	color: #000000;
	font-size: 0.9em;
	border: 1px solid #b3b9c4;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	background: #ffffff url(./images/input_bg.gif) repeat-x;
}

.button1, 
.button2 {
	cursor: pointer;
}

.button1 {
	padding: 4px;
	text-align: center;
}

.button2, 
a.button2 {
	border: 0;
	color: #000000;
	margin-left: 10px;
	background: #ffffff;
	text-decoration: none;
	vertical-align: middle;
	border-bottom: 1px dashed #c00;
}

a.button1:link, 
a.button1:hover,
a.button1:visited {
	color: #000000;
	text-decoration: none;
}

.button1:hover,
.button1:active, 
.input_field:focus, 
.input_field:hover {
	border: 1px solid #7e8993;
}

.table_footer {
	height: 15px;
	padding: 5px;
	color: #ffffff;
	text-align: center;
	background: #417db7;
}

.table_border {
	width: 100%;
	border: 1px solid #345487;
}

.tdrow1, 
td.tdrow1, 
tr.tdrow1, 
th.tdrow1 {
	padding: 5px;
	background: #ebf1f5;
}

.tdrow2, 
td.tdrow2, 
tr.tdrow2, 
th.tdrow1 {
	padding: 5px;
	background: #dee3e7;
}

.logo {

	height: 75px;
	background: #FFFFFF url(./images/site_logo.png) no-repeat;
}

.align_left {
	float: left;
}

.align_right {
	float: right;
}

.align_left_mfix {
	float: left;
	padding-top: 2px;
}

.align_right_mfix {
	float: right;
	padding-top: 2px;
}

.text_align_right {
	text-align: right;	
}

.text_align_left {
	text-align: left;
}

.text_align_center {
	text-align: center;
}

.nav_menu {
	height: 27px;
	padding: 0 15px;
	background: #014b6f;
	letter-spacing: 1px;
}

.nav_menu ul {
	float: left;
	border-left: 1px solid #002b40;
	border-right: 1px solid #3d464c;
}

.nav_menu li {
	float: left;
	margin-left: 0;
	list-style: none;
	line-height: 27px;
	border-left: 1px solid #002b40;
	border-right: 1px solid #002b40;
}

.nav_menu a:link,
.nav_menu a:visited {
	float: left;
	height: 27px;
	color: #eeeeee;
	font-size: 1em;
	padding: 0 12px;
	font-weight: 700;
}

.nav_menu a:hover {
	color: #eeeeee;
	background: #006292;
	text-decoration: none;
}

.members_bar {
	height: 27px;
	font-size: 1em;
	color: #000000;
	font-weight: 700;
	border-bottom: 1px solid #cdcdcc;
	background: #c2c1c2 url(./images/nav_mem_bar.gif) repeat-x;
}

.members_bar a:link, 
.members_bar a:hover,
.members_bar a:visited {
	color: #000000;
	text-decoration: none;
}

.members_bar div {
	padding: 7px;
}

.members_bar .guest_links {
	text-align: center;
}

.disk_loadbar {
	width: 400px;
	height: 16px;
	padding: 1px;
	border: 1px solid #999;
}

.slideout_warning {
	z-index: 3;
	float: left;
	width: 100%;
	height: 58px;
	margin-bottom: -5px;
	background: #FFFFFF url(./images/slideout_warning.png) repeat-x;
}

.slideout_warning .picture {
	float: left;
	width: 46px;
	height: 43px;
	margin-top: 5px;
	margin-left: 10px;
	background: url(./images/warning_sign.png) top left no-repeat;
}

.slideout_warning .ie_picture {
	width: 39px;
	background: url(./images/internet_explorer.png) top left no-repeat;
}

.slideout_warning .info {
	float: left;
	margin-top: 5px;
	margin-left: 10px;
}

.slideout_warning .info h1 {
	font-size: 1.40em;
	margin-bottom: 3px;
}

.page_body {
	clear: both;
	color: #000000;
	text-align: left;
	background: #ffffff;
	padding: 15px 10px 15px 10px;
}

.page_footer {
	height: 15px;
	padding: 5px;
	color: #000000;
	text-align: center;
	border-top: 1px solid #cdcdcc;
	background: #3b57a0 url(./images/pc_foot_bg.gif) repeat-x;
}

.page_footer a:link, 
.page_footer a:hover,
.page_footer a:visited {
	color: #000000;
}

.page_footer img {
	vertical-align: middle;
}

.lightbox_background {
	top: 0; 
	left: 0;
	z-index: 2;
	width: 100%;
	opacity: 0.80;
	color: #ffffff;
	position: absolute;
	background: #000000;
	-moz-opacity: 0.80px;
	filter: alpha(opacity=80);
	height: 0; /* This value will auto be set by jQuery */
}

.lightbox_main {
	z-index: 3;
	width: 515px;
	overflow: hidden;
	position: absolute;
	background: #ffffff;
	border: 1px solid #345487;
	top: 20%; /* This value will auto be set by jQuery */
	left: 25%; /* This value will auto be set by jQuery */
}

.new_version_box {
	color: #FFF; 
	background: #C00; 
	padding-top: 20px;
	text-align: center; 
	padding-bottom: 20px;
}

.new_version_box a:link,
.new_version_box a:hover,
.new_version_box a:visited {
	color: #FFF;
	text-decoration: underline;
}

.message_box {
	padding: 10px;
	text-align: center;
	margin: 5px auto 5px;
	border: 1px solid #bfc8e3;
	background: #d8dceb url(./images/blue_box_bg.gif) repeat-x top left;
}

.message_box h1 {
	color: #ff0c00;
	font-size: 1.7em;
	font-weight: 700;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.pagination {
	height: 1%;
	width: auto;
	float: right;
	padding-top: 2px;
	font-size: 0.85em;
}

.pagination_footer {
	margin: 12px 0 25px 0;
}

.pagination strong {
	margin: 0 2px;
	padding: 0 2px;
	color: #ffffff;
	font-size: 0.85em;
	background: #4692bf;
	font-weight: normal;
	border: 1px solid #4692bf;
}

.pagination a:link, 
.pagination a:active,
.pagination a:visited {
	margin: 0 2px;
	padding: 0 2px;
	color: #5c758c;
	font-size: 0.85em;
	background: #ecedee;
	font-weight: normal;
	text-decoration: none;
	border: 1px solid #b4bac0;
}

.pagination a:hover {
	color: #ffffff;
	background: #368ad2;
	border-color: #368ad2;
	text-decoration: none;
}

/* Settings for JDMenu plugin */
ul.jd_menu, 
ul.jd_menu_vertical {
	list-style-type: none;
}

ul.jd_menu ul, 
ul.jd_menu_vertical ul {
	display: none;
}

ul.jd_menu li {
	float: left;
}

ul.jd_menu ul, 
ul.jd_menu_vertical ul {
	margin: 0px;
	padding: 0px;
	display: none;
	z-index: 10000;
	position: absolute;
	list-style-type: none;
}

ul.jd_menu ul li, 
ul.jd_menu_vertical ul li {
	float: none;
	margin: 0px;
}

ul.jd_menu, 
ul.jd_menu ul {
	height: 20px;
} 

ul.jd_menu ul {
	height: auto;
}

* html ul.jd_menu ul {
	width: 1%;
}

ul.jd_menu li {
	cursor: pointer;
	white-space: nowrap;
	margin: 0px 2px 0 2px;
}

ul.jd_menu .menu_border {
	border: 1px solid #999999;	
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* For CSS3 Browsers */
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* For Safari Users */
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* For Mozilla Browsers (Firefox) */
}

ul.jd_menu li.item {
	padding: 3px;
	margin-left: 0;
	color: #000000;
	display: block;
	font-size: 0.9em;
	text-align: left;	
	background: #eff3f7;
	border-bottom: 1px solid #ddd;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

ul.jd_menu li.header {
	padding: 2px;
	font-size: 0.8em;
	font-weight: 900;
	text-align: center;
	background: #e1e2e5;
	border-bottom: 1px solid #ddd;
}

