@font-face {
  font-family: 'DINWebPro-Cond';
  src: url('../../primastyle/fonts/DINWebPro-Cond.eot');
}
@font-face {
  font-family: 'DINWebPro-Cond';
  src: url('../../primastyle/fonts/DINWebPro-Cond.woff') format("woff");
}
@font-face {
  font-family: 'DINWebPro-CondBold';
  src: url('../../primastyle/fonts/DINWebPro-CondBold.eot');
}
@font-face {
  font-family: 'DINWebPro-CondBold';
  src: url('../../primastyle/fonts/DINWebPro-CondBold.woff') format("woff");
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic-ext,latin-ext);
@font-face {font-family: 'Museo-900';src: url('/sites/all/themes/prima/pristav/fonts/museo900.eot');src: url('/sites/all/themes/prima/pristav/fonts/museo900.eot?#iefix') format('embedded-opentype'),url('/sites/all/themes/prima/pristav/fonts/museo900.woff2') format('woff2'),url('../fonts/museo900.woff') format('woff'),url('/sites/all/themes/prima/pristav/fonts/museo900.ttf') format('truetype');}
@font-face {font-family: 'Museo-700';src: url('/sites/all/themes/prima/pristav/fonts/museo700.eot');src: url('/sites/all/themes/prima/pristav/fonts/museo700.eot?#iefix') format('embedded-opentype'),url('/sites/all/themes/prima/pristav/fonts/museo700.woff2') format('woff2'),url('../fonts/museo700.woff') format('woff'),url('/sites/all/themes/prima/pristav/fonts/museo700.ttf') format('truetype');}
@font-face {font-family: 'Museo-500';src: url('/sites/all/themes/prima/pristav/fonts/museo500.eot');src: url('/sites/all/themes/prima/pristav/fonts/museo500.eot?#iefix') format('embedded-opentype'),url('/sites/all/themes/prima/pristav/fonts/museo500.woff2') format('woff2'),url('../fonts/museo500.woff') format('woff'),url('/sites/all/themes/prima/pristav/fonts/museo500.ttf') format('truetype');}
@font-face {font-family: 'Museo-300';src: url('/sites/all/themes/prima/pristav/fonts/museo300.eot');src: url('/sites/all/themes/prima/pristav/fonts/museo300.eot?#iefix') format('embedded-opentype'),url('/sites/all/themes/prima/pristav/fonts/museo300.woff2') format('woff2'),url('../fonts/museo300.woff') format('woff'),url('/sites/all/themes/prima/pristav/fonts/museo300.ttf') format('truetype');}



body{
	font-size:14px;
	font-family:Arial;
	padding:0px;
	margin:0px;
}


.container-miniplayer-placeholder{
	vertical-align:middle;
	margin-right:10px;
	display:inline-block;
	margin-bottom:10px;
	width:140px;
	float:left;
	position:relative;
}

.title a{
	text-decoration:none;
	font-size:15px;
	color:#000000;
	text-align:left;
	line-height:1.5em;
	font-family: Arial, sans-serif;
	vertical-align:top;
}

.title{
	width:120px;
	float:left;
}

.title a:hover{
	text-decoration:underline;
}

#playlist{
	margin:20px 0px 0px;
	width:285px;
}

.single-video{
	max-width:100%;
}

.clearfix{
	clear:both;
}

.single-video:nth-child(4), .single-video:nth-child(5), .single-video:nth-child(1){
	display:none;
}

.emvideo-video{
	display:none;
}

.emvideo-video:nth-child(1){
	display:block;
}


/* PRIMA */
.prima #playlist .title{
	width:128px;
}

.prima #playlist .title a {
  font-weight: bold;
  font-size: 14px;
  margin: 10px 0 0;
  max-height:65px;
  overflow:hidden;
  text-decoration: none;

}

.prima #playlist .title a:hover{
	text-decoration:underline;
}

.prima #playlist .miniplayer-placeholder{
	width:140px;
	height:79px;
}

.prima #playlist .container-miniplayer-placeholder{
	float: left;
  margin-right: 15px;
}


/* NOVIDS*/
.novids #playlist .container-miniplayer-placeholder{
	display:none;
}

.novids #playlist .title{
	display:none;
}

/*PRIMA ZOOM*/
.primazoom{
	background:url('../../primazoom/images/sidebar_right_gradient.png') #000 repeat-x left top;
	padding:8px;
}

.primazoom #playIframes .video-title a{
	text-decoration:none;
	display:inline-block;
	font-size:16px;
	color:#ffffff;
	font-weight:bold;
	margin-top:8px;
}

.primazoom #playIframes .video-title a:hover{
	text-decoration:underline;
}


/* PRIMA LOVE */
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700&subset=latin-ext);

.primalove{
	font-family: 'News Cycle', sans-serif;
	font-size:20px;
}

.primalove #playIframes{
	width:285px;
	padding-bottom:8px;
	border-bottom:2px solid #7938f6;
}

.primalove #playIframes .video-title{
	display:inline-block;
	margin-top:14px;
}

.primalove #playIframes .video-title a{
	text-decoration:none;
	color:#000000;
}

.primalove #playIframes .video-title a:hover{
	text-decoration:underline;
}

.primalove #playlist .single-video {
	margin-bottom:6px;
}

.primalove #playlist .single-video .container-miniplayer-placeholder{
	width:109px;
	height:62px;
}

.primalove #playlist .single-video .container-miniplayer-placeholder img{
	max-width:100%;
	height:62px!important;
}

.primalove #playlist .single-video .title{
	width:157px;
}

.primalove #playlist .single-video .title a{
	font-size:14px;
	font-family: 'News Cycle', sans-serif;
	color:#000000;
}


/* FRESH*/
.fresh #playlist .container-miniplayer-placeholder{
	margin-right:0px;
}

.fresh #playlist .title{
	background:#e5e5e5;
	color:#4b4b4b;
	font-size:18px;
	height:58px;
	width:103px;
	overflow:hidden;
	padding:8px 20px 13px;
}

.fresh #playlist .title a, .fresh .all-videos a{
	 font-family: 'DINWebPro-CondBold',Arial;
}


/*ŽENY*/

.zeny{
	padding:8px;
}

.zeny #playIframes .video-title{
	font-size:18px;
	color:#000000;
	width:285px;
	margin-top:8px;
}

.zeny #playIframes .video-title a{
	color:#000000;
	text-decoration:none;
}

.zeny #playIframes .video-title a:hover{
	text-decoration:underline;
}

/* RÁDCE */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext);
.radce{
	padding:6px;
	font-family: 'Open Sans', sans-serif;
}

.radce #playIframes{
	width:285px;
	padding-bottom:8px;
	border-bottom:2px solid #367abf;
}

.radce #playIframes .video-title{
	display:inline-block;
	margin-top:14px;
}

.radce #playIframes .video-title a{
	text-decoration:none;
	color:#000000;
	font-size:18px;
}

.radce #playlist .title a{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
}

/* Prostřeno*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin-ext);

.prostreno{
	padding:6px;
	font-family: 'Roboto', sans-serif;
}

.prostreno #playIframes{
	width:285px;
	padding-bottom:8px;
	border-bottom:2px solid #d81d18;
}

.prostreno #playIframes .video-title{
	display:inline-block;
	margin-top:14px;
}

.prostreno #playIframes .video-title a{
	text-decoration:none;
	color:#000000;
	font-size:18px;
}

.prostreno #playlist .title a{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
}

/* LIVING */
.living #playlist .container-miniplayer-placeholder{
	margin-right:0px;
}

.living #playlist .title{
	background:#21b9ce;
	color:#ffffff;
	font-size:16px;
	height:58px;
	width:108px;
	overflow:hidden;
	padding:8px 15px 13px;

}

.living #playlist .title a, .living .all-videos a{
	 font-family: Arial;
	 color:#ffffff;
	 text-decoration:none;
}

.living #playlist .title a:hover{
	text-decoration:underline;
}

/* STYLE */
.style #playIframes .video-title{
	background:#c61414;
	padding:6px 12px;
	margin-top:-3px;
}

.style #playIframes .video-title a{
	color:#ffffff;
	text-decoration:none;
	font-size:32px;
	max-width:285px;
	font-family: 'DINWebPro-Cond',Arial;
}

.style #playIframes .video-title a:hover{
	text-decoration:underline;
}

/* TOPSTAR */
.topstar #playIframes .video-title{
	border-bottom:2px solid #9b813c;
	padding:6px 12px;
	margin-top:-3px;
}

.topstar #playIframes .video-title a{
	color:#000000;
	text-decoration:none;
	font-size:26px;
	max-width:285px;
	font-family: 'DINWebPro-CondBold',Arial;
}

.topstar #playIframes .video-title a:hover{
	text-decoration:underline;
}

/* PŘÍSTAV */
.pristav #playlist .title a{
	font-weight:700;
	font-family: 'Open Sans', sans-serif;
}
.pristav #playIframes .video-title a{
	text-decoration:none;
	font-size:20px;
	color:#ffffff;
	font-family: 'Open Sans',sans-serif;
}

.pristav #playIframes .video-title a:hover{
	text-decoration:underline;
}
.pristav .container-miniplayer-placeholder .cover{	position:absolute;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	background: url("../../pristav/images/miniplayer-play-button.png") 100px 40px transparent no-repeat;
	background-size: inherit !important;
}

/* KUŘE */
.kure #playIframes .video-title a{
	text-decoration:none;
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	color:#333333;
	display:inline-block;
	margin-top:12px;
	font-weight:600;
}

.kure #playIframes .video-title a:hover{
	text-decoration:underline;
}

.kure #playlist .title a{
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	color:#333333;
	font-size:14px;
}

.kure #playlist .title a:hover{
	text-decoration:none;
}

.kure #playlist .single-video{
	display:table;
}

.kure #playlist .single-video .container-image{
	display:table-cell;
	width:140px;
	height:79px;
	float:none;
}

.kure #playlist .single-video .title{
	display:table-cell;
  vertical-align: middle;
  padding-left:13px;
  float:none;
}


/* LASKY */
.lasky #playIframes .video-title{ padding: 10px 0; }
.lasky #playIframes .video-title a { color: #000; font-family: 'Roboto Slab', serif; text-shadow: 1px 1px 0 rgba(240, 232, 222, 1); font-size: 20px; text-decoration: none; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: block; }
.lasky #playlist .title a{
 	font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #000;
  font-size: 15px;
  line-height: 18px;
  text-decoration:none;
}

.lasky #playlist .title a:hover{
	text-decoration:none;
}

.lasky #playlist .single-video{
	display:table;
	clear: both;
	overflow: hidden;
	position: relative;
	margin-bottom: 6px;
}

.lasky #playlist .single-video .container-image{
	display:table-cell;
	width:140px;
	height:79px;
	float:none;
	margin-right:10px;
}

.lasky #playlist .single-video .title{
	display:table-cell;
  vertical-align: middle;
  padding-left:13px;
  float:none;
}

.lasky #playlist .container-miniplayer-placeholder .cover{
	position:absolute;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	background: url("../../vml/images/miniplayer-play-button.png") 100px 39px transparent no-repeat;
	background-size: auto !important;
	background-size: inherit !important;
}


/* Jetelin*/
.jetelin .video-title a{
	text-decoration:none;
	font-family: 'Roboto', sans-serif;
	font-size:18px;
	color:#333333;

}

.jetelin .video-title a:hover{
	text-decoration:underline;
}
