html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}ul,ol{list-style:none;margin:0;padding:0;}

/* Base Styles
------------------------*/
body {
  background: #fcbe15;
}
a {
  color:#1355ae;
}
a:hover {
  text-decoration: none;
}
.wrapper {
  min-width: 1247px;
}
.container {
  clear:both;
  position: relative;
  min-width: 1247px;
}

/* Header
-----------------------*/
.header {
  font-family: 'Montserrat', 'sans-serif';
  font-size:14px;
  text-transform: uppercase;
  z-index:99;
}
  .inheader {
    background: #1355ae;
    height: 94px;
    border-bottom:3px solid #002e6c;
  }

.head_fixed {overflow:hidden;box-shadow:0 2px 1px rgba(0,0,0,.3);}
.head_fixed .search {margin-top:9px !important;}
.head_fixed .icon-menu li a {padding-top:17px !important;background-position: 0 -100px !important;padding-bottom: 15px;}
.head_fixed .logo {padding-top:0;margin-top:-8px;}
.head_fixed .logo a img {height:40px;width:auto;}

/* Header Logo
-----------------------*/
.header .logo {
  padding:10px 20px;
}
  .header .logo img {

  }
  .header .slogan {
    color:#64caff;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.33);
  }
.fake_header {
  height:130px;display:none;
}

/* Header: Top Menu;
-----------------------*/
.topmenu {

}
  .topmenu .container {
    background: #fcbe15;
    height:33px;
  }
.fixed-nav {
  position: fixed;
  top:40%;
  height: 70px;
  width:30px;
  font-size:30px;
  background: #fcbe15;
  color:#1355ae;
  opacity: 0.7;
  display: block;
  z-index:99;
  padding:30px 0 0;
  text-align: center;
}
  .fixed-nav:hover {
    opacity: 1;
  }
  .fixed-left {
    left:0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .fixed-right {
    right:0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }
/* Header: Search;
-----------------------*/
.header .search {
  margin:28px 779px 0 224px;
  position: relative;
}
  .header .search .s_text {
    background: #004ca3 url(../images/icon_search_button.png) no-repeat 8px 8px;
    border:0;
    border-left:1px solid #00418b;
    border-top:1px solid #00418b;
    color:#fcbe15;
    height:29px;
    line-height: 29px;
    padding:0 40px 0 27px;
    font-family: 'sans-serif','Arial', 'Tahoma';
    width:100%;
  }
    .header .search .s_text:focus {
      outline-color: #0091d0;
    }
    .header .search .search_error {
      background:#d66;
      position: relative;
      color:#fff;
      padding:3px 10px;
      display:none;
      margin:8px 0 0;
      font-size:12px;
      border-bottom:1px solid #d11;
      border-top:1px solid #d11;
    }
    .header .search .search_error:before {
      content: ' ';
      position: absolute;
      top: -6px;
      left: 25px;
      width: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #d11;
    }
  .header .search .s_submit {
    background: #0091d0;
    height:28px;
    font:bold 14px/26px 'Montserrat';
    border:0;
    border-bottom:2px solid #004360;
    color:#fcbe15;
    position: absolute;
    right:0;
    top:0;
    text-shadow: 0 1px 0 rgba(0,0,0,.45);
  }
  .header .search .s_submit:hover {
    background: #fcbe15;
    color:#0091d0;
  }
/* Header: Line Menu;
-----------------------*/
.line-menu, .sort_by {
  border-left:1px solid #e9ad00;
  list-style: none;
  margin: 0;
  padding: 0;
}
  .line-menu li, .sort_by a, .sort_by span {
    float:left;
  }
    .line-menu li a, .sort_by a, .sort_by span{
      background: #fdcd4a;
      border-bottom:3px solid #e9ad00;
      border-right:1px solid #e9ad00;
      color:#1660c5;
      display:block;
      font-weight:bold;
      line-height:30px;
      padding:0 20px;
      text-decoration: none;
      text-shadow:0 1px 0 rgba(255,255,161,.6);
    }
    .line-menu li a:hover, .sort_by a:hover, .sort_by .current {
      background: #e9ad00;
      color:#fff;
      text-shadow:0 1px 0 rgba(0,0,0,.6);
    }

/* Header: Icon Menu;
-----------------------*/
.icon-menu {
  height:97px;
  list-style:none;
  margin: 0;
  padding:0;
  position:absolute;
  right:0;
  top:0;
}
  .icon-menu li {
    float:left;
  }
    .icon-menu li a {
      background: #1660c5 url(../images/icon_menu.png) no-repeat;
      color:#fff;
      display: block;
      padding: 75px 0 9px;
      line-height:10px;
      text-align: center;
      text-decoration: none;
      text-shadow: 0 1px 0 rgba(0,0,0,.33);
      width: 124px;
    }
    .icon-menu li a:hover {
      padding-top:91px;
    }
    .head_fixed .icon-menu li a:hover {
      background-color:#004ca3;
    }
.icon-menu li.item1 a{background-position: 33px 10px;}
.icon-menu li.item2 a{background-position: -91px 10px;background-color: #0f6ac3;}
.icon-menu li.item3 a{background-position: -215px 10px;background-color: #0d73c7;}
.icon-menu li.item4 a{background-position: -339px 10px;background-color: #087dc6;}
.icon-menu li.item5 a{background-position: -463px 10px;background-color: #0486cb;}
.icon-menu li.item6 a{background-position: -587px 10px;background-color: #0091d0;}

/* Footer
-----------------------*/
.footer {
  font-family: 'Montserrat', 'sans-serif';
  font-size:14px;
  text-transform: uppercase;
  clear:both;
  margin:30px 0 0;
}
  .foot_fixed {
    position: fixed;
    bottom:0;
    left:0;
    right:0;
  }
.footer-logo {
  float:left;
  background: #1355ae;
  padding:12px 0;
  text-align: center;
  width:226px;
}
.footer-right {
  background: #fff75d;
  color:#1355ae;
  padding: 12px 18px;
  margin-left:226px;
}
  .footer-right p {
    font-size:12px;
    text-align: right;
    margin:0;
    padding:0;
    line-height: 21px;
  }
/* Footer: Menu;
-----------------------*/
.footer-menu {
  list-style: none;
  margin: 0 0 0 227px;
  padding: 0;
}
  .footer-menu li {
    float:left;
    margin-left:-1px;
  }
  .footer-menu li a {
    display: block;
    color:#6c4300;
    text-shadow:0 1px 0 #fef200;
    line-height: 30px;
    border: 1px solid #fef200;
    border-bottom: 0;
    padding:0 22px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-decoration: none;
  }
  .footer-menu li a:hover {
    background: #fef200;
    color:#000;
  }
/* Structure: Videoplayer;
-----------------------*/
.sidebar {
  float:right;
  width:300px;
}
.leftbar {
  margin-right:300px;
}

/* Structure: Half Pages;
-----------------------*/
.halfpage {
  width:600px;
  margin:0 auto;
}

/* List Chapters: Head;
-----------------------*/
.head_line {

}
  .heading {
    font:16px/40px 'Montserrat', 'sans-serif';
    color:#1355ae;
    padding:0 15px;
  }
  .heading .title {
    font-weight: normal;
    font-size:16px;
    margin:0;
    padding:0;
    display: inline-block;
    margin-right:15px;
  }
  .heading .meta {
    color:#1355ae;
    font-size:12px;
  }
  .heading .meta span {
    font-weight: bold;
  }

/* List Chapters: Head -> Sort;
-----------------------
.sort_by {
  font:16px/38px Arial;
  margin-right:15px;
}
  .sort_by a, .sort_by span {
    color:#1660c5;
    text-decoration: none;
    display: inline-block;
    padding:0 5px;
    text-shadow:0 1px 0 rgba(0,0,0,.45);
  }
  .sort_by a:hover {
    background: #1355ae;
    color:#fff;
  }
  .sort_by span.current {
    background: #1355ae;
    color:#fff;
  }
  .sort_by span.title {
    font-style:italic;
  }*/
/* List Content: BLocks;
-----------------------*/

.list_blocks {
  margin:0 auto 20px;
  font-size:0;
  position: relative;
}
  .list_blocks li {
    width: 300px;
    font-size:12px;
    height:169px;
    display: inline-block;
    position: relative;
    background: #fff;
  }
    .list_blocks li a {
      display: block;
      color:#fff6fb;
      text-decoration: none;
      font:bold 12px/24px Arial;
    }
    .list_blocks li img {
      width:100%;
      height:100%;
    }
    .list_blocks li.stamp {
      vertical-align: middle;
      text-align: center;
      background: #3b679e;
      background: -moz-linear-gradient(top,  #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b679e), color-stop(50%,#2b88d9), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
      background: -webkit-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
      background: -o-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
      background: -ms-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
      background: linear-gradient(to bottom,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 );

    }
    .list_blocks li.stamp img {
      width:auto;
      height:auto;
    }
    .list_blocks li a .data {
      position: absolute;
      top: 145px;
      right:0;
      left:0;
      background: url(../images/opacity_black_50.png) repeat;
      padding:0 8px;
      overflow:hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
    .list_blocks li.big a .data {
      top:314px;
    }
    .list_blocks li a:hover .data {
      overflow:visible;
      white-space: normal;
      z-index:2;
    }
    .list_blocks li a:hover {

    }
    .list_blocks li:hover {
      z-index:2;
    }
    .list_blocks li a .data .time {
      color:#fcbe15;
      margin-right:6px;
    }
  .list_blocks li.right {
    height:507px;
    right:0;
    top:0;
  }
  .list_blocks li .rating {
    position:absolute;
    bottom:0;
    right:0;
    background:url(../images/opacity_black_50.png);
    padding-bottom:10px;
    color:#fff;
    text-shadow:0 1px 0 #000;
    border-left:0;
  }
  .list_blocks li .rating .current_rating {
    margin-bottom:5px;
    color:#48ff62;
  }
  .list_blocks li .rating .title {
    margin-top:10px;
  }
  .list_blocks li > .title {
    position: absolute;
    top:0;
    left:0;
    background:url(../images/opacity_black_50.png);
    font:21px/28px 'Montserrat', 'sans-serif';
    padding:5px 10px;
    color:#fff;
    margin:0;
  }
  .list_blocks li.big {
    height:338px;
    width:600px;
  }
  .list_blocks li .data2 {
    background:url(../images/list_model_helper.png) bottom left no-repeat;
    padding-bottom:7px;
    position: absolute;
    left:0;
    text-transform: uppercase;
    font:18px/24px 'Montserrat', 'sans-serif';
    right:0;
  }
  .list_blocks li:hover .data2 .title {
    padding-top:20px;
  }
  .list_blocks li .data2 .title {
    background: url(../images/opacity_black_50.png) repeat;
    display:block;
    padding:0 8px;
  }

  .list_blocks li.list_text {
   background: #606c88;
background: -moz-linear-gradient(top,  #606c88 0%, #3f4c6b 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606c88), color-stop(100%,#3f4c6b));
background: -webkit-linear-gradient(top,  #606c88 0%,#3f4c6b 100%);
background: -o-linear-gradient(top,  #606c88 0%,#3f4c6b 100%);
background: -ms-linear-gradient(top,  #606c88 0%,#3f4c6b 100%);
background: linear-gradient(to bottom,  #606c88 0%,#3f4c6b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 );

   color:#fff;

  }
  .list_blocks li.list_text h2, .list_blocks li.list_text h3 {
    font:18px/18px 'Montserrat', 'sans-serif';
    margin:0;
    padding:10px 10px;
  }
  .list_blocks li.list_text .list_text_inner {
    font-size:12px;
    line-height:16px;
    padding:0 10px;
  }
.block_title {
  font:14px/26px 'Montserrat', 'sans-serif';
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding:0 10px;
  background: #1355ae;
  z-index: 1;
  color:#fff;
  margin:0;
  text-shadow:0 1px 0 rgba(0,0,0,.35);
  text-align: left;
}
  .block_title h1, .block_title h2, .block_title h3, .block_title h4 {
    font:normal 14px/26px 'Montserrat', 'sans-serif';
    margin:0;
    display: inline-block;
  }
  .block_title .text {
    text-transform: none;
    margin:0 20px;
    font-size:12px;
  }
  .block_title:after {
    position: absolute;
    top:100%;
    left:10px;
    content:" ";
    width: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #1355ae;

  }
  a.block_title:hover {
    background:#1d6cd7;
  }
  .block_title a {
    text-decoration: none;
    color:#fff;
  }
.rotator {
	height:5px;
	background:url(../images/opacity_black_50.png);
	position: absolute;
	bottom:24px;
	left:0;
	right:0;
	padding:5px;
}
  .rotator .image_info {
    background:url(../images/opacity_black_50.png);
    position: absolute;
    top:-24px;
    right:0;
    padding:0 5px;
    font-weight: bold;
    border-top-left-radius:3px;
  }
  .rotator .ajax-loading {
    padding-left:20px;
  }
  .rotator .ajax-loading:after {
    background:url(../images/ajax-loader-black.gif) no-repeat center center;
    position: absolute;
    top:0;
    left:0;
    width:20px;
    height:23px;
    content:" ";
  }
	.rotator .line {
		height:5px;
		background:#fff;
		position: relative;
	}
	.rotator .line .handler {
		position:absolute;
    border:1px solid #;
		width:10px;
		height:7px;
		top:-1px;
		background:#FCA800;
    z-index:1;
    box-shadow:0 1px 1px rgba(0,0,0,.5)
	}
	.rotator .line .screenline {
		position: absolute;
		top:0;
    background: #ccc;
		height:5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	}
	.rotator .line .loaded {
		background:#fff;
	}
/* List Content: Titles;
-----------------------*/
.list_titles {
  width:151px;
  background: #fcc83a;
}
  .list_titles li.maintitle {
    color:#fff;
    font:14px/29px 'Montserrat', 'sans-serif';
    position: relative;
    border:0;
    background:#0091d0;
    padding:0 8px;
    text-shadow:0 1px 0 rgba(0,0,0,.35);
    text-transform: uppercase;
  }
  .showList {
    cursor:pointer;
  }
  .list_titles li.title {
    color:#fff;
    border:0;
    font:14px/29px 'Montserrat', 'sans-serif';
    position: relative;
    background:#1355ae;
    padding:0 8px;
    text-shadow:0 1px 0 rgba(0,0,0,.35);
    text-transform: uppercase;
  }
    .list_titles li.title:before {
      content: ' ';
      position: absolute;
      top: 100%;
      left: 12px;
      width: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid #1355ae;
    }
    .list_titles li.title + li a{
      padding-top:6px;
    }
  .list_titles li {
    border-bottom:1px solid #ffd94c;
  }
  .list_titles a, .list_titles span {
    display: block;
    font:14px/29px Arial, Tahoma;
    color:#000;
    padding:0 8px;
    text-decoration: none;
    text-shadow:0 1px 0 #ffeb69;
  }
  .list_titles a:hover {
    background: #ffd94c;
  }
/* List Content: Categories, Channels;
-----------------------*/
.list_cat {
  font-size:0;
}
  .list_cat li {
    display: inline-block;
    margin:0;
    width:258px;
    height:250px;
    padding:1px;
    background: #000;
    position: relative;
    color:#fff;
    vertical-align:top;
    overflow: hidden;
    text-align: left;
  }
  .list_cat li a {
    font:bold 13px/24px Arial, Tahoma;
    color:#fff;
    text-decoration: none;
    display: block;
  }
  .list_cat li a img {
    width:260px;
    height:195px;
    display:block;
  }
  .list_cat li:hover {
    background:#222;
  }
  .list_cat li a .data {
    display:block;
    background:url(../images/list_cat_helper.png) repeat-x;
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    z-index:1;
    border-bottom:1px dashed #666;
    text-align: right;
    padding:8px 0 0;
  }
    .list_cat li a .data .title {
      padding:5px 10px;
      display:block;
      background:url(../images/opacity_black_50.png);
    }
    .list_cat li a:hover .data .title, .list_cat li a:hover .data .time {
      padding:10px 10px;
    }
    .list_cat li a .data .time {
      color:#fcbe15;
      display:block;
      float: left;
      padding:5px 10px;
    }

  .list_cat li .desc {
    font-size:12px;
    line-height:14px;
    padding:0 8px;
  }
/* List Content: Category;
-----------------------*/
.list_category {
  font-size:0;
}
  .list_category li {
    display: inline-block;
    font-size:12px;
    width:262px;
    height:196px;
    position: relative;
    overflow: hidden;
  }
  .list_category li a {
    font:18px/30px 'Montserrat', 'sans-serif';
    color:#fff;
    text-transform: uppercase;
    text-shadow:0 2px 0 #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
  }
  .list_category img {
    width:100%;
    height:100%;
  }
  .list_category li a:hover .data{
    top:0;
  }
  .list_category li .data {
    background:url(../images/list_model_helper.png) bottom left no-repeat;
    padding-bottom:7px;
    position: absolute;
    top:-18px;
    left:0;
    right:0;
  }

  .list_category li .data .title {
    background: url(../images/opacity_black_50.png) repeat;
    display:block;
    padding:0 8px;
  }
  .list_category li .data .time {
    background: url(../images/opacity_black_50.png) repeat;
    display:block;
    padding:0 8px;
    font:12px/21px Arial;
  }
/* List Content: Models;
-----------------------*/
.list_models {
  font-size:0;
}
  .list_models li {
    display: inline-block;
    font-size:12px;
    width:262px;
    height:196px;
    position: relative;
  }
  .list_models li a {
    font:18px/39px 'Montserrat', 'sans-serif';
    color:#fff;
    text-transform: uppercase;
    text-shadow:0 2px 0 #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
  }
  .list_models img {
    width:100%;
    height:100%;
  }
  .list_models li a:hover .data .title{
    padding-top:10px;
  }
  .list_models li .data {
    background:url(../images/list_model_helper.png) bottom left no-repeat;
    padding-bottom:7px;
    position: absolute;
    top:0;
    left:0;
    right:0;
  }
  .list_models li .data .title {
    background: url(../images/opacity_black_50.png) repeat;
    display:block;
    padding:0 8px;

  }
/* List Content: Users;
-----------------------*/
.list_users {
  font-size:0;
}
  .list_users li {
    font-size:12px;
    display:inline-block;
    position: relative;
    width:150px;
    height:197px;
  }
    .list_users li a {
      display:block;
      color:#fff;
      text-decoration: none;
    }
    .list_users li a img {

    }
    .list_users li a .data {
      background:url(../images/list_users_helper.png) no-repeat top left;
      padding-top:8px;
      display:block;
      position: absolute;
      bottom:0;
      left:0;
      right:0;
    }
    .list_users li a .data .title {
      display: block;
      padding:5px 10px 0;
      background:url(../images/opacity_black_50.png);
      text-shadow:0 2px 1px rgba(0,0,0,.5);
      text-transform: uppercase;
      font:14px/20px 'Montserrat', 'sans-serif';
    }
    .list_users li a .data .meta {
      font:bold 12px Arial;
      display: block;
      padding:0 10px 5px;
      background:url(../images/opacity_black_50.png);
      text-shadow:0 2px 1px rgba(0,0,0,.5);
    }
    .list_users li a .data .meta .years_old {
      color:#fff775;
    }
/* List Content: Comments;
-----------------------*/
.list_comments {
  margin:2px 0;
}
  .list_comments li.title {
    background: #fccd4d;
    min-height: 0;
  }
  .list_comments li.title *{
    display:inline-block;
    padding:0 20px;
  }
    .list_comments li.title *:after {
      left:50%;
      margin-left:-6px;
    }
  .list_comments li {
    clear:left;
    border-bottom:1px solid #fff75d;
    min-height:100px;
  }
  .list_comments .avatar {
    float:left;
    width:60px;
    background:url(../images/avatar_bg.png) no-repeat 22px 26px;
    padding:30px 0 0 25px;
  }
  .list_comments .avatar img {
    width:42px;
    height:42px;
  }
  .list_comments .text {
    margin-left:85px;
    padding:25px 0;
  }
    .list_comments .text .comment_meta {
      color:#111;
      font:12px Arial;
      text-shadow:0 1px 0 #fff75d;
      padding:0 0 5px;
    }
    .list_comments .text .comment_meta .time {
      color:#8d5e00;
    }
  .list_comments .text .comment_text {
    color:#363636;
    font:14px Arial;
  }
/* View: Items;
-----------------------*/
.view_item {
  margin:0;
  padding:0;
  text-align: left;
}
.view_item .avatar {

}
.view_item .item-info {
  margin:0 197px 0 322px;
  padding:15px 20px;
  text-shadow:0 1px 0 #fff75d;
  color:#111;
}
.view_item .item_title {
  font:bold 18px/24px Arial;
  margin:0 0 10px;
}
.view_item .item_desc {
  margin:0 0 10px;
  font:14px/20px Arial;
}
.view_item .item_italic {
  font-style: italic;
}
/* Forms: base style;
-----------------------*/
label,input,textarea,button {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  vertical-align: top;
}
label {
  font:bold 13px Arial;
  text-shadow:0 1px 0 #fff75d;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-block;
  white-space: nowrap;
}
input[type=text],
input[type=password],
select,
textarea {
  font:12px/24px Arial;
  background: #e8af13;
  border:0;
  border-bottom:1px solid #c59510;
  border-right:1px solid #c59510;
  height:24px;
  padding:0 10px;
}
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
  background: #fff75d;
  outline-color:#c59510;
}
.horizontal-form label, .horizontal-form input, .horizontal-form textarea, .horizontal-form button {
  display: block;
  width:100%;
}
.form-group {
  margin:0 0 7px;
  position: relative;
}
  .form-group label {
    text-align: right;
  }
  .form-group .field_error {
    position: absolute;
    right:0;
    background: #ff1a00;
    max-width:200px;
    top:100%;
    margin-top:-10px;
    padding:2px 5px;
    font-size:11px;
    color:#fff;
  }
textarea.full {
  width:100%;
  height:100px;
}
.form-standart {
  position: relative;
}
.form-standart .img-holder {
  position: absolute;
  left:101%;
  top:0;
  background:#eee;
  padding:2px;
  border-radius:2px;
}
/* Forms: Standart;
-----------------------*/
.form-standart label {
  width:29%;
  padding:0 10px;
}
.form-standart input, .form-standart textarea, .form-standart select {
  width:70%;
}
.form-standart input[type=checkbox], .form-standart input[type=radio] {
  width:auto;
}
.form-standart textarea {
  height:75px;
}
/* Forms: Comments;
-----------------------*/
.list_comments .text label {
  width:120px;
  padding:0 10px;
}
.list_comments .text input[type=text], .list_comments .text textarea {
  width:60%;
}
.list_comments .text textarea {
  height:75px;
}
/* Forms: Alerts;
-----------------------*/
.alert {
  padding:10px 20px;
  font:14px Arial;
  background: #fceabb;
}
.message_error {
  background: #ff1a00;
  color:#fff;
  padding:5px 10px;
  margin:5px 0;
  font-size:12px;
}
.message_info {
  color:#fff;
  padding:5px 10px;
  margin:5px 0;
  font-size:12px;
  background: #7abcff;
}
.g_hidden {
  display:none;
}

/* Content: Types;
-----------------------*/
.text_content {
  background: #fff;
  padding:10px;
  margin:0 0 10px;
  font-size:12px;
}
/* Content: Videoplayer;
-----------------------*/
.videoplayer {
  position: relative;
}
#kt_player  {
  width:100% !important;
  height:auto !important;
}
#kt_player_internal {
  width:100% !important;
}
.content_source {
  background: #1355ae;
}
.content_source a, .content_source a img {
  display:block;
  margin:0 auto;
  padding:0;
}
.video_meta {
  padding:5px 0 20px 15px;
  background: #fcc83a;
  color:#111;
}
  .video_meta .helpers a {
    margin-bottom:3px;
  }
  .video_meta .btn-primary {
    padding:2px 5px;
    margin:0 0 5px;
  }
.video_title {
  font:bold 18px/36px Arial;
  margin:0;
  padding:0;
  text-shadow:0 1px 0 #fff75d;
}
.video_meta p.desc {
  margin:0;
  font:14px/18px Arial;
  text-shadow:0 1px 0 #fff75d;
}
.video_meta p a {
  color:#1355ae;
}
  .video_meta p a:hover {
    text-decoration: none;
  }
.video_categorization {
  margin:10px 0;
}
  .video_categorization span {
    font:bold 12px Arial;
    color:#111;
    margin-right:5px;
  }
  .video_categorization .divider {
    width:50px;
    display: inline-block;
  }
.rating {
  width:195px;
  border-left:2px solid #fcbe15;
  text-align: center;
  font:12px Arial;
  text-shadow:0 1px 0 #fff75d;
  color:#111;
  margin-top:-5px;
  outline:0;
}
.rating * {
  outline: 0;
}
  .rating .title {
    margin-top:15px;
  }
  .rating .holder {
    background:url(../images/icon_likes.png) no-repeat;
    width:151px;
    height:65px;
    position: relative;
    margin:5px auto;
  }
  .rating .holder a {
    position: absolute;
    width:55px;
    height:55px;
    left:5px;
    top:5px;
    text-indent:-9999px
  }
    .rating .holder a.right {
      right:5px;
      left:auto;
    }
    .rating .holder a:hover {

    }
  .rating .current_rating {
    width:125px;
    margin:5px auto 18px;
    text-align: left;
    font:bold 18px Arial;
    color:#007236;
  }
    .rating .current_rating .pull-right {
      color:#da500a;
    }
  .rating .addthis {
    margin:0 0 0 20px;
  }
/* Other: Pagination
-----------------------*/
.pagination {
  clear:both;
  text-align: center;
  padding:12px 0;
}
  .pagination a, .pagination span {
    display: inline-block;
    font:bold 21px/30px Arial;
    color:#6f4400;
    padding:5px 20px;
    border:1px solid #fff75d;
    text-decoration: none;
    background: #fcc83a;
  }
  .pagination span.current {
    background: #fee04c;
  }
/* Other: Upper
-----------------------*/
#upper {
  position: fixed;
  bottom:70px;
  right:5px;
  height:48px;
  width:48px;
  background:url(../images/top.png);
  z-index:99;
  cursor:pointer;
  opacity:0.7;
  display:none;
}
  #upper:hover {
    opacity:1;
  }

/* Other: Buttons
-----------------------*/
.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  font-family: Arial;
  font-weight: 700;
}
.btn-mini {
  padding:3px 10px;
  background:#0091d0;
  font-size:12px;
  color:#fff;
  margin:0;
  display: block;
  text-align: left;
  border-bottom:1px solid #0091d0;
}
  .btn-mini:hover {
    background: #fff75d;
    color:#0091d0;
  }
.btn-default {
  color:#6f4400;
  border-color:#fff75d;
  background: #fcbe15;
}
  .btn-default:hover {
    background: #fff75d;
    color:#000;
  }
.megabtn {
  background:#0091d0 url(../images/button-right-side.png) no-repeat right top;
  height:38px;
  padding:10px 40px 10px 10px;
  color:#fff;
  text-transform: uppercase;
  font-family: 'Montserrat', 'sans-serif';
  text-shadow:0 1px 0 rgba(0,0,0,.35);
  text-align: left;
  font-weight: normal;
}
  .megabtn span {
    display:block;
    font-size:14px;
    line-height: 14px;
  }
  .megabtn b {
    font-size:24px;
    line-height: 24px;
    font-weight: normal;
  }
  .megabtn:hover {
    padding-right:65px;
  }
.btn-primary {
  color:#1355ae;
  background:#fff75d;
  border-bottom-color: #a48226;
}
  .btn-primary:hover {
    background: #a48226;
    color:#fff;
  }

/* Other: Loader;
-----------------------*/
#loading {
  background: url(../images/opacity_black_50.png);
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:999;
}
  #loading .spinner {
    width:140px;
    height:140px;
    position: absolute;
    top:50%;
    left:50%;
    margin:-70px 0 0 -70px;
    background:url(../images/ajax-loader-big.gif) no-repeat;
  }

.member_playlist {
  clear:both;
  position: relative;
  font-size:0;
}
  .member_playlist li.item {
    position: relative;
    display: inline-block;
    font-size:12px;
    vertical-align: top;
    height:243px;
    background: #fdcd4a;
    color:#1660c5;
  }
  .member_playlist li.item .name{
    display: block;
    background:#fff;
    font:16px/18px Arial;
    margin:0;
    font-weight: bold;
    padding:0 10px;
  }
  .member_playlist li.item img {
    margin:0;
    padding:0;
    display: block;
  }
  .member_playlist li.item h2 {
    margin:0;
    text-transform: uppercase;
    color:#1660c5;
    font-weight: normal;
    padding:10px;
  }
  .member_playlist li.item a {
    text-decoration: none;
  }
  .member_playlist li.item .options{
    position: absolute;
    top:0;
    right:0;
    background:url(../images/opacity_black_50.png);
    padding:5px 10px;
    color:#fff;
    vertical-align: middle;
  }
  .member_playlist li.item .options input {
    vertical-align:bottom;
  }
  .member_playlist li.item .options label {
    text-shadow:0 1px 0 rgba(0,0,0,1);
  }
  .no_my_profile li.item {
    height:138px;

  }
.addPlaylist a{
  display: block;
  width:150px;
  color:#fff;
  background:#1355ae;
  font-size:18px;
  text-align: center;
  text-decoration: none;
  padding:38px 0 39px;
  border:1px solid #000;
}
.addPlaylist a:hover {
  -webkit-box-shadow: inset 2px 2px 28px 10px rgba(50, 50, 50, 0.85);
  -moz-box-shadow:    inset 2px 2px 28px 10px rgba(50, 50, 50, 0.85);
  box-shadow:         inset 2px 2px 28px 10px rgba(50, 50, 50, 0.85);
}
.addPlaylist .fa {
  font-size:120px;
  display: block;
}
/* Other: Base styles;
-----------------------*/
.pull-right {
  float:right;
}
.pull-left {
  float:left;
}
.clear-left {
  clear:left;
}
.clear-right {
  clear:right;
}
.clear-both {
  clear:both;
}
.no_margin {
  margin:0;
}
.full_width {
  width:100%;
  background:#d00;
  color:#fff;
  font-size:18px;
  text-align: center;
  text-transform: uppercase;
  padding:10px 0;
}
.italic {
  font-style: italic !important;
}
.offset-left-150 {
  margin-left:150px;
  text-align: left;
}
.offset-right-150 {
  margin-right:150px;
  text-align: right;
}
.transition,
.icon-menu li a,
.header .inheader *,
.header .topmenu a,
.btn,
a.block_title,
input[type=text],
input[type=password],
textarea,
.footer-menu li a,
.list_blocks li a,
#upper,
.list_models li a .title,
.list_category li a .data,
.list_cat li a .data *,
.addPlaylist a,
.list_blocks li .data2 .title{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.border-box,
.header .search * {
  box-sizing: border-box;
  -moz-box-sizing: border-box; /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
}

.container:before,
.container:after {
  content:"";
  display:table;
}
.container:after {
  clear:both;
}
.container {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/* qTip2 v2.2.0 basic css3 | qtip2.com | Licensed MIT, GPL | Sat Mar 15 2014 15:17:45 */
.qtip{position:absolute;left:-28000px;top:-28000px;display:none;max-width:280px;min-width:50px;font-size:10.5px;line-height:12px;direction:ltr;box-shadow:none;padding:0}.qtip-content{position:relative;padding:5px 9px;overflow:hidden;text-align:left;word-wrap:break-word;margin-bottom:6px;}.qtip-titlebar{position:relative;padding:5px 35px 5px 10px;overflow:hidden;border-width:0 0 1px;font-weight:700}.qtip-titlebar+.qtip-content{border-top-width:0!important}.qtip-close{position:absolute;right:-9px;top:-9px;cursor:pointer;outline:medium none;border-width:1px;border-style:solid;border-color:transparent}.qtip-titlebar .qtip-close{right:4px;top:50%;margin-top:-9px}* html .qtip-titlebar .qtip-close{top:16px}.qtip-titlebar .ui-icon,.qtip-icon .ui-icon{display:block;text-indent:-1000em;direction:ltr}.qtip-icon,.qtip-icon .ui-icon{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;text-decoration:none}.qtip-icon .ui-icon{width:18px;height:14px;line-height:14px;text-align:center;text-indent:0;font:400 bold 10px/13px Tahoma,sans-serif;color:inherit;background:transparent none no-repeat -100em -100em}.qtip-focus{}.qtip-hover{}.qtip-default{border-width:1px;border-style:solid;border-color:#F1D031;background-color:#FFFFA3;color:#555}.qtip-default .qtip-titlebar{background-color:#FFEF93}.qtip-default .qtip-icon{border-color:#CCC;background:#F1F1F1;color:#777}.qtip-default .qtip-titlebar .qtip-close{border-color:#AAA;color:#111}
html,
body {
  width: 100%;
  height: 100%;
}

.smartmodal-overlay {
  display: none;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  bottom:0;
  right:0;
  background:url(../images/opacity_black_50.png);
}

.smartmodal-modal {
  display: none;
  position: fixed;
  z-index: 999999;
  background: #fcbe15;
  color: #111;
  min-width:320px;
}
  .smartmodal-modal .modal_content {
    padding:10px;
  }
 #related_block {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:25px;
    font-size: 0;
    line-height: 0;
    background: rgba(0, 0, 0, .8);
    display:none;
}
.html5video #related_block {
	bottom:40px;
}
#related_loader {
	background:url(../images/712.GIF) no-repeat;
	width:32px;
	height:32px;
	position: absolute;
	top:50%;
	left:50%;
	margin:-16px 0 0 -16px;
}
#related_block .related_body {
	margin:20px;
}

#related_block .tab_content {
    height: 100%
}

#related_block .tab {
    height: 30px;
    overflow: hidden;
    margin:20px;
    border-radius: 3px;
    list-style: none;
    background: #fdcd4a;
	background: -moz-linear-gradient(top,  #fdcd4a 0%, #e9ad00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdcd4a), color-stop(100%,#e9ad00));
	background: -webkit-linear-gradient(top,  #fdcd4a 0%,#e9ad00 100%);
	background: -o-linear-gradient(top,  #fdcd4a 0%,#e9ad00 100%);
	background: -ms-linear-gradient(top,  #fdcd4a 0%,#e9ad00 100%);
	background: linear-gradient(to bottom,  #fdcd4a 0%,#e9ad00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdcd4a', endColorstr='#e9ad00',GradientType=0 );

}

#related_block .tab li {
    border-right: 1px solid #C98704;
    border-left: 1px solid #F4C20C;
    color: #1660c5;
    text-decoration: none;
    display: inline-block;
    font:bold 11px/30px Arial;
    text-transform: uppercase;
      text-shadow: 0 1px 1px rgba(255,255,255,.5);
    padding: 0 10px;
    cursor: pointer
}
#related_block .tab li:hover {
	background:#E0B92F;
}
#related_block .tab li:first-child {
	border-left:0;
}
#related_block .tab li:last-child {
	border-right:0;
}

#related_block .tab-page {
    display: none;
    height: 100%
}

#related_block .active-page {
    display: block;
}

#related_block .tab li.active {
    background: #1660c5;
    color:#fdcd4a;
      text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

#related_block .video_thumbs {
	height:390px;
}
#related_block .related_center {
	position: absolute;
	top:50%;
	margin-top:-25%;
	width:100%;
}
#related_block .video_thumbs img {
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    display: block;
}

#related_block .video_thumbs a {
    display: inline-block;
    width: 25%;
    color: #fff;
    text-decoration: none;
    position: relative;
    font: 12px Arial
}

#related_block .video_thumbs a span {
    background: rgba(0, 0, 0, .8);
    padding: 10px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

#related_block .video_thumbs a:hover span {
    display: block
}

.share_row {
    width: 500px;
    font-size: 12px Arial;
    color: #fff;
    margin: 20px auto
}

.share_row .share_title {
    font: 14px/20px Arial, Tahoma
}

.share_row .share_addthis,
.share_row .share_content {
    background: rgba(0, 0, 0, .8);
    border-radius: 3px;
    padding: 10px;
    width: 480px
}

.share_row .share_content input,
.share_row .share_content textarea {
    width: 450px;
    line-height: 20px;
    border-radius: 3px;
    border: 1px solid #666;
    padding:5px 10px;
    background:#ccc;
    color:#000;
}
.share_row .share_content textarea {
	height:72px;
}

.share_row .share_addthis {
    width: 290px;
    margin: 0 auto
}

#kt_b .bnr_content {
    background: url(data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==) center center no-repeat
}

#kt_b {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 306px;
    margin: -175px 0 0 -153px;
    text-align: center
}

#kt_b .bnr_title {
    margin: 0;
    font: 11px/18px Arial, Tahoma;
    display: inline-block;
    padding: 0 20px;
    border-radius: 3px 3px 0 0;
    background: #fcbe15;
    color: #6f4400
}

#kt_b .bnr_content {
    border: 1px solid #6f4400;
    padding: 2px 2px 0;
    height: 250px;
    width: 300px;
    border-bottom: 0;
    background-color: #fcbe15
}

#kt_b .bnr_continue {
    background: #fcbe15;
    border: 1px solid #6f4400;
    border-top: 0;
    padding: 3px 0
}

#kt_b .bnr_continue span {
    display: inline-block;
    padding: 0 10px;
    font: 700 14px/30px Arial, Tahoma;
    background: #1660c5;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer
}

#kt_b .close_btn {
    position: absolute;
    top: 2px;
    right: -15px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFpQTFRF////vLy8wsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCAAAADAwMGBgYJCQkeXl5hYWFnZ2dqamptbW1wsLCdawAiAAAABR0Uk5TAAkKCxMUFx0oYIaSlLTAy+Dh5/ikzFcNAAABCUlEQVQ4y5VT25aDIAyk2larSItCy6L5/99cuYTA4h5P8zRmRk0mCWMp2gcXclmk4F3L6riOL0jxGq9/6GaYoYh5aHL+NkEV0434+xMO4nlP7x/yuyJ+o5ngn5guXjCEJ/u2SCTY+/5C/VYrHdMEZ9ftiEml9Org6mFQjLt/3p/NJZX6bDv8eKg371jLHuGzRkVF5JUJ+Y5xKBUlD5wJLP0n/KXkQTCZura65kGyBWoF8bDkAqxP21wgK75QSCqS+FwhUps2b4IUHI1C3phS0ZVWu/pRgVbHYRnqL4NuWDhuQ/0T9OPGhTHkT4J9sXIr2bMWK3e6tOdrf344R6fXX747Xn/+3dH5/wL+t1FQ60ISoQAAAABJRU5ErkJggg==)
}

#related_block .close_btn {
    color: #f00;
    position: absolute;
    top: 20px;
    font: 16px/18px Verdana, Arial;
    padding: 5px 10px;
    right: 20px;
    cursor: pointer
}
@media(min-width:1200px) and (max-width:1440px){
	.list_blocks li.list_text .list_text_inner {
		line-height:14px;
	}
	.list_blocks li.list_text h2, .list_blocks li.list_text h3 {
		font-size:16px;
		padding:5px 10px;
	}
}

.change_quality{position:absolute;top:20px;right:20px;display:block;background:#333;color:#fff;text-shadow:1px 0 0 #000;box-shadow:0 0 3px rgba(0,0,0,.5);z-index:4;font-size:12px;}.change_quality .open_q span{margin:0 5px}.change_quality .open_q{padding:8px 15px 8px 12px}.change_quality .qualities span{display:block;padding:3px 5px;border-top:1px solid #666;cursor:pointer}.change_quality .qualities span:first-child{border-top:0}#player-loader {display:none;position:absolute;top:50%;left:50%;z-index:5;color:#fff;font-size:72px;margin:-36px 0 0 -36px;}.loading #player-loader{display:block;}

.change_quality:hover .qualities {
	display: block;
}
