#sliding-popup {
  display: block;
  margin: 0;
  padding: 0px;
  right: 0;
  text-align: center;
  width: 100%;
  z-index: 99999;
 font-size:20px!important;
}
.sliding-popup-bottom {
  background: url('../images/gradient.png') center center scroll repeat-y transparent;
  position: fixed;
  
}

.sliding-popup-top {
  background-color: #000;
  position: relative;
}

#sliding-popup .popup-content {
  background-color: trasparent;
  border: 0 none;
  display: block;
  margin: 0 auto;
  padding: 0;
  /*max-width: 80%;*/
	max-width:990px; 
	position:relative;
 
}

#sliding-popup .popup-content #popup-buttons {
   /* float: right;
  margin: 0;
max-width: 40%;*/
position:absolute;
top:-20px;
right:0;
}

#sliding-popup .popup-content #popup-buttons button {
  cursor: pointer;
  display: inline;
  margin-right: 5px;
  margin-top: 0.5em;
  vertical-align: middle;
  overflow: visible;
  width: auto;
  font-size:100%!important;

  /*-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
   text-shadow:1px 1px 0px #ffffff;
   */
   background:none!important;
  display:inline-block;
  background-color:tarsparent!important;

  font-family:arial;
  
  font-weight:bold;
  padding:4px 8px;
  text-decoration:none;
  border:0!important;
 }
/*
#sliding-popup .popup-content #popup-buttons button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
}
*/
#sliding-popup .popup-content #popup-buttons button:active {
  position:relative;
  top:1px;
}

#sliding-popup .popup-content #popup-text {
  /* color: #fff;
   float: left;
font-weight: bold; */
	margin: 20px 32px 32px 32px;
  text-align: left;
  max-width: 100%;
}

#sliding-popup .popup-content #popup-text h2,
#sliding-popup .popup-content #popup-text p {
/*  color: #fff;*/
  display: block;
  font-size: 16px;
 /* font-weight: bold;*/
  line-height: 1.4;
  margin: 0 0 5px 0;
}

#sliding-popup .popup-content #popup-text p {
 font-size: 14px; 
}
#sliding-popup .popup-content #popup-text h2 {
 font-size: 16px; 
 font-weight: bold;

}

#sliding-popup .popup-content #popup-text a,
#sliding-popup .popup-content #popup-text p a,
#sliding-popup .popup-content #popup-text a:link,
#sliding-popup .popup-content #popup-text p a:link,
#sliding-popup .popup-content #popup-text a:active,
#sliding-popup .popup-content #popup-text p a:active, 
#sliding-popup .popup-content #popup-text a:visited,
#sliding-popup .popup-content #popup-text p a:visited{
text-decoration:underline!important;
font-weight:bold!important;
}
#sliding-popup .popup-content #popup-text a:hover,
#sliding-popup .popup-content #popup-text p a:hover{
text-decoration:underline!important;
font-weight:bold!important;

}
@media screen and (max-width: 600px) {
  #sliding-popup .popup-content {
    max-width: 95%;
  }

  #sliding-popup .popup-content #popup-text {
    max-width: 100%;
  }

  #sliding-popup .popup-content #popup-buttons {
    float: none;
    margin: 5px 0;
    max-width: 100%;

  }
  #sliding-popup .popup-content #popup-buttons button {
    margin-bottom: 1em;
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width
	: 568px) {
	#sliding-popup .popup-content #popup-buttons button {
		font-size: 200%!important;
		margin-top:0!important;
		
	}
}