.falseMasterClass{}
/* Z-index of #mask must lower than #boxes .window */
.vetrina #block-la7-vetrina-la7-vetrina-block{
	margin:0;
	padding:0;
	background: #603;
	width:990px;
	height:302px;
	position:relative;
	background: url(../images/vetrina_box_esterno_bg.png) left bottom repeat-x!important;
	
}
.pageHomela7d .vetrina #block-la7-vetrina-la7-vetrina-block{
	height:290px;
}
/* VETRINA AGGREGATORE */
.vetrinaAggregatore #block-la7-vetrina-la7-vetrina-block{
	background:none!important;
		height:290px;
	background-image:none!important;
}
/* Frecce slider */
#block-la7-vetrina-la7-vetrina-block .vetrinaArrows{
	z-index: 50;
	position:absolute;
	margin:0;
	padding:0;
	width:29px;
	height:52px;
	overflow:hidden;
	background:#F0F;
	top:119px;
	cursor:pointer;
	text-indent:-9999px;
}
#block-la7-vetrina-la7-vetrina-block #la7_vetrina_next{
	right:-29px;
	background: url(../images/vetrina_arrows_sprite.png) -39px 0 no-repeat!important;
}

#block-la7-vetrina-la7-vetrina-block  #la7_vetrina_prev{
	left:-29px;
	background: url(../images/vetrina_arrows_sprite.png) 0 0 no-repeat!important;
}
#block-la7-vetrina-la7-vetrina-block #la7_vetrina_next:hover{
	right:-29px;
	background: url(../images/vetrina_arrows_sprite.png) -117px 0 no-repeat!important;
}
#block-la7-vetrina-la7-vetrina-block  #la7_vetrina_prev:hover{
	left:-29px;
	background: url(../images/vetrina_arrows_sprite.png) -78px 0 no-repeat!important;
}

@media only screen
and (max-device-width : 1024px){
	
	#block-la7-vetrina-la7-vetrina-block .vetrinaArrows{
		height:40px;
	}
	
	#block-la7-vetrina-la7-vetrina-block #la7_vetrina_next,
	#block-la7-vetrina-la7-vetrina-block #la7_vetrina_next:hover{
		right:-17px;
	}

	#block-la7-vetrina-la7-vetrina-block  #la7_vetrina_prev,
	#block-la7-vetrina-la7-vetrina-block  #la7_vetrina_prev:hover{
		left:-17px;
	}
	
}


/* MENU  SLIDER */
#block-la7-vetrina-la7-vetrina-block #la7_vetrina_menu{
	margin:0px;
	padding:11px 0 0 0;
	*padding:9px 0 0 0;
	display:block;
	height:26px;
	width:auto;
	font:normal 10px/10px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif!important;
	text-align:center;
	text-transform:uppercase;
	
}

#block-la7-vetrina-la7-vetrina-block #la7_vetrina_menu a{
	margin:0 13px 0 13px;
	padding:0 6px 0 6px;
	*padding:0 6px 2px 6px;
	border-bottom:5px solid #afafaf;
	cursor:pointer;
	display:inline-block;
	color:#7d6e64;
}


#block-la7-vetrina-la7-vetrina-block #la7_vetrina_menu a.la7_vetrina_on{ border-bottom:5px solid #eb5a0f;}
#block-la7-vetrina-la7-vetrina-block #la7_vetrina_menu a:hover{	border-bottom:5px solid #febf22; text-decoration:none;}

/* - VETRINA AGGREGATORE  MENU  SLIDER */
.vetrinaAggregatore  #block-la7-vetrina-la7-vetrina-block #la7_vetrina_menu{
	margin:0 0 0 14px;
	padding:0px 0 0 0;
	*padding:0px 0 0 0;
	font:normal 10px/10px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif!important;
	text-align:left;
}
.vetrinaAggregatore #block-la7-vetrina-la7-vetrina-block #la7_vetrina_menu a{
		margin:0 4px 0 4px;
}

/* -------------------------------------------------------------------------------------------------------------------------- */
#la7_vetrina_contenitore{
	position: relative;
	width:956px;
	height: 276px;
	margin: 0 17px 0 17px;
	overflow: hidden;
}

#la7_vetrina_element{
	position: absolute;
	/*metto un numero assurdo come lunghezza che poi modifico con jquery*/
	width: 9999px;
	top: 0;
	left: 0;
}


.la7_vetrina_block_mosaico, .la7_vetrina_block_mosaico_tg,
.la7_vetrina_block_lancio{
	width:956px;
	height: 276px;
	overflow: hidden;
	position: relative;
	float: left;
}

.la7_vetrina_block_mosaico .noLoading, 
.la7_vetrina_block_mosaico_tg .noLoading ,
.la7_vetrina_block_lancio .noLoading{
	width:956px;
	height: 276px;
	background:#e7e7e8 url(../images/background_vetrina_empty.png) 0px 0px no-repeat!important;
}

 /* MOSAICO LA 7OGGI */
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .la7_vetrina_block_mosaico_tg_element{
	position:absolute;
	margin:0;
	padding:0;
	overflow: hidden;
	display:block;
	background:#302924;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .la7_vetrina_block_mosaico_tg_element a {
	display:block;
	margin:0;
	padding:0;
	background:#999CC;
	height:100%;
	width:100%;
	cursor:pointer;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .la7_vetrina_block_mosaico_tg_element a:hover {
	*text-decoration:none!important;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .la7_vetrina_block_mosaico_tg_element a .image{
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;

}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .la7_vetrina_block_mosaico_tg_element a .image img{
    margin: 0;
    padding: 0;
   height:auto;
 
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .la7_vetrina_block_mosaico_tg_element .modificaNodo{
    margin: 4px 10px 0 0;
    padding: 0;
	position:absolute;
	top:0;
	right:0;
	z-index:11;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .la7_vetrina_block_mosaico_tg_element .modificaNodo a{
	padding: 1px 2px;
	margin:2px 2px 0px 0px;
	background:#FFF;
	font:normal 10px/10px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	text-transform:uppercase;
	display:inline;
}



/*elementi del mosaico del con il tg*/
/* ELEMENTO 1*/
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_1{
	top:0;
	left:0;
	height:275px;
	width:395px;
	border-bottom:1px solid #d1d1d1;
	background:#FFF;
}

#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_1 a .image{
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
	height:276px;
	width:395px;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_1 a .image img{
	width:600px;  
   margin: -36px 0 0 -100px;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_1 a:hover .image img{
	opacity: .6;
	-webkit-opacity: .6;
	-moz-opacity: .6;
	filter:alpha(opacity=60);
}

#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_1 a .intestazione{
 	margin: 0 0 0 0;
    padding:0 0 0 0;
	position:absolute;
	bottom:0;
	left:0;
	display:block;
	float:none;
	clear:both;
	width:100%;
	height:auto;
	z-index:10;
	text-align:left;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_1 a .intestazione .boxTitolo{
	float:left;
	display:inline-block;
	width:316px;
	margin: 0 0 0 0;
    padding:0;
	background:#FFF;
	height:auto;
	border-left:1px solid #d1d1d1;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_1 a .intestazione .boxTitolo .title{
	display:block;
	width:auto;
	margin: 10px 6px 6px 6px;
    padding:0;
	background:#FFF;
	height:auto;
	font:bold 16px/16px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#4b4b4d;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_1 a:hover .intestazione .boxTitolo .title{color:#eb5a0f;}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_1 a .intestazione .boxTitolo .propertyName{
	display:block;
	width:auto;
	margin: 0px 6px 1px 6px;
    padding:0;
	padding-bottom:1px;
	background:#FFF;
	height:auto;
	font:bold 10px/10px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#3e3e40;
	text-transform:uppercase;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_1 a .intestazione  .luminosa,
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_1 a .intestazione  .luminosaLa7 {
	float:right;
	padding:0;
	margin:0;
	width:56px;
	height:41px;
	background:url("../../../../themes/la7/images/luminose_global_sprite.png") no-repeat scroll -122px  0 ;
	position:absolute;
	bottom:0;
	right:0;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_1 a .description{display:none;visibility:hidden;}

/* ELEMENTO 2 DA TG*/
#la7_vetrina_contenitore  .la7_vetrina_block_mosaico_tg .pos_2{
	top:0;
	left:395px;
	height:158px;
	width:282px;
	border-bottom:1px solid #d1d1d1;
	border-left:1px solid  #d1d1d1;
	background: url(../images/loader_vetrina_tg.png) 0 0 no-repeat!important;
}
#la7_vetrina_contenitore  .la7_vetrina_block_mosaico_tg .pos_2 #notizia_tg{
	margin:0;
	padding:0;
	float:none;
	display:block;
	clear:both;
}
#la7_vetrina_contenitore  .la7_vetrina_block_mosaico_tg .pos_2 #notizia_tg a{
	margin: 0;
    overflow: hidden;
    padding: 0;
	height:158px;
	width:282px;
	float:none;
	display:block;
	clear:both;
	background:#FFF;
}

#la7_vetrina_contenitore  .la7_vetrina_block_mosaico_tg .pos_2 a .image{
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
	height:158px;
	width:282px;
}

#la7_vetrina_contenitore  .la7_vetrina_block_mosaico_tg .pos_2 a .image img{
	width:350px;  
	margin:-20px 0 0 -9px;
	height:auto;
}

#la7_vetrina_contenitore  .la7_vetrina_block_mosaico_tg .pos_2 a:hover .image img{
	opacity: .6;
	-webkit-opacity: .6;
	-moz-opacity: .6;
	filter:alpha(opacity=60);
}

#la7_vetrina_contenitore  .la7_vetrina_block_mosaico_tg .pos_2 a .intestazione{
 	margin: 0 0 0 0;
    padding:0 0 0 0;
	position:absolute;
	bottom:0;
	left:0;
	display:block;
	float:none;
	clear:both;
	width:100%;
	height:auto;
	z-index:10;
	text-align:left;
}

#la7_vetrina_contenitore  .la7_vetrina_block_mosaico_tg .pos_2 a  .intestazione .boxTitolo{
	float:left;
	display:inline-block;
	width:190px;
	margin: 0 0 0 0;
    padding:0;
	background:#FFF;
	height:auto;
	border-left:1px solid #d1d1d1;
}
#la7_vetrina_contenitore  .la7_vetrina_block_mosaico_tg .pos_2 a .intestazione .boxTitolo .title{
	display:block;
	width:auto;
	margin: 6px 4px 6px 4px;
    padding:0;
	background:#FFF;
	height:auto;
	font:bold 14px/14px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#4b4b4d;
}

#la7_vetrina_contenitore  .la7_vetrina_block_mosaico_tg .pos_2 a:hover .intestazione .boxTitolo .title{color:#045020;}

#la7_vetrina_contenitore  .la7_vetrina_block_mosaico_tg .pos_2 a .intestazione  .luminosaTg {
	float:right;
	padding:0;
	margin:0;
	width:60px;
	height:25px;
	background: url("../../../../themes/la7/images/luminose_global_sprite.png") no-repeat scroll -124px -74px;	
	position:absolute;
	bottom:0;
	right:1px;
}
#la7_vetrina_contenitore  .la7_vetrina_block_mosaico_tg .pos_2 a .description{display:none;visibility:hidden;}




/* ELEMENTO 3 */
#la7_vetrina_contenitore  .la7_vetrina_block_mosaico_tg .pos_3{
	top:159px;
	left:395px;
	height:116px;
	width:282px;
	background:#FFF;
	border-bottom:1px solid #d1d1d1;
	border-left:1px solid #d1d1d1;
}

#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_3 a {
    margin: 0;
    overflow: hidden;
    padding: 0;
	height:116px;
	width:282px;
	float:none;
	display:block;
	clear:both;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_3 a .elementContent {
    margin: 0;
    overflow: hidden;
    padding: 0;
	height:116px;
	width:282px;
	float:none;
	display:block;
	clear:both;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_3 a .elementContent .colTex{
	float:left;
	display:inline;
	margin: 0;
    overflow: hidden;
    padding: 0;
	width:141px;
	height:116px;
	position:relative;
	text-align:right;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_3 a .elementContent .colTex .title{
	font:bold 12px/12px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#4b4b4d;
	margin:0 10px 0px 4px;
	padding: 0;
	text-align:right;
	height:auto;
	position:absolute;
	top:12px;
	left:0;
	*right:0;
} 
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_3 a:hover .elementContent .colTex .title{color:#eb5a0f;}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_3 a .elementContent .colTex .description{
	font:normal 10px/10px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#7d6e64;
	 margin: 0px 10px 4px 4px;
	 padding: 0;
	 text-align:right;
	 height:65px;
	 overflow:hidden;
	 position:absolute;
	 bottom:0;
	 left:0;
	  *right:0;
} 
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_3 a .elementContent .colImg{
	float:left;
	display:inline;
	margin: 0;
    overflow: hidden;
    padding: 0;
	width:141px;
	height:116px;
	position:relative;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_3 a .elementContent .colImg .image{
	float:left;
	display:block;
	margin: 0;
    overflow: hidden;
    padding: 0;
	width:141px;
	top:12px;
	left:0;
	height:83px;
	position:relative;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_3 a .elementContent .colImg .image img{	
    height: auto;
    margin: -15px 0 0 -50px;
    width: 240px;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_3 a:hover .elementContent .colImg  img{
	opacity: .6;
	-webkit-opacity: .6;
	-moz-opacity: .6;
	filter:alpha(opacity=60);
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_3 a .elementContent .colImg .image .luminosa,
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_3 a .elementContent .colImg .image .luminosaLa7{	

	padding:0;
	margin:0;
	width:34px;
	height:24px;
	background: url("../../../../themes/la7/images/luminose_global_sprite.png") no-repeat scroll -122px -41px;	
	position:absolute;
	bottom:0;
	right:0;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_3 a .elementContent .colImg .propertyName{
	padding:0;
	margin:0 0 0 0;
	color:#FFF;
	width:141px;
	position:absolute;
	bottom:0;
	*bottom:1px;
	right:4px;
	text-align:right;
	color:#3e3e40;
	font:bold 10px/10px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	text-transform:uppercase;
}
/* ELEMENTO 4 */
#la7_vetrina_contenitore  .la7_vetrina_block_mosaico_tg .pos_4{
	top:0;
	left:678px;
	height:119px;
	width:276px;
	border-left:1px solid #d1d1d1;
	border-right:1px solid #d1d1d1;
	border-right:1px solid #d1d1d1;
	border-top:1px solid #d1d1d1;
	background:#FFF;
}


/*#la7_vetrina_contenitore  .la7_vetrina_block_mosaico_tg .pos_3{
	top:159px;
	left:395px;
	height:116px;
	width:282px;
	background:#FFF;
	border-bottom:1px solid #d1d1d1;
	border-left:1px solid #d1d1d1;
}*/
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_4 a {
    margin: 0;
    overflow: hidden;
    padding: 0;
	height:119px;
	width:276px;
	float:none;
	display:block;
	clear:both;
	
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_4 a .elementContent {
    margin: 0;
    overflow: hidden;
    padding: 0;
	height:119px;
	width:276px;
	float:none;
	display:block;
	clear:both;
	
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_4 a .elementContent .colTex{
	float:left;
	display:inline;
	margin: 0;
    overflow: hidden;
    padding: 0;
	width:138px;
	height:119px;
	position:relative;
	text-align:right;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_4 a .elementContent .colTex .title{
	font:bold 12px/12px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#4b4b4d;
	 margin:0 10px 0px 4px;
	 padding: 0;
	 text-align:right;
	  height:auto;
	 position:absolute;
	 top:12px;
	 left:0;
	right:0;
} 
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_4 a:hover .elementContent .colTex .title{color:#eb5a0f;}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_4 a .elementContent .colTex .description{
	font:normal 10px/10px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#7d6e64;
	 margin: 0px 10px 4px 4px;
	 padding: 0;
	 text-align:right;
	 height:65px;
	 overflow:hidden;
	 position:absolute;
	 bottom:0;
	 left:0;
	right:0;
} 
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_4 a .elementContent .colImg{
	float:left;
	display:inline;
	    margin: 0;
    overflow: hidden;
    padding: 0;
	width:138px;
	height:119px;
	position:relative;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_4 a .elementContent .colImg .image{
	float:left;
	display:block;
	margin: 0;
    overflow: hidden;
    padding: 0;
	width:139px;
	top:12px;
	left:0;
	height:83px;
	position:relative;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_4 a .elementContent .colImg .image img{	
    height: auto;
    margin: -15px 0 0 -50px;
    width: 240px;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_4 a:hover .elementContent .colImg  img{
	opacity: .6;
	-webkit-opacity: .6;
	-moz-opacity: .6;
	filter:alpha(opacity=60);
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_4 a .elementContent .colImg .image .luminosa,
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_4 a .elementContent .colImg .image .luminosaLa7{	
	padding:0;
	margin:0;
	width:34px;
	height:24px;
	background: url("../../../../themes/la7/images/luminose_global_sprite.png") no-repeat scroll -122px -41px;	
	position:absolute;
	bottom:0;
	right:0;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_4 a .elementContent .colImg .propertyName{
	padding:0;
	margin:0 0 0 0;
	color:#FFF;
	width:141px;
	position:absolute;
	top:100px;
	right:4px;
	text-align:right;
	color:#3e3e40;
	font:bold 10px/10px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	text-transform:uppercase;
}

/* ELEMENTO 5 */
#la7_vetrina_contenitore  .la7_vetrina_block_mosaico_tg .pos_5{
	top:120px;
	left:678px;
	height:155px;
	width:278px;
	border-bottom:1px solid #d1d1d1;
	background:#FFF;
}

#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_5 a .image{
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
	height:155px;
	width:278px;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_5 a .image img{
	margin: -35px 0 0 -66px;
    width: 400px;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_5 a:hover .image img{
	opacity: .6;
	-webkit-opacity: .6;
	-moz-opacity: .6;
	filter:alpha(opacity=60);
}

#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_5 a .intestazione{
 	margin: 0 0 0 0;
    padding:0 0 0 0;
	position:absolute;
	bottom:0;
	left:0;
	display:block;
	float:none;
	clear:both;
	width:100%;
	height:auto;
	z-index:10;
	text-align:left;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_5 a .intestazione .boxTitolo{
	float:left;
	display:inline-block;
	width:190px;
	margin: 0 0 0 0;
    padding:0;
	background:#FFF;
	height:auto;
	border-left:1px solid #d1d1d1;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_5 a .intestazione .boxTitolo .title{
	display:block;
	width:auto;
	margin: 6px 4px 6px 4px;
    padding:0;
	background:#FFF;
	height:auto;
	font:bold 14px/14px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#4b4b4d;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_5 a:hover .intestazione .boxTitolo .title{color:#eb5a0f;}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_5 a .intestazione .boxTitolo .propertyName{
	display:block;
	width:auto;
	text-align:right;
	margin: 0px 4px 0px 4px;
    padding:0;
	*padding-bottom:1px;
	background:#FFF;
	height:auto;
	font:bold 10px/10px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#3e3e40;
	text-transform:uppercase;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_5 a .intestazione  .luminosa,
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_5 a .intestazione  .luminosaLa7 {
	float:right;
	padding:0;
	margin:0;
	width:44px;
	height:33px;
	background: url("../../../../themes/la7/images/luminose_global_sprite.png") no-repeat scroll 0 0;	
	position:absolute;
	bottom:0;
	right:0;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico_tg .pos_5 a .description{display:none;visibility:hidden;}
/* ------------------------------------------------------------------------------------------------ */
/*elementi del mosaico standard*/
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element{
	position:absolute;
	margin:0;
	padding:0;
	overflow: hidden;
	display:block;
	background:#e7e7e8;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element .modificaNodo{
    margin: 4px 10px 0 0;
    padding: 0;
	position:absolute;
	top:0;
	right:0;
	z-index:11;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element .modificaNodo a{
	padding: 1px 2px;
	margin:2px 2px 0px 0px;
	background:#FFF;
	font:normal 10px/10px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	text-transform:uppercase;
	display:inline;
}

#la7_vetrina_contenitore .la7_vetrina_block_mosaico  .pos_1,
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .noElementpos_1{
	top:0;
	left:10px;
	height:268px;
	width:472px;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico  .pos_2,
#la7_vetrina_contenitore .la7_vetrina_block_mosaico  .noElementpos_2{
	top:0;
	left:496px;
	height:127px;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico  .pos_3,
#la7_vetrina_contenitore .la7_vetrina_block_mosaico  .noElementpos_3{
	top:141px;
	left:496px;
	height:127px;
	width:218px;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .pos_4,
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .noElementpos_4{
	top:0;
	left:728px;
	height:127px;
	width:218px;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico  .pos_5,
#la7_vetrina_contenitore .la7_vetrina_block_mosaico  .noElementpos_5{
	top:141px;
	left:728px;
	height:127px;
	width:218px;
}
/* campi nascosti in prima battuta */
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a{
	display:block;
	margin:0;
	padding:0;
	background:#302924;
	height:100%;
	width:100%;
	cursor:pointer;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a:hover {
	*text-decoration:none!important;
}
/*#la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a .title,
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a .description{*/
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a .rollOver{
	visibility:hidden;
	display:none;
}

#la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a .image{
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
	background:#302924;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a .image img{
    margin: 0;
    padding: 0;
   height:auto;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico  .pos_1 a .image{height:268px; width:472px;}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico  .pos_1 a .image img{ width:600px;  margin:-10px 0 0 -10px;}

#la7_vetrina_contenitore .la7_vetrina_block_mosaico  .pos_2 a .image,
#la7_vetrina_contenitore .la7_vetrina_block_mosaico  .pos_3 a .image,
#la7_vetrina_contenitore .la7_vetrina_block_mosaico  .pos_4 a .image,
#la7_vetrina_contenitore .la7_vetrina_block_mosaico  .pos_5 a .image{ height:127px; width:218px;}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico  .pos_2 a .image img,
#la7_vetrina_contenitore .la7_vetrina_block_mosaico  .pos_3 a .image img,
#la7_vetrina_contenitore .la7_vetrina_block_mosaico  .pos_4 a .image img,
#la7_vetrina_contenitore .la7_vetrina_block_mosaico  .pos_5 a .image img{ width:300px;  margin:-10px 0 0 -11px;}


#la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a .intestazione{
 	margin: 0 0 0 0;
    padding:0;
	position:absolute;
	bottom:0;
	left:0;
	display:block;
	float:none;
	clear:both;
	width:100%;
	height:33px;
	z-index:10;
	text-align:left;
	font:bold 11px/11px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	text-transform:uppercase;
	background:url(../images/vetrina_pixel_rollover.png) 0 0 repeat!important;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .pos_1 a .intestazione{
	font:bold 18px/18px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	height:50px!important;
}


#la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a .intestazione .propertyName{
	/*padding:9px 0 2px 4px;*/
	padding:0;
	margin:0 0 0 4px;
	color:#FFF;
	width:170px;
	position:relative;
	bottom:-11px;
	left:0;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .pos_1 a .intestazione .propertyName{
	width:392px;
	margin:0 0 0 8px;
	bottom:-16px;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a .intestazione .propertyName p.crozza{
	margin:-4px 0  0 0;
	*margin:0 0 0 0;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a .intestazione .luminosa,
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a .intestazione .emptyLuminosa {
	float:right;
	padding:0;
	margin:0;
	width:44px;
	height:33px;

	position:absolute;
	bottom:0;
	right:0;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .pos_1 a .intestazione .luminosa,
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .pos_1 a .intestazione .emptyLuminosa {
	width:68px;
	height:50px;
}

#la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a .intestazione .luminosaLa7{
background: url("../../../../themes/la7/images/luminose_global_sprite.png") no-repeat scroll 0 0;	
	}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a .intestazione .luminosaLa7d{
background: url("../../../../themes/la7/images/luminose_global_sprite.png") no-repeat scroll 0 -33px;
	}
	
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .pos_1 a .intestazione .luminosaLa7{
	background: url("../../../../themes/la7/images/luminose_global_sprite.png") no-repeat scroll -54px 0;	
	}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .pos_1 a .intestazione .luminosaLa7d{
background: url("../../../../themes/la7/images/luminose_global_sprite.png") no-repeat scroll -54px -50px;
}
/* luminose per le vetrine la 7d */
.pageHomela7d #la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a .intestazione .luminosa,
.pageHomela7d  #la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a .intestazione .emptyLuminosa,
.pageHomela7d #la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a .intestazione .luminosaLa7d,
.pageHomela7d  #la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a .intestazione .luminosaLa7 {
background: url("../../../../themes/la7/images/luminose_global_sprite.png") no-repeat scroll 0 -33px;
	}
.pageHomela7d #la7_vetrina_contenitore .la7_vetrina_block_mosaico .pos_1 a .intestazione .luminosa,
.pageHomela7d #la7_vetrina_contenitore .la7_vetrina_block_mosaico .pos_1 a .intestazione .emptyLuminosa,
.pageHomela7d #la7_vetrina_contenitore .la7_vetrina_block_mosaico .pos_1 a .intestazione .luminosaLa7,
.pageHomela7d #la7_vetrina_contenitore .la7_vetrina_block_mosaico .pos_1 a .intestazione .luminosaLa7d{
background: url("../../../../themes/la7/images/luminose_global_sprite.png") no-repeat scroll -54px -50px!important;
	width:68px;
	height:50px;
}




/* rollover */
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a:hover .image img{	
	opacity: .20;
	-webkit-opacity: .20;
	-moz-opacity: .2;
	filter:alpha(opacity=20);
	cursor:pointer;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a:hover .intestazione{
	background:none!important;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a:hover .rollOver{
	visibility: visible;
	display:block;
	margin: 6px 6px 0 6px;
    padding:0;
	position:absolute;
	top:0;
	left:0;
	display:block;
	float:none;
	clear:both;
	width:100%;
	height:94px;
	text-align:left;
	overflow:hidden;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a:hover .rollOver .title{
	font:bold 11px/11px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#ffc323!important;
	text-transform:uppercase;
	margin:0 10px 6px 0;
	padding:0;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a:hover .rollOver .description{
	font:bold 11px/12px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#FFF!important;
	text-transform: none;
	margin:0 10px 0 0;
	padding:0!important;
}

#la7_vetrina_contenitore .la7_vetrina_block_mosaico .pos_1 a:hover .rollOver{
	height:218px;
	margin: 12px 12px 0 12px;
}

#la7_vetrina_contenitore .la7_vetrina_block_mosaico .pos_1 a:hover .rollOver .title{
	font:bold 18px/18px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#ffc323!important;
	text-transform:uppercase;
	margin:0 0 6px 0;
	padding:0;
}

#la7_vetrina_contenitore .la7_vetrina_block_mosaico .pos_1 a:hover .rollOver .description{
	font:bold 18px/20px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#FFF!important;
	text-transform: none;
	margin:0 10px 0 0;
	padding:0!important;
}


#la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a:hover .rollOver .titleLa7{color:#ffc323!important;}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a:hover .rollOver .titleLa7d{color:#f80893!important;}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .pos_1 a:hover .rollOver .titleLa7{color:#ffc323!important;}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .pos_1 a:hover .rollOver .titleLa7d{color:#f80893!important;}


#la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element  a:hover .propertyName,
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a:hover .propertyNameLa7 {
		color:#ffc323!important;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a:hover .propertyNameLa7d {color:#f80893!important;}

#la7_vetrina_contenitore .la7_vetrina_block_mosaico .pos_1 a:hover .propertyName,
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .pos_1 a:hover .propertyNameLa7 {
		color:#ffc323!important;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .pos_1 a:hover .propertyNameLa7d {color:#f80893!important;}

/* rollover sulla  7d */
.pageHomela7d #la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a:hover .propertyNameLa7d,
.pageHomela7d #la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a:hover .propertyNameLa7,
.pageHomela7d #la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a:hover .propertyName {color:#f80893!important;}
.pageHomela7d #la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a:hover .rollOver .titleLa7d{color:#f80893!important;}

.pageHomela7d  #la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a:hover .rollOver .titleLa7d,
.pageHomela7d  #la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a:hover .rollOver .titleLa7,
.pageHomela7d  #la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a:hover .rollOver .title,
.pageHomela7d  #la7_vetrina_contenitore .la7_vetrina_block_mosaico .pos_1 a:hover .rollOver .titleLa7d,
.pageHomela7d  #la7_vetrina_contenitore .la7_vetrina_block_mosaico .pos_1 a:hover .rollOver .titleLa7,
.pageHomela7d  #la7_vetrina_contenitore .la7_vetrina_block_mosaico .pos_1 a:hover .rollOver .title{color:#f80893!important;}



/*--------------------------------------------------------------------------------------------------------------*/
/*elementi del blocco lancio*/
.la7_vetrina_block_lancio{
	width:956px;
	height: 272px;
	margin:0;
	padding:0;
	border:0;
	position:relative;
}
.la7_vetrina_block_lancio  .modificaNodo {
	margin: 4px 10px 0 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 10px;
	z-index: 11;
}
.la7_vetrina_block_lancio  .modificaNodo a{
	padding: 1px 2px;
	margin: 2px 2px 0px 0px;
	background: #FFF;
	font: normal 10px/10px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	text-transform: uppercase;
	display: inline;
}
.la7_vetrina_block_lancio .content{
	width:956px;
	height: 272px;
	background-repeat: no-repeat;
	bacground-position: bottom left;
}
/* spazio testo */
.la7_vetrina_block_lancio .blocco_info{
	 height: 272px;
    right: 421px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 535px;
	text-align:right;



}
.la7_vetrina_block_lancio .blocco_info .lancioBoxSpazioTesto{
	 /*bottom: -6px;*/
	 bottom:0;
	 right:0;
    clear: both !important;
    display: block !important;
    float: none !important;
    height: 180px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-align: right;
  width: 312px;
 min-width:270px;
 max-width:312px;
}


.la7_vetrina_block_lancio .blocco_info .lancioBoxSpazioTesto .ombraVideo{
	right:0;
  background: url(../images/vetrina_ombra.png) right bottom  no-repeat!important;
    bottom: 0;
    clear: both !important;
    display: block !important;
    float: none !important;
    height: 228px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: right!important;
    width: 77px;
    z-index: 1;
}

.la7_vetrina_block_lancio .blocco_info .lancioBoxSpazioTesto .compatto {
/* background: none repeat scroll 0 0 #FFFFFF;
    display: table-cell !important;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
width:auto;
	text-align:right;
	float:right;
	*/
	position:absolute;
	bottom:20px;
 right: 0;
 margin:0;
 padding:0 0 24px 0;
text-align:right;
 width: 94% !important;
 min-width:270px;
 max-width:312px;
 background: none repeat scroll 0 0 #FFFFFF;

	  

}


.la7_vetrina_block_lancio .blocco_info .lancioBoxSpazioTesto .compatto .sottotitolo {
    background: none repeat scroll 0 0 #FFC323;
    clear: both !important;
    color: #564C45;
    display: block !important;
    float: none !important;
    font: bold 12px/14px Arial,Helvetica,Geneva,Tahoma,verdana,sans-serif !important;
    margin: 0 0 8px 0;
    padding: 8px 8px  8px 0px ;
    width: auto !important;
	  text-align:right;
	  z-index:2;
}
.la7_vetrina_block_lancio .blocco_info .lancioBoxSpazioTesto .compatto .spazioLancioTxt {
  clear: both !important;
    color: #564C45;
    display: table-cell !important;
	 vertical-align: middle;
    float: none !important;
    font: bold 14px/14px Arial,Helvetica,Geneva,Tahoma,verdana,sans-serif !important;
    /*height: 120px !important;
    margin: 0;
    max-height: 130px !important;
    max-width:312px;
    vertical-align: middle;
    width: auto !important;
	  padding: 0 10px 0 18px;*/
	  text-align:right!important;
}
.la7_vetrina_block_lancio .blocco_info .lancioBoxSpazioTesto .compatto .spazioLancioTxt  .titolo{
	font: bold 16px/16px "GothamBold",Arial,Helvetica,sans-serif  !important;
	color:#eb5a0f;
	margin:0 0 0 0;
	padding:0 18px 0 6px;
	text-transform:uppercase;
	 text-align:right!important;
	/*z-index:2;
	 position:relative;*/
}


.la7_vetrina_block_lancio .blocco_info .lancioBoxSpazioTesto .compatto .spazioLancioTxt  .testo{
    font: bold 14px/14px Arial,Helvetica,Geneva,Tahoma,verdana,sans-serif !important;
	color: #564C45;
	margin:6px 0 0 0;
	padding:0 18px 0 6px;
	 text-align:right!important;
	/* z-index:2;
	 position:relative;*/
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.la7_vetrina_block_lancio .blocco_info .lancioBoxSpazioTesto .compatto .spazioLancioTxt  .titolo,
.la7_vetrina_block_lancio .blocco_info .lancioBoxSpazioTesto .compatto .spazioLancioTxt  .testo {
	padding:0 18px 0 6px;
}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
.la7_vetrina_block_lancio .blocco_info .lancioBoxSpazioTesto .compatto .spazioLancioTxt  .titolo,
.la7_vetrina_block_lancio .blocco_info .lancioBoxSpazioTesto .compatto .spazioLancioTxt  .testo {
	padding:0 18px 0 6px;
}
   /* IE10-specific styles go here */  
}  


.la7_vetrina_block_lancio .blocco_info .lancioBoxSpazioTesto .compatto .spazioLancioTxt  .testo p{margin: 0;	padding:0;  text-align:right!important;}
.la7_vetrina_block_lancio .blocco_info .lancioBoxSpazioTesto .link {
background: none repeat scroll 0 0 #FFC323;
    clear: both !important;
    color: #564C45;
    display: inline-block !important;
    float: none !important;
    font: bold 18px/20px Arial,Helvetica,Geneva,Tahoma,verdana,sans-serif !important;
    height: 20px;
 /* margin: -12px 0 0px 0;*/
    padding: 6px 0px 6px 12px;
    width: 155px !important;
	text-align:right;
	position:absolute;
	bottom:0px;
 right: 0;
 width:auto;
}
.la7_vetrina_block_lancio .blocco_info .lancioBoxSpazioTesto .compatto .spazioLancioTxt  .testo a {
	 font: bolder 12px/12px "GothamBold",Arial,Helvetica,sans-serif  !important;
	 text-transform:uppercase;
		color:#eb5a0f;
	}

.la7_vetrina_block_lancio .blocco_info .lancioBoxSpazioTesto  .link a {
  background: url("../../../../themes/la7/images/arrow_prev_white_stone_sprite.png") no-repeat scroll right -76px rgba(0, 0, 0, 0) !important;
    color: #FFFFFF;
    display: block;
    font: bold 18px/20px Arial,Helvetica,Geneva,Tahoma,verdana,sans-serif !important;
    right: 0;
    margin: 0;
    padding: 0 16px 6px  0;
   position: absolute;
    z-index: 2;
	margin:0 10px 0 0 ;
}
.la7_vetrina_block_lancio .blocco_info .lancioBoxSpazioTesto  .link a:hover{
	 background: url("../../../../themes/la7/images/arrow_prev_white_stone_sprite.png") no-repeat scroll right -116px rgba(0, 0, 0, 0) !important;
	 text-decoration:none;
	 color: #564C45;
	 }
.la7_vetrina_block_lancio .blocco_info .lancioBoxSpazioTesto  .link a:focus{
	 text-decoration:none;
}
/* spazio video */
.la7_vetrina_block_lancio .blocco_video{
    background:#FFFFFF;
    bottom: -6px;
    right: 0;
    margin: 0;
    padding: 5px 0 0  5px;
    position: absolute;
	width:416px;
		height:242px;
}
.la7_vetrina_block_lancio .blocco_video .contenitoreIframeVideo,
.la7_vetrina_block_lancio .blocco_video .contenitoreIframeVideo html,
.la7_vetrina_block_lancio .blocco_video .contenitoreIframeVideo html body,
.la7_vetrina_block_lancio .blocco_video .contenitoreIframeVideo html header{
	width:416px;
	height:242px;
	border:0!important;
	overflow:hidden;
	margin:0;
	padding:0;
}
.la7_vetrina_block_lancio .blocco_video .contenitoreIframeVideo .contenitoreIframeVideo html header span{
	width:416px;
	height:234px;
	border:0!important;
	overflow:hidden;
	margin:0;
	padding:0 0 0px 0;
}
.la7_vetrina_loading{
	width:100%;
	height:100%;
	background-color:#FFF;
}

/* TESTO SENZA VIDEO ----------------------*/
/* spazio testo */
.no_video .blocco_info{
/*	 height: 272px;
    right: 421px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 535px;
	background:#FFFF00;*/
	margin:0;
	padding:0px;
	position: relative;
	width:auto;
	 right:auto;
}
.no_video .blocco_video{
    background: none;
    margin: 0;
    padding:0 0 0 0;
    position: inherit;
	/*visibility:hidden;
	display:none;*/
}


.no_video  .blocco_info .lancioBoxSpazioTesto{
	 top:40px;
	 left:500px;
    clear: both !important;
    display: block !important;
    float: none !important;
    height: 200px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: inherit;
    text-align: left;
	 max-width:400px;
	width: 400px;
	min-width:350px;
}


.no_video  .blocco_info .lancioBoxSpazioTesto .ombraVideo{
	display:none;
	visibility:hidden;
}

.no_video  .blocco_info .lancioBoxSpazioTesto .compatto {
	position:absolute;
	/*bottom:20px;*/
	bottom:32px;
	right: 0;
	margin:0;
	padding:0 0 12px 0;
	width:90%!important;
	/*min-width:350px;
	max-width:400px;*/
	background: none repeat scroll 0 0 #FFFFFF;
	text-align:left;
}


.no_video  .blocco_info .lancioBoxSpazioTesto .compatto .sottotitolo {
    background: none repeat scroll 0 0 #FFC323;
    clear: both !important;
    color: #564C45;
    display: block !important;
    float: none !important;
    font: bold 12px/14px Arial,Helvetica,Geneva,Tahoma,verdana,sans-serif !important;
    margin: 0 0 8px 0;
    padding: 8px 16px;
    width: auto !important;
	text-align:left;
	z-index:2;
}
.no_video  .blocco_info .lancioBoxSpazioTesto .compatto .spazioLancioTxt {
	clear: both !important;
    color: #564C45;
    display: table-cell !important;
	vertical-align: middle;
    float: none !important;
    font: bold 14px/14px Arial,Helvetica,Geneva,Tahoma,verdana,sans-serif !important;
	text-align:left;
}
.no_video  .blocco_info .lancioBoxSpazioTesto .compatto .spazioLancioTxt  .titolo{
	font: bold 16px/16px "GothamBold",Arial,Helvetica,sans-serif  !important;
	*font: bolder 15px/15px "GothamBold",Arial,Helvetica,sans-serif  !important;
	color:#eb5a0f;
	margin:0 0 0 0;
	padding:0 16px;
	text-align:left;
	text-transform:uppercase;
}


.no_video  .blocco_info .lancioBoxSpazioTesto .compatto .spazioLancioTxt  .testo{
    font: bold 14px/14px Arial,Helvetica,Geneva,Tahoma,verdana,sans-serif !important;
	color: #564C45;
	margin:6px 0 0 0;
	padding:0 16px;
	text-align:left;
}

.no_video  .blocco_info .lancioBoxSpazioTesto .compatto .spazioLancioTxt  .testo a {
	font:bolder 12px/12px "GothamBold",Arial,Helvetica,sans-serif  !important;
	text-transform:uppercase;
	color:#eb5a0f;
}
.no_video  .blocco_info .lancioBoxSpazioTesto .compatto .spazioLancioTxt  .testo p{margin: 0;	padding:0;}
.no_video  .blocco_info .lancioBoxSpazioTesto .link {
background: none repeat scroll 0 0 #FFC323;
    clear: both !important;
    color: #564C45;
    display: inline-block !important;
    float: none !important;
    font: bold 18px/20px Arial,Helvetica,Geneva,Tahoma,verdana,sans-serif !important;
    height: 20px;
    padding: 6px 0px 6px 12px;
    width: 155px !important;
	text-align:right;
	position:absolute;
	bottom:0x;
	right: 0;
	width:auto;
}

.no_video  .blocco_info .lancioBoxSpazioTesto  .link a {
  background: url("../../../../themes/la7/images/arrow_prev_white_stone_sprite.png") no-repeat scroll right -76px rgba(0, 0, 0, 0) !important;
    color: #FFFFFF;
    display: block;
    font: bold 18px/20px Arial,Helvetica,Geneva,Tahoma,verdana,sans-serif !important;
    right: 0;
    margin: 0;
    padding: 0 16px 6px  0;
   position: absolute;
    z-index: 2;
	margin:0 10px 0 0 ;
	
}
.no_video  .blocco_info .lancioBoxSpazioTesto  .link a:hover{
	 background: url("../../../../themes/la7/images/arrow_prev_white_stone_sprite.png") no-repeat scroll right -116px rgba(0, 0, 0, 0) !important;
	 text-decoration:none;
	 color: #564C45;
}

#la7_vetrina{
	position:relative;
	width:956px;
	height:276px;
	margin: 0 auto;
}

#la7_vetrina_contenitore{
	position:absolute;
	top:0;
	left:0;
	margin: 0;	
}

