/*
.wrapper-social-buttons-open {
    height:80px!important;  
}
.wrapper-social-buttons {
    background-color:#eee;
    width:210px;
    position:absolute;
    bottom:18px;
    right:0px;
    height:100px;
    overflow:hidden;
    zoom:1;
}
.wrapper-social-buttons div {
    float:left;
    zoom:1;
    z-index:99;
    margin:8px 0px 0px 10px;
}
.wrapper-social-buttons .button-facebook div {
    margin:0px!important;   
}
.wrapper-social-buttons .button-facebook .fb-like {
    padding:0!important;
}
.wrapper-social-buttons .button-googleplus {
    margin-left:0px!important;  
}

*/

.social_buttons_embeded {
	position:absolute;
	right:90px;
}
.social_buttons_embeded .btn-share {
	width:75px!important;	
}
.embed {
	position:absolute;
	right:0px;	
	cursor:pointer;
	text-transform:uppercase;
	padding:0px 10px 3px;
}
.embed:hover {
	text-decoration:underline;
}
.sfondo-grigio {
	background-color:#dedbda;
	padding: 0px 10px 8px;
}
.embed_text_content{
	text-align:left;
	display:none;
	position:relative;
	height:96px;
	width:100%;
	clear:both;
}
.embed_text{
	background-color:#dedbda;
	position:absolute;
	top:8px;
	left:0px;
	height:120px;
	padding:16px 14px 0px 14px;
	cursor:text;
}
.embed_close {
	display:none;
	color:#000;
	position:absolute;
	right:3px;
	bottom:3px;
	padding:0px 6px;
	cursor:pointer;
	font-weight:bold;
}
.embed_close:hover {
	background-color:#fff;
}