/* blocco news tgla7 homepage */
#block-la7it-show-tgla7news-la7it-show-tgla7news-block {
	width:638px;
	height:auto!important;
	overflow:hidden;
	margin:12px 0px 26px 0px;
	padding:0px 0px 0px 0px;
	text-align:left;
}
#block-la7it-show-tgla7news-la7it-show-tgla7news-block #la7it_show_tgla7news_header {
	background:url(images/logo_tgla7news.jpg) left center no-repeat;
	padding-left:92px;
	color:#0f5129;
	font:normal 30px/30px "GothamBold",Arial,Helvetica,sans-serif !important;
	*font:bolder 32px/32px "GothamBold",Arial,Helvetica,sans-serif !important;
	text-transform:uppercase;
	margin:0px 0px 13px 0px;
}
#block-la7it-show-tgla7news-la7it-show-tgla7news-block #la7it_show_tgla7news_content_loader {
	width:100%;
	height:30px;
	background:transparent url(images/loader.gif) center top no-repeat;
	margin-top:18px;
}
#la7it_show_tgla7news_content .la7it_show_tgla7news_row {
	background-color:#ecf1ee;
	width:206px;
	height:305px;
	float:left;
	display:none;
	margin:0px 10px 0px 0px;
}
#la7it_show_tgla7news_content #la7it_show_tgla7news_content_row_2 {
	margin:0px 0px 0px 0px!important;	
}
#la7it_show_tgla7news_content .la7it_show_tgla7news_row a {
	width:206px;
	height:305px;
	cursor:pointer;
}
#la7it_show_tgla7news_content .la7it_show_tgla7news_row a:hover,
#la7it_show_tgla7news_content .la7it_show_tgla7news_row a:focus,
#la7it_show_tgla7news_content .la7it_show_tgla7news_row a:link {
	text-decoration:none;
}
#la7it_show_tgla7news_content .la7it_show_tgla7news_row .la7it_show_tgla7news_image {
	position:relative;
	margin:0 0 0 0;
	padding:0 0 0 0;
	overflow:hidden;
	width:206px;
	height:120px;
}
#la7it_show_tgla7news_content .la7it_show_tgla7news_row .la7it_show_tgla7news_image .luminosaPropertyTgla7 {
	position:absolute;
	margin:0;
	padding:0;
	width:54px;
	height:22px;
	overflow:hidden;
	background:none;
	bottom:0;
	right:0;
	background:url(../../../../themes/la7/images/luminose_global_sprite.png) 0 -66px no-repeat;
	z-index:1;
}
#la7it_show_tgla7news_content .la7it_show_tgla7news_row .la7it_show_tgla7news_image img {
	display: block; /* Otherwise it keeps some space around baseline */
	/*width:300px;*/
	width:260px;
	height:auto;
	text-align:center;
	position:absolute;
	left:-28px;
	top:-25px;
	/*left:-55px;
	top:-18px;*/
	margin:0 0 0 0;
	padding:0 0 0 0;
}
#la7it_show_tgla7news_content .la7it_show_tgla7news_row .la7it_show_tgla7news_image img:hover {
	opacity: .6;
	-webkit-opacity: .6;
	-moz-opacity: .6;
	filter:alpha(opacity=60);
}
#la7it_show_tgla7news_content .la7it_show_tgla7news_row img:hover {
	opacity:0.6;
	filter:alpha(opacity=60);
}
#la7it_show_tgla7news_content .la7it_show_tgla7news_row .la7it_show_tgla7news_title {
	color:#0f5129;
	font:bold 14px/16px Arial, Helvetica, sans-serif;
	margin:12px 11px 0px 11px;
	height:48px;
	overflow:hidden;
}
#la7it_show_tgla7news_content .la7it_show_tgla7news_row .la7it_show_tgla7news_text {
	color:#303532;
	font:normal 12px/14px Arial, Helvetica, sans-serif;
	margin:15px 11px 0px 11px;
	height:56px;
	overflow:hidden;
}
#la7it_show_tgla7news_content .la7it_show_tgla7news_row .la7it_show_tgla7news_text a {
	color:#303532;
}
#la7it_show_tgla7news_content .la7it_show_tgla7news_row .la7it_show_tgla7news_content_row_link_link {
	color:#0f5129;
	font:normal 12px/14px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	margin:24px 11px 15px 11px;
}
#la7it_show_tgla7news_content .la7it_show_tgla7news_row .la7it_show_tgla7news_content_row_link_link:hover {
	text-decoration:underline;
}
#la7it_show_tgla7news_content .la7it_show_tgla7news_row .la7it_show_tgla7news_content_row_link_link:focus,
#la7it_show_tgla7news_content .la7it_show_tgla7news_row .la7it_show_tgla7news_content_row_link_link:link {
	text-decoration:none;
}

/* blocco news tgla7 dx */
#block-la7it-show-tgla7news-la7it-show-tgla7news-block-p {
	background-color:#fff;
	width:300px;
	height:auto;
	margin:15px 0px 32px 0px;
	text-align:left;
	font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size:11px;	
	line-height:13px;
}
#block-la7it-show-tgla7news-la7it-show-tgla7news-block-p .content {
	padding:0 0 50px 0;
	margin:30px 0 0 0;
	width:300px;
	float:none;
	text-align:left;
	clear:both!important;
	float:none;
	background:url(../../../../themes/la7/images/baffo_separatore_dx.png) right bottom no-repeat!important;	
}
#la7it_show_tgla7news_property_content_tabs {
	width:100%!important;
	display:table;
	/*text-align:center;
	float:left;
	display:inline;
	margin-bottom:20px;*/
}
#la7it_show_tgla7news_property_content_tabs .la7it_show_tgla7news_property_content_tabs_category {
	display:table-cell;
	*zoom: 1;
    *display: inline;
	vertical-align:middle;
	cursor:pointer;	
	background-color:#0F5129;
	color:#fff;
	font-weight:bold;
	text-transform:uppercase;
	text-align:center;
	height:30px;
	padding:10px 0px;
}
#la7it_show_tgla7news_property_content_tabs .la7it_show_tgla7news_property_content_tabs_category:hover {
	background-color:#6f977f;!important;
}
#la7it_show_tgla7news_property_content_tabs .active_tab {
	background-color:#111540!important;
	cursor:default;
}
#la7it_show_tgla7news_property_content_tabs .active_tab:hover {
	background-color:#111540!important;
}
#la7it_show_tgla7news_property_content_news .la7it_show_tgla7news_property_loader {
	width:100%;
	height:15px;
	background:transparent url(images/loader.gif) center top no-repeat;
	margin-top:30px;
}
#la7it_show_tgla7news_property_content_news {
	margin-top:10px;
	clear:both;		
}
#la7it_show_tgla7news_property_content_news .row {
	border-bottom:2px solid #d4dde5;
	padding:16px 18px;	
}
#la7it_show_tgla7news_property_content_news .row a:hover,
#la7it_show_tgla7news_property_content_news .row a:link,
#la7it_show_tgla7news_property_content_news .row a:visited {
	text-decoration:none!important;
}
#la7it_show_tgla7news_property_content_news .row:last-child {
	border:none!important;
}
#la7it_show_tgla7news_property_content_news .title {
	color:#0F5129;	
	font-weight:bold;
	padding-bottom:4px;
}
#la7it_show_tgla7news_property_content_news .title:hover {
	color:#6f977f;
}
#la7it_show_tgla7news_property_content_news .description {
	color:#303532;
}


/* blocco video news tgla7 homepage */

#block-la7it-show-tgla7news-la7it-show-tgla7news-block-video {
	margin-top:30px;	
}
#block-la7it-show-tgla7news-la7it-show-tgla7news-block-video .la7it_last_video_tg_title {
	background:#0c1842 url(images/logo_tgla7news.jpg) left center no-repeat;
	padding-left:20px;
	color:#fff;
	font:normal 18px/30px "GothamBold",Arial,Helvetica,sans-serif !important;
	*font:bolder 20px/30px "GothamBold",Arial,Helvetica,sans-serif !important;
	text-transform:uppercase;
	margin:0px;
}