.day_of_week {
    display: none;
}

#node-58421 h2 {
    display:none;
}

#webform-client-form-58421--2 fieldset {
    padding: 0px;
    background-color: #F6F6F6;
    width: 462px;
    float:left;
}

#webform-client-form-58421--2 fieldset#webform-component-slot-palinsesto-riquadro-ricerca {
    height: 580px;
}

#webform-client-form-58421--2 .form-item {
    margin: 10px 0 0px 0;
    padding: 5px 0 5px 0;
}

#webform-client-form-58421--2 fieldset#webform-component-slot-palinsesto-riquadro-dati {
    margin-left: 20px;
}

#webform-client-form-58421--2 #edit-actions--2 {
    float: right;
    margin-right: 70px;
}

#webform-client-form-58421--2 .form-text {
    width: 250px;
}

#webform-client-form-58421--2 #edit-submitted-slot-palinsesto-riquadro-dati-slot-palinsesto-tipo-programma--2 {
    width: 290px;
}

#webform-client-form-58421--2 #edit-submitted-slot-palinsesto-riquadro-dati-slot-palinsesto-url-locandina--2 {
    width: 290px;
    margin-left: 23px;
}

#webform-client-form-58421--2 #edit-submitted-slot-palinsesto-riquadro-dati-slot-palinsesto-categoria--2 {
    margin-left: 44px;
    width: 290px;
}

#webform-client-form-58421--2 #edit-submitted-slot-palinsesto-riquadro-dati-slot-palinsesto-tipologia--2 {
    margin-left: 47px;
    width: 290px;
}

#webform-client-form-58421--2 #edit-submitted-slot-palinsesto-riquadro-dati-slot-palinsesto-titolo--2 {
    width: 405px;
}

#webform-client-form-58421--2 #edit-submitted-slot-palinsesto-riquadro-dati-slot-palinsesto-data--2 {
    margin-left: 80px;
    width: 300px;
}

#webform-client-form-58421--2 #edit-submitted-slot-palinsesto-riquadro-dati-slot-palinsesto-orario--2 {
    margin-left: 70px;
    width: 300px;
}

#webform-client-form-58421--2 #edit-submitted-slot-palinsesto-riquadro-ricerca-slot-palinsesto-bottone-ricerca--2 {
    margin-top: 30px;
    margin-left: 10px;
}

#webform-client-form-58421--2 #webform-component-slot-palinsesto-riquadro-ricerca--slot-palinsesto-campo-ricerca {
    float: left;
}

#webform-client-form-58421--2 #edit-submitted-slot-palinsesto-riquadro-ricerca-slot-palinsesto-campo-ricerca--2 {
    width: 300px;
}

#webform-client-form-58421--2 #webform-component-slot-palinsesto-riquadro-dati--slot-palinsesto-diritto-repliche {
    margin-top: -10px;
}

#webform-client-form-58421--2 #webform-component-slot-palinsesto-riquadro-dati--slot-palinsesto-diretta-live {
    margin-top: -50px;
    margin-left: 110px;
}

#webform-client-form-58421--2 .wrapper_btn_ricerca {
    float: right;
    margin-right: 35px;
    width: 67px;
    margin-top: 35px;
    margin-bottom: 20px;    
}

#webform-client-form-58421--2 #btn_cerca {
    padding: 5px 10px;
    display: inline;
    background: #777 url(button.png) repeat-x bottom;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 1px 1px #666;
}

#messaggi_errore {
    display:none;
}

#webform-client-form-58421--2 #btn_cerca:hover {
    background-position: 0 -48px;
}

#webform-client-form-58421--2 #btn_cerca:active {
    background-position: 0 top;
    position: relative;
    top: 1px;
    padding: 6px 10px 4px;
}
#webform-client-form-58421--2 #webform-component-slot-palinsesto-riquadro-dati--slot-palinsesto-rating {
    margin-top: -34px;
    margin-left: 293px;
}

#colorbox #cboxCurrent,
#colorbox #cboxPrevious,
#colorbox #cboxNext,
#colorbox #cboxClose {
    width: 0px!important;
    visibility: hidden;
}

#edit-submitted-slot-palinsesto-riquadro-dati-slot-palinsesto-piattaforma--2 {
    width: 400px;
    margin-left: 31px;
}

#edit-submitted-slot-palinsesto-riquadro-dati-slot-palinsesto-piattaforma--2 .form-type-checkbox {
    background-color: #0066CC;
    width: 100px;
    font-weight: bold;
    color: #fff;
    margin-right: 5px;
    float: left;
    text-align: left;
    padding-left: 10px;
}

#edit-submitted-slot-palinsesto-riquadro-dati-slot-palinsesto-giorni-settimana--2 {
    margin-top: 10px;
}

#edit-submitted-slot-palinsesto-riquadro-dati-slot-palinsesto-giorni-settimana--2 .form-type-checkbox {
    background-color: #0066CC;
    width: 50px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
    float: left;
    text-align: left;
    padding-left: 10px;
}

.palinsesto-main {
    border: 1pt solid lightgray;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    clear: both;
}

.palinsesto-main tr.even {
    background-color: lightgray;
}

.wrapper_la7 .palinsesto-main tr.odd {

    background-color: lightblue;
}

.palinsesto-main td {
    vertical-align: top;
    width: 12%;
}

.palinsesto-main td .cell_item {
    border-bottom: 1pt solid #000;
    padding: 0 5px 0 5px;
}


form .form-item-month,
form .form-item-year {
    float: left;
    margin-right: 10px;
}

form #edit-cerca {
    margin-top: 7px;
    float: left;
}

.wrapper-settimane {
    float: left;
    padding: 5px 0 0 5px;
}

#div-results {
    overflow: auto;
    height: 500px;
    clear: both;
}

#div-results .trasmissione {
    padding: 4px;
    background-color: lightblue;
    margin-bottom: 5px;
}

#div-results .episodi {
    padding-left: 15px;
    background-color: #618bb3;
    display: none;
}

#div-results .episodi a {
    color: #ffffff;
}

#webform-component-slot-palinsesto-riquadro-dati--slot-palinsesto-data {
    margin-top: 60px;
    clear: both;
}




#edit-submitted-slot-palinsesto-riquadro-dati-slot-palinsesto-piattaforma--2 .form-type-checkbox,
#edit-submitted-slot-palinsesto-riquadro-dati-slot-palinsesto-giorni-settimana--2 .form-type-checkbox {
	background-color:#999!important;	
}

/* wrapper settimana */

.wrapper-settimane a.active,
.wrapper-settimane a.actived {
	color:#000!important;
	cursor:default;
}
.wrapper-settimane a.active:hover,
.wrapper-settimane a.actived:hover {
	text-decoration:none!important;		
}

.wrapper-settimane .cornice-settimane {
    border: 1pt solid #000;
    padding: 5px;
    width:  300px;
    background-color: #e8e8e8;
}

#la7it-palinsesto-copy-week-form {
    float: left;
    margin-left: 10px;
    width: 360px;
    padding: 5px 0px 0px 10px;
    background-color: #e8e8e8;
    height: 45px;
    margin-bottom: 50px;
}

#la7it-palinsesto-copy-week-form .form-item {
    margin-right: 10px;
    float: left;
}

#la7it-palinsesto-copy-week-form #edit-copia {
    margin-top: 9px;
    margin-bottom: 40px;
}




/* ------------------------------------------------- */
/* ------------- Vista Guida Tv ------------------- */
/* ----------------------------------------------- */

.wrapper_guida_tv {
	clear:both;
    display:block;
    float:none;
    margin:0 18px 6px 0;
    padding:0;
    width:654px;
	text-align:left;

}
.wrapper_guida_tv ul li {
	list-style:none!important;
}

/* Guida tv - Lancio  */
#block-la7it-palinsesto-la7it-palinsesto-lancio-guida-tv,
#block-la7it-palinsesto-la7it-palinsesto-lancio-guida-tv .content,
#block-la7it-palinsesto-la7it-palinsesto-lancio-guida-tv .content .view-display-id-header_giornata,
#block-la7it-palinsesto-la7it-palinsesto-lancio-guida-tv .content .view-display-id-header_giornata .view-content,
#block-la7it-palinsesto-la7it-palinsesto-lancio-guida-tv .content .view-display-id-header_giornata .view-content .views-row {
	margin:0 auto;
	padding:0 auto;
	display:block;
	text-align:center;
}
#block-la7it-palinsesto-la7it-palinsesto-lancio-guida-tv .content .view-display-id-header_giornata .views-field-field-upload-video{
	margin:0 0 32px 32px;
	padding:0 auto;
	display:block;
	text-align:center;
}
#block-la7it-palinsesto-la7it-palinsesto-lancio-guida-tv .content .view-display-id-header_giornata .contenitoreLancioTxt{
	margin:0 18px 32px 18px;
	padding:0 auto;
	display:block;
	text-align:center;

}
#block-la7it-palinsesto-la7it-palinsesto-lancio-guida-tv .content .view-display-id-header_giornata .contenitoreLancioTxt .contentImg{
		height:340px;
		width:636px;
		margin:0;
		padding:0;
		display:block;
		overflow:hidden;
		background-position:top;
		background-position:left;
		background-repeat:repeat;
		
}
#block-la7it-palinsesto-la7it-palinsesto-lancio-guida-tv .content .view-display-id-header_giornata .blocco_infoTxt{
	margin:0;
	padding:0;
	position:relative;
	display:block;
	/*display:table-cell;*/
	height:340px;
	overflow:hidden;
	vertical-align:middle;
}
#block-la7it-palinsesto-la7it-palinsesto-lancio-guida-tv .content .view-display-id-header_giornata .blocco_infoTxt .lancioBoxSpazioTesto{
	position:absolute;
	max-width:300px;
	max-height:250px;
	overflow:hidden;
	top:18%;
	left:0;
	display:table-cell;

}
#block-la7it-palinsesto-la7it-palinsesto-lancio-guida-tv .contenitoreLancioTxt .lancioBoxSpazioTesto .indicazioneOrario{
	display:block;
	margin:0px;
	padding: 0 18px;
	background:#ffc323;
		color:#564c45;
}
#block-la7it-palinsesto-la7it-palinsesto-lancio-guida-tv .contenitoreLancioTxtLa7  .lancioBoxSpazioTesto .indicazioneOrario{background:#ffc323; color:#564c45;}
#block-la7it-palinsesto-la7it-palinsesto-lancio-guida-tv .contenitoreLancioTxtLa7d  .lancioBoxSpazioTesto .indicazioneOrario{background:#c80050; color:#FFF;}
#block-la7it-palinsesto-la7it-palinsesto-lancio-guida-tv .contenitoreLancioTxt  .lancioBoxSpazioTesto .indicazioneOrario .giorno{

	float:left;
	margin:0 0;
	padding:18px 0 0 0;
	font:bold 18px/18px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	text-transform:uppercase;
	vertical-align: baseline;

}
#block-la7it-palinsesto-la7it-palinsesto-lancio-guida-tv .contenitoreLancioTxt .lancioBoxSpazioTesto .indicazioneOrario .ora{
	float:right;
	margin:0;
	padding:0;
	font:bold 40px/40px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
}

#block-la7it-palinsesto-la7it-palinsesto-lancio-guida-tv .contenitoreLancioTxt .lancioBoxSpazioTesto  .spazioLancioTxt{
	background:#FFF;
	text-align:left;
padding:0 12px 18px 18px;
	margin:0 0 0 0;
	font:bold 14px/16px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	
color:#c7d6e64;
}
#block-la7it-palinsesto-la7it-palinsesto-lancio-guida-tv .contenitoreLancioTxt .lancioBoxSpazioTesto  .spazioLancioTxt .titolo{
	color: #EB5A0F;
    font: bold 24px/24px "GothamBold",Arial,Helvetica,sans-serif !important;
    margin: 0;
    padding:12px 0 ;
    text-align: left;
    text-transform: uppercase;
}
#block-la7it-palinsesto-la7it-palinsesto-lancio-guida-tv .contenitoreLancioTxtLa7 .lancioBoxSpazioTesto  .spazioLancioTxt .titolo{color: #EB5A0F;}
#block-la7it-palinsesto-la7it-palinsesto-lancio-guida-tv .contenitoreLancioTxtLa7d .lancioBoxSpazioTesto  .spazioLancioTxt .titolo{color:#c80050;}
#block-la7it-palinsesto-la7it-palinsesto-lancio-guida-tv .contenitoreLancioTxt .lancioBoxSpazioTesto  .spazioLancioTxt .testo{ 
color:#564C45;

}
#block-la7it-palinsesto-la7it-palinsesto-lancio-guida-tv .contenitoreLancioTxt .lancioBoxSpazioTesto  .spazioLancioTxt .testo a{color: #EB5A0F;}
#block-la7it-palinsesto-la7it-palinsesto-lancio-guida-tv .contenitoreLancioTxtLa7 .lancioBoxSpazioTesto  .spazioLancioTxt .testo a{color: #EB5A0F;}
#block-la7it-palinsesto-la7it-palinsesto-lancio-guida-tv .contenitoreLancioTxtLa7d .lancioBoxSpazioTesto  .spazioLancioTxt .testo a{color: #c80050;}

#block-la7it-palinsesto-la7it-palinsesto-lancio-guida-tv .contenitoreLancioTxt .link{
	display:block;
	margin:0px;
	padding:0px;
	height:30px;
	}
#block-la7it-palinsesto-la7it-palinsesto-lancio-guida-tv .contenitoreLancioTxt .link .linkFloat{
float:right;
margin:0px;
padding:6px 0 6px 0;
 background: none repeat scroll 0 0 #FFC323;
 font: bold 18px/20px Arial,Helvetica,Geneva,Tahoma,verdana,sans-serif !important;
}
#block-la7it-palinsesto-la7it-palinsesto-lancio-guida-tv .contenitoreLancioTxtLa7 .link .linkFloat{background:#FFC323;}
#block-la7it-palinsesto-la7it-palinsesto-lancio-guida-tv .contenitoreLancioTxtLa7d .link .linkFloat{background:#C80050;}
#block-la7it-palinsesto-la7it-palinsesto-lancio-guida-tv .contenitoreLancioTxt .link .linkFloat a {
    background: url("../../../../themes/la7/images/arrow_prev_white_stone_sprite.png") no-repeat scroll right -76px rgba(0, 0, 0, 0) !important;
    color: #FFFFFF;
    display: block;
    font: bold 18px/20px Arial,Helvetica,Geneva,Tahoma,verdana,sans-serif !important;
    margin:0 10px 0 10px;
    padding: 0 16px 0 0;
}
#block-la7it-palinsesto-la7it-palinsesto-lancio-guida-tv .contenitoreLancioTxtLa7 .link .linkFloat  a:hover{
	 background: url("../../../../themes/la7/images/arrow_prev_white_stone_sprite.png") no-repeat scroll right -116px rgba(0, 0, 0, 0) !important;
	 text-decoration:none;
	 color: #564C45;
}

#block-la7it-palinsesto-la7it-palinsesto-lancio-guida-tv .contenitoreLancioTxtLa7d .link .linkFloat  a:hover{
 background: url("../../../../themes/la7/images/arrow_prev_white_stone_sprite.png") no-repeat scroll right -76px rgba(0, 0, 0, 0) !important;
	 text-decoration:none;
	 color: #FFF;	
	 opacity: .6;
	-webkit-opacity: .6;
	-moz-opacity: .6;
	filter:alpha(opacity=60);
	cursor:pointer;
	}
/* Guida tv - palinsesto */
.wrapper_guida_tv .wrapper_canale {
    margin:0;
    padding:0;
	display:block;
	float:none;
}
.wrapper_guida_tv .wrapper_canale .wrapper_canale_info_top {
	float:none;
     padding:0;
	display:block;
	float:none;
	margin:0px 0px 12px 0px;
}
.wrapper_guida_tv .wrapper_canale .wrapper_canale_info_top .data {
	float:left;
	border-top:1px solid #cacccc;
	border-right:1px dotted #7d6e64;
	margin:0;
	padding:0px;
	width:529px;
	height:40px;
}
.wrapper_guida_tv .wrapper_canale .wrapper_canale_info_top .data .innerData{
	font:bold 24px/28px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	margin:7px 0px 7px 18px;
	padding:0px;
	color:#86786e;
}
.wrapper_guida_tv .wrapper_canale .wrapper_canale_info_top .canale {
	float:right;
	margin:0px;
	border-bottom:1px solid #cacccc;
	width:124px;
	height:40px;
	
}
.wrapper_guida_tv .wrapper_canale .wrapper_canale_info_top .canale a {
	color:#fff;
	text-align:center;
	font:bold 14px/20px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	background: url(../images/guida_tv_arrow.png) 90% 50% no-repeat;
	/*padding-right:21px;
	padding-left:7px;
	*/
	width:auto;
	height:auto;
	padding:7px 0px 8px 0px;
	margin:5px 0 0 0;
	display:block;
	border-left:1px solid #FFF;
}
.wrapper_guida_tv .wrapper_canale #wrapper_canale_info_top .canale a:hover{text-decoration:none;}
.wrapper_guida_tv #wrapper_canale_info_top .canale_la7d a{background-color:#bc0e73;}
.wrapper_guida_tv #wrapper_canale_info_top .canale_la7d a:hover{background-color:#df1c97;}
.wrapper_guida_tv #wrapper_canale_info_top .canale_la7 a{background-color:#ffc323; color:#86786e;}
.wrapper_guida_tv #wrapper_canale_info_top .canale_la7 a:hover{background-color:#ffd748; color:#86786e;}


/* info settimana */
.wrapper_guida_tv .wrapper_canale #wrapper_canale_giorno {
	clear:both;
	width:636px;
	height:72px;
	height:auto;
	margin:0px 18px;
	padding:0;
	float:none;
	display:block;
	clear:both;

}
.wrapper_guida_tv .wrapper_canale #wrapper_canale_giorno #giorni {
	width:636px;
	height:41px;
	border-bottom:0px solid #beb6b1;
		float:none;
	display:block;
	clear:both;
		padding:0;
		overflow:hidden;
		background:#e7e7e8 url(../images/giorni_bg.png) left bottom repeat-x;
		
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.wrapper_guida_tv .wrapper_canale #wrapper_canale_giorno #giorni {
	height:42px;
}
}
.wrapper_guida_tv .wrapper_canale #wrapper_canale_giorno .giorno {
	float:left;
	text-align:center;
}
.wrapper_guida_tv .wrapper_canale #wrapper_canale_giorno .giorno a {
	color:#86786E;
	font:bold 14px/21px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	text-transform:uppercase;
	margin:0;
	display:block;
	background:#9F0;
	padding:7px 14px 8px 12px;
	background:#e7e7e8 url(../images/guida_tv_dot.png) right top repeat-y;
	*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/guida_tv_dot.png', sizingMethod='scale'); /* for png files in ie7*/
}
.wrapper_guida_tv .wrapper_canale #wrapper_canale_giorno .first a {
		padding:7px 10px 8px 15px
}

.wrapper_guida_tv .wrapper_canale #wrapper_canale_giorno .giorno a:hover,
.wrapper_guida_tv .wrapper_canale #wrapper_canale_giorno .last a:hover{
	background-color:#f1f1f2!important;
	*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/guida_tv_dot.png', sizingMethod='scale'); /* for png files in ie7*/
	text-decoration:none;
}
.wrapper_guida_tv .wrapper_canale  #wrapper_canale_giorno #giorni .active {background:url(../images/guida_tv_dot.png) right top repeat-y;}
.wrapper_guida_tv .wrapper_canale  #wrapper_canale_giorno #giorni .active a{
	background-color:#ffc323!important;
	height:27px!important;
	height:28px\0/!important;
	display:block;
	font:bold 14px/21px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	background:url(../images/guida_tv_dot.png) left top repeat-y;
	margin:0 2px 0 -7px;
	
}
.wrapper_guida_tv .wrapper_canale_la7d  #wrapper_canale_giorno #giorni .active a{
	background-color:#BC0E73!important;
	color:#FFF;
}
.wrapper_guida_tv .wrapper_canale  #wrapper_canale_giorno #giorni .last { *padding: 0 0px 0 0; *margin:0 0 0 0; }
.wrapper_guida_tv .wrapper_canale  #wrapper_canale_giorno #giorni .last a{
	background-image:!important;
	padding:7px 15px 8px 12px;
	*padding:7px 15px 8px 12px;
	*margin:0 -7px 0 0;
	*text-wrap:supress;
	background:none;
}
.wrapper_guida_tv .wrapper_canale  #wrapper_canale_giorno #giorni .last .active{
	background:url(../images/guida_tv_dot.png) left top repeat-y !important;
	background-color:#ffc323!important;
	padding:7px 13px 8px 17px;
	*padding:7px 13px 8px 12px;
	margin:0 0 0 -2px;
	*margin:0 -7px 0 0;
}
.wrapper_guida_tv .wrapper_canale_la7d  #wrapper_canale_giorno #giorni .last .active{
background:url(../images/guida_tv_dot.png) left top repeat-y !important;
background-color:#BC0E73!important;
	padding:7px 13px 8px 17px;
	*padding:7px 13px 8px 12px;
	margin:0 0 0 -2px;
	*margin:0 -7px 0 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.wrapper_guida_tv .wrapper_canale  #wrapper_canale_giorno #giorni .last .active {
		padding:7px 12px 8px 17px;
		margin:0 0 0 -2px;
}
}
@media screen and (min-width:0\0) {  
.wrapper_guida_tv .wrapper_canale  #wrapper_canale_giorno #giorni .last a{
	padding:7px 10px 8px 10px!important;/* IE9 and IE10 */
}
.wrapper_guida_tv .wrapper_canale  #wrapper_canale_giorno #giorni .last .active{
		padding:7px 10px 8px 12px!important;/* IE9 and IE10 */
}
}
/*.wrapper_guida_tv .wrapper_canale #wrapper_canale_giorno #giorni .day-1 {
	width:88px;	
}
.wrapper_guida_tv .wrapper_canale #wrapper_canale_giorno #giorni .day-2 {
	width:91px;	
}
.wrapper_guida_tv .wrapper_canale #wrapper_canale_giorno #giorni .day-3 {
	width:111px;	
}
.wrapper_guida_tv .wrapper_canale #wrapper_canale_giorno #giorni .day-4 {
	width:85px;	
}
.wrapper_guida_tv .wrapper_canale #wrapper_canale_giorno #giorni .day-5 {
	width:89px;	
}
.wrapper_guida_tv .wrapper_canale #wrapper_canale_giorno #giorni .day-6 {
	width:86px;	
}
.wrapper_guida_tv .wrapper_canale #wrapper_canale_giorno #giorni .day-7 {
	width:105px;	
}*/

/*.wrapper_guida_tv .wrapper_canale_la7d #wrapper_canale_giorno .active a {
	color:#fff!important;
	width:98%;
}
.wrapper_guida_tv .wrapper_canale #wrapper_canale_giorno .giorno a:hover {
	text-decoration:none!important;
}


.wrapper_canale_la7d #wrapper_canale_giorno .active {
	background-color:#BC0E73!important;
}
*/
.wrapper_guida_tv .wrapper_canale #wrapper_canale_giorno #giorno_fasce_orarie {
	clear:both;
	overflow:hidden;
	background-color:#ffc323;
	width:636px;
	height:32px;
	margin:0 18px 3px 0;
}
.wrapper_canale_la7d #wrapper_canale_giorno #giorno_fasce_orarie {
	background-color:#BC0E73!important;
}
.wrapper_guida_tv .wrapper_canale #wrapper_canale_giorno #giorno_fasce_orarie ul {
	margin:0px 12px 0px 12px;
	padding:6px 0 8px 0;
	display:block;
	width:612px;
}
.wrapper_guida_tv .wrapper_canale #wrapper_canale_giorno #giorno_fasce_orarie ul li{
	float:left;
	margin:0 8px 0 0;
	padding:0 0 0 0;
} 

.wrapper_guida_tv .wrapper_canale #wrapper_canale_giorno #giorno_fasce_orarie ul li.allDay{
	float:right;
	margin:0 0 0 0;
}
.wrapper_guida_tv .wrapper_canale #wrapper_canale_giorno #giorno_fasce_orarie ul li a {
	display:block;
	color:#7d6e64;
	text-transform:none;
	font:bold 14px/20px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	margin:0;
	background: url(../images/guida_tv_arrow_down.png) right center no-repeat;
	padding:4px 13px 4px 5px;

}
.wrapper_guida_tv .wrapper_canale #wrapper_canale_giorno #giorno_fasce_orarie ul li a:hover {
	text-decoration:none!important;
	background-color:#ffd748!important;
}
.wrapper_guida_tv .wrapper_canale #wrapper_canale_giorno #giorno_fasce_orarie ul li a:hover {
	text-decoration:none!important;
	background-color:#ffd748!important;
}
.wrapper_canale_la7d #wrapper_canale_giorno #giorno_fasce_orarie ul li a {
	background:url(../images/guida_tv_arrow_down_la7d.png) right center no-repeat!important;
}

.wrapper_guida_tv .wrapper_canale_la7d #wrapper_canale_giorno #giorno_fasce_orarie ul li a {
	color:#fff;	
}
.wrapper_guida_tv .wrapper_canale_la7d #wrapper_canale_giorno #giorno_fasce_orarie ul li a:hover {
	text-decoration:none!important;
	background-color:#df1c97!important;
}
.wrapper_guida_tv .wrapper_canale #wrapper_canale_giorno #giorno_fasce_orarie ul li a.active,
.wrapper_guida_tv .wrapper_canale_la7d #wrapper_canale_giorno #giorno_fasce_orarie ul li a.active {
	background-color:#fff!important;
	color:#86786E!important;
	text-decoration:none!important;
	background-image:none!important;
	padding:4px 9px 4px 9px;
}
.wrapper_guida_tv .wrapper_canale #wrapper_canale_giorno #giorno_fasce_orarie ul li a.active:hover {
	text-decoration:none!important;
}
/*.wrapper_guida_tv .wrapper_canale #wrapper_canale_giorno #giorno_fasce_orarie #tutto_giorno a {
	float:right;
	display:inline;	
}
*/

/* info giornata */
#content_guida_tv {
	position:relative;
	overflow: hidden;
	margin:0;
	padding:0;
	width:672px;
	float:none;
	display:block;	
}
.wrapper_guida_tv .guida_tv {
    margin:0px 18px 0px 18px;
    padding:0;
	clear:both;
	overflow:hidden;

}
.wrapper_guida_tv .guida_tv .palinsesto_row {
	width:636px;
	border-top:2px solid #d4dde5;
	padding:0px 0px 0px 0px;
	height:auto;
	position:relative;
}
.wrapper_guida_tv .guida_tv .palinsesto .last {
	border-bottom:2px solid #d4dde5;
}
.wrapper_guida_tv .guida_tv .palinsesto_row .palinsesto_row_left {
	float:left;
	width:81px;
	text-align:right;
	margin:0;
	padding:0;
	height:100%;
	/*position:relative;*/
}
.wrapper_guida_tv .guida_tv .palinsesto_row .palinsesto_row_left .thumBlockInner{
	margin:0;
	padding:0 0 14px 0;	
	display:block;
	float:none;
	clear:both;
}
.wrapper_guida_tv .guida_tv .palinsesto_row .palinsesto_row_left .orario {
	font:bold 24px/24px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#86786e;
	margin:7px 0px 7px 0px;
}
.wrapper_guida_tv .guida_tv .palinsesto_row .palinsesto_row_left .thumbnail {
	position:relative;
	margin:0 0 0 0;
	padding:0 0 0 0;
	overflow:hidden;
	width:81px;
	height:66px;
}
.wrapper_guida_tv .guida_tv .palinsesto_row .palinsesto_row_left .thumbnail img {
	display: block;
	width:91px;
	height:auto;
	text-align:center;
	position:absolute;
	left:-5px;
	top:0px;
	margin:0 0 0 0;
	padding:0 0 0 0;
}
.wrapper_guida_tv .guida_tv .palinsesto_row .palinsesto_row_left .thumbnail img:hover {
	opacity: .6;
	-webkit-opacity: .6;
	-moz-opacity: .6;
}
.wrapper_guida_tv .guida_tv .palinsesto_row .palinsesto_row_left .diretta_live {
	width:81px;
	height:18px;
	text-align:center;
	position:absolute;
	bottom:0;
	left:0;
	background:url(../images/diretta_live.png) left top no-repeat!important;
	text-indent:-9999px!important;
}
/*.wrapper_guida_tv .guida_tv .palinsesto_row .palinsesto_row_left .diretta_live a {
	font:normal 10px/10px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#fff;
	background-color:#dc1e00;
	padding:3px 6px 2px 5px;	
}
.wrapper_guida_tv .guida_tv .palinsesto_row .palinsesto_row_left .diretta_live a:hover {
	text-decoration:none!important;
}*/

.wrapper_guida_tv .guida_tv .palinsesto_row .palinsesto_row_right {
	float:left;
	width:555px;
	margin:0;
	padding:0;
	text-align:left;
	height:auto;
}

.wrapper_guida_tv .guida_tv .palinsesto_row .palinsesto_row_right .testualeInner{
	display:block;
	float:none;
	clear:both;
	height:auto;
	margin:0;
	padding:0 0 0 14px;
}
.wrapper_guida_tv .guida_tv .palinsesto_row .palinsesto_row_right .testoInfo {
	display:block;
	float:none;
	clear:both;
	height:auto;
	margin:0 0 12px 0;
}
.wrapper_guida_tv .guida_tv .palinsesto_row .btnRow {
	font:normal 11px/20px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	position:absolute;
	margin:0 0 0 0;
	padding:0 0 0 0;
	bottom:0;
	left:95px;
	float:none;
	display:block;
	clear:both;
	text-transform:uppercase;
}
.wrapper_guida_tv .guida_tv .palinsesto_row .palinsesto_row_right .titolo {
	font:bold 24px/24px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#86786e;
	margin:7px 0px 11px 0px;
}
.wrapper_guida_tv .guida_tv .palinsesto_row .palinsesto_row_right .titolo a {
	color:#eb5a0f;
	background:url(../images/guida_tv_arrow_right_sprite.png) right 7px no-repeat!important;
	padding:0 12px 0 0;
	/*padding-right:13px;*/
}
.wrapper_guida_tv_la7d .guida_tv .palinsesto_row .palinsesto_row_right .titolo a {
	color:#bc0e73;
	background:url(../images/guida_tv_arrow_right_sprite.png) right -49px no-repeat!important;
	/*padding-right:13px;*/
}
.wrapper_guida_tv .guida_tv .palinsesto_row .palinsesto_row_right .titolo a:hover {
	text-decoration:none!important;
	color:#ff7e15;
	background:url(../images/guida_tv_arrow_right_sprite.png) right -21px no-repeat!important;
}
.wrapper_guida_tv_la7d .guida_tv .palinsesto_row .palinsesto_row_right .titolo a:hover{
	color:#df1c97;
	background:url(../images/guida_tv_arrow_right_sprite.png) right -77px no-repeat!important;
	/*padding-right:13px;*/
}
.wrapper_guida_tv .guida_tv .palinsesto_row .palinsesto_row_right .descrizione {
	color:#86786e;
	font:normal 12px/14px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	margin:0 0 20px 0;
}
.wrapper_guida_tv .guida_tv .palinsesto_row .btnRow .approfondisci {
	color:#a0a6ab;
	margin:10px 0 12px 0;
	padding:0;
	font:normal 10px/10px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
}
.wrapper_guida_tv .guida_tv .palinsesto_row .btnRow .approfondisci a {
	color: #6E7984;
	padding:0 10px 0 0;
	background:url(../images/freccia_btn_row.png) right 3px no-repeat!important;
	
}
/*.wrapper_guida_tv .guida_tv .palinsesto_row .palinsesto_row_right .testoInfo {
	position:absolute;
	top:0;
	height:auto;	
}
.wrapper_guida_tv .guida_tv .palinsesto_row .palinsesto_row_right .titolo {
	font:bold 24px/24px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#86786e;
	margin:7px 0px 0px 0px;
	padding-bottom:11px;
}
.wrapper_guida_tv .guida_tv .palinsesto_row .palinsesto_row_right .titolo a {
	color:#eb5a0f!important;
	background:url(../images/guida_tv_arrow_right.png) right center no-repeat!important;
	padding-right:13px;
}
.wrapper_guida_tv .guida_tv .palinsesto_row .palinsesto_row_right .titolo a:hover {
	text-decoration:none!important;
}
.wrapper_guida_tv .guida_tv .palinsesto_row .palinsesto_row_right .descrizione {
	color:#86786e;
	font:normal 12px/12px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
}
.wrapper_guida_tv .guida_tv .palinsesto_row .approfondisci {
	font:normal 11px/20px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	position:absolute;
	bottom:0;
	margin-bottom:5px;
}
.wrapper_guida_tv .guida_tv .palinsesto_row .approfondisci a {
	color:#a0a6ab;
}
*/
.wrapper_canale_programma{
	display:none;
}

/* ----------------------------------------------- MOSAICO RIVEDI LA-------------------------------------- */
/* --------------------------------------------------------------------------------------------- */
#block-block-18,
.switcherMosaicoLa7{

	margin:0px 18px 22px 17px ;
	padding:0px;
	display:block;
}
ul.switcherMosaico{
	margin:0px;
	padding:0px;
	/*background:#FF0000;*/
	list-style:none;
	display:block;
	text-align:left;
}
ul.switcherMosaico li{
	display:inline;
list-style:none;
text-transform:uppercase;
font:normal 10px/10px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
float:left;
margin:0px 4px 0 0;
padding:0px;
cursor:pointer;
	}
ul.switcherMosaico li .label{
	display:block;
	margin:0;
	padding:8px 8px 8px 8px;
	background:#e7e7e8;
	color:#726056;
	}
	
ul.switcherMosaico .active .label{
	background:#ffc323;
	}
.switcherMosaicoLa7 .contenitoreMosaico{
	width:637px;
	height:318px;
	margin:0;
	padding:0;
	display:block;
	overflow:hidden;
	background:#FFF;
}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7{
	margin:0;
	padding:0;
	position:relative;
	display:block;
	background:#00F;
}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicoElement{
	position:absolute;
	margin:0;
	padding:0;
	overflow: hidden;
	display:block;
	background:#e7e7e8;
	width:157px;
	height:104px;
}

.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7  .modificaNodo{
  margin: 4px 10px 0 0;
    padding: 0;
	position:absolute;
	top:0;
	right:0;
	z-index:11;
}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .modificaNodo a {
		padding: 2px 2px!important;
	margin:2px 2px 0px 0px!important;
	background:#FFF!important;
	font:normal 10px/10px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	text-transform:uppercase;
	display:inline;
}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicPos1{
	width:317px;
	height:211px;
	top:0;
	left:0;
	background:#e7e7e8 url(../images/mosaico_sfondo_sprite.png) 0 0 no-repeat!important;
	
}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicoElementla7{
	background:#e7e7e8 url(../images/mosaico_sfondo_sprite.png) -320px -107px no-repeat!important;
		
}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicoElementla7d{
	background:#e7e7e8 url(../images/mosaico_sfondo_sprite.png) -320px 0px no-repeat!important;
		
}
	
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicPos2{
	top:0;
	left:320px;
}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicPos3{
	top:0;
	left:480px;
}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicPos4{
	top:107px;
	left:320px;
}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicPos5{
	top:107px;
	left:480px;
}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicPos6{
	top:214px;
	left:0px;
}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicPos7{
	top:214px;
	left:160px;
}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicPos8{
	top:214px;
	left:320px;
}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicPos9{
	top:214px;
	left:480px;
}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicoElement .elementWrapper{

	margin:0;
	padding:0;
}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicoElement .elementWrapper a{
 background: none repeat scroll 0 0 #302924;
    cursor: pointer;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicoElement .elementWrapper a:hover {
	*text-decoration:none!important;
}

.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicoElement .elementWrapper a .rollOver{
	visibility:hidden;
	display:none;
}



.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicoElement .elementWrapper a .image{
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
	background:#302924;
	width:157px;
	height:104px;
}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicoElement .elementWrapper a .image img{
    margin:-20px 0 0 -50px ;
    padding: 0;
   height:auto;
    width:257px; 
	
}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicPos1 .elementWrapper a .image{	width:317px;	height:211px;}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicPos1 .elementWrapper a .image img{ width:517px;  margin:-40px 0 0 -100px ;}


/*.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicoElement .elementWrapper a .image .intestazione{
 	margin: 0 0 0 0;
    padding:0;
	position:absolute;
	bottom:0;
	left:0;
	display:block;
	float:none;
	clear:both;
	width:100%;
	height:24px;
	z-index:10;
	text-align:left;
	font:bold 11px/11px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	text-transform:uppercase;
	background:url(../images/vetrina_pixel_rollover.png) 0 0 repeat!important;
}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicPos1 .elementWrapper a .image .intestazione{
	font:bold 18px/18px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	height:33px!important;
}


.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicoElement .elementWrapper a .image .intestazione .propertyName{

	padding:0;
	margin:0 0 0 4px;
	color:#FFF;
	width:170px;
	position:relative;
	bottom:-11px;
	left:0;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .pos_1 a .intestazione .propertyName{
	width:392px;
	margin:0 0 0 8px;
	bottom:-16px;
}
#la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a .intestazione .propertyName p.crozza{
	margin:-4px 0  0 0;
	*margin:0 0 0 0;
}*/
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicoElement .elementWrapper a .image .luminosa {
    bottom: 0;
    height: 24px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    width: 34px;
    z-index: 2;
}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicoElement .elementWrapperLa7 a .image .luminosa {
	background: url("../../../../themes/la7/images/luminose_global_sprite.png") no-repeat scroll -122px -41px;	
}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicoElement .elementWrapperLa7d a .image .luminosa {
	background: url("../../../../themes/la7/images/luminose_global_sprite.png") no-repeat scroll -156px -41px;	
}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicPos1 .elementWrapper a .image .luminosa {
	width:44px;
	height:33px;
}

.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicPos1 .elementWrapperLa7 a .image .luminosa {
	background: url("../../../../themes/la7/images/luminose_global_sprite.png") no-repeat scroll 0 0;	
}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicPos1 .elementWrapperLa7d a .image .luminosa {
	background: url("../../../../themes/la7/images/luminose_global_sprite.png") no-repeat scroll 0 -33px;	
}

/* rollover */
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicoElement .elementWrapper a:hover .image img{	
	opacity: .20;
	-webkit-opacity: .20;
	-moz-opacity: .2;
	filter:alpha(opacity=20);
	cursor:pointer;
}
/*#la7_vetrina_contenitore .la7_vetrina_block_mosaico .la7_vetrina_block_mosaico_element a:hover .intestazione{
	background:none!important;
}
*/
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicoElement .elementWrapper a:hover .rollOver{
	visibility: visible;
	display:block;
	margin: 6px 6px 0 6px;
    padding:0;
	position:absolute;
	top:0;
	left:0;
	display:block;
	float:none;
	clear:both;
	width:100%;
	height:94px;
	text-align:left;
	overflow:hidden;
}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicPos1 .elementWrapper a:hover .rollOver{
		height:200px;
	
	}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicoElement .elementWrapper a:hover .rollOver .title{
	font:bolder 12px/12px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	/*font: bold 12px/12px "GothamBold",Arial,Helvetica,sans-serif;*/
	color:#ffc323!important;
	text-transform:uppercase;
	margin:0 10px 6px 0;
	padding:0;
}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicoElement .elementWrapperLa7 a:hover .rollOver .title{color:#ffc323!important;}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicoElement .elementWrapperLa7d a:hover .rollOver .title{color:#f80893!important;}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicPos1  .elementWrapper a:hover .rollOver .title{
	font:bolder 24px/24px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	font: normal 24px/24px "GothamBold",Arial,Helvetica,sans-serif;
}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicoElement .elementWrapper a:hover .rollOver .dataEmissione{
	font:normal 10px/10px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	/*font: bold 12px/12px "GothamBold",Arial,Helvetica,sans-serif;*/
	color:#FFF!important;
	text-transform:uppercase;
	margin:0 10px 0px 0;
	padding:0;
}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicPos1  .elementWrapper a:hover .rollOver  .dataEmissione{
font:bolder 14px/14px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicoElement .elementWrapper a:hover .rollOver .propertyTitle{
	font:bolder 12px/12px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	/*font: bold 12px/12px "GothamBold",Arial,Helvetica,sans-serif;*/
	color:#FFF!important;
	text-transform:uppercase;
	margin:0 0px 0px 0px;
	padding:0;
	position:absolute;
	bottom:0;
	left:0;
	width:123px;
}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicPos1 .elementWrapper a:hover .rollOver .propertyTitle{
	font:bolder 24px/24px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	font: normal 24px/24px "GothamBold",Arial,Helvetica,sans-serif;
	width:270px;
}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicoElement .elementWrapperLa7 a:hover .rollOver .propertyTitle{color:#ffc323!important;}
.switcherMosaicoLa7 .contenitoreMosaico .mosaico_rivediLa7 .mosaicoElement .elementWrapperLa7d a:hover .rollOver .propertyTitle{color:#f80893!important;}
/* -------------------------------------------------- */
/* ------------- Vista RivediLa7 ------------------- */
/* ------------------------------------------------ */

.wrapper_guida_tv_rivedi {
	clear:both;
    display:block;
    float:none;
    margin:0 18px 6px 0;
    padding:0;
    width:654px;
	text-align:left;
}
.wrapper_guida_tv_rivedi ul li {
	list-style:none!important;
}
.wrapper_guida_tv_rivedi .wrapper_canale {
    margin:0;
    padding:0;
	display:block;
	float:none;
}
.wrapper_guida_tv_rivedi .wrapper_canale .wrapper_canale_info_top {
	float:none;
     padding:0;
	display:block;
	float:none;
	margin:0px 0px 12px 0px;
}
.wrapper_guida_tv_rivedi .wrapper_canale .wrapper_canale_info_top .data {
	float:left;
	border-top:1px solid #cacccc;
	border-right:1px dotted #7d6e64;
	margin:0;
	padding:0px;
	width:529px;
	height:40px;
	text-align:center;
	position:relative;
}
.wrapper_guida_tv_rivedi .wrapper_canale .wrapper_canale_info_top .data a:hover {
	text-decoration:none!important;
}
.wrapper_guida_tv_rivedi .wrapper_canale .wrapper_canale_info_top .data .previousData {
	cursor:pointer;
	position:absolute;
	top:15px;
	left:75px;	
	background:url(../images/palinsesto_rivedi_arrow_sprite.png) 0 0 no-repeat;
	width:7px;
	height:12px;
}
.wrapper_guida_tv_rivedi .wrapper_canale .wrapper_canale_info_top .data .nextData {
	cursor:pointer;
	position:absolute;
	top:15px;
	right:57px;	
	background:url(../images/palinsesto_rivedi_arrow_sprite.png) -12px 0 no-repeat;
	width:7px;
	height:12px;
}
.wrapper_guida_tv_rivedi .wrapper_canale .wrapper_canale_info_top .data .prev_day_disabled {
	cursor:default;	
	background:url(../images/palinsesto_rivedi_arrow_sprite.png) 0 -28px no-repeat;
	width:7px;
	height:12px;
}
.wrapper_guida_tv_rivedi .wrapper_canale .wrapper_canale_info_top .data .next_day_disabled {
	cursor:default;	
	background:url(../images/palinsesto_rivedi_arrow_sprite.png) -12px -28px no-repeat;
	width:7px;
	height:12px;
}
.wrapper_guida_tv_rivedi .wrapper_canale .wrapper_canale_info_top .data .innerData{
	font:bold 24px/28px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	margin:7px 0px 7px 18px;
	padding:0px;
	color:#86786e;
}
.wrapper_guida_tv_rivedi .wrapper_canale .wrapper_canale_info_top .canale {
	float:right;
	margin:0px;
	border-bottom:1px solid #cacccc;
	width:124px;
	height:40px;
}
.wrapper_guida_tv_rivedi .wrapper_canale .wrapper_canale_info_top .canale a {
	color:#fff;
	text-align:center;
	font:bold 14px/20px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	background: url(../images/guida_tv_arrow.png) 90% 50% no-repeat;
	/*padding-right:21px;
	padding-left:7px;
	*/
	width:auto;
	height:auto;
	padding:7px 0px 8px 0px;
	margin:5px 0 0 0;
	display:block;
	border-left:1px solid #FFF;
}
.wrapper_guida_tv_rivedi .wrapper_canale #wrapper_canale_info_top .canale a:hover{text-decoration:none;}
.wrapper_guida_tv_rivedi #wrapper_canale_info_top .canale_la7d a{background-color:#bc0e73;}
.wrapper_guida_tv_rivedi #wrapper_canale_info_top .canale_la7d a:hover{background-color:#df1c97;}
.wrapper_guida_tv_rivedi #wrapper_canale_info_top .canale_la7 a{background-color:#ffc323; 

color:#86786e;}
.wrapper_guida_tv_rivedi #wrapper_canale_info_top .canale_la7 a:hover{background-color:#ffd748; 

color:#86786e;}

/* info settimana */
.wrapper_guida_tv_rivedi .wrapper_canale #wrapper_canale_giorno {
	clear:both;
	/*width:636px;*/
	height:72px;
	height:auto;
	margin:33px 0 17px 18px;
	padding:0;
	float:none;
	display:block;
	clear:both;
}
.wrapper_guida_tv_rivedi .wrapper_canale #wrapper_canale_giorno #giorni {
	width:auto;
	height:36px;
	float:none;
	display:block;
	clear:both;
	padding:0;
	margin:0px 0px 0px 4px;
	text-align:center;
}
.wrapper_guida_tv_rivedi .wrapper_canale #wrapper_canale_giorno .giorno {
	float:left;
	height:100%;
	padding:0px 9px 0px 10px;
	cursor:pointer;	
	background:#e7e7e8 url(../images/guida_tv_dot.png) right top repeat-y;
	*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/guida_tv_dot.png', 

sizingMethod='scale'); /* for png files in ie7*/
}
.wrapper_guida_tv_rivedi .wrapper_canale #wrapper_canale_giorno .giorno:hover {
	background-color:#f1f1f2;
}
.wrapper_guida_tv_rivedi .wrapper_canale #wrapper_canale_giorno .active,
.wrapper_guida_tv_rivedi .wrapper_canale #wrapper_canale_giorno .active:hover {
	background-color:#FFC323;
}
.wrapper_guida_tv_rivedi_la7d .wrapper_canale #wrapper_canale_giorno .active {
	background-color:#BC0E73!important;	
}
.wrapper_guida_tv_rivedi .wrapper_canale #wrapper_canale_giorno .active .active {
	background:none!important;
}
.wrapper_guida_tv_rivedi .wrapper_canale #wrapper_canale_giorno .giorno a {
	color:#726056;
	font:bold 14px/21px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	text-transform:uppercase;
	margin:0;
	display:block;
}
.wrapper_guida_tv_rivedi_la7d .wrapper_canale #wrapper_canale_giorno .giorno .boxGiornoBtn .active {
	color:#fff!important;
}
.wrapper_guida_tv_rivedi .wrapper_canale #wrapper_canale_giorno .giorno a:hover {
	text-decoration:none!important;
}
.wrapper_guida_tv_rivedi .wrapper_canale #wrapper_canale_giorno .giorno .boxGiornoBtn {
	margin-top:-21px;
	*position:relative;
}
.wrapper_guida_tv_rivedi .wrapper_canale #wrapper_canale_giorno .giorno .boxGiornoBtn .dateRowDayMonth {
	width:67px!important;
}
.wrapper_guida_tv_rivedi .wrapper_canale #wrapper_canale_giorno .giorno .boxGiornoBtn .dateRowDayMonth .dateDay {
	float:left;
	font:bold 36px/36px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif!important;
}
.wrapper_guida_tv_rivedi .wrapper_canale #wrapper_canale_giorno .giorno .boxGiornoBtn .dateRowDayMonth .dateMonth {
	float:left;
	padding:10px 0px 0px 0px;
	font:bold 12px/14px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif!important;
}
.wrapper_guida_tv_rivedi .wrapper_canale #wrapper_canale_giorno .giorno .boxGiornoBtn .dateRowWeek {
	line-height:6px!important;	
	padding:0;
	*position:relative;
}


/* info giornata */
.wrapper_guida_tv_rivedi #content_guida_tv {
	position:relative;
	overflow: hidden;
	margin:0;
	padding:0;
	width:672px;
	float:none;
	display:block;	
}
.wrapper_guida_tv_rivedi .guida_tv {
    margin:0px 18px 0px 18px;
    padding:0;
	clear:both;
	overflow:hidden;
}
.wrapper_guida_tv_rivedi .guida_tv .palinsesto_row {
	width:636px;
	border-top:2px solid #d4dde5;
	padding:0px 0px 0px 0px;
	margin-bottom:2px;
	height:auto;
	position:relative;
}
.wrapper_guida_tv_rivedi .guida_tv .palinsesto_row .palinsesto_row_left {
	float:left;
	width:81px;
	text-align:right;
	margin:0;
	padding:0;
	height:100%;
	/*position:relative;*/
}
.wrapper_guida_tv_rivedi .guida_tv .palinsesto_row .palinsesto_row_left .thumBlockInner{
	margin:0;
	padding:0 0 14px 0;	
	display:block;
	float:none;
	clear:both;
}
.wrapper_guida_tv_rivedi .guida_tv .palinsesto_row .palinsesto_row_left .orario {
	font:bold 24px/24px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#86786e;
	margin:7px 0px 7px 0px;
}
.wrapper_guida_tv_rivedi .guida_tv .palinsesto_row .palinsesto_row_left .thumbnail {
	position:relative;
	margin:0;
	padding:0;
	overflow:hidden;
	width:81px;
	height:82px;
}
.wrapper_guida_tv_rivedi .guida_tv .palinsesto_row .palinsesto_row_left .thumbnail .iconReplica {
	margin:0;
	padding:0;	
	position:absolute;
	width:22px;
	height:22px;
	top:0;
	left:0;
	background:#FFC323 url(../images/icon_rivedi.png) center center no-repeat;
	z-index:2;
}
.wrapper_guida_tv_rivedi .guida_tv .palinsesto_row .palinsesto_row_left .thumbnail .iconReplica_la7d {
	background:#BC0E73 url(../images/icon_rivedi.png) center center no-repeat;
}
.wrapper_guida_tv_rivedi .guida_tv .palinsesto_row .palinsesto_row_left .thumbnail .luminosaProperty {
	background:url(../images/luminosa_la7.png) left top no-repeat;
	margin:0;
	padding:0;	
	position:absolute;
	width:32px;
	height:24px;
	bottom:0;
	right:0;
	z-index:2;
}
.wrapper_guida_tv_rivedi .guida_tv .palinsesto_row .palinsesto_row_left .thumbnail .luminosaProperty_la7d {
	background:url(../images/luminosa_la7d.png) left top no-repeat;
}
.wrapper_guida_tv_rivedi .guida_tv .palinsesto_row .palinsesto_row_left .thumbnail img {
	display: block;
	width:148px;
	height:auto;
	text-align:center;
	position:absolute;
	left:-30px;
	top:0px;
	margin:0;
	padding:0;
	z-index:1;
}
.wrapper_guida_tv_rivedi .guida_tv .palinsesto_row .palinsesto_row_left .thumbnail img:hover {
	opacity: .6;
	-webkit-opacity: .6;
	-moz-opacity: .6;
}
.wrapper_guida_tv_rivedi .guida_tv .palinsesto_row .palinsesto_row_left .diretta_live {
	width:81px;
	height:18px;
	text-align:center;
	position:absolute;
	bottom:0;
	left:0;
	background:url(../images/diretta_live.png) left top no-repeat!important;
	text-indent:-9999px!important;
}
.wrapper_guida_tv_rivedi .guida_tv .palinsesto_row .palinsesto_row_right {
	float:left;
	width:555px;
	margin:0;
	padding:0;
	text-align:left;
	height:auto;
}

.wrapper_guida_tv_rivedi .guida_tv .palinsesto_row .palinsesto_row_right .testualeInner{
	display:block;
	float:none;
	clear:both;
	height:auto;
	margin:0;
	padding:0 0 0 14px;
}
.wrapper_guida_tv_rivedi .guida_tv .palinsesto_row .palinsesto_row_right .testoInfo {
	display:block;
	float:none;
	clear:both;
	height:auto;
	margin:0 0 12px 0;
}
.wrapper_guida_tv_rivedi .guida_tv .palinsesto_row .btnRow {
	font:normal 11px/20px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	position:absolute;
	margin:0 0 0 0;
	padding:0 0 0 0;
	bottom:0;
	left:95px;
	float:none;
	display:block;
	clear:both;
	text-transform:uppercase;
}
.wrapper_guida_tv_rivedi .guida_tv .palinsesto_row .palinsesto_row_right .titolo {
	font:bold 24px/24px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#86786e;
	margin:7px 0px 4px 0px;
}
.wrapper_guida_tv_rivedi .guida_tv .palinsesto_row .palinsesto_row_right .titolo a {
	color:#eb5a0f;
	background:url(../images/guida_tv_arrow_right_sprite.png) right 7px no-repeat!important;
	padding:0 12px 0 0;
}
.wrapper_guida_tv_rivedi_la7d .guida_tv .palinsesto_row .palinsesto_row_right .titolo a {
	color:#bc0e73;
	background:url(../images/guida_tv_arrow_right_sprite.png) right -49px no-repeat!important;
}
.wrapper_guida_tv_rivedi .guida_tv .palinsesto_row .palinsesto_row_right .titolo a:hover {
	text-decoration:none!important;
	color:#ff7e15;
	background:url(../images/guida_tv_arrow_right_sprite.png) right -21px no-repeat!important;
}
.wrapper_guida_tv_rivedi_la7d .guida_tv .palinsesto_row .palinsesto_row_right .titolo a:hover{
	color:#df1c97;
	background:url(../images/guida_tv_arrow_right_sprite.png) right -77px no-repeat!important;
	/*padding-right:13px;*/
}
.wrapper_guida_tv_rivedi .guida_tv .palinsesto_row .palinsesto_row_right .titolo-replica {
	font:bold 18px/20px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#86786e;
}
.wrapper_guida_tv_rivedi .guida_tv .palinsesto_row .palinsesto_row_right .descrizione {
	color:#86786e;
	font:normal 12px/14px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	margin:0 0 20px 0;
}
.wrapper_guida_tv_rivedi .guida_tv .palinsesto_row .btnRow .approfondisci {
	color:#5b6d7f;
	margin:10px 20px 12px 0;
	padding:0;
	font:bold 11px/11px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	float:left;
}
.wrapper_guida_tv_rivedi .guida_tv .palinsesto_row .btnRow .approfondisci a {
	color:#5b6d7f;
	padding:0 10px 0 0;
	background:url(../images/freccia_btn_row.png) right 3px no-repeat!important;
}


/* contenuto non disponibile */
.wrapper_guida_tv_rivedi .guida_tv .palinsesto .non_disponibile .palinsesto_row_left .orario,
.wrapper_guida_tv_rivedi .guida_tv .palinsesto .non_disponibile .palinsesto_row_right .titolo,
.wrapper_guida_tv_rivedi .guida_tv .palinsesto .non_disponibile .palinsesto_row_right .descrizione  {
	color:#c2bbb6;
}
.wrapper_guida_tv_rivedi .guida_tv .palinsesto .non_disponibile .palinsesto_row_left .thumbnail {
	width:auto!important;
	height:auto!important;
}
.wrapper_guida_tv_rivedi .guida_tv .palinsesto .non_disponibile .palinsesto_row_left .thumbnail img {
	width:81px!important;
	height:76px!important;
	position:static!important;
}
.wrapper_guida_tv_rivedi .guida_tv .palinsesto .non_disponibile .palinsesto_row_left .thumbnail img:hover {
	opacity:1!important;
}
.wrapper_guida_tv_rivedi .guida_tv .palinsesto .non_disponibile .label_no_replica {
	position:absolute;
	left:0;
	bottom:0;
	font:bold 13px/15px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#fff;
	background-color:#86786e;
	padding:3px 12px 1px 10px;
}

/* ---------------------------------------------------------- */
/* ----------- Guida Tv - Homepage widget giorno ----------- */
/* -------------------------------------------------------- */

/*.wrapper_widget_giorno .wrapper_canale_programma {
	display: block;
}*/
 #block-la7it-palinsesto-la7it-palinsesto-widget-giorno {
	clear:both;
    display:block;
    float:none;
    margin:12px 0px 11px 0px;
    padding:0;
    text-align:left;
    width:100%;	
}
.pageHomela7d #block-la7it-palinsesto-la7it-palinsesto-widget-giorno {
    margin:16px 0px 27px 0px;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-giorno h2 {
	font:normal 24px/24px "GothamBold",Arial,Helvetica,sans-serif !important;
	color:#8c8f92;
	text-align:left;
	margin:0!important;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-giorno .wrapper_widget_giorno .wrapper_canale_programma_btn {
	float:right;
	margin:-12px 0px 4px 0px;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-giorno .wrapper_widget_giorno .wrapper_canale_programma_prev {
	background:url(../images/home_widget_giorno_arrow_left.png) left center no-repeat!important;
	width:8px;
	height:13px;
	margin-right:14px;
	float:left;
	cursor:pointer;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-giorno .wrapper_widget_giorno .wrapper_canale_programma_next {
	background:url(../images/home_widget_giorno_arrow_right.png) left center no-repeat!important;
	width:8px;
	height:13px;
	float:left;
	cursor:pointer;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-giorno .wrapper_widget_giorno .wrapper_canali_header {
	clear:both;	
	border-top:1px solid #c8c9cb;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-giorno .wrapper_widget_giorno .wrapper_canale {
	width:100%;
	height:62px;
	position:relative;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-giorno .wrapper_widget_giorno .wrapper_canale_programma_luminosa {
	position:absolute;
	top:0;
	left:0;
	width:83px;
	height:100%;
	z-index:3;
	background:url(../images/palinsesto_canale_home_sprite_short.png) left top no-repeat;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-giorno .wrapper_widget_giorno .wrapper_canali_header .wrapper_canale .la7d {
	position:absolute;
	top:0;
	left:0;
	width:83px;
	height:100%;
	z-index:3;
	background:url(../images/palinsesto_canale_home_sprite_short.png) left bottom no-repeat!important;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-giorno .wrapper_widget_giorno .wrapper_canale_programma_luminosa_banda_sx_down {
	position:absolute;
	bottom:0;
	left:83px;
	width:110px;
	height:11px;
	z-index:3;
	border-bottom:11px solid #febf22;
	margin-left:-1px;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-giorno .wrapper_widget_giorno .banda_sx_down_la7d {
	border-bottom:11px solid #bc0e73!important;
}
/*.wrapper_widget_giorno .la7 {
	background-position: left top;
}
.wrapper_widget_giorno .la7d {
	background-position: left bottom;
}*/
#block-la7it-palinsesto-la7it-palinsesto-widget-giorno .wrapper_widget_giorno .wrapper_canale_programmi_content {
	position:absolute;
	top:0;
	left:83px;
	bottom:0;
	right:0;
	z-index:1;
	overflow:hidden;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-giorno .wrapper_widget_giorno .wrapper_canale_programmi {
	position:absolute;
	left:0;
	top:0;
	height:100%;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-giorno .wrapper_widget_giorno .wrapper_canale_programmi .programma {
	float:left;
	width:110px;
	height:100%;
	border-right:1px solid #C8C9CB;
	position:relative;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-giorno .wrapper_widget_giorno .wrapper_canale_programmi .programma .orario {
	padding:5px 8px 0px 8px;
	font:bold 14px/16px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#5b5c5e;
	float:left;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-giorno .wrapper_widget_giorno .wrapper_canale_programmi .programma .diretta_live {
	background:url(../images/home_widget_giorno_btn_live.jpg) left top no-repeat!important;
	width:28px;
	height:11px;
	float:left;
	margin:8px 0px 0px 0px;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-giorno .wrapper_widget_giorno .wrapper_canale_programmi .programma .titolo {
	padding:3px 8px 0px 8px;
	*padding:1px 8px 0px 8px;
	font:normal 10px/10px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	clear:both;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-giorno .wrapper_widget_giorno .wrapper_canale_programmi .programma .titolo a {
	font:normal 10px/10px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#5b5c5e;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-giorno .wrapper_widget_giorno .wrapper_canale_programmi .programma .banda_sx_down {
	position:absolute;
	left:0;
	bottom:0;
	width:109px;
	height:6px;
	background-color:#8C8F92;
}


/*   palinsesto nodo STREAMING  */
#contentPageDirette-tv  #colSx #block-la7it-palinsesto-la7it-palinsesto-widget-giorno {
	/*clear:both;
    display:block;
    float:none;*/
    margin:12px 17px 11px 17px;
  /*  padding:0;
    text-align:left;
    width:100%;	*/
	width:auto;
}

.wrapper_la7d a {
    color: #9900aa!important;
}

.wrapper_la7d a.active {
    color: #000000!important;
}

.wrapper_la7d .palinsesto-main tr.odd {
    background-color: #ffccee;
}