/* --------------------------------------------------------------------------- */
/* ------------- Vista tutti i programmi e tutti i personaggi --------------- */
/* ------------------------------------------------------------------------- */
.view-tutti-i-programmi,
#contentPageTutti-i-personaggi #colSx .view-tutti-i-personaggi {
	clear:both;
    display:block;
    float:none;
    margin:0px 0px 78px 0px;
    padding:0;
    text-align:left;
    width:672px;
}
.view-tutti-i-programmi .view-header,
#contentPageTutti-i-personaggi #colSx .view-tutti-i-personaggi .view-header {
	height:28px;
    padding:7px 18px 9px 26px;
	margin:0;
	border-top:5px solid #e7e7e8;	
	border-bottom:5px solid #e7e7e8;	
}
.view-tutti-i-programmi .view-header .view_row,
#contentPageTutti-i-personaggi #colSx .view-tutti-i-personaggi .view-header .view_row {
	float:left;
	margin:0px 14px 0px 0px;
}
.view-tutti-i-programmi .view-header a,
#contentPageTutti-i-personaggi #colSx .view-tutti-i-personaggi .view-header a {
	color:#86765e;
	font:bold 24px/26px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	text-transform:uppercase;
}
.view-tutti-i-programmi .view-header a:hover,
.view-tutti-i-programmi .view-header .views_row_active a,
#contentPageTutti-i-personaggi #colSx .view-tutti-i-personaggi .view-header a:hover,
#contentPageTutti-i-personaggi #colSx .view-tutti-i-personaggi .view-header .views_row_active a {
	color:#eb5a0f;
	text-decoration:none!important;
}
.view-tutti-i-programmi .view-header a:visited,
.view-tutti-i-programmi .view-header a:link,
.view-tutti-i-programmi .view-header a:focus,
#contentPageTutti-i-personaggi #colSx .view-tutti-i-personaggi .view-header a:visited,
#contentPageTutti-i-personaggi #colSx .view-tutti-i-personaggi .view-header a:link,
#contentPageTutti-i-personaggi #colSx .view-tutti-i-personaggi .view-header a:focus {
	text-decoration:none!important;
}
.view-tutti-i-programmi .view-content,
#contentPageTutti-i-personaggi #colSx .view-tutti-i-personaggi .view-content {
	clear:both;
	margin:0;
}
.view-tutti-i-programmi .view-content h3,
#contentPageTutti-i-personaggi #colSx .view-tutti-i-personaggi .view-content h3 {
	padding:15px 0 0 18px;
	margin:0px 18px 0px 0px;
	color:#eb5a0f;
	font:bold 36px/38px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	border-bottom:2px solid #d4dde5;
}
.view-tutti-i-programmi .view-content .views-row .itemTuttiProgrammi,
#contentPageTutti-i-personaggi #colSx .view-tutti-i-personaggi .view-content .views-row .itemTuttiPersonaggi {
	width:636px;
	height:auto;
	margin:0px 18px 0px 0px;
	padding:6px 0px 8px 18px;
	border-bottom:2px solid #d4dde5;	
}
.view-tutti-i-programmi .view-content .views-row .itemTuttiProgrammi .wrapperImgProgrammi,
#contentPageTutti-i-personaggi #colSx .view-tutti-i-personaggi .view-content .views-row .itemTuttiPersonaggi .wrapperImgPersonaggi {
	float:left;
	width:116px;
}
.view-tutti-i-programmi .view-content .views-row .views-field-field-img-menu-tuttiiprogrammi,
#contentPageTutti-i-personaggi #colSx .view-tutti-i-personaggi .view-content .views-row .views-field-field-immagine-personaggio {
	/*float:left;*/
	position:relative;
	margin:2px 10px 0px 0px;
	padding:0;
	overflow:hidden;
	width:106px;
	height:60px;
}
.view-tutti-i-programmi .view-content .views-row .views-field-field-img-menu-tuttiiprogrammi img {
	display: block;
	width:106px;
	height:60px;
	text-align:center;
	/*position:absolute;
	left:0;
	top:0px;*/
	margin:0;
	padding:0;
}
#contentPageTutti-i-personaggi #colSx .view-tutti-i-personaggi .view-content .views-row .views-field-field-immagine-personaggio img {
	display: block;
	width:140px;
	height:auto;
	text-align:center;
	position:absolute;
	left:-15px;
	top:0px;
	margin:0;
	padding:0;
}
#contentPageTutti-i-personaggi #colSx .view-tutti-i-personaggi .view-content .views-row .itemTuttiPersonaggi:hover .views-field-field-immagine-personaggio img {
	opacity: .6;
	-webkit-opacity: .6;
	-moz-opacity: .6;
	filter:alpha(opacity=60); /* for IE7 */
}
.view-tutti-i-programmi .view-content .views-row .itemTuttiProgrammi .wrapperTestualeProgrammi,
#contentPageTutti-i-personaggi #colSx .view-tutti-i-personaggi .view-content .views-row .itemTuttiPersonaggi .wrapperTestualePersonaggi {
	float:left;
	width:520px;
}
.view-tutti-i-programmi .view-content .views-row .views-field-title a,
#contentPageTutti-i-personaggi #colSx .view-tutti-i-personaggi .view-content .views-row .views-field-title a {
	color: #86765e;
	font:bold 20px/22px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	text-transform:uppercase;
}
.view-tutti-i-programmi .view-content .views-row .views-field-title a:hover,
#contentPageTutti-i-personaggi #colSx .view-tutti-i-personaggi .view-content .views-row .itemTuttiPersonaggi:hover .views-field-title a {
	color:#eb5a0f;
	text-decoration:none!important;
}
.view-tutti-i-programmi .view-content .views-row .views-field-field-testo-in-tutti-i-programmi {
	color:#86786e;
	font:normal 12px/14px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	margin-top:3px;
}


/* ----------------------------------------------------------------- */
/* ------------- Vista tutti i personaggi blocco dx --------------- */
/* --------------------------------------------------------------- */

#block-views-tutti-i-personaggi-block-1 .view-tutti-i-personaggi {
	clear:both;
	display:block;
	float:none;
	width:300px;
	height:152px;
	margin:18px 0px 26px 0px;
	text-align:center;
}
#block-views-tutti-i-personaggi-block-1 .view-tutti-i-personaggi .views-row {
	float:left;	
}
#block-views-tutti-i-personaggi-block-1 .view-tutti-i-personaggi .views-row .itemTuttiPersonaggi {
	position:relative;	
	background-color:#000;	
	margin:0px 1px 0px 0px;
}
#block-views-tutti-i-personaggi-block-1 .view-tutti-i-personaggi .views-row .views-field-field-immagine-personaggio {
	position:relative;
	padding:0;
	overflow:hidden;
	width:99px;
	height:107px;
}
#block-views-tutti-i-personaggi-block-1 .view-tutti-i-personaggi .views-row .views-field-field-immagine-personaggio img {
	display: block;
	width:254px;
	height:auto;
	text-align:center;
	position:absolute;
	left:-50px;
	top:0px;
	margin:0;
	padding:0;
}
#block-views-tutti-i-personaggi-block-1 .view-tutti-i-personaggi .views-row .itemTuttiPersonaggi:hover .views-field-field-immagine-personaggio img {
	opacity: .6;
	-webkit-opacity: .6;
	-moz-opacity: .6;
	filter:alpha(opacity=60);
	cursor:pointer;
}
#block-views-tutti-i-personaggi-block-1 .view-tutti-i-personaggi .itemTuttiPersonaggi .wrapperTestualePersonaggi {
	visibility:hidden;
	display:none;
}
#block-views-tutti-i-personaggi-block-1 .view-tutti-i-personaggi .itemTuttiPersonaggi:hover .wrapperTestualePersonaggi {
	width:99px;
	visibility: visible;
	display:block;
	height:107px;
	text-align:left;
	position:absolute;
	top:0px;
	left:0px;
	height:0;
	z-index:2;
	color:#ffc323;
}
#block-views-tutti-i-personaggi-block-1 .view-tutti-i-personaggi .itemTuttiPersonaggi .wrapperTestualePersonaggi .views-field-title a {
	display:block;
	padding:7px 4px 0px 4px;
	color: #86765e;
	font:bold 14px/14px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	text-transform:uppercase;
}
#block-views-tutti-i-personaggi-block-1 .view-tutti-i-personaggi .itemTuttiPersonaggi:hover .wrapperTestualePersonaggi a {
	text-decoration:none;
	color:#ffc323;
}
.pageHomela7d #block-views-tutti-i-personaggi-block-1 .view-tutti-i-personaggi .itemTuttiPersonaggi:hover .wrapperTestualePersonaggi a {
	text-decoration:none;
	color:#fff;
}
#block-views-tutti-i-personaggi-block-1 .view-tutti-i-personaggi .view-footer {
	clear:both;
	background-color:#eb5a0f;
	padding:13px 0px 9px 0px;	
	width:299px;
}
.pageHomela7d #block-views-tutti-i-personaggi-block-1 .view-tutti-i-personaggi .view-footer {
	background-color:#BC0E73!important;
}
#block-views-tutti-i-personaggi-block-1 .view-tutti-i-personaggi .view-footer a {
	font:bold 20px/20px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#fff;
	text-transform:uppercase;
	background:url(../images/tutti_personaggi_arrow_btn.png) right center no-repeat!important;
	padding-right:38px;
}
#block-views-tutti-i-personaggi-block-1 .view-tutti-i-personaggi .view-footer a:hover,
#block-views-tutti-i-personaggi-block-1 .view-tutti-i-personaggi .view-footer a:focus {
	text-decoration:none;
}

/* ------------------------------------------------------------- */
/* ------------- Tutti i personaggi - dettaglio --------------- */
/* ----------------------------------------------------------- */

.node-la7-personaggi {
	clear:both;
	display:block;
	float:none;
	width:636px;
	height:auto;
	margin:0px 18px 0px 18px;
	padding:0;	
	text-align:left;
}
.node-la7-personaggi h2 {
	margin:0;
	padding:0;
	font:bold 18px/20px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#EB5A0F;
}
.node-la7-personaggi .field-name-field-immagine-personaggio {
	margin:10px 0px 10px 0px;	
}
.node-la7-personaggi .field-name-field-biografia {
	font:bold 14px/16px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#7D6E64;
}


/* -------------------------------------------------------------- */
/* ------------- Ricerca --------------- */
/* ------------ vecchia ricerca  da eliminare  ----------- */
/*.view-ricerca {
	clear:both;
    display:block;
    float:none;
    margin:0;
    padding:0;
    text-align:left;
    width:672px;	
}
.view-ricerca .view-filters {
	display:none;
}
.view-ricerca .view-content {
    clear:both;
    display:block;
    float:none;
    height:auto;
    margin:0px 18px 0px 18px;
    padding:10px 0px 0px 0px;
    text-align:left;
    width:636px;
}

.view-ricerca .view-content .views-row {
    height:128px!important;
	padding:10px 10px 10px 10px;
	border-bottom:10px solid #e7e7e8;	
}

.view-ricerca .view-content .views-row strong {
	padding:1px 2px 1px 2px;
	color:#eb5a0f;
	text-decoration:underline;
}
.view-ricerca .view-content .views-row:hover .views-field-title a {
	color:#eb5a0f;
}
.view-ricerca .view-content .views-row .views-field-field-upload-video {
	float:left;
	position:relative;
	margin:4px 10px 0px 0px;
	padding:0 0 0 0;
	overflow:hidden;
	width:206px;
	height:120px;
}
.view-ricerca .view-content .views-row .views-field-field-upload-video img {
	display: block;
	width:210px;
	height:auto;
	text-align:center;
	position:absolute;
	left:0;
	top:0px;
	margin:0 0 0 0;
	padding:0 0 0 0;
}
.view-ricerca .view-content .views-row:hover .views-field-field-upload-video img {
	opacity:0.6;
	-webkit-opacity:0.6;
	-moz-opacity:0.6;
	filter:alpha(opacity=60);
}
.view-ricerca .view-content .views-row .views-field-title {
	margin:10px 0px 10px 0px;
	padding:0;	
	font:bold 14px/16px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
}
.view-ricerca .view-content .views-row .views-field-title a {
	text-decoration:none;
	color:#7d6e64;
}
.view-ricerca .view-content .views-row .views-field-field-testo-lancio-value {
	color:#303532;
	font:normal 14px/16px Arial, Helvetica, sans-serif;
}
.view-ricerca .view-content .views-row .views-field-field-testo-lancio-value strong {
	font-weight:normal!important;
}
*/
/* paginatore */
.view-ricerca .pager{
	margin:0;
	padding:0;	
	text-align:right;
}
.view-ricerca .pagerTop{margin:0 0 20px 0;}
.view-ricerca .pagerBottom{margin:20px 0 0  0;}
/*.view-ricerca .item-list{
	margin:20px 0 0 18px;
	padding:0;	
	text-align:center;
}
.view-ricerca .item-list{
	margin:20px 0 0 18px;
	padding:0;	
	text-align:center;
}
*/
.view-ricerca .item-list .pager{
	margin:0;
	padding:0;	
	text-align:right;
	font:bold 14px/18px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
}
.view-ricerca .item-list .pager li{
	margin:0;
	padding:0;	
	text-align:center;
}
.view-ricerca .item-list .pager li a:hover{
	text-decoration:none;
	color:#FFF;
	background:#eb5a0f;
}
.view-ricerca .item-list .pager .pager-item a{
	margin:0 2px 0 2px;
	padding:0;	
	width:18px;
	height:18px;
	display: inline-block;
	text-align:center;
	background:#e7e7e8;
	color:#726056;
}
.view-ricerca .item-list .pager .pager-first,
.view-ricerca .item-list .pager .pager-previous,
.view-ricerca .item-list .pager .pager-next,
.view-ricerca .item-list .pager .pager-last{
	margin:0;
	/*margin:2px 0 0 2px;*/
	padding:0 0 0 0;

}
.view-ricerca .item-list .pager .pager-current{
	color:#eb5a0f;
	margin:0 0 0 0;
	padding:0;	
}
.view-ricerca .item-list .pager .pager-ellipsis{
	color:#726056;
	margin:0 0 0 0;
	padding:0;	
}
.view-ricerca .item-list .pager .pager-first a,
.view-ricerca .item-list .pager .pager-previous a,
.view-ricerca .item-list .pager .pager-next a,
.view-ricerca .item-list .pager .pager-last a{
	width:18px!important;
	height:18px!important;
	background:#e7e7e8;
	color:#726056;
	margin:0 2px 0 2px;
	padding:0 0 0 0;
	display: inline-block;
	font:bold 18px/16px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
}

/* Ricerca - nessun risultato */
.view-ricerca .view-empty {
    margin:0 18px 0 18px;
    text-align: left;
}
.view-ricerca .view-empty h2 {
    color:#7D6E64;
	font:bold 20px/22px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
    text-transform:uppercase;
}
.view-ricerca .view-empty p {
    color:#302924;
	font:normal 12px/16px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	padding:6px 0;
}




 /*------------------------------------------------------------------------------------------------- */
  /*---------------------------NUOVA RICERCA ---------------------------------------------- */
 
.view-ricerca {
    clear: both;
    display: block;
    float: none;
    margin: 0 18px;
    padding: 0;
    text-align: left;
    width: 636px;
}
.view-display-id-listing_page_articoli {
	margin:0px 18px;
}
.view-ricerca .intestazioneRicerca{
	width:100%;
	display:block;
	float:none;
	padding:0;
	margin:0;
}
.view-ricerca .intestazioneRicerca .titlePageSearch {
	/*color: #7D6E64;*/
	color:#EB5A0F;
    display: block;
    font: bold 24px/26px "GothamBold",Arial,Helvetica,sans-serif !important;
    margin: 10px 0 0 0;
    padding: 0;
    text-transform: uppercase;
}
.view-ricerca .intestazioneRicerca .subTitlePageSearch{
	/*color: #7D6E64;*/
	color:#574d47;
    display: block;
	font:normal 11px/12px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
    margin: 2px 0 0 0;
    padding: 0;
    text-transform: uppercase;
}
.view-ricerca .view-filters {
	display:none;
}
.view-ricerca  .view-content,
.view-display-id-listing_page_articoli .view-content {
	width:100%;
	height:auto;
	margin:0px;
	padding:0px;
	border-top: 1px solid #D4DDE5;
}
.view-ricerca .view-content .views-row,
.view-display-id-listing_page_articoli .view-content .views-row {
    /*height:128px!important; */
	padding:22px 0 22px 0;
	margin:0;
 	border-bottom: 1px solid #D4DDE5;
	width: 100%;
}
.view-display-id-listing_page_articoli .view-content .views-row {
    height:128px!important;
}
.view-ricerca .view-content .views-row .itemRicercaRow,
.view-display-id-listing_page_articoli .view-content .views-row .itemListingArticle {
    /*height:128px!important; */
	height:auto;
	padding:0;
	margin:0;
	width: 636px;
}
.view-ricerca  .itemRicercaRow .colRicercaImage,
.view-display-id-listing_page_articoli .itemListingArticle .itemListingArticleColImg {
    /*height:128px!important; */
	float:left;
	text-align:left;
	padding:0;
	margin:0;
	width:218px;

} 
.view-ricerca  .itemRicercaRow .colRicercaImage .imageCrop,
.view-display-id-listing_page_articoli .itemListingArticle .itemListingArticleColImg .imageCrop {
	position:relative;
	margin:0;
	padding:0;
	width: 206px;
	height:120px;
	overflow: hidden;
}
.view-ricerca  .itemRicercaRow .colRicercaImage .imageCrop img,
.view-display-id-listing_page_articoli .itemListingArticle .itemListingArticleColImg .imageCrop img {
	position:absolute;
	margin:0;
	padding:0;
	width: 270px;
	height:auto;
	top:-14px;
	left:-32px;
}
.view-ricerca  .itemRicercaRow .colRicercaImage a:hover .imageCrop img,
.view-display-id-listing_page_articoli .itemListingArticle .itemListingArticleColImg a:hover .imageCrop img {
	opacity:0.6;
	-webkit-opacity:0.6;
	-moz-opacity:0.6;
	filter:alpha(opacity=60);
}
.view-ricerca  .itemRicercaRow .colRicercaImage .imageCrop .luminosa {
    bottom: 0;
    height: 33px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    width: 44px;
}
.view-ricerca  .itemRicercaRowLa7 .colRicercaImage .imageCrop .luminosa {
	background: url("../images/luminose_global_sprite.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
.view-ricerca  .itemRicercaRowLa7d .colRicercaImage .imageCrop .luminosa {
	background: url("../images/luminose_global_sprite.png") no-repeat scroll 0 -33px rgba(0, 0, 0, 0);
}
.view-display-id-listing_page_articoli .itemListingArticle .itemListingArticleText .modificaNodo {
	margin:10px 0 10px 0;
	padding:0;	
	font:normal 10px/10px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	text-transform:uppercase;	
}
.view-ricerca  .itemRicercaRow .colRicercaText,
.view-display-id-listing_page_articoli .itemListingArticle .itemListingArticleText {
    /*height:128px!important; */
	float:left;
	text-align:left;
	padding:0;
	margin:0;
	width: 418px;
	font:normal 11px/12px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#828282;
}
.view-display-id-listing_page_articoli .itemListingArticle .itemListingArticleText {
    font:normal 12px/13px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
    position:relative;
    height:140px;
}
.view-ricerca  .itemRicercaRow .colRicercaText strong{color: #EB5A0F; text-transform:uppercase;}
.view-ricerca  .itemRicercaRowLa7d .colRicercaText strong{color: #c80050;}
.view-ricerca  .itemRicercaRow .colRicercaText h2.searchTitle,
.view-display-id-listing_page_articoli .itemListingArticle .itemListingArticleText h2.articoloTitle {
	font:bold 18px/18px "Gotham",Arial,Helvetica,sans-serif !important;
	padding:0;
	margin:0 0 4px 0;
}
.view-ricerca  .itemRicercaRow .colRicercaText h2.searchTitle a,
.view-display-id-listing_page_articoli .itemListingArticle .itemListingArticleText h2.articoloTitle a {
	color:#897a70;
}
.view-ricerca  .itemRicercaRow .colRicercaText h2.searchTitle a strong{color: #EB5A0F; text-transform:uppercase;}
.view-ricerca  .itemRicercaRowLa7d  .colRicercaText h2.searchTitle a strong{color: #c80050; }
.view-ricerca  .itemRicercaRow .colRicercaText .infoContenuto {
	padding:0;
	margin:0;
}

.view-ricerca  .itemRicercaRow .colRicercaText .infoContenuto ul.infoRicerca{
	padding:0;
	margin:0;
	display:inline;
	list-style-type:none;
}
.view-ricerca  .itemRicercaRow .colRicercaText .infoContenuto ul.infoRicerca li.infoRicerca{
	padding:0 6px 0 0;
	margin:0 0 0 0;
	display:inline;
	list-style-type:none;
	font:normal 10px/10px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif!important;
	text-transform:uppercase;
}
.view-ricerca  .itemRicercaRow .colRicercaText .infoContenuto ul.infoRicerca li.infoRicerca p{
	padding:0;
	margin:0;
	display:inline;
}
.view-ricerca  .itemRicercaRow .colRicercaText .infoContenuto ul.infoRicerca li.data {border-right:0px solid #bebebe; }
.view-ricerca  .itemRicercaRow .colRicercaText .infoContenuto ul.infoRicerca li.titleProperty {border-left:1px solid #bebebe;; padding:0 6px 0 6px;}
.view-ricerca  .itemRicercaRow .colRicercaText .infoContenuto ul.infoRicerca li.tipologia {border-left:1px solid #bebebe; padding:0 6px 0 6px;}
.view-ricerca  .itemRicercaRow .colRicercaText .infoContenuto ul.infoRicerca li.modificaNodo {border-right:0px solid #bebebe;background:#FFFF00; padding:0 6px 0 6px; float:right;}



.view-ricerca  .itemRicercaRow .colRicercaText .testoSnippet{
	padding:0;
	margin:12px 0 0 0;
}

/* BIO ECCEZIONALE VERAMENTE */
.view-display-id-listing_page_articoli .views-row  .rowCondividi {
	margin:20px 0 20px 0;
	padding:0;	
	font:normal 10px/10px Arial, Helvetica, Geneva, Tahoma,verdana, sans-serif !important;
	text-transform:uppercase;
	width:100%;
	display:block;
	position:absolute;
	bottom:0;
	overflow:visible!important;
}
.view-display-id-listing_page_articoli .views-row  .rowCondividi .views-field-url {
	margin:0;
	padding:0;	
	display:inline;
	float:left;
}
.view-display-id-listing_page_articoli .views-row  .rowCondividi .views-field-url a {
	color:#6e7984;
}
.view-display-id-listing_page_articoli .views-row  .rowCondividi .views-field-nothing {
	font:normal 10px/10px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;	
	color:#302924;
	padding: 0;
	margin:0;
	text-transform:uppercase;
	color:#6e7984;
	float:right;
	display:inline;
}
.view-display-id-listing_page_articoli .views-row .rowCondividi .views-field-nothing a {
	color:#6e7984;
}
.view-display-id-listing_page_articoli .views-row  .rowCondividi .views-field-nothing a:hover {
	text-decoration:underline;
	color:#6e7984;
	cursor:pointer;
}
.view-display-id-listing_page_articoli .views-row  .rowCondividi .views-field-nothing .btn-share {
	display:block;
	width:auto;
	/*position:absolute;
	top:0;
	right:-108px;*/
	text-align:right;
	margin:0;
	padding:0;
	z-index:12;
	overflow:visible!important;
	
}
.view-display-id-listing_page_articoli .views-row  .rowCondividi .views-field-nothing .btn-share a {
	display:block;
	width:auto;
	text-align:right;
	margin:0;
	padding:0;
	z-index:0;
	position:relative;
}
.view-display-id-listing_page_articoli .views-row  .rowCondividi .views-field-nothing .btn-share .rowSocialElement {
	background:#FFF;
	width:300px;
	height:80px;
	clear:both;
	float: none;
	position:absolute!important;
	bottom:20px;
	right:0;
	cursor:pointer!important;
	z-index:12;
	display:block;
	text-align:center;
    border: 1px solid #DDDDDD;
    box-shadow: 0 0 5px 0 #CCDCDC;
    height: auto;
    margin-left:0px;
    margin-top:-20px;
    padding:10px 7px 7px 7px;
}
.view-display-id-listing_page_articoli .views-row  .rowCondividi .views-field-nothing .btn-share .rowSocialElement .button-facebook {
	float:left!important;
	margin:0 0 0 0;
	padding:0;
	display:inline;
	border:0;
	width:120px!important;
}
.view-display-id-listing_page_articoli .views-row  .rowCondividi .btn-share .rowSocialElement .button-twitter {
	float:left!important;
	margin:0 0 0 0;
	padding:0 0 0 0;
	display:inline;
	border:0;
	width:100px!important;
}
.view-display-id-listing_page_articoli .views-row  .rowCondividi .btn-share .rowSocialElement .button-googleplus {
	float:left!important;
	margin:0;
	padding:0;
	display:inline;
	border:0;
	width:80px!important;
}





/* ---------------------------------------------------------- */
/* --------------- Vista Ricette homepage NEW ------------------- */
/* ---------------------------------------------------------- */
#block-la7it-hp-transmission-la7it-hp-transmission-footer{
	background-color:#efeeed;
	margin:0 0 12px 0;
	padding:0;
	display:block;
	float:none;
	clear:both;
	text-align:left;
	width:100%;
	height:auto;
	overflow:hidden;
}

#block-la7it-hp-transmission-la7it-hp-transmission-footer .lanciFooterHome{
	background-color:#fff;
	border-top:1px solid #c7bfbb;
	margin:28px 0px 0px 0px;
	padding:27px 1px 0 1px;
		overflow:hidden;
}
#block-la7it-hp-transmission-la7it-hp-transmission-footer .lanciFooterHome .itemRow {
	margin:0 21px 9px 21px;
	padding:0;
	width:205px!important;
	height:315px!important;
	overflow:hidden!important;
	position:relative;
	float:left;
	top:0;
	left:0;
	background-color:#efeeed;
}
#block-la7it-hp-transmission-la7it-hp-transmission-footer .lanciFooterHome .itemRow .views-field-field-upload-video {
	position:relative;
	margin:0 0 0 0;
	padding:0 0 0 0;
	overflow:hidden;
	width:205px;
	height:160px;
	background:#FFFFFF!important;
	
}

#block-la7it-hp-transmission-la7it-hp-transmission-footer .lanciFooterHome .itemRow  .views-field-field-upload-video img {
	display: block;
	width:300px;
	height:auto;
	text-align:center;
	position:absolute;
	left:-48px;
	top:-9px;
	margin:0 0 0 0;
	padding:0 0 0 0;
	z-index:1;
}
#block-la7it-hp-transmission-la7it-hp-transmission-footer .lanciFooterHome .itemRow  .views-field-field-upload-video img:hover,
#block-la7it-hp-transmission-la7it-hp-transmission-footer .lanciFooterHome .itemRow .boxImg:hover .views-field-field-upload-video img{
	opacity:0.6;
	-webkit-opacity:0.6;
	-moz-opacity:0.6;
	filter:alpha(opacity=60);
}
#block-la7it-hp-transmission-la7it-hp-transmission-footer .lanciFooterHome .itemRow  .views-field-field-upload-video  .modificaNodo{
	position:absolute;
	top:4px;
	left:4px;
	margin:0 0 0 0;
	padding:0 0 0 0;
	z-index:2;
}
#block-la7it-hp-transmission-la7it-hp-transmission-footer .lanciFooterHome .itemRow  .views-field-field-upload-video  .modificaNodo a{
	font:normal 10px/10px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	margin:0;
	padding:2px 4px;
	background:#FFF;
}
#block-la7it-hp-transmission-la7it-hp-transmission-footer .lanciFooterHome .itemRow  .views-field-field-property {
	width:205px;
	height:18px;
	background-color:#3e1c06;
	padding:11px 0px;
	text-align:center;	
	color:#fff;
	text-transform:uppercase;
	font:bold 14px/18px Arial, Helvetica, sans-serif;

}

#block-la7it-hp-transmission-la7it-hp-transmission-footer .lanciFooterHome .itemRow  .views-field-field-property a{color:#FFF;}
#block-la7it-hp-transmission-la7it-hp-transmission-footer .lanciFooterHome .itemRow  .views-field-field-property a:hover,
#block-la7it-hp-transmission-la7it-hp-transmission-footer .lanciFooterHome .itemRow  .boxImg:hover  .views-field-field-property a{text-decoration:none; color:#eb5a0f;}

#block-la7it-hp-transmission-la7it-hp-transmission-footer .lanciFooterHome .itemRow .views-field-title {
	margin:7px 0px 0px 0px;
	padding:0px 10px 12px 10px;
	border-bottom:1px dashed #c7bfbb;
	font:bold 14px/14px Arial, Helvetica, sans-serif;
	height:42px;
	overflow:hidden;
}
#block-la7it-hp-transmission-la7it-hp-transmission-footer .lanciFooterHome .itemRow .views-field-title a {color:#eb5a0f;}
#block-la7it-hp-transmission-la7it-hp-transmission-footer .lanciFooterHome .itemRow .views-field-title a:hover {text-decoration:none; color:#eb5a0f;}
#block-la7it-hp-transmission-la7it-hp-transmission-footer .lanciFooterHome .itemRow .views-field-view-node {
	margin:0px 10px 0px 10px;
	border-top:1px dashed #fff;
	position:relative;
}
#block-la7it-hp-transmission-la7it-hp-transmission-footer .lanciFooterHome .itemRow .views-field-view-node a {
	position:absolute;
	top:0;
	left:0;
	background:url(../images/home_icon_ricette.png) right center no-repeat;
	padding:8px 78px 24px 0px;
}
#block-la7it-hp-transmission-la7it-hp-transmission-footer .lanciFooterHome .itemRow .views-field-view-node a {
	color:#302924;
	font:normal 10px/18px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
#block-la7it-hp-transmission-la7it-hp-transmission-footer .lanciFooterHome .itemRow .views-field-edit-node {
	position:absolute;
	bottom:0;
	left:0;
	background-color:#FFFFFF;
    padding:0px 3px 0px 3px;
}


/* ---------------------------------------------------------------- */
/* ----------------- Blocco guida tv questa sera ----------------- */
/* -------------------------------------------------------------- */

#block-la7it-palinsesto-la7it-palinsesto-widget-sera {
	clear:both;
    display:block;
    float:none;
    margin:5px 0px 23px 0px;
    padding:0;
    text-align:left;
    width:100%;	
}
#block-la7it-palinsesto-la7it-palinsesto-widget-sera h2 {
	font:normal 30px/32px "GothamBold",Arial,Helvetica,sans-serif !important;
	*font:bold 30px/32px "GothamBold",Arial,Helvetica,sans-serif !important;
	color:#8494a3;
	text-align:center;
	margin:0!important;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-sera .elementoSeparatore {
	padding:0;
	margin:0;
	float:none;
	clear:both;
	background:#fff url("../images/baffo_separatore_dx.png") right top no-repeat!important;
	width:300px;
	height:28px;
	text-align:right;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-sera .wrapper_canali_header {
	width:100%;
	height:40px;
	float:left;
	background:#8494a3 url(../images/border_guida_tv.png) center center repeat-y!important;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-sera .wrapper_canali_header .wrapper_canale {
	float:left;
	width:149px;
	height:40px;
	text-align:center;	
	cursor:pointer;	
}
#block-la7it-palinsesto-la7it-palinsesto-widget-sera .wrapper_canali_header .wrapper_canale_LA7 .wrapper_canale_titolo {
	background:url(../images/luminosa_guida_la7.png) center center no-repeat!important;
	height:48px;
	text-indent:-9999px!important;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-sera .wrapper_canali_header .wrapper_canale_LA7D .wrapper_canale_titolo {
	background:url(../images/luminosa_guida_la7d.png) center center no-repeat!important;
	height:48px;
	text-indent:-9999px!important;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-sera .wrapper_canale_content_visible {
	clear:both;
	float:none;
	margin:0;
	padding:0;
	position:relative;	
}
#block-la7it-palinsesto-la7it-palinsesto-widget-sera .wrapper_canale_content_visible .wrapper_canale_programma_luminosa_LA7 {
	background:#ffc323 url(../images/luminosa_la7_bg_img_guida_tv.png) left top no-repeat!important;
	padding:34px 21px 20px 23px;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-sera .wrapper_canale_content_visible .wrapper_canale_programma_luminosa_LA7D {
	background:#BC0E73 url(../images/luminosa_la7d_bg_img_guida_tv.png) left top no-repeat!important;
	padding:34px 21px 20px 23px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
#block-la7it-palinsesto-la7it-palinsesto-widget-sera .wrapper_canale_content_visible .wrapper_canale_programma_luminosa_LA7 {
	background:#ffc323 url(../images/luminosa_la7_bg_img_guida_tv_chrome.png) left top no-repeat!important;
	padding:34px 21px 20px 23px;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-sera .wrapper_canale_content_visible .wrapper_canale_programma_luminosa_LA7D {
	background:#BC0E73 url(../images/luminosa_la7d_bg_img_guida_tv_chrome.png) left top no-repeat!important;
	padding:34px 21px 20px 23px;
}
}
#block-la7it-palinsesto-la7it-palinsesto-widget-sera .wrapper_canale_content_visible .programma {
	background-color:#fff;
	margin:0px 0px 17px 0px;
	padding:3px 10px 2px 10px;
	font:bold 12px/14px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-sera .wrapper_canale_content_visible .programma .programma_orario {
	float:left;
	width:32px;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-sera .wrapper_canale_content_visible .programma .programma_titolo {
	float:left;
	width:192px;
	margin-left:11px;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-sera .wrapper_canale_content_visible .programma .orario {
	color:#eb5a0f;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-sera .wrapper_canale_content_visible .wrapper_canale_programma_luminosa_LA7D .orario {
	color:#BC0E73;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-sera .wrapper_canale_content_visible .programma .titolo a {
	color:#3E3E40;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-sera .wrapper_canale_content_visible .programma .titolo a:focus {
	text-decoration:none;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-sera .goto_guida_tv {
	margin-top:4px;
	background:url(../images/guida_tv_arrow_right.png) right center no-repeat!important;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-sera .goto_guida_tv a {
	font:bold 12px/14px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#3e3e40;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-sera .goto_guida_tv a:focus {
	text-decoration:none;
}
#block-la7it-palinsesto-la7it-palinsesto-widget-sera .wrapper_canale_programma_luminosa_LA7D .goto_guida_tv a {
	color:#fff!important;
}

/* Blocco guida tv questa sera */
.pageHomela7d #block-la7it-palinsesto-la7it-palinsesto-widget-sera h2 {
	text-align:left;
	background:url(../images/home_la7d__widget_logo.png) left bottom no-repeat!important;
	padding:18px 0px 0px 74px;
}
.pageHomela7d #block-la7it-palinsesto-la7it-palinsesto-widget-sera .wrapper_canali_header {
	/*display:none;	*/
	height:0!important;
	float:none;
	background-image:none!important;
	background-color:transparent!important;
	border-bottom:10px solid #8494A3;
	margin-top:2px;
}
.pageHomela7d #block-la7it-palinsesto-la7it-palinsesto-widget-sera .wrapper_canali_header .wrapper_canale_LA7D .wrapper_canale_titolo {
	background-image:none!important;
    height:auto;
}
.pageHomela7d #block-la7it-palinsesto-la7it-palinsesto-widget-sera .wrapper_canali_header .wrapper_canale {
	height:0!important;
	float:none;
}
.pageHomela7d #block-la7it-palinsesto-la7it-palinsesto-widget-sera .wrapper_canale_content_visible .wrapper_canale_programma_luminosa_LA7D {
	background-image:none!important;
}


/* ---------------------------------------------------- */
/* ----------------- Vista Streaming ----------------- */
/* -------------------------------------------------- */

#contentPageDirette-tv {
    clear:both;
    display:block;
    float:none;
    height:auto;
    width:100%;	
    margin:0;
    padding:0;

}
#contentPageDirette-tv #colSx .node-full,
 #contentPageDirette-tv #colSx .node-la7-live-streaming{
	width:636px;
	padding:0 18px;

	margin:-24px 0 0 0;
}
#contentPageDirette-tv #colSx .node-la7-live-streaming h2 {
	color: #86765E;
	text-align:left;
/*font:24px/24px "GothamBold",Arial,Helvetica,sans-serif ;
text-transform: uppercase;*/
font:bold 18px/20px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#7d6e64;
	padding:10px 0 0 14px;
	

}
#contentPageDirette-tv #colSx .node-la7-live-streaming  .field-name-field-testo-streaming{

	text-align:center;
	margin:auto;
	padding:0px 14px;
}

#contentPageDirette-tv #colSx .bloccoPersonalizzatoReplicheStreaming{
	width:636px;
	margin:28px 0 56px 0;
	padding:0px;
	display:block;
	float:none;
	clear:both;

}
#contentPageDirette-tv #colSx .bloccoPersonalizzatoReplicheStreaming .streamingReplicheCol{
	float:left;
	margin:0;
	padding:28px 0px 0px 0px;
	width:300px;
	text-align:left;
	background: url('../images/baffo_separatore_sx.png') no-repeat scroll left top transparent !important;
}
#contentPageDirette-tv #colSx .bloccoPersonalizzatoReplicheStreaming .streamingReplicheColSx{ margin:0 18px 0 0;

	}
#contentPageDirette-tv #colSx .bloccoPersonalizzatoReplicheStreaming .streamingReplicheColDx{margin:0 0 0 18px;}

#contentPageDirette-tv #colSx .bloccoPersonalizzatoReplicheStreaming .streamingReplicheCol .itemRow .elementoSeparatore{
padding: 0px;
margin: 5px 0px 0px;
float: none;
clear: both;
width: 300px;
height: 28px;
text-align: left;
background: url('../images/baffo_separatore_dx.png') no-repeat scroll left top transparent !important;
}
#contentPageDirette-tv #colSx .bloccoPersonalizzatoReplicheStreaming .streamingReplicheColDx .itemRow .elementoSeparatore{
	background: url('../images/baffo_separatore_dx.png') no-repeat scroll right top transparent !important;
	text-align: right;
}
	

/* ------------------------------------------------ */
/* ------------- Vista Aggregatore --------------- */
/* ---------------------------------------------- */

.view-aggregatore-editoriale {
    clear:both;
    display:block;
    float:none;
	overflow:hidden;
    height:auto;
    width:100%;	
    margin:40px 0 30px 0;
    padding:0;
	text-align:left;
}
.view-aggregatore-editoriale h3 {
	color:#7D6E64;
    font:bold 29px/29px "GothamBold",Arial,Helvetica,sans-serif !important;
    text-align:left;
    text-transform:uppercase;
	background-color:#efeeed;
	margin:0 0 28px 0;
	padding:0 0 0 26px;
}
.view-aggregatore-editoriale .view-content {
	margin:0 18px 0 18px;
	padding:0;
	display:block;
	float:none;
	clear:both;
	overflow:hidden;
	text-align:left;
	height:auto;
	width:auto;
}
.view-aggregatore-editoriale .view-content .views-row {
	margin:0 28px 9px 0;
	/*margin:0 6px 9px 0\0/;*/
	padding:0;
	width:299px;
	height:auto;
	overflow:hidden;
	float:left;
	display:inline;
	/*position:relative;
	top:0;
	left:0;*/
}
.view-aggregatore-editoriale .view-content .views-row:nth-child(4n){
	margin:0 0 9px 0!important;
}
.view-aggregatore-editoriale .view-content .views-row .views-field-field-image {
	margin:0;
	padding:0px;
	overflow:hidden;
	width:299px;
	height:215px;
	position:relative;
}
.view-aggregatore-editoriale .view-content .views-row .views-field-field-image img {
	width:410px;
	height:auto;
	margin:-10px 0 0 -18px;
	position:absolute;
	top:0;
	left:-32px;
}
.view-aggregatore-editoriale .view-content .views-row:hover .views-field-field-image img {
	opacity: .6;
	-webkit-opacity: .6;
	-moz-opacity: .6;
	filter:alpha(opacity=60);
	cursor:pointer;
}
/*.view-aggregatore-editoriale .view-content .views-row .views-field-field-upload-video {
	margin:0;
	padding:0px;
	overflow:hidden;
	width:206px;
	height:120px;
	position:relative;
}
.view-aggregatore-editoriale .view-content .views-row .views-field-field-upload-video .luminosa {
	position:absolute;
	margin:0;
	padding:0;
	width:44px;
	height:33px;
	overflow:hidden;
	bottom:0;
	right:0;
}
.view-aggregatore-editoriale .view-content .views-row:hover .views-field-field-upload-video .luminosa {
  z-index:1;
}
.view-aggregatore-editoriale .view-content .views-row .views-field-field-upload-video .luminosa_LA7 {
	background:url(../images/luminose_global_sprite.png) 0 0 no-repeat!important;
}
.view-aggregatore-editoriale .view-content .views-row .views-field-field-upload-video .luminosa_LA7d {
	background:url(../images/luminose_global_sprite.png) 0 -33px no-repeat!important;
}
.view-aggregatore-editoriale .view-content .views-row .views-field-field-upload-video .luminosa_empty {
	background:none;
}
.view-aggregatore-editoriale .view-content .views-row .views-field-field-upload-video img {
	width:240px;
	height:auto;
	margin:-10px 0 0 -18px;
}
.view-aggregatore-editoriale .view-content .views-row:hover .views-field-field-upload-video img {
	opacity: .6;
	-webkit-opacity: .6;
	-moz-opacity: .6;
	filter:alpha(opacity=60);
	cursor:pointer;
}*/
.view-aggregatore-editoriale .view-content .views-row .views-field-title {
	margin:10px 0 10px 0;
	padding:0;	
	font:bold 18px/20px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
}
.view-aggregatore-editoriale .view-content .views-row .views-field-title a {
	text-decoration:none;
	color:#EB5A0F;
	text-transform:uppercase;
}
/*.view-aggregatore-editoriale .view-content .views-row:hover .title_LA7 .views-field-title a {
	text-decoration:none;
	color:#eb5a0f;
}
.view-aggregatore-editoriale .view-content .views-row:hover .title_LA7d .views-field-title a {
	text-decoration:none;
	color:#c80050;
}
.view-aggregatore-editoriale .view-content .views-row:hover .title_luminosa_empty .views-field-title a {
	text-decoration:none;
	color:#a39388;
}
.view-display-id-listing_page_ricette .view-content .views-row .views-field-field-tempo-di-realizzazione {
	font:normal 12px/14px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;	
	color:#302924;
	padding:0;
	margin:0;
}
.view-display-id-listing_page_ricette .view-content .views-row .rowCondividi {
	margin:20px 0 20px 0;
	padding:0;	
	font:normal 10px/10px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	text-transform:uppercase;
	float:none;
	clear:both;
	display:block;
}
.view-display-id-listing_page_ricette .view-content .views-row .rowCondividi .views-field-url {
	margin:0;
	padding:0;	
	display:inline;
	float:left;
}
.view-display-id-listing_page_ricette .view-content .views-row .rowCondividi .views-field-url a {
	color: #6E7984;
}
.view-display-id-listing_page_ricette .view-content .views-row .rowCondividi .views-field-nothing {
	margin:0;
	padding:0;	
	display:inline;
	float:right;
	color:#6e7984;
	cursor:pointer;
}*/
.view-aggregatore-editoriale .view-content .views-row .views-field-field-testo-lancio {
	font:normal 12px/14px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#302924;
	padding:0;
	margin:0;
}
.view-aggregatore-editoriale .view-content .views-row .views-field-view-node {
	margin:20px 0 0 0;
	padding:0;	
	display:inline;
	float:left;
	font:normal 10px/10px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	text-transform:uppercase;
}
.view-aggregatore-editoriale .view-content .views-row .views-field-view-node a {
	color: #6E7984;
}
.view-aggregatore-editoriale .view-content .views-row .views-field-view-node a:focus {
	text-decoration:none;
}
.view-aggregatore-editoriale .view-content .views-row .views-field-nothing {
	margin:0;
	padding:0;	
	display:inline;
	float:right;
	color:#6e7984;
	cursor:pointer;
	font:normal 10px/10px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	text-transform:uppercase;
}
.view-display-id-listing_page_ricette .view-content .views-row .views-field-edit-node-1 {
	margin:0px 0 0px 0;
	padding:0;	
	font:normal 10px/10px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	text-transform:uppercase;
}


/* -------------------------------------------- */
/* ------------- Vista Ricette --------------- */
/* ------------------------------------------ */

.view-display-id-listing_page_ricette,
.view-display-id-listing_page_tavola {
	clear:both;
    display:block;
    float:none;
    margin:0 18px 50px 18px;
    padding:0;
    text-align:left;
    width:636px;	

}

/* menù top ricette */
.view-display-id-listing_page_ricette .menuRicette,
.view-display-id-listing_page_tavola .menuRicette, 
.node-la7-ricette .menuRicette{
	margin:15px 0px 30px 0px;	
}
.view-display-id-listing_page_ricette .menuRicette ul,
.view-display-id-listing_page_tavola .menuRicette ul,
.node-la7-ricette .menuRicette ul {
	margin:0!important;
	padding:0!important;	
}
.view-display-id-listing_page_ricette .menuRicette ul li,
.view-display-id-listing_page_tavola .menuRicette ul li,
.node-la7-ricette  .menuRicette ul li {
	list-style:none;
	text-transform:uppercase;
	float:left;	
	margin:0!important;
	padding:0!important;	
	border-right:1px solid #7D6E64;
}
.view-display-id-listing_page_ricette .menuRicette ul li.last,
.view-display-id-listing_page_tavola .menuRicette ul li.last,
.node-la7-ricette  .menuRicette ul li.last {
	border:none!important;
}
.view-display-id-listing_page_ricette .menuRicette ul li a,
.view-display-id-listing_page_tavola .menuRicette ul li a,
.node-la7-ricette  .menuRicette ul li a {

	color:#7D6E64;
    display:block;
    font:bold 13px/20px Arial,Helvetica,Geneva,Tahoma,verdana,sans-serif !important;
	padding:2px 6px 2px 4px;
}
.view-display-id-listing_page_ricette .menuRicette ul li.first a,
.view-display-id-listing_page_tavola .menuRicette ul li.first a,
.node-la7-ricette  .menuRicette ul li.first a {
	padding:2px 4px 2px 0px;
}
.view-display-id-listing_page_ricette .menuRicette ul li a:hover,
.view-display-id-listing_page_ricette .menuRicette ul li a.active,
.view-display-id-listing_page_tavola .menuRicette  ul li a:hover,
.view-display-id-listing_page_tavola .menuRicette ul li a.active,
.node-la7-ricette  .menuRicette  ul li a:hover,
.node-la7-ricette .menuRicette ul li a.active {
	color:#c80050;
	text-decoration:none;
}

/* pager ricette */
.view-display-id-listing_page_ricette .pagerTop,
.view-display-id-listing_page_ricette .pagerBottom,
.view-display-id-listing_page_tavola .pagerTop,
.view-display-id-listing_page_tavola .pagerBottom {
	display:block;
	margin:0;
	padding:0;
	text-align:right!important;
}
.view-display-id-listing_page_ricette .pagerTop,
.view-display-id-listing_page_tavola .pagerTop {
	margin:0 0 15px 0;
}
.view-display-id-listing_page_ricette .pagerBottom,
.view-display-id-listing_page_tavola .pagerBottom {
	margin:15px 0 0 0;
}
.view-display-id-listing_page_ricette .item-list,
.view-display-id-listing_page_tavola .item-list {
	margin:0;
	padding:0;	
	text-align:right!important;
}
.view-display-id-listing_page_ricette .item-list .pager,
.view-display-id-listing_page_tavola .item-list .pager {
	margin:0;
	padding:0;	
	text-align:right;
	font:bold 14px/18px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
}
.view-display-id-listing_page_ricette .item-list .pager li,
.view-display-id-listing_page_tavola .item-list .pager li  {
	margin:0;
	padding:0;	
	text-align:center;
}
.view-display-id-listing_page_ricette .item-list .pager li a:hover,
.view-display-id-listing_page_tavola .item-list .pager li a:hover {
	text-decoration:none;
	color:#FFF;
	background:#c80050;
}
.view-display-id-listing_page_ricette .item-list .pager .pager-item a,
.view-display-id-listing_page_tavola .item-list .pager .pager-item a {
	margin:0 2px 0 2px;
	padding:0;	
	width:18px;
	height:18px;
	display: inline-block;
	text-align:center;
	background:#e7e7e8;
	color:#726056;
}
.view-display-id-listing_page_ricette .item-list .pager .pager-first,
.view-display-id-listing_page_ricette .item-list .pager .pager-previous,
.view-display-id-listing_page_ricette .item-list .pager .pager-next,
.view-display-id-listing_page_ricette .item-list .pager .pager-last,
.view-display-id-listing_page_tavola .item-list .pager .pager-first,
.view-display-id-listing_page_tavola .item-list .pager .pager-previous,
.view-display-id-listing_page_tavola .item-list .pager .pager-next,
.view-display-id-listing_page_tavola .item-list .pager .pager-last {
	margin:0;
	padding:0 0 0 0;

}
.view-display-id-listing_page_ricette .item-list .pager .pager-current,
.view-display-id-listing_page_tavola .item-list .pager .pager-current {
	color:#c80050;
	margin:0 0 0 0;
	padding:0;	
	}
.view-display-id-listing_page_ricette .item-list .pager .pager-ellipsis,
.view-display-id-listing_page_tavola .item-list .pager .pager-ellipsis {
	color:#726056;
	margin:0 0 0 0;
	padding:0;	
}
.view-display-id-listing_page_ricette .item-list .pager .pager-first a,
.view-display-id-listing_page_ricette .item-list .pager .pager-previous a,
.view-display-id-listing_page_ricette .item-list .pager .pager-next a,
.view-display-id-listing_page_ricette .item-list .pager .pager-last a,
.view-display-id-listing_page_tavola .item-list .pager .pager-first a,
.view-display-id-listing_page_tavola .item-list .pager .pager-previous a,
.view-display-id-listing_page_tavola .item-list .pager .pager-next a,
.view-display-id-listing_page_tavola .item-list .pager .pager-last a {
	width:18px!important;
	height:18px!important;
	background:#e7e7e8;
	color:#726056;
	margin:0 2px 0 2px;
	padding:0 0 0 0;
	display: inline-block;
	font:bold 18px/16px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
}

/* listing ricette */

.view-display-id-listing_page_ricette .view-content,
.view-display-id-listing_page_tavola .view-content {
	margin:0;
	padding:10px 0 0 0;
	*padding:10px 0 10px 0;
	display:block;
	float:none;
	clear:both;
	text-align:left;
	height:auto;
	width:636px;
	background:url(../images/listing_ricette_bg.png) 0  0 repeat!important;
	*background:url(../images/listing_ricette_bg_ie7.png) 0  0 repeat-y!important;
}
.view-display-id-listing_page_ricette .view-content .views-row,
.view-display-id-listing_page_tavola .view-content .views-row {
	margin:0 9px 9px 0;
	margin:0 6px 9px 0\0/;
	padding:0;
	width:206px!important;
	*width:203px!important;
	height:260px!important;
	

	float:left;
	z-index:0;
}
.view-display-id-listing_page_ricette .view-content .views-row .innerElement,
.view-display-id-listing_page_tavola .view-content .views-row .innerElement {
    display: block;
    float: none !important;
    height: 100%;
    margin: 0;
    overflow: visible !important;
    padding: 0;
    position: relative !important;
    width: 100%;
}
.view-display-id-listing_page_ricette .view-content .views-row:nth-child(3n),
.view-display-id-listing_page_tavola .view-content .views-row:nth-child(3n) {
	margin:0 0 9px 0!important;
}
.view-display-id-listing_page_ricette .view-content .views-row .views-field-field-upload-video,
.view-display-id-listing_page_tavola .view-content .views-row .views-field-field-upload-video {
	margin:0;
	padding:0px;
	overflow:hidden;
	width:206px;
	height:120px;
	position:relative;
}
.view-display-id-listing_page_ricette .view-content .views-row .views-field-field-upload-video .luminosa,
.view-display-id-listing_page_tavola .view-content .views-row .views-field-field-upload-video .luminosa {
	position:absolute;
	margin:0;
	padding:0;
	width:44px;
	height:33px;
	overflow:hidden;
	bottom:0;
	right:0;
}
.view-display-id-listing_page_ricette .view-content .views-row:hover .views-field-field-upload-video .luminosa,
.view-display-id-listing_page_tavola .view-content .views-row:hover .views-field-field-upload-video .luminosa {
  z-index:1;
}
.view-display-id-listing_page_ricette .view-content .views-row .views-field-field-upload-video .luminosa_LA7,
.view-display-id-listing_page_tavola .view-content .views-row .views-field-field-upload-video .luminosa_LA7 {
	background:url(../images/luminose_global_sprite.png) 0 0 no-repeat!important;
}
.view-display-id-listing_page_ricette .view-content .views-row .views-field-field-upload-video .luminosa_LA7d,
.view-display-id-listing_page_tavola .view-content .views-row .views-field-field-upload-video .luminosa_LA7d {
	background:url(../images/luminose_global_sprite.png) 0 -33px no-repeat!important;
}
.view-display-id-listing_page_ricette .view-content .views-row .views-field-field-upload-video .luminosa_empty,
.view-display-id-listing_page_tavola .view-content .views-row .views-field-field-upload-video .luminosa_empty {
	background:none;
}
.view-display-id-listing_page_ricette .view-content .views-row .views-field-field-upload-video img,
.view-display-id-listing_page_tavola .view-content .views-row .views-field-field-upload-video img {
	width:240px;
	height:auto;
	margin:-10px 0 0 -18px;
}
.view-display-id-listing_page_ricette .view-content .views-row:hover .views-field-field-upload-video img,
.view-display-id-listing_page_tavola .view-content .views-row:hover .views-field-field-upload-video img {
	opacity: .6;
	-webkit-opacity: .6;
	-moz-opacity: .6;
	filter:alpha(opacity=60); /* for IE7 */
	cursor:pointer;
}
.view-display-id-listing_page_ricette .view-content .views-row .title,
.view-display-id-listing_page_tavola .view-content .views-row .title {
	margin:10px 0 10px 0;
	padding:0;	
	font:bold 14px/16px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
}

.view-display-id-listing_page_ricette .view-content .views-row .title a,
.view-display-id-listing_page_tavola .view-content .views-row .title a {
	text-decoration:none;
	color:#7d6e64;
}
.view-display-id-listing_page_ricette .view-content .views-row:hover .title_LA7 .views-field-title a,
.view-display-id-listing_page_tavola .view-content .views-row:hover .title_LA7 .views-field-title a {
	text-decoration:none;
	color:#eb5a0f;
}
.view-display-id-listing_page_ricette .view-content .views-row:hover .title_LA7d .views-field-title a,
.view-display-id-listing_page_tavola .view-content .views-row:hover .title_LA7d .views-field-title a {
	text-decoration:none;
	color:#c80050;
}
.view-display-id-listing_page_ricette .view-content .views-row:hover .title_luminosa_empty .views-field-title a,
.view-display-id-listing_page_tavola .view-content .views-row:hover .title_luminosa_empty .views-field-title a {
	text-decoration:none;
	color:#a39388;
}
.view-display-id-listing_page_ricette .view-content .views-row .title a:hover,
.view-display-id-listing_page_tavola .view-content .views-row .title a:hover {
	text-decoration:none;
	color:#C80050;
}
.view-display-id-listing_page_ricette .view-content .views-row:hover .title a,
.view-display-id-listing_page_tavola .view-content .views-row:hover .title a {
	color:#EB5A0F;
}
.view-display-id-listing_page_ricette .view-content .views-row .views-field-field-tempo-di-realizzazione,
.view-display-id-listing_page_tavola .view-content .views-row .views-field-field-tempo-di-realizzazione {
	font:normal 12px/14px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;	
	color:#302924;
	padding:0;
	margin:0;
}


.view-display-id-listing_page_ricette  .views-row  .rowCondividi,
.view-display-id-listing_page_tavola .views-row  .rowCondividi{
	margin:20px 0 20px 0;
	padding:0;	
	font:normal 10px/10px Arial, Helvetica, Geneva, Tahoma,verdana, sans-serif !important;
	text-transform:uppercase;

	width:auto;
	display:block;
	position:absolute;
	overflow:visible!important;
	bottom:0;


}


.view-display-id-listing_page_ricette .views-row  .rowCondividi .views-field-url a,
.view-display-id-listing_page_tavola .views-row  .rowCondividi .views-field-url a {
	margin:0;
	padding:0;	
	display:inline;
float:left;

	/*position:absolute;
	left:0;
	z-index:1!important;*/

}
.view-display-id-listing_page_ricette .views-row  .rowCondividi .views-field-url a,
.view-display-id-listing_page_tavola .views-row  .rowCondividi .views-field-url a{
	color:#6e7984;
}


.view-display-id-listing_page_ricette .views-row  .rowCondividi .views-field-nothing,
.view-display-id-listing_page_tavola .views-row  .rowCondividi .views-field-nothing{
	
	font:normal 10px/10px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;	
	color:#302924;
	padding: 0;
	margin:0;
	text-transform:uppercase;
	color:#6e7984;
/*	position:absolute;
	right:0;
	z-index:1;
	*/
	float:right;
	display:inline;
}


.view-display-id-listing_page_ricette .views-row .rowCondividi .views-field-nothing a,
.view-display-id-listing_page_tavola  .rowCondividi .views-field-nothing a{
	color:#6e7984;
}


.view-display-id-listing_page_ricette .views-row  .rowCondividi .views-field-nothing a:hover,
.view-display-id-listing_page_tavola .views-row  .rowCondividi .views-field-nothing a:hover{
	text-decoration:underline;
	color:#6e7984;
	cursor:pointer;
}


.view-display-id-listing_page_ricette  .views-row  .rowCondividi .views-field-nothing .btn-share,
.view-display-id-listing_page_tavola  .views-row  .rowCondividi .views-field-nothing .btn-share{
	display:block;
	width:auto;
	position:absolute;
	top:0;
	right:-102px;
	text-align:right;
	margin:0;
	padding:0;
	z-index:12;
	overflow:visible!important;
}


.view-display-id-listing_page_ricette .views-row  .rowCondividi .views-field-nothing .btn-share a,
.view-display-id-listing_page_tavola  .views-row  .rowCondividi .views-field-nothing .btn-share a{
	display:block;
	width:auto;
	text-align:right;
	margin:0;
	padding:0;
	z-index:0;
	position:relative;
}


.view-display-id-listing_page_ricette  .views-row  .rowCondividi .views-field-nothing .btn-share .rowSocialElement,
.view-display-id-listing_page_tavola .views-row  .rowCondividi .views-field-nothing .btn-share .rowSocialElement {
	position:absolute!important;
	background:#FFF;
	width:300px;
	height:80px;
	clear:both;
	float: none;
	top:-10px;
	right: -60px;
	cursor:pointer!important;
	z-index:120;
	display:block;
	text-align:center;
    border: 1px solid #DDDDDD;
    box-shadow: 0 0 5px 0 #CCDCDC;
    height: auto;
    margin-left:0px;
    margin-top:-20px;
    padding:10px 7px 7px 7px;
}


.view-display-id-listing_page_ricette .views-row  .rowCondividi .btn-share .rowSocialElement .button-facebook,
.view-display-id-listing_page_tavola .views-row  .rowCondividi .btn-share .rowSocialElement .button-facebook{
	float:left!important;
	margin:0 0 0 0;
	padding:0;
	display:inline;
	border:0;
	width:120px!important;

}

 
.view-display-id-listing_page_ricette   .views-row  .rowCondividi .btn-share .rowSocialElement .button-twitter,
.view-display-id-listing_page_tavola .views-row  .rowCondividi .btn-share .rowSocialElement .button-twitter{
	float:left!important;
	margin:0 0 0 0;
	padding:0 0 0 0;
	display:inline;
	border:0;
	width:100px!important;
}

.view-display-id-listing_page_ricette   .views-row  .rowCondividi .btn-share .rowSocialElement .button-googleplus,
.view-display-id-listing_page_tavola  .views-row  .rowCondividi .btn-share .rowSocialElement .button-googleplus {

	float:left!important;
	margin:0;
	padding:0;
	display:inline;
	border:0;
	width:80px!important;

}

.view-display-id-listing_page_ricette   .views-row .modificaNodo, 
.view-display-id-listing_page_tavola   .views-row .modificaNodo{
margin: 10px 0 10px 0;
padding: 0;
font: normal 10px/10px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
text-transform: uppercase;
}
/* nessuna ricetat */

.view-display-id-listing_page_ricette .view-empty{

	margin:0;
	padding:0;
	
	}

.view-display-id-listing_page_ricette .view-empty .nessunRisultato{
	background:url(../images/no_ricette_bg.png) 0  0 no-repeat!important;
	margin:0;
	padding:0;
	position:relative;
	display:block;
	height:262px;
}
.view-display-id-listing_page_ricette .view-empty .nessunRisultato .areaTesto{
	margin:0;
	padding:0;
	font:24px/24px "GothamBold",Arial,Helvetica,sans-serif !important;
	width:330px;
	display:block;
	top:86px;
	left:280px;
	position:absolute;
	color:#7d6e64;
}
.view-display-id-listing_page_ricette .view-empty .nessunRisultato .areaTesto .enfasi{
	margin:6px 0 0 0;
	padding:0;
	text-transform:uppercase;
	color:#c80050;
	}
/* ------------------------- */
/* ------ Ricette  -------- */
/* ----------------------- */
.node-la7-ricette {
	margin:0 auto;
    padding:0 18px;
    text-align:left;
    width:636px;
	font:normal 12px/16px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#302924;	
}
.node-la7-ricette .field-name-field-immagine-ricetta,
.node-la7-ricette .field-name-field-upload-video {
	text-align:center;
	margin:0 0 0 15px;	
}
.node-la7-ricette .field-name-field-immagine-ricetta {
	position:relative;
	overflow:hidden;
	width:608px;
	height:342px;
}
.node-la7-ricette .field-name-field-immagine-ricetta img {
	display: block; 
	width:608px;
	height:auto;
	text-align:center;
	position:absolute;
	left:0;
	top:-16px;
	margin:0 0 0 0;
	padding:0 0 0 0;
}



/*btn-share*/
.node-la7-ricette .infoVideoRow {
	margin:0 0 0 23px;
	padding:2px 0 16px 0;
	clear:both;
	display:block;	
	font:normal 12px/20px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#302924;
	position:relative;
	width:600px;
}
.node-la7-ricette .infoVideoRow .btn-share { 
	display:block;
    margin:0;
    overflow:visible !important;
    padding:0;
    position:absolute;
    right:0;
    text-align:right;
    top:0;
    width:auto;
    z-index:12;
}
.node-la7-ricette .infoVideoRow .btn-share a {
  /*  background: url("../images/condividi_btn_sprite.png") no-repeat scroll right 0 rgba(0, 0, 0, 0); */
    color:#302924;
    margin:0;
	padding:0;
  /*  padding: 0 20px 0 0;*/
}
.node-la7-ricette .infoVideoRow .btn-share .rowSocialElement {
    background: none repeat scroll 0 0 #FFFFFF !important;
    border:0 solid #B2B2B9;
    cursor:pointer !important;
    display:block;
    position:absolute;
    right:0;
    top:0;
    width:350px;
    z-index:10;
	text-align:right;
	margin:0 0 0 0;
	padding:8px 0 0 0;
}
.node-la7-ricette .infoVideoRow .btn-share .rowSocialElement .button-facebook {
	float:right!important;
	margin:0 0 0 0;
	padding:0;
	display:inline;
	border:0;
	width:120px!important;
}
.node-la7-ricette .infoVideoRow .btn-share .rowSocialElement .button-twitter{
	float:right!important;
	margin:0 0 0 0;
	padding:0 0 0 0;
	display:inline;
	border:0;
	width:100px!important;
}
.node-la7-ricette .infoVideoRow .btn-share .rowSocialElement .button-googleplus{
	float:right!important;
	margin:0;
	padding:0;
	display:inline;
	border:0;
	width:80px!important;
}

/* contenuto ricetta */

.node-la7-ricette h2 {
	color:#C80050;
    font:bold 32px/34px Arial,Helvetica,Geneva,Tahoma,verdana,sans-serif !important;
    margin:10px 0 0 0;
    padding:4px 0;	
}
.node-la7-ricette h3 {
    font:bold 24px/26px Arial,Helvetica,Geneva,Tahoma,verdana,sans-serif !important;
	text-transform:uppercase;
	color:#7D6E64;
}
.node-la7-ricette .rowSpecifiche {
	border-bottom:2px dotted #7D6E64;
    border-top:2px dotted #7D6E64;
    color:#C80050;
    font:bold 14px/16px Arial,Helvetica,Geneva,Tahoma,verdana,sans-serif !important;
    margin:16px 0;
    padding:14px 0;
}
.node-la7-ricette .rowSpecifiche .catRicette {
	float:left;
}
.node-la7-ricette .rowSpecifiche .catRicette a {
    color:#C80050;
    font:bold 14px/16px Arial,Helvetica,Geneva,Tahoma,verdana,sans-serif !important;
	text-transform:uppercase;
}
.node-la7-ricette .rowSpecifiche .tempoRealizzazione {
	float:right;
    color:#7D6E64;
}
.node-la7-ricette .rowSpecifiche .tempoRealizzazione span {
    color:#C80050;
}
.node-la7-ricette .field-name-field-ingredienti ul {
	margin:0;
	padding:0;	
}
.node-la7-ricette .field-name-field-ingredienti ul li {
	background:url(../images/la7_ricette_dot.png) left 5px no-repeat!important;
	list-style:none!important;
	padding-left:18px;
}





/* ------------------------------------ */
/* -------- La7 consiglia ADV -------- */
/* ---------------------------------- */

#block-block-19 .la7_consiglia_adv {
	margin:0;
	padding:22px 0!important;
	display:block!important;
	float:none!important;
	clear:both!important;
	border-bottom:1px solid #d3dbe3;
	width:300px;
	vertical-align:middle;
	overflow:hidden;
}
#block-block-19 .la7_consiglia_adv .views-field-field-image {
	margin:0 12px 0 0;
	padding:0;
	float:left;
	display:inline;
	width:85px;
	height:auto;
}
#block-block-19 .la7_consiglia_adv .views-field-field-image a:hover,
#block-block-19 .la7_consiglia_adv:hover .views-field-field-image  {
	opacity: .6;
	-webkit-opacity: .6;
	-moz-opacity: .6;
	filter:alpha(opacity=60);
	cursor:pointer;
}
#block-block-19 .la7_consiglia_adv .wrapperLa7consiglia{
	margin:auto 0;
	padding:auto 0;
	display:inline;
	width:203px;
	height:auto;
	float:left;
	clear:right;
	font:normal 11px/13px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;
	color:#7d6e64;
}

#block-block-19 .la7_consiglia_adv .wrapperLa7consiglia a,
#block-block-19 .la7_consiglia_adv .wrapperLa7consiglia a p {
	color:#797d81;
}
#block-block-19 .la7_consiglia_adv .wrapperLa7consiglia a:hover{
	text-decoration:none!important;
}
#block-block-19 .la7_consiglia_adv .wrapperLa7consiglia a:hover p,
#block-block-19 .la7_consiglia_adv:hover .wrapperLa7consiglia a:hover p {
	color:#797d81;
	text-decoration:underline;
}
#block-block-19 .la7_consiglia_adv .wrapperLa7consiglia a .title {
	font:bold 14px/16px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;	
	margin:0 0 12px 0;
	padding:0 16px 0 0 ;
	color:#2d94ce;
}
#block-block-19 .la7_consiglia_adv .wrapperLa7consiglia a:hover .title,
#block-block-19 .la7_consiglia_adv:hover  .wrapperLa7consiglia a .title {
	text-decoration:none!important;
	color:#eb5a0f;
}

#block-block-19 .content {
	margin-bottom:0;
	/*border-bottom:1px solid #D3DBE3;*/
	padding-bottom:18px;
}
#block-block-19 .la7_consiglia_adv {
	padding:22px 0 0 0!important;
	border:0!important;	
}
#block-block-19  .advertising {
	background:#FFF url(../images/adv_label.png) right bottom no-repeat!important;
	padding:3px 16px 2px 0;
	*padding:6px 16px 2px 0;
	margin:-11px 0 5px 0;
	width:100%;
	*width:auto!important;
}



/* QUADERNI */
#main-wrapper #main  .contentPageInterna #colSx .bottonieraBoxQuaderni{
	margin:-4px 0 0 0;
	padding:0;
	width:672px;
	height:160px;

}
#main-wrapper #main  .contentPageInterna #colSx .bottonieraBoxQuaderni .sliderQuaderniBtnContent{
	margin:0;
	padding:0;
	width:672px;
	height:160px;
	overflow:hidden;
	text-align:center;

}
/* frecce */
#main-wrapper #main  .contentPageInterna #colSx .bottonieraBoxQuaderni .arrowRowQuaderniBtn{

	margin: 0 11px 0 0;
	padding: 0 0 0 0;
	text-align: right;
position: relative;
	}
#main-wrapper #main  .contentPageInterna #colSx .bottonieraBoxQuaderni .arrowRowQuaderniBtn .sliderArrowQuaderniBtn {	
	
	width: 28px;
	height: 28px;
	display: block;
	float: right;
	margin: 0 0 0 0;
	cursor: pointer;
	background-image:url("../images/slider_arrows_quaderni_sprite.png");
}
#main-wrapper #main  .contentPageInterna #colSx .bottonieraBoxQuaderni .arrowRowQuaderniBtn .sliderPrevQuaderniBtn {
	background-color:#7d6e64;
	background-position:0 0;
	margin: 0 32px 0 0;

/*background:#7d6e64 url(../images/slider_arrows_quaderni_sprite.png) 0  0 no-repeat!important;
margin: 0 32px 0 0;*/
}
#main-wrapper #main  .contentPageInterna #colSx .bottonieraBoxQuaderni .arrowRowQuaderniBtn .sliderNextQuaderniBtn {	
	background-color:#7d6e64;
	background-position:-28px 0;
margin: 0 -60px 0 0;
}
#main-wrapper #main  .contentPageInterna #colSx .bottonieraBoxQuaderniLa7 .arrowRowQuaderniBtn .sliderArrowQuaderniBtn:hover {
	background-color:#ffc323;
}
#main-wrapper #main  .contentPageInterna #colSx .bottonieraBoxQuaderniLa7d .arrowRowQuaderniBtn .sliderArrowQuaderniBtn:hover {
	background-color:#c80050;
}

/*----------------------------- */
#main-wrapper #main  .contentPageInterna #colSx .bottonieraBoxQuaderni .sliderQuaderniBtnContent .sliderQuaderniBtn{
		margin:0;
	padding:0;
	width:672px;
	height:160px;
	overflow:hidden;
	text-align:center;

	
}
#main-wrapper #main  .contentPageInterna #colSx .bottonieraBoxQuaderni .sliderQuaderniBtnContent li.slideQuaderniBtn {
    height: 200px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 168px;
	text-align:center;
}


#main-wrapper #main  .contentPageInterna #colSx .bottonieraBoxQuaderni .sliderQuaderniBtnContent li.slideQuaderniBtn .btnElementQuaderni{
    height: 200px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: left;
    width:159px;
}


#main-wrapper #main  .contentPageInterna #colSx .bottonieraBoxQuaderni .sliderQuaderniBtnContent li.slideQuaderniBtn .btnElementQuaderni .imageBox .modificaNodo {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	margin: 4px 0 0 4px;
	padding: 4px;
	background: #FFF;
	font: normal 10px/10px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif;
	text-transform: uppercase;
}
#main-wrapper #main  .contentPageInterna #colSx .bottonieraBoxQuaderni .sliderQuaderniBtnContent li.slideQuaderniBtn .btnElementQuaderni .imageBox{
    height:160px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
   width:159px;
}
#main-wrapper #main  .contentPageInterna #colSx .bottonieraBoxQuaderni .sliderQuaderniBtnContent li.slideQuaderniBtn .btnElementQuaderni .imageBox img{
	height: auto;
left:0;
margin: -10px 0 0 -100px;
position: absolute;
top: 0;
width: 360px;
	
}



#main-wrapper #main  .contentPageInterna #colSx .bottonieraBoxQuaderni .sliderQuaderniBtnContent li.slideQuaderniBtn .btnElementQuaderni .imageBox a:hover img{
opacity: .6;
-webkit-opacity: .6;
-moz-opacity: .6;
filter: alpha(opacity=60);
cursor: pointer;	
	
	}
#main-wrapper #main  .contentPageInterna #colSx .bottonieraBoxQuaderni .sliderQuaderniBtnContent li.slideQuaderniBtn .btnElementQuaderni .imageBox  .titleQuaderno{
	position:absolute;
	bottom:0;
	left:0;
	display:block;
	background:#7d6e64;
	font:bold 10px/10px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif;
	text-transform: uppercase;
	padding:4px 8px;
	width:159px;
	z-index:2;
}
/*#main-wrapper #main  .contentPageInterna #colSx .bottonieraBoxQuaderniLa7 .sliderQuaderniBtnContent li.slideQuaderniBtn .btnElementQuaderni .imageBox  .titleQuaderno{ background:#ffc323;}*/
#main-wrapper #main  .contentPageInterna #colSx .bottonieraBoxQuaderni .sliderQuaderniBtnContent li.slideQuaderniBtn .btnElementQuaderni .imageBox a .titleQuaderno {color:#FFF;}
/*#main-wrapper #main  .contentPageInterna #colSx .bottonieraBoxQuaderniLa7 .sliderQuaderniBtnContent li.slideQuaderniBtn .btnElementQuaderni .imageBox a .titleQuaderno {color:#302924;}*/
#main-wrapper #main  .contentPageInterna #colSx .bottonieraBoxQuaderni .sliderQuaderniBtnContent li.slideQuaderniBtn .btnElementQuaderni .imageBox  .evidenziato{
	display:none;
	visibility:hidden;
}



/* ACTIVO */

#main-wrapper #main  .contentPageInterna #colSx .bottonieraBoxQuaderni .sliderQuaderniBtnContent li.slideQuaderniBtn .btnElementQuaderniActive .imageBox  .evidenziato {
	display: block;
	visibility: visible;
	border: 16px solid #ffc323;
	position: absolute;
	width: 127px;
	height: 128px;
	bottom: 0;
	background: none;
	z-index:1;
}
#main-wrapper #main  .contentPageInterna #colSx .bottonieraBoxQuaderniLa7 .sliderQuaderniBtnContent li.slideQuaderniBtn .btnElementQuaderniActive  .imageBox  .titleQuaderno{background:#ffc323;}
#main-wrapper #main  .contentPageInterna #colSx .bottonieraBoxQuaderniLa7d .sliderQuaderniBtnContent li.slideQuaderniBtn .btnElementQuaderniActive  .imageBox  .titleQuaderno{background:#c80050;}
#main-wrapper #main  .contentPageInterna #colSx .bottonieraBoxQuaderniLa7 .sliderQuaderniBtnContent li.slideQuaderniBtn .btnElementQuaderniActive  .imageBox a .titleQuaderno {color:#302924;}
#main-wrapper #main  .contentPageInterna #colSx .bottonieraBoxQuaderniLa7d .sliderQuaderniBtnContent li.slideQuaderniBtn .btnElementQuaderniActive  .imageBox a .titleQuaderno {color:#FFF;}


/* NODO QUADERNi  */
#main-wrapper #main  .contentPageInterna #colSx .node-la7-quaderni {
	margin:30px 0 0 0;
	padding:0 36px;
	text-align:left;
	width:600px;

}


#main-wrapper #main  .contentPageInterna #colSx .node-la7-quaderni h2 {
	/*font:bold 30px/30px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif !important;*/
		font:normal 30px/32px "GothamBold",Arial,Helvetica,sans-serif !important;
	*font:bold 30px/32px "GothamBold",Arial,Helvetica,sans-serif !important;
	margin:0 0 0 0;
	padding:0;
	/*color:#eb5a0f;*/
	color:#7d6e64;
	text-transform:uppercase;
}

#main-wrapper #main  .contentPageInterna #colSx .node-la7-quaderni .field-name-body{

margin:0 0 0 0;
	padding: 0;
	font:normal 12px/16px Arial, Helvetica, Geneva, Tahoma,verdana,sans-serif ;

	border-top:2px dotted #7d6e64;
	border-bottom:2px dotted #7d6e64;

}

#main-wrapper #main  .contentPageInterna #colSx .node-la7-quaderni .field-name-body p{
	padding:14px 0 14px 0;
	}



