@charset "utf-8";
/* CSS Document */

.vfs_tag {
	font-family: Georgia, "Times New Roman", Times, serif;
}
.nav_block {
	display: block;
}
.services_solutions, .our_experties {
	width: 228px;
	background: url(../images/home/img_oe_bottom.gif) no-repeat bottom center;
}
.our_experties, .testimonials {
	margin-top: 26px;
}
.services_solutions .blurb_heading {
	background: url(../images/home/bg_our_expertise.gif) no-repeat;
}
.recent_events .blurb_heading {
	background: url(../images/home/bg_recent_events.gif) no-repeat;
}
.latest_news .blurb_heading {
	background: url(../images/home/bg_latest_news.gif) no-repeat;
}
.certification .blurb_heading {
	background: url(../images/home/bg_certification.gif) no-repeat;
}
.testimonials .blurb_heading {
	background: url(../images/home/bg_customers_speak.gif) no-repeat;
}
.our_experties .blurb_heading {
	background: url(../images/home/bg_our_experties.gif) no-repeat;
}
.services_solutions .blurb_content, .recent_events .blurb_content, .latest_news .blurb_content {
	height: 200px;
}
.certification .blurb_content {
	height: 190px;
}
.our_experties .blurb_content, .testimonials .blurb_content {
	height: 145px;
}
.footer_content span {
	float: left;
}
.open_nav, .close_nav {
	display: none;
}
.clearfix {
	display: inline-block;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/* Hides from IE-mac \ */
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
	clear: both;
}
.device_logo {
	display: none;
}
.nav_label {
	font-size: 17px;
	color: #fff;
	display: none;
	float: left;
}
.global_nav {
	margin: 0 0 20px 0;
}
.global_nav div div.selected {
	background: url(../images/common/img_gn_line.gif) repeat-x bottom left #FF9C00;
	padding: 3px 0 7px 0;
	padding: 0;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	margin: 0 !important;
}
.global_nav ul {
	padding-top: 0;
}
.global_nav div.nav_block div {
	background: url(../images/common/img_gn_line.gif) repeat-x top left;
	padding: 3px 0 7px 0;
	padding: 3px 0 0 0;
	padding: 7px 0 0 0;
	margin: 0 0 1px 0;
}
.global_nav div.nav_block {
	background: url(../images/common/img_gn_line.gif) repeat-x bottom left;
	padding: 0 0 5px 0;
}
.global_nav div.nav_block div.selected:last-child a {
	margin: 0 0 1px 0;
	background: url(../images/common/bg_gn_hover.gif) no-repeat left top;
}
.global_nav ul li a strong, .global_nav ul li strong a {
	font-weight: bold;
}
.vfs_tag {
	width: 300px;
}
.languages_panel_device {
	display: none;
	background: none repeat scroll 0 0 #00305D !important;
	color: #FFFFFF;
	width: 98%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
}
.languages_panel_device select {
	background: none repeat scroll 0 0 #00305D !important;
	color: #FFFFFF;
	width: 98%;
	border: 0;
	font: 12px Tahoma, Arial, "Arial Narrow";
}
.need_information {
	font: 12px Tahoma, Arial, "Arial Narrow";
}
.isologo {
	padding: 10px 0 0 0;
}
/*.visa_info_panel_device {
	display:none;
	font:11px Tahoma,Arial,"Arial Narrow";
	padding:0 10px;
}*/

.events img {
	width: 98%;
	height: auto;
	max-width: 500px;
}
/***** Contact Us Visa Info *****/
.visa-info-contact .need_information {
	padding: 0;
}
.visa-info-contact .visiting_country, .visa-info-contact .residing_country {
	background: url("../images/contact_us/bg_visa_info_inputs.gif") repeat-y scroll 0 0 transparent;
	height: 21px;
	margin: 5px 0 10px 0;
	float: left;
}
.visa-info-contact .visiting_country select, .visa-info-contact .residing_country select {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	color: #666666;
	font: 12px Tahoma, Arial, "Arial Narrow";
	margin: 0;
	padding: 3px;
	width: 200px;
}
.map_panel_device {
	display: none;
}
 @media (max-width: 480px) {
 @-moz-document url-prefix() {
#ddlFirstOptionSet, #ddlSecondOptionSet {
background: url("../images/common/arrow_001.png") no-repeat scroll right 5px #00305d !important;
}
}
.device_logo .logo_vfs img {
}
.device_logo .vfs_tag {
	margin-top: 0;
}
body {
	min-width: 240px;
}
.breadcrumb {
/*display:none;*/
}
.visiting_country select, .residing_country select {
	color: #fff;
	width: 98%;
	background: #00305d !important;
}
.nav_label {
	display: block;
}
.logo_vfs img {
/*width:90%;*/
}
.left_content iframe {
	width: 94.9% !important;
	width: 96.7% !important;
	margin: 0 !important;
}
/*.visa_info_panel {
		display:none;
	}
	.visa_info_panel_device {
		display:block;
	}*/
.select_language .input {
	width: 87% !important;
}
}

/* Phones */
@media (max-width: 768px) {
 @-moz-document url-prefix() {
#ddlFirstOptionSet, #ddlSecondOptionSet {
background: url("../images/common/arrow_001.png") no-repeat scroll right 5px #00305d !important;
}
}
 .wrapper {
 width: 100%;
}
body, .bg_map {
 background: none;
}
.logo_vfs, .vfs_tag {
 display: none;
}
.aqua_image img
{
	width:99%;
}
.device_logo {
 display: block;
 padding: 10px;
 height: auto;
 text-align: center;
}
.device_logo .logo_vfs {
 float: left;
 height: auto;
 padding: 0;
 display: block;
 width: 100%;
}
.device_logo .vfs_tag {
 float: right;
 height: auto;
 padding: 10px 0 0 0;
 width: 100%;
 display: block;
	/*margin:-10px 20px 0 0;*/
	text-align: center;
 font-size: 90%;
}
.left_content {
 float: none;
 width: auto;
 padding: 0 10px;
}
.close_counter {
 display: none;
}
.global_nav_device {
 background: #00305d;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 clear: both;
 margin: 10px 0;
 min-height: 40px;
}
.global_nav_device a, .open_nav {
 display: block;
 background: url(../images/nav_collapsed.png) no-repeat 0 0;
 width: 22px;
 height: 22px;
 float: right;
 text-indent: -9999px;
 overflow: hidden;
 margin: 0 0 0 0;
}
.nav_block {
 display: none;
}
.nav_label {
 display: block;
}
.open_nav {
 cursor: pointer;
}
.global_nav {
 width: auto;
 padding: 10px;
 background: #00305d;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 clear: both;
 margin: 10px 0 10px 0;
	/*display:none;*/
	position: relative;
 min-height: 20px;
}
.watermark {
 display: none;
}
.close_nav {
	/*display:block;*/
	display: none;
 background: url(../images/nav_collapsed.png) no-repeat -42px 0;
 width: 18px;
 height: 18px;
 float: right;
 text-indent: -9999px;
 overflow: hidden;
 margin: 0;
 cursor: pointer;
 position: absolute;
 top: 10px;
 right: 10px;
 z-index: 999;
}
br {
 display: block;
 height: 1px !important;
}
.select_languagetext {
 color: #333;
 width: auto;
 padding: 0;
}
.select_language {
 width: auto;
 padding: 3px;
 margin: 5px 0;
 background: #ccc;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 border-radius: 3px;
 min-height: 19px;
 background: #00305d;
}
.select_language .input {
 background: none;
 color: #fff;
 width: 93%;
}
.select_language .go img {
 display: none;
}
.select_language .go a {
 background: url(../images/responsive/arrow-down.png) no-repeat center center #ff9c00;
 display: block;
 height: 25px;
 width: 25px;
 margin: -3px;
 float: right;
 -webkit-border-radius: 0 3px 3px 0;
 -moz-border-radius: 0 3px 3px 0;
 border-radius: 0 3px 3px 0;
}
.select_language #langu {
 z-index: 100;
 display: none;
 padding: 0;
 margin: 22px 0 0 0;
 position: relative;
 background: none;
 background: #00305d;
 margin: 21px -3px -3px -3px;
 color: #fff;
 -webkit-border-radius: 0 0 3px 3px;
 -moz-border-radius: 0 0 3px 3px;
 border-radius: 0 0 3px 3px;
}
.select_language .languages {
 border-right: 25px solid #ff9c00;
 background: none;
 -webkit-border-radius: 0 0 3px 3px;
 -moz-border-radius: 0 0 3px 3px;
 border-radius: 0 0 3px 3px;
}
.select_language .languages a {
 color: #fff;
}
.languages_panel {
 display: none;
}
.languages_panel_device {
 display: block;
}
.right_content {
 float: none;
 width: auto;
 padding: 0;
 margin: 10px;
 clear: both;
}
.gallery {
 height: auto;
}
.gallery img {
 width: 100%;
}
.spacer30 {
 height: 10px;
 padding: 0;
}
.blurb {
 float: none;
 width: auto;
 padding: 0 0 5px 0;
 background: none;
 border: 1px solid #e5e5e5;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 border-radius: 3px;
 margin: 0 0 10px 0;
}
.blurb_heading {
 background: url(../images/responsive/icons/blurb.png) no-repeat #00305d !important;
 -webkit-border-radius: 3px 3px 0 0;
 -moz-border-radius: 3px 3px 0 0;
 border-radius: 3px 3px 0 0;
 width: auto;
 margin: 1px;
 padding: 7px 0 0 58px;
}
.services_solutions .blurb_heading {
 background-position: 10px -1px !important;
}
.recent_events .blurb_heading {
 background-position: 10px -153px !important;
}
.latest_news .blurb_heading {
 background-position: 10px -77px !important;
}
.certification .blurb_heading {
 background-position: 10px -189px !important;
}
.testimonials .blurb_heading {
 background-position: 10px -115px !important;
}
.our_experties .blurb_heading {
 background-position: 10px -39px !important;
}
.blurb_content {
 border: 0 !important;
}
.blurb_content p {
 padding: 0;
 margin: 0 0 10px 0;
}
.latest_news .blurb_content p {
 margin: 0 !important;
 padding: 0 !important;
}
.blurb4s {
 float: none;
 clear: both;
 width: auto;
 margin: 0;
 padding: 0;
}
.vert_spacer30 {
 display: none;
}
.read_more {
 position: static;
 text-align: right;
 padding: 7px 0 0 0;
}
.need_information {
 color: #333;
 width: auto;
 padding: 10px 0 0 0;
}
.visiting_country, .residing_country {
 width: auto;
 padding: 3px;
 margin: 5px 0;
 background: #ccc;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 border-radius: 3px;
 min-height: 19px;
 background: #00305d;
 color: #fff;
}
.visiting_country select, .residing_country select {
 color: #fff;
 width: 98%;
 background: #00305d;
}
.need_information img {
 float: right;
}
.million {
	/*display:none;*/
	background: #00305d;
 -webkit-border-radius: 6px;
 -moz-border-radius: 6px;
 border-radius: 6px;
 margin: 10px 0;
}
.footer {
 position: static;
 width: auto;
 margin: 0 10px;
 height: auto;
}
.footer_content {
 background: #E5E5E5;
 margin: 0;
 width: 100%;
 text-align: left;
 height: 100px !important;
 height: auto !important;
}
.footer_content span {
 padding: 0 0 0 10px;
 margin: 0;
 float: none;
}
.footer_content ul {
 float: none !important;
 display: block;
 padding: 10px 0 0 10px !important;
 clear: both;
}
.footer_content ul li {
 border-color: #ccc !important;
 padding: 0 10px;
 margin: 0;
 display: block;
 float: none;
 padding: 3px 10px;
}
.footer_content ul li a {
 padding: 0;
 margin: 0;
 float: none;
}
.services_solutions .blurb_content, .recent_events .blurb_content, .latest_news .blurb_content, .certification .blurb_content {
 height: auto;
}
.our_experties .blurb_content, .testimonials .blurb_content {
 height: auto;
}
.global_nav ul {
 -webkit-border-radius: 0 0 3px 3px;
 -moz-border-radius: 0 0 3px 3px;
 border-radius: 0 0 3px 3px;
 background: #ff9c00;
}
.global_nav div.nav_block div a:hover {
 background: #ff9c00;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 border-radius: 3px;
}
.global_nav div.selected a {
 -webkit-border-radius: 3px 3px 0 0;
 -moz-border-radius: 3px 3px 0 0;
 border-radius: 3px 3px 0 0;
 background: #ff9c00;
}
.global_nav div.nav_block div.selected a {
 background: none;
 -webkit-border-radius: 3px 3px 0 0;
 -moz-border-radius: 3px 3px 0 0;
 border-radius: 3px 3px 0 0;
 background: #ff9c00;
}
.recent_events .image {
 width: 100%;
 height: 100%
}
/* Inner page */
.container {
 background: none;
 padding: 0;
 margin: 0;
}
.container .left, .container .right {
 float: none;
 width: auto;
}
.spacer15 {
 display: none;
}
.human_pic {
 clear: both;
}
.human_pic img {
 width: auto;
 height: 150px;
 float: right;
}
.gallery {
	/*min-height:119px;*/
	clear: both;
}
.gallery .page_heading {
 float: left;
 position: static;
 width: 65%;
}
.gallery .page_heading_home {
  top: -12px !important;
 left: 0px;
 width: 80%;
 font-size: 200%;
 line-height: 22px;
}
.gallery .page_descriptions {
  float: left;
  top: 35px;
  left: 0px;
  width: 67%;
  font: 12px "Swis721CnBTRoman";
}
.gallery .page_descriptions_home {
 float: left;
 top: 0px;
 left: 0px;
 width: 60%;
 font-size: 190%;
}
.gallery .page_descriptions_home2 {
 float: left;
 top: 110px;
 left: 0px;
 width: 80%;
}
.human_pic {
 float: right !important;
 clear: none !important;
 margin: -20px 0 0 0;
 position: static;
 width: 35%;
}
.container .goTop {
 padding: 10px 0;
}
.page_heading, .container h1 {
 font-size: 28px;
}
.left_content iframe {
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 display: block;
 background: #00305d;
 float: none;
 width: 96.5% !important;
 min-width: 227px !important;
 height: 80px !important;
 margin: 20px 0 10px 0;
 padding: 0 6px;
min-height: 189px;
}
.container h1 {
 padding-bottom: 10px;
}
h2.expand_heading {
 background: url("../images/services_solutions/btn_view_details.gif") no-repeat scroll right 13px transparent;
 cursor: pointer;
 padding: 0 85px 0 0;
 height: 35px;
 font-size: 22px;
}
h2.expand_heading_a{ height:60px;} 
h2.active {
 background: url("../images/services_solutions/btn_hide_details.gif") no-repeat scroll right 13px transparent;
}
.toggle_container {
 padding: 0;
 margin: 10px 0 0 40px;
 width: auto !important;
}
.hori_line {
 height: 30px;
}
.image, .worldmap {
 width: 100%;
}
h2.expand_heading a {
 font-size: 22px;
}
.clientaddress, .client_missions, h2.expand_heading a span {
 width: auto;
 background-repeat: no-repeat;
}
.client_missions {
 padding: 10px 10px 20px 10px !important;
}
h2.board_members, h2.testimonials {
 background-position: center right;
}
.events {
 width: auto;
}
.events img {
 width: 100%;
}
/***** Map *****/
.map_panel {
 display: none;
}
.map_panel_device {
 display: block;
}
.box_content {
 overflow: visible;
 height: 595px !important;
}
/*.box_content {
		background: none repeat scroll 0 0 #FFFFFF;
		border-radius: 4px 4px 4px 4px;
		height: 590px;
		left: 50%;
		margin: -300px 0 0 -480px;
		overflow: auto;
		padding: 5px;
		position: fixed;
		top: 50%;
		width: auto;
		z-index: 1002;
	}
	.box_content .iframe {
		width:auto !important;
		height:auto !important;
	}
	.map {
		width:auto;
		background-size:100% 100%;
	}*/
.vjs-default-skin {
 width: auto !important;
 height: 250px !important;
}
.scrollbar1 {
 width: 100%;
}
.blurb_content {
 width: 95%;
 border-bottom: #ccc dotted 1px;
}
.scrollbar1.overview {
 width: 100%
}
}

@media (max-width: 519px) {
.gallery .page_heading_home {
	font-size: 18px;
}
.gallery.home_page .page_descriptions {
	/*display: none;*/
}
.home_page .human_pic img {
	width: 120px;
	height: auto;
}
.gallery .page_descriptions_home2 {
top: 79px;
  width: auto;
  padding-right: 157px;
  font-size: 11px;
}
}

/* Tablets & IPads Landscape */
@media (min-width: 768px and max-width: 1024px) {
 .left_content {
 margin:0 0 0 15px;
 width:30%;
}
 .right_content {
 width:65%;
}
 .client_missions {
 padding:10px 10px 20px 10px !important;
}
 .vjs-default-skin {
 width:auto !important;
}
}
 @media (max-width: 768px) and (min-width: 480px) {
.left_content iframe {
	display: block;
	background: #00305D;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	padding: 5px;
	float: left;
	z-index: 998;
	left: 0;
	top: 20%;
	width: 250px !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	float: right;
	width: 40% !important;
	min-width: 227px !important;
	height: 75px !important;
	margin: 20px 0 10px 0;
	padding: 0 6px;
}
.device_logo {
	float: left;
	clear: none;
	width: 42%;
}
.device_logo img {
	width: 80%;
}
.innerpage .blurb {
	float: left;
	width: 100%;
	margin: 0 20px 0 0;
}
.innerpage .right .blurb:nth-last-child(2) {
	margin: 0;
}
.embed {
	height: auto !important;
	overflow: hidden;
	padding: 0 0 56.25%;
	position: relative;
}
.embed iframe, .embed object, .embed embed {
	height: 100% !important;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
}

/* Tablets & IPads Portraits */
@media (min-width: 768px) and (max-width: 979px) {
.page_heading_home {
	left: 0px;
	top: 0px;
	font-size: 28px;
	width: 75%;
	line-height: 28px;
}
.home_page .page_descriptions {
	left: 0px;
	top: 65px;
	width: 75%;
}
.page_descriptions_home2 {
	left: 0px;
	top: 125px;
	width: 75%;
}
.global_nav_device {
}
.wrapper {
	width: 100%;
	background: url(../images/responsive/bg_map_ipad.png) no-repeat 0 0;
}
.bg_map {
	width: 100%;
	background: url(../images/responsive/leftbg_ipad.png) no-repeat left top;
}
.left_content {
	margin: 0 0 0 15px;
	width: 31%;
	width: 28%;
}
.right_content {
	width: 64%;
	width: 65%;
}
.vfs_tag {
	width: 54%;
	padding: 25px 0 0 0;
	white-space: nowrap;
	font-size: 90%;
	width: 52%;
}
.logo_vfs {
	width: 40%;
}
.logo_vfs img {
/*width:90%;*/
}
.gallery {
	height: auto;
	margin: 0 0 40px 0;
}
.gallery img {
	width: 100%;
}
.innerpage .gallery {
	margin: 0;
}
.spacer30 {
	display: none;
}
.our_experties, .testimonials {
	margin: 0;
}

.blurb {
	margin-bottom: 26px;
}
.blurb .blurb_content {
	min-height: 150px;
}
.watermark {
	display: none;
}
.recent_events .image {
	width: 100%;
}
.blurb {
	float: left;
	width: 44%;
	padding: 0 0 5px 0;
	background: none;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 20px 20px 0;
}
.blurb_heading {
	background: url(../images/responsive/icons/blurb.png) no-repeat #00305d !important;
	border-radius: 3px 3px 0 0;
	width: auto;
	margin: 1px;
	padding: 7px 0 0 58px;
}
.services_solutions .blurb_heading {
	background-position: 10px -1px !important;
}
.recent_events .blurb_heading {
	background-position: 10px -153px !important;
}
.latest_news .blurb_heading {
	background-position: 10px -77px !important;
}
.certification .blurb_heading {
	background-position: 10px -189px !important;
}
.testimonials .blurb_heading {
	background-position: 10px -115px !important;
}
.our_experties .blurb_heading {
	background-position: 10px -39px !important;
}
.blurb_content {
	border: 0 !important;
}
.blurb_content p {
	padding: 0;
	margin: 0 0 10px 0;
}
.vert_spacer30 {
	display: none;
}
.footer {
	position: static;
	width: auto;
	margin: 10px 0 0 0;
	height: auto;
}
.footer_content {
	background: #E5E5E5;
	margin: 0;
	width: 100%;
	text-align: left;
}
.footer_content span {
	float: left;
}
.footer_content ul {
	float: right;
}
/*.footer_content ul li {
		border-color:#ccc !important;
		padding:0 10px;
		margin:0;
	}
	.footer_content ul li a {
		padding:0;
		margin:0;
	}*/	
.logo_vfs img {
	width: 90%;
}
.nav_label, .open_nav {
	display: none !important;
}
.nav_block {
	display: block !important;
}
/* Inner page */
.container {
	background: none;
	padding: 0;
	margin: 0;
}
.container .left, .container .right {
	float: none;
	width: auto;
}
.innerpage .container {
	padding: 30px 0 0 0;
}
.spacer15 {
	display: none;
}
.human_pic {
	position: static;
	clear: both;
}
.human_pic img {
	width: auto;
	height: 150px;
	float: right;
}
.container .goTop {
	padding: 10px 0;
}
/*.innerpage .footer_content ul {
		float:right;
		display:inline;
		padding:0;
	}
	.innerpage .footer_content span {
		padding:0 0 0 10px;
	}*/
		
.vfs_tag br {
	display: none;
}
.embed {
	height: auto !important;
	overflow: hidden;
	padding: 0 0 56.25%;
	position: relative;
}
.embed iframe, .embed object, .embed embed {
	height: 100% !important;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
}
 @media (min-width: 240px) and (max-width: 320px) {
.logo_vfs img {
	width: 90%;
}
.footer {
	position: static;
	width: auto;
	margin: 0 10px;
	height: auto;
}
.footer_content {
	background: #E5E5E5;
	margin: 0;
	width: 100%;
	text-align: left;
	min-height: 100px;
}
.footer_content span {
	padding: 0 0 0 10px;
	margin: 0;
}
.footer_content ul {
	float: none;
	display: block;
	padding: 10px 0 0 12px;
}
.footer_content ul li {
	border-color: #ccc !important;
	padding: 0 10px;
	margin: 0;
	display: list-item;
	border: 0 !important;
	display: block;
	clear: both;
	padding: 3px 0;
}
.footer_content ul li a {
	padding: 0;
	margin: 0;
	float: none;
}
.visiting_country select, .residing_country select {
	color: #fff;
	width: 98%;
	background: #00305d !important;
}
.left_content iframe {
	width: 92.8% !important;
	width: 95.2% !important;
	min-width: 227px !important;
}
.count_info {
	margin: 10px 0 0;
}
.embed {
	height: auto !important;
	overflow: hidden;
	padding: 0 0 56.25%;
	position: relative;
}
.embed iframe, .embed object, .embed embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
}
/* Desktops */
@media only screen and (min-width: 992px) {
.nav_label, .open_nav {
	display: none !important;
}
.nav_block {
	display: block !important;
}
.vfs_tag br {
	display: none;
}
}
 @media (min-width: 768px) and (max-width: 979px) {
.device_logo {
	display: none;
}
.logo_vfs, .vfs_tag {
	display: block;
}
.left_content {
	float: left;
}
.right_content {
	float: right;
	clear: none;
	width: 58%;
}
.blurb .blurb_content {
	min-height: 170px !important;
}
.select_languagetext, .need_information {
	color: #FFFFFF;
}
.select_language, .select_language #langu {
	/*background:#fff;*/
	color: #333;
}
.select_language #langu a, .select_language .input {
	color: #333;
}
.visiting_country, .residing_country, .visiting_country select, .residing_country select {
	/*background:#fff;*/
	color: #333;
}
.embed {
	height: 0;
	overflow: hidden;
	padding: 0 0 56.25%;
	position: relative;
}
.embed iframe, .embed object, .embed embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}


}
