@charset "utf-8";
/* CSS Document */


@font-face {
 font-family: 'Swis721CnBTRoman';
 src: url('swz721c-webfont.eot');
 src: url('swz721c-webfont.eot?#iefix') format('embedded-opentype'), url('swz721c-webfont.woff') format('woff'), url('swz721c-webfont.ttf') format('truetype'), url('swz721c-webfont.svg#Swis721CnBTRoman') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'Swis721ThBTThin';
 src: url('swz721t-webfont.eot');
 src: url('swz721t-webfont.eot?#iefix') format('embedded-opentype'), url('swz721t-webfont.woff') format('woff'), url('swz721t-webfont.ttf') format('truetype'), url('swz721t-webfont.svg#Swis721ThBTThin') format('svg');
 font-weight: normal;
 font-style: normal;
}
/* common ----------------------------------------------------------------------------------- */

body {
	margin:0;
	padding:0;
	background:url(../images/common/bg_body.gif) repeat-y center top;
}
a, p, ul, li, h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
	text-decoration:none;
}
a {
	color:#183980;
}
a:hover {
	color:#FF8610;
}
html {
	overflow-y:scroll;
}
img {
	border:none;
}
.clear {
	clear:both;
}
:focus {
	outline:none;
}
.orange {
	color:#FF9C00;
}
.orange a{
	color:#FF9C00;
	text-decoration:none;
}
.bg_map {
	width:100%;
	background:url(../images/common/bg_map.png) no-repeat center top;
}
.wrapper {
	width:960px;
	margin:0 auto;
	color:#00305d;
	font:12px Tahoma, Arial, "Arial Narrow";
	line-height:16px;
}

.events{
float:left;
width:450px;
margin:5px;
font:12px  Tahoma, Arial, "Arial Narrow";
color:#00305d;
}

.events img {
padding:5px;
border:1px solid #00305d;
text-align:center;
margin-bottom:10px;
}


/* left_content ----------------------------------------------------------------------------- */

.index_box_height { height:187px !important; }

.left_content {
	float:left;
	width:260px;
	padding:43px 0 0 0;

}
.visa_counter{
	height:38px;
	width:228px;
	display:block;
	font-size:26px; 
	padding:6px 0 0 4px;
	font:24px Arial, Helvetica, sans-serif;
	font-weight:bold;
	background:url(../images/cobg.png) no-repeat top left;
	letter-spacing:12.2px;
	color:#00305d;
}
.visa_count {
	width:240px;
	font:25px"Swis721CnBTRoman";
	
}
.visa_count span {
	margin-right:4px;
	float:left;
	height:33px;
	width:25px;
	background:url(../images/common/img_bg_counter_big.gif) no-repeat top left;
	display:block;
	font:26px "Swis721CnBTRoman"; 
	padding-top:6px;

}

.visa_count span.big {
float: left;
height: 25px;
width: 92px;
background: url(../images/cobgbig1.png) no-repeat top left;
display: block;
font: 18px "Swis721CnBTRoman";
padding: 2px 0 0 4px;
letter-spacing: 16px;
}

.visa_count span.small {
	float:left;
	height:25px;
	width:84px;
	background:url(../images/cobgsmall.png) no-repeat top left;
	display:block;
	font:20px "Swis721CnBTRoman";
	padding:2px 0 0 8px;
	letter-spacing:20px;

}

.visa_count strong {
	float:left;
	display:block;
	font:14px "Swis721CnBTRoman"; 
	padding:4px 0 0 0;
	color:#FFF;
	font-weight:normal;
	
}
.visa_count strong.bigfont {
	display:block;
	font-size:16px; 
	padding-bottom:5px;
	color:#FFF;	
}


.counter {
	color:#000;
}
.global_nav {
	width:200px;
	padding:50px 0 0 0;
}


.global_nav div div a {
	color:#FFF;
	display:block;
	padding:4px 0;
	height:17px;
	text-decoration: none;
	text-transform:uppercase;
	font:16px "Swis721CnBTRoman";
}
.global_nav div div a:hover {
	color:#FFF;
	display:block;
	padding:4px 5px;
	height:17px;
	text-decoration:none;
	text-transform:uppercase;
	font:16px "Swis721CnBTRoman";
	background:url(../images/common/bg_gn_hover.gif) no-repeat left top;
}
.global_nav div div active {
	color:#FFF;
	display:block;
	padding:4px 6px;
	height:17px;
	text-decoration:none;
	text-transform:uppercase;
	font:16px "Swis721CnBTRoman";
	background:url(../images/common/bg_gn_hover.gif) no-repeat left top;
}
.global_nav div div.menuheaders {
	padding:0;
	margin:0;
}
.global_nav div div.selected a { /*header that's currently selected*/
	color:#FFF;
	padding-left:5px;
	background:url(../images/common/bg_gn_selected.gif) no-repeat left top;
}
.global_nav ul {
	padding:5px 10px 10px 10px;
	background:#FF9C00 url(../images/common/bg_gn_ul.gif) no-repeat center bottom;
}
.global_nav ul li {
	display:block;
	list-style:none;
}
.global_nav ul li a {
	display:block;
	color:#183980;
	list-style:none;
	text-decoration:none;
	padding:4px 0 4px 10px;
	border-bottom:#FFE0AF dotted 1px;
	font:12px Tahoma, Arial, "Arial Narrow";
	background:url(../images/common/img_arrow.gif) no-repeat 0px 8px;
}
.search_bar {
	width:200px;
	padding:40px 0 0 0;
}
.select_languagetext {
	width:150px;
	color:#fff;
	font:12pxTahoma, Arial, "Arial Narrow";
	padding:10px 0 0 0;
	font-weight:bold;
}
.select_language {
	width:200px;
	padding:10px 0 0 0;
}
.select_language .input {
	color:#666;
	width:174px;
	height:18px;
	padding:2px 0 0 2px;
}
.select_language .input img, .languages li img {
	float:left;
	position:relative;
	z-index:200;
}
.select_language .input span, .languages li span {
	float:left;
	padding:0 0 0 6px;
	position:relative;
	z-index:200;
}
#langu {
	z-index:100;
	display:none;
	padding:0 0 4px 0;
	margin:16px 0 0 0;
	position:relative;
	background:url(../images/common/bg_langu.gif) no-repeat bottom center;
}
.languages {
	padding:16px 40px 12px 16px;
	background:#FFF url(../images/common/bg_languages.gif) repeat-y right top;
}
.languages li {
	padding:4px 0 2px 0;
	display:block;
	height:18px;
	list-style:none;
	border-bottom:#CDCDCD dotted 1px;
}
.languages li a {
	display:block;
	width:100%;
	min-height:18px;
}
.input {
	float:left;
	width:172px;
	height:19px;
	padding:1px 0 0 4px;
	background:#FFF url(../images/common/bg_left_inputs.gif) no-repeat left top;
}
.input input {
	width:165px;
	border:none;
	color:#666;
	font:12px Tahoma, Arial, "Arial Narrow";
}
.input input:focus {
	outline:none;
}
.go {
	float:right;
	width:24px;
	height:20px;
}
.need_information {
	color:#FFF;
	width:205px;
	padding:40px 0 0 0;
}
.visiting_country, .residing_country {
	height:24px;
	margin:5px 0 0 0;
	background:url(../images/common/bg_visa_info_inputs.gif) no-repeat;
}
.visiting_country select, .residing_country select {
	border:none;
	padding:3px;
	width:200px;
	margin:0;
	color:#666;
	font:12px Tahoma, Arial, "Arial Narrow";
	background:none;
}
.visiting_country select:focus, .residing_country select:focus {
	outline:none;
}
/* right_content -----------------------------------------------------------------------------*/

.right_content {
	float:right;
	width:700px;
	padding:40px 0 0 0;
}
.right_content li {
	list-style:none;
	margin:0 0 0 2px;
	padding:0 0 0 10px;
	background:url(../images/common/img_arrow2.gif) no-repeat 0px 5px;
}
.logo_vfs {
	float:left;
	height:90px;
	padding:0 0 0 30px;
}

.vfs_tag{
	float:right;
	height:40px;
	padding:40px 0 0 30px;
	width:250px;
}
.gallery {
	height:229px;
	padding:0 0 11px 0;
	position:relative;
	background:url(../images/common/img_gallery_bottom.gif) no-repeat center bottom;
}
.page_heading {
	top:65px;
	left:32px;
	position:absolute;
	font:40px "Swis721ThBTThin";
}
.page_descriptions {
	top:148px;
	left:31px;
	width:400px;
	position:absolute;
	font:16px "Swis721CnBTRoman";
	line-height: 18px;
}
.page_descriptions span{
	top:59px;
	left:2px;
	width:400px;
	position:absolute;
	font:14px "Swis721CnBTRoman";
	color:#FF9933;
}
.page_heading_home {
	top:65px;
	left:32px;
	position:absolute;
	font:36px "Swis721ThBTThin";
	line-height:42px;
}
.page_descriptions_home {
	top:148px;
	left:31px;
	width:450px;
	position:absolute;
	font:30px "Swis721CnBTRoman";
}
.page_descriptions_home2 {
	top:200px;
	left:31px;
	width:450px;
	position:absolute;
	font:16px "Swis721CnBTRoman";
}

.human_pic {
	right:20px;
	bottom:11px;
	position:absolute;
}
.million {
	padding:20px 30px;
	text-align:center;
}
.container {
	padding:0 0 60px 0;
	background:url(../images/common/bg_container.gif) repeat-y right top;
}
.hori_line {
	clear:both;
	height:41px;
	background:url(../images/common/bg_hori_line.gif) repeat-x center left;
}
.hori_line31 {
	clear:both;
	height:31px;
	background:url(../images/common/bg_hori_line.gif) repeat-x center left;
}
.hori_line21 {
	clear:both;
	height:21px;
	background:url(../images/common/bg_hori_line.gif) repeat-x center left;
}
.container .left {
	float:left;
	width:459px;
}
.breadcrumb li {
	float:left;
	margin:0 0 0 0;
	padding:0 15px 0 10px;
	background:url(../images/common/img_arrow3.gif) no-repeat 0px 4px;
}
.container p {
	margin:0;
	padding:0 0 8px 0;
}
.container h1 {
	clear:both;
	color:#FF9C00;
	padding-bottom:20px;
	font:36px "Swis721ThBTThin";
}
.container h2 {
	clear:both;
	height:35px;
	color:#FF9C00;
	font:25px "Swis721ThBTThin";
}
.container h3 {
	clear:both;
	height:35px;
	color:#183980;
	font:12px Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.container .goTop {
	clear:both;
	height:10px;
	padding:10px 0 0 0;
}
.container .goTop a {
	width:22px;
	height:10px;
	float:right;
	font-size:0px;
	display:block;
	text-decoration:none;
	background:url(../images/common/img_goTop.gif) no-repeat;
}
.container .goTop a:hover {
	background:url(../images/common/img_goTop_hover.gif) no-repeat;
}
.container .right {
	float:right;
	width:200px;
}
.container .right_heading {
	color:#FFF;
	height:20px;
	background:#ECECEC;
	padding:6px 0 0 35px;
	text-transform:uppercase;/*text-shadow: 0.0em 0.1em #FFF;*/
background:url(../images/home/img_oe_bottom.gif) no-repeat bottom center;
}
.container .right_blurb {
	padding:10px 0 20px 0;
	position:relative;
}
.iconspan {
	float:left;
	margin:6px 8px 0 0;
	cursor:hand;
	cursor:pointer;
	font-weight:bold;
}
.eg-bar {
	border:#CCC solid 1px;
	background:#EFEFEF;
	font-size:14px;
	padding:2px 0 2px 8px;
	color:#000;
	margin:0 0 5px 0;
}
div.eg-bar {
}
.icongroup {
	padding:8px 8px 3px 10px;
	margin:-5px 0 5px 0;
	border:#CCC solid;
	border-width:0 1px 1px 1px;
}
.icongroup p {
	margin:0;
	padding:0 0 5px 0;
}
/* home ---------------------------------------------------------------------------- */

#slider li {
	margin:0;
	padding:0;
	height:229px;
	overflow:hidden;
	background:none;
}
#prevBtn, #nextBtn {
	top:100px;
	z-index:1000;
	position:absolute;
}
#prevBtn a, #nextBtn a {
	width:26px;
	height:41px;
	display:block;
	font-size:0px;
}
#prevBtn {
	left:-30px;
	background:url(../images/home/img_gallery_arrow_left.png) no-repeat 0 0;
}
#nextBtn {
	right:-30px;
	background:url(../images/home/img_gallery_arrow_right.png) no-repeat 0 0;
}
.spacer5 {
	clear:both;
	height:5px;
}
.spacer10 {
	clear:both;
	height:10px;
}
.spacer15 {
	clear:both;
	height:15px;
}
.spacer30 {
	clear:both;
	height:30px;
	padding:10px;
	color:#FF9933;
	font:16px "Swis721CnBTRoman";
	font-weight:bold;
	color:#00305d;
}
.vert_spacer30 {
	float:left;
	width:30px;
	height:100px;
}
.vertlong_spacer30 {
	float:left;
	width:25px;
	height:200px;
}
.our_experties .blurb_content {
	height:auto;
}
.our_experties {
	float:left;
	width:228px;
	padding:0 0 5px 0;
	background:url(../images/home/img_oe_bottom.gif) no-repeat bottom center;
}
.blurb4s {
	float:right;
	width:442px;
	margin-bottom:30px;
}
.blurb_heading {
	color:#FFF;
	height:20px;
	padding:9px 0 0 54px;
	text-transform:uppercase;
}
.blurb {
	float:left;
	width:206px;
	padding:0 0 5px 0;
	background:url(../images/home/img_blurb_bottom.gif) no-repeat bottom center;
}
.blurb_content {
	padding:10px;
	height:auto;
	border:#E5E5E5 solid;
	border-width:0 1px;
	background:#FFF;
	position:relative;
}
.read_more {
	right:10px;
	bottom:5px;
	position:absolute;
	font:10px Tahoma, Arial, "Arial Narrow";
}
.read_more a {
	color:#FF8610;
}
.blurb_content li {
	padding:6px 3px 6px 10px;
	border-bottom:#CDCDCD dotted 1px;
	background-position:0px 10px;
}
.blurb_content li:last-child {
	padding:6px 0 6px 10px;
	border-bottom:none;
	background-position:0px 10px;
}
/**/

h2.board_members {
	height:auto;
	cursor:pointer;
	padding:0 85px 0 0;
	font:12px Tahoma, Arial, "Arial Narrow";
	background:url(../images/services_solutions/btn_view_details.gif) no-repeat 380px 0px;
}
h2.board_members img {
	float:left;
	padding:1px;
	border:#d4d4dd solid 1px;
}
h2.board_members a span {
	display:block;
	text-decoration:none;
	padding:49px 0 0 85px;
}
h2.board_members_active {
	background:url(../images/services_solutions/btn_hide_details.gif) no-repeat 380px 0px;
}
.client_missions {
	width:370px;
	padding:0 0 0 90px;
}
h2.expand_heading {
	cursor:pointer;
	padding:0 85px 0 0;
	background:url(../images/services_solutions/btn_view_details.gif) no-repeat 380px 13px;
	margin-bottom:15px;
}


h2.testimonials {
	cursor:pointer;
	height:auto;
	padding:0 85px 15px 0;
	font:12px Tahoma, Arial, "Arial Narrow";
	background:url(../images/services_solutions/btn_view_details.gif) no-repeat 380px 13px;
}
h2.testimonials a span {
	display:block;
	text-decoration:none;
	padding:13px 0 0 50px;
	background:url(../images/about_us/img_qouets.gif) no-repeat;
}
.expand_all {
	cursor:default;
}
h2.expand_heading a {
	color:#FF9C00;
	font-size:26px;
	display:block;
	text-decoration:none;
}
h2.expand_heading a span {
	width:365px;
	height:36px;
	display:block;
	padding:3px 0 0 7px;
	text-shadow: 0 1px #FFF;
	background:url(../images/services_solutions/bg_year.gif) no-repeat;
}
h2.expand_heading .longtext{
	width:390px;
	height:36px;
	display:block;
	padding:3px 0 0 7px;
	text-shadow: 0 1px #FFF;
	background:url(../images/careers/bg_longtext.gif) no-repeat;
}
h2.active {
	background:url(../images/services_solutions/btn_hide_details.gif) no-repeat 380px 13px;
}
.toggle_container {
	/*width:370px;
	margin:0 0 0 90px;*/
	width:460px;
	margin:0;
}
.toggle_container .details {
	padding:20px 0 20px 0;
	background:url(../images/common/bg_hori_line.gif) repeat-x bottom left;
}
.toggle_container .details li {
	margin-left:0;
	padding-bottom:5px;
}
.expand_all {
	width:116px;
	height:29px;
	background:url() no-repeat top left;
	float:right;
	cursor: pointer;
}
.expanded {
	background-position:bottom left;
}
/*table*/

table {
	margin:0;
	padding:0;
}
table.table_bdr {
	background:#EFEFEF;
}
table.table_bdr tr td {
	background:#FFF;
	padding:4px;
}
table.table_bdr tr th {
	background:#EFEFEF;
	text-align:left;
	padding:4px;
}
/* light_box ----------------------------------------------------------------------------------*/


.grayBox {
	position:fixed;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	background:#000;
	z-index:1001;
	-moz-opacity:0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
.box_content {
	position:fixed;
	top:50%;
	left:50%;
	width:950px;
	height:590px;
	margin:-300px 0 0 -480px;
	background:#FFFFFF;
	z-index:1002;
	overflow:visible;
	padding:5px;/*border:#000 solid 1px;*/
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}
.btn_close {
	top:5px;
	right:5px;
	padding:0 0 5px 5px;
	background:#FFF;
	position:absolute;
}
iframe {
	margin:0;
	padding:0;
	border:none;
}
/* tabs -------------------------------------------------------------------------------------*/

ul.tabs {
	margin:0;
	padding:0;
	height:24px;
	border-bottom:#df8800 solid 1px;
}
ul.tabs li {
	float:left;
	display:block;
	padding:0 1px 0 0;
	background:none;
	margin:0;
}
ul.tabs li a {
	float:left;
	display:block;
	height:23px;
	padding:0 0 0 10px;
	text-align:center;
	text-decoration:none;
	border-bottom:#FFF solid 1px;
	background:url(../images/common/img_tab_left.gif) no-repeat left top;
}
ul.tabs li a span {
	float:left;
	display:block;
	height:18px;
	padding:5px 10px 0 0;
	text-align:center;
	text-decoration:none;
	border-bottom:#FFF solid 1px;
	background:url(../images/common/img_tab_right.gif) no-repeat right top;
}
ul.tabs li a:hover {
	color:#183980;
	background:url(../images/common/img_tab_left_mo.gif) no-repeat left top;
}
ul.tabs li a:hover span {
	background:url(../images/common/img_tab_right_mo.gif) no-repeat right top;
}
.tabs .selected {
	height:24px;
	border-bottom:none;
	background:url(../images/common/img_tab_left_mo.gif) no-repeat left top;
}
.tabs .selected span {
	height:19px;
	border-bottom:none;
	background:url(../images/common/img_tab_right_mo.gif) no-repeat right top;
}
.tab-content {
	padding:10px;
	background:#FFF;
	border:#D4D4dD solid;
	border-width:0 1px 1px 1px;
}
/* footer -------------------------------------------------------------------------------------*/

.watermark{
	bottom:1px;
	position:fixed;
	float:left;
	margin:0 0 0 230px;
	width:175px;
	height:205px;
	background:url(../images/common/logo-watermark.png) no-repeat;	
	z-index:-1;
}
.footer {
	left:50%;
	bottom:-1px;
	width:960px;
	height:30px;
	position:fixed;
	margin:0 0 0 -477px;
	font:12px Tahoma, Arial, "Arial Narrow";
	
}

.slogan {
	left:50%;
	width:470px;
	height:30px;
	position:fixed;
	padding:30px 20px 0 0;
	font:12px Tahoma, Arial, "Arial Narrow";
	background:#fff;
	color:#00305d;
	text-align:right;
	font-weight:bold;
}
.footer_content span{
	padding-left:20px;
	text-align:left;
	color:#003366;

}
.footer_content {
	width:740px;
	height:21px;
	padding:8px 0 0 0;
	margin:0 0 0 230px;
	background:#E5E5E5 url(../images/common/img_footer_corner.gif) no-repeat right top;
}
.footer_content ul {
	float:right;
}
.footer_content ul li {
	float:left;
	display:block;
	list-style:none;
	border-right:1px solid #00305d;
}
.footer_content ul li a {
	float:left;
	display:block;
	list-style:none;
	padding:0 8px;
	background:url(../images/common/img_arrow.gif) no-repeat 0px 4px;
}
/* email alert -------------------------------------------------------------------------------------*/

#commentForm label {
	width: 250px;
}
#commentForm label.error {
	margin-left:253px;
	border:none;
}
#signupForm {
	width: 480px;
}
#signupForm label.error {
	margin-left: 10px;
	width: auto;
	display: inline;
}
#newsletter_topics label.error {
	display: none;
	margin-left:103px;
}
/**********************************

Use: cmxform template

***********************************/
form {
	margin:0;
	padding:0;
}
form.cmxform label {
	display:inline-block;
	line-height:1.8;
	cursor:hand;
}
form.cmxform fieldset fieldset label {
	display:block;
	width:auto;
}
form.cmxform label {
	width:100px;
}
form.cmxform fieldset fieldset label {
	margin-left:103px;
}
form.cmxform label.error {
	margin-left:103px;
	width:220px;
}
form.cmxform input.submit {
	margin-left:103px;
	border:none;
}
fieldset input.submit:focus {
	border:none;
	padding:0;
}
/**********************************

Name: cmxform Styles

***********************************/
form.cmxform {
	width:370px;
}
form.cmxform fieldset {
	border:none;
}
form.cmxform fieldset fieldset {
	background:none;
}
form.cmxform label.error, label.error {
	color:red;
}
div.error {
	display:none;
}
input.checkbox {
	border:none
}
fieldset input:focus {
	border:1px solid red;
	padding:2px;
}
input.error {
	border:1px solid red;
	padding:2px;
}
/**********************************

Client css

***********************************/

.clientaddress 
{
	margin:20px auto 0px auto;
	width:450px;
	text-transform:uppercase;
}

.clientaddress table
{
	padding:5px;
}

.clientaddress th
{
	font-weight:bold;
	text-align:left;
	color:#00305d;
	padding:5px 0 10px 15px;
}
.clientaddress td span
{
	font-weight:normal;
	text-transform:none;
	color:#5d739a;
}

.clientaddress td
{

	font-size:11px;
	font-weight:normal;
	padding:0px 0px 10px 15px;	
	color:#00305d;
}

.clientaddress td a:link, .clientaddress td a:active, .clientaddress td a:visited
{
	text-decoration:none;
	color:#00305d;
}
.clientaddress td a:hover
{
	text-decoration:none;
	color:#e8941a;
}

.bdrtr
{
	background-image:url(../images/about_us/doted-border.gif);
	background-repeat:repeat-x;
	padding:0px;
}

.clientaddress table table
{
	border:0px;
	padding:0px;
}

.clientaddress table table td
{
	border:0px;
	padding:0 0 11px 0;
}



/*Error404 Style*/

.error_div {
	padding: 150px 120px;
	color: #586D84;
}
.error_div h1 {
	font-size: 50px;
	margin-bottom: 27px;
	font-weight:bold;
	text-align: center;
}

.error_div .problem_text {
	font-size: 33px;
	margin-bottom: 55px;
	text-align: center;
}

.error_div .solution_text {
	font-size: 14px;
	margin-bottom: 30px;
	text-align:center;
}

.error_div .error_button {
	display:block;
	padding:15px 0px;
	width: 120px;
	font-size: 13px;
	background-color: #DC780A;
	border: 1px solid #A35601;
	margin: 0 auto;
	color:#FFF;
	text-align:center;
}

/*End Error404 Style*/

.page_wrapper {
float: right;
}
.page_wrapper a {
	font-size: 14px;
	margin-left: 10px;
}

.page_wrapper span.page_active {
	font-size: 14px;
	margin-left: 10px;
	font-weight: bold;
}

#ddlFirstOptionSet {
	-moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
	-webkit-appearance:none;
}
#ddlSecondOptionSet {
	-moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
	-webkit-appearance:none;
}

.visiting_country, .residing_country, #ddlFirstOptionSet , #ddlSecondOptionSet {
    -moz-appearance: none;
	-webkit-appearance:none;
}

.visiting_country, .residing_country {
    background: url("../images/common/bg_visa_info_inputs_ff.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 24px;
    margin: 5px 0 0;
	z-index:9999;
}

}
/*------  DD   ------*/
.visiting_country, .residing_country {
	height:24px;
	margin:5px 0 0 0;
	background:url(../images/common/bg_visa_info_inputs_ff.jpg) no-repeat;
}
.visiting_country select, .residing_country select {
	border:none;
	padding:2px;
	width:200px;
	margin:0;
	color:#666;
	font:12px Tahoma, Arial, "Arial Narrow";
	background:none;
}
.visiting_country select:focus, .residing_country select:focus {
	outline:none;
}

.visiting_country, .residing_country, #ddlFirstOptionSet , #ddlSecondOptionSet {
    -moz-appearance: none;
	-webkit-appearance:none;
}
.visiting_country, .residing_country {
    background: url("../images/common/bg_visa_info_inputs_ff.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 24px;
    margin: 5px 0 0;
	z-index:9999;
}
}
@media (max-width: 480px)  {
#ddlFirstOptionSet, #ddlSecondOptionSet {
    background: url("../images/common/arrow_001.png") no-repeat scroll right 5px #00305d !important;
	-webkit-appearance:none;
}
}
@media (max-width: 768px)   {
#ddlFirstOptionSet, #ddlSecondOptionSet {
    background: url("../images/common/arrow_001.png") no-repeat scroll right 5px #00305d !important;
	-webkit-appearance:none;
}
}

.toggle_container {
width: 460px !important;
margin: 0 !important;
}

.million_100_small
{
	border:none !important;
	margin:0px 25px;
}