@charset 'utf-8';

@font-face {
    font-family: 'Byekan';
    src: url('font/webYekan.eot');
    src: url('font/webYekan.eot?#iefix') format('embedded-opentype'),
         url('font/webYekan.woff2') format('woff2'),
         url('font/webYekan.woff') format('woff'),
         url('font/webYekan.ttf') format('truetype'),
         url('font/webYekan.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	font-family:Byekan, Tahoma;
}
body {
	line-height: 1;
	background: #fff url(images/bg_header.png) repeat-x;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}
input, textarea, select, a {outline:0px;}
textarea {resize:none; overflow:auto;}

aside, article, footer, header, nav, section {display:block;}

li, ul {margin: 0; padding: 0;}
/* defaults end */
body { direction:rtl; font-family:Byekan, Tahoma; font-size:12px }
a { text-decoration:none; line-height:14px }
a:hover { color:#C00}

#vertical-channel li, .content_title, .content_top h1, .menu_box {border-radius:5px 5px 0 0; }
.shadow {box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.21)}

#header {
	width:100%;
	height:30px;
	line-height:30px;
	background:#fff;
	margin-top:5px;
	border-bottom:1px solid #dcdcdc;
}
.nav, .main, .footer {
	width:995px;
	margin:auto;
	display:table;
}
.nav .subnav-L {
	width:475px;
	float:left;
	text-align:left
} 
.nav .search {
	float:right;
	width:634px;
	border:1px solid #D0D0D0;
	background:#efefef;
	height:42px;
	position:relative;
}
.nav .search input {width:480px; background:#FFF; position:absolute; top:5px; right:5px;; padding:0 7px; font:12px; text-align:right; height:30px; border:0 ; border:1px solid #9b9f9f; border-left:0 }
.nav .search button {background:url(images/main.png) 0 0; border:0; width:130px; height:32px; color:#FFF; cursor:pointer;  position:absolute; top:5px; left:5px;  font:19px Arial; font-weight:bold }
.nav a{line-height:30px; font-size:13px; color:#333 }


.nav, .footer {width:100%; margin:auto}
#channel {width:100%; border-bottom:3px solid #2c2185; margin-bottom:20px;}
#vertical-channel { width:995px; margin:auto; }
#vertical-channel ul {display:inline-block}
#vertical-channel li { height:30px; display:inline-block; list-style:none; padding:2px 10px 0 10px;border:1px solid #d8d5ee;background:#f0eff7; border-bottom:none }
#vertical-channel li:hover, #vertical-channel .current { border-color:#2c2185; background:#2c2185; color:#FFF}
#vertical-channel li:hover span, #vertical-channel .current span {color:#FFF;}
#vertical-channel li span {font-weight:bold; font-size:15px; color:#140b5f}


.main_menu {
    background: none repeat scroll 0 0 #FEF0D0;
    border-bottom: medium none #FEC799;
    border-color: #FEC799;
    border-top: medium none #FEC799;
    height: 323px;
    left: -1px;
    overflow: hidden;
    position: absolute;
    width: 147px;
}






.sec_right {float:right; display:inline-block; width:130px; margin-left:5px}
.sec_center {float:right; display:inline-block; width:544px; padding:0 5px}
.sec_left {float:right; display:inline-block; width:300px; margin-right:5px}

.content {width:100%; display:block;   background:#fff; border:1px solid #D8D8D8; border-top:none; }
.content_top {width:100%; height:35px; display:block; border:1px solid #fff; border-top:none; border-bottom-color:#D8D8D8;  background:#fff; margin:0 -1px; }
.content_top h1 { text-align:center; border:1px solid #D8D8D8; border-bottom:none; border-top: 2px solid #e81123}
.content_title {background:#FFF; margin:0 20px; margin-top:-1px; height:35px; border-top:2px solid #2c2185; padding:0 15px; display:inline-block; border-left:1px solid #D8D8D8; border-right:1px solid #D8D8D8;   }
.content_title h2 {display:inline; line-height:35px}
.content_title a {color:#333; line-height:22px}
.content_title a:hover {color:#036}

.content_content {margin:15px 7px; display:table; width:530px;line-height: initial; }
.content_content table,span,font{display:inline}
.content_content p, img {display:block; max-width:530px; line-height:17px}
.content_content .right {width:205px; float:right; margin-left:5px; line-height:15px}
.content_content .right img {margin-bottom:4px}
.content_content .left {width:319px; float:right;}
.content_content .left li {display:block;  width:319px; border-bottom:1px solid #CCC; border-bottom-style:dotted;}
.content_content .left a {line-height:22px}



.menu_box {width:100%; border:1px solid #D8D8D8; text-align:center;}
.menu_box .margin {margin:15px 10px}
.menu_box span {font-family:Byekan, Arial; font-size:18px}
.menu_box hr{width:100%; border-color:#dccdd4;}
.menu_box ul {text-align:center}
.menu_box li {width:100%; display:table; height:20px; border-bottom:1px solid #999; border-bottom-style:dotted; padding:5px 0;}
.menu_box li img {margin-left:5px }



.footer {border-top:1px solid #d8d5ee; border-bottom:none; background:#f0eff7; text-align:center; line-height:18px; padding-top:12px } /* fff3d9 */