body,
.audience-container,
.basic-container {
  padding:0!important;
  margin:0!important;
  background:#fff;
  border:0px solid #fff;
  }
.basic-container.blog {
  padding:0 15px;
  }
h1,
h2,
h3,
.nav-left h1 {
  margin:10px 0;
  }
.article,
.card,
.nav-left .tab-content {
  padding:0;
  margin:0;
  background:#fff;
  -webkit-box-shadow:none;
     -moz-box-shadow:none;
          box-shadow:none;
  }
.article p, 
.article ul,
.article ol {
  font:16px/24px 'Open Sans',sans-serif;
  }
/* Elements displayed/not displayed */
hr,
input,
textarea,
iframe,
select,
#header .header-actions,
#learn-nav,
footer .col-sm-7,
footer .col-sm-5,
footer hr,
footer .row.spacer-bottom20,
footer .row-links,
footer .col-sm-4,
#sidr,
#siderail,
.addthis_toolbox,
.addthis-toolbox,
.social-share,
.print,
.btn,
.nav-left .nav-tabs,
.below-article,
.dropdown,
.part-dropdown,
.blog-pagination,
.visible-phone,
.extras h2,
.qa-edit,
.qa-reset,
.utility-section.hidden-xs,
.lite-card-inner .col-sm-3,
.email-link,
.print-link {
  display:none!important;
  }
.nav-left h2 {
  font-size:22px;
  }
.print-only,
.tab-content > .tab-pane,
.nav-left .tab-pane {
  display:block!important;
  }
.nav-left .tab-pane {
  padding-bottom:10px;
  border-bottom:1px solid #e2e2e2;
  margin-bottom:25px;
  }
.nav-left .tab-pane:last-child {
  border-bottom:0;
  }
/* Topic Snippet */
.article-topic {
  margin-top:-30px;
  border-bottom:6px solid #e2e2e2;
  }
.article-topic .header4 span {
  float:left;
  padding:6px 6px 0 0;
  }
.article-topic ul li,
.article-topic ul li a {
  display:inline-block;
  }
.article-topic ul li {
  margin:10px 10px 0 0;
  }
/* Page Specifics */
#wizard-results .article {
  padding:0;
  }
#wizard-results h2.header2 {
  margin-top:-40px;
  }
#qa-menu li {
  padding:5px 0;
  border:0;
  }
.audience-container.top {
  margin:-30px 0 -100px 0;
  border-top:6px solid #e2e2e2;
  padding-bottom:0;
  }
.audience-container .video,
.addience-container .audience-btn  {
  margin-top: 0;
  }
.audience-container .card-category .span4 {
  display:inline-block;
  float:left;
  width:31.914893617021278%;
  margin:0;
  }
.extras {
  background:#e2e2e2;
  }
/* Show URL */
.article p a:link,
.article p a:visited,
.article li a:link,
.article li a:visited {
  text-decoration:underline;
  }
.article p a:link[href^="http://"]:after,
.article p a[href^="http://"]:visited:after,
.article li a:link[href^="http://"]:after,
.article li a[href^="http://"]:visited:after,
.lite-card-inner a:link[href^="http://"]:after,
.lite-card-inner a[href^="http://"]:visited:after
 {
  content: " (" attr(href) ") ";
  font-size: 11px;
  }
.navbar .pull-left a:link:after,
.navbar .pull-left a:link:after  {
  content:"";
}
.article p a[href^="http://"],
.article li a[href^="http://"] {
  color:#000;
  }
.audience-container a:after,
.article-topic a:after,
.below-article a:after {
  display:none!important;
  }

.lite-card-inner .col-sm-8,
.lite-card-inner .col-md-7 {
  width:100%;
}

.lite-card-inner .col-sm-offset-1,
.lite-card-inner .col-md-offset-1 {
  margin-left:0;
}

footer .col-sm-5.col-lg-3 { display:block !important; }
.lite-card-inner img {max-width:100% !important;}

.visible-xs, tr.visible-xs, th.visible-xs, td.visible-xs {
	display: none!important;
}

@media (max-width: 767px) {
.hidden-xs, tr.hidden-xs, th.hidden-xs, td.hidden-xs {
	display: block!important;
}
}
