/*
Theme Name: ElegantFusion
Theme URI: http://www.elegantthemes.com/gallery/
Version: 2.0
Description: 2 Column theme from Elegant Themes
Author: Elegant Themes
Author URI: http://www.elegantthemes.com
*/

/*------------------------------------------------*/
/*-----------------[RESET]------------------------*/
/*------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q {	quotes: none; }

blockquote:before, blockquote:after,q:before, q:after { content: ''; content: none; }

/* remember to define focus styles! */
:focus { outline: 0; }

/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }

article, aside, footer, header, nav, section { display: block; }

/*------------------------------------------------*/
/*-----------------[BASIC STYLES]-----------------*/
/*------------------------------------------------*/

html { -webkit-font-smoothing: antialiased; }
body { font-family: 'Open Sans', Arial, sans-serif; font-weight: 300; font-size: 16px; color: #454545; background-color: #f9f9f9; }

a { text-decoration: none; color: #ffa300; }
a:hover { text-decoration: underline; }
.clear { clear: both; }
.ui-tabs-hide { display: none; }
br.clear { margin: 0px; padding: 0px; }

h1, h2, h3, h4, h5, h6 { padding-bottom: 5px; color: #454545; line-height: 1em; font-weight: normal; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #111; }
h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }
p { padding-bottom: 10px; line-height: 24px; }
strong { font-weight: bold; color: #1c1c1c; }
cite, em, i { font-style: italic; }
pre, code { font-family: Courier New, monospace; margin-bottom: 10px; }
ins { text-decoration: none; }
sup, sub { height: 0; line-height: 1; position: relative; vertical-align: baseline; }
sup { bottom: 0.8em; }
sub { top: 0.3em; }
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd  { margin-left: 1.5em;}
blockquote  { margin: 1.5em; padding: 1em; color: #666666; background: #e6e6e6; font-style: italic; border: 1px solid #dcdcdc; }
	blockquote p { padding-bottom: 0px; }

input[type=text],input.text, input.title, textarea, select { background-color:#fff; border:1px solid #bbb; padding: 2px; color: #4e4e4e; }
input[type=text]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus { border-color:#2D3940; color: #3e3e3e; }
input[type=text], input.text, input.title, textarea, select { margin:0.5em 0; }
textarea { padding: 4px; }

img#about-image { float: left; margin: 3px 8px 8px 0px; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*------------------------------------------------*/
/*---------------[MAIN LAYOUT INFO]---------------*/
/*------------------------------------------------*/

@font-face {
	font-family: 'LeagueGothicRegular';
	src: url('fonts/League_Gothic-webfont.eot');
	src: url('fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/League_Gothic-webfont.woff') format('woff'),
		 url('fonts/League_Gothic-webfont.ttf') format('truetype'),
		 url('fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, .read-more, .testimonial .title, .entry .meta-info, .subtitle, .wp-pagenavi, .comment_postinfo, .comment-reply-link, .form-submit #submit { font-family: 'LeagueGothicRegular', Arial, sans-serif; }

img { max-width: 100%; height: auto; }

#ie8 img { width: auto; }

#main-header { position: relative; }
	#top-area, #footer-bottom { background-repeat: no-repeat; -moz-background-size: cover; -webkit-background-size: cover; background-size: cover; }

	#top-area { padding-bottom: 57px; }
		body.home.blog #top-area, body.et_default_homepage #top-area { padding-bottom: 0; }

		.page-title-area { color: #fff; text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); padding-top: 130px; clear: both; }
		.page-title-area h1, .description h2 { font-size: 60px; color: #fff; }

		#breadcrumbs-wrapper, #services {
border-top: 1px solid #304854;
border-bottom: 1px solid #0D151B;
background: #1D2F38;
background: -moz-linear-gradient(top, rgba(29, 47, 56, 1) 0%, rgba(22, 37, 44, 1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(29, 47, 56, 1)), color-stop(100%,rgba(22, 37, 44, 1)));
background: -webkit-linear-gradient(top, rgba(29, 47, 56, 1) 0%,rgba(22, 37, 44, 1) 100%);
background: -o-linear-gradient(top, rgba(29, 47, 56, 1) 0%,rgba(22, 37, 44, 1) 100%);
background: -ms-linear-gradient(top, rgba(29, 47, 56, 1) 0%,rgba(22, 37, 44, 1) 100%);
background: linear-gradient(to bottom, rgba(29, 47, 56, 1) 0%,rgba(22, 37, 44, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d2f38', endColorstr='#16252c',GradientType=0 );
-webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0 -1px 0 rgba(0,0,0,0.1) inset;
box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
padding: 78px 0 70px;
}

		#breadcrumbs-wrapper { padding: 16px 0 18px; -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 -5px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 -5px 10px rgba(0, 0, 0, 0.2); box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 -5px 10px rgba(0, 0, 0, 0.2); border-top: 1px solid #000; }

		#et-search-form { float: right; margin-left: 10px; width: 196px; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; border: 1px solid #0b151b; -moz-box-shadow: 1px 1px 0 rgba(255,255,255,0.1), inset 0 0 4px rgba(0,0,0,0.4); -webkit-box-shadow: 1px 1px 0 rgba(255,255,255,0.1), inset 0 0 4px rgba(0,0,0,0.4); box-shadow: 1px 1px 0 rgba(255,255,255,0.1), inset 0 0 4px rgba(0,0,0,0.4); background: #142027; /* Old browsers */
background: -moz-linear-gradient(top, #142027 0%, #17262e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#142027), color-stop(100%,#17262e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #142027 0%,#17262e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #142027 0%,#17262e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #142027 0%,#17262e 100%); /* IE10+ */
background: linear-gradient(to bottom, #142027 0%,#17262e 100%); /* W3C */ }
			#search_input { background: none; border: none; color: #fff; text-shadow: 1px 1px 1px rgba(0,0,0,1); margin: 0; padding: 12px 7px 12px 20px; width: 135px; }
			#search_submit { top: 4px; position: relative; }
		#breadcrumbs { line-height: 1.5; color: #c3e54b; padding-top: 9px; }
			#breadcrumbs a, #breadcrumbs .raquo { color: #fff; text-decoration: none; }
			#breadcrumbs a:hover { opacity: 0.9; }
			#breadcrumbs .raquo { margin: 0 3px; }

	body.home.blog #top-area, body.et_default_homepage #top-area { position: absolute; width: 100%; z-index: 100; background: none !important; }
		.top-content { padding-top: 50px; }
			#logo { float: left; margin-right: 10px; }
			#menu-wrap { float: right; padding-top: 27px; }

			#social-icons, #top-menu { float: left; }
			#social-icons { margin-left: 25px; }
				#social-icons li { float: left; margin: 0 8px; }

#services { border-top: 1px solid #304854; border-bottom: 1px solid #0d151b; background: rgb(29,47,56); /* Old browsers */ background: -moz-linear-gradient(top,  rgba(29,47,56,1) 0%, rgba(22,37,44,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(29,47,56,1)), color-stop(100%,rgba(22,37,44,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  rgba(29,47,56,1) 0%,rgba(22,37,44,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  rgba(29,47,56,1) 0%,rgba(22,37,44,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  rgba(29,47,56,1) 0%,rgba(22,37,44,1) 100%); /* IE10+ */ background: linear-gradient(to bottom,  rgba(29,47,56,1) 0%,rgba(22,37,44,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d2f38', endColorstr='#16252c',GradientType=0 ); /* IE6-9 */ -webkit-box-shadow: 0 -1px 0 rgba(0,0,0,0.1) inset; -moz-box-shadow: 0 -1px 0 rgba(0,0,0,0.1) inset; box-shadow: 0 -1px 0 rgba(0,0,0,0.1) inset; padding: 78px 0 70px; }
	.container { text-align: left; margin: 0 auto; width: 960px; position: relative; }
		.service { float: left; width: 222px; margin-right: 50px; text-shadow: 1px 1px 0 rgba(0,0,0,0.7); color: #fff; position: relative; padding-left: 64px; }
		.last { margin-right: 0 !important; }
			.icon { position: absolute; top: -8px; left: 0; }
			.service h3 { font-size: 30px; padding-bottom: 9px; text-transform: uppercase; color: #fff; }
			.service p { padding-bottom: 20px; }
			.read-more { font-size: 18px; color: #fff; text-transform: uppercase; float: right; }
			.read-more:hover { text-decoration: none; }
				.read-more span { color: #c3e54b; }

		#services .read-more, #services .read-more span { -moz-transition: all 0.12s ease-in-out; -webkit-transition: all 0.12s ease-in-out; transition: all 0.12s ease-in-out; }
		#services .read-more:hover { text-shadow: 0 0 8px rgba(255,255,255,0.8); }
			#services .read-more { position: relative; padding-right: 14px; }
				#services .read-more span { position: absolute; top: 0; right: 0; }
				#services .read-more:hover span { margin-left: 7px; right: -7px; }

#content { border-top: 1px solid #f9f9f9; border-bottom: 1px solid #e6e6e6; background: ; padding: 99px 0 93px; background: url(images/content-top-shadow.png) no-repeat top center; }
	#testimonials, .commentlist, #respond { background-color: #fff; -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1); -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,0.1)); filter: drop-shadow(0 1px 2px rgba(0,0,0,0.1)); }
	#testimonials { float: left; width: 428px; margin-right: 60px; margin-left: 24px; position: relative; }
		#testimonials:before { content: ''; position: absolute; bottom: -21px; right: 45px; border-top: 21px solid #fff; border-left: 21px solid transparent; }
		.testimonial { padding: 32px 42px 27px 39px; }
			.testimonial-image { position: absolute; top: 18px; left: -24px; }
				.testimonial-image img, .testimonial-image:before { -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; display: block; }
			.testimonial .title { display: inline-block; font-size: 30px; text-transform: uppercase; padding-bottom: 9px; }
			.testimonial h2, #recent-updates h2 { color: #454545; }
			.testimonial span.title { color: #c3e54b; }
		.js #testimonials .testimonial { display: none; }
		.js #testimonials .testimonial:first-child { display: block; }

		#testimonials .et-controllers { position: absolute; bottom: -40px; left: 0; width: 100%; text-align: center; }
			#testimonials .et-controllers a { display: inline-block; width: 20px; height: 20px; background: url(images/testimonials_control.png) no-repeat; text-indent: -9999px; margin: 0 1px; }
			#testimonials .et-controllers a.et-active-control { background-image: url(images/testimonials_active_control.png); }

	#recent-updates { float: left; width: 448px; padding-top: 32px; text-shadow: 1px 1px 0 #fff; }
		#recent-updates h2 { font-size: 30px; text-transform: uppercase; padding-bottom: 16px; }
			.recent-updates-image { float: left; margin-right: 18px; position: relative; }
				.recent-updates-image img, .recent-updates-image span { border-radius: 100%; display: block; }
				.testimonial-image:before { content: ''; }
				.recent-updates-image span, .testimonial-image:before { -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset, 1px 1px 0 rgba(255, 255, 255, 0.2); -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset, 1px 1px 0 rgba(255, 255, 255, 0.2); box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset, 1px 1px 0 rgba(255, 255, 255, 0.2); left: 0; position: absolute; top: 0; height: 100%; width: 100%; }
			.recent-update h3 { font-weight: 800; font-size: 16px; padding-top: 6px; }
				.recent-update h3 a { text-decoration: none; color: #454545; }
			.recent-update p.meta-info a { color: #454545; text-decoration: none; }
			.recent-update p.meta-info a:hover { color: #000; }
		#recent-updates	.read-more { color: #454545; padding-top: 13px; }
#logos { border-top: 1px solid #fefefe; border-bottom: 1px solid #fefefe; padding: 36px 0 40px; }
	#logos a { margin-right: 57px; }
		#logos a:nth-child(4) { margin-right: 0; }

	#logos img { -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; max-width: 194px; }
	#logos a:hover img { opacity: 0.5; }

#content-area { padding: 80px 0; }
	#left-area { float: left; margin-right: 47px; width: 623px; }
		.entry { margin-bottom: 60px; background-color: #fff; -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1); -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1); box-shadow: 0 1px 2px rgba(0,0,0,0.1); padding: 38px 33px 38px 40px; }
			.entry h2.title, h1.title { font-size: 30px; text-transform: uppercase; padding-bottom: 4px; }
				.entry h2.title a { text-decoration: none; color: #454545; }
				.entry h2.title a:hover, .entry .read-more:hover { color: #272727; }
			.entry .meta-info { font-size: 30px; text-transform: uppercase; padding-bottom: 32px; color: #c3e54b; }
				.entry .meta-info a { text-decoration: none; color: #c3e54b; }
				.entry .meta-info a:hover { color: #abcb3b; }
			.entry-thumbnail { margin: 0 -34px 32px -40px; position: relative; }
				.entry-thumbnail img { display: block; }
			.entry-thumbnail:before { -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.6) inset; -moz-box-shadow: 0 0 4px rgba(0,0,0,0.6) inset; box-shadow: 0 0 4px rgba(0,0,0,0.6) inset; content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; pointer-events: none; }
			.entry p { padding-bottom: 24px; }
			.entry .read-more { color: #454545; }

.recent-update h3 { font-family: 'Open Sans', Arial, sans-serif; }

.entry-content ul, .comment-content ul { list-style-type: disc; padding: 0 0 23px 16px; line-height: 26px; }
	.entry-content ol, .comment-content ol { list-style-type: decimal; list-style-position: inside; padding: 0 0 23px 0; line-height: 26px; }
		.entry-content ul li ul, .entry-content ul li ol, .comment-content ul li ul, .comment-content ul li ol { padding: 2px 0px 2px 20px; }
		.entry-content ol li ul, .entry-content ol li ol, .comment-content ol li ul, .comment-content ol li ol  { padding: 2px 0px 2px 35px; }

.entry-content h1, .entry-content h2, .entry-content h3 { font-weight: 900; }
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 { margin: 15px 0 10px; }
.entry h2.title, h1.page-title, .entry h1.title { margin: 0; }

#content table { border: 1px solid #eee; margin: 0 0 15px 0; text-align: left; width: 100%; }
	#content tr th, #content thead th { color: #555; font-weight: bold; padding: 9px 24px; }
	#content tr td { border-top: 1px solid #eee; padding: 6px 24px; }

/*------------------------------------------------*/
/*---------------[DROPDOWN MENU]------------------*/
/*------------------------------------------------*/

#top-menu li { float: left; margin: 0 10px; }
#top-menu > ul > li:first-child { margin-left: 0; }
	#top-menu a { color: #fff; text-shadow: 2px 2px 2px rgba(0,0,0,0.4); position: relative; }
	#top-menu > ul > li > a { padding-bottom: 10px; }
	#top-menu a, #top-menu a .menu-highlight, #mobile_menu  .menu-highlight { -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -o-backface-visibility: hidden; backface-visibility: hidden; -moz-transition: all 0.12s ease-in-out; -webkit-transition: all 0.12s ease-in-out; transition: all 0.12s ease-in-out; }
		#top-menu a .menu-highlight, #mobile_menu  .menu-highlight { position: absolute; bottom: 4px; left: 0; background: #c3e54b; height: 2px; width: 100%; -webkit-transform: scale(0,1); -moz-transform: scale(0,1); -ms-transform: scale(0,1); transform: scale(0,1); }
	#top-menu a:hover, .mobile_nav, #top-menu .current-menu-item > a { text-decoration: none; text-shadow: 0 0 15px rgba(255,255,255,0.6); }
		#top-menu a:hover .menu-highlight, #mobile_menu a:hover  .menu-highlight, #top-menu .current-menu-item > a .menu-highlight { -webkit-transform: scale(1,1); -moz-transform: scale(1,1); -ms-transform: scale(1,1); transform: scale(1,1); }
	#top-menu .current-menu-item > a, .mobile_nav { font-weight: 800; }

	.mobile_nav { color: #fff; font-size: 16px; border-bottom: 2px solid #c3e54b; position: relative; }

	.mobile_nav a { position: relative; }
	#mobile_menu  .menu-highlight { bottom: 0; }

/*------------------------------------------------*/
/*--------------[FEATURED SLIDER]-----------------*/
/*------------------------------------------------*/

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
	}

	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
	}

	70% {
		-webkit-transform: scale(.9);
	}

	100% {
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes bounceIn {
	0% {
		opacity: 0;
		-moz-transform: scale(.3);
	}

	50% {
		opacity: 1;
		-moz-transform: scale(1.05);
	}

	70% {
		-moz-transform: scale(.9);
	}

	100% {
		-moz-transform: scale(1);
	}
}

@-o-keyframes bounceIn {
	0% {
		opacity: 0;
		-o-transform: scale(.3);
	}

	50% {
		opacity: 1;
		-o-transform: scale(1.05);
	}

	70% {
		-o-transform: scale(.9);
	}

	100% {
		-o-transform: scale(1);
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: scale(.3);
	}

	50% {
		opacity: 1;
		transform: scale(1.05);
	}

	70% {
		transform: scale(.9);
	}

	100% {
		transform: scale(1);
	}
}


#et-slider-wrapper { height: 680px; position: relative; background: #0c151b; }
	.et-slide { background-repeat: no-repeat; background-position: top center; -moz-background-size: cover; -webkit-background-size: cover; background-size: cover; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
		.et-slide .container { padding: 180px 0 0; }
			.et-slide .description { text-shadow: 0 2px 2px rgba(0,0,0,0.3); color: #fff; font-size: 18px; float: left; width: 412px; padding-top: 45px;
	-webkit-animation-duration: .6s;
	-webkit-animation-delay: .4s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: .6s;
	-moz-animation-delay: .4s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: .6s;
	-ms-animation-delay: .4s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	animation-duration: .6s;
	animation-delay: .4s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}
				.description h2 { font-size: 60px; color: inherit; }
					.description h2 a { color: #fff; }
					.description h2 a:hover { text-decoration: none; color: rgba(255,255,255,0.95); }
					.subtitle { font-size: 32px; text-transform: uppercase; color: #c3e54b; }
					.description .more { float: left; display: inline-block; text-transform: uppercase; font-size: 24px; color: #fff; text-shadow: 0 -1px 1px rgba(0,0,0,0.8); padding: 17px 28px; border: 1px solid #ea6a07; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 3px 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 3px 3px rgba(0,0,0,0.3); box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 3px 3px rgba(0,0,0,0.3);
					background: #e44410;
background: -moz-linear-gradient(top, #f88802 0%, #ea6a07 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f88802), color-stop(100%,#ea6a07)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f88802 0%,#1e2f37 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f88802 0%,#ea6a07 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f88802 0%,#ea6a07 100%); /* IE10+ */
background: linear-gradient(to bottom, #f88802 0%,#ea6a07 100%); /* W3C */
margin-top: 20px;
}
					.description .more:hover { color: rgba(255,255,255,0.9); text-decoration: none; }
			.featured-image { float: right; width: 535px;
-webkit-animation-duration: .6s;
	-webkit-animation-delay: .8s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: .6s;
	-moz-animation-delay: .8s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: .6s;
	-ms-animation-delay: .8s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	animation-duration: .6s;
	animation-delay: .8s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}

.et-active-slide .description {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

.et-active-slide .featured-image {
	-webkit-animation-name: bounceIn;
	-moz-animation-name: bounceIn;
	-o-animation-name: bounceIn;
	animation-name: bounceIn;
}

.js .et-slide { display: none; }
.js .et-slide:first-child { display: block; }

.et-slider-arrows a { display: block; background-repeat: no-repeat; width: 28px; height: 40px; position: absolute; top: 400px; text-indent: -9999px; -moz-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; opacity: 0; }
#et-slider-wrapper .et-arrow-prev { left: 60px; background-image: url(images/left-arrow.png); }
#et-slider-wrapper .et-arrow-next { right: 60px; background-image: url(images/right-arrow.png); }
#et-slider-wrapper:hover .et-slider-arrows a { opacity: 1; }
#et-slider-wrapper:hover .et-arrow-prev { left: 80px; }
#et-slider-wrapper:hover .et-arrow-next { right: 80px; }

#et-slider-controls { position: absolute; bottom: 30px; left: 0; width: 100%; }
	#et-slider-controls .et-controllers { width: 530px; float: right; text-align: left; }
		#et-slider-controls .et-controllers a { display: inline-block; width: 17px; height: 17px; background: url(images/slider_control.png) no-repeat; text-indent: -9999px; margin: 0 1px; }
		#et-slider-controls .et-controllers a.et-active-control { background-image: url(images/active_slider_control.png); }

		.et-controllers a.et-active-control:hover { cursor: default; }

/*------------------------------------------------*/
/*-------------------[COMMENTS]-------------------*/
/*------------------------------------------------*/

.commentlist, #respond { padding: 40px; }
#comments, #reply-title { font-size: 30px; text-transform: uppercase; }
.comment-body { position: relative; padding: 0 0 0 75px; margin: 20px 0; }
	.comment_avatar { position: absolute; top: 0; left: 0; }
		.comment_avatar img { display: block; }
	.comment_avatar:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; -moz-box-shadow: inset 0 0 7px rgba(0,0,0,0.5); -webkit-box-shadow: inset 0 0 7px rgba(0,0,0,0.5); box-shadow: inset 0 0 7px rgba(0,0,0,0.5); }
	.comment_postinfo { font-size: 24px; text-transform: uppercase; margin-bottom: 5px; }
	.fn, .fn a { color: #454545; text-decoration: none; }
	.comment_date { color: #c3e54b; margin-left: 4px; }

	.comment-reply-link, .form-submit #submit { float: right; position: relative; padding-right: 12px; color: #454545; font-size: 18px; text-transform: uppercase; }
		.comment-reply-link:hover { color: #111; text-decoration: none; }
		.comment-reply-link:before { content: '\00BB'; position: absolute; top: 0; right: 0; color: #C3E54B; }

	.commentlist .children { padding-left: 75px; }

	#respond { margin-top: 60px; }

	#commentform input[type="text"] { width: 40%; }
	#commentform textarea { width: 89%; }
	#commentform textarea, #commentform input[type="text"] { border: 1px solid #e0dddd; padding: 20px; color: #555e58; font-size: 14px; background: #fff; -moz-box-shadow: inset 0 0 7px rgba(0,0,0,0.1); -webkit-box-shadow: inset 0 0 7px rgba(0,0,0,0.1); box-shadow: inset 0 0 7px rgba(0,0,0,0.1); }

	#reply-title small { display: block; font-size: 12px; padding-top: 5px; font-weight: bold; letter-spacing: 0; font-family: 'Open Sans', Arial, sans-serif; }

	.form-submit { text-align: right; }
		.form-submit input { font-size: 14px; float: none; }

	.comment #respond, #trackbacks { margin-bottom: 30px; }

	.comment #respond { background: none; -moz-box-shadow: none; -webkit-filter: none; filter: none; padding: 0; margin-top: 32px; }

	.form-submit #submit { background: none; border: none; }

/*------------------------------------------------*/
/*---------------------[FOOTER]-------------------*/
/*------------------------------------------------*/

#footer-widgets { border-top: 1px solid #d8d8d8; padding: 99px 0 59px; text-shadow: 1px 1px 0 #fff; background-color: #ececec; }
	#footer-copyright { margin-top: -9px; font-family: Georgia, serif; font-style: italic; font-size: 16px; color: #c5c5c5; margin-bottom: -5px; }
	.footer-widget { float: left; width: 280px; margin-right: 60px; color: #787878; }
		.footer-widget h4.widgettitle { font-size: 30px; padding-bottom: 9px; text-transform: uppercase; color: #454545; }
#footer-bottom { padding: 55px 0 25px; text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5); }
	.bottom-nav li { float: left; padding-right: 22px; }
		.bottom-nav li.current_page_item a { color: #c3e54b; font-weight: 800; }
		.bottom-nav li a { color: #fff; text-decoration: none; }
		.bottom-nav li a:hover { color: #eee; }
	p#copyright { text-align: right; font-size: 12px; color: #fff; }
		p#copyright a { color:#fff; font-weight: 800; }
.f_widget { margin-bottom: 25px; }


/*------------------------------------------------*/
/*--------------------[SIDEBAR]-------------------*/
/*------------------------------------------------*/

#sidebar { float: left; width: 290px; }
	#sidebar a, #footer-widgets a { color: #454545; }
	#sidebar a:hover, #footer-widgets a:hover { color: #111; text-decoration: none; }

	.widget { margin-bottom: 42px; text-shadow: 1px 1px 0 #fff; }
		.widget h4.widgettitle { font-size: 30px; text-transform: uppercase; padding-bottom: 14px; color: #454545; }

		.widget li, .f_widget li { padding: 0 0 15px 15px; background: url(images/widget-bullet.png) no-repeat 0 6px; }
			.widget li:hover, .f_widget li:hover { background-image: url(images/hover-widget-bullet.png); }
				.f_widget li ul, .widget li ul { margin: 15px 0 -15px; }

/*------------------------------------------------*/
/*------------[CAPTIONS AND ALIGNMENTS]-----------*/
/*------------------------------------------------*/

div.post .new-post .aligncenter, .aligncenter { display: block; margin-left: auto; margin-right: auto; }
.wp-caption { border: 1px solid #ddd; text-align: center; background-color: #f3f3f3; padding-top: 4px; margin-bottom: 10px; max-width: 96%; padding: 8px; }
.wp-caption.alignleft { margin: 0px 10px 10px 0px; }
.wp-caption.alignright { margin: 0px 0px 10px 10px; }
.wp-caption img { margin: 0; padding: 0; border: 0 none; }
.wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; padding: 0 4px 5px; margin: 0; }
.alignright { float: right; }
.alignleft { float: left }
img.alignleft { display:inline; float:left; margin-right:15px; }
img.alignright { display:inline; float:right; margin-left:15px; }


/*------------------------------------------------*/
/*---------------[DEFAULT DROPDOWN SETTINGS]---*/
/*------------------------------------------------*/

.nav ul { position:absolute; top:-999em; z-index: 9999; }
	.nav li { position: relative; }
		.nav ul li { float:left; }
			.nav ul a { display:block; float: left; }
.nav li:hover ul, ul.nav li.sfHover ul { left: -80px; top: 30px; }
	.nav li:hover li ul, .nav li.sfHover li ul, .nav li:hover ul, .nav li li:hover ul { top:-999em; }

.nav li li { display: block; padding: 0; height: auto !important; float: none !important; margin: 0 !important; }
.nav li ul, #mobile_menu { width: 240px; z-index: 9999; background: #1b2c34; background: rgba(27,44,52,0.9); border: 1px solid #051116; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; padding: 6px 0; -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1), 0 3px 5px rgba(0,0,0,0.2); -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1), 0 3px 5px rgba(0,0,0,0.2); box-shadow: inset 0 1px 0 rgba(255,255,255,0.1), 0 3px 5px rgba(0,0,0,0.2); }
	.nav li li a:link, .nav li li a:visited, #mobile_menu a { display: block; height: auto; float: none !important; padding: 13px 7px 16px 23px; border-bottom: 1px solid #071419; border-top: 1px solid #253e4a; }
	.nav li li a:hover, #mobile_menu a:hover { background: #000; background: rgba(0,0,0,0.3); }
	.nav li ul > li:first-child > a, #mobile_menu > li:first-child > a { border-top: none; }
	.nav li ul > li:last-child > a, #mobile_menu > li:last-child > a { border-bottom: none; }
	.nav li:hover { visibility: inherit; /* fixes IE7 'sticky bug' */ }

	#top-menu li li .menu-highlight { bottom: 0; }

.nav li li:hover ul, ul.nav li li.sfHover ul { left: 241px; top: -7px; }

#mobile_menu { position: absolute; top: 30px; left: -52px; text-align: left; }
	#mobile_menu a { font-weight: 300; color: #fff; text-decoration: none; }
	#mobile_menu ul { display: block !important; visibility: visible !important; }
		#mobile_menu ul a { padding-left: 40px; }
			#mobile_menu ul ul a { padding-left: 60px; }
				#mobile_menu ul ul ul a { padding-left: 80px; }

/*------------------------------------------------*/
/*-----------------[WP CALENDAR]-----------------*/
/*------------------------------------------------*/
#wp-calendar { empty-cells: show; margin: 10px auto 0; width: 240px;	}
	#wp-calendar a { display: block; text-decoration: none; font-weight: bold; }
		#wp-calendar a:hover { text-decoration: underline; }
	#wp-calendar caption {	text-decoration: none; font: bold 13px Arial, Sans-Serif; }
	#wp-calendar td {	padding: 3px 5px; }
		#wp-calendar td#today { color: #111; font-weight: bold; }
	#wp-calendar th {	font-style: normal;	text-transform: capitalize;	padding: 3px 5px; }
		#wp-calendar #prev a, #wp-calendar #next a { font-size: 9pt; }
		#wp-calendar #next a { padding-right: 10px; text-align: right; }
		#wp-calendar #prev a { padding-left: 10px; text-align: left; }

/*------------------------------------------------*/
/*-------------------[PAGE NAVI]------------------*/
/*------------------------------------------------*/
.pagination { overflow: hidden; padding: 20px 0; }
#content .wp-pagenavi { text-align: right; }
	#content .wp-pagenavi a, #content .wp-pagenavi span { background: #fff; -moz-box-shadow: 0 0 5px rgba(0,0,0,0.1); -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1); box-shadow: 0 0 5px rgba(0,0,0,0.1); border: none; padding: 14px 18px; font-size: 18px; color: #d8d8d8; font-weight: normal !important; margin: 0 4px; }
	#content .wp-pagenavi span.current, #content .wp-pagenavi a:hover { color: #454545; }
	#content .wp-pagenavi .nextpostslink, #content .wp-pagenavi .previouspostslink { color: #c3e54b; }
	#content .wp-pagenavi .pages { background: none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

.mobile_nav, #mobile_menu { display: none; }

.fullwidth #left-area { float: none; width: auto; }

.entry .wp-pagenavi { padding-top: 30px; }

.et_embedded_videos { display: none; }

.et_pt_gallery_entry { margin-left: 67px !important; }

#et_pt_portfolio_gallery { margin-left: -33px !important; }
	.et_pt_portfolio_item { margin-left: 16px !important; }
	.et_portfolio_large .et_pt_portfolio_item { width: 420px !important; }

embed, iframe, object, video { max-width: 100%; }

@media only screen and ( max-width: 960px ) {
	#et-search, p#et-search-title, p#et-search-title span { background: none !important; }
	#et-search { width: auto !important; height: auto !important; }
		#et-search-inner { padding: 0 !important; }
			#et-search-right { float: none !important; clear: both; text-align: left !important; }
				#et_search_submit { background: #BBB8B8 !important; color: #111 !important; }
			p#et-search-title { margin-bottom: 2px !important; }
				p#et-search-title span { padding: 0 !important; text-shadow: none !important; }
	#et-searchinput { width: auto !important; }
	p#et_choose_posts, p#et_choose_pages, p#et_choose_date, p#et_choose_cat { float: none !important; }
	#et-search-left { float: none !important; width: 100% !important; }
}

@media only screen and ( min-width: 768px ) and ( max-width: 960px ) {
	.container { width: 728px; }
		#logo { float: none; }
		#menu-wrap { float: none; clear: both; padding-top: 38px; }

		#et-slider-wrapper { height: 760px; }
			.et-slide .container { padding-top: 180px; }
				.et-slide .description { width: 277px; padding-top: 32px; }
					.description h2 { font-size: 48px; }
				.featured-image, #et-slider-controls .et-controllers { width: 402px; }
			#et-slider-controls { bottom: 100px; }

		.et-slider-arrows a { top: 413px; }
		#et-slider-wrapper .et-arrow-prev { left: 0; }
		#et-slider-wrapper .et-arrow-next { right: 0; }
		#et-slider-wrapper:hover .et-arrow-prev { left: 25px; }
		#et-slider-wrapper:hover .et-arrow-next { right: 25px; }

		.subtitle, .service h3, .testimonial .title, .footer-widget h4.widgettitle { font-size: 24px; }
			.description .more { font-size: 18px; }
		.service { margin-right: 35px; width: 155px;	}
		#testimonials { width: 313px; }
			.testimonial { padding: 30px 26px 27px 39px; }
				.testimonial .title { padding-bottom: 3px; }
				.testimonial span.title  { display: block; }
		#recent-updates { width: 331px; }
		#logos img { max-width: 136px; }
		.footer-widget { margin-right: 52px; width: 208px; }

		#left-area { width: 472px; }
		#sidebar { width: 209px; }

		.page-title-area { padding-top: 95px; }
			.page-title-area h1 { font-size: 48px; }

		.entry .meta-info { font-size: 24px; }

	#et_pt_portfolio_gallery { margin-left: -35px !important; }
		.et_pt_portfolio_item { margin-left: 13px !important; width: 201px !important; }
		.et_portfolio_more_icon, .et_portfolio_zoom_icon { top: 50px !important; }
		.et_portfolio_more_icon { left: 65px !important; }
		.et_portfolio_zoom_icon { left: 106px !important; }

	#et_pt_portfolio_gallery.et_portfolio_small { margin-left: -18px !important; }
		#et_pt_portfolio_gallery.et_portfolio_small .et_pt_portfolio_item { margin-left: 8px !important; width: 117px !important; }
			#et_pt_portfolio_gallery.et_portfolio_small .et_portfolio_more_icon, #et_pt_portfolio_gallery.et_portfolio_small .et_portfolio_zoom_icon { top: 20px !important; }
			#et_pt_portfolio_gallery.et_portfolio_small .et_portfolio_more_icon { left: 26px !important; }
			#et_pt_portfolio_gallery.et_portfolio_small .et_portfolio_zoom_icon { left: 62px !important; }

	#et_pt_portfolio_gallery.et_portfolio_large { margin-left: -28px !important; }
		#et_pt_portfolio_gallery.et_portfolio_large .et_pt_portfolio_item { margin-left: -3px !important; width: 321px !important; }
			#et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_more_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_zoom_icon { top: 99px !important; }
			#et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_more_icon { left: 140px !important; }
			#et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_zoom_icon { left: 178px !important; }


}


@media only screen and ( max-width: 767px ) {
	.container { width: 440px; }
		.top-content.container { text-align: center; }
			#logo, #top-menu { float: none;	}
			#social-icons, .description p { display: none; }
			.description .subtitle { display: block; }
			.description .more { font-size: 18px; float: left; padding: 17px; }

		#et-slider-wrapper { height: 544px; }
			.et-slide .container { padding-top: 233px; }
				.et-slide .description { width: 203px; padding-top: 22px; }
				.featured-image { width: 211px; }
				#et-slider-controls .et-controllers { width: 100%; text-align: center; }
			#et-slider-controls { bottom: 60px; }

		.et-slider-arrows a { top: 312px; }

		#et-slider-wrapper .et-arrow-prev { left: 0; }
		#et-slider-wrapper .et-arrow-next { right: 0; }
		#et-slider-wrapper:hover .et-arrow-prev { left: 10px; }
		#et-slider-wrapper:hover .et-arrow-next { right: 10px; }

		.description h2 { font-size: 36px; }
		.subtitle { font-size: 18px; }
		.service { float: none; margin-bottom: 35px; }
			.service h3, .footer-widget h4.widgettitle { font-size: 24px; }
		.service { margin-right: 0; width: 375px; }
		#testimonials, #recent-updates { float: none; width: auto; }
		#testimonials { margin: 0 0 50px 24px; }
			.testimonial { padding: 32px 36px 27px 39px; }
		#recent-updates { margin-left: 60px; }
		#logos { padding-bottom: 0; }
			#logos img { max-width: 189px; margin-bottom: 50px; }
			#logos a:nth-child(2) { margin-right: 0; }
		.footer-widget { margin-right: 0; width: auto; margin-bottom: 50px; float: none; }
		.footer-widget.last { margin-bottom: 0; }
		#footer-bottom .container, p#copyright { text-align: center; }
			.bottom-nav { display: inline-block; }
		p#copyright { padding-top: 25px; }

		#menu-wrap, #sidebar { display: none; }
		.mobile_nav { display: inline-block; }

		#et_mobile_nav_menu { margin-top: 45px; }
			.mobile_nav { padding-bottom: 8px; }
		.mobile_nav:hover { text-decoration: none; }

		.page-title-area { padding-top: 51px; }
			.page-title-area h1 { font-size: 48px; }
			.page-title-area .subtitle, .entry .meta-info { font-size: 24px; }

		#left-area { float: none; margin-right: 0; width: auto; }

	#et_pt_gallery { margin-left: -44px !important; margin-right: -40px !important; }
		.et_pt_gallery_entry { margin-left: 7px !important; }

	#et_contact_right { width: 50% !important; margin-left: 0 !important; float: none !important; }

	.sitemap-col { float: none !important; width: auto !important; }

	.et_pt_portfolio_item { margin-left: 30px !important; }

	.et_portfolio_small .et_pt_portfolio_item { width: 380px !important; margin-bottom: 10px; }
		.et_portfolio_small .et_pt_portfolio_entry { float: left; margin-right: 15px; }
		.et_portfolio_small .et_portfolio_more_icon, .et_portfolio_small .et_portfolio_zoom_icon { top: 30px !important; }
		.et_portfolio_small .et_portfolio_more_icon { left: 38px !important; }
		.et_portfolio_small .et_portfolio_zoom_icon { left: 77px !important; }

	#et_pt_portfolio_gallery.et_portfolio_large { margin-left: 0 !important; }
		#et_pt_portfolio_gallery.et_portfolio_large .et_pt_portfolio_item { margin-left: -27px !important; width: 404px !important; }
		#et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_more_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_zoom_icon { top: 109px !important; }
		#et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_more_icon { left: 155px !important; }
		#et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_zoom_icon { left: 195px !important; }
}

@media only screen and ( max-width: 479px ) {
	.container { width: 320px; }
		#et-slider-wrapper { height: 505px; }
			.featured-image, #et-search-form, #content .wp-pagenavi .pages { display: none; }

			.et-slide .description { float: none; width: 100%; }
				.et-slide .description .more { float: none; }

		.top-content.container, .et-slide .container, #logos .container, p#copyright { text-align: center; }
			#logo, #top-menu { float: none;	}
			#social-icons, #footer-widgets, .bottom-nav { display: none; }
			.description h2 { font-size: 36px; }
			.subtitle, .entry .meta-info { font-size: 18px; }
			.service h3 { font-size: 24px; }
		.service { margin-right: 0; width: 255px; }

			.testimonial { padding: 32px 36px 27px 39px; }
		#recent-updates { margin-left: 0; }
			#logos img { max-width: 189px; margin-bottom: 50px; }

		#footer-bottom { padding-top: 0; }

		.page-title-area h1 { font-size: 36px; }

		#breadcrumbs { padding: 10px 0; }

	.et_pt_gallery_entry { margin-left: 56px !important; }

	p.et-registration { margin-top: 35px !important; }
	.et-protected-form { padding: 0 !important; background: none !important; }
	.et-protected { width: auto !important; }

	#et_pt_portfolio_gallery, #et_pt_portfolio_gallery.et_portfolio_large { margin-left: 0 !important; }
		.et_pt_portfolio_item, #et_pt_portfolio_gallery.et_portfolio_large .et_pt_portfolio_item { margin-left: 0 !important; width: 228px !important; }
			.et_portfolio_more_icon, .et_portfolio_zoom_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_more_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_zoom_icon { top: 53px !important; }
			.et_portfolio_more_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_more_icon { left: 70px !important; }
			.et_portfolio_zoom_icon, #et_pt_portfolio_gallery.et_portfolio_large .et_portfolio_zoom_icon { left: 110px !important; }

	.entry .et_portfolio_small .et_pt_portfolio_item { width: 262px !important; margin-left: 0 !important; }

	.et_portfolio_small .et_pt_portfolio_item { margin-left: -15px !important; width: 254px !important; }
}

/*------------------------------------------------*/
/*-----------------[COLOR SCHEMES-----------------*/
/*------------------------------------------------*/

/*--------------------[PURPLE]--------------------*/
.et_color_scheme_purple #breadcrumbs-wrapper, .et_color_scheme_purple #services {
border-top: 1px solid #692c6d;
background: #4d2050;
background: -moz-linear-gradient(top, .et_color_scheme_purple#4d2050 0%, .et_color_scheme_purple#3c1a3e 100%);
background: -webkit-gradient(linear, .et_color_scheme_purpleleft top, .et_color_scheme_purpleleft bottom, .et_color_scheme_purplecolor-stop(0%,rgba(29, .et_color_scheme_purple47, .et_color_scheme_purple56, .et_color_scheme_purple1)), .et_color_scheme_purplecolor-stop(100%,#3c1a3e));
background: -webkit-linear-gradient(top, .et_color_scheme_purple#4d2050 0%,#3c1a3e 100%);
background: -o-linear-gradient(top, .et_color_scheme_purple#4d2050 0%,#3c1a3e 100%);
background: -ms-linear-gradient(top, .et_color_scheme_purple#4d2050 0%,#3c1a3e 100%);
background: linear-gradient(to bottom, .et_color_scheme_purple#4d2050 0%,#3c1a3e 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d2050', .et_color_scheme_purpleendColorstr='#3c1a3e',GradientType=0 );
}

.et_color_scheme_purple .description .more {
background: #4d2050;
background: -moz-linear-gradient(top, .et_color_scheme_purple#4d2050 0%, .et_color_scheme_purple#3c1a3e 100%);
background: -webkit-gradient(linear, .et_color_scheme_purpleleft top, .et_color_scheme_purpleleft bottom, .et_color_scheme_purplecolor-stop(0%,rgba(29, .et_color_scheme_purple47, .et_color_scheme_purple56, .et_color_scheme_purple1)), .et_color_scheme_purplecolor-stop(100%,#3c1a3e));
background: -webkit-linear-gradient(top, .et_color_scheme_purple#4d2050 0%,#3c1a3e 100%);
background: -o-linear-gradient(top, .et_color_scheme_purple#4d2050 0%,#3c1a3e 100%);
background: -ms-linear-gradient(top, .et_color_scheme_purple#4d2050 0%,#3c1a3e 100%);
background: linear-gradient(to bottom, .et_color_scheme_purple#4d2050 0%,#3c1a3e 100%);
}

.et_color_scheme_purple #breadcrumbs, .et_color_scheme_purple.read-more span, .et_color_scheme_purple.testimonial span.title, .et_color_scheme_purple.entry .meta-info, .et_color_scheme_purple.entry .meta-info a, .et_color_scheme_purple.entry .meta-info a:hover, .et_color_scheme_purple.subtitle, .et_color_scheme_purple.comment_date, .et_color_scheme_purple.comment-reply-link:before, .et_color_scheme_purple.bottom-nav li.current_page_item a, .et_color_scheme_purple#content .wp-pagenavi .nextpostslink, .et_color_scheme_purple#content .wp-pagenavi .previouspostslink { color: #d166d8; }
.mobile_nav { border-color: #d166d8; }
#top-menu a .menu-highlight, .et_color_scheme_purple#mobile_menu .menu-highlight { background-color: #d166d8; }
a { color: #d166d8; }
.subtitle { color: #fff;}

/*--------------------[BLUE]--------------------*/
.et_color_scheme_blue #breadcrumbs-wrapper, .et_color_scheme_blue #services {
border-top: 1px solid #2e479b;
background: #21326b;
background: -moz-linear-gradient(top, .et_color_scheme_blue#21326b 0%, .et_color_scheme_blue#172658 100%);
background: -webkit-gradient(linear, .et_color_scheme_blueleft top, .et_color_scheme_blueleft bottom, .et_color_scheme_bluecolor-stop(0%,#21326b), .et_color_scheme_bluecolor-stop(100%,#172658));
background: -webkit-linear-gradient(top, .et_color_scheme_blue#21326b 0%,#172658 100%);
background: -o-linear-gradient(top, .et_color_scheme_blue#21326b 0%,#172658 100%);
background: -ms-linear-gradient(top, .et_color_scheme_blue#21326b 0%,#172658 100%);
background: linear-gradient(to bottom, .et_color_scheme_blue#21326b 0%,#172658 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21326b', .et_color_scheme_blueendColorstr='#172658',GradientType=0 );
}

.et_color_scheme_blue .description .more {
background: #21326b;
background: -moz-linear-gradient(top, .et_color_scheme_blue#21326b 0%, .et_color_scheme_blue#172658 100%);
background: -webkit-gradient(linear, .et_color_scheme_blueleft top, .et_color_scheme_blueleft bottom, .et_color_scheme_bluecolor-stop(0%,#21326b), .et_color_scheme_bluecolor-stop(100%,#172658));
background: -webkit-linear-gradient(top, .et_color_scheme_blue#21326b 0%,#172658 100%);
background: -o-linear-gradient(top, .et_color_scheme_blue#21326b 0%,#172658 100%);
background: -ms-linear-gradient(top, .et_color_scheme_blue#21326b 0%,#172658 100%);
background: linear-gradient(to bottom, .et_color_scheme_blue#21326b 0%,#172658 100%);
}

.et_color_scheme_blue #breadcrumbs, .et_color_scheme_blue.read-more span, .et_color_scheme_blue.testimonial span.title, .et_color_scheme_blue.entry .meta-info, .et_color_scheme_blue.entry .meta-info a, .et_color_scheme_blue.entry .meta-info a:hover, .et_color_scheme_blue.subtitle, .et_color_scheme_blue.comment_date, .et_color_scheme_blue.comment-reply-link:before, .et_color_scheme_blue.bottom-nav li.current_page_item a, .et_color_scheme_blue#content .wp-pagenavi .nextpostslink, .et_color_scheme_blue#content .wp-pagenavi .previouspostslink { color: #3e6afa; }
.et_color_scheme_blue .mobile_nav { border-color: #3e6afa; }
.et_color_scheme_blue #top-menu a .menu-highlight, .et_color_scheme_blue#mobile_menu .menu-highlight { background-color: #3e6afa; }
a { color: #3e6afa; }
.et_color_scheme_blue .subtitle { color: #fff;}

/*--------------------[GREEN]--------------------*/
.et_color_scheme_green #breadcrumbs-wrapper, .et_color_scheme_green #services {
border-top: 1px solid #288a3b;
background: #134f1e;
background: -moz-linear-gradient(top, .et_color_scheme_green#216b2f 0%, .et_color_scheme_green#134f1e 100%);
background: -webkit-gradient(linear, .et_color_scheme_greenleft top, .et_color_scheme_greenleft bottom, .et_color_scheme_greencolor-stop(0%,#216b2f), .et_color_scheme_greencolor-stop(100%,#134f1e));
background: -webkit-linear-gradient(top, .et_color_scheme_green#216b2f 0%,#134f1e 100%);
background: -o-linear-gradient(top, .et_color_scheme_green#216b2f 0%,#134f1e 100%);
background: -ms-linear-gradient(top, .et_color_scheme_green#216b2f 0%,#134f1e 100%);
background: linear-gradient(to bottom, .et_color_scheme_green#216b2f 0%,#134f1e 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#216b2f', .et_color_scheme_greenendColorstr='#134f1e',GradientType=0 );
}

.et_color_scheme_green .description .more {
background: #134f1e;
background: -moz-linear-gradient(top, .et_color_scheme_green#216b2f 0%, .et_color_scheme_green#134f1e 100%);
background: -webkit-gradient(linear, .et_color_scheme_greenleft top, .et_color_scheme_greenleft bottom, .et_color_scheme_greencolor-stop(0%,#216b2f), .et_color_scheme_greencolor-stop(100%,#134f1e));
background: -webkit-linear-gradient(top, .et_color_scheme_green#216b2f 0%,#134f1e 100%);
background: -o-linear-gradient(top, .et_color_scheme_green#216b2f 0%,#134f1e 100%);
background: -ms-linear-gradient(top, .et_color_scheme_green#216b2f 0%,#134f1e 100%);
background: linear-gradient(to bottom, .et_color_scheme_green#216b2f 0%,#134f1e 100%);
}

.et_color_scheme_green #breadcrumbs, .et_color_scheme_green.read-more span, .et_color_scheme_green.testimonial span.title, .et_color_scheme_green.entry .meta-info, .et_color_scheme_green.entry .meta-info a, .et_color_scheme_green.entry .meta-info a:hover, .et_color_scheme_green.subtitle, .et_color_scheme_green.comment_date, .et_color_scheme_green.comment-reply-link:before, .et_color_scheme_green.bottom-nav li.current_page_item a, .et_color_scheme_green#content .wp-pagenavi .nextpostslink, .et_color_scheme_green#content .wp-pagenavi .previouspostslink { color: #21ab3b; }
.et_color_scheme_green .mobile_nav { border-color: #21ab3b; }
.et_color_scheme_green #top-menu a .menu-highlight, .et_color_scheme_green#mobile_menu .menu-highlight { background-color: #21ab3b; }
.et_color_scheme_green a { color: #21ab3b; }
.et_color_scheme_green .subtitle { color: #fff;}

/*--------------------[RED]--------------------*/
.et_color_scheme_red #breadcrumbs-wrapper, .et_color_scheme_red #services {
border-top: 1px solid #a31818;
background: #560101;
background: -moz-linear-gradient(top, .et_color_scheme_red#770e0e 0%, .et_color_scheme_red#560101 100%);
background: -webkit-gradient(linear, .et_color_scheme_redleft top, .et_color_scheme_redleft bottom, .et_color_scheme_redcolor-stop(0%,#770e0e), .et_color_scheme_redcolor-stop(100%,#560101));
background: -webkit-linear-gradient(top, .et_color_scheme_red#770e0e 0%,#560101 100%);
background: -o-linear-gradient(top, .et_color_scheme_red#770e0e 0%,#560101 100%);
background: -ms-linear-gradient(top, .et_color_scheme_red#770e0e 0%,#560101 100%);
background: linear-gradient(to bottom, .et_color_scheme_red#770e0e 0%,#560101 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#770e0e', .et_color_scheme_redendColorstr='#560101',GradientType=0 );
}

.et_color_scheme_red .description .more {
background: #560101;
background: -moz-linear-gradient(top, .et_color_scheme_red#770e0e 0%, .et_color_scheme_red#560101 100%);
background: -webkit-gradient(linear, .et_color_scheme_redleft top, .et_color_scheme_redleft bottom, .et_color_scheme_redcolor-stop(0%,#770e0e), .et_color_scheme_redcolor-stop(100%,#560101));
background: -webkit-linear-gradient(top, .et_color_scheme_red#770e0e 0%,#560101 100%);
background: -o-linear-gradient(top, .et_color_scheme_red#770e0e 0%,#560101 100%);
background: -ms-linear-gradient(top, .et_color_scheme_red#770e0e 0%,#560101 100%);
background: linear-gradient(to bottom, .et_color_scheme_red#770e0e 0%,#560101 100%);
}

.et_color_scheme_red #breadcrumbs, .et_color_scheme_red.read-more span, .et_color_scheme_red.testimonial span.title, .et_color_scheme_red.entry .meta-info, .et_color_scheme_red.entry .meta-info a, .et_color_scheme_red.entry .meta-info a:hover, .et_color_scheme_red.subtitle, .et_color_scheme_red.comment_date, .et_color_scheme_red.comment-reply-link:before, .et_color_scheme_red.bottom-nav li.current_page_item a, .et_color_scheme_red#content .wp-pagenavi .nextpostslink, .et_color_scheme_red#content .wp-pagenavi .previouspostslink { color: #f04848; }
.et_color_scheme_red .mobile_nav { border-color: #f04848; }
.et_color_scheme_red #top-menu a .menu-highlight, .et_color_scheme_red#mobile_menu .menu-highlight { background-color: #f04848; }
.et_color_scheme_red a { color: #f04848; }
.et_color_scheme_red .subtitle { color: #fff;}

.gecko #testimonials, .gecko .commentlist, .gecko #respond { box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }

#logo { float: left; }
	#menu-wrap { float: left; }
	#social-icons { margin-left: 0; margin-top: 10px; }
	#os-adsense-top { float: left; width: 500px; margin: 15px; }
	
	@media screen and (max-width: 960px) {
		#os-adsense-top { width: 100%; margin: 15px 0; }
		#menu-wrap { display: none; }
	}
	
	@media screen and (max-width: 760px) {
		#os-adsense-top { width: 320px; height: 50px; }

	}

	@media screen and (max-width: 480px) {
		.et-slide .container { padding-top: 150px; }

	}
#os-adsense-featured { width: 100%; margin-bottom: 30px; position: absolute; bottom: 0; }

	@media screen and (max-width: 960px) {
		#os-adsense-featured .container { width: 728px; height: 90px; }
	}

	@media screen and (max-width: 760px) {
		#os-adsense-featured .container { width: 320px; height: 50px; }
	}

	@media screen and (max-width: 480px) {
		#os-adsense-featured { margin-bottom: 80px; }
	}

	#et-slider-controls { display: none; }

/* top info box */
#downloadSubtitles {
	//padding: 10px 0!important;
	padding: 6px 0 0;
}
#downloadSubtitles h1 {
	color: #fff;
	font-size: 2em;
	text-align: center;
	margin: 0;
}
#downloadSubtitles a {
	color: #9ec068;
}
