body {
  background: #fff;
}
div#str-container {
  margin-top: 0;
}

section {
  padding: 10px;
}

table {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-collapse: collapse;
  border-spacing: 0;
}
td, th {
  padding: 5px 7px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}