@charset "UTF-8";

/* ----------------------------------------------------------------
*	01. Heading Module
*	02. Text Module
*	03. Hypertext Module
*	04. List Module
*	05. Table Module
*	06. Image Module
*	07. Form Module
*	08. Horizontal Rule
----------------------------------------------------------------- */

body{
background:#fff;
font-family:"ＭＳ Ｐゴシック","ヒラギノ角ゴ Pro W3",sans-serif;
}

/* ----------------------------------------------------------------
	01. Heading Module
----------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6{
margin:0 0 10px 0;
padding:0;
color:#000;
font-weight:normal;
}

h1{font-size:14pt;}
h2{font-size:13pt;}
h3,h4,h5,h6{font-size:11pt;}


/* ----------------------------------------------------------------
	02. Text Module
----------------------------------------------------------------- */

p{
margin:0 0 20px 0;
padding:0;
font-size:10pt;
}

strong{
color:#c11700;
font-weight:bold;
}

em{
font-style:normal;
font-weight:bold;
}

em.notice{
font-weight:normal;
text-decoration:underline;
}

em.bit{
color:#c11700;
font-weight:normal;
}

pre{
margin:0 15px 20px;
padding:3px;
border:1px #809db9 solid;
font-size:8pt;
}


/* ----------------------------------------------------------------
	03. Hypertext Module
----------------------------------------------------------------- */

a:link{
color:#166b93;
text-decoration:underline;
}

a:visited{
color:#166b93;
text-decoration:underline;
}

a:hover, a:active, a:focus{
text-decoration:none;
}


/* ----------------------------------------------------------------
	04. List Module
----------------------------------------------------------------- */

ul,
ol,
dl{
margin:0 0 20px 0;
padding:0;
list-style-position:inside;
font-size:10pt;
}

ol{
list-style-type:decimal;
font-size:10pt;
}

li,
dt,
dd{
margin:0 0 5px;
padding:0;
}

ul p,
ul ul,
ul ol,
ul dl,
ul table,
ol p,
ol ul,
ol ol,
ol dl,
ol table,
dl p,
dl ul,
dl ol,
dl dl,
dl table{
margin:4px 0 10px 10px;
font-size:10pt;
}


/* ----------------------------------------------------------------
	05. Table Module
----------------------------------------------------------------- */

table{
margin:0 0 20px 0;
padding:0;
}

th,td{
padding:5px;
font-size:10pt;
}

table p,
table ul,
table ol,
table dl,
table table{
margin:0 0 5px;
font-size:10pt;
}

table img{
vertical-align:middle;
}


/* ----------------------------------------------------------------
	06. Image Module
----------------------------------------------------------------- */

img{
border:0;
vertical-align:bottom;
}


/* ----------------------------------------------------------------
	07. Form Module
----------------------------------------------------------------- */

form,
fieldset{
margin:0;
padding:0;
border:none;
}

legend{
display:none;
}

input,
select{
margin:0;
padding:0;
vertical-align:middle;
font-size:10pt;
}


/* ----------------------------------------------------------------
	08. Horizontal Rule
----------------------------------------------------------------- */

hr{
display:none;
}

