@charset "UTF-8";

div.fbnr div.fbnrBlock{
  text-align: center;
}
div.fbnr div.fbnrBlock img{
  max-width: 100%;
  width: 100%;
  height: auto;
}

div.fbnr p.fbnrClose{
  margin:0 !important;
}
div.fbnr p.fbnrClose img{
  max-width: 30px;
  max-height: 30px;
}

div.fbnr p.fbnrClose a{
  position: absolute\9;
  right: 0\9;
}