div#str-container {
    padding: 0 10px;
}

#jack-contents a {
  display: block;
}
#jack-contents img {
  display: block;
}

#jack-top {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 950px;
  margin: 0 auto;
  z-index: 5555;
}
#jack-top.full {
  width: 100%;
}
#jack-top.full img {
  display: none;
}

#jack-contents #jack-left,
#jack-contents #jack-right {
  display: none;
}

#jack-left.normal {
  position: absolute;
  top: 0;
  left: 0;
}
#jack-left.fixed {
  position: fixed;
  top: 0;
  left: 0;
}
#jack-left.repeat {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-repeat: repeat-y;
}
#jack-right.normal {
  position: absolute;
  top: 0;
  right: 0;
}
#jack-right.fixed {
  position: fixed;
  top: 0;
  right: 0;
}
#jack-right.repeat {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-repeat: repeat-y;
}

#jack-side {
  display: block;
  margin-bottom: 10px;
}
#jack-contents #jack-side {
  display: none;
}

#jack-floating {
  position: fixed;
  bottom: 0;
  right: 0;
}



.jack-button-close,
.jack-button-close:link,
.jack-button-close:visited {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 18px;
  padding: 1px 0;
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  line-height: 1;
  font: 16px/100% arial, sans-serif;
  text-decoration: none;
  text-align: center;
  color: #515151;
}

/* anime */

#jack-anime {
  display: none;
}


#jack-left.anime {
  top: 0;
  animation: up 1s steps(10) 1;
}

#jack-right.anime {
  top: 0;
  animation: up 1s steps(10) 1;
}

@keyframes up {
  0% {
    top: 100%;
  }
  80% {
    top: 0;
  }
  100% {
    top: 0;
  }
}


body.anime {
  background: rgba(0, 0, 0, 1);
  animation: flash 1s 1;
}

@keyframes flash {
  to {
  background: rgba(0, 0, 0, 1);
  }
  from {
  background: rgba(0, 0, 0, 0);
  }
}


#anime-contents span {
  position: fixed;
  top: 0; left: 0;
  display: inline-block;
  font-size: 50px;
  pading-left: 0;
  animation: smile 1s steps(2) 3;
  color: yellow;
}

@keyframes smile {
  to {
    font-size: 100px;
  }
}




body.jack-3 {
  background:url(../images/str-aside/bg-555-01.png) no-repeat 0 0;
}

#jack-popup {
  width: 600px;
  height: 400px;
  animation: popup 2s steps(3);
  background-position: 0 100%;
  overflow: hidden;
}

@keyframes popup {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

.jack-modal-content {
    position:fixed;
    display:none;
    z-index:9999;
    width: 600px;
    height: 400px;
    margin:0;
    background:#fff;
}

.jack-modal-content p {
    margin:0;
    padding:0;
}

.jack-modal-overlay {
    z-index:9998;
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:120%;
    background-color:rgba(0,0,0,0.75);
}

.jack-modal-open {
    color:#00f;
    text-decoration:underline;
}

.jack-modal-open:hover {
    cursor:pointer;
    color:#f00;
}

.jack-modal-close {
  position: absolute;
  top: 0;
  right: 0;
    color:#00f;
    text-decoration:underline;
}

.jack-modal-close:hover {
    cursor:pointer;
    color:#f00;
}


