@charset "UTF-8";


/* ----------------------------------------------------------------
  02. str-header
----------------------------------------------------------------- */

/* ---------------------------------
  nav-service
-------------------------------- */
body#top #str-header .nav-service{
display:none;
}


/* ----------------------------------------------------------------
  03. str-aside
----------------------------------------------------------------- */



/* ----------------------------------------------------------------
  04. str-main
----------------------------------------------------------------- */


/* ---------------------------------
  hdg-l2-top
-------------------------------- */
body#top #str-main .hdg-l2-top{
margin-bottom:8px;
padding:5px;
border:2px #ffaa00 solid;
}

body#top #str-main .hdg-l2-top-container p,
body#top #str-main .hdg-l2-top-container p.more{
display:none;
}

/* ---------------------------------
  hdg-l3-top
-------------------------------- */
body#top #str-main .hdg-l3-top{
margin-bottom:8px;
padding-bottom:5px;
border-bottom:2px #ccc solid;
}

/* ---------------------------------
  hdg-l4-top
-------------------------------- */
body#top #str-main .hdg-l4-top{
margin-bottom:10px;
padding:5px;
border:1px #b1b1b1 solid;
}

body#top #str-main .hdg-l4-top-container p.image{
display:none;
}

/* ---------------------------------
  hdg-l5-top
-------------------------------- */
body#top #str-main .hdg-l5-top{
padding:5px;
border-left:2px #868686 solid;
font-weight:bold;
}

/* ---------------------------------
  service-info.tabContainer
-------------------------------- */
body#top #str-main .service-info .tabList{
display:none;
}

/* ---------------------------------
  aside-service > list-link-top-02
-------------------------------- */
body#top #str-main .aside-service .list-link-top-02 li img{
 display:none;
}

/* ---------------------------------
  box-carousel-02
-------------------------------- */
body#top #str-main .box-carousel-02 .nav{
display:none;
}

/* ---------------------------------
  main-visual-top
-------------------------------- */
body#top #str-main .main-visual-top{
display:none;
}



/* ----------------------------------------------------------------
  box-promotion
----------------------------------------------------------------- */
body#top div#str-main div.box-promotion{
display:none;
}

/* ----------------------------------------------------------------
  ad-bnr-top
----------------------------------------------------------------- */
body#top div.ad-bnr-top{
display:none;
}

