@charset "UTF-8";

/* ----------------------------------------------------------------
*	01. Heading Module
*	02. Paragraph Module
*	03. Ordered List Module
*	04. Unordered List Module
*	05. Definition List Module
*	06. Link List Module
*	07. Index List Module
*	08. Page Navigation Module
*	09. Notice Module
*	10. Table Module
*	11. Layout Images Module
*	12. Layout Column Module
*	13. Layout Section Module
*	14. Box Module
*	15. Plugin Download Module
*	16. Login Component
*	17. Flow Component
*	18. FAQ Component
*	19. Recommend Component
*	20. Related Component
*	21. Attention Component
*	22. Inquiry Component
*	23. Bank Info Component
*	24. Charity Component
*	25. Merit Component
*	26. Account Id Component
*	27. Howto List Component
*	28. Security Box Component
*	29. Plus List
*	30. Common
----------------------------------------------------------------- */

/* ----------------------------------------------------------------
	01. Heading Module
----------------------------------------------------------------- */

/* ---------------------------------
	 hdg-l1
 -------------------------------- */

 /* Old Style
 -------------------------------- */
/*
div#str-main div.hdg-l1-01-container,
div#str-main div.hdg-l1-02-container{
margin-bottom:10px;
padding:6px;
border:2px #FFAA00 solid;
}
*/

 /* New Style
 -------------------------------- */
div#str-main div.hdg-l1-01-container,
div#str-main div.hdg-l1-02-container{
margin-bottom:10px;
border-left:solid 4px #ff9000;
padding:0 0 0 10px;
}

div#str-main div.hdg-l1-01-container .hdg-l1-01,
div#str-main div.hdg-l1-02-container .hdg-l1-02{
margin-bottom:0;
font-weight:bold;
}

div#str-main div.hdg-l1-02-container p.supplement{
margin:0;
padding-left:18px;
}
  
/* ---------------------------------
	 hdg-l2-01
 -------------------------------- */

 /* Old Style
 -------------------------------- */
/*
div#str-main div.hdg-l2-01-container{
margin-bottom:8px;
padding-bottom:5px;
border-bottom:2px #FFAA00 solid;
}
*/

 /* New Style
 -------------------------------- */
div#str-main div.hdg-l2-01-container{
margin-bottom:8px;
border-top:solid 4px #ff9000;
}

div#str-main div.hdg-l2-01-container .hdg-l2-01{
margin-bottom:0;
font-weight:bold;
}

div#str-main div.hdg-l2-01-container .hdg-l2-01 img.icon-01,
div#str-main div.hdg-l2-01-container .hdg-l2-01 img.icon-number-01{
padding-bottom:2px;
font-size:5px;
vertical-align:middle;
}

/* ---------------------------------
	 hdg-l2-02
 -------------------------------- */

 /* Old Style
 -------------------------------- */
/*
div#str-main div.hdg-l2-02-container{
margin-bottom:8px;
border-bottom:2px #FFAA00 solid;
}
*/

 /* New Style
 -------------------------------- */
div#str-main div.hdg-l2-02-container{
margin-bottom:8px;
border-top:solid 4px #ff9000;
}

div#str-main div.hdg-l2-02-container .hdg-l2-02{
margin-bottom:0;
font-weight:bold;
}

div#str-main div.hdg-l2-02-container .hdg-l2-02 img.icon-number-01{
padding-bottom:1px;
font-size:5px;
vertical-align:middle;
}

div#str-main div.hdg-l2-02-container p.supplement{
margin:0;
padding:0 0 2px;
}

/* ---------------------------------
	 hdg-l2-03
 -------------------------------- */

 /* Old Style
 -------------------------------- */
/*
div#str-main div.hdg-l2-03-container{
margin-bottom:8px;
border-bottom:2px #FFAA00 solid;
}
*/

 /* New Style
 -------------------------------- */
div#str-main div.hdg-l2-03-container{
margin-bottom:8px;
border-top:solid 4px #ff9000;
}

div#str-main div.hdg-l2-03-container .hdg-l2-03{
margin-bottom:0;
font-weight:bold;
}

div#str-main div.hdg-l2-03-container .hdg-l2-03 img.icon-number-01{
padding-bottom:1px;
font-size:5px;
vertical-align:middle;
}

div#str-main div.hdg-l2-03-container p.supplement{
margin-bottom:0;
padding:0 0 2px;
}

/* ---------------------------------
	 hdg-l3-01
 -------------------------------- */

 /* Old Style
-------------------------------- */
/*
div#str-main div.hdg-l3-01-container{
margin-bottom:15px;
background:#F5F5F5;
}

div#str-main div.hdg-l3-01-container .hdg-l3-01{
padding:7px 8px 6px;
border-left:3px #FFAA00 solid;
font-weight:bold;
}
*/

 /* New Style
 -------------------------------- */
div#str-main div.hdg-l3-01-container{
margin-bottom:15px;
border-top:solid 2px #4d4d4d;
background:#fff;
}

div#str-main div.hdg-l3-01-container .hdg-l3-01{
padding:7px 10px 6px;
font-weight:bold;
}

div#str-main div.hdg-l3-01-container .hdg-l3-01 img{
vertical-align:middle;
}

div#str-main div.hdg-l3-01-container .hdg-l3-01 img.icon-01{
padding:0 3px 1px 0;
vertical-align:middle;
font-size:5px;
}

/* ---------------------------------
	 hdg-l3-02
 -------------------------------- */

div#str-main div.hdg-l3-02-container .hdg-l3-02{
padding:8px 0 0 0;
}

div#str-main div.hdg-l3-02-container .hdg-l3-02 img{
vertical-align:middle;
}

/* ---------------------------------
	 hdg-l3-03
 -------------------------------- */

div#str-main div.hdg-l3-03-container .hdg-l3-03{
border:1px #CCCCCC solid;
font-weight:bold;
}

div#str-main div.hdg-l3-03-container .hdg-l3-03 span.icon{
border-width:7px 15px;
border-color:#0079C9;
border-style:solid;
display:inline-block;
text-align:center;
vertical-align:middle;
}

div#str-main div.hdg-l3-03-container .hdg-l3-03 span.number{
padding:0 5px 2px 10px;
display:inline-block;
vertical-align:middle;
}

div#str-main div.hdg-l3-03-container .hdg-l3-03 span.title{
display:inline-block;
vertical-align:middle;
}

div#str-main div.hdg-l3-03-container .hdg-l3-03 span.title img{
vertical-align:middle;
}

/* ---------------------------------
	 hdg-l3-04
 -------------------------------- */

div#str-main div.hdg-l3-04-container .hdg-l3-04{
border:1px #CCCCCC solid;
font-weight:bold;
}

div#str-main div.hdg-l3-04-container .hdg-l3-04 span.icon{
border-width:7px 15px;
border-color:#FFAA00;
border-style:solid;
display:inline-block;
text-align:center;
vertical-align:middle;
}

div#str-main div.hdg-l3-04-container .hdg-l3-04 span.number{
padding:0 5px 2px 10px;
display:inline-block;
vertical-align:middle;
}

div#str-main div.hdg-l3-04-container .hdg-l3-04 span.title{
padding-left:5px;
display:inline-block;
vertical-align:middle;
}

/* ---------------------------------
	 hdg-l3-05
 -------------------------------- */

div#str-main div.hdg-l3-05-container .hdg-l3-05{
border:1px #CCCCCC solid;
font-weight:bold;
}

div#str-main div.hdg-l3-05-container .hdg-l3-05 span.icon{
border-width:3px 8px;
border-color:#2BAC00;
border-style:solid;
display:inline-block;
text-align:center;
vertical-align:middle;
}

div#str-main div.hdg-l3-05-container .hdg-l3-05 span.number{
padding:0 5px 2px 10px;
display:inline-block;
vertical-align:middle;
}

div#str-main div.hdg-l3-05-container .hdg-l3-05 span.title{
display:inline-block;
vertical-align:middle;
}

div#str-main div.hdg-l3-05-container .hdg-l3-05 span.title img{
vertical-align:middle;
}

/* ---------------------------------
	 hdg-l3-06
 -------------------------------- */

 /* Old Style
-------------------------------- */
/*
div#str-main div.hdg-l3-06-container{
margin-bottom:10px;
background:#F5F5F5;
}

div#str-main div.hdg-l3-06-container .hdg-l3-06{
margin-bottom:0;
padding:7px 8px 2px;
border-left:3px #FFAA00 solid;
font-weight:bold;
}

div#str-main div.hdg-l3-06-container p.supplement{
margin-bottom:0;
padding:0 0 5px 8px;
border-left:3px #FFAA00 solid;
}
*/

 /* New Style
 -------------------------------- */
div#str-main div.hdg-l3-06-container{
margin-bottom:10px;
border-top:solid 2px #4d4d4d;
background:#fff;
}

div#str-main div.hdg-l3-06-container .hdg-l3-06{
padding:7px 10px 6px;
font-weight:bold;
}

div#str-main div.hdg-l3-06-container p.supplement{
margin-bottom:0;
padding:0 0 5px 8px;
}

div#str-main div.hdg-l3-06-container p.supplement img.icon-01{
vertical-align:middle;
}

/* ---------------------------------
	 hdg-l4-01
 -------------------------------- */

div#str-main div.hdg-l4-01-container{
margin-bottom:10px;
padding-bottom:1px;
border-bottom:1px #B1B1B1 solid;
}

div#str-main div.hdg-l4-01-container .hdg-l4-01{
margin-bottom:0;
padding:0 8px 1px;
border-left:2px #FCAB0C solid;
font-weight:bold;
line-height:1.3;
}

div#str-main div.hdg-l4-01-container .hdg-l4-01 img.icon-01{
padding:0 3px 1px 0;
vertical-align:middle;
font-size:5px;
}

/* ---------------------------------
	 hdg-l5-01
 -------------------------------- */

div#str-main .hdg-l5-01{
padding:0 0 0 5px;
border-left:2px #868686 solid;
font-weight:bold;
}

div#str-main .hdg-l5-01 img.icon-01{
padding:0 3px 1px 0;
vertical-align:middle;
font-size:5px;
}

/* ---------------------------------
	 hdg-l6-01
 -------------------------------- */
 
div#str-main .hdg-l6-01{
font-size:81.25%;
font-weight:bold;
}

div#str-main .hdg-l6-01 img.icon-01{
vertical-align:middle;
}


/* ----------------------------------------------------------------
	02. Paragraph Module
----------------------------------------------------------------- */

div#str-main p.doc-align-c{
text-align:center;
}

div#str-main p.doc-align-r{
text-align:right;
}

div#str-main p.doc-catchcopy-01{
margin-bottom:5px;
}

 /* Old Style
-------------------------------- */
/*
div#str-main p.doc-catchcopy-01 strong{
color:#008DDF;
font-size:11pt;
}
*/

 /* New Style
-------------------------------- */
div#str-main p.doc-catchcopy-01 strong{
color:#008DDF;
font-size:11pt;
}

div#str-main p.doc-link-01 img,
div#str-main a.doc-link-01 img,
div#str-main a.page-link-01 img{
vertical-align:middle;
}

div#str-main p.image span.caption-01{
margin-top:5px;
display:block;
font-size:8pt;
}

div#str-main p.image span.caption-02{
padding:2px 5px 1px 0;
display:block;
font-size:8pt;
font-weight:bold;
}

div#str-main p img.icon-external,
div#str-main ul img.icon-external,
div#str-main ol img.icon-external,
div#str-main dl img.icon-external,
div#str-main table img.icon-external,
div#str-main p img.icon-internal,
div#str-main ul img.icon-internal,
div#str-main ol img.icon-internal,
div#str-main dl img.icon-internal,
div#str-main table img.icon-internal{
margin-right:5px;
vertical-align:middle;
}

/* ----------------------------------------------------------------
	03. Ordered List Module
----------------------------------------------------------------- */


/* ----------------------------------------------------------------
	04. Unordered List Module
----------------------------------------------------------------- */

 /* ---------------------------------
	list-col-2
 -------------------------------- */

div#str-main ul.list-col-2 li{
height:auto !important;
}
 
 /* ---------------------------------
	list-col-3
 -------------------------------- */

div#str-main ul.list-col-3 li{
height:auto !important;
}

 /* ---------------------------------
	list-number-01
 -------------------------------- */
 
div#str-main ul.list-number-01 li{
list-style:none;
}


/* ----------------------------------------------------------------
	05. Definition List Module
----------------------------------------------------------------- */

 /* Old Style
-------------------------------- */
/*
div#str-main dl.list-definition-01 dt{
font-weight:bold;
}
*/

 /* New Style
-------------------------------- */
div#str-main dl.list-definition-01 dt{
font-weight:bold;
color:#008DDF;
}

div#str-main dl.list-definition-01 dt.dt-control-01{
color:#363636;
}

div#str-main dl.list-definition-01 dd{
margin-bottom:10px;
}

div#str-main dl.list-definition-02{
text-align:right;
}

div#str-main dl.list-definition-02 dt{
padding-left:15px;
display:inline-block;
}

div#str-main dl.list-definition-02 dt img{
font-size:5px;
vertical-align:middle;
}

div#str-main dl.list-definition-02 dd{
display:inline-block;
}


/* ----------------------------------------------------------------
	06. Link List Module
----------------------------------------------------------------- */

/* ---------------------------------
	list-link
 -------------------------------- */
div#str-main ul.list-link-02 li{
font-size:8pt;
}

/* ---------------------------------
	list-link-inline-01
 -------------------------------- */

div#str-main ul.list-link-inline-01 li{
padding:0 30px 0 9px;
display:inline;
line-height:1.75;
}

div#str-main ul.list-link-inline-01 li img{
vertical-align:middle;
}

/* ---------------------------------
	list-link-inline-02
 -------------------------------- */
 
div#str-main ul.list-link-inline-02 li{
padding:0 15px 0 24px;
border-left:1px #B8B9B9 solid;
display:inline;
line-height:1.75;
}

div#str-main ul.list-link-inline-02 li.selected{
padding-left:15px;
font-weight:bold;
background:none;
}

div#str-main ul.list-link-inline-02 li.first-child{
border-left:none;
padding-left:9px;
}

div#str-main ul.list-link-inline-02 li.selected.first-child{
padding-left:0;
}

div#str-main ul.list-link-inline-02 li img{
vertical-align:middle;
}


/* ----------------------------------------------------------------
	07. Index List Module
----------------------------------------------------------------- */

/* ---------------------------------
	list-index-01
 -------------------------------- */

div#str-main ul.list-index-01 li{
margin-bottom:10px;
border:1px #BBBBBB solid;
list-style:none;
}

div#str-main ul.list-index-01 li li{
border:none;
}

div#str-main ul.list-index-01 li div.box-inner-01{
padding:7px 8px 4px;
border:2px #EEEEEE solid;
}

div#str-main ul.list-index-01 li div.image{
display:inline-block;
vertical-align:middle;
width:120px;
}

div#str-main ul.list-index-01 li div.column{
padding-left:10px;
display:inline-block;
width:600px;
vertical-align:middle;
}

div#str-main ul.list-index-01 li div.image p.image{
margin:0;
}

div#str-main ul.list-index-01 li div.image p.image img{
margin-bottom:5px;
}

div#str-main ul.list-index-01 li div.image p.image span.caption-01{
margin:0;
padding:1px 2px;
border:1px #AEAEAF solid;
text-align:center;
}

div#str-main ul.list-index-01 li table.tbl-sup-01{
margin:0;
border:none;
width:auto;
}

div#str-main ul.list-index-01 li table.tbl-sup-01 th,
div#str-main ul.list-index-01 li table.tbl-sup-01 td{
border:none;
padding:3px 0 3px 5px;
}

div#str-main ul.list-index-01 li table.tbl-sup-01 td{
padding:3px 5px;
}

/* ---------------------------------
	image-w135
 -------------------------------- */

div#str-main ul.list-index-01 li div.image-w135 div.image{
width:135px;
}

/* ---------------------------------
	image-w180
 -------------------------------- */

div#str-main ul.list-index-01 li div.image-w180 div.image{
width:180px;
}

/* ---------------------------------
	list-index-02
 -------------------------------- */

div#str-main ul.list-index-02 li{
margin:0 0 10px 0;
border:1px #BBBBBB solid;
list-style:none;
height:auto !important;
}

div#str-main ul.list-index-02 li div.box-inner-01{
padding:7px 8px;
border:2px #EEEEEE solid;
}

div#str-main ul.list-index-02 li table.tbl-sup-01{
margin:0;
border:none;
width:auto;
}

div#str-main ul.list-index-02 li table.tbl-sup-01 th,
div#str-main ul.list-index-02 li table.tbl-sup-01 td{
padding:5px 0 5px 5px;
border:none;
}

div#str-main ul.list-index-02 li table.tbl-sup-01 td{
padding:5px 5px 5px 0;
}

div#str-main ul.list-index-02 li p.image{
display:none;
}

/* ---------------------------------
	list-index-03
 -------------------------------- */

div#str-main ul.list-index-03{
margin:0;
}

div#str-main ul.list-index-03 li{
margin:0 0 20px 0;
padding:9px;
border:1px #BDBDBD solid;
height:auto !important;
list-style:none;
}

div#str-main ul.list-index-03 li .hdg-list-index-03{
padding:0;
}

div#str-main ul.list-index-03 li p.nav-btn-01{
display:none;
}

div#str-main ul.list-index-03 li.col-1 p{
margin:4px 0 10px 10px;
}

div#str-main ul.list-index-03 li.col-1 p.nav-btn-01{
display:none;
}

/* ---------------------------------
	list-index-03 > ul li
 -------------------------------- */

div#str-main ul.list-index-03 li ul li{
margin:0;
padding:0;
border:none;
float:none;
width:auto;
}


/* ---------------------------------
	list-index-04
 -------------------------------- */

div#str-main ul.list-index-04{
margin:0;
padding-bottom:10px;
}

div#str-main ul.list-index-04 li{
margin:0 ;
padding-bottom:4px;
list-style:none;
}

div#str-main ul.list-index-04 li div.box-inner-01{
padding:2px 9px;
border:1px #B8D9F2 solid;
height:auto !important;
}

div#str-main ul.list-index-04 li .hdg-list-index-04{
margin:0 -7px 10px;
padding:5px 15px;
border-bottom:1px #238DD0 solid;
font-weight:bold;
}

/* ---------------------------------
	list-index-04 > ul li
 -------------------------------- */

div#str-main ul.list-index-04 li ul li{
margin:0;
padding:0;
border:none;
list-style-position:inside;
list-style:disc;
}


/* ----------------------------------------------------------------
	08. Page Navigation Module
----------------------------------------------------------------- */

/* ---------------------------------
	nav-page-01
 -------------------------------- */

div#str-main div.nav-page-01-container{
display:none;
}

/* ---------------------------------
	nav-page-02
 -------------------------------- */

div#str-main div.nav-page-02-container{
display:none;
}

/* ---------------------------------
	nav-page-inner
 -------------------------------- */
 
div#str-main div.nav-page-inner-01-container{
display:none;
}

/* ---------------------------------
	nav-page-tab-01
 -------------------------------- */

div#str-main div.nav-page-tab-01-container ul.nav-page-tab-01{
margin-bottom:0;
}

div#str-main div.nav-page-tab-01-container ul.nav-page-tab-01 li{
padding:3px;
border:1px #B8B9B9 solid;
display:inline;
list-style:none;
text-align:center;
}

div#str-main div.tabContainer ul.tabs{
margin-top:3px;
padding:10px;
border:1px #B8B9B9 solid;
}

div#str-main div.tabContainer ul.tabs li{
list-style:none;
}

/* ---------------------------------
	nav-page-tab-01 li.selected
 -------------------------------- */

div#str-main div.nav-page-tab-01-container ul.nav-page-tab-01 li.active{
font-weight:bold;
}

/* ---------------------------------
	nav-page-tab-01/li.tabPanel
 -------------------------------- */

div#str-main div.tabContainer ul.tabs li.tabPanel{
display:none;
}

div#str-main div.tabContainer ul.tabs li.active{
display:block;
}

div#str-main div.tabContainer ul.static li.tabPanel{
display:block;
}

/* ---------------------------------
	nav-page-tab-02
 -------------------------------- */

div#str-main div.nav-page-tab-02-container ul.nav-page-tab-02 li{
padding-right:2px;
display:inline;
}

/* ---------------------------------
	nav-page-tab-03
 -------------------------------- */

div#str-main div.nav-page-tab-03-container ul.nav-page-tab-03 li{
padding:24px 3px 0 0;
display:inline;
}

div#str-main div.nav-page-tab-03-container ul.nav-page-tab-03 li.balloon{
padding-top:0;
}

/* ---------------------------------
	nav-pagetop
 -------------------------------- */
 
div#str-main p.nav-pagetop{
display:none;
}


/* ---------------------------------
	nav-page-operation
 -------------------------------- */

div#str-main div.nav-page-operation-container{
display:none;
}


/* ----------------------------------------------------------------
	09. Notice Module
----------------------------------------------------------------- */

div#str-main ul.list-notice-01 li,
div#str-main ul.list-notice-02 li{
list-style:none !important;
}


/* ----------------------------------------------------------------
	10. Table Module
----------------------------------------------------------------- */

div#str-main table{
border-width:1px 0 0 1px;
border-color:#BBBBBB;
border-style:solid;
width:100%;
}

div#str-main table th,
div#str-main table td{
padding:5px;
border-width:0 1px 1px 0;
border-color:#BBBBBB;
border-style:solid;
}

div#str-main p.tbl-caption-01{
margin-bottom:3px;
text-align:left;
font-weight:bold;
}

/* ---------------------------------
	tbl-definition
 -------------------------------- */

div#str-main table.tbl-definition-01,
div#str-main table.tbl-definition-02{
border:none;
width:auto;
}

div#str-main table.tbl-definition-01 th,
div#str-main table.tbl-definition-01 td,
div#str-main table.tbl-definition-02 th,
div#str-main table.tbl-definition-02 td{
border:none;
vertical-align:top;
text-align:left;
font-weight:normal;
}

/* ---------------------------------
	data-tbl-01
 -------------------------------- */

div#str-main table.tbl-data-01 th,
div#str-main table.tbl-data-01 td{
padding:5px;
}

div#str-main table.tbl-data-01 thead th{
text-align:center;
vertical-align:middle;
}

div#str-main table.tbl-data-01 tbody th{
text-align:center;
vertical-align:middle;
}

div#str-main table.tbl-data-01 td{
vertical-align:middle;
}

div#str-main table.tbl-data-01 th.cell-type-02,
div#str-main table.tbl-data-01 td.cell-type-02{
border-right:none;
}

/* ---------------------------------
	data-tbl-02
 -------------------------------- */

div#str-main table.tbl-data-02{
border:none;
}

div#str-main table.tbl-data-02 th{
padding:10px 15px 13px;
border-right:none;
font-weight:normal;
text-align:left;
}

div#str-main table.tbl-data-02 td{
padding:5px 10px 8px;
border-right:none;
}

div#str-main table.tbl-data-02 tr.first-child th,
div#str-main table.tbl-data-02 tr.first-child td{
padding-top:10px;
}

/* ---------------------------------
	tbl-calendar-01
 -------------------------------- */
div#str-main table.tbl-calendar-01{
width:auto;
}

/* ---------------------------------
	cell Width Control
 -------------------------------- */

div#str-main table .w05{width:5%;}
div#str-main table .w07{width:7%;}
div#str-main table .w10{width:10%;}
div#str-main table .w12{width:12%;}
div#str-main table .w15{width:15%;}
div#str-main table .w18{width:18%;}
div#str-main table .w20{width:20%;}
div#str-main table .w25{width:25%;}
div#str-main table .w30{width:30%;}
div#str-main table .w35{width:35%;}
div#str-main table .w40{width:40%;}
div#str-main table .w45{width:45%;}
div#str-main table .w50{width:50%;}

/* ---------------------------------
	cell Align Control
 -------------------------------- */

div#str-main table.align-l-th tbody th,
div#str-main table.align-l-td tbody td,
div#str-contents div#str-main table .align-l-cell{
text-align:left;
}

div#str-main table.align-c-th tbody th,
div#str-main table.align-c-td tbody td,
div#str-contents div#str-main table .align-c-cell{
text-align:center;
}

div#str-main table.align-r-th tbody th, 
div#str-main table.align-r-td tbody td, 
div#str-contents div#str-main table .align-r-cell{
text-align:right;
}

/* ---------------------------------
	cell Font Control
 -------------------------------- */

div#str-main table .cell-font-150{
font-size:150%;
}

div#str-main table .cell-font-200{
font-size:200%;
}
 

/* ----------------------------------------------------------------
	11. Layout Images Module
----------------------------------------------------------------- */

/* ---------------------------------
	 Images List Module
 -------------------------------- */

div#str-main ul.list-image-01 li{
margin:0 10px 10px 0;
display:inline-block;
vertical-align:top;
}

div#str-main ul.list-image-02 li{
margin:0 10px 10px 0;
display:inline-block;
vertical-align:top;
}

/* ---------------------------------
	 list Align Control
 -------------------------------- */

div#str-main ul.list-align-r{
text-align:right;
}

div#str-main ul.list-align-c{
text-align:center;
}

/* ---------------------------------
	 Layout Images And Text
 -------------------------------- */

div#str-main div.image-parallel{
margin-bottom:20px;
}

div#str-main div.image-parallel div.image p.image{
margin-bottom:5px;
}

div#str-main div.image-parallel div.column{
margin:0 !important;
}


/* ----------------------------------------------------------------
	12. Layout Column Module
----------------------------------------------------------------- */

div#str-main div.lyt-col div.segment{
height:auto !important;
}

/* ----------------------------------------------------------------
	13. Layout Section Module
----------------------------------------------------------------- */

div#str-main div.section-01{
padding:0 5px 1px;
}

div#str-main div.section-02{
padding:0 10px 1px;
}


/* ----------------------------------------------------------------
	14. Box Module
----------------------------------------------------------------- */

/* ---------------------------------
	 box-regular
 -------------------------------- */

div#str-main div.box-regular-01{
margin-bottom:20px;
padding:9px;
border:1px #DDDDDD solid;
}

div#str-main div.box-regular-01 .hdg-box-regular-01{
margin:-8px -8px 7px;
border-bottom:1px #E7E7E7 solid;
background:#F8F8F8;
font-weight:bold;
}

div#str-main div.box-regular-01 .hdg-box-regular-01 span{
padding:5px 8px;
display:block;
}

div#str-main div.box-regular-02{
margin-bottom:20px;
padding:9px;
border:1px #DBDBDB solid;
}

div#str-main div.box-regular-03{
margin-bottom:20px;
padding:9px;
border:1px #BBBBBB solid;
}

div#str-main div.box-regular-03 .hdg-box-regular-03{
margin:-8px -8px 7px;
border-bottom:1px #E7E7E7 solid;
background:#F8F8F8;
font-weight:bold;
}

div#str-main div.box-regular-03 .hdg-box-regular-03 span{
padding:5px 8px;
display:block;
}

div#str-main div.box-regular-04{
margin-bottom:20px;
padding:0;
border:1px #CC0000 solid;
}

div#str-main div.box-regular-05{
margin-bottom:20px;
padding:10px;
border:1px #BBBBBB solid;
}

div#str-main div.box-regular-06{
margin-bottom:20px;
padding:9px;
border:1px #CC0000 solid;
}

/* ---------------------------------
	 box-partition
 -------------------------------- */

div#str-main div.box-partition-01{
margin-bottom:20px;
padding-bottom:16px;
border-bottom:1px #BBBBBB solid;
}

/* ---------------------------------
	 pr-box
 -------------------------------- */
 
div#str-main div.pr-box-01{
display:none;
}

/* ---------------------------------
	 qr-box
 -------------------------------- */

div#str-main div.qr-box-01{
margin:0 0 20px;
padding:9px;
border:1px #868686 solid;
}

div#str-main div.qr-box-01 p.qr-code{
}

/* ---------------------------------
	 check-box
 -------------------------------- */

 /* Old Style
-------------------------------- */
/*
div#str-main div.check-box-01{
margin:0 0 20px 0;
padding:9px;
border:1px #BBBBBB solid;
}

div#str-main div.check-box-01 p.catchcopy-01,
div#str-main div.check-box-01 p.catchcopy-02{
margin:-8px -8px 10px;
padding:0 5px 5px;
background:#F5F5F5;
border-bottom:1px #F5F5F5 solid; 
}
*/

 /* New Style
-------------------------------- */
div#str-main div.check-box-01{
margin:0 0 20px 0;
padding:9px;
border:1px #BBBBBB solid;
border-top:solid 2px #c00;
}

div#str-main div.check-box-01 p.catchcopy-01,
div#str-main div.check-box-01 p.catchcopy-02{
margin:-9px -9px 10px;
padding:0 5px 0 0;
border-bottom:1px #F5F5F5 solid; 
}

/* ---------------------------------
	 campaign-box
 -------------------------------- */

 /* Old Style
-------------------------------- */
/*
div#str-main div.campaign-box-01{
margin:0 0 20px;
padding:9px;
border:1px #DDDDDD solid;
}

div#str-main div.campaign-box-01 .hdg-campaign-box-01{
margin:0 -8px 7px;
padding-bottom:5px;
border-bottom:2px #0092D3 solid;
}

div#str-main div.campaign-box-01 .hdg-campaign-box-01 span{
padding:0 8px;
display:block;
}
*/

 /* New Style
-------------------------------- */
div#str-main div.campaign-box-01{
margin:0 0 20px;
padding:9px;
border:1px #DDDDDD solid;
border-top:solid 2px #ff9000;
}

div#str-main div.campaign-box-01 .hdg-campaign-box-01{
padding:0px 5px 0 0;
margin:-9px -9px 7px;
color:#ff9000;
font-weight:bold;
}

div#str-main div.campaign-box-01 .hdg-campaign-box-01 span{
padding:0 8px 0 0;
display:block;
}

div#str-main div.campaign-box-01 .hdg-campaign-box-02{
margin:-9px -10px 7px;
font-size:81.25%;
background:#F5F5F5;
border-top:solid 2px #ca0300;
padding:3px 5px 0 75px;
position:relative;
color:#ca0300;
min-height:21px;
}

div#str-main div.campaign-box-01 .hdg-campaign-box-02 span img{
position:absolute;
top:0px;
left:0px;
}

div#str-main div.campaign-box-01 div.list-slide-bnrs-01 ul.btns{
display:none;
}


/* ----------------------------------------------------------------
	15. Plugin Download Module
----------------------------------------------------------------- */

div#str-main div.plugin-box-01{
display:none;
}


/* ----------------------------------------------------------------
	16. Login Component
----------------------------------------------------------------- */

/* ---------------------------------
	nav-login-01
 -------------------------------- */
 
div#str-main div.nav-login-01-container{
display:none;
}

/* ---------------------------------
	nav-login-02
 -------------------------------- */
 
div#str-main div.nav-login-02-container{
display:none;
}

/* ---------------------------------
	nav-login-03
 -------------------------------- */
 
div#str-main div.nav-login-03-container{
display:none;
}

/* ---------------------------------
	nav-login-04
 -------------------------------- */
 
div#str-main div.nav-login-04-container{
display:none;
}

/* ---------------------------------
	nav-login-05
 -------------------------------- */
 
div#str-main div.nav-login-05-container{
display:none;
}

/* ---------------------------------
	nav-login-06
 -------------------------------- */
 
div#str-main div.nav-login-06-container{
display:none;
}

/* ---------------------------------
	nav-login-07
 -------------------------------- */
 
div#str-main div.nav-login-07-container{
display:none;
}


/* ----------------------------------------------------------------
	17. Flow Component
----------------------------------------------------------------- */


/* ---------------------------------
	flow-list-01
 -------------------------------- */

div#str-main div.flow-list-01-container{
margin-bottom:20px;
}

div#str-main div.flow-list-01-container ol.flow-list-01{
margin:0;
padding:0;
list-style:none;
}

div#str-main div.flow-list-01-container ol.flow-list-01 li{
margin-bottom:10px;
padding:9px;
border:1px #BBBBBB solid;
}

div#str-main div.flow-list-01-container ol.flow-list-01 li div.box-inner-01{
height:auto !important;
}

div#str-main div.flow-list-01-container ol.flow-list-01 li div.box-inner-01 div.box-number-01{
padding:7px 0 7px 17px;
min-height:36px;
background:url("/shared/images/contents-mod/flow-list-01-bg-01-01.gif") no-repeat 0 9px;
}

div#str-main div.flow-list-01-container ol.flow-list-01 li div.box-inner-01 div.box-number-02{
padding:7px 0 7px 17px;
min-height:36px;
background:url("/shared/images/contents-mod/flow-list-01-bg-01-02.gif") no-repeat 0 9px;
}

div#str-main div.flow-list-01-container ol.flow-list-01 li div.box-inner-01 div.box-number-03{
padding:7px 0 7px 17px;
min-height:36px;
background:url("/shared/images/contents-mod/flow-list-01-bg-01-03.gif") no-repeat 0 9px;
}

div#str-main div.flow-list-01-container ol.flow-list-01 li div.box-inner-01 div.box-number-04{
padding:7px 0 7px 17px;
min-height:36px;
background:url("/shared/images/contents-mod/flow-list-01-bg-01-04.gif") no-repeat 0 9px;
}

div#str-main div.flow-list-01-container ol.flow-list-01 li div.box-inner-01 div.box-number-05{
padding:7px 0 7px 17px;
min-height:36px;
background:url("/shared/images/contents-mod/flow-list-01-bg-01-05.gif") no-repeat 0 9px;
}

div#str-main div.flow-list-01-container ol.flow-list-01 li div.box-inner-01 div.box-number-06{
padding:7px 0 7px 17px;
min-height:36px;
background:url("/shared/images/contents-mod/flow-list-01-bg-01-06.gif") no-repeat 0 9px;
}

div#str-main div.flow-list-01-container ol.flow-list-01 li li{
margin:0;
padding:0;
border:none;
background:none;
}

div#str-main div.flow-list-01-container ol.flow-list-01 li p.doc-align-c{
text-align:left;
}

/* ---------------------------------
	flow-list-02
 -------------------------------- */

div#str-main div.flow-list-02-container{
margin-bottom:20px;
}

div#str-main div.flow-list-02-container ol.flow-list-02{
margin:0;
padding:0;
list-style:none;
}

div#str-main div.flow-list-02-container ol.flow-list-02 li{
margin-bottom:10px;
padding:9px;
border:1px #BBBBBB solid;
}

div#str-main div.flow-list-02-container ol.flow-list-02 li div.box-inner-01{
height:auto !important;
}

div#str-main div.flow-list-02-container ol.flow-list-02 li div.box-inner-01 div.box-number-01{
padding:7px 0 7px 17px;
background:url("/shared/images/contents-mod/flow-list-01-bg-01-01.gif") no-repeat 0 9px;
}

div#str-main div.flow-list-02-container ol.flow-list-02 li div.box-inner-01 div.box-number-02{
padding:7px 0 7px 17px;
background:url("/shared/images/contents-mod/flow-list-01-bg-01-02.gif") no-repeat 0 9px;
}

div#str-main div.flow-list-02-container ol.flow-list-02 li div.box-inner-01 div.box-number-03{
padding:7px 0 7px 17px;
background:url("/shared/images/contents-mod/flow-list-01-bg-01-03.gif") no-repeat 0 9px;
}

div#str-main div.flow-list-02-container ol.flow-list-02 li div.box-inner-01 div.box-number-04{
padding:7px 0 7px 17px;
background:url("/shared/images/contents-mod/flow-list-01-bg-01-04.gif") no-repeat 0 9px;
}

div#str-main div.flow-list-02-container ol.flow-list-02 li li{
margin:0;
padding:0;
border:none;
background:none;
}

div#str-main div.flow-list-02-container ol.flow-list-02 li p.doc-align-c{
text-align:left;
}

/* ---------------------------------
	flow-list-03
 -------------------------------- */

div#str-main div.flow-list-03-container{
margin-bottom:20px;
}

div#str-main div.flow-list-03-container ol.flow-list-03{
margin:0;
padding:0;
list-style:none;
}
 
div#str-main div.flow-list-03-container ol.flow-list-03 li{
margin:0 5px 10px 0;
padding:9px 7px;
border:1px #BBBBBB solid;
width:115px;
display:inline-block;
vertical-align:top;
zoom:1;
}

/* IE6 */
* html div#str-main div.flow-list-03-container ol.flow-list-03 li{
display:inline;
zoom:1;
}

/* IE7 */
*:first-child+html div#str-main div.flow-list-03-container ol.flow-list-03 li{
display:inline;
zoom:1;
}

div#str-main div.flow-list-03-container ol.flow-list-03 li div.box-inner-01{
height:auto !important;
}

div#str-main div.flow-list-03-container ol.flow-list-03 li p,
div#str-main div.flow-list-03-container ol.flow-list-03 li ul,
div#str-main div.flow-list-03-container ol.flow-list-03 li dl{
margin:0 0 10px;
}

div#str-main div.flow-list-03-container ol.flow-list-03 li li{
margin:0;
padding:0;
border:none;
}

/* ---------------------------------
	flow-list-04
 -------------------------------- */

div#str-main div.flow-list-04-container{
margin-bottom:20px;
}

div#str-main div.flow-list-04-container ol.flow-list-04{
margin:0;
padding:0;
list-style:none;
}

div#str-main div.flow-list-04-container ol.flow-list-04 li{
margin-bottom:10px;
padding:9px;
border:1px #BBBBBB solid;
background:#FFFFFF;
}

div#str-main div.flow-list-04-container ol.flow-list-04 li div.box-inner-01{
height:auto !important;
}

div#str-main div.flow-list-04-container ol.flow-list-04 li li{
margin:0;
padding:0;
border:none;
}

div#str-main div.flow-list-04-container ol.flow-list-04 li p.doc-align-c{
text-align:left;
}

/* ---------------------------------
	flow-list-image
 -------------------------------- */

div.flow-list-image-container div.flow{
display:none;
}


/* ----------------------------------------------------------------
	18. FAQ Component
----------------------------------------------------------------- */

div#str-main ul.faq-list-01 li{
margin-bottom:0.35em;
list-style:none;
}

div#str-main ul.faq-list-01 li span{
color:#247CCA;
font-weight:bold;
}

/* ---------------------------------
	faq-box-01
 -------------------------------- */
 
div#str-main div.faq-box-01{
margin-bottom:30px;
padding:0 14px 8px;
border:1px #BBBBBB solid;
}

div#str-main div.faq-box-01 .hdg-faq-box-01{
margin:1px -13px 12px;
padding:3px 8px;
border-bottom:1px #E5E5E5 solid;
background:#E5E5E5;
font-weight:bold;
}

/* ---------------------------------
	faq-detail-01
 -------------------------------- */

div#str-main div.faq-detail-01 .hdg-faq-detail-01{
margin-bottom:10px;
border:1px #BBBBBB solid;
padding:10px 9px 8px;
font-weight:bold;
}

div#str-main div.faq-detail-01 div.answer{
padding:7px 10px 5px;
}


/* ----------------------------------------------------------------
	19. Recommend Component
----------------------------------------------------------------- */

div#str-main div.recommend-box-01{
display:none;
}


/* ----------------------------------------------------------------
	20. Related Component
----------------------------------------------------------------- */

div#str-main div.related-box-01{
display:none;
}


/* ----------------------------------------------------------------
	21. Attention Component
----------------------------------------------------------------- */

div#str-main div.attention-box-01{
margin-bottom:30px;
border:2px #C91A00 solid;
padding:0 8px 7px;
}

div#str-main div.attention-box-01 .hdg-attention-box-01{
margin:0 -8px 15px;
padding:2px 0 5px;
background:#C91A00;
text-align:center;
}


/* ----------------------------------------------------------------
	22. Inquiry Component
----------------------------------------------------------------- */

div#str-main div.inquiry-box-01{
margin-bottom:20px;
padding:9px;
border:1px #DDDDDD solid;
}

div#str-main div.inquiry-box-01 .hdg-inquiry-box-01{
margin-bottom:7px;
text-align:center;
font-weight:bold;
}

div#str-main div.inquiry-box-02{
margin:0 0 20px;
padding:0 9px 9px;
border:1px #868686 solid;
text-align:center;
}

div#str-main div.inquiry-box-02 .hdg-inquiry-box-02{
margin:1px -8px 10px;
padding:5px;
background:#868686;
color:#fff;
}

div#str-main div.inquiry-box-02 dl{
margin-bottom:0;
}

div#str-main div.inquiry-box-02 dl dt{
font-weight:bold;
}

div#str-main div.inquiry-box-02 dl dd.phone-number{
color:#C11700;
font-size:15pt;
}

div#str-main div.inquiry-box-02 dl span.phone-number{
padding:0 10px;
color:#C11700;
}


/* ----------------------------------------------------------------
	23. Bank Info Component
----------------------------------------------------------------- */

div#str-main table.bank-info-box-01{
border-width:0 1px 1px 0;
border-color:#BBBBBB;
border-style:solid;
width:auto;
}

div#str-main table.bank-info-box-01 th.logo{
padding:5px;
background:#FFFFFF;
vertical-align:middle;
text-align:center;
}

div#str-main table.bank-info-box-01 th{
padding:5px 2px;
border-width:1px 0 0 1px;
border-color:#BBBBBB;
border-style:solid;
background:#EDEDED;
text-align:center;
vertical-align:middle;
font-weight:normal;
}

div#str-main table.bank-info-box-01 td{
padding:0;
border-width:1px 0 0 1px;
border-color:#BBBBBB;
border-style:solid;
text-align:center;
vertical-align:middle;
}

div#str-main table.bank-info-box-01 td ul.list-bullet-01{
padding:5px;
}

div#str-main table.bank-info-box-01 td ul.list-bullet-01 li{
text-align:left;
}


/* ----------------------------------------------------------------
	24. Charity Component
----------------------------------------------------------------- */

div#str-main ul.charity-list-01{
text-align:center;
}

div#str-main ul.charity-list-01 li{
padding-right:50px;
display:inline;
font-weight:bold;
}

div#str-main ul.charity-list-01 li span{
padding-left:10px;
color:#C11700;
font-size:13pt;
}

div#str-main div.charity-box-01{
margin:0 0 20px;
padding:9px;
border:1px #868686 solid;
}

div#str-main div.charity-box-01 p.charity-total{
margin-bottom:0;
padding:5px;
background:#F3F3F3;
text-align:center;
}

div#str-main div.charity-box-01 p.charity-total span{
padding-left:10px;
color:#C11700;
font-weight:bold;
font-size:13pt;
}


/* ----------------------------------------------------------------
	25. Merit Component
----------------------------------------------------------------- */

/* ---------------------------------
	merit-list-01
 -------------------------------- */

div#str-main div.merit-list-01-container{
margin-bottom:20px;
}

div#str-main div.merit-list-01-container ul.merit-list-01{
margin:0;
}

 /* Old Style
 -------------------------------- */
/*
div#str-main div.merit-list-01-container ul.merit-list-01 li{
margin-bottom:10px;
border:1px #B8D9F2 solid;
list-style:none;
}
*/

 /* New Style
 -------------------------------- */
 div#str-main div.merit-list-01-container ul.merit-list-01 li{
margin-bottom:10px;
border:1px #ddd solid;
list-style:none;
}


div#str-main div.merit-list-01-container ul.merit-list-01 li div.box-inner-01{
height:auto !important;
}

 /* Old Style
 -------------------------------- */
/*
div#str-main div.merit-list-01-container ul.merit-list-01 li div.box-inner-01 p.doc-catchcopy-01{
margin:0 0 10px;
padding:6px;
border-bottom:1px #238DD0 solid;
height:auto !important;
background:#D8EEFE;
font-weight:bold;
font-size:13pt;
}
*/

 /* New Style
 -------------------------------- */
div#str-main div.merit-list-01-container ul.merit-list-01 li div.box-inner-01 p.doc-catchcopy-01{
margin:10px;
padding:6px;
height:auto !important;
font-weight:bold;
font-size:13pt;
border-left:4px solid #ffd200;
}

div#str-main div.merit-list-01-container ul.merit-list-01 li div.box-inner-01 p.doc-catchcopy-01 strong{
color:#C11700;
font-size:121.4%;
}

div#str-main div.merit-list-01-container ul.merit-list-01 li div.box-inner-01 p.doc-catchcopy-01 span{
display:block;
}

div#str-main div.merit-list-01-container ul.merit-list-01 li li{
margin:0;
padding:0;
border:none;
list-style:disc;
list-style-position:inside;
}


 /* New Style #business
 -------------------------------- */
body#business div#str-main div.merit-list-01-container ul.merit-list-01 li div.box-inner-01 p.doc-catchcopy-01{
border-left:4px solid #00A1C9;
}

 /* New Style #smallbusiness
 -------------------------------- */
body#smallbusiness div#str-main div.merit-list-01-container ul.merit-list-01 li div.box-inner-01 p.doc-catchcopy-01{
border-left:4px solid #00A833;
}

/* ---------------------------------
	merit-list-02
 -------------------------------- */

div#str-main div.merit-list-02-container{
margin-bottom:20px;
padding-bottom:4px;
}

 /* Old Style
 -------------------------------- */
/*
div#str-main div.merit-list-02-container .hdg-merit-list-02{
margin-bottom:0;
padding:8px 10px 5px;
border-width:1px 1px 0;
border-color:#BEBEBE;
border-style:solid;
background:#EDEDED;
font-size:13pt;
font-weight:bold;
}
*/

 /* New Style
 -------------------------------- */
div#str-main div.merit-list-02-container .hdg-merit-list-02{
margin-bottom:0;
padding:8px 10px 5px;
border-width:1px 1px 0;
border-color:#BEBEBE;
border-style:solid;
font-size:13pt;
font-weight:bold;
}

div#str-main div.merit-list-02-container div.box-inner-01{
padding:12px 9px 2px;
border:1px #CCCCCC solid;
}

div#str-main div.merit-list-02-container ul.merit-list-02 li{
margin:0 10px 5px 0;
padding-bottom:4px;
list-style:none;
}

 /* Old Style
 -------------------------------- */
/*
div#str-main div.merit-list-02-container ul.merit-list-02 li div.box-inner-02{
border:1px #B8D9F2 solid;
height:auto !important;
}

div#str-main div.merit-list-02-container ul.merit-list-02 li div.box-inner-02 p.doc-catchcopy-01{
margin:0 0 10px;
padding:6px;
border-bottom:1px #238DD0 solid;
background:#D8EEFE;
font-weight:bold;
}
*/

 /* New Style
 -------------------------------- */
div#str-main div.merit-list-02-container ul.merit-list-02 li div.box-inner-02{
border:1px #ddd solid;
height:auto !important;
}

div#str-main div.merit-list-02-container ul.merit-list-02 li div.box-inner-02 p.doc-catchcopy-01{
margin:10px;
padding:6px;
font-weight:bold;
border-left:4px solid #ffd200;
}

div#str-main div.merit-list-02-container ul.merit-list-02 li div.box-inner-02 div.box-partition-01{
margin:0;
padding:0;
border:none;
}

div#str-main div.merit-list-02-container ul.merit-list-02 li div.box-inner-02 p.doc-link-01,
div#str-main div.merit-list-02-container ul.merit-list-02 li div.box-inner-02 ul.list-link-01{
display:none;
}

div#str-main div.merit-list-02-container ul.merit-list-02 li div.box-inner-02 p.doc-catchcopy-01 em,
div#str-main div.merit-list-02-container ul.merit-list-02 li div.box-inner-02 p.doc-catchcopy-01 strong{
color:#C11700;
}


 /* New Style #business
 -------------------------------- */
body#business div#str-main div.merit-list-02-container ul.merit-list-02 li div.box-inner-02 p.doc-catchcopy-01{
border-left:4px solid #00A1C9;
}

 /* New Style #smallbusiness
 -------------------------------- */
body#smallbusiness div#str-main div.merit-list-02-container ul.merit-list-02 li div.box-inner-02 p.doc-catchcopy-01{
border-left:4px solid #00A833;
}

/* ----------------------------------------------------------------
	26. Account Id Component
----------------------------------------------------------------- */

div#str-main div.account-id-container{
margin-bottom:20px;
}

div#str-main div.account-id-container ul.nav-account-id{
margin-bottom:0;
padding:0 10px 5px 8px;
}

div#str-main div.account-id-container ul.nav-account-id li{
padding:0 2px 0 0;
display:inline;
}


/* ----------------------------------------------------------------
	27. Howto List Component
----------------------------------------------------------------- */

div#str-main div.section-02 div.howto-list-box{
margin:0 0 20px;
border:1px #BBBBBB solid;
}

/* ---------------------------------
	box-01/box-02/box-03
 -------------------------------- */

div#str-main div.section-02 div.howto-list-box div.box-01{
display:inline-block;
width:40%;
height:auto !important;
vertical-align:top;
}

div#str-main div.section-02 div.howto-list-box div.box-02{
display:inline-block;
width:15%;
height:auto !important;
vertical-align:top;
text-align:center;
}

div#str-main div.section-02 div.howto-list-box div.box-03{
display:inline-block;
width:40%;
height:auto !important;
vertical-align:top;
}

/* ---------------------------------
	howto-01
 -------------------------------- */

div#str-main div.howto-01{
padding:9px;
}

div#str-main div.howto-01 .hdg-howto-list-box-01{
margin-bottom:10px;
padding:7px;
background:#FFAA00;
text-align:center;
}

/* ---------------------------------
	howto-02
 -------------------------------- */
 
div#str-main div.howto-02{
padding:9px;
}

div#str-main div.howto-02 .hdg-howto-list-box-01{
margin-bottom:10px;
padding:7px;
background:#0079C9;
text-align:center;
}

/* ---------------------------------
	howto-03
 -------------------------------- */
 
div#str-main div.howto-03{
padding:9px;
}

div#str-main div.howto-03 .hdg-howto-list-box-01{
margin-bottom:10px;
padding:7px;
background:#18AB21;
text-align:center;
}

/* ---------------------------------
	howto-list-01 > ul li 
 -------------------------------- */

div#str-main div.howto-list-box ul.howto-list-01 ul li{
padding:0;
min-height:0;
background:none;
}


/* ----------------------------------------------------------------
	28. Security Box Component
----------------------------------------------------------------- */

div#str-main div.security-box-01{
margin-bottom:20px;
}

/* ---------------------------------
	security-info 
 -------------------------------- */
 
div#str-main div.security-box-01 div.security-info{
padding:10px 0;
height:auto!important;
}

div#str-main div.security-box-01 div.security-info div.col-2 div.segment{
padding:10px 10px 5px;
border-top:2px #BF1920 solid;
height:auto!important;
}

/* ---------------------------------
	security-attention 
 -------------------------------- */

div#str-main div.security-box-01 div.security-attention{
padding:0 10px 5px;
border:5px #BF1920 solid;
height:auto!important;
}

div#str-main div.security-box-01 div.security-attention .hdg-security-attention-01{
margin:0 -10px 5px;
}

/* ----------------------------------------------------------------
	28'. Security Box Component
----------------------------------------------------------------- */

div#str-main div.security-box-03{
margin-bottom:20px;
}

/* ---------------------------------
	security-info 
 -------------------------------- */
 
div#str-main div.security-box-03 div.security-info{
padding:10px 0;
height:auto!important;
}

div#str-main div.security-box-03 div.security-info div.col-2 div.segment{
padding:10px 10px 5px;
border-top:2px #BF1920 solid;
height:auto!important;
}

/* ---------------------------------
	security-attention 
 -------------------------------- */

div#str-main div.security-box-03 div.security-attention{
padding:0 10px 5px;
border:5px #BF1920 solid;
height:auto!important;
}

div#str-main div.security-box-03 div.security-attention .hdg-security-attention-01{
margin:0 -10px 5px;
}



/* ----------------------------------------------------------------
	29. Plus List
----------------------------------------------------------------- */

div#str-main ul.plus-list-01 li{
padding:0 35px 0 55px;
display:inline;
vertical-align:top;
}


/* ----------------------------------------------------------------
	30. Common
----------------------------------------------------------------- */

/* ---------------------------------
	Margin Reset
 -------------------------------- */
 
.reset-mt-00{margin-top:0 !important;}
.reset-mr-00{margin-right:0 !important;}
.reset-mb-00{margin-bottom:0 !important;}
.reset-ml-00{margin-left:0 !important;}

.reset-mt-05{margin-top:5px !important;}
.reset-mr-05{margin-right:5px !important;}
.reset-mb-05{margin-bottom:5px !important;}
.reset-ml-05{margin-left:5px !important;}

.reset-mt-10{margin-top:10px !important;}
.reset-mr-10{margin-right:10px !important;}
.reset-mb-10{margin-bottom:10px !important;}
.reset-ml-10{margin-left:10px !important;}

.reset-mt-20{margin-top:20px !important;}
.reset-mr-20{margin-right:20px !important;}
.reset-mb-20{margin-bottom:20px !important;}
.reset-ml-20{margin-left:20px !important;}

.reset-mt-30{margin-top:30px !important;}
.reset-mr-30{margin-right:30px !important;}
.reset-mb-30{margin-bottom:30px !important;}
.reset-ml-30{margin-left:30px !important;}

.reset-mt-40{margin-top:40px !important;}
.reset-mr-40{margin-right:40px !important;}
.reset-mb-40{margin-bottom:40px !important;}
.reset-ml-40{margin-left:40px !important;}

/* ---------------------------------
	Padding Reset
 -------------------------------- */
 
.reset-pt-00{padding-top:0 !important;}
.reset-pr-00{padding-right:0 !important;}
.reset-pb-00{padding-bottom:0 !important;}
.reset-pl-00{padding-left:0 !important;}

.reset-pt-05{padding-top:5px !important;}
.reset-pr-05{padding-right:5px !important;}
.reset-pb-05{padding-bottom:5px !important;}
.reset-pl-05{padding-left:5px !important;}

.reset-pt-10{padding-top:10px !important;}
.reset-pr-10{padding-right:10px !important;}
.reset-pb-10{padding-bottom:10px !important;}
.reset-pl-10{padding-left:10px !important;}

.reset-pt-20{padding-top:20px !important;}
.reset-pr-20{padding-right:20px !important;}
.reset-pb-20{padding-bottom:20px !important;}
.reset-pl-20{padding-left:20px !important;}

.reset-pt-30{padding-top:30px !important;}
.reset-pr-30{padding-right:30px !important;}
.reset-pb-30{padding-bottom:30px !important;}
.reset-pl-30{padding-left:30px !important;}

.reset-pt-40{padding-top:40px !important;}
.reset-pr-40{padding-right:40px !important;}
.reset-pb-40{padding-bottom:40px !important;}
.reset-pl-40{padding-left:40px !important;}


div#str-main p img.icon-01,
div#str-main ul img.icon-01,
div#str-main ol img.icon-01,
div#str-main dl img.icon-01,
div#str-main table img.icon-01{
vertical-align:middle;
}