@charset "UTF-8";

/* ----------------------------------------------------------------
*	01. default.css
*	02. clear.css
*	03. str-header.css
*	04. mod-contents.css
*	05. mod-unique.css
*	06. mod-top.css
----------------------------------------------------------------- */

/* ----------------------------------------------------------------
	01. default.css
----------------------------------------------------------------- */

/* IE7 */
*:first-child+html div#str-main img{font-size:5px;}

/* IE6 */
* html div#str-header div#str-main img{font-size:5px;}

/* ----------------------------------------------------------------
	02. clear.css
----------------------------------------------------------------- */


/* ----------------------------------------------------------------
	03. str-header.css
----------------------------------------------------------------- */

/* IE7 */
*:first-child+html{
}

/* IE6 */
* html div#str-header{
}


/* ----------------------------------------------------------------
	04. mod-contents.css
----------------------------------------------------------------- */
 
/* ---------------------------------
	 hdg-l3-01
 -------------------------------- */

/* IE7 */
*:first-child+html div#str-main div.hdg-l3-01-container .hdg-l3-01{margin-bottom:0;}

/* IE6 */
* html div#str-main div.hdg-l3-01-container .hdg-l3-01{margin-bottom:0;}

/* ---------------------------------
	 hdg-l3-02
 -------------------------------- */

/* ---------------------------------
	 hdg-l3-03
 -------------------------------- */

/* IE7 */
*:first-child+html div#str-main div.hdg-l3-03-container .hdg-l3-03 span.icon img{
border:2px #0079C9 solid;
}

/* IE6 */
* html div#str-main div.hdg-l3-03-container .hdg-l3-03 span.icon img{
border:2px #0079C9 solid;
}

/* ---------------------------------
	 hdg-l3-04
 -------------------------------- */

/* IE7 */
*:first-child+html div#str-main div.hdg-l3-04-container .hdg-l3-04 span.icon img{
border:2px #FFAA00 solid;
}

/* IE6 */
* html div#str-main div.hdg-l3-04-container .hdg-l3-04 span.icon img{
border:2px #FFAA00 solid;
}

/* ---------------------------------
	Paragraph Module
 -------------------------------- */

/* IE6 */
* html div#str-main p.doc-link-01 a{zoom:1;}


/* ---------------------------------
	Definition List Module
 -------------------------------- */

/* IE7 */
*:first-child+html div#str-main dl.list-definition-02 dt{display:inline;zooom:1}

/* IE6 */
* html div#str-main dl.list-definition-02 dt{display:inline;zooom:1}

/* IE7 */
*:first-child+html div#str-main dl.list-definition-02 dd{display:inline;zooom:1}

/* IE6 */
* html div#str-main dl.list-definition-02 dd{display:inline;zooom:1}


/* ---------------------------------
	Link List Module
 -------------------------------- */

/* IE6 */
* html div#str-main ul.list-link-01 li a{zoom:1;}

/* IE6 */
* html div#str-main ul.page-link-01 li a{zoom:1;}

/* ---------------------------------
	list-index-01
 -------------------------------- */

/* IE7 */
*:first-child+html div#str-main ul.list-index-01 li div.box-inner-01{zoom:0;}

/* IE6 */
* html div#str-main ul.list-index-01 li div.box-inner-01{zoom:0;}

/* ---------------------------------
	list-index-02
 -------------------------------- */

/* IE7 */
*:first-child+html div#str-main ul.list-index-02 li{zoom:1;}

/* IE6 */
* html div#str-main ul.list-index-02 li{zoom:1;}


/* ---------------------------------
	list-index-04
 -------------------------------- */

/* IE7 */
*:first-child+html div#str-main ul.list-index-04 li{zoom:1;}

/* IE6 */
* html div#str-main ul.list-index-04 li{zoom:1;}

/* ---------------------------------
	Page Navigation Module
 -------------------------------- */

/* IE7 */
*:first-child+html div#str-main div.nav-page-tab-01-container ul.nav-page-tab-01 li{
display:inline;
zoom:1;
}

/* IE6 */
* html div#str-main div.nav-page-tab-01-container ul.nav-page-tab-01 li{
display:inline;
zoom:1;
}

/* ---------------------------------
	 Images List Module
 -------------------------------- */

/* IE7 */
*:first-child+html div#str-main ul.list-image-01 li{display:inline;zoom:1;}

/* IE6 */
* html div#str-main ul.list-image-01 li{display:inline;zoom:1;}

/* IE7 */
*:first-child+html div#str-main ul.list-image-02 li{display:inline;zoom:1;}

/* IE6 */
* html  div#str-main ul.list-image-02 li{display:inline;zoom:1;}

/* ---------------------------------
	 check-box
 -------------------------------- */

/* IE6 */
* html div#str-main div.check-box-01 p.catchcopy-01{
padding-top:5px;
}
* html div#str-main div.check-box-01 p.catchcopy-01 img{
margin-top:-5px;
}

* html div#str-main div.check-box-01 p.catchcopy-02{
padding-top:5px;
}

* html div#str-main div.check-box-01 p.catchcopy-02 img{
margin-top:-5px;
}

/* IE7 */
*:first-child+html div#str-main div.check-box-01 p.catchcopy-01 img{
vertical-align:middle;
}

*:first-child+html div#str-main div.check-box-01 p.catchcopy-02 img{
vertical-align:middle;
}

/* ---------------------------------
	 campaign-box
 -------------------------------- */
 
 /* IE6 */
* html div#str-main div.campaign-box-01 .hdg-campaign-box-01{
padding-top:5px;
}
* html div#str-main div.campaign-box-01 .hdg-campaign-box-01 img{
margin-top:-5px;
}

* html div#str-main .campaign-box-01 ul.bnrs,
* html div#str-main .campaign-box-01 ul.bnrs li,
* html div#str-main .campaign-box-01 ul.btns,
* html div#str-main .campaign-box-01 ul.btns li{
zoom:1;
}

/* IE7 */
*:first-child+html div#str-main .campaign-box-01 ul.bnrs,
*:first-child+html div#str-main .campaign-box-01 ul.bnrs li,
*:first-child+html div#str-main .campaign-box-01 ul.btns,
*:first-child+html div#str-main .campaign-box-01 ul.btns li{
zoom:1;
}


/* ---------------------------------
	Flow Component
 -------------------------------- */

/* IE6 */
* html div#str-main div.flow-list-01-container ol.flow-list-01 li div.box-inner-01 div.box-number-01,
* html div#str-main div.flow-list-01-container ol.flow-list-01 li div.box-inner-01 div.box-number-02,
* html div#str-main div.flow-list-01-container ol.flow-list-01 li div.box-inner-01 div.box-number-03,
* html div#str-main div.flow-list-01-container ol.flow-list-01 li div.box-inner-01 div.box-number-04{
height:36px;
}

/* ---------------------------------
	merit-list-01
 -------------------------------- */

/* IE7 */
*:first-child+html div#str-main div.merit-list-01-container ul.merit-list-01 li{zoom:1;}

/* IE6 */
* html div#str-main div.merit-list-01-container ul.merit-list-01 li{zoom:1;}

/* ---------------------------------
	merit-list-02
 -------------------------------- */

/* IE7 */
*:first-child+html div#str-main div.merit-list-02-container ul.merit-list-02 li{zoom:1;}

/* IE6 */
* html div#str-main div.merit-list-02-container ul.merit-list-02 li{zoom:1;}

/* ---------------------------------
	Howto List Component
 -------------------------------- */

/* IE7 */
*:first-child+html div#str-main div.section-02 div.howto-list-box div.box-01,
*:first-child+html div#str-main div.section-02 div.howto-list-box div.box-02,
*:first-child+html div#str-main div.section-02 div.howto-list-box div.box-03{
display:inline;
}

/* IE6 */
* html div#str-main div.section-02 div.howto-list-box div.box-01,
* html div#str-main div.section-02 div.howto-list-box div.box-02,
* html div#str-main div.section-02 div.howto-list-box div.box-03{
display:inline;
}


/* ----------------------------------------------------------------
	05. mod-unique.css
----------------------------------------------------------------- */

/* ---------------------------------
	body#link-external
 -------------------------------- */

/* ---------------------------------
	body#link-internal
 -------------------------------- */


/* ----------------------------------------------------------------
	06. mod-top.css
----------------------------------------------------------------- */
