@charset "UTF-8";

/* ----------------------------------------------------------------
*	01. body#campaign
*	02. body#business/body#business-top
*	03. body#smallbusiness/body#smallbusiness-top
*	04. body#link-external
*	05. body#link-internal
*	06. #colorbox
*	07. investment / first Style
*	08. div.box-tohoku
*	09. 
*	10. 
----------------------------------------------------------------- */

/* ----------------------------------------------------------------
	01. body#campaign
----------------------------------------------------------------- */

/* ---------------------------------
	 hdg-l2
 -------------------------------- */

 /* Old Style
-------------------------------- */
/*
body#campaign div#str-main div.hdg-l2-01-container{
background:#FFEFB6 url("/shared/images/heading/campaign-hdg-l2-01-bg-02.gif") no-repeat 0 100%;
}

body#campaign div#str-main div.hdg-l2-01-container .hdg-l2-01{
background:url("/shared/images/heading/campaign-hdg-l2-01-bg-01.gif") no-repeat 0 0;
}

body#campaign div#str-main div.hdg-l2-02-container{
background:#FFEFB6 url("/shared/images/heading/campaign-hdg-l2-01-bg-02.gif") no-repeat 0 100%;
}

body#campaign div#str-main div.hdg-l2-02-container .hdg-l2-02{
background:url("/shared/images/heading/campaign-hdg-l2-01-bg-01.gif") no-repeat 0 0;
}

body#campaign div#str-main div.hdg-l2-03-container{
background:#FFEFB6 url("/shared/images/heading/campaign-hdg-l2-01-bg-02.gif") no-repeat 0 100%;
}

body#campaign div#str-main div.hdg-l2-03-container .hdg-l2-03{
background:url("/shared/images/heading/campaign-hdg-l2-01-bg-01.gif") no-repeat 0 0;
}
*/

 /* New Style
 -------------------------------- */
body#campaign div#str-main div.hdg-l2-01-container{
margin-bottom:8px;
background:#4d4d4d;
border-top:solid 4px #ff9000;
color:#fff;
}

body#campaign div#str-main div.hdg-l2-01-container .hdg-l2-01{
padding:6px 10px 4px;
font-size:87.5%;
font-weight:bold;
}

body#campaign div#str-main div.hdg-l2-02-container{
margin-bottom:8px;
background:#4d4d4d;
border-top:solid 4px #ff9000;
color:#fff;
position:relative;
}

body#campaign div#str-main div.hdg-l2-02-container .hdg-l2-02{
padding:6px 99px 4px 10px;
font-size:87.5%;
font-weight:bold;
}

body#campaign div#str-main div.hdg-l2-03-container{
margin-bottom:8px;
background:#4d4d4d;
border-top:solid 4px #ff9000;
color:#fff;
position:relative;
}

body#campaign div#str-main div.hdg-l2-03-container .hdg-l2-03{
padding:6px 10px 4px;
font-size:87.5%;
font-weight:bold;
}
/* ---------------------------------
	 col-2 > hdg-l2-01
 -------------------------------- */
 /* Old Style 未使用
-------------------------------- */
/*
body#campaign div#str-main div.col-2 div.hdg-l2-01-container,
body#campaign div#str-main div.col-2 div.hdg-l2-02-container,
body#campaign div#str-main div.col-2 div.hdg-l2-03-container{
background-image:url("/shared/images/heading/campaign-hdg-l2-01-bg-02-col2.gif");
}

body#campaign div#str-main div.col-2 div.hdg-l2-01-container .hdg-l2-01,
body#campaign div#str-main div.col-2 div.hdg-l2-02-container .hdg-l2-02,
body#campaign div#str-main div.col-2 div.hdg-l2-03-container .hdg-l2-03{
background-image:url("/shared/images/heading/campaign-hdg-l2-01-bg-01-col-2.gif");
}
*/
/* ---------------------------------
	 col-3 > hdg-l2-01
 -------------------------------- */
 /* Old Style 未使用
-------------------------------- */
/*
body#campaign div#str-main div.col-3 div.hdg-l2-01-container,
body#campaign div#str-main div.col-3 div.hdg-l2-02-container,
body#campaign div#str-main div.col-3 div.hdg-l2-03-container{
background-image:url("/shared/images/heading/campaign-hdg-l2-01-bg-02-col-3.gif");
}

body#campaign div#str-main div.col-3 div.hdg-l2-01-container .hdg-l2-01,
body#campaign div#str-main div.col-3 div.hdg-l2-02-container .hdg-l2-02,
body#campaign div#str-main div.col-3 div.hdg-l2-03-container .hdg-l2-03{
background-image:url("/shared/images/heading/campaign-hdg-l2-01-bg-01-col-3.gif");
}
*/

/* ---------------------------------
	 hdg-l3
 -------------------------------- */
 /* Old Style
-------------------------------- */
/*
body#campaign div#str-main div.hdg-l3-01-container{
margin-bottom:15px;
padding:3px;
background:#FFF3CB;
}

body#campaign div#str-main div.hdg-l3-01-container .hdg-l3-01{
padding-left:5px;
border-left:2px #FFAA00 solid;
font-size:81.25%;
font-weight:bold;
}
*/

 /* New Style
 -------------------------------- */
body#campaign div#str-main div.hdg-l3-01-container{
margin-bottom:15px;
border-top:solid 2px #4d4d4d;
background:#f5f5f5;
position:relative;
}

body#campaign div#str-main div.hdg-l3-01-container .hdg-l3-01{
padding:7px 10px 6px;
font-size:81.25%;
font-weight:bold;
}


/* ----------------------------------------------------------------
	02. body#business/body#business-top
----------------------------------------------------------------- */

/* ---------------------------------
	 hdg-l1
 -------------------------------- */

 /* Old Style
 -------------------------------- */
/*
body#business div#str-main div.hdg-l1-01-container,
body#business-top div#str-main div.hdg-l1-01-container{
background:#C9E6F8 url("/shared/images/heading/business-hdg-l1-01-bg-02.gif") no-repeat 0 100%;
}

body#business div#str-main div.hdg-l1-01-container .hdg-l1-01,
body#business-top div#str-main div.hdg-l1-01-container .hdg-l1-01{
background:url("/shared/images/heading/business-hdg-l1-01-bg-01.gif") no-repeat 0 0;
}

body#business div#str-main div.hdg-l1-02-container,
body#business-top div#str-main div.hdg-l1-02-container{
background:#C9E6F8 url("/shared/images/heading/business-hdg-l1-01-bg-02.gif") no-repeat 0 100%;
}

body#business div#str-main div.hdg-l1-02-container .hdg-l1-02,
body#business-top div#str-main div.hdg-l1-02-container .hdg-l1-02{
background:url("/shared/images/heading/business-hdg-l1-01-bg-01.gif") no-repeat 0 0;
}
*/

 /* New Style
 -------------------------------- */
body#business div#str-main div.hdg-l1-01-container,
body#business-top div#str-main div.hdg-l1-01-container,
body#business div#str-main div.hdg-l1-01-container .hdg-l1-01,
body#business-top div#str-main div.hdg-l1-01-container .hdg-l1-01{
border-color:#00a1c9;
}

body#business div#str-main div.hdg-l1-02-container,
body#business-top div#str-main div.hdg-l1-02-container,
body#business div#str-main div.hdg-l1-02-container .hdg-l1-02,
body#business-top div#str-main div.hdg-l1-02-container .hdg-l1-02{
border-color:#00a1c9;
}

/* ---------------------------------
	 hdg-l2
 -------------------------------- */

 /* Old Style
 -------------------------------- */
/*
body#business div#str-main div.hdg-l2-01-container,
body#business-top div#str-main div.hdg-l2-01-container{
background:#DEDEDE url("/shared/images/heading/business-hdg-l2-01-bg-02.gif") no-repeat 0 100%;
}

body#business div#str-main div.hdg-l2-01-container .hdg-l2-01,
body#business-top div#str-main div.hdg-l2-01-container .hdg-l2-01{
background:url("/shared/images/heading/business-hdg-l2-01-bg-01.gif") no-repeat 0 0;
}

body#business div#str-main div.hdg-l2-02-container,
body#business-top div#str-main div.hdg-l2-02-container{
background:#DEDEDE url("/shared/images/heading/business-hdg-l2-01-bg-02.gif") no-repeat 0 100%;
}

body#business div#str-main div.hdg-l2-02-container .hdg-l2-02,
body#business-top div#str-main div.hdg-l2-02-container .hdg-l2-02{
background:url("/shared/images/heading/business-hdg-l2-01-bg-01.gif") no-repeat 0 0;
}

body#business div#str-main div.hdg-l2-03-container,
body#business-top div#str-main div.hdg-l2-03-container{
background:#DEDEDE url("/shared/images/heading/business-hdg-l2-01-bg-02.gif") no-repeat 0 100%;
}
*/

 /* New Style
 -------------------------------- */
body#business div#str-main div.hdg-l2-01-container,
body#business-top div#str-main div.hdg-l2-01-container{
border-color:#00a1c9;
}

body#business div#str-main div.hdg-l2-02-container,
body#business-top div#str-main div.hdg-l2-02-container{
border-color:#00a1c9;
}

body#business div#str-main div.hdg-l2-03-container,
body#business-top div#str-main div.hdg-l2-03-container{
border-color:#00a1c9;
}

/* ---------------------------------
	 col-2 > hdg-l2-01
 -------------------------------- */

 /* Old Style
 -------------------------------- */
/*
body#business div#str-main div.col-2 div.hdg-l2-01-container,
body#business div#str-main div.col-2 div.hdg-l2-02-container,
body#business div#str-main div.col-2 div.hdg-l2-03-container,
body#business-top div#str-main div.col-2 div.hdg-l2-01-container,
body#business-top div#str-main div.col-2 div.hdg-l2-02-container,
body#business-top div#str-main div.col-2 div.hdg-l2-03-container{
background-image:url("/shared/images/heading/business-hdg-l2-01-bg-02-col-2.gif");
}

body#business div#str-main div.col-2 div.hdg-l2-01-container .hdg-l2-01,
body#business div#str-main div.col-2 div.hdg-l2-02-container .hdg-l2-02,
body#business div#str-main div.col-2 div.hdg-l2-03-container .hdg-l2-03,
body#business-top div#str-main div.col-2 div.hdg-l2-01-container .hdg-l2-01,
body#business-top div#str-main div.col-2 div.hdg-l2-02-container .hdg-l2-02,
body#business-top div#str-main div.col-2 div.hdg-l2-03-container .hdg-l2-03{
background-image:url("/shared/images/heading/hdg-l2-01-bg-01-col-2.gif");
}
*/

/* ---------------------------------
	 col-3 > hdg-l2-01
 -------------------------------- */

 /* Old Style
-------------------------------- */
/*
body#business div#str-main div.col-3 div.hdg-l2-01-container,
body#business div#str-main div.col-3 div.hdg-l2-02-container,
body#business div#str-main div.col-3 div.hdg-l2-03-container,
body#business-top div#str-main div.col-3 div.hdg-l2-01-container,
body#business-top div#str-main div.col-3 div.hdg-l2-02-container,
body#business-top div#str-main div.col-3 div.hdg-l2-03-container{
background-image:url("/shared/images/heading/business-hdg-l2-01-bg-02-col-3.gif");
}

body#business div#str-main div.col-3 div.hdg-l2-01-container .hdg-l2-01,
body#business div#str-main div.col-3 div.hdg-l2-02-container .hdg-l2-02,
body#business div#str-main div.col-3 div.hdg-l2-03-container .hdg-l2-03,
body#business-top div#str-main div.col-3 div.hdg-l2-01-container .hdg-l2-01,
body#business-top div#str-main div.col-3 div.hdg-l2-02-container .hdg-l2-02,
body#business-top div#str-main div.col-3 div.hdg-l2-03-container .hdg-l2-03{
background-image:url("/shared/images/heading/hdg-l2-01-bg-01-col-3.gif");
}
*/

/* ---------------------------------
	 hdg-l3
 -------------------------------- */

body#business div#str-main div.hdg-l3-01-container .hdg-l3-01,
body#business-top div#str-main div.hdg-l3-01-container .hdg-l3-01{
border-color:#00A1C9;
}

/* ---------------------------------
	 hdg-l4
 -------------------------------- */

body#business div#str-main div.hdg-l4-01-container .hdg-l4-01,
body#business-top div#str-main div.hdg-l4-01-container .hdg-l4-01{
border-color:#00A1C9;
}

/* ---------------------------------
	nav-page-inner
 -------------------------------- */

body#business div#str-main div.nav-page-inner-01-container,
body#business-top div#str-main div.nav-page-inner-01-container{
border-color:#FFEA9D;
}

body#business div#str-main div.nav-page-inner-01-container ul.nav-page-inner-01,
body#business-top div#str-main div.nav-page-inner-01-container ul.nav-page-inner-01{
background:#FFFBED url("/shared/images/contents-mod/business-nav-page-inner-01-bg-01.gif") repeat-x 0 0;
}

/* ----------------------------------------------------------------
	03. body#smallbusiness/body#smallbusiness-top
----------------------------------------------------------------- */


/* ---------------------------------
	 hdg-l1
 -------------------------------- */
 
 /* Old Style
-------------------------------- */
/*
body#smallbusiness div#str-main div.hdg-l1-01-container,
body#smallbusiness-top div#str-main div.hdg-l1-01-container{
background:#CBF69D url("/shared/images/heading/smallbusiness-hdg-l1-01-bg-02.gif") no-repeat 0 100%;
}

body#smallbusiness div#str-main div.hdg-l1-01-container .hdg-l1-01,
body#smallbusiness-top div#str-main div.hdg-l1-01-container .hdg-l1-01{
background:url("/shared/images/heading/smallbusiness-hdg-l1-01-bg-01.gif") no-repeat 0 0;
}

body#smallbusiness div#str-main div.hdg-l1-02-container,
body#smallbusiness-top div#str-main div.hdg-l1-02-container{
background:#CBF69D url("/shared/images/heading/smallbusiness-hdg-l1-01-bg-02.gif") no-repeat 0 100%;
}

body#smallbusiness div#str-main div.hdg-l1-02-container .hdg-l1-02,
body#smallbusiness-top div#str-main div.hdg-l1-02-container .hdg-l1-02{
background:url("/shared/images/heading/smallbusiness-hdg-l1-01-bg-01.gif") no-repeat 0 0;
}
*/

 /* New Style
 -------------------------------- */
body#smallbusiness div#str-main div.hdg-l1-01-container,
body#smallbusiness-top div#str-main div.hdg-l1-01-container,
body#smallbusiness div#str-main div.hdg-l1-01-container .hdg-l1-01,
body#smallbusiness-top div#str-main div.hdg-l1-01-container .hdg-l1-01{
border-color:#00a833;
}

body#smallbusiness div#str-main div.hdg-l1-02-container,
body#smallbusiness-top div#str-main div.hdg-l1-02-container,
body#smallbusiness div#str-main div.hdg-l1-02-container .hdg-l1-02,
body#smallbusiness-top div#str-main div.hdg-l1-02-container .hdg-l1-02{
border-color:#00a833;
}

/* ---------------------------------
	 hdg-l2
 -------------------------------- */

 /* Old Style
-------------------------------- */
/*
body#smallbusiness div#str-main div.hdg-l2-01-container,
body#smallbusiness-top div#str-main div.hdg-l2-01-container{
background:#DEDEDE url("/shared/images/heading/smallbusiness-hdg-l2-01-bg-02.gif") no-repeat 0 100%;
}

body#smallbusiness div#str-main div.hdg-l2-01-container .hdg-l2-01,
body#smallbusiness-top div#str-main div.hdg-l2-01-container .hdg-l2-01{
background:url("/shared/images/heading/smallbusiness-hdg-l2-01-bg-01.gif") no-repeat 0 0;
}

body#smallbusiness div#str-main div.hdg-l2-02-container,
body#smallbusiness-top div#str-main div.hdg-l2-02-container{
background:#DEDEDE url("/shared/images/heading/smallbusiness-hdg-l2-01-bg-02.gif") no-repeat 0 100%;
}

body#smallbusiness div#str-main div.hdg-l2-02-container .hdg-l2-02,
body#smallbusiness-top div#str-main div.hdg-l2-02-container .hdg-l2-02{
background:url("/shared/images/heading/smallbusiness-hdg-l2-01-bg-01.gif") no-repeat 0 0;
}

body#smallbusiness div#str-main div.hdg-l2-03-container,
body#smallbusiness-top div#str-main div.hdg-l2-03-container{
background:#DEDEDE url("/shared/images/heading/smallbusiness-hdg-l2-01-bg-02.gif") no-repeat 0 100%;
}
*/

 /* New Style
 -------------------------------- */
body#smallbusiness div#str-main div.hdg-l2-01-container,
body#smallbusiness-top div#str-main div.hdg-l2-01-container{
border-color:#00a833;
}

body#smallbusiness div#str-main div.hdg-l2-02-container,
body#smallbusiness-top div#str-main div.hdg-l2-02-container{
border-color:#00a833;
}

body#smallbusiness div#str-main div.hdg-l2-03-container,
body#smallbusiness-top div#str-main div.hdg-l2-03-container{
border-color:#00a833;
}

/* ---------------------------------
	 col-2 > hdg-l2-01
 -------------------------------- */

 /* Old Style
-------------------------------- */
/*
body#smallbusiness div#str-main div.col-2 div.hdg-l2-01-container,
body#smallbusiness div#str-main div.col-2 div.hdg-l2-02-container,
body#smallbusiness div#str-main div.col-2 div.hdg-l2-03-container,
body#smallbusiness-top div#str-main div.col-2 div.hdg-l2-01-container,
body#smallbusiness-top div#str-main div.col-2 div.hdg-l2-02-container,
body#smallbusiness-top div#str-main div.col-2 div.hdg-l2-03-container{
background-image:url("/shared/images/heading/smallbusiness-hdg-l2-01-bg-02-col-2.gif");
}

body#smallbusiness div#str-main div.col-2 div.hdg-l2-01-container .hdg-l2-01,
body#smallbusiness div#str-main div.col-2 div.hdg-l2-02-container .hdg-l2-02,
body#smallbusiness div#str-main div.col-2 div.hdg-l2-03-container .hdg-l2-03,
body#smallbusiness-top div#str-main div.col-2 div.hdg-l2-01-container .hdg-l2-01,
body#smallbusiness-top div#str-main div.col-2 div.hdg-l2-02-container .hdg-l2-02,
body#smallbusiness-top div#str-main div.col-2 div.hdg-l2-03-container .hdg-l2-03{
background-image:url("/shared/images/heading/hdg-l2-01-bg-01-col-2.gif");
}
*/

/* ---------------------------------
	 col-3 > hdg-l2-01
 -------------------------------- */

 /* Old Style
-------------------------------- */
/*
body#smallbusiness div#str-main div.col-3 div.hdg-l2-01-container,
body#smallbusiness div#str-main div.col-3 div.hdg-l2-02-container,
body#smallbusiness div#str-main div.col-3 div.hdg-l2-03-container,
body#smallbusiness-top div#str-main div.col-3 div.hdg-l2-01-container,
body#smallbusiness-top div#str-main div.col-3 div.hdg-l2-02-container,
body#smallbusiness-top div#str-main div.col-3 div.hdg-l2-03-container{
background-image:url("/shared/images/heading/smallbusiness-hdg-l2-01-bg-02-col-3.gif");
}

body#smallbusiness div#str-main div.col-3 div.hdg-l2-01-container .hdg-l2-01,
body#smallbusiness div#str-main div.col-3 div.hdg-l2-02-container .hdg-l2-02,
body#smallbusiness div#str-main div.col-3 div.hdg-l2-03-container .hdg-l2-03,
body#smallbusiness-top div#str-main div.col-3 div.hdg-l2-01-container .hdg-l2-01,
body#smallbusiness-top div#str-main div.col-3 div.hdg-l2-02-container .hdg-l2-02,
body#smallbusiness-top div#str-main div.col-3 div.hdg-l2-03-container .hdg-l2-03{
background-image:url("/shared/images/heading/hdg-l2-01-bg-01-col-3.gif");
}
*/

/* ---------------------------------
	 hdg-l3
 -------------------------------- */

body#smallbusiness div#str-main div.hdg-l3-01-container .hdg-l3-01,
body#smallbusiness-top div#str-main div.hdg-l3-01-container .hdg-l3-01{
border-color:#00A833;
}

/* ---------------------------------
	 hdg-l4
 -------------------------------- */

body#smallbusiness div#str-main div.hdg-l4-01-container .hdg-l4-01,
body#smallbusiness-top div#str-main div.hdg-l4-01-container .hdg-l4-01{
border-color:#00A833;
}

/* ---------------------------------
	nav-page-inner
 -------------------------------- */

body#smallbusiness div#str-main div.nav-page-inner-01-container,
body#smallbusiness-top div#str-main div.nav-page-inner-01-container{
border-color:#FFEA9D;
}

body#smallbusiness div#str-main div.nav-page-inner-01-container ul.nav-page-inner-01,
body#smallbusiness-top div#str-main div.nav-page-inner-01-container ul.nav-page-inner-01{
background:#FFFBED url("/shared/images/contents-mod/business-nav-page-inner-01-bg-01.gif") repeat-x 0 0;
}


/* ----------------------------------------------------------------
	04. body#link-external
----------------------------------------------------------------- */

body#link-external #str-main{
text-align:center;
}

body#link-external #str-main p.doc-catchcopy-01{
margin:50px 0 30px;
font-size:150%;
}

body#link-external #str-main div.nav-login-04-container{
margin-top:60px;
}


/* ----------------------------------------------------------------
	05. body#link-internal
----------------------------------------------------------------- */

body#link-internal #str-main{
text-align:center;
}

body#link-internal #str-main p.doc-catchcopy-01{
margin:50px 0 30px;
font-size:150%;
}

body#link-internal #str-main div.nav-login-04-container{
margin-top:60px;
}


/* ----------------------------------------------------------------
	06. #colorbox (Lightbox Clone Media Viewer)
----------------------------------------------------------------- */
#colorbox, #cboxOverlay, #cboxWrapper{
position:absolute;
top:0;
left:0;
z-index:9999;
}

#cboxOverlay{
position:fixed;
width:100%;
height:100%;
overflow:hidden;
background-color:#000;
}

/* spacer elements */
#cboxTopLeft{
width:30px;
height:30px;
}
#cboxTopRight{
width:30px;
height:30px;
}
#cboxBottomLeft{
width:30px;
height:30px;
}
#cboxBottomRight{
width:30px;
height:30px;
}
#cboxMiddleLeft{width:30px;}
#cboxMiddleRight{width:30px;}
#cboxTopCenter{height:30px;}
/*  4px(padding)+17px(#cboxTitle height)+4px(padding)
 * +19px(#cboxNext or #cboxPrevious height)
 * +30px(bottom space)
 */
#cboxBottomCenter{
height:74px;
}
* html #cboxBottomCenter{ /* BUG IE6: #cboxWrapper not overlay */
margin-top:-48px;
}

#cboxMiddleLeft, #cboxBottomLeft{clear:left;}

#cboxWrapper{
background-color:#fff;
/* BUG IE6: disable box size auto extend */
overflow:hidden;
}

#cboxContent{
padding-top:30px; /* 19px(#cboxClose height)+11px(margin) */
position:relative;
}

#cboxLoadedContent{
overflow:hidden;
}

#cboxTitle{
padding:4px 0;
font-size:75%;
}

#cboxClose, #cboxNext, #cboxPrevious{
text-indent:-999em;
overflow:hidden;
}

#cboxClose{
position:absolute;
top:0;
right:0;
width:58px;
height:19px;
background:url("/shared/images/contents-mod/modalview/btn-mv-close-01.gif") no-repeat;
}

#cboxNext, #cboxPrevious{
margin-top:4px;
width:47px;
height:19px;
position:relative;
left:50%;
zoom:normal;
}

#cboxNext{
margin-left:4px;
background:url("/shared/images/contents-mod/modalview/btn-mv-next-01.gif") 0 0 no-repeat;
}
#cboxPrevious{
margin-top:-19px;
margin-left:-51px; /* 47px(width)+4px(margin) */
background:url("/shared/images/contents-mod/modalview/btn-mv-prev-01.gif") 100% 0 no-repeat;
}

#cboxLoadingOverlay, #cboxLoadingGraphic{
width:100%;
}

#cboxLoadingOverlay{
background-color:#fff;
position:relative;
z-index:1;
}

#cboxLoadingGraphic{
position:absolute;
top:50%;
left:0;
z-index:2;
text-align:center;
font-weight:bold;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{
cursor:pointer;
}

#cboxCurrent{
display:none !important;
}


/* ----------------------------------------------------------------
	07. investment / first Style
----------------------------------------------------------------- */

body.category-investment-first div.container-beginner-01{
background:url(/assets/investment/first/images/container-mdl-bg-01.gif) repeat-y 0% 0%;
margin-bottom:20px;
}
body.category-investment-first div.container-repeat-01{
background:url(/assets/investment/first/images/container-top-bg-01.gif) no-repeat 0% 0%;
}
body.category-investment-first div.container-inner-01{
background:url(/assets/investment/first/images/container-btm-bg-01.gif) no-repeat 0% 100%;
padding:38px 0;
position:relative;
}

body.category-investment-first ul.list-att-01{
position:absolute;
top:34px;
right:20px;
}
body.category-investment-first ul.list-att-01 li{
display:inline;
margin-left:8px;
}

body.category-investment-first  div.beginner-section-01{
margin:0 40px 20px 55px;
width:660px;
}
body.category-investment-first div.beginner-section-01 div.inner{
width:630px;
margin:0 15px 20px;
}
body.category-investment-first div.beginner-section-01{
position:relative;
z-index:0;
}
body.category-investment-first div.beginner-section-02{
width:667px;
margin:0 35px 25px 53px;
}
body.category-investment-first div.beginner-section-01 div.inner.bdr,
body.category-investment-first div.beginner-section-02 div.inner.bdr{
background:url(/assets/investment/first/images/section-bdr-bg-01.gif) repeat-x 0% 100%;
padding-bottom:21px;
}

body.category-investment-first div#str-main div.beginner-section-01 p.cmt,
body.category-investment-first div#str-main div.beginner-section-02 p.cmt{
margin:0 15px;
}

body.category-investment-first div#str-main div.box-read-01{
margin-top:-17px;
background:url(/assets/investment/first/images/read-index-bg-01.gif) no-repeat 0% 0%;
padding:48px 0 0 0;
position:relative;
z-index:10;
}
body.category-investment-first div#str-main div.box-read-02{
background:url(/assets/investment/first/images/read-index-bg-02.gif) no-repeat 0% 0%;
padding:35px 20px 23px 17px;
}

body.category-investment-first div#str-main div.box-check-01{
background:url(/assets/investment/first/images/check-index-top-bg-01.gif) no-repeat 0% 0%;
}
body.category-investment-first div#str-main div.box-check-01 div.box-check-inner{
background:url(/assets/investment/first/images/check-index-btm-bg-01.gif) no-repeat 0% 100%;
width:570px;
padding:14px 30px;
}

body.category-investment-first div#str-main div.hdg-l2-beginner-01{
margin-bottom:20px;
padding-bottom:6px;
border-bottom:solid 2px #ff9000;
}
body.category-investment-first div#str-main div.box-read-02 div.hdg-l2-beginner-01{
margin-bottom:15px;
}

body.category-investment-first div#str-main div.hdg-l3-beginner-01{
margin-bottom:20px;
}

body.category-investment-first div#str-main div.hdg-l4-beginner-01{
background:url(/shared/images/heading/hdg-l4-beginner-index-bg-01.gif) no-repeat 0% 100%;
position:relative;
border-top:solid 1px #cfcfcf;
}
body.category-investment-first div#str-main div.hdg-l4-beginner-01 p.icon-check-01{
position:absolute;
top:-7px;
left:5px;
}
body.category-investment-first div#str-main div.hdg-l4-beginner-01 h4{
padding:10px 0 10px 95px;
}

body.category-investment-first div#str-main div.box-read-01 p.read-01{
margin:0 0 30px 34px;
}
body.category-investment-first div#str-main div.box-read-02 p.read-02{
margin-bottom:29px;
}
body.category-investment-first div#str-main div.box-read-02 p.read-03{
margin-bottom:0;
}

body.category-investment-first div.space05{
margin:0 5px;
}

/* lower */

body.category-investment-first h4.hdg-l4-01{
margin-bottom:10px;
padding-bottom:5px;
color:#608300;
font-size:81.25%;
line-height:1;
background:url(/assets/investment/first/images/hdg-bdr-bg-01.gif.gif) repeat-x bottom;
}

body.category-investment-first h4.hdg-l4-01 span{
padding-left:10px;
background:url(/assets/investment/first/images/hdg-mark-bg-01.gif) no-repeat center left;
}

body.category-investment-first .box-01-container{
margin:0 auto 20px auto;
padding-top:26px;
width:634px;
background:url(/assets/investment/first/images/paperbox-01-bg-top.jpg) no-repeat top;
}

body.category-investment-first .box-01-inner{
padding:0 23px 35px 23px;
background:url(/assets/investment/first/images/paperbox-01-bg-bottom.jpg) no-repeat bottom;
}

body.category-investment-first .list-definition-first-01 dt{
float:left;
width:80px;
background:url(/assets/investment/first/images/dl-01-bg.gif) no-repeat right center;
}

body.category-investment-first .list-definition-first-01 dt span{
color:#608300;
font-weight:bold;
}

body.category-investment-first .list-definition-first-01 dd{
margin-bottom:5px;
margin-left:80px;
}



/* ----------------------------------------------------------------
	08. assets / first Style
----------------------------------------------------------------- */

div.lyt-category-style-01 div.container-beginner-01{
background:url(/shared/images/contents-mod/container-mdl-bg-01.gif) repeat-y 0% 0%;
margin-bottom:20px;
}
div.lyt-category-style-01 div.container-repeat-01{
background:url(/shared/images/contents-mod/container-top-bg-01.gif) no-repeat 0% 0%;
}
div.lyt-category-style-01 div.container-inner-01{
background:url(/shared/images/contents-mod/container-btm-bg-01.gif) no-repeat 0% 100%;
padding:38px 0;
position:relative;
}
div.lyt-category-style-01 div.container-inner-02{
background:url(/shared/images/contents-mod/container-btm-bg-01.gif) no-repeat 0% 100%;
padding:38px 0 12px 0;
position:relative;
}
div.lyt-category-style-01 ul.list-att-01{
position:absolute;
top:34px;
right:20px;
}
div.lyt-category-style-01 ul.list-att-01 li{
display:inline;
margin-left:8px;
}

div.lyt-category-style-01 div.beginner-section-01{
margin:0 40px 20px 55px;
width:660px;
}
div.lyt-category-style-01 div.beginner-section-01 div.inner{
width:630px;
margin:0 15px 20px;
}
div.lyt-category-style-01 div.beginner-section-01{
position:relative;
z-index:0;
}
div.lyt-category-style-01 div.beginner-section-02{
width:667px;
margin:0 35px 25px 53px;
}
div.lyt-category-style-01 div.beginner-section-01 div.inner.bdr,
div.lyt-category-style-01 div.beginner-section-02 div.inner.bdr{
background:url(/shared/images/contents-mod/section-bdr-bg-01.gif) repeat-x 0% 100%;
padding-bottom:21px;
}

div#str-main div.lyt-category-style-01 div.beginner-section-01 p.cmt{
margin:0 15px;
width:520px;
}

div#str-main div.lyt-category-style-01 div.box-read-01{
margin-top:-17px;
background:url(/shared/images/contents-mod/read-about-bg-01.gif) no-repeat 0% 0%;
padding:48px 0 0 0;
position:relative;
z-index:10;
}

div#str-main div.lyt-category-style-01 div.box-read-01b{
margin-top:-17px;
background:url(/shared/images/contents-mod/read-about-bg-04.gif) no-repeat 0% 0%;
padding:48px 0 0 0;
position:relative;
z-index:10;
}

div#str-main div.lyt-category-style-01 div.box-read-02{
background:url(/shared/images/contents-mod/read-about-bg-02.gif) no-repeat 0% 0%;
padding:35px 20px 28px 17px;
}

div#str-main div.lyt-category-style-01 div.box-read-03{
background:url(/shared/images/contents-mod/read-about-bg-03.gif) no-repeat 0% 0%;
padding:34px 21px 33px 17px;
}

div#str-main div.lyt-category-style-01 div.box-check-01{
background:url(/shared/images/contents-mod/check-index-top-bg-01.gif) no-repeat 0% 0%;
}

div#str-main div.lyt-category-style-01 div.box-check-01 div.box-check-inner{
background:url(/shared/images/contents-mod/check-index-btm-bg-01.gif) no-repeat 0% 100%;
width:570px;
padding:14px 30px;
}

div#str-main div.lyt-category-style-01 div.box-check-02{
background:url(/shared/images/contents-mod/check-index-top-bg-02.gif) no-repeat 0% 0%;
}

div#str-main div.lyt-category-style-01 div.box-check-02 div.box-check-inner{
background:url(/shared/images/contents-mod/check-index-btm-bg-02.gif) no-repeat 0% 100%;
width:690px;
padding:14px 30px;
}

div#str-main div.lyt-category-style-01 div.hdg-l2-beginner-01{
margin-bottom:20px;
padding-bottom:6px;
border-bottom:solid 2px #ff9000;
}

div#str-main div.lyt-category-style-01 div.hdg-l2-beginner-02{
background:url(/shared/images/contents-mod/hdg-l2-beginner-index-bg-02.gif) no-repeat bottom left;
width:588px;
height:47px;
margin:0 auto;
margin-bottom:20px;
padding-top:15px;
}

div#str-main div.lyt-category-style-01 div.hdg-l2-beginner-02 span{
display:block;
padding:10px 0 0 40px;
}

div#str-main div.lyt-category-style-01 div.box-read-02 div.hdg-l2-beginner-01{
margin-bottom:15px;
}

div#str-main div.lyt-category-style-01 div.hdg-l3-beginner-01{
margin-bottom:20px;
}

div#str-main div.lyt-category-style-01 div.hdg-l4-beginner-01{
background:url(/shared/images/heading/hdg-l4-beginner-index-bg-01.gif) no-repeat 0% 100%;
position:relative;
border-top:solid 1px #cfcfcf;
}

div#str-main div.lyt-category-style-01 div.hdg-l4-beginner-02{
background:url(/shared/images/heading/hdg-l4-beginner-index-bg-02.gif) no-repeat 0% 100%;
position:relative;
border-top:solid 1px #cfcfcf;
}

div#str-main div.lyt-category-style-01 div.hdg-l4-circle-01{
background:url(/shared/images/contents-mod/hdg-l4-circle-index-bg-01.gif) repeat-x bottom left;
padding-bottom:9px;
margin-bottom:12px;
position:relative;
}

div#str-main div.lyt-category-style-01 div.hdg-l4-circle-02{
background:url(/shared/images/contents-mod/hdg-l4-circle-index-bg-02.gif) no-repeat center left;
padding-left:15px;
color:#5a8700;
font-size:0.8em;
margin-bottom:5px;
}

div#str-main div.lyt-category-style-01 div.hdg-l4-beginner-01 p.icon-check-01,
div#str-main div.lyt-category-style-01 div.hdg-l4-beginner-02 p.icon-check-01{
position:absolute;
top:-7px;
left:5px;
}

div#str-main div.lyt-category-style-01 div.hdg-l4-beginner-01 h3,
div#str-main div.lyt-category-style-01 div.hdg-l4-beginner-02 h3,
div#str-main div.lyt-category-style-01 div.hdg-l4-beginner-01 h4,
div#str-main div.lyt-category-style-01 div.hdg-l4-beginner-02 h4{
padding:10px 0 10px 95px;
}

div#str-main div.lyt-category-style-01 div.box-read-01 p.read-01{
margin:0 0 30px 34px;
}

div#str-main div.lyt-category-style-01 div.box-read-01b p.read-01{
margin:0 0 30px 34px;
}

div#str-main div.lyt-category-style-01 div.box-read-02 p.read-02{
margin-bottom:20px;
}
div#str-main div.lyt-category-style-01 div.box-read-02 p.read-03{
margin-bottom:0;
}
div#str-main div.lyt-category-style-01 div.box-read-03 p.read-01{
margin-bottom:27px;
}
div#str-main div.lyt-category-style-01 div.box-read-03 p.read-02{
margin-bottom:0;
}

div.lyt-category-style-01 div.space05{
margin:0 5px;
}

div#str-main div.lyt-category-style-01 ul.list-txt-01 li {
margin-bottom:4px;
padding-left:0.75em;
position:relative;
}

div#str-main div.lyt-category-style-01 ul.list-txt-01 li span {
left:0;
position:absolute;
top:0;
}

div#str-main div.lyt-category-style-01 ul.list-txt-02 li {
margin-bottom:4px;
padding-left:1.25em;
position:relative;
}

div#str-main div.lyt-category-style-01 ul.list-txt-02 li span {
left:0;
position:absolute;
top:0;
}

div#str-main div.lyt-category-style-01 div.box-cap-01{
color:#6b4b00;
border:1px solid #e2d79e;
padding:10px 10px 0 10px;
margin-bottom:16px;
}

div#str-main div.lyt-category-style-01 div.box-cap-01 p{
margin-bottom:10px;
}

div#str-main div.lyt-category-style-01 p.products_name{
background-color:#f4e5bc;
font-weight:bold;
padding:5px 10px;
margin-bottom:5px;
}

div#str-main div.lyt-category-style-01 ul.list-txt-03{
padding:0 10px;
margin-bottom:0;
}

div#str-main div.lyt-category-style-01 ul.list-txt-03 li{
background:url(/shared/images/contents-mod/icon-bullet-04.gif) no-repeat 0 0.35em;
display:inline;
padding-left:12px;
margin-right:15px;
margin-bottom:3px;
}

div#str-main div.lyt-category-style-01 ul.list-txt-04{
padding:0 10px;
}

div#str-main div.lyt-category-style-01 ul.list-txt-04 li {
margin-bottom:4px;
padding-left:1.0em;
background:url(/shared/images/contents-mod/icon-bullet-04.gif) no-repeat 0 0.35em;
}



/* lower */

div.lyt-category-style-01 h4.hdg-l4-01{
margin-bottom:10px;
padding-bottom:5px;
color:#608300;
font-size:81.25%;
line-height:1;
background:url(/shared/images/contents-mod/hdg-bdr-bg-01.gif.gif) repeat-x bottom;
}

div.lyt-category-style-01 h4.hdg-l4-01 span{
padding-left:10px;
background:url(/shared/images/contents-mod/hdg-mark-bg-01.gif) no-repeat center left;
}

div.lyt-category-style-01 .box-01-container{
padding-top:0;
margin:0 auto 20px auto;
width:634px;
background:url(/shared/images/contents-mod/paperbox-02-bg-middle.gif) repeat-y top;
}

div.lyt-category-style-01 .box-01-inner{
padding:0;
padding-top:22px;
background:url(/shared/images/contents-mod/paperbox-02-bg-top.gif) no-repeat top;
}

div.lyt-category-style-01 .box-01-inner-in{
padding:0 23px 35px 23px;
background:url(/shared/images/contents-mod/paperbox-02-bg-bottom.gif) no-repeat bottom;
}

div.lyt-category-style-01 .table-subject-01 th{
padding-right:0.75em;
background:url(/shared/images/contents-mod/dl-01-bg.gif) no-repeat right center;
color:#608300;
font-weight:bold;
}

div.lyt-category-style-01 .table-subject-01 td{
margin-bottom:5px;
margin-left:7em;
}

div.lyt-category-style-01 ul.list-notice-01.cap{
color:#ee0000;
}


/* ----------------------------------------------------------------
	09. div.box-tohoku
----------------------------------------------------------------- */

div.box-tohoku strong a:link{
color:#c11700;
}

div.box-tohoku strong a:visited{
color:#c11700;
text-decoration:underline;
}

/* ----------------------------------------------------------------
	10. div.mainvisual-container
----------------------------------------------------------------- */
div.mainvisual-container {
position:relative;
}

div.mainvisual-container p.supplement {
margin: 0;
position: absolute;
right: 15px;
top: 15px;
}