@charset "UTF-8";

/* ----------------------------------------------------------------
*	01. common
*	02. str-header
*	03. str-aside
*	04. str-main
*	05. box-promotion
----------------------------------------------------------------- */

/* ----------------------------------------------------------------
01. common
----------------------------------------------------------------- */
body#top div#str-main,
body#top div#str-aside{
padding-top:5px;
}

div#str-aside ul.list-code{font-size:75%;}

body#top div.ad-bnr-top{
margin:0 0 5px;
}

body#top .doc-align-c{
text-align:center;
}
body#top .doc-align-r{
text-align:right;
}

body#top div#str-main a:link,
body#top div#str-main a:visited,
body#top div#str-aside a:link,
body#top div#str-aside a:visited{
text-decoration:none;
}
body#top div#str-main a:active,
body#top div#str-main a:hover,
body#top div#str-main a:focus,
body#top div#str-aside a:active,
body#top div#str-aside a:hover,
body#top div#str-aside a:focus{
text-decoration:underline;
}

body#top div#str-main .nav-pagetop a:link,
body#top div#str-main .nav-pagetop a:visited{
text-decoration:underline;
}
body#top div#str-main .nav-pagetop a:active,
body#top div#str-main .nav-pagetop a:hover,
body#top div#str-main .nav-pagetop a:focus{
text-decoration:none;
}

/* ---------------------------------
	icon-01
 -------------------------------- */
div#str-main img.icon-01,
div#str-aside img.icon-01,
div#str-main h2 img.icon-01{
vertical-align: text-bottom;
}

/* ----------------------------------------------------------------
02. str-header
----------------------------------------------------------------- */

/* ---------------------------------
nav-service
-------------------------------- */
body#top #str-header{
padding-left:200px;
overflow:visible;
}

body#top #str-header .nav-service{
position:absolute;
top:25px;
left:225px;
z-index:10;
font-size:81.25%;
}

body#top #str-header .nav-service dl dt{
border:1px #ccc solid;
width:175px;
}
body#top #str-header .nav-service dl dt a{
padding:5px 5px 3px 20px;
display:block;
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat 10px 0.85em;
}

body#top #str-header .nav-service dl dd{
margin-top:-1px;
padding:10px 0 0 15px;
border:1px #ccc solid;
display:none;
background-color:#f4f4f4;
}

body#top #str-header .nav-service dl dd a:link,
body#top #str-header .nav-service dl dd a:visited{
text-decoration:none;
}
body#top #str-header .nav-service dl dd a:active,
body#top #str-header .nav-service dl dd a:hover,
body#top #str-header .nav-service dl dd a:focus{
text-decoration:underline;
}

body#top #str-header .nav-service dl dd .hdg{
margin-bottom:5px;
padding:0 0 4px;
border-bottom:2px #ccc solid;
}

body#top #str-header .nav-service dl dd .col-2{
width:500px;
overflow:hidden;
}

body#top #str-header .nav-service dl dd .col-2 .segment{
padding-right:15px;
float:left;
width:235px;
}

body#top #str-header .nav-service .list-link-inline-top-01{
margin-bottom:15px;
}
body#top #str-header .nav-service .list-link-inline-top-01 li{
margin:0 6px 0 0;
padding-left:10px;
border-left:1px #adadad solid;
display:inline;
line-height:1.65;
}
body#top #str-header .nav-service .list-link-inline-top-01 li.first-child{
padding-left:0;
border-left:none;
}

body#top #str-header .nav-service .list-link-inline-top-04{
margin-bottom:2px;
padding-bottom:0;
}
body#top #str-header .nav-service .list-link-inline-top-04 li{
margin-right:20px; 
padding-left:10px;
display:inline;
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat 0 0.3em;
}

body#top #str-header .nav-service .list-link-top-04 li{
margin-bottom:2px;
padding:0 0 0 10px;
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat 0 0.4em;
}

/* ---------------------------------
nav-global
-------------------------------- */
body#top #nav-global dl.nav-section ul li.business{
padding:10px 0 0;
position:absolute;
top:-3px;
right:0;
width:98px;
text-align:right;
}
body#top #nav-global dl.nav-section ul li.business img.gpa{
position:absolute;
top:0;
right:0;
display:block;
}



/* ----------------------------------------------------------------
03. str-aside
----------------------------------------------------------------- */
/* ---------------------------------
list-code
-------------------------------- */
body#top div#str-aside ul.list-code{
  margin-bottom: 0.4em;
}


/* ---------------------------------
font-control-top
-------------------------------- */
body#top #str-aside #font-control-top{
padding:3px 10px;
border:1px #ccc solid;
}

body#top #str-aside #font-control-top dl{
margin-bottom:0;
padding-left:87px;
position:relative;
}

body#top #str-aside #font-control-top dl dt{
position:absolute;
top:5px;
left:8px;
}
body#top #str-aside #font-control-top dl dt img{ vertical-align:top;}

body#top #str-aside #font-control-top ul{
margin-bottom:0;
}
body#top #str-aside #font-control-top ul li{
display:inline;
}


/* ---------------------------------
list-bnr-01
-------------------------------- */
body#top div#str-aside ul.list-bnr-01 li{
margin-top: 4px;
}


/* ---------------------------------
box-01
-------------------------------- */
body#top #str-aside .box-01{
padding:5px;
background-color:#f4f4f4;
}

/* ---------------------------------
box-02
-------------------------------- */
body#top #str-aside .box-02{
margin-bottom:5px;
border:1px #dcdcdc solid;
padding:9px;
background-color:#fff;
position:relative;
}

body#top #str-aside .box-02 .hdg{
margin-bottom:10px;
padding-left:10px;
border-left:3px #fbaf1b solid;
}

body#top #str-aside .box-02 .hdg-02{
position: absolute;
top:-1px;
left:-1px;
}

/* ---------------------------------
box-02.facebook
-------------------------------- */
body#top #str-aside .box-02.facebook{
margin-bottom:0;
}

/* ---------------------------------
list-login-top
-------------------------------- */
body#top #str-aside .list-login-top{
margin-bottom:0;
z-index:0;
position:relative;
}
body#top #str-aside .list-login-top li{
margin-bottom:7px;
}

body#top #str-aside .list-login-top li a.login  {
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat 0 -812px;
display:block;
height:78px;
width:171px;
text-decoration:none;
overflow:hidden;
}
body#top #str-aside .list-login-top li a.login:hover  {
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat 0 -900px;
}
body#top #str-aside .list-login-top li a.account  {
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat 0 -988px;
display:block;
height:58px;
width:171px;
text-decoration:none;
overflow:hidden;
}
body#top #str-aside .list-login-top li a.account:hover  {
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat 0 -1056px;
}
body#top #str-aside .list-login-top li a span{
position:relative;
z-index:-1;
}

/* ---------------------------------
ad-text
-------------------------------- */
body#top #str-aside .ad-text{
font-size:84.62%;
}

/* ---------------------------------
social-media
-------------------------------- */
body#top #str-aside .social-media{
padding-top:5px;
/*border-top:1px #ccc solid;*/
}
body#top #str-aside .social-media p.doc-align-r{
text-align:left;
}
body#top #str-aside .social-media p.doc-align-r span{
font-size:92.3% !important;
}
body#top #str-aside .social-media p.doc-align-r iframe{
margin-bottom:5px;
}
body#top #str-aside .social-media p.doc-align-r iframe.twitter-share-button{
margin-top:5px;
}

/* ---------------------------------
box-carousel-01
-------------------------------- */
body#top #str-aside .box-carousel-01{
width:150px;
overflow:hidden;
padding-top:15px;
}

body#top #str-aside .box-carousel-01 .image{
margin-bottom:6px;
width:150px;
height:189px;
overflow:hidden;
position:relative;
}

body#top #str-aside .box-carousel-01 .image li{
position:absolute;
top:0;
left:0;
z-index:0;
visibility:hidden;
}

body#top #str-aside .box-carousel-01 .image .active{
z-index:1;
visibility:visible;
}

body#top #str-aside .box-carousel-01 .image .beforeInactive{
visibility:visible;
}

body#top #str-aside .box-carousel-01 .image a,
body#top #str-aside .box-carousel-01 .image img{
display:block;
}

body#top #str-aside .box-carousel-01 .nav{
margin-bottom:0;
line-height:1;
text-align:center;
display:block;
}

body#top #str-aside .box-carousel-01 .nav li,
body#top #str-aside .box-carousel-01 .nav a{
display:inline-block;
}
*:first-child+html body#top #str-aside .box-carousel-01 .nav li,
*:first-child+html body#top #str-aside .box-carousel-01 .nav a{
display:inline;
zoom:1;
}
* html body#top #str-aside .box-carousel-01 .nav li,
* html body#top #str-aside .box-carousel-01 .nav a{
display:inline;
zoom:1;
}

body#top #str-aside .box-carousel-01 .nav a{
width:24px;
height:16px;
position:relative;
overflow:hidden;
}
body#top #str-aside .box-carousel-01 .nav a:hover{
text-decoration:none;
}

body#top #str-aside .box-carousel-01 .nav .icon{
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
z-index:1;
overflow:hidden;
background:#fff url("/shared/top/images/str-aside/box-carousel-btn-01.gif") 50% 50% no-repeat;
cursor:pointer;
}

body#top #str-aside .box-carousel-01 .nav .active .icon{
background-image:url("/shared/top/images/str-aside/box-carousel-btn-02.gif");
}


/* ---------------------------------
doc-link-top-01
-------------------------------- */
body#top #str-aside .doc-link-top-01 a{
padding-left:10px;
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat 0 0.3em;
text-decoration:none;
}

/* ---------------------------------
doc-link-top-02
-------------------------------- */
body#top #str-aside .doc-link-top-02{
padding-left:15px;
padding:3px 0;
background:#FFF;
}
body#top #str-aside .doc-link-top-02 a{
padding-left:20px;
background:url("/shared/top/images/str-main/arrow-03.gif") no-repeat 0.3em 0.1em;
text-decoration:none;
color:#519713;
font-weight:bold;
}

/* ---------------------------------
doc-link-top-03
-------------------------------- */
body#top #str-aside .doc-link-top-03{
padding:3px 0 5px 0;
}
body#top #str-aside .doc-link-top-03 a{
padding-left:20px;
padding-bottom:3px;
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat 0 -726px;
font-weight:bold;
}

/* ---------------------------------
doc-link-top-03.experience
-------------------------------- */
body#top #str-aside .doc-link-top-03.experience{
padding:3px 0 10px 0;
}
body#top #str-aside .doc-link-top-03.experience a{
padding-left:20px;
padding-bottom:3px;
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat 0 -2033px;
font-weight:bold;
}


/* ---------------------------------
list-line-01
-------------------------------- */
.list-line-01{
border-bottom:1px solid #ccc;
}

/* ---------------------------------
list-link-top-01
-------------------------------- */
body#top #str-aside .list-link-top-01{
margin:0;
border-top:1px #ccc dotted;
}
body#top #str-aside .list-link-top-01 li{
padding:3px 10px 3px 22px;
border-bottom:1px #ccc dotted;
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat 0.35em -94px;
}
body#top #str-aside .list-link-top-01 li a{
color:#333;
font-weight:bold;
}
body#top #str-aside .list-link-top-01 li a:active,
body#top #str-aside .list-link-top-01 li a:hover{
text-decoration:none;
}

/* ---------------------------------
list-link-top-02
-------------------------------- */
body#top #str-aside .list-link-top-02{
margin-right:-2px;
overflow:hidden;
}
body#top #str-aside .list-link-top-02 li{
margin:0 2px 2px 0;
float:left;
width:84px;
}

/* ---------------------------------
list-link-top-03
-------------------------------- */
body#top #str-aside .list-link-top-03 li{
margin-bottom: 0.35em;
padding-left: 10px;
background:url("/shared/top/images/str-main/arrow-01.gif") no-repeat 0 0.45em;
overflow: hidden;
position: relative;
z-index: 100;
}

/* ---------------------------------
list-image-top-01
-------------------------------- */
.list-image-top-01 li{
margin:0 5px;
display:inline;
}

/* ---------------------------------
form-word-search
-------------------------------- */
body#top #str-aside .form-word-search{
margin-bottom:2px;
padding:3px 0 7px;
/*border-bottom:1px #ccc dotted;*/
}
body#top #str-aside .form-word-search legend{
margin-bottom:5px;
display:block;
font-weight:bold;
color:#363636;
}
body#top #str-aside .form-word-search p{margin-bottom:0;}
body#top #str-aside .form-word-search input.form-text-01{
margin:0;
padding:2px 2px 3px;
border-color:#ccc;
width:102px;
background:none;
}



/* ----------------------------------------------------------------
04. str-main
----------------------------------------------------------------- */

/* ---------------------------------
hdg-l2-top
-------------------------------- */
body#top #str-main .hdg-l2-top{
margin-bottom:15px;
padding:7px 15px;
border-top:2px #fbaf1b solid;
color:#fff;
background-color:#4a4a4a;
font-size:87.5%;
}

body#top #str-main .hdg-l2-top-container{
padding-right:3.8em;
border-top:2px #fbaf1b solid;
position:relative;
background-color:#4a4a4a;
}
body#top #str-main .hdg-l2-top-container .hdg-l2-top{
border-top:none;
}
body#top #str-main .hdg-l2-top-container p{
margin-bottom:0;
position:absolute;
top:9px;
right:10px;
font-size:13px;
}
body#top #str-main .hdg-l2-top-container p a{
color:#fff;
}
body#top #str-main .hdg-l2-top-container p.more{
padding-left:10px;
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat 0 0.4em;
}
body#top #str-main .hdg-l2-top-container p.btn-business{
top:6px;
}

body#top #str-main .hdg-l2-top-container p.link-business{
top:8px;
}


/* ---------------------------------
hdg-l3-top
-------------------------------- */
body#top #str-main .hdg-l3-top{
margin-bottom:5px;
padding:0 0 4px;
border-bottom:2px #ccc solid;
font-size:81.25%;
}

/* ---------------------------------
hdg-l4-top
-------------------------------- */
body#top #str-main .hdg-l4-top{
margin-bottom:10px;
font-size:81.25%;
}
body#top #str-main .hdg-l4-top-container{
padding-right:50px;
position:relative; 
}
body#top #str-main .hdg-l4-top-container p.image{
margin-bottom:0;
position:absolute;
top:-4px;
right:10px;
}

/* ---------------------------------
hdg-l5-top
-------------------------------- */
body#top #str-main .hdg-l5-top{
margin-bottom:5px;
font-size:81.25%;
}


/* ---------------------------------
list-important-top
-------------------------------- */
body#top #str-main .list-important-top{
margin-bottom:8px;
}
body#top #str-main .list-important-top li{
padding:5px 0 5px 35px;
background:url("/shared/top/images/str-main/icon-important.gif") no-repeat 0 2px;
}


/* ---------------------------------
list-link-top-01
-------------------------------- */
body#top #str-main .list-link-top-01 li{
margin-bottom:7px;
padding-bottom:7px;
border-bottom:1px #ccc dotted;
}
body#top #str-main .list-link-top-01 li a{
padding-left:10px;
display:block;
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat 0 0.45em;
}
body#top #str-main .list-link-top-01 li span.time{
padding-left:10px;
font-size:	92.3%;
}
body#top #str-main .list-link-top-01 li span.new{
color:#cb0300;
}
body#top #str-main .list-link-top-01 li strong{
padding:2px 1px 0 2px;
color:#fff;
background-color:#cb0300;
font-size:	84.6%;
font-weight:normal;
}

body#top #str-main .list-link-top-01 li p.caption{
margin-bottom:0;
padding-left:10px;
color:#707070;
font-size:	92.3%;
}

/* ---------------------------------
list-link-top-01.branch-01
-------------------------------- */
body#top #str-main .list-link-top-01.branch-01 li{
padding-bottom:0;
border-bottom:none;
}

/* ---------------------------------
list-link-top-02
-------------------------------- */
body#top #str-main .list-link-top-02{
overflow:hidden;
}

body#top #str-main .list-link-top-02 li{
padding-right:30px;
float:left;
width:132px;
font-size:	92.3%; 
}

body#top #str-main .list-link-top-02 li .caption-01{
display:block;
}

/* ---------------------------------
list-link-top-03
-------------------------------- */
body#top #str-main .list-link-top-03{
overflow:hidden;
}
body#top #str-main .list-link-top-03 li{
margin-bottom:5px;
padding:0 2% 0 10px;
float:left;
width:45%;
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat 0 0.45em;
}


/* ---------------------------------
list-link-top-04
-------------------------------- */
body#top #str-main .list-link-top-04 li{
margin-bottom:2px;
padding:0 0 0 10px;
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat 0 0.4em;
}


/* ---------------------------------
list-link-inline-top-01
-------------------------------- */
body#top #str-main .list-link-inline-top-01 li{
margin:0 6px 0 0;
padding-left:10px;
border-left:1px #adadad solid;
display:inline;
line-height:1.85;
}
body#top #str-main .list-link-inline-top-01 li.first-child{
padding-left:0;
border-left:none;
}


/* ---------------------------------
list-link-inline-top-02
-------------------------------- */
body#top #str-main .list-link-inline-top-02 li{
margin:0 4px 0 0;
padding-left:8px;
border-left:1px #adadad solid;
display:inline;
line-height:1.75;
font-size:	92.3%; 
}
body#top #str-main .list-link-inline-top-02 li.first-child{
padding-left:0;
border-left:none;
}


/* ---------------------------------
list-link-inline-top-03
-------------------------------- */
body#top #str-main .list-link-inline-top-03 li{
margin-right:20px; 
padding-left:10px;
display:inline;
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat 0 0.4em;
}

/* ---------------------------------
list-link-inline-top-04
-------------------------------- */
body#top #str-main .list-link-inline-top-04{
margin-bottom:2px;
padding-bottom:0;
}
body#top #str-main .list-link-inline-top-04 li{
margin-right:20px; 
padding-left:10px;
display:inline;
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat 0 0.3em;
}


/* ---------------------------------
business-arrow
-------------------------------- */
body#top #str-main ul.business li{
background:url("/shared/top/images/str-main/arrow-04.gif") no-repeat 0 0.4em !important;
}


/* ---------------------------------
list-image-top-01
-------------------------------- */
body#top #str-main .list-image-top-01 li{
margin:0 -10px;
display:inline;
}

/* ---------------------------------
tbl-definition-top-01
-------------------------------- */
body#top #str-main .tbl-definition-top-01{
width:100%;
font-size:	68.8%;
}
body#top #str-main .tbl-definition-top-01 th{
padding:10px 10px 7px;
color:#fff;
background-color:#325c72;
font-weight:normal;
}
body#top #str-main .tbl-definition-top-01 th em{
color:#fbaf1b;
font-weight:normal;
}
body#top #str-main .tbl-definition-top-01 td{
padding:10px 10px 7px;
background-color:#e8eef2;
}

/* ---------------------------------
tbl-definition-top-02
-------------------------------- */
body#top #str-main .tbl-definition-top-02{
width:100%;
font-size:	75%;
}
body#top #str-main .tbl-definition-top-02 th{
padding:0.45em 0;
border-bottom:1px #ccc dotted;
vertical-align:top;
width:5em;
font-weight:normal;
}
body#top #str-main .tbl-definition-top-02 td{
padding:0.45em 0 0.45em 4px;
border-bottom:1px #ccc dotted;
}
body#top #str-main .tbl-definition-top-02 td a{
padding-left:10px;
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat 0 0.35em;
}


/* ---------------------------------
box-top
-------------------------------- */
body#top #str-main .box-top{
margin-bottom:16px;
padding:5px 10px;
background-color:#f4f4f4;
}


/* ---------------------------------
box-csr-top
-------------------------------- */
body#top #str-main .box-csr-top{
margin-bottom:10px;
border-bottom:1px #ccc solid;
background-color:#f4f4f4;
}
body#top #str-main .box-csr-top .section-01{
padding-bottom:5px;
border-bottom:1px #fff solid;
}
body#top #str-main .box-csr-top .hdg-l2-top-container{
border-color:#ca0300;
background-color:#e5e5e5;
}
body#top #str-main .box-csr-top .hdg-l2-top-container a{color:#296185;}
body#top #str-main .box-csr-top .hdg-l2-top{
padding:2px 10px;
color:#333;
background-color:#e5e5e5;
font-size:123.1%;
}
body#top #str-main .box-csr-top .list-link-top-03{
margin-bottom:5px;
font-size:75%;
}


/* ---------------------------------
box-charity-top
-------------------------------- */
body#top #str-main .box-charity-top{
padding-left:50px;
position:relative;
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat 0 -429px;
}
body#top #str-main .box-charity-top .hdg{
margin-bottom:0
padding-left:7px;
font-size:81.25%;
}
body#top #str-main .box-charity-top .hdg a{
padding-left:15px;
color:#333;
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat 0 -97px;
}
body#top #str-main .box-charity-top p{
font-size:75%;
}

body#top #str-main .box-charity-top p.sum{
margin-bottom:0;
font-size:153.8%;
font-weight:bold;
}
body#top #str-main .box-charity-top p.sum em{
color:#ca0300;
}

/* ---------------------------------
box-service-group-top
-------------------------------- */
body#top #str-main .box-service-group-top{
margin-bottom:10px;
background-color:#f4f4f4;
}
body#top #str-main .box-service-group-top .hdg-l3-top-container{
background-color:#e5e5e5;
border-top: solid 2px #1B7DD8;
}
body#top #str-main .box-service-group-top .hdg-l3-top{
border-bottom:none;
margin-bottom:0;
padding:5px 10px;
}
body#top #str-main .box-service-group-top ul{
padding:10px;
font-size:68.8%;
margin-bottom:0;
}

/* ---------------------------------
section-01
-------------------------------- */
body#top #str-main .section-01{
padding:0 10px;
}


/* ---------------------------------
lyt-col.col-2
-------------------------------- */
body#top #str-main .section-01 .col-2{
margin-right:-26px;
}
body#top #str-main .section-01 .col-2 .segment{
margin-right:26px;
width:352px;
}

body#top #str-main .section-01 .col-2 .wide{
width:370px;
}

body#top #str-main .section-01 .col-2 .narrow{
width:334px;
}


/* ---------------------------------
lyt-col.col-3
-------------------------------- */
body#top #str-main .section-01 .col-3{
margin-right:-20px;
}
body#top #str-main .section-01 .col-3 .segment{
margin-right:20px;
width:230px;
}


/* ---------------------------------
lyt-col-full
-------------------------------- */
body#top #str-main .lyt-col-full{
margin-right:-26px;
}
body#top #str-main .lyt-col-full .segment{
margin-right:26px;
width:362px;
}


/* ---------------------------------
service-info
-------------------------------- */
body#top #str-main .service-info .bnr-service{
margin:0 auto 10px;
width:180px;
}
body#top #str-main .service-info .bnr-service li{
margin-bottom:10px
}

body#top #str-main .service-info .personal .lyt-col{
margin-right:-16px;
}
body#top #str-main .service-info .personal .lyt-col .segment{
margin-right:16px;
}
body#top #str-main .service-info .personal .lyt-col .wide{
width:534px;
}
body#top #str-main .service-info .personal .lyt-col .narrow{
width:180px;
}
body#top #str-main .service-info .personal .lyt-col .wide .lyt-col .segment{
width:259px;
}

body#top #str-main .service-info .personal .lyt-col .wide-02{
width:494px;
}
body#top #str-main .service-info .personal .lyt-col .narrow-02{
width:220px;
}
body#top #str-main .service-info .personal .lyt-col .wide-02 .lyt-col .segment{
width:239px;
}

/* -----
business
----- */
body#top #str-main .service-info .business .lyt-col{
margin-right:-16px;
}
body#top #str-main .service-info .business .lyt-col .segment{
margin-right:16px;
width:259px;
}
body#top #str-main .service-info .business .lyt-col .narrow{
width:180px;
}


/* ---------------------------------
service-info.tabContainer
-------------------------------- */
body#top #str-main .service-info .tabList{
padding:0 15px;
border-bottom:2px #4a4a4a solid;
background-color:#f4f4f4;
text-align:center;
}
body#top #str-main .service-info .tabList li{
display:inline-block;
}
body#top #str-main .service-info .tabList li a{
padding:8px 5px 5px;
display:block;
color:#333;
width:345px;
font-weight:bold;
text-align:center;
}
body#top #str-main .service-info .tabList li a:active,
body#top #str-main .service-info .tabList li a:hover,
body#top #str-main .service-info .tabList li a:focus{
text-decoration:none;
}

/* 選択時 */
body#top #str-main .service-info .tabList li.active a{
color:#fff;
background-color:#4a4a4a;
}
body#top #str-main .service-info .tabList li.active a span{
background-image:none;
}

/* 非アクティブ タブパネル 非表示 */
body#top #str-main .tabContainer .tabPanel{
display:none;
}
/* アクティブ タブパネル 表示 */
body#top #str-main .tabContainer .tabPanel.active{
display:block;
}
/* JavaScript OFF */
.tabContainer .static .tabPanel{
display:block;
}


/* ---------------------------------
toggle-container
-------------------------------- */
body#top #str-main .toggle-container .hdg-l2-top-container{
padding-right:95px;
background-color:#f4f4f4;
}
body#top #str-main .toggle-container .hdg-l2-top-container a{
color:#333;
}
body#top #str-main .toggle-container .hdg-l2-top-container .toggle-control{
width:6.154em; /* (16px * 5em) / 13px */
top:0;
right:0;
background:url("/shared/top/images/str-main/toggle-btn-01.gif") no-repeat 8px 50%;
}
body#top #str-main .toggle-container-open .hdg-l2-top-container .toggle-control{
background-image:url("/shared/top/images/str-main/toggle-btn-02.gif");
}

body#top #str-main .toggle-container .hdg-l2-top-container .toggle-control-button{
padding:7px 10px 7px 31px;
display:block;
line-height:1.56; /* (1.45 * 14px) / 13px */
}


/* ---------------------------------
aside-service
-------------------------------- */
body#top #str-main .aside-service{
margin:0 0 20px 0;
border-bottom:3px #ccc solid;
}
body#top #str-main .aside-service .wide{
padding-top:10px;
border-top:3px #ccc solid;
width:430px
}

body#top #str-main .aside-service .narrow{
margin-right:0;
padding-top:10px;
border-top:3px #ccc solid;
width:294px;
}



/* ---------------------------------
area-bnr
-------------------------------- */
body#top div#str-main .area-bnr {
	position:relative;
	margin:0 0 20px;
	padding:5px 0;
	background:#F4F4F4;
	text-align:center;
}

body#top div#str-main .area-bnr-inner {
width:692px;
margin:0 auto !important;
position:relative;
overflow:hidden;
text-align:left;
}

body#top div#str-main .area-bnr ul {
margin:0;
}

body#top div#str-main .area-bnr ul li {
	float:left;
	width:170px;
	min-height:50px;
}

body#top div#str-main .area-bnr ul li img {
}

body#top div#str-main .area-bnr p.arwL {
position:absolute;
top:5px;
bottom:5px;
left:4px;
width:10px;
height:50px;
}
body#top div#str-main .area-bnr p.arwL a {
display:block;
width:10px;
height:50px;
background:#F4F4F4 url("/shared/top/images/str-main/img-parts-01.png") no-repeat 0 -299px;
text-indent:100%;
overflow:hidden;
}
body#top div#str-main .area-bnr p.arwR {
position:absolute;
top:5px;
bottom:5px;
right:4px;
width:10px;
height:50px;
}
body#top div#str-main .area-bnr p.arwR a {
display:block;
width:10px;
height:50px;
background:#F4F4F4 url("/shared/top/images/str-main/img-parts-01.png") no-repeat 0 -364px;
text-indent:100%;
overflow:hidden;
}




/* ---------------------------------
main-visual-top
-------------------------------- */
body#top #str-main .main-visual-top{
margin-bottom:10px;
padding-right:178px;
border-width:1px 0 1px 1px;
border-color:#4a4a4a;
border-style:solid;
position:relative;
width:571px;
height:148px;
overflow:hidden;
}

/* バナー画像 */
body#top #str-main .main-visual-top .image{
border-right:1px #4a4a4a solid;
}

body#top #str-main .main-visual-top .image ul{
margin:0;
height:148px;
position:relative;
}

body#top #str-main .main-visual-top .image li{
position:absolute;
top:0;
left:0;
z-index:0;
visibility:hidden;
}

body#top #str-main .main-visual-top .image .active{
z-index:1;
visibility:visible;
}

body#top #str-main .main-visual-top .image .beforeInactive{
visibility:visible;
}

body#top #str-main .main-visual-top .image a,
body#top #str-main .main-visual-top .image img{
display:block;
}

/* テキストリンク */
body#top #str-main .main-visual-top .nav{
padding:0 5px;
position:absolute;
top:12px;
right:0;
width:168px;
height:124px;
overflow:hidden;
background-color:#f4f4f4;
}
body#top #str-main .main-visual-top .nav ul{
margin-bottom:0;
font-size:	75%;
}
body#top #str-main .main-visual-top .nav ul li{
margin-bottom:5px;
padding-left:5px;
line-height:1.25;
background:url("/shared/top/images/str-main/main-visual-arrow-02.gif") no-repeat 0 50%;
}
body#top #str-main .main-visual-top .nav ul li a{
padding:2px 5px;
border:2px #f4f4f4 solid;
color:#333;
display:block;
height:30px;
overflow:hidden;
font-weight:bold;
}
body#top #str-main .main-visual-top .nav ul li a:active,
body#top #str-main .main-visual-top .nav ul li a:hover,
body#top #str-main .main-visual-top .nav ul li a:focus{
text-decoration:none;
}

/* アクティブ時 */
body#top #str-main .main-visual-top .nav ul li.active a{
border-color:#fbaf1b;
}

/* 1行用フック */
body#top #str-main .main-visual-top .nav ul li a span.branch-01{
display:block;
padding-top:8px;
}

/* 上下矢印 */
body#top #str-main .main-visual-top .pager ul{
margin-bottom:0;
}
body#top #str-main .main-visual-top .pager li.prev{
position:absolute;
top:0;
right:0;
}
body#top #str-main .main-visual-top .pager li.prev img{
vertical-align:top;
}
body#top #str-main .main-visual-top .pager li.next{
position:absolute;
bottom:0;
right:0;
}

body#top #str-main .main-visual-top .pager a,
body#top #str-main .main-visual-top .pager img{
display:block;
}


/* ----------------------------------------------------------------
	05. box-promotion
----------------------------------------------------------------- */

body#top div#str-main div.box-promotion,
body#business-top div#str-main div.box-promotion,
body#smallbusiness-top div#str-main div.box-promotion{
margin-bottom:15px;
padding-bottom:36px;
position:relative;
}

body#top div#str-main div.box-promotion div.tabContainer ul.tabList li a,
body#business-top div#str-main div.box-promotion div.tabContainer ul.tabList li a,
body#smallbusiness-top div#str-main div.box-promotion div.tabContainer ul.tabList li a{
outline:none;
}

body#top div#str-main div.box-promotion div.tabContainer ul.auto-tabs li.tabPanel,
body#business-top div#str-main div.box-promotion div.tabContainer ul.auto-tabs li.tabPanel,
body#smallbusiness-top div#str-main div.box-promotion div.tabContainer ul.auto-tabs li.tabPanel{
display:none;
}

body#top div#str-main div.box-promotion div.tabContainer ul.auto-tabs li.active,
body#business-top div#str-main div.box-promotion div.tabContainer ul.auto-tabs li.active,
body#smallbusiness-top div#str-main div.box-promotion div.tabContainer ul.auto-tabs li.active{
display:block;
}

body#top div#str-main div.box-promotion div.tabContainer ul.static li.tabPanel,
body#business-top div#str-main div.box-promotion div.tabContainer ul.static li.tabPanel,
body#smallbusiness-top div#str-main div.box-promotion div.tabContainer ul.static li.tabPanel{
display:block;
}

body#top div#str-main div.box-promotion ul,
body#business-top div#str-main div.box-promotion ul,
body#smallbusiness-top div#str-main div.box-promotion ul{
margin:0;
}

body#top div#str-main div.box-promotion ul.nav-promotion-01,
body#business-top div#str-main div.box-promotion ul.nav-promotion-01,
body#smallbusiness-top div#str-main div.box-promotion ul.nav-promotion-01{
position:absolute;
left:0;
bottom:0;
}

body#top div#str-main div.box-promotion ul.nav-promotion-01 li,
body#business-top div#str-main div.box-promotion ul.nav-promotion-01 li,
body#smallbusiness-top div#str-main div.box-promotion ul.nav-promotion-01 li{
float:left;
}

body#top div#str-main div.box-promotion ul.nav-promotion-01{
padding-right:4px;
padding-left:2px;
background:url(/shared/images/contents-top/box-promotion-nav-bg-01.gif) no-repeat top left;
}

body#top div#str-main div.box-promotion ul.nav-promotion-01 li{
padding:1px 0 2px 1px;
}

div#str-header #logo-02 {
left: 105px;
position: absolute;
top: 1.25em;
}


/* ----------------------------------------------------------------
	06. css-sprite
----------------------------------------------------------------- */

body#top div#str-main .nav-pagetop a{
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat 0 -1831px !important;
}


body#top #str-aside h3.contact{
z-index:0;
}
body#top #str-aside h3.contact a{
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat 0 -1124px;
display:block;
height:34px;
width:170px;
text-decoration:none;
overflow:hidden;
}
body#top #str-aside h3.contact a span{
position:relative;
z-index:-1;
}


body#top #str-aside ul.list-bnr-01 li.mail,
body#top #str-aside ul.list-bnr-01 li.security{
position:relative;
z-index:0;
}
body#top #str-aside ul.list-bnr-01 li.mail a{
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat 0 -1201px;
display:block;
height:39px;
width:170px;
text-decoration:none;
overflow:hidden;
}
body#top #str-aside ul.list-bnr-01 li.security a{
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat 0 -1250px;
display:block;
height:39px;
width:170px;
text-decoration:none;
overflow:hidden;
}
body#top #str-aside ul.list-bnr-01 li.mail a span,
body#top #str-aside ul.list-bnr-01 li.security a span{
position:relative;
z-index:-1;
}


body#top #str-aside .list-link-top-02 li.interest,
body#top #str-aside .list-link-top-02 li.charge,
body#top #str-aside .list-link-top-02 li.hour,
body#top #str-aside .list-link-top-02 li.atm{
position:relative;
z-index:0;
}
body#top #str-aside .list-link-top-02 li.interest a{
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat 0 -1299px;
display:block;
height:37px;
width:84px;
text-decoration:none;
overflow:hidden;
}
body#top #str-aside .list-link-top-02 li.charge a{
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat 0 -1346px;
display:block;
height:37px;
width:84px;
text-decoration:none;
overflow:hidden;
}
body#top #str-aside .list-link-top-02 li.hour a{
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat 0 -1393px;
display:block;
height:37px;
width:84px;
text-decoration:none;
overflow:hidden;
}
body#top #str-aside .list-link-top-02 li.atm a{
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat 0 -1440px;
display:block;
height:37px;
width:84px;
text-decoration:none;
overflow:hidden;
}
body#top #str-aside .list-link-top-02 li.interest a span,
body#top #str-aside .list-link-top-02 li.charge a span,
body#top #str-aside .list-link-top-02 li.hour a span,
body#top #str-aside .list-link-top-02 li.atm a span{
position:relative;
z-index:-1;
}


body#top .icon-open{
background: url("/shared/top/images/str-main/img-parts-01.png") no-repeat 0 -143px scroll;
display:inline;
height:11px;
width: 13px;
overflow:hidden;
margin-left:2px;
vertical-align: middle;
vertical-align: -webkit-baseline-middle;
}
body#top .icon-open span{
display: inline-block;
float: none;
overflow: hidden;
position: relative;
vertical-align: text-top;
z-index: -1;
width: 13px;
height: 11px;
font-size:68.8%;
padding-left:1px;
}


/*
body#top #str-aside #font-control-top{
z-index:0;
}
body#top #str-aside #font-control-top dt{
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat -65px -528px;
display:block;
height:12px;
width:59px;
text-decoration:none;
overflow:hidden;
z-index:1;
}
body#top #str-aside #font-control-top dt span{
position:relative;
z-index:-1;
}*/



body#top div#str-main div.box-promotion-02{
position:relative;
}

body#top div#str-main div.box-promotion-02 div.main-box{
width:370px;
height:180px;
float:left;
}

body#top div#str-main div.box-promotion-02 div.sub-box{
width:380px;
height:180px;
float:left;
}

body#top div#str-main div.box-promotion-02 div.sub-box ul li{
width:190px;
height:90px;
float:left;
}

/* ----------------------------------------------------------------
	07. ad-bnr-01
----------------------------------------------------------------- */

body#top #pr-bnr-01,
body#business-top #pr-bnr-01,
body#smallbusiness-top #pr-bnr-01{
padding:25px 0 0;
clear:both;
background:url("/shared/top/images/str-main/dot-01-02.gif") repeat-x 0 0;
text-align:center;
}


/* ----------------------------------------------------------------
	2014/01/20 takarakuji
----------------------------------------------------------------- */
body#top #str-main .topics{
margin-bottom:20px;
}
body#top div#str-main div.topics div.wide{
display:inline;
width:430px;
margin-right:16px;
}
body#top #str-main .topics .narrow{
display:inline;
float:left;
width:300px;
border:2px solid #bf0000;
background-color: #fffcdd;
margin-right:0;
}
body#top #str-main div.topics div.icon{
display:inline;
float:left;
width:66px;
}
body#top #str-main div.topics div.item{
display:inline;
float:left;
overflow:hidden;
padding-left:15px;
width:213px;
font-size:115.38%;
font-weight:bold;
}
body#top #str-main div.topics div.icon,
body#top #str-main div.topics div.item{
display:table-cell;
vertical-align:middle;
float:none;
*display:inline;
*zoom:1;
}
body#top #str-main div.topics div.item p{ margin:0; }
body#top #str-main div.topics div.item p span.data{
color:#bf0000;
white-space:nowrap;
}
body#top #str-main div.topics div.item p a:hover span.data{
text-decoration:underline;
}
