@charset "UTF-8";

/* ----------------------------------------------------------------
*	01. body#campaign
*	02. body#business/body#business-top
*	03. body#smallbusiness/body#smallbusiness-top
----------------------------------------------------------------- */

/* ----------------------------------------------------------------
	01. body#campaign
----------------------------------------------------------------- */

/* ---------------------------------
	 hdg-l2
 -------------------------------- */

/* ---------------------------------
	 hdg-l3
 -------------------------------- */


/* ----------------------------------------------------------------
	02. body#business/body#business-top
----------------------------------------------------------------- */

/* ---------------------------------
	 hdg-l1
 -------------------------------- */

 /* Old Style
-------------------------------- */
/*
body#business div#str-main div.hdg-l1-01-container,
body#business-top div#str-main div.hdg-l1-01-container{border-color:#00A1C9;}

body#business div#str-main div.hdg-l1-02-container,
body#business-top div#str-main div.hdg-l1-02-container{border-color:#00A1C9;}
*/

 /* New Style
-------------------------------- */
body#business div#str-main div.hdg-l1-01-container,
body#business-top div#str-main div.hdg-l1-01-container{border-color:#00a1c9;}

body#business div#str-main div.hdg-l1-02-container,
body#business-top div#str-main div.hdg-l1-02-container{border-color:#00a1c9;}

/* ---------------------------------
	 hdg-l2
 -------------------------------- */

 /* Old Style
-------------------------------- */
/*
body#business div#str-main div.hdg-l2-01-container,
body#business-top div#str-main div.hdg-l2-01-container{border-color:#00A1C9;}

body#business div#str-main div.hdg-l2-02-container,
body#business-top div#str-main div.hdg-l2-02-container{border-color:#00A1C9;}

body#business div#str-main div.hdg-l2-03-container,
body#business-top div#str-main div.hdg-l2-03-container{border-color:#00A1C9;}
*/

 /* New Style
-------------------------------- */
body#business div#str-main div.hdg-l2-01-container,
body#business-top div#str-main div.hdg-l2-01-container{border-color:#00a1c9;}

body#business div#str-main div.hdg-l2-02-container,
body#business-top div#str-main div.hdg-l2-02-container{border-color:#00a1c9;}

body#business div#str-main div.hdg-l2-03-container,
body#business-top div#str-main div.hdg-l2-03-container{border-color:#00a1c9;}

/* ---------------------------------
	 hdg-l3
 -------------------------------- */

body#business div#str-main div.hdg-l3-01-container .hdg-l3-01,
body#business-top div#str-main div.hdg-l3-01-container .hdg-l3-01{border-color:#00A1C9;}

/* ---------------------------------
	 hdg-l4
 -------------------------------- */

body#business div#str-main div.hdg-l4-01-container .hdg-l4-01,
body#business-top div#str-main div.hdg-l4-01-container .hdg-l4-01{border-color:#00A1C9;}


/* ----------------------------------------------------------------
	03. body#smallbusiness/body#smallbusiness-top
----------------------------------------------------------------- */

/* ---------------------------------
	 hdg-l1
 -------------------------------- */
 
 /* Old Style
-------------------------------- */
/*
body#smallbusiness div#str-main div.hdg-l1-01-container,
body#smallbusiness-top div#str-main div.hdg-l1-01-container{border-color:#00A833;}

body#smallbusiness div#str-main div.hdg-l1-02-container,
body#smallbusiness-top div#str-main div.hdg-l1-02-container{border-color:#00A833;}
*/

 /* New Style
-------------------------------- */
body#smallbusiness div#str-main div.hdg-l1-01-container,
body#smallbusiness-top div#str-main div.hdg-l1-01-container{border-color:#00a833;}

body#smallbusiness div#str-main div.hdg-l1-02-container,
body#smallbusiness-top div#str-main div.hdg-l1-02-container{border-color:#00a833;}

/* ---------------------------------
	 hdg-l2
 -------------------------------- */

 /* Old Style
-------------------------------- */
/*
body#smallbusiness div#str-main div.hdg-l2-01-container,
body#smallbusiness-top div#str-main div.hdg-l2-01-container{border-color:#00A833;}

body#smallbusiness div#str-main div.hdg-l2-02-container,
body#smallbusiness-top div#str-main div.hdg-l2-02-container{border-color:#00A833;}

body#smallbusiness div#str-main div.hdg-l2-03-container,
body#smallbusiness-top div#str-main div.hdg-l2-03-container{border-color:#00A833;}
*/

 /* New Style
-------------------------------- */
body#smallbusiness div#str-main div.hdg-l2-01-container,
body#smallbusiness-top div#str-main div.hdg-l2-01-container{border-color:#00a833;}

body#smallbusiness div#str-main div.hdg-l2-02-container,
body#smallbusiness-top div#str-main div.hdg-l2-02-container{border-color:#00a833;}

body#smallbusiness div#str-main div.hdg-l2-03-container,
body#smallbusiness-top div#str-main div.hdg-l2-03-container{border-color:#00a833;}

/* ---------------------------------
	 hdg-l3
 -------------------------------- */

body#smallbusiness div#str-main div.hdg-l3-01-container .hdg-l3-01,
body#smallbusiness-top div#str-main div.hdg-l3-01-container .hdg-l3-01{border-color:#00A833;}

/* ---------------------------------
	 hdg-l4
 -------------------------------- */

body#smallbusiness div#str-main div.hdg-l4-01-container .hdg-l4-01,
body#smallbusiness-top div#str-main div.hdg-l4-01-container .hdg-l4-01{border-color:#00A833;}
