@charset "UTF-8";

/* ----------------------------------------------------------------
*	01. Form Text Module
*	02. Form Checkbox Module
*	03. Form Radio Module
*	04. Form Select Module
*	05. Form Textarea Module
*	06. Form Button Module
*	07. Form List Module
*	08. Form width Module
*	09. Form Nav Module
*	10. Form Error Module
*	11. Form Flow Module
*	12. Form Paragraph Module
*	13. Form Box Modules
*	14. Form Module Control
*	15. form-search-fund-01
*	16. form-search-word-01
----------------------------------------------------------------- */

/* ----------------------------------------------------------------
	01. Form Text Module
----------------------------------------------------------------- */

div#str-main form input.form-text-01{
margin:3px 3px 3px 0;
padding:2px;
border:1px #95B2C4 solid;
}

div#str-main form input.preset{
color:#868686;
}


/* ----------------------------------------------------------------
	02. Form Checkbox Module
----------------------------------------------------------------- */

div#str-main form input.form-checkbox-01{
margin:0 0 2px;
padding:0;
vertical-align:middle;
cursor:pointer;
}


/* ----------------------------------------------------------------
	03. Form Radio Module
----------------------------------------------------------------- */

div#str-main form input.form-radio-01{
cursor:pointer;
}

/* ----------------------------------------------------------------
	04. Form Select Module
----------------------------------------------------------------- */

div#str-main form select.form-select-01{
margin:3px 3px 3px 0;
padding:1px;
border:1px #95B2C4 solid;
}

div#str-main form select.form-select-01 option{
padding-right:1.25em;
}


/* ----------------------------------------------------------------
	05. Form Textarea Module
----------------------------------------------------------------- */

div#str-main form textarea.form-textarea-01{
}

div#str-main form textarea.preset{
color:#868686;
}


/* ----------------------------------------------------------------
	06. Form Button Module
----------------------------------------------------------------- */

div#str-main form button.form-reset-01{
}


/* ----------------------------------------------------------------
	07. Form List Module
----------------------------------------------------------------- */

div#str-main form ul.form-list-01 li{
margin-right:15px;
display:inline;
}

div#str-main form ul.form-list-01 li input{
margin:0 0 1px;
cursor:pointer;
}

div#str-main form ul.form-list-01 li label{
padding-left:1px;
}


/* ----------------------------------------------------------------
	08. Form width Module
----------------------------------------------------------------- */

div#str-main form .form-w-50{width:50px;}
div#str-main form .form-w-100{width:100px;}
div#str-main form .form-w-150{width:150px;}
div#str-main form .form-w-200{width:200px;}
div#str-main form .form-w-250{width:250px;}
div#str-main form .form-w-300{width:300px;}
div#str-main form .form-w-350{width:350px;}


/* ----------------------------------------------------------------
	09. Form Nav Module
----------------------------------------------------------------- */

div#str-main div.form-nav-page-01{
margin-bottom:1.5em;
}

div#str-main div.form-nav-page-01 ul{
text-align:center;
vertical-align:top;
}

div#str-main div.form-nav-page-01 ul li{
padding:0 20px;
display:inline-block;
}


/* ----------------------------------------------------------------
	10. Form Error Module
----------------------------------------------------------------- */

div#str-main form div.error-01{
margin-bottom:1em;
padding:9px;
border:1px #BBBBBB solid;
background:#F2F9FE;
text-align:center;
}

div#str-main form div.error-01 p strong{
font-size:123.1%;
}

div#str-main form table tbody tr.error-01 th{
color:#BD1B00;
background:#FEEEEE;
}

div#str-main form table tbody tr.error-01 td{
background:#FEEEEE;
}

/* ----------------------------------------------------------------
	11. Form Flow Module
----------------------------------------------------------------- */

div#str-main div.form-flow-01{
margin-bottom:1.75em;
position:relative;
text-align:center;
}

div#str-main div.form-flow-01 ol{
position:absolute;
top:0;
left:-9999px;
}

/* ----------------------------------------------------------------
	12. Form Paragraph Module
----------------------------------------------------------------- */

div#str-main form p.form-doc-notice{
margin-bottom:0.25em;
color:#777777;
font-size:68.8%;
}

/* ---------------------------------
	 table > form-doc-notice
 -------------------------------- */

div#str-main form table p.form-doc-notice{
font-size:84.6%;
}


/* ----------------------------------------------------------------
	13. Form Box Modules
----------------------------------------------------------------- */

/* ---------------------------------
	 form-box-01
 -------------------------------- */

div#str-main div.form-box-01{
margin-bottom:1.25em;
padding:2px;
border:1px #BBBBBB solid;
background:#FFFFFF;
}

div#str-main div.form-box-01 div.box-inner-01{
padding:10px 7px;
border-width:3px 0;
border-color:#EBEBEB;
border-style:solid;
}

/* ---------------------------------
	 form-box-complete-01
 -------------------------------- */
 
div#str-main div.form-box-complete-01{
margin:0 auto 1.25em;
padding:2px;
border:1px #BBBBBB solid;
width:60%;
background:#FFFFFF;
}

div#str-main div.form-box-complete-01 div.box-inner-01{
padding:40px 10px;
background:#FDFADF;
}

div#str-main div.form-box-complete-01 p.doc-complete-01{
color:#2574C6;
text-align:center;
font-size:123.1%;
font-weight:bold;
}


/* ----------------------------------------------------------------
	14. Form Module Control
----------------------------------------------------------------- */

/* ---------------------------------
	 form > ul.list-notice-01
 -------------------------------- */
 
div#str-main form table ul.list-notice-01 span{
color:#777777;
}

/* ---------------------------------
	 form > table.tbl-data-01
 -------------------------------- */
 
div#str-main form table.tbl-data-01 tbody th,
div#str-main form table.tbl-data-01 tbody td{
text-align:left;
vertical-align:top;
}

div#str-main form table.tbl-data-01 tbody th img,
div#str-main form table.tbl-data-01 tbody td img{
padding-bottom:1px;
}


/* ----------------------------------------------------------------
	15. form-search-fund-01
----------------------------------------------------------------- */
	
div#str-main div.form-search-fund-01-container{
margin-bottom:20px;
background:url("/shared/images/contents-form/form-search-fund-01-bg-02.gif") no-repeat 0 100%;
}

div#str-main div.form-search-fund-01-container div.search-fund{
padding:24px 130px 10px 10px;
float:left;
width:404px;
position:relative;
background:url("/shared/images/contents-form/form-search-fund-01-bg-01.gif") no-repeat 0 0;
}

div#str-main div.form-search-fund-01-container div.search-fund input.form-text-01{
margin:3px 3px 3px 10px;
padding:2px;
border:1px #848484 solid;
width:185px;
}

div#str-main div.form-search-fund-01-container div.search-fund p{
margin-bottom:0;
}

div#str-main div.form-search-fund-01-container div.search-fund p.search-focus{
margin:0;
padding:0;
position:absolute;
top:30px;
right:10px;
width:120px;
font-size:68.8%;
}

div#str-main div.form-search-fund-01-container div.favorites-fund{
padding:10px;
float:right;
width:176px;
background:url("/shared/images/contents-form/form-search-fund-01-bg-01.gif") no-repeat 100% 0;
}

div#str-main div.form-search-fund-01-container div.favorites-fund p{
margin:0 0 5px;
text-align:center;
}

div#str-main div.form-search-fund-01-container div.favorites-fund p.favorites-fund-count{
margin-bottom:0;
padding-left:10px;
display:inline-block;
width:60px;
text-align:left;
}

div#str-main div.form-search-fund-01-container div.favorites-fund p.favorites-fund-count strong{
font-size:200%;
}

div#str-main div.form-search-fund-01-container div.favorites-fund p.favorites-fund-more{
margin-bottom:0;
display:inline-block;
width:90px;
text-align:left;
font-size:68.8%;
}

div#str-main div.form-search-fund-01-container div.favorites-fund p.favorites-fund-more a{
padding-left:8px;
display:block;
background:url("/shared/images/contents-mod/arrow-01-01.gif") no-repeat 0 0.35em;
}


/* ----------------------------------------------------------------
	16. form-search-word-01
----------------------------------------------------------------- */

div#str-main div.form-search-word-01-container{
margin-bottom:20px;
padding-bottom:4px;
background:url("/shared/images/contents-form/form-search-word-01-bg-02.gif") no-repeat 0 100%;
}

div#str-main div.form-search-word-01-container div.box-inner-01{
margin-bottom:20px 20px 16px;
padding:10px;
background:url("/shared/images/contents-form/form-search-word-01-bg-01.gif") no-repeat 0 0;
}

div#str-main div.form-search-word-01-container div.box-inner-01 input.form-text-01{
margin:3px 3px 3px 10px;
padding:2px;
border:1px #848484 solid;
width:220px;
}

div#str-main div.form-search-word-01-container div.box-inner-01 p{
margin-bottom:5px;
}

