@charset "UTF-8";

/* ----------------------------------------------------------------
*	01. Structure
*	02. Nav Global
*	03. body#business/body#business-top > Nav Global
*	04. body#smallbusiness/body#smallbusiness-top > Nav Global
*	05. body.category-toto-top > Nav Global
----------------------------------------------------------------- */

/* ----------------------------------------------------------------
	01. Structure
----------------------------------------------------------------- */

div#nav-global{
margin-bottom:0.55em;
}


/* ----------------------------------------------------------------
	02. Nav Global
----------------------------------------------------------------- */

div#nav-global dl{
position:relative;
}

div#nav-global dl dt{
position:absolute;
top:0;
left:-9999px;
}

/* ---------------------------------
	nav-section
 -------------------------------- */

div#nav-global dl.nav-section ul{
border-bottom:2px #FF9000 solid;
position:relative;
background:url("/shared/images/nav-global/nav-bg-01.gif") repeat-x 0 100%;
font-size:63.6%;
line-height:1.1;
z-index:0;
}

div#nav-global dl.nav-section ul li{
position:relative;
padding:10px 0 0 0;
margin-right:2px;
float:left;
height:24px;
}

div#nav-global dl.nav-section ul li.selected{
padding-top:7px;
}

div#nav-global dl.nav-section ul li.balloon{
padding-top:0;
}

div#nav-global dl.nav-section ul li.business{
position:absolute;
top:0;
right:0;
}

div#nav-global dl.nav-section ul li.smallbusiness{
position:absolute;
top:0;
right:0;
}

body#business div#nav-global dl.nav-section ul li.individual,
body#business-top div#nav-global dl.nav-section ul li.individual{
position:absolute;
top:0;
right:130px;
}

body#smallbusiness div#nav-global dl.nav-section ul li.individual,
body#smallbusiness-top div#nav-global dl.nav-section ul li.individual{
position:absolute;
top:0;
right:100px;
}

div#nav-global dl.nav-section ul li img.moneybridge{
position:absolute;
bottom:18px;
left:505px;
}

div#nav-global dl.nav-section ul li img.cardloan{
position:absolute;
bottom:18px;
left:16px;
}

div#nav-global dl.nav-section ul li img.rcjack{
position:absolute;
bottom:18px;
left:221px;
}

div#nav-global dl.nav-section ul li img.gpa{
position:absolute;
bottom:18px;
left:12px;
}

div#nav-global dl.nav-section ul li img.new{
position:absolute;
top:-2px;
left:7px;
}

div#nav-global dl.nav-section ul li img.cpn{
position:absolute;
bottom:18px;
left:1px;
}

div#nav-global dl.nav-section ul li img.up{
position:absolute;
bottom:18px;
left:14px;
}

div#nav-global dl.nav-section ul li img.fee{
position:absolute;
bottom:18px;
left:-6px;
z-index:10;
}

div#nav-global dl.nav-section ul li img.att{
position:absolute;
bottom:18px;
right:0;
}

div#nav-global dl.nav-section ul li.nav-section-top a{
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat 0 -1904px;
height:27px;
width:55px;
}
div#nav-global dl.nav-section ul li.nav-section-happyprogram a {
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat -57px -1871px;
width:91px;
}
div#nav-global dl.nav-section ul li.nav-section-card a {
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat -150px -1871px;
width:51px;
}
div#nav-global dl.nav-section ul li.nav-section-geo a {
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat -203px -1871px;
width:61px;
}
div#nav-global dl.nav-section ul li.nav-section-fixeddep a {
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat -266px -1871px;
width:55px;
}
div#nav-global dl.nav-section ul li.nav-section-forexdep a {
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat -323px -1871px;
width:61px;
}
div#nav-global dl.nav-section ul li.nav-section-fx a {
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat -386px -1871px;
width:47px;
}
div#nav-global dl.nav-section ul li.nav-section-investment a {
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat -435px -1871px;
width:61px;
}
div#nav-global dl.nav-section ul li.nav-section-intermediation a {
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat -498px -1871px;
width:49px;
}
div#nav-global dl.nav-section ul li.nav-section-loan a {
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat -549px -1871px;
width:75px;
}
div#nav-global dl.nav-section ul li.nav-section-homeloan a {
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat -626px -1871px;
width:71px;
}
div#nav-global dl.nav-section ul li.nav-section-koueirace a {
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat -699px -1871px;
width:61px;
}
div#nav-global dl.nav-section ul li.nav-section-toto a {
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat -762px -1871px;
width:68px;
}
div#nav-global dl.nav-section ul li.nav-section-takarakuji a {
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat -832px -1871px;
width:55px;
}

div#nav-global dl.nav-section ul li.business a {
background:url("/shared/top/images/str-main/img-parts-01.png") no-repeat -852px -1868px;
width:99px;
height:27px;
}

div#nav-global dl.nav-section ul li a {
display:block;
height:22px;
text-decoration:none;
overflow:hidden;
}

div#nav-global dl.nav-section ul li a span {
position:relative;
z-index:-1;
}

/* ---------------------------------
	nav-subsection
 -------------------------------- */

div#nav-global dl.nav-subsection ul{
padding:1px;
border-bottom:1px #848484 solid;
background:#EAF7FF url("/shared/images/nav-global/nav-bg-02.gif") repeat-x 0 0;
font-size:81.25%;
}

div#nav-global dl.nav-subsection ul li{
border-right:1px #848484 solid;
float:left;
}

div#nav-global dl.nav-subsection ul li a{
display:block;
padding:4px 10px;
}

div#nav-global dl.nav-subsection ul li a:active,
div#nav-global dl.nav-subsection ul li a:hover,
div#nav-global dl.nav-subsection ul li a:focus{
background:#FBC328 url("/shared/images/nav-global/nav-bg-03.gif") repeat-x 0 0;
}

div#nav-global dl.nav-subsection ul li.selected a{
background:#FBC328 url("/shared/images/nav-global/nav-bg-03.gif") repeat-x 0 0;
}


/* ----------------------------------------------------------------
	03. body#business/body#business-top > Nav Global
----------------------------------------------------------------- */
/* ---------------------------------
	nav-section
 -------------------------------- */

body#business div#nav-global dl.nav-section ul,
body#business-top div#nav-global dl.nav-section ul{
border-bottom:2px #00A1C9 solid;
background-image:url("/shared/images/nav-global/nav-business-bg-01.gif");
}

/* ---------------------------------
	nav-subsection
 -------------------------------- */

body#business div#nav-global dl.nav-subsection ul,
body#business-top div#nav-global dl.nav-subsection ul{
background:#FEF5CC url("/shared/images/nav-global/nav-business-bg-02.gif") repeat-x 0 0;
}

body#business div#nav-global dl.nav-subsection ul li a:active,
body#business div#nav-global dl.nav-subsection ul li a:hover,
body#business div#nav-global dl.nav-subsection ul li a:focus,
body#business-top div#nav-global dl.nav-subsection ul li a:active,
body#business-top div#nav-global dl.nav-subsection ul li a:hover,
body#business-top div#nav-global dl.nav-subsection ul li a:focus{
background:#B3DCF8 url("/shared/images/nav-global/nav-business-bg-03.gif") repeat-x 0 0;
}

body#business div#nav-global dl.nav-subsection ul li.selected a,
body#business-top div#nav-global dl.nav-subsection ul li.selected a{
background:#B3DCF8 url("/shared/images/nav-global/nav-business-bg-03.gif") repeat-x 0 0;
}


/* ----------------------------------------------------------------
	04. body#smallbusiness/body#smallbusiness-top > Nav Global
----------------------------------------------------------------- */
/* ---------------------------------
	nav-section
 -------------------------------- */

body#smallbusiness div#nav-global dl.nav-section ul,
body#smallbusiness-top div#nav-global dl.nav-section ul{
border-bottom:2px #00A833 solid;
background-image:url("/shared/images/nav-global/nav-smallbusiness-bg-01.gif");
}

/* ---------------------------------
	nav-subsection
 -------------------------------- */

body#smallbusiness div#nav-global dl.nav-subsection ul,
body#smallbusiness-top div#nav-global dl.nav-subsection ul{
background:#FEF5CC url("/shared/images/nav-global/nav-smallbusiness-bg-02.gif") repeat-x 0 0;
}

body#smallbusiness div#nav-global dl.nav-subsection ul li a:active,
body#smallbusiness div#nav-global dl.nav-subsection ul li a:hover,
body#smallbusiness div#nav-global dl.nav-subsection ul li a:focus,
body#smallbusiness-top div#nav-global dl.nav-subsection ul li a:active,
body#smallbusiness-top div#nav-global dl.nav-subsection ul li a:hover,
body#smallbusiness-top div#nav-global dl.nav-subsection ul li a:focus{
background:#B9E886 url("/shared/images/nav-global/nav-smallbusiness-bg-03.gif") repeat-x 0 0;
}

body#smallbusiness div#nav-global dl.nav-subsection ul li.selected a,
body#smallbusiness-top div#nav-global dl.nav-subsection ul li.selected a{
background:#B9E886 url("/shared/images/nav-global/nav-smallbusiness-bg-03.gif") repeat-x 0 0;
}


/* ----------------------------------------------------------------
	05. body.category-toto-top > Nav Global
----------------------------------------------------------------- */

body.category-toto-top div#nav-global{
margin-bottom:0;
}
