@charset "UTF-8";

/* ----------------------------------------------------------------
*	01. Structure
*	02. Logo
*	03. Tagline
*	04. Utility
----------------------------------------------------------------- */

/* ----------------------------------------------------------------
	01. Structure
----------------------------------------------------------------- */

div#str-header{
margin-bottom:0;
padding:5px 0 0 230px;
position:relative;
min-height:60px;
overflow:hidden;
}

/* ---------------------------------
	body.lyt-popup-01/body.lyt-popup-02 > Structure
 -------------------------------- */
 
body.lyt-popup-01 div#str-header,
body.lyt-popup-02 div#str-header{
margin-bottom:1.5em;
height:73px;
background:url("/shared/images/str-header/bg-01.gif") repeat-x 0 100%;
}

/* ---------------------------------
	body.lyt-error-01 > Structure
 -------------------------------- */
 
body.lyt-error-01 div#str-header{
margin-bottom:1.5em;
height:73px;
background:url("/shared/images/str-header/bg-01.gif") repeat-x 0 100%;
}

/* ----------------------------------------------------------------
	02. Logo
----------------------------------------------------------------- */

div#str-header #logo{
position:absolute;
top:1.15em;
left:0;
}

div#str-header #logo img{
padding-right:15px;
vertical-align:middle;
}

/* ---------------------------------
	body.lyt-popup-01/body.lyt-popup-02 > #logo
 -------------------------------- */
body.lyt-popup-01 div#str-header #logo img.logo-sub,
body.lyt-popup-02 div#str-header #logo img.logo-sub{
margin-left:362px;
padding:0;
}


/* ----------------------------------------------------------------
	03. Tagline
----------------------------------------------------------------- */

div#str-header p#tagline{
color:#AAAAAA;
text-align:right;
font-size:81.25%;
}

/*SEO対策*/
div#str-header h1#tagline{
color:#AAAAAA;
text-align:right;
font-size:81.25%;
font-weight:normal;
}

/* ----------------------------------------------------------------
	04. Utility
----------------------------------------------------------------- */

div#str-header dl#nav-utility{
position:relative;
font-size:81.25%;
text-align:right;
overflow:hidden;
}

div#str-header dl#nav-utility dt{
position:absolute;
top:0;
left:-9999px;
}

div#str-header dl#nav-utility dd ul{
margin-right:-8px;
}

div#str-header dl#nav-utility dd ul li{
padding:0 8px 0 6px;
border-right:1px #ADADAD solid;
display:inline;
}

div#str-header dl#nav-utility dd ul li.grp-home{
/*border-left:1px #ADADAD solid;*/
font-weight:bold;
}





/* -----------------------------------------------------------------
	2011.09.12　楽天ビジネス
 ---------------------------------------------------------------- */


/* ---------------------------------
	body.lyt-popup-01/body.lyt-popup-02/body.lyt-popup-04 > Structure
 -------------------------------- */
 
body.lyt-popup-04 div#str-header{
margin-bottom:1.5em;
height:73px;
background:url("/shared/images/str-header/bg-01.gif") repeat-x 0 100%;
}


/* ---------------------------------
	body.lyt-popup-01/body.lyt-popup-02/body.lyt-popup-04 > #logo
 -------------------------------- */

body.lyt-popup-04 div#str-header #logo img.logo-sub{
margin-left:374px;
padding:0;
}


/* -----------------------------------------------------------------
	2013.03.05　lyt-rakuten-01
 ---------------------------------------------------------------- */


/* ---------------------------------
	body.lyt-rakuten-01 > Structure
 -------------------------------- */
 
body.lyt-rakuten-01 div#str-header{
margin-bottom:1.5em;
height:73px;
background:url("/shared/images/str-header/bg-01.gif") repeat-x 0 100%;
}

/* ---------------------------------
nav-category
-------------------------------- */
body #str-header .nav-category{
position:absolute;
top:30px;
left:200px;
z-index:10;
font-size:81.25%;
}

body #str-header .nav-category ul li{
	display:inline;
	margin-right:5px;
}