@charset "UTF-8";

/* ----------------------------------------------------------------
*	01. str-header
*	02. nav-global
*	03. nav-local
*	04. str-main
*	05. str-aside
*	06. str-footer
*	07. topic-path
----------------------------------------------------------------- */

/* ----------------------------------------------------------------
	01. str-header
----------------------------------------------------------------- */

div#str-header{
margin-bottom:20px;
padding-top:10px;
border-bottom:3px #FFAA00 solid;
}

div#str-header #logo{
margin-bottom:1px;
padding-bottom:15px;
border-bottom:1px #000000 solid;
}

div#str-header p#tagline,
div#str-header dl#nav-utility{
margin-bottom:10px;
display:none;
}


/* ----------------------------------------------------------------
	02. nav-global
----------------------------------------------------------------- */

div#nav-global{display:none;}

/* ----------------------------------------------------------------
	03. nav-local
----------------------------------------------------------------- */

div#nav-local{display:none;}

/* ----------------------------------------------------------------
	04. str-main
----------------------------------------------------------------- */

div#str-main{}

/* ----------------------------------------------------------------
	05. str-aside
----------------------------------------------------------------- */

div#str-aside{display:none;}

/* ----------------------------------------------------------------
	06. str-footer
----------------------------------------------------------------- */

div#str-footer ul.nav-footer-bank,
div#str-footer div.nav-footer-service,
div#str-footer div.nav-footer-info dt,
div#str-footer div.nav-footer-info dd ul{
display:none;
}

div#str-footer p#copyright{
margin:40px 0 10px;
padding-top:20px;
border-top:1px #808080 solid;
}


/* ----------------------------------------------------------------
	07. topic-path
----------------------------------------------------------------- */

div#str-main p.topic-path{display:none;}
div#str-main dl.topic-path{display:none;}
