@charset "UTF-8";

/* ----------------------------------------------------------------
*	01. default
*	02. list-code
*	03. font-control
*	04. form-word-search
*	05. box-login
*	06. box-account
*	07. box-member
*	08. box-money
*	09. box-mobile
*	10. box-pr
*	11. box-info
*	12. nav-btn
*	13. list-link
*	14. list-bnr
*	15. doc-link-01
*	16. p-mark
*	17. twitter
*	18. business ichiba-shop nav-global
*	19. list-login
*	20. common
*	21. list-line-01
*	22. list-target
----------------------------------------------------------------- */

/* ----------------------------------------------------------------
	01. default
----------------------------------------------------------------- */

div#str-aside{
margin-bottom:1.15em;
font-size:81.25%;
}

div#str-aside p,
div#str-aside ul,
div#str-aside dl{
margin:0 0 0.85em;
}

div#str-aside ol{
margin:0 0 0.85em;
}
 
 
/* ----------------------------------------------------------------
	02. list-code
----------------------------------------------------------------- */

div#str-aside ul.list-code{
padding-left:80px;
position:relative;
color:#363636;
font-size:76.9%;
font-family: "ＭＳ Ｐゴシック",sans-serif;
}

div#str-aside ul.list-code li.bank-code{
width:80px;
position:absolute;
top:0.15em;
left:0;
text-align:left;
}

div#str-aside ul.list-code-02{
padding-left:80px;
position:relative;
color:#363636;
font-size:80%;
font-family: "ＭＳ Ｐゴシック",sans-serif;
}

div#str-aside ul.list-code-02 li.bank-code{
width:80px;
position:absolute;
top:0.15em;
left:0;
text-align:left;
}


/* ----------------------------------------------------------------
	03. font-control
----------------------------------------------------------------- */

div#str-aside div#font-control{
margin-bottom:0.35em;
text-align:right;
}

div#str-aside div#font-control dl{
margin-bottom:0;
position:relative;
padding-left:110px;
}

div#str-aside div#font-control dl dt{
position:absolute;
top:5px;
left:48px;
line-height:1;
font-size:8px;
}

div#str-aside div#font-control ul{
margin-bottom:0;
}

div#str-aside div#font-control ul.styleSwitcher li{
display:inline;
}


/* ---------------------------------
font-control-02
-------------------------------- */
#str-aside #font-control-02{
margin-bottom:0.85em;
padding:3px 10px;
border:1px #ccc solid;
}

#str-aside #font-control-02 dl{
margin-bottom:0;
padding-left:87px;
position:relative;
}

#str-aside #font-control-02 dl dt{
position:absolute;
top:5px;
left:8px;
}
#str-aside #font-control-02 dl dt img{ vertical-align:top;}

#str-aside #font-control-02 ul{
margin-bottom:0;
}

#str-aside #font-control-02 ul li{
display:inline;
}

/* ----------------------------------------------------------------
	04. form-word-search
----------------------------------------------------------------- */

div#str-aside div.form-word-search p{
line-height:1;
}

div#str-aside div.form-word-search input.form-text-01{
margin-right:4px;
padding:3px 2px 3px 22px;
background:url("/shared/images/str-aside/form-search-icon-01.gif") no-repeat 0 0;
border:1px #848484 solid;
width:112px;
}


/* ---------------------------------
form-word-search-02
-------------------------------- */
#str-aside .form-word-search-02{
margin:0 0 0.85em;
}
#str-aside .form-word-search-02 p{
line-height:1;
}
#str-aside .form-word-search-02 p{margin-bottom:0;}
#str-aside .form-word-search-02 input.form-text-01{
margin:0;
padding:2px 2px 3px;
border:#ccc 1px solid;
width:130px;
background:none;
}


/* ---------------------------------
box-02 > form-word-search-02
-------------------------------- */
#str-aside .box-02 .form-word-search-02{
margin:-1px 0 0 0;
}
#str-aside .box-02 .form-word-search-02 p{margin-bottom:0;}
#str-aside .box-02 .form-word-search-02 input.form-text-01{
margin:0;
padding:2px 2px; 
border:#ccc 1px solid;
width:103px;
height:17px;
background:none;
}


/* ----------------------------------------------------------------
	05. box-login
----------------------------------------------------------------- */

div#str-aside div.box-login{
margin-bottom:5px;
padding:1px;
border:1px #848484 solid;
background:#FFFFFF;
}

div#str-aside div.box-login div.box-inner-01{
padding:8px;
background:#FDF9E3;
}

div#str-aside div.box-login ul.nav-01{
margin-bottom:7px;
}

div#str-aside div.box-login ul.nav-01 li{
margin-bottom:5px;
}

div#str-aside div.box-login ul.list-link-01{
font-size:76.9%;
}

/* ---------------------------------
	box-login-fx
 -------------------------------- */

div#str-aside div.box-login-fx{
margin-bottom:5px;
padding:1px;
border:1px #848484 solid;
background:#FFFFFF;
}

div#str-aside div.box-login-fx div.box-inner-01{
padding:8px;
background:#F5F5F5;
}

div#str-aside div.box-login-fx ul.nav-01{
margin-bottom:0;
}

div#str-aside div.box-login-fx ul.nav-01 li{
margin-bottom:10px;
font-size:76.9%;
}

/* ----------------------------------------------------------------
	06. box-account
----------------------------------------------------------------- */

div#str-aside div.box-account{
margin-bottom:8px;
padding:1px;
border:1px #848484 solid;
background:#FFFFFF;
}

div#str-aside div.box-account div.box-inner-01{
padding:8px;
background:#F5FBE9;
}

div#str-aside div.box-account div.box-inner-01 p{
font-size:76.9%;
text-align:center;
}

div#str-aside div.box-account div.box-inner-01 p.nav-01{
margin-bottom:8px;
}

/* ---------------------------------
	body#business/body#business-top > box-account
 -------------------------------- */

body#business div#str-aside div.box-account div.box-inner-01,
body#business-top div#str-aside div.box-account div.box-inner-01{
background:#F5F5F5;
}


/* ----------------------------------------------------------------
	07. box-member
----------------------------------------------------------------- */

div#str-aside div.box-member{
margin-bottom:0.75em;
padding:0 0 1px;
background:url("/shared/images/str-aside/box-bg-01.gif") no-repeat 0 100%;
}

div#str-aside div.box-member p,
div#str-aside div.box-member ul,
div#str-aside div.box-member ol,
div#str-aside div.box-member dl{
margin:0 10px 0.85em;
}

div#str-aside div.box-member h3{
margin-bottom:8px;
}

div#str-aside div.box-member ul.list-link-01 li{
margin-bottom:0.25em;
padding-left:9px;
background:url("/shared/images/contents-mod/arrow-01-01.gif") no-repeat 0 0.45em;
font-weight:bold;
}

div#str-aside div.box-member ul.list-link-01 li img{
vertical-align:middle;
}

div#str-aside div.box-member ul.list-link-01 li p{
margin:0;
font-size:76.9%;
font-weight:normal;
}

div#str-aside div.box-member dl.box-finance ul.list-link-01{
margin:0;
padding:5px 5px 5px 7px;
border:1px solid #bebebe;
}

/* ----------------------------------------------------------------
	08. box-money
----------------------------------------------------------------- */

div#str-aside div.box-money{
margin-bottom:0.75em;
padding:0 0 1px;
background:url("/shared/images/str-aside/box-bg-01.gif") no-repeat 0 100%;
}

div#str-aside div.box-money p,
div#str-aside div.box-money ul,
div#str-aside div.box-money ol,
div#str-aside div.box-money dl{
margin:0 10px 0.85em;
}

div#str-aside div.box-money h3{
margin-bottom:8px;
}

div#str-aside div.box-money ul.list-link-01 li{
margin-bottom:0.25em;
padding-left:9px;
background:url("/shared/images/contents-mod/arrow-01-01.gif") no-repeat 0 0.45em;
font-weight:bold;
}

div#str-aside div.box-money ul.list-link-01 li p{
margin:0;
font-size:76.9%;
font-weight:normal;
}


/* ----------------------------------------------------------------
	09. box-mobile
----------------------------------------------------------------- */

div#str-aside div.box-mobile{
margin:0.95em 0 0.75em;
padding:0px 10px 10px;
position:relative;
min-height:100px;
border:1px #848484 solid;
}

div#str-aside div.box-mobile h3{
margin: 0px -10px 10px;
}

div#str-aside div.box-mobile p{
font-size:76.9%;
}

div#str-aside div.box-mobile ul.list-image-01{
margin-right:-10px;
}

div#str-aside div.box-mobile ul.list-image-01 li{
margin:0 5px 0px 0;
display:inline;
vertical-align:top;
}


/* ----------------------------------------------------------------
	10. box-pr
----------------------------------------------------------------- */

div#str-aside div.box-pr{
margin-bottom:0.75em;
}

div#str-aside div.box-pr p span{
display:block;
color:#6C6C6C;
font-size:92.3%;
}


/* ----------------------------------------------------------------
	11. box-info
----------------------------------------------------------------- */

div#str-aside div.box-info{
margin-bottom:0.75em;
padding:0 9px 6px;
border:1px #BBBBBB solid;
background:#FFFFFF;
}

div#str-aside div.box-info .hdg-box-info{
margin:0 -8px 5px;
padding-bottom:5px;
background:url("/shared/images/str-aside/box-info-bg-02.gif") repeat-x 0 100%;
font-size:100%;
}

div#str-aside div.box-info .hdg-box-info span{
padding:4px 8px 3px;
display:block;
background:#E5E5E5 url("/shared/images/str-aside/box-info-bg-01.gif") repeat-x 0 0;
}

/* ----------------------------------------------------------------
	12. box
----------------------------------------------------------------- */

/* ---------------------------------
box-01
-------------------------------- */

#str-aside div.box-01{
padding:10px 5px 5px 5px;
background-color:#f4f4f4;
}

#str-aside div.box-01 .hdg-box-01{
margin-bottom:9px;
padding-left:6px;
border-left:5px solid #ff9000;
}

/* ---------------------------------
box-02
-------------------------------- */
#str-aside .box-02{
margin-bottom:5px;
border:1px #dcdcdc solid;
padding:9px;
background-color:#fff;
position:relative;
}

#str-aside .box-02 .hdg{
margin-bottom:10px;
padding-left:10px;
border-left:3px #fbaf1b solid;
}

#str-aside .box-02 .hdg-02{
position: absolute;
top:-1px;
left:-1px;
}

#str-aside .box-02 .image{
text-align:center;
}

/* ---------------------------------
box-03
-------------------------------- */
#str-aside .box-03{
padding:5px;
background-color:#f4f4f4;
margin-bottom:0.85em;
}
#str-aside .box-03 h4{
border-left:3px solid #00A1C9;
padding-left:8px;
margin-bottom:0.7em;
}

/* ---------------------------------
box-04
-------------------------------- */
#str-aside .box-04{
padding:9px;
background-color:#f2f2f2;
}
#str-aside .box-04 h4{
border-left:3px solid #4d4d4d;
padding-left:8px;
margin-bottom:0.7em;
}
#str-aside .box-04 ul{
margin-bottom:0;
}
#str-aside .box-04 ul li{
line-height:1.5em;
margin-bottom:5px;
padding-left:10px;
background:url("/shared/images/contents-mod/icon-bullet-05.gif") no-repeat 0 0.60em;
}
#str-aside .box-04 li{
font-size:93%;
}

/* ----------------------------------------------------------------
	13. box-products-01
----------------------------------------------------------------- */

#str-aside div.box-products-01-container{
padding-top:11px;
border-top:1px solid #cccccc;
}

#str-aside div.box-products-01{
margin-bottom:20px;
background-color:#fff;
}

#str-aside div.box-products-01 .hdg-box-products-01{
margin-bottom:0;
line-height:1;
}

#str-aside div.box-products-01 dl{
margin:0;
padding:9px 9px 9px 9px;
border:1px solid #dcdcdc;
border-top:none;
font-size:92%;
}

#str-aside div.box-products-01 dl dt{
margin-top:8px;
margin-bottom:2px;
padding-top:8px;
background:url("/shared/images/contents-mod/dot-01-03.gif") 0 0 repeat-x;
}

#str-aside div.box-products-01 dl dt.first-child{
margin-top:0;
padding-top:0;
background:none;
}

#str-aside div.box-products-01 dl dt a{
padding-left:16px;
display:block;
background:url("/shared/images/contents-mod/arrow-01-04.gif") 0 0.25em no-repeat;
}

#str-aside div.box-products-01 dl dd{
margin-bottom:3px;
padding-left:16px;
line-height:1.4;
}

#str-aside div.box-products-01 dl dd.img{
margin:1px 0 2px -16px;
}

#str-aside div.box-products-01 dl dd img.icon{
position:relative;
top:-2px;
left:2px;
}

/* ----------------------------------------------------------------
	12. nav-01
----------------------------------------------------------------- */

div#str-aside ul.nav-01 li{
margin-bottom:5px;
}

div#str-aside .nav-01-partition{
padding-top:9px;
background:url("/shared/images/contents-mod/dot-01-03.gif") 0 0 repeat-x;
}

/* ----------------------------------------------------------------
	12. nav-btn
----------------------------------------------------------------- */

div#str-aside ul.nav-btn-01{
margin:8px -2px 6px 0;
}

div#str-aside ul.nav-btn-01 li{
margin:0 2px 3px 0;
float:left;
width:89px;
}

div#str-aside ul.nav-btn-01 li.balloon-control{
padding-top:9px;
height:auto !important;
}

div#str-aside ul.nav-btn-02{
margin:15px 0 6px 0;
}

div#str-aside ul.nav-btn-02 li{
margin:0 0 4px 0;
}


/* ----------------------------------------------------------------
	13. list-link
----------------------------------------------------------------- */

div#str-aside ul.list-link-01 li{
margin-bottom:0.35em;
padding-left:9px;
background:url("/shared/images/contents-mod/arrow-01-01.gif") no-repeat 0 0.35em;
}

div#str-aside ul.list-link-02 li{
margin-bottom:0.30em;
padding-left:40px;
position:relative;
min-height:32px;
}

div#str-aside ul.list-link-02 li img{
position:absolute;
top:0.15em;
left:0;
}

div#str-aside ul.list-link-03{
height:100%;
}

div#str-aside ul.list-link-03 li{
margin-bottom:0.5em;
padding-left:38px;
position:relative;
min-height:30px;
height:auto !important;
height:30px;
font-size:76.9%;
}

div#str-aside ul.list-link-03 li img.icon{
position:absolute;
top:0.15em;
left:0;
vertical-align:middle;
}

#str-aside .list-link-04{
margin-right:-2px;
overflow:hidden;
}
#str-aside .list-link-04 li{
margin:0 2px 2px 0;
float:left;
width:84px;
}

div#str-aside ul.list-link-05 li{
margin-bottom:0.35em;
padding-left:4px;
font-size:76.9%;
}

/* ---------------------------------
list-link-06
-------------------------------- */
#str-aside .list-link-06{
margin:0;
border-top:1px #ccc dotted;
}
#str-aside .list-link-06 li{
padding:3px 10px 3px 22px;
border-bottom:1px #ccc dotted;
background:url("/shared/images/str-aside/arrow-02.gif") no-repeat 5px 6px;
}
#str-aside .list-link-06 li a{
color:#333;
font-weight:bold;
}
#str-aside .list-link-06 li a:active,
#str-aside .list-link-06 li a:hover{
text-decoration:none;
}

/* ---------------------------------
list-link-07
-------------------------------- */
#str-aside .list-link-07 li{
margin-bottom: 0.35em;
padding-left: 10px;
background:url("/shared/images/str-aside/arrow-01.gif") no-repeat 0 0.45em;
}



div#str-aside ul.section-01{
padding-top:10px;
background:url("/shared/images/contents-mod/dot-01-01.gif") repeat-x 0 0;
}


/* ---------------------------------
list-link-08
-------------------------------- */
#str-aside .list-link-08{
margin-bottom:0;
}

#str-aside .list-link-08 li{
display:inline;
padding-left: 10px;
background:url("/shared/images/str-aside/arrow-01.gif") no-repeat 0 0.65em;
border:none;
}

/* ----------------------------------------------------------------
	14. list-bnr
----------------------------------------------------------------- */

div#str-aside ul.list-bnr-01 li{
margin-top:10px;
}

/* ---------------------------------
list-bnr-02
-------------------------------- */
div#str-aside ul.list-bnr-02 li{
margin-top: 4px;
}


/* ----------------------------------------------------------------
	15. doc-link-01
----------------------------------------------------------------- */

div#str-aside p.doc-link-01,
div#str-aside a.doc-link-01{
margin-bottom:6px;
padding-left:9px;
background:url("/shared/images/contents-mod/arrow-01-01.gif") no-repeat 0 0.35em;
}

/* ---------------------------------
doc-link-02
-------------------------------- */
#str-aside .doc-link-02{
padding:3px 0 10px 0;
}
#str-aside .doc-link-02 a{
padding-left:20px;
padding-bottom:3px;
background:url("/shared/images/str-aside/icon-beginner.gif") no-repeat 0 0;
font-weight:bold;
}

#str-aside .nav-txt-01 a{
padding-left:20px;
padding-bottom:3px;
background-position:0 0;
background-repeat:no-repeat;
font-weight:bold;
}

#str-aside a.beginner{
background-image:url("/shared/images/str-aside/icon-beginner.gif");
}

#str-aside a.calc{
background-image:url("/shared/images/str-aside/icon-calc.gif");
}

#str-aside a.movie{
background-image:url("/shared/images/str-aside/icon-movie.gif");
}

#str-aside a.sheet{
background-image:url("/shared/images/str-aside/icon-sheet.gif");
}

#str-aside a.incoming-01{
background-image:url("/shared/images/str-aside/icon-incoming-01.gif");
}

#str-aside a.incoming-02{
background-image:url("/shared/images/str-aside/icon-incoming-02.gif");
}

/* ----------------------------------------------------------------
	16. p-mark
----------------------------------------------------------------- */

div#str-aside p.p-mark{
padding:15px 0 0;
background:url("/shared/images/str-aside/dot-01.gif") repeat-x 0 0;
text-align:center;
}


/* ----------------------------------------------------------------
	17. twitter
----------------------------------------------------------------- */

div#str-aside div.twitter{
margin-bottom:15px;
}

div#str-aside div.twitter div.twtr-hd h3{
margin-left:35px !important;
}

div#str-aside div.twitter div.twtr-hd h4{
margin-left:35px !important;
font-size:14px !important;
}

/* ----------------------------------------------------------------
	16. p-mark
----------------------------------------------------------------- */

div#str-aside p.verisign{
text-align:center;
}


/* ----------------------------------------------------------------
	17. box
----------------------------------------------------------------- */

div#str-aside div.box-simple{
	border:1px solid #ccc;
	background-color:#eee;
	padding:8px;
	margin-bottom:10px;
}







/* -----------------------------------------------------------------
	2011.09.12　楽天ビジネス
 ---------------------------------------------------------------- */

/* ----------------------------------------------------------------
	18. business ichiba-shop nav-global
----------------------------------------------------------------- */

div#str-aside ul.nav-global-01{
border-right:1px #b8b8b8 solid;
border-bottom:1px #b8b8b8 solid;
border-left:1px #b8b8b8 solid;
width:178px;
}

div#str-aside ul.nav-global-01 li{
border-top:1px #b8b8b8 solid;
position:relative;
}

div#str-aside ul.nav-global-01 li a{
padding:12px 3px 12px 24px;
background:url(/business/ichiba-shop/shared/images/nav-bg-01.gif) 0 top no-repeat;
display:block;
width:151px;
}

div#str-aside ul.nav-global-01 li a span{
vertical-align:middle;
}

div#str-aside ul.nav-global-01 li a:active,
div#str-aside ul.nav-global-01 li a:hover,
div#str-aside ul.nav-global-01 li a:focus,
div#str-aside ul.nav-global-01 li.selected a{
background:url(/business/ichiba-shop/shared/images/nav-bg-01_o.gif) 0 top no-repeat;
vertical-align:middle;
color:#FFFFFF;
font-weight:bold;
text-decoration:none;
zoom:1;
}


/* ul.level-02 */

div#str-aside ul.nav-global-01 li ul.level2-01{
margin-bottom:0;
}

div#str-aside ul.nav-global-01 li ul.level2-01 li{
margin-bottom:0;
}

div#str-aside ul.nav-global-01 li ul.level2-01 li a{
padding:8px 2px 8px 31px;
background:url(/business/ichiba-shop/shared/images/nav-bg-level2-01.gif) 0 top no-repeat;
display:block;
height:1.2em;
width:145px;
}

div#str-aside ul.nav-global-01 li ul.level2-01 li a:active,
div#str-aside ul.nav-global-01 li ul.level2-01 li a:hover,
div#str-aside ul.nav-global-01 li ul.level2-01 li a:focus,
div#str-aside ul.nav-global-01 li ul.level2-01 li.selected a{
background:url(/business/ichiba-shop/shared/images/nav-bg-level2-01_o.gif) 0 top no-repeat;
color:#FFFFFF;
font-weight:bold;
text-decoration:none;
}



/* ----------------------------------------------------------------
	Notice Module
----------------------------------------------------------------- */

div#str-aside ul.list-notice-01{
}

div#str-aside ul.list-notice-01 li{
padding-left:1.35em;
position:relative;
background:none;
}

div#str-aside ul.list-notice-01 li span{
position:absolute;
top:0;
left:0;
}


/* ------------------------------------
	div#str-aside > div.inquiry-box-02
 ----------------------------------- */

div#str-aside div.inquiry-box-02{
margin:0 auto 20px;
padding:0 9px 9px;
border:1px #868686 solid;
width:;
}

div#str-aside div.inquiry-box-02 .hdg-inquiry-box-02{
margin:1px -8px 10px;
padding:5px;
background:#868686;
text-align:center;
color:#fff;
}

div#str-aside div.inquiry-box-02 dl{
margin-bottom:0;
text-align:center;
}

div#str-aside div.inquiry-box-02 dl dt{
font-weight:bold;
}

div#str-aside div.inquiry-box-02 dl dd.phone-number{
color:#C11700;
font-size:138.5%;
}

div#str-aside div.inquiry-box-02 dl span.phone-number{
padding:0 10px;
color:#C11700;
}


/* ----------------------------------------------------------------
	19. list-login
----------------------------------------------------------------- */
#str-aside .list-login{
margin-bottom:0;
}
#str-aside .list-login li{
margin-bottom:7px;
}


/* ----------------------------------------------------------------
	20. common
----------------------------------------------------------------- */
.doc-align-c{
text-align:center;
}


/* ---------------------------------
	21.list-line-01
-------------------------------- */
.list-line-01{
border-bottom:1px solid #ccc;
}

/* ---------------------------------
	22.list-line-01
-------------------------------- */
#str-aside .list-target{
margin-bottom:7px;
}
#str-aside .list-target li{
margin-bottom:4px;
}

/* ---------------------------------
	23.icon-external,icon-internal,icon-01
-------------------------------- */
#str-aside p img.icon-external,
#str-aside ul img.icon-external,
#str-aside ol img.icon-external,
#str-aside dl img.icon-external,
#str-aside table img.icon-external,
#str-aside p img.icon-internal,
#str-aside ul img.icon-internal,
#str-aside ol img.icon-internal,
#str-aside dl img.icon-internal,
#str-aside table img.icon-internal,
#str-aside p img.icon-01,
#str-aside ul img.icon-01,
#str-aside ol img.icon-01,
#str-aside dl img.icon-01,
#str-aside table img.icon-01{
margin-right:5px;
vertical-align:middle;
}

