@charset "UTF-8";

/* ----------------------------------------------------------------
*	01. lyt-m-01
*	02. lyt-ma-01
*	03. lyt-popup-01
*	04. lyt-popup-02
*	05. lyt-error-01
*	06. topic-path
*	07. lyt-popup-03
*	08. lyt-popup-04
*	09. lyt-modal-01
----------------------------------------------------------------- */

/* ----------------------------------------------------------------
	01. lyt-m-01
----------------------------------------------------------------- */

body.lyt-m-01 div#str-contents div#str-main{
}


/* ----------------------------------------------------------------
	02. lyt-ma-01
----------------------------------------------------------------- */

body.lyt-ma-01 div#str-contents div#str-main{
float:left;
width:750px;
}

body.lyt-ma-01 div#str-contents div#str-aside{
margin-left:20ppx;
float:right;
width:180px;
}


/* ----------------------------------------------------------------
	03. lyt-popup-01
----------------------------------------------------------------- */

body.lyt-popup-01 div#str-container{
width:750px;
}


/* ----------------------------------------------------------------
	04. lyt-popup-02
----------------------------------------------------------------- */

body.lyt-popup-02 div#str-container{
padding:0 15px;
width:auto;
}

body.lyt-popup-02 div#str-main{
margin:0 auto;
}


/* ----------------------------------------------------------------
	05. lyt-error-01
----------------------------------------------------------------- */

body.lyt-error-01 div#str-container{
width:750px;
}


/* ----------------------------------------------------------------
	06. Topic Path
----------------------------------------------------------------- */

div#str-main p.topic-path{
margin:0 0 8px;
color:#787878;
font-size:68.8%;
}

div#str-main p.topic-path a{
color:#787878;
}

/* ----------------------------------------------------------------
	06-2. Topic Path
----------------------------------------------------------------- */

div#str-main dl.topic-path{
margin:0 0 8px;
color:#787878;
font-size:68.8%;
}

div#str-main dl.topic-path a{
color:#787878;
}

div#str-main dl.topic-path dt{
display:none;
}

/* ----------------------------------------------------------------
	07. lyt-popup-03
----------------------------------------------------------------- */
body.lyt-popup-03 div#str-container{
padding-top:15px;
text-align:center;
width:400px;
}

body.lyt-popup-03 div#str-main{
margin:0 auto;
}


/* -----------------------------------------------------------------
	2011.09.12　楽天ビジネス
 ---------------------------------------------------------------- */

/* ----------------------------------------------------------------
	08. lyt-popup-04
----------------------------------------------------------------- */

body.lyt-popup-04 div#str-contents div#str-main{
float:left;
width:750px;
}

body.lyt-popup-04 div#str-contents div#str-aside{
margin-left:20ppx;
float:right;
width:180px;
}

/* ----------------------------------------------------------------
	09. lyt-modal-01
----------------------------------------------------------------- */

body.lyt-modal-01 div#str-container{
width:590px;
}
