.nav>li>a:focus, .nav>li>a:hover{
	background: none !important;
	text-shadow: none !important;
	color: #dddddd;
	transition:all 0.3s ease;
}

.clear{clear:both;}
.no-footer-margin{margin-bottom: -30px;}
.menu-search{background: none; border: none; margin-top: 12px; margin-right: 10px;}
.title h1{font-size: 32px; margin: 0 0 5px 0; color: #c63c2a; font-family: 'Slabo 27px', serif;}
.section-title{display:inline-block;font-size:32px; color: #3d4663; font-family: 'Slabo 27px', serif; 
border-bottom:3px solid #3d4663; padding:10px 50px; margin-bottom:15px;}

.block{margin-bottom:50px;}
.block-fixed-width{max-width: 600px !important; min-height:600px; margin: 0 auto;} 
.scroll-y{max-height: 600px; overflow-y:scroll;}
.box-block-content-value{color:#444444; font-size:16px; font-weight: 700;}

.blue-block{background: #4E5D75 !important; color: #ffffff; font-size:24px;}
.blue-block .fa{color: #ffffff !important; padding-right:10px;}
.blue-block .white-outline-btn{padding:10px 15px;}
.blue-block .fcard-deck-name{color:#ffffff; font-size:32px; font-family: 'Source Sans Pro', sans-serif; font-weight: 600; padding-bottom:25px;}

.flashcard-img{background:url('http://img.businessdictionary.com/flashcards/flashcards-icon-white-153x111-2x.png');
height:88px;width:120px;display:inline-block; background-repeat:no-repeat;background-size: 100%;}
.fcard-block{background:#ffffff; margin:10px 0; 
box-shadow: 1px 1px 3px #999999;  -webkit-box-shadow: 1px 1px 3px #999999;  -o-box-shadow: 1px 1px 3px #999999;  -moz-box-shadow: 1px 1px 3px #999999;
 border-radius: 3px; -webkit-border-radius:3px; -o-border-radius:3px; -moz-border-radius: 3px;}
.fcard-title-img{margin-left: -20px; width: 40px !important;}
.fcard-white-icon{background:url('http://img.businessdictionary.com/flashcards/f-card-whte-icn.png'); background-repeat: no-repeat; width: 35px; height:19px; display: block;}
.fcard-black-icon{background:url('http://img.businessdictionary.com/flashcards/f-card-blk-icn.png'); background-repeat: no-repeat; width: 35px; height:19px; display: block;}
.fcard-white{background:url('http://img.businessdictionary.com/flashcards/f-card-whte.png'); background-repeat: no-repeat; width: 51px; height:37px; display: block;}
.fcard-black{background:url('http://img.businessdictionary.com/flashcards/f-card-blk.png'); background-repeat: no-repeat; width: 51px; height:37px; display: block; background-size: 80%;}

a.fcard-deck-block, a.fcard-deck-block:hover{text-decoration:none !important;}
.fcard-deck{padding: 30px 20px !important;}
.fcard-deck .fcard-deck-name{min-height:50px;}
.fcard-deck .fcard-deck-name, .fcard-deck .fcard-deck-details{padding-left: 5px; line-height: 110%; word-break: break-word;}
.fcard-deck .fcard-deck-details{border-top:1px solid #3d4663; padding-top:15px;}
.fcard-deck .fcard-deck-keys{color: #777777;}
.fcard-deck .fcard-deck-author, .fcard-deck .fcard-deck-count{font-size:100%; color: #5D5D5D; padding:0 5px 5px 5px; font-style:italic;}
.fcard-deck .fcard-deck-bottom{bottom:30px; left:30px; right: 30px; position:absolute; color:#526D94; font-style:italic;}
.fcard-deck .fcard-deck-bottom .fa{color:#526D94 !important; padding:0 5px;}
.fcard-deck .fcard-deck-add-term{border:1px solid #c63c2a; padding: 0 5px; border-radius: 3px; -moz-border-radius: 3px;  -o-border-radius: 3px; -webkit-border-radius: 3px;}
.fcard-deck .fcard-deck-add-term, .fcard-deck .fcard-deck-add-term .fa{font-weight:700; color: #c63c2a !important; font-style: normal;}
.fcard-deck .fcard-annotation{text-transform: uppercase; font-weight: 700; font-size: 12px; display: inline-block; color: #777777; padding: 0 5px;}
.fcard-deck .fcard-note{text-transform: uppercase; font-weight: 700; font-size: 12px; display: inline-block; border: 1px solid #337ab7; 
padding: 2px 4px; margin-bottom: 10px; background: #526D94; color: #eeeeee;}

.fcard-deck .fa{color: #000000;}
.fcard-decks{margin-bottom:25px; margin-top: 10px;}
.fcard{padding:10px 0; margin:10px 0;}
.fcard-fullsize{height:300px; overflow-y:auto;}
.fcard-back{font-size: 18px; padding: 10px 12px; word-break: break-word;}
.intro-info{padding: 10px 0; margin: 10px 0;}
.intro-info .title, .fcard-front{font-size: 18px; font-weight: bold; border-bottom: 1px solid #D1D3D4;padding: 10px 12px;}
.intro-info .title .edit-hide{font-family: 'Source Sans Pro', sans-serif; font-weight: 600;  font-size:20px; line-height:24px;}
.intro-info .details{padding: 20px 12px 10px 12px;}
.intro-info .keys{}
.intro-info .keys a{font-size:14px; color: #00adef;}
.intro-info .keys p{font-size:70%;color:#777;clear:both; font-style:italic;}
.intro-info .box-block-button{margin-top:5px;}

.fcard-front h2, .fcard-deck-name{color: #526D94; font-size:28px; margin:5px 0 10px 0; font-family: 'Slabo 27px', serif; }


.fcard-back.scrambled{
	cursor: default; color: transparent; 
	text-shadow: 0 0 15px rgba(0,0,0,0.95);  
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;}

/*
 * navigation tabs
 */
.nvgn-tabs{margin-bottom:10px;}
.nvgn-tab{padding: 15px 15px 10px 15px; background: white; border: 1px solid #ebebeb; text-align: center; font-size: 110%;}
.nvgn-tab-selected{background:#E6E6E6;}
.nvgb-tab-link{color: #7e7e7e !important; text-decoration: none;}
.nvgb-tab-link:hover{text-decoration:none;}


/*
 * search
 */
.search-bg{padding:15px 0; background:#3d4663;}
.search > .title{color:#ffffff; font-size: 125%; letter-spacing: 0.1em; font-weight:bold; margin-bottom: 5px; margin-top:15px;}
.search input[type="text"]{padding:14px 11px; border:none; width:100%; color:#000000; font-size: 150%; outline:0;}
.search-row{margin:10px 0;}
.search-keys{color:#c63c2a; font-weight:600;}


/*
 * flip cards
 */
.flip-card-button{background:none; color: #536E93 !important; font-size: 150%; margin-top: 10px;}
.flip-card-button:focus{outline:none;}
.flip-choices .title{margin-bottom:20px;}
.flip-card{background:none;}
.flip-card .fa{color: #777777;}

.carousel-indicators li {width: 15px; height: 15px;  margin:0; margin-right: 5px; background-color: #9B9B9B; border: 1px solid #9B9B9B;}
.carousel-indicators .active {width: 15px; height: 15px; margin-right: 5px; background-color: #eeeeee; border: 1px solid #9B9B9B;}
.carousel-indicators .progressed {width: 15px; height: 15px; margin-right: 5px; background-color: #536E93; border: 1px solid #536E93;}

.flip-card {
  	perspective: 800;
  	-webkit-perspective: 800;
  	-ms-perspective: 800;
  	-moz-perspective: 800;
  	-o-perspective: 800;
  	
  	height:270px;
  	width: 100%;
  	position: relative;
}

.flip-card .fcard {
  	width: 100%;
  	height: 100%;
  	-webkit-transform-style: preserve-3d;
  	-webkit-transition: 0.7s;
  	-moz-transform-style: preserve-3d;
  	-moz-transition: 0.7s;
  	-ms-transform-style: preserve-3d;
  	-ms-transition: 0.7s;
  	-o-transform-style: preserve-3d;
  	-o-transition: 0.7s;
  	transform-style: preserve-3d;
  	transition: 0.7s;
}

.flip-card .fcard .fcard-content{
  	padding: 5px;
  	max-height: 100%;
  	overflow: auto !important;
  	width: 100%;
    text-align: center;
    font-weight: 400; 
}

.flip-card .front .fcard-content{font-weight: 400; }
.flip-card .back .fcard-content{font-size: 80%;}

.flip-card .fcard .front, 
.flip-card .fcard .back{
	min-height: 250px; 
	height:250px; 
	font-size: 150%; cursor: pointer; 
	box-shadow: 0 0 8px 0 #777, rgba(181, 181, 181, 0.69) 0 0 54px 0 inset; 
	position: absolute;
    top: 0;
    width: 96%;
    left: 1.75%;
    
    backface-visibility: hidden;  /* W3C */
  	-webkit-backface-visibility: hidden; /* Safari & Chrome */
  	-moz-backface-visibility: hidden; /* Firefox */
  	-ms-backface-visibility: hidden; /* Internet Explorer */
  	-o-backface-visibility: hidden; /* Opera */
  
  	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center; 
 }
 
.flip-card .fcard .front {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  background: #ffffff;
 
  transform: rotateY(0deg);
  -ms-transform:rotatey(0deg); /* IE 9 */
  -moz-transform:rotatey(0deg); /* Firefox */
  -webkit-transform:rotatey(0deg); /* Safari and Chrome */
  -o-transform:rotatey(0deg); /* Opera */
}

.flip-card .fcard .back {
    cursor: pointer;
    background: transparent url('http://img.businessdictionary.com/flashcards-lined-paper-bg.png') center center no-repeat !important;
    
  	transform:rotatey(-180deg);
  	-ms-transform:rotatey(-180deg); /* IE 9 */
  	-moz-transform:rotatey(-180deg); /* Firefox */
  	-webkit-transform:rotatey(-180deg); /* Safari and Chrome */
  	-o-transform:rotatey(-180deg); /* Opera */
}

.flip-card .fcard.flip {
  	transform:rotatey(-180deg);
  	-ms-transform:rotatey(-180deg); /* IE 9 */
  	-moz-transform:rotatey(-180deg); /* Firefox */
  	-webkit-transform:rotatey(-180deg); /* Safari and Chrome */
  	-o-transform:rotatey(-180deg); /* Opera */
}

.flip-card .fcard.flip .back{
	z-index: 2;
	backface-visibility: visible;  /* W3C */
  	-webkit-backface-visibility: visible; /* Safari & Chrome */
  	-moz-backface-visibility: visible; /* Firefox */
  	-ms-backface-visibility: visible; /* Internet Explorer */
  	-o-backface-visibility: visible; /* Opera */
}

.flip-choices .cta-button{width:100%; max-width:100%; min-width:100%;}

.completion-message{display:none;}
.completion-message-entry{padding:30px 20px; border-bottom: 1px solid #D1D3D4;}

.fc-progress{height: 5px;}
.progress{background-image:none !important; background-color: #cecece; margin: 25px 10px 5px 10px;}
.fc-progress .progress-bar{font-family: 'Source Sans Pro', sans-serif; font-weight: 600; font-size: 16px; background-image:none !important; background-color: #286090;}
.progress-bar-label {display: none !important; vertical-align: middle; margin-top: 6px; display: block;}


/*
 * multiple choice questions
 */
.mc-container{box-shadow: 0 0 7px 0 #777, rgba(181, 181, 181, 0.69) 0 0 10px 0 inset;}
.mc-question-counter{background: #E6E6E6;padding: 10px;color:#333;}
.mc-choice{cursor: pointer; border: none; padding: 10px 15px;}
.mc-choice-container{padding: 10px; border: 1px solid #979797; color: #000;}
.score-board-row{border: none; padding-top: 5px; padding-bottom: 0px; font-weight: bold; font-size: 16px;}
.score-board-container{padding:10px; border: none;}
.mc-gap{margin-bottom:70px;}
.mc-question h3{font-size: 14px; color: #111; line-height: 20px;}



/*
 * inputs , textareas
 */

.input-class{padding: 10px 12px; font-size: 150%; width: 100%; font-weight: bold; border:1px solid #eeeeee;}
.input-class:focus{outline:none;}
.card-content{font-size: 125%; margin: 0; padding: 15px 20px;  width: 100%; max-width: 100%; height: 200px; max-height: 200px; box-shadow: 1px 1px 10px #ddd;}
.card-content:focus{outline:none;}


/*
 * buttons css
 */

.white-outline-btn{border: 1px solid #ffffff; padding: 2px 15px; font-family: 'Source Sans Pro', sans-serif; font-weight: 600; color: #ffffff;}
.white-outline-btn:hover, .white-outline-btn:active, .white-outline-btn:link, .white-outline-btn:visited{color:#ffffff !important; text-decoration:none;}

a.blue-outline-btn{border: 1px solid #232b45; padding: 2px 15px; font-family: 'Source Sans Pro', sans-serif; font-weight: 600; color: #232b45 !important;}
a.blue-outline-btn:hover, a.blue-outline-btn:active, a.blue-outline-btn:link, a.blue-outline-btn:visited{color:#232b45 !important; text-decoration:none;}

.deck-keys{margin:10px 0;}
a.deck-key{display:inline-block; transition:all 0.3s ease; 
margin:5px 2px; padding: 9px 15px;  font-weight:bold;
background: #eeeeee; text-decoration:none;
border-radius: 50px; -moz-border-radius: 50px; 
-o-border-radius: 50px; -webkit-border-radius: 50px;}

a.deck-key:hover{background: #dddddd;}

.search .white-outline-btn, .new-deck .blue-outline-btn{display:inline-block; padding: 12px 15px; font-size:125%; margin:25px 0;}
.white-outline-btn.membership-login-link{margin:10px 5px 5px 5px; padding: 7px 9px;}



.ui-menu-item .fcard-deck-search{padding:10px 0;}
.ui-menu-item .fcard-deck-search .fcard-deck-name{font-size:125%; font-weight:600;}
.ui-menu-item .fcard-deck-search .fcard-deck-author{font-size:105%;}


.form-row input[type="text"], .form-row input[type="email"], .form-row input[type="password"]{
	padding: 15px 11px; border: none; border-bottom: 1px solid #D1D3D4; 
	border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -o-border-radius: 0;
	font-size: 120%; color: #000000; 
	width: 80%; min-width: 250px;
}
.form-row input[type="text"]:focus,  .form-row input[type="email"]:focus, .form-row input[type="password"]:focus{outline:none;}
.form-row input[type="submit"]{margin: 15px 0 5px 0;}
.form-errors{height: 20px; padding: 9px 7px; font-weight: bold; font-size: 12px; color: #9c2f21;}
.fullpage .form-errors{color: #ffffff;}
.form-row-label{color: #ffffff;}




/*
 * user
 */
.author-info, .author-name {margin-top:10px;}
.author-image{ margin-right:5px; border:1px solid #eee; border-radius:40px; -webkit-border-radius:40px; -moz-border-radius:40px; -o-border-radius: 40px;}
.author-image img{width:40px; height:40px;border-radius:40px; -webkit-border-radius:40px; -moz-border-radius:40px; -o-border-radius: 40px;}

.cards-remaining{font-weight:bold; padding-bottom:20px; font-size:125%;}


/*
 * signup block
 */
.fcard-signup{
    box-shadow: 1px 1px 3px #e6e6e6;
    box-shadow: 1px 1px 1px #777777;
    -webkit-box-shadow: 1px 1px 1px #777777;
    -o-box-shadow: 1px 1px 1px #777777;
    -moz-box-shadow: 1px 1px 1px #777777;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: default;
    
	background:url("http://img.businessdictionary.com/flashcards/f-signup-300x250-bg.png");
	background-size: 100%;
	height: 250px;
	min-height: 250px;
	margin: 10px 0;
}

.fcard-signup-inner{padding-top:25px; color: #ffffff; font-size: 120%;}
.fcard-signup-inner h3{font-size:150%;}
.fcard-signup-inner input[type="text"]{display:inline-block; margin-top:15px; padding:7px 9px; font-size:16px; border:none; width:80%; color: #444444;}
.fcard-signup-inner input[type="submit"]{font-size:100%; margin-top:20px; box-shadow: 1px 1px 15px #333333; color: #ffffff !important;}
.signup-pitch{color: #ffffff; font-size:16px;}
.signup-pitch .signup-pitch-deck-title{color:#c63c2a; font-size:120%; padding: 10px 0 20px 0; font-weight: bold;}

.fc-container [class*="col-"] {
    padding-left: 2px;
    padding-right: 2px;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.fc-container{padding: 10px 8px;}
	
	/*
	 * signup block
	 */
	.fcard-signup{
		margin: 10px 0;
		background:url("http://img.businessdictionary.com/flashcards/f-signup-300x600-bg.png");
    	background-size: 100%;
		min-height: 670px;
		height: 670px;
	    width: 354px;
	}
	
	.fcard-signup-inner{padding-top:150px;}
	.fcard-signup-inner h3{font-size:175%;}
	.fcard-signup-inner input[type="text"]{margin-top:35px; width:275px;}
	.fcard-signup-inner input[type="submit"]{margin-top:35px; font-size:150%;}
	
	.intro-info .details{font-size: 20px;}
	
	.affix-bottom {position: absolute;}
	.wfi-slot{margin-left:0;}
	
	[class*="col-"] {
	    padding-left: 7px !important;
	    padding-right: 7px !important;
	}

	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}


/* only mobile and tablet specific css below here */
@media all and (max-width:768px){
	.fc-fullpage .block-fixed-width{min-height:100%;}
	.white-outline-btn.membership-login-link{border:none;}
}


