html { background: #161515; }
body { margin: 0; background: url(http://teatroporno.woxcdn.com/static/images/body-bg.png) repeat-x left top; text-align: center; font: 12px normal Tahoma, sans-serif; color: #8b8b8b; }

a { color: #ffffff; text-decoration: none; }
a:hover { text-decoration: underline; }

a img { border: 0; }

ul, ul li { margin: 0; padding: 0; }
ul li { list-style: none; }

.clear { clear: both; }
.last { background-image: none !important; }

.relative-wrapper { width: 100%; position: relative; }

.wrapper { width: 1240px; min-width: 1240px; margin: 0 auto; text-align: left; }

.multi { width: 100%; } 

.network { width: 100%; height: 31px; display: block; overflow: hidden; line-height: 32px; font-size: 11px; background: url(http://teatroporno.woxcdn.com/static/images/network-bg.png) no-repeat -7px top; }
.network ul { float: left; width: 1040px; height: 32px; display: block; overflow: hidden; text-indent: 64px;}
.network ul li { float: left; padding: 0 11px 0 10px; text-transform: uppercase; }
.network .signup { float: right; }
.network .signup li a { color: #ffffff; text-transform: lowercase; }
.network strong { color: #ffffff; }
.network .share { width: 160px; margin-top: 6px; float: right; }
.network .share a.addthis_button_expanded{text-decoration: underline; margin: 0px 0px 0px 0px;}

.header { width: 100%; background: url(http://teatroporno.woxcdn.com/static/images/header-bg.png) no-repeat -7px 0; }
.header .logo { display: block; width: 280px; height: 60px; margin: 0 0 0 -7px; float: left; position: relative; overflow: hidden; }
.header .logo span { display:none; }
.header .text { width: 400px; height: 60px; float: left; margin: 0 0 0 70px; display: block; overflow: hidden; }
.header .text h1 { width: 400px; height: 20px; display: block; font-size: 20px; line-height: 20px; overflow: hidden; font-weight: normal; margin: 4px 0 0 0; padding: 0; }
.header .text h1 span { color: #9cca01; }
.header .text p { margin: 10px 0; font-size: 14px; }
.header .text p span { color: #ffffff; }
.header .category-title h1 { margin-top: 18px; }

.search-bar { width: 100%; height: 32px; padding: 0 0 8px 4px; background: url(http://teatroporno.woxcdn.com/static/images/menu-bg.png) no-repeat left -8px top; }
.search { height: 32px; margin: 2px 0 0 38px; float: left; }
.search span { font-size: 20px; line-height: 30px; text-transform: uppercase; float: left; }
.search input[type=text] { width: 245px; height: 30px; margin: 0; padding: 0 0 0 4px; float: left; border: 0; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-form.png) no-repeat left top; line-height: 26px; color: #ffffff; }
.search input[type=submit] { width: 61px; height: 30px; margin: 0; padding: 0; border: 0; float: left; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-button.png) no-repeat left top; cursor: pointer;  }

.nav { height: 28px; float: right; margin: 3px 0 0 0; }
.nav li { display: inline-block; }
.nav li a { padding: 0 10px; display: block; line-height: 28px; text-transform: uppercase; }
.nav li a:hover { background: #262626; color: #9cca01; text-decoration: none; background: url(http://teatroporno.woxcdn.com/static/images/menu-active.png) no-repeat bottom; }

.search-bar h2 { display: inline; margin: 0; font-size: 12px; font-weight: normal; }
.share { width: 150px; margin: 9px 0 0 0; float: right; }
.keys { width: 520px; height: 56px; line-height: 56px; display: block; overflow: hidden; float: right; text-align: right; }
.keys h2 { display: inline; margin: 0; font-size: 12px; font-weight: normal; }

.multi .search { float: none; margin: 8px 0 0 0; }
.multi .keys { float: none; margin: 6px 0 0 0; }

.title { width: 100%; height: 38px; line-height: 38px; text-indent: 10px; background: url(http://teatroporno.woxcdn.com/static/images/title-bg.png) repeat-x left top; text-align:left;}
.title h2, .title h3 { margin: 0; padding: 0; font-size: 12px; color: #ffffff; }
.title a { font-size: 18px; margin: 0 8px 0 0; }
.models-title .float-right { font-size: 12px; float: right; margin: 0 8px 0 0; text-transform: uppercase; }
.models-title h2, .models-title h3 { float: left; margin: 0 20px 0 0; }

.menu { position: absolute; width: 176px; float: left; margin: 0 0 0 7px; }
.menu ul { margin: 12px 0; }
.menu ul li { color: #ffffff; line-height: 24px; }
.menu ul li input[type=radio] { float: left; margin: 5px 10px 0 10px; }
.menu ul li .expand { color: #ffffff; padding: 0 0 0 12px; font-weight: bold; margin: 0 0 0 13px; text-transform: uppercase; }
.menu .expandable { display: none; margin: 0; }

.menu .channel { margin: 0 0 0 26px; }
.menu .channel li { list-style: circle; }

.disclamer { width: 800px; margin: 0 auto; }
.content { width: 100%; }
.content .thumb { float: left; margin: 3px 5px 3px 3px;  }
.content .thumb .image { float: left; }
.content .thumb .image a img { width: 300px; height: 225px; border: 1px solid #393939; float: left; }
.content .thumb .image a:hover img { border-color: #494949; } 
.content .thumb .report { width: 15px; height: 15px; position: absolute; margin: 163px 0 0 4px; }
.content .thumb .duration { width: 53px; height: 15px; display: block; overflow: hidden; position: absolute; margin: 210px 0 0 247px; background: url(http://teatroporno.woxcdn.com/static/images/duration.png); font-size: 10px; text-align: center; line-height: 15px; color: #ffffff; }
.content .thumb .description { width: 242px; height: 15px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 15px; color: #ffffff; }
.content .thumb .descriptionm { font-size: 17px; width: 302px; height: 20px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 20px; color: #ffffff; text-align: center; text-transform: uppercase; }
.content .thumb .descriptionm a { color: #ffffff; text-decoration: none; }
.content .thumb .descriptionm a:hover { text-decoration: underline; }
.content .thumb .category { width: 50%; height: 14px; display: block; float: left; font-size: 11px; }
.content .thumb .category a { color: #9cca01; text-decoration: none; }
.content .thumb .source { width: 50%; height: 14px; display: block; float: left; text-align: right; font-size: 11px; color: #9cca01; }
.content .thumb .source a { color: #9cca01; text-decoration: none; }
.head-title h1 {font: 18px normal Tahoma, sans-serif; color: #8b8b8b;}
.head-title strong { color: #ffffff; font-weight: bold;}

/*banners*/
.breklama { float: left; width: 100%; text-align: center; float: left; }
.breklama .inner { width: 954px; margin: 14px auto 0 auto; }
.breklama .banner { width: 300px; height: 250px; margin: 9px; float: left; }
.breklama .banner2 { width: 300px; height: 250px; margin: 9px; float: left; }
.breklama .banner3 { width: 300px; height: 250px; margin: 9px; float: left; }
.reklama {float: left; width: 100%;   left top; text-align: center; float: left;}
.reklama.banners {width: 300px; height: 250px; margin: 9px; float: left;}

.banners a {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin: 0 10px 10px;
}

  .content {
    padding: 0;
    
    margin: auto;


   }

.video {
  width: 100%;
  position: relative;
  padding-top: 56.25%;
color:red;
}
.video iframe, .video object, .video embed{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video span {font-size: 1px;}

.content .related { margin: 0; }
.content .related ul li { display: inline }
.content .related ul li:before { content: ", " }
.content .related ul li:first-child:before { content: "" }
.content .related .related-list { margin: 10px 0 0 0; }
.content .related .related-list h2, .content .related .related-list h3 { display: inline; margin: 0; font-size: 14px; font-weight: normal; }


.content .pagination { width: 100%; float: left; margin: 5px 0 5px 0; }
.content .pagination ul { float: left; }
.content .pagination ul li a { font-weight: bold;}
.content .pagination ul li a:hover { text-decoration: none; }
.content .pagination ul li { float: left; margin: 0 0 0 2px; line-height: 35px; text-align: center; background: url(http://teatroporno.woxcdn.com/static/images/paginator-bg.png) no-repeat left top; color: #ffffff; }
.content .pagination ul li a { display: block; width: 35px; color: #ffffff; }
.content .pagination ul li a:hover { color: #9cca01; }
.content .pagination ul li a.pagination-nav { width: 100px; height: 35px; float: left; margin-right: 0px; line-height: 35px; color: #ffffff; background: url(http://teatroporno.woxcdn.com/static/images/nav-notactive.png) left top; text-align: center; text-transform: lowercase; }
.content .pagination ul li.prev, .content .pagination ul li.next { width: 63px; height: 35px; float: left; margin: 0 2px 0 0; line-height: 35px; color: #ffffff; background: url(http://teatroporno.woxcdn.com/static/images/nav-notactive.png) no-repeat left top; text-align: center; text-transform: lowercase; }
.content .pagination ul li.prev a, .content .pagination ul li.next a { color: #ffffff; display: block; }
.content .pagination ul li.prev:hover, .content .pagination ul li.next:hover { background-image: url(http://teatroporno.woxcdn.com/static/images/nav-active.png); }
.content .pagination ul li.prev:hover a, .content .pagination ul li.next:hover a { color: #000000; }
.content .pagination .pageinfo { float: left; margin: 0 0 0 40px; line-height: 35px; color: #ffffff; }


.filters { float: right; margin-right: 3px; }
.content .models-pagination { width: 200px; margin: 2px 0 0 0; float: right; }
.multi .content { margin: -59px 0px 0px 0px; }
.multi .content .thumb { margin: 0 0 6px 6px; }
.sidebar { width: 300px; float: right; margin: 0 7px 0 -307px; }
.sidebar .col { width: 130px; float: left; margin: 0 10px 17px 10px; }
.sidebar .col a { color: #8b8b8b; }
.sidebar .col a:hover { text-decoration: underline; }
.sidebar .col h4 { margin: 7px 0; padding: 0; color: #ffffff; }
.bcats { width: 1254px; float: left; margin: 0 7px 0 0; }
.bcats .col { width: 120px; float: left; margin: 0 10px 17px 10px; padding: 15px;}
.bcats .col a { color: #ffffff; }
.bcats .col a:hover { text-decoration: underline; }
.bcats .col h4 { margin: 7px 0; padding: 0; color: #ffffff; }
.banner { margin: 0 0 17px 0; }
.related-list { font-size: 14px; line-height: 24px; padding: 0 3px 0 3px; text-align:left;}
.related-list a { color: #ffffff; }
.related-list b { font-weight: normal; }
.footer { float: left; width: 100%; background: url(http://teatroporno.woxcdn.com/static/images/footer-bg.png) repeat-x right bottom, url(http://teatroporno.woxcdn.com/static/images/banner.png) repeat-x left top; text-align: center; float: left; }
.footer .inner { width: 954px; margin: 6px auto 0 auto; }
.footer .banner { width: 300px; height: 250px; margin: 9px; float: left; }
.footer .banner2 { width: 300px; height: 250px; margin: 9px; float: left; }
.footer .banner3 { width: 300px; height: 250px; margin: 9px; float: left; }
.footer .ftext { margin: 0 auto 0 auto; padding: 26px 0 0 0; text-align: left; }
.footer .disclamer { width: 654px; height: 118px; margin: 0 auto; padding: 0 300px 0 0; text-align: left; background: url(http://teatroporno.woxcdn.com/static/images/footer-logo.png) no-repeat right bottom; font-size: 11px; }
.column { width: 167px; float: left; margin-left: 10px; }
.column h3 { color: #ffffff; }
.column ul { margin: 6px 0; width: 100%; }
.column ul li { display: block; }
.column ul li a { color: #c9c9c9; text-decoration: none; }
.column ul li a:hover { text-decoration: underline; }
.open { display: block; }
.overlay { display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,0.7); text-align: center; }
.overlay .title h2, .overlay .title h3 { float: left; text-transform: uppercase; }
.overlay .close { float: right; margin: 11px 11px 0 0; }
.overlay_container { width: 708px; margin: 200px auto 0 auto; background: #131315 url(http://teatroporno.woxcdn.com/static/images/html-bg.png) repeat left top; text-align: left; }
.overlay_container .column h3 { margin: 9px 0 10px 0; }
.overlay_container .x2 { width: 340px; margin: 0; }
.overlay_container .x2 h3 { width: 100%; text-indent: 10px; }
.overlay_container .x2 ul { float: left; width: 160px; margin: 0 0 0 10px; }
.filter_type2 a { display: block; }
.filter_type2 .selected { background: #9cca01; color: #000000; text-indent: 4px; }
.filter_type3 { position: absolute; }
.filter_type3 .overlay_container { width: 1240px; margin-top: 100px; }
.apply_filters { width: 76px; height: 30px; margin: 10px; float: right; border: 0; background: transparent url(http://teatroporno.woxcdn.com/static/images/apply.png) no-repeat left top; cursor: pointer; }

.terms {
    padding:20px;
    max-width: 800px;
    margin: 0 auto 0 auto;
    color: #8b8b8b;
}
.terms h1 {
    text-align: center;
    margin-bottom: 10px;
}
.terms p {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}
.terms a {
    color: #9cca01;
}
.terms h2 {
    font-weight: bold;
    padding: 0;
    border: 0;
    box-shadow: none;
    margin-bottom: 10px;
}
.terms ul, .terms ol {
    margin-left: 20px;
}
.terms ul li, .terms ol li {
    text-align: justify;
    margin-bottom: 10px;
}
.terms ol {
    list-style-type: none;
}
.terms ol li:before {
    content: "(" counter(section, lower-alpha) ") ";
    font-weight: bold;
}
.terms ol li {
    counter-increment: section;
    margin-left: 10px;
}
.terms .wopt{
    vertical-align: top;
    border-style: none;
}
.terms .terms-dates {
    margin-bottom: 10px;
    text-align: center;
}

/*feedback*/
.feedback_form{
    width:650px;
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
    margin-bottom:10px;
    text-align:center;
    color:#000;
    font-size:12px;
}
.feedback_form input, .feedback_form textarea{
    width:250px;
    font-size:12px;
    color:#efefef;
    background:#3d3d45;
    border:1px solid #4f423d;
    padding:6px;
}
.feedback_form textarea{
    height:160px;
}
.feedback_form input[type=submit]{
    margin-bottom: 24px;
  padding: 12px 18px;
    border: none;
    background: #ef9e46;
  background: -moz-linear-gradient(top, #9cca01 0%, #9cca01 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9cca01), color-stop(100%,#9cca01));
  background: -webkit-linear-gradient(top, #9cca01 0%,#9cca01 100%);
  background: -o-linear-gradient(top, #9cca01 0%,#9cca01 100%);
  background: -ms-linear-gradient(top, #9cca01 0%,#9cca01 100%);
  background: linear-gradient(to bottom, #9cca01 0%,#9cca01 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cca01', endColorstr='#9cca01',GradientType=0 );
    margin-left: 13px;
    font-weight: bold;
  font-size: 18px;
    color: #fff;
    text-shadow: 1px 1px 0 #244400;
    width: 180px;
    cursor: pointer;
}
.feedback_form .message{
    margin-top:50px;
    margin-bottom:70px;
}
.feedback_form p{
    text-align: justify;
}
.feedback_form .captcha{
    width:318px;
    margin:5px auto 5px auto;
}
.feedback_form ul{
    text-align: justify;
}
.feedback_form ul li:before{ 
    content:"-"; 
    position:relative; 
    left:-15px;
}
.feedback_form ul li{ 
    text-indent: -5px; 
    margin-left:20px; 
}

.smartad { width: 300px; height: 225px; float: left; margin:3px; background-color: #2a2828; border: 1px solid #393939; }
.smartad iframe { transform: scale(0.862, 0.862); -webkit-transform: scale(0.862, 0.862); -ms-transform: scale(0.862, 0.862); -o-transform: scale(0.862, 0.862); margin: -135px 0px 0px -15px;}
.smartad span {
	float: right;
    font-size: 15px;
    margin: 105px -10px 0px 0px;
    transform: rotate(90deg);
    -o-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
    font-family: Tahoma;
    color: #fff;
}
.header_banner{display:none;text-align:center;margin:5px 0 5px 0;}

   @media screen and (min-device-width: 2652px) {
	   .content .thumb { width: 300px; float: left; margin:3px; }
.content .thumb .image { float: left; }
    .content .thumb .image a img  {width: 300px; height: 225px; border: 1px solid #393939; float: left;}
    .content .thumb .duration { width: 53px; height: 15px; display: block; overflow: hidden; position: absolute; margin: 210px 0 0 247px; background: url(http://teatroporno.woxcdn.com/static/images/duration.png); font-size: 10px; text-align: center; line-height: 15px; color: #ffffff; }
    .content .thumb .descriptionm { font-size: 17px; width: 300px; height: 20px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 20px; color: #ffffff; text-align: center; text-transform: uppercase; }
    .container {
	max-width: 2580px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
	text-align: left;
}
/*clear-fix container*/
.container:before,
.container:after {
	content: '';
	display: table;
	clear: both;
}
}
   @media screen and (min-device-width: 1600px) {
	   .content .thumb { width: 300px; float: left; margin:3px; }
.content .thumb .image { float: left; }
    .content .thumb .image a img  {width: 300px; height: 225px; border: 1px solid #393939; float: left;}
    .content .thumb .duration { width: 53px; height: 15px; display: block; overflow: hidden; position: absolute; margin: 210px 0 0 247px; background: url(http://teatroporno.woxcdn.com/static/images/duration.png); font-size: 10px; text-align: center; line-height: 15px; color: #ffffff; }
    .content .thumb .descriptionm { font-size: 17px; width: 300px; height: 20px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 20px; color: #ffffff; text-align: center; text-transform: uppercase; }
    .container {
	max-width: 1540px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
	text-align: left;
}
/*clear-fix container*/
.container:before,
.container:after {
	content: '';
	display: table;
	clear: both;
}


   }


@media screen and (max-width: 1280px) {
  .wrapper { width: 100%; min-width: 1200px; max-width: 1280px; margin: 0 auto;}
  .content {

margin: auto;
padding: 0 2px 0 2px;
width:1205px;
text-align: center;
max-width: 100%;
min-width: 320px;
}

	   .content .thumb { width: 293px; float: left; margin: 3px 5px 3px 3px;  }
	   .content .thumb .image { float: left; }
    .content .thumb .image a img  {width: 293px; height: 220px; border: 1px solid #393939; float: left;}
    .content .thumb .duration { width: 53px; height: 15px; display: block; overflow: hidden; position: absolute; margin: 205px 0 0 240px; background: url(http://teatroporno.woxcdn.com/static/images/duration.png); font-size: 10px; text-align: center; line-height: 15px; color: #ffffff; }
    .content .thumb .descriptionm { font-size: 17px; width: 293px; height: 20px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 20px; color: #ffffff; text-align: center; text-transform: uppercase; }
   .container {
	max-width: 1205px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
	text-align: left;
	-moz-column-count: 6; /* Для Firefox */
    -webkit-column-count: 6; /* Для Safari и Chrome */
    column-count: 6;}
/*clear-fix container*/
.container:before,
.container:after {
	content: '';
	display: table;
	clear: both;
}
.column {
    width: 162px;
    float: left;
    margin-left: 10px;
    text-align:left;
}
.smartad { width: 293px; height: 220px; float: left; margin:3px;}
.smartad iframe { transform: scale(0.850, 0.850); -webkit-transform: scale(0.850, 0.850); -ms-transform: scale(0.850, 0.850); -o-transform: scale(0.862, 0.862); margin: -138px 0px 0px -30px;}
}

@media screen and (max-width: 1220px) {
.wrapper { width: 100%; min-width: 1160px;max-width: 1220px; margin: 0 auto; text-align: left; }
.content {

margin: auto;
padding: 0 0 0 0;
width: 1160px;
text-align: center;
max-width: 100%;
min-width: 320px;
}


/*container*/
.container {
	max-width: 1160px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
	text-align: left;
}
/*clear-fix container*/
.container:before,
.container:after {
	content: '';
	display: table;
	clear: both;
}
.content .thumb { width: 282px; float: left; }
.content .thumb .image { float: left; }
.content .thumb .image a img { width: 282px; height: 211px; border: 1px solid #393939; float: left; }
.content .thumb .image a:hover img { border-color: #494949; } 
.content .thumb .report { width: 15px; height: 15px; position: absolute; margin: 163px 0 0 4px; }
.content .thumb .duration { width: 53px; height: 15px; display: block; overflow: hidden; position: absolute; margin: 196px 0 0 229px; background: url(http://teatroporno.woxcdn.com/static/images/duration.png); font-size: 10px; text-align: center; line-height: 15px; color: #ffffff; }
.content .thumb .description { width: 282px; height: 15px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 15px; color: #3f646e; }
.content .thumb .descriptionm { font-size: 17px; width: 282px; height: 20px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 20px; color: #3f646e; text-align: center; text-transform: uppercase;}

.column { width: 155px; float: left; }

.smartad { width: 282px; height: 211px; float: left; margin: 3px;}
.smartad iframe { transform: scale(0.830, 0.830); -webkit-transform: scale(0.830, 0.830); -ms-transform: scale(0.830, 0.830); -o-transform: scale(0.862, 0.862); margin: -142px 0px 0px -27px;}
}
@media screen and (max-width: 1190px) {
.wrapper { width: 100%; min-width: 1110px; max-width: 1190px; margin: 0 auto; text-align: left; }
.content {

margin: auto;
padding: 0 0 0 0;
width: 1115px;
text-align: center;
max-width: 100%;
min-width: 320px;
}


/*container*/
.container {
	max-width: 1115px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
	text-align: left;
}
/*clear-fix container*/
.container:before,
.container:after {
	content: '';
	display: table;
	clear: both;
}
.content .thumb { width: 270px; float: left; }
.content .thumb .image { float: left; }
.content .thumb .image a img { width: 270px; height: 204px; border: 1px solid #393939; float: left; }
.content .thumb .image a:hover img { border-color: #494949; } 
.content .thumb .report { width: 15px; height: 15px; position: absolute; margin: 163px 0 0 4px; }
.content .thumb .duration { width: 53px; height: 15px; display: block; overflow: hidden; position: absolute; margin: 179px 0 0 217px; background: url(http://teatroporno.woxcdn.com/static/images/duration.png); font-size: 10px; text-align: center; line-height: 15px; color: #ffffff; }
.content .thumb .description { width: 270px; height: 15px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 15px; color: #3f646e; }
.content .thumb .descriptionm { font-size: 17px; width: 270px; height: 20px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 20px; color: #3f646e; text-align: center; text-transform: uppercase;}

.column { width: 149px; float: left; }
.smartad { width: 270px; height: 204px; float: left; margin: 3px;}
.smartad iframe { transform: scale(0.770, 0.770); -webkit-transform: scale(0.770, 0.770); -ms-transform: scale(0.770, 0.770); -o-transform: scale(0.770, 0.770); margin: -130px 0px 0px -27px;}
.smartad span {margin: 90px -10px 0px 0px;}
}

}


@media screen and (max-width: 1160px) {
.wrapper { width: 100%; min-width: 1080px; max-width: 1160px; margin: 0 auto; text-align: left; }
.content {

margin: auto;
padding: 0 0 0 0;
width: 1085px;
text-align: center;
max-width: 100%;
min-width: 320px;
}


/*container*/
.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
	text-align: left;
}
/*clear-fix container*/
.container:before,
.container:after {
	content: '';
	display: table;
	clear: both;
}
.content .thumb { width: 263px; float: left; }
.content .thumb .image { float: left; }
.content .thumb .image a img { width: 263px; height: 200px; border: 1px solid #393939; float: left; }
.content .thumb .image a:hover img { border-color: #494949; } 
.content .thumb .report { width: 15px; height: 15px; position: absolute; margin: 163px 0 0 4px; }
.content .thumb .duration { width: 53px; height: 15px; display: block; overflow: hidden; position: absolute; margin: 185px 0 0 210px; background: url(http://teatroporno.woxcdn.com/static/images/duration.png); font-size: 10px; text-align: center; line-height: 15px; color: #ffffff; }
.content .thumb .description { width: 263px; height: 15px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 15px; color: #3f646e; }
.content .thumb .descriptionm { font-size: 17px; width: 263px; height: 20px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 20px; color: #3f646e; text-align: center; text-transform: uppercase;}

.column { width: 145px; float: left; }
.smartad { width: 263px; height: 200px; float: left; margin: 3px;}
.smartad iframe { transform: scale(0.750, 0.750); -webkit-transform: scale(0.750, 0.750); -ms-transform: scale(0.750, 0.750); -o-transform: scale(0.750, 0.750); margin: -140px 0px 0px -31px;}
.smartad span {margin: 98px -30px 0px 0px;}
}

@media screen and (max-width: 1126px) {
.wrapper { width: 100%; min-width: 1066px; max-width: 1126px; margin: 0 auto; text-align: left; }
.content {

margin: auto;
padding: 0 0 0 0;
width: 1050px;
text-align: center;
max-width: 100%;
min-width: 320px;
}


/*container*/
.container {
	max-width: 1066px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
	text-align: left;
}
/*clear-fix container*/
.container:before,
.container:after {
	content: '';
	display: table;
	clear: both;
}
.content .thumb { width: 253px; float: left; }
.content .thumb .image { float: left; }
.content .thumb .image a img { width: 253px; height: 190px; border: 1px solid #393939; float: left; }
.content .thumb .image a:hover img { border-color: #494949; } 
.content .thumb .report { width: 15px; height: 15px; position: absolute; margin: 163px 0 0 4px; }
.content .thumb .duration { width: 53px; height: 15px; display: block; overflow: hidden; position: absolute; margin: 175px 0 0 200px; background: url(http://teatroporno.woxcdn.com/static/images/duration.png); font-size: 10px; text-align: center; line-height: 15px; color: #ffffff; }
.content .thumb .description { width: 253px; height: 15px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 15px; color: #3f646e; }
.content .thumb .descriptionm { font-size: 17px; width: 253px; height: 20px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 20px; color: #3f646e; text-align: center; text-transform: uppercase;}

.column { width: 140px; float: left; }
.smartad { width: 253px; height: 190px; float: left; margin: 3px;}
.smartad iframe { transform: scale(0.700, 0.700); -webkit-transform: scale(0.700, 0.700); -ms-transform: scale(0.700, 0.700); -o-transform: scale(0.700, 0.700); margin: -133px 0px 0px -36px;}
.smartad span {margin: 85px -10px 0px 0px;}
}
/*  1080 x 1920 */
@media screen and (max-width:1080px) {
.clear { clear: both; }
.title-video {width: 925px;}
.header .category-title h1 { display: none;}
.header .text { display: none; }
.nav {display: none;}
.share { display: none;}
.network ul li {display: none;}
.title { display: none;}
.column { display: none;}
.last { background-image: none !important; }
.relative-wrapper { width: 100%; position: relative; }
.wrapper { width: 100%; min-width: 320px; margin: 0 auto; text-align: left; }
.multi { width: 100%; } 
.clear { clear: both; }
.footer .inner { width: 100%; margin: 6px auto 0 auto; }
.footer .banner { width: 300px; height: 250px; margin: 9px; float: left; }
.footer .ftext { margin: 0 auto 0 auto; padding: 26px 0 0 0; text-align: left; }
.footer .disclamer { width: 100%; height: 115px; margin: 0 auto; padding: 0 0px 0 0; text-align: left; background: none; font-size: 11px; }
.breklama { float: left; width: 100%; text-align: center; }
.breklama .inner { width: 100%; margin: 14px auto 0 auto; }
.breklama .banner { width: 300px; height: 250px; margin: 9px; float: left; }
.breklama .inner .bb{display: table;margin: 0 auto;text-align: center;}
.search-bar { width: 285px; height: 39px; margin: 0 0 0 -8px; padding: 0 0 1px 4px; background: url(http://teatroporno.woxcdn.com/static/images/menu-bg.png) no-repeat left top; }
.search { height: 27px; margin: 6px 0 0 68px; float: left; }
.search span { font-size: 20px; line-height: 30px; text-transform: uppercase; float: left; }
.search input[type=text] { width: 242px; height: 26px; margin: 0 0 0 4px; padding: 0 0 0 4px; float: left; border: 0; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-form.png) no-repeat left top; line-height: 26px; color: #ffffff; }
.search input[type=submit] { width: 67px; height: 26px; margin: -26px 0 0 252px; padding: 0; border: 0; float: left; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-button.png) no-repeat left top; cursor: pointer;  }
.search-bar h2 { display: inline; margin: 0; font-size: 12px; font-weight: normal; }


.content .pagination ul li  a { display: none; }
.content .pagination li a.active, .content .pagination li a.pagination-nav { display: inline !important; float: left; }
.content .paginationd .pageinfo { float: left; margin: 0 0 0 0px; line-height: 0px; color: #ffffff; }
.content .pagination .pageinfo { float: left; margin: 0 0 0 0px; line-height: 35px; color: #ffffff; }
.search { height: 26px; margin: 4px 0 0 25px; float: left; }
.search span { font-size: 20px; line-height: 30px; text-transform: uppercase; float: left; }
.search input[type=text] { width: 917px; height: 26px; margin: 0 0 0 4px; padding: 0 0 0 4px; float: left; border: 0; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-form.png) left top; line-height: 28px; color: #333333; }
.search input[type=submit] { width: 67px; height: 26px; margin: -26px 0 0 925px; padding: 0; border: 0; float: left; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-button.png) no-repeat left top; cursor: pointer;  }

}

@media screen and (max-width: 1060px) {


.content {

margin: auto;
padding: 0 0 0 0;
width: 996px;
text-align: center;
max-width: 100%;
min-width: 320px;
}


/*container*/
.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}
/*clear-fix container*/
.container:before,
.container:after {
	content: '';
	display: table;
	clear: both;
}

.content .thumb { width: 241px; float: left; }
.content .thumb .image { float: left; }
.content .thumb .image a img { width: 241px; height: 181px; border: 1px solid #393939; float: left; }
.content .thumb .image a:hover img { border-color: #494949; } 
.content .thumb .report { width: 15px; height: 15px; position: absolute; margin: 163px 0 0 4px; }
.content .thumb .duration { width: 53px; height: 15px; display: block; overflow: hidden; position: absolute; margin: 166px 0 0 188px; background: url(http://teatroporno.woxcdn.com/static/images/duration.png); font-size: 10px; text-align: center; line-height: 15px; color: #ffffff; }
.content .thumb .description { width: 241px; height: 15px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 15px; color: #3f646e; }
.content .thumb .descriptionm { font-size: 17px; width: 241px; height: 20px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 20px; color: #3f646e; text-align: center; text-transform: uppercase;}
.content .pagination .pageinfo { float: left; margin: 0 0 0 0px; line-height: 35px; color: #ffffff; }
.column { width: 153px; float: left; }
.search { height: 26px; margin: 4px 0 0 25px; float: left; }
.search span { font-size: 20px; line-height: 30px; text-transform: uppercase; float: left; }
.search input[type=text] { width: 877px; height: 26px; margin: 0 0 0 4px; padding: 0 0 0 4px; float: left; border: 0; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-form.png) left top; line-height: 28px; color: #333333; }
.search input[type=submit] { width: 67px; height: 26px; margin: -26px 0 0 885px; padding: 0; border: 0; float: left; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-button.png) no-repeat left top; cursor: pointer;  }
.smartad { width: 241px; height: 181px; float: left; margin: 3px;}
.smartad iframe { transform: scale(0.660, 0.660); -webkit-transform: scale(0.660, 0.660); -ms-transform: scale(0.660, 0.660); -o-transform: scale(0.660, 0.660); margin: -133px 0px 0px -41px;}
.smartad span {margin: 80px -10px 0px 0px;}
}
@media screen and (max-width: 1020px) {


.content {

margin: auto;
padding: 0 0 0 0;
width: 960px;
text-align: center;
max-width: 100%;
min-width: 320px;
}


/*container*/
.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}
/*clear-fix container*/
.container:before,
.container:after {
	content: '';
	display: table;
	clear: both;
}
.content .paginationd ul {display: none;}
.content .paginationd { width: 100%; float: left; margin: -6px 0 -6px 3px; }
.content .thumb { width: 232px; float: left;}
.content .thumb .image { float: left; }
.content .thumb .image a img { width: 232px; height: 174px; border: 1px solid #393939; float: left; }
.content .thumb .image a:hover img { border-color: #494949; } 
.content .thumb .report { width: 15px; height: 15px; position: absolute; margin: 163px 0 0 4px; }
.content .thumb .duration { width: 53px; height: 15px; display: block; overflow: hidden; position: absolute; margin: 159px 0 0 179px; background: url(http://teatroporno.woxcdn.com/static/images/duration.png); font-size: 10px; text-align: center; line-height: 15px; color: #ffffff; }
.content .thumb .description { width: 232px; height: 15px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 15px; color: #3f646e; }
.content .thumb .descriptionm { font-size: 14px; width: 232px; height: 20px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 20px; color: #3f646e; text-align: center; text-transform: uppercase;}

.footer .banner3 { display: none; }
.breklama .banner3 {display: none;}
.title-cat {display: none;}
.column { display: none;}
.search { height: 26px; margin: 4px 0 0 25px; float: left; }
.search span { font-size: 20px; line-height: 30px; text-transform: uppercase; float: left; }
.search input[type=text] { width: 837px; height: 26px; margin: 0 0 0 4px; padding: 0 0 0 4px; float: left; border: 0; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-form.png) left top; line-height: 28px; color: #333333; }
.search input[type=submit] { width: 67px; height: 26px; margin: -26px 0 0 845px; padding: 0; border: 0; float: left; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-button.png) no-repeat left top; cursor: pointer;  }
.smartad { width: 232px; height: 174px; float: left; margin: 3px; }
.smartad iframe { transform: scale(0.630, 0.630); -webkit-transform: scale(0.630, 0.630); -ms-transform: scale(0.630, 0.630); -o-transform: scale(0.630, 0.630); margin: -133px 0px 0px -46px;}
.smartad span {margin: 77px -13px 0px 0px;}

}

@media screen and (max-width: 980px) {


.content {

margin: auto;
padding: 0 0 0 0;
width: 916px;
text-align: center;
max-width: 100%;
min-width: 320px;
}


/*container*/
.container {
	max-width: 920px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}
/*clear-fix container*/
.container:before,
.container:after {
	content: '';
	display: table;
	clear: both;
}

.content .thumb { width: 221px; float: left;}
.content .thumb .image { float: left; }
.content .thumb .image a img { width: 221px; height: 166px; border: 1px solid #393939; float: left; }
.content .thumb .image a:hover img { border-color: #494949; } 
.content .thumb .report { width: 15px; height: 15px; position: absolute; margin: 163px 0 0 4px; }
.content .thumb .duration { width: 53px; height: 15px; display: block; overflow: hidden; position: absolute; margin: 151px 0 0 168px; background: url(http://teatroporno.woxcdn.com/static/images/duration.png); font-size: 10px; text-align: center; line-height: 15px; color: #ffffff; }
.content .thumb .description { width: 221px; height: 15px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 15px; color: #3f646e; }
.content .thumb .descriptionm { font-size: 17px; width: 221px; height: 20px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 20px; color: #3f646e; text-align: center; text-transform: uppercase;}


li.last {display: none;}
li.last2 {display: none;}
li.last4 {display: none;}

.footer .disclamer { width: 860px; margin: 0 auto; padding: 0 0px 0 0; text-align: left; font-size: 11px; }
.search { height: 26px; margin: 4px 0 0 25px; float: left; }
.search span { font-size: 20px; line-height: 30px; text-transform: uppercase; float: left; }
.search input[type=text] { width: 797px; height: 26px; margin: 0 0 0 4px; padding: 0 0 0 4px; float: left; border: 0; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-form.png) left top; line-height: 28px; color: #333333; }
.search input[type=submit] { width: 67px; height: 26px; margin: -26px 0 0 805px; padding: 0; border: 0; float: left; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-button.png) no-repeat left top; cursor: pointer;  }
.smartad { width: 221px; height: 166px; float: left; margin: 3px; }
.smartad iframe { transform: scale(0.610, 0.610); -webkit-transform: scale(0.610, 0.610); -ms-transform: scale(0.610, 0.610); -o-transform: scale(0.610, 0.610); margin: -134px 0px 0px -51px;}
.smartad span {margin: 73px -13px 0px 0px;}
}

@media screen and (max-width: 940px) {

.content {

margin: auto;
padding: 0 0 0 0;
width: 880px;
text-align: center;
max-width: 100%;
min-width: 320px;
}


/*container*/
.container {
	max-width: 880px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}
/*clear-fix container*/
.container:before,
.container:after {
	content: '';
	display: table;
	clear: both;
}

.content .thumb { width: 212px; float: left; }
.content .thumb .image { float: left; }
.content .thumb .image a img { width: 212px; height: 159px; border: 1px solid #393939; float: left; }
.content .thumb .image a:hover img { border-color: #494949; } 
.content .thumb .report { width: 15px; height: 15px; position: absolute; margin: 163px 0 0 4px; }
.content .thumb .duration { width: 53px; height: 15px; display: block; overflow: hidden; position: absolute; margin: 145px 0 0 159px; background: url(http://teatroporno.woxcdn.com/static/images/duration.png); font-size: 10px; text-align: center; line-height: 15px; color: #ffffff; }
.content .thumb .description { width: 212px; height: 15px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 15px; color: #3f646e; }
.content .thumb .descriptionm { font-size: 17px; width: 212px; height: 20px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 20px; color: #3f646e; text-align: center; text-transform: uppercase;}
.content .paginationd ul {display: none;}
.content .paginationd { width: 100%; float: left; margin:11px 0 11px 3px; }
.content .paginationd .pageinfo { float: left; margin: 0 0 0 0px; line-height: 0px; color: #ffffff; }
.search { height: 26px; margin: 4px 0 0 25px; float: left; }
.search span { font-size: 20px; line-height: 30px; text-transform: uppercase; float: left; }
.search input[type=text] { width: 757px; height: 26px; margin: 0 0 0 4px; padding: 0 0 0 4px; float: left; border: 0; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-form.png) left top; line-height: 28px; color: #333333; }
.search input[type=submit] { width: 67px; height: 26px; margin: -26px 0 0 765px; padding: 0; border: 0; float: left; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-button.png) no-repeat left top; cursor: pointer;  }
.smartad { width: 212px; height: 159px; float: left; margin: 3px; }
.smartad iframe { transform: scale(0.580, 0.580); -webkit-transform: scale(0.580, 0.580); -ms-transform: scale(0.580, 0.580); -o-transform: scale(0.580, 0.580); margin: -132px 0px 0px -56px;}
.smartad span {margin: 70px -13px 0px 0px;}
}
@media screen and (max-width: 900px) {


.content {

margin: auto;
padding: 0 0 0 0;
width: 836px;
text-align: center;
max-width: 100%;
min-width: 320px;
}


/*container*/
.container {
	max-width: 840px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}
/*clear-fix container*/
.container:before,
.container:after {
	content: '';
	display: table;
	clear: both;
}

.content .thumb { width: 201px; float: left; }
.content .thumb .image { float: left; }
.content .thumb .image a img { width: 201px; height: 151px; border: 1px solid #393939; float: left; }
.content .thumb .image a:hover img { border-color: #494949; } 
.content .thumb .report { width: 15px; height: 15px; position: absolute; margin: 163px 0 0 4px; }
.content .thumb .duration { width: 53px; height: 15px; display: block; overflow: hidden; position: absolute; margin: 136px 0 0 148px; background: url(http://teatroporno.woxcdn.com/static/images/duration.png); font-size: 10px; text-align: center; line-height: 15px; color: #ffffff; }
.content .thumb .description { width: 201px; height: 15px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 15px; color: #3f646e; }
.content .thumb .descriptionm { font-size: 17px; width: 201px; height: 20px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 20px; color: #3f646e; text-align: center; text-transform: uppercase;}

.footer .disclamer { width: 654px; margin: 0 auto; padding: 0 0px 0 0; text-align: left; font-size: 11px; }
.search { height: 26px; margin: 4px 0 0 25px; float: left; }
.search span { font-size: 20px; line-height: 30px; text-transform: uppercase; float: left; }
.search input[type=text] { width: 717px; height: 26px; margin: 0 0 0 4px; padding: 0 0 0 4px; float: left; border: 0; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-form.png) left top; line-height: 28px; color: #333333; }
.search input[type=submit] { width: 67px; height: 26px; margin: -26px 0 0 725px; padding: 0; border: 0; float: left; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-button.png) no-repeat left top; cursor: pointer;  }
.smartad { width: 201px; height: 151px; float: left; margin: 3px;}
.smartad iframe { transform: scale(0.550, 0.550); -webkit-transform: scale(0.550, 0.550); -ms-transform: scale(0.550, 0.550); -o-transform: scale(0.550, 0.550); margin: -132px 0px 0px -60px;}
.smartad span {margin: 65px -14px 0px 0px;}


}

@media screen and (max-width: 860px) {


.content {

margin: auto;
padding: 0 0 0 0;
width: 800px;
text-align: center;
max-width: 100%;
min-width: 320px;
}


/*container*/
.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}
/*clear-fix container*/
.container:before,
.container:after {
	content: '';
	display: table;
	clear: both;
}

.content .thumb { width: 192px; float: left;}
.content .thumb .image { float: left; }
.content .thumb .image a img { width: 192px; height: 144px; border: 1px solid #393939; float: left; }
.content .thumb .image a:hover img { border-color: #494949; } 
.content .thumb .report { width: 15px; height: 15px; position: absolute; margin: 163px 0 0 4px; }
.content .thumb .duration { width: 53px; height: 15px; display: block; overflow: hidden; position: absolute; margin: 129px 0 0 139px; background: url(http://teatroporno.woxcdn.com/static/images/duration.png); font-size: 10px; text-align: center; line-height: 15px; color: #ffffff; }
.content .thumb .description { width: 192px; height: 15px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 15px; color: #3f646e; }
.content .thumb .descriptionm { font-size: 17px; width: 192px; height: 20px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 20px; color: #3f646e; text-align: center; text-transform: uppercase;}
.search { height: 26px; margin: 4px 0 0 25px; float: left; }
.search span { font-size: 20px; line-height: 30px; text-transform: uppercase; float: left; }
.search input[type=text] { width: 677px; height: 26px; margin: 0 0 0 4px; padding: 0 0 0 4px; float: left; border: 0; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-form.png) left top; line-height: 28px; color: #333333; }
.search input[type=submit] { width: 67px; height: 26px; margin: -26px 0 0 685px; padding: 0; border: 0; float: left; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-button.png) no-repeat left top; cursor: pointer;  }
.smartad { width: 392px; height: 296px; float: left; margin: 3px;}
.smartad iframe { transform: scale(1.1,1.1); -webkit-transform: scale(1.1,1.1); -ms-transform: scale(1.1,1.1); -o-transform: scale(1.1,1.1);margin: 22px -17px 13px 14px;}
.smartad span {margin: 140px -13px 0px 0px;}
.smartad:nth-child(odd){float:right;}

}

@media screen and (max-width: 820px) {

.content {

margin: auto;
padding: 0 0 0 0;
width: 756px;
text-align: center;
max-width: 100%;
min-width: 320px;
}


/*container*/
.container {
	max-width: 760px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}
/*clear-fix container*/
.container:before,
.container:after {
	content: '';
	display: table;
	clear: both;
}

.content .thumb { width: 181px; float: left; }
.content .thumb .image { float: left; }
.content .thumb .image a img { width: 181px; height: 136px; border: 1px solid #393939; float: left; }
.content .thumb .image a:hover img { border-color: #494949; } 
.content .thumb .report { width: 15px; height: 15px; position: absolute; margin: 163px 0 0 4px; }
.content .thumb .duration { width: 53px; height: 15px; display: block; overflow: hidden; position: absolute; margin: 121px 0 0 128px; background: url(http://teatroporno.woxcdn.com/static/images/duration.png); font-size: 10px; text-align: center; line-height: 15px; color: #ffffff; }
.content .thumb .description { width: 181px; height: 15px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 15px; color: #3f646e; }
.content .thumb .descriptionm { font-size: 17px; width: 181px; height: 20px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 20px; color: #3f646e; text-align: center; text-transform: uppercase;}
.search { height: 26px; margin: 4px 0 0 25px; float: left; }
.search span { font-size: 20px; line-height: 30px; text-transform: uppercase; float: left; }
.search input[type=text] { width: 637px; height: 26px; margin: 0 0 0 4px; padding: 0 0 0 4px; float: left; border: 0; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-form.png) left top; line-height: 28px; color: #333333; }
.search input[type=submit] { width: 67px; height: 26px; margin: -26px 0 0 645px; padding: 0; border: 0; float: left; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-button.png) no-repeat left top; cursor: pointer;  }
.smartad { width: 370px; height: 280px;}
.smartad iframe { transform: scale(1,1); -webkit-transform: scale(1,1); -ms-transform: scale(1,1); -o-transform: scale(1,1);margin: 15px -17px 13px 14px;}
.smartad span {margin: 130px -13px 0px 0px;}
}

@media screen and (max-width: 780px) {

.content {

margin: auto;
padding: 0 0 0 0;
width: 708px;
text-align: center;
max-width: 100%;
min-width: 320px;
}


/*container*/
.container {
	max-width: 720px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}
/*clear-fix container*/
.container:before,
.container:after {
	content: '';
	display: table;
	clear: both;
}

.content .thumb { width: 228px; float: left; }
.content .thumb .image { float: left; }
.content .thumb .image a img { width: 228px; height: 171px; border: 1px solid #393939; float: left; }
.content .thumb .image a:hover img { border-color: #494949; } 
.content .thumb .report { width: 15px; height: 15px; position: absolute; margin: 163px 0 0 4px; }
.content .thumb .duration { width: 53px; height: 15px; display: block; overflow: hidden; position: absolute; margin: 156px 0 0 175px; background: url(http://teatroporno.woxcdn.com/static/images/duration.png); font-size: 10px; text-align: center; line-height: 15px; color: #ffffff; }
.content .thumb .description { width: 228px; height: 15px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 15px; color: #3f646e; }
.content .thumb .descriptionm { font-size: 12px; width: 228px; height: 20px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 20px; color: #3f646e; text-align: center; text-transform: uppercase;}

.category-title {display: none;}
/*.content .thumb:nth-last-child(15) { display: none;}*/
.content .pagination ul li  a { display: none; }
.content .pagination ul {
    float: none;
    display: inline-block;}
    .content .paginationd ul {display: none;}
.content .pagination li  a.active, .content .pagination li > a.pagination-nav { display: inline !important; float: left; }
.content .pagination .pageinfo { float: none; margin: 0 0 0 0px; line-height: 35px; color: #FFFFFF; }
.content .paginationd { width: 100%; float: left; margin: -6px 0 -6px 4px; }
.search { height: 26px; margin: 4px 0 0 25px; float: left; }
.search span { font-size: 20px; line-height: 30px; text-transform: uppercase; float: left; }
.search input[type=text] { width: 597px; height: 26px; margin: 0 0 0 4px; padding: 0 0 0 4px; float: left; border: 0; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-form.png) left top; line-height: 28px; color: #333333; }
.search input[type=submit] { width: 67px; height: 26px; margin: -26px 0 0 605px; padding: 0; border: 0; float: left; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-button.png) no-repeat left top; cursor: pointer;  }
.smartad { width: 228px; height: 171px;}
.smartad iframe { transform: scale(0.610,0.610); -webkit-transform: scale(0.610,0.610); -ms-transform: scale(0.610,0.610); -o-transform: scale(0.610,0.610);margin: -135px -17px 13px -50px;}
.smartad span {margin: 78px -10px 0px 0px;}
.smartad:nth-child(odd){float:left;}


}

@media screen and (max-width: 740px) {

.content {

margin: auto;
padding: 0 0 0 0;
width: 675px;
text-align: center;
max-width: 100%;
min-width: 320px;
}


/*container*/
.container {
	max-width: 680px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}
/*clear-fix container*/
.container:before,
.container:after {
	content: '';
	display: table;
	clear: both;
}

.content .thumb { width: 217px; float: left; }
.content .thumb .image { float: left; }
.content .thumb .image a img { width: 217px; height: 163px; border: 1px solid #393939; float: left; }
.content .thumb .image a:hover img { border-color: #494949; } 
.content .thumb .report { width: 15px; height: 15px; position: absolute; margin: 163px 0 0 4px; }
.content .thumb .duration { width: 53px; height: 15px; display: block; overflow: hidden; position: absolute; margin: 148px 0 0 164px; background: url(http://teatroporno.woxcdn.com/static/images/duration.png); font-size: 10px; text-align: center; line-height: 15px; color: #ffffff; }
.content .thumb .description { width: 217px; height: 15px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 15px; color: #3f646e; }
.content .thumb .descriptionm { font-size: 12px; width: 217px; height: 20px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 20px; color: #3f646e; text-align: center; text-transform: uppercase;}
.search { height: 26px; margin: 4px 0 0 25px; float: left; }
.search span { font-size: 20px; line-height: 30px; text-transform: uppercase; float: left; }
.search input[type=text] { width: 557px; height: 26px; margin: 0 0 0 4px; padding: 0 0 0 4px; float: left; border: 0; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-form.png) left top; line-height: 28px; color: #333333; }
.search input[type=submit] { width: 67px; height: 26px; margin: -26px 0 0 565px; padding: 0; border: 0; float: left; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-button.png) no-repeat left top; cursor: pointer;  }
.smartad { width: 217px; height: 163px;}
.smartad iframe { transform: scale(0.590 ,0.590); -webkit-transform: scale(0.590 ,0.590); -ms-transform: scale(0.590 ,0.590); -o-transform: scale(0.590 ,0.590);margin: -131px -17px 13px -54px;}
.smartad span {margin: 70px -10px 0px 0px;}

}

@media screen and (max-width: 700px) {

.content {

margin: auto;
padding: 0 0 0 0;
width: 639px;
text-align: center;
max-width: 100%;
min-width: 320px;
}


/*container*/
.container {
	max-width: 640px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}
/*clear-fix container*/
.container:before,
.container:after {
	content: '';
	display: table;
	clear: both;
}

.content .thumb { width: 205px; float: left; }
.content .thumb .image { float: left; }
.content .thumb .image a img { width: 205px; height: 154px; border: 1px solid #393939; float: left; }
.content .thumb .image a:hover img { border-color: #494949; } 
.content .thumb .report { width: 15px; height: 15px; position: absolute; margin: 163px 0 0 4px; }
.content .thumb .duration { width: 53px; height: 15px; display: block; overflow: hidden; position: absolute; margin: 139px 0 0 152px; background: url(http://teatroporno.woxcdn.com/static/images/duration.png); font-size: 10px; text-align: center; line-height: 15px; color: #ffffff; }
.content .thumb .description { width: 205px; height: 15px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 15px; color: #3f646e; }
.content .thumb .descriptionm { font-size: 12px; width: 205px; height: 20px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 20px; color: #3f646e; text-align: center; text-transform: uppercase;}

.footer .banner2 { display: none; }
.breklama .banner2 {display: none;}
.footer .banner3 { display: none; }
.breklama .banner3 {display: none;}

.footer .disclamer { width: 100%;}
.search { height: 26px; margin: 4px 0 0 25px; float: left; }
.search span { font-size: 20px; line-height: 30px; text-transform: uppercase; float: left; }
.search input[type=text] { width: 517px; height: 26px; margin: 0 0 0 4px; padding: 0 0 0 4px; float: left; border: 0; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-form.png) left top; line-height: 28px; color: #333333; }
.search input[type=submit] { width: 67px; height: 26px; margin: -26px 0 0 525px; padding: 0; border: 0; float: left; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-button.png) no-repeat left top; cursor: pointer;  }
.smartad { width: 205px; height: 154px;}
.smartad iframe { transform: scale(0.570 ,0.570); -webkit-transform: scale(0.570 ,0.570); -ms-transform: scale(0.570 ,0.570); -o-transform: scale(0.570 ,0.570);margin: -136px -17px 13px -59px;}
.smartad span {margin: 70px -13px 0px 0px;}


}

@media screen and (max-width: 660px) {

.content {

margin: auto;
padding: 0 0 0 0;
width: 600px;
text-align: center;
max-width: 100%;
min-width: 320px;
}


/*container*/
.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}
/*clear-fix container*/
.container:before,
.container:after {
	content: '';
	display: table;
	clear: both;
}

.content .thumb { width: 192px; float: left; }
.content .thumb .image { float: left; }
.content .thumb .image a img { width: 192px; height: 144px; border: 1px solid #393939; float: left; }
.content .thumb .image a:hover img { border-color: #494949; } 
.content .thumb .report { width: 15px; height: 15px; position: absolute; margin: 163px 0 0 4px; }
.content .thumb .duration { width: 53px; height: 15px; display: block; overflow: hidden; position: absolute; margin: 129px 0 0 139px; background: url(http://teatroporno.woxcdn.com/static/images/duration.png); font-size: 10px; text-align: center; line-height: 15px; color: #ffffff; }
.content .thumb .description { width: 192px; height: 15px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 15px; color: #3f646e; }
.content .thumb .descriptionm { font-size: 12px; width: 192px; height: 20px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 20px; color: #3f646e; text-align: center; text-transform: uppercase;}
.search { height: 26px; margin: 4px 0 0 25px; float: left; }
.search span { font-size: 20px; line-height: 30px; text-transform: uppercase; float: left; }
.search input[type=text] { width: 477px; height: 26px; margin: 0 0 0 4px; padding: 0 0 0 4px; float: left; border: 0; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-form.png) left top; line-height: 28px; color: #333333; }
.search input[type=submit] { width: 67px; height: 26px; margin: -26px 0 0 485px; padding: 0; border: 0; float: left; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-button.png) no-repeat left top; cursor: pointer;  }
.smartad { width: 392px; height: 296px;}
.smartad iframe { transform: scale(1.1 ,1.1); -webkit-transform: scale(1.1 ,1.1); -ms-transform: scale(1.1 ,1.1); -o-transform: scale(1.1 ,1.1);margin: 23px -17px 13px 13px;}
.smartad span {margin: 140px -13px 0px 0px;}
.smartad:nth-child(odd){float:right;}
}

@media screen and (max-width: 620px) {

.content {

margin: auto;
padding: 0 0 0 0;
width: 555px;
text-align: center;
max-width: 100%;
min-width: 320px;
}


/*container*/
.container {
	max-width: 560px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}
/*clear-fix container*/
.container:before,
.container:after {
	content: '';
	display: table;
	clear: both;
}

.content .thumb { width: 177px; float: left;}
.content .thumb .image { float: left; }
.content .thumb .image a img { width: 177px; height: 133px; border: 1px solid #393939; float: left; }
.content .thumb .image a:hover img { border-color: #494949; } 
.content .thumb .report { width: 15px; height: 15px; position: absolute; margin: 163px 0 0 4px; }
.content .thumb .duration { width: 53px; height: 15px; display: block; overflow: hidden; position: absolute; margin: 118px 0 0 124px; background: url(http://teatroporno.woxcdn.com/static/images/duration.png); font-size: 10px; text-align: center; line-height: 15px; color: #ffffff; }
.content .thumb .description { width: 177px; height: 15px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 15px; color: #3f646e; }
.content .thumb .descriptionm { font-size: 12px; width: 177px; height: 20px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 20px; color: #3f646e; text-align: center; text-transform: uppercase;}
.search { height: 26px; margin: 4px 0 0 25px; float: left; }
.search span { font-size: 20px; line-height: 30px; text-transform: uppercase; float: left; }
.search input[type=text] { width: 437px; height: 26px; margin: 0 0 0 4px; padding: 0 0 0 4px; float: left; border: 0; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-form.png) left top; line-height: 28px; color: #333333; }
.search input[type=submit] { width: 67px; height: 26px; margin: -26px 0 0 445px; padding: 0; border: 0; float: left; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-button.png) no-repeat left top; cursor: pointer;  }
.smartad { width: 362px; height: 274px;}
.smartad iframe { transform: scale(1 ,1); -webkit-transform: scale(1 ,1); -ms-transform: scale(1 ,1); -o-transform: scale(1 ,1);margin: 12px -17px 13px 12px;}
.smartad span {margin: 127px -13px 0px 0px;}
}

@media screen and (max-width: 580px) {
.content {

margin: auto;
padding: 0 0 0 0;
width: 519px;
text-align: center;
max-width: 100%;
min-width: 320px;
}
/*container*/
.container {
	/*max-width: 520px;*/
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}
/*clear-fix container*/
.container:before,
.container:after {
	content: '';
	display: table;
	clear: both;
}
.content .thumb { width: 165px; float: left;}
.content .thumb .image { float: left; }
.content .thumb .image a img { width: 165px; height: 124px; border: 1px solid #393939; float: left; }
.content .thumb .image a:hover img { border-color: #494949; } 
.content .thumb .report { width: 15px; height: 15px; position: absolute; margin: 163px 0 0 4px; }
.content .thumb .duration { width: 53px; height: 15px; display: block; overflow: hidden; position: absolute; margin: 109px 0 0 112px; background: url(http://teatroporno.woxcdn.com/static/images/duration.png); font-size: 10px; text-align: center; line-height: 15px; color: #ffffff; }
.content .thumb .description { width: 165px; height: 15px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 15px; color: #3f646e; }
.content .thumb .descriptionm { font-size: 12px; width: 165px; height: 20px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 20px; color: #3f646e; text-align: center; text-transform: uppercase;}

.share {display: none;}

li.last {display: none;}
li.last2 {display: none;}
li.last3 {display: none;}

.feedback_form{
    width:480px;
}
.search { height: 26px; margin: 4px 0 0 25px; float: left; }
.search span { font-size: 20px; line-height: 30px; text-transform: uppercase; float: left; }
.search input[type=text] { width: 397px; height: 26px; margin: 0 0 0 4px; padding: 0 0 0 4px; float: left; border: 0; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-form.png) left top; line-height: 28px; color: #333333; }
.search input[type=submit] { width: 67px; height: 26px; margin: -26px 0 0 405px; padding: 0; border: 0; float: left; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-button.png) no-repeat left top; cursor: pointer;  }
.smartad { width: 338px; height: 256px;}
.smartad iframe { transform: scale(0.950 ,0.950); -webkit-transform: scale(0.950 ,0.950); -ms-transform: scale(0.950 ,0.950); -o-transform: scale(0.950 ,0.950);margin: 2px -60px 13px -35px;}
.smartad span {margin: 120px -10px 0px 0px;}
}

@media screen and (max-width: 540px) {


.content {

margin: auto;
padding: 0 0 0 0;
width: 480px;
text-align: center;
max-width: 100%;
min-width: 320px;
}


/*container*/
.container {
	/*max-width: 480px;*/
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}
/*clear-fix container*/
.container:before,
.container:after {
	content: '';
	display: table;
	clear: both;
}

.content .thumb { width: 232px; float: left; }
.content .thumb .image { float: left; }
.content .thumb .image a img { width: 232px; height: 174px; border: 1px solid #393939; float: left; }
.content .thumb .image a:hover img { border-color: #494949; } 
.content .thumb .report { width: 15px; height: 15px; position: absolute; margin: 163px 0 0 4px; }
.content .thumb .duration { width: 53px; height: 15px; display: block; overflow: hidden; position: absolute; margin: 159px 0 0 179px; background: url(http://teatroporno.woxcdn.com/static/images/duration.png); font-size: 10px; text-align: center; line-height: 15px; color: #ffffff; }
.content .thumb .description { width: 232px; height: 15px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 15px; color: #3f646e; }
.content .thumb .descriptionm { font-size: 12px; width: 232px; height: 20px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 20px; color: #3f646e; text-align: center; text-transform: uppercase;}
.feedback_form{
    width:460px;
}
.content .thumb:nth-last-child(15) { display: block;}
.search { height: 26px; margin: 4px 0 0 25px; float: left; }
.search span { font-size: 20px; line-height: 30px; text-transform: uppercase; float: left; }
.search input[type=text] { width: 357px; height: 26px; margin: 0 0 0 4px; padding: 0 0 0 4px; float: left; border: 0; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-form.png) left top; line-height: 28px; color: #333333; }
.search input[type=submit] { width: 67px; height: 26px; margin: -26px 0 0 365px; padding: 0; border: 0; float: left; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-button.png) no-repeat left top; cursor: pointer;  }
.smartad { width: 472px; height: 253px;}
.smartad iframe { transform: scale(0.950 ,0.950); -webkit-transform: scale(0.950 ,0.950); -ms-transform: scale(0.950 ,0.950); -o-transform: scale(0.950 ,0.950);margin: 2px -60px 13px -22px;}
.smartad span {margin: 120px -10px 0px 0px;}

}

@media screen and (max-width: 500px) {

.content {

margin: auto;
padding: 0 0 0 0;
width: 440px;
text-align: center;
max-width: 100%;
min-width: 320px;
}


/*container*/
.container {
	/*max-width: 440px;*/
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}
/*clear-fix container*/
.container:before,
.container:after {
	content: '';
	display: table;
	clear: both;
}

.content .thumb { width: 212px; float: left;}
.content .thumb .image { float: left; }
.content .thumb .image a img { width: 212px; height: 159px; border: 1px solid #393939; float: left; }
.content .thumb .image a:hover img { border-color: #494949; } 
.content .thumb .report { width: 15px; height: 15px; position: absolute; margin: 163px 0 0 4px; }
.content .thumb .duration { width: 53px; height: 15px; display: block; overflow: hidden; position: absolute; margin: 144px 0 0 159px; background: url(http://teatroporno.woxcdn.com/static/images/duration.png); font-size: 10px; text-align: center; line-height: 15px; color: #ffffff; }
.content .thumb .description { width: 212px; height: 15px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 15px; color: #3f646e; }
.content .thumb .descriptionm { font-size: 12px; width: 212px; height: 20px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 20px; color: #3f646e; text-align: center; text-transform: uppercase;}
.feedback_form{
    width:420px;
}
.search { height: 26px; margin: 4px 0 0 25px; float: left; }
.search span { font-size: 20px; line-height: 30px; text-transform: uppercase; float: left; }
.search input[type=text] { width: 327px; height: 26px; margin: 0 0 0 4px; padding: 0 0 0 4px; float: left; border: 0; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-form.png) left top; line-height: 28px; color: #333333; }
.search input[type=submit] { width: 67px; height: 26px; margin: -26px 0 0 335px; padding: 0; border: 0; float: left; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-button.png) no-repeat left top; cursor: pointer;  }
.smartad { width: 432px; height: 253px;}
}

@media screen and (max-width: 460px) {

.content {

margin: auto;
padding: 0 0 0 0;
width: 400px;
text-align: center;
max-width: 100%;
min-width: 320px;
}


/*container*/
.container {
	/*max-width: 400px;*/
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}
/*clear-fix container*/
.container:before,
.container:after {
	content: '';
	display: table;
	clear: both;
}

.content .thumb { width: 192px; float: left;}
.content .thumb .image { float: left; }
.content .thumb .image a img { width: 192px; height: 144px; border: 1px solid #393939; float: left; }
.content .thumb .image a:hover img { border-color: #494949; } 
.content .thumb .report { width: 15px; height: 15px; position: absolute; margin: 163px 0 0 4px; }
.content .thumb .duration { width: 53px; height: 15px; display: block; overflow: hidden; position: absolute; margin: 129px 0 0 139px; background: url(http://teatroporno.woxcdn.com/static/images/duration.png); font-size: 10px; text-align: center; line-height: 15px; color: #ffffff; }
.content .thumb .description { width: 192px; height: 15px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 15px; color: #3f646e; }
.content .thumb .descriptionm { font-size: 12px; width: 192px; height: 20px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 20px; color: #3f646e; text-align: center; text-transform: uppercase;}
.feedback_form{
    width:380px;
}
.search { height: 26px; margin: 4px 0 0 25px; float: left; }
.search span { font-size: 20px; line-height: 30px; text-transform: uppercase; float: left; }
.search input[type=text] { width: 297px; height: 26px; margin: 0 0 0 4px; padding: 0 0 0 4px; float: left; border: 0; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-form.png) left top; line-height: 28px; color: #333333; }
.search input[type=submit] { width: 67px; height: 26px; margin: -26px 0 0 305px; padding: 0; border: 0; float: left; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-button.png) no-repeat left top; cursor: pointer;  }
.smartad { width: 392px; height: 253px;}
.header_banner{display:block;}
}

@media screen and (max-width: 420px) {


.content {

margin: auto;
padding: 0 0 0 0;
width: 378px;
text-align: center;
max-width: 100%;
min-width: 320px;
}


/*container*/
.container {
	/*max-width: 360px;*/
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}
/*clear-fix container*/
.container:before,
.container:after {
	content: '';
	display: table;
	clear: both;
}

.content .thumb { width: 181px; float: left; }
.content .thumb .image { float: left; }
.content .thumb .image a img { width: 181px; height: 136px; border: 1px solid #393939; float: left; }
.content .thumb .image a:hover img { border-color: #494949; } 
.content .thumb .report { width: 15px; height: 15px; position: absolute; margin: 163px 0 0 4px; }
.content .thumb .duration { width: 53px; height: 15px; display: block; overflow: hidden; position: absolute; margin: 121px 0 0 128px; background: url(http://teatroporno.woxcdn.com/static/images/duration.png); font-size: 10px; text-align: center; line-height: 15px; color: #ffffff; }
.content .thumb .description { width: 181px; height: 15px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 15px; color: #3f646e; }
.content .thumb .descriptionm { font-size: 12px; width: 181px; height: 20px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 20px; color: #3f646e; text-align: center; text-transform: uppercase;}
.feedback_form{
    width:340px;
}
.search { height: 26px; margin: 4px 0 0 25px; float: left; }
.search span { font-size: 20px; line-height: 30px; text-transform: uppercase; float: left; }
.search input[type=text] { width: 277px; height: 26px; margin: 0 0 0 4px; padding: 0 0 0 4px; float: left; border: 0; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-form.png) left top; line-height: 28px; color: #333333; }
.search input[type=submit] { width: 67px; height: 26px; margin: -26px 0 0 285px; padding: 0; border: 0; float: left; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-button.png) no-repeat left top; cursor: pointer;  }
.smartad { width: 370px; height: 253px;}
}

@media screen and (max-width: 395px) {

.content {

margin: auto;
padding: 0 0 0 0;
width: 366px;
text-align: center;
max-width: 100%;
min-width: 320px;
}


/*container*/
.container {
	/*max-width: 360px;*/
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}
/*clear-fix container*/
.container:before,
.container:after {
	content: '';
	display: table;
	clear: both;
}

.content .thumb { width: 175px; /*165px*/ float: left; }
.content .thumb .image { float: left; }
.content .thumb .image a img { width: 175px; height: 131px; border: 1px solid #393939; float: left; }
.content .thumb .image a:hover img { border-color: #494949; } 
.content .thumb .report { width: 15px; height: 15px; position: absolute; margin: 163px 0 0 4px; }
.content .thumb .duration { width: 53px; height: 15px; display: block; overflow: hidden; position: absolute; margin: 116px 0 0 122px; background: url(http://teatroporno.woxcdn.com/static/images/duration.png); font-size: 10px; text-align: center; line-height: 15px; color: #ffffff; }
.content .thumb .description { width: 175px; height: 15px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 15px; color: #3f646e; }
.content .thumb .descriptionm { font-size: 12px; width: 175px; height: 20px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 20px; color: #3f646e; text-align: center; text-transform: uppercase;}
.feedback_form{
    width:340px;
}
.search { height: 26px; margin: 4px 0 0 25px; float: left; }
.search span { font-size: 20px; line-height: 30px; text-transform: uppercase; float: left; }
.search input[type=text] { width: 257px; height: 26px; margin: 0 0 0 4px; padding: 0 0 0 4px; float: left; border: 0; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-form.png) left top; line-height: 28px; color: #333333; }
.search input[type=submit] { width: 67px; height: 26px; margin: -26px 0 0 265px; padding: 0; border: 0; float: left; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-button.png) no-repeat left top; cursor: pointer;  }
.smartad { width: 358px; height: 253px;}
}


@media screen and (max-width: 380px) {

.content {

margin: auto;
padding: 0 0 0 0;
width: 346px;
text-align: center;
max-width: 100%;
min-width: 320px;
}

/*container*/
.container {
	/*max-width: 320px;*/
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}
/*clear-fix container*/
.container:before,
.container:after {
	content: '';
	display: table;
	clear: both;
}

.content .thumb { width: 165px; float: left; }
.content .thumb .image { float: left; }
.content .thumb .image a img { width: 165px; height: 124px; border: 1px solid #393939; float: left; }
.content .thumb .image a:hover img { border-color: #494949; } 
.content .thumb .report { width: 15px; height: 15px; position: absolute; margin: 163px 0 0 4px; }
.content .thumb .duration { width: 53px; height: 15px; display: block; overflow: hidden; position: absolute; margin: 109px 0 0 112px; background: url(http://teatroporno.woxcdn.com/static/images/duration.png); font-size: 10px; text-align: center; line-height: 15px; color: #ffffff; }
.content .thumb .description { width: 165px; height: 15px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 15px; color: #3f646e; }
.content .thumb .descriptionm { font-size: 12px; width: 165px; height: 20px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 20px; color: #3f646e; text-align: center; text-transform: uppercase;}


.share { width: 168px; margin: 6px 0px 2px 70px; float: left; }

.network ul li {font-size: 10px;}

.mobile-search {
	width: 35px;
}
.mobile-nav {
	width: 26px;
	text-align: left;
}
.icons {
	width: 21px;
}
.feedback_form{
    width:300px;
}

.feedback_form .captcha {width:300px; margin-left:-30px;}
.content .pagination ul {float:none; display:inline-block;}
    .content .paginationd ul {display: none;}

.search { height: 26px; margin: 4px 0 0 25px; float: left; }
.search span { font-size: 20px; line-height: 30px; text-transform: uppercase; float: left; }
.search input[type=text] { width: 237px; height: 26px; margin: 0 0 0 4px; padding: 0 0 0 4px; float: left; border: 0; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-form.png) no-repeat left top; line-height: 28px; color: #333333; }
.search input[type=submit] { width: 67px; height: 26px; margin: -26px 0 0 245px; padding: 0; border: 0; float: left; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-button.png) no-repeat left top; cursor: pointer;  }
.smartad { width: 338px; height: 253px;}
}

/*360*/
@media screen and (max-width:360px) {
	.content {

margin: auto;
padding: 0 0 0 0;
width: 330px;
text-align: center;
max-width: 100%;
min-width: 320px;
}

/*.content { width: 98%; margin: 0 0 0 6px; }*/
.content .thumb { width: 157px; float: left; }
.content .thumb .image { float: left; }
.content .thumb .image a img  {width:157px; /*160px*/ height: 118px; border: 1px solid #393939; float: left;}
.content .thumb .duration { width: 53px; height: 15px; display: block; overflow: hidden; position: absolute; margin: 102px 0 0 103px; background: url(http://teatroporno.woxcdn.com/static/images/duration.png); font-size: 10px; text-align: center; line-height: 15px; color: #ffffff; }
.content .thumb .descriptionm { font-size: 12px; width: 157px; height: 20px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 20px; color: #ffffff; text-align: center; text-transform: uppercase; }
.search { height: 26px; margin: 4px 0 0 25px; float: left; }
.search span { font-size: 20px; line-height: 30px; text-transform: uppercase; float: left; }
.search input[type=text] { width: 227px; height: 26px; margin: 0 0 0 4px; padding: 0 0 0 4px; float: left; border: 0; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-form.png) no-repeat left top; line-height: 28px; color: #333333; }
.search input[type=submit] { width: 67px; height: 26px; margin: -26px 0 0 235px; padding: 0; border: 0; float: left; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-button.png) no-repeat left top; cursor: pointer;  }
.footer .banner2 { display: none; }
.footer .banner3 { display: none; }
.breklama .banner2 {display: none;}
.breklama .banner3 {display: none;}
.footer .disclamer {height: 170px;background-color: rgb(22, 21, 21); }
.bb {display: table; margin: 0 auto; text-align: center;}
.breklama .inner { width: 100%; margin: 14px auto 0 auto; }
.smartad { width: 322px; height: 253px;}
.smartad iframe { transform: scale(0.950 ,0.950); -webkit-transform: scale(0.950 ,0.950); -ms-transform: scale(0.950 ,0.950); -o-transform: scale(0.950 ,0.950);margin: 2px -60px 13px -40px;}
}
@media screen and (max-width: 350px) {
.content {
margin: auto;
padding: 0;
width: 325px;
text-align: center;
max-width: 100%;
min-width: 320px;
}
.content .thumb { width: 152px; float: left;}
.content .thumb .image { float: left; }
.content .thumb .image a img  {width:152px; /*160px*/ height: 114px; border: 1px solid #393939; float: left;}
.content .thumb .duration { width: 53px; height: 15px; display: block; overflow: hidden; position: absolute; margin: 99px 0 0 99px; background: url(http://teatroporno.woxcdn.com/static/images/duration.png); font-size: 10px; text-align: center; line-height: 15px; color: #ffffff; }
.content .thumb .descriptionm { font-size: 12px; width: 152px; height: 20px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 20px; color: #3f646e; text-align: center; text-transform: uppercase;}
.search { height: 26px; margin: 4px 0 0 25px; float: left; }
.search span { font-size: 20px; line-height: 30px; text-transform: uppercase; float: left; }
.search input[type=text] { width: 212px; height: 26px; margin: 0 0 0 4px; padding: 0 0 0 4px; float: left; border: 0; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-form.png) no-repeat left top; line-height: 28px; color: #333333; }
.search input[type=submit] { width: 67px; height: 26px; margin: -26px 0 0 220px; padding: 0; border: 0; float: left; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-button.png) no-repeat left top; cursor: pointer;  }
.footer .banner2 { display: none; }
.footer .banner3 { display: none; }
.breklama .banner2 {display: none;}
.breklama .banner3 {display: none;}
.footer .disclamer {height: 170px;background-color: rgb(22, 21, 21); }
.bb {display: table; margin: 0 auto; text-align: center;}
.breklama .inner { width: 100%; margin: 14px auto 0 auto; }
.smartad { width: 312px; height: 253px;}
.smartad iframe { transform: scale(0.930 ,0.930); -webkit-transform: scale(0.930 ,0.930); -ms-transform: scale(0.930 ,0.930); -o-transform: scale(0.930 ,0.930);margin: 2px -65px 13px -45px;}
.smartad span {margin: 120px -13px 0px 0px;}
.smartad:nth-child(odd){float:left;}

}
@media screen and (max-width: 335px) {


.content {

margin: auto;
padding: 0 0 0 0;
width: 275px;
text-align: center;
max-width: 100%;
min-width: 315px;
}


/*container*/
.container {
	/*max-width: 320px;*/
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}
/*clear-fix container*/
.container:before,
.container:after {
	content: '';
	display: table;
	clear: both;
}

.content .thumb { width: 149px; float: left; }
.content .thumb .image { float: left; }
.content .thumb .image a img { width: 149px; height: 112px; border: 1px solid #393939; float: left; }
.content .thumb .image a:hover img { border-color: #494949; } 
.content .thumb .report { width: 15px; height: 15px; position: absolute; margin: 163px 0 0 4px; }
.content .thumb .duration { width: 53px; height: 15px; display: block; overflow: hidden; position: absolute; margin: 97px 0 0 96px; background: url(http://teatroporno.woxcdn.com/static/images/duration.png); font-size: 10px; text-align: center; line-height: 15px; color: #ffffff; }
.content .thumb .description { width: 149px; height: 15px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 15px; color: #3f646e; }
/*.content .thumb .descriptionm { font-size: 12px; width: 135px; height: 20px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 20px; color: #3f646e; text-align: center; text-transform: uppercase;}*/
.content .thumb .descriptionm { font-size: 12px; width: 149px; height: 20px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 20px; color: #3f646e; text-align: center; text-transform: uppercase;}
.search { height: 26px; margin: 4px 0 0 25px; float: left; }
.search span { font-size: 20px; line-height: 30px; text-transform: uppercase; float: left; }
.search input[type=text] { width: 195px; height: 26px; margin: 0 0 0 4px; padding: 0 0 0 4px; float: left; border: 0; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-form.png) no-repeat left top; line-height: 28px; color: #333333; }
.search input[type=submit] { width: 67px; height: 26px; margin: -26px 0 0 203px; padding: 0; border: 0; float: left; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-button.png) no-repeat left top; cursor: pointer;  }
.feedback_form{
    width:275px;
}
.feedback_form .captcha {width:300px; margin-left:-48px;}
.smartad { width: 305px; height: 253px;}
.smartad iframe { transform: scale(0.910 ,0.910); -webkit-transform: scale(0.910 ,0.910); -ms-transform: scale(0.910 ,0.910); -o-transform: scale(0.910 ,0.910);margin: 2px -65px 13px -45px;}
.smartad span {margin: 120px -15px 0px 0px;}

}
/*320*/
@media screen and (max-width:320px) {
/*.content { width:95%; margin: 0 0 0 4px;}*/
.content {

margin: auto;
padding: 0 0 0 0;
width: 320px;
text-align: center;
max-width: 100%;
min-width: 320px;
}
.content .thumb .image { float: left; }
.content .thumb { width: 152px; float: left;}
.content .thumb .image a img  {width: 152px; height: 114px; border: 1px solid #393939; float: left;}
.content .thumb .duration { width: 53px; height: 15px; display: block; overflow: hidden; position: absolute; margin: 99px 0 0 99px; background: url(http://teatroporno.woxcdn.com/static/images/duration.png); font-size: 10px; text-align: center; line-height: 15px; color: #ffffff; }
.content .thumb .descriptionm { font-size: 12px; width: 152px; height: 20px; display: block; float: left; margin: 2px 0; overflow: hidden; line-height: 20px; color: #ffffff; text-align: center; text-transform: uppercase; }
.search { height: 26px; margin: 4px 0 0 25px; float: left; }
.search span { font-size: 20px; line-height: 30px; text-transform: uppercase; float: left; }
.search input[type=text] { width: 195px; height: 26px; margin: 0 0 0 4px; padding: 0 0 0 4px; float: left; border: 0; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-form.png) no-repeat left top; line-height: 28px; color: #333333; }
.search input[type=submit] { width: 67px; height: 26px; margin: -26px 0 0 203px; padding: 0; border: 0; float: left; background: transparent url(http://teatroporno.woxcdn.com/static/images/search-button.png) no-repeat left top; cursor: pointer;  }
.footer .banner2 { display: none; }
.footer .banner3 { display: none; }
.breklama .banner2 {display: none;}
.breklama .banner3 {display: none;}
.footer .disclamer {height: 170px;background-color: rgb(22, 21, 21); }
.bb {display: table; margin: 0 auto; text-align: center;}
.breklama .inner { width: 100%; margin: 14px auto 0 auto; }
}