/*
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////NEW FONTS/////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
*/

 @font-face {
	font-family:'thematitloiCnsd';
	src:url('robotocondensed-bolditalic.eot');
	src:url('robotocondensed-bolditalic.eot?#iefix') format('embedded-opentype'),
	    url('robotocondensed-bolditalic.woff') format('woff'),
		url('robotocondensed-bolditalic.ttf') format('truetype'),
		url('robotocondensed-bolditalic.svg#robotocondensed-bolditalic') format('svg');
		font-weight:normal;
		font-style:normal;
		}


@font-face {
    font-family: 'SansBlack';
    src: url('robotocondensed-bold.eot');
    src: url('robotocondensed-bold.eot?#iefix') format('embedded-opentype'),
         url('robotocondensed-bold.woff') format('woff'),
         url('robotocondensed-bold.ttf') format('truetype'),
         url('robotocondensed-bold.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansBlackMedium';
    src: url('robotocondensed-bold.eot');
    src: url('robotocondensed-bold.eot?#iefix') format('embedded-opentype'),
         url('robotocondensed-bold.woff') format('woff'),
         url('robotocondensed-bold.ttf') format('truetype'),
         url('robotocondensed-bold.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitloiMediumBold2';
    src: url('roboto-bold.eot');
    src: url('roboto-bold.eot?#iefix') format('embedded-opentype'),
         url('roboto-bold.woff') format('woff'),
         url('roboto-bold.ttf') format('truetype'),
         url('roboto-bold.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TitloiMediumBold';
    src: url('roboto-bold.eot');
    src: url('roboto-bold.eot?#iefix') format('embedded-opentype'),
         url('roboto-bold.woff') format('woff'),
         url('roboto-bold.ttf') format('truetype'),
         url('roboto-bold.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TitloiMedium2';
    src: url('roboto-bold.eot');
    src: url('roboto-bold.eot?#iefix') format('embedded-opentype'),
         url('roboto-bold.woff') format('woff'),
         url('roboto-bold.ttf') format('truetype'),
         url('roboto-bold.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TitloiMediumItalic';
    src: url('roboto-bolditalic.eot');
    src: url('roboto-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('roboto-bolditalic.woff') format('woff'),
         url('roboto-bolditalic.ttf') format('truetype'),
         url('roboto-bolditalic.svg#robotobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitloiLight';
    src: url('roboto-light.eot');
    src: url('roboto-light.eot?#iefix') format('embedded-opentype'),
         url('roboto-light.woff') format('woff'),
         url('roboto-light.ttf') format('truetype'),
         url('roboto-light.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight_italic';
    src: url('roboto-lightitalic.eot');
    src: url('roboto-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('roboto-lightitalic.woff') format('woff'),
         url('roboto-lightitalic.ttf') format('truetype'),
         url('roboto-lightitalic.svg#robotolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitloiMedium';
    src: url('roboto-bold.eot');
    src: url('roboto-bold.eot?#iefix') format('embedded-opentype'),
         url('roboto-bold.woff') format('woff'),
         url('roboto-bold.ttf') format('truetype'),
         url('roboto-bold.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitloiMedium3';
    src: url('roboto-medium.eot');
    src: url('roboto-medium.eot?#iefix') format('embedded-opentype'),
         url('roboto-medium.woff') format('woff'),
         url('roboto-medium.ttf') format('truetype'),
         url('roboto-medium.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

} 

@font-face {
    font-family: 'TitloiMediumItalic3';
    src: url('roboto-mediumitalic.eot');
    src: url('roboto-mediumitalic.eot?#iefix') format('embedded-opentype'),
         url('roboto-mediumitalic.woff') format('woff'),
         url('roboto-mediumitalic.ttf') format('truetype'),
         url('roboto-mediumitalic.svg#robotomedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular.eot');
    src: url('roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('roboto-regular.woff') format('woff'),
         url('roboto-regular.ttf') format('truetype'),
         url('roboto-regular.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MediumItalic';
    src: url('roboto-regularitalic.eot');
    src: url('roboto-regularitalic.eot?#iefix') format('embedded-opentype'),
         url('roboto-regularitalic.woff') format('woff'),
         url('roboto-regularitalic.ttf') format('truetype'),
         url('roboto-regularitalic.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotothin';
    src: url('roboto-thin.eot');
    src: url('roboto-thin.eot?#iefix') format('embedded-opentype'),
         url('roboto-thin.woff') format('woff'),
         url('roboto-thin.ttf') format('truetype'),
         url('roboto-thin.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotothin_italic';
    src: url('roboto-thinitalic.eot');
    src: url('roboto-thinitalic.eot?#iefix') format('embedded-opentype'),
         url('roboto-thinitalic.woff') format('woff'),
         url('roboto-thinitalic.ttf') format('truetype'),
         url('roboto-thinitalic.svg#robotothin_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'thematitloiconlightregular';
    src: url('thema-titloiconlight.eot');
    src: url('thema-titloiconlight.eot?#iefix') format('embedded-opentype'),
         url('thema-titloiconlight.woff') format('woff'),
         url('thema-titloiconlight.ttf') format('truetype'),
         url('thema-titloiconlight.svg#thematitloiconlightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'thematitloiconlightbold';
    src: url('thema-titloiconlightbold.eot');
    src: url('thema-titloiconlightbold.eot?#iefix') format('embedded-opentype'),
         url('thema-titloiconlightbold.woff') format('woff'),
         url('thema-titloiconlightbold.ttf') format('truetype'),
         url('thema-titloiconlightbold.svg#thematitloiconlightbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'thematitloiconmediumregular';
    src: url('thema-titloiconmedium.eot');
    src: url('thema-titloiconmedium.eot?#iefix') format('embedded-opentype'),
         url('thema-titloiconmedium.woff') format('woff'),
         url('thema-titloiconmedium.ttf') format('truetype'),
         url('thema-titloiconmedium.svg#thematitloiconmediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'thematitloimediumregular';
    src: url('thema-titloimedium.eot');
    src: url('thema-titloimedium.eot?#iefix') format('embedded-opentype'),
         url('thema-titloimedium.woff') format('woff'),
         url('thema-titloimedium.ttf') format('truetype'),
         url('thema-titloimedium.svg#thematitloimediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'thematitloimediumbold';
    src: url('thema-titloimediumbold.eot');
    src: url('thema-titloimediumbold.eot?#iefix') format('embedded-opentype'),
         url('thema-titloimediumbold.woff') format('woff'),
         url('thema-titloimediumbold.ttf') format('truetype'),
         url('thema-titloimediumbold.svg#thematitloimediumbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////OLD FONTS//////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
*/

@font-face {
    font-family: 'Medium';
    src: url('thematitloimedium.eot');
    src: url('thematitloimedium.eot?#iefix') format('embedded-opentype'),
         url('thematitloimedium.woff') format('woff'),
         url('thematitloimedium.ttf') format('truetype'),
         url('thematitloimedium.svg#thematitloimediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'TitloiMedium';
    src: url('themautotitloimedium.eot');
    src: url('themautotitloimedium.eot?#iefix') format('embedded-opentype'),
         url('themautotitloimedium.woff') format('woff'),
         url('themautotitloimedium.ttf') format('truetype'),
         url('themautotitloimedium.svg#themautotitloimediumregular') format('svg');
         
    font-weight: normal;
    font-style: normal;
} */

/* @font-face {
    font-family: 'MediumItalic';
    src: url('themautotitloimedium_italic.eot');
    src: url('themautotitloimedium_italic.eot?#iefix') format('embedded-opentype'),
         url('themautotitloimedium_italic.woff') format('woff'),
         url('themautotitloimedium_italic.ttf') format('truetype'),
         url('themautotitloimedium_italic.svg#themautotitloimediumitalic') format('svg');
         
    font-weight: normal;
    font-style: normal;

} */

/* @font-face {
    font-family: 'TitloiLight';
    src: url('thematitloiconlight.eot');
    src: url('thematitloiconlight.eot?#iefix') format('embedded-opentype'),
         url('thematitloiconlight.woff') format('woff'),
         url('thematitloiconlight.ttf') format('truetype'),
         url('thematitloiconlight.svg#thematitloiconlightregular') format('svg');
    font-weight: normal;
    font-style: normal;

} */

@font-face {
    font-family: 'TitloiCond';
    src: url('thematitloiconmedium.eot');
    src: url('thematitloiconmedium.eot?#iefix') format('embedded-opentype'),
         url('thematitloiconmedium.woff') format('woff'),
         url('thematitloiconmedium.ttf') format('truetype'),
         url('thematitloiconmedium.svg#thematitloiconmediumregular') format('svg');
         
    font-weight: normal;
    font-style: normal;

}

/* @font-face {
	font-family: 'TitloiMediumBold';
    src: url('thematitloimedium_bold.eot');
    src: url('thematitloimedium_bold.eot?#iefix') format('embedded-opentype'),
         url('thematitloimedium_bold.woff') format('woff'),
         url('thematitloimedium_bold.ttf') format('truetype'),
         url('thematitloimedium_bold.svg#thematitloimediumbold') format('svg');
         
    font-weight: normal;
    font-style: normal;

} */

/* @font-face {
    font-family: 'TitloiMediumItalic';
    src: url('themautotitloimedium_italic.eot');
    src: url('themautotitloimedium_italic.eot?#iefix') format('embedded-opentype'),
         url('themautotitloimedium_italic.woff') format('woff'),
         url('themautotitloimedium_italic.ttf') format('truetype'),
         url('thema2utotitloimedium_italic.svg#thema2utotitloimediumitalic') format('svg');
    font-weight: normal;
    font-style: normal;

} */

@font-face {
    font-family: 'TitloiMediumSlider';
    src: url('thema2utotitloimedium_bold.eot');
    src: url('thema2utotitloimedium_bold.eot?#iefix') format('embedded-opentype'),
         url('thema2utotitloimedium_bold.woff') format('woff'),
         url('thema2utotitloimedium_bold.ttf') format('truetype'),
         url('thema2utotitloimedium_bold.svg#thema2utotitloimediumbold') format('svg');
         
    font-weight: normal;
    font-style: normal;

}
/*
@font-face {
    font-family: 'TitloiMediumSlider';
    src: url('themautotitloimedium.eot');
    src: url('themautotitloimedium.eot?#iefix') format('embedded-opentype'),
         url('themautotitloimedium.woff') format('woff'),
         url('themautotitloimedium.ttf') format('truetype'),
         url('themautotitloimedium.svg#themautotitloimediumregular') format('svg');
         
    font-weight: normal;
    font-style: normal;

}
*/
@font-face {
    font-family: 'TitloiLightCond';
    src: url('thematitloiconlight_bold.eot');
    src: url('thematitloiconlight_bold.eot?#iefix') format('embedded-opentype'),
         url('thematitloiconlight_bold.woff') format('woff'),
         url('thematitloiconlight_bold.ttf') format('truetype'),
         url('thematitloiconlight_bold.svg#thematitloiconlightbold') format('svg');
         
    font-weight: normal;
    font-style: normal;

}

/* @font-face {
    font-family: 'TitloiMediumBold2';
    src: url('thema2utotitloimedium_bold.eot');
    src: url('thema2utotitloimedium_bold.eot?#iefix') format('embedded-opentype'),
         url('thema2utotitloimedium_bold.woff') format('woff'),
         url('thema2utotitloimedium_bold.ttf') format('truetype'),
         url('thema2utotitloimedium_bold.svg#thema2utotitloimediumbold') format('svg');
         
    font-weight: normal;
    font-style: normal;

} */