/**
 * Markup by SonicHTML
 * http://www.sonichtml.com
 */

/* Reset */
html{color:#000;background:#FFF;-webkit-text-size-adjust:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td
{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup,sub{vertical-align:baseline;}
/* because legend doesn't inherit in IE */
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,select{vertical-align:middle;}
cite,em{font-style:normal}
/* New Clearfix */
.clear{clear:both;height:1px;margin:0;padding:0;font-size:15px;line-height:1px;}
.clearfix:after,.section:after,.content:after,#content:after,.bd:after{visibility:hidden;display: block;font-size:0;content:" ";clear: both;height:0;}
* html .clearfix,* html .section,* html .content,* html #content,* html .bd{zoom:1;}/* IE6 */
*:first-child+html .clearfix,*:first-child+html .section,*:first-child+html .content,*:first-child+html #content,*:first-child+html .bd{zoom:1;}/* IE7 */


/* Public Sytle
------------------------------------------------------------------------------------------------------------*/
/*- sbox -*/
.sbox{margin:0 0 10px; background:#fff;border:1px solid #e0e0e0;}
	.sbox .hd{background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed2.png) repeat-x left bottom;}
	.sbox .hd h2{line-height:32px;padding:0 0 0 12px; }
	.sbox .hd .side{float:right;line-height:32px; }
	.sbox .hd .tabs_nav{_overflow:hidden;height:20px;padding:6px 0 6px 0;border-bottom:1px solid #e0e0e0;vertical-align:top;zoom:1;}
	.sbox .hd .tabs_nav li{position:relative;float:left;_width:40px;height:20px;white-space:nowrap;background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed1.png) repeat-y right top;zoom:1;}
	.sbox .hd .tabs_nav li a{text-decoration:none;display:block;width:100%;line-height:20px;text-align:center;}
	.sbox .hd .tabs_nav .last{background:none;}
	.sbox .hd .tabs_nav .current{position:relative;height:32px;top:-7px;left:-1px;border:1px solid #dedede;border-bottom:none; 
					box-shadow:1px 0px 3px #e0e0e0;
		-moz-box-shadow:1px 0px 3px #e0e0e0;
		-webkit-box-shadow:1px 0px 3px #e0e0e0;
	}
	.sbox .hd .tabs_nav .current a{_position:absolute;font-weight:bold;color:#999;line-height:32px;height:40px;
	border-bottom:none;background:url(http://cdn.rimg.tw/images/blog/portal2011/ico.png) no-repeat center -34px #fff;}
/*- p_title -*/
.p_title{overflow:hidden;*zoom:1;border-top:1px solid #e5e5e5;height:36px;margin:0 0 1em; }
	.p_title h2{float:left;font-size:16px;text-align:center; min-width:70px;_width:70px;white-space:nowrap;color:#666;line-height:2.2em;padding:0 15px;border-top:2px solid #d7381a; }
	.p_title .side{float:right;padding:10px 25px 0 0;}
	.p_title .fblike{float:left;margin:10px 0 0 0; padding:0 0 0 20px;background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed1.png) no-repeat left top; }
/*- n_list -*/
.n_list{}
	.n_list li{line-height:1.2em;padding:0 0 0 18px;background:url(http://cdn.rimg.tw/images/blog/portal2011/ico.png) no-repeat 6px -124px}
	.n_list li a{}
/*- more digg -*/
.more,.more:link,.more:visited{color:#cc2708;}
.digg{line-height:15px;vertical-align:middle;font-size:12px;padding:0 0 0 17px;background:url(http://cdn.rimg.tw/images/blog/portal2011/ico_digg.png) no-repeat 0 0;}
.digg:link,.digg:visited{color:#284d9a;}
/*- star -*/
.star0,.star1,.star2,.star3,.star4,.star5{display:block;text-indent:-9999px;width:80px;height:16px;background-image:url(http://cdn.rimg.tw/images/blog/portal2011/star2.png);background-repeat:no-repeat;}
.star0{background-position:0 0;}
.star1{background-position:0 -16px;}
.star2{background-position:0 -32px;}
.star3{background-position:0 -48px;}
.star4{background-position:0 -64px;}
.star5{background-position:0 -80px;}

/*- pagination -*/	
.pagination{clear:both;font-family:Tahoma;font-size:12px;text-align:center;padding:10px 0;}
	.pagination .total{color:#666;margin:0 6px 0 0;padding:2px 0;}
	.pagination .pn{display:inline;margin:0;}
	.pagination .pn a,.pagination .pn span{display:inline-block;*display:inline;*zoom:1;margin:0 4px;line-height:26px;width:26px; height:26px; text-decoration:none;*vertical-align:middle;background:#f7f7f7;border:1px solid #dadada;}
	.pagination .pn a:link,.pagination .pn a:visited{color:#666;text-decoration:none;}
	.pagination .pn a:hover, div.pagination a:active{text-decoration:none;background:#fff; 
		box-shadow:0 0 3px #999;-webkit-box-shadow:0 0 3px #999;-moz-box-shadow:0 0 3px #999;
	}
	.pagination .pn .current{color:#cf2c0d;font-weight:bold;}
	.pagination .pn .jump{color:#666;display:inline;margin:0 0 0 8px;vertical-align:top;}
	.pagination .pn .arrow_l,.pagination .arrow_r{overflow:hidden;display:inline-block;*zoom:1;font-size:0;line-height:0;width:auto;height:0px;border-top:5px dashed transparent;border-bottom:5px dashed transparent;vertical-align:middle;*margin-top:8px;}
	.pagination .pn .arrow_l{border-right:5px solid #999;}
	.pagination .pn .arrow_r{border-left:5px solid #999;}
	.pagination .pn .disabled:hover{background:#f7f7f7;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;cursor:default;}
	.pagination .pn .disabled .arrow_l{border-right:5px solid #ccc;}
	.pagination .pn .disabled .arrow_r{border-left:5px solid #ccc;}


/* Ad Sytle
------------------------------------------------------------------------------------------------------------*/
.ad_766x90,.ad_180x90{margin:0 0 10px;}

/*20110714*/
html{color:#000;background:url(http://cdn.rimg.tw/images/blog/portal2011/globle_bg.png) repeat-x left top #f4f4f4;-webkit-text-size-adjust:none;}
.p_title h2{float:left;font-size:15px;text-align:center; min-width:60px;_width:60px;white-space:nowrap;color:#333;line-height:2.2em;padding:0 15px;border-top:3px solid #af260c;  }

/*20110717*/
.sbox .hd .tabs_nav .current a{_position:absolute;font-weight:bold;color:#333;line-height:32px;height:40px; font-size:13px;
border-bottom:none;background:url(http://cdn.rimg.tw/images/blog/portal2011/ico.png) no-repeat center -34px #fff;}
