/**
 * Markup by SonicHTML
 * http://www.sonichtml.com
 */

/* Defaults */
:focus{outline:0}
a:link,a:visited{text-decoration:none;color:#585858}
a:hover{color:#ca2304;text-decoration:underline} 
body{font:normal 13px arial,"細明體",Corbel,Verdana,Helvetica}
img{border:0;vertical-align:bottom}
fieldset{border:0}
h1, h2, h3, h4, h5, h6{font-size:1em;}
p{margin:0;}
.red,.red:link,.red:visited{color:#ca2304;}


/* Public Sytle
------------------------------------------------------------------------------------------------------------*/
/*-- Containers --*/
body{}
#skip{height:0px;overflow:hidden;width:0px}
#page{width:1003px;margin:0 auto;background:url(http://cdn.rimg.tw/images/blog/portal2011/header_bg_01.png) no-repeat center top #eaeaed;}

/*-- Header --*/
#header{/*width:1003px;margin:0 auto;*/position:relative;height:94px;}
	/*- #logo -*/
	#logo{position:absolute;left:30px;top:19px;width:99px;height:50px;}
	#logo a{display:block;text-indent:-9999px;height:50px;}
	/*- #so -*/
	#so{position:absolute;left:156px;top:19px;width:394px;}
		/* so_nav */
		#so .so_nav{z-index:2;overflow:hidden;*zoom:1;height:26px;margin:0 0 -1px;}
		#so .so_nav li{position:relative;float:left;width:56px;height:16px;_white-space:nowrap;background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed1.png) no-repeat right top;}
		#so .so_nav li a{position:absolute;left:0;top:0;display:block;padding:0 13px 14px 13px;}
		#so .so_nav .current{}
		#so .so_nav .current a{font-weight:bold;color:#cc2708;background:url(http://cdn.rimg.tw/images/blog/portal2011/ico.png) no-repeat center 17px;}
		#so .so_nav .last{background:none;}
		/* so_form */
		#so .so_form{overflow:hidden;height:24px;padding:1px 0;background:#fff;border:1px solid #dddddd;}
		#so .so_form_input{}
		#so .so_form .inp_txt{float:left;line-height:16px;height:16px;width:284px;padding:4px 4px 4px 36px;border:none;background:url(http://cdn.rimg.tw/images/blog/portal2011/ico_so.png) no-repeat 15px 5px;}
		#so .so_form .inp_so{_float:left;color:#666666;width:66px;height:24px;border:none;background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed1.png) repeat-y left top;cursor:pointer;}
		/* so_link */
		#so .so_link{position:absolute;right:-30px;top:0;}
		#so .so_link li{display:inline;}
		#so .so_link li a:link,#so .so_link li a:visited{color:#8c8c8c;}
	/*- #extraLink -*/
	#extraLink{position:absolute;left:578px;top:22px;}
		#extraLink .link1{display:block;text-indent:-9999px;width:145px;height:53px;/*background:url(http://cdn.rimg.tw/images/blog/portal2011/header_vector_img.png) no-repeat;*/}
	/*- #loginArea -*/
	#loginArea{position:absolute;right:10px;top:22px;width:280px;}
		#loginArea ul{letter-spacing:-0.3em;margin:0 0 1em;text-align:right;}
		#loginArea li{letter-spacing:normal;text-align:center;display:inline-block;*display:inline;*zoom:1;width:70px;_width:70px;background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed1.png) no-repeat right top;}
		#loginArea li a{display:block;line-height:15px;}
		#loginArea .last{background:none;}
		#loginArea .login_link a:link,#loginArea .login_link a:visited{color:#cc2708;}
		#loginArea .hello{width:auto;width:90px;padding-right:16px;}
		#loginArea .hello a{display:inline;}
		#loginArea .Logged li{min-width:auto;width:auto;_width:40px;padding:0 6px;white-space:nowrap;vertical-align:middle; font-size:12px;}
		#loginArea .Logged .last{padding-right:10px;}
		#loginArea .btn_fb_login{overflow:hidden;display:inline-block;*display:inline;*zoom:1;line-height:999em;text-indent:-9999px;*text-indent:0;width:146px;height:20px;background:url(http://cdn.rimg.tw/images/blog/portal2011/facebook_login2.png) no-repeat ;vertical-align:middle;*margin-top:-6px;}
		#loginArea .login_form{text-align:right;}
		#loginArea .login_form p{overflow:hidden;*zoom:1;margin:0 0 0.5em; }
		#loginArea .login_form .inp_txt{width:152px;color:#999;margin:0 4px 0 0; }
		#loginArea .login_form .btn_login{color:#fff;width:42px; height:26px;background:#8e8e8e;border:none;}
		#loginArea .login_form li{width:auto;padding:0 8px;}
		#loginArea .login_form li input{margin-right:4px;*margin-right:0;}
		#loginArea .login_form .first{padding-left:0;}
		#loginArea .login_form .last{padding-right:0;}
/*-- Footer --*/
#footer{padding:5px 0 0 0;background:url(http://cdn.rimg.tw/images/blog/portal2011/footer_bg.png) repeat-x center top;}
	#footer .inner{/*width:1003px;margin:0 auto;*/height:54px;padding:20px 0 0 0;}
	#footer .nav{margin:0 0 0.5em;}
	#footer .menu{letter-spacing:-0.25em;text-align:center;}
	#footer .menu li{letter-spacing:normal;display:inline;padding:0 20px;background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed1.png) no-repeat right top;*zoom:1;}
	#footer .menu li a{}
	#footer .menu .last{background:none;}
	#footer .copyright{font-family:arial;text-align:center;font-size:11px;color:#a7a7a7;}

/*-- Content --*/
#content{/*width:1003px;margin:0 auto;*/background:url(http://cdn.rimg.tw/images/blog/portal2011/page_bg.png) repeat-y center top;}
	@media screen and (-webkit-min-device-pixel-ratio:0){
		/*#content{position:relative;left:-1px;}*/
	}
	.fb_iframe_widget{vertical-align:middle;}
	.fb_iframe_widget span{line-height:1em;}


/* Home Sytle
------------------------------------------------------------------------------------------------------------*/
/*-- top_notice --*/
.top_notice{height:26px;}
	.notice_list{padding:10px 0 0 0;line-height:16px;text-align:center;}
	.notice_list li{display:inline-block;*display:inline;*zoom:1;height:16px;padding:0 20px;}

/*-- wrap --*/
.wrap{width:970px;margin:0 auto;padding:16px 0 0 0;}
	.wrap:after{visibility:hidden;display: block;font-size:0;content:" ";clear: both;height:0;}
	.wrap .col_main{float:left;width:764px;}
	.wrap .col_side{float:right;width:180px;padding:8px;}
	.wrap .col_side{background:#fff;border:1px solid #e0e0e0;}

/*-- special --*/
.special{float:left;width:510px;}
	.special .hd{background:none;background:url(http://cdn.rimg.tw/images/blog/portal2011/special_h2_bg.png) no-repeat;}
	.special .hd h2{margin:0 2px;padding:0 32px;background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed2.png) repeat-x left bottom;}
	.special .hd .tabs_nav li{width:169px;}
	.special .hd .tabs_nav .last{width:169px;border-right:none;}
	.special .bd{padding:12px 20px;background:url(http://cdn.rimg.tw/images/blog/portal2011/special_box_bg.png) repeat-y right top;}
	.special .bd .tabs_content{height:181px;}

	/*- headline -*/
	.special .headline{}
	.special .headline .img{float:left;width:212px;height:142px;margin:0 16px 0 0;}
	.special .headline .img img{width:210px;height:140px;border:1px solid #dfdfdf;}
	.special .headline .n_prv{height:152px;background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed2.png) repeat-x left bottom;}
	.special .headline .n_prv dt{font-size:16px;line-height:32px;}
	.special .headline .n_prv dt a{color:#666;font-weight:bold;}
	.special .headline .n_prv dd{line-height:1.5em;margin:0 0 0.5em;}
	.special .headline .n_prv dd .more{margin:0 10px 0 0;}
	/*- subline -*/
	.special .subline{padding:8px 0;}
		.special .subline li{float:left;width:180px;}
		.special .subline .more{float:left;text-align:center;width:74px;background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed1.png) repeat-y left top;}
		.special .subline .more:link,.special .subline .more:visited{color:#cc2708;}
/*-- today_like --*/
.today_like{float:right;width:224px;height:270px;padding:0 10px;}
	.today_like .head_art{height:80px;padding:25px 0;}
	.today_like .head_art .img{display:block;padding:0 0 10px 0;}
	.today_like .head_art .img img{float:left;margin:0 10px 0 0;width:75px;height:75px;padding:4px;border:1px solid #e2e2e2;}
	.today_like .head_art .img:link,.today_like .head_art .img:visited{font-weight:bold;color:#cc2708;}
	.today_like .head_art p{margin:0 0 0.5em;}
	.today_like .head_art .digg{}
	.today_like .comm_art{background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed2.png) repeat-x left top;}
	.today_like .comm_art h3{line-height:30px;font-weight:normal;padding:8px 0 0 0;}
	.today_like .comm_art li{}

/*-- main_news --*/
.main_news{background:none;border:none;}
	.main_news .hd{background:none;}
	.main_news .hd .tabs_nav{border:none;padding-left:1px;background:url(http://cdn.rimg.tw/images/blog/portal2011/main_news_tabs_bg.png) no-repeat left top;}
	.main_news .hd .tabs_nav li{width:106px;}
	.main_news .bd{padding:16px 16px 0 16px;background:#fff;border:1px solid #e0e0e0;}
	/*- n_prv_list1 -*/
	.main_news .n_prv_list1{overflow:hidden;*zoom:1;margin:0 0 1em;}
		.main_news .n_prv_list1 li{float:left;width:210px;height:163px;margin:0 12px 0 0;padding:10px 11px;border:1px solid #ebebeb;
			background-image:-moz-linear-gradient(top, #ffffff, #ebebeb);/* FF3.6 */
			background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #ebebeb));/* Saf4+, Chrome */
								filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb');/* IE6,IE7 */
						-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb')";/* IE8 */
		}
		.main_news .n_prv_list1 .last{margin:0;}
		.main_news .n_prv_list1 li .img{display:block;font-weight:bold;color:#cf2c0d;line-height:1.5em;margin:0 0 4px;}
		.main_news .n_prv_list1 li .img img{display:block;width:210px;height:140px;margin:0 0 6px;}
		.main_news .n_prv_list1 p{position:relative;line-height:1.5em;*zoom:1;}
		.main_news .n_prv_list1 p .digg,.main_news .n_prv_list1 p iframe,.main_news .n_prv_list1 p .fb_iframe_widget{position:absolute;right:0;bottom:0;}

	/*- n_prv_list2 -*/
	.main_news .n_prv_list2{overflow:hidden;*zoom:1;*padding-bottom:1em;}
		.main_news .n_prv_list2 li{float:left;width:330px;margin:0 0 1em 0;padding:0 30px 0 0;}
		.main_news .n_prv_list2 .img{font-weight:bold;color:#cf2c0d;line-height:1.5em;margin:0 0 4px;}
		.main_news .n_prv_list2 .img img{float:left;width:75px;height:75px;padding:4px;margin:0 10px 0 0;border:1px solid #c4c4c5;}
		.main_news .n_prv_list2 p{line-height:1.5em;*zoom:1;height: 55px;}
		.main_news .n_prv_list2 p .more{padding:0 8px 0 0;}

/*-- top_article --*/
.top_article{float:left;width:474px;padding:0 18px;background:url(http://cdn.rimg.tw/images/blog/portal2011/top_article_box_bg.png) repeat-y left top;}
	.top_article .hd .side a:link,.top_article .hd .side a:visited{font-weight:bold;color:#cc2708;}
	.top_article .bd{}
	.top_article_list{vertical-align:top;overflow:hidden;*zoom:1;padding:10px 0 0 0;}
	.top_article_list li{height:16px;margin:0 0 12px;*zoom:1;}
	.top_article_list em{float:left;text-align:right;font-size:12px;width:20px;padding:0 8px 0 0;}
	.top_article_list .star0,.top_article_list .star1,.top_article_list .star2,.top_article_list .star3,.top_article_list .star4,.top_article_list .star5
	{float:left;margin:0 10px 0 0;background-image:url(http://cdn.rimg.tw/images/blog/portal2011/star2.png);}
	.top_article_list .top .star0,.top_article_list .top .star1,.top_article_list .top .star2,.top_article_list .top .star3,.top_article_list .top .star4,.top_article_list .top .star5
	{background-image:url(http://cdn.rimg.tw/images/blog/portal2011/star1.png);}
	.top_article_list .article_item{}
	.top_article_list .article_item li{float:left;width:190px;margin:0;padding:0 0 0 10px;background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed1.png) no-repeat left top;}
	.top_article_list .pv{float:left;width:36px;margin:0 10px 0 0;}

/*-- new_article --*/
.new_article{float:right;width:224px;padding:0 10px;}
	.new_article .n_list{vertical-align:top;padding:10px 0 0 12px;}
	.new_article .n_list li{*zoom:1;line-height:21px;height:21px;position:relative;margin:0 0 7px;*zoom:1;background-position:6px -120px;}
	.new_article .n_list li a{float:left;width:200px;}
	.new_article .n_list li .digg,.new_article .n_list li iframe{position:absolute;bottom:0px;right:0;}
	.new_article .n_list li .fb_iframe_widget{position:absolute;bottom:4px;right:0;}

/*-- side_comm_art --*/
.side_comm_art{margin:0 0 10px;}
	.side_comm_art h3{color:#666;padding:0 10px;line-height:30px;background:#f4f4f4;}
	.side_comm_art_list{vertical-align:top;}
	.side_comm_art_list li{position:relative;line-height:1.5em;height:85px;padding:12px 0 12px 90px;background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed2.png) repeat-x left bottom;}
	.side_comm_art_list li .img{display:block;color:#000;}
	.side_comm_art_list li .img img{position:absolute;left:0;top:12px;height:75px;margin:0 6px 0 0;padding:4px;border:1px solid #e2e2e2;}
	.side_comm_art_list li p{height:62px;position:relative;color:#585858;padding:2px 0 0 0;*zoom:1;}
	.side_comm_art_list li p cite{display:block;}
	.side_comm_art_list li .digg,.side_comm_art_list li iframe,.side_comm_art_list li .fb_iframe_widget{position:absolute;right:0;bottom:2px;}

/*-- side_Ad --*/
.wrap .col_side .ad_180x90{padding:0 0 10px;background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed2.png) repeat-x left bottom;}
.wrap .col_side .ad_last{margin:0;padding:0;background:none;}



/* Account Sytle
------------------------------------------------------------------------------------------------------------*/
/*-- account public --*/	
#account{color:#666;}
#account #page{background:url(http://cdn.rimg.tw/images/blog/portal2011/account_header_bg_01.png) no-repeat center top #eaeaed;}
	/*- header -*/
	#account #header{height:94;/*background:url(http://cdn.rimg.tw/images/blog/portal2011/account_header_bg.jpg) no-repeat center top;*/}
		#account #logo{width:120px;height:54px;background:url(http://cdn.rimg.tw/images/blog/portal2011/logo2.png) no-repeat;}
		#account #loginArea{width:auto;top:28px;right:40px;}
		#account #loginArea .helper{position:absolute;right:0;top:30px;white-space:nowrap;}
		#account #loginArea .Logged{position:absolute;right:0;top:30px;white-space:nowrap;}
		#header .notice{position:absolute;left:192px;top:58px;}
	/*- footer -*/
	/*
	#account #footer{background:url(http://cdn.rimg.tw/images/blog/portal2011/account_footer_bg.jpg) no-repeat center top;}
	#account #footer .inner{height:61px;background:none;}*/
	/*- content -*/
	#account #content{min-height:538px;/*background:url(http://cdn.rimg.tw/images/blog/portal2011/account_wrapper_bg.jpg) no-repeat center top;*/}
	/*- acc_box -*/
	.acc_box{}
		.acc_box .hd{height:40px;padding-top:1px;background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed2.png) repeat-x left top;}
		.acc_box .hd h2{color:#fff;float:left;text-align:center;display:block;line-height:40px;width:102px;height:40px;background:#888;}
		.acc_box .hd .tabs_nav{margin:0 0 0 102px;height:40px;background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed2.png) repeat-x left bottom #fff;}
		.acc_box .hd .tabs_nav li{float:left;width:114px;height:40px;}
		.acc_box .hd .tabs_nav li a{color:#cc2708;display:block;text-align:center;line-height:40px;height:40px;background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed1.png) no-repeat right center;}
		.acc_box .hd .tabs_nav li .disable{color:#b3b3b3;}
		.acc_box .hd .tabs_nav .current a{color:#fff;background:#d7381a;}
	/*- form -*/
	.inp_txt,.inp_txt1,.inp_txt2,.inp_txt3{line-height:16px;height:16px;padding:5px 6px;border:1px solid #dcdcdd;}
	select{padding:4px;border:1px solid #dcdcdd;}
	.btn input,.btn .button{color:#333;text-decoration:none;display:inline-block;*display:inline;*zoom:1;line-height:28px;height:28px;padding:0 8px;margin:0 8px 0 0;background:#e3e3e3;border:1px solid #dcdcdd;cursor:pointer;
			-webkit-border-radius:2px;
			-khtml-border-radius:2px;	
			-moz-border-radius:2px;
			border-radius:2px;
	}
	.tips{color:#cc2708;margin:0 0 1em;}
	label{cursor:pointer}

/*-- account --*/
.account{padding:25px 36px;}
	.account_detail{width:430px;padding:20px 84px;}
	.account_detail li{position:relative;color:#666;line-height:1.5em;background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed2.png) repeat-x left bottom;*zoom:1;}
	.account_detail li .prev{display:block;padding:20px 0;}
	.account_detail li .edit{display:none;padding:20px 0;}
	.account_detail .current .prev{display:none;}
	.account_detail .current .edit{display:block;}
	.account_detail li .modi,.account_detail li .hide{position:absolute;right:15px;top:18px;color:#cc2708;}
	.account_detail li p{margin:0 0 1.2em;}
	.account_detail .last{background:none;}
	.account_detail .prev label{float:left;width:74px;}
	/*- acc_form -*/
	.acc_form{}
		.acc_form p{margin:0 0 1em;}
		.acc_form p label{float:left;width:100px;line-height:28px;}
		.acc_form .btn{padding:0 0 0 100px;margin-bottom:0;}
		.acc_form .btn input{
		}
		.acc_form .inp_txt{width:180px;}
	/*- .account_personal -*/
	.account_personal{padding:30px 84px;}
		.account_personal .tips{color:#cc2708;margin:0 0 2em;}
		.personal_form{color:#666;}
		.personal_form li{line-height:1.5em;margin:0 0 1em;}
		.personal_form li label{float:left;width:74px;line-height:28px;}
		.personal_form .inp_txt1{width:50px;}
		.personal_form .inp_txt2{width:100px;}
		.personal_form .inp_txt3{width:300px;}
		.personal_form .btn{padding:10px 0 0 74px;}

/*-- signup --*/
.signup{padding:25px 36px;}
	.signup .bd{padding:20px 50px 20px 80px;}
	.signup .tips{color:#cc2708;}
	.signup_form{float:left;width:520px;}
	.signup_form li{position:relative;*zoom:1;padding:0 0 0 100px;line-height:1.5em;margin:0 0 1em;}
	.signup_form li label{position:absolute;left:0;width:100px;line-height:28px;}
	.signup_form .inp_txt{width:200px;margin:0 8px 0 0;}
	.signup_form .verif_code{display:block;margin:0 0 1em;}
	.signup_form .verif_code img{border:1px solid #dcdcdd;}
	.signup_form .agree label{position:static;}
	.signup_form .agree input{margin:0 10px 0 0;}
	.signup_form .agree a{color:#cc2708;}
	.signup_form .btn_signup{color:#fff;background:#d7381a;}
	/*- facebook_login -*/
	.facebook_login{float:right;width:162px;margin:30px 0 0 0;padding:20px 45px;background:#fff;border:1px solid #e0e0e0;}
	.facebook_login p{margin:0 0 1em;}
	.btn_facebook_login{display:block;text-indent:-9999px;width:161px;height:25px;background:url(http://cdn.rimg.tw/images/blog/portal2011/facebook_login.png) no-repeat;}
	/*- signup_complete -*/
	.signup_complete{width:460px;line-height:1.5em;}
	.signup_complete p{margin:0 0 2em;}
	.signup_complete .member_detail{margin:0 0 2em;}

/*-- epaper --*/
.epaper{padding:25px 36px;}
	.epaper .bd{padding:20px 50px 20px 80px;}
	.epaper .tips{margin:0 0 2em;}
	.epaper_form li{position:relative;*zoom:1;line-height:1.5em;margin:0 0 1em;}
	.epaper_form .inp_txt{width:200px;margin:0 8px 0 0;}

/*-- platform --*/
.platform{width:970px;margin:0 auto;padding:25px 0 0 0;}
	.platform_nav{overflow:hidden;width:970px;height:82px;margin:0 0 1em;white-space:nowrap;}
	.platform_nav li{float:left;overflow:hidden;width:102px;height:82px;margin:0 1px 0 0;}
	.platform_nav .last{margin-right:0;}
	.platform_nav li h4{float:left;font-weight:normal;color:#333;text-align:center;line-height:82px;width:102px;height:82px;background:#e8e8e8;cursor:pointer}
	.platform_nav li .inf{display:none;overflow:hidden;line-height:1.5em;float:left;width:200px;height:82px;padding:0 28px 0 20px;}
	.platform_nav .current{width:350px;}
	.platform_nav .current h4{color:#fff;background:#888;}
	.platform_nav .current .inf{display:block}



/* Category Sytle
------------------------------------------------------------------------------------------------------------*/
.category{color:#666;padding-bottom:50px;}
/*-- category_list --*/
.category_list{}
	.category_item{float:left;width:330px;height:125px;margin:0 8px 8px 0;padding:6px 14px 18px 14px;background:#fff;border:1px solid #dadada;}
	.category_item:hover{background:#f0f0f0;}
	.category_item h3{line-height:2em;margin:0 0 1em;padding:0 28px;background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed2.png) repeat-x left bottom ;}
	.category_sub_list{overflow:hidden;height:90px;background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed1.png) repeat-y center top ;}
	.category_sub_list li{float:left;width:136px;line-height:30px;padding:0 0 0 28px;}
	.category_sub_list li a{}

/*-- cate_article_list --*/
.cate_article_list{background:none;border:none;}
	.cate_article_list .hd{background:none;}
	.cate_article_list .hd .tabs_nav{border:none;padding-left:1px;background:url(http://cdn.rimg.tw/images/blog/portal2011/main_news_tabs_bg.png) no-repeat left top;}
	.cate_article_list .hd .tabs_nav li{min-width:106px;*width:106px;white-space:nowrap;}
	.cate_article_list .bd{padding:16px 16px 0 16px;background:#fff;border:1px solid #e0e0e0;}

	
	/*- cate_atlist -*/
	.cate_atlist{}
		.cate_atitem{padding:14px 0 10px 0;background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed2.png) repeat-x left bottom;}
		.cate_atlist .last{background:none;}
		.cate_atitem dl{position:relative;line-height:1.6em;height:90px;padding:0 0 0 95px;*zoom:1;}
		.cate_atitem dt{padding:0 0 2px;}
		.cate_atitem dt a{font-weight:bold;color:#9f9184;}
		.cate_atitem dt q{margin:0 8px 0 0;}
		.cate_atitem dt .img{position:absolute;left:0;top:0px;width:75px;height:75px;padding:4px;background:#fff;border:1px solid #e2e2e2; }
		.cate_atitem dd a,.cate_atitem dd cite{color:#9f9184;vertical-align:top}
		.cate_atitem dd cite{font-size:11px;}
		


/* Top500 Sytle
------------------------------------------------------------------------------------------------------------*/
/*-- top500 --*/
.top500{padding-bottom:30px;}
.top500 .p_title{margin:0 0 0.5em;}
.top500 .p_title h2{padding:4px 26px 0 26px;font-size:14px;}
.top_artical{}
	.top_artical .c1{float:left;width:80px;}
	.top_artical .c2{float:left;width:30px;text-align:right;}
	.top_artical .c3{float:left;width:320px;padding:0 0 0 30px;}
	.top_artical .c4{float:left;width:250px;padding:0 0 0 30px;}
	/*- .top500_th -*/
	.top500_th{overflow:hidden;*zoom:1;padding:20px 0 15px 0;background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed2.png) repeat-x left top;}
		.top500_th li{color:#666;font-weight:bold;line-height:1.5em;}
		.top500_th .c1{text-align:center;}
	/*- .top500_list -*/
	.top500_list{margin:0 0 1em;padding-bottom:6px;background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed2.png) repeat-x left bottom;}
		.top500_list li{overflow:hidden;*zoom:1;line-height:1.5em;margin:0 0 0.8em; }
		.top500_list .c1{color:#999;font-weight:bold;text-align:right;width:54px;padding-right:36px;}
		.top500_list .c2{color:#999;}
		.top500_list li a:link,.top500_list li a:visited{color:#333;}


/* Search Sytle
------------------------------------------------------------------------------------------------------------*/
/*-- search_result --*/
.search_result{padding-bottom:30px;}
	.search_result .p_title{padding-bottom:4px;margin-bottom:0;background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed2.png) repeat-x left 38px;}
	.search_result .p_title h2{padding:0 28px;}
	.search_result .p_title h1 {
	  padding: 10px 0 0 25px;
	  font-size: 17px;
	}

	/*- result_toolbar -*/
	.result_toolbar{overflow:hidden;*zoom:1;color:#666;line-height:1.8em;padding:8px 0 6px 0;background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed2.png) repeat-x left bottom;}
		.result_toolbar .stat{float:left;padding:0 30px;background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed1.png) no-repeat right center;}
		.result_toolbar .stat em{color:#cf2c0d;padding:0 2px;}
		.result_toolbar .stat .ico_rss{overflow:hidden;line-height:999em;text-indent:-9999px;*text-indent:0;display:inline-block;*display:inline;*zoom:1;width: 30px;height:14px;margin:0 8px;background:url(http://cdn.rimg.tw/images/blog/portal2011/icon_rss.png) no-repeat ;vertical-align:middle;}
		.result_toolbar .sort{float:left;padding:0 0 0 30px;}
		.result_toolbar .sort span{margin:0 4px 0 0;}
		.result_toolbar .sort label{padding:0 10px 0 0;*padding-right:5px;}
		.result_toolbar .sort label input{margin:0 2px 0 0;*margin:0;_vertical-align:0;}
	
	/*- search_result_list -*/
		.search_result_list{margin:0 0 1em;padding:0 30px;}
	  /*.search_result_list li{position:relative;*zoom:1;color:#333;padding:20px 0 16px 0;background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed2.png) repeat-x left bottom;}*/
		.search_result_list li {
		  position: relative;
		  color: #333;
		  padding: 16px 0 10px 0;
		  background:;
		}		
	  .search_result_list li a:link,.search_result_list li a:visited{color:#936a41;}
		.search_result_list li h3{font-size:16px;font-weight:bold;margin:0 0 0.5em;}
		.search_result_list li h3 a:link,.search_result_list li h3 a:visited{color:#333;font-size:19px;}
		.search_result_list li .from{position:absolute;right:0;top:24px;}
		.search_result_list li .from span{}
		.search_result_list li .from cite{color:#666;font-size:11px;}
		.search_result_list li .prv{line-height:1.5em;margin:0 0 0.5em;}
		.search_result_list li .url{font-size:14px;}

	/*- #so2 -*/
	#so2{margin:0 0 0 30px;}
		/* so_nav */
		#so2 .so_nav{z-index:2;overflow:hidden;*zoom:1;height:26px;margin:0 0 -1px;}
		#so2 .so_nav li{position:relative;float:left;width:56px;height:16px;_white-space:nowrap;background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed1.png) no-repeat right top;}
		#so2 .so_nav li a{position:absolute;left:0;top:0;display:block;padding:0 13px 14px 13px;}
		#so2 .so_nav .current{}
		#so2 .so_nav .current a{font-weight:bold;color:#cc2708;background:url(http://cdn.rimg.tw/images/blog/portal2011/ico.png) no-repeat center 17px;}
		#so2 .so_nav .last{background:none;}
		/* so_form */
		#so2 .so_form{overflow:hidden;float:left;width:280px;height:24px;padding:1px 0;background:#fff;border:1px solid #dddddd;}
		#so2 .so_form_input{}
		#so2 .so_form .inp_txt{float:left;line-height:16px;height:16px;width:174px;padding:4px 4px 4px 36px;border:none;background:url(http://cdn.rimg.tw/images/blog/portal2011/ico_so.png) no-repeat 15px 5px;}
		#so2 .so_form .inp_so{_float:left;color:#666666;width:66px;height:24px;border:none;background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed1.png) repeat-y left top;cursor:pointer;}
		/* sort */
		#so2 .sort{color:#666;float:left;padding:6px 0 0 30px;}
		#so2 .sort span{margin:0 4px 0 0;}
		#so2 .sort label{padding:0 10px 0 0;*padding-right:5px;}
		#so2 .sort label input{margin:0 2px 0 0;*margin:0;_vertical-align:0;}


/* fb_login_box Sytle
------------------------------------------------------------------------------------------------------------*/
.fb_login_box{color:#666;background:#fff;width:630px;}
	.fb_login_box .hd{height:45px;background:#ededed;padding:0 36px;}
	.fb_login_box .hd h3{padding:0 0 0 35px;line-height:45px;background:url(http://cdn.rimg.tw/images/blog/portal2011/fb_login_icon.png) no-repeat 0 7px; }
	.fb_login_box .bd{}
	/*- fb1 -*/
	.fb_login_box .fb1{padding:80px 0 0 0; }
	.fb_login_box .fb1 p{text-align:center;margin:0 0 2em; }
	/*- fb2 -*/
	.fb_login_box .fb2{padding:40px 0 0 190px;}
	.fb_login_box .login_form{width:258px; }
	.fb_login_box .login_form li{margin:0 0 .8em;*zoom:1;}
	.fb_login_box .login_form li label{line-height:28px;float:left;width:46px; }
	.fb_login_box .login_form li .inp_txt{color:#999;width:190px; }
	.fb_login_box .login_form .tips{margin:0 0 1.5em;}
	.fb_login_box .login_form .btn{position:relative;padding:8px 0 0 46px;}
	.fb_login_box .login_form .btn .btn_login{position:absolute;top:0px;right:0;}
	/*- fb3 -*/
	.fb_login_box .fb3{padding:20px 0 0 160px;}
	.fb_login_box .signup_form{width:380px;}
	.fb_login_box .signup_form .tips{padding-left:0;}
	.fb_login_box .signup_form li cite{display:block;padding-top:6px }
	.fb_login_box .signup_form .inp_txt{}
	.fb_login_box .signup_form .inp_txt1{width:40px;margin-right:2px;}
	.fb_login_box .signup_form .inp_txt2{width:140px; }
	.fb_login_box .signup_form span label{position:static;width:auto;padding:0 8px 0 0; }
	.fb_login_box .signup_form span label input{margin:0 4px 0 0;*margin:0; }
	.fb_login_box .signup_form .btn_signup{background:#7f7f7f; }
	/*- fb4 -*/
	.fb_login_box .fb4{padding:60px 0 0 120px;}
	.fb_login_box .fb4 p{margin:0 0 1em; }
	.fb_login_box .fb4 .member{padding:10px 0 0 0; }


/* Privacy Sytle
------------------------------------------------------------------------------------------------------------*/
/*-- privacy --*/
.privacy{padding:25px 36px;}
	.privacy .bd{padding:20px 140px 20px 80px;}
	.privacy ol{line-height:1.5em; }
	.privacy ol .item{margin:0 0 1.5em; list-style-type:decimal;}
	.privacy ol ul{padding:8px 0; }
	.privacy ol ul li{padding:0 0 0 16px;background:url(http://cdn.rimg.tw/images/blog/portal2011/ico.png) no-repeat 0 -184px;  }


/* Special Sytle
------------------------------------------------------------------------------------------------------------*/
/*-- spc --*/
.spc{color:#333;padding-bottom:30px;}
.spc .p_title{margin:0 0 1em;}
.spc .p_title h2{padding:4px 16px 0 16px;font-size:14px;}
.spc .p_title h1{padding:4px 16px 0 16px;font-size:14px;}

	/*- spc_list -*/
	.spc_list{padding:0 20px 0 0}
		.spc_list_item{position:relative;overflow:hidden;*zoom:1;height:140px; padding:0 0 22px 226px; }
		.spc_list_item .img{left:0;top:0;width:210px;margin:0 16px 0 0; }
		.spc_list_item .img img{display:block;width:210px; height:140px; }
		.spc_list_item .mt{*zoom:1;line-height:34px; height:34px;background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed2.png) repeat-x left bottom; }
		.spc_list_item .mt h3{float:left;color:#666;font-size:16px;}
		.spc_list_item .mt .side{float:right;}
		.spc_list_item .mc{overflow:hidden;*zoom:1;padding:16px 0 0 0; }
		.spc_list_item .sinfo{float:left;width:250px;line-height:1.2em; }
		.spc_list_item .slist{float:right;width:230px;}
		.spc_list_item .slist li{overflow:hidden;line-height:18px; height:18px; margin:0 0 0.5em; padding:0 0 0 14px;background:url(http://cdn.rimg.tw/images/blog/portal2011/ico.png) no-repeat 0 -124px;  }
	/*- spc_more_list -*/
	.spc_more_list{padding:0 20px 0 0}
		.spc_more_list_item{position:relative;overflow:hidden;*zoom:1;height:140px; padding:0 0 22px 226px; }
		.spc_more_list_item .img{position:absolute;left:0;top:0;width:210px;margin:0 16px 0 0;}
		.spc_more_list_item .img img{display:block;width:210px; height:140px; }
		.spc_more_list_item h3{color:#666;padding:8px 0;}
		.spc_more_list_item p{margin:0 0 0.5em;line-height:1.2em;}

/*20010627*/
.special .hd .tabs_nav li.current a{ color:#666;}
.special .headline .n_prv dt a{color:#cc2708;font-weight:bold; font-size:15px;}
.main_news .n_prv_list1 li span.cate{ background-color: #cacaca; font-size:12px; color:#555; padding:3px 3px; font-weight:bold;line-height:180%;}
.main_news .n_prv_list2 li span.cate{ background-color: #e0e0e0; font-size:12px; color:#555; padding:3px 3px;}
.main_news .n_prv_list1 li span.title{font-size:12px; color:#cc2708; padding:3px 3px; line-height:180%;}  /*font-weight:bold;*/


/*20110714*/
#loginArea .Logged li a{color:#0e87a5;}
#so .so_nav .current a{font-weight:bold;color:#000;background:url(http://cdn.rimg.tw/images/blog/portal2011/ico.png) no-repeat center 17px;}
#so .so_link li a:link,#so .so_link li a:visited{color:#03708b;}
.special .headline .n_prv dt a{color:#af260c;font-weight:bold; font-size:15px;}
.special .subline .more:link,.special .subline .more:visited{color:#03708b;}
.main_news .n_prv_list1 li span.title{font-size:12px; color:#03708b; padding:3px 3px; line-height:180%;}
.main_news .n_prv_list1 li span.cate{background:url(http://cdn.rimg.tw/images/blog/portal2011/cate_bg_01.png);font-size:12px; color:#555; padding:4px 5px 3px 7px; font-weight:normal;line-height:220%;}
.main_news .n_prv_list2 li span.cate{background:url(http://cdn.rimg.tw/images/blog/portal2011/cate_bg_01.png);font-size:12px; color:#555; padding:4px 5px 3px 7px;font-weight:normal;line-height:220%; margin-left: -5px;}
.main_news .n_prv_list2 p .more{padding:0 8px 0 0; color:#03708b;}
.main_news .n_prv_list2 .img{font-weight:normal;color:#03708b;line-height:1.2em;margin:0 0 4px; font-size:13px;}
.main_news .hd .tabs_nav li.current a{color:#000;}
.today_like .head_art .img{display:block;padding:0 0 0 0;}
.today_like .head_art .img:link,.today_like .head_art .img:visited{font-weight:bold;color:#af260c; font-size:12px; line-height: 220%}
.today_like .comm_art{background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed2.png) repeat-x left top; margin:5px 0px 0px 10px;}
.side_comm_art_list li{position:relative;line-height:1.5em;height:60px;padding:25px 0 12px 65px;background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed2.png) repeat-x left bottom;}
.side_comm_art_list li .img{display:block;color:#03708b; font-size: 12px;}
.side_comm_art_list li .img img{position:absolute;left:0;top:12px;height:50px;margin:0 6px 0 5px;padding:2px;border:1px solid #e2e2e2;}
.side_comm_art h3{color:#333;padding:0 10px;line-height:30px;background:#e3e3e3;}
.top_article_list .article_item{ margin-left: 12px;}
.top_article_list .article_item li.title{background:url(http://cdn.rimg.tw/images/blog/portal2011/listdot.png) no-repeat left top; text-indent:7px;width:290px;}
.top_article_list .article_item li{float:left;width:150px;margin:0;padding:0 0 0 10px;background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed1.png) no-repeat left top;text-indent:7px;}
.notice_list a{ color:#333;}
.notice_list a:hover{ color:#af260c;}
.red,.red:link,.red:visited{color:#af260c;}
.result_toolbar .stat em{color:#af260c;padding:0 2px;}
.search_result_list li .from{ margin-left: -8px;}
#so2 .so_nav .current a{font-weight:bold;color:#000;background:url(http://cdn.rimg.tw/images/blog/portal2011/ico.png) no-repeat center 17px;}


.main_news .n_prv_list1 li span.title{font-size:12px; color:#03708b; padding:3px 3px; line-height:200%;}
.main_news .n_prv_list1 li span.cate{background:url(http://cdn.rimg.tw/images/blog/portal2011/cate_bg_01.png) no-repeat;font-size:12px; color:#555; font-weight:normal;line-height:200%;width:72px; height:25px; display: block; float:left; text-align: center; padding: 0px;}
.main_news .n_prv_list2 li span.title{font-size:13px; color:#03708b; padding:3px 3px; line-height:170%;}
.main_news .n_prv_list2 li span.cate{background:url(http://cdn.rimg.tw/images/blog/portal2011/cate_bg_01.png) no-repeat;font-size:12px; color:#555; font-weight:normal;line-height:200%;width:72px; height:25px; display: block; float:left; text-align: center; padding: 0px; margin-left: -3px;}
.main_news .n_prv_list2 p .more{padding:0px 8px 0 0; color:#03708b; font-size: 12px;}
.main_news .n_prv_list2 p{line-height:1.5em;*zoom:1; margin-top: 5px;}

/*20110716*/
.spc_list{padding:0 20px 0 0}
.spc_list_item{position:relative;overflow:hidden;*zoom:1;height:180px; padding:0 0 22px 0px; margin-bottom:10px;}
.spc_list_item .img{width:210px;margin:0 16px 0 0; float:left; }
.spc_list_item .img img{display:block;width:210px; height:140px; margin:15px 10px 0px 10px;}
.spc_list_item p{ margin-left:10px;}
.spc_list_item .mt{*zoom:1;line-height:34px; height:34px;background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed2.png) repeat-x left bottom; }
.spc_list_item .mt h3{float:left;color:#333;font-size:16px; padding-left:15px;}
.spc_list_item .mt .side{float:right;}
.spc_list_item .mc{overflow:hidden;*zoom:1;padding:16px 0 0 0; }
.spc_list_item .sinfo{float:left;width:250px;line-height:1.4em; }
.spc_list_item .slist{float:right;width:230px;}
.spc_list_item .sinfo span{ color:#999;}
.spc_list_item .slist li{overflow:hidden;line-height:18px; height:18px; margin:0 0 0.5em; padding:0 0 0 14px;background:url(http://cdn.rimg.tw/images/blog/portal2011/ico.png) no-repeat 0 -124px;  }


/*20110717*/
.cate_atlist{}
.cate_atitem{padding:14px 0 10px 0;background:url(http://cdn.rimg.tw/images/blog/portal2011/dashed2.png) repeat-x left bottom;}
.cate_atlist .last{background:none;}
.cate_atitem dl{position:relative;line-height:1.6em;height:95px;padding:0 0 0 95px;*zoom:1;}
.cate_atitem dt{padding:0 0 2px;}
.cate_atitem dt a.title{color:#03708b; font-size:15px;}
.cate_atitem dt a.title:hover{color:#9e3333;}
.cate_atitem dt q{background:url(http://cdn.rimg.tw/images/blog/portal2011/cate_bg_01.png) no-repeat;font-size:12px; color:#555; font-weight:normal;line-height:190%;width:76px; height:25px; display: block; float:left; text-align: center; padding: 0px; margin-left: -3px; margin-right:8px;}
.cate_atitem dt q a{}
.cate_atitem dt .img{position:absolute;left:0;top:0px;width:75px;height:75px;padding:4px;background:#fff;border:1px solid #e2e2e2; }
.cate_atitem dd{ margin-top:5px;}
.cate_atitem dd a{color:#03708b;vertical-align:top;}
.cate_atitem dd a:hover{color:#9e3333;}
.cate_atitem dd cite{color:#666;vertical-align:top;font-size:11px;}

/*20110718*/
.special .hd .tabs_nav li.current a{ color:#333; font-size:13px;}
.main_news .hd .tabs_nav li.current a{color:#000; font-size:13px;}
.spc_more_list{padding:0 20px 0 0}
		.spc_more_list_item{position:relative;overflow:hidden;*zoom:1;height:160px; padding:15px 0 10px 226px; background:url(../img/dashed2.png) repeat-x left bottom;}
		.spc_more_list_item .img{position:absolute;left:0;top:0;width:210px;margin:20px 16px 0 0;}
		.spc_more_list_item .img img{display:block;width:210px; height:140px; }
		.spc_more_list_item h3{color:#333;padding:5px 0;}
		.spc_more_list_item h3 a{color:#000;}
		.spc_more_list_item p{margin:0 0 0.5em;line-height:1.4em;}
		.spc_more_list_item a.red{color:#03708b;}
.platform_nav li.current h4{color:#fff;background:#888;}

 /*20110805*/
#extraLink{position:absolute;left:560px;top:0px;width:180px;height:94px;}