mediv,h1,span,section{margin:0;padding:0;resize:none;}
img,p,h2,header,footer,nav,aside,article{margin:0;padding:0;resize:none;text-transform:capitalize;}
span.asteric{color:#FF0000; font-weight:bold; font-size:16px;}
span.pad{padding-left: 20px;text-transform:none;}
a{text-decoration:none;margin:0px;padding:0px;}	
ul,li{margin:0;padding:0;float:left;list-style:none;display:block;}
input{float:left;}
label{display:none;}
:focus{outline:1;outline-color:red;}
img{border:0;}
div div.cfc {text-align:center;}
.floatLeft{float:left; }
.floatLeftone{ float:left; /*margin:0px 0px 0px 12px;*/margin:0px 10px 0px 12px; width:512px;}
.floatLeft li{/*margin:0px 1.5px 0px 1.5px;*/margin:0px 0px 7px 0px;}
.center{margin:0 auto;}
.floatRight{float:right;}
.floatRightdesc{float:right; padding-right: 20px;}
.widthcommon{width:960px; margin-bottom:3px;}
.inln{display:inline;}
body{background:url(/mca/images/innerpage---bg.jpg) repeat-x #f6f6f7;font-size:12px;font-family:Segoe UI, Helvetica, Calibri;color:#555555; /*border:#F00 solid 1px;*/}
.hindi_width{font-family: Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI, Helvetica, Calibri;}
.hindi_width nav.floatLeft.widthcommon{  font-family: Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI Light, Helvetica, Calibri;}
.hindi_width .aboutus .navlinks4 li{font-size:14px;}
.hindi_width .navlinks2 li{font-size:14px;}
.hindi_width .aboutus .navlinks3 li{font-size:14px;}
body.home-body{background:url(/mca/images/top-bg-pattern.jpg) repeat-x #f6f6f7;}
header{padding:0px;border:1px solid;}
.headertop{width:960px;margin:0 0 34px 0; height:103px;padding-top:15px; /*border:#F00 solid 1px;*/}
#themes {position: absolute;margin-left:556px;}
#themes p {position: absolute;right: 75px;color:#ffffff;font-size:13px;margin-top:10px;}
.three-colors{margin-top:10px;}
#t-green,#t-blue,#t-grey{float:left;margin-right:4px;}
#t-green a {display: block;width: 20px;height: 20px;border-radius:5px;background-color:#5adb5a;text-indent: -9999px;}
#t-blue a {display: block;width: 20px;height: 20px;border-radius:5px;background-color:#406c85;text-indent: -9999px;}
#t-grey a {display: block;width: 20px;height: 20px;background-color:grey;border-radius:5px;text-indent: -9999px;}
.headerbottom{/*width:850px;*/margin-top:-9px;}
.homeicon{/*background:url(/mca/images/global_header_bg.png) repeat;*/text-align:center;height:33px;line-height:33px;margin:0 1px 0 0;float:left;}
.idicon{margin:0;}
.searchicon{margin:4px 0 0 4px;width:230px;}
.searchiconinput{border:0;height:24px;width:164px;color:#e6e6e6;padding:0 0 0 10px;margin-top:5px;font-family:Segoe UI, Helvetica, Calibri;font-size:14px;line-height:38px;}
.searchicon1{margin:0px 0 0 0px;border:0; background:url(/mca/images/magnify-glass.png) no-repeat;width:38px;height:39px;cursor:pointer;}
.searchdiv{text-align:center;width:180px;height:39px;line-height:33px;margin:0 1px 0 0; margin-top:-4px;}
.searchdiv input#search-text{ background:#8f8f8f;width:141px;height:39px; margin:0 0px 0 0; }
.searchdiv input#search-text:focus{ background:#ffffff;color:#333333;width:141px;height:39px; margin:0 0px 0 0; }
.homeicon img{padding:0px 0 0 0;}
.homeiconw{width:32px;}
.hindiiconw{width:40px;padding:0px 0 0 0;height:28px; }
.icons{width:48px;padding:0;height:33px;}
.headernav{/*width:510px;*/cursor:pointer;margin:3px 0px 0px 0px;}
.headernav ul{margin:0;}
.headernav ul li{font-family:sans-serif;padding:0 5px; font-size:13px;}
.hindi_width .headernav ul li{font-family: Mangal, "Devanagari MN", "Arial Unicode MS",sans-serif;}
.headernav ul li a{color:#e9e9e9;}
.headernav ul li a:hover{color:#91d5f3;}
.title{width:51px;margin:0 0 0 4px;}
.title a img{padding-top:20px;}
.topLink{width:330px;margin:29px 0 0 0;}
.topLink ul{margin:0 0 28px 0;padding:0;width:302px;}
.topLink li{background:#4169bf;margin:0 0 0 5px;padding:0;height:33px;line-height:33px;}
.topLink li a{color:#ffffff;font-size:11px;padding:0 5px;}
.topLink span{width:252px;margin:28px 0 0 0;background:#f0f0f0;}
.subarrowSecureLock{background: url(/mca/images/newLock.png) no-repeat 90% center;}
li#importent{display: none;}
.hindi_width span.homeicon.idicon.icons a.increaseFont{float:left;}
.hindi_width #society{line-height:21px;}
body{margin-bottom: 0;}
.width35{width:35%;}
.hindi_width li#about{width: 115px;padding: 1px 6px 1px 6px;}
.hindi_width li#acts{width: 130px;padding: 1px 6px 1px 6px;}
.hindi_width li#services{width: 102px;  padding: 1px 6px 1px 6px;}
.hindi_width li#info{  width: 95px;  padding: 1px 6px 1px 6px;}
.hindi_width li#contacts{  width: 45px;padding: 1px 6px 1px 6px;}
.hindi_width li#quicklinks{  width: 195px;  padding: 1px 6px 1px 6px;}
.hindi_width .floatLeft.widthcommon li.paddi a{font-size:14px;}
.decrease-margin1{margin-left:560px;}
.decrease-width1{width:1020px;margin-top: -9px;}
/**Navigation Starts**/
.navigation ul li.home{ /* background-color:#0da3e2; */ width:0px; text-align:center; padding:0; width:54px;padding:0px 0px 2px 0px; margin-top:1px;}
/*.navigation ul li.home a {padding: 10px 16px 10px 16px;}*/
nav{/*background:url(/mca/images/primary_nav.png) repeat;*/height:39px;z-index:1000;margin:1px 0 0 0; margin-top:-34px;}
.navigation ul{height:39px;margin:-4px 0px 0px 0px;}
/*.navigation ul li{padding:0 25px 0 24px;text-transform:uppercase;border-right:2px solid #fff;line-height:42px;text-align:center;color:#212121;cursor:pointer;font-size:13px;}*/
.navigation ul li{padding: 1px 25px 1px 18px;text-transform:uppercase;/* border-left:2px solid #fff; */border-right:2px solid #fff;line-height:40px;text-align:center;color:#212121;cursor:pointer;font-size:13px;height:39px;margin-top:1px;}
.navigation ul li a{color:#212121;}
.navigation ul li a.selectedmenu{color:#ffffff;}
.navigation ul .lastchild{border-right:0;padding:0 37px;text-transform:uppercase;line-height:42px;text-align:center;color:#212121;cursor:pointer;font-size:14px;}
.activehome{background:#444444/* url(/mca/images/dropdown_bg.png) repeat */;color:#ffffff;}
.navigation ul li.activehome>a{color:#ffffff;}
.selectedmenu{background:#0da3e2;color:#ffffff;}
.navigation ul li.selectedmenu>a{color:#ffffff;}
.aboutnav .selectedleftnav{font-family:Segoe UI, Helvetica, Calibri; font-weight: 45 Light; ; font-size:14px; color:#0da3e2;display:block;}
.hindi_width .aboutnav .selectedleftnav{color:#0da3e2;}
.leftsubmenu{display:none;}
/*.aboutnav .left-main-menu{background:url(../images/left_menu_downward_arrow.png) no-repeat 206px;color:#0E0E0E;width:203px;border-bottom:none;}*/
.aboutnav .left-main-menu{background:url(../images/left_menu_upward_arrow.png) no-repeat 206px;color:#0E0E0E;width:203px;border-bottom:none;}
.aboutnav .left-submenu-container{display:block;}
.left-submenu{display:block;padding:0 12px 0 9px;}
.aboutnav .selectedpointer{display:block;background:url(/mca/images/pink_arrow_hover.png) no-repeat #FAFAFA 213px 1px;border-top:1px solid #e0dfe5;color:#0E0E0E;width:203px;border-bottom:none;padding:0 12px 0 9px;}
.aboutnav .pink-highlight-affilation{background:none;}
.aboutus{background:#444444;display:none;position:relative;z-index:11;float:left;top:3px;}
.show-submenu{display:block;}
.aboutpos{left:0;}
.legispos{left:0;}
.mcapos{left:0;}
.infopos{left:309px;}
.rtipos{left:453px;}
.quickpos{left:470px;}
.columns{width:506px;padding:0 1px 1px 0;}
.navleft{width:190px;margin:0 12px 20px 21px;}
.navleft h1{width:190px;font-size:16px;font-weight:normal;position:relative;margin:87px 0 0 0;padding:0 0 10px 0px;overflow:hidden;text-transform: uppercase;}
.navleft h1 .f1{color:#0abb6e;}
.navleft h1 .f2{color:#d73a26 ;}
.navleft h1 .f3{color:#f8a92b;}
.aboutdetail1{margin:12px 0 0 0;padding:0 0 10px 10px;width:180px;}
/* .navleft .aboutdetail1  .image1{border-left:4px solid #a0557b;}
.navleft .aboutdetail1  .image2{border-left:4px solid #749b96;}
.navleft .aboutdetail1  .image3{border-left:4px solid #dca173;} */
.aboutdetail{color:#d0cece;font-size:11px;width:180px;clear:both;padding: 10px 0 0 0px;text-transform: none;}
.navlinks2{background:#494949;width:260px;margin:0 0 0 23px;padding:15px 0;text-transform:none;}
.navlinks2 ul{width:238px;margin:0 0 0 23px;}
.navlinks2 li{width:228px;color:#ffffff;background:none;line-height:18px;margin:0 0 4px 0;font-size:13px;color:#999;  padding:3px 0;}
.navlinks2 li a{color:#ffffff;}
.navlinks2 li a:hover{color:#91d5f3;}
.navborder{border-bottom:1px solid #5c5c5c;}
.navlinks2 li ul{width:214px;margin:0 0 0 12px;}
.navlinks2 li ul li{width:194px;padding:0;color:#a8bffd;margin:0 0 5px 0;color:#999;}
.navlinks2 li ul li a{color:#b6b6b6;}
.aboutus .navlinks3{background:#494949;width:960px;margin:0;padding:15px 0;text-transform:none;}
.aboutus .navlinks3 ul{margin:0 0 0 8px;width:229px;}
.aboutus .navlinks3 li{background:none;color:#999999;font-size:13px;line-height:18px;margin:0 0 4px 0;width:233px; padding:3px 0;}
.aboutus .navlinks3 li a{color:#ffffff;}
.aboutus .navlinks3 li a:hover{color:#91d5f3;}
.aboutus .navlinks3 li ul li a{color:#b6b6b6;}
.aboutus .navlinks3 li ul{width:203px;margin:0 0 0 12px;}
.aboutus .navlinks3 li ul li{width:203px;color:#999999;margin:0 0 5px 0;}
.aboutus .navlinks4{background:#494949;width:487px;margin:0;padding:15px 0;text-transform:none;}
.aboutus .navlinks4 ul{margin:0 0 0 8px;width:229px;}
.aboutus .navlinks4 li{background:none;color:#999999;font-size:13px;line-height:18px;margin:0 0 4px 0;width:233px;  padding:3px 0;}
.aboutus .navlinks4 li a{color:#ffffff;}
.aboutus .navlinks4 li a:hover{color:#91d5f3;}
.aboutus .navlinks4 li ul li a{color:#b6b6b6;}
.aboutus .navlinks4 li ul{width:203px;margin:0 0 0 12px;}
.aboutus .navlinks4 li ul li{width:203px;color:#999999;margin:0 0 5px 0;}
.lockmargin{margin:1px 0 0 0;}
#lineheighta{line-height:21px;}
#donation{line-height: 20px;}
li#compsta2 a.lineheighta{padding-top:5px;}
li#Public_Search a.left-main-menu{background:url(../../../../mca/images/ext.png) 91% 50% no-repeat;}
li#Public_Search a.left-main-men{background:url(../../../../mca/images/ext.png) 84% 50% no-repeat;}
li#integration{line-height:22px;}
li#reqScannedDoc a{background:url(../../../../mca/images/newLock.png) 3% 87% no-repeat;padding-bottom:17px;}
li#reqScannedDoc .lock_hindiimg{background:url(../../../../mca/images/newLock.png) 25% 83% no-repeat !important;padding-bottom:0;}
li#verifyPartnerDetails{line-height: 25px;}
li#llpfaq2{  padding-top: 5px;  line-height: 19px;}
//li.uploadforms a{background:url(../../../../mca/images/newLock.png) 97% 65% no-repeat !important;}
//li.uploadforms.lockmargin img{display: none;}
li#compsta1{  line-height: 20px;padding-top: 5px;}
li.rfd1{width:202px !important;line-height:21px !important;}
li.subarrow.line-lock{  line-height: 23px;}
li.subarrow.line-lock a{background:url(../../../../mca/images/newLock.png) 25% 80% no-repeat !important;}
ul.remove_float li{float:none;}
ul.remove_float li a{padding: 0 0 16px 20px !important;}
.lineheights{line-height:25px;}
li.lockedSubLiElement_hindi a{width:160px;background: url(../../../../mca/images/newLock.png) 16% 82% no-repeat;}
.hindi_width li.lockedSubLiElement_hindi a{width:184px;} 
li.verify_hindilock12 a{background: url(../../../../mca/images/newLock.png) 89% 85% no-repeat !important;}
.hindi_width li.verify_hindilock12 a{background: url(../../../../mca/images/newLock.png) 98% 80% no-repeat !important;}
li#login a.login_new{background:url(../../../../mca/images/newLock.png) 87% 28% no-repeat,url(../../../../mca/images/New.png) 1% 90% no-repeat;height:42px;}
.hindi_width li#login a.login_new{background:url(../../../../mca/images/newLock.png) 86% 83% no-repeat;height:53px;}
.hindi_width li#checkFilingStatus a{background:url(../../../../mca/images/newLock.png) 99% 79	% no-repeat;}
#reports_breadcomms{display:none;}
li#trackSRN .widths_hind{width:160px;}
li#lineheighta .line-height_hindi{width:177px;line-height:23px;}
.hindi_width li#emp5{line-height:21px;}
li.emp5{line-height: 38px !important;}
.hindi_width li#liaison{  line-height: 26px;}
ul.greybg.gery-img{width:100%;}
.float_none{float:none !important;}
.uploadDetails a{background: url(../../../../mca/images/newLock.png) 64% 88% no-repeat,url(../../../../mca/images/New.png) 80% 88% no-repeat;}
.overlay{  display: block;position: absolute;z-index: 2000;background: rgba(0,0,0,0.8);height: 500%;width: 100%;font-weight: bold;}
.Track-Investor1 a{background: url(../../../../mca/images/New.png) 40% 82% no-repeat;}
.employeegrievances1 a{background: url(../../../../mca/images/New.png) 75% 60% no-repeat;}
li#mos a{line-height: 21px;}
li#payment{  line-height: 28px;}
/**Navigation Ends**/
.middleContent{margin:1px 0 0 0;border-top:0;overflow:hidden;width:960px;}
#banner{width:960px;margin:18px 0 18px 1px;}
.hindi_width #banner{margin:18px 0 1px 1px;}
.frequentlyusedtabs h1{font-size:16px;font-family:Segoe UI Semibold, Helvetica, Calibri;/*padding:0px 0px 0px 0px;*/padding:0px 0px 15px 0px;color:#333333;text-transform:uppercase; }
section.bannerLeft{padding:0 0 0px 0;width:395px;margin:0 0 18px 0;text-transform:none;text-align: justify; }
section.bannerLeft h1{/*color:#0DA3E2;font-size:24px;*/color:#0da3e2;font-size:22px;font-weight:normal;width:395px;/*font-family:Segoe UI Light;*/font-family:Segoe UI, Helvetica, Calibri; /*margin-top:22px;*/text-transform:uppercase;}
section.bannerLeft p{padding:0;margin:0;padding:0 0 22px 0;width:428px;/*color:#d6ddee;*/color:#333333;/*font-size:16px;line-height:20px;font-family:Segoe UI Light;*/font-size:15px;font-family:Segoe UI Light, Helvetica, Calibri;margin:10px 0 0 0;text-transform:none;line-height:26px;}
.lastpara{/*color:#d6ddee;*/color:#333333;font-size:16px;font-family:Segoe UI Light, Helvetica, Calibri;text-transform:none;}
.changepara a{color:#be0200;}
.changepara a:HOVER{color:#0097E0;}
.slider{background:url(/mca/images/sliderbg.png) repeat;width:470px;height:246px;float:right;}
.mainContent{margin-top:0;width:960px;background:#f6f6f7;}
aside.left{width:213px;/*border-right:1px solid #ccc; */}
aside.left ul{width:213px;/*width:229px;border-bottom:1px solid #dadada;border-top:1px solid #dadada;*/margin:0;}


aside.left ul li{font-size:12px;padding:1px 0 0 0;font-family:Segoe UI, Helvetica, Calibri;font-size:14px;margin:-5px 0px 10px 0px;}
aside.left ul li span img{/*padding:0 12px 0 0;margin:5px 0 0 12px;*/}
.commonprop{width:228px;padding:5px 0;line-height:37px;text-transform:none;float:left; font-size:12px;}
aside.left ul li .registerimg{color:#333542; font-size:12px; margin:17px 0px 0px 0px;}
aside.left ul li .changeimg{background:url(/mca/images/change_company_bg.png) repeat;color:#3b3b3b; font-size:12px; margin-top:10px;}
aside.left ul li .complianceimg{background:url(/mca/images/compliance_bg.png) repeat;color:#403238; font-size:12px; margin-top:10px;}
aside.left ul li .closeimg{background:url(/mca/images/Frq_YwStrip.png) repeat;color:#504426; font-size:12px; margin:10px 0px 10px 0px;}
aside.left ul li a span:hover{color:#18428c;}
aside.left ul li a span img{float:left;}

aside.right{width:213px;/*border-left:1px solid #cccccc;*/margin:0px 0px 25px 0px;}
.tabsa{/*background:url(/mca/images/BGCStrip.png) no-repeat;*/height:350px; /*background:#0F0;*/font-family:Segoe UI, Helvetica, Calibri;font-size:15px;}
.hindi_width .tabsa{font-family:Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI, Helvetica, Calibri;}
.tabsa ul{/*width:246px;*/margin:0;width:213px;background-color:#E9E9EA;}






.tabsa ul li{/*background:url(/mca/images/line_bottomb.png) repeat-x bottom;*/border-bottom:2px solid #f6f6f7;overflow:hidden; display:block; /*width:235px;*/width:208px; height:43px; padding-top:3px; }








.tabsa ul li a{color:#303337;font-size:14px; margin:0 6px;padding:1px 0;width:234px;}
.tabsa ul li:hover{color:#18428c;}
/*.line_bottom{/*background:url(/mca/images/line_bottomb.png) repeat-x; height:4px;margin:0 auto;}*/
.tabsa ul li.lastsec1{background-image:none;}
.text{line-height:43px;}
.tabsa ul li .parliament img{/*margin:0 8px 0 0;*/margin:7px 8px 0 0;}
.tabsa .paddingp{padding:5px 0px 5px 5px;}
.tabsa ul li .official img{margin:6px 8px 0 0px;}
.tabsa ul li a span img{float:left;}
.ministerCorner{/*background:url(/mca/images/BGCStrip.png) repeat;width:235px; margin-left:10px;*/width:213px;padding:31px 0 20px;  }
.ministerCorner h2{color:#4a921a;font-size:12px;text-transform:uppercase;font-weight:bold;/*padding:0 10px;*/font-family:Tahoma, Geneva, sans-serif;}
.ministerCornerBand{background:url(/mca/images/minister_scorner_redbg.gif) repeat;height:42px;line-height:40px;color:#fff;padding:0px 0px 0px 30px;margin-top:-3px;text-transform:uppercase;font-size:16px;}
.ministerCorner ul{padding:8px 10px 0;margin:0;background:#E9E9EA;}
.ministerCorner ul li{background:url(/mca/images/pointer.png) no-repeat 0 10px;padding:5px 0 10px 15px;}
.ministerCorner ul li a{color:#303337;font-family:Segoe UI, Helvetica, Calibri;font-size:13px;}
.ministerCorner ul li a:hover{color:#0097E0;}
.wantsection{/*width:228px;*/width:213px;/*background:url(/mca/images/LeftNav_Strip.png) repeat;*/}
.wantsection h1{color:#333333;font-size:16px;font-weight:bold;margin:0;/*padding:14px 0 0px 18px; margin-top:35px;*/padding:15px 0 10px;margin-top:0px;text-transform:uppercase;font-family:Segoe UI Semibold, Helvetica, Calibri;}
.wantsection span{border:1px solid #e4e4e4;height:25px;background:#fefefe;margin:2px 0 0 16px;width:194px;}
.wantsection span input{border:0;background:none;color:#c6c6cf;}
.textbox{background:#FEFEFE;border:0;color:#D6D5DD;height:23px;line-height:23px;padding:0 0 0 6px;width:153px;}
.wantsection .submit{background:url(/mca/images/submitarrow.png) no-repeat;border-left:1px solid #E4E4E4;cursor:pointer;height:25px;left:152px;position:relative;top:-26px;width:26px;}
aside .wantsection ul{background:#e9e9ea;border:0;height:auto;margin:0px 0 0 0;padding:5px 2px 0 18px;width:195px;margin:0px 0px 10px 0px;font-family:Segoe UI, Helvetica, Calibri;font-size:14px;}
.wantsection ul li{/*width:196px;*/width:180px;background:url(/mca/images/pointer.png) no-repeat 0 17px;border:0;padding:12px 0 0 15px;color:#393c45;font-family:Segoe UI Light, Helvetica, Calibri;font-size:14px;}
.wantsection ul li.seperator{/*border-bottom:1px solid #ccc; width:180px;*/}
.wantsection ul li a{color:#303337;float:left;font-family:Segoe UI, Helvetica, Calibri;font-size:14px;text-transform: none;}
.hindi_width .wantsection ul li a{font-family:Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI, Helvetica, Calibri;}
.wantsection ul li a:hover{color:#0097E0;}
.wantsection ul li .lock{background:none;border:0;display:block;height:17px;margin:-5px 20px 0 0;overflow:hidden;width:22px;}
.wantsection .hindi{margin:-1px 0 0;padding:17px 0 0 14px;}
article{width:467px;/*background:url(/mca/images/BGCStrip.png) repeat;*/font-family:Segoe UI Light, Helvetica, Calibri;font-size:14px;/*border-left:1px solid #ccc; border-right:1px solid #ccc;*/}
article .threetabs{width:510px;/*margin:0 0 3px 0;padding:0 0 0 12px;*/overflow:hidden;color:#1d1d1c;}
article .line_bottom{width:467px;background:url(/mca/images/line_bottom.png) repeat-x;height:6px;overflow:hidden;}
.lastsec{height:234px;}
article .threetabs h1{text-transform:uppercase;/*font-size:12px;*/ /*margin-top:30px;*/margin:0 0 10px;font-size:16px;font-weight:bold;}
article .threetabs .noticesC{/*color:#992249;*/color:#333333;}
article .threetabs .newsC{/*color:#c95601;*/color:#333333;}
article .threetabs .quotationsC{/*color:#632564;*/color:#333333;}
article .threetabs .comentC{color:#235065;}
article .threetabs .datetext{/*color:#947864;font-size:11px;*/color:#b873aa;font-size:12px;}
article .threetabs ul{margin:0;}
article .threetabs ul li{padding:16px 6px 16px 31px;text-transform:none;width:472px;color:#303337;line-height:21px;/*font-family:Tahoma, Geneva, sans-serif;*/font-family:Segoe UI, Helvetica, Calibri;background:url(../../../../mca/images/bullet.gif) no-repeat 12px 23px;border-bottom:1px solid #d1d1d1;}
.hindi_width article .threetabs ul li{font-family: Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI, Helvetica, Calibri;}
article .threetabs ul li a{color:#303337;}
article .threetabs ul li a:hover{/*color:#18428c;*/color:#0097E0;}
.archive{/*background:url(/mca/images/tabsbg.png) repeat;padding:0 10px;/*width:226px;*/margin:2px 0;width:214px;padding:0px}
.archive span{color:#393c6f;font-size:13px;text-transform:uppercase;padding:11px 20px 13px 22px;font-family:Segoe UI, Helvetica, Calibri!important;width:65px;text-align:center;}
.archive span a{/*color:#393c6f;*/col.or:#fff;/*font-weight:bold;*/}
.archive span a:hover{color:#91d5f3;}
.clearBoth{clear:both;}
.hindi_width section.bannerLeft p{font-family: Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI Light, Helvetica, Calibri;}
.hindi_width span.lastpara{font-family: Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI Light, Helvetica, Calibri;font-size:14px;}
.hindi_width .wantsection ul li{font-family: Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI Light, Helvetica, Calibri;}
.ul_tagwidth li a{  width: auto !important;padding:0 0 16px 25px !important;}
.ul_tagwidth li{float:none;}
li#cancelsrn{  line-height: 21px;}
.padd25{padding-top:25px !important;}
.hindi_width li#workspace{  padding: 1px 6px 1px 6px;text-transform: uppercase; border-right: 2px solid #fff;line-height: 40px;text-align: center;color: #212121;cursor: pointer;font-size: 14px;height: 39px;margin-top: 1px;}
/*innerpage*/
#innerContent{width:960px; padding:30px 0 0 0;}
.rightInnerContent{margin:0 0 0 20px;width:696px;/*padding:0 0 0 7px;*/min-height:700px;}
.rightInnerContent h2{font-family:Segoe UI Semibold, Helvetica, Calibri; /*font-weight: 20;*/ ;font-size:18px; color:#000000;padding:0 0 9px 0;line-height:21px;}
.hindi_width .rightInnerContent h2{font-family: Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI Semibold, Helvetica, Calibri;}
.english_pages .rightInnerContent h2{  padding: 0px 0 9px 0;}
.rightInnerContent h2.height2{font-family: Segoe UI Semibold, Helvetica, Calibri; /*font-weight: 20;*/ ;font-size:18px; color:#000000;padding:10px 0 20px 0;line-height:23px;}
.rightInnerContent h2.eFiling{text-transform: none;}
.rightInnerContent ul{margin:0;padding:10px 0 5px 0;}
.rightInnerContent ul li a{background:url(/mca/images/bullet.gif) no-repeat 2px 6px;color:#1e57bf;float:left;font-size:13px;margin:0 0 0 0px;padding:0 0 9px 20px;width:578px;}
.rightInnerContent ul.photogalul li a{background:none;color:#1e57bf;float:left;font-size:13px;margin:0 0 0 0px;padding:0 0 0px 0px;width:auto;}
.rightInnerContent ul li li a{background:url(/mca/images/pointer.png) no-repeat 17px 4px;color:#1e57bf;float:left;font-size:13px;margin:0 0 0 10px;padding:0 0 9px 30px;width:578px;}
.rightInnerContent p.pading{float:left;font-size:13px;margin:0 0 0 20px;padding:0 0 9px 30px;width:100%; text-align:justify;}
.rightInnerContent p.pading2{float:left;font-size:13px;margin:0 0 0 50px;padding:0 0 9px 30px;width:578px; text-align:justify;}

.rightInnerContent p.acenter{color:#2e3341;font-size:13px;font-family:Segoe UI, Calibri,Helvetica;padding:0 30px 20px 0px;line-height:26px;text-transform:none;text-align: center;}
.rightInnerContent p{color:#34393e;font-size:14px;font-family:Segoe UI, Helvetica, Calibri; padding:0 30px 20px 15px;line-height:26px;text-transform:none;text-align: justify;}
.parawidth{width:670px;float:left; color:#34393e;font-family:Segoe UI, Helvetica, Calibri;  /*leading:26px;*/}
p.standards{padding:0 30px 0px 0px;}
.conRight.floatLeft img {width: 299px;height: 331px;}
/*.rightInnerContent a{color:#1e57bf;float:left;}*/
span.underline{text-decoration: underline;text-transform: none;}
.rightInnerContent p strong {font-family:Segoe UI Semibold; font-weight: normal; }
.rightInnerContent a:Hover{color:#0da3e2};
#innerContentNew{width:960px; padding:30px 0 0 0;/* background-color:#E8E8E8; border-right:1px solid #ccc; border-left:1px solid #ccc; border-bottom:1px solid #ccc;*/}
.rightInnerContent2{width:960px;padding:20px 0 0 0;}
.rightInnerContent2 h2{font-family:Segoe UI, Helvetica, Calibri; /*font-weight: 20;*/ ;font-size:18px; color:#000000;padding:10px 0 20px 0;/* line-height:0; */}
.hindi_width .rightInnerContent2 h2{font-family: Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI, Helvetica, Calibri;}
.rightInnerContent2 ul{margin:0;padding:10px 0 5px 0;}
.rightInnerContent2 ul li a{font-family:Segoe UI , Calibri,Helvetica; background:url("/mca/images/bullet.gif") no-repeat scroll 2px 6px;color:#1e57bf;float:left;font-size:13px;margin:0 0 0 0px;padding:0 0 9px 25px;width:778px;}
.hindi_width .rightInnerContent2 ul li a{  font-family: Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI, Helvetica, Calibri;}
.rightInnerContent2 ul li li a{background:url(/mca/images/pointer.png) no-repeat 2px 6px;color:#1e57bf;float:left;font-size:13px;margin:0 0 0 20px;padding:0 0 9px 25px;width:578px;}
.rightInnerContent2 p.pading{float:left;font-size:13px;margin:0 0 0 20px;padding:0 0 9px 30px;text-align:justify;width:85%;}
.rightInnerContent2 p.pading2{float:left;font-size:13px;margin:0 0 0 50px;padding:0 0 9px 30px;text-align:justify;width:82%;}
.rightInnerContent2 p.pading3{float:left;font-size:13px;margin:0 0 0 80px;padding:0 0 9px 30px;text-align:justify;width:78%;}
.rightInnerContent2 p.link a{color:#1e57bf; float:none;background: none;margin: 0px 0px 0px 0px;padding: 0px 0px 0px 0px;}
.rightInnerContent2 p.acenter{color:#2e3341;font-size:13px;ont-family:Segoe UI, Calibri,Helvetica;padding:0 30px 20px 0px;/*line-height:20px;*/text-transform:none;text-align: center;}
.rightInnerContent2 p{color:#34393e;font-size:13px; text-align:justify; font-family:Segoe UI, Helvetica, Calibri;padding:0 30px 20px 0px;line-height:26px;/*line-height:20px;*/text-transform:none;}
.rightInnerContent2 a{color:#1e57bf;float:left;}
.rightInnerContent2 p strong {font-family:Segoe UI Semibold; font-weight: normal; }
div.heightNew{min-height:700px;} 
.hindi_width .rightInnerContent2 p{  font-family: Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI, Helvetica, Calibri;}
.rightInnerContent2 ul li a strong{font-family:Segoe UI Semibold; font-weight: normal;}
.rightInnerContent2 a:Hover{color:#0da3e2};
/*.heightL{height:1050px;}*/
.heightS{height:450px;}
.rightInnerContent .changeinpara{color:#34393e;}
.adobeicon{text-align:center;width:15px;height:18px;line-height:18px;background:#cbc9ca;margin:0 0 0 7px; padding-left:0px;}
.paddingtopa{padding:0 0 30px 0;}
.adobedesc{background:#A89FA0;color:#FFFEFF;font-size:12px;height:17px;line-height:18px;margin:0;padding:0.5px 11px 0.5px 11px;text-align:center;}
.rellinkFaq{background:#e9e9eb;font-size:12px;height:18px;line-height:18px;margin:0;padding:0 0;text-align:center;
color:#6c6d6f;font-weight:normal;border-bottom:1px solid #dcdcde;}
.rellinkFaq a{background:#e9e9eb;font-size:12px;height:18px;line-height:18px;margin:0;padding:0 11px;text-align:center;
color:#18428E;font-weight:normal;border-bottom:1px solid #dcdcde;}
.rellinkFaq2{color:#18428E; float:none;background: #A89FA0;margin: 0px 0px 0px 0px;font-size:14px; padding: 0px 0px 0px 0px;height:18px;line-height:18px;}

.links{width:956px;margin:10px 0 0 0;}
.links h1{font-family:Segoe UI Light, Helvetica, Calibri; color:#0da3e2; font-size:18px;text-transform:capitalize;font-weight:normal;}
.hindi_width .links h1{font-family: Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI Light, Helvetica, Calibri;}
.links ul{margin:0;padding:6px 0 0 0;}
.links ul li{font-family: Segoe UI, Helvetica, Calibri; color:#333333; font-size:14px;text-transform: capitalize;}
.hindi_width .links ul li{font-family:Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI, Helvetica, Calibri;}
.links ul li a{color:#333333;}
.links ul li a:HOVER{color:#0da3e2;}
.activehover{/* font-weight:bold; */; font-family: Segoe UI Semibold, Helvetica, Calibri !important;}
.hindi_width .activehover{font-family: Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI Semibold, Helvetica, Calibri!important;} 
.links ul li span{padding:0 5px;}
li#verifyPartnerDetails a{background: url(../../../../mca/images/newLock.png) 49% 88% no-repeat;}
li#enterUpdatePartnerDetails2 a{background: url(../../../../mca/images/newLock.png) 69% 83% no-repeat;}
li#enterUpdatePartnerDetails1 a{background: url(../../../../mca/images/newLock.png) 94% 55% no-repeat;}
li.verify_hindilock a{background: url(../../../../mca/images/newLock.png) 74% 56% no-repeat !important;}
li#llpfaq4{line-height: 22px;padding: 4px 0px 0px 20px;}
li.locks_hindi a{background: url(../../../../mca/images/newLock.png) 82% 82% no-repeat !important;}
li#eformUpld a{background: url(../../../../mca/images/newLock.png) 55% 62% no-repeat;}
.hindi_width li#eformUpld a{background: url(../../../../mca/images/newLock.png) 63% 47% no-repeat;}
li#PayLater a.left-main-menu{background:url(../../../../mca/images/newLock.png) 30% 50% no-repeat;}
li#LinkNEFT a{background:url(../../../../mca/images/newLock.png) 65% 50% no-repeat;}
.hindi_width li#LinkNEFT a{background:url(../../../../mca/images/newLock.png) 76% 41% no-repeat;}
li#PayLater .lock_hindi{background:url(../../../../mca/images/newLock.png) 56% 50% no-repeat;}
.hindi_width li#PayLater .lock_hindi{background:url(../../../../mca/images/newLock.png) 66% 45% no-repeat;}
ul.links_below li a{padding: 0 0 16px 30px !important;}
.hindi_width li#PayMiscellaneous a{background:url(../../../../mca/images/newLock.png) 91% 40% no-repeat !important;}
li#PayMiscellaneous a{background:url(../../../../mca/images/newLock.png) 74% 50% no-repeat;}
li.PayMiscellaneous12 a{background:url(../../../../mca/images/newLock.png) 84% 50% no-repeat !important;}
li#PayStampDuty a{background:url(../../../../mca/images/newLock.png) 53% 50% no-repeat;}
.hindi_width li#PayStampDuty a{background:url(../../../../mca/images/newLock.png) 91% 42% no-repeat !important;}
li#otherlinks1{line-height:22px;}
li.lockedSubLiElement1{background: url(../../../../mca/images/newLock.png) 86% 50% no-repeat, url(../../../../mca/images/bullet.gif) 0% 50% no-repeat !important;}
li#llpserv0{  width: 170px;}
.hindi_width li#llpserv0{line-height: 20px;} 
li#rss a.rss_hindi{background:url(../../../../mca/images/rss.png) 48% 50% no-repeat;}
li#rss a.rss_hindi2{background:url(../../../../mca/images/rss.png) 36% 50% no-repeat;}
li#ess a{display:none;}
li#viewCompanyMasterData a.lineheighta{width: 167px;line-height: 21px;}
li#viewCompanyMasterData{width: 167px;line-height: 21px;}
.hindi_width .rightInnerContent p{  font-family: Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI, Helvetica, Calibri;}
.hindi_width .aboutnav .selectedleftnav{font-family: Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI, Helvetica, Calibri;}
.float-none2 .leftpanelarchive ul li{float:none;}
.float-none2 .leftpanelarchive ul li a{  padding-bottom:20px;}
.lock_alignment img{margin: 0px 0 -3px 0px;}
.hindi_width p.floatLeft.bottompn{  width: auto;}
.mastercircular{  color: #a45108;}
.bills{  color: #0b6e43;}
.master_floatnone #TLink1 a{float:none;}
.master_floatnone #TLink2 a{float:none;}
.master_floatnone #TLink3 a{float:none;}
.master_floatnone #TLink4 a{float:none;}
.master_floatnone .amendments a{color: #096f93;}
.master_floatnone .bills a{color: #0b6e43;}
.master_floatnone .mastercircular a{color: #a45108;}
.master_floatnone a:Hover{color: #05586f;}
.master_floatnone1 .bills{color:#0b6e43}
.master_floatnone1 .mastercircular{color:#a45108;}
.master_floatnone1 .bills:Hover{  color: #05586f;}
.master_floatnone1 .mastercircular:Hover{ color: #05586f;}
.master_floatnone1 .amendments:Hover{color: #05586f;}
.master_floatnone1 .rules:Hover{color: #05586f;}
.dinforms_width .leftpanel{width: 69%;}
.dinforms_width table.whitebgdin{width:97%;}
.hindi_width ul.tablet_width li a{padding: 0 0 16px 20px;}
.hindi_width ul.tablet_width li{float:none;}
.hindi_width li#rfd{line-height: 21px;}
li#downloadForResub{line-height: 17px;padding-top: 6px;}
.padd12{padding-top:12px !important;}
.padd19{padding-bottom:19px !important;width:90%;}
p.parawidth.link.ext_padd a img{padding: 0px 4px 0px 5px;}
.leftpanel1 ul li p{font-weight: normal;line-height: 24px;padding: 4px 0 0 10px;text-align: justify}
.padd35{padding-top:35px !important;}
.padd17{padding-top:17px !important;}
.cci_border .rulessec.floatLeft{border: 1px solid #D8D8D8;border-bottom: none;width:auto !important;}
.rulessec.floatLeft.top-margin.amendments_border{border-bottom: 1px solid #D8D8D8;border-top: none;}
ul.profile_2_width li a{width: auto !important;}
.link_top{padding-top:10px !important;}
.link_bottom{  padding-bottom: 10px !important;}
li.uploadforms.lockmargin a{background: url(../../../../mca/images/newLock.png) 100% 50% no-repeat !important;}
.topsection.floatLeft{width:99% !important;}
li#otherlinks7{line-height:20px;}
body.hindi_width .rightInnerContent a{color: #123377;}
body.hindi_width .rules.borderbottom.border_none.rules_padd a{color: #123377;}
body.hindi_width .rightInnerContent a:Hover{  color: #05586f;}
body.hindi_width .rulessec ul li a{color:#1e57bf;}
.hindi_width .faq ul li h1 a{color: #34393e;}
.hindi_width .rightInnerContent ul li a{color: #1e57bf;}
.hindi_width li#mos a{line-height: 35px;}
.hindi_width .descinner a{color:#05586f !important;}
/*innerpage end*/

/*leftNav*/
section{border-left:0;}
.aboutnav{background:/*#999999*/#e9e9ea;width:236px;}
.aboutnav ul{margin:0;padding:0;width:236px;}
.aboutnav ul li{font-family: Segoe UI, Helvetica, Calibri; padding:0 15px 0 18px;line-height:38px;font-size:14px;width:203px;background:#e9e9ea;color:#000000;margin:0 0 0 0;border-bottom:2px solid #f6f6f7;}
.hindi_width .aboutnav ul li{font-family: Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI, Helvetica, Calibri;}
.aboutnav ul li a{color:#000000;display:block;}
.aboutnav ul li a:hover{color:#05586f;}
.aboutnav ul li.lockedLiElement{background:url(../../../../mca/images/newLock.png) 95% 50% no-repeat;}
.aboutsubnava{background:#f6f6f7;border:0;margin:0;padding:0;display:none;/*border-bottom:1px solid #cececf;*/width:236px;float:left;}
.aboutnav .aboutsubnava ul{font-size:12px;padding:0;margin:5px 0px 10px 21px;width:222px;}
.aboutnav .aboutsubnava li{font-family: Segoe UI, Helvetica, Calibri; width:189px;color:#0da3e2;padding:0 0 0 20px;background:url(../../../../../mca/images/bullet.gif) no-repeat 0 11px;font-size:13px;line-height:27px;border-bottom:0px; border-left:0px;}
.aboutnav .aboutsubnava li.lockedSubLiElement{background:url(../../../../mca/images/newLock.png) 95% 50% no-repeat, url(../../../../mca/images/bullet.gif) 0% 50% no-repeat;	}
.aboutnav .aboutsubnava li a:hover{color:#0da3e2;}
.aboutnav .aboutsubnava li.lineheighta{background:url(/mca/images/bullet.gif) no-repeat 0 9px;line-height:18px;padding-top: 3px;}
.aboutnav .aboutsubnava li.lineheightb{background:url(/mca/images/bullet.gif) no-repeat 0 6px;line-height:18px;}
.topspace{padding:5px 0 3px 18px;}
.topspaceheight{line-height:15px;}
.english_pages #emp4{line-height:24px;}
.emp4{line-height:38px !important;}
.hindi_width li#rfd a{line-height:25px;}
#emp13{line-height:24px;}
table.display.whitebgdin.Table_banks{width:100%;}
.hindi_width #emp13{line-height: 21px;}
#emp13{line-height: 38px;}
li#sfio{padding: 5px 0px 0px 20px;line-height: 20px;}
li#compendium a.lineheighta{line-height:23px;}
li#ees{display:none}
/*leftNavEnd*/

/*companies acts starts*/
.companiesact{font-family:Segoe UI, Helvetica, Calibri; font-size:14px; margin:26px 0 20px;width:668px;border-bottom:none;background:#fcfcfd;border:1px solid #d8d8d8;}
.hindi_width .companiesact{font-family: Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI, Helvetica, Calibri;} 
.bottomborder{padding-bottom: 5px;border-bottom:1px solid #d8d8d8;}
.amendments{/*border-left:5px solid #de7e99;*/color:#096f93;}
.bills{/*border-left:5px solid #a381a2;*/color:#11a967;}
.rules{/*border-left:5px solid #8ab969;*/color:#d7250f;}
.mastercircular{/*border-left:5px solid #e39159;*/color:#f19708;}
.circulars{/*border-left:5px solid #6491ba;*/color:#624b9c;}
.notifications{/*border-left:5px solid #7a8090;*/color:#60606c;}
.borderbottom{font-family:Segoe UI, Helvetica, Calibri;cursor:pointer;border-bottom:1px solid #d8d8d8;width:636px;padding:16px 16px;font-size:14px;text-transform:uppercase;background:url(../../../../../mca/images/downward_arrow.png) no-repeat right;border-bottom:none;border: 1px solid #d8d8d8;}
.hindi_width .borderbottom{font-family: Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI, Helvetica, Calibri;} 
.borderbottom a{padding-right:227px;}
.referenceno{padding:0 0 0 10px;width:208px;}
.referencenoa{width:208px;}
.yeara{width:112px;}
.description1{margin:0 29px 0 0;padding:0;width:282px;}
.desci{color:#1e57bf;margin:0 29px 0 0;padding:0;width:270px;}
.rulessec{border-bottom:1px solid #D8D8D8;border-left:0 none;width:100%;padding:0 0 10px 0;}
.rulessec ul{margin:0;padding:10px 0 5px 0;}
.rulessec ul li a{background:url(/mca/images/bullet.gif) no-repeat 2px 6px;color:#1e57bf;float:left;font-size:13px;margin:0 0 0 16px;padding:0 0 9px 20px;width:578px;}
.rulessec ul a{color:#1e57bf;float:left;font-size:13px;margin:0 0 0 20px;padding:0 0 9px 30px;width:578px;}
.rulessec ul li p{margin-left:20px;}
.topsection{width:662px;padding:23px 0 0 0;}
.tables{background:#f5f5f5;color:#48494E;height:32px;line-height:32px;margin:0 0 17px 0;padding:0;width:651px;margin:0 0 0 10px;}
.year{width:125px;padding:0 0 0 10px;}
.yearb{padding:0 0 0 10px;width:193px;}
.categories{width:115px;}
.description{margin:0 17px 0 0;padding:0;width:354px;}
.descinnerv{color:#1e57bf;padding:0;width:304px;}
.descinnerva{padding:0;width:304px;}
.descinnervb{padding:0;width:420px;}
.catth{width:199px;}
.descinner{color:#1e57bf;margin:0 17px 0 0;padding:0 0 0 5px;width:233px; font-family:Segoe UI, Helvetica, Calibri; font-size:13px;}
.descinner a {color: #05586f;}
.hindi_width.descinner a{color:#1e57bf;}
.descinner span{padding:0 5px 0 0;}
.descinner2{color:#1e57bf;margin:none;padding:none;width:auto;}
.descinner2 a{color:#1e57bf;}
.tablesdesc{width:642px;border-bottom:1px dotted #d1d1d1;margin:0 0 10px 0;color:#48494e;padding:10px 9px;}
.filtersection{color:#2f3241;padding:7px 0 0 16px;width:146px;}
.yearicon{background:#F5F5F5;margin:4px 18px 0 4px;width:128px;}
.yearicon input{background:none;border:1px solid #dfdfdf;height:24px;width:118px;color:#909090;padding:0 5px 0 5px;}
.keyinput{background:#F5F5F5;margin:4px 19px 0 4px;width:241px;}
.keyinput input{background:none;border:1px solid #dfdfdf;height:24px;width:231px;color:#909090;padding:0 5px 0 5px;}
.filter{background:#a5b5d9;border:0;cursor:pointer;height:23px;width:62px;color:#f9f9fb;font-size:12px;line-height:23px;margin:5px 0 0;}
.topsection1{padding:3px 0 0;width:651px;}
.topsection1 .listing{color:#7f7f7f;padding:0 0 0 13px;width:490px;}
.topsection1 .pagination{padding:0 0 0 21px;width:117px;}
.topsection1 .pagination input{color:#444444;width:25px;text-align:center;}
.topsection1 .pagination span{padding:0 0 15px 0px;}
.paginateinfo{width:20px;}
.spaces a{margin:0 4px;color:#7f7f7f;padding:3px 0 0;float:left;}
.adobeiconl{/* background:none repeat scroll 0 0 #CBC9CA; */height:18px;line-height:18px;margin:2px 0 0 0;padding:0;text-align:center;width:20px;}
.wordiconl{height: 18px;line-height: 18px;margin: 2px 0 0 0;padding: 0;text-align: center;width: 20px;}
.comAct{color:#34393e;font-size:14px;}
.comAct>div{margin-top:20px;}
.companies_bottom{border: none;border-bottom: none;}
.companies_bottom11{border:1px solid #D8D8D8;border-bottom: none;}
.companies_bottom12{border:1px solid #D8D8D8;border-top:none;}
.under_bottom{border: 1px solid #d8d8d8;}
.bottom-margin{border-bottom: none;}
.bottom-margin1{border:1px solid #D8D8D8;border-bottom: none;}
.companiesact.floatLeft{width:96%;}
.border_none{border: none;border-bottom: 1px solid #d8d8d8;}
.rightInnerContent a{  color: #1e57bf;  float: left;}
.color_code a{  color: #123377;}
li.uploadforms.lockmargin.upload_lock a{background:url(../../../../mca/images/newLock.png) 98% 50% no-repeat;}
.rulessec_hindi{width:99.8%;padding:0px;border:1px solid #D8D8D8;border-bottom:none;}
.width_image{width:auto;}
li#cci{padding: 5px 0px 0px 20px;line-height: 20px;}
li#iica{padding: 5px 0px 0px 20px;line-height: 20px;}
a.image_link img{  width: 15px;height: 15px;}
.line_height_h2{padding:0 0 9px 0 !important;}
.line_height_h2 h2{padding:0 0 9px 0;}
.faq_tablet{width:auto !important;}
.faq_tablet li{width:auto !important;}
.faq_tablet li h1{width:100% !important;}
.annual_ptag .number{width:auto !important;  padding: 0 30px 20px 0 !important;}
llp_tag li a{float:none;}
section.dinsteps.floatLeft.llp_filed{width:auto;}
section.dinsteps.floatLeft.llp_filed ul{width:auto;}
section.dinsteps.floatLeft.llp_filed ul li{width:auto;}
.leftpanel.RoleCheck.floatLeft.llp_filed1 p.number{width:92%;}
.leftpanel1.RoleCheck.llp_filed2 p{width:auto;}
.leftpanel.floatLeft.llp_filed3 p.floatLeft{width:90%;}
ul.resposive_tablet3.mobile_length a{width:auto;}
@media only screen and (max-width:667px) {ul.mobile_length li a{width:auto !important;}}
@media only screen and (max-width:420px) {.leftpanel.RoleCheck.floatLeft.llp_filed4 ul li p.number{width:auto;}}
@media only screen and (min-width:667px) {a.click_here_download{position: absolute;padding-top: 13em;}}
@media only screen and (max-width:667px) {.li_width li a{width:auto !important;}}
@media only screen and (max-width:420px) {.descinner{width:auto !important;}}
.color_li_a li a{  color: black !important;}
.color_li_a li a:HOVER{color: #0da3e2 !important;}
li#emp4{line-height: 21px;}
.rules.borderbottom.Rules_Clear{border: none;border-bottom: 1px solid #d8d8d8;padding-top: 20px !important;clear: both;width: 95%;}
.topsection.floatLeft.rulessec_hindi.top-margin{width: auto !important;}
/*companies acts ends*/

/*ministercorner*/
.ministerleft{font-family:Segoe UI, Helvetica, Calibri;width:164px;}
.name{background:#EBEBEB;color:#6B6E6E;display:block;margin:1px 0 0 0;padding:2px 0;text-align:center;text-transform:uppercase;width:165px;}
.commonclass{font-Size:16px;text-transform:uppercase;padding:0 0 0 4px;margin:12px 0 0 0;float:left;}
.commonclass p{font-family:Segoe UI, Helvetica, Calibri;padding:0;color:#000000;font-Size:14px;text-align: left;line-height: 18px;}
.pink{color:#0da3e2;/*border-left:2px solid #0da3e2;*/}
.purple{color:#11a967;/*border-left:2px solid #632564;*/}
.green{color:#d7250f;/*border-left:2px solid #4b9819;*/}
.orange{color:#f19708;/*border-left:2px solid #d85f10;*/}
.ministerleft p{font-family:Segoe UI, Helvetica, Calibri;font-size:14px;color:#34393e;padding:0;}
.ministerRight{width:489px;}
.ministerRight span{font-family:Segoe UI, Helvetica, Calibri;color:#1d1d1c;font-size:13px;line-height:18px;padding:0 0 20px 0;}
.milestone{width:630px;font-family:Segoe UI, Helvetica, Calibri;padding:50px 0 0 0;}
.milestoneo{width:475px;}
.milestone h3{color:#000000;font-size:16px;}
.minsiterleft{width:178px;margin:0 17px 0 0;font-family:Segoe UI, Helvetica, Calibri;}
.milecommon{color:#34393e;font-size:14px;width:160px;float:left;}
.mileContent{width:160px;margin:5px 0;padding:10px 0 0 0;}
.mileContent2{float:right;margin:0 0 8px;position:relative;right:133px;width:150px;}
.mileContent3{width:150px;margin:2px 0 30px;position:relative;left:10px;}
.mileContent4{width:150px;margin:2px 0 5px;position:relative;left:228px;}
.mileyear{color:#0da3e2; font-size:18px; pading:0 0 8px 0;}
.mileyear1{color:#11a967; font-size:18px;}
.mileyear2{color:#d7250f; font-size:18px;}
.mileyear3{color:#f19708; font-size:18px;}
.paddingb{padding:0 0 8px 0;}
.aboutnav .paddings{width:203px;}
.aboutnav .paddingb1{width:212px;}
.aboutnav .paddingservices{padding:2px 10px 8px 20px;width:212px;}
img.sub_icon_change.img_ecornor_padding{padding-right: 6px;padding-top:9px;}
/*ministercornerEnd*/

/*Din Services*/
.dinheading{width:674px;}
.dinheading h1{color:#6C3B85;float:left;font-size:18px;padding:9px 0 23px;}
.stepscolor{color:#000000;font-size:18px;font-family:Segoe UI Semibold, Helvetica, Calibri;}
.dinsteps{margin:5px 0 0 0;width:674px;padding:0 0 16px;}
.dinsteps ul{width:674px;margin:0;}
.dinsteps ul li{width:674px;color:#1d1d1c;font-family:Segoe UI Semibold, Helvetica, Calibri;font-size:13px;padding:0 0 5px 0;text-transform:none;}
.dinsteps ul li span{color:#1e57bf;font-weight:normal;font-size:13px;padding:0 0 0 5px; }
.dinforms{padding:15px 0 0 0;width:674px;}
.dinforms h1{font-family:Segoe UI Semibold, Helvetica, Calibri;font-size:16px;padding:0 0 15px 0;color:#333333;}
.hindi_width .dinforms h1{font-family: Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI Semibold, Helvetica, Calibri;} 
.dinforms span p{color:#36353b;font-size:13px;font-family:Tahoma;}
.dinforms .leftpanel{width:478px;}
.dinforms .leftpanel ul{margin:0;}
.dinforms .leftpanel ul li{margin:0;color:#1d1d1c;padding:0 0 20px 0;}
.dinforms .leftpanel ul li span{color:#1d1d1c;font-size:16px;height:20px;line-height:20px;
text-align:center;width:20px; margin-top:8px;}
.dinforms .leftpanel ul li h1{font-family: Segoe UI Semibold, Helvetica, Calibri;color:#1d1d1c;font-size:16px;font-weight:400;padding:6px 0 0 9px;text-transform:none;width:auto;}
.hindi_width .dinforms .leftpanel ul li h1{  font-family: Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI, Helvetica, Calibri;}
.dinforms .leftpanel ul li p{color:#1d1d1c;font-size:14px;padding:9px 0 0 9px;width:431px;line-height:24px;font-family:Segoe UI, Helvetica, Calibri; }
.hindi_width .dinforms .leftpanel ul li p{  font-family: Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI, Helvetica, Calibri;width:93%;}
.dinforms .leftpanel ul li p span{color:#1d1d1c;background:none;font-weight:normal;text-transform:none; }
.dinforms p.forms1{padding: 0px 30px 12px 0px;}
.dinforms p.forms{padding: 30px 30px 12px 0px;}

/*.dinforms .rightpanel{width:194px; font-family:Helvetica Neue LT Pro, Segoe UI, Calibri;}
.dinforms .rightpanel h1{color:#000000;background:none;font-size:14px;height:37px;line-height:37px;text-align:center;padding:0px;font-weight:normal;}
.dinforms .rightpanel ul{margin:0;background:#e9e9ea;padding:0 12px;}
.dinforms .rightpanel ul li{color:#1e57bf;font-size:13px;height:32px;line-height:32px;padding:0 0 0 5px;width:171px;}
.dinforms .rightpanel ul li.lastLink{background:none; font-size:13px; color:#1e57bf;height:32px;line-height:34px;padding:0 0 0 5px;width:171px;}
.dinforms .rightpanel ul li a{background:none; margin:0; padding:0 0 0 10px;width:171px;}
.dinforms .rightpanel ul li.uploadforms{background:#a5b4db;margin:10px 0;color:#f9f9fb;text-align:center;font-size:14px;}*/
.uploadforms span{background:none;}
/*.dinforms .rightpanel ul li  span{background:url(/mca/images/adobe_img.png) no-repeat;width:16px;height:16px;overflow:hidden;padding:0 8px 0 0;margin:11px 0 0 0;}
.dinforms .rightpanel ul li.lineheighta{line-height:19px;}
.dinforms .rightpanel ul li.lineheightb{line-height:24px;}*/
.dinforms .leftpanel1 .description{background:none repeat;width:637px;}
.dinforms_width2 .description.floatLeft{width:auto;}
.dinforms .leftpanel1 .description p{ font-family:Segoe UI, Helvetica, Calibri;color:#1d1d1c;}
.hindi_width .dinforms .leftpanel1 .description p{font-family: Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI, Helvetica, Calibri;}
hindi_width .dinforms .leftpanel1 .description p{font-family: Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI Semibold, Helvetica, Calibri;} 
.dinforms .RoleCheck .description p{margin-left:30px;}
.dinforms .RoleCheck ul li span{font-size: 14px;}
/*faq format*/
.dinfaq{padding:5px 0 0 0;width:674px;}
.dinfaq h1{color:#36353b;font-weight:bold;font-size:14px;padding:0 0 0 0;}
.dinfaq span p{color:#36353b;font-size:13px;font-family:Tahoma;}
.dinfaq .leftpanel{width:468px;}
.dinfaq .leftpanel ul{margin:0;}
.dinfaq .leftpanel ul li{margin:0;color:#1d1d1c;/*padding:0 0 20px 0;*/}
.dinfaq .leftpanel ul li span{color:#1d1d1c;font-size:13px;font-weight:bold;height:20px;line-height:20px;
text-align:center;width:20px; margin-top:5px;}
.dinfaq .leftpanel ul li h1{color:#1d1d1c;font-size:16px;font-weight:400;padding:0 0 0 0;text-transform:none;width:436px;}
.dinfaq .leftpanel ul li p{width:91%; padding-left:10px; margin:0; padding-top:5px;}
.dinfaq .leftpanel ul li p span{color:#1d1d1c;background:none;font-weight:normal;text-transform:none; }
.dinfaq .leftpanel1{border-bottom:0;padding:0 0 0 0;float:left;width:674px;margin:0 0 20px 0;}
.dinfaq .leftpanel1 ul li h1.bottomh1{padding:12px 0 7px 0px; margin:0; padding:0;}
.dinfaq .leftpanel1 ul li{background:none;margin:0;padding:0 0 0 0;width:674px;}
.dinfaq .leftpanel1 ul li h1{color:#41464A;font-size:15px;font-weight:400;padding:0 0 0 0;text-transform:none;width:645px; margin-left:20px; margin-top:-25px;}
/*.dinfaq .rightpanel{width:200px;}
.dinfaq .rightpanel h1{color:#6c6d6f;background:#e9e9eb;height:37px;line-height:37px;text-align:center;padding:0px;font-weight:normal;border-bottom:1px solid #dcdcde;}
.dinfaq .rightpanel ul{margin:0;background:#eeeef0;padding:0 12px;}
.dinfaq .rightpanel ul li{background:url(/mca/images/bottomline.png) repeat-x bottom;color:#1A408B;height:40px;line-height:40px;padding:0 0 0 5px;width:171px;}
.dinfaq .rightpanel ul li.lastLink{background:none; repeat-x bottom;color:#1A408B;height:40px;line-height:40px;padding:0 0 0 5px;width:171px;}
.dinfaq .rightpanel ul li a{background:none;float:none;font-size:13px;margin:0 0 0 0;padding:0 0 0 5px;width:171px;}
.dinfaq .rightpanel ul li.uploadforms{background:#a5b4db;margin:10px 0;color:#f9f9fb;text-align:center;font-size:14px;}
.dinfaq .rightpanel ul li  span{background:url(/mca/images/adobe_img.png) no-repeat;width:16px;height:16px;overflow:hidden;padding:0 8px 0 0;margin:11px 0 0 0;}
.dinfaq .rightpanel ul li.lineheighta{line-height:19px;}
.dinfaq .rightpanel ul li.lineheightb{line-height:24px;}*/
.dinfaq .leftpanel1 .description{background:none repeat;width:637px;}
.dinfaq .leftpanel1 .description p{ font-family:Segoe UI, Helvetica, Calibri;  margin-left:20px;}
/*faq format*/
/*Archive*/
.dinforms .leftpanelarchive ul li{padding: 0 0 7px 0;}
/*Archive without left nav*/
.archiveleft{width: 874px;padding: 0px 0 0 0;}
.archiveleft h2{padding:0 0 10px 0;}
/*Archive without left nav*/
/*Archive*/
.leftpanel1{padding:0 0 10px;float:left;margin:0 0 20px 0;}
.leftpaneborder{border-bottom:0;}
.dinforms h1.bottomp{padding:0;}
.leftpanel1 ul li p.bottompn{padding-top:9px;padding-left: 0px; padding-bottom: 0px; font-family:Segoe UI, Helvetica, Calibri;}
.hindi_width .leftpanel1 ul li p.bottompn{font-family: Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI, Helvetica, Calibri;} 
.paddingbottom{padding:0;}
.leftpanel1 ul li h1.bottomh1{padding:12px 0 7px 0px; margin:0; padding:0;}
.leftpanel1 ul{margin:0;}
.leftpanel1 ul li{margin:0;color:#1d1d1c;padding:0 0 20px 0;}
.leftpanel1 ul li span{color:#1d1d1c;font-size:16px;line-height:13px;text-align:center;width:20px; margin-top:6px;
}
div.impInfoDiv img.impInfoPointer{  position: absolute;top: -1.5%;left: 97%;display: block;}
li#enquireDIN a.lineheighta{line-height:29px;}
li#verifyDIN a.lineheighta{line-height:26px;}
li#createservicecomplaint a.lineheighta{line-height: 26px;}
li#trackservicecomplaint a.lineheighta{line-height: 26px;}
li#Track-Investor a.lineheighta{line-height: 26px;}
li#Create-Complaint a.lineheighta{line-height: 26px;}
.causeslinks{font-size:14px;margin:5px 0 0;width:674px;}
.causeslinks span{padding:0 20px 0 0px;}
.causeslinks span a{color:#17438c;margin:0;}
.leftpanel1 ul li h1{font-family: Segoe UI Semibold, Helvetica, Calibri;color:#1d1d1d;font-size:16px;font-weight:400;padding:4px 0 0 9px;text-transform:none;}
.leftpanel1 ul li div.inner{padding:0 0 0 25px;}
.leftpanel1 ul li div.inner h1{padding:20px 0 0 9px;}
.leftpanel1 ul li div.inner span{margin-top: 0px;}

.leftpanel1 ul li p{font-weight:normal;line-height:24px;text-align:justify;font-family:Segoe UI, Helvetica, Calibri;}
.leftpanel1 ul li p span{color:#18428c;background:none;font-weight:normal;text-transform:none;}

.rightpanel2{width:196px; font-family:Segoe UI, Helvetica, Calibri;}
.rightpanel2 h1{font-family: Segoe UI Semibold, Helvetica, Calibri; color:#000000;background:none;font-size:14px;height:37px;line-height:37px;text-align:left;padding:0px;font-weight:normal;}
.rightpanel2 ul{margin:0;padding:0 0 5px 0;}
.hindi_width .rightpanel2 h1{font-family: Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI Semibold, Helvetica, Calibri;}
.rightpanel2 ul li{background:#e9e9ea;margin-bottom:0px;color:#1e57bf;font-size:13px;height:32px;line-height:32px;padding:0 0 0 5px;/*width:171px;*/}
.rightpanel2 ul li.lastLink{background:#e9e9ea;margin-bottom:0px; font-size:13px; color:#1e57bf;height:32px;line-height:34px;padding:0 0 3px 5px;/*width:171px;*/}
.rightpanel2 ul li.lineheighta{line-height:16px;  padding-top: 5px;}
.rightpanel2 ul li.lineheightb{line-height:16px;height: 48px;}
.rightpanel2 ul li a{font-family: Segoe UI Semibold, Helvetica, Calibri;background:none; margin:0; padding:0 0 0 10px;width:181px;}
.hindi_width .rightpanel2 ul li a{font-family: Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI Semibold, Helvetica, Calibri;}
.rightpanel2 ul li a:HOVER{color:#0da3e2;}
/*.rightpanel2 ul.uploadformsul{background:#0da3e2;width:186px;text-align:center;}
.rightpanel2 ul li.uploadforms{height:40px;color:#ffffff;text-align:center;font-size:14px;text-transform:uppercase;}
.rightpanel2 ul li.uploadforms a{ background:none; margin:0;color:#ffffff; padding:0 12px;float:none;}*/
.hindi_width .rightpanel2 ul li a{color: #1e57bf;}
.hindi_width .rightpanel2 ul li.uploadforms a:Hover{color: #ffffff;}
.hindi_width .rightpanel2 ul li a:HOVER{color: #0da3e2;}
.hindi_width .aboutnav .aboutsubnava li{color: #05586f;}
.rightpanel2 ul li.uploadforms{width:98%;background:#0da3e2;height:40px;color:#ffffff;text-align:center;font-size:14px;text-transform:uppercase;border-top: 2px solid #f6f6f7;}
.rightpanel2 ul li.uploadforms a{ background:none; margin:0;color:#ffffff; padding:0;float:none;vertical-align: middle;}
.hindi_width .dinforms .leftpanel ul li p.number{  width:88%;}
.dinforms .leftpanel ul li p.number{padding: 6px 0 0 26px;}
.leftpanel1 ul li h1.aboutFiling{padding-left:28px;}
.hindi_width .aboutnav .aboutsubnava li{  padding-top:1px;}
/*Din Services*/
/*faq*/
.faq ul li span{background:#DCDCDC;color:#000000;font-size:12px;font-weight:bold;line-height:20px;text-align:center;width:20px; margin-top:5px;}
.rulessec.floatLeft.role_pagination{border: 1px solid #D8D8D8;border-top: none;width: 99.4%;}
.role_pagination1{border: 1px solid #D8D8D8;border-bottom: none;width: 99.8%;}
.faq ul li{padding:0 0 20px 0;}
.faq ul li h1 a{ background:none; margin:0; padding:0;font-size:14px; font-weight:600; font-family:Segoe UI Semibold, Helvetica, Calibri;color:#34393e ;padding:3px 0 0 10px;text-transform:none;width:645px;margin-bottom:10px; text-align: justify;}
.hindi_width .faq ul li h1 a{font-family: Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI Semibold, Helvetica, Calibri;}
.faq ul li h1.dinforms a{ background:none; margin:0; padding:0;font-size:14px; font-weight:600; font-family:Segoe UI Semibold, Helvetica, Calibri;color:#34393e;padding:6px 0 0 10px;text-transform:none;margin-bottom:10px;text-align: justify;  width:auto;}
.hindi_width .faq ul li h1.dinforms a{  font-family: Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI Semibold, Helvetica, Calibri;}
.faq ul li p{ background-color:#fff; font-size:14px; font-weight:normal; color:#1d1d1c; font-family:Segoe UI, Helvetica, Calibri; /*border-left:5px solid #de7e99;*/ padding-left:10px; margin:0; padding-top:5px;}
.parawidth2{width:635px;float:left;}
p.parawidth2 span.asteric{color:#FF0000; font-weight:bold; font-size:16px;background: none;}
.parawidth3{width:635px;float:left;height: 1px;}
.parawidth4{width:635px;float:left;height: 1px; border-left:none; padding-left:10px; margin:0; padding-top:5px;}
li#view5 a{background:url(../../../../mca/images/newLock.png) 75% 50% no-repeat;}
.hindi_width li#view5 a{background:url(../../../../mca/images/newLock.png) 60% 48% no-repeat;} 
.hindi_width li#viewDirectorMasterData a{background:url(../../../../mca/images/newLock.png) 75% 50% no-repeat;}
li#viewDirectorMasterData a.locks_hindis3{  background-image: none;}
li#companyforDirectorPartner a{background:url(../../../../mca/images/newLock.png) 25% 83% no-repeat;}
.hindi_width li#companyforDirectorPartner a{background:url(../../../../mca/images/newLock.png) 17% 79% no-repeat;}
li#advancedSearch a{background:url(../../../../mca/images/newLock.png) 58% 50% no-repeat;}
.hindi_width li#advancedSearch a{background:url(../../../../mca/images/newLock.png) 56% 37% no-repeat;}
@media only screen and (max-width:1030px) {.media_screen {padding:16px 16px;}}
@media only screen and (max-width:667px) {.top-margin {width:100% !important;}}
@media screen and (min-width:320px) and (max-width:359px){.jcarousel-control-next{right:161px !important;}}
@media screen and (min-width:362px) and (max-width:413px){.jcarousel-control-next{right:107px !important;}}
@media screen and (min-width:360px) and (max-width:361px){.jcarousel-control-next{right:120px !important;}}
@media only screen and (max-width:420px) {.create._res li li a{  width: auto !important;}}
@media only screen and (max-width:420px) {.mobile_media p.pading,.mobile_media p.pading2,.mobile_media p.pading3{padding:0 !important;}}
@media only screen and (max-width:420px) {.mobile_tableview{width:100%;  overflow-y: hidden;}}
@media only screen and (max-width:420px) {.conLeft.floatLeft.roc_mobile{width:100% !important;}}
@media screen and (min-width:320px) and (max-width:359px) {.jcarousel li img{ min-height: 236px;margin: 0 214px auto 0px;padding: 0 0 10px 0;width: 66% !important;}}
@media screen and (min-width:360px) and (max-width:413px) {.jcarousel li img{ min-height:236px;margin: 0 118px auto 0px;padding: 0 0 10px 0;width:75% !important;}}
@media screen and (min-width:414px) and (max-width:420px) {.jcarousel li img{ min-height:236px;margin: 0 111px auto 0px;padding: 0 0 10px 0;width:85% !important;}}
@media screen and (min-width:414px) and (max-width:420px) {.jcarousel-control-next{right:68px !important;}}
.conLeft.floatLeft.roc_mobile{width:54%;}
ul.efacilitationcenter_mobile.resposive_tablet3 li a{width:auto;}
li.padd_line{padding-bottom:5px;}
.paddd_side{margin:0;}
.flat_hindi{border:none;}
.colur_hindi1 a{color:#096f93;}
.colur_hindi2 a{color:#0b6e43;}
.clor_hindi4 a{color:#a45108;}
.clor_hindi5 a{color:#05586f;}
.clor_hindi7 a{color:#624b9c;}
.top-margin{border:1px solid #D8D8D8;border-top: none;width:100%;}
.dinforms_width2 h1.floatLeft{padding:0;}
@media only screen and (max-width:455px) {.img-resposive1 img {width:100%;}}
.resposive_tablet3 li{float:none;}
.resposive_tablet3 li a{padding-bottom:15px !important;}
@media only screen and (max-width:420px) {.photogal1{margin:0 !important;}}
@media only screen and (max-width:420px) {.sitemap{width:auto !important;}}
@media only screen and (max-width:420px) {.llp_tag a{width:auto !important;}}
@media only screen and (max-width:420px) {.address{width:auto !important;}}
@media only screen and (max-width:420px) {ul.tablet_width.llp_tag a{width:auto !important;}}
.rightimages a img{  width: 193px;height: 66px;}
/*faq*/
/*Contact*/
.conLeft{width:auto;padding:10px 20px 0 0;}
.conRight{width:299px;padding:0 0 0 0;}
.mapHeading{color:#000000;font-size:16px;/* text-transform:uppercase; */line-height:40px;padding:0 0 0 0;width:356px;}
.zone{font-size:16px;/* text-transform:uppercase; */margin:24px 0 0 0;line-height:40px;font-weight:bold}
.address{color:#2e3341;font-size:13px;width:396px;}
.address strong, .address2 strong{display:block;}
.address2{color:#2e3341;font-size:13px;width:299px;}
.zoneContent{color:#1d1d1c;font-size:13px;}
.address ul, .address2 ul{padding:0 0 24px 0; }
.address ul li, .address2 ul li{float:none; padding: 0 0 0 0;}
.address ul li.strong, .address2 ul li.strong{ font-weight:bold;}
.address ul li a, .address2 ul li a{color:#1e57bf;margin:0 0 0 0;text-transform:lowercase;background:url(/mca/images/arrowtab.png) no-repeat 0px 6px; padding-left:10px;width:210px;}
.zoneTitle{font-size:14px;display:block;padding:0 0 10px 0;text-transform: uppercase;}
.zoneCommon{color:#000000;}
.zonePink{border-left:5px solid #db7f95;color:#ba2950;}
.zonePur{color:#000000;}
.zoneHead{color:#00000;}
.zoneGreen{border-left:5px solid #8bba6a;color:#4c9918;}
.zoneOrange{border-left:5px solid #e39259;color:#d95f0d;}
.zoneBlue{border-left:5px solid #6392b8;color:#30608a;}
.top2{background:url(/mca/images/top_arrow.png) no-repeat;padding:0 0 5px 18px;}
.top2 a{ text-decoration:underline;}
.border_comp{border:1px solid #d8d8d8;}
.zt4 {color: #f19708;}
.zt3 {color: #11a967;}
.zt2 {color: #d7250f;}
.zt1 {color: #0da3e2;}
ul.nav.nav-pills.nav-stacked.aboutnav li .left-main-menu{font-family: Segoe UI, Helvetica, Calibri;padding: 0 15px 0 18px;line-height: 38px;font-size: 14px;}
.right_contact{padding-top:8px;padding-left:6px;}
.dinforms.floatLeft{}
span#bread2{display: none;}
.width_companies{width:100%;}
.width_companies_hindi{border:none;}
span#bread3{display: none;}
@media (min-width:1200px) {.right-side { width: 119%;margin: 0 auto;}}
@media (min-width:1200px) {li.margin_display a{ width:820px !important;}}
@media (min-width:600px) {.tablet_width { width:68%;}}
.colr_links.floatcenter ul li a{color: #333333;}
span#brco1{display:none;}
li#emp17{line-height:21px;}
.circular_pad{padding-bottom: 40px;}
.circular_pad1{padding-bottom: 40px;}
.rules_padd{padding-bottom: 40px;padding-top: 36px;}
.bottom_padding{padding-bottom:40px;}
p.register_padd{padding:0;}
p.payment_padd{padding: 7px 0px 0px 29px;}
li.uploadforms.lockmargin.lock_img a{background:url(../../../../mca/images/newLock.png) 100% 50% no-repeat !important;}
.resposive_table{width:auto !important;padding:0 !important;}
.resposive_table td{padding:0;}
ul.tablet_width li{float:none;}
.english_pages .aboutnav .selectedleftnav{color:#0da3e2;}
.rules.borderbottom.border_none.rules_padd a{color: #1e57bf;}
table.grid_contact1.font_weight tr{  font-weight: normal;}
@media (max-width:650px) {.ad-image{height: 280px !important;}}
ul.resposive_tablet3.color_li_a li{font-size: 14px;text-transform: capitalize;}
@media only screen and (max-width:667px) {#sbinner span{width:95% !important;}}
@media only screen and (max-width:667px) {.overlay #sbinner{width: auto  !important;text-align: justify;font-size: 14px !important;}}
@media only screen and (max-width:667px) {.overlay p{top:0 !important;left: 2% !important;}}
#sbinner span{float:left;padding-top:5px;}
/*Contact*/

/*Site Map*/
.sitemap{color:#2e3341;font-size:13px;width:440px;}
.sitemap2,.sitemap3{color:#2e3341;font-size:13px;width:328px;}
.sitemap ul, .sitemap2 ul,.sitemap3 ul{padding:0 0 20px 0;}
.sitemap ul li, .sitemap2 ul li,.sitemap3 ul li{float:none;}
.sitemap ul li a{color:#19428d;margin:0 0 0 0; width: auto; min-width: 220px;}
.sitemap ul li ul li a{color:#19428d;margin:0 0 0 25px; width: auto; min-width: 180px;}
.sitemap ul li ul li ul li a{color:#19428d;margin:0 0 0 45px; width: auto; min-width: 150px;}
.sitemap2 ul li a{color:#19428d;margin:0 0 0 0; width: auto; min-width: 280px;}
.sitemap2 ul li ul li a{color:#19428d;margin:0 0 0 25px; width: auto; min-width: 240px;}
.sitemap2 ul li ul li ul li a{color:#19428d;margin:0 0 0 45px; width: auto; min-width: 200px;}
.sitemap3 ul li a{color:#19428d;margin:0 0 0 0; width: auto; min-width: 280px;}
.sitemap3 ul li ul li a{color:#19428d;margin:0 0 0 25px; width: auto; min-width: 240px;}
.sitemap3 ul li ul li ul li a{color:#19428d;margin:0 0 0 45px; width: auto; min-width: 200px;}

/*Site Map*/

/*Employee Corner*/
p.aprlinks a:hover{color:#FF0000;}
p.aprlinks a:ACTIVE{color:#00FF00;}
p.aprlinks a:VISITED{color:#0000FF;}
/*Employee Corner*/

/*Gallery*/

@media (min-width:600px) {.ad-gallery{width:600px;}}
.ad-gallery, .ad-gallery * {
  margin: 0;
  padding: 0;
}
  .ad-gallery .ad-image-wrapper {
    width: 100%;
    height: 370px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
  }
    .ad-gallery .ad-image-wrapper .ad-loader {
      position: absolute;
      z-index: 10;
      top: 48%;
      left: 48%;
      border: 1px solid #CCC;
    }
    .ad-gallery .ad-image-wrapper .ad-next {
      position: absolute;
      right: 0;
      top: 0;
      width: 25%;
      height: 100%;
      cursor: pointer;
      display: block;
      z-index: 100;
    }
    .ad-gallery .ad-image-wrapper .ad-prev {
      position: absolute;
      left: 0;
      top: 0;
      width: 25%;
      height: 100%;
      cursor: pointer;
      display: block;
      z-index: 100;
    }
   
      .ad-gallery .ad-image-wrapper .ad-prev .ad-prev-image, .ad-gallery .ad-image-wrapper .ad-next .ad-next-image {
        background: url(/mca/images/ad_prev.png);
        width: 30px;
        height: 30px;
        display: none;
        position: absolute;
        top: 47%;
        left: 0;
        z-index: 101;
      }
      .ad-gallery .ad-image-wrapper .ad-next .ad-next-image {
        background: url(/mca/images/ad_next.png);
        width: 30px;
        height: 30px;
        right: 0;
        left: auto;
      }
    .ad-gallery .ad-image-wrapper .ad-image {
     position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      z-index: 9;
    }
      .ad-gallery .ad-image-wrapper .ad-image a img {
        border: 0;
      }
      .ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 7px;
		font-weight:700;
        text-align:center;
        width: 100%;
        z-index: 2;
		background-color:#FFF;
      /*  background: url(/Ministry/images/opa75.png); */
        color: #000;
      }
     * html .ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
        background: none;
		background-color:#FFF;
        /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=true, sizingMethod=scale, src='../images/opa75.png');*/
      }
        .ad-gallery .ad-image-wrapper .ad-image .ad-image-description .ad-description-title {
          display: block;
        }
  .ad-gallery .ad-controls {
    height: 20px;
  }
    .ad-gallery .ad-info {
      float: left;
    }
    .ad-gallery .ad-slideshow-controls {
      float: right;
    }
      .ad-gallery .ad-slideshow-controls .ad-slideshow-start, .ad-gallery .ad-slideshow-controls .ad-slideshow-stop {
        padding-left: 5px;
        cursor: pointer;
      }
      .ad-gallery .ad-slideshow-controls .ad-slideshow-countdown {
        padding-left: 5px;
        font-size: 0.9em;
      }
    .ad-gallery .ad-slideshow-running .ad-slideshow-start {
      cursor: default;
	  font-weight:700;
    }
  .ad-gallery .ad-nav {
    width: 100%;
    position: relative;
  }
    .ad-gallery .ad-forward, .ad-gallery .ad-back {
      position: absolute;
      top: 12px;
      height: 100%;
      z-index: 10;
    }
    /* IE 6 doesn't like height: 100% */
    * html .ad-gallery .ad-forward, .ad-gallery .ad-back {
      height: 100px;
    }
    .ad-gallery .ad-back {
      cursor: pointer;
      left: -20px;
      width: 13px;
      display: block;
      background: url(/mca/images/ad_scroll_back.png) 0px 22px no-repeat;
    }
    .ad-gallery .ad-forward {
      cursor: pointer;
      display: block;
      right: -20px;
      width: 13px;
      background: url(/mca/images/ad_scroll_forward.png) 0px 22px no-repeat;
    }
    .ad-gallery .ad-nav .ad-thumbs {
      overflow: hidden;
      width: 100%;
    }
      .ad-gallery .ad-thumbs .ad-thumb-list {
        float: left;
        width: 9000px;
        list-style: none;
		
      }
      .ad-gallery .ad-thumbs li {
          float: left;
          padding-right: 5px;
        }
          .ad-gallery .ad-thumbs a {
            display: block;
          }
            .ad-gallery .ad-thumbs a img {
              border: 3px solid #CCC;
              display: block;
            }
            .ad-gallery .ad-thumbs a.ad-active img {
              border: 3px solid #616161;
            }
/* Can't do display none, since Opera won't load the images then */
.ad-preloads {
  position: absolute;
  left: -9000px;
  top: -9000px;
}
.rules a{color: #d7250f;}
body.hindi_width .rightInnerContent .rules a{color: #d7250f;}
body.hindi_width .rightInnerContent .amendments a{color: #096f93;}
body.hindi_width .rightInnerContent .bills a{color: #0b6e43;}
body.hindi_width .rightInnerContent .mastercircular a{color: #a45108;}
/*Gallery*/

/*nav style*/
.aboutnav ul li span#nav-active img a{position:relative;left:215px;display:block;}
.aboutsubnava{/*background:none;*/border-top:1px solid #E0DFE5;}
/*.pink_arrow {background:url(../images/left_menu_upward_arrow.png) no-repeat right;display:block; cursor:pointer;}*/
.pink_arrow {background:url(../images/left_menu_downward_arrow.png) no-repeat right;display:block; cursor:pointer;}
.aboutnav ul span#pink-highlight-about-mca,.aboutnav ul span#pink-highlight-affilation{display:block;}
.aboutnav ul.nav-inner li{border-bottom:none;}
.aboutsubnava ul li a{font-family:Segoe UI, Helvetica, Calibri; color:#303337;font-size:13px; }
.hindi_width .aboutsubnava ul li a{font-family:Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI, Helvetica, Calibri;}
/* .activelink{font-weight:bold;} */
/*nav style*/

/*Pagination*/
#dt_example{width:642px;margin:0 0 10px 0;color:#48494e;padding:10px 8px;}
#dt_example #container{margin:30px auto;padding:0;width:800px;}
#dt_example #demo{margin:30px auto 0;}
.dataTables_wrapper{position:relative;clear:both;zoom:1;}
.dataTables_processing{position:absolute;top:50%;left:50%;width:250px;height:30px;margin:-15px 0 0 -125px;padding:14px 0 2px 0;border:1px solid #ddd;text-align:center;color:#999999;font-size:12px;background:#ffffff;}
.dataTables_length{width:40%;float:left;}
.dataTables_filter{width:50%;float:right;text-align:right;display:none;}
.dataTables_info{width:60%;float:left;color:#9e9e9e;font-style:italic;font-size:12px;margin:15px 0 0 0;}
.dataTables_paginate{float:right;text-align:right;}
.styletd{width:217px;}
.E_cornor_linksHeight{height:auto !important;}
.E_cornor{display:none;  margin-left: 7px !importnat;}
.E_cornor1{display:none;margin-bottom: -7px !important;  margin-left:7px !important;margin-top:7px !important;}
img.sub_icon_change1.img_ecornor_padding{  padding-right: 6px;padding-top:6px;}
.E_cornor2{display:none;margin-bottom: -7px !important;  margin-left:7px !important;margin-top:7px !important;}
.E_cornor3{display:none;margin-bottom: -7px !important;  margin-left:7px !important;margin-top:7px !important;}
img.sub_icon_change2.img_ecornor_padding{ padding-right:12px;padding-top:6px;}
img.sub_icon_change3.img_ecornor_padding{ padding-right:12px;padding-top:6px;}
/* Pagination nested */

.paginate_disabled_previous, .paginate_enabled_previous,.paginate_disabled_next, .paginate_enabled_next{height:19px;float:left;cursor:pointer;color:#111;}
.paginate_disabled_previous:hover, .paginate_enabled_previous:hover,.paginate_disabled_next:hover, .paginate_enabled_next:hover{text-decoration:none;}
.paginate_disabled_previous:active, .paginate_enabled_previous:active,.paginate_disabled_next:active, .paginate_enabled_next:active{outline:none;}
.paginate_disabled_previous,.paginate_disabled_next{color:#666;}
.paginate_disabled_previous, .paginate_enabled_previous{padding:0 0 0 23px;}
.paginate_disabled_next, .paginate_enabled_next{padding:0 23px 0 0;margin:0 0 0 10px;}


/*DataTables display*/
table{margin:0 auto;clear:both;width:100%;}
table thead th{padding:5px 35px 5px 10px;font-family:Segoe UI, Helvetica, Calibri;font-size:14px;cursor:auto;text-align:left;background:#f5f5f5;color:#000000;font-weight:normal;height:32px;}
table tfoot th{padding:3px 18px 3px 10px;border-top:1px solid black;font-weight:bold;}
table tr.heading2 td{border-bottom:1px solid #aaa;}
table tr.noborder td{border-bottom:none;}
table td{color:#1d1d1c; font-size:13px; font-family:Segoe UI, Helvetica, Calibri; padding:12px 10px;border-bottom:1px dotted #d1d1d1;}
.hindi_width table td{font-family: Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI, Helvetica, Calibri;} 
.hindi_width li#emp12{line-height: 22px;}
li#emp12{line-height: 22px;}
table td.center{text-align:center;}
table thead th:active,table.display thead td:active{outline:none;}
table.dintable{width:100%;}
table td.width5{width: 5%;}
table td.width10{width: 10%;}
table td.width15{width: 15%;}
table td.width20{width: 20%;}
table td.width25{width: 25%;}
table td.width30{width: 30%;}
table td.width40{width: 40%;}
table td.width50{width: 50%;}
table td.width60{width: 60%;}
table.pinkbrdr{background-color:#fcfcfd; /* border-left:5px solid #de7e99; */ width:680px; padding-left:10px; margin:0; padding-top:5px;} 
table.whitebg span.asteric{color:#FF0000; font-weight:bold; font-size:16px;background: none;}
table.pinkbrdrdin{background-color:#fcfcfd; /*border-left:5px solid #de7e99;*/ width:474px; padding-left:10px; margin:0; padding-top:5px;}
table.whitebg{background-color:#fcfcfd; width:695px; /* padding-left:10px; */ margin:0; padding-top:5px;}
table.whitebg2{background-color:#fcfcfd; width:900px; padding-left:10px; margin:0; padding-top:5px;}
table.whitebgdin{background-color:#fcfcfd; width:468px;/*  padding-left:10px; */ margin:0; padding-top:5px;}
table thead th.dsc{padding:5px 5px 5px 10px;font-size:12px;cursor:auto;text-align:left;background:#f5f5f5;color:#000000;font-weight:normal;}
table tr input{background:#0da3e2;color:#ffffff;text-align:center;font-size:14px;}
table tr input.searchbox{background:#ffffff;color:#000000;text-align:left;font-size:14px;}
table.whitebgdin tr a{font-family:Segoe UI Semibold, Helvetica, Calibri;}
table.whitebg tr a{font-family:Segoe UI Semibold, Helvetica, Calibri;}
.hindi_width table.whitebg tr a{font-family: Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI Semibold, Helvetica, Calibri;} 
.hindi_widrh .rightpanel2 ul li a:HOVER{color: #0da3e2;}
table.reports td{ padding:0px 12px 13px 0px; border-bottom: none; font-size: 14px;}
table td.hdinnertd{padding:0px 0px;}
table.hdinnertable td{padding:12px 0px;}
table strong {font-family:Segoe UI Semibold; font-weight: normal;}
table td.alligntop{vertical-align: top;}
table tr.lastrow td{ border-bottom: none;}

/*Estamp*/
table.estamptable{width:auto; border-style: solid; border-width: thin; padding: 0 0 0 0px; margin: 0 0 0 50px;}
table.estamptable td.border{border: 1px solid rgb(#EEEEEE);}
img.estampimg {height: 100px; width: 150px;}
img.estamppopup {height: 380px; width: 545px;}
img.estampclose {height:20px; width:20px;}
table.estamptable2{width:550px; cellpadding:0; cellspacing:0; border:0; bgcolor:#FFFFFF; padding: 0 0 0 0;}
table.estamptable2 td{padding: 0 0 0 0;}
table.estamptable2 td.heading{background-color:#40618C; color:#ffffff;}
div.estampdiv {display:none; width:550px; border:1px solid #999999}
/*Estamp*/

/* popup */
.impInfoDiv img{padding:0 12px 0px 2px;}
div.impInfoDiv span.heading {color:#f6f6f6; padding: 0 0 0 15px; margin: 15px 0 0 0 ; text-transform: uppercase; font-size: 14px; font-family: Segoe UI Semibold,Helvetica, Calibri;}
div.impInfoDiv {display:block; position:absolute; top: 526px;margin-left:46px; z-index: 1; width:465px; background-color:#656565; padding: 15px 0 10px 0;}
/*.ie8 div.impInfoDiv {display:block; position:absolute; top: 525px; left: 465px; z-index: 1; width:465px; background-color:#656565; padding: 15px 0 10px 0;}*/
div.impInfoDiv ul li a.impInfoA {font-size: 13px; color: #f6f6f6; font-family: Segoe UI,Helvetica, Calibri;}
div.impInfoDiv ul li.impInfoLi {background: url(/mca/images/bullet.gif) no-repeat 15px 13px;padding:6px 6px 6px 31px; margin:0 0 0 0; text-transform:none; width:428px; color:#f6f6f6; line-height:21px; border-bottom:none;}
.hindi_width .impInfoDiv ul li.impInfoLi{  font-family: Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI, Helvetica, Calibri;}
div.impInfoDiv ul li.impInfoLi a{color:#f6f6f6}
div.impInfoDiv ul li.impLastLink {line-height:21px; border-bottom:1px solid #919191;}
div.impInfoDiv p.impInfoP {font-size: 13px; color: #f6f6f6; font-family: Segoe UI,Helvetica, Calibri; text-transform: none; padding: 15px 30px 0 30px;} 
div.impInfoDiv p.impInfoP a {font-size: 13px; color: #f6f6f6;}
div.impInfoDiv ul li a.impInfoA:HOVER{color:#91d5f3}
div.impInfoDiv p.impInfoP a:HOVER{color:#91d5f3}
div.impInfoDiv a img.impInfoClose {padding: 0 12px 12px 0;}
div.impInfoDiv img.impInfoPointer {position: absolute; top: -1.5%; left: 97%; display: block;}
/* popup */

/*PhotoGaleries*/
div.photoup{width:auto; padding:10px 10px 10px 10px;text-align:center;}
div.photogal1 {width:150px;float:left;padding:5px;margin-left: 80px;text-align: center;}
div.photogal {width:150px;float:left;padding:5px;margin-left: 10px;text-align: center;}
.photogal .photo2,.photogal1 .photo2{background:url(/mca/images/dropdown_subcategories.png) repeat; margin:10px 0;color:#f9f9fb;text-align:center;font-size:14px;width:100px;}
/*.photogal1 a img{padding-bottom: 10px;}
.photogal a img{padding-bottom: 10px;}*/

/*PhotoGaleries*/

/*Misc*/
.dataTables_scroll{clear:both;}
.dataTables_scrollBody{*margin-top:-1px;-webkit-overflow-scrolling:touch;}
.top, .bottom{padding:15px;background:#F5F5F5;border:1px solid #CCCCCC;}
.top .dataTables_info{float:none;}
.clear{clear:both;}
.dataTables_empty{text-align:center;}
.dataTables_length label{display:none;}
tfoot input{margin:0.5em 0;width:100%;color:#444;}
tfoot input.search_init{color:#999;}
td.group{background:#d1cfd0;border-bottom:2px solid #A19B9E;border-top:2px solid #A19B9E;}
td.details{background:#d1cfd0;border:2px solid #A19B9E;}
.example_alt_pagination div.dataTables_info{width:40%;padding-left: 10px;}
.paging_full_numbers{width:120px;height:26px;line-height:22px; margin-top:10px;}
.paging_full_numbers a:active{	outline:none}
.paging_full_numbers a:hover{text-decoration:none;}
.paging_full_numbers a.paginate_button,.paging_full_numbers a.paginate_active{cursor:pointer;margin:0 3px;padding:2px 2px;color:#333;}
.paging_full_numbers a.paginate_button.next{background:url(/mca/images/pagination_next.png) no-repeat; width: 8px; height:10px; margin-top:8px; margin-left: 8px; }
.paging_full_numbers a.paginate_button.previous{background:url(/mca/images/pagination_prev.png) no-repeat; width:5px; height:10px; margin-top:8px; }
.paging_full_numbers a.paginate_button.last{background:url(/mca/images/pagination_last.png) no-repeat; width:10px; height:10px; margin-top:8px; }
.paging_full_numbers a.paginate_button.first{background:url(/mca/images/pagination_first.png)no-repeat; width:10px; height:10px; margin-top:8px; }
.paging_full_numbers a.paginate_active{font-family:Segoe UI ;font-size:11px;color:#444444;border:1px solid #DDDDDD;float:left;font-weight:bold;padding:0;text-align:center;width:26px;}
.paging_full_numbers a.paginate_button{background:#ddd;}
.paging_full_numbers a.paginate_button:hover{text-decoration:none;}
div.box{height:100px;padding:10px;overflow:auto;border:1px solid #8080FF;background:#E5E5FF;}
/*Pagination End*/

/*Small Carousel Starts*/
.jcarousel-wrapper{position:relative;font-size:13px;color:#ffffff;text-align:center;}
.jcarousel-wrapper .photo-credits{position:absolute;right:15px;bottom:0;text-shadow:0 0 1px rgba(0, 0, 0, 0.85);opacity:.66;}
.jcarousel-wrapper .photo-credits a{color:#ffffff;}
.jcarousel{width:470px;height:246px;left:0px;overflow:hidden;position:relative;}
.jcarousel ul{width:20000em;position:absolute;margin:0;padding:0;}
.jcarousel li{float:left;width:470px;color:#707275;padding:0 0 7px 0;}
.jcarousel li img{padding:0 0 11px 0;width:470px;}
.jcarousel-control-prev,.jcarousel-control-next{position:absolute;top:200px;width:25px;height:37px;color:#c9d3e1;text-decoration:none;text-shadow:0 0 1px #000000;font-size:24px;}
.jcarousel-control-prev{background:url(/mca/images/carousel_arrow_left.png) no-repeat;left:5px;top:110px;}
.jcarousel-control-prev:hover{/*background:url(/mca/images/leftarrow_hover.png) no-repeat;*/}
.jcarousel-control-next{right:5px;top:110px;background:url(/mca/images/carousel_arrow_right.png) no-repeat;}
.jcarousel-control-next:hover{/*background:url(/mca/images/rightarrow_hover.png) no-repeat;*/}

/*Small Carousel Ends*/

/*footer starts*/
#footer{/*background:url(/mca/images/footer_bg.png) repeat;*/background:#e6e8ec;}
footer .inner{width:960px;/*margin:10px 0 15px 0;*/padding:19px 0 0 0;font-size:13px;}
footer .quicklinks ul{width:803px;margin:0 0 20px 22px;font-family:Segoe UI, Helvetica, Calibri;}
footer .quicklinks ul li{width:133px;margin:0;text-transform:uppercase;color:#4d4e56;font-weight:bold;}
footer .quicklinks ul .lastthree{margin:16px 0 0 0;width:175px;}
footer .quicklinks ul li ul{width:150px;margin:13px 0 0;}
footer .quicklinks ul li li{text-transform:none;padding:5px 0;font-weight:normal;}
footer .quicklinks ul li li a{color:#4d4e56;}
footer .quicklinks ul li li a:hover{color:#0097E0;}
footer .mcaapps ul{width:135px;margin:0;}
footer .mcaapps ul li{width:140px;margin:0 0 11px 0;text-transform:uppercase;font-weight:bold;font-size:14px;color:#666666;}
footer .mcaapps ul li ul{margin:22px 0 0;}
footer .mcaapps ul li ul li{padding:0;}
footer span{color:#546488;text-align:center;padding:0 0 11px;}
.copyrightc{background:#d8dbe2;height:30px;margin-top:-2px;padding:14px 0px 0px 0px;text-align:center;line-height:14px;}
.copyrightc span{float:none;}
p#ts{text-align:center;}
.hindi_footer .inner{font-size:14px !important;}
.hindi_footer .quicklinks ul{font-family:Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI Semibold, Helvetica, Calibri;}
.hindi_footer .quicklinks ul li li{padding:3px 0;}
.hindi_footer .quicklinks ul .lastthree{margin:16px 0 0 0;width:160px;}
/*footer ends*/
.updateInfo {float: right; margin:0px 150px;}

.font-Segoe{font-family:Segoe UI Semibold, Helvetica, Calibri!important;text-transform:uppercase;font-size:16px;}
.archive .bgGreen{background:url(/mca/images/profile_archive_bgbox.gif) no-repeat;color:#fff;font-weight:bold;margin-top:-3px;}
.archive a{color:#fff;}

#topcontainer{width:1200px;margin:0 auto;clear:both;}
#topcontainer .middleContent{height:318px;margin:auto;}
#topcontainer #navigation{height:40px;margin:auto;width:960px;}
.more{font-family:Tahoma, Geneva, sans-serif;font-size:13px;color:#415b81;margin:0px 5px 0px 0px;text-transform:uppercase;}
.hindi_width .more{  font-family: Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI Light, Helvetica, Calibri;}
.imgicon{margin:6px 8px 0px 5px;}
.btmborder0{border-bottom:0px solid #FFFFFF!important;}
.quickfont{color:#666666!important;font-size:14px;font-weight:bold;text-transform:uppercase;font-family:Segoe UI, Helvetica, Calibri;}
.width3px{width:30px;}
.extrapadd{padding:1px 20px!important;}
.paddtop5px{padding-top:0px;}
.martop{margin-top:-2px!important;}
.font-Segoe1{font-family:Segoe UI, Helvetica, Calibri!important;font-size:14px;}
.imgblock{ display: inline-block;float: left;height: 40px;width: 38px;padding-right: 10px; padding-left: 10px;}
.cntblock{display:inline-block;float:left;width:138px}
.cntblock:HOVER{color:#0da3e2;}
.font-Segoe-bold{font-family:Segoe UI Semibold, Helvetica, Calibri!important;text-transform:uppercase;font-size:14px;}
.hindi_width .font-Segoe-bold{font-family: Mangal, "Devanagari MN", "Arial Unicode MS", Segoe UI Semibold, Helvetica, Calibri!important;} 
.hindi-img{background:url("/mca/images/pointer.png") no-repeat scroll 0 20px rgba(0, 0, 0, 0)!important;margin-bottom:10px!important;}
.gery-img{background:#E9E9EA;}
.grey1Bg{background:#e9e9ea;height:272px;position:relative;}
.height305{height:346px!important;}
.moreimg{background:url(/mca/images/pagination_next.png) no-repeat}; }
/*overlay to add code for ie8*/
.overlay  {display:block; position:absolute;z-index: 2000; background:rgba(0,0,0,0.8);height:250%;  }
.overlay p{color:#FFFFFF; font-size:16px; float:none; text-align:justified; position:relative; top: 20px; left: 15% ; font-weight:bold;  }
.overlay .sbinner{font-size:16px;font-weight:heavy; text-transform:initial; width:75%;}
.overlay .sbinner span{ padding-left:20px;  }

/*swacch bharat special*/
.sbpspecial p{font-size:16px !important; font-weight: bold;}
.sbpspecial ul li a{font-size:15px ; font-weight: normal;}
.sbpspecial .green{color:green;}
.rightInnerContent .link a{color:#1e57bf; float:none;background: none;margin: 0px 0px 0px 0px;padding: 0px 0px 0px 0px;}

.plus > a > img {
    border: none;
    margin-right: 5px;
    margin-top: 8px;
    display: block;
}
.minus{display: none;}
.plus1 > a > img {
    border: none;
    margin-right: 5px;
    margin-top: 8px;
    display: block;
}
.minus1{display: none;}
.plus2 > a > img {
    border: none;
    margin-right: 5px;
    margin-top: 8px;
    display: block;
}
.minus2{display: none;}
.plus3 > a > img {
    border: none;
    margin-right: 5px;
    margin-top: 8px;
    display: block;
}
.minus3{display: none;}
.hindi_width span.expand img{margin-right:10px;}
@media (max-width:650px) {.rulessec.floatLeft.role_pagination table td{padding: 12px 1px;}}
ul#popmsg li.impInfoLi{font-family: Segoe UI, Helvetica, Calibri;font-size:14px;}
li.paddingp.E-Auction span.cntblock{line-height: 15px;padding-top: 8px;}
@media (max-width:650px){
.rightInnerContent p.pading{padding: 0 0 9px 0px;}
.adobedesc_image{padding-top:5px;}
.rightInnerContent .rulessec1.floatLeft ul li a{width:auto;}
.rulessec_hindi{width: 99.4% !important;}
.role_pagination1{width: 99.4% !important;}
}

.sbinner span{
display:block;
}

/*marquee*/
.marquee {
  height: 30px;
  overflow: hidden;
  position: relative;
  color: purple;
font-weight:bold;

font-size:15px;
}

.marquee ul li a  {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 30px;
  text-align: center;
  /* Starting position */
  transform: translateX(100%);
  /* Apply animation to this element */
  animation: scroll-left 40s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}