@media print, screen and (min-width :1025px){
	.accordion,.header-outer,.nav-mobile-wrapper,.nav-primary-mobile{display:none;}
.quick-links-mobile,.brand-wrap{display:none;}
.quickcont{display:block!important;}
}
@media (max-width: 1024px) and (min-width: 320px)
ul.greybg.gery-img{width:100%;}
@media only screen and (min-width:320px) and (max-width:1024px){
/*footer starts here*/
#footer{height:auto;margin-top:20px;}footer .inner,footer .quicklinks ul li ,footer .quicklinks ul,footer .quicklinks ul li ul{width:100%;}#footer .full-width{ width:100%;}
#footer .half-width{ width:50%;position:relative;min-height:1px;}footer .quicklinks ul,footer .mcaapps ul {width: auto;}footer .mcaapps ul{padding-left: 24px;}#footer .mcaapps:before,#footer .mcaapps:after{ content:'';display:table; }	
#footer .mcaapps:after{ clear:both;}footer .mcaapps ul li{ width:190px;}#footer .full-width,#footer .half-width{ width:100%; }footer .quicklinks ul li {width: 50%;}
.updateInfo,.quickfont{display:none;}.quick-links-mobile{margin-left:10px;cursor:pointer;}.quickcont{display:none;}
/* header css*/
.main-menu img{height:12px;width:12px;}.container{width:100%;}.icon-circle{	}a{text-decoration:none;}.col-md-12 {width: 100%;position: relative;
min-height: 1px;}.brand-wrap{margin: .5% 0 0;}.nav-primary-mobile li li{border: 0;}.nav-primary-mobile{margin: 0;overflow:hidden;border-bottom: 1px solid rgb(64, 64, 64);width: 100%;
float: left;}.nav-global-wrap{display: block;position: absolute;right: 0;top: 0;text-align: right;}.nav-mobile-wrapper{padding: 0;}.nav-mobile-wrapper{display: none;background: rgb(31, 31, 31);
padding: 0 4%;overflow: hidden;}.nav-primary-mobile {padding: 0 3%;overflow: hidden;}.nav-primary-mobile {margin: 0;padding: 0;border-bottom: 1px solid rgb(64, 64, 64);width: 100%;
float: left;}.nav-primary-mobile li {list-style: none;border-bottom: 1px solid rgb(19, 19, 19);border-top: 1px solid rgb(46, 46, 46);}.nav-primary-mobile a {padding: 1em 0;}.nav-primary-mobile a {
color: rgb(179, 179, 179);display: block;padding: 1em 0;font-family: myriad-pro-n4,myriad-pro,Myriad Pro,sans-serif;font-size: 1.1em;line-height: 1em;}.nav-primary-mobile .sub-nav {
padding: 0 0 1% 1%;margin: 0;}.nav-primary-mobile a {padding: 1em 0;}.nav-primary-mobile a{color: rgb(179, 179, 179);display: block;padding: 1em 0;font-family: myriad-pro-n4,myriad-pro,Myriad Pro,sans-serif;
font-size: 1.1em;line-height: 1em;}.nav-primary-mobile input{margin: 1em;line-height: 1.9em;height: auto;}.nav-primary-mobile input {color: rgb(153, 153, 153);border: 0;margin: 8px 4%;
width: 74%;display: block;outline: 0;float: left;background: 0;line-height: 1.5em;}.nav-primary-mobile .search-outer{margin: 1.4% 0;}.nav-primary-mobile .search-outer {margin: 3% 0;
width: 99%;border: 1px solid rgb(0, 0, 0);display: block;position: relative;float: left;background: rgb(51, 51, 51);}.btn.submit-mobile-search{margin: 1em;}.btn.submit-mobile-search{float: right;margin: .5em 2%;background: rgb(241, 92, 43);
color: rgb(255, 255, 255);text-shadow: 0 1px 1px rgb(0, 0, 0);height: 30px;font-weight: 700;font-size: 1em;padding: .1em .5em!important;border: 1px solid rgb(75, 28, 13);}
.nav-primary-mobile input {margin: 1em;line-height: 1.9em;height: auto;}.nav-primary-mobile input {color: rgb(153, 153, 153);border: 0;margin: 8px 4%;width: 74%;display: block;outline: 0;float: left;background: 0;line-height: 1.5em;}
.submit-mobile-search i {margin: 0;padding: .5em .15em!important;}.sub-nav{display:none;}.nav-mobile-wrapper ul li{float:none;}.sub-nav,.sub-nav li,.deep-nav,.deep-nav li{float:none;}
/*header css Ends Here*/
/*Home body content CSS*/
section.bannerLeft{width:100%!important;} section.bannerLeft p{width:97%!important;}
.widthcommon,.middleContent,#banner,.mainContent,.floatLeftone,article .threetabs{width:100%!important;}article .threetabs ul li{width:94.5%!important;}.mainContent aside{display:none;}.floatleft{float:none;!important;}
.slider{float:left!important;height:auto!important;}.floatLeftone{margin:0px!important;}.impInfoDiv{display:none!important;}
article{width:100%!important;}.wantsection{width:95%!important}.wantsection ul {width:98%!important;}.wantsection ul li{width:96%!important;padding: 8px 0 10px 15px!important; 
border-bottom:1px solid #fff;}.tabsa ul{width:100%!important;}.tabsa ul li{width:98%!important;} body {background:none!important;}.headernav,.typesearch,.headertop,#navigation,#themes{display:none;}.accordion img{float:right;cursor:pointer;}
.icon_change{width:20px;height:30px;}.tabsa{height:auto;}.font-Segoe{color:#ffffff;}article .threetabs ul li a {padding-right:16px;}.accordion{width:100%;float:left;}.accordimgchange img{float:right;cursor:pointer;}
.accordsec{background-color:#656565;margin-top:10px;}.accordsec h1{width:75%;padding:10px;}.accordimgchange{float: right;margin:-24px 12px;}.cont{clear:both;overflow:auto;display:none; width:auto;background-color:#E9E9EA;}
.frequentlyusedtabs ul li a img{padding:10px;}.btn-navbar{
cursor: pointer;}
	
/*All Pages Body Content*/
#leftnav{display:none;}#innerContent{width:94%;padding:13px;}.links{display:none;} .rightInnerContent{width:94%;min-height:inherit;margin:0 4% 0 0;}.parawidth{width:100%;}.rightInnerContent p{padding:0px 0px 20px 0px;}
.dinforms {width:100%;}.rightpanel2{float:left;width:70%;}.dinforms .leftpanel {width:100%;}.leftpanelarchive p{padding:0px 0px 20px 0px;}table.reports td {float:left;}.parawidth2{width:100%;}
.faq ul li h1 a {width:98%;}.faq ul li{width:100%;}.borderbottom{width:100%;}.dinheading{width:100%;}.faq ul li p {padding-left:0px;}.faq ul li h1{width:90%;}
.rightInnerContent ul li a {width:94%;}table.whitebg {width:100%;} table thead th{padding:5px 0px 5px 10px;}.rightpanel2 ul li {width:171px;}.dinforms .leftpanel1 .description {width:100%;}
.rightInnerContent h2 {font-size:17px;}.leftpanel1 ul li h1 {font-size:14px;}.dinfaq{width:100%;}.dinfaq .leftpanel{width:100%;}.dinfaq .leftpanel ul li h1{width:90%;}.rightpanel2 ul li{width:98%;}#dimforms_res .leftpanel {width:46%;}
/*All Pages Body Content ends here*/
}

}

@media(min-width:320px) and (max-width:600px){
	footer .quicklinks ul li{width:100%;}
.mobile-view
{display:none;}

































