html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,em,img,sub,sup,dl,dt,dd,ol,ul,li,form,input,button,label,textarea,table,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;}
body{color:#333;background:#fff;font:normal 400 12px/1.5 Microsoft YaHei,Arial,Tahoma,hiragino sans gb,Helvetica;}
a{text-decoration:none;color:#333;}
a:hover{text-decoration:underline;color:#259b24;}
h1,h2,h3,h4,h5,h6,strong{font-weight:800;font-size:100%;}
em{font-style:normal;}
h1{font-size:18px;}h2{font-size:16px;}h3{font-size:14px;}h4,h5,h6{font-size:12px;}
label,input,select,textarea{vertical-align:middle; font-family:Arial;}
img,button{background:none;border:none;}
ol,ul,li{list-style:none;}
table,td {border:none;border-collapse:collapse;}
*{outline:none}
.clearfix:after{ content:""; display:block;visibility:hidden; height:0; clear:both;}
.clearfix {zoom:1;}
.box{ width:960px; margin:0 auto;} 
.mb{ margin-bottom:10px;}
.mt{ margin-top:10px;}
.ml{ margin-left:10px;}
.mr{ margin-right:10px;}
.fr{ float:right;}
.fl{ float:left;}
@media screen and (-webkit-min-device-pixel-ratio:0){
	input[type="checkbox"],
	select,
	input[type="radio"] {
		position: relative;
		-webkit-appearance: none;
		-webkit-user-select: none;
		/*background-image: -webkit-linear-gradient(#EDEDED, #EDEDED 38%, #DEDEDE);*/
		border: 1px solid rgba(0, 0, 0, 0.25);
		border-radius: 2px;
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
		margin: 0 1px 0 0;
	}

	input[type='checkbox'] {
		bottom: 2px;
		height: 15px;
		vertical-align: middle;
		width: 15px;
	}
	input[type='checkbox']:checked::before {
		position: absolute;
		left: 3px;
		top: 6px;
		content: '';
		height: 2px;
		background-color: #666;
		width: 72%;
		-webkit-transform: rotate(120deg);
	}
	input[type='checkbox']:checked::after {
		position: absolute;
		left: 2px;
		top: 8px;
		content: '';
		height: 2px;
		width: 4px;
		background-color: #666;
		-webkit-transform: rotate(-150deg);
	}

	input[type="radio"]{
		border-radius: 100%;
		bottom: 3px;
		height: 15px;
		vertical-align: middle;
		width: 15px;
	}
	input[type='radio']:checked::before {
		background-color: #377bcb;
		border-radius: 100%;
		bottom: 3px;
		content: '';
		display: block;
		left: 3px;
		position: absolute;
		right: 3px;
		top: 3px;
	}
	input[type='checkbox']:active,
	select:active,
	input[type='radio']:active {
		background-image: -webkit-linear-gradient(#fcfcfc, #f8f8f8 38%, #e7e7e7);
		box-shadow: none;
		text-shadow: none;
	}
}
/*返回顶部*/
*html{background-image:url(about:blank);background-attachment:fixed;}/*解决IE6下滚动抖动的问题*/
#weixin,#gotop,#fankui{ width:54px; height:54px; background:url(../images/backTop.png) no-repeat;display:block; overflow:hidden; position:fixed; right:20px; cursor:pointer;
_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))); z-index:100;
}
#weixin{ background-position:-179px -59px; bottom:73px; _margin-bottom:73px;}
#weixin:hover{ background-position:-237px -59px; }
#fankui{ background-position:-179px -0;bottom:20px; _margin-bottom:20px;text-indent:-999em;outline:none; }
#fankui:hover{ background-position:-237px 0;}
#gotop{ background-position:-179px -118px;bottom:125px; _margin-bottom:125px;} 
#gotop:hover{ background-position:-237px -118px;} 
#weixin_img{ z-index:100;;width:174px; height:235px; background:url(../images/backTop.png) 0 0 no-repeat; position:fixed; right:78px; bottom:67px; cursor:pointer; display:none;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))); _margin-bottom:67px;}
/*#huodong{width:135px; height:183px; background:url(http://www.9ku.com/v2014/images/zhongqiu.gif) no-repeat;display:block; overflow:hidden; position:fixed; right:20px; cursor:pointer;
_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))); z-index:100;bottom:200px; _margin-bottom:200px;}*/
/*新版播放-加入-收藏-下载小图标*/
.hideCao{ float:left; width:20px; height:20px; overflow:hidden;zoom:1;}
.hideCao a{ width:20px; height:20px; float:left; display:block;}
.hidePlay{background:url(../images/pub.png) -60px -59px no-repeat;}
.hideAdd{background:url(../images/pub.png) 0 -59px no-repeat;}
.hideLove{background:url(../images/pub.png) -40px -59px no-repeat;}
.hideDown{background:url(../images/pub.png) -20px -59px no-repeat;}
.hidePlay:hover{background:url(../images/pub.png) -60px -79px no-repeat;}
.hideAdd:hover{background:url(../images/pub.png) 0 -79px no-repeat;}
.hideLove:hover{background:url(../images/pub.png) -40px -79px no-repeat;}
.hideDown:hover{background:url(../images/pub.png) -20px -79px no-repeat;}
.setPlay{ text-align:center; padding:10px 0 20px;}
.setPlay a{ display:inline-block;*display:inline;zoom:1; text-align:left; width:99px; height:25px; line-height:25px; text-indent:32px; background:url(../images/pub.png) -9999em -9999em no-repeat; color:#fff; margin:0 5px; cursor:pointer;}
.setPlay a:hover{ text-decoration:none; color:#fff;}
.setPlay a.setPlayXuan{ background:url(../images/pub.png) 0 -188px no-repeat;}
.setPlay a.setPlayPlay{ background:url(../images/pub.png) 0 -214px no-repeat;}
.setPlay a.setPlayAdd{  background:url(../images/pub.png) 0 -240px no-repeat;}
.setPlay a.setPlayXuanCur{ background:url(../images/pub.png) 0 -292px no-repeat;}
.setPlay a.setPlaySui{ background:url(../images/pub.png) 0 -266px no-repeat;}
.setPlay a.setShou{ background:url(../images/pub.png) 0 -318px no-repeat;}
.fixPlay{width:85px;height:24px;display:block;cursor:pointer;background:url(../images/pub.png) -90px -161px no-repeat;}
.pageHeader{width:100%; background:#fff; padding:15px 0;}
.header{ width:960px; margin:0 auto; position:relative;}
.header .logo{ float:left; width:210px; height:59px; background:url(../images/pub.png) 0 0 no-repeat;}
.header .logo a{ display:block; width:100%; height:100%;} 
.header .miniNav{ width:50px; height:16px;line-height:16px;overflow:hidden;background:url(../images/pub.png) -370px -62px no-repeat; display:none; cursor:pointer;}
.header .search{ float:left; width:430px; display:inline; height:52px; margin:6px 0 0 120px; display:inline;}
.header .search-bar{width:428px; height:30px; border:1px solid #259b24; background:#fff;}
.header .search-bar .search-txt{ border:0 none; line-height:20px; width:323px; height:20px; padding:5px 10px; font-size:14px; float:left; background:none; color:#333; font-family: Microsoft YaHei,Arial;box-shadow:1px 1px 1px #ddd inset;}
.header .search-btn{ width:85px; height:30px; line-height:30px; float:left;cursor:pointer; border:0 none; text-indent:-9999px; background:url(../images/pub.png) -255px 0 no-repeat;}
.header .srarchHot{line-height:16px; height:16px; overflow:hidden;color:#666; width:430px; margin-top:4px;}
.header .srarchHot a{ color:#666; padding:0 4px; font-size:12px;}
.header .srarchHot a:hover{ color:#09c;}
.header .headerMenu{ position:absolute; right:0; top:0; font-size:14px;}
.header .headelogin{ float:left; width:85px; margin-top:6px; margin-right:10px; display:inline;}
.header .headelogin .qqLogin{width:85px; height:23px;}
.header .headelogin .qqLoginBtn{width:85px; height:23px; display:block;background:url(../images/pub.png) -255px -37px no-repeat;}
.header .kuLogin{ line-height:20px; height:20px; margin-top:3px; overflow:hidden;zoom:1; font-size:12px;}
.header .kuLoginBtn{ float:left;}
.header .kuRegBtn{ float:right;}
.header .headerTtag{ float:left; width:40px; text-align:center; margin-top:8px; cursor:pointer;}
.header .headerTtag a{ width:40px; display:block;}
.header .headerTtag a:hover{ text-decoration:none;}
.header .headerTtag a i{ width:22px; height:22px; display:block; margin:0 auto;cursor:pointer;}
.header .headerTtag a em{ line-height:24px; height:24px; display:block; font-size:12px;}
.header .headeSoftware a i{background:url(../images/pub.png) -359px 0 no-repeat;}
.header .headeSoftware a:hover i{background:url(../images/pub.png) -381px 0 no-repeat;}
.header .headeHistory a i{background:url(../images/pub.png) -359px -23px no-repeat;}
.header .headeHistory a:hover i{background:url(../images/pub.png) -381px -23px no-repeat;}
.header .headeUser{float:left; width:60px; margin-top:3px; margin-right:5px; display:inline; cursor:pointer;}
.header .headeUser a:hover{ text-decoration:none;}
.header .headeUser a .userAvatar{ width:38px; height:26px; margin:0 auto;background:url(../images/pub.png) -409px 0 no-repeat; display:block;cursor:pointer;}
.header .headeUser a:hover .userAvatar{background:url(../images/pub.png) -409px -27px no-repeat;}
.header .headeUser a .userAvatar img{ width:22px; height:22px; padding:2px; display:block;cursor:pointer;}
.header .headeUser a .userName{ width:100%; height:20px; line-height:20px;margin-top:3px; display:block; text-align:center; overflow:hidden;}
/*头部悬浮*/
.heiaderFix{ background:#f8f8f8; height:55px; border-bottom:1px solid #d9d9d9;box-shadow:0 1px 3px rgba(100,100,100,0.1); position:fixed; width:100%; left:0; top:0; z-index:10000;padding:0;}
.heiaderFix .header{ width:960px; margin:8px auto 0; position:relative;}
.heiaderFix .header .logo{ float:left; width:137px; height:38px; background:url(../images/pub.png) -309px -88px no-repeat;}
.heiaderFix .header .logo a{ display:block; width:100%; height:100%;} 
.heiaderFix .header .miniNav{  position:absolute; left:155px; top:15px; display:block;}
.heiaderFix .header .search{ float:left; width:430px; display:inline; height:32px; margin:3px 0 0 160px; display:inline;}
.heiaderFix .header .srarchHot{ display:none;}
.heiaderFix .header .headerTtag a em{display:none;}
.heiaderFix .header .headeUser{ margin-top:5px;}
.heiaderFix .header .headeUser a .userName{display:none;}
.heiaderFix .header .kuLogin{display:none;}
.heiaderFix .header .headerMenu{ top:2px;}
/*个人中心-软件下载-试听历史-下拉框-悬浮导航下拉*/
.dropMenu{ width:100%;}
.dropHd{ width:10px; height:5px; line-height:0; font-size:0; overflow:hidden; display:block; margin:0 auto;background:url(../images/pub.png) -345px -55px no-repeat;}
.dropBd{ border:1px solid #dcdcdc; border-top:2px solid #259b24;box-shadow:0 2px 5px rgba(100,100,100,0.2); background:#fff;*zoom:1;}
.dropUserList{ line-height:34px;}
.dropUserList li{ line-height:34px;}
.dropUserList li a{ font-size:14px; display:block; line-height:34px; height:34px; text-align:center; color:#666;}
.dropUserList li a:hover{ background:#f5f5f5; color:#259b24; text-decoration:none;}
.dropSoftList{ line-height:42px;}
.dropSoftList li{ line-height:42px;}
.dropSoftList li a{ font-size:14px; display:block; line-height:42px; height:42px; color:#666;}
.dropSoftList li a i{ width:16px; height:16px; display:block; float:left; margin:15px 5px 0 18px; display:inline; line-height:0; font-size:0; overflow:hidden;}
.dropSoftList li #donwWindows i{background:url(../images/pub.png) -342px 0 no-repeat;}
.dropSoftList li #donwIphone i{background:url(../images/pub.png) -342px -16px no-repeat;}
.dropSoftList li #donwAndroid i{background:url(../images/pub.png) -342px -32px no-repeat;}
.dropSoftList li a:hover{ background:#f5f5f5; color:#259b24; text-decoration:none;}
#dropMenuUser{ width:126px; margin:0 auto; position:fixed;z-index:100000;_position:absolute;}
#dropSoftware{ width:205px; margin:0 auto; position:fixed;z-index:100000;_position:absolute;} 
#dropSoftware .dropHd{ margin-left:135px;}
#dropHistory{ width:260px; margin:0 auto;position:fixed;z-index:10000;_position:absolute;} 
#dropHistory .dropHd{ margin-left:235px;}
.dropHistoryList{ height:310px; overflow-x:hidden; overflow-y:auto;}
.dropHistoryList li{ height:30px; line-height:30px; border-bottom:1px solid #f3f3f3;}
.dropHistoryList li .num{ float:left; width:40px; text-align:center; color:#aaa; font-family:arial; font-size:12px;}
.dropHistoryList li .songInfo{ float:left; width:150px; height:30px; overflow:hidden;}
.dropHistoryList li .songName{ color:#333; font-size:12px;}
.dropHistoryList li .shortLine{ color:#999; padding:0 5px;}
.dropHistoryList li .singerName{ color:#999;}
.dropHistoryList li .songName:hover,.dropHistoryList li .singerName:hover{ color:#259b24;}
.dropHistoryList li .hideCao{ float:left; width:50px; height:20px; margin-top:5px;overflow:hidden; display:none;}
.historyFt{ width:100%; height:36px; line-height:36px;}
.historyFt .historyPlayBtn{ display:block;height:36px; line-height:36px; background:#259b24; color:#fff; text-align:center; font-size:14px;}
.historyFt .historyPlayBtn:hover{ text-decoration:none; background:#2bab2a; color:#fff;}
.dropHistoryList li.hisHover{ background:#f5f5f5;}
.dropHistoryList li.hisHover .hideCao{ display:block;}
#dropMiniNav{ width:470px; margin:0 auto;position:fixed;z-index:10000;_position:absolute;} 
#dropMiniNav .dropHd{ margin-left:175px;}
.miniNavList1 { border-bottom:1px dashed #ccc; padding:0 0 8px; margin:10px 10px 6px;}
.miniNavList1 li{ font-size:14px; line-height:24px; height:24px; overflow:hidden;zoom:1;}
.miniNavList1 li a{ float:left; margin:0 12px 0 10px; display:inline; color:#333;}
.miniNavList2 { margin:0 10px 10px;}
.miniNavList2 li{ font-size:14px; line-height:24px; height:24px; overflow:hidden;zoom:1;}
.miniNavList2 li a{ float:left; margin:0 8px 0 10px; display:inline;color:#666;}
.miniNavList1 li a:hover,.miniNavList2 li a:hover{ color:#259b24;}
/*导航*/
.navWrap{ width:100%; background:#259b24;}
.nav{ width:960px; margin:0 auto;height:42px;line-height:42px; overflow:hidden;}
.navList{background:#259b24;}
.navList li{ float:left; line-height:42px; height:42px;font-size:16px;}
.navList li a{ display:inline-block;line-height:42px; height:42px; padding:0 17px 0 18px; text-align:center; color:#fff; overflow:hidden;}
.navList li a:hover{background:#2bab2a; text-decoration:none;color:#fff;}
.navList li .active,.navList li .active:hover{ color:#fff;background:#187c17;}
.navList li#navIndex a{ padding:0 20px;}
/*搜索实时提示*/
#sugResult{ width:342px;border:1px solid #c7c7c7; border-top:0 none;position:fixed;_position:absolute; background:#fff; z-index:10000000000;font-family:Microsoft YaHei; z-index:10000;}
#sugResult h2 {position:relative;width:342px;height:38px; text-indent:10px; font-weight:400;background-image: -webkit-linear-gradient(bottom,#ededed,#f5f5f5);background-image: -moz-linear-gradient(bottom,#ededed,#f5f5f5);background-image: -o-linear-gradient(bottom,#ededed,#f5f5f5);background-image: linear-gradient(to top,#ededed,#f5f5f5);_background: #f1f1f1;border-bottom: 1px solid #e5e5e5;font-size:13px;color:#333;zoom:1;line-height:38px; *background:#f5f5f5;}
.sugBox{ background:url(../images/sugBg.png) left 0 repeat-y;}
#sugResult dl{ border-bottom:1px solid #e5e5e5; padding-left:41px; position:relative;}
#sugResult dt{font-size:12px; color:#999; display:inline; position:absolute; left:10px; top:6px;}
#sugResult dd{ float:left; width:301px;white-space: nowrap;overflow:hidden;}
#sugResult dd a{height:40px; line-height:40px; position:relative; display:block; position:relative; padding:6px 0; font-size:14px; overflow:hidden;}
#sugResult dd a img {position: absolute;top: 6px;left: 8px;background: url(../images/loading.gif) transparent no-repeat center;border-radius: 3px; width:40px; height:40px;}
#sugResult dd a .songName{ padding-left:58px;}
#sugResult dd a .singerName{ color:#999;}
#sugResult dd a i{ padding:0 5px;}
#sugResult dd a:hover{ text-decoration:none; background:#f1f1f1; color:#333;}
#sugResult dd a .soCi{ color:#c00;}
#sugResult .sug-song dd a{ height:20px; line-height:20px; padding-left:8px;}
#sugResult .sug-song dd a .songName{ padding-left:0;}
#sugResult .sug-singer dd a{line-height:40px; }
#sugResult .sug-album dd div {line-height:20px; height:20px;margin-left: 58px;}
#sugResult .sug-album dd div.albumSingerName {margin-left: 70px;}
/*musicBus*/
.musicBus{margin-top:10px; background:#fff;}
.busNav{overflow:hidden;border:1px solid #e2e2e2;}
.busNav ul{ padding:5px 0 5px 10px;}
.busNav ul li{ height:20px; float:left; overflow:hidden;zoom:1;line-height:20px; overflow:hidden; padding:5px 0 5px 11px; margin:0 8px 0 0; display:inline;}
.busNav ul li .busPlayName{float:left; height:20px;line-height:20px;font-size:14px;}
.busNav ul li .busPlayBtn{ float:left; margin:3px 0 0 4px; display:inline;height:16px;line-height:16px;width:16px;background:url(../images/pub.png) -185px -59px no-repeat; overflow:hidden;}
.busNav ul li .busPlayBtn:hover{background:url(../images/pub.png) -185px -75px no-repeat;}
/*fotter*/
.footer{width:100%; background-color:#fcfcfc; border-top:1px solid #ebebeb;}
.footer{ margin-top:10px;}
.footer p{ text-align:center; line-height:25px;}
.footer .box{ margin-top:10px;}

