.indexTag{ margin-top:10px;}
.indexTag .indexTagHd{ height:27px; border-bottom:2px solid #259b24; position:relative;}
.indexTag .indexTagHd li{ float:left; width:84px; height:27px;background:url(../images/pub.png) 0 -106px no-repeat; text-align:center; line-height:27px; margin:0 5px 0 0; color:#666; cursor:pointer;}
.indexTag .indexTagHd li:hover{background:url(../images/pub.png) 0 -160px no-repeat; color:#259b24;}
.indexTag .indexTagHd li.current span{ display:block;background:url(../images/pub.png) 0 -133px no-repeat; font-weight:bold; color:#fff; font-size:14px;}
.linkMeinv{ width:128px; height:28px; display:block; position:absolute; right:0; bottom:0;background:url(../images/pub.png) -202px -60px no-repeat;}
.indexTag .indexTagItem{ display:none; border:1px solid #e5e5e5; border-top:none; background:#fff;}
.indexTag .indexTagItem ul{ padding:10px 0 10px 13px;}
.indexTag .indexTagItem li{ float:left; width:63px; margin-left:4px; display:inline; height:24px; line-height:24px; overflow:hidden;}
.indexTag .indexTagItem li a{ display:block; width:100%; height:24px;}
.indexTag .indexTagItem_zhuanji li{ width:113px;}
.indexTag .jiukuJian ul{ float:left; width:121px; display:inline; margin-left:15px; padding:10px 0;}
.indexTag .jiukuJian ul li{ width:121px; margin:0;text-align:left; display:block;}
.indexTag .jiukuJian ul li .num{ width:16px; height:16px; line-height:16px; overflow:hidden; text-align:center; float:left; margin:5px 0 0; border-radius:3px; background:#aaa; color:#fff;font-family:"Source Sans Pro","Helvetica neue",helvetica,Arial; font-size:12px;}
.indexTag .jiukuJian ul li .numTop{ background:#5ab438;}
.indexTag .jiukuJian ul li a{ width:100px; float:left; line-height:24px; height:24px;margin-left:5px; display:inline; overflow:hidden;}
.indexTag .jiukuJian ul li a i.tuiNew{ width:23px; height:9px; line-height:0; font-size:0; overflow:hidden; display:inline-block; margin-left:5px;background:url(../images/pub.png) -330px -60px no-repeat;}
.indexTag .jiukuJian ul li a i.tuiJian{width:17px; height:12px;line-height:0; font-size:0; overflow:hidden; display:inline-block; margin-left:5px;background:url(../images/pub.png) -330px -69px no-repeat;}
.indexTag .jiukuJian ul li a:hover{ color:#259b24;}
/*模块*/
.Mbox-hd{ position:relative; line-height:32px; height:32px; width:100%; overflow:hidden;zoom:1;}
.Mbox-tit{float:left;  width:105px;height:28px; line-height:28px; overflow:hidden; font-size:26px; font-weight:100;}
.Mbox-more{ float:left; width:34px; height:16px; line-height:16px; font-size:12px; color:#259b24; overflow:hidden;margin:12px 0 0 3px; display:inline;}
.Mbox-btn{ position:absolute;right:0; bottom:2px; overflow:hidden;zoom:1; display:block; width:123px; height:26px;}
.Mbox-play{ width:88px; height:26px; overflow:hidden;float:left; display:block; line-height:24px; text-indent:24px; font-size:14px;background:url(../images/pub.png) -90px -107px no-repeat; color:#666;} .Mbox-add{ width:30px; height:26px; overflow:hidden; float:left; display:inline; margin-left:5px;line-height:24px; text-indent:9999em; font-size:14px;background:url(../images/pub.png) -179px -107px no-repeat;}
.Mbox-play:hover{background:url(../images/pub.png) -90px -134px no-repeat; text-decoration:none; color:#fff;}
.Mbox-add:hover{background:url(../images/pub.png) -179px -134px no-repeat;}
/*musicList*/
.musicList{ overflow:hidden;zoom:1;}
.musicList li{ line-height:34px; height:34px; width:100%; overflow:hidden;zoom:1;border-bottom:1px solid #fff; float:left;}
.musicList li .checkBox{ float:left; margin:12px 5px 0 0;*margin:8px 5px 0 0;display:inline;}
.musicList .num{ width:18px; height:18px; line-height:18px; margin:9px 0 0 ;text-align:center; border-radius:2px; display:block; float:left; color:#999;font-family:"Helvetica neue",helvetica,Arial; font-size:12px;}
.musicList .songName{ font-size:14px; float:left;display:inline;margin-left:10px; width:160px;}
.musicList .singerName{ color:#999;float:left; display:inline; margin-left:10px; width:60px;}
.musicList .singerNameWrap{font-size:14px; float:left;display:inline;margin-left:10px; width:160px;}
.musicList .mvIcon{color:#999;float:left; display:inline;  width:17px; height:13px;background:url(../images/pub.png) -430px -62px no-repeat;margin-left:5px; margin-top:12px;}
.musicList li.top3 .num{background:#259b24; color:#fff;}
.musicList li.top3 .songName{ color:#259b24;}
.musicList li.top3 .singerName{ color:#666;}
.musicList li:hover{ border-bottom:1px solid #d5d5d5;}
.musicList .songName:hover,.musicList .singerName:hover,.musicList li.top3 .singerName:hover{ text-decoration:none;color:#259b24;_text-decoration:underline;}
.musicList li.top3 .songName:hover{ color:#188817;}
.musicList li .itemCao{ float:left; width:18px; height:18px; float:right; overflow:hidden;zoom:1; margin-top:8px;}
.musicList li .itemCao a{width:18px; height:18px; float:left; display:block; text-indent:-9999em;}
.musicList li .itemCao .itemAdd{ background:url(../images/pub.png) -211px -107px no-repeat;}
.musicList li .itemCao .itemAdd:hover{background:url(../images/pub.png) -211px -126px no-repeat;}
/*新歌推荐*/
.tuijian{ margin-bottom:10px;}
.newBox{ float:left; width:620px; border-right:1px solid #dedede; padding-right:19px;}
.newBox .Mbox-tit{}
.newBox .clickTab-hd{ float:left; width:164px; height:24px; overflow:hidden;zoom:1; margin:3px 0 0 10px; display:inline;}
.newBox .clickTab-hd li{ float:left; width:82px; height:24px; text-align:center; line-height:22px; font-size:14px; background:#f0f0f0; color:#666; cursor:pointer;}
.newBox .clickTab-hd li.current{ background:#259b24; color:#fff;}
.newBox .upDate{ float:left; line-height:32px; height:32px; margin-left:20px; display:inline; color:#999;}
.newBox .Mbox-bd{ padding-top:5px;}
.newBox .music2_L{ float:left; width:290px; padding-right:20px; border-right:1px dashed #ddd;}
.newBox .music2_R{ float:right; width:290px;}
.newBox .newBoxItem{ display:none;}
.newBox .musicList .songName{width:auto; margin-left:0;}
/*歌单推荐*/
.gedanBox{ float:right; width:300px;}
.gedanBox .Mbox-tit{}
.gedanHot{ width:300px; height:100px; overflow:hidden; margin:12px 0 0;}
.gedanList{ padding:15px 0 0;}
.gedanList li{ float:left; width:150px; line-height:20px; height:20px; padding:6px 0;}
.gedanList li a{ font-size:14px; height:20px;line-height:20px; display:block; overflow:hidden;zoom:1;}
.gedanList li a i{ width:16px; height:16px; float:left;  margin:3px 6px 0 0; display:inline;display:block;}
.gedanList li.gedanLei1 a i{background:url(../images/pub.png) -220px -90px no-repeat;}
.gedanList li.gedanLei2 a i{background:url(../images/pub.png) -238px -90px no-repeat;}
.gedanList li.gedanLei1 a:hover i{background:url(../images/pub.png) -257px -90px no-repeat;}
.gedanList li.gedanLei2 a:hover i{background:url(../images/pub.png) -275px -90px no-repeat;}
.gedanList li a:hover i{background:url(../images/pub.png) -60px -79px no-repeat;}
.gedanList li a span{ line-height:20px;}
#hotBanner { width:300px;}
.hot-event { padding:100px 0 0; position: relative; }
.hot-event .switch-tab { text-align:center; position:absolute; bottom:10px; z-index:99; width:65px; left:50%; margin-left:-30px;}
.hot-event .switch-tab a,.hot-event .switch-tab .current {margin:0 2px; float:left; display:inline;width:8px; height:8px;overflow: hidden;background:#000;opacity:0.4;filter:alpha(opacity=40); font-size:0; line-height:0; border-radius:4px;}
.hot-event .switch-tab .current { background:#fff;opacity:1;filter:alpha(opacity=100);}
.hot-event .switch-nav a { display:block; width:24px; height:24px;position:absolute;top:35px;z-index:99;opacity:0.4;filter:alpha(opacity=40);}
.hot-event .switch-nav a:hover {opacity:1.0;filter:alpha(opacity=100);}
.hot-event .switch-nav .prev{left:5px;background: url(../images/bannerPage.png) 0 -24px no-repeat;}
.hot-event .switch-nav .next{right:5px;background: url(../images/bannerPage.png) 0 0 no-repeat;}
.hot-event .event-item {width: 300px;height:100px;position: absolute;z-index:1;left:0;top:0; display:none;}
.hot-event .event-item .banner{display:block; }
.hot-event .event-item img {width:300px;height:100px; display:block;}
/*TOP120*/
.top120{ margin-bottom:0;}
.topBox .Mbox-hd{ border-bottom:1px solid #f0f0f0; padding-bottom:6px;}
.topBox .Mbox-bd{ padding-top:5px; overflow:hidden; width:960px;}
.topBox .Mbox-tit{ width:215px;}
.topBox .musicList{ width:1010px;overflow:hidden;}
.topBox .musicList li{ float:left; width:290px; margin-right:44px; display:inline;}
.topBox .musicList li .num{ background:#fff; color:#bbb; width:24px; text-align:left;}
.topBox .musicList li .songName{ margin-left:0;width:150px;*width:145px;}
.topBox .musicList li .singerName{ text-align:right;}
.topBox .musicList li.hotRed .songName{ color:#e30b0b;}
.topBox .musicList li.hotBlue .songName{ color:#0b4de3;}
/*老歌120*/
.laoge120 .topBox .Mbox-tit{ width:215px;}
/*经典老歌*/
.jingdian{ margin-bottom:20px;}
.jingdianBox{ float:left; width:620px; border-right:1px solid #dedede; padding-right:19px;}
.jingdianBox .Mbox-tit{ background:url(../images/indexTit.png) 0 -150px no-repeat;}
.jingdianBox .Mbox-bd{ padding-top:5px;}
.jingdianBox .music2_L{ float:left; width:290px; padding-right:20px; border-right:1px dashed #ddd;}
.jingdianBox .music2_R{ float:right; width:290px;}
.jingdianBox .itemLink{ float:left; font-size:14px; line-height:20px; height:20px; margin:8px 0 0 3px; display:inline;}
.jingdianBox .itemLink a{ padding:0 5px;}
/*歌手*/
.geshouBox{ float:right; width:300px;}
.geshouBox .Mbox-tit{}
.geshouBox .Mbox-bd{ width:300px; overflow:hidden;}
.geshouHot{ padding:10px 0 0; width:320px; overflow:hidden;}
.geshouHot li{ float:left; width:60px;margin:0 20px 0 0; display:inline;}
.geshouHot li a img{ display:block; width:60px; height:60px;}
.geshouHot li a span{ display:block; width:60px; height:18px; line-height:18px; font-size:14px; overflow:hidden; margin-top:4px; text-align:center;}
.geshouLine {border-top:1px dashed #ccc; margin:10px 0 0;}
.geshouList{padding:10px 0 0; width:320px; overflow:hidden;}
.geshouList li{float:left; width:60px;margin:0 20px 0 0; line-height:30px; height:30px;display:inline; font-size:14px;overflow:hidden;}
.geshouLei{width:320px; overflow:hidden;}
.geshouLei li{float:left; width:96px;line-height:30px; height:30px;display:inline; margin:10px 10px 0 0; }
.geshouLei li.geshouzh{ width:88px;}
.geshouLei li a{ display:block; width:100%; height:100%;border-radius:3px;font-size:14px; text-align:center; background:#eeeeee; }
.geshouLei li a:hover{ text-decoration:none; background:#e3e3e3;}
/*榜单*/
.rank{margin-bottom:20px;}
.rank .Mbox-bd{ padding-top:5px;}
.rank .yingwenBox{ float:left; width:290px; padding-right:20px;border-right:1px solid #ddd;}
.rank .ergeBox{ float:left; width:290px; padding-right:20px;border-right:1px solid #ddd;}
.rank .fzlBox{ float:left; width:290px; border-right:1px solid #ddd; padding:0 18px 0 20px;}
.yingwenBox .Mbox-tit{}
.ergeBox .Mbox-tit{}
.fzlBox .Mbox-tit{width:80px;}
.rank .djBox{float:left; width:290px; border-right:1px solid #ddd; padding:0 18px 0 20px;}
.rank .qingBox{float:right; width:300px;}
.rank .gcwBox{float:right; width:300px;}
.djBox .Mbox-tit{  width:90px;}
.qingBox .Mbox-tit{width:80px;}
.gcwBox .Mbox-tit{width:80px;}
.gcwBox .musicList .songName{width:auto; margin-left:0;}
.rank .shangganBox{float:left; width:290px; border-right:1px solid #ddd; padding:0 18px 0 20px;}
.shangganBox .Mbox-tit{ width:105px;}
/*最新入库*/
.ruku{margin-bottom:20px;}
.rukuBox{ float:left; width:640px; border-right:1px solid #dedede; }
.rukuBox .Mbox-bd{ padding-top:5px;}
.loveBox{ float:right; width:300px;}
.loveBox .Mbox-bd{ padding-top:5px;}
.rukuBox .Mbox-tit{width:158px;}
.loveBox .Mbox-tit{width:228px;}
.rukuList{overflow:hidden;zoom:1;width:100%;}
.rukuList li{width:190px; line-height:28px; height:28px; overflow:hidden;float:left;display:inline; margin:0 22px 0 0;}
.rukuList li .songNum{color:#999;font-family:"Helvetica neue",helvetica,Arial; font-size:12px; padding-right:5px;}
.rukuList li .songName{ font-size:14px;font-size:12px;}
.rukuList li .singerName{ font-size:12px;color:#999;}
.rukuList li .singerName:hover{ color:#55a642;}
.rukuList li .shortLine{ color:#999; padding:0 5px;}
.loveList li{ float:left; width:50%; line-height:26px; height:26px; overflow:hidden;zoom:1;}
.fuhao{ padding-top:5px; border-top:1px dashed #ccc; margin:5px 0 0;}
/*高清MV*/
.mv{ margin-bottom:10px;}
.mvBox .Mbox-tit{width:98px;}
.mvList { padding-bottom:15px;}
.mvList li{ float:left; width:180px; display:inline; margin:15px 15px 0 0;}
.mvList li .maskBox{width:180px; height:101px; display:block; overflow:hidden; position:relative;}
.mvList li .maskBox .t-i img{ width:180px; height:101px; display:block; background:url(../images/loading.gif) center center no-repeat;}
.mvList li .maskBox .maskDis{ display:none; z-index:99;}
.mvList li .maskBox .maskBg{ position:absolute; left:0; top:0; width:180px; height:101px; display:block; background:#000;opacity:0.2;filter:alpha(opacity=20);}
.mvList li .maskBox .maskBtn{ position:absolute; left:50%; top:50%; margin-left:-14px; margin-top:-14px; width:27px; height:27px; display:block; background:url(../images/play.png) 0 0 no-repeat;_background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/v2014/images/play.png" ,sizingMethod="crop"); z-index:99;}
.mvList li .t-t{ line-height:24px; height:24px; overflow:hidden; display:block; margin-top:3px; font-size:14px;text-align:center;}
.mvList li .i-t{ line-height:18px;display:block;color:#999;}
.mvList li .i-t p{height:18px;overflow:hidden;}
.mvList li .i-t .mvSinger{ color:#666; text-align:center;}

/*友链*/
.friendLink{margin-bottom:10px;}
.linkBox .Mbox-tit{width:120px;}
.linkBox .Mbox-bd{ border:1px solid #e5e5e5;}
.linkBox ul{ padding:6px 8px;}
.linkBox li{ float:left;line-height:20px;white-space:nowrap;margin:2px 5px; display:inline;}
.copyRight{margin-bottom:10px;}
.copyRightBox .Mbox-tit{width:180px;}
.copyRightBox .Mbox-bd{ border:1px solid #e5e5e5;}
.copyRightBox p{ padding:10px;}

/*爱墙 jquery Marquee.js Plugin CSS*/
.plus-mar-left{overflow:hidden; word-break:keep-all; white-space:nowrap;}
.plus-mar-left ul{list-style:none; margin:0; padding:0; display:inline-block; *display:inline; zoom:1;}
.plus-mar-left li{display:inline-block; *display:inline; zoom:1;}
.plus-mar-top{overflow:hidden; word-break:keep-all; white-space:nowrap;}
.plus-mar-top ul{list-style:none; margin:0; padding:0;  line-height:40px;}
.plus-mar-top li{ padding-right:10px;}
.plus-mar-bottom{overflow:hidden; word-break:keep-all; white-space:nowrap; position:relative;}
.plus-mar-bottom ul{list-style:none; margin:0; padding:0;  line-height:40px; position:relative;}
.plus-mar-bottom li{ padding-right:10px;}
.plus-mar-up{overflow:hidden;}
.plus-mar-up ul{list-style:none; margin:0; padding:0;  line-height:40px;}
.plus-mar-down{overflow:hidden; position:relative;}
.plus-mar-down ul{list-style:none; margin:0; padding:0; position:relative;}
.love{ margin-bottom:12px; border:1px solid #e5e5e5; background:#f5f5f5; padding:5px 0; overflow:hidden;zoom:1;}
.love #loveMar {font-size:12px; float:left; width:830px; margin-left:15px; display:inline;}
.love #loveMar li{margin:0 10px 0 0;}
.love #loveMar li a { color:#454545; text-decoration: none; line-height:26px; height:26px; padding-left:18px; background:url(../images/loveIco.png) left bottom no-repeat;}
.love #loveMar li a span{color:#259b24;}
.love #loveMar li a:hover { text-decoration:underline; color:#259b24;}
.love .loveBtn{ float:right; width:80px; margin-right:12px; display:inline;}
.love .loveBtn a{ display:block; line-height:26px; height:26px; text-align:center; width:80px; background:#259b24; color:#fff; border-radius:3px;}
.love .loveBtn a:hover{ background:#187c17; text-decoration:none;}

/*娱乐资讯*/
.yule{margin-bottom:20px;}
.yuleLBox{ float:left; width:640px; border-right:1px solid #dedede; }
.yuleLBox .Mbox-bd{ padding-top:5px;}
.yuleRBox{ float:right; width:300px;}
.yuleRBox .Mbox-bd{ padding-top:5px;}
.yuleLBox .Mbox-tit{width:108px;}
.yuleRBox .Mbox-tit{width:108px;}
.yuleLBox  .yuleMain{ margin-bottom:20px;}
.yuleLBox .yuList1{ float:left;width:130px; height:95px; display:block; position:relative; overflow:hidden;}
.yuleLBox .yuList1 a img{ display:block; width:130px;}
.yuleLBox .yuList1 a span{ display:block; width:100%; height:20px; line-height:20px; background:#000; color:#fff;opacity:0.7;filter:alpha(opacity=70); position:absolute;bottom:0; left:0; text-align:center; overflow:hidden;}
.yuleLBox .yuList2{ float:left; width:510px;}
.yuleLBox .yuList2 li{ float:left; width:230px; margin:0 0 0 15px; display:inline; line-height:24px; height:24px; overflow:hidden;}
.yuleLBox .yuList2 li a{ font-size:14px;}
.yuleRBox .yuList1 li{ float:left;width:140px; display:block; margin:0 10px 0 0; display:inline;}
.yuleRBox .yuList1 li a img{ display:block; width:140px; height:82px;}
.yuleRBox .yuList1 li a span{ display:block; width:100%; height:20px; line-height:20px; text-align:center; overflow:hidden; font-size:14px; margin:5px 0 0;}
.yuleRBox .yuList2{}
.yuleRBox .yuList2 li{ display:block; float:left; width:110px; text-align:center; line-height:24px; height:24px; border:1px solid #ddd; border-radius:11px; padding:0 14px; margin:8px 10px 0 0; display:inline;}
.yuleRBox .yuList2 li a{ display:block;}
/*新的歌手*/
.singerBox{ margin-bottom:10px;}
.singerBox .Mbox-tit{}
.singerBox .Mbox-bd{overflow:hidden;}
.singerHot{ padding:10px 0 0; overflow:hidden;}
.singerHot li{ float:left; width:110px;margin:0 10px 0 0; display:inline;}
.singerHot li a img{ display:block; width:110px; height:110px;}
.singerHot li a span{ display:block; width:110px; height:18px; line-height:18px; font-size:14px; overflow:hidden; margin-top:4px; text-align:center;}
.singerLine {border-top:1px dashed #ccc; margin:10px 0 0;}
.singerList{padding:10px 0 0;overflow:hidden;}
.singerList li{float:left; width:110px;margin:0 10px 0 0; text-align:center;line-height:30px; height:30px;display:inline; font-size:14px;overflow:hidden;}
.singerLei{ overflow:hidden;}
.singerLei li{float:left; width:96px;line-height:30px; height:30px;display:inline; margin:10px 10px 0 0; }
.singerLei li.singerzh{ width:88px;}
.singerLei li a{ display:block; width:100%; height:100%;border-radius:3px;font-size:14px; text-align:center; background:#eeeeee; }
.singerLei li a:hover{ text-decoration:none; background:#e3e3e3;}
/*侧边导航*/
*html{background-image:url(about:blank);background-attachment:fixed;}
#slideNav{ width:100px;display:block; overflow:hidden; position:fixed; left:50%; margin-left:-600px;
_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))); z-index:100;top:180px; _margin-top:180px;}
#slideNav ul{ border:1px solid #259b24;border-radius:3px;}
#slideNav ul li{ background:#fff;text-align:center; border-bottom:1px solid #ddd;}
#slideNav ul li.slNavFirst{ border-radius:3px 3px 0 0;}
#slideNav ul li.slNavLast{ border-radius:0 0 3px 3px; border-bottom:0 none;}
#slideNav ul li a{ display:block; height:32px; line-height:32px;font-size:14px; overflow:hidden;}
#slideNav ul li a:hover{ background:#f5f5f5; text-decoration:none;}
#slideNav ul li.current a{ font-weight:800; background:#259b24;color:#fff;}
#slideNav ul li.current a:hover{background:#259b24;color:#fff;}


