/* Homepage styles.

   developer:   marionm
   requires:    /common/framework/css/framework.en.css
                /common/framework/css/gui.en.css
   ========================================================================== */

/* ==========================================================================
   global overrides
   ========================================================================== */

html {
    color: #393939;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

/* ==========================================================================
   page styles
   ========================================================================== */

.page-width {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 275px;
    padding: 0 1rem;
    width: 100%;
}

/* shared specific styles
   ========================================================================== */

#content a,
#features a,
#news a {
    -webkit-transition: all .125s ease;
    color: #393939;
    transition: all .125s ease;
}

#quick a:focus,
#quick a:hover,
#content a:focus,
#content a:hover,
#features a:focus,
#features a:hover { color: #f57300; }

#immediate h1,
#quick h1,
#news h1 {
    color: #777;
    font-size: 1.7rem;
    font-weight: 300;
    margin-bottom: 2rem;
    text-align: center;
}

/* word cloud
   ========================================================================== */

#cloud-outer {
    background: #3c3c3c;
    overflow: hidden;
}

#cloud-inner {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    overflow: hidden;
}

/* m11 announcement
   ========================================================================== */

#just-released {
    background: #dd1100;
    border-bottom: 4px solid #ac0000;
}

#just-released .page-width { max-width: 1110px; }

#just-released h2 {
    color: #fec772;
    font-size: .9rem;
    font-style: italic;
    letter-spacing: 1px;
}

#just-released h1 {
    color: #fff;
    font-size: 1.75rem;
    margin-bottom: .25rem;
}

#just-released p {
    color: #fff;
    font-weight: 300;
    line-height: 1.4;
}

#just-released a { color: #fec772; }
#just-released a:focus,
#just-released a:hover { color: #ffea98 !important; }

#just-released .button {
    background: #ac0000;
    border-radius: .5rem;
    color: #fff;
    display: block;
    font-size: .85rem;
    font-weight: 600;
    margin-bottom: .5rem;
    padding: .3rem 1rem;
    text-align: center;
}

#just-released .button:last-child { margin-bottom: 0; }

#just-released .button:focus,
#just-released .button:hover {
    background: #ff8920;
    color: #fff !important;
}

/* immediate access
   ========================================================================== */

#immediate { padding: 4rem 1rem 4rem 0; }

#immediate a {
    font-weight: 600;
    text-align: center;
}

#immediate a:nth-child(3n+1) {
    padding-left: 0;
    padding-right: .5rem;
}

#immediate a:nth-child(3n+2) { padding: 0 .25rem; }

#immediate a:nth-child(3n+3) {
    padding-left: .5rem;
    padding-right: 0;
}

#immediate img {
    margin-bottom: .5rem;
    margin-top: .5rem;
}

/* quick links
   ========================================================================== */

#quick { padding: 4rem 0 4rem 1rem; }

#quick .grid {
    border-left: 1px solid #ccc;
    padding-left: 1rem;
}

#quick a {
    font-weight: 600;
    padding: .5rem 1rem;
}

#quick .mini > *:last-child { padding-left: .5rem; }

/* features and specialty tiles
   ========================================================================== */

#features .grid > * { padding: .5rem .5rem 2rem .5rem; }

#features img {
    display: block;
    margin: 0 auto .5rem auto;
}

#features h1 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0 auto;
    max-width: 275px;
}

#features p {
    margin-bottom: 2rem;
    margin: 0 auto;
    max-width: 275px;
}

/* latest news
   ========================================================================== */

#news { background: #818181; }

#news h1 { color: #eee; }

#news a {
    color: #fff;
    padding: 1rem;
}

#news a:focus,
#news a:hover { color: #ffbb5c; }

#news a .mini-m > *:first-child { min-width: 5rem; }

/* ==========================================================================
   responsive breakpoint styles
   ========================================================================== */

/* styles for large screens (1200px)
   ========================================================================== */

@media all and (max-width: 1200px) {
}

/* styles for medium screens (900px)
   ========================================================================== */

@media all and (max-width: 900px) {
    #just-released .button { font-size: .9rem; }
}

/* styles for small screens (600px)
   ========================================================================== */

@media all and (max-width: 600px) {
    #just-released .button {
        margin-left: auto;
        margin-right: auto;
        min-width: 200px;
        padding: .4rem 1rem;
        width: 60%;
    }

    #features .grid > * { padding: .5rem 0 2rem 0 !important; }
}

/* styles for minimum supported screen width (320px)
   ========================================================================== */

@media all and (max-width: 320px) {
}

/* printer styles
   ========================================================================== */

@media print {
}