/*回到顶部*/
div {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

ul,
li {
    margin: 0;
    padding: 0;
}

.back2Top,
.back2Top_s {
    position: fixed;
    display: none;
    top: 457px;
    _position:absolute;
    _bottom:auto;
    _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
    _margin-bottom:10px
}



.back2Top,.back2Top_s {
    right: 0;
}

.back2Top div,
.back2Top_s div {
    margin-bottom: 7px;
    display: block;
    cursor: pointer;
}

.back2Top div {
    width: 50px;
    height: 50px;
    background-image: url("http://www.miercn.com/images/xiaohua/back2top.png");
}

.back2Top_s div {
    width: 37px;
    height: 37px;
    background-image: url("http://www.miercn.com/images/xiaohua/back2top_s.png");
}

.back2Top .toTop {
    background-position: 0 -115px;
}

.back2Top_s .toTop {
    background-position: 0 -87px;
}

.back2Top .focusUs {
    background-position: 0 -58px;
}

.back2Top_s .focusUs {
    background-position: 0 -44px;
}

.back2Top .toTop.active {
    background-position: -50px -115px;
}

.back2Top_s .toTop.active {
    background-position: -38px -87px;
}

.back2Top .focusUs.active {
    background-position: -50px -58px;
}

.back2Top_s .focusUs.active {
    background-position: -38px -44px;
}

.back2Top .helpInfo.active {
    background-position: -50px 0;
}

.back2Top_s .helpInfo.active {
    background-position: -38px 0;
}

.back2Top .focusUsCode2D,
.back2Top_s .focusUsCode2D,
.back2Top .helpInfoPop,
.back2Top_s .helpInfoPop {
    display: none;
    position: absolute;
}

.back2Top .focusUsCode2D {
    width: 240px;
    height: 267px;
    background-position: -251px 0;
    right: 50px;
    top: -25px;
}

.back2Top_s .focusUsCode2D {
    width: 179px;
    height: 200px;
    background-position: -189px 0;
    right: 37px;
    top: -36px;
}

.back2Top .helpInfoPop,
.back2Top_s .helpInfoPop {
    background-image: url("http://www.miercn.com/images/xiaohua/back2top.png");
    background-position: -129px 0;
    right: 50px;
    top: -12px;
    list-style: none;
    padding: 5px 15px 5px;
    width: 122px;
    *width: 92px;
    height: 94px;
    *height: 84px;
    box-sizing: border-box;
}

.back2Top_s .helpInfoPop {
    right: 37px;
    top: -16px;
}

.back2Top .helpInfoPop li,
.back2Top_s .helpInfoPop li {
    text-align: center;
    width: 76px;
    height: 27px;
}

.back2Top .helpInfoPop li a,
.back2Top_s .helpInfoPop li a {
    text-decoration: none;
    color: #a0a0a0;
}

.back2Top .helpInfoPop li a,
.back2Top_s .helpInfoPop li a {
    font-size: 12px;
    line-height: 27px;
}

.back2Top .helpInfoPop li a:hover,
.back2Top_s .helpInfoPop li a:hover {
    color: #c00;
}

.back2Top .helpInfoPop li i,
.back2Top_s .helpInfoPop li i {
    background-image: url("http://www.miercn.com/images/xiaohua/back2top.png");
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 5px;
}

.back2Top .helpInfoPop li i.back2TopIcon1,
.back2Top_s .helpInfoPop li i.back2TopIcon1 {
    background-position: -105px -84px;
}

.back2Top .helpInfoPop li i.back2TopIcon2,
.back2Top_s .helpInfoPop li i.back2TopIcon2 {
    background-position: -105px -112px;
}

.back2Top .helpInfoPop li i.back2TopIcon3,
.back2Top_s .helpInfoPop li i.back2TopIcon3 {
    background-position: -105px -141px;
}

.back2Top .helpInfoPop li i.back2TopIcon1.active,
.back2Top_s .helpInfoPop li i.back2TopIcon1.active {
    background-position: -105px -4px;
}

.back2Top .helpInfoPop li i.back2TopIcon2.active,
.back2Top_s .helpInfoPop li i.back2TopIcon2.active {
    background-position: -105px -32px;
}

.back2Top .helpInfoPop li i.back2TopIcon3.active,
.back2Top_s .helpInfoPop li i.back2TopIcon3.active {
    background-position: -105px -61px;
}
.dl_hover{
    height: 40px;
    background-color: #3163a8;
}