form {
    display: block;
    margin-top: 0px;
}
.denglu {
    width: 254px;
    height: 238px;
    border: 1px solid #CDCDCD;
    box-shadow: 0px 0px 8px #CDCDCD;
    position: absolute;
    padding-top: 20px;
    overflow: hidden;
}
.zang_login {
    height: 42px;
    padding-left: 21px;
}
.zang_login input {
    width: 205px;
    height: 30px;
    line-height: 30px;
    color: #C3C3C3;
    font-size: 12px;
    padding-left: 5px;
    border: 1px solid #DDD;
}
.denglu p {
    width: 210px;
    margin: 0px auto 10px;
    clear: both;
    display: block;
    line-height: 25px;
    height: 25px;
    overflow: hidden;
}
.float_L {
    float: left;
}
.denglu p input {
    margin-top: 6px;
}
.denglu p span {
    padding-left: 5px;
    cursor: pointer;
}
.denglu a {
	font-size:12px;
    color: #000;
}
.denglu  .app_dowload  a{
	font-size:15px;
}
.float_R {
    float: right;
}
.denglu p {
    line-height: 25px;
}
.login-submit {
    display: block;
    width: 210px;
    margin: 0px auto 22px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: #2F63A8 none repeat scroll 0% 0%;
    border: 1px solid #20559B;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
}
.login_b {
    height: 34px;
    background: #EAE7E7 none repeat scroll 0% 0%;
    padding-left: 36px;
}
.login_b li {
    width: 88px;
    height: 30px;
    float: left;
    display: block;
    padding-top: 5px;
}
img {
	margin: 0px;
	padding: 0px;
    border: 0px none;
}
.soredian {
  display: none;
  width: 313px;
  height: 231px;
  border: 1px solid #e7e7e7;
  position: absolute;
  overflow: hidden;
  border-top: none;
  left: 104px;
  top: 2px;
  background: #fff;
}
.soredian a {
  display: block;
  height: 29px;
  line-height: 29px;
  font-size: 14px;
  color: #333;
}
.soredian a em {
  overflow: hidden;
  margin: 7px 9px 0 0;
  width: 14px;
  height: 14px;
  line-height: 14px;
  font-size: 11px;
  text-align: center;
  color: #fff;
  font-style: normal;
  background: #a9a9a9;
  margin-left: 11px;
  float: left;
  display: inline;
}

.dls{display:block;float:left;height:26px;padding-right:10px;padding-top:14px;width:auto;overflow:hidden;padding-left:13px;color:#666}
/* .dls:hover{height:38px;background:#3063a8;border-bottom:2px solid #175398;color:#FFF;text-decoration:none} */
.content_login {
  width: 448px;
  height: 275px;
}
form {
  display: block;
  margin-top: 0;
}
.title_login {
  height: 39px;
  background: url(http://i.miercn.com/images_2013/title_bg_login.gif) no-repeat center;
  margin-bottom: 35px;
}
.title_left_login {
  height: 39px;
  float: left;
  padding-left: 22px;
  line-height: 39px;
  font-size: 14px;
  color: #3164a4;
}
strong, b {
  font-weight: bold;
}
.title_right_login {
  float: right;
  padding: 5px 5px 0 0;
}
.content_login a {
  text-decoration: none;
  color: #2357b6;
}
.cn_login {

  height: 45px;
  padding-left: 67px;
}
.zang_login2 {
  width: 262px;
  height: 45px;
  float: left;
}
.zang_login2 input {
  width: 251px;
  height: 32px;
  line-height: 30px;
  border: 0;
  color: #878787;
  font-size: 12px;
  padding-left: 5px;
  background: url(http://i.miercn.com/images_2013/tenlu_bg.gif) no-repeat;
}
.zc_login {
  width: 105px;
  height: 31px;
  float: left;
  padding-top: 10px;
  color: #666;
}
.zc_login a {
  color: #336aa4;
}
.dl_login {
 
  height: 60px;
  padding-left: 122px;
}
.an_login {
  width: 112px;
  height: 59px;
  float: left;
}
.an_login input {
  width: 94px;
  height: 32px;
  background: url(http://i.miercn.com/images_2013/denlu_login.gif) no-repeat;
  border: 0;
  cursor: pointer;
}
.fu_login {
  height: 49px;
  width: 130px;
  float: left;
  padding-top: 7px;
}
.fu_login input {
  margin-right: 3px;
}
.bottom_login {
  height: 50px;
  background: url(http://i.miercn.com/images_2013/fenxiang_bg.gif) repeat-x;
  padding-left: 67px;
}
.bottom_login span {
  padding-top: 22px;
  display: block;
  float: left;
  height: 28px;
  color: #848484;
  width: 69px;
}
.bottom_login p {
  width: 88px;
  height: 35px;
  float: left;
  display: block;
  padding-top: 15px;
}
.content_login a {
  text-decoration: none;
  color: #2357b6;
}
img {
  border: 0;
}
#overlay {
    background: #000 none repeat scroll 0% 0%;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}

.soredian {
  display: none;
  width: 313px;
  height: 231px;
  border: 1px solid #e7e7e7;
  position: absolute;
  overflow: hidden;
  border-top: none;
  left: 849px;
  top: 114px;
  background: #fff;
}
.soredian a {
  display: block;
  height: 29px;
  line-height: 29px;
  font-size: 14px;
  color: #333;
}
.soredian a em {
  overflow: hidden;
  margin: 7px 9px 0 0;
  width: 14px;
  height: 14px;
  line-height: 14px;
  font-size: 11px;
  text-align: center;
  color: #fff;
  font-style: normal;
  background: #a9a9a9;
  margin-left: 11px;
  float: left;
  display: inline;
}
div.CalendarPanel {
  width: 176px;
  background-color: #fff;
  border: 1px solid #999;
  font-size: 12px;
}
table.CalendarTop {
  border: 0 solid #7ba;
  font-size: 12px;
}
table.CalendarDate {
  border: 0 solid #fff;
  background-color: #fff;
  font-size: 12px;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.CalendarTop tr.titlerili input {
  font-size: 12px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  cursor: pointer;
  color: #000;
  border: 1px solid #999;
  background-color: #d5d5d5;
}
.CalendarTop tr.titlerili th.prevMonth input {
  width: 20px;
}
.CalendarTop tr.titlerili th.YearMonth select {
  font-size: 12px;
  width: 60px;
  border: 1px solid #999;
}
.CalendarTop tr.titlerili th.YearMonth {
  width: 90%;
}
.CalendarTop tr.titlerili th.prevMonth {
  width: 5%;
}
.CalendarTop tr.titlerili th.nextMonth {
  width: 5%;
}
.CalendarTop tr.titlerili th.nextMonth input {
  width: 20px;
}
.CalendarTop tr.titlerili input {
  font-size: 12px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  cursor: pointer;
  color: #000;
  border: 1px solid #999;
  background-color: #d5d5d5;
}
.CalendarDate tr.titleli th {
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  font-weight: 400;
  background-color: #d5d5d5;
  color: #000;
}
.CalendarDate tr.date td {
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  background-color: #e7e7e7;
}
.CalendarDate tr.date td.day a {
  cursor: default;
  color: #000;
}
.CalendarDate tr.date td.sun a {
  cursor: default;
  color: red;
}
.CalendarDate tr.date td.sat a {
  cursor: default;
  color: red;
}
table.CalendarTime {
  border: 0 solid #fff;
  background-color: #fff;
  font-size: 12px;
}
.CalendarTime tr td select {
  font-size: 12px;
  width: 40px;
}
div.CalendarButtonDiv {
  padding: 4px 4px 4px 4px;
  background-color: #fff;
}
tr.date{
	height:20px;
	width:176px;
}
tr.titleli{
	height:20px;
	width:176px;
}
div.CalendarButtonDiv{
height:12px;
	width:168px;
	  font-size: 12px;
  line-height: 12px;
}
.CalendarDate tr.date td.selDay {
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: default;
  background-color: #c00;
  color: #fff;
}
.CalendarDate tr.date td.selDay a {
  color: #fff;
}
.CalendarDate tr.date td.dayOver{padding-top:3px;padding-bottom:3px;cursor:pointer;background-color:#c00;color:#fff}
.CalendarDate tr.date td.dayOver a {
  color: #fff;
}
