@font-face {
  font-family: 'Armata';
  font-style: normal;
  font-weight: 400;
  src: local('Armata'), local('Armata-Regular'), url(http://fonts.gstatic.com/s/armata/v6/B4GpPiGyQcH-RTyb1Av4YA.ttf) format('truetype');
}
