/* Include Here all Font Embedding */

/* EkMukta */
@font-face {
	font-family: 'EkMukta';
	src:url('Ek_Mukta/EkMukta-Regular.eot');
	src:url('Ek_Mukta/EkMukta-Regular.eot?#iefix') format('embedded-opentype'),
		url('Ek_Mukta/EkMukta-Regular.woff2') format('woff2'),
		url('Ek_Mukta/EkMukta-Regular.ttf') format('truetype'),
		url('Ek_Mukta/EkMukta-Regular.svg?') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* EkMuktaBold */
@font-face {
	font-family: 'EkMukta';
	src:url('Ek_Mukta/EkMukta-Bold.eot');
	src:url('Ek_Mukta/EkMukta-Bold.eot?#iefix') format('embedded-opentype'),
		url('Ek_Mukta/EkMukta-Bold.woff2') format('woff2'),
		url('Ek_Mukta/EkMukta-Bold.ttf') format('truetype'),
		url('Ek_Mukta/EkMukta-Bold.svg?') format('svg');
	font-weight: bold;
	font-style: normal;
}

/* EkMuktaLight */
@font-face {
	font-family: 'EkMukta';
	src:url('Ek_Mukta/EkMukta-Light.eot');
	src:url('Ek_Mukta/EkMukta-Light.eot?#iefix') format('embedded-opentype'),
		url('Ek_Mukta/EkMukta-Light.woff2') format('woff2'),
		url('Ek_Mukta/EkMukta-Light.ttf') format('truetype'),
		url('Ek_Mukta/EkMukta-Light.svg?') format('svg');
	font-weight: 200;
	font-style: normal;
}

/* EkMuktaExtraLight */
@font-face {
	font-family: 'EkMukta';
	src:url('Ek_Mukta/EkMukta-ExtraLight.eot');
	src:url('Ek_Mukta/EkMukta-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('Ek_Mukta/EkMukta-ExtraLight.woff2') format('woff2'),
		url('Ek_Mukta/EkMukta-ExtraLight.ttf') format('truetype'),
		url('Ek_Mukta/EkMukta-ExtraLight.svg?') format('svg');
	font-weight: 100;
	font-style: normal;
}
