@font-face {
	font-family: 'icons';
	src:url('fonts/icons.eot?eogfhi');
	src:url('fonts/icons.eot?#iefixeogfhi') format('embedded-opentype'),
		url('fonts/icons.woff?eogfhi') format('woff'),
		url('fonts/icons.ttf?eogfhi') format('truetype'),
		url('fonts/icons.svg?eogfhi#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uniE600:before {
	content: "\e600";
}
.icon-play:before {
	content: "\e601";
}
.icon-bullhorn:before {
	content: "\e602";
}
.icon-googleplus:before {
	content: "\e603";
}
.icon-facebook:before {
	content: "\e604";
}
.icon-twitter:before {
	content: "\e605";
}
.icon-quotes-left:before {
	content: "\e606";
}
.icon-phone:before {
	content: "\e607";
}
.icon-quotes-left2:before {
	content: "\e608";
}
.icon-user:before {
	content: "\e60e";
}
.icon-uniE609:before {
	content: "\e609";
}
.icon-mail:before {
	content: "\e60a";
}
.icon-arrow-right:before {
	content: "\e60b";
}
.icon-dot:before {
	content: "\e60d";
}
.icon-linkedin:before {
	content: "\e60c";
}
.icon-chat:before {
	content: "\e60f";
}
.icon-megaphone:before {
	content: "\e617";
}
.icon-clock:before {
	content: "\e61a";
}
.icon-calendar:before {
	content: "\e610";
}
.icon-signal:before {
	content: "\e61b";
}
.icon-help:before {
	content: "\e61c";
}
.icon-cw:before {
	content: "\e61d";
}
.icon-pictures:before {
	content: "\e61e";
}
.icon-video:before {
	content: "\e618";
}
.icon-download:before {
	content: "\e619";
}
.icon-arrow-left:before {
	content: "\e611";
}
.icon-arrow-right2:before {
	content: "\e612";
}
.icon-arrow-left2:before {
	content: "\e613";
}
.icon-arrow-down:before {
	content: "\e614";
}
.icon-arrow-up:before {
	content: "\e615";
}
.icon-arrow-right3:before {
	content: "\e616";
}
.icon-arrow-left3:before {
	content: "\e61f";
}
