/* CSS Document */
/* ---------- CLEARFIX ---------- */
.summaryNewsTopList:after,
.topCatList:after,
.summaryDescript ul.linkList:after,
.catOtherList:after,
.topCatWrap:after,
.topCat:after,
.topCouponList:after,
.sellerIntroList:after,
.summarySellerMain:after,
.captionhideHead:after,
.sellerShopItem:after,
.sellerShopBox:after,
.sellerShopTtlIn:after,
.summaryReviewWide .reviewTtl:after,
.summaryReviewWide .reviewBoxIn:after,
.summaryRecommendIn:after,
.summaryPricedropIn:after,
.summaryBox:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.summaryNewsTopList,
.topCatList,
.summaryDescript ul.linkList,
.catOtherList,
.topCatWrap,
.topCat,
.topCouponList,
.sellerIntroList,
.summarySellerMain,
.captionhideHead,
.sellerShopItem,
.sellerShopBox,
.sellerShopTtlIn,
.summaryReviewWide .reviewTtl,
.summaryReviewWide .reviewBoxIn,
.summaryRecommendIn,
.summaryPricedropIn,
.summaryBox {
  display: inline-block;
}

* html .summaryNewsTopList,
* html .topCatList,
* html .summaryDescript ul.linkList,
* html .catOtherList,
* html .topCatWrap,
* html .topCat,
* html .topCouponList,
* html .sellerIntroList,
* html .summarySellerMain,
* html .captionhideHead,
* html .sellerShopItem,
* html .sellerShop,
* html .sellerShopTtlIn,
* html .summaryReviewWide .reviewTtl,
* html .summaryReviewWide .reviewBoxIn,
* html .summaryRecommendIn,
* html .summaryPricedropIn,
* html .summaryBox {
  height: 1%;
}

.summaryNewsTopList,
.topCatList,
.summaryDescript ul.linkList,
.catOtherList,
.topCatWrap,
.topCat,
.topCouponList,
.sellerIntroList,
.summarySellerMain,
.captionhideHead,
.sellerShopItem,
.sellerShopBox,
.sellerShopTtlIn,
.summaryReviewWide .reviewTtl,
.summaryReviewWide .reviewBoxIn,
.summaryRecommendIn,
.summaryPricedropIn,
.summaryBox {
  display: block;
}

/* ---------- RAYOUT ---------- */
#loginArea, #loginInfo {
  position: relative;
  padding: 7px 93px 0 0;
}

/* ---------- TOPCAT ---------- */
#topCatBox {
  background: url(../../images/top/bg_topcat_01.png) repeat-y;
}

.topCat {
  background: url(../../images/top/bg_topcat_01.png) no-repeat right bottom;
  margin-bottom: 8px;
}

.topCatNav {
  float: left;
  width: 243px;
  background: url(../../images/top/bg_topcat_01.png) no-repeat -1500px 0;
}

.topCatNav ul {
  padding: 15px 10px 20px;
}

.topCatNav ul li span,
.topCatNav ul li a {
  display: block;
  border-bottom: 1px solid #5b82c2;
  color: #FFF;
  padding: 13px 0 12px 5px;
  font-size: 108%;
  font-weight: bold;
  line-height: 120%;
}

.topCatNav ul li:first-child {
  border-top: 1px solid #5b82c2;
}

.topCatNav ul li.on span,
.catPanel01On span#catPanel01,
.catPanel02On span#catPanel02,
.catPanel03On span#catPanel03,
.catPanel04On span#catPanel04,
.catPanel05On span#catPanel05,
.catPanel06On span#catPanel06,
.catPanel07On span#catPanel07 {
  position: relative;
  top: -3px;
  left: -16px;
  border: none;
  padding: 15px 0 17px 20px;
  margin-bottom: -6px;
  background: url(../../images/top/bg_topcat_02.png) no-repeat;
  width: 260px;
}

.topCatNav ul li a {
  color: #FFF;
}

.topCatNav ul li span {
  cursor: default;
}

.topCatMain {
  float: left;
  width: 717px;
  background: url(../../images/top/bg_topcat_01.png) no-repeat -1743px 0;
  min-height: 308px;
}

.topCatPanel + .topCatPanel {
  border-top: 1px solid #d9d9d9;
  margin-top: -1px;
}

.onjs .topCatPanel {
  display: none;
  border-top: none;
  margin-top: 0;
}

.panelStyle01 {
  width: 717px;
  background: url(../../images/common/bg_dotted_10.gif) repeat-y top center;
}

.panelStyle02,
.panelStyle03 {
  width: 717px;
  background: url(../../images/common/bg_dotted_12.gif) repeat-y top center;
}

.onjs .panelStyle01,
.onjs .panelStyle02,
.onjs .panelStyle03 {
  min-height: 335px;
}

.topCatWrap + .topCatWrap {
  background: url(../../images/common/bg_dotted_11.gif) repeat-x left top;
}

#panel05 .topCatWrap,
#panel06 .topCatWrap {
  background: url(../../images/common/bg_dotted_11.gif) repeat-x left bottom;
}

.panelStyle02 .topCatWrap {
  min-height: 102px;
}

.panelStyle03 .topCatWrap {
  min-height: 153px;
}

.topCatBox {
  float: left;
}

.panelStyle01 .topCatBox {
  width: 316px;
  padding: 21px;
}

.panelStyle02 .topCatBox {
  width: 212px;
  padding: 14px 11px 6px 16px;
}

.panelStyle03 .topCatBox {
  width: 212px;
  padding: 16px 11px 16px 16px;
}

.topCatMain .topCatImg {
  float: left;
  border: 1px solid #d9d9d9;
  border-bottom: 1px solid #cccccc;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.panelStyle01 .topCatImg {
  width: 138px;
}

.topCatImg span {
  display: block;
  border-bottom: 1px solid #d9d9d9;
  background: #FFF;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  text-align: center;
}

.panelStyle01 .topCatImg span {
  width: 138px;
  padding: 9px 0;
}

.panelStyle02 .topCatImg span,
.panelStyle03 .topCatImg span {
  width: 80px;
  padding: 6px 0;
}

.panelStyle01 .topCatImg img {
  width: 120px;
  height: 90px;
}

.panelStyle02 .topCatImg img,
.panelStyle03 .topCatImg img {
  width: 66px;
  height: 50px;
}

.topCatImg a:hover img {
  -moz-opacity: 0.7;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}

.topCatMain .topCatInfo {
  float: right;
}

.panelStyle01 .topCatInfo,
.panelStyle01 .topCatInfo ul {
  width: 158px;
}

.panelStyle02 .topCatInfo {
  font-size: 92%;
}

.panelStyle02 .topCatInfo,
.panelStyle02 .topCatInfo ul {
  width: 118px;
}

.panelStyle03 .topCatInfo,
.panelStyle03 .topCatInfo ul {
  width: 118px;
}

.topCatMain .topCatInfo span.ttl {
  display: block;
  font-weight: bold;
  font-size: 108%;
  line-height: 120%;
  padding: 2px 0 8px;
}

.panelStyle02 .topCatInfo span.ttl {
  font-size: 100%;
}

.topCatInfo span.small {
  font-size: 100%;
}

.topCatInfo ul {
  word-break: break-all;
  *word-wrap: break-word;
}

.topCatInfo ul li {
  line-height: 120%;
}

.topCatInfo ul li + li {
  margin-top: 4px;
}

.topCatInfo ul li a {
  display: block;
  background: url(../../images/common/icon_list_02.gif) no-repeat 4px 0.4em;
  padding-left: 14px;
}

.catPanel01On #panel01,
.catPanel02On #panel02,
.catPanel03On #panel03,
.catPanel04On #panel04,
.catPanel05On #panel05,
.catPanel06On #panel06,
.catPanel07On #panel07 {
  display: block;
}

.topCatOther {
  margin-bottom: 25px;
  clear: both;
}

.catOtherList.twoCat {
  padding: 7px 0 0 83px;
}

.catOtherList li {
  float: left;
  background: url(../../images/top/bg_topcat_03.png) no-repeat;
  width: 314px;
  height: 58px;
}

.catOtherList.twoCat li {
  float: left;
  background: url(../../images/top/bg_topcat_03.png) no-repeat 0 -200px;
  width: 390px;
  height: 58px;
  font-size: 108%;
}

.catOtherList li + li {
  margin-left: 8px;
}

.catOtherList.twoCat li + li {
  margin-left: 13px;
}

.catOtherList li a {
  display: block;
  height: 44px;
  padding: 14px 10px 0 60px;
}

.catOtherList.twoCat li a {
  height: 46px;
  padding: 12px 10px 0 60px;
}

.catOtherList li:hover {
  -moz-opacity: 0.7;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}

.catOtherList li:hover a {
  text-decoration: none;
}

.catOtherList li.sellBtn a {
  background: url(../../images/top/bg_topcat_03.png) no-repeat 15px -386px;
  color: #20839e;
}

.catOtherList li.forumBtn a {
  background: url(../../images/top/bg_topcat_03.png) no-repeat 15px -586px;
  color: #0c9160;
}

.catOtherList li.newsBtn a {
  background: url(../../images/top/bg_topcat_03.png) no-repeat 15px -786px;
  color: #489136;
}

.catOtherList li span {
  display: block;
  line-height: 110%;
  margin-bottom: 3px;
}

.catOtherList li span.ttl {
  font-weight: bold;
  font-size: 108%;
}

.catOtherList li span.cap {
  font-size: 93%;
}

.topCatList {
  width: 957px;
  margin-bottom: 25px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-radius: 4px;
  /*	&.separate {
  		border:none;
  		width:970px;
  		.topCatBox {
  			border:1px solid #cccccc;
  			width:310px;
  			margin:0 10px 10px 0;
  			border-radius:0;
  			box-shadow:rgb(217, 217, 217) 0px 1px 0px 0px;
  			&:hover {
  				border:none;
  				width:312px;
  				box-shadow:none;
  				border-top:1px solid #333;
  				border-bottom:1px solid #333;
  
  			}
  		}
  
  	}*/
}
.topCatList .topCatBox {
  width: 318px;
  height: 80px;
  float: left;
  border: 1px solid #cccccc;
  border-top: none;
  border-right: none;
  position: relative;
  /*		&:hover {
  			background:#333;
  			border-color:#000;
  			&.none {
  				background-color:#f7f7f7;
  				border-color:#cccccc;
  			}
  			.topCatImg {
  				width:12px;
  				img {
  					display:none;
  				}
  			}
  			.topCatInfo {
  				vertical-align:top;
  				padding-top:12px;
  				ul {
  					padding-right:10px;
  				}
  				li {
  					margin-bottom:3px;
  					margin-right:3px;
  
  					a {
  						background: url(../../images/common/icon_list_03.gif) no-repeat 4px 0.4em;
  					}
  					&.hide {
  						display:inline-block;
  						white-space:nowrap;
  					}
  
  				}
  				a {
  					color:#FFF;
  				}
  				span.ttl {
  					margin-bottom:2px;
  					a {
  
  					}
  				}
  
  			}
  
  		}*/
}
.topCatList .topCatBox:first-child {
  border-top-left-radius: 4px;
}
.topCatList .topCatBox:last-child {
  border-bottom-right-radius: 4px;
}
.topCatList .topCatBox.round {
  border-bottom-left-radius: 4px;
}
.topCatList .topCatBox.none {
  background: #f7f7f7;
  cursor: default;
}
.topCatList .topCatBox.other .topCatInfo {
  height: 80px;
  padding-top: 0;
  padding-left: 25px;
  *padding-top: 32px;
}
.topCatList .topCatBox.other .topCatInfo .ttl a {
  color: #046fb2;
  background: url(../../images/common/icon_arrow_15.png) no-repeat;
  padding: 2px 0 2px 25px;
}
.topCatList .topCatBox:hover img {
  opacity: 0.8;
}
.topCatList .topCatImg {
  display: table-cell;
  width: 110px;
  height: 80px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  *display: block;
  *float: left;
  *padding-top: 10px;
}
.topCatList .topCatImg img {
  height: 60px;
}
.topCatList .topCatInfo {
  display: table-cell;
  vertical-align: middle;
  padding-top: 2px;
  padding-right: 3px;
  position: relative;
  z-index: 3;
  cursor: pointer;
  *display: block;
  *padding-top: 22px;
}
.topCatList .topCatInfo ul {
  /*width:200px;*/
  padding-top: 4px;
  /*			white-space:nowrap;
  			overflow:hidden;
  			text-overflow:ellipsis;*/
}
.topCatList .topCatInfo ul li {
  display: inline-block;
  font-size: 93%;
  margin: 0;
  *display: inline;
  *zoom: 1;
}
.topCatList .topCatInfo ul li.hide {
  display: none;
}
.topCatList .topCatInfo ul li a {
  color: #555;
  display: inline;
}
.topCatList .topCatInfo span.ttl a {
  color: #333;
  font-size: 108%;
  font-weight: bold;
  line-height: 120%;
}

.topCatTtl {
  width: 960px;
  height: 35px;
  padding-top: 12px;
  text-align: center;
  color: #FFF;
  font-size: 120%;
  line-height: 110%;
  letter-spacing: 0.02em;
  background: url(../../images/top/bg_topcat_04.png) no-repeat;
  position: relative;
  bottom: -8px;
  z-index: 1;
  margin-top: 6px;
}

.topCatTtl + .topCatList,
.topCatTtl + .topCatList .topCatBox:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*.topCatList.hover .topCatBox:hover {
  background: #333;
  border-color: #000;
}
.topCatList.hover .topCatBox:hover.none {
  background-color: #f7f7f7;
  border-color: #cccccc;
}
.topCatList.hover .topCatBox:hover .topCatImg {
  width: 12px;
}
.topCatList.hover .topCatBox:hover .topCatImg img {
  display: none;
}
.topCatList.hover .topCatBox:hover .topCatInfo {
  vertical-align: top;
  padding-top: 12px;
}
.topCatList.hover .topCatBox:hover .topCatInfo ul {
  padding-right: 10px;
}
.topCatList.hover .topCatBox:hover .topCatInfo li {
  margin-bottom: 3px;
  margin-right: 3px;
}
.topCatList.hover .topCatBox:hover .topCatInfo li a {
  background: url(../../images/common/icon_list_03.gif) no-repeat 4px 0.4em;
}
.topCatList.hover .topCatBox:hover .topCatInfo li.hide {
  display: inline-block;
  white-space: nowrap;
}
.topCatList.hover .topCatBox:hover .topCatInfo a {
  color: #FFF;
}
.topCatList.hover .topCatBox:hover .topCatInfo span.ttl {
  margin-bottom: 2px;
}
.topCatList.separate.hover .topCatBox:hover {
  border: none;
  width: 312px;
  box-shadow: none;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
#main .topCatList.bold .topCatBox .topCatInfo span.ttl a {
	font-size:110%;
	font-weight:bold;
	color:#333;
}
*/
/*.click .topCatInfo {
	cursor:pointer;
}*/
/*.click .topCatBox:hover img {
	opacity:0.8;
}
*/
.topCatLink {
  display: none;
  position: absolute;
  background: #b3b3b3;
  z-index: 2;
  width: 318px;
  height: 80px;
  top: 0;
  left: 0;
  cursor: pointer;
}

/* ---------- CATEGORYBOX ---------- */
.categoryBox {
  width: 960px;
  background: url(../../images/top/bg_categorybox_01.gif) no-repeat right bottom;
  margin-bottom: 18px;
  padding-bottom: 5px;
  text-align: center;
  position: relative;
}

.categoryBox h2 {
  background: #FFF;
  margin: 0 2px 20px;
  border-bottom: 1px solid #e6e6e6;
  font-weight: bold;
  font-size: 123.1%;
  padding: 6px 0px 7px;
  min-height: 20px;
  letter-spacing: 0.02em;
}

.categoryBox h2.small {
  font-size: 107%;
  padding-top: 7px;
  letter-spacing: 0;
}

.categoryBox div {
  width: 231px;
  float: left;
  background: #f7f7f7 url(../../images/top/bg_categorybox_01.gif) no-repeat left top;
  margin-right: 12px;
  padding: 5px 0 0;
}

.categoryBox ul {
  text-align: left;
  padding: 0 10px 25px;
  border-right: 2px solid #d9d9d9;
  border-left: 2px solid #d9d9d9;
}

.categoryBox ul li {
  padding: 8px 0 7px;
  border-bottom: 1px dotted #acacac;
  font-weight: bold;
}

.categoryBox div.last {
  margin-right: 0;
}

/* ---------- SUMMARYBOX ---------- */
.summaryBox {
  background: #E7EFFA;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 15px 20px 9px;
  word-wrap: break-word;
  margin-bottom: 20px;
  position: relative;
}

.summaryBox h2 {
  font-size: 123%;
  font-weight: bold;
  margin-bottom: 10px;
}

.summaryBox h2 a {
  color: #333;
}

.summaryBox h2 a:hover {
  text-decoration: none;
}

.summaryRating {
  float: left;
  width: 301px;
  background: #FFF;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-bottom: 9px;
  padding: 12px 17px 17px;
  overflow: hidden;
}

.summaryBox h3 {
  font-size: 108%;
  font-weight: bold;
  margin-bottom: 10px;
}

.summaryBox h3 strong {
  color: #f48004;
  font-size: 108%;
  font-weight: bold;
  margin-right: 15px;
}

.summaryBox h3 strong span {
  font-size: 123%;
  padding-right: 5px;
}

.summaryRating table {
  width: 100%;
  border: solid 1px #CFCFCF;
}

.summaryRating table th {
  background: #F7F7F7;
  border-right: 1px dotted #B5B5B5;
  border-bottom: 1px dotted #B5B5B5;
  padding: 10px 2px 10px 5%;
  font-weight: bold;
}

.summaryRating table td {
  text-align: center;
  border-bottom: 1px dotted #B5B5B5;
  padding: 10px 2px 10px 3%;
  font-weight: bold;
}

.summaryRating table td img {
  vertical-align: -2px;
}

.summaryRating table td strong {
  display: inline-block;
  width: 2.5em;
  color: #f48004;
  font-size: 108%;
  font-weight: bold;
}

.summaryReview {
  width: 570px;
  margin: -2px 0 0 350px;
}

.summaryReviewWide .reviewBox,
.summaryReview .reviewBox {
  background: #FFF;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-bottom: 8px;
}

.summaryReviewWide .reviewBox .reviewBoxIn,
.summaryReview .reviewBox .reviewBoxIn {
  background: #FFF;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: solid 1px #D4D4D4;
}

.summaryReview .reviewBox .reviewBoxTop {
  padding: 15px 15px 10px;
}

.summaryReview .reviewBox .reviewBoxTop .reviewFace {
  float: left;
}

.summaryReview .reviewBox .reviewBoxTop .reviewTtl {
  font-weight: bold;
  margin-left: 46px;
  line-height: 140%;
}

.summaryReview .reviewBox .reviewBoxTop .reviewCap {
  margin-left: 46px;
  line-height: 140%;
}

.summaryReview .reviewBox .reviewBoxTop .reviewCap a {
  font-size: 85%;
  font-weight: bold;
  padding: 0 3px;
}

.summaryReview .reviewBox .reviewBoxBtm {
  background: #F7FBFE;
  padding: 6px 15px;
  border-top: dotted 1px #CCCCCC;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  overflow: hidden;
}

.summaryReview .reviewBox .reviewBoxBtm ul {
  word-wrap: break-word;
}

.summaryReview .reviewBox .reviewBoxBtm li {
  display: inline;
  margin-right: 10px;
  font-size: 92%;
  line-height: 150%;
  white-space: nowrap;
  *white-space: normal;
}

.summaryReview .reviewBox .reviewBoxBtm li img {
  vertical-align: -2px;
}

.summaryReview .reviewBox .reviewBoxBtm li strong {
  color: #f48004;
  font-size: 108%;
  font-weight: bold;
  padding-left: 5px;
}

.summaryLink {
  text-align: right;
}

.summaryLink ul {
  float: right;
  padding: 3px 5px 0 0;
}

.summaryLink li {
  float: left;
  margin: 0 0 3px 15px;
  font-weight: bold;
}

.summaryReviewWide .reviewImg {
  float: left;
  padding: 15px 10px 15px 15px;
  width: 100px;
  text-align: center;
  *padding: 15px 10px 10px 15px;
}

.summaryReviewWide .reviewCont {
  float: right;
  padding: 13px 15px 12px 0;
  width: 775px;
  *padding: 13px 15px 6px 0;
}

.summaryReviewWide .reviewTtl {
  margin-bottom: 10px;
  border-bottom: 1px dotted #a3a3a3;
  *padding-bottom: 6px;
}

.summaryReviewWide .reviewTtl h3 {
  margin-bottom: 6px;
  float: left;
}

.summaryReviewWide .reviewTtl p {
  float: right;
  position: relative;
  bottom: 2px;
}

.summaryReviewWide .reviewTtl p span:first-child {
  margin-right: 5px;
}

.summaryReviewWide .reviewTtl p span {
  margin-left: 5px;
  font-size: 93%;
}

.summaryReviewWide .reviewTtl p a {
  color: #333;
}

.summaryReviewWide .reviewCap {
  margin-bottom: 8px;
}

.summaryReviewWide .reviewCap p {
  line-height: 140%;
}

.summaryReviewWide .reviewInfo li {
  float: left;
  font-size: 93%;
  margin-right: 15px;
  padding-top: 1px;
  line-height: 110%;
}

.summaryReviewWide .reviewInfo li.goodReviewLabel {
  background: #d9b60b;
  color: #FFF;
  font-size: 85%;
  display: inline-block;
  padding: 2px 5px 2px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  *display: inline;
  *zoom: 1;
}

.summaryReviewWide .reviewInfo li.point {
  padding-top: 0px;
}

.summaryReviewWide .reviewInfo li.point a {
  margin-left: 5px;
}

.summaryReviewWide .reviewInfo li.point a:hover {
  text-decoration: none;
}

.summaryReviewWide .reviewInfo li img {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

.summaryReviewWide .reviewInfo li.point span.num {
  position: relative;
  bottom: -1px;
}

.summaryReviewWide .reviewInfo li.point span.num span {
  background: url(../../images/common/bg_star_03.png) no-repeat 0 0;
  padding-left: 84px;
}

.summaryReviewWide .reviewInfo li.point span.num span.rev50 {
  background-position: 0 0;
}

.summaryReviewWide .reviewInfo li.point span.num span.rev45 {
  background-position: 0 -100px;
}

.summaryReviewWide .reviewInfo li.point span.num span.rev40 {
  background-position: 0 -200px;
}

.summaryReviewWide .reviewInfo li.point span.num span.rev35 {
  background-position: 0 -300px;
}

.summaryReviewWide .reviewInfo li.point span.num span.rev30 {
  background-position: 0 -400px;
}

.summaryReviewWide .reviewInfo li.point span.num span.rev25 {
  background-position: 0 -500px;
}

.summaryReviewWide .reviewInfo li.point span.num span.rev20 {
  background-position: 0 -600px;
}

.summaryReviewWide .reviewInfo li.point span.num span.rev15 {
  background-position: 0 -700px;
}

.summaryReviewWide .reviewInfo li.point span.num span.rev10 {
  background-position: 0 -800px;
}

.summaryReviewWide .reviewInfo li strong,
.summaryReviewWide .reviewInfo li span.num span {
  color: #F48004;
  font-size: 116%;
  font-weight: bold;
}

.bottomLink {
  text-align: right;
  margin: -20px 0 25px;
}

.bottomLink ul {
  display: inline-block;
  padding: 3px 5px 0 0;
  *display: inline;
  *zoom: 1;
}

.bottomLink li {
  float: left;
  margin: 0 0 3px 15px;
  font-weight: bold;
}

.summaryBBS {
  background: #FFF;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-bottom: 9px;
  padding: 12px 17px 4px;
}

.bbsBox {
  width: 100%;
  border-top: dotted 1px #CCC;
  padding: 6px 0 6px;
}

.bbsBox div {
  display: table-cell;
  vertical-align: middle;
}

.bbsBox div {
  *display: inline;
  *zoom: 1;
}

.bbsBox .bbsNum {
  vertical-align: top;
  width: 24px;
  *width: 2.70%;
  font-size: 85%;
}

.bbsBox .bbsFace {
  width: 46px;
  *width: 5.19%;
}

.bbsBox .bbsTtl {
  width: 576px;
  *width: 60.01%;
  font-size: 100%;
  font-weight: bold;
}

.bbsBox .bbsTtl a {
  width: 100%;
}

.bbsBox .bbsDate {
  width: 130px;
  *width: 14.67%;
  font-size: 93%;
  padding-left: 30px;
}

.bbsBox .bbsReply {
  width: 110px;
  *width: 12.41%;
  text-align: center;
  font-size: 93%;
}

.bbsBox .bbsReply span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 90px;
  background: #FFEB94;
  display: inline-block;
  text-align: center;
  padding: 2px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.summaryForum .forumBox {
  background: #FFF;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-bottom: 8px;
}

.summaryForum .forumBoxIn {
  background: #FFF;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: solid 1px #D4D4D4;
}

.summaryForum .forumBox .forumBoxTop {
  padding: 15px 15px 0;
}

.summaryForum .forumBox .forumBoxLeft {
  float: left;
  width: 695px;
  padding-bottom: 10px;
}

.summaryForum .noItem .forumBoxLeft {
  float: left;
  width: 890px;
  padding-bottom: 10px;
}

.summaryForum .forumBox .forumFace {
  float: left;
}

.summaryForum .forumBox .forumTtl {
  font-size: 108%;
  font-weight: bold;
  line-height: 140%;
  margin: 0 0 4px 48px;
}

.summaryForum .forumBox .forumCap {
  line-height: 140%;
  margin-left: 48px;
}

.summaryForum .forumBox .forumBoxRight {
  float: right;
  width: 159px;
  padding-left: 15px;
  margin-bottom: 10px;
  text-align: center;
  border-left: 1px solid #ccc;
}

.summaryForum .forumBox .forumBoxRight span {
  display: block;
  text-align: center;
  font-size: 85%;
  padding-top: 10px;
  width: 159px;
}

.summaryForum .forumBox .forumBoxRight span a {
  color: #333;
}

.summaryForum .forumBox .forumBoxRight span a:hover {
  text-decoration: none;
}

.summaryForum .forumBox .forumBoxBtm {
  clear: both;
  background: #F7FBFE;
  padding: 6px 15px;
  border-top: dotted 1px #CCCCCC;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  overflow: hidden;
}

.summaryForum .forumBox .forumBoxBtm ul {
  word-wrap: break-word;
}

.summaryForum .forumBox .forumBoxBtm ul li {
  display: inline;
  margin-right: 10px;
  font-size: 92%;
  line-height: 150%;
  white-space: nowrap;
  *white-space: normal;
}

.summaryForum .forumBox .forumBoxBtm ul li.goodAnswerLabel {
  background: #d9b60b;
  color: #FFF;
  font-size: 85%;
  line-height: 110%;
  display: inline-block;
  padding: 2px 5px 1px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  *display: inline;
  *zoom: 1;
}

.summaryRecommend,
.summaryPricedrop {
  background: #FFF;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin: 0 1px 8px;
  position: relative;
}

.summaryRecommendIn,
.summaryPricedropIn {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: solid 1px #D4D4D4;
  background: url(../../images/common/bg_parts_01.png) no-repeat;
  height: 100%;
}

.recommendBox,
.pricedropBox {
  float: left;
  width: 183px;
}

.recommendBox:hover,
.pricedropBox:hover {
  cursor: pointer;
  -moz-opacity: 0.5;
  opacity: 0.5;
  filter: alpha(opacity=50);
  /* IE6/7 */
  -ms-filter: "alpha(opacity=50)";
  /* IE8 */
}

.recommendBox:hover h3 a,
.pricedropBox:hover h3 a {
  text-decoration: underline;
}

.recommendBox:first-child,
.pricedropBox:first-child {
  width: 184px;
}

.recommendBox .labelSpec,
.recommendBox .labelMost,
.recommendBox .labelNew {
  display: inline-block;
  height: 23px;
  position: absolute;
  top: 10px;
  left: -1px;
  background: url(../../images/common/icon_parts_01.png) no-repeat right -300px;
  padding: 0 13px 0 0;
  font-weight: bold;
  font-size: 93%;
  line-height: 110%;
  color: #FFF;
  z-index: 30;
}

.recommendBox .labelMost {
  background-position: right -500px;
}

.recommendBox .labelNew {
  background-position: right -700px;
}

.recommendBox .labelSpec span,
.recommendBox .labelMost span,
.recommendBox .labelNew span {
  display: inline-block;
  background: url(../../images/common/icon_parts_01.png) no-repeat 0 -200px;
  padding: 5px 0 0 13px;
  height: 18px;
  letter-spacing: 0.05em;
}

.recommendBox .labelMost span {
  background-position: 0 -400px;
}

.recommendBox .labelNew span {
  background-position: 0 -600px;
}

.recommendImg,
.pricedropImg {
  height: 110px;
  padding-top: 45px;
  text-align: center;
  position: relative;
  *z-index: 20;
}

.recommendCont,
.pricedropCont {
  padding: 10px;
}

.recommendCont h3,
.pricedropCont h3 {
  font-size: 93%;
  line-height: 130%;
  margin-bottom: 0px;
}

.recommendCont .comparedPrice {
  font-size: 77%;
  margin-bottom: 5px;
  color: #4d4d4d;
  padding-left: 1px;
  letter-spacing: -0.01em;
  padding-top: 1px;
  line-height: 130%;
}

.recommendCont .comparedPrice strong,
.recommendCont .comparedPrice > span {
  color: #FF1A1A;
  font-size: 131%;
  font-weight: bold;
  display: inline-block;
  white-space: nowrap;
}

.recommendCont .comparedPrice strong span,
.recommendCont .comparedPrice span span {
  font-size: 70%;
  font-weight: normal;
  background: #b3b3b3;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-left: 3px;
  padding: 0 3px 0;
  color: #FFF;
  position: relative;
  bottom: 1px;
  line-height: 100%;
  letter-spacing: 0.02em;
}

.recommendCont .comparedPrice strong.noPrice,
.recommendCont .comparedPrice span.noPrice {
  font-size: 120%;
}

.recommendCont ul,
.pricedropCont ul {
  font-size: 85%;
  color: #4d4d4d;
}

.recommendCont ul li,
.pricedropCont ul li {
  background: url(../../images/common/icon_list_01.png) no-repeat left center;
  padding-left: 12px;
  line-height: 110%;
  margin-bottom: 2px;
}

.pricedropCont .droppedPrice {
  font-size: 77%;
  line-height: 130%;
  margin-bottom: 5px;
  color: #4d4d4d;
  padding-left: 2px;
  padding-top: 1px;
}

.pricedropCont .droppedPrice strong,
.pricedropCont .droppedPrice > span {
  color: #FF1A1A;
  font-size: 127%;
  font-weight: bold;
  display: inline-block;
  white-space: nowrap;
}

.pricedropCont .droppedPrice > span.before {
  color: #cc1414;
  font-size: 100%;
  font-weight: bold;
  background: url(../../images/common/icon_arrow_05.png) no-repeat right center;
  padding-right: 13px;
  margin-right: 2px;
  white-space: nowrap;
}

.pricedropCont .droppedPrice span.used {
  font-size: 77%;
  font-weight: normal;
  background: #b3b3b3;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-left: 3px;
  padding: 0 3px 0;
  color: #FFF;
  position: relative;
  bottom: 1px;
  line-height: 100%;
  letter-spacing: 0.02em;
  white-space: normal;
}

.pricedropBox .labelDrop {
  height: 35px;
  width: 46px;
  padding-top: 10px;
  position: absolute;
  top: 5px;
  left: 5px;
  background: url(../../images/common/icon_parts_01.png) no-repeat;
  font-weight: bold;
  font-size: 77%;
  color: #FFF;
  text-align: center;
  letter-spacing: 0.1em;
  z-index: 10;
}

.pricedropBox .labelDrop strong,
.pricedropBox .labelDrop > span {
  font-size: 138.5%;
  display: block;
  text-align: center;
  font-weight: bold;
  margin-bottom: -2px;
  letter-spacing: 0em;
}

.pricedropBox .labelDrop strong span,
.pricedropBox .labelDrop span span {
  font-size: 85%;
  margin-left: 1px;
}

.recommendBox .whiteBg,
.pricedropBox .whiteBg {
  display: none;
  position: absolute;
  background: #FFF;
  height: 99%;
  -moz-opacity: 0.7;
  opacity: 0.7;
  filter: alpha(opacity=70);
  /* IE6/7 */
  -ms-filter: "alpha(opacity=70)";
  /* IE8 */
  position: absolute;
  width: 182px;
  margin-left: 1px;
  clear: both;
  z-index: 10;
}

.recommendBox:first-child .whiteBg,
.pricedropBox:first-child .whiteBg {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
}

.last .whiteBg {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}

.recommendBox:first-child .whiteBg,
.pricedropBox:first-child .whiteBg {
  width: 183px;
}

.hoverBtn {
  display: none;
  width: 182px;
  height: 100%;
  z-index: 10;
}

.linkBtn {
  width: 182px;
  position: absolute;
  text-align: center;
  top: 50%;
  z-index: 30;
}

.recommendBox:hover .whiteBg,
.pricedropBox:hover .whiteBg {
  display: block;
}

.recommendBox:hover .hoverBtn,
.pricedropBox:hover .hoverBtn {
  display: block;
  cursor: pointer;
}

.recommendBox:hover .recommendImg img,
.pricedropBox:hover .pricedropImg img {
  *filter: alpha(opacity=30);
  /* IE6/7 */
}

.bnTwitter {
  position: absolute;
  top: 11px;
  right: 20px;
}

.recommendBox .greenBtn01,
.pricedropBox .greenBtn01 {
  margin-top: -10px;
}

/* ---------- REVIEWINJAPAN ---------- */
.revSummary {
  background: url(../../images/top/bg_revsummary_01.gif) no-repeat;
  margin-bottom: 25px;
  width: 960px;
  min-height: 500px;
  position: relative;
}

.revSummary h2 {
  font-weight: bold;
  font-size: 138.5%;
  color: #e5780b;
  padding: 15px 0 20px 50px;
}

#reviewNavi {
  display: none;
}

.revSummary ul {
  position: absolute;
  top: 19px;
  right: 20px;
}

.revSummary ul.on {
  -moz-opacity: 0.3;
  opacity: 0.3;
  filter: alpha(opacity=30);
  /* IE6/7 */
  -ms-filter: "alpha(opacity=30)";
  /* IE8 */
}

.revSummary ul li {
  float: left;
  margin-right: 2px;
}

.revSummary ul li img {
  cursor: pointer;
}

#summaryAreaCover {
  background: #FFF;
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.summaryArea {
  position: relative;
}

.revSummary .firstBox {
  background: url(../../images/common/bg_dotted_02.gif) repeat-y 480px top;
  min-height: 13em;
}

.revSummary .secondBox {
  background: url(../../images/common/bg_dotted_02.gif) repeat-y 480px top;
  border-top: 1px dotted #c2c2c2;
  min-height: 13em;
}

.revSummary .summaryBox {
  background: none;
  width: 439px;
  float: left;
  margin: 0;
  padding: 0 20px 15px;
}

.revSummary .secondBox .summaryBox {
  padding: 20px 20px 0;
}

.summaryBox .leftBox {
  width: 116px;
  float: left;
}

.summaryBox .rightBox {
  float: right;
  width: 323px;
  font-size: 93%;
  position: relative;
}

.summaryBox .revBalloon,
.summaryBox .revBalloonOver {
  border: solid 1px #f4f4f4;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin: 0 0 8px 16px;
}

.summaryBox .revBalloonOver {
  display: none;
}

.summaryBox .revBalloonIn {
  border: solid 1px #a7c5d9;
  background: #f0f6ff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 0 8px 0 0;
}

.summaryBox .revCont {
  margin-left: -18px;
  background: url(../../images/common/bg_balloon_03.gif) no-repeat left 12px;
  padding: 14px 0 0 34px;
}

.summaryBox .revCont p {
  line-height: 150%;
  word-wrap: break-word;
  margin-bottom: 1.2em;
}

.summaryBox .revCont .revTtl {
  font-size: 108%;
  font-weight: bold;
  margin-bottom: 0.4em;
}

.summaryBox .revCont .revFace {
  float: right;
  margin: 0 0 0 5px;
  padding-right: 7px;
}

.summaryBox .itemInfo {
  padding-left: 17px;
  font-weight: bold;
}

.summaryBox .itemInfo p {
  line-height: 130%;
  padding-bottom: 2px;
}

.whiteOut {
  background: #FFF;
  display: block;
  height: 100%;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);
  /* IE6/7 */
  -ms-filter: "alpha(opacity=80)";
  /* IE8 */
  position: absolute;
  width: 100%;
  z-index: 1;
}

.summaryArea .on {
  position: relative;
  z-index: 2;
}

.summaryArea .on .rightBox .revBalloonOver {
  display: block;
  width: 350px;
  position: absolute;
  left: 0;
  z-index: 3;
}

.summaryArea .on .revBalloonOver .revCont {
  padding-top: 5px;
  padding-bottom: 16px;
}

.summaryArea .on .revBalloonOver .revText {
  overflow: auto;
  height: 200px;
  clear: both;
}

.summaryArea .on .revBalloonOver p {
  margin-right: 7px;
}

.summaryArea .on .revBalloonOver p.revTtl {
  margin: -5px 0 0.7em;
  line-height: 160%;
}

.summaryArea .on .close02 {
  display: block;
  float: right;
  font-size: 108%;
  line-height: 140%;
  margin-bottom: 5px;
  cursor: pointer;
}

.summaryArea .revBalloon .read01 {
  float: left;
  border: solid 1px #e4e9f2;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background: #fefefe url(../../images/common/bg_grd_01.gif) repeat-x left bottom;
  margin: -7px 0 0.9em;
}

.summaryArea .revBalloon .read01 a {
  display: block;
  border: solid 1px #b5b5b5;
  padding: 3px 8px 4px 18px;
  background: url(../../images/common/icon_arrow_03.gif) no-repeat 0.7em center;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  line-height: 110%;
}

.summaryArea .revBalloon .read01 a:hover {
  text-decoration: none;
}

.summaryArea .revText strong {
  font-weight: bold;
}

/* ---------- SELLER ---------- */
.summarySeller {
  background: #FFF;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-bottom: 8px;
}

.summarySellerIn {
  background: #FFF;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: solid 1px #D4D4D4;
  padding: 15px 0;
  *width: 916px;
}

.summarySellerMain {
  background: url(../../images/common/bg_dotted_08.gif) repeat-y 457px top;
}

.summarySellerIn .sellerShopBox {
  margin: 0 15px;
}

.sellerShopBox {
  background: url(../../images/common/bg_dotted_09.gif) repeat-x left 10px;
  padding-top: 25px;
}

.summarySellerIn .sellerShopBox:first-child {
  background: none;
  padding-top: 0;
}

.sellerShop {
  float: left;
  width: 427px;
  word-break: break-all;
  word-wrap: break-word;
  padding: 0 0 0 16px;
}

.sellerShopBox .sellerShop:first-child {
  padding: 0 15px 0 0;
}

.sellerShopTtl {
  background: #f5f5f5;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.sellerShopTtlIn {
  border-top: 1px solid #FFF;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin-top: -7px;
  padding: 8px 9px 16px;
  background: url(../../images/common/bg_balloon_13.gif) no-repeat 19px bottom;
  position: relative;
  bottom: -7px;
  *padding-top: 0;
  *border-top: none;
}

.sellerShopFace {
  display: table-cell;
  padding-right: 10px;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
}

.sellerShopFace img {
  background: #FFF;
}

.sellerShopInfo {
  display: table-cell;
  line-height: 120%;
  *display: inline;
  *zoom: 1;
}

.sellerShopName {
  float: left;
  width: 100%;
  font-size: 93%;
  font-weight: bold;
  *float: none;
}

.sellerShopName a {
  color: #333;
  *display: block;
}

.sellerShopArea {
  font-size: 86%;
}

.sellerShopItem {
  padding: 10px 10px 0;
}

.sellerShopImg {
  float: right;
  width: 120px;
}

.sellerShopDetail {
  float: left;
  width: 275px;
}

.sellerShopPro {
  display: block;
  font-weight: bold;
  #color: #FF1A1A;
}

.sellerShopPrice {
  font-size: 116%;
  font-weight: bold;
  color: #FF1A1A;
  vertical-align: middle;
  margin: 3px 3px 7px 0;
  white-space: nowrap;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.sellerShopPrice + .lowestprice {
  position: relative;
  bottom: 2px;
}

.lowestprice {
  background: url(../../images/common/bg_lowestprice_01.png) no-repeat right -100px;
  height: 17px;
  display: inline-block;
  margin-bottom: 7px;
  *display: inline;
  *zoom: 1;
}

.lowestprice span {
  background: url(../../images/common/bg_lowestprice_01.png) no-repeat;
  height: 14px;
  color: #FFF;
  font-size: 77%;
  font-weight: bold;
  line-height: 110%;
  padding: 3px 7px 0 18px;
  display: block;
}

ul.sellerShopSpec {
  color: #595959;
  display: inline-block;
  padding-top: 6px 0 0 2px;
  width: 275px;
  word-break: break-all;
  word-wrap: break-word;
  font-size: 85%;
  *width: auto;
}

ul.sellerShopSpec > li {
  display: block;
  background: url(../../images/common/icon_list_01.png) no-repeat left 0.25em;
  line-height: 110%;
  margin-bottom: 4px;
  padding-left: 12px;
}

ul.sellerShopSpec li ul {
  display: inline-block;
  margin-top: -1px;
  vertical-align: bottom;
  *display: inline;
  *zoom: 1;
}

ul.sellerShopSpec li ul li {
  background: none;
  display: inline;
  padding: 0;
  margin: 0 1px 0 0;
}

ul.sellerShopSpec .captionhideMain {
  font-size: 108%;
  font-weight: normal;
}

ul.sellerShopSpec .close02 {
  font-size: 116%;
}

.summarySellerMain .sellerIntro {
  float: left;
  width: 427px;
  padding-left: 16px;
}

.summarySellerMain .sellerIntro:first-child {
  padding: 0 15px;
}

.sellerIntro .sellerIntroTtl {
  background: #f5f5f5;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.sellerIntro .sellerIntroTtlIn {
  border-top: 1px solid #FFF;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 6px 9px 7px;
  font-weight: bold;
}

ul.sellerIntroList {
  padding: 15px 0 5px 10px;
  *padding-bottom: 10px;
}

ul.sellerIntroList li {
  width: 198px;
  padding-right: 10px;
  float: left;
  max-height: 50px;
  margin-bottom: 10px;
}

.sellerIntroFace {
  width: 60px;
  float: left;
}

.sellerIntroName,
.sellerIntroArea {
  margin-left: 60px;
  display: block;
  line-height: 120%;
}

.sellerIntroName {
  font-size: 93%;
  font-weight: bold;
  margin-bottom: 1px;
}

.sellerIntroArea {
  font-size: 86%;
}

.sellerIntroBtn {
  width: 407px;
  height: 53px;
  margin: 0 0 1px 10px;
  background: url(../../images/top/bg_seller_01.png) no-repeat;
}

.sellerIntroBtn a {
  display: block;
  padding: 10px 52px 0 92px;
  height: 43px;
  color: #FFF;
  font-size: 108%;
  line-height: 120%;
  text-decoration: none;
  position: relative;
}

.sellerIntroBtn a span {
  display: block;
  text-align: center;
  position: absolute;
  top: 12px;
  left: 12px;
  width: 70px;
  color: #004971;
  line-height: 100%;
  font-style: italic;
  font-weight: bold;
}

.sellerIntroBtn:hover {
  -moz-opacity: 0.9;
  opacity: 0.9;
  filter: alpha(opacity=90);
  -ms-filter: "alpha(opacity=90)";
}

.shop ul.sellerIntroList li {
  width: 407px;
}

.shop .sellerIntroFace {
  width: 144px;
  height: 48px;
  border: 1px solid #e6e6e6;
}

.shop .sellerIntroName,
.shop .sellerIntroArea {
  margin-left: 156px;
}

.shop .sellerIntroBtn {
  background-position: 0 -200px;
}

.shop .sellerIntroBtn a span {
  top: 10px;
  left: 11px;
  width: 74px;
  color: #c6470a;
}

/* ---------- BALLOON ---------- */
.captionhideBox {
  position: relative;
  display: inline;
}

.captionhideArea {
  display: none;
  position: absolute;
  width: 322px;
  z-index: 10;
  padding-bottom: 25px;
  bottom: 10px;
  left: -148px;
  background: url(../../images/common/bg_balloon_06.png) no-repeat right bottom;
}

.captionhideHead {
  display: block;
  width: 309px;
  padding: 11px 13px 0 0;
  background: url(../../images/common/bg_balloon_06.png) no-repeat left top;
}

.captionhideHead span {
  float: right;
  display: block;
  line-height: 140%;
  margin-bottom: 5px;
}

.captionhideMain {
  display: block;
  clear: both;
  width: 288px;
  padding: 1px 17px 0;
  background: url(../../images/common/bg_balloon_07.png) repeat-y left top;
}

.captionhideMain p {
  margin-bottom: 0.7em;
  font-weight: bold;
  line-height: 130%;
}

/* ---------- LOGIN ---------- */
#loginInfo {
  padding: 0 93px 0 0;
  top: -8px;
}

#loginInfo #myUser {
  display: block;
  clear: both;
  padding-bottom: 7px;
  padding-right: 0;
  background: none;
  position: relative;
  right: -152px;
}

#loginInfo #siteLogin {
  display: block;
}

#loginInfo + #fbLike {
  top: 21px;
}

.headerBn {
  left: 338px;
}

.logoMod {
  margin-right: 20px;
}

/* ---------- DESCRIPTION ---------- */
.summaryDescript {
  background: #FFF;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 8px 0 6px;
  margin-bottom: 11px;
}

.summaryDescript h3 {
  line-height: 150%;
  margin: 0 15px 5px;
  padding-top: 5px;
}

.summaryDescript p {
  line-height: 140%;
  margin: 0 15px 10px;
}

.summaryDescript ul {
  margin: 0 15px 10px;
}

.summaryDescript ul li {
  background: url(../../images/common/icon_list_01.png) no-repeat left 0.25em;
  line-height: 110%;
  margin-bottom: 4px;
  padding-left: 12px;
}

.summaryDescript ul.linkList {
  margin: 0 15px;
  padding-top: 7px;
}

.summaryDescript ul.linkList li {
  background: none;
  line-height: 110%;
  width: 216px;
  margin: 0;
  padding: 0 4px 0 0;
  min-height: 30px;
  float: left;
}

.summaryDescript ul.linkList li a {
  display: block;
  background: url(../../images/common/icon_list_02.gif) no-repeat 4px 0.4em;
  padding-left: 14px;
}

/* ---------- NEWS ---------- */
.summaryNewsTop {
  background: #FFF;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 8px 0 6px;
  margin-bottom: 11px;
  border: 1px solid #d4d4d4;
}

.summaryNewsTopList {
  padding-left: 1px;
}

.summaryNewsTopList li {
  float: left;
  width: 210px;
  padding: 8px 0 6px 15px;
}

.summaryNewsTopList li a {
  text-decoration: none;
}

.summaryNewsTopList li a:hover .ttl {
  text-decoration: underline;
}

.summaryNewsTopList li .img {
  width: 210px;
  height: 175px;
  overflow: hidden;
  margin-bottom: 12px;
}

.summaryNewsTopList li .img a {
  display: block;
  width: 210px;
  height: 175px;
}

.summaryNewsTopList li .img img {
  height: 175px;
}
@media screen and (min-width: 0px) {
  .summaryNewsTopList li .img img {
    margin-left: auto !important;
    position: relative;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.summaryNewsTopList li .cont .ttl {
  display: block;
  font-size: 108%;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.summaryNewsTopList li .cont a:hover {
  text-decoration: underline;
}

.summaryNewsTopList li .cont p {
  color: #666666;
  font-size: 93%;
  line-height: 130%;
  margin-bottom: 6px;
}

.summaryNewsTopList li .cont p span {
  color: #122db3;
  font-size: 93%;
}

.summaryNewsTopList li .cont p a {
  color: #122db3;
}

.summaryNewsTopList li .cont .date {
  color: #808080;
  font-size: 86%;
}

.type02 h1 {
  font-weight: normal !important;
}

/* ---------- layout ---------- */
.couponLeftNav {
  width: 210px;
  float: left;
}

.couponRightCnt {
  width: 810px;
  float: right;
}

.couponRightCnt > .pdgWrap {
  padding: 0 10px;
}

/* ---------- couponTopIntroMod ---------- */
.couponTopIntroMod {
  margin-bottom: 40px;
}

/* ---------- storeListMod ---------- */
.storeListMod .indexList {
  text-align: center;
  padding: 15px 0 30px 0;
}
.storeListMod .indexList li {
  display: inline-block;
  border-left: solid 1px #d9d9d9;
}
.storeListMod .indexList li a {
  display: inline-block;
  padding: 3px 8px;
}
.storeListMod .indexList li:first-child {
  border-left: none;
}
.storeListMod .nameList .list {
  border-top: solid 1px #d9d9d9;
  padding-top: 30px;
}
.storeListMod .nameList .ttl {
  width: 100px;
  float: left;
  font-size: 30px;
  text-align: center;
  line-height: 0.9em;
}
.storeListMod .nameList .charaList {
  width: 850px;
  float: right;
}
.storeListMod .nameList .charaList li {
  width: 33%;
  float: left;
  margin-bottom: 15px;
}
.storeListMod .nameList .charaList li span {
  color: #b0b0b0;
  margin-left: 8px;
}
.storeListMod .nameList .pageTop {
  clear: both;
  text-align: right;
  padding: 20px 0 50px 0;
}
.storeListMod .nameList .pageTop a {
  color: #333333;
  position: relative;
  padding-right: 19px;
  font-size: 14px;
  display: inline-block;
  border-bottom: solid 1px #ffffff;
}
.storeListMod .nameList .pageTop a:before {
  position: absolute;
  content: "";
  height: 7px;
  width: 11px;
  background: url(../../images/introduction/icon_arrowTop01.png);
  margin: auto;
  right: 0px;
  top: 0;
  bottom: 0;
}

.narrowMod .ttl {
  font-size: 115%;
  background: #2d4875;
  color: white;
  padding: 8px 10px;
}
.narrowMod .list li {
  border-top: solid 1px #e6e6e6;
}
.narrowMod .list li:first-child {
  border-top-width: 0;
}
.narrowMod .list li a:hover {
  cursor: pointer;
}
.narrowMod .list li a, .narrowMod .list li span {
  padding: 10px;
  padding-right: 35px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background: #f8f8f8;
  display: block;
  position: relative;
  transition: background-color 0.1s linear;
}
.narrowMod .list li a em, .narrowMod .list li span em {
  font-size: 80%;
  color: #999999;
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 1em;
}
.narrowMod .list li span {
  padding-left: 30px;
  font-weight: bold;
  position: relative;
}
.narrowMod .list li span:before {
  content: "";
  width: 12px;
  height: 10px;
  background: url(../../images/coupon/icon_pointer01.png) no-repeat left top;
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 11px;
}
.narrowMod .list li span.none {
  padding-left: 10px;
  font-weight: bold;
  position: relative;
  color: #999999;
  font-weight: normal;
}
.narrowMod .list li span.none:before {
  content: none;
}
.narrowMod .list li a:hover {
  transition: background-color 0.1s linear;
  background: #eeeeee;
  text-decoration: none;
}
.narrowMod .linkList {
  margin-top: 25px;
}
.narrowMod .linkList li a:before {
  content: "";
  width: 6px;
  height: 9px;
  background: url(../../images/coupon/icon_pointer02.png) no-repeat;
  display: block;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

/* ---------- couponListMod ---------- */
.couponListMod {
  padding-bottom: 40px;
}
#couponTop .couponListMod {
  padding-bottom: 10px;
}
.couponListMod .ttl {
  border-left: 5px solid #2d4875;
  font-size: 17px;
  line-height: 1.2;
  margin-bottom: 30px;
  padding: 3px 0 2px 10px;
}
.couponListMod .couponList {
  padding: 0 10px;
  /* Coupon Category List */
}
.couponListMod .couponList li {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
}
.couponListMod .couponList li .cont {
  display: table-cell;
  padding-right: 10px;
  width: 722px;
}
.couponListMod .couponList li .btn {
  display: table-cell;
  vertical-align: middle;
  width: 166px;
  text-align: center;
}
.couponListMod .couponList li .btn .shopBtn01 {
  width: 156px;
  padding: 10px 0 7.5px;
  font-size: 15px;
}
.couponListMod .couponList li .sttl {
  display: block;
  font-size: 19px;
  line-height: 130%;
  margin-bottom: 10px;
  padding-left: 74px;
}
.couponListMod .couponList li .sttl:hover {
  text-decoration: underline;
}
.couponListMod .couponList li p {
  color: #808080;
  margin-bottom: 10px;
  font-size: 108%;
  line-height: 150%;
}
.couponListMod .couponList li .coupon {
  position: absolute;
  top: 22px;
  left: 20px;
  background: #699460;
  color: #FFF;
  width: 60px;
  text-align: center;
  line-height: 110%;
  font-size: 85%;
  padding: 4px 0 4px;
}
.couponListMod .couponList li .coupon:before, .couponListMod .couponList li .coupon:after {
  position: absolute;
  content: "";
  top: 4px;
  left: -2px;
  display: block;
  width: 4px;
  height: 12px;
  background: url(../../images/common/bg_coupon_01.png) no-repeat;
}
.couponListMod .couponList li .coupon:after {
  left: auto;
  right: -2px;
}
.couponListMod .couponList li .time {
  color: #f48004;
  background: url(../../images/common/icon_time_01.png) no-repeat;
  padding: 0 0 0 19px;
}
.couponListMod .couponList li.code .coupon {
  background: #f53105;
}
.couponListMod .couponList li.expired .btn .offBtn01 {
  width: 156px;
}
.couponListMod .couponList li.expired .coupon {
  background: #b3b3b3;
}
.couponListMod .couponList li.expired .sttl:hover {
  text-decoration: none;
}
.couponListMod .couponList li:hover {
  text-decoration: none;
  background-color: #fafafa;
  border-color: #cccccc;
  transition: background-color 0.1s linear;
  cursor: pointer;
}
.couponListMod .couponList li:hover.expired {
  cursor: default;
  background: none;
  border-color: #d9d9d9;
}
.couponListMod .couponList.list02 {
  clear: both;
  margin-bottom: -10px;
  padding: 0 10px;
}
#mainRight .couponListMod .couponList.list02 {
  padding: 0;
}
.couponListMod .couponList.list02 li {
  position: relative;
  background: url(../../images/coupon/bg_couponStatus01.png) left bottom repeat-y;
  height: 100%;
  display: table;
  padding-left: 0;
  transition: background-color 0.1s linear;
}
.couponListMod .couponList.list02 li .status {
  padding-right: 35px;
  color: #895700;
  font-size: 24px;
  margin: auto;
  text-align: center;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.couponListMod .couponList.list02 li .status span {
  display: block;
  width: 150px;
}
.couponListMod .couponList.list02 li.code .status em {
  display: block;
  font-style: normal;
}
.couponListMod .couponList.list02 li.code .status em.large {
  font-size: 30px;
}
.couponListMod .couponList.list02 li.expired .status em, .couponListMod .couponList.list02 li.deal .status em {
  display: block;
}
.couponListMod .couponList.list02 li.expired .status em.large, .couponListMod .couponList.list02 li.deal .status em.large {
  font-size: 30px;
}
.couponListMod .couponList.list02 li .time {
  margin-right: 8px;
}
.couponListMod .couponList.list02 li .new, .couponListMod .couponList.list02 li .ex {
  background: #ec7116;
  border-radius: 3px;
  padding: 0 4px;
  height: 16px;
  line-height: 16px;
  display: inline-block;
  color: white;
  margin-right: 8px;
  font-size: 12px;
}
.couponListMod .couponList.list02 li .ex {
  background: #f48b3e;
}
.couponListMod .couponList.list02 li.expired {
  background: url(../../images/coupon/bg_couponStatus02.png) left bottom repeat-y;
}
.couponListMod .couponList.list02 li.expired .status {
  color: #eeeeee;
}
.couponListMod .couponList.list02 li:hover {
  background-color: #f5f5f5;
  transition: background-color 0.1s linear;
}
.couponListMod .couponList.list02 li:hover.expired {
  background-color: #ffffff;
}
.couponListMod .couponList.list02 li .sttl {
  padding-left: 0;
}
.couponListMod .couponList.list02 li .btn .shopBtn01 {
  padding: 8px 0 7px;
}
.couponListMod .couponList.list02 li .couponCodeBtn01 {
  width: 125px;
  padding-left: 29px;
  padding-left: 12px\9;
  padding-right: 13px\9;
}
.couponListMod .couponList.list02 li .logo {
  margin-bottom: 15px;
  display: block;
}
.couponListMod .couponList.list02 li .logo img {
  width: 90px;
}
.couponListMod .couponList.list02 .cont {
  display: table-cell;
}
.couponListMod .btn .viewMore {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 45px;
}
.couponListMod .btn .viewMore a {
  display: inline-block;
  background: #eeeeee;
  border-bottom: solid 2px #aaaaaa;
  border-radius: 3px;
  padding: 13px 0;
  font-size: 15px;
  width: 320px;
  transition: background-color 0.3s linear;
}
.couponListMod .btn .viewMore a:hover {
  text-decoration: none;
  margin-top: 1px;
  border-bottom-width: 1px;
  transition: background-color 0.3s linear;
  background-color: #f5f5f5;
}
.couponListMod .couponCatList {
  padding: 0 10px;
  /*  Coupon Top List */
}
.couponListMod .couponCatList li {
  width: 258px;
  float: left;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 86px 20px 67px;
  position: relative;
}
.couponListMod .couponCatList li .cont, .couponListMod .couponCatList li .btn {
  display: block;
  width: auto;
}
.couponListMod .couponCatList li + li {
  margin-left: 20px;
}
.couponListMod .couponCatList li .logo {
  position: absolute;
  top: 24px;
  left: 0;
  width: 300px;
  text-align: center;
}
.couponListMod .couponCatList li .coupon {
  position: absolute;
  top: 14px;
  left: -1px;
  background: #699460;
  color: #FFF;
  width: 50px;
  text-align: center;
  line-height: 110%;
  font-size: 85%;
  padding: 4px 0 4px;
}
.couponListMod .couponCatList li .coupon:after {
  position: absolute;
  content: "";
  top: 4px;
  right: -2px;
  display: block;
  width: 4px;
  height: 12px;
  background: url(../../images/common/bg_coupon_01.png) no-repeat;
}
.couponListMod .couponCatList li .sttl {
  font-size: 15px;
  line-height: 140%;
}
.couponListMod .couponCatList li .sttl:hover {
  text-decoration: underline;
}
.couponListMod .couponCatList li .btn {
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 300px;
  padding-bottom: 21px;
}
.couponListMod .couponCatList li .btn .shopBtn01 {
  width: 146px;
  padding: 9px 0 6.5px;
  font-size: 14px;
}
.couponListMod .couponCatList li.code .coupon {
  background: #f53105;
}
.couponListMod .couponCatList li:hover {
  text-decoration: none;
  background-color: #fafafa;
  border-color: #cccccc;
  transition: background-color 0.1s linear;
  cursor: pointer;
}
.couponListMod .couponCatList li:hover.expired {
  cursor: default;
  background: none;
  border-color: #d9d9d9;
}
.couponListMod .couponCatList:after {
  content: "";
  height: 0;
  display: block;
  clear: both;
}
.couponListMod .couponCatList.list02 {
  margin-left: -20px;
  padding: 0;
}
.couponListMod .couponCatList.list02 li {
  margin-left: 20px;
  width: 208px;
}
.couponListMod .couponCatList.list02 li .logo, .couponListMod .couponCatList.list02 li .btn {
  margin: auto;
  right: 0;
  width: auto;
}
.couponListMod .couponCatList.list02.populer {
  margin-bottom: 40px;
}
.couponListMod .storeList {
  margin-left: -19px;
}
.couponListMod .storeList li {
  width: 140px;
  border: solid 1px #d9d9d9;
  float: left;
  margin-left: 19px;
  margin-bottom: 19px;
  border-radius: 4px;
}
.couponListMod .storeList li a {
  display: block;
  border-radius: 3px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}
.couponListMod .storeList li img {
  width: 100px;
  height: 33px;
}
.couponListMod .storeList li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  background: #2d4875;
  width: 140px;
  height: 73px;
  color: white;
  border-radius: 4px;
}
.couponListMod .storeList li span em {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.couponListMod .storeList li span em strong {
  font-size: 130%;
  margin-right: 3px;
}
.couponListMod .storeList li a:hover span {
  opacity: 0.9;
  transition: all 0.3s;
}
.couponListMod .bottomLink {
  clear: both;
  text-align: right;
  margin-bottom: 30px;
}
.couponListMod .middleTtl {
  margin-left: -10px;
  border-left: 5px solid #2d4875;
  font-size: 17px;
  line-height: 1.2;
  margin-bottom: 30px;
  padding: 3px 0 2px 10px;
}
.couponListMod .sortLine {
  padding-bottom: 15px;
}
.couponListMod .sortLine .info {
  float: left;
}
.couponListMod .sortLine .info li {
  display: inline-block;
}
.couponListMod .sortLine .info li span {
  font-size: 120%;
}
.couponListMod .sortLine .info .count {
  padding: 6px 5px 4px 5px;
  margin-right: 15px;
  background: url(../../images/coupon/icon_couponAll.png) no-repeat left center;
  padding-left: 30px;
}
.couponListMod .sortLine .info .new em {
  background: #ec7116;
  border-radius: 3px;
  padding: 0 4px;
  height: 14px;
  line-height: 14px;
  display: inline-block;
  color: white;
  margin-right: 5px;
  font-size: 11px;
  vertical-align: 2px;
}
.couponListMod .sortLine .sort {
  float: right;
}
.couponListMod .sortLine .sort select {
  width: 150px;
  padding: 3px;
  margin-left: 5px;
}
.couponListMod .sortLine:after {
  content: "";
  clear: both;
  display: block;
}
.couponListMod .couponList li.deal:hover .shopBtn01, .couponListMod .couponCatList li.deal:hover .shopBtn01 {
  color: #FFF;
  text-decoration: none;
  margin-top: 1px;
  background-color: #2bcc0a;
  border-bottom: 1px solid #208c0d;
  transition: background-color 0.1s linear;
}

.tabBoxWide + .couponListMod,
.couponPopMod + .couponListMod {
  margin-top: 35px;
}

/* ---------- couponMod ---------- */
.couponPopMod {
  display: none;
}
.couponPopMod .couponArea {
  position: absolute;
  top: 100px;
  left: 50%;
  width: 820px;
  margin-left: -410px;
  background: #FFF;
  z-index: 101;
}
.couponPopMod .couponArea .ttl {
  background: #4d6280;
  color: #FFF;
  padding: 20px 20px 18px;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
}
.couponPopMod .couponArea .cont {
  text-align: center;
}
.couponPopMod .couponArea .cont .codeBtn {
  display: inline-block;
  min-width: 508px;
  max-width: 600px;
  margin: 50px auto 35px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  border-bottom: 3px solid #b2b2b2;
  cursor: pointer;
}
.couponPopMod .couponArea .cont .codeBtn .code {
  display: table-cell;
  padding: 20px 20px 16px;
  font-size: 28px;
  line-height: 130%;
  min-width: 298px;
  word-break: break-all;
  vertical-align: middle;
}
.couponPopMod .couponArea .cont .codeBtn .copy {
  display: table-cell;
  width: 170px;
  vertical-align: middle;
  font-size: 19px;
  line-height: 130%;
  background: #e8e8e8 url(../../images/common/icon_copy_01.png) no-repeat 145px 5px;
}
.couponPopMod .couponArea .cont .codeBtn.copied {
  margin-top: 52px;
  border: 1px solid #a6a6a6;
  cursor: default;
}
.couponPopMod .couponArea .cont .codeBtn.copied .copy {
  background: #a6a6a6;
  color: #FFF;
}
.couponPopMod .couponArea .cont .codeBtn:hover {
  margin-top: 52px;
  border-bottom: 1px solid #b2b2b2;
}
.couponPopMod .couponArea .cont .codeBtn:hover .copy {
  color: #595959;
  background-color: #f0f0f0;
  transition: background-color 0.1s linear;
}
.couponPopMod .couponArea .cont .codeBtn:hover.copied {
  margin-top: 52px;
}
.couponPopMod .couponArea .cont .codeBtn:hover.copied .copy {
  background: #a6a6a6;
  color: #FFF;
}
.couponPopMod .couponArea .cont .codeText {
  clear: both;
  display: inline-block;
  min-width: 470px;
  max-width: 600px;
  margin: 30px auto;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  font-size: 22px;
  line-height: 130%;
  padding: 20px 20px 18px;
}
.couponPopMod .couponArea .cont .btn {
  margin-bottom: 35px;
}
.couponPopMod .couponArea .cont .btn .shopBtn01 {
  width: 240px;
  padding: 16px 0 14px;
  font-size: 17px;
}
.couponPopMod .couponArea .list ul {
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}
.couponPopMod .couponArea .list li {
  padding-bottom: 30px;
}
.couponPopMod .couponArea .list li + li {
  border-top: 1px solid #cccccc;
}
.couponPopMod .couponArea .list li .item {
  margin: 0 30px;
}
.couponPopMod .couponArea .list li .item + .item {
  margin-top: -1px;
}
.couponPopMod .couponArea .list li .listDetail + .item,
.couponPopMod .couponArea .list li .listBtn + .item {
  margin-top: 18px;
}
.couponPopMod .couponArea .list li .listDetail {
  display: table-cell;
  padding: 27px 30px 0;
  vertical-align: top;
  min-width: 503px;
  word-break: break-all;
}
.couponPopMod .couponArea .list li .listDetail .sttl {
  display: block;
  font-size: 19px;
  line-height: 130%;
  margin-bottom: 10px;
}
.couponPopMod .couponArea .list li .listDetail p {
  color: #808080;
  line-height: 150%;
  margin-bottom: 13px;
}
.couponPopMod .couponArea .list li .listDetail .time {
  color: #f48004;
  background: url(../../images/common/icon_time_01.png) no-repeat;
  padding: 0 0 0 19px;
}
.couponPopMod .couponArea .list li .listDetail .time + .item {
  margin-top: 17px;
}
.couponPopMod .couponArea .list li .listBtn {
  width: 210px;
  text-align: center;
  display: table-cell;
  padding: 30px 30px 0 0;
}
.couponPopMod .couponArea .list li .listBtn .codeBtn {
  display: block;
  width: 208px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  border-bottom: 3px solid #b2b2b2;
  cursor: pointer;
}
.couponPopMod .couponArea .list li .listBtn .codeBtn .code {
  display: block;
  padding: 20px 12px 16px;
  font-size: 22px;
  line-height: 130%;
  word-break: break-all;
}
.couponPopMod .couponArea .list li .listBtn .codeBtn .copy {
  display: block;
  font-size: 17px;
  line-height: 130%;
  padding: 12px 0 10px;
  background: #e8e8e8 url(../../images/common/icon_copy_02.png) no-repeat 186px 5px;
}
.couponPopMod .couponArea .list li .listBtn .codeBtn.copied {
  display: block;
  border: 1px solid #a6a6a6;
  cursor: default;
}
.couponPopMod .couponArea .list li .listBtn .codeBtn.copied .copy {
  margin-top: 2px;
  background: #a6a6a6;
  color: #FFF;
}
.couponPopMod .couponArea .list li .listBtn .codeBtn:hover {
  margin-top: 2px;
  border-bottom: 1px solid #b2b2b2;
}
.couponPopMod .couponArea .list li .listBtn .codeBtn:hover .copy {
  color: #595959;
  background-color: #f0f0f0;
  transition: background-color 0.1s linear;
}
.couponPopMod .couponArea .list li .listBtn .codeBtn:hover.copied {
  margin-top: 0;
}
.couponPopMod .couponArea .list li .listBtn .codeBtn:hover.copied .copy {
  background: #a6a6a6;
  color: #FFF;
}
.couponPopMod .couponArea .info {
  border-top: 1px solid #cccccc;
  background: #f2f2f2;
  padding: 30px;
}
.couponPopMod .couponArea .info .shop .img {
  display: table-cell;
  width: 200px;
}
.couponPopMod .couponArea .info .shop .detail {
  display: table-cell;
  vertical-align: top;
}
.couponPopMod .couponArea .info .shop .name {
  font-size: 19px;
  line-height: 150%;
  margin-top: -5px;
  margin-bottom: 3px;
  display: block;
}
.couponPopMod .couponArea .info .shop p {
  color: #808080;
  font-size: 108%;
  line-height: 140%;
}
.couponPopMod .couponArea .info .shop + .item {
  margin-top: 20px;
}
.couponPopMod .couponArea .info .shop + .btn {
  margin-top: 30px;
}
.couponPopMod .couponArea .info .btn {
  text-align: center;
}
.couponPopMod .couponArea .info .btn .shopBtn01 {
  width: 240px;
  padding: 16px 0 14px;
  font-size: 17px;
}
.couponPopMod .couponArea .item {
  background: #FFF;
  border: 1px solid #d9d9d9;
  padding: 15px;
}
.couponPopMod .couponArea .item .img {
  display: table-cell;
  width: 105px;
}
.couponPopMod .couponArea .item .detail {
  width: 498px;
  display: table-cell;
  vertical-align: top;
}
.couponPopMod .couponArea .item .detail .name {
  display: block;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 8px;
}
.couponPopMod .couponArea .item .detail .name:hover {
  text-decoration: underline;
}
.couponPopMod .couponArea .item .detail .num {
  color: #666666;
}
.couponPopMod .couponArea .item .detail .num span {
  font-size: 20px;
  color: #333;
}
.couponPopMod .couponArea .item .itemBtn {
  display: table-cell;
  width: 125px;
  vertical-align: middle;
}
.couponPopMod .couponArea .item .itemBtn .shopBtn01 {
  width: 110px;
  padding: 7px 0 5px;
  font-size: 108%;
}
.couponPopMod .couponArea .item + .item {
  margin-top: -1px;
  position: relative;
}
.couponPopMod .couponArea .item + .btn {
  margin-top: 30px;
}
.couponPopMod .couponArea .item:hover {
  background-color: #fafafa;
  border-color: #cccccc;
  transition: background-color 0.1s linear;
  cursor: pointer;
}

/* ---------- topCouponList ---------- */
.summaryBox .topCouponList {
  background: #FFF;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 20px 0 0 1px;
  border: 1px solid #d4d4d4;
  margin-bottom: 11px;
}
.summaryBox .topCouponList li {
  width: 238px;
  float: left;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 88px 20px 68px;
  position: relative;
  margin-left: 19px;
}
.summaryBox .topCouponList li .cont, .summaryBox .topCouponList li .btn {
  display: block;
  width: auto;
}
.summaryBox .topCouponList li .logo {
  position: absolute;
  top: 24px;
  left: 0;
  width: 278px;
  text-align: center;
}
.summaryBox .topCouponList li h3 {
  font-weight: normal;
  padding-bottom: 0;
  margin-bottom: 0;
}
.summaryBox .topCouponList li .coupon {
  position: absolute;
  top: 14px;
  left: -1px;
  background: #699460;
  color: #FFF;
  width: 50px;
  text-align: center;
  line-height: 110%;
  font-size: 85%;
  padding: 4px 0 4px;
}
.summaryBox .topCouponList li .coupon:after {
  position: absolute;
  content: "";
  top: 4px;
  right: -2px;
  display: block;
  width: 4px;
  height: 12px;
  background: url(../../images/common/bg_coupon_01.png) no-repeat;
}
.summaryBox .topCouponList li .sttl {
  font-size: 15px;
  line-height: 120%;
}
.summaryBox .topCouponList li .sttl:hover {
  text-decoration: underline;
}
.summaryBox .topCouponList li .btn {
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 278px;
  padding-bottom: 21px;
}
.summaryBox .topCouponList li .btn .shopBtn01 {
  width: 146px;
  padding: 9px 0 6.5px;
  font-size: 14px;
}
.summaryBox .topCouponList li.code .coupon {
  background: #f53105;
}
.summaryBox .topCouponList li:hover {
  text-decoration: none;
  background-color: #fafafa;
  border-color: #cccccc;
  transition: background-color 0.1s linear;
  cursor: pointer;
}
.summaryBox .topCouponList li:hover.expired {
  cursor: default;
  background: none;
  border-color: #d9d9d9;
}
.summaryBox .topCouponList li.deal:hover .shopBtn01 {
  color: #FFF;
  text-decoration: none;
  margin-top: 1px;
  background-color: #2bcc0a;
  border-bottom: 1px solid #208c0d;
  transition: background-color 0.1s linear;
}
