html {
    overflow-y: scroll;
}

/* CONTAINER */

.container {
	width: 95%; }

@media only screen and (min-width : 601px) {
	.container {
		width: 90%; } }

@media only screen and (min-width : 993px) {
	.container {
		width: 85%; } }

@media only screen and (min-width : 1300px) {
	.container {
		width: 80%; } }

/* INPUT SHADOW FIX */

html input, html textarea {
	box-shadow: none !important;
}

/* NAVIGATION MENU FIX */

nav div.container > ul > li > a {
	/* display: inline-block; */
	padding: 0 10px;
}

/* ALIGN ON SMALL FIX */

@media only screen and (max-width: 992px) {
    .center-on-med-and-down, .center-align-on-med-and-down {
        text-align: center !important;
    }

    .left-align-on-med-and-down {
        text-align: left !important;
    }

    .right-align-on-med-and-down {
        text-align: right !important;
    }

    .left-on-med-and-down {
        float: left !important;
    }

    .right-on-med-and-down {
        float: right !important;
    }
}

@media only screen and (max-width : 600px) {	
    .center-on-small-only, .center-align-on-small-only {
        text-align: center !important;
    }

    .left-align-on-small-only {
        text-align: left !important;
    }

    .right-align-on-small-only {
        text-align: right !important;
    }

    .left-on-small-only {
        float: left !important;
    }

    .right-on-small-only {
        float: right !important;
    }
}

/* HIDE LARGE AND DOWN */

@media only screen and (max-width : 1299px) {
	.hide-on-large-and-down {
		display: none !important;
	}
}

/* HIDE LARGE AND UP */

@media only screen and (min-width : 993px) {
	.hide-on-large-and-up {
		display: none !important;
	}
}

/* SLIDER FIX */

.slider {
	height: auto !important;
}

.slider .indicators {
	position: static;
	left: auto;
	right: auto;
	bottom: auto;
	margin: 10px 0 5px 0;
}

/* TAB COLORS */

.tabs .tab a {
	color: #455a64;
}

.tabs .tab a:hover {
	color: #607d8b;
}

.tabs .indicator {
	background-color: #546e7a;
}

/* ANIMATIONS  */

@keyframes pound {
	to { transform: scale(1.4); }
}

.pound {
	animation: pound .25s infinite alternate;
	transform-origin: center;
}

/* OTHER */

.icon-block {
	padding: 0 15px;
}

/* PAGEFAIR CENTER FIX */

.pagefair-acceptable + div {
	margin: auto !important;
}

/* RATIO */

.ratio {
  position: relative;
}

.ratio > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.one-one:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}