/* sport-fitness-material */
.picto-menu.sport-fitness-material {
  background-image: url("/ecfr/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: -40px 0px !important;
  background-size: 160px 160px !important; }

/* sport-ice-hockey-1 */
.picto-menu.sport-ice-hockey-1 {
  background-image: url("/ecfr/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: -40px -80px !important;
  background-size: 160px 160px !important; }

/* sport-ice-hockey-2 */
.picto-menu.sport-ice-hockey-2 {
  background-image: url("/ecfr/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: 0px -40px !important;
  background-size: 160px 160px !important; }

/* sport-volley-2 */
.picto-menu.sport-volley-2 {
  background-image: url("/ecfr/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: -40px -40px !important;
  background-size: 160px 160px !important; }

/* sport-volley */
.picto-menu.sport-volley {
  background-image: url("/ecfr/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: -80px 0px !important;
  background-size: 160px 160px !important; }

/* sport-boat */
.picto-menu.sport-boat {
  background-image: url("/ecfr/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: -80px -40px !important;
  background-size: 160px 160px !important; }

/* sport-bodybuilding */
.picto-menu.sport-bodybuilding {
  background-image: url("/ecfr/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: 0px -80px !important;
  background-size: 160px 160px !important; }

/* sport-dance-2 */
.picto-menu.sport-dance-2 {
  background-image: url("/ecfr/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: 0px 0px !important;
  background-size: 160px 160px !important; }

/* sport-horse-riding */
.picto-menu.sport-horse-riding {
  background-image: url("/ecfr/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: -80px -80px !important;
  background-size: 160px 160px !important; }

/* sport-roller-2 */
.picto-menu.sport-roller-2 {
  background-image: url("/ecfr/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: -120px 0px !important;
  background-size: 160px 160px !important; }

/* sport-skate */
.picto-menu.sport-skate {
  background-image: url("/ecfr/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: -120px -40px !important;
  background-size: 160px 160px !important; }

/* sport-snowboard */
.picto-menu.sport-snowboard {
  background-image: url("/ecfr/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: -120px -80px !important;
  background-size: 160px 160px !important; }

/* sport-volley-3 */
.picto-menu.sport-volley-3 {
  background-image: url("/ecfr/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: 0px -120px !important;
  background-size: 160px 160px !important; }

/* sport-xc-skiing */
.picto-menu.sport-xc-skiing {
  background-image: url("/ecfr/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: -40px -120px !important;
  background-size: 160px 160px !important; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* sport-fitness-material */
  .picto-menu.sport-fitness-material {
    background-image: url("/ecfr/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-ice-hockey-1 */
  .picto-menu.sport-ice-hockey-1 {
    background-image: url("/ecfr/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-ice-hockey-2 */
  .picto-menu.sport-ice-hockey-2 {
    background-image: url("/ecfr/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-volley-2 */
  .picto-menu.sport-volley-2 {
    background-image: url("/ecfr/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-volley */
  .picto-menu.sport-volley {
    background-image: url("/ecfr/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-boat */
  .picto-menu.sport-boat {
    background-image: url("/ecfr/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-bodybuilding */
  .picto-menu.sport-bodybuilding {
    background-image: url("/ecfr/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-dance-2 */
  .picto-menu.sport-dance-2 {
    background-image: url("/ecfr/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-horse-riding */
  .picto-menu.sport-horse-riding {
    background-image: url("/ecfr/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-roller-2 */
  .picto-menu.sport-roller-2 {
    background-image: url("/ecfr/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-skate */
  .picto-menu.sport-skate {
    background-image: url("/ecfr/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-snowboard */
  .picto-menu.sport-snowboard {
    background-image: url("/ecfr/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-volley-3 */
  .picto-menu.sport-volley-3 {
    background-image: url("/ecfr/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-xc-skiing */
  .picto-menu.sport-xc-skiing {
    background-image: url("/ecfr/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; } }
#achatEtResa div.displayTxt { display:block; background:#0082c3; color:#fff; font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:10px; text-align:center; }
#achatEtResa div.displayTxt font, #achatEtResa div.stickercalcul font { color:#fff; }
#achatEtResa div.stickercalcul { display:block; padding:10px; background:#0082c3; color:#fff; font-family:Arial, Helvetica, sans-serif; font-size:12px; text-align:center; }
#achatEtResa div.stickercalcul font { text-transform:uppercase; }
#middle1 div.displayPanier { display:block; color:#0082c3; font-family:'Roboto Condensed', Arial, sans-serif; font-size:17px; font-weight:700; margin:10px 15px; text-align:left; height:28px; line-height:28px; cursor: default; }
#middle1 div.displayPanier img { vertical-align:middle; padding:0 10px 0 0; display:inline; }
#middle1 div.displayPanier font { color:#ff7200; text-transform:uppercase; }
div.displayPanier span { display: none; }
div.displayPanier:hover span { display:block; position:relative; max-width:580px; background-color:#0082c3; /*border: solid #fff 1px;*/ color:#fff; font-weight:400; padding: 10px; margin-top:15px; line-height:20px; font-size:15px }
.box-sizometer .sizometer-write-review {
    margin-top: 15px;
    display:none;
}
/* page orderdetail 
.order-main-container #next-button-top, #bottomTagCloud #next-button-bottom { background: url(/ecfr/static/head-css/images/puce-black-go.gif) 93% 50% no-repeat #f7df2f; color: #000; }
.order-main-container #next-button-top:hover, #bottomTagCloud #next-button-bottom:hover { background: url(/ecfr/static/head-css/images/puce-black-go.gif) 93% 50% no-repeat #f5d540; color: #000; }*/

/* billingmode */
a#paymentvalidcart_payment-confirm { background: url(/ecfr/static/head-css/images/puce-black-go.gif) 96% 50% no-repeat #f7df2f;  color: #000; padding-right: 10px;}
a#paymentvalidcart_payment-confirm:hover { background: url(/ecfr/static/head-css/images/puce-black-go.gif) 96% 50% no-repeat #eec523;  color: #000;} */

/* Listing Page */
#box_show_next_product .btn_show_next_product { color: #000; background-color: #f7df2f; background: -webkit-linear-gradient( #fef63a 0%, #eec523 100%); text-shadow: inherit; font-family: roboto_condensedregular, arial !important; text-transform: uppercase; }
#box_show_next_product .btn_show_next_product:hover { color: #000; background-color: #f5d540; background: -webkit-linear-gradient( #eec523 0%, #fef63a 100%); }

/* Product page */
.add_to_cart_button { color: #000; background-color: #f7df2f; background: -webkit-linear-gradient( #fef63a 0%, #eec523 100%); }
.add_to_cart_button:hover { color: #000; background-color: #f5d540; background: -webkit-linear-gradient( #eec523 0%, #fef63a 100%); }
.howtochoose .visual{
	background-image: url('/ecfr/static/how-to-choose/howtochoose-background.jpg');
}
#home.search_page .no_result * { font-family: Roboto; text-transform: uppercase; color:white; background: #0082C3; text-align: center; }
#home.search_page .title_no_result { padding-top: 25px; }
#home.search_page .newsearch p { padding:1em; }
.no_result_suggest:after, .no_result_suggest:before { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.no_result_suggest:after { border-color: rgba(136, 183, 213, 0); border-top-color: #0082C3; border-width: 20px; margin-left: -20px;}
#products_list .thumbnails-list {
	width : 100%;
}
#uploadFileButton div > #UploadFileInput{ position:inherit;opacity:1;margin-left:200px;margin-top:15px; }
.picto-menu {
    background-image: url('/skins/images/picto-menu-gtc.png?v=fix1611');
}

@media(-webkit-min-device-pixel-ratio: 2),(min-resolution:192dpi) {
    .picto-menu {
        background-image:url('/skins/images/picto-menu-gtc@2x.png?v=fix1611');
    }
}
a.genericbutton-print span.buttong {
    background: inherit;
    height: inherit;
}

a.genericbutton-print span.buttond {
    background: inherit;
    height: inherit;
}
.loginPage_page #main-content-container, .contactUs_page #main-content-container, .contactUsWithoutAccount_page #main-content-container { background:#ffffff; }
.loginPage_page .personal-account, .contactUs_page .personal-account, .contactUsWithoutAccount_page .personal-account { margin:0; display:block; width:940px; padding:30px; }
.loginPage_page .personal-account .personal-account-header, .contactUs_page .personal-account .personal-account-header, .contactUsWithoutAccount_page .personal-account .personal-account-header { display:block; height:auto; padding:0 0 3px; margin:0; }
.loginPage_page .personal-account-header .h9, .contactUs_page .personal-account-header .h9, .contactUsWithoutAccount_page .personal-account-header .h9 { color:#0083c1; font-size:30px; letter-spacing:-0.3px; padding-top:0; }
.loginPage_page .personal-account-encart, .loginPage_page .personal-account-body, .loginPage_page .personal-account-bottom, .contactUs_page .personal-account-encart, .contactUs_page .personal-account-body, .contactUs_page .personal-account-bottom, .contactUsWithoutAccount_page .personal-account-encart, .contactUsWithoutAccount_page .personal-account-body, .contactUsWithoutAccount_page .personal-account-bottom  { background:none; }
.loginPage_page .personal-account-encart, .contactUs_page .personal-account-encart, .contactUsWithoutAccount_page .personal-account-encart { display:block; margin:0 0 12px; padding:0 0 12px; font-size:12px; color:#191919; text-align:left; border-bottom:1px solid #e5e5e5; }
.loginPage_page .personal-account-body, .contactUs_page .personal-account-body, .contactUsWithoutAccount_page .personal-account-body { padding:0; display:block; }
#frm_contact .field-row { margin:0; padding:0; width:100%; height:auto; margin:0 0 12px; overflow:hidden; }
#frm_contact .field-title { width:200px; height:36px; display:block; float:left; font-size:13px; font-weight:bold; color:#191919; line-height:36px; }
form[name="frm_contact"] .mandatoryField { width:675px; height:36px; display:block; margin:0; }
.personal-account-body .field-value { float:left; height:auto; overflow:hidden; }
form[name="frm_contact"] .field-value .field-7 { /*width:275px; height:auto !important;*/ display:block; border:1px solid #cccccc !important; border-radius:2px; margin:0; padding:8px !important; background:url('/ecfr/static/head-css/images/spritescontact.jpg') 0 0 repeat-x #ffffff; float:left; }
form[name="frm_contact"] .textarea .mandatoryField { height:auto !important; }
form[name="frm_contact"] .field-value textarea#content { /*height:115px !important;*/ background:url('/ecfr/static/head-css/images/fdtextaera.png') 0 0 repeat-x #ffffff; float:left; /*width:300px !important;*/ }
form[name="frm_contact"] .textarea .mandatoryField .ValidationCheck { float:left !important; right:inherit !important; }
.personal-account-body #file-upload-area { clear:both; margin:0; padding:0; height:auto; width:100%; border-bottom:1px solid #e5e5e5; padding:0 0 12px; margin:0 0 12px; }
form[name="frm_contact"] select { width:293px !important; }
.personal-account-body #uploadFileButton { margin-top:0; position:relative; }
.personal-account-body #uploadFileButton p.fileUploadInformation { display:inline; }
.personal-account-body #uploadFileButton span.button img { display:none }
.personal-account-body #uploadFileButton span.button { cursor:pointer; width:auto; display:inline-block; background:url('/ecfr/static/head-css/images/spritescontact.jpg') 0 -72px repeat-x #0083c1; color:#ffffff !important; text-align:center; font-size:14px; font-weight:bold; line-height:36px; height:36px; padding:0 15px; margin:12px 0 0 200px; }
.loginPage_page .personal-account-bottom, .contactUs_page .personal-account-bottom, .contactUsWithoutAccount_page .personal-account-bottom  { width:100%; height:auto; display:block; margin:0; padding:0; }
.contactUs_page .personal-account-bottom #personal-account-button, .loginPage_page .personal-account-bottom #personal-account-button, .contactUsWithoutAccount_page .personal-account-bottom #personal-account-button { margin:0 0 0 200px; height:36px; }
.contactUs_page .personal-account-bottom #personal-account-button a, .loginPage_page .personal-account-bottom #personal-account-button a, .contactUsWithoutAccount_page .personal-account-bottom #personal-account-button a { margin:0; display:block; padding:0; font-size:14px; font-weight:bold; text-align:center; color:#ffffff; line-height:36px; height:36px; background:url('/ecfr/static/head-css/images/spritescontact.jpg') 0 -144px repeat-x #ff5f00; border-radius:2px; width:150px;}
.contactUs_page .personal-account-bottom #personal-account-button a span, .loginPage_page .personal-account-bottom #personal-account-button a span, .contactUsWithoutAccount_page .personal-account-bottom #personal-account-button a span { margin:0; padding:0; background:none; height:inherit !important; width:inherit !important; }
.contactUs_page .personal-account-bottom #personal-account-button a span.genericbuttong, .contactUs_page .personal-account-bottom #personal-account-button a span.genericbuttond, .loginPage_page .personal-account-bottom #personal-account-button a span.genericbuttong, .loginPage_page .personal-account-bottom #personal-account-button a span.genericbuttond, .contactUsWithoutAccount_page .personal-account-bottom #personal-account-button a span.genericbuttong, .contactUsWithoutAccount_page .personal-account-bottom #personal-account-button a span.genericbuttond { display:none }
@keyframes mymove { 0% { opacity:1; filter:alpha(opacity=100); } 50% { opacity:0.6; filter:alpha(opacity=60); } 100% { opacity:1; filter:alpha(opacity=100); } }
@-webkit-keyframes mymove { 0% { opacity:1; filter:alpha(opacity=100); } 50% { opacity:0.6; filter:alpha(opacity=60); } 100% { opacity:1; filter:alpha(opacity=100); } }
.personal-account-body #uploadFileButton span.button:hover, .contactUs_page .personal-account-bottom #personal-account-button a:hover, .contactUsWithoutAccount_page .personal-account-bottom #personal-account-button a:hover, .loginPage_page .personal-account-bottom #personal-account-button a:hover { animation:mymove 2s infinite; -webkit-animation:mymove 2s infinite; }
.find-geo-loc, .find-relay .find-other, .find-relay .find-or{ display : none; }
a.questionnaire {
    color: #0082C3;
    font-size: 14px;
    float: right;
    line-height: 36px;
}

a.questionnaire:hover {
	text-decoration: none;
}

.wishlisthelp {
    margin-top: -10px;
    margin-bottom: 10px;
    padding: 3px;
    padding-left: 2px;
    border: 1px solid rgb(212, 212, 212);
}


.wishlisthelp .whicon {
    float: left;
    padding: 6px;
    width: 30px;
    margin-right: 3px;
}
.inside-MyFilters .block-advice { margin-right:6px; margin-bottom: 5px; }
.pre-title-listing .tri-pre-listing { margin-right: 3px; }
#top ul.header_nav li.tab_nav.tab_nav_03.png_bg a { color: #fff; }
#bottomTagCloud { clear:both; overflow:hidden; position:relative; }
li:last-child .sous_nav.nav_classiques.nav_column2.png_bg { width: 411px !important; left: -326px !important; }
.showmeNowGO { opacity:1 !important; filter:alpha(opacity=100) !important; }
div#PageProduitProd a#AddToErep_buttonShowStock, div#addEbookingButton a#AddToErep_buttonShowStock { padding:0; width:170px; height:44px; display:block; background:url('/ecfr/static/btn_eresa.jpg') 0 0 no-repeat; font-size:14px; font-weight:bold; text-align:center; text-shadow:1px 1px 1px #333; color:#ffffff; }
div#PageProduitProd a#AddToErep_buttonShowStock div, div#addEbookingButton a#AddToErep_buttonShowStock div { padding:6px 10px 0; line-height:16px; }
div#PageProduitProd a#AddToErep_buttonReservation, div#addEbookingButton a#AddToErep_buttonReservation { padding:0; width:170px; height:44px; display:block; background:url('/ecfr/static/btn_eresa.jpg') bottom no-repeat; font-size:14px; font-weight:bold; text-align:left; color:#ffffff; }
div#PageProduitProd a#AddToErep_buttonReservation div.button-left, div#addEbookingButton a#AddToErep_buttonReservation div.button-left { display:none; }
div#PageProduitProd a#AddToErep_buttonReservation div.button-right, div#addEbookingButton a#AddToErep_buttonReservation div.button-right { line-height:16px; padding:7px 0 0 41px; }
div.page_nav, ul#UniverseFooter { margin-bottom:0; padding-bottom:20px; }
div.paymentaddressbilling_adress-title, div.paymentaddressshipping_adress-title { font-weight:bold; color:#000000;  }
div.paymentaddressbilling_adress-value, div.paymentaddressshipping_adress-value { color:#444444; }
div.paymentaddressshipping_order-addresses a, div.paymentaddressbilling_order-addresses a { color:#0083c1; font-size:12px; font-weight:bold; display:block; padding:5px 0 0; margin:0 0 20px; }
