/*
Theme Name: Bridge Child
Theme URI: http://demo.qodeinteractive.com/bridge/
Description: A child theme of Bridge Theme
Author: Qode Interactive
Author URI: http://www.qodethemes.com/
Version: 1.0.0
Template: bridge
*/
@import url("../bridge/style.css");

.contact_detail {
    padding-top: 70px;
}

.header-right-widget {
    background-color: #e36132;
}

#menu-top-nav-right-iscorp a {
    font-weight: bold;
    color: white;
}

.full_width {
    position: relative;
}