/** combines common.css and wide.css **/

body {
  margin: 0;
  padding: 0;
  background: #fff url(http://d2q66mvymjaj6i.cloudfront.net/static/images/back_wide2.jpg) repeat-x; 
}

body, td {
  font-family: helvetica, arial,verdana, san-serif;
  font-size: 10pt;
}

h1.heading, h3.heading {
  color:#330099;
  font-family: georgia,helvetica, arial,verdana, san-serif;
  font-weight:bold;
  font-size:18px;
  text-shadow: 1px 1px 1px #999;
}
h1.second { margin: -10px 0 0 15px; font-size: 13px; color:#28619c; text-shadow: 0 0 0;}

.free-essays-logo {
  width: 234px;
  height: 58px;
  padding: 0; margin: 0;
}




.container-parent {  /* used to maintain consistent size across header, main-wide, and footer */
  width: 90%;
  margin: 0 auto;
}

/* These are the 3 main top-level containers for each page */
.header {
  padding: 0;
  background: #0078CE; 
  height: 95px;
}


.header .logo {
  float: left;
  margin: 0 0 0 -5px;
  padding: 0;
  flex-grow: 3;
}

.header .top-right {
  /* float: right; */
  text-align: right;
  flex-grow: 2;
}



.main-wide {
  border-radius: 15px;
  background: #fff;
  padding: 15px 20px;
}




.footer {
  border-top: solid 2px #A9C1CD;
  background: #C9E1ED;
  height: 20%;
  min-height: 400px;
  max-height: 700px;
  width: 100%;
}
.footer .container-parent {
  padding: 15px 20px;
  /* Safari needs these lines */
  background: #C9E1ED;
}




.wide-footer-links{
  font-size: 12px;
  width: 250px;
}
.wide-footer-links a{
  text-decoration: none; 
  line-height: 16px;
  display: block;
  width: 240px;
}
.wide-footer-links a:hover { text-decoration: underline; }




.search-box .img-search { position:relative; top:5px; left:10px; }
.search-box{
  width: 300px;
  border: solid 1px #ccc; 
  padding: 10px 5px 20px 15px;
  margin: 5px;
  background-color: #eaf3fa;
  line-height: 27px;
}
.search-box .text-box{ width: 250px; }
.search-box input{
  margin: 3px 0 0 0;
}
.search-box form{
  display: inline;
}

/* generic container for row wrapping children divs */
.flow-container {
  width:100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
}

.even-flow{
  flex-grow: 1;
}
.flow-2{
  width: 100%;
  flex-grow: 1;
}



.page_heading   {
        font-size: 15pt;
        font-weight: bold; color: #0078CE;
        line-height: 15pt;
        font-style: italic;
        font-family: verdana;
  text-shadow: 1px 1px 1px #999;
}
.page_heading img { vertical-align: middle; }

.directory_heading{
        font-size:10pt;
        font-weight: bold;
        color: #555;
        margin: 1px 0px 0px -7px;
        text-decoration: none;
        /* border: 1px solid #cccccc; */
        padding: 2px 4px 2px 4px;
        background-color: #f1f1f1; 
}
#directory { display:none; border-bottom:2px solid #777; }

.directory {
  width: 100%;
  float: left;
  font-size: 10pt;
  padding: 5px 10px;
  margin: 5px;
}
.home-video {
  float:left;padding:5px;
}
.home-video iframe {
  width:350px; height:207px;
}



.directory a{font-size: 8pt; text-decoration:none}
.directory a:hover{text-decoration:underline;}

/****************** essay color key ********************/
div.rating-key {
  margin: 0 0 0 -10px;
  text-align: center;
}
div.rating-key div {
  padding: 3px 6px;
}
.rating-key table{
  border-bottom:solid 1px #555;
  border-right:solid 1px #999;
  width: 165px;
}
.rating-key table td {
  padding: 5px;
  margin: 0;
}


.free-essays {
  background: #f66;
}
.unrated-essays {
  background: #fb2;
}
.better-essays {
  background: #ff0;
}
.stronger-essays {
  background: #c9f;
}
.powerful-essays {
  background: #6cf;
}
.term-papers {
  background: #0fc;
}
.research-papers {
  background: #3c3;
}


/***** header search box ***********/
.header-search {
  color: #fff;
  text-align:right;
  float:right;
  padding: 5px 10px 0 5px;
}

/***************** misc *************/
.title{
  font-weight: bold;
}

.paid-view {
  line-height: 16pt; font-size: 12pt;
}

.view-essay {
  background:#f5f5f5;padding:10px;line-height:16pt; 
  width: 90%;
  max-width:1100px;
}

.small {
  font-size: 10px;
}
.category-backlinks {
  border-right: solid 1px #aaa;
  border-bottom: solid 1px #aaa;
  background: #fafafa;
  padding: 10px 15px;
  margin: 5px 0;
  line-height: 20px; 
  max-width:800px;
}

.citations {
  border-top: dashed 1px #000;
}

div.payment-err {
  width: 60%;
  margin: 10% 0 0 20%;
  font-size: 12pt;
}
div.payment-err div.refresh input{
  padding: 15px;
  margin: 15px;
  border: solid 4px #58e;
  background: #eee;
}
div.payment-err div.refresh input:hover{
  background: #ccc;
}
div.payment-err div.refresh, div.payment-err div.refresh a{
  text-decoration: none;
  font-weight: bold;
}

table.search-results td {
  font-size: 10pt;
}
table.search-results th {
  border-bottom: dotted 1px #999;
}

/******************** buttons ********/

.btn-blue {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background:  #073c71;
  padding: 8px 10px 8px 10px;
  text-decoration: none;
  white-space: nowrap;
}

.btn-blue:hover {
  background: #3cb0fd;
  text-decoration: none;
}

/*** home ***/
#browse-box img { vertical-align:middle; }
#browse-box { font-size:14px; border:solid 1px #ccc; border-top:0px; text-align:center; width:115px; padding:6px 8px; position:relative; top:-18px; left:570px; z-index:-1; }
.home-top-panel { width:700px; padding: 10px; }
.home-messages { line-height: 45px; font-size: 16px; font-weight:normal; color:#444; font-family: georgia,helvetica, arial,verdana, san-serif; padding-left:15px;  }
.home-messages img { vertical-align:middle; }




.header .top-links{
  color: #fff;
  padding: 10px 0 5px 0;
  float:left;
}

.header .top-links a {
  color: #fff; font-size: 16px; text-decoration: none; padding: 0 10px;
}
.header .top-links a:hover {
  /* border-bottom: 1px solid #fff; */
  background: #A3D7FF; /* #0098DE; */
  color: #222;
}

.wide-search-box {
  border-radius: 15px;
  background: #d2f7ff;
  float: right;
  border: solid 2px #a2d7ff; /* #0058ae; */
  padding: 5px 10px;
  width: 20%;
  min-width: 300px;
  max-width: 550px;
  text-align: center;
  margin: 8px 5px 15px 5px; 
}
.wide-search-box form, .wide-search-box form input, .wide-search-box form submit{
  style: inline;
  margin: 0;
}
.search-essay-legend{
  width:100%;
}
.search-essay-legend div{
  padding: 10px 5px;
  width:13%;
  font-weight: normal;
}

.header .cart-icon form {
}


/********** FAQs page *****************/
.question { font-weight:bold; margin-top:20px; }
.answer { border-bottom: 1px solid #aaa; padding: 10px; border-left: 2px solid #ddd; margin:10px 15px 10px 10px;  }


.related-searches { margin-left: 10px; }
.content { width: 100%; max-width: 1400px; background: #fff; } /* view and preview page */
.content .left-content{ width: 100%; max-width: 1400px; float: left; background: #fff;} /* view and preview page */
/* .content .right-content { width: 18%; min-width: 225px; max-width: 300px; float: left; padding: 0; margin: 0;} */ /* view and preview page */
.content .right-content { display: none; }
.as-featured-on { text-align:center; margin:0 0 10px 0; }
.as-featured-on img { padding:10px 0 5px 0; border:0; }
.testimonial { width: 200px; text-align:center; margin:15px auto 25px auto;
  border-right:solid 3px #ddd; padding:15px 10px 10px 50px;
  border-bottom:solid 3px #ddd; padding:15px 10px 10px 50px;
 background: url(http://d2q66mvymjaj6i.cloudfront.net/static/images/quote_back.gif) no-repeat left top; }

.preview-special-offer .left-side {  margin:0 15px 0 0; padding:0; width: 50%; max-width:280px; }
.preview-special-offer .right-side { float:right; margin: 7px 5px 5px 10px; text-align:center; }
.preview-special-offer .right-side img { margin-bottom: 10px; vertical-align:middle; }
.preview-special-offer .text { margin: 10px 0 10px 0; padding:15px; text-align:justify; background:#CDDAE5; width: 50%; max-width:230px; }
.preview-special-offer { width: 90%; max-width:650px; margin-top:12px; }
.gwo-user-rating { padding:1px; background:#fff; width:195px; text-align:center; margin:5px 2px 2px 2px; }
.gwo-user-rating img{ vertical-align:middle; }

/* 
.social-media { display:inline; position:absolute; top:0px; left:200px; width:400px;}
.social-media { display:inline; position:absolute; top:0px; left:200px; width:400px;}
.heading-and-social-media { width: 600px; position:relative;}
*/
.social-media { display:inline; }
.social-media table { display:inline; }

.action-label { width: 60px; }

.liability-table { border: solid 1px #aaa; width: 80%; padding: 5px; font-size: 80%; margin: 0 auto 0 10px;}
.view-page-ad { float:right; padding:3px 20px 3px 5px; margin: 10px; }
.preview-page-ad { min-width:200px; float:right; padding:3px 20px 3px 5px; }
.toll-free { float:right; font-size: 20px; font-weight: bold; font-family: Trebuchet; padding: 0pt 30px 0pt 0pt; }
.terms-box { position:relative;overflow:scroll;width:80%;height:90px;background-color:#ffc; font-size:80%;padding:5px; }
#crypt { display: none; }
/************************* Media Queries: placed at bottom so they are not overridden *********************/

@media(max-width:800px){  /* tablets and mobile go here */
  .destroy-if-mobile{ display: none; }
  .header { height: auto; }
  .header .top-right { width: 100%; float: none; text-align: left; max-width: auto;}
  .header .top-right .header-search { width: 100%; float: none; text-align: left; max-width: auto; }
  .header .top-right .header-search .text-box { width: 150px;}
  .header .logo { float: none; width: 100%; }
  .container-parent{ width: 100%; }
  .main-wide { border-radius: 0; padding: 5px; }
  .header .top-links{ font-size: 25px; height: auto; float: none; }
  .free-essays-logo { width: 211px; height: 52px; }
  .header .cart-icon { width: 100%; margin: 5px; height: 25px; }
  .search-essay-legend div{ padding: 0; font-size:8px; }
  .search-results .title { font-size: 18px;  } 
  .search-paging { font-size: 18px; }
  .content .left-content{ width: 100%; float: none;} /* view and preview page */
  .content .right-content{ display: none; float: none;} /* view and preview page */
}


@media(min-width:800px){  /* Desktop */
  .container-parent { min-width: 650px; max-width: 1200px; }
  .header .top-right .header-search .text-box { width: 300px;}
  .header .top-right {  max-width: 460px;}
  .header .top-links{ max-width: 550px; }
  .flow-2{
    width: 49%;
  }
  .directory {
    width: 30%;
    float: left;
    font-size: 10pt;
    padding: 5px 10px;
  }
  .home-video {
    float:left;padding:10px;
  }
  .home-video iframe {
    width:420px; height:237px;
  }
}
