@charset "UTF-8";



#header5 a,
#header5 a:visited {
   
    text-decoration: none;
}


#header5 ul li,
#footer5 ul li{
	text-indent:0;
	padding:0;
}
#footer5 a,
#footer5 a:visited {
	 text-decoration: none;
}

#megadrop_menu .arrow {
	padding:0;
	background:none;	
}

@media screen and (max-width: 480px){
#header5 {
    margin-bottom: 75px;
	
}
}



#header5 a,
#footer5 a{
	text-decoration:none;
	outline:none;
}

#header5 h1,#header5 h2,#header5 h3,#header5 h4,#header5 h5,#header5 p,
#header5 ul,#header5 li,#header5 dd,#header5 dt,#header5 dl,
#footer5 h1,#footer5 h2,#footer5 h3,#footer5 h4,#footer5 h5,#footer p,
#footer5 ul,#footer5 li,#footer5 dd,#footer5 dt,#footer5 dl{
	margin:0;
	padding:0;
	list-style:none;
}

table {
	border-collapse:separate;
}

body > table{
	border-collapse:collapse;
}
body > table > tr, body > table > td, body > table > th{
	margin:0;
	padding:0;
}

body{
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 font-family: "游ゴシック体", "Yu Gothic", YuGothic,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
 background-color: #FFFFFF;
margin: 0px;
font-weight:500;
}

.sp_only{
	display:none;	
}

img{
	border:none;	
}

#wrapper{
	overflow:hidden;
	min-width:950px;
	font-size:12px;
	min-height: 750px;
	
	/*テスト用
	box-sizing: border-box;
	border:solid red 1px;
	*/
}




.contents_wrap{
	width:1248px;
	position:relative;
	margin:0 auto;
	padding-left:24px;
	padding-right:24px;
	box-sizing: border-box;
	position:relative;
	
	/*テスト用
	border:solid blue 1px;*/
}

.content{
	width:100%;
	position:relative;
	
	/*テスト用
	box-sizing: border-box;
	border:solid orange 1px;
	*/
}


#modal{
	position:relative;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color:#fff;
	z-index: 10;
	min-height:1500px;
}



#modal .modal_header{
	position:relative;
	height:	44px;
	border-bottom: solid #ccc 1px;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 17px;
}
#modal .logo_121ware{
	margin-right: 34px;
	position: relative;
}

#modal .logo_121ware span{
	margin-left: 22px;
	font-size: 11px;
	vertical-align: 8px;
}

#modal .modal_close_btm{
	position:absolute;
	z-index:100;
	top:16px;
	right:14px;
	display:block;
	cursor:pointer;
}

#modal .modal_footer{
	font-size:11px;
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom:1.75em;
	position:absolute;
	bottom:0;
}


#modal .modal_close_btm:hover{
	-webkit-animation:blink 0.5s ease-out;
	animation:blink 0.5s ease-out;
}


#go_top {
    position: fixed;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
    z-index: 10;
}

#go_top.show img{
	 opacity: 1;
	
}

#go_top:hover{
	-webkit-animation:blink 0.5s ease-out;
	animation:blink 0.5s ease-out;
}

#go_top img {
    opacity: 0;
    display: block; 
	-webkit-transition:opacity 0.3s ease-out;
	transition:opacity 0.3s ease-out;
}



@-webkit-keyframes blink{
	0%{opacity:0.6;}
	100%{opacity:1;}
}

@keyframes blink{
	0%{opacity:0.6;}
	100%{opacity:1;}
}

.clearfix:after{
	font-size:0;
}

.clearfix { zoom: 1; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

img.copyright_pic{
	width:280px;
	height:auto;
	margin-left:-2px;
	vertical-align: -3px;
}

#footer5 #ft_copyright_pic{
	width: 280px;
	margin-top: 8px;
}


@media screen and (max-width: 480px) {
	
	
	#wrapper{
		min-width:initial;
		min-width:none;
		min-width:inherit;
		
	}
	
	.contents_wrap{
		width:100%;
		overflow:hidden;
		padding-left:20px;
		padding-right:20px;
	}
	
	.sp_only{
		display:block;	
	}
	
	.pc_only{
		display:none;	
	}
	
	
	#modal .modal_close_btm:hover{
		-webkit-animation:none;
		animation:none;
	}
	
	#modal .logo_121ware{
		float: none;
		padding-top: 22px;
		padding-left: 16px;
		padding-bottom: 16px;
		background-color: #ffffff;
		margin-right: 0;
		border-bottom: solid #eaeaea 1px;
		z-index: 6;
	}
	
	#modal .logo_121ware img{
		width: 82px;
		height: auto;
	}
	
	#modal .logo_121ware span{
		margin-left: 10px;
		vertical-align: 5px;
	}
	
	#modal .modal_header{
		padding:0;
	}
	
	#modal .modal_close_btm{
		width: 22px;
		height: auto;
		top:20px
	}
	
	#modal .modal_footer{
		width: 100%;
    	box-sizing: border-box;
		font-size:10px;
	}
	
	#go_top {
		width: 36px;
	}
	
	#go_top img{
		width:100%;
		height:auto;
	}
	
	#go_top:hover{
		-webkit-animation:none;
		animation:none;
	}
	
	img.copyright_pic{
		width:254px;
	}
	
	#footer5 #ft_copyright_pic{
		width: 280px;
		margin-top: 8px;
	}


	
}

