@charset "UTF-8";

/*---2016/11/21---*/

#header5 .logo_121ware,
#header5 .navi{
	float:left;
}
#header5 .navi{
	background:none;
}
#header5 .navi,
#header5 .navi ul{
	width:auto;
	margin:0;
}
#header5 .navi ul{
}

#header5 .navi ul a{
	padding-left:0;
	background:none;
}

#header5 .logo_121ware{
	margin-right: 34px;
	position:relative;
	z-index:2;
}

#header5 .logo_121ware span{
	margin-left:22px;
	font-size:11px;
	vertical-align: 8px
}

.ret_safari  #header5 .navi{
		margin-top:4px;
}



#header5 .navi ul li{
	float:left;
	-webkit-transition: opacity 0.5s ease-out, -webkit-transform 0.5s ease-out;
	transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

#header5 .navi ul li:hover{
	-webkit-animation:blink 0.5s ease-out;
	animation:blink 0.5s ease-out;
}

#header5 .navi ul li a{
	color: #000000;
}

#header5 .navi ul li.active{
/*margin-left: -16px;*/
margin-right: 36px;
}
#header5 .navi ul li.active span{
	color: #fff;
	padding: 7px 15px 6px;
	background-color: #404040;
	border-radius: 3px;
}



.ie11 #header5 .navi ul li.active a span,
.ie10 #header5 .navi ul li.active a span{
	padding:6px 14px 1px 15px;
	border:solid 1px #000;
	transform:translate3d(1px,0,0);
}
@supports (-ms-accelerator:true) {
	#header5 .navi ul li.active a span {
   	 padding: 5px 15px 4px;

	}
}

#header5 .products, #header5 .shopping, #header5 .support,#header5 .application, #header5 .mypage{
	font-size:14px;
	width: auto;
	margin-right: 36px;
	-webkit-transition: opacity 0.5s ease-out, -webkit-transform 0.5s ease-out;
	transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

#bizsearch{
	position:absolute;
	top:0;
	width:100%;
	box-sizing:border-box;
	padding-left:253px;
	visibility:hidden;
}

#bizsearch .close{
	width: 19px;
	height: 11px;
	padding-top: 8px;
	right: 0px;
	top: 4px;
	position: absolute;
	cursor: pointer;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}



#bizsearch .close img{
	position: absolute;
	top: 8px;
	left: -3px;
}

#bizsearch .close .line1{
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

#bizsearch .close .line2{
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#bizsearch .grass_icon{
	float:left;
	display:block;
	margin-top:-4px;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease-out, -webkit-transform 0.8s ease-out;
	transition: opacity 0.5s ease-out, transform 0.8s ease-out;
	-webkit-transform: translateX(200px);
	transform: translateX(200px);
	visibility:hidden;
}

#srchBtn{
	display: block;
	font-size: 18px;
	position: absolute;
	right: 47px;
	margin: 0;
	padding: 0;
	border: none;
	top: 4px;
	cursor: pointer;
	z-index: 5;
	background: transparent;
	float: right;
	visibility:hidden;
	width: auto;
}

#srchBtn input{
	display: block;
	font-size: 18px;
	padding: 0;
	border: none;
	margin-top:-3px;
	cursor: pointer;
	z-index: 5;
	background: transparent;
}

#bizsearchAspQuery{
	right: auto;
	left: 283px;
	width: 68%;
	visibility: hidden;
	position: absolute;
	font-size: 15px;
	padding: 5px;
	line-height: 1;
	height: auto;
	border: none;
	-webkit-transition: opacity 0.5s ease-out, -webkit-transform 0.8s ease-out;
	transition: opacity 0.5s ease-out, transform 0.8s ease-out;
	opacity: 0;
	-webkit-transform: translateX(200px);
	transform: translateX(200px);
	outline: 0;
	color: #666;
	padding-bottom: 3px;
	border-radius: 5px;
	top: -7px;
	display: block;
	background: none;
	float:left;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

@media screen and (max-width:1230px){
	#bizsearchAspQuery{width: 67%;}
}

@media screen and (max-width:1220px){
	#bizsearchAspQuery{width: 66%;}
}

@media screen and (max-width:1200px){
	#bizsearchAspQuery{width: 65%;}
}

@media screen and (max-width:1150px){
#bizsearchAspQuery{width: 64%;}
}

@media screen and (max-width:1110px){
#bizsearchAspQuery{width: 63%;}
}

@media screen and (max-width:1080px){
#bizsearchAspQuery{width: 62%;}
}

@media screen and (max-width:1050px){
#bizsearchAspQuery{width: 61%;}
}

@media screen and (max-width:1020px){

#bizsearchAspQuery{width: 60%;}
}

@media screen and (max-width:990px){

#bizsearchAspQuery{width: 59%;}
}

@media screen and (max-width:970px){

#bizsearchAspQuery{width: 58%;}
}







#header5 .nec_logo,
#barger_btn,
#header5 .search_show_btn{
	float:right;
}

#header5 .search_show_btn{

	min-height: initial;
	min-height: none;
	cursor: pointer;
	-webkit-transition: opacity 0.3s ease-out;
	margin-top: 4px;
	position: relative;
	z-index: 1;
}
#header5 .search_show_btn img{
	width: 19px;
	height: auto;
	display:block;
}

#header5 .nec_logo{
	margin-top: 3px;
	margin-right: 23px
}

.ret_safari #header5 .nec_logo{
	margin-top: 6px;
}
#header5.search .nec_logo,
#header5.search .search_show_btn{
	opacity:0;
	z-index:0;
}

#header5.search .navi{
	position:relative;
	z-index:0;
}

#header5.search .navi ul li{
	-webkit-transform: scale(0.05);
	transform: scale(0.05);
	opacity: 0;
	z-index:0;
}

.search #bizsearch .grass_icon{
	visibility: visible;
	opacity:1;
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}

.search #srchBtn{
	visibility:visible;
	z-index:1;
}

.search #bizsearch{
	visibility:visible;
}

.search #bizsearch .close{
	opacity:1;
	z-index:1;
}
.search #bizsearchAspQuery{
	visibility: visible;
	opacity: 1;
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
	z-index:1;

}
#header_block1{
	overflow: visible;
	position: relative;
	z-index: 10000;
	background-color: #ffffff;
}



#header_block1 .contents_wrap{
	padding-top:17px;

	height: 62px;
	border-bottom: solid #ccc 1px;
	width:auto;
	min-width: 950px;
}


#header_block1 .content{
	height:45px;
	position: relative;
}


#header_block2{
	border-bottom: solid #eaeaea 1px;
	position:relative;
	z-index: 10;
	background-color: #ffffff;
}
#header_block2 .contents_wrap,
#header_block3 .contents_wrap{
	width:auto;
	max-width: 1248px;
	/*min-width: 1200px;*/
}
#header_block2 .product_menu ul{
	padding: 5px 0 5px;

}


#header_block2 .product_menu li{
	font-size:15px;
	float:left;
	box-sizing:border-box;
	width:33%;
	cursor:pointer;
}

#header_block2 .product_menu li .border{
	float:right;
	padding-top: 6px;
    margin-bottom: -3px;
}

.ret_safari #header_block2 .product_menu li .border{
	padding-top:6px;
	 margin-bottom: 0px;
}
#header_block2 .product_menu li.consept .border{
	float:left;
}

#header_block2 .product_menu li.equipment{
		width:34%;
}

#header_block2 .product_menu span.text{
	display: inline-block;
	width: 96.8%;
	margin-right: auto;
	text-align: center;

	height: 40px;
	line-height: 40px;
	-webkit-transition:background-color 0.3s ease-out;
	transition:background-color 0.3s ease-out;
	border-radius:2px;
	cursor:pointer;
}

#header_block2 .product_menu li:hover span.text,
#header_block2 .product_menu li.active span.text{
	background-color:#dee8eb;
}

#header_block2 .product_menu li.active span.text{
	background-color:#dee8eb !important;
}

#header_block2 .product_menu li.equipment span.text{
	width: 94.7%;
	margin-left: 2.57%;
}

#header_block2 .product_menu .lineup span.text{
	margin-left:0
}

#header_block2 .product_menu li.consept span.text{
	float:right;
}

#header_block2 .product_menu .contents_wrap{

}

#header_block2 a{
	color:#000;
}




#megadrop{
	position:absolute;
	top:0;
	left:0;
	z-index:5;
	width:100%;
	/*visibility:hidden;*/
}

body.drop #megadrop{
	visibility:visible;
}

body.up #megadrop{
	visibility:visible;
}

#megaplate,
#megaplate2,
#megaplate3{
	position:absolute;
	width: 100%;
	overflow: hidden;
	visibility:hidden;
	max-width: 1248px;
	/*left: 50%;
	margin-left: -624px;*/

}

#megadrop_menu.contents_wrap{
	border-bottom:solid #eee 1px;
	padding-bottom:3px;
	background-color:#fff;
	max-width: initial;
	max-width:none;
	z-index: 10;
	-webkit-transition:background-color 0.3s ease-out,border-color 0.3s ease-out;
	transition:background-color 0.3s ease-out,border-color 0.3s ease-out;
}

.drop #megadrop_menu.contents_wrap{
	border-bottom:solid #c8d8d9 4px;
	padding-bottom:0;
	}

#megadrop_menu.contents_wrap.hide{
	background-color:#dee8eb;
	border-bottom:solid #dee8eb 4px;
}

#megadrop_menu.contents_wrap .content{
	-webkit-transition:opacity 0.3s ease-out;
	transition:opacity 0.3s ease-out;
}

#megadrop_menu.contents_wrap .other{
	opacity:0;
	position:absolute;
	left: 50%;
	width:50%;
	max-width: 600px;
	top:0;
	visibility:hidden;
}

#megadrop_menu.contents_wrap .other .mega_close{
	float:right;
	margin-right:17px;
	margin-top:10px;
	position: relative;
	cursor: pointer;
}

#megadrop_menu.contents_wrap.hide .lineup{
	opacity:0;
}

#megadrop_menu.contents_wrap.hide.hidden .lineup{
	/*visibility:hidden;*/
}

#megadrop_menu.contents_wrap.hide .other{
	visibility:visible;
	opacity:1;
}

#megadrop_menu.contents_wrap.hidden .other{
	visibility:visible;
}

#megadrop_menu a{
	color:#000;
}

#megadrop_menu .content{
	max-width:1200px;
	margin: 0 auto;
}

#megadrop_menu ul{
	padding:6px 0 5px;

}

.ret_safari #megadrop_menu ul{
	padding:5px 0 6px;

}

#megadrop_menu .change_tab{
	float:left;
}

#megadrop_menu .link_tab{
	float:right;
	padding-right: 19px;
	margin-left: -12px;
}

#megadrop_menu li{
	height:36px;
	font-size:13px;
	float:left;
	line-height:38px;

}

#megadrop_menu li .icon{
	float:left;
	margin-top: -1px;
	margin-right:4px;
}

#megadrop_menu li.dt .icon{
	margin-top: 0;
}

#megadrop_menu .change_tab li{

	border-radius:2px;
	margin-right:12px;
	position: relative;
	padding: 0 9px 0 11px;
	cursor:pointer;
	-webkit-transition:background-color 0.3s ease-out;
	transition:background-color 0.3s ease-out;
}


#megadrop_menu .change_tab li:hover,
#megadrop_menu .change_tab li.active{
	background-color:#deebeb;
}

#megadrop_menu .link_tab li{
	background-image:url(/navigate/common/images/megadrop_menu_link_arrow.png);
	background-repeat:no-repeat;
	background-position:right center;
	margin-left:30px;
	padding-right:26px;
}
#megadrop_menu .link_tab li:hover{
	-webkit-animation:blink 0.5s ease-out;
	animation:blink 0.5s ease-out;
}

#megadrop_menu .arrow{
	position:absolute;
	width:11px;
	height: 4px;
	left:50%;
	margin-left:-5px;
	bottom:-4px;
}

#megadrop_menu .arrow img{
	display:block;
	position:absolute;
	top:0;left:0;
	-webkit-transition:opacity 0.3s ease-out;
	transition:opacity 0.3s ease-out;
}

#megadrop_menu .arrow img.active_color{
	opacity:0;
}

#megadrop_menu .change_tab li:hover .arrow img.active_color,
#megadrop_menu li.active .arrow img.active_color{
	opacity:1;
}

#megadrop_menu .change_tab li:hover .arrow img.single_color,
#megadrop_menu li.active .arrow img.single_color{
	opacity:0;
}


@media screen and (max-width:1248px) {
	#megaplate,
	#megaplate2,
	#megaplate3{
		left:0;
		margin-left:0;
	}
}


#megaplate.show,
#megaplate2.show,
#megaplate3.show{
	visibility:visible;
}

#mega_cover{
	position:fixed;
	width:100%;
	height:100%;
	-webkit-transition:opacity 0.5s ease-out;
	transition:opacity 0.5s ease-out;
	opacity:0;
	top:0;
	visibility:hidden;
}

body.drop #mega_cover{
	opacity:1;
	visibility:visible;
	z-index: 1;
}

#mega_cover img{
	width:100%;
	height:100%;
}

#megaplate .banner_line{
	width: 23.4%;
	position:absolute;
	top:68px;
	right:0;
	z-index:1;
}

#megaplate .banner_line a{
	display:block;
	position: absolute;
	width: 33px;
	top: 14px;
	right: 13px;
}

#megaplate .banner_line>div{
	background-size:cover;
	background-position:center;
	position:relative;
	cursor:pointer;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

#megaplate .banner_line .banner1{
	background-image:url(/navigate/common/images/megadrop_bunner1.png);
	height:150px;
	background-size: cover;
}

#megaplate .banner_line .banner2{
	background-image:url(/navigate/common/images/megadrop_bunner2.png);
	height:150px;
	background-size: 100%;
}

#megaplate .banner_line .banner3{
	background-image:url(/navigate/common/images/megadrop_bunner3.png);
	height:166px;
	background-size: cover;
	background-position: 0.2% center;
}

#megaplate .icon_line{
	width: 23.32%;
	box-sizing:border-box;
	position:absolute;
	right:0;
	bottom:0;
	visibility:hidden;
}
#megaplate .icon_line [class^='icon']{

	background-color:#222222;
	position:relative;
	color:#fff;
	cursor:pointer;
	-webkit-transition:background-color 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#megaplate .icon_line [class^='icon'].active{
	background-color:#91b1bb;

}

#megaplate .icon_line [class^='icon'] img{
	width:48px;height:39px;
	display: block;
	float:left;
	margin-right: 11px;
}

#megaplate .icon_line [class^='icon'] .inner{
	position: absolute;
	left: 17%;
	margin-left: -32px;
	top:50%;
	margin-top:-26px;
	width:100%;
}

#megaplate .icon_line dl{
	font-size: 12px;
	line-height: 1.42;
	float: left;
	padding-top: 6px;
	text-align: left
}

#megaplate .icon_line .link img{

}

#megaplate .icon_line .icon1,
#megaplate .icon_line .icon2,
#megaplate .icon_line .icon3{
	height:68px;
}

#megaplate .icon_line .icon2 dl,
#megaplate .icon_line .icon3 dl{
	padding-top:4px;
}

#megaplate .icon_line .icon4 dl{
	padding-top:2px;
}

#megaplate .icon_line .icon5 dl{
	padding-top:2px;
}

#megaplate .icon_line .icon5 img{
	margin-top:6px;
}

#megaplate .icon_line .icon5 .inner{
	top:40%;
}

#megaplate .icon_line .icon4{
	height:82px;
}

#megaplate .icon_line .icon5{
	height:110px;
}

#megaplate .icon_line .link{
	background:url(/navigate/common/images/mega_iconback_gray.png);
	text-align:left;
	padding-bottom: 41px;
}



#megaplate .icon_line .link .title{
	float:left;
	font-size: 12px;
    color: #fff;
	cursor:pointer;
}
#megaplate .icon_line .link li{
	margin-left: 17%;
	left: -25px;
	position: relative;
}

#megaplate .icon_line .link li:hover .title{
	color:#fff;
}

#megaplate .icon_line .link li a{
	/*font-size:11px;
	color:#757575;
	*/
}

#megaplate .icon_line .link li.line2{
	padding-top:12px;
	height: 22px;
	border-top: solid 1px #303030;

}

#megaplate .icon_line .link li.line1 a{
	display:none;
}

#megaplate .icon_line .link li{
	padding-top:6px;
	height: 20px;
	cursor:pointer;
}



#megaplate .icon_line .link li.line4{
	padding-bottom:11px
}
#megaplate .icon_line .link li>img{
	float:right;
}

#megaplate .icon_line .link .arrow{
	background-image:none;
	padding:0;
	float:right;
}

#megaplate .icon_line .link li:hover .arrow{
	background-image:url(/navigate/common/images/megaarrow_gray_active.png);
}

#megaplate .icon_line .link li:hover .arrow img{
	visibility:hidden;
}

#megaplate .icon_line .tab_arrow{
	position:absolute;
	right: 0px;
	background-color:#fff;
	-webkit-transform-origin:right center;
	-ms-transform-origin:right center;
	transform-origin:right center;
}

#megaplate .icon_line .tab_arrow.zero{background-color:#fff;top: 26px;}
#megaplate .icon_line .tab_arrow.frista{background-color:rgb(97,169,197);top: 96px;}
#megaplate .icon_line .tab_arrow.ns{background-color:#91989e;top: 164px;}
#megaplate .icon_line .tab_arrow.desk{background-color:#b8b8b8;top: 240px;}
#megaplate .icon_line .tab_arrow.tablet{background-color:#9da2a5;top: 336px;}

#megaplate .icon_line .tab_arrow img{
	width: 6px;
	height: auto;
	display:block;
}



#megaplate .tab_line{
	width: 100%;
	float:none;
	box-sizing:border-box;
	background-color: #fff;
	/*border-top: solid #e5e5e5 1px;
	margin-left: -1px;*/
	height: 533px;
	position: relative;
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
}


#megaplate .tab_line .link_line {
	position:absolute;
	top: 23px;
	right: 215px;
}

#megaplate .tab_line .link_line.pc_only:hover{
	-webkit-animation:blink 0.5s ease-out;
	animation:blink 0.5s ease-out;
}

#megaplate .tab_line .link_line .arrow{
	background-image:none;
}
#megaplate .tab_line .link_line a{
	color:#000;
	font-size:11px;
	letter-spacing:-1px;
	/*text-decoration:underline;*/
	border-bottom:solid #dedede 2px;
}

#megaplate .tab_line .product_info .link_line{
top: auto;
bottom: 6px;
right: 7px;
}

#megaplate .tab_line .product_info .link_line a{
	color:#fff;
}

#megaplate .tab_line .win_logo{
	position:absolute;
	top: 22px;
	right: 60px;
}

#megaplate .tab_line>[class^='tab']{
	-webkit-transition:opacity 0.3s ease-in-out;
	transition:opacity 0.3s ease-in-out;
	opacity:0;

	visibility:hidden;
	top: 0;
	position: absolute;
	width:100%;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	z-index:0;
}

#megaplate .tab_line>[class^='tab'].show{
	visibility:visible;
	opacity:1;
	background-color: #fff;
	z-index:1;
}

#megaplate .tab_line>[class^='tab'].hide{
	visibility:visible;
	display:block;
	z-index:-1;
}

#megaplate .tab_line h2{
	width:245px;height:auto;
	border: none;
	background-color: #fff;
	margin-left: 15px;
	padding-top: 21px;
	padding-bottom:19px;
	box-sizing:border-box;
	height: 68px;
}

#megaplate .tab_line h2 img{
	width: 245px;
	height: auto;
}


#megaplate .tab_lineup{

	width: 76.7%;
	background-color: #eeeeee;
}
#megaplate .mega_close{
	width:26px;
	position:absolute;
	right:17px;
	top:19px;
	cursor:pointer;
}

#megaplate .product_info{
	width:273px;
	width:33.33%;
	height:466px;
	float:left;
	position:relative;
	overflow:hidden;
	cursor:pointer;
}


#megaplate .product_info:first-child{
	margin-left:0;
}

#megaplate .product_info>img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	position: relative;
	height:auto;
}

#megaplate .product_info .feature{
	position:absolute;
	color:white;
	top:25px;
	height:415px;
	width:100%;
	padding-left: 14px;
	padding-right: 15px;
	box-sizing: border-box;
}

#megaplate .product_info .wight_text{
	position:absolute;
	left:15px;
	bottom:0px;
}

#megaplate .product_info:first-child .wight_text{
	bottom: -20px;
	line-height: 1.5;
}
#megaplate .product_info .wight_text.wight_text_long {
	bottom: -1.2em;
}

#megaplate .product_info .wight_text.note{
	font-size: 10px;
    -webkit-transform: scale(0.8);
    -webkit-transform-origin: left top;
	-ms-transform: scale(0.8);
	-ms-transform-origin: left top;
	transform: scale(0.8);
	transform-origin: left top;
    bottom: -12px;
    line-height: 1.2;
	white-space: nowrap;
}
#megaplate .product_info p .kome{
	font-size:0.6em;
	position:relative;
	top:-5px;
	margin-left:1px;
}

#megaplate .product_info .info_text{
	font-size:12px;
	line-height:20px;
	box-sizing:border-box;
	border:solid #fff 1px;
	border-radius:5px;
	text-align: center;
	margin-bottom:15px;
	width: auto;
	padding:0 0.3em;
	display:inline-block;
	text-align:left;
}

#megaplate .tab5 .product_info .info_text{
	line-height:15px;
	padding-top: 2px;
	padding-bottom: 2px;
}
@media screen and (max-width: 1100px){

#megaplate .product_info.zero2 .info_text br.sp_only{
	display:block !important;

}

#megaplate .product_info.zero2 .info_text,
#megaplate .product_info.desk2 .info_text,
#megaplate .product_info.tablet2 .info_text{
	line-height: 1.25;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
}

#megaplate .product_info .feature p{
	font-size:18px;
	line-height:1.5;
	text-align:left;
	min-width: 230px;
}

#megaplate .product_info .link{
	position:absolute;
	top:0;
	right:15px;
	width:33px;
	top: -5px;
	right: 13px;
}

#megaplate .product_info .link img{
	width:100%;
	height:auto;
}

#megaplate .zero1{
	background-color:#96a2aa;
	float:right;
	margin-left:-2px;
}

#megaplate .zero1>img{
	width: 90%;
	margin-left: 5%;
	top: 82%;
	margin-top: -220px;
	max-width: 315px;

}

#megaplate .zero2{
	background-color:#a0afbd;
}

#megaplate .zero2>img{
	width: 190%;
	left: -44%;
	margin-top: -85px;
	max-width: 596px;
	bottom: -42%;
	margin-top: -62%;
}

#megaplate .zero3{
	width:33.4%;
	float:left;

	background-color:#abbccf;
}

#megaplate .zero3 .tume{

}
#megaplate .zero3.product_info p{
min-width: 250px;
}

#megaplate .zero3>img{
	width: 195%;
	left: -43%;
	max-width: 620px;
	bottom: -40%;
	margin-top: -75.5%;
}

#megaplate .tab_line .tab2 .frista1{
	background-color:rgb(97,169,197);
}
#megaplate .product_info.frista1 .info_text{
	width: 90px;
}



#megaplate .tab_line .tab2 .frista1>img{
	width: 190%;
	left: -48.5%;
	max-width: 598px;
	margin-top: -105%;
	bottom: -65%;
}


#megaplate .ns1{
	background-color:#91989e;
}
#megaplate .ns2{
	background-color:#af98a2;
}
#megaplate .ns3{
	background-color:#c7b1a4;
}

#megaplate .ns1>img{
	width: 177%;
	left: -35%;
	max-width: 566px;
	bottom: -72%;
	margin-top: -117%;
}

#megaplate .ns2>img{
	width: 187%;
	left: -43.8%;
	margin-top: -85px;
	max-width: 568px;
	bottom: -58.2%;
	margin-top: -93.2%;
}

#megaplate .ns3>img{
	width: 195%;
	left: -40%;
	margin-top: -85px;
	max-width: 598px;
	bottom: -56%;
	margin-top: -92%;
}

#megaplate .tablet1>img{
	width: 195%;
	left: -40%;
	max-width: 590px;
	bottom: -54.5%;
	margin-top: -96.2%;
}

#megaplate .tablet2>img{
	width: 215%;
	left: -56%;
	max-width: 648px;
	bottom: -53%;
	margin-top: -108%;
}

#megaplate .tablet3>img{
	width: 220%;
	left: -64%;
	max-width: 688px;
	bottom: -55%;
	margin-top: -94.2%;
}

#megaplate .tab4 h2.desk_power{
	position: absolute;
	top: 0;
	left: 325px;
}

#megaplate  .tab_line .tab4 h2{
	height:68px;
	box-sizing:border-box;

}

#megaplate  .tab_line .tab4 h2 img{
	width:90%;height:auto;
}


#megaplate .desk1{
	background-color:#b8b8b8;
}
#megaplate .desk2{
	background-color:#b8aba6;
}

#megaplate .tab4 h2.all_in_one{
	max-width: 265px;
	width: 29.85%;
	margin-left: 15px;
}

#megaplate .tab4 h2.desk_power{
	max-width: 245px;
	width: 27.6%;
	margin-left: 15px;
	left:25.5%;
}

#megaplate .tablet1{
	background-color:#9da2a5;
}
#megaplate .tablet2{
	background-color:#b09791;
}
#megaplate .tablet3{
	background-color:#c7b1a4;
}

#megaplate .tab5 h2{
	width:25.7%;
	max-width:245px;
	margin-left:15px;
	padding-top: 22px;
	height: 68px
}

#megaplate .tab5 h2 img{
	width:100%;
	height:auto;
}

#megaplate .tab5 h2.e,
#megaplate .tab5 h2.s{
	position:absolute;
	top:0;
}

#megaplate .tab5 h2.e{
	left:25.5%;
}

#megaplate .tab5 h2.s{
	left:51%;
}


#megaplate .tab4 .info_text br,
#megaplate .tab5 .info_text br{
	display:none;
}

#megaplate .tab5 .info_text{

}

#megaplate .tab5 .info_text .tume{
	letter-spacing:-1px;
}

#megaplate .tab5 .tablet3 .info_text{
	/*width:140px;*/
}
#megaplate .tab5 .feature p{
font-size:17px;
}

#megaplate .tab5 .feature p .tume{
	letter-spacing:-1px;
}

megaplate2 .tume{
	margin-left:-0.52em;
	margin-right:-0.25em;
}

@media screen and (max-width:1225px) {

	#megaplate .tab4 .desk2 .info_text,
	#megaplate .tab5 .tablet1 .info_text,
	#megaplate .tab5 .tablet2 .info_text{
		line-height: 15px;
		padding-top: 2px;
		padding-bottom: 2px;
		/*width:170px;*/
		text-align:left;
		padding-left:3px;

	}
	#megaplate .tab5 .tablet2 .info_text{
		padding-left:6px;
	}
	#megaplate .tab4 .desk2 .info_text br,
	#megaplate .tab5 .tablet1 .info_text br,
	#megaplate .tab5 .tablet2 .info_text br{
		display:block;
		line-height:0.1;
	}
}

#megaplate .tab4 .desk2 .info_text br,
	#megaplate .tab5 .tablet1 .info_text br,
	#megaplate .tab5 .tablet2 .info_text br{
		display:block;
		line-height:0.1;
	}


@media screen and (max-width:1070px) {
	#megaplate .tab4 h2{padding-top:22px;}
}

@media screen and (max-width:980px) {
	#megaplate .tab4 h2{padding-top:23px;}
}

.ie11 #megaplate .info_text{
	padding-top:3px;
}


#megaplate .desk1>img{
	width: 190%;
	left: -42%;
	max-width: 620px;
	bottom: -68%;
	margin-top: -75.5%;
	bottom: -72%;
	margin-top: -116%;
}

#megaplate .desk2>img{
	width: 190%;
	left: -43%;
	max-width: 620px;
	bottom: -68%;
	margin-top: -75.5%;
	bottom: -72%;
	margin-top: -116%;
}



#megaplate .tab_line .tab3 h2 img{
	width:265px;
	padding-bottom: 21px
}

#megaplate .tab_line h2 img{
	/*width: 265px;*/
}

#megaplate .frista1 .tume,
#megaplate .ns3 .tume{
	letter-spacing:-1px;
}

#megaplate .tab4 .info_text{
	/*width: 175px;*/
}

#megaplate .tab4 .info_text .tume{
	letter-spacing:-1px;
}

#megaplate .tab4  .feature p{
	font-size: 17px;
	letter-spacing:0px;
}

#megaplate .desk1 .tume{
	letter-spacing:-2px;
}

#megaplate3 li.line2 .pr{
color: #fff;
position: relative;
position: absolute;
bottom: 5px;
left: 10px;
font-size:15px;
vertical-align:bottom;
bottom: 0;
}

#megaplate3 li.line2 .pr .name{
	font-size:1.2em;
}
@media screen and (min-width:1200px) {
	.pc_over{
		display:none;
	}
	#megaplate .zero1>img{
		top: auto;
		bottom: -5px;
		position: absolute;
		left: 41%;
		margin-left: -110px;
	}

	#megaplate .tab_line .tab1 .zero2>img{
		left: 51%;
		margin-left: -292px;
		top: 4px;
		margin-top: 0;
	}

	#megaplate .tab_line .tab1 .zero3>img{
		left: 50%;
		margin-left: -280px;
		top: -45px;
		margin-top: 0;
	}

	#megaplate .tab_line .tab2 .frista1>img{
		left: 50%;
		margin-left: -304px;
		top: -22px;
		margin-top: 0;
	}

	#megaplate .ns1>img{
		top: 70%;
		margin-top: -200px;
		left: 32%;
		margin-left: -205px;
		top: -24px;
		margin-top: 0;
		top: auto;
		bottom: -40px;
		margin-bottom: -5%;
		position: absolute;
	}


	#megaplate .ns2>img{
		left: 51%;
		margin-left: -292px;
		top: -14px;
		margin-top: 0;
	}

	#megaplate .ns3>img{
		left: 50%;
		margin-left: -276px;
		top: -22px;
		margin-top: 0;
	}

	#megaplate .desk1>img{
		left: 50%;
		margin-left: -282px;
		top: -20px;
		margin-top: 0;
	}

	#megaplate .desk2>img{
		left: 50%;
		margin-left: -286px;
		top: -20px;
		margin-top: 0;
	}

	#megaplate .tablet1>img{
		left: 51%;
		margin-left: -278px;
		top: -40px;
		margin-top: 0;
	}

	#megaplate .tablet2>img{
		left: 50%;
		/*margin-left: -297px;
		top: -38px;*/
		margin-left: -325px;
		top: -85px;
		margin-top: 0;
	}

	#megaplate .tablet3>img{
		left: 50%;
		margin-left: -347px;
		top: -33px;
		margin-top: 0;
	}
}

@media screen and (min-width:1260px) {
	#megaplate .ns1>img{
		bottom: -55px;
		margin-bottom: 0;
	}

}

@media screen and (min-width:1060px) {
	#megaplate2 dt br{
		display:none;
	}
}



#megaplate2 ul,
#megaplate3 ul{
/*border-top: solid #d9d9d9 1px;*/
background-color:#fff;
}
#megaplate2 li,
#megaplate3 li{
	float:left;
	width:25%;
	box-sizing:border-box;
	position:relative;
	border-left:solid #eaeaea 1px;
	background-color:#fff;
	cursor:pointer;
}

#megaplate2 li img.pr_img,
#megaplate3 li img.pr_img{
	display:block;
}
#megaplate2 li:hover img.pr_img,
#megaplate3 li:hover img.pr_img{
	-webkit-animation:blink 0.5s ease-out;
	animation:blink 0.5s ease-out;
}

.ie9 #megaplate2 li:hover img.pr_img,
.ie9 #megaplate3 li:hover img.pr_img{
	opacity:0.7;
}

#megaplate2 li:first-child,
#megaplate3 li:first-child,
#megaplate3 li.line5{
	border-left:none;
}

#megaplate3 li.line1,
#megaplate3 li.line2,
#megaplate3 li.line3,
#megaplate3 li.line4{
	border-bottom:solid #eaeaea 1px;
}
#megaplate2 li.line4,
#megaplate3 li.line4{
	width:25%;
	margin-left:-2px;
	float:right;
}
#megaplate2 li.line2 .img_clip .bg{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-image: url(/navigate/common/images/megaplate2_pic2.jpg);
	background-size: 125%;
	background-position: 0% 65%;
	background-repeat: no-repeat;
	-webkit-transition:-webkit-transform 0.3s ease-in-out;
	transition:transform 0.3s ease-in-out;
}

#megaplate2 li.line2:hover .img_clip .bg{
	-webkit-animation:blink 0.5s ease-out;
	animation:blink 0.5s ease-out;
}

#megaplate2 li.line2:hover .img_clip img{
	-webkit-animation:none;
	animation:none;
}

.ie9 #megaplate2 li.line2:hover .img_clip .bg{
	opacity:0.7;
}

#megaplate2 li.line2 .img_clip .pr_img{
	opacity:0;
	/*visibility:hidden;*/
}
.ie9 #megaplate2 li.line2:hover .pr_img{
	opacity:0;
}


@media screen and (max-width:1085px) {
	#megaplate2 li .text dd{
		font-size:11px;
	}
	#megaplate3 li .text p{
		font-size:12px;
	}
}


#megaplate2 li .img_clip,
#megaplate3 li .img_clip{
	position:relative;
	overflow:hidden;
}

#megaplate2 li .img_clip img.pr_img,
#megaplate3 li .img_clip img.pr_img{
	width:120%;
	height:auto;
	-webkit-transition:-webkit-transform 0.3s ease-in-out;
	transition:transform 0.3s ease-in-out;
}
#megaplate3 li .img_clip img.pr_img{
	width: 110%;
	margin-left: -5%;
}

#megaplate2 li.line1 img.pr_img,
#megaplate2 li.line3 img.pr_img{
	margin-left:-5%;
}

#megaplate3 li.line1 img.pr_img,
#megaplate3 li.line4 img.pr_img,
#megaplate3 li.line6 img.pr_img{
		margin-left:-5%;
}

#megaplate2 li .img_clip img.link,
#megaplate3 li .img_clip img.link{
	display:block;
	position:absolute;
	right:14px;
	top:14px;
}

#megaplate2 li .text{
	/*padding:22px 22px 22px 27px;*/
	padding: 22px 4% 22px 6%;
}
#megaplate3 li .text{
	/*padding:17px 22px 15px 27px;*/
	padding: 22px 4% 22px 6%;
}

#megaplate2 li dt,
#megaplate3 li p{
	font-size:13px;
	text-align:left;
	line-height:1.3;
	margin-bottom:0.3em;
}


#megaplate3 li p{
	margin-bottom:0;
}
#megaplate2 li dd{
	font-size:12px;
	text-align:left;
	line-height:1.66;
}

#header_block2.support{
	width:100%;
}



@media screen and (min-width:481px) {
	#megaplate .sp_only{
		display:none !important;
	}
}

@media screen and (max-width:1160px) {
	#megadrop_menu .change_tab li,
	#megadrop_menu .change_tab1 li {
		letter-spacing:-1px;
	}

	#megadrop_menu .link_tab li {
		margin-left:5%;
	}

	#megadrop_menu .link_tab{
		width:34.5%;
		box-sizing: border-box;
		padding-right: 0.5%;
	}

	#megadrop_menu .link_tab li {
		margin-left:7%;
    	padding-right: 25px
	}
}

@media screen and (max-width:1120px) {
	#megadrop_menu .change_tab li,
	#megadrop_menu .change_tab1 li{
		padding: 0 1% 0 2%;
		margin-right: 1%;
	}

	#megadrop_menu .change_tab,
	#megadrop_menu .change_tab1{
		width:65%;
	}

	#megadrop_menu .link_tab{
		width:33.5%;
		padding-right: 0.5%;
	}

	#megadrop_menu .link_tab li {
		margin-left:5%;
	}
}

@media screen and (max-width:1255px) {
	#megaplate .tab1 .product_info .feature p,
	#megaplate .tab2 .product_info .feature p{
		font-size: 17px;
	}
}

@media screen and (max-width:1240px) {
	#megaplate .product_info .feature p {
		font-size: 17px;
	}
}

@media screen and (max-width:1080px) {
	#megadrop_menu .change_tab,
	#megadrop_menu .change_tab1{
		width:64%;
	}

	#megadrop_menu .change_tab li,
	#megadrop_menu .change_tab1 li {
		padding: 0 1% 0 1.5%;
		margin-right: 1%;
	}
	#megadrop_menu .link_tab{
		width:33%;
	}

	#megadrop_menu .link_tab li {
		margin-left: 4%;
		padding-right: 23px
	}
}

@media screen and (max-width:1060px) {
	#megadrop_menu .change_tab li,
	#megadrop_menu .change_tab1 li {
		padding: 0 1% 0 1.2%;
		margin-right: 1%;
	}
	#megadrop_menu .change_tab,
	#megadrop_menu .change_tab1{
		width:63%;
	}

	#megadrop_menu .link_tab{
		width:33.5%;
	}

	#megadrop_menu .link_tab li {
		margin-left: 3.5%;
	}
}

@media screen and (max-width:1055px) {
	#megaplate .product_info .feature p {
		font-size: 16px;
	}
	#megaplate .tab1 .product_info .feature p,
	#megaplate .tab2 .product_info .feature p{
		font-size: 16px;
	}
	#megaplate .tab1 .product_info .feature p .tume{
		letter-spacing:-1px;
	}
}


@media screen and (max-width:1040px) {
	#megadrop_menu .change_tab li,
	#megadrop_menu .change_tab1 li{
		padding: 0 1% 0 0.8%;
		margin-right: 0.5%;
	}
	#megadrop_menu .change_tab,
	#megadrop_menu .change_tab1{
		width:62.5%;
	}
	#megadrop_menu .link_tab{
		width:33.5%;
	}
}

@media screen and (max-width:1000px) {
	#megadrop_menu .change_tab li,
	#megadrop_menu .change_tab1 li{
		letter-spacing:-1px;
		padding: 0 0.5% 0 0.5%;
		margin-right: 0.5%;
	}

	#megadrop_menu .change_tab,
	#megadrop_menu .change_tab1{
		width:62%;
	}

	#megadrop_menu .link_tab{
		width:34.5%;
		box-sizing: border-box;
		padding-right: 0.5%;
	}

	#megadrop_menu .link_tab li {
		margin-left: 10px;
    	padding-right: 22px
	}
}

@media screen and (max-width:1000px) {
	#megaplate .tab4 .product_info.desk1 .info_text br{
		display:block;
	}
	#megaplate .tab4 .product_info.desk1 .info_text{
		line-height: 15px;
		padding-top: 2px;
   		padding-bottom: 2px;
	}
}



/*tab修正*/

#megaplate .tab5 .tablet2 .info_text .br1{
	display:none;
}
#megaplate .tab5 .tablet3 .info_text .br1{
	display:none;
}

@media screen and (max-width: 1160px){
	#megaplate .tab5 .tablet2 .info_text .br1{
		display:block;
	}
	
}
@media screen and (max-width: 980px){
#megaplate .tab5 .tablet3 .info_text .br1{
	display:block;
}
}





/**********************************/
/*               SP               */
/**********************************/

@media screen and (max-width: 480px){

	#header5.search .navi ul li {
		-webkit-transform:none;
		transform: none;
		opacity: 1;
		z-index: 1;
		-webkit-transition:none;
		transition:none;
	}

	#header_block2,
	#header_block3,
	#sp_menu{
		visibility:hidden;
	}
	#header_block2.show,
	#header_block3.show,
	#sp_menu.show{
		visibility:visible;
	}

	#header5{
	}
	#header5 .contents_wrap{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0px;
		min-width:initial;
		min-width:none;
		height: auto;
	}


	#header_block1 .contents_wrap{
		overflow:visible;
	}

	#header_block2 .contents_wrap{
		height:38px;
		border-bottom: 1px solid #e9e9e9;
	}


	#header5 .content{
	height:auto;
	}

	#header5 .logo_121ware span{
		margin-left: 10px;
		vertical-align: 5px;
	}
	#header_block2 .content,
	#header_block3 .content{
		padding-top:0;
	}

	#header5 .logo_121ware a{
		display:inline-block;
		height: 19px;
	}

	#header5 .logo_121ware img {
		width: 82px;
		height: 19px;
	}

	#header5 .logo_121ware{
		float: none;
		padding-top: 22px;
		padding-left: 16px;
		padding-bottom: 16px;
		background-color:#ffffff;
		margin-right: 0;
		border-bottom:solid #eaeaea 1px;
		z-index:6;
	}

	#sp_menu{
		position:relative;
	}

	#barger_btn{
		width: 35px;
		height: 35px;
		top: 16px;
		right: 16px;
		position: absolute;
		cursor:pointer;
		z-index: 6;
	}

	#barger_btn .open {
		position: absolute;
		top: 0;
		left: 0;
	}

	#barger_btn .close {
		opacity:0;
	}

	#barger_btn.btn_open .open{
		opacity:0;
	}
	#barger_btn.btn_open .close{
		opacity:1;
	}



	#barger_btn .border1,
	#barger_btn .border2,
	#barger_btn .border3 {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	#barger_btn .border2 {
		top: 8px;
	}

	#barger_btn .border3 {
		top: 16px;
	}

	#barger_btn [class^='border'] img {
		position: absolute;
		height: 2px;
		-webkit-transition: -webkit-transform 0.3s ease-out,opacity 0.3s ease-out;
		transition: transform 0.3s ease-out,opacity 0.3s ease-out;
	}

	#barger_btn.btn_open .border1 img {
		-webkit-transform: translate(1px,7px) rotate(45deg) scaleX(0.66);
		-ms-transform: translate(1px,7px) rotate(45deg) scaleX(0.66);
		transform: translate(1px,7px) rotate(45deg) scaleX(0.66);
	}

	#barger_btn.btn_open .border2 img {
		opacity: 0;
		-webkit-transform: scaleX(0.01);
		-ms-transform: scaleX(0.01);
		transform: scaleX(0.01);
	}

	#barger_btn.btn_open .border3 img{
		-webkit-transform: translate(0.5px,-7.5px) rotate(-45deg) scaleX(0.66);
		-ms-transform: translate(0.5px,-7.5px) rotate(-45deg) scaleX(0.66);
		transform: translate(0.5px,-7.5px) rotate(-45deg) scaleX(0.66);
	}
	#barger_btn .border1 img, #bargerBtn .border3 img {
		-webkit-transform-origin: 45% center;
		-ms-transform-origin: 45% center;
		transform-origin: 45% center;
	}




	#barger_btn.btn_open .close {
		opacity: 1;
	}

	#barger_btn img {
		top: 0;
		width: 100%;
		height: auto;
	}


	#bizsearch{
		position:relative;
		padding-left:0;
	}

	#bizsearchAspQuery{
		position: relative;
		visibility: visible;
		left: 0px;
		opacity: 1;
		font-size: 13px;
		transform: none;
		padding: 6px 10px 6px 0;
		width: 90%;
		float:none;

	}

	#header_block1 .contents_wrap{
		border:none;
	}

	#header_block2{
		border:none;
	}

	#header5 #header_block2 .product_menu li{
		width:33.4%;
		margin-right:0;
	}

	#header5 #header_block2 .product_menu li.equipment{
		width:33.3% !important;
	}

	#header_block2 .product_menu li.lineup{
		border-right:solid 1px #e5e5e5;
	}

	#header_block2 .product_menu li.consept{
		border-left:solid 1px #e5e5e5;
		float:right;
		margin-right:-2px;
	}

	#header5 #header_block2 .product_menu li span.text{
		height:32px;
		width:auto;
		display:block;
		text-align:center;
		margin:3px;
		font-size: 12px;
		float: none;
		line-height: 32px;
	}

	#header_block2 .product_menu li.equipment span.text {
		white-space:nowrap;
		letter-spacing:-0.5px
	}

	#header5 #header_block2 .product_menu li span.text .tume{
		margin-left:-0.25em;
		margin-right:-0.25em;
	}

	#header_block2 .product_menu li.consept{
		margin-left: -2px;
	}

	#header_block2 .product_menu li .border{
		display:none;
	}

	#header_block2 .product_menu ul{
		padding:0;
	}

	#header_block2 .product_menu li{
		font-size:11px;
		cursor: default;
	}
	#header5 .nec_logo{
		position: absolute;
		right: 50px;
		top: 16px;
		z-index: 2;
	}

	#header5 .navi{
		float:none;
	}

	#bizsearch{
		padding: 0;
		border: solid #e5e5e5 4px;
		/*border-right: solid 8px #e5e5e5;*/
		box-sizing: border-box;
		visibility: visible;
		margin-top: 0;
	}

	#bizsearch .close{
		display:none;
	}

	#srchBtn{
		visibility: visible;
		background: url(/navigate/common/images/sarch_grass.png) no-repeat;
		background-size: 100% 100%;
		width: 18px;
		height: 18px;
		right: 12px;
		top: 22px;
	}

	#srchBtn input{
		opacity: 0;
		width: 100%;
	}

	#bizsearchAspForm{
		margin: 13px 10px;
	}
	#bizsearchAspQuery{
	padding: 8px 10px 4px 0;
	top:0;
	}

	#bizsearch .grass_icon{
		display:none;
	}
	#header5 .navi ul li{
	    width: 49.9999%;
		border: solid 1px #e5e5e5;
		border-top-width: 2px;
		background-color: #fff;
		box-sizing: border-box;
		margin: 0;

	}

	#header5 .navi ul li:hover{
		-webkit-animation:none;
		animation:none;
	}




	#header5 .navi ul li.active{
    background-color: #404040;
    margin: 0;
	}
	#header5 .navi ul li a{
		display: block;
		padding:0;
		text-align: left;
		box-sizing: border-box;
		width: 100% ;
		line-height: normal;
		font-size: 13px
	}


	#header5 .navi ul li span{
		padding: 18px 12px 18px;
		background: url(/navigate/common/images/menu_arrow.png) no-repeat 93% center;
		background-size: 20px 20px;
		display: block;
	}

	#header5 .navi ul li.active span{
    background-color: #404040;
		padding: 18px 12px 18px;
		background-image:none;

	}

	#header5 .navi ul li.support,
	#header5 .navi ul li.mypage,
	#header5 .navi ul li.sitemap{
		letter-spacing:-1px;
	}

	#header5 .navi ul li.products,
	#header5 .navi ul li.support{
		border-left: solid 4px #e5e5e5;
	}

	#header5 .navi ul li.shopping,
	#header5 .navi ul li.mypage{
		border-right: solid 4px #e5e5e5;
	}


	#header5menu{
		border-bottom: solid 3px #e5e5e5;
	}




	#megadrop_menu{
		display:none;
	}

	#header_block3 .contents_wrap{
		overflow:visible;
	}

	#megaplate2 li .text dd{
		font-size:10px;
	}


	#megaplate .banner_line{
		width: 100%;
		position: relative;
		top:0;
	}



	#megaplate .banner_line a{
		width:20px;
		top: 17px;
		right: 4%;
		width: 20px
	}

	#megaplate .banner_line a img{
		width:100%;
		height:auto;
	}


	#megaplate .banner_line>div{
		height:54px !important;
	}


	#mega_cover{
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}


	#megaplate .icon_line{
		visibility:visible;
		position:relative;
		right:auto;
		bottom:auto;
	}

	#megaplate .icon_line .tab_arrow.zero{background-color:transparent;top:auto;left:10%;}
	#megaplate .icon_line .tab_arrow.frista{background-color:transparent;top:auto;left:30%;}
	#megaplate .icon_line .tab_arrow.ns{background-color:transparent;top:auto;left:50%;}
	#megaplate .icon_line .tab_arrow.desk{background-color:transparent;top:auto;left:70%;}
	#megaplate .icon_line .tab_arrow.tablet{background-color:transparent;top:auto;left:90%;}
	#megaplate .icon_line .tab_arrow{
		-webkit-transform:translateX(-50%);
		-ms-transform:translateX(-50%);
		transform:translateX(-50%);
		bottom: -1px;
		right: auto;
		width: 3%;
	}

	#megaplate .icon_line .tab_arrow img{
		width:100%;
	}

	.arrow{
		background:none;
		padding:0;
	}

	#megaplate .icon_line .tab_arrow img.pc_only {
		visibility:hidden;
	}

	#megadrop .lineup{
		background-color:#222;
		color: #fff;
		font-size: 15px;
		height: 44px;
		line-height: 45px;
		overflow: hidden;
	}

	#megadrop .lineup .title_line .title{
		float:left;
		margin-left: 17px;
	}

	#megadrop .lineup .title_line .close{
		float:right;
		margin-right: 17px;
		margin-top: 15px;
		line-height: 1;
	}

	#megadrop .lineup .title_line .close img{
		width: 12px;
		height: auto;
	}

	#megaplate .icon_line{
		width: 100%;
		float: none;
		clear:both;
	}
	#megaplate .icon_line [class^="icon"]{
		width:20%;
		float:left;
		text-align:center;
		background: #3a3a3a;
		height: 56px;
		height: auto;
		padding-bottom: 6px;
		padding-top: 6px;
	}

	#megaplate .icon_line .icon2 dl{
		white-space:nowrap;
		letter-spacing:-1px;
	}


	#megaplate .icon_line [class^="icon"] .inner {
		position: relative;
		left: 0%;
		margin-left:0;
		top:auto;
		margin-top:0;
	}

	#megaplate .icon_line [class^="icon"] img{
		float:none;
		display: inline-block;
		width: 50%;
		height: auto;
		margin:auto;
	}

	#megaplate .icon_line .link{
		display:none;
	}

	#megaplate .icon_line .link a{
		display:block;
	}

	#megaplate .icon_line [class^="icon"] dl{
		float: none;
		text-align:center;
		font-size: 10px;
		padding-top: 6px;
	}

	#megaplate .icon_line dd{
		display:none;
	}

	#megaplate .tab_line .win_logo {
		display:none;
	}
	#megaplate .tab_lineup {
		width:100%;
	}
	#megaplate .tab_line{
		margin-left:0;
		height: 390px;
		/*height: 420px;*/
		width:100%;
		float:none;
		background-color:#eeeeee;
	}



	#megaplate .tab_line h2{
		width:43.46%;
		margin-left: 2%;
		padding-top: 10px;
		padding-bottom: 9px;
		height: auto;
		background-color:transparent;
	}

	#megaplate .tab_line .tab3 h2{
		padding-bottom: 9px;
		width: 47.06%;
	}

	#megaplate .tab_line h2 img{
		width:100%;
	}
	#megaplate .tab_line .tab3 h2 img {
		width: 100%;
		padding-bottom:0;
	}


	#megaplate .tab_line .link_line{
		font-size:10px;
		font-size: 10px;
		padding: 3% 4%;
		border-bottom: #aeaeae 1px solid;
	}
	#megaplate .tab_line .link_line.mbottom{
		border: medium none;
		padding-bottom: 2%;
	}

	#megaplate .tab_line .link_line a{
		color:#000;
	}

	#megaplate .tab_line .link_line .title{
		float:left;
		display: inline-block;
		line-height:1;
	}

	#megaplate .tab_line .link_line .arrow{
		float: left;
		margin-top: -2px;
		margin-left: 5px;
	}
	#megaplate .tab_line .link_line .arrow img{
		width: 12px;
		height: auto;
	}

	#megaplate .tab4 .desk2 .info_text br{
		/*display:none;*/

	}

	#megaplate .tab4 .product_info.desk1 .info_text br{
		display:none;
	}
	#megaplate .tab4 .product_info.desk1 .info_text{
		line-height: 1;
		padding-top: 2px;
   		padding: 5px 5px 2px;
	}


	#megaplate .product_info:first-child {
		margin-left:auto;
	}
	#megaplate .product_info {
		width: 96%;
		margin-left:auto;
		margin-right:auto;
		height: 114px;
		float: none;
		position: relative;
		overflow: hidden;
		cursor:auto;
	}



	#megaplate .product_info > img {
		margin: 0;
		position: absolute;
		left: 65%;
		top: 50%;
		-webkit-transform: translateX(0) translateY(-50%);
		-ms-transform: translateX(0) translateY(-50%);
		transform: translateX(0) translateY(-50%);
		width: 30%;
	}

	#megaplate .product_info .info_text {
		font-size: 10px;
		line-height: 1;
		box-sizing: border-box;
		border: solid #fff 1px;
		border-radius: 3px;
		margin-bottom: 7px;
		display: inline-block;
		padding: 5px 5px 2px;
		float:left;
		width:auto;
		z-index: 1;
		position: relative;
	}
	
	#megaplate .product_info.frista1 .info_text{
		width:auto;
	}


	#megaplate .tab5 .product_info.tablet2  .info_text,
	#megaplate .tab5 .product_info.tablet3  .info_text {
		margin-bottom: 6px;
	}

	#megaplate .product_info .feature p {
    font-size: 12px;
	line-height: 1.5;
	clear: both;
	}

	#megaplate .tab1 .product_info .feature p,
	#megaplate .tab2 .product_info .feature p{
		font-size: 12px;
	}

	#megaplate .tab1 .product_info .feature p .tume{
		letter-spacing:0;
	}
	#megaplate .product_info .feature{
		height: 100%;
		top: 14px;
		text-align: left;
	}
	#megaplate .product_info .wight_text {
		left: 10px;
		top: 0;
		position: relative;
		float: left;
		font-size: 10px;
		padding-top:6px;
		line-height: 1;
		position:relative;
		z-index:1;
		/*line-height:20px;*/
	}
	#megaplate .tab1 .product_info.zero3 .wight_text{
		left: 0px;
		width: 285px;
		padding-top: 0;
	}
	
	#megaplate .product_info .wight_text.wight_text_long {
		/*position: absolute;*/
		top: auto;
		bottom: 0;
		/*margin-bottom: 4.5%;*/
	}
	#megaplate .product_info .wight_text.note{
		position: absolute;
		top: 78px;
	}
	#megaplate .product_info.ns1 .wight_text.note{
		top: 75px;
	}
	#megaplate .product_info .link {
		width: 20px;
		top: -6px;
		right: 8px;
		z-index: 1;
	}

	#megaplate .zero1 > img {
		margin-top:1%;
		left: 70%;
	}

	#megaplate .zero2 > img {
		width:65%;
		margin-left: -20%;
	}

	#megaplate .zero3 > img {
		width: 70%;
		margin-left: -22.5%;
		margin-top: -2.3%;
	}

	#megaplate .tab_line .tab2 .frista1 > img {
		width: 60%;
		left: 45%;
		max-width: 598px;
		margin-top: 0;
	}

	#megaplate .ns1 > img {
		width: 60%;
   		margin-left: -17%;
   		margin-top: -5.5%;
	}

	#megaplate .ns2 > img {
		width: 64%;
		margin-left: -22%;
		margin-top: -4%;
	}
	#megaplate .ns3 > img {
		width: 70%;
		margin-left: -22.5%;
		margin-top: -3.2%;
	}

	#megaplate .desk1 > img {
		width: 60%;
		margin-left: -17.5%;
		margin-top: -1.2%;
	}

	#megaplate .desk2 > img {
		width: 65%;
		margin-left: -21.5%;
		margin-top: -0.4%;
	}

	#megaplate .tab4 h2.all_in_one {
		width: 47.06%;
		margin-left: 15px;
		height: auto;
		margin-left: 2%;
	}

	#megaplate .tab4 h2.desk_power {
		width: 43.46%;
		margin-left: 0;
		left: 2%;
		position: relative;
		height: auto;
	}

	#megaplate .link2 .line1{
		display:none;
	}

	#megaplate .link2{
	    background-color: #eee;
    	font-size: 13px;
		padding: 3% 0px;
	}



	#megaplate .link2 li{
		padding:2% 4%;
		line-height: 1;
	}

	#megaplate .link2 a{
		color:#000;
	}

	#megaplate .link2 .title{
		float:left;
	}

	#megaplate .link2 .arrow{
		float:right;
		margin-top:-3px;
	}
	#megaplate .tab5 h2{
		float:left;
		padding-top: 12px;
		padding-bottom: 7px;
	}

	#megaplate .tab5 h2.e,
	#megaplate .tab5 h2.s {
		left: 0;
		position: relative;
	}

	#megaplate .tab5 .tablet1 .info_text br,
	#megaplate .tab5 .tablet2 .info_text br,
	#megaplate .tab5 .tablet3 .info_text br.br1{
		display:none;
	}
	

	#megaplate .tab5 .tablet1 .info_text,
	#megaplate .tab5 .tablet2 .info_text,
	#megaplate .tab5 .tablet3 .info_text{
		width:auto;
		line-height: 1.2;
		padding-top: 3px;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		-webkit-transform-origin: left top;
		-webkit-transform-origin: left top;
		transform-origin: left top;
	}

	#megaplate .tab5 [class^='tablet'] .info_text br{
		display:none;
	}

	#megaplate .tab5 [class^='tablet'] .info_text{
		width:auto;
	}

	#megaplate .tab5 .product_info{
		height: 92px;
		/*height:100px;*/
	}

	#megaplate .tab5 .product_info .feature p{
		line-height:1.7;
	}

	#megaplate .tab5 .product_info.tablet2 .feature p,
	#megaplate .tab5 .product_info.tablet3 .feature p{
		line-height:1.3;
	}
	
	#megaplate .tab5 h2 img{
		width: 175px;
	}

	#megaplate  .tab5 .link_line	{
		padding: 4% 2% 0;
		border-bottom: none;
		float: right;
		
	}

	#megaplate .tablet1 > img {
		width: 62%;
		margin-left: -16.5%;
		margin-top: -2%;
		max-width: 232px;
	}

	#megaplate .tablet2 > img {
		width: 75%;
		margin-left: -26.5%;
		margin-top: -4%;
		max-width: 268px;
	}

	#megaplate .tablet3 > img {
		width: 65%;
		margin-left: -22%;
		margin-top: 1%;
		max-width: 246px;
	}


	/*僅少品削除*/

	#megaplate .tab_line .link_line{
		display:none !important;
	}

	#megaplate .tab_line{
		padding-bottom: 0.75em;
		border-top:none;
	}

	#megaplate .link2{
		border-top: #aeaeae 1px solid;
	}

	/*一覧で表示、仮削除*/

	#megaplate .link2 .line2{
		display:none;
	}

	/*megaplate2*/

	#megaplate2 li, #megaplate3 li{
		width: 50%;
		border-left: none;
		border-bottom: solid #eaeaea 3px;
	}
	#megaplate2 li.line2,
	#megaplate2 li.line4,
	#megaplate3 li.line2,
	#megaplate3 li.line4,
	#megaplate3 li.line6,
	#megaplate3 li.line8{
		width: 50%;
		float:right;
		margin-left:-2px;
		border-left: solid #eaeaea 2px;
		border-right: none;
	}

	#megaplate2 li .img_clip img.pr_img,
	#megaplate3 li .img_clip img.pr_img{
	width:100% !important;
	height:auto;
	margin-left:0 !important;
	-webkit-transition:-webkit-transform 0.3s ease-in-out;
	transition:transform 0.3s ease-in-out;
	}

	#megaplate2 li.line2 .img_clip .pr_img{
		opacity:1;
	}

	#megaplate2 ul, #megaplate3 ul {
		border: solid #eaeaea 5px;
		border-bottom-width: 3px;
	}

	#megaplate2 li dt, #megaplate3 li p {
		font-size: 11px;
	}

	#megaplate2 li dd {
		font-size: 10px;
		line-height: 1.4;
	}


	#megaplate2 li .img_clip img.link,
	#megaplate3 li .img_clip img.link{
		width:9%;
		height:auto;
		right: 4%;
		top: 8%;
	}

	#megaplate2 li .text,
	#megaplate3 li .text{
		padding: 3%;
		-webkit-transform: scale(0.96);
		-ms-transform: scale(0.96);
		transform: scale(0.96);
		/*width: 103%;

		-webkit-transform-origin: left top;
		-ms-transform-origin: left top;
		transform-origin: left top;*/

	}

	#megaplate3 li .text{
			padding: 3% 0;
			position:relative;

	}

	#megaplate3 li .text p{
		position:relative;
		text-align:center;
	}
	#megaplate3 li.line2 .pr{
		font-size:10px;
		-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
		-webkit-transform-origin:left bottom;
		-ms-transform-origin:left bottom;
		transform-origin:left bottom;
		bottom: 3px;
	}


	#megaplate3 li.line1 .text p,
	#megaplate3 li.line2 .text p,
	#megaplate3 li.line4 .text p,
	#megaplate3 li.line6 .text p{
		-webkit-transform:translateY(50%);
		-ms-transform:translateY(50%);
		transform:translateY(50%);
	}

	#megaplate3 li.line7,
	#megaplate3 li.line8{
		display:none;
	}

	megaplate2 li.line2:hover .img_clip .bg{
		-webkit-transform:scale(1);
		-ms-transform:scale(1);
		transform:scale(1);
	}

	#megaplate2 li:hover img.pr_img,
	#megaplate3 li:hover img.pr_img{
		-webkit-transform:scale(1);
		-ms-transform:scale(1);
		transform:scale(1);
	}


	#megaplate .icon_line .tab_arrow{
		-webkit-transform-origin:center bottom;
		-ms-transform-origin:center bottom;
		transform-origin:center bottom;
		background:none !important;
	}


	#megaplate3 li .text p{
		font-size: 11px;
	}


	#megadrop_menu .link_tab li:hover{
		-webkit-animation:none;
		animation:none;
	}

	#megaplate2 li:hover img.pr_img,
	#megaplate3 li:hover img.pr_img{
		-webkit-animation:none;
		animation:none;
	}

	#header5 .navi{
		margin-top:0px;
	}



}
