@charset "UTF-8";




#footer5{
	width:100%;
	max-width:100%;
	min-width:998px;
	min-width:950px;
	box-sizing: border-box;
	margin-top:0;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	border-top:solid 1px #e5e5e5;
}
#footer5.width1200{
	min-width:950px;
}

#footer5 .footer_main{
	max-width:100%;
	width:100%;
	position:relative;
	margin:0 auto;
	padding-left:24px;
	padding-right:24px;
	padding-top:9px;
	padding-bottom:7px;
	box-sizing: border-box;
	font-size:12px;
    text-align: left;
	
}
#footer5 .footer_main a:hover {
	opacity:0.5;
}

#footer5 .clearfix [class^='ft_']{
	width:auto;
	margin-left:24px;
	margin-top:10px;
	float: left;
}

#footer5 .clearfix [class^='ft_']:first-child{
		margin-left:0px;
}

#footer5 .clearfix [class^='ft_'] a{
	text-indent: 0;
	background:none;
	font-size:12px;
	margin-bottom:0px;
	color:#000;
	text-decoration:none;
	width:auto;
	margin-left:0;
	line-height:1;
	display: block;
	height:12px;
}


#footer5  .clearfix .ft_copyright{
	font-size:0.916em;
	margin-top:11px;
	line-height:1;
	margin-right:3.2em;
	width: 300px;
    float: right;
    text-align: right;
	margin-left:0;
}

	
#footer5 .sns.clearfix{
	float:left;
	width:186px;
	padding:0;
	box-sizing:inherit;
}

#footer5 .sns a{
	display:block;
	float:left;
	margin-left:4px;
}

#footer5 .sns a:first-child{
	margin-left:0;
}


/* ----------------------------------------------
	関連リンク
---------------------------------------------- */
#linkArea2 {
	width:100%;
	max-width:100%;
	box-sizing: border-box;
	background-color:#2e2e2e;
	padding: 38px 0 29px;
	text-align: left;
}
#linkArea2 .linkMain {
	width:100%;
	max-width:1248px;
	box-sizing: border-box;
	margin: 0 auto;
	padding-left:24px;
	padding-right:24px;
}
#linkArea2 .linkMain:first-child {
	margin-bottom:30px;
}

#linkArea2 .link_list {
	display: block;
	float: left;
	width:23%;
	margin-right:2.66%;
	
}
#linkArea2 .link_list.list4 {
	margin-right:0;
}
#linkArea2 .link_list.list4 .link_list {
	width:100%;
	margin-right:0;
	float:none;
}

#linkArea2 .link_list .sp_btn {
	font-size:15px;
	line-height:48px;
	vertical-align:middle;
	width:100%;
	border-top:2px solid #434343;
	border-bottom:1px solid #434343;
	box-sizing:border-box;
	margin-bottom:12px;
	background-image:url(/navigate/common/images/link_area_arrow.png);
	background-size:21px 21px;
	background-repeat:no-repeat;
	background-position:right center;
}

#linkArea2 .link_list .sp_btn.nolink{
	background-image:none;
}

#linkArea2 .link_block {
	margin-bottom:21px;
}

#linkArea2 .left_block,
#linkArea2 .right_block{
	float:left;
	width: 48%;
}
#linkArea2 .right_block{
	width: 52%;
}
#linkArea2 .link_a{
	font-size:12px;
	cursor:pointer;
}
#linkArea2 .link_category{
	font-size:10px;
	color:#cccccc;
}

#linkArea2 a {
	display:block;
	width:100%;
}


#linkArea2,
#linkArea2 a,
#linkArea2 a:visited,
#linkArea2 a:link{
	color:#fff;
}

#linkArea2 br.pc_only{
	display:none;	
}

#footer5 .title{
	width:auto;
}

@media screen and (max-width: 1160px) {
	#linkArea2 li.nowrap{
		white-space:nowrap;
		-ms-transform-origin:left top;
		-webkit-transform-origin:left top;
		transform-origin:left top;
		-ms-transform:scaleX(0.9);
		-webkit-transform:scaleX(0.9);
		transform:scaleX(0.9);
	}
	
	#linkArea2 .link_list.list3 .left_block{
		width:50%;
	}
	
	#linkArea2 .link_list.list3 .right_block {
		width:50%;
	}
}


@media screen and (max-width: 480px) {

	#footer5,
	#footer5.width1200 { 
		min-width: 320px;
	}
	
	#linkArea2 {
		background: #ffffff;
		padding-top: 0;
		margin-top: -1px;
		padding-bottom: 0;
	}
	#linkArea2 .linkMain {
		padding:0;
	}
	#linkArea2 .linkMain:first-child {
		margin-bottom: 0;
	}
	
	#linkArea2 .link_block {
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom:0;
		border-top: transparent 1px solid;
	}
	#linkArea2 .link_block:first-child {
		margin-top: 1em;
	}
	
	#linkArea2 .left_block,
	#linkArea2 .right_block{
		float:none;
		width: 100%;
	}
	
	#linkArea2 .link_list.list3 .left_block{
		width:100%;
	}
	
	#linkArea2 .link_list.list3 .right_block {
		width:100%;
	}
	
	#linkArea2 .link_list,
	#linkArea2 .link_list.list3 {
		float: none;
		width:100%;
		margin-right:0;
		
	}
	
	
	
	#linkArea2,
	#linkArea2 a,
	#linkArea2 a:visited,
	#linkArea2 a:link,
	#linkArea2 .link_category{
		color:#000;
	}
	
	
	#linkArea2 .list1.sp_btn{
		border-top: solid #777 2px;
	}
	#linkArea2 .link_list .sp_btn{
		position:relative;
		border-top: solid #777 1px;
		border-bottom: solid #777 1px;
		margin-bottom:-1px;
	}
	
	#linkArea2 .link_list .sp_btn a{
		cursor:default;
	}
	
	#linkArea2 .sp_btn .title{
		font-size: 12px;
		line-height: 40px;
		height: 40px;
		text-align:center;
	}
	
	#linkArea2 .sp_btn .icon{
		position:absolute;
		right:25px;
		top:0;
		line-height: 40px;
		height: 40px;
		font-size: 18px;
	}
		
	#linkArea2 .sp_btn .icon .minus{
		position:absolute;
		width:100%;
		text-align:center;
		top:0;left:0;
		visibility:hidden;
		transform: scaleX(1.8);
		-webkit-transform: scaleX(1.8);
		-ms-transform: scaleX(1.8);
		font-weight: normal;
	}
	#linkArea2 .sp_btn.open .icon .plus {
		visibility: hidden;
	}
	#linkArea2 .sp_btn.open .icon .minus {
		visibility: visible;
	}
	
	#linkArea2 .link_list>.clearfix {
		/*height:0;*/
		overflow:hidden;
		
	}
	#linkArea2 .link_a {
		margin-top:1em;
		background: url(/navigate/common/images/sp_arrow_small.png) no-repeat right 90%;
		background-size: 1.2em;
	}
	#linkArea2 .link_category {
		margin-top:1.2em;
		margin-bottom:0;
	}
	
	#linkArea2 .right_block{
		
	}
	#linkArea2 .left_block .link_block:first-child,
	#linkArea2 .right_block .link_block:first-child {
		margin-top:0;
	}
	
	
	#footer5 .footer_main {
		border-top: solid 1px #777;
		position: relative;
		height: auto;
		padding:0;
		padding-bottom: 30px;
		padding-top: 18px;
		
	}
	
	
	#footer5 .sns.clearfix {
		float: none;
		width: 100%;
		text-align: center;
	}
	#footer5 .sns a {
		display: inline-block;
		float: none;
	}
	#footer5 .clearfix [class^="ft_"] {
		margin-left: 7%;
		margin-top: 3%;
	}
	#footer5 .clearfix [class^="ft_"] a {
		font-size: 10px;
	}
	
	#footer5 .clearfix .ft_copyright{
		float: none;
		clear: both;
		margin: 0 auto;
		padding: 10px 0 0;
		bottom: 20px;
		left: 0;
		padding-top: 24px;
		margin-top: 3%;
		margin-left: 20px;
		line-height: 1;
		text-align: left;
		width: auto;
		font-size:10px;
	}
	
	#linkArea2 li.nowrap{
		white-space:normal;
		-ms-transform:none;
		-webkit-transform:none;
		transform:none;
	}
	
	#linkArea2 .link_list ul:last-child{
		margin-bottom: 2em;
	}
	
	
	
	
}




