@charset "UTF-8";

.sp_only{
	display:none;	
}


.contents_wrap{
	width:1248px;
	position:relative;
	margin:0 auto;
	padding-left:24px;
	padding-right:24px;
	box-sizing: border-box;
}
a{
	text-decoration:none;
	outline:none;
}

h1,h2,h3,h4,h5,p,
ul,li,dd,dt,dl{
	margin:0;
	padding:0;
	list-style:none;
}

body{
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}



@media screen and (max-width: 1248px) {
	.contents_wrap{
		width:100%;
	}
}

#wrapper{
	overflow:hidden;
	min-width:950px;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#header_mask{
	width:100%;
	height:500px;
	position:absolute;	
	z-index:100;
	top:-499px;
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0)
}

#header_mask img{
	display:block;
	width:100%;
	height:100%;
	position:absolute;
}


table{
	border-collapse:collapse;
}
tr,td,th{
	margin:0;
	padding:0;
}

#header3{
	position:relative;
	z-index:1;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

body.ie10 #header3{

}


#header3 #GlobalNavi{
	background:none;
}

#header3 #GlobalNavi li a{
		font-size:14px;
		color:#000;
		margin-left:0;
}


#header3 #GlobalNavi li{
	background:none;
}

#header3 #GlobalNavi ul{
	position:relative;
	width:100%;
}
#header3 #GlobalNavi li a{
	background:none !important;
	width:auto !important;
	height:auto !important;
}

#header3 #GlobalNavi li{
	background:none !important;
}

#header3 #GlobalNavi li a span{
	text-indent:0;
	display:inline;	
}

#header3 #GlobalNavi>.contents_wrap{
	width:auto;	
}


	
#header3 #GlobalNavi ul{
	padding-top:20px;
}


#header3 .logo_121ware a,
#header3 .hd_nlogo a{
	display:block;
	
}

#header3 .logo_121ware{
	margin-left:-1px;
}

#header3 #GlobalNavi ul li.logo_121ware{
	margin-right: 40px;
}





#header3  #GlobalNavi .hd_nlogo{
	margin-top:6px;
	float: right;
	margin-right: 42px
}





#header3 #GlobalNavi ul li #bizsearchAspForm{
	background:none;
	
}



#header3 #GlobalNavi ul li #bizsearchAspQuery{
	border:solid 1px #ccc;
	margin-left:0;
	right: 25px;
	top: 1px;
}

h1{
	display:block;
}


#header3 #GlobalNavi .bizsearch .grass_icon{
	display:block;
	float: left;
	margin-left: 127px;
	margin-top: -2px;
	-webkit-transition:opacity 0.5s ease-out,-webkit-transform 0.8s ease-out;
	transition:opacity 0.5s ease-out,transform 0.8s ease-out;
	opacity:0;
	-webkit-transform:translateX(200px);
	transform:translateX(200px);
}
#header3 #GlobalNavi .serch .bizsearch .grass_icon{
	opacity:1;
	-webkit-transform:translateX(0px);
	transform:translateX(0px);
}
	
#GlobalNavi .bizsearch .close{
	width:19px;
	height:11px;
	padding-top:8px;
	right: 0px;
	top:3px;
	position: absolute;
	cursor: pointer;
	opacity:0;
	-webkit-transition:opacity 0.3s ease-out;
	transition:opacity 0.3s ease-out;
}

#GlobalNavi .serch .bizsearch .close{
	opacity:1;
}

#GlobalNavi .bizsearch .close img{
	display:block;
	position:absolute;
	top:8px;
	left:-3px;
}

#GlobalNavi .bizsearch .close img.line1{
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
}

#GlobalNavi .bizsearch .close img.line2{
	-webkit-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	transform:rotate(-45deg);
}

.ie8 #GlobalNavi .bizsearch .close{
	background-image:url(/navigate/products/common/images/header_serch_close.png);
}

.ie8 #GlobalNavi .bizsearch .close img{
	visibility:hidden;
}


#header3 #GlobalNavi ul li #bizsearchAspQuery{
	right:auto;
	left: 165px;
	width: 79%;
	visibility:hidden;
	position: absolute;
	font-size: 15px;
	padding: 5px;
	line-height:1;
	height:auto;
	border: none;
	-webkit-transition:opacity 0.5s ease-out,-webkit-transform 0.8s ease-out;
	transition:opacity 0.5s ease-out,transform 0.8s ease-out;
	opacity:0;
	-webkit-transform:translateX(200px);
	transform:translateX(200px);
	outline: 0;
	color:#666;
	
	padding-bottom: 3px;
	border-radius: 5px;
	top: -3px;
}

#header3 #GlobalNavi ul.serch li #bizsearchAspQuery{
	visibility:visible;
	opacity:1;
	-webkit-transform:translateX(0px);
	transform:translateX(0px);
}


#header3 #GlobalNavi ul li.bizsearch{
	position:absolute;
	width:100%;
	/*right:0;*/
	left:0;
	visibility:hidden;
	opacity:0;
}

#header3 #GlobalNavi .serch li.bizsearch{
	z-index:2;
	visibility:visible;
	opacity:1;
}

#header3 #GlobalNavi .serch_show_btn{
	position: absolute;
	right: 0px;
	top: 25px;
	min-height: initial;
	min-height: none;
	cursor:pointer;
	-webkit-transition:opacity 0.3s ease-out;
}

#header3 #GlobalNavi .serch_show_btn img{
	width:19px;
	height:auto;
}

#header3 #GlobalNavi .serch .serch_show_btn{
	opacity:0;
}


#srchBtn2{
	display: block;
	font-size: 18px;
	position: absolute;
	right: 45px;
	padding: 0;
	border: none;
	top: -2px;
	cursor: pointer;
	z-index: 5;
	background: transparent;
}



#header3 #GlobalNavi li a{
	line-height:1;
	/*font-weight:bold;*/
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
}

#header3 #GlobalNavi .sitemap{
	display:block;
	margin-right:86px;
}


#GlobalNavi input#srchBtn{
	float: left;
	margin-left: 127px;
	margin-top: -8px;
	display:none;
	opacity:0;
	-webkit-transition:opacity 0.3s ease-out;
	transition:opacity 0.3s ease-out;
}

#GlobalNavi .serch input#srchBtn{
	opacity:1;
}
	

form#bizsearchAspForm{
	padding-top: 4px;
}


#header3 #GlobalNavi .products,
#header3 #GlobalNavi .shopping,
#header3 #GlobalNavi .support,
#header3 #GlobalNavi .application,
#header3 #GlobalNavi .mypage,
#header3 #GlobalNavi .sitemap{
	width:auto;
	margin-right:38px;
	margin-top:6px;
	-webkit-transition:opacity 0.5s ease-out,-webkit-transform 0.5s ease-out;
	transition:opacity 0.5s ease-out,transform 0.5s ease-out;
	
}

#header3 #GlobalNavi .products:hover,
#header3 #GlobalNavi .shopping:hover,
#header3 #GlobalNavi .support:hover,
#header3 #GlobalNavi .application:hover,
#header3 #GlobalNavi .mypage:hover,
#header3 #GlobalNavi .sitemap:hover{
	-webkit-animation:blink 0.5s ease-out;
	animation:blink 0.5s ease-out;
}

#header3 #GlobalNavi .serch .products,
#header3 #GlobalNavi .serch .shopping,
#header3 #GlobalNavi .serch .support,
#header3 #GlobalNavi .serch .application,
#header3 #GlobalNavi .serch .mypage,
#header3 #GlobalNavi .serch .sitemap,
#header3 #GlobalNavi .serch .hd_nlogo{
	-webkit-transform:scale(0.05);
	transform:scale(0.05);
	opacity:0;
	filter:alpha(opacity=0);
}
#header3 #GlobalNavi .shopping,
#header3 #GlobalNavi .support,
#header3 #GlobalNavi .mypage,
#header3 #GlobalNavi .sitemap{
	letter-spacing:-2px;	
}
#header3 #GlobalNavi .sitemap{
	margin-right: 0;
}
#header3 #GlobalNavi .support,
#header3 #GlobalNavi .mypage,
#header3 #GlobalNavi .sitemap{
	letter-spacing:-1px;
}

#PathArea{
	width:auto;
	border-top: 1px solid #e5e5e5;
	padding:0;
	font-size: 70%;
	background:url(/navigate/products/common/images/bread_backleft.png);
	background-repeat:no-repeat;
	background-position:left top;
	min-width: 950px;
}



#PathArea a,#PathArea a:link,#PathArea a:visited{
	color:#000;
}

#PathArea>span{
	display:block;
}

#PathArea ul.PathTree{
	/*max-width:1200px;*/
	min-width:902px;
	padding-left:24px;
	padding-right:24px;
	margin-left:auto;
	margin-right:auto;
	background:url(/navigate/products/common/images/bread_backleft2.png);
	background-repeat:no-repeat;
	background-position:left top;
}

#PathArea ul li{
	display:inline-block;
	float:left;
}


.PathTree li{
	line-height: 38px;
	font-size: 12px;
}
.PathTree h1{
	font-size: 12px;
	font-weight:normal;
}

.PathTree li.bread_home{
	padding-left: 0px;
	padding-right: 30px;
	background-image: url(/navigate/products/common/images/bread_left.png);
	background-position: right center;
	background-repeat: no-repeat;
}

.PathTree li.dir1{
	padding-left:15px;
	padding-right:30px;
	background-image:url(/navigate/products/common/images/bread.png);
	background-position: right center;
	background-repeat: no-repeat;
}
.PathTree li.dir2{
	padding-left:15px;
}

#main>span,
#view_area>span{
	display:block;
	overflow:visible;
}


#footer3{
	width:100%;
	margin-top:0;
	min-width:initial;
	min-width:auto;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	min-width: 950px;
	height:64px;
}

#footer3 .clearfix{
	max-width:1248px;
	width:100%;
	position:relative;
	margin:0 auto;
	padding-left:24px;
	padding-right:24px;
	padding-top:15px;
	box-sizing: border-box;
	font-size:12px;
}
#footer3>.clearfix{
	max-width: initial;
	max-width: auto;
	min-width:950px;
}

#footer3 .clearfix [class^='ft_']{
	width:auto;
	margin-left:24px;
	margin-top:10px;
	
}

#footer3 .clearfix [class^='ft_']:first-child{
		margin-left:0px;
}

#footer3 .clearfix [class^='ft_'] a{
	text-indent: 0;
	background:none;
	font-size:12px;
	margin-bottom:0px;
	color:#000;
	text-decoration:none;
	width:auto;
	margin-left:0;
	line-height:1;
}

#footer3 .clearfix .ft_pcinfo{
		float:left;	
}

#footer3  .clearfix .ft_copyright{
	font-size:0.916em;
	margin-top:11px;
	line-height:1;
	margin-right:3.2em;
}

#footer3{
	border-top:solid 1px #e5e5e5;
}
	
#footer3 .sns.clearfix{
	float:left;
	width:186px;
	padding:0;
	box-sizing:inherit;
}

#footer3 .sns a{
	display:block;
	float:left;
	margin-left:4px;
}

#footer3 .sns a:first-child{
	margin-left:0;
}





#go_top{
	position:fixed;
	bottom:0px;
	right:0px;
	cursor:pointer;
	z-index:2;
	
}

body.drop #go_top{
	display:none;	
}

#go_top img{
	opacity:0;
	display:block;
}

#go_top:hover{
	-webkit-animation:blink 0.5s ease-out;
	animation:blink 0.5s ease-out;
}

@-webkit-keyframes blink{
	0%{opacity:0;}
	100%{opacity:1;}
}

@keyframes blink{
	0%{opacity:0;}
	100%{opacity:1;}
}

.clearfix:after{
	font-size:0;
}


@media screen and (max-width: 480px) {
	
	
	#header3 #logoLine,
	#header3 #GlobalNavi{
		min-width:initial;
		min-width:none;
		min-width:inherit;
	}
	
	#wrapper{
		min-width:initial;
		min-width:none;
		min-width:inherit;
	}
	
	#header3 #GlobalNavi>.contents_wrap{
		visibility:hidden;	
	}
	#header3 #GlobalNavi.show>.contents_wrap{
		visibility:visible;		
	}
	.sp_only{
		display:block;	
	}
	
	.pc_only{
		display:none;
	}
	
	.contents_wrap{
		width:100%;
		overflow:hidden;
	}
	
	#GlobalNavi .bizsearch .close,
	#header3 #GlobalNavi .serch_show_btn{
		display:none;
	}
	
	#header3 #logoLine{
		z-index:11;
		height: 55px;
	}
	
	#header3 #logoLine .logo_121ware{
		padding: 14px 0 0px 16px;
		position: absolute;
		left:0;
	}
	
	#header3 #logoLine .logo_121ware a img{
		width:82px;
		height: auto;
	}
	
	
	#header3 #logoLine .hd_nlogo{
		margin-right:0px;
		margin-top: 17px;
		position: absolute;
		right: 74px;
	}
	
	#header3 #logoLine .hd_nlogo img{
		width:46px;	
		height:auto;
	}
	
	#header3 #GlobalNavi {
		position:absolute;
		opacity: 1;
	}
	
	#bargerBtn{
		width:35px;
		height:35px;
		top:15px;
		right:16px;
		position:absolute;
	}
	
	#bargerBtn .open{
		position:absolute;
		top:0;
		left:0;
	}
	
	#bargerBtn .close{
		opacity:0;	
	}
	
	#bargerBtn.btn_open .open{
		opacity:0;	
	}
	

	
	#bargerBtn.btn_open .close{
		opacity:1;	
	}
	
	#bargerBtn img{
		top:0;
		width:100%;
		height:auto;
	}
	
	#bargerBtn [class^='border'] img{
		position:absolute;
		height:2px;
		-webkit-transition:-webkit-transform 0.3s ease-out,opacity 0.3s ease-out;
		transition:transform 0.3s ease-out,opacity 0.3s ease-out;
	}
	
	
	#bargerBtn .border1,
	#bargerBtn .border2,
	#bargerBtn .border3{
		position:absolute;
		top:0;
		left:0;
		width:100%;
	}
	
	#bargerBtn .border2{
		top:8px;
	}
	#bargerBtn .border3{
		top:16px;
	}
	#bargerBtn .border1 img,
	#bargerBtn .border3 img{
		-webkit-transform-origin:45% center;
		-ms-transform-origin:45% center;
		transform-origin:45% center;
	}
	
	#bargerBtn .border2 img{
		-webkit-transform-origin:center center;
		-ms-transform-origin:center center;
		transform-origin:center center;
	}
	
	
	
	#bargerBtn .right{
		left:auto;
		right:0;
	}
	
	
	
	#bargerBtn.btn_open .border2 img{
		opacity:0;
		-webkit-transform:scaleX(0.01);
		-ms-transform:scaleX(0.01);
		transform:scaleX(0.01);
	}
	
	#bargerBtn.btn_open .border1 img{
		-webkit-transform:translateY(7px) rotate(45deg) scaleX(0.66);
		-ms-transform:translateY(7px) rotate(45deg) scaleX(0.66);
		transform:translateY(7px) rotate(45deg) scaleX(0.66);
	}
	
	
	
	#bargerBtn.btn_open .border3 img{
		-webkit-transform:translateY(-7px) rotate(-45deg) scaleX(0.66);
		-ms-transform:translateY(-7px) rotate(-45deg) scaleX(0.66);
		transform:translateY(-7px) rotate(-45deg) scaleX(0.66);
	}
	
	#header3 #GlobalNavi ul li{
		font-size:13px;
		border: solid 1px #e5e5e5;
		border-top-width: 2px !important;
		border-left-width: 1px;
		background-color: #fff !important;
		box-sizing:border-box;
	}
	
	#header3 #GlobalNavi>.contents_wrap>ul li a{
		font-size:1em !important;
		border:none !important;
		background-color: #fff !important;
		padding:4px 0;
		text-align:left;
		padding-left:12px;
		box-sizing:border-box;
		width:100% !important;
		line-height: normal;
		padding-right: 0;
		font-weight:normal;
	}
	
	#header3 #GlobalNavi>.contents_wrap>ul li{
		margin-right:0;
		margin-top:0;
	}
	
	#header3 #GlobalNavi>.contents_wrap>ul li a:hover{
		 /*width:100% !important;
		 height:auto;
		background-color: #e5e5e5 !important;*/
	}
	

	#header3 #GlobalNavi ul li a,
	#header3 #GlobalNavi ul li:hover a{
		background:none;	
	}
	
	
	
	
	#header3 #GlobalNavi ul li a span,
	#header3 #GlobalNavi ul li a:hover span{
		background:url(/navigate/products/common/images/menu_arrow.png) no-repeat 93% center;
		background-size:20px 20px;
		display:block;
		width:100% ;
	}
	
	
	#header3 #GlobalNavi ul li.shopping,
	#header3 #GlobalNavi ul li.application,
	#header3 #GlobalNavi ul li.sitemap{
		border-left-width: 1px;
	}
	
	#header3 #GlobalNavi .contents_wrap{
		width: 100%;
		padding:0;
		background-color:#e5e5e5;
	}
	
	#header3 #GlobalNavi .contents_wrap>ul{
		border: solid #e5e5e5 3px;
		box-sizing: border-box;
		padding: 1px 0 2px;
	}
	
	
	#header3 #GlobalNavi ul li.bizsearch{
		border: solid #e5e5e5 1px;
		box-sizing: border-box;
		background-color:#fff;
		border-bottom-width: 2px;
		border-top-width: 1px !important;
		position: relative;
		visibility: visible;
		opacity: 1;
		padding: 5px 0;
	}
	
	
	#header3 #GlobalNavi .bizsearch .grass_icon{
		display:none;
	}
	
	#header3 #GlobalNavi ul li #bizsearchAspQuery{
		font-size: 13px;
		height: auto;
		padding:  6px 10px 6px 0;
		width: 90% !important;
		border: none !important;
		color:#888;
		visibility: visible;
		opacity: 1;
		position: relative;
		left: auto;
		transform: none;
	}
	
	
	#srchBtn2wrap{
		width:18px;height:18px;
		background:url(/navigate/products/common/images/sarch_grass.png) no-repeat;
		background-size:100% 100%;
		float: right;
		margin-top: 4px;
		margin-right: 4px;
		margin-left:-10px;
	}
	
	#srchBtn2{
		width:18px;height:18px;
		float:none;
		padding:0;
		opacity:0;
		right: 0;
		position: relative;
	}
	
	#header3 #GlobalNavi ul li #bizsearchAspForm{
		padding:0;
	}
	
	#header3 #GlobalNavi div.sec_gnav{
	
    	border-top: #e5e5e5 solid 1px;
		
	}
	
	#header3 #GlobalNavi  .sec_gnav ul.contents_wrap{
		width:100%;
		padding-top:0;
	}
	
	#header3 #GlobalNavi .sec_gnav ul li{
		width: 34% !important;
		margin-left: 0;
		font-size: 0.9em;
		border-width: 1px !important;
		border-bottom: 0;
		border-right: none;
		line-height:39px;
		height:39px;
		text-align: center;
		border-top:none;
	}
	
	div#header3 #GlobalNavi .sec_gnav ul li:hover,
	 div#header3 #GlobalNavi .sec_gnav ul li.active{
		border-bottom:none; 
	 }
	 
	 #header3 #GlobalNavi .products:hover,
	#header3 #GlobalNavi .shopping:hover,
	#header3 #GlobalNavi .support:hover,
	#header3 #GlobalNavi .application:hover,
	#header3 #GlobalNavi .mypage:hover,
	#header3 #GlobalNavi .sitemap:hover{
		-webkit-animation:none;
		animation:none;
	}
	 
	 div#header3 #GlobalNavi .sec_gnav ul li a:hover{
		background-color:#fff !important;
	 }
	
	 #header3 #GlobalNavi .sec_gnav ul li.active a{
		border-bottom: solid 4px #d5d5d5;
		height: 35px !important;
	 }
	 
	 div#header3 #GlobalNavi .sec_gnav ul li span:hover{
		background-color:#fff !important;
	 }
	
	 #header3 #GlobalNavi .sec_gnav ul li.active span{
		border-bottom: solid 4px #d5d5d5;
		height: 35px !important;
	 }
	
	
	
	
	#header3 #GlobalNavi .sec_gnav ul li.line1,
	#header3 #GlobalNavi .sec_gnav ul li.line3{
		width: 33.4% !important;
	}
	
	#header3 #GlobalNavi .sec_gnav ul li:first-child{
		border-left: none;
	}
	
	
	#header3 #GlobalNavi .sec_gnav ul li a{
		
		padding:0;
		font-size: 0.95em !important;
		line-height: 39px;
		font-weight: normal;
		width: 100% !important;
		border-top: none;
		border-bottom: none;
	}
	
	#header3 #GlobalNavi .sec_gnav ul li.line3 a{
		font-size: 0.87em !important;
	}
	
	#header3 #GlobalNavi .sec_gnav ul li span{
		
		padding:0;
		font-size: 0.95em !important;
		line-height: 39px;
		font-weight: normal;
		width: 100% !important;
		border-top: none;
		border-bottom: none;
	}
	
	#header3 #GlobalNavi .sec_gnav ul li.line3 span{
		font-size: 0.87em !important;
	}
	
	#header3 #GlobalNavi .sec_gnav ul span.sp_tume{
		maegin-left:-0.3em;
		margin-right:-0.3em;
		display:inline;	
		background:none;
	}
	
	.copy_block [id^='ndprice'].price{
		min-width:80%;
	}
		
	

	#footer3{
		min-width:initial;
		min-width:auto;
		position:relative;
		height: auto;
		padding-bottom: 30px;
		padding-top: 18px;
	}
	
	#footer3 .clearfix{
		position: static;
		padding: 0;
		margin-left: auto;
		margin-right: auto;
		min-width: initial;
		min-width: auto;
		
	}
	#footer3 .sns.clearfix {
		width:100%;
	}
	
	#footer3 .clearfix [class^="ft_"] a{
		font-size:10px;
	}
	
	#footer3 .clearfix [class^="ft_"]{
		margin-left: 7%;
		margin-top: 3%;
	}
	
	#footer3 .sns.clearfix{
		float:none;
	}
	
	#footer3 .clearfix .ft_privacy{
		padding:0;
	}
	
	
	
	#footer3 .clearfix .ft_copyright{
		margin-left: 20px;
		font-size: 10px;
		bottom: 20px;
		float: none;
		left: 0;
		padding-top: 24px;
	}
	
	#go_top{
		width:36px;
		bottom:0px;
		right:0px;
	}
	
	#go_top img{
		width:100%;
		height:auto;
	}
	
	#go_top:hover{
		-webkit-animation:none;
		animation:none;
	}
	
	#PathArea{
		min-width:initial;
		min-width:none;
	}
	#PathArea ul.PathTree{
		padding-left:3.4%;
		padding-right:3.4%;
		font-size:10px;
		min-width: initial;
		min-width: none;
	}
	.PathTree li.bread_home{
		padding-right:6%;
		font-size:10px;
	}
	.PathTree li.dir1{
		/*padding-left:3%;
		padding-right:6%;*/
		font-size:10px;
	}
	.PathTree li.dir2{
		padding-left:3%;
		line-height:1.3;
		padding-top:0.6em;
		
	}
	.PathTree h1{
		font-size:10px;
	}

}

@media screen and (max-width: 480px) {
	#header3 #GlobalNavi .sec_gnav ul li{font-size:13px;}
	
	#main_contents_area{
		margin-top:0 !important;	
	}
	#header3 #GlobalNavi{
		position:relative;
		top:0;
	}
	
	#PathArea ul.PathTree{
			min-width:initial;
			min-width:none;
	}
}

@media screen and (max-width: 360px) {
	#header3 #GlobalNavi .sec_gnav ul li{
		font-size:12px;	
	}
	.PathTree h1{
		font-size:10px;
		display:block;
		-webkit-transform:scale(0.9);
		-ms-transform:scale(0.9);
		transform:scale(0.9);
		
		letter-spacing:-0.5px;
		-webkit-transform-origin:left center;
		-ms-transform-origin:left center;
		transform-origin:left center;
		
	}
	.PathTree li.dir2{
		padding-top:0.6em;
		margin-left:-0em;
		margin-right:-2em;
	}
	
	.PathTree li.dir1{
		padding-left: 3%;
		padding-right: 6%;
	}
	#block10 .info dt{
		font-size: 9px;
	}
	#block10 .info dd {
    	font-size: 8px;
	}
	#footer3 .clearfix [class^="ft_"] {
		margin-left: 6%;
	}
	#footer3 .clearfix [class^="ft_"] a {
		font-size: 9px;
	}
	
}
#header3{
	z-index: 1000;
}

#wrapper{
	font-size:13px;
}


#wrapper .sec_gnav li a{
		font-size:14px;
		color:#000;
		margin-left:0;
}

#wrapper .sec_gnav li span{
		font-size:14px;
		color:#000;
		margin-left:0;
}


#wrapper .sec_gnav li{
	background:none;
}

#wrapper .sec_gnav ul{
	position:relative;
	width:100%;
}
#wrapper .sec_gnav li a{
	background:none !important;
	width:auto !important;
	height:auto !important;
}

#wrapper .sec_gnav li span{
	background:none !important;
	width:auto !important;
	height:auto !important;
}

#wrapper .sec_gnav li{
	background:none !important;
}

#wrapper .sec_gnav li a span{
	text-indent:0;
	display:inline;	
}

#wrapper .sec_gnav li span span{
	text-indent:0;
	display:inline;	
}
	
#wrapper .sec_gnav ul{
	padding-top:20px;
}

	

	
#wrapper .sec_gnav li a{
	line-height:1;
	/*font-weight:bold;*/
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
}

#wrapper .sec_gnav li span{
	line-height:1;
	/*font-weight:bold;*/
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
}
	


#go_top{
	position:fixed;
	bottom:0px;
	right:0px;
	cursor:pointer;
	z-index:2;
	
}

body.drop #go_top{
	display:none;	
}

#go_top img{
	opacity:0;
	display:block;
}

#go_top:hover{
	-webkit-animation:blink 0.5s ease-out;
	animation:blink 0.5s ease-out;
}

@-webkit-keyframes blink{
	0%{opacity:0;}
	100%{opacity:1;}
}

@keyframes blink{
	0%{opacity:0;}
	100%{opacity:1;}
}

.clearfix:after{
	font-size:0;
}


@media screen and (max-width: 480px) {
	
	
	#wrapper .sec_gnav ul li{
		font-size:13px;
		border: solid 1px #e5e5e5;
		border-top-width: 2px !important;
		border-left-width: 1px;
		background-color: #fff !important;
		box-sizing:border-box;
	}
	
	#wrapper .sec_gnav>.contents_wrap>ul li a{
		font-size:1em !important;
		border:none !important;
		background-color: #fff !important;
		padding:4px 0;
		text-align:left;
		padding-left:12px;
		box-sizing:border-box;
		width:100% !important;
		line-height: normal;
		padding-right: 0;
		font-weight:normal;
	}
	
		#wrapper .sec_gnav>.contents_wrap>ul li span{
		font-size:1em !important;
		border:none !important;
		background-color: #fff !important;
		padding:4px 0;
		text-align:left;
		padding-left:12px;
		box-sizing:border-box;
		width:100% !important;
		line-height: normal;
		padding-right: 0;
		font-weight:normal;
	}
	
	#wrapper .sec_gnav>.contents_wrap>ul li{
		margin-right:0;
		margin-top:0;
	}
	
	

	#wrapper .sec_gnav ul li a,
	#wrapper .sec_gnav ul li:hover a{
		background:none;	
	}
	
	
	#wrapper .sec_gnav ul li span,
	#wrapper .sec_gnav ul li:hover span{
		background:none;	
	}
	
	
	
	#wrapper .sec_gnav ul li a span,
	#wrapper .sec_gnav ul li a:hover span{
		background:url(/navigate/products/common/images/menu_arrow.png) no-repeat 93% center;
		background-size:20px 20px;
		display:block;
		width:100% ;
	}
	
	#wrapper .sec_gnav ul li span span,
	#wrapper .sec_gnav ul li span:hover span{
		background:url(/navigate/products/common/images/menu_arrow.png) no-repeat 93% center;
		background-size:20px 20px;
		display:block;
		width:100% ;
	}
	
	
	#wrapper .sec_gnav ul li.shopping,
	#wrapper .sec_gnav ul li.application,
	#wrapper .sec_gnav ul li.sitemap{
		border-left-width: 1px;
	}
	
	#wrapper .sec_gnav .contents_wrap{
		width: 100%;
		padding:0;
		background-color:#e5e5e5;
	}
	
	#wrapper .sec_gnav .contents_wrap>ul{
		border: solid #e5e5e5 3px;
		box-sizing: border-box;
		padding: 1px 0 2px;
	}
	
	
	

	
	#wrapper div.sec_gnav{
	
    	border-top: #e5e5e5 solid 1px;
		
	}
	
	#wrapper  .sec_gnav ul.contents_wrap{
		width:100%;
		padding-top:0;
	}
	
	#wrapper  .sec_gnav ul li{
		width: 34% !important;
		margin-left: 0;
		font-size: 0.9em;
		border-width: 1px !important;
		border-bottom: 0;
		border-right: none;
		line-height:39px;
		height:39px;
		text-align: center;
		border-top:none;
	}
	
	#wrapper .sec_gnav ul li:hover,
	 div#wrapper .sec_gnav ul li.active{
		border-bottom:none; 
	 }
	 
	
	 
	 div#wrapper .sec_gnav ul li a:hover{
		background-color:#fff !important;
	 }
	
	 #wrapper .sec_gnav ul li.active a{
		border-bottom: solid 4px #d5d5d5;
		height: 35px !important;
	 }
	 
	 div#wrapper .sec_gnav ul li span:hover{
		background-color:#fff !important;
	 }
	
	 #wrapper .sec_gnav ul li.active span{
		border-bottom: solid 4px #d5d5d5;
		height: 35px !important;
	 }
	
	
	
	
	#wrapper .sec_gnav ul li.line1,
	#wrapper .sec_gnav ul li.line3{
		width: 33.4% !important;
	}
	
	#wrapper .sec_gnav ul li:first-child{
		border-left: none;
	}
	
	
	#wrapper .sec_gnav ul li a{
		
		padding:0;
		font-size: 0.95em !important;
		line-height: 39px;
		font-weight: normal;
		width: 100% !important;
		border-top: none;
		border-bottom: none;
	}
	
	#wrapper .sec_gnav ul li span{
		
		padding:0;
		font-size: 0.95em !important;
		line-height: 39px;
		font-weight: normal;
		width: 100% !important;
		border-top: none;
		border-bottom: none;
	}
	
	#wrapper .sec_gnav ul li.line3 a{
		font-size: 0.87em !important;
	}
	
	#wrapper .sec_gnav ul li.line3 span{
		font-size: 0.87em !important;
	}
	
	#wrapper .sec_gnav ul span.sp_tume{
		maegin-left:-0.3em;
		margin-right:-0.3em;
		display:inline;	
		background:none !important;;
		display: inline !important;
	}
		
	

	

@media screen and (max-width: 420px) {
	#wrapper .sec_gnav ul li{font-size:13px;}
}

@media screen and (max-width: 360px) {
	#wrapper .sec_gnav ul li{
		font-size:12px;	
	}
}

@media screen and (max-width: 340px) {
	
}


