@charset "UTF-8";
#header3 #GlobalNavi ul li{
	min-height: 35px;
}

#header3 #GlobalNavi ul li a{
	color:#000000;
	
}
#header3 #GlobalNavi ul li.active {
    margin-left: -16px;
    margin-right: 20px;
}
#header3 #GlobalNavi ul li.not_active{
	color:#999999;
}

#header3 #GlobalNavi .sec_gnav ul li:hover,
#header3 #GlobalNavi .sec_gnav ul li.active{
	border-bottom: solid 4px #d5d5d5;
	padding-bottom: 14px;
}



#header3 #GlobalNavi ul li:hover a,
#header3 #GlobalNavi ul li.active a{
	color:#000;
	
}

#header3 #GlobalNavi ul li:hover span,
#header3 #GlobalNavi ul li.active span{
	color:#000;
	
}
#header3 #GlobalNavi ul li.active a span {
	color:#fff;
    padding: 8px 15px 7px;
    background-color: #000;
    border-radius: 6px;
}
.ie11 #header3 #GlobalNavi li.active a span,
.ie10 #header3 #GlobalNavi li.active a span{
	padding:6px 14px 1px 15px;
	border:solid 1px #000;
	transform:translate3d(1px,0,0);
}
@supports (-ms-accelerator:true) {
	#header3 #GlobalNavi ul li.active a span {
    padding: 5px 15px 4px;
  
}
}


#header3 #GlobalNavi .sec_gnav ul li{
	min-height: 30px;
	margin-left:0px;
	border-left:solid #eaeaea 1px;
	box-sizing:border-box;
	float:left;
	width:33.33%;
	padding-top: 17px;
	padding-bottom: 18px;
	text-align:center;
	position:relative;
	cursor:pointer;
}

#header3 #GlobalNavi .sec_gnav ul li.line3{
	float:right;
	margin-left:-2px;
	width:33.4%;
}

#header3 #GlobalNavi .sec_gnav ul li a{
	font-size:13px;
	display:block;
	font-weight:normal;
}

#header3 #GlobalNavi .sec_gnav ul li span{
	font-size:13px;
	display:block;
	font-weight:normal;
	line-height:1;
}

#header3 #GlobalNavi .sec_gnav ul li>img{
	display:block;
	position:absolute;
	top:14px;
	right:12px;
	visibility:hidden;
}

#header3 #GlobalNavi ul li:hover>img,
#header3 #GlobalNavi ul li.active>img{
	visibility:visible;
}

#header3 #GlobalNavi .sec_gnav ul li.not_active2{
	border-bottom: none;
	padding-bottom: 18px;
	color:#000;
}

#header3 #GlobalNavi .sec_gnav ul li.not_active>img{
	visibility:hidden;
}

#header3 #GlobalNavi ul li.not_active a{
	color:#a3a3a3;
	
}

#header3 #GlobalNavi ul li.not_active span{
	color:#a3a3a3;
	
}

#header3 #GlobalNavi .sec_gnav ul li:first-child{
		margin-left:0px;
		border-left:none;
}

#header3 #GlobalNavi .sec_gnav{
	border-top:#d9d9d9 solid 1px;
	border-bottom: #d9d9d9 solid 1px;
}
#header3 #GlobalNavi ul.contents_wrap{
width: 100%;
margin-left:auto;
margin-right:auto;
padding-top: 0px;
}

#header3 #GlobalNavi .sec_gnav>ul{
	max-width:1248px;
}

@media screen and (min-width:1249px) {
	
	#header3 #GlobalNavi .sec_gnav ul li.line1{
	border-left: solid #eaeaea 1px;
	}
	
	#header3 #GlobalNavi .sec_gnav .line3{
	border-right: solid #eaeaea 1px;
	}
}

.copy_area h2,
.copy_block h2{
	border:none;
	padding:0;
	line-height:1;
	font-size: 1em;
}

#view_area{
	overflow: hidden;
	min-width: 950px;
}

#main_contents{
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	position: relative;
	min-height:500px;
	min-width: 950px;
}

#main .contents_wrap{
	min-width:950px;	
}

#main_contents>.contents_wrap{
	height:100%;
	max-width: 1100px;
}
#main_contents .navi_band1{
	font-size:12px;
	padding-top: 14px;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

#main_contents .navi_band1>.contents_wrap{
	max-width:initial;
	max-width:inherit;
	max-width:none;
	width:100%;
	/*padding: 0;*/
}

#main_contents .navi_band1 h1{
	font-size:1em;
	font-weight:normal;
	color:#fff;
	float:left;
	line-height:1;
	padding-top:8px;
}

#main_contents .navi_band1 ul{
	float:right;
	padding:0;
	margin:0;
	margin-right: -5px;
	width: 70%;
	width: 517px;
}
#main #main_contents .navi_band1 ul {
    width: 623px;
}

#main_contents .navi_band1 li{
	float:left;
	margin-left:15px;
	padding-top:8px;
}

#main_contents .navi_band1 li.direct{
	float:right;
	margin-left:-15px;
	margin-right:0;
	padding-top:0;
}

#main_contents .navi_band1 li a{
	color:#fff;
	line-height:1;
}

#main_contents .navi_band1 dl{
	float:left;
	color:#fff;
	line-height:1;
	margin-right:10px;
}
#main_contents .navi_band1 dt{
	margin-bottom: 2px;
}

#main_contents .navi_band1 li>div{
	float:right;
	width:60px;
	height:28px;
	line-height:28px;
	text-align:center;
	background-color:#147fd3;
	border-radius:12px;
	color:#fff;
}

#main_contents .navi_band1 .win_logo{
	position:absolute;
	top:34px;
	right:24px;	
}

#main_contents>.contents_wrap{
	visibility:hidden;
	opacity:0;
	-webkit-transition:opacity 0.1s ease-out;
	transition:opacity 0.1s ease-out;
}

#main_contents .contents_wrap.show{
	visibility:visible;
	opacity:1;
}



#main_contents .navi_band1 li:hover a{
	-webkit-animation:blink 0.5s ease-out;
	animation:blink 0.5s ease-out;
}



#main_contents .navi_band2{
	background-image:url(/navigate/products/pc/162q/05/lavie/ns/images/naviback_green.png);
	height: 60px;
	position: absolute;
	bottom:0;
	width:100%;
	font-size:14px;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

#main_contents .navi_band2.fix{
	position:fixed;
	top:0;
	z-index:5;
}

#main_contents .navi_band2 .contents_wrap{
	width: 925px;
	min-width:initial;
	min-width:none;
	margin-top:23px;
	padding:0;
}

#main_contents .navi_band2 li{
	float:left;	margin-left:43px;
	line-height:1;
}


#main_contents .navi_band2 li.direct{
	color: #fff;
	border-left: solid #66a1a8 1px;
	padding-top: 3px;
	padding: 2px 0px 3px 24px;
	line-height: 1.4;
	margin: -12px -20px 0 50px;
	font-size: 13px;
}

#main_contents .navi_band2 li .tax{
	
}

#main_contents .navi_band2 li:first-child{
		margin-left:0px;
}
#main_contents .navi_band2 li a{
	color:#fff;
}

#main_contents .navi_band2 li a:hover{
	-webkit-animation:blink 0.5s ease-out;
	animation:blink 0.5s ease-out;
}

/*#view_area>span>div>[id^='block']{
	opacity:0;	
	-webkit-transition:opacity 1s ease-out 0.3s;
	transition:opacity 1s ease-out 0.3s;
}




#view_area>span>div>[id^='block'].show{
	opacity:1;	
}
*/

#block1 .mda{
	display:block;
}



.tume_left{
	margin-left:-0.2em;
}
.tume_right{
	margin-right:-0.2em;
}
#MainContents .copy_block h2{
	white-space: nowrap;
}
@media screen and (max-width:985px) {
	/*#main_contents .navi_band1 li{
	margin-right:13px;
	}
	
	#main_contents .navi_band1 dl{
		margin-right:5px;
	}
	
	#main_contents .navi_band1 ul{
		min-width: 680px;
	}
	*/
	
}

@media screen and (max-width:965px) {
	/*#main_contents .navi_band1 li{
	margin-right:10px;
	}
	
	#main_contents .navi_band1 dl{
		margin-right:2px;
	}
	
	#main_contents .navi_band1 ul{
		min-width: 660px;
	}
	*/
	
}

@media screen and (max-width:480px) {
	
	#header3 #GlobalNavi .sec_gnav ul li > img{
		display:none;	
	}
	
	#header3 #GlobalNavi .sec_gnav ul li a{
		text-align:center;
	}
	
	#header3 #GlobalNavi .sec_gnav ul li{
		padding-top:0;
		width:33.3% !important;
	}
	
	#header3 #GlobalNavi{
	
	}
	#header3 #GlobalNavi ul li:hover a{
		/*color:#cfcfcf;*/
	}
	
	#header3 #GlobalNavi ul li{
		color:#000;
	}
	
	#main_contents .navi_band1 li:hover a,
	#main_contents .navi_band2 li:hover a{
		-webkit-animation:none;
		animation:none;
	}
	
	#main_contents{
		overflow:hidden;
	}
	
	#main_contents,
	#main .contents_wrap,
	#view_area{
		min-width:initial;
		min-width:auto;	
	}
	#header3 #GlobalNavi ul li a{
		
	}
	
	#header3 #GlobalNavi .sec_gnav ul li:hover a{
		color:#a3a3a3 !important;
		
	}
	
	#header3 #GlobalNavi .sec_gnav ul li.active a{
		color:#000 !important;	
		border-bottom: 4px solid #e9e9e9;
		height: 35px !important;
	}
	
	#header3 #GlobalNavi .sec_gnav ul li:hover span{
		color:#a3a3a3 !important;
		
	}
	
	#header3 #GlobalNavi .sec_gnav ul li.active span{
		color:#000 !important;	
		border-bottom: 4px solid #e9e9e9;
		height: 35px !important;
	}
	
	#view_area>span>div>[id^='block']{
		opacity:1;	
	}
	

	
	
}

#wrapper{
	position:relative;
}
#wrapper .sec_gnav ul li{
	min-height: 35px;
	
}

#wrapper .sec_gnav ul li a{
	color:#000;
	font-size:14px;
}

#wrapper .sec_gnav ul li span{
	color:#000;
	font-size:14px;
}
#wrapper .sec_gnav ul li{
	height: 58px;
	box-sizing: border-box;
	-webkit-transition:background-color 0.3s ease-out,border 0.3s ease-out;
	transition:background-color 0.3s ease-out,border 0.3s ease-out;
}

#wrapper .sec_gnav ul li.not_active{
	color:#999999;
}

#wrapper .sec_gnav ul li:hover,
#wrapper .sec_gnav ul li.active{
	border-bottom: solid 4px #5a6a6f;
	padding-bottom: 14px;
	background-color:#000 !important;
}
#wrapper .sec_gnav ul li:hover span,
#wrapper .sec_gnav ul li.active span{
	color:#fff;
}



#wrapper .sec_gnav ul li:hover a,
#wrapper .sec_gnav ul li.active a{
	color:#000;
	
}


#wrapper .sec_gnav ul li{
	min-height: 30px;
	margin-left:0px;
	
	box-sizing:border-box;
	float:left;
	width:33.33%;
	padding-top: 17px;
	padding-bottom: 18px;
	text-align:center;
	position:relative;
	cursor:pointer;
}

#wrapper .sec_gnav ul li.line3{
	float:right;
	margin-left:-2px;
	width:33.4%;
}

#wrapper .sec_gnav ul li a{
	font-size:13px;
	display:block;
	font-weight:normal;

}

#wrapper .sec_gnav ul li span{
	font-size:15px;
	display:block;
	font-weight:normal;
	line-height:1;
	padding-top: 5px;
	
}

#wrapper .sec_gnav ul li span.sp_tume{
	display:inline;
	border-bottom: none !important;
}

#wrapper .sec_gnav ul li>img{
	display:block;
	position:absolute;
	top:14px;
	right:12px;
	visibility:hidden;
	display:none;
}

#wrapper  .sec_gnav ul li:hover>img,
#wrapper  .sec_gnav ul li.active>img{
	visibility:visible;
}

#wrapper .sec_gnav ul li.not_active2{
	border-bottom: none;
	padding-bottom: 18px;
	color:#000;
}

#wrapper .sec_gnav ul li.not_active>img{
	visibility:hidden;
}

#wrapper .sec_gnav ul li.not_active a{
	color:#a3a3a3;
	
}

#wrapper .sec_gnav ul li.not_active span{
	color:#a3a3a3;
	
}

#wrapper .sec_gnav ul li:first-child{
		margin-left:0px;
		border-left:none;
}

#wrapper .sec_gnav{
	border-top:#d9d9d9 solid 1px;
	border-bottom: #d9d9d9 solid 1px;
	z-index: 5;
	position: relative;
    background-color: #fff;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
#wrapper  .sec_gnav ul.contents_wrap{
width: 100%;
margin-left:auto;
margin-right:auto;
padding:0;
padding-top: 0px;
}

#wrapper .sec_gnav>ul{
	max-width:1248px;
	padding-left: 0;
	padding-right: 0;
	width:100%;
	padding-top: 0px;
	height: 58px;
	border-bottom: solid 1px #eaeaea;
	
}

#wrapper .sec_gnav ul li.line1{
	border-left: solid #eaeaea 1px;
	border-right: solid #eaeaea 1px;
}

#wrapper .sec_gnav .line3{
	border-right: solid #eaeaea 1px;
	border-left: solid #eaeaea 1px;
}

#wrapper .sec_gnav ul li:hover,
#wrapper .sec_gnav ul li.active{
	 border-right:none;
	 border-left:none !important;
 }


#wrapper>.contents_wrap{
	padding:0;
	width: 100%;
	/*background-color: #eee;*/
}
#wrapper .sec_gnav{
border-bottom: none;
}

@media screen and (max-width:1248px) {
	#lineup_area .sec_gnav ul li.line1{
		border-left:none;
	}
	
	#lineup_area .sec_gnav .line3{
		border-right:none;
	}
}



.copy_area h2,
.copy_block h2{
	border:none;
	padding:0;
	line-height:1;
	font-size: 1em;
}

#view_area{
	overflow: hidden;
	min-width: 950px;
}

#main_contents{
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	position: relative;
	min-height:500px;
	min-width: 950px;
}

#main .contents_wrap{
	min-width:950px;	
}

#main_contents>.contents_wrap{
	height:100%;
	max-width: 1100px;
}
#main_contents .navi_band1{
	font-size:13px;
	padding-top: 0px;
	padding-bottom: 2px;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}



#main_contents .navi_band1>.contents_wrap{
	max-width:initial;
	max-width:inherit;
	max-width:none;
	width:100%;
	padding-top: 7px;
}

#main_contents .navi_band1 h1{
	font-size:1em;
	font-weight:normal;
	color:#fff;
	float:left;
	line-height:1;
	padding-top:5px;
}

#main #main_contents .navi_band1 ul{
	float:right;
	padding:0;
	margin:0;
	margin-right: -5px;
	width: 70%;
	width: 520px;
	
}
#main #main_contents .navi_band1 ul {
    width: 623px;
}

#main #main_contents .navi_band1 ul{
	padding-top: 5px;
	margin-bottom: -5px;
	line-height: 0;
}

#main #main_contents .navi_band1 li{
	float:left;
	margin-left:2em;
	padding-top:0px;
}

#main_contents .navi_band1 li.direct{
	float:right;
	margin-left:-15px;
	margin-right:0;
	padding-top:0;
}

#main_contents .navi_band1 li a{
	color:#fff;
	line-height:1;
}

#main_contents .navi_band1 dl{
	float:left;
	color:#fff;
	line-height:1;
	margin-right:10px;
}
#main_contents .navi_band1 dt{
	margin-bottom: 2px;
}

#main_contents .navi_band1 li>div{
	float:right;
	width:60px;
	height:28px;
	line-height:28px;
	text-align:center;
	background-color:#147fd3;
	border-radius:12px;
	color:#fff;
}

#main_contents .navi_band1 .win_logo{
	position:absolute;
	top:50px;
	right:24px;	
}

#main_contents>.contents_wrap{
	visibility:hidden;
	opacity:0;
	-webkit-transition:opacity 0.1s ease-out;
	transition:opacity 0.1s ease-out;
}

#main_contents .contents_wrap.show{
	visibility:visible;
	opacity:1;
}



#main_contents .navi_band1 li:hover a{
	-webkit-animation:blink 0.5s ease-out;
	animation:blink 0.5s ease-out;
}





#main_contents .navi_band2{
	background-image:url(/navigate/products/pc/162q/05/lavie/ns/images/naviback_green.png);
	height: 60px;
	position: absolute;
	bottom:0;
	width:100%;
	font-size:14px;
	-webkit-transition:-webkit-transform 0.5s ease-out;
	transition:transform 0.5s ease-out;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

#main_contents .navi_band2.fix{
	position:fixed;
	top:0;
	z-index:5;
	-webkit-transform: translateY(32px);
	transform: translateY(32px);
}

#main_contents .navi_band1 .contents_wrap{
	/*background-color:rgba(0,0,0,0.6);*/
	height:36px;
}

#main_contents .navi_band1.band_sub{
	margin-top:-32px;
	position: relative;
    z-index: 999;
	/*background-color:rgba(255,0,0,0.6);*/
	visibility:hidden;
	padding-bottom:0;
}
#main_contents .navi_band1.band_sub,
#main_contents .navi_band1.band_sub ul{
	height:32px;
}
#main_contents .navi_band1.band_sub li{
	font-size:13px;
}
#main_contents .navi_band1.band_sub>.contents_wrap{
	background:none;
	width:100%;
	padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
	margin-top:0;
	padding-top:5px;
	
}

#main_contents .navi_band1.band_sub>.contents_wrap.show{
	visibility:hidden;
}
#main_contents .navi_band2.fix .navi_band1.band_sub>.contents_wrap.show,
#main_contents .navi_band2.fix .navi_band1.band_sub{
	visibility:visible;
}

#main_contents .navi_band2 .contents_wrap{
	/*width: 1200px;*/
	min-width:initial;
	min-width:none;
	margin-top:23px;
	padding:0;
	box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

#main_contents .navi_band2 li{
	float:left;	margin-left:43px;
	line-height:1;
}


#main_contents .navi_band2 li.direct{
	color: #fff;
	border-left: solid #66a1a8 1px;
	padding-top: 3px;
	padding: 2px 0px 3px 24px;
	line-height: 1.4;
	margin: -12px -20px 0 50px;
	font-size: 13px;
}

#main_contents .navi_band2 li .tax{
	
}

#main_contents .navi_band2 li:first-child{
		margin-left:0px;
}
#main_contents .navi_band2 li a{
	color:#fff;
}

#main_contents .navi_band2 li a:hover{
	-webkit-animation:blink 0.5s ease-out;
	animation:blink 0.5s ease-out;
}

/*#view_area>span>div>[id^='block']{
	opacity:0;	
	-webkit-transition:opacity 1s ease-out 0.3s;
	transition:opacity 1s ease-out 0.3s;
}




#view_area>span>div>[id^='block'].show{
	opacity:1;	
}
*/

.bottom_band{
	margin-top: 93px;
    border-top: solid 1px #cccccc;
    padding-top: 25px;
    padding-bottom: 27px;
	text-align: center;
}
#main .bottom_band .contents_wrap{
	width:1200px;
	    height: auto;
}

.bottom_band ul li{
	float: left;
    margin-left: 25px;
	background-image:url(/navigate/products/pc/share/series_top/images/underarrow_gray.png);
	background-position:right top;
	background-repeat:no-repeat;
	background-size:contain;
	height:21px;
	line-height:21px;
	vertical-align:middle;
	padding-right:25px;
    display: inline-block;
	float:none;
}
.bottom_band ul li:first-child{
	margin-left:0;
}
.bottom_band ul li a{
	font-size: 13px;
	color:#000;
}

ul.info_line.line_up{
	border-bottom: solid 1px #d9d9d9;
}
.line_up_block > .contents_wrap > h3{
	padding-left: 2.1%;
    font-size: 17px;
	padding-top: 52px;
    padding-bottom: 40px;
}
#MainContents .line_up_block .info_line.recomend li{
	width:25%;
	border:none;
	text-align: center;
	height: 243px;
}
#MainContents .line_up_block .info_line.recomend  li .inner>img {
    position:relative;
    margin-left: 0;
    display:inline-block;
    height: auto;
	width:inherit;
}
.line_up_block .info_line.recomend  li .one_line_copy{
	position: absolute;
	top: 178px;
    width: 100%;
    text-align: center;
	font-size: 13px;
    line-height: 1.38;
}
.line_up_block .info_line.recomend  li .sub_name{
	position: absolute;
	top: 156px;
    width: 100%;
    text-align: center;
	font-size: 13px;
    line-height: 1.38;
}
.line_up_block .info_line.recomend li .inner {
	height:196px;
}
.line_up_block .info_line.recomend li a{
	margin-left: 5px;
    position: relative;
    top: -2px;
}
.line_up_block .info_line.recomend li a{
	width:24px;height:24px;
	display:inline-block;
}

.line_up_block .info_line.recomend li a img{
	width:100%;
	height: auto;
}
#MainContents .line_up_block .info_line.recomend  li:hover{
	background-color:transparent;
}
#MainContents .line_up_block .info_line.recomend  li .pic{
	position:relative;
}
#MainContents .line_up_block .info_line.recomend  li .pic_tabw{
	top: 11px;
    left: 4px;
}
#MainContents .line_up_block .info_line.recomend  li .pic_tabe{
	top: 23px;
    left: 5px;
}
#MainContents .line_up_block .info_line.recomend  li .pic_tabs{
	top: 26px;
    left: 0px;
}
#MainContents .line_up_block .info_line.recomend  li .name_tabs{
	position:relative;
	top:-4px;
}
#MainContents .line_up_block .info_line.recomend  li .pic_hf{
	top: 15px;
    left: 2px;
}
#MainContents .line_up_block .info_line.recomend  li .name_hf{
	width: 220px;
    height: auto;
}
#MainContents .line_up_block .info_line.recomend  li .pic_ns{
	top: 15px;
    left: 2px;
}
#MainContents .line_up_block .info_line.recomend  li .name_ns{
	width: 220px;
    height: auto;
}
#MainContents .line_up_block .info_line.recomend  li .pic_ns03{
	top: 15px;
    left: 2px;
}
#MainContents .line_up_block .info_line.recomend  li .pic_da{
	top: 15px;
    left: 2px;
}
#MainContents .line_up_block .info_line.recomend  li .name_da{
	width: 220px;
    height: auto;
	position:relative;
	top:-2px;
}
#MainContents .line_up_block .info_line.recomend  li .pic_hz01{
	top: 8px;
    left: 2px;
}
#MainContents .line_up_block .info_line.recomend  li .pic_hz02{
	top: 15px;
    left: 2px;
}
#MainContents .line_up_block .info_line.recomend  li .pic_hz03{
	top: 3px;
    left: 2px;
}
#MainContents .line_up_block .info_line.recomend  li .name_hz{
	width: 220px;
    height: auto;
}
#MainContents .line_up_block .info_line.recomend  li .pic_dt{
	top: 15px;
    left: 2px;
}
#MainContents .line_up_block .info_line.recomend  li .name_dt{
	width: 220px;
    height: auto;
	position:relative;
	top:-2px;
}




.tume_left{
	margin-left:-0.2em;
}
.tume_right{
	margin-right:-0.2em;
}

@media screen and (max-width:985px) {
	/*#main_contents .navi_band1 li{
	margin-right:13px;
	}
	
	#main_contents .navi_band1 dl{
		margin-right:5px;
	}
	
	#main_contents .navi_band1 ul{
		min-width: 680px;
	}
	*/
	
}

@media screen and (max-width:965px) {
	/*#main_contents .navi_band1 li{
	margin-right:10px;
	}
	
	#main_contents .navi_band1 dl{
		margin-right:2px;
	}
	
	#main_contents .navi_band1 ul{
		min-width: 660px;
	}
	*/
	
}

@media screen and (max-width:480px) {
	#header3 #GlobalNavi ul li.active a span{
		padding: 11px 0px;
	}
	#header3 #GlobalNavi ul li.active a {
		background-color:transparent !important;
	}
	#wrapper .sec_gnav ul li > img{
		display:none;	
	}
	#header3 #GlobalNavi ul li.active{
		background-color: #000 !important;
		margin: 0;
	}


	
	#wrapper .sec_gnav ul li a{
		text-align:center;
	}
	
	#wrapper .sec_gnav ul li span{
		text-align:center;
		line-height: 39px;
		padding-top: 0;
	}
	
	#wrapper .sec_gnav ul li{
		padding-top:0;
		width:33.3% !important;
	}
	#wrapper .sec_gnav ul li.line1{
		border-left: none;
		border-right: none;
	}
	#wrapper .sec_gnav ul li.line3 {
		border-right: none;
	}
	#wrapper .sec_gnav>ul,
	#wrapper .sec_gnav ul li{
		height:39px;
	}
	
	
	#wrapper  .sec_gnav ul li{
		color:#000;
	}
	
	#main_contents .navi_band1 li:hover a,
	#main_contents .navi_band2 li:hover a{
		-webkit-animation:none;
		animation:none;
	}
	
	#main_contents{
		overflow:hidden;
	}
	
	#main_contents,
	#main .contents_wrap,
	#view_area{
		min-width:initial;
		min-width:auto;	
	}
	
	
	#wrapper  .sec_gnav ul li:hover a{
		color:#a3a3a3 !important;
		
	}
	
	#wrapper  .sec_gnav ul li.active a{
		color:#000 !important;	
		border-bottom: 4px solid #e9e9e9;
		height: 35px !important;
	}
	
	#wrapper  .sec_gnav ul li:hover span{
		color:#a3a3a3 !important;
		
	}
	
	#wrapper  .sec_gnav ul li.active span{
		color:#fff !important;	
		border-bottom: 4px solid #e9e9e9;
		height: 35px !important;
	}
	
	
	#wrapper .sec_gnav ul li:hover{
		background-color:#000 !important;
	}
	#wrapper .sec_gnav ul li:hover span{
		color:#fff;
	}
	#wrapper .sec_gnav ul li {
		-webkit-transition:none;
		transition:none;
	}
	div#wrapper .sec_gnav ul li span:hover{
		background-color: #000 !important;
		border-bottom: 4px solid #e9e9e9;
		height: 35px !important;
	}


#wrapper .sec_gnav ul li:hover a,
#wrapper .sec_gnav ul li.active a{
	color:#000;
	
}
	
	
	
	
	
	#view_area>span>div>[id^='block']{
		opacity:1;	
	}
	
	.bottom_band{
		display:none;
	}
	.line_up_block > .contents_wrap > h3 {
		
		padding: 1em;
		font-size: 12px;
		padding-left: 2em;
	}
	#MainContents .line_up_block .info_line.recomend{
		padding-left:7%;
		padding-right:0%;
		    padding-bottom: 4%;
	}
	#MainContents .line_up_block .info_line.recomend li {
		width: 47%;
		float: left;
		padding: 0;
		text-align: left;
		height: 220px;
	}
	#MainContents .line_up_block .info_line.recomend li:nth-child(2),
	#MainContents .line_up_block .info_line.recomend li:nth-child(4)  {
		float:right;
	}
	.line_up_block .info_line.recomend li .inner{
		height:auto;
	}
	
	#MainContents .line_up_block .info_line.recomend li .inner {
		margin-top: 0;
	}
	.line_up_block .info_line.recomend li .name{
		height:auto;
	}
	.line_up_block .info_line.recomend li .name_tabw{
		width:68%;
	}
	.line_up_block .info_line.recomend li .name_tabe{
		width:65%;
	}
	#MainContents .line_up_block .info_line.recomend li .name_tabs{
		width:58%;
		top:-1px;
	}
	#MainContents .line_up_block .info_line.recomend li .name_hf{
		width:85%;
	}
	#MainContents .line_up_block .info_line.recomend li .name_ns{
		width:80%;
	}
	#MainContents .line_up_block .info_line.recomend li .name_da{
		width: 80%;
	}
	#MainContents .line_up_block .info_line.recomend li .name_hz{
		width: 80%;
	}
	#MainContents .line_up_block .info_line.recomend li .name_dt{
		width: 76%;
		top:0;
	}
	#MainContents .line_up_block .info_line.recomend  li .inner>img.pic{
		top: 0;
		left: 0;
		width: 60%;
	}
	#MainContents .line_up_block .info_line.recomend  li .inner>img.pic.pic_tabw{
		width: 58%;
		margin-top: 0%;
	}
	#MainContents .line_up_block .info_line.recomend  li .inner>img.pic.pic_tabs{
		width: 40%;
		margin-top: 6%;
	}
	#MainContents .line_up_block .info_line.recomend  li .inner>img.pic.pic_tabe{
		margin-top: 7%;
	}
	#MainContents .line_up_block .info_line.recomend  li .inner>img.pic.pic_hf{
		width: 49%;
		margin-top: 6%;
	}
	#MainContents .line_up_block .info_line.recomend  li .inner>img.pic.pic_ns{
		width: 70%;
		margin-top: 7%;
	}
	#MainContents .line_up_block .info_line.recomend  li .inner>img.pic.pic_da{
		width:55%;
		margin-top: 4%;
	}
	#MainContents .line_up_block .info_line.recomend  li .inner>img.pic.pic_dt{
		width: 60%;
		margin-top: 8%;
	}
	#MainContents .line_up_block .info_line.recomend  li .inner>img.pic.pic_hz02{
		width: 66%;
		margin-top: 4%;
	}
	#MainContents .line_up_block .info_line.recomend  li .inner>img.pic.pic_hz01{
		width: 64%;
		margin-top: 1%;
	}
	
	#MainContents .line_up_block .info_line.recomend  li .inner>img.pic.pic_hz03{
		width: 55%;
	}
	#MainContents .line_up_block .info_line.recomend  li .inner>img.pic.pic_ns03{
		width: 64%;
		margin-top: 8%;
	}
	.line_up_block .info_line.recomend li .one_line_copy {
    
		width: 100%;
		font-size: 12px;
		text-align: left;
		position: absolute;
		top: 0;
		margin-top: 93%;
	}
	.line_up_block .info_line.recomend li .sub_name {
    
		width: 100%;
		font-size: 10px;
		text-align: left;
		position: absolute;
		top: 0;
		margin-top: 82%;
	}
	
	.line_up_block .info_line.recomend li .one_line_copy br,
	.line_up_block .info_line.recomend li .one_line_copy br.pc_only,
	.line_up_block .info_line.recomend li .one_line_copy br.sp_only{
		display:none;
	}
	#MainContents .line_up_block .info_line.recomend li a{
		margin-top: 10%;
		position: relative;
		display: inline-block;
		left: 0;
		width: 10%;
		top: -1px;
		height: 1em;
		margin-left: -0.8%;
	}
}

