@charset "UTF-8";

#main{
	min-height:800px;
}

#main_contents_area{
	z-index:11;
	margin-top:-3px;	
}

#header_block1{
	visibility:hidden;
	opacity:0;
}
#header_block1.show{
	visibility:visible;
	opacity:1;
}

#megadrop{
	display:block;
}

#header_block3>.contents_wrap:not(#megadrop_menu)>.content{
	height: 533px;
}

#header_block3>.contents_wrap:not(#megadrop_menu){
	padding:0;
}


#main_header{
	position:absolute;
	z-index:12;	
	width: 100%;
	visibility:hidden;
	
}
#main_contents_area .slick_slide.pc_only .slick_box2 .icon_area {
	position:relative;
}
.slick_box2 .intel_core {
	    position: absolute;
    bottom: -28px;
    right: -4px;
	}
	
	
.slick_box2 .icon_area img.icon1{
	margin-right:14px;
}

#main_header.show{
	visibility:visible;
}

#main_header .logo_121ware.show{
	visibility:visible;
}

#header_block1{
	background-color: transparent;
}

#header_block1 .contents_wrap{
	border:none;
}


#header_block1 .logo_121ware,
#header_block1 .navi{
	float:left;
	color:white;
}

.rev #header_block1 .logo_121ware,
.rev #header_block1 .navi{
	float:left;
	color:black;
}

#header_block1 .logo_121ware{
	margin-right: 34px;
	position:relative;
	z-index:2;
	
}

#header_block1 .logo_121ware span{
	margin-left:22px;
	font-size:11px;
	vertical-align: 8px;
	font-weight:bold;
}

#header_block1 .navi{
	display:none;
}
.ret_safari  #header_block1 .navi{
		margin-top:4px;
}



#header_block1 .navi ul li{
	float:left;
	-webkit-transition: opacity 0.5s ease-out, -webkit-transform 0.5s ease-out;
	transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

#header_block1 .navi ul li:hover{
	-webkit-animation:blink 0.5s ease-out;
	animation:blink 0.5s ease-out;
}
	
#header_block1 .navi ul li a{
	color: #000000;
}

#header_block1 .navi ul li.active{
/*margin-left: -16px;*/
margin-right: 36px;
}
#header_block1 .navi ul li.active span{
	color: #fff;
	padding: 7px 15px 6px;
	background-color: #404040;
	border-radius: 3px;
}



.ie11 #header_block1 .navi ul li.active a span,
.ie10 #header_block1 .navi ul li.active a span{
	padding:6px 14px 1px 15px;
	border:solid 1px #000;
	transform:translate3d(1px,0,0);
}
@supports (-ms-accelerator:true) {
	#header_block1 .navi ul li.active a span {
   	 padding: 5px 15px 4px;
  
	}
}

#header_block1 .products, #header_block1 .shopping, #header_block1 .support,#header_block1 .application, #header_block1 .mypage{
	font-size:14px;
	width: auto;
	margin-right: 36px;
	-webkit-transition: opacity 0.5s ease-out, -webkit-transform 0.5s ease-out;
	transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

#header_block1 .nec_logo,
#barger_btn,
#header_block1 .search_show_btn{
	float:right;
}

#header_block1 .search_show_btn{
	
	min-height: initial;
	min-height: none;
	cursor: pointer;
	-webkit-transition: opacity 0.3s ease-out;
	margin-top: 4px;
	position: relative;
	z-index: 1;
}
#header_block1 .search_show_btn img{
	width: 19px;
	height: auto;
	display:block;
}

#header_block1 .nec_logo{
	margin-top: 3px;
	margin-right: 23px;
	position: relative;
}

.ret_safari #header_block1 .nec_logo{
	margin-top: 6px;
}
#header_block1.search .nec_logo,
#header_block1.search .search_show_btn{
	opacity:0;
	z-index:0;
}

#header_block1.search .navi{
	position:relative;
	z-index:0;	
}

#header_block1.search .navi ul li{
	-webkit-transform: scale(0.05);
	transform: scale(0.05);
	opacity: 0;
	z-index:0;	
}

#header_block1 .navi{
	visibility:hidden;
}

#bizsearch{
	visibility:visible;
	top: -17px;
background-color: white;
margin-left: 263px;
padding-left: 15px;
padding-top: 17px;
padding-bottom: 17px;
opacity:0;
-webkit-transition:opacity 0.3s ease-out;
transition:opacity 0.3s ease-out;
}

#header_block1.search #bizsearch{
	opacity:1;
}

#header_block1 ul{
	padding-top:16px;
}

#header_block1 ul li{
	min-height: 36px;
	
}


#main_contents_area{
	/*min-height: 600px;*/
	margin-bottom: -1px;
	height:694px;
	
}

#header_block1 .black_wall{
	display:block;
	top:-62px;
	left:0;
	width:100%;
	height:100%;
	position:absolute;
	-webkit-transition:-webkit-transform 0.3s ease-out;
	transition:transform 0.3s ease-out;
}

#header_block1 .black_wall.show,
#header_block1.search .black_wall{
	-webkit-transform:translateY(62px);
	-ms-transform:translateY(62px);
	transform:translateY(62px);
}

.ie8 #header_block1 .black_wall.show,
.ie8 #header_block1.search .black_wall{
	top:0px;
}


#header_block1 ul.serch li #top_bizsearchAspQuery{
	/*仮デザイン*/
	
	padding-bottom: 3px;
	border-radius: 5px;
}

#header_block1.rev>.contents_wrap>ul{
	
}

#header_block1>.contents_wrap>ul a{
	-webkit-transition:color 0.3s ease-out;
	transition:color 0.3s ease-out;	
	color:#fff;
}
#header_block1.rev>.contents_wrap>ul a{
	color:#000;
}

#header_block1.rev>.contents_wrap>ul li.active a{
	color:#fff;
}


#header_block1 .bizsearch .grass_icon{
	width:32px;height:32px;
	
}

#header_block1 ul li.logo_121ware a img,
#header_block1 .hd_nlogo a img,
#header_block1 .serch_show_btn img{
	-webkit-transition:opacity 0.3s ease-out;
	transition:opacity 0.3s ease-out;
}

#srchBtn{
	right: 71px;
	top: 20px
}

#bizsearch .close{
	right: 24px;
	top:20px
}

/*#bizsearchAspQuery{
	color:#fff;
}

#header_block1.rev #bizsearchAspQuery{
	color:#000;
}
*/
#bizsearchAspQuery{
	top: 10px;
	left: 48px;
	background-color:#fff !important;
}
.ret_safari #bizsearchAspQuery{
	top: 15px;
}

#header_block1.rev .hd_nlogo a{
	background-image:url(/navigate/products/common/images/hd_nec_logo.png) !important;
}

#header_block1 .serch_show_btn{
	background-size: 100% !important;
	background-repeat:no-repeat !important;
}


#header_block1.rev .serch_show_btn{
	background-image:url(/navigate/products/common/images/sarch_grass.png) !important;
	background-size: 100% !important;
}

#header_block1.rev .bizsearch .grass_icon img,
#header_block1.rev ul li.logo_121ware a img,
#header_block1.rev .hd_nlogo a img,
#header_block1.rev .serch_show_btn img{
	opacity:0;
	filter:alpha(opacity=0);
}


#header_block1.rev ul li.logo_121ware a{
	background-image:url(/navigate/products/common/images/header_121ware_logo.png) !important;background-size: 100% !important;
}

#header_block1.rev ul li.logo_121ware a img{
	opacity:0;
	filter:alpha(opacity=0);
}




/*notFoundの回避*/
#header_block1 ul li #top_bizsearchAspQuery { background-image:none;}

#main_contents_area .slick_slide.pc_only .slick-dots{
	width:74px;
	bottom: 20px;
	margin-left: -37px;
}

#megadrop_menu.contents_wrap.hide{
	height: 0px;
	padding-bottom: 0;
	margin-top:-1px;
	border-bottom: solid #c8d8dd 4px;
}

#megadrop_menu.contents_wrap .other .mega_close{
	display:none;
}

#header5{
	
}

#megaplate, #megaplate2, #megaplate3{
	-webkit-transition:opacity 0.3s ease-out;
	transition:opacity 0.3s ease-out;
}
/*
#megaplate.hidden,
#megaplate2.hidden,
#megaplate3.hidden{
	visibility:hidden;
}
*/

#header0{
	width:100%;
	height:76px;
	background-color: #dee8eb;
}

#header0 ul{
	margin:0 auto;
	max-width:1248px;
	
}

#header0 li{
	width:25%;
	box-sizing:border-box;
	font-size:0;
	text-align:center;
	float:left;
	position: relative;
}



#header0 li a{
	display:block;
	width:100%;
	height:76px;
	line-height:76px;
	color:#000;
	font-size:17px;
	background-color:#dee8eb;
	-webkit-transition:0.3s ease-out;
	-webkit-transition-property:color background-color;
	transition-property:color background-color;
}

#header0 li:hover a{
	color:#666;
	background-color:#e9f4f7;
}
#header0 li:first-child a{
background:url(/navigate/common/images/megadrop_menu_arrow_single.png) no-repeat center 80% #2b2b2b;
color:#fff;
}


#header0 li .border{
	position:absolute;
	display:block;
	right:0;
	top:20px;
}

#header_block2 .contents_wrap{
	clear:both;
}

#header_block2{
	padding-top:4px;
	padding-bottom:4px;
}

#megadrop_menu.contents_wrap{
	border-bottom:solid #c8d8dd 4px;
}

#megaplate .mega_close{
	display:none;
}

#megaplate .tab_line .win_logo{
	right:22px;
}

#megaplate .tab_line .link_line{
	top: 20px;
	right: 115px;
}

#megaplate .tab_line .link_line .title{
background-image: url(/navigate/common/images/megadrop_menu_link_arrow.png);
background-repeat: no-repeat;
background-position: right center;
}

#megaplate .tab_line .link_line a{
	font-size: 12px;
	padding-right: 1.7em;
	border: none;
	line-height: 2
}

#InfoArea{
	height:500px;/*仮*/	
	background-color:#fff;
}

#megaplate, #megaplate2, #megaplate3{
	left:0;
	margin-left:0;
}

#header_block3>.contents_wrap:not(#megadrop_menu){
	max-width:1200px;
}


.note_text{
	clear: both;
	line-height: 1.5;
	width: 100%;
	max-width: 1248px;
	padding-left: 24px;
    padding-right: 24px;
		margin: 0 auto;
		    margin-bottom: 30px;
}

/*---凡用---*/

.blink:hover{
	-webkit-animation:blink 0.5s ease-out;
	animation:blink 0.5s ease-out;
}

@media screen and (max-width:480px){
	.blink:hover{
		-webkit-animation:none;
		animation:none;
	}
	
	
}


#header5{
	margin-bottom: 55px;
}






#main_contents_area .slick_box1 {
    background-image: url(/images/slide_mainback1.jpg);
    background-size: 2000px 694px;
    background-position: center;
		background-color: #950002;
}
@media screen and (max-width: 990px) {
	#main_contents_area .slick_box1 {
		background-position: 53% center;
	}
}

#main_contents_area .slick_box2 {
    background-image: url(/images/slide_mainback3.jpg);
    background-size: cover;
    background-position: center;
}
#main_contents_area .slick_box3 {
    background-image: url(/images/slide_mainback4.jpg);
    background-size: cover;
   background-position: center 80%;
}
#main_contents_area .slick_box4 {
    background-image: url(/images/slide_mainback2.jpg);
    background-size: cover;
    background-position: center top;
}


#main_contents_area .slick_box>.contents_wrap,
#main_contents_area .slick_slide.pc_only .contents_wrap {
    position: relative;
    top: 0;
    left: 0;
    margin-left: 0;
    padding: 0;
	width:100%;
}
#main_contents_area .slick_box>.contents_wrap .win_logo,
#main_contents_area .slick_slide.pc_only .slick_box3  .win_logo {
	width: auto;
    top: auto;
    right: auto;
	position:absolute;
	bottom: 7%;
    left: 4%;
}




#main_contents_area .slick_slide.pc_only .slick_box2  .win_logo
{
	width: auto;
    top: auto;
    right: auto;
	position:absolute;
	bottom: 7%;
   right: 3%;
}

#main_contents_area .slick_slide.pc_only .slick_box1 .copy_area {
	top: 213px;
    margin-left: -470px;
}
@media screen and (max-width: 1000px) {
	#main_contents_area .slick_slide.pc_only .slick_box1 .copy_area {
		left:0;
		margin-left:24px;
	}
}
#main_contents_area .slick_slide.pc_only .slick_box1 .copy_area h1 {
	margin-bottom: 40px;
	width:363px;
}
#main_contents_area .slick_slide.pc_only .slick_box1 .copy_area .link_area {
	height: 42px;
    line-height: 1;
    padding: 8px 6px 0;
	margin-bottom: 30px;
    box-sizing: border-box;
	width: 261px;
}
#main_contents_area .slick_slide.pc_only .slick_box1 .copy_area .product_name {
	font-size: 16px;
    letter-spacing: normal;
}

#main_contents_area .slick_slide.pc_only .copy_area .link_area a {
    display: block;
    position: absolute;
    width: 33px;
    height: 33px;
    top: 0px;
    right: 6px;
}

#main_contents_area .slick_box4 .image_box {
	position: absolute;
    left: 50%;
    margin-left: -623px;
    top: 106px;
}


#main_contents_area .slick_box4 .v2{
	position:absolute;
	top:0;left:0;
	display:none;
}





@media screen and (max-width: 1300px) {
	#main_contents_area .slick_box4 .image_box {
		left:0;
		margin-left:24px;
	}
}

@media screen and (max-width: 1167px) {
	#main_contents_area .slick_box4 {
		background-position: 52.5% center;
	}
	}
}
@media screen and (max-width: 1067px) {
	#main_contents_area .slick_box4 .image_box {
		margin-left:0px;
	}
	#main_contents_area .slick_box4 {
		background-position: 55% center;
	}
	}
@media screen and (max-width: 1047px) {
	#main_contents_area .slick_box4 .image_box {
		margin-left:-15px;
	}
}
@media screen and (max-width: 1027px) {
	#main_contents_area .slick_box4 .image_box {
		margin-left:-35px;
	}
}

@media screen and (max-width: 1050px) {
	#main_contents_area .slick_box4 {
		background-position: 57% center;
	}
}








#main_contents_area .slick_slide.pc_only .slick_box4 .note {
	color: #000;
    position: absolute;
    line-height: 1;
    margin: 0;
    width: auto;
    top: 363px;
    left: 336px;
		font-weight: bold;
	/*text-shadow: 1px 0px 0px #fff, -1px 0px 0px #fff, 0px 1px 0px #fff, 0px -1px 0px #fff;*/
}

#main_contents_area .slick_slide.pc_only .slick_box4 .note2{
	color: #000;
    position: absolute;
    line-height: 1;
    margin: 0;
    width: auto;
    top: 425px;
    left: 191px;
		font-weight: bold;
}

#main_contents_area .slick_box4 .copy_area p{
	font-size:10px;
	line-height:1.3;
	color:#000;
	width: 91%;
	margin-left: 1.2em;
	margin-top: 1.8em
}

#main_contents_area .slick_slide.pc_only .slick_box4 .copy_area {
	top: 132px;
    left: 50%;
    margin-left: 172px;
    width: auto;
    height: auto;
	width: 365px;
}
@media screen and (max-width: 1120px) {
	#main_contents_area .slick_slide.pc_only .slick_box4 .copy_area {
		left:auto;
		margin-left:auto;
		right:0;
		margin-right:24px;
	}
}

#main_contents_area .slick_slide.pc_only .slick_box4 .copy_area h1 {
   width: 345px;
	margin-bottom: 162px;
}

#main_contents_area .slick_box4 h1{
	position:relative;
}


#main_contents_area .slick_slide.pc_only .slick_box4 .copy_area .link_area {
	width: 327px;
	box-sizing: border-box;
    left: 14px;
    height: auto;
    padding-bottom: 17px;
	background-image: url(/navigate/products/common/images/black50.png);
}
#main_contents_area .slick_slide.pc_only .slick_box4 .copy_area h2 {
    font-size: 17px;
	text-align:right;
    line-height: 28px;
    position: relative;
    bottom: auto;
    top: 0;
	color:#000;
	margin-bottom:34px;
}
#main_contents_area .slick_slide.pc_only .slick_box4 .copy_area .product_name {
	line-height: 1;
    font-size: 16px;
	color:#000;
}
#main_contents_area .slick_slide.pc_only .slick_box4 .copy_area .link_area a {
    top: auto;
    bottom: 8px;
}


@media screen and (min-width:1640px){
	#main_contents_area .slick_slide.pc_only .slick_box4 .copy_area h1{
		margin-bottom: -25px;
	}
	
	
}

@media screen and (min-width:1365px){
	
#main_contents_area .slick_slide.pc_only .slick_box4 .copy_area{
	top:82px;
	left: 58%;
}

#main_contents_area .slick_slide.pc_only .slick_box4 .copy_area h2{
	top: -180px;
}

#main_contents_area .slick_box4 .v1{
	
	visibility:hidden;
}

#main_contents_area .slick_box4 .v2{
	position:absolute;
	top:0;left:0;
	display:block;
}
}

@media screen and (min-width:1640px){
	#main_contents_area .slick_slide.pc_only .slick_box4 .copy_area h2{
		top:0px;
	}
}



#main_contents_area .slick_slide.pc_only .slick_box2 .contents_wrap {
	max-width:100%;
	
}

#main_contents_area .slick_slide.pc_only .slick_box2 .image_box {
    top: 110px;
    width: 55%;
    height: auto;
	max-width: 859px;
	min-width:  845px;
   /* left: 50%;
	margin-top: -245px;
	margin-left: -590px;*/
	left:5%;
	margin-left:0;
}





#main_contents_area .slick_slide.pc_only .slick_box2 .image_box img.pic2 {
	margin:0;
}

#main_contents_area .slick_slide.pc_only .slick_box2 .note {
	left: auto;
    margin: 0;
    width: auto;
    height: auto;
    line-height: 1;
    bottom: 10px;
    right: 18px;
		font-weight:bold;
}

#main_contents_area .slick_slide.pc_only .slick_box2 .copy_area {
    width: auto;
	left:50%;
    margin-left:12%;
    top: 213px;
}

#main_contents_area .slick_slide.pc_only .slick_box2 .image_box img.pic2{
	margin-top:2%;
}
@media screen and (max-width: 1275px) {
	#main_contents_area .slick_slide.pc_only .slick_box2 .image_box img.pic2{
		margin-top:3%;
	}
}
@media screen and (max-width: 1200px) {
	#main_contents_area .slick_slide.pc_only .slick_box2 .image_box img.pic2{
		margin-top:4.5%;
	}
}

@media screen and (max-width: 1150px) {
	#main_contents_area .slick_slide.pc_only .slick_box2 .image_box img.pic2{
		margin-top:5%;
	}
}
	
@media screen and (max-width: 1100px) {
	#main_contents_area .slick_slide.pc_only .slick_box2 .image_box img.pic2{
		margin-top:5.5%;
	}
}
@media screen and (max-width: 1050px) {
	#main_contents_area .slick_slide.pc_only .slick_box2 .image_box {
		left:4%;
	}
	#main_contents_area .slick_slide.pc_only .slick_box2 .image_box img.pic2{
		margin-top:6%;
	}
}
@media screen and (max-width: 1000px) {
	#main_contents_area .slick_slide.pc_only .slick_box2 .image_box {
		left:3%;
	}
	#main_contents_area .slick_slide.pc_only .slick_box2 .image_box img.pic2{
		margin-top:6.5%;
	}
}
@media screen and (max-width: 975px) {
	#main_contents_area .slick_slide.pc_only .slick_box2 .image_box {
		left:2%;
	}
	
	#main_contents_area .slick_slide.pc_only .slick_box2 .image_box img.pic2{
		margin-top:7%;
	}
}

#main_contents_area .slick_slide.pc_only .slick_box2 .win_logo{
	bottom: 9.7%;
}

.slick_box2 .icon_area img.icon1,
.slick_box2 .icon_area img.icon2{
	width:auto;
}



#main_contents_area .slick_slide.pc_only .slick_box2 .copy_area h1 {
    width: auto;
    margin: 0;
    margin-bottom: 18px;
}
#main_contents_area .slick_slide.pc_only .slick_box2 .copy_area h1 img {
	width:318px;
}
#main_contents_area .slick_slide.pc_only .slick_box2 .copy_area .link_area {
    margin-bottom: 18px;
    width: 327px;
    height: auto;
	padding:0;
	padding-bottom:9px;
}
#main_contents_area .slick_slide.pc_only .slick_box2 .copy_area h2 {
    letter-spacing:normal;
    bottom: auto;
    position: relative;
    font-size: 17px;
    line-height: 24px;
     margin-bottom: 16px;
}
#main_contents_area .slick_slide.pc_only .slick_box2 .copy_area .product_name {
    height: auto;
    font-size: 16px;
    line-height: 20px;
}
#main_contents_area .slick_slide.pc_only .slick_box2 .copy_area .link_area a {
    top: auto;
    bottom: 10px;
}

#main_contents_area .slick_slide.pc_only .slick_box3 .image_box {
	bottom: 0px;
    width: auto;
    max-width: 100%;
    left: 0;
}
#main_contents_area .slick_slide.pc_only .slick_box3 .image_box img {
	width: 739px;
    max-width: 100%;
}


#main_contents_area .slick_slide.pc_only .slick_box3 .copy_area {
    top: 240px;
    margin-left: 144px;
}
@media screen and (max-width: 1030px) {
	#main_contents_area .slick_slide.pc_only .slick_box3 .copy_area {
		margin-left: 0;
		left:auto;
		right:0;
		margin-right:24px;
		width: auto;
	}
	#main_contents_area .slick_slide.pc_only .slick_box3 .image_box img {
    	width: 689px;
	}
}
#main_contents_area .slick_slide.pc_only .slick_box3 .copy_area h1 {
	width:auto;
	margin-bottom: 15px;
}
#main_contents_area .slick_slide.pc_only .slick_box3 .copy_area h1 img {
	width:346px;
}
#main_contents_area .slick_slide.pc_only .slick_box3 .copy_area .link_area {
	width:343px;
	box-sizing:border-box;
	padding:0;
	padding-bottom: 9px;
	height: auto;
}
#main_contents_area .slick_slide.pc_only .slick_box3 .copy_area h2 {
    line-height: 1;
    font-size: 18px;
    bottom: auto;
    position: relative;
    margin-bottom: 50px;
}
#main_contents_area .slick_slide.pc_only .slick_box3 .copy_area .product_name {
    font-size: 16px;
    line-height: 1;
	padding-bottom: 7px
}
#main_contents_area .slick_slide.pc_only .slick_box3 .copy_area .link_area a {
    top: auto;
    bottom: 8px;
}
#main_contents_area .slick_slide.pc_only .slick_box3 .icon_area {
    width: auto;
    height: auto;
}
.slick_box3 .icon_area img.icon2 {
    margin-left: 110px;
}
#main_contents_area .slick_slide.pc_only .slick_box3 .note {
	position: relative;
    float: left;
    display: block;
    width: auto;
    bottom: auto;
    margin-top: 11px;
}

#main_contents_area .slick_slide.pc_only .slick_box3 .image_box .note{
	font-size:10px;
	position:absolute;
	left: 45%;
	top: 67%;
	font-weight:bold;
}
.slick_box3 .icon_area img.icon1 {
    width: 55px;
    margin-right: 10px;
}











#info_block{
	width: 100%;
	max-width: 1248px;
	position: relative;
	margin: 0 auto;
	margin-bottom: 50px;
	padding-left: 24px;
	padding-right: 24px;
	box-sizing: border-box;
}

#info_block .support_info {
	width: 280px;
	float: right;
}

#info_block .news_info {
	width: 580px;
	float: left;
	margin-bottom: 35px;
}

#info_block .news_info .title{
	font-size: 20px;
	line-height: 1;
	padding-bottom: 17px;
	border-bottom: solid 1px #000;
	width: 100%;
	position: relative;
}

#info_block .news_info a.link_news_list {
	font-size: 13px;
	line-height: 1;
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	width: auto;
	background-image: url(/navigate/common/images/lineup_link_arrow.png);
	background-repeat: no-repeat;
	background-position: right center;
}

#info_block .news_info a {
	color: #006edf;
	width: 100%;
	font-size: 13px;
	line-height: 20px;
	margin-bottom: 20px;
	text-decoration: underline;
}

#info_block .news_info table{
	position: relative;
	margin-top: 27px;
	width: 100%;
	border-collapse: collapse;
}

#info_block .news_info tr{
	font-size: 12px;
	line-height:1.53;
}

#info_block .news_info th {
	width: 80px;
	vertical-align: top;
	text-align: left;
	font-weight: normal;
}

#info_block .news_info td {
	vertical-align: top;
	padding-bottom: 20px;
}

#info_block .news_info a,
#info_block .news_info a:link,
#info_block .news_info a:visited{
	color: #000;
	width: 100%;
	font-size: 13px;
	line-height: 20px;
	margin-bottom: 20px;
	text-decoration: underline;
	text-align: right;
	padding-right: 30px;
}

#info_block .news_info .title a,
#info_block .news_info .title a:link,
#info_block .news_info .title a:visited{
	width: 60px;
	margin-top: 5px;
	margin-bottom: 0;
	text-decoration:none;
}

.link_news_list_container{
	display:none;
}

#info_block .support_info .title {
	font-size: 17px;
	letter-spacing: -1px;
	line-height: 1;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: solid 1px #000;
	width: 100%;
}

#info_block .support_info .info_container_inner.second_inner {
	margin-top: 11px;
	padding-top: 17px;
	border-top: solid 1px #cccccc;
}

#info_block .support_info .info_container_inner.second_inner li{
	height:60px;
	margin-bottom: 5px;
}

#info_block .support_info ul:last-child{
	margin-left:2px;
	margin-top: 17px;
}

#info_block .support_info ul:last-child li{
	margin-bottom: 3px;
}

.privacy{
	margin-right:55px;
	margin-top: 15px;
	float:right;
}

.privacy_sp{
	display:none;
}
#megaplate2,
#megaplate3{
	border: solid #eee 1px;
	border-top:none;
}

#main_contents_area .slick_slide.pc_only:not(.sp_only) .slick_box1 .contents_wrap>img.win_logo{
	display:none;
}

#header5 #header_block3>.contents_wrap.hide>.content{
	height:584px;
	visibility: hidden;
}

#header_under,
#info_under{
	display:none;
}



@media screen and (max-width: 480px){
	#main_header,
	#megadrop{
		position:relative;
	}
	#header_block2{
		display:none;
	}
	
	#main{
		min-width:320px;
	}
	
	
	#header_block1 .contents_wrap {
		width:auto;
		min-width:initial;
		min-width:none;
	}
	
	#header5  #header_block3>.contents_wrap:not(#megadrop_menu)>.content{
		height:auto;
	}
	
	#header_block1 .nec_logo{
		position: absolute;
		top: 17PX;
		right: 52px;
		z-index: 10;
	}
	
	#header_block1 .logo_121ware img {
		/*width: 82px;
		height: 19px;
		*/
	}
	
	#header_block1 .logo_121ware a {
		display: inline-block;
		height: 19px;
	}
	
	#header_block1 .logo_121ware {
		float: none;
		padding-top: 22px;
		padding-left: 16px;
		padding-bottom: 16px;
		background-color: #ffffff;
		margin-right: 0;
		border-bottom: solid #eaeaea 1px;
		z-index: 6;
	}
	
	#header_block1 .content {
		height: auto;
	}

	#header_block1 .logo_121ware span {
		margin-left: 10px;
		vertical-align: 5px;
		display:none;
	}

	#sp_menu.show {
		visibility: visible;
	}




	
	#header_block1 .black_wall{
		display:none;
	}
	
	#header_block1{
	background-color: #fff;
	min-width:320px;
	}
	
	#header_block1 .content{
		
	}
	

#header_block1 .logo_121ware{
	color:#000;
	font-size: 0;
	padding-top: 18px;
	border-bottom:none;
}

#header_block1 #top_logoLine{
		min-width:initial;
		min-width:none;
		min-width:inherit;
	}
	
	
	#header_block1>.contents_wrap{
		/*visibility:hidden;*/	
		
		padding:0;
	}
	#header_block1.show>.contents_wrap{
		/*visibility:visible;	*/	
	}
	
	
	#header_block1 .bizsearch .close,
	#header_block1 .serch_show_btn{
		display:none;
	}
	
	#header_block1 #top_logoLine{
		z-index:11;
		height: 55px;
	}
	
	#header_block1 #top_logoLine .logo_121ware{
		padding: 14px 0 0px 16px;
		position: absolute;
		left:0;
	}
	
	#header_block1 #top_logoLine .logo_121ware a img{
		width:82px;
		height: auto;
	}
	
	
	#header_block1 #top_logoLine .hd_nlogo{
		margin-right:0px;
		margin-top: 17px;
		position: absolute;
		right: 74px;
	}
	
	#header_block1 #top_logoLine .hd_nlogo img{
		width:46px;	
		height:auto;
	}
	
	
	#header_block1 ul li #top_bizsearchAspForm{
		padding:0;
	}
	
	#header_block1 div.sec_gnav{
	
    	border-top: #e5e5e5 solid 1px;
		
	}
	
	#header_block1  .sec_gnav ul.contents_wrap{
		width:100%;
		padding-top:0;
	}
	
	#header_block1 .sec_gnav ul li{
		width: 34% !important;
		margin-left: 0;
		font-size: 0.9em;
		border-width: 1px !important;
		border-bottom: 0;
		border-right: none;
		line-height:39px;
		height:39px;
		text-align: center;
		border-top:none;
	}
	
	#header_block1 .sec_gnav ul li:hover,
	#header_block1 .sec_gnav ul li.active{
		border-bottom:none; 
	 }
	 
	#header_block1 .products:hover,
	#header_block1 .shopping:hover,
	#header_block1 .support:hover,
	#header_block1 .application:hover,
	#header_block1 .mypage:hover,
	#header_block1 .sitemap:hover{
		-webkit-animation:none;
		animation:none;
	}
	 
	 #header_block1 .sec_gnav ul li a:hover{
		background-color:#fff !important;
	 }
	
	 #header_block1 .sec_gnav ul li.active a{
		border-bottom: solid 4px #d5d5d5;
		height: 35px !important;
	 }
	
	
	
	
	#header_block1 .sec_gnav ul li.line1,
	#header_block1 .sec_gnav ul li.line3{
		width: 33.4% !important;
	}
	
	#header_block1 .sec_gnav ul li:first-child{
		border-left: none;
	}
	
	
	#header_block1 .sec_gnav ul li a{
		
		padding:0;
		font-size: 0.95em !important;
		line-height: 39px;
		font-weight: normal;
		width: 100% !important;
		border-top: none;
		border-bottom: none;
	}
	
	#header_block1 .sec_gnav ul li.line3 a{
		font-size: 0.87em !important;
	}
	
	#header_block1 .sec_gnav ul span.sp_tume{
		maegin-left:-0.3em;
		margin-right:-0.3em;
		display:inline;	
		background:none;
	}
	
	#header_block1.search .navi ul li {
		-webkit-transform:none;
		transform: none;
		opacity: 1; 
		z-index: 1;
		-webkit-transition:none;
		transition:none;
	}
	
	#bizsearch{
		margin-left: 0;
		opacity: 1;
		padding: 0px;
		top: 0;
	}
	
	#header_block1 .navi{
		display:block;
		visibility:visible;
	}
	
	#bizasarchAspSuggest{
		position:absolute;
	}
	
	#srchBtn {
		right:12px;
		top:22px;
	}
	
	form#bizsearchAspForm{
		padding-top:0;
	}
	
	#bizsearchAspQuery{
		left:0;
		top:0;
	}
	
	#header_block1 .navi ul li{
	    width: 49.9999%;
		border: solid 1px #e5e5e5;
		border-top-width: 2px;
		background-color: #fff;
		box-sizing: border-box;
		margin: 0;
		
	}
	
	#header_block1 .navi ul li:hover{
		-webkit-animation:none;
		animation:none;
	}
	
	
	
	
	#header_block1 .navi ul li.active{
    background-color: #404040;
    margin: 0;
	}
	#header_block1 .navi ul li a{
		display: block;
		padding:0;
		text-align: left;
		box-sizing: border-box;
		width: 100% ;
		line-height: normal;
		font-size: 13px
	}
	
	
	#header_block1 .navi ul li span{
		padding: 18px 12px 18px;
		background: url(/navigate/common/images/menu_arrow.png) no-repeat 93% center;
		background-size: 20px 20px;
		display: block;		
	}
	
	#header_block1 .navi ul li.active span{
    background-color: #404040;
		padding: 18px 12px 18px;
		background-image:none;
		
	}
	
	#header_block1 .navi ul li.support,
	#header_block1 .navi ul li.mypage,
	#header_block1 .navi ul li.sitemap{
		letter-spacing:-1px;
	}
	
	#header_block1 .navi ul li.products,
	#header_block1 .navi ul li.support{
		border-left: solid 4px #e5e5e5;
	}
	
	#header_block1 .navi ul li.shopping,
	#header_block1 .navi ul li.mypage{
		border-right: solid 4px #e5e5e5;
	}
	
	
	#header_block1menu{
		border-bottom: solid 3px #e5e5e5;
	}
	
	#header_block1 ul {
		padding-top:0;
	}
	
	#megaplate, #megaplate2, #megaplate3 {
		position:relative;
		visibility:visible;
		opacity:1 !important;	
	}
	
	#header5 .lineup .title_line{
		text-align:center;
		
	}
	
	#megaplate,
	#megaplate2,
	#megaplate3{
		border:none;
		border-bottom:solid #fff 1px;
		min-width:320px;
	}
	#megaplate3{
		border-bottom:none;
	}
	#megaplate.open,
	#megaplate2.open,
	#megaplate3.open{
		border-bottom:none;
	}
	
	#header5 .lineup .title_lin.opene{
		border-bottom:none;
	}
	
	#header5 .lineup .title_line .close{
		display:none;
	}
	#header5 .lineup .title_line .title{
		float:none;
	}
	#header5  .title_line .icon{
		position: absolute;
		color: rgb(255, 255, 255);
		top: 0px;
		right: 16px;
		font-size: 18px;
	}
	#header5 .icon .minus{
		width:100%;
		text-align:center;
		top:0;left:0;
		visibility:hidden;
		transform: scaleX(1.8);
		-webkit-transform: scaleX(1.8);
		-ms-transform: scaleX(1.8);
		font-weight: normal;
		position: absolute;
	}
	
	
	#header5  div.open .icon .minus,
	#LinkArea [class^='list'] .sp_btn.open .icon .minus{
		visibility:visible;
	}
	#header5  div.open .icon .plus{
		visibility:hidden;
	}
	
	#header5{
		margin-bottom:0;
	}
	
	#header0{
		display:none;
	}
	
	#header_under,
	#info_under{
		width:100%;
		min-width:320px;
		display:block;
		margin-bottom: 20px;
	}
	
	#info_block .second_inner,
	#info_block .third_inner,
	#info_block .privacy_sp{
		display:none;
	}
	#header_under li{
			
	}
		
	
	#header_under li a {
		font-size:15px;	
		height: 60px;
		line-height: 60px;
		background-color: #dee8eb;
		color: #000;
		border-bottom:solid 1px #777777;
		border-bottom:solid 1px #aaaaaa;
		text-align:center;
		display:block;
		background:url(/navigate/common/images/mega_linkarrow_black.png) #dee8eb no-repeat;
		background-size:20px;
		background-position:95.9% center;
	}
	
	#PathArea{
		border-bottom:none;
	}
	
	
	#header_under li:last-child a{
		border-bottom:none;
	}
	
	
	#main_contents_area .slick_slide.pc_only .slick_box4 .copy_area h1 {
		width:100%;
		margin:0;
		margin-bottom: 6%
	}
	
	#main_contents_area .slick_slide.pc_only .slick_box4 .copy_area .link_area {
		width: 100%;
		left: 0;
		background-image:none;
	}
	#main_contents_area .slick_slide.pc_only .slick_box4 .copy_area h2 {
		font-size: 11px;
		line-height: 20px;
		margin-bottom: 70%;
	}
	
	#main_contents_area .slick_slide.pc_only .slick-dots li{
		background-image:url(/products/common/images/sp_slickdot.png);
	}
	
	#main_contents_area .slick_slide.pc_only .slick-dots li.slick-active{
		background-image:url(/products/common/images/sp_slickdot_active.png);
	}
	
	#main_contents_area .slick_slide.pc_only .slick-dots li{
		margin-left:2px;
	}
	
	#main_contents_area .slick_slide.pc_only .slick-dots{
		width:46px;
		margin-left: -23px;
		bottom: 2%;
	}
	
	#megaplate .banner_line .banner1{
		background-image:url(/products/common/images/megadrop_bunner1_sp.png);
	}
	
	#megaplate .banner_line .banner2{
		background-image:url(/products/common/images/megadrop_bunner2_sp.png);
	}
	
	#megaplate .banner_line .banner3{
		background-image:url(/products/common/images/megadrop_bunner3_sp.png);
	}
	
	
	#main_contents_area.show [class^="slick_box"] > .contents_wrap {
		width:100% !important;
	}
	
	#main_contents_area .slick_slide.pc_only .slick_box1 .copy_area {
		width: 35%;
		margin: 0;
		padding-left:0px;
		padding-right:0px;
		margin-left: 16px;
		/*box-sizing: border-box;*/
		top:29.3%;
		background:url(/images/slide_main_head1_sp.png) no-repeat top left;
		background-size:100%;
	}
	

	#main_contents_area .slick_slide.pc_only .slick_box1 .copy_area h1,
	#main_contents_area .slick_slide.pc_only .slick_box2 .copy_area h1,
	#main_contents_area .slick_slide.pc_only .slick_box3 .copy_area h1,
	#main_contents_area .slick_slide.pc_only .slick_box4 .copy_area h1{
		width:100%;
		visibility:hidden;
	}
	
	#main_contents_area .slick_slide.pc_only .slick_box4 .copy_area .product_name{
		display:none;
	}
	#main_contents_area .slick_slide.pc_only .slick_box1 .copy_area .link_area,
	#main_contents_area .slick_slide.pc_only .slick_box2 .copy_area .link_area,
	#main_contents_area .slick_slide.pc_only .slick_box3 .copy_area .link_area,
	#main_contents_area .slick_slide.pc_only .slick_box4 .copy_area .link_area h2{
		padding:0;
		visibility:hidden;
	}
	#main_contents_area .slick_slide.pc_only .slick_box1 .copy_area .win_logo {
		position: absolute;
		width: 51.5%;
		top:72%
	}
	#main_contents_area .slick_slide.pc_only .contents_wrap>img {
		left:24px;
		display:none;
	}
	#main_contents_area .slick_box1 {
    	background-position:center;
		background-image:url(/images/slide_mainback1_sp.jpg);
		background-size:cover;
	}
	
	
	img.pic4 {
		width: 100%;
		height: auto;
	}
	
	#main_contents_area{
		min-height:initial;
		min-height:none;
	}
	
	#main_contents_area .slick_box4 .image_box {
		margin-left: auto;
		margin-right: auto;
		width: 80%;
		position: relative;
		top: 0;
		margin-top: 60%;
	}
	
	#main_contents_area .slick_slide.pc_only .slick_box4 .copy_area {
		width:42.66%;
		background:url(/images/slide_main_head2_sp.png) no-repeat left top;
		background-size:100%;
		box-sizing: border-box;
		padding-left: 0px;
		padding-right: 0px;
		margin:0;
		top: 10%;
		left:auto;
		right:16px;
		margin-top: 0;
		height: 90%;
	}
	

	#main_contents_area .slick_slide.pc_only .slick_box2 .copy_area{
		width:47%;
		top:10.5%;
		left:16px;
		margin: 0;
		background:url(/images/slide_main_head3_sp.png) no-repeat;
		background-size:100%;
	}
	
	#main_contents_area .slick_slide.pc_only .slick_box3 .copy_area{
		width:49.6%;
		top:8%;
		left:13.6%;	
		background:url(/images/slide_main_head4_sp.png) no-repeat;
		background-size:100%;
	}
	#main_contents_area .slick_slide.sp_only .slick_box2{
		background-image:url(/images/slide_mainback3_sp.jpg);
	}
	
	#main_contents_area .slick_slide.sp_only .slick_box3{
		background-image:url(/images/slide_mainback4_sp.jpg);
	}
	
	
	#main_contents_area .slick_slide.pc_only .slick_box3 .contents_wrap .pic3{
		display:none;
	}
	
	#main_contents_area .slick_slide.pc_only .slick_box3 .icon_area{
		width:31.2%;
		left:107%;
		top:0;
		position: absolute;
	}
	
	.slick_box3 .icon_area img.icon2{
		width:100%;
		margin:0;
		margin-bottom: 15%;
	}
	
	.slick_box3 .icon_area img.icon1{
		width:50%;
		margin:0;
	}
	
	#main_contents_area .slick_slide.pc_only .slick_box3 .note{
		position: absolute;
		margin: 0;
		bottom: 0;
		top: auto;
		left: 55%;
		-webkit-transform-origin: left bottom;
		transform-origin: left bottom;
	}
	
	#main_contents_area .slick_slide.sp_only .slick_box4{
		background-image:url(/images/slide_mainback2_sp.jpg);
	}
	
	#main_contents_area .slick_slide.sp_only .slick_box3 .image_box{
	}
	
	#main_contents_area .slick_slide.sp_only .slick_box2 .contents_wrap .image_box,
	#main_contents_area .slick_slide.sp_only .slick_box3 .contents_wrap .image_box{
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	
	#main_contents_area .slick_slide.pc_only .slick_box2 .win_logo,
	#main_contents_area .slick_slide.pc_only .slick_box3 .win_logo{
		width: 19%;
		bottom: 4%;
		left:16px;
	}
	
	#main_contents_area .slick_slide.pc_only .slick_box2 .note{
		color: #000;
		bottom: 5.5%;
		right: 18%;
		transform-origin: right top;
	}
	
	#main_contents_area .slick_slide.sp_only .slick_box2 .icon_area,
	#main_contents_area .slick_slide.pc_only .slick_box2 .image_box img.pic2{
		display:none;
	}
	
	#main_contents_area .slick_slide.sp_only .slick_box4 .image_box{
		margin:0;
		height: 100%;
		width:100%;
		background:url(/images/main_winlogo_black.png) no-repeat;
		background-size: 19%;
		background-position: 6% 96%;
	}
	#main_contents_area .slick_slide.sp_only .slick_box4 .image_box img{
		display:none;
	}
	#main_contents_area .slick_slide.sp_only .slick_box4 .image_box .note{
		top: 70.5%;
		margin: 0;
		left: auto;
		right: 26%;
		-webkit-transform-origin: right top;
		-webkit-transform: scale(0.7);
		transform-origin: right top;
		transform: scale(0.7);
		text-shadow: none;
	}
	
	#main_contents_area .slick_box4 .copy_area p{
		margin-left: 0;
		-webkit-transform-origin: left bottom;
		-webkit-transform: scale(0.55);
		transform-origin: left bottom;
		transform: scale(0.55);
		width: 195%;
		margin-top: 0;
		position: absolute;
		bottom: 18%;
		top: auto;
		/*text-shadow: 1px 0px 0px #fff, -1px 0px 0px #fff, 0px 1px 0px #fff, 0px -1px 0px #fff;*/
	}
	
	
	
	#megadrop .lineup{
		height:59px;
		line-height: 60px;
	}
	
	
	
	
	#info_block {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 0;
		min-width:320px;
	}
	
	#info_block .support_info,
	#info_under .support_info{
		width: 92%;
		float: none;
		margin-bottom: 5%;
		padding-left: 4%;
		padding-right: 4%;
	}
	
	#info_block .news_info{
		width: 100%;
		float: none;
		margin-bottom: 0;
		position: relative;
		padding: 0 16px;
		box-sizing:border-box;
	}
	
	#info_block .news_info .icon{
		position: absolute;
		right: 25px;
		top: 0;
		line-height: 50px;
		height: 40px;
		font-size: 18px;
	}
	
	#info_block .news_info.open .icon .plus {
		visibility: hidden;
	}
	
	#info_block .news_info .minus {
		position: absolute;
		width: 100%;
		text-align: center;
		top: 0;
		left: 0;
		visibility: hidden;
		transform: scaleX(1.8);
		-webkit-transform: scaleX(1.8);
		-ms-transform: scaleX(1.8);
		font-weight: normal;
	}
	
	#info_block .news_info.open .icon .minus {
		visibility: visible;
	}
	
	#info_block .news_info .title {
		font-size: 16px;
		padding-bottom: 2%;
		margin-bottom: 0;
		width: 100%;
		line-height: 3;
		height: 30px;
		border-bottom:none;
		cursor:pointer;
	}
	
	
	#info_block .news_info .title:first-child{
		border-bottom: solid 1px #777;
	}
	
	#info_block .news_info .title.bottom{
		/*border-bottom: solid 1px #777;*/
	}
	
	#info_block .news_info .news_container{
		overflow:hidden;
		box-sizing:border-box;
		margin-bottom:1em;
	}
	
	#info_block .news_info .news_container.open{
		border-top: 1px solid #777;
	}
	
	.content_area{
		padding: 1em 0;
	}
	
	#info_block .news_info .title a,
	#info_block .news_info .title a:link,
	#info_block .news_info .title a:visited{
		font-size: 13px;
		top: -3px;
		width: auto;
		margin-right: 0;
		background-size: 12px;
		background-position: right center;
		padding-right: 16px;
		height: 48px;
		line-height: 48px
	}
	
	#info_block .news_info a
	#info_block .news_info a:link
	#info_block .news_info a:visited{
		font-size: 12px;
		line-height: 22px;
	}
	
	#info_block .news_info a.link_news_list_container{
		display:block;
		color: #000;
		width: 92%;
		font-size: 13px;
		line-height: 20px;
		margin-bottom: 20px;
		text-decoration: underline;
		text-align: right;
		padding-right: 30px;
		display: inline-block;
		background-image: url(/shop/images/lineup_link_arrow.png);
		background-repeat: no-repeat;
		background-position: right center;
	}
	
	#info_block .news_info table {
		margin-top: 0;
	}
	
	#info_block .news_info th {
		width: 100%;
		display: block;
	}
	
	#info_block .news_info td {
		width: 100%;
		display: block;
		padding-bottom: 0;
		margin-bottom: 2%;
	}
	
	#info_block .support_info .title{
		font-size: 16px;
		padding-bottom: 2%;
		margin-bottom: 4%;
		display:none;
	}
	
	#info_block .support_info ul li,
	#info_under .support_info ul li{
		float:left;
		width:48%;
		margin-left:2%;
	}
	
	#info_block .support_info ul li:nth-child(2n+1),
	#info_under .support_info ul li:nth-child(2n+1){
		clear:both;
	}
	
	#info_block .support_info ul li img,
	#info_under .support_info ul li img{
		width:100%;
		height:auto;
	}
	
	#info_block .support_info .info_container_inner.second_inner li,
	#info_under .support_info .info_container_inner.second_inner li{
		height:auto;
		margin-bottom:0;
	}
	
	.privacy{
		display:none;
	}
	
	.privacy_sp{
		display:block;
	}
	
	#bizsearch #bizsearchAspQuery{
		top:0;
	}
	
	#main_header #header_block1 .navi{
		margin-top:0;
	}
	
	#info_block .info_container{
		padding:0 20px;
	}
	
	#info_under .info_container{
		padding:0 48px;
	}
	
	 #info_under{
		 margin-top:1em;
		 padding-bottom: 60px;
	 }
	 
	 #info_under .third_inner{
		  width:65%;
		  float: left;
	 }
	  
	#info_under .third_inner ul li{
		  margin-left: 2%;
	}
	  
	#info_under .privacy_sp{
		   width:14%;
		   float: left;
		   margin-left:2%;
		margin-top:2%
	}
	   
	 #info_under .privacy_sp img{
		width:100%;
	}
	
	#main_contents_area .slick_slide.pc_only .contents_wrap,
	#main_contents_area .slick_slide.pc_only .copy_area{
		visibility:hidden !important;
	}
	
	.note_text{
		border-top: 1px solid #e5e5e5;
    padding: 20px 16px;
		max-width: initial;
    width: auto;
    margin-bottom: 0;
	}
	
}

@media screen and (max-width: 420px) {
	#header_block1 .sec_gnav ul li{font-size:13px;}
	
	
	#header_block1{
		position:relative;
		top:0;
	}
	
	
}

@media screen and (max-width:380px) {
	#header5 .lineup .title_line .title{
		font-size:14px;
	}
	
	#top_megaplate .icon_line [class^="icon"] dl{
		font-size:10px;
	}
}

@media screen and (max-width: 360px) {
	#header_block1 .sec_gnav ul li{
		font-size:12px;	
	}
	
	#header5 .lineup .title_line .title{
		font-size:13px;
	}
}
