@charset "UTF-8";

#logoLine,
#GlobalNavi{
	z-index:10;
	position:relative;
}

#main_contents{
	height: 650px;
}

#header3 #GlobalNavi{
	background-color:#fff;
	-webkit-transform:translate3d(0,0,0);
	-webkit-transform: translate3d(0, 0, 0);
}

.ie8 #wrapper,
.ie8 #footer3{
	width:1280px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
}

.ie8 #header3{
	width:1280px;
	margin-left:auto;
	margin-right:auto;
}

body.drop{
	
}

#megadrop{
	position:absolute;
	top:0;
	left:0;
	z-index:5;
	width:100%;
	/*visibility:hidden;*/
}

body.drop #megadrop{
	visibility:visible;
}

body.up #megadrop{
	visibility:visible;
}

#megaplate,
#megaplate2,
#megaplate3{
	position:absolute;
	/*top:112px;*/
	width: 100%;
	overflow: hidden;
	visibility:hidden;
	max-width: 1248px;
	left: 50%;
	margin-left: -624px;
	
}

@media screen and (max-width:1248px) {
	#megaplate,
	#megaplate2,
	#megaplate3{
		left:0;
		margin-left:0;
	}
}


#megaplate.show,
#megaplate2.show,
#megaplate3.show{
	visibility:visible;
}

#mega_cover{
	position:fixed;
	width:100%;
	height:100%;
	-webkit-transition:opacity 0.5s ease-out;
	transition:opacity 0.5s ease-out;
	opacity:0;
	top:0;
	visibility:hidden;
}

body.drop #mega_cover{
	opacity:1;
	visibility:visible;
}

#mega_cover img{
	width:100%;
	height:100%;
}
#megaplate .icon_line{
	width: 23.32%;
	float:left;
	box-sizing:border-box;
	position:relative;
}
#megaplate .icon_line [class^='icon']{
	
	background-color:#222222;
	position:relative;
	color:#fff;
	cursor:pointer;
	-webkit-transition:background-color 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#megaplate .icon_line [class^='icon'].active{
	background-color:#91b1bb;
	
}

#megaplate .icon_line [class^='icon'] img{
	width:48px;height:39px;
	display: block;
	float:left;
	margin-right: 11px;
}

#megaplate .icon_line [class^='icon'] .inner{
	position: absolute;
	left: 17%;
	margin-left: -32px;
	top:50%;
	margin-top:-26px;
	width:100%;
}

#megaplate .icon_line dl{
	font-size: 12px;
	line-height: 1.42;
	float: left;
	padding-top: 6px;
	text-align: left
}

#megaplate .icon_line .link img{
	
}

#megaplate .icon_line .icon1,
#megaplate .icon_line .icon2,
#megaplate .icon_line .icon3{
	height:68px;	
}

#megaplate .icon_line .icon2 dl,
#megaplate .icon_line .icon3 dl{
	padding-top:4px;
}

#megaplate .icon_line .icon4 dl{
	padding-top:2px;
}

#megaplate .icon_line .icon5 dl{
	padding-top:2px;
}

#megaplate .icon_line .icon5 img{
	margin-top:6px;
}

#megaplate .icon_line .icon5 .inner{
	top:40%;
}

#megaplate .icon_line .icon4{
	height:82px;	
}

#megaplate .icon_line .icon5{
	height:110px;	
}

#megaplate .icon_line .link{
	background:url(/navigate/products/pc/share/images/mega_iconback_gray.png);
	text-align:left;
	padding-bottom: 41px;
}



#megaplate .icon_line .link .title{
	float:left;
	font-size: 12px;
    color: #fff;
	cursor:pointer;
}
#megaplate .icon_line .link li{
	margin-left: 17%;
	left: -25px;
	position: relative;
}

#megaplate .icon_line .link li:hover .title{
	color:#fff;
}

#megaplate .icon_line .link li a{
	/*font-size:11px;
	color:#757575;
	*/
}

#megaplate .icon_line .link li.line2{
	padding-top:12px;
	height: 22px;
	border-top: solid 1px #303030;

}

#megaplate .icon_line .link li.line1 a{
	display:none;
}

#megaplate .icon_line .link li{
	padding-top:6px;
	height: 20px;
	cursor:pointer;
}



#megaplate .icon_line .link li.line4{
	padding-bottom:11px
}
#megaplate .icon_line .link li>img{
	float:right;	
}

#megaplate .icon_line .link .arrow{
	background-image:none;
	padding:0;
	float:right;	
}

#megaplate .icon_line .link li:hover .arrow{
	background-image:url(/navigate/products/pc/share/images/megaarrow_gray_active.png);
}

#megaplate .icon_line .link li:hover .arrow img{
	visibility:hidden;	
}

#megaplate .icon_line .tab_arrow{
	position:absolute;
	right: 0px;
	background-color:#fff;
	-webkit-transform-origin:right center;
	-ms-transform-origin:right center;
	transform-origin:right center;
}

#megaplate .icon_line .tab_arrow.zero{background-color:#fff;top: 26px;}
#megaplate .icon_line .tab_arrow.frista{background-color:rgb(97,169,197);top: 96px;}
#megaplate .icon_line .tab_arrow.ns{background-color:#91989e;top: 164px;}
#megaplate .icon_line .tab_arrow.desk{background-color:#b8b8b8;top: 240px;}
#megaplate .icon_line .tab_arrow.tablet{background-color:#9da2a5;top: 336px;}

#megaplate .icon_line .tab_arrow img{
	width: 6px;
	height: auto;
	display:block;
}



#megaplate .tab_line{
	width: 76.7%;
	float:right;
	box-sizing:border-box;
	background-color: #fff;
	/*border-top: solid #e5e5e5 1px;*/
	margin-left: -1px;
	height: 533px;
	position: relative;
}


#megaplate .tab_line .link_line {
	position:absolute;
	top: 27px;
	right: 168px;
}

#megaplate .tab_line .link_line.pc_only:hover{
	-webkit-animation:blink 0.5s ease-out;
	animation:blink 0.5s ease-out;
}

#megaplate .tab_line .link_line .arrow{
	background-image:none;
}
#megaplate .tab_line .link_line a{
	color:#000;
	font-size:11px;
	letter-spacing:-1px;
	/*text-decoration:underline;*/
	border-bottom:solid #dedede 2px;
}

#megaplate .tab_line .product_info .link_line{
top: auto;
bottom: 6px;
right: 7px;
}

#megaplate .tab_line .product_info .link_line a{
	color:#fff;
}

#megaplate .tab_line .win_logo{
	position:absolute;
	top: 27px;
	right: 14px;
}

#megaplate .tab_line>[class^='tab']{
	-webkit-transition:opacity 0.3s ease-in-out;
	transition:opacity 0.3s ease-in-out;
	opacity:0;
	
	visibility:hidden;
	top: 0;
	position: absolute;
	width:100%;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

#megaplate .tab_line>[class^='tab'].show{
	visibility:visible;
	opacity:1;
}

#megaplate .tab_line>[class^='tab'].hide{
	visibility:visible;
	display:block;
}

#megaplate .tab_line h2{
	width:245px;height:auto;
	border: none;
	background-color: #fff;
	margin-left: 15px;
	padding-top: 21px;
	padding-bottom:19px;
	box-sizing:border-box;
	height: 68px;
}

#megaplate .tab_line h2 img{
	width: 245px;
	height: auto;
}


#megaplate .tab_lineup{
	width:839px;
	width:100%;
	background-color: #eeeeee;
}

#megaplate .product_info{
	width:273px;
	width:33.33%;
	height:466px;
	float:left;
	position:relative;
	overflow:hidden;
	cursor:pointer;
}

#megaplate .product_info:first-child{
	margin-left:0;
} 

#megaplate .product_info>img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	position: relative;
	height:auto;
}

#megaplate .product_info .feature{
	position:absolute;
	color:white;
	top:25px;
	height:415px;
	width:100%;
	padding-left: 14px;
	padding-right: 15px;
	box-sizing: border-box;
}

#megaplate .product_info .wight_text{
	position:absolute;
	left:15px;
	bottom:0px;
}
#megaplate .product_info .wight_text.note{
	font-size: 10px;
    -webkit-transform: scale(0.8);
    -webkit-transform-origin: left top;
	-ms-transform: scale(0.8);
	-ms-transform-origin: left top;
	transform: scale(0.8);
	transform-origin: left top;
    bottom: -12px;
    line-height: 1.2;
	white-space: nowrap;
}
#megaplate .product_info p .kome{
	font-size:0.6em;
	position:relative;
	top:-5px;
	margin-left:1px;
}

#megaplate .product_info .info_text{
	font-size:12px;
	line-height:20px;
	box-sizing:border-box;
	border:solid #fff 1px;
	border-radius:5px;
	text-align: center;
	margin-bottom:15px;
	width: auto;
	padding:0 0.3em;
	display:inline-block;
	text-align:left;
}
@media screen and (max-width: 1100px){

#megaplate .product_info.zero2 .info_text br.sp_only{
	display:block !important;
	
}

#megaplate .product_info.zero2 .info_text,
#megaplate .product_info.desk2 .info_text,
#megaplate .product_info.tablet2 .info_text{
	line-height: 1.25;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
}

#megaplate .product_info .feature p{
	font-size:18px;
	line-height:1.5;
	text-align:left;
	min-width: 230px;
}

#megaplate .product_info .link{
	position:absolute;
	top:0;
	right:15px;
	width:33px;
	top: -5px;
	right: 13px;
}

#megaplate .product_info .link img{
	width:100%;
	height:auto;
}

#megaplate .zero1{
	background-color:#96a2aa;
	float:right;
	margin-left:-2px;
}

#megaplate .zero1>img{
	width: 90%;
	margin-left: 5%;
	top: 82%;
	margin-top: -220px;
	max-width: 315px;
	
}

#megaplate .zero2{
	background-color:#a0afbd;
}

#megaplate .zero2>img{
	width: 190%;
	left: -44%;
	margin-top: -85px;
	max-width: 596px;
	bottom: -42%;
	margin-top: -62%;
}

#megaplate .zero3{
	width:33.4%;
	float:left; 
	
	background-color:#abbccf;
}

#megaplate .zero3 .tume{
	
}
#megaplate .zero3.product_info p{
min-width: 250px;
}

#megaplate .zero3>img{
	width: 200%;
	left: -48%;
	max-width: 620px;
	bottom: -40%;
	margin-top: -75.5%;
}

#megaplate .tab_line .tab2 .frista1{
	background-color:rgb(97,169,197);
}	
#megaplate .product_info.frista1 .info_text{
	width: 90px;
}



#megaplate .tab_line .tab2 .frista1>img{
	width: 190%; 
	left: -48.5%;
	max-width: 598px;
	margin-top: -105%;
	bottom: -65%;
}


#megaplate .ns1{
	background-color:#91989e;
}
#megaplate .ns2{
	background-color:#af98a2;
}
#megaplate .ns3{
	background-color:#c7b1a4;
}

#megaplate .ns1>img{
	width: 177%;
	left: -35%;
	max-width: 566px;
	bottom: -72%;
	margin-top: -117%;
}

#megaplate .ns2>img{
	width: 187%;
	left: -43.8%;
	margin-top: -85px;
	max-width: 568px;
	bottom: -58.2%;
	margin-top: -93.2%;
}

#megaplate .ns3>img{
	width: 195%;
	left: -40%;
	margin-top: -85px;
	max-width: 598px;
	bottom: -56%;
	margin-top: -92%;
}

#megaplate .tablet1>img{
	width: 195%;
	left: -40%;
	max-width: 590px;
	bottom: -54.5%;
	margin-top: -96.2%;
}

#megaplate .tablet2>img{
	width: 195%;
	left: -47%;
	max-width: 588px;
	bottom: -55%;
	margin-top: -96.2%;
}

#megaplate .tablet3>img{
	width: 195%;
	left: -47%;
	max-width: 588px;
	bottom: -55%;
	margin-top: -82.2%;
}

#megaplate .tab4 h2.desk_power{
	position: absolute;
	top: 0;
	left: 325px;
}

#megaplate  .tab_line .tab4 h2{
	height:67px;
	box-sizing:border-box;
	
}

#megaplate  .tab_line .tab4 h2 img{
	width:100%;height:auto;
}
	
	
#megaplate .desk1{
	background-color:#b8b8b8;
}
#megaplate .desk2{
	background-color:#b8aba6;
}

#megaplate .tab4 h2.all_in_one{
	max-width: 265px;
	width: 29.85%;
	margin-left: 15px;
}

#megaplate .tab4 h2.desk_power{
	max-width: 245px;
	width: 27.6%;
	margin-left: 15px;
	left:33.33%;
}

#megaplate .tablet1{
	background-color:#9da2a5;
}
#megaplate .tablet2{
	background-color:#b09791;
}
#megaplate .tablet3{
	background-color:#c7b1a4;
}

#megaplate .tab5 h2{
	width:25.7%;
	max-width:245px;
	margin-left:15px;
	padding-top: 22px
}

#megaplate .tab5 h2 img{
	width:100%;
	height:auto;
}

#megaplate .tab5 h2.e,
#megaplate .tab5 h2.s{
	position:absolute;
	top:0;
}	

#megaplate .tab5 h2.e{
	left:33.3%;
}

#megaplate .tab5 h2.s{
	left:66.6%;
}

#megaplate .tab5 .info_text{
	/*width:245px;*/
	text-align:center;
	
}
#megaplate .tab4 .info_text br,
#megaplate .tab5 .info_text br{
	display:none;
}

#megaplate .tab5 .info_text{
	
}

#megaplate .tab5 .info_text .tume{
	letter-spacing:-1px;
}

#megaplate .tab5 .tablet3 .info_text{
	/*width:140px;*/
}
#megaplate .tab5 .feature p{
font-size:17px;
}

#megaplate .tab5 .feature p .tume{
	letter-spacing:-1px;
}

megaplate2 .tume{
	margin-left:-0.52em;
	margin-right:-0.25em;
}

@media screen and (max-width:1225px) {
		
	#megaplate .tab4 .desk2 .info_text,
	#megaplate .tab5 .tablet1 .info_text,
	#megaplate .tab5 .tablet2 .info_text{
		line-height: 15px;
		padding-top: 2px;
		padding-bottom: 2px;
		/*width:170px;*/
		text-align:left;
		padding-left:3px;
		
	}
	#megaplate .tab5 .tablet2 .info_text{
		padding-left:6px;
	}
	#megaplate .tab4 .desk2 .info_text br,
	#megaplate .tab5 .tablet1 .info_text br,
	#megaplate .tab5 .tablet2 .info_text br{
		display:block;
		line-height:0.1;
	}
}


@media screen and (max-width:1070px) {
	#megaplate .tab4 h2{padding-top:22px;}
}

@media screen and (max-width:980px) {
	#megaplate .tab4 h2{padding-top:23px;}
}




#megaplate .desk1>img{
	width: 190%;
	left: -42%;
	max-width: 620px;
	bottom: -68%;
	margin-top: -75.5%;
	bottom: -72%;
	margin-top: -116%;
}

#megaplate .desk2>img{
	width: 190%;
	left: -43%;
	max-width: 620px;
	bottom: -68%;
	margin-top: -75.5%;
	bottom: -72%;
	margin-top: -116%;
}



#megaplate .tab_line .tab3 h2 img{
	width:265px;
	padding-bottom: 21px
}

#megaplate .tab_line h2 img{
	/*width: 265px;*/
}

#megaplate .frista1 .tume,
#megaplate .ns3 .tume{
	letter-spacing:-1px;	
}

#megaplate .tab4 .info_text{
	/*width: 175px;*/
}

#megaplate .tab4 .info_text .tume{
	letter-spacing:-1px;	
}

#megaplate .tab4  .feature p{
	font-size: 17px;
	letter-spacing:0px;
}

#megaplate .desk1 .tume{
	letter-spacing:-2px;	
}

#megaplate3 li.line2 .pr{
color: #fff;
position: relative;
position: absolute;
bottom: 5px;
left: 10px;
font-size:15px;
vertical-align:bottom;
bottom: 0;
}

#megaplate3 li.line2 .pr .name{
	font-size:1.2em;
}


#MainContents{
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#MainContents .copy_block h2{
	font-size:33px;
	line-height:1.32;
	font-weight:bold;
	margin-bottom:0.43em;
	letter-spacing:0px;
}

#MainContents .copy_block p{
	font-size:16px;
	line-height:1.76;
	margin-bottom:2.4em;
}

#MainContents .copy_block p .kome,
#MainContents .copy_block dl .kome{
	font-size:0.5em;
	line-height:1;
	vertical-align: 0.75em;
}

#MainContents .copy_block dl .kome{
	/*font-size:0.35em;
	vertical-align: 0.5em;*/
}

#MainContents .icon_block .kome{
	font-size:0.7em;
	line-height:1;
	vertical-align:top;
}

#MainContents .icon_block{
	margin-bottom:2em;	
}

#MainContents .siyo{
	display:inline-block;
	font-size:1em;
	line-height:1.81em;
	height:1.71em;
	border-bottom:solid #000 1px;
	border-top:solid #000 1px;
	padding-left:0.15em;
	padding-right:0.15em;
	font-weight:bold;
	margin-bottom:0.8em;
	
	
}

.ie11 #MainContents .siyo{
	line-height:2.1;
}
#MainContents dl{
	padding-bottom: 3em;
}

#MainContents dd{
	font-size:0.92em;
	line-height:1.8;
}

#MainContents dd.note{
	font-size:0.83em;
	line-height:1.7;
	padding-top: 0.2em;
}

#view_area dt,
#view_area dd,
#view_area .copy_block,
#view_area .image_block{
	text-align:left;
}

#view_area .copy_block .link .link_arrow{
	left:0.5em;
}


	

#MainContents .link a{
	text-decoration:underline;
	color:#000;	
}

/* NECのパソコンでできること */
#IconArea {text-align: left; width: 900px; margin: 0 auto;
padding-left:24px;
padding-right:24px;
padding-top: 115px;
padding-bottom: 29px;
}

#IconArea h2{
	font-size:18px;
	border:none;
	font-weight:bold;
}
#IconArea .iconComment { padding: 12px 0px 8px;}
#IconArea ul.icon { line-height: 0; font-size: 0%; font-size: 100%¥9; margin-left: 10px¥9; }
#IconArea ul.icon li { display: inline-block; display: inline¥9; width: 81px; height: 73px; position: relative; line-height: 100%; margin: 10px 0 0 10px; margin: 0px 0px 10px 10px; }
#IconArea ul.icon li.line_top{
	margin-left:0;
}
#IconArea ul.icon li a { text-decoration:none;}
#IconArea ul.icon li img { width: 77px; height: 69px; position: relative; border: 2px solid #ccc; background: url(/navigate/products/pc/share/series_top/images/ic_st_sprite_201605.png) 0px 0px no-repeat;}
#IconArea ul.icon li a img { width: 77px; height: 69px;  border: 2px solid #de6c35; }

#IconArea ul.icon.lve li a img {border-color:#bca244;}
#IconArea ul.icon.lvl li a img {border-color:#008063;}
#IconArea ul.icon.lvs li a img {border-color:#00a0b8;}
#IconArea ul.icon.hs li a img {border-color:#4e4687;}
#IconArea ul.icon.lvz li a img {border-color:#686d71;}
#IconArea ul.icon.hf li a img {border-color:#01b3d6;}
#IconArea ul.icon.ha li a img {border-color:#014190;}
#IconArea ul.icon.vsl li a img {border-color:#90528f;}
#IconArea ul.icon.vsn li a img {border-color:#dd6b26;}
#IconArea ul.icon.vss li a img {border-color:#006a8d;}
#IconArea ul.icon.lts li a img {border-color:#4c829a;}
#IconArea ul.icon.lte li a img {border-color:#238e3a;}
#IconArea ul.icon.ltw li a img {border-color:#b81c22;}

#view_area #IconArea ul.icon li a img {border-color:#666;}

#IconArea ul.icon li sup { position: absolute; top: 2px; right: 4px; line-height: 140%; font-size: x-small; font-size: 100%¥9; color: #ff0000; }
#IconArea ul.icon a .icon1 { background-position: 0px 0px; }
#IconArea ul.icon a .icon2 { background-position: -78px 0px; }
#IconArea ul.icon a .icon3 { background-position: -156px 0px; }
#IconArea ul.icon a .icon4 { background-position: -234px 0px; }
#IconArea ul.icon a .icon5 { background-position: -312px 0px; }
#IconArea ul.icon a .icon6 { background-position: -390px 0px; }
#IconArea ul.icon a .icon7 { background-position: -468px 0px; }
#IconArea ul.icon a .icon8 { background-position: -546px 0px; }
#IconArea ul.icon a .icon9 { background-position: -624px 0px; }
#IconArea ul.icon a .icon10 { background-position: -702px 0px; }
#IconArea ul.icon a .icon11 { background-position: -780px 0px; }
#IconArea ul.icon a .icon12 { background-position: -858px 0px; }
#IconArea ul.icon a .icon13 { background-position: -936px 0px; }
#IconArea ul.icon a .icon14 { background-position: -1014px 0px; }
#IconArea ul.icon a .icon15 { background-position: -1092px 0px; }
#IconArea ul.icon a .icon16 { background-position: -1170px 0px; }
#IconArea ul.icon a .icon17 { background-position: -1248px 0px; }
#IconArea ul.icon a .icon18 { background-position: -1326px 0px; }
#IconArea ul.icon a .icon19 { background-position: -1404px 0px; }
#IconArea ul.icon a .icon20 { background-position: -1484px 0px; }
#IconArea ul.icon a .icon21 { background-position: -1560px 0px; }
#IconArea ul.icon a .icon22 { background-position: -1638px 0px; }
#IconArea ul.icon a .icon23 { background-position: -1716px 0px; }
#IconArea ul.icon a .icon24 { background-position: -1794px 0px; }


#IconArea ul.icon a:hover .icon1, #IconArea ul.icon .icon1 { background-position: 0px -69px; }
#IconArea ul.icon a:hover .icon2, #IconArea ul.icon .icon2 { background-position: -78px -69px; }
#IconArea ul.icon a:hover .icon3, #IconArea ul.icon .icon3 { background-position: -156px -69px; }
#IconArea ul.icon a:hover .icon4, #IconArea ul.icon .icon4 { background-position: -234px -69px; }
#IconArea ul.icon a:hover .icon5, #IconArea ul.icon .icon5 { background-position: -312px -69px; }
#IconArea ul.icon a:hover .icon6, #IconArea ul.icon .icon6 { background-position: -390px -69px; }
#IconArea ul.icon a:hover .icon7, #IconArea ul.icon .icon7 { background-position: -468px -69px; }
#IconArea ul.icon a:hover .icon8, #IconArea ul.icon .icon8 { background-position: -546px -69px; }
#IconArea ul.icon a:hover .icon9, #IconArea ul.icon .icon9 { background-position: -624px -69px; }
#IconArea ul.icon a:hover .icon10, #IconArea ul.icon .icon10 { background-position: -702px -69px; }
#IconArea ul.icon a:hover .icon11, #IconArea ul.icon .icon11 { background-position: -780px -69px; }
#IconArea ul.icon a:hover .icon12, #IconArea ul.icon .icon12 { background-position: -858px -69px; }
#IconArea ul.icon a:hover .icon13, #IconArea ul.icon .icon13 { background-position: -936px -69px; }
#IconArea ul.icon a:hover .icon14, #IconArea ul.icon .icon14 { background-position: -1014px -69px; }
#IconArea ul.icon a:hover .icon15, #IconArea ul.icon .icon15 { background-position: -1092px -69px; }
#IconArea ul.icon a:hover .icon16, #IconArea ul.icon .icon16 { background-position: -1170px -69px; }
#IconArea ul.icon a:hover .icon17, #IconArea ul.icon .icon17 { background-position: -1248px -69px; }
#IconArea ul.icon a:hover .icon18, #IconArea ul.icon .icon18 { background-position: -1326px -69px; }
#IconArea ul.icon a:hover .icon19, #IconArea ul.icon .icon19 { background-position: -1404px -69px; }
#IconArea ul.icon a:hover .icon20, #IconArea ul.icon .icon20 { background-position: -1484px -69px; }
#IconArea ul.icon a:hover .icon21, #IconArea ul.icon .icon21 { background-position: -1560px -69px; }
#IconArea ul.icon a:hover .icon22, #IconArea ul.icon .icon22 { background-position: -1638px -69px; }
#IconArea ul.icon a:hover .icon23, #IconArea ul.icon .icon23 { background-position: -1716px -69px; }
#IconArea ul.icon a:hover .icon24, #IconArea ul.icon .icon24 { background-position: -1794px -69px; }

#IconArea ul.note {
	font-size:11px;
}
#IconArea ul.note li { padding-left: 2em; text-indent: -2em; }
#IconArea ul.note li .red{color:#ff6b48}


@media screen and (min-width:1200px) {
	.pc_over{
		display:none;
	}
	#megaplate .zero1>img{
		top: auto;
		bottom: -5px;
		position: absolute;
		left: 41%;
		margin-left: -110px;
	}
	
	#megaplate .tab_line .tab1 .zero2>img{
		left: 51%;
		margin-left: -292px;
		top: 4px;
		margin-top: 0;
	}
	
	#megaplate .tab_line .tab1 .zero3>img{
		left: 50%;
		margin-left: -300px;
		top: -45px;
		margin-top: 0;
	}
	
	#megaplate .tab_line .tab2 .frista1>img{
		left: 50%;
		margin-left: -304px;
		top: -22px;
		margin-top: 0;
	}
	
	#megaplate .ns1>img{
		top: 70%;
		margin-top: -200px;
		left: 32%;
		margin-left: -205px;
		top: -24px;
		margin-top: 0;
		top: auto;
		bottom: -40px;
		margin-bottom: -5%;
		position: absolute;
	}
	
	
	#megaplate .ns2>img{
		left: 51%;
		margin-left: -292px;
		top: -14px;
		margin-top: 0;
	}
	
	#megaplate .ns3>img{
		left: 50%;
		margin-left: -276px;
		top: -22px;
		margin-top: 0;
	}
	
	#megaplate .desk1>img{
		left: 50%;
		margin-left: -282px;
		top: -20px;
		margin-top: 0;
	}
	
	#megaplate .desk2>img{
		left: 50%;
		margin-left: -286px;
		top: -20px;
		margin-top: 0;
	}
	
	#megaplate .tablet1>img{
		left: 51%;
		margin-left: -278px;
		top: -40px;
		margin-top: 0;
	}
	
	#megaplate .tablet2>img{
		left: 50%;
		margin-left: -297px;
		top: -38px;
		margin-top: 0;
	}
	
	#megaplate .tablet3>img{
		left: 50%;
		margin-left: -297px;
		top: 5px;
		margin-top: 0;
	}
}

@media screen and (min-width:1260px) {
	#megaplate .ns1>img{
		bottom: -55px;
		margin-bottom: 0;
	}
	
}

@media screen and (min-width:1060px) {
	#megaplate2 dt br{
		display:none;	
	}
}



#megaplate2 ul,
#megaplate3 ul{
/*border-top: solid #d9d9d9 1px;*/
background-color:#fff;
}
#megaplate2 li,
#megaplate3 li{
	float:left;
	width:25%;
	box-sizing:border-box;
	position:relative;
	border-left:solid #eaeaea 1px;
	background-color:#fff;
	cursor:pointer;
}

#megaplate2 li img.pr_img,
#megaplate3 li img.pr_img{
	display:block;	
}
#megaplate2 li:hover img.pr_img,
#megaplate3 li:hover img.pr_img{
	-webkit-animation:blink 0.5s ease-out;
	animation:blink 0.5s ease-out;	
}

.ie9 #megaplate2 li:hover img.pr_img,
.ie9 #megaplate3 li:hover img.pr_img{
	opacity:0.7;
}

#megaplate2 li:first-child,
#megaplate3 li:first-child,
#megaplate3 li.line5{
	border-left:none;
}

#megaplate3 li.line1,
#megaplate3 li.line2,
#megaplate3 li.line3,
#megaplate3 li.line4{
	border-bottom:solid #eaeaea 1px;
}
#megaplate2 li.line4,
#megaplate3 li.line4{
	width:25%;
	margin-left:-2px;
	float:right;
}
#megaplate2 li.line2 .img_clip .bg{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-image: url(/navigate/products/pc/share/images/megaplate2_pic2.jpg);
	background-size: 125%;
	background-position: 0% 65%;
	background-repeat: no-repeat;
	-webkit-transition:-webkit-transform 0.3s ease-in-out;
	transition:transform 0.3s ease-in-out;
}

#megaplate2 li.line2:hover .img_clip .bg{
	-webkit-animation:blink 0.5s ease-out;
	animation:blink 0.5s ease-out;
}

#megaplate2 li.line2:hover .img_clip img{
	-webkit-animation:none;
	animation:none;
}

.ie9 #megaplate2 li.line2:hover .img_clip .bg{
	opacity:0.7;
}

#megaplate2 li.line2 .img_clip .pr_img{
	opacity:0;
	/*visibility:hidden;*/
}
.ie9 #megaplate2 li.line2:hover .pr_img{
	opacity:0;
}


@media screen and (max-width:1085px) {	
	#megaplate2 li .text dd{
		font-size:11px;
	}
	#megaplate3 li .text p{
		font-size:12px;
	}
}


#megaplate2 li .img_clip,
#megaplate3 li .img_clip{
	position:relative;
	overflow:hidden;
}

#megaplate2 li .img_clip img.pr_img,
#megaplate3 li .img_clip img.pr_img{
	width:120%;
	height:auto;
	-webkit-transition:-webkit-transform 0.3s ease-in-out;
	transition:transform 0.3s ease-in-out;
}
#megaplate3 li .img_clip img.pr_img{
	width: 110%;
	margin-left: -5%;
}

#megaplate2 li.line1 img.pr_img,
#megaplate2 li.line3 img.pr_img{
	margin-left:-5%;
}

#megaplate3 li.line1 img.pr_img,
#megaplate3 li.line4 img.pr_img,
#megaplate3 li.line6 img.pr_img{
		margin-left:-5%;
}

#megaplate2 li .img_clip img.link,
#megaplate3 li .img_clip img.link{
	display:block;
	position:absolute;
	right:14px;
	top:14px;
}

#megaplate2 li .text{
	/*padding:22px 22px 22px 27px;*/
	padding: 22px 4% 22px 6%;
}
#megaplate3 li .text{
	/*padding:17px 22px 15px 27px;*/
	padding: 22px 4% 22px 6%;
}

#megaplate2 li dt,
#megaplate3 li p{
	font-size:13px;
	text-align:left;
	line-height:1.3;
	margin-bottom:0.3em;
}


#megaplate3 li p{
	margin-bottom:0;
}
#megaplate2 li dd{
	font-size:12px;
	text-align:left;
	line-height:1.66;
}

#MainContents dl .kome{
	 font-size: 12px;
	 white-space:nowrap;
}

#footer3 .clearfix .ft_copyright{
    margin-left: -1em;
}

@media screen and (min-width:481px) {
	#megaplate .sp_only{
		display:none !important;
	}
}

@media screen and (max-width:480px) {
	
	#main_contents {
	    height: auto;
	}
	
	#megadrop{
		/*display:none;
		開発段階の仮処理*/
	}
	
	#megaplate2 li .text dd{
		font-size:10px;
	}
	
	#header3 #GlobalNavi{
		position:relative !important;
		z-index:5;
	}
	
	#mega_cover{
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	
	#megaplate .icon_line .tab_arrow.zero{background-color:transparent;top:auto;left:10%;}
	#megaplate .icon_line .tab_arrow.frista{background-color:transparent;top:auto;left:30%;}
	#megaplate .icon_line .tab_arrow.ns{background-color:transparent;top:auto;left:50%;}
	#megaplate .icon_line .tab_arrow.desk{background-color:transparent;top:auto;left:70%;}
	#megaplate .icon_line .tab_arrow.tablet{background-color:transparent;top:auto;left:90%;}
	#megaplate .icon_line .tab_arrow{
		-webkit-transform:translateX(-50%);
		-ms-transform:translateX(-50%);
		transform:translateX(-50%);
		bottom: -1px;
		right: auto;
		width: 3%;
	}
	
	#megaplate .icon_line .tab_arrow img{
		width:100%;
	}
	
	.arrow{
		background:none;
		padding:0;	
	}
	
	#megaplate .icon_line .tab_arrow img.pc_only {
		visibility:hidden;
	}
	
	#megadrop .lineup{
		background-color:#222;
		color: #fff;
		font-size: 15px;
		height: 44px;
		line-height: 45px;
		overflow: hidden;
	}
	
	#megadrop .lineup .title_line .title{
		float:left;	
		margin-left: 17px;
	}
	
	#megadrop .lineup .title_line .close{
		float:right;	
		margin-right: 17px;
		margin-top: 15px;
	}
	
	#megadrop .lineup .title_line .close img{
		width: 12px;
		height: auto;
	}
	
	#megaplate .icon_line{
		width: 100%;
		float: none;
		clear:both;
	}
	#megaplate .icon_line [class^="icon"]{
		width:20%;
		float:left;	
		text-align:center;
		background: #3a3a3a;
		height: 56px;
		height: auto;
		padding-bottom: 6px;
		padding-top: 6px;
	}
	
	#megaplate .icon_line .icon2 dl{
		white-space:nowrap;
		letter-spacing:-1px;
	}
	
	
	#megaplate .icon_line [class^="icon"] .inner {
		position: relative;
		left: 0%;
		margin-left:0;
		top:auto;
		margin-top:0;
	}
	
	#megaplate .icon_line [class^="icon"] img{
		float:none;
		display: inline-block;
		width: 50%;
		height: auto;
		margin:auto;
	}
	
	#megaplate .icon_line .link{
		display:none;
	}
	
	#megaplate .icon_line .link a{
		display:block;
	}
	
	#megaplate .icon_line [class^="icon"] dl{
		float: none;
		text-align:center;
		font-size: 10px;
		padding-top: 6px;
	}
	
	#megaplate .icon_line dd{
		display:none;
	}
	
	#megaplate .tab_line .win_logo {
		display:none;
	}
	#megaplate .tab_lineup {
		/*background-color:#fff;*/
	}
	#megaplate .tab_line{
		margin-left:0;
		height: 390px;
		width:100%;
		float:none;
		background-color:#eeeeee;
	}
		
	

	#megaplate .tab_line h2{
		width:43.46%;
		margin-left: 2%;
		padding-top: 10px;
		padding-bottom: 9px;
		height: auto;
		background-color:transparent;
	}
	
	#megaplate .tab_line .tab3 h2{
		padding-bottom: 9px;
		width: 47.06%;
	}
	
	#megaplate .tab_line h2 img{
		width:100%;	
	}
	#megaplate .tab_line .tab3 h2 img {
		width: 100%;
		padding-bottom:0;	
	}
	
	
	#megaplate .tab_line .link_line{
		font-size:10px;
		font-size: 10px;
		padding: 3% 4%;
		border-bottom: #aeaeae 1px solid;
	}
	#megaplate .tab_line .link_line.mbottom{
		border: medium none;
		padding-bottom: 2%;
	}
	
	#megaplate .tab_line .link_line a{
		color:#000;
	}
	
	#megaplate .tab_line .link_line .title{
		float:left;
		display: inline-block;
		line-height:1;
	}
	
	#megaplate .tab_line .link_line .arrow{
		float: left;
		margin-top: -2px;
		margin-left: 5px;
	}
	#megaplate .tab_line .link_line .arrow img{
		width: 12px;
		height: auto;
	}

	#megaplate .tab4 .desk2 .info_text br{
		/*display:none;*/
		
	}
	
	#megaplate .product_info:first-child {
		margin-left:auto;
	}
	#megaplate .product_info {
		width: 96%;
		margin-left:auto;
		margin-right:auto;
		height: 114px;
		float: none;
		position: relative;
		overflow: hidden;
		cursor:auto;
	}
	
	
	
	#megaplate .product_info > img {
		margin: 0;
		position: absolute;
		left: 65%;
		top: 50%;
		-webkit-transform: translateX(0) translateY(-50%);
		-ms-transform: translateX(0) translateY(-50%);
		transform: translateX(0) translateY(-50%);
		width: 30%;
	}
	
	#megaplate .product_info .info_text {
		font-size: 10px;
		line-height: 1;
		box-sizing: border-box;
		border: solid #fff 1px;
		border-radius: 3px;
		margin-bottom: 7px;
		display: inline-block;
		padding: 5px 5px 2px;
		float:left;
		width:auto;
		z-index: 1;
		position: relative;
	}
	
		
	#megaplate .tab5 .product_info.tablet2  .info_text,
	#megaplate .tab5 .product_info.tablet3  .info_text {
		margin-bottom: 6px;
	}
	
	#megaplate .product_info .feature p {
    font-size: 12px;
	line-height: 1.5;
	clear: both;
	}
	#megaplate .product_info .feature{
		height: 100%;
		top: 14px;
		text-align: left;
	}
	#megaplate .product_info .wight_text {
		left: 10px;
		top: 0;
		position: relative;
		float: left;
		font-size: 10px;
		padding-top:6px;
		line-height: 1;
		position:relative;
		z-index:1;
		/*line-height:20px;*/
	}
	#megaplate .product_info .wight_text.note{
		position: absolute;
		top: 67px;
	}
	#megaplate .product_info.ns1 .wight_text.note{
		top: 75px;
	}
	#megaplate .product_info .link {
		width: 20px;
		top: -6px;
		right: 8px;
		z-index: 1;
	}
	
	#megaplate .zero1 > img {
		margin-top:1%;
		left: 70%;
	}
	
	#megaplate .zero2 > img {
		width:65%;
		margin-left: -20%;
	}
	
	#megaplate .zero3 > img {
		width: 70%;
		margin-left: -22.5%;
		margin-top: -2.3%;
	}
	
	#megaplate .tab_line .tab2 .frista1 > img {
		width: 60%;
		left: 45%;
		max-width: 598px;
		margin-top: 0;
	}
	
	#megaplate .ns1 > img {
		width: 60%;
   		margin-left: -17%;
   		margin-top: -5.5%;
	}
	
	#megaplate .ns2 > img {
		width: 64%;
		margin-left: -22%;
		margin-top: -4%;
	}
	#megaplate .ns3 > img {
		width: 70%;
		margin-left: -22.5%;
		margin-top: -3.2%;
	}
	
	#megaplate .desk1 > img {
		width: 60%;
		margin-left: -17.5%;
		margin-top: -1.2%;
	}
	
	#megaplate .desk2 > img {
		width: 65%;
		margin-left: -21.5%;
		margin-top: -0.4%;
	}
	
	#megaplate .tab4 h2.all_in_one {
		width: 47.06%;
		margin-left: 15px;
		height: auto;
		margin-left: 2%;
	}
	
	#megaplate .tab4 h2.desk_power {
		width: 43.46%;
		margin-left: 0;
		left: 2%;
		position: relative;
		height: auto;
	}
	
	#megaplate .link2 .line1{
		display:none;
	}
	
	#megaplate .link2{
	    background-color: #eee;
    	font-size: 13px;
		padding: 3% 0px;
	}
	

	
	#megaplate .link2 li{
		padding:2% 4%;
		line-height: 1;
	}
	
	#megaplate .link2 a{
		color:#000;
	}
	
	#megaplate .link2 .title{
		float:left;
	}
	
	#megaplate .link2 .arrow{
		float:right;
		margin-top:-3px;
	}
	#megaplate .tab5 h2{
		float:left;
		padding-top: 12px;
		padding-bottom: 7px;
	}
	
	#megaplate .tab5 h2.e,
	#megaplate .tab5 h2.s {
		left: 0;
		position: relative;
	}
	
	#megaplate .tab5 .tablet1 .info_text br,
	#megaplate .tab5 .tablet2 .info_text br,
	#megaplate .tab5 .tablet3 .info_text br{
		display:none;	
	}
	
	#megaplate .tab5 .tablet1 .info_text,
	#megaplate .tab5 .tablet2 .info_text,
	#megaplate .tab5 .tablet3 .info_text{
		width:auto;
		line-height: 1.2;
		padding-top: 3px;
		-webkit-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);
		-webkit-transform-origin: left top;
		-webkit-transform-origin: left top;
		transform-origin: left top;
	}
	
	#megaplate .tab5 [class^='tablet'] .info_text br{
		display:none;	
	}
	
	#megaplate .tab5 [class^='tablet'] .info_text{
		width:auto;
	}
	
	#megaplate .tab5 .product_info{
		height: 92px;
	}
	
	#megaplate .tab5 .product_info .feature p{
		line-height:1.7;
	}
	
	#megaplate .tab5 .product_info.tablet2 .feature p,
	#megaplate .tab5 .product_info.tablet3 .feature p{
		line-height:1.3;
	}
	
	#megaplate  .tab5 .link_line	{
		padding: 4% 2% 0;
		border-bottom: none;
		float: right;
	}
	
	#megaplate .tablet1 > img {
		width: 62%;
		margin-left: -16.5%;
		margin-top: -2%;
	}
	
	#megaplate .tablet2 > img {
		width: 65%;
		margin-left: -23.5%;
		margin-top: -4.5%;
	}
	
	#megaplate .tablet3 > img {
		width: 65%;
		margin-left: -22%;
		margin-top: 2%;
	}
	
	
	/*僅少品削除*/
	
	#megaplate .tab_line .link_line{
		display:none !important;
	}
	
	#megaplate .tab_line{
		padding-bottom: 0.75em;
		border-top:none;
	}
	
	#megaplate .link2{
		border-top: #aeaeae 1px solid;
	}
	
	/*一覧で表示、仮削除*/
	
	#megaplate .link2 .line2{
		display:none;
	}
	
	/*megaplate2*/
	
	#megaplate2 li, #megaplate3 li{
		width: 50%;
		border-left: solid #eaeaea 2px;
		border-bottom: solid #eaeaea 3px;
	}
	#megaplate2 li.line2,
	#megaplate2 li.line4,
	#megaplate3 li.line2, 
	#megaplate3 li.line4,
	#megaplate3 li.line6, 
	#megaplate3 li.line8{
		width: 50%;
		float:right;
		margin-left:-2px;
		border-left: solid #eaeaea 2px;
		border-right: none;
	}
	
	#megaplate2 li .img_clip img.pr_img,
	#megaplate3 li .img_clip img.pr_img{
	width:100% !important;
	height:auto;
	margin-left:0 !important;
	-webkit-transition:-webkit-transform 0.3s ease-in-out;
	transition:transform 0.3s ease-in-out;
	}
	
	#megaplate2 li.line2 .img_clip .pr_img{
		opacity:1;
	}
	
	#megaplate2 ul, #megaplate3 ul {
		border: solid #eaeaea 5px;
		border-bottom-width: 3px;
	}
	
	#megaplate2 li dt, #megaplate3 li p {
		font-size: 11px;
	}
	
	#megaplate2 li dd {
		font-size: 10px;
		line-height: 1.4;
	}
	
	
	#megaplate2 li .img_clip img.link,
	#megaplate3 li .img_clip img.link{
		width:9%;
		height:auto;
		right: 4%;
		top: 8%;
	}
	
	#megaplate2 li .text,
	#megaplate3 li .text{
		padding: 3%;
		-webkit-transform: scale(0.96);
		-ms-transform: scale(0.96);
		transform: scale(0.96);
		/*width: 103%;
		
		-webkit-transform-origin: left top;
		-ms-transform-origin: left top;
		transform-origin: left top;*/
		
	}
	
	#megaplate3 li .text{
			padding: 3% 0;
			position:relative;
			
	}
	
	#megaplate3 li .text p{
		position:relative;
		text-align:center;
	}
	#megaplate3 li.line2 .pr{
		font-size:10px;
		-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
		-webkit-transform-origin:left bottom;
		-ms-transform-origin:left bottom;
		transform-origin:left bottom;
		bottom: 3px;
	}

	
	#megaplate3 li.line1 .text p,
	#megaplate3 li.line2 .text p,
	#megaplate3 li.line4 .text p,
	#megaplate3 li.line6 .text p{
		-webkit-transform:translateY(50%);
		-ms-transform:translateY(50%);
		transform:translateY(50%);
	}
	
	#megaplate3 li.line7, 
	#megaplate3 li.line8{
		display:none;
	}
	
	megaplate2 li.line2:hover .img_clip .bg{
		-webkit-transform:scale(1);
		-ms-transform:scale(1);
		transform:scale(1);
	}
	
	#megaplate2 li:hover img.pr_img,
	#megaplate3 li:hover img.pr_img{
		-webkit-transform:scale(1);
		-ms-transform:scale(1);
		transform:scale(1);		
	}
	
	
	#megaplate .icon_line .tab_arrow{
		-webkit-transform-origin:center bottom;
		-ms-transform-origin:center bottom;
		transform-origin:center bottom;
		background:none !important;
	}

	
	#megaplate3 li .text p{
		font-size: 11px;
	}
	
	
	#main_contents .navi_band1{
		display:none;
	}
	#main_contents .navi_band2{
		display:none;
	}
	#main_contents .contents_wrap{
		width:96%;
	}
	
	#main_contents > .contents_wrap{
		height:auto;
		overflow: visible;
	}
	
	#main_contents{
		min-height: auto;
		overflow: visible;
	}
	
	#MainContents .copy_block p{
		letter-spacing: 0px;
	}
	
	#view_area #block1 .sp_btn{
		border-top: solid #777 2px;
	}
	
	#view_area .sp_btn{
		position:relative;
		border-top: solid #777 1px;
		border-bottom: solid #777 1px;
		cursor:pointer;
	}
	
	#view_area .sp_btn .title{
		font-size:14px;
		line-height:60px;
		height:60px;
		text-align:center;
	}
	
	#view_area .sp_btn .icon{
		position:absolute;
		right:25px;
		top:0;
		line-height:60px;
		height:60px;
		font-size: 20px;
	}
	
	
	
	#view_area .sp_btn .icon.active{
		
	}
	
	#view_area .sp_btn .icon .minus{
		position:absolute;
		width:100%;
		text-align:center;
		top:0;left:0;
		visibility:hidden;
		transform: scaleX(1.8);
		-webkit-transform: scaleX(1.8);
		-ms-transform: scaleX(1.8);
		font-weight: normal;
	}
	
	
	#view_area [id^='block'].open .icon .minus{
		visibility:visible;
	}
	#view_area [id^='block'].open .sp_btn .icon .plus{
		visibility:hidden;
	}
	#view_area .contents_wrap{
		height:auto;
	}
	
	#IconArea {
		width: 100%;
		padding: 0;
		margin-bottom: 30px;
	}
	#IconArea .tleft {
		position: relative;
	}
	#IconArea ul.icon {
		margin-left: 11.33%;
    	width: 90%;
	}
	#IconArea ul.icon li {
		margin-left: 2%;
		width: 18.9%;
		height: auto;
		margin-bottom: 2%;
	}
	#IconArea ul.icon li sup {
		top: 3px;
		right: 1px;
		line-height: 1.1;
	}
	#IconArea ul.icon.lvl li a img {
		background-size: 2960%;
		width: 100%;
		height: auto;
	}
	
	
	

	#block8 #IconArea ul.icon li.line_top{
		margin-left:6px;
	}
	#block8 #IconArea ul.icon li.line_top_sp{
		margin-left:0;
	}
	
	#IconArea h2{
		margin-left: 13.5%;
		width: 75%;
		font-size: 14px;
		line-height:1.3;
		margin-bottom:0.5em;
	}
	
	#IconArea h2 .tume{
		margin-left:-0.3em;
		margin-right:-0.3em;	
	}
	#IconArea .iconComment {
		padding: 0;
		margin-left: 13%;
    	width: 75%;
    	font-size: 12px;
    	line-height: 1.4;
    	margin-bottom: 14px;
	}
	#IconArea ul.note {
		margin-left: 13%;
		width: 74.5%;
		font-size: 11px;
		line-height: 1.6;
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none;
	}
	
	
	#IconArea ul.icon li {
		margin-left: 2%;
		width: 18.9%;
		height: auto;
		margin-bottom: 2%;
	}
	#IconArea ul.icon li sup {
		top: 3px;
		right: 1px;
		line-height: 1.1;
	}
	#IconArea ul.icon.lvl li a img {
		background-size: 2960%;
		width: 100%;
		height: auto;
	}
	
	
	#IconArea ul.icon li img {
    background: url(/navigate/products/pc/share/series_top/images/ic_st_sprite_201605.png) 0px 0px no-repeat;
	background-size: 2960%;
    width: 100%;
    height: auto;
}
	
	#IconArea { width: 96%; margin-top: 30px; }
	#IconArea ul.icon li { margin-left: 6px; }
	#IconArea ul.icon li { margin-right: 0px; }

	#IconArea ul.icon li img.icon1 { background-position: 0.1% -4%; }
	#IconArea ul.icon li img.icon3 { background-position: 7.7% 104%; }
	#IconArea ul.icon li img.icon2 { background-position: 3.9% 104%; }
	#IconArea ul.icon li img.icon4 { background-position: 11.6% 102%; }
	#IconArea ul.icon li img.icon6 { background-position: 19.1% 102%; }
	
	#IconArea ul.icon li img.icon5 { background-position: 15.3% 0px; }
	#IconArea ul.icon li img.icon7 { background-position: 22.9% -2%; }
	#IconArea ul.icon li img.icon8 { background-position: 26.65% -2%; }
	#IconArea ul.icon li img.icon20 { background-position: 72.2% -2%; }
	
	#IconArea ul.icon li img.icon24 { background-position: 87.3% -2% }
	#IconArea ul.icon li img.icon11 { background-position: 38.1% -2%; }
	#IconArea ul.icon li img.icon14 { background-position: 49.45% 103%; }
	#IconArea ul.icon li img.icon10 { background-position: 34.3% -2%; }
	
	#IconArea ul.icon li img.icon21 { background-position: 75.9% 103%; }
	#IconArea ul.icon li img.icon22 { background-position: 79.7% -5%; }
	#IconArea ul.icon li img.icon16 { background-position: 57% -4%; }
	#IconArea ul.icon li img.icon23 { background-position: 83.5% -2%; }
	
	
	#IconArea ul.icon li a img.icon3 { background-position: 7.7% 0px; }
	#IconArea ul.icon li a img.icon2 { background-position: 3.9% -2%; }
	#IconArea ul.icon li a img.icon4 { background-position: 11.6% -3%; }
	#IconArea ul.icon li a img.icon6 { background-position: 19.1% -3%; }
	
	#IconArea ul.icon li a img.icon5 { background-position: 15.3% 0px; }
	#IconArea ul.icon li a img.icon7 { background-position: 22.9% -2%; }
	#IconArea ul.icon li a img.icon8 { background-position: 26.65% -2%; }
	#IconArea ul.icon li a img.icon20 { background-position: 72.2% -2%; }
	
	#IconArea ul.icon li a img.icon24 { background-position: 87.3% -2% }
	#IconArea ul.icon li a img.icon11 { background-position: 38.1% -2%; }
	#IconArea ul.icon li a img.icon14 { background-position: 49.45% -2%; }
	#IconArea ul.icon li a img.icon10 { background-position: 34.3% -2%; }
	
	#IconArea ul.icon li a img.icon21 { background-position: 75.9% -2%; }
	#IconArea ul.icon li a img.icon22 { background-position: 79.7% -5%; }
	#IconArea ul.icon li a img.icon16 { background-position: 57% -4%; }
	#IconArea ul.icon li a img.icon23 { background-position: 83.5% -2%; }
	
	
	#IconArea ul.icon li a:hover img.icon1 { background-position: 0.1% -4%; }
	#IconArea ul.icon li a:hover img.icon2 { background-position: 3.9% -2%; }
	#IconArea ul.icon li a:hover img.icon3 { background-position: 7.7% 0px; }
	#IconArea ul.icon li a:hover img.icon4 { background-position: 11.6% -3%; }
	#IconArea ul.icon li a:hover img.icon6 { background-position: 19.1% -3%; }
	
	#IconArea ul.icon li a:hover img.icon5 { background-position: 15.3% 0px; }
	#IconArea ul.icon li a:hover img.icon7 { background-position: 22.9% -2%; }
	#IconArea ul.icon li a:hover img.icon8 { background-position: 26.65% -2%; }
	#IconArea ul.icon li a:hover img.icon20 { background-position: 72.2% -2%; }
	
	#IconArea ul.icon li a:hover img.icon24 { background-position: 87.3% -2% }
	#IconArea ul.icon li a:hover img.icon11 { background-position: 38.1% -2%; }
	#IconArea ul.icon li a:hover img.icon14 { background-position: 49.45% -2%; }
	#IconArea ul.icon li a:hover img.icon10 { background-position: 34.3% -2%; }
	
	#IconArea ul.icon li a:hover img.icon21 { background-position: 75.9% 103%; }
	#IconArea ul.icon li a:hover img.icon22 { background-position: 79.7% -5%; }
	#IconArea ul.icon li a:hover img.icon16 { background-position: 57% -4%; }
	#IconArea ul.icon li a:hover img.icon23 { background-position: 83.5% -2%; }
	

	#footer3 .sns.clearfix{
		width:100%;
		text-align:center;
	}
	#footer3 .sns a {
		display: inline-block;
		float:none;
	}
	
	#main #MainContents #IconArea ul.icon li{
		margin-left: 2%;
	}
	
	#main #MainContents #IconArea ul.icon li.line_top {
    margin-left: 6px;
}
	 #main #MainContents #IconArea ul.icon li.line_top_sp {
	margin-left: 2%;
}

#MainContents .copy_block h2{font-size:23px;}
#MainContents .siyo {font-size:13px;}
#MainContents .copy_block p{
		font-size: 15px;
		margin-bottom: 1.8em;
}
    

#MainContents .copy_block .link {
	font-size: 12px; 
}
#MainContents dl {
    font-size: 13px;
}
#MainContents dl.price_box{
	  font-size: 11px;
}
#MainContents dl{
	padding-bottom:2em;
}

#MainContents dl .kome{
	 font-size: 10px;
	 white-space:nowrap;
	 vertical-align:0.25em !important;
}

#footer3 .clearfix .ft_copyright{
    margin-left: 20px;
}
	
}

/*
@media screen and (max-width:380px) {
	#megaplate .icon_line [class^="icon"] dl{
		font-size: 9px;
		-webkit-transform:scale(0.9);
		-ms-transform:scale(0.9);
		transform:scale(0.9);
		white-space:nowrap;
	}
	
	#megaplate .product_info .feature p {
    	font-size: 10px;
	}
	
}

@media screen and (max-width:340px) {
	#megaplate .icon_line [class^="icon"]{
		padding-top: 8px;
	}
	
	#view_area .contents_wrap{
		padding-left: 7%;
		padding-right: 7%;
	}
	#block2 .copy_block,
	#block3 .copy_block,
	#block5 .copy_block,
	#block6 .copy_block,
	#block7 .copy_block{
		padding-left: 7%;
		padding-right: 7%;
	}

}
*/
	

	
