@charset "UTF-8";

/*top.css8*/

/* ----------------------------------------------
	一般設定
---------------------------------------------- */
h1 {
	display: none;
	margin: 0;
	padding: 0;
}
h2 {
	margin: 0;
	padding: 0 0 0 12px;
	font-size: 105%;
	font-weight: normal;
	border-left: 6px solid #000000;
	line-height: 200%;
	text-align: left;
}
td {
	font-size: 100%;
}
p {
	margin: 0 0 4 0;
}
.bold {
	font-weight: bold;
}
.mobileonly {
	display: none;
}
.pconly{
	display: block;
}
/* ----------------------------------------------
	レイアウト
---------------------------------------------- */
.MainWidth {
	width: 950px;
	margin: 0 auto;
}
.MainWidth2 {
	width: 950px;
	margin: 0 auto;
	border-top: 1px dotted #cccccc;
}
.mt30 {
	margin-top: 30px;
}

/* ----------------------------------------------
	パンくず
---------------------------------------------- */
#PathArea {
	width: 950px;
	margin: 0 auto;
	padding: 10px 0 20px;
	text-align: left;
	font-size: 85%;
}
#PathArea .mda {
	float: right;
}
#PathArea ul {
	margin: 0;
	padding: 0;
}
#PathArea ul li {
	list-style-type: none;
	display: inline;
}
#PathArea ul li strong {
	font-weight: normal;
}

/* ----------------------------------------------
	製品ラインアップ
---------------------------------------------- */
#LineupArea {
	width: 950px;
	margin: 0 auto;
	text-align: left;
	font-size: 85%;
}
#LineupArea #LineupMenu {
	margin: 0;
	padding: 6px 8px;
	font-size: 92%;
	background: #f8f9fa;
}
#LineupArea #LineupMenu{
	font-size: 12px;
}
#LineupArea #LineupMenu .tabletBox {
	float: left;
}
#LineupArea #LineupMenu .hybridBox {
	float:left;
	padding-right:14px;
}
#LineupArea #LineupMenu .compareBox {
	float: left;
	padding-right:14px;
}
#LineupArea #LineupMenu .compareBox img {
	cursor: pointer;
}
#LineupArea #LineupMenu .noteBox {
	float: left;
	padding-right:14px;
}
#LineupArea #LineupMenu .desktopBox {
	float: left;
	padding-right:14px;
}
#LineupArea #LineupMenu .tabletBox ul li.line {
	margin-top: -1px;
	padding: 0px 4px;
	background: #ffffff;
	border-bottom: none;
	min-height: 32px;
	position: relative;
}
#LineupArea #LineupMenu .tabletBox ul li a {
	padding: 5px 0;
	width: 65px;
	width: 67px\9;
}
#LineupArea #LineupMenu .hybridBox ul li a {
	padding: 5px 0;
	width: 97px;
	width: 99px\9;
}
#LineupArea #LineupMenu .noteBox ul li a {
	padding: 5px 0;
	width: 114px;
	width: 116px\9;
}
#LineupArea #LineupMenu .desktopBox ul li a {
	padding: 5px 0;
	width: 92px;
	width: 94px\9;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	#LineupArea #LineupMenu .desktopBox ul li a {
		width: 86px;
	}
}
#LineupArea #LineupMenu .title {
	float: left;
}
#LineupArea #LineupMenu .icon {
	margin-left: 5px;
	margin-bottom: 5px;
}
#LineupArea #LineupMenu .tBox {
	height: 42px;
	height: auto\9;
}
#LineupArea #LineupMenu ul {
	float: left;
	margin: 0;
	padding: 0;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	list-style-type: none;
}
#LineupArea #LineupMenu ul li {
	float: left;
	text-align: center;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
#LineupArea #LineupMenu ul li a {
	display: block;
	font-size: 108%;
	border: 1px solid #ffffff;
	border-top-style: none;
	background: url(/navigate/products/images/bg_menu_01.gif) bottom repeat-x;
}
/* for IE8 & 9 */
#LineupArea #LineupMenu ul li a {
/*	width: 62px\9; */
}
/* for IE10 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	#LineupArea #LineupMenu ul li a {
/*		width: 60px; */
	}
}
#LineupArea #LineupMenu ul li a:link {
	text-decoration: none;
	font-weight: bold;
	color: #000000	;
}
#LineupArea #LineupMenu ul li a:visited,
#LineupArea #LineupMenu ul li a:active {
	text-decoration: none;
	font-weight: bold;
	color: #000000	;
}
#LineupArea #LineupMenu ul li.tabw a.selected,
#LineupArea #LineupMenu ul li.tabw a:hover {
	border-color: #91020a;
	background: #91020a;
	color: #ffffff;
}

#LineupArea #LineupMenu ul li.tabs a.selected,
#LineupArea #LineupMenu ul li.tabs a:hover {
	border-color: #00abbc;
	background: #00abbc;
	color: #ffffff;
}

#LineupArea #LineupMenu ul li.tabe a.selected,
#LineupArea #LineupMenu ul li.tabe a:hover {
	border-color: #39653f;
	background: #39653f;
	color: #ffffff;
}

#LineupArea #LineupMenu ul li.hf a.selected,
#LineupArea #LineupMenu ul li.hf a:hover {
	border-color: #088bbc;
	background: #088bbc;
	color: #ffffff;
}

#LineupArea #LineupMenu ul li.hz a.selected,
#LineupArea #LineupMenu ul li.hz a:hover {
	border-color: #1f323b;
	background: #1f323b;
	color: #ffffff;
}

#LineupArea #LineupMenu ul li.ha a.selected,
#LineupArea #LineupMenu ul li.ha a:hover {
	border-color: #002166;
	background: #002166;
	color: #ffffff;
}

#LineupArea #LineupMenu ul li.hs a.selected,
#LineupArea #LineupMenu ul li.hs a:hover {
	border-color: #5d676c;
	background: #5d676c;
	color: #ffffff;
}

#LineupArea #LineupMenu ul li.ns a.selected,
#LineupArea #LineupMenu ul li.ns a:hover {
	border-color: #006550;
	background: #006550;
	color: #ffffff;
}

#LineupArea #LineupMenu ul li.da a.selected,
#LineupArea #LineupMenu ul li.da a:hover {
	border-color: #df6d37;
	background: #df6d37;
	color: #ffffff;
}

#LineupArea #LineupMenu ul li.dt a.selected,
#LineupArea #LineupMenu ul li.dt a:hover {
	border-color: #865590;
	background: #865590;
	color: #ffffff;
}

#LineupArea #LineupMenu ul li.vsl a.selected,
#LineupArea #LineupMenu ul li.vsl a:hover {
	border-color: #865590;
	background: #865590;
	color: #ffffff;
}
#LineupArea #LineupMenu ul li.his a.selected,
#LineupArea #LineupMenu ul li.his a:hover {
	border-color: #333;
	background: #333;
	color: #ffffff;
}
#LineupArea #LineupMenu .inBox {
	display: none;
}
#LineupArea #TopImage {
	margin: 0;
	width: 950px;
	height: 270px;
	overflow: hidden;
	position: relative;
}
#LineupArea #TopImage ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 99999px;
}
#LineupArea #TopImage ul li {
	position: relative;
	float: left;
	width: 950px;
	height: 300px;
}
#LineupArea #TopImage ul li .bgImage {
	position: absolute;
	top: 0;
	left: 0;
}
#LineupArea #TopImage ul li .mainImage {
	position: absolute;
	top: 12px;
	left: 2px;
}
#LineupArea #TopImage ul li .priceArea {
	position: absolute;
	top: 175px;
	left: 555px;
}
#LineupArea #TopImage ul li .priceArea .red {
	color: #ff008e;
}
#LineupArea #TopImage ul li .priceArea .red .large {
	font-size: 150%;
}
#LineupArea #TopImage ul li .btnArea {
	position: absolute;
	top: 210px;
	left: 555px;
	overflow:hidden;
}
#LineupArea #TopImage #prevBox {
	position: absolute;
	top: 50%;
	left: 0;
	display: none;
}
#LineupArea #TopImage #prevBox img {
	margin-top: -28px;
	position: relative;
	cursor: pointer;
}
#LineupArea #TopImage #nextBox {
	position: absolute;
	top: 50%;
	right: 0;
	display: none;
}
#LineupArea #TopImage #nextBox img {
	margin-top: -28px;
	position: relative;
	cursor: pointer;
}
@media screen and (min-width: 481px) {
#LineupArea #LineupMenu .inBox {
	display: none !important;
}
}

/* ----------------------------------------------
	製品比較マップ
---------------------------------------------- */
#CompareMap {
	display: none;
}
#mapCoverid {
	background: #000000;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
#mapCoverid {
	position: absolute\9;
	width: 100%\9;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	#mapCoverid:not(:target) {
		position: fixed\9;
		width: auto\9;
	}
}
#CompareMain {
	width: 1058px;
	position: absolute;
	top: 0;
	left: 0;
}
#CompareMain .inBox {
/*	margin: 17px;
	padding: 22px 40px 22px 23px;
	background: #ffffff;	*/
}
#CompareMain .closeBox {
	position: absolute;
	top:-15px;
	right: -15px;
	cursor: pointer;
}
#CompareMain .compareMenu {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#CompareMain .compareMenu li {
	float: right;
	margin-left: 10px;
	padding-top: 8px;
}
#CompareMain .compareMenu li img {
	cursor: pointer;
	display: block;
}
#CompareMain .compareMenu li.selected {
	padding-top: 0;
}
#CompareMain .compareMenu li.selected img {
	cursor: auto;
}
#CompareMain .compareImage {
/*	width: 887px;
	height: 700px;*/
}
/*
#CompareMain .compareImage img {
	margin: 15px 0 0 32px;
}
*/
#CompareMain #CompareLavietab .compareImage {
	background: url(/navigate/products/images/bg_map_lavietab.jpg) 0 0 no-repeat;
}
#CompareMain #CompareLavie .compareImage {
	background: url(/navigate/products/images/bg_map_lavie.jpg) 0 0 no-repeat;
}
#CompareMain #CompareValuestar .compareImage {
	background: url(/navigate/products/images/bg_map_valuestar.jpg) 0 0 no-repeat;
}
#CompareMain #CompareLavie {
	display: none;
}
#CompareMain #CompareValuestar {
	display: none;
}
@media screen and (max-width:480px) {
	#mapCoverid {
		display: none;
	}
	#CompareMain {
		display: none;
	}
}

/* ----------------------------------------------
	ピックアップコンテンツ
---------------------------------------------- */
#Pickup {
	float: left;
	width: 685px;
	padding: 20px 0 0;
	text-align: left;
	font-size: 85%;
	line-height: 140%;
}
#Pickup dl {
	margin: 0;
	padding: 16px 0 0 12px;
}
#Pickup dl dt {
	float: left;
	padding: 0 0 10px;
}
#Pickup dl dd {
	float: right;
	width: 295px;
	margin: 0;
	padding: 0 0 10px;
	font-size: 90%;
}
#Pickup dl dd a.title {
	display: block;
	padding: 0 0 5px;
	font-size: 108%;
	font-weight: bold;
}
#Pickup #ecatalog {
	float: right;
}


/* ----------------------------------------------
	周辺機器・その他
---------------------------------------------- */
#otherProducts {
	float: right;
	width: 235px;
	padding: 20px 0 0;
	text-align: left;
	font-size: 85%;
}
#otherProducts ul {
	margin: 0;
	padding: 8px 0 0 20px;
	list-style-type: none;
	font-size: 0;
	line-height: 0;
}
#otherProducts ul li {
	padding: 4px 0 0;
}

/* ----------------------------------------------
	関連コンテンツ
---------------------------------------------- */
#relationContents {
	width: 950px;
	margin: 15px auto 0;
	padding: 20px 0 10px;
	text-align: left;
	border-top: 1px dotted #cccccc;
	font-size: 85%;
}
#relationContents ul {
	margin: 0 0 0 -25px;
	padding: 7px 0 0;
	list-style-type: none;
	font-size: 0;
	line-height: 0;
}
#relationContents ul li {
	float: left;
	padding: 13px 0 0 40px;
}
#relationContents ul li.wdlc {
	float: right;
}

/* ----------------------------------------------
	キャンペーン
---------------------------------------------- */
#campaignContents {
	width: 950px;
	margin: 15px auto 0;
	padding: 20px 0 0;
	text-align: left;
	border-top: 1px dotted #cccccc;
	font-size: 85%;
}
#campaignContents ul {
	margin: 0 0 0 -25px;
	padding: 7px 0 0;
	list-style-type: none;
	font-size: 0;
	line-height: 0;
}
#campaignContents ul li {
	float: left;
	padding: 13px 0 0 40px;
}

/* ----------------------------------------------
	新商品情報
---------------------------------------------- */
#TopicsArea {
	float: left;
	width: 435px;
	text-align: left;
	font-size: 85%;
	line-height: 140%;
	padding: 30px 0 0;
}
#TopicsArea dl {
	padding: 0 0 0 15px;
	font-size: 92%;
}
#TopicsArea dl dt {
	float: left;
	margin: 0;
	padding: 0 0 5px;
}
#TopicsArea dl dd {
	margin: 0;
	padding: 0 0 5px;
	padding-left: 4em;
}

/* ----------------------------------------------
	プレスリリース/お知らせ
---------------------------------------------- */
#InfoArea {
	float: right;
	width: 435px;
	text-align: left;
	font-size: 85%;
	line-height: 140%;
	padding: 30px 0 0;
}
#InfoArea dl {
	padding: 0 0 0 15px;
	font-size: 92%;
}
#InfoArea dl dt {
	float: left;
	margin: 0;
	padding: 0 0 5px;
}
#InfoArea dl dd {
	margin: 0;
	padding: 0 0 5px;
	padding-left: 4em;
}

/* ----------------------------------------------
	商品に関する重要なお知らせ
---------------------------------------------- */
#importantInfo {
	width: 950px;
	margin: 15px auto 0;
	padding: 20px 0 0;
	text-align: left;
	font-size: 85%;
}
#importantInfo h2 {
	border-left: none;
	background: url(/navigate/products/images/ic_important_01.gif) left center no-repeat;
	padding-left: 22px;
}
#importantInfo dl {
	padding: 0 0 0 20px;
}
#importantInfo dl dt {
	float: left;
}
#importantInfo dl dd {
	margin: 0;
	padding: 0 0 10px 10em;
}

/* ----------------------------------------------
	関連リンク
---------------------------------------------- */
#LinkArea {
	background: #e9ebf0;
	padding: 55px 0 40px;
	font-size: 85%;
	line-height: 140%;
}
#LinkArea ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: left;
}
#LinkArea ul.linkMain {
	width: 930px;
	margin: 0 auto;
}
#LinkArea ul.linkMain li {
	display: block;
	float: left;
}
#LinkArea ul.linkMain li.list1 {
	width: 175px;
}
#LinkArea ul.linkMain li.list2 {
	width: 240px;
}
#LinkArea ul.linkMain li.list3 {
	width: 165px;
}
#LinkArea ul.linkMain li.list4 {
	width: 185px;
}
#LinkArea ul.linkMain li.list5 {
	width: 165px;
}
#LinkArea ul.linkMain li ul.inLink {
	padding-top: 1em;
}
#LinkArea ul.linkMain li ul.inLink li {
	float: none;
	display: block;
	width: 100%;
	padding: 2px 0;
}
@media screen and (min-width: 480px) {
	#LinkArea ul.linkMain li div {
		background: none!important;
	}
	#LinkArea ul.linkMain li ul.inLink {
		display: block!important;
	}
}

/* ----------------------------------------------
	ジャンプスタート&ページトップ
---------------------------------------------- */
#PageBottomArea {
	width: 950px;
	padding: 30px 0 0;
}
#PageBottomArea .jumpstart {
	text-align: center;
	font-weight: bold;
}
#PageBottomArea .jumpstart img {
	vertical-align: middle;
	margin-right: 30px;
}
#PageBottomArea .pagetop {
	font-size: 75%;
	list-style-type: none;
	text-align: right;
}
#PageBottomArea .pagetop li {
	background: url(/navigate/ware_top/images/img_arrow_08.gif) 0 50% no-repeat;
	padding-left: 10px;
	float: right;
}

@media screen and (max-width: 480px) {

	/* ----------------------------------------------
		一般設定
	---------------------------------------------- */
	.mobileonly {
		display: block;
	}
	.pconly {
		display: none!important;
	}
	/* ----------------------------------------------
		レイアウト
	---------------------------------------------- */
	.MainWidth {
		width: 100%;
	}
	.MainWidth2 {
		width: 100%;
	}
	.mb100p {
		width: 100%;
		height: auto;
	}
	.pb20 {
		padding-bottom: 20px;
	}
	/* ----------------------------------------------
		パンくず
	---------------------------------------------- */
	#PathArea {
		width: 90%;
	}
	#PathArea .mda {
		float: none;
		margin: 0 0 20px auto;
		display: block;
	}


	/* ----------------------------------------------
		製品ラインアップ
	---------------------------------------------- */
	#LineupArea {
		width: auto;
	}
	#LineupArea #LineupMenu {
		padding: 0;
	}
	#LineupArea #LineupMenu .compareBox {
		display: none;
	}
	#LineupArea #LineupMenu .tabletBox {
		float: none;
		width: auto;
		margin: 0;
		padding: 20px 0 0;
	}
	#LineupArea #LineupMenu .hybridBox {
		float: none;
		width: auto;
		padding: 20px 0 0;
	}
	#LineupArea #LineupMenu .noteBox {
		float: none;
		width: auto;
		padding: 20px 0 0;
	}
	#LineupArea #LineupMenu .desktopBox {
		float: none;
		width: auto;
		padding: 20px 0 0;
	}
	#LineupArea #LineupMenu .dLifeBox {
		float: none;
		width: auto;
		padding: 20px 0 0;
	}
	#LineupArea #LineupMenu .title {
		float: none;
	}
	#LineupArea #LineupMenu .icon {
		display: none;
	}
	#LineupArea #LineupMenu .tBox {
		height: auto;
	}
	#LineupArea #LineupMenu ul{
		float: none;
		border: none;
		border-top: 1px solid #cccccc;
	}
	#LineupArea #LineupMenu ul li{
		float: none;
		border: none;
		border-bottom: 1px solid #cccccc;
		text-align:left;
	}
	#LineupArea #LineupMenu p.title{
		color:#fff;
		padding:10px;
		font-size:14px;
		margin-bottom:0;
	}
	#LineupArea #LineupMenu .tabletBox p.title{
		background-color:#91020a;
	}
	#LineupArea #LineupMenu .hybridBox p.title{
		background-color:#1f323b;
	}
	#LineupArea #LineupMenu .noteBox p.title{
		background-color:#088bbc;
	}
	#LineupArea #LineupMenu .desktopBox p.title{
		background-color:#df6d37;
	}
	#LineupArea #LineupMenu .dLifeBox p.title{
		background-color:#333333;
	}

	#LineupArea #LineupMenu ul li a,
	#LineupArea #LineupMenu .tabletBox ul li a,
	#LineupArea #LineupMenu .hybridBox ul li a,
	#LineupArea #LineupMenu .noteBox ul li a,
	#LineupArea #LineupMenu .desktopBox ul li a,
	#LineupArea #LineupMenu .dLifeBox ul li a{
		width: auto;
		padding: 0;
	/*	background: url(/navigate/products/images/bg_menu_01.gif) bottom repeat-x; */
	}
	#LineupArea #LineupMenu .inBox {
		background: #ffffff;
		display:block;
		padding:15px 10px;
	}
	#LineupArea #LineupMenu .img50p {
		width:45%;
		margin-right:5%;
		height:auto;
		float:left;
	}
	#LineupArea #LineupMenu .inBox .rightArea{
		width:50%;
		float:right;
	}
	#LineupArea #LineupMenu .inBox .kataArea{
		font-weight:bold;
		margin-bottom:5px;
	}
	#LineupArea #LineupMenu .inBox a {
		background-image: none;
		border: none;
		width: auto;
		margin: 0;
		padding: 0;
	}
	#LineupArea #LineupMenu .inBox a.selected,
	#LineupArea #LineupMenu .inBox a:hover {
		background: #ffffff !important;
		color: #333333 !important;
	}
	#LineupArea #LineupMenu .inBox .btnArea a {
		background-image: none;
		background: -moz-linear-gradient(top center, #fff 0%, #ccc 100%);
		background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
		background: linear-gradient(top center, #fff 0%, #ccc 100%);
		border: 1px solid #cccccc;
		width: 80%;
		margin: 10px 0 0 auto;
		padding: 5px 0;
		border-radius: 5px;
		text-align:center;
	}
	#LineupArea #LineupMenu .inBox .btnArea a.selected,
	#LineupArea #LineupMenu .inBox .btnArea a:hover {
	/*	border-color: #ffffff !important;*/
		background: #ffffff !important;
		background: -moz-linear-gradient(top center, #fff 0%, #ccc 100%) !important;
		background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc)) !important;
		background: linear-gradient(top center, #fff 0%, #ccc 100%) !important;
		color: #333333 !important;
	}
	#LineupArea #LineupMenu .inBox .priceArea .red {
		color: #ff008e;
	}
	#LineupArea #LineupMenu .inBox .priceArea .red .large {
		font-size: 125%;
	}
	#LineupArea #TopImage {
		display: none;
	}

	/* ----------------------------------------------
		ピックアップコンテンツ
	---------------------------------------------- */
	#Pickup {
		float: none;
		width: 90%;
	}
	#Pickup dl {
		margin: 0;
		padding: 10px 0 0;
	}
	#Pickup dl dt {
		float: none;
		padding: 10px 0;
		text-align: center;
	}
	#Pickup dl dt img {
		width: 100%;
		max-width: 352px;
		height: auto;
		max-height: 77px;
	}
	#Pickup dl dd {
		float: none;
		width: 100%;
		margin: 0 auto;
	}
	#Pickup #ecatalog {
		float: none;
		text-align: center;
	}
	#Pickup #ecatalog img {
		width: 100%;
		height: auto;
		max-width: 311px;
		max-height: 42px;
	}

	/* ----------------------------------------------
		周辺機器・その他
	---------------------------------------------- */
	#otherProducts {
		float: none;
		width: 90%;
	}
	#otherProducts ul {
		padding: 8px 0 0;
		text-align: center;
	}
	#otherProducts ul li {
		padding: 10px 0 0;
	}
	#otherProducts ul li img {
		width: 90%;
		max-width: 405px;
		height: auto;
		max-height: 81px;
	}

	/* ----------------------------------------------
		関連コンテンツ
	---------------------------------------------- */
	#relationContents {
		width: 90%;
	}
	#relationContents ul {
		margin: 0;
	}
	#relationContents ul li {
		float: none;
		padding: 13px 0 0;
		text-align: center;
	}
	#relationContents ul li.wdlc {
		float: none;
	}

	/* ----------------------------------------------
		キャンペーン
	---------------------------------------------- */
	#campaignContents {
		width: 90%;
	}
	#campaignContents ul {
		margin: 0;
	}
	#campaignContents ul li {
		float: none;
		padding: 13px 0 0;
		text-align: center;
	}

	/* ----------------------------------------------
		新商品情報
	---------------------------------------------- */
	#TopicsArea {
		float: none;
		width: 90%;
	}

	/* ----------------------------------------------
		プレスリリース/お知らせ
	---------------------------------------------- */
	#InfoArea {
		float: none;
		width: 90%;
	}

	/* ----------------------------------------------
		商品に関する重要なお知らせ
	---------------------------------------------- */
	#importantInfo {
		width: 90%;
	}
	#importantInfo dl {
		padding: 0;
	}
	#importantInfo dl dd {
		padding: 0 0 10px 7em;
	}

	/* ----------------------------------------------
		関連リンク
	---------------------------------------------- */
	#LinkArea {
		background: #ffffff;
		padding-top:10px;
	}
	#LinkArea ul.linkMain {
		width: 100%;
		margin: 0\9;
	}
	#LinkArea ul.linkMain li {
		display: block;
		float: none;
	}
	#LinkArea ul.linkMain li.list1,
	#LinkArea ul.linkMain li.list2,
	#LinkArea ul.linkMain li.list3,
	#LinkArea ul.linkMain li.list4,
	#LinkArea ul.linkMain li.list5 {
		width: auto;
	}
	#LinkArea ul.linkMain li div {
		width: auto;
		border: 1px solid #CCCCCC;
		border-bottom-style: none;
		background: #ebedf1 url(/navigate/products/images/ic_arrow_down.gif) 96% 50% no-repeat;
		padding: 18px 16px;
		font-weight: bold;
		cursor:pointer;
	}
	#LinkArea ul.linkMain li ul.inLink {
		padding-top: 0;
		display: none;
	}
	#LinkArea ul.linkMain li ul.inLink li {
		display: block;
		padding: 0;
		float: left\9;
	}
	#LinkArea ul.linkMain li ul.inLink li a {
		display: block;
		width: auto;
		border: 1px solid #CCCCCC;
		border-bottom-style: none;
		background: #ffffff;
		padding: 18px 16px 18px 32px;
		background: url(/navigate/ware_top/images/img_arrow_01.gif) 20px 50% no-repeat;
	}
	#LinkArea ul.linkMain li.list5 {
		border-bottom: 1px solid #CCCCCC;
	}

	/* ----------------------------------------------
		ジャンプスタート&ページトップ
	---------------------------------------------- */
	#PageBottomArea {
		width: 90%;
		padding: 10px 0 0;
	}
	#PageBottomArea .jumpstart {
		text-align: left;
	}
	#PageBottomArea .jumpstart img {
		vertical-align: middle;
		margin: 0 auto 20px;
		display: block;
	}

}


/*style3*/

/* ----- header ----- */
#header4 { width: 100%; margin: 0px; padding: 0px; text-align: center; font-size: small; font-size: x-small\9; }
#header4 #top_logoLine { width: 950px; margin: 0px auto 0px; padding: 5px 0 0px; text-align: left; min-height: 44px; position: relative; background: #ffffff; }
#header4 #top_logoLine .logo_121ware { margin: 0; padding: 6px 0 0px 9px; float: left; }
#header4 #top_logoLine .logo_121ware a { margin-right: 19px; }
#header4 #top_logoLine .logo_121ware img { margin: 0 0 4ox; }
#header4 #top_logoLine .logo_121ware a img { margin: 0; }
#header4 #top_logoLine .hd_nlogo { float: right; margin: 15px 16px 0 0; }
* html #header4 #top_logoLine .hd_nlogo { display: inline; }
#header4 #top_logoLine .hd_personal { float: left; margin: 16px 16px 0 0; }
#header4 #top_logoLine #toggleBtn { display: none; clear: right; float: right; padding-right: 16px; }
#header4 #top_logoLine #toggleBtn p { display: block; font-size: 120%; color: #0066cc; margin: 6px 0 6px; padding: 5px; border: 1px solid #b6b6b6; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background: -moz-linear-gradient(top, #ffffff, #e1e1e1); background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e1e1e1)); box-shadow: 1px -1px 0px 0px rgba(236, 236, 236, 1) inset; cursor: pointer; }
#header4 #top_logoLine .hd_sitemap { float: right; margin: 16px 44px 0 0; }
#header4 #top_logoLine .hd_sitemap a:hover img { filter: alpha(opacity=70); -moz-opacity:0.7; opacity:0.7; }
#header4 #top_GlobalNavi { width: 100%; width: auto\9; min-width: 950px; background: url(/include/header/images/hd_bgline_01.gif) top repeat-x; margin: 0 auto; margin: 2px auto 0\9; padding: 0; overflow: hidden; }
#header4 #top_GlobalNavi ul { width: 950px; margin: 0 auto; padding: 1px 0 2px; text-align: left; }
* html #header4 #top_GlobalNavi ul { margin: 0; }
#header4 #top_GlobalNavi ul li { list-style-type: none; float: left; margin:0; padding: 0; min-height: 47px; background: url(/include/header/images/hd_line_01.gif) left top no-repeat; }
* html #header4 #top_GlobalNavi li { height: 47px; }
#header4 #top_GlobalNavi ul li.bizsearch { zoom: 1; float: right; }
#header4 #top_GlobalNavi ul li ul li{ list-style-type: none; float: none; margin:0; padding: 0; font-size: 80%; min-height: auto; height: auto; }
#header4 #top_GlobalNavi ul li a { margin-left: 1px; }
#header4 #top_GlobalNavi li a span { display: block; text-indent: -9999px; }
#header4 #top_GlobalNavi .products { width: 116px;}
#header4 #top_GlobalNavi .products a { display: block; width: 115px; height: 47px; background: url(/include/header/images/hd_products_sel.gif) 0 0 no-repeat; }
#header4 #top_GlobalNavi .shopping { width:136px; }
#header4 #top_GlobalNavi .shopping a { display: block; width: 135px; height: 47px; background: url(/include/header/images/hd_shopping_off.gif) 0 0 no-repeat; }
#header4 #top_GlobalNavi .shopping a:hover { width: 135px; height: 47px; background: url(/include/header/images/hd_shopping_on.gif) 0 0 no-repeat; }
#header4 #top_GlobalNavi .support { width:191px; }
#header4 #top_GlobalNavi .support a { display: block; width: 190px; height: 47px; background: url(/include/header/images/hd_support_off.gif) 0 0 no-repeat; }
#header4 #top_GlobalNavi .support a:hover { width: 190px; height: 47px; background: url(/include/header/images/hd_support_on.gif) 0 0 no-repeat; }
#header4 #top_GlobalNavi .application { width:116px; }
#header4 #top_GlobalNavi .application a { display: block; width: 115px; height: 47px; background: url(/include/header/images/hd_application_off.gif) 0 0 no-repeat; }
#header4 #top_GlobalNavi .application a:hover { width: 115px; height: 47px; background: url(/include/header/images/hd_application_on.gif) 0 0 no-repeat; }
#header4 #top_GlobalNavi .mypage { width:131px; }
#header4 #top_GlobalNavi .mypage a { display: block; width: 130px; height: 47px; background: url(/include/header/images/hd_mypage_off.gif) 0 0 no-repeat; }
#header4 #top_GlobalNavi .mypage a:hover { width: 130px; height: 47px; background: url(/include/header/images/hd_mypage_on.gif) 0 0 no-repeat; }
#header4 #top_GlobalNavi .sitemap { display: none; }
#header4 #top_GlobalNavi .sitemap a { display: block; width: 130px; height: 47px; }
#header4 #top_GlobalNavi ul li img { display: block; margin: 0; }
#header4 #top_GlobalNavi ul li #top_bizsearchAspForm { background: url(/include/header/images/hd_search_01.gif) 20px 14px no-repeat; zoom: 1; }
#header4 #top_GlobalNavi ul li #top_bizsearchAspForm:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
#header4 #top_GlobalNavi ul li #top_bizsearchAspQuery { border-style: none; display: block; width: 136px; height: 25px; line-height: 24px; margin-left: 47px; background: none; float: left; }
#top_bizsearchAspForm { margin: 0; padding: 13px 0 0 0px; display: block; width: 259px!important; }
#top_srchBtn { float: right; margin: 2px 0 0; }
#top_srchBtn2 { display: none; border: 1px solid #bbbdc3; background: #ffffff; float: right; padding: 3px 6px; }

@media screen and (max-width: 480px) {
	#header4 #top_logoLine { width: 100%; min-width: 320px; }
	#header4 #top_logoLine .logo_121ware { width: 127px; }
	#header4 #top_logoLine .hd_nlogo {margin-top: 11px;}
	#header4 #top_logoLine .hd_sitemap { display: none; }
	#header4 #top_logoLine .hd_personal { clear: both; margin: 14px 0 10px 9px; width: 60%; }
	#header4 #top_logoLine .hd_personal img { width: 75%; height: auto; }
	#header4 #top_logoLine #toggleBtn { display: block; }
	#header4 #top_GlobalNavi { min-width: 320px; height: auto; background-image: none; background-color: #e9ebf0; opacity: 0; position: static; }
	#header4 #top_GlobalNavi ul { width: 100%; margin: 0px 0 0; padding: 1px 0 2px; text-align: left; }
	#header4 #top_GlobalNavi ul li { width: 49.9999%!important; min-height: auto; }
	#header4 #top_GlobalNavi ul li.bizsearch { width: 100%!important; background: #e9ebf0; }
	#header4 #top_GlobalNavi ul li.sitemap { display: block; }
	#header4 #top_GlobalNavi ul li a { width: 98%!important; width: 100%\9!important; height: auto!important; min-height: auto; background-image: none!important; text-indent: 0!important; padding: 0px 1%; text-decoration: none; margin-left: 0; text-align: center; }
	#header4 #top_GlobalNavi ul li a span { display: block; text-indent: 0px; background: #ffffff; padding: 11px 0; }
	#header4 #top_GlobalNavi ul li a:hover span { background: #eeeeee; }
	#header4 #top_GlobalNavi ul li a:link { background: #e9ebf0; border-top: 1px solid #e9ebf0; border-bottom: 1px solid #e9ebf0; font-size: 120%; }
	#header4 #top_GlobalNavi ul li a:visited { background: #e9ebf0; border-top: 1px solid #e9ebf0; border-bottom: 1px solid #e9ebf0; font-size: 120%; }
	#header4 #top_GlobalNavi ul li a:hover { background: #e9ebf0!important; border-top: 1px solid #e9ebf0; border-bottom: 1px solid #e9ebf0; font-size: 120%; }
	#header4 #top_GlobalNavi ul li a:active { background: #e9ebf0; border-top: 1px solid #e9ebf0; border-bottom: 1px solid #e9ebf0; font-size: 120%; }
	#header4 #top_GlobalNavi ul li #top_bizsearchAspForm { background-image: none; }
	#header4 #top_GlobalNavi ul li #top_bizsearchAspQuery { margin-left: 0; margin-top: 1px; border: 1px solid #bbbdc3; width: 82%; width: 75%\9; padding-left: 30px; background: #ffffff url(/include/ware_top/images/ic_search_01.gif) left center repeat-y; }
	#top_bizsearchAspForm { width: auto!important; margin: 10px; padding: 0; }
	#top_srchBtn { display: none; }
	#top_srchBtn2 { display: block; }
}
@media screen and (max-width: 320px) {
	#header4 #top_logoLine { width: 320px\9; }
	#header4 #top_GlobalNavi { width: 320px\9; }
}
@media screen and (min-width: 481px) {
	#header4 #top_GlobalNavi ul:first-child {
		margin-top: 0px!important;
	}
	#header4 #top_logoLine {
		font-size: 0%;
		height: 47px\9;
	}
}


/*end-style3*/

/*common162q*/


#header4{
	position:relative;
	z-index:1;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	
}

body.ie10 #header4{
	/*margin-top:-17px;*/
}


#header4 #top_GlobalNavi{
	background:none;
	z-index:1000;
}

#header4 #top_GlobalNavi li a{
		font-size:14px;
		color:#000;
		margin-left:0;
}


#header4 #top_GlobalNavi li{
	background:none;
}

#header4 #top_GlobalNavi ul{
	position:relative;
	width:100%;
}
#header4 #top_GlobalNavi li a{
	background:none !important;
	width:auto !important;
	height:auto !important;
}

#header4 #top_GlobalNavi li{
	background:none !important;
}

#header4 #top_GlobalNavi li a span{
	text-indent:0;
	display:inline;	
}
#header4 #top_GlobalNavi li.active{
	margin-left:-20px;
	margin-right:16px;
}

#header4 #top_GlobalNavi li.active a span{
padding:8px 15px 7px;
background-color:#000;
border-radius:6px;	
}

.ie11 #header4 #top_GlobalNavi li.active a span,
.ie10 #header4 #top_GlobalNavi li.active a span{
	padding:6px 14px 1px 15px;
	border:solid 1px #000;
	transform:translate3d(1px,0,0);
}

#header4 #top_GlobalNavi>.contents_wrap{
	width:auto;	
}


	
	#header4 #top_GlobalNavi ul{
		padding-top:20px;
	}
	
	
	#header4 .logo_121ware a,
	#header4 .hd_nlogo a{
		display:block;
		
	}
	
	#header4 .logo_121ware{
		margin-left:-1px;
	}
	
	#header4 #top_GlobalNavi ul li.logo_121ware{
		margin-right: 40px;
	}
	
	
	
	
	
	#header4  #top_GlobalNavi .hd_nlogo{
		margin-top:6px;
		float: right;
		margin-right: 42px
	}
	
	
	
	
	
	#header4 #top_GlobalNavi ul li #top_bizsearchAspForm{
		background:none;
		
	}
	
	
	
	#header4 #top_GlobalNavi ul li #top_bizsearchAspQuery{
		
		margin-left:0;
		right: 25px;
		top: 1px;
	}
	
	h1{
		display:block;
	}
	
	/*body.ie8 #header4 #top_GlobalNavi ul li.bizsearch{
		position:absolute;
		right:0;
	}
	body.ie8 #header4 #top_GlobalNavi ul li #top_bizsearchAspQuery{
		width: 0px;
		visibility:hidden;
		position: absolute;
		right: 25px;
		top: 1px;
		padding: 0;
	}*/
	
	
	#header4 #top_GlobalNavi .bizsearch .grass_icon{
		display:block;
		float: left;
		margin-top: -2px;
		
		margin-left: 17px;
	}
	#header4 #top_GlobalNavi .serch .bizsearch .grass_icon{
		opacity:1;
		
	}
		
	#top_GlobalNavi .bizsearch .close{
		width:19px;
		height:11px;
		padding-top:8px;
		right:148px;
		top:19px;
		position: absolute;
		cursor: pointer;
		opacity:0;
		-webkit-transition:opacity 0.3s ease-out;
		transition:opacity 0.3s ease-out;
	}
	
	#top_GlobalNavi .serch .bizsearch .close{
		opacity:1;
	}
	
	#top_GlobalNavi .bizsearch .close img{
		display:block;
		position:absolute;
		top:8px;
		left:-3px;
	}
	
	#top_GlobalNavi .bizsearch .close img.line1{
		-webkit-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		transform:rotate(45deg);
	}
	
	#top_GlobalNavi .bizsearch .close img.line2{
		-webkit-transform:rotate(-45deg);
		-ms-transform:rotate(-45deg);
		transform:rotate(-45deg);
	}
	
	.ie8 #top_GlobalNavi .bizsearch .close{
		background-image:url(/navigate/products/common/images/header_serch_close.png);
	}
	
	.ie8 #top_GlobalNavi .bizsearch .close img{
		visibility:hidden;
	}
	
	
	#header4 #top_GlobalNavi ul li #top_bizsearchAspQuery{
		right:auto;
		left: 165px;
		width: 79%;
		visibility:hidden;
		position: absolute;
		font-size: 15px;
		padding: 5px;
		line-height:1;
		height:auto;
		border: none;
		
		outline: 0;
		color:#666;
		
		padding-bottom: 3px;
		border-radius: 5px;
		top: -3px;
	}
	
	#header4 #top_GlobalNavi ul.serch li #top_bizsearchAspQuery{
		visibility:visible;
		top:16px;
		left:55px;
	}
	
	#header4 #top_GlobalNavi ul.serch li #top_bizsearchAspQuery{
		top:16px; 
	}
	
	
	#header4 #top_GlobalNavi ul li.bizsearch{
		position:absolute;
		width:100%;
		/*right:0;*/
		left:0;
		visibility:hidden;
		opacity:0;
		-webkit-transition:opacity 0.5s ease-out,-webkit-transform 0.8s ease-out;
		transition:opacity 0.5s ease-out,transform 0.8s ease-out;
		opacity:0;
		-webkit-transform:translateX(600px);
		transform:translateX(600px);
	}
	
	#header4 #top_GlobalNavi .serch li.bizsearch{
		z-index:2;
		visibility:visible;
		opacity:1;
		background-color: #fff !important;
		margin-top: -16px;
		padding-top: 16px;
		width: 100%;
		right: -142px;
		left: auto;
		padding-bottom: 8px;
		-webkit-transform:translateX(0px);
		transform:translateX(0px);
	}
	
	#header4 #top_GlobalNavi .serch_show_btn{
		position: absolute;
		right: 0px;
		top: 20px;
		min-height: initial;
		min-height:inherit;
		min-height: none;
		cursor:pointer;
		-webkit-transition:opacity 0.3s ease-out;
		transition:opacity 0.3s ease-out;
	}
	
	#header4 #top_GlobalNavi .serch_show_btn img{
		width:19px;
		height:auto;
	}
	
	#header4 #top_GlobalNavi .serch .serch_show_btn{
		opacity:0;
	}
	
	
	#top_srchBtn2{
		display: block;
		font-size: 15px;
		position: absolute;
		right: 200px;
		padding: 0;
		border: none;
		top: 19px;
		cursor: pointer;
		z-index: 5;
		background: transparent;
	}
	

	
	#header4 #top_GlobalNavi li a{
		line-height:1;
		/*font-weight:bold;*/
		-webkit-transform:translate3d(0,0,0);
		transform:translate3d(0,0,0);
	}
	
	#header4 #top_GlobalNavi .sitemap{
		display:block;
		margin-right:86px;
	}
	
	
	
	#header4 #top_GlobalNavi>contents_wrap>ul{
		
	}
	
	
	
	
	
	
	
	#top_GlobalNavi input#top_srchBtn{
		float: left;
		margin-left: 127px;
		margin-top: -8px;
		display:none;
		opacity:0;
		-webkit-transition:opacity 0.3s ease-out;
		transition:opacity 0.3s ease-out;
	}
	
	#top_GlobalNavi .serch input#top_srchBtn{
		opacity:1;
	}
		
	
	form#top_bizsearchAspForm{
		padding-top: 4px;
	}
	
	
	#header4 #top_GlobalNavi .products,
	#header4 #top_GlobalNavi .shopping,
	#header4 #top_GlobalNavi .support,
	#header4 #top_GlobalNavi .application,
	#header4 #top_GlobalNavi .mypage,
	#header4 #top_GlobalNavi .sitemap{
		width:auto;
		margin-right:38px;
		margin-top:6px;
		-webkit-transition:opacity 0.5s ease-out,-webkit-transform 0.5s ease-out;
		transition:opacity 0.5s ease-out,transform 0.5s ease-out;
		
	}
	
	#header4 #top_GlobalNavi .products:hover,
	#header4 #top_GlobalNavi .shopping:hover,
	#header4 #top_GlobalNavi .support:hover,
	#header4 #top_GlobalNavi .application:hover,
	#header4 #top_GlobalNavi .mypage:hover,
	#header4 #top_GlobalNavi .sitemap:hover{
		-webkit-animation:blink 0.5s ease-out;
		animation:blink 0.5s ease-out;
	}
	
	#header4 #top_GlobalNavi .serch .products,
	#header4 #top_GlobalNavi .serch .shopping,
	#header4 #top_GlobalNavi .serch .support,
	#header4 #top_GlobalNavi .serch .application,
	#header4 #top_GlobalNavi .serch .mypage,
	#header4 #top_GlobalNavi .serch .sitemap,
	#header4 #top_GlobalNavi .serch .hd_nlogo{
		-webkit-transform:scale(0.05);
		transform:scale(0.05);
		opacity:0;
		filter:alpha(opacity=0);
	}
	#header4 #top_GlobalNavi .shopping,
	#header4 #top_GlobalNavi .support,
	#header4 #top_GlobalNavi .mypage,
	#header4 #top_GlobalNavi .sitemap{
		letter-spacing:-2px;	
	}
	#header4 #top_GlobalNavi .sitemap{
		margin-right: 0;
	}
	#header4 #top_GlobalNavi .support,
	#header4 #top_GlobalNavi .mypage,
	#header4 #top_GlobalNavi .sitemap{
		letter-spacing:-1px;
	}
	
	/*ブリンクの中止*/
	#header4 #top_GlobalNavi .products:hover{
		-webkit-animation:none;
		animation:none;
	}

@media screen and (max-width: 480px) {
	
	
	#header4 #top_logoLine,
	#header4 #top_GlobalNavi{
		min-width:initial;
		min-width:none;
		min-width:inherit;
	}
	
	
	#header4 #top_GlobalNavi>.contents_wrap{
		visibility:hidden;	
	}
	#header4 #top_GlobalNavi.show>.contents_wrap{
		visibility:visible;		
	}
	
	
	#top_GlobalNavi .bizsearch .close,
	#header4 #top_GlobalNavi .serch_show_btn{
		display:none;
	}
	
	#header4 #top_logoLine{
		z-index:11;
		height: 55px;
	}
	
	#header4 #top_logoLine .logo_121ware{
		padding: 14px 0 0px 16px;
		position: absolute;
		left:0;
	}
	
	#header4 #top_logoLine .logo_121ware a img{
		width:82px;
		height: auto;
	}
	
	
	#header4 #top_logoLine .hd_nlogo{
		margin-right:0px;
		margin-top: 17px;
		position: absolute;
		right: 74px;
	}
	
	#header4 #top_logoLine .hd_nlogo img{
		width:46px;	
		height:auto;
	}
	
	#header4 #top_GlobalNavi {
		position:absolute;
		opacity: 1;
		
		/*top: 57px;
		margin-top:-400px;
		*/
	}
	
	#top_bargerBtn{
		width:35px;
		height:35px;
		top:15px;
		right:16px;
		position:absolute;
	}
	
	#top_bargerBtn .open{
		position:absolute;
		top:0;
		left:0;
	}
	
	#top_bargerBtn .close{
		opacity:0;	
	}
	
	#top_bargerBtn.btn_open .open{
		opacity:0;	
	}
	

	
	#top_bargerBtn.btn_open .close{
		opacity:1;	
	}
	
	#top_bargerBtn img{
		top:0;
		width:100%;
		height:auto;
	}
	
	#top_bargerBtn [class^='border'] img{
		position:absolute;
		height:2px;
		-webkit-transition:-webkit-transform 0.3s ease-out,opacity 0.3s ease-out;
		transition:transform 0.3s ease-out,opacity 0.3s ease-out;
	}
	
	
	#top_bargerBtn .border1,
	#top_bargerBtn .border2,
	#top_bargerBtn .border3{
		position:absolute;
		top:0;
		left:0;
		width:100%;
	}
	
	#top_bargerBtn .border2{
		top:8px;
	}
	#top_bargerBtn .border3{
		top:16px;
	}
	#top_bargerBtn .border1 img,
	#top_bargerBtn .border3 img{
		-webkit-transform-origin:45% center;
		-ms-transform-origin:45% center;
		transform-origin:45% center;
	}
	
	#top_bargerBtn .border2 img{
		-webkit-transform-origin:center center;
		-ms-transform-origin:center center;
		transform-origin:center center;
	}
	
	
	
	#top_bargerBtn .right{
		left:auto;
		right:0;
	}
	
	
	
	#top_bargerBtn.btn_open .border2 img{
		opacity:0;
		-webkit-transform:scaleX(0.01);
		-ms-transform:scaleX(0.01);
		transform:scaleX(0.01);
	}
	
	#top_bargerBtn.btn_open .border1 img{
		-webkit-transform:translateY(7px) rotate(45deg) scaleX(0.66);
		-ms-transform:translateY(7px) rotate(45deg) scaleX(0.66);
		transform:translateY(7px) rotate(45deg) scaleX(0.66);
	}
	
	
	
	#top_bargerBtn.btn_open .border3 img{
		-webkit-transform:translateY(-7px) rotate(-45deg) scaleX(0.66);
		-ms-transform:translateY(-7px) rotate(-45deg) scaleX(0.66);
		transform:translateY(-7px) rotate(-45deg) scaleX(0.66);
	}
	
	#header4 #top_GlobalNavi ul li{
		font-size:13px;
		border: solid 1px #e5e5e5;
		border-top-width: 2px !important;
		border-left-width: 1px;
		background-color: #fff !important;
		box-sizing:border-box;
	}
	
	#header4 #top_GlobalNavi>.contents_wrap>ul li a{
		font-size:1em !important;
		border:none !important;
		background-color: #fff !important;
		padding:4px 0;
		text-align:left;
		padding-left:12px;
		box-sizing:border-box;
		width:100% !important;
		line-height: normal;
		padding-right: 0;
		font-weight:normal;
		color: #000;
	}
	
	#header4 #top_GlobalNavi>.contents_wrap>ul li{
		margin-right:0;
		margin-top:0;
		margin-left:0;
	}
	
	#header4 #top_GlobalNavi>.contents_wrap>ul li a:hover{
		 /*width:100% !important;
		 height:auto;
		background-color: #e5e5e5 !important;*/
	}
	

	#header4 #top_GlobalNavi ul li a,
	#header4 #top_GlobalNavi ul li:hover a{
		background:none;	
	}
	
	#header4 #top_GlobalNavi ul li a span{
		background: none;
		border-radius: 0;
		padding: 11px 0;
		background-color: transparent;
	}
	
	#header4 #top_GlobalNavi ul li.active a span{
		color:#fff;	
		padding: 11px 0px;
		background-color: transparent;
			}
	
	#header4 #top_GlobalNavi ul li.active{
		background-color:#000 !important;
	}
	
	#header4 #top_GlobalNavi>.contents_wrap>ul li.active a{
		background-color: transparent !important;
	}
	
	
	
	
	#header4 #top_GlobalNavi ul li a span,
	#header4 #top_GlobalNavi ul li a:hover span{
		background:url(/navigate/products/common/images/menu_arrow.png) no-repeat 93% center;
		background-size:20px 20px;
		display:block;
		width:100% ;
	}
	
	#header4 #top_GlobalNavi ul li.active a span{
		background:url(/navigate/products/common/images/menu_arrow_white.png) no-repeat 93% center;
		background-size:20px 20px;
	}
	
	
	#header4 #top_GlobalNavi ul li.shopping,
	#header4 #top_GlobalNavi ul li.application,
	#header4 #top_GlobalNavi ul li.sitemap{
		border-left-width: 1px;
	}
	
	#header4 #top_GlobalNavi .contents_wrap{
		width: 100%;
		padding:0;
		background-color:#e5e5e5;
	}
	
	#header4 #top_GlobalNavi .contents_wrap>ul{
		border: solid #e5e5e5 3px;
		box-sizing: border-box;
		padding: 1px 0 2px;
	}
	
	
	#header4 #top_GlobalNavi ul li.bizsearch{
		border: solid #e5e5e5 1px;
		box-sizing: border-box;
		background-color:#fff;
		border-bottom-width: 2px;
		border-top-width: 1px !important;
		position: relative;
		visibility: visible;
		opacity: 1;
		padding: 5px 0;
		transform:none;
		-webkit-transform:none;
		-ms-transform:none;
	}
	
	
	#header4 #top_GlobalNavi .bizsearch .grass_icon{
		display:none;
	}
	
	#header4 #top_GlobalNavi ul li #top_bizsearchAspQuery{
		font-size: 13px;
		height: auto;
		padding:  6px 10px 6px 0;
		width: 90% !important;
		border: none !important;
		color:#888;
		visibility: visible;
		opacity: 1;
		position: relative;
		left: auto;
		transform: none;
	}
	
	
	#top_srchBtn2wrap{
		width:18px;height:18px;
		background:url(/navigate/products/common/images/sarch_grass.png) no-repeat;
		background-size:100% 100%;
		float: right;
		margin-top: 4px;
		margin-right: 4px;
		margin-left:-10px;
	}
	
	#top_srchBtn2{
		width:18px;height:18px;
		float:none;
		padding:0;
		opacity:0;
		right: 0;
		position: relative;
	}
	
	#header4 #top_GlobalNavi ul li #top_bizsearchAspForm{
		padding:0;
	}
	
	#header4 #top_GlobalNavi div.sec_gnav{
	
    	border-top: #e5e5e5 solid 1px;
		
	}
	
	#header4 #top_GlobalNavi  .sec_gnav ul.contents_wrap{
		width:100%;
		padding-top:0;
	}
	
	#header4 #top_GlobalNavi .sec_gnav ul li{
		width: 34% !important;
		margin-left: 0;
		font-size: 0.9em;
		border-width: 1px !important;
		border-bottom: 0;
		border-right: none;
		line-height:39px;
		height:39px;
		text-align: center;
		border-top:none;
	}
	
	div#header4 #top_GlobalNavi .sec_gnav ul li:hover,
	 div#header4 #top_GlobalNavi .sec_gnav ul li.active{
		border-bottom:none; 
	 }
	 
	 #header4 #top_GlobalNavi .products:hover,
	#header4 #top_GlobalNavi .shopping:hover,
	#header4 #top_GlobalNavi .support:hover,
	#header4 #top_GlobalNavi .application:hover,
	#header4 #top_GlobalNavi .mypage:hover,
	#header4 #top_GlobalNavi .sitemap:hover{
		-webkit-animation:none;
		animation:none;
	}
	 
	 div#header4 #top_GlobalNavi .sec_gnav ul li a:hover{
		background-color:#fff !important;
	 }
	
	 #header4 #top_GlobalNavi .sec_gnav ul li.active a{
		border-bottom: solid 4px #d5d5d5;
		height: 35px !important;
	 }
	
	
	
	
	#header4 #top_GlobalNavi .sec_gnav ul li.line1,
	#header4 #top_GlobalNavi .sec_gnav ul li.line3{
		width: 33.4% !important;
	}
	
	#header4 #top_GlobalNavi .sec_gnav ul li:first-child{
		border-left: none;
	}
	
	
	#header4 #top_GlobalNavi .sec_gnav ul li a{
		
		padding:0;
		font-size: 0.95em !important;
		line-height: 39px;
		font-weight: normal;
		width: 100% !important;
		border-top: none;
		border-bottom: none;
	}
	
	#header4 #top_GlobalNavi .sec_gnav ul li.line3 a{
		font-size: 0.87em !important;
	}
	
	#header4 #top_GlobalNavi .sec_gnav ul span.sp_tume{
		maegin-left:-0.3em;
		margin-right:-0.3em;
		display:inline;	
		background:none;
	}
		
	

	

}

@media screen and (max-width: 420px) {
	#header4 #top_GlobalNavi .sec_gnav ul li{font-size:13px;}
	
	
	#header4 #top_GlobalNavi{
		position:relative;
		top:0;
	}
	
	
}

@media screen and (max-width: 360px) {
	#header4 #top_GlobalNavi .sec_gnav ul li{
		font-size:12px;	
	}
}

/*end-common162q*/




#megadrop{
	display:none;
}

#header3{
	display:none;
}

#header4 #top_GlobalNavi ul{
	padding-top:16px;
}

#header4 #top_GlobalNavi ul li{
	min-height: 36px;
	
}


#main_contents_area{
	margin-top: -60px;
	min-height: 600px;
	
}

#header4 #top_GlobalNavi .black_wall{
	display:block;
	top:-60px;
	left:0;
	width:100%;
	height:100%;
	position:absolute;
	-webkit-transition:-webkit-transform 0.3s ease-out;
	transition:transform 0.3s ease-out;
}

#header4 #top_GlobalNavi .black_wall.show,
#header4 #top_GlobalNavi .black_wall.serch{
	-webkit-transform:translateY(60px);
	-ms-transform:translateY(60px);
	transform:translateY(60px);
}

.ie8 #header4 #top_GlobalNavi .black_wall.show,
.ie8 #header4 #top_GlobalNavi .black_wall.serch{
	top:0px;
}


#header4 #top_GlobalNavi ul.serch li #top_bizsearchAspQuery{
	/*仮デザイン*/
	
	padding-bottom: 3px;
	border-radius: 5px;
}

#header4 #top_GlobalNavi.rev>.contents_wrap>ul{
	
}

#header4 #top_GlobalNavi>.contents_wrap>ul a{
	-webkit-transition:color 0.3s ease-out;
	transition:color 0.3s ease-out;	
	color:#fff;
}
#header4 #top_GlobalNavi.rev>.contents_wrap>ul a{
	color:#000;
}

#header4 #top_GlobalNavi.rev>.contents_wrap>ul li.active a{
	color:#fff;
}


#header4 #top_GlobalNavi .bizsearch .grass_icon{
	width:32px;height:32px;
	
}

#header4 #top_GlobalNavi ul li.logo_121ware a img,
#header4 #top_GlobalNavi .hd_nlogo a img,
#header4 #top_GlobalNavi .serch_show_btn img{
	-webkit-transition:opacity 0.3s ease-out;
	transition:opacity 0.3s ease-out;
}



#header4 #top_GlobalNavi.rev .hd_nlogo a{
	background-image:url(/navigate/products/common/images/hd_nec_logo.png) !important;
}

#header4 #top_GlobalNavi .serch_show_btn{
	background-size: 100% !important;
	background-repeat:no-repeat !important;
}


#header4 #top_GlobalNavi.rev .serch_show_btn{
	background-image:url(/navigate/products/common/images/sarch_grass.png) !important;
	background-size: 100% !important;
}

#header4 #top_GlobalNavi.rev .bizsearch .grass_icon img,
#header4 #top_GlobalNavi.rev ul li.logo_121ware a img,
#header4 #top_GlobalNavi.rev .hd_nlogo a img,
#header4 #top_GlobalNavi.rev .serch_show_btn img{
	opacity:0;
	filter:alpha(opacity=0);
}


#header4 #top_GlobalNavi.rev ul li.logo_121ware a{
	background-image:url(/navigate/products/common/images/header_121ware_logo.png) !important;background-size: 100% !important;
}

#header4 #top_GlobalNavi.rev ul li.logo_121ware a img{
	opacity:0;
	filter:alpha(opacity=0);
}




/*notFoundの回避*/
#header4 #top_GlobalNavi ul li #top_bizsearchAspQuery { background-image:none;}
#LinkArea ul.linkMain li div {background-image:none;}



#main_contents_area{
	position:relative;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	
}

body.ie9 #main_contents_area{
	opacity:0.99;
}
body.ie8 #main_contents_area{
	z-index:0
}

body.ie8 #header4 #top_GlobalNavi{
	
}


#slick_area{
	height:100%;
	width:100%;
	position:absolute;
	left:0%;
	cursor:pointer;
}





h2{
	border:none;
}


#main_contents_area [class^='slick_box']{
	background-repeat:no-repeat;
	background-size:cover;
	overflow: hidden;
	position:relative;
	height: 100%;
}

/*#main_contents_area .slick_slide{
	height:100% !important;
	overflow:hidden;
	width:100%;
	position:absolute;
	top:0;left:0;
}*/

#main_contents_area .slick_slide.pc_only .contents_wrap{
	height:100%;
	width:950px;
}

#main_contents_area .slick_slide.pc_only .copy_area{
	position:absolute;
	top:27.5%;
	left: 50%;
	margin-left:-475px;
	text-align:left;
	width:950px;
	height: 69%;
}

#main_contents_area .slick_slide.pc_only .slick_box1 .copy_area{
	margin-left:-448px;
}

#main_contents_area [class^='slick_box']>.contents_wrap,
#main_contents_area [class^='slick_box']>.copy_area{
	opacity:0;
	color:#fff;
}

#main_contents_area.show [class^='slick_box']>.contents_wrap,
#main_contents_area.show [class^='slick_box']>.copy_area{
	opacity:1;	
}

#main_contents_area .slick_slide.pc_only .copy_area h1{
	margin-bottom: 0.4em;
}

#main_contents_area .slick_slide.pc_only .copy_area h1 img{
	height:auto;
}

#main_contents_area .slick_slide.pc_only .copy_area h2{
	font-size: 17px;
	white-space: nowrap;
	position: absolute;
	bottom: 116%;
	left: 0;
}



#main_contents_area .slick_slide.pc_only .copy_area .product_name{
		font-size:16px;
		-webkit-transition:color 0.3s ease-in-out;
		letter-spacing:1px;
		position:relative;
}

#main_contents_area .slick_slide.pc_only .note{
font-size: 10px;
line-height:1.5em;
left: 0;
margin-bottom: 3em;
width: 338px;
}	

#main_contents_area .slick_slide.pc_only .copy_area .link_area{
	width:316px;height:47px;
	line-height:48px;
	padding:0 6px;
	background:url(/navigate/products/common/images/white30.png) repeat-x bottom;
	background-size:100% 1px;
	cursor:pointer;
	margin-bottom: 15px;
	position:relative;
	opacity:0.99;
}

.ie8 #main_contents_area .slick_slide.pc_only .copy_area .link_area{
	background:none;
	border-bottom:#fff 1px solid;
}

#main_contents_area .slick_slide.pc_only .copy_area .link_area a{
	display:block;
	position:absolute;
	width:33px;height:33px;
	top:8px;right:6px;
	/*-webkit-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	*/	
}
#main_contents_area .slick_slide.pc_only .copy_area .link_area a img{
	display:block;
	width:100%;
	height:auto;
	margin-top:-1px;
	-webkit-transition:opacity 0.3s  ease-in-out;	
	transition:opacity 0.3s  ease-in-out;
	position:relative;
	opacity:0.99;
}

#main_contents_area .slick_slide.pc_only .copy_area .link_area a img.rev{
	position:absolute;top:0;left:0;
}
#main_contents_area .slick_slide.pc_only .copy_area .link_area a img.rev{
	opacity:0;
}
.ie8 #main_contents_area .slick_slide.pc_only .copy_area .link_area a img.rev{
	visibility:hidden;
}
/*
#main_contents_area .slick_slide.pc_only .copy_area .link_area:hover .product_name{
	color:#002e62;
}

#main_contents_area .slick_slide.pc_only .copy_area .link_area:hover a img.rev{
	opacity:1;
}

#main_contents_area .slick_slide.pc_only .copy_area .link_area:hover a img.normal{
	opacity:0;
}

.ie8 #main_contents_area .slick_slide.pc_only .copy_area .link_area:hover a img.rev{
	visibility:visible;
}
.ie8 #main_contents_area .slick_slide.pc_only .copy_area .link_area:hover a img.normal{
	visibility:hideen;
}
*/



#main_contents_area .slick_slide.pc_only .copy_area .back_white{
	position:absolute;
	width:100%;height:100%;
	overflow:hidden;
	left:0%;
	top:0%;
	-webkit-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);

}



#main_contents_area .slick_slide.pc_only .copy_area .back_white img{
	width:100%;height:100%;
	display:none
	
	;
	position:absolute;
	left:-100%;
}

#main_contents_area .slick_slide.pc_only .copy_area .win_logo{
	display:block;
	
}

#main_contents_area .slick_slide.pc_only .copy_area h2 .icon{
	font-size: 0.5em;
	font-weight: normal;
	vertical-align: 1em;
	margin-left: -0.2em;
}

#main_contents_area .slick_slide.pc_only .copy_area .lead{
	font-size: 22px; 
	line-height:1;
	margin-left: -0.2em;
	margin-bottom: 110px;
	letter-spacing:1px;
}



#main_contents_area .slick_slide.pc_only .pic1{
	right:23.8%;
	top:7.16%;
	width:38%;
	max-width:487px;
}

#main_contents_area .slick_slide.pc_only .pic2{
	left: -5px;
	top: 50%;
	margin-top: -229px;
}

#main_contents_area .slick_box1>.contents_wrap{
	position: relative;
	top: 50%;
}

#main_contents_area .slick_slide.pc_only .slick_box1 .pic1{
	left: 50%;
	margin-left: -130px;
	top: -50.5%;

	height: 105%;
	width: auto;
	max-width: 487px;
}

#main_contents_area .slick_slide.pc_only .slick_box2 .copy_area{
	left: 50%;
	margin-left: 130px;
	width: auto;
}

#main_contents_area .slick_slide.pc_only .slick_box2 .copy_area .lead,
#main_contents_area .slick_slide.pc_only .slick_box3 .copy_area .lead{
    margin-bottom: 15px;
	font-size:18px;
	letter-spacing:1px;
}

#main_contents_area .slick_slide .slick_box2,
#main_contents_area .slick_slide .slick_box3{
	opacity:0;
}

#main_contents_area .slick_slide.pc_only .slick_box2 .copy_area h1 img,
#main_contents_area .slick_slide.pc_only .slick_box3 .copy_area h1 img{
	width:320px;height:auto;
}

#main_contents_area .slick_slide.pc_only .slick_box2 .copy_area h1 {
    margin-bottom: 3em;
}
#main_contents_area .slick_slide.pc_only .contents_wrap>img{
	display:block;
	position:absolute;
}
#main_contents_area .slick_slide.pc_only .slick_box2 .image_box,
#main_contents_area .slick_slide.pc_only .slick_box3 .image_box{
	position:relative;
}



#main_contents_area .slick_slide.pc_only .slick_box3 .image_box{
		position: absolute;

	width:80%;
	max-width: 995px;
	left:-100px;
	bottom:0px;
}

#main_contents_area .slick_slide.pc_only .slick_box2 .image_box{
	width: 50.9%;
	left: 4%;
	top: 59%;
}

#main_contents_area .slick_slide.pc_only .slick_box2 .image_box img,
#main_contents_area .slick_slide.pc_only .slick_box3 .image_box img{

	width:100%;
	height:auto;
	top:0;
	margin-top: -50%;
	margin-left: -72%;
}

#main_contents_area .slick_slide.pc_only .slick_box2 .image_box img{
	margin-left: -85%;
}

#main_contents_area .slick_slide.pc_only .slick_box3 .image_box img{
	/*margin-left: 36%;*/
margin-left: 0%;
width:100%;
		max-width:995px;
left: 0;
}
#main_contents_area .slick_slide.pc_only .slick_box2  .win_logo{
	width: 130px;
	top: 76px;
	left: auto;
	right: 25px;
    height: auto;
	display:block;
	position:absolute;
}
#main_contents_area .slick_slide.pc_only .slick_box3  .win_logo{
position: absolute;
z-index: 2;
bottom: auto;
top: 76px;
left: auto;
right: 25px;
}



#main_contents_area .slick_slide.pc_only .slick_box2 .contents_wrap{
	width:100%;
	max-width:1248px;
}


#main_contents_area .slick_slide.pc_only .slick_box3 .contents_wrap{
	width:100%;
}

#main_contents_area .slick_slide.pc_only .slick_box3 .copy_area{
	top:140px;
	margin-left: 90px;
	
}
#main_contents_area .slick_slide.pc_only .slick_box2 .copy_area{
}

#main_contents_area .slick_slide.pc_only .slick_box3 .copy_area h1 {
    margin-bottom: 100px;
}

#main_contents_area .slick_slide.pc_only .slick_box2 .copy_area h2 {
bottom: 134%;
letter-spacing: 1px;

}

#main_contents_area .slick_slide.pc_only .slick_box3 .copy_area h2 {
line-height:1.5;
bottom: 150%;

}

#main_contents_area .slick_slide.pc_only .slick_box2 .icon_area{
	width:324px;
	height: 49px;
}

#main_contents_area .slick_slide.pc_only .slick_box2 .copy_area .product_name{
	height:50px;line-height:1.3;	
}

#main_contents_area .slick_slide.pc_only .slick_box2 .copy_area .link_area{
	margin-bottom:30px;
}

#main_contents_area .slick_slide.pc_only .slick_box2 .copy_area .link_area a{
	top:6px;
}

#main_contents_area .slick_slide.pc_only .slick_box2 .note{
	position: absolute;
	color: #fff;
	font-size: 10px;
	left: -41%;
	bottom: -50px;
	text-align: left;
}

#main_contents_area .slick_slide.pc_only .slick_box3 .note{
	position: absolute;
	top: auto;
	color: #000;
	font-size: 10px;
	left: 0;
	margin-left: 0px;
	margin-top: 0px;
	bottom: -20px;
	margin-bottom:0;
}

.slick_box2 .icon_area img,
.slick_box3 .icon_area img{
	display:block;
	float:left;
	height:auto;
}

.slick_box2 .icon_area img.icon1{
	width:46px;
	margin-right:16px;
}

.slick_box2 .icon_area img.icon2{
	width:137px;
	margin-right:19px;
	padding-top:7px;
}


.slick_box2 .icon_area img.icon3{
	width:106px;
	padding-top:7px;
}

#main_contents_area .slick_slide.pc_only .contents_wrap .pic3{
	left: 50%;
	top: 50%;
	margin-top: -237px;
	margin-left: -32px;
}

#main_contents_area.show .slick_box3  .copy_area{
	color:#000;
	height: auto;
}

#main_contents_area .slick_slide.pc_only .slick_box3 .icon_area{
	width:295px;
	height: 55px;
	position:relative;
}

.slick_box3 .icon_area img.icon1{
	width:55px;
	margin-right:25px;
}

.slick_box3 .icon_area img.icon2{
	width:84px;
	margin-top:13px;
	margin-right:25px;
}

.slick_box3 .icon_area img.icon3{
	margin-top:13px;
	width:106px;
}



#main_contents_area .slick_slide.pc_only .slick_box3 .copy_area .link_area{
	background-image:url(/navigate/products/common/images/black50.png);
}

#main_contents_area .slick_slide.pc_only .copy_area h1{
 width:297px;
}

#main_contents_area .slick_slide.pc_only .copy_area h1 img{
	 width:100%;
	 height:auto;
}





#main_contents_area .slick_box1{
	background-image:url(/navigate/products/images/slide_mainback1.jpg);
	background-size:cover;
	background-position:center;
}

#main_contents_area .slick_slide.pc_only h1,
#main_contents_area .slick_slide.pc_only .lead,
#main_contents_area .slick_slide.pc_only h3{
	/*position:absolute;*/
}

#main_contents_area .slick_box2{
	background-image:url(/navigate/products/images/slide_mainback2.jpg);
		background-size:cover;
	background-position:center;
}

#main_contents_area .slick_box3{
	background-image:url(/navigate/products/images/slide_mainback3.jpg);
		background-size:cover;
	background-position:center;
}




#main_contents_area .slick_slide.pc_only .slick_box2 .image_box img.win_logo{
width: 130px;
position: absolute;
height: auto;
left: 280px;
top: 210px;
}


#main_contents_area .slick_slide.pc_only .slick_box3 .image_box img.win_logo{
width: 130px;
position: absolute;
height: auto;
left: 280px;
top: 210px;
}




#main_contents_area .slick_slide.pc_only .slick-dots{
	width:55px;
	position:absolute;
	left:50%;
	margin: 0;
	margin-left:-22px;
	bottom:32px;
	padding:0;
	z-index:1000;
	background-repeat:no-repeat;
	cursor:pointer;
}

#main_contents_area .slick_slide.pc_only .slick-dots li{
	width:17px;
	height:16px;
	margin-left:2px;
	float:left;	
	cursor:pointer;
	list-style: none;
}

#main_contents_area .slick_slide.pc_only h1{
	
}

#main_contents_area .slick_slide.pc_only .slick-dots li button{
	opacity:0;
	filter:alpha(opacity=0);
	cursor: pointer;
}

#main_contents_area .slick_slide.pc_only .slick-dots li{
	background:url(/navigate/products/images/slick_dot_off.png);
}
#main_contents_area .slick_slide.pc_only .slick-dots li.slick-active{
	background:url(/navigate/products/images/slick_dot_on.png);
}

#main_contents_area .slick_slide.pc_only .slick-dots li:first-child{
	margin-left:0px;	
}

#main_contents_area .slick_slide.pc_only .sp_arrow{
	display:none;
}

#lineup_area{
	height:590px;
}

#LineupArea{
	width:100%;
}

#LineupArea>span{
	display:block;
}



.PathTree h1{
	display:inline;
	font-size:1em;
	font-weight:normal;
}

/*css読み込みの順番が変わる問題の対処*/
#TopicsArea,
#InfoArea,
#importantInfo,
#PathArea,
.MainWidth{
	/*display:none;*/
	width:100%;
}

#PathArea{
	padding: 0;
	font-size: 70%;
}

/******************************/

.MainWidth2{
	border-top:none;
}

#relationContents{
	padding: 0;
	border: none;
	margin: 0 auto;
	margin-bottom: 69px;
}

#relationContents ul li{
	padding-top:21px;
}

.PathTree li.bread_home{
	padding-left: 0px;
	padding-right: 30px;
	background-image: url(/navigate/products/common/images/bread.png);
	background-position: right center;
	background-repeat: no-repeat;
}

#PageBottomArea{
	padding:0;
}


#LinkArea{
	background-color:#2e2e2e;
	padding: 38px 0 29px;
}

#LinkArea .contents_wrap{
	padding:0;
	width: auto;
}

#LinkArea ul.linkMain{
	max-width:1200px;
	width:100%;
	min-width: 785px;
	padding:0 24px;
	min-width: 950px;
	box-sizing: border-box;
}

#LinkArea ul.linkMain li{
}

#LinkArea ul.linkMain li.list1,
#LinkArea ul.linkMain li.list2,
#LinkArea ul.linkMain li.list3,
#LinkArea ul.linkMain li.list4,
#LinkArea ul.linkMain li.list5{
	width:18.12%;
	border-top:2px solid #434343;
	padding-top: 20px;
}

#LinkArea ul.linkMain li.list1,
#LinkArea ul.linkMain li.list2,
#LinkArea ul.linkMain li.list3,
#LinkArea ul.linkMain li.list4{
	margin-right:2.28%;
}

#LinkArea ul.linkMain li.list5 .tume{
	margin-left:-0.5em;
	margin-right:-0.5em;
}

#LinkArea ul.linkMain li.list3{
	min-width:91px;
}



#LinkArea ul.linkMain li div{
	color:#fff;
}

#LinkArea ul.linkMain li ul.inLink li{
	font-size: 80%;
	padding: 0.5px 0;
}

#LinkArea a,#LinkArea a:visited,#LinkArea a:link{
	color:#fff;
}

#footer3{
	border-top:none;
}

br.sp{
	display:none !important;
}

br.middle{
	display:none !important;
}

#LinkArea ul.linkMain li ul.inLink li.second_column2{
		line-height: 120%;
		margin: 1.7% 0;
		width: 102%
}

iframe{
	height:0;
}

#go_top{
	z-index:5;
}

#LinkArea{
	font-size:111%;
}

.slick-slider.pc_only.sp_only{
		display:none;
}

@media screen and (max-width:1250px) {
	br.middle{
		display:block !important;
	}
	
	#LinkArea ul.linkMain li.list3 ul.inLink{
		display:inline-block;
	}
}

@media screen and (max-width:950px) {
	
	#LinkArea ul.linkMain li.list1,
	#LinkArea ul.linkMain li.list2{
		min-width:162px;
	}
	
	li.second_column{
		line-height: 120%;
		margin-bottom: 3.2%;
	}
	
	
	br.sp{
		display:block !important;
	}
	
	br.middle{
		display:none !important;
	}
	
	
	#LinkArea ul.linkMain{
		margin-left:0;
	}
	
}

@media screen and (max-width:903px) {
	
}

@media screen and (max-width:890px) {
	
	#LinkArea ul.linkMain{
		margin-left:0;
	}
	
	br.middle{
		display:none !important;
	}
	
}

@media screen and (max-width:640px) {
	/*#LinkArea ul.linkMain li.list3{
		width: 16.12%;
		min-width: 99px;
	}*/
}


@media screen and (max-width:480px) {
	
	#main_contents_area{
		min-height:initial;
		min-height:none;
		margin-bottom: -1px;
	}
	
	.slick-slider.pc_only{
		display:none;
	}
	.slick-slider.pc_only.sp_only{
		display:block;
	}
	
	#main_contents_area .slick_slide.sp_only .slick_box2,
	#main_contents_area .slick_slide.sp_only .slick_box3{
	opacity:1;
}
	
	#main_contents_area .slick_box1{
		background-position: 57% center;
	}
	
	
	#main_contents_area.show [class^="slick_box"] > .contents_wrap{
		top: 0px;
		width: 66%  !important;
		padding: 0;
		overflow: visible;
	}
	
	
	
	#main_contents_area.show [class^="slick_box"] > .copy_area {
		left: 0px;
		margin-left: 5%;
		width:90%;
	}
	
		
	

	
	#main_contents_area .slick_slide.pc_only .slick_box2 .copy_area h1,
	#main_contents_area .slick_slide.pc_only .slick_box3 .copy_area h1{
		width: 100%;
	}
	
	#main_contents_area .slick_slide.pc_only .copy_area h1 img{
		width:100% !important;
		height:auto;
	}
	
	
	#main_contents_area .slick_slide.pc_only .copy_area .lead{
		font-size:16px;
	}
	
	#main_contents_area .slick_slide.pc_only .slick_box3 .copy_area h1{
		margin-bottom:64px;
	}
	
	#main_contents_area .slick_slide.pc_only .copy_area .link_area{
		width:80%;
		background:none;
		padding: 0;
	}
	
	#main_contents_area .slick_slide.pc_only .copy_area h2{
		font-size: 12px;
	}
	
	
	
	#main_contents_area .slick_slide.pc_only .copy_area .product_name{
		
	}
	
	#main_contents_area .slick_slide.pc_only .slick_box2 .copy_area .lead{
		display:block;
		font-size:12px;
		position:absolute;
		top: 12.5%;
	}
	
	#main_contents_area .slick_slide.pc_only .slick_box2 .copy_area .link_area{
		margin-bottom: 0px;
		width: 100%;
		padding: 0px;
		height:1.5em;
	}
	
	#main_contents_area .slick_slide.pc_only .slick_box2 .copy_area h1{
		margin-bottom:7%;
	}
	#main_contents_area .slick_slide.pc_only .slick_box2 .copy_area h2{
		display:none;
	}
	#main_contents_area .slick_slide.pc_only .slick_box2 .copy_area .link_area{
		margin-bottom: 0px;
		width: 100%;
		padding: 0px;
	}
	
	#main_contents_area .slick_slide.pc_only .slick_box2 .copy_area .product_name,
	#main_contents_area .slick_slide.pc_only .slick_box3 .copy_area .product_name{
		display:block;
		color:#fff;
		font-size:12px;
		letter-spacing:0;
		white-space:nowrap;
	}
	
	#main_contents_area .slick_slide.pc_only .slick_box3 .copy_area .product_name{
		display:none;
	}
	
	#main_contents_area .slick_slide.pc_only .copy_area .link_area a{
		width: 1.8em;
		height: 1.8em;
		background:url(/navigate/products/images/main_arrow_rev.png) no-repeat;
		background-size: 100% 100%;
	}
	

	#main_contents_area .slick_slide.pc_only .slick_box2 .image_box img{
	width:90%;
	height:auto;
	top:0;
	margin-top: -50%;
	margin-left: -72%;
}

#main_contents_area .slick_slide.pc_only .slick_box2  .win_logo{
	width: 90px;
    top: auto;
    bottom: 10px;
	left: 17%;
}

	#main_contents_area .slick_slide.pc_only .slick_box2 .note{
		margin:0;
		top:auto;
		bottom:6%;
		left:-4%;
		-webkit-transform-origin:left top;
		-ms-transform-origin:left top;
		transform-origin:left top;
		-webkit-transform:scale(0.9);
		-ms-transform:scale(0.9);
		transform:scale(0.9);
	}
	
	#main_contents_area .slick_slide.pc_only .slick_box2 .image_box img{

	width:100%;
	height:auto;
	top:0;
	margin-top: -50%;
	margin-left: -72%;
}

#main_contents_area .slick_slide.pc_only .slick_box2 .image_box img.win_logo{
width: 100px;
position: absolute;
height: auto;
left: 70%;
top: 190px;
}


#main_contents_area .slick_slide.pc_only .slick_box3 .image_box img{

	width:160%;
	height:auto;
	top:0;
	margin-top: -50%;
	margin-left: -72%;
}

	#main_contents_area .slick_slide.pc_only .slick_box3 .win_logo{
	margin-left: 0px;
	bottom: 20px;
left: -10px;
width: 100px;
height:auto;
    top: auto;
	}
	
	
	
	@media screen and(max-width:380px){
		#main_contents_area .slick_slide.pc_only .slick_box2 .copy_area .lead,
		#main_contents_area .slick_slide.pc_only .slick_box2 .copy_area .product_name{
			
		}
		#main_contents_area .slick_slide.pc_only .slick_box2 .note{
		margin:0;
		
			-webkit-transform:scale(0.6);
			-ms-transform:scale(0.6);
			transform:scale(0.6);
		}
	}
	
	#main_contents_area .slick_slide.pc_only .slick_box1 .copy_area{
		top: 15%;
	}
	
	#main_contents_area .slick_slide.pc_only .slick_box1 .copy_area h1{
		width: 31%;
		margin-bottom: 27%;
	}
	
	#main_contents_area .slick_slide.pc_only .slick_box1 .copy_area .win_logo{
		position: absolute;
		width: 24%;
		height: auto;
	}
	
	#main_contents_area .slick_slide.pc_only .slick_box1 .copy_area .win_logo{
		position: absolute;
		width: 24%;
		height: auto;
		bottom: 25px;
	}
	#main_contents_area .slick_slide.pc_only .slick_box1 .note{
		
		position: absolute;
		left: 0px;
		bottom: -70px;
		line-height: 1.3;
		-webkit-transform: scale(0.6);
		-ms-transform: scale(0.6);
		transform: scale(0.6);
		-webkit-transform-origin: left top;
		-ms-transform-origin: left top;
		transform-origin: left top;
	}
	
	@media screen and(max-width:380px){
		
		#main_contents_area .slick_slide.pc_only .slick_box1 .copy_area .link_area{
			-webkit-transform: scale(0.95);
			-ms-transform: scale(0.95);
			transform: scale(0.95);
			-webkit-transform-origin: left top;
			-ms-transform-origin: left top;
			transform-origin: left top;
		}
		#main_contents_area .slick_slide.pc_only .slick_box2 .copy_area .lead,
		#main_contents_area .slick_slide.pc_only .slick_box2 .copy_area .product_name{
			
		}
		#main_contents_area .slick_slide.pc_only .slick_box2 .note{
		margin:0;
		
			-webkit-transform:scale(0.8);
			-ms-transform:scale(0.8);
			transform:scale(0.8);
		}
	}
	
	#main_contents_area .slick_slide.pc_only .slick_box1 .copy_area h2,
	#main_contents_area .slick_slide.pc_only .slick_box1 .copy_area .product_name{
		font-size:13px;	
		color:#fff;
		line-height: 1.4;
	}
	
	#main_contents_area .slick_slide.pc_only .slick_box1 .copy_area h2{
		margin-bottom: -8px;
	}
	
	#main_contents_area .slick_slide.pc_only .slick_box1 .copy_area{
		margin-left:5%;
	}
	
	
	#main_contents_area .slick_slide.pc_only .contents_wrap .pic2{
		width: 108%;
		height: auto;
		top: 30%;
		left: -4%;
		margin-top: 0px;
		margin-left: 0px;
	}
	
	#main_contents_area .slick_slide.pc_only .contents_wrap .pic1{
		width: 76%;
		top: -5%;
		height: auto;
		left: 15%;
		margin-top: 0px;
		margin-left: 0px;
	}
	#main_contents_area .slick_slide.pc_only .slick_box3 .contents_wrap .image_box{
		width: 104%;
		height: auto;
		bottom: 0%;
		left: 0px;
		margin-top: 0px;
		margin-left: 0px;
		
	}
	

	
	#main_contents_area .slick_slide.pc_only .slick_box2 .contents_wrap .image_box{
		width: 103%;
		height: auto;
		top: 32%;
		margin-top: 0px;
		margin: 0 auto;
		left: -0.5%;
	/*	left: -6%;*/
	}

	#main_contents_area .slick_slide.pc_only  .slick_box2 .contents_wrap .pic2{
		
		margin-top: 0px;
				margin-left: 0px;

	}
	
	
	#main_contents_area .slick_slide.pc_only  .slick_box3 .contents_wrap .pic3{
		margin-top: 0px;
		margin-left: -38%;
	}
	
	
		
	#main_contents_area .slick_slide.pc_only .copy_area .link_area a img{
		visibility:hidden;
	}
	
	#main_contents_area .slick_slide.pc_only .slick_box2 .copy_area,
	#main_contents_area .slick_slide.pc_only .slick_box3 .copy_area{
		left: 0px;
		margin-left: 17.5%;
		top: 20px;
		width:66%;
		
	}
	
	#main_contents_area .slick_slide.pc_only .slick_box2 .note{
		bottom: -10%;
		left: 0%;
	}
	
	#main_contents_area .slick_slide.pc_only .sp_arrow{
		width:6.8%;
		height:auto;
		display:block;
		position:absolute;
		right:4%;
		bottom:4%;
	}
	
	#main_contents_area .slick_slide.pc_only .slick_box2 .icon_area{
		width:83.1%;
		height:auto;
		
	}
	
	.slick_box2 .icon_area img.icon1{
		margin-top:0;
		width:14.2%;
		margin-right:4.9%;
	}
	
	.slick_box2 .icon_area img.icon2{
		margin-top:0;
		width:42.2%;
		padding-top:2.2%;
		margin-right:5.8%;
	}
	
	.slick_box2 .icon_area img.icon3{
		margin-top:0;
			padding-top:2.2%;
		width:32.7%;
	}
	
	
	#main_contents_area .slick_slide.pc_only .slick_box3 .icon_area{
		width:76%;
		height:auto;
	}
	
	#main_contents_area .slick_slide.pc_only .slick_box3 .copy_area .link_area{
		margin-bottom:-63px;
	}
	
	.slick_box3 .icon_area img.icon1{
		margin-top:0;
		width:18%;
		margin-right:8.8%;
	}
	
	.slick_box3 .icon_area img.icon2{
		margin-top:0;
		width:28.5%;
		padding-top:4.4%;
		margin-right:8.8%;
	}
	
	.slick_box3 .icon_area img.icon3{
		margin-top:0;
		padding-top:4.4%;
		width:35.9%;
	}
	
	#main_contents_area .slick_slide.pc_only .slick-dots{
		width: 43px;
		margin-left: -21px;
		bottom: 3%;
	}
	
	#main_contents_area.show .slick_box3 .product_name{
		display:none;
	}
	
	#main_contents_area .slick_slide.pc_only .slick_box3 .note{
		top: auto;
		bottom: -3em;
		margin-bottom:0;
		left: 0px;
		margin-left: 0px;
		line-height: 1.3;
		-webkit-transform: scale(0.5);
		-ms-transform: scale(0.5);
		transform: scale(0.5);
		-webkit-transform-origin:left top;
		-ms-transform-origin:left top;
		transform-origin:left top;
	}
	
	#main_contents_area .slick_slide.pc_only .slick-dots li {
    width: 10px;
    height: 10px;
	margin-left:5px;
	}
	#main_contents_area .slick_slide.pc_only .slick-dots li {
    background-image: url(/navigate/products/images/sp_slickdot.png);
	background-size:100%;
}

#main_contents_area .slick_slide.pc_only .slick-dots li.slick-active {
    background-image: url(/navigate/products/images/sp_slickdot_active.png);
	background-size:100%;
}
	
	#main_contents_area .slick_slide.pc_only .copy_area .slick_box3.product_name{
		display:none;
	}
	
	#main_contents_area .slick_slide.pc_only .slick_box3 .copy_area .link_area{
		background:none;
	}
	#main_contents_area .slick_slide.pc_only .copy_area .link_area a{
		visibility:hidden;
	}
	#main_contents_area .slick_box1 {
    background-image: url(/navigate/products/images/slide_mainback1_sp.jpg);
	}
	#main_contents_area .slick_box2 {
    background-image: url(/navigate/products/images/slide_mainback2_sp.jpg);
	}
	
	#main_contents_area .slick_box3 {
    background-image: url(/navigate/products/images/slide_mainback3_sp.jpg);
	}
	
	
	
	
	
	#relationContents{
		margin-bottom:32px;
	}
	
	#PathArea.sp_only{
		border-top:none;
	}
	
	#LinkArea{
		background-color:#fff;
		padding:0;
		padding-top: 10px;
	}
	
	#LinkArea ul.linkMain li div {
		padding:0;
		border:none;
		background:none;
    	font-weight:normal;
	}
	
	#LinkArea ul.linkMain li div{
		color:#000;
	}
	
	#main_contents_area h2{
		font-size: 30px;
		line-height: 1.5;
	}
	
	#LinkArea .contents_wrap{
		position:relative;
		overflow:hidden;
		/*height:0;*/
	}
	
	#LinkArea ul.linkMain li ul.inLink{
		display:block;
		width: 76%;
		margin-left: 12%;
		margin-top: 2em;
		margin-bottom: 1em;
	}
	#LinkArea ul.linkMain li ul.inLink:after{
		font-size: 0;
	    content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	#LinkArea ul.linkMain li.list1,
	#LinkArea ul.linkMain li.list2,
	#LinkArea ul.linkMain li.list3,
	#LinkArea ul.linkMain li.list4,
	#LinkArea ul.linkMain li.list5{
		padding:0;
	}
	#LinkArea ul.linkMain li.list1 .contents_wrap,
	#LinkArea ul.linkMain li.list2 .contents_wrap,
	#LinkArea ul.linkMain li.list3 .contents_wrap,
	#LinkArea ul.linkMain li.list4 .contents_wrap,
	#LinkArea ul.linkMain li.list5 .contents_wrap{
		margin-bottom:-1px;
	}
	
	#LinkArea .list1.sp_btn{
		border-top: solid #777 2px;
	}
	#top_megadrop ul.linkMain li div.sp_btn,
	#LinkArea ul.linkMain li div.sp_btn{
		position:relative;
		border-top: solid #777 1px;
		border-bottom: solid #777 1px;
		cursor:pointer;
	}
	
	
	#top_megadrop .sp_btn .title,
	#LinkArea .sp_btn .title{
		font-size: 12px;
		line-height: 40px;
		height: 40px;
		text-align:center;
	}
	
	#top_megadrop .sp_btn .icon,
	#LinkArea .sp_btn .icon{
		position:absolute;
		right:25px;
		top:0;
		line-height: 40px;
		height: 40px;
		font-size: 18px;
	}
	
	
	
	
	
	#LinkArea .sp_btn .icon.active{
		
	}
	
	#top_megadrop .lineup .title_line{
		text-align:center;
	}
	#top_megadrop .lineup .title_line .title{
		float:none;
	}
	#top_megadrop  .title_line .icon{
		position: absolute;
		color: rgb(255, 255, 255);
		top: 0px;
		right: 25px;
		font-size: 18px;
	}
	#top_megadrop .icon .minus,
	#LinkArea .sp_btn .icon .minus{
		position:absolute;
		width:100%;
		text-align:center;
		top:0;left:0;
		visibility:hidden;
		transform: scaleX(1.8);
		-webkit-transform: scaleX(1.8);
		-ms-transform: scaleX(1.8);
		font-weight: normal;
	}
	
	
	#LinkArea .inLink li:nth-child(2) a,
	#LinkArea .inLink li:nth-child(4) a,
	#LinkArea .inLink li:nth-child(6) a {
    	
	}
	
	#top_megadrop  div.open .icon .minus,
	#LinkArea [class^='list'] .sp_btn.open .icon .minus{
		visibility:visible;
	}
	#top_megadrop  div.open .icon .plus,
	#LinkArea [class^='list'] .sp_btn.open .icon .plus{
		visibility:hidden;
	}
		
	
	#LinkArea ul.linkMain{
		width:100%;
		padding:0;
		min-width:initial;
		min-width:none;
	}
	#LinkArea ul.linkMain li ul.inLink li{
		float: left;
		text-align: left;
		margin-bottom: 1.5em;
		position: relative;
		border:none;
		background:url(/navigate/products/pc/common/images/sp_arrow_small.png) no-repeat right 90%;
		background-size:1.2em;
		line-height:1.2;
		height:1.2em;
	}
	#LinkArea ul.linkMain li ul.inLink li a{
	    line-height: 1.2em;
		vertical-align: bottom;
		position: relative;
		width: 90%;
		display: block;
		color: #000;
		border: none;
		background:none;
		padding:0;
		font-size:12px;
		-webkit-transform:scale(0.9);
		-ms-transform:scale(0.9);
		-transform:scale(0.9);
		-webkit-transform-origin:left top;
		-ms-transform-origin:left top;;
		transform-origin:left top;
	}
	
	#LinkArea ul.linkMain li.list1,
	#LinkArea ul.linkMain li.list2,
	#LinkArea ul.linkMain li.list3,
	#LinkArea ul.linkMain li.list4{
		margin-right:0;
		border-top:none;
	}
	
	#LinkArea ul.linkMain li.list1,
	#LinkArea ul.linkMain li.list2,
	#LinkArea ul.linkMain li.list3,
	#LinkArea ul.linkMain li.list4,
	#LinkArea ul.linkMain li.list5{
		width:auto;
		border-top:none;
		margin-right:0 !important;
	}
	
	
	#LinkArea ul.linkMain li ul.inLink li.second_column2{
   		 width: 100%;
		 margin:0 0 1.5em 0;
	}
	
	#LinkArea ul.linkMain li.list5 ul.inLink li br{
		display:none;	
	}
	
	#LinkArea ul.linkMain li.list5 ul.inLink li.second_column2{
		
	}
	
	#LinkArea ul.linkMain li.list5 ul.inLink li:nth-child(2).second_column2 a{
		/*-webkit-transform:scaleX(0.8);
		-ms-transform:scaleX(0.8);
		transform:scaleX(0.8);*/
	}
	
	#LinkArea ul.linkMain li ul.inLink li.second_column2 a{
		width:100%;
	}
	#LinkArea a, #LinkArea a:visited, #LinkArea a:link{
		color:#000;
	}
	
	#LinkArea ul.linkMain li.list5 .tume{
		margin-left:-0.7em;
		margin-right:-0.7em;
	}

	
	li.second_column{
		line-height: 140%;
		margin-bottom: 0%;
	}
	
	br.sp{
		display:none !important;
	}
	
	#LinkArea ul.linkMain li.list3{
		max-width:inherit;
		width: 100%;
	}
	
	#LinkArea ul.linkMain li.list3 ul.inLink {
		display: block;
	}
	

	#PathArea{
	border-bottom: 1px solid #e5e5e5;
	}
	
	.PathTree h1{
		display: block;
		font-size: 10px;
	}
	
	.PathTree li.bread_home{
		padding-left:1%;
	}
	
	#footer3 .clearfix [class^="ft_"]:first-child{
		margin-left:7%;
	}
}


@media screen and (max-width:420px) {
	#main_contents_area .slick_slide.pc_only .copy_area .lead{
		font-size:15px;
	}
}

@media screen and (max-width:360px) {
	#main_contents_area .slick_slide.pc_only .copy_area .lead{
		font-size:14px;
		
	}
}

#main_contents_area .slick_slide.pc_only .slick_box2 .contents_wrap{
	text-align:center;
}

#main_contents_area .slick_slide.pc_only .slick_box2 .image_box{
	    margin: 0 auto;
}


#main_contents_area .slick_slide.pc_only .slick_box2 .image_box img.pic2{
	margin-left: -52%;
}

#main_contents_area .slick_slide.pc_only .slick_box2 .note{
	    left: -50%;
}

@media screen and (max-width:480px) {
	#main_contents_area .slick_slide.pc_only .slick_box2 .image_box img.pic2{
	margin-left: 0%;
}

#main_contents_area .slick_slide.pc_only .slick_box2 .note{
	    left: 0%;
}
}



