@charset "utf-8";
/*Coded by DEVIKA GUPTA*/
* { margin: 0; padding: 0; border: 0; outline:0 !important; box-sizing: border-box; text-rendering: optimizelegibility; font-family: Roboto, sans-serif; }
*:before, *:after { box-sizing: border-box; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
html, body { overflow: hidden; height:100%; }
body { font-family: Tahoma, Helvetica, sans-serif; font-size: 14px; line-height: 18px; background: #fff; color: #000; }
a { font-family: inherit; white-space:nowrap; text-decoration: underline; color: inerit; transition: all .15s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -webkit-transition: all .15s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -moz-transition: all .15s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -o-transition: all .15s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -ms-transition: all .15s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; }
a:active { outline: 0; }
a:hover { outline:0; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
input, select, button, textarea { font-family: inherit; }
img { max-width: 100%; height:auto; line-height:0; }
table { border-collapse: collapse; border-spacing: 0; }
.placeholder { color: #444 !important; }
::-webkit-input-placeholder { color:#444 !important; }
::-moz-placeholder { color:#444 !important; }
::-ms-input-placeholder { color:#444 !important; }
::placeholder { color:#444 !important; }
:disabled { background: #ccc !important; border-color: #D0D0D0 !important; cursor: not-allowed !important; opacity: .8 !important; }

html, body { overflow:hidden; }
body { transition: background-color .75s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -webkit-transition: background-color .75s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -moz-transition: background-color .75s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -o-transition: background-color .75s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -ms-transition: background-color .75s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; }
.msg { position:absolute; left:0; top:0; width:100%; background:#ccc; z-index:100; overflow:hidden; border-bottom:1px solid #999; box-shadow: rgba(0,0,0,.1) 0 1px 10px, inset rgba(255,255,255,0.7) 0 1px 0px; cursor:default; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.msg > i { font-size:30px; line-height:30px; float:left; margin:12px 0 0 18px; }
.msg > div { margin-left: 65px; padding: 7px 20px 7px 0; }
.msg > div > h3 { font-weight:500; line-height: 20px; }
.msg > div > p { font-weight:300; font-size:13px; line-height: 17px; }
.msg > div > p strong { font-weight:500; }
.msg a { text-decoration:underline; color: inherit; cursor:pointer; font-weight: 400; }
.msg a[target="_blank"]:after { content:'\f08e'; font-family: FontAwesome; display:inline-block; padding-left: 5px; position:relative; top:1px; }
.msg.w { background:#FFFF99; border-color:#E5E500; text-shadow:#FFFFB2 0 1px 0; }
.msg.e { background:#FF2424; border-color:#F20000; color: #fff; text-shadow:#A30000 0 1px 0; }
.msg.e i { margin-top: 10px; font-size: 40px; }
.msg.e i:before { content: '\f00d'; }
.msg.s { background:#43B013; border-color:#30810D; color: #fff; text-shadow:#1F5309 0 1px 0; }
.msg.s i { margin-top: 11px; font-size: 35px; }
.msg.s i:before { content: '\f058'; }

#bg { display:block; position: absolute; left:0; top:0; width:100%; height:100%; background-repeat:no-repeat !important; background-position: 50% 50% !important; background-size:cover !important; z-index:1; opacity: 1; filter:alpha(opacity=100); filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); -moz-opacity:1; -khtml-opacity:1; transition: all .15s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -webkit-transition: all .15s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -moz-transition: all .15s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -o-transition: all .15s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -ms-transition: all .15s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; perspective: 1000; -webkit-perspective: 1000; -moz-perspective: 1000; -o-perspective: 1000; -ms-perspective: 1000; }
#wrpr { display:block; position:absolute; left:0; top:0; width:100%; height:100%; overflow:hidden; overflow-y: auto; z-index:5; opacity: 1; filter:alpha(opacity=100); filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); -moz-opacity:1; -khtml-opacity:1; transition: all .55s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -webkit-transition: all .55s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -moz-transition: all .55s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -o-transition: all .55s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -ms-transition: all .55s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; perspective: 1000; -webkit-perspective: 1000; -moz-perspective: 1000; -o-perspective: 1000; -ms-perspective: 1000; }
#wrpr #tabs { position:absolute; left: 30px; top:32px; margin-left:-10px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
#wrpr #tabs li { float:left; display:block; margin: 0 12px; cursor:pointer; color:#fff; font-size: 15px; line-height:15px; font-weight:400; text-shadow:rgba(0,0,0,.3) 0 1px 0; }
#wrpr #tabs li:hover { text-decoration:underline; }
#wrpr #tabs li.a { font-weight:700; cursor:default; text-decoration:underline; text-shadow:rgba(0,0,0,.45) 0 1px 0; }
#wrpr #clock-weather { position: absolute; right: 30px; top:30px; display:block; z-index: 10; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
#wrpr #clock-weather > li { float:right; display:block; padding: 5px; color:#fff; }
#wrpr #clock-weather > li#options-li { border-left: 1px solid #F7F7F7; position:relative; }
#wrpr #clock-weather > li#options-li:after { content:''; display:block; position:absolute; left:0; top:0; height:100%; width:1px; background: rgba(0,0,0,.15); }
#wrpr #clock-weather > li > i.fa { font-size: 20px; line-height:20px; color:#fff; padding:5px 15px; cursor:pointer; text-shadow:rgba(0,0,0,.3) 0 1px 0; border-radius:3px; transition: all .15s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -webkit-transition: all .15s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -moz-transition: all .15s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -o-transition: all .15s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -ms-transition: all .15s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; }
#wrpr #clock-weather > li > i.fa:hover { background-color: rgba(0,0,0,.1); }
#wrpr #clock-weather > li > i.fa.a { background-color: rgba(0,0,0,.2); text-shadow:rgba(0,0,0,.45) 0 1px 0; }
#wrpr #clock-weather #options { display:none; position:absolute; right:5px; top:100%; overflow:hidden; background:#fff; background:rgba(255,255,255,.9); padding: 20px; box-shadow: rgba(0,0,0,.3) 0 4px 10px; width: 500px }
#wrpr #clock-weather #options #bg-images { display:block; overflow:hidden; margin:0 -5px; padding-bottom:2px; text-align:center; }
#wrpr #clock-weather #options #bg-images > li { width: 80px; height: 80px; display:inline-block; border-radius: 50%; overflow:hidden; position:relative; margin: 0 5px 5px; cursor: pointer; box-shadow: rgba(0,0,0,.3) 0 1px 2px; }
#wrpr #clock-weather #options #bg-images > li:after { content:'\f00c'; display:block; border-radius: 50%; opacity: 0; filter:alpha(opacity=0); filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); -moz-opacity:0; -khtml-opacity:0; transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -webkit-transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -moz-transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -o-transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -ms-transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; position:absolute; left:0; top:0; z-index: 2; width:100%; height:100%; font-family: FontAwesome; color:#fff; background: rgba(0,0,0,.2); text-align:center; font-weight: 900; font-size:25px; line-height: 80px; text-shadow: #000 0 1px 0; }
#wrpr #clock-weather #options #bg-images > li img { position:absolute; left:0; top:0; width:100%; height:100%; z-index:1; }
#wrpr #clock-weather #options #bg-images > li.a:after { opacity: 1; filter:alpha(opacity=100); filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); -moz-opacity:1; -khtml-opacity:1; }
#wrpr #clock-weather #options #colors { display:block; text-align:center; margin: 0 -5px 20px; }
#wrpr #clock-weather #options #colors > li { display:inline-block; width:20px; height:20px; line-height:0; border: 1px solid grey; cursor:pointer; margin:0 5px; box-shadow: rgba(0,0,0,.3) 0 1px 2px; border-radius: 50%; }
#wrpr #clock-weather > li#options-li > .fa.a + #options { display:block !important; }
#wrpr #clock-weather > li#widget > div { display: inline-block; -webkit-transition: all .55s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -moz-transition: all .55s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -o-transition: all .55s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -ms-transition: all .55s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; }
#wrpr #clock-weather > li#widget > .fa { width:40px; padding-left:0; padding-right:0; text-align:center; vertical-align:top; }
#wrpr #clock-weather > li#widget > #clock { display:block; text-shadow:rgba(0,0,0,.45) 0 1px 0; cursor:default; position:absolute; right: 100px; width:250px; top:8px; text-align:right; opacity: 1; filter:alpha(opacity=100); filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); -moz-opacity:1; -khtml-opacity:1; }
#wrpr #clock-weather > li#widget > #clock > span { font-family: 'Poiret One', cursive; color:#fff; font-weight:700; font-size:30px; letter-spacing:0.05em; display:inline-block; }
#wrpr #clock-weather > li#widget > #clock > span.colon {  padding: 0 2px; }
#wrpr #clock-weather > li#widget > #clock > span.am-pm { font-weight: 500; }
#wrpr #clock-weather > li#widget > #weather { display:inline-block; text-shadow: rgba(0,0,0,.45) 0 1px 0; padding-right:5px; cursor:default; margin-top:5px; opacity: 0; filter:alpha(opacity=0); filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); -moz-opacity:0; -khtml-opacity:0; }
#wrpr #clock-weather > li#widget > #weather .weather { margin-top: -5px; display:block; }
#wrpr #clock-weather > li#widget > #weather .fa-spin { line-height: 10px; position: relative; top:2px; }
#wrpr #clock-weather > li#widget > #weather .location { float:left; color:#fff; font-weight:400; font-size:24px; text-transform:uppercase; letter-spacing:0.05em; text-align:right; }
#wrpr #clock-weather > li#widget > #weather .location .country { display:block; font-size: 13px; line-height:13px; font-weight:900; margin-top:3px; font-family: 'Poiret One', cursive;  }
#wrpr #clock-weather > li#widget > #weather .info { padding-left: 2px; float: left; display:block; margin-top:-10px; text-align:right; position:relative; top:5px; }
#wrpr #clock-weather > li#widget > #weather .info img { display:block; width:40px; position:relative; right:-4px; }
#wrpr #clock-weather > li#widget > #weather .info .temp { font-size: 16px; font-weight:500; }
#wrpr #clock-weather > li#widget > #weather .info .deg { font-size: 12px; display:inline-block; padding-left:1px; }
#wrpr #clock-weather > li#widget > #weather .info .unit { font-size: 12px; }
#wrpr #clock-weather > li#widget.weather > #weather { opacity: 1; filter:alpha(opacity=100); filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); -moz-opacity:1; -khtml-opacity:1; }
#wrpr #clock-weather > li#widget.weather > #clock { opacity: 0; filter:alpha(opacity=0); filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); -moz-opacity:0; -khtml-opacity:0; }
#wrpr #clock-weather > li#widget.weather > .fa-cloud:before { content:'\f017'; }

#wrpr #install-button { position:absolute; right: 35px; top:85px; opacity:0; visibility:hidden; background: #fff; padding: 10px; overflow:hidden; box-shadow: rgba(0,0,0,.5) 0 2px 5px; cursor:default; max-width: 280px; z-index:8; transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -webkit-transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -moz-transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -o-transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -ms-transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; }
#wrpr #install-button img { float:left; line-height:0; margin: 0 5px; }
#wrpr #install-button .fa-close { position:absolute; right: 5px; top:5px; cursor:pointer; padding: 5px; }
#wrpr #install-button p { margin:3px 0 0 70px; font-size:13px; }
#wrpr #install-button p span { display:block; margin-right: 10px; }
#wrpr #install-button p a { display:block; border-radius:4px; background:#60A5DA; color:#fff; padding: 5px 10px; text-align:center; margin: 10px 5px 0 0; text-decoration:none; cursor:pointer; }
#wrpr #install-button p a:hover { background:#378FD2; }
#wrpr #install-button.o { opacity:1; top:90px; visibility:visible; }

#wrpr #search { position:absolute; left:50%; top:185px; display:block; max-width:650px; width:100%; z-index:5; }
#wrpr #search > div { position:relative; left:-50%; display:block; text-align:center; padding: 0 20px; }
#wrpr #search #logo { display:block; text-align:center; height: 100px; margin-bottom: 30px; position:relative; top:-1000px; -khtml-opacity:0; }
#wrpr #search #logo img { height:100%; width:auto; }
#wrpr #search #logo.s { top: 0; }
#wrpr #search #search-engines { float:left; width:100px; height: 46px; box-shadow: rgba(0,0,0,.2) 0 2px 1px; cursor:pointer; position:relative; z-index:2; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
#wrpr #search #search-engines:after { content:'\f0dd'; position:absolute; right:10px; top: 12px; color:#AEAEAE; font-family: FontAwesome; display:inline-block; }
#wrpr #search #search-engines > li { height:46px; display:none; text-align:center; padding: 0 25px 0 19px; line-height:63px; background:#ECECEC; border-bottom: 1px solid #C6C6C6; transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -webkit-transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -moz-transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -o-transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -ms-transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; }
#wrpr #search #search-engines > li:hover { background: #DFDFDF; }
#wrpr #search #search-engines > li span { display:none; }
#wrpr #search #search-engines > li img { width:100%; max-width:100%; height:auto; display:inline-block; position:relative; }
#wrpr #search #search-engines > li img.y { top:-3px; }
#wrpr #search #search-engines > li.a { display:block; border:0; }
#wrpr #search #search-engines > li:last-of-type { border-bottom:0; }
#wrpr #search #search-engines.o { padding-top:46px; }
#wrpr #search #search-engines.o > li { display:block !important; }
#wrpr #search #search-engines.o > li.a { border-bottom: 1px solid #C6C6C6; background: #DFDFDF; position:absolute; left:0; top:0; }
#wrpr #search #search-engines.o:after { content:'\f0de'; top: 19px; }
#wrpr #search #search-engines + div { margin-left: 110px; position:relative; z-index:5; }
#wrpr #search #search-engines + div > input { height: 46px; width:100%; margin:0 auto; background:#fff; background:rgba(255,255,255,.9); font-family: Arial, sans-serif; font-size: 22px; line-height: 46px; font-weight:300; padding: 0 10px; border: 1px solid #fff; display:block; box-shadow: rgba(0,0,0,.2) 0 2px 1px; transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -webkit-transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -moz-transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -o-transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -ms-transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; }
#wrpr #search #search-engines + div > input:focus { border-color: #828282; background:#fff; }
#wrpr #search #suggestions { background:#FFF; border:1px solid #828282; border-top:0; display: none; margin: 1px 0 0; padding: 0px; cursor: default; position: absolute; left:0; width:100%; z-index:10; box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.55); }
#wrpr #search #suggestions > li { margin: 0; width: 100%; text-align:left; display: block; padding: 7px 10px; text-decoration: none; cursor: pointer; background-color: white; color:#222; font-family: Arial, sans-serif; font-size:22px; font-weight:300; word-break:break-all; }
#wrpr #search #suggestions > li b { font-weight:500; }
#wrpr #search #suggestions > li.a { background-color: #F2F2F2; }
#wrpr #search #suggestions.o { display:block; }
#wrpr #search button { cursor: pointer; padding: 11px 0 10px; text-shadow: rgba(255,255,255,.5) 0 1px 0; width: 130px; border:1px solid #f2f2f2; text-align: center; background-color: #f2f2f2; color: #333; font-size: 15px; font-weight:500; position:relative; z-index:1; display:inline-block; margin-top:15px; box-shadow: rgba(0,0,0,.2) 0 2px 1px; transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -webkit-transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -moz-transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -o-transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; -ms-transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; }
#wrpr #search button:hover { background:#DFDFDF; border-color: #DFDFDF; }
#wrpr #search button:focus { background:#DFDFDF; border-color: #828282; }

#footer { position: absolute; left:0; bottom:0; width:100%; padding: 10px 20px; z-index: 10; }
#footer > ul { display:block; float:left; text-align:left; }
#footer > ul + ul { float:right; text-align:right; }
#footer > ul > li { display:inline-block; padding:2px 5px; color:#EDEDED; text-shadow: rgba(0,0,0,.4) 0 1px 0; font-size: 11px; line-height:11px; }
#footer a { text-decoration: underline; color:#E7E7E7; }
#footer a:hover { color:#fff; }

/*body.loading { background:#fff url(../i/hourglass.svg) 50% 50% no-repeat; }*/
body.loading #bg { opacity: 0; filter:alpha(opacity=0); filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); -moz-opacity:0; -khtml-opacity:0; z-index:-1; }
body.loading #wrpr { opacity: 0; filter:alpha(opacity=0); filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); -moz-opacity:0; -khtml-opacity:0; z-index:-1; }
body.loading #footer > ul > li { color: #777; text-shadow: rgba(255,255,255,.4) 0 1px 0; }
body.loading #footer a { color:#555; }
body.loading #footer a:hover { color:#000; }

@media (max-width: 620px){
	#wrpr #tabs { top:20px; right: 30px; text-align:center; }
	#wrpr #tabs li { display:inline-block; float:none; }
	#wrpr #clock-weather { top:55px; right: 50%; margin-right:-125px; }
	#footer > ul { display:block; float:none; text-align:center; margin-bottom:10px; }
	#footer > ul + ul { display:block; float:none; text-align:center; }
	
	#wrpr #search { top: 115px; }
	#wrpr #search #logo { height:60px; margin-bottom:20px; }
}