@font-face {
  font-family: "cci-weather";
  src: url("../fonts/cci-weather.eot");
  src: url("../fonts/cci-weather.eot?#iefix") format("embedded-opentype"),
       url("../fonts/cci-weather.woff") format("woff"),
       url("../fonts/cci-weather.ttf") format("truetype"),
       url("../fonts/cci-weather.svg#cci-weather") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "cci-weather";
    src: url("../fonts/cci-weather.svg#cci-weather") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.weather-icon-1:before,
.weather-icon-11:before,
.weather-icon-12:before,
.weather-icon-13:before,
.weather-icon-14:before,
.weather-icon-15:before,
.weather-icon-16:before,
.weather-icon-17:before,
.weather-icon-18:before,
.weather-icon-19:before,
.weather-icon-2:before,
.weather-icon-20:before,
.weather-icon-21:before,
.weather-icon-22:before,
.weather-icon-23:before,
.weather-icon-24:before,
.weather-icon-25:before,
.weather-icon-26:before,
.weather-icon-29:before,
.weather-icon-3:before,
.weather-icon-30:before,
.weather-icon-31:before,
.weather-icon-32:before,
.weather-icon-33:before,
.weather-icon-34:before,
.weather-icon-35:before,
.weather-icon-36:before,
.weather-icon-37:before,
.weather-icon-38:before,
.weather-icon-39:before,
.weather-icon-4:before,
.weather-icon-40:before,
.weather-icon-41:before,
.weather-icon-42:before,
.weather-icon-43:before,
.weather-icon-44:before,
.weather-icon-5:before,
.weather-icon-6:before,
.weather-icon-7:before,
.weather-icon-8:before {
  display: inline-block;
  font-family: "cci-weather";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.weather-icon-1:before { content: "\f12b"; }
.weather-icon-11:before { content: "\f12c"; }
.weather-icon-12:before { content: "\f12d"; }
.weather-icon-13:before { content: "\f12e"; }
.weather-icon-14:before { content: "\f12f"; }
.weather-icon-15:before { content: "\f130"; }
.weather-icon-16:before { content: "\f131"; }
.weather-icon-17:before { content: "\f132"; }
.weather-icon-18:before { content: "\f133"; }
.weather-icon-19:before { content: "\f134"; }
.weather-icon-2:before { content: "\f135"; }
.weather-icon-20:before { content: "\f136"; }
.weather-icon-21:before { content: "\f137"; }
.weather-icon-22:before { content: "\f138"; }
.weather-icon-23:before { content: "\f139"; }
.weather-icon-24:before { content: "\f13a"; }
.weather-icon-25:before { content: "\f13b"; }
.weather-icon-26:before { content: "\f13c"; }
.weather-icon-29:before { content: "\f13d"; }
.weather-icon-3:before { content: "\f13e"; }
.weather-icon-30:before { content: "\f13f"; }
.weather-icon-31:before { content: "\f140"; }
.weather-icon-32:before { content: "\f141"; }
.weather-icon-33:before { content: "\f142"; }
.weather-icon-34:before { content: "\f143"; }
.weather-icon-35:before { content: "\f144"; }
.weather-icon-36:before { content: "\f145"; }
.weather-icon-37:before { content: "\f146"; }
.weather-icon-38:before { content: "\f147"; }
.weather-icon-39:before { content: "\f148"; }
.weather-icon-4:before { content: "\f149"; }
.weather-icon-40:before { content: "\f14a"; }
.weather-icon-41:before { content: "\f14b"; }
.weather-icon-42:before { content: "\f14c"; }
.weather-icon-43:before { content: "\f14d"; }
.weather-icon-44:before { content: "\f14e"; }
.weather-icon-5:before { content: "\f14f"; }
.weather-icon-6:before { content: "\f150"; }
.weather-icon-7:before { content: "\f151"; }
.weather-icon-8:before { content: "\f152"; }
