/*
  Icon Font: cci
*/

@font-face {
  font-family: "cci";
  src: url("../fonts/cci.eot");
  src: url("../fonts/cci.eot?#iefix") format("embedded-opentype"),
       url("../fonts/cci.woff") format("woff"),
       url("../fonts/cci.ttf") format("truetype"),
       url("../fonts/cci.svg#cci") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "cci";
    src: url("../fonts/cci.svg#cci") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-close:before,
.icon-email:before,
.icon-voicemail:before {
  display: inline-block;
  font-family: "cci";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-close:before { content: "\f12a"; }
.icon-email:before { content: "\f128"; }
.icon-voicemail:before { content: "\f129"; }
