/*-----------------------------------------------------------------------------------*\
    #Colors
\*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*\
    #Typography
\*-----------------------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0 0 10px;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 30px;
  line-height: 32px;
}
@media (max-width: 767px) {
  h2 {
    font-size: 20px;
    line-height: 24px;
  }
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 18px;
}
/*-----------------------------------------------------------------------------------*\
    #Mixins
\*-----------------------------------------------------------------------------------*/
.navbar-box-shadow {
  box-shadow: 0 2px 3px #b2b2b2;
}
.box-shadow {
  box-shadow: 0 1px 6px #b2b2b2;
}
.text-shadow {
  text-shadow: 1px 1px 0 #333333;
}
.slider-headline {
  display: block;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  text-shadow: 1px 1px 0 #333333;
}
.slider-headline-mobile {
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  text-shadow: 1px 1px 0 #333333;
}
.slider-copy {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  text-shadow: 1px 1px 0 #333333;
}
.headline {
  display: block;
  margin-bottom: 5px;
  color: #000000;
  font-size: 15px;
  line-height: 18px;
}
.byline {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.timestamp {
  display: block;
  margin-bottom: 5px;
  color: #b2b2b2;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 15px;
}
/*-----------------------------------------------------------------------------------*\
    #Navigation
\*-----------------------------------------------------------------------------------*/
.cci-nav {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) and (max-width: 970px) {
  .cci-nav {
    padding-left: 0;
    padding-right: 0;
  }
}
#cci-sticky,
#cci-mobile-sticky {
  width: 100%;
  padding-top: 10px;
  background-color: #f9f9f9;
  z-index: 5000;
}
#cci-sticky.sticky,
#cci-mobile-sticky.sticky {
  position: fixed;
}
@media (max-width: 767px) {
  #cci-sticky,
  #cci-mobile-sticky {
    padding-bottom: 0;
  }
}
#cci-sticky .cci-full-width,
#cci-mobile-sticky .cci-full-width {
  background: #ffffff;
  border-top: 1px solid #ededed;
  box-shadow: 0 2px 3px #b2b2b2;
}
#cci-mobile-sticky {
  padding-top: 0;
}
#cci-mobile-sticky.sticky {
  border-bottom: 1px solid #ededed;
  box-shadow: 0 2px 3px #b2b2b2;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.dropdown a i {
  font-size: 24px;
}
.dropdown-menu {
  margin-top: 0;
  padding-bottom: 0;
  border-radius: 0;
}
.dropdown-menu li {
  position: relative;
}
.dropdown-menu > li > a {
  font-size: 20px;
}
@media (min-width: 768px) and (max-width: 970px) {
  .dropdown-menu > li > a {
    font-size: 16px;
  }
}
.btn-group-justified > .btn-group.nav-multiple,
li.nav-multiple,
.swiper-wrapper .nav-multiple {
  display: none;
}
.btn-group-justified {
  table-layout: auto;
}
.btn-group-justified:first-child {
  border-right: 1px dotted #ededed;
}
.btn-group-justified:last-child {
  border-right: none;
}
.btn-group-justified > a {
  background: #ffffff;
  border: none;
  border-right: 1px dotted #ededed;
  border-radius: 0;
  font-size: 20px;
}
.btn-group-justified > a:hover {
  border-right: 1px dotted #ededed;
}
.btn-group-justified > a:active {
  box-shadow: none;
}
@media (min-width: 768px) and (max-width: 970px) {
  .btn-group-justified > a {
    font-size: 16px;
  }
}
.btn-group-justified a,
.btn-group-justified li > a {
  color: #000000;
}
.btn-group-justified a:before,
.btn-group-justified li > a:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  height: 3px;
  left: auto;
  right: 0;
  width: 100%;
  background: transparent;
  z-index: 1;
}
.btn-group-justified a:hover,
.btn-group-justified li > a:hover {
  background: #ffffff;
}
.btn-group-justified a.active,
.btn-group-justified li > a.active {
  background: #ffffff;
  box-shadow: none;
  border-right: 1px dotted #ededed;
}
.btn-group-justified a.active.nav-home,
.btn-group-justified li > a.active.nav-home {
  color: #1b5c9c;
}
.btn-group-justified a.active.nav-home:before,
.btn-group-justified li > a.active.nav-home:before {
  background: #1b5c9c;
}
.btn-group-justified a.active.nav-trending,
.btn-group-justified li > a.active.nav-trending {
  color: #008dcd;
}
.btn-group-justified a.active.nav-trending:before,
.btn-group-justified li > a.active.nav-trending:before {
  background: #008dcd;
}
.btn-group-justified a.active.nav-world,
.btn-group-justified li > a.active.nav-world {
  color: #27a697;
}
.btn-group-justified a.active.nav-world:before,
.btn-group-justified li > a.active.nav-world:before {
  background: #27a697;
}
.btn-group-justified a.active.nav-national,
.btn-group-justified li > a.active.nav-national {
  color: #0a3167;
}
.btn-group-justified a.active.nav-national:before,
.btn-group-justified li > a.active.nav-national:before {
  background: #0a3167;
}
.btn-group-justified a.active.nav-politics,
.btn-group-justified li > a.active.nav-politics {
  color: #892e8e;
}
.btn-group-justified a.active.nav-politics:before,
.btn-group-justified li > a.active.nav-politics:before {
  background: #892e8e;
}
.btn-group-justified a.active.nav-entertainment,
.btn-group-justified li > a.active.nav-entertainment {
  color: #c73e97;
}
.btn-group-justified a.active.nav-entertainment:before,
.btn-group-justified li > a.active.nav-entertainment:before {
  background: #c73e97;
}
.btn-group-justified a.active.nav-sports,
.btn-group-justified li > a.active.nav-sports,
.btn-group-justified a.active.nav-sports-local,
.btn-group-justified li > a.active.nav-sports-local {
  color: #e57627;
}
.btn-group-justified a.active.nav-sports:before,
.btn-group-justified li > a.active.nav-sports:before,
.btn-group-justified a.active.nav-sports-local:before,
.btn-group-justified li > a.active.nav-sports-local:before {
  background: #e57627;
}
.btn-group-justified a.active.nav-weather,
.btn-group-justified li > a.active.nav-weather {
  color: #00892d;
}
.btn-group-justified a.active.nav-weather:before,
.btn-group-justified li > a.active.nav-weather:before {
  background: #00892d;
}
.btn-group-justified a.active.nav-health,
.btn-group-justified li > a.active.nav-health {
  color: #57a727;
}
.btn-group-justified a.active.nav-health:before,
.btn-group-justified li > a.active.nav-health:before {
  background: #57a727;
}
.btn-group-justified a.active.nav-news,
.btn-group-justified li > a.active.nav-news {
  color: #c18b07;
}
.btn-group-justified a.active.nav-news:before,
.btn-group-justified li > a.active.nav-news:before {
  background: #c18b07;
}
.btn-group-justified a.nav-home:hover,
.btn-group-justified li > a.nav-home:hover {
  color: #1b5c9c;
}
.btn-group-justified a.nav-home:hover:before,
.btn-group-justified li > a.nav-home:hover:before {
  background: #1b5c9c;
}
.btn-group-justified a.nav-trending:hover,
.btn-group-justified li > a.nav-trending:hover {
  color: #008dcd;
}
.btn-group-justified a.nav-trending:hover:before,
.btn-group-justified li > a.nav-trending:hover:before {
  background: #008dcd;
}
.btn-group-justified a.nav-world:hover,
.btn-group-justified li > a.nav-world:hover {
  color: #27a697;
}
.btn-group-justified a.nav-world:hover:before,
.btn-group-justified li > a.nav-world:hover:before {
  background: #27a697;
}
.btn-group-justified a.nav-national:hover,
.btn-group-justified li > a.nav-national:hover {
  color: #0a3167;
}
.btn-group-justified a.nav-national:hover:before,
.btn-group-justified li > a.nav-national:hover:before {
  background: #0a3167;
}
.btn-group-justified a.nav-politics:hover,
.btn-group-justified li > a.nav-politics:hover {
  color: #892e8e;
}
.btn-group-justified a.nav-politics:hover:before,
.btn-group-justified li > a.nav-politics:hover:before {
  background: #892e8e;
}
.btn-group-justified a.nav-entertainment:hover,
.btn-group-justified li > a.nav-entertainment:hover {
  color: #c73e97;
}
.btn-group-justified a.nav-entertainment:hover:before,
.btn-group-justified li > a.nav-entertainment:hover:before {
  background: #c73e97;
}
.btn-group-justified a.nav-sports:hover,
.btn-group-justified li > a.nav-sports:hover,
.btn-group-justified a.nav-sports-local:hover,
.btn-group-justified li > a.nav-sports-local:hover {
  color: #e57627;
}
.btn-group-justified a.nav-sports:hover:before,
.btn-group-justified li > a.nav-sports:hover:before,
.btn-group-justified a.nav-sports-local:hover:before,
.btn-group-justified li > a.nav-sports-local:hover:before {
  background: #e57627;
}
.btn-group-justified a.nav-weather:hover,
.btn-group-justified li > a.nav-weather:hover {
  color: #00892d;
}
.btn-group-justified a.nav-weather:hover:before,
.btn-group-justified li > a.nav-weather:hover:before {
  background: #00892d;
}
.btn-group-justified a.nav-health:hover,
.btn-group-justified li > a.nav-health:hover {
  color: #57a727;
}
.btn-group-justified a.nav-health:hover:before,
.btn-group-justified li > a.nav-health:hover:before {
  background: #57a727;
}
.btn-group-justified a.nav-news:hover,
.btn-group-justified li > a.nav-news:hover {
  color: #c18b07;
}
.btn-group-justified a.nav-news:hover:before,
.btn-group-justified li > a.nav-news:hover:before {
  background: #c18b07;
}
.btn-group-justified .btn-group.open .dropdown-toggle {
  box-shadow: none;
}
.btn-group-justified .btn-group button {
  background: #ffffff;
  border: none;
  border-right: 1px dotted #ededed;
  border-radius: 0;
  font-size: 20px;
  color: #000000;
}
@media (min-width: 768px) and (max-width: 970px) {
  .btn-group-justified .btn-group button {
    font-size: 16px;
  }
}
.btn-group-justified .btn-group button:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  height: 3px;
  left: auto;
  right: 0;
  width: 100%;
  background: transparent;
  z-index: 1;
}
.btn-group-justified .btn-group button:hover,
.btn-group-justified .btn-group button:active {
  background: #ffffff;
}
.cci-nav-swiper a {
  color: #000000;
}
.cci-nav-swiper a:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  height: 3px;
  left: auto;
  right: 0;
  width: 100%;
  background: transparent;
  z-index: 1;
}
.cci-nav-swiper a.active {
  font-weight: 600;
}
.cci-nav-swiper a.active.nav-home {
  color: #1b5c9c;
}
.cci-nav-swiper a.active.nav-home:before {
  background: #1b5c9c;
}
.cci-nav-swiper a.active.nav-trending {
  color: #008dcd;
}
.cci-nav-swiper a.active.nav-trending:before {
  background: #008dcd;
}
.cci-nav-swiper a.active.nav-world {
  color: #27a697;
}
.cci-nav-swiper a.active.nav-world:before {
  background: #27a697;
}
.cci-nav-swiper a.active.nav-national {
  color: #0a3167;
}
.cci-nav-swiper a.active.nav-national:before {
  background: #0a3167;
}
.cci-nav-swiper a.active.nav-politics {
  color: #892e8e;
}
.cci-nav-swiper a.active.nav-politics:before {
  background: #892e8e;
}
.cci-nav-swiper a.active.nav-entertainment {
  color: #c73e97;
}
.cci-nav-swiper a.active.nav-entertainment:before {
  background: #c73e97;
}
.cci-nav-swiper a.active.nav-sports,
.cci-nav-swiper a.active.nav-sports-local {
  color: #e57627;
}
.cci-nav-swiper a.active.nav-sports:before,
.cci-nav-swiper a.active.nav-sports-local:before {
  background: #e57627;
}
.cci-nav-swiper a.active.nav-weather {
  color: #00892d;
}
.cci-nav-swiper a.active.nav-weather:before {
  background: #00892d;
}
.cci-nav-swiper a.active.nav-health {
  color: #57a727;
}
.cci-nav-swiper a.active.nav-health:before {
  background: #57a727;
}
.cci-nav-swiper a.active.nav-news {
  color: #c18b07;
}
.cci-nav-swiper a.active.nav-news:before {
  background: #c18b07;
}
.cci-nav-swiper a.nav-home:hover {
  color: #1b5c9c;
}
.cci-nav-swiper a.nav-home:hover:before {
  background: #1b5c9c;
}
.cci-nav-swiper a.nav-trending:hover {
  color: #008dcd;
}
.cci-nav-swiper a.nav-trending:hover:before {
  background: #008dcd;
}
.cci-nav-swiper a.nav-world:hover {
  color: #27a697;
}
.cci-nav-swiper a.nav-world:hover:before {
  background: #27a697;
}
.cci-nav-swiper a.nav-national:hover {
  color: #0a3167;
}
.cci-nav-swiper a.nav-national:hover:before {
  background: #0a3167;
}
.cci-nav-swiper a.nav-politics:hover {
  color: #892e8e;
}
.cci-nav-swiper a.nav-politics:hover:before {
  background: #892e8e;
}
.cci-nav-swiper a.nav-entertainment:hover {
  color: #c73e97;
}
.cci-nav-swiper a.nav-entertainment:hover:before {
  background: #c73e97;
}
.cci-nav-swiper a.nav-sports:hover,
.cci-nav-swiper a.nav-sports-local:hover {
  color: #e57627;
}
.cci-nav-swiper a.nav-sports:hover:before,
.cci-nav-swiper a.nav-sports-local:hover:before {
  background: #e57627;
}
.cci-nav-swiper a.nav-weather:hover {
  color: #00892d;
}
.cci-nav-swiper a.nav-weather:hover:before {
  background: #00892d;
}
.cci-nav-swiper a.nav-health:hover {
  color: #57a727;
}
.cci-nav-swiper a.nav-health:hover:before {
  background: #57a727;
}
.cci-nav-swiper a.nav-news:hover {
  color: #c18b07;
}
.cci-nav-swiper a.nav-news:hover:before {
  background: #c18b07;
}
/*-----------------------------------------------------------------------------------*\
    #Mobile Navigation
\*-----------------------------------------------------------------------------------*/
.swiper-outer {
  position: relative;
}
.swiper-pagination {
  bottom: 5px;
  left: 36%;
  z-index: 3;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  margin: 0 9px;
  background: #ffffff;
  border: 1px solid #2757a7;
  opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #2757a7;
  border: 2px solid #ffffff;
}
@media (max-width: 767px) {
  .swiper-pagination {
    bottom: -25px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
