/*-----------------------------------------------------------------------------------*\
    #Colors
\*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*\
    #Typography
\*-----------------------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0 0 10px;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 30px;
  line-height: 32px;
}
@media (max-width: 767px) {
  h2 {
    font-size: 20px;
    line-height: 24px;
  }
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 18px;
}
/*-----------------------------------------------------------------------------------*\
    #Mixins
\*-----------------------------------------------------------------------------------*/
.navbar-box-shadow {
  box-shadow: 0 2px 3px #b2b2b2;
}
.box-shadow {
  box-shadow: 0 1px 6px #b2b2b2;
}
.text-shadow {
  text-shadow: 1px 1px 0 #333333;
}
.slider-headline {
  display: block;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  text-shadow: 1px 1px 0 #333333;
}
.slider-headline-mobile {
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  text-shadow: 1px 1px 0 #333333;
}
.slider-copy {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  text-shadow: 1px 1px 0 #333333;
}
.headline {
  display: block;
  margin-bottom: 5px;
  color: #000000;
  font-size: 15px;
  line-height: 18px;
}
.byline {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.timestamp {
  display: block;
  margin-bottom: 5px;
  color: #b2b2b2;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 15px;
}
/*-----------------------------------------------------------------------------------*\
    #Resets
\*-----------------------------------------------------------------------------------*/
body {
  background: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
}
a {
  color: #2757a7;
}
a:hover,
a:focus {
  color: #008dcd;
  text-decoration: none;
  outline: 0;
}
strong {
  font-weight: 600;
}
.btn-cci {
  background: #2757a7;
  padding: 6px 25px;
  color: #ffffff;
  border-radius: 2px;
}
.btn-cci:hover {
  color: #ffffff;
}
.cci-homepage .cci-right-rail-container {
  height: 1150px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .cci-homepage .cci-right-rail-container {
    height: auto;
  }
}
.cci-content-outer {
  background: #f9f9f9;
}
#cci-content-well {
  margin-top: 20px;
}
.pf-tsw {
  margin-bottom: 0 !important;
}
/*-----------------------------------------------------------------------------------*\
    #Popover
\*-----------------------------------------------------------------------------------*/
.popover-html {
  display: none;
}
.popover {
  width: 319px;
  max-width: 319px;
  border: 1px solid #b2b2b2;
  border-radius: 0;
  font-family: 'Open Sans', sans-serif;
}
.modal-html,
.popover-content {
  padding: 0;
}
.modal-html h4,
.popover-content h4 {
  font-weight: 600;
}
.modal-html button,
.popover-content button {
  float: left;
}
.modal-html .secure-submit i,
.popover-content .secure-submit i {
  display: block;
  float: left;
  margin-bottom: 0 !important;
  margin-top: 8px;
  margin-left: 10px;
  font-size: 20px !important;
}
.modal-html .cci-popover-close,
.popover-content .cci-popover-close {
  float: right;
  margin-top: -25px;
  margin-right: -40px;
  color: #cccccc;
  cursor: pointer;
  font-size: 28px;
}
.modal-html .cci-popover-close .icon-close,
.popover-content .cci-popover-close .icon-close {
  letter-spacing: 0;
}
.modal-html .form-horizontal,
.popover-content .form-horizontal {
  padding: 35px 50px 10px;
}
.modal-html .form-horizontal .form-group,
.popover-content .form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
}
.modal-html .form-horizontal .control-label,
.popover-content .form-horizontal .control-label {
  margin-bottom: 5px;
}
.modal-html .form-control,
.popover-content .form-control {
  background: #ededed;
  -webkit-box-shadow: inset 0px 1px 1px 0px #b2b2b2;
  -moz-box-shadow: inset 0px 1px 1px 0px #b2b2b2;
  box-shadow: inset 0px 1px 1px 0px #b2b2b2;
  border-radius: 2px;
}
.modal-html label,
.popover-content label {
  font-weight: 500;
}
.modal-html .checkbox input,
.popover-content .checkbox input {
  bottom: 4px;
}
/*-----------------------------------------------------------------------------------*\
    #Common Stuff
\*-----------------------------------------------------------------------------------*/
.headline {
  display: block;
  margin-bottom: 5px;
  color: #000000;
  font-size: 15px;
  line-height: 18px;
}
.timestamp {
  display: block;
  margin-bottom: 5px;
  color: #b2b2b2;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 15px;
}
.byline {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
@media (max-width: 767px) {
  .byline {
    font-size: 16px;
    line-height: 20px;
  }
}
.vertical-image-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.cci-image-container {
  position: relative;
  height: 185px;
  overflow: hidden;
  background: #000000;
  text-align: center;
}
.cci-image-container img {
  position: relative;
  width: 102%;
  height: auto;
  left: 50%;
  margin-left: -102%;
}
.cci-image-container img.vertical {
  left: auto;
  width: auto;
  height: 100%;
  margin: auto;
}
.cci-trending h2 {
  font-size: 22px;
}
/*-----------------------------------------------------------------------------------*\
    #Technical Difficulties
\*-----------------------------------------------------------------------------------*/
.cci-tech-difficulties .cci-message {
  text-align: center;
}
.cci-tech-difficulties .cci-message h2 {
  margin-bottom: 20px;
  line-height: 50px;
}
.cci-tech-difficulties .cci-message i {
  display: block;
  margin: 40px;
  color: #1b5c9c;
  font-size: 240px;
  text-shadow: 2px 2px 3px #b2b2b2;
}
/*-----------------------------------------------------------------------------------*\
    #My Card
\*-----------------------------------------------------------------------------------*/
.cci-my-card {
  margin-bottom: 10px;
}
.cci-connect {
  margin-top: 5px;
  text-align: center;
}
.cci-connect .col-xs-2 {
  position: relative;
}
.cci-connect .holder {
  position: relative;
  display: inline-block;
  z-index: 10;
}
.cci-connect .cci-indicator {
  position: absolute;
  top: -5px;
  left: 0;
  display: inline-block;
  min-width: 20px;
  padding: 3px;
  background-color: #d8544c;
  color: #ffffff;
  font-size: 12px;
  line-height: 12px;
  border-radius: 3px;
}
@media (max-width: 767px) {
  .cci-connect .cci-indicator {
    left: -6px;
  }
}
@media (max-width: 767px) {
  .cci-connect {
    float: left;
  }
}
.cci-connect i {
  display: block;
  margin-bottom: 5px;
  font-size: 32px;
}
.cci-connect span {
  display: block;
  font-size: 14px;
}
@media (max-width: 767px) {
  .cci-connect span {
    display: none;
  }
}
.cci-connect .heading {
  padding-top: 5px;
  text-align: left;
}
@media (max-width: 767px) {
  .cci-connect .heading span {
    display: block;
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .cci-connect .my-card-icon-holder {
    float: right;
  }
}
.cci-connect .voicemail,
.cci-connect .webmail,
.cci-connect .weather {
  padding-left: 0;
  padding-right: 0;
}
.cci-connect .voicemail a,
.cci-connect .webmail a,
.cci-connect .weather a {
  cursor: pointer;
}
@media (max-width: 767px) {
  .cci-connect .voicemail,
  .cci-connect .webmail,
  .cci-connect .weather {
    min-width: 60px;
  }
}
@media (max-width: 480px) {
  .cci-connect .voicemail,
  .cci-connect .webmail,
  .cci-connect .weather {
    min-width: 50px;
  }
}
.cci-connect .weather {
  margin-top: -5px;
}
.cci-connect .weather i {
  margin-bottom: 4px;
  padding-bottom: 0;
  font-size: 40px;
  letter-spacing: 10px;
}
@media (max-width: 767px) {
  .cci-connect .weather i {
    margin-left: -5px;
    font-size: 36px;
  }
}
.cci-connect .weather span {
  margin-top: -2px;
}
/*-----------------------------------------------------------------------------------*\
    #My Card Search
\*-----------------------------------------------------------------------------------*/
.cci-search .navbar-form {
  padding: 0;
}
@media (max-width: 767px) {
  .cci-search .navbar-form {
    margin: 0 auto;
  }
}
.cci-search .navbar-form .input-group {
  float: left;
  width: 75%;
}
@media (max-width: 932px) {
  .cci-search .navbar-form .input-group {
    width: 68%;
  }
}
.cci-search .navbar-form .input-group input.form-control {
  float: left;
  width: 100%;
  height: 42px;
  padding: 5px;
  border-right: none;
  border-radius: 0;
  font-style: italic;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-appearance: none;
}
@media (max-width: 767px) {
  .cci-search .navbar-form .input-group input.form-control {
    float: none;
    padding: 20px 10px;
    border-radius: 0;
  }
}
.cci-search .navbar-form .input-group .dropdown-menu {
  min-width: 83px;
  margin-top: 0;
  border-top: none;
}
.cci-search .navbar-form .input-group .input-group-btn {
  width: 1%;
}
.cci-search .navbar-form .input-group .input-group-btn .btn.btn-default {
  border-left: none;
  border-right: none;
  border-radius: 0;
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
@media (max-width: 380px) {
  .cci-search .navbar-form .input-group .input-group-btn .btn.btn-default {
    margin-top: -5px;
  }
}
.cci-search .navbar-form .input-group .input-group-btn .btn.btn-default:hover,
.cci-search .navbar-form .input-group .input-group-btn .btn.btn-default:active {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-right: none;
  border-left: none;
}
.cci-search .navbar-form .search-source a {
  color: #333333;
}
.cci-search .navbar-form .search-source .dropdown-menu li {
  cursor: pointer;
  padding: 5px 18px;
}
.cci-search .navbar-form .search-source .dropdown-menu li a {
  padding: 0;
  font-size: 14px;
}
.cci-search .navbar-form .search-source .dropdown-menu li a:hover {
  background: transparent;
}
.cci-search .navbar-form button {
  float: left;
  margin: 0;
  padding: 10px 20px;
  border-radius: 0 5px 5px 0;
}
@media (max-width: 767px) {
  .cci-search .navbar-form button {
    float: right;
    margin: 0;
  }
}
@media (max-width: 767px) {
  .cci-search .navbar-form table {
    width: 100%;
  }
  .cci-search .navbar-form table .cci-search-input {
    width: 100%;
  }
  .cci-search .navbar-form input {
    float: left;
    width: 100%;
    height: 42px;
    padding: 5px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 0;
    font-style: italic;
    box-shadow: none;
    font-size: 14px;
    -webkit-appearance: none;
  }
  .cci-search .navbar-form button {
    min-width: 89px;
    float: left;
    border-left: none;
    border-right: none;
    border-radius: 0;
    outline: none;
  }
  .cci-search .navbar-form button#cci-mobile-search-submit {
    border-radius: 0 5px 5px 0;
  }
  .cci-search .navbar-form button#cci-mobile-search-submit:hover,
  .cci-search .navbar-form button#cci-mobile-search-submit:active,
  .cci-search .navbar-form button#cci-mobile-search-submit:focus {
    background: #2757a7;
    border: 1px solid #2757a7;
  }
  .cci-search .navbar-form button:hover,
  .cci-search .navbar-form button:active,
  .cci-search .navbar-form button:focus {
    background: #ffffff;
    border: 1px solid #cccccc;
    border-right: none;
    border-left: none;
  }
  .cci-search .navbar-form .dropdown-menu {
    min-width: 89px;
    margin-top: 0;
  }
}
.cci-search-powered-by {
  float: left;
  margin: 7px 0 0 10px;
}
.cci-search-powered-by.google-search {
  display: block;
}
@media (max-width: 767px) {
  .cci-search-powered-by {
    float: none;
    clear: left;
    margin: 7px 0 0 0;
  }
}
.cci-search-powered-by img {
  float: left;
  clear: left;
}
@media (max-width: 767px) {
  .cci-search-powered-by img {
    clear: none;
    margin-left: 5px;
  }
}
/*-----------------------------------------------------------------------------------*\
    #Search Results
\*-----------------------------------------------------------------------------------*/
.cci-search-results {
  margin-bottom: 20px;
}
.cci-search-results .search-term {
  font-weight: 700;
}
.cci-search-results .cci-headline {
  font-weight: 600;
}
@media (max-width: 767px) {
  .cci-search-results .cci-headline {
    font-size: 20px;
    line-height: 24px;
  }
}
.cci-search-results .cci-subhead {
  font-size: 20px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .cci-search-results .cci-subhead {
    font-size: 16px;
    line-height: 24px;
  }
}
.cci-search-results li {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
@media (max-width: 767px) {
  .cci-search-results li {
    font-size: 14px;
  }
}
.cci-search-results .cci-tile {
  background: transparent;
  box-shadow: none;
}
.cci-search-results .cci-tile.small .cci-image-container {
  width: 140px;
  height: 140px;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .cci-search-results .cci-tile.small .cci-image-container {
    width: 100px;
    height: 100px;
  }
}
.cci-search-results .cci-tile.small .cci-content {
  max-width: 70%;
  margin-top: -3px;
  padding: 0 10px 0 0;
}
@media (max-width: 767px) {
  .cci-search-results .cci-tile.small .cci-content {
    max-width: 60%;
  }
}
@media (max-width: 360px) {
  .cci-search-results .cci-tile.small .cci-content {
    max-width: 50%;
  }
}
.cci-search-results .cci-tile.small.no-image .cci-content {
  max-width: 100%;
}
.cci-search-results .cci-tile.small .headline {
  height: auto;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .cci-search-results .cci-tile.small .headline {
    font-size: 16px;
    line-height: 20px;
  }
}
.cci-search-results .cci-tile.small .timestamp {
  display: inline;
  color: #949494;
  font-size: 16px;
}
@media (max-width: 767px) {
  .cci-search-results .cci-tile.small .timestamp {
    font-size: 14px;
  }
  .cci-search-results .cci-tile.small .timestamp .something {
    display: none;
  }
}
.cci-search-results .cci-tile.small .copy {
  color: #000000;
  font-size: 16px;
  line-height: 20px;
}
@media (max-width: 767px) {
  .cci-search-results .cci-tile.small .copy {
    display: none;
  }
}
.cci-results {
  display: inline-block;
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 600;
}
.cci-results.pages {
  font-weight: 400;
}
.cci-pagination {
  margin-bottom: 25px;
  font-size: 16px;
}
.cci-pagination .previous {
  display: inline-block;
  padding-right: 20px;
}
.cci-pagination .next {
  display: inline-block;
  padding-left: 20px;
}
/*-----------------------------------------------------------------------------------*\
    #Story styles
\*-----------------------------------------------------------------------------------*/
.cci-article .visible-xs,
.cci-article .visible-sm {
  clear: both;
}
.cci-article .body-headline {
  display: block;
  margin-bottom: 5px;
  color: #000000;
  font-size: 15px;
  line-height: 18px;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .cci-article .body-headline {
    font-size: 30px;
    line-height: 34px;
  }
}
.cci-article .byline {
  display: inline;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .cci-article .byline {
    font-size: 16px;
    line-height: 20px;
  }
}
.cci-article .timestamp {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 15px;
  margin-bottom: 10px;
  color: #b2b2b2;
  line-height: 20px;
}
@media (max-width: 767px) {
  .cci-article .timestamp {
    font-size: 14px;
  }
}
.cci-article .dateline {
  float: left;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  line-height: 16px;
}
.cci-article .provider-name,
.cci-article .provider-name-punctuation {
  display: inline;
  color: #333333;
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 767px) {
  .cci-article .provider-name,
  .cci-article .provider-name-punctuation {
    font-size: 16px;
    line-height: 20px;
  }
}
.cci-article .provider-restriction {
  display: block;
  margin-bottom: 10px;
  color: #000000;
  font-size: 14px;
  line-height: 20px;
  font-style: italic;
}
.cci-article .cci-image-container {
  height: 360px;
  margin-bottom: 20px;
  box-shadow: 0 1px 6px #b2b2b2;
}
@media (max-width: 480px) {
  .cci-article .cci-image-container {
    height: 169px;
  }
}
.cci-article .body-copy {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.cci-article .embedded-right-rail {
  float: right;
  padding-right: 0;
  margin-left: 15px;
}
.cci-article .storify {
  clear: both !important;
}
/*-----------------------------------------------------------------------------------*\
    #Tiles
\*-----------------------------------------------------------------------------------*/
.cci-tile {
  margin-bottom: 20px;
  background: #ffffff;
  box-shadow: 0 1px 6px #b2b2b2;
}
.cci-tile.large {
  height: 450px;
}
.cci-tile.large.video {
  background: #f9f9f9;
  box-shadow: none;
}
.cci-tile.large .cci-image-container {
  height: 360px;
}
@media (max-width: 480px) {
  .cci-tile.large .cci-image-container {
    height: 169px;
  }
}
.cci-tile.large a:hover {
  text-decoration: none;
}
.cci-tile.large .headline {
  font-size: 24px;
  line-height: 28px;
}
@media (max-width: 767px) {
  .cci-tile.large .headline {
    font-size: 16px;
    line-height: 20px;
  }
}
.cci-tile.large .cci-content {
  padding: 5px 10px;
}
@media (max-width: 767px) {
  .cci-tile.large {
    height: auto;
  }
}
.cci-tile.medium {
  height: 242px;
}
.cci-tile.medium .cci-image-container {
  height: 174px;
}
.cci-tile.medium a:hover {
  text-decoration: none;
}
.cci-tile.medium .cci-content {
  padding: 5px 10px;
}
@media (max-width: 360px) {
  .cci-tile.medium .headline {
    max-height: 37px;
    padding-bottom: 2px;
    overflow-y: hidden;
  }
}
.cci-tile.small {
  position: relative;
  margin-bottom: 18px;
}
.cci-tile.small .cci-image-container {
  width: 100px;
  height: 80px;
  float: left;
  margin-bottom: 0;
}
.cci-tile.small .cci-image-container img {
  width: auto;
  height: 100%;
}
.cci-tile.small .cci-content {
  float: left;
  max-width: 60%;
  padding: 5px 10px;
}
.cci-tile.small .headline {
  /* vertically aligning text in Safari */
  display: -webkit-box;
  -webkit-box-align: center;
  /* all other browsers, including IE */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70px;
  margin-bottom: 0;
  resize: vertical;
  vertical-align: middle;
  font-size: 15px;
}
/*-----------------------------------------------------------------------------------*\
    #Category Tags
\*-----------------------------------------------------------------------------------*/
.cci-tag {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 3px 10px;
  background: #000000;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .cci-tag {
    font-size: 16px;
  }
}
.cci-tag.entertainment {
  background: #c73e97;
}
.cci-tag.health {
  background: #57a727;
}
.cci-tag.home {
  background: #1b5c9c;
}
.cci-tag.nationalnews {
  background: #0a3167;
}
.cci-tag.politics {
  background: #892e8e;
}
.cci-tag.nationalsports {
  background: #e57627;
}
.cci-tag.localsports {
  background: #e57627;
}
.cci-tag.trending {
  background: #008dcd;
}
.cci-tag.weather {
  background: #27a697;
}
.cci-tag.world {
  background: #27a697;
}
.cci-tag.localnews {
  background: #c18b07;
}
/*-----------------------------------------------------------------------------------*\
    #Ads
\*-----------------------------------------------------------------------------------*/
.cci-ad {
  margin-bottom: 20px;
}
.dp01,
.dp02 {
  margin-bottom: 24px;
}
.cci-homepage .dp01,
.cci-homepage .dp02 {
  margin-bottom: 24px;
}
#cci-ad-mp01.cci-ad,
#cci-ad-mp02.cci-ad {
  margin-bottom: 0;
  padding-bottom: 20px;
  background: #f9f9f9;
}
@media screen and (min-device-width: 320px) and (device-aspect-ratio: 40/71) {
  #cci-ad-mp01.cci-ad {
    margin-left: -30px;
  }
  .cci-article #cci-ad-mp01.cci-ad {
    margin-left: -45px;
  }
}
/*-----------------------------------------------------------------------------------*\
    #Taboola
\*-----------------------------------------------------------------------------------*/
.cci-taboola {
  clear: both;
  margin-bottom: 20px;
}
/*-----------------------------------------------------------------------------------*\
    #Swiper
\*-----------------------------------------------------------------------------------*/
.cci-swiper.swiper-container {
  margin-bottom: 30px;
  box-shadow: 0 1px 6px #b2b2b2;
}
.cci-swiper.swiper-container .vertical-image-helper {
  margin-left: -4px;
}
.cci-swiper.swiper-container .swiper-slide {
  position: relative;
  height: 350px;
  overflow: hidden;
  background: #000000;
  text-align: center;
}
.cci-swiper.swiper-container .swiper-slide img {
  display: inline-block;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.cci-swiper.swiper-container .swiper-slide img.vertical {
  width: auto;
  height: 100%;
}
.cci-swiper.swiper-container .swiper-slide img.horizontal {
  margin: 0 -5px;
}
@media (max-width: 767px) {
  .cci-swiper.swiper-container .swiper-slide {
    max-height: 170px;
  }
}
.cci-swiper.swiper-container .headline {
  display: block;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  text-shadow: 1px 1px 0 #333333;
}
.cci-swiper.swiper-container .copy {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  text-shadow: 1px 1px 0 #333333;
}
@media (max-width: 767px) {
  .cci-swiper.swiper-container .copy {
    display: none;
  }
}
@media (max-width: 767px) {
  .cci-swiper.swiper-container .headline {
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    text-shadow: 1px 1px 0 #333333;
  }
}
.cci-swiper.swiper-container .cci-content {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 10px 10px 25px;
  background: rgba(53, 53, 55, 0.4);
  color: #ffffff;
  text-shadow: 1px 1px 0 #333333;
  text-align: left;
}
@media (max-width: 767px) {
  .cci-swiper.swiper-container .cci-content {
    padding: 10px;
  }
}
.cci-nav-swiper.swiper-container {
  background: #ffffff;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
.cci-nav-swiper.swiper-container .swiper-slide {
  padding: 20px 25px;
  border-right: 1px dotted #ededed;
  text-align: center;
}
.cci-nav-swiper.swiper-container .swiper-slide.active {
  border-bottom: 4px solid #2757a7;
}
.cci-nav-swiper.swiper-container .swiper-slide a {
  font-size: 22px;
}
.cci-nav-swiper.swiper-container .swiper-slide a:hover {
  text-decoration: none;
}
@media (max-width: 767px) {
  .cci-nav-swiper.swiper-container .swiper-slide a {
    font-size: 18px;
  }
}
.cci-nav-swiper.swiper-container .swiper-slide:nth-child(1n) {
  width: auto;
}
.cci-nav-swiper.swiper-container .swiper-slide:nth-child(2n) {
  width: auto;
}
/*-----------------------------------------------------------------------------------*\
    #Collapse plugin
\*-----------------------------------------------------------------------------------*/
.collapse-trigger {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: #ffffff;
  text-align: center;
  color: #2757a7;
  cursor: pointer;
}
.collapse-trigger span {
  font-weight: 600;
}
/*-----------------------------------------------------------------------------------*\
    #Media Queries
\*-----------------------------------------------------------------------------------*/
@media (min-width: 970px) {
  .container {
    width: 970px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 768px) and (max-width: 970px) {
  .cci-nav.container {
    width: 100%;
  }
  #cci-my-card-search.container {
    width: 100%;
  }
  #cci-content-well.container {
    width: 970px;
  }
}
