/*-----------------------------------------------------------------------------------*\
    #Colors
\*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*\
    #Typography
\*-----------------------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0 0 10px;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 30px;
  line-height: 32px;
}
@media (max-width: 767px) {
  h2 {
    font-size: 20px;
    line-height: 24px;
  }
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 18px;
}
/*-----------------------------------------------------------------------------------*\
    #Mixins
\*-----------------------------------------------------------------------------------*/
.navbar-box-shadow {
  box-shadow: 0 2px 3px #b2b2b2;
}
.box-shadow {
  box-shadow: 0 1px 6px #b2b2b2;
}
.text-shadow {
  text-shadow: 1px 1px 0 #333333;
}
.slider-headline {
  display: block;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  text-shadow: 1px 1px 0 #333333;
}
.slider-headline-mobile {
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  text-shadow: 1px 1px 0 #333333;
}
.slider-copy {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  text-shadow: 1px 1px 0 #333333;
}
.headline {
  display: block;
  margin-bottom: 5px;
  color: #000000;
  font-size: 15px;
  line-height: 18px;
}
.byline {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.timestamp {
  display: block;
  margin-bottom: 5px;
  color: #b2b2b2;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 15px;
}
.cci-video-containing-block {
  width: 100%;
}
.cci-video-outer-container {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  padding-top: 110px;
}
.BrightcoveExperience {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
