/*-----------------------------------------------------------------------------------*\
    #Colors
\*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*\
    #Typography
\*-----------------------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0 0 10px;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 30px;
  line-height: 32px;
}
@media (max-width: 767px) {
  h2 {
    font-size: 20px;
    line-height: 24px;
  }
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 18px;
}
/*-----------------------------------------------------------------------------------*\
    #Mixins
\*-----------------------------------------------------------------------------------*/
.navbar-box-shadow {
  box-shadow: 0 2px 3px #b2b2b2;
}
.box-shadow {
  box-shadow: 0 1px 6px #b2b2b2;
}
.text-shadow {
  text-shadow: 1px 1px 0 #333333;
}
.slider-headline {
  display: block;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  text-shadow: 1px 1px 0 #333333;
}
.slider-headline-mobile {
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  text-shadow: 1px 1px 0 #333333;
}
.slider-copy {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  text-shadow: 1px 1px 0 #333333;
}
.headline {
  display: block;
  margin-bottom: 5px;
  color: #000000;
  font-size: 15px;
  line-height: 18px;
}
.byline {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.timestamp {
  display: block;
  margin-bottom: 5px;
  color: #b2b2b2;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 15px;
}
/*-----------------------------------------------------------------------------------*\
    #Weather styles
\*-----------------------------------------------------------------------------------*/
.icon {
  line-height: normal;
}
.cci-weather-ad {
  position: absolute;
  top: 0;
  right: 0;
  width: 88px;
  height: 31px;
}
.weather-location {
  display: block;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2px 20px 0 0;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  color: #000000;
}
@media (max-width: 767px) {
  .weather-location {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 18px;
  }
}
.weather-date,
.weather-heading {
  display: inline-block;
  color: #000000;
  font-size: 20px;
  line-height: normal;
}
@media (max-width: 767px) {
  .weather-date,
  .weather-heading {
    font-size: 18px;
  }
}
@media (max-width: 380px) {
  .weather-date,
  .weather-heading {
    margin-top: 30px;
  }
}
.weather-heading {
  margin-bottom: 5px;
}
.weather-label {
  color: #4f5051;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  font-style: italic;
}
@media (max-width: 767px) {
  .weather-label {
    font-size: 14px;
  }
}
.cci-connect .weather-alerts-indicator {
  display: none;
  position: absolute;
  bottom: -10px;
  right: -3px;
  min-width: 20px;
  padding: 3px;
}
.cci-connect .weather-alerts-indicator i {
  font-size: 20px;
  line-height: 8px;
}
@media (max-width: 767px) {
  .cci-connect .weather-alerts-indicator i {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .cci-connect .weather-alerts-indicator {
    bottom: -5px;
    right: -5px;
  }
}
.weather-alerts-indicator {
  position: relative;
  float: left;
  min-width: 68px;
  margin: 10px 0;
  color: #d3544c;
  cursor: pointer;
  text-align: center;
}
.weather-alerts-indicator i {
  font-size: 24px;
}
.weather-alerts-indicator span {
  font-size: 12px;
  display: block;
}
@media (max-width: 767px) {
  .weather-alerts-indicator span {
    display: none;
  }
}
.weather-alerts-indicator .cci-indicator {
  position: absolute;
  top: -5px;
  left: 0;
  display: inline-block;
  min-width: 20px;
  padding: 3px;
  background-color: #d8544c;
  color: #ffffff;
  font-size: 12px;
  line-height: 12px;
  border-radius: 3px;
}
.weather-alerts {
  position: relative;
  padding: 15px;
  display: none;
}
.weather-alerts span {
  font-size: 16px;
}
.weather-alerts .alert-toggle {
  display: inline-block;
  padding: 0 15px 15px;
  color: #2757a7;
  cursor: pointer;
  font-size: 14px;
}
.weather-alerts .alert-toggle .less {
  display: none;
}
.weather-alerts .weather-alerts-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #cccccc;
  cursor: pointer;
}
.weather-alerts .weather-alerts-close i {
  font-size: 32px;
}
.weather-alerts .alert-heading {
  margin-bottom: 3px;
  color: #d3544c;
  font-size: 16px;
  font-weight: 600;
}
.weather-alerts .alert-details {
  display: none;
  padding: 10px 20px;
  font-size: 14px;
}
.weather-alerts .alert-details p {
  word-wrap: break-word;
}
.weather-alerts .alert-summary {
  padding-bottom: 2px;
  border-bottom: 2px dotted #4f5051;
  font-size: 16px;
  font-weight: 600;
}
.cci-tile.current-conditions {
  position: relative;
  margin-bottom: 30px;
  padding: 19px 15px;
}
@media (max-width: 767px) {
  .cci-tile.current-conditions {
    padding: 15px;
  }
}
.cci-tile.hourly-forecast {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  padding: 10px 15px;
}
@media (max-width: 767px) {
  .cci-tile.hourly-forecast {
    padding: 15px;
  }
}
@media (max-width: 380px) {
  .cci-tile.hourly-forecast .hourly-weather-container {
    overflow-x: scroll;
  }
}
.cci-tile.daily-forecast {
  position: relative;
  margin-bottom: 20px;
  padding: 10px 15px;
}
@media (max-width: 767px) {
  .cci-tile.daily-forecast {
    padding: 15px;
  }
}
.aws-logo {
  margin-bottom: 15px;
}
.current-conditions {
  margin-bottom: 20px;
}
.current-conditions .icon {
  float: left;
  width: 120px;
  color: #2757a7;
  font-size: 100px;
}
@media (max-width: 767px) {
  .current-conditions .icon {
    width: 70px;
    font-size: 60px;
  }
}
@media (max-width: 360px) {
  .current-conditions .icon {
    width: 50px;
    font-size: 48px;
  }
}
.current-conditions .temp-feels-like {
  float: left;
  padding: 10px 0 0 20px;
}
@media (max-width: 767px) {
  .current-conditions .temp-feels-like {
    padding: 10px 0 0;
    font-size: 60px;
    text-align: center;
  }
}
.current-conditions .temp {
  margin-bottom: 0;
  font-size: 60px;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 767px) {
  .current-conditions .temp {
    font-size: 40px;
  }
}
@media (max-width: 360px) {
  .current-conditions .temp {
    font-size: 36px;
    line-height: 36px;
  }
}
.current-conditions .feels-like {
  clear: both;
  font-size: 16px;
}
@media (max-width: 767px) {
  .current-conditions .feels-like {
    font-size: 14px;
  }
}
@media (max-width: 360px) {
  .current-conditions .feels-like {
    font-size: 12px;
  }
}
.current-conditions .description {
  clear: both;
  font-size: 24px;
  text-align: center;
}
@media (max-width: 767px) {
  .current-conditions .description {
    font-size: 14px;
  }
}
.current-conditions .general-info {
  border-right: 1px dotted #b2b2b2;
}
@media (max-width: 360px) {
  .current-conditions .general-info {
    border-right: none;
  }
}
@media (max-width: 360px) {
  .current-conditions .specific-info {
    border-left: 1px dotted #b2b2b2;
  }
}
.current-conditions .high,
.current-conditions .low {
  float: left;
  padding: 0 30px 10px 0;
}
@media (max-width: 767px) {
  .current-conditions .high,
  .current-conditions .low {
    padding-right: 10px;
  }
}
.current-conditions .high .temp,
.current-conditions .low .temp {
  float: left;
  clear: left;
  padding: 0;
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
}
@media (max-width: 767px) {
  .current-conditions .high .temp,
  .current-conditions .low .temp {
    font-size: 14px;
  }
}
.current-conditions .details-label {
  float: left;
  padding-bottom: 4px;
  clear: left;
  font-size: 16px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .current-conditions .details-label {
    font-size: 14px;
  }
}
.current-conditions .precipitation,
.current-conditions .wind {
  float: left;
  clear: left;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
}
@media (max-width: 767px) {
  .current-conditions .precipitation,
  .current-conditions .wind {
    font-size: 14px;
  }
}
.current-conditions .wind {
  text-transform: uppercase;
}
.cci-weather-search {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .cci-weather-search .form-group {
    width: 100%;
  }
  .cci-weather-search .form-group .cci-search-input {
    width: 100%;
  }
  .cci-weather-search .form-group input {
    float: left;
    width: 100%;
    height: 42px;
    padding: 5px;
    border-radius: 0;
    font-style: italic;
  }
  .cci-weather-search .form-group span {
    float: left;
    margin: 0 10px 0 0;
    padding: 7px 10px;
    border-radius: 0 5px 5px 0;
  }
  .cci-weather-search .form-group span i {
    font-size: 24px;
  }
}
.cci-weather-search .navbar-form {
  width: 320px;
  padding: 0;
}
@media (max-width: 767px) {
  .cci-weather-search .navbar-form {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
.cci-weather-search .navbar-form .form-group {
  float: left;
  width: 260px;
}
@media (max-width: 767px) {
  .cci-weather-search .navbar-form .form-group {
    width: 110%;
  }
}
.cci-weather-search .navbar-form .form-group input {
  float: left;
  width: 100%;
  height: 42px;
  padding: 5px;
  border-radius: 0;
  font-style: italic;
}
@media (max-width: 767px) {
  .cci-weather-search .navbar-form .form-group input {
    float: none;
    padding: 20px 10px;
    border-radius: 0;
  }
}
.cci-weather-search .navbar-form span {
  float: left;
  margin: 0 10px 0 0;
  padding: 7px 10px;
  border-radius: 0 5px 5px 0;
}
.cci-weather-search .navbar-form span i {
  font-size: 24px;
}
@media (max-width: 767px) {
  .cci-weather-search .navbar-form span {
    float: right;
    margin: 0;
  }
}
.cci-weather-search .search-toggle {
  float: left;
  margin: 10px 20px 10px 0;
}
@media (max-width: 767px) {
  .cci-weather-search .search-toggle {
    float: none;
    clear: left;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .cci-weather-search .search-toggle i {
    display: none;
  }
}
@media (max-width: 767px) {
  .cci-weather-search .search-toggle span {
    display: block;
    margin-bottom: 10px;
    color: #000000;
  }
}
.cci-weather-search .search-toggle .search-toggle-open {
  float: left;
  padding: 10px 0 0;
  color: #2757a7;
  font-size: 14px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .cci-weather-search .search-toggle .search-toggle-open {
    padding-top: 0;
  }
}
.cci-weather-search .search-toggle .search-toggle-open i {
  padding: 0 3px;
  font-size: 16px;
}
.cci-weather-search .search-toggle .search-toggle-close {
  float: left;
  padding: 4px 0;
  color: #cccccc;
  cursor: pointer;
}
.cci-weather-search .search-toggle .search-toggle-close i {
  font-size: 32px;
}
.cci-weather .hourly-forecast table {
  width: 100%;
}
.cci-weather .hourly-forecast tr {
  border-bottom: 1px dotted #cccccc;
}
.cci-weather .hourly-forecast tr:first-child {
  border-top: 1px dotted #cccccc;
}
.cci-weather .hourly-forecast th,
.cci-weather .hourly-forecast td {
  padding: 8px;
}
@media (max-width: 767px) {
  .cci-weather .hourly-forecast th,
  .cci-weather .hourly-forecast td {
    padding: 8px 4px;
  }
}
.cci-weather .hourly-forecast th {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: normal;
}
@media (max-width: 767px) {
  .cci-weather .hourly-forecast th {
    font-size: 14px;
    vertical-align: bottom;
  }
  .cci-weather .hourly-forecast th.wind {
    display: none;
  }
}
.cci-weather .hourly-forecast th.time {
  width: 23%;
  color: #4f5051;
  font-size: 14px;
  font-style: italic;
  text-align: left;
  line-height: normal;
}
@media (max-width: 767px) {
  .cci-weather .hourly-forecast th.time {
    width: 10%;
  }
  .cci-weather .hourly-forecast th.time span {
    display: none;
  }
}
.cci-weather .hourly-forecast th.temp {
  width: 10%;
}
@media (max-width: 767px) {
  .cci-weather .hourly-forecast th.temp {
    width: 20%;
  }
}
.cci-weather .hourly-forecast th.conditions {
  width: 27%;
  text-align: left;
}
@media (max-width: 767px) {
  .cci-weather .hourly-forecast th.conditions {
    width: 50%;
  }
}
@media (max-width: 380px) {
  .cci-weather .hourly-forecast th.conditions {
    width: 20%;
  }
}
.cci-weather .hourly-forecast th.rain-percentage,
.cci-weather .hourly-forecast th.wind {
  width: 20%;
}
.cci-weather .hourly-forecast td {
  text-align: center;
}
@media (max-width: 767px) {
  .cci-weather .hourly-forecast td {
    font-size: 14px;
    line-height: normal;
    vertical-align: middle;
  }
  .cci-weather .hourly-forecast td.wind {
    display: none;
  }
}
.cci-weather .hourly-forecast td.time {
  white-space: nowrap;
}
.cci-weather .hourly-forecast td.temp {
  font-size: 36px;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 767px) {
  .cci-weather .hourly-forecast td.temp {
    font-size: 18px;
  }
}
.cci-weather .hourly-forecast td.icon {
  text-align: left;
}
.cci-weather .hourly-forecast td.icon i {
  color: #2757a7;
  font-size: 48px;
  line-height: 24px;
}
@media (max-width: 767px) {
  .cci-weather .hourly-forecast td.icon i {
    padding-top: 8px;
    font-size: 30px;
    line-height: 30px;
  }
}
.cci-weather .hourly-forecast td.conditions,
.cci-weather .hourly-forecast td.conditions-description {
  text-align: left;
  vertical-align: middle;
}
.cci-weather .hourly-forecast td.conditions span,
.cci-weather .hourly-forecast td.conditions-description span {
  display: block;
  float: left;
}
@media (max-width: 767px) {
  .cci-weather .hourly-forecast td.conditions span,
  .cci-weather .hourly-forecast td.conditions-description span {
    float: none;
    line-height: normal;
  }
}
.cci-weather .hourly-forecast td.conditions-description {
  padding-left: 15px;
}
.cci-weather .daily-forecast table {
  width: 100%;
}
@media (max-width: 767px) {
  .cci-weather .daily-forecast .swiper-slide {
    width: 130px;
    padding: 5px 10px;
    border-right: 1px dotted #cccccc;
  }
  .cci-weather .daily-forecast .swiper-slide:last-child {
    border-right: none;
  }
  .cci-weather .daily-forecast .cci-daily-forecast-swiper {
    margin-left: -5px;
  }
}
.cci-weather .daily-forecast td {
  width: 14%;
  padding: 5px 10px;
  border-right: 1px dotted #cccccc;
  vertical-align: top;
  font-size: 14px;
  color: #000000;
}
.cci-weather .daily-forecast td:last-child {
  border-right: none;
}
.cci-weather .daily-forecast .weekday,
.cci-weather .daily-forecast .weekdate {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.cci-weather .daily-forecast .weekdate {
  margin-bottom: 15px;
}
.cci-weather .daily-forecast .weekend-day {
  background: #f7f7f9;
  border-top: 1px dotted #cccccc;
  border-bottom: 1px dotted #cccccc;
}
.cci-weather .daily-forecast .conditions-icon {
  float: left;
  margin-right: 10px;
  font-size: 32px;
  color: #2757a7;
}
.cci-weather .daily-forecast .temp {
  float: left;
  margin-top: 5px;
  font-size: 26px;
  font-weight: 600;
  line-height: normal;
}
.cci-weather .daily-forecast .description {
  clear: left;
  min-height: 80px;
  max-height: 80px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 21px;
}
.cci-weather .daily-forecast .low {
  margin-bottom: 15px;
}
