@charset "UTF-8";
/* WMG 10576 */
.word-spacer {display:inline-block;width:1em;}
.latest_layer { position:absolute; left:50%; top:219px; width:415px; padding-bottom:35px; min-height:82px; overflow:hidden; margin-left:-415px; border:1px solid #425bd5; background:#fff;  z-index:101; }
.latest_layer .tit { height:36px; background:#425bd5; }
.latest_layer .tit h2 { padding-left:18px;  line-height:34px; letter-spacing:-2px;font-family: Malgun Gothic, "맑은 고딕", NanumGothic, "나눔고딕"; color:#fff;  font-size:16px; font-weight:normal }
.latest_layer .cnt { padding:14px 0 10px 14px;overflow:hidden;  }
.latest_layer .cnt dl {  height:15px; line-height:15px; margin-bottom:3px; font-family: Malgun Gothic, "맑은 고딕", NanumGothic, "나눔고딕"; }
.latest_layer .cnt dt { display:inline-block; padding-left:9px; font-weight:bold; color:#425bd5; font-size:12px; background:url(//www.saraminimage.co.kr/ui/main/bg/ico_arrow_latest.png) left center no-repeat;}
.latest_layer .cnt dd { display:inline-block;  padding-left:6px; color:#444; font-size:12px;}
.latest_layer .cnt dd a {   color:#444;}
.latest_layer .cnt dd em a { color:#ff3300 !important;}
.latest_layer .btns { position:absolute; left:0; bottom:0; width:380px; height:35px; padding:0 18px 0 17px; letter-spacing:-1px;  overflow:hidden; border-top:1px solid #e6e6e6; }
.latest_layer .btn_del {border:none;display:inline-block;width:13px; height:13px; line-height:13px;font-size:11px; background:url(//www.saraminimage.co.kr/ui/main/bg/btn_del_latest.png) 0 0 no-repeat;vertical-align:top;margin-top:2px;text-indent:-100%;*text-indent:0;white-space:nowrap;overflow:hidden;font-size:0;line-height:0;text-shadow:none;color:transparent;cursor:pointer;}
.latest_layer .btn_check { position:absolute; right:18px; top:8px; cursor:pointer; display:inline-block; height:15px; line-height:15px; color:#444; font-size:11px;font-family: Malgun Gothic, "맑은 고딕", NanumGothic, "나눔고딕";}
.latest_layer .btn_check input { vertical-align:middle; margin-left:4px; }
.latest_layer .btn_close { position:absolute; right:10px; top:10px; display:block; width:17px; height:17px; overflow:hidden; text-indent:-150px; background:url(//www.saraminimage.co.kr/ui/main/bg/btn_x_latest.png) center no-repeat;}

/* [모바일 앱 설치 유도]개인화 앱 넛지 스타일#1 */
.wrap_promoapp_nudge{ position: relative;}
.wrap_promoapp_nudge .inner{ position: relative;border: 1px solid #f0f0f0; padding: 21px 27px; width: 100%;background-color: #fff;box-sizing: border-box;}
.wrap_promoapp_nudge .inner .area_method{ margin-top: 38px;}
.wrap_promoapp_nudge .inner .area_app_icon{ top: 21px; right: 16px;}
.wrap_promoapp_nudge .area_app_desc{ margin-left: 32px; padding-top: 38px;height: 170px;width: 314px; line-height: 0;box-sizing: border-box;}
.wrap_promoapp_nudge .area_app_desc img{ vertical-align: top;}
.wrap_promoapp_nudge .area_app_icon{ position: absolute; top: 0; right: 0; }
.wrap_promoapp_nudge .area_app_icon .bg_smartphone{ position: relative; width: 280px; height: 170px;background: url(//www.saraminimage.co.kr/ui/app_promo_nudge/sp/wrap_promoapp_nudge.png) 0 0 no-repeat;box-sizing: border-box;}
.wrap_promoapp_nudge .area_app_icon .bg_smartphone .icon_app{ position: absolute; top: 63px; left: 50%; margin-left: -42px;width: 84px; height: 84px; font: 0/0 Arial; /* background: url(//www.saraminimage.co.kr/ui/app_promo_nudge/sp/icon_app.png) -240px 0 no-repeat; */}
.wrap_promoapp_nudge .area_method{ overflow: hidden;margin-top: 33px; width: 100%;}
.wrap_promoapp_nudge .area_method .sms{ float: left; width: 284px;}
.wrap_promoapp_nudge .area_method .market{ float: right; width: 284px;}
.wrap_promoapp_nudge .area_method .txt_method{ display: block;margin: 0; height: 29px; font: 0/0 Arial; color: #fff; text-align: right; background: url(//www.saraminimage.co.kr/ui/app_promo_nudge/sp/wrap_promoapp_nudge.png) 0 -180px no-repeat;}
.wrap_promoapp_nudge .area_method .market .txt_method{ background-position: 0 -220px;}
.wrap_promoapp_nudge .area_method .wrap_float{ overflow: hidden; _margin-top: -1px;width: 100%; height: 35px;}
.wrap_promoapp_nudge .area_method .wrap_float .input_float{float:left;}
.wrap_promoapp_nudge .area_method .sms .input_text{ display: inline-block; *display: inline; *zoom: 1;_margin: -1px 4px 0 0;border: 1px solid #d6d6d6; padding: 0 8px;height: 35px; line-height: 33px; font-family: dotum, '돋움'; font-size: 13px; color: #000;box-sizing: border-box;}
.wrap_promoapp_nudge .area_method .sms .input_text::-webkit-input-placeholder{ color: #AAA;}
.wrap_promoapp_nudge .area_method .sms .input_text::-moz-placeholder{ color: #AAA;}
.wrap_promoapp_nudge .area_method .sms .input_text:-ms-input-placeholder{ color: #AAA;}
.wrap_promoapp_nudge .area_method .sms .input_text::-ms-clear{ display: none;}
.wrap_promoapp_nudge .area_method .sms .btn_submit_sms{ display: inline-block; *display: inline; *zoom: 1;border: 0;width: 89px; height: 35px; vertical-align: top;background: url(//www.saraminimage.co.kr/ui/app_promo_nudge/sp/wrap_promoapp_nudge.png) 0 -340px no-repeat; cursor: pointer;}
.wrap_promoapp_nudge .area_method .sms .btn_submit_sms span{ font: 0/0 Arial; text-indent: -1000em;}
.wrap_promoapp_nudge .area_method .market .go_android,
.wrap_promoapp_nudge .area_method .market .go_ios,
.wrap_promoapp_nudge .area_method .market .go_android_disabled,
.wrap_promoapp_nudge .area_method .market .go_ios_disabled{ float: left; width: 139px; height: 35px; font: 0/0 Arial; color: #515151;text-align: center;background: url(//www.saraminimage.co.kr/ui/app_promo_nudge/sp/wrap_promoapp_nudge.png) 0 -260px no-repeat;}
.wrap_promoapp_nudge .area_method .market .go_ios{ float: right; background-position: 0 -300px;}
.wrap_promoapp_nudge .area_method .market .go_android_disabled{ background-position: 0 -380px; cursor: default;}
.wrap_promoapp_nudge .area_method .market .go_ios_disabled{ float: right; background-position: 0 -420px; cursor: default;}
.wrap_promoapp_nudge .area_method .market .other_apps{ margin-top: 7px;text-align: right;}
.wrap_promoapp_nudge .area_method .market .other_apps .go_other_apps{ display: inline-block; *display: inline; *zoom: 1; width: 74px; height: 18px; text-align: right; font: 0/1px Arial; color: #FFF;vertical-align: top;background: url(//www.saraminimage.co.kr/ui/app_promo_nudge/sp/wrap_promoapp_nudge.png) -200px -340px no-repeat;}
.wrap_promoapp_nudge .area_method .txt_caution{margin: 8px 0 0;*margin-top:5px; line-height: 16px; font-size: 11px; font-family: dotum, '돋움';color: #888; letter-spacing: -1px;}
.wrap_promoapp_nudge .area_method .txt_caution .check_box{position:relative;top:0;left:0;margin:0;vertical-align:top;}
.wrap_promoapp_nudge .area_method .txt_caution .check_txt{position:relative;display:inline-block;*margin-top:3px;}
.wrap_promoapp_nudge .area_method .txt_caution strong{ font-weight: bold;}
.wrap_promoapp_nudge .wrap_placeholder{ display: inline-block; *display: inline; *zoom: 1;position: relative;}
.wrap_promoapp_nudge .wrap_placeholder .pseudo_placeholder{ position: absolute; top: 50%; left: 9px; margin-top: -7px;line-height: 15px; font-family: dotum, '돋움'; font-size: 13px; color: #AAA;}

/* [모바일 앱 설치 유도]개인화 앱 넛지 스타일#2 */
.tit_promoapp_nudge{ margin: 35px 0 -35px;height: 26px;}
.tit_promoapp_nudge img{ vertical-align: top;}
.wrap_promoapp_nudge2{ overflow: hidden;position: relative;z-index: 0;margin: 35px auto;border-bottom: 1px solid #dfe1e9; width: 100%;height: 151px;text-align: center;background-color: #f4f6fe;box-sizing: border-box;}
.wrap_promoapp_nudge2 .area_app_icon{ display: inline-block; *display: inline; *zoom: 1;position: relative; *margin-right: 4px;height: 150px; text-align: left;}
.wrap_promoapp_nudge2 .area_app_icon .bg_smartphone{ position: relative; z-index: 20;margin-top: -1px;border-top: 1px solid red;width: 190px; height: 151px; background: url(//www.saraminimage.co.kr/ui/app_promo_nudge/sp/promo_app_nudge1.png) 0 -300px no-repeat;box-sizing: border-box;}
.wrap_promoapp_nudge2 .area_app_icon .bg_smartphone .inner{ position: relative; z-index: 10;margin: 45px 15px 0 16px;height: 105px;background-color: #889bff;}
.wrap_promoapp_nudge2 .area_app_icon .bg_smartphone .inner .icon_app,
.wrap_promoapp_nudge2 .area_app_icon .no_bg span{ position: absolute; top: 50%; left: 50%; margin: -35px 0 0 -35px; width: 71px; height: 71px; font: 0/0 Arial; /* background: url(//www.saraminimage.co.kr/ui/app_promo_nudge/sp/icon_app.png) -240px 0 no-repeat; */}
.wrap_promoapp_nudge2 .area_app_icon .bg_smartphone .inner span em,
.wrap_promoapp_nudge2 .area_app_icon .no_bg span em{ visibility: hidden;text-indent: -1000em;}
.wrap_promoapp_nudge2 .area_app_icon .no_bg{ position: relative; margin-right: 14px;width: 71px; height: 150px;}
.wrap_promoapp_nudge2 .area_app_icon .no_bg .icon_app{ margin-top: 40px;}
.wrap_promoapp_nudge2 .area_app_desc{display: inline-block; *display: inline; *zoom: 1;position: relative; margin: 0 4px 0 11px;*margin-right: 8px;/* 초기값은*margin-right: 4px; */ height: 150px;padding: 40px 15px 0 0; text-align: left;vertical-align: top;background: url(//www.saraminimage.co.kr/ui/app_promo_nudge/bg/area_separate.png) 100% 0 no-repeat;box-sizing: border-box;}
.wrap_promoapp_nudge2 .area_app_desc dt{visibility:hidden;position:absolute;left:-9999px;text-indent: -1000em;width:0;height:0;font-size:0;line-height:0;}
.wrap_promoapp_nudge2 .area_app_desc dd{ line-height: 23px; font-family: 'Malgun Gothic', '맑은 고딕', nanumGothic, '나눔고딕';font-size: 17px;color: #333; letter-spacing: -1px;}
.wrap_promoapp_nudge2 .area_app_desc dd.app_name{ margin: 0 0 3px -1px; overflow: hidden; line-height: 28px;font-size: 22px; font-weight: bold;}
.wrap_promoapp_nudge2 .area_app_desc dd.app_name span{display: inline-block; *display: inline; *zoom: 1; margin-top: -2px;vertical-align: top;}
.wrap_promoapp_nudge2 .area_app_desc dd.app_name .btn_install_app{ position: relative; z-index: 100;display: inline-block; *display: inline; *zoom: 1;/* margin: 2px 0 0 2px; */padding-top: 2px;width: 50px; height: 21px; text-align: center; font: 0/2px Arial; color: #fff;vertical-align: top;_vertical-align: middle;background: url(//www.saraminimage.co.kr/ui/app_promo_nudge/sp/promo_app_nudge2.png) -100px 0 no-repeat;box-sizing: border-box;}
.wrap_promoapp_nudge2 .area_app_desc dd strong{ font-weight: normal !important;}
.wrap_promoapp_nudge2 .area_app_desc dd strong.blue{ color: #5b72ec;}
.wrap_promoapp_nudge2 .area_app_desc dd strong.red{ color: #fe6562;}
.wrap_promoapp_nudge2 .area_app_desc dd .go_to_app{ position: absolute; top: 40px; left: 0; width: 100%; height: 73px; text-indent: -1000px; background: url(//www.saraminimage.co.kr/ui/app_promo_nudge/bg/transparent.png) repeat;}
.wrap_promoapp_nudge2 .area_sms{ display: inline-block; *display: inline; *zoom: 1; margin: 17px 0; border-left: 1px solid #e8eaf9;padding-left: 16px;height: 116px; text-align: left; vertical-align: top;box-sizing: border-box;}
.wrap_promoapp_nudge2 .area_sms .wrap_input_sms{ display: inline-block; *display: inline; *zoom: 1;padding-top: 15px !important;}
.wrap_promoapp_nudge2 .area_sms .wrap_input_sms label{ display: block; margin-bottom: 8px;line-height: 18px;font-family: 'Malgun Gothic', '맑은 고딕', nanumGothic, '나눔고딕';font-size: 15px;color: #333;letter-spacing: -1px;}
.wrap_promoapp_nudge2 .area_sms .wrap_input_sms .input_text{ border: 1px solid #bebebe; padding: 0 8px;height: 29px;line-height: 27px; font-family: dotum, '돋움'; font-size: 13px; color: #000;box-sizing: border-box;}
.wrap_promoapp_nudge2 .area_sms .wrap_input_sms .input_text::-webkit-input-placeholder{ color: #AAA;}
.wrap_promoapp_nudge2 .area_sms .wrap_input_sms .input_text::-moz-placeholder{ color: #AAA;}
.wrap_promoapp_nudge2 .area_sms .wrap_input_sms .input_text:-ms-input-placeholder{ color: #AAA;}
.wrap_promoapp_nudge2 .area_sms .wrap_input_sms .input_text::-ms-clear{ display: none;}
.wrap_promoapp_nudge2 .area_sms .wrap_input_sms .btn_submit_sms{ display: inline-block; *display: inline; *zoom: 1; *margin: 1px 0 0 4px;border: 0;width: 78px; height: 29px; vertical-align: top;background: url(//www.saraminimage.co.kr/ui/app_promo_nudge/sp/promo_app_nudge2.png) no-repeat; cursor: pointer;}
.wrap_promoapp_nudge2 .area_sms .wrap_input_sms .btn_submit_sms span{ font: 0/0 Arial; text-indent: -1000em;}
.wrap_promoapp_nudge2 .area_sms .txt_caution{margin: 8px 0 0; line-height: 16px; font-size: 11px; font-family: dotum, '돋움';color: #888; letter-spacing: -1px;}
.wrap_promoapp_nudge2 .area_sms .txt_caution .check_box{position:relative;top:0;left:0;margin:0;vertical-align:top;}
.wrap_promoapp_nudge2 .area_sms .txt_caution .check_txt{position:relative;display:inline-block;*margin-top:3px;}
.wrap_promoapp_nudge2 .remove_bg{ margin-right: 0 !important;padding-right: 0 !important;min-width: initial !important;background: none !important;}
.wrap_promoapp_nudge2 .remove_bg .btn_install_app{ right: 0 !important;}
.wrap_promoapp_nudge2 .wrap_no_bg{ display: inline-block; *display: inline; *zoom: 1;}
.wrap_promoapp_nudge2 .wrap_no_bg .area_app_icon .no_bg{ margin-right: 10px !important;}
.wrap_promoapp_nudge2 .wrap_placeholder{ display: inline-block; *display: inline; *zoom: 1;position: relative;}
.wrap_promoapp_nudge2 .wrap_placeholder .pseudo_placeholder{ position: absolute; top: 50%; left: 9px; margin-top: -7px;line-height: 15px; font-family: dotum, '돋움'; font-size: 13px; color: #AAA;}

/* [모바일 앱 설치 유도]앱 갯수에 따른 스타일 재정의 */
.wrap_promoapp_nudge2 .quantity1 .area_app_desc{ margin-left: 4px; margin-right: 10px;_margin-right: 14px; padding-right: 0; background: none;}
.wrap_promoapp_nudge2 .quantity1 .area_app_desc dd{ word-spacing: -1px;}
.wrap_promoapp_nudge2 .quantity1 .area_app_desc dd.app_name{ word-spacing: 0;}
.wrap_promoapp_nudge2 .quantity1 .area_app_desc dd.app_name span{_margin-top: 2px;}
.wrap_promoapp_nudge2 .quantity1 .area_app_desc dd.app_name .btn_install_app{ margin-top: 3px;}
.wrap_promoapp_nudge2 .quantity1 .area_app_desc dd .go_to_app{ height: 80px;}
.wrap_promoapp_nudge2 .quantity2 .area_app_icon .bg_smartphone{ width: 180px; background-position: 0 -150px;}
.wrap_promoapp_nudge2 .quantity2 .area_app_icon .bg_smartphone .inner{ margin-top: 48px; height: 102px;}
.wrap_promoapp_nudge2 .quantity2 .area_app_desc{ margin-right: 10px;_margin-right: 14px;}
.wrap_promoapp_nudge2 .quantity2 .area_app_desc dd{ line-height: 21px;font-size: 16px;}
.wrap_promoapp_nudge2 .quantity2 .area_app_desc dd.app_name{ line-height: 25px;font-size: 19px;}
.wrap_promoapp_nudge2 .quantity3 .area_app_desc{margin-left: 0;}
.wrap_promoapp_nudge2 .quantity3 .area_app_desc dd{ line-height: 18px;font-size: 15px;}
.wrap_promoapp_nudge2 .quantity3 .area_app_desc dd.app_name{ line-height: 25px;font-size: 19px;}

/* [모바일 앱 설치 유도]통합검색 결과 화면 */
.section_search_promoapp .wrap_promoapp_nudge2{ margin-bottom: 0;}

/* [모바일 앱 설치 유도]폭(width)이 740px 이하일 경우(695px 포함), #cb_wrap은 버티컬 전용 */
#cb_wrap .wrap_promoapp_nudge,
.content_typeb .wrap_promoapp_nudge,
.content_typea .wrap_promoapp_nudge{margin: 35px 0 50px;border: 1px solid #f0f0f0; padding: 88px 10px 10px; background: #f9f9f9 url(//www.saraminimage.co.kr/ui/app_promo_nudge/bg/app_nudge_text.png) 0 34px no-repeat;box-sizing: border-box;}
.content_typea .wrap_promoapp_nudge2 .area_app_icon .no_bg{ margin-right: 8px;}
#cb_wrap .wrap_promoapp_nudge2 .area_app_icon .no_bg, /* #cb_wrap은 버티컬 전용 */
.content_typeb .wrap_promoapp_nudge2 .area_app_icon .no_bg,
.wrap_promoapp_nudge2 .width_695 .area_app_icon .no_bg{ margin-right: 6px;}
#cb_wrap .wrap_promoapp_nudge2 .quantity1 .area_app_icon .bg_smartphone,
.content_typeb .wrap_promoapp_nudge2 .quantity1 .area_app_icon .bg_smartphone,
.wrap_promoapp_nudge2 .width_695 .quantity1 .area_app_icon .bg_smartphone{ width: 180px; background-position: 0 -150px;}
#cb_wrap .wrap_promoapp_nudge2 .quantity1 .area_app_icon .bg_smartphone .inner,
.content_typeb .wrap_promoapp_nudge2 .quantity1 .area_app_icon .bg_smartphone .inner,
.wrap_promoapp_nudge2 .width_695 .quantity1 .area_app_icon .bg_smartphone .inner{ margin-top: 48px; height: 102px;}
#cb_wrap .wrap_promoapp_nudge2 .quantity1 .area_app_desc,
.content_typeb .wrap_promoapp_nudge2 .quantity1 .area_app_desc,
.wrap_promoapp_nudge2 .width_695 .quantity1 .area_app_desc{ margin-right: 8px;_margin-right: 12px;}
#cb_wrap .wrap_promoapp_nudge2 .quantity1 .area_sms,
.content_typeb .wrap_promoapp_nudge2 .quantity1 .area_sms,
.wrap_promoapp_nudge2 .width_695 .quantity1 .area_sms{ padding-left: 14px;}
#cb_wrap .wrap_promoapp_nudge2 .quantity1 .area_sms .input_text,
.content_typeb .wrap_promoapp_nudge2 .quantity1 .area_sms .input_text,
.wrap_promoapp_nudge2 .width_695 .quantity1 .area_sms .input_text{ width: 150px !important;} /* 폭 695px: SMS입력필드의 width 줄이기 */
#cb_wrap .wrap_promoapp_nudge2 .quantity3 .area_app_desc,
.content_typeb .wrap_promoapp_nudge2 .quantity3 .area_app_desc,
.wrap_promoapp_nudge2 .width_695 .quantity3 .area_app_desc,
.content_typea .wrap_promoapp_nudge2 .quantity3 .area_app_desc,
.wrap_promoapp_nudge2 .width_740 .quantity3 .area_app_desc{ margin-right: 8px;_margin-right: 12px; padding-right: 12px;} /* 695 & 740 공통, 3개 */
#cb_wrap .wrap_promoapp_nudge2 .quantity2 .area_app_icon .bg_smartphone,
.content_typeb .wrap_promoapp_nudge2 .quantity2 .area_app_icon .bg_smartphone,
.content_typea .wrap_promoapp_nudge2 .quantity2 .area_app_icon .bg_smartphone,
.wrap_promoapp_nudge2 .width_695 .quantity2 .area_app_icon .bg_smartphone,
.wrap_promoapp_nudge2 .width_740 .quantity2 .area_app_icon .bg_smartphone{ width: 138px; background-position: 0 0;} /* 695 & 740 공통, 2개 */
#cb_wrap .wrap_promoapp_nudge2 .quantity2 .area_app_icon .bg_smartphone .inner,
.content_typeb .wrap_promoapp_nudge2 .quantity2 .area_app_icon .bg_smartphone .inner,
.content_typea .wrap_promoapp_nudge2 .quantity2 .area_app_icon .bg_smartphone .inner,
.wrap_promoapp_nudge2 .width_695 .quantity2 .area_app_icon .bg_smartphone .inner,
.wrap_promoapp_nudge2 .width_740 .quantity2 .area_app_icon .bg_smartphone .inner{ margin: 44px 14px 0; height: 106px;} /* 695 & 740 공통, 2개 */
#cb_wrap .wrap_promoapp_nudge2 .quantity3 .area_app_desc dd.app_name .btn_install_app,
.content_typeb .wrap_promoapp_nudge2 .quantity3 .area_app_desc dd.app_name .btn_install_app,
.content_typea .wrap_promoapp_nudge2 .quantity3 .area_app_desc dd.app_name .btn_install_app,
.wrap_promoapp_nudge2 .width_695 .quantity3 .area_app_desc dd.app_name .btn_install_app,
.wrap_promoapp_nudge2 .width_740 .quantity3 .area_app_desc dd.app_name .btn_install_app{ position: absolute; right: 11px; bottom: 16px; z-index: 100;} /* 695 & 740 공통, 3개 */
#cb_wrap .wrap_promoapp_nudge2 .width_695 .quantity2 .area_app_desc,
.content_typeb .wrap_promoapp_nudge2 .quantity2 .area_app_desc,
.wrap_promoapp_nudge2 .width_695 .quantity2 .area_app_desc{ margin-right: 4px;_margin-right: 6px;margin-left: 5px;padding-right: 0;background: none;} /* 폭 695px, 2개 */
#cb_wrap .wrap_promoapp_nudge2 .width_740 .quantity2 .area_app_desc,
.content_typea .wrap_promoapp_nudge2 .quantity2 .area_app_desc,
.wrap_promoapp_nudge2 .width_740 .quantity2 .area_app_desc{ min-width: 200px;} /* 폭 740px, 3개 */
#cb_wrap .wrap_promoapp_nudge2 .width_740 .quantity3 .area_app_desc,
.content_typea .wrap_promoapp_nudge2 .quantity3 .area_app_desc,
.wrap_promoapp_nudge2 .width_740 .quantity3 .area_app_desc{ margin-right: 13px;*margin-right: 17px;padding-right: 14px;} /* 폭 740px, 3개 */
#cb_wrap .wrap_promoapp_nudge2 .width_740 .quantity3 .area_app_icon .no_bg,
.content_typea .wrap_promoapp_nudge2 .quantity3 .area_app_icon .no_bg,
.wrap_promoapp_nudge2 .width_740 .quantity3 .area_app_icon .no_bg{ margin-right: 7px;} /* 폭 740px, 3개 */
#cb_wrap .wrap_promoapp_nudge2 .width_695 .quantity3 .area_app_desc dd.app_name,
.content_typeb .wrap_promoapp_nudge2 .quantity3 .area_app_desc dd.app_name,
.wrap_promoapp_nudge2 .width_695 .quantity3 .area_app_desc dd.app_name{ letter-spacing: -2px;} /* 폭 695px, 3개 */

/* [모바일 앱 설치 유도]폭(width)이 740px을 초과할 경우 */
.wrap_promoapp_nudge2 .morethan_740 .area_app_desc .app_name .btn_install_app{ margin-top: 3px;}
.wrap_promoapp_nudge2 .morethan_740 .quantity1 .area_app_desc .app_name .btn_install_app{ margin-top: 5px;}
.wrap_promoapp_nudge2 .morethan_740 .quantity1 .area_app_icon{ margin-right: 20px;}
.wrap_promoapp_nudge2 .morethan_740 .quantity1 .area_app_desc{ min-width: 276px;_width: 284px;}
.wrap_promoapp_nudge2 .morethan_740 .quantity1 .area_app_desc .app_name{ margin-bottom: 10px;line-height: 30px;}
.wrap_promoapp_nudge2 .morethan_740 .quantity1 .area_app_desc .app_name span{line-height: 30px;_line-height: 35px;font-size: 27px;}
.wrap_promoapp_nudge2 .morethan_740 .quantity1 .area_sms{ padding-left: 30px; width: 300px;}
.wrap_promoapp_nudge2 .morethan_740 .quantity2 .area_app_desc{ margin-right: 11px;_margin-right: 13px;margin-left: 5px;padding-right: 17px;_padding-right: 15px;min-width: 230px;}
.wrap_promoapp_nudge2 .morethan_740 .quantity2 .area_app_desc dd.app_name span{line-height: 28px;font-size: 22px;}
.wrap_promoapp_nudge2 .morethan_740 .quantity3 .area_app_desc{ margin-right: 10px;padding-right: 12px;min-width: 180px;}
.wrap_promoapp_nudge2 .morethan_740 .quantity3 .area_app_desc dd.app_name span{ letter-spacing: -2px;}
.wrap_promoapp_nudge2 .morethan_740 .quantity3 .area_app_icon{ _margin-right: 0;}
.wrap_promoapp_nudge2 .morethan_740 .quantity3 .area_app_icon .no_bg{ margin-right: 8px;}

/* [모바일 앱 설치 유도]앱 종류별 전용 스타일 */
#NudgeAppOpenRecruit{ background-color: #fefaee;}/* 공채의명가 App */
#NudgeAppOpenRecruit .area_app_icon .bg_smartphone .inner{ background-color: #60c2ff;}
#NudgeAppOpenRecruit .area_app_desc dd.app_name .btn_install_app{ background-position: -100px -60px;}
#NudgeAppOpenRecruit .area_sms .wrap_input_sms .btn_submit_sms{ background-position: 0 -60px;}
#NudgeAppOpenRecruit .area_sms{ border-left-color: #f0ece2;}
#NudgeAppOpenRecruit .area_app_desc dd strong.emphasize{ color: #fe6562;}
#NudgeAppHighschool{ background-color: #edf7ff;}/* 고졸채용 App */
#NudgeAppHighschool .area_app_icon .bg_smartphone .inner{ background-color: #60c2ff;}
#NudgeAppHighschool .area_app_desc dd.app_name .btn_install_app{ background-position: -100px -90px;}
#NudgeAppHighschool .area_sms .wrap_input_sms .btn_submit_sms{ background-position: 0 -90px;}
#NudgeAppHighschool .area_sms{ border-left-color: #d9eeff;}
#NudgeAppHighschool .area_app_desc dd strong.emphasize{ color: #0085f5;}
#NudgeAppEmploymentStudy{ background-color: #ebfbf9;}/* 취업스터디 App */
#NudgeAppEmploymentStudy .area_app_icon .bg_smartphone .inner{ background-color: #8c8c8c;}
#NudgeAppEmploymentStudy .area_app_desc dd.app_name .btn_install_app{ background-position: -100px -120px;}
#NudgeAppEmploymentStudy .area_sms .wrap_input_sms .btn_submit_sms{ background-position: 0 -120px;}
#NudgeAppEmploymentStudy .area_sms{ border-left-color: #cff7f2;}
#NudgeAppEmploymentStudy .area_app_desc dd strong.emphasize{ color: #01ac95;}
#NudgeAppSalaryCalc{ background-color: #f4faeb;}/* 연봉계산기 App */
#NudgeAppSalaryCalc .area_app_icon .bg_smartphone .inner{ background-color: #fff;}
#NudgeAppSalaryCalc .area_app_desc dd.app_name .btn_install_app{ background-position: -100px -30px;}
#NudgeAppSalaryCalc .area_sms .wrap_input_sms .btn_submit_sms{ background-position: 0 -30px;}
#NudgeAppSalaryCalc .area_sms{ border-left-color: #e0f1c8;}
#NudgeAppSalaryCalc .area_app_desc dd strong.emphasize{ color: #689600;}

/* 사람인 코스닥 상장기업, 수상 내역 */
.wrap_grand_info{width: 738px;_width:740px; height: 208px;margin-bottom: 60px; border: 1px solid #cdcdcd;background:#f1f1f1;}
.wrap_grand_info .awards{width:726px;_width:728px;height:196px;margin:5px;border:1px solid #fdfdfd;background:#fff;}
.wrap_grand_info .awards h4{margin:26px 0 29px 0;text-align:center;}
.wrap_grand_info .awards ul{overflow:hidden;height:100px;}
.wrap_grand_info .awards ul li{width:144px;height:100px;padding-left:1px;float:left;background:url('//www.saraminimage.co.kr/product/info/grand_info/border_grand_view.png') no-repeat 0 9px;}
.wrap_grand_info .awards ul li.first{background:none;}

/* 관심기업 추가/해제 버튼 */
button.interested_corp{display: inline-block; *display: inline; *zoom: 1;_overflow: hidden;border: 0;width: 16px; height: 16px;background: url(//www.saraminimage.co.kr/ui/btn/sp_interested_corp.png) 0 1px no-repeat; cursor: pointer; vertical-align: top;}
button.interested_corp span{display:block;_display: inline;overflow:hidden;font-size: 0;text-indent:100%;white-space:nowrap;}
button.interested_on{background-position: -20px 1px;}
button.interested_corp_large{width: 20px; height: 20px; background-position: -40px 1px;}
button.interested_large_on{background-position: -60px 1px;}

/* Tab (검색영역 포함) */
.tab_with_search{position: relative;margin:0 0 10px;width: 100%;}
.tab_with_search .tab{overflow: hidden;width:100%;border-bottom:1px solid #6d82f3;}
.tab_with_search .tab li{float:left;}
.tab_with_search .tab li a{display:block;overflow:hidden;border:1px solid #bebebe; border-width: 1px 1px 0 0;width: 170px;height: 32px;line-height: 32px;_line-height: 34px;color: #555;font-family: dotum, "돋움";text-align:center;background-color: #FFF;box-sizing: border-box;}
.tab_with_search .tab li a.on{position:relative;color:#FFF;margin-bottom:-1px; margin-right: -1px; margin-left: -1px; height: 33px;font-weight:bold; border-color: #6d82f3;background-color:#6d82f3;}
.tab_with_search .tab li a:hover{text-decoration:none;}
.tab_with_search .tab li.first a{border-left-width: 1px;}
.tab_with_search .tab li.first a.on{margin-left: 0;}
.tab_with_search .area_search{position: absolute; top: -2px; right: 0;}
.tab_with_search .area_search .input{ display: inline-block; *display: inline; *zoom: 1; border: 1px solid #e2e3ea;padding: 3px 5px 0;_padding-top: 6px;height: 25px;vertical-align: top;box-sizing: border-box;}
.tab_with_search .area_search .btn_search{ display: inline-block; *display: inline; *zoom: 1;_margin: 1px 0 0 4px;border: 0; border-radius: 3px; width: 40px;height: 25px; line-height: 25px;_line-height: 27px; color: #FFF; font-weight: bold;font-family: gulim, "굴림"; font-size: 12px; text-align: center;background-color: #6d82f3; vertical-align: top; cursor: pointer;}
.tab_with_search .area_search .btn_search span{ display: inline-block; *display: inline; *zoom: 1;overflow: hidden; height: 25px;font-family: dotum, "돋움"; font-size: 12px;}
.tab_with_search .after_search .input{ font-weight: bold;}

/* 채용공고 및 배너상품등에서 사용되는 기업 옵션 아이콘 모음(ex: 인사통, 인담댓글, 히든스타...) */
.wrap_icon_options{min-height:13px;_height:13px;font: 0/0 a;}
.wrap_icon_options span{display: inline-block; *display: inline; *zoom: 1;overflow: hidden;margin-right: 4px;_margin-right: 3px;width: 22px;height: 13px;background: url(//www.saraminimage.co.kr/ui/common/sp_icon_corp.png) no-repeat;vertical-align: top;}
.wrap_icon_options span em{display: inline-block; *display: inline; *zoom: 1;text-indent: -1000em;vertical-align: top;}
.wrap_icon_options span.hiddenstar_power{ width: 51px;background-position: 0 0;}
.wrap_icon_options span.hiddenstar_welfare{ width: 51px;background-position: 0 -15px;}
.wrap_icon_options span.accept_question{ width: 38px;background-position: 0 -30px;}
.wrap_icon_options span.sajin_tong{ width: 31px;background-position: 0 -45px;}
.wrap_icon_options span.insa_tong{ width: 30px;background-position: 0 -60px;}
.wrap_icon_options span.indam_comment{ width: 39px;background-position: 0 -75px;}
.wrap_icon_options span.kospi{ width: 30px;background-position: 0 -90px;}
.wrap_icon_options span.kosdaq{ width: 29px;background-position: 0 -105px;}
.wrap_icon_options span.nemoda{ width: 30px;background-position: 0 -120px;}
.wrap_icon_options span.photo{ width: 23px;background-position: 0 -135px;}
.wrap_icon_options span.sales{ width: 22px;background-position: 0 -150px;}
.wrap_icon_options span.sformoney{ width: 22px;background-position: 0 -165px;}
.wrap_icon_options span.kindness{ width: 22px;background-position: 0 -180px;}

/* 메트로라인 색상, 출처: https://ko.wikipedia.org/wiki/%ED%8B%80:%ED%95%9C%EA%B5%AD_%EC%B2%A0%EB%8F%84_%EB%85%B8%EC%84%A0%EC%83%89 */
.metro_color .kr_01{color: #2ABFD0;} /* 한국철도공사 > 수도권 전철 경의중앙선, 경춘선 */
.metro_color .kr_02{color: #E0A134;} /* 한국철도공사 > 수도권 전철 분당선, 수인선 */
.metro_color .kr_k{color: #204080;} /* KTX */
.metro_color .kr_i{color: #696969;} /* ITX */
.metro_color .kr_s{color: #0080C0;} /* 새마을호 */
.metro_color .kr_m{color: #E06040;} /* 무궁화호 */
.metro_color .kr_n{color: #3D99C2;} /* 누리로 */
.metro_color .sm01{color: #00498B;} /* 서울메트로 1~4호선 */
.metro_color .sm02{color: #009246;}
.metro_color .sm03{color: #F36630;}
.metro_color .sm04{color: #00A2D1;}
.metro_color .sr05{color: #A064A3;} /* 서울특별시도시철도공사 5~8호선 */
.metro_color .sr06{color: #9E4510;}
.metro_color .sr07{color: #5D6519;}
.metro_color .sr08{color: #D6406A;}
.metro_color .s09{color: #8E764B;} /* 서울지하철 9호선 */
.metro_color .ui_u{color: #B7C452;} /* 서울 경전철 우이신설선 */
.metro_color .im01{color: #6E98BB;} /* 인천교통공사 > 인천 도시철도 1호선 */
.metro_color .im_u{color: #FF850D;} /* 인천교통공사 > 의정부 경전철 */
.metro_color .im_m{color: #FFCD12;} /* 인천교통공사 > 인천공항 자기부상철도 */
.metro_color .ka{color: #0066B3;} /* 코레일공항철도 */
.metro_color .ka_a{color: #006D9D;} /* 코레일공항철도 > 인천국제공항철도 */
.metro_color .ka_j{color: #21314B;} /* 코레일공항철도 > 공항직통 */
.metro_color .yl_e{color: #509F22;} /* 용인 경전철 */
.metro_color .sb_s{color: #BB1833;} /* 신분당선 */

/* 툴팁(말풍선) 레이어 */
.wrap_layer_tooltip{display: inline-block;*display: inline;*zoom: 1;position: relative;_z-index: 200;vertical-align: top;}
.layer_tooltip{position: absolute;z-index: 200;border: 1px solid #565960;padding: 10px 10px 10px 10px !important;min-width: 100px;_width: 100px;box-sizing: border-box;}
.layer_tooltip p{margin: 0;white-space: nowrap;}
.layer_tooltip strong{font-weight: bold;}
.layer_tooltip .title{margin-right: 10px;font-weight: bold;color: #606060;}
.layer_tooltip .btn_close_layer{position: absolute;top: 0;right: 0;border: 0;background: none;cursor: pointer;}
.layer_tooltip .btn_close_layer span{display: block;overflow: hidden;white-space: nowrap;text-indent: 100%;}
.layer_tooltip .tooltip_inner{width: 100%;letter-spacing: -1px;}
.layer_tooltip .align_center{text-align: center;}
.layer_tooltip .align_center .title{display: inline-block; *display: inline; *zoom: 1;margin-right: 0;vertical-align: top;}
.layer_tooltip_style1{font-size: 11px !important;font-family: dotum, "돋움" !important;color: #949494;background-color: #fff;}
.layer_tooltip_style1 .tooltip_inner{line-height: 15px;}
.layer_tooltip_style1 .btn_close_layer{width: 19px;height: 19px;background: url(//www.saraminimage.co.kr/ui/layer/button/close_layer_tooltip.png) 50% 50% no-repeat;}
.layer_tooltip_style1 .tail_top,
.layer_tooltip_style1 .tail_top_center,
.layer_tooltip_style1 .tail_top_right,
.layer_tooltip_style1 .tail_bottom,
.layer_tooltip_style1 .tail_bottom_center,
.layer_tooltip_style1 .tail_bottom_right{position: absolute;width: 9px;height: 6px;background: url(//www.saraminimage.co.kr/ui/layer/sp/tooltip_tail_style1.png) 0 -6px no-repeat;}
.layer_tooltip_style1 .tail_top{top: -6px;left: 0;}
.layer_tooltip_style1 .tail_top_center{top: -6px;left: 50%;margin-left: -5px;}
.layer_tooltip_style1 .tail_top_right{top: -6px;right: 0;}
.layer_tooltip_style1 .tail_bottom{bottom: -6px;left: 0;background-position: 0 0;}
.layer_tooltip_style1 .tail_bottom_center{bottom: -6px;left: 50%;margin-left: -5px;background-position: 0 0;}
.layer_tooltip_style1 .tail_bottom_right{bottom: -6px;right: 0;background-position: 0 0;}
.layer_tooltip_style1 .align_center .title{overflow: hidden;height: 15px;line-height: 18px\0;_line-height: 18px;font-size: 11px !important;}

.layer_tooltip_style2{padding:8px 10px 10px !important;border:1px solid #888;background-color:#fff;box-shadow:0px 1px 3px #d8d8d8;color:#888;font-size:12px !important;font-family:Malgun Gothic, "맑은 고딕", dotum, "돋움" !important;}
.layer_tooltip_style2 .tooltip_inner{line-height:15px;}
.layer_tooltip_style2 .tail_top,
.layer_tooltip_style2 .tail_top_center,
.layer_tooltip_style2 .tail_top_right,
.layer_tooltip_style2 .tail_bottom,
.layer_tooltip_style2 .tail_bottom_center,
.layer_tooltip_style2 .tail_bottom_right{position:absolute;width:11px;height:7px;background:url(//www.saraminimage.co.kr/ui/layer/sp/tooltip_tail_style3.png) no-repeat 0 -6px;}
.layer_tooltip_style2 .tail_top{top:-7px;left:0;}
.layer_tooltip_style2 .tail_top_center{top:-7px;left:50%;margin-left:-5px;}
.layer_tooltip_style2 .tail_top_right{top:-7px;right:0;}
.layer_tooltip_style2 .tail_bottom{bottom:-7px;left:0;background-position:0 0;}
.layer_tooltip_style2 .tail_bottom_center{bottom:-7px;left:50%;margin-left:-5px;background-position:0 0;}
.layer_tooltip_style2 .tail_bottom_right{bottom:-7px;right:0;background-position:0 0;}
.layer_tooltip_style2 .align_center .title{overflow:hidden;color:#666;font-size:12px !important;font-weight:normal;line-height:18px\0;_line-height:18px;}

/* 왼쪽 날개 배너 */
.wrap_wingleft{position: absolute;left: -210px !important;top: 14px;width: 190px;height: 255px;background-color: #fff;}
.wrap_wingleft .wrap_list_image{overflow: hidden;position: relative;/*border: 1px solid #e6e6e6;*/width: 190px;height: 255px;}
.wrap_wingleft .wrap_list_image .list_image{width: 1900px;height: 255px;}
.wrap_wingleft .wrap_list_image .list_image li{float: left;width: 190px;height: 255px;}
.wrap_wingleft .wrap_list_image .list_image li a{display: block;}
.wrap_wingleft .wrap_list_image .list_image li a img{vertical-align: top;}
.wrap_wingleft .paging{overflow: hidden;margin-top: 11px;width: 100%;text-align: center;}
.wrap_wingleft .paging a{float: none;display: inline-block;*display: inline;*zoom: 1;margin-right: 0;width: 16px;height: 16px;font-size:0;line-height: 0;color: #FFF;text-align: left;background: url(//www.saraminimage.co.kr/ui/common/btn_leftwing_ctrl.png) 3px 3px no-repeat;vertical-align: top;}
.wrap_wingleft .paging a.on{background-position: 3px -15px;}
.wrap_wingleft_narrow{overflow: hidden;position: absolute; top: 14px; right: auto !important;left: -120px; width: 100px; height: 178px;}
.wrap_wingleft_narrow a{display: block;}
.wrap_wingleft_narrow a img{vertical-align: top;}

/* 오른쪽 날개 배너 */
.narrow-view{right:-120px;}
.wide-view{right:-150px;}
.clone-narrow{top:197px;right:-120px; text-align: center;} /* 분신술 695 */
.clone-wide{top:199px;right:-150px; text-align: center;} /* 분신술 740 */
.main-wide-fixed{z-index:100;position:fixed;left:50%;top:100px !important;margin-left:513px;text-align: center;width:120px;}
.main-fixed{position:fixed;left:50%;top:100px !important;margin-left:513px;text-align: center;width:120px;}
.narrow-fixed{z-index:99;position:fixed;left:50%;top:100px;margin-left:440px;text-align: center;width:120px;}
.wide-fixed{z-index:100;position:fixed;left:50%;top:100px;margin-left:510px;text-align: center;width:120px;}

.wide-view.no-sidebar{right:0px;}
.wide-view.no-sidebar .wide-fixed{z-index:100;position:fixed;left:50%;top:100px;margin-left:360px;text-align: center;width:120px;}

.right-wing{position:absolute;top:14px;width:120px;font-family:Malgun Gothic,"맑은 고딕",NanumGothic,"나눔고딕" !important;text-align:center;}
.right-wing p {margin:0;}
.right-wing .albain-banner{margin-bottom:12px;}
.right-wing .albain-banner a{display: block; height:42px;}
.right-wing .affiliate-banner a{display: block;}
.right-wing .affiliate-banner a img{vertical-align: top;}
.right-wing .google-adsense-right{width:120px; height:600px;}
.right-wing .list_wing_count{margin-top: 13px;}
.right-wing .wing-info-list{margin:0 0 15px; text-align: center; background-color:#fff;}
.right-wing .wing-info-list li{overflow: hidden; width:120px; height:39px; margin-top: -1px; border: 1px solid #e6e6e6; vertical-align: top;box-sizing:border-box;}
.right-wing .wing-info-list .first-child{margin-top: 0;}
.right-wing .wing-info-list .tit{float: left; padding-left: 15px;width:65px; height:37px; text-align: left; font-size: 11px;color: #444; letter-spacing:-1px; box-sizing:border-box;}
.right-wing .wing-info-list .tit .txt{display: inline-block; *display: inline; *zoom: 1;line-height: 14px;font-weight: bold;font-family: Malgun Gothic, "맑은 고딕", NanumGothic, "나눔고딕" !important;}
.right-wing .wing-info-list .one-line{padding-top:10px;}
.right-wing .wing-info-list .two-line{padding-top:3px;}
.right-wing .wing-info-list .data{float: left; padding-right: 11px;width:53px; height:37px; line-height: 37px; font-size: 11px; text-align: right;box-sizing:border-box;}
.right-wing .wing-info-list .data a{color:#ff4d4d !important; letter-spacing: -1px;_cursor: pointer;}
.right-wing .wing-info-list .data a:hover .count-num{text-decoration: underline;}
.right-wing .wing-info-list .count-num{display: inline-block; *display: inline; *zoom: 1;margin-right: -1px; height: 37px;line-height: 34px;line-height: 31px\0;font-size:15px;font-family: Malgun Gothic, "맑은 고딕", NanumGothic, "나눔고딕" !important;font-weight: bold;vertical-align: top;}
.right-wing .wing-info-list .unit{ display: inline-block; *display: inline; *zoom: 1; height: 37px;line-height: 36px;_line-height: 31px;font-size:11px;vertical-align: top;}
.right-wing .bookmark-img{margin-top:10px;}
.right-wing .app-setup{overflow:hidden;position:relative;width:100%;}
.right-wing .app-setup {display: block;}
.right-wing a img{vertical-align: top;}

/* 앱 설치 문자 보내기 레이어 */
.app-setup-layer{z-index:100;display:none;position:absolute;width:409px;border:2px solid #2250a8;background:#fff;box-sizing:border-box;-moz-box-sizing:border-box;}
.app-setup-layer .tit{display:block;overflow:hidden;margin:0;padding:0 0 0 15px;background:#2250a8;color:#fff;font-weight:bold;line-height:35px;text-align:left;}
.app-setup-layer .sms-send-box{overflow:hidden;width:100%;padding:20px 0 20px 30px;box-sizing:border-box;-moz-box-sizing:border-box;}
.app-setup-layer .app-img{float:left;margin-right:8px;}
.app-setup-layer .inner{text-align:left;float:left;}
.app-setup-layer .inner .info-txt{margin-bottom:5px;}
.app-setup-layer .inner input{width:180px;height:23px;padding:3px 8px;line-height:15px;border:2px solid #aaa;color:#000;font-size:12px;font-weight:bold;font-family:'돋움',dotum,sans-serif;box-sizing:border-box;-moz-box-sizing:border-box;vertical-align:top;}
.app-setup-layer .inner img{vertical-align:top;}
.app-setup-layer .inner .desc-txt{margin-top:5px;color:#888;font-size:11px;font-family:'돋움',dotum,sans-serif;}
.app-setup-layer .inner .desc-txt span{font-size:12px;}
.app-setup-layer .btn-layer-closed{position:absolute;top:7px;right:10px;}

/* 로그인 레이어 */
.pop_login_layer {box-sizing:border-box;position:fixed;width:504px;height:405px;left:50%;top:50%;margin-left:-247px;background:#fff;z-index:9999;text-align:left;font-family:'맑은 고딕',dotum,sans-serif;background:url(//www.saraminimage.co.kr/ui/common/bg_shadow.png) 0 0 no-repeat;font-size:12px;}
.pop_login_layer.no_shadow {position:static;width:494px;height:395px;background:none;left:0;top:0;margin:0;}
.pop_login_layer .outer {box-sizing:border-box;padding:42px 50px 0 50px;width:494px;height:395px;border:1px solid #666666;position:relative;background:#fff;}
.pop_login_layer.no_shadow .outer {border:1px solid #fff;}
.pop_login_layer .inner {width:392px;}
.pop_login_layer legend {display:block;position:relative;text-align:center;font-size:20px;font-weight:bold;color:#444;letter-spacing:-2px;font-family:'맑은 고딕',dotum,sans-serif;width:392px;height:auto;line-height:inherit;text-indent:0 !important;visibility:visible;left:auto !important;}
.pop_login_layer legend strong {color:#425ad4;}

.pop_login_layer .setting:after {content: "."; display: block; height: 0px; clear: both; visibility: hidden;}
.pop_login_layer .setting {position:relative;margin-top:28px;margin-bottom:7px;height:20px;line-height:20px;display: inline-block;}
.pop_login_layer .setting {display: block;}
* html .pop_login_layer .setting {height: 1%;}
.pop_login_layer .setting { zoom:1; }
.pop_login_layer .setting label {float:left;display:block;letter-spacing:-1px;height:16px;line-height:16px;color:#666;vertical-align:top;margin-right:15px;font-family:'맑은 고딕',dotum,sans-serif;}
.pop_login_layer .setting input {float:left;display:block;vertical-align:top;margin-top:3px;*margin-top:-1px;margin-right:5px;font-family:'맑은 고딕',dotum,sans-serif;}
.pop_login_layer .setting .dsc_ly {display:block;position:absolute;bottom:30px;left:-12px;*left:-8px;z-index:10;width:272px;height:55px;}
.pop_login_layer .setting .dsc_ly .btn_ly_close {display:block;position:absolute;top:0;right:0;width:17px;height:17px;background:url(//www.saraminimage.co.kr/ui/common/btn_login_ly_close.png) 50% 50% no-repeat;border:0 none;cursor:pointer;text-indent:-100%;*text-indent:0;white-space:nowrap;overflow:hidden;font-size:0;line-height:0;text-shadow:none;color:transparent;}
.pop_login_layer .setting .dsc_ly .dsc_arr {display:block;position:absolute;top:53px;left:12px;width:13px;height:8px;background:url(//www.saraminimage.co.kr/ui/common/btn_login_ly_arr.png) 0 0 no-repeat;line-height:normal;}
.pop_login_layer .setting .dsc_ly .dsc_txt {margin:0;padding:6px 10px 7px;line-height:20px;background-color:#fff;border:1px solid #bababa;font-size:11px;color:#888;letter-spacing:-1px;}
.pop_login_layer .setting .dsc_ly .dsc_txt strong {font-weight:normal;color:#555;}
.pop_login_layer .setting .ssl_login_box {float:left;box-sizing:border-box;position:relative;display:block;overflow:hidden;padding-right:33px;width:60px;height:20px;line-height:16px;font-size:12px;color:#666;vertical-align:top;font-family:'맑은 고딕',dotum,sans-serif;}
.pop_login_layer .setting .ssl_login_hide {position:absolute;top:-25px;left:0;z-index:-1;width:0;height:0;line-height:0;}
.pop_login_layer .setting .ssl_login_box .label_type {position:absolute;top:2px;right:0;display:block;width:29px;height:16px;background:url(//www.saraminimage.co.kr/ui/common/btn_autologin2_off.png) 0 0 no-repeat;text-indent:-9999px;cursor:pointer;margin:0;padding:0;vertical-align:top;}
.pop_login_layer .setting .ssl_login_box .label_type.on {background:url(//www.saraminimage.co.kr/ui/common/btn_autologin2_on.png) 0 0 no-repeat;}
.pop_login_layer .login-form {position:relative;width:392px;height:85px;}
.pop_login_layer .login-form label{position:absolute;top:0;left:0;box-sizing:border-box;padding:8px 20px;width:294px;height:40px;line-height:23px;margin:0;color: #959595;font-family:'맑은 고딕',dotum,sans-serif;font-size: 14px;font-weight: bold;z-index:2;}
.pop_login_layer .login-form input {position:absolute;box-sizing:border-box;padding:8px 20px;width:293px;height:40px;line-height:23px;margin:0;border:none;font-family:'맑은 고딕',dotum,sans-serif;font-weight: bold;font-size: 14px;color: #444;letter-spacing: 0;background-color: transparent;outline:0;z-index:1;}
.pop_login_layer .login-form .id-input-box{box-sizing:border-box;position:absolute;left:0;top:0;width:294px;height:43px;border-left:1px solid #cdcdcd;border-top:1px solid #cdcdcd;border-bottom:1px solid #e4e4e4;}
.pop_login_layer .login-form .pw-input-box{box-sizing:border-box;position:absolute;left:0;top:43px;width:294px;height:42px;border-left:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd;}
.pop_login_layer .login-form .btn-login {position:absolute;left:294px;top:0;width:98px;height:85px;border:none;color:#fff;background:#6b80f1;font-family:'맑은 고딕',dotum,sans-serif;font-size:16px;font-weight:bold;cursor:pointer;}
.pop_login_layer .signup-forgotten {overflow:hidden;margin:18px 0 29px;position:relative;width:100%;height:16px;;font-family:'맑은 고딕',dotum,sans-serif;font-size:13px;letter-spacing:-1px;}
.pop_login_layer .signup-forgotten .sign-up {float:left;margin-right:10px;color:#666;font-weight:bold;text-decoration:none;}
.pop_login_layer .signup-forgotten .forgotten {float:left;color:#666;text-decoration:none;}
.pop_login_layer .signup-forgotten span {float:left;position:relative;margin-right:8px;width:1px;height:16px;background:url(//www.saraminimage.co.kr/ui/common/bg_vline.png) no-repeat 0 50%;padding:0;line-height:16px;display:block;font-size:0;zoom:1;}
.pop_login_layer .signup-forgotten .service_info_txt{position:absolute;right:0;}
.pop_login_layer .signup-forgotten .service_info_txt img {vertical-align:top;margin-left:6px;margin-top:2px;}
.pop_login_layer .signup-forgotten .service_info_txt:hover{color:#555;}
.pop_login_layer .social_login_layer{display:inline-block;*display:inline;zoom:1;width:100%;}
.pop_login_layer .social_login_layer:after{content:'';clear:both;display:block;}
.pop_login_layer .social_login_layer li {position:relative;display:block;zoom:1;float:left;width:50%;height:38px;background-color:#fff;box-sizing:border-box;margin-bottom:6px;}
.pop_login_layer .social_login_layer a {display:block;zoom:1;height:38px;border:1px solid #dddddd;padding-left:50px;font-family:"맑은 고딕", sans-serif;font-size:12px;color:#666;letter-spacing:-1px;line-height:34px;*line-height:36px;box-sizing: border-box;text-decoration:none;}
.pop_login_layer .social_login_layer .sl_naver{background:url('//www.saraminimage.co.kr/ui/social_login/icon_sns_naver_m.png') 20px 12px no-repeat;margin-right:3px;}
.pop_login_layer .social_login_layer .sl_facebook{background:url('//www.saraminimage.co.kr/ui/social_login/icon_sns_facebook_m.png') 22px 9px no-repeat;margin-left:3px;}
.pop_login_layer .social_login_layer .sl_kakao{background:url('//www.saraminimage.co.kr/ui/social_login/icon_sns_kakao_m.png') 17px 9px no-repeat;margin-right:3px;}
.pop_login_layer .social_login_layer .sl_google{background:url('//www.saraminimage.co.kr/ui/social_login/icon_sns_google_m.png') 18px 9px no-repeat;margin-left:3px;}

.pop_login_layer .pop_login_layer_close {position:absolute;top:0;right:0;border:0;width:43px;height:43px;text-indent:-100%;*text-indent:0;white-space:nowrap;overflow:hidden;font-size:0;line-height:0;text-shadow:none;color:transparent;background:url(//www.saraminimage.co.kr/ui/common/btn_login_close.png) no-repeat 50% 50%;cursor:pointer;}
.pop_login_layer .login-form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
.pop_login_layer_local {width:494px;height:278px;background:none;-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);}
.pop_login_layer_local .outer {height:278px;}
.pop_login_layer_local .signup-forgotten {margin-bottom:0;}

/* WMG-9514 start */
#srch_wrap input[type='text'] {font-family: Malgun Gothic, "맑은 고딕", dotum, sans-serif !important;}
#header .quick-search {box-sizing:border-box;width:600px;border:2px solid #425bd5;background:#fff;position:absolute;top:-1px;left:0;text-align:left;z-index:910;letter-spacing:-1px;}  /* differ */
#header .quick-search h4 {margin:0;padding:0;font-family: Malgun Gothic, "맑은 고딕", dotum, sans-serif !important;}
#header .quick-search p {margin:0;padding:0;font-family: Malgun Gothic, "맑은 고딕", dotum, sans-serif !important;}
#header .quick-search a {text-decoration:none;font-family: Malgun Gothic, "맑은 고딕", dotum, sans-serif !important;}
#header .quick-lists {height:258px;box-sizing:border-box;}
#header .quick-lists .list-keyword {box-sizing:border-box;width:155px;height:258px;border-right:1px solid #ddd;position:absolute;top:0;left:0;overflow-x:hidden;overflow-y:auto;_display:inline;}
#header .quick-lists .list-keyword h4 {font-size:12px;height:15px;line-height:15px;padding:10px 0 0 9px;font-weight:normal;color:#888;font-family: Malgun Gothic, "맑은 고딕", dotum, sans-serif;}
#header .quick-lists .list-keyword li {background-color:#fff;display:block;height:25px;line-height:25px;position:relative;box-sizing:border-box;width:100%;padding:0 9px;font-size:13px !important;font-family: Malgun Gothic, "맑은 고딕", dotum, sans-serif;_display:inline;}
#header .quick-lists .list-keyword .list-keyword-recent li {padding-right:25px;}
#header .quick-lists .list-keyword li.on {background-color:#f0f0f0;}
#header .quick-lists .list-keyword li.current {background-color:#f0f0f0;}
#header .quick-lists .list-keyword li.last {border-bottom:1px solid #eee;padding-bottom:3px;height:28px;}
#header .quick-lists .list-keyword li a {display:block;width:100%;color:#444;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:13px !important;}
#header .quick-lists .list-keyword li strong {font-weight:bold;color:#425bd5;}
#header .quick-lists .list-keyword li button.btn_delete {display:block;position:absolute;top:0;right:0;width:25px;height:25px;background:url(//www.saraminimage.co.kr/ui/common/header/btn_close_7x7.gif) 50% 50% no-repeat;border:none;cursor:pointer;}
#header .quick-lists .list-recruitment {width:441px;height:258px;position:absolute;top:0;left:155px;overflow-x:hidden;overflow-y:auto;}
#header .quick-lists .list-recruitment li {display:block;background:#fff;border-bottom:1px solid #eee;position:relative;box-sizing:border-box;width:100%;height:75px;padding:9px 56px 10px 116px;font-family: Malgun Gothic, "맑은 고딕", dotum, sans-serif;margin:0;_display:inline;}
#header .quick-lists .list-recruitment li.more {height:112px;border-bottom:none;padding:0;text-align:center;}
#header .quick-lists .list-recruitment li.more em {font-style:normal !important;}
#header .quick-lists .list-recruitment li.more p {text-align:center;line-height:18px;padding:17px 0 7px 0;font-family: Malgun Gothic, "맑은 고딕", dotum, sans-serif;font-size:13px;}
#header .quick-lists .list-recruitment li.more p strong {font-weight:bold;color:#425bd5;}
#header .quick-lists .list-recruitment li.more a.btn_more {display:block;width:135px;height:27px;line-height:25px;background:#6b80f1;color:#fff;margin:0 auto;border:none;padding:0;position:relative;top:0;left:0;cursor:pointer;}
#header .quick-lists .list-recruitment li.on {background:#f0f0f0;}
#header .quick-lists .list-recruitment li a.logo {width:94px;height:46px;display:block;position:absolute;top:12px;left:10px;background:#fff;cursor:pointer;}
#header .quick-lists .list-recruitment li a.logo img {width:84px;height:32px;display:block;position:absolute;top:7px;left:5px;}
#header .quick-lists .list-recruitment li a.logo span {padding:0 5px;width:84px;height:46px;line-height:46px;text-align:center;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:13px;font-weight:bold;color:#555;}
#header .quick-lists .list-recruitment li a.scrap {width:43px;height:18px;display:block;position:absolute;top:25px;right:8px;cursor:pointer;}
#header .quick-lists .list-recruitment li a.scrap img {width:43px;height:18px;display:block;}
#header .quick-lists .list-recruitment li a.link {display:block;height:54px;color:#666;font-size:12px;cursor:pointer;}
#header .quick-lists .list-recruitment li a.link span.subject {margin-top:1px;font-size:13px;color:#444;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;width:100%;font-family: Malgun Gothic, "맑은 고딕", dotum, sans-serif !important;font-weight:normal !important;}
#header .quick-lists .list-recruitment li a.link span.subject strong {font-weight:bold !important;color:#425bd5 !important;}
#header .quick-lists .list-recruitment li a.link span.corp {text-overflow:ellipsis;white-space:nowrap;overflow:hidden;width:100%;}
#header .quick-lists .list-recruitment li a.link span.corp strong {font-weight:bold !important;color:#425bd5 !important;}
#header .quick-lists .list-recruitment li a.link span.meta {color:#ebebeb;font-size:11px;letter-spacing:-1px;}
#header .quick-lists .list-recruitment li a.link span.meta em {color:#888;font-style:normal;}
#header .quick-lists .list-recruitment li span {line-height:18px;height:18px;display:block;}
#header .quick-lists .list-recruitment li span.dday {width:56px;font-size:11px;position:absolute;top:46px;right:0;text-align:center;}
#header .quick-lists .list-recruitment li span.dday.final {color:#fe1c1c;}
#header .quick-lists .list-recruitment .no-result {padding-top:110px;line-height:22px;color:#333;font-family: Malgun Gothic, "맑은 고딕", dotum, sans-serif;font-size:14px;text-align:center;letter-spacing:-1px;}
#header .quick-lists .list-recruitment .no-result strong {font-weight:bold;color:#425bd5;}
#header .quick-links {padding-left:74px;height:94px;position:relative;border-top:#ddd 1px solid;}
#header .quick-links h4 {position:absolute;left:10px;top:9px;color:#777777;font-weight:bold;height:24px;line-height:24px;font-family: Malgun Gothic, "맑은 고딕", dotum, sans-serif;font-size:13px;}
#header .quick-links ul {padding:9px 0 13px 0;}
#header .quick-links ul li {height:24px;line-height:24px;font-family: Malgun Gothic, "맑은 고딕", dotum, sans-serif;font-size:13px;letter-spacing:-1px;}
#header .quick-links ul li a.fcy:link, #header .quick-links ul li a.fcy:visited {color:#777;}
#header .quick-links ul li a.fcy:hover, #header .quick-links ul li a.fcy:active {color:#444;text-decoration:underline;}
#header .quick-links ul li a.fcy:hover strong, #header .quick-links ul li a.fcy:active strong {text-decoration:underline;}
#header .quick-links ul li a strong {font-weight:bold;color:#425bd5;}
#header .quick-utils {height:30px;border-top:1px solid #eee;background:#fafafa;position:relative;}
#header .quick-utils a {display:block;height:30px;line-height:30px;position:absolute;top:0;font-family:dotum, sans-serif;font-size:11px;letter-spacing:-1px;color:#777;cursor:pointer;}
#header .quick-utils a:hover, #header .quick-utils a:active {text-decoration:none;}
#header .quick-utils a.btn_onoff {left:0;width:81px;text-align:center;color::#777;text-decoration:none !important;}
#header .quick-utils a.btn_onoff strong {font-weight:normal;text-decoration:none !important;}
#header .quick-utils a.btn_onoff strong.btn_on {display:inline-block;}
#header .quick-utils a.btn_onoff strong.btn_off {display:none;}
#header .quick-utils a.btn_close {right:0;width:52px;background:url(//www.saraminimage.co.kr/ui/common/header/btn_close_7x7.gif) 25px 2px no-repeat;}
#header .quick-utils a.btn_close span {display:block;padding-right:23px;text-align:right;height:30px;line-height:30px;}
#header .quick-guide {display:none;height:130px;}
#header .quick-guide p {line-height:22px;padding-top:45px !important;font-family: Malgun Gothic, "맑은 고딕", dotum, sans-serif;font-size:13px;letter-spacing:-1px;text-align:center;}
#header .quick-guide a {font-weight:bold;color:#6b80f1;text-decoration:underline !important;}
#header .quick-search.off {width:406px;height:165px;} /* differ */
#header .quick-search.off .quick-guide {display:block;}
#header .quick-search.off .quick-lists {display:none;}
#header .quick-search.off .quick-links {display:none;}
#header .quick-search.off .quick-utils a.btn_onoff strong {color:#425bd5;}
#header .quick-search.off .quick-utils a.btn_onoff strong.btn_on {display:none;}
#header .quick-search.off .quick-utils a.btn_onoff strong.btn_off {display:inline-block;}
/* WMG-9514 end */