@charset "UTF-8";
/* SARAMIN design team HYB 20111004 */
body{margin:0;padding:0;font-family:'굴림',Gulim,AppleGothic,sans-serif;text-align:left}
div,ul,ol,li,dl,dt,dd,p,input,textarea,select,h1,h2,h3,h4,h5,em,address,fieldset,form,iframe,object,menu,button{margin:0;padding:0}
div,ul,ol,dl,p,td,input,textarea,select{color:#444;font-family:'굴림',Gulim,AppleGothic,sans-serif;font-size:12px;font-weight:normal}
img,fieldset,iframe{border:none}
menu,ul,ol,li{list-style:none}
img,input,select,textarea{vertical-align:top}
hr{display:none}
em,address{font-style:normal}
a{text-decoration:none}
a:hover{text-decoration:underline}
button{border:0;background:none;cursor:pointer}
#accessibility,.hide{visibility:hidden;overflow:hidden;position:absolute;left:-1000em;width:0;height:0;font-size:0;line-height:0}
/*a:focus,input:focus,button:focus,textarea:focus{outline:3px solid #8bb31f}*/
/*header,hgroup,article,nav,footer,figure,figcaption,canvas,section{display:block} */

/* selecter */
.ipad input[type=text],input[type=image],button,input[type=button],textarea{-webkit-appearance:none;-webkit-text-size-adjust:none;-webkit-border-radius:0}
.bar{display:inline-block;height:11px;width:1px;margin:-1px 10px 1px 11px;vertical-align:middle;background:url("//www.saraminimage.co.kr/total_search/l_bar.gif") no-repeat 100% 0px}
.ir span{display:block;position:relative;z-index:-1;height:11px;font-size:11px;color:#444;overflow:hidden;padding-bottom:1px;}
.txt-inline{display:inline}
.txt-block{display:block}
.clear{clear:both}
.fl{float:left}
.fr{float:right}
.main-color{color:#0000cc}
.sub-color{color:}
.point-color{color:#ff4800}
a.ir:hover{text-decoration:none}
