@charset "EUC-KR";

.narae-normal-box.sub-opn .type1 {top: 0;}
strong{font-weight: bold;}
.normal dt{z-index:5}
.bar {display: inline-block;height: 11px;width: 1px;margin: -1px 4px 1px 0;vertical-align: middle;background: url("http://images.saramin.co.kr/total_search/l_bar.gif") no-repeat 100% 0px;}

.noti-top{border:1px solid #c5d4f6}
.noti-top ul{margin:15px 0 10px 15px}
.noti-top li{background:url(http://images.saramin.co.kr/service/smart/bu_noti_top.png) no-repeat 0 4px;padding:0 0 5px 7px}
.cart-list{margin-top:25px}
.rct-prodc-list{height:170px;border-top:1px solid #c5d4f6;border-left:1px solid #c5d4f6;border-bottom:1px solid #c5d4f6;margin:5px 0 10px 0;zoom:1}
.rct-prodc-list:after{display:block;visibility:hidden;clear:both;height:0;font-size:0;line-height:0;content:'.'}
#content .tit-rct{height:105px;_height:178px;width:200px;color:#4f637d;font-weight:bold;padding-top:65px;text-align:center;float:left;border-right:1px solid #c5d4f6;background:#eff4ff}
.preview{float:left;width:417px;_width:415px;height:155px;_height:178px;padding:12px 0 0 12px;}
.preview{float:left;width:417px;_width:415px;height:155px;_height:178px;padding:12px 0 0 12px;}
#content .btn-last{height:105px;_height:178px;width:107px;_width:110px;padding-top:65px;text-align:center;float:left;border-right:1px solid #c5d4f6;border-left:1px solid #c5d4f6}
.txt-preview{font-weight:bold;color:#4f637d;margin-bottom:5px}
#extract .normal dl{border:1px solid #ef9241;width:157px;height:105px;margin:0 -1px -1px 0}
#extract .normal dt{width:157px;height:39px}
#extract .normal dd{background:#fffaf1;width:150px;_width:157px;height:37px;_height:59px;padding:24px 0 0 7px;line-height:17px}
#extract a:hover{color:#E68B29 !important}
#extract .normal strong{bottom:-23px;font-weight:bold}
#extract dd{line-height:17px}
#extract .normal .day {top: 51px;_top: 48px;}
#extract .normal .end{width:156px}
#extract .normal .day img{_vertical-align:-3px;vertical-align:-1px}
#extract{border-color:#dddddd}
.ending{border-color:#dddddd}
#content .ending .tit-rct{background:#f7f7f7;border-color:#dddddd;color:#666}
#content .ending .txt-preview{color:#666}
#content .ending .btn-last{border-color:#dddddd}
#narae{}
.narrow-view{top:210px;}

/* 나래 상품 */
.narae_list {border-top:2px solid #5C5C5C;margin:0;width:320px;}
.narae_list .ir {display:block;text-indent:-9999em;width:1px; height:1px; font-size:0; line-height:0; position:absolute; top:0; left:-1000%; overflow:hidden;}
.narae_list dl {position: relative;width:203px;*width:320px;height:68px;padding-left: 117px;}
.narae_list .logo {position: absolute;left:0;top:0;width:97px;height:45px;padding:11px 10px;text-align:center;background:#f7f7f7;}
.narae_list .logo span,
.narae_list .logo div {display:block;height:32px;padding:6px 11px 5px 10px;border:1px solid #eaeaea;background:#fff;line-height:32px;}
.narae_list .cop_info {padding:8px 0 10px 12px;}
.narae_list .cop_info p {position: relative;display:block;padding: 0;margin: 0;text-align:left;}
.narae_list .cop_info p img {vertical-align:middle;}
.narae_list .cop_info p a {position: absolute;right:13px;top:0;}
.narae_list .cop_info p input {width:120px;}
.narae_list .date {position: absolute;left:129px;top:46px;font-size:11px;font-family:tahoma,dotum,sans-serif;}
.narae_list .date span {color:#888;}
.narae_list .btn_area {position: absolute;right:13px;top:46px;}
.narae_list .btn_area span {display:inline-block;*margin-left:3px;vertical-align:top;}
.narae_list .btn_apply {margin-top: 2px;width:40px;height:13px;background:url(//www.saraminimage.co.kr/ui/main/product/ico_volunteer2.png) no-repeat 0 0;}
.narae_list .btn_scrap {width:21px;height:17px;background:url(//www.saraminimage.co.kr/common/bul_sri_star.png) no-repeat 50% 0;}
.narae_list .btn_scrap.on {width:21px;height:17px;background:url(//www.saraminimage.co.kr/common/bul_sri_star_on.png) no-repeat 50% 0;}

/* 으뜸 상품 */
.best_list {margin:0;width:187px;}
.best_list .ir {display:block;text-indent:-9999em;width:1px; height:1px; font-size:0; line-height:0; position:absolute; top:0; left:-1000%; overflow:hidden;}
.best_list dl {position: relative;width:185px;height:119px;background:#fff;border: 1px solid #66bd0a;}
.best_list .logo {height:32px;padding:8px 0 8px;text-align:center;background:#fff;line-height:32px;}
.best_list .logo span,
.best_list .logo div {line-height:32px;}
.best_list .cop_info {padding:0px 0 10px 10px;}
.best_list .cop_info p {position: relative;display:block;line-height:18px;margin: 0;padding: 0;text-align:left;}
.best_list .cop_info p img {vertical-align:middle;}
.best_list .cop_info p a {position: absolute;right:13px;top:0 !important;}
.best_list .cop_info p input {width:120px;}
.best_list .date {position: absolute;left:10px;top:91px;font-size:11px;font-family:tahoma,dotum,sans-serif;color:#888;}
.best_list .date. span {color:#fd5e6f !important;}
.best_list .btn_area {position: absolute;right:8px;top:91px;text-align:right;}
.best_list .btn_area span {display:inline-block;*margin-left:3px;vertical-align:top;}
.best_list .btn_apply {margin-top: 2px;width:40px;height:13px;background:url(//www.saraminimage.co.kr/ui/main/product/ico_volunteer2.png) no-repeat 0 0;}
.best_list .btn_scrap {width:21px;height:17px;background:url(//www.saraminimage.co.kr/common/bul_sri_star.png) no-repeat 50% 0;}
.best_list .btn_scrap.on {width:21px;height:17px;background:url(//www.saraminimage.co.kr/common/bul_sri_star_on.png) no-repeat 50% 0;}

/* 알짜 상품*/
.extract_list .ir {display:block;text-indent:-9999em;width:1px; height:1px; font-size:0; line-height:0; position:absolute; top:0; left:-1000%; overflow:hidden;}
.extract_list dl {position: relative;width:159px;height:116px;background:#fff;border: 1px solid #F4BE49;}
.extract_list .logo {height:32px;padding:8px 0 8px;text-align:center;background:#fff;line-height:32px;}
.extract_list .cop_info {padding:8px 0 10px 7px;text-align:left;}
.extract_list .cop_info p {position: relative;display:block;line-height:18px;margin: 0;padding: 0;}
.extract_list .cop_info p img {vertical-align:middle;}
.extract_list .cop_info p a {position: absolute;right:13px;top:0 !important;}
.extract_list .cop_info p input {width:105px;}
.extract_list .date {position: absolute;left:10px;top:91px;font-size:11px;font-family:tahoma,dotum,sans-serif;color:#888;}
.extract_list .date. span {color:#fd5e6f !important;}
.extract_list .btn_area {position: absolute;right:8px;top:91px;text-align:right;}
.extract_list .btn_area span {display:inline-block;*margin-left:3px;vertical-align:top;}
.extract_list .btn_apply {margin-top: 2px;width:40px;height:13px;background:url(//www.saraminimage.co.kr/ui/main/product/ico_volunteer2.png) no-repeat 0 0;}
.extract_list .btn_scrap {width:21px;height:17px;background:url(//www.saraminimage.co.kr/common/bul_sri_star.png) no-repeat 50% 0;}
.extract_list .btn_scrap.on {width:21px;height:17px;background:url(//www.saraminimage.co.kr/common/bul_sri_star_on.png) no-repeat 50% 0;}

/* 상품등록 관련 */
li.prd_reg{color:#4f637d;margin-bottom:10px;border:1px solid #c5d4f6;overflow:hidden;height:1%}
li.prd_reg strong{font-weight:bold !important}
li.prd_reg .tit_reg{float:left;width:180px;height:140px;color:#4f637d;text-align:center;background:#eff4ff;border-right:1px solid #c5d4f6}
li.prd_reg .tit_reg strong{display:block;font-weight:bold;margin-top:55px;margin-bottom:5px}
li.prd_reg .prv_reg{float:left;width:404px;height:140px;border-right:1px solid #c5d4f6}
li.prd_reg .prv_reg .txt{padding-bottom:10px;margin:15px 0 0 20px}
li.prd_reg .prv_reg dl {height: 85px;padding: 0 3px;margin: 0 10px 0 20px;border-top: 1px solid #D8D8D8;border-bottom: 1px solid #D8D8D8;}
li.prd_reg .prv_reg dl dt, li.prd_reg .prv_reg dl dd{float:left;margin-top:10px}
li.prd_reg .prv_reg dl dt{width:136px;height:64px;line-height:39px;text-align:center;background:url(//www.saraminimage.co.kr/service/smart/bg_preg_logo_thumb_20121211.gif) no-repeat 0 0;position:relative}
li.prd_reg .prv_reg dl dt strong{display:block;width:100%;height:25px;line-height:25px;text-align:center;color:#fff;position:absolute;bottom:0;left:0}
li.prd_reg .prv_reg dl dt strong a{color:#fff !important}
li.prd_reg .prv_reg dl dd{width:163px;letter-spacing:-0.05em;padding-left:7px;margin-top:18px}
li.prd_reg .prv_reg dl dd p{font-size:11px;color:#999;letter-spacing:-0.1em;margin-bottom:3px}
li.prd_reg .prv_reg dl dd p.tit{font-size:12px;color:#444}
li.prd_reg .prv_reg dl dd p img{vertical-align:-3px}
li.prd_reg .btn_reg{float:right;width:104px;text-align:center;padding-top:58px;border:none;}

/* 상품등록 관련 기존 마크업 수정 */
li.prd_reg_off{color:#4f637d;margin-bottom:10px;border:1px solid #ddd;overflow:hidden;height:1%}
li.prd_reg_off strong{font-weight:bold !important}
li.prd_reg_off .tit_reg{float:left;width:162px;height:160px;color:#4f637d;text-align:center;background:#f7f7f7;border-right:1px solid #ddd}
li.prd_reg_off .tit_reg strong{display:block;font-weight:bold;margin-top:65px;margin-bottom:5px}
li.prd_reg_off .prv_reg{float:left;width:420px;height:160px;border-right:1px solid #ddd}
li.prd_reg_off .prv_reg .txt{width:378px;padding-bottom:10px;margin:15px 0 0 20px}
li.prd_reg_off .prv_reg .ods_cont{display:block;color:#444;margin-left:20px;position:relative}
li.prd_reg_off .btn_reg{float:right;width:109px;text-align:center;padding-top:70px;border:none;}
li.prd_reg_off .prv_reg .ods_cont .txt_area{position:relative;line-height:16px;padding:5px}
li.prd_reg_off .prv_reg .ods_cont .txt_area strong{display:block}
li.prd_reg_off .prv_reg .ods_cont .txt_area .day{position:absolute;top:5px;right:5px}
.txt_area{position:relative;line-height:16px;padding:5px}
.txt_area img, .txt_area input{vertical-align:middle}

li.prd_reg_off .prv_reg .ods01{width:180px;border:1px solid #6aa84b}
li.prd_reg_off .prv_reg .ods01 .logo_area{height:50px;text-align:center;line-height:50px;background:white}
li.prd_reg_off .prv_reg .ods01 .txt_area{background:#f1fde3}
li.prd_reg_off .prv_reg .ods02{border:2px solid #ef9241}
li.prd_reg_off .prv_reg .ods03{width:314px;height:70px;margin-top:15px;background:url(//www.saraminimage.co.kr/job/narea_bg.png) no-repeat 0 0;border:1px solid #6187e0}
li.prd_reg_off .prv_reg .ods03 .logo_area{height:42px;text-align:center;line-height:42px}
li.prd_reg_off .prv_reg .ods03 .txt_area{display:block;height:20px;color:#273793;text-align:center;line-height:20px}
li.prd_reg_off .prv_reg .ods03 .txt_area strong{font-weight:normal !important}
li.prd_reg_off .prv_reg .ods04{width:180px;border:1px solid #ef9241}
li.prd_reg_off .prv_reg .ods04 .logo_area{height:50px;text-align:center;line-height:50px;background:white}
li.prd_reg_off .prv_reg .ods04 .txt_area{background:#fffaf1}

li.prd_reg_off .prv_reg em{font-style:normal;font-size:11px}
li.prd_reg_off .int01{vertical-align:middle}

/* 상품 적용하기 */
.prv_apl_reg {width:330px;height:83px;background:#fff;border-top:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;overflow:hidden}
.prv_apl_reg dl{width:500px;margin:10px 0 10px 3px}
.prv_apl_reg dl dt, .prv_apl_reg dl dd{float:left}
.prv_apl_reg dl dt{width:136px;height:64px;text-align:center;margin-right:8px;background:url(//www.saraminimage.co.kr/service/smart/bg_preg_logo_thumb_20121211.gif) no-repeat 0 0;position:relative}
.prv_apl_reg dl dt .logo_area{width:100%;height:39px;line-height:39px;padding:0;margin:0}
.prv_apl_reg dl dt .logo_area img{display:inline}
.prv_apl_reg dl dt .logo_area img, .prv_apl_reg dl dt span a{vertical-align:middle}
.prv_apl_reg dl dt strong{display:block;width:100%;color:#fff;margin-top:7px}
.prv_apl_reg dl dd{margin-top:7px}
.prv_apl_reg dl dd p{font-size:11px;color:#999;text-align:left;line-height:16px;padding:0;margin:0}
.prv_apl_reg dl dd p.tit{font-size:12px;color:#444}

/* 프리미엄 채용정보 */
#premium {overflow: hidden;}
#premium h3 .insa,#focus h3 .insa {float:left;margin:2px 0 0 140px;}
#premium h3 {text-align:right;border-bottom: 2px #72a3dd solid;overflow: hidden;background: url("//www.saraminimage.co.kr/job/title_premium.png") no-repeat 0 1px;padding:0 0 5px;}
#premium .content {padding-top: 8px;}
#premium .pre {background: transparent url('//www.saraminimage.co.kr/service/new/premium_bg1_20121211.png') no-repeat; width: 366px;height: 94px; text-align:left; float: left;}
#premium .pre_alpha{background: transparent url('//www.saraminimage.co.kr/service/new/premium_bg2_20121211.png') no-repeat; width: 366px;height: 94px;text-align:left;float: left;}
#premium .pre_fix{background: url("//www.saraminimage.co.kr/service/new/pre_fix_bg_20121211.png") no-repeat; width:366px;height:94px; text-align: left;float:left;}
#premium a:hover {color: #1e4fb0;}
#premium .logo {float:left;display:inline;text-align: center;width: 84px;height: 32px;margin: 18px 23px 21px 31px;background-color: #fff;}
#premium .logotext {float:left;display:inline;text-align: center;width: 84px;height: 32px;margin: 18px 13px 21px 22px;background-color: #fff;}
#premium .job-tit {display:inline;float:left;margin: 13px 0 0 0;width: 215px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;line-height:20px;}
#premium .job-tit input {border: 1px solid #CACACA;width: 170px;height: 19px;font-family: "굴림",gulim;font-size: 12px;color: #444;padding: 3px 0 0 5px;}
#premium .job-text {float:left;display:inline;margin: 2px 0 0 12px;width: 292px;font-size: 11px;font-family: "돋움";}
#premium .job-text_alpha {float:left;display:inline;margin: 2px 0 0 12px;width: 292px;font-size: 11px;font-family: "돋움";}
#premium .job-text_fix {float:left;display:inline;margin: 2px 0 0 12px;width: 292px;font-size: 11px;font-family: "돋움";color:#FFFFFF;}
#premium .icon {float:left;display:inline;text-align:right;width:50px;}
#premium .bar {color: #ccc;padding:0 1px;background-image:none}
#premium .bar_alpha {color: #8eb2ed;padding:0 1px;}
#premium .bar_fix {color: #dfb4e4;padding:0 1px;}
#premium .com_name {color: #222222;}
#premium .com_name_alpha {color: #222222;}
#premium .com_name_fix {color: #222222;}
#premium .dday2 {float:right;font-size: 11px;font-family: "돋움";color: #f44c58;font-weight:bold;margin:-1.8em 0 0 0;}


/* 포커스 채용정보 */
#focus {overflow: hidden;}
#focus h3 {text-align:right;border-bottom: 2px #94c66d solid;overflow: hidden;background:url("//www.saraminimage.co.kr/job/title_focus.png") no-repeat 0 1px;padding:0 0 5px;}
#focus .regi {float: right;margin-top:-1.8em;}
#focus .content {padding-top: 8px;overflow: hidden;}
#focus .logo {display:inline;float:left;text-align: center;width: 92px;height: 32px;margin: 16px 5px 2px 14px;background-color: #ffffff;background:url("//www.saraminimages.co.kr/service/smart/logo_none_focus.png") no-repeat 50% 50%;}
#focus .job-tit {float:left;display:inline;margin: 23px 0 0 0;width: 100px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
#focus .job-text {float:left;display:inline;margin: 2px 0 0 13px; _margin-bottom : 5px; width: 224px;font-size: 12px;font-family: "굴림";line-height:24px;color:#666666;}
#focus .job-text2 {float:left;display:inline;margin: 0 0 0 13px;width: 160px; font-size: 11px;font-family: "돋움";color:#666666;}
#focus .dday2 {float:left;display:inline;text-align:right;width: 52px;font-size: 11px;color:#f44c58;font-weight:bold;}
#focus .bar {color: #cccccc;}
#focus .com_name {color: #4f8127;}
#focus .header-right {position: absolute;bottom: 4px;right: 0px;}

.pre_fix .bar_alpha{color:#beafe3 !important;}
.pre_fix .bar_fix{color:#dfb4e4 !important;}
.pre_alpha .bar_alpha {color: #444444 !important;}

.new-list-point {background-image: url(//www.saraminimage.co.kr/service/new/img_pointlogo_bg.png);width: 604px;height: 89px;}
.new-list-point-text {padding: 19px 0 0 168px;font-family: gulim,굴림;font-size: 12px;color: #444;}

.fastrec{position:relative;background:url(//www.saraminimage.co.kr/service/new/img-quick_0311.png) no-repeat; width:160px; height:94px;}
.fastrec-alpha{position:relative;background:url(//www.saraminimage.co.kr/service/new/img-quickalpha_0311.png) no-repeat; width:160px; height:94px;}
.fastrectext{position:absolute; top:34px; left:10px; line-height:16px; color:#808080}

/* 포커스 플러스 */
#focus-hold {overflow: hidden;}
#focus-hold h3 {text-align:right;border-bottom: 2px #94c66d solid;overflow: hidden;background:url("//www.saraminimage.co.kr/job/title_focus.png") no-repeat 0 1px;padding:0 0 5px;}
#focus-hold .regi {float: right;margin-top:-1.8em;}
#focus-hold .content {padding-top: 8px;overflow: hidden;}
#focus-hold .logo {display:inline;float:left;text-align: center;width: 92px;height: 32px;margin: 16px 5px 2px 14px;background-color: #ffffff;background:url("//www.saraminimages.co.kr/service/smart/logo_none_focus.png") no-repeat 50% 50%;}
#focus-hold .job-tit {float:left;display:inline;margin: 23px 0 0 0;width: 100px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
#focus-hold .job-text {float:left;display:inline;margin: 2px 0 0 13px; _margin-bottom : 5px; width: 224px;font-size: 12px;font-family: "굴림";line-height:24px;color:#444444;}
#focus-hold .job-text2 {float:left;display:inline;margin: 0 0 0 13px;width: 160px; font-size: 11px;font-family: "돋움";color:#666666;}
#focus-hold .dday2 {float:left;display:inline;text-align:right;width: 52px;font-size: 11px;color:#f44c58;font-weight:bold;}
#focus-hold .bar {color: #b2d3ab;background:none}
#focus-hold .com_name {color: #0f854f;}
#focus-hold .header-right {position: absolute;bottom: 4px;right: 0px;}

/* 상품 추가 */
.small_list{overflow:hidden;height:118px !important;}
#content .small_list .tit-rct, #content .small_list .btn-last{height:70px;_height:116px !important;padding-top:48px;}
#content .small_list .preview{height:103px;_height:116px;}
.ico_scrap{ display: inline-block; *display: inline; *zoom: 1;overflow:hidden;width:20px;height:19px;background:url('//www.saraminimage.co.kr/ui/product/ico_star_off.png') no-repeat 0 0;}
.ico_scrap_mobile{ display: inline-block; *display: inline; *zoom: 1; width: 21px; height: 20px; font: 0/0 Arial;background: url(//www.saraminimage.co.kr/ui/product/ico_mobile_scrap.png) no-repeat; vertical-align: top;}
#eutteum_m .job-text .btn, #narae_m .job-text .btn, #premium_m .job-text .btn, #focus_m .job-text .btn{position:static;top:0;}
#eutteum_m, #narae_m, #aljja_m, #premium_m, #premium_fix_m, #premium_alpha_m{display:inline-block;}
.area_bottom span{font-size:11px;font-family:dotum;}
.logo_box #eutteum_m ul, .logo_box #premium_m ul{margin-left:87px;_margin-left:0;}
.logo_box #narae_m, .logo_box #focus_m{margin-left:22px;_margin-left:0;}

/* 모바일 상품 기본 박스 */
.mobile_product_box{ margin-top: 5px;border: 1px solid #cbcbcc;width:183px;background-color:#fff;box-sizing: border-box;}
.mobile_product_box p{margin:0;}
.mobile_product_box .area_top{padding:14px 0 0 9px; height: 34px;text-align:left;}
.mobile_product_box .area_top span{height:20px;vertical-align:middle;line-height:23px;display:inline-block;}
.mobile_product_box .area_top span.logo{margin:0 0 0 20px;}
.mobile_product_box .area_bottom{ margin: 0;padding:8px 0 5px 9px; text-align: left;background-color: #f8e5bc;}
.mobile_product_box .area_bottom span.cm_text{display:block; line-height: 16px;font-size:13px;font-weight:bold;}
.mobile_product_box .area_bottom .recruit_subject{ display: block;}
.mobile_product_box .area_bottom input[type="text"]{border: 1px solid #a9a9a9;width:130px; height: 13px;}
.mobile_product_box .area_bottom a,
.mobile_product_box .area_bottom .tite_exposure{ display: inline-block; *display: inline; *zoom: 1; vertical-align: top;}
.mobile_product_box .area_bottom .tite_exposure{ overflow: hidden;white-space: nowrap;text-overflow: ellipsis;height: 15px; line-height: 15px; line-height: 18px\0;}
.mobile_product_box .area_bottom img{ vertical-align: top;}
.mobile_product_box.aljja{ border-color: #eeb15b;}
.mobile_product_box.aljja .area_bottom{background-color: #fffbf2;}
.mobile_product_box.narae{ margin-right: 0; margin-left: 0;border-color: #cbcbcc; width: 183px;}
.mobile_product_box.narae .area_bottom{background-color: #f8f8f8;}
.mobile_product_box[class*="premium"]{ height: 97px;}
.mobile_product_box[class*="premium"] .area_bottom{ height: 47px; background-color: #f8f8f8;box-sizing: border-box;}
.mobile_product_box.premium_fix{border-color: #0f7bfb; border-top-width: 5px;}
.mobile_product_box.premium_fix .area_top{ padding-top: 10px;}
.mobile_product_box.premium_fix .area_bottom{ background-color: #b6d2ff;}
.mobile_product_box.premium_alpha{border-color: #78b6ff;}
.mobile_product_box.premium_alpha .area_bottom{ background-color: #e8f1ff;}
.mobile_product_box.premium{border-color: #dbdbdb;}
.mobile_product_box.premium .area_bottom{ border-top: 1px solid #dbdbdb;background-color: #FFF;}

/* 으뜸 M */
.eutteum_box{border-top:1px solid #b3d897;border-bottom:1px solid #b3d897;width:322px;background-color:#fff;}
.eutteum_box .area_top{padding:13px 0 18px 8px;margin:0;}
.eutteum_box .area_top span{height:20px;vertical-align:middle;line-height:23px;display:inline-block;}
.eutteum_box .area_top span.cm_text{font-size:14px;font-weight:bold;font-family:dotum;}
.eutteum_box .area_top span.logo{padding:0 0 0 20px;width:118px;}
.eutteum_box .area_bottom{background-color:#f5feeb;padding:10px 0 9px 13px;vertical-align:middle;margin:0;text-align:left;}
.eutteum_box .area_bottom img{vertical-align:middle;_vertical-align:0px;}

/* 포커스 M */
.focus_mobile .item{ position: relative; border: 1px solid #dbdbdb;padding-left: 127px; width: 192px;height: 54px; font-family: dotum, "돋움";background-color: #FFF;}
.focus_mobile .item .wrap_scrap{ position: absolute; top: 50%; left: 10px;margin-top: -10px;}
.focus_mobile .item .wrap_logo{ position: absolute; top: 10px; left: 38px; height: 34px;}
.focus_mobile .item .wrap_logo .nologo{ height: 34px; line-height: 34px; line-height: 37px\0;}
.focus_mobile .item .info_recruit dt{position: absolute;top: 0;left: 0;width: 1px;height: 1px;font: 0/0 Arial;text-indent: -1000em;}
.focus_mobile .item .info_recruit dd{ text-align: left;}
.focus_mobile .item .info_recruit .company_name{ height: 16px; line-height: 16px; line-height: 19px\0;font-size: 13px; font-weight: bold; color: #444;}
.focus_mobile .item .info_recruit .tit_recruit{ margin-top: 2px;}
.focus_mobile .item .info_recruit .tit_recruit > span{ display: block;}
.focus_mobile .item .info_recruit .tit_recruit .tite_exposure{ overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 125px; height: 15px; line-height: 15px; line-height: 18px\0;}
.focus_mobile .item .info_recruit .tit_recruit a{ display: inline-block; *display: inline; *zoom: 1; vertical-align: top;}
.focus_mobile .item .info_recruit .tit_recruit a img{ vertical-align: top;}
.focus_mobile .item .info_recruit .tit_recruit input[type="text"]{ border: 1px solid #a9a9a9; width: 123px; height: 13px; vertical-align: top;}
.focus_mobile .item .section_bottom{ padding: 11px 0 0 8px; height: 100%; background-color: #f8f8f8;box-sizing: border-box;}
.focus_mobile.focus_fix .item{ border-color: #6cc75c;}
.focus_mobile.focus_fix .item .section_bottom{ background-color: #e5fdda;}
.focus_m,
.focus_fix_m{ display: inline-block; *display: inline; *zoom: 1; margin-top: 5px;}

/* 공통 영역 */
.rct-prodc-list .tite_exposure{display:inline-block;width:130px;}
.rct-prodc-list .tite_exposure input{width:130px;}

/* 고정옵션 상품 */
ul[class$="_list"] li.fixed{position: relative;}
ul[class$="_list"] li.fixed .folding{overflow: hidden;position: absolute;top: 0;left: 0;z-index: 10;width: 17px;height: 17px;background: url(//www.saraminimage.co.kr/ui/main/sp/fixed_product_v3.png) 0 -100px no-repeat;}
ul[class$="_list"] li.fixed.expand .wrap_expand_image{overflow: hidden;visibility: hidden;position: absolute;bottom: 0;left: 0;width: 100%;max-height:188px;}
ul[class$="_list"] li.fixed.expand .wrap_expand_image span{vertical-align:top;}
ul[class$="_list"] li.fixed.expand:hover .wrap_expand_image{visibility: visible;}
ul[class$="_list"] li.expand:hover dl{position: absolute;top: 0;left: 0;z-index:110;height: 348px;background-color: #fff;}
ul[class$="_list"].platinum_product_list li.fixed .folding{left: 0;width: 17px;height: 17px;}
ul[class$="_list"].platinum_product_list li.fixed:hover .folding{background-position: -20px -100px;}
ul[class$="_list"].platinum_product_list li.expand:hover dl{height: 348px;}
ul[class$="_list"].platinum_product_list li.fixed .etc_whole{overflow: hidden; width: 100%;}
ul[class$="_list"].platinum_product_list li.fixed .etc_whole a{display: block;}
ul[class$="_list"].platinum_product_list li.fixed:hover .etc_whole a{margin-left: -2px;}
ul[class$="_list"].platinum_product_list li.expand:hover .date,
ul[class$="_list"].platinum_product_list li.expand:hover .btn_area{bottom: 191px;}
ul[class$="_list"].platinum_product_list li.expand:hover .today_s,
ul[class$="_list"].platinum_product_list li.expand:hover .today_e{bottom: 177px;}
ul[class$="_list"].platinum_product_list li.fixed.double:hover dl{position: relative;top: auto;left: auto;height: 100%;background-color: transparent;}
ul[class$="_list"].platinum_product_list li.fixed.double:hover .date,
ul[class$="_list"].platinum_product_list li.fixed.double:hover .btn_area{bottom: 11px;}
ul[class$="_list"].platinum_product_list li.fixed.double:hover .today_s,
ul[class$="_list"].platinum_product_list li.fixed.double:hover .today_e{bottom: -3px;}
ul[class$="_list"].special_gold_list li.fixed .folding{background-position: 0 -120px;}
ul[class$="_list"].special_gold_list li.fixed:hover .folding{background-position: -20px -120px;}
ul[class$="_list"].special_gold_list li.fixed dl{border-color: #80a3ff;background-color: #fff;}
ul[class$="_list"].special_gold_list li.fixed:hover dl{border-color: #3d59e8;}
ul[class$="_list"].special_gold_list li.expand:hover dl{height: 268px;}
ul[class$="_list"].special_gold_list li.expand:hover .date{bottom: 145px;}
ul[class$="_list"].special_gold_list li.expand:hover .btn_area{bottom: 146px;}
ul[class$="_list"].special_plus_list li.fixed .folding{background-position: 0 -140px;}
ul[class$="_list"].special_plus_list li.fixed:hover .folding{background-position: -20px -140px;}
ul[class$="_list"].special_plus_list li.expand:hover dl{height: 260px;}
ul[class$="_list"].special_plus_list li.expand:hover .date{bottom: 139px;}
ul[class$="_list"].special_plus_list li.expand:hover .btn_area{bottom: 140px;}
ul[class$="_list"].special_list li.fixed .folding{overflow: visible;left: 1px;z-index: 9;width: 13px;height: 14px;background-position: 0 -160px;}
ul[class$="_list"].special_list li.fixed:hover .folding{width: 15px;height: 15px;background-position: -20px -160px;}
ul[class$="_list"].special_list li.fixed:first-child .folding{left: 0;}
ul[class$="_list"].special_list li.last + li.fixed:hover .folding{left: 1px;}
ul[class$="_list"].special_list li.fixed:first-child .folding:before{content: '';overflow: hidden;position: absolute;top: 0;left: -1px;z-index: 100;width: 1px;height: 13px;background-color: #fff;}
ul[class$="_list"].special_list li.fixed:first-child:hover .folding:after,
ul[class$="_list"].special_list li.last + li.fixed:hover .folding:after{content: 'A';overflow: hidden;position: absolute;top: 0;left: 0;z-index: 100;font-size: 0;width: 1px;height: 13px;background-color: #fff;}
ul[class$="_list"].special_list li.fixed dl{background-color: #fff;}
ul[class$="_list"].special_list li.expand:hover{height: 132px;}
ul[class$="_list"].special_list li.expand:hover dl{height: 263px;}
ul[class$="_list"].special_list li.expand:hover .date{bottom: 137px;}
ul[class$="_list"].special_list li.expand:hover .btn_area{bottom: 139px;}

/* 플래티넘 상품 */
.platinum .wrap_platinum_product{width: 100%;}
.platinum .platinum_product_list{margin-left: -12px;width:972px;}
.platinum .platinum_product_list button::-moz-focus-inner{padding:0; border:0;}
.platinum .platinum_product_list button {*overflow:visible;}
.platinum .platinum_product_list .ir {display:block;text-indent:-9999em;width:1px; height:1px; font-size:0; line-height:0; position:absolute; top:0; left:-1000%; overflow:hidden;}
.platinum .platinum_product_list:after {content:'';display:block;clear:both;}
.platinum .platinum_product_list li {float:left;margin:0 0 12px 12px;width: 231px;height:168px;box-sizing: border-box;}
.platinum .platinum_product_list li.double{height: 348px;}
.platinum .platinum_product_list li.double .logo{display: block;position: relative;padding: 0;height: 144px;line-height: 0;text-align: center; background: url(//www.saraminimage.co.kr/ui/main/sp/bg_top_platinum.png) no-repeat;}
.platinum .platinum_product_list li.double .logo.style2{background-position: 0 -144px;}
.platinum .platinum_product_list li.double .logo.style3{background-position: 0 -288px;}
.platinum .platinum_product_list li.double .logo a{position: absolute;bottom: 10px;left: 0;text-align: center;}
.platinum .platinum_product_list li.double .logo .background{ position: relative; z-index: -1;vertical-align: top;}
.platinum .platinum_product_list li.double .btn_area{top: auto;}
.platinum .platinum_product_list li.double .btn_area_double{position: absolute;bottom: 13px;padding: 0 14px;width: 100%;text-align: center;box-sizing: border-box;}
.platinum .platinum_product_list li.double .btn_area_double [class^="btn_"]{display: inline-block;border: 1px solid #bebebe;border-radius: 1px;width: 98px;height: 38px;vertical-align: top;background-color: #fff;box-sizing: border-box;}
.platinum .platinum_product_list li.double .btn_area_double [class^="btn_"]:first-child{margin-left: 0;}
.platinum .platinum_product_list li.double .btn_area_double [class^="btn_"]:after{content: '';display: inline-block;width: 0;height: 100%;vertical-align: middle;}
.platinum .platinum_product_list li.double .btn_area_double [class^="btn_"].block{display: block;width: 100%;}
.platinum .platinum_product_list li.double .btn_area_double [class^="btn_"] .name{display: inline-block;height: 16px;line-height: 0;font-size: 0;background: url(//www.saraminimage.co.kr/ui/main/sp/fixed_product_v3.png) 0 -180px no-repeat;vertical-align: middle;}
.platinum .platinum_product_list li.double .btn_area_double [class^="btn_"] .name.apply_immediately{width: 52px;background-position: 0 -180px;}
.platinum .platinum_product_list li.double .btn_area_double [class^="btn_"] .name.apply_homepage{width: 80px;background-position: 0 -200px;}
.platinum .platinum_product_list li.double .btn_area_double [class^="btn_"] .name.go_recruit_page{width: 79px;background-position: 0 -220px;}
.platinum .platinum_product_list li.double .btn_area_double .btn_style2{border-width: 0;background-color: #ff8149;}
.platinum .platinum_product_list li.double .cop_info{margin-top: 10px;padding-left: 0;text-align: center;}
.platinum .platinum_product_list li.double .cop_info a{display: block;}
.platinum .platinum_product_list li.double .cop_info a:hover{text-decoration: none;}
.platinum .platinum_product_list li.double .cop_info a:before{content: '';display: inline;vertical-align: middle;}
.platinum .platinum_product_list li.double .cop_info a img{display: inline;vertical-align: middle;}
.platinum .platinum_product_list li dl,
.platinum .platinum_product_list li .temp {position: relative;width: 100%;height: 100%;border: 1px solid #7097fc;border-width: 8px 1px 1px;box-sizing: border-box;}
.platinum .platinum_product_list li .temp a {position: absolute;left:0;top:50%;display:block;width:100%;margin-top:-20px;color:#888 !important;text-align:center;line-height:20px;}
.platinum .platinum_product_list li .temp a b {padding-right:7px;background:url(//www.saraminimage.co.kr/ui/main/product/bul_arrow.png) no-repeat 100% 2px;}
.platinum .platinum_product_list li:hover dl,
.platinum .platinum_product_list li:hover .temp{border-color: #3d59e8;border-width: 8px 3px 3px;}
.platinum .platinum_product_list li:hover .cop_info{padding-left: 18px;}
.platinum .platinum_product_list li:hover .date{bottom: 11px; left: 18px;}
.platinum .platinum_product_list li:hover .btn_area{bottom: 11px; right: 10px;}
.platinum .platinum_product_list li:hover .today_s,
.platinum .platinum_product_list li:hover .today_e{bottom: -3px;left: -8px;}
.platinum .platinum_product_list .logo {padding:8px 0;text-align:center;}
.platinum .platinum_product_list .logo a {display:block;width:100%;cursor:pointer;}
.platinum .platinum_product_list .logo a:hover {color:#444 !important;}
.platinum .platinum_product_list .logo .rb_cn_txt {height:56px;line-height:56px;font-size:16px;}
.platinum .platinum_product_list .cop_info {padding-left:20px;}
.platinum .platinum_product_list .date {position: absolute;left:20px;bottom:13px;font-size:11px;font-family:dotum,sans-serif;color:#888 !important;}
.platinum .platinum_product_list .date a {display:block;height:16px;line-height:16px;font-size:11px;font-family:dotum,sans-serif;color:#888 !important;}
.platinum .platinum_product_list .date a:hover {color:#888 !important;}
.platinum .platinum_product_list .date.end a {color:#fd5e6f !important;}
.platinum .platinum_product_list .date.end a:hover {color:#fd5e6f !important;}
.platinum .platinum_product_list .date.today_s,
.platinum .platinum_product_list .date.today_e{left:-6px;bottom:-1px;top:auto;width:75px;height:41px;background:url(//www.saraminimage.co.kr/ui/main/product/ico_today_s.png) no-repeat 0 0;}
.platinum .platinum_product_list .date.today_e{background-image: url(//www.saraminimage.co.kr/ui/main/product/ico_today_e.png);}
.platinum .platinum_product_list .date.today_s a,
.platinum .platinum_product_list .date.today_e a{display:block;width:75px;height:41px;}
.platinum .platinum_product_list .date.today_s .d_day,
.platinum .platinum_product_list .date.today_e .d_day{display:block;text-indent:-9999em;width:1px;height:1px;font-size:0;line-height:0;position:absolute;top:0;left:-1000%;overflow:hidden;}
.platinum .platinum_product_list .btn_area {position: absolute;right:12px;bottom:13px;text-align:right;}
.platinum .platinum_product_list .btn_area a,
.platinum .platinum_product_list .btn_area button {display:inline-block;*margin-left:3px;vertical-align:top;}
.platinum .platinum_product_list .ico_indam {width:39px;height:17px;background:url(//www.saraminimage.co.kr/ui/main/product/ico_indam.png) no-repeat 0 0;display:none;}
.platinum .platinum_product_list .ico_insatong {width:32px;height:17px;background:url(//www.saraminimage.co.kr/ui/main/product/ico_insa.png) no-repeat 0 0;}
.platinum .platinum_product_list .btn_apply {width:42px;height:17px;background:url(//www.saraminimage.co.kr/ui/main/product/ico_volunteer.png) no-repeat 0 0;}
.platinum .platinum_product_list .btn_scrap {width:21px;height:17px;background:url(//www.saraminimage.co.kr/common/bul_sri_star.png) no-repeat 50% 0;}
.platinum .platinum_product_list .btn_scrap.on {width:21px;height:17px;background:url(//www.saraminimage.co.kr/common/bul_sri_star_on.png) no-repeat 50% 0;}

/* 스페셜 골드 플러스 */
.special_gold_plus .special_gold_list {}
.special_gold_plus .special_gold_list button::-moz-focus-inner{padding:0; border:0;}
.special_gold_plus .special_gold_list button {*overflow:visible;}
.special_gold_plus .special_gold_list .ir {display:block;text-indent:-9999em;width:1px; height:1px; font-size:0; line-height:0; position:absolute; top:0; left:-1000%; overflow:hidden;}
.special_gold_plus .special_gold_list:after {content:'';display:block;clear:both;}
.special_gold_plus .special_gold_list li {float:left;width:236px;margin:0 6px 6px 0;}
.special_gold_plus .special_gold_list li.last {width:234px;margin-right:0;}
.special_gold_plus .special_gold_list li dl,
.special_gold_plus .special_gold_list li .temp {position: relative;width:230px;height:128px;border:3px solid #c7d6ff;background-color:#f1f6ff;}
.special_gold_plus .special_gold_list li .temp a {position: absolute;left:0;top:50%;display:block;width:100%;margin-top:-20px;color:#888 !important;text-align:center;line-height:20px;}
.special_gold_plus .special_gold_list li .temp a b {padding-right:7px;background:url(//www.saraminimage.co.kr/ui/main/product/bul_arrow.png) no-repeat 100% 2px;}
.special_gold_plus .special_gold_list li.last dl,
.special_gold_plus .special_gold_list li.last .temp {width:228px;}
.special_gold_plus .special_gold_list li:hover dl,
.special_gold_plus .special_gold_list li:hover .temp {border:3px solid #3d59e8;}
.special_gold_plus .special_gold_list .logo {height:38px;padding:10px 0;text-align:center;background:#fff;}
.special_gold_plus .special_gold_list .logo a {display:block;width:100%;cursor:pointer;}
.special_gold_plus .special_gold_list .logo a:hover {color:#444 !important;}
.special_gold_plus .special_gold_list .logo .rb_cn_txt {height:38px;line-height:38px;font-size:16px;}
.special_gold_plus .special_gold_list .cop_info {padding:7px 0 10px 12px;}
.special_gold_plus .special_gold_list .cop_info a {display:block;line-height:18px;}
.special_gold_plus .special_gold_list .date {position: absolute;left:12px;bottom:5px;font-size:11px;font-family:dotum,sans-serif;color:#888 !important;}
.special_gold_plus .special_gold_list .date a:hover {color:#888 !important;}
.special_gold_plus .special_gold_list .date .d_day {display:block;height:16px;line-height:16px;font-size:11px;font-family:dotum,sans-serif;color:#888 !important;}
.special_gold_plus .special_gold_list .date.end a {color:#fd5e6f !important;}
.special_gold_plus .special_gold_list .date.end a:hover {color:#fd5e6f !important;}
.special_gold_plus .special_gold_list .date.end .d_day {color:#fd5e6f !important;}
.special_gold_plus .special_gold_list .btn_area {position: absolute;right:13px;bottom:6px;text-align:right;}
.special_gold_plus .special_gold_list .btn_area a,
.special_gold_plus .special_gold_list .btn_area button {display:inline-block;*margin-left:3px;vertical-align:top;}
.special_gold_plus .special_gold_list .ico_indam {margin-top: 2px;width:39px;height:13px;background:url(//www.saraminimage.co.kr/ui/main/product/ico_indam2.png) no-repeat 0 0;display:none;}
.special_gold_plus .special_gold_list .ico_insatong {margin-top: 2px;width:30px;height:13px;background:url(//www.saraminimage.co.kr/ui/main/product/ico_insa2.png) no-repeat 0 0;}
.special_gold_plus .special_gold_list .btn_apply {margin-top: 2px;width:40px;height:13px;background:url(//www.saraminimage.co.kr/ui/main/product/ico_volunteer2.png) no-repeat 0 0;}
.special_gold_plus .special_gold_list .btn_scrap {width:21px;height:17px;background:url(//www.saraminimage.co.kr/common/bul_sri_star.png) no-repeat 50% 0;}
.special_gold_plus .special_gold_list .btn_scrap.on {width:21px;height:17px;background:url(//www.saraminimage.co.kr/common/bul_sri_star_on.png) no-repeat 50% 0;}
.special_gold_plus .special_plus_list {margin-bottom: 27px;}
.special_gold_plus .special_plus_list button::-moz-focus-inner{padding:0; border:0;}
.special_gold_plus .special_plus_list button {*overflow:visible;}
.special_gold_plus .special_plus_list .ir {display:block;text-indent:-9999em;width:1px; height:1px; font-size:0; line-height:0; position:absolute; top:0; left:-1000%; overflow:hidden;}
.special_gold_plus .special_plus_list:after {content:'';display:block;clear:both;}
.special_gold_plus .special_plus_list li {position: relative;float:left;width:236px;margin:0 6px 6px 0;}
.special_gold_plus .special_plus_list li.last {width:234px;margin-right:0;}
.special_gold_plus .special_plus_list li dl,
.special_gold_plus .special_plus_list li .temp {position: relative;width:234px;height:126px;border:1px solid #9eb9ff;background:#fff;}
.special_gold_plus .special_plus_list li .temp a {position: absolute;left:0;top:50%;display:block;width:100%;margin-top:-20px;color:#888 !important;text-align:center;line-height:20px;}
.special_gold_plus .special_plus_list li .temp a b {padding-right:7px;background:url(//www.saraminimage.co.kr/ui/main/product/bul_arrow.png) no-repeat 100% 2px;}
.special_gold_plus .special_plus_list li.last dl,
.special_gold_plus .special_plus_list li.last .temp {width:232px;}
.special_gold_plus .special_plus_list li:hover dl,
.special_gold_plus .special_plus_list li:hover .temp {border: 1px solid #2e5fe5;}
.special_gold_plus .special_plus_list .logo {height:31px;line-height:31px;padding:16px 0 11px;text-align:center;background:#fff;}
.special_gold_plus .special_plus_list .logo a {display:block;width:100%;cursor:pointer;}
.special_gold_plus .special_plus_list .logo a:hover {color:#444 !important;}
.special_gold_plus .special_plus_list .logo .rb_cn_txt {height:31px;line-height:31px;font-size:16px;}
.special_gold_plus .special_plus_list .cop_info {padding:8px 0 0 14px;}
.special_gold_plus .special_plus_list .cop_info a {display:block;line-height:18px;}
.special_gold_plus .special_plus_list .date {position: absolute;left:13px;bottom:5px;font-size:11px;font-family:dotum,sans-serif;color:#888 !important;}
.special_gold_plus .special_plus_list .date a:hover {color:#888 !important;}
.special_gold_plus .special_plus_list .date .d_day {display:block;height:16px;line-height:16px;font-size:11px;font-family:dotum,sans-serif;color:#888 !important;}
.special_gold_plus .special_plus_list .date.end a {color:#fd5e6f !important;}
.special_gold_plus .special_plus_list .date.end a:hover {color:#fd5e6f !important;}
.special_gold_plus .special_plus_list .date.end .d_day {color:#fd5e6f !important;}
.special_gold_plus .special_plus_list .btn_area {position: absolute;right:13px;bottom:6px;text-align:right;}
.special_gold_plus .special_plus_list .btn_area a,
.special_gold_plus .special_plus_list .btn_area button {display:inline-block;*margin-left:3px;vertical-align:top;}
.special_gold_plus .special_plus_list .ico_indam {margin-top: 2px;width:39px;height:13px;background:url(//www.saraminimage.co.kr/ui/main/product/ico_indam2.png) no-repeat 0 0;display:none;}
.special_gold_plus .special_plus_list .ico_insatong {margin-top: 2px;width:30px;height:13px;background:url(//www.saraminimage.co.kr/ui/main/product/ico_insa2.png) no-repeat 0 0;}
.special_gold_plus .special_plus_list .btn_apply {margin-top: 2px;width:40px;height:13px;background:url(//www.saraminimage.co.kr/ui/main/product/ico_volunteer2.png) no-repeat 0 0;}
.special_gold_plus .special_plus_list .btn_scrap {width:21px;height:17px;background:url(//www.saraminimage.co.kr/common/bul_sri_star.png) no-repeat 50% 0;}
.special_gold_plus .special_plus_list .btn_scrap.on {width:21px;height:17px;background:url(//www.saraminimage.co.kr/common/bul_sri_star_on.png) no-repeat 50% 0;}

/* 핫 배너 */
.hot_banner .hot_banner_list {overflow:hidden;width:980px;position: absolute;left:0;top:52px;}
.hot_banner .hot_banner_list li {position: relative;float:left;width:231px;height:231px;margin-right:13px;background:url(//www.saraminimage.co.kr/ui/main/product/bn_hotbanner_bg.png) no-repeat 100% 100%;}
.hot_banner .hot_banner_list li img {position: absolute;left:0;top:0;}
.hot_banner .hot_banner_list li.last {margin-right:0;}
.hot_banner .hot_banner_list li.temp a {position: absolute;left: 0;top: 50%;display: block;width: 100%;margin-top: -20px;color: #888 !important;text-align: center;line-height: 20px;}
.hot_banner .hot_banner_list li.temp a b {padding-right:7px;background:url(//www.saraminimage.co.kr/ui/main/product/bul_arrow.png) no-repeat 100% 2px;}

/* 스페셜 */
.special .special_list{position: relative;z-index:90;padding:1px 0 0 1px;}
.special .special_list button::-moz-focus-inner{padding:0; border:0;}
.special .special_list button {*overflow:visible;}
.special .special_list .ir {display:block;text-indent:-9999em;width:1px; height:1px; font-size:0; line-height:0; position:absolute; top:0; left:-1000%; overflow:hidden;}
.special .special_list:after {content:'';display:block;clear:both;}
.special .special_list li {position: relative;float:left;width:193px;height:132px;margin:-1px 0 0 -1px;}
.special .special_list li.last {width:192px;margin-right:0;}
.special .special_list li dl,
.special .special_list li .temp {position: relative;border:1px solid #9eb9ff;width:100%;height:100%;background-color:#f1f6ff;box-sizing:border-box;}
.special .special_list li .temp a {position: absolute;left:0;top:50%;display:block;width:100%;margin-top:-20px;color:#888 !important;text-align:center;line-height:20px;}
.special .special_list li .temp a b {padding-right:7px;background:url(//www.saraminimage.co.kr/ui/main/product/bul_arrow.png) no-repeat 100% 2px;}
.special .special_list li:hover {position:relative;left:0;z-index:10;}
.special .special_list li:hover dl{border-color:#2e5fe5;}
.special .special_list .logo {height:26px;padding:17px 0 17px;text-align:center;background:#fff;}
.special .special_list .logo a {display:block;width:100%;cursor:pointer;}
.special .special_list .logo a:hover {color:#444 !important;}
.special .special_list .logo .rb_cn_txt {height:26px;line-height:26px;font-size:14px;}
.special .special_list .cop_info {padding:7px 0 0 14px;}
.special .special_list .cop_info a {display:block;line-height:18px;}
.special .special_list .date {position: absolute;left:13px;bottom:6px;font-size:11px;font-family:dotum,sans-serif;color:#888 !important;}
.special .special_list .date a:hover {color:#888 !important;}
.special .special_list .date .d_day {display:block;height:16px;line-height:16px;font-size:11px;font-family:dotum,sans-serif;color:#888 !important;}
.special .special_list .date.end a {color:#fd5e6f !important;}
.special .special_list .date.end a:hover {color:#fd5e6f !important;}
.special .special_list .date.end .d_day {color:#fd5e6f !important;}
.special .special_list .btn_area {position: absolute;right:10px;bottom:8px;text-align:right;}
.special .special_list .btn_area a,
.special .special_list .btn_area button {display:inline-block;*margin-left:3px;vertical-align:top;}
.special .special_list .ico_indam {margin-top: 2px;width:39px;height:13px;background:url(//www.saraminimage.co.kr/ui/main/product/ico_indam2.png) no-repeat 0 0;display:none;}
.special .special_list .ico_insatong {margin-top: 2px;width:30px;height:13px;background:url(//www.saraminimage.co.kr/ui/main/product/ico_insa2.png) no-repeat 0 0;}
.special .special_list .btn_apply {margin-top: 2px;width:40px;height:13px;background:url(//www.saraminimage.co.kr/ui/main/product/ico_volunteer2.png) no-repeat 0 0;}
.special .special_list .btn_scrap {width:21px;height:17px;background:url(//www.saraminimage.co.kr/common/bul_sri_star.png) no-repeat 50% 0;}
.special .special_list .btn_scrap.on {width:21px;height:17px;background:url(//www.saraminimage.co.kr/common/bul_sri_star_on.png) no-repeat 50% 0;}

/* 으뜸 */
.best .best_fix_list {position: relative;z-index:90;overflow:hidden;}
.best .best_fix_list button::-moz-focus-inner{padding:0; border:0;}
.best .best_fix_list button {*overflow:visible;}
.best .best_fix_list .ir {display:block;text-indent:-9999em;width:1px; height:1px; font-size:0; line-height:0; position:absolute; top:0; left:-1000%; overflow:hidden;}
.best .best_fix_list:after {content:'';display:block;clear:both;}
.best .best_fix_list li {float:left;width:187px;margin:0 6px 6px 0;}
.best .best_fix_list li.last {width:188px;margin-right:0;}
.best .best_fix_list li dl,
.best .best_fix_list li .temp {position: relative;width:185px;height:122px;background:#f2fbe9;border: 1px solid #66bd0a;border-top: 7px solid #66bd0a;}
.best .best_fix_list li .temp a {position: absolute;left:0;top:50%;display:block;width:100%;margin-top:-20px;color:#888 !important;text-align:center;line-height:20px;}
.best .best_fix_list li .temp a b {padding-right:7px;background:url(//www.saraminimage.co.kr/ui/main/product/bul_arrow.png) no-repeat 100% 2px;}
.best .best_fix_list li.last dl,
.best .best_fix_list li.last .temp {width:186px;}
.best .best_fix_list li:hover dl,
.best .best_fix_list li:hover .temp {border: 1px solid #338402;border-top: 7px solid #338402;}
.best .best_fix_list .logo {height:32px;padding:8px 0 8px;text-align:center;background:#fff;}
.best .best_fix_list .logo a {display:block;width:100%;cursor:pointer;}
.best .best_fix_list .logo a:hover {color:#444 !important;}
.best .best_fix_list .logo .rb_cn_txt {height:32px;line-height:32px;font-size:14px;}
.best .best_fix_list .cop_info {padding:10px 0 10px 10px;}
.best .best_fix_list .cop_info a {display:block;line-height:18px;}
.best .best_fix_list .date {position: absolute;left:10px;top:98px;font-size:11px;font-family:dotum,sans-serif;color:#888 !important;}
.best .best_fix_list .date a:hover {color:#888 !important;}
.best .best_fix_list .date .d_day {display:block;height:16px;line-height:16px;font-size:11px;font-family:dotum,sans-serif;color:#888 !important;}
.best .best_fix_list .date.end a {color:#fd5e6f !important;}
.best .best_fix_list .date.end a:hover {color:#fd5e6f !important;}
.best .best_fix_list .date.end .d_day {color:#fd5e6f !important;}
.best .best_fix_list .btn_area {position: absolute;right:8px;top:97px;text-align:right;}
.best .best_fix_list .btn_area a,
.best .best_fix_list .btn_area button {display:inline-block;*margin-left:3px;vertical-align:top;}
.best .best_fix_list .ico_indam {margin-top: 2px;width:39px;height:13px;background:url(//www.saraminimage.co.kr/ui/main/product/ico_indam2.png) no-repeat 0 0;display:none;}
.best .best_fix_list .ico_insatong {margin-top: 2px;width:30px;height:13px;background:url(//www.saraminimage.co.kr/ui/main/product/ico_insa2.png) no-repeat 0 0;}
.best .best_fix_list .btn_apply {margin-top: 2px;width:40px;height:13px;background:url(//www.saraminimage.co.kr/ui/main/product/ico_volunteer2.png) no-repeat 0 0;}
.best .best_fix_list .btn_scrap {width:21px;height:17px;background:url(//www.saraminimage.co.kr/common/bul_sri_star.png) no-repeat 50% 0;}
.best .best_fix_list .btn_scrap.on {width:21px;height:17px;background:url(//www.saraminimage.co.kr/common/bul_sri_star_on.png) no-repeat 50% 0;}
.best .best_list {position: relative;z-index:90;overflow:hidden; width: 100%;}
.best .best_list button::-moz-focus-inner{padding:0; border:0;}
.best .best_list button {*overflow:visible;}
.best .best_list .ir {display:block;text-indent:-9999em;width:1px; height:1px; font-size:0; line-height:0; position:absolute; top:0; left:-1000%; overflow:hidden;}
.best .best_list:after {content:'';display:block;clear:both;}
.best .best_list li {float:left;width:187px;margin:0 6px 6px 0;}
.best .best_list li.last {width:188px;margin-right:0;}
.best .best_list li dl {position: relative;width:185px;height:119px;background:#fff;border: 1px solid #bcdf97;}
.best .best_list li .temp {position: relative;width:185px;height:119px;background:#f2fbe9;border: 1px solid #bcdf97;}
.best .best_list li.last dl,
.best .best_list li.last .temp {width:186px;}
.best .best_list li .temp a {position: absolute;left:0;top:50%;display:block;width:100%;margin-top:-20px;color:#888 !important;text-align:center;line-height:20px;}
.best .best_list li .temp a b {padding-right:7px;background:url(//www.saraminimage.co.kr/ui/main/product/bul_arrow.png) no-repeat 100% 2px;}
.best .best_list li:hover dl {border: 1px solid #319f00;}
.best .best_list .logo {height:32px;padding:8px 0 8px;text-align:center;background:#fff;}
.best .best_list .logo a {display:block;width:100%;cursor:pointer;}
.best .best_list .logo a:hover {color:#444 !important;}
.best .best_list .logo .rb_cn_txt {height:32px;line-height:32px;font-size:14px;}
.best .best_list .cop_info {padding:0px 0 10px 10px;}
.best .best_list .cop_info a {display:block;line-height:18px;}
.best .best_list .date {position: absolute;left:10px;top:92px;font-size:11px;font-family:dotum,sans-serif;color:#888 !important;}
.best .best_list .date a:hover {color:#888 !important;}
.best .best_list .date .d_day {display:block;height:16px;line-height:16px;font-size:11px;font-family:dotum,sans-serif;color:#888 !important;}
.best .best_list .date.end a {color:#fd5e6f !important;}
.best .best_list .date.end a:hover {color:#fd5e6f !important;}
.best .best_list .date.end .d_day {color:#fd5e6f !important;}
.best .best_list .btn_area {position: absolute;right:8px;top:91px;text-align:right;}
.best .best_list .btn_area a,
.best .best_list .btn_area button {display:inline-block;*margin-left:3px;vertical-align:top;}
.best .best_list .ico_indam {margin-top: 2px;width:39px;height:13px;background:url(//www.saraminimage.co.kr/ui/main/product/ico_indam2.png) no-repeat 0 0;display:none;}
.best .best_list .ico_insatong {margin-top: 2px;width:30px;height:13px;background:url(//www.saraminimage.co.kr/ui/main/product/ico_insa2.png) no-repeat 0 0;}
.best .best_list .btn_apply {margin-top: 2px;width:40px;height:13px;background:url(//www.saraminimage.co.kr/ui/main/product/ico_volunteer2.png) no-repeat 0 0;}
.best .best_list .btn_scrap {width:21px;height:17px;background:url(//www.saraminimage.co.kr/common/bul_sri_star.png) no-repeat 50% 0;}
.best .best_list .btn_scrap.on {width:21px;height:17px;background:url(//www.saraminimage.co.kr/common/bul_sri_star_on.png) no-repeat 50% 0;}

/* 알짜 */
.extract .extract_fix_list {position: relative;overflow:hidden;width:960px;padding: 1px 0 0 1px;zoom:1;z-index:90;}
.extract .extract_fix_list button::-moz-focus-inner{padding:0; border:0;}
.extract .extract_fix_list button {*overflow:visible;}
.extract .extract_fix_list .ir {display:block;text-indent:-9999em;width:1px; height:1px; font-size:0; line-height:0; position:absolute; top:0; left:-1000%; overflow:hidden;}
.extract .extract_fix_list:after {content:'';display:block;clear:both;}
.extract .extract_fix_list li {position: relative;float:left;width:159px;margin:-1px 0 0 -1px;border: 1px solid #f4be49;border-top: 4px solid #f4be49;z-index:5;}
.extract .extract_fix_list li dl {position: relative;width:159px;height:126px;background:#fcf5e4;}
.extract .extract_fix_list li .temp {position: relative;width:159px;height:126px;background:#fcf5e4;}
.extract .extract_fix_list li .temp a {position: absolute;left:0;top:50%;display:block;width:100%;margin-top:-20px;color:#888 !important;text-align:center;line-height:20px;}
.extract .extract_fix_list li .temp a b {padding-right:7px;background:url(//www.saraminimage.co.kr/ui/main/product/bul_arrow.png) no-repeat 100% 2px;}
.extract .extract_fix_list li:hover {border: 1px solid #ff8a0d;border-top: 4px solid #ff8a0d;z-index:10;}
.extract .extract_fix_list li.last,
.extract .extract_fix_list li.last dl,
.extract .extract_fix_list li.last .temp {width:158px;}
.extract .extract_fix_list .logo {height:32px;padding:6px 0 6px;text-align:center;background:#fff;}
.extract .extract_fix_list .logo a {display:block;width:100%;cursor:pointer;}
.extract .extract_fix_list .logo a:hover {color:#444 !important;}
.extract .extract_fix_list .logo .rb_cn_txt {height:32px;line-height:32px;font-size:14px;}
.extract .extract_fix_list .cop_info {padding:8px 0 10px 7px;}
.extract .extract_fix_list .cop_info a {display:block;line-height:16px;}
.extract .extract_fix_list .date {position: absolute;left:7px;top:104px;font-size:11px;font-family:dotum,sans-serif;color:#888 !important;}
.extract .extract_fix_list .date a:hover {color:#888 !important;}
.extract .extract_fix_list .date .d_day {display:block;height:16px;line-height:16px;font-size:11px;font-family:dotum,sans-serif;color:#888 !important;}
.extract .extract_fix_list .date.end a {color:#fd5e6f !important;}
.extract .extract_fix_list .date.end a:hover {color:#fd5e6f !important;}
.extract .extract_fix_list .date.end .d_day {color:#fd5e6f !important;}
.extract .extract_fix_list .btn_area {position: absolute;right:3px;top:103px;text-align:right;}
.extract .extract_fix_list .btn_area a,
.extract .extract_fix_list .btn_area button {display:inline-block;*margin-left:3px;vertical-align:top;}
.extract .extract_fix_list .ico_indam {margin-top: 2px;width:39px;height:13px;background:url(//www.saraminimage.co.kr/ui/main/product/ico_indam2.png) no-repeat 0 0;display:none;}
.extract .extract_fix_list .ico_insatong {margin-top: 2px;width:30px;height:13px;background:url(//www.saraminimage.co.kr/ui/main/product/ico_insa2.png) no-repeat 0 0;}
.extract .extract_fix_list .btn_apply {margin-top: 2px;width:40px;height:13px;background:url(//www.saraminimage.co.kr/ui/main/product/ico_volunteer2.png) no-repeat 0 0;}
.extract .extract_fix_list .btn_scrap {width:21px;height:17px;background:url(//www.saraminimage.co.kr/common/bul_sri_star.png) no-repeat 50% 0;}
.extract .extract_fix_list .btn_scrap.on {width:21px;height:17px;background:url(//www.saraminimage.co.kr/common/bul_sri_star_on.png) no-repeat 50% 0;}
.extract .extract_list {position: relative;overflow:hidden;width:960px;padding:1px 0 0 1px;zoom:1;z-index:90;}
.extract .extract_list button::-moz-focus-inner{padding:0; border:0;}
.extract .extract_list button {*overflow:visible;}
.extract .extract_list .ir {display:block;text-indent:-9999em;width:1px; height:1px; font-size:0; line-height:0; position:absolute; top:0; left:-1000%; overflow:hidden;}
.extract .extract_list:after {content:'';display:block;clear:both;}
.extract .extract_list li {position: relative;float:left;width:159px;margin:-1px 0 0 -1px;border: 1px solid #f5da9f;z-index:5;}
.extract .extract_list li dl {position: relative; border: none;width:100%;height:116px;background:#fff;}
.extract .extract_list li .temp {position: relative;width:100%;height:116px;background:#fcf5e4;}
.extract .extract_list li .temp a {position: absolute;left:0;top:50%;display:block;width:100%;margin-top:-20px;color:#888 !important;text-align:center;line-height:20px;}
.extract .extract_list li .temp a b {padding-right:7px;background:url(//www.saraminimage.co.kr/ui/main/product/bul_arrow.png) no-repeat 100% 2px;}
.extract .extract_list li:hover {border: 1px solid #f86515;z-index:10;}
.extract .extract_list li.last {width:158px;}
.extract .extract_list .logo {height:32px;padding:8px 0 8px;text-align:center;background:#fff;}
.extract .extract_list .logo a {display:block;width:100%;cursor:pointer;}
.extract .extract_list .logo a:hover {color:#444 !important;}
.extract .extract_list .logo .rb_cn_txt {height:32px;line-height:32px;font-size:14px;}
.extract .extract_list .cop_info {padding:8px 0 10px 7px;}
.extract .extract_list .cop_info a {display:block;line-height:16px;}
.extract .extract_list .date {position: absolute;left:7px;top:92px;font-size:11px;font-family:dotum,sans-serif;color:#888 !important;}
.extract .extract_list .date a:hover {color:#888 !important;}
.extract .extract_list .date .d_day {display:block;height:16px;line-height:16px;font-size:11px;font-family:dotum,sans-serif;color:#888 !important;}
.extract .extract_list .date.end a {color:#fd5e6f !important;}
.extract .extract_list .date.end a:hover {color:#fd5e6f !important;}
.extract .extract_list .date.end .d_day {color:#fd5e6f !important;}
.extract .extract_list .btn_area {position: absolute;right:3px;top:91px;text-align:right;}
.extract .extract_list .btn_area a,
.extract .extract_list .btn_area button {display:inline-block;*margin-left:3px;vertical-align:top;}
.extract .extract_list .ico_indam {margin-top: 2px;width:39px;height:13px;background:url(//www.saraminimage.co.kr/ui/main/product/ico_indam2.png) no-repeat 0 0;display:none;}
.extract .extract_list .ico_insatong {margin-top: 2px;width:30px;height:13px;background:url(//www.saraminimage.co.kr/ui/main/product/ico_insa2.png) no-repeat 0 0;}
.extract .extract_list .btn_apply {margin-top: 2px;width:40px;height:13px;background:url(//www.saraminimage.co.kr/ui/main/product/ico_volunteer2.png) no-repeat 0 0;}
.extract .extract_list .btn_scrap {width:21px;height:17px;background:url(//www.saraminimage.co.kr/common/bul_sri_star.png) no-repeat 50% 0;}
.extract .extract_list .btn_scrap.on {width:21px;height:17px;background:url(//www.saraminimage.co.kr/common/bul_sri_star_on.png) no-repeat 50% 0;}

/* 나래 */
.narae .narae_list {position: relative;z-index:90;overflow:hidden;border-top:2px solid #5c5c5c; width: 100%;}
.narae .narae_list button::-moz-focus-inner{padding:0; border:0;}
.narae .narae_list button {*overflow:visible;}
.narae .narae_list .ir {display:block;text-indent:-9999em;width:1px; height:1px; font-size:0; line-height:0; position:absolute; top:0; left:-1000%; overflow:hidden;}
.narae .narae_list li {float:left;overflow:hidden;width:100%;background:url(//www.saraminimage.co.kr/ui/main/product/bg_dotted_2.png) repeat-x 0 100%;}
.narae .narae_list li:after {content:'';display:block;clear:both;}
.narae .narae_list li dl {float:left;position: relative;width:203px;height:68px;padding-left: 117px;}
.narae .narae_list li .temp {float:left;position: relative;width:320px;height:68px;background:#f7f7f7;line-height:67px;}
.narae .narae_list li .temp span {margin-left:20px;}
.narae .narae_list li .temp a {position: absolute;right:20px;top:20px;}
.narae .narae_list li.last {background: none;border-bottom:1px solid #e2e2e2;}
.narae .narae_list li.last dl {height:67px;}
.narae .narae_list li.last .temp {height:67px;background:#f7f7f7;}
.narae .narae_list .logo {position: absolute;left:0;top:0;width:97px;height:45px;padding:11px 10px;text-align:center;background:#f7f7f7;}
.narae .narae_list .logo a {display:block;padding:6px 11px 5px 10px;border:1px solid #eaeaea;background:#fff;}
.narae .narae_list .logo a:hover {color:#444 !important;}
.narae .narae_list .logo .rb_cn_txt {height:32px;line-height:32px;font-size:12px;}
.narae .narae_list .logo a:hover .rb_cn_txt {text-decoration:underline;cursor:pointer;}
.narae .narae_list .cop_info {padding:8px 0 10px 12px;}
.narae .narae_list .cop_info a {display:block;line-height:16px;}
.narae .narae_list .date {position: absolute;left:129px;top:46px;font-size:11px;font-family:dotum,sans-serif;color:#888 !important;}
.narae .narae_list .date a:hover {color:#888 !important;}
.narae .narae_list .date .d_day {display:block;height:16px;line-height:16px;font-size:11px;font-family:dotum,sans-serif;color:#888 !important;}
.narae .narae_list .date.end a {color:#fd5e6f !important;}
.narae .narae_list .date.end a:hover {color:#fd5e6f !important;}
.narae .narae_list .date.end .d_day {color:#fd5e6f !important;}
.narae .narae_list .btn_area {position: absolute;right:13px;top:46px;}
.narae .narae_list .btn_area a,
.narae .narae_list .btn_area button {display:inline-block;*margin-left:3px;vertical-align:top;}
.narae .narae_list .ico_indam {margin-top: 2px;width:39px;height:13px;background:url(//www.saraminimage.co.kr/ui/main/product/ico_indam2.png) no-repeat 0 0;display:none;}
.narae .narae_list .ico_insatong {margin-top: 2px;width:30px;height:13px;background:url(//www.saraminimage.co.kr/ui/main/product/ico_insa2.png) no-repeat 0 0;}
.narae .narae_list .btn_apply {margin-top: 2px;width:40px;height:13px;background:url(//www.saraminimage.co.kr/ui/main/product/ico_volunteer2.png) no-repeat 0 0;}
.narae .narae_list .btn_scrap {width:21px;height:17px;background:url(//www.saraminimage.co.kr/common/bul_sri_star.png) no-repeat 50% 0;}
.narae .narae_list .btn_scrap.on {width:21px;height:17px;background:url(//www.saraminimage.co.kr/common/bul_sri_star_on.png) no-repeat 50% 0;}

/* list horizon */
ul[class$="_list"] li.horizon{clear:both;margin:0;border: 0;width:100%;height:23px;background:url(//www.saraminimage.co.kr/ui/main/product/bg_dotted.png) repeat-x 0 50%;}
ul[class$="_list"] li.horizon:hover{border: 0;}
.best ul[class$="_list"] li.horizon,
.special_gold_plus ul[class$="_list"] li.horizon{margin-top: -6px;}
