@charset "UTF-8";

.layer_install_saraminapp{ position: absolute; top: 32px; left: 0; z-index: 999; border: 1px solid #a1a1a1; width: 644px; padding: 32px 0;background-color: #fff;}
.layer_install_saraminapp .section_top{ padding: 0 24px;}
.layer_install_saraminapp .btn_close_layer{ position: absolute; top: 14px; right: 24px; border: 0;width: 25px; height: 25px; font: 0/0 Arial; color: #fff; text-align: center; background: url(//www.saraminimage.co.kr/ui/app_promo_nudge/sp/install_saramin_app.png) 100% 0 no-repeat; cursor: pointer;}
.layer_install_saraminapp .txt_tobecontinued{ margin: 0 auto;width: 504px; height: 25px; font: 0/0 Arial; color: #fff; text-align: center;background: url(//www.saraminimage.co.kr/ui/app_promo_nudge/sp/install_saramin_app.png) -250px -199px no-repeat;}
.layer_install_saraminapp .txt_tobecontinued2{ margin: 0;width: 330px; height: 18px; font: 0/0 Arial; color: #fff; text-align: center;background: url(//www.saraminimage.co.kr/ui/app_promo_nudge/sp/install_saramin_app.png) -250px -299px no-repeat;}
.layer_install_saraminapp .introduce_sub_apps{ margin: 40px 24px 0; text-align: left;}
.layer_install_saraminapp .introduce_sub_apps .list_apps{ overflow: hidden;/* _margin-top: -18px; */margin-bottom: 18px;width: 596px; height: 146px;}
.layer_install_saraminapp .introduce_sub_apps .list_apps li{ float: left; position: relative; margin-top: 18px; padding-left: 64px;width: 140px;_width: 204px;}
.layer_install_saraminapp .introduce_sub_apps .list_apps li .go_to_app{ position: absolute; top: 0; left: 0; width: 185px; height: 53px; font: 0/0 Arial !important; color: #fff !important;text-align: left; background: url(//www.saraminimage.co.kr/ui/app_promo_nudge/bg/transparent.png) repeat;}
.layer_install_saraminapp .introduce_sub_apps .list_apps li.right{ width: 124px;_width: 188px;}
.layer_install_saraminapp .introduce_sub_apps .list_apps li dl dt{visibility:hidden;overflow:hidden;position:absolute;left:-1000em;width:0;height:0;font-size:0;line-height:0;}
.layer_install_saraminapp .introduce_sub_apps .list_apps li dl .icon_app{ position: absolute; top: 0; left: 0; width: 55px;}
.layer_install_saraminapp .introduce_sub_apps .list_apps li dl .icon_app span{ display: block; width: 55px; height: 55px; font: 0/0 Arial; text-align: left; color: #fff;background: url(//www.saraminimage.co.kr/ui/app_promo_nudge/sp/install_saramin_app.png) 0 0 no-repeat;}
.layer_install_saraminapp .introduce_sub_apps .list_apps li dl .app_name{ height: 25px; font: 0/0 Arial; text-indent: -1000em;background: url(//www.saraminimage.co.kr/ui/app_promo_nudge/sp/install_saramin_app2.png) -60px 0 no-repeat;}
.layer_install_saraminapp .introduce_sub_apps .list_apps li dl .app_desc{ line-height: 14px; font-family: dotum, '돋움'; font-size: 11px; color: #666; letter-spacing: -1px;}
.layer_install_saraminapp .introduce_sub_apps .list_apps li dl.sapp .app_name{ background-position: -60px 0;}
.layer_install_saraminapp .introduce_sub_apps .list_apps li dl.open_recruit .app_name{ background-position: -60px -100px; height: 40px;}
.layer_install_saraminapp .introduce_sub_apps .list_apps li dl.calc .app_name{ background-position: -60px -200px;}
.layer_install_saraminapp .introduce_sub_apps .list_apps li dl.high_school .app_name{ background-position: -60px -300px;}
.layer_install_saraminapp .introduce_sub_apps .list_apps li dl.coverletter .app_name{ background-position: -60px -400px;}
.layer_install_saraminapp .introduce_sub_apps .list_apps li dl.employ_study .app_name{ background-position: -60px -500px;}
.layer_install_saraminapp .introduce_sub_apps .list_apps li dl.sapp .icon_app span{ background-position: 0 0;}
.layer_install_saraminapp .introduce_sub_apps .list_apps li dl.open_recruit .icon_app span{ background-position: 0 -100px;}
.layer_install_saraminapp .introduce_sub_apps .list_apps li dl.calc .icon_app span{ background-position: 0 -200px;}
.layer_install_saraminapp .introduce_sub_apps .list_apps li dl.high_school .icon_app span{ background-position: 0 -300px;}
.layer_install_saraminapp .introduce_sub_apps .list_apps li dl.coverletter .icon_app span{ background-position: 0 -400px;}
.layer_install_saraminapp .introduce_sub_apps .list_apps li dl.employ_study .icon_app span{ background-position: 0 -500px;}
.layer_install_saraminapp .footer{ position: absolute; bottom: 0; left: 0; width: 644px; height: 32px;background-color: #f3f3f3;}
.layer_install_saraminapp .footer .more_other_apps{ position: absolute; right: 25px; bottom: 0; width: 77px;height: 32px; color: #f3f3f3;font: 0/0 Arial !important;background: url(//www.saraminimage.co.kr/ui/app_promo_nudge/sp/install_saramin_app.png) -250px -389px no-repeat;}
.layer_install_saraminapp .footer .more_other_apps:hover{ text-indent: -1000em;}

/* 개인화 앱 넛지 스타일#1 */
#installSaraminApp .wrap_promoapp_nudge{ position: relative; margin-top: 19px;width: 596px; text-align: left;}
#installSaraminApp .wrap_promoapp_nudge .inner{ position: relative;border: 1px solid #f0f0f0; padding: 21px 27px; width: 100%;background-color: #fff;box-sizing: border-box;}
#installSaraminApp .wrap_promoapp_nudge .inner .area_method{ margin-top: 38px;}
#installSaraminApp .wrap_promoapp_nudge .inner .area_app_icon{ top: 21px; right: 16px;}
#installSaraminApp .wrap_promoapp_nudge .area_app_desc{ position: relative;margin-left: 0;padding: 97px 0 0 15px;height: 73px;_height: 170px;width: 320px;line-height: 0;text-align: left;box-sizing: content-box;}
#installSaraminApp .wrap_promoapp_nudge .area_app_desc .txt_bg{ position: absolute; top: 20px; left: -24px;width: 346px; height: 41px; font: 0/0 Arial;background: url(//www.saraminimage.co.kr/ui/app_promo_nudge/sp/install_saramin_app2.png) -250px 0 no-repeat;}
#installSaraminApp .wrap_promoapp_nudge .area_app_desc img{ vertical-align: top;}
#installSaraminApp .wrap_promoapp_nudge .area_app_icon{ position: absolute; top: 0; right: 0; }
#installSaraminApp .wrap_promoapp_nudge .area_app_icon .bg_smartphone{ position: relative; width: 280px; height: 170px;background: url(//www.saraminimage.co.kr/ui/app_promo_nudge/sp/wrap_promoapp_nudge.png) 0 0 no-repeat;box-sizing: border-box;}
#installSaraminApp .wrap_promoapp_nudge .area_app_icon .bg_smartphone .icon_app{ position: absolute; top: 63px; left: 50%; margin-left: -42px;width: 84px; height: 84px; font: 0/0 Arial;}
#installSaraminApp .wrap_promoapp_nudge .area_method{ overflow: hidden;margin-top: 33px; width: 100%;}
#installSaraminApp .wrap_promoapp_nudge .area_method .sms{ float: left; width: 284px;}
#installSaraminApp .wrap_promoapp_nudge .area_method .market{ float: right; width: 284px;}
#installSaraminApp .wrap_promoapp_nudge .area_method .txt_method{ display: block;margin: 0; height: 29px; font: 0/0 Arial; color: #fff; text-align: right; background: url(//www.saraminimage.co.kr/ui/app_promo_nudge/sp/wrap_promoapp_nudge.png) 0 -180px no-repeat;}
#installSaraminApp .wrap_promoapp_nudge .area_method .market .txt_method{ background-position: 0 -220px;}
#installSaraminApp .wrap_promoapp_nudge .area_method .wrap_float{ overflow: hidden; *margin-top: -1px;width: 100%;}
/* [수정&추가]150907 */
#installSaraminApp .wrap_promoapp_nudge .area_method .sms .input_float{float:left;}
/* //[수정&추가]150907 */
#installSaraminApp .wrap_promoapp_nudge .area_method .sms .input_text{ float: left;_margin: 0;border: 1px solid #d6d6d6; padding: 0 8px; width: 172px;_width: 190px;height: 33px;_height: 35px;line-height: 33px; font-family: dotum, '돋움'; font-size: 14px; color: #000; letter-spacing: 1px;box-sizing: content-box;}
#installSaraminApp .wrap_promoapp_nudge .area_method .sms .input_text::-webkit-input-placeholder{ color: #AAA;}
#installSaraminApp .wrap_promoapp_nudge .area_method .sms .input_text::-moz-placeholder{ color: #AAA;}
#installSaraminApp .wrap_promoapp_nudge .area_method .sms .input_text:-ms-input-placeholder{ color: #AAA;}
#installSaraminApp .wrap_promoapp_nudge .area_method .sms .input_text::-ms-clear{ display: none;}
#installSaraminApp .wrap_promoapp_nudge .area_method .sms .btn_submit_sms{ float: right;border: 0;width: 89px; height: 35px; vertical-align: top;background: url(//www.saraminimage.co.kr/ui/app_promo_nudge/sp/wrap_promoapp_nudge.png) 0 -340px no-repeat; cursor: pointer;}
#installSaraminApp .wrap_promoapp_nudge .area_method .sms .btn_submit_sms span{ font: 0/0 Arial; text-indent: -1000em;}
#installSaraminApp .wrap_promoapp_nudge .area_method .market .go_android,
#installSaraminApp .wrap_promoapp_nudge .area_method .market .go_ios,
#installSaraminApp .wrap_promoapp_nudge .area_method .market .go_android_disabled,
#installSaraminApp .wrap_promoapp_nudge .area_method .market .go_ios_disabled{ float: left; width: 139px; height: 35px; font: 0/0 Arial; color: #515151;text-align: center;background: url(//www.saraminimage.co.kr/ui/app_promo_nudge/sp/wrap_promoapp_nudge.png) 0 -260px no-repeat;}
#installSaraminApp .wrap_promoapp_nudge .area_method .market .go_ios{ float: right; background-position: 0 -300px;}
#installSaraminApp .wrap_promoapp_nudge .area_method .market .go_android_disabled{ background-position: 0 -380px; cursor: default;}
#installSaraminApp .wrap_promoapp_nudge .area_method .market .go_ios_disabled{ float: right; background-position: 0 -420px; cursor: default;}
#installSaraminApp .wrap_promoapp_nudge .area_method .market .other_apps{ margin-top: 7px;text-align: right;}
#installSaraminApp .wrap_promoapp_nudge .area_method .market .other_apps .go_other_apps{ display: inline-block; *display: inline; *zoom: 1; width: 74px; height: 18px; text-align: right; font: 0/1px Arial; color: #FFF;vertical-align: top;background: url(//www.saraminimage.co.kr/ui/app_promo_nudge/sp/wrap_promoapp_nudge.png) -200px -340px no-repeat;}
/* [수정&추가]150907 */
#installSaraminApp .wrap_promoapp_nudge .area_method .txt_caution{position:relative; margin: 8px 0 0; color: #999; line-height: 14px;font-size: 11px; font-family: dotum, '돋움'; letter-spacing: -1px;}
#installSaraminApp .wrap_promoapp_nudge .area_method .txt_caution .check_box{position:absolute;top:0;*top:-3px;left:0;}
#installSaraminApp .wrap_promoapp_nudge .area_method .txt_caution .check_txt{display:inline-block;margin-left:15px;*margin:0 0 0 20px;margin-top:2px\0;color:#999;}
/* //[수정&추가]150907 */
#installSaraminApp .wrap_promoapp_nudge .area_method .txt_caution strong{ font-weight: bold; color: #787878; font-family: dotum, '돋움'}
#installSaraminApp .wrap_promoapp_nudge .wrap_placeholder{ display: inline-block; *display: inline; *zoom: 1;position: relative;_float: left;}
#installSaraminApp .wrap_promoapp_nudge .wrap_placeholder .pseudo_placeholder{ position: absolute; top: 50%; left: 9px; margin-top: -7px;line-height: 15px; font-family: dotum, '돋움'; font-size: 13px; color: #AAA;}

/* 개인화 앱 넛지 스타일#2 */
#installSaraminApp .wrap_promoapp_nudge2{ overflow: hidden;position: relative; margin: 40px 0 0;border-top: 1px solid #e8eaf2;border-bottom: 1px solid #dfe1e9; padding-top: 58px;width: 644px;height: 104px;_height: 164px;text-align: center; background: #f4f6fe url(//www.saraminimage.co.kr/ui/app_promo_nudge/bg/text_promoapp_nudge.png) 176px 0 no-repeat;box-sizing: content-box;}
#installSaraminApp .wrap_promoapp_nudge2 .area_app_icon{ display: inline-block; *display: inline; *zoom: 1;position: relative; *margin-right: 4px; height: auto;text-align: left; vertical-align: top;}
#installSaraminApp .wrap_promoapp_nudge2 .area_app_icon .no_bg span,
#installSaraminApp .wrap_promoapp_nudge2 .area_app_icon .no_bg .icon_app{ position: static; margin: 0;font: 0/0 Arial;}
#installSaraminApp .wrap_promoapp_nudge2 .area_app_icon .no_bg span em{ visibility: hidden;text-indent: -1000em;}
#installSaraminApp .wrap_promoapp_nudge2 .area_app_icon .no_bg{ position: relative; margin-right: 14px;height: auto;}
#installSaraminApp .wrap_promoapp_nudge2 .area_app_icon .no_bg span{ left: 0; margin-left: 0;}
#installSaraminApp .wrap_promoapp_nudge2 .area_app_desc{display: inline-block; *display: inline; *zoom: 1;position: relative; margin: -3px 23px 0 0;_margin:-1px 27px 0 0; padding: 0; height: auto;text-align: left;vertical-align: top;box-sizing: border-box; background: none;}
#installSaraminApp .wrap_promoapp_nudge2 .area_app_desc dt{visibility:hidden;position:absolute;left:-9999px;text-indent: -1000em;width:0;height:0;font-size:0;line-height:0;}
#installSaraminApp .wrap_promoapp_nudge2 .area_app_desc dd{ line-height: 18px;_line-height: 19px; font-family: 'Malgun Gothic', '맑은 고딕', nanumGothic, '나눔고딕';font-size: 15px;color: #333; letter-spacing: -1px;}
#installSaraminApp .wrap_promoapp_nudge2 .area_app_desc dd.app_name{ margin: 0 0 9px -1px;_margin-top: -2px;_margin-bottom: 5px;line-height: 22px;_line-height: 25px;font-size: 19px; font-weight: bold;}
#installSaraminApp .wrap_promoapp_nudge2 .area_app_desc dd.app_name .btn_install_app{ display: inline-block; *display: inline; *zoom: 1; position: relative; z-index: 100;margin: 3px 0 0 4px;_margin: 3px 0 0 8px;padding-top: 2px;width: 50px; height: 21px; text-align: center; font: 0/2px Arial; color: #fff;vertical-align: top;background: url(//www.saraminimage.co.kr/ui/app_promo_nudge/sp/promo_app_nudge2.png) -100px 0 no-repeat;box-sizing: border-box;}
#installSaraminApp .wrap_promoapp_nudge2 .area_app_desc dd strong{ font-weight: normal;font-family: 'Malgun Gothic', '맑은 고딕', nanumGothic, '나눔고딕';}
#installSaraminApp .wrap_promoapp_nudge2 .area_app_desc dd strong.blue{ color: #5b72ec;}
#installSaraminApp .wrap_promoapp_nudge2 .area_app_desc dd strong.red{ color: #fe6562;}
#installSaraminApp .wrap_promoapp_nudge2 .area_app_desc dd .go_to_app{ position: absolute; top: 0; left: 0; width: 100%; height: 70px; text-indent: -1000px; background: url(//www.saraminimage.co.kr/ui/app_promo_nudge/bg/transparent.png) repeat;}
#installSaraminApp .wrap_promoapp_nudge2 .area_sms{ display: inline-block; *display: inline; *zoom: 1; margin: 0;border-left: 1px solid #e8eaf9;padding-left: 16px;width: 270px;_width: 286px;height: auto;text-align: left;vertical-align: top;box-sizing: content-box;}
#installSaraminApp .wrap_promoapp_nudge2 .area_sms .wrap_input_sms{ display: inline-block; *display: inline; *zoom: 1;padding-top: 0 !important; line-height: 0;}
#installSaraminApp .wrap_promoapp_nudge2 .area_sms .wrap_input_sms label{ display: block; margin-bottom: 7px;line-height: 14px;font-family: dotum, '돋움';font-size: 12px;color: #333; letter-spacing: 0;}
#installSaraminApp .wrap_promoapp_nudge2 .area_sms .wrap_input_sms .input_text{ border: 1px solid #bebebe; padding: 0 8px; width: 162px;_width: 180px;height: 27px;_height: 29px;line-height: 27px; font-family: dotum, '돋움'; font-size: 14px; color: #000; letter-spacing: 1px; vertical-align: top;box-sizing: content-box;}
#installSaraminApp .wrap_promoapp_nudge2 .area_sms .wrap_input_sms .input_text::-webkit-input-placeholder{ color: #AAA;}
#installSaraminApp .wrap_promoapp_nudge2 .area_sms .wrap_input_sms .input_text::-moz-placeholder{ color: #AAA;}
#installSaraminApp .wrap_promoapp_nudge2 .area_sms .wrap_input_sms .input_text:-ms-input-placeholder{ color: #AAA;}
#installSaraminApp .wrap_promoapp_nudge2 .area_sms .wrap_input_sms .input_text::-ms-clear{ display: none;}
#installSaraminApp .wrap_promoapp_nudge2 .area_sms .wrap_input_sms .btn_submit_sms{ display: inline-block; *display: inline; *zoom: 1; *margin: 1px 0 0 4px;border: 0;width: 78px; height: 29px; vertical-align: top;background: url(//www.saraminimage.co.kr/ui/app_promo_nudge/sp/promo_app_nudge2.png) no-repeat; cursor: pointer;}
#installSaraminApp .wrap_promoapp_nudge2 .area_sms .wrap_input_sms .btn_submit_sms span{ font: 0/0 Arial; text-indent: -1000em;}
#installSaraminApp .wrap_promoapp_nudge2 .area_sms .txt_caution{ margin: 8px 0 0;*margin-top:3px; line-height: 12px; font-size: 11px; font-family: dotum, '돋움';color: #888; letter-spacing: -1px;}
#installSaraminApp .wrap_promoapp_nudge2 .remove_bg{ margin-right: 0 !important; border-right-width: 0 !important;padding-right: 0 !important;background: none !important;}
#installSaraminApp .wrap_promoapp_nudge2 .quantity2 .area_app_desc{margin: 0 26px 0 0;_margin-top: 2px;border-right: 1px solid #e8eaf9;padding-right: 17px;_padding-right: 13px;}
#installSaraminApp .wrap_promoapp_nudge2 .quantity3{ width: 100%; padding-top: 5px;}
#installSaraminApp .wrap_promoapp_nudge2 .quantity3 .area_app_desc{ margin: 2px 3px 0 0;min-width: 140px;_width: 140px;}
#installSaraminApp .wrap_promoapp_nudge2 .quantity3 .area_app_desc:last-of-type{ min-width: initial;}
#installSaraminApp .wrap_promoapp_nudge2 .quantity3 .area_app_desc dd{ line-height: 14px;font-size: 11px;font-family: dotum, '돋움'; color: #666;}
#installSaraminApp .wrap_promoapp_nudge2 .quantity3 .area_app_desc dd strong{ font-family: dotum, '돋움';}
#installSaraminApp .wrap_promoapp_nudge2 .quantity3 .area_app_desc dd.app_name{overflow: visible;position: relative;margin-bottom: 7px;line-height: normal;_line-height: 20px;font-size: 12px; font-family: gulim, '굴림';color: #555; vertical-align: top;}
#installSaraminApp .wrap_promoapp_nudge2 .quantity3 .area_app_desc dd.app_name span{ display: inline-block; *display: inline; *zoom: 1; margin-top: 0;}
#installSaraminApp .wrap_promoapp_nudge2 .quantity3 .area_app_desc dd.app_name .btn_install_app{ display: inline-block; *display: inline; *zoom: 1; position: relative;margin: -4px 0 0 4px;_margin-left: -2px;}
#installSaraminApp .wrap_promoapp_nudge2 .quantity3 .area_app_icon{ margin-right: 2px;_margin-right: 6px;}
#installSaraminApp .wrap_promoapp_nudge2 .quantity3 .area_app_icon .no_bg{ margin-right: 0;width: auto;}
#installSaraminApp .wrap_promoapp_nudge2 .wrap_placeholder{ display: inline-block; *display: inline; *zoom: 1;position: relative;}
#installSaraminApp .wrap_promoapp_nudge2 .wrap_placeholder .pseudo_placeholder{ position: absolute; top: 50%; left: 9px; margin-top: -7px;line-height: 15px; font-family: dotum, '돋움'; font-size: 13px; color: #AAA;}