@charset "UTF-8";

/* first level */
ul.menu{float: left;list-style-type: none;margin: 0;padding: 0;}
ul.menu li{position: relative;float: left;vertical-align: baseline;padding: 0 ;line-height: normal;}
ul.right{float: right ;}
ul.menu .text-link{line-height:16px;padding-left:5px;}

/* 2016-05-09 LNB 메뉴수정 */
#albaPopular {width: 162px;z-index:100;text-align:left;padding:1px 0; margin:15px auto 0;}
#sidebar{float:left; width:165px;background:none;zoom:1;padding:0 0 80px 0}
#sidebar a { text-decoration:none; }
#sidebar a:hover {  color:#606166; }
#sidebar a img { border:0; vertical-align: top; }
.left_navi_tit{position:relative; height:27px; margin: 0; padding:24px 0 24px 13px; color:#063094; text-align:left; font-family:Malgun Gothic,"맑은 고딕","나눔고딕","Nanum Gothic","돋움","dotum", sans-serif; font-weight:bold; border-top:2px solid #000000; background-color:transparent; }
.left_navi_tit img { vertical-align:top; }
.left_navi_menu{position:relative; width: 100%; margin:0; padding:0; font-family:Malgun Gothic,"맑은 고딕","나눔고딕","Nanum Gothic","돋움","dotum", sans-serif !important; letter-spacing:-1px; z-index: 10;}
.left_navi_menu h3{margin:0; padding:0; min-height:16px; line-height:16px; color:#555;font-size:14px; font-weight:bold;word-spacing:1px; }
.left_navi_menu ul,
.left_navi_menu li { margin:0; padding:0; list-style:none; font-size:12px;}
.left_navi_menu li {display:block; margin-left:0; padding:11px 0 14px 13px; border-top:1px solid #e8e8e8; }
.left_navi_menu li ul{ margin-bottom: -4px; padding-top:4px; }
.left_navi_menu li ul li{min-height:18px; *height:18px; padding:1px 0 2px 12px; border-top: none; line-height:18px; background:url(//www.saraminimage.co.kr/ui/left_navi/bul_lnb_2depth.png) no-repeat 5px 9px; zoom:1; }
.left_navi_menu li ul.depth3{ margin:4px 15px 3px 0; padding:5px 0 10px; background-color: #fafafa; }
.left_navi_menu li ul.depth3 li{ min-height:16px; padding-left:10px; line-height:16px;  background: none; }
.left_navi_menu li.banner-img{height:auto; margin-bottom: -1px; padding:10px 0 0 0; border-top: none; font-size:0px; line-height:0px; text-align:left;}
.left_navi_menu li ul .first_banner { margin-left:-14px; padding-top: 0 !important;}
.left_navi_menu li ul .mid_banner {padding:9px 1px 14px 0 !important;*padding-top:8px !important;_padding-top:8px !important;}
.left_navi_menu li ul .last_banner {padding-bottom:0 !important;}
.left_navi_menu li.banner-img a {display:block;}
.left_navi_menu li.adv_regist {padding:15px 0 15px 20px;}
.left_navi_menu li ul li a { display: inline-block; color:#606166;vertical-align:top;}
.left_navi_menu li ul li img {vertical-align:top;}
.left_navi_menu li ul li span.oneclick_span{position:relative;z-index:999;}
.left_navi_menu li ul li span img.oneclick_left_banner{position:absolute;top:0;left:20px;z-index:90;margin-top:-107px;}
.left_navi_menu li ul .position_img01{position:relative;top:-2px;}
.left_navi_menu li ul .position_img02{position:relative;top:-1px;}
.left_navi_menu li ul li span {vertical-align:baseline;}
.left_navi_menu li.search_area {padding:9px 0 9px 13px; height:28px; }
.left_navi_menu .ico { *margin-bottom:3px; width:10px; height:9px;}
.left_navi_menu li .bnr_block {margin:0;padding:0;}

.left_navi_menu li .ico_lnbn:after {display:inline-block; content:''; width:10px; height:9px; margin-left:6px; background:url('http://www.saraminimage.co.kr/index/icon_new_01.gif') no-repeat 0 0;}

.wrap_local #column_row {  background:url(//www.saraminimage.co.kr/ui/left_navi/lnb_bg_line.png) 1px top repeat-y ; }
.wrap_clone #content_wrap {  background:url(//www.saraminimage.co.kr/ui/left_navi/lnb_bg_line.png) 1px top repeat-y ; }

.left_navi_menu .ico_cal {margin-top:4px; _margin-top:3px; padding-left:3px; vertical-align: middle; }
.left_navi_menu .ico_new {margin-top:-1px; _margin-top:3px; padding-left:2px; vertical-align:middle; }
.left_navi_menu .ico_company {margin-top:0; _margin-top:3px; padding-left:2px; vertical-align:middle; }
.left_navi_menu .ico_blank {margin-top:-1px; _margin-top:4px; vertical-align:middle; }

.sub_tab_wrap {padding-top:35px;}

/* local lnb layout */
.wrap_local .recruit_view_reform {padding-top:14px;_padding-top:10px;}
.wrap_local .recruit_view_reform .tit_area {margin-top:-14px;_margin-top:-10px;}
.wrap_local .vc_wrap {margin-top:0;}

/* vertical lnb layout */
.wrap_vertical #wrap #container {width:960px;margin-top:13px;background:url(//www.saraminimage.co.kr/ui/left_navi/lnb_bg_line.png) repeat-y 1px 0;}
.wrap_vertical #wrap #container #cb_wrap{background:none;}
.wrap_vertical #sidebar{background:none;width:165px;}
.wrap_vertical #sidebar h2 {line-height:0;font-size:0;height:32px;_height:50px;}
.wrap_vertical #wrap #footer {padding-top:0;}
.wrap_vertical #sidebar .left_navi_tit {padding-top:15px;}
.wrap_vertical .tit_area .tit_img_area {top:15px;}
.wrap_vertical .tit_area h2 {top:11px;_top:14px;padding-right:5px;}
.wrap_vertical .cont_1st {margin-top:0;}
.wrap_vertical #frm .detail-search-frm,
.wrap_vertical #oldSearchFrm{margin-top:0 !important;}
.wrap_vertical .recruit_view_reform {padding-top:16px;}
.wrap_vertical .recruit_view_reform .tit_area {margin-top:-16px;}
.wrap_vertical .sub_tab_wrap {padding-top:0;}
.wrap_vertical .new_product_wrap {margin-top:16px}
.wrap_vertical .panel_vertical_wrap {margin-top:-22px;}
.wrap_vertical .vc_wrap {margin-top:0;}

/* clone title layout */
.wrap_clone .tit_area {height:72px;}
.wrap_clone .tit_area .tit_img_area {top:10px;}
.wrap_clone .tit_area h2 {top:5px;_top:8px;}
.wrap_clone #sidebar h2 {line-height:0;font-size:0;_height:44px;}
.wrap_clone #sidebar .left_navi_tit {padding-top:9px;}
.wrap_clone .best_prd_wrap {padding-top:0;}
.wrap_clone .sub_tab_wrap {padding-top:0;}
.wrap_clone .recruit_view_reform {padding-top:10px;_padding-top:10px;}
.wrap_clone .recruit_view_reform .tit_area {margin-top:-10px;_margin-top:-10px;}

/* global navigation bar */
#gnb{position:relative;_z-index:900;width:100%;background-color:#465ed0;}
#gnb.gnb_2depth_bar{}
#gnb.gnb_2depth_bar:after{content: ''; display: block; position: absolute; left:0; right:0;height:40px; background-color: #f6f6f6; z-index:5;}
#container.type_pr {margin-top:44px;}
#gnb.fixed_script {position:fixed;top:0;z-index:999;}
#gnb.fixed_script #public-level .icon{display:none;}
#gnb .inner{position: relative;margin-right: auto;margin-left: auto; width: 960px; height: 44px;_z-index: 900;/* z-index for [QuirksMode]2depth layer */}
#gnb .side_menu{overflow: hidden;position: absolute; top: 0; right: 0; padding: 0; width:230px;height: 44px; text-align: center;box-sizing: border-box; background-color: #334bbd;}
#gnb .side_menu a.side_menu_link{display: inline-block; *display: inline; *zoom: 1; height: 44px; line-height: 43px;font-size: 15px; color: #d4dcff; letter-spacing: -1px; vertical-align: top;}
#gnb .side_menu a.side_menu_link:hover{text-decoration: none;}
#gnb .side_menu .separate{overflow: hidden;display: inline-block; *display: inline; *zoom: 1; margin: 16px 15px;_margin-right: 19px;_margin-left: 14px;width: 1px; height: 12px; background-color: #4b5eb8; vertical-align: top;}
#gnb ul.nav{float: left;position: relative;_z-index: 900;/* z-index for [QuirksMode]2depth layer */}
#gnb ul.nav li a:hover{text-decoration: underline;}
#gnb ul.nav li h3 a:hover { text-decoration: none; }
#gnb ul.nav li .icon-up{float:left;margin-top:4px;margin-left:2px;}

/* gnb sticky */
#wrapper.sticky_ready #header {margin-bottom:44px;}
#wrapper.sticky_ready #gnb {position:absolute; top:142px;}
#wrapper.sticky_ready #gnb.fixed_script {position:fixed;top:0;z-index:999;}
#wrapper.sticky_ready .notice_under_gnb .notice_inner {z-index:-1;}
#gnb.fixed_script #public-level .icon{display:none;}

/* wmg-9731 신입공채 메뉴 추가 / gnb 수정 */
#gnb ul.nav li.depth1{position: relative;float: left; vertical-align: top;_z-index: 900;/* z-index for [QuirksMode]2depth layer */}
#gnb ul.nav li.depth1 a.depth1_link{display: inline-block;*display: inline;*zoom: 1; height: 44px; line-height: 42px; padding:0 15px; font-size: 15px;color: #fff;letter-spacing: -1px;cursor: pointer;text-decoration:none;}
#gnb ul.nav li.depth1 a.depth1_link:hover {display: inline-block;*display: inline;*zoom: 1;height:42px;_height:44px; line-height:39px;padding:0 13px;border-left:2px solid #3c53c3;border-right:2px solid #3c53c3;border-top:2px solid #3c53c3;background:#fff;color:#364fc7;text-decoration:none;font-weight:bold;}
#gnb ul.nav li.depth1:first-child a.depth1_link {padding-left:17px;}
#gnb ul.nav li.depth1:first-child a.depth1_link:hover {padding-left:15px;}
#gnb ul.nav li.depth1.selected a.depth1_link{display: inline-block;*display: inline;*zoom: 1;height:42px; line-height:40px;padding:0 14px;border-left:none;border-right:none;border-top:2px solid #364fc7;background:#f6f6f6;color:#364fc7;text-decoration:none;font-weight:bold;}
#gnb ul.nav li.depth1.selected a.depth1_link:hover {padding:0 14px;border-left:none;border-right:none;}
#gnb ul.nav li.depth1:first-child.selected a.depth1_link {padding:0 14px 0 17px;border-left:2px solid #364fc7;border-right:none;}
#gnb ul.nav li.depth1 a.depth1_link .icon{position: absolute; top: -9px; left: 0; width: 60px; height: 20px; line-height: 20px; color: #425bd5;font-size: 0;background: url(//www.saraminimage.co.kr/ui/common/nav/sp_gnb_0328.png) 0 0 no-repeat; text-indent:-9999px;}
#gnb ul.nav li.depth1 a.depth1_link .icon_year2016{left: 50%;top:-12px;margin-left:-40px;width: 81px; height: 19px; background:url(//www.saraminimage.co.kr/ui/common/nav/ico_public_recruit.png) 0 0 no-repeat;}
#gnb ul.nav li.depth1 a.depth1_link .icon_talent_market{left: 50%;margin-left: -27px;width: 54px;background:url(//www.saraminimage.co.kr/ui/common/nav/sp_gnb_0328.png) no-repeat 0 -60px;}
#gnb ul.nav .wrap_depth2{position: absolute;left: -500em;top: 44px; letter-spacing: -1px; }
#gnb ul.nav .hover{left: 0;}
#gnb ul.nav .wrap_depth2{z-index: 900;padding: 14px 0 2px 0;border: 2px solid #425bd5; border-top:none;font-weight: normal; text-align: left;background-color: #fff; overflow: hidden; }
#gnb ul.nav .wrap_depth2 li{ min-height:20px; *height:20px; padding:0; color:#444;font-size:12px;font-weight:normal;line-height:20px; }
#gnb ul.nav .wrap_depth2 li > a{ display: inline-block; *display: inline; *zoom: 1; line-height: 20px;font-size: 12px;vertical-align: top; letter-spacing:-1px;}
#gnb ul.nav .wrap_depth2 li.typ_spc{}
#gnb ul.nav .wrap_depth2 li.typ_spc > a{ color: #425bd5; }
#gnb ul.nav .wrap_depth2{padding: 8px 10px 10px 6px;width: 450px;}
#gnb ul.nav .wrap_depth2 .content{width: 750px;}
#gnb ul.nav .wrap_depth2 .gnb_sub_home{ position: relative; height:19px; _height:27px; padding:0 20px 8px 20px; border-bottom:1px solid #e5e5e5; font-size:14px; line-height:19px; letter-spacing:-1px; }
#gnb ul.nav .wrap_depth2 .gnb_sub_home h3{ display: inline-block; font-size: 14px; font-weight: bold; }
/* WMG-11679 */
#gnb ul.nav .wrap_depth2 .gnb_sub_home .btn_info_search{ position: absolute; top:-3px; right:18px; width:123px; height:25px; text-indent:-3000px; background: url(//www.saraminimage.co.kr/ui/common/nav/btn_gnb_info_search.png) no-repeat; overflow: hidden; }
#gnb ul.nav .wrap_depth2 .column{display: inline-block; *display: inline; *zoom: 1; margin-left: 7px;padding: 2px 7px 0 8px;background: url(//www.saraminimage.co.kr/main/new/line_dot_h.gif) #fff  repeat-y right 50%; vertical-align: top;}
#gnb ul.nav .wrap_depth2 .column.last{background: #fff none;padding-right: 0;}
#gnb ul.nav .wrap_depth2 .column .tit_depth2_link{margin: 0 0 5px -8px;height: 16px;line-height: 16px;font-size: 12px;font-weight: bold; padding-left: 8px;letter-spacing: -1px;color: #2d45bf;background:  url(//www.saraminimage.co.kr/main/new/bul_point.gif) no-repeat 0 50%;clear: both;}
#gnb ul.nav .wrap_depth2 .column .tit_depth2_link a{color: #2d45bf; text-decoration: none;}
#gnb ul.nav .wrap_depth2 .column .tit_depth2_link a:hover{text-decoration: underline;}
#gnb ul.nav .wrap_depth2 .separate{overflow: hidden;display: inline-block; *display: inline; *zoom: 1; margin: 7px 4px 3px 6px; _margin: 4px 6px 6px 4px; width: 1px;height: 10px; background-color: #e8e8e8; vertical-align: top;}
#gnb ul.nav .wrap_depth2 img.icon{vertical-align: top; margin-top:7px; *margin-top:5px; }
#gnb ul.nav .wrap_depth2 .list_column_link{list-style: none;margin: 5px 0 14px;padding: 2px;}
#gnb ul.nav .wrap_depth2 .list_column_link li .area_side{float: none;_clear:both;position:absolute;bottom:10px;right:20px;padding-left:0;width:auto;}
#gnb ul.nav .wrap_depth2 .list_column_link li .area_side img{vertical-align: top;}
#gnb ul.nav .wrap_depth2 .list_column_link li .area_side a{display: inline-block; *display: inline; *zoom: 1;margin-left: 10px;padding: 0 0 0 6px;color:#2d45bf !important;font-weight: normal !important;text-decoration: none !important;background:url(//www.saraminimage.co.kr/main/new/bul_point_small.gif) 0 50% no-repeat; vertical-align: top;}
#gnb ul.nav .wrap_depth2 .list_column_link li .area_side a:hover{text-decoration: underline !important;}
#gnb ul.nav .wrap_depth2 .list_column_link li.separate_img_link{margin-top: 5px;}
#gnb ul.nav .wrap_depth2 .list_column_link .reduce_ltp{letter-spacing: -1px;}
#gnb ul.nav .wrap_depth2 .visit_mark{position: absolute;left:615px;top:390px;}
#gnb ul.nav .wrap_depth2 .rct-lnk{display: block; margin: -2px 4px 14px -8px;}
#gnb ul.nav .wrap_depth2 .rct-lnk img{vertical-align: top;}
#gnb ul.nav li .list_depth3{display:none;_float: right;position:absolute;top: 36px;left:193px;padding-top: 12px;box-sizing: border-box;}
#gnb ul.nav li .list_depth3 li{float:left;_clear:none;padding-left: 17px; width: 190px;box-sizing: border-box;}
#gnb ul.nav li .list_depth3 li a{display:block;font-weight: normal !important;text-decoration:none !important; }
#gnb ul.nav li .list_depth3 li a:hover{text-decoration:underline !important;}
#gnb ul.nav li a,
#gnb .side_menu a.side_menu_link,
#gnb ul.nav .wrap_depth2 .column .tit_depth2_link{font-family: Malgun Gothic, "맑은 고딕", NanumGothic, "나눔고딕", sans-serif !important; }
#gnb ul.nav.typ_etc li.depth1 a.depth1_link{color: #bbc7ff;}
#gnb ul.nav.typ_etc li.depth1 a.depth1_link:hover {color: #364fc7;}
#gnb ul.nav .depth1.selected .wrap_depth2_type1{display:block;}
#gnb ul.nav .wrap_depth2_type1{display:none;position: absolute;left:0;right:0; margin-left:-70px;width:780px;height:40px; z-index:10;}
#gnb ul.nav .wrap_depth2_type1 ul{background-color: #f6f6f6;}
@media \0screen\,screen\9 {  /* ie6,7,8 hack */
	#gnb ul.nav .wrap_depth2_type1{margin-left:-246px;width:960px;}
	#gnb ul.nav .wrap_depth2_type1 ul{padding-left:172px;}
}
#gnb ul.nav .wrap_depth2_type1 ul:after{ clear: both; display: block; content: '';}
#gnb ul.nav .wrap_depth2_type1 ul li{ float: left;padding:0 15px;height:40px;font-size:13px;line-height:40px;text-align:center;letter-spacing:-1px;box-sizing:border-box;}
#gnb ul.nav .wrap_depth2_type1 ul li:hover,
#gnb ul.nav .wrap_depth2_type1 ul li.selected{border-bottom:2px solid #4057c9;}
#gnb ul.nav .wrap_depth2_type1 ul li a{display:block;text-decoration:none;}
#gnb ul.nav .wrap_depth2_type1 ul li.selected a{color: #364fc7; font-weight: bold;}

#gnb ul.nav #recruit-nav .hover{left:0;}
#gnb ul.nav #recruit-nav .wrap_depth2{padding:8px 0 0; width: 956px;}
#gnb ul.nav #recruit-nav .wrap_depth2 .column{height: 430px;}
#gnb ul.nav #recruit-nav .wrap_depth2 .column_4th{_width: 158px;}
#gnb ul.nav #recruit-nav .wrap_depth2 .column_last{_overflow: hidden; _width: 176px;}
#gnb ul.nav #recruit-nav .wrap_depth2 .recruit_info_nav{}
#gnb ul.nav #recruit-nav .wrap_depth2 .recruit_info_nav .title_depth1{ height:33px; padding-left:20px; font-family: Malgun Gothic, "맑은 고딕", NanumGothic, "나눔고딕",sans-serif !important; font-size: 14px; font-weight: bold; line-height:30px; background:#fbfbfb url(//www.saraminimage.co.kr/main/new/bul_gnb_point_sub.png) no-repeat 169px 12px; }
#gnb ul.nav #recruit-nav .wrap_depth2 .recruit_info_nav .title_depth1 > a{ display: block; height:33px; }
#gnb ul.nav #recruit-nav .wrap_depth2 .recruit_info_nav .title_depth1 > a.typ_hiddenstar{background:url(//www.saraminimage.co.kr/main/new/bul_gnb_hiddenstar01.png) 56px 50% no-repeat; }
#gnb ul.nav #recruit-nav .wrap_depth2 .recruit_info_nav li.depth2{ float: left; width:191px;*width:190px;height:166px; border-right:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; box-sizing: border-box;}
#gnb ul.nav #recruit-nav .wrap_depth2 .recruit_info_nav li.depth2 .add_title{padding-bottom: 0; height:33px; border-top:1px solid #e5e5e5;overflow: hidden;*zoom:1;z-index:1000;}
#gnb ul.nav #recruit-nav .wrap_depth2 .recruit_info_nav li.class05{width:192px;*width:191px;border-right:none;}
#gnb ul.nav #recruit-nav .wrap_depth2 .recruit_info_nav li.class06,
#gnb ul.nav #recruit-nav .wrap_depth2 .recruit_info_nav li.class07,
#gnb ul.nav #recruit-nav .wrap_depth2 .recruit_info_nav li.class08,
#gnb ul.nav #recruit-nav .wrap_depth2 .recruit_info_nav li.class09{padding-bottom:41px;height:188px;border-bottom:none; }
#gnb ul.nav #recruit-nav .wrap_depth2 .recruit_info_nav li.class10{padding-bottom: 0; width:192px;*width:190px;border:none;overflow: hidden; }
#gnb ul.nav #recruit-nav .wrap_depth2 .recruit_info_nav .depth3{ padding:6px 5px 6px 20px;min-height:98px;*height:98px;box-sizing: border-box;}
#gnb ul.nav #recruit-nav .wrap_depth2 .recruit_info_nav .depth3 span.ico_newcomer,
#gnb ul.nav #recruit-nav .wrap_depth2 .recruit_info_nav .depth3 span.ico_career{display: inline-block; width:35px; height:16px; margin:-2px 2px 0 0; *margin-top:2px; line-height:1px; font-size: 0px; color: #fff; vertical-align: middle; background: url(//www.saraminimage.co.kr/ui/common/nav/ico_spr_career.png) no-repeat; }
#gnb ul.nav #recruit-nav .wrap_depth2 .recruit_info_nav .depth3 span.ico_career{ background-position: 0 -50px; }
#gnb ul.nav #recruit-nav .wrap_depth2 .recruit_info_nav .depth2 .btn_hightschool_saramin{ display: inline-block; width:150px; height:31px; margin-top:7px; padding-right:16px; font-size:13px; line-height:25px; text-align: center; border:1px solid #e5e5e5; box-sizing:border-box; background: url(//www.saraminimage.co.kr/main/new/bul_gnb_point_sub.png) no-repeat 118px 10px; }
#gnb ul.nav #recruit-nav .wrap_depth2 .recruit_info_nav .depth3 .btn_hightschool_saramin span.point{ color: #778bf5; }
#gnb ul.nav #recruit-nav .wrap_depth2 .recruit_info_nav .depth3 .btn_hightschool_saramin:hover{ text-decoration: none; color: #555555; }
#gnb ul.nav #recruit-nav .wrap_depth2 .recruit_info_nav .depth3 .btn_alba_cokr{ display: inline-block; width:150px; height:31px; margin-top:10px; padding-right:16px; font-size:13px; line-height:25px; text-align: center; border:1px solid #e5e5e5; box-sizing:border-box; background: url(//www.saraminimage.co.kr/main/new/bul_gnb_point_sub.png) no-repeat 102px 10px; }
#gnb ul.nav #recruit-nav .wrap_depth2 .recruit_info_nav .depth3 .btn_alba_cokr:hover{ text-decoration: none; color: #555555; }
#gnb ul.nav #recruit-nav .wrap_depth2 .recruit_info_nav li.depth2 .banner{padding-top:20px;text-align:center;}
#gnb ul.nav #job-category-nav .wrap_depth2{ padding:8px 0 0; width: 572px; }
#gnb ul.nav #job-category-nav .wrap_depth2 li a{ display: block; font-size: 12px;}
#gnb ul.nav #job-category-nav .wrap_depth2 .column{ width:191px; margin-left: 0;padding: 0;_padding-right: 0;background:#fbfbfb; }
#gnb ul.nav #job-category-nav .wrap_depth2 .column .list_column_link{margin: 0; padding:12px 0; border-right:1px solid #e5e5e5; }
#gnb ul.nav #job-category-nav .wrap_depth2 .column .list_column_link li,
#gnb ul.nav #job-category-nav .wrap_depth2 .column .list_column_link li a{ height:22px; line-height: 20px; vertical-align: middle;}
#gnb ul.nav #job-category-nav .wrap_depth2 .column .list_column_link li{padding: 0 20px; border-top:1px solid #fbfbfb; border-bottom:1px solid #fbfbfb; background:url(//www.saraminimage.co.kr/main/new/bul_gnb_point_sub01.png) no-repeat 172px -16px; }
#gnb ul.nav #job-category-nav .wrap_depth2 .column .list_column_link li.mhover{ margin-right:-1px; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; background-color: #fff; background-position: 172px 8px;}
#gnb ul.nav #job-category-nav .wrap_depth2 .column .list_column_link li.mhover .list_depth3 li{width: 190px; height:24px; padding:0 0 0 20px; border: none; background: none; box-sizing: border-box;}
#gnb ul.nav #job-category-nav .wrap_depth2 .column .list_column_link li.mhover .list_depth3 li a{line-height: 22px;}
#gnb ul.nav #job-category-nav .wrap_depth2 .last_column{width: 130px;}
#gnb ul.nav #job-category-nav li.btn img{*display:block}
#gnb ul.nav #job-category-nav li.mhover .list_depth3{display:block; width:380px; height:351px; background:url(//www.saraminimage.co.kr/main/new/bg_gnb_sub_div01.png) repeat; }
#gnb ul.nav #job-category-nav li.mhover a:hover{font-weight:bold;text-decoration:none;}
#gnb ul.nav #job-category-nav .list_column_link .depth2_link:hover{color: #444;}
#gnb ul.nav #job-category-nav li .depth03 li a{display:block;float:left;width:auto !important;font-family:dotum, sans-serif;font-weight:normal;font-size:12px !important;text-decoration:none;padding-left:7px !important;background:url(//www.saraminimage.co.kr/main/new/bul_point_sub.gif) no-repeat 0 4px;*background-position:0 6px}
#gnb ul.nav #job-category-nav li .depth03 li a:hover{font-weight:normal;color:#ff4800;text-decoration:underline;letter-spacing:-1px;background:url(//www.saraminimage.co.kr/main/new/bul_point_sub.gif) no-repeat 0 4px;*background-position:0 6px}
#gnb ul.nav #area-nav .wrap_depth2{ padding:8px 0 0; width: 763px; }
#gnb ul.nav #area-nav .wrap_depth2 li a{ display: block; font-size: 12px;}
#gnb ul.nav #area-nav .wrap_depth2 .column{ width:191px; margin-left: 0;padding: 0;_padding-right: 0;background:#fbfbfb; }
#gnb ul.nav #area-nav .wrap_depth2 .column .list_column_link{margin: 0; padding:12px 0; border-right:1px solid #e5e5e5; }
#gnb ul.nav #area-nav .wrap_depth2 .column .list_column_link li,
#gnb ul.nav #area-nav .wrap_depth2 .column .list_column_link li a{ height:23px; line-height: 20px; vertical-align: top;}
#gnb ul.nav #area-nav .wrap_depth2 .column .list_column_link li{padding: 0 20px; border-top:1px solid #fbfbfb; border-bottom:1px solid #fbfbfb; background:url(//www.saraminimage.co.kr/main/new/bul_gnb_point_sub01.png) no-repeat 172px -16px; }
#gnb ul.nav #area-nav .wrap_depth2 .column .list_column_link li.mhover{ margin-right:-1px; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; background-color: #fff; background-position: 172px 8px;}
#gnb ul.nav #area-nav .wrap_depth2 .column .list_column_link li.mhover .list_depth3 li{padding:0 0 0 17px; width: 190px; height:25px; border: none; background: none; box-sizing: border-box;}
#gnb ul.nav #area-nav .wrap_depth2 .column .list_column_link li.mhover .list_depth3 li a{line-height: 22px;}
#gnb ul.nav #area-nav .wrap_depth2 .last_column{width: 130px;}
#gnb ul.nav #area-nav li.btn img{*display:block}
#gnb ul.nav #area-nav li.mhover .list_depth3{display:block; width:572px; height:476px; background:url(//www.saraminimage.co.kr/main/new/bg_gnb_sub_div01.png) repeat; }
#gnb ul.nav #area-nav li.mhover a:hover{font-weight:bold;text-decoration:none;}
#gnb ul.nav #area-nav .list_column_link .depth2_link:hover{color: #444;}
#gnb ul.nav #area-nav li .depth03 li a{display:block;float:left;width:auto !important;font-family:dotum, sans-serif;font-weight:normal;font-size:12px !important;text-decoration:none;padding-left:7px !important;background:url(//www.saraminimage.co.kr/main/new/bul_point_sub.gif) no-repeat 0 4px;*background-position:0 6px}
#gnb ul.nav #area-nav li .depth03 li a:hover{font-weight:normal;color:#ff4800;text-decoration:underline;letter-spacing:-1px;background:url(//www.saraminimage.co.kr/main/new/bul_point_sub.gif) no-repeat 0 4px;*background-position:0 6px}
/*
#gnb ul.nav #open-recruit-nav .wrap_depth2{width: 478px;_width: 498px;}
#gnb ul.nav #open-recruit-nav .wrap_depth2 .column{_width: 144px;height: 300px;}
#gnb ul.nav #prohunting-nav .wrap_depth2{width: 110px;_width: 130px;}
#gnb ul.nav #more-nav .wrap_depth2{padding:0; width:190px; }
#gnb ul.nav #more-nav .wrap_depth2 .list_column_link{margin:0; padding:0; }
#gnb ul.nav #more-nav .wrap_depth2 li{ border-bottom:1px solid #e5e5e5; height:35px; font-size: 14px; font-weight: bold; line-height:33px; }
#gnb ul.nav #more-nav .wrap_depth2 li a{ display: inline-block; padding:0 20px; width:190px; height:35px; font-size: 14px; line-height:33px; background: url(//www.saraminimage.co.kr/main/new/bul_gnb_point_sub.png) no-repeat 170px 11px; box-sizing: border-box; }
#gnb ul.nav #more-nav .wrap_depth2 li:last-child{ border-bottom:none; }
*/

/* 공채 GNB 레이어 */
#gnb ul.nav #public-level .wrap_depth2_type1 {left:-19px;}
#gnb ul.nav #public-level .hover{left:-264px;_left:-261px;}
#gnb ul.nav #public-level .wrap_depth2{padding:8px 0 0; width: 956px;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav li { font-family: Malgun Gothic, "맑은 고딕", NanumGothic, "나눔고딕",sans-serif !important;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .title_depth1{ height:33px; padding-left:20px; font-family: Malgun Gothic, "맑은 고딕", NanumGothic, "나눔고딕",sans-serif !important; font-size: 14px; font-weight: bold; line-height:30px; }
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .title_depth1.no_link {background:#fbfbfb;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .title_depth1 > a{ display: block; position:relative; height:33px;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .title_depth1 a.public_link {padding-right:10px;background:#fbfbfb url(//www.saraminimage.co.kr/main/new/bul_gnb_point_sub.png) no-repeat 79% center}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .title_depth1 .more_calendar {position:absolute; right:16px; top:1px; padding-right:12px; font-size:12px;font-weight:normal;background:#fbfbfb url(//www.saraminimage.co.kr/main/new/bul_gnb_point_sub.png) no-repeat 100% center; }
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav li.depth2{position:relative; float: left; width:191px;*width:190px;height:348px; border-left:1px solid #e5e5e5; box-sizing: border-box;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav li:first-child {border-left:0;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .title_depth2 {height:20px; padding-top:13px; font-family: Malgun Gothic, "맑은 고딕", NanumGothic, "나눔고딕",sans-serif !important; font-size: 13px; font-weight: bold; line-height:20px;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .title_depth3 {height:20px; font-family: Malgun Gothic, "맑은 고딕", NanumGothic, "나눔고딕",sans-serif !important; font-size: 13px; font-weight: bold; line-height:20px;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .title_depth3 a {font-size:13px;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .recruit_info li span {display:inline-block;font-size:0;line-height:1px;color:#fff;vertical-align:middle;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .recruit_info li span.ico_free {width:38px;height:18px;background:url(//www.saraminimage.co.kr/ui/common/nav/ico_public_recruit.png) no-repeat 0 -121px;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .recruit_info li span.ico_up {width:20px;height:11px;background:url(//www.saraminimage.co.kr/index/ico_new_up.gif) no-repeat 100% 0;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .recruit_info li.interview {margin:13px 0 0 0;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .recruit_info li.jobfairscript {margin:0 0 13px 0;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .recruit_info a.ico_link {padding-right:10px;background:url(//www.saraminimage.co.kr/ui/common/nav/bul_snb_tit.png) no-repeat 100% 8px;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav li.class05{width:192px;*width:191px;border-right:none;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav li.class06,
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav li.class07,
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav li.class08,
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav li.class09{padding-bottom:41px;height:188px;border-bottom:none; }
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav li.class10{padding-bottom: 0; width:192px;*width:190px;border:none;overflow: hidden; }
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .depth3{ padding:6px 5px 6px 20px;min-height:98px;*height:98px;box-sizing: border-box;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .depth3 li .tit01 {padding-top:0;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .depth2 .btn_box {position:absolute;left:20px;top:260px;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .depth2 .btn_type{ display: inline-block; width:150px; height:31px; margin-top:3px; padding-right:16px; font-size:13px; line-height:25px; text-align: center; border:1px solid #e5e5e5; box-sizing:border-box; background: url(//www.saraminimage.co.kr/main/new/bul_gnb_point_sub.png) no-repeat 118px 10px; text-decoration:none;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .depth2 .btn_type.btn01 {margin-top:38px;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .depth2 .btn_type span.point{color: #778bf5; }
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .depth2 .btn_type.weekly{position:absolute;left:20px;top:237px;height:48px;line-height:18px;background:none;margin-top:26px;padding-top:5px;padding-right:0;text-align:left;padding-left:20px;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .depth2 .btn_type.weekly span.point{display:block;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color: #778bf5; }
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .depth2 .btn_type.weekly span.num{padding-left:7px;font-size: 11px; color:#000;letter-spacing:0;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .depth2 .btn_type.weekly span.txt {display:inline-block;padding-right:20px;background:url(//www.saraminimage.co.kr/ui/common/nav/ico_public_recruit.png) no-repeat 53px -156px;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .depth3 .btn_type:hover{ text-decoration: none; color: #555555; }
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .depth3 .calendar_tit {position:relative;height:20px;line-height:20px;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .depth3 .calendar_tit span {overflow:hidden;display:inline-block; line-height:20px; vertical-align:middle; font-weight:normal;letter-spacing:0;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .depth3 .ico_tit {display:inline-block;overflow:hidden;padding-left:54px;overflow:hidden;width:54px; height:20px; background:url(//www.saraminimage.co.kr/ui/common/nav/ico_public_recruit.png) no-repeat 0 -46px; font-size:0; line-height:0px;color:#fff;vertical-align:middle;*zoom:1;box-sizing:border-box;-webkit-box-sizing:border-box;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .depth3 .ico_tit.start {background-position:0 -44px;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .depth3 .ico_tit.end {background-position:-1px -82px;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .depth3 .ico_tit.ing {background:url(//www.saraminimage.co.kr/ui/common/nav/ico_public_ing.png) no-repeat 0 0;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .depth3 .ico_tit.tomorrow {background:url(//www.saraminimage.co.kr/ui/common/nav/ico_public_tomorrow.png) no-repeat 0 0;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .depth3 .ico_tit.deadline {background:url(//www.saraminimage.co.kr/ui/common/nav/ico_public_deadline.png) no-repeat 0 0;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .depth3 .calendar_tit .date {font-size:11px;color:#888;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .depth3 .calendar_tit .num {position:absolute;right:16px;top:5px;font-size:11px;line-height:14px;color:#444;font-weight:normal;cursor:pointer;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .depth3 .calendar_info {padding-bottom:5px;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .depth3 .calendar_info a {width:90%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .depth2 .banner{position:absolute;left:20px;bottom:20px;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .depth2 .banner a{font-size:0;line-height:0;color:#fff;}
#gnb ul.nav #public-level .wrap_depth2 .public_level_nav .depth2 .banner img {vertical-align:top;}
#gnb ul.nav #public-level .wrap_depth2 .list_ranking {position:relative;}
#gnb ul.nav #public-level .wrap_depth2 .list_ranking .list li {position:relative;padding:0 24px 0 18px;height:16px;_height:20px;background:url(//www.saraminimage.co.kr/ui/common/nav/ico_real_ranking.png) no-repeat;}
#gnb ul.nav #public-level .wrap_depth2 .list_ranking .list li:first-child {margin-top:0;}
#gnb ul.nav #public-level .wrap_depth2 .list_ranking .list li.n1 { background-position:-5px 4px;}
#gnb ul.nav #public-level .wrap_depth2 .list_ranking .list li.n2 { background-position:-5px -17px;}
#gnb ul.nav #public-level .wrap_depth2 .list_ranking .list li.n3 { background-position:-5px -37px;}
#gnb ul.nav #public-level .wrap_depth2 .list_ranking .list li.n4 { background-position:-5px -57px;}
#gnb ul.nav #public-level .wrap_depth2 .list_ranking .list li.n5 { background-position:-5px -76px;}
#gnb ul.nav #public-level .wrap_depth2 .list_ranking .list li.n6 { background-position:-5px -96px;}
#gnb ul.nav #public-level .wrap_depth2 .list_ranking .list li.n7 { background-position:-5px -116px;}
#gnb ul.nav #public-level .wrap_depth2 .list_ranking .list li.n8 { background-position:-5px -136px;}
#gnb ul.nav #public-level .wrap_depth2 .list_ranking .list li.n9 { background-position:-5px -156px;}
#gnb ul.nav #public-level .wrap_depth2 .list_ranking .list li.n10 { background-position:-6px -176px;}
#gnb ul.nav #public-level .wrap_depth2 .list_ranking .list a {display:block;overflow:hidden;width:85%;height:16px;line-height:16px;color:#444;letter-spacing:-1px;font-family:Malgun Gothic, "맑은 고딕",dotum,'돋움', sans-serif;white-space:nowrap;text-overflow:ellipsis;}
#gnb ul.nav #public-level .wrap_depth2 .list_ranking .list span {overflow:hidden;position:absolute;top:6px;right:9px;width:24px;height:5px;background:url(//www.saraminimage.co.kr/ui/common/nav/ico_real_ranking.png) no-repeat;text-indent:100%;white-space:nowrap;}
#gnb ul.nav #public-level .wrap_depth2 .list_ranking .list span.new {background-position:-2px -277px;}
#gnb ul.nav #public-level .wrap_depth2 .list_ranking .list span.up {background-position:-2px -207px;}
#gnb ul.nav #public-level .wrap_depth2 .list_ranking .list span.down {background-position:-2px -255px;}
#gnb ul.nav #public-level .wrap_depth2 .list_ranking .list span.equal {background-position:-2px -231px;}

/* GNB 아래 공지사항 및 프로모션 알림 영역 */
.notice_under_gnb{_overflow: hidden;clear: both;margin-bottom: 28px;border-bottom: 1px solid #e6e6e6;width: 100%;height: 39px;font-family: Malgun Gothic, "맑은 고딕", NanumGothic, "나눔고딕", sans-serif !important;box-sizing: border-box;}
.notice_under_gnb.main{margin-bottom: -10px;border-bottom-width: 0;}
.notice_under_gnb .section{position: absolute;top: 0;height: 100%;_height: 39px;line-height: 37px;letter-spacing: -1px;}
.notice_under_gnb .section strong{font-weight:bold;color:#000}
.notice_under_gnb .section strong.orange{color:#ff6600}
.notice_under_gnb .section a{font-family: Malgun Gothic, "맑은 고딕", NanumGothic, "나눔고딕", sans-serif !important;}
.notice_under_gnb .section a:hover{text-decoration:underline;}
.notice_under_gnb .notice_inner{overflow: hidden;position: relative;margin-right: auto;margin-left: auto;width: 960px;height: 100%;_height: 39px;}
#promotion_banner{left: 0;}
#promotion_banner a:link,
#promotion_banner a:visited{display: inline-block;*display: inline;*zoom: 1;color:#000000;font-size:12px;}
#notice_banner{right: 0;}
#notice_banner #notice-carousel-wrapper{overflow:hidden;width:360px;margin-right:40px;}
#notice_banner ul{width:3600px;}
#notice_banner li{float:left;text-align:right;width:360px;height: 100%;margin-top:-1px;}
#notice_banner li.slide a{ display: inline-block; *display: inline; *zoom: 1;height: 100%;_height: 39px;line-height: 39px;line-height: 37px\0;}
#notice_banner li a.link_news{ font-weight: bold; color: #425bd5 !important;padding-right:3px;}
#notice_banner a{cursor : pointer;}
#notice_banner .paging{position:absolute;top: 12px;right:0;}
#notice_banner .paging a{float:left;margin-right: 0;width:16px;height:15px;background: url(//www.saraminimage.co.kr/ui/common/header/sp_ctrl_headernotice.png) 0 0 no-repeat;}
#notice_banner .paging .prev{margin-right: -1px;background-position: 0 0;}
#notice_banner .paging .next{background-position: 100% 0;}
#notice_banner li a:link,
#notice_banner li a:visited{color:#000000;font-size:12px;}
.rct_main_gutil{position:relative;height:34px;background-color: #f6f6f6;border: 1px solid #e8e8e8;border-top-width: 0; clear:both;}

/* GNB TopBar */
.util_wrap{position:relative;border-bottom:1px solid #e8e8e8;z-index:1000;width:100%;height:32px;text-align:center;background:#ffffff;font-family: Malgun Gothic, "맑은 고딕", NanumGothic, "나눔고딕", sans-serif;font-size:12px;box-sizing:border-box;-moz-box-sizing:border-box;}
.util_wrap img{vertical-align:top;}
.util_wrap strong{font-weight:bold;font-family: Malgun Gothic, "맑은 고딕", NanumGothic, "나눔고딕", sans-serif;color:#444444;vertical-align:top;}
.util_wrap .util_inner{position:relative;margin:0 auto;width:960px;height:31px;background:transparent;line-height:27px;line-height:26px\0;}
.util_wrap .recruit_guide{position:relative;width:1060px;margin:0 auto;}
.util_wrap .util_inner a{color:#7b7b7b;letter-spacing:-1px;font-family: Malgun Gothic, "맑은 고딕", NanumGothic, "나눔고딕", sans-serif;font-size:12px;}
.util_wrap .util_inner a:hover{color:#7b7b7b;}
.util_wrap .util_inner .v_line{margin-right:19px;cursor: pointer;}
.util_wrap .util_inner .customer_center{padding-left:22px;background: url(//www.saraminimage.co.kr/ui/top/grid_vertical.gif) no-repeat 6px 11px;}
.util_wrap .util_inner .alarm_center_layer a, .alarm_center_layer .alarm_view .alarm_txt strong {font-family: dotum, "돋움", sans-serif !important;}
.util_wrap .util_default{position:absolute;left:4px;top:0;height:31px;}
.util_wrap .util_default a{float:left;display:inline-block;text-decoration: none;}
.util_wrap .util_default a.util_menu {margin-right:20px;}
.util_wrap .util_default .tooltip_app_nudge{float:left;margin-right:9px;height: 36px;line-height:36px;line-height:32px\0;_line-height:33px;font-size:11px;font-family: Malgun Gothic, "맑은 고딕", NanumGothic, "나눔고딕", sans-serif;letter-spacing:-1px;}
.util_wrap .util_default .util_app{display:block;padding-left:14px;background:url(//www.saraminimage.co.kr/ui/top/util_mobile2.png) no-repeat 0 10px;}
.util_wrap .util_option{position:absolute;right:3px;top:0;}
.util_wrap .util_option .util_menu{position:relative;display:block;height:31px;float:left;padding:0 0 0 0;text-align:left;line-height:27px;line-height:26px\0;}
.util_wrap .util_option .util_mypage{letter-spacing:0;padding-right:13px;background:url(//www.saraminimage.co.kr/ui/top/util_arrow.png) no-repeat 100% 7px;}
.util_wrap .util_option .bounce{display:block;position:absolute;top:8px;right:0;width:13px;height:13px;background:url(//www.saraminimage.co.kr/ui/top/ico_new.png) 0 0 no-repeat;vertical-align:top;}
.util_wrap .util_option .name{padding:0 5px 0 0;}
.util_wrap .util_option .push_alarm{padding-right:0;text-decoration:none;}
.util_wrap .util_option .notif_gnb_cnt_box{width:80px;}
.util_wrap .util_option .last{padding-right:0;}
.util_wrap .util_option .company_logout{margin-right:0;padding-right:0;background:none;}
.util_wrap .membership-pop{position:absolute;left:1px;top:31px;z-index:20;width:117px;background:#fff;border:1px solid #a1a1a1;}
.util_wrap .membership-pop ul{margin:9px 0 12px 17px}
.util_wrap .membership-pop li{margin-left:auto;font-family: Malgun Gothic, "맑은 고딕", NanumGothic, "나눔고딕", sans-serif;text-align:left;line-height:23px;}
.util_wrap .membership-pop li a{color:#666;font-size:11px;letter-spacing:-1px;font-family: Malgun Gothic, "맑은 고딕", NanumGothic, "나눔고딕", sans-serif;text-decoration:none;}
.util_wrap .membership-pop li a:hover{text-decoration:underline;}
.util_wrap .util_app_install{display:inline-block;height:31px;line-height:27px;padding:0 0 0 15px;background:url(//www.saraminimage.co.kr/ui/top/util_mobile_2016.png) no-repeat 0 7px;}
.util_wrap .util_notif{display:inline-block;height:31px;padding:0 0 0 19px;background:url(//www.saraminimage.co.kr/ui/top/util_bell_2016.png) no-repeat 0 8px;cursor:pointer;}
.util_wrap .util_mem{padding-right:12px;background:url(//www.saraminimage.co.kr/ui/top/util_arrow_2016.png) no-repeat 100% 8px;}
.util_wrap .layer_install_saraminapp{top:31px;}

/* WMG-11255 연락처 무료 넛지 추가 */
#gnb .side_menu {overflow:visible;}
#gnb .side_menu .nudge_free {position:absolute;top:-12px;right:119px;}
#gnb .side_menu .nudge_free02 {position:absolute;top:-12px;right:124px;}