@charset "UTF-8";

.eth_recruit{position:relative;width:375px;height:349px;margin-top:5px;border:3px solid #9eb9ff;float:right;overflow:hidden}
.eth_recruit .rolltab{width:2250px}
.eth_recruit .rolltab li{border-bottom:1px solid #5075dd;float:left}
.eth_recruit .bnr_list{clear:both;overflow:hidden;z-index:100}
.eth_recruit .bnr_list li{float:left;width:124px;height:43px;line-height:43px;text-align:center;border-right:1px solid #d7dded;border-bottom:1px solid #d7dded;overflow:hidden}
/* ie7일때 적용 */
.eth_recruit .bnr_list li{*line-height:0 !important}
.eth_recruit .bnr_list li img{*margin-top:8px !important}

.eth_recruit .bnr_list li a{display:block;width:124px;height:43px !important;line-height:43px;text-align:center}
.eth_recruit .bnr_list li.end{width:125px;margin:0 !important;border-right:none}
.eth_recruit .bnr_list li.end a{display:block;width:125px;border-right:none}
.eth_recruit .bnr_list li img, .eth_recruit .bnr_list li a{vertical-align:middle}
.eth_recruit .over_tab{position:absolute;top:12px;right:15px;overflow:hidden}
.eth_recruit .over_tab li{float:left;margin-right:3px}
.eth_recruit .roll_arrow .left{position:absolute;top:120px;left:2px}
.eth_recruit .roll_arrow .right{position:absolute;top:120px;right:2px}
.eth_recruit .cover{position:absolute;bottom:-1px;left:0}
.eth_recruit .cover li a{z-index:2000}
.eth_recruit .cover li a:hover{background:url('http://www.saraminimage.co.kr/main_rolling/default/bg_rollover.png') repeat-x 0 0;border:none !important}







.dual_pbuy .new_pbuy .tit{margin-right:10px !important}
.new_pbuy{display:inline-block;float:left;padding:12px 6px;background:url(http://www.saraminimage.co.kr/common/bg_new_pbuy.gif) repeat-x 0 0}
.new_pbuy .tit{display:inline-block;font-weight:bold;padding-left:8px;margin-right:105px;background:url(http://www.saraminimage.co.kr/common/bg_new_pbuy_dot.gif) no-repeat 0 3px}
.new_pbuy .sub em{font-style:normal;color:#9f9f9f}
.mt40{margin-top:40px}

.point_pbuy{width:570px;padding:11px 2px;border-top:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;overflow:hidden;position:relative}
.point_pbuy span.simple{position:absolute;bottom:17px;right:20px}
.point_pbuy p.thumb{float:left}
.point_pbuy .txt_cont{float:left;padding:8px 0 5px 10px}
.point_pbuy .txt_cont p{margin-bottom:2px}
.point_pbuy .txt_cont p.sub{font-size:11px;color:#999}





/* 상품등록 관련 */
li.prd_reg{color:#4f637d;margin-bottom:10px;border:1px solid #c5d4f6;overflow:hidden;height:1%}
li.prd_reg strong{font-weight:bold !important}
li.prd_reg .tit_reg{float:left;width:200px;height:140px;color:#4f637d;text-align:center;background:#eff4ff;border-right:1px solid #c5d4f6}
li.prd_reg .tit_reg strong{display:block;font-weight:bold;margin-top:55px;margin-bottom:5px}
li.prd_reg .prv_reg{float:left;width:384px;height:140px;border-right:1px solid #c5d4f6}
li.prd_reg .prv_reg .txt{padding-bottom:10px;margin:15px 0 0 20px}
li.prd_reg .prv_reg dl{height:85px;padding:0 3px;margin:0 10px 0 20px;border-top:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8}
li.prd_reg .prv_reg dl dt, li.prd_reg .prv_reg dl dd{float:left;margin-top:10px}
li.prd_reg .prv_reg dl dt{width:178px;height:64px;line-height:39px;text-align:center;background:url(http://www.saraminimage.co.kr/service/smart/bg_preg_logo_thumb.gif) no-repeat 0 0;position:relative}
li.prd_reg .prv_reg dl dt strong{display:block;width:100%;height:25px;line-height:25px;text-align:center;color:#fff;position:absolute;bottom:0;left:0}
li.prd_reg .prv_reg dl dt strong a{color:#fff !important}
li.prd_reg .prv_reg dl dd{width:163px;letter-spacing:-0.05em;padding-left:7px;margin-top:18px}
li.prd_reg .prv_reg dl dd p{font-size:11px;color:#999;letter-spacing:-0.1em;margin-bottom:3px}
li.prd_reg .prv_reg dl dd p.tit{font-size:12px;color:#444}
li.prd_reg .prv_reg dl dd p img{vertical-align:-3px}
li.prd_reg .btn_reg{float:right;width:104px;text-align:center;padding-top:58px;border:none;}


/* 상품등록 관련 기존 마크업 수정 */
li.prd_reg_off{color:#4f637d;margin-bottom:10px;border:1px solid #ddd;overflow:hidden;height:1%}
li.prd_reg_off strong{font-weight:bold !important}
li.prd_reg_off .tit_reg{float:left;width:162px;height:160px;color:#4f637d;text-align:center;background:#f7f7f7;border-right:1px solid #ddd}
li.prd_reg_off .tit_reg strong{display:block;font-weight:bold;margin-top:65px;margin-bottom:5px}
li.prd_reg_off .prv_reg{float:left;width:420px;height:160px;border-right:1px solid #ddd}
li.prd_reg_off .prv_reg .txt{width:378px;padding-bottom:10px;margin:15px 0 0 20px}
li.prd_reg_off .prv_reg .ods_cont{display:block;color:#444;margin-left:20px;position:relative}
li.prd_reg_off .btn_reg{float:right;width:109px;text-align:center;padding-top:70px;border:none;}
li.prd_reg_off .prv_reg .ods_cont .txt_area{position:relative;line-height:16px;padding:5px}
li.prd_reg_off .prv_reg .ods_cont .txt_area strong{display:block}
li.prd_reg_off .prv_reg .ods_cont .txt_area .day{position:absolute;top:5px;right:5px}
.txt_area{position:relative;line-height:16px;padding:5px}
.txt_area img, .txt_area input{vertical-align:middle}

li.prd_reg_off .prv_reg .ods01{width:180px;border:1px solid #6aa84b}
li.prd_reg_off .prv_reg .ods01 .logo_area{height:50px;text-align:center;line-height:50px;background:white}
li.prd_reg_off .prv_reg .ods01 .txt_area{background:#f1fde3}
li.prd_reg_off .prv_reg .ods02{border:2px solid #ef9241}
li.prd_reg_off .prv_reg .ods03{width:314px;height:70px;margin-top:15px;background:url(http://www.saraminimage.co.kr/job/narea_bg.png) no-repeat 0 0;border:1px solid #6187e0}
li.prd_reg_off .prv_reg .ods03 .logo_area{height:42px;text-align:center;line-height:42px}
li.prd_reg_off .prv_reg .ods03 .txt_area{display:block;height:20px;color:#273793;text-align:center;line-height:20px}
li.prd_reg_off .prv_reg .ods03 .txt_area strong{font-weight:normal !important}
li.prd_reg_off .prv_reg .ods04{width:180px;border:1px solid #ef9241}
li.prd_reg_off .prv_reg .ods04 .logo_area{height:50px;text-align:center;line-height:50px;background:white}
li.prd_reg_off .prv_reg .ods04 .txt_area{background:#fffaf1}

li.prd_reg_off .prv_reg em{font-style:normal;font-size:11px}
li.prd_reg_off .int01{vertical-align:middle}


/* 상품 적용하기 */
.prv_apl_reg {width:290px;height:83px;background:#fff;border-top:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;overflow:hidden}
.prv_apl_reg dl{width:500px;margin:10px 0 10px 3px}
.prv_apl_reg dl dt, .prv_apl_reg dl dd{float:left}
.prv_apl_reg dl dt{width:178px;height:64px;text-align:center;margin-right:8px;background:url(http://www.saraminimage.co.kr/service/smart/bg_preg_logo_thumb.gif) no-repeat 0 0;position:relative}
.prv_apl_reg dl dt .logo_area{width:100%;height:39px;line-height:39px;padding:0;margin:0}
.prv_apl_reg dl dt .logo_area img{display:inline}
.prv_apl_reg dl dt .logo_area img, .prv_apl_reg dl dt span a{vertical-align:middle}
.prv_apl_reg dl dt strong{display:block;width:100%;color:#fff;margin-top:7px}
.prv_apl_reg dl dd{margin-top:7px}
.prv_apl_reg dl dd p{font-size:11px;color:#999;text-align:left;line-height:16px;padding:0;margin:0}
.prv_apl_reg dl dd p.tit{font-size:12px;color:#444}