@charset "UTF-8";
body {
    text-align: center;
    margin: 0;
    padding: 0;
}
body, td {
    color: #444;
    font-family: 굴림, Arial, sans-serif;
    font-size: 12px;
}
a {
    color: #444;
    text-decoration: none;
}
/*a:hover {
    color: #ff4800;
    text-decoration: underline;
}*/
.hide, hr {
    display: none;
}
.hidden { visibility: hidden; overflow: hidden; width: 0; height: 0;}
.lspn {
    letter-spacing: normal;
}
.br {
    clear: both;
}
.ellipsis { OVERFLOW: hidden;   WHITE-SPACE: nowrap;    TEXT-OVERFLOW: ellipsis}
#wrapper {
    min-width:890px;
    display: block;
    position: relative;
}
#container {
    _z-index: 20;
    width: 890px;
    margin: auto;
    text-align: left;
    position: relative;
}
/* {{{ Header */
body {
    background: none;
}
#doc {
    width: 890px;
}

#accessibility{position: absolute;top: -1000em;left:-1000em;width: 1px;height: 1px;line-height:0;overflow: hidden;visibility: hidden;}
#header{clear: both;position: relative; z-index: 912;margin-right: auto;margin-left: auto;width: 960px;height: 113px;font-family: Malgun Gothic, "맑은 고딕", NanumGothic, "나눔고딕" !important;text-align: center;}
#header.main{height: 110px;}
#header h1{display: block;margin: 0;position: absolute;top: 0; left: 0;height:110px;overflow-y:hidden;}
#header.main h1{top:0;}
#header h1 img{display: block;}
#header h1 a:link, #header h1 a:visited{color: #fff;}
#header{position: relative;height: 110px; }
#header.sub{height: 108px !important;}
#header .search_word{overflow:hidden;position:absolute;top:85px;left:50%;margin-left:-151px;width:302px;}
#header .search_word .sw_area{overflow: hidden;float:left;width:268px;}
#header .search_word ul{width:1000px;height:15px;overflow:hidden}
#header .search_word li{float:left;padding:0 7px;background:url(//www.saraminimage.co.kr/main/new/bul_main_topbar.gif) no-repeat 100% 3px;}
#header .search_word li a{display: inline-block; *display: inline; *zoom: 1;height: 15px;line-height: 14px;line-height: 13px\0;font-family: Malgun Gothic, "맑은 고딕", NanumGothic, "나눔고딕" !important;font-size:11px;color:#888;letter-spacing:-1px; vertical-align: top;}
#header .search_word .wrap_ctrl_button{float:right;}
#header .search_word .wrap_ctrl_button .carousel-control{float:left;margin-right: 0;width:16px;height:15px; font-size:0;background: url(//www.saraminimage.co.kr/ui/common/header/sp_ctrl_headernotice.png) 0 0 no-repeat;vertical-align: top;}
#header .search_word .wrap_ctrl_button .prev{margin-right: -1px;background-position: 0 0;}
#header .search_word .wrap_ctrl_button .next{background-position: 100% 0;}
#header .area_search{position: absolute;top: 35px;left: 279px;height:40px;_text-align: left;z-index:2;}
*html #header .area_search form{font-family: Malgun Gothic, "맑은 고딕", NanumGothic, "나눔고딕" !important;}
#header .area_search legend{position: absolute;top: -999px;}
#header .area_search .box_search_input{display: inline-block; *display: inline; *zoom: 1;border: 1px solid #425bd5;padding: 0 10px 0 0;height:40px;box-sizing: border-box; vertical-align: top;}
#header .area_search .box_search_input input{overflow: hidden;display: block;margin: 0;border: 0;width: 280px;padding-left: 10px;height: 37px;_height: 35px;line-height: 36px;color: #444;font-size: 13px;font-weight: bold;font-family: Malgun Gothic, "맑은 고딕", NanumGothic, "나눔고딕" !important;vertical-align: top;outline: none;box-sizing: border-box;}
#header .area_search .box_search_input input::-ms-clear{display: none;}
#header .area_search .btn_search{display: inline-block;*display: inline;*zoom: 1;margin: 0 0 0 -4px;_margin-left: 0;border: 0;border-radius: 0 1px 1px 0;padding: 0;width: 55px;height:40px;line-height:37px;font-size: 12px;font-weight: bold;font-family: Malgun Gothic, "맑은 고딕", NanumGothic, "나눔고딕" !important;letter-spacing: -1px;color: #fff;text-align: center;background-color: #425bd5; background-image: none !important;vertical-align: top;cursor: pointer;}
#header .area_search .btn_search span{display: inline-block;*display: inline;*zoom: 1;height:40px;line-height:37px;line-height:33px\0;_line-height:33px;vertical-align:top; font-size:13px;}
#header .area_search .btn_detail_search{display: inline-block;*display: inline;*zoom: 1;margin-left: 6px;height:40px;line-height:40px;font-weight: bold;color:#425bd5;letter-spacing: -1px;text-decoration: underline;vertical-align: top;font-weight: bold;font-family: Malgun Gothic, "맑은 고딕"}

/* 검색영역 자동완성기능 for define doctype page */
/*#header .area_search.doctype_mode{position:absolute;top:37px;left:295px;z-index:100}*/
#header .area_search.doctype_mode a:hover{text-decoration:none}
#header .area_search.doctype_mode .blue-window{background:#2c46c1 url(//www.saraminimage.co.kr/main/1302_gp/bg_main_searchbar.gif) no-repeat 0 0;height:37px;width:298px;float:left}
#header .area_search.doctype_mode .blue-window input{border:0;color:#1E4FB0;font-weight:bold;font-size:16px;padding-left:5px;margin:9px 0 0 5px;width:283px;height:18px}
#header .area_search.doctype_mode .btn-suggest{display:block;padding:5px;position:absolute;left:268px;top:7px}
#header .area_search.doctype_mode .btn-suggest img{vertical-align:middle}
#header .area_search.doctype_mode .auto_complete_result{border:1px solid #888d95;border-top-width: 0;background:#fff;position:absolute;z-index:11; top: 0; left: 0; width:292px;color: #444;box-sizing: border-box;}
#header .area_search.doctype_mode .auto_complete_result .info{ margin:8px 0 0 10px;font-family: Malgun Gothic, "맑은 고딕", NanumGothic, "나눔고딕" !important;font-size:12px;line-height:21px;letter-spacing:-1px;}
#header .area_search.doctype_mode .auto_complete_result .info strong{color:#ff4800}
#header .area_search.doctype_mode .auto_complete_result .list{overflow-y:auto;height:220px;text-align: left;}
#header .area_search.doctype_mode .auto_complete_result .list li {cursor:pointer;line-height:21px;overflow:hidden;padding:0 10px 0 9px;font-size:0;text-align: left;}
#header .area_search.doctype_mode .auto_complete_result .list li strong{color:#ff4800}
#header .area_search.doctype_mode .auto_complete_result .list li a{display:block;font-size:12px;font-family: Malgun Gothic, "맑은 고딕", NanumGothic, "나눔고딕" !important;color:#666;}
#header .area_search.doctype_mode .auto_complete_result .list li.on{background-color: #eaf0fe;}
#header .area_search.doctype_mode .auto_complete_result .list .line{overflow: hidden;margin: 10px 0 6px;width: 100%;height: 1px;background-color: #eee;}
#header .area_search.doctype_mode .auto_complete_result .list .top_kwd_list{padding-top: 8px;}
#header .area_search.doctype_mode .auto_complete_result .list .bot_kwd_list{margin-bottom: 9px;}
#header .area_search.doctype_mode .auto_complete_result .area_bottom{position: relative;border-top: 1px solid #cdcdcd;padding:0 10px;height: 30px;line-height: 30px;font-size: 11px;color: #656565;text-align: right;letter-spacing: -1px;}
#header .area_search.doctype_mode .auto_complete_result .area_bottom .fix_left{position: absolute;top: 0;left: 10px;height: 30px;}
#header .area_search.doctype_mode .auto_complete_result .area_bottom .fix_left button{height:30px;}
#header .area_search.doctype_mode .auto_complete_result .area_bottom a,
#header .area_search.doctype_mode .auto_complete_result .area_bottom button,
#header .area_search.doctype_mode .auto_complete_result .area_bottom span{display: inline-block;*display: inline;*zoom: 1;color: #656565; font-size: 11px;font-family: Malgun Gothic, "맑은 고딕", NanumGothic, "나눔고딕" !important;}
#header .area_search.doctype_mode .auto_complete_result .area_bottom button{border: 0;background: none;cursor: pointer;}
#header .area_search.doctype_mode .auto_complete_result .area_bottom button strong{font-weight: normal;}
#header .area_search.doctype_mode .auto_complete_result .area_bottom a{text-decoration: none;}
#header .area_search.doctype_mode .auto_complete_result .area_bottom .btn_switch{margin-left: 11px;}
#header .area_search.doctype_mode .auto_complete_result .area_bottom .btn_switch strong{color: #ff4800;}
#header .area_search.doctype_mode .btn_detail_search{font-family: Malgun Gothic, "맑은 고딕", NanumGothic, "나눔고딕" !important; font-size:13px;}/*  WMG-11679  */
#header .area_search.doctype_mode .btn_detail_search:hover{text-decoration: underline;}

#header .wrap_auto_complete{position: absolute; bottom: 0; left: 0; width: 292px;/* height: 5px; background-color: red;*/}
#header .wrap_auto_complete .btn_arrow{overflow: hidden;position: absolute; top: -39px; right: 1px;border: 0;padding:17px 15px 15px 11px;width:35px;height:38px;line-height: 0;background: none; background-color: #fff;cursor: pointer;box-sizing: border-box;}
#header .wrap_auto_complete .btn_arrow img{vertical-align: top;}
#header .wrap_auto_complete .auto_complete{width: 292px;text-align: left;}
#header .wrap_auto_complete .auto_complete iframe{width: 100%;}
#header .header_notice{position: absolute;right: 0;bottom: 30px;width: 229px;height: 50px;z-index:1;}
#header .header_notice .header_notice_wrapper{width:229px;height:50px;overflow:hidden;line-height:0;}
#header .header_notice .header_notice_content{width:21000px;}
#header .header_notice .header_notice_content .slide{float:left;width:229px;height:50px;}
#header .header_notice .header_notice_content .slide img{display: block;vertical-align:top;}
#header .header_notice .header_notice_controller{ display: none;position: absolute;left: 0;bottom: 13px;width: 31px;line-height: 0;}
#header .header_notice .header_notice_controller a{ vertical-align: top;}
#header .header_notice .header_notice_wrapper{/*height: 84px;*/}
#header .header_notice .header_notice_content{width: 21000px;/*height: 84px;*/}

/*#nudge_area {position: absolute;right: 0px;top: 24px;width: 217px;height: 100px;}
#nudge-carousel-wrapper {width: 217px;height: 100px;overflow: hidden;}
#nudge-content {width: 21000px;height: 100px;}
#nudge-content .slide {float: left;width: 217px;height: 100px;}
#nudge-carousel-ctrls {position: absolute;width: 36px;height: 13px;left: 0;bottom: 2px;font-size: 6pt;text-align: right;}
#nudge_area.sub {height: 84px;}
#nudge_area.sub #nudge-carousel-wrapper {height: 84px;}
#nudge_area.sub #nudge-content {width: 21000px;height: 84px;}
#nudge_area.sub #nudge-content .slide {float: left;width: 217px;height: 84px;}*/

#AKCDiv{ position: absolute;top: 0;left: 0;z-index: 910;}
#AKCIfrm {/* width:370px; height: 5px*/}


.carousel-control {display: block;float: left;width: 14px;height: 13px;margin-right: 4px;cursor: pointer;}
a.carousel-control.prev {background: transparent url('//www.saraminimage.co.kr/main/201106/btn_pre.gif') no-repeat 3px;}
/* a.carousel-control.next {background: transparent url('//www.saraminimage.co.kr/main/201106/btn_next.gif') no-repeat 3px;} 20131206 */
a.carousel-control.prev1 {width:15px;height:14px;background: transparent url('//www.saraminimage.co.kr/main/201106/btn_pre_121109.gif') no-repeat;}
a.carousel-control.next1 {width:15px;height:14px;background: transparent url('//www.saraminimage.co.kr/main/201106/btn_next_121109.gif') no-repeat;}
#header .header_notice .carousel-control{ overflow: hidden;float: left;margin: 0;width: 16px; height: 15px; background: #fff url(//www.saraminimage.co.kr/ui/common/header/sp_ctrl_headernotice.png) no-repeat;vertical-align: top;}
#header .header_notice a.prev1{ background-position: 0 0;}
#header .header_notice a.next1{ margin-left: -1px;background-position: 100% 0;}

#bebob_links {
    position:absolute;
    right:160px;
    top:133px;
    z-index:200;
}
#bebob_links ul {
    height:20px;
    overflow:hidden;
    width:143px;
}
#bebob_links ul li {
    clear:both;
    height:20px;
    position:relative;
    width:100%;
    font-size:11px;
    line-height:16px;
}
#bebob_links a {
    color:#d7e4ff;
    cursor:pointer;
    display:block;
    padding:1px 0 0 26px;
}
#bebob_links a:hover {
    text-decoration:none;
}
#bebob-wrapper {
    width:180px;
    height: 13px;
    margin-top: -1px;
    overflow: hidden;
    float: left;
    color: #dbdbdb;
    font-family: 굴림, Arial, sans-serif;
    font-size: 12px;
    line-height: 14px;
}
#bebob-content {
    width: 180px;
    height: auto;
}
#bebob-content a {
    color: #446dbd;
    font-family: 돋움, Dotum, sans-serif;
    font-size: 11px;
    letter-spacing: -1px;
    text-decoration: none;
    margin: auto 1px;
}
#bebob-content a:hover, #bebob-content a:active  {
    color: #ff4800;
    text-decoration: underline;
}
#bebob-content .slide {
    width: 180px;
    height: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#bebob-link-warpper {
    height: 220px;
    padding: 2px 10px;
    overflow-y: auto;
}
#bebob-link-warpper ul {
    width: 320px;
    padding: 0px 4px;
}
#bebob-link-warpper li {
    float: left;
    width: 78px;
    padding: 6px 0 4px;
    background: transparent url(//www.saraminimage.co.kr/main/new/line_dot.gif) repeat-x bottom ;
    line-height: normal;
}
#bebob-link-warpper li.last {
    background: transparent none ;
}
#bebob-link-warpper li a {
    color: #1e4fb0;
    font-family: 돋움, Dotum, sans-serif;
    font-size: 11px;
    letter-spacing: -1px;
}
#bebob-link-warpper li a b {
    color: #3B6CC9;
}
#bebob_links .box {
    border: 1px #acbcdd solid;
    background-color: #ffffff;
    background-image: none;
}
#bebob_links .bebob_box1 {
    height: 25px;
    font-family: 돋움, Dotum, sans-serif;
    font-size: 11px;
    letter-spacing: -1px;
    padding: 3px 10px 0 12px;
    border-bottom: 1px #acbcdd solid;
    background-color: #d5e2f5;
}
#see_bebob_links.expanded {
    background-image: none;
}
#all_bebob_links {
    position: absolute;
    top: 64px;
    left: 0px;
    right: 0px;
    width: 338px;
    height: 279px; /*padding: 8px;*/;
    background: transparent none;
    scrollbar-face-color: white;
    scrollbar-shadow-color: #D2E5F4;
    scrollbar-highlight-color: #D2E5F4;
    scrollbar-3dlight-color: white;
    scrollbar-darkshadow-color: white;
    scrollbar-track-color: white;
    scrollbar-arrow-color: #D2E5F4;
}

#popular-keyword-wrapper {
    color: #d7e4ff;
    width:145px;
    font-family: 굴림, Arial, sans-serif;
    font-size: 12px;
    line-height: 14px;
    position:absolute;
    top:13px;
    right:145px;
    overflow:hidden;
    height:16px;
}

#popular-keyword-content {
    width: 150px !important;
    overflow: hidden;
    float: left;
}

#popular-keyword-wrapper #popular-keyword-content li a {
    text-decoration:none;
}
#popular-keyword-content .rank-icon-no {
    background: url(//www.saraminimage.co.kr/recruit/new/num_all.gif) no-repeat -3px 0 ;
    padding: 1px 0px 0 20px;
    width:71px;
    color:#d7e4ff;
    cursor:pointer;
    letter-spacing:-1px;
    display:block;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#popular-keyword-content .rank1 {
    background-position: -2px top;
}

#popular-keyword-content .rank2 {
    background-position: -2px -20px;
}

#popular-keyword-content .rank3 {
    background-position: -2px -40px;
}

#popular-keyword-content .rank4 {
    background-position: -2px -60px;
}

#popular-keyword-content .rank5 {
    background-position: -2px -80px;
}

#popular-keyword-content .rank6 {
    background-position: -2px -100px;
}

#popular-keyword-content .rank7 {
    background-position: -2px -120px;
}

#popular-keyword-content .rank8 {
    background-position: -2px -140px;
}

#popular-keyword-content .rank9 {
    background-position: -2px -160px;
}

#popular-keyword-content .rank10 {
    background-position: -2px -180px;
}

#popular-keyword-content .rank11 {
    background-position: -2px -200px;
}

#popular-keyword-content .rank12 {
    background-position: -2px -220px;
}

#popular-keyword-content .rank13 {
    background-position: -2px -240px;
}

#popular-keyword-content .rank14 {
    background-position: -2px -260px;
}

#popular-keyword-content .rank15 {
    background-position: -2px -280px;
}

#popular-keyword-content .rank16 {
    background-position: -2px -300px;
}

#popular-keyword-content .rank17 {
    background-position: -2px -320px;
}

#popular-keyword-content .rank18 {
    background-position: -2px -340px;
}

#popular-keyword-content .rank19 {
    background-position: -2px -360px;
}

#popular-keyword-content .rank20 {
    background-position: -2px -380px;
}

#popular-keyword-content .slide {
    width: 130px;
    height: 18px;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 11px;
    font-family: 돋움;
    position:relative;
}

#popular-keyword-content .slide sum {
    color: #939393;
}
#popular-keyword-content .slide .keyword {
    width: 82px;
    padding-left: 5px;
    overflow: hidden;
}

#popular-keyword-content .slide .rank-hidden  {
    visibility: hidden;
    width: 24px;
    position:absolute;
    right:0px;
    top:1px;
    color:#d7e4ff;
}

#popular-keyword-content .slide .rank-change  {
    width: 20px;
    position:absolute;
    right:0px;
    top:1px;
    color:#d7e4ff;
}
#popular-keyword-content .rank-icon-arrow {
    background: url(//www.saraminimage.co.kr/recruit/new/icon_all.gif) no-repeat 15px 0;
    width: 8px;
    height: 8px;
    position:absolute;
    right:24px;
    top:2px;
}
#popular-keyword-content .new {
    width:32px !important;
    right:4px !important;
    background-position: 0 2px;
}

#popular-keyword-content .up {
    background-position: 0 -30px;
}

#popular-keyword-content .down {
    background-position: 0 -60px;
}

#popular-keyword-content .same {
    background-position: 0 -87px;
}

#popular-keyword-list {
    position: absolute;
    top: 30px;
    right: 145px;
    width: 145px;
    background: transparent none;
    background:#fff;
    z-index:100;
}

#popular-keyword-list #popular-keyword-content li a:hover {
    color:#ff4800 !important;
}

#popular-keyword-list-warpper {
    height: auto;
    background: #fff;
    margin-left:10px;
    overflow:hidden;
}
#popular-keyword-list-warpper dl {
    width: 143px;
    font-family: 돋움, Dotum, sans-serif;
    font-size: 11px;
}

#popular-keyword-list-warpper dt {
    color: #555555;
    padding-top:2px;
    margin:0 5px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 27px;
    border-bottom: 1px solid #e0e0e0;
}

#popular-keyword-list-warpper dd {
    float: left;
    clear: both;
}

#popular-keyword-list-warpper ul {
    margin:15px 0px;

}

#popular-keyword-list-warpper li {
    float: left;
    clear: both;
    width: 78px;
    height: 20px;
}
#popular-keyword-list-warpper .up-date {
    color:#939393;
    margin:0 5px;
    padding-top:2px;
    line-height: 20px;
    border-top: 1px solid #e0e0e0;
    width:133px;
    float:left;
    text-align:center;
}

#popular-keyword-list .keyword-list-box {
    height: 25px;
    padding: 5px 0px 0px 0px;
}

#popular-keyword-list .title {
    color: #555555;
    font-family: 굴림, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 24px;
}

#popular-keyword-list .timeline {
    font-family:돋움, dotum, sans-serif;
    font-size:11px;
    color: #888888;
    text-align: center;
}

#AKCKwd { background: transparent none no-repeat 5px 6px; }


#member-menu,
#membership-menu {
    float: right;
    height: 15px;
    font-family: 돋움, Dotum, sans-serif;
    margin-top:5px;
    position:relative;
    z-index:300;
}
#AKCKwd.focused { background-image: none !important}
#membership-menu li {
    font-size:11px;
}
#membership-menu li span{
    color:#c8c8c8;
    font-weight:normal;
    letter-spacing:-3px;
}
#membership-menu li a {
    font-size: 11px;
    color: #777;
    letter-spacing:-1px;
}
#membership-menu li a:hover{
    text-decoration:none;
}
#membership-menu li.welcome {
    font-size: 11px;
    padding-left:7px;
    line-height:16px;
}
#membership-menu li.recruit-banner {
    margin-left:5px;
}
#membership-menu li.mobile {
    background:url('//www.saraminimage.co.kr/main/201106/icon_mobile.gif') no-repeat 0 4px;
    padding-left:9px;
    font-weight:bold;
}
#membership-menu .sub li.mobile {
    background:url('//www.saraminimage.co.kr/main/201106/icon_mobile.gif') no-repeat 0 4px;
    padding-left:9px;
    font-weight:normal;
}
#membership-menu li.albain {
    background:url('//www.saraminimage.co.kr/main/201106/icon_new.gif') no-repeat 0 4px;
    padding-left:10px;
    font-weight:bold;
}
#membership-menu .sub li.albain {
    background:url('//www.saraminimage.co.kr/main/201106/icon_new.gif') no-repeat 0 4px;
    padding-left:10px;
    font-weight:normal;
}
#membership-menu li.last {
    line-height:16px;
    padding-left:5px;
}
#membership-menu .name {
    color: #4f81e3;
    letter-spacing: -1px;
    font-weight: bold;
}


/* recruit-nav, job-cateogry-nav, area-nav */


#top_menu strong{font-weight:bold !important}

/*
#gnb .sub-opn {width: 260px; _width: 280px; padding-right: 0;}
#gnb ul.menu li.type2 a {display: inline-block;}
#gnb ul.menu li.type3 a {display: inline-block;}
#gnb .sub-opn .type2 {height: 50px;}
#gnb .sub-opn .type3 {height: 45px;}
#gnb .sub-opn .rct-lnk {left: 16px;}
*/
/* div#membership-guide */
#membership-guide {
    /*
    width: 132px;
    */
    margin-right:8px;
    float:right;
}
#membership-guide a {
    padding:8px 3px;
    display:block;
    float:left;
}
/* nagigation-bar */
#navigation-bar {
    width: auto;
    height: 20px;
    background: transparent url('//www.saraminimage.co.kr/main/new/gnbsub_bg.gif') repeat-x bottom ;
    text-align: left ;
    margin-bottom: 5px;
}
#conbiz-banner-wrapper {
    float: left;
    width: 158px;
    height: 17px;
    margin: 1px 0 0 12px;
    overflow: hidden;
}
#conbiz-banner-wrapper .slide {
    height: 14px;
    padding-top: 3px;
    line-height: 14px;
    color: #82b028;
    font-family: "돋움", Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: -1px;
}
#conbiz-banner-wrapper a:hover, #conbiz-banner-wrapper a:active,
#conbiz-banner-wrapper a {
    color: #82b028
}
#navigation-bar-menu {
    float: left;
    margin: 0 0 0 16px;
    padding : 0 0 6px 0;
    width: 695px;
    color: #666;
    font-family: 돋움, Dotum, sans-serif;
    font-size: 11px;
}
#navigation-bar-menu a {
    color: #666;
    font-family: 돋움, Dotum, sans-serif;
    font-size: 11px;
}
#navigation-bar-menu a.homepage {
    color: #666;
    text-decoration: underline;
}
/* Header }}} */
table#contentscontainer {
    width: 890px; table-layout: fixed ;
}
/* {{{ Sidebar  */
/* 20131202 LNB 개편
.sidebar-left-cell {
    background: #f5f8fe url(//www.saraminimage.co.kr/main/new/left_bg.gif) repeat-y ;
}
/*
#sidebar {
    float: left;
    width: 170px;
    background: #f5f8fe url(//www.saraminimage.co.kr/main/new/left_bg.gif) repeat-y ;
}
/* 20131202 LNB 개편
#sidebar h2 {
    height: 41px;
    font-size: 20px;
}
*/
#sidebar .banner-wrapper {
    text-align: center;
    padding: 20px 0 0;
}
#sidebar .navigation-menu a:visited {
    color:#386dd9;
}
#sidebar .navigation-menu a:active {
    color:#ff4800;
    font-weight: normal;
}
#sidebar .navigation-menu a:active .lspn {
    color:#ff4800;
    font-weight: normal;
}
#sidebar .navigation-menu a.new {
    padding-right : 15px;
    background : url("//www.saraminimage.co.kr/index/icon_new_01.gif") no-repeat 100% 30%;
}
#sidebar .navigation-menu a.hot {
    padding-right : 15px;
    background : url("//www.saraminimage.co.kr/index/icon_hot.gif") no-repeat 100% 30%;
}
#sidebar .navigation-menu a.up {
    padding-right : 20px;
    background : url("//www.saraminimage.co.kr/index/icon_up_01.gif") no-repeat 100% 30%;
}
#sidebar .navigation-menu a.new_button {
    padding-right : 25px;
    background : url("//www.saraminimage.co.kr/common/btn_new.gif") no-repeat 100% 30%;
}

#sidebar .tools-side-banner {
    width : 151px;
    height : 58px;
    margin-bottom: 5px;
    text-align: center;
    position: relative;
    background : url("//www.saraminimage.co.kr/salary/banner/leftmenu_open_calculator.gif") no-repeat;
}
#sidebar .popular-keyword-sidebar-container {position: relative;left:-1px;border-top:1px solid #e8e8e8;text-align:center;}

#sidebar .popular-keyword-sidebar-wrapper {overflow:hidden;background: transparent none ;padding-left:15px;text-align:left;}
#sidebar .popular-keyword-sidebar-wrapper ul{padding:15px 0px 10px;*padding-bottom:7px;height:auto;}

#sidebar .popular-keyword-sidebar-wrapper .title {
    min-height:16px; line-height:16px; color:#555;font-size:14px; font-weight:bold;word-spacing:1px;font-family:Malgun Gothic,"맑은 고딕","나눔고딕","Nanum Gothic","돋움","dotum";
    margin:17px 0 0 0;
}

#sidebar .popular-keyword-sidebar-wrapper .timeline {
    font-family:돋움, dotum, sans-serif;
    font-size:11px;
    color: #888888;
    margin:0px 0 17px 0;
}

#popular-keyword-totalsearch-sidebar {
    text-align: center;
    border: 1px #d7d7d7 solid;
}

#popular-keyword-totalsearch-sidebar .title {
    color: #555555;
    font-family: 굴림, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 24px;
}

#popular-keyword-totalsearch-sidebar .timeline {
    font-family:돋움, dotum, sans-serif;
    font-size:11px;
    color: #888888;
    text-align: center;
}

UL.navigation-menu span,
UL.navigation-menu span.h3 {
    display: block;
    padding: 10px 0 0 28px;
    font-size: 13px;
    font-weight: bold;
    height: 30px;
    background: #d4e2f5 url('//www.saraminimage.co.kr/main/new/point_01.gif') no-repeat 11px 10px;
}
UL.navigation-menu UL span {
    display: inline;
    padding: 0;
    font-size: 12px;
    font-weight: normal;
    height: auto;
    background: transparent none;
}
UL.navigation-menu ul {
    padding: 5px 0 ;
    margin-bottom: 4px;
}
UL.navigation-menu li li {
    color: #bebebe;
    padding-left: 28px;
    padding-top: 3px;
    font-size: 12px;
    line-height: 23px;
    letter-spacing: -1px;
    background: transparent url('//www.saraminimage.co.kr/main/new/point_02.gif') no-repeat 19px 11px
}
UL.navigation-menu .banner-img {
    padding-left: 5px;
    height: 55px;
    width: 165px;
    text-align: center;
    background: transparent none;
}
UL.navigation-menu UL UL {

}
UL.navigation-menu li li li,
UL.navigation-menu li li.subsubmenu {
    background: transparent none;
    padding-top: 0px;
    padding-bottom: 2px;
    vertical-align: top;
    line-height: 18px;
    font-family: 돋움, Dotum, sans-serif;
    font-size: 11px;
    color: #666666;
}
UL.navigation-menu li li li a,
UL.navigation-menu li li.subsubmenu a {
    color : #666666;
    font-family: 돋움, Dotum, sans-serif;
    font-size: 11px;
}
UL.navigation-menu li li.subsubmenu a:hover {
    color: #ff4800;
    text-decoration: underline;
}


UL.navigation-menu li span.up-img {
    width:14px;
    height:9px;
    margin-bottom: -5px;
    background:url(//www.saraminimage.co.kr/index/icon_up_01.gif) no-repeat;
}

UL.navigation-menu li span.persons-campaign {
    width:57px;
    height:17px;
    display: inline-block;
    vertical-align: middle;
    background:url(//www.saraminimage.co.kr/event_2011/5m_campaign/banner/icon_campaign.gif) no-repeat;
}

UL.navigation-menu li span.up-img-salary {

    color:#f5f8fe;
    background:url(//www.saraminimage.co.kr/index/icon_up_01.gif) no-repeat;
}

#sidewidget { position: static; width: 890px ; margin: auto; top: 0px ; }
#index_leftwing { position: absolute; right: 896px; top: 168px ; width: 100px; height:280px; text-align: right; }
#sub_event_leftwing { position: absolute; right: 896px; top: 315px ; width: 45px; text-align: right; }
#index_rightwing { position: absolute; left: 896px; top: 168px ; width: 45px; text-align: left; }
#sub_rightwing { position: absolute; left: 990px; top: 210px ; width: 45px; text-align: left; }
.sidewidget-absolute {top:361px !important;margin-left:511px !important;}
.sidewidget-absolute.career_1045_right {margin-left:554px !important;}
.sidewidget-fixed.career_1045_right {margin-left:554px !important;}
.sidewidget-fixed {margin-left:511px !important;}

.sub_rightwing { position: absolute; left: 990px !important; top: 191px ; width: 45px; text-align: left; }
#index_layer {  position: absolute; top: 458px; left: 445px; background: none; z-index: 1; }
#sidewidget {
    position: absolute;
    top: 302px;
    left: 896px;
    width: 45px;
    height: 80px;
    color: #feff8e;
}
#sidewidget.main {
    position: absolute;
    top: 318px;
    left: 896px;
    width: 45px;
    height: 80px;
    color: #feff8e;
}
#read-count {
    width: 45px;
    height: 80px;
    color: #741bb3;
    text-align: center;
    text-decoration: underline;
    letter-spacing: -1px;
    padding-top: 27px;
    display: block;
}
#sidewidget a, #side_widget a {
    font: 22px 맑은 고딕;
    color:#ff0033;
    text-decoration:underline;
    letter-spacing:-1px;
}
#sidewidget a:hover, #side_widget a:hover {
    color: #741bb3;
    text-decoration: underline;
}

#today_read_count {
    height:79px;
    background:url(//www.saraminimage.co.kr/main/new/q_01.gif) no-repeat;
    padding-top:29px;
    text-align:center;
}
#today_read_count a {
    letter-spacing: -1px;
    text-decoration: underline;
}

/*
#saramintools {
  padding-top: 3px;
  background: #82b028 url('//www.saraminimage.co.kr/main/new/today_bg_02.gif') no-repeat;
  text-align: center;
}
*/
.margin_control,.margin_control a{font-size:0px !important;line-height:0px !important;zoom:1;}
#sidewidget .q_n, #side_widget .q_n { font-size:12px; }

/* Sidebar }}} */
/* {{{ Footer */
#footer {
    margin: 12px 0 55px 0;
    width: 890px;
    text-align: left;
    position: relative;
}
#copyright-and-related {
    border: #d4d4d4 1px solid;
    padding: 1px;
    background-color: #fff;
}
#copyright-and-related div.inner {
    padding: 10px;
    background-color: #F1F1F1;
    text-align: center;
}

#copyright-and-related div.saramin-prize {
    background-color: #FFFFFF;
    width: auto;
    margin: 1px 0px 13px 0px;
}

#related-company {
    position: relative;
    height: 40px;
    width: auto;
    background-color: #fff;
    margin: 10px 9px 0;
    text-align: left;
}
#related-company ul {
    position: absolute;
    top: 0px;
    left: -3px;
    width: 855px;
}
#related-company li {
    padding: 11px 13px;
}



#daou_group {width:auto; background-color:#fff; height:20px; padding:10px 0; margin-top:10px;}

#foot-menu {
    color: #AEAEAE;
    margin: 5px 0;
    padding: 10px 0 8px 113px;
    height: 16px;
    font-size: 12px;
    font-family: 굴림, Arial, sans-serif;
    letter-spacing: -1px;
    word-spacing: 8px;
}
#foot-menu li {
    padding-right: 11px;
}
#foot-menu li.last {
    padding-right: 0px;
}
#foot-menu a {
    display: inline;
    color: #444;
    text-decoration: none;
}
#foot-menu a.policy {
    color: #ff4800;
}

/* Footer }}} */
#left-wing-banner {
    position: absolute;
    top: 170px;
    left: -80px;
    background: none;
    z-index: 1;
}
#right-wing-banner {
    position: absolute;
    top: 170px;
    left: 896px;
    background: none;
    z-index: 1;
}
#layer-banner {
    position: absolute;
    top: 458px;
    left: 446px;
    background: none;
    z-index: 1;
}
#resume-bar {
    width: 168px;
    position: fixed ;
}

#se-over-tbl {
    height:50px;
    width:152px;
    background: transparent url('//www.saraminimage.co.kr/recruit/recruit_view/new/layer_bg2.gif') repeat-y left center;
}
#simpleEditionText1 {
    font-family:"돋움, Arial, sans-serif;";
    font-size:11px;
    line-height:18px;
    letter-spacing:-1px;
    color:#444444;
    padding-bottom:11px
}
#simpleEditionText2 {
    font-family:"돋움, Arial, sans-serif;";
    font-size: 11px;
    line-height:12px;
    letter-spacing:-1px;
    font-weight:bold;
    color: #444444;
}

#login_page {
    width:789px;
    _width:890px;
}

.saramin_dream {position:absolute; bottom:5px; right:7px}

/* Footer Copyright */
#footer .copyright{ position: relative; margin: 0;padding: 19px 0 0 198px;_width: 100%;height: 49px;_height: 68px;text-align: left;background: url(//www.saraminimage.co.kr/ui/footer/bg_copyright.png) repeat-x;}
#footer .copyright .ci{ position: absolute; top: 18px; left: 61px;}
#footer .copyright .desc{ vertical-align: top;}

/* 서브 footer css 추가 */
.daougroup ul{zoom:1;margin:12px auto;}
.daougroup ul:after{display:block;visibility:hidden;clear:both;height:0;font-size:0;line-height:0;content:'.'}
.daougroup li{display:inline}

/* 서브 공채의명가 footer css 추가 */
.daougroup-gong ul{zoom:1; margin:12px 0 12px 10px}
.daougroup-gong ul:after{display:block;visibility:hidden;clear:both;height:0;font-size:0;line-height:0;content:'.'}
.daougroup-gong li{float:left;padding:0 1px}

/* main 개선사항 추가부분 */
/* left banner list */
/*.lt_bnr{width:164px;height:312px;overflow:hidden;position:relative}
.lt_bnr ul{width:880px;height:309px}
.lt_bnr li{float:left;width:175px;text-align:left}
.lt_bnr .btn_bnr{position:absolute;bottom:0;left:2px;width:164px;height:15px;text-align:center}
.lt_bnr .btn_bnr span{display:inline-block;width:auto;}
.lt_bnr a.bnr_li{display:block;float:left;width:13px;height:13px;background:url(//www.saraminimage.co.kr/main/1302_gp/btn_ltlist.gif) no-repeat 0 0;overflow:hidden;text-indent:9999em}
.lt_bnr a.bnr_li:hover{background:url(//www.saraminimage.co.kr/main/1302_gp/btn_ltlist_on.gif) no-repeat 0 0}
.lt_bnr .on a.bnr_li{background:url(//www.saraminimage.co.kr/main/1302_gp/btn_ltlist_on.gif) no-repeat 0 0}*/

/*#wrap_left{position:absolute;left:-183px;top:225px;*top:224px;height:312px;width:164px}*/

/* lnb 배너 추가 */
.adv-regist{height:auto !important;padding:0 !important}
.adv-bnr-type01{text-align:center;padding:0 0 15px;margin:0}
.adv-bnr-type02{text-align:center;padding:10px 0 15px;margin:0}

/* 알바인 인기검색어 */
#albaPopular {width: 162px;z-index:100;text-align:left;padding:1px 0; margin:25px auto 0;border-top:1px solid #e5e5e6;}
#albaPopular #popular-keyword-list-warpper {height: auto;background: #fff; padding:0 1px;}
#albaPopular #popular-keyword-list-warpper p {color:#888;font-size:11px;}
#albaPopular #popular-keyword-list-warpper p.tit{margin:15px 0;color:#555555;font-size:12px;font-weight:bold;line-height:18px;}
#albaPopular #popular-keyword-list-warpper ul {margin: 0px 0 4px 0;display:inline;}
#albaPopular #popular-keyword-list-warpper li {float: left;clear: both;width: 78px;height: 20px;}
#albaPopular #popular-keyword-content {overflow: hidden;float: left;}
#albaPopular #popular-keyword-content li a {text-decoration:none;}
#albaPopular #popular-keyword-content li a:hover {color:#444444; text-decoration:underline;}
#albaPopular #popular-keyword-content .rank-icon-no {background: url(//www.saraminimage.co.kr/albain_images/saramin/rank_num_all.gif) no-repeat -3px 0 ; padding: 1px 0px 0 20px;width:71px;color:#d7e4ff;cursor:pointer;letter-spacing:-1px;display:block;white-space: nowrap;overflow: hidden;}
#albaPopular #popular-keyword-content .rank1 {background-position: -2px top;}
#albaPopular #popular-keyword-content .rank2 {background-position: -2px -20px;}
#albaPopular #popular-keyword-content .rank3 {background-position: -2px -40px;}
#albaPopular #popular-keyword-content .rank4 {background-position: -2px -60px;}
#albaPopular #popular-keyword-content .rank5 {background-position: -2px -80px;}
#albaPopular #popular-keyword-content .rank6 {background-position: -2px -100px;}
#albaPopular #popular-keyword-content .rank7 {background-position: -2px -120px;}
#albaPopular #popular-keyword-content .rank8 {background-position: -2px -140px;}
#albaPopular #popular-keyword-content .rank9 {background-position: -2px -160px;}
#albaPopular #popular-keyword-content .rank10 {background-position: -2px -180px;}
#albaPopular #popular-keyword-content .slide {width: 140px;height: 18px;display: block;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;font-size: 11px;font-family:돋움, dotum, sans-serif;position:relative;}

/* 타이틀 추가 */
.tit-type-flex{width:100%;overflow:hidden;background:url(//www.saraminimage.co.kr/service/fun_movie/bg_top_normal.png) repeat-x 0 100%}
.tit-type-flex h3{float:left;padding:6px 0 8px;background:url(//www.saraminimage.co.kr/service/fun_movie/bg_top_heading.png) repeat-x 0 100%}
.tit-type-flex .cont_dang{display:block;float:right;width:111px;height:30px;margin-top:2px;background:url(//www.saraminimage.co.kr/evt/2012/s_subtitle.gif) no-repeat 0 0;text-indent:-3000em}
.tit-type-flex .cont_magazine{display:block;float:right;width:303px;height:15px;margin-top:12px;background:url(//www.saraminimage.co.kr/main/magazine/txt_magazine_top.png) no-repeat 0 0;text-indent:-3000em}
.rct_tit {height: 107px;margin-top: 40px;}

/* media query */
@media only screen and (min-width:1280px){
    .sidewidget-absolute.career_1045_right {margin-left:604px !important;}
    .sidewidget-fixed.career_1045_right {margin-left:604px !important;}
    .main-fixed {margin-left:603px;}
}

.rec-subtitle .more_newsflash a{position:static;font-size:11px;font-family:dotum,"돋움";color:#999999;font-weight:normal;letter-spacing:-1px;background:url('//www.saraminimage.co.kr/service/feedback/more_newsflash.png') right center no-repeat;padding-right:7px;}
.bbs_email_input{width:104px;height:23px;padding-top:2px;}
.subtxt01{padding:7px 0 5px 17px;color:#666;font-size:11px;font-family:dotum,'돋움';}
.tbl-rctnoti .ipt-txt{height:auto;}

/* 공채 알림마루 - 공채 합격족보 페이지 */
.alram_maru_tab{height:37px;background-color:#fafafa;padding:8px 17px;color:#888;font-size:12px;font-family:dotum;border-right:1px solid #eeeeee;border-left:1px solid #eeeeee;border-bottom:1px solid #eeeeee;word-spacing:-1px;}
.alram_maru_tab a{position:relative;}
.alram_maru_tab a img{position:absolute;top:-7px;left:8px;}
.bug-ie{display:none !important;*display:none !important;_display:block !important;}

/* 사이트 Footer > Nav */
.company_info_bar{background-color: #4868bf; position: relative; top: -1px; left: 0px; width: 100%; height: 28px;margin:0 auto;text-align:center;}
.company_info_bar ul{display:inline;margin:0 auto;text-align:center;}
.company_info_bar ul li{display:inline;list-style:none;position:relative;top:5px;}

/* 윈도우팝업(window.open)에서 게시판등을 감싸는 요소 */
.wrap_board_popup{padding: 30px 17px 20px;}
.wrap_board_popup .title{margin-bottom: 15px;height: 19px;line-height: 19px;line-height: 18px\0;font-size: 19px;font-family: Malgun Gothic, "맑은 고딕", nanumGothic, "나눔고딕"; letter-spacing: -1px;text-align: left;}
.wrap_board_popup .title strong{display: inline-block; *display: inline; *zoom: 1;font-weight: bold;color: #6d82f3; vertical-align: top;}

/* wmg-8439 인기검색어 고도화 s */
#popular-keyword-content .slide .date{position:absolute;top:1px;right:11px;width:32px;color:#888;text-align:center;}
#popular-keyword-content .rank_txt{width:86px;_width:106px;color:#444;}
#popular-keyword-content .whole_link{width:124px;_width:140px;}
/* //wmg-8439 인기검색어 고도화 e */