			
				* { margin:0; padding:0; }

html,body { width:100%; height:100%; text-align:left; font:80%/1.5 "DroidSerifBold", Georgia, Times New Roman, serif; color:#fff; }

html.subpage { background: #374248 url('../img/nocol-bg-vertical.gif') repeat-y top left; }
html.midcol { background:#374248 url('../img/bg-vertical.gif') repeat-y top left; }

body { min-width:1000px; background: url('../img/bghtml.gif') repeat-x top left; }

#wrapper {  position:relative; height:auto !important; height:100%; min-height:100%; min-width:1000px; }
html.subpage #wrapper { background:url('../img/sub-bg1.jpg') no-repeat top left; }
html.midcol #wrapper { background:url('../img/bg1.jpg') no-repeat top left; }

#content { padding:0 0 15em; overflow:hidden; }
	#skip { position:absolute; width:1px; height:1px; top:1em; left:1em; text-indent:-999em; }
	a { color:#fff; font-weight:normal; text-decoration:none; }

	#left { float:left; width:245px; padding:0; }
	
		ul#translate { list-style-type:none; height:19px; float:right; margin:6px 13px 0 0; }
			ul#translate li { float:left; width:22px; height:19px; }
			ul#translate li a { text-indent:-9999em; background:url('../img/language.png') no-repeat; display:block; width:22px; height:19px;}
			ul#translate li.french a { background-position:-22px 0; }
			ul#translate li.chinese a { background-position:-44px 0; }
			
		p#transmore { text-align:right; clear:right; float:right; font:1em/1em Arial, sans-serif; padding:3px 17px; }
		p#transmore a { text-decoration:underline; color:#f3d2ab; }
		p#transmore a:hover { color:#fff; }
	
		h1, p#logo { width:212px; height:153px; margin:55px 13px 0; }
			h1 a, p#logo a { display:block; width:212px; height:153px; text-indent:-9999em; background:url('../img/logo-green-orange.png') no-repeat; }
			h1 a:hover, p#logo a:hover { background-position:0 -153px; }
		
		ul#nav { list-style-type:none; font:2em "DroidSerifBold"; padding:26px 0 36px; }
			ul#nav > li { display:block; background:url('../img/divider1.png') no-repeat 24px 100%; }
			ul#nav > li > a { display:block; padding:5px 0 7px; color:white; text-shadow:1px 1px #a96b27; letter-spacing:-1px; text-transform:lowercase; margin-left:24px; }
			ul#nav li.active > a { color:#8b3501; text-shadow:1px 1px #d7a367; }
			ul#nav li a:hover { color:#ffe7c2; }
			ul#nav li.active > a:hover { color:#8b3501; }
				ul#nav ul { padding:11px 24px; list-style-type:none; margin-right:1px; background:#c67b26; border-top:1px solid #b46e1d; border-bottom:1px solid #d9a759; font-size:0.55em; }
				ul#nav ul li { margin-left:5px; background:url('../img/submenu-bullet.gif') no-repeat left center;  }
				ul#nav ul li a { display:block; padding:3px 0 3px 12px; text-shadow:1px 1px #a1601f; }
				ul#nav ul li a:hover {}
				ul#nav ul li.active a { color:#a9f37e; text-shadow:1px 1px #a3621f; }
				ul#nav ul li.active a:hover { color:#ffe7c2; }
		
		#download { color:#934211; font:1.2em/0.5em "DroidSerifBold"; vertical-align:baseline; text-align:center; text-shadow:1px 1px #dcaf6c; padding-right:1em; margin:0 24px; }
			#download a { display:block; background:url('../img/buttons.png') no-repeat top left; width:190px; height:51px; vertical-align:middle; color:#c4730e; letter-spacing:-1px; text-align:center; text-transform:lowercase; font:1.75em/51px "DroidSerifBold"; text-shadow:1px 1px #fcfcfc; }
			#download a:hover { background-position:0 -51px; color:#387f41; }
			#download span { font:1.5em/1em "DroidSerifBold"; }
		
	#midcol { float:left; width:197px; padding:24px 24px 0; font:1.25em/1.75em "DroidSerifRegular"; }
	
		#midcol ol#news { list-style-type:none; }
			#midcol ol#news li { background:url('../img/midcol-bullet.png') no-repeat 0 1em; padding:0 0 0.5em 15px; font:0.85em/1.5em "DroidSerifBold"; color:#a6b0b5; }
			#midcol ol#news li a { border-top:1px dotted #555555; color:#65da74; padding:0.5em 0; display:block; }
			#midcol ol#news li a:hover, #moremidcol a:hover { color:#a7f2b1; }
			#midcol ol#news li.first a { border-top:0; }
		
		#morenews a { font:1.25em/1.5em "DroidSerifBold"; color:#65da74; display:block; padding:1em 15px; text-transform:lowercase; }
	
	#main { min-width:462px; padding:24px 48px 0; font:1.25em/1.75em "DroidSerifRegular"; }
	html.subpage #main { margin-left:265px; padding:0 24px 0; }
	html.midcol #main { margin-left:490px; }
	
		#main ol#breadcrumbs { list-style-type:none; height:28px; font-family:"DroidSerifRegular",Arial,sans-serif; font-size:0.85em; line-height:28px; vertical-align:middle; margin:0; }
			ol#breadcrumbs li { display:inline-block; background:url('../img/breadcrumbs-bullet.gif') no-repeat left center; padding:0 5px 0 12px; }
			ol#breadcrumbs li.first { background:none; padding:0 5px 0 0; }
			ol#breadcrumbs li a { color:#7d7d7d; }
			ol#breadcrumbs li a:hover { color:#999; }
			ol#breadcrumbs li a.active { color:#b2b2b2; }
			ol#breadcrumbs li a.active:hover { color:#fff; }
		
		html.subpage h1, h2 { width:auto; height:auto; font:3em/1em "DroidSerifBold"; padding:1em 0 0.5em; letter-spacing:-2px; text-shadow:2px 2px #151a1d; margin:0; }
		html.subpage #main h2 { font-size:2em; line-height:1.75em; padding:0.5em 0; }
		html.subpage #midcol h2 { font-size:2em; padding:2em 0 0.5em; }
		html.home h2 { padding:1em 0 0.5em 0; }
		#main p, #main ul, #main ol { margin:0 0 1em 0; letter-spacing:0.075em; }
		#main ul, #main ol { margin:0 0 1em 2em; }
		#main span { color:#e2911e; }
		#main a { color:#65DA74; }
		#main a:hover { color:#a7f2b1; }
		
		#main h2 a { color:#fff; }
		code { font-size:1.5em; background:#262f35; }
		pre { background:#262f35; padding:1em; margin:1em; }
		
		p.post-info { font-size:0.85em; color:#8295a1; display:block; padding:0 0 1.5em 0; }
		
		#main .newspage-item { padding:1em 0; margin-bottom:1em; border-bottom:1px dashed #505f69; }
			#main .newspage-item h2 { padding:0; }
			#main .newspage-item p.post-info { padding:0; text-align:right; }
			#main .newspage-item p.readmore { display:block; font-family:"DroidSerifBold", Arial;  }
	
		#main ol.pageNav { list-style-type:none; overflow:hidden; font-family:"DroidSerifBold", Arial; }
		#main ol.pageNav li { float:left; }
		#main ol.pageNav li a { display:block; padding:0.25em 0.5em; font-size:1.5em; line-height:1.5em; }
		#main ol.pageNav li a.active { color:#a7f2b1; }
		#main ol.pageNav li.control a { font-size:1em; line-height:2.5em; vertical-align:middle; }
	
		#midcol form {}
			form#newsletter fieldset { border:0; }
			form#newsletter ol { list-style-type:none; }
			form#newsletter ol li { padding:0.5em 0 1.5em; font:0.85em/1.5em "DroidSerifBold"; color:#a6b0b5; }
			form#newsletter ol li.el { padding:0 0 0.5em 0; }
			form#newsletter ol li.sub { overflow:hidden; }
				form#newsletter ol li.sub button { float:left; margin-right:1em; }
				form#newsletter ol li.sub a { color:#65da74; font-weight:normal; vertical-align:middle; line-height:4em; display:block; }
				form#newsletter ol li.sub a:hover { color:white; }
					form#newsletter fieldset legend { display:block; color:#A6B0B5; padding:0; margin:0; width:185px; }
				form#newsletter fieldset label { vertical-align:middle; }
				form#newsletter fieldset label#emaillabel { display:block; }
				form#newsletter fieldset input {  }
				form#newsletter fieldset input#email { padding:3px 4px; width:175px; }
				form#newsletter ol li.el input { vertical-align:top; }
				form#newsletter fieldset button { padding:4px 12px; margin-top:0.5em; }
	
		p.success { color:#56e248; font-weight:bold; }
		p.error { color:#eb5c5c; font-weight:bold; }
	
#footer { font-size:1.1em; background:url('../img/footer-bg.png') repeat-x top left; height:10em; position:absolute; bottom:0; left:0; width:100%; }

	#share { float:left; padding: 17px 0 0 271px; }
		#share a { float:left; width:41px; height:34px; background:url('../img/fbtwrss.png') no-repeat 0 -34px; text-indent:-9999em; margin-right:5px; }
		#share a:hover { background-position:0 0; }
		#share a.twitter { background-position:-46px -34px; }
		#share a.twitter:hover { background-position:-46px 0; }
		#share a.gplus { background-position:-92px -34px; }
		#share a.gplus:hover { background-position:-92px 0; }
		#share a.rss { background-position:-138px -34px; }
		#share a.rss:hover { background-position:-138px 0; }
		
		#plusone { float:left; clear:left; width:106px; height:24px; margin:15px 0 0 276px; }
		
		p#copy { margin-top:20px; }
		p#copy, p#validate { color:#777; margin-left:520px; }
		p#validate a { color:#999; }
		p#validate a:hover { color:#fff; }
	
#SpawnAppsAppHtmlCode_NotePadPP {
     text-align: left !important;
}
	
/* Ecreate credits begin */	
	#ecCredit { position:relative; float:right; margin:-5em 2em 0 0; width:28em; height:13em; }
	#ecBG { display:none; position:absolute; bottom:3.5em; width:28em; height:0; border:1px solid #555759; border-bottom:0; background:#040607; opacity:0.95; border-top-right-radius:5px; border-top-left-radius:5px; -moz-border-top-right-radius:5px; -moz-border-top-left-radius:5px; z-index:10; }
	#ecLinkBG { display:none; position:relative; z-index:10; width:0; margin:0 auto; top:9.5em; height:3.5em; background:#16191b; border:1px solid #555759; border-bottom-right-radius:5px; border-bottom-left-radius:5px; -moz-border-bottom-right-radius:5px; -moz-border-bottom-left-radius:5px; }
	#ecSeeOurWork { position:absolute; top:-8px; right:13px; width:57px; height:75px; background:url('../img/ecreate.png') no-repeat 0 -79px; z-index:11; display:none; }
	#ecLink { position:absolute; bottom:0; left:0; width:28em; height:3.5em; z-index:20;  }
		#ecLink a { display:block; width:28em; height:3.5em; text-align:center; color:#a0a1a1; line-height:3.5em; vertical-align:middle; border:0; }
		#ecLink a span { text-indent:-9999em; display:inline-block; width:87px; margin:0 10px 1.35em; height:12px; line-height:3.5em; vertical-align:bottom; background:url('../img/ecreate.png') no-repeat; }
		#ecLink a:hover span, #ecLink a.active span { background-position:0 -12px; }
	#ecBox { display:none; position:absolute; width:28em; height:9.5em; z-index:15; top:0em; }
		#ecBox p { position:relative; top:0; left:0; width:18em; margin:2em 4em 1em 3em; }
			#ecBox p a { color:#a0a1a1; font-size:1.1em; font-family:"DroidSerifRegular", Georgia, Times New Roman, serif; }
		#ecBox ul { list-style-type:none; position:relative; margin:0; }
			#ecBox ul li { border:0; display:inline-block; margin:0; padding:0; }
			#ecBox ul li#ecURL, #ecBox ul li#ecTwitter, #ecBox ul li#ecFacebook { height:24px; line-height:24px; vertical-align:middle; }
			#ecBox ul li#ecTwitter, #ecBox ul li#ecFacebook { width:29px; }
			#ecBox ul li#ecURL { padding:0 2.5em 0 3em; }
			#ecBox ul li#ecURL a { color:#bbb; text-decoration:underline; font-size:1.1em; }
			#ecBox ul li#ecURL a:hover { color:#fff; }
			#ecBox ul li#ecTwitter a, #ecBox ul li#ecFacebook a { width:29px; padding:0; height:24px; display:block; text-indent:-9999em; background:url('../img/ecreate.png') no-repeat 0 -27px; }
			#ecBox ul li#ecTwitter a:hover { background-position:0 -51px;}
			#ecBox ul li#ecFacebook a { width:31px; height:27px; background-position:-29px -24px; margin-top:-3px; }
			#ecBox ul li#ecFacebook a:hover { background-position:-29px -51px; }
/* Ecreate credits end */		
	
	