@charset "shift_jis";

#ichiran_banner{
margin-top:22px;
margin-right:0px;
margin-bottom:10px;
margin-left:0px;
text-align:center;
}
#ichiran_banner .ichiran_banner_org img{
margin-top:0px;
margin-right:9px;
margin-bottom:0px;
margin-left:0px;
}
#ichiran_banner .ichiran_banner_afi img{
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
}
#ichiran_banner form{
	margin-top:10px;
	padding-top:0px;
	margin-bottom:0px;
	padding-bottom:0px;
}

#view_link_text table{
	margin-top:15px;
	margin-bottom:5px;
}
#view_link_friend{
	margin-top:15px;
}
#view_link_friend span{
	margin-bottom:3px;
}
#view_link_friend img{
	margin-top:0px;
	vertical-align:bottom;
}

#view_link_form form{
	margin:0px;
	padding:0px;
	text-align:center;
}

#view_banner{
	text-align:center;
	margin:16px 0px 16px 0px;
}
#view_banner img{
	border:0px;
	margin-top:20px;
	margin-right:0px;
	margin-bottom:20px;
	margin-left:0px;
}


.impact_banner {
	text-align:center;
	margin-top: 18px;
	margin-bottom: 4px;
}

.microad_banner {
	text-align:center;
	margin-top: 8px;
	margin-bottom: 24px;
}

/*-- サイドエリア用リサーチランキング --*/
#right_area .ranking_list {
	width: 180px;
	margin: 0px;
	padding:0px;
	border: solid 1px #666666;
	border-bottom:2px solid #003366;
	background: #ffffff;
}
#right_area .ranking_list.width200 {
	width: 198px;
}

#right_area .ranking_list .ttl_popular {
	color: #ffffff;
	font-weight: bold;
	text-indent: -9999px;
	background: #30436c url("/reverse/common/research/image/research_ranking.gif") no-repeat center center;
}
#right_area .ranking_list .ttl_popular_btm {
	background: #FFF;
	padding:2px 0px;
	text-align:center;
	/*height:24px;*/
	padding:5px 0px;
	border-bottom:1px solid #666666;
}
#right_area .ranking_list ol{
	margin: 0px;
	padding: 0px;
}
#right_area .ranking_list ol li {
	margin: 0px;
	padding: 0px;
	list-style: none;
	height: 35px;
	overflow: hidden;
	background: url("/reverse/image/ranking_bg.jpg") repeat-x left top;
	text-align:left;
	display:table;
	width:100%;
}
#right_area .ranking_list ol li p {
/*#right_area .ranking_list ol li a {*/
	/*display: block;*/
	display:table-cell;
	vertical-align:middle;
	height: 35px;
	padding: 0px 0px 0px 35px;
	border-spacing: 0px;
	border-collapse: collapse;
	text-align: left;
	font-size: 12px;
}
*:first-child+html #right_area .ranking_list ol li p {/* IE7 Hack */
	display: block;
	height: auto;
	margin:0px;
	margin-top:1px;
	padding-top:1px;
	line-height:1.2;
}
#right_area .ranking_list ol li p table,
#right_area .ranking_list ol li p table tr,
#right_area .ranking_list ol li p table tr td{
	border:0px;
	padding:0px;
	margin:0px;
	height:35px;
	border-collapse: collapse;
}

#right_area .ranking_list ol li p.num01 { background: url("/reverse/image/no_1.gif") no-repeat 10px 10px; }
#right_area .ranking_list ol li p.num02 { background: url("/reverse/image/no_2.gif") no-repeat 10px 10px; }
#right_area .ranking_list ol li p.num03 { background: url("/reverse/image/no_3.gif") no-repeat 10px 10px; }
#right_area .ranking_list ol li p.num04 { background: url("/reverse/image/no_4.gif") no-repeat 10px 10px; }
#right_area .ranking_list ol li p.num05 { background: url("/reverse/image/no_5.gif") no-repeat 10px 10px; }

#right_area .ranking_list .list_all {
	background: url("/reverse/user/otona/image/sankaku_shita.gif") no-repeat 13px center;
	border-top:1px solid #999999;
	margin:0px;
	padding: 4px 0px 4px 28px;
	text-align: left;
	font-size:12px;
}

#right_area .ranking_list .list_all a {
	font-size: 12px;
}

#right_area .ranking_list .list_all a:hover {
	text-decoration: none;
}

table.utanet_access_ranking td a {
	font-size: 12px;
}

/* 2013.03.19 ページングレイアウト変更 */
#page_link_area{
	margin:0px auto;
	line-height:1.5;
}

#page_link_area a{
	display: -moz-inline-box;
	display: inline-block;
	margin:2px;
	padding:3px 5px;
	border:1px solid #CCC;
	text-decoration:none;
	color:#0000FF;
}
#page_link_area a:active{
	color:#0000FF;
}
#page_link_area a:visited{
	color:#8000AA;
}
#page_link_area a:hover{
	background:#0000FF;
	cursor:pointer;
	color:#FFF;
}
#page_link_area span{
	display: -moz-inline-box;
	display: inline-block;
	font-size:14px;
	background:#E6E6E6;
	border:1px solid #CCC;
	padding:3px 5px;
	margin:2px;
	font-weight:bold;
}
#page_link_area a span{
	padding:0px;
	border:0px;
	margin:0px;
	font-weight:normal;
	background:transparent;
}

/* banner変更 追加 */
.banner728{
	width:728px;
	margin:20px auto 15px auto;
	margin-left:auto !important;
	margin-right:auto !important;
	text-align:center;
	font-size: 12px;
	line-height:1.2;
}


/** アルバムページスタイルここから **/
#album_menu ul{
	position:relative;
	margin:0px;
	padding:0px;
	text-align:left;
	height:28px;
	background:#FFF;
	margin-bottom:-6px;
	z-index:10;
	width:560px;
}
#album_menu ul li{
	margin:0px;
	padding:0px 0px 0px 0px;
	display:inline;
	line-height:28px;
}
#album_menu ul li.last{
	padding:0px;
}
#album_index{
	width:765px;
	padding:10px 0px 50px 0px;
	margin:0px auto;
}

#album_index table#navi_table{ /* 50音ナビ */
	width:765px;
	border:2px solid #555555;
	background:#21325C;
	padding:0px;
	margin:0px auto 10px auto;
	border-collapse: collapse;
}
#album_index table#navi_table th,
#album_index table#navi_table td{
	padding:0px;
	border:0px;
}
#album_index table#navi_table th{
	width:88px;
}
#album_index table#navi_table td{
	/*width:672px;*/
}
#album_index table#navi_table td table.navi_inner{
	float:right;
	border:0px;
	border-collapse: separate;
  border-spacing: 0px 0px;
}
#album_index table#navi_table td table.navi_inner td{
	padding:0px;
	border:1px solid #21325C;
	background-color:#EFEFEF;
	width:25px;
	height:25px;
	line-height:25px;
}
#album_index table#navi_table td table.navi_inner td a{
	display:block;
	font-size:14px;
}
#album_index table#navi_table td table.navi_inner td.bg1 { background: url(/reverse/user/search_index/bg_b.jpg) repeat-x left bottom; }
#album_index table#navi_table td table.navi_inner td.bg2 { background-color:#EFEFEF; }

#album_index table.album{ /* 50音ごとテーブル */
	width:765px;
	background-color:#FFF;
	border:2px solid #555555;
	margin:5px auto 25px auto;
	padding:0px;
	border-collapse: separate;
  border-spacing: 0px 0px;
}

#album_index table.album th{
	background-color:#FFF;
	border:0px;
	width:44px;
	font-size:12px;
	padding:0px;
}
#album_index table.album th img{
	border-right:2px solid #555555;
	border-bottom:2px solid #555555;
}

#album_index table.album td{
	background-color:#FFF;
	border:0px;
	width:172px;
	font-size:12px;
	padding:0px 0px;
	margin:0px;
}
#album_index table.album tr td div{
	text-align:left;
}


#album_index table.album td.top{
	padding-top:12px;
}

body:first-of-type #album_index table.album td.top{
	padding-top:12px;
}

#album_index table.album td.bottom{
	padding-bottom:12px;
}

body:first-of-type #album_index table.album td.bottom{
	padding-bottom:12px;
}

#album_index table.album td div{
	padding:0px;
	padding-right:12px;
	margin:0px;
}

#album_index table.album td.nodata{
	width:563px;
	font-size:12px;
	padding:12px 0px;
}

#album_index a:link { color:black; text-decoration:none; }
#album_index a:active { color:red; text-decoration:none; }
#album_index a:visited { color:brown;text-decoration:none; }
#album_index a:hover { color:red;text-decoration:underline; }


/* 右カラム統一。divタグでの区切り */
#album_contents{
	width:985px;
	margin:32px auto 10px auto;
	text-align:center;
	font-size:12px;
	position:relative;
}
#album_contents #pagetop {
	bottom: 0;
	height: 56px;
	margin: 0 0 0 792px;
	position: fixed;
}

#album_contents img{
	border:0px;
}
#album_contents .inner{
	margin:0px auto;
	background: url("/libs/img/common/bg_side_320.gif") repeat-y right top;
	text-align:center;
}
#album_contents .inner.bg180{
	background: url('/reverse/user/image/bg_side200.jpg') repeat-y 800px top;
}
#album_contents .inner.bg200{
	background: url('/reverse/user/image/bg_side200.jpg') repeat-y 600px top;
}
#album_contents .left{
	width:650px;
	border-top:6px solid #000;
	background:#ECECEC;
	padding:0px 0px 10px 0px;
	text-align:center;
	float:left;
}
#album_contents .left.namelist{
	width:792px;
}
#album_contents .left .album_header{
	background:#AAAAAA;
	height:40px;
	padding:10px 1px;
	text-align:left;
}
#album_contents .left .album_list{ /* アルバムのリスト */
	width:650px;
	padding:0px 0px;
	background:#EEEEEE;
	margin:10px auto;
}
#album_contents .left .album_list table.album_table{
	width:650px;
	border-bottom:5px solid #FF0000;
	border-collapse: separate;
  border-spacing: 0px 0px;
	background-color:#FFF;
	margin-bottom:10px;
}
#album_contents .left .album_list table.album_table th,
#album_contents .left .album_list table.album_table td{
	border:1px solid #555555;
	width:314px;
	text-align:left;
}
#album_contents .left .album_list table.album_table th.artist_name{
	padding-left:20px;
	text-align:left;
	border-right:0px;
	border-bottom:0px;
	background:#DDDDDD;
	line-height:28px;
	height:28px;
	font-size:14px;
}
#album_contents .left .album_list table.album_table th.artist_name a{
	font-size:14px;
	color:#333;
}
#album_contents .left .album_list table.album_table td.labal_name{
	padding-right:20px;
	border-left:0px;
	border-bottom:0px;
	text-align:right;
	background:#DDDDDD;
	line-height:28px;
	height:28px;
}
#album_contents .left .album_list table.album_table td.left_td{
	border-right:0px;
	vertical-align:top;
}
#album_contents .left .album_list table.album_table div.album_image{
	float:left;
	width:130px;
	padding:10px;
}
#album_contents .left .album_list table.album_table div.album_title{
	float:left;
	width:165px;
}
#album_contents .left .album_list table.album_table div.album_title p{
	margin:0px;
	padding-top:40px;
	min-height:40px;
	font-size:14px;
	font-weight:bold;
	color:#333;
	border-bottom:1px solid #888;
}
#album_contents .left .album_list table.album_table div.album_title dl{
	width:160px;
	margin:5px 0px;
	font-size:12px;
}
#album_contents .left .album_list table.album_table div.album_title dl dt{
	float:left;
	min-width:50px;
	margin:0px;
}
#album_contents .left .album_list table.album_table div.album_title dl dd{
	float:left;
	width:100px;
	margin:0px;
}
#album_contents .left .album_list table.album_table td ul.album_songs{
	margin:0px;
	padding:8px;
}
#album_contents .left .album_list table.album_table td ul.album_songs li{
	list-style:none;
	margin:0px;
}
#album_contents .right{
	width:300px;
	float:right;
	padding:0px 10px;
	text-align:center;
}
#album_contents .right.namelist{
	width:160px;
}
#album_contents .right .banner,
#album_contents .right .rank{
	width:300px;
	margin:10px auto 10px auto;
	font-size: 12px;
}
#album_contents .right.namelist .banner{
	width:160px;
}
/** アルバムページスタイルここまで **/


/* 画像先読み込み */
.overload{
	position:absolute;
	left:-9999px;
	top:-9999px;
}

/* ページトップへ戻る */
.to_top{
  margin: 0px auto;
	text-align: right;
	width: 820px;
}
.to_top.w800{
	width: 800px;
}