@charset "shift_jis";
*, body{
		font-family:'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN W3','メイリオ',Meiryo,sans-serif !important;
}
/* 新規フッタヘッダデザイン用margin。一覧ページ本番反映後にreset.cssへ移動 */
body {
	margin: 0px !important;
	-webkit-text-size-adjust: 100%; /* スマートフォン系対応。端末側で文字サイズを変えないように。 */
}
*+html body{
	margin: 0 !important;
}
*{
	max-height:999999px; /* android系対応。viewportのwidthが固定値の場合webkit-text-size-adjustが正しく動作しないのでこの記述が必要… */
}
img{
	border:0px;
}
/* ヘッダー */
#global_header{ width: 100%; text-align:left; background:#FFFFFF; }
*+html #global_header{ position:relative; z-index:50; } /* for IE7 */
#global_header{ position:relative\9; z-index:100\9; } /* for IE8 */
#global_header:not(:target){ width: 100%; position:static; z-index:10; } /* 上記以外 */

#global_header img{
	border:0px;
}
#nav-area2 ul, #nav-area2 ul li, #nav-area ul, #nav-area ul li, #global_header ul, #global_header ul li, 
#footer_map dl, #footer_map dt, #footer_map dd, #footer_map ul, #footer_map ul li,
#footer_links ul, #footer_links ul li{
	margin: 0;
	padding: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	vertical-align: baseline;
	list-style: none;
}

#h_top{
	height: 30px;
	color:#333;
	background:#FFF url("/libs/img/block/header_top_bg.jpg") repeat-x center bottom;
}
#h_top.movie_header{
	background:#333;
	color:#FFF;
}
#h_top .h_top_all{
	font-size: 12px;
	margin: 0 auto;
	width: 1020px;
}

#h_top h1{
	float: left;
	height: 30px;
	line-height: 30px;
	margin: 0;
	padding: 0;
	border: 0;
	font-style: inherit;
	font-size: 100%;
	vertical-align: baseline;
	font-weight:bold;
	text-indent:20px;
}
#h_top .h_top_all .link a{
	text-decoration:none;
}
#h_top .h_top_all .link a:hover{
	text-decoration:underline;
}
#h_top .h_top_all .link{ /* IE8 Hack */
	height: 30px;
	line-height: 30px;
}
#h_top .h_top_all .link:not(:target){ /* IE8 Hack */
	line-height: 28px;
}
#h_top .h_top_all .right a:visited{
	color:#333;
}
#h_top .sns_area{
	width:125px;
	padding:3px 15px 3px 0px;
	height:24px;
	line-height:24px;
	float: right;
}
#h_top .link{
	width:330px;
	float: right;
}
#h_top .sns_area li{
	display:inline;
	padding:0px 3px;
}
#h_top .link li{
	display:inline;
}
#h_top .link li a{
	color:#333;
}
#h_top.movie_header .link li a{
	color:#FFF;
}

#h_main{
	width:1000px;
	height: 125px;
	text-align: center;
	margin:0px auto;
	display:table; /* 2016.11.18 ページワン様側でロゴを変更するため、画像サイズ可変に対応 */
}
#h_main .logo{
	display:table-cell;
	vertical-align:middle;
	text-align:left;
	width: 210px;
	height:125px; /* 2016.11.18 ページワン様側でロゴを変更するため、画像サイズ可変に対応 */
	padding:0px 5px 0px 17px;
}
#h_main .movie_logo{
	display:table-cell;
	vertical-align:top;
	text-align:center;
	width: 190px;
	height:107px; /* 2016.11.18 ページワン様側でロゴを変更するため、画像サイズ可変に対応 */
	padding:18px 30px 0px 12px;
}
#h_main .header_banner{
	display:table-cell; /* 2016.11.18 ページワン様側でロゴを変更するため、画像サイズ可変に対応 */
	width: 728px;
	height: 90px;
	padding: 17px 0px 17px 20px;
}


#shim{
	display: none;
	position: absolute;
	z-index: 10;
}
#nav-area{
	clear:both;
	height: 38px;
	text-align: center;
	background: #003778 url('/libs/img/block/navi_menu_bg.png') repeat-x left top;
	font-size: 14px;
}
#nav-area .nav{
	position: relative;
	width:1000px;
	margin:0px auto;
	background: url('/libs/img/block/navi_menu_line.png') no-repeat left center;
	padding-left:1px;
}
.nav li {
	background: url('/libs/img/block/navi_menu_line.png') no-repeat right center;
	display: block;
	float: left;
	height: 38px;
	padding:0px 1px 0px 0px;
	min-width:54px;
	position: relative;
}
.nav li.oneleft {
	border-left: 1px solid #3D5877;
	padding: 0 17px 0 18px;
}
.nav li#menu_top { width:96px; }
.nav li#menu_search { width:116px; }
.nav li#menu_newsong { width:137px; }
.nav li#menu_ranking { width:120px; }
.nav li#menu_watafure { width:130px; }
.nav li#menu_timemachine { width:130px; }
.nav li#menu_otona { width:134px; }
.nav li#menu_movie { width:130px; }
.nav li a, .nav li a:link, .nav li a:active, .nav li a:visited {
	color: #ffffff;
	display: block;
	/*line-height: 36px;*/
	line-height: 36px;
	margin: 0px 0px;
	padding: 2px 1px 0px 0px;
	text-decoration: none;
	text-transform: none;
	text-align:center;
	font-size: 14px;
}

#nav-area ul.nav li:hover a, #nav-area ul.nav li.sfHover a,
#nav-area ul.nav li a:hover, #nav-area ul.nav li a.active {
	color:#FFF;
	background-color:#FF0000;
	padding-right:0px;
	margin-right:1px;
	/*color: #ff0000;*/
}
/* 上部一枠ごとのプルダウン */
#nav-area .nav li ul{
	display:none;
	background: #FFFFFF;
	color: #999999;
	border: 1px solid #FF0000;
	list-style: none;
	margin: 0px;
	padding:0px 0px 0px 0px;
	position: absolute;
	/*top: 42px;*/
	top: 38px;
	left: 0px;
	overflow:visible;
	z-index:100;
}
#nav-area .nav li ul li {
	margin:0px !important;
	padding: 0px;
	width:210px;
	border: 0;
	float: none;
	text-align:left;
	height:25px;
}

/* マウスオーバー時に有効になるクラス */
/*#nav-area li:hover ul,*/
#nav-area li.sfHover ul {
	overflow:visible;
	z-index:999;
}
/* プルダウン内一列 */
#nav-area li ul li a {
	display:block;
	overflow:visible;
	background: #FFF !important;
	color: #000000 !important;
	margin:0px !important;
	border: 0;
	padding:3px 6px 3px 3px;
	white-space: nowrap;
	text-decoration:none;
	text-align:left;
	font-size:12px;
	line-height:19px;
}
#nav-area li ul li a:hover {
	background: #BBBBBB !important;
	color: #FFFFFF !important;
}
/* プルダウン内一列ここまで */
/* 上部一枠ごとのプルダウンここまで */

/* グローバルメニュー二列目 */
#nav-area2{
	clear:both;
	background:#E6E6E6;
	background-image:none;
	clear:both;
	height: 32px;
	width: 100%;
	font-size:12px;
}
#nav-area2 ul{
	width:900px;
	margin:0px auto;
	height: 32px;
}
#nav-area2 ul li{
	display:inline;
	line-height: 32px;
	padding:5px 26px;
	border-right:1px solid #CCC;
}
#nav-area2 ul li:last-child{
	border-right:0px;
}
#nav-area2 ul li a{
	color:#333333;
	text-decoration:none;
}
#nav-area2 ul li a.active,
#nav-area2 ul li a:hover{
	color:#FF0000;
	text-decoration:none;
}
/* ヘッダーここまで */


/* フッター */
#footer_to_top{
	margin-top:30px;
	background:#444;
	height:37px;
	line-height:37px;
	border-bottom:1px solid #808080;
	text-align:center;
	font-size:14px;
	font-weight:bold;
}
#footer_to_top span{
	font-size:14px;
	line-height:37px;
}
#footer_to_top a{
	display:block;
	color:#CCC;
	text-align:center;
	text-decoration:none;
}
#footer_to_top a:hover{
	text-decoration:none;
}
#footer_to_top a span{
	padding:3px 0px 3px 24px;
	line-height:37px;
	background:url('/libs/img/block/footer_to_top.gif') no-repeat left center;
}

#footer_map{
	width: 100%;
	height:208px;
	background:#444;
	border-bottom:16px solid #DC0000;
	color:#FFF;
}
#footer_map div.inner{
	width:1000px;
	margin:0px auto;
	padding:30px 0px;
}
#footer_map dl{
	float:left;
	min-width:120px;
	padding-right:30px;
	padding-left:10px;
}
#footer_map dl dt{
	font-size:14px;
	height:20px;
	line-height:20px;
	font-weight:bold;
	color:#FFF;
	text-align:left;
}
#footer_map dl dt span{
	font-size:14px;
	border-bottom:2px solid #A2A2A2;
}
#footer_map dl dd{
	font-size:12px;
	padding:10px 0px;
	line-height:1.8;
	text-align:left;
}
#footer_map dl dd a{
	color:#FFF;
	text-decoration:none;
}
#footer_map dl dd a:hover{
	text-decoration:underline;
}

#footer_bottom{
	padding:10px 0px 15px 0px;
}

#footer_links{
	padding:0px 0px 5px 0px;
	text-align:center;
	font-size: 12px;
}
#footer_links ul{
	display:inline;
}
#footer_links ul li{
	display:inline;
	padding:0px 5px;
	font-size: 12px;
}
#footer_text{
	padding:10px 0px 3px 0px;
	text-align:center;
	font-size: 12px;
}
#footer_copy{
	padding:5px 0px 0px 0px;
	text-align:center;
	line-height:1.5;
	width: 100%;
}
#footer_copy p.copyright{
	width:100%;
	text-align:center;
	font-size: 12px;
	line-height:1em;
	padding-bottom:20px;
	margin:0px;
}
/* フッターここまで */



/* 404 ページ */
#not_found{
	margin:42px auto 30px auto;
	width:898px;
	height:598px;
	background:url('/libs/img/notfound/notfound.png') no-repeat center;
	border:1px solid #999;
}
#not_found h2{
	text-align:center;
	padding-top:50px;
	font-size:30px;
	font-weight:bold;
}
#not_found p.sub_txt{
	text-align:center;
	font-weight:bold;
	font-size:28px;
	color:#999;
	padding:10px 0px;
}
#not_found p.sorry{
	padding-top:330px;
	text-align:center;
	font-size:14px;
	line-height:1.8;
}

/* PC SP切り替え */

#sp_switch{
	font-size:12px;
	margin:5px 0px 0px 0px;
	text-align:center;
}
#sp_switch a{
	font-size:12px;
}
#sp_switch span{
	font-size:12px;
	font-weight:bold;
}