@import 'style.css?20150401';
@import 'add_style.css?20150401';
@import 'side_ranking.css?20150401';

body{
	margin-top:0px;
	padding-top:0px;
}

.txt14 {
	font-size: 14px;
	line-height: 18px;
	text-align: right;
}
