@charset "shift-jis";
/* 右側ランキング用CSS since 2012.10.29 */
#rank_favo_artist{
	border-bottom:2px solid #003366 !important;
}

.utanet_access_ranking table td,
#rank_favo_artist td,
#ranking_daily_access table td,
#ranking_daily_access table th,
#ranking_karaoke_enka td,
#ranking_karaoke_enka td span,
#ranking_weekly_enka td{
	font-size:12px;
	line-height:1.2;
	text-align:left;
}
.utanet_access_ranking table td.ellipsis a,
#ranking_daily_access table td.ellipsis a,
#rank_favo_artist td.ellipsis a,
#rank_review td a.ellipsis{
	max-width:145px;
	width/*\**/:145px\9;
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-align:left;
	float:left;
}
*:first-child+html .ellipsis{
	padding-top:2px;
	line-height:1;
}
*:first-child+html .ellipsis a{
	line-height:16px;
	padding:0px;
}

#rank_favo_artist td.ellipsis2 a{ /* マイ歌ネット用 */
	max-width:155px;
	width/*\**/:155px\9;
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	float:left;
}

#ranking_daily_access table td a.more_link,
.utanet_access_ranking table td a.more_link,
#rank_favo_artist td a.more_link{
	background:url('/reverse/user/otona/image/sankaku_shita.gif') no-repeat 12px center;
	line-height:14px;
	font-size:14px;
	padding-left:27px;
}

#ranking_karaoke_enka td.ellipsis a,
#ranking_weekly_enka td.ellipsis a{
	max-width:145px;
	width/*\**/:145px\9;
	display:block;
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-align:left;
	float:left;
}
#ranking_karaoke_enka td.ellipsis{
	line-height:1.1;
}

#rank_watafure_artist td.ellipsis a{
	max-width:124px;
	width/*\**/:124px\9;
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	float:left;
}

/* 2012.12.12 レイアウトをTOPのリアルタイムと注目度に合わせる */
#ranking_daily_access table.ranking_footer,
.utanet_access_ranking table.ranking_footer{
	border-bottom:2px solid #003366 !important;
}

/* 2014.06.16 幅200対応 */
.side_banner200,
.side_rank200{
	width:200px;
	margin:10px auto;
	text-align:center;
	font-size: 12px;
	line-height:1.2;
}
.side_banner200 a:link, .side_rank200 a:link{color:blue;text-decoration:none;}
.side_banner200 a:active, .side_rank200 a:active{ color:red; text-decoration:underline; }
.side_banner200 a:visited, .side_rank200 a:visited{color:purple;text-decoration:none;}
.side_banner200 a:hover, .side_rank200 a:hover{color:red;text-decoration:underline;}

.side_rank200 #ranking_karaoke_enka td.ellipsis a,
.side_rank200 #ranking_weekly_enka td.ellipsis a{
	max-width:160px;
	width/*\**/:160px\9;
}

/* 2015.03.09 幅300対応 */
.side_banner300,
.side_rank300,
.side_rank_300,
.side_contents{
	width:300px;
	margin:10px auto;
	text-align:center;
	font-size: 12px;
	line-height:1.2;
}
.side_banner300 a:link, .side_rank300 a:link, .side_rank_300 a:link{color:blue;text-decoration:none;}
.side_banner300 a:active, .side_rank300 a:active, .side_rank_300 a:active{ color:red; text-decoration:underline; }
.side_banner300 a:visited, .side_rank300 a:visited, .side_rank_300 a:visited{color:purple;text-decoration:none;}
.side_banner300 a:hover, .side_rank300 a:hover, .side_rank_300 a:hover{color:red;text-decoration:underline;}

.side_rank300 #ranking_karaoke_enka td.ellipsis a,
.side_rank300 #ranking_weekly_enka td.ellipsis a,
.side_rank_300 #ranking_karaoke_enka td.ellipsis a,
.side_rank_300 #ranking_weekly_enka td.ellipsis a{
	max-width:260px;
	width/*\**/:260px\9;
}

/* 2015.03 table組み→div組みに変更 以降こちらに移管してゆく */
div.side_ranking_box,
div.side_contents_box,
div.side_research_box{
	box-sizing:border-box;
}
div.side_ranking_box,
div.side_contents_box,
div.side_research_box{	/* 親boxの幅に合わせてしまう。親にはside_rank300とか居るハズ */
	width:100%;
	border:1px solid #000;
	border-bottom:4px solid #000;
	background-color:#FFF;
}
div.side_ranking_box p,
div.side_contents_box p,
div.side_research_box p{
	margin:0px;
}
div.side_ranking_box p.ttl{
	background:#000 url('/libs/img/common/side/bg_crown.png') no-repeat 10px center;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	height: 39px;
	line-height: 39px;
	margin:0px !important;
	padding-left: 40px !important;
	text-align:left !important;
}
.side_rank200 div.side_ranking_box p.ttl{
	font-size:12px;
	text-align:left !important;
}
div.side_ranking_box p.ttl span.red,
div.side_research_box p.ttl span.red{
	color:#FF0000;
	font-size:12px;
	padding-left:0.5em;
}
div.side_ranking_box p.ttl span.gray,
div.side_research_box p.ttl span.gray{
	color:#999999;
	font-size:12px;
	padding-left:0.5em;
}
.side_rank200 div.side_ranking_box p span,
.side_rank200 div.side_contents_box p span,
.side_rank200 div.side_research_box p span{ /* 200の場合は幅が足りないので非表示にしておく */
	display:none;
	
}
div.side_ranking_box ol{
	margin:0px;
	padding:0px;
	width:100%;
}
div.side_ranking_box ol li{
	list-style:none;
	height:39px;
	line-height:39px;
	text-align:left;
	padding:5px 5px 5px 55px;
	border-bottom:1px solid #BBBBBB;
}
div.side_ranking_box ol li.no1{ background:url('/libs/img/common/side/no_1.gif') no-repeat 13px center; }
div.side_ranking_box ol li.no2{ background:url('/libs/img/common/side/no_2.gif') no-repeat 13px center; }
div.side_ranking_box ol li.no3{ background:url('/libs/img/common/side/no_3.gif') no-repeat 13px center; }
div.side_ranking_box ol li.no4{ background:url('/libs/img/common/side/no_4.gif') no-repeat 13px center; }
div.side_ranking_box ol li.no5{ background:url('/libs/img/common/side/no_5.gif') no-repeat 13px center; }

div.side_ranking_box ol li dl{
	width:100%;
	margin:0px;
}
div.side_ranking_box ol li dl dt,
div.side_ranking_box ol li dl dd{
	display:table;
	table-layout:fixed;
	width:100%;
	margin:0px;
	padding:0px;
	height:20px;
	line-height:1.2;
}
div.side_ranking_box ol li dl dt p,
div.side_ranking_box ol li dl dd p{
	width:100%;
	display:table-cell;
	vertical-align:middle;
	font-size:13px;
	/* リキッドレイアウト */
	white-space:nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-align:left !important;
}
div.side_ranking_box p.more,
div.side_contents_box p.more,
div.side_research_box p.more {
	background: none repeat scroll 0 0 #fff;
	font-size: 14px;
	font-weight: bold;
	height: 28px;
	line-height: 28px;
	padding: 0 5px !important;
	margin:0px !important;
	text-align: right !important;
}
div.side_ranking_box p.more a,
div.side_contents_box p.more a,
div.side_research_box p.more a {
	background: url("/libs/img/movie/more_right.png") no-repeat scroll right 5px rgba(0, 0, 0, 0);
	color: #333;
	padding-right: 8px;
}
div.side_ranking_box p.link{
	text-align:center;
	margin:0px !important;
	padding:4px 0px !important;
}
div.side_ranking_box p.link a {
	display:inline-block;
	width:110px;
	height:28px;
	line-height:28px;
	text-align:center;
	background:#888;
	border:1px solid #000;
	font-weight:bold;
	color:#FFF;
	font-size:14px;
}
.side_rank200 div.side_ranking_box p.link a {	/* 旧レイアウト対応。 */
	width:80px;
}
div.side_ranking_box p.link a:hover{
	text-decoration:none;
}
/* 人気リサーチタグBOX */
div.side_research_box{
}
.side_research_box a:link{color:blue;text-decoration:none;}
.side_research_box a:active{ color:red; text-decoration:underline; }
.side_research_box a:visited{color:purple;text-decoration:none;}
.side_research_box a:hover{color:red;text-decoration:underline;}

div.side_research_box p.ttl{
	background:#000 url('/libs/img/common/side/bg_exclamation.png') no-repeat 10px center;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	height: 39px;
	line-height: 39px;
	margin:0px !important;
	padding-left: 40px !important;
	text-align:left !important;
}
div.side_research_box ul{
	margin:0px !important;
	padding:10px !important;
	text-align:left;
	border-bottom:1px solid #BBBBBB;
	height:243px;
}
div.side_research_box ul li{
	list-style:none;
	display:inline;
	padding:0px 5px 0px 0px;
	line-height:1.4;
}
div.side_research_box ul li a.size_l{
	font-size: 18px;
	font-weight: bold;
}
div.side_research_box ul li a.size_m{
	font-size: 16px;
	font-weight: bold;
}
div.side_research_box ul li a.size_s{
	font-size: 14px;
}

/* 動画ランキング /libs/css/movie.cssとほぼ同じのはず */
/* ランキング上位5位ここから */
.side_rank_movie{
	font-size:12px;
}
.side_rank_movie a:link{color:blue;text-decoration:none;}
.side_rank_movie a:active{ color:red; text-decoration:underline; }
.side_rank_movie a:visited{color:purple;text-decoration:none;}
.side_rank_movie a:hover{color:red;text-decoration:underline;}

.side_rank_movie .hidden{
	display:none;
}
.side_rank_movie p, .side_rank_movie dl, .side_rank_movie dl dt, .side_rank_movie dl dd,
.side_rank_movie ul, .side_rank_movie ol, .side_rank_movie ul li, .side_rank_movie ol li{
	margin:0px;
	padding:0px;
	text-align:left;
	list-style:none;
}
.side_rank_movie .ranking{
	width:298px;
	margin:15px auto;
	border:1px solid #000;
	border-bottom-width:5px;
}
.side_rank_movie .ranking p.ttl{
	height:38px;
	line-height:38px;
	font-weight:bold;
	color:#FFF;
	font-size:14px;
	background:#000 url('/libs/img/movie/crown_bk.png') no-repeat 5px center;
	padding-left:35px;
}
.side_rank_movie .ranking p.ttl span{
	font-size:10px;
	padding-left:1em;
	color:#BBBBBB;
}
.side_rank_movie .ranking ol{
	background:#FFF;
}
.side_rank_movie .ranking ol li{
	position:relative;
	height:82px;
	border-bottom:1px solid #BBBBBB;
}
.side_rank_movie .ranking ol li p.mv{
	float:left;
	width:110px;
	padding:7px 0px;
	text-align:center;
}
.side_rank_movie .ranking ol li p.order{
	float:left;
	width:24px;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	padding-top:18px;
	color:#AAAAAA;
	line-height:1em;
}
.side_rank_movie .ranking ol li dl{
	float:left;
	width:150px;
	padding:14px 5px 0px 5px;
}
.side_rank_movie .ranking ol li dl a{
	display:block;
}
.side_rank_movie .ranking ol li dl:hover a{
	color:#FF0000;
	text-decoration:underline;
	cursor:pointer;
	background:#FFF !important;
}
.side_rank_movie .ranking ol li dl dt{
	line-height:1.3;
}
.side_rank_movie .ranking ol li dl dt.ellipsis a{
	width:150px;
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}
.side_rank_movie .ranking ol li dl dd{
	line-height:1.3;
}

.side_rank_movie .ranking ol li dl dd p.txt{
}
.side_rank_movie .ranking ol li dl dd p.cnt{
}
.side_rank_movie .ranking p.more{
	background:#FFF;
	font-size:14px;
	font-weight:bold;
	text-align:right;
	height:31px;
	line-height:31px;
	padding:0px 5px;
}
.side_rank_movie .ranking p.more a{
	background:url('/libs/img/movie/more_right.png') no-repeat right 5px;
	padding-right:8px;
	color:#333;
}
.side_rank_movie #daily.ranking{ border-color:#000000; }
.side_rank_movie #daily.ranking p.ttl{ background:#000000 url('/libs/img/movie/crown_bk.png') no-repeat 5px center; }
.side_rank_movie #daily.ranking p.ttl span{ color:#FF0000; font-size:12px; }
.side_rank_movie #hot.ranking{ border-color:#00357A; }
.side_rank_movie #hot.ranking p.ttl{ background:#00357A url('/libs/img/movie/crown_b.png') no-repeat 5px center; }
.side_rank_movie #karaoke.ranking{ border-color:#00357A; }
.side_rank_movie #karaoke.ranking p.ttl{ background:#00357A url('/libs/img/movie/crown_b.png') no-repeat 5px center; }
.side_rank_movie #enka.ranking{ border-color:#4a0067; }
.side_rank_movie #enka.ranking p.ttl{ background:#4a0067 url("/libs/img/movie/crown_p.png") no-repeat 5px center; }
.side_rank_movie #artist.ranking{ border-color:#000; }
.side_rank_movie #artist.ranking p.ttl{ background:#000 url('/libs/img/movie/crown_bk.png') no-repeat 5px center; }
.side_rank_movie .ranking div.mv_load{
	position:absolute;
	/*display:none;*/
	text-align:center;
	font-size:12px;
	left:0px;
}
.side_rank_movie .ranking ol li div.mv_load{
	background:#FFF;
	width:296px;
	height:86px;
}
.side_rank_movie .ranking ol li div.mv_load img,
.side_rank_movie .ranking ol li div.mv_load .nomovie{
	margin-top:31px;
}

/* 今日のうたランキング 2016.04.15 add */
div.side_contents_box p, div.side_contents_box li, div.side_contents_box ul,
div.side_contents_box dl, div.side_contents_box dd{
	list-style:none;
	margin:0px;
	padding:0px;
}
.side_contents_box a:link{color:blue;text-decoration:none;}
.side_contents_box a:active{ color:red; text-decoration:underline; }
.side_contents_box a:visited{color:purple;text-decoration:none;}
.side_contents_box a:hover{color:red;text-decoration:underline;}

div.side_contents_box#todaysong{
	padding-bottom:3px;
}
div.side_contents_box#todaysong p.ttl{
	background:#000 url('/libs/img/common/side/bg_today.png') no-repeat left center;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	margin:0px !important;
	/*padding-left: 40px !important;*/
	text-align:left !important;
	text-indent:-9999px;
}
div.side_contents_box#todaysong ul{
	list-style: none;
	margin: 0;
	padding: 0;	
	margin-bottom:4px;
}
div.side_contents_box#todaysong ul li{
	margin:0px 8px;
	border-bottom:1px solid #CCC;
}
div.side_contents_box#todaysong ul li dl{
	display:table;
	table-layout:fixed;
	width:100%;
}
div.side_contents_box#todaysong ul li dl dt{
	display:table-cell;
	width:80px;
	height:80px;
	padding:6px 0px;
	vertical-align:middle;
	text-align:center;
}
div.side_contents_box#todaysong ul li dl dt a{
	display:table-cell;
	width:80px;
	height:80px;
	vertical-align:middle;
	text-align:center;
}
div.side_contents_box#todaysong ul li dl dt a img{
	width:auto;
	height:auto;
	max-width:80px;
	max-height:80px;
}
div.side_contents_box#todaysong ul li dl dd{
	display:table-cell;
	padding:6px 0 6px 6px;
	vertical-align:top;
	text-align:left;
	line-height:1.3;
}
div.side_contents_box#todaysong ul li dl dd p.artist{
	font-size:13px;
	font-weight:bold;
	color:#000;
	/*min-height:30px;*/
	padding:5px 0px;
}
div.side_contents_box#todaysong ul li dl dd p.artist img{
	vertical-align:baseline;
	border:0px;
}
div.side_contents_box#todaysong ul li dl dd p.title{
	font-size:12px;
}
/* 今日のうたランキング ここまで */

/* ライブレポートサイドコンテンツ ここから 2016.04.19 add */
div.side_contents_box#sidereport p.ttl{
	background:#000 url('/libs/img/common/side/bg_report.png') no-repeat left center;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	margin:0px !important;
	/*padding-left: 40px !important;*/
	text-align:left !important;
	text-indent:-9999px;
}
div.side_contents_box#sidereport ul{
	list-style: none;
	margin: 0;
	padding: 0;	
	margin-bottom:4px;
}
div.side_contents_box#sidereport ul li{
	margin:0px 7px;
	border-bottom:1px solid #CCC;
}
div.side_contents_box#sidereport ul li dl{
	display:table;
	table-layout:fixed;
	width:100%;
}
div.side_contents_box#sidereport ul li dl dt{
	display:table-cell;
	width:120px;
	height:80px;
	padding:8px 0px;
	vertical-align:middle;
	text-align:center;
}
div.side_contents_box#sidereport ul li dl dt a{
	display:table-cell;
	width:120px;
	height:80px;
	vertical-align:middle;
	text-align:center;
}
div.side_contents_box#sidereport ul li dl dt a img{
	width:auto;
	height:auto;
	max-width:120px;
	max-height:80px;
}
div.side_contents_box#sidereport ul li dl dd{
	display:table-cell;
	padding:9px 0px 0px 6px;
	vertical-align:top;
	text-align:left;
	line-height:1.2;
  word-wrap : break-word;
  overflow-wrap : break-word;
	word-break:break-all;/**/
}
div.side_contents_box#sidereport ul li dl dd p.artist{
	font-size:13px;
	font-weight:bold;
	color:#000;
}
div.side_contents_box#sidereport ul li dl dd p.artist img{
	vertical-align:baseline;
	border:0px;
}
div.side_contents_box#sidereport ul li dl dd p.title{
	font-size:12px;
	padding-top:3px;
}
div.side_contents_box#sidereport ul li dl dd p.stage{
	font-size:11px;
	color:#888888;
	padding-top:3px;
	padding-left:2px;
}



/* ライブレポートサイドコンテンツ ここまで */

/* 縦長バナー 2015.03.18 add */
.side_banner160{
	width:160px;
	margin:10px auto;
	text-align:center;
	font-size: 12px;
	line-height:1.2;
}
.side_banner160 a:link{color:blue;text-decoration:none;}
.side_banner160 a:active{ color:red; text-decoration:underline; }
.side_banner160 a:visited{color:purple;text-decoration:none;}
.side_banner160 a:hover{color:red;text-decoration:underline;}
