@charset "shift_jis";
/*
  Created on : 2015/02/27, 15:10:41
  Author     : creft
  歌ネット総合TOP用スタイル
*/
body, html{
	font-size:12px;
}
@media print {
	// コトバのキモチは印刷できないようにする
	#main_contents #contents_body #watafure_area{
		display:none;
	}
}

img{ border:0px; }
#welcome_area{
	width:980px;
	margin:16px auto 6px auto;
}
#welcome_area .login_name{
	float:left;
	width:645px;
}
#welcome_area .information{
	float:right;
	width:320px;
	text-align:left;
}
#welcome_area .login_name span,
#welcome_area .information span{
	background:url('/reverse/image/top_triangle.gif') no-repeat left center;
	padding-left:10px;
	line-height:1em;
}

#main_contents{
	width:980px;
	margin:0px auto;
	background:url('/libs/img/common/bg_side_320.gif') repeat-y right top;
}

#main_contents #main_image{
	width:980px;
	margin-top:8px;
	padding:0px 0px 16px 0px;
}
#main_contents #main_image .left_box{
	float:left;
	width:645px;
	height:300px;
	/*background:#000;*/
	padding:0px 0px;
	text-align:center;
}
#main_contents #main_image .left_box img{
}

/* 検索フォームエリア */
#main_contents #main_image .search_box{
	float:right;
	width:310px;
	min-height:290px;
	border:5px solid #000;
	background:#999;
}
#main_contents #main_image .search_box div.title{
	padding:13px 20px;
	height:25px;
}
#main_contents #main_image .search_box div.title h2{
	float:left;
	width:190px;
	margin:0px;
	padding:0px;
}
#main_contents #main_image .search_box div.title p{
	float:right;
	width:24px;
	margin:0px;
	padding:0px;
}
#main_contents #main_image .search_box form#search_form{
	padding:0px 20px;
}
#main_contents #main_image .search_box form#search_form input.search_input{
	width:202px;
	height:26px;
	background:url('/libs/img/index/search_input_bg.png') no-repeat left top;
	padding:0px 2px;
	border:1px solid #333;
	vertical-align:bottom;
}
#main_contents #main_image .search_box form#search_form input.search_submit{
	height:28px;
	width:62px;
	/*background:url('/libs/img/index/search_submit.png') no-repeat;
	border:0px;
	color:#FFFFFF;*/
}
#main_contents #main_image .search_box form#search_form div.search_select{
	background:#CCC;
	margin-top:6px;
}
#main_contents #main_image .search_box form#search_form div.search_select p{
	float:left;
	height:20px;
	line-height:20px;
	width:110px;
	text-align:center;
	margin:0px;
	padding:0px;
	margin:3px 0px;
	color:#FFF;
	font-weight:bold;
}
#main_contents #main_image .search_box form#search_form div.search_select select{
	float:right;
	width:150px;
	height:21px;
	margin:3px;
}

#main_contents #main_image .search_box ul.search_list{
	margin:10px auto 11px auto;
	padding:0px;
	width:270px;
	height:84px;
	border:1px solid #343434;
	border-right:0px;
	border-bottom:0px;
}
#main_contents #main_image .search_box ul.search_list li{
	float:left;
	width:134px;
	height:27px;
	line-height:27px;
	list-style:none;
	margin:0px;
	padding:0px;
	background:#FFF url('/libs/img/index/search_list_bg.png') repeat-x left bottom;
	text-align:center;
	border-bottom:1px solid #343434;
	border-right:1px solid #343434;
}
#main_contents #main_image .search_box ul.search_list li a{
	display:block;
	text-decoration:none;
	color:#333;
}
#main_contents #main_image .search_box ul.search_list li a:hover{
	color:#F00;
}
#main_contents #main_image .search_box ul.search_list li.col2{
	width:269px;
}
#main_contents #main_image .search_box div.myuta_link{
	padding:8px 0px 5px 180px;
	height:26px;
	background:#000 url('/libs/img/index/search_myuta.gif') no-repeat 58px center;
}

/* メインコンテンツここから */
#main_contents #contents_body{
	float:left;
	width:660px;
}


/* start --歌ネットニュース -- */
#main_contents #contents_body #utanet_top_news{
	width:643px;
	margin:0px 0px 15px 0px;
	/*padding:5px 10px;*/
	padding:0px;
	border:1px solid #012289;
	background-color:#E6E6E6;
	background-repeat:no-repeat;
	background-position:11px 35px;
}
#main_contents #contents_body #utanet_top_news h3{
	height:23px;
	line-height:23px;
	background:#000;
	/*background:url('/libs/img/index/icon_utanet_news.png') no-repeat 0px center;*/
	padding-left:10px;
	margin:0px;
	font-size:16px;
	color:#FFF;
	border-bottom:1px solid #737373;
}
#main_contents #contents_body #utanet_top_news h3 span{
	font-size:16px;
	color:#ffffff;
	padding-left:0.5em;
	float: right;
	padding-right: 0.5em;
}
#main_contents #contents_body #utanet_top_news ul{
	margin:5px 8px 5px 8px;
	padding:0px 2px 0px 135px;
}
#main_contents #contents_body #utanet_top_news ul li{
	list-style:none;
	min-height:22px;
	line-height:1.5;
	background:url('/libs/img/index/sankaku_r.gif') no-repeat 5px 4px;
	padding-left:15px;
	font-size:12px;
}
#main_contents #contents_body #utanet_top_news ul li.first_line{
	background:url('/libs/img/index/pc_today.png') no-repeat 3px center;
	min-height:22px;
	line-height:20px;
	padding:10px 0px 8px 65px;
	margin-bottom:8px;
	border-bottom:1px solid #FFF;
}
/* --歌ネットニュース -- end */


/* start --新曲歌詞情報-- */
#main_contents #contents_body #newsong_info {
	width:623px;
	margin:0px 0px 15px 0px;
	padding:5px 10px;
	border:1px solid #012289;
}
#main_contents #contents_body #newsong_info h3{
	height:43px;
	line-height:43px;
	background:url('/libs/img/index/icon_newsong.png') no-repeat 0px center;
	margin:0px;
	padding-left:35px;
	font-size:16px;
}
#main_contents #contents_body #newsong_info h3 span{
	font-size:14px;
	color:#999;
	padding-left:0.5em;
}
#main_contents #contents_body #newsong_info p{
	float: right;
	height: 30px;
	margin: 0;
	padding: 8px 4px 0 0;
}
#main_contents #contents_body #newsong_info .comment {
	font-size: 12px;
	font-weight: normal;
	padding:5px 10px;
}
#main_contents #contents_body #newsong_info .newsong_list{
	width:600px;
	margin:0px auto;
}
#main_contents #contents_body #newsong_info .newsong_list ul{
	float:left;
	padding:0px;
	margin:0px;
	width:300px;
}
#main_contents #contents_body #newsong_info .newsong_list ul li {
	list-style:none;
	background:url('/reverse/image/yajirusi_song.jpg') no-repeat left 5px;
  font-size: 12px;
	font-weight: normal;
	line-height:18px;
	padding-left:10px;
}
/* --新曲歌詞情報-- end */


/* インタビュー start */
#main_contents #contents_body h3.h3_interview{
	margin:0px;
	height:19px;
	line-height:19px;
	position:relative;
	padding:1px 12px 0px 12px;
	font-size:14px;
	color:#FFF;
	background:#002687;
	width: 621px;
}
#main_contents #contents_body h3.h3_interview a{
	position:absolute;
	bottom:-27px;
	right:15px;
	z-index:5;
}
#main_contents #contents_body #interview_table{
	margin:0px 0px 15px 0px;
	border: 1px solid #00218a;
	width: 645px;
	border-collapse:collapse;
}
#main_contents #contents_body #interview_table td{
	position:relative;
	z-index:4;
	padding:10px 10px 10px 0px;
	vertical-align:top;
}
#main_contents #contents_body #interview_table td.iview_img{
	width:120px;
	padding:15px 0px 15px 0px ;
	text-align:center;
	vertical-align:top;
}
#main_contents #contents_body #interview_table td p{
	margin:0px;
}
#main_contents #contents_body #interview_table td .iview_artist{
	padding:0px 0px 5px 0px;
	font-weight:bold;
	border-bottom:2px solid #AAAAAA;
}
#main_contents #contents_body #interview_table td .iview_artist .top_txt{
	font-weight:normal;
	padding-left:2em;
}
#main_contents #contents_body #interview_table td .iview_title{
	padding-bottom:3px;
}
#main_contents #contents_body #interview_table td .iview_text{
	padding-top:8px;
	padding-right:165px;
}
#main_contents #contents_body #interview_table td .iview_more{
	position:absolute;
	right:15px;
	bottom:10px;
}

/* インタビュー end */

/* ワタフレ */
#main_contents #contents_body h4.h4_watafure{
	margin:0px;
	height:19px;
	line-height:19px;
	position:relative;
	padding:1px 12px 0px 12px;
	font-size:14px;
	color:#FFF;
	background:#002687;
	width: 621px;
}
#main_contents #contents_body h4.h4_watafure span{
	font-size:12px;
}
#main_contents #contents_body #watafure_area{
	width:643px;
	border:1px solid #00218A;
	margin:0px 0px 15px 0px;
}

#main_contents #contents_body #watafure_area .watafure_box{
}
#main_contents #contents_body #watafure_area .watafure_box .inner_box{
	float:left;
	width:316px;
	margin-right:10px;
	background:#E6E6E6;
}
#main_contents #contents_body #watafure_area .watafure_box .inner_box.right{
	margin-right:0px;
}
#main_contents #contents_body #watafure_area .watafure_box .inner_box div.image{
	float:left;
	width:110px;
	text-align:center;
	padding:15px 0px;
}
#main_contents #contents_body #watafure_area .watafure_box .inner_box div.text{
	float:left;
	width:200px;
	text-align:left;
	padding:15px 0px;
}
#main_contents #contents_body #watafure_area .watafure_box .inner_box div.text p{
	margin:0px;
	padding:0px;
}
#main_contents #contents_body #watafure_area .watafure_box .inner_box div.text p.artist{
	font-weight:bold;
}
#main_contents #contents_body #watafure_area .watafure_box .inner_box div.text p.phrase{
	padding:5px 0px;
	height:36px;
}
#main_contents #contents_body #watafure_area .watafure_box .inner_box div.text p.link a{
	height:17px;
	line-height:17px;
	width:86px;
	padding:1px 2px;
	display:block;
	background:#888888;
	color:#FFF;
}
#main_contents #contents_body #watafure_swf{
	float:left;
	width:82px;
	height:35px;
	padding:0px;
	margin-top:3px;
	margin-right: 0px;
	margin-bottom:3px;
	margin-left: 2px;
}
#main_contents #contents_body .watafure_pick{
	padding:10px 0px;
}
#main_contents #contents_body #pickup_watafure{
	float:left;
	margin:0px;
	font-size:12px;
	padding:12px 10px 0px 0px;
	display:block;
	overflow:auto;
	width:470px;
	color:#0000FF;
}
#main_contents #contents_body p.pickup_more{
	float:right;
	width:64px;
	padding:10px 10px 10px 0px;
	margin:0px;
}
#main_contents #contents_body #watafure_pop{
	display:none;
	position:absolute;
	z-index:10;
	font-size:12px;
	padding-top:5px;
	padding-right:0px;
	padding-bottom:5px;
	padding-left:0px;
	width:500px;
	margin:0px;
	border:2px #666666 solid;
	background-color:#FCFDD5;
	line-height: 160%;
}
#main_contents #contents_body #watafure_shadow{
	display:none;
	position:absolute;
	z-index:5;
	font-size:12px;
	padding:0px;
	margin:0px;
	width:496px;
	border:0px;
	background-color:#DDDDDD;
}

#main_contents #contents_body #watafure_pop span{
	padding-top:5px;
	padding-left:50px;
	padding-bottom:5px;
	padding-right:15px;
	margin:0px;
	display:block;
}



/* パワープレイ */
#main_contents #contents_body h4.h4_pwplay{
	height:28px;
	line-height:28px;
	background:url('/libs/img/index/icon_pickup.png') no-repeat 7px center;
	margin:0px 0px 8px 1px;
	padding:9px 0px 0px 40px;
	font-size:16px;
	border-bottom:4px solid #FF0000;
	width:603px;
}
#main_contents #contents_body #powerplay table{
	float:left;
	width:317px;
	margin:0px 10px 15px 0px;
	border-collapse: collapse;
	border:1px solid #012384;
}
#main_contents #contents_body #powerplay table th,
#main_contents #contents_body #powerplay table td{
	border:0px;
	padding:10px;
	vertical-align:middle;
	text-align:left;
}
#main_contents #contents_body #powerplay table th{
	width:100px;
}
#main_contents #contents_body #powerplay table td{
	padding:3px;
}

#main_contents #contents_body #powerplay table td p.name,
#main_contents #contents_body #powerplay table td p.ttl,
#main_contents #contents_body #powerplay table td p.txt{
	margin:0px;
	padding:0px;
}
#main_contents #contents_body #powerplay table td p.name{
	font-weight:bold;
	font-size:14px;
}
#main_contents #contents_body #powerplay table td p.ttl{
	font-size:14px;
}
#main_contents #contents_body #powerplay table td p.txt{
	font-size:12px;
	color:#222;
}
#main_contents #contents_body #powerplay table td hr{
	height: 1px;
	border:0px;
	background: #999;
	width:100%;
}

/* NEW ALUBM */
#main_contents #contents_body h4.h4_newalbum{
	height:29px;
	line-height:29px;
	background:url('/libs/img/index/icon_album.png') no-repeat 7px center;
	margin:0px 0px 8px 1px;
	padding:8px 0px 0px 40px;
	font-size:16px;
	border-bottom:4px solid #FF0000;
	width:603px;
}
#main_contents #contents_body h4.h4_newalbum p{
	height:30px;
	margin:0px;
	padding:3px 10px 0px 0px;
	float:right;
}
#main_contents #contents_body table#new_album_table{
	background: #E6E6E6;
	width:645px;
	margin:0px 0px 18px 0px;
	border:1px solid #012384;
	border-collapse:collapse;
}
#main_contents #contents_body #new_album_table td{
	padding:18px 0px 5px 0px;
	border:0px;
	width:24%;
	font-size: 12px;
	line-height:1.3;
	text-align:center;
	vertical-align:top;
}

/* 大人の歌ネット他歌ネット様コンテンツエリア */
#main_contents #contents_body #otona_block{
	width:645px;
	border-bottom:2px solid #BBBBBB;
}

#main_contents #contents_body #otona_block a{
	color:#00F;
}
#main_contents #contents_body #otona_block a:hover{
	color:#F00;
}/**/
#main_contents #contents_body #otona_block .info_block{
}
#main_contents #contents_body #otona_block .info_block p.info_image{
	margin:0px;
	padding:0px;
}
#main_contents #contents_body #otona_block .info_block div.inner_box{
	padding:10px;
}

/* 大人の歌ネット他歌ネット様コンテンツ ここまで */




/** サイドエリアコンテンツここから **/
#main_contents #side_area{
	float:right;
	width:320px;
}




