#facebox .b {
    background:url(/images/facebox/b.png);
}

* html #facebox .b {
    background: transparent;
    background-image: url();
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/facebox/b.png", sizingMethod="scale");
}

#facebox .tl {
    background:url(/images/facebox/tl.png);
}

* html #facebox .tl {
    background: transparent;
    background-image: url();
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/facebox/tl.png");
}

#facebox .tr {
    background:url(/images/facebox/tr.png);
}

* html #facebox .tr {
    background: transparent;
    background-image: url();
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/facebox/tr.png");
}

#facebox .bl {
    background:url(/images/facebox/bl.png);
}

* html #facebox .bl {
    background: transparent;
    background-image: url();
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/facebox/bl.png");
}

#facebox .br {
    background:url(/images/facebox/br.png);
}

* html #facebox .br {
    background: transparent;
    background-image: url();
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/facebox/br.png");
}

#facebox-close-button {
    cursor: pointer;
    position: relative;
    left: 20px;
    _left: 25px;
    top: 21px;
    margin-top: -48px;
    height: 48px;
    width: 48px;
    float: right;
    z-index: 5;
    background-image: url(/images/facebox/close.png);
}
* html #facebox-close-button {
    background: transparent;
    background-image: url();
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/images/facebox/close.png');
}

#facebox-close-button:hover {
    background-image: url(/images/facebox/close_hover.png);
}

* html #facebox-close-button:hover {
    background: transparent;
    background-image: url();
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/images/facebox/close_hover.png');
}

#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
    height: 10px;
    width: 10px;
    overflow: hidden;
    padding: 0;
}

#facebox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5010;
    text-align: left;
    width: 100%;
}

#facebox .popup {
    position: relative;
}

#facebox.shown {
    position: fixed;
    _position: absolute;
}

#facebox .popup_table {
    border-collapse: collapse;
    margin: auto;
}

#facebox table.popup_table td {
    border-bottom: 0;
}

#facebox .body {
    padding: 3px;
    background: #fff;
    min-width: 370px;
}

#facebox .content {
    border: none;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    padding: 5px;
}

#facebox .loading {
    text-align: center;
}

#facebox_overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
}

.facebox_hide {
    z-index:-100;
}

.facebox_overlayBG {
    background-color: #000;
    z-index: 99;
}

* html #facebox_overlay { /* ie6 hack */
                          position: absolute;
                          height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#facebox-content {
    padding: 5px;
}

#facebox-content table {
    width: 100%;
    border-collapse: collapse;
}

#facebox-content .header tr {
    background: #5591CD;
    color: #FFFFFF;
}

#facebox-content .label {
    font-size: 24px;
    text-align: center;
}

#facebox-content .header a {
    color: #FFFFFF;
}

#facebox-content .content {
    padding: 5px 10px;
    color: #333333;
}

#facebox-content .footer {
    border-top: 1px solid #DDDDDD;
    padding-top: 5px;
    margin-top: 10px;
}

#facebox-content .gray {
    color: #666666;
}

#facebox-content .underline {
    text-decoration: underline;
}

#facebox-content .comment {
    color: #666666;
    font-style: italic;
}

#facebox-content .loading_indicator {
    margin-bottom: 5px;
}

#facebox-content .submit {
    font-size: 125%;
}

#facebox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  z-index: 99;
}

#lightBoxOverlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5001;
}
* html #lightBoxOverlay {
  back\ground-color: transparent;
  background-image: url();
}
#lightBoxOverlay2 {
  display: none;
  background-image: url(/images/misc/overlay.png);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5000;
}
* html #lightBoxOverlay2 {
  background-color: #333;
  back\ground-color: transparent;
  background-image: url();
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/misc/overlay.png", sizingMethod="scale");
}
.webNoticeArea {
  display: none;
}
