@charset "utf-8";
/* CSS Document */
#sections .section .content{ font-size:13px; }
#tabs .content{ font-size:13px; line-height:18px; }
#indexer .content{ font-size:13px; }
#indexer2 .content{ font-size:13px; }
#indexer ul, #indexer2 ul{ padding:0 10px 0 0; }
#indexer li, #indexer2 li{ padding: 4px 0 1px; }
#indexer li a, #indexer2 li a{ width:57px; }