@charset "utf-8";
/* CSS Document */

#hot-live-box-container{
	position:relative;
	height:351px;
	width:242px;
}
.live-box-title{
	background-image:url(/images/hot-live/live-box-title.png);
	background-repeat:no-repeat;
	height:19px;
	width:100px;
	position:absolute;
	z-index:27;
	top:114px;
}
#hot-live-box{
	position:absolute;
	height:351px;
	cursor:default;
	/*width:680px;*/
	overflow:hidden;
	width:242px;
	z-index:26;
	background-color:#FFF;
}

.live-box-more-bar{
	width:9px;
	height:100%;
	position:absolute;
	right:0px;
	top:0px;
	z-index:9;
	background-image:url(/images/hot-live/live-box-more-arrow.png);
	background-position:center;
	background-repeat:no-repeat;
	background-color:#999999;
}
#live-box-column-1, #live-box-column-2, #live-box-column-3, #live-box-column-4{
	height:351px;
	position:relative;
}
#live-box-column-1{
	width:230px;

}
#live-box-column-2, #live-box-column-3, #live-box-column-4{
	position:absolute;
	top:0px;
}
#live-box-column-2{
	left:235px;
	width:216px;
}
#live-box-column-3{
	left:456px;
	width:216px;
}
#live-box-column-4{
	left:677px;
	width:216px;
}

#live-box-column-1 .live-box-block-1, #live-box-column-1 .live-box-block-2, #live-box-column-1 .live-box-block-3, #live-box-column-2 .live-box-block-1, #live-box-column-2 .live-box-block-2, #live-box-column-2 .live-box-block-3, #live-box-column-3 .live-box-block-1, #live-box-column-3 .live-box-block-2, #live-box-column-3 .live-box-block-3, #live-box-column-4 .live-box-block-1, #live-box-column-4 .live-box-block-2, #live-box-column-4 .live-box-block-3{
	position:absolute;
	background-color:#333;
	overflow:hidden;
}
#live-box-column-1 .live-box-block-1{
	top:0px;
	left:0px;
	width:100%;
	height:174px;
}
#live-box-column-1 .live-box-block-2{
	bottom:0px;
	left:0px;
	width:113px;
	height:174px;
}
#live-box-column-1 .live-box-block-3{
	bottom:0px;
	right:0px;
	width:113px;
	height:174px;
}
#live-box-column-2 .live-box-block-1{
	top:0px;
	left:0px;
	width:100%;
	height:114px;
}
#live-box-column-2 .live-box-block-2{
	left:0px;
	width:100%;
	top:118px;
	height:114px;
}
#live-box-column-2 .live-box-block-3{
	bottom:0px;
	right:0px;
	width:100%;
	height:114px;
}
#live-box-column-3 .live-box-block-1{
	top:0px;
	left:0px;
	height:114px;
	width:100%;
}
#live-box-column-3 .live-box-block-2{
	right:0px;
	top:118px;
	height:114px;
	width:100%;
}
#live-box-column-3 .live-box-block-3{
	bottom:0px;
	left:0px;
	height:114px;
	width:100%;
}

#live-box-column-4 .live-box-block-1{
	top:0px;
	left:0px;
	height:114px;
	width:100%;
}
#live-box-column-4 .live-box-block-2{
	right:0px;
	top:118px;
	height:114px;
	width:100%;
}
#live-box-column-4 .live-box-block-3{
	bottom:0px;
	left:0px;
	height:114px;
	width:100%;
}

.live-box-block-full{
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	position:absolute;
	z-index:8;
}
/*---------------------------------*/
.live-box-block{
	cursor:pointer;
	text-decoration:none;
}
.live-box-block:hover{
	
	filter:alpha(opacity=90);
	opacity:0.9;
	-moz-opacity:0.9;
	
}
.live-box-block .photo-area{
	position:absolute;
	width:100%;
	height:100%;
	background-size:cover;
	background-position:center;
	z-index:2;
}
.live-box-block .photo-area.default{
	background-color:#999;
	z-index:1;
}
.live-box-block .title-area{
	display:block;
	position:absolute;
	z-index:3;
	background-image:url(/images/hot-live/black-60.png);
	width:100%;
}
.live-box-block .title-area .writer-thumb{
	margin:5px;
	margin-bottom:-15px;
	width:40px;
	height:40px;
	border:2px solid #FFF;
	background-size:cover;
	float:left;
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0px 2px 2px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 2px 2px rgba(0, 0, 0, 0.5);	
	background-color:#FFF;
	overflow:hidden;
}
.live-box-block .title-area .writer-thumb img{
	width:40px;
	height:40px;
}

.live-box-block .title-area .title-text{
	margin:3px 0px 5px 4px;
	color:#FFF;
	font-family: 微軟正黑體,Microsoft JhengHei,蘋果儷中黑,Apple LiGothic Medium,黑体,SimHei;
	font-size:15px;
	line-height:18px;
	text-shadow:0px 2px #000;
}
#live-box-column-1 .live-box-block-1 .title-area .title-text{
	font-size:18px;
	line-height:23px;
	margin-left:55px;
}




/* Indexer */
#indexer-tab-content{
	/*font-size:12px;
	width:380px;
	margin-left:25px;
	padding-top:20px;*/
	font-size: 13px;
  font-weight: normal;
  margin-left: 15px;
  padding-top: 20px;
  width: 400px;
}
#indexer-tab-content ul.indexer-column{
	list-style:none;
	margin:0px;
	padding:0px;
	width:25%;
	float:left;
}
#indexer-tab-content ul.indexer-column li{
	margin:0px;
	padding:0px;
	position:relative;
	width:auto;
	border-top:none;
}
#indexer-tab-content ul.indexer-column li a{
	display:block;
	background-image:url(http://i1.hk/d/images/r09/bubble_off.gif);
	background-position:1px center;
	background-repeat:no-repeat;
	text-indent:20px;
	text-decoration:none;
	color:#333;
	/*font-weight:bold;
	height:21px;
	line-height:21px;*/
	font-weight:normal
	height: 23px;
  line-height: 23px;
}
#indexer-tab-content ul.indexer-column li a:hover{
	color:#FF6600;
	background-image:url(http://i1.hk/d/images/r09/bubble_on.gif);
}
 #indexer-tab-content ul.indexer-column li a.special-page-link{
	 height:16px;
	 width:16px;
	 background-image:url(http://i1.hk/d/images/r09/jump_index.gif);
	 position:absolute;
	 top:2px;
	 background-position:center;
 }
 /*
 #tab li#tabname2 { 
 	 background-image:url(http://i1.hk/d/images/r09/tab_indexer_off.gif); 
 }
 #tab li#tabname2.on {
   background-image:url("http://i1.hk/d/images/r09/tab_on.gif");
 }
 
 #tab li#tabname0.featured, #tab li#tabname0.featured.on {
 	width: 72px;
 }
 */