@charset "utf-8";

/* =================================================
	common
================================================= */


a:link,
a:visited {
	color: #0044CC;
}
a:hover,
a:focus,
a:active{
	color: #E80011;
	text-decoration: underline;
}

/* =================================================
	Group link
================================================= */
#group_link {
	background: #2D2D2D;
	font-size: 11px;
	line-height: 1;
	font-weight: normal;
	width: 100%;
	margin: 0 0 5px;
}
#group_link ul{
	text-align: right;
	margin: 0 auto;
	width: 980px;
}
#group_link ul li{
	display: inline-block;
	margin: 0 0 0 10px;
	padding: 3px 5px;
	/* ie6,7 */
	/display: inline;
	/zoom: 1;
}
#group_link ul li.current{
	background: #FFF;
	padding-bottom: 4px;
}
#group_link a{
	color: #CCC;
	text-decoration: none;
}
#group_link a:hover{
	color: #FFF;
	text-decoration: underline;
}


/* =================================================
	Header menu
================================================= */
#header_menu {
	background-color: #333333;
	clear: both;
	zoom:1; /* ie7用 */
	position: relative;
}
#menu {
	margin: 0;
	padding: 0;
}
#menu li {
	float: left;
}
#menu a {
	color: #ccc;
	display: block;
	margin: 0;
	padding: 8px 12px;
	text-decoration: none;
}
#menu a:focus,
#menu a:hover,
#mycontents span:focus,
#mycontents span:hover {
	color: #fff;
	text-decoration: underline;
}

/*　動画カテゴリ 共通 */
#header_menu .menulink_adt,
#header_menu .menulink_gen,
#header_menu .menulink_gen_on {
	display: block;
	color:#ccc;
	margin: 0;
	padding: 8px 12px 8px 15px;
	text-decoration: none;
	cursor:pointer;
}
/*　アダルト用 */
#header_menu span.menulink_adt {
	background: url(images/common_20110228.png) no-repeat 0px -25px;
}
#header_menu span.selected_adt {
	background: url(images/common_20110228.png) no-repeat 0px 13px;
}
/*　一般用 */
#header_menu span.menulink_gen {
	background: url(images/common_20110228.png) no-repeat 0px -166px;
}
#header_menu span.selected_gen {
	background: url(images/common_20110228.png) no-repeat 0px -127px;
}

#header_menu select {
	float: right;	
	margin-top: 5px;
	margin-right: 10px;
}


/*	動画カテゴリのサブメニュー表示
================================================= */
#header_menu .submenu {
	clear: both;
	border-top: 1px solid #FFFFFF;
}

/*　js用スタイル */
#header_menu .submenu {
	display:none;
}
#menu .off .submenu { display:none; }
#menu .on  .submenu { display:block; }
/*　/js用スタイル */

#header_menu .submenu td {
	padding: 10px;
	vertical-align: top;
}
#header_menu .submenu td.cate_line1,
#header_menu .submenu td.cate_line2 {
	width: 470px;
	border-bottom: 1px solid #666666;
}
#header_menu .submenu td.cate_line2,
#header_menu .submenu td.cate_line4 {
	border-left: 1px solid #666666;
}

#header_menu .submenu td p {
	color: #F09;
	padding-bottom: 3px;
}

#header_menu .submenu td ul li {
	float: left;
	padding-left: 10px;
	padding-right: 20px;
}
/*　アダルト　*/
#header_menu .submenu_adt td ul li {
	background: url(images/common_20110228.png) no-repeat 0px -72px;
}
/*　一般　*/
#header_menu .submenu_gen td ul li {
	background: url(images/common_20110228.png) no-repeat 0px -212px;
}

#header_menu .submenu td ul li a {
	color: #CCC;
	text-decoration: none;
	white-space: nowrap;
}
#header_menu .submenu td ul li a:hover {
	color: #FFF;
	text-decoration: underline;
}



/* =================================================
	Movie_list(index, index_cate, comesearch)
================================================= */
td.mov_info_left a,
td.mov_info_left a img {
	border-style: none;
	line-height: 1.4;
}
td.mov_info_left a img {
	border: 1px solid #999999;
}
td.mov_info_left p {
	padding: 5px 5px 0;
	margin: 0px;
	font-size: 11px;
}

.mov_info_right_adt,
.mov_info_right_gen {
	width: 184px;
	padding-top: 8px;
	padding-left: 8px;
	padding-bottom: 8px;
}
.mov_info_right_gen {
	background-color: #E8E8FA;
}
.mov_info_right_adt {
	background: #FFE9EF;
}

p.movtitle {
	width: 160px;
	font-weight: bold;
	line-height: 1.3em;
	min-height: 100px;
}
p.movtitle span {
	display: block;
	width: 160px;
	margin: 0px;
	font-weight: normal;
	padding-top: 5px;
}

p.cmn_thumb_res {
	font-weight:normal;
	padding: 5px;
	width: 150px;
}



/* =================================================
	ad
================================================= */
/* 新着コメント上 */
#ad01 {
	text-align: center;
	clear: both;
	padding-top: 10px;
}
/* 再生ページ下*/
#ad02 {
	margin: 10px 0px 0px 12px;
}
/* トップ右上 */
#ad03 {
	padding-bottom: 10px;
	width: 300px;
	overflow: hidden;
}
/* 再生ページ上 */
#ad04 {
	margin: 0px 0px 10px 12px;
}
/* トップ左右 */
#my_body {
	position: relative;
}
#ad_left {
	height: 1024px;
	width: 228px;
	position: absolute;
	left: -243px;
	overflow: hidden;
	top: 0px;
}
#ad_right {
	height: 1024px;
	width: 228px;
	position: absolute;
	right: -243px;
	overflow: hidden;
	top: 0px;
}
#ad_scroll_left {
	left: 50%;
	margin: 0 0 0 -733px;
	position: fixed;
	top: 23px;
}
#ad_scroll_right {
	position: fixed;
	right: 50%;
	top: 23px;
	margin: 0 -733px 0 0;
}