@charset "utf-8";


/*footer
------------------------------------------------------------*/
/*-----背景色は各サービスで変更可-----*/

#footer_global * {
    margin: 0;
    padding: 0;
	text-decoration:none;
	border:none;
	background:none;
}

#footer_global {
	background:#FFFFFF url(../../image/footerbg.png) repeat-x 0 0;
	width: 100%;
	font-size: 12px;
	text-align: center;
}

#footer_global a,
#footer_global a img,
#footer_global img,
#footer_global p,
#footer_global ul,
#footer_global ol,
#footer_global li,
#footer_global dl,
#footer_global dt,
#footer_global dd {
	background:none;
	border:none;
	text-decoration:none;
	float:none;
}

#footer_global a:link,
#footer_global a:visited {
	text-decoration:none;
}

#footer_global a:focus,
#footer_global a:hover,
#footer_global a:active {
	text-decoration:underline;
}

/* FC2menu
------------------------------------------------------------ */

#fc2menu_global {
	text-align: left;
	width: 900px;
	padding: 10px 0;
	position: relative;
	clear: both;
	margin: 0px auto;
}

#fc2menu_global .fc2top {
	position: absolute;
	height: 45px;
	width: 100px;
	left: 0px;
	top: 15px;
	background:url(../../image/fc2_logo.png) -6px 0 no-repeat;
}

#fc2menu_global ul {
	padding: 45px 0 0 0;
}

#fc2menu_global li {
	text-align: left;
	width: 910px;
	overflow: hidden;
	margin-left:-10px;
	margin-bottom:10px;
	zoom:100%;
	clear:both;
}

/* Modern browser */
html>/**/#fc2menu_global dl {
	font-size: 10px;
}

#fc2menu_global dl {
	float: left;
	width: 290px !important;
	width /* */ : 300px;
	padding:0 0 0 10px;
}

#fc2menu_global dd {
	font-size: 85%;
	overflow:hidden;
	word-break: normal;
	word-wrap: break-word;
}

/* Footer_outline
------------------------------------------------------------ */

#footer_outline {
	width: 900px;
	margin: 0 auto;
}

#footer_outline ul{
	border-top: 1px dotted #D7D7D7;
	padding: 20px 0 10px 0;
	font-size: 100%;
	text-align:center;
}

#footer_outline ul li {
	display: inline;
	margin: 0 15px;
}

#footer_outline p.copyright {
	font-style:normal;
	padding:0 0 10px;
	text-align:center;
}

/* ru　(DMCA対応)　20131031 */

.footer_outline_ru li {
	margin: 0 10px !important;
}