@charset "utf-8";

/* =================================================
	Layout
================================================= */
#my_body { margin: 0 auto;  width : 980px ; text-align:left;}
#my_navigation {  float : left ; width : 300px ; }
#my_contents {  float : left ; width : 660px ; }

/* =================================================
	Search
================================================= */
#my_header .video_search {
	padding:10px 0;
}
#my_header .video_search .buttons {
	margin-bottom:5px;
}
#my_header .video_search select {
	margin-right:5px;
}

/* =================================================
	Category menu
================================================= */
#menu2 {
	float:left;
	width:100%;
	font-size:120%;
	line-height:normal;
	}
#menu2 li {
	display:inline;
	margin:0;
	padding:0;
	}
#menu2 a {
	float:left;
	background:url("images/tableftF.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 3px;
	text-decoration:none;
	}
#menu2 a span {
	float:left;
	display:block;
	background:url("images/tabrightF.gif") no-repeat right top;
	padding:5px 10px 4px 4px;
	color:#666;
	}

/* =================================================
	Main contents
================================================= */
#my_main {
	width:100%;
	margin:0 0 40px;
}
#disp {
	width: 660px; /*ie7の表示崩れ用*/
	padding-top: 10px;
}
p.movtitle {
	width: 164px; /*ie7の表示崩れ用*/
}
p.cmn_thumb_res { width:160px; height:45px;background:#FFF; font-size:12px; line-height:14px; font-weight:bold; border:solid 2px #CCC; margin-top:1px; padding:1px;}

/* category link */
.buttonwrapper{ /* Container you can use to surround a CSS button to clear float */
overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */
width: 100%;
padding:0 5px 5px;
font-size:11px;
}
.buttonwrapper a{
font-size:11px;
}

/* ページング部分
========================================== */
a.linkpage:link, a.linkpage:visited { background:#EEE; color:#666; border:solid 1px #666; text-decoration:none;}
a.linkpage:hover, a.linkpage:active { background:#FFE; color:#F90; border:solid 1px #F90; text-decoration:none;}

#index_body div.page {
	font-size:14px;
	text-align: center;
	clear: both;
	vertical-align: middle;
	padding-top: 10px;
	padding-bottom: 10px;
}
#index_body  div.page a.linkpage {
	text-align: center;
	width: 2em;
	padding-right: 3px;
	padding-left: 3px;
}


/* =================================================
	Side bar
================================================= */
#my_navigation {
	/*
	float : left ;
	width : 300px ;  修正まえは230px */
	padding-left: 20px;
	padding-top: 10px;
}   
#my_navigation img {
	margin-right: 10px;
}

#my_navigation .list_header {
	padding:4px 5px;
	font-size:16px;
	background:#555555;
	color:#FFFFFF;
}

/* クイック動画カテゴリ
========================================== */
#my_navigation div.q_cate_gen,
#my_navigation div.q_cate_adt {
	margin-bottom: 15px;
}
#my_navigation div.q_cate_gen strong,
#my_navigation div.q_cate_adt strong {
	font-weight: normal;
}
#my_navigation div.q_cate_gen p,
#my_navigation div.q_cate_adt p {
	padding-top: 4px;
	padding-bottom: 2px;
}
#my_navigation div.q_cate_adt p span {
	color: #FF0066;
}
#my_navigation div.q_cate_gen ul,
#my_navigation div.q_cate_adt ul {
	border-bottom: 1px dotted #BABABA;
	padding-bottom: 10px;
}
#my_navigation div.q_cate_gen ul li,
#my_navigation div.q_cate_adt ul li {
	display: inline;
	padding-right: 10px;
	padding-left: 8px;
	background-image: url(images/common_20110228.png);
	background-repeat: no-repeat;
	background-position: 0px -104px;
}
#my_navigation div.q_cate_gen ul li a,
#my_navigation div.q_cate_adt ul li a {
	white-space: nowrap;
}



/*　新着動画
========================================== */
#my_navigation ul.list_content {
	/* margin:0 0 20px; */
	height: 250px;
	overflow: auto;
}
#my_navigation .list_content li {
	overflow: hidden;
	width: 274px;
	padding: 8px 0;
	border-bottom: 1px dotted #BABABA;
}


/* FC2 Information */
#rss_convert .rss_fc2infolist {
	padding:5px 0;
	border-bottom: 1px dotted #BABABA;
	color:#6F6F6F;
}
#my_navigation .readmore {
	padding:10px 0 ;
	text-align:right;
}
#my_navigation .recommend_service .list_header {
	margin:0 0 5px;
}
#my_navigation .recommend_service ul li {
	list-style:disc outside;
	margin-left:15px;
}


/* =================================================
	アダルト認証（多言語用）
================================================= */
#about_adult {
	padding-top: 10px;
	padding-bottom: 10px;
}
#about_adult h2 {
	border-bottom: 1px solid #CDCDCD;
    border-left: 5px solid #CDCDCD;
    margin: 0 0 15px;
    padding: 5px 5px 5px 10px;
}
#about_adult p {
	padding-bottom: 20px;
	line-height: 1.4em;
}
#about_adult p.adult_caution {
	background: url(images/common_20110228.png) no-repeat left -270px;
	padding-left: 100px;
	font-weight: bold;
	color: #FF0000;
	padding-top: 15px;
}
#about_adult table {
	width: 100%;
}
#about_adult table th {
	font-weight: bold;
	color: #FF0000;
	text-align: center;
}
#about_adult table td {
	width: 50%;
	padding: 10px;
}
#about_adult table td.btn_agree {
	text-align: right;
}



/* =================================================
	アダルト認証（日本語用）
================================================= */
#about_adult_ja {
	background: url(images/common_20110228.png) no-repeat 10px -265px;
	border: 2px solid #FFC0C0;
	padding: 10px 10px 10px 100px;
	margin-bottom: 10px;
}
#about_adult_ja h2 {
	font-size: 14px;
}
#about_adult_ja p {
	line-height: 1.5em;
	color: #333333;
}



/* =================================================
	FC2 Footer
================================================= */
#sh_fc2footer_fix {
	overflow:hidden;
	width:100%;
}


#change_smartphone {
width:100%;
padding:5px 0;
background-color:#A0B4C6;
text-align:center
}