@charset "utf-8";

/* =================================================
	Category menu
================================================= */
#menu2 ul {
	padding:10px 0px 0px 80px;
}

/*	アダルト・一般切替えボタン
================================================= */
a.switch_gen_ja,
a.switch_adt_ja {
	float: right;
	display: block;
	margin-top: 5px;
	margin-right: 10px;
	position: absolute;
	top: 5px;
	right: -10px;
}
a.switch_gen_ja {
	background-image: url(img_lang/lang_ja.20110307.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
a.switch_gen_ja:hover {
	background-position: -120px 0px;
}
a.switch_adt_ja {
	background-image: url(img_lang/lang_ja.20110307.png);
	background-repeat: no-repeat;
	background-position: 0px -34px;
}
a.switch_adt_ja:hover {
	background-position: -120px -34px;
}

/*	詳細検索フォーム
================================================= */
div.video_search_detail{
	display:none;
	margin:10px 0 5px 0;
}

div.video_search_detail table{
	box-sizing:border-box;
	border: solid 1px #333333;
	border-spacing: 0px;
}

div.video_search_detail table th{
	background-color: #333333;
	color: #ccc;
	width: 150px;
	text-align: right;
}

div.video_search_detail table th, div.video_search_detail table td{
	margin: 0;
	padding: 8px 12px;
	text-decoration: none;
}

div#main_contents{
	position: relative;
}

/*	ad_index
================================================= */
#index_body #my_navigation {
	padding-top: 270px;
    position: relative;
} 
#index_body #ad03 {
    position: absolute;
    right: 0;
    top: 10px;
}
/*	ad_comeplay
================================================= */
#comeplay_body .wrap_player{
    padding: 100px 0 0;
    position: relative;
}
#comeplay_body #movie_box{
    margin: 0 0 110px 0;
}
#comeplay_body #ad04{
    position: absolute;
    left: 0;
    top: 0;
}
#comeplay_body #ad02{
    position: absolute;
    left: 0;
    top: 630px;
}

/*	ad_comesearch
================================================= */
#comesearch_body .wrap_comesearch{
    padding: 105px 0 0;
    position: relative;
}
#comesearch_body #ad01{
    position: absolute;
    left: 0;
    top:0;
    width: 980px;
}

/*	ad_ranking
================================================= */
#comesearch_body .wrap_ranking{
    padding: 100px 0 0;
    position: relative;
}
#comesearch_body .ad_up{
    position: absolute;
    left: 0;
    top:0;
    width: 980px;
}

/*	ad_history
================================================= */
#history_body #history_data{
    padding: 110px 0 0;
    position: relative;
}
#history_body .ad_up{
    left: 0;
    position: absolute;
    top: 0;
    width: 980px;
}