@charset "utf-8";


/* ==========================================================================
   common definitions for sankei-digital mobile service
   ========================================================================== */


/* ==== index ===============================================================

1. alliance
2. 2line text
3-1. left ec pickup
3-2. left sponsored pickup
3-3. left sonae pickup
4. rectangle (gif+txt)
5. google adsence
6. middle&foot banner 300x250 1set,300x250 2set,640x360 1set,
7. right Induction
8-1. right top rectangle
8-2. right middle rectangle
8-3. right third rectangle
9.
10. right feature
11. right ec
12. right ec pickup
13. left Induction
14. masthead
15. masthead for google
16. ad in article

========================================================================== */


/* ===== 1. alliance ====================================================================== */

#headerNav nav .navMaingenre ul li#adAlliance {
	margin: 3px auto 0;
	background: none;
}

#headerNav nav .navMaingenre li#adAlliance p {
	color: #fff;
	display: inline-block;
	float: left;
	background: url(../../../images/v1/common/separater_navMaingenre.png) center right no-repeat;
}

#headerNav nav .navMaingenre li#adAlliance p a {
	color: #fff;
	vertical-align: middle;
	text-align: center;
	line-height: 20px;
	display: block;
}

#headerNav nav .navMaingenre li#adAlliance p a span {
	display: block;
	margin: 0 7px;
	padding: 5px 8px 0;
	border-bottom: 5px solid #0064be;
}

#headerNav nav .navMaingenre li#adAlliance p a span:hover {
	border-bottom: 5px solid #014686;
}

/* ===== 2. 2line text ====================================================================== */

#primary aside#adTxt2line {
	margin: 0 auto 10px;
}

#primary aside#adTxt2line p {
	color: #113b7d;
	display: block;
	font-size: 15px;
	line-height: 1;
	vertical-align: middle;
	margin-bottom: 10px;
}

#primary aside#adTxt2line p span {
	margin-left: 8px;
}

#primary .modToplist aside#adTxt2line {
	margin: 15px auto 0;
	padding-top: 8px;
	border-top: 1px dotted #b2b2b2;
}

#primary .modToplist aside#adTxt2line p {
	color: #113b7d;
	display: block;
	padding-bottom: 7px;
	margin-bottom: 7px;
	border-bottom: 1px dotted #b2b2b2;
	line-height: 1.2;
}

#primary .modToplist aside#adTxt2line p span {
	margin-left: 8px;
}

/* ===== 2-1. premium text ====================================================================== */

#primary aside#adTxtpremium {
	margin: 0 auto 10px;
}

#primary aside#adTxtpremium h1 {
	margin: 0;
	margin: padding;
}

#primary aside#adTxtpremium p {
	color: #113b7d;
	display: block;
	font-size: 15px;
	line-height: 1;
	vertical-align: middle;
	margin-bottom: 10px;
}

#primary aside#adTxtpremium p span {
	margin-left: 8px;
}

#primary .indexFeature aside#adTxtpremium {
	margin:10px auto;
	border-top: 1px dotted #b2b2b2;
	border-bottom: 1px dotted #b2b2b2;
}

#primary .indexText aside#adTxtpremium {
	margin: 0 auto 30px;
	border-top: 1px dotted #b2b2b2;
	border-bottom: 1px dotted #b2b2b2;
}

#primary .indexFeature aside#adTxtpremium h1,
#primary .indexText aside#adTxtpremium h1 {
	margin: 0;
	padding: 0;
}

#primary .indexFeature aside#adTxtpremium p,
#primary .indexText aside#adTxtpremium p {
	color: #113b7d;
	display: block;
	font-size: 15px;
	line-height: 1;
	vertical-align: middle;
	padding: 18px 0;
	margin: 0;
}

#primary .indexText aside#adTxtpremium p span,
#primary .indexText aside#adTxtpremium p span {
	margin-left: 8px;
}

#primary .modToppick aside#adTxtpremium {
	margin: 15px auto 0;
}

#primary .modToppick aside#adTxtpremium p {
	color: #113b7d;
	display: block;
	line-height: 1.2;
}

#primary .modToppick aside#adTxtpremium p span {
	margin-left: 8px;
}

/* ===== 3-1. left ec pickup ====================================================================== */
/* ===== 3-2. left sponsored pickup ====================================================================== */
/* ===== 3-3. left sonae pickup ====================================================================== */

#primary aside#adEcpickup,
#primary aside#adSonaepickup,
#primary aside.adSponsored {
	margin-bottom: 10px;
}

#primary aside#adEcpickup h1,
#primary aside#adSonaepickup h1,
#primary aside.adSponsored h1 {
	margin: 0 !important;
	padding: 0 !important;
}

#primary aside#adEcpickup .photo,
#primary aside#adSonaepickup .photo,
#primary aside.adSponsored .photo {
	text-align: center;
	display: block;
	float: left;
	margin: 0 10px 0 0;
	border: 1px solid #e6e6e6;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	width: 86px;
	height: 86px;
}

#primary aside#adEcpickup .photo img,
#primary aside#adSonaepickup .photo img,
#primary aside.adSponsored .photo img {
	display: block;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
	padding: 2px;
}

#primary aside#adEcpickup .title,
#primary aside#adSonaepickup .title,
#primary aside.adSponsored .title {
	font-size: 2em;
	font-size: 2rem;
	margin-bottom: 5px;
}

#primary aside#adEcpickup .lead,
#primary aside#adSonaepickup .lead,
#primary aside.adSponsored .lead {
	line-height: 1.25;
}

/* ===== 4. rectangle (gif+txt) ====================================================================== */

#primary aside#adRectangle {
	margin: 10px auto 30px;
	padding: 10px;
	border: 1px solid #e6e6e6;
}

#primary aside#adRectangle h1 {
	font-size: 1.5em;
	font-size: 1.5rem;
	color: #0064bf;
	margin-bottom: 10px;
}

#primary aside#adRectangle .photo {
	display: block;
	float: left;
	margin: 0 10px 0 0;
}

#primary aside#adRectangle .photo img {
	display: block;
}

#primary aside#adRectangle .title {
	font-size: 1.5em;
	font-size: 1.5rem;
	margin-bottom:5px;
	display: block;
}

#primary aside#adRectangle .lead {
	font-size: 1.4em;
	font-size: 1.4rem;
	margin-bottom:5px;
	display: block;
}

#primary aside#adRectangle .siteurl {
	font-size: 1.4em;
	font-size: 1.4rem;
	text-align:right;
	display: block;
}


/* ===== 5. google adsence ====================================================================== */

#primary aside#adAdsence {
	margin: 10px auto 30px;
	padding-bottom: 15px;
	position:relative;
}

#primary aside#adAdsence h1 {
	font-size: 1.2em;
	font-size: 1.2rem;
	color: #666;
	position:absolute;
	bottom: 0;
	right: 15px;
}


#primary aside#adAdsence li {
	background: url(../../../images/v1/common/icon_listad.gif) no-repeat left 5px;
	padding-left: 18px;
	margin-bottom: 10px;
}

#primary aside#adAdsence li:last-of-type {
	margin-bottom: 0;
}


#primary aside#adAdsence li a {
	display: block;
}

#primary aside#adAdsence li a:hover {
	color: #cf0000;
	background-color: #dcfeff;
}


#primary aside#adAdsence li .title {
	font-size: 1.4em;
	font-size: 1.4rem;
	display: block;
}

#primary aside#adAdsence li .lead {
	font-size: 1.2em;
	font-size: 1.2rem;
	color: #333;
	margin-right: 15px;
}

#primary aside#adAdsence li .siteurl {
	font-size: 1.2em;
	font-size: 1.2rem;
	color: #006622;
}

/* ===== 6. middle&foot banner 300x250 1set,300x250 2set,640x360 1set, ====================================================================== */

#primary aside#adMidbig,
#primary aside#adMegafoot {
	margin: 10px 0 30px;
}

#primary aside#adMidbig p,
#primary aside#adMegafoot p {
	text-align: center;
	display: inline-block;
	margin-right: 20px;
}

#primary aside#adMidbig img,
#primary aside#adMegafoot img {
	margin: 0 auto;
}

/* ===== 7. right Induction ====================================================================== */

#secondary aside#adInduction {
	margin: 0 auto 15px;
}

#secondary aside#adInduction p {
	text-align: center;
}

#secondary aside#adInduction img {
	margin: 0 auto;
	display: block;
}

/* ===== 8-1. right top rectangle ====================================================================== */

#secondary aside#adToprectangle {
	margin: 0 auto 15px;
}

#secondary aside#adToprectangle p {
	text-align: center;
}

#secondary aside#adToprectangle img {
	margin: 0 auto;
	display: block;
}

/* ===== 8-2. right middle rectangle ====================================================================== */

#secondary aside#adMidrectangle {
	margin: 0px auto 15px;
}

#secondary aside#adMidrectangle p {
	text-align: center;
}

#secondary aside#adMidrectangle img {
	margin: 0 auto;
	display: block;
}

/* ===== 8-3. right third rectangle ====================================================================== */

#secondary aside#adThirdrectangle {
	margin: 0px auto 15px;
}

#secondary aside#adThirdrectangle p {
	text-align: center;
}

#secondary aside#adThirdrectangle img {
	margin: 0px auto;
	display: block;
}


/* ===== 10. right feature ====================================================================== */

#secondary aside#adFeature1st {
	margin: 0 auto 15px;
	font-size: 1.4em;
	font-size: 1.4rem;
	border: 1px solid #e6e6e6;
}

#secondary aside#adFeature1st h1 {
	color: #0064bf;
	padding: 10px;
	background: #e5e5e5; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  #e5e5e5 0%, #ffffff 40%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(40%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e5e5e5 0%,#ffffff 40%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e5e5e5 0%,#ffffff 40%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e5e5e5 0%,#ffffff 40%); /* IE10+ */
	background: linear-gradient(to bottom,  #e5e5e5 0%,#ffffff 40%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}

#secondary aside#adFeature1st .banner {
	display: block;
	text-align: center;
}

#secondary aside#adFeature1st .banner a {
	display: block;
}

#secondary aside#adFeature1st .banner img {
	margin: 0 auto 10px;
	display: block;
}

#secondary aside#adFeature1st p.text {
	background: url(../../../images/v1/common/icon_list_arrowwhite.png) left center no-repeat;
	margin:0 0 5px 10px;
	display: block;
}

#secondary aside#adFeature1st p.text:last-of-type {
	margin-bottom: 10px;
}

#secondary aside#adFeature1st p.text a {
	margin-left: 20px;
}


#secondary aside#adFeature2nd {
	margin: 0 auto 15px;
	font-size: 15px;
	font-size: 1.5rem;
	border: 1px solid #e6e6e6;
}

#secondary aside#adFeature2nd h1 {
	color: #0064bf;
	padding: 10px;
	background: #e5e5e5; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  #e5e5e5 0%, #ffffff 40%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(40%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e5e5e5 0%,#ffffff 40%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e5e5e5 0%,#ffffff 40%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e5e5e5 0%,#ffffff 40%); /* IE10+ */
	background: linear-gradient(to bottom,  #e5e5e5 0%,#ffffff 40%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
	position: relative;
}

#secondary aside#adFeature2nd h1 .pr{
	position: absolute;
	right: 10px;
	top: 10px;
	color: #898989;
}

#secondary aside#adFeature2nd ul {
	padding: 0 10px 10px;
}

#secondary aside#adFeature2nd li {
	margin-bottom: 10px;
}

#secondary aside#adFeature2nd li:last-of-type {
	margin-bottom: 0;
}

#secondary aside#adFeature2nd li .photo {
	display: block;
	float: left;
	margin: 0 10px 0 0;
}

#secondary aside#adFeature2nd li .photo img {
	display: block;
}

#secondary aside#adFeature2nd li p {
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.2;
}

#secondary aside#adFeature2nd li .title {
	display: block;
	margin-bottom: 5px;
}

#secondary aside#adFeature2nd li .lead {
	color: #333;
}

#secondary #modPickupnews aside#adFeature2nd {
	margin: 0 auto;
	font-size: 15px;
	font-size: 1.5rem;
	border: none;
}

#secondary #modPickupnews aside#adFeature2nd h1 {
	color: #0064bf;
	background: none;
}

#secondary #modPickupnews aside#adFeature2nd ul {
	padding: 0 10px 10px;
}

#secondary #modPickupnews aside#adFeature2nd li {
	margin-bottom: 10px;
	padding-left: 0;
	background: none;
}

#secondary #modPickupnews aside#adFeature2nd li:last-of-type {
	margin-bottom: 0;
}

#secondary #modPickupnews aside#adFeature2nd li .photo {
	display: block;
	float: left;
	margin: 0 10px 0 0;
}

#secondary #modPickupnews aside#adFeature2nd li .photo img {
	display: block;
}

#secondary #modPickupnews aside#adFeature2nd li p {
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.2;
}

#secondary #modPickupnews aside#adFeature2nd li .title {
	display: block;
	margin-bottom: 5px;
}

#secondary #modPickupnews aside#adFeature2nd li .lead {
	color: #333;
}


/* ===== 11. right ec ====================================================================== */

#secondary aside#adEc {
	margin: 0 auto 15px;
	font-size: 1.4em;
	font-size: 1.4rem;
	border: 1px solid #e6e6e6;
}

#secondary aside#adEc .photo {
	display: block;
	margin: 0 10px 0 0;
}

#secondary aside#adEc .photo img {
	display: block;
}

#secondary aside#adEc ul {
	padding: 10px;
}

#secondary aside#adEc li {
	background: url(../../../images/v1/common/icon_list_arrowwhite.png) left center no-repeat;
	margin-bottom: 8px;
	display: block;
}

#secondary aside#adEc li:last-of-type {
	margin-bottom: 0;
}

#secondary aside#adEc li a {
	margin-left: 20px;
}

#secondary aside#adEc .ecLogo {
	text-align: right;
	margin: 0 5px 5px;
}

/* ===== 12. right ec pickup ====================================================================== */

#secondary aside#adEcpickup {
	margin: 0 auto 15px;
	font-size: 15px;
	font-size: 1.5rem;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
    border-top: none;
}


#secondary aside#adEcpickup h1 {
	color: #0064bf;
	padding: 0 0 10px 10px;
	background: none;
	filter: none;

}

#secondary aside#adEcpickup p {
	margin: 0 10px 10px;
}

#secondary aside#adEcpickup span {
	display: table-cell;
	vertical-align: middle;
}

#secondary aside#adEcpickup .photo {
	text-align: center;
	width:85px;
	height:85px;
	margin: 0 10px 0 0;
	border: 1px solid #e6e6e6;
}

#secondary aside#adEcpickup .photo img {
	display: block;
	width:80px;
	height:80px;
	margin: 0 auto;
}

#secondary aside#adEcpickup .title {
	padding-left: 10px;
}

/* ===== 13. right Induction ====================================================================== */

/*-- id */
#primary aside#adInductionleft {
	margin: 10px auto 30px;
	padding: 10px;
}


#primary aside#adInductionleft .photo {
	display: block;
	float: left;
	margin: 0 10px 0 0;
}

#primary aside#adInductionleft .photo img {
	display: block;
}

#primary aside#adInductionleft .title {
	font-size: 13px;
	font-size: 1.3rem;
	line-height: 1.3;
	margin-bottom:5px;
	display: block;
}

/*-- class */
#primary aside.adInductions {
	margin: 10px auto 20px;
}

#primary aside.adInductions .photo {
	display: block;
	float: left;
	margin: 0 10px 0 0;
}

#primary aside.adInductions .photo img {
	display: block;
}

#primary aside.adInductions .title {
	font-size: 13px;
	font-size: 1.3rem;
	line-height: 1.3;
	margin-bottom:5px;
	display: block;
}



/* ===== 14. masthead ====================================================================== */

aside#adMasthead {
	display: block;
	margin: 0 auto 20px;
	text-align: center;
}

#applemcb {
	margin: 0 auto 20px;
	text-align: center;
}

.lt-ie10 .GoogleActiveViewClass {
	padding: 0 20px;
}

.close_trigger_2015 {
	position: absolute;
	top: 10px;
	right: 29px;
	opacity: .8;
	text-decoration: none;
	color: #CCC;
	font-family: helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 16px;
	transition:.2s;
	text-align: right;
	display: block;
	letter-spacing: .02em;
	z-index:99999;
	animation: fadein 4s;
	-moz-animation: fadein 4s;
	-webkit-animation: fadein 4s;
	-o-animation: fadein 4s;
	-webkit-animation-delay: fadein 2s;
}
	@keyframes fadein {
		0%   {opacity: 0;}
		50%  {opacity: 0;}
		100% {opacity: .8;}
	}
	@-moz-keyframes fadein {
		0%   {opacity: 0;}
		50%  {opacity: 0;}
		100% {opacity: .8;}
	}
	@-webkit-keyframes fadein {
		0%   {opacity: 0;}
		50%  {opacity: 0;}
		100% {opacity: .8;}
	}
	@-o-keyframes fadein {
		0%   {opacity: 0;}
		50%  {opacity: 0;}
		100% {opacity: .8;}
	}
.close_trigger_2015 a {
	text-decoration: none;
	color: #CCC;
	width: 88px !important;
	height: 31px;
	display: block;
	}
.close_trigger_2015 a:hover {
	opacity: 1;
	}
.lt-ie10 .close_trigger_2015 {
	display: none;
	}
/*
.lt-ie9 #applemcb {
	max-width: 984px;
	overflow: hidden;
	}
*/

/* ===== 15. masthead for google ====================================================================== */

[id="sn.top.masthead"] {
	text-align: center;
}
[id="sn.top.masthead"] > div {
	display: block;
	margin: 10px auto 20px;
}


/* ===== 16. ad in article ====================================================================== */

aside#adInarticle{
	margin:0 20px 20px 0;
}
