@charset "utf-8";

/* ==========================================================================
   default definitions for sankei-digital mobile service
   ========================================================================== */

/*
 * reset 
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video,
input textarea,select,button {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	font-style: normal;
	font-weight: normal;
	vertical-align:baseline;
	background:transparent;
}

body {
	line-height: 1;
	word-wrap:break-word;
}


article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
	display:block;
}

ul,ol {
	list-style:none;
}

menu {
	list-style:none;
}


blockquote, q {
	quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content:none;
}

a {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	text-decoration: none;
}

ins {
	background-color:#fff;
	color:#000;
	text-decoration:none;
}

mark {
	background-color:#ff9;
	color:#000; 
	font-style:italic;
	font-weight:bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom:1px dotted #000;
	cursor:help;
}

table,thead,tbody,tfoot,tr,th,td {
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
}

caption,th {
	text-align: left;
}

hr {
	display:block;
	height:1px;
	border:0;   
	border-top:1px solid #cccccc;
	margin:1em 0;
	padding:0;
}

input, select {
	vertical-align:middle;
}

fieldset,img {
	border: none;
}

/* 
 *sd default styles
 */

html {
	font-size: 10px;
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
}

html.lt-ie10 {
	font-size : 62.5%;	/* IE9までは文字だけの拡大・縮小が可能なため。bodyにpxでは機能しない。 */
}

body {
	width:100%;
	color: #333;
	font-family: "ヒラギノ角ゴ ProN W3","HiraKakuProN-W3","ヒラギノ角ゴ Pro W3","HiraKakuPro-W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS Pgothic","Osaka",sans-serif,Helvetica, Helvetica Neue, Arial, Verdana;
	background-color: #fff;
	position: relative;	/* absolute 時に　bottom指定、明示しないとwindow下になったため。Opera,chrome */
}

input,
button,
select,
textarea {
	font-family: "ヒラギノ角ゴ ProN W3","HiraKakuProN-W3","ヒラギノ角ゴ Pro W3","HiraKakuPro-W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS Pgothic","Osaka",sans-serif,Helvetica, Helvetica Neue, Arial, Verdana;
}

/*
iframe{ 
	width:100% !important;
}
*/

#secondary section, 
#secondary aside {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/* anchor */

a {
	color: #113b7d;
	-webkit-tap-highlight-color: rgba(18,59,125,0.5);
}

a:link { 
	color: #113b7d;
}

a:visited {
	color: #113b7d;
}

a:hover {
	color: #113b7d;
	text-decoration: underline;
}

a:active { 
	color: #113b7d;
}

/* controls */

/* clearfix */
.clearfix:after {
	content: ".";
	clear: both;
	height: 0;
	font-size: 0.1em;
	line-height: 0;
	display: block;
	visibility: hidden;
}

/* IE7以下はclearfixでafterは使えない */

.lt-ie8 .clearfix {
	zoom: 1;
}


/* off left */
.speech{
	position: absolute;
	top: -99999px;	/*--- マイナスで飛ばさない場合、IEでtableのtr内の文字が残る */
	left: -99999px;	/*--- マイナスで飛ばさない場合、IEでtableのtr内の文字が残る */
	overflow: hidden;
	font-size: 0;
	height: 0;
	width: 0;
}

/* each tags */

ul,ol {
	line-height: 1.4;
}

p {
	line-height: 1.5;
}
