body {
	color:#333;
	font-family: Tahoma;
	font-size: 13px;
	line-height: 18px;
	background-color:#FFF;
}
.body {
	background:#ffffff url('../images/header_new.jpg') no-repeat center 0;
	margin:0;
	padding:0;
}
img {border:none}
.info {
	border:dashed 1px #960;
	line-height:17px;
	padding:10px;
	background-color: #FFFFE1;
}
#links {height:55px;color:#A4D8FF;font-size:14px;}
#links a{color:#A4D8FF;text-decoration:none;}
#links a:hover{color:#FFF;}

#header {height:125px;}

#search_box {width:200px;height:35px;background:url('../images/bg_search.png');float:right;}
#search_field {float:left;padding:0;border:0;width:158px;height:22px;line-height:22px;background:none;font-size:14px;outline:none;margin:6px 0 0 6px;}
#search_btn {float:right;margin:3px 4px 0 0;}

.title {font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;font-size: 29px;font-weight: bold;color: #FFF;line-height: normal;}
.section-title {padding:6px 0px; color:#669933; font-size:15px; font-weight:bold; border-bottom:solid 1px #CCCCCC;}
.subsection-title {color:#669933; font-size:15px; font-weight:bold; border-bottom:solid 1px #CCCCCC; padding-bottom:5px; margin-bottom:5px;}
.browse-title {font-size:15px; font-weight:bold;}
.form-title {font-size:15px; font-weight:bold;}
.section {vertical-align:top;}
.section-content {padding-top:10px;padding-right:10px;}
.comment {padding:5px;color:#777777;}
.comment-title {
	background-repeat: no-repeat;
	padding-left:20px;
	padding-bottom: 5px;
}
.comment-text {
	padding-bottom: 5px;
	border-bottom:1px dotted #999;
}
.featured {
	background-repeat: no-repeat;
	padding-left:28px;
	background-position: 0px 6px;
	line-height:19px;
	padding-bottom: 6px;
}
.article {
	background-repeat: no-repeat;
	padding-left:28px;
	background-position: 0px 6px;
	line-height:19px;
	padding-bottom: 6px;
}
.private-featured {
	background-repeat: no-repeat;
	padding-left:28px;
	background-position: 0px 6px;
	line-height:19px;
	padding-bottom: 6px;
}
.private-article {
	background-repeat: no-repeat;
	padding-left:28px;
	background-position: 0px 6px;
	line-height:19px;
	padding-bottom: 6px;
}

.article-title h1 {margin:0px; padding:6px 0px 10px 0px; color:#669933; font-size:16px; font-weight:bold;}

.news-title {
	background-repeat: no-repeat;
	padding-left:22px;
	padding-bottom: 6px;
	font-size:14px;
}
.acronym {
	border-bottom: 1px dashed #BB8551; cursor: help;
}

a {
	color:#0066bc;
	text-decoration:none;
}
a:hover {
	color:#FF6600;
	text-decoration:none;
}
.categories {
	background-color:#F1F5F8;
	border:solid 1px #D5E2F1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 10px 0px;
	padding: 10px;
}
.category-title {
	background-repeat: no-repeat;
	padding-left:22px;
}
.category-title a {	font-weight:bold;}

.private-title {
	background-repeat: no-repeat;
	padding-left:22px;
}
.private-title a {	font-weight:bold;}

.sidebar {
	background-color:#F1F5F8;
	border-left:solid 1px #E4F2FB;
	border-right:solid 1px #D5E2F1;
	padding:4px;
	vertical-align:top;
}
.article-info {
	background-color:#F1F5F8;
	border:solid 1px #D5E2F1;
	padding:5px;
}

.grey-text {FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #777777; LINE-HEIGHT: 17px; TEXT-DECORATION: none;}
.red-text  {font-family: Verdana; font-size: 11px; color: #FF3F92; line-height:normal; }
.error-text {color: #CD754D;}

#subscribe-form {padding: 6px 0px;}
#submail {width:190px;padding:2px;}

.footer {
	background-color:#F1F1F1;
	border:solid 1px #E3E3E3;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.article-navigation {
	background-repeat: no-repeat;
	background-position:0px 3px;
	border-bottom:dotted 1px #CCCCCC;
	padding-left: 20px;
	padding-bottom: 5px;
}
.breadcrumb {
	background-color:#E1FFD1;
	border:solid 1px #C5F8AC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 10px 0px;
	padding: 8px;
}
.breadcrumb a {
	color:#060;
}
.breadcrumb a:hover {
	text-decoration:underline;
}

.private {
	background-color:#FFFFB4;
	border:solid 1px #DDDD00;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 10px 0px;
	padding: 8px;
}
.private a {
	color:#666666;
}
.private a:hover {
	text-decoration:underline;
}

#instant_suggestions {
	background-color:#E1FFD1;
	border:solid 1px #C5F8AC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10px;
}
#instant_suggestions a {
	color:#060;
}
#instant_suggestions a:hover {
	color:#C00;
}
#categories_nav {
	float:left;
	width:215px;
}
#categories_nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-bottom: 125px;
}
#categories_nav li {
	border-bottom: 1px solid #ced3d5;
}
#categories_nav li a:link, #categories_nav li a:visited {
	line-height: 27px;
	display: block;
	color: #1a6ab3;
}
#categories_nav li a:hover {
	text-decoration: none;
	background-image: none;
	color: #FF6600;
}
#categories_nav li.current {
	line-height: 27px;
	display: block;
	padding-left: 20px;
	background-color: #fff;
	color: #669933;
	font-weight:bold;
}

#glossary
{
	margin: 10px 0;
}
#glossary a,
#glossary a.current:hover
{
	font: normal 11px/25px Verdana;
	border: solid 1px #2A599D;
	color: #2A599D;
	background: #F1F5F8;
	text-align: center;
	text-decoration: none;
	padding: 2px 6px;
	margin-right: 1px;
	margin-bottom: 3px;
}
#glossary a:hover,
#glossary a.current
{
	background: #2A599D;
	border: solid 1px #2A599D;
	color: #ffffff;
}

#article-options{margin:0 0 25px 0;padding:0;width:215px}
#article-options li{margin:0;padding:0;list-style-type:none;position:relative}
#article-options li a{border-bottom:1px solid #e6e6e6;border-top:1px solid #fff;display:block;line-height:35px;padding-left:35px;width:180px}
#article-options li a img{position:absolute;top:10px;left:12px}

#search-results {padding:0 0 0 25px;margin:0}
#search-results li{padding:15px 0 15px 0;border-bottom:solid 1px #EDEDED;}
#search-results li:hover{background-color:#F9F9F9;}
#search-results li a.featured_article{padding-left:22px;font-size:15px;display:block;}
#search-results li a.normal_article{padding-left:22px;font-size:15px;display:block;display:block;}

#search-results li a.private_featured_article{padding-left:22px;font-size:15px;display:block;}
#search-results li a.private_normal_article{padding-left:22px;font-size:15px;display:block;display:block;}

#search-results li a.public_category{padding-left:22px;font-size:15px;display:block;background-repeat: no-repeat;}
#search-results li a.private_category{padding-left:22px;font-size:15px;display:block;}
#search-results li a.news{padding-left:22px;font-size:15px;display:block;}

#news-display {padding:0px;margin:0}
#news-display li{
	padding:15px 0 15px 0;
	border-bottom:solid 1px #EDEDED;
	list-style-type: none;
}
#news-display li:hover{background-color:#F9F9F9;}

#advsrch, #advsrch input, #advsrch select {
	font-size:11px;
}
#advsrch td {
	padding-top:6px;
}

h2.title {
	font-size:14px;
	margin:0px;
	padding:10px;
	background-color:#E2ECF5;
	border: solid 1px #D5E2F1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color:#666;
}

.rating {
	border:solid 1px #C60;
	padding:10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width:175px;
	margin:0 0 25px 10px;
	background-color: #FFF4EA;
}
.rating-title {
	font-size:14px;
	font-weight:bold;
	color:#C60;
	text-align:center;
}
.rating-title span {
	font-size:12px;
	font-weight:normal;
}
.rating input, .rating select{font-size:11px;}

.rating_bar {
	margin:6px 0px 0px 25px;
	width:124px;
	height:30px;
	background-repeat: no-repeat;
}

.rating_bar div {
	height: 30px;
	background-repeat: no-repeat;
}

fieldset.customfields  {
	border:solid 1px #F1A93F;
	background-color:#FEFEE2;
}

fieldset.customfields legend {
	padding: 0.2em 0.5em;
	border:solid 1px #F1A93F;
	color: #F1A93F;
	font-size:11px;
	font-weight:bold;
	text-align:right;
}

#login-table {
	padding: 10px 15px;
	font-weight: normal;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border: 1px solid #acceff;
	-moz-box-shadow: rgba(200,200,200,1) 0 4px 10px;
	-webkit-box-shadow: rgba(200,200,200,1) 0 4px 10px;	
	width: 320px;
	background-color: #fff;
}

#login-table .login-label {
	color: #777;
	font-size: 14px;
}

#login-table .login-field {
	font-size:22px;
	width:97%;
	padding:3px;
	margin-top:5px;
	margin-bottom:5px;
	border:1px solid #e5e5e5;
	background:#fbfbfb;
	color: #777;
}

#login-error {
	background-color: #ffebe8;
	border: solid 1px #c00;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 11px 5px;
	margin-bottom:15px;
	width: 320px;
}
input.groovybutton
{
	border: 1px solid #A3BAD1;
	color:#394789;
	height: 24px;
	font-size:12px;
	font-family:Arial, sans-serif;
	font-weight:bold;
}
input.groovybutton:hover
{
	border: 1px solid #A3BAD1;
	color:#394789;
	height: 24px;
	background-color: #DBE4ED;
	background-image:none;
}




.inputService{border: 1px solid #99b3b4;width: 220px;background: #e4ebeb url(../images/input_stripe.gif);font: 11px verdana, sans-serif;color:#443;padding:3px;outline:none;}

/* REQUIRED BUTTON STYLES: */		
a.ovalbutton{
background: transparent url('../images/oval-blue-left.gif') no-repeat top left;
display: block;
float: left;
font: normal 13px arial; /* Change 13px as desired */
line-height: 16px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
height: 24px; /* Height of button background height */
padding-left: 11px; /* Width of left menu image */
text-decoration: none;
}

a:link.ovalbutton, a:visited.ovalbutton, a:active.ovalbutton{
color: #000000; /*button text color*/
}

a.ovalbutton span{
background: transparent url('../images/oval-blue-right.gif') no-repeat top right;
display: block;
padding: 4px 11px 4px 0; /*Set 11px below to match value of 'padding-left' value above*/
}

a.ovalbutton:hover{ /* Hover state CSS */
background-position: bottom left;
}

a.ovalbutton:hover span{ /* Hover state CSS */
background-position: bottom right;
color: #1F3E7E;
}

.buttonwrapper{ /* Container you can use to surround a CSS button to clear float */
overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */
width: 100%;
}

.remote_table {
	width: 100%;
	padding: 0;
	margin: 0;
}
.remote_table th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(../images/table_header.jpg) no-repeat;
}

.remote_table th.nobg {
	border-top: 1;
	border-left: 1;
	border-right: 1px solid #C1DAD7;
	background: none;
}

.remote_table td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
	text-align: center;
}


.remote_table td.alt {
	background: #F5FAFA;
	color: #797268;
}

.remote_table td.spec {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff url(../images/table_bullet1.gif) no-repeat;
	font: bolder 15px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-style:italic;
}

.remote_table td.specalt {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa url(../images/table_bullet2.gif) no-repeat;
	font: bolder 15px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-style:italic;
	color: #797268;
}
.services_progressBar { display:block; width:70px; height:70px; line-height:67px; margin:0 5px; background: transparent url('../images/uploading.gif') no-repeat; text-align:center; font-size:30px; color:#666 }
.referring_sites {
	background-color:#EDEDED;
	background-image:url('../images/referring_sites-bg-g.gif');
	background-repeat:repeat-x;
	border:solid 1px #C5F8AC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 10px 0px;
	padding: 8px;
}
.referring_sites a {
	color:#060;
}
.referring_sites a:hover {
	text-decoration:underline;
	font-weight: bold;
}
.selectedFile {
	background-color:#E1FFD1;
	border:solid 1px #C5F8AC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 10px 0px;
	padding: 8px;
	width: 300px;
	overflow: hidden;
	font-size: 10px;
}
a.cancelFile {
	font-size: 0;
	display: block;
	height: 14px;
	width: 14px;
	background-image: url(../images/cancelbutton.gif);
	background-repeat: no-repeat;
	background-position: -14px 0px;
	float: right;
}

a.cancelFile:hover {
	background-position: 0px 0px;
}
a.DownloadNow { 
	background-image:url(../images/bt2.png); 
	display: block;
	height: 30px;
	width: 140px;
}

a.DownloadNow:hover { 
	background-image:url(../images/bt1.png); 
	height: 30px;
	width: 140px;
}
a.buttomAds{ 
	color: #ffffff;
	text-decoration: none
}
a.buttomAds:hover { 
	color: #ffffff;
	text-decoration: none
}
.adsDiv {
    border: 1px solid #000;
    background: linear-gradient(to bottom, #FFFFFF 20%, #BDBDBD);
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);

}
.adsDivtext{
		margin: 6px;
		text-align: left;
		font-weight: 600;
}
.adsTag {

	 margin-top: 2px;
	 margin-bottom: 15px;
}