
/* PROD hp_searchbar_mobile.html */

/* .editTicket a:first-child{ display:none; } */

#chooseLangMobileBox{ display: none; }

.TI_rightPanelMenuItem {
	color: white !important;
	text-shadow: none !important;
	font-weight: normal !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 15pt !important;
	text-align: left;
	margin: 0;
	background-color: transparent !important;
	border-style: none !important;
	line-height: 50px;
	text-decoration: none;
}

.menu-mobile > div.cont > div.logo{
	display:none;
}

.menuMsiteIconBox{
	margin-top: 5px; 
	padding-left: 25px; 
	padding-right: 15px;
}
.menuMsiteIcon{
	background-color: transparent !important; 
	background-position: center center; 
	height:50px;width:50px; 
	background-repeat: no-repeat; float:left;
}
#menuOrarioAcquistoIcon{
	background-image: url('https://www.lefrecce.it/msite/img/Orario-e-Acquisto-44.png');
}	
#menuAreaRiservataIcon{
	background-image: url('https://www.lefrecce.it/msite/img/Area-riservata-44.png');
}
#menuModificaBigliettoIcon{
	background-image: url('https://www.lefrecce.it/msite/img/Modifica-Biglietto-44.png');
}
#menuStatoTrenoIcon{
	background-image: url('https://www.lefrecce.it/msite/img/Stato-treno-44.png');
}
#menuNotizieIcon{
	background-image: url('https://www.lefrecce.it/msite/img/News-44.png');
}
.hrMenuMsiteLike{
	color: white; 
	margin: 0; 
	border-style: solid; margin-top:2px;
}
.blockMenuMsiteLike{
	margin-top: 20px;
	margin-bottom: 10px;
	padding-left: 30px;
	padding-right: 15px; 
}
.input-text-box input{
	-webkit-appearance: none;
	border-radius: 0;
	margin-top : 2px;
	height: 2.0em;
	width: 72%;
	font-size: 0.97em;
}
.input-text-box{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
.menu-mobile .cont{
	padding-left: 10%;
	box-shadow: none;
	height: auto;
	background-color: #545454;
	font-size: 1.27em;
	color: white !important;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: none !important;		
}
#boxLangSelectMobile{
	margin-left: 16.5%;
	margin-top: 0.7em; 
	margin-bottom: 6.3em;
	background-color: #545454;
	height: 0.1em !important;
}
.TI_searchNewTripMainButtons{
	background-color: #d10018 !important;
	color: white !important;
	border-style: none !important;
	font-family: Arial, Helvetica, sans-serif !important;
	display: block !important;
	text-shadow: none !important;
	font-size: 0.97em !important;
	text-align: center !important;
	border-radius: 3px;		
	float:right;
	font-weight: bold;
	padding: 10px;
	width: 22.5%;
	text-decoration: none;
	margin-right:5px;
}
.TI_rightPanelFlagIconsBlock {
	height: 60px !important;
	width: 30% !important;
	margin-right: 1.3% !important;	
	background-color: #545454;
	float:left;
}
.TI_rightPanelIconFlag{
	height: 48pt !important;
	width: 48pt !important;
	margin: 0 auto !important;
	background-repeat: no-repeat !important;
	border-radius: 50% !important;
	border-style: none !important;
	background-size: 140% 140% !important;
	background-position: center center !important;		
	cursor: pointer;
	background-color: #545454;	
}

.TI_rightPanelIconFlagEN {
	background: url("https://www.lefrecce.it/msite/img/Inglese-44.png");
}
.TI_rightPanelIconFlagFR {
	background: url("https://www.lefrecce.it/msite/img/Francese-44.png");
}
.TI_rightPanelIconFlagIT {
	background: url("https://www.lefrecce.it/msite/img/Italiano-44.png");
}
.TI_rightPanelIconFlagDE {
	background: url("https://www.lefrecce.it/msite/img/Tedesco-44.png");
}
.menu-mobile .cont ul li {
	  line-height: 49px;
	  border-top: 1px solid #545454;
	  position: relative;
	  white-space: nowrap;
	  text-overflow: ellipsis;
	  overflow: hidden;
	  color: #fff;
}

.menu-mobile .cont ul.first {
	background-color: #545454; 
}
.menu-mobile .cont ul li ul.second {
		background-color: rgba(107, 101, 101, 0.72);
}
.menu-mobile .cont ul li a.opener{
	background-color: #545454; 
}
.menu-mobile .cont ul li ul.second ul.third {
	background-color: rgba(136, 132, 132, 0.54);
}
.menu-mobile .cont ul li a.opener.open {
	background-color: #545454; 
}
.menu-mobile .cont ul li ul.second .opener {
	background-color: rgba(107, 101, 101, 0.72);
}		  
.menu-mobile .cont ul li.open > ul.second li.open .opener {
	background-color: rgba(107, 101, 101, 0.72);
}
.menu-mobile .hasPlaceholder {
  color: #969696;
}
