#vip_123{
    padding-bottom: 0;
    padding-left: 0px;
}
#vip_123 .ad_item{
    float: left;
    width: 300px;
    margin-right: 30px;
    display:block;
    min-height:1px;
}
#vip_123 .ad_item.last_item{
    margin: 0;
}

#vip_45 .ad_item{
    height: 150px;
    margin-bottom: 20px;
}

#popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.8);
    display: table;
}

#popup .popup_cell{
    display: table-cell;
    vertical-align: middle;
}
#popup-ads-fcode5 .close_btn,
#popup-ads-fsub15 .close_btn,
#popup-eventFollowFolder .close_btn_ff,
#popup-eventdownload .close_btn_eventdownload,
#popup-banner-ads .close_btn_ads
{
    padding: 7px !important;
}
#popup .close_btn,
#popup-ads-fsub15 .close_btn,
#popup-ads-fcode5 .close_btn,
#popup-eventFollowFolder .close_btn_ff,
#popup-eventdownload .close_btn_eventdownload,
#popup-banner-ads .close_btn_ads
{
    position: absolute;
    background-color: #FFF;
    padding: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 15px;
    right: -10px;
    top: -10px;
    cursor: pointer;
    z-index: 10;
}
#popup-eventdownload .modal-dialog .modal-content{
    width: 720px;
    height: 300px;
    background: url(../images/events/event_0104.gif) no-repeat;
    background-size: 720px 300px;
}
#popup-eventperson .modal-dialog .modal-content{
    width: 720px;
    height: 300px;
    left: -50px;
}
#popup-eventtayduky textarea:focus, input:focus{
    outline: none;
}
#input_nametdk{
    margin-top: 177px;
    margin-left: 263px;
    background: transparent;
    border: none;
}
#popup-eventdownload{
    top: 100px;
}
#popup-eventdownload .modal-body{
    position: relative;
}
#popup-eventperson #output_name{
    text-align: right;
    font-size: 26px;
    margin-top: 8px;
    margin-right: 415px;
    font-weight: bold;
    color: #66ff1a;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
#submit_tayduky{
    width: 198px;
    height: 62px;
    background: url(../images/events/button_TDK.png) no-repeat;
    border: none;
    margin-left: 235px;
    margin-top: 21px;
}
#submit_tayduky:hover{
    cursor: pointer;
    background: url(../images/events/button_TDK_hover.png) no-repeat;
}
#popup .popup_content{
    margin: auto;
    width: 720px;
    position: relative;
}
#popup-eventfly .modal-dialog,
#popup-eventvalentine .modal-dialog,
#popup-eventFollowFolder .modal-dialog,
#popup-ads-fcode5 .modal-dialog,
#popup-ads-fsub15 .modal-dialog,
#popup-banner-ads .modal-dialog
{
    width: 720px;
}
#dk_1234{
    position: relative;
}

#dk_1234 .dk_12{
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 15px;
}

#dk_1234 .ad_item{
    height: 250px;
    margin-bottom: 15px;
}

#dk_1234 .dk_34{
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 15px;
}

#dn{
    position: relative;
}
#dn .ad_item{
    position: absolute;
    bottom: 0;
    right: 0;
}

#sp{
    position: absolute;
    top: 5px;
    right: 15px;
}

#fd{
    position: relative;
}

#fd .ad_item{
    position: absolute;
    margin-top: 15px;
    height: 600px;
    width: 120px;
}
#fd .fd_2{
    left: 0;
    top: 0;
}

#fd .fd_1{
    right: 0;
    top: 0;
}
.ad-wrapper{
    position: relative;
}
.dl_1, .dl_2,.dl_9,.dl_10{
    position: absolute;
}
.dl_1{
    width: 160px;
    height: 600px;
    margin-left: -175px;
}
.dl_2,.dl_10{
    width: 160px;
    height: 600px;
    right: 0;
    margin-right: -175px;
}
.dl_5, .dl_6{
    width: 728px;
    margin: auto;
    margin-bottom: 15px;
}
.dl_3, .dl_4{
    width: 300px;
    margin: auto;
}
#balloon{
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 10;
    box-shadow: 0 0 15px;
}

#balloon #balloon_header{
    background-color: #50789b;
    padding: 5px 10px;
    color: #FFF;
    font-size: 12px;
}
#balloon #balloon_btn{
    width: 50px;
    text-align: right;
	
}

#balloon #balloon_btn p{
    width: 20px;
    cursor: pointer;
    margin: 0;
}
#balloon #balloon_btn .toggle_btn{
    margin: 0 5px;
    display: none;
}

#balloon #balloon_content{
    width: 336px;
    height: 280px;
}
.tm-4{
    position: absolute;
    width: 120px;
    height: 600px;
    margin-left: -135px;
    top: 25px;
	margin-top:75px;
}
.tm-5{
    position: absolute;
    width: 120px;
    height: 600px;
    margin-left: 999px;
    top: 25px;
	margin-top:75px;
}
.dl_9{
    width: 160px;
    height: 600px;
    left: -175px;
    top:20px;
}
.dl_10{
    top:20px;
}
.share-face-download{
    background: url(/images/events/Share_face.gif) no-repeat;
    background-size: 100%;
    background-position: left;
    height: 80px;
    margin-top: 200px;
    margin-left: 0px;
    cursor: pointer;
    width: 320px;
    /*
    background: url(/images/social-facebook.png) no-repeat;
    background-size: 35px 35px;
    top: 250px;
    height: 35px;
    border: none;
    cursor: pointer;
    padding: 15px 35px 0px 35px;
    position: absolute;
    font-size: 17px;
    color: #B71C1C;*/
}
/*.share-face-download:hover{
    text-decoration: none;
    color: #B71C1C; 
    font-weight: bold;
    
}*/
.playagain{
    padding: 5px 12px;
    width: 84px;
    height: 30px;
    background: url(../images/icon_back.png) no-repeat;
    margin-left: 200px;
    margin-top: -40px;
    border: none;
    cursor: pointer;
}

