/* Height hack for float wrappers */
.services {
	overflow: auto;
}

.auth-icon {
	display: block;
	width: 32px;
	height: 32px;
	background: url("../images/auth.png") no-repeat;
}

.auth-icon.google,
.auth-icon.google_oauth {
	background-position: 0 -34px;
}

.auth-icon.twitter {
	background-position: 0 -68px;
}

.auth-icon.yandex,
.auth-icon.yandex_oauth {
	background-position: 0 -102px;
}

.auth-icon.vkontakte {
	background-position: 0 -136px;
}

.auth-icon.facebook {
	background-position: 0 -170px;
}

.auth-icon.mailru {
	background-position: 0 -204px;
}

.auth-icon.moikrug {
	background-position: 0 -238px;
}

.auth-icon.odnoklassniki {
	background-position: 0 -272px;
}

.auth-icon.linkedin {
	background-position: 0 -306px;
}

.auth-icon.github {
	background-position: 0 -340px;
}

.auth-icon.live {
	background-position: 0 -372px;
}

.auth-icon.yahoo {
	background-position: 0 -406px;
}

.auth-icon.steam {
	background-position: 0 -440px;
}

.auth-icon.dropbox {
    background-position: 0 -472px;
}

.auth-link:hover .auth-icon i,
.auth-link:focus .auth-icon i {
	display: block;
	width: 32px;
	height: 32px;
	background: url("../images/auth.png") 0 0 no-repeat;
}

.auth-services {
	list-style: none;
	/* Height hack for float wrappers */
	overflow: auto;
}

.auth-services .auth-service .auth-link {
	display: block;
	/*padding: 0 0.4em;*/
}

.auth-service .auth-link .auth-icon {
	margin: 0 auto;
}

.auth-service .auth-link .auth-title {
	display: block;
	margin-top: 0.4em;
	text-align: center;
}