/*.btn-download-free{
    background: url(../img/background/button1.png) no-repeat !important;
    background-size: 100% 100% !important;
}
.btn-download-free i,.btn-download-vip i,.btn-download-sms i{
    display: none !important;
}
.download-txt{
    color: #224f77!important;
    font-weight: bold;
}
.btn-download-vip{
    background: url(../img/background/button3.png) no-repeat !important;
    background-size: 100% 100% !important;
}
.btn-download-sms{
    background: url(../img/background/button2.png) no-repeat !important;
    background-size: 100% 100% !important;
}*/
a.logo{
    background: none;
}
header .container{
    background: url(../img/logo_fshare_noen.png) no-repeat; 
}
#homepage{
    background: url(../img/bg_homepage_noen.png) center top no-repeat;
}