/*----------------------------------------------------------------------
 HEADER
----------------------------------------------------------------------*/



#slideshow {
	position: relative;
	width: 855px;
}

#slides1 {
	overflow: hidden;
	/*height: 212px;*/
}

#slides1 li {
	list-style: none;
	width: 855px;
}

#slides1 li img {
	float: left;
	width: 568px;
}

#slides1 .content {
	float: left;
	width: 220px;
	padding-top: 95px;
	color:#fff
}

#slides1 li p {
	line-height: 22px; margin-top:30px
}

#slides1 h2 {
	font-size: 36px;
	font-weight: 200;
}

#slides1 h4 {
	font-size: 18px;
	color: #000;
	font-style: italic;
	font-weight: normal;
	text-transform: lowercase;
	padding-bottom: 16px;
}

#slideshow .prev {
	position: absolute;
	right: 275px;
	top: 170px;
	outline: 0;
}

#slideshow .next {
	position: absolute;
	right: 0px;
	top: 170px;
	outline: 0;
}

#slideshow a:active {
	top: 170px;
}

#slideshow .bx_pager {
    left: 680px;
    position: absolute;
    top: 320px;
}

#slideshow .bx_pager a {
	float: left;
	background: url(bg_pager.png) no-repeat 0 -32px;
	width: 10px;
	height: 10px;
	color: #fff;
	font-size: 0;
	margin-right: 12px;
	text-decoration: none;
}

#slideshow .bx_pager a:hover, #slideshow .bx_pager a.active {
	background-position: 0 0;
	text-decoration: none;
}


#slideshow_partner{
    margin-top:35px;
    max-width:700px;
}
#slideshow_partner li{
    width:110px;
    height:60px;
    margin-right:30px;
}
#slideshow_partner li img {   
    width:110px !important;
     height:60px !important;
    border-radius: 4px;
    padding: 4px;
    background: gainsboro;
}