/* CSS Document  'Open Sans', sans-serif*/
body{
    font-family: Arial;
    font-size: 14px;
    color:#3f3f3f;
}
a{
    cursor: pointer;
}
#homepage{
    background: url(../img/bg_homepage.png) center top no-repeat;
}
#homepage h2,
#homepage h3,
#homepage h4{
    font-weight: 200;
}

.container{
    width: 990px;
    position:relative;
}



/* Header */
.navbar-inverse{
    background: none;
    border: none
}
.header_left{
    width: 169px;
    height: 71px;
}
a.logo{
    background: url(../img/logo_fsharev2.png) no-repeat; 
    height:44px; 
    font-size:0px;
    margin-top: 15px;
    display: block;
}
.welcome{
    /*padding-right:30px;*/
}
.welcome>ul{
    height: 26px;
    line-height: 26px;
    margin: 0;
    font-size:13px;
    text-align: right;
}
.welcome>ul>li{
    display: inline-block;
    /*margin:0 0 0 25px;*/
}
.welcome ul li ul li{
    margin: 0;
    width: 100%;
    text-align: left;
}
.welcome ul.dropdown-menu li a{
    color:#4e616a;
    line-height: 28px;
}
.welcome ul.dropdown-menu li.divider{
    margin: 4px 0;
}
.dropdown-menu .divider { width:100%; }
/* End Header */

/* Banner and login form */
.banner{
    margin-left: -170px;
    height: 398px;
    width: 870px;
}
/*.banner ul				{   -moz-padding-start: 0px !important;}*/

.regis_bt{
    background:url(../img/icon_regis.png) no-repeat left center; 
    margin: 0;
    padding: 25px 20px 25px 100px;
    display: table-cell;
    vertical-align: middle;
}

.hotline{
    /*    position:absolute; 
        top:468px;*/
    height:136px;
    background:url(../img/bg_tranc.png) center bottom no-repeat;
    /*width:100%*/
}
.hotline_left{

    height: 136px;
}
.hotline_right{
    width: 200px;
    height: 136px;
}
.btn-danger {
    color: #fff !important;
    background-color: #b33d15;
    border-color: #b23e15;
}
.btn-info {
    color: #fff;
    background-color: #47539d;
    border-color: #47539d;
}
/* End Banner and login form*/

/* Footer */
footer .container		{	padding-top:15px; padding-bottom:15px}
.top_footer{
    background:url(../img/bg_footer.png) repeat-x #383838; 
    color:#fff; 
    font-size:90%;
    font-weight:200 
}
.top_footer	a			{	color:#fff; }
.top_footer ul			{	margin:0; padding:0; list-style:none}
.congcu_footer 			{	padding:0; list-style:none; margin:0}
.congcu_footer li a		{
    display: block;
    width: 45px;
    height: 45px;
    float: left;
    margin-right: 10px;
}
.congcu_footer li a.one		{	background: url('../img/logo_congcu.png') 268px;}
.congcu_footer li a.two		{	background: url('../img/logo_congcu.png') 213px;}
.congcu_footer li a.three	{	background: url('../img/logo_congcu.png') 157px;}
.congcu_footer li a.four	{	background: url('../img/logo_congcu.png') 101px;}
.congcu_footer li a.five	{	background: url('../img/logo_congcu.png') 45px;}
.copyright			{ font-size:13px; color:#868686; margin:0; line-height: 25px}
/* End Footer */

/* */
img.pull-left			{ 	margin-right:10px}
.m_t_20					{	margin-top:20px}
.m_t_40                 {   margin-top:40px}
.m_r_20                 {   margin-right:20px}
.m_r_7                {   margin-right:7px}
/*.navbar					{	margin-bottom:0}
.navbar-nav				{	margin-top:26px}*/
.top_menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}
.top_menu ul > li{
    display: inline-block;
    margin-left: 16px;
}
.top_menu ul > li > a{
    font-size:16px; 
    line-height:45px; 
    padding:0; 
    font-weight:600; 
    color:#47539d;
    text-decoration: none;
}
.top_menu ul > li > a:hover{
    color: #626262;
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus
{
    background-color:transparent
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > li > a:hover, 
.navbar-inverse .navbar-nav > li > a:focus
{
    color:#626262 !important
}
/* */
.breadscum{
    /*	overflow:auto;
            max-height: 220px;
            height: auto;*/
    max-width: 650px;
    font-family: Arial;
    font-weight: normal;
    font-size: 16px; 
}
.breadscum > li > a{
    /*font-family: Tahoma !important;*/
    /*font-weight: bold;*/
}
ul.dropdown-menu[role="menu"]{
    right: -90px;
}
.dropdown-menu > li > a, .dropdown-menu > li.info {
    font-size: 12px;
    color: #555 !important;
    height: 28px;
    line-height: 28px;
    padding: 0 30px;
}
.dropdown-menu > li.info.capacity{
    height: auto;
}

.dropdown-menu > li.info.capacity .progress{
    height: 10px;
}

.dropdown-menu > li > a:hover{
    background-color: #87cefa !important;
}


.context-menu > li > a {
    font-size: 14px;
    color: #555;
    height: 28px;
    padding: 0 15px;
    font-weight: bold;
}
.dropdown-menu > li.info  {
    color: #888;
}
.dropdown-menu > li.info p {
    line-height: 28px;
    margin: 0;
}

.dropdown-menu > li span {
    padding-right: 10px;
    font-size: 14px;
}
.pull-right .dropdown-menu:after {
    left: auto;
    right: 13px;
}
.pull-right .dropdown-menu {
    left: auto;
    top: auto;
    right: -45px;
}
.btn-default-white{background-color:#fff;border-color:#ccc;color:#333;}
.col-md-offset-1 a{
    padding-right: 20px;   
}
.icon-right .glyphicon {
    padding-right: 10px;     
}
ul.list-inline li a{ padding-right: 0 !important;}
ul.list-inline img{ opacity:0.5;}
ul.list-inline img:hover{ opacity:1;}

.user_account dt{
    padding: 3px 10px 0 0 !important;
    width: 130px !important;
    text-align: left !important;
    font-weight: normal !important;
}
.user_account dd{
    margin-left:132px !important;
    padding-top: 3px !important;
    font-weight: normal !important;
}
.dropdown-menu li a.active{
    color:#B23E15 !important;
}
.tooltip-inner {
    white-space:pre-wrap;
    text-align: left;
}

#notify{
    margin: 0;
}
.thumbnail-icon{
    display: inline-block;
    margin-right: 26px;
    margin-left: 4px;
    vertical-align: top;
    border: 1px solid #000000;
    margin-top: 5px;
    height: 25px;
    width: 25px;
}
.none-image{
    background: none !important;
    padding-left: 0px !important;

}
#support-menu{
    left: 0;
    top: 30px;
}
ul.photolist{
    padding: 0 5px;
}
ul.photolist li{
    float: left;
    margin: 5px;
    text-align: center;
    width: 180px;
    min-height: 210px;
}

ul.photolist .folder_thumbnail{
    height: 155px;
    display: table;
    width: 100%;
}
ul.photolist .file_thumbnail{
    height: 155px;
}
ul.photolist .file_thumbnail img{
    max-height: 155px;
    max-width: 155px;
    height: 100%;
}
ul.photolist .folder_thumbnail a{
    display: table-cell;
    vertical-align: middle;
}
ul.photolist .folder_thumbnail img{
    width: 100px;
}
ul.photolist .folder_name, ul.photolist .file_name{
    font-weight: bold;
    margin: 5px 0;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    font-size: 12px;
}

#file_info{
    padding: 0 15px;
    color: #666;
    display: none;
}
.glyphicon-google{
    background: url("../images/account/google-icon.png") no-repeat center center;
    width: 14px;
    height: 14px;
}

.saokhue_lbl img{
    float: left;
}
.saokhue_lbl .saokhue_text{
    float: left;
    margin-bottom: 20px;
}
.saokhue_lbl p{
    float: left;
    margin: 16px;
}

#dlfolder ul.photolist{
    padding: 0;
    display: none;
}

#dlfolder ul.photolist li{
    margin-top: 10px;
    margin-left: 0;
    margin-right: 10px;
    width: 155px;
}
#dlfolder ul.photolist li:nth-child(4n+4){
    margin-right: 0;
}

/*upload form*/
#fileupload .files-wrapper {
    height: 284px;
    overflow-y: auto;
    margin: 0;
}
#fileupload ul.files {
    /*min-height: 40px;*/
    margin: 0;
}
#fileupload  ul.files .list-group-item {
    height: 40px;
}
#fileupload  ul.files .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float:left;
}
#fileupload  ul.files .size {
    text-align: center;
    float:left;
}
#fileupload  ul.files .text-center{
    float:left;
    font-size: 13px;
}
#fileupload  ul.files .file-info .cancel {
    padding: 0;
}
#fileupload  ul.files .progress {
    margin: 0;
    position: relative;
}
#fileupload .progress-bar-info{
    position: absolute;
    width: 100%;
    color: #000;
    text-align: center;
    background-color: transparent;
}
#fileupload .bitrate, #fileupload .remaining{
    line-height: 30px;
}
.progress {
    background: #e1dcd6;
}
.progress-bar {
    background: #b33d15;
}
#fileupload .copy-upload-link.zeroclipboard-is-hover{
    color: #2a6496;
}

/*------- login_box ---------*/
.login_box{
    background-color: #50789b;
    width: 260px;
    color: #FFF;
    padding: 15px;
    margin: 15px 0;
}
.login_box .login_box_top{
    margin-bottom: 5px;
}
.login_box .login_box_top h4{
    margin: 0;
}
.login_box .remember_link{
    color: #FFF;
}
.login_box .captcha_btn{
    vertical-align: top;
    display: inline-block;
    height: 30px;
    line-height: 35px;
    color: #FFF;
}

.login_box .file_mrg_btn{
    display: block;
    font-size: 16px;
    line-height: 26px;
    box-shadow: 0 2px 4px 0 #333;
}
.login_box .file_mrg_btn .glyphicon{
    line-height: 24px;
}

/*----- login page -----*/
#login-form .errorMessage{
    margin: 5px 0;
}
#login-form .captcha_img{
    height: 58px;
    margin-right: 20px;
    margin-bottom: 10px;
}
#login-form .captcha_btn{
    vertical-align: top;
    display: inline-block;
    height: 60px;
    line-height: 70px;
}
#login-form .captcha_btn > i{
    font-size: 18px;
}

/*----- forgot page -----*/
#forgot .errorMessage{
    margin: 5px 0;
}
#forgot .captcha_img{
    height: 58px;
    margin-right: 20px;
    margin-bottom: 10px;
}
#forgot .captcha_btn{
    vertical-align: top;
    display: inline-block;
    height: 60px;
    line-height: 70px;
}
#forgot .captcha_btn > i{
    font-size: 18px;
}

/*----- reset password page -----*/
#reset .errorMessage{
    margin: 5px 0;
}

/*----- pointcoinmanage page -----*/
#pointcoinmanage .errorMessage{
    margin: 5px 0;
}

#pointcoinmanage .captcha_img{
    height: 60px;
    margin-right: 20px;
}

#pointcoinmanage .captcha_btn{
    vertical-align: top;
    display: inline-block;
    height: 60px;
    line-height: 70px;
}
#pointcoinmanage .captcha_btn > i{
    font-size: 18px;
}

/*----- support -----*/
.opaque{opacity: 0.5;}
.form_date{margin-top: 40px;}
.form_account{margin-top: 45px;}
.support_capcha{width:220px; height: 45px;}
.text_capcha{width:85px; height: 42px;margin-top: 2.5px;
}
#support_content .support_left{
    width: 50%;
    padding-right: 15px;
}
#support_content .support_right{
    width: 50%;
    padding-left: 15px;
}
#support_content .errorMessage{
    margin: 5px 0;
}

#support_content .captcha_img{
    width: 190px;
    margin-right: 10px;
}

#support_content .captcha_btn{
    vertical-align: top;
    display: inline-block;
    height: 35px;
    line-height: 30px;
}
#support_content .captcha_btn > i{
    font-size: 18px;
}
#support_content .support_button{
    padding: 15px 0;
}
#support_content .btn-group{
    width: 100%;
}
#support_content .btn-group button{
    margin-bottom: 10px;
    font-size: 12px !important;
    width: 100%;
}
#support_content select, #support_content #support_content-menu{
    width: 100%;
}
#support_content #is_gate{
    display: none;
}


.services .auth-services{
    list-style: none;
    margin: 0;	
        padding: 0;
}
.services .auth-services > li {
    display: inline-block;
}
.services .auth-services .auth-link{
    width: 61px;
    height: 34px;
}
.services .auth-services .auth-service.google_oauth{
    margin-right: 10px;
}

/*.services .auth-services .facebook {
    background: url('../images/homepage/iconF.png') no-repeat right;
    width: 29px;
    height: 24px;
    margin-left: -40px;
    position: absolute;
}
.services .auth-services .google_oauth {
     background: url('../images/homepage/iconG.png') no-repeat left;
   width: 29px;
    height: 24px;
    margin-left: -75px;
    position: absolute;
}*/
.facebook{
   //background: url('../images/homepage/iconF.png') no-repeat right;
      margin-right: 18px;
}
.oatf {
    text-align: right;
    float: left;
    margin-left: 698px;
   
    /* margin-right: 100px; */
}

#dd {
    overflow: hidden;

       
    
}


.mystyle {
   background: url('../images/homepage/iconF.png') no-repeat right;
   display: none;
}

.services.col-sm-7{
    position:initial;
}


.google_oauth { 
    //background: url('../images/homepage/ButtonG.png') no-repeat left;
    //width: 135px ;
    height: 40px;
}




.logo_christmas{
    width:360px;
    height:71px;
    display:block;
    position: absolute;
    top: 0px;
    left: -47px;
    background:url(../img/logo_chrismas.png)  no-repeat; 
}


#sp_2{

    position: absolute;
    top: 240px;
    left: 50px;
    width:120px;
    height:600px;

}
#sp_3{

    position: absolute;
    top: 240px;
    right: 25px;

}
#tm_1{
    width: 180px;
    height: 150px;
}
#tm_2{
    width: 180px;
    height: 150px;
    margin-top: 20px;

}
#tm_3{
    width: 120px;
    height: 600px;
    margin-top: 20px;
    position: absolute;
    top: -20px;
    right: -120px;

}

.helper{
    font-size: 14px;
    color: inherit;
}
.disabled{
    color: #666;
}

#account-invite p{
    margin-bottom: 5px;
    font-weight: bold;
}
#account-invite h4{
    margin-bottom: 15px;
}
#account-invite .separator{
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}
#account-invite .invite-remain{
    font-size: 30px;
}
#account-invite ul{
    font-size: 12px;
}
#account-invite .btn-info{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
#account-invite .btn-info:hover{
    color: #fff;
    background-color: #39b3d7;
    border-color: #269abc;
}
#account-invite .btn-danger{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
#account-invite .btn-danger:hover{
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
#account-invite #invite-link{
    background-color: #FFF;
    cursor: auto;
}
#account-invite #copy-invite-link{
    outline: none;
}
#account-invite #copy-invite-link.zeroclipboard-is-hover{
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}
#account-invite #copy-invite-link.zeroclipboard-is-active{
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
#account-invite .modal-header {
    border-bottom: 1px solid #e5e5e5;
}
#account-invite .errorMessage{
    margin: 5px 0;
}
#account-invite .captcha_img{
    width: 100%;
    cursor: pointer;
}
#account-invite .social-btn a{
    width: 40px;
}
#account-invite .social-btn a.zingme{
    padding: 8px 0;
}
#account-invite .social-btn a.zingme img{
    height: 34px;
    width: 40px;
    vertical-align: top;
}
#account-resendactivation .errorMessage{
    margin: 5px 0;
}
#account-resendactivation .captcha_img{
    width: 100%;
    cursor: pointer;
}
.file_management #copy-link.zeroclipboard-is-hover{
    background-color: #87cefa;
    color: #555;
}
#path li:first-child a span{
    min-width: 23px;    
}
.following-hd li:first-child a span{
    vertical-align: -webkit-baseline-middle !important;    
}
.login_box .captcha_img{
    cursor: pointer;
}

#upload-area{
    border-right: 1px solid #e5e5e5;
}

#upload-area .files-wrapper.drag-over{
    box-shadow: inset 0 0 15px #666;
    transition: box-shadow 1s;
}
#upload-area .dropzone-bg{
    position: absolute;
    width: 100%;
    top: 60px;
    opacity: 0.3;
}
#upload-area .files-wrapper.drag-over .dropzone-bg{
    opacity: 0.5;
    transition: opacity 0.5s;
}
#upload-area .dropzone-wrapper{
    position: relative;
}
#upload-area .dropzone-bg .fa-cloud-upload{
    font-size: 100px;
}

#upload-area .copy-upload-link.zeroclipboard-is-hover{
    color: #2a6496;
}

.guest-upload #policy table{
    border-top: 1px solid #e5e5e5;
    margin-top: 15px;
}

#upload-btn{
    box-shadow: 0 2px 4px 0 #333;
    border: 1px solid gainsboro;
}
.embed-responsive-item{
    width: 465px;height: 250px;
    margin-bottom:15px;
}
.gifbox-content{
    line-height: 25px;
}
.title-gifbox-content{
    margin-bottom: 20px !important;
}
.giftbox-background{
    position: absolute;
    height: 400px;
    width: 720px;
    background:url('../images/gifttrial2.png')no-repeat;
    background-size: 70% 70%;
    background-position-x: 120px;
    opacity: 0.2;
}
/*.p-content-giftbox{
    background: url('../images/gifttrial3.png') no-repeat;
    background-size: 50px 50px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 55px;
    font-size: 16px;
    font-weight: bold;
}*/
.p-title-content-giftbox{
    font-size: 22px;
    color:#ff5d02;
    text-align: center;
    margin-bottom: 10px;
}
.dialog-content{
    font-size: 15px;
    font-weight: bold;
}
.a-error{
    color:red;
    font-weight: bold;
}
.a-error:hover{
    color:#d43f3a;
    text-decoration: none;
}
.a-images{
    display: inline;
    position: absolute;
}
.p-content-giftbox{
    display: inline;
    font-size: 16px;
    margin-left: 55px;
}
.a-actived{
    color:red;
}
.a-actived:hover{
    color:#868686;
    text-decoration: none;
}
.ul-nogift{
    list-style: disc;
    z-index: 100;
    position: absolute;
}
.ul-nogift li{
    margin-left: 20px;
}

#info-menu {
    position: fixed;
    right: 0;
    bottom: 0px;
    width: 100px;
    height: 100px;
    background-color: rgba(0,0,0,0);
    border-top-left-radius: 200px;
    transition: all .4s ease-in-out;
}
#info-menu.show {
    background-color: rgba(0,0,0,0.5);
    width: 180px;
    height: 180px;
}

#info-menu .info-btn{
    position: absolute;
    bottom: 0;
    right: 5px;
}
#info-menu .info-btn a[data-tooltip] {
    display: block;
}
#info-menu .profile-btn{
    position: absolute;
    opacity: 0;
    bottom: 0;
    right: 0;
    transition: all .4s ease-in-out;
    transform: translateX(0);
    transform: translateY(0);
}
#info-menu .account-btn{
    position: absolute;
    opacity: 0;
    bottom: 0;
    right: 0;
    transition: all .4s ease-in-out;
    transform: translateX(0);
    transform: translateY(0);
}
#info-menu .resource-btn{
    position: absolute;
    opacity: 0;
    bottom: 0;
    right: 0;
    transition: all .4s ease-in-out;
    transform: translateX(0);
    transform: translateY(0);
}

#info-menu.show .info-btn .profile-btn{
    opacity: 1;
    transform: translateY(-110px); 
}
#info-menu.show .info-btn .account-btn{
    opacity: 1;
    transform: translate(-70px,-70px);
}
#info-menu.show .info-btn .resource-btn{
    opacity: 1;
    transform: translateX(-110px);
}
#info-menu .info-btn .glyphicon.glyphicon-info-sign{
    font-size:50px;
    color: #66ccff;
}
.img_qrcode,.aff-download-qrcode{
    vertical-align: top;
    display: inline-block;
}
.img_qrcode:hover,.aff-download-qrcode:hover{
    cursor: pointer;
}
#link-aff-input {
    width: 350px;
    height: 30px;
    padding-left: 7px;
    color: #408ED2;
    margin-top: -3px;
    margin-left: 5px;
    border-radius: 3px;
    border: 1px solid #8E8A8A;
}

#copy-link-aff{
    width: 75px;
    height: 30px;
    margin-top: -3px;
    padding: 0 0;
    position: relative;
}
.aff-info{
    padding: 5px 0 5px 5px !important;
    border: 2px #A9A7A7 dotted;
    border-radius: 5px;
    height:83px;
    width: 450px;
}
.aff-download-link{
    position: absolute;
    top:50px;
}
.selected-aff{
    position: absolute;
    top: 7px;
    right: 23px;
    z-index: 100;
}
.social-sharing-aff-download.btn-sm{
    margin-right: 4px;
}
.aff-download-qrcode img{
    border-radius: 3px;
}
.aff-qrcode-bit{
    display: none;
    position: absolute;
    margin-left: 5px;
}
.aff-qrcode-nomal{
    width: 30px;
    height: 30px;
    display: inline;
}
.containterPopUp{
    position:relative;
    left: 40px;
}
.containterPopUp img
{      
    left:-12px;
    top:0;
    width: 520px;
}
.textPopUp
{
    z-index: 100;
	margin-top: -130px;
    margin-left: 43px;
}
.non-border-bottom
{
    border-bottom: #FFFFFF !important;
}
.secure-i{
    color: #608FB9;
    line-height: .75em;
    vertical-align: -15%;
    display: inline-block;
    width: 30px;
    height: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
}
.secure-img{
    background: url('../img/secure.png') center no-repeat;
}
.secure2-img{
    background: url('../img/secure2.png') center no-repeat;
}
.unsecure-img{
    background: url('../img/unsecure.png') center no-repeat;
}

.policy-img{
    background: url('../img/policy.png') center no-repeat;
}
.notify{
    text-align: left;  
    max-height: 80px;
    min-height: 80px;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px #ddd;    
}

.notify-title{
    font-weight: 400;
    font-size: 14px;    
    color: #333;
    max-height: 50px;
    min-height: 25px;    
}
.notify-new{
    background-color: rgba(61, 151, 243, 0.2);
}
.notify a{
    font-weight: bold !important;    
    text-decoration: none;
}
.notify-new a p{
    font-weight: bold !important;    
}
.notify-introtext{
    font-size: 11px;
    font-weight: 100;
    color: #666;    
}

.notify-hr{
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin-bottom: 10px;
    margin-top: 10px;

}
.notify-content{
    width: 85%;
    position: relative;
    float: left;
}
.notify-icon-content{
    height: 60px;
    line-height: 60px;
    width: 10%;
    position: relative;
    float: left;
}
.notify-icon{    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    background-color: #FF5722;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    font-size: 14px;   
    color: #fefefe;
    font-weight: 100;

}
.notifybell{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FB1111;
    color: #fff;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: 15px;
    font-weight: bold;
    font-size: 9px;
    margin-left: -13px;
    margin-top: -15px;
    border: solid 1px white;
}
/*panel */

.notify-introtext-panel{
    font-size: 9px;
    color: #666;
    font-weight: 100;
    margin-top: 10px;    
}
.notifypanel{
    text-align: left; 
    background-color: #F0F0F0;
}
.notifypanel .notify-new{
    background-color: white !important;  
}
.notifypanel .notify-new .notify-item-panel{  
    font-size: 13px;
    font-weight: bold;
    color: #333 !important;
}
.notifypanel a.list-group-item{    
    max-height: 80px;
    min-height: 80px;    
    max-width: 380px;
    margin: 3px 15px;  
    box-shadow: 0px 3px 4px -3px #535353;
    background-color: #E7E7E7;    
}
.notifypanel a.list-group-item:hover{
    background-color: #B4D5F7 !important;    
}
.notify-icon-panel{
    height: 60px;
    line-height: 60px;
    width: 15%;
    position: relative;
    float: left;
}
.notify-item-panel{
    width: 85%;
    position: relative;
    float: left;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;    
    max-height: 50px;
    margin-top: 0px;
    margin-bottom: -5px;
    overflow: hidden;
    border-radius: inherit !important;
    color: #666 !important;
}

/* color */
.color-1{
    background-color: rgb(37, 174, 210);
}
.color-2{
    background-color: rgb(241, 206, 13);
}
.color-3{
    background-color: rgb(38, 228, 137);
}
.color-4{
    background-color: rgb(236, 26, 95);
}
.color-5{
    background-color: rgb(37, 200, 210);    
}
.scroll{
    height:50px;  
}
.audioevent{
    height: 31px;
    text-align: right;
    padding-bottom: 15px;
}

.logo_xuan{
    background: url(../img/logo_xuan_2016.png) no-repeat;
    height: 90px;
    width: 310px;
    font-size: 0px;
    display: block;
    margin-left: -65px;
}
.left_xuan_2016{
    background: url(../img/left_xuan_2016.png) no-repeat;
    width: 544px;
    height:100%;
    display: block;
    position: absolute;
    top: 22px;
    left: -330px;
    overflow: hidden;
    opacity: 0.7;

}
.right_xuan_2016{
    background: url(../img/right_xuan_2016.png) no-repeat;
    width:482px;
    height:100%;
    display: block;
    position: absolute;
    top: 60px;
    right: 0px;
    overflow: hidden;
    opacity: 0.5;

}
.new_file_follow_folder{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FB1111;
    color: #fff;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: 17px;
    font-weight: bold;
    font-size: 9px;
    position: absolute;
    margin-left: -37px;
    margin-top: 5px;
}
.follow_new{
    background-color: rgba(42, 137, 185, 0.62) !important;
}
#follow{
    text-align: center;
}
.follower_num{
    position: absolute;
    font-size: 10px;
    margin-top: 4px;
    margin-left: -5px;
    color: #f5f5f5;
    background-color: rgb(144, 187, 213);
    width: auto;
    min-width: 20px;
    height: 17px;
    line-height: 18px;
    border-radius: 14px;
    padding: 0px 3px;
    font-weight: 100;   
}
.affix #fixed-tools .tooltip {        
    left: auto !important;
    width: 100px;
    right: -15px;
}
/*@keyframes topfollowIcon {        
    0%   { -ms-transform: rotate(0deg) scale(0.5) skew(0deg);  IE 9 
           -webkit-transform: rotate(0deg) scale(0.5) skew(0deg);  Chrome, Safari, Opera 
           transform: rotate(0deg) scale(0.5) skew(0deg);}
    25%  { -ms-transform: rotate(0deg) scale(0.7) skew(0deg);  IE 9 
           -webkit-transform: rotate(0deg) scale(0.7) skew(0deg);  Chrome, Safari, Opera 
           transform: rotate(0deg) scale(0.7) skew(0deg);}
    50%  { -ms-transform: rotate(7deg) scale(1) skew(0deg);  IE 9 
           -webkit-transform: rotate(7deg) scale(1) skew(0deg);  Chrome, Safari, Opera 
           transform: rotate(7deg) scale(1) skew(0deg);}
    70%  { -ms-transform: rotate(-7deg) scale(1) skew(0deg);  IE 9 
           -webkit-transform: rotate(-7deg) scale(1) skew(0deg);  Chrome, Safari, Opera 
           transform: rotate(-7deg) scale(1) skew(0deg);}
    90%  { -ms-transform: rotate(7deg) scale(1) skew(0deg);  IE 9 
           -webkit-transform: rotate(7deg) scale(1) skew(0deg);  Chrome, Safari, Opera 
           transform: rotate(7deg) scale(1) skew(0deg);}
    100% { -ms-transform: rotate(0deg) scale(1) skew(0deg);  IE 9 
           -webkit-transform: rotate(0deg) scale(1) skew(0deg);  Chrome, Safari, Opera 
           transform: rotate(0deg) scale(1) skew(0deg);}
}*/

/*#topfollow {    
    position: absolute; 
    top: 1px;
    right: -110px;
    -webkit-animation: cssAnimation 1.5s 2 ease-out;
    -moz-animation: cssAnimation 1.5s 2 ease-out;
    -o-animation: cssAnimation 1.5s 2 ease-out;
}*/
#top_follow a{
    -webkit-animation: color_change 1s infinite alternate;
    -moz-animation: color_change 1s infinite alternate;  
    -ms-animation: color_change 1s infinite alternate;  
    -o-animation: color_change 1s infinite alternate;  
    animation: color_change 1s infinite alternate;   
}

@-webkit-keyframes color_change {
    from {color: blue; }
    to {color: red; }
}
@-moz-keyframes color_change {
    from { color: blue; }
    to { color: red; }
}
@-ms-keyframes color_change {
    from { color: blue; }
    to { color: red; }
}
@-o-keyframes color_change {
    from { color: blue; }
    to { color: red; }
}
@keyframes color_change {
    from { color: blue; }
    to { color: red; }
}
.follow-search-h1{
    font-size: 18px;
    color: #428BCA;
    padding: 0px 20px;    
}
.btn-unfollow{
    display:none;
}

.unfollow:hover .btn-followed{display:none;}
.unfollow:hover .btn-unfollow{display:block;}

.colorChange a{
    -webkit-animation: color_change 1s infinite alternate;
    -moz-animation: color_change 1s infinite alternate;
    -ms-animation: color_change 1s infinite alternate;
    -o-animation: color_change 1s infinite alternate;
    animation: color_change 1s infinite alternate;
}

.modal-header_dcm{
    position: absolute;
    z-index: 1;
    height: 47px;
   
  
}
.modal-header_dcm ul li{
    float: right;
    color: #fff;
    line-height: 47px;
    text-align: center;
    width: 53px;
   opacity: 1;
    
}
.modal-header_dcm ul li:hover{
   
    color: #fff;
    opacity: 1;
}
.modal-header_dcm ul li a:hover{
  
    color: #fff;
    opacity: 1;
}
.modal-header_dcm ul li a{
   
    color: #fff;
    opacity: 1;
}

.modal-header_dcms{
    position: absolute;
    z-index: 1;
    height: 47px;
    width: 100%;
    background:#000;
        
   
  
}
.modal-header_dcms ul li{
    float: right;
    color: #fff;
    line-height: 47px;
    text-align: center;
    width: 53px;
   opacity: 1;
    
}
.modal-header_dcms ul li:hover{
   
    color: #fff;
    opacity: 1;
}
.modal-header_dcms ul li a:hover{
  
    color: #fff;
    opacity: 1;
}
.modal-header_dcms ul li a{
   
    color: #fff;
    opacity: 1;
}
#path-review{
       padding-top: 0px;
           font-size: 19px;
    color: #FFF;
    text-transform: capitalize;
}
.review_image{
     width:180px; float:left; margin: 5px; min-height: 210px;list-style: none; text-align: center;
}
.reviews_images{
    color: #fff;
    text-decoration: none;
}
.reviews_images:hover{
    color: #fff;
    text-decoration: none;
}

#print-photo{

        width: 30px;
        color: #C8C8C8;
        line-height: 30px;
        text-align: center;
        border-right: 1px solid #3e3e3e;
    }
    #print-photo:hover{
        color: #fff;
        cursor: pointer;
    }
    .print-photo a{

        width: 30px;
        color: #C8C8C8;
        line-height: 30px;
        text-align: center;
        border-right: 1px solid #3e3e3e;
    }
    .print-photo a:hover{
        color: #fff;
        cursor: pointer;
    }
    .print a{

        width: 30px;
        color: #C8C8C8;
        line-height: 30px;
        text-align: center;
        border-right: 1px solid #3e3e3e;
    }
    .print a:hover{
        color: #fff;
        cursor: pointer;
    }
    .delete-photo a{

        width: 30px;
        color: #C8C8C8;
        line-height: 30px;
        text-align: center;
        border-right: 1px solid #3e3e3e;
    }
    .delete-photo a:hover{
        color: #fff;
        cursor: pointer;
    }
    #checkbox-content label::after{
        display: inline-block;
        position: absolute;
        width: 16px;
        height: 16px;
        left: 0;
        top: -11px;
        /* margin-left: -11px; */
        padding-left: 5px;
        padding-top: 3px;
        font-size: 11px;
        color: #fff;
    }
.ban-ev-bot-foot{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 21;
    left: 0;
    text-align: center;
}
.ban-ev-bot-foot a img{
    vertical-align: bottom;
}
.close_banner_ev{
    width: 22px;
    height: 22px;
    left: 980px;
    position: absolute;
    top: -10px;
    background: white;
    border-radius: 12px;
}
.close_banner_ev span{
    cursor: pointer;
    padding-top: 3px;
}
.ban-ev-bot-foot{
    display: none;
}
.content_banner_ev{
    width: 990px;
    height: 100px;
    position: relative;
    margin: 0 auto;
}
    #print-photo{

    width: 30px;
    color: #C8C8C8;
    line-height: 30px;
    text-align: center;
    border-right: 1px solid #3e3e3e;
    }
    #print-photo:hover{
        color: #fff;
        cursor: pointer;
    }
    .print-photo a{

        width: 30px;
        color: #C8C8C8;
        line-height: 30px;
        text-align: center;
        border-right: 1px solid #3e3e3e;
    }
    .print-photo a:hover{
        color: #fff;
        cursor: pointer;
    }
    .print a{

        width: 30px;
        color: #C8C8C8;
        line-height: 30px;
        text-align: center;
        border-right: 1px solid #3e3e3e;
    }
    .print a:hover{
        color: #fff;
        cursor: pointer;
    }
    .delete-photo a{

        width: 30px;
        color: #C8C8C8;
        line-height: 30px;
        text-align: center;
        border-right: 1px solid #3e3e3e;
    }
    .delete-photo a:hover{
        color: #fff;
        cursor: pointer;
    }
    #checkbox-content label::after{
        display: inline-block;
        position: absolute;
        width: 16px;
        height: 16px;
        left: 0;
        top: -11px;
        /* margin-left: -11px; */
        padding-left: 5px;
        padding-top: 3px;
        font-size: 11px;
        color: #fff;
    }
    .introductionheader ol				{	font-size:18px; color:#116897; font-weight:600; list-style:inside decimal; padding:0}
    .introductionheader ol li				{	padding:8px 0;}
    .introductionheader ol div			{	font-size:14px; margin-top:20px; text-align:justify; color:#4e4e4e; font-weight:400}
    .introductionheader ol div .pull-left	{	margin-right:40px; margin-bottom:30px}
    .introductionheader ul				{	list-style:outside; padding-left:35px}
    .introductionheader ol div p			{	padding:5px 5px 5px 0;}