@charset "utf-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;font:inherit;font-size:100%;vertical-align:baseline;} 
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul,li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:bold;color:#000;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
table{font-size:inherit;font:100%;}
a,button{cursor:pointer; text-decoration:none; color:#333;}
a:hover{color:#ff77aa;}
.clear:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clear{zoom:1;}
.m-5{margin-top: 5px;}
.m-10{margin-top:10px;}
.m-20{margin-top: 20px;}
.fl{float: left;}
.fr{float: right;}
.block{display: block;}
.w1410{width: 1200px;margin: 0 auto;position: relative;}
/**********/
body{font-family:"microsoft yahei"; color: #333333; font-size: 14px;line-height: 24px; background:#030303 url(http://www.dilidili.tv/images/index_20161129/bg_fin.jpg) no-repeat center top; background-attachment: fixed;}
.head_top{background:rgba(0,0,0,0.8);}
.head_top .topimg{height:200px; background:url(http://www.dilidili.tv/images/20161001.jpg) center 0 no-repeat; background-position:cover; background-size: auto 100%;}
.head_top .topnav{ background:rgba(26,26,26,0.9); height:42px; -webkit-box-shadow:0 3px 3px rgba(0,0,0,0.8); -moz-box-shadow:0 3px 3px rgba(0,0,0,0.8); box-shadow:0 3px 3px rgba(0,0,0,0.8);}
.head_top .topnav li{height: 42px; line-height: 42px;float:left; font-size: 14px; position: relative; color:#fff;}
.head_top .topnav li a{color: #fff; display:block; padding:0px 10px; border-radius:5px;}
.head_top .topnav li a:hover{ background:#666;}
.head_top .topnav li .xlcd{display:none; position:absolute; z-index:99999; min-width:100px; top:42px; left:0; float:left; background:rgba(26,26,26,0.9); border-radius:0 0 5px 5px;}
.head_top .topnav li:hover .xlcd{display:block;}
.head_top .topnav .ar{width: 5px;height: 3px;display:inline-block;background: url(http://www.dilidili.tv/images/arrow.gif) 0 0 no-repeat;position: relative;left: 5px;top: -3px;}
.head_top .topnav .dr{width: 6px;height: 6px;display:inline-block;background: url(http://www.dilidili.tv/images/dian.png) 0 0 no-repeat;position: relative;left: 3px;top: -10px;}
.head_top .topnav .beta{width: 20px;height: 8px;display:inline-block;background: url(http://www.dilidili.tv/images/beta.png) 0 0 no-repeat;position: relative;left: 3px;top: -10px;}
.closed{width: 40px;height: 40px;display: block;background: url(http://www.dilidili.tv/images/close.png) 0 0 no-repeat;z-index: 999;position: absolute;top: 30px;right: 0; cursor:pointer;}
.small_logo{ background:#ec5775; text-align:center; padding:5px 0px; height:48px; display:none;}
.small_logo img{ display:inline-block; height:100%;}
/*container*/
.container{max-width:1180px; margin:2px auto 0 auto; margin-bottom:0px; background:#f2f2f2; border-radius:4px; padding:20px; position:relative; -webkit-box-shadow:0 0 5px rgba(255,255,255,0.8); -moz-box-shadow:0 0 5px rgba(255,255,255,0.8); box-shadow:0 0 5px rgba(255,255,255,0.8); z-index:1;}
.mainbgFix{background-attachment: fixed;}

/*aside_lef*/
.aside_lef{width:185px;position:absolute; left:10px; top:15px; display:block;}
.logo{width: 185px;height:117px;}
.logo a{width: 185px;height:117px;background: url(http://www.dilidili.tv/images/indexlogo.png) right 0 no-repeat; background-size:contain;display: block;text-indent: -999em;}
/*search*/
.search_box{border: 1px solid #dddddd;border-radius: 3px;background: #fff;height: 28px;line-height: 28px;position: relative;margin-top: 20px;}
.search_box .s_inp{border: 0px;height: 26px;line-height: 26px;width: 152px;}
.search_box .s_mit{width: 26px;height: 26px;display: block;position: absolute;right: 1px;top: 1px;background: url(http://www.dilidili.tv/images/search.png) center center no-repeat;border:0;text-indent: -999em;}
/*search2*/
.search_box2{border-radius: 3px;height:28px;line-height:28px;margin:7px 60px 0 0;}
.search_box2 .s_inp{border: 0px;height: 26px;line-height: 26px;width: 230px; border-radius:5px;}
.search_box2 .s_mit{width: 26px;height: 26px;display: block;position: absolute;right: 1px;top: 1px;background: url(http://www.dilidili.tv/images/search.png) center center no-repeat;border:0;text-indent: -999em; margin:7px 20px 0 0; background-color:#FFF; border-radius:14px;}
/*左侧悬浮固定位*/
.xf_left{
	position:fixed;
	z-index:2;
	left:10%;
	bottom:0;
	width:165px;
	min-height:270px;
	font-size:16px;
}
.xf_left img{
	width:100%;
	height:100%;
}
/*右侧悬浮固定位*/
.xf_right{
	position:absolute;
	right:10%;
	top:30%;
	width:100px;
	min-height:300px;
	font-size:16px;
	}
.xf_a{
	border-radius:10px;
	margin:5px 10px;
	width:110px;
	color:#FFF;
	text-align:center;
	}
.xf_a:hover{
	background:#39C;
	}
.xf_a a{
	color:#FFC;
	}
.xf_a a:hover{
	color:#FFF;
	}
.xf_a0{
	margin-bottom:-10px;
	}
.xf_a0 img{
	text-align:center;
	margin-left:-10px;
	}
.xf_a1{
	background:#7FC3E6;
	height:180px;
	}
.xf_a1 img{
	margin:5px;
	width:100px;
	}
.xf_a2{
	background-color:#B483DF;
	height:50px;
	line-height:50px;
	}
.xf_a3{
	background-color:#5AC0B6;
	height:50px;
	line-height:50px;
	}
.weibo{
	display:none;
	text-align:center;
	width:150px;
	height:24px;
	line-height:24px;
	white-space:nowrap;
	margin:10px auto 0 auto;
}
.weibo2{
	text-align:center;
	width:150px;
	height:24px;
	line-height:24px;
	white-space:nowrap;
	margin:0 auto 10px auto;
}
.weibo3{
	text-align:center;
	width:150px;
	height:24px;
	line-height:24px;
	background:rgba(255,255,255,0.5);
	border-radius:5px;
	padding-left:10px;
	white-space:nowrap;
	position:absolute;
	top:170px;
	right:0;
}
.right_top_ad{
	width:100%;
	margin:0px auto;
}
.right_top_ad img{
	width:100%;
	border-radius:5px;
}
/*zbsq*/
.zbsq{
	float:right;
	width:80px;
	height:30px;
	}
/*播放历史css hjj2.css*/
.dmus{width:268px;overflow:hidden;margin-top:14px}
.dmus li{float:left;line-height:18px}
.dmus li.gbook{width:74px}
.dmus li.hotv{width:90px}
.dmus li.history{width:100px;height:36px}
.dmus li i{background:url(icon.gif) no-repeat;display:block;float:left;width:18px;height:18px;margin-right:8px}
.dmus li i.gb{background-position:0 -26px}
.dmus li i.his{background-position:0 -52px}
.dmus a,.dmus a:hover{color:#666;text-decoration:none}
.movie_his{margin-right:20%;}
.historys{
	z-index:999;
	border: #fff 1px solid;
	position: absolute;
	background: #fff;
	width:390px;
	top: 42px;
	right: 0px;
	font-size: 8px;
}
.historys .vlist{
	line-height:14px;
	overflow:hidden;
	padding-top:10px
}
.historys .vlist .item{padding:0 10px;overflow:hidden;}
.historys .vlist .item li{overflow:hidden; height:20px; line-height:20px; padding:5px; margin-bottom:10px; background:#F2F2F2; color:#000; font-size:12px;}
.historys .vlist .item .name{padding-left:15px; background:url(more.png) no-repeat 0 48%; float:left; color:#000; width:230px; overflow:hidden;}
.historys .vlist .item .now{float:right; color:#e12160!important;}
.historys .vinfo{line-height:25px;height:25px;border-top:#ccc 1px solid}
.historys .vinfo span.count{padding-left:10px;float:left;height:25px;color:#666}
.historys .vinfo span.count a{color:#666}
.historys .vinfo span.count a:hover{color:#FFF;}
.historys .vinfo span.close{padding-right:10px;float:right;height:25px}
.historys .vinfo span.close a{color:#0079b9}
/*播放历史css hjj2.css结束*/

.dibu{
	position: fixed;
	bottom: 0;
	width:100%;
	height: 0;
	left: 0px;
	z-index: 999;
	display: block;
}
.dibu .dibu2{
	width:1180px;
	position: relative;
	margin: 0 auto;
}
.dibu .dibu3{
	width:200px;
	height:350px;
	position:relative;
	top: -350px;
	left: -10px;
	display:block;
	background:url(http://www.dilidili.tv/images/index_20161129/dibu_left.png) no-repeat left bottom;
}
.dibu .dibu_close{
	background:url(http://www.dilidili.tv/images/index_20161129/close.png) no-repeat 100px 100px;
	top: 94px;
	right: -62px;
	width: 38px;
	height: 38px;
	position: absolute;
}

/*v_dl*/
.v_dl{margin-top:5px;}
.v_dl dl{border-bottom: 1px dotted #cccccc;text-align: right;padding: 15px 0px;}
.v_dl dl dt{font-size:16px; margin-bottom:5px;}
.v_dl dl h3{color: #666666;font-weight: normal;height: 24px;line-height: 24px;overflow: hidden;}
.v_dl dl a{margin-left: 12px;display: inline-block;word-break:break-all;word-wrap: break-word; line-height:20px;}
/*aside_cen*/
.aside_cen{width:710px;float:left; margin-left:195px;}
.con20{background: #fff;padding:10px 14px;border-radius: 7px; -webkit-box-shadow:0 0 7px rgba(0, 0, 0, .2); -moz-box-shadow:0 0 7px rgba(0, 0, 0, .2); box-shadow:0 0 7px rgba(0, 0, 0, .2);}
.con21{padding:10px 14px;border-radius: 5px; -webkit-box-shadow:0 0 7px rgba(0, 0, 0, .2); -moz-box-shadow:0 0 7px rgba(0, 0, 0, .2); box-shadow:0 0 7px rgba(0, 0, 0, .2);}
.con24{background: #fff;padding:5px 0px;border-radius: 5px; -webkit-box-shadow:0 0 7px rgba(0, 0, 0, .2); -moz-box-shadow:0 0 7px rgba(0, 0, 0, .2); box-shadow:0 0 7px rgba(0, 0, 0, .2); width:100%;}
.con24 .stitle{ margin:10px 14px 0px 14px;}
.con24 .swiper-container{ padding-bottom:14px;}
.stitle{border-bottom: 1px solid #e7e7e7;height: 32px;line-height: 32px; position:relative;}
.stitle h2{font-size: 18px;color: #ff77aa;font-weight: normal;background: url(http://www.dilidili.tv/images/tbg2.png) 0 center no-repeat;text-indent: 12px;height: 32px;line-height: 32px;display: inline-block;}
.stitle .s_f{display: inline-block;font-size: 14px;margin-left: 20px;}
.stitle .s_f span{margin: 0px 10px;color: #e6e6e6;}
.stitle .smore{background: url(http://www.dilidili.tv/images/smore.png) right center no-repeat;padding-right: 8px;}
/*m_pic*/
.m_pic{margin-top: 18px;}
.m_pic li{float: left;padding: 0px 5px;position: relative;}
.m_pic li img{width:120px;height:172px;display: block;border: 2px solid #fff;border-radius: 8px;}
.m_pic li p{height: 20px;line-height: 20px;overflow: hidden;margin-top: 5px; font-size:14px; text-align:center;}
.m_pic li a:hover img{border: 2px solid #e66da0;}
.m_pic li a:hover p{color:#e66da0;}
.m_pic li .fc_m{position: absolute; bottom:27px; left:7px; background:rgba(0,0,0,0.6); width:101px; color:#fff; padding:0px 10px; display:block; border-bottom-left-radius:7px; border-bottom-right-radius:7px; height:0px; line-height:18px; overflow:hidden;}
.m_pic li .fc_m strong{ padding:5px 0; display:inline-block; text-align:left;}
.m_pic li a:hover .fc_m{height:44px;}
/*time_pic*/
.time_pic{margin-top:8px; padding-left:10px;}
.time_pic ul{width: 900px;}
.time_pic li{float: left;margin-right:10px;margin-top:10px;position: relative;}
.time_pic li img{width: 160px;height: 112px;display: block;border: 2px solid #fff;border-radius:8px;}
.time_pic li p{height: 20px;line-height: 20px;overflow: hidden;margin-top: 5px; text-align:center;}
.time_pic li i{height: 20px;line-height: 20px;padding: 0px 10px;position: absolute;right: 2px;top: 2px;background-color:rgba(3, 3, 3, 0.6);color: #fff;font-size: 12px;font-style: normal;border-bottom-left-radius: 5px;border-top-right-radius: 5px;}
.time_pic li b{height:35px;width:50px;position: absolute;left: 2px;top: 2px; background:url(http://www.dilidili.tv/images/new_ico.png) 0 0 no-repeat;border-top-left-radius: 5px; text-indent:-9999px; overflow:hidden;}
.time_pic li a:hover img{border: 2px solid #e66da0;}
.time_pic li a:hover p{color:#e66da0;}
.time_pic li .fc_m{position: absolute;bottom:27px;left:2px;background:url(http://www.dilidili.tv/images/sd.png) 0 0 repeat;width:140px;color: #fff;padding:0 10px;display:block; border-bottom-left-radius:5px; border-bottom-right-radius:5px; height:0; line-height:18px; overflow:hidden; text-align:left;}
.time_pic li .fc_m strong{ padding:5px 0; display:inline-block;}
.time_pic li a:hover .fc_m{height:45px;}
.sv_more{text-align:center; color:#999; height:20px; line-height:20px; margin-bottom:10px; margin-right:0;}
.sv_more a{ color:#999; background:url(http://www.dilidili.tv/images/sv_more.png) 0 center no-repeat; padding-left:20px;}
.sv_more a:hover{ color:#df7ea7;}
/*as_lef*/
.as_lef{width: 445px;}
.hd_right{width:224px!important;}
.as_rig{width: 450px;}
.abouthd{width: 215px;}
.abouthd a img{width:215px; height:320px;}
.abouthd .pagination{position: absolute;z-index: 20;right: 10px;bottom:290px;}
/*fo_pic*/
.fo_pic ul{width:224px;height: 320px;overflow: hidden;}
.fo_pic li{float: left;margin-right:5px;position: relative;height: 150px;margin-bottom: 16px;}
.fo_pic li img{width: 220px;height: 150px;display: block;border: 2px solid #fff;border-radius:8px;}
.fo_pic li p{height: 22px;line-height: 22px;overflow: hidden;margin-top: 5px;position: absolute;bottom: -2px;left: 2px;color: #fff;width: 200px;text-align: left;padding:3px 10px; background:url(http://www.dilidili.tv/images/fo_shadow.png) 0 bottom repeat-x; border-bottom-right-radius:8px; border-bottom-left-radius:8px;}
.fo_pic li a:hover img{border: 2px solid #e66da0;}
.fo_pic li a:hover p{ height:44px;}
.keys a{color: #79a0da;margin-right: 15px}
.keys a:hover{color:#df7ea7;}
.c_list li{height: 32px;line-height: 32px;overflow: hidden;}
.c_list b{color: #d598b2;margin-right: 10px;}
/*c_dl*/
.c_dl{margin-top: 5px;}
.c_dl dt{float: left;margin-right: 10px;}
.c_dl dt img{width: 150px;height: 120px;display: block;border-radius: 8px;}
.c_dl dd h3{height: 48px;line-height: 24px;overflow: hidden;font-size: 16px;font-weight: normal;}
.c_dl dd p{height: 60px;line-height: 20px;overflow: hidden;color: #999999;margin-top: 10px;}
/*swiper-container*/
.swiper-container {width: 100%;color: #fff;text-align: center;border-radius: 8px;}
.swiper-slide {width: 100%;height: 100%;position: relative;}
.swiper-slide img{width:100%; display: block;}
.swiper-slide .text{font-size: 16px;position: absolute;left:0;bottom:0px;color: #fff; background:url(http://www.dilidili.tv/images/f_shadow.png) 0 bottom repeat-x; height:48px; line-height:48px; width:100%; text-indent:15px; text-align:left; border-bottom-right-radius:8px; border-bottom-left-radius:8px;}
.abouthd .swiper-slide .text{width:195px;line-height:24px; padding:8px 10px; text-shadow:#000 1px 1px 2px;}
.pagination {position: absolute;z-index: 20;right: 10px;bottom: 10px;}
.swiper-container .swiper-slide {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.zb{width:39%;}
.tj{width:59%; margin-left:2%;}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
	right:0px!important;
}
.swiper-button-next, .swiper-button-prev{
	width:22px!important;
	height:36px!important;
}
.copy_right{width:710px; margin-left:195px; position:relative}
.zmfl{width:100%; position:relative; padding: 0 15px; font-size:12px; line-height:30px; margin:0 auto; font-size:16px;}
.zmfl ul{display:inline-block; margin-top:6px; line-height:30px;}
.zmfl p{float:left; margin:0 3px; padding:2px 3px;}
.zmfl ul li{
	margin:0 2px;
	float:left;
	width:1rem;
	text-align:center;
	padding:1px;
	border:1px solid #CCC;
	border-radius:3px;
	background:#FFF;
}
.zmfl ul li:hover{border:1px solid #f68;}
.zmfl ul li a{display:block;}
.links{margin-top: 50px;line-height: 1.5rem;}
.links a{margin-right: 15px;}
.ka_box{border-radius: 3px;background: #fff;padding: 15px 20px;line-height: 24px;}
.ka_box span{color: #dcdcdc; margin:0 10px;}
.copyright{height: 40px;background: url(http://www.dilidili.tv/images/f_logo.png) 0 center no-repeat; padding: 20px 0px;padding-left: 160px; font-size:12px;}
.copyright p{color:#999999;}
/*aside_rig*/
.aside_rig{width:265px;float:right;position: relative;}
.vtitle{border-bottom: 1px solid #d6d6d6;height: 40px;line-height: 40px; position:relative;}
.vtitle h2{height: 40px;font-size: 18px;color:#666666;font-weight:normal;text-indent:12px;background: url(http://www.dilidili.tv/images/tbg.png) 0 center no-repeat;}
.vtitle em{float: right;width: 40px;}
.vtitle em a{background: url(http://www.dilidili.tv/images/arrow2.png) right center no-repeat;display: block;width: 40px;height: 40px;text-indent: -999em;}

.pk_year{ position:absolute; left:100px; top:4px; background:#ccc; border-radius:5px;}
.pk_year a{ color:#666666; height:36px; line-height:36px; display:inline-block; margin-right:5px; margin-left:5px;font-size:16px;padding:0px 5px;}
.pk_year a.current{background:url(http://www.dilidili.tv/images/pk_year.png) 0 bottom repeat-x;}
.pk_year a.gmph{margin-left:9px;}

.pk_time{ position:absolute; right:0px; top:0px;}
.pk_time a{ color:#666666; height:32px; line-height:32px; display:inline-block; margin-left:20px;font-size:16px; padding:0px 5px;}
.pk_time a.current{ background:url(http://www.dilidili.tv/images/pk_time.png) 0 bottom repeat-x;}
.m_copyright{ margin-top:10px; display:none;}
.m_copyright img{ display:block; margin:0 auto; height:42px;}
.m_copyright p{ color:#999; text-align:center; font-size:12px; margin-top:3px;}
	/*dl_pic*/
	.dl_pic dl{padding: 10px 0px;}
	.dl_pic dt{float: left;margin-right: 10px;position: relative;}
	.dl_pic dt img{width: 110px;height: 140px;display: block;}
	.dl_pic dt p{height: 20px;line-height: 20px; width:105px;background: url(http://www.dilidili.tv/images/shadow.png) right center no-repeat;color: #fff;text-align: right;padding-right: 5px;position: absolute;right: 0;bottom: 0;font-size: 12px;border-bottom-right-radius: 5px;}
	.dl_pic dd h3{font-size: 14px; min-height:20px;line-height: 20px;overflow: hidden;margin-bottom: 10px;font-weight: normal;}
	.dl_pic dd p{font-size:14px;color: #666;line-height: 18px;margin-top: 5px;}
	.dl_pic dd p b{color: #999;font-weight: normal;}
	/*textlist*/
	.textlist li{height: 32px;line-height: 32px;overflow: hidden;/*background: url(http://www.dilidili.tv/images/dian2.png) 0 center no-repeat;*/ text-indent: 12px;}
	.textlist li a{ font-size:13px;}
	.textlist li em{float:right;color: #999;font-size: 12px;}
	.line{height: 1px;overflow:hidden;border-bottom: 1px dotted #cbcbcb;margin: 5px 0;}
	.pank{background: url(http://www.dilidili.tv/images/num.gif) 0px 12px no-repeat;}
	.pank li{height: 36px;line-height: 36px;background: none;text-indent:20px;}
	.num1{margin-right: 5px;display: inline-block;position: relative;top: 2px;}
	/*bbs_dl*/	
	.bbs_dl dl{margin-top: 15px;}
	.bbs_dl dt{float: left;margin-right: 10px;}
	.bbs_dl dt img{width: 40px;height: 40px;display: block;}
	.bbs_dl dd h3{height:18px;line-height: 18px;overflow: hidden;font-weight: normal; margin-bottom:5px; font-size:12px;}
	.bbs_dl dd p{color: #999;font-size: 12px;height: 18px;line-height: 18px;overflow: hidden;}
	.bbs_dl dd p .name{color: #666;}
	.bbs_dl dd p .vo{color: #df7ea7;}
	.code{width: 140px;height: 192px; position:absolute; right:-230px; top:0;}
	.navFix{ position:fixed; z-index:9999;top:62px; left:50%; margin-left:-590px;}
	.topnavFix{ position:fixed; z-index:9999;top:0; left:0; width:100%;}
	.a_closed,.a_open{ display:none;}
.time_con{ position:relative;}
.time_pic .swiper-button-next,.time_pic .swiper-button-prev{position:absolute; top:93%; width:280px!important; height:20px!important; line-height:20px; margin-top:0px; z-index:10; cursor:pointer; -moz-background-size:27px 44px; -webkit-background-size:27px 44px; background-size:0 44px; background-position:center; background-repeat:no-repeat;  -webkit-box-shadow:0 0 7px rgba(0, 0, 0, .2); -moz-box-shadow:0 0 7px rgba(0, 0, 0, .2); box-shadow:0 0 7px rgba(0, 0, 0, .2); border:1px solid #ff77aa; border-radius:5px;}
.time_pic .swiper-button-next:hover,.time_pic .swiper-button-prev:hover{background:#ff77aa; color:#FFF;}
.time_pic .swiper-button-prev,.time_pic .swiper-container-rtl .swiper-button-next{}
.time_pic .swiper-button-prev.swiper-button-black,.time_pic .swiper-container-rtl .swiper-button-next.swiper-button-black{background: url(http://www.dilidili.tv/images/a_rig.png) no-repeat left bottom #e00;}
.time_pic .swiper-button-prev.swiper-button-white,.time_pic .swiper-container-rtl .swiper-button-next.swiper-button-white{background: url(http://www.dilidili.tv/images/a_rig.png) no-repeat left bottom;}
.time_pic .swiper-button-next,.time_pic .swiper-container-rtl .swiper-button-prev{}
.fo_pic li a:hover p,.m_pic li a:hover .fc_m,.time_pic li a:hover .fc_m{transition: height 0.5s;-moz-transition: height 0.5s;-webkit-transition: height 0.5s;-o-transition: height 0.5s;}
.fo_pic li p,.m_pic li .fc_m,.time_pic li .fc_m{transition: height 0.5s;-moz-transition: height 0.5s;-webkit-transition: height 0.5s;-o-transition: height 0.5s;}

.back-to {bottom:60px;overflow:hidden;position:fixed;right:10px;z-index:999;}
.back-to .back-top {background: url(http://www.dilidili.tv/images/back-top.png) no-repeat scroll 0 0 transparent;display: block;float: right;height:50px; margin-left:10px; outline: 0 none;padding:0;text-indent: -9999em;width: 50px;}
.back-to .back-top:hover {background-position: -50px 0;}

#jbnav{
	position:fixed!important;
	top:0;
}
.xxxf{
	display:none;
	float:right;
	margin-right:10px;
	line-height:25px;
	}
/*main右侧周番排布*/
.top_right{
	width:100%;
	min-height:280px;
	height:auto;
	margin:0 2px 10px 0;
	float:left;
	}
.weekdiv1{ display:none;}
.weekdiv2{ display:none;}
.weekdiv3{ display:none;}
.weekdiv4{ display:none;}
.weekdiv5{ display:none;}
.weekdiv6{ display:none;}
.weekdiv7{ display:none;}
.week_mend{
	width:100%;
	min-height:280px;
	height:auto;
	margin:0;
	background:#FFF;
	border:2px solid #2D7693;
	-webkit-box-shadow:0 0 7px rgba(0, 0, 0, .37);
	-moz-box-shadow:0 0 7px rgba(0, 0, 0, .37);
	box-shadow:0 0 7px rgba(0, 0, 0, .37);
	border-radius:8px;
	font-size:14px;
	padding:0;
}
.week_mend_nav{
	height:20px;
	line-height:20px;
	overflow:hidden;
	text-align:center;
	margin:5px 10px 0 10px;
	border-bottom:1px solid #CCC;
}
.week_mend_nav lu{
	margin:0;
}
.week_mend_nav li{
	float:left;
	display:block;
	width:35px;
	height:20px;
	padding-bottom:5px;
}
.week_mend_nav li a{
	color:#555;
	font-weight:bold;
	text-decoration:none;
}
.week_mend_nav li a:active,.week_mend_nav li a:hover{
	color:#37a;
	background-color:transparent
}
.week_mend_nav .s-nav3 a{
	color:#fd3600
}
.week_item{
	display:inline-block;
	width:92%;
	height:18px;
	line-height:18px;
	padding:2px 10px;
	border:1px solid rgba(255,255,255,0);
	border-radius:5px;
}
.week_item:hover{
	border:1px solid #ff77aa;
}
.week_item_left{
	list-style-type:none;
	float:left;
}
.week_item_right{
	float:right;
	list-style-type:none;
}
.week_item_center{
	list-style-type:none;
	float:left;
}
.adv{
	text-align:center;
	float:left;
}
.xf_new{float:left; width:100%;}
.rm_pank{float:left; width:100%;}
.zx_add{float:left; width:100%;}
.bbs_box{float:left; width:100%;}
@media (min-width:1200px) and (max-width:1800px){
.xf_right{display:none;}
.xf_left{display:none;}
}
@media (max-width:1220%){
.search_box2{display:none;}
}
@media (min-width:1000px) and (max-width:1200px){
.w1410,.container{max-width:920px; margin:0 auto;}
.aside_cen{float:none; margin-left:205px;}
.aside_rig{width:710px;float:none;margin-left:205px;}
.copy_right{ margin-left:205px;}
.aside_rig .adv,.rm_pank,.zx_add,.code{ display:none;}
.movebox{ margin-top:20px;}
.xf_new,.bbs_box{border: 1px solid #e3e3e3;background: #fff;padding:10px 14px;border-radius: 5px;}
.xf_new .textlist li{ float:left; width:50%;}
.bbs_box .bbs_dl dl{float:left; width:50%;}
.navFix{margin-left:-460px;}
.xf_right{display:none;}
.xf_left{display:none;}
}
@media (max-height:800px){
.v_dl{margin-top:1px;line-height: 1.5rem;}
.v_dl dl{border-bottom:1px dotted #cccccc;text-align: right;padding:2px 0px;}
.v_dl dl dt{font-size:16px; margin-bottom:3px;}
}
@media (min-width:737px) and (max-width:1000px){
.w1410,.container{max-width:730px; margin:0 auto;}
.topimg{height:120px!important;}
.search_box2{display:none;}
.aside_cen,.aside_rig,.copy_right{width:710px;float:none; margin:auto;}
.aside_rig .adv,.rm_pank,.zx_add,.code,.nav_rig { display:none;}
.as_lef{ width:55%!important;}
.movebox{ margin-top:20px;}
.xf_new,.bbs_box{border: 1px solid #e3e3e3;background: #fff;padding:10px 14px;border-radius: 5px;}
.xf_new .textlist li{ float:left; width:50%;}
.bbs_box .bbs_dl dl{float:left; width:50%;}
.navFix{margin-left:-560px;}
.aside_lef{position:absolute; left:0px; top:0px; z-index:999; float:none; background:#fff; padding:15px; padding-top:0px; height:100%; display:none;}
.fc_black{ width:100%; height:100%; position:fixed; top:0; left:0; background:rgba(0,0,0,0.6); z-index:998; display:none;}
.a_closed{ display:none; width:24px; height:46px; color:#fff; background:#666666; cursor:pointer; text-align:center; line-height:24px; padding:12px 0px; border-bottom-right-radius:5px; border-top-right-radius:5px; position:absolute;left:215px; top:0; z-index:9999;}
.a_open{ display:block; width:24px; height:46px; color:#fff; background:#f93d5e; cursor:pointer; text-align:center; line-height:24px; padding:12px 0px; border-bottom-right-radius:5px; border-top-right-radius:5px; position:absolute;left:0px; top:10px; z-index:99999}
.xf_right{display:none;}
.xf_left{display:none;}
}
@media (max-width:736px){
.small_logo{ display:block; position:relative;}
.adminico{width:26px; height:25px; background:url(http://www.dilidili.tv/images/adminico.png) center center no-repeat; position:absolute; right:10px; cursor:pointer; top:18px;}
.adminmenu{width:90px; background:#eb5676; position:absolute; top:58px; right:0; z-index:999;}
.adminmenu a{ display:block; border-top:#d74a67 1px solid; color:#ffdee6; line-height:30px;}
.as_lef,.w1410{ width:100%;}
.as_lef .swiper-container img{ width:100%; height:auto;}
.copy_right,.head_top,.as_rig,.xgtj .as_lef,.s_hide{display:none;}
.container{max-width:100%; margin:0 auto; padding:10px; overflow:inherit;}
.aside_cen,.aside_rig,.xgtj .as_rig{width:100%;float:none;margin-left:0;}
.movebox{ margin-top:20px;}
.adv,.code{ display:none;}
.xf_new,.bbs_box,.rm_pank,.zx_add{border: 1px solid #e3e3e3;background: #fff;padding:10px 14px;border-radius: 5px;}
.stitle .s_f{ display:none;}
.stitle .smore{ float:right;}
.swiper3 .swiper-slide li:nth-child(3),.swiper3 .swiper-slide li:nth-child(4),.swiper3 .swiper-slide li:nth-child(5){ display:none;}
.swiper4 .swiper-slide li:nth-child(3),.swiper4 .swiper-slide li:nth-child(4),.swiper4 .swiper-slide li:nth-child(5){ display:none;}
.swiper5 .swiper-slide li:nth-child(3),.swiper5 .swiper-slide li:nth-child(4),.swiper5 .swiper-slide li:nth-child(5){ display:none;}
.swiper6 .swiper-slide li:nth-child(3),.swiper6 .swiper-slide li:nth-child(4),.swiper6 .swiper-slide li:nth-child(5){ display:none;}
.swiper7 .swiper-slide li:nth-child(3),.swiper7 .swiper-slide li:nth-child(4),.swiper7 .swiper-slide li:nth-child(5){ display:none;}
.swiper8 .swiper-slide li:nth-child(3),.swiper8 .swiper-slide li:nth-child(4),.swiper8 .swiper-slide li:nth-child(5){ display:none;}
.swiper9 .swiper-slide li:nth-child(3),.swiper9 .swiper-slide li:nth-child(4),.swiper9 .swiper-slide li:nth-child(5){ display:none;}
.aside_lef{ position:absolute; left:0px; top:0px; z-index:999; float:none; background:#fff; padding:15px; padding-top:0px; height:100%; display:none; width:85%;}
.xgtj .as_rig,.m_copyright{ display:block;}
.m_pic li img{width: 160px;height: 224px;}
.m_pic li .fc_m{top:116px;width: 100px;left:10px;}
.logo{ display:none;}
.v_dl dl{ padding:10px 0px;}
.fc_black{ width:100%; height:100%; position:fixed; top:0; left:0; background:rgba(0,0,0,0.6); z-index:998; display:none;}
.a_closed{display:none; width:7%; height:46px; color:#fff; background:#666666; cursor:pointer; text-align:center; line-height:24px; padding:12px 0px; border-bottom-right-radius:5px; border-top-right-radius:5px; position:absolute; left:92%; top:0; z-index:9999;}
.a_open{ display:block; width:32px; height:25px; cursor:pointer; background:url(http://www.dilidili.tv/images/dhico.png) center center no-repeat; text-indent:-9999px; overflow:hidden;position:absolute;left:10px; top:-40px; z-index:99999;}
.time_pic li a:hover .fc_m,.m_pic li a:hover .fc_m{ display:none;}
.vtitle em a{background: url(http://www.dilidili.tv/images/smore.png) right center no-repeat;padding-right: 8px;display: block;width: 30px;height: 40px; text-indent:0; overflow:hidden;}
.xf_news .stitle{ height:70px;}
.pk_time{ top:32px; width:100%; text-align:center;}
.pk_time a{ display:inline-block; float:none; margin-left:10px; font-size:14px;}
.time_pic li img{width:165px; height:110px;}
.time_pic li p{width:165px; overflow:hidden;}
.time_pic li{ margin-left:8px;}
.time_pic .swiper-button-next,.time_pic .swiper-button-prev{margin-top:0px; right:0; width:27px;}
.time_pic .swiper-button-prev,.time_pic .swiper-container-rtl .swiper-button-next{left:-10px;}
.time_pic .swiper-button-next{ background:url(http://www.dilidili.tv/images/s_rig.png) center center no-repeat; height:44px; margin-top:-35px;}
.time_pic .swiper-button-prev{ background:url(http://www.dilidili.tv/images/s_lef.png) center center no-repeat; height:44px; margin-top:-35px;}
.sv_more{ display:none;}
.time_con { padding-right:10px;}
.xxxf{display:block; float:right;}
.weibo{display:block;!important}
.weibo2{display:none;!important}
.top_right{width:100%;}
.week_mend{width:100%;}
.week_mend_nav li{width:13%;}
.xf_right{display:none;}
.xf_left{display:none;}
}
@media (max-width:375px){
.m_pic li img{width: 130px;height: 182px;}
.time_pic li img{width:144px; height:109px;}
.time_pic li p{width:144px; overflow:hidden;}
.xf_news .swiper-container{ padding-left:8px;}
.time_pic li{ margin-right:4px;}
.pk_time a{ display:inline-block; float:none; margin-left:5px; font-size:14px;}
.top_right{width:320px;}
.week_mend{width:320px;}
}
@media (max-width:320px){
.m_pic li img{width: 120px;height: 168px;}
.time_pic li img{width:115px; height:85px;}
.time_pic li p{width:115px; overflow:hidden;}
.time_pic li{ margin-right:4px;}
.pk_time a{ display:inline-block; float:none; margin-left:0; font-size:14px;}
.top_right{width:310px;}
.week_mend{width:310px;}
}
