/**
 * Sahifa RTL (Right-To-Left) CSS
 */

body {
    font-family: Tahoma, arial
}

.logo,
.top-nav ul,
.top-nav ul li,
.top-nav ul ul,
#main-nav ul li,
#main-nav ul li.mega-menu.mega-cat .mega-cat-more-links li,
.mega-cat-sub-categories,
#main-nav ul li.mega-menu.mega-cat .mega-menu-block .mega-menu-post,
#main-nav .mega-check-also,
.breaking-news span.breaking-news-title,
.breaking-news ul,
a.more-link,
.item-list .post-thumbnail,
.timeline .post-thumbnail,
.live-search_result_container .post-thumbnail,
.share-post li,
.mini-share-post li,
.author-social,
.author-comment cite,
.entry ul.best-reviews .post-thumbnail,
.entry ul.best-reviews .best-reviews-content,
.entry ul.best-reviews .best-review-score,
.ei-slider-thumbs li,
.list-box li.first-news,
.pic-box li,
.video-box .big-video-column,
.cat-tabs-wrap li.first-news,
.tie-weather-forecast-day,
.tie-weather-current-temp,
.flickr-widget .flickr_badge_image,
.post-tabs-ver .pane,
.flickr-wrapper .flickr_badge_image,
.footer-bottom .container .alignleft,
.main-nav-logo {
    float: right;
}

.top-nav .social-icons,
.search-block .search-button,
.e3lan-top,
.commentmetadata,
.pagination .pages,
.video-box li ,
.tie-weather-todays-stats,
.authors-posts .widget-container li strong,
h3.toggle-head-open i,
h3.toggle-head-close i,
#tie_lang_switcher,
.footer-bottom .container .alignright{
    float: left;
    font-size: 11px;
}

#main-nav ul .mega-check-also li {
    float: right !important;
}

/* Header 
----------------------------------- */
#main-nav ul li.menu-item-has-children:after,
#main-nav ul li.mega-menu:after,
.top-menu ul li.menu-item-has-children:after
 {
    left: 7px;
    right: auto;
}

#main-nav ul ul li.menu-item-has-children:after,
.top-nav .top-menu ul ul li.menu-item-has-children:after {
    border-left-color: transparent;
    border-right-color: #bbb;
}

#main-nav ul li.menu-item-has-children a,
#main-nav ul li.mega-menu a,
.top-nav ul li.menu-item-has-children a {
    padding-right: 10px;
    padding-left: 20px;
}

.top-nav ul ul li:hover > a,
.top-nav ul ul:hover > a,
#main-nav ul ul li:hover > a,
#main-nav ul ul:hover > a {
    padding-left: 5px;
    padding-right: 15px;
}

.top-nav ul ul ul,
#main-nav ul ul ul {
    right: 100%;
    left: auto;
}

.search-block #s-header {
	float: left;
    border-width: 0 1px 0 0;
}

#main-nav .main-menu {
    margin-right: 10px;
    margin-left: 0;
}

#main-nav ul li,
#main-nav ul li a {
    border-width: 0 1px 0 0;
}

#main-nav ul li:last-child a {
    border-left-width: 0 ;
    border-right-width: 1px;
}

#main-nav ul li i.fa,
#slide-out ul li i.fa,
#mobile-menu li.menu-item-home a:before {
    margin-left: 5px;
    margin-right: 0;
}

#main-nav ul > li.menu-item-has-children:hover > a:after {
    right: 20px;
    left: auto;
}

#main-nav li.mega-menu.mega-links .mega-menu-block ul li.mega-link-column {
	float:right;
    padding-left: 25px;
    padding-right: 0;
}

#main-nav .mega-cat-content {
	float:right;
    padding-left: 0;
    padding-right: 20px;
}

#main-nav ul li.mega-menu.mega-cat .mega-menu-block .mega-menu-post {
    padding-right: 0;
    padding-left: 20px;
}

#main-nav .mega-recent-featured-list,
#main-nav .mega-recent-post {
	float:right;
    margin-right: 0;
    margin-left: 3%;
}

#main-nav ul li.mega-menu.mega-links .mega-menu-block {
    padding-right: 25px;
    padding-left: 0;
}

a.random-article,
a.tie-cart {
	float: left;
    margin-left: 0;
    margin-right: 1px;
}

.search-block {
	float:left;
    margin-left: 0;
    margin-right: 5px;
}

.search-block:after {
    left: 30px;
    right: auto;
    border-right-color: transparent !important;
    border-left-color: #F88C00;
}

.today-date{
	float:right;
    margin: 10px 0 0 10px;
    border-width: 0 0 0 1px;
}


/* Posts */
p.post-meta span {
    margin-left: 10px;
    margin-right: 0;
}

body.single .post-inner p.post-meta span,
.entry ul.best-reviews .best-review-score {
    margin-right: 0;
    margin-left: 15px;
}
.post-meta-author{
	display:none !important;
}

body.single .post-inner p.post-meta span i {
    margin-left: 5px;
    margin-right: 0;
}

span.post-comments-widget i:before,
span.post-views-widget span i:before,
span.tie-date i:before,
.post-meta i:before {
    margin-left: 3px;
    margin-right: 0;
}

span.post-views{
display:none !important;
}

.post-thumbnail {
    margin-right: 0;
    margin-left: 15px;
}

.widget-container .post-thumbnail,
.footer-widget-container .post-thumbnail,
#main-nav ul li.mega-menu .mega-menu-block .mega-check-also .post-thumbnail,
.block-head h3,
.widget-top h4,
.cat-box-title h2,
.comment-avatar,
.cat-box li .post-thumbnail {
	float: right;
    margin-right: 0;
    margin-left: 10px;
}

.entry #related_posts {
	float: left;
    margin: 0 0 20px 20px;
    margin-left: 0;
    margin-right: 20px;
    padding-left: 0;
    padding-right: 20px;
    border-width: 0 1px 0 0;
}

.share-post {
    padding-right: 10px;
    padding-left: 0;
}

.share-post span.share-text {
	float:right;
    margin-right: -10px;
    margin-left: 10px;
}

.share-post .normal-social li,
.mini-share-post .normal-social li {
    text-align: left;
    direction: ltr;
}

.flat-social a{
    margin-right: 0;
    margin-left: 6px;
}

.flat-social a i {
    margin-right: 0;
    margin-left: 3px;
}

#author-box .author-avatar img,
.author-avatar img {
	float: right;
    margin-right: 0;
    margin-left: 20px;
}

.post-previous {
	float: right;
    padding-left: 0;
    padding-right: 40px;
}

.post-next {
	float: left;
    text-align: left;
    padding-left: 40px;
    padding-right: 0;
}

.post-navigation div a:after {
    font-family: Arial, Verdana, sans-serif;
}

.post-previous a:after {
    left: auto;
    right: 0;
}

.post-next a:after,
.commentlist .reply a {
    right: auto;
    left:0;
}


.entry ol,
.entry ul {
    margin-right: 15px;
    margin-left: 0;
}

.entry li ul,
.entry li ol{
    margin: 5px 15px 0 0;
}

blockquote p {
    border-width: 0 4px 0 0;
}

#related_posts .related-item{
	float: right;
    margin-right: 0;
    margin-left: 3%;
}

.full-width #related_posts .related-item,
.full-width #related_posts .related-item:nth-child(3n+3) {
    margin-right: 0;
    margin-left: 2%;
}

#related_posts .related-item:nth-child(3n+3),
.full-width #related_posts .related-item:nth-child(4n+4) {
    margin-right: inherit;
    margin-left: 0;
}

a.go-to-the-post {
    right: auto;
    left: 10px;
}

.entry .last {
    margin-right: inherit !important;
    margin-left: 0 !important;
    clear: left;
}

.entry table td,
.entry table th {
    text-align: right;
}
#reading-position-indicator {
    right: 0;
    left: auto;
}
.rtl .wp-playlist .wp-playlist-item-length {
    left: 6px;
}
.mejs-offscreen {
  left: auto !important;
  right: -10000px !important;
}
.comment-content {
    margin-left: 0;
    margin-right: 80px;
}

.commentlist .children {
    margin-right: 50px;
    margin-left: 0;
}

.commentlist li #respond {
	margin: 10px 70px 20px 0 !important;
}

#respond h3 {
	float:right;
	margin-right: 0;
	margin-left: 10px;
}

/* Pages and Archives */

.search-block-large .search-button {
    right: auto;
    left: 1px;
}

.sitemap-col {
	float: right;
    margin-left: 2%;
    margin-right: 0
}

#sitemap .last {
    margin-left: 0px;
    margin-right: inherit;
}

.entry ul.best-reviews li {
    padding-left: 0;
    padding-right: 170px;
}

.best-review-score-image {
    margin-left: 0;
    margin-right: -170px;
}

#login-form .login-button {
    margin-left: 20px;
    margin-right: 0;
}

.page-title {
	float: right;
    margin-left: 10px;
    margin-right: 0;
}

a.rss-cat-icon {
	float:left;
    margin-right: 4px;
    margin-left: 0;
}

.pagination a,
.pagination span.extend,
.pagination span.current {
	float: right;
    margin-right: 0;
    margin-left: 3px;
}

/* Sliders */

#featured-posts .featured-post {
	float: right;
    padding-right: 1px;
    padding-left: 0;
}

#featured-posts .featured-post.featured-post-1,
#featured-posts .featured-post.featured-post-3 {
    padding-left: inherit;
    padding-right: 0;
}

#featured-posts .flex-direction-nav .flex-prev {
    left: 50px !important;
    right: auto !important;
}

#featured-posts .flex-direction-nav .flex-next {
    left: 5px !important;
    right: auto !important;
}

.flex-viewport {
    direction: ltr;
}

.slider-caption {
    direction: rtl !important;
    text-align: right;
}

.flex-direction-nav .flex-next {
    left: -30px;
    right: auto;
    display: none;
}

.flex-direction-nav .flex-prev {
    right: -30px;
    left: auto;
}

.flexslider:hover .flex-next {
    left: 5px;
    right: auto;
}

.flex-direction-nav .flex-next:before {
    content: "\f104";
}

.flexslider:hover .flex-prev {
    right: 5px;
    left: auto;
}

.flex-direction-nav .flex-prev:before {
    content: "\f105";
}

.flex-control-paging li a,
.ei-slider-thumbs li a {
  border-left:  1px solid #888;
  border-right: 0 none;
}

.ei-slider-thumbs li.ei-slider-element {
    right: auto;
    left: auto;
}

/* News Boxes */

.cat-box p.post-meta span,
.cat-box p.post-meta .stars-small {
    margin-left: 7px;
    margin-right: 0;
}

.cat-box p.post-meta .stars-small span {
    margin-left: 0;
}

.list-box li{
    float: left;
    clear: left
}

.list-box li.other-news {
    border-left: 0 none;
    border-right: 3px solid #eaeaea;
}

.wide-box li {
    float: right;
}

.recent-box .recent-item,
.scroll-box .scroll-item {
    float: right;
    margin-right: 0;
    margin-left: 3%;
}

.group_items .scroll-item:last-child,
.recent-box .recent-item:nth-child(3n+3) {
    margin-right: inherit;
    margin-left: 0;
}

.masonry-grid,
.full-width .masonry-grid.post-listing {
    padding-left: 0;
    padding-right: 0;
}

.cat-box ul.timeline {
    border-width: 0 2px 0 0;
}

.cat-box .timeline-archive ul.timeline {
    margin-left: 0;
    margin-right: 15px;
}

.cat-box .timeline-archive ul.timeline li.timeline-post {
    padding-left: 0;
    padding-right: 15px;
    text-align: right;
}

.cat-box ul.timeline li.timeline-post:before {
    right: -5.5px;
    left: auto;
}

.cat-tabs-header li {
    float: right;
    margin-right: 0;
    margin-left: 10px;
}

.cat-tabs-wrap li {
    float: left;
    clear: left;
}

/* Widgets */
.widget_categories .widget-container li:before ,
.widget_product_categories ul li:before {
    margin-right: 0;
    margin-left: .53em;
}

.twitter-widget-content li,
#theme-footer .twitter-widget-content li {
	padding-right: 55px;
	padding-left: 10px;
}

.twitter-widget-content li i,
#theme-footer .twitter-widget-content li i {
	float: right;
	margin-left: 0;
	margin-right: -43px;
}

.widget.timeline-posts li h3 {
	border-width: 0 2px 0 0;
	padding-left: 0;
	padding-right: 10px;
}

.widget.timeline-posts li {
	padding-left: 0;
	padding-right: 5px;
}

.widget.timeline-posts li span.tie-date {
	padding-left: 0;
	padding-right: 12px;
}

.widget.timeline-posts li span.tie-date:before {
	left: auto;
	right: -3px
}

#tabbed-widget .widget-top {
	padding-left: 0;
	padding-right: 2px;
}

#tabbed-widget ul.tabs li {
	float: right;
	margin-right: 3px;
}

.arqam-lite-widget-counter li:nth-child(3n+1) {
    border-width: 0 0 1px 1px;
}

.arqam-lite-widget-counter li:nth-child(3n+3) {
    border-width: 0 1px 1px 0;
}

/* Shortcodes */
.dropcap {
    float: right;
	margin-right: 0;
	margin-left: 8px;
}

a.post-slideshow-next, a.post-slideshow-prev {
	float: left;
	margin-left: 0;
	margin-right: 5px;
}

a.post-slideshow-prev  .fa-angle-left:before {
	content: "\f105";
}

a.post-slideshow-next .fa-angle-right:before {
	content: "\f104";
}

.tie-list-shortcode li {
    padding-right: 20px;
    padding-left: 0;
}

.tie-list-shortcode ul li:before {
	margin-right: -20px;
	margin-left: 5px;
}

.post-tabs-ver ul.tabs-nav {
	left: 0;
	right: 1px;
	float: right;
	border-width: 1px 1px 1px 0;
}

.box div.box-inner-block {
	padding-left: 0;
	padding-right: 70px;
}
.box .tie-shortcode-boxicon {
	float: right;
	margin-left: 0;
	margin-right: -70px;
}

.one_half,
.one_third,
.two_third,
.three_fourth,
.one_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.five_sixth {
	margin-right: 0;
	margin-left: 4%;
	float: right;
}

a.shortc-button i {
    margin-left: 10px;
    margin-right: 0;
}

.author-info img.author-img {
    float: right;
    margin-right: 0;
    margin-left: 15px;
}

/* Footer */
.footer-widgets-box {
    float: right;
    margin-right: 0;
    margin-left: 4%;
}

.footer-1c .footer-widgets-box,
.narrow-wide-2c #footer-second,
.wide-narrow-2c #footer-second,
.footer-2c #footer-second,
.footer-3c #footer-third,
.footer-4c #footer-fourth,
.wide-right-3c #footer-third,
.wide-left-3c #footer-third {
    margin-right: inherit;
	margin-left: 0;
}

.footer-widget-container li,
#theme-footer #tabbed-widget .tabs-wrap li {
	padding-right: 0;
	padding-left: 12px;
}
.footer-bottom .social-icons {
	float: left;
	margin-right: 0;
	margin-left: 15px;;
}


/**
 * Off Canvas Mobile menu
 * -----------------------------------------------------------------------------
 */

#slide-out {
    right: 0;
    left: auto;
    -webkit-transform: translate3d(100%, 0, 0);
       -moz-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
         -o-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
}

#slide-out #mobile-menu a {
    padding-right: 10px;
    padding-left: 10px;
}

.search-mobile #s-mobile {
    float: left;
}

.search-mobile button.search-button {
    right: auto;
    left: 0;
}

#slide-out #mobile-menu ul li.menu-item-has-children i.mobile-arrows{
    right: auto;
    left: 0;
    border-left: 0 none;
    border-right: 1px solid #333;
}

#slide-out #mobile-menu ul ul a {
    padding-right: 30px;
    padding-left: 0
}

#slide-out #mobile-menu ul ul ul a {
    padding-right: 40px;
    padding-left: 0
}

#slide-out #mobile-menu ul ul ul a {
    padding-right: 50px;
    padding-left: 0
}

#slide-out #mobile-menu ul ul ul ul a {
    padding-right: 60px;
    padding-left: 0
}

#slide-out-open {
    right: 5px;
    left: auto;
}

#open-slide-overlay {
    left: auto;
    right: 80%;
}

.csstransforms3d.csstransitions .js-nav .inner-wrapper {
    left: 0;
    right: 80%;
}

.csstransforms3d.csstransitions .js-nav .inner-wrapper{
	left: auto !important;
	right: 0 !important;
}

.csstransforms3d.csstransitions .js-nav #slide-out-open span:before{
    opacity: 0;
}

.csstransforms3d.csstransitions .js-nav .inner-wrapper {
	-webkit-transform: translate3d(-80%, 0, 0);
	   -moz-transform: translate3d(-80%, 0, 0);
	    -ms-transform: translate3d(-80%, 0, 0);
	     -o-transform: translate3d(-80%, 0, 0);
	        transform: translate3d(-80%, 0, 0);
}


/**
 * Reponsive
 * -----------------------------------------------------------------------------
 */

/* 670px */

@media only screen and (max-width: 670px){
  	 
 	#featured-posts .featured-post{
		padding: 0 1px 1px 0 !important;
	}
    	
	#featured-posts .featured-post-1,
	#featured-posts .featured-post-2,
	#featured-posts .featured-post-4 {
		padding-right: 0 !important;
	}
    
}

/*  Phone  : 500px */

@media only screen and (max-width: 500px){
    
    .entry ul.best-reviews li {
        padding-right: 65px;
        padding-left: 0;
    }

    .best-review-score-image{
        margin-right: -65px;
        margin-left: 0;
    }
    
    .author-info img.author-img {
        margin-right: 0;
        margin-left: 10px;
    }
    
    .author-info-content {
        padding-right: 60px;
        padding-left: 0;
    }
    
}

/* 350px */

@media only screen and (max-width: 350px){
    
    .logo {
        text-align: left;
        padding-left: 20px;
        padding-right: 0;
    }
    
	.overlay-icon:before,
    .tie_slider .overlay-icon:before {
        margin: -15px -15px 0;
	}
	
}

/* .isotope */
.isotope .isotope-item {
	-webkit-transition-property: right, top, -webkit-transform, opacity;
	   -moz-transition-property: right, top,    -moz-transform, opacity;
	    -ms-transition-property: right, top,     -ms-transform, opacity;
	     -o-transition-property: right, top,      -o-transform, opacity;
	        transition-property: right, top,         transform, opacity;
    
	-webkit-transform: none !important;  
	   -moz-transform:  none !important; 
	    -ms-transform:  none !important;  
	     -o-transform:  none !important;  
	        transform:  none !important;
    
	left:auto !important; 
	float:right !important;
}

html body iframe[name*="oauth2relay"]{ display: none; right: -100px; }

.adsf {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.tcontainer {
  min-height: 100px;
  font-family: Tahoma;
  position: relative;
  margin-top: 10px;
}

.ttop {
  background: #5682A3;
  height: 52px;
  width: 100%;
  color: #fff;
  text-align: center;
  line-height: 50px;
}

.tlogo {
text-align: right;
    padding-right: 4px;
    transition: all 0.9s ease;
}
.tlogo a:hover {
    text-decoration: none;
    padding-right: 5px;
}

.tlogo img {
  /*! height: 35px; */
  /*! width: 35px; */
  position: relative;
  top: -10px;
}

span.tname{
  text-align: right;
  line-height: normal;
  font-weight: bold;
}
span.ttitle {
  font-weight: bold;
    color: #fff !important;
    text-decoration: none;
  font-family: iransans-web;
  position: relative;
  top: -10px;
}

.tbottom {
  min-height: 50%;
  position: relative;
  overflow: hidden;
  background: #fff;
}

.tbottom:hover {
  background: #eef2f5;
  cursor: pointer;
}

.tbottom:hover span.nickname {
  text-decoration: underline;
}

.tavatar {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  background: url(http://bamdad.net/wp-content/uploads/2016/08/K56_aKXExds.jpg) no-repeat;
  margin: 10px;
  float: left;
}

span.tname {
  height: 50%;
  margin-left: 5px;
  font-size: 14px;
  margin-top: 15px;
  width: calc(100% - 80px);
  float: left
}

span.tnickname {
  height: 50%;
  width: calc(100% - 80px);
  font-weight: normal;
  float: left;
  margin-left: 5px;
  font-size: 14px;
  margin-top: 4px;
}

a.tlink {
  color: inherit;
}
.cat-tabs-wrap li.no-width
{
    width: 100%;
}
.cat-tabs-wrap .no-marge {
    background: #fff;
    margin: auto;
}
.e3lan-top{//padding-top:20px;}