.wpp-no-data {}.wpp-list {}.wpp-list li {    clear: both;    float: none;    overflow: hidden;}.wpp-list li.current {}.wpp-thumbnail {border: medium none;display: inline;float: right;margin: 0 5px 0 0;background: #fff none repeat scroll 0 0;border: 1px solid #ccc;max-width: 32%;padding: 1px;}.wpp-post-title {font-family: iransans-web;position: relative;right: 4px;font-family: IRANSans-web;font-size: 11px;font-weight: 600;}.wpp-excerpt {}.post-stats {    display: block;    font-size: 9px;    font-weight: bold;}.wpp-comments {}.wpp-views {
    /* background: #ddd; */
    font-size: 9px;
    margin-right: 4px;
}
.wpp-views:before {
    display: inline-block;
    font-family: FontAwesome;
    content: "\f06e";
    padding-left: 2px;
    font-size:11px;
}
.wpp-author {}.wpp-date {}.wpp-category {}.wpp-rating {}