﻿.welcome_closed,.login .login_tab a span.arr,.login_box .login_ctrl .to_reg a,.layer_form_tips .arrow_tips,.subscribe h3,.relate_doc dd,.label_hd .hd_l .close_row,.slide_box .left,.slide_box .noleft,.slide_box .right,.slide_box .noright,.subscribe .btn_subscribe,.interLabel .spanSelected em,.interLabel .spanDel em{background:url(/images_cn/index/index_flat_bg.png) 0 0 no-repeat;}
body{background-color:#fcfcfc;}
.wrapper{max-width:1130px;min-width:960px;_width:1130px;margin:0 auto;padding:10px 0 0 0;}
.welcome{position:relative;margin:0 0 10px;}
.welcome h3{font-weight:normal;text-align:center;line-height:30px;font-size:16px;padding:0 60px;}
.welcome h3 a{display:inline-block;}
.welcome_closed{position:absolute;right:5px;top:10px;*top:5px;width:12px;height:12px;background-position:-12px 0;}
.welcome_closed:hover{background-position:0 0;}
span.pad_li{font-family:aril;}
.row_main{float:left;width:100%;}
.top_main{margin-right:315px;}
.row_side{float:left;margin-left:-300px;width:300px;}
.col_box{border:1px solid #e1e1e1;height:276px;background-color:#fff;overflow:hidden;margin:0 0 22px 0;}
.col_box .bd h2{height:40px;line-height:40px;background-color:#f1f1f1;padding:0 14px;font-size:18px;font-weight:normal;border-bottom:1px solid #e1e1e1;}
.col_box .bd h2 span.more{float:right;font-size:12px;}
.col_box .cate .cate_list {padding:0 0 0 18px;}
.col_box .cate_list li{float:left;width:184px;padding:10px 0 9px;margin-right:14px;display:inline;height:20px;line-height:20px;white-space:nowrap;overflow:hidden;}
.col_box .cate_list li a {background:url(/images_cn/index/ico_index_add.png) left center no-repeat;padding:0 0 0 16px;font-size:14px;}
.login .login_tab{height:41px;}
.login .login_tab a{float:left;height:40px;line-height:40px;text-align:center;*width:148px;width:50%;border-bottom:1px solid #e0e0e0;font-size:14px;color:#3e3e3e;text-decoration:none;position:relative;background-color:#f5f6f5;box-sizing:border-box;}
.login .login_tab a:hover{color:#3e3e3e;text-decoration:none;}
.login .login_tab a.reg{border-left:1px solid #e0e0e0;}
.login .login_tab a.log{*width:148px;}
.login .login_tab a.cur{background-color:#fff;border-bottom:1px solid #fff;font-weight:bold;}
.login .login_bd{padding:10px 12px;}
.login .btn{float:left;border:none;background:none;text-align:center;font-size:14px; font-weight:bold;color:#fff; cursor:pointer;height:28px;background-color:#3086f2;border-radius:2px;-webkit-appearance:none;padding:0 10px;min-width:84px;}
.login .btn:hover{background-color:#276ded;}
.login .btn_loading,.login .btn_loading:hover{background-color:#CACCCD;color:#999;text-shadow:1px 1px 0 #DFE0E1;cursor:default;}
.login_box .login_input{position:relative;margin:10px 0;float:left;/*width:100%;*/width:272px;_margin:9px 0;}
.login_box .login_input .txt{display:block;padding:9px 4px;height:18px;line-height:18px;border:1px solid #d5d5d5;width:262px;font-size:14px;border-radius:0;-webkit-tap-highlight-color:rgba(255,0,0,0);-webkit-appearance:none;}
.login_box .login_input .cur{border:1px solid #FDDCAF;}
.login_box .error .txt,.login_box .error .cur{border-color:#ff0000;}
.login_box .login_ctrl{margin:0 0 10px 0;}
.login_box .login_connect{padding-top:10px;}
.login_box .login_ctrl .forget{font-size:14px;}
.login_box .login_ctrl .forget input{vertical-align:middle;margin-right:5px;position:relative;top:-1px;}
.login_box .login_ctrl .forget_link{float:right;}
.login_box .login_ctrl .to_reg{float:left;height:28px;line-height:28px;margin-left:12px;}
.login_box .login_ctrl .to_reg a{background-position:right -14px;padding:0 20px 0 0;}
.login_box .connectLoginList li{color:#d0d0d0;}
.login_box .connectLoginList li span{margin-top:2px;}
.login_box .connectLoginList li .vline{margin:0 4px;color:#d0d0d0;font-family:arial;}
.login_box .connectLoginList li a{display:inline-block;color:#3c3c3c;text-decoration:none;}
.login_box .connectLoginList li a.more{color:#126395;}
.login_box .connectLoginList li a.more:hover{text-decoration:underline;}
.login_box .layer_form_tips{left:0;width:270px;top:-24px;}
.login_box .yzm{margin:5px 0;display:none;line-height:30px;}
.login_box .yzm .txt{width:60px;height:20px;padding:4px 0;float:left;margin:0 5px 0 0;}
.login_box .yzm img{float:left;margin-top:3px;cursor:pointer;}
.login_box .checkCode{margin:0 0 0 10px;color:#666;}
.tab_body{position:relative;}
.reg_box{position:relative;margin:10px 0 0 0;}
.reg_box .reg_row{margin-bottom:10px;}
.reg_box .reg_row .lb{float:left;width:40px;text-align:right;padding:0 9px 0 0;height:26px;line-height:26px;}
/* 4.1.1首页登录注册 */
.reg_box .reg_phone_row .lb{height:36px;line-height:36px;}
.reg_box .reg_row .reg_input{position:relative;float:left;width:224px;line-height:24px;}
.reg_box .reg_phone_row .reg_input{line-height:34px;}
.reg_box .reg_row .reg_input .txt{float:left;padding:4px 3px;border:1px solid #d6d6d6;width:216px;height:16px;line-height:16px;border-radius:0;-webkit-tap-highlight-color:rgba(255,0,0,0);-webkit-appearance:none;}
.reg_box .reg_phone_row .reg_input .txt{height:26px;line-height:26px;}

.reg_box .reg_row .validacode .txt{width:62px;margin-right:2px;}
.reg_box .reg_row .reg_input .cur_input{border:1px solid #FDDCAF;}
.reg_box .reg_row .validacode  img{cursor:pointer;float:left;margin-right:4px;}

.reg_box .reg_row .getvalidacode{cursor:pointer;float:left;margin-left:4px;width:96px;height:34px;line-height:34px;text-align:center;background-color:#f8f8f8;color:#545454;border:1px solid #e8e8e8;}
/* 4.1.1首页登录注册 */
.reg_box .error .lb{color:#ff0000;}
.reg_box .error .reg_input .txt{border-color:#ff0000;}
.reg_box .agree {padding:0 0 0 49px;}
.reg_box .agree input{vertical-align:-2px;margin:0 3px 0 0;*margin-left:-3px;}
.layer_form_tips{position:absolute;left:49px;top:-38px;width:222px;background-color:#fdfaf1;border:1px solid #fddcaf;border-radius:3px;}
.layer_form_tips .bd{padding:8px 0 8px 9px;height:14px;line-height:14px;}
.layer_form_tips .bd .tips{color:#ff0000;}
.layer_form_tips .arrow_tips{position:absolute;left:21px;bottom:-6px;background-position:-24px 0;width:11px;height:6px;overflow:hidden;}
.col_me{padding:12px;}
.col_me dt,.col_me dd{float:left;  line-height:18px;}
.col_me dt a{display:block;position:relative;height:90px;width:100px;overflow:hidden;}
.col_me dt{padding: 2px 0;}
.col_me dt a img{ display:block; margin:0 10px 2px 0; width:80px; height:80px;padding:4px;border:1px solid #E0E0E0;  }
.col_me dt a:hover {text-decoration:none;  }
.col_me dt a:hover img{ border:2px solid #86abd1;padding:3px; }
.col_me dd{overflow: hidden; width: 102px;-o-text-overflow:ellipsis; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.col_me dd p{border-top:1px dashed #e9e9e9;background-position: 17px 3px;padding:5px 3px 0 50px;line-height:24px;font-size:16px;font-weight:700}
.col_me dd p a{background-position: right -100px ;padding:0 18px 0 0;}
.col_me dd .edit{ padding:0 6px;font-size:12px; margin:0 0 0 10px;height:17px; line-height:17px;text-align:center; overflow:hidden; background:#316BAA;color:#fff; cursor:pointer}
.col_me .padTips{padding:0 0 2px; }
.col_me .padTips img{vertical-align:middle;}
.col_me .icon_vip{background:url(/images_cn/newDocin/icon_vip_user.png) no-repeat;vertical-align:text-bottom;width:26px;height:15px;}
.col_me .vip_pos{position:absolute;bottom:0px;right:10px;}
.colMe-msg{background:#FFFBF0;border:1px solid #FFDBAF;margin:0 0 5px 0;padding:5px 6px;}
.colMe-msg li{float:left;display:inline;margin:0 12px 0 0; white-space:nowrap;   }
.colMe-info li{position:relative;+line-height:19px;line-height:162%;margin:5px 0;}
.colMe-info .rec_btn{display:inline-block; background:url(/images_cn/newDocin/icon_payment.png) no-repeat 6px 2px; width: 29px;height: 19px;line-height:19px; padding:0 0 0 24px; }
.colMe-shop li{float:left; display:inline;margin:0 9px 0 0; position:relative;cursor:pointer; }
.user_area,.privi_list span{background:url(/images_cn/index/index_login_in.png) 0 0 no-repeat;}
.user_area{height:105px;}
.user_area .bd{padding:8px 18px;}
.user_pic{float:left;width:72px;height:72px;}
.user_pic a{position:relative;display:block;height:70px;width:70px;}
.user_pic a img{display:block;border:3px solid #fff;border-radius:64px;width:64px;height:64px;}
.user_pic a:hover img{box-shadow:0 0 3px #333;}
.user_pic .ico_vip_mark{position:absolute;bottom:5px;right:0;bottom:0\9;right:-8px\9;bottom:5px\9\0;right:0\9\0;}
.user_detail{margin:6px 0 0 88px;}
.user_detail .user_name{margin:0 0 6px 0;}
.user_detail .user_name a{font-size:16px;color:#fff;font-weight:bold;}
.user_detail .user_level{font-size:12px;color:#fff;}
.user_vip{margin:10px 0 0 0;line-height:24px;}
.user_vip a{vertical-align:middle;}
.user_vip .my_kf{text-decoration:none;display:inline-block;width:80px;height:24px;background:url(/images_cn/newDocin/ico-qqkefu.png) 0 0 no-repeat;*position: relative;*top:3px;}
.user_crumb{height:50px;background-color:#f5f5f5;}
.user_crumb ul{padding:5px 0;display:table;table-layout:fixed;width:100%;}
.user_crumb ul li{border-right:1px solid #dadada;height:40px;display:table-cell;text-align:center;*float:left;*width:98px;}
.user_crumb ul li.last{border:none;}
.vip_privi{padding:8px 12px 0;}
.privi_list span{float:left;background:url(/images_cn/vip/ico_vip_pri38x38.png) 0 0 no-repeat;width:38px;height:39px;margin:0 9px 0 0;}
.privi_list span.pri_1{background-position:0 0;}
.privi_list span.pri_2{background-position:-40px 0;}
.privi_list span.pri_3{background-position:-80px 0;}
.privi_list span.pri_4{background-position:-120px 0;}
.privi_list span.pri_5{background-position:-160px 0;}
.privi_list span.pri_6{background-position:-200px 0;margin-right:0;}
.privi_list span.pri_1_n{background-position:0 -42px;}
.privi_list span.pri_2_n{background-position:-40px -42px;}
.privi_list span.pri_3_n{background-position:-80px -42px;}
.privi_list span.pri_4_n{background-position:-120px -42px;}
.privi_list span.pri_5_n{background-position:-160px -42px;}
.privi_list span.pri_6_n{background-position:-200px -42px;margin-right:0;}
.vip_tips{padding:5px 10px;background-color:#fffbf0;border:1px solid #ffdbaf;}
.vip_tips p{background:url(/images_cn/newDocin/ico_yellow_tip.png) 0 2px no-repeat;padding:0 0 0 24px;}
.vip_tips p.w1{background:url(/images_cn/newDocin/ico_orange_tip.png) 0 2px no-repeat;}
.no_bg{border:none;background:none;padding:5px 10px 5px 0;}
.no_bg p{background:none;padding:0;}
.user_connect{padding:12px 12px 0;}
/*subscrib*/
.subscribe{margin:0 0 22px 0;}
.subscribe h3{padding:0 0 0 22px;font-size:18px;font-weight:normal;background-position:-22px -34px;}
.subscribe .help_tips{color:#3c3c3c;font-size:14px;margin:0 0 0 6px;}
.subscribe .btn_subscribe{padding:0 0 0 24px;background-position:-19px -58px;display:inline-block;font-size:14px;}
/*user connect Wb*/
.col-addSns dt,.col-addSns dd{ float:left;}
.col-addSns dd{margin-left:8px;}
.col-addSns .goFollow{display:inline-block;height:16px;font-size:0;width:16px;overflow:hidden;margin:2px 4px 0 0;cursor:pointer;background:url(/images_cn/userBlog/user-wb.png) no-repeat;*vertical-align:middle;}
.col-addSns .goFollow:hover{text-decoration:none;}
.col-addSns .goRr{ background-position:-32px 0;}
.col-addSns .goRr_h{ background-position:-117px -36px;}
.col-addSns .goWb{ background-position:0 0;}
.col-addSns .goWb_h{background-position:-101px -36px;}
.col-addSns .goQz{ background-position:-48px 0;}
.col-addSns .goQz_h{ background-position:-85px -36px;}
.col-addSns .goWx{display:inline-block;height:16px;font-size:0;width:22px;overflow:hidden;margin:2px 4px 0 0;cursor:pointer;background:url(/images_cn/userBlog/followwx.png) no-repeat;*vertical-align:middle;}
.col-addSns .goFollowWx{display:inline-block;height:16px;font-size:0;width:22px;overflow:hidden;margin:2px 4px 0 0;cursor:default;background:url(/images_cn/userBlog/microsoft.png) no-repeat;*vertical-align:middle;}
/*guess*/
.guess_wrap{padding:12px 0 12px 16px;}
.guess_wrap h2{font-size:16px;font-weight:normal;}
.guess_wrap ul.doc_list{margin-right:-10px;overflow:hidden;height:164px;padding:0;}
.guess_wrap ul.doc_list li{width:14.28%;padding:0;}
.doc_recent{padding:10px 0 0 0;overflow:hidden;height:42px;}
.doc_recent dl{float:left;width:22%; padding: 0 0 0 20px;line-height:22px;}
.doc_recent dl dt{position:relative;}
.doc_recent dl dt .ico{position:absolute;left:-20px;top:2px;}
/*label list*/
.row_box{overflow:hidden;margin-bottom:10px;zoom:1;}
.label_hd{padding:12px 15px;height:20px;line-height:20px;border-top:1px solid #e1e1e1;text-align:center;cursor:move;overflow:hidden;}
.label_bd{width: 100%;overflow:hidden;position:relative;background-color:#fcfcfc;}
.label_hd .more{float:right;}
.label_hd .hd_l{float:left;}
.label_hd .hd_l h3{float:left;font-size:18px;font-weight:normal;margin:0 8px 0 0;}
.label_hd .hd_l .close_row{display:inline-block;width:12px;height:12px;background-position:-3px -62px;vertical-align:-3px;+vertical-align:-2px;_vertical-align:-3px;-webkit-transition:0.5s;
	-ms-transition:0.5s;transition:0.5s;}
.label_hd .hd_l .close_row:hover{-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);transform: rotate(180deg);}
.label_hd .hd_l .close_row:active{-webkit-transition:0.3s;-ms-transition:0.3s;transition:0.3s;-webkit-transform: rotate(360deg);-ms-transform: rotate(360deg);transform: rotate(360deg);}
.label_hd .hd_l a,.label_hd .hd_l a:hover{color:#3c3c3c;}
.label_hd .drag_tips{color:#9c9c9c;display:none;}
.dragHover{background-color:#f5f5f5;}
.dragHover .drag_tips{display:inline-block;}
ul.doc_list{overflow:hidden;height: 180px;margin-right:-30px;padding:0 0 0 16px;}
ul.doc_list li{float: left;padding:12px 0;width:11.1%;}
ul.doc_list li .li_wrap{position:relative;width:90px;padding:10px 0 5px 0;}
ul.doc_list li .li_wrap .cover{width:90px;height:96px;line-height:0;text-align:center; overflow:hidden; display:table-cell;vertical-align:bottom;*display: block;*font-size:96px;}
ul.doc_list li .li_wrap .cover a{position:relative;display:inline-block;}
ul.doc_list li .li_wrap .cover a img{display:block;vertical-align:middle;border:1px solid #ccc;padding:2px;overflow:hidden;min-height:60px;min-width:70px;max-height:90px;max-width:80px;background-color:#fff;_height:90px;_width:80px;}
ul.doc_list li .li_wrap .cover a:hover img{padding:1px;border:2px solid #86abd1;}
ul.doc_list li .li_wrap p.title{height:38px;margin-top:10px;line-height:18px;overflow: hidden;text-align:left;word-break:break-all;}
ul.doc_list li .li_wrap .cover a:hover{text-decoration: none;color:#333;}
ul.doc_list li .is_cart p.title,ul.doc_list li .is_cart p.talk{height:18px;overflow:hidden;white-space:nowrap;}
ul.doc_list li .is_cart p.talk {color:#ff0000;margin-top:5px;}
ul.doc_list li .is_cart p.title{text-align:center;}
ul.doc_list li.douDan .li_wrap{padding:6px 0 5px 0;}
ul.doc_list li.douDan .li_wrap .cover{height:100px;background:url("/images_cn/index/doudan_70100.png") no-repeat center 0;}
ul.doc_list li.douDan .li_wrap .cover a img{width:60px;height:78px;min-height:78px;min-width:60px;}
ul.doc_list li.douDan .li_wrap .cover .d_pad{height:89px;padding: 11px 0 0 11px;text-align:left;*display: block;*font-size:80px;}
ul.doc_list li.newDoc .li_wrap{background-color: #fce7a5;}
.cover a .pageno{position:absolute; bottom:0;right:0;padding:0 4px 0 6px; height: 18px;line-height:18px;border:1px solid #ccc;background:#f7f7f7; color:#333;cursor:pointer;white-space:nowrap; font-size:12px;}
.relate_topic{width:280px;float:left;margin-left:-295px;overflow:hidden;}
.relate_topic h4{font-size:14px;padding:0 0 6px 0;border-bottom:1px solid #dedede;}
.relate_topic dt{font-size:15px;padding:8px 0;white-space:nowrap;}
.relate_topic dd{padding:4px 0;white-space: nowrap;}
.relate_topic dd em{float:none;display:inline-block;vertical-align:middle;}
.relate_topic .more{padding:0 0 0 20px;}
.relate_doc dd{background-position:-49px -76px;padding-left:20px;}
/*hot top*/
.hot_top,.hot_top .label_bd{background-color:#f4f3f3;}
.hot_left{width:100%;float:left;}
.hot_bd{margin-right:325px;}
.hot_bd .hot_cont{position:relative;padding:10px 0 20px 16px;}
.hot_bd .hot_cont dt{float: left;width:332px;display:inline;margin-right:15px;}
.hot_bd .hot_cont dt a img{width:330px;display:block;vertical-align: middle;border:1px solid #afaeaf;height:155px;}
.hot_bd .hot_cont dd{padding:0 0 0 345px;}
.hot_bd .hot_cont dd h5{padding:0 0 10px 0;font-size:16px;/*white-space:nowrap;*/}
.hot_bd .hot_cont dd p{line-height: 24px;}
/*slider*/
#j_hot_slider{position:absolute;left:5.4%;right:5.4%;}
.sliderContainer{height:180px;overflow:hidden;}
.sliderContainer ul.doc_list{padding:0;margin:0;position:relative;}
.sliderContainer ul.doc_list li{width:100px;padding:12px 6px 12px 19px;}
.slide_box{position:relative;height:190px;}
.slide_box .left,.slide_box .noleft,.slide_box .right,.slide_box .noright{position:absolute;cursor:pointer;width:11px;height:21px;background-position:-22px -79px;)}
.slide_box .left{background-position:0 -79px;}
.slide_box .right{background-position:-11px -79px;}
.slide_box .noleft{background-position:-22px -79px;}
.slide_box .noright{background-position:-33px -79px;}
.slide_box .left,.slide_box .noleft{left:-20px;top:80px;}
.slide_box .right,.slide_box .noright{right:-20px;top:80px;}
/*daily free*/
.daily_free{border:2px solid #fd4545;border-radius:3px; }
.daily_free .free_wrap{padding:15px 15px 25px 30px;}
.daily_free a.share_sina{background:url("/images_cn/registration/docin_login_icons.png") 0 -19px  no-repeat;padding-left:22px;height:16px;display:inline-block;margin:0 5px 0 8px;vertical-align:middle;}
.daily_free a.rss{background:url("/images_cn/freedoc/icon-rss.png") 0 0  no-repeat;padding-left:26px;height:14px;display:none;vertical-align:middle;}
.free_rrs a{text-decoration:underline;vertical-align:bottom;font-weight:bold;}
.free_rrs li{float:left;}
.free_rrs li.mar8{margin:0 8px 0 0;}
.free_item{float:left;width:49%;position:relative;}
.free_item dt.cover{float:left;width:116px;text-align:right;}
.free_item dt.cover a{position:relative;display:inline-block;}
.free_item dt.cover a img{display:block;border:1px solid #ccc;padding:2px;box-shadow:0 8px 10px rgba(215,215,215,0.8);}
.free_item dt.cover a:hover img{padding:1px;border:2px solid #86abd1;}
.free_item dd{margin-left:132px;}
.free_item dd.title{font-size:14px;padding:0 0 8px 0;white-space:nowrap;overflow:hidden;font-weight:bold;width:270px;}
.free_item dd.decs{line-height:24px;width:270px;height:48px;overflow:hidden;}
.free_item dd.price{padding:10px 0;font-size:14px;}
.free_item dd.price .zero{margin-right:24px;}
.free_item dd .btn_buy,.free_item dd .remain_time{background:url("/images_cn/index/daily_free.png") 0 0 no-repeat;}
.free_item dd .btn_buy{display:inline-block;width:101px;height:30px;color:#fff;font-weight:bold;line-height:30px;text-align:center;font-size:14px;text-decoration:none;margin-right:8px;}
.free_item dd .remain_time{display:inline-block;background-position:0 -138px;padding:0 0 0 24px;}
.free_item dd .btn_buy:hover{background-position:0 -30px;color:#fff;text-decoration:none;}
.free_item dd.doc_owner{position:absolute;width:56px;height:98px;overflow:hidden;right:28px;top:0;margin:0;text-align:center;}
.free_item dd.doc_owner a img{display:block;width:50px;height:50px;border:1px solid #ccc;padding:2px;border-radius:54px;}
.label_bd .free_item .cover a .pageno{background-color:#fff;}
.label_bd .free_item .cover a,.label_bd .free_item .cover a:hover{text-decoration:none;}
.i_left{border-right:1px solid #dedede;margin-right:20px;}

.entrep_mod ul.doc_list{padding:0 0 0 18px;margin:0 -32px 0 0;}
.entrep_mod ul.doc_list li{width:14.2%;}
.entrep_mod ul.doc_list li .li_wrap{width:120px;}
.entrep_mod ul.doc_list li .li_wrap .cover{width:120px;position:relative;height:100px;}
.entrep_mod ul.doc_list li .li_wrap .cover a img{max-width:110px;min-height:84px;height:84px;width:110px;}
/* daily_box */
.daily_box .label_bd{overflow:visible;}
.daily_wrap{padding:0 38px 0 16px;}
.daily_wrap .info{position:relative;height:72px;line-height:24px;}
.daily_wrap .info p{overflow:hidden;height:72px;}
.daily_wrap .info a{color:#625856;}
.daily_wrap .pic{position:relative;z-index:1;}
.daily_L{width:60%;float:left;padding:10px 0 28px;}
.daily_L .pic{float:left;margin-right:32px;}
.daily_L .pic img{float:left;width:250px;height:168px;}
.daily_L .info{position:relative;margin-right:62px;padding-top:20px;text-indent:3em;font-size:14px;zoom:1;}
.daily_L .info p{overflow:hidden;height:120px;}
.daily_L .point{width:36px;height:36px;position:absolute;left:277px;top:-8px;background:url(/images_cn/index/dailypoint_01.gif?rand=1) no-repeat 0 0;_left:0;_right:271px;}
.daily_R{width:39.9%;float:left;padding:8px 0 0;}
.daily_R li{height:78px;padding:0 0 22px;}
.daily_R .pic{float:right;width:78px;height:78px;margin-left:20px;}
.daily_R .pic img{float:right;width:78px;height:78px;}
.daily_R .info{margin-left:14px;line-height:20px;}
.daily_R .info p{height:60px;}
.daily_R .point1,.daily_R .point2{width:16px;height:16px;position:absolute;left:-26px;top:7px;}
.daily_R .point1{background:url(/images_cn/index/dailypoint_02.gif?rand=1) no-repeat 0 0;}
.daily_R .point2{background:url(/images_cn/index/dailypoint_03.gif?rand=1) no-repeat 0 0;}
/* build_box */
.build_L{width:69.9%;float:left;}
.build_L .pic{float:left;margin:9px 0 0 16px;}
.build_L .pic img{display:block;width:300px;height:160px;border:1px solid #cfcfcf;}
.build_L .info{margin:0 57px 0 334px;}
.build_L .info-intro{overflow:hidden;padding-bottom:6px;}
.build_L .info h5{height:36px;line-height:36px;font-size:16px;font-weight:normal;padding-bottom:1px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.build_L .title-tips{float:left;margin:8px 6px 0 0;width:68px;height:20px;line-height:20px;text-align:center;font-size:12px;background-color:#57bae8;color:#fff;border-radius:3px;}
.build_L .info a{color:#444;}
.build_L .info ul{overflow:hidden;margin-right:-2px;}
.build_L .info li{position:relative;float:left;height:24px;line-height:24px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.build_L .info .odd{width:48%;padding:0 2% 1px 0;}
.build_L .info .even{width:48%;padding:0 0 1px 2%;}
.build_L li span{position:absolute;right:0;top:0;color:#d9d9d9;}
.build_R{width:30%;float:left;}
.build_R .info-bb-t, .build_R .info-bb-b{margin-right:6px;}
.build_R .info-bb-t{height:26px;margin-bottom:5px;line-height:26px;border-bottom:1px dashed #d9d9d9;font-size:14px;color:#444;}
.build_R .info-bb-t a{font-size:14px;color:#444;}
.build_R .info-bb-b li{height:30px;line-height:30px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.build_R .info-bb-b a{color:#4c4c4c;}
.build_R .info-bb-b .ico{margin-left:4px;}
/*add label*/
.add_label{margin:15px 11.3%;}
.add_label a{display:block;height:36px;line-height:36px;text-align:center;background-color:#f1f1f1;border:1px solid #e1e1e1;font-size:14px;color:#3c3c3c;text-decoration:none;-webkit-transition:0.5s;
	-ms-transition:0.5s;transition:0.5s;}
.add_label a:hover{color:#3c3c3c;text-decoration:none;background-color:#e1e1e1;}
.ad_longpic{max-width:1130px;min-width:960px;_width:1130px;overflow:hidden;height:90px;margin:10px 0;}
/*link*/
.link_friend h4{font-size:18px;font-weight:normal;padding:12px 0;}
.link_friend p{line-height:26px;text-align:justify;padding:0 0 0 14px;}
.link_friend p a{display:inline-block;padding:0 22px 0 0;}
/*docin v4 foot*/
.foot_k{ width:100%; height:auto;margin:25px auto 0; border-top:1px #dcdcdc solid; padding:15px 0 20px; position:relative}
.foot_k ul{margin:0 auto; overflow:hidden; display: block; max-width:1130px;min-width:960px;_width:1130px; height: auto;}
.foot_k li{ float:left;width:16.1%;}
.foot_k li.last{border:none;padding-right:0;}
.foot_k li.first{padding-left:1.3%;}
.foot_k dt{ padding:10px 0;font-weight:bold; color:#3c3c3c;}
.foot_k dd,.foot_k dd a{ line-height:20px; color:#8b8b8b}
.foot_k dd a:hover{color:#2284E2;text-decoration:underline}
.foot_k dd a.num{color:#326FA8; margin:0 0 0 5px}
.foot_k dd em{ font:normal normal 11px Arial, Helvetica, sans-serif; margin:0 5px}
.foot_k dd.cop a,.foot_k dd.cop span{ float:left;height:48px; width:40px; overflow:hidden;}
.foot_k dd.cop span{ width:44px; }
.foot_k dd.cop a img,.foot_k dd.cop span img{ width:164px; height:48px;}
.foot_k dd.cop a.cop1 img{ margin:0 0 0 -44px}
.foot_k dd.cop a.cop2 img{ margin:0 0 0 -84px}
.foot_k dd.cop a.cop3 img{ margin:0 0 0 -124px}
.foot_k .copy{ clear:both; margin:10px 0 0; text-align:center;color:#8b8b8b; font-family:arial}
.foot_k .remind{ position:absolute;top:-240px;right:165px;}
.foot_k .qq_contact{ position:relative;top:5px;}
.foot_k .publicAcc{width:19%;}
.foot_k .publicAcc dl{width: 88px; padding: 0px 0px 0px 15px;}
.foot_k .publicAcc dl dt{padding:26px 0 6px;}
.foot_k .publicAcc dl dt img{vertical-align:middle;}
.foot_k .publicAcc dl dd{text-align:center;line-height:18px;}
.foot_k .contactUs{width:12.4%;}
.highlight{border:2px dashed #c2c2c2;height:40px;margin:10px 0;}
/*interest tag*/
.interLabel{ width:500px; position:fixed!important; position:absolute;}
.interLabel .dialogTitle{padding-bottom:10px;}
.interLabel p{ line-height:28px;}
.interLabel .pad10{padding:10px 0 0 0;}
.interLabel .optionList{padding:4px 0 14px 0;}
.interLabel .optionList label{float:left; display:inline;width:206px;height:29px;padding:0 0 0 8px;line-height:29px; border:1px solid #c8c8c8; background:#fff;border-radius:6px;-moz-border-radius: 6px;-webkit-border-radius: 6px;}
.interLabel .optionList .overCol{border-color:#689ecb;}
.interLabel .optionList .checkCol{border-color:#eb8f58;}
.interLabel .i-first{margin:0 13px 0 0;}
.interLabel .optionList input{margin:-2px 6px 1px 0;vertical-align:middle;_margin-top:3px; }
.interLabel .tagSelect{padding:6px 0 6px 10px; position:relative;}
.interLabel .tagSelect span{float:left;background:#c6def1; color:#006699; cursor:pointer; border:1px solid #f6fbff; position:relative; white-space:nowrap;height:32px;line-height:32px;font-size:16px;font-family:'Microsoft Yahei';padding:0 20px;margin:5px 6px 5px 0;}
.interLabel .tagSelect .spanOver{border:1px solid #8db1e2;}
.interLabel .tagSelect .spanSelected{background:#5185b0; color:#fff;}
.interLabel .tagSelect .spanSelected em{ position:absolute; top:0; right:0; width:10px; height:10px; background-position:0 -105px;}
.interLabel .tagSelect .spanDel{border-color:#165588;}
.interLabel .tagSelect .spanDel em{background-position:-10px -105px;}
.interLabel .closeFirstShow{display:none;}
.firstShow{margin:0 auto;height:315px;padding-top:85px;border:none;box-shadow:none;}
.firstShow .closeFirstShow{position:absolute!important;right:-10px;top:-10px;_right:0;_top:0;width:39px;height:39px;background:url(/images_cn/index/ico_tips_close.png) 0 0 no-repeat;display:block;overflow:hidden;_background-image: none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images_cn/index/ico_tips_close.png');}
.firstShow{width:545px;background:url(/images_cn/index/addTagTips.png) 0 0 no-repeat;_background-image: none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images_cn/index/addTagTips.png');}
.firstShow .docinPopTable{width:488px;height:auto;}
.docinDialogBox .dialog_buttons{text-align:center;margin:10px 0 0 0;}
.interLabel .dialogBg{border:none;box-shadow:none;background-color:#fff;width:auto;margin:0 auto;}
.firstShow .dialogBg{border:1px solid #6E6E6E;box-shadow:0 0 2px rgba(0, 0, 0, 0.2);background-color:#fff;width:500px;margin:0 auto;}
.cancelTagTip{z-index:103;}
.addTagSucess{width:426px;position:fixed!important; position:absolute; left:50%; top:50%; margin:-150px 0 0 -213px;}
.addTagSucess .addSucessTip{padding:0 50px; font-size:16px; color:#333; font-weight:bold;}
.addTagSucess .addSucessTip img{vertical-align:middle;}
/*user recent info*/
.myInfo-tips{background:#FDFAF1;border:1px solid #FDDCAF;padding:6px 30px 6px 10px;font-size:14px;position:relative;border-radius: 5px; -moz-border-radius:5px;-webkit-border-radius:5px;margin:10px 0; color:#333; line-height:24px;}
.myInfo-tips .welcome_closed{position:absolute;right:5px;top:11px;}
.myInfo-tips p.f_vip{font-size:14px;font-weight:bold;color:#333;text-align:center;}
.myInfo-tips p.f_select{width: 750px; float:right; padding: 0 20px 0 0; line-height: 22px;}
.myInfo-tips p a{display:inline-block;}
/*choose help*/
.aboutChoose{position:absolute;width:300px;z-index:100;border:1px solid #ffdbaf;background-color:#fffbf0;line-height:18px;border-radius:3px;}
.noticeInner{padding:5px 20px 5px 10px;}
.noticeArr,.closeNotice{width:3px;height:3px;border:none;padding:0;background:#FFFBF0 url(/images_cn/newDocin/noticeCorn.png) no-repeat;overflow:hidden;}
.noticeArr{height:8px;width:13px;display:block;position:absolute;top:-8px;left:18px;background-position: 0 -30px;}
.noticeCont p{font-size:12px;}
.closeNotice{position:absolute;right:5px;top:5px;background-position:0 -10px;display:block;width:8px;height:7px;overflow:hidden;cursor:pointer;}
.closeNotice:hover{background-position:0 -20px;}
/*ipad home screen */
.ui-toscreen .icon,.ui-toscreen .add, .ui-toscreen .add2{background:url(/images_cn/bg-ipad-adddesk.png) no-repeat;}
.ui-toscreen{height:60px;background:#d7e7fa;border-bottom: 1px solid #BEBEC2;margin-bottom: 10px;padding: 10px 0;font-family: arial,"华文细黑";display:none;}
.ui-toscreen .icon{float: left;width: 54px;height: 54px;display: block;border: 2px solid white;border-radius: 12px;-webkit-border-radius: 12px;-moz-border-radius: 12px;margin: 0 20px;}
.ui-toscreen p {float: left;font-size: 14px;color: #445B84;line-height: 30px;}
.ui-toscreen .add, .ui-toscreen .add2 {width: 18px;height: 18px;background-position: -69px 0;display: inline-block;}
.ui-toscreen .add2 {width: 22px;background-position: -69px -24px;}
.ui-toscreen .close {float:right;width: 40px;height: 40px;margin: 10px 23px 0 0;line-height: 40px;font-size: 36px;text-align: center;color: #7D92B6;font-family: Arial;cursor: pointer;display: block;}
 /*首页bannerAd*/
#doc_banner{width: 764px;height: 406px;z-index: 999;display: none;}
#doc_banner .banner img{vertical-align: middle;}
#doc_banner .banner{position:relative;width: 764px;height: 406px;}
#doc_banner .banner .close{position: absolute;top: 10px;right: 15px;height: 16px;_height: 18px;width: 16px;cursor: pointer;}
@media(max-width:1070px){ul.doc_list li{width:10.9%;}.entrep_mod ul.doc_list li{width:13.8%;}.free_item dd.doc_owner{right:16px;}.free_item dd.decs{width:230px;}.free_item{width:48%;}.free_item dd .remain_time{margin-top:5px;}.welcome h3{padding:0;}}
@media(max-width:1120px){.free_item{width:48%;}.col_box .cate_list li{width:142px;}.hot_bd{margin-right:315px;}}
@media only screen and (-webkit-min-device-pixel-ratio: 2){.ui-toscreen span.icon{background:url(/images_cn/touch-icon-ipad3-1.0.1.png) no-repeat 0 0;background-size:54px 54px;}.ui-toscreen em.add{background:url(/images_cn/ipad3-add1.png) no-repeat 0 2px;background-size:16px 16px;}.ui-toscreen em.add2{background:url(/images_cn/ipad3-add2.png) no-repeat 0 2px;background-size:19px 16px;}}

