/*RESONSIVE*/
#HotTopicResp .hotTopic{-moz-box-shadow:0 0 8px 2px rgba(0, 0, 0, 0.1); -ms-box-shadow:0 0 8px 2px rgba(0, 0, 0, 0.1); -o-box-shadow:0 0 8px 2px rgba(0, 0, 0, 0.1); -webkit-box-shadow:0 0 8px 2px rgba(0, 0, 0, 0.1); box-shadow:0 0 8px 2px rgba(0, 0, 0, 0.1); float:left; width:100%; margin-bottom:15px}
@media only screen and (max-width:1244px) {
.section-blog-left-aricle  .google-add img, .section-blog-left-aricle  .articleimg img, .content-add img{width:100%; height:auto}
}
@media only screen and (max-width:1023px) {
header{ padding: 10px 0 0}
header nav{ margin:5px 0; border-bottom:none}
#top-full-width{padding:5px 0; text-align:center}
.outer{max-width:100%; /*overflow:hidden; */width:100%;}
#top-full-width ul.languages, .header-add, nav .desktop{display:none}
#logo{ width:200px; margin:0 auto; display:block}
/*#search{display:block}*/
#top-full-width ul.social{display:inline-block; float:none}
.just-in-left{display:none}
.jus-in{padding:5px 0; margin-bottom:5px}
.sreach{width:94%; margin:0 auto; float:none; display:none}
nav{position:static}
a.cnn_logo img{ display:none;}
.nav_bar{ display:block; width:72px; height:24px; position:absolute; left:-5px;  cursor:pointer; line-height:24px; z-index:9999; -moz-transition: all 0.2s linear 0s;
    -webkit-transition: all 0.4s linear 0s; -ms-transition: all 0.4s linear 0s; transition: all 0.4s linear 0s;} 
.nav_bar span{ width:30px; height:24px; float:left; padding-left:3px}
.nav_bar span i {height: 2px;  background: #000; margin: 5px; display:block; width: 20px; }
.nav_bar.open{color:#fff; left:145px; position:fixed}
.nav_bar.open span{float:right}
.nav_bar.open span i{ background:#fff;}
.nav_bar.open span i:nth-child(1){ -moz-transform:rotate(45deg) translateY(5px) translateX(5px); -webkit-transform:rotate(45deg) translateY(5px) translateX(5px); -ms-transform:rotate(45deg) translateY(5px) translateX(5px)}
.nav_bar.open span i:nth-child(2){ display:none}
.nav_bar.open span i:nth-child(3){ -moz-transform:rotate(135deg); -webkit-transform:rotate(135deg); -ms-transform:rotate(135deg)}
.navigation_responsive{ position:fixed; top:0px; left:-220px; background:#ee1b24; width:220px; height:100%; z-index:999; padding:50px 0px 20px 10px;  -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; } 
.navwrap{width:100%; height:100%; display:block; position:relative;  overflow-y:scroll}
.navwrap ul{display:block}
.navwrap li{padding:4px 0px; color:#FFFFFF; font-size:14px; line-height:16px; text-transform:uppercase; position:relative}
.navwrap li span{width:100%; position:absolute; left:0px; top:0px; display:block; height:20px; cursor:pointer}
.navwrap li span:after{content:'+'; width:20px; position:absolute; right:0px; top:0px; display:block; height:20px; font-size:16px; line-height:20px}
.navwrap li span.showmenu:after{content:'-'; font-size:30px}
.navwrap li a{ display:block; color:#FFFFFF; outline:none; margin:5px 0; }
.navwrap li ul{display:none; padding:0 0 0 4%; width:96%}
.footer-left, .footer-right{display:none}
.resLiftSide, .resLiftSideFull{width:100%}
.resRightSide{margin-right:10px}
.blog-list-blog{width:48%}
.blog-list-blog img{width:100%; height:auto}
.resRightSideFull{float:left}
.search-listing ul li img{max-width:30%}
.data-list-cat{ width:48%}
.data-list-cat.big{width:99%}
a.article_arrow { display:none}
.section-blog-left-aricle  .google-add img, .section-blog-left-aricle  .articleimg img, .content-add img{width:100%; height:auto}
.video_black_cont .video_top_discription {min-height:auto}
.video_black_cont .video_top_discription h1{font-size:1.1em}
.video_black_cont .video_top_discription  p, .video_black_cont .video_top_discription .author, .video_black_cont .video_top_discription .sharebtn span{ display:none}
.video_black_cont .video_top_discription .sharebtn{ bottom:-40px}
.featured_carousel ul li{width:160px!important}
.post_control .droplist{top:5px}
.author-lest-blog .author-list, .grid-sizer{width:47.5%;}
.blog-consumption{ width:96%; padding:0 2%}
span.close { background:#EE1B24 url(../images/icon.png) no-repeat -5px -972px; border-radius:50px; position:absolute; top:8px; z-index:99; left:4px; width:25px; height:25px; display:block; cursor:pointer;}
span.close:hover { background:#101010 url(../images/icon.png) no-repeat -5px -972px; border-radius:50px; position:absolute; top:8px; z-index:99; left:4px; width:25px; height:25px; display:block; cursor:pointer;}
.sreach input[type="text"]{ padding:0 40px !important;}
span.disclaimer{ display:none; }
img.resp_img{ width:100%;}
}
@media only screen and (min-width:800px) and (max-width:1024px) {
    .home-banner-left { max-width:100%;}
    .hot-and-trending-right { max-width:100%;}
    .news-worthy-block { max-width:47%;}
    .hot-and-trending-left { max-width:100%;}
    .hot-and-trending-left li{ max-width:20%;}
	.flip-banner ul li .front img { width:100%;}
}
@media only screen and (min-width:768px) and (max-width:1023px) {
.data-list-cat{width:48%; height:260px}
.data-list-cat.big{height:auto; width:31%}
.data-list-cat.big figure{ float:left; width:100%;}
}
@media only screen and (min-width:768px) and (max-width:980px) {
	.add { display:none;}
	.live-tv-contetn { margin:0 8px;}
	.right-small { width:100%; margin:0 0%;}
	.add-small { display:none;}
	.the-epicenter-right { width:48%; margin:0 1% 2% 1%;}
	.show-blog { width:48%; margin:0 1% 2% 0;}
	.newsletter { display:block;}
	.newsletter input[type="text"] { width:95%;}
	.show-blog figure img { width:100% !important;}
	/*PRADEEP CSS*/
	.right-section1-ad { display:none;}
	.home-banner-right { max-width:100%;}
	.new18pluse { width:48%;}
	.pulse_18{ width:48%; }
	.hot-and-trending-right { float:left; margin:0px; padding:0px; width:100%}
	.home-banner-left { margin:0px; padding:0px; max-width:100%;}
	.flip-banner { max-width:100%;}
	.flip-banner img { width:100%;}
	.hot-and-trending-left { max-width:100%;}
	.hot-and-trending-left li { max-width:48%; margin:7px;}
	.news-worthy-block { margin:0px; max-width:48%;}
	.flip-banner ul li .back .back-content > ul.thumb li img { width:36%;}
	.entertainment-left { max-width:100%; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
	.entertainment-right { max-width:100%; margin:11px 0;}
	.entertainment-right li { max-width:48%;}
	.left-video-wall { max-width:100%; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
	#slider { margin:0px; max-width:100%;}
	#slider img { width:100%;}
	ul#thumb-list li { margin:5px;}
	.right-video-wall { max-width:100%;}
	.video-wall-left{ margin:0px; max-width:100%; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
	.video-wall-left figure img { width:100%}
	.the-epicenter-right { margin:65px 1% 2%; max-width:100%;}
	.hot-and-trending-left { max-width:100%;}
	.carousels { max-width:100%; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
	.video-wall-right { max-width:100%; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
	.blog-list-blog{width:31%}
	.live-tv { width:47%; float:left; margin:0 0px;}
	.Most-ppular { width:47%; float:left; margin:0 11px;}
	.Most-ppular img { width:100%;}
	.section-blog-right { width:100%; margin:20px 0px;}
	.data-list-cat{width:31%; height:300px; }
	.data-list-cat figure img {width:100%;}
	#logo a:first-child{border-right:none}
	}
@media only screen and (max-width:767px) {
.section-blog-left-img{ width:100%}
.section-blog-left-img-list{width:96%; padding:0 2%; margin:0px}
.boottom-list ul li{ width:46%; padding:0 2%}
.aticle-list{width:100%}
.aticle-list img{max-width:80%}
.reaction_wrap{ padding:0 20px}
.data-list-cat, .data-list-cat.big{ width:100%; margin:0 0 20px 0; height:auto}
.data-list-cat.big figure span.play{width: 24px; height: 24px; bottom: 8px; left: 8px; background: url(../images/icon.png) no-repeat -263px -776px;}
.data-list-cat.big:hover figure span.play{background: url(../images/icon.png) no-repeat -220px -776px;}
.data-list-cat figure, .data-list-cat.big figure{ float:left; width:32%; margin-right:2%}
.video_black_cont .video_top_discription.live, .video_black_cont .video_top_play.live{ width:100%} 
.featured_carousel ul li{width:160px!important}
.video_black_cont .video_top_discription, .video_black_cont .video_top_play{width:100%}
.video_black_cont .video_top_discription .sharebtn{ bottom:10px;}
/*Pradeep CSS*/
.content-tolge .close  { display:none}
.content-tolge { background:#000; border-bottom:solid 1px #ED1B24;}
.content-tolge { background:#000; border-top:solid 1px #ED1B24;}
.content-tolge ul li { background:none; border-bottom:none;}
.content-tolge ul li a { color:#fff; }
.content-tolge .bx-pager { display:inline;}
.content-tolge .bx-pager-item  { display:inline;}
.content-tolge .bx-pager-item a.bx-pager-link{ text-indent:-9999px; margin:10px 5px; width:11px; height:11px; border-radius:50px; background:#cccccc; display:inline-block; float:right; text-align:center;}
.content-tolge .bx-pager-item a.bx-pager-link.active{ background:#ED1C24;}
.content-tolge .open { background:none;}
.content-tolge .open:after { display:none;}
.content-tolge .open a::after { border-color: #ED1B24; border-style: solid; border-width: 2px; bottom:-6px; content: ""; position: absolute; width:67%; left:16%;}
.boottom-list { position:relative;}
.boottom-list ul { padding:10px 0}
.boottom-list ul li a { font-size:20px; line-height:28px; clear:both}
.boottom-list a.bx-prev, .boottom-list a.bx-next{position:absolute; width:30px; height:30px; top:50%; margin-top:-15px; text-indent:-9999px; z-index:999}
.boottom-list a.bx-prev{background:url(../images/icon.png) no-repeat scroll -84px -122px; left:0px}
.boottom-list a.bx-prev:hover{background:url(../images/icon.png) no-repeat scroll -84px -71px;}
.boottom-list a.bx-next{background:url(../images/icon.png) no-repeat scroll -130px -122px; right:0px}
.boottom-list a.bx-next:hover{background:url(../images/icon.png) no-repeat scroll -130px -71px;}
.section-blog-left-img-list .bx-pager-item a { text-align:center;}
.section-blog-left-img-list .bx-pager-item { width:100%; text-align:center; margin:10px 0;}
.section-blog-left-img-list .bx-pager-item a.bx-pager-link {  background: #ccc; border-radius: 50px;float:right; display: inline-block; height: 11px;  margin: 0 5px;text-indent: -9999px; width: 11px;}
.section-blog-left-img-list .bx-pager-item a.bx-pager-link.active{ background:#ED1C24;}
.content-tolge .open a { text-transform:uppercase;}
.blog-list-blog{width:31%}
.add-small, .add{display:none}
.resRightSide {width:100%;}
.resRightSide .col{ width:96%; padding:0 2%; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
.twitter_box{display:none}
.video_nav { float:left; margin:0px; padding:15px 0; float:left; background:#1a1a1a; width:100%;}
.video_nav  h2  { display:none;}
.video_nav  ul li { float:left; margin:0 10px;}
.video_nav  ul li a { color:#fff;}
.video_black_cont .video_nav  ul li:first-child a{ background:url(../images/live-tv.png) no-repeat left 0px; padding:6px 0 0 52px;}
.Most-ppular img { width:100%;}
.the-epicenter-right { max-width:100%; float:left;}
.show-blog figure img { width:100%;}
.post_control a:nth-child(3) { display:none;}
.data_featured_list h4{display:none}
ul.videoFeatured{display:none}
.featured_carousel ul.videoFeatured li{ width:100%!important; margin:10px 0; float:left}
.featured_carousel ul.videoFeatured li figure{ width:110px; float:left; margin-right:10px}
.moredata{display:block}
.video_black_cont .reaction_wrap { display:none}
img.resp_img{ width:100%;}
.cnn_logo{ display:none;}
.top-tolge { margin:10px 0;}
#top-area ul li { margin:0px;}
.alpha-slider { position:relative;}

}
@media only screen and (min-width:600px) and (max-width:767px) {
.blog-list-blog{width:48%}
.blog-list-blog img{width:100%; height:auto}
.resRightSide.leftAlign{ float:left}
/*Pradeep CSS*/
.home-banner-left { max-width:100%;}
.flip-banner { max-width:100%;}
.flip-banner img { width:100%;}

.hot-and-trending-left li{ max-width:48%;}
.right-section1-ad{ display:none;}
.home-banner-right { max-width:100%;}
.news-worthy-block { max-width:48%; margin:0px;}
.entertainment-left { max-width:97%;}
.entertainment-right { max-width:100%;}
.entertainment-right li { width:48%;}
.left-video-wall { max-width:97%;}
#slider { margin:0px; max-width:100%;}
#slider img { width:100%;}
ul#thumb-list li { margin:5px;}
.right-video-wall { max-width:98%; margin:10px 0;}
.right-video-wall li { width:100%; display:block;}
.margin { margin:0px; float:right;}
.video-wall-left { max-width:97%; margin:0px;}
.video-wall-left figure img { width:100%;}
.carousels { max-width:98%;}
.the-epicenter-left { max-width:100%;}
.flip-banner ul li .back .back-content > ul.thumb li img { width:36%;}


}

@media only screen and (min-width:768px) and (max-width:1023px) { img.resp_img { width:100%;} }
@media only screen and (max-width:599px) {
.resLiftSide{box-shadow:none}
.resRightSide{ float:none; margin:0 auto}
.video_black_cont .video_top_play, .video_black_cont .video_top_discription{ width:100%}
.featured_carousel ul li{width:160px!important}
.blog-list-blog{width:98%}
.blog-list-blog img{width:35%; margin-right:10px; float:left; height:auto}
.blog-list-blog p{border-bottom:none}
/*PRADEEP RESPONSIVE CSS 03-1-16*/
.social-sticky { display:none;}
.section-blog-left-aricle { padding:2px;}
.twiert-stiky { position:inherit; max-width:100%;}
.twiert-stiky a {position:absolute; top:-27px; z-index:99; width:60px; height:54px; background-color:#fff; display:block; margin-left:-30px; left:50%}
.twiert-stiky { background:none; border-bottom:solid 1px #b1b1b1; border-top:solid 1px #b1b1b1; color:#202020; width:100%; left:0px; position:relative; text-align:center; margin:25px 0px}
.twiert-stiky p { color:#101010;}
.content-tolge { width:100%; float:left; display:block; margin:0px; max-width:100%;}
.content-tolge ul li.open { background:none;}
.content-tolge ul li { width:100%; float:left; display:block;}
.content-tolge ul li a { color:#fff;}
.content-tolge ul li ul li { float:left; display:block; width:100%; background:#000 !important;  border-bottom:none;}
.content-tolge ul li ul li a { color:#fff;}
.content-tolge ul li.close { display:none;}
.reations_nav {padding:10px 0px 4px; margin:0 0 10px;}
span.redsuare { display:none;}
.aticle-list{ display:none}
.add { display:none;}
.boottom-list { margin:20px 0px;}
.live-tv { margin:20px 0; display:none;}
.post_control a:nth-child(3) { display:none !important;}
.flip-banner ul li .back .back-content > .linercont { display:none;}

.home-banner-left { max-width:100%; width:100%;}
.flip-banner { max-width:100%;}
.hot-and-trending-left li { max-width:47%;}
.right-section1-ad { display:none;}
.hot-and-trending-right { margin:0px; padding:0px; width:100%;}
.new18pluse { width:100%; display:block; float:left;}
.home-banner-right { max-width:100%;}
.flip-banner ul li .front .content-show h2 a { font-size:20px;}
.flip-banner ul li .back .back-content > ul.list li:nth-child(3){ display:none;} 
.flip-banner ul li .back .back-content > ul.thumb li:nth-child(2) { display:none}
.hot-and-trending-left { max-width:100%;}
.news-worthy-block { max-width:47%; margin:0px;}
.entertainment-left { max-width:100%; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; -webkit-box-sizing:border-box;}
.entertainment-left img { width:100%;}
.entertainment-right { max-width:100%;}
.entertainment-right li { width:98%;}
.left-video-wall { max-width:96%;}
ul#thumb-list li { width:48%; margin:2px;}
.right-video-wall { max-width:100%; margin:10px 0px; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; -webkit-box-sizing:border-box;}
.margin { margin:10px 0%; float:right;}
.video-wall-left { max-width:96%;}
.video-wall-right { max-width:100%;}
.carousels { max-width:100%; -webkit-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; padding:5px;}
.content-add { display:none;}
.the-epicenter-left { max-width:100%;}
.the-epicenter-right { max-width:100%; display:none;}
.entertainment-blog .content h6 { font-size:16px;}
.video-wall-left figure h4 a { font-size:16px;}
#slider .bx-caption span { font-size:16px;}
.video-wall-left figure img { width:100%;}
.boottom-list ul li{ width:46%; padding:0px;}
.hotTopic figure h2{ font-size:30px}
.social-sticky { display:none;}
.sticyfixed { display:none;}
#top-area-nav ul.child{display:none}
.hotTopic figure .title-content h4 a { font-size:13px;}
.show-blog{ display:none;}
/*BLOG PAGE NEXT PREV
ul#about-link .bx-controls, .bx-has-controls-direction { bottom:21px; position:relative;}
ul#about-link .bx-controls, .bx-has-controls-direction a.bx-prev { background: url("../images/icon.png") no-repeat scroll -84px -122px; height:30px; left:-30px; position:absolute;  text-indent:-9999px; width:30px; z-index:9999;}
ul#about-link .bx-controls, .bx-has-controls-direction a.bx-next { background:url("../images/icon.png") no-repeat scroll -130px -122px; height:30px; right:-30px; position:absolute;  text-indent:-9999px; width:30px; z-index:9999;}*/


/*Hot & Trending Adoptive CSS*/
.hot-and-trending-left { position:relative; }
.hot-and-trending-left img { width:100%;}
.hot-and-trending-left  a.bx-prev, .hot-and-trending-left  a.bx-next { height: 34px;  position: absolute; text-indent: -9999px; bottom:34% !important; width: 30px; z-index: 999;}
.hot-and-trending-left a.bx-prev{background:url(../images/icon.png) no-repeat scroll -84px -122px; left:0px;}
.hot-and-trending-left a.bx-prev:hover{background:url(../images/icon.png) no-repeat scroll -84px -71px;}
.hot-and-trending-left a.bx-next{background: url(../images/icon.png) no-repeat scroll -130px -122px; right:0px;}
.hot-and-trending-left a.bx-next:hover{background: url(../images/icon.png) no-repeat scroll -130px -71px;}
.hot-and-trending-left li figure h4 a { bottom:15px;}

.mobile-soial-icon { position:fixed; bottom:0px; width:100%; display:block; background:#fefefe;}
.mobile-soial-icon ul { width:100%;}
.mobile-soial-icon ul li { margin:0 0 0px; padding:0px; float:left; width:20%; -moz-box-shadow:0 0 8px 2px rgba(0, 0, 0, 0.1); -ms-box-shadow:0 0 8px 2px rgba(0, 0, 0, 0.1); -o-box-shadow:0 0 8px 2px rgba(0, 0, 0, 0.1); -webkit-box-shadow:0 0 8px 2px rgba(0, 0, 0, 0.1);
 box-shadow:0 0 8px 2px rgba(0, 0, 0, 0.1);}
.mobile-soial-icon ul li img { margin:0 25%; max-width:22px; max-height:22px; padding:8px;}
.mobile-soial-icon ul li:nth-child(1)  { background:#35529C; }
.mobile-soial-icon ul li:nth-child(2)  { background:#3EA9F5;  }
.mobile-soial-icon ul li:nth-child(3)  { background:#E34431;  }
.mobile-soial-icon ul li:nth-child(4)  { background:#2A7AB8; }
.mobile-soial-icon ul li:nth-child(5)  { background:#5EB615; }
.flip-banner ul li .back .back-content > ul.list li { width:100%;}
.flip-banner ul li .back .back-content { height:200px; overflow-y:scroll;}
/*.flip-banner .bx-controls { width:80px; position:relative;}
.flip-banner .bx-controls a.bx-next { position:absolute; right:10px;}*/
.carousels li span { font-weight:normal; font-size:13px;}
.carousels li p { font-size:13px;}
h1.top-heading { border-top:none;}
} 


@media only screen and (max-width:600px) {
#logo{width:120px; display:block;}
.resLiftSide{width:100%;}
.boottom-list ul li{width:100%; padding:0 10px; box-sizing:border-box; padding-bottom:14px}
.boottom-list ul li img{width:100%}
.aticle-list img{max-width:32%}
.post_control > a, .post_control div > a{ font-size:11px; padding:7px }
.author-lest-blog .author-list, .grid-sizer{width:97.5%;}
.data-list-cat.big{height:auto}
.data-list-cat.big figure{ float:left; width:100%;}
.blog-list-blog p{ margin:0px}
/*PRADEEP CSS*/
.hot-and-trending-left li { max-width:100%; margin:10px 0px;}
.flip-banner ul li .back .back-content > ul.list li:nth-child(2){ display:none;} 
.flip-banner ul li .back .back-content > ul.thumb li img { display:none;}
.flip-banner ul li .front .content-show h2 a { font-size:16px; line-height:22px;}
.news-worthy-block { max-width:100%; margin:0px;}
.news-worthy-block { max-width:100%;}
.tag ul li a {padding:0px; margin:0; display:inline-block}
.tag{text-align:left}
.tag ul li{padding:2px 6px; margin-bottom:8px; display:inline-block} 

.hot-and-trending-left li figure h4 a { padding:8px; width:100%; -webkit-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box;}

.section-blog-left-aricle h1 { font-size:26px; line-height:28px; margin:8px 0}
.outer.artouter {padding:0px !important}
}

 @media only screen and (min-width:1024px){
	li.trending_height{ height:90px !important;} 
 }

@media only screen and (min-width:1024px) and (max-width:1143px) {
    .just-in-left { width:48%;} 
    .sreach { width:48%;}
    .hot-and-trending-left { max-width:100%;}
    .hot-and-trending-left li{ max-width:23%;}
    .home-banner-left { max-width:68%;}
    .flip-banner { max-width:67%;}
    .hot-and-trending-left { max-width:99%;}
	marquee { width:74%;}
	.entertainment-left { max-width:64%;}
	.entertainment-right { max-width:30%}
	.left-video-wall { max-width:64%;}
	.right-video-wall { max-width:30%;}
	.video-wall-left {max-width:30%;}
	.video-wall-right { max-width:64%;}
	.the-epicenter-left { max-width:650px;}
	.footer-right { max-width:35%;}
	.footer-left { max-width:62%;}   
	.hot-and-trending-left li { height:130px;}
    .hot-and-trending-left li figure h4 a { font-size:13px;}
	img.resp_img{ width:100%;}
	.navigation li .megamenu { width:83%;}
	a.cnn_logo img{margin:0 10px 20px}

}
@media only screen and (min-width:1024px) and (max-width:1026px) {    
.home-banner-left { max-width:68%;}
    .flip-banner { max-width:100%;}
    .right-section1 { margin:10px 0;}

	.outer { width:100%; /*overflow:hidden;*/ box-sizing:border-box;}
	img.resp_img{ width:100%;}
	.navigation li .megamenu { width:83%;}
}
@media only screen and (max-width:1050px) { 
.outer {width:100%; overflow:hidden; box-sizing:border-box; padding:0 10px}
}

