/*
Theme Name: Dota 2 2014
Description: Dota 2 2014 theme based on twentyten
Author: Valve Software
Author URI: http://blog.dota2.com/
*/
/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}

/* =Layout
-------------------------------------------------------------- */

/*
LAYOUT: Two columns
DESCRIPTION: Two-column fixed layout with one sidebar right of content
*/

#container {
	float: left;
	margin: 0 -200px 0 0;
	width: 100%;
}
#content {
}
#footer {
	clear: both;
	width:888px;
	margin:0 auto;
	margin-top:50px;
	padding:16px 24px;
	background-color:#1b1d1d;
	border-top:solid #272a2a 1px;
	border-left:solid #272a2a 1px;
	border-right:solid #272a2a 1px;
}
#footer .legal_footer {
	width: 831px;
	margin: 0px auto;
	padding-top:20px;
	padding-bottom:60px;
	font-size: 12px;
	line-height:16px;
	color: #4b4949;
	text-align: left;
	font-family:arial,helvetica,sans-serif;
}
#valveLogoLegal {
	display:block;
	float:left;
	margin-right:16px;
}

/*
LAYOUT: One column, no sidebar
DESCRIPTION: One centered column with no sidebar
*/

.one-column #content {
	margin: 0 auto;
	width: 640px;
}

/*
LAYOUT: Full width, no sidebar
DESCRIPTION: Full width content with no sidebar; used for attachment pages
*/

.single-attachment #content {
	margin: 0 auto;
	width: 900px;
}


/* =Fonts
-------------------------------------------------------------- */
body,
input,
textarea,
.page-title span,
.entry-title,
.entry-title a,
.pingback a.url {
	font-family: 'Radiance', Georgia, "Bitstream Charter", serif;
}
h3#comments-title,
h3#reply-title,
#access .menu,
#access div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text,
input[type=submit] {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
.entry-content,
.entry-summary,
.entry-meta {
	font-family: 'Radiance', Arial, sans-serif;
	color:#7d7d7d;
	font-size:16px;
	line-height:22px;
	padding-left: 4px;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}


/* =Structure
-------------------------------------------------------------- */

/* The main theme structure */
#access .menu-header,
div.menu,
#colophon,
#branding {
	margin: 0 auto;
	width: 800px;
}
#wrapper {
	margin: 0 auto;
	width:832px;
	padding:0;
	background-image:url( 'http://cdn.dota2.com/apps/dota2/images/d2_paperbg.jpg' );
	background-repeat:repeat-y;
	position:relative;
	margin-bottom: 32px;
}
#main {
	width:763px;
	padding:10px 34px 0px 34px;
	margin:0;
	background-image:url( 'http://cdn.dota2.com/apps/dota2/images/d2_paper_top.jpg' );
	background-repeat:no-repeat;
}
#paperFooter {
	width:831px;
	height:21px;
	margin:0;
	padding:0;
}

/* Structure the footer area */
#footer-widget-area {
	overflow: hidden;
}
#footer-widget-area li {
	background:none;
}
#footer-widget-area .widget-area {
	float: left;
	margin-right: 20px;
	width: 220px;
}
#footer-widget-area #fourth {
	margin-right: 0;
}
#site-info {
	float: left;
	font-size: 14px;
	font-weight: bold;
	width: 700px;
}
#site-generator {
	float: right;
	width: 220px;
}


/* =Global Elements
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles */
body {
	background: #010101;
	background-repeat:no-repeat;
	background-position:center 289px;
}
body,
input,
textarea {
	color: #666;
	font-size: 12px;
	line-height: 18px;
}
hr {
	background-color: #e7e7e7;
	border: 0;
	height: 1px;
	margin-bottom: 18px;
}

/* Text elements */
p {
	margin-bottom: 18px;
}
ul {
	list-style: square;
	margin: 0 0 18px 1.5em;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
input[type="text"],
textarea {
	background: #f9f9f9;
	border: 1px solid #ccc;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	padding: 2px;
}
a:link {
	/*color: #c33d2b;*/
	color:#b2b9b7;
	text-decoration:none;
}
a:visited {
	color:#b2b9b7;
	text-decoration:none;
}
a:active,
a:hover {
	/*color: #c33d2b;*/
	color:#cfcfcf;
	text-decoration:underline;
}

/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}

.entry-title a,.entry-title a:link,.entry-title a:visited,.entry-title a:visited {
	color:#a8babc;
}


/* =Menu
-------------------------------------------------------------- */

#access {
	background: #000;
	display: block;
	float: left;
	margin: 0 auto;
	width: 940px;
}
#access .menu-header,
div.menu {
	font-size: 13px;
	margin-left: 12px;
	width: 928px;
}
#access .menu-header ul,
div.menu ul {
	list-style: none;
	margin: 0;
}
#access .menu-header li,
div.menu li {
	float: left;
	position: relative;
}
#access a {
	color: #aaa;
	display: block;
	line-height: 38px;
	padding: 0 10px;
	text-decoration: none;
}
#access ul ul {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	display: none;
	position: absolute;
	top: 38px;
	left: 0;
	float: left;
	width: 180px;
	z-index: 99999;
}
#access ul ul li {
	min-width: 180px;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}
#access ul ul a {
	background: #333;
	line-height: 1em;
	padding: 10px;
	width: 160px;
	height: auto;
}
#access li:hover > a,
#access ul ul :hover > a {
	background: #333;
	color: #fff;
}
#access ul li:hover > ul {
	display: block;
}
#access ul li.current_page_item > a,
#access ul li.current-menu-ancestor > a,
#access ul li.current-menu-item > a,
#access ul li.current-menu-parent > a {
	color: #fff;
}
* html #access ul li.current_page_item a,
* html #access ul li.current-menu-ancestor a,
* html #access ul li.current-menu-item a,
* html #access ul li.current-menu-parent a,
* html #access ul li a:hover {
	color: #fff;
}


/* =Gallery listing
-------------------------------------------------------------- */

.category-gallery .size-thumbnail img {
	border: 10px solid #f1f1f1;
	margin-bottom: 0;
}
.category-gallery .gallery-thumb {
	float: left;
	margin-right: 20px;
	margin-top: -4px;
}
.home #content .category-gallery .entry-utility {
	padding-top: 4px;
}


/* =Attachment pages
-------------------------------------------------------------- */

.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
	content: '\00a0\2192';
}


/* =Images
-------------------------------------------------------------- */

#mainLoop img {
	margin: 0;
	height: auto;
	max-width: 576px;
	width: auto;
}

/* =Navigation
-------------------------------------------------------------- */

.navigation {
	color: #777;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
}
.navigation a:link,
.navigation a:visited {
	color:#969aa1;
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
	color: #cfcfcf;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
#nav-below {
	z-index:9999;
	margin: -18px 0 60px 0;
}


/* =Widget Areas
-------------------------------------------------------------- */

.widget-area ul {
	list-style: none;
	margin-left: 0;
}
.widget-area ul ul {
	list-style: square;
	margin-left: 1.3em;
}
.widget_search #s {/* This keeps the search inputs in line */
	width: 60%;
}
.widget_search label {
	display: none;
}
.widget-container {
	margin: 0 0 18px 0;
}
.widget-title {
	color: #222;
	font-weight: bold;
}
.widget-area a:link,
.widget-area a:visited {
	text-decoration: none;
}
.widget-area a:active,
.widget-area a:hover {
	text-decoration: underline;
}
.widget-area .entry-meta {
	font-size: 11px;
}
.valve_widget_recent_entries {
	font-family:arial,helvetica,sans-serif;
}
.valve_widget_recent_entries .recent_entry {
        margin-bottom: 9px;
}

.widget-area .recent_entry a,.widget-area .recent_entry a:hover,.widget-area .recent_entry a:visited,.widget-area .recent_entry a:active {
	font-size: 13px;
	line-height: 14px;
	color:#969aa1;
	text-decoration:none;
}
.widget-area .recent_entry a:hover {
	color:#cfcfcf;
}
.valve_widget_recent_entries .recent_entry .recent_entry_date {
	font-size: 12px;
	color: #595f60;
	line-height: 14px;
}
#wp_tag_cloud div {
	line-height: 1.6em;
}
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	color: #222;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 4px;
	text-align: left;
}
#wp-calendar thead {
	font-size: 11px;
}
#wp-calendar thead th {
}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td {
	background: #f5f5f5;
	border: 1px solid #fff;
	padding: 3px 0 2px;
	text-align: center;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	text-align: right;
}
.widget_rss a.rsswidget {
	color: #000;
}
.widget_rss a.rsswidget:hover {
	color: #ff4b33;
}
.widget_rss .widget-title img {
	width: 11px;
	height: 11px;
}

/* Main sidebars */
#main .widget-area ul {
	margin-left: 0;
	padding: 0 0 0 0;
}
#main .widget-area ul ul {
	border: none;
	margin-left: 1.3em;
	padding: 0;
}

/* Footer widget areas */
#footer-widget-area {
}


/* =Footer
-------------------------------------------------------------- */

#site-info {
	font-weight: bold;
}
#site-info a {
	color: #000;
	text-decoration: none;
}
#site-generator {
	font-style: italic;
	position: relative;
}
#site-generator a {
	background: url(images/wordpress.png) center left no-repeat;
	color: #666;
	display: inline-block;
	line-height: 16px;
	padding-left: 20px;
	text-decoration: none;
}
#site-generator a:hover {
	text-decoration: underline;
}
img#wpstats {
	display: block;
	margin: 0 auto 10px;
}


/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */

pre {
	-webkit-text-size-adjust: 140%;
}
code {
	-webkit-text-size-adjust: 160%;
}
#access,
.entry-meta,
.entry-utility,
.navigation,
.widget-area {
	-webkit-text-size-adjust: 120%;
}
#site-description {
	-webkit-text-size-adjust: none;
}


/* =Print Style
-------------------------------------------------------------- */

@media print {
	body {
		background: none !important;
	}
	#wrapper {
		clear: both !important;
		display: block !important;
		float: none !important;
		position: relative !important;
	}
	#header {
		border-bottom: 2pt solid #000;
		padding-bottom: 18pt;
	}
	#colophon {
		border-top: 2pt solid #000;
	}
	#site-title,
	#site-description {
		float: none;
		line-height: 1.4em;
		margin: 0;
		padding: 0;
	}
	#site-title {
		font-size: 13pt;
	}
	.entry-content {
		font-size: 14pt;
		line-height: 1.6em;
	}
	.entry-title {
		font-size: 21pt;
	}
	#access,
	#branding img,
	#respond,
	.comment-edit-link,
	.edit-link,
	.navigation,
	.page-link,
	.widget-area {
		display: none !important;
	}
	#container,
	#header,
	#footer {
		margin: 0;
		width: 100%;
	}
	#content,
	.one-column #content {
		margin: 24pt 0 0;
		width: 100%;
	}
	.wp-caption p {
		font-size: 11pt;
	}
	#site-info,
	#site-generator {
		float: none;
		width: auto;
	}
	#colophon {
		width: auto;
	}
	img#wpstats {
		display: none;
	}
	#site-generator a {
		margin: 0;
		padding: 0;
	}
	#entry-author-info {
		border: 1px solid #e7e7e7;
	}
	#main {
		display: inline;
	}
	.home .sticky {
		border: none;
	}
}

#calloutHeader {
	width:100%;
	height:384px;
	background-repeat:no-repeat;
	background-position:center;
	/*background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/bg_rubik.jpg');*/
	text-align:center;
	background-color:#010101;
}

#calloutHeaderLink {
	width:938px;
	margin:0 auto;
}

#calloutHeaderLink1 {
	width:312px;
	height:377px;
	float:left;
}
#calloutHeaderLink2 {
	width:312px;
	height:377px;
	float:left;
}
#calloutHeaderLink3 {
	width:312px;
	height:377px;
	float:left;
}
#mainContentSideBG {
	width:100%;
	/*
	background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/body_bg_mid.jpg');
	*/
	background-color:#010101;
	background-repeat:no-repeat;
	background-position:top center;
}
#mainContentBG {
	width:938px;
	margin:0 auto;
	margin-bottom:20px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/content_bg_repeat.jpg');
	background-repeat:repeat-y;
	background-position:center 84px;
	position:relative;
}
#mainContentBottomBG {
	position:absolute;
	left:-18px;
	bottom:-18px;
	width:956px;
	height:163px;
	z-index:0;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/content_bg_bottom.png');
	background-repeat:no-repeat;
}
#mainContent {
	text-align:left;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/content_bg_top.jpg');
	background-position:top;
	background-repeat:no-repeat;
	min-height:1051px;
	position:relative;
	padding-top:2px;
	padding-left:24px;
	z-index:1000;
}
#rightColHeaderImage {
	position:absolute;
	top:-24px;
	right:0px;
	height:24px;
	width:292px;
}
#tabArea,#noTabArea {
	position:relative;
	margin-top:-26px;
	margin-left:-30px;
	width:659px;
	height:61px;
	/*border:solid red 1px;*/
	background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/tabs_bg.png');
	background-repeat:no-repeat;
	background-position:bottom;
}
#tabAreaBG {
	position:absolute;
	width:659px;
	height:61px;
	top:-2px;
	left:-4px;
}
#noTabArea {
	top:-20px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/no_tabs_bg.png');
}
#mainLoop {
	width:580px;
}

#primary {
	float: right;
	overflow: hidden;
	width: 295px;
	margin-left:23px;
	margin-top:-30px;
	background-repeat:no-repeat;
	min-height:1900px;
}
#primary a,#primary a:hover,#primary a:visited,#primary a:active {
	color:#969aa1;
	text-decoration:none;
}
#primary a:hover {
	color:#cfcfcf;
	text-decoration:none;
}


#recentPostsTopBar,#recentPostsBottomBar {
	width:294px;
	height:10px;
	margin:0;
	padding:0;
}
#recentPostsBottomBar {
	margin-left:-22px;
}
#recentPostsSearchArea {
	width:262px;
	padding:10px 10px 0px 22px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/rightcol_recentposts_bg.jpg');
	background-repeat:repeat-y;
	font-family:arial,helvetica,sans-serif;
}
#recentPostsSearchArea a,#recentPostsSearchArea a:hover,#recentPostsSearchArea a:visited,#recentPostsSearchArea a:active {
	color:#969aa1;
	text-decoration:none;
}
#recentPostsSearchArea a:hover {
	color:#cfcfcf;
	text-decoration:none;
}

#rightColLanguages {
	padding:10px 10px 10px 22px;
	line-height:18px;
	font-family:arial,helvetica,sans-serif;
}
.languageLink,.languageLink:visited,.languageLink:active,.languageLink:hover {
	text-decoration:none;
}
.languageActive {
	color:#b0b0b0;
}

.rightIconLink {
	display:block;
	margin-top:4px;
	clear:left;
}
.rightIconLink_icon {
	float:left;
	margin-top:2px;
	padding-right:4px;
}
.rightIconOnlyLink {
	margin-right: 4px;
	margin-top: 4px;
}
.rightLinksTitle {
	font-size:12px;
	font-family:Arial, helvetica, sans-serif;
	color:#363636;
	font-weight:normal;
}
#rightColSearchArea {
	width:245px;
	height:27px;
	position:relative;
	padding:0;
	margin:10px 0px 18px 0px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/searchbar_bg.jpg');
}
#searchform {
	margin:0;
	padding:0;
}
#rightColSearchSubmit {
	width:21px;
	height:20px;
	position:absolute;
	left:215px;
	top:3px;
}
#rightColSearchInput {
	position:absolute;
	border:0;
	padding:0;
	margin:0;
	width:200px;
	height:17px;
	top:5px;
	left:13px;
	background-color:transparent;
	background:transparent;
	color:#969aa1;
	font-family:Arial, sans-serif;
	font-size:13px;
	font-style:italic;
	outline:none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
#rightColSignupLink {
	display:block;
	width:264px;
	height:77px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/rightcol_signup_button_n.png');
	margin-left:12px;
	margin-bottom:4px;
}
#rightColGetDotaLink {
	display:block;
	width:264px;
	height:77px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/rightcol_steam_button.jpg');
	margin-left:14px;
	margin-bottom:8px;
}
#rightColSignupSubtext {
	display:block;
	width:260px;
	height:30px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/rightcol_signup_subtext_highlight.png');
	background-position:top;
	background-repeat:no-repeat;
	margin-left:17px;
	text-align:center;
	color:#595f60;
	text-decoration:none;
	margin-top:4px;
	margin-bottom:3px;
}
#rightColSignupSubtext,#rightColSignupSubtext:hover,#rightColSignupSubtext:visited,#rightColSignupSubtext:active {
	color:#595f60;
	text-decoration:none;
	font-size:12px;
	font-family:arial,sans-serif;
}
#rightColPlayerCount {
	width:264px;
	height:80px;
	position:relative;
	margin-left:14px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/rightcol_uniqueplayers_bg_n.png');
	background-repeat:no-repeat;
	margin-bottom:4px;
}
#rightColPlayerCountNum {
	font-family:arial,sans-serif;
	font-weight:bold;
	font-size:22px;
	color:#c9c9c9;
	background:-webkit-linear-gradient(top, rgba(205,205,205,1) 0%,rgba(153,153,153,1) 100%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	position:absolute;
  	width:257px;
  	left:4px;
  	text-align:center;
  	top:26px;
  	height:19px;
  	letter-spacing:2px;
}
#rightColPrizePool {
	display:block;
	width:256px;
	height:218px;
	position:relative;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/compendium_progress.jpg');
	margin:8px 0px 12px 18px;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}
#prizeVal {
    display:block;
    font-family: 'Radiance', 'Times New Roman', serif;
    -webkit-text-stroke-width: 0.3px;
    text-stroke-width: 0.3px;
	font-size:36px;
	color:#c9c9c9;
  	position:absolute;
  	width:256px;
  	text-align:center;
  	top:48px;
  	height:19px;
}
.rightColButtonRow {
	position:relative;
	width:277px;
	height:75px;
	margin:5px 0px 5px 17px;
}
.rightColButtonRow p {
	display:block;
	position:absolute;
	top:0px;
	left:129px;
	width:121px;
	height:65px;
	padding:8px 20px 0px 9px;
	font-family:arial,sans-serif;
	font-size:12px;
	line-height:14px;
}
.rightColButtonSubtext {
	font-size:11px;
}
.rightColButtonTxtLink,.rightColButtonTxtLink:hover,.rightColButtonTxtLink:active,.rightColButtonTxtLink:visited {
	color:#868f94;
	text-decoration:none;
}
.hoverBG {
	background-position:top;
	background-repeat:no-repeat;
}
.hoverBG:hover {
	background-position:bottom;
}
.rightColButton {
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	width:127px;
	height:75px;
}
.rcbLink {
	display:block;
	width:256px;
	height:164px;
	margin:8px 0px 12px 18px;
	background-position:top;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

#lbLink {
	display:block;
	width:262px;
	height:48px;
	margin:14px 0px 6px 14px;
	background-position:top;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}
#lbLink:hover {
	background-position:bottom;
}
	
.rightColImgButton {
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}
#rightColStoreButton {
	background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/rightcol_store_button.jpg');
}
#rightColWorkshopButton {
	background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/rightcol_workshop_button.jpg');
}
#rightColHeropediaButton {
	background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/rightcol_heropedia_button.jpg');
}
#rightColDiretideButton {
	display:block;
	width:256px;
	height:136px;
	margin:6px 0px 6px 19px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/rightcol_diretide_button.jpg');
}
#rightColGreevilingButton {
	display:block;
	width:256px;
	height:191px;
	margin:6px 0px 6px 19px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/rightcol_greeviling_button.jpg');
}
#rightColInternationalButton {
	display:block;
	width:256px;
	height:107px;
	margin:6px 0px 6px 19px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/rightcol_international_button.jpg');
}
#rightColInternational2013Button {
	display:block;
	width:264px;
	height:114px;
	margin:6px 0px 6px 12px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/rightcol_international2013_button_n.png');
}
#rightColInternational2011Button {
	display:block;
	width:256px;
	height:107px;
	margin:6px 0px 6px 19px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/rightcol_international_2011_button.jpg');
}
#rightColSOWButton {
	display:block;
	width:254px;
	height:254px;
	margin:6px 0px 0px 22px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/rightcol_spoilsofwar_button.jpg');
}
#rightColAegisButton {
	display:block;
	width:256px;
	height:165px;
	margin:6px 0px 0px 22px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/rightcol_aegis_button.jpg');
}
#rightColTrailerButton {
	display:block;
	width:264px;
	height:154px;
	margin:6px 0px 0px 17px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/rightcol_trailer_button.jpg');
}
#rightColComicButton {
	display:block;
	width:263px;
	height:122px;
	margin:6px 0px 0px 17px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/rightcol_comic_button.jpg');
}
#rightColDotaLinks {
	width:275px;
	height:197px;
	position:relative;
	margin:11px 0px 0px 9px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/rightcol_links_bg_x.png');
}
a.rightColDotaLink,a.rightColDotaLink:hover,a.rightColDotaLink:visited,a.rightColDotaLink:active {
	position:absolute;
	display:block;
	left:53px;
	color:#969aa1;
	text-decoration:none;
	font-family:arial,helvetica,sans-serif;
	font-size:12px;
}
.rightColDotaLinkImg {
	position:absolute;
	display:block;
}

#dotaLinkImgPlayDota {
	top:48px;
	left:15px;
}
#dotaLinkPlayDota {
	top:54px;
}
#dotaLinkImgFacebook {
    top:50px;
	left:17px;
}
#dotaLinkFacebook {
    top:54px;
}
#dotaLinkImgTwitter {
    top:85px;
	left:17px;
}
#dotaLinkTwitter {
    top:88px;
}
#dotaLinkImgYoutube {
    top:117px;
	left:18px;
}
#dotaLinkYoutube {
    top:122px;
}
#dotaLinkImgSteam {
    top:153px;
	left:17px;
}
#dotaLinkSteam {
    top:156px;
}
#rightColFeedback {
	width:275px;
	height:207px;
	position:relative;
	margin:11px 0px 0px 9px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/rightcol_feedback_bg.png');
}
#feedbackForums,#feedbackContact,#feedbackSupport {
	position:absolute;
	width:246px;
	left:15px;
	font-size:12px;
	line-height:14px;
	font-family:arial,helvetica,sans-serif;
}
#feedbackForums {
	top:52px;
}
#feedbackSupport {
	top:94px;
}
#feedbackContact {
	top:150px;
}
.rightColBigButtonTextLink,.rightColBigButtonTextLink:hover,.rightColBigButtonTextLink:active,.rightColBigButtonTextLink:visited {
	font-family:arial,sans-serif;
	text-decoration:none;
	color:#879095;
	margin-left:19px;
	font-size:12px;
}

#s {
	width:162px;
	height:20px;
	border:solid #8c887a 1px;
	background-color:#beb6a8;
	color:#000000;
}

#valveLogoRight {
	margin-top:13px;
	margin-bottom:26px;
}

.dota_rule {
	background-image: url( http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/hr.png );
	height: 21px;
	width: auto;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 12px;
}

a.sharelink {
	text-decoration: none;
	color: #625b5c;
	font-size: 12px;
}

a.sharelink img {
	vertical-align: middle;
}

a.sharelink:hover .sharetext {
	text-decoration: underline;
}

a.signupLink {
	display:block;
	width:168px;
	height:33px;
	background-image:url('http://blog.dota2.com/images/invite_btn.png');
	background-position:bottom;
}
a.signupLink:hover {
	background-position:top;
}

#footer-widget-area .widget-area {
	float: none;
	width: auto;
	margin-right: 0px;
}
.archive_column {
	float: left;
	width: 180px;
	margin-right: 20px;
}
#footer .rightLinksTitle {
	margin-bottom: 8px;
}
#footer .recent_entry .recent_entry_date, #footer .rightLinksTitle {
	color: #707070;
}


/* post stuff */
.entry-title {
	font-size:26px;
	line-height:normal;
	font-weight:normal;
	text-shadow:1px 1px 2px #111111;
	margin-bottom:0px;
}
.entry-meta {
	margin-bottom:24px;
}
ul {
	color:#5c5c5c;
	list-style-type: none;
	line-height:20px;
	margin:0;
	padding:0;
	list-style-position: outside;
	margin-left: 0;
}
li {
		margin:0;
		padding:0;
		padding-left:40px;
		padding-bottom:15px;
		background: url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/blog_arrow.png') no-repeat 0px 3px;
}

.tab_split {
	float:left;
	width:2px;
	height:38px;
	margin-top:4px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/tab_split.png');
}

/* --------------- button crap -------------- */
.fl_left {
	float:left;
}
.fl_right {
	float:right;
}
.btn_tab,.btn_tab_on {
	display:block;
	position:relative;
	height:38px;
	padding:0px 25px;
	font-family:arial,helvetica,sans-serif;
	font-size:14px;
	background-repeat:repeat-x;
	text-align:center;
	line-height:40px;
	letter-spacing:2px;
	font-weight:bold;
	margin:4px 2px 0px 2px;
	color:#0a1a1e;
	/*text-shadow:2px 2px 2px #333333;*/
}

/* sides */
.btn_left, .btn_right {
	position:absolute;
	top:0px;
	height:38px;
	width:2px;
}
.btn_left {
	background-position:top left;
	left:-2px;
}
.btn_right {
	background-position:top right;
	right:-2px;
}

/* tab, tab_on, with rollover */
.btn_tab,.btn_tab_on {
	background-position:top;
}
.btn_tab {
	background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/tab_ro_bg.png');
}
.btn_tab_on {
	background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/tab_on_ro_bg.png');
}
a.btn_tab, a.btn_tab:hover, a.btn_tab:visited {
	text-decoration:none;
	color:#cacaca;
	text-shadow: -1px -1px 2px rgba(0, 0, 0, 1);
}
a.btn_tab_on, a.btn_tab_on:hover, a.btn_tab_on:visited {
	text-decoration:none;
	color:#0a1a1e;
}
.btn_tab .btn_left, .btn_tab .btn_right {
	background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/tab_ro_sides.png');
}
.btn_tab_on .btn_left, .btn_tab_on .btn_right {
	background-image:url('http://cdn.dota2.com/apps/dota2/images/blogfiles/2014/tab_on_ro_sides.png');
}

/* rollover state */
.btn_tab:hover, .btn_tab_on:hover {
	background-position:bottom;
}
.btn_tab:hover .btn_left, .btn_tab_on:hover .btn_left {
	background-position:bottom left;
}
.btn_tab:hover .btn_right, .btn_tab_on:hover .btn_right {
	background-position:bottom right;
}

/* -------------- end buttons ----------------- */

.pagePrevNextLinks {
	margin:20px 0px 120px 0px;
	z-index:100;
}
.pageNextLink {
	float:right;
}

/* ------------- from publicheader.css -------------- */


#navBarBGRepeat {
	width:100%;
	height:68px;
	position:relative;
	margin-bottom:1px;
	z-index: 10001;
	background-image: linear-gradient( to top, #171717, #111111, #040404, #010101 );
}

#navBarShadow {
	position:absolute;
	width:100%;
	height:29px;
	top:68px;
	left:0px;
	background-image:url('http://cdn.dota2.com/apps/dota2/images/header/header_bg_shadow.png');
	background-repeat:repeat-x;
	z-index:100;
	pointer-events:none;
}

#navBarBG {
	width:100%;
	height:68px;
	text-align:center;
}

#navBar {
	width: 938px;
	height: 69px;
	padding: 0;
	margin: 0 auto;
	text-align: left;
}

#navBar .navBarItem {
	position: relative;
	display: inline-block;
	margin-right: 26px;
}

#navBar a.navBarItem {
	text-transform:uppercase;
	letter-spacing:4px;
	font-size:12px;
	color:#908d8b;
}

#navBar a.navBarItem:hover {
	color:#ffffff;
}

#navBar img.dn_arrow {
	position: relative;
	width: 10px;
	height: 6px;
	border: 0;
	left: -24px;
	top:-1px;
}

#navBar div.external_img {
}

a.navBarItem:link, a.navBarItem:active, a.navBarItem:visited {
	text-decoration:none;
	color: #908d8b;
}

a.navBarItem:hover {
	color: #ffffff;
}

#navLoginAndLanguage {
	position:absolute;
	width:938px;
	text-align:right;
	top:5px;
	padding-right:10px;
	font-size:11px;
}

#navLoginAndLanguage a, #navLoginAndLanguage a:hover, #navLoginAndLanguage a:visited, #navLoginAndLanguage a:active {
	color:#908d8b;
	text-decoration:none;
	font-size:11px;
}

#navLoginAndLanguage a:hover {
	color:#ffffff;
}

#languageSelector {
	float:right;
}

#languageList {
	padding:3px 2px;
	border:solid #777777 1px;
	background-color:#333333;
	text-align:left;
	z-index:999999;
	position:absolute;
	right:10px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

#languageList a {
	display:block;
	padding:3px 6px;
}

#languageList a:hover {
	background-color:#555555;
}

#adminSelector {
	float:right;
}

#adminList {
	padding:3px 2px;
	border:solid #777777 1px;
	background-color:#333333;
	text-align:left;
	z-index:100;
	position:absolute;
	right:20px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

#adminList a {
	display:block;
	padding:3px 6px;
}

#adminList a:hover {
	background-color:#555555;
}

#supportSelector {
	float:right;
}

#supportList {
	padding:3px 2px;
	border:solid #777777 1px;
	background-color:#333333;
	text-align:left;
	z-index:100;
	position:absolute;
	right:94px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

#supportList a {
	display:block;
	padding:3px 6px;
}

#supportList a:hover {
	background-color:#555555;
}

.menuSubItemList {
	min-width: 200px;
	padding:3px 2px;
	border:solid #555 1px;
	background-color:#111;
	text-align:left;
	z-index:999999;
	position:absolute;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.menuSubItemList a {
	display:block;
	padding: 6px 8px;
	color: #AAA !important;
	font-size: small;
	text-decoration:none;
}

.menuSubItemList a:hover {
	color: white !important;
	background-color:#555;
	text-decoration:none;
}

.navItem {
	height: 70px;
	margin-top: 27px;
	display: inline-block;
}

.navItem sup {
	color: #a83b28;
	font-size: 0.7em;
	vertical-align: super;
}

.navItemDotaLogo {
	width: 216px;
}

.navItem .DotaLogo {
	position: absolute;
	margin-top: -21px;
	top: 0;
	opacity: .8;
}

.navItem .DotaLogo:hover {
	opacity: 1;
}

.DotaFont{
	font-family:"Radiance",Verdana;
}

@font-face {
    font-family: 'Radiance';
    src: url('http://cdn.dota2.com/apps/dota2/fonts/radiance.eot');
    src: url('http://cdn.dota2.com/apps/dota2/fonts/radiance.eot?#iefix') format('embedded-opentype'),
    url('http://cdn.dota2.com/apps/dota2/fonts/radiance.woff') format('woff'),
    url('http://cdn.dota2.com/apps/dota2/fonts/radiance.ttf') format('truetype'),
    url('http://cdn.dota2.com/apps/dota2/fonts/radiance.svg#ywftsvg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Radiance-Bold';
    src: url('http://cdn.dota2.com/apps/dota2/fonts/radiance-bold.eot');
    src: url('http://cdn.dota2.com/apps/dota2/fonts/radiance-bold.eot?#iefix') format('embedded-opentype'),
    url('http://cdn.dota2.com/apps/dota2/fonts/radiance-bold.woff') format('woff'),
    url('http://cdn.dota2.com/apps/dota2/fonts/radiance-bold.ttf') format('truetype'),
    url('http://cdn.dota2.com/apps/dota2/fonts/radiance-bold.svg#ywftsvg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Radiance-SemiBold';
    src: url('http://cdn.dota2.com/apps/dota2/fonts/radiance-semibold.eot');
    src: url('http://cdn.dota2.com/apps/dota2/fonts/radiance-semibold.eot?#iefix') format('embedded-opentype'),
    url('http://cdn.dota2.com/apps/dota2/fonts/radiance-semibold.woff') format('woff'),
    url('http://cdn.dota2.com/apps/dota2/fonts/radiance-semibold.ttf') format('truetype'),
    url('http://cdn.dota2.com/apps/dota2/fonts/radiance-semibold.svg#ywftsvg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'goudy_trajan_boldbold';
    src: url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.eot');
    src: url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.woff') format('woff'),
         url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.ttf') format('truetype'),
         url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-bold-pro-webfont.svg#goudy_trajan_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'goudy_trajan_mediummedium';
    src: url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.eot');
    src: url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.woff') format('woff'),
         url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.ttf') format('truetype'),
         url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-medium-pro-webfont.svg#goudy_trajan_mediummedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'goudy_trajan_regularregular';
    src: url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.eot');
    src: url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.woff') format('woff'),
         url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.ttf') format('truetype'),
         url('http://cdn.dota2.com/apps/dota2/fonts/goudytrajan-regular-pro-webfont.svg#goudy_trajan_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
