/* --------------- Default Styles --------------- */
html, body, p, h1, h2, h3, h4, h5, em, i, table, tr, td, th, form, input, textarea, select, ol, ul, strong {padding:0;margin:0;    font:15px/1.35 'PT Sans', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	} /* font-family:Arial, Helvetica, sans-serif; */
html {font-size:62.5%;}
body {background:#090909;color: #222; font-size:12px; min-width:1250px; }
em, i { font-style:normal;}
li { list-style-type:none;}
h1, h2, h3, h4, h5 {font-weight:normal;padding:5px 0;}
p {padding:5px 0;}
a:active, a:focus, img, input, select {outline: 0;}
a, a:link, a:active, a:visited {color: #fff;cursor: pointer;text-decoration: none;}
a:hover {color:#ccc;text-decoration: underline;}
img {border:none;}
.clear { clear:both; font-size:0; line-height:0; height:0;}
.fl { float:left;}
.fr { float:right;}

/* ------------------------------------------- */
.all_bg { width:100%; background:#090909 url(http://img.xd-cdn.com/redhdtube.xxx/images/all_bg.png) 0 100% repeat-x;}
/* --------------- Header --------------- */
#header { height:74px; width:1250px; margin:0 auto 0px; position:relative;}
.logo { float:left; padding-top:0px; padding-right:15px; margin-right:10px; }

.form { float:left; width:498px; padding-top:10px;}
.s_form { height:40px; position:relative; overflow:hidden;}
	.s_input input {background:#222; border:0; font-size:15px;  font-size:12px; font-weight:bold; text-transform:uppercase; color:#ccc; height:20px; line-height:20px; width:90%;}
	.s_input { border:0; padding:10px;height:20px; line-height:20px; margin-right:70px;background:#222;border-radius:2px 0 0 2px; -moz-border-radius:2px 0 0 2px; -webkit-border-radius:2px 0 0 2px;}
	.s_submit {cursor:pointer;width:70px; margin:0; height:40px; border:0;  font-size:12px; font-weight:bold; color:#ccc; text-transform:uppercase; float:right; position:relative; z-index:2;
		background:#555;
		background: -moz-linear-gradient(top, #555 0%, #444 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555), color-stop(100%,#444));
		background: -webkit-linear-gradient(top, #555 0%, #444 100%);
		background: -o-linear-gradient(top, #555 0%, #444 100%);
		background: -ms-linear-gradient(top, #555 0%, #444 100%);
		background: linear-gradient(to bottom, #555 0%, #444 100%);
		border-radius:0 2px 2px 0; -moz-border-radius:0 2px 2px 0; -webkit-border-radius:0 2px 2px 0;
		-webkit-box-shadow: #222 1px 3px 2px;-moz-box-shadow:#222 1px 3px 2px; box-shadow: #222 1px 3px 2px;
		}
		.s_submit:hover { background:#777;}

		.close { width:15px; height:16px; position:absolute; right:80px; top:13px; cursor:pointer; background:url(http://img.xd-cdn.com/redhdtube.xxx/images/close.png) -15px 0 no-repeat; display:none; border:0; font-size:0; line-height:0; opacity:0.4;}
.close:hover {background:url(http://img.xd-cdn.com/redhdtube.xxx/images/close.png) 0 0 no-repeat; opacity:0.6;}
.close_active { display:block;}
		
.menu { float:left; font-size:12px; height:40px; text-transform:uppercase; font-weight:bold; padding-top:10px; padding-left:20px;}
	.menu li { float:left; display:inline; margin-right:5px;} 
	.menu a, .menu a:visited { float:left; display:block;  height:40px; line-height:40px; padding:0 20px; color:#fff;
	background:#b51520;
		background: -moz-linear-gradient(top, #b51520 0%, #7b0d15 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b51520), color-stop(100%,#7b0d15));
		background: -webkit-linear-gradient(top, #b51520 0%, #7b0d15 100%);
		background: -o-linear-gradient(top, #b51520 0%, #7b0d15 100%);
		background: -ms-linear-gradient(top, #b51520 0%, #7b0d15 100%);
		background: linear-gradient(to bottom, #b51520 0%, #7b0d15 100%);
		border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;
		}
	.menu a:hover, .menu .active a, .menu .active a:visited  { color:#888;
		background:#222;
		background: -moz-linear-gradient(top, #222 0%, #444 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222), color-stop(100%,#444));
		background: -webkit-linear-gradient(top, #222 0%, #444 100%);
		background: -o-linear-gradient(top, #222 0%, #444 100%);
		background: -ms-linear-gradient(top, #222 0%, #444 100%);
		background: linear-gradient(to bottom, #222 0%, #444 100%);}	

.pag_right { display:none;}

.ad_frame{ height: 275px; width:100%; border:none; scrolling:no; frameborder:0;  marginheight:0; marginwidth:0; }
.ad_frame_top{ height: 105px; width:100%; border:none; scrolling:no; frameborder:0;  marginheight:0; marginwidth:0; }
.ad_frame_ntv{ height: 250px; width:300px; border:none; scrolling:no; frameborder:0;  marginheight:0; marginwidth:0; }

ul.right { position:absolute; right:0; top:10px; font-size:12px; font-weight:bold; z-index:10; }
ul.right li { display: inline-block; letter-spacing: normal; position: relative;  }
ul.right li a { display: block; vertical-align: top;height:30px; line-height:30px; width:140px;	 color:#fff; background:#222;  border:1px solid #444; padding:4px 10px;border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;	}
ul.right small { font-size:12px; text-transform:uppercase; font-weight:bold; padding-left:5px; width:85px; overflow:hidden;display: inline-block; vertical-align:top;}
ul.right li a:hover { text-decoration:none;}
ul.right li.active > a { border:1px solid #C1C0C0; border-bottom:0;}

.lang span{  display: inline-block; height: 24px; margin:0; width: 24px; position:relative; vertical-align:top; margin-top:3px; margin-left:2px; }
span.arrow, .lang span.arrow { background: url(http://img.xd-cdn.com/redhdtube.xxx/images/arrow.png) 0 0 no-repeat; display: inline-block; height: 11px; width: 13px; position:relative; top:10px;  }


ul.dropDownMenu {background:#222;border:1px solid #555; border-top:0;padding: 2px; position: absolute; right: 0; top: 35px; width: 156px; z-index: 12; 	}
ul.right ul.dropDownMenu li { border:0; display: block; overflow:hidden; border:0;width: 100%; }
ul.right ul.dropDownMenu li a { display:block; padding:3px 8px;line-height:24px; height:24px; border:0;}
ul.right ul.dropDownMenu li a:hover { background:#444; color:#ccc;}
ul.right ul.dropDownMenu li span { margin-top:0;}
ul.right ul.dropDownMenu li small { width:auto;}

.en span { background:url(http://img.xd-cdn.com/redhdtube.xxx/images/flag_en.png) 0 50% no-repeat;  }
.es span { background:url(http://img.xd-cdn.com/redhdtube.xxx/images/flag_es.png) 0 50% no-repeat;  }
.fr span { background:url(http://img.xd-cdn.com/redhdtube.xxx/images/flag_fr.png) 0 50% no-repeat;  }
.de span { background:url(http://img.xd-cdn.com/redhdtube.xxx/images/flag_de.png) 0 50% no-repeat;  }
.ru span { background:url(http://img.xd-cdn.com/redhdtube.xxx/images/flag_ru.png) 0 50% no-repeat;  }
.nl span { background:url(http://img.xd-cdn.com/redhdtube.xxx/images/flag_nl.png) 0 50% no-repeat;  }
.ja span { background:url(http://img.xd-cdn.com/redhdtube.xxx/images/flag_ja.png) 0 50% no-repeat;  }


/* ------------------------------------------- */

/* --------------- Content --------------- */
.content { width:100%; background:#090909; border-top:1px solid #333;  padding-top:10px;}

.section_2 {-webkit-box-shadow: inset #000 0 10px 10px;-moz-box-shadow:inset #000 0 10px 10px; box-shadow: inset #000 0 10px 10px; background:#090909; margin-top:10px;}
.section_3 {-webkit-box-shadow: inset #000 0 10px 10px;-moz-box-shadow:inset #000 0 10px 10px; box-shadow: inset #000 0 10px 10px; background:#090909; margin-top:10px;}
.section_4 { background:#394251; border-top:1px solid #name_2;}
	.name_wrap { border-bottom:1px solid #333; padding: 10px 0;}
	.name_2 {font-size:21px; color:#8c8c8c; font-weight:bold; }


.post_header { width:1250px; margin:0 auto 0; overflow:hidden; margin-top:-12px; padding:5px 0;}
.soc { float:right;width: 250px;}
.name_head  {  margin-top:5px; padding-bottom:5px;}
.name_head .name { font-size:21px; color:#8c8c8c; font-weight:bold; padding:0;}
.name_head p { color:#8c8c8c; font-size:13px; padding:0;}

.tags_line { padding:10px 0 10px;}
.tags_line span { color:#8c8c8c; float:left; margin-right:10px;min-height: 18px; display: block;margin-bottom: 1px; font-size: 14px; font-weight: bold;}
.tags_line a, .tags_line a:visited { font-size: 14px; display: block;float: left;margin-bottom: 1px;margin-right: 10px;min-height: 18px;text-indent: 16px; background:url(http://img.xd-cdn.com/redhdtube.xxx/images/tag.png) 1px 4px no-repeat; background-size: 10px 10px; color:#a74947; }
.tags_line a:hover { color:#b9b9b9;}
.tags_line .box { overflow:hidden;}

.box  { width:1250px; margin:0 auto;}


.sorted_box { width:100%; overflow:hidden; padding-bottom:10px;}
.search_zero {font-size:18px; color:#ccc;margin: 0px 10px; text-align: center;}
.search_zero a {font-size:18px;font-weight:bold;color:#b96d6d;text-decoration:none;}
.search_zero a:hover {color:#ccc;text-decoration:underline;}

	
.pagination { float:right; font-size:12px; font-weight:bold; padding-right:4px; padding-left:1px;}
.pagination em { font-size:12px; font-weight:bold;}
	.pagination li { display:inline-block;*display:inline;*zoom:1; vertical-align:top;font-weight:bold; text-transform:uppercase;}
	.pagination a {  display:inline-block;*display:inline;*zoom:1; vertical-align:top;height:45px; border-radius:3px; line-height:45px; padding:0 20px; margin:0 -1px; color:#fff;
		background:#b51520;
		background: -moz-linear-gradient(top, #b51520 0%, #7b0d15 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b51520), color-stop(100%,#7b0d15));
		background: -webkit-linear-gradient(top, #b51520 0%, #7b0d15 100%);
		background: -o-linear-gradient(top, #b51520 0%, #7b0d15 100%);
		background: -ms-linear-gradient(top, #b51520 0%, #7b0d15 100%);
		background: linear-gradient(to bottom, #b51520 0%, #7b0d15 100%);
		border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;
	}
	.pagination a:hover, .pagination .active a, .pagination .active a:visited, .pagination .active a:hover { color:#ccc;
		background:#222;
		background: -moz-linear-gradient(top, #222 0%, #444 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222), color-stop(100%,#444));
		background: -webkit-linear-gradient(top, #222 0%, #444 100%);
		background: -o-linear-gradient(top, #222 0%, #444 100%);
		background: -ms-linear-gradient(top, #222 0%, #444 100%);
		background: linear-gradient(to bottom, #222 0%, #444 100%);}
	.pagination .last a:hover, .pagination .prev a:hover  {background:#222; }


.sorts { float:left; }
.sorts li { margin-right:10px;}

		
.thumbs { width:100%; overflow:hidden; padding-bottom:7px;}
.thumbs_wrap { width:110%; overflow:hidden;}

.item { width:240px;  float:left;margin:0 4px 4px 0;  position:relative; background:#333; border:1px solid #333; overflow:hidden; border-radius:4px; padding:2px;}
	.item img { display:block; width:240px; height:180px;}
	.item a, .item a:visited { color:#c4c4c4;}
	.item a:hover { color:#fff;}
	.single_title { display:block; font-size:18px; font-weight:bold; line-height:45px; height:45px; overflow:hidden; text-align:center;}
	.item:hover { background:#661919; border:1px solid #8d2626;}

.videos .item { position:relative; padding-bottom:5px;}
	.image { width:100%; position:relative;}
	.duration, .report {position: absolute;z-index:10;bottom:4px;right: 4px;color:#fff;background:#282b32;width:60px; padding:5px 0;text-align:center;font-weight:bold;font-size: 11px;border-radius: 2px;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); -moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8;}
	.report { width:auto; padding:5px; right:auto; left:4px; cursor:pointer; display:none;}
		.report em { width:13px; height:15px; display:block; background:url(http://img.xd-cdn.com/redhdtube.xxx/images/icon_basket.png) 0 0 no-repeat;}
	.item:hover .report  { display:block;}
	.info { width:100%; overflow:hidden; color:#666; font-size:12px; font-weight:bold; padding:5px 0;}
	.date { float:left; padding:0 5px;}
	.site { float:right; padding:0 5px;}
	.site a, .site a:visited { color:#999;}
	.site em {font-size:12px;}
	.video_title { font-size:13px; font-weight:bold; overflow:hidden; line-height:17px; height:17px; padding:0 5px; margin-bottom:2px;}
	.taglist { line-height:18px; height:18px; overflow:hidden; font-size:12px;padding:0 0 0 5px; color:#d75050;}
	.item .taglist a, .item .taglist a:visited { color:#d75050; background:url(http://img.xd-cdn.com/redhdtube.xxx/images/icon_tag_2.png) 0 50% no-repeat; text-indent:15px; float:left; display:block; padding-right:10px;}
	.item .taglist em { color:#d75050; background:url(http://img.xd-cdn.com/redhdtube.xxx/images/icon_tag_2.png) 0 50% no-repeat; text-indent:15px; float:left; display:block; padding-right:10px; font-size:12px; line-height:18px; height:18px;}
	.taglist_2 {line-height:18px; height:37px;}
	




.tops { overflow:hidden;} 
	.tops_wrap { width:110%; overflow:hidden; padding: 10px 0 10px;}
	.tops ul { width:220px; margin-right:38px; font-size:14px; float:left; font-weight:normal;color:#63b47a;}
	.tops li {  padding:2px 10px; overflow:hidden; line-height:20px; height:20px;}
	.tops li:first-child { border:0;}
	.tops a { color:#222;}
	.tops a:hover {color:#63b47a; text-decoration:underline;}

	

	



.text_box { padding:10px 0 10px;}
.text_box p { padding:10px 0; font-size:12px; line-height:19px; color:#CCC;}


.cats_wrap { padding:10px 0 15px;}	
	.cats ul {width: 16.6%; float:left;}	
	.cats ul li {	width:95%; height:17px; text-align:left; background:url(http://img.xd-cdn.com/redhdtube.xxx/images/li.png) 2px 10px no-repeat; text-indent:15px;	white-space:nowrap;	overflow:hidden;	font-size: 11px;	line-height: 17px;	padding: 5px 0; font-weight:bold; border-bottom:1px solid #222;}
	.cats ul li:hover {background:url(http://img.xd-cdn.com/redhdtube.xxx/images/li.png) 2px -14px no-repeat;}
	.cats ul li a {font-size: 13px; display:block; color:#ccc;}
	.cats ul li.letter {background:#b51520;
			background: -moz-linear-gradient(top, #b51520 0%, #7b0d15 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b51520), color-stop(100%,#7b0d15));
			background: -webkit-linear-gradient(top, #b51520 0%, #7b0d15 100%);
			background: -o-linear-gradient(top, #b51520 0%, #7b0d15 100%);
			background: -ms-linear-gradient(top, #b51520 0%, #7b0d15 100%);
			background: linear-gradient(to bottom, #b51520 0%, #7b0d15 100%);
			width:86%; font-size: 14px; font-weight:bold; color:#ddd; border-radius: 4px; text-indent: 4px; border:0; margin-bottom:1px; padding-left:5px;}
	.cats ul li.space {background: none; border:0; margin-bottom:1px;}

/* ------------------------------------------- */

/* --------------- Footer --------------- */
#footer { color:#777;  width:100%; background:#090909;  overflow:hidden;}
.footer_box { width:1260px; margin:0 auto; overflow:hidden; color:#777; padding-top:20px; padding-bottom:20px;}
.f_logo { float:left; margin-right:20px;}
.f_col_1 { width:415px; float:right; padding-top:11px; color:#b74343;}
	.copy { text-transform:uppercase; font-size:11px; font-weight:bold; padding-bottom:5px;}
		.f_menu li {  display:inline;  padding:0 15px 0 0; font-size:11px;}
		.f_menu li:first-child { background:none;}
		.f_menu a, .f_menu a:visited { color:#b74343; font-weight:bold;}
		.f_menu a:hover { color:#888; text-decoration:underline;}
.f_col_2 { font-size:11px; width:600px; float:left;}
.f_col_2 p { font-size:13px; }
/* ------------------------------------------- */

.up{position:fixed;bottom:20px;right:0px; z-index:10000;}
.up .scrollTop { background:#545454; width:120px; height:60px; line-height:60px; color:#b9b9b9 !important; font-size:12px; font-weight:bold; text-transform:uppercase; text-align:center; text-decoration:none !important; text-decoration:none !important;  display:block;   z-index:2000;margin-top:10px;border-radius:2px 0 0 2px; -moz-border-radius:2px 0 0 2px; -webkit-border-radius:2px 0 0 2px;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); -moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8;}

		
@media screen and (max-width: 1280px) {
body { min-width:1000px;}
.box, .box_2, .footer_box, #header, .post_header {width:1000px;}
.form { width:368px;}
.menu a, .menu a:visited { padding:0 15px;}
.tops ul { width:170px;}
.f_col_1 { width:300px;}
.right small { display:none !important;}
ul.right li a { width:50px;}
ul.right ul.dropDownMenu li small { display:inline-block !important;}
ul.right ul.dropDownMenu li a { width:140px;}
}

@media screen and (max-width: 1020px) {
body { min-width:746px;}
.soc { display:none;}

.name_head { margin-right:0;}
.box, .footer_box, #header, .post_header {width:746px;}

.f_col_2 { clear:both; width:100%; float:none; padding-top:0;}
#footer { text-align:center;}
.f_col_1  { float:none; margin-bottom:20px; width:100%;}

.footer_box { padding-top:5px;}
.tops ul { width:117px; margin:0 5px 0 10px; padding:0 10px;}

.post_header { text-align:center;}
.name_2 { text-align:center;}
.name_wrap { padding:8px 0;}
.name_2 { font-size:17px;}
.top_tag_line { display:none;}

#header { height:120px;}
.form {width:462px;}

.menu {  display: table;padding:0; width:100%;height:auto; right:0;} 
.menu li {display:table-cell;	float:none; padding-top:0; height:auto;}
.menu a, .menu a:visited { display:block; float:none; text-align:center; white-space:nowrap; padding:0; margin:0 1px;}

.pagination { padding-right: 1px; }
.pagination a { line-height:40px; height:40px; padding:0 15px;}
.sorts li { margin:0;}
.pagination .last { display:none;}
.pagination .prev { display:none;}

.cats_wrap { padding-right:20px;}
.cats ul {width: auto; float:none;}
	.cats ul li {width: auto; margin-right: 13px; float: left; border:0; padding:0; background-position:0 5px;}
	.cats ul li:hover { background-position:0 -19px;}
	.cats ul li.letter, .cats ul li.space {clear: both; width: 100%;}
	.cats ul li.letter { padding:5px; margin-bottom:5px;}
	.cats ul li.letter:hover { background:#b51520;
			background: -moz-linear-gradient(top, #b51520 0%, #7b0d15 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b51520), color-stop(100%,#7b0d15));
			background: -webkit-linear-gradient(top, #b51520 0%, #7b0d15 100%);
			background: -o-linear-gradient(top, #b51520 0%, #7b0d15 100%);
			background: -ms-linear-gradient(top, #b51520 0%, #7b0d15 100%);
			background: linear-gradient(to bottom, #b51520 0%, #7b0d15 100%);}
}
@media screen and (max-width: 788px) {
body { min-width:500px;}
.open { right:0;}
.menu { right:0;}
.box, .box_2, .footer_box, #header, .post_header {width:98%;}
.form { float:none; margin: 12px 80px 0 230px; width:auto;}

.tags_line .box, .text_box { width:95%;}

.thumbs { text-align:center;}



.sorted_box { padding-bottom:10px;}
.sorted_box .pagination { float:none; margin:0 auto; padding:0 0 10px; text-align:center;}


.pagination { display:table; width:100%; }
.pagination li { display:none; }
.sorts li, .pagination .prev, .pagination .last { display:table-cell; }
.pagination li a { margin:0 1px; display:block;}


.tops ul { width:auto; display:block; margin:0; padding:0 15px 0 15px; float:none}
.tops ul li { width:29%; float:left; background:none; border:0; padding:0;}
.tops a {padding:0 10px;}
.tops em {height:22px; line-height:22px;}
.tops a:hover { margin:0;padding:0 10px; }
.top_5 { display:none !important;}

.thumbs { text-align:center; padding-bottom:10px;}
.thumbs_wrap { width:100%;}

.item { width:150px; float:none; display:inline-block; vertical-align:top; margin:0 1px 4px; text-align:left;}
.item img {height: 110px; width: 150px;}
.site { display:block; clear:both; float:none;}
.single_title { font-size:14px; line-height:30px; height:30px;}

.up { display:none !important;}

}


@media screen and (max-width: 560px) {
body { min-width:300px;}	

.tops ul li { width:40%; float:left; background:none;}
.top_3 { display:none !important;}
.top_4 { display:none !important;}
#header { height:170px;}
.form  { margin:0; display:block; float:none;height:auto; right:0; clear:both;-webkit-box-shadow:none;-moz-box-shadow:none; box-shadow:none; padding:0 1px 10px;}
.single_title { font-size:14px; line-height:30px; height:30px;}

.up { display:none !important;}

}


@media screen and (max-width: 560px) {
body { min-width:300px;}	

.tops ul li { width:40%; float:left; background:none;}
.top_3 { display:none !important;}
.top_4 { display:none !important;}
#header { height:170px;}
.form  { margin:0; display:block; float:none;height:auto; right:0; clear:both;-webkit-box-shadow:none;-moz-box-shadow:none; box-shadow:none; padding:0 1px 10px;}
}