h1 {
	font-size: 2.6rem;
	text-align: center;
	color: #707070;
}

h1 a {
	text-decoration: none;
}

@media all and ( min-width: 480px ) {
	h1 {
		font-size: 3.2rem;
	}
}

/***********************
	Mobile App banner
***/
#banner {
	display: none;
}

#banner.open {
	display: block;
	position: absolute;
	top: 0;
	height: 5rem;
	width: 100%;
	z-index: 45;
}

#banner ~ #primary-header {
	transition: 0.3s;
}

#banner.open ~ #primary-header {
	top: 5rem;
}

#banner.open ~ #primary-navigation .panel-wrapper {
	padding-top: 5rem;
	bottom: 0;
}

#banner.open ~ #primary-navigation .panel-wrapper.right {
	padding-top: 14rem;
}

#banner.open ~ #wrapper {
	padding-top: 5rem;
}

#banner_content {
	overflow: hidden;
	background: #f2f0ec;
	padding: 1rem;
	text-align: center;
}

#banner_content a {
	display: inline-block;
	cursor: pointer;
}

#banner_text {
	float: left;
	color: #154995;
	text-decoration: underline;
}

#banner_icon {
	display: inline-block;
	margin-right: 1rem;
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
}

#banner_icon:active {
	color: #154995;
}

#banner_text:hover {
	text-decoration: none;
}

#banner_close {
	float: right;
	padding: 1rem;
	margin: 0;
	height: 3rem;
}

#banner_close::before {
	position: relative;
	top: -1.6rem;
}

@media all and (max-width: 340px) {
	#banner_text {
		font-size: 14px;
	}
}

@media all and (min-width: 480px) {
	#banner_text {
		float: none;
	}

	#banner.open ~ #wrapper #bookmarks {
		top: 50%;
	}
}

@media all and (min-width: 768px) {
	#banner.open {
		position: fixed;
	}

	#banner.open ~ #primary-navigation .panel-wrapper {
		top: 11rem;
		padding-top: 0;
	}

	#banner.open ~ #primary-navigation .panel-wrapper.right {
		padding-top: 3rem;
	}

	#banner.open ~ #wrapper {
		padding-top: 11rem;
	}

	#banner.open ~ #wrapper #sidebar {
		top: 11rem;
	}

}

/***
	End Mobile App banner
***********************/


/***********************
	Utitlity classes
***/
.panel {
	padding: 6rem 0;
	overflow: hidden;
}

.circled {
	border: .2rem solid #FFF;
	border-radius: 50%;
	padding: 1.6rem;
}

#sidebar .dummy-login, #sidebar #LOGIN_policyNo, #sidebar #LOGIN_password {
	font-size: 1.2rem
}

#bookmarks {
	display: none;
}

.break {
	display: block;
}

@media all and ( min-width: 768px ) {
	#bookmarks {
		display: block;
		position: fixed;
		right: 3rem;
		top: 40%;
		z-index: 1;
	}

	#bookmarks .bookmark {
		display: block;
		background-color: #FFFFFF;
		border: 2px solid #FFFFFF;
		border-radius: 14px;
		width: 14px;
		height: 14px;
		cursor: pointer;
	}

	#bookmarks .bookmark.current, #bookmarks .bookmark:hover {
		background-color: transparent;
	}
}

#emergency_bar {
	text-align: center;
}

#emergency_bar div,
#emergency_bar.service div {
	display: table;
	margin: 0 auto;
	padding: 1rem 1rem 0;
}

#emergency_bar p {
	display: inline;
	vertical-align: middle;
	overflow: hidden;
	color: #b6091a;
	margin: 0;
}

#emergency_bar .icon {
	vertical-align: middle;
	color: #b6091a;
	font-size: 2.4rem;
	margin-right: 1rem;
}

@media all and ( min-width: 768px ) {
	#emergency_bar {
		height: 6rem;
	}

	#emergency_bar + #homepage_panels #sidebar {
		height: 67rem;
	}

	#emergency_bar div {
		position: relative;
		padding-right: 26rem;
	}
}

@media all and ( min-width: 900px ) {
	#emergency_bar div {
		padding-left: 12%;
	}
}
/***
	End utility classes
***********************/

/***********************
	Main panels
***/

#primary-panel {
	padding-bottom: 0;
}

#primary-panel form p {
	font-size: 1.4rem;
	margin: 3rem 0;
}

#primary-panel.quote .quote-form p {
	white-space: nowrap;
}

#primary-panel.quote .quote-form, #primary-panel.recall .recall-form, #primary-panel.claims .claims-form {
	margin: 6rem 0 3rem 0;
}

#primary-panel.quote .quote-form, #primary-panel.recall .recall-form, #primary-panel.claims .claims-form {
	text-align: center;
}

#primary-panel.quote .quote-form .select-box {
	margin: 0 0.5rem -1.6rem 0.5rem;
}

#primary-panel.quote .quote-form .select-box select {
	font-size: 1.4rem;
	padding-right: 3rem;
}

#primary-panel.quote #zip {
	text-align: center;
	width: 9.5rem;
	margin: 0 1rem;
}

#primary-panel.recall .recall-form, #primary-panel.claims .claims-form {
	width: 30rem;
	margin: 0 auto;
}

#primary-panel.claims h3 {
	text-align: center;
}

#primary-panel.recall .recall-form .select-box, #primary-panel.recall .recall-form .btn, #primary-panel.claims .claims-form .btn {
	margin-bottom: 3rem;
}

#primary-panel.recall .recall-form .select-box {
	display: block;
}

#primary-panel.recall .recall-form select {
	width: 100%;
}

#primary-panel.recall .recall-form .btn {
	float: right;
}

#primary-panel.recall .recall-form hr {
	clear: both;
}

#primary-panel.recall .recall-form .recall-options {
	overflow: auto;
}

#primary-panel.recall .recall-options .btn {
	float: none;
}

#primary-panel.recall .retrieved {
	font-size: 1.4rem;
	margin: 0;
}

#primary-panel #recall-modal .select-box, #primary-panel #recall-modal .btn {
	display: block;
	width: 20rem;
	margin: 2rem auto;
}

#recall-modal .select-box select {
	width: 100%;
}

#primary-panel.service #LOGIN_policyNo, #primary-panel.service #LOGIN_password {
	display: block;
	width: 100%;
	min-width: 24rem;
	margin-right: 2rem;
}

#geolocation {
	font-size: 2rem;
	color: #707070;
	cursor: pointer;
}

#geolocation:hover {
	color: #CDCDCD;
}

#recall_modal .modal-container {
	width: auto;
	min-width: 30rem;
}

#primary-panel .alt-link {
	text-align: center;
	font-size: 1.4rem;
}

.primary .small-gecko {
	margin: 0 auto;
	display: block;
	width: 11rem;
	padding-top: 1rem;
}

.primary .service .small-gecko {
	display: none;
}

.primary .ers h3 {
	color: #EF5621;
}

.primary .claims h3 {
	color: #ef7014;
}

#primary-panel .policy-form h2 {
	text-align: center;
}

#primary-panel.service #homepage_manage_policy_content .express_links {
	display: none;
}

#primary-panel.service .select-content .btn {
	float: right;
	clear: both;
}

#primary-panel.service .select-content form {
	overflow: auto;
}

#service-contents {
	position: relative
}

#service-contents {
	margin-top: 6rem;
}

#service-form {
	width: 80%;
	min-width: 24rem;
	max-width: 48rem;
	margin: 0 auto;
}

#service-form .select-content {
	overflow: auto;
	border-top: 1px solid #444;
	padding-top: 2rem;
	margin-bottom: 6rem;
}

#service-form .select-content.no-border {
	border-top: none;
	padding-top: 0;
}

#service-form .select-content .textbox {
	width: 100%;
}

#service-form .select-box, #service-form select {
	width: 100%;
}

#service-links {
	background-color: #F7F7F7;
	overflow: auto;
	padding: 3rem 0 2rem 0;
	margin-top: -1.3rem;
}

#service-links h3 {
	font-size: 2rem;
}

#service-links ul {
	clear: both;
	display: block;
	margin-left: 6rem;
}

#service-links .links span {
	float: left;
	font-size: 3rem;
	border-radius: 50%;
	color: #FFF;
	padding: 1rem;
	margin-right: 1rem;
}

#service-links .links .express_links span {
	background-color: #3773ca;
}

#service-links .links .ers span {
	background-color: #EF5621;
}

#service-links .links .claims span {
	background-color: #ef7014;
}

#service-links .links h3 {
	float: left;
}

#service-links .links #findPartner span{
	color: inherit;
	font-size: inherit;
	padding:inherit;
	margin: inherit;
	border-radius: none;
	float:none;

}

#service-links .express_links, #service-links .claims, #service-links .ers {
	width: 25rem;
	margin: 0 auto;
}

#sidebar .extra-info {
	overflow: auto;
	background-color: #F7F7F7;
	margin-top: -1.3rem;
	padding: 3rem 0 1.5rem 0;
}

#sidebar .login-links {
	width: 30rem;
	margin: 0 auto;
}

#sidebar .login-links .express_links, #sidebar .login-links .claims, #sidebar .login-links .ers {
	float: left;
}

#sidebar .login-links .express_links {
	width: 49%;
	margin-left: 1%;
}

#sidebar .login-links .claims, #sidebar .login-links .ers {
	width: 45%;
	margin-left: 5%;
}

#sidebar .login-links h3 {
	font-size: 2rem;
}

@media all and ( min-width: 360px ) {
	#service-form .select-box {
		width: 20rem;
		z-index: 1;
	}

	#service-form .select-box select {
		padding-right: 2rem;
	}

	.primary .service .small-gecko {
		display: block;
		position: absolute;
		top: -1.5rem;
		left: 63%;
		width: 9rem;
	}

	#sidebar .login-links {
		width: 35rem;
	}

	#sidebar .login-links h3 {
		font-size: 2.2rem;
	}

	#sidebar .login-links li {
		font-size: 1.6rem;
	}

	#sidebar .login-links .claims, #sidebar .login-links .ers {
		width: 40%;
		margin-left: 10%;
	}
}

@media all and ( min-width: 480px ) {
	#primary-panel form p {
		font-size: 2rem;
	}

	#primary-panel.quote .quote-form .select-box {
		margin: 0 1rem -1.6rem 1rem;
	}

	#primary-panel.quote .quote-form input, #primary-panel select {
		font-size: 1.6rem;
	}

	#primary-panel.service .select-content .btn {
		float: right;
		clear: none;
	}

	.primary .service .small-gecko {
		top: -3.9rem;
		width: 11rem;
	}

	#service-links .links {
		width: 88%;
		max-width: 48rem;
		margin: 0 auto;
	}

	#service-links .links div {
		float: left;
	}

	#service-links .express_links {
		width: 49%;
		margin-left: 1%;
	}

	#service-links .claims, #service-links .ers {
		width: 45%;
		margin-left: 5%;
	}
}

@media all and ( min-width: 768px ) {
	#primary-panel {
		height: 61rem;
		padding-bottom: 6rem;
	}

	#primary-panel.quote {
		height: 68rem;
	}

	#primary-panel.service {
		height: 100%;

	}

	#primary-panel .main-area {
		position: relative;
		z-index: 0;
		margin-left: -12rem;
	}

	#primary-panel.quote .main-area,
	#primary-panel.recall .main-area {
		margin-left: 0;
		margin-right: 30%;
	}

	#service-contents {
		max-width: 80rem;
		margin: 0 auto;
	}

	#service-form, #service-links {
		float: left;
		clear: none;
		padding: 0 2rem;
		margin: 3rem 0 0 0;
	}

	#service-form {
		width: 55%;
	}

	#service-links {
		width: 45%;
		overflow: hidden;
		background-color: transparent;
		padding-left: 6rem;
	}

	#service-links .links div {
		width: 100%;
		margin-left: 0;
	}

	#service-links .express_links {
		min-width: 18rem;
	}


	#primary-panel .quick-links-bg {
		padding: 6rem 0;
	}

	.primary .small-gecko {
		display: none;
	}

	.primary .service .small-gecko {
		top: -.9rem;
		left: 35%;
	}

	#primary-panel .gecko.large_only {
		position: absolute;
		top: 10rem;
		left: 15%;
		width: 13rem;
	}

	#sidebar {
		position: absolute;
		top: 6rem;
		right: 0;
		z-index: 1;
		width: 25rem;
		height: 61rem;
		background-color: #F7F7F7;
		padding: 2rem;
	}

	#primary-panel.quote + #sidebar, #primary-panel.recall, #primary-panel.recall + #sidebar {
		height: 68rem;
	}

	#sidebar .select-content p {
		font-size: 1.4rem;
		margin-bottom: 1rem;
	}

	#sidebar .select-box, #sidebar input {
		background-color: #FFF;
	}

	#sidebar .actions {
		overflow: hidden;
	}

	#sidebar input, #sidebar button {
		width: 100%;
	}

	#sidebar .login-links {
		width: 100%;
	}

	#sidebar .extra-info {
		overflow: hidden;
		margin-top: 0;
		padding: 0;
	}

	#sidebar .login-links .express_links, #sidebar .login-links .claims, #sidebar .login-links .ers {
		width: 100%;
		margin-left: 0;
	}
}

@media all and ( min-width: 900px ) {
	#primary-panel .gecko.large_only {
		position: absolute;
		top: 2rem;
		left: 7%;
		width: 20rem;
	}

	#primary-panel .main-area {
		margin-left: auto;
	}
}

#primary-panel.quote,
#primary-panel.recall {
	padding-top: 1rem;
}

#primary-panel.quote .gecko.large_only,
#primary-panel.recall .gecko.large_only {
	display: none;
}

@media all and ( min-width:855px ) {
	#primary-panel.quote .main-area,
	#primary-panel.recall .main-area {
		margin-left: 0;
		margin-right: 16%;
	}

	#primary-panel.quote .gecko.large_only,
	#primary-panel.recall .gecko.large_only {
		display: block;
		top: 110px;
		left: 0;
		width: 18rem;
	}
}

@media all and ( min-width:990px ) {
	#primary-panel.quote .main-area,
	#primary-panel.recall .main-area {
		margin: 0 auto;
	}

	#primary-panel.quote .gecko.large_only,
	#primary-panel.recall .gecko.large_only {
		top: 75px;
		left: 5%;
		width: 250px;
	}
}

@media all and ( min-width:1080px ) {
	#primary-panel.quote .gecko.large_only,
	#primary-panel.recall .gecko.large_only {
		left: 0;
	}
}

#quote-area {
	padding: 1rem 0 0 0;
	clear: both;
}

#quote-area hr {
	max-width: 80rem;
	margin: 0 auto 3rem auto;
}

#quote-area .gecko.large_only {
	display: none;
}

#primary-panel.quote h1,
#primary-panel.recall h1,
#quote-area h1 {
	font-size: 19px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	color:#333333;
}

#primary-panel.quote .h2,
#primary-panel.recall .h2,
#quote-area .h2 {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: #86c651;
	margin: 0 0 1rem 0;
	padding: 0;
	color:#333333;
}

#quote-area .h3 {
	text-align:center;
}

@media all and ( min-width:768px ) {
	#primary-panel.quote h1,
	#primary-panel.recall h1,
	#quote-area h1 {
		font-size: 30px;
		margin-top: 10px;
	}

	#primary-panel.quote .h2,
	#primary-panel.recall .h2,
	#quote-area .h2 {
		margin: 0 0 2rem 0;
	}

	#quote-area .main-area {
		margin: 0 auto;
	}
}

#primary-panel.quote .circle,
#primary-panel.recall .circle,
#quote-area .circle {
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#quote_container {
	position: relative;
	overflow:auto;
	min-width:300px;
	max-width: 320px;
	margin: 20px auto 0 auto;
}

#quote_container #quoteForm #product_inputs p {
	width:165px;
	white-space:normal;
}

#selected_product {
	float:left;
}

#primary-panel.quote #selected_product p {
	width:115px
}

#primary-panel.quote .quote-form {
	float:right;
}

#primary-panel.quote #pagination div.circle {
	margin:20px 5px
}

@media all and (min-width: 768px) {
	#quote_container {
		max-width: 480px;
	}

	#selected_product {
		float:none;
		margin-top: 30px;
	}

	#primary-panel.quote #selected_product p {
		width:100%;
	}

	#primary-panel.quote .quote-form {
		float:none;
	}

	#primary-panel.quote #pagination div.circle {
		margin-top:20px
	}
}

#primary-panel #selected_product .circle {
	position: relative;
	background: #144995;
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

#primary-panel #selected_product .circle .circle {
	position: absolute;
	right: 0;
	border: 3px #fff solid;
	width: 30px;
	height: 30px;
}

#selected_product .circle .icon {
	display: block;
	color: #FFFFFF;
	font-size: 60px;
	padding: 15px 0 0 20px;
}

#primary-panel.recall #selected_product .circle .icon {
	padding: 15px 0 0 4px;
}

#primary-panel #selected_product .circle img.icon {
	width: 75px;
	padding-left: 22px;
}

#primary-panel #selected_product .circle .circle .icon {
	font-size: 15px;
	padding: 4px 0 0 4px;
}

#primary-panel #selected_product p {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: #144995;
	margin-top: 3px;
}

#primary-panel #available_products {
	position: relative;
	max-width: 435px;
	height: 190px;
	overflow: hidden;
	margin: 0 auto;
}

#primary-panel #quote-area #available_products {
	height: 100px;
}

#primary-panel #available_products .product {
	float: left;
	width: 33%;
	height: 94px;
	margin-bottom: 1px;
}

#primary-panel.recall #available_products .product:last-child {
	height: 190px;
}

#primary-panel #available_products .highlighted {
	font-weight: bold;
}

#primary-panel #product_container .chevron.highlighted {
	font-weight: bold;
	color: #757374;
}

#primary-panel #available_products .highlighted .circle {
	background-color: #FAFAFA;
	border-width: 4px;
}

#primary-panel #available_products .highlighted .circle .icon {
	padding: 7px 0 0 7px;
}

#primary-panel.recall #available_products .highlighted .circle .icon {
	padding: 7px 0 0 1px;
}

@media all and ( min-width:768px ) {
	#primary-panel #available_products .product {
		width: 25%;
	}
}

#primary-panel #available_products .product .circle {
	cursor: pointer;
	margin-bottom: 8px;
}

#primary-panel #available_products .circle {
	width: 50px;
	height: 50px;
	border: 2px #000 solid;
	margin: 0 auto;
}

#primary-panel #available_products .circle .icon,
#quote-area #available_products .circle .icon {
	display: block;
	color: #000;
	font-size: 27px;
	padding: 10px 0 0 10px;
}

#primary-panel.recall #available_products .circle .icon {
	padding: 10px 0 0 1px;
}

#primary-panel #available_products .circle img.icon {
	padding: 7px 0 0 9px;
}

#primary-panel #available_products .product p {
	text-align: center;
	font-size: 13px;
	color: #434343;
	line-height: 18px;
	margin-bottom: 0;
}

#primary-panel .products #auto .circle, #primary-panel .products #auto .icon { border-color: #144995; color: #144995; }
#primary-panel .products #home .circle, #primary-panel .products #home .icon { border-color: #569cd5; color: #569cd5; }
#primary-panel .products #renters .circle, #primary-panel .products #renters .icon { border-color: #a893c6; color: #a893c6; }
#primary-panel .products #condo .circle, #primary-panel .products #condo .icon { border-color: #fcb116; color: #fcb116; }
#primary-panel .products #motorcycle .circle, #primary-panel .products #motorcycle .icon { border-color: #f4815e; color: #f4815e; }
#primary-panel .products #boat .circle, #primary-panel .products #boat .icon { border-color: #79c143; color: #79c143; }
#primary-panel .products #umbrella .circle, #primary-panel .products #umbrella .icon { border-color: #309fb0; color: #309fb0; }
#primary-panel .products #atv .circle, #primary-panel .products #atv .icon { border-color: #569cd5; color: #569cd5; }
#primary-panel .products #rv .circle, #primary-panel .products #rv .icon { border-color: #a893c6; color: #a893c6; }
#primary-panel .products #collector .circle, #primary-panel .products #collector .icon { border-color: #fcb116; color: #fcb116; }
#primary-panel .products #mobilehome .circle, #primary-panel .products #mobilehome .icon { border-color: #79c143; color: #79c143; }
#primary-panel .products #flood .circle, #primary-panel .products #flood .icon { border-color: #f4815e; color: #f4815e; }
#primary-panel .products #businessowners .circle, #primary-panel .products #businessowners .icon { border-color: #309fb0; color: #309fb0; }
#primary-panel .products #general .circle, #primary-panel .products #general .icon { border-color: #569cd5; color: #569cd5; }
#primary-panel .products #professional .circle, #primary-panel .products #professional .icon { border-color: #a893c6; color: #a893c6; }
#primary-panel .products #commercial .circle, #primary-panel .products #commercial .icon { border-color: #fcb116; color: #fcb116; }
#primary-panel .products #life .circle, #primary-panel .products #life .icon { border-color: #79c143; color: #79c143; }
#primary-panel .products #ridesharing .circle, #primary-panel .products #ridesharing .icon { border-color: #f4815e; color: #f4815e; }
#primary-panel .products #travel .circle, #primary-panel .products #travel .icon { border-color: #309fb0; color: #309fb0; }
#primary-panel .products #overseas .circle, #primary-panel .products #overseas .icon { border-color: #569cd5; color: #569cd5; }
#primary-panel .products #idtheft .circle, #primary-panel .products #idtheft .icon { border-color: #a893c6; color: #a893c6; }
#primary-panel .products #pet .circle, #primary-panel .products #pet .icon { border-color: #fcb116; color: #fcb116; }
#primary-panel .products #jewelry .circle, #primary-panel .products #jewelry .icon { border-color: #79c143; color: #79c143; }
#primary-panel .products #landlord .circle, #primary-panel .products #landlord .icon { border-color: #f4815e; color: #f4815e; }


#primary-panel #available_products .selected .circle,
#primary-panel #available_products .selected .icon,
#primary-panel #available_products .selected p {
	border-color: #CDCDCD;
	color: #CDCDCD;
}

#primary-panel #product_container {
	position: relative;
	max-width: 480px;
	margin: 0 auto;
}

#primary-panel #product_container .chevron {
	position: absolute;
	top: 75px;
	z-index: 9;
	color: #CDCDCD;
	font-size: 30px;
	cursor: pointer;
}

#primary-panel #quote-area #product_container .chevron {
	top: 20px;
}

#primary-panel #product_container .icon-chevron-left {
	display: none;
	float: left;
	left: 0;
}

#primary-panel #product_container .icon-chevron-right {
	float: right;
	right: 0;
}

#primary-panel #pagination {
	overflow: auto;
	margin: 0 auto;
}

#primary-panel.quote #pagination {
	width: 80px;
}

#primary-panel.recall #pagination {
	width: 40px;

}

#primary-panel #pagination .circle {
	float: left;
	background: #CDCDCD;
	width: 10px;
	height: 10px;
	cursor: pointer;
	margin: 20px 5px 0 5px;
}

#primary-panel #pagination .circle.selected {
	background: #757374;
}

#primary-panel .promotional-panel .btn {
	width: 280px;
	white-space: normal;
}

@media all and ( min-width:768px ) {
	#primary-panel.quote #pagination,
	#pagination #quote-area {
		width: 60px;
	}

	#primary-panel #pagination div:nth-child(4) {
		display: none;
	}

	#primary-panel #pagination .circle {
		margin: 30px 5px 0 5px;
	}
}

#primary-panel.quote .quote-form,
#primary-panel.recall .recall-form {
	overflow: auto;
	margin: 20px auto 5px;
}

#primary-panel.quote .quote-form,
#quote-area.quote .quote-form {
	max-width: 350px;
}

#quote-area.quote .quote-form {
	overflow: auto;
	margin: 20px auto 5px;
}

#primary-panel.recall .recall-form {
	width: 100%;
}

#primary-panel .quote-form p {
	position: relative;
}

#primary-panel .quote-form p #geolocation {
	position: absolute;
	top: 12px;
	left: 10%;
}

#primary-panel.quote .quote-form #insurancetype,
#quote-area.quote .quote-form #insurancetype {
	display: none;
}

#primary-panel.recall .recall-form #insurancetype, #primary-panel.recall .recall-form .select-box {
	display: none;
}

#primary-panel form p {
	margin: 0 0 1rem 0;
}

#primary-panel.recall .recall-form .btn {
	margin: 20px 0 0 0;
	float: none;
}

@media all and ( min-width:768px ) {
	#primary-panel.quote .quote-form #product_inputs p,
	#quote-area.quote .quote-form #product_inputs p {
		width: 155px;
		white-space: normal;
	}

	#primary-panel.quote .quote-form p #geolocation,
	#quote-area.quote .quote-form p #geolocation {
		top: 12px;
		left: 18px;
	}
}

#primary-panel.quote #zip,
#primary-panel.quote #submitButton,
#quote-area.quote #zip,
#quote-area.quote #submitButton {
	width: 16.5rem;
}

#quote-area.quote #zip {
	text-align: center;
}

#primary-panel.quote #submitButton {
	margin-right: 0;
}

@media all and ( min-width:768px ) {
	#primary-panel.quote .quote-form {
		margin: 20px auto;
	}

	#quote-area.quote .quote-form {
		margin: 30px auto 5px;
	}

	#primary-panel.quote  form p,
	#quote-area form p {
		float: left;
		margin: 0;
	}

	.quote-form #submitButton {
		float: right;
		margin-right: 0;
	}
}

#primary-panel.quote #additional_links,
#quote-area.quote #additional_links {
	margin: 0 auto;
}

@media all and ( min-width:768px ) {
	#primary-panel.quote #additional_links {
		min-width: 320px;
		max-width: 45%;
		margin-top: 20px;
	}

	#primary-panel.quote #additional_links #recall_link,
	#quote-area #additional_links #recall_link {
		float: left;
	}

	#primary-panel.quote #additional_links #agents_link,
	#quote-area #additional_links #agents_link {
		float: right;
	}

	#quote-area.quote #submitButton {
		display: block;
		margin: 0 auto;
	}

	#quote-area #additional_links {
		min-width: 320px;
		max-width: 45%;
		margin-top: 50px;
	}
}

#service_container {position: relative; overflow:auto; min-width:300px; max-width: 320px;margin: 0px auto;}
#service_container #quoteForm #product_inputs p {width:165px;white-space:normal;}
#selected_product {float:left;}
#quote-area.quote #selected_product p {width:115px}
#quote-area.quote .quote-form {float:right;}
#quote-area.quote .quote-form p #geolocation {left: 10%}
#quote-area.quote #pagination div.circle {margin:20px 5px}
@media all and (min-width: 768px) {
    #service_container { max-width: 480px}
    #selected_product {float:none; margin-top: 30px}
    #quote-area.quote #selected_product p {width:100%}
    #quote-area.quote .quote-form {float:none; margin:20px auto 20px auto;}
    #quote-area.quote #pagination div.circle {margin-top:20px}
}
/***
	End main panels
***********************/

/***********************
	Promotional panels
***/
.promotional-panel {
	margin: 0 auto;
	padding: 3rem 1rem;
}

.promotional-panel .headline {
	position: relative;
	border-bottom: 2px solid #ffffff;
	padding-bottom: 2rem;
}

.promotional-panel .headline > * {
	display: table-cell;
	vertical-align: middle;
}

.promotional-panel .headline h2 {
	width: 100%;
	padding-right: 2rem;
}

.promotional-panel .headline .icon {
	display: none;
	color: #FFFFFF;
	font-size: 3.2rem;
}

.promotional-panel .intro {
	margin: 2rem auto;
}

.promotional-panel .center {
	text-align: center;
}

.promotional-panel .btn, .promotional-panel .btn:active {
	display: block;
	width: 20rem;
	margin: 0.5rem auto 0;
}

.promotional-panel .footnote {
	text-align: center;
	font-size: 1.2rem;
	margin: 3rem 3rem 0 3rem;
}

@media all and ( min-width: 480px ) {
	.promotional-panel .headline .icon {
		display: block;
	}
}

@media all and ( min-width: 768px ) {
	.promotional-panel {
		max-width: 960px;
		padding-right: 4rem;
	}
}



/***
	Promotional Panels - Split sections
***/
.split-section {
	margin: 3rem auto;
	overflow: hidden;
}

.split-section > div {
	position: relative;
	padding: 1rem;
}

.split-section div img {
	display: block;
	margin: 0 auto;
	width: 19.5rem;
}

.split-section li {
	overflow: auto;
	margin: 1.6rem 0;
	padding-top: 2rem;
	display: table;
}

.split-section li > * {
	vertical-align: middle;
	display: table-cell;
}

.split-section .icon {
	color: #FFFFFF;
	font-size: 2rem;
	margin: 0 2rem 0 0;
}

@media all and ( min-width: 480px ) {

	.split-section .icon {
		font-size: 3.2rem;
	}
}

@media all and ( min-width: 768px ) {
	.split-section {
		margin: 2rem auto;
	}

	.split-section > div {
		display: table-cell;
		vertical-align: middle;
		position: relative;
		width: 50%;
	}

	.split-section div img {
		float: right;
		width: 100%;
		max-width: 32.4rem;
		margin: 0;
	}

	.split-section .split-image {
		width: 40%;
		padding: 5%;
	}

	.split-section .split-text {
		width: 60%;
	}
}


/***
	End promotional panels sections
***********************/

#doubleClick {
	display: none;
}
