@font-face {
	font-family: 'NeoSansArabic';
	src: url('NeoSansArabic.eot');
	src: url('NeoSansArabic.eot?#iefix') format('embedded-opentype'),
	url('NeoSansArabic.woff') format('woff'),
	url('NeoSansArabic.ttf') format('truetype'),
	url('NeoSansArabic.otf') format('opentype'),
	url('NeoSansArabic.svg#NeoSansArabic-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FEFC;
}

@font-face {
	font-family: 'DroidSansArabic';
	src: url('DroidSansArabic.eot');
	src: url('DroidSansArabic.eot?#iefix') format('embedded-opentype'),
	url('DroidSansArabic.svg#Droid Sans Arabic') format('svg'),
	url('DroidSansArabic.woff') format('woff'),
	url('DroidSansArabic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'JF_Flat_Regular';
    src: url('JF-Flat-regular.eot');
    src: url('JF-Flat-regular.eot?#iefix') format('embedded-opentype'),
    url('JF-Flat-regular.svg#JF Flat Regular') format('svg'),
    url('JF-Flat-regular.woff') format('woff'),
    url('JF-Flat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'Al_Jazeera_Light';
    src: url('Al-Jazeera-Arabic-Light.eot?#iefix') format('embedded-opentype'),
	url('Al-Jazeera-Arabic-Light.woff') format('woff'),
	url('Al-Jazeera-Arabic-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: lighter;
}

@font-face {
    font-family: 'Al_Jazeera_Bold';
    src: url('Al-Jazeera-Arabic-Bold.eot?#iefix') format('embedded-opentype'),
	url('Al-Jazeera-Arabic-Bold.woff') format('woff'),
	url('Al-Jazeera-Arabic-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: 'GE_FLOW_Light';
	src: url('ge-flow-regular.eot');
	src: url('ge-flow-regular.eot?#iefix') format('embedded-opentype'),
	url('ge-flow-regular.svg#VIP Strick') format('svg'),
	url('ge-flow-regular.woff') format('woff'),
	url('ge-flow-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GE_FLOW_Bold';
	src: url('ge-flow-bold.eot');
	src: url('ge-flow-bold.eot?#iefix') format('embedded-opentype'),
	url('ge-flow-bold.svg#VIP Strick') format('svg'),
	url('ge-flow-bold.woff') format('woff'),
	url('ge-flow-bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}     

@font-face {
	font-family: 'GE_SS_Medium';
	src: url('ge-ss-med.ttf');
}

@font-face {
	font-family: 'Droid_Arabic_Naskh';
	src: url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.eot);
	src: url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.eot?#iefix) format('embedded-opentype'),
	url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.woff2) format('woff2'),
	url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.woff) format('woff'),
	url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.ttf) format('truetype');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Droid_Arabic_Kufi';
	src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.eot);
	src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'),
	url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.woff2) format('woff2'),
	url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.woff) format('woff'),
	url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.ttf) format('truetype');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Greta_Arabic_Regular';
    src: url('Greta_Arabic_Regular.eot');
	src: url('Greta_Arabic_Regular.eot?#iefix') format('embedded-opentype'),
	url('Greta_Arabic_Regular.woff') format('woff'),
	url('Greta_Arabic_Regular.otf') format('opentype');
}


@font-face {
	font-family: 'Helvetica_Regular';
	src: url('HelveticaNeueW23forSKY-Reg.eot');
	src: url('HelveticaNeueW23forSKY-Reg.eot?#iefix') format('embedded-opentype'),
	url('HelveticaNeueW23forSKY-Reg.woff') format('woff');
}

@font-face {
	font-family: 'Helvetica_Bold';
	src: url('HelveticaNeueW23forSKY-Bd.eot');
	src: url('HelveticaNeueW23forSKY-Bd.eot?#iefix') format('embedded-opentype'),
	url('HelveticaNeueW23forSKY-Bd.woff') format('woff');
}

@font-face{
	font-family: 'Palatino';
	src: url('palatino.eot');
	src: url('palatino.eot#iefix') format('embedded-opentype'),
	url('palatino.woff') format('woff'),
	url('palatino.ttf') format('truetype'),
	url('palatino.svg') format('svg');
}

@font-face {
    font-family: 'Janna';
    src: url('JannaLT-Regular.eot');
    src: url('JannaLT-Regular.eot?#iefix') format('embedded-opentype'),
	url('JannaLT-Regular.woff') format('woff'),
	url('JannaLT-Regular.ttf') format('truetype'),
	url('JannaLT-Regular.svg#JannaLT-Regular') format('svg');
}

@font-face {
    font-family: 'DINRegular';
    src: url('dinnextregular.eot');
    src: url('dinnextregular.eot?#iefix') format('embedded-opentype'),
    url('dinnextregular.woff') format('woff'),
    url('dinnextregular.ttf') format('truetype'),
    url('dinnextregular.svg#DINNextLTW23Regular') format('svg');
}

@font-face {
    font-family: 'arb_regular';
    src: url('arb-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nassim';
    src: url('NassimArabicWeb-Regular.eot');
    src: url('NassimArabicWeb-Regular.eot?#iefix') format('embedded-opentype'),
    url('NassimArabicWeb-Regular.woff') format('woff'),
    url('NassimArabicWeb-Regular.ttf') format('truetype'),
}

/* same fonts above with different font-family name */

@font-face {
	font-family: 'font1';
	src: url('NeoSansArabic.eot');
	src: url('NeoSansArabic.eot?#iefix') format('embedded-opentype'),
	url('NeoSansArabic.woff') format('woff'),
	url('NeoSansArabic.ttf') format('truetype'),
	url('NeoSansArabic.otf') format('opentype'),
	url('NeoSansArabic.svg#NeoSansArabic-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FEFC;
}

@font-face {
	font-family: 'font2';
	src: url('DroidSansArabic.eot');
	src: url('DroidSansArabic.eot?#iefix') format('embedded-opentype'),
	url('DroidSansArabic.svg#Droid Sans Arabic') format('svg'),
	url('DroidSansArabic.woff') format('woff'),
	url('DroidSansArabic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'font3';
    src: url('JF-Flat-regular.eot');
    src: url('JF-Flat-regular.eot?#iefix') format('embedded-opentype'),
    url('JF-Flat-regular.svg#JF Flat Regular') format('svg'),
    url('JF-Flat-regular.woff') format('woff'),
    url('JF-Flat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'font4';
    src: url('Al-Jazeera-Arabic-Light.eot?#iefix') format('embedded-opentype'),
	url('Al-Jazeera-Arabic-Light.woff') format('woff'),
	url('Al-Jazeera-Arabic-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: lighter;
}

@font-face {
    font-family: 'font5';
    src: url('Al-Jazeera-Arabic-Bold.eot?#iefix') format('embedded-opentype'),
	url('Al-Jazeera-Arabic-Bold.woff') format('woff'),
	url('Al-Jazeera-Arabic-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: 'font6';
	src: url('ge-flow-regular.eot');
	src: url('ge-flow-regular.eot?#iefix') format('embedded-opentype'),
	url('ge-flow-regular.svg#VIP Strick') format('svg'),
	url('ge-flow-regular.woff') format('woff'),
	url('ge-flow-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'font7';
	src: url('ge-flow-bold.eot');
	src: url('ge-flow-bold.eot?#iefix') format('embedded-opentype'),
	url('ge-flow-bold.svg#VIP Strick') format('svg'),
	url('ge-flow-bold.woff') format('woff'),
	url('ge-flow-bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}     

@font-face {
	font-family: 'font8';
	src: url('ge-ss-med.ttf');
}

@font-face {
	font-family: 'font9';
	src: url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.eot);
	src: url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.eot?#iefix) format('embedded-opentype'),
	url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.woff2) format('woff2'),
	url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.woff) format('woff'),
	url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.ttf) format('truetype');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'font10';
	src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.eot);
	src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'),
	url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.woff2) format('woff2'),
	url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.woff) format('woff'),
	url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.ttf) format('truetype');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'font11';
	src: url('Greta_Arabic_Regular.eot');
	src: url('Greta_Arabic_Regular.eot?#iefix') format('embedded-opentype'),
	url('Greta_Arabic_Regular.woff') format('woff'),
	url('Greta_Arabic_Regular.otf') format('opentype');
}


@font-face {
	font-family: 'font12';
	src: url('HelveticaNeueW23forSKY-Reg.eot');
	src: url('HelveticaNeueW23forSKY-Reg.eot?#iefix') format('embedded-opentype'),
	url('HelveticaNeueW23forSKY-Reg.woff') format('woff');
}

@font-face {
	font-family: 'font13';
	src: url('HelveticaNeueW23forSKY-Bd.eot');
	src: url('HelveticaNeueW23forSKY-Bd.eot?#iefix') format('embedded-opentype'),
	url('HelveticaNeueW23forSKY-Bd.woff') format('woff');
}

@font-face{
	font-family: 'font14';
	src: url('palatino.eot');
	src: url('palatino.eot#iefix') format('embedded-opentype'),
	url('palatino.woff') format('woff'),
	url('palatino.ttf') format('truetype'),
	url('palatino.svg') format('svg');
}

@font-face {
    font-family: 'font15';
    src: url('JannaLT-Regular.eot');
    src: url('JannaLT-Regular.eot?#iefix') format('embedded-opentype'),
	url('JannaLT-Regular.woff') format('woff'),
	url('regular/JannaLT-Regular.ttf') format('truetype'),
	url('regular/JannaLT-Regular.svg#JannaLT-Regular') format('svg');
}

@font-face {
    font-family: 'font16';
    src: url('dinnextregular.eot');
    src: url('dinnextregular.eot?#iefix') format('embedded-opentype'),
    url('dinnextregular.woff') format('woff'),
    url('dinnextregular.ttf') format('truetype'),
    url('dinnextregular.svg#DINNextLTW23Regular') format('svg');
}

@font-face {
    font-family: 'font17';
    src: url('arb-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'font18';
    src: url('NassimArabicWeb-Regular.eot');
    src: url('NassimArabicWeb-Regular.eot?#iefix') format('embedded-opentype'),
    url('NassimArabicWeb-Regular.woff') format('woff'),
    url('NassimArabicWeb-Regular.ttf') format('truetype'),
}

.font1 { font-family: 'font1' !important; }
.font2 { font-family: 'font2' !important; }
.font3 { font-family: 'font3' !important; }
.font4 { font-family: 'font4' !important; }
.font5 { font-family: 'font5' !important; }
.font6 { font-family: 'font6' !important; }
.font7 { font-family: 'font7' !important; }
.font8 { font-family: 'font8' !important; }
.font9 { font-family: 'font9' !important; }
.font10 { font-family: 'font10' !important; }
.font11 { font-family: 'font11' !important; }
.font12 { font-family: 'font12' !important; }
.font13 { font-family: 'font13' !important; }
.font14 { font-family: 'font14' !important; }
.font15 { font-family: 'font15' !important; }
.font16 { font-family: 'font16' !important; }
.font17 { font-family: 'font17' !important; }
.font17 { font-family: 'font18' !important; }