/* basic */
.slider { position: relative; background: #303030; }
.slider-title { position: absolute; top: 10px; right: 10px; padding: 2px 10px; z-index: 100; background: rgba(0,0,0,0.8); color: #FFFFFF; filter: alpha(opacity=70); opacity: 0.7; display: none; }
.slider .slide-link, .slider .thumb { background-size: cover; background-position: center center; }
.slider .thumb { position: relative; }
.slider h2, .slider h3 { margin: 0px; }
.slider img { width: 100% !important; height: 100% !important; }
.slider-loading-wrapper { position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; }
.slider-loading-filter { position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; filter: alpha(opacity=70); opacity:0.7; background: #000000; }
.slider-loading-img { position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; background: url('../img/loading2.gif') no-repeat center center; }
.slides-wrapper { position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; overflow: hidden; }
/* bullets */
.jssorb01 { position: absolute; top: 10px; left: 10px; }
.jssorb01 div { width: 12px; height: 12px; filter: alpha(opacity=70); opacity: 0.7; overflow: hidden; cursor: pointer; background: rgba(255,255,255,0.8); border: 1px solid rgba(0,0,0,0.8); }
/* arrows */
.jssora05r, .jssora05l, .owl-prev, .owl-next { position: absolute; top: -webkit-calc(50% - 35px); top: calc(50% - 35px); display: block !important; width: 40px; height: 70px; background-color: rgba(0,0,0,0.6); background-image: url('../img/arrow2.png'); background-repeat: no-repeat; overflow: hidden; cursor: pointer; z-index: 10; opacity: 0.7; }
.jssora05r, .owl-prev { right: 0px; background-position: -173px center; }
.jssora05l, .owl-next { left: 0px; background-position: 5px center; }
.jssora05r:hover, .owl-next:hover, .jssora05l:hover, .owl-prev:hover { opacity: 1; }
/* thumbs */
.jssort11 { position: absolute; top: 0px; left: 0px; bottom: 0px; width: 250px; background: #222222; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; visibility: hidden !important; }
.jssort11 .p { position: absolute; width: 100%; height: 70px; cursor: pointer; box-shadow: 0px 2px 2px -2px rgba(0,0,0,0.9) inset; }
.jssort11, .jssort11 a { color: #FFFFFF !important; }
.jssort11 .pav { box-shadow: none !important; }
.jssort11 .tp { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; padding: 10px; border: none; }
.jssort11 .tp h3 { height: 50px; line-height: 25px; overflow: hidden; }
.jssort11 img { float: right; margin-left: 10px; margin-top: -5px; margin-bottom: -5px; width: 50px !important; height: 70px !important; border: 1px solid rgba(0,0,0,0.8); }
/* content */
.slider > .jssor-slider > div { right: 0px; }
.slide { width: 100%; height: 100%; }
.slide-text { position: absolute; right: 45px; bottom: 20px; left: 45px; background: rgba(0,0,0,0.8); }
.slide-text .title, .slide-text .summary { padding: 10px; }
.slide-text .title + .summary { border-top: 1px solid rgba(255,255,255,0.1); }
.slide-text-2 a { display: block; padding: 10px; }
.slide-text-2 h3 { height: 75px; line-height: 25px; overflow: hidden; }
.slide-text a, .slide-text a:hover, .slide-text a:focus { color: #FFFFFF !important; }
.slide-link { position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; }
.slide-link, .slide-link:hover, .slide-link:focus { color: #FFFFFF !important; }
/* styles */
.slider.style1 .slider-wrapper { height: 300px; }
.slider.style2 .slider-wrapper { height: 250px; }
.slider.style2 .slide-text, .slider.style7 .slide-text { right: 0px; bottom: 0px; left: 0px; }
.slider.style3 .slider-wrapper, .slider.style4 .slider-wrapper { height: 420px; }
.slider.style3 .slides-wrapper, .slider.style4 .slides-wrapper { left: 250px; border-left: 1px solid #111111; }
.slider.style3 .jssort11 .p, .slider.style4 .jssort11 .p { width: 250px; }
.slider.style3 .jssorb01, .slider.style4 .jssorb01 { left: 261px; }
.slider.style3 .jssora05l, .slider.style4 .jssora05l { left: 251px; }
.slider.style4 .thumb { float: left; margin-right: 10px; width: 50px; height: 50px; }
.slider.style5 .slider-wrapper { height: 400px; }
.slider.style5 .slides-wrapper, .slider.style6 .slides-wrapper { height: 300px; border-bottom: 1px solid #111111; }
.slider.style5 .jssort11, .slider.style6 .jssort11 { top: auto; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100px; overflow: hidden; }
.slider.style6 .slider-wrapper { height: 452px; }
.slider.style6 .jssort11 { top: auto; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 152px; overflow: hidden; }
.slider.style5 .jssort11 .p, .slider.style6 .jssort11 .p { width: 20%; height: 100px; box-shadow: 2px 0px 2px -2px rgba(0,0,0,0.9) inset; }
.slider.style6 .jssort11 .p { height: 152px; }
.slider.style5 .jssort11 .p h3, .slider.style6 .jssort11 .p h3 { height: 80px; }
.slider.style6 .jssort11 img { margin: 0px; width: 100% !important; height: 100% !important; }
.slider.style6 .jssort11 .tp { padding: 5px; }
.slider.style6 .jssort11 .p h3 { position: absolute; right: 5px; bottom: 5px; left: 5px; padding: 10px; height: auto; background: rgba(0,0,0,0.8); }
.slider.style6 .thumb { position: absolute; top: 5px; right: 5px; bottom: 5px; left: 5px; }
/* owl slider */
.slider.style7 { background: #FFFFFF; }
.slider.style7 .jssora05r, .slider.style7 .jssora05l, .slider.style7 .owl-prev, .slider.style7 .owl-next { background-color: transparent; top: 10px; }
.slider.style7 .slider-wrapper { height: auto; }
.owl-carousel .animated { -webkit-animation-duration: 1000ms; animation-duration: 1000ms; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.owl-carousel .owl-animated-in { z-index: 0; }
.owl-carousel .owl-animated-out { z-index: 1; }
.owl-carousel .fadeOut { -webkit-animation-name: fadeOut; animation-name: fadeOut; }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
.owl-height { -webkit-transition: height 500ms ease-in-out; -moz-transition: height 500ms ease-in-out; -ms-transition: height 500ms ease-in-out; -o-transition: height 500ms ease-in-out; transition: height 500ms ease-in-out; }
.owl-carousel { position: relative; width: 100%; -webkit-tap-highlight-color: transparent; z-index: 1; display: none; }
.owl-carousel .owl-stage { position: relative; -ms-touch-action: pan-Y; }
.owl-carousel .owl-stage:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.owl-carousel .owl-stage-outer { position: relative; overflow: hidden; -webkit-transform: translate3d(0px, 0px, 0px); }
.owl-carousel .owl-controls .owl-nav .owl-prev, .owl-carousel .owl-controls .owl-nav .owl-next, .owl-carousel .owl-controls .owl-dot { cursor: pointer; cursor: hand; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.owl-carousel.owl-loaded { display: block; }
.owl-carousel.owl-loading { opacity: 0; display: block; }
.owl-carousel.owl-hidden { opacity: 0; }
.owl-carousel .owl-refresh .owl-item { display: none; }
.owl-carousel .owl-item { float: right; position: relative; min-height: 1px; -webkit-backface-visibility: hidden; -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; -webkit-user-select: none;-moz-user-select: none; -ms-user-select: none; user-select: none; }
.owl-carousel .owl-item { background: #F2F2F2; }
.owl-carousel .owl-item:hover { background: #EEEEEE; }
.owl-carousel .owl-item img { display: block; width: 100%; height: auto !important; }
.owl-carousel.owl-text-select-on .owl-item { -webkit-user-select: auto; -moz-user-select: auto; -ms-user-select: auto; user-select: auto; }
.owl-carousel .owl-grab { cursor: move; cursor: -webkit-grab; cursor: -o-grab; cursor: -ms-grab; cursor: grab; }
.no-js .owl-carousel { display: none; }
.owl-carousel .owl-item .owl-lazy { opacity: 0; -webkit-transition: opacity 400ms ease; -moz-transition: opacity 400ms ease; -ms-transition: opacity 400ms ease; -o-transition: opacity 400ms ease; transition: opacity 400ms ease; }