/*
Copyrights © Arb4Host Network
/*
Template: starnews
Theme Name: elrdar2016
Theme URI: http://www.arb4host.net/
Author: Arb4Host Network
Author URI: http://www.arb4host.net/
Version: 2016
*/
@import url("../starnews/style.css");



@font-face {
  font-family: 'elrdar-Bold';
  src: url('elrdar-bold.eot') format('embedded-opentype'),
  url('elrdar-bold.woff') format('woff'),
  url('elrdar-bold.ttf')  format('truetype'), 
  url('elrdar-bold.svg#elrdar-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'elrdar-light';
  src: url('elrdar-light.eot') format('embedded-opentype'),
  url('elrdar-light.woff') format('woff'),
  url('elrdar-light.ttf')  format('truetype'), 
  url('elrdar-light.svg#elrdar-light') format('svg');
  font-weight: normal;
  font-style: normal;
}



@media (min-width: 62em) {
	.main, #sidebar-header > div, #sidebar-above_footer > div { border-radius: 2px; }
}


.site-header { margin-bottom: 20px; }
.site-footer { margin-top: 20px; background-color: #1E2023; }

.site-header .lvl-1 { background-size: auto !important; background-position: top center; }
.site-header .lvl-2 { box-shadow: 0px 5px 3px -3px rgba(0,0,0,0.2) inset; background-color: #252b36; }

.el-post-header { margin: -20px; margin-bottom: 20px; padding: 20px; box-shadow: 0px 0px 3px inset #EEEEEE; }
.el-post-header + .main #ad_16 { margin-top: 0px; }
.el-post-header .post-meta { margin-bottom: 0px; }

.main-navigation .sub-menu { box-shadow: 0px 0px 3px rgba(0,0,0,0.5); }
.main-navigation .menu > li { margin-left: 2px; }
.main-navigation .menu > li, .main-navigation .menu > li:hover { margin-top: 0px; }
.main-navigation .menu > li > a { border-radius: 2px; }
.main-navigation .menu > li.menu-item-has-children:hover > a { border-radius: 2px 2px 0px 0px; }
.main-navigation .menu > li > a, .main-navigation .menu > li:hover > a { padding: 10px; }



.main-navigation .menu > li:hover > a, .main-navigation .menu > li.current-menu-item > a, .main-navigation .menu > li.current-menu-ancestor > a, .main-navigation .menu > li.current-menu-parent > a, .main-navigation .menu > li.current-post-parent > a, .main-navigation .menu > li.current-post-ancestor > a, .main-navigation .menu > li.current-page-parent > a, .main-navigation .menu > li.current-page-parent > a { background-color: rgba(0,0,0,0.4); color: #FFFFFF !important; box-shadow: 0px 0px 3px rgba(0,0,0,0.8) inset; }
	
	



.entry-content { line-height: 2; }

.entry-content h1, .entry-content h2, .entry-content h3 { padding: 5px 20px; display: inline-block; clear: both; background: #fcf0d9; border-top: 1px solid #beb9b9; }


.header-time { display: inline-block; padding: 6px 10px; background: rgba(0,0,0,0.4); border-radius: 2px; }

#sidebar-header { border-bottom: none; }
#sidebar-header > div { padding-top: 20px; }
#sidebar-above_footer { margin-bottom: 20px; border-top: none; }
#sidebar-above_footer > div { padding-top: 20px; }
.main { margin-bottom: 20px; padding-top: 20px; }
.main, #sidebar-header > div, #sidebar-above_footer > div { background: #FFFFFF; box-shadow: 0px 0px 20px rgba(0,0,0,0.2); }

.entry-content { max-width: 728px; }

/* widgets */



.posts { background: transparent; }
.posts ul li.item > a:hover { background-color: #F5F5F5; }

@media (min-width: 768px) {
.footer-navigation { float: left; margin-right: 20px; }
.posts.style1 ul li.item { min-width: 250px; }
.posts.style3 ul li.item, .posts.style4 ul li.item { min-width: 200px; }
}

.mobile-menu .social-links ul li { margin: 10px; }


.posts-list-meta { position: absolute; bottom: 100%; right: -1px; left: -1px; padding: 5px 10px; border: 1px solid #DDDDDD; background: #F8F8F8; z-index: 200; display: none; }
.posts-list-meta .post-meta { margin: 0px; padding: 0px; }
.posts-list-meta .post-meta, .posts-list-meta .post-meta a { color: #555555 !important; }
.article:hover .posts-list-meta { display: block; }

.page-header h1 { padding-bottom: 10px; }


.slide-text { left: 0px; right: 0px; bottom: 0px; }
.posts.style4 ul li.item .thumb-wrap + .title, .slider .slide-text, .posts ul li.heading.style2 .thumb-wrap + .title { background: transparent; z-index: 30; }
.posts.style4 ul li.item .thumb-wrap::after, .slider .slide-link::after, .posts ul li.heading.style2 .thumb-wrap::after { content: ""; position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.9)); z-index: 10; }
.posts.style4 ul li.item a:hover .thumb-wrap, .posts ul li.heading.style2 a:hover .thumb-wrap { opacity: 1; }


.slider-2nd-posts .posts { margin: 0px !important; }
.slider-2nd-posts .posts li:not(:empty) { margin-bottom: 20px; height: 190px; }
.slider-2nd-posts .posts li:not(:empty) > a { display: flex !important; margin: 0px !important; border: none !important; }
.slider-2nd-posts .posts li:not(:empty) img { max-height: 100%; }


.slider.style1 .slider-wrapper { height: 400px; }

.el-post-cat-link { display: inline-block; clear: both; margin-bottom: 5px; padding: 2px 10px; }


.slider-3rd-posts .posts { height: 353px; overflow-y: scroll; }
.slider-3rd-posts .widget-title { text-align: center; }

.posts.style1 ul li:not(:empty), .posts.style2 ul li:not(:empty) { border-bottom: 3px solid #EEEEEE; }

.posts.style5 ul li:not(:empty) > a { margin: 0px !important; border: none !important; border-bottom: 1px solid rgba(0,0,0,0.1) !important; }
.posts.style5 ul li .posts_b4_post_title { margin-bottom: 5px; }
.posts.style5 ul li .posts_b4_post_title .el-post-cat-link { float: right; background: #FFFFFF !important; color: #333333 !important; border: 1px solid #E6C56C; }
.posts.style5 ul li .posts_b4_post_title .el-post-date { float: left; padding: 2px 0px; }


.widget-with-border { border-width: 5px 15px 15px 15px; border-style: solid; }
.widget-with-border .widget-title, .widget .title-tabs { margin-bottom: 0px; }
.widget-with-border .widget-title h3:not(.tab) { padding: 10px 0px; }

.widget-with-top-border { border-top-width: 10px; border-top-style: solid; }
.widget-with-top-border .widget-title, .widget-with-top-border .title-tabs { margin-bottom: 2px; background-color: transparent !important; border-bottom: 1px solid #EEEEEE !important; }
.widget-with-top-border .widget-title h3:not(.tab) { padding: 10px; }
.widget-with-top-border .widget-title, .widget-with-top-border .widget-title a, .widget-with-top-border .title-tabs li a, .widget-with-top-border .widget-title a:hover, .widget-with-top-border .title-tabs li a:hover { color: #333333 !important; }


.posts.style4.style6 ul li.item > a { border-color: rgba(0,0,0,0.9); }


.posts.style4.style6 ul li.has-video .thumb-wrap::before { top: 10px; right: 10px; padding: 10px 15px; background: rgba(0,0,0,0.8); border-radius: 2px; }

.widget-first-thumb-only .posts ul li:nth-child(n+2) .thumb-wrap { display: none; }


.archive-style-3 .posts-list .article .thumb-wrap + .entry-title { position: absolute; right: 12px; bottom: 12px; left: 12px; padding: 4px 10px; background: rgba(0,0,0,0.7); }
.archive-style-3 .posts-list .article .thumb-wrap + .entry-title a { color: #FFFFFF; }


.loop-cat, .loop-cat:hover, .loop-cat:focus { position: absolute; top: 12px; right: 12px; background: #bc0909; color: #FFFFFF; padding: 2px 10px; }


.owl-carousel .owl-item { box-shadow: 0px 0px 3px rgba(0,0,0,0.4) inset; text-align: center; }

#mobile-button { order: 3; }
.main-navigation-outer { order: 2; }

.site-header .lvl-2 .wrap { padding-top: 5px; padding-bottom: 5px; }
.lvl-2-widget-outer { max-width: 60%; }
.lvl-2-widget-outer .ticker { background-color: rgba(0,0,0,0.4); }
.lvl-2-widget-outer .ticker .ticker-title { background-color: transparent; border-left: 1px solid rgba(255,255,255,0.2); }

.site-footer { background: transparent; }
.site-footer .social-links li a, .site-footer .social-links li a:hover { background: transparent !important; }
.site-footer.light, .site-footer.light a { color: #666666 !important; }
.site-footer.light a:hover { color: #333333 !important; }


.el-menu-more > a { cursor: pointer; }
.el-menu-more > a::after { display: none; }
.main-navigation .el-menu-more > a { padding: 5px !important; }
.main-navigation .el-menu-more a span span { display: none; }
.mobile-navigation .el-menu-more > a i { display: none; }

.main-navigation .el-menu-more .nav-menu { right: auto; left: -5px; }

.el-cr-text { margin-bottom: 20px; }

.el-footer-navigation { margin-bottom: 10px; }
.el-footer-navigation ul { margin: 0px; padding: 0px; list-style: none; }
.el-footer-navigation li { display: inline-block; padding: 0px 10px 10px 10px; }




.el-widget-title-style .widget-title, .site-content .widget-title { margin-top: 20px; margin-bottom: 20px; }
.el-widget-title-style .widget-title h3, .site-content .widget-title h3 { flex-grow: 0; margin: -6px 12px; padding: 10px 15px; }
.el-widget-title-style .widget-title:not(.title-tabs) h3, .site-content .widget-title h3, .el-widget-title-style .widget-title.title-tabs li.ui-state-active h3, .el-widget-title-style .widget-title .cat-arrow { background: #5072B1; }


.el-widget-title-style .widget-title:not(.title-tabs) h3::before, .el-widget-title-style .widget-title:not(.title-tabs) h3::after, .site-content .widget-title h3::before, .site-content .widget-title h3::after, .el-widget-title-style .widget-title.title-tabs li.ui-state-active h3::before, .el-widget-title-style .widget-title.title-tabs li.ui-state-active h3::after { content: ""; position: absolute; top: 0px; border: 6px solid; border-color: transparent !important; border-bottom: none; }


.el-widget-title-style .widget-title:not(.title-tabs) h3 span::before, .el-widget-title-style .widget-title:not(.title-tabs) h3 span::after, .site-content .widget-title h3 span::before, .site-content .widget-title h3 span::after, .el-widget-title-style .widget-title.title-tabs li.ui-state-active h3 span::before, .el-widget-title-style .widget-title.title-tabs li.ui-state-active h3 span::after { content: ""; position: absolute; bottom: 0px; border: 6px solid; border-color: transparent !important; border-top: none; }

.el-widget-title-style .widget-title:not(.title-tabs) h3::before, .site-content .widget-title h3::before, .el-widget-title-style .widget-title.title-tabs li.ui-state-active h3::before { right: -12px; border-left-color: #444444 !important; }
.el-widget-title-style .widget-title:not(.title-tabs) h3::after, .site-content .widget-title h3::after, .el-widget-title-style .widget-title.title-tabs li.ui-state-active h3::after { left: -12px; border-right-color: #444444 !important; }

.el-widget-title-style .widget-title:not(.title-tabs) h3 span::before, .site-content .widget-title h3 span::before, .el-widget-title-style .widget-title.title-tabs li.ui-state-active h3 span::before { right: -12px; border-left-color: #444444 !important; }
.el-widget-title-style .widget-title:not(.title-tabs) h3 span::after, .site-content .widget-title h3 span::after, .el-widget-title-style .widget-title.title-tabs li.ui-state-active h3 span::after { left: -12px; border-right-color: #444444 !important; }


.el-widget-title-style .title-tabs li.ui-state-active { margin-top: 0px; }
.el-widget-title-style .title-tabs li.ui-state-active a { background: transparent !important; color: #FFFFFF !important; }
.el-widget-title-style .title-tabs li h3.tab a { padding: 0px; }


.widget-title { border-radius: 0px; }
.cat-arrow { border-radius: 0px 0px 0px 0px; }
.cat-arrow::before { margin-left: 10px; display: block; }

.widget_sn_cat_posts .single-cat-link { display: none; }


.posts-list-meta { position: absolute; bottom: 100%; right: -1px; left: -1px; padding: 5px 10px; border: 1px solid #DDDDDD; background: #F8F8F8; z-index: 200; display: none; }
.posts-list-meta .post-meta { margin: 0px; padding: 0px; }
.posts-list-meta .post-meta, .posts-list-meta .post-meta a { color: #555555 !important; }
.article:hover .posts-list-meta { display: block; }




.font-resizer { margin-bottom: 20px; padding: 5px 10px; background: #EEEEEE; border: 1px solid #DDDDDD; clear: both; font: bold 20px/1.5 tahoma !important; }
.font-resizer ul { margin: 0px; padding: 0px; list-style: none; }
.font-resizer ul li { display: inline-block; vertical-align: bottom; }
.font-resizer ul li a { display: inline-block; margin: 0px 2px; padding: 0px 6px; border: 1px solid #333333; border-radius: 2px; }
.font-resizer ul li a.active { color: #b3002d; border-color: #b3002d; }
.font-resizer ul li:nth-child(1)::before { content: "حجم الخط "; margin-left: 20px; display: none; }
.font-resizer ul li:nth-child(1) { font-size: 14px; }
.font-resizer ul li:nth-child(2) { font-size: 16px; }
.font-resizer ul li:nth-child(3) { font-size: 18px; }

.font-sizer_share-buttons { float: left; }