/* D-SHARE CSS INTEGRATION */
.nowrap {
    white-space: nowrap;
}

/* new blockquote style */
blockquote { 
	float: right;
	width: 45%;
	margin: 8px 0 10px 30px;
	margin-right: -53px;

	font: 600 italic 36px/110% Gibson,sans-serif;
}
blockquote:after {
	clear: both;
}

/* re-defines the square images 

non va bene perché è troppo generico e sovrascrive lo stile di tutti i box nell'aside, renderlo più specifico qualora serva (con un id o classe specifica)

ul.news-list li > .image.squared span {
    position: relative;
    overflow: hidden;
    width: 81px;
    height: 81px;
    box-sizing: border-box;
}
ul.news-list li > .image.squared span img {
    height: 81px !important;
    width: auto  !important;
    left: -50%;
}
*/

/* patch per utilizzo miniature 120x80 per immagini squared */
.article.has-image .image.squared.squared-center img {
	width: auto;
	margin-left: -25%;
}
.article.has-image .image.squared.squared-center {
	width: 80px;
}


/* patch commenti gigya nelle sezioni media */
body.media .gig-composebox-open .gig-composebox-textarea,
body.media .gig-composebox-share-text {
    color: #000000 !important;
}


/* patch per icone foto e video su apertura articolo */
.main-article-content .extra{position: relative}
.article-image.has-media.has-video .image:after, .article-image.has-media.has-photo .image:after, .extra.has-media.has-photo .image:after, .extra.has-media.has-video .image:after{content:"\f030";font:16px/100% FontAwesome;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-indent:0;position:absolute;background:rgba(58, 61, 67, 0.7);border:2px solid rgba(255, 255, 255, 0.3);border-radius:100%;z-index:1;color:#fff;text-align:center;text-shadow:0px 1px 0px rgba(0, 0, 0, 0.6);box-sizing:border-box;}
.article-image.has-media.has-video .image:after, .extra.has-media.has-video .image:after{content:"\f04b";padding-left:4px;}
.article-image.has-media.has-video .image:after, .article-image.has-media.has-photo .image:after, .extra.has-media.has-video .image:after, .extra.has-media.has-photo .image:after{width:70px;height:70px;font-size:38px;line-height:70px !important;bottom:20px;right:20px;}
.article-image.has-media.has-has-photo .image:after, .extra.has-media.has-photo .image:after{content:"\f030";padding-left:4px;}


/* patch video inplace */
.video_inplace .close_inplace:after{content:"\f00d";font:16px/100% FontAwesome;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-indent:0;position:absolute;top:5px;font-size:16px;height:40px;line-height:38px !important; right: 5px; width: 40px; color: #fff;text-shadow:0px 1px 0px rgba(0, 0, 0, 0.6); font-size: 26px; z-index: 100}
.video_inplace {position: absolute; top: 0;left: 0; z-index: 2;}


/* patch video player width in dettaglio video */
.main-article-video .sn-videoplayer, .main-article-video .sn-videoplayer img {
	width: 100%;
}

.article .image img.nocreased {
  height: auto !important;
}


li.noPaddingArchivioEditoriale {   padding-left: 0px; min-height: 0px; }

.noStrech {
	overflow:hidden;
	width:168px;
}
.noStrech img {
    width: auto !important;
}

/* patch poll hp squared images */
.poll-area .answers li.has-image label span.poll-image {
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.poll-area .answers li.has-image label .poll-image img {
    position: relative;
    width: 88px;
    margin-left: -19px;
}