@charset "UTF-8";
/* CSS Document createtd by the A5 Plugin Framework */

/* CSS portion of the Featured Post Widget */

div.widget_featured_post_widget[id^="featured_post_widget"] ,
li.widget_featured_post_widget[id^="featured_post_widget"] ,
aside.widget_featured_post_widget[id^="featured_post_widget"] ,
section.widget_featured_post_widget[id^="featured_post_widget"]  {
	-moz-hyphens: auto;
	-o-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}
div.widget_featured_post_widget[id^="featured_post_widget"] img,
li.widget_featured_post_widget[id^="featured_post_widget"] img,
aside.widget_featured_post_widget[id^="featured_post_widget"] img,
section.widget_featured_post_widget[id^="featured_post_widget"] img {
	height: auto;
	max-width: 100%;
}
