/*
#INDEED_TEMPLATES#
{
    "ism_template_31" : "(#31) Split Box (MEGA pack) ",
    "ism_template_32" : "(#32) Sliding Effect (MEGA pack) ",
	"ism_template_33" : "(#33) Bottom Counts (MEGA pack) ",
	"ism_template_34" : "(#34) Rotate&Tooltip (MEGA pack) ",
	"ism_template_35" : "(#35) Switching (MEGA pack) ",
	"ism_template_36" : "(#36) On/Off (MEGA pack) ",
	"ism_template_37" : "(#37) Grow Shadow (MEGA pack) ",
	"ism_template_38" : "(#38) Gray Colored (MEGA pack) ",
	"ism_template_39" : "(#39) Vertical Speciality (MEGA pack) ",
	"ism_template_40" : "(#40) Shutter Color (MEGA pack) ",
	"ism_template_41" : "(#41) Uncover Button (MEGA pack) ",
	"ism_template_42" : "(#42) Mega 3D Box (MEGA pack) ",
	"ism_template_43" : "(#43) Tiny 3D Clicking (MEGA pack) ",
	"ism_template_44" : "(#44) Slide Out Counts (MEGA pack) ",
	"ism_template_45" : "(#45) Pressable Icons (MEGA pack) "
}
#INDEED_TEMPLATES#
*/




/*Template 31*/
.ism_template_31{
}

.ism_template_31 .ism_item{
	padding:0px;
	padding-right:0px;
	transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	position:relative;
}
.ism_template_31 .ism-align-vertical .ism_item{
	margin:0px;
}
.ism_template_31 .fa-ism{
	width:36px;
	height:36px;
	text-align:center;
	background-color:rgba(0,0,0,0.2);
	border-right:1px solid rgba(0,0,0,0.3);
	line-height:36px;
	font-size:20px;
	position:relative;
	overflow:hidden;
}
.ism_template_31 .fa-ism:before,.ism_template_31 .fa-ism:after{
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	position:relative;
}
.ism_template_31 .fa-ism:after{
	display:block;
	left:-100%;
	position:absolute;
}
.ism_template_31 .fa-ism:before{
	left:0px;
	position:relative;
}
.ism_template_31 .ism_share_label{
	line-height:36px;
	padding-right:0px;
	margin-left:0px;
	padding-left:6px;
	padding-right:10px;
	border-left:1px solid rgba(255,255,255,0.2);
}
.ism_template_31 .ism_share_counts{
	line-height:36px;
	margin-left:0px;
	padding-right:5px;
}
.ism_template_31 .ism_item:hover .fa-ism{
	background-color:rgba(255,255,255,0.1);
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.ism_template_31 .ism_item:hover .fa-ism:before{
	left:100%;
	position:absolute;
}
.ism_template_31 .ism_item:hover .fa-ism:after{
	left:0px;
	position:relative;
}
.ism_template_31 .isf_sublabel_fe{
	margin-left:5px;
	line-height:32px;
}
.fa-hackernews-ism:before, .fa-hackernews-ism:after { 
	content: "\f1d4"; 
}
.fa-ymail-ism:before, .fa-ymail-ism:after { 
	content: "\f19e"; 
}
.fa-gmail-ism:before, .fa-gmail-ism:after { 
	content: "\f0e0"; 
}


/*Template 32*/
.ism_template_32{
}
.ism_template_32 .ism_item{
	padding:0px;
	padding-right:0;
	transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	position:relative;
	margin: 0px;
	margin-right:5px;
	width:36px;
	overflow:hidden;
	height:36px;
	transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	text-align: left;
}
.ism_template_32 .ism-align-horizontal .ism_item{
	margin-bottom:5px;
}
.ism_template_32 .fa-ism{
	width:36px;
	height:36px;
	text-align:center;
	background-color:rgba(0,0,0,0.2);
	border-right:1px solid rgba(0,0,0,0.1);
	line-height:36px;
	font-size:20px;
	position:relative;
	overflow:hidden;
}
.ism_template_32 .fa-ism:before,.ism_template_32 .fa-ism:after{
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	position:relative;
}

.ism_template_32 .ism_share_label{
	line-height:36px;
	padding-right:0px;
	margin-left:0px;
	padding-left:3px;
	border-left:1px solid rgba(255,255,255,0.2);
	width:75px;
	overflow:hidden;

}
.ism_template_32 .ism_share_counts{
	line-height:36px;
	width:24px;	
	margin-left:4px;
}
.ism_template_32 .ism_item:hover .fa-ism{
	width:45px;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}

.ism_template_32 .ism_item:hover {
	width:165px; 
	border-radius:0 36px 36px 0;
	padding-right:10px;	
	transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
}
.ism_template_32 .isf_sublabel_fe{
	margin-left:5px;
	line-height:32px;
}

/*Template 33*/
.ism_template_33{
}
.ism_template_33 .ism_item_wrapper{
	vertical-align:top;
}

.ism_template_33 .ism_item{
	padding:0px;
	position:relative;
	margin: 0px;
	margin-right:5px;
	margin-bottom:18px;
	width:50px;
	overflow:hidden;
	position:relative; 
	height:43px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}
.ism_template_33 .ism_item:hover{
	overflow:visible;
}
.ism_template_33 .fa-ism{
	width:50px;
	height:42px;
	text-align:center;
	line-height:45px;
	font-size:23px;
	position:relative;
	overflow:hidden;
}
.ism_template_33 .fa-ism:before,.ism_template_33 .fa-ism:after{
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	position:relative;
}

.ism_template_33 .ism_share_label{
	position: absolute;
	left: -50%;
	right:-50%;
	top: -35px;
	opacity: 0;
	background-color: rgba(0,0,0,0.8);
	border-radius: 4px;
	color: #fff;
	font-size: 12px;
	line-height: 13px;
	padding: 5px 9px;
	text-align: center;
	z-index: 999999;
	transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
}
.ism_template_33 .ism_share_counts{
	line-height:14px;
	width:100%;
	font-size:13px;
	height:14px;
	text-align:center;	
}

.ism_template_33 .ism_item:hover {
	height:61px; 
	margin-bottom:0;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}
.ism_template_33 .ism_item:hover .ism_share_label{
	opacity: 1;
	z-index: 999999;
	top:-27px;
	
}
.ism_template_33 .isf_sublabel_fe{
	margin-left:5px;
	line-height:32px;
}


/*Template 34*/
.ism_template_34{
}
.ism_template_34 .ism_item_wrapper{
}

.ism_template_34 .ism_item{
	padding:0px;
	position:relative;
	margin: 0px;
	margin-right:5px;
	width:50px;
	overflow:hidden;
	position:relative; 
	height:45px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}
.ism_template_34 .ism-align-horizontal .ism_item{
	margin-bottom:5px;
	margin-right:0px;
}
.ism_template_34 .fa-ism{
	width:50px;
	height:45px;
	text-align:center;
	line-height:45px;
	font-size:26px;
	position:relative;
	overflow:hidden;
	background-color:rgba(0,0,0,0.2);
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}
.ism_template_34 .fa-ism:before,.ism_template_34 .fa-ism:after{
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	position:relative;
}
.ism_template_34 .fa-ism:before{
	top:0px;
}
.ism_template_34 .ism_item:hover .fa-ism:before{
	top:110%;
}
.ism_template_34 .ism_item:hover  .fa-ism{
	background-color:rgba(255,255,255,0.1);
}
.ism_template_34 .ism_share_label{
	position: absolute;
	left:75px;
	top: 7px;
	opacity: 0;
	height:30px;
	background-color: rgba(0,0,0,0.8);
	border-radius: 4px 4px 4px 4px;
	color: #fff;
	font-size: 14px;
	line-height: 30px;
	padding: 0px 9px;
	text-align: center;
	overflow:visible;
	z-index:999999;
	transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
}
.ism_template_34 .ism_share_label:before{
	width: 0px;
	height: 0px;
	content: "";
	position: absolute;
	left: -8px;
	top: 7px;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 8px solid rgba(0,0,0,0.8);
}
.ism_template_34 .ism_share_counts{
	margin:0px;
	padding:0px;
	height:45px;
	font-size:17px;
	line-height:35px;
	text-align:center;	
	position:absolute;
	overflow:hidden;
	top:-25px;
	left:0px;
	right:0px;
	opacity:0;
		transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}

.ism_template_34 .ism_item:hover .ism_share_counts{
	top:0px;	
	opacity:1;
}
.ism_template_34 .ism_share_counts:after{
	content:" Shares";
	width:50px;
	font-weight: 400;
	display: block;
	height:15px;
	font-size: 12px;
	margin-top: -20px;
}
.ism_template_34 .ism_item:hover{
	overflow:visible;
}
.ism_template_34 .ism_item:hover .ism_share_label{
	opacity: 1;
	left:48px;	
}
.ism_template_34 .isf_sublabel_fe{
	margin-left:5px;
	line-height:32px;
}

/*Template 35*/
.ism_template_35{
}
.ism_template_35 .ism_item{
	padding:0px;
	height:40px;
	transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	position:relative;
	margin:1px 3px 2px 0;
	border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
}
.ism_template_35 .fa-ism{
	width:40px;
	height:40px;
	text-align:center;
	background-color:rgba(0,0,0,0.2);
	border-right:1px solid rgba(0,0,0,0.3);
	line-height:40px;
	font-size:20px;
	position:relative;
	overflow:hidden;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}
.ism_template_35 .ism_item:hover .fa-ism{
	width:48px;
	margin-left:3px;
}
.ism_template_35 .ism_share_label{
	line-height:40px;
	padding-right:0px;
	margin-left:0px;
	padding-left:17px;
	padding-right:9px;
	min-width:70px;
	text-align:left;
	border-left:1px solid rgba(255,255,255,0.2);
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}
.ism_template_35 .ism_item:hover .ism_share_label{
	padding-left:6px;
	position:relative;
	padding-top:45px;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}
.ism_template_35 .ism_share_counts{
	line-height:40px;
	position:absolute;
	left:48px;
	top:-40px;
	padding-left:14px;
	margin-left:0px;
	text-align:left;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}
.ism_template_35 .ism_share_counts:after{
	content:" Shares";
	padding-left:4px;
	font-weight: 400;
}
.ism_template_35 .ism_item:hover .ism_share_counts{
	top:0px;
}
.ism_template_35 .isf_sublabel_fe{
	margin-left:5px;
	line-height:40px;
}

/*Template 36*/
.ism_template_36{
}
.ism_template_36 .ism_item_wrapper{
}

.ism_template_36 .ism_item{
	padding:0px;
	position:relative;
	margin: 0px;
	margin-right:3px;
	width:52px;
	overflow:hidden;
	position:relative; 
	height:55px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}

.ism_template_36 .ism-align-horizontal .ism_item{
	margin-bottom:5px;
	margin-right:0px;
}
.ism_template_36 .fa-ism{
	width:52px;
	height:42px;
	text-align:center;
	line-height:45px;
	font-size:23px;
	position:relative;
	overflow:hidden;
	transition: all 0.4s ease-in-out 0.2s;
	-webkit-transition: all 0.4s ease-in-out 0.2s;
	-moz-transition: all 0.4s ease-in-out 0.2s;
	-o-transition: all 0.4s ease-in-out 0.2s;
	-ms-transition: all 0.4s ease-in-out 0.2s;
}

.ism_template_36 .ism_share_label{
	line-height:13px;
	width:50px;
	font-size:10px;
	height:13px;
	text-align:center;
	margin:0px auto;
	margin-top:-4px;
	padding:0;	
	transition: all 0.4s ease-in-out 0.2s;
	-webkit-transition: all 0.4s ease-in-out 0.2s;
	-moz-transition: all 0.4s ease-in-out 0.2s;
	-o-transition: all 0.4s ease-in-out 0.2s;
	-ms-transition: all 0.4s ease-in-out 0.2s;
}
.ism_template_36 .ism_share_counts{
	position:absolute;
	height:55px;
	width:50px;
	float:none;
	text-align:center;
	left: 0px;
	top: 0px;
	margin: 0px;
	font-size: 17px;
	line-height: 19px;
	padding-top: 10px;
	transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transition-delay: 0s;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition: all 0.4s ease-in-out 0.2s;
	-webkit-transition: all 0.4s ease-in-out 0.2s;
	-moz-transition: all 0.4s ease-in-out 0.2s;
	-o-transition: all 0.4s ease-in-out 0.2s;
	-ms-transition: all 0.4s ease-in-out 0.2s;
}
.ism_template_36 .ism_share_counts:after{
	content:" Shares";
	width:50px;
	font-weight: 400;
	display: block;
	height:15px;
	font-size: 12px;
}
.ism_template_36 .ism_item:hover .ism_share_counts{
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
}
.ism_template_36 .ism_item:hover .ism_share_label, .ism_template_36 .ism_item:hover .fa-ism{
	transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transition-delay: 0s;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	
}
.ism_template_36 .isf_sublabel_fe{
	margin-left:5px;
	line-height:32px;
}

/*Template 37*/
.ism_template_37{
}
.ism_template_37 .ism_item_wrapper{
}

.ism_template_37 .ism_item{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	padding: 6px 10px;
	margin-top: 9px;
  	margin-bottom: 5px;
}
.ism_template_37 .ism_item:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}
.ism_template_37 .ism_item:after {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 100%;
	top: 0;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	background-color: rgba(0,0,0,0.2);
	height: 4px;
	-webkit-transition-property: right;
	transition-property: right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.ism_template_37 .ism_item:hover{
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
	overflow:visible;
}
.ism_template_37 .ism_item:hover:before, .ism_template_37 .ism_item:focus:before, .ism_template_37 .ism_item:active:before {
	opacity: 1;
	-webkit-transform: translateY(2px);
	transform: translateY(2px);
}
.ism_template_37 .ism_item:hover:after {
	right: 0;
}

/*Template 38*/
.ism_template_38 .ism_item{
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	border-radius:0 34px 34px 0;
	background-color: white;
	padding: 0;
	height: 34px;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.24);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.24);
	margin:7px;
	overflow:visible;
}
.ism_template_38 .ism-align-vertical .ism_item{
	margin:3px 0;
}
.ism_template_38 .fa-ism{
	height:34px;
	line-height:34px;
	padding:0 3px;
}
.ism_template_38 .fa-facebook-ism, .ism_template_38 .ism_box_facebook .ism_share_label, .ism_template_38 .ism_box_facebook .ism_share_counts, .ism_template_38 .ism_box_facebook .isf_sublabel_fe{
	color:rgb(59, 89, 152);
}
.ism_template_38 .fa-twitter-ism, .ism_template_38 .ism_box_twitter .ism_share_label, .ism_template_38 .ism_box_twitter .ism_share_counts, .ism_template_38 .ism_box_twitter .isf_sublabel_fe{
	color:#00ABF0;
}
.ism_template_38 .fa-google-ism, .ism_template_38 .ism_box_google .ism_share_label, .ism_template_38 .ism_box_google .ism_share_counts, .ism_template_38 .ism_box_google .isf_sublabel_fe{
	color:rgb(217, 82, 50);
}
.ism_template_38 .fa-linkedin-ism, .ism_template_38 .ism_box_linkedin .ism_share_label, .ism_template_38 .ism_box_linkedin .ism_share_counts, .ism_template_38 .ism_box_linkedin .isf_sublabel_fe{
	color:rgb(28, 134, 188);
}
.ism_template_38 .fa-pinterest-ism, .ism_template_38 .ism_box_pinterest .ism_share_label, .ism_template_38 .ism_box_pinterest .ism_share_counts, .ism_template_38 .ism_box_pinterest .isf_sublabel_fe{
	color:rgb(174, 24, 31);
}
.ism_template_38 .fa-stumbleupon-ism, .ism_template_38 .ism_box_stumbleupon .ism_share_label, .ism_template_38 .ism_box_stumbleupon .ism_share_counts, .ism_template_38 .ism_box_stumbleupon .isf_sublabel_fe{
	color:rgb(233, 75, 36);
}
.ism_template_38 .fa-vk-ism, .ism_template_38 .ism_box_vk .ism_share_label, .ism_template_38 .ism_box_vk .ism_share_counts, .ism_template_38 .ism_box_vk .isf_sublabel_fe{
	color:#5d83aa;
}
.ism_template_38 .fa-digg-ism, .ism_template_38 .ism_box_digg .ism_share_label, .ism_template_38 .ism_box_digg .ism_share_counts, .ism_template_38 .ism_box_digg .isf_sublabel_fe{
	color:#005f93;
}
.ism_template_38 .fa-tumblr-ism, .ism_template_38 .ism_box_tumblr .ism_share_label, .ism_template_38 .ism_box_tumblr .ism_share_counts, .ism_template_38 .ism_box_tumblr .isf_sublabel_fe{
	color:#2c4762;
}
.ism_template_38 .fa-email-ism, .ism_template_38 .ism_box_email .ism_share_label, .ism_template_38 .ism_box_email .ism_share_counts, .ism_template_38 .ism_box_email .isf_sublabel_fe{
	color:#666;
}
.ism_template_38 .fa-reddit-ism, .ism_template_38 .ism_box_reddit .ism_share_label, .ism_template_38 .ism_box_reddit .ism_share_counts, .ism_template_38 .ism_box_reddit .isf_sublabel_fe{
	color:#2cae2c; 
}
.ism_template_38 .fa-delicious-ism, .ism_template_38 .ism_box_delicious .ism_share_label, .ism_template_38 .ism_box_delicious .ism_share_counts, .ism_template_38 .ism_box_delicious .isf_sublabel_fe{
	color:#2f78c5;
}
.ism_template_38 .fa-weibo-ism, .ism_template_38 .ism_box_weibo .ism_share_label, .ism_template_38 .ism_box_weibo .ism_share_counts, .ism_template_38 .ism_box_weibo .isf_sublabel_fe{
	color:#ED1C24;
}
.ism_template_38 .fa-xing-ism, .ism_template_38 .ism_box_xing .ism_share_label, .ism_template_38 .ism_box_xing .ism_share_counts, .ism_template_38 .ism_box_xing .isf_sublabel_fe{
	color:#00605e;
}
.ism_template_38 .fa-print-ism, .ism_template_38 .ism_box_print .ism_share_label, .ism_template_38 .ism_box_print .ism_share_counts, .ism_template_38 .ism_box_print .isf_sublabel_fe{
	color:#333333;
}

.ism_template_38 .fa-ok-ism, .ism_template_38 .ism_box_ok .ism_share_label, .ism_template_38 .ism_box_ok .ism_share_counts, .ism_template_38 .ism_box_ok .isf_sublabel_fe{
	color:#fb8433;
}
.ism_template_38 .fa-whatsapp-ism, .ism_template_38 .ism_box_whatsapp .ism_share_label, .ism_template_38 .ism_box_whatsapp .ism_share_counts, .ism_template_38 .ism_box_whatsapp .isf_sublabel_fe{
	color:#2ab200;
}
.ism_template_38 .fa-bufferapp-ism, .ism_template_38 .ism_box_bufferapp .ism_share_label, .ism_template_38 .ism_box_bufferapp .ism_share_counts, .ism_template_38 .ism_box_bufferapp .isf_sublabel_fe{
	color:#000;
}
.ism_template_38 .fa-mailru-ism, .ism_template_38 .ism_box_mailru .ism_share_label, .ism_template_38 .ism_box_mailru .ism_share_counts, .ism_template_38 .ism_box_mailru .isf_sublabel_fe{
	color:#044b89;
}
.ism_template_38 .fa-meneame-ism, .ism_template_38 .ism_box_meneame .ism_share_label, .ism_template_38 .ism_box_meneame .ism_share_counts, .ism_template_38 .ism_box_meneame .isf_sublabel_fe{
	color:#f6711b;
}
.ism_template_38 .fa-evernote-ism, .ism_template_38 .ism_box_evernote .ism_share_label, .ism_template_38 .ism_box_evernote .ism_share_counts, .ism_template_38 .ism_box_evernote .isf_sublabel_fe{
	color:#7cbf4b;
}
.ism_template_38 .fa-getpocket-ism, .ism_template_38 .ism_box_getpocket .ism_share_label, .ism_template_38 .ism_box_getpocket .ism_share_counts, .ism_template_38 .ism_box_getpocket .isf_sublabel_fe{
	color:#f03e58;
}
.ism_template_38 .fa-flattr-ism, .ism_template_38 .ism_box_flattr .ism_share_label, .ism_template_38 .ism_box_flattr .ism_share_counts, .ism_template_38 .ism_box_flattr .isf_sublabel_fe{
	color:#7faf44;
}
.ism_template_38 .fa-managewp-ism, .ism_template_38 .ism_box_managewp .ism_share_label, .ism_template_38 .ism_box_managewp .ism_share_counts, .ism_template_38 .ism_box_managewp .isf_sublabel_fe{
	color:#248acb;
}
.ism_template_38 .fa-myspace-ism, .ism_template_38 .ism_box_myspace .ism_share_label, .ism_template_38 .ism_box_myspace .ism_share_counts, .ism_template_38 .ism_box_myspace .isf_sublabel_fe{
	color:#3a5998;
}
.ism_template_38 .fa-hackernews-ism, .ism_template_38 .ism_box_hackernews .ism_share_label, .ism_template_38 .ism_box_hackernews .ism_share_counts, .ism_template_38 .ism_box_hackernews .isf_sublabel_fe{
	color:#f17626;
}
.ism_template_38 .fa-ymail-ism, .ism_template_38 .ism_box_ymail .ism_share_label, .ism_template_38 .ism_box_ymail .ism_share_counts, .ism_template_38 .ism_box_ymail .isf_sublabel_fe{
	color:#511295;
}
.ism_template_38 .fa-gmail-ism, .ism_template_38 .ism_box_gmail .ism_share_label, .ism_template_38 .ism_box_gmail .ism_share_counts, .ism_template_38 .ism_box_gmail .isf_sublabel_fe{
	color:#e3513f;
}

.ism_template_38 .ism_item:hover .fa-ism{
	color:#fff !important;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
}
.ism_template_38 .ism_box_facebook, .ism_template_38 .ism_box_twitter, .ism_template_38 .ism_box_google, .ism_template_38 .ism_box_linkedin, .ism_template_38 .ism_box_pinterest,
.ism_template_38 .ism_box_stumbleupon, .ism_template_38 .ism_box_vk, .ism_template_38 .ism_box_digg, .ism_template_38 .ism_box_tumblr, .ism_template_38 .ism_box_email,
.ism_template_38 .ism_box_reddit, .ism_template_38 .ism_box_delicious, .ism_template_38 .ism_box_weibo, .ism_template_38 .ism_box_xing, .ism_template_38 .ism_box_print,
.ism_template_38 .ism_box_ok, .ism_template_38 .ism_box_whatsapp, .ism_template_38 .ism_box_bufferapp, .ism_template_38 .ism_box_mailru, .ism_template_38 .ism_box_meneame, 
.ism_template_38 .ism_box_evernote, .ism_template_38 .ism_box_getpocket, .ism_template_38 .ism_box_flattr, .ism_template_38 .ism_box_managewp, .ism_template_38 .ism_box_myspace, 
.ism_template_38 .ism_box_hackernews, .ism_template_38 .ism_box_ymail, .ism_template_38 .ism_box_gmail 
{
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(245,245,245,1)));
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=1 );
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
}
.ism_template_38 .ism_item:before{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 18px;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.ism_template_38 .ism_item:hover:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	-webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
	transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.ism_template_38 .ism_box_facebook:before{
	background:rgb(59, 89, 152);
}
.ism_template_38 .ism_box_twitter:before{
	background:#00ABF0;
}
.ism_template_38 .ism_box_google:before{
	background:rgb(217, 82, 50);
}
.ism_template_38 .ism_box_linkedin:before{
	background:rgb(28, 134, 188);
}
.ism_template_38 .ism_box_pinterest:before{
	background:rgb(174, 24, 31);
}
.ism_template_38 .ism_box_stumbleupon:before{
	background:rgb(233, 75, 36);
}
.ism_template_38 .ism_box_vk:before{
	background:#5d83aa;
}
.ism_template_38 .ism_box_digg:before{
	background:#005f93;
}
.ism_template_38 .ism_box_tumblr:before{
	background:#2c4762;
}
.ism_template_38 .ism_box_email:before{
	background:#666;
}
.ism_template_38 .ism_box_reddit:before{
	background:#2cae2c; 
}
.ism_template_38 .ism_box_delicious:before{
	background: #2f78c5;
}
.ism_template_38 .ism_box_weibo:before{
	background: #ED1C24;
}
.ism_template_38 .ism_box_xing:before{
	background: #00605e;
}
.ism_template_38 .ism_box_print:before{
	background: #333333;
}


.ism_template_38 .ism_box_ok:before{
	background: #fb8433;
}
.ism_template_38 .ism_box_whatsapp:before{
	background: #2ab200;
}
.ism_template_38 .ism_box_bufferapp:before{
	background: #000;
}
.ism_template_38 .ism_box_mailru:before{
	background: #044b89;
}
.ism_template_38 .ism_box_meneame:before{
	background: #f6711b;
}
.ism_template_38 .ism_box_evernote:before{
	background: #7cbf4b;
}
.ism_template_38 .ism_box_getpocket:before{
	background: #f03e58;
}
.ism_template_38 .ism_box_flattr:before{
	background: #7faf44;
}
.ism_template_38 .ism_box_managewp:before{
	background: #248acb;
}
.ism_template_38 .ism_box_myspace:before{
	background: #3a5998;
}
.ism_template_38 .ism_box_hackernews:before{
	background: #f17626;
}
.ism_template_38 .ism_box_ymail:before{
	background: #511295;
}
.ism_template_38 .ism_box_gmail:before{
	background: #e3513f;
}

.ism_template_38 .fa-ism{
	width:27px;
	text-align:center;
	border-right: 1px solid transparent;
}
.ism_template_38 .ism_item:hover .fa-ism{
	background-color: rgba(255,255,255,0.1);
	/*border-right: 1px solid rgba(0,0,0,0.2);*/
}
.ism_template_38 .ism_item:hover .ism_share_label{
	color:#fff;
	border-left: 1px solid rgba(255,255,255,0.2);
}
.ism_template_38 .ism_share_label{
	padding-right:12px;
	line-height:34px;
	margin-left:0px;
	padding-left:5px;
	border-left: 1px solid transparent;
	min-width: 60px;
	text-align: left;
}
.ism_template_38 .ism_share_counts{
	padding-right:8px;
	margin-left:0px;
}
.ism_template_38 .isf_sublabel_fe{
	float:left !important;
}
.ism_template_38 .ism_item:hover .isf_sublabel_fe{
	color:#fff;
}
.ism_template_38 .ism_share_counts {
	padding: 0px;
	width: 34px;
	background-color: #fff;
	height: 34px;
	border-radius: 34px;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
	text-align: center;
	line-height: 2.3;
	position:relative;
	overflow: initial;
	margin-left: 0px;
	right:-2px;
}
.ism_template_38 .ism_share_counts:before{
	content: "";
	position: absolute;
	left: -5px;
	top: 10px;
	border-right: 6px solid #fff;
	border-bottom: 6px solid transparent;
	border-top: 6px solid transparent;
}
.ism_template_38 .ism_item:hover .ism_share_counts{
	
}

/*Template 39*/
.ism_template_39{
}
.ism_template_39 .ism_item_wrapper{
}

.ism_template_39 .ism_item{
	padding:0px;
	position:relative;
	margin: 0px;
	width:54px;
	overflow:hidden;
	height:55px;
	display:inline-block;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	box-sizing:border-box;
}
.ism_template_39 .fa-ism{
	width:100%;
	height:42px;
	text-align:center;
	line-height:45px;
	font-size:23px;
	position:relative;
	overflow:hidden;
	transition: all 0.4s ease-in-out 0.2s;
	-webkit-transition: all 0.4s ease-in-out 0.2s;
	-moz-transition: all 0.4s ease-in-out 0.2s;
	-o-transition: all 0.4s ease-in-out 0.2s;
	-ms-transition: all 0.4s ease-in-out 0.2s;
	transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}

.ism_template_39 .ism_share_counts{
	line-height:13px;
	width:54px;
	font-size:10px;
	height:13px;
	text-align:center;
	margin:0px auto;
	margin-top:-4px;
	padding:0;	
	transition: all 0.4s ease-in-out 0.2s;
	-webkit-transition: all 0.4s ease-in-out 0.2s;
	-moz-transition: all 0.4s ease-in-out 0.2s;
	-o-transition: all 0.4s ease-in-out 0.2s;
	-ms-transition: all 0.4s ease-in-out 0.2s;
}

.ism_template_39 .ism_item:hover{
	padding:0 8px;	
	width:70px;
}
.ism_template_39 .ism_share_label{
	position: absolute;
	left:150%;
	top: 13px;
	opacity: 0;
	height:30px;
	background-color: rgba(0,0,0,0.8);
	border-radius: 4px;
	color: #fff;
	font-size: 14px;
	line-height: 30px;
	padding: 0px 9px;
	text-align: center;
	z-index: 999999;
	overflow:visible;
	transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
}
.ism_template_39 .ism_share_label:before{
	width: 0px;
	height: 0px;
	content: "";
	position: absolute;
	left: -5px;
	top: 9px;
	z-index: 999;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid rgba(0,0,0,0.8);
}


.ism_template_39 .ism_item:hover{
	overflow:visible;
}
.ism_template_39 .ism_item:hover .fa-ism{
	transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}
.ism_template_39 .ism_item:hover .ism_share_label{
	opacity: 1;
	left:69px;	
}
.ism_template_39 .ism_item:after {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 100%;
	bottom: 0;
	background-color: rgba(0,0,0,0.2);
	height: 4px;
	-webkit-transition-property: right;
	transition-property: right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.ism_template_39 .ism_item:hover:after {
	right: 0;
}
.ism_template_39 .isf_sublabel_fe{
	margin-left:5px;
	line-height:32px;
}

/*Template 40*/
.ism_template_40{
}
.ism_template_40 .ism_item_wrapper{
}

.ism_template_40 .ism_item{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	padding: 8px 10px;
	color: #484f59;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
	margin-top:12px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 2px 3px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 2px 3px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 2px 3px rgba(0, 0, 0, .1);
}
.ism_template_40 .ism-align-vertical .ism_item{
	margin:4px 0;
}
.ism_template_40 .ism_item:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 2px;
	left: 0;
	right: 0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e7e8ea));
	background-image: -webkit-linear-gradient(top, #f4f4f4, #e7e8ea);
	background-image: -moz-linear-gradient(top, #f4f4f4, #e7e8ea);
	background-image: -ms-linear-gradient(top, #f4f4f4, #e7e8ea);
	background-image: -o-linear-gradient(top, #f4f4f4, #e7e8ea);
	background-image: linear-gradient(top, #f4f4f4, #e7e8ea);
	
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.ism_template_40 .ism_item:after {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 100%;
	bottom: 0;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	background-color: rgba(0,0,0,0.2);
	height: 4px;
	-webkit-transition-property: right;
	transition-property: right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.ism_template_40 .ism_item:hover{
	-webkit-transform: translateY(-6px);
	transform: translateY(-6px);
	overflow:visible;
	color:#FFF;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0);
}
.ism_template_40 .ism_item:hover:before, .ism_template_40 .ism_item:focus:before, .ism_template_40 .ism_item:active:before {
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
}
.ism_template_40 .ism_item:hover:after {
	right: 0;
}

/*Template 41*/
.ism_template_41{
}
.ism_template_41 .ism_item_wrapper{
}

.ism_template_41 .ism_item{
	background:none;
	position:relative;
	overflow:visible;
	padding:0px;
	margin:15px 10px;
	min-width:60px;
    min-height: 30px;
}
.ism_template_41 .ism-align-vertical .ism_item{
	margin-left:6px;
	margin-right:6px;
}
.ism_template_41 .fa-ism{
	position:absolute;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius:  50%;
	width:42px;
	height:42px;
	line-height:42px;
	left:4px;
	top:-8px;
	color:#fff !important;
	z-index:9999;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.24);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.24);
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
}
.ism_template_41  .ism_item:hover .fa-ism{
	-webkit-transform: translate(30px,0);
	-moz-transform: translate(30px,0);
	-o-transform: translate(30px,0);
	-ms-transform: translate(30px,0);
}
.ism_template_41 .ism_share_label{
	z-index: 50;
	position: inherit;
	text-align:left;
	margin-left:42px;
	height:26px;
	padding-left:10px;
	padding-right:10px;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.24);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.24);
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(245,245,245,1)));
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=1 );
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
}
.ism_template_41 .ism-align-vertical  .ism_share_label{
	float:none;
	display:block;
}
.ism_template_41 .ism_share_counts{
	height:30px;
	width:40px;
	position:absolute;
	left:20px;
	top:0px;
	text-align:center;
	padding-right:5px;
	margin-left:0px;
	font-size: 17px;
	line-height: 18px;
	z-index:10;
	opacity:0;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
}
.ism_template_41 .ism_item:hover .ism_share_counts{
	-webkit-transform: translate(-25px,0);
	-moz-transform: translate(-25px,0);
	-o-transform: translate(-25px,0);
	-ms-transform: translate(-25px,0);
	opacity:1;
}
.ism_template_41 .ism_share_counts:after {
	content: " Shares";
	text-align:center;
	width: 40px;
	font-weight: 400;
	display: block;
	height: 15px;
	font-size: 12px;
	margin-top: -4px;
}
.ism_template_41 .ism_box_facebook .fa-ism{
	background:rgb(59, 89, 152);
}
.ism_template_41 .ism_box_twitter .fa-ism{
	background:#00ABF0;
}
.ism_template_41 .ism_box_google .fa-ism{
	background:rgb(217, 82, 50);
}
.ism_template_41 .ism_box_linkedin .fa-ism{
	background:rgb(28, 134, 188);
}
.ism_template_41 .ism_box_pinterest .fa-ism{
	background:rgb(174, 24, 31);
}
.ism_template_41 .ism_box_stumbleupon .fa-ism{
	background:rgb(233, 75, 36);
}
.ism_template_41 .ism_box_vk .fa-ism{
	background:#5d83aa;
}
.ism_template_41 .ism_box_digg .fa-ism{
	background:#005f93;
}
.ism_template_41 .ism_box_tumblr .fa-ism{
	background:#2c4762;
}
.ism_template_41 .ism_box_email .fa-ism{
	background:#666;
}
.ism_template_41 .ism_box_reddit .fa-ism{
	background:#2cae2c; 
}
.ism_template_41 .ism_box_delicious .fa-ism{
	background: #2f78c5;
}
.ism_template_41 .ism_box_weibo .fa-ism{
	background: #ED1C24;
}
.ism_template_41 .ism_box_xing .fa-ism{
	background: #00605e;
}
.ism_template_41 .ism_box_print .fa-ism{
	background: #333333;
}


.ism_template_41 .ism_box_ok .fa-ism{
	background: #fb8433;
}
.ism_template_41 .ism_box_whatsapp .fa-ism{
	background: #2ab200;
}
.ism_template_41 .ism_box_bufferapp .fa-ism{
	background: #000;
}
.ism_template_41 .ism_box_mailru .fa-ism{
	background: #044b89;
}
.ism_template_41 .ism_box_meneame .fa-ism{
	background: #f6711b;
}
.ism_template_41 .ism_box_evernote .fa-ism{
	background: #7cbf4b;
}
.ism_template_41 .ism_box_getpocket .fa-ism{
	background: #f03e58;
}
.ism_template_41 .ism_box_flattr .fa-ism{
	background: #7faf44;
}
.ism_template_41 .ism_box_managewp .fa-ism{
	background: #248acb;
}
.ism_template_41 .ism_box_myspace .fa-ism{
	background: #3a5998;
}

.ism_template_41 .ism_box_hackernews .fa-ism{
	background: #f17626;
}
.ism_template_41 .ism_box_ymail .fa-ism{
	background: #511295;
}
.ism_template_41 .ism_box_gmail .fa-ism{
	background: #e3513f;
}

.ism_template_41 .fa-facebook-ism, .ism_template_41 .ism_box_facebook .ism_share_label, .ism_template_41 .ism_box_facebook .ism_share_counts, .ism_template_41 .ism_box_facebook .isf_sublabel_fe{
	color:rgb(59, 89, 152);
}
.ism_template_41 .fa-twitter-ism, .ism_template_41 .ism_box_twitter .ism_share_label, .ism_template_41 .ism_box_twitter .ism_share_counts, .ism_template_41 .ism_box_twitter .isf_sublabel_fe{
	color:#00ABF0;
}
.ism_template_41 .fa-google-ism, .ism_template_41 .ism_box_google .ism_share_label, .ism_template_41 .ism_box_google .ism_share_counts, .ism_template_41 .ism_box_google .isf_sublabel_fe{
	color:rgb(217, 82, 50);
}
.ism_template_41 .fa-linkedin-ism, .ism_template_41 .ism_box_linkedin .ism_share_label, .ism_template_41 .ism_box_linkedin .ism_share_counts, .ism_template_41 .ism_box_linkedin .isf_sublabel_fe{
	color:rgb(28, 134, 188);
}
.ism_template_41 .fa-pinterest-ism, .ism_template_41 .ism_box_pinterest .ism_share_label, .ism_template_41 .ism_box_pinterest .ism_share_counts, .ism_template_41 .ism_box_pinterest .isf_sublabel_fe{
	color:rgb(174, 24, 31);
}
.ism_template_41 .fa-stumbleupon-ism, .ism_template_41 .ism_box_stumbleupon .ism_share_label, .ism_template_41 .ism_box_stumbleupon .ism_share_counts, .ism_template_41 .ism_box_stumbleupon .isf_sublabel_fe{
	color:rgb(233, 75, 36);
}
.ism_template_41 .fa-vk-ism, .ism_template_41 .ism_box_vk .ism_share_label, .ism_template_41 .ism_box_vk .ism_share_counts, .ism_template_41 .ism_box_vk .isf_sublabel_fe{
	color:#5d83aa;
}
.ism_template_41 .fa-digg-ism, .ism_template_41 .ism_box_digg .ism_share_label, .ism_template_41 .ism_box_digg .ism_share_counts, .ism_template_41 .ism_box_digg .isf_sublabel_fe{
	color:#005f93;
}
.ism_template_41 .fa-tumblr-ism, .ism_template_41 .ism_box_tumblr .ism_share_label, .ism_template_41 .ism_box_tumblr .ism_share_counts, .ism_template_41 .ism_box_tumblr .isf_sublabel_fe{
	color:#2c4762;
}
.ism_template_41 .fa-email-ism, .ism_template_41 .ism_box_email .ism_share_label, .ism_template_41 .ism_box_email .ism_share_counts, .ism_template_41 .ism_box_email .isf_sublabel_fe{
	color:#666;
}
.ism_template_41 .fa-reddit-ism, .ism_template_41 .ism_box_reddit .ism_share_label, .ism_template_41 .ism_box_reddit .ism_share_counts, .ism_template_41 .ism_box_reddit .isf_sublabel_fe{
	color:#2cae2c; 
}
.ism_template_41 .fa-delicious-ism, .ism_template_41 .ism_box_delicious .ism_share_label, .ism_template_41 .ism_box_delicious .ism_share_counts, .ism_template_41 .ism_box_delicious .isf_sublabel_fe{
	color:#2f78c5;
}
.ism_template_41 .fa-weibo-ism, .ism_template_41 .ism_box_weibo .ism_share_label, .ism_template_41 .ism_box_weibo .ism_share_counts, .ism_template_41 .ism_box_weibo .isf_sublabel_fe{
	color:#ED1C24;
}
.ism_template_41 .fa-xing-ism, .ism_template_41 .ism_box_xing .ism_share_label, .ism_template_41 .ism_box_xing .ism_share_counts, .ism_template_41 .ism_box_xing .isf_sublabel_fe{
	color:#00605e;
}
.ism_template_41 .fa-print-ism, .ism_template_41 .ism_box_print .ism_share_label, .ism_template_41 .ism_box_print .ism_share_counts, .ism_template_41 .ism_box_print .isf_sublabel_fe{
	color:#333333;
}

.ism_template_41 .fa-ok-ism, .ism_template_41 .ism_box_ok .ism_share_label, .ism_template_41 .ism_box_ok .ism_share_counts, .ism_template_41 .ism_box_ok .isf_sublabel_fe{
	color:#fb8433;
}
.ism_template_41 .fa-whatsapp-ism, .ism_template_41 .ism_box_whatsapp .ism_share_label, .ism_template_41 .ism_box_whatsapp .ism_share_counts, .ism_template_41 .ism_box_whatsapp .isf_sublabel_fe{
	color:#2ab200;
}
.ism_template_41 .fa-bufferapp-ism, .ism_template_41 .ism_box_bufferapp .ism_share_label, .ism_template_41 .ism_box_bufferapp .ism_share_counts, .ism_template_41 .ism_box_bufferapp .isf_sublabel_fe{
	color:#000;
}
.ism_template_41 .fa-mailru-ism, .ism_template_41 .ism_box_mailru .ism_share_label, .ism_template_41 .ism_box_mailru .ism_share_counts, .ism_template_41 .ism_box_mailru .isf_sublabel_fe{
	color:#044b89;
}
.ism_template_41 .fa-meneame-ism, .ism_template_41 .ism_box_meneame .ism_share_label, .ism_template_41 .ism_box_meneame .ism_share_counts, .ism_template_41 .ism_box_meneame .isf_sublabel_fe{
	color:#f6711b;
}
.ism_template_41 .fa-evernote-ism, .ism_template_41 .ism_box_evernote .ism_share_label, .ism_template_41 .ism_box_evernote .ism_share_counts, .ism_template_41 .ism_box_evernote .isf_sublabel_fe{
	color:#7cbf4b;
}
.ism_template_41 .fa-getpocket-ism, .ism_template_41 .ism_box_getpocket .ism_share_label, .ism_template_41 .ism_box_getpocket .ism_share_counts, .ism_template_41 .ism_box_getpocket .isf_sublabel_fe{
	color:#f03e58;
}
.ism_template_41 .fa-flattr-ism, .ism_template_41 .ism_box_flattr .ism_share_label, .ism_template_41 .ism_box_flattr .ism_share_counts, .ism_template_41 .ism_box_flattr .isf_sublabel_fe{
	color:#7faf44;
}
.ism_template_41 .fa-managewp-ism, .ism_template_41 .ism_box_managewp .ism_share_label, .ism_template_41 .ism_box_managewp .ism_share_counts, .ism_template_41 .ism_box_managewp .isf_sublabel_fe{
	color:#248acb;
}
.ism_template_41 .fa-myspace-ism, .ism_template_41 .ism_box_myspace .ism_share_label, .ism_template_41 .ism_box_myspace .ism_share_counts, .ism_template_41 .ism_box_myspace .isf_sublabel_fe{
	color:#3a5998;
}
.ism_template_41 .fa-hackernews-ism, .ism_template_41 .ism_box_hackernews .ism_share_label, .ism_template_41 .ism_box_hackernews .ism_share_counts, .ism_template_41 .ism_box_hackernews .isf_sublabel_fe{
	color:#f17626;
}
.ism_template_41 .fa-ymail-ism, .ism_template_41 .ism_box_ymail .ism_share_label, .ism_template_41 .ism_box_ymail .ism_share_counts, .ism_template_41 .ism_box_ymail .isf_sublabel_fe{
	color:#511295;
}
.ism_template_41 .fa-gmail-ism, .ism_template_41 .ism_box_gmail .ism_share_label, .ism_template_41 .ism_box_gmail .ism_share_counts, .ism_template_41 .ism_box_gmail .isf_sublabel_fe{
	color:#e3513f;
}

/*Template 42*/
.ism_template_42{
}
.ism_template_42 .ism_item_wrapper{
}

.ism_template_42 .ism_item{
	padding:0px;
	position:relative;
	margin: 15px;
	overflow:hidden;
	/*width:100px;
  	height:100px;*/
	width:80px;
  	height:80px;
  	display:inline-block;
  	color:#fff;
  	text-decoration:none;
	text-align:center;
  	/*padding-top:6px;*/
	padding-top:3px;
  	left:0px;
  	position:relative;
  	cursor:pointer;
  	border: none;
  	/*background: #109bce;
  	background-image: linear-gradient(bottom, rgb(14,137,182) 0%, rgb(22,179,236) 100%);*/
  	border-radius: 5px;
  	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #07526e, 0px 10px 5px #999;
}
.ism_template_42 .ism-align-vertical .ism_item{
	margin:2px 0px;
}
.ism_template_42 .ism_item:active {
  top:3px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #07526e, 0px 5px 3px #999;
}
.ism_template_42 .fa-ism{
	width:100%;
	/*height:62px;
	line-height:80px;*/
	height:52px;
	line-height:60px;
	text-align:center;
	font-size:29px;
	position:relative;
	overflow:hidden;
	transition: all 0.4s ease-in-out 0.2s;
	-webkit-transition: all 0.4s ease-in-out 0.2s;
	-moz-transition: all 0.4s ease-in-out 0.2s;
	-o-transition: all 0.4s ease-in-out 0.2s;
	-ms-transition: all 0.4s ease-in-out 0.2s;
}

.ism_template_42 .ism_share_label{
	line-height:16px;
	width:100%;
	/*font-size:14px;*/
	font-size:12px;
	text-align:center;
	margin:0px auto;
	margin-top:-4px;
	padding:0;	
	transition: all 0.4s ease-in-out 0.2s;
	-webkit-transition: all 0.4s ease-in-out 0.2s;
	-moz-transition: all 0.4s ease-in-out 0.2s;
	-o-transition: all 0.4s ease-in-out 0.2s;
	-ms-transition: all 0.4s ease-in-out 0.2s;
}
.ism_template_42 .ism_share_counts{
	position:absolute;
	height:60px;
	width:100%;
	float:none;
	text-align:center;
	left: 0px;	
	/*top: 30px;*/
	top: 20px;
	margin: 0px;
	font-size: 24px;
	line-height: 26px;
	transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transition-delay: 0s;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition: all 0.4s ease-in-out 0.2s;
	-webkit-transition: all 0.4s ease-in-out 0.2s;
	-moz-transition: all 0.4s ease-in-out 0.2s;
	-o-transition: all 0.4s ease-in-out 0.2s;
	-ms-transition: all 0.4s ease-in-out 0.2s;
}
.ism_template_42 .ism_share_counts:after{
	content:" Shares";
	width:100%;
	font-weight: 400;
	display: block;
	height:20px;
	font-size: 14px;
	line-height: 15px;
}
.ism_template_42 .ism_item:hover .ism_share_counts{
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
}
.ism_template_42 .ism_item:hover .ism_share_label, .ism_template_42 .ism_item:hover .fa-ism{
	transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transition-delay: 0s;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	
}
.ism_template_42 .isf_sublabel_fe{
	margin-left:5px;
	line-height:32px;
}
.ism_template_42 .ism_box_facebook{
	background-color:rgb(59, 89, 152);
	box-shadow: inset 0px 1px 0px #3b5998, 0px 5px 0px 0px #2f3b56, 0px 10px 5px #999;
}
.ism_template_42 .ism_box_facebook:active {
  box-shadow: inset 0px 1px 0px #3b5998, 0px 2px 0px 0px #2f3b56, 0px 5px 3px #999;
}
.ism_template_42 .ism_box_twitter{
	background-color:#00ABF0;
	box-shadow: inset 0px 1px 0px #00ABF0, 0px 5px 0px 0px #155f7d, 0px 10px 5px #999;
}
.ism_template_42 .ism_box_twitter:active {
  box-shadow: inset 0px 1px 0px #00ABF0, 0px 2px 0px 0px #155f7d, 0px 5px 3px #999;
}
.ism_template_42 .ism_box_google{
	background-color:rgb(217, 82, 50);
	box-shadow: inset 0px 1px 0px #d95232, 0px 5px 0px 0px #74382a, 0px 10px 5px #999;
}
.ism_template_42 .ism_box_google:active {
  box-shadow: inset 0px 1px 0px #d95232, 0px 2px 0px 0px #74382a, 0px 5px 3px #999;
}
.ism_template_42 .ism_box_linkedin{
    background-color:rgb(28, 134, 188);
	box-shadow: inset 0px 1px 0px #1c86bc, 0px 5px 0px 0px #214f66, 0px 10px 5px #999;
}
.ism_template_42 .ism_box_linkedin:active {
	box-shadow: inset 0px 1px 0px #1c86bc, 0px 2px 0px 0px #214f66, 0px 5px 3px #999;
}
.ism_template_42 .ism_box_pinterest{
	background-color:rgb(174, 24, 31);
	box-shadow: inset 0px 1px 0px #ae181f, 0px 5px 0px 0px #611f21, 0px 10px 5px #999;
}
.ism_template_42 .ism_box_pinterest:active {
	box-shadow: inset 0px 1px 0px #ae181f, 0px 2px 0px 0px #611f21, 0px 5px 3px #999;
}
.ism_template_42 .ism_box_stumbleupon{
	background-color:rgb(233, 75, 36);
	box-shadow: inset 0px 1px 0px #e94b24, 0px 5px 0px 0px #7b3523, 0px 10px 5px #999;
}
.ism_template_42 .ism_box_stumbleupon:active {
	box-shadow: inset 0px 1px 0px #e94b24, 0px 2px 0px 0px #7b3523, 0px 5px 3px #999;
}
.ism_template_42 .ism_box_vk{
	background-color:#5d83aa;
	box-shadow: inset 0px 1px 0px #5d83aa, 0px 5px 0px 0px #3e4e5e, 0px 10px 5px #999;
}
.ism_template_42 .ism_box_vk:active {
	box-shadow: inset 0px 1px 0px #5d83aa, 0px 2px 0px 0px #3e4e5e, 0px 5px 3px #999;
}
.ism_template_42 .ism_box_digg{
	background-color:#005f93;
	box-shadow: inset 0px 1px 0px #005f93, 0px 5px 0px 0px #153e54, 0px 10px 5px #999;
}
.ism_template_42 .ism_box_digg:active {
	box-shadow: inset 0px 1px 0px #005f93, 0px 2px 0px 0px #153e54, 0px 5px 3px #999;
}
.ism_template_42 .ism_box_tumblr{
	background-color:#2c4762;
	box-shadow: inset 0px 1px 0px #2c4762, 0px 5px 0px 0px #28333f, 0px 10px 5px #999;
}
.ism_template_42 .ism_box_tumblr:active {
	box-shadow: inset 0px 1px 0px #2c4762, 0px 2px 0px 0px #28333f, 0px 5px 3px #999;
}
.ism_template_42 .ism_box_email {
	background-color: #666;
	box-shadow: inset 0px 1px 0px #666, 0px 5px 0px 0px #424140, 0px 10px 5px #999;
}
.ism_template_42 .ism_box_email:active {
	box-shadow: inset 0px 1px 0px #666, 0px 2px 0px 0px #424140, 0px 5px 3px #999;
}
.ism_template_42 .ism_box_reddit{
	background-color:#2cae2c; 
	box-shadow: inset 0px 1px 0px #2cae2c, 0px 5px 0px 0px #286127, 0px 10px 5px #999;
}
.ism_template_42 .ism_box_reddit:active {
	box-shadow: inset 0px 1px 0px #2cae2c, 0px 2px 0px 0px #286127, 0px 5px 3px #999;
}
.ism_template_42 .ism_box_delicious{
	background-color: #2f78c5;
	box-shadow: inset 0px 1px 0px #2f78c5, 0px 5px 0px 0px #29496a, 0px 10px 5px #999;
}
.ism_template_42 .ism_box_delicious:active {
	box-shadow: inset 0px 1px 0px #2f78c5, 0px 2px 0px 0px #29496a, 0px 5px 3px #999;
}
.ism_template_42 .ism_box_weibo{
	background-color: #ED1C24;
	box-shadow: inset 0px 1px 0px #ED1C24, 0px 5px 0px 0px #7d2023, 0px 10px 5px #999;
}
.ism_template_42 .ism_box_weibo:active {
	box-shadow: inset 0px 1px 0px #ED1C24, 0px 2px 0px 0px #7d2023, 0px 5px 3px #999;
}
.ism_template_42 .ism_box_xing{
	background-color: #00605e;
	box-shadow: inset 0px 1px 0px #00605e, 0px 5px 0px 0px #153e3d, 0px 10px 5px #999;
}
.ism_template_42 .ism_box_xing:active {
	box-shadow: inset 0px 1px 0px #00605e, 0px 2px 0px 0px #153e3d, 0px 5px 3px #999;
}
.ism_template_42 .ism_box_print{
	background-color: #333333;
	box-shadow: inset 0px 1px 0px #333333, 0px 5px 0px 0px #2b2b2a, 0px 10px 5px #999;
}
.ism_template_42 .ism_box_print:active {
	box-shadow: inset 0px 1px 0px #333333, 0px 2px 0px 0px #2b2b2a, 0px 5px 3px #999;
}
.ism_template_42 .ism_box_ok{
	background-color:#fb8433;
	box-shadow: inset 0px 1px 0px #fb8433, 0px 5px 0px 0px #834e2a, 0px 10px 5px #999;
}
.ism_template_42 .ism_box_ok:active {
	box-shadow: inset 0px 1px 0px #fb8433, 0px 2px 0px 0px #834e2a, 0px 5px 3px #999;
}
.ism_template_42 .ism_box_whatsapp{
	background-color:#2ab200;
	box-shadow: inset 0px 1px 0px #2ab200, 0px 5px 0px 0px #276214, 0px 10px 5px #999;
}
.ism_template_42 .ism_box_whatsapp:active {
  box-shadow: inset 0px 1px 0px #2ab200, 0px 2px 0px 0px #276214, 0px 5px 3px #999;
}
.ism_template_42 .ism_box_bufferapp{
	background-color: #000;
	box-shadow: inset 0px 1px 0px #000, 0px 5px 0px 0px #333, 0px 10px 5px #999;
}
.ism_template_42 .ism_box_bufferapp:active {
  box-shadow: inset 0px 1px 0px #000, 0px 2px 0px 0px #333, 0px 5px 3px #999;
}
.ism_template_42 .ism_box_mailru{
	background-color: #044b89;
	box-shadow: inset 0px 1px 0px #044b89, 0px 5px 0px 0px #173550, 0px 10px 5px #999;
}
.ism_template_42 .ism_box_mailru:active {
  box-shadow: inset 0px 1px 0px #044b89, 0px 2px 0px 0px #173550, 0px 5px 3px #999;
}
.ism_template_42 .ism_box_meneame{
	background-color: #f6711b;
	box-shadow: inset 0px 1px 0px #f6711b, 0px 5px 0px 0px #81461f, 0px 10px 5px #999;
}
.ism_template_42 .ism_box_meneame:active {
  box-shadow: inset 0px 1px 0px #f6711b, 0px 2px 0px 0px #81461f, 0px 5px 3px #999;
}
.ism_template_42 .ism_box_evernote{
	background-color: #7cbf4b;
	box-shadow: inset 0px 1px 0px #7cbf4b, 0px 5px 0px 0px #4b6835, 0px 10px 5px #999;
}
.ism_template_42 .ism_box_evernote:active {
  box-shadow: inset 0px 1px 0px #7cbf4b, 0px 2px 0px 0px #4b6835, 0px 5px 3px #999;
}
.ism_template_42 .ism_box_getpocket{
	background-color: #f03e58;
	box-shadow: inset 0px 1px 0px #f03e58, 0px 5px 0px 0px #7e2f3a, 0px 10px 5px #999;
}
.ism_template_42 .ism_box_getpocket:active {
  box-shadow: inset 0px 1px 0px #f03e58, 0px 2px 0px 0px #7e2f3a, 0px 5px 3px #999;
}
.ism_template_42 .ism_box_flattr{
	background-color: #7faf44;
	box-shadow: inset 0px 1px 0px #7faf44, 0px 5px 0px 0px #4d6131, 0px 10px 5px #999;
}
.ism_template_42 .ism_box_flattr:active {
  box-shadow: inset 0px 1px 0px #7faf44, 0px 2px 0px 0px #4d6131, 0px 5px 3px #999;
}
.ism_template_42 .ism_box_managewp{
	background-color: #248acb;
	box-shadow: inset 0px 1px 0px #248acb, 0px 5px 0px 0px #25516d, 0px 10px 5px #999;
}
.ism_template_42 .ism_box_managewp:active {
  box-shadow: inset 0px 1px 0px #248acb, 0px 2px 0px 0px #25516d, 0px 5px 3px #999;
}
.ism_template_42 .ism_box_myspace{
	background-color: #3a5998;
	box-shadow: inset 0px 1px 0px #3a5998, 0px 5px 0px 0px #2e3b56, 0px 10px 5px #999;
}
.ism_template_42 .ism_box_myspace:active {
  box-shadow: inset 0px 1px 0px #3a5998, 0px 2px 0px 0px #2e3b56, 0px 5px 3px #999;
}
.ism_template_42 .ism_box_hackernews{
	background-color: #f17626;
	box-shadow: inset 0px 1px 0px #f17626, 0px 5px 0px 0px #7f4824, 0px 10px 5px #999;
}
.ism_template_42 .ism_box_hackernews:active {
  box-shadow: inset 0px 1px 0px #f17626, 0px 2px 0px 0px #7f4824, 0px 5px 3px #999;
}
.ism_template_42 .ism_box_ymail{
	background-color: #511295;
	box-shadow: inset 0px 1px 0px #511295, 0px 5px 0px 0px #381c55, 0px 10px 5px #999;
}
.ism_template_42 .ism_box_ymail:active {
  box-shadow: inset 0px 1px 0px #511295, 0px 2px 0px 0px #381c55, 0px 5px 3px #999;
}
.ism_template_42 .ism_box_gmail{
	background-color: #e3513f;
	box-shadow: inset 0px 1px 0px #e3513f, 0px 5px 0px 0px #78382f, 0px 10px 5px #999;
}
.ism_template_42 .ism_box_gmail:active {
  box-shadow: inset 0px 1px 0px #e3513f, 0px 2px 0px 0px #78382f, 0px 5px 3px #999;
}



/*Template 43*/
.ism_template_43{
}
.ism_template_43 .ism_item_wrapper{
}

.ism_template_43 .ism_item{
	-webkit-transition: all 0s ease-out;
	-moz-transition: all 0s ease-out;
	-o-transition: all 0s ease-out;
	-ms-transition: all 0s ease-out;
	transition: all 0s ease-out;
	min-height: 40px;
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 0px 0px 0;
	padding-left:0px;
	margin: 5px 8px 15px 0;
	left: 0px;
	position: relative;
	cursor: pointer;
	border: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	min-width:40px;
}
.ism_template_43 .ism-align-vertical .ism_item{
	margin:5px 0px;
}
.ism_template_43 .ism_item:active {
  	top:2px;
}
.ism_template_43 .ism_item:active .fa-ism{
	top:-2px;
	-webkit-box-shadow: 0px 5px 0px 0px #2f3b56, 6px 4px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 5px 0px 0px #2f3b56, 6px 4px 2px rgba(0,0,0,0.3);
}
.ism_template_43 .fa-ism{
	line-height: 40px;
	width: 38px;
	position:relative;
	border-right: solid 1px rgba(0,0,0,0.1);	
}

.ism_template_43 .ism_share_label{
	line-height: 40px;
	border-left: solid 1px rgba(0,0,0,0.2);	
	margin-left:0px;
	padding-left:10px;
	padding-right:15px;
	position: relative;
	-webkit-transition: all 0s ease-out;
	-moz-transition: all 0s ease-out;
	-o-transition: all 0s ease-out;
	-ms-transition: all 0s ease-out;
	transition: all 0s ease-out;
}
.ism_template_43 .ism_share_counts{
	line-height: 40px;	
	margin-left:0px;
	margin-right: 15px;
}

.ism_template_43 .isf_sublabel_fe{
	margin-left:5px;
	line-height:40px;
}
.ism_template_43 .ism_box_facebook{
	background-color:rgb(59, 89, 152);
	box-shadow: inset 0px 1px 0px #3b5998, 0px 5px 0px 0px #2f3b56, 0px 10px 5px #999;
}
.ism_template_43 .ism_box_facebook:active {
  box-shadow: inset 0px 1px 0px #3b5998, 0px 2px 0px 0px #2f3b56, 0px 5px 3px #999;
}

.ism_template_43 .ism_box_twitter{
	background-color:#00ABF0;
	box-shadow: inset 0px 1px 0px #00ABF0, 0px 5px 0px 0px #155f7d, 0px 10px 5px #999;
}
.ism_template_43 .ism_box_twitter:active {
  box-shadow: inset 0px 1px 0px #00ABF0, 0px 2px 0px 0px #155f7d, 0px 5px 3px #999;
}
.ism_template_43 .ism_box_google{
	background-color:rgb(217, 82, 50);
	box-shadow: inset 0px 1px 0px #d95232, 0px 5px 0px 0px #74382a, 0px 10px 5px #999;
}
.ism_template_43 .ism_box_google:active {
  box-shadow: inset 0px 1px 0px #d95232, 0px 2px 0px 0px #74382a, 0px 5px 3px #999;
}
.ism_template_43 .ism_box_linkedin{
    background-color:rgb(28, 134, 188);
	box-shadow: inset 0px 1px 0px #1c86bc, 0px 5px 0px 0px #214f66, 0px 10px 5px #999;
}
.ism_template_43 .ism_box_linkedin:active {
  box-shadow: inset 0px 1px 0px #1c86bc, 0px 2px 0px 0px #214f66, 0px 5px 3px #999;
}
.ism_template_43 .ism_box_pinterest{
	background-color:rgb(174, 24, 31);
	box-shadow: inset 0px 1px 0px #ae181f, 0px 5px 0px 0px #611f21, 0px 10px 5px #999;
}
.ism_template_43 .ism_box_pinterest:active {
  box-shadow: inset 0px 1px 0px #ae181f, 0px 2px 0px 0px #611f21, 0px 5px 3px #999;
}
.ism_template_43 .ism_box_stumbleupon{
	background-color:rgb(233, 75, 36);
	box-shadow: inset 0px 1px 0px #e94b24, 0px 5px 0px 0px #7b3523, 0px 10px 5px #999;
}
.ism_template_43 .ism_box_stumbleupon:active {
  box-shadow: inset 0px 1px 0px #e94b24, 0px 2px 0px 0px #7b3523, 0px 5px 3px #999;
}
.ism_template_43 .ism_box_vk{
	background-color:#5d83aa;
	box-shadow: inset 0px 1px 0px #5d83aa, 0px 5px 0px 0px #3e4e5e, 0px 10px 5px #999;
}
.ism_template_43 .ism_box_vk:active {
  box-shadow: inset 0px 1px 0px #5d83aa, 0px 2px 0px 0px #3e4e5e, 0px 5px 3px #999;
}
.ism_template_43 .ism_box_digg{
	background-color:#005f93;
	box-shadow: inset 0px 1px 0px #005f93, 0px 5px 0px 0px #153e54, 0px 10px 5px #999;
}
.ism_template_43 .ism_box_digg:active {
  box-shadow: inset 0px 1px 0px #005f93, 0px 2px 0px 0px #153e54, 0px 5px 3px #999;
}
.ism_template_43 .ism_box_tumblr{
	background-color:#2c4762;
	box-shadow: inset 0px 1px 0px #2c4762, 0px 5px 0px 0px #28333f, 0px 10px 5px #999;
}
.ism_template_43 .ism_box_tumblr:active {
  box-shadow: inset 0px 1px 0px #2c4762, 0px 2px 0px 0px #28333f, 0px 5px 3px #999;
}
.ism_template_43 .ism_box_email {
	background-color: #666;
	box-shadow: inset 0px 1px 0px #666, 0px 5px 0px 0px #424140, 0px 10px 5px #999;
}
.ism_template_43 .ism_box_email:active {
  box-shadow: inset 0px 1px 0px #666, 0px 2px 0px 0px #424140, 0px 5px 3px #999;
}
.ism_template_43 .ism_box_reddit{
	background-color:#2cae2c; 
	box-shadow: inset 0px 1px 0px #2cae2c, 0px 5px 0px 0px #286127, 0px 10px 5px #999;
}
.ism_template_43 .ism_box_reddit:active {
  box-shadow: inset 0px 1px 0px #2cae2c, 0px 2px 0px 0px #286127, 0px 5px 3px #999;
}
.ism_template_43 .ism_box_delicious{
	background-color: #2f78c5;
	box-shadow: inset 0px 1px 0px #2f78c5, 0px 5px 0px 0px #29496a, 0px 10px 5px #999;
}
.ism_template_43 .ism_box_delicious:active {
  box-shadow: inset 0px 1px 0px #2f78c5, 0px 2px 0px 0px #29496a, 0px 5px 3px #999;
}
.ism_template_43 .ism_box_weibo{
	background-color: #ED1C24;
	box-shadow: inset 0px 1px 0px #ED1C24, 0px 5px 0px 0px #7d2023, 0px 10px 5px #999;
}
.ism_template_43 .ism_box_weibo:active {
  box-shadow: inset 0px 1px 0px #ED1C24, 0px 2px 0px 0px #7d2023, 0px 5px 3px #999;
}
.ism_template_43 .ism_box_xing{
	background-color: #00605e;
	box-shadow: inset 0px 1px 0px #00605e, 0px 5px 0px 0px #153e3d, 0px 10px 5px #999;
}
.ism_template_43 .ism_box_xing:active {
  box-shadow: inset 0px 1px 0px #00605e, 0px 2px 0px 0px #153e3d, 0px 5px 3px #999;
}
.ism_template_43 .ism_box_print{
	background-color: #333333;
	box-shadow: inset 0px 1px 0px #333333, 0px 5px 0px 0px #2b2b2a, 0px 10px 5px #999;
}
.ism_template_43 .ism_box_print:active {
  box-shadow: inset 0px 1px 0px #333333, 0px 2px 0px 0px #2b2b2a, 0px 5px 3px #999;
}
.ism_template_43 .ism_box_ok{
	background-color:#fb8433;
	box-shadow: inset 0px 1px 0px #fb8433, 0px 5px 0px 0px #834e2a, 0px 10px 5px #999;
}
.ism_template_43 .ism_box_ok:active {
  box-shadow: inset 0px 1px 0px #fb8433, 0px 2px 0px 0px #834e2a, 0px 5px 3px #999;
}
.ism_template_43 .ism_box_whatsapp{
	background-color:#2ab200;
	box-shadow: inset 0px 1px 0px #2ab200, 0px 5px 0px 0px #276214, 0px 10px 5px #999;
}
.ism_template_43 .ism_box_whatsapp:active {
  box-shadow: inset 0px 1px 0px #2ab200, 0px 2px 0px 0px #276214, 0px 5px 3px #999;
}
.ism_template_43 .ism_box_bufferapp{
	background-color: #000;
	box-shadow: inset 0px 1px 0px #000, 0px 5px 0px 0px #333, 0px 10px 5px #999;
}
.ism_template_43 .ism_box_bufferapp:active {
  box-shadow: inset 0px 1px 0px #000, 0px 2px 0px 0px #333, 0px 5px 3px #999;
}
.ism_template_43 .ism_box_mailru{
	background-color: #044b89;
	box-shadow: inset 0px 1px 0px #044b89, 0px 5px 0px 0px #173550, 0px 10px 5px #999;
}
.ism_template_43 .ism_box_mailru:active {
  box-shadow: inset 0px 1px 0px #044b89, 0px 2px 0px 0px #173550, 0px 5px 3px #999;
}
.ism_template_43 .ism_box_meneame{
	background-color: #f6711b;
	box-shadow: inset 0px 1px 0px #f6711b, 0px 5px 0px 0px #81461f, 0px 10px 5px #999;
}
.ism_template_43 .ism_box_meneame:active {
  box-shadow: inset 0px 1px 0px #f6711b, 0px 2px 0px 0px #81461f, 0px 5px 3px #999;
}
.ism_template_43 .ism_box_evernote{
	background-color: #7cbf4b;
	box-shadow: inset 0px 1px 0px #7cbf4b, 0px 5px 0px 0px #4b6835, 0px 10px 5px #999;
}
.ism_template_43 .ism_box_evernote:active {
  box-shadow: inset 0px 1px 0px #7cbf4b, 0px 2px 0px 0px #4b6835, 0px 5px 3px #999;
}
.ism_template_43 .ism_box_getpocket{
	background-color: #f03e58;
	box-shadow: inset 0px 1px 0px #f03e58, 0px 5px 0px 0px #7e2f3a, 0px 10px 5px #999;
}
.ism_template_43 .ism_box_getpocket:active {
  box-shadow: inset 0px 1px 0px #f03e58, 0px 2px 0px 0px #7e2f3a, 0px 5px 3px #999;
}
.ism_template_43 .ism_box_flattr{
	background-color: #7faf44;
	box-shadow: inset 0px 1px 0px #7faf44, 0px 5px 0px 0px #4d6131, 0px 10px 5px #999;
}
.ism_template_43 .ism_box_flattr:active {
  box-shadow: inset 0px 1px 0px #7faf44, 0px 2px 0px 0px #4d6131, 0px 5px 3px #999;
}
.ism_template_43 .ism_box_managewp{
	background-color: #248acb;
	box-shadow: inset 0px 1px 0px #248acb, 0px 5px 0px 0px #25516d, 0px 10px 5px #999;
}
.ism_template_43 .ism_box_managewp:active {
  box-shadow: inset 0px 1px 0px #248acb, 0px 2px 0px 0px #25516d, 0px 5px 3px #999;
}
.ism_template_43 .ism_box_myspace{
	background-color: #3a5998;
	box-shadow: inset 0px 1px 0px #3a5998, 0px 5px 0px 0px #2e3b56, 0px 10px 5px #999;
}
.ism_template_43 .ism_box_myspace:active {
  box-shadow: inset 0px 1px 0px #3a5998, 0px 2px 0px 0px #2e3b56, 0px 5px 3px #999;
}
.ism_template_43 .ism_box_hackernews{
	background-color: #f17626;
	box-shadow: inset 0px 1px 0px #f17626, 0px 5px 0px 0px #7f4824, 0px 10px 5px #999;
}
.ism_template_43 .ism_box_hackernews:active {
  box-shadow: inset 0px 1px 0px #f17626, 0px 2px 0px 0px #7f4824, 0px 5px 3px #999;
}
.ism_template_43 .ism_box_ymail{
	background-color: #511295;
	box-shadow: inset 0px 1px 0px #511295, 0px 5px 0px 0px #381c55, 0px 10px 5px #999;
}
.ism_template_43 .ism_box_ymail:active {
  box-shadow: inset 0px 1px 0px #511295, 0px 2px 0px 0px #381c55, 0px 5px 3px #999;
}
.ism_template_43 .ism_box_gmail{
	background-color: #e3513f;
	box-shadow: inset 0px 1px 0px #e3513f, 0px 5px 0px 0px #78382f, 0px 10px 5px #999;
}
.ism_template_43 .ism_box_gmail:active {
  box-shadow: inset 0px 1px 0px #e3513f, 0px 2px 0px 0px #78382f, 0px 5px 3px #999;
}

/*Template 44*/
.ism_template_44{
}
.ism_template_44 .ism_item_wrapper{
}

.ism_template_44 .ism_item{
	position: relative;
	margin:8px;
	border: 0;
	padding: 0 10px 0 0px;
	font-size: 40px;
	margin-right: 55px;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.24);
	-moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.24);
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.24);
	-webkit-transition: all 0.6s ease-out;
	-moz-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	-ms-transition: all 0.6s ease-out;
	transition: all 0.6s ease-out;
    display: inline-block;
}
.ism_template_44 .ism-align-vertical .ism_item{
	margin:2px 0;
}

.ism_template_44 .fa-ism{
	line-height: 40px;
	width: 35px;
	position:relative;
	border-right: solid 1px rgba(0,0,0,0.2);	
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	color:#333;
	z-index: 999;
	position: relative;
	text-shadow: 0 1px 0px #fff;
}

.ism_template_44 .ism_share_label{
	line-height: 40px;
	color:#333;
	margin-left:0px;
	padding-left:10px;
	padding-right:40px;
	-webkit-transition: all 0s ease-out;
	-moz-transition: all 0s ease-out;
	-o-transition: all 0s ease-out;
	-ms-transition: all 0s ease-out;
	transition: all 0s ease-out;
	border-radius: 4px 200px 0px 4px;
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	border-right: 1px solid #aaa;
	z-index: 999;
	text-shadow: 0 1px 0px #fff;
	position: relative;
}
.ism_template_44 .ism_share_counts{
	line-height: 30px;
	position: absolute;
	right: 14px;
	top: 3%;
	display: block;
	z-index: 50;
	height: 100%;
	box-sizing: border-box;
	text-align: right;
	overflow:visible;
	text-align:center;
}
.ism_template_44 .ism_share_counts:after{
	content:" Shares";
	font-weight: 400;
	display: block;
	height:15px;
	font-size: 12px;
	margin-top: -15px;
}
.ism_template_44 .ism_item:hover {
	padding-right:55px;
	margin-right:10px;
}
.ism_template_44 .isf_sublabel_fe{
	margin-left:5px;
	line-height:40px;
}
.ism_template_44 .ism_box_facebook:hover .fa-ism{
	color:rgb(59, 89, 152);
}
.ism_template_44 .ism_box_twitter:hover .fa-ism{
	color:#00ABF0;
}
.ism_template_44 .ism_box_google:hover .fa-ism{
	color:rgb(217, 82, 50);
}
.ism_template_44 .ism_box_linkedin:hover .fa-ism{
	color:rgb(28, 134, 188);
}
.ism_template_44 .ism_box_pinterest:hover .fa-ism{
	color:rgb(174, 24, 31);
}
.ism_template_44 .ism_box_stumbleupon:hover .fa-ism{
	color:rgb(233, 75, 36);
}
.ism_template_44 .ism_box_vk:hover .fa-ism{
	color:#5d83aa;
}
.ism_template_44 .ism_box_digg:hover .fa-ism{
	color:#005f93;
}
.ism_template_44 .ism_box_tumblr:hover .fa-ism{
	color:#2c4762;
}
.ism_template_44 .ism_box_email:hover .fa-ism{
	color:#666;
}
.ism_template_44 .ism_box_reddit:hover .fa-ism{
	color:#2cae2c; 
}
.ism_template_44 .ism_box_delicious:hover .fa-ism{
	color:#2f78c5;
}
.ism_template_44 .ism_box_weibo:hover .fa-ism{
	color:#ED1C24;
}
.ism_template_44 .ism_box_xing:hover .fa-ism{
	color:#00605e;
}
.ism_template_44 .ism_box_print:hover .fa-ism{
	color:#333333;
}


.ism_template_44 .ism_box_ok:hover .fa-ism{
	color: #fb8433;
}
.ism_template_44 .ism_box_whatsapp:hover .fa-ism{
	color: #2ab200;
}
.ism_template_44 .ism_box_bufferapp:hover .fa-ism{
	color: #000;
}
.ism_template_44 .ism_box_mailru:hover .fa-ism{
	color: #044b89;
}
.ism_template_44 .ism_box_meneame:hover .fa-ism{
	color: #f6711b;
}
.ism_template_44 .ism_box_evernote:hover .fa-ism{
	color: #7cbf4b;
}
.ism_template_44 .ism_box_getpocket:hover .fa-ism{
	color: #f03e58;
}
.ism_template_44 .ism_box_flattr:hover .fa-ism{
	color: #7faf44;
}
.ism_template_44 .ism_box_managewp:hover .fa-ism{
	color: #248acb;
}
.ism_template_44 .ism_box_myspace:hover .fa-ism{
	color: #3a5998;
}
.ism_template_44 .ism_box_hackernews:hover .fa-ism{
	color: #f17626;
}
.ism_template_44 .ism_box_ymail:hover .fa-ism{
	color: #511295;
}
.ism_template_44 .ism_box_gmail:hover .fa-ism{
	color: #e3513f;
}

/*Template 45*/
.ism_template_45{
}
.ism_template_45 .ism_item_wrapper{
	vertical-align:bottom;
}

.ism_template_45 .ism_item{
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #dfdfdf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dfdfdf));
	background: -webkit-linear-gradient(top, #ffffff 0%,#dfdfdf 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#dfdfdf 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#dfdfdf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dfdfdf',GradientType=0 );
	background: linear-gradient(top, #ffffff 0%,#dfdfdf 100%);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 3px 0px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 1px 3px 0px rgba(0,0,0,0.4);
	box-shadow: 0 1px 3px 0px rgba(0,0,0,0.4);
	padding: 0px 12px;
	padding-left:42px;
	position:relative;
	overflow:visible;
  	margin: 6px;
	margin-top:20px;
	margin-bottom:6px;
}
.ism_template_45 .ism-align-vertical .ism_item{
	margin:17px 0;
	margin-bottom:6px;
}
.ism_template_45 .fa-ism{
	position:absolute;
	left: 8px;
	bottom: 5px;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 2px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 1px 2px 0px rgba(0,0,0,0.3);
	box-shadow: 0 1px 2px 0px rgba(0,0,0,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	color:#fff;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
.ism_template_45 .ism_item:hover .fa-ism{
	-webkit-transform: translateY(9px);
	transform: translateY(9px);
}
.ism_template_45 .ism_share_label{
	color: #333;
	text-shadow: 1px 1px 0px white;
	line-height:24px;
}
.ism_template_45 .ism_share_counts{
	color: #333;
	text-shadow: 1px 1px 0px white;
	line-height:24px;
}

.ism_template_45 .fa-facebook-ism{
	background-color:rgb(59, 89, 152);
}
.ism_template_45 .fa-twitter-ism{
	background-color:#00ABF0;
}
.ism_template_45 .fa-google-ism{
	background-color:rgb(217, 82, 50);
}
.ism_template_45 .fa-linkedin-ism{
	background-color:rgb(28, 134, 188);
}
.ism_template_45 .fa-pinterest-ism{
	background-color:rgb(174, 24, 31);
}
.ism_template_45 .fa-stumbleupon-ism{
	background-color:rgb(233, 75, 36);
}
.ism_template_45 .fa-vk-ism{
	background-color:#5d83aa;
}
.ism_template_45 .fa-digg-ism{
	background-color:#005f93;
}
.ism_template_45 .fa-tumblr-ism{
	background-color:#2c4762;
}
.ism_template_45 .fa-email-ism{
	background-color:#666;
}
.ism_template_45 .fa-reddit-ism{
	background-color:#2cae2c; 
}
.ism_template_45 .fa-delicious-ism{
	background-color:#2f78c5;
}
.ism_template_45 .fa-weibo-ism{
	background-color:#ED1C24;
}
.ism_template_45 .fa-xing-ism{
	background-color:#00605e;
}
.ism_template_45 .fa-print-ism{
	background-color:#333333;
}
.ism_template_45 .fa-ok-ism{
	background-color: #fb8433;
}
.ism_template_45 .fa-whatsapp-ism{
	background-color: #2ab200;
}
.ism_template_45 .fa-bufferapp-ism{
	background-color: #000;
}
.ism_template_45 .fa-mailru-ism{
	background-color: #044b89;
}
.ism_template_45 .fa-meneame-ism{
	background-color: #f6711b;
}
.ism_template_45 .fa-evernote-ism{
	background-color: #7cbf4b;
}
.ism_template_45 .fa-getpocket-ism{
	background-color: #f03e58;
}
.ism_template_45 .fa-flattr-ism{
	background-color: #7faf44;
}
.ism_template_45 .fa-managewp-ism{
	background-color: #248acb;
}
.ism_template_45 .fa-myspace-ism{
	background-color: #3a5998;
}
.ism_template_45 .fa-hackernews-ism{
	background-color:#f17626;
}
.ism_template_45 .fa-ymail-ism{
	background-color:#511295;
}
.ism_template_45 .fa-gmail-ism{
	background-color:#e3513f;
}