@font-face {
    font-family: 'Chunkfive';
    src: url('Chunkfive/Chunk.otf') format('otf'),
         url('Chunkfive/Chunk.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
html {
      -webkit-font-smoothing: antialiased;    
}
.wpcc01-counter-wrapper{
    float: left;
    display: inline;
    padding: 0;
    margin: 0;
    padding: 20px 15px 15px 5px;
    box-sizing: border-box;
    margin: 15px 0px;
}
.wpcc01-counter-wrapper p{
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: normal;
}
.wpcc01-counter-icon{
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    line-height: normal;
}
.wpcc01-counter-title{
	width: 100%;
    font-family: 'Fira Sans';
    font-weight: 300;
    text-align: center;
    box-sizing: border-box;
    line-height: normal;
    margin: 0 !important;
    padding: 0 !important;
}
.wpcc01-counter-value{
    width: 100%;
    font-family: 'Fira Sans';
    font-weight: 700;
    text-align: center;
    box-sizing: border-box;
    line-height: normal;
    margin: 0 !important;
    padding: 0 !important;
}
.wpcd01-counter-title-border{
    border-bottom: 4px solid #000;
    line-height: 4px;
    height: 4px;
    margin: 0 !important;
    padding: 0 !important;
}


