html {
      -webkit-font-smoothing: antialiased;    
}
.wpcd01-countdown-wrapper{
    float: left;
    width: 100%;
    clear: both;
    margin: 15px 0px;
}
.ClassyCountdown-wrapper > div {
    display: inline-block;
    position: relative;
    width: calc(25% - 20px);
    margin: 10px;
}
.ClassyCountdown-wrapper .ClassyCountdown-value {
    width: 100%;
    line-height: 1em;
    position: absolute;
    top: 50%;
    text-align: center;
    left: 0;
    display: block;
}