* { margin:0; padding:0; list-style:none; }
body { margin:0; padding:0; background:#03538a url('/img/bg.gif'); }
body, td { font:normal 11px verdana,arial,sans-serif; color:#000000; }
img, abbr, table, td { border:0 none; }
#centro { width:100%; height:100%; text-align:center; }
#site { width:962px; margin:0 auto; text-align:left; background:#ffffff url('/img/linha.gif') repeat-y; border:1px solid #bec9d1; border-top:0 none; display:table; height:100%; }
#menu { width:151px; height:900px; float:left; text-align:center; }
#menu #menu-logo { margin-top:3px; height:38px; }
#menu #menu-logo a { padding:30px 0; }
#menu #menu-logo a:hover { background-color:#f7f8f9; }
#menu ul { width:151px; margin:0 auto; margin-top:0; background:#ffffff; }
#menu ul li { border-top:1px solid #bec9d1; position: relative; text-align:left; background:#ffffff; }
#menu ul li a { background: url('/img/icones_menu.png') no-repeat top left; padding:10px 5px 8px 40px; display:block; height:16px; text-decoration:none; font:bold 11px tahoma,arial,verdana,sans-serif; color:#205c98; }
#menu ul li a.m_paginainicial { background-position: 0 -1540px; }
#menu ul li a.m_concursos { background-position: 0 -350px; }
#menu ul li a.m_nacional { background-position: 0 -1190px; }
#menu ul li a.m_sudeste { background-position: 0 -1820px; }
#menu ul li a.m_sul { background-position: 0 -1890px; }
#menu ul li a.m_norte { background-position: 0 -1330px; }
#menu ul li a.m_nordeste { background-position: 0 -1260px; }
#menu ul li a.m_centrooeste { background-position: 0 -210px; }
#menu ul li a.m_apostilas { background-position: 0 0; }
#menu ul li a.m_noticias { background-position: 0 -1400px; }
#menu ul li a.m_ultimas { background-position: 0 -2030px; }
#menu ul li a.m_professores { background-position: 0 -1610px; }
#menu ul li a.m_estagios { background-position: 0 -840px; }
#menu ul li a.m_pcitv { background-position: 0 -2260px; }
#menu ul li a.m_previstos { background-position: 0 -2220px; }
#menu ul li a.m_formacao { background-position: 0 -980px; }
#menu ul li a.m_empregos { background-position: 0 -770px; }
#menu ul li a.m_cargos { background-position: 0 -140px; }
#menu ul li a.m_simulados { background-position: 0 -1750px; }
#menu ul li a.m_curriculo { background-position: 0 -560px; }
#menu ul li a.m_testes { background-position: 0 -1960px; }
#menu ul li a.m_provas { background-position: 0 -1680px; }
#menu ul li a.m_links { background-position: 0 -1120px; }
#menu ul li a.m_aulas { background-position: 0 -70px; }
#menu ul li a.m_pcidicas { background-position: 0 -420px; }
#menu ul li a.m_videos { background-position: 0 -2170px; }
#menu ul li a.m_videoaulas { background-position: 0 -2100px; }
#menu ul li a.m_comopassar { background-position: 0 -280px; }
#menu ul li a.m_cursos {  background-position: 0 -630px; }
#menu ul li a.m_diariooficial { background-position: 0 -700px; }
#menu ul li a.m_organizadoras { background-position: 0 -1470px; }
#menu ul li a.m_favoritos { background-position: 0 -910px; }
#menu ul li a.m_contato { background-position: 0 -490px; }
#menu ul li a.m_forum { background-position: 0 -1050px; }
#menu ul li a.m_icon_video { background:url('/img/icon_video.png') 8px 3px no-repeat; background-size: 25px 25px; }
#menu ul li a.m_icon_psicologia { background:url('/img/icon_psicologia.png') 8px 3px no-repeat; background-size: 25px 25px; }
#menu ul li a:hover { color:#000000; background-color:#f7f8f9; }
#menu ul li ul { margin:0; }
#menu ul li ul li:first-child { border-top:1px solid #bec9d1; }
#menu p.carrinho { margin:0; padding:25px 0; text-align:center; }
#conteudo { width:632px; float:left; background:#ffffff url('/img/menu_topo.png') no-repeat; padding:0 12px 200px 12px; border-left:1px solid #bec9d1; border-right:1px solid #bec9d1; overflow:hidden; }
#rodape { clear:both; text-align:center; font:normal 12px arial,verdana,sans-serif; color:#c0c0c0; }
#rodape a { font:normal 12px arial,verdana,sans-serif; color:#c0c0c0; text-decoration:none; }
#rodape a:hover { text-decoration:underline; }
#lateral { margin:0; padding:0; width:145px; float:left;   }
#lateral #lateralnoticias ul { margin:0; padding:0; margin-top:8px; background:#ffffff; }
#lateral #lateralnoticias ul li { width:130px; margin:0 0 8px 12px; border:1px solid #bec9d1; border-radius:6px; background:#ffffff; }
#lateral #lateralnoticias ul li a { display:block; padding:10px 5px 10px 5px; text-align:center; font:normal 11px verdana,arial,sans-serif; color:#999999; text-decoration:none; }
#lateral #lateralnoticias ul li a:hover { color:#205c98; }
#conteudo #menu-topo { margin:0; padding:0; height:40px;  }
#conteudo #menu-topo ul { margin:0 0 0 0; padding:0; height:30px; border-bottom:1px solid #bec9d1; list-style:none; }
#conteudo #menu-topo ul li { float:left; }
#conteudo #menu-topo ul li a { display:block; text-decoration:none; font:bold 16px arial,verdana,sans-serif; color:#205c98; padding:5px 12px 5px 10px; }
#conteudo #menu-topo ul li a:hover {text-decoration:underline; }
#conteudo .player { width:630px; }
#conteudo .formulario { font:bold 11px verdana,arial,sans-serif; background-color:#f0f0f0; color:#205c98; }
#conteudo .formulariov { font:bold 11px verdana,arial,sans-serif; background-color:#f0f0f0; color:#ff0000; }
#conteudo .campo { font:bold 11px verdana,arial,sans-serif; background-color:#f0f0f0; color:#205c98; border:1px solid #b0bec7; padding:3px; }
#conteudo .campov, #conteudo .botaov { font:bold 11px verdana,arial,sans-serif; background-color:#f0f0f0; color:#ff0000; }
#conteudo .botao { background:#f0f0f0 url('/img/bgm.gif') repeat-x; border:1px solid #bec9d1; padding:2px; font:bold 11px verdana,arial,sans-serif; color:#205c98; }
#conteudo .botaoa { font:bold 11px verdana,arial,sans-serif; background-color:#205c98; color:#ffffff; }
#conteudo a { text-decoration:none; color:#000000; }
#conteudo a:hover { text-decoration:underline; color:#205c98; }
#conteudo a.nav { font:bold 14px verdana,arial,sans-serif; color:#ff0000; padding:5px 5px; background:#f0f0f0 url('/img/bgc.gif') repeat-x; border:1px solid #bec9d1; }
#conteudo a:hover.nav { color:#cc0000; text-decoration:none; border:1px solid #8095a4; }
#conteudo span.nav_selecionado { font:bold 14px verdana,arial,sans-serif; color:#000000; padding:5px 5px; background:#f0f0f0 url('/img/bgc.gif') repeat-x; border:1px solid #000000; }
#conteudo .breadcrumbs { margin-bottom:6px; font:normal 11px verdana,arial,sans-serif; color:#000000; }
#conteudo .breadcrumbs a { font:bold 11px verdana,arial,sans-serif; color:#205c98; }
#conteudo .breadcrumbs strong { font:bold 11px verdana,arial,sans-serif; color:#000000; }
h1 { border:1px solid #bec9d1; border-left:0 none; border-right:0 none; border-radius:0; margin:10px 0 20px 0; padding:10px 0; background:none; font:bold 28px arial,verdana,sans-serif; text-align:center; color:#666666; }
h2 { border:0px; margin:10px 0 10px 0; padding:8px 0 9px 6px; background:#ffffff; font:bold 19px arial,verdana,sans-serif; text-align:left; color:#205c98;
     background-image: linear-gradient(90deg, #205c98, transparent), linear-gradient(90deg, #205c98, transparent);
     background-size:60% 1px;
     background-position:0 0, 0 100%;
     background-repeat:no-repeat;
}
#conteudo .form-pesquisa { margin:0; padding:0; text-align:center; box-sizing:border-box; }
#conteudo .campo-pesquisa { margin:0; padding:7px; width:300px; font:bold 16px arial,verdana,sans-serif;  border:1px solid #bec9d1; border-top-left-radius:6px; border-bottom-left-radius:6px; background:#ffffff; color:#205c98; }
#conteudo .botao-pesquisa { margin:0; padding:7px 20px; font:bold 16px arial,verdana,sans-serif;  border:1px solid #bec9d1; border-top-right-radius:6px; border-bottom-right-radius:6px; background:#ffffff none; color:#205c98; }
@-moz-document url-prefix() { #conteudo .botao-pesquisa { padding:6px 20px; } }
/* link */
#conteudo ul.linkb { box-sizing:border-box; }
#conteudo ul.linkb li { padding:2px 0; display:table; width:100%; }
#conteudo ul.linkb li a, #conteudo ul.linkb li span { padding:4px 0 5px 30px; background:#ffffff url('/img/linkd.png') 0 3px no-repeat; background-size:25px 25px; border:1px solid #ffffff; font:16px helvetica,arial,sans-serif; line-height:100%; color:#666666; line-height:140%; vertical-align:top; display:table-cell; }
#conteudo ul.linkb li a:hover { text-decoration:none; color:#205c98; border:1px solid #f7f8f8; background-color:#f7f8f8; }
#conteudo ul.linkd { margin:0; padding:0 0 0 3px; list-style:none; }
#conteudo ul.linkd li { margin:0; padding:5px 0 5px 32px; background:#ffffff url('/img/linkd.png') 0 5px no-repeat; text-indent:-32px; background-size: 25px 25px; font:16px helvetica,arial,sans-serif; line-height:160%; color:#666666; }
#conteudo ul.linkd li a { margin:0; padding:0 0 0 32px; color:#666666; }
#conteudo ul.linkd li a:hover { text-decoration:none; color:#205c98; }
#conteudo ul.linkd li a span { margin:0; padding:0; }
#conteudo ul.linkd li span { margin:0; padding:0 0 0 32px; color:#666666; }
#conteudo ul.linkd li span a { margin:0; padding:0; color:#205c98; }
#conteudo ul.linkd li span a:hover { text-decoration:underline; color:#205c98; }
#conteudo ul.linkd li span span { margin:0; padding:0; color:#205c98; }
#conteudo ul.linkd li span.aviso { border:1px dotted #cc3300; font:bold 9px verdana,arial,sans-serif; margin:0; padding:1px 4px; color:#cc3300; }
/* atendimento */
#atendimento p.contato { margin:20px 0 0 0; padding:20px 0 40px 0; text-align:center; }
#atendimento p.contato a { font:bold 13px verdana,arial,sans-serif; color:#000000; }
#atendimento p.contato a:hover { color:#205c98; }
#atendimento table.telefones {  border:1px solid #bec9d1; border-radius:16px; }
#atendimento table.telefones td { font:bold 11px verdana,arial,sans-serif; color:#205c98; text-align:center; border-bottom:1px solid #bec9d1; border-right:1px solid #bec9d1; padding:4px 6px; }
#atendimento table.telefones td.f { border-right:0 none; }
#atendimento table.telefones td.telefones_top { height:50px; border-top: 0 none; border-right:0 none; }
#atendimento table.telefones td.telefones_bottom { padding:15px 5px; width:350px; border-bottom:0 none; border-right:0 none; }
/* aulas */
#menu ul li.l_aulas ul { display:none; }
/* ads */
.ads10  { width:630px;  height:250px; margin:20px 0; padding:0; text-align:center; }
.ads11  { width:300px;  height:250px; margin-left:10px; float:left; }
.ads12  { width:300px;  height:250px; margin-left:10px; float:left; }
.ads20  { width:630px;  height:280px; margin:20px 0; padding:0; text-align:center; }
.ads21  { width:336px;  height:280px; margin:0 auto; }
.ads30  { width:630px;  height:280px; margin:20px 0; padding:0; text-align:center; }
.ads31  { width:336px;  height:280px; margin:0 auto; }
.ads200 { width:630px;  height:250px; margin:20px 0; padding:0; text-align:center; }
.ads210 { width:300px;  height:250px; margin:0 auto; }
.ads300 { width:630px;  height:250px; margin:20px 0; padding:0; text-align:center; }
.ads310 { width:300px;  height:250px; margin:0 auto; }
.slicknav_menu { display:none; }
@media screen and (max-width:768px) {
    #menu-topo { display:none; }
    #lateral { display:none; }
    #rodape { display:none; }
    #site { width:657px; background:#ffffff none; border-radius:0; }
    #menu { height:auto; width:657px; border-bottom:1px solid #bec9d1; }
    #menu ul { margin-left:27px; width:630px; }
    #menu ul li { float:left;  width:200px; }
    #menu ul li a { height:18px; font:bold 17px arial,verdana,sans-serif; line-height:100%; }
    #menu .carrinho { display:none; }
    #menu .li_links { display:none; }
    #menu .li_organizadoras { display:none; }
    #menu .li_diariooficial { display:none; }
    #menu ul li ul li { display:none; }
    #conteudo { padding-top:10px; background:#ffffff none; border:0 none; }
    #conteudo #capa .date { margin-left:30px; }
    #menu #menu-logo a img {}
}
@media screen and (max-width:480px) {
    #menu, #lateral, #menu-topo, #rodape {
        display:none;
    }
    #conteudo { padding-top:20px; background:#ffffff none;    }
    #site { width:657px; background:#ffffff none; border:0 none; border-left:1px solid #bec9d1; border-right:1px solid #bec9d1; border-radius:0; }
    #conteudo #capa .date { margin-left:30px; }
    #conteudo .campo-pesquisa { padding-left:0; padding-right:0; width:180px; }
    #conteudo .botao-pesquisa { padding-left:2px; padding-right:2px; }
    #conteudo .player { width:auto; }
    #atendimento table.telefones td { padding:3px 0; }
    #atendimento .telefones_top img { display:none; }
    #atendimento .telefones_bottom img { width:250px; }
    .ads10, .ads11, .ads12, .ads20, .ads21, .ads30, .ads31, .ads200, .ads210, .ads300, .ads310 { width:100%; }
    .ads10 { width:0; height:0; margin-top:10px;  }
    .ads11 { display: none; margin:0; }
    .ads12 { display: none; }

    .slicknav_menu {
        box-sizing:border-box;
        display:block;
        background:#205c98;
        font-size: 26px;
    }
    .slicknav_menu .slicknav_btn {
        background-color:#ffffff;
        color:#205c98;
    }
    .slicknav_menu .slicknav_menutxt {
        color:#205c98;
        text-shadow:0 1px 1px #5990c3;
    }
    .slicknav_menu .slicknav_icon {
        color:#205c98;
        margin-top:3px;
    }
    .slicknav_menu .slicknav_icon-bar {
        background-color:#205c98;
        border:2px solid #205c98;
        border-top:3px solid #205c98;
        box-shadow:none;
    }
    .slicknav_menu .slicknav_nav a:hover {
        background-color:#f7f8f9;
        color:#222222;
    }
    .slicknav_nav .slicknav_row:hover a {
        color:#222222;
    }
    .slicknav_menu .m_links,
    .slicknav_menu .m_cargos,
    .slicknav_menu .m_diariooficial,
    .slicknav_menu .m_organizadoras {
        display:none;
    }
}