
/* slidewrapper
--------------------------------------------------------------------------*/
#slidewrapper {
  position: relative;
  background-color: #fff;
  width: 635px;
	border:1px solid #dcdde0;
}

#slidewrapper #images {
	width: 623px;
	padding:4px 3px;
	border-left:3px solid #dcdde0;
	border-right:3px solid #dcdde0;
	border-top:2px solid #dcdde0;
	border-bottom:6px solid #dcdde0;
}

#slidewrapper #images ul {
	overflow: hidden;
	width: 623px;
	height:180px;
}

#slidewrapper #images ul li {
  display: none;
  float: left;
	width: 623px;
	height:180px;
}

#slidewrapper #images ul li.selected {
  display: block;
}

#thumbs {
	width:605px;
	height:46px;
	margin-left:15px;
  overflow: hidden;
	background:#dcdde0;
}

#thumbs p {
	float:left;
  width: 119px;
  height: 46px;
  margin: 0 1px;
	padding:0;
}

#thumbs a {
	display:block;
  width: 119px;
  height: 46px;
	text-indent:-9999px;
}

#thumbs p#simg01_thumb a {
	background: url("../img/nav_201604.jpg") no-repeat 0 0;
}
#thumbs p#simg02_thumb a {
	background: url("../img/nav_animaxmusix.jpg") no-repeat 0 0;
}
#thumbs p#simg03_thumb a {
/*	background: url("../img/nav_jcbmgl.jpg") no-repeat 0 0; */
	background: url("../img/nav_sao.jpg") no-repeat 0 0;
}
#thumbs p#simg04_thumb a {
/*	background: url("../img/nav_2015SP08.jpg") no-repeat 0 0; */
/*	background: url("../img/nav_sao.jpg") no-repeat 0 0; */
	background: url("../img/nav_bellemaison.jpg") no-repeat 0 0; 
}
#thumbs p#simg05_thumb a {
	background: url("../img/nav_EPARK.jpg") no-repeat 0 0;
}

#thumbs p#simg06_thumb a {
	background: url("../img/nav_bellemaison.jpg") no-repeat 0 0;
}
#thumbs p#simg07_thumb a {
	background: url("../img/nav_lisa.jpg") no-repeat 0 0;
}

#thumbs p#simg08_thumb a {
	background: url("../img/nav_2015SP08.jpg") no-repeat 0 0;
}

#thumbs p#simg09_thumb a {
	background: url("../img/nav_wimax2.jpg") no-repeat 0 0;
}
#thumbs p#simg10_thumb a {
	background: url("../img/nav_20160701.jpg") no-repeat 0 0;
}
#thumbs p#simg11_thumb a {
	background: url("../img/nav_20160701_02.jpg") no-repeat 0 0;
}
#thumbs p#simg12_thumb a {
	background: url("../img/nav_petitmilady.jpg") no-repeat 0 0;
}
#thumbs p#simg13_thumb a {
background: url("../img/nav_wowow_161114.jpg") no-repeat 0 0;
}


#thumbs p#simg01_thumb a:hover,
#thumbs p#simg01_thumb.selected a {
	background: url("../img/nav_201604.jpg") no-repeat 0 -46px;
}
#thumbs p#simg02_thumb a:hover,
#thumbs p#simg02_thumb.selected a {
	background: url("../img/nav_animaxmusix.jpg") no-repeat 0 -46px;
}
#thumbs p#simg03_thumb a:hover,
#thumbs p#simg03_thumb.selected a {
/*	background: url("../img/nav_jcbmgl.jpg") no-repeat 0 -46px; */
	background: url("../img/nav_sao.jpg") no-repeat 0 -46px;
}
#thumbs p#simg04_thumb a:hover,
#thumbs p#simg04_thumb.selected a {
/*	background: url("../img/nav_2015SP08.jpg") no-repeat 0 -46px; */
/*	background: url("../img/nav_sao.jpg") no-repeat 0  -46px; */
	background: url("../img/nav_bellemaison.jpg") no-repeat 0  -46px;
}
#thumbs p#simg05_thumb a:hover,
#thumbs p#simg05_thumb.selected a {
	background: url("../img/nav_EPARK.jpg") no-repeat 0 -46px;
}
#thumbs p#simg06_thumb a:hover,
#thumbs p#simg06_thumb.selected a {
	background: url("../img/nav_bellemaison.jpg") no-repeat 0 -46px;
}

#thumbs p#simg07_thumb a:hover,
#thumbs p#simg07_thumb.selected a {
	background: url("../img/nav_lisa.jpg") no-repeat 0 -46px;
}

#thumbs p#simg08_thumb a:hover,
#thumbs p#simg08_thumb.selected a {
	background: url("../img/nav_2015SP08.jpg") no-repeat 0 -46px;
}
#thumbs p#simg09_thumb a:hover,
#thumbs p#simg09_thumb.selected a {
	background: url("../img/nav_wimax2.jpg") no-repeat 0 -46px;
}
#thumbs p#simg10_thumb a:hover,
#thumbs p#simg10_thumb.selected a {
	background: url("../img/nav_20160701.jpg") no-repeat 0 -46px;
}
#thumbs p#simg11_thumb a:hover,
#thumbs p#simg11_thumb.selected a {
	background: url("../img/nav_20160701_02.jpg") no-repeat 0 -46px;
}
#thumbs p#simg12_thumb a:hover,
#thumbs p#simg12_thumb.selected a {
	background: url("../img/nav_petitmilady.jpg") no-repeat 0 -46px;
}
#thumbs p#simg13_thumb a:hover,
#thumbs p#simg13_thumb.selected a {
background: url("../img/nav_wowow_161114.jpg") no-repeat 0 -46px;
}



#prev {
  width: 14px;
  height: 46px;
  display: block;
  background: transparent url("../img/bg_carousel_right_off.png") no-repeat 0 0;
  position: absolute;
  left: 621px;
  bottom: 0;
}

#next {
  width: 14px;
  height: 46px;
  display: block;
  background: transparent url("../img/bg_carousel_left_off.png") no-repeat 0 0;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* clearfix
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.clearfix:after { clear: both; height: 0; visibility: hidden; display: block; content: ".";}
.clearfix { display: inline-table;}
/*\*/
*html .clearfix { height: 1%;}
.clearfix { display:block;}
/**/
