#card_rc {
	position: absolute; top:133px; left:-42px; margin: 0px; width: 682px;height: 33px;  background-color: #cccccc; overflow: hidden;
/*	position: absolute; top:133px; left:-35px; margin: 0px; width: 675px;height: 33px;  background-color: #cccccc; overflow: hidden; */
  }
#card_rc_frame {
	position: absolute; top:134px;left:640px;vertical-align:top; margin:0px;
}
#card_rc_previous {
	float: left;
}
#card_rc_content {
	position: absolute;
	left:1px;
	margin-left: 0px;
	top: 0px;
	vertical-align:top;
}
#card_rc_content #card_rc_content li {
	padding-bottom: 0px; list-style-type: none; margin: 0px; padding-left: 0px; padding-right: 0px; list-style-image: none; padding-top: 0px; float:left;
}
#card_rc_content {
	width: 660px;vertical-align:top;
/*	width: 5418px;vertical-align:top; */
}
#container_bd #card_rc ul li {
 padding:0px;	border-bottom: #ffffee 1px solid; border-left: #ffffee 1px solid; padding-bottom: 0px; background-color: #ffffee; margin: 0px; display: block; float: left; border-top: #ffffee 1px solid; border-right: #ffffee 1px solid; }
#container_bd #card_rc ul li img {
	display: block;
}
body {
	text-align: center; padding:0; background-color: #f8f8f8; color: #666;vertical-align:top;
}
div#container {
 background-color: #ffffee; margin: 0px; padding: 0px; width: 640px;vertical-align:top;
}
div#container_bd ul {
	list-style-type: none;
}
div#container_bd ul li {
	margin: 0px;
}
div#container_main {
	position: absolute; top:0; left:0;  background-color:#cccccc; width:642px; height:168px; z-index:0;
}
