@charset "euc-jp";

/*+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+■Reset
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
--+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+*/

body,div,pre,p,blockquote,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,pre,
form,fieldset,input,textarea,select,option,table,th,td,embed,object{
	margin:0;
	padding:0;
}

.p12s2 { margin-top:2px; margin-left:2px; padding-top:2px; padding-left:0px; font-size:12px; vertical-align:top; }
.p12s3 { padding-top:3px; font-size:12px; }
.p12s5 { font-size:12px; vertical-align:top; white-space:nowrap; margin-top:3px; vertical-align:top;}
.p12s6 { font-size:12px; height:16px; width:120px; margin-top:2px; vertical-align: text-bottom; ime-mode:active;}
.p12s7 { font-size:12px; vertical-align:top; margin:0px; padding:0px; }

li{list-style-type: none;}

fieldset,table,img{border:0;vertical-align:top;}
table{
	border-collapse:collapse;
	border-spacing:0;
}


body,h1,h2,h3,h4,h5,h6,td,th,p,div,input,textarea,pre,ul,li,ol{
	font-weight:normal;
	font-style:normal;
}
/* 2011.08.26 add */
#hmaster{
	width: 890px;
	_width: 895px;
	height: 90px;
	margin: 0 auto;
	position:relative;
	background-color:#ffffff;
}
#hmaster.div { text-align:center; margin: 0 auto; }
/* 2011.08.26 end */


#master{
	width: 890px;
	margin: 0 auto;
/*	_margin-left:40px; */
	_text-align:justify;
	position:relative;
/*	margin-top:-63px; */
}

#master.div { _text-align:center; _margin: 0 auto; }

/*+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+■Body
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
--+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+*/

body{text-align:left; _text-align:center;}

h1,h2,h3,h4,h5,h6,p,li,dt,dd,form,pre,td{
	color:#666666;
	font-size:12px;
	line-height:14px;
}
h4 { display:none;}

img { border:none;}
/*+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+■Header
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
--+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+*/

#hdm {
	width:890px;
	height:84px;
	position:absolute;
	margin:0px;
	padding:0px;
	top:0px;
/*	z-index:3; */
	background-color:#ffffff;
/*	background-image:url(../images/top/top_lg_w.jpg);
	background-repeat:no-repeat;
	background-attachment: !important;
	background-position:left top; */
	

}

#under_m {
	width:890px;
	height:9px;
	position: relative;
	left:0px;
	top:0px;
	background-image:url(../images/top/under_m.jpg);
	background-repeat:no-repeat;
	
}

ul.menu2{width:890px; margin: 0px; padding: 0px;}
ul.menu2 li{float: left; list-style: none outside; margin: 0px; text-align: center;}
ul.menu2 li img{height: 36px; margin-left:2px; margin-top:0px; }
ul.menu2 li img.fb{height: 22px; margin-left:2px; margin-top:7px; margin-right:2px; vertical-align:top; }

ul.menu{width:920px; margin: 0px; padding: 0px;}
ul.menu li{float: left; list-style: none outside; margin: 0px; text-align: center; margin-right: 8px;}
ul.menu li img{height: 30px; margin:0px; }

#umenu {
	width:890px;
	height:30px;
	margin:0px;
	padding:0px;
}

#dmenu {
	width:890px;
	height:40px;
	margin:0px;
	padding:0px;
	margin-top:3px;
}

#menu {
	width:890px;
	height:80px;
	margin:0px;
	padding:0px;
/*	left:217px;
	top:0px;
*/	
}

#hdn {
	display:block;
	width:52px;
	height:52px;
	position:absolute;
	margin:0px;
	padding:0px;
	top:0px;
	left:0px;
	margin-top:8px;
	margin-left:9px;
	background-color:#ffffff;
	z-index:2;
}
h1 img { border:none;}
#hdn h1 span {font-size:10px; }
.search-box { 
		margin-top:7px;
		-margin-top:9px;
		-padding-top:9px;
		border:1px solid #cccccc;
		width:100px;
		height:17px;
		-height:18px;
		}
.search-btn { 
		margin-top:9px;
		-margin-top:10px;
		-padding-top:10px;
		margin-left:3px;
		width:70px;
		height:17px;
		}
#menu li.com {
/* 		width:210px; */
 		width:210px;
		margin-top:11px;
/*		margin-left:7px; */
		padding-right:2px; 
		text-align:right;
		font-size:10px;
	 }
/*+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+■Flash
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
--+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+*/
#topfla{
	width:637px;
	height:354px;   /* 1002 renewal */
	height:245px;   /* 1104 renewal */
	margin:0px;
	padding:0px;
/*	margin-top:46px; */
	margin-top:0px;
	margin-bottom:12px;
/*	margin-left:14px; */
	margin-left:12px;
	background-color:#ffffff;
	-margin-top:47px;
/*	-margin-top:53px;
 	-margin-top:0px; */

/*	border:none; */
	z-index:0;
}
object {
}

#topnofla{
	width:638px; 
	padding:9px;
	padding-right:0px;
	padding-left:12px;
/*	padding-top:40px;
	-padding-top:50px; */
/*	padding-top:46px;
	-padding-top:53px; */
}

#topnofla_inner{
	width:633px;
/*	width:638px; */
	height:180px;
	border:2px solid #cccccc;
/*	background-color:#ffffee; */
	background-color:#e8f2fb;
}

#target_screen{
	padding: 9px 0 0 11px;
}
#topnofla_btnarea{
	padding: 10px 0 0 11px;
}
#topnofla_btnarea ul li{
	float:left;
	padding-right:3px;
}
#topnofla_btnarea ul li#last_item{
	padding-right:0;
}

#topnofla1 {
	width:100%;
/*	height:32px; */
	margin-bottom: 0px;
}

#top {
	width:100%;
	margin-bottom:5px;
/*	background-image:url(../img/fb2.gif); */
	background-repeat:repeat-x;
	z-index: 1;
	background-color:#cccccc;
}
#nontop {
	width:100%;
	height:65px;
	margin:0px;
/*	background-image:url(../img/fb3.gif); 
	background-repeat:repeat-x; */
	z-index: 2;
}


#topnofla2 {
	width:100%;
	margin-bottom:5px;
	background-image:url(../img/fb2.gif);
	background-repeat:repeat-x;
	z-index: 1;
}

#top h2{
	margin-bottom:5px;
}
#top #servicelist{
	margin-left:1px;
	margin-bottom:14px;  /* 1002 renewal */
}
#top #servicelist li{
	float:left;
	/*margin-right:10px;*/  /* 1002 renewal */
	margin-right:13px;
}
#top #servicelist li.last_item{  /* 1002 renewal */
	margin-right:0;
}


/*+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+■Wrap
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
--+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+*/

#wrap{
	width:890px;
	margin-left:0px;
	padding-top:40px;
	background-color:#ffffff;
/*	z-index:2; */
}
#wrap2{
	width:887px;
	margin-top:0px;
	margin-left:8px;
/*	z-index:2; */
}

/*+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+■Leftmenu
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
--+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+*/

#leftmenu{
/*	margin-top:46px; */
	margin-top:55px; 
	margin-left:22px;
	-margin-left:10px;
	width:181px;
	float:left;
/*	-margin-top:53px; */
	-margin-top:56px;
}

#leftmenu_nonfla{
	margin-top:13px;
	width:181px;
	float:left;
}

/*+-----+-----+-----+-----+
+-----+■新規カード入会
--+-----+-----+-----+-----+*/

#leftmenu #card,#leftmenu_nonfla #card{
	margin-bottom:5px;
/*	margin-bottom:10px; */
	background-color:#f8fcff;
	border-right:solid 1px #d3dbe7;
	border-bottom:solid 1px #d3dbe7; 
	border-left:solid 1px #d3dbe7;
}
#leftmenu #card img,#leftmenu_nonfla #card img{
	margin-top:8px;
	margin-bottom:8px;
	margin-left:5px;
}
#leftmenu #card .sub,#leftmenu_nonfla #card .sub{
	margin-top:15px;
}
/*+-----+-----+-----+-----+
+-----+■eeカードバナー
--+-----+-----+-----+-----+*/

#leftmenu #eecard,#leftmenu_nonfla #eecard{
	margin-bottom:5px;
	text-align:center;
	background-color:#ffffff;
}
/*+-----+-----+-----+-----+
+-----+■コメリカードバナー
--+-----+-----+-----+-----+*/

#leftmenu #komericard,#leftmenu_nonfla #komericard{
	margin-bottom:5px;
	text-align:center;
	background-color:#ffffff;
}
/*+-----+-----+-----+-----+
+-----+■TVCMバナー
--+-----+-----+-----+-----+*/

#leftmenu #cmbnr,#leftmenu_nonfla #cmbnr{
	margin-bottom:5px;
	text-align:center;
	background-color:#ffffff;
}
/*+-----+-----+-----+-----+
+-----+■年収額バナー
--+-----+-----+-----+-----+*/

#leftmenu #nen,#leftmenu_nonfla #nen{
	margin-bottom:10px;
	text-align:center;
	background-color:#ffffff;
}

#leftmenu #popro,#leftmenu_nonfla #popro{
	margin-bottom:5px;
	text-align:center;
	background-color:#ffffff;
}
#leftmenu #vpc,#leftmenu_nonfla #vpc{
	margin-bottom:5px;
	text-align:center;
	background-color:#ffffff;
}
#leftmenu #fb-root,#leftmenu_nonfla #fb-root{
	margin-bottom:5px;
	text-align:center;
	background-color:#ffffff;
}
#leftmenu #omt,#leftmenu_nonfla #omt{
	margin-bottom:5px;
	text-align:center;
	background-color:#ffffff;
}
#leftmenu #wmx,#leftmenu_nonfla #wmx{
	margin-bottom:5px;
	text-align:center;
	background-color:#ffffff;
}

#leftmenu #pj,#leftmenu_nonfla #pj{
	margin-top:-5px;
	margin-bottom:5px;
	margin-right:1px;
	text-align:center;
	background-color:#ffffff;
}

/*+-----+-----+-----+-----+
+-----+■ESPECIALバナー
--+-----+-----+-----+-----+*/

#leftmenu #kiri,#leftmenu_nonfla #kiri{
	margin-bottom:5px;
	text-align:center;
	background-color:#ffffff;
}

/*+-----+-----+-----+-----+
+-----+■Webサービス
--+-----+-----+-----+-----+*/

#leftmenu #web,#leftmenu_nonfla #web,#leftmenu #web2{
	margin-bottom:10px;
/*	padding-top:10px; */
	padding-top:2px;
	text-align:center;
/*	background-color:#f8fcff; */
	background-color:#ffffe6; 
	border-right:solid 1px #d3dbe7;
	border-bottom:solid 1px #d3dbe7;
	border-left:solid 1px #d3dbe7;
}

#leftmenu #web {
	margin-bottom:0;
}

/* non_flash.html ie6,7,8 bag fix */
#leftmenu #web_nofla,#leftmenu_nonfla #web_nofla{
	margin-bottom:10px;
	padding-top:10px;
	text-align:center;
	background-color:#f8fcff;
	border-right:solid 1px #d3dbe7;
	border-bottom:solid 1px #d3dbe7;
	border-left:solid 1px #d3dbe7;/* IE5.X用 */
　　voice-family : "\"}\""; 
　　voice-family : inherit; 
	/* モダン用 */
	text-align:left;
}


#leftmenu #web_nofla ul,#leftmenu_nonfla #web_nofla ul{
	/* Win IE5.5用 */
	margin-left: 0px;/* IE5.X用 */
　　voice-family : "\"}\""; 
　　voice-family : inherit; 
	margin-left: 9px;/* モダン用 */
	width:162px;

}

#leftmenu #web ul,#leftmenu_nonfla #web ul{
	/* Win IE5.5用 */
	margin-left: 0px;/* IE5.X用 */
　　voice-family : "\"}\""; 
　　voice-family : inherit; 
	margin-left: 8px;/* モダン用 */
	width:162px;
	text-align:center;
	-margin-left:0px;

}

#leftmenu #web ul ul,#leftmenu_nonfla #web ul ul{
	margin-top:12px;
	margin-bottom:15px;
	/* Win IE5.5用 */
	margin-left: 0px;/* IE5.X用 */
　　voice-family : "\"}\""; 
　　voice-family : inherit; 
	margin-left: 0px;/* モダン用 */
	width:162px;	
	/* Win IE6/7用 */
	#margin-top:8px;
	#margin-bottom:4px;
}
#leftmenu #web_nofla ul ul,#leftmenu_nonfla #web_nofla ul ul{
	margin-top:12px;
	margin-bottom:15px;
	/* Win IE5.5用 */
	margin-left: 0px;/* IE5.X用 */
　　voice-family : "\"}\""; 
　　voice-family : inherit; 
	margin-left: 0px;/* モダン用 */
	width:162px;
	/* Win IE6/7用 */
	#margin-top:8px;
	#margin-bottom:4px;

}


#leftmenu #web li,#leftmenu #web_nofla li,#leftmenu_nonfla #web li,#leftmenu_nonfla #web_nofla li{
	width:162px;
	margin-bottom:5px;
}
#leftmenu #web li#id,#leftmenu_nonfla #web li#id{
	padding-top:5px;
	text-align:left;
}
#leftmenu #web li#id img,#leftmenu_nonfla #web li#id img{
	margin-top:5px;
	margin-right:22px;
}
#leftmenu #web li#id input,#leftmenu_nonfla #web li#id input{
	width:123px;
}
#leftmenu #web li#pass,#leftmenu_nonfla #web li#pass{
	text-align:left;
	padding-bottom:5px;
}
#leftmenu #web li#pass img,#leftmenu_nonfla #web li#pass img{
	margin-top:5px;
	margin-right:4px;
}
#leftmenu #web li#pass input,#leftmenu_nonfla #web li#pass input{
	width:123px;
}
#leftmenu #web li#login a,#leftmenu_nonfla #web li#login a{
	width:162px;
	height:22px;
}

#leftmenu #web li.txt,#leftmenu_nonfla #web li.txt{
	height:20px;
	text-align:left;
}

/*100827追加エリア*/
#leftmenu #web #about_webdesk{
/*	padding-top:2px;
	padding-bottom:3px; */
	margin:0px;
	padding:0px;
	text-align:center;
	padding-bottom:2px;
}

#leftmenu #web #apply_login_area{
	width:162px;
	/*padding-bottom:6px;*/
}
#leftmenu #web #apply_login_area ul{
	margin:0;
	padding:0;
}

#leftmenu #web #apply_login_area ul li{
	margin:0;
	padding:0;
}

#leftmenu #web #apply_login_area #btn_apply{
/*	float:left; */
	margin:0 auto;
	text-align:center;
	width:160px;
	height:34px;
}
#leftmenu #web #apply_login_area #btn_login{
/*	float:right;
	width:81px;
	height:75px; */
	margin:0 auto;
	text-align:center;
	width:160px;
	height:34px;
}

#leftmenu #web #apply_login_area #btn_ipas{
	margin:0 auto;
	text-align:center;
	padding-top:2px;
	width:160px;
	height:16px;
}

#leftmenu #web #apply_srv_area{
	width:162px;
}
#leftmenu #web #apply_srv_area ul{
	margin:0;
	padding:0;
}

#leftmenu #web #apply_srv_area ul li{
	margin:0;
	padding:0;
}

#leftmenu #web #apply_srv_area #btn_rcom{
	float:left;
	width:79px;
}
#leftmenu #web #apply_srv_area #btn_pnt{
	float:right;
	width:79px;
}

#leftmenu #web #apply_link_area{
	width:162px;
}
#leftmenu #web #apply_link_area ul{
	margin:0;
	padding:0;
}

#leftmenu #web #apply_link_area ul li{
	margin:0;
	padding:0;
}

/*+-----+-----+-----+-----+
+-----+■info
--+-----+-----+-----+-----+*/
#leftmenu #info,#leftmenu_nonfla #info{
	margin-left:13px;
	margin-bottom:5px;
}
#leftmenu #info li,#leftmenu_nonfla #info li{
	height:12px;
	margin-bottom:10px;
}
/*+-----+-----+-----+-----+
+-----+■加盟店向けWebサービス
--+-----+-----+-----+-----+*/
#leftmenu #storeweb,#leftmenu_nonfla #storeweb{
	width:179px;
	margin-bottom:0px;
	padding-top:10px;
	text-align:center;
	border-right:solid 1px #cfcfcf;
	border-left: solid 1px #cfcfcf; 
	background-color:#fcfcfc;
}
#leftmenu #storeweb li,#leftmenu_nonfla #storeweb li{
	margin-bottom:10px;
}
#leftmenu #storeweb li.last,#leftmenu_nonfla #storeweb li.last{
	margin-bottom:0px;
	background-color:#fcfcfc;
	height:20px;
}

.mp5b { margin-bottom:5px; pading-bottom:5px; }

#leftmenu #banner,#leftmenu_nonfla #banner{
	margin-bottom:10px;
}
#leftmenu #attention,#leftmenu_nonfla #attention,#leftmenu #attention0,#leftmenu #attention1,
#leftmenu #attention2,#leftmenu #attention3,#leftmenu #attention4,#leftmenu #attention5,#leftmenu #attention6,
#leftmenu_nonfla #attention0,#leftmenu_nonfla #attention1,#leftmenu_nonfla #attention2,#leftmenu_nonfla #attention3,
#leftmenu_nonfla #attention4,#leftmenu_nonfla #attention5,#leftmenu_nonfla #attention6
 {
	margin-bottom:10px;
	padding-left:3px;
}
#leftmenu #attention a,#leftmenu #attention0 a,#leftmenu_nonfla #attention a, #leftmenu_nonfla #attention0 a,
#leftmenu #attention1 a, #leftmenu #attention2 a, #leftmenu #attention3 a,#leftmenu #attention4 a,#leftmenu #attention5 a,
#leftmenu #attention6 a,#leftmenu_nonfla #attention0 a,#leftmenu_nonfla #attention1 a, #leftmenu_nonfla #attention2 a, 
#leftmenu_nonfla #attention3, #leftmenu_nonfla #attention4 a, #leftmenu_nonfla #attention5 a, #leftmenu_nonfla #attention6 a,
#leftmenu #attention7 a,#leftmenu_nonfla #attention7 a{
	vertical-align:bottom;
	font-size:11px;
	color:#cc0000;
	text-decoration:underline;
}

/*+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+■Contents
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
--+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+*/

#contents{
	/*width:641px;
	margin-left:17px;*/
	width:658px;
	float:left;
	background-color:#ffffff;
	padding-top:38px;
	-padding-top:46px;
}

#contents_inner{
	margin-left:12px;
}
#contents .listtext01{
	margin-top:15px;
	overflow:hidden;
}
#contents .listtext01 li{
	padding-left:15px;
	margin-bottom:5px;
	background:url(../images/top/top_icon01.gif);
	background-position:0px 0px;
	background-repeat:no-repeat;
}
#contents .listtext01 .listtextDate{
	font-size:13px;
}
#contents .listtext01 li {
	margin:-8px 0 8px;
	padding-top:8px;
	background:url(../images/top/list_dot.gif) 0 0 repeat-x;
}

#contents .listtext02{
	margin-top:10px;
}

#contents .listtext02 li{
	padding-bottom:5px;
}
#contents .listtext02 li.left{
	margin-right:15px;
	margin-left:2px;
	font-weight:normal;
}
#contents .listtext01 a,
#contents .listtext02 a,
#contents #lifeservice a,
#contents #lifeservice2 a{
	display:block;
	padding-left:18px;
	background:url(../images/top/top_icon01.gif) 0 center no-repeat;
	font-size:14px;
	line-height:1.8;
	color:#000099;
	text-decoration:none;
}
#contents .listtext01 a:hover,
#contents .listtext02 a:hover,
#contents #lifeservice a:hover,
#contents #lifeservice2 a:hover{
	color:#3388dd;
	text-decoration:underline;
}
#contents #lifeservice,
#contents #lifeservice2{
	width:641px;
	margin-top:10px;
	margin-bottom:10px;
/*	background-image:url(../images/top_list_bg.gif); */
	background-position:left top;
	background-repeat: repeat-y;
}
#contents #lifeservice div,
#contents #lifeservice2 div{
/*	background-image:url(../images/top_list_bgbottom.gif); */
	background-position:left bottom;
	background-repeat: no-repeat;

}
#contents #lifeservice2{
	margin-top:0;
	margin-bottom:10px;
}

#contents #lifeservice dl,
#contents #lifeservice2 dl{
	float:left;
	width:156px;
	padding-right:1px;
	padding-left:1px; 
	padding-bottom:5px;
	margin-right:2px;
/*	border-left:solid 2px #dce2eb; 
	border-right:solid 2px #dce2eb; 
	border-bottom:solid 2px #dce2eb; */
}

#contents #lifeservice dl.s1{
	float:left;
	padding-right:1px;
	padding-left:1px; 
	padding-bottom:5px;
	margin-right:2px;
	background-image:url(../images/top/s1.gif); 
	background-repeat: no-repeat; 
	width:156px; 
	height:130px;
}
#contents #lifeservice dl.s2{
	float:left;
	padding-right:1px;
	padding-left:1px; 
	padding-bottom:5px;
	margin-right:2px;
	background-image:url(../images/top/s2.gif); 
	background-repeat: no-repeat; 
	width:156px; 
	height:130px;
}
#contents #lifeservice dl.s3{
	float:left;
	padding-right:1px;
	padding-left:1px; 
	padding-bottom:5px;
	margin-right:2px;
	background-image:url(../images/top/s3.gif); 
	background-repeat: no-repeat; 
	width:156px; 
	height:130px;
}
#contents #lifeservice dl.s4{
	float:left;
	padding-right:1px;
	padding-left:1px; 
	padding-bottom:5px;
	margin-right:2px;
	background-image:url(../images/top/s4.gif); 
	background-repeat: no-repeat; 
	width:156px; 
	height:130px;
}

#contents #lifeservice2 dl.s5{
	float:left;
	padding-right:1px;
	padding-left:1px; 
	padding-bottom:5px;
	margin-right:2px;
	background-image:url(../images/top/s5.gif); 
	background-repeat: no-repeat; 
	width:156px; 
	height:130px;
}
#contents #lifeservice2 dl.s5_1{
	float:left;
	padding-right:1px;
	padding-left:1px; 
	padding-bottom:5px;
	margin-right:2px;
	background-image:url(../images/top/s5_1.gif); 
	background-repeat: no-repeat; 
	width:156px; 
	height:130px;
}

#contents #lifeservice2 dl.s6{
	float:left;
	padding-right:1px;
	padding-left:1px; 
	padding-bottom:5px;
	margin-right:2px;
	background-image:url(../images/top/s6.gif); 
	background-repeat: no-repeat; 
	width:156px; 
	height:130px;
}
#contents #lifeservice2 dl.s7{
	float:left;
	padding-right:1px;
	padding-left:1px; 
	padding-bottom:5px;
	margin-right:2px;
	background-image:url(../images/top/s7.gif); 
	background-repeat: no-repeat; 
	width:156px; 
	height:130px;
}
#contents #lifeservice2 dl.s8{
	float:left;
	padding-right:1px;
	padding-left:1px; 
	padding-bottom:5px;
	margin-right:2px;
	background-image:url(../images/top/s8.gif); 
	background-repeat: no-repeat; 
	width:156px; 
	height:130px;
}


#contents #lifeservice dl.last,
#contents #lifeservice2 dl.last{
	margin-right:0;
}
#contents #lifeservice dl.bottom,
#contents #lifeservice2 dl bottom{
	margin-bottom:10px;
}
#contents #lifeservice dt,
#contents #lifeservice2 dt{
	margin-bottom:8px;
}
#contents #lifeservice dd,
#contents #lifeservice2 dd{
	padding-right:0px;
	padding-left:15px;
	margin-bottom:5px;
	font-size:10px;
	background:url(../images/top_icon01.gif);
	background-position:5px 4px;
	background-repeat:no-repeat; */
}
#contents #copytext{
	width:600px;
	margin-top:10px;
	margin-bottom:10px;
	padding-left:30px;
	font-size:10px;
}

#flashplay{
	width:640px;
	_width:625px;
	padding-top:10px;
	margin-left:12px;
	color:#fff;
	font-size:10px;
	background:url(../images/top_line01.gif);
	background-position:0px 0px ;
	background-repeat:repeat-x;
	background-color:#fff;
}

#flashplay p{
	height:25px;
	height:55px; 
	float:right;
	margin-left:10px;
	margin-right:25px;
}
#flashplay p.left img{
	height:80px;
	margin-top:0px;
}
#flashplay p.left{
	height:80px;
	padding-left:10px;
/*	border-left:solid 1px #cccccc; */
}
#flashplay p.center img{
	margin-top:8px;
	margin-top:30px;
	vertical-align:bottom;
}
#flashplay p.right{
	font-size:10px;
	margin-top:35px;
}
/*+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+■Footer
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
--+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+*/

#footer{
	position:relative;
	width:100%;
	width:890px;
	height:100px;
	background-image:url(../images/top/footer_130218.jpg);
	_width:895px;
	_height:100px;
	_background-color:#5884C5;
/*	_background-image:url(../images/top/footer_bg.gif); */
	_background-repeat:repeat-x;
	_background-position:left top;
	margin:0px;
	padding:0px;
	margin-top:0px;
	vertical-align:top;
}

#footer ul.line1 {
	display:block;
	text-align:center;
	margin: 0px auto;
	margin-left:140px;
	position:relative;
/*	top:50px; */
	top:10px;
	left:10px;
	width:650px;
	clear:both;

}
#footer ul.line2 {
	display:block;
	text-align:center;
	margin: 0px auto;
	position:relative;
	_margin-left:80px;
/*	top:60px; */
	top:20px;
	left:30px;
	width:750px;
	clear:both;

}

#footer li{
display: inline;　/* インライン表示 */
	text-align:center;
	margin: 0px 5px;
	padding: 0px 5px;
	margin-left:0px;
	padding-right:0px;
	font-size:12px;
	font-weight:normal;
	color:#ffffff;
	float:left;
	list-style:none;
border-left: 1px solid #ffffff; /* 左線指定 */
	
}
#footer li.last_l {
	text-align:center;
	margin: 0px 5px;
	padding: 0px 5px;
	padding-right:5px;
	border-right: 1px solid #ffffff; /* 右線指定 */
}

#footer a {
color:#ffffff;
font-size:12px;
text-decoration:none;
}


/* .fbp a { position:relative; top:-25px; left:620px; width:250px; height:30px; display:block; }  */
.fbp a { position:relative; top:-25px; left:620px; width:250px; height:35px; display:none; } 
.fbp span { visibility: hidden;}

/*+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+■ContentsClear
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
--+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+*/

.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix{
   display:inline-block;
}

* html .clearfix{height:1%;}

.clearfix{
   display:block;
}


/*+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
+-----+■PreLoad
+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
--+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+*/

#preload{
	height:0px;
	display:none;
background-image:url(../images/top/bt_annai_on.gif);
background-image:url(../images/top/bt_cash_insurance_on.gif);
background-image:url(../images/top/bt_living_shopping_on.gif);
background-image:url(../images/top/bt_nyukai_on.gif);
background-image:url(../images/top/bt_point_profit_on.gif);
background-image:url(../images/top/bt_travel_leisure_on.gif);

/*
background-image:url(../images/top/faq_on.gif);
background-image:url(../images/top/houjin_on.gif);
background-image:url(../images/top/inquiry_on.gif);
background-image:url(../images/top/lifewebdesk_on.gif);
background-image:url(../images/top/sitemap_on.gif);
*/
background-image:url(../images/top/top_h_01_on.gif);
background-image:url(../images/top/top_h_02_on.gif);
background-image:url(../images/top/top_h_03_on.gif);
background-image:url(../images/top/top_h_04_on.gif);
background-image:url(../images/top/top_h_05_on.gif);
background-image:url(../images/top/top_h_06_on.gif);

background-image:url(../images/top/info_link_btn_on.gif);
background-image:url(../images/top/left_btn01_on.gif);
background-image:url(../images/top/left_btn03_on.gif);
background-image:url(../images/top/left_btn04_on.gif);
background-image:url(../images/top/left_btn_webdesk_01_on.gif);
background-image:url(../images/top/left_btn_webdesk_02_on.gif);
background-image:url(../images/top/left_btn_webdesk_03_on.gif);
background-image:url(../images/top/left_btn_webdesk_04_on.gif);
background-image:url(../images/top/left_btn_webdesk_05_on.gif);
background-image:url(../images/top/left_link03_on.gif);
background-image:url(../images/top/left_link04_on.gif);
background-image:url(../images/top/left_link06_on.gif);
background-image:url(../images/top/left_link07_on.gif);
background-image:url(../images/top/lwd_top_on.gif);
background-image:url(../images/top/nen_bn_on.gif);
background-image:url(../images/top/point_program_btn_on.gif);
background-image:url(../images/top/s_btn_on.gif);
background-image:url(../images/top/ssn_bn_on.gif);
background-image:url(../images/top/fb_bn_on.gif);
background-image:url(../images/top/rev_bn_170_85_on.jpg);
background-image:url(../images/top/vpc_bn_on.jpg);
background-image:url(../images/top/left_btn_wd_01_on.gif);
background-image:url(../images/top/left_btn_wd_02_on.gif);
background-image:url(../images/top/left_btn_wd_06_on.gif);
background-image:url(../images/top/left_btn_wd_07_on.gif);
background-image:url(../images/top/omt_bn_1507_on.gif);
background-image:url(../images/top/cau_bn2_1507_on.jpg);
background-image:url(../images/top/left_bn1507_on.jpg);

}

/* */
img { border:0;}

br.clear { clear:both; height:1px;}

/* 2012.03.30 added */
/* === Suggest === */
div.SS_suggest {
  font-weight: normal;
  z-index: 999;
  display: none;
  position: absolute;
  border-bottom: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-left: 1px solid #CCC;
  text-align:left;
  left:auto !important;
  top:auto !important;
  margin-left:692px;
  margin-top:-5px;
}
div.SS_suggest div.SS_suggestItemOff { 
  background-color: #FFF;
  border-top: 1px solid #CCC;	
  padding: 2px 0px 2px 0px;	
  width: 100%;
}
div.SS_suggest div.SS_suggestItemOn {
  background-color: #ECF5FA;
  border-top: 1px solid #CCC;	
  padding: 2px 0px 2px 0px;	
  width: 100%;
}
div.SS_suggest span.SS_suggestKey {
  font-size: 100%;
  padding-left: 4px;
}
div.SS_suggest span.SS_suggestRate {
  width: 100px;
}
/* 2012.03.30 added end */
/* 2013.12.26 added     */

#alert {
  width: 636px;
  margin: 0px auto 0px auto;
 margin-left:12px;
}
#alert p {
  margin-top:18px;
  padding: 10px;
  color: #c00;
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  background: #ffffea;
  border: 3px solid #c00;
}
/* 2013.12.26 added end */
/* 2014.12.22 added end */
li.com > h1 {
	font-size:10px;
	font-weight:normal;
}
/* 2014.12.22 added end */
/* xmas 2016.11.25 added */
body{
	background: url(../images/top/christmas2016_bg_03.png) repeat-x 0 100% !important;
}
.xmasWrap{
	background:#3db2e6 url(../images/top/christmas2016_bg_02.png) no-repeat 50% 100% !important;
}
.xmasWrap02{
	background: url(../images/top/christmas2016_bg_01.png) no-repeat 50% 0;
}
@media print{
body,
.xmasWrap,
.xmasWrap02{
	background-image:none !important;
	background-color: #cccccc !important;
}
}
/* xmas 2016.11.25 added end */


