﻿body
{
	font-family: Calibri,verdana, arial, sans-serif;
	font-size: 14px color:#336699;
	margin: 0px; 
	background: #E4E6D8 ;
	margin-left: auto;
    margin-right: auto;
	
}
.tablecss
{
    margin: 0px;
    padding: 0px;
    width: 347px;
    background: #fff url(../images/search.jpg) scroll top center repeat-x;
}
.tablecss .link
{
    padding: 0 2px 1px 15px;
    background: transparent url(../images/ball.gif) left center no-repeat;
    color: #004D94;
}
.tablecss .link:hover
{
    padding: 0 2px 1px 15px;
    background: #fff url(../images/ball.gif) left center no-repeat;
    color: #C01313;
    text-decoration: underline;
}
td
{
    padding: 0px;
}
.iconstyle
{
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin: 2px;
    margin-right: 5px;
}
.thtable1
{
    background: url("../images/img1.gif") repeat-x scroll center center;
    margin-bottom: 8px;
    text-align: center;
    color: White;
}
.thtable2
{
    background: url("../images/img2.gif") repeat-x scroll center center;
    margin-bottom: 8px;
    text-align: center;
    color: White;
}
.thtable3
{
    background: url("../images/img3.gif") repeat-x scroll center center;
    margin-bottom: 8px;
    text-align: center;
    color: White;
}
.thtable4
{
    background: url("../images/img4.gif") repeat-x scroll center center;
    margin-bottom: 8px;
    text-align: center;
    color: White;
}
.thtable5
{
    background: url("../images/img5.gif") repeat-x scroll center center;
    margin-bottom: 8px;
    text-align: center;
    color: White;
}
.thtable6
{
    background: url("../images/img6.gif") repeat-x scroll center center;
    margin-bottom: 8px;
    text-align: center;
    color: White;
}
.thtable7
{
    background: url("../images/img7.gif") repeat-x scroll center center;
    margin-bottom: 8px;
    text-align: center;
    color: White;
}
.container
{

    clear: both;
    align: center;
    width: 1002px;
    background: #fff;
    color: #305891;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    
}
#subfooter
{
    clear: both;
    background: #CCC url(../images/mini-hero.png) repeat 100% 0;
    text-align: center;
    padding: 3px;
    height: 70px;
    font-family: Verdana;
    font-size: 80%;
    padding-right: 10px;
}
.imglink
{
    width: 141px;
    height: 47px;
    box-shadow: 2px 2px 2px #CCC;
    margin: 0px;
    border-radius: 5px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    display: inline-block;
    border: 0px;
    margin-right: 10px;
}
.imglink:hover
{
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
a
{
    text-decoration: none;
}
li
{
    background-color: White;
}
        
.style1
{
    width: 300px;
    height: 57px;
    border-radius: 4px;
    margin-top: 10px;
}
        
.banner
{
    width: 300px;
    height: 250px;
    padding: 0;
    overflow: hidden;
}
.innerBanner
{
    padding: 0;
    position: relative;
    height: 320px;
    position: relative;
}
#fadeshow2toggler
{
    position: absolute;
    top: 90px;
    z-index: 9999;
    width: 300px !important;
    text-align: center;
    margin-top: 50px;
}
#fadeshow2toggler .prev, #fadeshow2toggler .next
{
    width: 25px;
    height: 25px;
    display: block;
    text-indent: -99999px;
}
#fadeshow2toggler .next
{
    float: right;
    background: url(../images/slider-bttn_right.gif) no-repeat 0 0;
}
#fadeshow2toggler .prev
{
    float: left;
    background: url(../images/slider-bttn_left.gif) no-repeat 0 0;
}
        
.viewport img
{
    height: 50px;
    width: 46px;
    border: 0px;
}
        
#slider .overview
{
    list-style: none;
    position: absolute;
    padding: 0;
    margin-left: 15px;
    margin-top: 0px;
    width: 307px;
    left: -5px;
    top: -2px;
    height: 424px;
}
        
#slider .overview li
{
    float: left;
    margin: 0 5px 0 3px;
    padding: 1px;
    height: 95px;
    border: 1px solid #dcdcdc;
    width: 82px;
    text-align: center;
    font-size: 11px;
    font-family: Arial;
    box-shadow: 2px 2px 2px #CCC;
}
#slider .viewport
{
    height: 100px;
    overflow: hidden;
    position: relative;
}
.viewport img
{
    height: 50px;
    width: 46px;
    border: 0px;
}
#content-container
{
	float: left;
	width: 1000px;
	background: #FFF;
	margin-bottom: 20px;
}

#content_inner
{
	float: left;
	width: 980px;
	margin: 3px;
	min-height: 100px;
	margin-bottom: 10px;
	background: #FFF; /*padding: 5px 10px 20px 10px;*/
}

#content_inner table td
{
	border: 1px solid #CCC;
	padding: 2px;
	padding-left: 10px;
	padding-right: 5px;
}
.OfficeNumber
{
	font-weight: bold;
	width: 80%;
	margin: auto;
	margin-bottom: 30px;
}

.OfficeNumber table td
{
	padding: 15px !important;
}
#navigation
{
	float: left;
	width: 1000px;
	background: #0E538C repeat-x scroll 0% 33%;
	text-shadow: 2px 2px 2px #CCC;
	min-height: 4px;
	background: #7DB8F4;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 2px 10px;
	color: #0E3569;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a img
{
	display: block;
	float: left;
	text-decoration: none;
	border: none;
	width: 25px;
	height: 20px;
}

#navigation li a:hover
{
	background: #FFF;
}