@font-face {
 font-family: Digital Dream Fat;
 src: url("DigitaldreamFat.eot") /* EOT file for IE */
}
@font-face {
 font-family: Digital Dream Fat;
 src: url("DigitaldreamFat.ttf") /* TTF file for CSS3 browsers */
}
form {
        color: #afafaf;
        background-color: #afafaf;
        font-family: verdana,arial;
}
body{
        background-color: #000080;
}
hr{
        background-color: #ffcc00;
        color: #ffcc00;
}
a {
        color: #000000;
        font-family: verdana;
        text-decoration: none;
}
a:hover {
        color: #3f3f3f;
        text-decoration: none;
}
a:visited {
        color: #0000ff;
}
.a1 {
        font-weight: bold;
        font-size: 16px;
        color: #ffffff;
        font-family: verdana,arial;
}
.a2 {
        font-weight: bold;
        font-size: 12px;
        color: #ff6600;
        font-family: verdana,arial;
}
.a2b{
        font-weight: bold;
        font-size: 12px;
        color: #ff6600;
        font-family: verdana,arial;
        text-decoration: blink;
}
.a2c{
        font-weight: bold;
        font-size: 12px;
        color: #00ff00;
        font-family: verdana,arial;
        text-decoration: blink;
}
.a4 {
        font-weight: bold;
        font-size: 24px;
        color: #ffffff;
        font-family: verdana,arial;
}
.aa {
        font-weight: bold;
        font-size: 12px;
        color: #000000;
        font-family: verdana,arial;
}
.ba {
        font-weight: bold;
        font-size: 12px;
        color: #df0000;
        font-family: verdana,arial;
        text-decoration: none;
}
.bb {
        font-size: 12px;
        color: #009f00;
        font-family: verdana,arial;
}
.b4 {
        font-size: 10px;
        color: #000000;
        font-family: verdana,arial;
}
.b5 {
        font-weight: bold;
        font-size: 12px;
        color: #ffcc00;
        font-family: verdana,arial;
}
.c1 {
        font-weight: bold;
        font-size: 13px;
        color: #ffffff;
        font-family: verdana,arial;
}
.kat {
        font-size: 16px;
        color: #ffcc00;
        font-family: verdana,arial;
}
.newslink {
        font-size: 16px;
        color: #ffcc00;
        font-family: verdana,arial;
}
.newslink:hover {
        color: #ffffff;
        text-decoration: underline;
}
.c2s {
        background-color: #ffffff;
}
.c4 {
        background-color: #000000;
}
.ger {
        background:url(links/images/de.png);
}
.ger:hover {
        background:url(links/images/deh.png); cursor: pointer;
}
.eng {
        background:url(links/images/gb.png);
}
.eng:hover {
        background:url(links/images/gbh.png); cursor: pointer;
}
.close_button {
        background:url(images/closebutton_right.png);
}
.close_button:hover {
        background:url(images/closebutton_hover.png);
        cursor:default;
}
.darkredlink {
        font-size: 12px;
        color: #9f0000;
        font-weight: bold;
        font-family: verdana,arial;
        text-decoration: none;
}
.darkredlink:hover {
        color: #bf0000;
        text-decoration: underline;
}
.darkredlink:active {
        color: #000000;
        text-decoration: none;
}
.darkredlink:visited {
        color: #9f0000;
}
.ulink {
        color: #000000;
        text-decoration: none;
}
.ulink:hover {
        color: #0000df;
        font-weight: bold;
        text-decoration: underline;
}
.ulink:active {
        color: #9f0000;
        text-decoration: none;
}
.ulink:visited {
        color: #0000bf;
}
.flink {
        color: #ff5f00;
        text-decoration: none;
}
.flink:hover {
        color: #000000;
        text-decoration: none;
}
.flink:visited {
        color: #0000ff;
}
.css_pickme_not {
        resize:none;
}
select {
        background-color: #dfdfdf;
        font-weight: bold;
        color: #000000;
        margin-bottom:0px;
        border:1px solid #000000;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -khtml-border-radius: 4px;
        border-radius: 4px;
}
textarea {
        resize:none;
        overflow: auto;
        background-color:#dfdfdf;
        font-weight: bold;
        color: #000000;
        margin:0;
        padding:0;
        border:1px solid #000000;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
        border-radius: 5px;
}
input[type=text] {
        background-color: #dfdfdf;
        font-weight: bold;
        color: #000000;
        border: 1px solid #000000;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -khtml-border-radius: 4px;
        border-radius: 4px;
}
input[type=password] {
        background-color: #dfdfdf;
        font-weight: bold;
        color: #000000;
        border: 1px solid #000000;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -khtml-border-radius: 4px;
        border-radius: 4px;
}
input[type=file] {
        background-color: #dfdfdf;
        font-weight: bold;
        color: #000000;
        margin-bottom:0px;
        border: 1px solid #000000;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -khtml-border-radius: 4px;
        border-radius: 4px;
}
/* ========================================================== */
fieldset {
        border:1px solid #ffffff;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
        border-radius: 5px;
}
.tr {
        background-color: #ffffff;
}
.tr:hover {
        background-color: #dfdfdf;
}
.tr2 {
        background-color: #000080;
}
.tr2:hover {
        background-color: #000064;
}
.finput {
        margin-bottom:0px;
        background-color: #dfdfdf;
}
.arc {
        padding: 2px;
        margin: 2px;
        color: #000000;
        font-size: 10px;
        z-index: 10;
        background-color: #e98f05;
        border-top: 1px solid #f4c887;
        border-left: 1px solid #eeaa3f;
        border-bottom: 1px solid #b56f2a;
        border-right: 1px solid #b56f2a;
        text-shadow: #e17604 0 0 1px;
        box-shadow: #b86f2b 0 0 2px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -khtml-border-radius: 4px;
        border-radius: 4px;
}
.arc:hover {
        background-color: #889988;
        color: #ffffff;
        cursor:pointer;
}
.arc:active {
        background-color:#7f0000;
}
.del {
        padding: 2px;
        margin: 2px;
        color: #000000;
        font-size: 10px;
        z-index: 10;
        background-color: #ffffff;
        border-top: 1px solid #c0c0c0;
        border-left: 1px solid #c0c0c0;
        border-bottom: 1px solid #afafaf;
        border-right: 1px solid #afafaf;
        text-shadow: #e17604 0 0 1px;
        box-shadow: #b86f2b 0 0 2px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -khtml-border-radius: 4px;
        border-radius: 4px;
}
.del:hover {
        background-color: #889988;
        color: #ffffff;
        cursor:pointer;
}
.del:active {
        background-color:#efefef;
}
.in {
        padding: 2px;
        margin: 2px;
        color: #ffffff;
        font-size: 10px;
        z-index: 10;
        background-color: #339933;
        border-top: 1px solid #66cc66;
        border-left: 1px solid #006600;
        border-bottom: 1px solid #006600;
        border-right: 1px solid #66cc66;
        text-shadow: #ac361a 0 0 1px;
        box-shadow: #934d34 0 0 2px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -khtml-border-radius: 4px;
        border-radius: 4px;
}
.in:hover {
        background-color: #889988;
        cursor:pointer;
}
.in:active {
        background-color: #00005f;
}
.pressed {
        padding: 2px;
        margin: 2px;
        color: #000000;
        font-size: 10px;
        font-weight: bold;
        z-index: 10;
        background-image: url(js/images/pbar-ani.gif);
        border-top: 1px solid #66cc66;
        border-left: 1px solid #006600;
        border-bottom: 1px solid #006600;
        border-right: 1px solid #66cc66;
        text-shadow: #ac361a 0 0 1px;
        box-shadow: #934d34 0 0 2px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -khtml-border-radius: 4px;
        border-radius: 4px;
}
.grb {
        padding: 2px;
        margin: 2px;
        color: #ffffff;
        font-size: 10px;
        z-index: 10;
        background-color: #5972a7;
        border-top: 1px solid #bfc9dd;
        border-left: 1px solid #1a356e;
        border-bottom: 1px solid #1a356e;
        border-right: 1px solid #bfc9dd;
        text-shadow: #ac361a 0 0 1px;
        box-shadow: #354f88 0 0 2px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -khtml-border-radius: 4px;
        border-radius: 4px;
}
.grb:hover {
        background-color: #889988;
        cursor:pointer;
}
.grb:active {
        background-color: #003F00;
}
.w_clip_button {
        margin:0px;
        padding:0px;
        text-align:left;
        color: #000000;
        cursor:default;
        z-index: 10;
        background-color: transparent;
        border: 0;
        display: block;
        height: 12px;
        width: 120px;
}
.w_clip_button.hover {
        border: 0;
        backgroundColor: #b6bdd2;
}
.button {
        padding:0;
        margin:0;
        font-size:10px;
        background-color: #000080;
        color:#ffffff;
        border-top: 1px solid #bfc9dd;
        border-left: 1px solid #1a356e;
        border-bottom: 1px solid #afafaf;
        border-right: 1px solid #afafaf;
        text-shadow: #ac361a 0 0 1px;
        box-shadow: #354f88 0 0 2px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -khtml-border-radius: 4px;
        border-radius: 4px;
}
.button:hover {
        background-color: #889988;
        cursor:pointer;
}
.n2button {
        color: #000000;
        background: #ffffff;
        font-size: 12px;
        font-weight:bold;
        font-family: verdana,arial;
        border: none;
}
.n2button:hover {
        color: #afafaf;
        text-decoration: underline;
        cursor:pointer;
}
.nbutton {
        color: #ffffff;
        background: #000080;
        font-size: .6em;
        font-weight:bold;
        font-family: verdana,arial;
        text-decoration: none;
        border: none;
        z-index: 10;
}
.nbutton:hover {
        color: #bfbfbf;
        text-decoration:underline;
        cursor:pointer;
}
.nlink {
        color: #ffcc00;
        font-size: 16px;
        text-decoration: none;
}
.nlink:hover {
        color: #ffffff;
        text-decoration:underline;
        cursor:pointer;
}
a.tooltip, a.tooltip:link, a.tooltip:visited, a.tooltip:active {
        text-decoration: none;
        font-style: italic;
        color: #9f9f9f;
}
a.tooltip:hover {
        color: #ffffff;
        background: transparent;
}
a.tooltip span {
        display: none;
        text-decoration: none;
}
a.tooltip:hover span {
        display: block;
        position: absolute;
        z-index: 200;
        color: #000000;
        border:1px solid #000000;
        background: #ffffff;
        font: 10px verdana, sans-serif;
        font-weight: bold;
        text-align: left;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
        border-radius: 5px;
}
a.tooltip span b {
        display: block;
        margin: 0;
        padding: 0;
        font-size: 11px;
        font-weight: bold;
        color: yellow;
        background-color: gray;
        border: 0px;
        border-bottom: 1px solid black;
}
pre.nfo {
        color: #000000;
        font-family: 'lucida console', terminal, 'courier new';
        font-size: 9pt;
        font-weight: normal;
        line-height: 9pt;
        text-align: left;
        overflow: hidden;
}
.nfo {
        color: #000000;
        font-family: 'lucida console', terminal, 'courier new';
        font-size: 9pt;
        font-weight: normal;
        line-height: 9pt;
        text-align: left;
        overflow: hidden;
}
a.tooltip2, a.tooltip:link, a.tooltip:visited, a.tooltip:active  {
        text-decoration: none;
        font-style: italic;
        color: #9f9f9f;
}
a.tooltip2:hover {
        color: #ffffff;
        background: transparent;
}
a.tooltip2 span {
        display: none;
        text-decoration: none;
}
a.tooltip2:hover span {
        display: block;
        position: fixed;
        bottom: 0px;
        right: 0px;
        width: 350px;
        z-index: 200;
        color: #000000;
        border:1px solid #000000;
        background: #afafaf;
        font: 12px verdana, sans-serif;
        font-weight: bold;
        text-align: center;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
        border-radius: 5px;
}
a.tooltip2 span b {
        display: block;
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-weight: bold;
        color: yellow;
        background-color: gray;
        border: 0px;
        border-bottom: 1px solid black;
}