/*media building template home only*/

.vt-home .navbar{
	margin-bottom:0px;
}

/*info bar*/
.black-bar{
    width: 100%;
    background-color: #000
}

.vt-info-bar{
    background-color: #000;
    height: 40px;
}
.vt-info-bar ul li a, .vt-info-bar ul li{
    color: #efefef;
}

.vt-info-bar ul{
    margin-top: 5px;
    margin-bottom: 0px;
}

.vt-info-bar ul li, .vt-info-bar h4{
    float: left;
    padding-left: 5px;
    list-style: none;
}

ul.info-for-links{
    margin-left: 57px;
}

@media (min-width:768px) and (max-width: 991px){
ul.info-for-links{
    margin-left: 0px;
}   
}

.info-for-links li,
.info-for-links li a{
    padding-top: 5px;
    font-size: 11px;
    font-weight: normal;
}

ul.social-icons li .fa{
    padding-bottom: 10px;
    padding-left: 7px;
    padding-top: 0px;
    margin-top: 0px;
    font-size: 20px;
}


body{ 
    background-color: #fff;
}


/*gradient on featured image to make text readable*/
.featured-content-container .carousel-caption {
    width: 100%;
    left: 0px;
    bottom: 0px;
    padding-bottom: 50px;
    text-shadow: 2px 2px #333;
    background: rgba(0,0,0,.5); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(transparent, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent, black); /* Standard syntax (must be last) */
}

@media (max-width: 768px){

.featured-content-container .carousel-caption{
    background: #333333;
}

}
/*mobile caption for carousel*/
.carousel-caption, .carousel-caption.left, .carousel-caption.center, .carousel-caption.right{
    padding-left: 12px;
}

.vt-carousel-control-belowImage{
    left: 0px;
    margin-left: 0px;
}


/*reduces size of social media icons at medium and small sizes.*/
@media (max-width: 991px){

ul.social-icons li .fa {
    padding-bottom: 10px;
    padding-left: 2px;
    padding-top: 3px;
    margin-top: 0px;
    font-size: 16px;
}
}

/*divider line between news content and events content*/
.divider-line-container{
    text-align: center;
    width: 100%;
    /*padding-top: 60px;*/
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
}
.divider-line{
    border-bottom: 2px solid #999999;
    width: 100%;
}

.news-and-events{
    padding-bottom: 30px;
}

/*list of more news in right column*/
.news-and-events span.vt-list-date-formatted{
    float: left;
    width: 100%;
}

/*changes order of display for feed to match the list above*/
.news-and-events span.vt_feed_iDate{
    display: table-header-group;

}

.news-and-events li a.vt_feed_iTitle{
    display: table-footer-group;
}

/*removes defualt 40px space under parbase*/
.news-and-events .list,
.news-and-events .vtmulticolumn
{
    margin-bottom: 0px;
}

/*left aligns links under photos */
.home-content .list ul, ul.vt_feed_items {
    padding-left: 0px;
}

.home-content .list li, .vt_feed_items li {
    font-size: 18px;
    list-style-type: none;
}
.home-content .list li a{
    line-height: normal;
}

h2.vt_feed_cTitle{
    padding-top: 0px;
    margin-top: 0px;
}

.vt_feed_iTime{
    display: none;
}

.home-content-area-3{
    background-color: #557082;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 90px;
}

.home-content-area-4{
    background-color: #EDEADA;
    width: 100%;
    padding-bottom: 10px;
}

/*removes border when scrolled*/
.vt-home .navbar-sticky{
	border-top: none;
}

.featured-content-container{
	overflow: hidden;
	position: relative;
}

.featured-content-container img{
	z-index: -10;
	overflow: hidden
}

.secondary-image img{
    width: 100%;

}

.secondary-image{
    max-height: 700px;
}

.secondary-content-container{
	background-color: #fff;
}

.featured-content-container .vt-carousel h3 {
    font-size: 40px;
    margin-left: -4px;
    font-weight: 300;
    color: #FFF;
    padding-left: 20px;
    padding-right: 20px;
}

.featured-content-container .vt-carousel p {
    font-size: 20px;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    display: none; 
}

/*overrides 30 px margin*/
.featured-content-container .container{
	margin-bottom: 0px;
}

.featured-content-container .gallery-featured-item h3,
.featured-content-container .gallery-featured-item p,
.featured-content-container .gallery-featured-item a
{
    color:#fff;
}
.featured-content-container .gallery-featured-item img{
    width: 100%;
}

@media (min-width: 1200px){
.featured-content-container .carousel-caption .container, 
.featured-content-container .vt-carousel-control-belowImage .container
{
    width: 1170px;
}
}

@media (min-width: 992px) and (max-width: 1199px){
.featured-content-container .carousel-caption .container, 
.featured-content-container .vt-carousel-control-belowImage .container
{
    width: 970px;
}
}

@media (min-width: 768px) and (max-width: 991px){
.featured-content-container .carousel-caption .container, 
.featured-content-container .vt-carousel-control-belowImage .container
{
    width: 750px;
}
}

.vt-home .carousel-inner .item-image{
    /*max-height: 500px;*/
}

/*overrides alignment set for carousel in body*/
.featured-content-container .carousel-caption.left.vt-control-type-belowImage{
	left: 0;
}

/*eliminates bounce with sticky nav*/
@media (min-width: 768px){

.vt-home .content-sticky {
	padding-top: 0px;
}
}

/*justifies heading to the left in mobile*/
@media (max-width: 767px){
.featured-content-container .vt-carousel h3 {
    padding-left: 0px;
    font-size: 30px;
}
}

.carousel-inner .item img {
    display: table-cell;
    vertical-align: bottom;
}

.recent-posts-icon{
    color: #ffffff;
    font-size: 40px;
    text-align: left;
    width: 100%;
    padding-top: 20px;
}

.recent-posts-icon span{
    float: left;
}

.recent-posts-icon h3 {
    margin-top: 5px;
}

.learn-at-virginia-tech h3{
    margin-bottom: 35px;
}

.vt-we-remember-ribbon{
    width: 15px;
    height: 22px;
}

.home-content-area-3 h1,
.home-content-area-3 h2,
.home-content-area-3 h3,
.home-content-area-3 p,
.home-content-area-3 a,
.home-content-area-3 a:hover,
.home-content-area-3 a:visited,
.home-content-area-3 a:focus
{
    color: #fff;
}

.news-and-events ul.vt_feed_items li:before

{
    content: none; 
}
.news-and-events ul.vt_feed_items a{
    font-weight: 300;
}

/* vtnews-recent-posts */
.vtnews-c-recent-posts-title,
.vtnews-c-recent-posts{

}

.vtnews-c-recent-posts{
    border-bottom:1px solid #cecece;
    padding-bottom:15px;
    margin-bottom:25px;
}

.vtnews-c-recent-posts > div > div:first-child{
    /*background:lightblue;*/
    /*border-right:1px solid #cecece;*/
    width:33.333%;
}

.vtnews-c-recent-posts > div > div:last-child{
    /*background:lightgreen;*/
    width:66.6667%;
}



.vtnews-c-recent-posts-title:before{
    display:inline-block;
    margin-right:15px;
    padding-top:10px;
    float:left;
    font-size:25px;
    content:"\f0e5";
    font-family: FontAwesome;
}

.vtnews-c-recent-posts-more{
        border-bottom:1px solid #CECECE;
}

.media-grad li.media-list-item {
    border:1px solid rgba(0,0,0,0.8);
}


.vtnews-c-recent-posts p.timePosted,
.vtnews-c-recent-posts p.interact{
    display:none;
}

.vtnews-c-recent-posts .user a{
    color:black;
    font-weight:400;
}

.vtnews-c-recent-posts .user span[data-scribe = 'element:name']{
    display:none;
}

.vtnews-c-recent-posts .user img{
    display:none;
}

.vtnews-c-recent-twitter1:before,
.vtnews-c-recent-twitter2:before{
    content:'\f081';
    font-family:FontAwesome;
    font-size:28px;
    color:#cccccc;
    width:40px;
    float:left;
    margin-top:10px;
}

.vtnews-c-recent-twitter1,
.vtnews-c-recent-twitter2{
    padding-top:0;
    margin-top:0;
}

/* vtnews-recent-posts-hashtags */

.vtnews-c-recent-posts-hashtags{
    border-top:1px solid rgba(0,0,0,0.4);
    /*padding-left:35px;*/
}

.vtnews-c-recent-posts-hashtags h3{

}

.vtnews-c-recent-posts-hashtags h3:before{
    content:'\f02c';
    font-family:FontAwesome;
    font-size:28px;
    color:#cccccc;
    width:40px;
    float:left;
    margin-top:0px;
}

.vtnews-c-recent-posts-hashtags ul,
.vtnews-c-recent-posts-hashtags ul li{
    /*padding:0;*/
    /*margin:0;*/
    list-style: none;
}

.vtnews-c-recent-posts-hashtags ul li{
    display:inline-block;   
}

.vtnews-c-recent-posts-hashtags{
    
}

.vtnews-c-recent-posts-hashtags{

}

