﻿.rsx-sb-bndl-address-bar-address,
.rsx-sb-bndl-address-bar-links,
.rsx-sb-bndl-address-bar-label {
    display: table-cell;
    vertical-align: middle;
}
.rsx-border-sngl 
{
    border-right-style:solid;
    border-width:1px;
    border-right-color:#8f8f8f;
}
.rsx-h3 rsx-sb-bndl-address-bar-label {
    padding-right: 10px;
}

.rsx-sb-bndl-address-bar-address > input[type="text"] {
    width: 100%;
    border-color: #d4d4d4;
}

.rsx-sb-bndl-tabs .rsx-custom-select{
    width: 100%;
}

/* Bundles */

.rsx-sb-bndl-bundles > .rsx-sb-bndl-bundles-bundle {
    padding: 0;
    margin-bottom: 20px;
    transition: none;
}

.rsx-sb-bndl-bundles .rsx-pad-responsive {
    transition: none;
}

.rsx-sb-bndl-bundles-bundle-title {
    background-color: #00549a;
    padding: 20px;
    color: #fff;
    text-align: center;
}

.rsx-sb-bndl-bundles-bundle-body {
    border: 1px solid #d4d4d4;
    background-color: #fff;
}

.rsx-sb-bndl-bundles-bundle-section {
    position: relative;
}

.rsx-sb-bndl-bundles-bundle-section-title {
    color: #00549a;
    margin-bottom: 20px;
}

.rsx-sb-bndl-bundles-bundle-section.rsx-sb-bndl-bundles-bundle-section_internet ul.rsx-sb-bndl-bundles-bundle-item {
    padding-left: 0;
    list-style-type: none;
    margin-top: -10px;
}

    .rsx-sb-bndl-bundles-bundle-section.rsx-sb-bndl-bundles-bundle-section_internet ul.rsx-sb-bndl-bundles-bundle-item > li:before,
    .rsx-sb-bndl-bundles-bundle-section.rsx-sb-bndl-bundles-bundle-section_internet ul.rsx-sb-bndl-bundles-bundle-item > li:after {
        content: ' ';
        display: table;
    }

    .rsx-sb-bndl-bundles-bundle-section.rsx-sb-bndl-bundles-bundle-section_internet ul.rsx-sb-bndl-bundles-bundle-item > li:after {
        clear: both;
    }

    .rsx-sb-bndl-bundles-bundle-section.rsx-sb-bndl-bundles-bundle-section_internet ul.rsx-sb-bndl-bundles-bundle-item > li i {
        float: left;
    }

        .rsx-sb-bndl-bundles-bundle-section.rsx-sb-bndl-bundles-bundle-section_internet ul.rsx-sb-bndl-bundles-bundle-item > li i:before {
            font-size: 70px;
            left: -6px;
            position: relative;
            color: #00549a;
        }

        .rsx-sb-bndl-bundles-bundle-section.rsx-sb-bndl-bundles-bundle-section_internet ul.rsx-sb-bndl-bundles-bundle-item > li i + span {
            display: block;
            padding-top: 14px;
        }

            .rsx-sb-bndl-bundles-bundle-section.rsx-sb-bndl-bundles-bundle-section_internet ul.rsx-sb-bndl-bundles-bundle-item > li i + span + span {
                color: #000;
                font-size: 18px;
                display: block;
            }

.rsx-sb-bndl-bundles-bundle-item {
    position: relative;
    min-height: 65px;
}

.rsx-sb-bndl-bundles-bundle-item_movie .rsx-sb-bndl-bundles-bundle-item-desc > div{
    float: left;
}

    .rsx-sb-bndl-bundles-bundle-item_movie .rsx-sb-bndl-bundles-bundle-item-desc > div:nth-child(1){
        width: 52px;
    }

    .rsx-sb-bndl-bundles-bundle-item_movie .rsx-sb-bndl-bundles-bundle-item-desc > div:nth-child(2){
        width: calc(100% - 52px);
        padding-left: 10px;
        padding-top: 10px;
    }

    .rsx-sb-bndl-bundles-bundle-item_movie .rsx-sb-bndl-bundles-bundle-item-desc > div:nth-child(1) > img{
        width: 100%
    }

.rsx-sb-bndl-bundles-bundle-item > .rsx-icon-o {
    font-size: 64px;
    color: #00549a;
    position: absolute;
    top: 0;
    left: 0;
}

.rsx-sb-bndl-bundles-bundle-item > .rsx-icon.rsx-icon-plus {
    font-size: 20px;
    color: #00549a;
    position: absolute;
    top: 13px;
    left: 8px;
}

.rsx-sb-bndl-bundles-bundle-item-desc {
    padding-left: 70px;
}

.rsx-sb-bndl-bundles-bundle-item > .rsx-icon-o-tv,
.rsx-sb-bndl-bundles-bundle-item > .rsx-icon-o-receiver,
.rsx-sb-bndl-bundles-bundle-item > .rsx-icon-o-data-3,
.rsx-sb-bndl-bundles-bundle-item > .rsx-icon-o-homephone,
.rsx-sb-bndl-bundles-bundle-item > .rsx-icon-o-cellphone {
    width: 47px;
    height: 47px;
    overflow: hidden;
}
    .rsx-sb-bndl-bundles-bundle-item > .rsx-icon-o-tv:before,
    .rsx-sb-bndl-bundles-bundle-item > .rsx-icon-o-receiver:before,
    .rsx-sb-bndl-bundles-bundle-item > .rsx-icon-o-harddrive-button:before,
    .rsx-sb-bndl-bundles-bundle-item > .rsx-icon-o-data-3:before,
    .rsx-sb-bndl-bundles-bundle-item > .rsx-icon-o-homephone:before,
    .rsx-sb-bndl-bundles-bundle-item > .rsx-icon-o-cellphone:before {
        position: absolute;
        top: -10px;
        left: -11px;
    }

.rsx-sb-bndl-bundles-ala-carte-count{
    position: absolute;
    width: 43px;
    height: 43px;
    overflow: hidden;
    border: 1px solid #00549a;
    border-radius: 50%;
    top: 0;
    left: 8px;
}

    .rsx-sb-bndl-bundles-ala-carte-count > span{
        text-align: center;
        display: block;
        line-height: 1.75;
    }

.rsx-sb-bndl-bundles-bundle-item > .rsx-icon-o-arrow-up{
    font-size: 56px;
    width: 43px;
    height: 43px;
    overflow: hidden;
    border: 1px solid #00549a;
    border-radius: 50%;
    top: 10px;
}

    .rsx-sb-bndl-bundles-bundle-item > .rsx-icon-o-arrow-up:before {
        position: absolute;
        top: -7px;
        left: -8px;
    }

.rsx-sb-bndl-bundles-bundle-item > .rsx-icon-o-arrow-up_down.rsx-icon-o-arrow-up:before {
    transform: rotate(180deg);
    left: -7px;
}

.rsx-sb-bndl-bundles-bundle-item > .rsx-icon-o-upgradeoradd  {
    width: 47px;
    height: 47px;
    overflow: hidden;
    font-size: 52px;
}

    .rsx-sb-bndl-bundles-bundle-item > .rsx-icon-o-upgradeoradd:before  {
        position: absolute;
        top: -7px;
        left: -7px;
    }

.rsx-sb-bndl-bundles-channels {
    list-style-type: none;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 20px;
    padding: 0;
}

    .rsx-sb-bndl-bundles-channels:before,
    .rsx-sb-bndl-bundles-channels:after {
        content: ' ';
        display: table;
    }

    .rsx-sb-bndl-bundles-channels:after {
        clear: both;
    }

.rsx-sb-bndl-bundles-channel {
    float: left;
    position: relative;
    width: 33%;
    height: 50px;
}

    .rsx-sb-bndl-bundles-channel > img {
        width: 92%;
        height: auto;
        margin: 0 auto;
        max-width: 52px;
        max-height: 52px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

.rsx-sb-bndl-bundles-bundle-footer {
    background-color:#f0f0f0;
    border-top: 1px solid #d4d4d4;
    position: relative;
}

    .rsx-sb-bndl-bundles-bundle-footer .rsx-hr {
        background-color:#d4d4d4;
    }

.rsx-sb-bndl-bundles-bundle-pricing {
    display: table;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

    .rsx-sb-bndl-bundles-bundle-pricing .rsx-price-group {
        padding-right: 15px;
        display: table-cell;
        vertical-align: bottom;
        position: relative;
    }

        .rsx-sb-bndl-bundles-bundle-pricing .rsx-price-group + .rsx-price-group {
            padding-right: 0;
            padding-left: 15px;
            border-left: 1px solid #d4d4d4;
        }

    .rsx-sb-bndl-bundles-bundle-pricing .rsx-price {
        font-size: 29px;
    }

    .rsx-sb-bndl-bundles-bundle-pricing .rsx-price-group + .rsx-price-group:before,
    .rsx-sb-bndl-bundles-bundle-pricing .rsx-price-group + .rsx-price-group:after {
        content: '';
        display: block;
        position: absolute;
        z-index: 5;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
        border-width: 8px;
        left: 30%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .rsx-sb-bndl-bundles-bundle-pricing .rsx-price-group + .rsx-price-group:before{
        bottom: -20px;
        border-bottom-color: #bcbcbc;
    }

    .rsx-sb-bndl-bundles-bundle-pricing .rsx-price-group + .rsx-price-group:after{
        bottom: -21px;
        border-bottom-color: #f0f0f0;
    }

.rsx-sb-addons-price-xs .rsx-price {
    font-size: 35px!important;
}

.rsx-sb-bndl-bundles-bundle-section-remove {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 25px;
}

    .rsx-sb-bndl-bundles-bundle-section-remove > .rsx-icon{
        color: #00549a;
        font-size: 10px;
        font-weight: bold;
        position: relative;
        top: -1px;
    }

.rsx-sb-bndl-bundles-bundle-flag{
    min-height: 25px;
    background: #fff;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 3px;
    color: #00549a;
    border: 2px solid #00549a;
}

/*Bundle features*/

.rsx-sb-bndl-features_all-bundles > [class^="col-"] .rsx-icon-o-pvr,
.rsx-sb-bndl-features_all-bundles > [class^="col-"] .rsx-icon-o-wifi,
.rsx-sb-bndl-features_all-bundles > [class^="col-"] .rsx-icon-o-handset {
    font-size: 70px;
    height: 61px;
    width: 60px;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    .rsx-sb-bndl-features_all-bundles > [class^="col-"] .rsx-icon-o-pvr:before,
    .rsx-sb-bndl-features_all-bundles > [class^="col-"] .rsx-icon-o-wifi:before,
    .rsx-sb-bndl-features_all-bundles > [class^="col-"] .rsx-icon-o-handset:before {
        position: relative;
        left: -6px;
    }

    .rsx-sb-bndl-features_all-bundles > [class^="col-"] .rsx-icon-o-pvr:before {
        bottom: -11px;
    }

    .rsx-sb-bndl-features_all-bundles > [class^="col-"] .rsx-icon-o-wifi:before {
        bottom: 2px;
    }

.rsx-sb-bndl-features_all-bundles > [class^="col-"] img {
    width: 60px;
    display: inline-block;
}

.rsx-sb-bndl-features_all-bundles > [class^="col-"] img,
.rsx-sb-bndl-features_all-bundles > [class^="col-"] .rsx-icon-o-pvr,
.rsx-sb-bndl-features_all-bundles > [class^="col-"] .rsx-icon-o-wifi,
.rsx-sb-bndl-features_all-bundles > [class^="col-"] .rsx-icon-o-handset {
    margin-bottom: 15px;
}

.rsx-sb-bndl-add-mobility .rsx-icon-plus{
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px 20px 15px;
}

.rsx-sb-bndl-add-mobility .rsx-icon-o{
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
}

    .rsx-sb-bndl-add-mobility .rsx-icon-o:before{
        font-size: 90px;
    }

.rsx-sb-bndl-features:not(.rsx-sb-bndl-features_w-mobility) {
    padding-bottom: 40px;
}

    .rsx-sb-bndl-features:not(.rsx-sb-bndl-features_w-mobility) .rsx-sb-bndl-features_mobility {
        display: none;
    }

.rsx-sb-bndl-bundles-bundle-section ul:not(.rsx-sb-bndl-bundles-channels){
    margin: 0;
    padding: 0;
    list-style: none!important;
}

.rsx-sb-bndl-bundles-bundle-section:not(.rsx-sb-bndl-bundles-bundle-section_internet) ul:not(.rsx-sb-bndl-bundles-channels) > li{
    margin-left: 1em;
    position: relative;
    padding-bottom: 3px;
}

/*.rsx-sb-bndl-bundles-bundle-section ul:not(.rsx-sb-bndl-bundles-channels) > li:before{
    content: "•";
    position: absolute;
    top: 0;
    left: -1em;
}*/

.rsx-sb-bndl-bundles-more-channles {
    color: #00549a;
    border: none;
    background: none;
    margin-top: 20px;
    padding: 0;
}

    .rsx-sb-bndl-bundles-more-channles:hover {
        text-decoration: underline;
    }


@media (max-width: 519px) {
    .rsx-sb-bndl-address-bar-links-promo > .rsx-button {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .rsx-sb-bndl-bundles-channels {
        display: table;
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }

    .rsx-sb-bndl-bundles-channels-row {
        display: table-row;
    }

    .rsx-sb-bndl-bundles-bundle-section.rsx-sb-bndl-bundles-bundle-section_internet ul.rsx-sb-bndl-bundles-bundle-item > li i {
        display: block!important;
    }

    /* 
     * Implementation of Req2 - Complete your Bundle section 
     * Reduce "Want to add more services?" header size for mobile view
    */
    .rsx-sb-lob-picker h2 {
        font-size: 24px;
    }
}

@media (min-width: 520px) {

    .rsx-sb-bndl-address-bar-links-wrap {
        display: table;
        width: 90%;
        margin: 0 auto;
    }

    .rsx-sb-bndl-address-bar-links-promo,
    .rsx-sb-bndl-address-bar-links-login {
        display: table-cell;
        vertical-align: middle;
    }

    .rsx-sb-bndl-address-bar-links-promo {
        padding-left: 10px;
        padding-right: 10px;
        border-right: 1px solid #bcbcbc;
    }

    .rsx-show-xs {
        display: none;
    }

    /*.rsx-sb-bndl-address-bar-links-login {
        padding-left: 10px;
    }*/
}

@media (min-width: 640px) {
    .rsx-show-sm {
        display: none;
    }
}

@media (max-width: 999px) {
    .rsx-sb-bndl-address-bar-label,
    .rsx-sb-bndl-address-bar-address,
    .rsx-sb-bndl-address-bar-links {
        text-align: center;
        display: block;
        width: 100%;
    }

    .rsx-sb-bndl-address-bar-label{
        margin-bottom: 20px;
    }

    .rsx-sb-bndl-address-bar-address {
        margin-bottom: 30px;
    }

    .rsx-sb-bndl-address-bar {
        margin-bottom: 20px;
    }

    .rsx-sb-bndl-address-bar-address-text {
        text-align: center;
    }

        .rsx-sb-bndl-address-bar-address-text > a{
            margin-top: 20px;
        }

    /*Bundle features*/

    .rsx-sb-bndl-features_all-bundles > [class^="col-"] .rsx-icon-o-wifi {
        margin-top: 0;
    }

    .rsx-sb-bndl-features_all-bundles > [class^="col-"] .rsx-icon-o-pvr {
        margin-top: 10px;
    }

    .rsx-sb-bndl-features_all-bundles > [class^="col-"] img {
        margin-top: 40px;
    }
}

@media (min-width: 520px) and (max-width: 999px){

    .rsx-sb-bndl-address-bar-links {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .rsx-sb-bndl-address-bar-links-promo {
        width: 50%;
        text-align: right;
        padding-right: 20px;
    }

    .rsx-sb-bndl-address-bar-links-login {
        width: 50%;
        text-align: left;
        /* padding-left: 20px;*/
    }

    .rsx-sb-bndl-address-bar_pre-qual .rsx-sb-bndl-address-bar-links-login {
        padding-left: 0;
    }

    /* Bundles */

    .rsx-sb-bndl-bundles-channel {
        width: 11.1111%;
    }

    .rsx-sb-bndl-bundles-bundle-pricing {
        width: 55%;
    }
}


@media (min-width: 1000px) {

    .rsx-sb-bndl-address-bar {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .rsx-sb-bndl-address-bar {
        display: table;
        width: 100%;
    }

    .rsx-sb-bndl-address-bar-links-promo{
        text-align: center;
    }

    .rsx-sb-bndl-address-bar-address-link-above {
        margin-top: -15px;
    }

    .rsx-sb-bndl-address-bar-address-text {
        padding-left: 30px;
        padding-right: 10px;
        border-left: 1px solid #bcbcbc;
        position: relative;
    }

        .rsx-sb-bndl-address-bar-address-text:before,
        .rsx-sb-bndl-address-bar-address-text:after {
            content: '';
            display: block;
            position: absolute;
            z-index: 5;
            width: 0;
            height: 0;
            border-style: solid;
            border-color: transparent;
            border-width: 8px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .rsx-sb-bndl-address-bar-address-text:before{
            left: 0;
            border-left-color: #bcbcbc;
        }

        .rsx-sb-bndl-address-bar-address-text:after{
            left: -1px;
            border-left-color: #e1e1e1;
        }

    .rsx-sb-bndl-address-bar-label {
        padding-right: 10px;
    }

    /* Bundles */

    .rsx-sb-bndl-bundles {
        margin-left: -9px;
        margin-right: -9px;
    }

        .rsx-sb-bndl-bundles > .rsx-sb-bndl-bundles-bundle {
            padding: 0 9px;
        }

    .rsx-sb-bndl-bundles-bundle-title:after {
        display: none;
    }

    .rsx-sb-bndl-bundles-bundle-footer {
        padding-bottom: 130px!important;
    }


    .rsx-sb-bndl-bundles-bundle-footer-bottom {
        position: absolute;
        bottom: 30px;
        left: 20px;
        width: calc(100% - 40px);
    }

    .rsx-sb-bndl-bundles-bundle-flag{
        position: absolute;
        width: calc(100% - 18px);
        top: -25px;
        left: 9px;
    }
}

@media (min-width: 1000px) and (max-width: 1239px) {

    .rsx-sb-bndl-address-bar-address {
        width: 33%;
    }

    .rsx-sb-bndl-address-bar_pre-qual .rsx-sb-bndl-address-bar-address {
        width: 43%;
    }

    .rsx-sb-bndl-address-bar-links {
        width: 40%;
    }

    .rsx-sb-bndl-address-bar_pre-qual .rsx-sb-bndl-address-bar-links {
        width: 30%;
    }

    /*.rsx-sb-bndl-address-bar_pre-qual .rsx-sb-bndl-address-bar-links-login {
        padding-left: 20px;
    }*/

    .rsx-sb-bndl-address-bar-links-login {
        text-align: right;
    }
}

@media (min-width: 1240px)  {

    .rsx-sb-bndl-address-bar-address {
        width: 40%;
    }

    .rsx-sb-bndl-address-bar_pre-qual .rsx-sb-bndl-address-bar-address {
        width: 50%;
    }

    .rsx-sb-bndl-address-bar-links {
        width: 35%;
    }

    .rsx-sb-bndl-address-bar_pre-qual .rsx-sb-bndl-address-bar-links {
        width: 25%;
    }

    .rsx-sb-bndl-address-bar-links-login {
        text-align: right;
    }

    /*.rsx-sb-bndl-address-bar_pre-qual .rsx-sb-bndl-address-bar-links-login {
        padding-left: 20px;
    }*/

    .rsx-sb-bndl-bundles-bundle-footer-bottom {
        position: absolute;
        bottom: 30px;
        left: 40px;
        width: calc(100% - 80px);
    }
}
/*May 13 2016 Eugene Trounev [it-s]*/
.rsx-sb-section_tv .rsx-sb-section-header-solid.eshop-flow,
.rsx-sb-section_internet .rsx-sb-section-header.eshop-flow {
    padding-bottom: 30px;
    margin-bottom: 30px;
    min-height: auto;
}

.container.eshop-flow {
    margin-top: -100px;
}

@media (max-width: 519px) {
    .rsx-sb-section_internet .rsx-sb-section-header.eshop-flow,
    .rsx-sb-section_internet .rsx-sb-section-header.eshop-flow {
        height: 180px;
        padding-bottom: 40px;
        margin-bottom: -10px;
        overflow: visible;
    }
    /*.eshop-flow .rsx-sb-addons-link > a {
        color: #00549a!important;
    }*/
    .eshop-flow .rsx-sb-addons-link {
        padding-right: 0;
    }
}


/* Added for Modem battery options checkbox*/

.rsx-pad-60-left{
    padding-left:60px!important
}
.rsx-sb-addons-sub
  {
	color:#555;
}  
.rsx-background-grey {
    background-color: #f4f4f4;
}
.rsx-background-white {
    background-color: #fff;
}
.rsx-sb-addons-sub .rsx-h3,
.rsx-sb-addons-sub .rsx-custom-select
{
	color:#111111 !important;
}


.rsx-sb-addons-sub .rsx-price,
.rsx-sb-addons-sub .rsx-more-link-arrow,
.rsx-sb-addons-sub .rsx-more-link-arrow-txt,
.rsx-sb-addons-sub .rsx-sb-addons-price-xs
{
	color:#00549a !important;
}

@media(min-width:520px)and (max-width:999px){

.rsx-no-border-top-sm{
	border-top-width:0px
}
.rsx-no-border-right-sm{
	border-right-width:0px
}
.rsx-no-border-bottom-sm{
	border-bottom-width:0px
}
.rsx-no-border-left-sm{
	border-left-width:0px
}

}

.rsx-txt-size-36 {
    font-size: 36px!important;
}

#selectionForm div.rsx-product-purchase-colours ul.rsx-color-selector {
    margin: 5px 2px 5px 0 !important;
}

    #selectionForm div.rsx-product-purchase-colours ul.rsx-color-selector li:last-of-type {
        margin-right: 5px;
    }

@media (min-width: 1000px) {
    #selectionForm div.rsx-product-purchase-colours ul.rsx-color-selector li.rsx-active {
        margin-bottom: 4px;
    }
}

.rsx-bn-label{
     font-weight: normal;
     font-family: Arial;

}

