/* popup with video on dashboard */
.share-content .share-title {
  font-family: Muller-Medium;
  font-size: 12px;
  border: solid 1px #000;
  border-left: none;
  border-right: none;
  padding: 2px 5px 0;
  display: inline-block; 
}

.share-content .fa-twitter {
  font-size: 22px;
  display: inline-block;
  vertical-align: sub;
  margin-left: 27px;
  color: #000;
  text-decoration: none;
  cursor: pointer; 
}

.share-content .fa-facebook {
  font-size: 25px;
  display: inline-block;
  vertical-align: bottom;
  margin-left: 35px;
  color: #000;
  text-decoration: none;
  cursor: pointer; 
}

.share-content .fa-google-plus {
  font-size: 23px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 35px;
  color: #000;
  text-decoration: none;
  cursor: pointer; 
}

.share-content .fa-linkedin {
  font-size: 23px;
  display: inline-block;
  vertical-align: sub;
  margin-left: 32px;
  color: #000;
  text-decoration: none;
  cursor: pointer; 
}

.share-content .fa-whatsapp {
  font-size: 25px;
  display: none;
  vertical-align: middle;
  margin-left: 32px;
  color: #000;
  text-decoration: none;
  cursor: pointer; 
}

.share-content #copylink {
  width: 24px;
  height: 23px;
  background: url("https://powtoon-prod-static.s3.amazonaws.com/icons/link.svg") no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
  color: #000;
  text-decoration: none;
  cursor: pointer; 
}
.share-content #copylink:hover {
  background: url("https://powtoon-prod-static.s3.amazonaws.com/icons/link-blue.svg") no-repeat; 
}

.share-content .email {
  width: 27px;
  height: 17px;
  background: url("https://powtoon-prod-static.s3.amazonaws.com/icons/mail-outline.svg") no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
  color: #000;
  text-decoration: none;
  cursor: pointer; 
}
.share-content .email:hover {
  background: url("https://powtoon-prod-static.s3.amazonaws.com/icons/mail-outline-blue.svg") no-repeat; 
}

.share-content .fa-twitter:hover, .share-content .fa-facebook:hover, .share-content .fa-google-plus:hover, .share-content .fa-linkedin:hover, .share-content .fa-whatsapp:hover {
  color: #4b93d9; 
}

#upsale1 .pt-x-popup {
  background: url("https://powtoon-prod-static.s3.amazonaws.com/icons/close-x.svg") no-repeat; 
}

@media screen and (max-width: 900px) {
  .share-content .fa-whatsapp {
    display: inline-block; 
  } 
}
