.powtoon-rebirth {
  /*! sanitize.css v3.0.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */
  /*
 * Normalization
 */
  /*
 * Universal inheritance
 */
  /*
 * Opinionated defaults
 */
  /* ============================================================
  input radio buttons
============================================================ */
  /* ============================================================
  Toggle
============================================================ */ }
  .powtoon-rebirth audio:not([controls]) {
    display: none; }
  .powtoon-rebirth button {
    overflow: visible;
    -webkit-appearance: button; }
  .powtoon-rebirth details {
    display: block; }
  .powtoon-rebirth html {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%; }
  .powtoon-rebirth input {
    -webkit-border-radius: 0; }
    .powtoon-rebirth input[type="button"], .powtoon-rebirth input[type="reset"], .powtoon-rebirth input[type="submit"] {
      -webkit-appearance: button; }
    .powtoon-rebirth input[type="number"] {
      width: auto; }
    .powtoon-rebirth input[type="search"] {
      -webkit-appearance: textfield; }
      .powtoon-rebirth input[type="search"]::-webkit-search-cancel-button, .powtoon-rebirth input[type="search"]::-webkit-search-decoration {
        -webkit-appearance: none; }
  .powtoon-rebirth main {
    display: block; }
  .powtoon-rebirth pre {
    overflow: auto; }
  .powtoon-rebirth progress {
    display: inline-block; }
  .powtoon-rebirth small {
    font-size: 75%; }
  .powtoon-rebirth summary {
    display: block; }
  .powtoon-rebirth svg:not(:root) {
    overflow: hidden; }
  .powtoon-rebirth template {
    display: none; }
  .powtoon-rebirth textarea {
    overflow: auto; }
  .powtoon-rebirth [hidden] {
    display: none; }
  .powtoon-rebirth *,
  .powtoon-rebirth ::before,
  .powtoon-rebirth ::after {
    box-sizing: inherit; }
  .powtoon-rebirth * {
    font-size: inherit;
    line-height: inherit; }
  .powtoon-rebirth ::before,
  .powtoon-rebirth ::after {
    text-decoration: inherit;
    vertical-align: inherit; }
  .powtoon-rebirth *,
  .powtoon-rebirth ::before,
  .powtoon-rebirth ::after {
    border-style: solid;
    border-width: 0; }
  .powtoon-rebirth * {
    background-repeat: no-repeat;
    margin: 0;
    padding: 0; }
  .powtoon-rebirth :root {
    background-color: #FFFFFF;
    box-sizing: border-box;
    color: #000000;
    cursor: default;
    font: 100% / 1.5 sans-serif;
    text-rendering: optimizeLegibility; }
  .powtoon-rebirth a {
    text-decoration: none; }
  .powtoon-rebirth audio,
  .powtoon-rebirth canvas,
  .powtoon-rebirth iframe,
  .powtoon-rebirth img,
  .powtoon-rebirth svg,
  .powtoon-rebirth video {
    vertical-align: middle; }
  .powtoon-rebirth button,
  .powtoon-rebirth input,
  .powtoon-rebirth select,
  .powtoon-rebirth textarea {
    background-color: transparent; }
  .powtoon-rebirth button,
  .powtoon-rebirth input,
  .powtoon-rebirth select,
  .powtoon-rebirth textarea {
    color: inherit;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit; }
  .powtoon-rebirth button,
  .powtoon-rebirth [type="button"],
  .powtoon-rebirth [type="date"],
  .powtoon-rebirth [type="datetime"],
  .powtoon-rebirth [type="datetime-local"],
  .powtoon-rebirth [type="email"],
  .powtoon-rebirth [type="month"],
  .powtoon-rebirth [type="number"],
  .powtoon-rebirth [type="password"],
  .powtoon-rebirth [type="reset"],
  .powtoon-rebirth [type="search"],
  .powtoon-rebirth [type="submit"],
  .powtoon-rebirth [type="tel"],
  .powtoon-rebirth [type="text"],
  .powtoon-rebirth [type="time"],
  .powtoon-rebirth [type="url"],
  .powtoon-rebirth [type="week"],
  .powtoon-rebirth select,
  .powtoon-rebirth textarea {
    min-height: 1.5em; }
  .powtoon-rebirth code,
  .powtoon-rebirth kbd,
  .powtoon-rebirth pre,
  .powtoon-rebirth samp {
    font-family: monospace, monospace; }
  .powtoon-rebirth nav ol,
  .powtoon-rebirth nav ul {
    list-style: none; }
  .powtoon-rebirth select {
    -moz-appearance: none;
    -webkit-appearance: none; }
    .powtoon-rebirth select::-ms-expand {
      display: none; }
    .powtoon-rebirth select::-ms-value {
      color: currentColor; }
  .powtoon-rebirth table {
    border-collapse: collapse;
    border-spacing: 0; }
  .powtoon-rebirth textarea {
    resize: vertical; }
  .powtoon-rebirth ::-moz-selection {
    background-color: #B3D4FC;
    color: #ffffff;
    text-shadow: none; }
  .powtoon-rebirth ::selection {
    background-color: #B3D4FC;
    color: #ffffff;
    text-shadow: none; }
  .powtoon-rebirth [aria-busy="true"] {
    cursor: progress; }
  .powtoon-rebirth [aria-controls] {
    cursor: pointer; }
  .powtoon-rebirth [aria-disabled] {
    cursor: default; }
  .powtoon-rebirth [hidden][aria-hidden="false"] {
    clip: rect(0 0 0 0);
    display: inherit;
    position: absolute; }
    .powtoon-rebirth [hidden][aria-hidden="false"]:focus {
      clip: auto; }
  .powtoon-rebirth * {
    background: initial;
    font-weight: initial; }
    .ie .powtoon-rebirth * {
      background-image: none; }
  .powtoon-rebirth header {
    height: auto;
    border: none; }
  .powtoon-rebirth h3 {
    font-weight: bold;
    text-align: start; }
  .powtoon-rebirth input:required:invalid,
  .powtoon-rebirth input:required:invalid:focus {
    border: initial;
    box-shadow: initial; }
  .powtoon-rebirth input::-ms-clear {
    display: none; }
  .powtoon-rebirth footer {
    min-height: initial;
    min-width: initial;
    background-color: initial;
    background: initial; }
    .ie .powtoon-rebirth footer {
      background-color: transparent;
      min-width: inherit;
      background-image: none; }
  .powtoon-rebirth p {
    font-family: VisbyCF-bold;
    font-size: 14px;
    color: #687078; }
  .powtoon-rebirth .text-1 {
    font-family: VisbyCF-Medium;
    font-size: 15px;
    color: #676f77;
    letter-spacing: 0.5px; }
  .powtoon-rebirth .text-2 {
    font-family: VisbyCF-Bold;
    font-size: 14px;
    color: #676f77;
    letter-spacing: 0.5px; }
  .powtoon-rebirth .text-3 {
    font-family: VisbyCF-Light;
    font-size: 14px;
    color: #676f77;
    letter-spacing: 0.5px; }
  .powtoon-rebirth .text-4 {
    font-family: VisbyCF-Light;
    font-size: 12px;
    color: #687078;
    letter-spacing: 0.5px; }
  .powtoon-rebirth .text-5 {
    font-family: VisbyCF-Bold;
    font-size: 10px;
    color: #a1aab7;
    letter-spacing: 0.5px; }
  .powtoon-rebirth .text-6, .powtoon-rebirth .system-popup .modal-error {
    font-family: VisbyCF-DemiBold;
    font-size: 10px;
    color: #676f77;
    letter-spacing: 0.5px;
    text-transform: initial;
    line-height: 12px; }
  .powtoon-rebirth .system-popup {
    overflow-y: hidden;
    background-image: url(../../../images/powtoon-rebirth/page-background.png);
    background-size: cover;
    background-color: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100%;
    height: 100%; }
    .powtoon-rebirth .system-popup .modal-close {
      display: block;
      position: absolute;
      top: 19px;
      right: 25px;
      z-index: 2; }
      .powtoon-rebirth .system-popup .modal-close::before {
        text-decoration: none;
        color: #fff;
        /* use !important to prevent issues with browser extensions     that change fonts */
        font-family: 'rebirth' !important;
        content: "\e623";
        speak: none;
        font-style: normal;
        font-size: 30px;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .powtoon-rebirth .system-popup .modal-error {
      color: red; }
    .powtoon-rebirth .system-popup.modal-dialog {
      padding: 0;
      width: auto; }
      .powtoon-rebirth .system-popup.modal-dialog .modal-content {
        background-color: transparent;
        border: none;
        border-radius: 0;
        box-shadow: none; }
      .powtoon-rebirth .system-popup.modal-dialog .modal-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-color: #3498db;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .powtoon-rebirth .system-popup.modal-dialog .modal-header h1 {
          font-family: Muller-Light;
          text-transform: uppercase;
          letter-spacing: 2px;
          color: #fff;
          font-size: 20px; }
          .powtoon-rebirth .system-popup.modal-dialog .modal-header h1 .pticon-export {
            padding: 5px 12px 5px;
            border-right: 1px solid #fff;
            margin-right: 9px; }
        .powtoon-rebirth .system-popup.modal-dialog .modal-header .pow-modal-header {
          padding: 0; }
          .powtoon-rebirth .system-popup.modal-dialog .modal-header .pow-modal-header .description {
            padding: 0; }
          .powtoon-rebirth .system-popup.modal-dialog .modal-header .pow-modal-header .modal-close:before {
            top: 20px;
            right: 26px;
            color: #eeeff0;
            font-size: 28px; }
    .powtoon-rebirth .system-popup .main-content {
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      max-width: 1100px; }
      .powtoon-rebirth .system-popup .main-content h1 {
        font-family: Muller-Light;
        font-size: 60px;
        color: #253740;
        letter-spacing: 11px;
        font-weight: 400;
        text-align: center; }
      .powtoon-rebirth .system-popup .main-content .content {
        -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
                flex-shrink: 0; }
      .powtoon-rebirth .system-popup .main-content h3 {
        font-family: Muller-Light;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 1.2px;
        text-align: center;
        line-height: 26px;
        margin-top: 23px;
        margin-bottom: 68px;
        color: #253740; }
        .powtoon-rebirth .system-popup .main-content h3 span.strong {
          font-family: Muller-Bold; }
        .powtoon-rebirth .system-popup .main-content h3 .semi-title-bold {
          font-family: Muller-Bold; }
  @media only screen and (max-width: 768px) {
    .powtoon-rebirth .system-popup .main-content h1 {
      font-size: 32px;
      letter-spacing: 5px;
      line-height: 120%;
      padding: 0 3% 5px 3%; } }
  .powtoon-rebirth .levels {
    text-align: center;
    box-sizing: border-box;
    height: 29px; }
    .powtoon-rebirth .levels .level {
      display: inline-block;
      box-sizing: border-box; }
      .powtoon-rebirth .levels .level:not(:last-child):after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 20px;
        background-color: #a0aab7;
        position: relative;
        vertical-align: middle;
        margin: 0 40px 0 33px; }
      .powtoon-rebirth .levels .level p {
        display: inline-block;
        padding-left: 9px;
        color: #7e8895;
        font-size: 12px;
        line-height: 13px;
        letter-spacing: 0.5px;
        font-family: Muller-Light;
        margin-top: 21px; }
      .powtoon-rebirth .levels .level .level-circle {
        vertical-align: middle;
        text-align: center;
        width: 26px;
        height: 26px;
        border-style: solid;
        border-width: 1px;
        border-color: #7e8895;
        border-radius: 50px;
        display: inline-block;
        line-height: 26px;
        font-family: Muller-Bold;
        font-size: 13px; }
        .powtoon-rebirth .levels .level .level-circle p {
          font-family: VisbyCF-Bold;
          font-size: 10px;
          color: #a1aab7;
          letter-spacing: 0.5px; }
        .powtoon-rebirth .levels .level .level-circle span {
          color: #7e8895;
          padding-left: 1px;
          font-size: 15px;
          line-height: 15px;
          letter-spacing: 0.05px;
          font-family: Muller-Bold;
          position: relative;
          right: 0.5px; }
        .powtoon-rebirth .levels .level .level-circle.current {
          background-color: #0d8dc4;
          border-color: #0d8dc4;
          position: relative; }
          .powtoon-rebirth .levels .level .level-circle.current::before {
            content: '';
            display: block;
            height: 0;
            width: 0;
            border-style: solid;
            border-width: 12px 11px 0 11px;
            border-color: #3498db transparent transparent transparent;
            position: absolute;
            left: 20px;
            top: -16px; }
          .powtoon-rebirth .levels .level .level-circle.current span {
            color: #ffffff; }
          .powtoon-rebirth .levels .level .level-circle.current ~ p {
            color: #0d8dc4; }
        .powtoon-rebirth .levels .level .level-circle.complete {
          background-color: #40b980;
          border-color: #40b980;
          position: relative; }
          .powtoon-rebirth .levels .level .level-circle.complete:before {
            content: "\e61b";
            font-family: 'rebirth' !important;
            font-size: 9px;
            color: #fff; }
          .powtoon-rebirth .levels .level .level-circle.complete span {
            display: none; }
          .powtoon-rebirth .levels .level .level-circle.complete ~ p {
            color: #40b980; }
  .powtoon-rebirth .select-container {
    position: relative;
    top: 50px; }
  .powtoon-rebirth .selectbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    /* Close Main .selectbox */ }
    .powtoon-rebirth .selectbox .example-appear {
      opacity: 0;
      max-height: 0px;
      max-width: 0px;
      overflow: hidden; }
    .powtoon-rebirth .selectbox .example-appear.example-appear-active {
      max-height: 300px;
      max-width: 720px;
      opacity: 1;
      -webkit-transition: opacity 0.4s ease, max-height 1s ease, max-width 0.5s ease;
      transition: opacity 0.4s ease, max-height 1s ease, max-width 0.5s ease; }
    .powtoon-rebirth .selectbox .selectbox-premium-badge {
      position: relative; }
      .powtoon-rebirth .selectbox .selectbox-premium-badge .feature-popup-container {
        left: -251px;
        top: 14px; }
    .powtoon-rebirth .selectbox .select_list {
      z-index: 2;
      width: 720px;
      box-shadow: 0 0 4px rgba(1, 1, 1, 0.3); }
      .powtoon-rebirth .selectbox .select_list .option {
        background-color: white;
        height: 40px;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #a0aab7;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .powtoon-rebirth .selectbox .select_list .option .premium_badge {
          margin-right: 20px;
          margin-top: 4px; }
        .powtoon-rebirth .selectbox .select_list .option:not(.disabled):not(.coming-soon) {
          cursor: pointer; }
          .powtoon-rebirth .selectbox .select_list .option:not(.disabled):not(.coming-soon):hover {
            background: #d9dcdf; }
          .powtoon-rebirth .selectbox .select_list .option:not(.disabled):not(.coming-soon):last-child {
            border-bottom: none; }
        .powtoon-rebirth .selectbox .select_list .option.coming-soon h3.title {
          color: lightgrey; }
        .powtoon-rebirth .selectbox .select_list .option .title {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          padding-left: 15px;
          font-size: 16px;
          font-family: Muller-Medium; }
    .powtoon-rebirth .selectbox .select_input {
      width: 400px;
      height: 40px;
      border-bottom: 1px solid #253740;
      box-sizing: border-box;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: #dbdadd; }
      .powtoon-rebirth .selectbox .select_input.error {
        border-bottom-color: #F05C58; }
      .powtoon-rebirth .selectbox .select_input .select-input-icon {
        color: #1A8CC5;
        font-size: 18px;
        padding-right: 10px; }
      .powtoon-rebirth .selectbox .select_input h2 {
        padding-left: 14px;
        margin: 0;
        width: 100%; }
  .powtoon-rebirth button:focus {
    outline: 0; }
  .powtoon-rebirth .button {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px;
    border-color: #253740;
    border-radius: 21px;
    cursor: pointer;
    min-width: 180px;
    min-height: 40px;
    font-size: 0.88em;
    color: #253740;
    font-size: 16px;
    font-family: Muller-Regular;
    line-height: 40px;
    letter-spacing: 0.05em;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    padding: 0 40px; }
    .powtoon-rebirth .button.small {
      width: 120px;
      font-family: VisbyCF-bold;
      padding-bottom: 3px;
      line-height: 25px;
      font-size: 12px; }
    .powtoon-rebirth .button.button-main {
      background-color: #168dc6;
      border-color: #168dc6;
      color: #ffffff; }
    .powtoon-rebirth .button.button-feature-popup-main {
      background-color: #45B3E2;
      border-color: #45B3E2;
      color: #ffffff; }
    .powtoon-rebirth .button.button-feature-popup-secondary {
      border-color: #2D4354;
      color: #2D4354; }
    .powtoon-rebirth .button.button-alert {
      background-color: #F57F17;
      border-color: #F57F17;
      color: #ffffff;
      line-height: 35px;
      font-size: 15px;
      font-family: Muller-Medium; }
    .powtoon-rebirth .button.button-disabled {
      background-color: #d9dcdf;
      border-color: #d9dcdf;
      color: #ffffff; }
    .powtoon-rebirth .button.button-publish-sidebar {
      background-color: #EEEFF1;
      border-color: #EEEFF1;
      margin: auto; }
      .powtoon-rebirth .button.button-publish-sidebar:hover {
        background-color: white;
        border-color: white; }
    .powtoon-rebirth .button.button-success {
      background-color: green;
      border-color: green;
      color: #ffffff; }
    .powtoon-rebirth .button.button-hover {
      background-color: #233840;
      border-color: #233840;
      color: #ffffff; }
  .powtoon-rebirth .feature-popup-wrapper-show {
    visibility: visible !important; }
  .powtoon-rebirth .tooltip-anchor {
    position: relative; }
  .powtoon-rebirth .rebirth-tooltip {
    width: 102px;
    height: 41px;
    padding: 0 5px;
    background-color: #F05C58;
    position: absolute;
    right: -114px;
    top: 0;
    background-color: #F05C58; }
    .powtoon-rebirth .rebirth-tooltip::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      margin-left: -7px;
      width: 0;
      height: 0;
      border-top: 8px solid #F05C58;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent; }
    .powtoon-rebirth .rebirth-tooltip span {
      color: white;
      font-family: VisbyCF-Light;
      font-size: 13px; }
  .powtoon-rebirth .feature-popup-hover-element {
    position: relative; }
    .powtoon-rebirth .feature-popup-hover-element:hover .feature-popup-container {
      visibility: visible; }
  .powtoon-rebirth .feature-popup-container {
    z-index: 1;
    position: absolute;
    display: inline-block;
    visibility: hidden; }
    .powtoon-rebirth .feature-popup-container.feature-popup-upload-section-wrapper {
      right: 80px;
      top: 33px; }
    .powtoon-rebirth .feature-popup-container.feature-popup-download-section-wrapper {
      right: 64px;
      top: 34px; }
    .powtoon-rebirth .feature-popup-container p {
      margin-bottom: 10px;
      font-family: Muller-Thin;
      font-size: 15px;
      line-height: 130%;
      letter-spacing: 0.6px;
      color: #ffffff; }
    .powtoon-rebirth .feature-popup-container button.small {
      width: 140px;
      font-family: Muller-Medium;
      padding-bottom: 3px;
      line-height: 35px;
      font-size: 15px; }
    .powtoon-rebirth .feature-popup-container .top-row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
    .powtoon-rebirth .feature-popup-container .feature-popup-close {
      color: #ffffff;
      text-decoration: none; }
      .powtoon-rebirth .feature-popup-container .feature-popup-close::before {
        content: "\e623";
        font-family: 'rebirth' !important;
        speak: none;
        font-size: 8px;
        color: #ffffff;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .powtoon-rebirth .feature-popup-container .feature-popup-one-button {
      background: #253740;
      box-sizing: border-box;
      width: 216px;
      padding: 20px;
      display: inline-block;
      text-align: center;
      z-index: 999;
      border-radius: 6px; }
      .powtoon-rebirth .feature-popup-container .feature-popup-one-button::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        margin-right: -17px;
        width: 0;
        height: 0;
        border-top: 18px solid #253740;
        border-right: 18px solid transparent;
        border-left: 18px solid transparent; }
      .powtoon-rebirth .feature-popup-container .feature-popup-one-button::before {
        content: '';
        background-color: transparent;
        position: absolute;
        top: -18px;
        right: -32px;
        width: 56px;
        height: 132px;
        -webkit-transform: rotate(21deg);
                transform: rotate(21deg); }
    .powtoon-rebirth .feature-popup-container .feature-popup-no-buttons {
      background: #253740;
      box-sizing: border-box;
      width: 216px;
      padding: 20px 20px 20px 20px;
      display: inline-block;
      text-align: center;
      z-index: 999; }
      .powtoon-rebirth .feature-popup-container .feature-popup-no-buttons button {
        margin-bottom: 20px; }
    .powtoon-rebirth .feature-popup-container .feature-popup-no-buttons::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      margin-right: -17px;
      width: 0;
      height: 0;
      border-top: 18px solid #253740;
      border-right: 18px solid transparent;
      border-left: 18px solid transparent; }
    .powtoon-rebirth .feature-popup-container .feature-popup-two-buttons {
      background: #253740;
      box-sizing: border-box;
      width: 325px;
      padding: 20px 20px 0 20px;
      text-align: center;
      z-index: 999; }
      .powtoon-rebirth .feature-popup-container .feature-popup-two-buttons button {
        margin: 0 0 30px 5px; }
    .powtoon-rebirth .feature-popup-container .feature-popup-two-buttons::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      margin-left: -17px;
      width: 0;
      height: 0;
      border-bottom: 18px solid #253740;
      border-left: 18px solid transparent;
      border-right: 18px solid transparent; }
  .powtoon-rebirth .premium_badge,
  .powtoon-rebirth .premium_badge::before,
  .powtoon-rebirth .premium_badge::after {
    position: relative;
    box-sizing: border-box; }
  .powtoon-rebirth .premium_badge p {
    background: #F57F17;
    position: relative;
    color: white;
    display: inline-block;
    padding: 1.4px 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: VisbyCF-HEAVY;
    font-size: 8px;
    letter-spacing: 2.72px; }
    .powtoon-rebirth .premium_badge p:before, .powtoon-rebirth .premium_badge p:after {
      background: #F57F17;
      position: absolute;
      top: 4.0px;
      content: ' ';
      height: 0;
      border: 8.4px solid transparent;
      border-left: 8px solid white;
      background: transparent; }
    .powtoon-rebirth .premium_badge p:before {
      left: -12px; }
    .powtoon-rebirth .premium_badge p:after {
      right: -12px;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      border: 11.4px solid #F57F17;
      border-left: 8px solid transparent; }
  .powtoon-rebirth .premium_badge span {
    position: absolute;
    top: 18px;
    left: 14px;
    color: #F57F17;
    font-family: VisbyCF-HEAVY;
    font-size: 7px;
    letter-spacing: 1.28px;
    text-transform: uppercase; }
  .powtoon-rebirth .premium_badge.premium_badge_large p:before, .powtoon-rebirth .premium_badge.premium_badge_large p:after {
    border: 11.4px solid transparent;
    border-left: 8px solid white;
    top: 5px; }
  .powtoon-rebirth .premium_badge.premium_badge_large p:before {
    left: -14px; }
  .powtoon-rebirth .premium_badge.premium_badge_large p:after {
    right: -14px;
    border: 11.4px solid #F57F17; }
  .powtoon-rebirth .premium_badge_on_circle,
  .powtoon-rebirth .premium_badge_on_circle:before,
  .powtoon-rebirth .premium_badge_on_circle:after {
    box-sizing: border-box; }
  .powtoon-rebirth .premium_badge_on_circle .badge-text {
    background: #F57F17;
    position: absolute;
    left: 5px;
    bottom: -5px;
    color: white;
    display: inline-block;
    padding: 0 3px;
    text-align: center;
    text-transform: uppercase;
    font-family: VisbyCF-HEAVY;
    font-size: 8px;
    letter-spacing: 1px;
    line-height: 12px; }
    .powtoon-rebirth .premium_badge_on_circle .badge-text::before, .powtoon-rebirth .premium_badge_on_circle .badge-text::after {
      background: #F57F17;
      position: absolute;
      top: 2.5px;
      content: '';
      height: 0;
      border: 6.2px solid transparent;
      border-left: 3px solid #CACED2; }
    .powtoon-rebirth .premium_badge_on_circle .badge-text::before {
      left: -7px; }
    .powtoon-rebirth .premium_badge_on_circle .badge-text::after {
      right: -7px;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  .powtoon-rebirth .premium_badge_on_paper,
  .powtoon-rebirth .premium_badge_on_paper:before,
  .powtoon-rebirth .premium_badge_on_paper:after {
    box-sizing: border-box; }
  .powtoon-rebirth .premium_badge_on_paper .badge-text {
    background: #F57F17;
    position: absolute;
    left: -2px;
    bottom: 0;
    color: white !important;
    display: inline-block;
    padding: 0 3px 0 5px;
    text-align: center;
    text-transform: uppercase;
    font-family: VisbyCF-HEAVY;
    font-size: 7px;
    letter-spacing: 1px;
    line-height: 12px; }
    .powtoon-rebirth .premium_badge_on_paper .badge-text::before, .powtoon-rebirth .premium_badge_on_paper .badge-text::after {
      background: #F57F17;
      position: absolute;
      top: 4px;
      content: '';
      height: 0;
      border: 5px solid transparent;
      border-left: 3px solid #CACED2; }
    .powtoon-rebirth .premium_badge_on_paper .badge-text::before {
      left: -4px; }
    .powtoon-rebirth .premium_badge_on_paper .badge-text::after {
      right: -4px;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  .powtoon-rebirth .premium_badge_medium {
    position: relative;
    font-size: 16px;
    line-height: 20px; }
    .powtoon-rebirth .premium_badge_medium p {
      background: #F57F17;
      position: relative;
      right: 3px;
      color: white;
      display: inline-block;
      padding: 0 3px;
      text-align: center;
      text-transform: uppercase;
      font-family: VisbyCF-HEAVY;
      font-size: 8px;
      letter-spacing: 1px;
      line-height: 12px; }
      .powtoon-rebirth .premium_badge_medium p::before, .powtoon-rebirth .premium_badge_medium p::after {
        background: #F57F17;
        position: absolute;
        top: 2.5px;
        content: '';
        height: 0;
        border: 6.2px solid #F57F17;
        border-left: 3.5px solid transparent;
        background: transparent; }
      .powtoon-rebirth .premium_badge_medium p::before {
        left: -7px; }
      .powtoon-rebirth .premium_badge_medium p::after {
        right: -7px;
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg); }
    .powtoon-rebirth .premium_badge_medium span {
      position: absolute;
      color: #F57F17;
      font-size: 7px;
      font-family: VisbyCF-Heavy;
      text-transform: uppercase;
      top: 18px;
      left: -5px;
      right: 0px;
      text-align: center;
      line-height: 9px; }
  .powtoon-rebirth .premium_badge_img {
    width: 49px;
    height: 40px;
    background-image: url("../../../images/powtoon-rebirth/premium-strip.svg");
    background-size: 100%; }
  .powtoon-rebirth .premium_badge_bigimg {
    width: 61px;
    height: 50px;
    background-image: url("../../../images/powtoon-rebirth/premium-strip.svg");
    background-size: 100%;
    background-repeat: no-repeat; }
  .powtoon-rebirth .business_badge_bigimg {
    width: 61px;
    height: 50px;
    background-image: url("../../../images/powtoon-rebirth/business-strip.svg");
    background-size: 100%;
    background-repeat: no-repeat; }
  .powtoon-rebirth .paper-button {
    border: none;
    text-align: center;
    position: relative;
    width: 46px;
    height: 60px;
    background: #EEEFF1;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .powtoon-rebirth .paper-button span {
      font-family: VisbyCF-DemiBold;
      font-size: 10px;
      color: #677078 !important;
      letter-spacing: 0.6px;
      line-height: 12px;
      position: absolute;
      bottom: -13px;
      left: 0;
      right: 0;
      text-align: center; }
    .powtoon-rebirth .paper-button span.offline-player-text {
      bottom: -24px; }
    .powtoon-rebirth .paper-button::before {
      font-family: 'rebirth' !important;
      position: relative;
      font-size: 25px;
      color: #6C737B;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    .powtoon-rebirth .paper-button::after {
      position: absolute;
      right: 0;
      top: 0;
      content: '';
      width: 0;
      height: 0;
      border-top: 16px solid #CACED2;
      border-left: 16px solid #D7DBDE; }
    .powtoon-rebirth .paper-button.ppt:hover {
      background: #ffffff; }
      .powtoon-rebirth .paper-button.ppt:hover::before {
        color: #CE4836; }
    .powtoon-rebirth .paper-button.ppt::before {
      content: "\e935"; }
    .powtoon-rebirth .paper-button.pdf:hover {
      background: #ffffff; }
      .powtoon-rebirth .paper-button.pdf:hover::before {
        color: #F70D01; }
    .powtoon-rebirth .paper-button.pdf::before {
      content: "\e915";
      top: 4px; }
    .powtoon-rebirth .paper-button.mp4:hover {
      background: #ffffff; }
      .powtoon-rebirth .paper-button.mp4:hover::before {
        color: #253740; }
    .powtoon-rebirth .paper-button.mp4::before {
      font-size: 16.5px;
      content: "\e92b"; }
    .powtoon-rebirth .paper-button.offline_player:hover {
      background: #ffffff; }
      .powtoon-rebirth .paper-button.offline_player:hover::before {
        color: #253740; }
    .powtoon-rebirth .paper-button.offline_player::before {
      content: "\e931";
      top: -2px; }
  .powtoon-rebirth .square-button {
    border: none;
    width: 43px;
    height: 43px;
    background: #EEEFF1;
    border-radius: 5px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .powtoon-rebirth .square-button::before {
      /* use !important to prevent issues with browser extensions     that change fonts */
      position: relative;
      font-family: 'rebirth' !important;
      font-size: 41px;
      speak: none;
      color: #6C737B;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    .powtoon-rebirth .square-button.facebook:hover {
      background: white; }
      .powtoon-rebirth .square-button.facebook:hover::before {
        color: #3B5998; }
    .powtoon-rebirth .square-button.facebook::before {
      content: "\e908"; }
    .powtoon-rebirth .square-button.twitter:hover {
      background: #ffffff; }
      .powtoon-rebirth .square-button.twitter:hover::before {
        color: #3FCAEF; }
    .powtoon-rebirth .square-button.twitter::before {
      content: "\e936"; }
    .powtoon-rebirth .square-button.googleplus:hover {
      background: #ffffff; }
      .powtoon-rebirth .square-button.googleplus:hover::before {
        color: #DF4A32; }
    .powtoon-rebirth .square-button.googleplus::before {
      content: "\e933"; }
    .powtoon-rebirth .square-button.linkedin:hover {
      background: #ffffff; }
      .powtoon-rebirth .square-button.linkedin:hover::before {
        color: #1686B0; }
    .powtoon-rebirth .square-button.linkedin::before {
      content: "\e934"; }
    .powtoon-rebirth .square-button.email:hover {
      background: #ffffff; }
      .powtoon-rebirth .square-button.email:hover::before {
        color: #253740; }
    .powtoon-rebirth .square-button.email::before {
      content: "\e92c"; }
    .powtoon-rebirth .square-button.link:hover {
      background: #ffffff; }
      .powtoon-rebirth .square-button.link:hover::before {
        color: #253740; }
    .powtoon-rebirth .square-button.link::before {
      content: "\e613"; }
  .powtoon-rebirth .circle-button {
    border: none;
    position: relative;
    width: 60px;
    height: 60px;
    background: #EEEFF1;
    border-radius: 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .powtoon-rebirth .circle-button::before {
      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: 'rebirth' !important;
      speak: none;
      font-size: 28px;
      color: #6C737B;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    .powtoon-rebirth .circle-button.vimeo:hover {
      background: #ffffff; }
      .powtoon-rebirth .circle-button.vimeo:hover::before {
        color: #1AB7EA; }
    .powtoon-rebirth .circle-button.vimeo::before {
      content: "\e805"; }
    .powtoon-rebirth .circle-button.youtube:hover {
      background: #ffffff; }
      .powtoon-rebirth .circle-button.youtube:hover::before {
        color: #D82A2A; }
    .powtoon-rebirth .circle-button.youtube::before {
      content: "\e62e"; }
    .powtoon-rebirth .circle-button.slideshare:hover {
      background: #ffffff; }
      .powtoon-rebirth .circle-button.slideshare:hover::before {
        color: #1CA7A8; }
    .powtoon-rebirth .circle-button.slideshare::before {
      content: "\e92a";
      font-size: 41px; }
    .powtoon-rebirth .circle-button.wistia:hover {
      background: #ffffff; }
      .powtoon-rebirth .circle-button.wistia:hover::before {
        color: #148EE0; }
    .powtoon-rebirth .circle-button.wistia::before {
      content: "\e62d"; }
  .powtoon-rebirth .filedownload:hover {
    background: #ffffff; }
    .powtoon-rebirth .filedownload:hover::before {
      color: #253740; }
  .powtoon-rebirth .filedownload::before {
    content: "\e930"; }
  .powtoon-rebirth .slidestitle:hover {
    background: #ffffff; }
    .powtoon-rebirth .slidestitle:hover::before {
      color: #253740; }
  .powtoon-rebirth .slidestitle::before {
    content: "\e912"; }
  .powtoon-rebirth .input-wrapper {
    position: relative;
    display: block;
    border-bottom: 1px solid #676f77; }
    .powtoon-rebirth .input-wrapper .input-pencil {
      position: absolute;
      right: 5px;
      top: 10px;
      font-size: 16px;
      display: none; }
      .powtoon-rebirth .input-wrapper .input-pencil:hover {
        display: block; }
    .powtoon-rebirth .input-wrapper .required-title {
      position: absolute;
      right: -122px;
      top: 7px; }
  .powtoon-rebirth .material-input {
    font-size: 14px;
    position: relative;
    width: 100%;
    display: block;
    border: none;
    height: 35px;
    box-sizing: border-box;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #676f77 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #676f77 4%);
    background-position: -440px 0;
    background-size: 440px 100%;
    background-repeat: no-repeat;
    color: #253740; }
    .powtoon-rebirth .material-input:hover + .input-pencil {
      display: block; }
    .powtoon-rebirth .material-input:focus, .powtoon-rebirth .material-input:valid {
      position: relative;
      top: 2px;
      box-shadow: none;
      outline: none;
      font-size: 16px;
      line-height: 15px;
      letter-spacing: 0.5px;
      font-family: Muller-Medium;
      color: #687078;
      padding-left: 8px; }
      .powtoon-rebirth .material-input:focus::-webkit-input-placeholder, .powtoon-rebirth .material-input:valid::-webkit-input-placeholder {
        color: #676f77;
        font-family: Muller-Medium;
        /* transform: translateY(-20px); */
        visibility: visible !important;
        letter-spacing: 0.5px; }
      .powtoon-rebirth .material-input:focus::-moz-placeholder, .powtoon-rebirth .material-input:valid::-moz-placeholder {
        color: #676f77;
        font-family: Muller-Medium;
        /* transform: translateY(-20px); */
        visibility: visible !important;
        letter-spacing: 0.5px; }
      .powtoon-rebirth .material-input:focus:-ms-input-placeholder, .powtoon-rebirth .material-input:valid:-ms-input-placeholder {
        color: #676f77;
        font-family: Muller-Medium;
        /* transform: translateY(-20px); */
        visibility: visible !important;
        letter-spacing: 0.5px; }
      .powtoon-rebirth .material-input:focus::placeholder, .powtoon-rebirth .material-input:valid::placeholder {
        color: #676f77;
        font-family: Muller-Medium;
        /* transform: translateY(-20px); */
        visibility: visible !important;
        letter-spacing: 0.5px; }
    .powtoon-rebirth .material-input:focus {
      background-position: 0 0;
      background-size: 100%; }
      .powtoon-rebirth .material-input:focus + .input-pencil {
        display: none; }
    .powtoon-rebirth .material-input:invalid {
      color: black !important; }
  .powtoon-rebirth input[type="radio"] {
    display: inline-block !important;
    margin-right: 10px;
    margin-top: 0;
    width: 20px;
    height: 20px; }
    .powtoon-rebirth input[type="radio"]:checked:hover::before, .powtoon-rebirth input[type="radio"]:checked:focus::before, .powtoon-rebirth input[type="radio"]:checked::before {
      box-shadow: inset 0 0 0 10px #168dc6; }
    .powtoon-rebirth input[type="radio"]:hover::before, .powtoon-rebirth input[type="radio"]:focus::before {
      box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.6); }
    .powtoon-rebirth input[type="radio"]::before {
      display: block;
      content: '';
      position: relative;
      bottom: 2px;
      right: 2px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: white;
      box-shadow: inset 0 0 0 1px #168dc6;
      -webkit-transition: box-shadow 0.3s ease;
      transition: box-shadow 0.3s ease; }
  .powtoon-rebirth .toggle {
    display: block;
    text-align: center;
    height: 22px;
    box-sizing: initial; }
    .powtoon-rebirth .toggle input[type="checkbox"] {
      position: absolute;
      margin-left: -9999px;
      visibility: hidden; }
    .powtoon-rebirth .toggle label {
      position: relative;
      width: 100%;
      /* Needed for Safari to display the toggle correctly */
      text-align: right;
      vertical-align: middle;
      cursor: pointer;
      padding-right: 36px;
      box-sizing: border-box; }
      .powtoon-rebirth .toggle label span {
        font-family: Muller-Regular;
        color: #455a64;
        font-size: 12px;
        line-height: 20px;
        text-transform: capitalize; }
      .powtoon-rebirth .toggle label span:first-child::after {
        position: absolute;
        right: -39px;
        top: -4px;
        content: '';
        display: inline-block;
        padding: 0;
        margin: 0;
        width: 35px;
        height: 18px;
        background-color: #42a5f5;
        border-radius: 20px; }
      .powtoon-rebirth .toggle label span:first-child:hover::before {
        background-color: #e7f2fb; }
      .powtoon-rebirth .toggle label span:first-child::before {
        position: absolute;
        content: '';
        top: -2px;
        right: -20px;
        height: 14px;
        width: 14px;
        background-color: #fff;
        border-radius: 50%;
        -webkit-transition: right 0.4s;
        transition: right 0.4s;
        z-index: 1; }
      .powtoon-rebirth .toggle label span:first-child {
        position: relative;
        right: 19.5px;
        padding-right: 5px;
        vertical-align: inherit; }
      .powtoon-rebirth .toggle label span:last-child {
        position: relative;
        left: 19.5px;
        padding-left: 6px;
        vertical-align: inherit; }
    .powtoon-rebirth .toggle input[type="checkbox"]:checked + label > span:first-child::before {
      right: -36px; }
  .powtoon-rebirth .textarea-container {
    z-index: 1; }
  .powtoon-rebirth .react_textarea {
    /* close react_textarea */ }
    .powtoon-rebirth .react_textarea .example-appear {
      opacity: 0;
      max-height: 0;
      max-width: 0;
      overflow: hidden; }
    .powtoon-rebirth .react_textarea .example-appear.example-appear-active {
      max-height: 300px;
      max-width: 720px;
      opacity: 1;
      -webkit-transition: opacity 0.4s ease, max-height 1s ease, max-width 0.5s ease;
      transition: opacity 0.4s ease, max-height 1s ease, max-width 0.5s ease; }
    .powtoon-rebirth .react_textarea .example-leave {
      max-height: 300px;
      max-width: 720px;
      opacity: 1;
      -webkit-transition: opacity 0.4s ease, max-height 1s ease, max-width 0.5s ease;
      transition: opacity 0.4s ease, max-height 1s ease, max-width 0.5s ease; }
    .powtoon-rebirth .react_textarea .example-leave.example-leave-active {
      opacity: 0;
      max-height: 0;
      max-width: 0;
      overflow: hidden;
      -webkit-transition: opacity 0.4s ease, max-height 1s ease, max-width 0.5s ease;
      transition: opacity 0.4s ease, max-height 1s ease, max-width 0.5s ease; }
    .powtoon-rebirth .react_textarea .topbar {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .powtoon-rebirth .react_textarea .topbar h2 {
        font-size: 16px;
        color: #253740; }
      .powtoon-rebirth .react_textarea .topbar .toptext {
        display: inline-block;
        padding: 8px 26px 10px 10px;
        font-family: Muller-Light;
        font-size: 12px;
        color: #253740;
        border: 1px solid #a0aab7;
        width: 188px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 22px;
        max-height: 58px;
        margin-top: 10px;
        min-height: 58px; }
      .powtoon-rebirth .react_textarea .topbar .left_link {
        position: relative; }
      .powtoon-rebirth .react_textarea .topbar .rightlink {
        position: relative;
        width: 100%; }
    .powtoon-rebirth .react_textarea .save h2 {
      color: #39A1D1; }
    .powtoon-rebirth .react_textarea .rightedit {
      color: #39A1D1;
      position: absolute;
      bottom: 13px;
      vertical-align: text-top;
      font-size: 11px;
      left: 165px; }
      .powtoon-rebirth .react_textarea .rightedit::before {
        color: #fff;
        background-color: #3498db;
        padding: 4px 4.5px;
        border-radius: 17px; }
    .powtoon-rebirth .react_textarea .text-area-footer {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      padding: 0 12px; }
      .powtoon-rebirth .react_textarea .text-area-footer .align-right {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        width: 50%; }
      .powtoon-rebirth .react_textarea .text-area-footer .align-left {
        width: 50%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start; }
    .powtoon-rebirth .react_textarea h2 {
      margin: 0;
      display: inline-block; }
    .powtoon-rebirth .react_textarea button {
      text-decoration: none; }
    .powtoon-rebirth .react_textarea button:disabled {
      opacity: 0.5;
      cursor: auto; }
    .powtoon-rebirth .react_textarea .desc::before {
      /* use !important to prevent issues with browser extensions     that change fonts */
      content: "\e910";
      font-family: 'rebirth' !important;
      font-size: 10px;
      background-color: #1A8CC5;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      position: relative;
      bottom: 1px;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      border-radius: 20px;
      color: #fff;
      height: 20px;
      width: 20px;
      display: inline-block;
      line-height: 20px;
      text-align: center;
      margin-right: 12px; }
    .powtoon-rebirth .react_textarea .textarea-modal {
      background-color: white;
      z-index: 10;
      border: 1px solid #d9dcdf;
      height: 180px;
      width: 720px;
      box-shadow: 0 0 2px rgba(1, 1, 1, 0.3);
      position: absolute;
      left: -35px;
      top: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .powtoon-rebirth .react_textarea .textarea-modal .textarea-bottom {
        text-align: right;
        padding-right: 18px;
        padding-top: 3px; }
      .powtoon-rebirth .react_textarea .textarea-modal textarea {
        box-sizing: content-box;
        overflow: auto;
        height: 88px;
        width: 664px;
        resize: none;
        padding: 28px;
        font-family: VisbyCF-Light;
        font-size: 12px;
        color: #687078;
        outline: none;
        border-style: solid;
        border-left: hidden;
        border-top: hidden;
        border-right: hidden;
        border-bottom: dotted 1px #c9ced3;
        box-shadow: none;
        letter-spacing: 0.5px; }
        .powtoon-rebirth .react_textarea .textarea-modal textarea::-webkit-scrollbar {
          width: 9px; }
        .powtoon-rebirth .react_textarea .textarea-modal textarea::-webkit-scrollbar-track {
          background-color: rgba(104, 112, 120, 0.2); }
        .powtoon-rebirth .react_textarea .textarea-modal textarea::-webkit-scrollbar-thumb {
          background-color: #425661;
          border-radius: 30px; }
  .powtoon-rebirth .publish-targets-sidebar {
    background-color: #CACED2;
    width: 250px;
    height: 100%;
    padding: 0 18px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .powtoon-rebirth .publish-targets-sidebar .publish-sidebar-loader {
      top: 0;
      bottom: 0;
      margin: auto; }
    .powtoon-rebirth .publish-targets-sidebar .publish-targets-sidebar-content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      min-height: 600px;
      max-height: 700px;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .powtoon-rebirth .publish-targets-sidebar .download-title {
      position: relative;
      top: 5px; }
    .powtoon-rebirth .publish-targets-sidebar .download-badge-container {
      position: absolute;
      right: 0;
      bottom: 7px; }
    .powtoon-rebirth .publish-targets-sidebar section {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      background-image: none; }
      .powtoon-rebirth .publish-targets-sidebar section.upload-container .button-container {
        margin-bottom: 15px; }
        .powtoon-rebirth .publish-targets-sidebar section.upload-container .button-container:not(:nth-child(3n+1)) {
          margin-right: 15px; }
      .powtoon-rebirth .publish-targets-sidebar section.publish-to-container {
        padding-bottom: 15px; }
      .powtoon-rebirth .publish-targets-sidebar section.download-container .download-group-container {
        padding-bottom: 15px; }
        .powtoon-rebirth .publish-targets-sidebar section.download-container .download-group-container .button-container {
          margin-bottom: 15px; }
          .powtoon-rebirth .publish-targets-sidebar section.download-container .download-group-container .button-container:not(:nth-child(4n)) {
            margin-right: 5px; }
      .powtoon-rebirth .publish-targets-sidebar section.share-container .square-button {
        margin-bottom: 9px; }
        .powtoon-rebirth .publish-targets-sidebar section.share-container .square-button:not(:nth-child(4n+2)) {
          margin-right: 9px; }
      .powtoon-rebirth .publish-targets-sidebar section.share-container .share-mode-toggle {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 100%;
            -ms-flex: 1 0 100%;
                flex: 1 0 100%;
        margin-bottom: 14px;
        padding-right: 7px; }
      .powtoon-rebirth .publish-targets-sidebar section header {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 100%;
            -ms-flex: 1 0 100%;
                flex: 1 0 100%;
        margin-bottom: 14px;
        border-bottom: 1px solid white; }
      .powtoon-rebirth .publish-targets-sidebar section .publish-to-header {
        margin-bottom: 18px; }
      .powtoon-rebirth .publish-targets-sidebar section:first-child {
        margin-top: 20px; }
    .powtoon-rebirth .publish-targets-sidebar h3 {
      font-family: VisbyCF-Bold;
      font-size: 11px;
      color: #253740 !important;
      letter-spacing: 0.6px;
      margin: 0 0 10px 0;
      text-align: left; }
    .ie .powtoon-rebirth .publish-targets-sidebar .toggle label span:first-child::after {
      right: -44px;
      width: 44px;
      height: 22px; }
  .powtoon-rebirth h2 {
    font-family: Muller-Medium;
    font-size: 14px;
    color: #676f77;
    letter-spacing: 0.5px; }
  .powtoon-rebirth h1 {
    font-family: VisbyCF-Medium;
    font-size: 15px;
    color: #676f77;
    letter-spacing: 0.5px; }
  .powtoon-rebirth h3 {
    font-family: VisbyCF-Light;
    font-size: 14px;
    color: #676f77;
    letter-spacing: 0.5px; }
  .powtoon-rebirth h4 {
    font-family: VisbyCF-Light;
    font-size: 12px;
    color: #687078;
    letter-spacing: 0.5px; }
  .powtoon-rebirth h5 {
    font-family: VisbyCF-Bold;
    font-size: 10px;
    color: #a1aab7;
    letter-spacing: 0.5px; }
  .powtoon-rebirth h6 {
    font-family: VisbyCF-DemiBold;
    font-size: 10px;
    color: #676f77;
    letter-spacing: 0.5px;
    text-transform: initial;
    line-height: 12px; }
  .powtoon-rebirth .rebirth-hover:hover {
    color: #253740;
    cursor: pointer; }

@font-face {
  font-family: "VisbyCF-Light";
  src: url("/webfonts/Visby/VisbyCF-Light.eot?#iefix") format("embedded-opentype"), url("/webfonts/Visby/VisbyCF-Light.otf") format("opentype"), url("/webfonts/Visby/VisbyCF-Light.woff") format("woff"), url("/webfonts/Visby/VisbyCF-Light.ttf") format("truetype"), url("/webfonts/Visby/VisbyCF-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "VisbyCF-Bold";
  src: url("/webfonts/Visby/VisbyCF-Bold.eot?#iefix") format("embedded-opentype"), url("/webfonts/Visby/VisbyCF-Bold.otf") format("opentype"), url("/webfonts/Visby/VisbyCF-Bold.woff") format("woff"), url("/webfonts/Visby/VisbyCF-Bold.ttf") format("truetype"), url("/webfonts/Visby/VisbyCF-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "VisbyCF-Medium";
  src: url("/webfonts/Visby/VisbyCF-Medium.eot?#iefix") format("embedded-opentype"), url("/webfonts/Visby/VisbyCF-Medium.otf") format("opentype"), url("/webfonts/Visby/VisbyCF-Medium.woff") format("woff"), url("/webfonts/Visby/VisbyCF-Medium.ttf") format("truetype"), url("/webfonts/Visby/VisbyCF-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "VisbyCF-Thin";
  src: url("/webfonts/Visby/VisbyCF-Thin.eot?#iefix") format("embedded-opentype"), url("/webfonts/Visby/VisbyCF-Thin.otf") format("opentype"), url("/webfonts/Visby/VisbyCF-Thin.woff") format("woff"), url("/webfonts/Visby/VisbyCF-Thin.ttf") format("truetype"), url("/webfonts/Visby/VisbyCF-Thin.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "VisbyCF-DemiBold";
  src: url("/webfonts/Visby/VisbyCF-DemiBold.eot?#iefix") format("embedded-opentype"), url("/webfonts/Visby/VisbyCF-DemiBold.otf") format("opentype"), url("/webfonts/Visby/VisbyCF-DemiBold.woff") format("woff"), url("/webfonts/Visby/VisbyCF-DemiBold.ttf") format("truetype"), url("/webfonts/Visby/VisbyCF-DemiBold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "VisbyCF-ExtraBold";
  src: url("/webfonts/Visby/VisbyCF-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/webfonts/Visby/VisbyCF-ExtraBold.otf") format("opentype"), url("/webfonts/Visby/VisbyCF-ExtraBold.woff") format("woff"), url("/webfonts/Visby/VisbyCF-ExtraBold.ttf") format("truetype"), url("/webfonts/Visby/VisbyCF-ExtraBold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "VisbyCF-Heavy";
  src: url("/webfonts/Visby/VisbyCF-Heavy.eot?#iefix") format("embedded-opentype"), url("/webfonts/Visby/VisbyCF-Heavy.otf") format("opentype"), url("/webfonts/Visby/VisbyCF-Heavy.woff") format("woff"), url("/webfonts/Visby/VisbyCF-Heavy.ttf") format("truetype"), url("/webfonts/Visby/VisbyCF-Heavy.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-Black Italic";
  src: url("/webfonts/Muller/Muller-Black Italic.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-Black Italic.otf") format("opentype"), url("/webfonts/Muller/Muller-Black Italic.woff") format("woff"), url("/webfonts/Muller/Muller-Black Italic.ttf") format("truetype"), url("/webfonts/Muller/Muller-Black Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-Black";
  src: url("/webfonts/Muller/Muller-Black.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-Black.otf") format("opentype"), url("/webfonts/Muller/Muller-Black.woff") format("woff"), url("/webfonts/Muller/Muller-Black.ttf") format("truetype"), url("/webfonts/Muller/Muller-Black.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-Bold Italic";
  src: url("/webfonts/Muller/Muller-Bold Italic.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-Bold Italic.otf") format("opentype"), url("/webfonts/Muller/Muller-Bold Italic.woff") format("woff"), url("/webfonts/Muller/Muller-Bold Italic.ttf") format("truetype"), url("/webfonts/Muller/Muller-Bold Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-Bold";
  src: url("/webfonts/Muller/Muller-Bold.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-Bold.otf") format("opentype"), url("/webfonts/Muller/Muller-Bold.woff") format("woff"), url("/webfonts/Muller/Muller-Bold.ttf") format("truetype"), url("/webfonts/Muller/Muller-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-ExtraBold Italic";
  src: url("/webfonts/Muller/Muller-ExtraBold Italic.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-ExtraBold Italic.otf") format("opentype"), url("/webfonts/Muller/Muller-ExtraBold Italic.woff") format("woff"), url("/webfonts/Muller/Muller-ExtraBold Italic.ttf") format("truetype"), url("/webfonts/Muller/Muller-ExtraBold Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-ExtraBold";
  src: url("/webfonts/Muller/Muller-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-ExtraBold.otf") format("opentype"), url("/webfonts/Muller/Muller-ExtraBold.woff") format("woff"), url("/webfonts/Muller/Muller-ExtraBold.ttf") format("truetype"), url("/webfonts/Muller/Muller-ExtraBold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-Hairline Italic";
  src: url("/webfonts/Muller/Muller-Hairline Italic.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-Hairline Italic.otf") format("opentype"), url("/webfonts/Muller/Muller-Hairline Italic.woff") format("woff"), url("/webfonts/Muller/Muller-Hairline Italic.ttf") format("truetype"), url("/webfonts/Muller/Muller-Hairline Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-Hairline";
  src: url("/webfonts/Muller/Muller-Hairline.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-Hairline.otf") format("opentype"), url("/webfonts/Muller/Muller-Hairline.woff") format("woff"), url("/webfonts/Muller/Muller-Hairline.ttf") format("truetype"), url("/webfonts/Muller/Muller-Hairline.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-Heavy Italic";
  src: url("/webfonts/Muller/Muller-Heavy Italic.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-Heavy Italic.otf") format("opentype"), url("/webfonts/Muller/Muller-Heavy Italic.woff") format("woff"), url("/webfonts/Muller/Muller-Heavy Italic.ttf") format("truetype"), url("/webfonts/Muller/Muller-Heavy Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-Heavy";
  src: url("/webfonts/Muller/Muller-Heavy.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-Heavy.otf") format("opentype"), url("/webfonts/Muller/Muller-Heavy.woff") format("woff"), url("/webfonts/Muller/Muller-Heavy.ttf") format("truetype"), url("/webfonts/Muller/Muller-Heavy.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-Light Italic";
  src: url("/webfonts/Muller/Muller-Light Italic.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-Light Italic.otf") format("opentype"), url("/webfonts/Muller/Muller-Light Italic.woff") format("woff"), url("/webfonts/Muller/Muller-Light Italic.ttf") format("truetype"), url("/webfonts/Muller/Muller-Light Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-Light";
  src: url("/webfonts/Muller/Muller-Light.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-Light.otf") format("opentype"), url("/webfonts/Muller/Muller-Light.woff") format("woff"), url("/webfonts/Muller/Muller-Light.ttf") format("truetype"), url("/webfonts/Muller/Muller-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-Medium Italic";
  src: url("/webfonts/Muller/Muller-Medium Italic.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-Medium Italic.otf") format("opentype"), url("/webfonts/Muller/Muller-Medium Italic.woff") format("woff"), url("/webfonts/Muller/Muller-Medium Italic.ttf") format("truetype"), url("/webfonts/Muller/Muller-Medium Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-Medium";
  src: url("/webfonts/Muller/Muller-Medium.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-Medium.otf") format("opentype"), url("/webfonts/Muller/Muller-Medium.woff") format("woff"), url("/webfonts/Muller/Muller-Medium.ttf") format("truetype"), url("/webfonts/Muller/Muller-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-Regular Italic";
  src: url("/webfonts/Muller/Muller-Regular Italic.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-Regular Italic.otf") format("opentype"), url("/webfonts/Muller/Muller-Regular Italic.woff") format("woff"), url("/webfonts/Muller/Muller-Regular Italic.ttf") format("truetype"), url("/webfonts/Muller/Muller-Regular Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-Regular";
  src: url("/webfonts/Muller/Muller-Regular.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-Regular.otf") format("opentype"), url("/webfonts/Muller/Muller-Regular.woff") format("woff"), url("/webfonts/Muller/Muller-Regular.ttf") format("truetype"), url("/webfonts/Muller/Muller-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-Thin Italic";
  src: url("/webfonts/Muller/Muller-Thin Italic.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-Thin Italic.otf") format("opentype"), url("/webfonts/Muller/Muller-Thin Italic.woff") format("woff"), url("/webfonts/Muller/Muller-Thin Italic.ttf") format("truetype"), url("/webfonts/Muller/Muller-Thin Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-Thin";
  src: url("/webfonts/Muller/Muller-Thin.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-Thin.otf") format("opentype"), url("/webfonts/Muller/Muller-Thin.woff") format("woff"), url("/webfonts/Muller/Muller-Thin.ttf") format("truetype"), url("/webfonts/Muller/Muller-Thin.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-UltraLight Italic";
  src: url("/webfonts/Muller/Muller-UltraLight Italic.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-UltraLight Italic.otf") format("opentype"), url("/webfonts/Muller/Muller-UltraLight Italic.woff") format("woff"), url("/webfonts/Muller/Muller-UltraLight Italic.ttf") format("truetype"), url("/webfonts/Muller/Muller-UltraLight Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Muller-UltraLight";
  src: url("/webfonts/Muller/Muller-UltraLight.eot?#iefix") format("embedded-opentype"), url("/webfonts/Muller/Muller-UltraLight.otf") format("opentype"), url("/webfonts/Muller/Muller-UltraLight.woff") format("woff"), url("/webfonts/Muller/Muller-UltraLight.ttf") format("truetype"), url("/webfonts/Muller/Muller-UltraLight.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
