@font-face {
    font-family: 'rebirth';
    src:
        url('fonts/rebirth.ttf?nnxeyr') format('truetype'),
        url('fonts/rebirth.woff?nnxeyr') format('woff'),
        url('fonts/rebirth.svg?nnxeyr#rebirth') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="pticon-"], [class*=" pticon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'rebirth' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pticon-magnifying-glass:before {
    content: "\e900";
}
.pticon-movie:before {
    content: "\e93b";
}
.pticon-slideshow:before {
    content: "\e93c";
}
.pticon-facebookicon:before {
    content: "\e937";
}
.pticon-twittericon:before {
    content: "\e938";
}
.pticon-linkedinicon:before {
    content: "\e939";
}
.pticon-googleplusicon:before {
    content: "\e93a";
}
.pticon-mailicon:before {
    content: "\e92d";
}
.pticon-embedicon:before {
    content: "\e92f";
}
.pticon-youtubeicon:before {
    content: "\e930";
}
.pticon-mp4:before {
    content: "\e92b";
}
.pticon-mp4icon:before {
    content: "\e92e";
}
.pticon-offline_player:before {
    content: "\e931";
}
.pticon-offline_playericon:before {
    content: "\e932";
}
.pticon-facebookcircle:before {
    content: "\e609";
}
.pticon-facebook:before {
    content: "\e908";
}
.pticon-facebooktitle:before {
    content: "\e914";
}
.pticon-googleplustitle:before {
    content: "\e909";
}
.pticon-googleplus:before {
    content: "\e933";
}
.pticon-googlepluscircle:before {
    content: "\e60b";
}
.pticon-linkedintitle:before {
    content: "\e90c";
}
.pticon-linkedincircle:before {
    content: "\e616";
}
.pticon-linkedin:before {
    content: "\e934";
}
.pticon-ppticon:before {
    content: "\e935";
}
.pticon-ppt:before {
    content: "\e911";
}
.pticon-slidestitle:before {
    content: "\e912";
}
.pticon-slideshareicon:before {
    content: "\e913";
}
.pticon-slidesharetitle:before {
    content: "\e92a";
}
.pticon-slideshare:before {
    content: "\e804";
}
.pticon-pdficon:before {
    content: "\e915";
}
.pticon-pdf:before {
    content: "\e802";
}
.pticon-pdftitle:before {
    content: "\e801";
}
.pticon-vimeotitle:before {
    content: "\e91d";
}
.pticon-vimeo:before {
    content: "\e805";
}
.pticon-vimeoicon:before {
    content: "\e91c";
}
.pticon-wistiaicon:before {
    content: "\e920";
}
.pticon-wistiatitle:before {
    content: "\e636";
}
.pticon-wistia:before {
    content: "\e62d";
}
.pticon-twittercircle:before {
    content: "\e610";
}
.pticon-twitter:before {
    content: "\e936";
}
.pticon-twittertitle:before {
    content: "\e91f";
}
.pticon-youtubetitle:before {
    content: "\e637";
}
.pticon-youtube:before {
    content: "\e62e";
}
.pticon-clipboardtitle:before {
    content: "\e90b";
}
.pticon-clipboard:before {
    content: "\e90f";
}
.pticon-clipboardcircle:before {
    content: "\e929";
}
.pticon-decline:before {
    content: "\e921";
}
.pticon-accept:before {
    content: "\e922";
}
.pticon-preview:before {
    content: "\e923";
}
.pticon-pencil:before {
    content: "\e924";
}
.pticon-collaborate:before {
    content: "\e925";
}
.pticon-export:before {
    content: "\e926";
}
.pticon-minimize:before {
    content: "\e927";
}
.pticon-done:before {
    content: "\e928";
}
.pticon-download-mp4:before {
    content: "\e800";
}
.pticon-download:before {
    content: "\e803";
}
.pticon-emailcircle:before {
    content: "\e60d";
}
.pticon-emailtitle:before {
    content: "\e90e";
}
.pticon-email:before {
    content: "\e92c";
}
.pticon-drop:before {
    content: "\e635";
}
.pticon-star:before {
    content: "\e634";
}
.pticon-walkthrough:before {
    content: "\e632";
}
.pticon-chat:before {
    content: "\e633";
}
.pticon-boxarrow_right:before {
    content: "\e600";
}
.pticon-fullarrow_up:before {
    content: "\e62f";
}
.pticon-fullarrow_right:before {
    content: "\e630";
}
.pticon-fullarrow_bottom:before {
    content: "\e631";
}
.pticon-fullarrow_left:before {
    content: "\e601";
}
.pticon-like:before {
    content: "\e62b";
}
.pticon-plusiocn:before {
    content: "\e910";
}
.pticon-play:before {
    content: "\e62c";
}
.pticon-quickclips:before {
    content: "\e628";
}
.pticon-terms:before {
    content: "\e629";
}
.pticon-settings:before {
    content: "\e62a";
}
.pticon-create:before {
    content: "\e627";
}
.pticon-slides:before {
    content: "\e625";
}
.pticon-studio:before {
    content: "\e626";
}
.pticon-speaker:before {
    content: "\e624";
}
.pticon-x:before {
    content: "\e623";
}
.pticon-userover:before {
    content: "\e91a";
}
.pticon-usersidable:before {
    content: "\e91b";
}
.pticon-userchoose .path1:before {
    content: "\e916";
    color: rgb(0, 0, 0);
}
.pticon-userchoose .path2:before {
    content: "\e917";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.pticon-userchoose .path3:before {
    content: "\e918";
    margin-left: -1em;
    color: rgb(238, 239, 240);
}
.pticon-userchoose .path4:before {
    content: "\e919";
    margin-left: -1em;
    color: rgb(238, 239, 240);
}
.pticon-prize:before {
    content: "\e622";
}
.pticon-categoriesicon:before {
    content: "\e904";
}
.pticon-refresh:before {
    content: "\e621";
}
.pticon-arrowlevel:before {
    content: "\e903";
}
.pticon-lock:before {
    content: "\e61e";
}
.pticon-lockicon:before {
    content: "\e90d";
}
.pticon-detailsicon:before {
    content: "\e905";
}
.pticon-eyeicon:before {
    content: "\e907";
}
.pticon-dropicon:before {
    content: "\e906";
}
.pticon-checkmark:before {
    content: "\e61b";
}
.pticon-heart:before {
    content: "\e61c";
}
.pticon-headset:before {
    content: "\e61d";
}
.pticon-leveldone:before {
    content: "\e90a";
}
.pticon-contact:before {
    content: "\e61f";
}
.pticon-portfolio:before {
    content: "\e620";
}
.pticon-customize:before {
    content: "\e61a";
}
.pticon-arrow_right:before {
    content: "\e617";
}
.pticon-close:before {
    content: "\e618";
}
.pticon-sun:before {
    content: "\e619";
}
.pticon-copy:before {
    content: "\e603";
}
.pticon-label:before {
    content: "\e614";
}
.pticon-folder:before {
    content: "\e615";
}
.pticon-brush:before {
    content: "\e612";
}
.pticon-link:before {
    content: "\e613";
}
.pticon-1:before {
    content: "\e901";
}
.pticon-2:before {
    content: "\e902";
}
.pticon-3:before {
    content: "\e91e";
}
.pticon-watermarkiocn:before {
    content: "\e93d";
}
.pticon-arrow_down:before {
    content: "\e602";
}
.pticon-arrow_up:before {
    content: "\e604";
}
.pticon-calendar:before {
    content: "\e605";
}
.pticon-edit:before {
    content: "\e606";
}
.pticon-embed:before {
    content: "\e607";
}
.pticon-embedic:before {
    content: "\e608";
}
.pticon-globe:before {
    content: "\e60a";
}
.pticon-hd:before {
    content: "\e60c";
}
.pticon-more:before {
    content: "\e60e";
}
.pticon-share:before {
    content: "\e60f";
}
.pticon-vi:before {
    content: "\e611";
}

