/* Blog Popup */
.blog_popup_main {
  width: 578px;
  height: 268px;
  box-shadow: 0 0 15px #BABABA;
  background-color: transparent;
  position: absolute;
  z-index: 2000;
  display: none;
  left: -378px;
  font-family: HalisR-Light, Arial;
  margin-top: 25px; }
  .blog_popup_main:before {
    border: solid transparent;
    content: " ";
    bottom: 100%;
    left: 406px;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(107, 185, 240, 0);
    border-bottom-color: #42a5f5;
    border-width: 9px;
    border-bottom-width: 12px; }
  .blog_popup_main:after {
    content: " ";
    bottom: 100%;
    left: 385px;
    height: 30px;
    width: 40px;
    position: absolute;
    background-color: transparent; }

.blog_popup_header {
  width: 100%;
  height: 37px;
  background-color: #42a5f5;
  text-align: center;
  font-family: 'muller-medium';
  color: #fff;
  font-size: 17px;
  line-height: 37px;
  letter-spacing: 1px; }

.blog_popup_row {
  border-bottom: 1px solid #FDFEFF;
  background-color: #E9EDF5;
  height: 50px; }

.blog_popup_footer {
  background-color: #FDFEFF;
  width: 100%;
  height: 31px;
  font-family: HalisR-Medium, Arial;
  text-align: right;
  font-size: 14px;
  line-height: 28px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  .blog_popup_footer a.footer-link {
    color: #59595B;
    text-decoration: none;
    margin-right: 10px;
    font-size: 14px;
    font-family: HalisR-Light, Arial;
    text-transform: none; }
    .blog_popup_footer a.footer-link:hover {
      color: #939393;
      background-color: transparent !important; }

.blog_popup_link {
  width: 189px;
  border-right: 1px solid #FDFEFF;
  height: 50px;
  display: inline-block;
  text-align: left; }
  .blog_popup_link:last-child {
    border: none; }
  .blog_popup_link a.blog-link {
    text-decoration: none;
    line-height: 12px;
    padding: 0; }
    .blog_popup_link a.blog-link:hover .blog_popup_post {
      color: #939393; }
    .blog_popup_link a.blog-link:hover {
      background-color: transparent !important; }
  .blog_popup_link:hover {
    background-color: #EFF1F4; }

.blog_popup_img {
  width: 33px;
  height: 33px;
  border-radius: 20px;
  border: 1px solid #AEB9C1;
  margin: 7px 4px 6px 7px;
  background-image: url("https://powtoon.s3.amazonaws.com/images/website/blogpopup_sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }

#blog-img1 {
  background-position: -2px -1px; }

#blog-img2 {
  background-position: -36px -1px; }

#blog-img3 {
  background-position: -72px -1px; }

#blog-img4 {
  background-position: -2px -35px; }

#blog-img5 {
  background-position: -36px -35px; }

#blog-img6 {
  background-position: -72px -35px; }

#blog-img7 {
  background-position: -2px -69px; }

#blog-img8 {
  background-position: -37px -68px; }

#blog-img9 {
  background-position: -72px -68px; }

#blog-img10 {
  background-position: -2px -102px; }

#blog-img11 {
  background-position: -37px -102px; }

#blog-img12 {
  background-position: -72px -102px; }

.blog_popup_post {
  color: #59595B;
  display: inline-block;
  font-size: 12px;
  font-family: HalisR-Light, Arial;
  width: 133px;
  vertical-align: middle;
  text-align: left;
  text-transform: none; }
  .blog_popup_post a span {
    color: #59595B; }

.navigation ul li#blog-link:hover a {
  color: #59595B; }

.navigation ul li#blog-link:hover a span.menu-blog {
  color: #42a5f5; }

.navigation ul li#blog-link:hover a:before {
  opacity: 0; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

#blog-link:hover .blog_popup_main {
  display: block;
  -webkit-animation: fadeIn .8s;
  animation: fadeIn .8s; }

#blog-link {
  position: relative; }

/* NEW CLEANUP Header Section Css*/
header .container {
  max-width: 1920px;
  padding: 0 99px 0 114px;
  margin: 0 auto;
  width: auto; }
  header .container .row-block {
    position: relative; }

.container-fluid {
  max-width: 1144px;
  width: 100%;
  margin: 0 auto; }

#wrapper {
  overflow: hidden;
  padding-top: 83px; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: #fff;
  transition: all 0.2s linear 0s;
  -webkit-transition: all 0.2s linear 0s; }

.header-inner {
  background: #f0f1f5; }

.fix {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.2s linear 0s;
  -webkit-transition: all 0.2s linear 0s; }

.logo-block {
  float: left;
  padding-top: 21px; }

.logo {
  display: inline-block;
  vertical-align: middle; }

.logo img {
  width: 277px;
  height: 38px; }

.logo-block span {
  font-size: 16px;
  line-height: 1.3;
  color: #253740;
  display: inline-block;
  text-decoration: none;
  font-family: 'mullermedium';
  padding-left: 27px;
  vertical-align: middle;
  position: relative;
  top: 6px;
  letter-spacing: 0.7px; }

.logo-block span:before {
  content: '';
  position: absolute;
  top: -7px;
  left: 12px;
  width: 1px;
  height: 35px;
  background: #9d9d9d; }

.nav-block {
  float: right;
  width: 67%; }

.nav-right {
  float: right;
  font-size: 0; }

.navigation {
  display: inline-block; }

.navigation ul li {
  float: left;
  list-style: none; }

.navigation ul li.open {
  position: relative; }

.navigation ul li.open a {
  color: #42a5f5;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear; }

.navigation ul.dropdown-menu li {
  display: block;
  float: initial;
  font-family: 'muller-medium';
  text-transform: uppercase; }

.navigation ul.dropdown-menu > li > a:hover, .navigation ul.dropdown-menu > li > a:focus {
  background-color: #5ab4fd;
  border-radius: 0;
  margin: 0; }

.navigation ul li.open:hover a span {
  color: #42a5f5; }

.navigation ul li.open:hover a:before {
  opacity: 0; }

.navigation ul.dropdown-menu {
  background-color: #42a5f5;
  color: #fff;
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  margin: 20px 0 0 0;
  right: 0;
  left: initial;
  font-size: 13px; }

.navigation ul.dropdown-menu:after {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(66, 165, 245, 0);
  border-bottom-color: #42a5f5;
  right: 19px;
  border-bottom-width: 6px;
  border-left-width: 5px;
  border-right-width: 5px; }

.navigation ul.dropdown-menu li a {
  color: #fff;
  padding: 17px 20px;
  margin: 0;
  font-family: Muller-Medium; }

.navigation ul li:hover a.dropdown-toggle {
  color: #fff;
  transition: color 0.1s linear 0s;
  -webkit-transition: color 0.1s linear 0s; }

.navigation ul li.open:hover a.dropdown-toggle {
  color: #42a5f5; }

.navigation ul li:hover a span.blog_popup_post {
  color: #939393; }

.navigation ul.dropdown-menu li:hover a:before {
  display: none; }

.navigation > ul > li > a {
  font-size: 13px;
  line-height: 1.3;
  color: #253740;
  display: block;
  text-decoration: none;
  font-family: 'muller-medium';
  text-transform: uppercase;
  padding: 32px 19px;
  transition: all 0.4s linear 0s;
  -webkit-transition: all 0.4s linear 0s;
  position: relative; }

.navigation > ul > li.active > a {
  color: #42a5f5; }

.navigation ul li span, .link-btn span {
  position: relative; }

.navigation ul li a i {
  font-size: 10px;
  display: inline-block;
  margin-left: 5px;
  margin-top: -1px; }

.navigation > ul > li > a:before, .link-btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #42a5f5;
  transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  opacity: 0; }

.navigation ul li:hover a, .link-btn:before {
  color: #fff; }

.navigation ul li:hover a span {
  color: #fff;
  transition: color 0.1s linear 0s;
  -webkit-transition: color 0.1s linear 0s; }

.navigation > ul > li > a:hover:before,
.link-btn:hover:before {
  opacity: 1; }

.link-btn {
  font-size: 13px;
  line-height: 1.3;
  color: #42a5f5;
  display: inline-block;
  text-decoration: none;
  font-family: 'mullermedium';
  text-transform: uppercase;
  padding: 32px 19px;
  transition: all 0.2s linear 0s;
  -webkit-transition: all 0.2s linear 0s;
  float: right;
  position: relative; }

.link-btn:hover {
  color: #fff; }

.mobile-menu {
  display: none; }

.close-btn {
  display: none; }

header .business_badge, header .pro_badge, header .edu_badge {
  position: absolute;
  background: #f57f17;
  width: 69px;
  height: 18px;
  top: 0px;
  right: 0;
  text-align: center;
  color: #fff;
  font-size: 12px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-transform: none;
  letter-spacing: .5px;
  font-family: Muller-Regular;
  margin-right: 20px;
  line-height: 18px;
  z-index: 10; }

.edu_badge {
  background-color: #48cd80; }

@media only screen and (max-width: 1919px) {
  header .container {
    max-width: 1366px;
    padding: 0 43px; }
  .nav-slide .slide_box:nth-child(4).slick-current ~
.menu__line {
    left: 92.2%; }
  .footer .container-fluid {
    padding: 0; }
  .mobile-menu {
    display: none; } }

@media only screen and (min-width: 1100px) and (max-width: 1340px) {
  header .container {
    padding: 0 21px; }
  .navigation ul li a,
  .link-btn {
    padding: 32px 16px;
    font-size: 12px; }
  .nav-right ul {
    margin-bottom: 0; }
  .user-logo li {
    padding-left: 37px; }
  .user-logo-block {
    padding-left: 27px; }
  header .container {
    padding: 0 21px; }
  .logo-block {
    width: 27%; }
  .logo-block span:before {
    background: none repeat scroll 0 0 #9d9d9d;
    content: "";
    height: 35px;
    left: 15px;
    position: absolute;
    top: -4px;
    width: 1px; }
  .block-right {
    width: 43%; } }

@media only screen and (max-width: 1200px) {
  header .container {
    padding: 0 20px; }
  .nav-slide .slide_box a {
    letter-spacing: 0; }
  .footer-nav li {
    margin-right: 27px; }
  .logo-block span:before {
    background: none repeat scroll 0 0 #9d9d9d;
    content: "";
    height: 35px;
    left: 15px;
    position: absolute;
    top: -4px;
    width: 1px; }
  .logo-block span {
    top: 0; } }

@media only screen and (min-width: 1024px) and (max-width: 1099px) {
  .logo-block {
    width: 32%; }
  .nav-block {
    width: 68%; }
  .nav-right ul {
    margin-bottom: 0; }
  .footer-nav li {
    margin-right: 12px; }
  .block-right {
    width: 46%; }
  .navigation {
    display: block; }
  .navigation > ul > li > a {
    padding: 31px 11px; }
  .navigation ul li a {
    padding: 33px 7px 32px;
    font-size: 12px; }
  .navigation ul.dropdown-menu {
    width: 100%;
    background-color: #5ab4fd; }
  .navigation ul.dropdown-menu.slide-right {
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
    top: 40px; }
  .navigation ul.dropdown-menu > li > a:hover, .navigation ul.dropdown-menu > li > a:focus {
    background-color: #1e88e5; }
  #blog-link:hover .blog_popup_main {
    display: none; } }

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .header {
    height: 80px; }
  header .container {
    padding: 0 10px; }
  .mobile-menu {
    border: medium none;
    background: url("https://static.powtoon.co/cms-assets/home-new/menu-btn.png") no-repeat;
    display: block;
    height: 30px;
    position: absolute;
    right: 16px;
    top: 24px;
    width: 39px; }
  .mobile-menu:focus {
    outline: none; }
  .navigation li a {
    font-size: 20px; }
  .logo-block span:before {
    top: -4px;
    left: 3px;
    height: 27px; }
  .logo-block span {
    padding-left: 10px; }
  .logo-block span:before {
    top: -4px;
    left: 9px;
    height: 35px; }
  .toggle-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block; }
  .nav-block {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #42a5f5;
    padding: 45px 0;
    z-index: 9;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
  .nav-block.slide-right {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    right: 0; }
  .navigation {
    display: block; }
  .navigation ul {
    padding: 0; }
  .navigation ul li {
    float: none;
    margin: 0; }
  .navigation ul li a {
    padding: 16px 19px; }
  .navigation ul li a, .link-btn {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    display: block;
    text-align: center; }
  .nav-right {
    float: none; }
  .link-btn {
    float: none;
    display: inline-block; }
  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    display: block;
    font-size: 20px;
    color: #fff; }
  .close-btn img {
    max-width: 100%; }
  .logo-block span {
    padding-left: 23px;
    top: 3px; }
  .logo-block {
    width: 25%;
    padding-bottom: 10px;
    padding-top: 21px; }
  .nav-block {
    width: 100%;
    text-align: center; }
  .navigation ul li a,
  .link-btn {
    font-size: 20px;
    padding: 24px 6px; }
  .navigation ul li.open:hover a.dropdown-toggle {
    color: #fff !important; }
  .navigation ul li.open:hover a span {
    color: #fff; }
  .nav-block.slide-right .navigation li a span {
    color: #fff !important; }
  .navigation ul.dropdown-menu {
    width: 100%;
    background-color: #5ab4fd; }
  .navigation ul li a i {
    margin-top: 3px; }
  .footer-logo {
    display: none; }
  .footer-nav {
    padding: 52px 0 0; }
  .footer-nav li:nth-child(2) {
    margin-right: 0px; }
  .footer-nav > li:first-child {
    margin-right: 24px; }
  .footer-nav li .click-head {
    letter-spacing: 1.2px; }
  .footer-nav li:nth-child(3) {
    margin-right: 40px; }
  .footer-nav li:nth-child(4) {
    margin-right: 2px; }
  .footer-nav li a {
    letter-spacing: 1.5px; }
  .copy-right {
    margin-top: 54px; }
  .media-icons {
    padding: 35px 0 0;
    width: 85px; }
  #blog-link:hover .blog_popup_main {
    display: none; } }

@media only screen and (max-width: 991px) {
  .mobile-menu {
    border: medium none;
    background: url("https://static.powtoon.co/cms-assets/home-new/menu-btn.png") no-repeat;
    display: block;
    height: 30px;
    position: absolute;
    right: 16px;
    top: 19px;
    width: 39px; }
  .mobile-menu:focus {
    outline: none; }
  .logo-block span::before {
    top: -4px;
    left: 3px;
    height: 27px; }
  .logo-block span {
    padding-left: 10px; }
  .logo-block span::before {
    top: -4px;
    left: 9px;
    height: 35px; }
  .toggle-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block; }
  .nav-block {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #42a5f5;
    padding: 45px 0;
    z-index: 9;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
  .nav-block.slide-right {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    right: 0; }
  .navigation {
    display: block; }
  .navigation ul {
    padding: 0; }
  .navigation ul li {
    float: none;
    margin: 0; }
  .navigation ul li a {
    padding: 16px 19px; }
  .navigation ul li a, .link-btn {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    display: block;
    text-align: center; }
  .navigation ul.dropdown-menu {
    width: 100%;
    background-color: #5ab4fd; }
  .navigation ul.dropdown-menu.slide-right {
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
    top: 40px; }
  .navigation ul.dropdown-menu > li > a:hover, .navigation ul.dropdown-menu > li > a:focus {
    background-color: #1e88e5; }
  .navigation ul li.open a {
    color: #fff; }
  .nav-right {
    float: none; }
  .link-btn {
    float: none;
    display: inline-block; }
  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    display: block;
    font-size: 20px;
    color: #fff; }
  .close-btn img {
    max-width: 100%; }
  .logo-block span {
    padding-left: 23px;
    top: 3px; }
  .logo-block {
    width: 40%;
    padding-bottom: 10px;
    padding-top: 13px; }
  .nav-block {
    width: 100%;
    text-align: center; }
  .navigation ul li a,
  .link-btn {
    font-size: 11px;
    padding: 32px 19px; }
  .tablet-hide {
    display: none !important; }
  .block-right h1 {
    padding-top: 5px; }
  .user-logo-block span, .user-logo-block::after {
    display: none; }
  .block-right {
    width: 47%; }
  .footer .container-fluid {
    padding: 0; }
  .footer-nav li {
    text-align: center;
    width: 100%;
    margin-right: 0; }
  .footer-nav li:first-child {
    margin-right: 0; }
  .footer-logo {
    margin: 0 0 50px; }
  #blog-link:hover .blog_popup_main {
    display: none; } }

@media screen and (max-width: 768px) {
  .header {
    height: 80px; }
  .close-btn {
    display: block; }
  .float-left, .float-right {
    float: none; }
  .logo {
    width: 100%;
    max-width: 240px;
    padding-top: 6px; }
  .logo-block {
    width: 100%;
    padding-bottom: 10px; }
  .logo-block span {
    font-size: 11px; }
  .nav-right, .link-btn {
    float: none; }
  .navigation {
    display: block; }
  .navigation ul.dropdown-menu {
    width: 100%;
    background-color: #5ab4fd; }
  .navigation ul.dropdown-menu.slide-right {
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
    top: 40px; }
  .navigation ul.dropdown-menu > li > a:hover, .navigation ul.dropdown-menu > li > a:focus {
    background-color: #1e88e5; }
  .user-logo-block {
    overflow: hidden;
    overflow-x: scroll; }
  .mobile-show {
    display: block !important; }
  .navigation ul li.open:hover a span {
    color: #fff; }
  .navigation ul li a i {
    margin-top: 1px; }
  .toggle-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block; }
  .nav-block {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #42a5f5;
    padding: 45px 0;
    z-index: 9;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
  .nav-block.slide-right {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    right: 0; }
  .navigation ul li {
    float: none;
    margin: 0; }
  .navigation ul li a {
    padding: 16px 19px; }
  .navigation ul li a, .link-btn {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    display: block;
    text-align: center; }
  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    font-size: 20px;
    color: #fff; }
  .footer-logo img {
    width: auto; }
  .footer-nav li:first-child {
    margin-right: 8px; } }

@media screen and (min-width: 320px) and (max-width: 667px) {
  .header {
    height: auto; }
  .logo {
    margin-left: -7px; }
    .logo img {
      width: 200px;
      height: 27px; }
  .logo-block {
    padding-top: 2px; }
  .logo-block span:before {
    display: block;
    top: -5px;
    left: 5px;
    height: 21px; }
  .logo-block span {
    font-size: 9px;
    top: 1px;
    padding-left: 13px; }
  .mobile-menu {
    border: medium none;
    background: url("https://static.powtoon.co/cms-assets/home-new/mobile-menu.png") no-repeat;
    display: block;
    height: 21px;
    position: absolute;
    right: 0;
    top: 20px;
    width: 26px; }
  header .business_badge, header .pro_badge, header .edu_badge {
    margin-right: 0; }
  .block-right h1 {
    font-size: 30px;
    padding-left: 4px;
    padding-top: 5px;
    letter-spacing: 3px; }
  #wrapper {
    padding-top: 59px; }
  .down-arrow {
    bottom: -13px; }
  .footer-logo {
    margin: 0 0 8px; } }

@media screen and (max-width: 768px) and (orientation: landscape) {
  .nav-block {
    padding: 25px 0; }
  .nav-block.slide-right {
    min-height: 100vh;
    height: auto;
    overflow-y: scroll; }
  .navigation ul li a {
    font-size: 14px; }
  .navigation ul li a {
    padding: 0 19px 20px 19px; }
  .navigation ul.dropdown-menu {
    margin: 0; }
  .navigation ul.dropdown-menu li a {
    padding: 9px 20px; } }

/*Header Section End*/
/* Rebirth Footer Starts Here */
.footer {
  background: #f1f2f6;
  padding: 0;
  width: 100%; }

.footer .container {
  width: auto; }

.footer .container-fluid {
  padding: 0 50px;
  max-width: 1255px; }

.footer-nav {
  margin: 0 auto 0 auto;
  padding: 64px 0 0;
  max-width: 1156px; }

.footer-nav li {
  display: inline-block;
  margin-right: 42px;
  vertical-align: top; }

.footer-nav li:first-child {
  vertical-align: bottom;
  margin-right: 79px; }

.footer-nav li a {
  text-decoration: none;
  -webkit-transition: all 0.5 ease 0s;
  transition: all 0.5 ease 0s; }

.footer-nav li a:hover {
  color: #42a5f5; }

.footer-nav li:last-child {
  margin-right: 0; }

.footer-nav .internal-link li {
  display: block; }

.click-head {
  color: #0a293f;
  font-family: 'muller-bold';
  font-size: 15px; }

.internal-link a {
  color: #0a293f;
  font-size: 14px;
  font-family: 'muller-light';
  display: inline-block;
  margin-bottom: 13px; }

.internal-link {
  padding: 40px 0 0;
  margin: 0; }

.footer-logo {
  margin: -149px 0 0; }

.footer-logo img {
  width: 95px; }

.media-icons {
  padding: 30px 0 0; }

.media-icons li {
  margin-right: 0;
  display: block;
  margin-bottom: 7px; }

.media-icons li:first-child {
  margin-right: 0; }

.media-icons li a {
  display: block; }

.copy-right {
  margin-top: 48px;
  padding-bottom: 30px; }

.copy-right span {
  font-size: 10px;
  color: #0a293f;
  display: block;
  text-align: center;
  font-family: 'muller-light';
  word-spacing: 3px;
  color: #0a293f; }

@media only screen and (max-width: 1919px) {
  .footer .container-fluid {
    padding: 0; } }

@media only screen and (max-width: 1680px) {
  .container {
    padding: 0 43px; } }

@media only screen and (min-width: 1100px) and (max-width: 1340px) {
  .container {
    padding: 0 21px; }
  .footer-nav li {
    margin-right: 27px; }
  .logo-block span {
    top: 0; } }

@media only screen and (max-width: 1200px) {
  .container-fluid,
  .container,
  header .container {
    padding: 0 20px; }
  .footer-nav li {
    margin-right: 27px; }
  .logo-block span:before {
    background: none repeat scroll 0 0 #9d9d9d;
    content: "";
    height: 35px;
    left: 15px;
    position: absolute;
    top: -4px;
    width: 1px; }
  .logo-block span {
    top: 0; } }

@media only screen and (min-width: 1024px) and (max-width: 1099px) {
  .footer-nav li {
    margin-right: 12px; } }

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .container-fluid, .container, header .container {
    padding: 0 10px; }
  .footer-logo {
    display: none; }
  .footer-nav {
    padding: 52px 0 0; }
  .footer-nav li:nth-child(2) {
    margin-right: 0px; }
  .footer-nav > li:first-child {
    margin-right: 24px; }
  .footer-nav li .click-head {
    letter-spacing: 1.2px; }
  .footer-nav li:nth-child(3) {
    margin-right: 40px; }
  .footer-nav li:nth-child(4) {
    margin-right: 2px; }
  .footer-nav li a {
    letter-spacing: 1.5px; }
  .copy-right {
    margin-top: 54px; }
  .media-icons {
    padding: 35px 0 0;
    width: 85px; } }

@media only screen and (max-width: 991px) {
  .footer .container-fluid {
    padding: 0; }
  .footer-nav li {
    text-align: center;
    width: 100%;
    margin-right: 0; }
  .footer-nav li:first-child {
    margin-right: 0; }
  .footer-logo {
    margin: 0 0 50px; }
  .internal-link {
    margin-bottom: 40px;
    display: none;
    padding: 0; }
  .click-head {
    display: block;
    padding: 25px 0;
    border-top: 1px solid #979fa9; }
  .click-head:focus {
    color: #979fa9; }
  ul.footer-nav li:nth-child(2) .click-head {
    border: none; }
  .media-icons li {
    float: left;
    width: 32%; }
  .copy-right span {
    line-height: 13px; } }

@media only screen and (max-width: 768px) {
  .container {
    padding-left: 15px;
    padding-right: 15px; }
  .footer-nav li:first-child {
    margin-right: 8px; }
  .logo-block span {
    padding-left: 10px; }
  .logo-block span::before {
    top: -4px;
    left: 3px;
    height: 27px; }
  .internal-link a {
    font-size: 30px;
    font-family: 'muller-medium';
    margin-top: 15px; } }

@media only screen and (max-width: 719px) {
  .click-head,
  .internal-link a {
    font-size: 16px; }
  .footer-logo a img {
    width: 100px; } }

@media only screen and (min-width: 320px) and (max-width: 667px) {
  .footer-logo a img {
    width: 112px; }
  .footer-nav {
    margin: 0 0 0 7px;
    padding: 23px 0 0; }
  .footer-logo {
    margin: 0 0 8px; }
  .footer-nav li:nth-child(2) a {
    border-top: none; }
  .footer-nav > li > h5 {
    padding: 27px 0 21px;
    display: block;
    width: 198px;
    margin: 0 auto; }
  .footer-nav > li > h5.openFooterLink {
    color: #979fa9; }
  .footer-nav li a {
    font-size: 15px;
    margin-top: 5px; }
  .internal-link {
    margin-bottom: 10px; }
  .media-icons {
    padding: 15px 0 0;
    width: 255px;
    margin: 0 auto; }
  .footer-nav .media-icons li {
    width: 30%;
    margin-right: 8px; }
  .footer-nav .media-icons li:last-child {
    margin-right: 0; }
  .copy-right {
    margin-top: 22px;
    padding-bottom: 40px; }
  .copy-right span {
    margin-bottom: 4px;
    padding: 0 21px; }
  .copy-right .copy-text {
    display: block;
    font-size: 12px; }
  .flex-direction-nav {
    top: 333px; }
  .click-head, .internal-link a {
    font-size: 14px;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    line-height: 150%; }
  .internal-link {
    margin-bottom: 10px; } }

/* Rebirth Footer Ends Here*/
