/* v20150209 */

@font-face {
	font-family: 'icomoon';
	src:url('../font/icomoon.eot?kuulpg');
	src:url('../font/icomoon.eot?#iefixkuulpg') format('embedded-opentype'),
		url('../font/icomoon.woff?kuulpg') format('woff'),
		url('../font/icomoon.ttf?kuulpg') format('truetype'),
		url('../font/icomoon.svg?kuulpg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-tv:before {
	content: "\e600";
}
.icon-sound:before {
	content: "\e601";
}
.icon-video:before {
	content: "\e602";
}
.icon-camera:before {
	content: "\e603";
}
.icon-display:before {
	content: "\e604";
}
.icon-phone:before {
	content: "\e605";
}
.icon-photo:before {
	content: "\e606";
}
.icon-megaphone:before {
	content: "\e607";
}



@font-face {
    font-family: 'Book';
    src: url('../font/book.eot');
    src: url('../font/book.eot?#iefix') format('embedded-opentype'),
         url('../font/book.woff') format('woff'),
         url('../font/book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Light';
    src: url('../font/light.eot');
    src: url('../font/light.eot?#iefix') format('embedded-opentype'),
         url('../font/light.woff') format('woff'),
         url('../font/light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Basic';
    src: url('../font/basic.eot');
    src: url('../font/basic.eot?#iefix') format('embedded-opentype'),
         url('../font/basic.woff') format('woff'),
         url('../font/basic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Medium';
    src: url('../font/medium.eot');
    src: url('../font/medium.eot?#iefix') format('embedded-opentype'),
         url('../font/medium.woff') format('woff'),
         url('../font/medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Semibold';
    src: url('../font/semibold.eot');
    src: url('../font/semibold.eot?#iefix') format('embedded-opentype'),
         url('../font/semibold.woff') format('woff'),
         url('../font/semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QuattrocentoRomanRegular';
    src: url('../font/Quattrocento-Regular-webfont.eot');
    src: url('../font/Quattrocento-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Quattrocento-Regular-webfont.woff') format('woff'),
         url('../font/Quattrocento-Regular-webfont.ttf') format('truetype'),
         url('../font/Quattrocento-Regular-webfont.svg#QuattrocentoRomanRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din';
    src: url('../font/din_regular_alternate-webfont.eot');
    src: url('../font/din_regular_alternate-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/din_regular_alternate-webfont.woff') format('woff'),
         url('../font/din_regular_alternate-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HamburgerHeavenRegular';
    src: url('../font/HAMBH___-webfont.eot');
    src: url('../font/HAMBH___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/HAMBH___-webfont.woff') format('woff'),
         url('../font/HAMBH___-webfont.ttf') format('truetype'),
         url('../font/HAMBH___-webfont.svg#HamburgerHeavenRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icons';
    src:url('../font/icons.eot');
    src:url('../font/icons.eot?#iefix') format('embedded-opentype'),
            url('../font/icons.svg#icons') format('svg'),
            url('../font/icons.woff') format('woff'),
            url('../font/icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
	font-family: 'icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

[data-icon="facebook"]:before {
	content: "\e000";
}
[data-icon="instagram"]:before {
	content: "\e001";
}
[data-icon="twitter"]:before {
	content: "\e004";
}
[data-icon="twitter-2"]:before {
	content: "\e007";
}
[data-icon="facebook-2"]:before {
	content: "\e008";
}
[data-icon="firefox"]:before {
	content: "\e00a";
}
[data-icon="IE"]:before {
	content: "\e00b";
}
[data-icon="opera"]:before {
	content: "\e00c";
}
[data-icon="chrome"]:before {
	content: "\e00d";
}
[data-icon="youtube"]:before {
	content: "\e00e";
}
[data-icon="youtube-2"]:before {
	content: "\e00f";
}
[data-icon="redo"]:before {
	content: "\e010";
}
[data-icon="undo"]:before {
	content: "\e011";
}
[data-icon="instagram-2"]:before {
	content: "\e014";
}
[data-icon="facebook-3"]:before {
	content: "\e015";
}
[data-icon="safari"]:before {
	content: "\e016";
}
[data-icon="videos"]:before {
	content: "\e017";
}
[data-icon="pictures"]:before {
	content: "\e018";
}
[data-icon="link"]:before {
	content: "\e019";
}
[data-icon="images"]:before {
	content: "\e01a";
}
[data-icon="images-2"]:before {
	content: "\e01b";
}
[data-icon="search"]:before {
	content: "\e01c";
}
[data-icon="twitter-3"]:before {
	content: "\e01f";
}
[data-icon="pinterest"]:before {
	content: "\e020";
}
[data-icon="facebook-4"]:before {
	content: "\e022";
}
[data-icon="linkedin"]:before {
	content: "\e023";
}
[data-icon="pinterest-2"]:before {
	content: "\e026";
}
[data-icon="linkedin-2"]:before {
	content: "\e027";
}
[data-icon="googleplus"]:before {
	content: "\e028";
}
[data-icon="facebook-5"]:before {
	content: "\e029";
}
[data-icon="twitter-4"]:before {
	content: "\e02a";
}
[data-icon="googleplus-2"]:before {
	content: "\e02b";
}
[data-icon="dropbox"]:before {
	content: "\e021";
}
[data-icon="quote-left"]:before {
	content: "\f10d";
}
[data-icon="quote-right"]:before {
	content: "\f10e";
}
[data-icon="instagram-3"]:before {
	content: "\e013";
}
[data-icon="share"]:before {
	content: "\f045";
}
[data-icon="comment"]:before {
	content: "\e01d";
}
[data-icon="twitter-sign"]:before {
	content: "\f081";
}
[data-icon="facebook-sign"]:before {
	content: "\f082";
}



@font-face {
	font-family: 'shareicons';
	src:url('../font/shareicons.eot?-5qioub');
	src:url('../font/shareicons.eot?#iefix-5qioub') format('embedded-opentype'),
		url('../font/shareicons.woff?-5qioub') format('woff'),
		url('../font/shareicons.ttf?-5qioub') format('truetype'),
		url('../font/shareicons.svg?-5qioub#shareicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="new-"], [class*=" new-"] {
	font-family: 'shareicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.new-fire:before {
	content: "\e9a9";
}

.new-link:before {
	content: "\e9cb";
}

.new-eye-plus:before {
	content: "\e9cf";
}

.new-arrow-up:before {
	content: "\ea32";
}

.new-share:before {
	content: "\ea7d";
}

.new-share2:before {
	content: "\ea82";
}

.new-google-plus:before {
	content: "\ea88";
}

.new-google-plus2:before {
	content: "\ea89";
}

.new-facebook:before {
	content: "\ea8c";
}

.new-facebook2:before {
	content: "\ea8d";
}

.new-twitter:before {
	content: "\ea91";
}

.new-twitter2:before {
	content: "\ea92";
}
