@font-face {
	font-family: 'tempotvi';
	src:url('/font/tempotvi.eot?8e4eef');
	src:url('/font/tempotvi.eot?#iefix8e4eef') format('embedded-opentype'),
		url('/font/tempotvi.ttf?8e4eef') format('truetype'),
		url('/font/tempotvi.woff?8e4eef') format('woff'),
		url('/font/tempotvi.svg?8e4eef#tempotvi') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="tempo-"], [class*=" tempo-"] {
	font-family: 'tempotvi';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.tempo-nt_clear:before {
	content: "\e611";
}
.tempo-wind:before {
	content: "\e626";
}
.tempo-nt_partlysunny:before {
	content: "\e616";
}
.tempo-nt_mostlycloudy:before {
	content: "\e619";
}
.tempo-chanceflurries:before {
	content: "\e600";
}
.tempo-chancerain:before {
	content: "\e601";
}
.tempo-chancesleet:before {
	content: "\e602";
}
.tempo-chancesnow:before {
	content: "\e603";
}
.tempo-chancetstorms:before {
	content: "\e604";
}
.tempo-clear:before {
	content: "\e605";
}
.tempo-cloudy:before {
	content: "\e606";
}
.tempo-flurries:before {
	content: "\e607";
}
.tempo-fog:before {
	content: "\e608";
}
.tempo-hazy:before {
	content: "\e609";
}
.tempo-mostlycloudy:before {
	content: "\e60a";
}
.tempo-mostlysunny:before {
	content: "\e60b";
}
.tempo-nt_chanceflurries:before {
	content: "\e60c";
}
.tempo-nt_chancerain:before {
	content: "\e60d";
}
.tempo-nt_chancesleet:before {
	content: "\e60e";
}
.tempo-nt_chancesnow:before {
	content: "\e60f";
}
.tempo-nt_chancetstorms:before {
	content: "\e610";
}
.tempo-nt_cloudy:before {
	content: "\e612";
}
.tempo-nt_flurries:before {
	content: "\e613";
}
.tempo-nt_fog:before {
	content: "\e614";
}
.tempo-nt_hazy:before {
	content: "\e615";
}
.tempo-nt_mostlysunny:before {
	content: "\e617";
}
.tempo-nt_partlycloudy:before {
	content: "\e618";
}
.tempo-nt_rain:before {
	content: "\e61a";
}
.tempo-nt_sleet:before {
	content: "\e61b";
}
.tempo-nt_snow:before {
	content: "\e61c";
}
.tempo-nt_sunny:before {
	content: "\e61d";
}
.tempo-nt_tstorms:before {
	content: "\e61e";
}
.tempo-partlycloudy:before {
	content: "\e61f";
}
.tempo-partlysunny:before {
	content: "\e620";
}
.tempo-rain:before {
	content: "\e621";
}
.tempo-sleet:before {
	content: "\e622";
}
.tempo-snow:before {
	content: "\e623";
}
.tempo-sunny:before {
	content: "\e624";
}
.tempo-tstorms:before {
	content: "\e625";
}
