/*
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,
canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,
embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,
hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,meter,nav,
object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,
strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,
u,ul,var,video,xmp {
	border:0;
	font-size:100%;
	margin:0;
	padding:0
}

html,body {
	height:100%
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block
}

b,strong {
	font-weight:bold
}

img {
	color:transparent;
	font-size:0;
	vertical-align:middle;
	-ms-interpolation-mode:bicubic
}

li {
	display:list-item
}

table {
	border-collapse:collapse;
	border-spacing:0
}

th,td,caption {
	font-weight:normal;
	vertical-align:top;
	text-align:left
}

svg {
	overflow:hidden
}
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	/*vertical-align: baseline;*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	color:transparent;
	font-size:0;
	vertical-align: baseline;
	-ms-interpolation-mode:bicubic
}