
#rightcolum {
    float: left;
    padding-top: 10px;
    width: 400px;
}
.sec-tit {
    border-bottom: 3px solid #e0e0e0;
    clear: both;
    color: #4a98cb;
    display: inline;
    float: right;
    font-family: "Book",Arial,Helvetica,sans-serif;
    font-size: 20px;
    margin: 0 0 20px;
    padding: 40px 0 6px;
    text-align: right;
    text-transform: uppercase;
}
.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.block_media_list ul {
    display: block;
}
.block_media_list * {
    box-sizing: border-box;
}
ol, ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.block_media_list li {
    background-color: #f5f5f5;
    clear: both;
    display: block;
    margin: 30px 0;
}
.block_media_list li > div:nth-of-type(1) {
    float: left;
    width: 50%;
}
.block_media_list li > div:nth-of-type(2) {
    float: left;
    width: 50%;
}
.media_list_info {
    font-family: "Light";
    font-size: 11px;
    margin: 8px 8px 0;
    text-transform: uppercase;
}
a {
    text-decoration: none;
}
.media_list_pic {
    height: 0;
    padding-bottom: 56.25%;
    width: 100%;
}
.media_list_info a {
    color: #06c;
}
.media_list_tit {
    font: 12px/12px "Book";
    height: 52px;
    margin: 4px 8px 0;
    overflow: hidden;
}
.media_list_tit a {
    color: #333;
    text-overflow: ellipsis;
}
#neg_pub {
    background: #efefef url("bgseachempresas.png") no-repeat scroll 5px 5px;
    float: right;
    height: auto;
    padding: 5px 0 15px;
    width: 300px;
}
.iol_negpubinput {
    background: #ffffff none repeat scroll 0 0;
    border: 0 none;
    color: #333;
    float: left;
    font: 14px/18px "book";
    height: 34px;
    margin: 5px 0 0 10px;
    text-transform: uppercase;
    width: 142px;
}
.iol_negpubinput:focus, .iol_negpubsubmit:focus {
    border: 0 none;
    outline: 0 none;
}
.iol_negpubsubmit {
    background: rgba(0, 0, 0, 0) url("btempresas.png") no-repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    float: right;
    font-size: 1px;
    height: 40px;
    margin: 0;
    padding: 0;
    width: 147px;
}
.iol_negpubsubmit:hover {
    background: rgba(0, 0, 0, 0) url("btempresashover.png") no-repeat scroll 0 0;
}
.tit-pesquisa {
    background: #efefef none repeat scroll 0 0;
    float: right;
    margin-top: -30px;
    padding: 0;
    text-align: center;
    width: 300px;
}
