/* CSS OLD PEOPLE DONT SCROLL v8.0 */

/* v20161021 */

html, body { 
    margin: 0;
    padding: 0;
	height: 100%;
}

body {
    background-color: #f5f5f5;
    font-family: 'Book', Arial, Helvetica, sans-serif;
    /*-webkit-font-smoothing: subpixel-antialiased;*/
    /*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=hIEfix.png,sizingMethod=crop);zoom:1;*/
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Medium', Arial, Helvetica, sans-serif;*/
    /*font-size: 18pt;*/
    font-family: 'Book';
}

a {text-decoration: none;}

a:hover {text-decoration: underline}


/* DEFAULT BANNEROVER */
#bannerover {position: relative; z-index: 1; width: 980px; margin: 10px auto; overflow: hidden; display: none;}

/* DEFAULT BANNEROVER */
#fullscreen {position: fixed; z-index: 0; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; display: none;}

/* DEFAULT LIGHTBOX */
#lightbox {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    display: none;
}
.lightbox-box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -300px;
    width: 800px;
    height: 600px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50);
}
.lightbox-video {
    width: 560px;
    height: 448px;
    margin: 120px 120px 0 120px;
    background-color: #000;
}
.lightbox-bt-close {
    position: absolute;
    top: 0px;
    right: -30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.50);
    cursor: pointer;
}

/* DEFAULT CONTENTWRAPPER */
#contentwrapper {position: relative; z-index: 1; margin: 0 auto; overflow: hidden;}
#contentwrapper * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* HEADER */
#headerwrapper {max-width: 980px; margin: 0 auto; background: #f5f5f5}
#headerwrapper .menu_a {height: 30px; text-transform: uppercase; font: 11px/30px 'Medium'; text-align: center; /*background: aqua;*/}
#headerwrapper .menu_a li {height: 30px; display: inline; padding: 0 3px 0 6px; background: url(/img/header_divisoria.png) no-repeat left;}
#headerwrapper .menu_a li:first-child {background: none;}
#headerwrapper .menu_a li img {margin: 0 4px -2px 0;}
#headerwrapper .menu_a li a {background: none; color: #5e7892;}
#headerwrapper .menu_a li span {color: #87a0b9;}
#headerwrapper .menu_a li a:hover, #headerwrapper .menu_a li a:hover span {color: #06c;}

#headerwrapper #new_menu {display: none; height: 40px; line-height: 40px; padding: 0 10px; float: right; background-color: #0066cc; color: #fff; margin: 34px 20px 0 0; border-radius: 4px;}
#headerwrapper #new_menu:hover {background-color: #e0e0e0; color: #555; cursor: pointer;}


/* LOGO IOL */
#headerwrapper .logo {width: 160px; height: 110px; text-align: center; float: left;}
#headerwrapper .logo img {padding: 10px;}

/* PESQUISA */
.search {width: 340px; height: 110px; float: left;}
.pesquisa {width: 300px; height: 42px; margin: 34px auto 0 auto; position: relative; background-color: #fff; border: 1px solid #ccc; border-radius: 6px;}
.pesquisa img {float: right; padding: 6px 0;}
.pesquisa #form_search #text {font: 16px/40px 'Medium'; text-transform: uppercase; width: 240px; height: 40px; border: 0; color: #333; padding: 0; margin-left: 10px; background: transparent; outline: none;}
.pesquisa #form_search #submit {width: 40px; height: 40px; background-color: #0066cc; color: #fff; border-radius: 5px; border: 0 !important; cursor: pointer; position: absolute; top: 0; right: 0; outline: none; font: 20px/40px 'shareicons';}
.pesquisa #form_search #submit:hover {background-color: #e0e0e0; color: #555;}


@media (max-width: 1024px) {
    #headerwrapper .logo {
        height: 90px
    }
    #headerwrapper .logo img {
        height: 90px
    }
    .search {
        height: 90px;
    }
    .pesquisa {
        margin: 24px auto 0 auto;
    }
    #headerwrapper #new_menu {
        margin: 24px 20px 0 0;
    }
}

/* TABS TEMPO TRANSITO HOROSCOPO*/
#headerwrapper .misc_tabs {width: 480px; height: 104px; float: left; position: relative;}
.misc_tabs {}
.misc_tabs .kwicks {list-style: none; position: relative; margin: 0; padding: 6px 0 0 0; height: 110px; overflow: hidden; display: none;}
.misc_tabs .kwicks li {display: block; overflow: hidden !important; padding: 0; /*cursor: pointer;*/ width: 160px; height: 110px;}

.misc_tabs #tempo {/*background-color: #008DA3;*/}
.misc_tabs #transito {/*background-color: #F07000;*/}
.misc_tabs #horos {/*background-color: #A33100;*/}

.outerfix {position: relative; width: 400px; display: block; overflow: hidden;}
.misc_tabs .content {width: 360px; height: 110px; float: left; font-size: 11px; position: relative; display: block;}
.misc_tabs .tab_bt {width: 40px; height: 110px; float: left;}


#tempo .bt_tempo, #transito .bt_trans, #horos .bt_horos {height: 16px; font-family: 'Medium'; text-transform: uppercase; padding: 6px 0; position: absolute; right: 6px; top: 0; font-size: 12px; z-index: 9999;}
#tempo .bt_tempo a, #transito .bt_trans a, #horos .bt_horos a {color: #666; background: url(/img/arrow_right.png) no-repeat scroll right center; padding-right: 18px;}


/* TAB TEMPO */
#tempo .dias {width: 110px; padding: 0 5px; float: left; margin-top: 30px; position: relative;}
#tempo .dias .dia {background: #dfdfdf; color: #666; text-align: center; text-transform: uppercase; height: 16px; font: 11px/16px 'Medium';}
#tempo .dias .dia {
    -pie-watch-ancestors: 1;
    -webkit-border-radius: 10px;
    -moz-border-radius:  10px;
    -o-border-radius:  10px;
    -khtml-border-radius:  10px;
    -ms-border-radius:  10px;
    border-radius:  10px;
    -pie-lazy-init: true;
    behavior: url('/css/PIE.htc?v2');
    position: relative;
}
#tempo .dias .dia span {line-height: 16px;}
#tempo .dias .tempo {width: 110px; height: 30px; line-height: 30px; padding: 10px; text-align: center;}
#tempo .dias .tempmax {color: #d74141; padding: 2px 0; display: inline;}
#tempo .dias .tempmin {color: #0099cc; padding: 2px 0; display: inline;}
#tempo .dias img {float: left;}

#tempo .tab_bt {background: url(/img/imgs_site.png?v2012.05.17-16.22) -150px 0 no-repeat;}
#tempo .tab_bt:hover {background-position: -150px -104px; cursor: pointer;}
#tempo.active .tab_bt {background-position: -150px -208px; cursor: default;}


/* TAB TRANSITO */
#transito .estradas {width: 360px !important; float: left !important; position: relative; margin-top: 30px;}
#transito .estradas li {float: left !important; width: 110px !important; height: 16px !important; color: #666; font: 11px/16px 'Medium'; overflow: hidden; margin: 0 10px 6px 0;}
#transito .estradas li span {display: inline-block; text-align: center; padding: 0 14px 0 0; display: block; text-transform: uppercase;}
#transito .estradas .green {background: #dfdfdf url(/img/transito/sinais.jpg) right 0 no-repeat;}
#transito .estradas .yellow {background: #dfdfdf url(/img/transito/sinais.jpg) right -16px no-repeat;}
#transito .estradas .red {background: #dfdfdf url(/img/transito/sinais.jpg) right -32px no-repeat;}

#transito .estradas li {
    -pie-watch-ancestors: 1;
    -webkit-border-radius: 10px;
    -moz-border-radius:  10px;
    -o-border-radius:  10px;
    -khtml-border-radius:  10px;
    -ms-border-radius:  10px;
    border-radius:  10px;
    -pie-lazy-init: true;
    behavior: url('/css/PIE.htc?v2');
    position: relative;
}

#transito .tab_bt {background: url(/img/imgs_site.png?v2012.05.17-16.22) -190px 0 no-repeat;}
#transito .tab_bt:hover {background-position: -190px -104px; cursor: pointer;}
#transito.active .tab_bt {background-position: -190px -208px; cursor: default;}


/* TAB HOROSCOPO */
#horos .signo {margin-top: 34px;}
#horos .signo img {float: left; padding-right: 10px;}

#horos .signo .previsao {font-size: 13px; line-height: 15px; margin: 0 10px;}

#horos .tab_bt {background: url(/img/imgs_site.png?v2012.05.17-16.22) -230px 0 no-repeat;}
#horos .tab_bt:hover {background-position: -230px -104px; cursor: pointer;}
#horos.active .tab_bt {background-position: -230px -208px; cursor: default;}

/* DROPDOWN */
.selectbox {position: absolute; top: 10px; left: 40px; z-index: 9999; font: 11px 'Medium'; text-transform: uppercase; display: none;}
.boxtran {position: absolute; top: 10px; left: 80px; z-index: 9999; font: 11px 'Medium'; text-transform: uppercase;}

.dropdown dd, .dropdown dt, .dropdown ul {margin: 0px; padding: 0px; z-index: 9999}
.dropdown dd {position: relative;}
.dropdown a, .dropdown a:visited {color: #666; text-decoration:none; outline:none;}
.dropdown a:hover {color:#06c;}
/*.dropdown dt a:hover {color:#fff;}*/
.dropdown dt a {background: #dfdfdf url(/img/bck_select.png) no-repeat scroll right center; display:block; width:140px; height: 16px; line-height: 16px; padding: 0 10px;}
.dropdown dt a {
    -pie-watch-ancestors: 1;
    -webkit-border-radius: 10px;
    -moz-border-radius:  10px;
    -o-border-radius:  10px;
    -khtml-border-radius:  10px;
    -ms-border-radius:  10px;
    border-radius:  10px;
    -pie-lazy-init: true;
    behavior: url('/css/PIE.htc?v2');
    position: relative;
}
.dropdown dt a span {cursor: pointer; display: block;}
.dropdown dd ul {background:#dfdfdf none repeat scroll 0 0; display: none; left: 0px; position: absolute; top: 2px; width: auto; min-width: 160px; list-style: none; overflow: hidden;}
.dropdown dd ul, .dropdown dd ul {
    -pie-watch-ancestors: 1;
    -webkit-border-radius: 10px;
    -moz-border-radius:  10px;
    -o-border-radius:  10px;
    -khtml-border-radius:  10px;
    -ms-border-radius:  10px;
    border-radius:  10px;
    -pie-lazy-init: true;
    behavior: url('/css/PIE.htc?v2');
    position: relative; 
}
.dropdown span.value {display: none;}
.dropdown dd ul li a {padding: 4px 10px; display: block;}
.dropdown dd ul li a:hover {}

.dropdown img.flag {border: none; vertical-align: middle; margin-left: 10px;}
.flagvisibility {display: none;}

#source, #seltran, .dropdown_source {display: none;}

#480x104 {float: left; width: 480px; height: 104px; display: none;}


/* DIV ENTRE HEADER E FOOTER */
#outercontent {/*background: url(/img/bck_outer.png) top repeat-x;*/}


/* DIV CONTEUDO PRINCIPAL */
#content {/*background: url(/img/bck_content.png) center bottom no-repeat;*/}


/* MAIN NAV */
#content .menu_b {height: 50px; padding: 0; margin: 0 auto; text-transform: uppercase; font: 14.5px/50px 'Book'; clear: both;}
#content .menu_b ul {padding: 0; text-align: center;}
#content .menu_b li {display: inline-block; padding: 0 8px;}
#content .menu_b span {font-size: 12px; color: #06c;}
#content .menu_b li img {padding-right: 2px;}
#content .menu_b li a {color: #666;}
#content .menu_b li a:hover {color: #06c;}

#content .menu_b .novo span {background-color: #d00000;color:#fff; font-size: 10px; vertical-align: super; padding: 0 2px;}
#content .menu_b .novo:hover {color: #d00000;}


/* DIV CONTEUDO */
#content_main {width: 100%; background: #fff; /*clear: both;*/}


#content_main .out-leftcolum {
    /*background-color: yellow;*/
    float: left;
    margin-right: -325px;
    width: 100%;
}

#content_main #leftcolum {margin-left: 0px; margin-right: 325px; /*float: left; background: aqua;*/}

#content_main #leftcolum > div:nth-of-type(1) {
    /*margin: 20px 0;*/
}

/* TABS 2015 */
.tabs_noticias {display: none;}

#tabs * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.ui-tabs-hide {
    display: none;
}
.ui-tabs .ui-tabs-nav {
    margin: 10px;
    padding: 0;
}
.ui-widget-header {
    border-bottom: 1px solid #06c;
}
#tabs .tabs-nav li, .ui-tabs .ui-tabs-nav li {
    width: 14.28571428571429%;
    float: left;
    padding: 0;
    border-bottom-width: 0;
    font-family: 'Medium';
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}
.ui-tabs .ui-tabs-nav li a {
    color: #777;
    display: block;
    padding: 0.6em 0;
    text-decoration: none;
}
.ui-tabs .ui-tabs-nav li a:hover {
    color: #06c;
}
.ui-tabs .ui-tabs-nav .ui-state-active {
    margin-bottom: -1px;
    padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav .ui-state-active a {
    color: #fff;
}
.ui-tabs .ui-tabs-nav .ui-state-active a:hover {
    color: #fff;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid transparent;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background-color: #06c;
    border: 1px solid #06c;
}


.sec_separator {
    clear: both;
    text-transform: uppercase;
    font-family: 'Light';
    font-size: 28px;
    color: #4a98cb;
    padding: 0 0 10px;
    margin: 0 10px;
    border-bottom: 3px solid #e0e0e0; 
}



/* 2014 */
.column {
    width: 100%;
    display: table-cell;
    height: 100%;
}
#content_new {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}



.row {margin: 15px;}
.row * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}



.news_list_one_half {width: 100%;}
.news_list_one_half .list_left, .news_list_one_half .list_right {padding: 10px; float: left;}

.news_list_one_half .list_left {
    width: 60%;
}
.news_list_one_half .list_left a {
    text-decoration: none;
}
.news_list_one_half .list_left .item_clicker {
    position: absolute;
    width: 100%;
    height: 100%;
}
.news_list_one_half .list_left .item_share {
    z-index: 10000;
    font-size: 26px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.news_list_one_half .list_left .item_share a {
    color: #fff;
}

.news_list_one_half .list_left .item_share a.new-facebook2:hover {
    color: #3b5998;
}
.news_list_one_half .list_left .item_share a.new-twitter2:hover {
    color: #00abec;
}
.news_list_one_half .list_left .item_share a.new-google-plus2:hover {
    color: #dd4b39;
}

.news_list_one_half .list_right {
    width: 40%;
}
.news_list_one_half .list_right ul {
    overflow: hidden;
    clear: both;
    background-color: #f5f5f5;
}
.news_list_one_half .list_right ul li {
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.news_list_one_half .list_right ul li:last-child {
    border: 0;
}
.news_list_one_half .list_right ul li a {
    font-size: 15px;
    color: #333;
}
.news_list_one_half .list_right ul li a:hover {
    font-size: 15px;
    color: #0066cc;
}
.news_list_one_half .list_right .sec-tit {
    background-color: #e0e0e0;
    clear: both;
    text-transform: uppercase;
    font-size: 14px;
    color: #06c;
    padding: 10px;
}
.news_list_one_half .list_right ul li a:hover {
    font-size: 15px;
    color: #0066cc;
}
.news_list_one_half .list_right .ver-mais {
    background-color: #efefef;
    padding: 10px;
    margin-top: 1px;
    text-align: right;
}
.news_list_one_half .list_right .ver-mais a {
    color: #666;
}

.on_fire {position: absolute; top: 10px; right: 10px; color: #fff; text-shadow: 0 0 4px #000;}
.mais-lida {background-color: #0066cc; font-size: 14px; padding: 12px; text-transform: uppercase; border-radius: 50%; border: 4px solid transparent;
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
            transition: all 0.5s ease;
}
.mais-lida span {font-family: 'light';}

div[class*='news_list']:hover .mais-lida {
    background-color: rgba(0,0,0,.75);
    border-color: #fff;
}

.news_item_share {margin-top: 5px; float: right;}
.news_item_share a {
    font-size: 21px;
    text-decoration: none;
    color: #ccc;
}
.news_item_share a:hover {
    /*color: #333 !important;*/
}
.news_item_share a:hover {}
.news_item_share a.new-facebook2:hover {color: #3b5998;}
.news_item_share a.new-twitter2:hover {color: #00abec;}
.news_item_share a.new-google-plus2:hover {color: #dd4b39;}

.news_list_one {padding: 20px 10px;}
.news_list_two {width: 50%; float: left; padding: 10px;}
.news_list_single {background-color: #f5f5f5; margin: 10px;}

.news_list_single .left-column {
    width: 49%; float: left;
}
.news_list_single .right-column {
    width: 51%; float: left; padding: 10px;
}

.news_list_single .news_list_pic {
    float: left;
}
div[class*='news_list'] .news_list_pic:after {
    content: "";
    width: 0;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 2;
    background-color: #0066cc;
    -webkit-transition: width 0.35s;
       -moz-transition: width 0.35s;
            transition: width 0.35s;
}
/*div[class*='news_list']:hover .news_list_pic:after {*/
.news_list_one:hover .news_list_pic:after, .news_list_two:hover .news_list_pic:after, .list_left:hover .news_list_pic:after, .news_list_single:hover .news_list_pic:after {
    width: 100%;
}

.news_list_single .news_item_share {margin-top: 0;}
.news_list_single .news_list_info {
    margin: 0;
}
.news_list_pic {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}
div[class*='news_list'] .news_list_pic {
    -webkit-transition: opacity 0.35s;
       -moz-transition: opacity 0.35s;
            transition: opacity 0.35s;
}
/*div[class*='news_list']:hover .news_list_pic {*/
.news_list_one:hover .news_list_pic, .news_list_two:hover .news_list_pic, .list_left:hover .news_list_pic, .news_list_single:hover .news_list_pic {
    -webkit-opacity: .75;
       -moz-opacity: .75;
            opacity: .75;
}
/*
.news_list_pic:hover {
    -webkit-opacity: .75;
       -moz-opacity: .75;
            opacity: .75;
}
*/
.news_list_info {text-transform: uppercase; font-size: 12px; font-family: 'Light'; color: #888; margin-top: 10px; display: inline-block;}

.news_list_tit {font: 24px/28px 'Book'; margin-top: 8px;}
.news_list_tit a {color: #333;}
.news_list_tit a:hover {
    color: #0066cc;
}
.news_list_res {color: #888; margin-top: 10px; font: 16px/20px 'Light';}
.news_list_res_big {color: #666; margin-top: 20px; font: 16px/19px 'Light'; text-align: justify;}
.news_list_res_big br {margin: 10px; clear: both; display: block;}


.block_media_list * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


.block_media_list ul {display: block;}
.block_media_list li {display: block; clear: both; background-color: #f5f5f5; margin: 30px 0;}

.block_media_list li > div:nth-of-type(1) {width: 50%; float: left;}
.block_media_list li > div:nth-of-type(2) {width: 50%; float: left;}


.media_list_pic {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    -webkit-transition: opacity 0.35s;
       -moz-transition: opacity 0.35s;
            transition: opacity 0.35s;
}
.block_media_list li:hover .media_list_pic {
    -webkit-opacity: .75;
       -moz-opacity: .75;
            opacity: .75;
}
.media_list_info {text-transform: uppercase; font-size: 12px; font-family: 'Light'; margin: 8px 8px 0 8px;}
.media_list_info a {color: #06c;}
.media_list_info a:hover {text-decoration: underline;}
.media_list_tit {font: 15px/17px 'Book'; margin: 4px 8px 0px 8px;}
.media_list_tit a {color: #333; text-overflow: ellipsis;}
.media_list_tit a:hover {
    color: #0066cc;
}



/* RIGHT COLUM */
#content_main #rightcolum {width: 300px; float: left;}
#content_main #rightcolum .rightcolum_content {}

.mrec {width: 300px; /*height: 250px; background: #000;*/ display: block; clear: both; margin: 25px auto 0;}
.mrec2 {width: 300px; height: 250px; /*background: #000;*/ display: block; clear: both; margin: 25px auto 0;}
.pub {width: 300px; height: 20px; text-align: right; display: block; font: 10px/20px 'Trebuchet MS'; clear: both; margin: 0 auto;}

.mercado {
    display: block;
}

.mercado div {
    margin: 0 auto;
}
.mercado .sec-tit {
    display: inline;
    float: right;
    clear: both;
    font-family: "Book",Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color: #4a98cb;
    padding: 40px 0 6px 0;
    margin: 0 0 20px 0;
    text-align: right;
    border-bottom: 3px solid #e0e0e0; 
}

#rightcolum .sec-tit {
    display: inline;
    float: right;
    clear: both;
    text-transform: uppercase;
    font-size: 20px;
    color: #4a98cb;
    padding: 40px 0 6px 0;
    margin: 0 0 20px 0;
    text-align: right;
    border-bottom: 3px solid #e0e0e0; 
}
#rightcolum .sec-tit a {
    color: #4a98cb;
}

#rightcolum .sec-tit-img {
    display: inline;
    float: right;
    clear: both;
    padding: 40px 0 0 0;
    margin: 0 0 20px 0;
}



/* BOX BLOGS */
.blogs {margin-bottom: 10px; display: block; clear: both;}
.blog {padding-bottom: 10px; text-align: center;}



/* BOX SONDAGEM */
.sondagem {display: block; clear: both; overflow: hidden; padding-bottom: 20px;}
.sondagem .pergunta {display: block; padding: 6px 0; overflow: hidden; clear: both; font: 20px/24px 'Basic'; color: #666;}
.sondagem #resposta {padding-top: 10px; position: relative;}
.sondagem_inside li {margin: 10px;}

.sondagem .radio {position: relative; font-size: 16px;}
.sondagem .radio input {position: absolute; left: 0; top: 4px;}
.sondagem .radio span {display: block; padding: 6px 6px 6px 0; margin-left: 24px;}

.box-sondagem .result span {padding: 6px; font-size: 18px;}
.box-sondagem .bar {width: 288px; height: 18px; background: #e0e0e0; margin: 0 auto 6px auto; line-height: 18px;}
.box-sondagem .barstatus {height: 18px; background: #c00; color: #fff; text-indent: 4px;}
.box-sondagem .result span {font-size: 16px;}

.sondagem #submit {width: 100%; height: 32px; border: 0; cursor: pointer; text-align: center; background: #4d85be; color: #fff; text-transform: uppercase; font: 12px/32px 'Semibold'; margin-top: 10px; clear: both;}
.sondagem #submit:hover {background: #06c;}

.sondagem .slink {display: block; height: 32px; line-height: 32px; font: 12px/32px 'Semibold'; text-align: center; text-transform: uppercase; background: #4ca2db; color: #fff; margin-top: 10px;}
.sondagem .slink:hover {background: #06c;}
.sondagem .slink img {margin-bottom: -5px;}

.sondagem .result span {padding: 6px;}
.sondagem .bar {height: 22px; background: #e0e0e0; margin: 6px auto; font: 14px/20px 'Medium';}
.sondagem .barstatus {height: 22px; background: #4a98cb; color: #fff; text-indent: 4px; text-shadow: 0 0 1px #000;}
.sondagem .result span {font-size: 14px; display:block;}

.sondagem input[type="radio"] {
    float: left;
    margin: 2px 6px 0 0;
    padding: 0;
}
.sondagem label {display: block;}



/* BOX CITADOR */
.citador-mini {display: block; clear: both; margin-right: 20px}

.cit-tema {color: #333; font: 20px/22px 'Medium'; margin: 10px 0;}
.cit-tema .cit-tipo b {color: #f39704; margin-bottom: 10px;}
.cit-tema .cit-tipo a {color: #666; margin-bottom: 10px;}
.cit-tema .cit-autor {color: #666; font: 16px 'Light'; font-style: italic; display: inline-block; clear: both;}



/* BOX OPINIAO */
.block_opi_list ul {display: block; /*margin-right: 20px;*/}
.block_opi_list li {display: block; clear: both; margin: 20px 0;}

.block_opi_list li > div:nth-of-type(1) {width: 30%; float: left;}
.block_opi_list li > div:nth-of-type(2) {width: 70%; float: left;}
.opi_list_pic {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
}
.opi_list_pic:hover {
    -webkit-opacity: .75;
       -moz-opacity: .75;
            opacity: .75;
}
.opi_list_info {text-transform: uppercase; font-size: 12px; font-family: 'Light'; color: #0066cc; margin: 8px 8px 0 8px;}
.opi_list_tit {font: 17px/19px 'Book'; margin: 6px 8px 0 8px;}
.opi_list_tit a {color: #333;}
.opi_list_tit a:hover {
    color: #0066cc;
}



/* FOOTER */
.divBottom {font-size: 13px; clear: both;}
/*ver style_comum*/



/* TAKEOVER */
/*
body {background: #f5f5f5 url(/img/bg/02.jpg) center 70px no-repeat fixed;}
#bannerover {width: 984px; height: 50px; padding: 0; margin: 10px auto; display: block; background: #fff;}
#contentwrapper {width: 980px; margin: 0 auto; margin-top: 200px;}
*/

/* FULLSCREEN */
/*
html, body {min-height: 100%;}
#fullscreen {position: fixed; top: 0; right:0; bottom: 0; left: 0; z-index: 0; width: 100%; height: 100%;}
#contentwrapper {width: 980px; margin: 0 auto; z-index: 1;  position: relative;}
*/



/* CLEAR FIX */
/*.clearfix {height: 0; clear: both; display: block;}*/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    *display: inline-block;
}
 
html[xmlns] .clearfix {
    *display: block;
}
 
* html .clearfix {
    height: 1%;
}

@media (min-width: 1200px) {
    
}

@media (max-width: 1200px) {
    #content_main .out-leftcolum {/*background-color: blue;*/}
    #tabs .tabs-nav li, .ui-tabs .ui-tabs-nav li {font-size: 12px;}
}

@media (max-width: 1020px) {
    #headerwrapper .misc_tabs, .menu_a, .menu_b {display: none;}
    #headerwrapper #new_menu {display: block;}
}

@media (max-width: 1020px) and (min-width: 920px) {
    .news_list_one_half .news_list_pic {padding-bottom: 75%;}
    #tabs .tabs-nav li, .ui-tabs .ui-tabs-nav li {font-size: 10px;}
}

@media (max-width: 920px) {
    #content_main #leftcolum > div:nth-of-type(1) {margin: 10px;}
    #content_main .out-leftcolum {}
    #content_main #leftcolum {margin: 0;}
    #content_main #rightcolum {float: none; width: auto; margin: 0 25px;}
    #content_main #rightcolum .rightcolum_content {margin: 0 auto;}
}

@media (max-width: 640px) {
    #content_main #leftcolum > div:nth-of-type(1) {margin: 0px;}
    #content_main #rightcolum {float: none; width: auto; margin: 0 10px;}
    .row {margin: 0;}
    .search {display: none;}
    #tabs .tabs-nav li, .ui-tabs .ui-tabs-nav li {width: 25%; font-size: 10px;}
    .ui-tabs .ui-tabs-nav li a {padding: 0.6em 0.5em;}
    .news_list_one_half .list_left, .news_list_one_half .list_right {width: 100%; float: none;}
    #content_main .out-leftcolum {/*background-color: orangered;*/}
    .news_list_two {width: 100%; float: none; padding: 10px;}
    .divBottom {display: none;}
    
    .news_list_single .left-column {
        width: 100%; display: block;
    }
    .news_list_single .right-column {
        width: 100%; display: block;
    }
}

.iframewidget { height:1250px; }

.iframewidgetplayer { height:880px; }
 
@media (min-width:755px) and (max-width:920px) {
    .iframewidget { height:730px; }
    
}

@media (min-width:830px) and (max-width:920px) {
    /*.iframewidgetplayer {height: 520px; }*/
}


#stats {position: absolute; bottom: 0; left: 0; width: 0; height: 0;}

.blogwrapper {
    padding: 20px;
}

.blogs_sec .mrec {
    width: 300px; /*height: 250px; background: #000;*/ display: block; clear: both; margin: 25px auto 0;
}
.leftColumnWrapper {
    float: left;
    width: 100%;
    margin-right: -340px;
}
.leftColumn {
    margin: 0 340px 0 0;
}
.rightColumn {
    width: 340px;
    float: left;
}

.sec.blogs_sec {
    padding: 20px;
}
.secname.blogs_secname {
    left: -10px;
}
.blogs_cat {
    margin: 15px;
    padding-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
    color: #666;
    border-bottom: 1px solid #0066cc;
}
.blogs_cat_list {
    padding: 0;
}
.blogs_cat_list li {
    float: left;
    width: 33.334%;
    padding: 10px;
}
.blogs_cat_list li img {
    width: 100%;
    display: block;
    border: 1px solid #dadada;
}
@media (max-width: 920px) {
    .blogs_cat_list li {
        width: 50%;
    }
}
@media (max-width: 768px) {
   
    .leftColumnWrapper {
        float: none;
        width: 100%;
        margin-right: 0;
    }
    .leftColumn {
        margin: 0;
    }
    .rightColumn {
        width: 320px;
        margin: 0 auto;
        float: none;
        display: block;
        //background: blueviolet;
    }

}
@media (max-width: 640px) {
    .blogwrapper {
        padding: 10px;
    }

    .sec.blogs_sec {
        padding: 20px 5px;
    }
    
    .blogs_cat_list li {
        width: 100%;
    }
}
@media (max-width: 580px) {

}

/* MENU FULLSCREEN */
.fullscreen-menu * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.fullscreen-menu {width: 100%; height: 100%; position: fixed; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(245,245,245,.90); z-index: 1000000; padding: 0; display: none;}
.fullscreen-menu #new_menu_top {position: fixed; background-color: #06c; padding: 0 20px; color: #fff; font-size: 22px; line-height: 60px; width: 100%; height: 60px; border-bottom: 1px solid rgba(255,255,255, .5);}
.fullscreen-menu .menu-close {/*position: fixed; top: 20px; right: 20px;*/ cursor: pointer; float: right; font-size: 30px;}
.fullscreen-menu .menu-close:hover {color: #000;}
.fullscreen-menu .new_menu-bottom {width: 100%; position: fixed; top: 60px; bottom: 0; overflow: auto;}
.fullscreen-menu li {margin: 0; text-align: left; overflow: hidden;}
.fullscreen-menu li a {display: block; color: #0066cc; font-size: 20px; text-transform: uppercase; padding: 20px; text-decoration: none; border-bottom: 1px solid #ccc; white-space: nowrap; width: 100%; text-overflow: clip ellipsis;  overflow: hidden;}
.fullscreen-menu li a:hover {background-color: #06c; color: #fff;}