@charset "utf-8";
/* CSS Document */
* { margin: 0; padding: 0; }
body
{font:12px Arial,Helvetica,sans-serif;text-align:left;word-spacing:0px;color:#222;background:url(../images/bodybg.png) repeat #f5faff;height:100%;-webkit-text-size-adjust:none;}
html {height:100%;-webkit-text-size-adjust:none;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea,span { margin: 0; padding: 0;}
blockquote { padding-left:10px;}
ul li { list-style:none; }
img{ border:none; margin:0px;}
a { color: #222; text-decoration:none; }
a:link { color: #222; text-decoration:none; }
a:visited { color: #222; text-decoration:none; }
a:hover { color:#222; text-decoration:underline; }
a:active { color: #2766D1; }
#at15s.atm{ top:110px;}
#google_translate_element{height:27px; overflow: hidden; position:absolute; top:33px; right:0px;}
.goog-te-gadget-simple{ display:block;}
.clear{ clear:both;}

.con_border{ border:1px solid #D2D2D2;  border-bottom:none;}
.cLeft.detail .con_border{margin-bottom:10px;}
.cLeft.categories .con_border{margin-bottom:10px;}
.tt3 {color:#f39800;}
/*feedback*/
.feedback { width:45px; height:180px; position:fixed; top:50%; left:-10px; z-index:1003;}
.box{position: fixed;width:580px; height:430px; z-index:1005;}
.box_contact { border:5px solid #2a2929; padding:10px; background:#fff; height:400px; text-align:left; position:relative;}
.box_close { text-align:right; height:30px; position:absolute; right:-8px; top:-8px;}
#TB_overlayBG{background-color:#000;position:absolute;z-index:1004;left:0;top:0;display:none;width:100%;height:100%;opacity:0.6;filter: alpha(opacity=60);-moz-opacity: 0.6;}

.header { width:960px; height:118px; margin:0 auto; position:relative; clear:both; overflow:hidden;}
.header_gl { width:960px; height:102px; margin:0 auto; background:url(../images/header_bg2_gl.png) no-repeat #3D4C86; position:relative; clear:both;}
.logo { width:178px; height:48px; top:20px; left:0px; position:absolute;}
.header_login { width:180px; height:30px; top:18px; right:6px; line-height:26px; position:absolute;}
.header_login1 { width:300px; text-align:right; height:30px; top:52px; right:10px; line-height:26px; position:absolute;color:white;}
.header .header_login a { padding-right:20px; color:#fff;}
.header_search { width:361px; height:22px; position:absolute; right:178px; top:34px;border:1px solid #1d4188;}
.header_search_text { border:none; width:326px; height:22px; position:absolute; top:0px; left:0; padding-left: 5px; }
.header_search_btn { width:35px; height:22px; cursor:pointer; position:absolute; right:0; top:0px;background-color:#FFF; background:url(../images/search.png) no-repeat center center #FFF; border:none; border-left:1px solid #1d4188;}
a.tip{ font-weight:400; background:url(../images/downloadtip.png) no-repeat left center; padding-left:20px; float:left; color:#fff;line-height:39px;}
a.sharetip{font-weight:400; background:url(../images/sharetip.png) no-repeat left center; margin-left:20px; padding-left:20px; float:left; height:39px; line-height:40px; color:#fff;}
.systemmark{ background:url(../images/systemmark.png) no-repeat; width:960px; height:39px; position:absolute; left:0px; top:80px;}
.header_filter { position:absolute; width:200px; height:25px; right:10px; bottom:3px; line-height:25px; text-align:right; font-size:13px;}
.header_filter a { color:#fff;}
.header_filter .filter_windows { position:absolute; top:28px; right:-10px; z-index:1001; border:1px solid #CCC; display:none; background:#fff; text-align:left; width:148px; padding:5px; line-height:28px;border-radius:0 0 4px 4px; box-shadow:1px 1px 0 #E5E5E5, 1px 1px 0 #E5E5E5 inset;}
.header_filter .filter_windows  input { margin:0 5px; font-size:13px; vertical-align:middle;}
.header_filter .filter_windows a { margin:0 5px; color:#fff; text-align:center; background:#556EB4; border-radius:3px 3px 3px 3px; border:1px solid #2A3E75; display: inline-block; width:44px; height:18px; line-height:18px; font-size:12px;}
.header_filter .filter_windows a:hover { text-decoration:none; background:#BAC5E6; color:#000;}


.syanav{ height:39px; float:left;}
.syanav li{ height:39px; float:left; padding-left:10px; padding-right:10px;}
.syanav li.cur{ background-color:#3c497a; }
.syanav li a{ line-height:39px; display:block; text-decoration:none; color:#fff; font-weight:bold; width:65px; padding-left:22px; outline:none;}
.syanav li#windows a{ background:url(../images/windows.png) left center no-repeat;}
.syanav li#mac a{ background:url(../images/mac.png) left center no-repeat; }
.syanav li#news a{ background:url(../images/news.png) left center no-repeat; }
.syanav li#games a{ background:url(../images/games.png) left center no-repeat; }
.download_tips{float:right; height:39px; padding-right:20px;}
.ad_google{ border-bottom:1px solid #d2d2d2; padding: 5px; background:#fff; overflow:hidden;}

.indexTop { width:175px; margin:10px 5px 5px 0; float:left;}
.cLeft_container{ float:left; width:780px; margin-top:10px;}
.recommended { width:395px; height:174px; float:left;  border:1px solid #D2D2D2;background:#fff;}
.recommended.mac{ width:175px; margin-bottom:10px;}
.recommended.mac_index{ width:175px; margin-bottom:10px;}
.recommended.mac_edge{ width:175px; margin-bottom:10px;}
.recommended dt { height:30px; line-height:30px; text-indent:15px; background:#e7e7e7; border-bottom:1px solid #d2d2d2;}
.indexTop .recommended dt a { float:right; padding-right:12px; color:#5867ab;_float:none; _padding-left:150px;}
.recommended dd { /*height:22px;*/ padding-left:15px; line-height:22px;}
.recommended dd  img { margin-right:10px; vertical-align:middle;}


#cqemail,#cqsubject,#cqusername { font-size:12px;padding-left:10px;}
#cquestion { font-size:12px;padding-left:110px;padding-top:1px;padding-bottom:1px;height:12px;}
.updateDetector_text ul li {
	background: url("<{#FORE#}>images/cMiddle_text_li.gif") no-repeat scroll 0 5px transparent;
	background-position: 16px;
    padding-left: 34px;
}
.updateDetector_text ul li {
    background: url("<{#FORE#}>images/cMiddle_text_li.gif") no-repeat scroll 0 5px transparent;
    background-position: 16px;
    padding-left: 34px;
}



.cLeft_top{ width:780px;margin-bottom: 10px;}
.recommended.index{width:386px;  margin-right: 4px;}
.recommended.index dt a{ color: rgb(88, 103, 171); float: right; padding-right: 12px; font-weight:bold;}
.recommended.index.edge{margin-right:0px; float:right;}
.update_software{ text-align: center; background-color: white; border:1px solid #d2d2d2; height: 100px; width: 778px; overflow:hidden; }

.share { width:160px; position:relative; height:72px; padding-top:10px; background:url(../images/share_bg.png) no-repeat;}
.share_index {background: url("");background-color: #fff; height:265px; padding-top:0px; margin-right: 5px; border: 1px solid #D2D2D2; width: 147px; }
.share_index.responsive{ width: 175px; height:auto;  margin-right:0; margin-bottom:10px; border:none; border-bottom:1px solid #D2D2D2;;}
.share_index.responsive li{ padding-left:15px; height:26px; line-height:26px; /*width:175px;*/ padding-top:5px; border:1px solid #D2D2D2; border-top:none;border-bottom:none;}
.share_index.responsive li.share_til{height:30px; padding-top:0; line-height:30px; font-weight:bold; background:#e7e7e7; margin-left:0; border:1px solid #D2D2D2; }

.share_download {font-size:13px; height:90px; font-weight:bold; line-height:18px;}
.share_download a { color:#5867ab; text-decoration:underline;}
.share_download b a { color:#21A30D; font-size:14px;}
.share li { overflow:hidden; padding:5px 15px; }
.addthis_button_facebook_like {/* width:84px; */overflow:hidden; float:left;}
.addthis_button_google_plusone { width:74px; overflow:hidden; float:left;}
.addthis_toolbox {width:110px; float:left;}
.add_rss { width:30px; float:left; padding-top:3px;}

.location { width:960px; margin:0 auto; text-indent:10px; clear:both; height:30px; line-height:30px; clear:both;}
.location a { color:#5867AB;}
.location .updatedetector_div { position:absolute; top:0; right:0;}
.location .left { width:700px; float:left;}
.location .left.responsive { width:auto; float:left;}
.location .right_responsive {width:auto;  float:right; text-indent:0;}
.location .right {width:100px; float:right; z-index:1000; position:relative; text-align:right; padding-right:10px; }
.location .right a { color:#5867AB; font-size:14px; font-weight:bold; text-decoration:underline;}

.container { width:960px; margin:0 auto; overflow:hidden; clear:both;}
/*cLeft*/
.cLeft { width:175px;}
.cLeft.detail{ float:left;}
.cLeft.categories{ float:left;}
.cLeft.categories_detail{ float:left; width:176px; margin-right:1px;}
.cLeft.categories_detail .con_border{ margin-bottom:10px;}
.categories dt { height:30px; line-height:30px; text-indent:15px; font-weight:bold; background:#e7e7e7; border-bottom:1px solid #D2D2D2; }
.categories dd { height:28px; cursor:pointer; line-height:28px; border-bottom:1px solid #d2d2d2; background:#fff; position:relative; text-indent:15px;}
.categories .hover { background:url(../images/categories_dd_hover_bg.png) no-repeat; width:175px; height:28px;}
.categories .hover a {color:#fff;}
.categories .categories_footer { height:27px; overflow:hidden;}
.categories_footer .hover { background:url(../images/categories_dd_hover_bg.png) no-repeat; width:175px; height:28px; color:#fff;}

.categories a { padding:3px 15px 3px 0;}

.second-menu { position:absolute; left:175px; top:0; width:225px; overflow:hidden; background:#fff; border-bottom:1px solid #d2d2d2; line-height:28px; z-index:1000; display:none; text-indent:0; }
.second-menu li {  border:1px solid #d2d2d2; border-bottom:none; width:223px; height:28px; line-height:28px;}
.categories .second-menu a { color:#222; padding:0; padding-left:15px; width:208px; height:28px; overflow:hidden; display:block;} 
.categories .second-menu a:hover { background:#5564aa; color:#fff; }

.popular { overflow:hidden; }
.popular dt { height:31px; background:#E7E7E7; border-bottom:1px solid #d2d2d2; line-height:31px; text-indent:15px; font-weight:bold;}
.popular dd { padding-right:2px; padding-left:15px; height:28px; border-bottom:1px solid #d2d2d2; background:#fff; line-height:28px;white-space:nowrap; overflow:hidden; -o-text-overflow:ellipsis; text-overflow:ellipsis; }
.popular dd a { width:150px; height:28px; }
.related { overflow:hidden; }
.related dt {height:31px; background:#E7E7E7; border-bottom:1px solid #d2d2d2; line-height:31px; text-indent:15px; font-weight:bold;}
.related .dd1 {background:#fff;}
.related .dd2 {background:#f0f0f0;}
.related dd { height:27px; line-height:27px;  border-bottom:1px solid #d2d2d2; text-indent:15px; background:#fff;white-space:nowrap; overflow:hidden; -o-text-overflow:ellipsis; text-overflow:ellipsis; }
.related dd a { width:150px; height:28px; }

.quickspecs { background:url(../images/quickspecs.png)  no-repeat; height:40px;color:#666666; font-size:15px; line-height:40px;}
.quickspecs_btn { position:absolute; top:65px; right:320px; width:207px; height:60px;}

.cMiddle { width:612px; float:left; margin-left:5px; overflow:hidden; background:#FFF; border-bottom:1px solid #d2d2d2; }
.cMiddle_footer { width:612px; height:4px;}
.kingsofpic{float: left; margin-right: 10px; width: 199px; height: 96px;}
.cMiddle_title { /*height:72px;*/ padding-top:15px; padding-left:15px; overflow:hidden; }
.cMiddle_title img { width:72px; height:72px; float:left; margin-right:15px; width:32px; height:32px; margin-bottom:20px; margin-top:20px;}
.Pro_detail{ float:left; }
.cMiddle_title h1 {height:40px; color:#222; line-height:50px; font-weight:normal; font-size:20px;}
.cMiddle_title h2 { /*height:28px;*/ font-size:14px; line-height:20px; font-weight:normal;}
.cMiddle_download { overflow:hidden; margin:10px 0; line-height:25px; float:left; min-height:280px; margin-right:10px;width:242px;}
.cMiddle_download p { padding:0 10px; }
.cMiddle_download a { color:#5867ab;}
.cMiddle_download_btn { width:207px; height:60px;}
.cMiddle_download_btn.mac{ margin-left:10px;}
.cMiddle_download_btn a {color: rgb(255, 255, 255); font-size: 18px;background: url(../images/button.png) no-repeat;  width: 180px; height: 50px; padding-left: 15px; line-height:50px; display:block;}
.cMiddle_download_btn a:hover {text-decoration:none;}
.cMiddle_download_btn .download_now {width: 195px; height: 50px;}
/*.cMiddle_download_btn .download_now_search {width: 207px; height: 60px;}*/
.download_now_search a {color: rgb(255, 255, 255); font-size: 18px;background: url(../images/button.png) 0px 0px no-repeat; width: 180px; height: 50px; padding-left: 15px; display:block; line-height:50px;}
.cMiddle_download_btn_update { height:60px;}
.cMiddle_download_btn_update a {color: rgb(120, 54, 36); font-size: 13px; font-weight: bold; background: url("../images/cMiddle_download_btn2.png") no-repeat scroll 0 0 / 155px 50px transparent; display:block; height: 35px; width: 147px; text-align: left; padding-top: 13px; padding-left: 8px;}
.cMiddle_download_btn_update a:hover {text-decoration:none;}
.cMiddle_ads { width:336px; float:left; height:280px;}
.cMiddle_text { padding:0 12px; clear:both; overflow:hidden; font-size:13px; margin-top:10px;}
.cMiddle_text ul { width:558px; margin:0 auto;}
.cMiddle_text ul li{ padding-left:20px; background:url(../images/cMiddle_text_li.gif) 0 2px no-repeat;}
.cMiddle_text p { padding-bottom:12px; line-height:18px; text-align:justify;}
.cMiddle_text2 {/*width:640px;*/ padding:12px; clear:both; overflow:hidden; font-size:13px;}
.cMiddle_text2 ul { width:378px; margin:0 auto; float:left;}
.cMiddle_text2 ul li{ padding-left:20px; background:url(../images/cMiddle_text_li.gif) 0 2px no-repeat;}
.cMiddle_text2 p { padding-bottom:12px; line-height:18px; text-align:justify;}
.CMiddle_os { overflow:hidden; line-height:19px; padding:3px 0;}
.CMiddle_os_left { float:left;text-indent:10px; width:32px;}
.CMiddle_os_right { float:left;/* width:220px;*/ padding-left:2px; word-wrap:break-word;/* word-break:keep-all;*/}
.kingsoftoffice{float: left; margin-right: 10px; width: 199px; height: 96px;}
.am { width:141px; height:32px; background:url(../images/add_btn.png) no-repeat; border:0; color:#222; padding-left:20px; cursor:pointer;}

#toolbar_3rd_party_tip{ border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; border: 0px solid #000000; display: none; z-index: 9997; position: absolute; color: white; padding: 10px; background-color: #3E4D88; line-height: 1.4;}

.comment { background:#f2f3f9; overflow:hidden; margin:10px 12px 0; }
.comment.update_detector{width:675px; margin:0 auto;}
.commentTop { height:5px; background:url(../images/commentTop.png) no-repeat; overflow:hidden;}
.commentTitle { margin:0 auto; line-height:24px; overflow:hidden;}
.commentTitle_left { width:250px; float:left; text-indent:10px;}
.commentTitle_right {float:right; width:480px; text-align:right; padding-right:10px;}
.commentTitle_right a { padding:0 4px;}
.copyUrl { height:22px; width:510px;}
.commentText_top { height:3px; width:566px; margin:0 auto; background:url(../images/comment_text1.png); overflow:hidden;}
.commentId { width:559px; margin:0 auto; background:url(../images/comment_text1.png) no-repeat #f0f5ff top; padding-top:3px; line-height:25px; padding-left:7px;}
.commentId span {padding:0 12px;}
.commentText { width:526px; margin:0 auto; padding:10px 20px; background:url(../images/comment_text2.png) no-repeat;}
.commentBottom { height:5px; background:url(../images/commentBottom.png) no-repeat; overflow:hidden;}
.commentTable { width:545px; margin:0 auto;padding:10px 0;}
#TR_tcn ,#TR_tcr,#TR_tc,#TR_tcv{ height:1px; line-height:12px; font-size:11px;}
.commentTable img { vertical-align:middle; margin:0 10px;}
.commentTable_text { height:22px; width:200px;}
.commentTable textarea { width:355px; height:100px;}

#dsq-reply .dsq-textarea-reply { margin-left:55px;}
#dsq-comments .dsq-comment-header { margin-left:10px;}



.cRight_search{ width:160px; float:right;}

.cRight { width:780px;}
.cRight.detail { float:right; width:160px;}
.cRight_download{ float:right; width:337px;}
.cRight_screenshot { padding-bottom:10px; clear:both; background:#fff; overflow:hidden;}
.cRight_screenshot_title { height:34px; text-indent:10px; background:#E7E7E7; border-bottom:1px solid #d2d2d2; line-height:34px; font-weight:bold;}
.cRight_screenshot2 { width:160px; height:300px; margin-top:10px; clear:both; background:url(../images/cRight_screenshot.png) repeat-y; overflow:hidden;}
.cRight_screenshot_title2 { height:30px; text-indent:10px; color:#fff; background:url(../images/cRight_screenshot_title.png) no-repeat; line-height:30px;}
.cRight_screenshot_img li { text-align:center; margin:0 auto; line-height:75px; margin-top:10px; overflow:hidden;list-style:none; width:100px; height:75px; border:1px solid #ccc; padding:5px;}
.cRight_screenshot_img img { max-width:100px; max-height:75px; vertical-align:middle; }
.cRight_footer { overflow:hidden; border-bottom:1px solid #d2d2d2; margin-bottom:10px;}
.cRight_latest_version { /*width:160px; line-height:24px;*/}
.cRight_latest_version dt { text-indent:10px; font-size:14px; padding-top:4px; background:#FFF; }
.cRight_latest_version dd { background:#fff; padding-right:2px; padding-left:10px; font-size:10px; line-height:15px; }
.cRight_latest_version dd a { color:#5867ab;}

.search{ width:794px; float:left;  padding-bottom:20px; overflow:hidden;}
.search_download{width: 614px; float:left;}
.search_title {/* line-height:30px;*/ color:#4757A3; overflow:hidden;font-size:20px; line-height:42px; background:#E7E7E7; border:1px solid #d2d2d2; border-bottom:none; text-indent:24px;}
.tips{line-height:30px; margin-bottom:10px; font-size:14px; text-align:center;}
.search_title_search { background:#fff; height:44px; line-height:48px; color:#4757A3; overflow:hidden; border:1px solid #d2d2d2;}
.search_title_bottom { line-height:38px; color:#4757A3; overflow:hidden; background:#FFF; border:1px solid #d2d2d2; border-top:none;}
.search_title_left { float:left; width:100%; text-indent:40px; font-weight:900; font-size:18px; }
.recommended dd img.lazy{ float:left; width:18px; height:18px; margin-top:2px;}
.indexRight dl dd img.lazy{ float:left; width:18px; height:18px; margin-top:2px;}
.lazyright{ float:left;}
.search_title_left.pro_name { float:left; width:auto; text-indent:40px; font-weight:900; font-size:18px; }
.re_downloadtip{padding-bottom: 20px; padding-left: 40px; color: #949393; margin-top: -3px; border:1px solid #d2d2d2; border-top:none;}
.search_title_left1 { float:left; width:420px; text-indent:24px; font-size:20px;}
.search_title_right { float:right; width:300px; text-align:right; padding-right:10px;}
.search_title_right1 { float:right; width:200px; text-align:right; padding-right:10px;}
.search_title_right a { padding:0 4px; color:#5867ab;}
.search_title_right .nowindex { color:#f39c0a;text-decoration:underline;}
.search_title_right a:hover { color:#f39800;}
.searchTable { width:794px; padding:0 12px; background:#fff; border:1px solid #d2d2d2; overflow:hidden; border-top:none; padding-bottom:20px;}
.searchTable td { border-collapse:collapse;}
.searchTable_pic { width:80px; text-align:center; height:100px;}
.searchTable_pic img { width:32px; height:32px;}
.searchTable_title { width:435px; vertical-align:middle;}
.searchTable_title.drivers{ width:530px;}
.searchTable_pic.drivers{width:0; height:100px;}
.searchTable_title h2 a { font-size:18px; font-weight:normal; line-height:40px; color:#4757A3;}
.searchTable_text { padding:0 15px;padding-bottom:10px;  border-bottom:1px solid #d2d2d2;}
.searchTable_text.sd{ padding-left:5px;}
.searchTable_text2 {padding:0 15px; padding-bottom:10px;}
.searchTable_text2.sd{ padding-left:5px;}
.google_ads{ margin:5px auto; width:746px;}
#contact_question{vertical-align:top; margin-left:48px; font-size:12px; height:245px; width:420px;}
#contact_send_email{ margin-left:17px;}
.qsubject{ margin-left:56px;}
.qusername{margin-left:38px;}
.update_title { width:766px; line-height:30px; color:#000;overflow:hidden; font-size:14px; }
.update_title span { padding:0 24px;}
.updateTable {width:746px; overflow:hidden; margin:10px auto 0; display:table;}
.updateTable_tr {background:url(../images/searchTable_text.png) repeat-x bottom;}
.updateTable_tr_client {}
.updateTable td { border-collapse:collapse;}
.updateTable td.sep_line{ text-align:center;}
.updateTable td.sep_line img{ width:96%; margin:10px 0;}
.updateTable_pic { width:50px;/* height:90px;*/ vertical-align:top;}
.updateDetector_bg{ padding-bottom:10px;}
.updateTable_pic img { width:32px; height:32px;}
.updateTableTitle { font-size:14px; line-height:30px; height:30px;}
.updateTableTitle td{ color:#fff;}
.updateTable_title a:hover{color:#5867AB;}
.updateTable_title { vertical-align:middle; width:34%; padding-left:26px;}
.occupied{ width:6%; background:#898989;}
.des_brief div{line-height:18px;}
.updateTable_title h2 {font-weight:normal; line-height:30px; color:#5867ab; margin-bottom:10px;}
.updateTable_latest { width:20%; text-align:center;}
.updateTable_status { text-align:center; width:20%;}
.updateCheckerDetected { height:50px; font-size:14px;background:url(../images/searchTable_text.png) repeat-x bottom; vertical-align:bottom;}
a.disable_automatic_check{ color:#fff; line-height:39px;}
.privacy_policy{ color:grey; line-height: 25px; padding:50px 25px 20px;background:#fff; border:1px solid #d2d2d2;}
/*.updateDetector_bg { padding:0 22px;}*/
.updateDetector {background:#fff; line-height:25px;}
.updateDetector_cooperation{background:#fff; min-height:500px; padding:0 24px; border-bottom:1px solid #d2d2d2; position:relative; line-height:25px;}
.updateTable_size{ width:10%; text-align:right;}
.disable_automatic_check_for_updates { padding:20px 30px; border:1px solid #ccc; line-height:170%; margin:0 auto; overflow:hidden; background:#fff; padding-bottom:20px;border-radius:3px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;}
.guide_pic.left{ float:left;}
.guide_pic.right{ float:right;}
.updateDetector .updatedetector_div { font-size:14px;}
.updateDetectorSoftware { width:675px; clear:both; overflow:hidden; background:url(../images/updateDetectorSoftware.png) no-repeat; padding:15px 0; margin:0 auto;}
.updateDetector_text{ width:675px; margin:0 auto;}
.updateDetectorSoftware_pic { float:left; width:100px; text-align:center;overflow:hidden; padding-top:20px; margin-right:10px;}
.updateDetectorSoftware_content { width:320px; float:left; overflow:hidden;}
.updateDetectorSoftware_download { width:210px; height:66px; float:left;overflow:hidden;}
.updateDetector_text p  { line-height:18px; padding-bottom:12px; text-align:justify;}
.note { color:#F00;}

#filters {display:none;width:710px;height:520px;position:absolute; z-index:10000;}
.filters_content {height:404px;overflow-y:auto; position:relative;}
.filters_close { width:35px; height:35px; cursor:pointer; position:absolute; right:-20px; top:-20px; z-index:10008;}

.reset_password_Adds { width:350px; float:left; overflow:hidden;}
.reset_password_table { width:400px; float:left; height:220px; padding-top:60px;}
.reset_password_table td { padding:0 10px;}

.screenshots_ads { width:728px; margin:0 auto; overflow:hidden; clear:both; margin-top:10px;}

.mylist {width:796px; padding:0 13px;text-align:center; background:url(../images/searchTable.png) repeat-y; line-height:20px; overflow:hidden; padding-top:10px;}

.mylist_title { background:url(../images/mylist.png) no-repeat; height:30px; color:#fff; }
.mylist_title td { }/*border-right:1px solid #004a87;*/
.mylist_btn { border:none; background:url(../images/mylist-remove.png) no-repeat; color:#7d3c23; margin-left:8px; height:20px; width:60px;}
.mylist_title_1 { max-width:255px; overflow:hidden; width:240px; padding-left:15px;}
.mylist_title_2 { border-left:1px solid #B4C8E6;}
.mylist_l1 td { background:#f0f5ff;border-right:1px solid #b4c8e6;} /**/
.mylist_l2 td { background:#d2e1f5;border-right:1px solid #b4c8e6;} /**/
.mylist_footer {height:10px; background:url(../images/mylist.png) no-repeat 0 -30px;}

/*indexRight*/
.indexRight { width:778px; margin-top:5px;}
.indexRight_left { width:385px; float:left; border:1px solid #d2d2d2;margin-bottom:5px; margin-right:4px;}
.indexRight_right { width:385px; float:right;border:1px solid #d2d2d2;margin-bottom:5px;}
.indexRight dl { width:384px; overflow:hidden;  float:left; background:url(../images/indexRight_bg.png) bottom no-repeat; padding-bottom:0px;  background:#FFF;}
.indexRight dl dt { height:30px; width:384px; cursor:pointer; font-weight:bold; background:url(../images/indexRight_bg_new.png) 10px center no-repeat #e7e7e7; overflow:hidden; line-height:30px; text-indent:23px; border-bottom:1px solid #d2d2d2;}
.container .indexRight dl dt a { float:right; color:#5867ab; padding-right:12px; _float:none; _padding-left:220px;}
.indexRight dl dd { height:22px; width:386px; padding-left:12px; line-height:22px; background:#fff; border:none;}
.indexRight dl dd img { vertical-align:middle; margin-right:10px;}

.loginF{ width:700px; height:512px; margin:0 auto; display:none; text-align:left;}
.loginF_top { height:132px; background:url(../images/loginf_top.png) no-repeat; width:700px; position:relative;}
.loginF_close { position:absolute; width:20px; font-weight:bold; height:20px; right:13px; top:13px; cursor:pointer;}
#loginF_title { position:absolute; right:100px; top:65px; width:400px; height:20px; font-size:18px; color:#f3f8fc; text-align:right; font-style:oblique;}
.loginF_body { width:652px; padding:0 30px; padding-bottom:15px; overflow:hidden; background:url(../images/loginf_bg.png) repeat-y;}
.welcome { color:#f39800; font-size:16px; font-weight:bold; font-style:oblique; padding-left:10px;  line-height:20px;}
#register,#login { display:none; line-height:240%;}
#password_assistance { line-height:120%;}
#password_assistance p { padding:0 0 15px 10px; width:570px; text-align:justify;}
.cl { margin-top:10px; padding:3px 8px;}
#ffname,#ffemail,#ffpassword,#ffpassword2,#ffvode, #attention_e, #attention,#cffemail,#ffnewpassword, #ffconfrimpassword { font-size:11px; line-height:110%;}
#xx,#yy,#zz,#mm,#ll,#kk,#fp { width:170px;}
.registerTable { border:1px solid #CCC; width:100%; vertical-align:top;}
.registerTable tr td  { padding:0 10px;}
.loginTable {width:100%;}
.loginTable tr td { padding:0 10px;}
.loginF_footer {width:700px; height:48px; color:#fff; text-align:center; line-height:60px; background:url(../images/loginf_footer.png) no-repeat;}

.facebookBtn { width:140px; height:29px; border:none; background:url(../images/facebookBtn.png) no-repeat;cursor:pointer;}
/* contact */
.contact { line-height:240%;}
.contact p { text-indent:10px;}
.contact_title { line-height:28px; border-bottom:1px solid #ccc; font-size:16px; color:#F39800;}
.contact_resultTable { border-collapse:collapse; margin-left:30px;}
.contact_resultTable td { border:1px dotted #cccccc; line-height:30px; padding:0 15px;}
#cqemail,#cqsubject,#cqusername,#cquestion { padding-left:106px; margin-bottom:7px; line-height:100%; color:#F00;}
.terms p { line-height:24px; padding-bottom:15px; padding-left:12px;}
.aboutus {width:898px; padding:20px 30px; border:1px solid #ccc; line-height:170%; margin:0 auto; overflow:hidden; background:#fff; padding-bottom:20px;}
.aboutus h1 { font-size:20px; font-weight:bold; color:#aaaaaa; line-height:30px; margin-bottom:10px;}
.aboutus h2 { font-size:16px; color:#000; font-weight:bold; line-height:28px; margin:10px 0;}
.aboutus p { line-height:24px; font-size:14px;}
.aboutus .aboutus_li { background:url(../images/d.jpg) no-repeat -5px 3px; padding-left:25px;}
.aboutus a { text-decoration:underline; color:#5867AB; font-size:14px; font-weight:bold;}
 
/* 位于底部 */
#main {padding-bottom:20px; width:100%;}
body:before {content:"";height:100%;float:left;width:0;margin-top:-32767px;}
/*footer*/

.footer { width:960px; height:50px;line-height:18px; margin:0 auto; background:#e3e3e3; margin-bottom:32px;}
.copyright { width:250px; height:18px; float:left; margin:16px 0; color:#878787; margin-left:10px;}
.foot_right{ float:right; margin:14px 0; margin-right:10px;}
.footerNav { height:18px; text-align:right; float:right; line-height:22px;}
.footer .footerNav a { color:#878787; padding-right:13px;}
.gather{ height:32px; position:fixed; right:0;  bottom:0; text-decoration:none; color:#fff; }
.key{background:url(../images/feedback_bg.jpg) no-repeat center center; width:202px; height:32px;}
/*#uvTab{ background:url(../images/feedback_bg.jpg) no-repeat center center;}*/
.addcollectTips { padding:5px 0; height:21px; width:958px; border:1px solid #F8E4BD; line-height:21px; background-color:#F9EDBE; margin:0 0 5px; position:relative;}
.addcollectTips p { position:absolute; top:3px; right:8px; width:24px; height:24px; cursor:pointer; background:url(../images/inclose.png) no-repeat; text-indent:-10000px;}
.addcollectTips p:hover { background:url(../images/inclose.png) no-repeat 0 0;}
.addcollectTips div { padding:0 15px;}
.addcollectTips a { margin:0 0 0 15px; color:#000; display:table; position:absolute; top:1px; text-align:center; right:280px; width:72px; height:28px; background:url(../images/BtnGreen.png) no-repeat;}
.addcollectTips a:hover { text-decoration:none;}
.addcollectTips a b { line-height:25px; color:#fff;}


.elexDialogTips { width:350px; height:30px; padding:20px 15px 30px; line-height:30px; color:#555;}
.elexDialogTips b { color:#c00;}

.dialog-overlay { opacity:0.5; filter:alpha(opacity:50); background:gray; }
.dialog { background:rgba(82, 82, 82, 0.7) !important; background:rgb(82, 82, 82); padding:10px; border-radius:3px; -moz-border-radius:3px;-webkit-border-radius:3px; _width:expression('200px');}
.dialog .dialog_title { cursor:move; background-color:#6D84B4; color:#fff;height:30px; border:1px solid #3B5998; border-bottom:0; padding:0 5px 0 10px; display:block;}
.dialog .dialog_title h3 { float:left; height:30px; font:bold 14px/30px Tahoma;  }
.dialog .dialog_title .dialog_close { float:right; text-transform:uppercase; color:#fff; cursor:pointer; line-height:30px; }
.dialog .dialog_title .dialog_close:hover { text-decoration:none;}
.dialog .dialog_content { background:#fff; padding:0; border:#555 1px solid; border-top:none; border-bottom:none; min-width:430px; }

.dialog .dialog_content iframe { height:100%; width:100%; }
.dialog .dialog_content img { overflow:auto; max-width:700px; max-height:500px; _width:expression((document.body.clientWidth > 700) ? '700px' : 'auto'); _height:expression((document.body.clientHeight > 500) ? '500px' : 'auto');}
.dialog .dialog_button { padding:10px 5px 10px 10px; background-color:#F2F2F2;  text-align:right; border:#555 1px solid; border-top:1px solid #ccc;  }
.dialog .dialog_button a, .dialog .dialog_button b{display:inline-block; vertical-align:middle; color:#333; cursor:pointer; }
.dialog .dialog_button a { margin:0 0 0 15px; padding:0; border-width:1px; border-style:solid; noFocusLine:expression(this.onfocus=this.blur()); outline:none; -moz-outline-style:none; -webkit-outline-style:none; }
.dialog .dialog_button a:hover { text-decoration:none; }
.dialog .dialog_button a b { padding:0px 15px;  border-color:#fff; border-style: solid; border-width: 1px 0 0 1px; font-size:14px; line-height:24px; }
.dialog .dialog_button a.blue { background-color:#5872a7; border-color:#29447E #29447E #1A356E; }
.dialog .dialog_button a.blue b { color:#fff; }
.contact_way{ height:22px; float:left; }    
.contact_way a{ padding-right:0px;height:22px; width:22px; margin-right:3px; float:left;}
a.con_facebook{ background:url(../images/facebook.png) no-repeat; }
a.con_twitter{ background:url(../images/twitter.png) no-repeat;}
a.con_wifi{ background:url(../images/wifi.png) no-repeat;}