@media screen and (max-width: 960px){
	.header{ height:174px; width:100%}
	.location{ width:98%; padding:0 1%; text-indent:0;}
	.location .left{ width:auto;}
	.syanav{ float:none;}
	.download_tips{ float:none; width:98%; padding:0 1%;}
	a.disable_automatic_check{ color:rgb(34, 34, 34);}
	a.tip{ color:#000; background:url(../images/downloadtip_b.png) no-repeat left center;}
	a.sharetip{ color:#000; background:url(../images/sharetip_b.png) no-repeat left center;}
	.logo{ margin-left:1%}
	.header_search{ left:0px; top:75px; margin-left:1%; right:auto;}
	#google_translate_element{ top:75px; right:0; margin-right:1%;}
	.systemmark{ top:108px; width:100%;}
	#uvTabLabel{ display:none;}
	.share_index{ margin-right:1%;}
	.share_index.responsive{ width:100%;}
	.share_index.responsive li{ width:auto;}
	.share_index.responsive li.share_til{ width:auto;}
	.cLeft_top{ width:100%;}
	.recommended.index{ width:49%; margin-right:1%;}
	.recommended.index.edge{ width:49%}
	.container{ width:98%; margin:0 1%;}
	.indexTop{ width:22%;margin-right:1%;}	
	.cLeft_container{ width:77%;}
	.cLeft{ width:100%; }
	.cRight{ width:100%;}
	.categories{ width:100%;}
	.categories dt, .categories dd{ width:auto;}
	.indexRight{ width:100%;}
	.indexRight_left{ width:49%; margin-right:1%;}
	.indexRight_right{ width:49%;}
	.indexRight dl{ width:100%;}
	.indexRight dl dt{ width:100%;}
	.indexRight dl dd{ width:100%;}
	.search{ width:74%;}
	.searchTable{ width:100%;}
	.search_title_left{ width:auto; padding:0 20px; text-indent:0; padding-left:2%;}
	.search_title_left.pro_name{ text-indent:0px;}
	.searchTable_pic{ text-align:left; width:45px;}
	.searchTable_text{ padding:0 0 10px;}	
	.searchTable_text.sd{ padding:0 0 10px 5px;}
	.re_downloadtip{ padding-left:2%;}
	.search_title_right{ width:auto; }
	.cRight_search{ width:25%;}
	.cRight_latest_version dd{ width:auto;}
	/*.cLeft.detail{ width:100%;}*/
	.update_software{ display:none;}
	.cLeft.categories{ width:100%;}
	.cLeft.categories_detail{ width:20%; margin-right:0;}
	.cLeft.detail{ width:20%;}
	.cMiddle{ width:60%; margin-right:1%; margin-left:1%;}
	.cRight.detail{ width:18%;}
	.related{ width:100%;}
	.popular{ width:100%;}
	img{
		max-width: 100%; 
		height: auto; 
		width: auto\9;
	}
	.footer{ width:98%; padding:0 1%;}
	.copyright{ margin-left:0;}
	.foot_right{ margin-right:0;}
	.gather{ right:1%;}
	.comment{ width:auto;}
	.comment.update_detector{ width:auto;}
	.commentTable{ width:auto;}
	.cMiddle_ads{ display:none;}
	.cMiddle_download{ width:auto;}
	.cMiddle_download{ margin-bottom:20px;}
	.con_left{ width:100%;}
	.intro_box{ width:100%;}
	.top_wrap{ display:none;}
	.search_download{ width:100%}
	.cRight_download{ display:none;}
	.updateDetectorSoftware{ background:#d1e1fa; width:auto; clear:both;}
	.updateDetector_text{ width:auto;}
	.updateDetector { width:96%; margin:0 auto;}
	.updateDetector.software_update_results{ width:100%;}
	.updateDetectorSoftware_download{ float:none; margin-left:26px;}
	.updateDetectorSoftware_content{ width:auto; float:none;}
	.google_ads{ display:none;}
	.ad1{ display:none;}
	.updateTable{ width:auto; margin:1%; margin-bottom:0;}
	.privacy_policy{padding:1%;}
	.disable_automatic_check_for_updates{ padding:2%;}
	.guide_pic{ width:49%;}
	.guide_pic img{ width:100%;}
	.quickspecs_btn{ position:static; margin-top:5px;}
	.cMiddle_text ul{ width:auto;}
	.aboutus{ width:auto;}
	.cMiddle_text2 ul{ width:78%;}
	.kingsofpic{ width:20%; height:auto;}
}
@media screen and (max-width: 768px){
	.cRight.detail{ display:none;}
	.cMiddle{ margin-right:0; width:74%;} 
	.cLeft.detail{ width:25%;}
	.cLeft.categories_detail{ width:25%;}	
	.cMiddle_download_btn.cooperation{ margin-left:0px;}
}
@media screen and (max-width: 736px){
	.indexTop{ float:right; margin-right:0; width:25%;}
	.cLeft_container{ width:74%; margin-right:1%;}
	.cLeft_top{ width:100%;}
	.recommended.index{ float:none; width:auto; margin-bottom:10px; margin-right:0;}
	.recommended.index.edge{ float:none; width:auto;}
	.indexRight_left{ float:none; width:auto; margin-right:0; margin-bottom:10px;}
	.indexRight_right{ width:auto; float:none; margin-bottom:10px;}
	.indexRight dl{ float:none;}
	.share_index.responsive{ width:auto;}
	.share_index.responsive li.share_til{ width:auto;}
	.cLeft{ width:auto;}
	.categories{ width:auto;}
	.categories dt, .categories dd{ width:auto;}
	.footer{ height:auto;}
	.copyright{ float:none; margin:0 auto; padding:10px 0;}
	.foot_right{ float:none; margin:0 auto; padding:10px 0; width:444px;}
	.photo_box{ height:auto;}
	#imgslide{ height:auto;}
	#imgslide img{ width:95%;}
	.location{ height:auto; margin-bottom:10px;}
	.location .left.responsive{ float:none; line-height:18px;}
	.location .right_responsive{ float:none;}
}
@media screen and (max-width: 667px){
	.search{ width:100%;}
	.cRight_search{ display:none;}
	.cLeft.detail{ display:none;}
	.cLeft.categories_detail{ display:none;}
	.cMiddle{ margin-left:0; width:100%;} 
	.updateDetector_cooperation{ padding:0 2%;}
	.search_title{ text-indent:2%;}	
}
@media screen and (max-width: 600px){
	.kingsoftoffice{float:right; margin-right:0; margin-left:10px; width:40%; height:auto;}
}
@media screen and (max-width: 568px){
	.header{ height:220px;}
	.cLeft_container{ width:100%;}
	.indexTop{ display:none;}
	a.tip{ float:none; display:block; height:24px; line-height:18px;}
	a.sharetip{ float:none; display:block; margin-left:0; height:24px; line-height:24px;}	
	#google_translate_element { left:0; margin-left:1%; top:106px;}
	.systemmark{ top:138px;}
	.foot_right{ float:none; width:auto;}
	.contact_way{ display:none;}
	.footerNav{ float:none; margin:o auto; text-align:center;}
	.download_now_search a{ font-size:16px; width:135px; border-radius:5px;}
	.searchTable_title h2 a{ font-size:16px; line-height:20px;}
	.cMiddle_download_btn{ width:auto;}
	.search_title_left.pro_name{ font-size:14px; height:auto;}
	.occupied,.updateTable_pic{ display:none;}
	.updateTable_title{ width:40%;}
	.updateTable_latest{ width:30%;}
	.guide_pic{ width:100%; float:none;}
	.guide_pic.left{float:none;}
	.guide_pic.right{float:none;}
	.guide_pic img{ width:100%; margin:2% auto; display:block;}
	.quickspecs_btn{ position:static;}
	#contact_question{ display:block; margin-left:15px; width:90%;}
	.kingsofpic{float:none; display:block; margin-bottom:10px;}
	.kingsofpic{ width:auto;}
	.cMiddle_text2 ul{ width:100%;}
} 
@media screen and (max-width: 414px){
	.header{ height:244px;}
	a.tip{ height:auto;}
	.search_title_search{ height:auto; line-height:32px;}
	.search_title_right.top{ padding-right:2%; padding-left:2%;}
	.cMiddle_download_btn.searchcategory{ margin-left:0;}
	.searchTable{ padding:0 2% 20px;}
}
@media screen and (max-width: 384px){	
	.products_right_ver{ display:block;}
	.products_right{ display:none;}
	.products_left{ padding:2% 2% 0; width:96%;}
	.downloads_table td, .downloads_table th{ font-size:12px;}
	.downloads_table a{ font-size:12px;}
	.money_back_guran{ padding:3% 0;}
	.download_layer{ width:90%; left:5%;}
	#download_layer_wrap{ padding:1%;}
	.release_andorid_part{ padding:28px 1%}
	.header_search{ width:320px;}
	.header_search_text{ width:280px;}
	.searchTable td{ display:block;}
	.searchTable_pic{ float:left; width:46px; height:42px; margin-top:10px;}
	.searchTable_title{ width:auto; margin-top:10px;}
	.search_download_btn{ clear:both;}
	/*.searchTable_text{ width:100%;}*/
	.cMiddle_title img{ display:none;}
	.cMiddle_title h1{ font-size:12px; font-weight:bold;}
	.cMiddle_title h2{ font-size:12px;}
	.search_title_left{ font-size:16px; font-weight:bold;}
	.searchTable td.searchTable_pic{ display:none;}
	.searchTable_text2{ padding:0 0 10px;}
	.updateTable_title{ width:45%; padding-left:5px;}
	.updateTable_latest{ width:20%;}
	.updateTable_size{ width:10%;}
	.updateTable_status { text-align:center; width:20%;}
	.cMiddle_download_btn_new_update a img{ width:60%;}	
	.updateTable td{ font-size:10px;}
	.updateTable_title h2{ font-size:14px;}
	.updateTableTitle td,.updateTableTitle{ font-size:12px;}	
	.search_title_right{ text-align:left;}
	.cMiddle_download_btn.searchcategory{ padding-left:0;}
	.searchTable_text.sd{ padding-left:0px;}
	.search_title{ font-size:16px;}
	.updateDetectorSoftware_pic{ display:none;}
	.updateDetectorSoftware_download{ margin-left:2%;}
	.updateDetectorSoftware_content{ margin-left:2%;}
	.aboutus{ padding:4%;}
}

@media screen and (max-width: 320px){
	.header_search{ width:240px;}
	.header_search_text{ width:200px;}
	.copyright{font-size:10px; width:auto; text-align:center;}
	.footer .footerNav a{ font-size:10px; padding-right:6px;}	
	.contact p{ margin-bottom:10px;}
}

@media screen and (max-width: 240px){
	.header_search{ width:200px;}
	.header_search_text{ width:160px;}
	.recommended.index{ height:auto; padding-bottom:10px;}
	.recommended.index dd{ padding-left:5px; font-size:10px; /*height:auto;*/}
	.recommended.index.edge{ height:auto; padding-bottom:10px;}
	.recommended.index.edge dd{ padding-left:5px;  font-size:10px; height:auto;}
	.indexRight_left dl{ padding-bottom:10px;}
	.indexRight_right dl{ padding-bottom:10px;}
	.indexRight dl dd{ padding-left:5px; font-size:10px; height:auto;}
	.indexRight dl dt{  font-size:10px; height:auto; background:none; text-indent:15px;}
	.recommended dt{ font-size:10px;}	
	.updateDetectorSoftware_content{ margin-left:6px;}
	.updateDetectorSoftware_download{ margin-left:6px; width:auto;}
	.CMiddle_os_right.mac{ padding-left:10px;}
	.recommended dd img.lazy{ margin-right:2%; width:10%; height:auto;}
	.indexRight dl dd img.lazy{ margin-right:2%; width:10%; height:auto;}
	.lazyright{ width:88%;}
	.search_title{ font-size:13px;}
	.tips{ font-size:12px;}
	.qusername,.qsubject{ margin-left:17px;}
	
}
