body, html {
    color: #12313A;
}
p {
    font-size: 14px;
}
.navbar-brand > img {
    display: block;
    width: 26%;
}
.portfolio-item .hover-bg {
    height: 135px;
}
#menu.navbar-default .navbar-nav > li > a.signup {
    line-height: 12px;
    padding: 14px 22px 12px 22px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    text-transform: uppercase;
    color:#f3ca27;
    border: 1px solid #f3ca27;
    border-radius: 30px;
}
#menu.navbar-default .navbar-nav > li > a.signup:hover {
    color: #fff!important;
    background:#f3ca27;
}
.hover-bg .hover-text {
	padding: 17% 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:#f3ca27 !important;
}
.color {
    color:#f3ca27;
}
#stats-section {
    padding: 80px 0 100px 0;
    color: #5b777f;
}
#whoweare-section {
    padding: 80px 0;
    background: rgb(193,166,24);
    background: -moz-linear-gradient(top, rgba(193,166,24,1) 0%, rgba(241,196,15,1) 25%, rgba(241,196,15,1) 75%, rgba(193,166,24,1) 100%);
    background: -webkit-linear-gradient(top, rgba(193,166,24,1) 0%, rgba(241,196,15,1) 25%, rgba(241,196,15,1) 75%, rgba(193,166,24,1) 100%);
    background: linear-gradient(to bottom, rgba(193,166,24,1) 0%, rgba(241,196,15,1) 25%, rgba(241,196,15,1) 75%, rgba(193,166,24,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1a618', endColorstr='#c1a618', GradientType=0 );
}


#whoweare-section p {
	font-size:17px;
}


.services-section strong span{
	text-transform:lowercase!important;
}
.chart {
    margin: 0 auto;
    position: relative;
    width: 110px;
    height: 110px;
    text-align: center;
}
.chart-content {
    border: 2px #9C9C9C solid;
    border-radius: 50%;
    line-height: 100px;
}
.chart-content span.percent {
    font-size: 35px;
    font-weight: bold;
}
.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
#about-section h4 {

    font-size: 20px;
}
#about-section li {
    margin-bottom: 21px;
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}
#about-section li:before {
    content: "✓";

    float: left;
	border:1px rgb(243, 202, 39) solid;
	text-align:center;
	line-height:35px;
	border-radius:50%;
	width:40px;
	height:40px;
	font-size:20px;
	margin-right:10px;
	padding-left:5px;
	font-weight:bold;
}
#about-section p{
	padding-left:52px;
}


/*#about-section {
    padding: 80px 0 ;
    background: rgb(193,166,24);
    background: -moz-linear-gradient(top, rgba(193,166,24,1) 0%, rgba(241,196,15,1) 25%, rgba(241,196,15,1) 75%, rgba(193,166,24,1) 100%);
    background: -webkit-linear-gradient(top, rgba(193,166,24,1) 0%, rgba(241,196,15,1) 25%, rgba(241,196,15,1) 75%, rgba(193,166,24,1) 100%);
    background: linear-gradient(to bottom, rgba(193,166,24,1) 0%, rgba(241,196,15,1) 25%, rgba(241,196,15,1) 75%, rgba(193,166,24,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1a618', endColorstr='#c1a618', GradientType=0 );
	    color: #12313A;
}
#contact-section {
     padding: 80px 0 20px 0;
    background: rgb(3,39,49);
    background: -moz-linear-gradient(top, rgba(3,39,49,1) 0%, rgba(3,46,58,1) 20%, rgba(3,46,58,1) 100%, rgba(3,39,49,1) 100%);
    background: -webkit-linear-gradient(top, rgba(3,39,49,1) 0%, rgba(3,46,58,1) 20%, rgba(3,46,58,1) 100%, rgba(3,39,49,1) 100%);
    background: linear-gradient(to bottom, rgba(3,39,49,1) 0%, rgba(3,46,58,1) 20%, rgba(3,46,58,1) 100%, rgba(3,39,49,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#032731', endColorstr='#032731', GradientType=0 );
    color: #5b777f;
}

#contact-section .btn {
    border: 2px solid #125061;
    color: #75BBD0;
    float: none;
    width: auto;
    height: auto;
}
#contact-section .btn:hover, #contact-section .btn:focus {
    background: #f3ca27;
    border: 2px solid #fef9e7;
    color: #FFFFFF;
}*/
button {
    width: auto;
    height: auto;
    float: none;
}

#testimonial {
    padding:0;
}
#contact-section h3 {
    margin-top: -31px;
}

/* phone box */
#phonebox {
    float: left;
    width: 400px;
	height:400px;
    border: 1px solid #587C86;
    text-align: center;
	border-radius:50%;
	margin-left:75px;
}
.border-radius-4 {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#phonebox .phone-icon {
    padding: 30px;
	    padding-top: 77px;
}
#phonebox .heading {
    margin-bottom: 10px;
    font-size: 24px;
}
#phonebox .blurb {
    margin-bottom: 30px;
    line-height: 1.2em;
}
#phonebox .spark-phone {
    margin-bottom: 0px;
    font-size: 36px;
    color: #f3ca27;
}

#contactForm ul{
	padding:0;
}
#contactForm ul li{
	font-weight:normal;
}

/* popup */

.ui-widget-content {
    width: 500px!important;
}

@media (min-width: 992px){
#services-section .col-md-3 {
    width: 20%;
}

}

@media (max-width: 768px){
.img-responsive{

	margin:0 auto;
	width:100%;
}
.popup input[type="text"], .popup input[type="password"] {
    padding: 9px 10px!important;
	    margin-bottom: 0px!important;
}
.popup label {
    line-height: 23px!important;

}

}
@media (max-width: 480px){

#menu {
    padding: 10px 20px;
}
#works-section .col-xs-6{width:100%;}
.portfolio-item .hover-bg {
    height: auto;
}
.navbar-brand {
    width: 70%;
	
	    padding: 10px 15px;
}
.navbar-brand > img {
    display: block;
    width: 47%;
}
.intro-text {
    position: relative;
    padding-top: 131px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 100px;
}
.intro-text H1 {
    font-size: 53px;
}
.popup{
	overflow-y: scroll;
	position:absolute!important;
}
.popup .error {
    margin-top: 0px!important;
}
.popup p, .popup div {
    margin-bottom: 0px!important;
}
.close {
    right: 23px!important;
    top: 23px!important;

}
.overlay:target+.popup {
    overflow: auto;
    min-height: 400px;
	    top: 60%!important;
}
}