
/* Similar to Avenir Next  */


/*

@font-face {
  font-family: 'Nunito'; 
  src: url("https://www.google.com/fonts/specimen/Nunito"); 
}
*/

@font-face {
    font-family: 'SourceSansPro';
	src: url('/acs/fragments/lightbox_cancerhome/font/SourceSansPro-Regular.eot'), /* IE9 Compat Modes */
	url('/acs/fragments/lightbox_cancerhome/font/SourceSansPro-Regular.ttf') format('truetype'),
	url('/acs/fragments/lightbox_cancerhome/font/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('/acs/fragments/lightbox_cancerhome/font/SourceSansPro-Regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('/acs/fragments/lightbox_cancerhome/font/SourceSansPro-Regular.woff') format('woff'), /* Pretty Modern Browsers */
	url('/acs/fragments/lightbox_cancerhome/font/SourceSansPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('/acs/fragments/lightbox_cancerhome/font/SourceSansPro-Regular.svg#svgFontName') format('svg');
}

@font-face {
    font-family: SourceSansProBold;
	src: url('/acs/fragments/lightbox_cancerhome/font/SourceSansPro-Bold.eot'), /* IE9 Compat Modes */
	url('/acs/fragments/lightbox_cancerhome/font/SourceSansPro-Bold.ttf') format('truetype'),
	url('/acs/fragments/lightbox_cancerhome/font/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/acs/fragments/lightbox_cancerhome/font/SourceSansPro-Bold.woff2') format('woff2'), /* Super Modern Browsers */
        url('/acs/fragments/lightbox_cancerhome/font/SourceSansPro-Bold.woff') format('woff'), /* Pretty Modern Browsers */
        url('/acs/fragments/lightbox_cancerhome/font/SourceSansPro-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('/acs/fragments/lightbox_cancerhome/font/SourceSansPro-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}


@font-face {
  font-family: 'Avenir';
     src: url('/acs/fragments/lightbox_cancerhome/font/Avenirnext1.eot'), /* IE9 Compat Modes */
	  url('/acs/fragments/lightbox_cancerhome/font/AvenirNext-Regular.ttf') format('truetype');
}


/*************************************************************************************************************************/
/******************************************************  First CAMPAIGN  *************************************************/
/*************************************************************************************************************************/

.lbwrapFC
{
	//width: 954px;
	padding-top: 60px;
	position: relative;
	outline : 0 !important;	
	// margin-left: -200px;
	height
}

.lbwrapFC:focus
{
	outline : 0 !important;	
}

/*

#LeftSideDiv
{
	width: 348px; 
	height: 468px;
}

#LeftSideImage
{
	background-image: url(/acs/fragments/lightbox_cancerhome/images/MemorialHeroFatherSon.png);
	background-position: center;
	background-repeat: no-repeat;
	width: 348px; 
	height: 468px;
}

#RightSideDiv
{
	width: 348px; 
	height: 468px;
}
*/ 
	
	
.lbformFC .lbamountlabelother
{
	font-size: 15px;
	line-height: 18px;
	width: auto;
	padding-right: 8px;
}

.lbformFC
{
	width: 815px; 
	/* TODO: ACS - change the image URL below to its final path: */
	// width: 1194px;   /*   */
	background-image: url(/acs/fragments/lightbox_cancerhome/images/GivingTuesday.png);
	//border: 1px solid #002d44;
	background-color: transparent;
	padding-left: 40px;
	background-repeat: no-repeat;
	text-align: left;
	height: 563px;
	z-index: 0;
	position: relative;
	// height: 625px;
	// margin-left: -18px;
	margin-top: 38px;
}


.lbformFC:focus
{
	outline : 0 !important;	
}

.lbContentAreaFC
{
	margin-left: 10px;
	position: relative;
	top: 245px;
	left: 40px;
	//background-color: #555555;
	width: 300px;
}

.lbContentAreaFC:focus
{
	border: 2px solid #a1a1a1;
    	cursor:pointer;
    	background: #951128;
	outline : 0 !important;
}

.lbContentAreaFC:hover
{
	border: 2px solid #951128;
    	cursor:pointer;
    	background: #951128;
	outline : 0 !important;
}

.lbDisplayAreaFC
{
	margin-left: 10px;
	position: relative;
	top: 418px;
	left: 530px;
	//background-color: #444444;
	//width:300px
	outline: 0 !important;
}

.ws_dialog_close_buttonFC
{
	background-color: transparent;
	background-image: url(/acs/fragments/lightbox_cancerhome/images/SummerCampaign2016CloseButton.png);
	position: absolute;
	left: 786px;
	top: 101px;
	width: 27px;
	height: 23px;
	text-indent: -9999px;
	outline: none;
	background-repeat: no-repeat;
	border-bottom: none !important;
}

#closeButtonFC:focus{
	border: 1px solid #fff; 
	left-margin: 2px;
	border-bottom: 1px solid #fff !important;
}

#closeButtonFC:focusout {
	border: 0px; border-bottom: 0px !important;
}

.lbwrapSpanishFC
{
	width: 778px;
	padding-top: 10px;
	position: relative;
    	outline : none;
}

.lbdonateFC
{
	margin-left: 10px;
	position: relative;
	top: 475px;
	left: 15px; /*645px;*/
	font-family: SourceSansProBold !important;
    	font-size: 15.88pt !important;
	font-weight: 800;
    	// border-radius: 5px;
    	padding: 7px 22px; 
    	background: #C41D39;
    	border: 2px solid #C41D39; // #C41D39;
    	color: #fff;
    	text-align: center;
	height: 20px;
	outline: 0px !important;
	width: 270px;
	color: #fff;
}

/*
.lbdonateFC:focus
{
	border: 4px solid #931D39;
    	cursor:pointer;
    	background: #C41D39;
	outline : 0 !important;
}

.lbdonateFC:hover
{
	border: 4px solid #931D39;
    	cursor:pointer;
    	background: #C41D39;
	outline : 0 !important;
}
*/

/*
#lbdonateFC:focus
{
	 border: 1px solid #931D39; 
	 border-bottom: 1px solid #931D39 !important;
}

#lbdonateFC:focusout, #lbdonateFC:visited
{  
	//outline : 0;
	border: 1px solid #C41D39 !important; 
    	border-bottom: 1px solid #C41D39 !important;
}
*/

/* For txtOtherFC */
.	
{
	box-shadow:  0 0 0 5px #C41D39 !important;
	outline: 0 !important;
}

#divAmtFC
{
   	padding: 5px 0px;
   	width: 550px;
   	border: 0 !important;
   	border-width: 0 !important;
   	z-index: 1;
   	position: relative;
   	vertical-align: middle;
   	top: 380px; 
   	left: 23px;
}

#divAmtFC:focus, #divAmtFC:hover
{
   	border: 0 !important;
   	border-width: 0 !important;
   	outline: 0 !important;
}

.butSpanFC
{
   	margin-right: 13px;
   	display: inline-block;
}

.butSpanFC button:hover, .butSpanFC button:visited, .butSpanFC button, .butSpanFC button:active
{
	background: #fff !important;
	border: 0 !important;
	outline : 0 !important;
}


.FClbamounts
{
   	background-color: #fff;
   	color: #0d1d31;
   	font-family: Arial !important;
   	font-size: 12pt;
   	font-weight: bold;
   	height: 31px !important; 
   	width: 65px; 
   	margin-right: 0px;
   	-moz-border-radius: 5px;
   	-webkit-border-radius: 5px;
   	border-radius: 5px; /* future proofing */
   	-khtml-border-radius: 5px; /* for old Konqueror browsers */
   	padding-top: 0px !important;
   	padding-bottom: 0px !important;
   	// border-color: 1px solid #fff;
   	text-align: center;
   	box-shadow:  0 0 0 1px #909090 !important;
}

.FClbamountsClicked
{
	cursor: pointer;
	outline: 0 !important;
	box-shadow:  0 0 0 5px #C41D39 !important;
}

.FClbamounts:hover
{
	background-color: #fff !important;
}

.txtOtherFC
{
   	-moz-border-radius: 5px;
   	-webkit-border-radius: 5px;
   	border-radius: 5px; /* future proofing */
   	-khtml-border-radius: 5px; /* for old Konqueror browsers */
   	/*
   	width: 75px;
   	max-width: 80px !important;
   	*/
   	// font-weight: 600;
   	height: 31px;
   	// line-height: 30px;
   	color: #0d1d31;
  
   	/*IE hack*/
   	height: 31px\9;
  
   	text-align: center;
   	font-family: Arial !important;
   	font-size: 12pt;
   	font-weight: bold;
   	border: 1px solid #909090;
   	// box-shadow:  0 0 0 1px #909090 !important;
  
}

.txtOtherFC:focus
{
	background: #fff !important;
	border: 1px solid #909090;
	outline : 0 !important;
}

.txtOtherFC:focusout
{
	background: #fff !important;
	border: 1px solid #909090;
	outline : 0 !important;
}

.activeLightboxFC
{
	cursor: pointer;
	outline: 0 !important;
	box-shadow:  0 0 0 5px #C41D39 !important;
}

.lbGiftFC
{
  	//top: 425px;
  	margin-left: 460px;
  	width: 250px;
  	font-family: Avenir;
  	font-size: 11px !important;
  	color: #fff;
  	outline : 0 !important; 
}

.lbheaderFC
{
	margin: 0px;
	padding: 25px 0px 0px 0px;
	color: #fff;
	font-family: Avenir !important;
	font-size: 35px;
	line-height: 38px;
	font-weight: bold;
	padding-right: 25px;
}

.DoNotDisplayLabelFC
{
	font-family: Arial !important;
	font-size: 11px;
	//font-weight: bold;
	//display: inline-block;
	vertical-align: middle;
	padding-top: 30px;.DoNotDisplayLabelFC a
	// padding-bottom: 10px;
	outline : 0 !important;
	margin-left: 10px;
}

.DoNotDisplayLabelFC a
{
   	color : #ffffff;
   	border-bottom: dotted 1px #ffffff;
}

.DoNotDisplayLabelFC a:focus, .DoNotDisplayLabelFC a:hover	
{
   	border-bottom: 1px solid #ffffff !important;
   	outline : 0; 
}

#lnkFocusFC
{
	outline : 0;
	//border-bottom: none !important;
}
 

/*************************************************************************************************************************/
/**********************************************  Second CAMPAIGN  ********************************************************/
/*************************************************************************************************************************/

.lbwrapSC
{

	//width: 954px;
	padding-top: 60px;
	position: relative;
	outline : 0 !important;	
	// margin-left: -200px;
	height
}

.lbwrapSC:focus
{
	outline : 0 !important;	
}

/*
#LeftSideDiv
{
	width: 348px; 
	height: 468px;
}

#LeftSideImage
{
	background-image: url(/acs/fragments/lightbox_cancerhome/images/MemorialHeroFatherSon.png);
	background-position: center;
	background-repeat: no-repeat;
	width: 348px; 
	height: 468px;
}

#RightSideDiv
{
	width: 348px; 
	height: 468px;
}
*/ 
	
	
.lbformSC .lbamountlabelother
{
	font-size: 15px;
	line-height: 18px;
	width: auto;
	padding-right: 8px;
}

.lbformSC
{
	width: 815px; 
	/* TODO: ACS - change the image URL below to its final path: */
	// width: 1194px;   /*   */
	background-image: url(/acs/fragments/lightbox_cancerhome/images/CY16EOYEileen.png);
	//border: 1px solid #002d44;
	background-color: transparent;
	padding-left: 40px;
	background-repeat: no-repeat;
	text-align: left;
	height: 563px;
	z-index: 0;
	position: relative;
	// height: 625px;
	// margin-left: -18px;
	margin-top: 38px;
}


.lbformSC:focus
{
	outline : 0 !important;	
}

.lbContentAreaSC
{
	margin-left: 10px;
	position: relative;
	top: 245px;
	left: 40px;
	//background-color: #555555;
	width: 300px;
}

.lbContentAreaSC:focus
{
	border: 2px solid #a1a1a1;
    	cursor:pointer;
    	background: #951128;
	outline : 0 !important;
}

.lbContentAreaSC:hover
{
	border: 2px solid #951128;
    	cursor:pointer;
    	background: #951128;
	outline : 0 !important;
}

.lbDisplayAreaSC
{
	margin-left: 10px;
	position: relative;
	top: 405px;
	left: -20px;
	//background-color: #444444;
	//width:300px
	outline: 0 !important;
}

.ws_dialog_close_buttonSC
{
	background-color: transparent;
	background-image: url(/acs/fragments/lightbox_cancerhome/images/SummerCampaign2016CloseButton.png);
	position: absolute;
	left: 790px;
	top: 98px;
	width: 27px;
	height: 23px;
	text-indent: -9999px;
	outline: none;
	background-repeat: no-repeat;
	border-bottom: none !important;
}

#closeButtonSC:focus{
	border: 1px solid #fff; 
	left-margin: 2px;
	border-bottom: 1px solid #fff !important;
}

#closeButtonSC:focusout {
	border: 0px; border-bottom: 0px !important;
}

.lbwrapSpanishSC
{
	width: 778px;
	padding-top: 10px;
	position: relative;
    	outline : none;
}

.lbdonateSC
{
	margin-left: 10px;
	position: relative;
	top: 370px;
	left: 45px; /*645px;*/
	font-family: SourceSansProBold !important;
    	font-size: 15.88pt !important;
	font-weight: 800;
    	// border-radius: 5px;
    	padding: 7px 22px; 
    	background: #C41D39;
    	border: 2px solid #C41D39; // #C41D39;
    	color: #fff;
    	text-align: center;
	height: 20px;
	outline: 0px !important;
	width: 270px;
	color: #fff;
}

/*
.lbdonateSC:focus
{
	border: 4px solid #931D39;
    	cursor:pointer;
    	background: #C41D39;
	outline : 0 !important;
}

.lbdonateSC:hover
{
	border: 4px solid #931D39;
    	cursor:pointer;
    	background: #C41D39;
	outline : 0 !important;
}
*/

/*
#lbdonateSC:focus
{
	 border: 1px solid #931D39; 
	 border-bottom: 1px solid #931D39 !important;
}

#lbdonateSC:focusout, #lbdonateSC:visited
{  
	//outline : 0;
	border: 1px solid #C41D39 !important; 
    	border-bottom: 1px solid #C41D39 !important;
}
*/

/* For txtOtherSC */
.	
{
	box-shadow:  0 0 0 5px #C41D39 !important;
	outline: 0 !important;
}

#divAmtSC
{
   	padding: 5px 0px;
   	width: 550px;
   	border: 0 !important;
   	border-width: 0 !important;
   	z-index: 1;
   	position: relative;
   	vertical-align: middle;
   	top: 275px; 
   	left: 55px;
}

#divAmtSC:focus, #divAmtSC:hover
{
   	border: 0 !important;
   	border-width: 0 !important;
   	outline: 0 !important;
}

.butSpanSC
{
   	margin-right: 13px;
   	display: inline-block;
}

.butSpanSC button:hover, .butSpanSC button:visited, .butSpanSC button, .butSpanSC button:active
{
	background: #fff !important;
	border: 0 !important;
	outline : 0 !important;
}

.SClbamounts
{
   	background-color: #fff;
   	color: #0d1d31;
   	font-family: Arial !important;
   	font-size: 12pt;
   	font-weight: bold;
   	height: 31px !important; 
   	width: 65px; 
   	margin-right: 0px;
   	-moz-border-radius: 5px;
   	-webkit-border-radius: 5px;
   	border-radius: 5px; /* future proofing */
   	-khtml-border-radius: 5px; /* for old Konqueror browsers */
   	padding-top: 0px !important;
   	padding-bottom: 0px !important;
   	// border-color: 1px solid #fff;
   	text-align: center;
   	box-shadow:  0 0 0 1px #909090 !important;
}

.SClbamountsClicked
{
	cursor: pointer;
	outline: 0 !important;
	box-shadow:  0 0 0 5px #C41D39 !important;
}

.SClbamounts:hover
{
	background-color: #fff !important;
}

.txtOtherSC
{
   	-moz-border-radius: 5px;
   	-webkit-border-radius: 5px;
   	border-radius: 5px; /* future proofing */
   	-khtml-border-radius: 5px; /* for old Konqueror browsers */
   	/*
   	width: 75px;
   	max-width: 80px !important;
   	*/
   	// font-weight: 600;
   	height: 31px;
   	// line-height: 30px;
   	color: #0d1d31;
  
   	/*IE hack*/
   	height: 31px\9;
  
   	text-align: center;
   	font-family: Arial !important;
   	font-size: 12pt;
   	font-weight: bold;
   	border: 1px solid #909090;
   	// box-shadow:  0 0 0 1px #909090 !important;
}

.txtOtherSC:focus
{
	background: #fff !important;
	border: 1px solid #909090;
	outline : 0 !important;
}

.txtOtherSC:focusout
{
	background: #fff !important;
	border: 1px solid #909090;
	outline : 0 !important;
}

.activeLightboxSC
{
	cursor: pointer;
	outline: 0 !important;
	box-shadow:  0 0 0 5px #C41D39 !important;
}

.lbGiftSC
{
  	//top: 425px;
  	margin-left: 460px;
  	width: 250px;
  	font-family: Avenir;
  	font-size: 11px !important;
  	color: #fff;
  	outline : 0 !important; 
}

.lbheaderSC
{
	margin: 0px;
	padding: 25px 0px 0px 0px;
	color: #fff;
	font-family: Avenir !important;
	font-size: 35px;
	line-height: 38px;
	font-weight: bold;
	padding-right: 25px;
}

.DoNotDisplayLabelSC
{
	font-family: Arial !important;
	font-size: 11px;
	//font-weight: bold;
	//display: inline-block;
	vertical-align: middle;
	padding-top: 30px;.DoNotDisplayLabelSC a
	// padding-bottom: 10px;
	outline : 0 !important;
	margin-left: 10px;
}

.DoNotDisplayLabelSC a
{
   	color : #ffffff;
   	border-bottom: dotted 1px #ffffff;
}

.DoNotDisplayLabelSC a:focus, .DoNotDisplayLabelSC a:hover	
{
   	border-bottom: 1px solid #ffffff !important;
   	outline : 0; 
}

#lnkFocusSC
{
	outline : 0;
	//border-bottom: none !important;
}

/*************************************************************************************************************************/
/**********************************************  Third CAMPAIGN   ********************************************************/
/*************************************************************************************************************************/

.lbcounterboxTC
{
    	padding: 7px 22px; 
   	width: 325px;
   	border: 0 !important;
   	border-width: 0 !important;
   	position: relative;
   	vertical-align: middle;
   	top: 215px; 
   	left: 375px;	
}

.lbcounterTC
{
	color: #1F38A8;
	font-weight: bold;
	font-size: 16px;
	line-height: 25px;
	font-family: SourceSansProBold !important;
}
.lbcounterTC span
{
	font-size: 32px;
}

.lbremainingTC
{
	padding: 0px;
	margin: -2px 0px 0px 0px;
	font-size: 14px;
	color: #000;
	font-family: SourceSansProBold !important;
}

.lbwrapTC
{

	//width: 954px;
	padding-top: 60px;
	position: relative;
	outline : 0 !important;	
	// margin-left: -200px;
	height
}

.lbwrapTC:focus
{
	outline : 0 !important;	
}

/*
#LeftSideDiv
{
	width: 348px; 
	height: 468px;
}

#LeftSideImage
{
	background-image: url(/acs/fragments/lightbox_cancerhome/images/MemorialHeroFatherSon.png);
	background-position: center;
	background-repeat: no-repeat;
	width: 348px; 
	height: 468px;
}

#RightSideDiv
{
	width: 348px; 
	height: 468px;
}
*/ 
	
	
.lbformTC .lbamountlabelother
{
	font-size: 15px;
	line-height: 18px;
	width: auto;
	padding-right: 8px;
}

.lbformTC
{
	width: 815px; 
	/* TODO: ACS - change the image URL below to its final path: */
	// width: 1194px;   /*   */
	background-image: url(/acs/fragments/lightbox_cancerhome/images/EOY_Research.png);
	//border: 1px solid #002d44;
	background-color: transparent;
	padding-left: 40px;
	background-repeat: no-repeat;
	text-align: left;
	height: 563px;
	z-index: 0;
	position: relative;
	// height: 625px;
	// margin-left: -18px;
	margin-top: 38px;
}


.lbformTC:focus
{
	outline : 0 !important;	
}

.lbContentAreaTC
{
	margin-left: 10px;
	position: relative;
	top: 145px;
	left: 450px;
	//background-color: #555555;
	width: 300px;
}

.lbContentAreaTC:focus
{
	border: 2px solid #a1a1a1;
    	cursor:pointer;
    	background: #951128;
	outline : 0 !important;
}

.lbContentAreaTC:hover
{
	border: 2px solid #951128;
    	cursor:pointer;
    	background: #951128;
	outline : 0 !important;
}

.lbDisplayAreaTC
{
	margin-left: 10px;
	position: relative;
	top: 413px;
	left: 535px;
	//background-color: #444444;
	//width:300px
	outline: 0 !important;
}

.ws_dialog_close_buttonTC
{
	background-color: transparent;
	background-image: url(/acs/fragments/lightbox_cancerhome/images/SummerCampaign2016CloseButton.png);
	position: absolute;
	left: 801px;
	top: 88px;
	width: 27px;
	height: 23px;
	text-indent: -9999px;
	outline: none;
	background-repeat: no-repeat;
	border-bottom: none !important;
}

#closeButtonTC:focus{
	border: 1px solid #fff; 
	left-margin: 2px;
	border-bottom: 1px solid #fff !important;
}

#closeButtonTC:focusout {
	border: 0px; border-bottom: 0px !important;
}

.lbwrapSpanishTC
{
	width: 778px;
	padding-top: 10px;
	position: relative;
    	outline : none;
}

.lbdonateTC
{
	margin-left: 10px;
	position: relative;
	top: 260px;
	left: 375px; /*645px;*/
	font-family: SourceSansProBold !important;
    	font-size: 15.88pt !important;
	font-weight: 800;
    	// border-radius: 5px;
    	padding: 7px 22px; 
    	background: #C41D39;
    	border: 2px solid #C41D39; // #C41D39;
    	color: #fff;
    	text-align: center;
	height: 20px;
	outline: 0px !important;
	width: 270px;
	color: #fff;
}

/*
.lbdonateTC:focus
{
	border: 4px solid #931D39;
    	cursor:pointer;
    	background: #C41D39;
	outline : 0 !important;
}

.lbdonateTC:hover
{
	border: 4px solid #931D39;
    	cursor:pointer;
    	background: #C41D39;
	outline : 0 !important;
}
*/

/*
#lbdonateTC:focus
{
	 border: 1px solid #931D39; 
	 border-bottom: 1px solid #931D39 !important;
}

#lbdonateTC:focusout, #lbdonateSC:visited
{  
	//outline : 0;
	border: 1px solid #C41D39 !important; 
    	border-bottom: 1px solid #C41D39 !important;
}
*/

/* For txtOtherTC */
.	
{
	box-shadow:  0 0 0 5px #C41D39 !important;
	outline: 0 !important;
}

#divAmtTC
{
   	padding: 5px 0px;
   	width: 550px;
   	border: 0 !important;
   	border-width: 0 !important;
   	z-index: 1;
   	position: relative;
   	vertical-align: middle;
   	top: 170px; 
   	left: 384px;
}

#divAmtTC:focus, #divAmtTC:hover
{
   	border: 0 !important;
   	border-width: 0 !important;
   	outline: 0 !important;
}

.butSpanTC
{
   	margin-right: 13px;
   	display: inline-block;
}

.butSpanTC button:hover, .butSpanTC button:visited, .butSpanTC button, .butSpanTC button:active
{
	background: #fff !important;
	border: 0 !important;
	outline : 0 !important;
}

.TClbamounts
{
   	background-color: #fff;
   	color: #0d1d31;
   	font-family: Arial !important;
   	font-size: 12pt;
   	font-weight: bold;
   	height: 31px !important; 
   	width: 65px; 
   	margin-right: 0px;
   	-moz-border-radius: 5px;
   	-webkit-border-radius: 5px;
   	border-radius: 5px; /* future proofing */
   	-khtml-border-radius: 5px; /* for old Konqueror browsers */
   	padding-top: 0px !important;
   	padding-bottom: 0px !important;
   	// border-color: 1px solid #fff;
   	text-align: center;
   	box-shadow:  0 0 0 1px #909090 !important;
}

.TClbamountsClicked
{
	cursor: pointer;
	outline: 0 !important;
	box-shadow:  0 0 0 5px #C41D39 !important;
}

.TClbamounts:hover
{
	background-color: #fff !important;
}

.txtOtherTC
{
   	-moz-border-radius: 5px;
   	-webkit-border-radius: 5px;
   	border-radius: 5px; /* future proofing */
   	-khtml-border-radius: 5px; /* for old Konqueror browsers */
   	/*
   	width: 75px;
   	max-width: 80px !important;
   	*/
   	// font-weight: 600;
   	height: 31px;
   	// line-height: 30px;
   	color: #0d1d31;
  
   	/*IE hack*/
   	height: 31px\9;
  
   	text-align: center;
   	font-family: Arial !important;
   	font-size: 12pt;
   	font-weight: bold;
   	border: 1px solid #909090;
   	// box-shadow:  0 0 0 1px #909090 !important;
}

.txtOtherTC:focus
{
	background: #fff !important;
	border: 1px solid #909090;
	outline : 0 !important;
}

.txtOtherTC:focusout
{
	background: #fff !important;
	border: 1px solid #909090;
	outline : 0 !important;
}

.activeLightboxTC
{
	cursor: pointer;
	outline: 0 !important;
	box-shadow:  0 0 0 5px #C41D39 !important;
}

.lbGiftTC
{
  	//top: 425px;
  	margin-left: 460px;
  	width: 250px;
  	font-family: Avenir;
  	font-size: 11px !important;
  	color: #fff;
  	outline : 0 !important; 
}

.lbheaderTC
{
	margin: 0px;
	padding: 25px 0px 0px 0px;
	color: #fff;
	font-family: Avenir !important;
	font-size: 35px;
	line-height: 38px;
	font-weight: bold;
	padding-right: 25px;
}

.DoNotDisplayLabelTC
{
	font-family: Arial !important;
	font-size: 11px;
	//font-weight: bold;
	//display: inline-block;
	vertical-align: middle;
	padding-top: 30px;.DoNotDisplayLabelTC a
	// padding-bottom: 10px;
	outline : 0 !important;
	margin-left: 10px;
}

.DoNotDisplayLabelTC a
{
   	color : #4a64b9;
   	border-bottom: dotted 1px #4a64b9;
}

.DoNotDisplayLabelTC a:focus, .DoNotDisplayLabelTC a:hover	
{
   	border-bottom: 1px solid #4a64b9 !important;
   	outline : 0; 
}

#lnkFocusTC
{
	outline : 0;
	//border-bottom: none !important;
}
