/* skinned styles */

.skinned-wrapper {
	background: url('/acs/fragments/acs_refresh_scripts/images/skin.png') no-repeat center right;
	display: inline-block;
	height: 22px;
	vertical-align: top;
	margin-right: 5px;
	border-radius: 5px;
	border: solid 1px #72797f;
	behavior: url('/acs/websites/cancerorg/pie/pie.htc');
}
.skinned-wrapper select {
	opacity: 0;
	filter: alpha(opacity = 0);
	moz-opacity: 0;
	position: relative;
	z-index: 100;
}
.skinned-wrapper .skinned-text {
  position: absolute;
	text-indent: 10px;
	width: 200px;
	z-index: 1;
	padding: 2px 0 0;
	height: 1.5em;
	overflow: hidden;
}
.skinned-wrapper .skinned-text,
.skinned-wrapper select,
.skinned-wrapper select option {
	width: 200px; /* dropdown width */
	font-size: 14px;
	line-height: 18px;
	color: #333;
}

/* default: non javascript version of select */

.my-skinned-select select {
  width: 150px;
  font-size: 11px;
  border: 1px solid #333;
}

.state-container .skinned-wrapper .skinned-text, 
.state-container .skinned-wrapper select, 
.state-container .skinned-wrapper select option { width: 110px; }