/* ----------------------------
simple reset
---------------------------- */
body {
  background: #fff;
  text-align: left;
}
html,
body,
ul,
ol,
li,
form,
fieldset,
legend {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
}
p {
  margin-top: 0;
}
img {
  border: 0;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}
input,
textarea,
select {
  font-size: 110%;
  line-height: 1.1;
}
abbr,
acronym {
  border-bottom: .1em dotted;
  cursor: help;
}
/* Stop padding from affecting width in block level elements 
* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
*/
header,
footer,
article,
section,
nav,
nav ul {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.icon {
  background: url(/acs/fragments/acs_refresh_scripts/images/ui/icons.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
}
.rss,
.print,
.save,
.share-arrow-small {
  width: 10px;
  height: 12px;
}
.larger,
.smaller,
.share-arrow,
.th-large,
.phone,
.speechbubble,
.magnify,
.prev,
.next {
  width: 16px;
  height: 16px;
}
.rss {
  background-position: 0 0;
}
.print {
  background-position: -32px 0;
}
.save {
  background-position: -64px 0;
}
.share-arrow-small {
  background-position: -96px 0;
}
.larger {
  background-position: -128px 0;
}
.smaller {
  background-position: -160px 0;
}
.share-arrow {
  background-position: -192px 0;
}
.th-large {
  background-position: -224px 0;
}
.phone {
  background-position: -256px 0;
}
.speechbubble {
  background-position: -288px 0;
}
.magnify {
  background-position: -320px 0;
}
.prev {
  background-position: -352px 0;
  width: 10px;
}
.next {
  background-position: -384px 0;
  width: 10px;
}
.reversed .share-arrow {
  background-position: -192px -32px;
}
.reversed:hover .share-arrow {
  background-position: -192px -64px;
}
a:hover .rss {
  background-position: 0 -32px;
}
a:hover .print {
  background-position: -32px -32px;
}
a:hover .save {
  background-position: -64px -32px;
}
a:hover .share-arrow-small {
  background-position: -96px -32px;
}
a:hover .larger {
  background-position: -128px -32px;
}
a:hover .smaller {
  background-position: -160px -32px;
}
a:hover .th-large {
  background-position: -224px -32px;
}
a:hover .phone {
  background-position: -256px -32px;
}
a:hover .speechbubble {
  background-position: -288px -32px;
}
a:hover .magnify {
  background-position: -320px -32px;
}
a:hover .prev {
  background-position: -352px -32px;
}
a:hover .next {
  background-position: -384px -32px;
}
a.rss-button {
  width: 51px;
  height: 20px;
  background: url('/acs/fragments/acs_refresh_scripts/images/ui/buttons.png') -144px 0 no-repeat;
  display: inline-block;
  vertical-align: middle;
  border-bottom: none;
  text-indent: -1000em;
}
a.rss-button:hover {
  background-position: -144px -48px;
}
a.donate-button:link {
  width: 124px;
  height: 34px;
  background: url('/acs/fragments/acs_refresh_scripts/images/ui/buttons.png') 0 0 no-repeat;
  display: inline-block;
  vertical-align: middle;
  border-bottom: none;
  text-indent: -1000em;
  float: right;
  margin: 22px 0 22px 7px;
}
a.donate-button:hover {
  background-position: 0 -48px;
}

a.donate-buttonSpanish:link {
  width: 300px;
  height: 35px;
  background: url('/acs/fragments/acs_refresh_scripts/images/spanishDonateButton.png') 0 0 no-repeat;
  display: inline-block;
  vertical-align: middle;
  border-bottom: none;
  text-indent: -1000em;
  float: right;
  margin: 22px 0 22px 7px;
 
}
a.donate-buttonSpanish:hover {
 background: url('/acs/fragments/acs_refresh_scripts/images/spanishDonateButtonRoll.png') 0 0 no-repeat;
}


a.shopNowButton:link {
  width: 109px;
  height: 34px;
  background: url('/acs/fragments/acs_refresh_scripts/images/ShopAndShopHover.png') 0 0 no-repeat;
  display: inline-block;
  vertical-align: middle;
  border-bottom: none;
  float: right;
  text-decoration: none;
  border-bottom:  none;
  margin: 22px 0 22px 30px;
}
a.shopNowButton:hover {
  background: url('/acs/fragments/acs_refresh_scripts/images/ShopAndShopHover.png') 0px -36px no-repeat;
}

a.shopNowButtonMarginLeft:link {
  width: 109px;
  height: 34px;
  background: url('/acs/fragments/acs_refresh_scripts/images/ShopAndShopHover.png') 0 0 no-repeat;
  display: inline-block;
  vertical-align: middle;
  border-bottom: none;
  float: right;
  text-decoration: none;
  border-bottom:  none;
  margin-left: 20px;
}
a.shopNowButtonMarginLeft:hover {
  background: url('/acs/fragments/acs_refresh_scripts/images/ShopAndShopHover.png') 0px -36px no-repeat;
}


/*
.larger{
	background-position: -31px -32px;
	width: 16px;
	height: 16px;
}

.phone{
	background-position: -86px -32px;
	width: 11px;
	height: 14px;
}

.print{
	background-position: -136px -39px;
	width: 8px;
	height: 8px;
}

.rss{
	background-position: -190px -38px;
	width: 11px;
	height: 11px;
}

.save{
	background-position: -240px -40px;
	width: 8px;
	height: 8px;
}

.share-arrow{
	background-position: -282px -33px;
	width: 16px;
	height: 16px;
}
.share-arrow-small {
	background-position: -286px -70px;
	width: 8px;
	height: 8px;

}
.smaller{
	background-position: -329px -30px;
	width: 16px;
	height: 16px;
}

.speechbubble{
	background-position: -384px -34px;
	width: 14px;
	height: 14px;
}

.th-large{
	background-position: -434px -33px;
	width: 13px;
	height: 13px;
}

.magnify {
	background-position: -478px -34px;
	width: 12px;
	height: 14px;
}
.prev {
	background-position: -517px -35px;
	width: 8px;
	height: 12px;
}
.next {
	background-position: -547px -35px;
	width: 8px;
	height: 12px;
}
*//*
	Variable Grid System.
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/

	Licensed under GPL and MIT.
*/
/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/
body {
  min-width: 956px;
}
/* Containers
----------------------------------------------------------------------------------------------------*/
.container_12, .search #page-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 936px;
}
/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_auto {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
.push_1,
.pull_1,
.push_2,
.pull_2,
.push_3,
.pull_3,
.push_4,
.pull_4,
.push_5,
.pull_5,
.push_6,
.pull_6,
.push_7,
.pull_7,
.push_8,
.pull_8,
.push_9,
.pull_9,
.push_10,
.pull_10,
.push_11,
.pull_11,
.push_12,
.pull_12 {
  position: relative;
}
/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
.alpha {
  margin-left: 0;
}
.omega {
  margin-right: 0;
}
/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .grid_1 {
  width: 58px;
}
.container_12 .grid_2 {
  width: 136px;
}
.container_12 .grid_3 {
  width: 214px;
}
.container_12 .grid_4 {
  width: 292px;
}
.container_12 .grid_5 {
  width: 370px;
}
.container_12 .grid_6 {
  width: 448px;
}
.container_12 .grid_7 {
  width: 526px;
}
.container_12 .grid_8 {
  width: 604px;
}
.container_12 .grid_9 {
  width: 682px;
}
.container_12 .grid_10 {
  width: 760px;
}
.container_12 .grid_11 {
  width: 838px;
}
.container_12 .grid_12 {
  width: 916px;
}
/* Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .prefix_1 {
  margin-left: 88px;
}
.container_12 .prefix_2 {
  margin-left: 166px;
}
.container_12 .prefix_3 {
  margin-left: 244px;
}
.container_12 .prefix_4 {
  margin-left: 322px;
}
.container_12 .prefix_5 {
  margin-left: 400px;
}
.container_12 .prefix_6 {
  margin-left: 478px;
}
.container_12 .prefix_7 {
  margin-left: 556px;
}
.container_12 .prefix_8 {
  margin-left: 634px;
}
.container_12 .prefix_9 {
  margin-left: 712px;
}
.container_12 .prefix_10 {
  margin-left: 790px;
}
.container_12 .prefix_11 {
  margin-left: 868px;
}
/* Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .suffix_1 {
  margin-right: 78px;
}
.container_12 .suffix_2 {
  margin-right: 156px;
}
.container_12 .suffix_3 {
  margin-right: 234px;
}
.container_12 .suffix_4 {
  margin-right: 312px;
}
.container_12 .suffix_5 {
  margin-right: 390px;
}
.container_12 .suffix_6 {
  margin-right: 468px;
}
.container_12 .suffix_7 {
  margin-right: 546px;
}
.container_12 .suffix_8 {
  margin-right: 624px;
}
.container_12 .suffix_9 {
  margin-right: 702px;
}
.container_12 .suffix_10 {
  margin-right: 780px;
}
.container_12 .suffix_11 {
  margin-right: 858px;
}
/* Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .push_1 {
  left: 78px;
}
.container_12 .push_2 {
  left: 156px;
}
.container_12 .push_3 {
  left: 234px;
}
.container_12 .push_4 {
  left: 312px;
}
.container_12 .push_5 {
  left: 390px;
}
.container_12 .push_6 {
  left: 468px;
}
.container_12 .push_7 {
  left: 546px;
}
.container_12 .push_8 {
  left: 624px;
}
.container_12 .push_9 {
  left: 702px;
}
.container_12 .push_10 {
  left: 780px;
}
.container_12 .push_11 {
  left: 858px;
}
/* Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .pull_1 {
  left: -78px;
}
.container_12 .pull_2 {
  left: -156px;
}
.container_12 .pull_3 {
  left: -234px;
}
.container_12 .pull_4 {
  left: -312px;
}
.container_12 .pull_5 {
  left: -390px;
}
.container_12 .pull_6 {
  left: -468px;
}
.container_12 .pull_7 {
  left: -546px;
}
.container_12 .pull_8 {
  left: -624px;
}
.container_12 .pull_9 {
  left: -702px;
}
.container_12 .pull_10 {
  left: -780px;
}
.container_12 .pull_11 {
  left: -858px;
}
/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
}
/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix {
  zoom: 1;
}
body {
  font: 13px/20px arial, sans-serif;
  color: #454B54;
}
.big-title {
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 20px;
}
.sub-title {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.3em;
  margin-bottom: 15px;
}
.small-title {
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 5px;
}
p {
  margin-bottom: 20px;
}
ul, ol {
  margin-bottom: 8px;
}
/** Headings **/
h1 {
  font-size: 22px;
  font-weight: bold;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 10px;
}
h2 {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 10px;
}
h3 {
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 5px;
}
h4 {
  font-size: .9em;
  font-weight: bold;
}
h5 {
  font-size: .8em;
  font-weight: bold;
}
/** Links **/
a:link,
a:visited {
  color: #3067b3;
  text-decoration: none;
  border-bottom: dotted 1px #94b2dc;
}
a:hover,
a:active {
  color: #224980;
  text-decoration: none;
  border-bottom: solid 1px #224980;
}
a.breadcrumb {
  color: #3067be;
}
a.image,
a.icon {
  border-bottom: none;
}
/** Buttons **/
a.button:link,
a.button:visited,
button {
  display: inline-block;
  background: #3067b3;
  color: #fff;
  text-transform: uppercase;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 0 15px 0;
  height: auto; /*25px;*/
  line-height: auto; /*25px;*/
  text-decoration: none;
  font-size: 12px;
  border: none;
  white-space: nowrap;
  position: relative;
  font-weight: bold;
  behavior: url('/acs/websites/cancerorg/pie/pie.htc');
  padding-top:4px;
  padding-bottom:4px;
}
button {
  height: auto; /*25px; */
  padding: 0 10px;
  cursor: pointer;
  line-height: auto; /* 25px; */
  padding-top:4px;
  padding-bottom:4px;
}
.ua-firefox-12 button {
  height: 25px;
  padding: 0 10px 8px 10px !important;
  cursor: pointer;
  line-height: 22px !important;
}
a.button:hover,
.button:active,
button:hover {
  background: #103e7d;
  text-decoration: none;
}
a.button.reversed:link,
a.button.reversed:visited,
button.reversed {
  background: #fff;
  color: #3067b3;
  border: solid 1px #ccc;
  padding-top: 2px;
  padding-bottom: 2px;
}
a.button.reversed:hover,
button.reversed:hover {
  color: #103e7d;
}
a.button.small,
button.small {
  font-size: 11px;
  padding: 0 8px;
  height: 20px;
  line-height: 20px;
}
.header-footer-link {
  color: #e5e5e5;
  border-bottom: dotted 1px #e5e5e5f;
}
.header-footer-type {
  color: #e5e5e5;
  font-size: 12px;
  line-height: 18px;
}
.bulleted-list {
  list-style-image: url('/acs/fragments/acs_refresh_scripts/images/bullet.gif');
}
.bulleted-list li {
  margin-left: 35px;
}
.bulleted-list-grey {
  list-style-image: url('/acs/fragments/acs_refresh_scripts/images/bullet-grey.gif');
}
.bulleted-list-grey li {
  margin-left: 35px;
}
.text-indent {
  margin-left: 20px;
}
/** Header **/
header.site {
  background: #fff;
  height: 115px;
}
header.site h1,
header.site .logo {
  font-size: 20px;
  line-height: 20px;
  float: left;
  margin: 14px 0 14px;
}
header.site h1 .logo,
header.site .logo .logo {
  margin: 0;
}
header.site nav {
  background: #242d3a;
  height: 36px;
  padding: 10px;
  overflow: hidden;
  color: #e5e5e5;
  font-size: 12px;
  line-height: 18px;
}
header.site nav a:link,
header.site nav a:visited {
  color: #e5e5e5;
  border-bottom: dotted 1px #e5e5e5;
}
header.site nav a:hover,
header.site nav a:active {
  border-bottom: solid 1px #e5e5e5;
}
header.site nav ul {
  border-right: #676d74 solid 1px;
  float: right;
  padding: 0 20px 0 20px;
  list-style: none;
}
header.site nav ul li {
  font-color: #fff;
  display: inline-block;
}
header.site nav ul li:first-child {
  margin-left: 0;
}
header.site nav ul.users li {
  padding: 0 8px;
  line-height: 1em;
}
header.site nav ul.users li:first-child {
  border-right: #676d74 solid 1px;
}
header.site nav ul.languages li, ul.email li {
  padding: 0 8px;
}
header.site nav ul:first-child {
  border-right: none;
  padding-right: 0;
}
header.site nav ul.social-icons li {
  margin-left: 0;
  position: relative;
  top: -4px;
}
header.site nav ul.social-icons li a {
  border-bottom: none;
}
header.site .social {
  margin-left: 9px;
}
img.social {
  height:22px;
  width:22px;
}
header.site .donate,
header.site .join_fight {
  //float: right;
  margin: 22px 0px 0px;
}
header.site .donate {
  margin-left: 17px;
}
ul.tabs {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0;
  margin-bottom: 0;
  line-height: 1em;
  list-style: none;
  letter-spacing: -4px;
}
ul.tabs li, ul.tabs li.norollover:hover  {
  display: inline-block;
  padding: 12px 0;
  border-radius: 3px 3px 0 0;
  font-weight: bold;
  text-align: center;
  position: relative;
  zoom: 1;
  letter-spacing: 0;
  margin-left: 2px;
  box-shadow: 0 -3px 5px #333333;
  behavior: url('/acs/websites/cancerorg/pie/pie.htc');
}
ul.tabs li.norollover:hover a {
	top: 0;
}
ul.tabs li a:link,
ul.tabs li a:visited {
  text-decoration: none;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 15px 0;
}
ul.tabs li.selected,
ul.tabs li.selected:hover {
  padding-top: 24px;
  padding-bottom: 13px;
}
ul.tabs li:hover {
 padding-top: 24px;
 padding-bottom: 12px;
}
ul.tabs li.selected a,
ul.tabs li:hover a {
  position: relative;
  top: -5px;
}
ul.tabs li.tab-home,
ul.tabs #nav-home {
  background: -moz-linear-gradient(top, #2d65b4 0%, #2a5a9d 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d65b4), color-stop(100%, 100%));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #2d65b4 0%, #2a5a9d 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #2d65b4 0%, #2a5a9d 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #2d65b4 0%, #2a5a9d 100%);
  /* IE10+ */

  background: linear-gradient(top bottom, #2d65b4 0%, #2a5a9d 100%);
  /* W3C */

  *-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#2d65b4, endColorstr=#2a5a9d)";
  -pie-background: linear-gradient(top, #2d65b4, #2a5a9d);
  border-bottom: solid 1px #173358;
  width: 67px;
}
ul.tabs li.tab-home.selected,
ul.tabs #nav-home.selected {
  background: -moz-linear-gradient(top, #2a5a9d 0%, #2d65b4 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2a5a9d), color-stop(100%, 100%));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #2a5a9d 0%, #2d65b4 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #2a5a9d 0%, #2d65b4 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #2a5a9d 0%, #2d65b4 100%);
  /* IE10+ */

  background: linear-gradient(top bottom, #2a5a9d 0%, #2d65b4 100%);
  /* W3C */

  *-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#2a5a9d, endColorstr=#2d65b4)";
  -pie-background: linear-gradient(top, #2a5a9d, #2d65b4);
  border-bottom: none;
}
ul.tabs li.tab-learn,
ul.tabs #nav-cancer {
  background: -moz-linear-gradient(top, #277da4 0%, #286e8f 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #277da4), color-stop(100%, 100%));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #277da4 0%, #286e8f 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #277da4 0%, #286e8f 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #277da4 0%, #286e8f 100%);
  /* IE10+ */

  background: linear-gradient(top bottom, #277da4 0%, #286e8f 100%);
  /* W3C */

  *-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#277da4, endColorstr=#286e8f)";
  -pie-background: linear-gradient(top, #277da4, #286e8f);
  border-bottom: solid 1px #173e51;
  width: 157px;
}
ul.tabs li.tab-learn.selected,
ul.tabs #nav-cancer.selected {
  background: -moz-linear-gradient(top, #286e8f 0%, #277da4 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #286e8f), color-stop(100%, 100%));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #286e8f 0%, #277da4 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #286e8f 0%, #277da4 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #286e8f 0%, #277da4 100%);
  /* IE10+ */

  background: linear-gradient(top bottom, #286e8f 0%, #277da4 100%);
  /* W3C */

  *-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#286e8f, endColorstr=#277da4)";
  -pie-background: linear-gradient(top, #286e8f, #277da4);
  border-bottom: none;
}
ul.tabs li.tab-healthy,
ul.tabs #nav-healthy {
  background: -moz-linear-gradient(top, #be4587 0%, #8f3667 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #be4587), color-stop(100%, 100%));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #be4587 0%, #8f3667 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #be4587 0%, #8f3667 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #be4587 0%, #8f3667 100%);
  /* IE10+ */

  background: linear-gradient(top bottom, #be4587 0%, #8f3667 100%);
  /* W3C */

  *-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#be4587, endColorstr=#8f3667)";
  -pie-background: linear-gradient(top, #be4587, #8f3667);
  border-bottom: solid 1px #5c2343;
  width: 110px;
  behavior: url('/acs/websites/cancerorg/pie/pie.htc');
}
ul.tabs li.tab-healthy.selected,
ul.tabs #nav-healthy.selected {
  background: -moz-linear-gradient(top, #8f3667 0%, #be4587 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8f3667), color-stop(100%, 100%));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #8f3667 0%, #be4587 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #8f3667 0%, #be4587 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #8f3667 0%, #be4587 100%);
  /* IE10+ */

  background: linear-gradient(top bottom, #8f3667 0%, #be4587 100%);
  /* W3C */

  *-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#8f3667, endColorstr=#be4587)";
  -pie-background: linear-gradient(top, #8f3667, #be4587);
  border-bottom: none;
}
ul.tabs li.tab-support,
ul.tabs #nav-treatment {
  background: -moz-linear-gradient(top, #6d6eb0 0%, #535687 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6d6eb0), color-stop(100%, 100%));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #6d6eb0 0%, #535687 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #6d6eb0 0%, #535687 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #6d6eb0 0%, #535687 100%);
  /* IE10+ */

  background: linear-gradient(top bottom, #6d6eb0 0%, #535687 100%);
  /* W3C */

  *-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#6d6eb0, endColorstr=#535687)";
  -pie-background: linear-gradient(top, #6d6eb0, #535687);
  border-bottom: solid 1px #363757;
  width: 193px;
}
ul.tabs li.tab-support.selected,
ul.tabs #nav-treatment.selected {
  background: -moz-linear-gradient(top, #535687 0%, #6d6eb0 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #535687), color-stop(100%, 100%));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #535687 0%, #6d6eb0 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #535687 0%, #6d6eb0 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #535687 0%, #6d6eb0 100%);
  /* IE10+ */

  background: linear-gradient(top bottom, #535687 0%, #6d6eb0 100%);
  /* W3C */

  *-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#535687, endColorstr=#6d6eb0)";
  -pie-background: linear-gradient(top, #535687, #6d6eb0);
  border-bottom: none;
}
ul.tabs li.tab-explore,
ul.tabs #nav-research {
  background: -moz-linear-gradient(top, #4d7e77 0%, #3c605a 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4d7e77), color-stop(100%, 100%));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #4d7e77 0%, #3c605a 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #4d7e77 0%, #3c605a 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #4d7e77 0%, #3c605a 100%);
  /* IE10+ */

  background: linear-gradient(top bottom, #4d7e77 0%, #3c605a 100%);
  /* W3C */

  *-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4d7e77, endColorstr=#3c605a)";
  -pie-background: linear-gradient(top, #4d7e77, #3c605a);
  border-bottom: solid 1px #273e3b;
  width: 140px;
}
ul.tabs li.tab-explore.selected,
ul.tabs #nav-research.selected {
  background: -moz-linear-gradient(top, #3c605a 0%, #4d7e77 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c605a), color-stop(100%, 100%));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #3c605a 0%, #4d7e77 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #3c605a 0%, #4d7e77 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #3c605a 0%, #4d7e77 100%);
  /* IE10+ */

  background: linear-gradient(top bottom, #3c605a 0%, #4d7e77 100%);
  /* W3C */

  *-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#3c605a, endColorstr=#4d7e77)";
  -pie-background: linear-gradient(top, #3c605a, #4d7e77);
  border-bottom: none;
}
ul.tabs li.tab-involved,
ul.tabs #nav-involved {
  background: -moz-linear-gradient(top, #d74800 0%, #a13600 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d74800), color-stop(100%, 100%));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #d74800 0%, #a13600 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #d74800 0%, #a13600 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #d74800 0%, #a13600 100%);
  /* IE10+ */

  background: linear-gradient(top bottom, #d74800 0%, #a13600 100%);
  /* W3C */

  *-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#d74800, endColorstr=#a13600)";
  -pie-background: linear-gradient(top, #d74800, #a13600);
  border-bottom: solid 1px #692300;
  width: 110px;
}
ul.tabs li.tab-involved.selected,
ul.tabs #nav-involved.selected {
  background: -moz-linear-gradient(top, #a13600 0%, #d74800 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a13600), color-stop(100%, 100%));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #a13600 0%, #d74800 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #a13600 0%, #d74800 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #a13600 0%, #d74800 100%);
  /* IE10+ */

  background: linear-gradient(top bottom, #a13600 0%, #d74800 100%);
  /* W3C */

  *-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#a13600, endColorstr=#d74800)";
  -pie-background: linear-gradient(top, #a13600, #d74800);
  border-bottom: none;
}
ul.tabs li.tab-local, ul.tabs #nav-myacs {
  background: -moz-linear-gradient(top, #2d65b4 0%, #244e87 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d65b4), color-stop(100%, 100%));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #2d65b4 0%, #244e87 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #2d65b4 0%, #244e87 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #2d65b4 0%, #244e87 100%);
  /* IE10+ */

  background: linear-gradient(top bottom, #2d65b4 0%, #244e87 100%);
  /* W3C */

  *-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#2d65b4, endColorstr=#244e87)";
  -pie-background: linear-gradient(top, #2d65b4, #244e87);
  border-bottom: solid 1px #183359;
  width: 125px;
}
ul.tabs li.tab-local.selected,
ul.tabs #nav-myacs.selected {
  background: -moz-linear-gradient(top, #244e87 0%, #2d65b4 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #244e87), color-stop(100%, 100%));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #244e87 0%, #2d65b4 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #244e87 0%, #2d65b4 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #244e87 0%, #2d65b4 100%);
  /* IE10+ */

  background: linear-gradient(top bottom, #244e87 0%, #2d65b4 100%);
  /* W3C */

  *-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#244e87, endColorstr=#2d65b4)";
  -pie-background: linear-gradient(top, #244e87, #2d65b4);
  border-bottom: none;
}
ul.tabs li.tab-local.active,
ul.tabs #nav-myacs.active {
  background: -moz-linear-gradient(top, #244e87 0%, #2d65b4 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #244e87), color-stop(100%, 100%));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #244e87 0%, #2d65b4 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #244e87 0%, #2d65b4 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #244e87 0%, #2d65b4 100%);
  /* IE10+ */

  background: linear-gradient(top bottom, #244e87 0%, #2d65b4 100%);
  /* W3C */

  *-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#244e87, endColorstr=#2d65b4)";
  -pie-background: linear-gradient(top, #244e87, #2d65b4);
  border-bottom: none;
  position: absolute;
  margin-top: 12px;
  padding-top: 12px;
  padding-bottom: 18px;
}
ul.tabs li.tab-local.active a,
ul.tabs #nav-myacs.active a,
ul.tabs li.tab-local.active:hover a,
ul.tabs #nav-myacs.active:hover a {
  position: relative;
  top: 0;
}
nav.main .narrow-container {
  position: relative;
  height: 100%;
  width: 916px;
  margin: 0 auto;
}

nav.main .narrow-containerSpanish {
  position: relative;
  height: 100%;
  width: 1100px;
  margin: 0 auto;
}


.current-pointer {
  background-image: url('/acs/fragments/acs_refresh_scripts/images/ui/nav-selected-sprite.png');
  background-repeat: no-repeat;
  width: 20px;
  height: 5px;
  position: absolute;
  bottom: -8px;
  z-index: 1;
}
.banner-background-right {
  float: right;
  width: 49%;
}
.banner-background-left {
  float: left;
  width: 49%;
}
section.banner {
  position: relative;
  z-index:1000;
}
section.banner .banner-link { 

    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 10; 
}

section.large-banner .banner-link { height: 260px; } 
section.short-banner .banner-link { height: 135px; }
section.banner nav {
  height: 150px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 25px;
}
section.banner nav.withShadow {
  background: url('/acs/fragments/acs_refresh_scripts/images/bg-main-nav.png') repeat-x top center transparent;
}
section.banner nav.withoutShadow {
  background: url('/acs/fragments/acs_refresh_scripts/images/bg-main-nav-no-shadow.png') repeat-x top center transparent;
}
section.banner ul.help {
  padding-top: 25px;
  color: #e5e5e5;
  list-style: none;
  text-align: center;
}
section.banner ul.help li.call{
	padding-left: 18px;
}
section.banner ul.help li {
  display: inline;
  padding: 0 15px 0 15px;
  font-size: 14px;
}
section.banner ul.help li label {
  font-size: 22px;
  margin-right: 20px;
  position: relative;
  vertical-align: middle;
}
section.banner ul.help li input[type='text'] {
  font-size: 12px;
  border: none;
  padding: 6px 10px;
  border-radius: 3px;
  margin-right: .5em;
  width: 215px;
  vertical-align: middle;
}
section.banner ul.help li button {
  font-size: 12px;
  line-height: 27px;
  height: 27px;
  padding: 0 10px;
  vertical-align: middle;
}
@-moz-document url-prefix() {
	section.banner ul.help li button {
		padding-bottom: 28px;
	}
}

section.banner ul.help li.live-chat {
  border-right: #676d74 solid 1px;
}
section.banner ul.help a:link,
section.banner ul.help a:visited {
  color: #fff;
  border-bottom: dotted 1px #e5e5e5;
}
section.banner ul.help a:hover,
section.banner ul.help a:active {
  border-bottom: solid 1px #e5e5e5;
}
.utility-bar {
  overflow: hidden;
  padding: 11px 0;
  font-size: 11px;
  background-color: #fff;
}
.utility-bar .breadcrumbs {
  font-weight: bold;
  text-align: left;
}
.utility-bar .actions {
  text-align: center;
}
/** Find Local Dropdown Styles **/
.find-local-dropdown-container {
  position: relative;
  display: none;
}

.find-local-dropdown {
  float: left;
  width: 340px;
  background: url('/acs/fragments/acs_refresh_scripts/images/white.gif') #FFF;
  border: solid 2px #3067b2;
  padding: 30px;
  z-index: 100;
  position: absolute;
  top: 5px;
  right: 10px;
  display: none;
  box-shadow: 0 3px 5px #333;
  /* behavior: url('/acs/websites/cancerorg/pie/pie.htc'); */
}
.find-local-dropdown form {
  border-top: solid 1px #3067b2;
  margin-top: 10px;
  padding-top: 10px;
}
.find-local-dropdown label {
  font-size: 11px;
}
.find-local-dropdown li {
  margin-left: 0;
  margin-bottom: .5em;
}
.find-local-dropdown ul {
  list-style: none;
}
.find-local-dropdown div.buttons {

	border-bottom: solid 1px #3067b2;
	margin-bottom: 10px;
	margin-top: 0;
	padding-bottom: 24px;
}
.find-local-dropdown div.buttons a {

    float: left;
	margin-right: 10px;
}
.find-local-dropdown div.buttons a.go{
	border: 1px solid #3067B3;
	padding-top: 2px;
	padding-bottom:2px;
}
.inline-block {
  display: inline-block;
}
#enter-city,
#enter-zip,
#enter-state {
  width: 130px;
}
.find-local-dropdown p {
  display: inline;
}
.go {
  float: right;
  background: #3067b2;
  color: #FFF;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  cursor:pointer;
  behavior: url('/acs/websites/cancerorg/pie/pie.htc');
}
/** Footer **/
footer.site {
  color: #e5e5e5;
  font-size: 12px;
  line-height: 18px;
  background: #242d3a;
  overflow: hidden;
  padding: 30px 0;
  text-align: left;
}
footer.site a:link,
footer.site a:visited {
  color: #e5e5e5;
  border-bottom: dotted 1px #E5E5E5;
}
footer.site a:hover,
footer.site a:active {
  border-bottom: solid 1px #E5E5E5;
}
footer.site h4 {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}
footer.site .column-links {
  overflow: hidden;
  border-bottom: solid 1px #40464f;
}
footer.site .column-links ul {
  list-style: none;
  float: left;
  margin-right: 36px;
  max-width: 20%;
}
footer.site .column-links ul li {
  margin-bottom: 1.2em;
}
footer.site .column-links ul:last-child {
  margin-right: 0;
}
footer.site .footer-bottom {
  padding: 40px 0 20px;
  color: #ccc;
}
footer.site .footer-bottom a:link,
footer.site .footer-bottom a:visited,
footer.site .footer-bottom a:hover,
footer.site .footer-bottom a:active {
  color: #ccc;
}
footer.site .footer-bottom ul {
  list-style: none;
  margin-bottom: 50px;
}
footer.site .footer-bottom ul li {
  display: inline;
  margin: 0 10px;
}


footer.site .footer-bottom ul li img {
	padding-right:4px;
	vertical-align: middle;
}
footer.site .footer-bottom a.aimg {
	border:none
}


footer.site .footer-bottom ul li:first-child {
  margin-left: 0;
}
footer.site .small-print {
  font-size: 11px;
  line-height: 17px;
  width: 275px;
  float: right;
}
/*****************************
		SKINNED THEMES
*****************************/
body .current-pointer {
  left: -1000em;
}
.theme-home .current-pointer {
  background-position: -150px 0;
  left: 26px;
}
.theme-home section.banner nav,
body section.banner nav {
  border-bottom: solid 3px #2d65b4;
}
.theme-home article.summary,
body article.summary {
  border-top: solid 1px #2d65b4;
}
.theme-home .hr,
body .hr {
  border-bottom: solid 1px #2d65b4;
}
.theme-home .quick-finder,
body .quick-finder,
.theme-home .utility-bar,
body .utility-bar {
  border-bottom: solid 2px #2d65b4;
}
.theme-home .right-column .head,
body .right-column .head,
.theme-home .head,
body .head,
.theme-home .featured,
body .featured,
.theme-home .highlight,
body .highlight {
  background-color: #2d65b4;
}
.theme-home .play-button,
body .play-button {
  background: url('/acs/fragments/acs_refresh_scripts/images/ui/play-buttons.png') no-repeat 0 center;
}
.theme-learn .current-pointer {
  background-position: 0 0;
  left: 140px;
}
.theme-learn section.banner nav {
  border-bottom: solid 3px #277da4;
}
.theme-learn article.summary {
  border-top: solid 1px #277da4;
}
.theme-learn .divDocumentImageList, .theme-learn .hr { border-bottom: solid 1px #277da4; }

.theme-learn .quick-finder,
.theme-learn .utility-bar {
  border-bottom: solid 2px #277da4;
}
.theme-learn .right-column .head,
.theme-learn .head,
.theme-learn .featured,
.theme-learn .highlight {
  background-color: #277da4;
}
.theme-learn .play-button {
  background: url('/acs/fragments/acs_refresh_scripts/images/ui/play-buttons.png') no-repeat -60px center;
}
.theme-healthy .current-pointer {
  background-position: -30px 0;
  left: 276px;
}
.theme-healthy section.banner nav {
  border-bottom: solid 3px #be4587;
}
.theme-healthy article.summary {
  border-top: solid 1px #be4587;
}
.theme-healthy .divDocumentImageList, .theme-healthy .hr { border-bottom: solid 1px #be4587; } 
.theme-healthy .quick-finder,
.theme-healthy .utility-bar {
  border-bottom: solid 2px #be4587;
}
.theme-healthy .right-column .head,
.theme-healthy .head,
.theme-healthy .featured,
.theme-healthy .highlight {
  background-color: #be4587;
}
.theme-healthy .play-button {
  background: url('/acs/fragments/acs_refresh_scripts/images/ui/play-buttons.png') no-repeat -120px center;
}
.theme-support .current-pointer {
  background-position: -60px 0;
  left: 429px;
}
.theme-support section.banner nav {
  border-bottom: solid 3px #6d6eb0;
}
.theme-support article.summary {
  border-top: solid 1px #6d6eb0;
}
.theme-support .divDocumentImageList, .theme-support .hr { border-bottom: solid 1px #6d6eb0; } 
.theme-support .quick-finder,
.theme-support .utility-bar {
  border-bottom: solid 2px #6d6eb0;
}
.theme-support .right-column .head,
.theme-support .head,
.theme-support .featured,
.theme-support .highlight {
  background-color: #6d6eb0;
}
.theme-support .play-button {
  background: url('/acs/fragments/acs_refresh_scripts/images/ui/play-buttons.png') no-repeat -180px center;
}
.theme-explore .current-pointer {
  background-position: -90px 0;
  left: 598px;
}
.theme-explore section.banner nav {
  border-bottom: solid 3px #4d7e77;
}
.theme-explore article.summary {
  border-top: solid 1px #4d7e77;
}
.theme-explore .divDocumentImageList, .theme-explore .hr { border-bottom: solid 1px #4d7e77; } 
.theme-explore .quick-finder,
.theme-explore .utility-bar {
  border-bottom: solid 2px #4d7e77;
}
.theme-explore .right-column .head,
.theme-explore .head,
.theme-explore .featured,
.theme-explore .highlight {
  background-color: #4d7e77;
}
.theme-explore .play-button {
  background: url('/acs/fragments/acs_refresh_scripts/images/ui/play-buttons.png') no-repeat -240px center;
}
.theme-involved .current-pointer {
  background-position: -120px 0;
  left: 725px;
}
.theme-involved section.banner nav {
  border-bottom: solid 3px #d74800;
}
.theme-involved article.summary {
  border-top: solid 1px #d74800;
}
.theme-involved .divDocumentImageList, .theme-involved .hr { border-bottom: solid 1px #d74800; } 
.theme-involved .quick-finder,
.theme-involved .utility-bar {
  border-bottom: solid 2px #d74800;
}
.theme-involved .right-column .head,
.theme-involved .head,
.theme-involved .featured,
.theme-involved .highlight {
  background-color: #d74800;
}
.theme-involved .play-button {
  background: url('/acs/fragments/acs_refresh_scripts/images/ui/play-buttons.png') no-repeat -300px center;
}
.theme-local .current-pointer {
  background-position: -150px 0;
  left: 844px;
}
.theme-local section.banner nav {
  border-bottom: solid 3px #2d65b4;
}
.theme-local article.summary {
  border-top: solid 1px #2d65b4;
}
.theme-local .divDocumentImageList, .theme-local .hr { border-bottom: solid 1px #2d65b4; }
.theme-local .quick-finder,
.theme-local .utility-bar {
  border-bottom: solid 2px #2d65b4;
}
.theme-local .right-column .head,
.theme-local .head,
.theme-local .featured,
.theme-local .highlight {
  background-color: #2d65b4;
}
.theme-local .play-button {
  background: url('/acs/fragments/acs_refresh_scripts/images/ui/play-buttons.png') no-repeat 0 center;
}
.home-featured {
  overflow: hidden;
  background: #f0f7ff;
  padding: 30px 0;
}
.home-featured .pod-container {
  overflow: hidden;
  padding-bottom: 10px;
 // border-bottom: solid 1px #dfe7f2;
  margin-bottom: 10px;
}
.pod-container:nth-child(2){
  overflow: hidden;
  padding-bottom: 30px;
  border-bottom: solid 1px #5881c1;
  margin-bottom: 30px;
}
/** PODS **/
ul.before-more {
  margin-bottom: 0;
}
p.read-more-icon {
  margin-left: 15px;
  padding-left: 20px;
  background: url('/acs/fragments/acs_refresh_scripts/images/bullet-more.gif') no-repeat scroll 4px center transparent;
}
.pod ul {
  list-style-image: url('/acs/fragments/acs_refresh_scripts/images/bullet-grey.gif');
}
.pod ul li {
  margin-left: 18px;
}
.pod h2,
.pod h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 5px;
}
.pod h2 i,
.pod h3 i {
  margin-left: 10px;
  vertical-align: baseline;
}
.pod h4 {
  font-weight: normal;
  font-size: 1em;
}
.pod .ignore-padding {
  margin: 0 -20px;
}
.homepage-pod {
  border-bottom: solid 2px #fff;
  background: #fff;
  border: solid 1px #e7f0fb;
  padding: 0 20px;
  width: 292px;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}
.homepage-pod ul {
  list-style-image: url('/acs/fragments/acs_refresh_scripts/images/bullet-grey.gif');
}
.homepage-pod ul li {
  margin-left: 35px;
}
.homepage-pod h2,
.homepage-pod h3 {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.homepage-pod h2 i,
.homepage-pod h3 i {
  margin-left: 10px;
  vertical-align: baseline;
}
.homepage-pod h4 {
  font-weight: normal;
  font-size: 1em;
}
.homepage-pod .ignore-padding {
  margin: 0 -20px;
}
.homepage-pod h1,
.homepage-pod h2,
.homepage-pod h3 {
  margin-left: 0;
  margin-top: 20px;
}
.homepage-pod p {
  margin-left: 0;
  margin-top: 15px;
}
.homepage-pod img {
  vertical-align: top;
}
.homepage-pod-2 {
  border-bottom: solid 2px #fff;
  background: #fff;
  border: solid 1px #e7f0fb;
  padding: 0 20px;
  width: 292px;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  width: 604px;
}
.homepage-pod-2 ul {
  list-style-image: url('/acs/fragments/acs_refresh_scripts/images/bullet-grey.gif');
}
.homepage-pod-2 ul li {
  margin-left: 35px;
}
.homepage-pod-2 h2,
.homepage-pod-2 h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 5px;
}
.homepage-pod-2 h2 i,
.homepage-pod-2 h3 i {
  margin-left: 10px;
  vertical-align: baseline;
}
.homepage-pod-2 h4 {
  font-weight: normal;
  font-size: 1em;
}
.homepage-pod-2 .ignore-padding {
  margin: 0 -20px;
}
.homepage-pod-2 h1,
.homepage-pod-2 h2,
.homepage-pod-2 h3 {
  margin-left: 0;
  margin-top: 20px;
  line-height: 1em;
}
.homepage-pod-2 p {
  margin-left: 0;
  margin-top: 15px;
}
.homepage-pod-2 img {
  vertical-align: top;
}
.homepage-pod-3 {
  border-bottom: solid 2px #fff;
  background: #fff;
  border: solid 1px #e7f0fb;
  padding: 0 20px;
  width: 292px;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  width: 916px;
}
.homepage-pod-3 ul {
  list-style-image: url('/acs/fragments/acs_refresh_scripts/images/bullet-grey.gif');
}
.homepage-pod-3 ul li {
  margin-left: 35px;
}
.homepage-pod-3 h2,
.homepage-pod-3 h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 5px;
}
.homepage-pod-3 h2 i,
.homepage-pod-3 h3 i {
  margin-left: 10px;
  vertical-align: baseline;
}
.homepage-pod-3 h4 {
  font-weight: normal;
  font-size: 1em;
}
.homepage-pod-3 .ignore-padding {
  margin: 0 -20px;
}
.homepage-pod-3 h1,
.homepage-pod-3 h2,
.homepage-pod-3 h3 {
  margin-left: 0;
  margin-top: 20px;
  line-height: 1em;
}
.homepage-pod-3 p {
  margin-left: 0;
  margin-top: 15px;
}
.homepage-pod-3 img {
  vertical-align: top;
}
.trending-pod h1,
.news-pod h1,
.trending-pod h2,
.news-pod h2,
.trending-pod h3,
.news-pod h3 {
  margin-left: 20px;
}
/* Full Width Pods */
.full-pod {
  border-bottom: solid 2px #fff;
}
.full-pod .intro {
  margin-top: 23px;
}
.container {
  width: 960px;
  margin: 0 auto;
}
.actions {
  display: inline;
  float: right;
  position: relative;
  margin-right: 0;
  width: 214px;
}
.breadcrumbs {
  display: inline;
  float: left;
  position: relative;
  width: 682px;
}
.narrow-container {
  width: 916px;
  margin: 0 auto;
}

.narrow-containerSpanish {
  width: 1100px;
  margin: 0 auto;
  
}
.pod-image {
  min-height: 213px;
  position: relative;
  overflow: hidden;
}

.pod-single,
.pod-double,
.pod-triple,
.pod-halved {
  width: 916px;
  margin-left: 22px;
  margin-right: 22px;
  padding-bottom: 10px;
  position: relative;
  overflow: hidden;

}
.pod-single p,
.pod-double p,
.pod-triple p,
.pod-halved p,
.pod-single h1,
.pod-double h1,
.pod-triple h1,
.pod-halved h1,
.pod-single h2,
.pod-double h2,
.pod-triple h2,
.pod-halved h2,
.pod-single h3,
.pod-double h3,
.pod-triple h3,
.pod-halved h3,
.pod-single h4,
.pod-double h4,
.pod-triple h4,
.pod-halved h4 {
  margin-left: 20px;
}
.pod-single ul,
.pod-double ul,
.pod-triple ul,
.pod-halved ul {
  list-style-image: url('/acs/fragments/acs_refresh_scripts/images/bullet-grey.gif');
}
.pod-single ul li,
.pod-double ul li,
.pod-triple ul li,
.pod-halved ul li {
  margin-left: 35px;
}
.pod-single ul.no-bullets,
.pod-double ul.no-bullets,
.pod-triple ul.no-bullets,
.pod-halved ul.no-bullets {
  list-style: none;
  list-style-image: none;
}
.pod-single ul.no-bullets li,
.pod-double ul.no-bullets li,
.pod-triple ul.no-bullets li,
.pod-halved ul.no-bullets li {
  margin-left: 0;
}
.pod-single h2,
.pod-double h2,
.pod-triple h2,
.pod-halved h2,
.pod-single h3,
.pod-double h3,
.pod-triple h3,
.pod-halved h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 5px;
}
.pod-single h2 i,
.pod-double h2 i,
.pod-triple h2 i,
.pod-halved h2 i,
.pod-single h3 i,
.pod-double h3 i,
.pod-triple h3 i,
.pod-halved h3 i {
  margin-left: 10px;
}
.pod-single hr,
.pod-double hr,
.pod-triple hr,
.pod-halved hr {
  margin-left: 20px;
  margin-bottom: 20px;
  border-top: solid 1px #ccc;
  border-right: none;
  border-bottom: none;
  border-left: none;
  clear: both;
}
.pod-single .button ~ .button,
.pod-double .button ~ .button,
.pod-triple .button ~ .button,
.pod-halved .button ~ .button {
  margin-left: 20px;
}
.pod-single .cTypeDropDown,
.pod-double .cTypeDropDown,
.pod-triple .cTypeDropDown,
.pod-halved .cTypeDropDown {
  width: 220px;
}
.pod-single label,
.pod-double label,
.pod-triple label,
.pod-halved label {
  font-size: .9em;
  line-height: 1em;
}
.pod-single input[type=text],
.pod-double input[type=text],
.pod-triple input[type=text],
.pod-halved input[type=text] {
  width: 140px;
}
.pod-single select,
.pod-double select,
.pod-triple select,
.pod-halved select {
  width: 200px;
  margin-right: 5px;
}
.pod-single a.button,
.pod-double a.button,
.pod-triple a.button,
.pod-halved a.button {
  text-align: center;
}
.pod-single form,
.pod-double form,
.pod-triple form,
.pod-halved form {
	margin-bottom: 1em;
}
.cancertype li {
  margin-bottom: 1em;
  margin-left: 20px;
}
.pod-single > div {
  width: 100%;
}
.pod-double .primary {
  width: 33%;
  float: left;
}
.pod-double .secondary {
  width: 66%;
  padding-left: 1%;
  float: left;
}
.pod-double.flipped .primary {
  width: 67%;
  float: left;
}
.pod-double.flipped .secondary {
  width: 32%;
  padding-left: 1%;
  float: left;
}
.pod-halved .primary {
  width: 49%;
  float: left;
}
.pod-halved .secondary {
  width: 49%;
  padding-left: 2%;
  float: left;
}
.pod-triple .primary {
  width: 33%;
  float: left;
}
.pod-triple .secondary,
.pod-triple .tertiary {
  width: 32%;
  padding-left: 1%;
  float: left;
}
.primary p,
.intro p,
.primary h1,
.intro h1,
.primary h2,
.intro h2,
.primary h3,
.intro h3,
.primary h4,
.intro h4,
.primary hr,
.intro hr {
  margin-left: 0;
}
.intro {

}
.with-image {
  min-height: 204px;
  overflow: hidden;
}
.with-image .primary,
.pod-image img {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.with-image .intro {
  padding-left: 34%;
  margin-left: 20px;
}
.with-image .secondary {
  margin-left: 33%;
}
.with-image .play-button {
  padding-top: 30px;
}
.with-image .thumbnail  {
  margin-top: 30px;
  box-shadow: 0 2px 5px rgba(0,0,0,.35);
  behavior: url('/acs/websites/cancerorg/pie/pie.htc');
}
.featured,
.highlight,
.infographics {
  color: #fff;
}
.featured a:link,
.highlight a:link,
.infographics a:link,
.featured a:visited,
.highlight a:visited,
.infographics a:visited,
.featured a:hover,
.highlight a:hover,
.infographics a:hover,
.featured a:active,
.highlight a:active,
.infographics a:active {
  color: #fff;
  border-bottom-color: rgba(255, 255, 255, 0.5);
}
.featured .hr-top,
.highlight .hr-top,
.infographics .hr-top {
  border-top: solid 1px rgba(255, 255, 255, 0.5);
}
.featured hr,
.highlight hr,
.infographics hr {
  border-top: solid 1px rgba(255, 255, 255, 0.5);
}
.infographic-preview {
  box-shadow: 0 2px 5px #333;
}
.featured {
  background: url('/acs/fragments/acs_refresh_scripts/images/backgrounds/featured-gradient.png') repeat-x top center;
  font-size: 16px;
}
.featured h1 {
  font-size: 22px;
  font-weight: bold;
  line-height: 22px;
  margin-bottom: 20px;
  margin-bottom: 10px;
}
.featured h2 {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 20px;
  margin-bottom: 10px;
}
.featured h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 5px;
}
.pod-cancer-type-2 p {
  font-size: 13px;
}
.infographics {
  background: #237685;
  color: #e9f1f3;
  overflow: hidden;
}
.infographics .intro {
  border-bottom: solid 1px #4C98A6;
  margin-top: 23px;
}
.infographics h2 {
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 20px;
  margin-bottom: 17px;
}
.infographics h3 {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3em;
  margin-bottom: 15px;
}
.infographics p,
.infographics h1,
.infographics h2,
.infographics h3,
.infographics h4 {
  margin-right: 20px;
}
.infographics .primary,
.infographics .secondary,
.infographics .slideshow-nav {
  padding-top: 20px;
  padding-bottom: 20px;
}
.infographics .slideshow-nav {
  border-top: solid 1px #4C98A6;
  clear: both;
  text-align: center;
}
.infographics .slideshow-nav img {
  vertical-align: middle;
  display: inline-block;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
}
.infographics ul.thumbs {
  list-style: none;
  display: inline-block;
  margin-left: 0;
}
.infographics ul.thumbs li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}
.infographics .button ~ .button {
  margin-left: 15px;
}
.odd {
  background: #fff;
}
.even {
  background: #f2f2f2;
}
a.video-thumb, a.video-thumb-autoplay {
  position: relative;
  display: block;
  border-bottom: none;
}
.video-link, video-link-autoplay {
  font-size: 13px;
}
.play-button {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
  background: url('/acs/fragments/acs_refresh_scripts/images/ui/play-buttons.png') no-repeat 0 center;
  z-index: 10;
}
a.zoom-link {
  display: block;
  position: relative;
}
a.zoom-link .icon {
  position: absolute;
  top: 20px;
  left: 20px;
}
a.rss-button {
  border-bottom: medium none;
  vertical-align: middle;
}
.search-button {
  width: 100px;
}
div.twocols {
/*  -webkit-column-width: 292px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  -webkit-column-break-inside: avoid;
  -webkit-column-break-after: always;
  -moz-column-width: 292px;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -moz-column-break-inside: avoid;
  -moz-column-break-after: always;
  column-width: 292px;
  column-count: 2;
  column-gap: 20px;
  column-break-inside: avoid;
  column-break-after: always; */
  margin-bottom: 20px;
}
div.twocols ul {
  margin-bottom: 0;
  margin-left: 0;
}
div.threecols {
/*  -webkit-column-width: 292px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  -webkit-column-break-inside: avoid;
  -webkit-column-break-after: always;
  -moz-column-width: 292px;
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -moz-column-break-inside: avoid;
  -moz-column-break-after: always;
  column-width: 292px;
  column-count: 3;
  column-gap: 20px;
  column-break-inside: avoid;
  column-break-after: always;*/
  margin-bottom: 20px;margin-top:10px;
}
div.threecols ul {
  margin-bottom: 0;
  margin-left: 0;
}
.splitlist_2 {
  overflow: hidden;
}
.splitlist_2 ul {
  width: 50%;
  float: left;
  margin-left: 0;
}
.splitlist_3 {
  overflow: hidden;
}
.splitlist_3 ul {
  width: 33%;
  float: left;
  margin-left: 0;
}
/** Article Page **/
p.edit-link {
  margin-bottom: .5em;
}
.main-article {
  overflow: hidden;
  margin-bottom: 40px;
}
.main-article ul,
.main-article ol {
  margin-left: 17px;
  overflow: hidden;
}
.main-article input {
  font-size: 11px;
  padding: 5px 10px;
}
.main-article.with-right-rail {
/*  background: url('/acs/fragments/acs_refresh_scripts/images/backgrounds/right-column.png') repeat-y 712px;*/
}
section.left-column {
  margin-top: 30px;
}
article.summary {
  padding: 20px 0 20px;
  overflow: hidden;
}
article.summary img {
  float: left;
  margin-right: 20px;
}
article.summary a {
  color: #3067b3;
  text-decoration: underline dotted;
  font-weight: bold;
}
article.summary p:last-child {
  margin-bottom: 0;
}
.right-column {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 20px;
  overflow: hidden;
}
.utility-bar + .main-article > .right-column {
  padding-top: 0;
}
.head {
  text-align: center;
  padding: 11px;
  color: #fff;
  margin-bottom: 20px;
  position: relative;
  z-index: 5;
  behavior: url('/acs/websites/cancerorg/pie/pie.htc');
}
.with-image:hover {
    color:inherit !important; 
}
.with-image:hover .at-branding-addthis {
    color: #fff;
}
.head .current-pointer {
  bottom: -5px;
  left: 100px;
}
.quick-finder {
  background-color: #FFFFFF;
  border-bottom: solid 2px #ba4786;
  margin-bottom: 30px;
  box-shadow: 0px 30px 0px 0px white;
}
.quick-finder #quick-finder-list {
  list-style-image: url('/acs/fragments/acs_refresh_scripts/images/bullet.gif');
  margin-left: 16px;
  margin-bottom: 30px;
}
.quick-finder #quick-finder-list li {
  margin-bottom: .5em;
}
#more-infographics {
  list-style-image: url('/acs/fragments/acs_refresh_scripts/images/bullet.gif');
}
/**Program Page Styles**/
.text-size-controls {
  display: inline;
  margin: -25px 5px 0 0;
}
.text-size-controls p {
  float: right;
}
.text-size-controls p .icon {
  vertical-align: text-top;
}
.text-size-controls a {
  border-bottom: none;
}
.reach-recovery {
  padding: 30px 0;
  background: #6d6eb0;
  color: #FFF;
  overflow: hidden;
  margin-bottom: 40px;
  text-align: center;
}
.reach-recovery p {
  font-size: 1.1em;
  margin-bottom: 0;
}
.white-button-support {
  color: #3067B3;
  background: #fff;
}
.reach-zip {
  margin: 0 20px;
}
.left-column ul {
  margin-left: 20px;
}
/**
Search Page Elements
**/
.content-box {
  overflow: hidden;
  border-bottom: solid 2px #2d65b4;
  margin-bottom: 30px;
  padding-bottom: 20px;
  position: relative;
}
.content-box .head {
  position: relative;
}
.content-box .head h3 {
  text-align: center;
  color: #fff;
}
.content-box .column {
  position: static;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 33%;
  float: left;
}
.content-box .column .button {
  position: absolute;
  bottom: 20px;
}
.content-box ul {
  list-style-image: url('/acs/fragments/acs_refresh_scripts/images/bullet.gif');
}
.content-box ul li {
  margin-left: 35px;
}
.content-box.stackable {
  border-bottom: none;
  margin-bottom: 0;
}
.left-column .content-box .current-pointer {
  bottom: -5px;
  left: 340px;
}
.column-container {
  background: #fff;
  overflow: hidden;
  margin-top: 20px;
}
.column-container .col {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 12px;
  padding-right: 12px;
}
.column-container.EventCats .col,
.column-container.ResourceCats .col,
.column-container.pod-local-quickfinder .col {

    padding-left: 0;
}
.column-container ul {
  margin-left: 20px;
}
.column-container ul li {
  list-style-image: none !important;
}
.column-container ul.checkbox-list {
  margin-left: 0;
}
.column-container ul.checkbox-list li {
  list-style-type: none !important;
}
.column-container.shaded {
  background: #f2f2f2;
  display: none;
}
.column-container.padded {
  padding: 15px 10px;
}
.column-container.single .col {
  width: 100%;
  margin-top: 15px;
}
.column-container.three .col {
  width: 33%;
}
.column-container.separators .col {
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-left: solid 1px #c8c8c8;
}
.column-container.separators .col:first-child {
  border-left: none;
}
.column-container.stacked {
  margin-top: 0;
  border-top: solid 1px #c8c8c8;
}
.more-panel {
  background: #eee;
}
.more-panel ul {
  margin-left: 15px;
}
#map_canvas {
	border: solid 1px #858585;
	margin-bottom: 1em;
}
.map-key {
  list-style: none;
  float: left;
  margin-left: 0 !important;
}
.map-key .key {
  background: url('http://placehold.it/20x20') 0 top no-repeat;
  width: 20px;
  text-align: center;
  position: absolute;
  left: -25px;
  background: #3067B3;
  color: white;
  border-radius: 10px;
}
.vcard {
  margin-bottom: 1em;
}
.vcard h3 {
  line-height: 1.2em;
  margin-bottom: 1em;
}
.vcard p {
  margin: 0;
  line-height: 1.5em;
}
.vcard .adr {
  margin-bottom: 1em;
}
section section:first-child {
  padding-top: 0;
}
section section:last-child {
  padding-bottom: 0;
}
section section {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}
/* Share This Style */
#share-this-container, #saved-articles-wrapper {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  display: none;
}
#share-this, #saved-articles, #saveddocs-modal {
  width: 422px;
  padding: 20px 20px 40px;
  position: fixed;
  top: 60px;
  left: -211px;
  margin-left: 50%;
  background: #fff;
}
#share-this header, #saved-articles header, #saveddocs-modal header {
  overflow: hidden;
}
#share-this h3, #saved-articles h3, #saveddocs-modal h3 {
  background: url('/acs/fragments/acs_refresh_scripts/images/backgrounds/signin-header-bg.png') no-repeat 100% 0 #3067b3;
  color: #fff;
  text-indent: 11px;
  font-weight: normal;
  text-transform: uppercase;
  height: 31px;
  line-height: 31px;
  margin-bottom: 20px;
  display: block;
  width: 348px;
  float: left;
}
#share-this div.close, #saved-articles div.close, #saveddocs-modal div.myACS-close {
  float: left;
  background: url('/acs/fragments/acs_refresh_scripts/images/backgrounds/signin-header-close-bg.png') top left #cccccc;
  font-size: 11px;
  height: 31px;
  width: 74px;
  line-height: 31px;
  text-indent: 15px;
  color: #3067B3;
}
#saveddocs-modal div.myACS-close {
	text-indent: 0;
}
#saveddocs-modal div.myACS-close a {
	border-bottom: none;
}
div#modal-saved-docs{
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
}

.list-saved-articles li.saved-articles-edit div a.link-saved-article-remove {
    background: url("/acs/fragments/acs_css_files/images/new_modal_images/icon-x-red.gif") no-repeat scroll left top transparent;
    padding: 0 0 0 16px;
}
.addthis_toolbox {
  padding: 20px;
  border: solid 1px #ccc;
}
body {
  background: #fff;
  background-image: none;
}
#page-wrapper {
  overflow: hidden;
  background-color: #fff;
  text-align: left;
}
#page-wrapper .right {
  float: right;
  width: 214px;
  margin-right: 40px;
}
.right {
  float: right;
}
.full-width {
  margin-top: 1em;
}
.main-article .pod ul li {
  background-image: none;
  list-style-image: url('/acs/fragments/acs_refresh_scripts/images/bullet.gif');
  padding-left: 0;
  margin: 0 0 0 18px;
}
.main-article ul li, #bucket ul li {
  background-image: none;
  list-style: square outside none;
  padding-left: 0;
  margin: 0 0 12px 15px;
}
.main-article ul li ul li, #bucket ul li ul li {
  background-image: none;
  list-style: disc outside none;
  margin: 12px 0 0 15px;
}
.main-article ul li ul li ul li , #bucket ul li ul li ul li {
  background-image: none;
  list-style: circle outside none;
  margin: 12px 0 0 15px;
}
.main-article ul ul, #bucket ul ul {
  margin-bottom:0;
}
.main-article ul ul ul, #bucket ul ul ul {
  margin-bottom:0;
}
.main-article .research_hl_container ul {
    margin-left: 20px;
}
.main-article .column-container ul li {
  list-style-image: none;
}
.main-article h4 {
  text-align: left;
}
.btn a:link,
.btn-18 a:link,
.btn a:visited,
.btn-18 a:visited,
.btn a:hover,
.btn-18 a:hover,
.btn a:active,
.btn-18 a:active {
  color: #fff;
  display: block;
  float: left;
  font-size: 12px;
  height: 24px;
  border-bottom: none;
}
.btn-18 a:link,
.btn-18 a:visited,
.btn-18 a:hover,
.btn-18 a:active {
  font-size: 10px;
  height: 18px;
}
#wrapper.my-acs #page-top #page-subhead,
#wrapper.espanol #page-top #page-subhead,
#wrapper.about-us #page-top #page-subhead,
#wrapper.blog-theme #page-top #page-subhead,
#wrapper.apicem #page-top #page-subhead,
#wrapper.in-your-area #page-top #page-subhead,
#wrapper.espanol.search-page #page-top-h3,
#mapModalWrapper,
#eventSearchFormKeyword label,
#google-login,
#yahoo-login,
#facebook-login,
#liveid-login,
#openid-login,
#aol-login,
#blog-header,
ul#monthList ul,
#dynamic-converter-document .print-only,
.hide,
#login-wrapper {
  display: none;
}
.search-page #pagination li,
#pagination li {
  list-style-image: none;
}
#pagination {
  margin-left: 0;
}
#pagination li {
  margin-bottom: 0;
}
#pagination #pagin-last a,
#pagination #pagin-first a {
  padding-top: 16px;
}
#pagination #pagin-last a p,
#pagination #pagin-first a p {
  color: #3067B3 !important;
}
#pagination #pagin-last a:hover p,
#pagination #pagin-first a:hover p {
  color: #fff !important;
}
.search-result {
  border-top: solid 1px #d6d6d6;
  padding: 10px 0;
}
.search-result p,
.search-result h2,
.search-result h3,
.search-result h4,
.search-result h5 {
  margin-bottom: 0;
}
.search-result p a,
.search-result h2 a,
.search-result h3 a,
.search-result h4 a,
.search-result h5 a {
  border-bottom: none;
  font-weight: normal;
}
/**
Search Page Elements
**/
.content-box {
  overflow: hidden;
  border-bottom: solid 2px #2d65b4;
  margin-bottom: 30px;
  padding-bottom: 20px;
  position: relative;
}
.content-box .head {
  position: relative;
}
.content-box .head h3 {
  text-align: center;
  color: #fff;
}
.content-box .column {
  position: static;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 33%;
  float: left;
}
.content-box .column .button {
  position: absolute;
  bottom: 20px;
}
.content-box ul {
  list-style-image: url('/acs/fragments/acs_refresh_scripts/images/bullet.gif');
  margin-left: 35px;
}
.content-box ul li {
  margin-left: 35px;
}
.content-box ul li {
  margin-left: 0;
}
.accessibility-label { 
	left: -10000px; 
	position: absolute; 
}
.theme-local ul.tabs li.tab-local.active,.theme-local ul.tabs #nav-myacs.active,
.theme-local ul.tabs li.tab-local.active:hover, .theme-local ul.tabs #nav-myacs.active:hover {
	position: absolute;
	bottom: -9px;
	right: 0;
	padding-top: 19px;
	padding-bottom: 27px;
	z-index: 20;
}
.find-local-dropdown-container {
    padding-bottom: 5px;
    background: url(/acs/fragments/acs_refresh_scripts/images/backgrounds/find-local-dropdown-container.gif) top right repeat-y;
    z-index: 12;
    top: -1px;
}
.theme-local .find-local-dropdown-container {
    background: url(/acs/fragments/acs_refresh_scripts/images/backgrounds/find-local-dropdown-container-local-acs.gif) top right repeat-y;
}
#form-search-events .searchform {
	border-bottom: 1px dotted #94B2DC;
    color: #3067B3;
}
.pod-double #form-search-events input[type="text"]{
	width: 120px;
	font-size:12px;
}
input.small {width: 120px; font-size: 12px;} 
.secondary label {display: block; margin-bottom: .5em;} 
.zip-container {margin-bottom: 1em; margin-left: 20px;} 
.city-container {float: left; margin-right: 5px; margin-bottom: 1em; margin-left: 20px;} 
.state-container {float: left;} .submit-container {clear: both; margin-left: 20px;} 


footer.site .footer-bottom .pipes li { 
	border-left: solid 1px #ccc; 
	padding-left: 20px; 
	padding-right: 20px; 
	margin: 0; 
} 

footer.site .footer-bottom .pipes li:first-child { 
	padding-left: 0; 
	border-left: none; 
}

.pod-cancer-type-3 .secondary .skinned-wrapper {
    margin-left: 20px;
}

/* hide prettyphoto title below video*/
div.ppt, .pp_description {
    display: none !important;
}

/**
 * Predictive Search/AutoComplete results rules
 */
.ac_results {
	background-color:#FFF;
	border:1px solid #000;
	overflow:hidden;
	text-align:left;
	z-index:99999;
	padding:0;
}
.ac_results ul {
	list-style:none;
	list-style-position:outside;
	width: 233px;
	margin:0;
	padding:0;
}
.ac_results li {
	cursor:default;
	display:block;
	font:menu;
	font-size:12px;
	line-height:16px;
	overflow:hidden;
	margin:0;
	padding:2px 5px;
}
.ac_loading {
	background:#FFF url('indicator.gif') right center no-repeat;
}
.ac_odd {
	background-color:#eee;
}
.ac_over {
	background-color:#0A246A;
	color:#FFF;
}
/** @end autocomplete results */

hr.hr {
  border-bottom: solid 1px #2d65b4;
}
.infographic-share-container{
	z-index: 100010;
	position: fixed;
}
.infographic-share-container header h3{
	font-size: 15px;
    margin: 0 0 20px;
}
.infographic-share-container header .close a:link, .infographic-share-container header .close a:visited{
    color: #3067B3;
    text-decoration: none;
}
.infographic-share-overlay{
   position: absolute;
    top: 0;
    left:0;
    background: #000;
    display: none;   
    opacity: .5;
    filter: alpha(opacity=50);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	z-index: 100000;
}
/** added to move the h1 on the homepage around the join the fight logo **/
h1#join-the-fight-h1{
	float: right;
	margin: 22px 0 ;
}

/* style for the 1px X 1px hero img alt tag */
.onepx {
	width:1px;
	height:1px;
	position:absolute;
	left:-9999px;
}
 
 /* height fix for local acs dropdown - 'GO' button on ie8 was having issues with variable height of description/error message*/
div#preferencesDescription{
	height:40px;
}
div.embededVideo{
	display: none;
}


/* for article pods */

#article_image {
	float:left; 
	margin-right: 15px;
}

q { 
	font-family:comic sans ms;
}

#article_body { 
	clear:both;
	margin: 10px; 
}

address p {  
	margin-bottom:0px; 
}
#font-resize {
     float: right;
     text-align: right;
     width: 150px;
     line-height: 18px;
     margin: 16px 0 16px 0; 	
}
#text-plus {
     background: url("/acs/fragments/acs_refresh_scripts/images/ui/icons.png") no-repeat scroll -128px 0pt transparent;
     border: medium none;
     display: block;
     float: right;
     font-size: 0pt;
     height: 18px;
     line-height: 0;
     margin: 0px 2px 0pt 5px;
     overflow: hidden;
     width: 16px;
}
#text-minus {
     background: url("/acs/fragments/acs_refresh_scripts/images/ui/icons.png") no-repeat scroll -160px 0pt transparent;
     border: medium none;
     display: block;
     float: right;
     font-size: 0pt;
     height: 18px;
     margin: 0px 2px 0pt 5px;
     overflow: hidden;
     width: 16px;
}
#right {
    float: right;
    width: 214px;
}
.right .head {
     color: #FFFFFF;
     margin-bottom: 20px;
     padding: 15px;
     position: relative;
     text-align: center;
}
.right #msgblock-right-column .head {
     margin-bottom:0;
}
#share-this-wrapper, #saved-articles-wrapper {
    background: url("/acs/fragments/acs_refresh_scripts/images/backgrounds/black_50.png") repeat scroll 0 0 transparent;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
}
.left-column {
    float: left;
    margin-left: 0;
    width: 682px;
}
.modal-header p {
	background:url(/acs/fragments/acs_css_files/images/global/signin-header-close-bg.png) no-repeat 0 0;
	color:#3067b3;
	float:left;
	font-size:12px;
	font-weight:700;
	height:31px;
	line-height:31px;
	text-indent:9px;
	width:74px;
}
.share-this-h3 {
	background:#3067B3 url(/acs/fragments/acs_css_files/images/global/signin-header-bg.png) no-repeat 100% 0;
	color:#fff;
	float:left;
	font-size:16px;
	font-weight:400;
	height:31px;
	line-height:31px;
	margin-bottom:0;
	text-indent:11px;
	text-transform:uppercase;
	width:347px;
}
#secondary-wrapper {
	width: 916px;
	margin :0 auto;
	/*background: url('/acs/fragments/acs_refresh_scripts/images/ui/bg-right-rail.jpg') repeat-y right top;*/
	position: relative;
}
.whitebox {
	width:214px;
	height:30px;
	position:absolute;
	bottom:0px;
	right:0;
	background-color:white;
}

/* SECONDARY PODS*/

section.left-column {
	margin-top:0px;
	}
.article_image, .article-image {
	float:left;
	margin:0px 20px 20px 0px;
	}
#bucket{
	float:left;
	margin-top:20px;
	}
#bucket p:last-child {
	margin-bottom: 10px;
	}
section section:last-child #bucket {
	margin-bottom:-20px;
	}
.quote { 
	font-weight:bold;
	font-size:16px;
	width:660px;
	margin-top:30px;
	margin-bottom:10px;
	padding: 20px;
	float:left;
	}
address p {  
	margin-bottom:0px; 
}
.article_author {
	float:left;
	font-weight:bold;
	}
.article_date {
	float:left;
	font-weight:bold;
	}
.article_category {
	float:left;
	font-weight:bold;
	}
.divider {
	width:0px;
	margin:0 10px;
	border-right:1px solid #ccc;
	}
.blue-theme .quote{
	border-top:2px solid #2d65b4;
	border-bottom:2px solid #2d65b4;
	color:#2d65b4;
	}
.teal-theme .quote{
	border-top:2px solid #277da4;
	border-bottom:2px solid #277da4;
	color:#277da4;
	}
.pink-theme .quote{
	border-top:2px solid #be4587;
	border-bottom:2px solid #be4587;
	color:#be4587;
	}
.purple-theme .quote{
	border-top:2px solid #6d6eb0;
	border-bottom:2px solid #6b6eb0;
	color:#6b6eb0;
	}
.green-theme .quote{
	border-top:2px solid #4e7b74;
	border-bottom:2px solid #4e7b74;
	color:#4e7b74;
	}
.orange-theme .quote{
	border-top:2px solid #d74800;
	border-bottom:2px solid #d74800;
	color:#d74800;
	}

/* FOOTER PROMO */

#finishthefight div.footer-promo {
	display:none;
	}
.footer-promo {
	margin: -30px auto 30px;
	text-align:center;
	position: relative;
	}
.promo-background-right {
	float: right;
    width: 50%;
    }
.promo-background-left {
	float: left;
    width: 50%;
    }
.footer-promo section {
	position: absolute;
	left: 0;
	right: 0;
	display: inline-block;
	z-index: 1000;
	}
.footer-promo section a:link, .footer-promo section a:hover, .footer-promo section a:visited {
	text-decoration: none;
	border: none;
	}
	
	
	/*** NEW INFOGRAPHIC POD ***/
div.four-cols {
  width: 23.3%;
  margin-right: 20px;
  padding-top: 20px;
  float: left;
}

div.four-cols h3{
  margin: 20px 0 10px;
}

.infographics div.four-cols h3{
  margin: 11px 0 10px;
}

div.four-cols p{
  margin: 0;
  height: 100px;
}

.oneline{
  height: 120px;
}

div.four-cols ul{
  clear: both;
  vertical-align: bottom;
}

div.four-cols li{
  list-style: none;
  float: left;
  margin:0 6px 0 0;
}

.social{
  background: url(/acs/fragments/acs_refresh_scripts/img/socialmedia.gif) no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  bottom: 5px;
}

.social img{
		height: 0px;
		width: 0px;
}
.addthis_button_facebook{
  background-position: -6px 0px;
}

.addthis_button_facebook:hover{
  background-position: -6px -36px;
}

.addthis_button_pinterest_share{
  background-position: -47px 0;
}

.addthis_button_pinterest_share:hover{
  background-position: -47px -36px;
}

.addthis_button_twitter{
  background-position: -87px 0;
}

.addthis_button_twitter:hover{
  background-position: -87px -36px;
}

.addthis_button_google_plusone_share{
  background-position: -126px 0;
}

.addthis_button_google_plusone_share:hover{
  background-position: -126px -36px;
}

.addthis_button_compact{
  background-position: -169px 0;
}

.addthis_button_compact:hover{
  background-position: -169px -36px;
}
.addthis_toolbox.infographic_4col_layout{
	padding: 0px;
	border: 0px;
}
.infographic_4col_layout .custom_images .social{
	height: 32px;
	width: 25px;
}