@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #999;
    background-color: #fff;
    overflow-x: hidden
}

a {
    text-decoration: none !important;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover,
.dropdown-menu > li:hover > a {
    background: #f5cc2a !important;
    color: #000 !important;
}

.btn-yellow {
    color: #000 !important;
}

.star-ratings-css, .star-ratings-css span {
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;
    height: 20px;

}

.star-ratings-css {
    width: 100px;
    margin: 0 auto;
    position: relative;
    background-image: url(../images/gray.png);
}

.star-ratings-css span {
    background-image: url(../images/orange.png);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 0;
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 44px;
    background: #393E4A;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    font-size: 23px;
}

#back-to-top:hover {
    background: #000100;
}

#back-to-top.show {
    opacity: 1;
}

#sb-site {
    background: #2c3136;
}

#content {
    padding-bottom: 20px;
}

#header .navbar-custom, #mobile-header {
    background: #f5cc2a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*
HAY HD TABS
*/
.pagination > li > a,
.pagination > li > span,
.box-asian-tabs,
.block-bg,
.panel-dark {
    background: #1c1c1c !important;
    border: 1px solid #3a3a3a !important;
}

.block-heading.with-tabs .box-asian-tabs {
    background: transparent !important;
    border: none !important;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover, .nav > li > a:focus, .nav > li > a:hover, .dropdown-menu > li:hover > a {
    background: #af8b00 !important;
}

.box-asian-tabs .nav-tabs {
    border-bottom: 2px solid #af8b00;
}

.box-asian-tabs .nav-tabs > li {
    position: relative;
}

.box-asian-tabs .nav-tabs > li + li:after {
    content: '';
    position: absolute;
    height: 40%;
    border-right: 1px dashed #bfbfbf;
    top: 30%;
    left: 0;
}

.box-asian-tabs .nav-tabs > li.active > a,
.box-asian-tabs .nav-tabs > li.active > a:focus,
.box-asian-tabs .nav-tabs > li.active > a:hover {
    border-width: 0;
}

.box-asian-tabs .nav-tabs > li > a {
    border: none;
    color: #af8b00;
    font-size: 14px;
    padding: .9em 1.1em
}

.box-asian-tabs .nav-tabs.nav-justified > li > a {
    font-size: 13px;
}

.box-asian-tabs .nav-tabs > li.active > a,
.box-asian-tabs .nav-tabs > li > a:focus,
.box-asian-tabs .nav-tabs > li > a:hover {
    border: none;
    color: #f5cc2a !important;
    background: transparent !important;
}

.box-asian-tabs .nav-tabs > li > a::after {
    content: "";
    background: #DDD;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.box-asian-tabs .nav-tabs > li.active > a::after,
.box-asian-tabs .nav-tabs > li:hover > a::after {
    transform: scale(1);
}

.box-asian-tabs .tab-pane {
    border: 0;
    padding: 0;
}

.box-asian-tabs .tab-content {
    padding: 0 10px;
}

/*END*/
#header .navbar-custom-menu {
    vertical-align: top;
}

#header .header-top {
    height: 50px;
}

#header .navbar-brand {
    padding-top: 4px;
    padding-bottom: 4px;
    /*margin-right: 20px;*/
}

#header .logo {
    background: url(../images/logo.png) no-repeat;
    display: block;
    text-indent: -9999px;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
    height: 100%;
    width: 115px;
}

#header .navbar-nav {

}

#header .nav > li > a {
    padding: 15px 10px 10px !important;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    text-transform: uppercase;
    color: #3e3202
}

#header .nav > li > a:focus,
#header .nav > li > a:hover {
    background: #312908;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 3px #706053;
    color: #f5cc2a
}

#header .form-search {
    width: 360px;
    margin-right: 40px;
    margin-top: 5px;
}

#header .form-search .form-control {
    background: #846900;
    border-color: #f5cc2a;
    color: #fff;
    border-right: 0;
}

#header .form-search .input-group-addon {
    border-color: #f5cc2a;
}

#header .form-search .input-group-addon:last-child {
    background: #2c3136;
    color: #f5cc2a;
}

/*BLOCK */
.block {
    position: relative;
    margin-bottom: 30px;
}

.block .block-heading {
    position: relative;
    border-bottom: 2px solid #af8b00;
    padding-bottom: 10px;
}

.block .block-heading a {
    color: #f5cc2a;
    text-decoration: none;
}

.block .with-tabs .box-asian-tabs {
    background: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
}

.block .with-tabs .box-asian-tabs .nav-tabs > li > a {
    padding-bottom: 19px !important;
}

.block .block-title {
    font-weight: lighter;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 35px;
    color: #f5cc2a;
}

.block .block-content {
    margin-top: 20px;
}

.thumb-icon {
    position: absolute;
    left: 0;
    color: #FFF;
    background: #000;
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    top: -100%;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;;
}

.thumb-icon i {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    margin: 0 auto;
}

a:hover .thumb-icon {
    top: 0;
}

/*.DefaultIndex .block-items > div:nth-child(n+25) {
    display: none;
}*/

.block-items .item,
.tab-lists .list-item-with-thumb .outer {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 150%;
}

.block-items .item .inner,
.tab-lists .list-item-with-thumb .inner {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;

}

.block-items .item .inner .movie-thumb {
    width: 100%;
}

.block-items .item .description,
.tab-lists .list-item-with-thumb .inner .description {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
    padding: 20px 10px;
}

.block-items .item .overlay,
.tab-lists .list-item-with-thumb .inner .overlay {
    z-index: 1;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 151px;
    background: url(../images/gradient.png) repeat-x;
}

.block-items .item .description h3,
.tab-lists .list-item-with-thumb .inner .description h3 {
    color: #f5cc2a;
    font-size: 15px;
    font-weight: 600;
}

.block-items .item .description .meta,
.tab-lists .list-item-with-thumb .inner .description .meta {
    margin-top: 10px;
    color: #b4b4b4;
    font-size: 13px;
    font-weight: normal;
}

.block-items .badge {
    position: absolute;
    z-index: 1;
    background: #f5cc2a;
    border-radius: 3px;
    color: #222;
    top: 10px;
    left: 10px;
    font-weight: bold;
}

.column-with-300 {
    width: calc(100% - 320px);
    float: left;
}

.column-300 {
    width: 300px;
    float: right;
}

.tab-lists {
    margin: 10px -5px;
}

.tab-lists > a.list-item-with-thumb {
    cursor: pointer;
    width: 100%;
    padding: 5px;
    margin: 0;
    overflow: hidden;
    position: relative;
    float: left;
}

.tab-lists .list-item-with-thumb .outer {
    margin-top: 0;
}

.tab-lists .list-item-with-thumb .icon-play {
    -webkit-background-size: 30px !important;
    background-size: 30px !important;;
}

.tab-lists .list-item-with-thumb .number {
    width: 18px;
    height: 18px;
    overflow: hidden;
    display: inline-block;
    font-style: normal;
    background: #ca3100;
    color: #fff;
    text-align: center;
    font: 12px/18px arial;
    vertical-align: -3px;
    position: absolute;
    top: 0;
}

.tab-lists .list-item {
    display: none;
    padding: 5px;
    text-decoration: none;
    clear: both;
}

.tab-lists .list-item-with-thumb .inner .description {
    padding: 5px 10px;
}

.tab-lists > a.list-item .right-top-rating {
    float: right;
    width: 80px;
}

.rating-small .star-ratings-css {
    width: 80px;
}

.rating-small .star-ratings-css,
.rating-small .star-ratings-css span {
    -webkit-background-size: 16px 16px;
    background-size: 16px 16px;
    height: 16px;
}

.tab-lists > a.list-item .number {
    width: 18px;
    height: 18px;
    overflow: hidden;
    display: inline-block;
    font-style: normal;
    background: #999;
    color: #fff;
    text-align: center;
    font: 12px/18px arial;
    vertical-align: -3px;
    float: left;
}

.tab-lists > a.list-item .title {
    height: 18px;
    overflow: hidden;
    display: block;
    font-size: 13px;
    margin: 0 85px 0 25px;
    font-weight: normal;
    LINE-height: 18px;
    color: #a2a2a2;
}

.tab-lists > a.list-item:hover {
    text-decoration: none;
    background: #272727;
    cursor: pointer;
}

.tab-lists .list-item-with-thumb .img-responsive {
    width: 100%;
    height: auto;
    max-width: inherit;
}

.tab-lists > a.list-item:hover .title {
    color: #fff
}

.tab-lists .list-item-with-thumb:nth-child(n+2) {
    /* CSS Từ vị trí thứ 3*/
    display: none;
}

.tab-lists .list-item:nth-child(n+2) {
    /* CSS Từ vị trí thứ 3*/
    display: block;
}

.list-group-movie {
    padding: 0;
    list-style-type: none;
    counter-reset: li;
    margin: 0;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.list-group-movie .list-group-item {
    counter-increment: step;
    position: relative;
    clear: both;
    border-color: #3a3a3a;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    padding: .7em
}

.list-group-movie .list-group-item:before {
    background: rgba(255, 0, 0, 0.7);
    color: white;
    content: counter(li, decimal);
    counter-increment: li;
    font-size: 15px;
    height: 100%;
    left: 19px;
    padding: 5px;
    position: absolute;
    text-align: center;
    top: 14px;
}

.list-group-movie .list-group-item:nth-of-type(1n+4):before {
    background: rgba(169, 169, 169, 0.7);
}

.list-group-movie .list-group-item .thumbnail {
    height: auto;
    width: 70px;
    margin-bottom: 0;
    margin-right: 10px;
    float: left;
    background: #6d590b;
    border: none;
}

.list-group-movie .list-group-item .meta-item {
    float: left;
    width: calc(100% - 80px);
}

.list-group-movie .list-group-item .meta-item a {
    text-decoration: none;
}

.list-group-movie .list-group-item .meta-item .name-1 {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    text-decoration: none;
    font-size: 14px;
    margin: 5px 0;
    font-weight: 600;
}

.list-group-movie .list-group-item .meta-item .name-1 a {
    color: #ccc;
}

.list-group-movie .list-group-item .meta-item .name-2 {
    color: #ABABAB;
    font-size: 12px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    text-decoration: none;
    margin: 5px 0;
    line-height: 15px;
    font-weight: normal;
}

.list-group-movie .list-group-item .meta-item .name-2 a {
    color: #ABABAB;
}

.list-group-movie .list-group-item .meta-item p {
    margin: 5px 0 0;
    color: #cccccc;
}

.list-group-movie .star-ratings-css {
    margin: 0;
}

.btn-group-tag > .btn {
    margin-bottom: 5px;
}

.movie-banner {
    background-color: #000;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 30px;
    position: relative;
    min-height: 560px;
    width: 100%;
}

.movie-banner .movie-banner-src {
    height: 100%;
    left: 0;
    opacity: .3;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    background: url(../images/wallpaper.jpg) no-repeat no-repeat center center;
    background-size: cover;
}

.movie-info {
    position: relative;
    margin-top: -200px;
    z-index: 1
}

.movie-info .thumbnail {
    background: #6d590b;
    border-color: #3a3a3a;
}

.movie-info .movie-title {
    color: #fff;
    font-size: 35px;
    font-weight: lighter;
    margin: 0 0 10px 0;
}

.movie-info .movie-subtitle,
.movie-info .movie-meta {
    margin: 0 0 10px;
    /*display: inline-block;*/
    font-size: 18px;
    color: #ccc;
    font-weight: lighter;
}

.movie-info .movie-subtitle a {
    color: #ccc;
    text-decoration: none;
}

.movie-info .movie-meta {
    /*margin-top: 20px;*/
    font-size: 16px;
    display: block;
    font-weight: 400;
    font-style: italic;
}

.movie-info .movie-meta span {
    font-weight: 400;
}

.movie-info .movie-meta span span {
    font-weight: lighter;
}

.movie-info .movie-meta span span + span {
    margin-left: 30px;
}

.movie-info .movie-rating {
    /*margin-top: 10px;*/
}

.movie-info .movie-rating .rate-star {
    position: absolute;
    top: 0;
    width: 140px;
    right: 10px;
    text-align: center;
}

.movie-info .movie-rating .rate-star i {
    font-size: 130px;
    color: #ffc000;
}

.movie-info .movie-rating .rate-star span {
    position: absolute;
    top: 50%;
    color: #ffffff;
    font-size: 40px;
    right: 0;
    width: 100%;
    margin-top: -18px;
}

.movie-social-icon {
    margin-top: 15px;
}

.movie-social-icon ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.movie-social-icon ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
}

.movie-info .movie-info-top {
    height: 200px;
    overflow: hidden;
    padding-right: 150px;
}

.movie-info .rating-bar .label {
    background: transparent !important;
}

.movie-social-icon ul li a.facebook {
    color: #0e76bc;
}

.movie-social-icon ul li a.twitter {
    color: #25aae1;
}

.movie-social-icon ul li a.googleplus {
    color: #e33d33;
}

.movie-social-icon ul li a.youtube {
    color: #bf1e2e;
}

.movie-social-icon ul li a.instagram {
    color: #0A6990;
}

.movie-social-icon ul li a.pinterest {
    color: #C3C110;
}

.movie-social-icon ul li a.vimeo {
    color: #13A6E2;
}

.movie-social-icon ul li a.zing {
    color: #13A6E2;
    font-weight: 900;
}

.movie-social-icon ul li a.zing i:before {
    content: 'Z'
}

.movie-social-icon ul li a {
    transition: 300ms;
    -webkit-transition: 300ms;
}

.weight-normal {
    font-weight: normal !important;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.movie-info-sidebar ul {
    margin: 15px 0;
    font-size: 15px;
    font-weight: 300;
}

.movie-info-sidebar ul > li {
    display: block;
    margin-bottom: 10px;
    padding-left: 0;
    line-height: 25px;
    font-weight: bold;
}

.movie-info-sidebar ul > li span {
    font-weight: 500;
}

.movie-info-sidebar a {
    color: #f5cc2a;
    transition: 300ms;
    -webkit-transition: 300ms;
    font-weight: normal;
}

.imdb-logo {
    font: 1.5em/1 Impact, HelveticaNeue-CondensedBold, sans-serif;
    text-shadow: 0 0 .15em #fff;
    text-decoration: none;
    position: absolute;
    right: 50px;
    top: 150px;
    vertical-align: bottom;
    padding: .25em .35em;
    border-radius: .15em;
    background: radial-gradient(#ffffb8, #ce981d);
}

.row-trailer .icon-play.
.movie-banner .icon-play {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.row-trailer .icon-play a,
.movie-banner .icon-play a {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: all .3s;
    transition: all .3s;
    z-index: 10;

    color: #fff;
    font-size: 80px;
    margin-top: -5%;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}

.row-trailer .icon-play:hover a:hover,
.movie-banner .icon-play:hover a:hover {
    color: #d54d0d;
    cursor: pointer;
    -webkit-transform: translate(-50%, -50%) scale(1.2);
    transform: translate(-50%, -50%) scale(1.2);
}

.player-wrapper {
    background: #131313;
    padding: 20px 0;
}

.player-container {
    width: 80%;
    margin: 0 auto;
}

.list-servers {
    position: relative;
}

.list-servers .change-server {
    position: absolute;
    right: 0;
    top: 5px;
}

.list-servers .server-name {
    font-size: 20px;
    color: #6c9c34;
    margin: 15px 0 30px;
    padding-top: 10px;
}

.list-servers .list-episodes .episodes {
    max-height: 150px;
    overflow: auto;
}

.list-servers .list-episodes .episodes a {
    min-width: 53px;
    margin-bottom: 5px;
    margin-right: 2px;
}

.trailer {
    width: 100%;
    overflow: hidden;
    clear: both;
    position: relative;
}

.trailer-image-wrap {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.trailer-image-wrap img {
    width: 100%;
    height: auto;
}

.row-trailer .icon-play {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.row-trailer .icon-play a {
    font-size: 90px;
    margin-top: -8%
}

.row-trailer .list-group-trailer .icon-play a {
    font-size: 40px;
    margin: 0;
}

.trailer .trailer-info-block {
    color: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 150px;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.trailer-info-block .thumb-img {
    width: 70px;
    float: left;
    margin-right: 20px;
    margin-top: 0;
}

.trailer-info-block h3 {
    color: #fff;
    font-size: 20px;
    margin: 0 0 10px 0;
    font-weight: 600;
}

.trailer,
.list-group-trailer .list-group-item {
    margin-top: 10px;
}

.list-group-trailer .list-group-item .meta-item,
.list-group-trailer .list-group-item .thumbnail {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    position: relative;
}

.trailer #youtube-frame {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.trailer #youtube-frame > span.close {
    position: absolute;
    width: 32px;
    height: 32px;
    background: #424242;
    right: 10px;
    top: 10px;
    font: normal normal normal 30px/1 FontAwesome;
    text-align: center;
    color: #fff;
    float: none;
    opacity: 1;
}

.page-content {
    color: #ccc;
}

.page-content #movie-picture {
    text-align: center;
    color: #ccc
}

.page-content #movie-picture img {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.breadcrumb {
    background-color: #9e7e00;
    margin-top: 20px;
}

.breadcrumb > li a {
    color: #fff;
}

.breadcrumb span, .breadcrumb > li + li:before {
    color: #f3f3f3;
}

.breadcrumb > li + li:before {
    padding: 0 .5em 0 1em
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover,
.nav > li > a:focus,
.nav > li > a:hover,
.dropdown-menu > li:hover > a {
    background-color: #42563f;
}

#footer {
    position: relative;
    margin: 0;
    padding: 0;
    background: #f5cc2a;
    height: auto;
}

#footer, #footer a {
    color: #000;
}

#footer a {
    font-weight: bold;
}

.content-404 {
    width: 700px;
    margin: 2em auto;
    text-align: left;
    overflow: hidden;
}

.content-404 img {
    float: left;
    margin-right: 20px;
}

.content-404 h3 {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 5px;
}

.content-404 p {
    font-size: 15px;
    margin-bottom: 15px;
}

.movie-info .thumbnail {
    position: relative;
}

.movie-info .thumbnail .ribbon {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border: 25px solid transparent;
    border-top: 25px solid #ea901a;
    position: absolute;
    bottom: 18px;
    right: -44px;
    padding: 0 10px;
    width: 175px;
}

.movie-info .thumbnail .ribbon .txt {
    color: #fff;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: -20px;
    width: 100%;
    left: 0;
}

.list-actor .items {
    margin-left: -10px;
    margin-right: -10px;
    max-height: 350px;
    overflow: hidden;
}

.list-actor .item {
    width: calc(100% / 3);
    height: 106px;
    display: block;
    float: left;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.list-actor .item-inner {
    position: relative;
    width: 100%;
}

.list-actor .item .actor-ava, .actor-ava-container .actor-ava {
    border: 2px solid #ECC52A;
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 60px;
}

.list-actor .item .actor-ava {
    position: relative;
    z-index: 2;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #111111;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.list-actor .item:hover .actor-ava {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.list-actor .item .actor-info {
    position: absolute;
    font-size: 15px;
    top: 10px;
    left: 50px;
    background: #111;
    box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.3);
    width: calc(100% - 50px);
    height: 90px;
    z-index: 1;
}

.list-actor .item:hover .actor-info {
    background: #27292b
}

.list-actor .item .actor-info a,
.list-actor .item .actor-info .role-name {
    display: block;
    width: 100%;
    padding: 10px 1px 10px 58px;
    color: #ECC52A;
}

.list-actor .item .actor-info .role-name {
    font-size: 12px;
    padding-top: 0;
    color: #ccc;
}

.list-actor .item .actor-info .role-type {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 10px;
    color: #dbbbaf;
}

.share-container {
    position: relative
}

.share-container--fixed-left {
    position: fixed;
    width: 40px;
    margin-left: -80px;
    margin-top: -10px
}

.share-container--hright {
    position: absolute;
    right: 0;
    top: 0
}

.share-container__btn, .share-container__btn--small {
    float: left;
    margin-right: 5px;
    height: 40px
}

.share-container__btn--small {
    height: auto
}

.share-container__btn--small > a, .share-container__btn > a {
    border-radius: 5px !important
}

.share-container__btn--small > a {
    width: 24px !important;
    height: 24px !important;
    font-size: 15px !important;
    line-height: 25px !important
}

.share-container__btn a.fa-facebook,
.share-container__btn a.fa-pinterest,
.share-container__btn a.fa-google-plus,
.share-container__btn a.fa-comments,
.share-container__btn a.fa-comment,
.share-container__btn a.fa-twitter {
    font-size: 20px;
    color: #fff;
    border-radius: 20px;
    width: 35px;
    height: 35px;
    text-align: center;
    display: block;
    line-height: 36px;

    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.share-container__btn a.fa-facebook {
    background-color: #44609D;
}

.share-container__btn a.fa-google-plus {
    background-color: #DD4B39;
}

.share-container__btn a.fa-twitter {
    background-color: #55ACEE;
}

.share-container__btn a.fa-pinterest {
    background-color: #CB2027;
}

.share-container__btn a.fa-comment,
.share-container__btn a.fa-comments {
    background-color: #2ECB20;
}

.share-container__btn a.active.fa-facebook, .share-container__btn a.active.fa-pinterest, .share-container__btn a.active.fa-google-plus, .share-container__btn a.active.fa-twitter, .share-container__btn a.active.fa-comment, .share-container__btn a.active.fa-comments, .social-icon--dummy:hover, .share-container__btn a.fa-facebook:hover, .share-container__btn a.fa-pinterest:hover, .share-container__btn a.fa-google-plus:hover, .share-container__btn a.fa-twitter:hover, .share-container__btn a.fa-comment:hover, .share-container__btn a.fa-comments:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.profile-details ul {
    list-style-type: none;
    padding: 0;
}

.profile-details ul li,
.profile-details ul li .inline {
    font-size: 14px;
}

.profile-details ul li {
    line-height: 23px;
}

.profile-details ul li .inline {
    display: inline;
}

.autocomplete-suggestions {
    margin-top: 5px;
    background: #1c1c1c;
    border-color: #3a3a3a;
}

.autocomplete-suggestions:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ddd;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
    border-bottom-color: #3a3a3a;;
}

.autocomplete-suggestions:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
    border-bottom-color: #1c1c1c;;
}

.autocomplete-suggestion {
    padding: 10px 10px;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px dashed #6a7279;
}

.autocomplete-suggestions .autocomplete-suggestion:last-child {
    border-bottom: none;
}

.autocomplete-selected {
    background: #272727;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

.autocomplete-suggestions .thumbnail {
    height: auto;
    width: 30px;
    margin-bottom: 0;
    margin-right: 10px;
    float: left;
    border: none;
    padding: 0;
}

.autocomplete-suggestions .meta-item {
    padding-left: 40px;
}

.autocomplete-suggestions .meta-item .name-1 {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    text-decoration: none;
    margin: 0;
    font-weight: 500;
    color: #f5cc2a;
}

.autocomplete-suggestions .meta-item .name-2 {
    color: #ABABAB;
    font-size: 11px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    text-decoration: none;
    margin: 5px 0;
    line-height: 15px;
    font-weight: normal;
}

.max-width-992 .autocomplete-suggestions {
    position: fixed !important;
    width: 95% !important;
    top: 50px !important
}
