@media screen and (min-width: 1600px) {
    .container-fluid {
        width: 100%;
        max-width: 1630px;
    }
}

@media screen and (min-width: 1900px) {
    .container-fluid {
        width: 100%;
        max-width: 1630px;
    }
}

@media screen and (max-width: 1366px) {
    .block-items > .col-lg-15:nth-child(n+25) {
        display: block;
    }

    .list-actor .item {
        width: calc(100% / 2);
        height: 106px;
        display: block;
        float: left;
        padding: 5px 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1110px) { 
	#header .navbar-header{display:none;}
	#header .nav > li > a{font-size: 13px;}
    .column-with-300,
    .column-300 {
        width: 100%;
        float: none;
    }

    .tab-lists > a.list-item-with-thumb:nth-child(n+2) {
        display: block;
    }

    .tab-lists > a.list-item-with-thumb {
        float: left;
        width: calc(100% / 3);
    }

    .tab-lists > a.list-item-with-thumb:nth-child(n+4),
    .tab-lists .list-item:nth-child(n+2),
    .movie-info .column-300 .thumbnail,
    .movie-info .column-300 .ads,
    .movie-info .column-300 .weight-normal,
    .movie-info .column-300 .movie-info-sidebar {
        display: none;
    }

    .tab-lists .list-item:nth-child(n+4) {
        display: block;
    }

    .movie-info .movie-info-top {
        padding-left: 20px;
    }

    .tab-content li.list-group-item {
        width: 50%;
        float: left;
        clear: inherit;
    }

    .movie-info {
        margin-top: -230px;
    }
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 860px) {

}

@media screen and (min-width: 600px) and (max-width: 860px) {

}

@media screen and (max-width: 768px) {
    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }

    .nav-justified > li > a {
        margin-bottom: 0 !important;
    }

    .list-group-trailer .list-group-item {
        float: left;
        width: calc(100% / 3);
        clear: inherit;
    }

    .player-container {
        width: 100%;
    }

    #mobile-header {
        position: fixed;
        z-index: 9;
        width: 100%;
    }

    #mobile-header .sb-header-text {
        display: block;
        width: 105px;
        height: 60px;
        margin: auto;
        padding: 10px;
    }

    #mobile-header .sb-header-text img {
        max-height: 100%;
        width: auto;
    }

    #mobile-header .sb-toggle-left,
    #mobile-header .open-search {
        position: absolute;
        top: 10px;
        font-size: 40px;
        cursor: pointer;
    }

    #mobile-header .sb-toggle-left {
        left: 10px;
    }

    #mobile-header .open-search {
        right: 10px;
    }

    #mobile-header .form-search {
        position: absolute;
        width: calc(100% - 70px);
        left: 10px;
        margin-top: 5px;
        display: none;
    }

    #mobile-header .form-search .input-group-addon {
        display: none;
    }

    .sb-left .nav > li > a {
        color: #b8c7ce;
        border: none;
        border-left: 2px solid transparent;
        font-size: 15px;
    }

    .sb-left .nav > li.open > a,
    .sb-left .nav > li.open > a:focus,
    .sb-left .nav > li.open > a:hover,
    .sb-left .nav > li > a:focus,
    .sb-left .nav > li > a:hover {
        color: #ffffff;
        background: #1e282c;
        border-left-color: #D04C2B;
    }

    .sb-left .dropdown-menu > li > a {
        padding-left: 20px;
        border-bottom-color: #5d5d5d;
    }

    .sb-left .dropdown-menu > li > a:focus,
    .sb-left .dropdown-menu > li > a:hover {
        background: #42563f;
    }

}

@media screen and (max-width: 690px) {

}

@media screen and (max-width: 480px) {
    .tab-content li.list-group-item {
        width: 100%;
        float: none;
        clear: both;
    }

    .tab-lists > a.list-item-with-thumb {
        float: left;
        width: calc(100% / 2);
    }

    .tab-lists > a.list-item-with-thumb:nth-child(n+3) {
        display: none;
    }

    .tab-lists .list-item:nth-child(n+3) {
        display: block;
    }

    .list-actor .item {
        width: 100%;
        float: none;
    }

    .movie-info {
        margin-top: 0;
    }

    .movie-info .movie-info-top {
        padding: 0;
    }

    .movie-info .movie-rating .rate-star {
        top: -150px;
    }

    .breadcrumb {
        display: none;
    }

    .block .with-tabs .box-asian-tabs {
        position: relative;
        margin-bottom: -12px;
    }
}
