.tba-container {
  text-align: center !important;margin: 20px;
}

.tba-container > div.ad {
  display: inline-block;
  margin: auto;
}

.va300x250-container {
  text-align: center;margin: 0px 0px 25px 20px;width: 308px;
}


.tba-container img{
  display: block;
  max-width: 100%;
  height: auto;
}
