html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
ol, ul , ul li{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
image{border:0;}
a img,:link img,:visited img,:hover img{border:0;text-decoration:none;}
a{color:#505050;text-decoration:none;}
a:hover{color:#000;text-decoration:none;}
textarea{border:1px solid #ccc;box-shadow:inset 0 1px 3px #ccc;}
input:focus{outline:none;}
button:focus{outline:none;}
html{padding:0px;background:#ffffff;}
body{background:#ffffff;font-family:"Tahoma", Arial, sans-serif;font-size:11px;height:100%;line-height:2.1;;margin:0px;padding:0;color:#505050;direction:rtl;}
@font-face {
	font-family: IRANSans-web;
	font-style: normal;
	font-weight: bold;
	src: url('font/IRANSansWeb_Bold.eot');
	src: url('font/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('font/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('font/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('font/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans-web;
	font-style: normal;
	font-weight: normal;
	src: url('fontIRANSansWeb.eot');
	src: url('font/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('font/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('font/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('font/IRANSansWeb.ttf') format('truetype');
}
h1, h2, h3, h4 {
	font-weight: bold !important;
}
.clear { clear:both; height:0 }
.alert{position:absolute;width:500px;height:279px;display:block !important;background:url(../images/ie6.jpg) left top no-repeat;left:50%;top:50%;margin:-250px 0 0 -250px;z-index:100000;}
.inline{display:inline;}
.online{display:block;float:right;margin: 7px 0 0 7px;}
.justify{text-align:justify;}
.center{text-align:center !important;}
.textins{font-family:tahoma !important;font-size:12px !important;height:100px !important;}
.onepx{margin-bottom:1px !important;}
.profpad{padding:2px 4px 2px 6px !important;}
.secode{width:145px !important;}
.right{float:right;}
.left{float:left;}
.nondisplay{display:none;}
#topline{width:100%;background:#222;padding: 10px 0px;}
.topline-wrap{margin:0 auto;width:1000px;line-height:35px;font-size:13px;color:#919191;}
.top-menu{color:#888;float:right;line-height:31px}
.top-menu a{color:#eee;font:13px 'IRANSans-web';padding: 0px 5px}
.top-menu a:hover{color:#FFFFFF !important;text-decoration:none !important;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;}
.nblock{display:none;}
.searchblock{width:222px;height:30px;line-height:30px;margin:2px 6px 0 0;float:left;border-radius: 3px;background:#ffffff;}
.searchblock ul{height:25px;list-style:none;padding:0;display:inline;}
.searchblock li{float:right;position:relative;border:0;display:block;height:22px;}
.searchblock li a{float:left;position:relative;text-align:center;}
.searchblock .searchbt input{float: left;background:url("../images/icons.png") no-repeat scroll left -90px;#17a085;height:30px;width:30px;}
.searchbt {
	float: left !important;
}
.searchblock .searchbt input:hover{background-color:#15816D;}
.searchform{display:block;color:#6F6F6F;width:70%;height:18px;padding:5px 5px 4px;border:none;font:12px/20px tahoma;font:tahoma, Verdana, Geneva, sans-serif;background:transparent;overflow:hidden;}
.loginbar{float:left;position:static;padding:1px 0px 0px;}
.loginbar a{border-radius: 3px;background: #12608f;display:block;float:left;margin-right:6px;padding:5px 8px;text-decoration:none;font:13px 'IRANSans-web';text-decoration:none;color:#ffffff;}
.loginbar a:hover{background:#b50006;color:#FFFFFF;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;}
a.register{background:none repeat scroll 0 0 #26bd7d;color:#ffffff;}
a.register:hover{background:#b50006 !important;color:#FFFFFF;text-decoration:none !important;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;}
.ratebox2 {
  float: right;
}

.ratebox3 {
  float: right;
}

.ratebox ul, .ratebox ul li {
  float: left;
}

.ratebox2 ul, .ratebox2 ul li {
  float: left;
}
.loginpanel{line-height:20px;min-width:140px;color:#909090;height:20px;padding:0 0 10px 0;float:right;text-align:right;}
#loginb{background:url("../images/black.png") repeat-x scroll center top #FFFFFF;box-shadow:0 0 30px #000000;color:#909090;display:none;left:50%;margin-left:-150px;padding:30px 25px;position:absolute;top:150px;width:280px;z-index:20000 !important;}
#loginb a{color:#505050;text-decoration:none;}
#loginb a:hover{color:#ccc;text-decoration:none !important;}
.logintitle{background:#135b8a;color:#FFFFFF;font:18px/40px 'IRANSans-web';height:40px;margin:-30px -25px 25px;text-align:center !important;text-shadow:0 1px 1px rgba(0, 0, 0, 0.3);}
.login-close{position:absolute;background:url(../images/login-close.png) 0 0 no-repeat;width:25px;height:25px;cursor:pointer;top:-15px;left:-15px;}
.login-close:hover{background-position:0 -25px;}
.profile{margin:0 0 15px 0;}
.profile-left{width:80px;float:left;margin:0 20px 0 0;box-shadow:inset 0 2px 5px rgba(0,0,0,0.2);padding:10px;}
.profile img{width:80px;max-height:80px;border-radius:3px;}
.profile ul{list-style:none;margin:0;padding:0;font-size:12px;color:#303030;float:right;width:160px;}
.profile li{position:relative;height:29px;line-height:20px;margin:0;padding:0;width:160px;}
.profile li a{background:none repeat scroll 0 0 #f7f7f7;border:1px solid #ccc;color:#707070 !important;display:block;float:none;font-size:14px;font-weight:normal;line-height:21px;margin:0;padding:0 8px;text-align:right;text-decoration:none !important;}
.profile li a:hover{background:none repeat scroll 0 0 #f7f7f7 !important;box-shadow:0 0 3px 0 #ccc inset !important;color:#000 !important;text-decoration:none !important;border:1px solid #aaa;}
.login_input{margin:15px 0 0 0;text-align:center;}
.login_field{width:270px;height:30px;line-height:35px;vertical-align:middle;font-size:15px;padding:0;color:#909090;background:#fff;margin-top:15px;border-radius:3px;text-align:right;}
.field{padding:5px;width:270px;height:20px;color:#909090;font-size:12px;font-family:tahoma;background:none;border:1px solid #ccc;vertical-align:middle;box-shadow:inset 0 0 15px rgba(0,0,0,0.1);}
.field:hover, .field:active, .field:focus{border:1px solid #cfcef5;box-shadow:none;}
.enter{background:#b50006;border:1px solid #b50006;color:#fff !important;cursor:pointer;float:right;font:16px 'IRANSans-web' !important;height:40px;margin:0 0 0 10px;padding:0 10px;text-decoration:none !important;}
.enter:hover{color:#000;background:#930005;border:1px solid #930005;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;}
.lostpass{background:none repeat scroll 0 0 #17a085 !important;border:1px solid #159981;color:#ffffff !important;display:inline-block !important;float:right !important;font-size:14px !important;height:38px !important;line-height:36px !important;margin:0 !important;padding:0 12px !important;text-decoration:none !important;}
.lostpass:hover{background:#0a806a !important;border:1px solid #0a806a !important;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;}
.not_save{font-size:12px;padding:0;margin:10px 0 14px;height:20px;text-align:right;}
#login_overlay{background-color:#000;height:100%;left:0;opacity:0.50;-moz-opacity:0.5;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);position:fixed;top:0;width:100%;z-index:10000;display:none;}
#header{background:#1796C6;width:100%;margin-bottom:20px;}
.header-wrap{height:140px;margin:0 auto;width:1000px;}
.logo{float:right;background: url(../images/icons.png) no-repeat right 0px;height:100px;margin: 20px 0px 0px;;width:250px}
.logo a{height: 100px;display: block;;width:250px;font-size:0px}
.headertabligh{display:block;float:left;margin:20px 0 0;}
.headertabligh a{display:block;;margin:0;overflow:hidden;padding:0;}
.top-tabligh{border:1px solid #e3e3e3;box-shadow:0 -1px 9px -1px #d4d2d4 inset;margin:0 auto 20px;overflow:hidden;padding:19px 20px 0;width:958px;}
.tabligh-right{float:right;height:60px;margin:0 0 20px;width:468px;}
.tabligh-left{float:left;height:60px;margin:0 0 20px;width:468px;}
.tabligh-right img, .tabligh-left img{height:60px;width:468px;}
#menu{background:none repeat scroll 0 0 #17a085;height:42px;margin:0 auto;width:1000px;min-width:1000px;z-index:1000;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;}
.fixmenu{box-shadow:0 1px 8px -5px #000000;position:fixed !important;top:0;left:0;right:0;width:100% !important;filter:alpha(opacity=85);-moz-opacity:0.85;-khtml-opacity:0.85;opacity:0.85;}
.nav-wrap{height:42px;margin:0 auto;padding:0;position:relative;width:1000px;}
.nav-wrap span{display:none;float:right;margin:1px 0 0;}
.nav-wrap span a{display:block;height:40px;margin:0;padding:0;text-decoration:none;width:125px;}
.fixspan{display:block !important;}
.nav-wrap ul{font-size:14px;list-style:none;margin:0;display:inline;}
.nav-wrap li{float:right;z-index:100;text-align:right;position:relative;}

.nav-wrap li a{border-left:1px solid #0f8770;color:#FFFFFF;display:block;font:15px/42px 'IRANSans-web';height:42px;padding:0 15px;text-decoration:none;}
.nav-wrap li a.first{}
.nav-wrap li a:hover{background:#0f8770;color:#FFFFFF;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;text-shadow:none;}
.nav-wrap li a.link1{}
.nav-wrap li.drop:hover .link1{border-bottom:0;color:#ffffff;line-height:58px;background:#0f8770;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;}
.nav-wrap li.drop{display:block;}
.nav-wrap li.drop:hover{}
.nav-wrap li.drop span{background:url("../images/mhover.png") no-repeat scroll 0 -20px rgba(0, 0, 0, 0);display:block;height:14px;margin:0 auto;position:absolute;right:40%;width:25px;visibility:hidden;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;}
.nav-wrap li.drop:hover span{background:url("../images/mhover.png") no-repeat scroll 0 8px rgba(0, 0, 0, 0);height:21px;margin:0 auto;position:absolute;right:40%;width:25px;visibility:visible;}
.nav-wrap li ul{background:#0f8770;display:none;margin:0 -1px 0 0;padding:10px 9px 9px;position:absolute !important;width:180px;z-index:500;-webkit-transition:all 200ms ease-in-out;-moz-transition:all 200ms ease-in-out;-ms-transition:all 200ms ease-in-out;-o-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out}
.nav-wrap li:hover ul{display:block;float:right;-webkit-transition:all 200ms ease-in-out;-moz-transition:all 200ms ease-in-out;-ms-transition:all 200ms ease-in-out;-o-transition:all 200ms ease-in-out;transition:all 200ms ease-in-out}
.nav-wrap li li{background:#17a085;display:block;float:right;height:35px;margin-bottom:2px;padding:0;z-index:500;}

.nav-wrap li li a{border-left:medium none !important;box-shadow:none;color:#ffffff;display:block;float:right;font:14px/35px 'IRANSans-web';height:35px;padding:0 10px !important;text-align:right;text-decoration:none;text-shadow:none;width:160px;}
.nav-wrap li li a:hover{background:#0c705e;color:#FFFFFF;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;text-shadow:none;}
#container{width:1000px;position:relative;margin:0 auto 14px;overflow:hidden;}
.container{cursor:pointer}
::selection{background:#0358A7;color:#fff}
#content{width:1000px;}
#right{width:200px;margin:0;float:right;}
#center{float:right;margin:0 0 0 10px;width:670px;font: 13px/2.275 'IRANSans-web',tahoma;}
.bigtabligh{background:#ffffff;border:1px solid #e3e3e3;box-shadow:0 -1px 9px -1px #d4d2d4 inset;color:#505050;margin:0 0 23px;overflow:hidden;padding:14px 12px;}
.bigtabligh-title{color:#0358a7;font:14px 'IRANSans-web' !important;margin:2px 8px 14px 0;text-decoration:none;}
#left{float:left;margin-bottom:12px;overflow:hidden;width:320px;}
.wblock{background:none repeat scroll 0 0 #fff;box-shadow:0 -1px 9px -1px #d4d2d4 inset;border:1px solid #e3e3e3;margin:0 0 10px;overflow:hidden;padding:0;width:668px;}
.author, .date, .views, .comms, .cats{background:url("../images/dataicon.png") no-repeat scroll;float:right;padding:0 19px 0 0;margin:0 5px 0 10px;height:16px;}
.author{background-position:right 0;margin:0 0 0 12px;padding:0 17px 0 0;}
.date{background-position:right -17px;margin:0 0 0 12px;}
.views{background-position:right -33px;margin:0 0 0 12px;}
.comms{background-position:right -50px;margin:0 0 0 12px;}
.cats{background-position:right -66px;margin:0 3px 0 12px;}
.vblock{width:210px;margin:0 0 10px 10px;float:left;overflow:hidden;}
.related-title{;margin:0 12px 5px;}
.related-title a{background:none repeat scroll 0 0 #ffffff;border-right:4px solid #777777;border-left:1px solid #dddddd;color:#777777;display:block;font:14px/23px 'IRANSans-web';padding:3px 6px;text-decoration:none;}
.related-title a:hover{box-shadow:0 0 5px -2px #777777;border-right:4px solid #ee0008;color:#ee0008;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;}
.sideblock{padding:10px;margin-bottom:10px;background:#fff}
.topzero{padding-top:0;}
.comm-data span { padding: 0px 0px 0px 15px; }
.sideblock img{max-width:300px;}
.sideheader{color:#0358A7;font:17px 'IRANSans-web';height:14px;line-height:20px;margin:14px 0 0;border-top:1px solid #ccc;}
.sideheader span{position:relative;top:-14px;background:#fff;padding:0 3px 0 6px;}
.sideheader a{font-size:20px;font-size:16px;color:#0358A7;text-decoration:none;}
.sideheader a:hover{color:#303030;text-decoration:none;}
.htitleÑƒ{background:url(../images/header.png) repeat-x;padding:7px 0 5px 10px;color:#ccc;font-size:16px;text-align:center;line-height:20px;}
.htitle{border-bottom:1px solid #ccc;height:30px;list-style:none outside none;margin:0 0 4px;padding:1px 0 4px;}
.htitle span{color:#666;padding:0px 5px;display:block;border-radius: 2px;float:right;font:14px/24px 'IRANSans-web';height:24px;text-align:center;text-decoration:none;margin: 0px 0px 0px 7px;letter-spacing:-0.05em}
.htitle span.first{}
.htitle span:hover{background:#b50006 !important;cursor:pointer;color:#EEEEEE;text-shadow:none;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;}
.active-ttab{background:#1796C6 !important;color:#ffffff !important;text-shadow:none !important;}
.tt-panel{display:none;}
.index-panel{}
.tabnews{margin:7px 0 2px;width:298px;}
.tabnews h3{color:#595959;}
.tabnews h3:hover{color:#FFFFFF;}
.tabnews li{list-style:outside none none;}
ul.tabnews li a{background:none repeat scroll 0 0 #ffffff;border-bottom:1px dashed #dddddd;display:block;font:13px/1.8 'IRANSans-web';text-align:justify;padding:5px 6px;width:285px;}
ul.tabnews li a:hover{background:#fcfcfc;box-shadow:0 0 8px #b3b3b3 inset;-webkit-transition:all 0.15s linear;-moz-transition:all 0.15s linear;-ms-transition:all 0.15s linear;-o-transition:all 0.15s linear;}
.info-icons{height:58px;margin:10px -5px 4px 0;width:315px;}
.info-icons li{float:left;height:58px;list-style:none outside none;margin:0 5px 0 0;width:58px;}
.info-icons img{height:58px;width:58px;filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity:0.7;opacity:0.7;}
.info-icons img:hover{filter:alpha(opacity=1);-moz-opacity:1;-khtml-opacity:1;opacity:1;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;}
.topdownloads{margin:4px 0 8px;}
.sidebar-post{border-bottom:1px solid #efefef;height:61px;margin:0;overflow:hidden;position:relative;list-style:outside none none;}
.sidebar-post:last-child{border-bottom:0 none;}
.sidebar-post > a{display:block;height:61px;position:relative;}
.sidebar-post a:hover{box-shadow:0 0 0 #ccc;background:#f7f7f7;text-shadow:1px 1px 0 #ffffff;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;}
.sidebar-post span{float:left;margin-left:75px;}
.sidebar-post img{height:50px;position:absolute;right:6px;top:6px;width:50px;}
.sidebar-post span a{color:#686868;}
.sidebar-post span{float:right;font:13px/24px 'IRANSans-web','Calibri',tahoma;margin:8px 62px 0 6px;}
.sidebar-post span a{font:14px/19px 'IRANSans-web';}
.iconcats{margin:1px 0 7px;}
.iconcats li{border:1px solid #dcdcdc;height:56px;line-height:56px;list-style:outside none none;margin:0 0 5px;position:relative;}
.iconcats li:hover{border:1px solid #17a085;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;}
.feed h3 {
				text-align: center;
			font: bold14px/2 'IRANSans-web' !important;
			}
.iconcats li a{color:#939393;display:block;font:16px/56px 'IRANSans-web';height:56px;padding:0 12px 0 0;}
.iconcats li a:hover{box-shadow:0 0 0 #ccc;background:#17a085;color:#ffffff;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;}
.iconcats li span{float:left;font:14px/56px verdana;letter-spacing:-0.5px;padding-left:67px;position:relative;}
.iconcats li img{bottom:0;height:49px;left:5px;position:absolute;width:65px;}
.b_date{background:url(../images/b_date.png) right center no-repeat;color:#fff;font-size:11px;padding:0 10px 0 5px;line-height:18px;height:18px;float:left;margin:-2px 10px 0 0;}
.cblock{margin:0 0 10px 0;width:583px;background:#303030;}
.htitley{font:17px/17px 'IRANSans-web';}
.feed{;position:relative;display:block;margin:5px auto 8px;padding:0;}
.feedtitle{color:#777777;font:12px/2 'IRANSans-web';text-align: center;padding: 10px 10px 20px;}
.newslettericon {background: url(../images/icons.png) no-repeat;width:80px;height: 90px;margin:10px auto 0px;}
.feedsend{border:1px solid #c1c2c3;border-radius: 2px;width:100%;}
.feedinput{border:none;background:none;color:#8b8b8b;direction:ltr;float:right;font:12px/2 tahoma;padding:12px 10px 5px;text-align:right;width:70%}
.feedbutton{border:1px solid #EB493D;border-right:none;background:none repeat scroll 0 0 #EB493D;color:#ffffff;cursor:pointer;float:left;font:13px/23px 'IRANSans-web';margin:0;padding:8px 15px;margin:6px 0px 5px 6px;border-radius:2px}
.feedbutton:hover{border:1px solid #135b8a;border-right:none;background:#135b8a;color:#ffffff;-webkit-transition:all 0.15s linear;-moz-transition:all 0.15s linear;-ms-transition:all 0.15s linear;-o-transition:all 0.15s linear;}
.sidesoc{display:block;height:60px;margin:15px 0;padding:0;width:286px;}
.sidesoc a{background-color:#cecece;float:left;height:60px;margin-right:10px;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;}
.sigolink:hover{background-color:#ff3e3e;}
.sifblink:hover{background-color:#3b5998;}
.sitwlink:hover{background-color:#0cd4ff;}
.sirslink:hover{background-color:#ff6c1c;}
.siocicon{background:url("../images/sidesoc.png") no-repeat scroll 0 0 transparent;display:inline-block;}
.sigoogle, .sifacebook, .sitwiter, .sirss{height:60px;width:60px;}
.sigoogle{background-position:0 0;}
.sigoogle{background-position:0 0;}
.sifacebook{background-position:-60px 0;}
.sitwiter{background-position:-120px 0;}
.sirss{background-position:-180px 0;}
.cheader{color:#fff;background:#f3f3f3;height:10px;line-height:13px;margin:0 0 10px 0;padding:0 0 0 10px;}
.cheader a{color:#fff;font-size:16px;text-decoration:none;}
.cheader a:hover{color:#eee;text-decoration:none;}
.separate{background:url(../images/separate.png) no-repeat;margin:5px 5px 0 5px;width:5px;height:5px;display:inline-block;}
.tagscloud{float:left;width:330px;line-height:18px;}
.speedbar{background:url("../images/icon_home.png") no-repeat scroll right 8px #ffffff;color:#909090;font-size:11px;height:25px;line-height:22px;margin:0 0 3px;overflow:hidden;padding:0 30px 0 0;}
.speedbar a{color:#000000;text-decoration:none;font-size:11px;}
.speedbar a:hover{color:#0358A7;text-decoration:none;}
.sort{margin:0 10px 20px 10px;color:#909090;}
.sort a{color:#505050;text-decoration:none;border-bottom:1px dashed #505050;}
.sort a:hover{color:#0358A7;}
.shortstory{margin:0 10px 20px 10px;border-bottom:1px solid #cdcdcd;padding:0 0 10px 0;line-height:18px;}
.shortstory a{text-decoration:none;color:#0358A7;}
.shortstory a:hover{text-decoration:none;color:#303030;}
.short-overflow{position:relative;width:240px;height:160px;overflow:hidden;float:left;margin:0 10px 10px 0;}
.short-overflow img{width:240px;max-height:160px;}
.short-overflow img:hover{opacity:0.9;}
.shorttitle{margin:0 0 5px 0;}
.shorttitle a{font-size:14px;font-weight:bold;color:#0358A7;}
.shorttitle a:hover{text-decoration:none;color:#303030;}
.shortstory .full-info{margin-left:250px;}
.info-print{background:url(../images/print.png) 0 0 no-repeat;padding:0 0 0 18px;}
.vbutton{font-family:Arial;background:#eee url(../images/w30.png) repeat-x;box-shadow:0 1px 3px rgba(0,0,0,0.5);cursor:pointer;width:80px;height:25px !important;line-height:25px !important;text-align:center;text-decoration:none;font-size:12px;font-weight:bold;display:block;margin:5px 0 10px 10px;color:#505050;text-shadow:0 1px 1px #fff;border-radius:3px;float:left;border:0;}
.vbutton:hover{color:#fff;cursor:pointer;border:0;background:#0358A7;box-shadow:inset 0 0 10px rgba(0,0,0,0.3);text-shadow:none;}
.cbutton1{background:#7FBA5C;color:#fff;cursor:pointer;display:block;font:13px 'IRANSans-web';padding:4px 10px;border-radius: 3px;;text-decoration:none;text-shadow:none;margin:-5px 10px 0px;}
.cbutton1:hover{color:#fff;cursor:pointer;text-shadow:none;background:#303030;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;}
.cbutton{background:#17a085;border:1px solid #11937c;color:#fff;cursor:pointer;display:block;float:right;font-family:'IRANSans-web';font-size:14px;height:30px !important;line-height:25px !important;margin:5px 10px 4px auto;text-align:center;text-decoration:none;text-shadow:0 1px 1px #13846f;width:100px;}
.cbutton:hover{color:#fff;cursor:pointer;border:0;text-shadow:none;background:#04735f;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;}
.resbutton{font-family:Arial;cursor:pointer;text-decoration:none;display:inline-block;font-size:12px;font-weight:bold;color:#0358A7;text-decoration:none;line-height:25px;margin:5px 0 0 10px;}
.resbutton:hover{color:#000;cursor:pointer;border:0;background:#eee;}
.story{width:668px;}
.zerobot{margin-bottom:0 !important;}
.zero{margin:0 !important;}
.short-story{background:none repeat scroll 0 0 #ffffff;box-shadow:0 -1px 9px -1px #d4d2d4 inset;border:1px solid #e3e3e3;color:#505050;line-height:2.1;margin:0 0 23px;padding:9px 12px 12px;}
.short-story a{color:#0358A7;}
.short-story a:hover{color:#303030;text-decoration:none;}
.short-story ul, .short-story ol{margin-right:15px;}
.pdadnews{float:none !important;width:115px !important;}
.adnewstitle{margin:10px 0 0;width:100% !important;}
.full-story{color:#505050;font-size:12px;line-height:150%;padding:9px 12px 12px;width:644px;}
.full-story a{color:#0358A7;}
.full-story a:hover{color:#303030;text-decoration:none;}
.full-story ul, .full-story ol{margin-right:15px;}
.post-bot{float:right;position:relative;width:100%;margin-bottom:0;}
.full-cat, .short-cat{background:#F7F7F7;border:1px solid #F5F5F5;bottom:0;float:right;font:1px 'IRANSans-web' !important;color:#F7F7F7;margin:0;overflow:hidden;padding:0 8px 0 7px;position:relative;right:0;}
.full-cat{width:628px;height:32px;}
.short-cat{ display:none}
.full-cat a{font-size:1px !important;color:#F7F7F7;}
.full-soc{float:left;margin:2px 0 0 -5px !important;}
.full-soc li{float:left;height:28px;list-style:outside none none;margin-right:2px;width:28px;}
.fsface, .fstwiter, .fsgogle{display:block;height:28px;width:28px;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;}
.fsface{background:url("../images/fsface.png") no-repeat scroll 0 -38px rgba(0, 0, 0, 0);}
.fstwiter{background:url("../images/fstwitter.png") no-repeat scroll 0 -38px rgba(0, 0, 0, 0);}
.fsgogle{background:url("../images/fsgoogle.png") no-repeat scroll 0 -38px rgba(0, 0, 0, 0);}
.fsface:hover, .fstwiter:hover, .fsgogle:hover{background-position:0 0;}
.read-more, .read-more a{background:none repeat scroll 0 0 #16a085;border:1px solid #129179;bottom:0;color:#fff !important;cursor:pointer;display:block;float:left;font-family:'IRANSans-web';font-size:14px !important;margin:0;position:relative;text-align:center;text-decoration:none;padding: 4px 12px;border-radius: 3px;}
.read-more:hover, .read-more a:hover{color:#fff;border:1px solid #b50006;text-shadow:none;background:#b50006;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;}
.ftags{color:#FFF;font-size:1px !important;line-height:5px;padding-right:10px}
.download-box{margin:8px 7px !important;overflow:hidden;}
.download-box li{font:15px/2 'IRANSans-web';min-height:22px;margin:0 0 10px;padding:14px 38px 14px 15px;text-shadow:0px 0px 0 #ffffff;box-shadow:0 0 5px rgba(0, 0, 0, 0.08) inset;}
.download-box a:link { color:green; font-size:11pt; text-decoration:none }
.download-box a:hover { color:red; background-color:#ffffff; border:#ffffff 2px solid }
.dboxgreen{background:none repeat scroll 0 0 #dff0d8;border:1px solid #d6e9c6;border-bottom:2px solid #78b173;color:#3c763d;}
.dboxgreen a{color:#3c763d !important;}
.dboxblue{background-color:#d9edf7;border:1px solid #bbdef1;border-bottom:2px solid #74a9c5;color:#31708f;}
.dboxbrown{background-color:#f7efd8;border:1px solid #f1e2bb;border-bottom:2px solid #BEA970;color:#8f5031;}
.dboxicon{float:right;min-height:18px;margin:1px -25px 0 8px;width:18px;}
.passfile{margin:0;}
.sizefile{margin:0 0 3px;}
.post-title{font:18px 'IRANSans-web' !important;color:#0358A7;text-decoration:none;line-height:25px;padding: 15px 0px 5px;}
.post-title h2, post-title a h2{font: bold 18px 'IRANSans-web' !important;display:inline;}
.post-title a{color:#0358A7;font:bold18px 'IRANSans-web' !important;text-decoration:none;}
.post-title a:hover{color:#303030;text-decoration:none;}
.userinfoava{float:left;}
.rinfo{float:right;width:551px;}
.popup_ava{float:left;margin-left:7px;}
.rssicon{height:16px;margin:5px 0 -5px;width:16px;}
.s-parsdle{height:10px;}
.full-info{font-size:11px;color:#887f7f;border-bottom:1px dashed #D5D5D5;margin:0 0 10px 0;height:30px;padding:3px 0 5px;line-height:12px;}
.full-info a{font-size:11px;}
.finfo-element{float:right;margin:0 5px 0 0;}
.print{background:url(../images/print.png) no-repeat;padding:0 0 0 20px;margin:0 0 0 10px;float:left;}
.complaint{background:url(../images/complaint.png) no-repeat;padding:0 0 0 20px;margin:0 0 0 10px;float:left;}
.fstory{margin-bottom:10px;overflow:hidden;}
.fstory img{margin:5px;max-width:640px;}
.info-rating{margin:0 0 0 10px;font-size:11px;display:inline-block;position:relative;top:4px;}
.berrors{background:url("../images/error.png") no-repeat scroll 14px 10px #f2dede;border:1px solid #ebccd1;color:#a94442;display:block;font:14px/19px 'IRANSans-web';margin:12px;min-height:40px;padding:7px 11px;position:relative;text-shadow:1px 1px 0 #ffffff;}
.related-block{background:#F7F7F7;border:1px solid #E1E1E1;color:#303030;margin:0 12px;overflow:hidden !important;padding:0 0 9px;position:relative;}
.related-block .custom-5{float:right;width:173px;padding:0 11px 15px 0;}
.addcomment{padding:0;text-align:center;margin:0 12px 10px;padding:0 0 1px;}
.title{padding:5px 0;color:#303030;font:18px/20px 'IRANSans-web';text-align:right;margin:5px 0;}
.comments{width:668px;margin:0;}
textarea#comments{height:150px;}
.comm-title, .adcomm-title{background:#F5F5F5;font:17px/20px 'IRANSans-web';padding:4px 7px 6px;}
.comm-title{border-top:3px solid #BD00D9;color:#BD00D9;margin:16px 12px 10px;}
.adcomm-title{border-top:3px solid #004CB5;color:#0358A7;margin:16px 12px 0;}
.comm-title span{font-size:12px;color:#909090;}
.comment{color:#505050;margin:0 12px 11px;background:#F5F5F5;position:relative;}
.comment a{color:#0358A7;text-decoration:none;}
.comment a:hover{text-decoration:none;}
.comment table{margin:0;padding:0;}
.comment-right{max-height:100px;width:60px;padding:10px 10px 10px 10px;font-size:11px;float:right;}
.comment-right a{color:#000;font-weight:bold;}
.comment-right img{border:1px solid #FFFFFF;margin:0 -1px 0 0;max-height:60px;width:60px;}
.comgname{background:#F8F8F8;border:1px solid #FFFFFF;box-shadow:0 1px 4px #B7B7B7 inset;display:block;font-family:'IRANSans-web';font-size:12px;line-height:20px;margin:2px -1px 0;min-height:20px;overflow:hidden;padding:0 7px;text-align:center;width:46px;}
.comment-left{float:right;font-size:12px;line-height:20px;margin:0;min-height:40px;padding:5px 0 5px 5px;position:relative;width:554px;}
.newreply {background: #17a085;border: 1px solid #11937c;color: #fff;cursor: pointer;display: block;float: left;font: 14px/23px 'IRANSans-web';height: 26px !important;margin: 0;text-align: center;text-decoration: none;text-shadow: 0 1px 1px #13846f;width: 66px;}
.newreply:hover{background: #04735f;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;}
.incomm{padding: 14px;width:95.6%;}
.commtext{font: 15px 'IRANSans-web';text-align: justify;}
.inpm{padding:5px 0 12px !important;width:550px !important;}
.comment-left a{color:#0358A7;font-weight:bold;}
.slink{font:12px tahoma;margin:0 0 8px;}
.comm-data{background:#ffffff;color: #666;display:block;font:13px 'IRANSans-web';margin:0 0 10px !important;padding:6px 10px;border-radius: 3px;}
.comment-left a{font-size:12px;color:##0063B4;}
.comment:hover .comment-title-hover{display:block;}
.comment-title-hover{height:20px;line-height:15px;min-width:200px;padding:0;font-size:12px;color:#505050;display:none;position:absolute;top:21px;left:22px;z-index:10;text-align:left;}
.comment-title-hover a{color:#0358A7;font:13px/14px 'IRANSans-web';text-decoration:none;}
.comment-title-hover a:hover{color:#505050;text-decoration:none;}
.comment-title-hover span{float:left;}
.comment-number{background:#505050;color:#FFFFFF !important;float:left;font-size:12px;height: 15px;line-height:14px;padding:2px 5px;}
.mass-action{padding:1px 5px 0 6px;height:15px;float:right;}
.mass_comments_action{margin:0 20px 12px 0;color:#909090;}
.comment-news{margin:5px 0 !important;font:14px 'IRANSans-web';}
.comment-news a{text-decoration:none;font:14px 'IRANSans-web' !important;}
.comment-news a:hover{text-decoration:none;color:#E10007;}
.info{min-height:60px;margin:0;color:#707070;background:#f5f5f5 url(../images/sign.png) no-repeat 16px 16px;padding:10px 10px 10px 80px;font-size:12px;line-height:15px;border:1px solid #eee;text-shadow:0 1px 0 #fff;}
.info a{color:#0358A7;}
.navigation{background:#ffffff;border: 1px solid #e3e3e3;box-shadow: 0 -1px 8px -3px #d4d2d4 inset;clear: both;color: #000;font-size: 12px;height: 29px;margin: 10px auto;padding: 15px 15px 14px;text-align: center !important;width: auto;}
.pagesright{float: right;}
.pagesleft{float: left;}
.navigation b{font-size:25px !important;}
.navigation a:link, .navigation a:visited, .navigation a:active{line-height:28px !important;border-radius: 3px;height:29px;text-decoration:none;padding:0 8px;color:#ffffff;font-size:11px;display:inline-block;}
.navigation a:link{background:#135b8a !important;color:#ffffff;}
.navigation a:hover{text-decoration:none;color:#fff;background:#b50006 !important;box-shadow:none;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;}
.navigation span{background:#16a085 !important;box-shadow:0 0 4px #b5b5b5 inset;color:#fff;display:inline-block;font-size:11px;height:29px !important;line-height:28px !important;padding:0 8px;text-decoration:none;}
.nav_ext{background:none !important;padding: 0 2px !important;color:#135b8a !important;box-shadow:none !important;}
.next, .prev{display:inline-block !important;}
.next a:hover, .prev a:hover{background:#b50006 !important;}
.masha_index{display:none !important;}
table.fulltable{width:100%;background:#f5f5f5;border-collapse:collapse;border-spacing:0;cellspacing:0;border:0;}
table.fulltable td{border-top:1px solid #fff;padding:10px 10px;}
label{font-size:12px;}
.upavatar{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #E0E0E0;font-family:tahoma;font-size:11px;height:25px;width:278px;}
.myinfo{border:1px solid #E0E0E0;font-family:tahoma;font-size:11px;height:70px;width:350px;}
.line{margin:5px 0;padding:5px 15px;background:#f1f1f1;min-height:20px;text-align:right;font-size:13px;}
.sline{color:#696969;font:15px 'IRANSans-web';min-height:25px;text-align:right;text-shadow:1px 1px 0 #fff;width:90px;}
.pline{color:#676767;font:14px/20px 'IRANSans-web';min-height:20px;text-align:right;text-shadow:1px 1px 0 #fff;width:318px;}
.lpline{color:#676767;font:14px/20px 'IRANSans-web';text-align:right;text-shadow:1px 1px 0 #fff;}
.import{color:#0358A7;}
.line a{color:#0358A7;}
.row{font-size:13px;margin:5px 0;padding:5px;border:1px solid #eee;background:#fafafa;}
.row a{color:#0358A7;}
.row h{min-width:150px;padding:3px;margin:0 0 10px 0;}
.poll{background:#fafafa;padding:5px 10px;margin:5px 0 10px 0;border:1px solid #eee;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
.poll b{border-bottom:1px solid #303030;}
.userstop{font-family:Tahoma;font-size:11px;color:#505050;border-collapse:collapse;}
.userstop thead{font-family:tahoma;padding:5px 0 0 5px;height:20px;font-size:12px;color:#303030;background:url(../images/white.png) repeat-x;}
.userstop table{border-collapse:collapse;}
.userstop td{text-align:center;height:25px;padding:0px;border:1px solid #ccc;}
.userstop a{font-size:11px;text-decoration:none;color:#0358A7;}
.userstop a:hover{text-decoration:none;}
.stat{border-bottom:1px dashed #EEEEEE;color:#5B5B5B;font-size:12px;margin:0 20px;min-height:15px;padding:2px 0 4px;}
.stlast{border-bottom:none;padding:2px 0 0;}
.stat-logo{float:left;height:64px;margin:-21px 5px 15px 8px;width:64px;}
.stat span{float:left;font-weight:normal;}
.stat a{font-size:13px;text-decoration:none;}
.h-row{background:none repeat scroll 0 0 #F1F1F1;color:#505050;font:16px/27px 'IRANSans-web';height:28px;margin:10px 0 0;padding:0 10px 0 0;}
textarea, .txsh, .input1, .input2, .input3{border:1px solid #ccc;height:25px;}
.input1{width:275px;font-family:tahoma;font-size:12px;box-shadow:inset 0 1px 5px rgba(0,0,0,0.1);padding:5px;color:#707070;}
.input2{width:100px;padding:0 5px;font-size:12px;box-shadow:inset 0 1px 5px rgba(0,0,0,0.1);}
.input3{width:60%;font-family:"Tahoma";font-size:12px;padding:0 5px;box-shadow:inset 0 1px 5px rgba(0,0,0,0.1);}
.input4{width:100%;height:100px;font-family:tahoma;font-size:12px;border:1px solid #ccc;}
.clear{margin:0;padding:0;height:0px;clear:both;width:100%;}
table{background:transparent;border:0px;border-collapse:separate;}
table td{text-align:right;padding:0px;background:transparent;}
select{font-size:11px;font-family:tahoma;}
.stext{color:#727272;font-size:11px;font-family:tahoma;}
.stext a:active, .stext a:visited, .stext a:link{color:#0084ff;text-decoration:none;}
.stext a:hover{color:#FFFFFF;text-decoration:underline;}
.ntitle{color:#CC00FF;font-size:15px;font-family:tahoma;font-weight:bold;padding:11px 0 0 6px;}
.ntitle a{color:#0084ff;text-decoration:underline;}
.ntitle a:hover{text-decoration:none;}
.ui-widget-overlay{position:fixed;z-index:100;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.3);}
.ui-dialog fieldset{padding:5px;color:#0358A7;border:1px solid #505050;}
.pm_status{float:left;background:#fff;padding:0 0 10px 0;border:1px solid #e8e8e8;width:295px;height:100px;margin:12px 15px 0 10px;}
.pm_status_head{background:#eee url(../images/w40.png) repeat-x;height:25px;padding:0;font:14px/24px 'IRANSans-web';text-align:center;color:#505050;box-shadow:0 1px 3px rgba(0,0,0,0.3);}
.pm_status_content{padding:5px;}
.pmlinks{float:right;padding:18px 10px 11px;text-align:center;width:180px;}
.pmlinks a{display:block;height:30px;padding:0 10px;line-height:30px;background:#f5f5f5;box-shadow:inset 0 0 10px rgba(0,0,0,0.20);color:#505050;text-decoration:none;font:13px/29px 'IRANSans-web';margin:0 10px 5px 10px;text-shadow:0 1px 1px #fff;}
.pmlinks a:hover{box-shadow:inset 0 0 10px rgba(0,0,0,0.40) !important;color:#0358A7;background:#ececec;}
.editpost{background:#fff;border:1px solid #0358A7;padding:1px 7px 2px 7px;color:#0358A7;text-shadow:1px 1px 0 rgba(255,255,255,0.51);-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.editpost a{color:#527d35;}
.footer-wrap{background:#115884;width:100%;border-top:3px solid #0f5078;}
.footer{line-height:20px;margin:0 auto;width:1000px;padding:20px 0px;color:#a4b4c8;position:relative;}
.footer a{color:#a4b4c8;}
.footer-right, .footer-center, .footer-left{display:block;float:right;margin:0;padding:0;position:relative;width:310px;}
.footer-right{margin:0 0 0 34px;padding:0;}
.footer-center{margin:0 0 0 34px;padding:0;}
.footer-left{font:13px/2 'IRANSans-web';text-align:justify;}
.footer-left a{color:#e7f1fe;}
.footer-left a:hover{text-decoration:underline;}
.footer-title{border-bottom:2px solid #4a7e9d;height:35px;margin:0 0 15px;}
.footer-title h4{border-bottom:2px solid #53b2de;display:inline-block;line-height:35px;margin:0;white-space:nowrap;color:#E1E1E1;font:16px/35px 'IRANSans-web';}
.foter-news{margin:10px 0 4px;}
.foter-news li{list-style:none;}
.foter-news a{background:#003e65;color:#a4b4c8;display:block;font:12px 'IRANSans-web';margin:0 0 2px;padding:5px 5px;}
.foter-news a:hover{background:#024a77;box-shadow:0 0 10px #002740 inset;color:#c8d7e8;-webkit-transition:all 0.15s linear;-moz-transition:all 0.15s linear;-ms-transition:all 0.15s linear;-o-transition:all 0.15s linear;}
.footer-bottom{background:#03304b;color:#929dab;margin:0;padding:0;width:100%;}
.copyright{font:11px/30px tahoma;margin:0 auto;padding:0;width:1000px;}
.copyright a{color:#d6e0eb;}
.copyright span{float:left;}
.blue{color:#005ac8;}
#bttop{background:url('../images/gotop.png') no-repeat;width:40px;height:42px;right:27px;bottom:57px;color:#FFFFFF;cursor:pointer;display:none;padding:0;position:fixed;z-index:9998;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5;}
#bttop:hover{filter:alpha(opacity=1);-moz-opacity:1;-khtml-opacity:1;opacity:1;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;}
.sharh{margin:0 auto;padding:10px;width:616px;}
.tablighat{border:1px solid #eaeaea;border-spacing:1px;color:#555555;font-family:Tahoma;font-size:11px;margin:0 auto 8px;text-align:center;width:626px;}
.tablighat td{background:none repeat scroll 0 0 transparent;line-height:17px;padding:6px 8px;text-align:center;}
.ttitle{background-color:#00446f;color:#fff;font:13px 'IRANSans-web';height:40px;text-align:center;}
.hidenzone{color:#555555;font-family:Tahoma;font-size:11px;margin:10px 0 5px;text-align:right;}
#tozihat{display:none;}
.hidentext{background-color:#f2f8ff;border:1px dashed #002c60;color:#00316c;margin:10px;padding:10px 14px;text-align:justify;}
.hidentext p{line-height:22px;}
.tbutton{background:none repeat scroll 0 0 #17a085;border:1px solid #11937c;color:#fff !important;cursor:pointer;display:block;float:right;font-family:'IRANSans-web';font-size:14px;height:30px !important;line-height:29px !important;margin:10px 11px 10px 20px;padding:0 8px 0 9px;text-align:center;text-decoration:none;text-shadow:0 1px 1px #13846f;}
.tbutton:hover{color:#fff;border:1px solid #b50006;text-shadow:none;background:#b50006;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;}
.order{background:none repeat scroll 0 0 #17a085;color:#fff !important;display:block;font:14px/19px 'IRANSans-web';height:20px;padding:4px 8px;}
.order:hover{color:#fff;text-shadow:none;background:#b50006;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;}
.reserv{background:#115884;color:#fff !important;display:block;font:14px/19px 'IRANSans-web';height:20px;padding:4px 8px;}
.reserv:hover{color:#fff;text-shadow:none;background:#b50006;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;}
.centro{text-align:center;}
.addcomment1{padding:0;text-align:center;margin:0 12px 0px;padding:0 0 0px;}
.myreview {color:#fff;text-shadow:none;}
.frame-abc {
border:none;
overflow:hidden;
margin:0;
height:60px;
width:468px; 
}
.frame-728 {
border:none;
overflow:hidden;
margin:0;
height:90px;
width:728px; 
}
.frame-300 {
border:none;
overflow:hidden;
margin:0;
height:250px;
width:300px; 
}
.frame-120 {
border:none;
overflow:hidden;
margin:0;
height:240px;
width:120px; 
}
.frame-660 {
border:none;
overflow:hidden;
margin:0;
height:90px;
width:660px; 
}
.disn{display:none}
 .boxr { padding:0px; margin: 0; padding-top:0.8em!important; padding-bottom:0.8em!important; width:100%; display: block; background-color:#ECF0F1; border:0!important; border-right:4px solid #C0392B!important; text-decoration:none; } .boxr:active, .boxr:hover { opacity: 1; transition: opacity 250ms; webkit-transition: opacity 250ms; text-decoration:none; } .boxr { transition: background-color 250ms; webkit-transition: background-color 250ms; opacity: 1; transition: opacity 250ms; webkit-transition: opacity 250ms; } .boxr .ctaText { color:inherit; text-decoration:none; font-size: 11px; } .boxr .postTitle { color:#2C3E50;font-weight:bold; font-size: 11px; } .boxr:hover .postTitle { text-decoration: underline!important; }
.hidden_rate {height : 0px;overflow : hidden;}