.portlet-main-container {
	box-shadow: none;
	margin: auto!important;
	max-width: 100%!important;
	width: 1100px!important;
}
.portlet-main-container{
	background:none !important;
}
#topper{
	top:13px;
}	
.rightel-specialoffer {
	position: absolute;
	left:0;
	top: 0;
	z-index: 10;
}
@media screen and (min-width: 741px) and (max-width:980px) {
	.rightel-iconset-homepage {
		margin-top: 29% !important;
	}
	.rightel-iconset-homepage > ul > li > a > i {
		zoom: 0.7;
	}
}
@media screen and (max-width:740px) {
	.rightel-iconset-homepage {
		margin-top: 36% !important;
	}
	.rightel-iconset-homepage > ul > li {
		width: 25% !important;
		line-height: 100%;
	}
	.rightel-iconset-homepage > ul > li > a > i {
		zoom: 0.6;
	}
}

html>body {
	font-size: 12px !important;
}

.rightel-iconset-homepage {
	width: 100%;
	max-width: 1100px;
	background-image: url(/documents/10180/2483907/rightel-line-shadow.png);
	background-repeat: no-repeat;
	background-position: top center;
	float:right;
	margin-top: 33.5%;	
}
.rightel-iconset-homepage > h1 {
	display:none;
}
.rightel-iconset-homepage > ul {
	margin: 0px auto;
	padding: 0;
	padding-top: 17px;
	display: block;
	width: 100%;
}

.rightel-iconset-homepage > ul > li {
	margin: 0;
	padding: 0;
	padding-top: 5px;
	padding-bottom: 8px;
	list-style: none;
	width: 12.1%;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	overflow: hidden;
}
.rightel-iconset-homepage > ul > li > a {
	color: #9f4681;
	display:block;
	width:100%;
}

.rightel-iconset-homepage > ul > li > a:hover {
	color: #666;
}

.rightel-iconset-homepage > ul > li > a > span {
	font-weight:bold;
	font-family: 'rightel_yekan', tahoma, arial;
	display:inline-block;
	height:27px;
}

.rightel-iconset-homepage > ul > li > a > i {
	background-image: url(/documents/10180/2456172/rightel-iconset-home-2016-12-14.png);
	width: 84px;
	height: 84px;
	display: block;
	margin: 0px auto;
}

.rightel-iconset-homepage > ul > li > a > i.news {
	background-position: 0px 0px;
}
.rightel-iconset-homepage > ul > li > a:hover > i.news {
	background-position: 0px -84px;
}
.rightel-iconset-homepage > ul > li > a > i.roaming {
	background-position: -84px 0px;
}
.rightel-iconset-homepage > ul > li > a:hover > i.roaming {
	background-position: -84px -84px;
}
.rightel-iconset-homepage > ul > li > a > i.coverage {
	background-position: -168px 0px;
}
.rightel-iconset-homepage > ul > li > a:hover > i.coverage {
	background-position: -168px -84px;
}
.rightel-iconset-homepage > ul > li > a > i.ecare {
	background-position: -252px 0px;
}
.rightel-iconset-homepage > ul > li > a:hover > i.ecare {
	background-position: -252px -84px;
}
.rightel-iconset-homepage > ul > li > a > i.offers {
	background-position: -336px 0px;
}
.rightel-iconset-homepage > ul > li > a:hover > i.offers {
	background-position: -336px -84px;
}
.rightel-iconset-homepage > ul > li > a > i.invoice {
	background-position: -420px 0px;
}
.rightel-iconset-homepage > ul > li > a:hover > i.invoice {
	background-position: -420px -84px;
}
.rightel-iconset-homepage > ul > li > a > i.charge {
	background-position: -504px 0px;
}
.rightel-iconset-homepage > ul > li > a:hover > i.charge {
	background-position: -504px -84px;
}
.rightel-iconset-homepage > ul > li > a > i.signup {
	background-position: -588px 0px;
}
.rightel-iconset-homepage > ul > li > a:hover > i.signup {
	background-position: -588px -84px;
}
.home-simcardannounce {
	width: 100%;
	margin: auto;
	background-image: url(/documents/10180/2483907/rightel-simcardarea.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 360px;
	float:right;
	display:table;
}
.sim-category {
	width: 32.8%;
	display: inline-block;
}
.sim-category-container {
	margin: auto;
	width: 98%;
}
.sim-category ul {
	padding: 0;
	margin: 15px auto;
	display: block;
}
.sim-category img {
	margin: auto;
	max-width: 100%;
	display: block;
}
.sim-category ul li {
	text-align: center;
	direction: rtl;
	list-style: none;
	display: block;
}
.sim-category ul .sim-category-head a {
	font-family: 'rightel_yekan', tahoma, arial;
	font-weight:normal;
	background: #ededed;
	background: -moz-linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(255, 255, 255, 1) 31%, rgba(255, 255, 255, 1) 75%, rgba(237, 237, 237, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(237, 237, 237, 1)), color-stop(31%, rgba(255, 255, 255, 1)), color-stop(75%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
	background: -webkit-linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(255, 255, 255, 1) 31%, rgba(255, 255, 255, 1) 75%, rgba(237, 237, 237, 1) 100%);
	background: -o-linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(255, 255, 255, 1) 31%, rgba(255, 255, 255, 1) 75%, rgba(237, 237, 237, 1) 100%);
	background: -ms-linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(255, 255, 255, 1) 31%, rgba(255, 255, 255, 1) 75%, rgba(237, 237, 237, 1) 100%);
	background: linear-gradient(to bottom, rgba(237, 237, 237, 1) 0%, rgba(255, 255, 255, 1) 31%, rgba(255, 255, 255, 1) 75%, rgba(237, 237, 237, 1) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ededed', GradientType=0);
	padding: 5px 8px;
	font-size: 13px;
	box-shadow: 0 4px 5px #bbb;
	-o-box-shadow: 0 4px 5px #bbb;
	-moz-box-shadow: 0 4px 5px #bbb;
	-webkit-box-shadow: 0 4px 5px #bbb;
	border: 1px solid #ddd;
	-o-border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	-webkit-transition: all ease .3s;
	-moz-transition: all ease .3s;
	-o-transition: all ease .3s;
	-ms-transition: all ease .3s;
	transition: all ease .3s;
	color: #777;
	display: block;
	width: 65%;
	margin: auto;
	
}
.sim-category ul .sim-category-head a:hover {
	color: #777;
}
.sim-category ul li a {
	text-decoration: none;
	line-height: 200%;
	font-size: 11px;
	color: #353c3d;
	text-decoration: none;
	transition: all ease .4s;
	-webkit-transition: all ease .4s;
	-moz-transition: all ease .4s;
	-o-transition: all ease .4s;
	-ms-transition: all ease .4s;
}
.sim-category ul li a:hover {
	color: #be0578;
}
.sim-category-afterhead {
	margin-top: 15px;
}
#home-postpaidsim {
	position: relative;
	top: 22px;
}
.content {
	margin: 0 auto;
	width: 100%;
}
.float-rt,
.float-rb {
	z-index: 10;
	height: 210px;
	width: 35px;
	position: fixed;
	right: 0;
	top: 180px;
	border-right: 0;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	text-decoration: none;
	transition: all ease .4s;
	-webkit-transition: all ease .4s;
	-moz-transition: all ease .4s;
	-o-transition: all ease .4s;
	-ms-transition: all ease .4s;
}
.float-rb {
	top: 395px;
}
.float-rt:hover,
.float-rb:hover {
	box-shadow: -3px 0 3px silver;
}
.float-rt a,
.float-rb a {
	text-decoration: none;
	display: block;
	height: 212px;
	width: 37px;
}
.float-lt,
.float-lb {
	z-index: 1000;
	height: 210px;
	width: 35px;
	position: fixed;
	left: 0;
	top: 180px;
	border-right: 0;
	-webkit-border-top-right-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	-moz-border-radius-topright: 7px;
	-moz-border-radius-bottomright: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	text-decoration: none;
	transition: all ease .4s;
	-webkit-transition: all ease .4s;
	-moz-transition: all ease .4s;
	-o-transition: all ease .4s;
	-ms-transition: all ease .4s;
}
.float-lb {
	top: 395px;
}
.float-lt:hover,
.float-lb:hover {
	box-shadow: 3px 0 3px silver;
}
.float-lb a,
.float-lt a {
	text-decoration: none;
	display: block;
	height: 212px;
	width: 37px;
}
@media screen and (min-width: 741px) and (max-width: 980px) {
	#sildeshow-container {
		max-width: 98%;
		padding: 0;
		margin: 0 auto;
		margin-top: 10px;
		top: -66px;
	}
	.forw,
	.back {
		display: none;
	}
	
	.sim-category ul .sim-category-head a {
		background: #ededed;
		background: -moz-linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(255, 255, 255, 1) 31%, rgba(255, 255, 255, 1) 75%, rgba(237, 237, 237, 1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(237, 237, 237, 1)), color-stop(31%, rgba(255, 255, 255, 1)), color-stop(75%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
		background: -webkit-linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(255, 255, 255, 1) 31%, rgba(255, 255, 255, 1) 75%, rgba(237, 237, 237, 1) 100%);
		background: -o-linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(255, 255, 255, 1) 31%, rgba(255, 255, 255, 1) 75%, rgba(237, 237, 237, 1) 100%);
		background: -ms-linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(255, 255, 255, 1) 31%, rgba(255, 255, 255, 1) 75%, rgba(237, 237, 237, 1) 100%);
		background: linear-gradient(to bottom, rgba(237, 237, 237, 1) 0%, rgba(255, 255, 255, 1) 31%, rgba(255, 255, 255, 1) 75%, rgba(237, 237, 237, 1) 100%);
		filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ededed', GradientType=0);
		padding: 3px 5px;
		font-size: 13px;
		box-shadow: 0 4px 5px #bbb;
		-o-box-shadow: 0 4px 5px #bbb;
		-moz-box-shadow: 0 4px 5px #bbb;
		-webkit-box-shadow: 0 4px 5px #bbb;
		border: 1px solid #ddd;
		border-radius: 100px;
		-o-border-radius: 100px;
		-moz-border-radius: 100px;
		-webkit-border-radius: 100px;
		transition: all ease .3s;
		-webkit-transition: all ease .3s;
		-moz-transition: all ease .3s;
		-o-transition: all ease .3s;
		-ms-transition: all ease .3s;
		color: #777;
		display: block;
		width: 55%;
		margin: auto;
	}
	.float-lb,
	.float-lt,
	.float-rb,
	.float-rt {
		display: none;
	}
}
@media screen and (max-width: 740px) {
	.float-lb,
	.float-lt,
	.float-rb,
	.float-rt {
		display: none;
	}	
	.rightel-specialoffer {
		display: none;
	}
	.rightel-iconset-homepage > ul {
		display:table;
	}	
	#sildeshow-container {
		position: relative;
		top: 0;
		max-width: 100%;
		padding: 0;
		margin: 0 auto;
		margin-top: 10px;
	}
	.slideshowControllerContainer {
		display: none;
	}
	.slides img {
		border-radius: 0;
		-o-border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
	}
	.sim-category ul .sim-category-head a {
		background: #ddd;
		padding: 3px 5px;
		font-size: 13px;
		background: #ededed;
		background: -moz-linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(255, 255, 255, 1) 31%, rgba(255, 255, 255, 1) 75%, rgba(237, 237, 237, 1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(237, 237, 237, 1)), color-stop(31%, rgba(255, 255, 255, 1)), color-stop(75%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
		background: -webkit-linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(255, 255, 255, 1) 31%, rgba(255, 255, 255, 1) 75%, rgba(237, 237, 237, 1) 100%);
		background: -o-linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(255, 255, 255, 1) 31%, rgba(255, 255, 255, 1) 75%, rgba(237, 237, 237, 1) 100%);
		background: -ms-linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(255, 255, 255, 1) 31%, rgba(255, 255, 255, 1) 75%, rgba(237, 237, 237, 1) 100%);
		background: linear-gradient(to bottom, rgba(237, 237, 237, 1) 0%, rgba(255, 255, 255, 1) 31%, rgba(255, 255, 255, 1) 75%, rgba(237, 237, 237, 1) 100%);
		filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ededed', GradientType=0);
		box-shadow: 0 4px 5px #bbb;
		-o-box-shadow: 0 4px 5px #bbb;
		-moz-box-shadow: 0 4px 5px #bbb;
		-webkit-box-shadow: 0 4px 5px #bbb;
		border: 1px solid #ddd;
		border-radius: 100px;
		-o-border-radius: 100px;
		-moz-border-radius: 100px;
		-webkit-border-radius: 100px;
		transition: all ease .3s;
		-webkit-transition: all ease .3s;
		-moz-transition: all ease .3s;
		-o-transition: all ease .3s;
		-ms-transition: all ease .3s;
		color: #777;
		display: block;
		width: 55%;
		margin: auto;
	}
	#topper {
		display: none;
	}
	.home-simcardannounce {
		width: 100%;
		margin: auto;
		background-image: url(/documents/10180/2483907/rightel-simcardarea.jpg);
		background-repeat: no-repeat;
		background-position: center top;
		padding-top: 30px;
	}
	.sim-category {
		width: 100%;
		display: block;
		position: relative;
		height: 180px;
		margin-top: 10px;
	}
	.sim-category-container {
		margin: auto;
		width: 100%;
	}
	.sim-category ul {
		padding: 0;
		margin: 0;
		margin-right: 41%;
		display: block;
		max-width: 56%;
	}
	.sim-category img {
		margin: auto;
		max-width: 40%;
		float: right;
		margin-right: 3%;
	}
	.sim-category ul li {
		text-align: center;
		direction: rtl;
		list-style: none;
		display: block;
	}
	.sim-category ul .sim-category-head a {
		padding: 0;
		font-size: 13px;
		display: block;
		width: 60%;
		margin: auto;
	}
	.sim-category ul li a:hover {
		color: #be0578;
	}
	.sim-category-afterhead {
		margin-top: 5px;
	}
	#home-postpaidsim {
		position: relative;
		top: 0;
	}
	#home-prepaidsim img {
		margin-right: 8%;
	}
}

.rightel-socialmedia {
	width:100%;
	float:right;
	margin-bottom: -10px;
	background: #f5f5f5;
	background: -moz-linear-gradient(left,  #ffffff 0%, #f5f5f5 50%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#f5f5f5), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(left,  #ffffff 0%,#f5f5f5 50%,#ffffff 100%);
	background: -o-linear-gradient(left,  #ffffff 0%,#f5f5f5 50%,#ffffff 100%);
	background: -ms-linear-gradient(left,  #ffffff 0%,#f5f5f5 50%,#ffffff 100%);
	background: linear-gradient(to right,  #ffffff 0%,#f5f5f5 50%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
}
.rightel-socialmedia > span {
	display: block;
	margin: 0px auto;
	margin-top: 5px;
	text-align: center;
	width: 35%;
}
.rightel-socialmedia > ul {
	display: table;
	margin: 10px auto;
}
.rightel-socialmedia > ul > li {
	float: right;
	margin: 0px 5px;
	list-style:none;
}
.rightel-socialmedia > ul > li > a {
	text-indent: -4000px;
	overflow: hidden;
	width:32px;
	height:32px;
	display:block;
	background-image: url(/documents/10180/2456172/rightel-socialmedia.png);
}
.rightel-socialmedia > ul > li > a.lenzor {
	background-position:-64px 0px;
}
.rightel-socialmedia > ul > li > a.lenzor:hover {
	background-position:-64px -32px;
}
.rightel-socialmedia > ul > li > a.cloob {
	background-position:-96px 0px;
}
.rightel-socialmedia > ul > li > a.cloob:hover {
	background-position:-96px -32px;
}
.rightel-socialmedia > ul > li > a.instagram {
	background-position:-128px -0px;
}
.rightel-socialmedia > ul > li > a.instagram:hover {
	background-position:-128px -32px;
}
.rightel-socialmedia > ul > li > a.aparat {
	background-position:-160px 0px;
}
.rightel-socialmedia > ul > li > a.aparat:hover {
	background-position:-160px -32px;
}
.rightel-socialmedia > ul > li > a.telegram {
	background-position:-192px 0px;
}
.rightel-socialmedia > ul > li > a.telegram:hover {
	background-position:-192px -32px;
}