body{background-color:#ededed;color:#333;font-family:Georgia,Palatino,serif;font-size:11px;margin:0 auto;text-align:center;width:100%}
.up_menu_f{
font-size:18px;
}
.up_menu_u{
font-size:18px;
}
.up_menu_en{
font-size:15px;
}
.up_menu_a{
font-size:12px;
}
.up_menu_i{
font-size:13px;
}
.up_menu{
font-size:15px;
margin-top: 3px;
}
#menu_link_external {
background-color: #D2D2D2;
padding: 2px 0 0 0px;
position: relative;
text-align: left;
float: left;
color: #8F8F8F;
width: 1008px;
border: 1px solid #7F7F7F;
}
#menu_link_external a {
color: #2F2F2F;
padding: 0 4px;
font-family: "BreraCondensedLight";
}

#menu_hp_cor4 a.menu_last {
    color: #2F2F2F;
    float: left;
    font-family: "BreraCondensedLight";
    font-size: 14px;
    height: 25px;
    padding: 7px 17px 0;
    position: relative;
width: 235px;text-align: center;
}

#menu_hp_cor_ai {
height: 21px;
background: white;
margin-right:5px;
}
#menu_hp_cor_ai li{
float:left;
}
#menu_hp_cor_ai li a{
font-family: "BreraCondensedLight";
float:left;
color:#2f2f2f;
}

#menu_hp_cor li {
position: relative;
float: left;
}

#menu_hp_cor {
float: left;
height: 30px;
background: white;
width: 676px;
}

#menu_hp_cor li {
position: relative;
float: left;
}

#menu_hp_cor a.menu_first {
color: #464646;
float: left;
font-family: "BreraCondensedLight";
height: 21px;
padding: 5px 0px 0px;
position: relative;
margin-left:5px;
}
#menu_link_external2 {
background-color: #D2D2D2;
padding: 2px 0 0 0px;
position: relative;
text-align: left;
float: left;
color: #8F8F8F;
width: 1008px;
border: 1px solid #7F7F7F;
}
#menu_link_external2 a {
color: #2F2F2F;
padding: 0 4px;
font-size: 11px;
font-family: "BreraCondensedLight";
}
#menu_hp_cor2 {
float: left;
height: 30px;
padding-top: 7px;
background: white;
width:1010px;
}

#menu_hp_cor2 li {
position: relative;
float: left;
}

#menu_hp_cor2 a.menu_first {
color: #FFF;
float: left;
font-family: "BreraCondensedLight";
font-size: 15px;
height: 25px;
padding: 5px 14px 0px;
position: relative;
}
#menu_hp_cor3 {
float: left;
height: 30px;
padding-top: 7px;
background: white;
margin-top:1px;
margin-right:1px;
}

#menu_hp_cor3 li {
position: relative;
float: left;
}

#menu_hp_cor3 a.menu_first {
color: #2f2f2f;
float: left;
font-family: "BreraCondensedLight";
font-size: 15px;
height: 25px;
padding: 5px 16px 0px;
position: relative;
}

#menu_hp_cor4 {
float: left;
height: 30px;
padding: 0px; background: #ededed;border-top: 1px solid #FFF;
width: 549px;
}

#menu_hp_cor4 li {
position: relative;
float: left;
}

#menu_hp_cor4 a.menu_first {
color: #2F2F2F;
float: left;
font-family: "BreraCondensedLight";
font-size: 14px;
padding: 5px 17px 0px;
position: relative;
height: 25px;
}


.pushbar{
text-align:center;
}

#col32{float:left;font-family:Arial;padding-left:1px;width:160px}
h1{color:#0B4586;font-size:36px;font-weight:bold;letter-spacing:-.85px;line-height:36px;margin:0;padding:0}
h1 a{color:#0B4586;font-size:36px}
h2{color:#0B4586;font-size:18px;font-weight:normal;letter-spacing:-1px;line-height:21px;margin:0;padding:0}
h2 a{color:#0B4586;font-weight:lighter}
h3{color:#0B4586;font-size:27px;font-weight:normal;margin:0;padding:0}
h4{color:#0B4586;font-size:19px;font-weight:lighter;line-height:19px;margin:0;padding:0}
h6{color:#0B4586;font-size:20px;font-weight:lighter;margin:0;padding:0}
p{margin:0;padding:0}
ul{list-style-type:none;margin:0;padding:0}
img{border:0 none;padding:0}
input{border:1px solid #D7D5D0;color:#333;font-size:11px}
#mainContainer {margin: 0 auto;position: relative;text-align: left;width:1010px;z-index: 1;}
#shadowLeft{background-image:url(../images/shadowLeft.gif);background-position:left top;background-repeat:repeat-y;float:left;padding-left:15px;width:1010px}
#shadowRight{background-image:url(../images/shadowRight.gif);background-position:right top;background-repeat:repeat-y;float:left;width:1034px}
#wrapper{float:left;width:1010px;background:#FFF}
#bottomSpacer{background-image:url(../images/BottomShadow.gif);background-position:left top;background-repeat:repeat-x;float:left;height:20px;width:100%}
#bottomSpacer .leftShadow{background-image:url(../images/leftBottomShadow.gif);background-position:left top;background-repeat:no-repeat;float:left;height:10px;width:40%}
#bottomSpacer .rightShadow{background-image:url(../images/rightBottomShadow.gif);background-position:right top;background-repeat:no-repeat;float:right;height:10px;width:40%}
.clr{clear:both;float:left;font-size:1px;width:100%}
.taL{text-align:left}.taR{text-align:right}
.taC{text-align:center}
.bpR{background-position:right center}
.border1grey{border:1px solid #CCC}
.borderDotGrey{border:1px dotted #CCC}
.bb2Grey{border-bottom:medium none #E7E4E4}
.tcGreen{color:#090}
.tcRed a{color:#C00;font-weight:bold;text-transform:uppercase}
.font37{font-size:37px}
.font25{font-size:25px}
.font16{font-size:16px}
.lowercase{text-transform:lowercase}
.uppercase{text-transform:uppercase}
.pdT1{padding-top:1px}
.pdB1{padding-bottom:1px}
.pdT2{padding-top:2px}
.pdB2{padding-bottom:2px}
.pdT3{padding-top:3px}
.pdB3{padding-bottom:3px}
.pdT4{padding-top:4px}
.pdB4{padding-bottom:4px}
.pdT5{padding-top:5px}
.pdB5{padding-bottom:5px}
.pdT6{padding-top:6px}
.pdB6{padding-bottom:6px}
.pdT7{padding-top:7px}
.pdB7{padding-bottom:7px}
.pdT8{padding-top:8px}
.pdB8{padding-bottom:8px}
.pdT10{padding-top:10px}
.pdB10{padding-bottom:10px}
.pdT12{padding-top:12px}
.pdB12{padding-bottom:12px}
.pdT20{padding-top:20px}
.pdB20{padding-bottom:20px}
.pdL1{padding-left:1px}
.pdR1{padding-right:1px}
.pdL2{padding-left:2px}
.pdR2{padding-right:2px}
.pdL3{padding-left:3px}
.pdR3{padding-right:3px}
.pdL4{padding-left:4px}
.pdR4{padding-right:4px}
.pdL5{padding-left:5px}
.pdR5{padding-right:5px}
.pdL6{padding-left:6px}
.pdR6{padding-right:6px}
.pdL7{padding-left:7px}
.pdR7{padding-right:7px}
.pdL8{padding-left:8px}
.pdR8{padding-right:8px}
.pdL10{padding-left:10px}
.pdR10{padding-right:10px}
.pdL14{padding-left:14px}
.pdR14{padding-right:14px}
.pdL15{padding-left:15px}
.pdR15{padding-right:15px}
.pdL17{padding-left:17px}
.pdR17{padding-right:17px}
.pdL20{padding-left:20px}
.pdR20{padding-right:20px}
.pdL30{padding-left:30px}
.pdR30{padding-right:30px}
.pdL50{padding-left:50px}
.pdR50{padding-right:50px}
.pdL85{padding-left:85px}
.pdR85{padding-right:85px}
.pdR12{padding-right:12px}
.pdR185{padding-right:185px;width:308px}
.pdR190{padding-right:185px;width:470px}
.pdR250{padding-right:250px}
.pdB30{padding-bottom:30px}
.pdB24{padding-bottom:24px}
.pd2{padding:2px}
.pd7{padding:7px}
.pd10{padding:10px}.pd6{padding:6px}.mL1{margin-left:1px}.mT3{margin-top:3px}.mB3{margin-bottom:3px}.mT7{margin-top:7px}.mB7{margin-bottom:7px}.mT8{margin-top:8px}.mB8{margin-bottom:8px}.mT9{margin-top:9px}.mB9{margin-bottom:9px}.mT10{margin-top:10px}.mB10{margin-bottom:10px}.mT12{margin-top:12px}.mB12{margin-bottom:12px}.mT14{margin-top:14px}.mB14{margin-bottom:14px}.mT15{margin-top:15px}.mB15{margin-bottom:15px}.mT20{margin-top:20px}.mB20{margin-bottom:20px}.mT23{margin-top:23px}.mB23{margin-bottom:23px}.mT25{margin-top:25px}.mB25{margin-bottom:25px}.mT28{margin-top:28px}.mB28{margin-bottom:28px}.mT50{margin-top:50px}.mB50{margin-bottom:50px}.mL2{margin-left:2px}.mR2{margin-right:2px}.mL3{margin-left:3px}.mL5{margin-left:5px}.mR5{margin-right:5px}.mR1{margin-right:1px}.mR7{margin-right:7px}.mL8{margin-left:8px}.mR8{margin-right:8px}.mL10{margin-left:10px}.mR10{margin-right:10px}.mL50{margin-left:50px}.mL15{margin-left:15px}.mR15{margin-right:15px}.mR20{margin-right:20px}.mT30{margin-top:30px}.mB30{margin-bottom:30px}.mL20{margin-left:20px}.mL25{margin-left:25px}.mR25{margin-right:25px}.mL30{margin-left:30px}.mR30{margin-right:30px}.mL35{margin-left:35px}.mR35{margin-right:35px}.mL60{margin-left:60px}.mL105{margin-left:105px}.width2{width:2px}.width15{width:15px}.width167{width:167px}.width177{width:177px}.width60{width:60px}.width82{width:82px}.width83{width:83px}.width90{width:90px}.width40{width:40px}.width166{width:166px}.width135{width:135px}.width183{width:183px}.width185{width:185px}.width120{width:120px}.width190{width:190px}.width170{width:170px}.width210{width:210px}.width220{width:220px}.width245{width:245px}.width295{width:295px}.width297{width:297px}.width200{width:200px}.width253{width:253px}.width280{width:280px}.width303{width:303px}.width345{width:345px}.width300{width:300px}.width260{width:260px}.width298{width:298px}.width255{width:255px}.width470{width:470px}.width350{width:350px}.width366{width:366px}.width380{width:380px}.width483{width:483px}.width504{width:504px}.width490{width:490px}.width330{width:330px}.width242{width:242px}.width283{width:283px}.width287{width:287px}.width265{width:265px}.width400{width:400px}.width420{width:420px}.width430{width:430px}.width670{width:670px}.width700{width:700px}.width800{width:800px}.width790{width:790px}.width440{width:440px}.maxWidth310{width:310px}.halfWidth{width:50%}.width372{width:372px}.width395{width:395px}.width650{width:650px}.width655{width:655px}.width665{width:665px}.width662{width:662px}.width660{width:660px}.width230{width:230px}.width240{width:240px}.width150{width:150px}.width153{width:153px}.width160{width:159px}.width149{width:149px}.height285{height:285px}.oneThirdWidth{margin-right:5px;width:32%}.height16{height:16px}.height26{height:26px}.height40{height:40px}.height240{height:240px}.height237{height:237px}.height300{height:300px}.height10P{height:10%}.height20P{height:20%}.height80P{height:80%}.height90P{height:90%}.height90{height:90px}.height43{height:43px}.height105{height:105px}.maxHeigth{height:100%}.p3{padding:3px}.box233{float:left;width:231px}
.bgBlue{background-color:#496094}
.bgGrey{background-color:#7E7B7B}
.bgGrey2{background-color:#ededed}
.bgGreen{background-color:#093}
.bgLightGreen{background-color:#EBF5CD}
.bgLightBlue{background-color:#CFE0E0}
.bgLightBlue1{background-color:#DBE0EE}
.bgLightGrey{background-color:#EEECEC}
.bgLightGrey1{background-color:#E7E4E4}
.dottedBorderBotom{border-bottom:1px dotted #FFF}
.whiteDotBottom{background-position:left bottom;background-repeat:repeat-x}
.darkGreyDotBottom{background-image:url(../images/darkGreyDot.gif);background-position:left bottom;background-repeat:repeat-x}
.borderGrey8{border:8px solid #E7E4E4}.btnBlue a{background-image:url(../images/archivio_off.gif);background-position:left center;background-repeat:repeat-x;display:block;height:22px;width:81px}
.btnBlue a:hover{background-image:url(../images/archivio_on.gif);background-position:left center;background-repeat:repeat-x;text-decoration:none}
.width152{width:152px}
.bgGreyRubr{background-color:#CCC}
#bannertopRow{background-color:#dfdfdf;color:#FFF;text-align:center;width:100%}
#topRow{background-color:#5F5F5F;color:#FFF;float:left;height:30px;width:1010px}
.btnSearch{background-image:url(../images/btnSearch.gif);background-position:left top;background-repeat:no-repeat;cursor:pointer;display:block;float:left;height:21px;margin-left:6px;width:24px}
.btnSearch:hover{background-image:url(../images/btnSearch.gif);background-position:left bottom;background-repeat:no-repeat}
#logoRow{background:#FFF;float:left;height:96px;position:relative;width:100%}
#logoTophome{margin-left:80px;margin-right:80px}
#tabStrip{border-bottom:0 solid #FFF;clear:both;float:left;font-size:1px;height:4px;width:100%}
.aggiornamento{color:#CCC;float:right;font-family:Arial,Helvetica,sans-serif;font-size:10px;font-weight:normal;padding-left:10px;padding-right:14px;padding-top:3px;text-align:right}
#bottomRow{background-color:#5F5F5F;color:#FFF;float:left;font-size:12px;font-weight:lighter;height:23px;padding-bottom:4px;padding-top:4px;width:1010px}
#bottomRow span{color:#FFF;float:left;padding-left:25px}
#pageContainer{background-color:#FFF;float:left;padding-top:8px;width:1010px}
#col1{float:left;width:135px}
#col2{border-left:1px solid #E7E4E4;border-right:1px solid #E7E4E4;float:left;padding-left:9px;padding-right:8px;width:135px}
.width165{width:163px}.w165{width:165px}
#col31{float:left;margin-left:5px;padding-left:2px;width:255px}
#col31canale{float:left;padding-left:2px;width:300px}
#col31home{float:left;padding-left:2px;width:260px}
#col21{float:left;padding-left:2px;padding-right:2px;width:416px}
#colNew{padding-left:5px;padding-right:2px}
#col21canale{float:left;padding-left:3px;padding-right:3px}
#col41{border-right:1px solid #E7E4E4;color:#000;float:left;padding-bottom:40px;padding-left:50px;padding-right:40px;width:393px}
.pageTitle{color:#000;float:left;font-size:37px;margin-bottom:12px;margin-left:50px;margin-top:8px;width:866px}
#col42{border-left:1px solid #E7E4E4;float:left;margin-left:-1px;margin-top:30px;padding-left:40px;width:392px}
#col22{border-left:1px solid #E7E4E4;border-right:1px solid #E7E4E4;float:left;margin-left:-2px;padding-left:7px;padding-right:7px;width:523px}
#col22 h1{color:#000;font-size:29px;font-weight:lighter;padding-top:10px;float:left}
#col22 .headLine{color:#333;font-size:16px;font-weight:bold}
#col22 .pageRow1 .headLine p{clear:left;font-size:14px;font-weight:lighter;padding-bottom:20px}
#logotopSx img{
    width:180px;
}
#col22art{float:left;margin-left:-2px;padding-left:10px;padding-right:7px;width:670px}
#col22art h1{color:#000;font-size:29px;font-weight:lighter;padding-top:10px}
#col22art .headLine{color:#333;font-size:16px;font-weight:bold}
#col22art .pageRow1 .headLine p{clear:left;font-size:14px;font-weight:lighter;padding-bottom:20px}
#col22art .articleTitle{color:#496094;float:left;width:665px}

.pageRow1{color:#000;float:left;width:668px}
.pageRow1 p{font-size:1.3em;font-weight:normal;line-height:22px}
.commentsBox{float:right;margin-left:14px;width:290px}
.photoAuthor{color:#999;float:left;font-size:11px;font-style:italic;padding-top:5px}
.author{clear:left;color:#F60;float:left;font-size:11px;font-weight:bold;margin-bottom:5px;margin-right:10px;margin-top:5px;white-space:normal}
.author a{color:#F30;display:inline}
.author_ed{color:#C00;float:left;font-size:11px;font-weight:bold;margin-bottom:5px;margin-right:5px;margin-top:5px;white-space:normal}
.author_ed a{color:#F60;display:inline}
.author_ed a:hover{color:#F60;text-decoration:none}
.view_all a{color:#09C;display:inline;font-family:Arial,Helvetica,sans-serif;font-size:11px;font-weight:bold;text-decoration:underline}
.view_allGrey a{color:#666;display:inline;font-family:Arial,Helvetica,sans-serif;font-size:11px;font-weight:bold}
.listen,.listen a{display:inline;font-family:Arial,Helvetica,sans-serif;font-size:11px;font-weight:bold}
.interviewed{color:#666;font-size:12px;font-weight:bold;margin-bottom:5px;margin-top:5px;white-space:normal}
.interviewed a{color:#999;display:inline;font-size:12px;font-weight:bold}
.commenta{margin-bottom: 0px;color: #cc0000;font-size: 13px;background-image:url(../images/sprite-f.png);background-position:-184px -98px;background-repeat:no-repeat;color:#C00;font-family:Arial,Helvetica,sans-serif;font-weight:bold;margin-top:4px;padding-left:20px}
.rubriche_speciali{color:#666;font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:bold;margin-left:14px;margin-top:5px}
.nome_rubrica{color:#666;font-family:Arial,Helvetica,sans-serif;font-size:11px;font-weight:bold;margin-bottom:5px;margin-top:7px}
.link a{background-position:left center;color:#036;float:left;font-family:Arial,Helvetica,sans-serif;font-size:9px;font-weight:normal;padding-left:3px}
.mondo_sussidiario{color:#069;font-family:Arial,Helvetica,sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:bold;line-height:normal;text-decoration:none}
.articleBody{background-image:url(../images/greyDot.gif);background-position:left bottom;background-repeat:repeat-x;clear:both;float:left;margin-bottom:9px;padding-bottom:7px;padding-top:2px;width:100%}
.specialHeadLine{float:left;margin-left:30px}
.specialHeadLine a{background-image:url(../images/darkGreyDot.gif);background-position:left bottom;background-repeat:repeat-x;color:#686363;display:block;float:left;padding-bottom:2px}
.specialHeadLine a:hover{background-image:url(../images/blackDot.gif);background-position:left bottom;background-repeat:repeat-x;color:#000;float:left;padding-bottom:2px;text-decoration:none}
.dotSeparator{background-image:url(../images/greyDot.gif);background-position:left center;background-repeat:repeat-x;clear:both;float:left;font-size:6px;padding-bottom:10px;width:100%}
.dotSeparatorgenoimg{background-position:left center;background-repeat:repeat-x;clear:both;float:left;font-size:6px;padding-bottom:10px;width:100%}
.dotSeparatorNoleft{background-image:url(../images/greyDot.gif);background-position:left center;background-repeat:repeat-x;clear:both;font-size:6px;padding-bottom:10px;width:100%}
.lineSeparator{background-color:#E7E4E4;clear:both;float:left;font-size:2px;height:3px;margin-bottom:10px;margin-top:10px;width:100%}
.lineSeparator2{background-color:#E7E4E4;clear:both;float:left;font-size:1px;height:1px;margin-bottom:10px;margin-top:10px;width:100%}
.lineSeparator3{background-color:#E7E4E4;clear:both;font-size:2px;height:3px;margin-bottom:10px;margin-top:10px;width:100%}
.lineSeparator1{background-color:#E7E4E4;clear:both;float:left;font-size:2px;height:3px;margin-bottom:10px;margin-top:10px;padding-left:5px;padding-right:5px;width:97%}
.lineseparator-article{background-color:#E7E4E4;font-size:2px;height:3px;margin-bottom:10px;margin-top:10px;width:100%}
.centerRedHeadline{background-color:#C00;border:3px solid red;clear:both;color:#FFF;float:left;margin-bottom:9px;padding-bottom:4px;padding-top:5px;width:368px}
.centerRedHeadline p{float:left;font-size:12px;text-align:center;width:100%}
.centerRedHeadline .title{float:left;font-size:19px;font-weight:bold;padding-bottom:3px;text-align:center;width:368px}
.externalPromo1{float:left;overflow:auto;text-align:center;width:100%}
.smallTabsContainer1{float:left;width:100%}
.smallTabsContainer2{background-image:url(../images/bgSmallTabs1.gif);background-position:left top;background-repeat:repeat-x;float:left;padding-top:5px;width:100%}
#col3{border-left:1px solid #E7E4E4;border-right:1px solid #E7E4E4;float:left;margin-left:-2px;width:504px}
.pageRow{float:left;width:490px}
.otherMainTitles a{background:url(../images/sprite-f.png) no-repeat -185px -146px;color:#0B4586;float:left;margin-right:10px;padding-left:21px;padding-top:2px}
.otherMainTitles1 a{background-repeat:no-repeat;color:#0B4586;float:left;font-size:11px;margin-bottom:3px;margin-right:10px;padding-left:5px;width:76%}
.otherTitles{background:transparent url(../images/sprite-f.png) no-repeat scroll -193px -235px;clear:both;float:left;font-size:11px;padding-left:6px}
.otherTitles a{background-position:left 3px;background-repeat:no-repeat;color:#069;float:left;margin-right:10px;padding-left:5px;padding-top:5px;text-decoration:none}
.otherTitlesAppCanale a{background-position:left 3px;background-repeat:no-repeat;color:#4F4F4F;float:left;margin-right:3px;padding-left:5px;padding-top:5px;text-decoration:none;width:240px}
.otherTitlesAppHome a{background-position:left 3px;background-repeat:no-repeat;color:#333;float:left;margin-right:3px;padding-left:5px;padding-top:5px;text-decoration:none;width:239px}
.otherTitlesAppCanale{background:transparent url(../images/sprite-f.png) no-repeat scroll -193px -235px;clear:both;float:left;font-size:12px;padding-left:5px;width:140px}
.otherTitlesAppHome{background:transparent url(../images/sprite-f.png) no-repeat scroll -193px -235px;clear:both;float:left;font-size:12px;padding-left:5px;width:145px}
.btnComment{float:left;margin-right:17px;width:79px}.btnCommentBig{float:left;width:200px}
.btnCommentBig a{background-image:url(../images/commentThisBig.gif);background-position:left top;background-repeat:no-repeat;color:#000;display:block;font-size:11px;font-weight:lighter;height:17px;padding-left:22px;padding-top:3px;text-decoration:none;white-space:nowrap}
.btnCommentBig a:hover{background-image:url(../images/commentThisBig_over.gif);background-position:left top;background-repeat:no-repeat;color:#000;text-decoration:none}
.btnSendToFriend a{background-image:url(../images/sprite-f.png);background-position:0 -98px;background-repeat:no-repeat;color:#000;display:block;font-size:10px;height:19px;padding-left:19px;padding-top:3px;text-decoration:none;width:60px}
.btnSendToFriend a:hover{background-image:url(../images/sprite-f.png);background-position:-84px -98px;background-repeat:no-repeat;color:#000;text-decoration:none}
.btn1Comment{float:left;width:79px}
.btnSendByEmail a{background-image:url(../images/sprite-f.png);background-position:0 -123px;background-repeat:no-repeat;color:#000;display:block;font-size:10px;height:19px;padding-left:26px;padding-top:3px;text-decoration:none;width:53px}
.btnSendByEmail a:hover{background-image:url(../images/sprite-f.png);background-position:-84px -123px;background-repeat:no-repeat;color:#000;text-decoration:none}
.btnPrint{float:left;margin-left:17px;width:79px}
.btn2Comment{float:left;margin-left:17px}
.btnPrint a{background-image:url(../images/sprite-f.png);background-position:-74px top;background-repeat:no-repeat;color:#000;display:block;font-size:10px;height:19px;padding-left:29px;padding-top:3px;text-decoration:none;width:50px}
.btnPrint a:hover{background-image:url(../images/sprite-f.png);background-position:-74px -22px;background-repeat:no-repeat;color:#000;height:20px;text-decoration:none;width:50px}
.btn2Comment a{background-image:url(../images/sprite-f.png);background-position:0 -54px;background-repeat:no-repeat;color:#000;display:block;font-size:10px;height:19px;padding-left:29px;padding-top:3px;text-decoration:none;width:200px}
.btn2Comment a:hover{background-image:url(../images/sprite-f.png);background-position:0 -76px;background-repeat:no-repeat;color:#000;height:20px;text-decoration:none;width:200px}
.btnContainer{float:left;padding-bottom:10px;padding-top:7px;width:290px}
.catContent{float:left;margin-left:10px;overflow:hidden;padding-left:7px;padding-right:7px;width:624px}
.catContent img{float:left;margin-bottom:7px;margin-right:20px;margin-top:3px}
.boxcorsiinfo{background:#EDEDED none repeat scroll 0 50%;border:1px solid #CCC}
.boxcorsiinfo_over{background:#B0C4DE none repeat scroll 0 50%;border:1px solid #708090}
#col4{border-left:1px solid #E7E4E4;float:left;margin-left:-1px;padding-left:7px;width:135px}
#col32big{float:left;margin-bottom:10px;padding-left:3px;width:300px}
.width263{width:263px}
#col32bis{border-left:1px solid #E7E4E4;float:left;margin-left:18px;padding-left:5px;width:120px}
#col32s{border-left:1px solid #E7E4E4;float:left;margin-left:-1px;padding-left:5px;width:200px}
.colTitle{float:left;font-size:12px}
.colTitle a{background-image:url(../images/lightBlueDot.gif);background-position:left bottom;background-repeat:repeat-x;color:#536DAC}
.colTitle a:hover{background-image:url(../images/blackDot.gif);background-position:left bottom;background-repeat:repeat-x;color:#000;text-decoration:none}
.colTitle1 a{color:#C00;text-decoration:none;text-transform:uppercase}
.colTitleEn a{color:green;text-decoration:none;text-transform:uppercase}
.colTitle3 a,.colTitle3{background-position:left bottom;background-repeat:repeat-x;color:#C00;float:left;font-size:15px;font-weight:bold;text-transform:uppercase}
.colTitle3 a:hover{background-image:url(../images/orangeLightDot.gif);background-position:left bottom;background-repeat:repeat-x;color:#F90;text-decoration:none}
.servizi,.servizi a{background-position:left center;color:#069;font-family:Arial,Helvetica,sans-serif;font-size:11px}
.canali_ultimissime a{color:#069;font-family:Arial,Helvetica,sans-serif;font-size:11px;font-weight:bold}
.canali_ultimissime_R a{color:#C00;font-family:Georgia,Palatino,serif;font-size:12px;font-weight:bold}
.canali_ultimissime_R a:hover{color:#C00;text-decoration:none}
.canali_ultimissime_B a:hover{color:#069;text-decoration:none}
.filorosso{background:#EFF4FF;border:1px dotted #8f8f8f;color:#2D4563}
.factBox{background-image:url(../images/lightGreyDot.gif);background-position:left bottom;background-repeat:repeat-x;float:left;margin-bottom:6px;padding-bottom:6px;width:152px}
.colTitle2{color:#0B4586;float:left;padding-top:15px;width:100%}
.colTitle2 a{background-image:url(../images/darkBlueDot.gif);background-position:left bottom;background-repeat:repeat-x;color:#0B4586;float:left;font-size:10px}
.colTitle2 a:hover{background-image:url(../images/blackDot.gif);background-position:left bottom;background-repeat:repeat-x;color:#333;text-decoration:none}
.box172{float:left;width:193px}
.box172 img{float:left;margin-bottom:5px;margin-top:5px}
.boxGrey,.boxGrey1{float:left;margin-top:15px;padding:10px;width:354px}
.boxGrey img{clear:left;float:left;margin-bottom:5px;margin-right:10px}
.boxGrey1 img{float:left;height:58px;margin-bottom:5px;width:88px}
.boxGrey1 .author{clear:left;color:#0B4A91;float:left;margin-top:0}
.boxGrey1 .author a{background-color:#FFF;color:#0B4A91;display:block;margin-top:0;padding:2px}
.boxGrey1 .author a:hover{background-color:#0B4A91;color:#DCECFE;text-decoration:none}
div#interno_speciali_rubriche{background-color:#EEE;margin:9px;padding:7px;width:92%}
.box_speciali_rubriche{color:#999;font-family:Arial,Helvetica,sans-serif;font-size:12px;font-size-adjust:none;font-stretch:normal;font-style:normal;font-variant:normal;font-weight:bold;line-height:normal;padding-left:7px;padding-top:5px}
.sportRow{float:left;margin:3px;padding-top:0;width:98%}
.comments{clear:both;float:left;width:100%}
.width288{width:288px}
.rssLeftGreyBox{background-color:#F0EFF1;background-image:url(../images/greyDot.gif);background-position:left bottom;background-repeat:repeat-x;float:left;padding-left:2px;width:139px}
.rssLeftGreyBox a{color:#666;float:left;font-weight:bold;padding-bottom:8px;padding-top:8px;text-decoration:none}
.rssLeftGreyBox a:hover{color:#090;text-decoration:underline}
.rssHeadRow{background-color:#EBF5CD;float:left;height:27px;text-align:right;width:100%}
.rssRow{background-image:url(../images/greyDot.gif);background-position:left bottom;background-repeat:repeat-x;float:left;padding-top:10px;width:100%}
.rssRow .img{background-color:#CCC;float:left;font-size:10px;text-align:center;width:22px}
.rssRow .text{float:left;padding-left:14px;padding-right:6px;width:460px}
.font13{font-size:13px;}
#col52 .rssRow .text a{float:left;padding-right:15px}
#col52 .rssRow .date{float:left;padding-left:7px;padding-right:5px;padding-top:40px;text-align:right;width:120px}#col52{border-left:1px solid #E7E4E4;border-right:1px solid #E7E4E4;float:left;margin-left:-2px;padding-left:11px;padding-right:11px;width:634px}#col52 a{color:#069;padding-right:7px;padding-top:6px;text-decoration:none}#col52 a:hover{color:#333;text-decoration:underline}#col62{border-left:1px solid #E7E4E4;float:left;margin-left:-2px;padding-left:7px;padding-right:7px;width:642px}#col26{border-left:1px solid #E7E4E4;border-right:1px solid #E7E4E4;float:left;margin-left:-2px;padding-left:7px;padding-right:7px;width:642px}#col26rub{float:left;padding-left:7px;padding-right:7px;width:677px}#col32rub{float:left;margin-left:-1px;padding-left:3px;width:322px}#col26s{border-right:1px solid #FFF;float:left;margin-left:-2px;padding-left:7px;padding-right:7px;width:790px}#col26s2{border-left:1px solid #E7E4E4;border-right:1px solid #FFF;float:left;margin-left:-2px;padding-left:7px;padding-right:7px;width:600px}#col62 a{color:#000;padding-right:7px;padding-top:6px;text-decoration:underline}#col321{float:left;margin-right:2px;width:165px}#col211{border-right:1px solid #E7E4E4;float:left;padding-right:8px;width:375px}#col211Dossier{float:left;padding-right:8px;width:380px}#col212{float:left;margin-left:5px;width:242px}#col212 .greyBox{background-color:#E7E4E4;float:left;padding:15px;width:212px}.rubricheHeadRow{background-color:#8D9EC7;float:left;height:64px;padding-left:12px;text-align:right;width:631px}.SpecialeHeadRow{background-color:#8D9EC7;float:left;height:64px;padding-left:10px;text-align:right;width:625px}.DossierHeadRow{background-color:#FD8B40;float:left;height:64px;padding-left:10px;text-align:right;width:630px}#col26 h3{color:#496094;font-size:30px;font-weight:lighter;margin:0;padding:0}#col26 h3 a{color:#496094;font-weight:lighter;line-height:32px;text-decoration:none}.editorialeTitle{float:left;font-size:20px}.Container_Evidenza{margin-left:5px;padding:5px;width:120px}.BoxNewsInEvidenza ul{width:145px}.titoloPPhome{color:#0B4586;font-size:23px;font-weight:normal;margin:0;padding:0}.titoloHeader{background-color:#DEDEDE;height:20px}.bottom{background:transparent url(../images/bottom.jpg) no-repeat scroll center bottom}.bordoGrigio{border-left:1px solid #DEDEDE;border-right:1px solid #DEDEDE;width:295px}.bordoGrigiosmall{border-left:1px solid #DEDEDE;border-right:1px solid #DEDEDE;padding-bottom:5px;width:156px}.width124{width:124px}.h32{height:32px}.width123{width:123px}.bordoGrigiosmall2{border-left:1px solid #DEDEDE;border-right:1px solid #DEDEDE;width:156px}.colorblu{background-color:#D2EBEA;margin-top:5px}.colorblu2{background-color:#DBE0EE;margin-top:5px}.canali_ultimissime,.ultimissime,.tcRed{font-size:11px;padding:2px}.contieniapprofondisci{background-color:#E7E7E7;border:1px solid #C8C8C8;float:left;padding:2px}.contieniapprofondiscibianco{background:none repeat scroll 0 0 #fff;border:0 none;width:260px}.contienivideophoto{background-color:#EFF4FF;border:1px solid #C8C8C8;float:left}.contienispecialecanale{background-color:#FFF;float:left}.width155{width:155px}.width112{width:112px}.width162{width:162px}.sfondogiallo{background-color:#E9E2D2}.sfondoverde{background-color:#CFE2D2}.rsstop{background:transparent url(../images/top.jpg) no-repeat scroll center bottom;height:31px}.img{float:left;margin-left:4px}.fs13{font-size:13px}.fs14{font-size:14px}.titlevideophoto a{color:#069;font-size:11px;font-weight:bold}.boxtags{float:left;height:100px;width:230px}.bbGrey3{border-bottom:3px solid #C8C8C8}.colorgrey{background-color:#E7E7E7;margin-top:2px}#bottoni{float:right;width:81px}#bottoni img{float:left;padding:2px}#col22 .articleTitle{color:#496094;float:left;width:520px}.bottomsmall{background:transparent url(../images/bottomsmall.jpg) no-repeat scroll center bottom}.rsstopsmall{background:transparent url(../images/topsmall.jpg) repeat-x scroll center bottom;height:31px}.canale_evidenza a{color:#069;font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:bold;letter-spacing:1px;text-decoration:none}.titolo_evidenza a{color:#666;font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:bold;text-decoration:none}.anyClass ul{padding-right:3px;width:150px}#footer{background-color:#566865;border-top:1px solid #FF5C00;min-height:70px}#footerInner{color:#FFF;margin:0 auto;padding-top:10px;text-align:center;width:950px}input.txt{background:#FFF url(/image/shadeTxt.gif) repeat-x scroll 0 0;border:1px solid #C2C6CF}.cEnd{display:block;height:1%}.cEnd:after{clear:both;content:".";display:block;height:0;visibility:hidden}.hide{display:none}.inline{display:inline}.news_slider{float:left;text-align:left;width:255px}.news_slider .prev{display:inline;float:right}.news_slider .next{display:inline;float:right;padding-left:0}.news_slider .news_items{left:0;overflow:hidden;position:relative;top:0;width:250px}.news_slider .item{margin-right:0;width:250px}.whiteTitle{color:#CCC}.autori_rubriche a{color:#666;font-family:Arial,Helvetica,sans-serif;font-size:11px;font-size-adjust:none;font-stretch:normal;font-style:normal;font-variant:normal;font-weight:bold;line-height:normal}.titolo,.titolo a{color:#333;float:left;font-size:11px;font-weight:bold}#newsrubrica{margin:0 auto;text-align:center;width:500px}.grigio250{background-color:#DFDFDF;clear:both;font-size:.1em;height:2px;margin:5px 3px;width:250px}.grigio290{background-color:#dfdfdf;float:left;font-size:.1em;height:2px;margin:5px 3px;width:290px}.bigbox{background-color:#EDEDED;width:296px}.tabStripLinks{background-color:#FFF;border-top:5px solid #496094;clear:both;height:17px;margin-left:0;padding-bottom:5px;padding-top:5px;width:100%}.newsletter{background-color:#ededed;border:2px solid #dfdfdf;font-size:14px;width:298px}.utilities{border:1px solid #ededed;width:298px}.ultimissimebox{border:1px solid #dfdfdf;width:298px}.inevidenza{border:0;border-bottom:2px solid #8F8F8F;width:255px}.rubrichebox{border:0;width:257px}.boxTitle260{background-color:#ededed;border-bottom:2px solid #8f8f8f;width:258px}.altriDossier{background-color:#ededed;color:#2f2f2f;font-weight:bold;width:277px}#bottoni a#print{background-image:url(../images/sprite-f.png);background-position:-184px -23px;background-repeat:no-repeat;color:#000;float:left;font-size:11px;height:16px;text-decoration:none;width:16px}#bottoni a#segnala{background-image:url(../images/sprite-f.png);background-position:-154px 1px;background-repeat:no-repeat;color:#000;float:left;font-size:11px;height:16px;text-decoration:none;width:20px}#bottoni a#condividi{background-image:url(../images/sprite-f.png);background-position:-184px 0;background-repeat:no-repeat;color:#000;float:left;font-size:11px;height:16px;text-decoration:none;width:16px}#bottoni a#commentatop{background-image:url(../images/sprite-f.png);background-position:-154px -23px;background-repeat:no-repeat;color:#000;float:left;font-size:11px;height:16px;text-decoration:none;width:16px}#rss{background:url(../images/sprite-f.png) no-repeat 0 -16px;height:35px;width:35px}#rss_small{background:url(../images/sprite-f.png) no-repeat -153px -248px;height:24px;width:24px}#rss_small_blue{background:url(../images/sprite-f.png) no-repeat -160px -214px;height:26px;width:26px}#newsletter{background:url(../images/sprite-f.png) no-repeat -3px -232px;height:48px;width:48px}#rassegnastampa{background:url(../images/sprite-f.png) no-repeat -55px -232px;height:48px;padding-right:2px;width:48px}#facebook{background:url(../images/sprite-f.png) no-repeat -103px -236px;height:48px;padding-right:2px;width:48px}.submenu{background-color:#FFF;background-image:none;border-top-color:#496094;clear:both;margin-left:0;width:1010px}.submenu2{background-color:#f7f7f7;background-image:none;clear:both;height:22px;margin-left:0;margin-top:0px;width:1010px}.grigio{color:#4F4F4F}.grigio a{font-size:11px;text-transform:uppercase}.subbanner{clear:both;margin-bottom:6px;margin-left:7px;margin-top:5px;width:990px}.imgsubbanner{border:0;height:30px;width:990px}.titleh2{font-size:24px;line-height:29px}.colorRed{color:#C00000}.titleGrey{color:#2F2F2F}.topGrey{background-image:none;border-bottom-color:#8F8F8F;border-bottom-style:solid;border-bottom-width:2px;width:258px}.boxinevidenza{background:none repeat scroll 0 0 #ededed;border-bottom:2px solid #8f8f8f;width:100%}.riga249{background-color:#DFDFDF;background-image:none;float:left;font-size:.1em;height:2px;margin:5px 3px;width:249px}.titleGrey250{color:#5F5F5F;width:250px}.rowDotted{border-bottom-color:#DFDFDF;border-bottom-style:dotted;border-bottom-width:2px;padding-bottom:4px;width:250px}.rowSolid{border-top-color:#EDEDED;border-top-style:solid;border-top-width:2px;text-align:center;width:250px}.rowDottedTop{border-top:2px dotted #EDEDED;text-align:center;width:290px}.fnewsTitle{background:none repeat scroll 0 0 #C00;color:#FFF;font-size:20px;font-weight:bold;padding:4px}.fnewsAbstract{color:#c00;line-height:15px}.news_view{border-left:1px solid #C00;border-right:1px solid #C00;height:172px;left:0;overflow:hidden;position:relative;top:0;width:404px}.news_red{background:none repeat scroll 0 0 #c00;color:#fff;font-weight:bold;height:160px;width:136px}.news_white{background:#ededed;color:#2f2f2f;font-weight:bold;height:160px;width:136px}.rubrichecanale_view{border-top:2px solid #afafaf;left:0;overflow:hidden;position:relative;top:0;width:399px}.colcanaleSX{float:left;width:407px}.colcanaleCentrale{float:left;width:260px}.colcanaleDX{float:left;padding-left:10px;width:303px}.logoRowTitle{color:#fff;font-size:50px;height:50px;letter-spacing:-1px;margin-left:20px;text-align:center;width:610px}.tabContainerLinkOn{color:#FFF;float:left;font-size:15px;font-weight:bold;padding-top:1px;text-align:center;text-decoration:none}.tabContainerLinkOff{color:#FFF;float:left;font-size:12px;font-weight:bold;text-align:center;text-decoration:none}.width196{width:196px}.width105{width:105px}.width104{width:104px}.width130{width:130px}.width146{width:146px}.width137{width:137px}.width402{width:402px}.width385{width:385px}.width138{width:138px}.width532{width:532px}.width133{width:133px}.width100{width:100px}.width500{width:500px}.width285{width:285px}.width125{width:125px}.width225{width:225px}.width228{width:228px}.width290{width:290px}.width692{width:692px}.width407{width:407px}.width147{width:147px}.width238{width:238px}.width61{width:61px}.width52{width:52px}.width90p{width:90%}.width98p{width:98%}.width79p{width:79%}.width19p{width:19%}.width99p{width:99%}.width78p{width:78%}.height160{height:160px}.height180{height:180px}.height20{height:20px}.height4{height:4px}.fwn{font-weight:normal}.m5{margin:5px}.fs20{font-size:20px}.b0{border:0}.mT2{margin-top:2px}.fs17{font-size:17px}.mL6{margin-left:6px}.taj{text-align:justify}.topRight{color:#FFF;float:left;font-size:12px;font-weight:bold;text-align:center}.width405{width:405px}#corpo-news-pp{background:none repeat scroll 0 0 #FFF;border:1px solid #CFCFCF;display:block;height:532px;margin-left:5px;margin-top:10px;margin-bottom:10px;width:452px}#corpo-news{border-left:1px solid #C00;border-right:1px solid #C00;border-top:1px solid #C00;width:404px}.corpo-news-txt{font-weight:normal;letter-spacing:-1px}#abstract-news{padding-top:5px;width:395px}.abstract-news-p{font-size:12px;width:390px}.riga-news{border-left:1px solid #C00;border-right:1px solid #C00;height:10px;left:0;position:relative;width:404px;z-index:0}.news-container-1{border-top:2px solid #C00;left:0;margin-top:10px;width:671px}.cursore{position:relative;text-align:center;top:-14px;width:130px}.no-cursore{clear:both;float:left;height:12px;width:100%}.link-all{border-top:2px solid;height:20px;width:406px}.link-all-p{color:#c00;padding:5px;text-decoration:underline}.csc-div{border-bottom:2px solid #8f8f8f;width:100%}.dossier-link{color:#c00;text-align:center;width:100%}.dossier-link a,.rubriche-tutte{color:#c00;font-weight:bold;text-decoration:underline}.csc-title{border-bottom:2px solid #8f8f8f}.evidenza-title{border-bottom:2px solid #8f8f8f;width:255px}.ultima-ora{background:none repeat scroll 0 0 #c00;text-transform:uppercase;width:255px}.top-banners{border-top:1px solid #8f8f8f;width:255px}.top-banners img{height:125px;width:125px}.contienivideophoto-canale{background:none repeat scroll 0 0 #FFF;border:0 none;float:left;width:300px}.submenured{background-color:#FFF;background-image:none;border-top-color:#C00;border-top-style:solid;border-top-width:5px;clear:both;height:25px;margin-left:0;width:1010px}.titlegreyright{background:none repeat scroll 0 0 #5f5f5f;text-transform:uppercase;width:95%}.titleredleft{background:none repeat scroll 0 0 #c00;text-transform:uppercase;width:100%}.titleredleft299{background:none repeat scroll 0 0 #c00;text-transform:uppercase;width:299px}.colTitle4{color:#FFF;float:left;font-size:12px;font-weight:bold;padding-bottom:3px;padding-top:5px}.colTitle4 a:link{color:#fff;text-decoration:underline}.news-ultimissima{float:left;margin-left:2px;padding-bottom:5px;width:97%}.news-ultimissima p.ora{color:#c00;float:left;font-family:arial;font-size:13px;font-weight:bold;margin-right:5px;padding-right:3px}.news-ultimissima .row{float:left;width:600px}.news-ultimissima .cellborder{border-left:3px solid #c00;float:left;font-family:arial;margin-bottom:5px;padding-left:9px}.cellborder .servizio{float:left;margin-bottom:5px}.cellborder .servizio a.title1:link{color:#069;float:left;font-size:12px;font-weight:bold;margin-right:5px}.cellborder .servizio a.title:link{color:#4f4f4f;font-size:12px;margin-right:10px;text-align:left}.linearossa{border-bottom:1px solid #c00;border-top:1px solid #c00;padding-bottom:5px;padding-top:5px;text-align:left;width:95%}.linearossatitle{color:#c00;float:left;margin-right:10px}#col32big300{border:0;float:left;margin-left:5px;padding-left:3px;width:300px}#col32big300-2{border:0;float:left;margin-left:10px;width:300px}.titleblueleft{background:none repeat scroll 0 0 #496094;text-transform:uppercase;width:293px}.titleblueleft .colTitle4 a:link{color:#fff;text-decoration:none}.boxifatti{background:none repeat scroll 0 0 #eff4ff;border:2px solid #cfcfcf;width:296px}.lineSeparator4{background-color:#CFCFCF;clear:both;font-size:1px;height:1px;margin-bottom:5px;margin-left:3px;margin-top:5px;width:98%}a.cellulare:link{color:#000;float:left;margin-top:10px}.bottonitop{clear:both;float:left;width:515px}.diffondi{color:#000;float:left;font-size:13px;width:250px}.linkdiffondi{border:3px solid #d7d5d0;color:#333;float:left;font-family:Arial;font-size:11px}.hrtext{background-color:#e7e4e4;border:0 none;height:3px}.bcblack{border-color:#000}.segnalazioni{height:2px;width:530px}.btnPrint a:link{width:50px}.btn2Comment a:link{display:inline-block;width:187px}.otherMainTitles1 .otherTitles a{width:95%}.rowDotted290{border-bottom:2px dotted #DFDFDF;padding-bottom:4px;width:290px}.border8f{border:1px solid #8F8F8F}.riga_grigia{background:#EDEDED none repeat scroll 0 0;height:2px;width:407px}.editoriale{width: 676px;
    margin-left: 9px;
    border: 1px solid #CFCFCF;
    background: #ededed;}a:link.autore{color:#4F4F4F;font-weight:normal;text-transform:uppercase}.container500{left:0;width:500px}.ultimissime-rigared{background:#C00 none repeat scroll 0 0;text-transform:uppercase;width:100%}.iscriviti-newsletter{clear:both;color:#0B4586;float:left;font-size:18px;margin-bottom:6px;margin-left:2px;padding-left:6px;padding-top:10px;width:280px}#newsletter1{background:transparent url(../images/sprite-f.png) no-repeat scroll -2px -232px;float:right;height:48px;margin-bottom:20px;width:48px}#facebook1{background:transparent url(../images/sprite-f.png) no-repeat scroll -113px -241px;height:34px;padding-right:2px;width:34px}.subnewsletter{border:1px solid #EDEDED;width:298px}.width275{width:275px}.pubb-right{background:#EDEDED none rfepeat scroll 0 0;border:2px solid #CFCFCF;width:296px}.pubb-right .lineseparator2{background:#CFCFCF none repeat scroll 0 0;margin-bottom:5px;margin-left:3px;margin-top:5px;width:98%}.pubblicita{color:#4f4f4f;font-size:11px}.linea-sondaggio{border-bottom:2px solid #8F8F8F;width:138px}.linea-sussidiario{border-bottom:2px solid #8F8F8F;width:129px}.sondaggi-tutti{border-top:3px solid #DFDFDF;margin-top:49px;text-align:center;width:148px}.mB5{margin-bottom:5px}.mT5{margin-top:5px}.width215{width:215px}.allegato{float:left;height:40px;width:190px}.height110{height:110px}.width148{width:148px}.cellborder .servizio a.title1:visited{color:#069;float:left;font-size:12px;font-weight:bold;margin-right:5px}.cellborder .servizio a.title:visited{color:#4F4F4F;font-size:12px;margin-right:10px;text-align:left}.authNav a:link,.authNav a:visited{color:#0B4586;text-decoration:none}.authNav a:hover{color:#0B4586;text-decoration:underline}#col32_rub{float:left;margin-left:10px;width:185px}.fnewsTitle a:link,.fnewsTitle a:visited{color:#FFF;font-weight:bold;text-decoration:underline}.fnewsTitle a:hover{color:#EF8625}.boxArancio{border:2px solid #EF8625;padding-bottom:10px;width:298px}.boxArancio a:link,.boxArancio a:visited{background-color:#EF8625;color:#FFF;font-size:13px;font-weight:bold;padding-left:5px;text-align:left;text-decoration:none;width:295px}.SpecialeHeadRow2{background-color:#1C507F;float:left;height:64px;padding-left:15px;text-align:right;width:625px}.logoRowTitle2{color:#FFF;font-size:50px;height:50px;letter-spacing:-1px;margin-left:20px;text-align:center;width:680px}.authorsinabstract{font-size:12px;font-style:italic;padding-left:5px}.authorsinabstract a{color:#333;font-style:italic;font-weight:bold;text-decoration:none}.authorsinabstract a:hover{font-style:italic;font-weight:bold;text-decoration:underline}.boxRosso{border:2px solid #C00;padding-bottom:10px;width:298px}.boxRosso a:link,.boxRosso a:visited{background-color:#C00;color:#FFF;font-size:13px;font-weight:bold;padding-left:5px;text-align:left;text-decoration:none;width:295px}#corpo-news-pp .abstract-news-p{margin-top:6px;width:442px}.abstract-news-p-text{float:left;margin-bottom:10px;width:440px}.abstract{float:left;height:160px}.allegato-canale{float:left;height:25px;width:438px}.allegato-canale a{color:#0B4586;margin-right:0;padding-left:16px;width:430px}.canale-lista-pp{float:left;height:500px;width:200px}.news_pp{background:#fff;border:1px solid #cfcfcf;color:#fff;height:78px;width:188px}.news_pp a{font-size:11px;font-style:italic;text-decoration:none}.news_grey{background:none repeat scroll 0 0 #dfdfdf;border:1px solid #cfcfcf;color:#2F2F2F;font-weight:normal;height:78px;width:188px}.canale-lista-pp .item_slider_2 img{border-width:0;height:55px;margin-bottom:5px;margin-top:4px;width:75px}.canale-lista-pp .item_slider_2 .title{color:#0B4586;float:left;margin-top:2px;width:100px}.altrenews_canale a{color:#c00;text-decoration:underline;text-transform:uppercase}.ds-box-canale-title{color:#2d4563;font-size:17px;font-weight:normal;text-align:center;width:255px}.ds-box-title{background:none repeat scroll 0 0 transparent;border-bottom:2px dotted #8f8f8f;width:97%}.ds-box-title-text a{color:#2f2f2f;text-transform:uppercase;width:340px}.ds-article-pp a{color:#2f2f2f;float:left;font-size:12px;margin-bottom:12px}.ds-box-altri{background:#dfecf4;float:left;height:176px;width:165px}.ds-box-altri span{border-bottom:1px dotted;font-size:12px;font-weight:bold}.ds-box-altri ul{list-style-type:square;margin:5px 0 5px 18px}.ds-box-altri ul li a{color:#2F2F2F;font-size:11px;padding:0;width:100%}.box-ga-dotted img{border:1px solid #8f8f8f}.box-ga-dotted .title{border:1px #2D4563 dotted;color:#2D4563}.bgRosa{background:none repeat scroll 0 0 #fbcddf;border:1px solid #cfcfcf;margin-bottom:20px}.altriarticoli_black{color:#069;float:left;font-weight:bold;margin-top:5px;padding-bottom:5px;text-align:center;width:293px}.altriarticoli_black a{color:#2f2f2f;text-decoration:underline}.bbvideofoto{border-bottom:1px solid #8f8f8f}.width188{width:188px}h3 a,h4 a{color:#0B4586;font-weight:bold}h5,h5 a{color:#069;font-size:15px;font-weight:normal;margin:0;padding:0}h6 a,.tcBlue1{color:#496094}a,#col62 a:hover,.tdn{text-decoration:none}a:hover,.otherTitles a:hover,.otherTitlesAppCanale a:hover,.otherTitlesAppHome a:hover,#col26 h3 a:hover,.tdU,.boxArancio a:hover,.boxArancio p a:hover,.rubricheHeadRow .left .author a:hover,.boxRosso a:hover,.boxRosso p a:hover{text-decoration:underline}.fl,.btnBlue,.otherMainTitles1,.rssRow .img img,* html #col22 h1,.fLeft{float:left}.fr,.rssHeadRow a,.fRight{float:right}.cl,.cLeft{clear:left}.cr,.cRight{clear:right}.cb,.clear{clear:both}.textStrong,.fwb{font-weight:bold}.textBlack,.tcBlack,.colorBlack{color:#000}.tcWhite,#topRow a,#bottomRow a,.ultima-ora-title,.colTitle4 a:visited,a.tabContainerLinkOff:visited,a.tabContainerLinkOn:visited{color:#FFF}.tcRed1 a,.tcRed{color:#C00;font-weight:bold}.tcBlue,.titoloPPhome a{color:#0B4586}.font15,.fs15{font-size:15px}.font12,.fs12{font-size:12px}.font11,.submenu2 a{font-size:11px}.font10,.fs10{font-size:10px}.font18,.fs18{font-size:18px}.pd5,.news_slider .item img{padding:5px}.mT4,.boxallegati-canale{margin-top:4px}.mL7,* html .markets{margin-left:7px}.width180,#col32_rub .rowDotted290,#col32_rub .rowSolid{width:180px}.width250,.news_slider .item div{width:250px}.maxWidth,.comments p{width:100%}.bgOrange,.bgRed{background-color:#C00}.img-pp,#corpo-news-pp .title{border-width:0;height:250px;width:439px}.clearFloat,.fNone{float:none}.sameAsTextLink,.link a:hover,.factBox a,.titolo_evidenza a:hover,.grigio333{color:#333}#logotopSx,#logotopDX{padding-bottom:2px;width:185px}#tabsContainer,#TabsBox_tabs1_tabsContainer,#TabsBox_tabs1_PanelEnglish,#ctl00_TabsBox_tabs1_PanelEnglish{background:none repeat scroll 0 0 #5f5f5f;float:left;height:26px;padding-top:4px;width:100%}.author a:hover,.colTitle1 a:hover,.colTitleEn a:hover,.canali_ultimissime a:hover,.canali_ultimissime_F a:hover,.canale_evidenza a:hover{color:#666;text-decoration:none}.interviewed a:hover,.servizi a:hover,.rubricheHeadRow .left .author a:link,.rubricheHeadRow .left .author a:visited{color:#333;text-decoration:none}.otherMainTitles,.rssRow .text p{clear:both;float:left}.tcRedlight,.tcRedlight a{color:#CB4D4A;font-weight:bold}.btnComment a,.btn1Comment a{background-image:url(../images/comment-button_bg.gif);background-position:left top;background-repeat:no-repeat;color:#000;display:block;font-size:11px;height:17px;padding-left:19px;padding-top:3px;text-decoration:none;width:60px}.btnComment a:hover,.btn1Comment a:hover{background-image:url(../images/comment-button_bg_over.gif);background-position:left top;background-repeat:no-repeat;color:#000;text-decoration:none}.btnSendToFriend,.btnSendByEmail{float:left;padding-right:10px;width:79px}.colTitle1,.colTitleEn{float:left;font-size:12px;font-weight:bold}.ultimissime a,.ultimissime a:visited{color:#333;font-size:12px;margin-bottom:5px}.canali_ultimissime_F a,.canali_ultimissime_B a,.canali_ultimissime_F a:visited{color:#069;font-family:Georgia,Palatino,serif;font-size:12px;font-weight:bold}div#speciali,div#rubriche{border:1px dotted #CCC;float:left;width:420px}.rubricheHeadRow .left,.SpecialeHeadRow .left,.DossierHeadRow .left{float:left;width:385px}.rubricheHeadRow .right,.SpecialeHeadRow .right,.DossierHeadRow .right{float:left;padding-right:12px;text-align:right;width:228px}.rubricheHeadRow .right a,.SpecialeHeadRow .right a,.DossierHeadRow .right a{color:#FFF;float:right;padding-top:8px}* html #col31 .markets,* html #col31home .markets{margin-left:0}html > body .cEnd,#corpo-news-pp .abstract{height:auto}.block,.db{display:block}.fl_news_slider,.news_canali{display:inline;float:left}.news_slider .container,.news_container,.container_rc{left:0;position:relative;top:0;width:auto}.dossierTitle,.boxTitle{background-color:#ededed;border-bottom:2px solid #8f8f8f;width:100%}.width80p,#col41 .pageTitle{width:80%}.grigio2f,.subnewsletter a,.titleBlack{color:#2f2f2f}.rossoc00,.angoliblu canale{color:#c00}.linearossa a:link,.linearossa a:visited{color:#2F2F2F;margin-left:2px;margin-right:2px}.boxArancio p a:link,.boxArancio p a:visited,.boxRosso p a:link,.boxRosso p a:visited{background-color:#FFF;color:#333;float:left;font-size:12px;font-weight:bold;margin:5px;text-decoration:none;width:95%}.moreDetails {background-image:url(../images/greyDot.gif);background-position:left top;background-repeat:repeat-x;float:left;padding-top:3px;}.moreDetails span {background-image:url(../images/greyDot.gif);background-position:left bottom;background-repeat:repeat-x;float:left;padding-bottom:3px;white-space:nowrap;}.moreDetails a {color:#006699;font-weight:bold;}.tcOrange1 {color:#ED5219;}a.gridview {color:#000000;}a.gridview: hover{color:#000000;}span.gridview{font-weight:bold;font-size:14px;}.abstract-news-p p a{font-weight: bold; text-decoration: underline;color:#000;}#primoPiano  p a{font-weight: bold; text-decoration: underline;color:#000;}.box172 p a{font-weight: bold; text-decoration: underline;color:#000;}.sportRow p a{font-weight: bold; text-decoration: underline;color:#000;}.itembluhome p a{font-weight: bold; text-decoration: underline;color:#000;}.tcDarkGrey a{text-decoration: none;color: #333333;}.precsucc a:hover{text-decoration: none;color: #333333;}.precsucc a:visited{text-decoration: none;color: #333333;}.precsucc a:link{text-decoration: none;color: #333333;}.precsucc a:active{text-decoration: none;color: #333333;}.fnewsTitleemc2{background: none repeat scroll 0 0 #0B4586;color: #FFFFFF;font-size: 20px;font-weight: bold;padding: 5px;width:650px;}.fnewsAbstractemc2 {width:650px;color: #0B4586;float: left;line-height: 15px;padding: 5px;}div#skin{float: left;height: 100%;margin: 0;padding: 0;position: relative;width: 100%;z-index: 0;}a#skinClick {display: none;}
.bott_
{
float:right;width:205px;height:16px;    
}
 
.bott_2
{
width: 785px; float: left; padding-bottom: 3px;  
}
.topnews2{
font-size: 16px; border: 0px; background: #cc0000; color: #FFF;float: left; width: 662px;
}