body {
background-color:#FFFFFF;
background-image:none;
font-family:Georgia,Palatino,serif;
}
#shadowLeft, #shadowRight {
background-color:#FFFFFF;
background-image:none;
width:auto;
}
div#skin {
float: left;
height: 100%;
margin: 0;
padding: 0;
position: relative;
width: 100%;
z-index: 0;
}
p {
   margin-top:5px;
   margin-bottom:5px;
}

.youAreIn1 
{
    width:590px    
}
h1 {
    color: #0B4586;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: -0.85px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    width:590px;
}

.tcRed {
    color: #CC0000;
    font-weight: bold;
}

.interviewed {
    color: #999999;
    display: inline;
    font-size: 14px;
    font-weight: bold;
	text-decoration:none;

    white-space: normal; 
    width:590px;
}

.interviewed a {
    color: #999999;
    display: inline;
    font-size: 14px;
    font-weight: bold;
	text-decoration:none;
}
.dat
{
 width:595px;   
    }

.author
{
color: #F60;
font-size: 14px;
font-weight: bold;
margin-right: 10px;
white-space: normal;
width:590px;
} 



.author a
{
color: #F60;
font-size: 14px;
font-weight: bold;
margin-bottom: 5px;
margin-right: 10px;
margin-top: 5px;
white-space: normal;
width:100%;
} 

.colTitle1 {
    color: #CC0000;
    text-decoration: none;
    text-transform: uppercase;
}

.colTitle1 a {
    color: #CC0000;
    text-decoration: none;
    text-transform: uppercase;
}

.youAreIn1R
{
 width:100%;   
}

#pageContainer {
width:100%;
margin:0px;
padding:0px;
}
#logotopSx img{
    width:auto;
}
.logoRowTitle2
{
    display:none;
    } 
#topRow {
display:none;
}
#bannertopRow {
display:none;
}
#tabsContainer {
display:none;
}
#tabStrip {
display:none;
}
#col1 {
display:none;
}
#col32 {
display:none;
}
#col22 {
border:medium none;
width:55em;
}
#col4 {
display:none;
}
#bottomSpacer {
background-image:none;
display:none;
}
#bottomRow {
display:none;
}
#shadowLeft, #shadowRight .fl {
float:none;
}
#col2 .fl {
float:none;
}
#col21 .fl {
float:none;
}
#col22 .fl {
float:none;
}
#col3 .fl {
float:none;
}
#col31 .fl {
float:none;
}

.mB20
{
    margin-bottom:20px;
    }
    
.pdT10
{
    padding-top:10px
    }
    
    .mB10
{
    margin-bottom:10px;
    }
    
.pdT5
{
    padding-top:5px
    }

#col321 .fl {
float:none;
}
.hrtext
{
display:none;    
}

.pageRow1 {
padding-top:30px;
margin:0px;
padding-left:0px;
padding-right:0px;
font-size:12px;
width:600px;
}
.btnContainer {
display:none;
}
#mainContainer {
margin: 0 auto;
position: relative;
text-align: left;
width: 100%;
z-index: 1;
padding:0px;
}
.pageRow1 p {
font-weight:normal;
margin:0px;
padding:0px;
width:600px;

}

#col22art .articleTitle
{
 width:590px;  
 }

.commentsBox {
display:none;
}
.bottonitop
{
    display:none;
}
#col32big
{
    display:none;
}
#col22art
{
width:100px;
padding:0px;
margin:0px;
}
.precsucc
{
       display:none;   
}
.segnalazioni
{
     display:none;   
    }

#menu_hp_cor
{
     display:none;   
    }
#menu_link_external
{
      display:none;   
    }
.pushbar
{
      display:none;       
    }    

.colTitle1 {
    font-size: 14px;
    font-weight: bold;
	margin-top:5px;
}


.font12 {
font-size:12px;
} 


.comments {
display:none;
} 


.pushbar{ display:none;}

.pdB10{
padding-bottom:10px;
}
.fl{float:left;}
.mT5{ margin-top:5px;}