.prod-content-section {
	overflow: hidden;
	display: block;
}
.is-show-onpc, .is-show-ontablet, .is-show-onmobile {
	display: none;
}

.has-top-line {
	border-top: 1px #ccc solid;
}
.prod-content-right {
	float: right;
}

.prod-content-section img {
	vertical-align: top;
}

.prod-content-left-text {
	text-align: left;
}
.prod-content-center-text {
	text-align: center;
}

.prod-content-title span {
	font-family: 'CiscoSansExtraLight', Arial, Helvetica, Sans-serif;
}

.prod-hero-phone, .call-not-mobile, .call-is-mobile, .call-is-sales {
	vertical-align: top;
}
.prod-switch-line {
	display: block;
}
.video-link {
	display: inline-block;
	margin-top: 20px;
	padding-left: 23px;
	font-family: 'CiscoSansExtraLight', Arial, Helvetica, Sans-serif;
	font-size: 18px;
	line-height: 22px;
}
.video-link-re {
display: inline-block;
font-family: 'CiscoSansExtraLight', Arial, Helvetica, Sans-serif;
font-size: 18px;
line-height: 22px;
}
.prod-hero-video-link {
	display: inline-block;
	margin-top: 20px;
	padding-left: 23px;
	font-family: 'CiscoSansExtraLight', Arial, Helvetica, Sans-serif;
	font-size: 18px;
	line-height: 23px;
}
.prod-hero-video-box {
  display: none;
  width: 290px;
  height: 171px;
  position: relative;
  background-color: #000;
  margin: 0 auto;
  margin-top: 20px;
    margin-bottom: 32px;
}

.prod-video-icon {
	float: left;
	display: inline-block;
	background: url(../../images/product/getting-started-icons.png) no-repeat -40px 0;
	width: 18px;
	height: 18px;
	margin: 2px 0 0 -25px;
}
.prod-video-icon:hover {
	background-position: -40px -18px;
}
.video-link:hover .prod-video-icon {
	background-position: -40px -18px;
}
.prod-hero-video-link:hover .prod-video-icon {
	background-position: 0 -18px;
}
.prod-learnmore {
	font-family: 'CiscoSansRegular', Arial, Helvetica, Sans-serif;
	font-size: 18px;
	line-height: 23px;
	color: #333;
}
.prod-text-link {
	font-family: 'CiscoSansExtraLight', Arial, Helvetica, Sans-serif;
	font-size: 18px;
	line-height: 23px;
}
.prod-pdftext {
	font-family: 'CiscoSansExtraLight', Arial, Helvetica, Sans-serif;
	font-size: 16px;
	line-height: 23px;
}

.prod-content-detail li:last-child {
	padding-bottom: 0;
}

.prod-content-detail .video-link p {
	color: inherit;
}

/* page nav section */
.prod-nav {
	border-top: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
}
.prod-nav .splitline {
	float: left;
	height: 44px;
	width: 1px;
	background-color: #cccccc;
	display: block;
	vertical-align: top;
	margin-top: 13px;
}
.prod-nav .splitlinelive {
	background-color: #5390a9;
	height: 70px;
	margin-top: 0;
}
.prod-nav .splitlinehover {
	background-color: #5390a9;
	height: 70px;
	margin-top: 0;
}
.prod-nav .prod-nav-link {
	float: left;
	display: block;
	padding: 0 30px;
	height: 70px;
	font-family: 'CiscoSansRegular', Arial, Helvetica, sans-serif;
	font-size: 15.5px;
	line-height: 70px;
	vertical-align: top;
	color: #555;
}
.prod-nav .prod-nav-link:hover {
	background-color: #5390a9;
	color: #fff;
}

.prod-nav .prod-nav-link-active {
	background-color: #5390a9;
	color: #fff;
}
.prod-nav .prod-nav-link-active:hover {
	color: #fff;
}

/* page nav section fixed */
.prod-nav-fixed {

	border-bottom: 1px #ccc solid;
	position: fixed;
	top: 109px;
	z-index: 99;
	width: 100%;
	display: none;
	background-color: #fff;
	opacity: .95;
}
.prod-nav-fixed .splitline {
	float: left;
	height: 20px;
	width: 1px;
	background-color: #cccccc;
	display: block;
	vertical-align: top;
	margin-top: 10px;
}
.prod-nav-fixed .splitlinelive {
	background-color: #5390a9;
	height: 40px;
	margin-top: 0;
}
.prod-nav-fixed .splitlinehover {
	background-color: #5390a9;
	height: 40px;
	margin-top: 0;
}
.prod-nav-fixed .prod-nav-link {
	float: left;
	display: block;
	padding: 0 30px;
	height: 40px;
	font-family: 'CiscoSansRegular', Arial, Helvetica, sans-serif;
	font-size: 15.5px;
	line-height: 40px;
	vertical-align: top;
	color: #555;
}
.prod-nav-fixed .prod-nav-link:hover {
	background-color: #5390a9;
	color: #fff;
}
.prod-nav-fixed .prod-nav-link-active {
	background-color: #5390a9;
	color: #fff;
}
.prod-nav-fixed .prod-nav-link-active:hover {
	color: #fff;
}

/* Start - For tabbed navigation external link */
.prod-nav .prod-nav-link-external {
	float: left;
	display: block;
	padding: 0 30px;
	height: 70px;
	font-family: 'CiscoSansRegular', Arial, Helvetica, sans-serif;
	font-size: 15.5px;
	line-height: 70px;
	vertical-align: top;
	 color: #555;
	
}
.prod-nav .prod-nav-link-external:hover {
	background-color: #5390a9;
	color: #fff;
}

.prod-nav .prod-nav-link-external-active {
	background-color: #5390a9;
	color: #fff;
}
.prod-nav .prod-nav-link-external-active:hover {
	color: #fff;
}

	.prod-nav-fixed .prod-nav-link-external {
	float: left;
	display: block;
	padding: 0 30px;
	height: 40px;
	font-family: 'CiscoSansRegular', Arial, Helvetica, sans-serif;
	font-size: 15.5px;
	line-height: 40px;
	vertical-align: top;
	color: #555;
}
.prod-nav-fixed .prod-nav-link-external:hover {
	background-color: #5390a9;
	color: #fff;
}
.prod-nav-fixed .prod-nav-link-external-active {
	background-color: #5390a9;
	color: #fff;
}
.prod-nav-fixed .prod-nav-link-external-active:hover {
	color: #fff;
}

/* End - For tabbed navigation external link */

/* production other resources section  */
.prod-other-resource {
	background-color: #eee;
}
.prod-other-resource-icon {
	background-image: url(../../images/product/other-res-get-start.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	padding-left: 41px;
}
.prod-other-resource-get-start {
	background-image: url(../../images/product/other-res-get-start.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	padding-left: 41px;
}
.prod-other-resource-learn-more {
	background-image: url(../../images/product/other-res-learn-more.png);
	background-position: 16px 0;
	background-repeat: no-repeat;
	padding-left: 57px;
}
.prod-other-resource-hear-from {
	background-image: url(../../images/product/other-res-hear-cus.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	padding-left: 41px;
}

/* production content social btn */
.prod-content-social {
	position: fixed;
	top: 320px;
	z-index: 29;
	display: none;
}
.prod-content-social-mobile {
	display: none;
}
.prod-content-chat-sales, .prod-content-call-sales, .prod-content-contact-sales {
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #555;
	line-height: 34px;
	vertical-align: top;
	height: 34px;
	margin-bottom: 5px;
	width: 38px;
	overflow: hidden;
	border-radius: 3px;
}
.prod-content-chat-sales-text, .prod-content-chat-sales-text:hover, .prod-content-chat-sales-text:active, .prod-content-chat-sales-text:focus {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	vertical-align: top;
	color: #fff;
}
.prod-content-social .icon-chat-sales, .prod-content-social .icon-call-sales, .prod-content-social .icon-contact-sales {
	margin-right: 0;
}
.prod-content-social-close {
	background-image: url(../../images/product/prod-close.png);
	
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline-block;
	width: 26px;
	height: 26px;
	vertical-align: top;
	margin-top: 4px;
	margin-left: 12px;
	margin-right: 6px;
}
.prod-content-social-close:hover {
	background-position: 0 -29px;
	cursor: pointer;
}
.prod-content-chat-sales-hover {
	background-color: #23adad;
	color: #fff;
	width: auto;
}
.prod-content-chat-sales-hover:hover {
	color: #fff;
}
.prod-content-chat-sales-hover .icon-chat-sales {
	background-color: #23adad;
}

.prod-content-call-sales-hover {
	background-color: #ffa64d;
	color: #fff;
	width: auto;
	cursor: default;
}
.prod-content-call-sales-hover:hover {
	color: #fff;
}
.prod-content-call-sales-hover .icon-call-sales {
	background-color: #ffa64d;
}

.prod-content-contact-sales-hover {
	background-color: #6dd900;
	color: #fff;
	width: auto;
}
.prod-content-contact-sales-hover:hover {
	color: #fff;
}
.prod-content-contact-sales-hover .icon-contact-sales {
	background-color: #6dd900;
}

/* video lightbox */
.modal-close {
	width: 45px;
	height: 45px;
	background: url(../../images/open-html/close-round.png) no-repeat 7px -3px;
	position: absolute; 
	top: -18px; 
	right: -18px;
	cursor: pointer;
	z-index: 999;
}
.modal-content {
	border-radius: 0;
	width: 100%
}
.modal-body {
	padding: 0
}

.modal-dialog {
	max-width: 960px;
	max-height: 540px;
	margin:  50px auto 0 auto;
	position: relative;
}

/* product button style */

.prod-btn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #fff;
	line-height: 50px;
	border-radius: 5px;
	display: inline-block;
	height: 50px;
	min-width: 180px;
	text-align: center;
	padding: 0 25px;
}
.prod-btn-green {
	background-color: #3BC715;
}
.prod-btn-green:hover {
	color: #FFFFFF;
	background-color: #33b611;
}
.prod-btn-green:active, .prod-btn-green:focus {
	color: #FFFFFF;
	background-color: #33b611;
}

.prod-btn-orange {
	background-color: #FF7E22;
}
.prod-btn-orange:hover {
	color: #FFFFFF;
	background-color: #f4781f;
}
.prod-btn-orange:active, .prod-btn-orange:focus {
	color: #FFFFFF;
	background-color: #f4781f
}
.prod-content-section-onecol {
	text-align: center;
}

/* product content style */
.prod-content-detail p a {
	font-family: 'CiscoSansExtraLight', Arial, Helvetica, Sans-serif;
}

/* product mc hero button selection */
.mc-url-call-m{
display: none;
}
    .mc-url-call-p{
display: inline-block;
}



/********** CSS for Pricing Section ***************/
.prod-content-section-onecol {
	text-align: center;
}
.wm-content-section {overflow: visible;}
.prod-content-detail-pricing {
	margin: 0;
}
.prod-content-detail-pricing .price-title {
	font-family: 'CiscoSansRegular', Arial, Helvetica, sans-serif;
	font-size: 22px;
	line-height: 22px;
	color: #555;
	text-transform: uppercase;
}
.prod-content-detail-pricing .price-content {
	font-family: "CiscoSansExtraLight", Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 16px;
	color: #555;
	padding: 4px 0 13px;
}
.prod-content-detail-pricing .price-content p {
	font-family: "CiscoSansExtraLight", Arial, Helvetica, sans-serif;
	margin: 0; 
	color: #555;
}
.prod-content-detail-pricing .price-content p:first-child {
	padding-bottom: 13px;
}
.prod-content-detail-pricing .price-content p span {
	font-family: "CiscoSansExtraLight", Arial, Helvetica, sans-serif;
	font-size: 50px;
	line-height: 50px;
	color: #555;
	text-align: left;
	display: inline-block;
}
.prod-content-detail-pricing .price-content p span:first-child {
	font-size: 26px; 
	line-height: 26px;
	vertical-align: top;
	padding: 5px 6px 0 0;
}
.prod-content-detail-pricing .price-content p span:last-child {
	font-size: 18px;
	line-height: 21px;
	max-width: 60px;
	padding-left: 7px;
}
.prod-content-detail-pricing .features-title {
	font-family: 'CiscoSansRegular', Arial, Helvetica, sans-serif;
	line-height: 23px;
	color: #555;
	padding-top: 37px;
	padding-bottom: 5px;
	clear: both;
}
.prod-content-detail-pricing .features-content li {
	text-align: left;
	background: url(../../images/product/bullet-orange.png) no-repeat 0 8px;
	font-family: "CiscoSansExtraLight", Arial, Helvetica, sans-serif;
	font-size: 18px;
}
.prod-content-detail-pricing .features-content+.features-content li {
	padding-bottom: 12px;
}
.prod-content-detail-pricing .features-more {
	position: relative;
	clear: both;
	padding-top: 44px;
	padding-bottom: 70px;
}
.prod-content-detail-pricing .features-link {
	font-family: "CiscoSansExtraLight", Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #007FC5;	
}
.prod-content-detail-pricing .features-link:hover {
	color: #00a5ff;
}
.prod-content-detail-pricing .features-tooltip {
	display: none;
	position: absolute;
	width: 398px;
	height: 257px;
	font-family: "CiscoSansExtraLight", Arial, Helvetica, sans-serif;
	font-size: 18px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	background-color: #F9F9F9;
	padding-left: 25px;
	padding-top: 15px;
	text-align: left; 
	z-index: 9;
}


/* product meetings section 3 */
.prod-meetings-call-phone {
	height: 71px;
	width: 71px;
	margin: 0 auto 25px;
	background: url(../../../../../../content/dam/webex/eopi/Americas/USA/en_us/global/images/append/prod-icon-phone.png) no-repeat center;
}
.prod-meetings-call-detail {
	width: 714px;
	margin: 0 auto;
}
.prod-meetings-call-detail a {
	font-family: 'CiscoSansExtraLight', Arial, Helvetica, Sans-serif;
}
.prod-meetings-call-list {
	width: 490px;
	float: left;
	text-align: left;
	font-family: 'CiscoSansExtraLight', Arial, Helvetica, Sans-serif;
	
	margin-top: 15px;
}
.prod-meetings-call-list li {
	background: url(../../images/product/prod-li-blue.png) 0 7px no-repeat;
	
}
.prod-meetings-premium-call {
	border-left: 1px #ddd solid;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	float: left;
	text-align: left;
	font-family: 'CiscoSansExtraLight', Arial, Helvetica, Sans-serif;
	
	margin-top: 21px;
	margin-bottom: 40px;
}
.prod-meetings-premium-call-title {
	font-family: 'CiscoSansRegular', Arial, Helvetica, Sans-serif;
	font-size: 17px;
	line-height: 22px;
	color: #444;
	margin-bottom: 2px;
}
.prod-meetings-call-price {
	margin: 25px auto 0 auto;
	table-layout: fixed;
}
.prod-meetings-call-price td {
	vertical-align: middle;
	font-family: 'CiscoSansRegular', Arial, Helvetica, Sans-serif;
	font-size: 14px;
	line-height: 17px;
}
.prod-meetings-call-price .prod-meetings-call-price-title {
	font-family: 'CiscoSansRegular', Arial, Helvetica, Sans-serif;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
}
.prod-content-detail .prod-meetings-call-list ul {
	margin-bottom: 14px;
}
.prod-meetings-call-price .prod-meetings-call-price-subtitle1 {
	font-family: 'CiscoSansRegular', Arial, Helvetica, Sans-serif;
	color: #26424E;
}
.prod-meetings-call-price .prod-meetings-call-price-subtitle2 {
	font-family: 'CiscoSansRegular', Arial, Helvetica, Sans-serif;
	color: #1B4A2C;
}
.prod-meetings-call-price .prod-meetings-call-price-color1 {
	color: #333;
}
.prod-meetings-call-price .prod-meetings-call-price-color2 {
	color: #487D92;
}
.prod-meetings-call-price .prod-meetings-call-price-color3 {
	color: #488E76;
}
.prod-meetings-call-price .prod-meetings-call-price-note {
	font-family: 'CiscoSansExtraLight', Arial, Helvetica, Sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #333;
	text-align: left;
}
.prod-meetings-call-price .td-border-right-w {
	border-right: 1px #fff solid;
}
.prod-meetings-call-price .td-border-right-g {
	border-right: 1px #ccc solid;
}
.prod-main-map {
	background: url(../../../../../../content/dam/webex/eopi/Americas/USA/en_us/global/images/append/prod-map-bg.jpg) no-repeat;
	width: 420px;
	height: 359px;
	font-size: 13px;
	line-height: 18px;
	color: #555555;
	margin: 20px;
	padding: 0;
	text-align: left;
}
.prod-map-content {
	padding: 25px 0 0 26px;
}
.prod-map-title {
	font-family: 'CiscoSansExtraLight', Arial, Helvetica, sans-serif;
	font-size: 21px;
	line-height: 24px;
	color: #333333;
	padding-bottom: 19px;
	width: 320px;
}
.prod-main-map ul {
  width: 260px;
  margin-top: 5px;
  margin-bottom: 7px;
}
.prod-main-map li {
  float: left;
  min-width: 95px;
  padding-bottom: 5px;
  background: url(../../images/product/square.gif) no-repeat scroll 0 7px transparent;
  color: #555555;
  font-size: 13px;
  line-height: 18px;
  list-style: none outside none;
  padding-left: 13px;
}
.prod-map-ct {
  margin-top: 20px;
}

.prod-modal-content {
	width: 460px;
}



/********** CSS for EC Pricing Section ***************/
.ec-pricing {
	margin-top:38px;
}
.ec-price-content {
	position: relative;
	width: 140px;
	height: 122px;
	border: 1px solid #8ba8b8;
	border-radius: 6px;
	margin: 0 auto
}
.ec-participants {
	position: absolute;
	top: 0;
	width: 100%;
	height: 30px;
	font-family: 'CiscoSansRegular', Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 30px;
	color: #345e76;
}
.ec-amount {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 90px;
	background-color: #5390A9;
	padding-top: 12px;
}
.ec-amount span {
	font-family: "CiscoSansExtraLight", Arial, Helvetica, sans-serif;
	color: #fff;
	display: inline-block;	
}
.ec-amount span:first-child {
	font-size: 26px;
	line-height: 26px;
	vertical-align: top;
	padding-top: 4px;
}
.ec-amount span:last-child {
	font-size: 52px;
	line-height: 52px;
	padding-left: 3px;
	letter-spacing: -3px;
}
.ec-pricing .col-xs-4+.col-xs-4 .ec-amount span:last-child {
	padding-right: 12px;
}
.ec-amount div:last-child {
	font-family: "CiscoSansExtraLight", Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #fff;
	margin-top: -4px;
}
.ec-annual-plan {
	font-family: 'CiscoSansRegular', Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #555;
	padding-top: 7px;
}
.ec-contactsales-title {
	font-family: "CiscoSansExtraLight", Arial, Helvetica, sans-serif;
	font-size: 30px;
	line-height: 37px;
	padding-top: 75px;
	color: #555;
}
.ec-contactsales {
	width: 421px;
	height: 35px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 20px;
	margin: 30px auto 7px;
	box-sizing: content-box;
}
.ec-tel {
	display: inline-block;
	width: 202px;
	height: 35px;
	border-right: 1px solid #ccc;
	background: url(../../images/product/icon-tel-orange.png) no-repeat 0 5px;
	padding-left: 28px;
	font-family: 'CiscoSansRegular', Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #ff8000;
	line-height: 35px;
	text-align: left;
}
.ec-chat {
	display: inline-block;
	width: 190px;
	height: 35px;
	background: url(../../images/product/icon-chat-green.png) no-repeat 0 6px;
	font-family: 'CiscoSansRegular', Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 35px;
	text-align: right;
	margin-left: 29px;
}
.ec-chat span {
	display: inline-block;
	border-radius: 4px;
	background-color: #26bfbf;
	font-family: 'CiscoSansRegular', Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #fff;
	line-height: 35px;
	padding: 0 15px;
}

/* cmr special section */
.prod-content-cmr {
	font-family: 'CiscoSansRegular', Arial, Helvetica, Sans-serif;
	font-size: 19px;
	line-height: 27px;
	color: #ffffff;
	text-align: center;
}
.prod-content-cmrb-title {
	font-family: 'CiscoSansExtraLight', Arial, Helvetica, Sans-serif;
	font-size: 36px;
	line-height: 45px;
	color: #ffffff;
	
	text-align: center;
	margin-bottom: -3px;
}
.prod-content-cmrb-subtitle {
	font-family: 'CiscoSansExtraLight', Arial, Helvetica, Sans-serif;
	font-size: 30px;
	line-height: 37px;
	color: #ffffff;
	margin-bottom: 19px;
	text-align: center;
}
.prod-content-cmrb-conts {
	display: block;
	width: 220px;
	margin: 0 auto;
	padding-bottom: 8px;
	font-size: 30px;
	line-height: 27px;
	font-family: "CiscoSansBold";
	color: #c1e9ea;
}
.prod-content-cmrb-conts:hover {
	color: #1e3853;
}
.prod-content-cmrb-mc {
	color: #c1e9ea;
	font-family: "CiscoSansBold";
	font-size: 18px;
}
.prod-content-cmrb-mc:hover {
	color: #1e3853;
}




/****************************************************
 The tool box style of the windows beyond 960px;
 */

@media (min-width: 992px) {
	/* prodction hero section */

	.prod-hero-mobile {
		display: none;
	}

	.prod-asp-header {
		font-family: 'CiscoSansRegular', Arial, Helvetica, Sans-serif;
		font-size: 40px;
		line-height: 47px;
		color: #333;
		margin-bottom: 2px;
	}
	.prod-page-title {
		font-family: 'CiscoSansExtraLight', Arial, Helvetica, Sans-serif;
		font-size: 32px;
		line-height: 40px;
		color: #000;
	}
	.prod-page-subtitle {
		font-family: 'CiscoSansExtraLight', Arial, Helvetica, Sans-serif;
		font-size: 26px;
		line-height: 31px;
		color: #444;
		margin-top: 3px;
	}

	.prod-hero-content {
		padding-top: 59px;
		height: 455px;
	}
	.prod-hero-contact {
		
	}
	
	.prod-top-contact {
	bottom: 69px;
  position: absolute;
  z-index: 4;
	}

	.prod-hero-chat-sales, .prod-hero-call-sales, .prod-hero-contact-sales {
		display: inline-block;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		color: #555;
		line-height: 34px;
		vertical-align: top;
		height: 34px;
		margin-bottom: 5px;
	}
	.prod-hero-contact-text {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		color: #555;
		line-height: 34px;
		vertical-align: top;
		height: 34px;
	}
	.prod-hero-chat-sales:hover .prod-hero-contact-text {
		color: #00a5ff;
	}
	.prod-hero-call-sales:hover {
		color: #555;
	}

	.icon-chat-sales {
		background-color: #26bfbf;
		width: 38px;
		height: 34px;
		display: inline-block;
		border-radius: 3px;
		margin-right: 10px;
	}
	.icon-chat-sales span {
		width: 26px;
		height: 26px;
		display: inline-block;
		margin: 6px 0 0 8px;
	}
	.prod-hero-chat-sales:hover .icon-chat-sales {
		background-color: #23adad;
	}

	.icon-call-sales {
		background-color: #ff8000;
		width: 38px;
		height: 34px;
		display: inline-block;
		border-radius: 3px;
		margin-right: 6px;
	}
	.icon-call-sales span {
		width: 26px;
		height: 26px;
		display: inline-block;
		margin: 6px 0 0 8px;
	}
	.prod-hero-call-sales:hover {
		cursor: default;
		color: #555;
	}
	.prod-hero-contact .icon-call-sales-hover {
		background-color: #ffa64d;
	}

	.icon-contact-sales {
		background-color: #3bc715;
		width: 38px;
		height: 34px;
		display: inline-block;
		border-radius: 3px;
		margin-right: 10px;
	}
	.icon-contact-sales span {
		width: 26px;
		height: 26px;
		display: inline-block;
		margin: 6px 0 0 7px;
	}
	.prod-hero-contact-sales:hover .icon-contact-sales {
		background-color: #6dd900;
	}

	.call-not-mobile {
		display: inline-block;
	}
	.call-is-mobile {
		display: none;
	}
	
	/* meetings hero button */
	.prod-hero-buttons {
		position: absolute;
	  	z-index: 3;
	  	bottom: 64px;
	}
	
	.prod-hero-ft {
		display: inline-block;
		margin-top: 49px;
		margin-right: 20px;
	}
	.mc-url-call-m{
display: none;
}
    .mc-url-call-p{
display: inline-block;;
}

	/* page content section */
	.prod-content {
		padding-top: 50px;
		padding-bottom: 65px;
	}
	.is-show-onpc {
		display: block;
	}

	.prod-content-title {
		font-family: 'CiscoSansRegular', Arial, Helvetica, Sans-serif;
		font-size: 30px;
		line-height: 37px;
		color: #555;
	}
	.prod-content-subtitle {
		font-family: 'CiscoSansExtraLight', Arial, Helvetica, Sans-serif;
		font-size: 30px;
		line-height: 37px;
		color: #555;
	}
	.prod-content-detail {
		font-family: 'CiscoSansExtraLight', Arial, Helvetica, Sans-serif;
		font-size: 18px;
		line-height: 23px;
		color: #333;
		margin-top: 14px;
		margin-bottom: 22px;
	}
	.prod-content-detail p {
		margin-bottom: 6px;
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		color: #333;
	}
	.prod-content-detail ul {
		list-style: none;
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		color: #333;
		margin-top: 10px;
		margin-bottom:12px;
		
	}
	.prod-content-detail li {
		background: url(../../images/product/bullet.png) 0 9px no-repeat;
		padding-left: 16px;
		padding-bottom: 6px;
	}

	.video-link {
		margin-top: 9px;
	}
	.video-link:nth-of-type(1) {
		margin-top: 0px;
	}

	/* prodction other resource section */
	.prod-other-resource {
		padding-top: 50px;
		padding-bottom: 60px;
	}
	.prod-other-resource-title {
		margin-bottom: 44px;
	}
	.prod-other-resource-subtitle {
		font-family: 'CiscoSansRegular', Arial, Helvetica, Sans-serif;
		font-size: 20px;
		line-height: 22px;
		color: #333;
		margin-bottom: 4px;
	}
	.prod-other-res-link {
		display: inline-block;
		margin-bottom: 8px;
		font-family: 'CiscoSansExtraLight', Arial, Helvetica, Sans-serif;
		font-size: 18px;
		line-height: 22px;
	}
	.prod-other-split-line {
		height: 1px;
		background-color: #ccc;
		margin-top: 12px;
		margin-bottom: 22px;
	}
	.prod-other-split-mobile {
		display: none;
	}

	.prod-content-social .prod-content-chat-sales {
		display: inline-block;
	}
	.video-link-re{
		margin-bottom: 8px;
	}
	
	/********** CSS for Pricing Section ***************/
	.prod-content-detail-pricing {
		border: 1px solid #CCCCCC;
		border-radius: 5px;
		margin: 58px 35px 25px;
		padding: 73px 81px 24px;
	}
	.prod-content-detail-pricing .features-title {
		font-size: 20px;
	}
	.prod-content-detail-pricing .features-content {
		padding-left: 25px;
	}
	.prod-content-detail-pricing .features-content+.features-content {
		padding-left: 15px;
		padding-right: 25px;
	}
	.prod-content-detail-pricing .features-content li {
		line-height: 23px;
		color: #333;
	}
	.prod-content-detail-pricing .features-more {
		padding-top: 46px;
	}
	.prod-content-detail-pricing .features-link {
		line-height: 23px;
	}
	.prod-content-detail-pricing .features-tooltip {
		right: -135px;
		top: 10px;
	}


	/********** CSS for EC Pricing Section ***************/
	.ec-pricing {
		margin-top: 48px;
		padding: 0 80px;
	}

}


/****************************************************
 The style of the windows between 768px to 979px; 
 */
@media (min-width: 768px) and (max-width: 991px) {
	/* prodction hero section */

	.prod-hero-mobile {
		display: none;
	}

	.prod-hero-content {
		padding-top: 29px;
		height: 388px;
	}

	.prod-asp-header {
		font-family: 'CiscoSansRegular', Arial, Helvetica, Sans-serif;
		font-size: 34px;
		line-height: 36px;
		color: #333;
		margin-bottom: 5px;
	}
	.prod-page-title {
		font-family: 'CiscoSansExtraLight', Arial, Helvetica, Sans-serif;
		font-size: 27px;
		line-height: 32px;
		color: #000;
	}
	.prod-page-subtitle {
		font-family: 'CiscoSansExtraLight', Arial, Helvetica, Sans-serif;
		font-size: 22px;
		line-height: 28px;
		color: #444;
		margin-top: 2px;
	}

	.prod-hero-contact {
		
	}
	.prod-top-contact {
	bottom: 18px;
  position: absolute;
  z-index: 4;
	}

	.prod-hero-chat-sales, .prod-hero-call-sales, .prod-hero-contact-sales {
		display: inline-block;
		font-family: 'CiscoSansExtraLight', Arial, Helvetica, Sans-serif;
		font-size: 18px;
		color: #555;
		line-height: 38px;
		vertical-align: top;
		height: 38px;
		margin-bottom: 10px;
	}
	.prod-hero-chat-sales:hover, .prod-hero-call-sales:hover, .prod-hero-contact-sales:hover {
		color: #555;
	}
	.prod-hero-chat-sales:focus, .prod-hero-call-sales:focus, .prod-hero-contact-sales:focus {
		color: #555;
	}

	.prod-hero-chat-sales {
		display: none;
	}
	.icon-call-sales {
		background-color: #ff8000;
		width: 38px;
		height: 34px;
		display: inline-block;
		border-radius: 3px;
		margin-right: 6px;
	}
	.icon-call-sales span {
		width: 26px;
		height: 26px;
		display: inline-block;
		margin: 5px 0 0 8px;
	}
	.prod-hero-phone {
		font-size: 17px;
		vertical-align: top;
	}
	.prod-hero-call-sales:hover {
		cursor: default;
		color: #555;
	}
	.prod-hero-contact .icon-call-sales-hover {
		background-color: #ffa64d;
	}

	.icon-contact-sales {
		background-color: #3bc715;
		width: 38px;
		height: 34px;
		display: inline-block;
		border-radius: 3px;
		margin-right: 10px;
	}
	.icon-contact-sales span {
		width: 26px;
		height: 26px;
		display: inline-block;
		margin: 7px 0 0 7px;
	}
	.prod-hero-contact-sales:hover .icon-contact-sales {
		background-color: #6dd900;
	}

	.call-not-mobile {
		display: inline-block;
	}
	.call-is-mobile {
		display: none;
	}
	
	/* meetings hero button */
	.prod-hero-section-meetings .prod-page-subtitle {
		width: 260px;
	}
	.prod-hero-buttons {
		position: absolute;
	  	z-index: 3;
	  	bottom: 40px;
	}
	.prod-hero-ft {
		
		margin-top: 30px;
	}
	.prod-hero-buy {
		margin-top: 30px;
	}

.mc-url-call-m{
display: none;
}
    .mc-url-call-p{
display: block;;
}


	/* page nav */
	.prod-nav .prod-nav-link {
		padding: 0 20px;
		font-size: 15px;
	}

	/* fixed nav */
	.prod-nav-fixed {
		top: 137px;
	}
	.prod-nav-fixed .splitline {
		float: left;
		height: 20px;
		width: 1px;
		background-color: #cccccc;
		display: block;
		vertical-align: top;
		margin-top: 15px;
	}
	.prod-nav-fixed .splitlinelive, .prod-nav-fixed .splitlinehover {
		background-color: #5390a9;
		height: 50px;
		margin-top: 0;
	}
	.prod-nav-fixed .prod-nav-link {
		float: left;
		display: block;
		padding: 0 20px;
		height: 50px;
		font-family: 'CiscoSansRegular', Arial, Helvetica, sans-serif;
		font-size: 15px;
		line-height: 50px;
		vertical-align: top;
		color: #555;
	}
	.prod-nav-fixed .prod-nav-link:hover {
		background-color: #5390a9;
		color: #fff;
	}
	.prod-nav-fixed .prod-nav-link-active {
		background-color: #5390a9;
		color: #fff;
	}
	.prod-nav-fixed .prod-nav-link-active:hover {
		color: #fff;
	}

/* Start - For tabbed navigation external link */
	.prod-nav .prod-nav-link-external {
		padding: 0 20px;
		font-size: 15px;
	}
	.prod-nav-fixed .prod-nav-link-external {
		float: left;
		display: block;
		padding: 0 20px;
		height: 50px;
		font-family: 'CiscoSansRegular', Arial, Helvetica, sans-serif;
		font-size: 15px;
		line-height: 50px;
		vertical-align: top;
		 color: #555;
		
	}
	.prod-nav-fixed .prod-nav-link-external:hover {
		background-color: #5390a9;
		color: #fff;
	}
	.prod-nav-fixed .prod-nav-link-external-active {
		background-color: #5390a9;
		color: #fff;
	}
	.prod-nav-fixed .prod-nav-link-external-active:hover {
		color: #fff;
	}


/* End - For tabbed navigation external link */


	/* page content section */
	.prod-content {
		padding-top: 34px;
		padding-bottom: 44px;
	}
	.prod-content-section {
		display: none;
	}
	.is-show-ontablet {
		display: block;
	}

	.prod-content-title {
		font-family: 'CiscoSansRegular', Arial, Helvetica, Sans-serif;
		font-size: 28px;
		line-height: 34px;
		color: #444;
	}
	.prod-content-subtitle {
		font-family: 'CiscoSansExtraLight', Arial, Helvetica, Sans-serif;
		font-size: 27px;
		line-height: 32px;
		color: #333;
		margin-top: 5px;
	}
	.prod-content-detail {
		font-family: 'CiscoSansExtraLight', Arial, Helvetica, Sans-serif;
		font-size: 18px;
		line-height: 22px;
		color: #555;
		margin-top: 13px;
		margin-bottom: 22px;
	}
	.prod-content-detail p {
		margin-bottom: 7px;
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		color: #555;
	}
	.prod-content-detail ul {
		list-style: none;
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		color: #555;
		margin-top: 15px;
		margin-bottom:12px;
	}
	.prod-content-detail li {
		background: url(../../images/product/bullet.png) 0 9px no-repeat;
		padding-left: 16px;
		padding-bottom: 7px;
	}
	
	.video-link:nth-of-type(1) {
	    margin-top: 10px;
	}

	/* prodction other resource section */
	.prod-other-resource {
		padding-top: 28px;
		padding-bottom: 44px;
	}
	.prod-other-resource-title {
		margin-bottom: 29px;
	}
	.prod-other-resource-subtitle {
		font-family: 'CiscoSansRegular', Arial, Helvetica, Sans-serif;
		font-size: 18px;
		line-height: 22px;
		color: #333;
		margin-bottom: 4px;
	}
	.prod-other-res-link {
		display: inline-block;
		margin-bottom: 19px;
		font-family: 'CiscoSansExtraLight', Arial, Helvetica, Sans-serif;
		font-size: 18px;
		line-height: 22px;
	}
	.prod-other-split-line {
		height: 1px;
		background-color: #ccc;
		margin-top: 22px;
		margin-bottom: 22px;
	}
	.prod-other-split-mobile {
		display: none;
	}

	.prod-content-social .prod-content-chat-sales {
		display: none;
	}
	.prod-content-social .prod-content-call-sales {
		margin-bottom: 10px;
	}
	.prod-content-call-sales-hover {
		width: auto;
	}
	.video-link-re{
	    margin-bottom: 19px;
	}
	
	
	/********** CSS for Pricing Section ***************/
	.prod-content-detail-pricing {
		padding-top: 31px;
	}
	.prod-content-detail-pricing .features-title {
		font-size: 19px;
	}
	.prod-content-detail-pricing .features-content {
		padding-left: 30px;
	}
	.prod-content-detail-pricing .features-content+.features-content {
		padding-left: 15px;
		padding-right: 30px;
	}
	.prod-content-detail-pricing .features-content li {
		line-height: 22px;
		color: #555;
	}
	.prod-content-detail-pricing .features-more {
		padding-bottom: 20px;
	}
	.prod-content-detail-pricing .features-link {
		line-height: 22px;
	}
	.prod-content-detail-pricing .features-tooltip {
		right: 161px;
		top: 76px;
		padding-top: 14px;
	}
	
	/* product meetings section 3 */
	.prod-meetings-call-phone {
		width: 55px;
		height: 55px;
		background-size: cover;
	}

	.prod-meetings-call-list ul {
		margin-bottom: 14px;
	}


	/********** CSS for EC Pricing Section ***************/
	.ec-contactsales-title {
		font-size: 27px;
		line-height: 32px;
		color: #333;
		padding-top: 40px;
	}
	.ec-contactsales{
		margin: 21px auto 3px;
	}
	.ec-contactsales, .ec-tel {
		border: none;
	}
	.ec-chat {
		display: none;
	}

}

/****************************************************
 The style of the windows between min to 767px;
 */
@media (max-width: 767px) {
	/* prodction hero section */
	
	/* tc background */
	.prod-hero-section-tc {
		background: none
	}
	/* meetings background */
	.prod-hero-section-meetings {
		background: none
	}
	
	.prod-hero {
		padding-bottom: 0px;
	}
	.prod-hero-mobile {
		display: block;
		margin-left: -15px;
		margin-right: -15px;
	}
	.prod-hero-mobile-img {
		width: 100%;
		height: auto;
	}
	.prod-hero-content {
		margin-top: 23px;
		
	}
	.prod-asp-header {
		display: none;
	}
	.prod-page-title {
		font-family: 'CiscoSansRegular', Arial, Helvetica, Sans-serif;
		font-size: 30px;
		line-height: 34px;
		color: #444;
	}
	.prod-page-subtitle {
		font-family: 'CiscoSansExtraLight', Arial, Helvetica, Sans-serif;
		font-size: 25px;
		line-height: 29px;
		color: #333;
		margin-top: 2px;
	}

.ios-number-not-display{
		display: none;	
}
	.prod-hero-contact {
		border-top: 1px #ccc solid;
		border-bottom: 1px #ccc solid;
		margin-left: -15px;
		margin-right: -15px;
		padding-top: 16px;
		padding-bottom: 11px;
		margin-top: 30px;
	}
	.prod-switch-line {
		display: none;
	}
		
	
	.prod-top-contact {

	}

	.prod-hero-chat-sales, .prod-hero-call-sales, .prod-hero-contact-sales {
		display: inline-block;
		font-family: 'CiscoSansExtraLight', Arial, Helvetica, Sans-serif;
		font-size: 18px;
		color: #555;
		line-height: 38px;
		vertical-align: top;
		height: 38px;
		margin-bottom: 1px;
	}
	.prod-hero-chat-sales:hover, .prod-hero-call-sales:hover, .prod-hero-contact-sales:hover {
		color: #555;
	}
	.prod-hero-chat-sales:focus, .prod-hero-call-sales:focus, .prod-hero-contact-sales:focus {
		color: #555;
	}

	.prod-hero-chat-sales {
		display: none;
	}
	.prod-hero-call-sales {
		margin-left: 15px;
	}
	.prod-hero-contact-sales {
		margin-left: 21px;
	}

	.icon-call-sales {
		background-color: #ff8000;
		width: 38px;
		height: 34px;
		display: inline-block;
		border-radius: 3px;
		margin-right: 5px;
	}
	.icon-call-sales span {
		width: 26px;
		height: 26px;
		display: inline-block;
		margin: 6px 0 0 8px;
	}
	.prod-hero-phone {
		font-size: 17px;
		vertical-align: top;
	}
	.prod-hero-call-sales:hover {
		cursor: default;
		color: #555;
	}
	.prod-hero-contact .icon-call-sales-hover {
		background-color: #ffa64d;
	}
	
	.icon-call-sales-hover-f {
		background-color: #ffa64d;
	}

	.icon-contact-sales {
		background-color: #3bc715;
		width: 38px;
		height: 34px;
		display: inline-block;
		border-radius: 3px;
		margin-right: 10px;
	}
	.icon-contact-sales span {
		width: 26px;
		height: 26px;
		display: inline-block;
		margin: 6px 0 0 7px;
	}
	.prod-hero-contact-sales:hover .icon-contact-sales {
		background-color: #6dd900;
	}

	.call-not-mobile {
		display: none;
	}
	.call-is-mobile {
		display: inline;
	}
	
	/* meetings hero button */

	.prod-hero-ft {
		border-top: 1px #ccc solid;
		border-bottom: 1px #ccc solid;
		margin-top: 30px;
		margin-left: -15px;
		margin-right: -15px;
		padding-top: 16px;
		padding-bottom: 16px;
		text-align: center;
	}
		.prod-hero-ft-m {
		border-top: 1px #ccc solid;
		border-bottom: 1px #ccc solid;
		margin-top: 30px;
		margin-left: -15px;
		margin-right: -15px;
		padding-top: 16px;
		padding-bottom: 16px;
		text-align: center;
	}
	
	.mc-url-call-m{
	display: block;
	}
	    .mc-url-call-p{
	display: none;
	}

	/* page nav section */
	.prod-nav {
		display: none;
	}
	.prod-nav-fixed {
		display: none;
	}

	/* production content section */
	.prod-content-section {
		display: none;
	}
	.is-show-onmobile {
		display: block;
	}
	.prod-content {
		padding-top: 32px;
		padding-bottom: 64px;
	}
	
	.prod-content-img-div {
		margin-left: -15px;
		margin-right: -15px;
	}

	.prod-content-title {
		font-family: 'CiscoSansRegular', Arial, Helvetica, Sans-serif;
		font-size: 25px;
		line-height: 30px;
		color: #333;
	}
	.prod-content-subtitle {
		font-family: 'CiscoSansExtraLight', Arial, Helvetica, Sans-serif;
		font-size: 24px;
		line-height: 29px;
		color: #000;
		margin-top: 4px;
	}
	.prod-content-detail {
		font-family: 'CiscoSansExtraLight', Arial, Helvetica, Sans-serif;
		font-size: 18px;
		line-height: 22px;
		color: #555;
		margin-top: 9px;
	}
	.prod-content-detail p {
		margin-bottom: 6px;
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		color: #555;
	}
	.prod-content-detail ul {
		list-style: none;
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		color: #555;
		margin-top: 10px;
		margin-bottom: 12px;
	}
	.prod-content-detail li {
		background: url(../../images/product/bullet.png) 0 9px no-repeat;
		padding-left: 16px;
		padding-bottom: 6px;
	}
	.prod-content-img {
		width: 100%;
		height: auto;
		
	}

	/* prodction other resource section */
	.prod-other-resource {
		padding-top: 28px;
		padding-bottom: 42px;
	}
	.prod-other-resource-title {
		margin-bottom: 19px;
	}
	.prod-other-resource-subtitle {
		font-family: 'CiscoSansRegular', Arial, Helvetica, Sans-serif;
		font-size: 18px;
		line-height: 22px;
		color: #333;
		margin-bottom: 4px;
	}
	.prod-other-resource-icon {
		background-position: 15px 0;
		padding-left: 56px;
	}
	.prod-other-resource-get-start {
		background-position: 15px 0;
		padding-left: 56px;
	}
	.prod-other-resource-learn-more {
		background-position: 15px 0;
		padding-left: 56px;
	}
	.prod-other-resource-hear-from {
		background-position: 15px 0;
		padding-left: 56px;
	}

	.prod-other-res-link {
		display: inline-block;
		margin-bottom: 20px;
		font-family: 'CiscoSansExtraLight', Arial, Helvetica, Sans-serif;
		font-size: 18px;
		line-height: 22px;
	}
	.prod-other-split-line {
		display: none;
	}
	.prod-other-split-mobileline {
		height: 1px;
		background-color: #ccc;
		margin-top: 0;
		margin-bottom: 22px;
	}
	
	.prod-content-social {
		display: none;
	}
	.video-link {
		display: none;
	}
	.video-link-re{
		display:none;
	}
	.video-link-re + br{
		display:none;
	}
	.prod-content-social-mobile {
		display: block;
		border-top: 1px #ccc solid;
		border-bottom: 1px #ccc solid;
		margin-left: -15px;
		margin-right: -15px;
		padding-top: 16px;
		padding-bottom: 11px;
	}
	.call-is-sales{display: inline;line-height: 38px;}
	
	.prod-hero-video {
		margin-top: 0px;
		margin-bottom: 28px;
	}
	
	.prod-hero-video .video-link {
		display:block;
	}
	.prod-hero-video-link {
		margin-top: 12px;
	}

}
@media (max-width: 480px) {
}

@charset "UTF-8";
/* CSS Document */

#videobodyContent {
	padding: 10px;
	margin-bottom: 20px;
}
#videocontainingBlock {
	width: 97%;
	margin: 1.7555%;
}
.videoWrapper {
	position: relative;
	padding-top: 49px;
	padding-bottom: 56.25%;
	height: 0;
}
* html .videoWrapper {
	margin-bottom: 45px;
	margin-top: 0;
	width: 100%;
	height: 100%;
}
.videoWrapper div, .videoWrapper embed, .videoWrapper object, .BrightcoveExperience {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
