pre {font-size: 1.2em;line-height: 1.2em; /*overflow-x: auto;*/}
div#page {margin-bottom: 20px !important;}
/*.accordion-photo #thumbs{float: right;margin: 10px 10px 0 0;opacity: 1;overflow: hidden;width: 205px;}
.accordion-photo #thumbs1,.accordion-photo #thumbs2 , .accordion-photo #thumbs3 , .accordion-photo #thumbs4 , .accordion-photo #thumbs5, .accordion-photo #thumbs6, .accordion-photo #thumbs7 , .accordion-photo #thumbs8 , .accordion-photo #thumbs9 , .accordion-photo #thumbs10 , .accordion-photo #thumbs11 , .accordion-photo #thumbs12{
    float: right;
    margin: 37px 12px 0 0;
    opacity: 1;
    overflow: hidden;
    width: 205px;
}*/
div#container {padding: 0 10px 0 0;}
div#ads {clear: both;padding: 12px 0 12px 66px;}
div#footer {clear: both;color: #777;margin: 0 auto;padding: 20px 0 40px;text-align: center;}
.advance-link > img {width: 644px;}