/* not ready */

/* -- form validation */
.invalid { border-color: #ff0000; }
label.invalid { color: #ff0000; }

/* -- buttons */
#editor-xtd-buttons {
        padding: 0px;
}

.button2-left,
.button2-right,
.button2-left div,
.button2-right div {
        float: left;
}

.button2-left a,
.button2-right a,
.button2-left span,
.button2-right span {
        display: block;

        float: left;


        color: #666;
        cursor: pointer;
}

.button2-left span,
.button2-right span {
        cursor: default;
        color: #999;
}

.button2-left .page a,
.button2-right .page a,
.button2-left .page span,
.button2-right .page span {
        padding: 0 6px;
}

.page span {
        color: #000;
        font-weight: bold;
}

.button2-left a:hover,
.button2-right a:hover {
        text-decoration: none;
        color: #0B55C4;
}

.button2-left a,
.button2-left span {
        padding: 0 24px 0 6px;
}

.button2-right a,
.button2-right span {
        padding: 0 6px 0 24px;
}

.button2-left {

        float: left;
        margin-left: 5px;
}

.button2-right {

        float: left;
        margin-left: 5px;
}

.button2-left .image {

}

.button2-left .readmore {

}

.button2-left .pagebreak {

}

/* Tooltips */
div.tooltip {
        float: left;
        background: #ffc;
        border: 1px solid #D4D5AA;
        padding: 5px;
        max-width: 200px;
}

div.tooltip h4 {
        padding: 0;
        margin: 0;
        font-size: 95%;
        font-weight: bold;
        margin-top: -15px;
        padding-top: 15px;
        padding-bottom: 5px;
        }

div.tooltip p {
        font-size: 90%;
        margin: 0;
}

/* Caption fixes */
.img_caption .left {
        float: left;
        margin-right: 1em;
}

.img_caption .right {
        float: right;
        margin-left: 1em;
}

.img_caption .left p {
        clear: left;
        text-align: center;
}

.img_caption .right p {
        clear: right;
        text-align: center;
}

.img_caption  {
  text-align: center!important;
}

.img_caption.none {
  margin-left:auto;
  margin-right:auto;
}


/* Calendar */
a img.calendar {
        width: 16px;
        height: 16px;
        margin-left: 3px;
        cursor: pointer;
        vertical-align: middle;
}

/* System Messages */

.error
{
        padding:0px;
        margin-bottom: 20px;
}

.error h2
{
        color:#000 !important;
        font-size:1.4em !important;
        text-transform:uppercase;
        padding:0 0 0 0px !important
}

#system-message
{
                margin:10px 0 20px 0;
                border-left:0;
                border-right:0;
}

#system-message dt
{
  font-weight: bold;
}
#system-message dd
{
  margin: 0 0 15px 0;
  font-weight: bold;
  text-indent: 0px;
  padding:0
}
#system-message dd ul
{
  color: #000;
  list-style: none;
  padding: 0px;
}
#system-message dd ul li
{
  line-height:1.5em
}

/* System Standard Messages */
#system-message dt.message
{
  position:absolute;
  top:-2000px;
  left:-3000px;
}

#system-message dd.message  ul
{
  background: #fff  url(../images/system/notice-info.png) no-repeat;
  padding-left:40px;
  padding: 10px 10px 10px 40px;
  border-top: 2px solid #90B203;
  border-bottom: 2px solid #90B203;
}

#system-message dd.message ul li{background:none !important}

/* System Error Messages */
#system-message dt.error
{
  position:absolute;
  top:-2000px;
  left:-3000px;
}

#system-message dd.error ul
{
  background:#fff url(../images/system/notice-alert.png) no-repeat ;
  padding-left:40px;
   padding: 10px 10px 10px 40px;
    border-top: 2px solid #990000;
    border-bottom: 2px solid #990000;
}



/* System Notice Messages */
#system-message dt.notice
{
  position:absolute;
  top:-2000px;
  left:-3000px;
}

#system-message dd.notice  ul
{
    background:#fff url(../images/system/notice-note.png) no-repeat ;
    padding-left:40px;
      padding: 10px 10px 10px 40px;
      border-top: 2px solid #FAA528;
      border-bottom: 2px solid #FAA528;
}
#system-message dd.notice ul { color: #000;margin:10px 0 }

#system-message
{
    margin-bottom: 0px;
    padding: 0;
}

#system-message dt
{
    font-weight: bold;
}

#system-message dd
{
    font-weight: bold;
    padding: 0;
}
.quick-link
{
  /*position:absolute;
  right:173px;
  top:94px;*/
  float:left;
  margin-left:6px;
}
.quick-link-text
{
  background: url(../../../images/get-image.png) no-repeat ;
  width:208px;
  height:27px;
  /*position:absolute;
  top:95px;
  right:430px;*/
  float:left;
  margin-right:-5px;
}
.quick-size
{
  width:218px!important;
}
.get-started
{
  margin:92px 0px 0px 543px;
  position:absolute;
  width:460px;
}

UL#ariext117 LI A{width:218px!important;}
UL#ariext193 LI A{width:218px!important;}
UL#ariext194 LI A{width:218px!important;}
UL#ariext195 LI A{width:218px!important;}
UL#ariext196 LI A{width:218px!important;}
UL#ariext203 LI A{width:218px!important;}
UL#ariext204 LI A{width:218px!important;}

.fbbc
{
    background: url(../../../images/fdbc-img.png) no-repeat scroll 0 0 transparent;
    height: 56px;
    padding: 0;
    position: absolute;
    right: 167px;
    top: 19px;
    width: 264px;
    display:none;
}
#feedback{color:#ffffff;cursor:pointer;width:200px;text-align:right;float:right;clear:both; border-right:1px solid #ffffff; padding-right:10px;}    

p.fb-p

{

                color: #241304;

                margin: 0;

                padding:14px 0px 8px 12px;

                text-align: left;

                width: 95%;

}

               

.fb-div{

                font-weight: bold;

                text-align: center;

                width: 100%;

}

               

.fdbck-div
{
float:left;margin:3px 9px 2px 0px;font-size:10px;  
}

               

 /*@-moz-document url-prefix() {
    .fdbck-div {
        margin-top:-15px;
    }
}  */  /* specific for firefox  */

 

 

.fbdk-txt-div
{
  text-align:left;
}
.lang-txt{
  color: #FFFFFF;
  float: left;
  font-size: 11px;
  margin-left: 6px;
  margin-right: 7px;
  margin-top: 3px;
}
#uidlang{
  float: right;
  margin-right: 0;
  margin-top: -2px;
  text-align: right;
}
select.inputbox{height:18px;}