.glyphicon
{
    margin-right:4px !important; /*override*/
}

.pagination .glyphicon
{
    margin-right:0px !important; /*override*/
}

.pagination a
{
    color:#555;
}

.panel ul
{
    padding:0px;
    margin-top:6px;
    list-style:none; position:absolute; 
}

.panel ul.pagination{left:8px;}

.news-item{ margin:0px; width: 851px;	}