/* CSS Document */
html,body{width:auto; margin:0px auto; padding:0px; height:100%;}
.headerimg{z-index:-1;background:url(http://localhost/uidai_eng/images/home1.jpg) center top;width:100%;height:510px;position:absolute;top:70px;background-repeat: no-repeat;}
.maimenutxt{background-image: url(../images/mainmenubg_transparentbg.png);background-repeat: repeat-y;background-position:top left;vertical-align:top;text-align:left;}
.maimenutxt:hover{background-image: url(../images/mainmenubg.png);background-repeat: repeat-y;background-position:top left;vertical-align:top;text-align:left;}
.initial {background-image:url(../images/mainmenubg.png);background-repeat: repeat-y;background-position:top left;vertical-align:top;text-align:left;}
.highlight {background-image: url(../images/mainmenubg.png);background-repeat: repeat-y;background-position:top left;     vertical-align:top;text-align:left;}

.aadhar-status{background-image: url(../images/aadhar-status-transparent-bg.png);background-repeat: repeat-y;background-position:top left;height:41px;width:247px;vertical-align:top;text-align:left;}
.aadhar-status-hover{ background-image: url(../images/aadhar-status-bg.png);background-repeat: repeat-y; background-position:top left;height:41px;width:247px; font-size:11px;vertical-align:top;text-align:left;}
#wrapper{ z-index:0;width:100%; margin:0px; padding:0px; overflow:hidden; font-family:Verdana, Geneva, sans-serif; position:absolute;min-height:675px;height:100%;min-width:980px;background:url(../images/uidbg.jpg)center 55px; }
.wrap{ width:1000px; margin:0 auto;}
#fakebackground2{ position:fixed; top:70px; height:900px; width:100%; z-index:-11;}
#fakebackground{ position:fixed; top:70px; height:735px; width:100%; z-index:-11;}
#fakehand{ width:700px; text-align:right; /*background:url(../images/hand.png) right 0px no-repeat;*/ height:750px; padding-top:20px; position:absolute; top:100px; margin-left:10px;}
#fakehand #form{ padding:0px; float:right; clear:both; margin-right:165px;}
#fakehand #qwrap{ list-style:none; margin:0px; padding:0px; background:url(../images/searchbg.png) repeat;}
#fakehand #qwrap li{ font-size:15px; width:165px; font-family:Georgia, "Times New Roman", Times, serif; color:#666666; list-style:none; margin:0px; padding:0px;}
#fakehand #qwrap li a{ color:#000; display:block; text-decoration:none; padding:2px 20px;}
#fakehand #qwrap li a.active{color:#fff; background:url(../images/search2.png) no-repeat right #c82b32; text-decoration:none; margin-right:-20px; overflow:hidden; border-radius:0px 20px 20px 0px;padding:10px 40px 10px 10px;font-size:12px; text-align:left; font-style:italic;}
#fakehand #qwrap li a span{position:absolute; width:160px; margin-left:-200px; margin-top:-8px; background:url(../images/infobg.png) repeat-y; padding:5px 50px 5px 5px; text-align:left; color:#000; display:none; font-family:Georgia, "Times New Roman", Times, serif; font-size:11px;}
#fakehand #qwrap li a:hover span{ display:block;}
form#searchform #q {background-image: url(../images/search.png);padding: 9px 5px;width: 155px;color: #666666;border: 0px;font-family: Georgia, "Times New Roman", Times, serif;}
form#searchform #search {margin: 0px;width: 45px;height: 34px;background: url(../images/searchicon.gif) no-repeat;border: 0px;cursor: pointer;}
.buttonsearch{background:url(../images/searchicon.gif);width:45px;height:37px;border:0px solid #fff;padding-bottom:0px;padding-top:10px;}
#header{ position:absolute; width:100%; height:88px; padding:0px; background:#fff;}
#header #logo{ float:left;}
#header #logo img#logo1{ float:left; margin-right:10px;}
#header #logo img#logo2{ float:left; margin-top:2px;}
#header #rightlogo{ text-align:right;padding-left:600px;}
#header #rightlogo ul{ list-style:none; display:inline; float:left; margin:46px 20px 0px 0px; height:24px;}
#header #rightlogo ul li{ list-style:none; display:inline; margin-right:1px;}
#bookmarks{ float:right; margin:-60px 80px 0px 0px}
#bookmarks a{ margin:0px 5px!important;}
#footer{ position:absolute;width:100%; top:580px; background:url(../images/footerbg.png) repeat; color:#fff; text-align:center; font-size:12px;line-height: 5px;}
#footer_old{ position:inherit; width:100%; height:50px; padding:0px; top:565px; background:url(../images/footerbg.png) repeat; color:#fff; text-align:center; font-size:14px;}
#footer a{color:#fff; text-decoration:none; margin:0px 13px;}
#footer a:hover{text-decoration:underline;}
#footer p{  font-weight:bold;}
ul.menu_footermenu{list-style-type:none;}
.menu_footermenu ul li a:link,
.menu_footermenu ul li a:visited{display:inline}
ul.menu_footermenu li{display:inline;padding:0;margin:0;border-right: 1px solid #fff;}
ul.menu_footermenu li:last-child{border:none;}
#copyright_old{ font-size:11px; font-weight:normal; position:fixed; top:630px; color:#000; width:100%;}
#copyright p{ color:#000; margin:0px; padding:3px 0px;}
#copyright_old p#note{ background:#fff; color:#000; font-size:9px; text-align:center;}
#copyright {font-size: 11px;font-weight: normal;position: relative;top: 600px;color: #000;width: 1000px;margin: 0px auto;width: 1000px;}
#copyright p#note {background: #fff;color: #000;font-size: 9px;text-align: center;width: 100%;position: absolute;}
.fRight {float: right;right: 0px;position: absolute;}
ul#fakebackgroundli, ul#fakebackgroundli li{ margin:0px; padding:0px;}
img{ border:0px;}
#nav{ width:250px; float:right; margin-top:130px; color:#fff;z-index: 1000;}
#nav ul, #nav li{ margin:0px; padding:0px; list-style:none; font-weight:bold; font-size:12px;}
#nav a{color:#fff;}
#nav1 a{ padding:5px 10px; text-decoration:none; display:block; border-bottom:1px solid #484848;}
#nav1 a:hover{ background:#494949;}




.navtop {background-image:url(../images/topb.png);background-repeat:no-repeat; height:7px; width:250px;}
.navbottom {background-image:url(../images/bottomb.png);background-repeat:no-repeat;height:7px;width:250px; margin-bottom:20px; }
#nav1{padding:4px 20px 0;}
.nav2top{background-image:url(../images/tb.png);background-repeat:no-repeat; height:7px;position: absolute;top: 516px;width: 250px;}
.nav2bottom{background-image:url(../images/bb.png);background-repeat:no-repeat;position: absolute;width: 250px;top: 542px; }
#nav2 a{ text-decoration:none; display:block;font-size:14px;}
#nav2{ background-image:url(../images/nav2bg.png);background-color:#f36d21; background-repeat:no-repeat; padding:2px 2px 0px;width: 246px;position: absolute;top: 523px;}
.fRight{ float:right;}
#screenreader, #screenreader:hover{ float:right;background:url(../images/screenreader.gif) no-repeat left transparent!important; padding:15px 0px 8px 30px !important; border-bottom:none!important;}
#searchStartLnk { background:url(../images/search2.png) no-repeat right #c82b32; margin-right:-20px; overflow:hidden; border-radius:0px 20px 20px 0px; padding:10px 40px 10px 10px; width:135px;text-align:left;}
#searchStartLnk a{color:#fff; text-decoration:none; font-size:12px;  font-style:italic;font-weight:bold;}
#handSearch #handSearchBtn{background:url(../images/search2.png) no-repeat right; margin-right:-20px; overflow:hidden; border-radius:0px 20px 20px 0px;padding:10px 40px 10px 10px; width:185px;text-align:left;color:#fff; text-decoration:none; font-size:12px;  font-style:italic;font-weight:bold;
border:none;cursor: pointer;}
.moduletable_screenreader ul{}
.moduletable_screenreader ul li{}
#topbar{height:18px;background:#2e2e2e;}
#uidheader_lft{width: 1000px;margin: 0 auto;}
#uidlang{text-align:right; margin-top:-2px;}
.mod_simple_marquee_content{overflow:hidden;width: 750px; height: 18px;}
.item-315 a{margin-left:35px;}