@charset "utf-8";
/* CSS Document */

/***********************/
/* 属性基本設定(reset) */
/***********************/
div,p,
dl,dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,
pre,form,fieldset,input,textarea,blockquote,th,td {
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  letter-spacing: 0px;
  word-wrap:break-word;
}
select{
  word-wrap:normal;
}
body {
  margin: 0 auto;
  padding: 0px;
  font-size: 100%;
  color: #333333;
  background-color:#FFFFFF;
  font-size: 12px;
  line-height: 120%;
  text-align: center;/* IE用 ブロックセンタリング */
  font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", sans-serif;
}
td {
  word-break: break-all;
}
img {
  border: 0px;
  -ms-interpolation-mode: bicubic;
}
table {
  border-collapse: collapse;
}
form {
  display: inline;
}
/**********************/



div.center_img a,
div.center_img .center_img_inner{
    display:block;
    vertical-align:middle;
    text-align:center;
    text-decoration:none;
    font-size: 0;
}
div.center_img img{
    vertical-align:middle;
}
div.center_img span.center_img_spring{
    display:inline-block;
    font-size:0;
    width:1px;
    margin-left:-1px;
    overflow:hidden;
    vertical-align:middle;
}

div.center_img_size_65{width:65px;height:65px;}
div.center_img_size_65 a{width:65px;height:65px;line-height:65px;}
div.center_img_size_65 .center_img_inner{width:65px;height:65px;line-height:65px;}
div.center_img_size_65 img{max-width:65px;max-height:65px;line-height:65px;}
div.center_img_size_65 span.center_img_spring{height:65px;}
div.center_img_size_72{width:72px;height:72px;}
div.center_img_size_72 a{width:72px;height:72px;line-height:72px;}
div.center_img_size_72 .center_img_inner{width:72px;height:72px;line-height:72px;}
div.center_img_size_72 img{max-width:72px;max-height:72px;line-height:72px;}
div.center_img_size_72 span.center_img_spring{height:72px;}
div.center_img_size_80{width:80px;height:80px;}
div.center_img_size_80 a{width:80px;height:80px;line-height:80px;}
div.center_img_size_80 .center_img_inner{width:80px;height:80px;line-height:80px;}
div.center_img_size_80 img{max-width:80px;max-height:80px;line-height:80px;}
div.center_img_size_80 span.center_img_spring{height:80px;}
div.center_img_size_100{width:100px;height:100px;}
div.center_img_size_100 a{width:100px;height:100px;line-height:100px;}
div.center_img_size_100 .center_img_inner{width:100px;height:100px;line-height:100px;}
div.center_img_size_100 img{max-width:100px;max-height:100px;line-height:100px;}
div.center_img_size_100 span.center_img_spring{height:100px;}
div.center_img_size_120{width:120px;height:120px;}
div.center_img_size_120 a{width:120px;height:120px;line-height:120px;}
div.center_img_size_120 .center_img_inner{width:120px;height:120px;line-height:120px;}
div.center_img_size_120 img{max-width:120px;max-height:120px;line-height:120px;}
div.center_img_size_120 span.center_img_spring{height:120px;}
div.center_img_size_140{width:140px;height:140px;}
div.center_img_size_140 a{width:140px;height:140px;line-height:140px;}
div.center_img_size_140 .center_img_inner{width:140px;height:140px;line-height:140px;}
div.center_img_size_140 img{max-width:140px;max-height:140px;line-height:140px;}
div.center_img_size_140 span.center_img_spring{height:140px;}
div.center_img_size_160{width:160px;height:160px;}
div.center_img_size_160 a{width:160px;height:160px;line-height:160px;}
div.center_img_size_160 .center_img_inner{width:160px;height:160px;line-height:160px;}
div.center_img_size_160 img{max-width:160px;max-height:160px;line-height:160px;}
div.center_img_size_160 span.center_img_spring{height:160px;}
@charset "utf-8";

/* CSS Document */

/**********************/
/* 装飾クラス系 */
/**********************/

.header_left {
  float: left;
}

.header_right {
  float: right;
}

/* "float" クリア */
.cfix:after {
  content: ".";
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}

.cfix {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .cfix {
  height: 1%;
}

*+html .cfix {
  height: 1%;
}

.cfix {
  display: block;
}

/* End hide from IE-mac */

/**********************/

ul, li{
  list-style:none;
}
#header_block a{
  text-decoration:none;
}
#header_block a:hover{
  text-decoration: underline;
}

/************************/
/* 最上部ヘッダバー設定 */
/************************/

#wrapper {
  text-align:left;
}

#bar {
/* */
}

#bar_cnt {
  margin: 0px auto 0px auto;
}

/* バー固定 */
body .header_mode {
  margin-top:36px;
}

body.nofix .header_mode {
  margin-top:0;
}

#header {
  background: #ffffff url(/img/common/navi/bg_global_sub.png?201210171522) repeat-x left bottom;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  -o-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#header_cnt {
  display: block;
  width: 984px;
  height: 73px;
  position:relative;
  margin: auto;
  padding: 0;
  zoom: 1;
  overflow:hidden;
}

#header_cnt:after {
  content: ".";
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}



/**********************/
/* ロゴ・検索フォーム */
/**********************/



/* ロゴ */
#header div#logo {
  float: left;
  width: 155px;
  margin-top:10px;
}

/* 検索フォーム */
#sg_menu_search {
  float: left;
  width: 341px;
}

#sg_menu_search input.search_form_text {
  color: #000000;
  border:none;
  background-color: #f5f5f5;
  font-size: 14px;
  margin:0;
  padding:2px 4px;
  width:288px;
  height:16px;
  border:1px solid #ccc;
  border-radius: 4px 0 0 4px;
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.1) inset;
  -webkit-: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
}
#sg_menu_search input.search_form_text:hover{border:1px solid #999;}
#sg_menu_search input.search_form_text:focus {
  outline:none;
  background-color: #FEFFF0;
  border:1px solid #999;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.2) inset;
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.2) inset;
  -moz-box-shadow: 2px 2px 3px rgba(0,0,0,0.2) inset;
  -o-box-shadow: 2px 2px 3px rgba(0,0,0,0.2) inset;
}

#header #search_button {
  padding:0px;
  margin:0px;
}

#header #search_button:hover {
  filter: alpha(opacity=80);
  -moz-opacity:0.80;
  opacity:0.80;
}

#sg_search_box {
  margin-top:12px;
}

#sg_global_navi{
  position: absolute;
  top: 45px;
  left: 155px;
}

#sg_global_navi li{
  float:left;
}

#sg_global_navi li a,
#sg_global_navi li span{
  display: block;
  line-height: 28px;
  background:url(/img/common/navi/menu_global.png?201307091930) no-repeat 0 0;
  height:28px;
  border-left: 1px solid #777676;
  border-right: 1px solid #494848;
  color:#EBEBEB;
  text-shadow: -1px -1px 0 #333;
  text-indent: 28px;
  font-size: 12px;
}
#sg_global_navi li .active{
  padding: 2px 0 0 0;
  border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border: 1px solid #ccc;
  border-bottom: 0;
  margin-top: -3px;
  color:#333333;
  font-weight:bold;
  text-shadow: 0 0 0 #333;
}
#sg_global_navi li a.active:hover{
  filter: none;
  -moz-opacity:none;
  opacity:1;
}
#sg_global_navi li a:hover{
  filter: alpha(opacity=80);
  -moz-opacity:0.80;
  opacity:0.80;
  text-decoration:none;
}
#sg_global_navi li .sg_navi_top{
  width:78px;
  background-position: 0 -1px;
  border-radius: 3px 0 0 0;
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  -o-border-radius: 3px 0 0 0;
}
#sg_global_navi li .sg_navi_top.active{
  background-position: 0px -152px;
  }
#sg_global_navi li .sg_navi_illust{
  width:88px;
  background-position: -2px -38px;
}
#sg_global_navi li .sg_navi_illust.active{
  background-position: -2px -189px;
}
#sg_global_navi li .sg_navi_manga{
  width:78px;
  background-position: -2px -76px;
}
#sg_global_navi li .sg_navi_manga.active{
  background-position: -2px -227px;
}
#sg_global_navi li .sg_navi_book{
  width:88px;
  background-position: -2px -115px;
  border-radius: 0 3px 0 0;
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  -o-border-radius: 0 3px 0 0;
}
#sg_global_navi li .sg_navi_book.active{
  background-position: -2px -266px;
}

/*R-18表示時*/
#sg_global_navi  .r18_navi li a,
#sg_global_navi  .r18_navi li span{
  text-indent: 27px;
}
#sg_global_navi .r18_navi li .sg_navi_top{
  width:29px;
  text-indent: -9999px;
  background-position: -2px -1px;
}

#sg_global_navi .r18_navi li .sg_navi_illust{
  width:82px;
  background-position: -2px -38px;
}
#sg_global_navi .r18_navi li .sg_navi_illust.active{
  background-position: -2px -189px;
}
#sg_global_navi .r18_navi li .sg_navi_manga{
  width:72px;
  background-position: -2px -76px;
}
#sg_global_navi .r18_navi li .sg_navi_manga.active{
  background-position: -2px -227px;
}
#sg_global_navi .r18_navi li .sg_navi_book{
  width:85px;
  background-position: -2px -115px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
}
#sg_global_navi .r18_navi li .sg_navi_book.active{
  background-position: -2px -266px;
}
#sg_global_navi .r18_navi li .sg_navi_r18{
  background:url(/img/common/navi/menu_global_r18.png) no-repeat -2px -1px;
  width: 63px;
  text-shadow: -1px -1px 0 #E22F68;
  border-left: 1px solid #F170A0;
  border-right: 1px solid #E22F68;
  border-radius: 0 3px 0 0;
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  -o-border-radius: 0 3px 0 0;
}
#sg_global_navi .r18_navi li .sg_navi_r18.active {
  background-position: -2px -38px;
  text-shadow: 0 0 0 #ffffff;
  border-color: #ccc;
}

.sg_global_bar{
  width: 984px;
  margin: 0 auto;
  height: 29px;
}
.sg_pankuzu{
  max-width: 780px;
  overflow: hidden;
  line-height: 29px;
  height: 29px;
  font-size: 94%;
  float:left;
  color:#ccc;
  vertical-align: middle;
  white-space: nowrap;
}
.sg_pankuzu li{
  display:inline;
}
.sg_pankuzu li{
  background: url(/img/common/navi/arrow_pankuzu.png) no-repeat right center;
  padding-right: 16px;
}
.sg_pankuzu li:last-child{
  background-image: none;
}
.sg_pankuzu li a{
  color: #666;
}
.sg_pankuzu .active{
  color:#999;
}
.sg_pankuzu .active:hover{
  color:#999;
  text-decoration: none;
}
.sg_pankuzu .pankuzu_suffix {
  font-size: 9px;
}
#sg_global_navi_sub{
  float:right;
}
#sg_global_navi_sub li{
  display:inline;
}
#sg_global_navi_sub li a{
  display: inline-block;
  line-height: 28px;
  background:url(/img/common/navi/menu_global.png?201307091930) no-repeat 0 0;
  padding: 0 10px 0 30px;
  border-right: 1px solid #fff;
  color: #114A9F;
}
#sg_global_navi_sub li a:hover,
#sg_global_navi_sub li a.active{
  background-color:#f5f5f5;
  border-right: 1px solid #E6E6E6;
  }

#sg_global_navi_sub li a.sg_navi_create{background-position: 3px -307px;}
#sg_global_navi_sub li a.sg_navi_my{background-position: 3px -337px;}

/**********************************
/*  スマートフォン版への誘導ヘッダ*/
/**********************************/
.guide_smartphone {
    display: block;
    margin: 12px auto 12px;
    width: 984px;
    text-align: center;
}
.guide_smartphone a {
    display: block;
}
.guide_smartphone img {
    display: block;
    width: 75%;
    margin: 0 auto;
}

/**********************/
/* 広告 */
/**********************/
#ad_140_600 {
  width:140px;
}

#header #ad_468_60 {
  width:468px;
  height:60px;
  float:right;
  margin-top:6px;
}

#ad_728_90 {
  margin: 28px auto 0 auto;
  width:728px;
  height:90px;
}

/****************************/
/* グローバルナビゲーション */
/****************************/


/**********************/

#siteHeader #siteHeaderInner #siteHeaderRightMenuContainer li {
  height: 22px;
}

#siteHeader #siteHeaderInner #siteHeaderRightMenuContainer li a {
  padding: 2px 6px 2px 16px;
}

#siteHeader #siteHeaderInner #siteHeaderRightMenuContainer .siteHeaderRightMenuGroupLabel a {
  width: 116px;
  padding-left: 8px;
  font-weight: bold;
  color: #fff;
  background-color: #353535;
}

#siteHeader #siteHeaderInner #siteHeaderRightMenuContainer .siteHeaderRightMenuSeparator:hover {
  background-color: transparent;
}

#siteHeader #siteHeaderInner #siteHeaderNotification:not(.siteHeaderPremium) ~ li.siteHeaderCreateLink {
  display: none;
}


/**********************/
/* TOP footer */
/**********************/


#sg_footer{
  background:transparent url(/img/common/footer/bg_footer.png) repeat-x scroll 0 0;
  margin-top: 60px;
  padding-bottom: 30px;
}
#sg_footer_page_top{
  width: 984px;
    margin: 0px auto 0 auto;
    position:relative;
}
#sg_footer_page_top a{
  display:block;
  width:150px;
  height:60px;
  position: absolute;
  top: -30px;
  right: 0px;
  text-indent: -9999px;
  background: url(/img/common/footer/btn_pagetop.png) no-repeat 0 0;
}
#sg_footer_page_top a:hover{background-position: 0 -60px;}
#sg_footer_box{
  width: 984px;
  margin: 0 auto;
  padding: 40px 0 0 0;
}
#sg_footer_box div{
  padding:2px 5px 5px;
}
#sg_footer_box .counter{
  font-weight:bold;
  font-size: 130%;
}
#sg_footer_date strong {
  font-weight:bold;
}

#sg_footer_menu {
  padding:5px 10px 5px 0px;
  color:#ccc;
}
address{
  width: 984px;
  text-align:right;
  margin: 0px auto 0 auto;
}
address a, address a:visited{
  color:#999;
}
