@charset "utf-8";
/* top_left_itemlist */
.itemlist {
  margin: 0 -15px 0 -3px;
}
.item {
  float: left;
  width: 144px;
  margin: 10px 5px 0px 5px;
  list-style: none;
  *margin: 8px 4px 0px 4px;
  /* IE7 */
}
.item a {
  display: block;
  background-color: #fff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  position: relative;
  min-width: 142px;
  min-height: 143px;
  border: 1px solid #fff;
  border-bottom: 1px solid #ccc;
}
.item a:hover {
  box-shadow: 0 0 6px #555;
  text-decoration: none;
  border: 1px solid #aaa\9;
  /* IE7,8 */
  border-bottom: 1px solid #999;
}
.item_list_img {
  margin: -1px;
  width: 140px;
  height: 140px;
}
.item .item_info_container {
  width: 140px;
  height: 141px;
  position: absolute;
  left: 1px;
  top: 0px;
  overflow: hidden;
}
.item .item_info {
  width: 130px;
  height: 40px;
  background: url(/img/common/ui/bg_alfa_gray.png) repeat;
  display: block;
  color: #fff;
  padding: 5px;
  text-align: left;
  margin: 144px 0 0 0;
  -webkit-transition-property: margin-top;
  -webkit-transition-duration: 0.1s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  -moz-transition-property: margin-top;
  -moz-transition-duration: 0.1s;
  -moz-transition-timing-function: linear;
  -moz-transition-delay: 0s;
}
.item a:hover .item_info {
  margin: 91px 0 0 0;
}
.item_info .item_title {
  display: block;
  font-size: 13px;
  line-height: 15px;
  height: 30px;
  overflow: hidden;
}
.item_info .item_usr {
  display: block;
  text-align: right;
  font-size: 80%;
  color: #ccc;
  height: 12px;
  overflow: hidden;
}
.item_info .kind {
  font-size: 80%;
  color: #ccc;
  padding-right: 3px;
}
.item .kind_icon {
  position: absolute;
  top: 0px;
  right: 0px;
}
.summary_comment {
  background: url(/img/index/bg_comment.png) no-repeat 0 0;
  width: 140px;
  height: 35px;
  margin: 4px 1px 1px 1px;
  padding: 4px 0 0 0;
}
.comment_txt {
  display: block;
  height: 27px;
  overflow: hidden;
  margin: 4px;
  color: #999;
  border: none;
  text-decoration: none !important;
}
/*rank_list*/
.rank_item {
  border-top: 1px solid #E8E8E8;
  padding: 10px;
}
.rank_item:hover {
  background-color: #f5f5f5;
}
.rank_item .rank_no {
  float: left;
  width: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 30px;
  font-size: 30px;
  padding: 0 10px 0 0;
  color: #c1c1c1;
}
.rank_no.no01 {
  color: #D5A404;
  background: url(/img/index/icon_no1.png) no-repeat 4px -3px;
}
.rank_no.no02 {
  color: #5CC5E7;
}
.rank_no.no03 {
  color: #E7A274;
}
.rank_item .rank_thumnail {
  float: left;
  width: 80px;
}
.rank_item .rank_info {
  float: left;
  padding: 0 0 0 10px;
  width: 200px;
}
.rank_item .rank_disc,
.rank_item .rank_genre,
.rank_item .rank_body {
  margin: 0.2em 0;
}
.rank_item .rank_title {
  font-weight: bold;
  font-size: 120%;
  line-height: 130%;
}
.rank_item .rank_usr,
.rank_item .rank_author {
  margin-top: 0.6em;
}
.rank_item .rank_disc {
  color: #999;
  font-size: 90%;
}
.rank_item .rank_body {
  font-size: 90%;
  color: #999;
}
.rank_item .center_img {
  margin: 0 auto;
}
.rank_manga .rank_item .rank_thumnail,
.rank_illust .rank_item .rank_thumnail {
  float: left;
  width: 100px;
}
.rank_manga .rank_item .rank_info,
.rank_illust .rank_item .rank_info {
  float: left;
  width: 220px;
}
.rank_manga .rank_thumnail .mg_status,
.rank_manga .rank_info .rank_body {
  display: none;
}
/*thumnail*/
/*manga_episode_thumb*/
a.mg_thumb_img {
  border: 1px solid #000;
  display: block;
  position: relative;
  text-decoration: none;
}
a.mg_thumb_img:hover {
  border: 1px solid #114a9f;
  text-decoration: underline;
}
a.mg_thumb_img img {
  width: 98px;
  height: auto;
}
.mg_status {
  color: #fff;
  text-align: center;
  display: block;
  background: #000;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.mg_status {
  color: #fff;
  text-align: center;
  display: block;
  background: #000;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.mg_status a {
  border-bottom: 1px solid #fff;
  text-decoration: none;
}
.mg_status a:hover {
  border-bottom: 1px solid #fff;
  text-decoration: underline;
}
/*button*/
/*book_genre*/
.bk_genre a {
  display: inline-block;
  background-color: #C5C5C5;
  padding: 1px 6px;
  font-size: 84%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #cee4f6;
  background: -moz-linear-gradient(top, #f5fbfd 0%, #cee4f6);
  background: -webkit-gradient(linear, left top, left bottom, from(#f5fbfd), to(#cee4f6));
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #c4def4;
  -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 1px rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 1px rgba(255, 255, 255, 0);
  -o-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 1px rgba(255, 255, 255, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#f5fbfd, endcolorstr=#cee4f6))";
  text-shadow: 1px 1px 0px #ffffff, 0px -1px 0px rgba(255, 255, 255, 0);
}
.bk_genre a:hover {
  text-decoration: none;
  background: -moz-linear-gradient(top, #f5fbfd 0%, #ebf3fa);
  background: -webkit-gradient(linear, left top, left bottom, from(#f5fbfd), to(#ebf3fa));
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #c4def4;
  -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 1px rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 1px rgba(255, 255, 255, 0);
  -o-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 1px rgba(255, 255, 255, 0);
  text-shadow: 1px 1px 0px #ffffff, 0px -1px 0px rgba(255, 255, 255, 0);
  color: #628ED0 !important;
}
/**********************/
/* アイコン類*/
/**********************/
.kind_icon {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(/img/common/spr_kindicon.png);
  background-repeat: no-repeat;
  text-indent: -9999px;
}
.kind_icon.icon_illust {
  background-position: 0 0px;
}
.kind_icon.icon_manga {
  background-position: 0 -20px;
}
.kind_icon.icon_book {
  background-position: 0 -40px;
}
.kind_icon.icon_illust.border {
  background-position: 0 -60px;
}
.kind_icon.icon_manga.border {
  background-position: 0 -80px;
}
.kind_icon.icon_book.border {
  background-position: 0 -100px;
}
/**********************/
/* 矢印*/
/**********************/
.arrow01_left {
  display: inline;
  background: url(/img/common/ui/spr_uiicon.png) no-repeat 0 -80px;
  padding-left: 13px;
}
.arrow01_right {
  display: inline;
  background: url(/img/common/ui/spr_uiicon.png) no-repeat right -80px;
  padding-right: 20px;
}
.itemlist .item .item_list_img {
  margin: 1px auto;
}
.itemlist .item .item_list_img .center_img {
  width: 140px;
  height: 142px;
  margin-left: auto;
  margin-right: auto;
}
.itemlist .item .item_list_img .center_img a,
.itemlist .item .item_list_img .center_img .center_img_inner {
  font-size: 0;
  width: 140px;
  height: 140px;
  line-height: 140px;
  display: block;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
}
.itemlist .item .item_list_img .center_img img {
  vertical-align: middle;
  max-width: 140px;
  max-height: 140px;
  line-height: 140px;
}
.itemlist .item .item_list_img .center_img span.center_img_spring {
  height: 140px;
  display: inline-block;
  font-size: 0;
  width: 1px;
  margin-left: -1px;
  overflow: hidden;
  vertical-align: middle;
}
/*pickup枠*/
#top_pickup_area {
  background: #565252 url(/img/index/spr_pickup.png) repeat-x 0 -460px;
  height: 260px;
  position: relative;
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  width: 984px;
  margin: 0 0 20px 0;
}
#top_pickup_area h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #999;
  text-shadow: 1px 1px 0 #000;
  font-weight: normal;
  padding: 10px 15px 0px 20px;
  line-height: 130%;
  font-size: 84%;
}
#top_pickup_area h2 .line {
  font-size: 150%;
  padding-right: 0.3em;
  color: #666;
  text-shadow: 0 0 0 #000;
}
#top_pickup_area h2 strong {
  font-size: 150%;
  color: #fff;
  font-weight: bold;
  padding-right: 0.3em;
}
#top_pickup_list_wrapper {
  position: relative;
  padding: 0px 22px;
}
#top_pickup_list {
  width: 950px;
  height: 216px;
  overflow: hidden;
}
#top_pickup_list li {
  float: left;
  width: 180px;
  vertical-align: top;
  margin: 0 10px 0 0;
}
#top_pickup_list li a {
  display: block;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  height: 216px;
  background: #333131 url(/img/index/spr_pickup.png) no-repeat 106px -231px;
  position: relative;
}
#top_pickup_list li a:hover {
  background-color: #444;
  text-decoration: none;
}
.pickup_thumnail {
  background-color: #999;
  display: block;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -o-border-radius: 1px 1px 0 0;
  height: 180px;
  overflow: hidden;
}
.pickup_thumnail img {
  width: 180px;
  height: 180px;
  border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
}
a:hover .pickup_thumnail {
  background-color: #fff;
}
a:hover .pickup_thumnail img {
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.80;
}
.pickup_txt {
  display: block;
  color: #fff;
  padding: 4px 20px 4px 6px;
  font-size: 12px;
}
.pickup_label {
  position: absolute;
  top: 0px;
  right: 0px;
}
#top_pickup_area #top_pickup_controller {
  position: relative;
  width: 984px;
  margin: 0px;
  z-index: 100;
  display: none;
}
#top_pickup_area:hover #top_pickup_controller {
  display: block;
}
#top_pickup_controller li {
  width: 64px;
  height: 64px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
#top_pickup_controller li a,
#top_pickup_controller li span {
  display: block;
  width: 64px;
  height: 64px;
  background: url(/img/index/spr_pickup.png) no-repeat 0 0;
  text-indent: -9999px;
}
#top_pickup_controller li.prev {
  position: absolute;
  top: -140px;
  left: -50px;
}
#top_pickup_controller li.prev a {
  background-position: 0 -70px;
}
#top_pickup_controller li.prev a:hover {
  background-position: 0 -210px;
}
#top_pickup_controller li.next {
  position: absolute;
  top: -140px;
  right: -10px;
}
#top_pickup_controller li.next a {
  background-position: 0 0;
}
#top_pickup_controller li.next a:hover {
  background-position: 0 -140px;
}
/*イベント枠*/
#top_event_box .title {
  border-radius: 4px 4px 0 0;
  -mozborder-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
}
#top_event_box .content_area_inner {
  background-color: #fff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkitborder-radius: 4px;
  -o-border-radius: 4px;
  border-bottom: 1px solid #ccc;
}
.pickup_event {
  padding: 10px;
}
.pickup_event .event_banner {
  float: left;
  width: 290px;
}
.pickup_event .event_banner img {
  width: 290px;
}
.pickup_event .event_info {
  float: left;
  width: 290px;
}
.pickup_event h3 {
  font-size: 130%;
  line-height: 130%;
  margin: 0 0 10px 0;
  position: relative;
  width: 300px;
}
.pickup_event h3 img {
  position: absolute;
  top: 0;
  left: 0;
}
.pickup_event h3 a {
  display: block;
  margin-left: 76px;
  text-decoration: underline;
}
.pickup_event h3 a:hover {
  filter: alpha(opacity=80);
  -moz-opacity: 0.80;
  opacity: 0.80;
}
.pickup_event .event_txt {
  margin-left: 10px;
}
.pickup_event .pickup_event_list {
  margin: 0 0 0 -5px;
}
.pickup_event .item {
  float: left;
  width: 82px;
}
.pickup_event .item .item_list_img,
.pickup_event .item a {
  width: 82px;
  height: 83px;
  min-width: 82px;
  min-height: 83px;
  margin: 0px auto;
}
.pickup_event .item div.center_img .center_img_inner {
  padding: 1px 0;
}
.pickup_event .more_event_link {
  float: right;
}
.pickup_event .more_event_link a {
  display: block;
  width: 36px;
  height: 87px;
  background: url(/img/index/btn_ev_more_min.png) no-repeat 0 0;
  text-indent: -9999px;
  margin-top: 10px;
}
.pickup_event .more_event_link a:hover {
  background-position: 0 -87px;
}
#top_event_box .event_list .more_link {
  border-top: 1px solid #E8E8E8;
  padding: 0.8em 0;
  text-align: right;
}
.pickup_event_list .center_img {
  width: 80px;
  height: 82px;
  margin-left: auto;
  margin-right: auto;
}
.pickup_event_list .center_img a,
.pickup_event_list .center_img .center_img_inner {
  font-size: 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: block;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
}
.pickup_event_list .center_img img {
  vertical-align: middle;
  max-width: 80px;
  max-height: 80px;
  line-height: 80px;
}
.pickup_event_list .center_img span.center_img_spring {
  height: 80px;
  display: inline-block;
  font-size: 0;
  width: 1px;
  margin-left: -1px;
  overflow: hidden;
  vertical-align: middle;
}
.event_item {
  border-top: 1px solid #E8E8E8;
  padding: 10px;
}
.event_item .event_banner {
  float: left;
  width: 290px;
}
.event_item .event_banner img {
  width: 290px;
}
.event_item .event_info {
  float: left;
  width: 290px;
  padding: 0 0 0 10px;
}
.event_item .event_title {
  font-size: 120%;
  border: 0;
  padding: 0;
  margin: 0 0 0.2em 0;
}
.event_item .event_date {
  font-size: 11px;
  color: #999;
}
.event_item .event_link {
  margin: 0.5em 0 0  0;
  color: #999;
}
.event_title {
  font-size: 16px;
  color: #545454;
  font-weight: bold;
  line-height: 16px;
  padding-left: 5px;
  border-bottom: solid 2px;
  color: #363636;
}
.seiga {
  background-color: #EBEBEB;
}
a {
  color: #259;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #3C3993;
}
li {
  list-style: none;
}
.seigatop #main_area_l {
  width: 610px;
  margin-right: 20px;
  float: left;
}
.seigatop #main_area_r {
  width: 350px;
  float: left;
  margin: 0px;
}
#content {
  width: 984px;
  margin: 0px auto 20px;
  padding: 20px;
}
/*上部広告*/
#top_seiga_ad {
  z-index: -99;
}
#top_seiga_ad .wrapper {
  width: 984px;
  margin: 15px auto -5px auto;
  text-align: center;
}
#top_seiga_ad img {
  max-width: 984px;
}
/*上部広告 ぶちぬき*/
#top_seiga_ad_b {
  margin: 0 0 -5px 0;
  z-index: -99;
}
#top_seiga_ad_b a {
  display: block;
  width: 100%;
  margin: 0 auto;
  min-height: 20px;
  text-align: left;
  text-indent: -9999px;
}
/*サービス説明・リンク*/
#top_seigamenu_area {
  background-color: #525050;
  width: 984px;
  height: 52px;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
}
.seiga_description {
  float: left;
  width: 415px;
  padding: 10px 0px 10px 20px;
  color: #ccc;
  line-height: 140%;
  text-shadow: 1px 1px 0 #000;
}
.top_seigamenu {
  float: right;
  width: 520px;
  height: 70px;
  margin: 10px;
}
.top_seigamenu li {
  float: left;
}
.top_seigamenu li a {
  display: block;
  text-align: center;
  color: #333;
  font-weight: bold;
  text-shadow: 1px 1px 0px #fff;
  background: url(/img/index/menu_seigatop.png?201307091930) no-repeat 0 0;
  position: relative;
}
.top_seigamenu li a:hover {
  text-decoration: none;
  color: #999;
}
.top_seigamenu li a.seigamenu_illust {
  width: 173px;
  height: 35px;
  background-position: 0 0;
}
.top_seigamenu li a.seigamenu_manga {
  width: 174px;
  height: 35px;
  background-position: -173px 0;
}
.top_seigamenu li a.seigamenu_book {
  width: 173px;
  height: 35px;
  background-position: -347px 0;
}
.top_seigamenu li a:hover.seigamenu_illust {
  background-position: 0 -35px;
}
.top_seigamenu li a:hover.seigamenu_manga {
  background-position: -173px -35px;
}
.top_seigamenu li a:hover.seigamenu_book {
  background-position: -347px -35px;
}
.seigamenu_txt {
  display: block;
  line-height: 35px;
  font-size: 130%;
}
.seigamenu_disc {
  display: none;
  position: absolute;
  bottom: 40px;
  left: 0px;
}
a:hover .seigamenu_disc {
  display: block;
}
.seigamenu_disc em {
  display: block;
  font-weight: normal;
  text-align: left;
  padding: 6px;
  color: #fff;
  background-color: #333;
  position: relative;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  font-size: 90%;
  box-shadow: 1px 1px 3px #666;
  -moz-box-shadow: 1px 1px 3px #666;
  -webkit-box-shadow: 1px 1px 3px #666;
  -o-box-shadow: 1px 1px 3px #666;
}
.seigamenu_disc em:after {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.seigamenu_disc em:after {
  border-color: rgba(0, 0, 0, 0);
  border-width: 8px;
  left: 50%;
  margin-left: -8px;
}
.seigamenu_illust .seigamenu_disc em {
  background-color: #D9B535;
  text-shadow: 1px 1px 0 #9F862E;
}
.seigamenu_manga .seigamenu_disc em {
  background-color: #77C238;
  text-shadow: 1px 1px 0 #3F661E;
}
.seigamenu_book .seigamenu_disc em {
  background-color: #59C0D2;
  text-shadow: 1px 1px 0 #438591;
}
.seigamenu_illust .seigamenu_disc em:after {
  border-top-color: #D9B535;
}
.seigamenu_manga .seigamenu_disc em:after {
  border-top-color: #77C238;
}
.seigamenu_book .seigamenu_disc em:after {
  border-top-color: #59C0D2;
}
/*R-18表示時*/
.top_seigamenu.r18 li a {
  background: url(/img/index/menu_seigatop_r18.png?201307091930) no-repeat 0 0;
}
.top_seigamenu.r18 li a.seigamenu_illust {
  width: 133px;
}
.top_seigamenu.r18 li a.seigamenu_manga {
  width: 135px;
  background-position: -134px 0;
}
.top_seigamenu.r18 li a.seigamenu_book {
  width: 138px;
  background-position: -269px 0;
}
.top_seigamenu.r18 li a.seigamenu_r18 {
  width: 114px;
  background-position: -407px 0;
}
.top_seigamenu.r18 li a.seigamenu_r18 .seigamenu_disc em {
  background-color: #F252AE;
  text-shadow: 1px 1px 0 #D31081;
}
.top_seigamenu.r18 li a.seigamenu_r18 .seigamenu_disc em:after {
  border-top-color: #F252AE;
}
.top_seigamenu.r18 li a:hover.seigamenu_illust {
  background-position: 0 -35px;
}
.top_seigamenu.r18 li a:hover.seigamenu_manga {
  background-position: -134px -35px;
}
.top_seigamenu.r18 li a:hover.seigamenu_book {
  background-position: -269px -35px;
}
.top_seigamenu.r18 li a:hover.seigamenu_r18 {
  background-position: -407px -35px;
}
.top_seigamenu.r18 li .seigamenu_disc em {
  margin: 0 -15px;
}
/**********************/
/* 左カラム*/
/**********************/
#top_info_box,
#top_newcomment_box,
#top_new_box,
#top_tag_box {
  clear: both;
  margin-bottom: 20px;
}
.main_content .title {
  clear: both;
  background: url(/img/index/bg_topleft_title.png) no-repeat left center;
  height: 43px;
  width: 610px;
  border-bottom: 1px solid #AEAEAE;
  border-radius: 4px;
  -mozborder-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  position: relative;
}
.main_content .title h2 {
  background-image: url(/img/index/spr_topicon.png);
  background-repeat: no-repeat;
  font-size: 130%;
  line-height: 43px;
  padding: 0 46px;
  color: #000;
}
#top_info_box .title h2 {
  background-position: 14px 8px;
}
#top_newcomment_box .title h2 {
  background-position: 14px -45px;
}
#top_new_box .title h2 {
  background-position: 14px -95px;
}
#top_tag_box .title h2 {
  background-position: 14px -145px;
}
#top_event_box .title h2 {
  background-position: 14px -195px;
}
/*お知らせ枠*/
#top_info_box .title {
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
}
#top_info_box .content_area_inner {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  min-height: 174px;
}
#top_info_box dl {
  float: left;
  width: 450px;
}
#top_info_box dt {
  float: left;
  width: 110px;
  padding: 4px 0 0 0;
}
#top_info_box dt .category {
  display: inline-block;
  border: 1px solid #CCC;
  width: 64px;
  margin: 0 2px;
  font-size: 10px;
  color: #909090;
  text-align: center;
}
#top_info_box dd {
  float: left;
  width: 330px;
  padding: 4px 10px 10px 0;
  font-weight: bold;
}
#top_info_box dd img {
  vertical-align: middle;
}
#top_info_box dd.selected {
  background: url(/img/index/bg_news_fukidashi.png) no-repeat right -180px;
}
.top_info_thumnail_spring {
  width: 0px;
  height: 0px;
}
.top_info_thumnail {
  width: 120px;
  height: 154px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  background: url(/img/index/bg_news_fukidashi.png) no-repeat 0 0;
  display: none;
}
.top_info_thumnail .top_info_thumnail_wrapper {
  width: 120px;
}
.top_info_thumnail img {
  max-width: 120px;
  max-height: 154px;
}
/* お知らせ上バナー */
.top_info_banner {
  margin: 0 0 20px;
}
.top_info_banner img {
  width: 100%;
}
/*話題のタグ枠*/
#top_tag_box .title h2 span.tag {
  font-size: 130%;
  font-weight: lighter;
  color: #999;
  padding-left: 1em;
}
#top_tag_box .title h2 span.tag a,
#top_tag_box .title h2 span.tag span.tag_string {
  font-weight: bold;
  padding-right: 4px;
}
/*もっと見るボタン*/
.title .more_link,
.title .more_link_list {
  display: block;
  position: absolute;
  top: 10px;
  left: 520px;
}
.title .more_link a {
  display: block;
  width: 80px;
  height: 24px;
  text-decoration: none;
  text-align: center;
  color: #666;
  text-shadow: 1px 1px 0 #fff;
  background: url(/img/common/ui/btn_more.png) no-repeat 0 0;
  line-height: 24px;
}
.title .more_link a:hover {
  background-position: 0 -24px;
  color: #999;
}
.title .more_link_list {
  display: block;
  min-width: 75px;
  height: 24px;
  text-decoration: none;
  text-align: left;
  padding-left: 6px;
  color: #666;
  text-shadow: 1px 1px 0 #fff;
  background: url(/img/common/ui/btn_more.png) no-repeat -80px 0;
  line-height: 24px;
  z-index: 999;
}
.more_link_list:hover {
  background-position: -80px -24px;
  width: 216px;
  height: 60px;
  color: #999;
}
.more_link_list .more_sublink_list {
  display: none;
  margin-top: 5px;
  line-height: 20px;
}
.more_link_list:hover .more_sublink_list {
  display: block;
}
.more_link_list:hover .more_sublink_list a {
  color: #444;
}
.more_link_list:hover .more_sublink_list a:hover {
  color: #999;
  text-decoration: none;
}
.more_sublink_list li {
  float: left;
  margin-right: 0.7em;
}
/**********************/
/* 右カラム*/
/**********************/
.top_pop_box,
#top_rank_box,
#top_my_box {
  clear: both;
  margin-bottom: 20px;
}
.seigatop #main_area_r div.center_img .center_img_inner {
  border: none;
  padding: 0;
}
.top_pop_box .title,
#top_rank_box .title {
  clear: both;
  background: url(/img/index/bg_topright_title.png) repeat-x left center;
  height: 36px;
  width: 350px;
  border-bottom: 1px solid #AEAEAE;
  border-radius: 4px 4px 0 0;
  -mozborder-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  position: relative;
}
.top_pop_box .title .title_icon,
#top_rank_box .title .title_icon {
  position: absolute;
  top: -4px;
  left: 5px;
  z-index: 99;
}
.top_pop_box .title h2,
#top_rank_box .title h2 {
  font-size: 130%;
  line-height: 36px;
  padding: 0 56px;
}
/*ad*/
#top_ads_box {
  margin-bottom: 20px;
  text-align: center;
  background-color: #dbdbdb;
  padding: 8px;
  border: #ccc solid 1px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
#seiga_pc_footer {
  width: 728px;
  height: 90px;
  margin: 0 auto;
}
.ads_300x60 {
  background: #f8f8f8;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 10px 5px 5px 10px;
  margin-top: -6px;
  margin-bottom: 20px;
  text-align: center;
}
.ads_300x60 .banner {
  margin-bottom: 5px;
}
.ads_300x60:empty {
  display: none;
}
.ads_300x60 a {
  color: #000;
  text-decoration: none;
}
.ads_300x60 a:hover {
  text-decoration: underline;
}
.ads_prtext ul {
  background: #f8f8f8;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.ads_prtext ul li {
  border-top: 1px dotted #d5d5d5;
  padding: 10px 5px 10px 10px;
}
.ads_prtext ul li a {
  color: #000;
  text-decoration: none;
}
.ads_prtext ul li a:hover {
  text-decoration: underline;
}
.ads_prtext ul li span {
  color: #ffffff;
  border-radius: 5px;
  background: #264c9f;
  font-size: 10px;
  padding: 0px 5px;
}
.ads_prtext ul li:first-child {
  border: none;
}
#seiga_pc_prtext {
  margin: -10px 0 15px 0;
}
.ads_sidewall {
  position: absolute;
  top: 20px;
  height: 1024px;
  overflow: hidden;
}
.ads_sidewall.left * {
  position: absolute;
  top: 0;
  right: 0;
}
#top_sp_guide .guide_smartphone {
  margin: 48px 0 0;
}
#content {
  position: relative;
  padding: 20px 10px;
}
/*人気のPOP*/
.top_pop_box h2 {
  color: #3FB6CA;
}
.top_pop_box .content_area_inner {
  background-color: #fff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkitborder-radius: 4px;
  -o-border-radius: 4px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  position: relative;
  width: 330px;
}
.pop_thumnail {
  width: 140px;
  float: left;
  margin-right: 10px;
}
.pop_thumnail div.center_img .center_img_inner {
  border: none;
  padding: 0;
}
.pop_description {
  margin-top: 1em;
}
.pop_title {
  font-weight: bold;
  font-size: 120%;
  line-height: 130%;
}
.pop_usr {
  margin-top: 0.6em;
}
.pop_book_box {
  width: 168px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 6px;
  background-color: #ebebeb;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}
.pop_book_thumnail {
  float: right;
  width: 50px;
  text-align: center;
}
.pop_book_thumnail img {
  max-width: 50px;
  max-height: 70px;
}
.pop_book_info {
  width: 110px;
  float: left;
  padding: 0 6px 0 0;
}
.pop_book_info dt {
  font-size: 90%;
  margin: 0 0 0.2em 0;
}
.pop_book_info dd {
  font-weight: bold;
}
/*ランキング*/
#top_rank_box h2 {
  color: #CC9900;
}
#top_rank_box .title {
  border-bottom: 0px;
}
#top_rank_box h3 {
  padding: 0 10px;
  font-size: 110%;
}
#top_rank_box .category {
  padding: 5px 10px;
  font-size: 110%;
}
#top_rank_box .category a {
  color: #333;
}
#top_rank_box .category a:hover {
  color: #666;
}
#top_rank_box .rank_area {
  background-color: #fff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 16px;
}
#top_rank_box .rank_area.book {
  margin-bottom: 0;
}
#top_rank_box .rank_area_inner {
  background-color: #fff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkitborder-radius: 4px;
  -o-border-radius: 4px;
  border-bottom: 1px solid #ccc;
}
#top_rank_box .more_link {
  border-top: 1px solid #E8E8E8;
  padding: 0.5em 0;
  text-align: right;
}
#top_rank_box .rank_illust {
  padding-top: 10px;
}
#top_rank_box .rank_illust h3 {
  background-position: 0 0;
}
#top_rank_box .rank_manga h3 {
  background-position: 0 -28px;
}
#top_rank_box .rank_book h3 {
  background-position: 0 -57px;
}
.more_rank_button a,
.more_rank_button a:visited {
  display: block;
  width: 331px;
  height: 31px;
  text-decoration: none;
  text-align: center;
  color: #666;
  text-shadow: 1px 1px 0 #fff;
  background: url(/img/common/ui/btn_more_big.png) no-repeat 0 0;
  line-height: 31px;
  margin: 5px auto 10px auto;
  font-size: 120%;
}
.more_rank_button a:hover {
  background-position: 0 -31px;
  color: #999;
}
/*ヘルプボタン*/
.title .help_link {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
}
.title .help_link a {
  display: inline-block;
  background: url(/img/common/ui/spr_uiicon.png) no-repeat 0 -103px;
  padding: 0 0 0 18px;
}
/*my エリア*/
#top_my_box .title {
  clear: both;
  height: 15px;
  width: 330px;
  padding: 10px 10px;
  vertical-align: middle;
}
#top_my_box .title:hover {
  cursor: pointer;
  color: #777;
}
#top_my_box h2 {
  font-size: 130%;
  display: inline;
  padding: 0 0.5em 0 0;
  text-shadow: 1px 1px 0 #fff;
}
#top_my_box .noitem {
  text-align: center;
  padding: 10px;
  color: #999;
}
#top_my_box .kind_icon {
  display: inline-block;
}
#top_my_box .kind_txt {
  display: inline;
  font-size: 90%;
  text-shadow: 1px 1px 0 #fff;
  padding: 0;
}
#top_my_box .my_area {
  position: relative;
  background: #DDDDDD url(/img/index/bg_myarea.png) repeat-x left bottom;
  border: 1px solid #cdcdcd;
}
.my_area .controller {
  display: block;
  position: absolute;
  bottom: 8px;
  right: 10px;
  text-shadow: 1px 1px 0 #fff;
  line-height: 20px;
  width: 200px;
  text-align: right;
}
.my_area .controller:hover {
  cursor: pointer;
  color: #777;
}
.my_area .controller span.txt {
  padding-right: 0.4em;
}
.my_area .controller span.txt.disnone {
  visibility: hidden;
}
/*open時*/
.my_area .title.opend p.btn {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(/img/common/ui/spr_uiicon.png) no-repeat 0 0;
  text-indent: -9999px;
}
.my_area .title.opend:hover .btn {
  background-position: 0 -40px;
}
/*close時*/
.my_area .title.closed p.btn {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(/img/common/ui/spr_uiicon.png) no-repeat 0 -20px;
  text-indent: -9999px;
}
.my_area .title.closed:hover .btn {
  background-position: 0 -60px;
}
.my_area_inner {
  background-color: #fff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkitborder-radius: 4px;
  -o-border-radius: 4px;
  margin: 0px 10px 36px 10px;
  border-bottom: 1px solid #aaa;
}
.my_area_inner .more_link {
  padding: 0.5em 0;
  text-align: right;
}
/*定点観測*/
#top_my_box .my_illust {
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkitborder-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #ccc;
}
.my_illust .my_area_inner li {
  float: left;
  margin: 10px 0 0 10px;
}
/*お気に入り*/
#top_my_box .my_manga {
  border-top: 1px solid #eee;
}
.my_manga .my_list {
  padding: 5px 10px 0px 10px;
}
.my_manga .my_item {
  margin: 5px 0px;
  min-height: 54px;
}
.my_manga .my_thumnail {
  float: left;
  margin-right: 10px;
  border: 1px solid #333;
}
.my_manga ul a:hover img {
  border: 1px solid #114a9f;
}
.my_manga ul .my_date {
  font-size: 80%;
}
.my_manga ul .my_date.new {
  color: #F00;
  font-weight: bold;
}
.my_manga ul .my_body {
  font-size: 90%;
  margin: 0.2em 0 0 60px;
}
.my_manga ul li div {
  display: inline;
}
#top_my_box .my_manga ul li div.title {
  clear: none;
  height: 0px;
  width: 0px;
  padding: 0px 0px;
  vertical-align: baseline;
}
#top_my_box .center_img {
  width: 70px;
  height: 72px;
  margin-left: auto;
  margin-right: auto;
}
#top_my_box .center_img a,
#top_my_box .center_img .center_img_inner {
  font-size: 0;
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: block;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
}
#top_my_box .center_img img {
  vertical-align: middle;
  max-width: 70px;
  max-height: 70px;
  line-height: 70px;
}
#top_my_box .center_img span.center_img_spring {
  height: 70px;
  display: inline-block;
  font-size: 0;
  width: 1px;
  margin-left: -1px;
  overflow: hidden;
  vertical-align: middle;
}
.message {
  text-align: center;
  font-weight: bold;
  line-height: 3em;
}
