@font-face
{ 
    font-family: 'futura_ltcn_btlight';
    src: url('../fonts/futura_light_condensed_bt-webfont.eot');
    src: url('../fonts/futura_light_condensed_bt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura_light_condensed_bt-webfont.woff2') format('woff2'),
         url('../fonts/futura_light_condensed_bt-webfont.woff') format('woff'),
         url('../fonts/futura_light_condensed_bt-webfont.ttf') format('truetype'),
         url('../fonts/futura_light_condensed_bt-webfont.svg#futura_ltcn_btlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Futura Bold';
	src: url('../fonts/Futura Bold.otf') format('truetype');
}
@font-face {
	font-family: 'Futura';
	src: url('../fonts/Futura Light.ttf') format('truetype');
	src: url('../fonts/Futura Light.otf') format('truetype');
}
@font-face
{ 
    font-family: 'arial_rounded_bold';
    src: url('../fonts/arial_rounded_bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face
{ 
    font-family: 'TitilliumText25L004';
    src: url('../fonts/TitilliumText25L004.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face
{ 
    font-family: 'Aleo-Regular';
    src: url('../fonts/Aleo-Regular.otf');
    font-weight: normal;
    font-style: normal;
}