/* liScroll styles */

.tickercontainer { /* the outer div with the black border */
background: #252525; 
height: 27px; 
margin: 0; 
padding: 0;
overflow: hidden; 
}
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
position: relative;
top: 8px;
overflow: hidden;
}
ul.newsticker { /* that's your list */
position: relative;
left: 750px;
list-style-type: none;
margin: 0;
padding: 0;
}
ul.newsticker li {
/* important: display inline gives incorrect results when you check for elem's width */
margin: 0;
padding: 0;
background: #252525;
color:#FFFFFF;
margin-right:5px;
font-size:12px;
}

ul.newsticker li span {
font-size:12px;
}

.tickeritems{float:left;display:block;padding:10px;}
.separator{padding:10px;text-align: center;float:left;display:block;}
.separatorkurs{float:left;width:100px;color: #efefef;}
.down {
 display:inline;
 margin-left:5px;
 padding-left:15px;
 background-image: url('../images/arrow-indeks.png');background-repeat: no-repeat;
 background-position:0px 1px;
 color:#ff0c00;
}
.up { display:inline;
 margin-left:5px;
 padding-left:15px;
 background-image: url('../images/arrow-indeks.png');background-repeat: no-repeat;
 background-position:0px -11px;
 color:#0bff2d;}
.kurs{color:#ffa912;}
.kurs_nilai{color:#04edfc;}
.indeks_down{color:#ff0c00;}
.indeks_up{color:#0bff2d;}
