/* font style */

@font-face {
    font-family: 'bebas_neuelight';
    src: url('../fonts/bebasneue_light-webfont.eot');
    src: url('../fonts/bebasneue_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_light-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_light-webfont.woff') format('woff'),
         url('../fonts/bebasneue_light-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_light-webfont.svg#bebas_neuelight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas_neuebold';
    src: url('../fonts/bebasneue_bold-webfont.eot');
    src: url('../fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_bold-webfont.woff') format('woff'),
         url('../fonts/bebasneue_bold-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_lightregular';
    src: url('../fonts/gotham-light-webfont.eot');
    src: url('../fonts/gotham-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-light-webfont.woff2') format('woff2'),
         url('../fonts/gotham-light-webfont.woff') format('woff'),
         url('../fonts/gotham-light-webfont.ttf') format('truetype'),
         url('../fonts/gotham-light-webfont.svg#gotham_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* font style closed */

body,html{
	font-family: 'arial';
	margin: 0;
	padding: 0;
}
.mCSB_container_wrapper{
	margin-right: 0 !important;
}
.bs-widget{
	width: 300px;
	height:425px;
	border:1px solid black;
	border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.bs-widget a{
	color: black;
	text-decoration: none;
}
.bs-widget a:hover{
	color: black;
}
.bs-widget .bs-title{
	font-family: 'arial';
	font-size:22px;
	font-weight: bold;
	border-bottom: 2px solid black;
	padding: 8px 30px;
	clear: both;
	text-align: center;
}
.bs-widget .bs-logo{
	width:100%;
	float: left;
	clear: both;text-align: center;
	margin: 10px 0;
}
.bs-widget .bs-news ul{
	width: 100%;
	float: left;
	display: inline-block;
	margin:0 !important;
	padding: 0 !important;
	height: 390px;
	overflow: hidden;
}
.bs-widget .bs-news ul li{
	list-style-type: none;
	float: left;
	width: 300px;
	display: inline-block;
	padding-top: 6px;
	padding-bottom: 6px;
}
.bs-widget .bs-news ul li .bs-news-img{
	float: left;
	width:100px;
	margin-left: 15px;
}
.bs-widget .bs-news ul li .bs-news-img img{
	width:100px;
}
.bs-widget .bs-news ul li .bs-news-content{
	float:left;
	width:165px;
	margin-left:10px;
}
.bs-widget .bs-news ul li .bs-news-content .bs-news-title{
	float: left;
	width: 100%;
	display: inline-block;
	font-family: 'arial';
	font-size: 17px;
}
.bs-widget .bs-news ul li .bs-news-content .bs-news-title a:hover{
	color:#a20000;
}
.bs-widget .bs-news ul li .bs-news-content .bs-news-datetime{
	float: left;
	width: 100%;
	display: inline-block;
	font-family: 'arial';
	font-size: 11px;
	padding: 2px 0; 
}
.bs-widget .bs-news ul li .bs-news-content .bs-news-desc{
	float: left;
	width: 100%;
	font-family: 'arial';
	font-size: 11px;
	height: 35px;

  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  margin: 0 auto;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bs-widget .bs-readmore{
	font-family: 'arial';
	font-size: 21px;
	display: inline-block;
	border-bottom: 1px solid black;
	padding: 3px 8px;
	margin-left: 120px;
	margin-bottom: 20px;
	margin-top:10px;
}
.bs-widget .bs-readmore:hover{
	border-bottom: 1px solid #a20000;
}
.bs-widget .bs-readmore a:hover{
	cursor: pointer;
	color:#a20000;
}
.mCSB_container{
  margin-right:0 !important;
  }
  .bs-logo img{
  height:28px;
  }
  .bs-widget{
  height:439px !important;
  }
  .bs-readmore{
  position:relative !important;
  top:8px !important;
  }
.f12{
	font-size: 12px;
}.mt10{
	/*margin-top:10px;*/
}.bgjakarta{
	 background-image: url("http://beritasatu.com/pages/widget/code/goodjobjakarta/img/logo.png");
}.mt10:nth-child(odd){
	background: #D0D0D0 !important;
}
