/********************************************************
* Adk Top Karma               
* Version: 1.0
* Official support: http://www.smfpersonal.net           
* Author: ^Heracles^
* 2012
/**********************************************************/
.KarmabarPos
{
	float: left;
	background: url(../images/Adk_TopKarma/KarmaPos.png) no-repeat;
	display: block;
	margin: 0 4px;
	height: 16px;
}
.KarmabarPos div
{
	position: relative;
	right: -4px;
	padding: 0 4px 0 0;
	background: url(../images/Adk_TopKarma/KarmaPos.png) no-repeat 100%;
	height: 16px;
}
.KarmabarNeg
{
	float: left;
	background: url(../images/Adk_TopKarma/KarmaNeg.png) no-repeat;
	display: block;
	margin: 0 4px;
	height: 16px;
}
.KarmabarNeg div
{
	position: relative;
	right: -4px;
	padding: 0 4px 0 0;
	background: url(../images/Adk_TopKarma/KarmaNeg.png) no-repeat 100%;
	height: 16px;
}
.KarmaTable
{
	width: 100%;
}
.KarmaTable1
{
	width: 100%;
	border: 2px solid #A7B9CD; 
	margin-top: -2px; 
	margin-bottom: -2px; 
	border-collapse: collapse;
}
.KarmaTableTr
{
	width: 20%;
}
.KarmaData
{
	width: 20%;
	text-align: right;
	border: 2px solid #A7B9CD;
	padding: 3px;
}
.KarmaUser
{
	width: 20%;
	padding-left: 5px;
	border: 2px solid #A7B9CD;
	padding: 3px;
}
.KarmaPos
{
	color: green;
}
.KarmaNeg
{
	color: red;
}
.KarmaGrafica
{
	width: 20%;
	border: 2px solid #A7B9CD;
	padding: 3px;
}
.Karmafloat
{
	float: right;
}
.KarmaTitle
{
	color: #FFF;
	height: 25px;
	margin-bottom: -4px;
	text-align: center;
	padding-top: 5px;
	font-weight: bold;
	background-image: url(../images/Adk_TopKarma/Karma_Arco.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.flipVe {
-moz-transform: scaleY(-1); 
-o-transform: scaleY(-1); 
-webkit-transform: scaleY(-1); 
transform: scaleY(-1); 
filter: flipV; 
}