body {
    background-color: #ffffff;
    margin:           0;
    padding:          10px;
    color:            #000000;
    font-family:      Verdana, Arial, Helvetica, sans-serif!important;
    font-size:        12px;
    font-style:       normal;
    font-weight:      normal;
}

form, pre {
    padding: 0;
    margin: 0;
}

a img, table {
    border: 0;
}

a,.link:hover {
    color:             #0067a9;
    text-decoration:   none;
    cursor: pointer;
}
a:hover,.link:hover {
    color:             #fa3b3b;
    text-decoration:   none;
    cursor: pointer;
}

a.menu {
    color:             #000000;
    font-weight:       bold;
    text-decoration:   none;
}
a.menu:hover {
    color:             #fa3b3b;
    font-weight:       bold;
    text-decoration:   none;
}

a.pager_link {
    border:            1px #dfe8ee solid;
    color:             #000000;
    text-decoration:   none;
    padding:           4px 7px;
    background-color:  #f1faff;
}
a.pager_link:hover {
    color:             #FA3B3B;
    text-decoration:   none;
    background-color:  #cfe8ef;
}

a.toolbar {
    color: #fa3b3b;
}
a.toolbar:hover {
    color: #3b3bfa;
}

b.pager_no_link {
    border:            1px #dfe8ee solid;
    color:             #aa0000;
    font-weight:       bold;
    padding:           4px 7px;
    background-color:  #ffffff;
}

td.h_search {
    padding: 20px 0 13px 65px;
    text-align: right;
    vertical-align: top;
}
td.h_search_btn {
    padding: 16px 0 0 10px;
    vertical-align: top;
}
td.h_top_r {
    width:100%;
    padding: 0 5px;
    text-align: right;
    vertical-align: top;
}

/* main top menu */

td.main_menu {
    padding-top: 10px;
}
td.main_menu table {
    border: 0;
}
div.menul {
    background: url('//images4et.com/images/menu_left.gif') no-repeat;
    width: 6px;
    height: 30px;
}
div.menur {
    background: url('//images4et.com/images/menu_right.gif') no-repeat;
    width: 6px;
    height: 30px;
}

input.stext {
    font-family:    Verdana, Arial, Helvetica, sans-serif;
    font-size:      14px;
    font-weight:    normal;
    vertical-align: middle;
    height:         18px;
}

input.mradio, input.mcheckbox {
    vertical-align: middle;
    margin: 0 2px 0 0;
}

option.upload {
    font-weight:      bold;
    background-color: #dfe8ee;
}

td.td_menu {
    background: url('//images4et.com/images/menu_bg.gif') repeat-x;
    padding: 0 20px 2px 20px;
}

td.menu_spacer, td.ms {
    padding: 0 15px 0 15px;
}

td.menu_item {
    position:relative;
    display:block;
}

td.caption {
    background-color: #f2f2ff;
    border: 1px #c2c2ff solid;
}

div.caption {
    background-color: #f2f2ff;
    border: 1px #c2c2ff solid;
    padding: 3px 3px 3px 10px;
}

div.t_caption {
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 18px;
}

img.hd {
    float: left;
    margin: 0 10px 15px 10px;
}
div.hd {
    margin-left: 105px;
    padding: 5px 0;
}

/* blogs */
div.blog_left{
    float: left;
    height: 30px;
    background: url(//images4et.com/images/menu_left.gif) no-repeat;
    width: 6px;
}
div.blog_right{
    float: left;
    height: 30px;
    background: url(//images4et.com/images/menu_right.gif) no-repeat;
    width: 6px;
}
div.blog_top{
    float: left;
    font-weight: bold;
    padding: 7px 8px 9px 15px;
    width: 204px;
    background: url(//images4et.com/images/menu_bg.gif) repeat-x;
}
div.blog_top div.right {
    font-weight: normal;
}
div.blog_left img, div.blog_right img {
    width: 6px;
}
div.blog_content{
    clear: both;
    border: 1px dashed #000000;
    width: 210px;
    padding: 10px;
    margin: 2px 6px 15px 2px;
}
div.top_torr {
    clear: both;
    border: 1px dashed #000000;
    width: 220px;
    padding: 5px;
    margin: 2px 6px 15px 2px;
}

div.info
{
    margin-top:-45px;
    padding-left:40px;
}

/* torrents listing */
table.tl {
    width: 100%;
    border-spacing: 2px;
}
table.tl th {
    text-align: left;
    border: 1px #dfe8ee solid;
    font-weight: normal;
    padding: 5px;
    white-space: nowrap;
}
tr.tlz {
    background-color: #f9faff;
    padding: 3px 7px;
}
tr.tlz:hover, tr.tlr:hover {
    background-color: #dff8ff;
}
tr.tlr {
    background-color: #f1faff;
    padding: 3px 7px;
}
tr.ver td {

}
tr.ver td.sy, tr.ver td.ly {

}

table.tl th table {
    width: 100%;
    border-spacing: 0;
}
table.tl th table tr {
    background-color: #fff !important;
}
table.tl th table tr:hover {
    background-color: #fff !important;
}

table.tl td {
    text-align: center;
    white-space: nowrap;
    padding: 3px;
}
table.tl td.tli {
    text-align: left;
    white-space: normal;
    width: 100%;
}
table.tl td.tlj {
    text-align: left;
    white-space: normal;
}
table.tl td.tll {
    text-align: left;
}
table.tl th table td {
    text-align: left !important;
}

div.r0, div.r1, div.r2, div.r3, div.r4, div.r5, div.r6, div.r7, div.r8, div.r9, div.r10 {
    width: 42px;
    height: 13px;
    background-image: url('//images4et.com/images/health.png');
}
div.r0 { background-position: 0 0; }
div.r1 { background-position: 0 -13px; }
div.r2 { background-position: 0 -26px; }
div.r3 { background-position: 0 -39px; }
div.r4 { background-position: 0 -52px; }
div.r5 { background-position: 0 -65px; }
div.r6 { background-position: 0 -78px; }
div.r7 { background-position: 0 -91px; }
div.r8 { background-position: 0 -104px; }
div.r9 { background-position: 0 -117px; }
div.r10 { background-position: 0 -130px; }

/* end torrents listing */


/* forum */
table.fm {
    width: 100%;
    min-width:700px;
    border: 1px #dfe8ee solid;
    border-spacing: 0px;
}
/*for forms*/
form table.fm td {
    text-align: left;
    vertical-align: top;
}
/*header*/
table.fm th {
    text-align: center;
    font-weight: bold;
    padding: 7px;
    white-space: nowrap;
    background-color: #b1d3ff;
    background: url('//images4et.com/images/fm_head.gif') repeat-x;
}
/*light*/
table.fm td {
    text-align: center;
    white-space: nowrap;
    font-size: 11px;
    padding: 5px 7px;
    margin: 0px;
    background-color: #f4f9fb;
}
/*dark*/
table.fm td.fmo {
    background-color: #ebf6fc;
    border: 1px solid #ebf6fc;
}
/*dark*/
table.fm td.fma {
    background-color: #ebf6fc;
    border: 1px solid #ebf6fc;
    vertical-align: middle!important;
}
/*light 100% with hover*/
table.fm td.fme {
    background-color: #f4f9fb;
    border: 1px solid #f4f9fb;
    text-align: left;
    white-space: normal;
    width: 100%;
    line-height: 16px;
}
table.fm td.fme:hover {
    background-color: #ebf6fc;
    border: 1px solid #d4eef9;
}
table.fm td.fme a.fm {
    font-size: 13px;
    font-weight: bold;
}
table.fm td.fme span.pg {
    font-size: 10px;
}
/*avatar*/
table.fm td.fmi {
    text-align: left;
    white-space: normal;
    vertical-align: top;
    border-top: 1px #dfe8ee solid;
    padding: 7px 7px 10px 7px;
    border-right: 1px #dfe8ee solid;
}
/*post*/
table.fm td.fmj {
    text-align: left;
    white-space: normal;
    width: 100%;
    vertical-align: top;
    padding: 0;
    border-top: 1px #dfe8ee solid;
}
/*post bottom*/
table.fm td.fmk {
    vertical-align: bottom!important;
    text-align: left;
    padding: 4px 5px;
    font-size: 10px;
}
table.fm td div.top,
table.fm td.top {
    font-size: 10px;
    padding: 4px 7px;
    background:  url('//images4et.com/images/fm_post.gif') repeat-x;
    border-bottom: 1px solid #dddddd;
    text-align: left;
}
table.fm td div.mid {
    padding: 7px;
    position: relative;
    height:auto !important; /* real browsers */
    height:100%; /* IE6: treaded as min-height*/
    min-height:100%; /* real browsers */
}
table.fm td div.btm {
    padding: 4px 5px;
}
table.fm td div.att {
    padding: 5px;
    margin: 10px 5px;
    border: 1px solid #dddddd;
}
table.fm td.empty {
    background-color: #ffffff!important;
    border-top: 1px #dfe8ee solid;
    padding: 5px;
}
table.fm div.fl {
    background-image: url('//images4et.com/images/forum_files.png');
    background-repeat: no-repeat;
    height:16px;
    padding-left:20px;
}
div.doc { background-position: 0 -16px; }
div.xls { background-position: 0 -32px; }
div.pdf { background-position: 0 -48px; }
div.txt { background-position: 0 -64px; }
div.swf { background-position: 0 -80px; }
div.gif,
div.jpg,
div.jpeg,
div.png { background-position: 0 0; }
/*search top*/
table.fm td.stp {
    font-size: 11px;
    padding: 4px 7px;
    background:  url('//images4et.com/images/fm_post.gif') repeat-x;
    text-align: left;
}
/*search top*/
table.fm td div.stp {
    font-size: 10px;
    padding: 4px 7px;
    text-align: left;
}
/*search author*/
table.fm td.fms {
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    border-top: 1px #dfe8ee solid;
    padding: 7px 15px 10px 15px;
    border-right: 1px #dfe8ee solid;
}
/* end forum */


tr.torrent1 {
    background-color: #f9faff;
    padding: 0 7px;
}
tr.torrent1:hover {
    background-color: #dff8ff;
}
tr.torrent2 {
    background-color: #f1faff;
    padding: 0 7px;
}
tr.torrent2:hover {
    background-color: #dff8ff;
}



#tcmm {
    display: inline;
    float: right;
    padding: 0 5px;
}

td.torrent_bg {
    border: 1px #eff8fe solid;
}
.seed, .sy {
    color: #008800;
}
.leech, .ly {
    color: #008800;
}
.noseedlich, .sn, .ln {
    color: #aa0000;
}

.c_tor {
    font-size: 10px;
    color: #cccccc;
}
.c_tor a {
    font-size: 10px;
    color: #cccccc;
    text-decoration: none;
}
.c_tor a:hover {
    font-size: 10px;
    color: #777777;
    text-decoration: none;
}

h1 {
    font-size:      20px;
    font-weight:    normal;
    margin: 7px 0 7px 0;
}

h1 img {
    vertical-align: middle;
    margin: 0 10px 0 10px;
    border: 0;
}

a.h1 {
    font-size:      20px;
    font-weight:    normal;
    margin: 7px 0 7px 0;
}
a.h1:hover {
    color:          #fa3b3b;
    font-size:      20px;
    font-weight:    normal;
    margin:         7px 0 7px 0;
}

h2 {
    font-size:      16px;
    font-weight:    bold;
    margin:         4px 0 4px 0;
}
a.h2 {
    font-size:      16px;
    font-weight:    bold;
    margin:         4px 0 4px 0;
}
a.h2:hover {
    color:          #fa3b3b;
    font-size:      16px;
    font-weight:    bold;
    margin:         4px 0 4px 0;
}
h2.caption {
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 18px;
    margin-bottom:10px;
}
h2.caption a {
    font-size: 14px;
    font-weight: bold;
}
h2.caption a:hover {
    font-size: 14px;
    font-weight: bold;
}
h3 {
    font-size:      14px;
    font-weight:    bold;
    margin: 7px 0 7px 0;
}
h3.done, h3.error {
    font-size:      14px;
    font-weight:    bold;
    margin:         20px 10px;
}


/* categories submenu */
td.quick_links {
    font-family: verdana!important;
}

.hide{
    display: none;
}

#divlinks {
    position: absolute;
    right: 13px;
    display: inline;
    z-index: 1;
}
#divmenu {
    position: absolute;
    left: 10px;
    display: inline;
    z-index: 1;
}
#divstats {
    position: absolute;
    left: -29px;
    display: inline;
    z-index: 1;
}
#divcommunity {
    position: absolute;
    left: -14px;
    display: inline;
    z-index: 1;
}
#divadmin {
    position: absolute;
    left: -40px;
    display: inline;
    z-index: 1;
}

table.tablemenu {
    border: 0;
    padding: 0;
}
table.tablemenu td {
    padding: 3px 7px;
    border: 1px #000000 solid;
    background-color: #ffffff;
}
table.tablemenu td a {
    color: #000000;
    font-weight: normal;
}
table.tablemenu td a:hover {
    color: #fa3b3b;
    font-weight: normal;
}
table.tablemenu td:hover {
    border: 1px #e5efff solid;
    background-color: #e5efff;
}
table.tablemenu td:hover a {
    color: #000000;
    font-weight: normal;
}
table.tablemenu td:hover a:hover {
    color: #fa3b3b;
    font-weight: normal;
}
td.submenu2 {
    padding: 3px 18px 3px 29px !important;
    background-color: #e5efff !important;
}
td.submenu2 a {
    font-weight: bold !important;
}
td.submenu2 a:hover {
    color: #fa3b3b !important;
    font-weight: bold  !important;
}

div.mi4, div.mi5, div.mi533, div.mi7, div.mi416, div.mi3, div.mi1, div.mi8, div.mi2, div.mi6, div.mi9 {
    padding-left: 23px;
    text-align: left;
    height: 16px;
}
div.mi4 { background: url('//images4et.com/images/ss4.gif') no-repeat; }
div.mi5 { background: url('//images4et.com/images/ss5.gif') no-repeat; }
div.mi533 { background: url('//images4et.com/images/ss533.gif') no-repeat; }
div.mi7 { background: url('//images4et.com/images/ss7.gif') no-repeat; }
div.mi416 { background: url('//images4et.com/images/ss416.gif') no-repeat; }
div.mi3 { background: url('//images4et.com/images/ss3.gif') no-repeat; }
div.mi1 { background: url('//images4et.com/images/ss1.gif') no-repeat; }
div.mi8 { background: url('//images4et.com/images/ss8.gif') no-repeat; }
div.mi2 { background: url('//images4et.com/images/ss2.gif') no-repeat; }
div.mi6 { background: url('//images4et.com/images/ss6.gif') no-repeat; }
div.mi9 { background: url('//images4et.com/images/ss9.gif') no-repeat; }

div.cat_subcats_tv {
    margin: -15px 0 0 15px
}
div.cat_subcats {
    line-height: 20px; 
    background-color: #fcfeff; 
    border: 1px solid #cfd9e6; 
    float: left; 
    margin: 3px; 
    padding: 4px 8px;
}


td.copyrights {
    padding-top:10px;
    text-align:center;
}

div.top_cat {
    background: url('//images4et.com/images/hot_head.gif') repeat-x #f2f2ff;
    text-align: left;
    padding: 4px 10px;
    color: #cc0000;
    height: 15px;
    margin: 5px 0 0 0;
}
div.top_icon {
    float: left;
    margin-top: -8px;
}
div.top_title {
    float: left;
    padding-left: 7px;
}
div.top_more {
    float: right;
}
div.top_pic {
    padding: 4px;
    position:relative;
    float: left;
}
div.top_pic img {
    border: 1px solid #ff0000;
}

#hot_torrents {
    background: url('//images4et.com/images/bg.gif') no-repeat;
}
div.hot_nav {
    text-align: right;
    padding: 10px 30px 0 0;
}
div.hot_category {
    padding: 20px 0;
}
div.hot_caption {
    background: url('//images4et.com/images/hot_cat.gif') no-repeat 20px 0;
    height: 57px;
    padding: 20px 0 0 85px;
}
div.hot_caption h2 {
    font-size: 18px;
}
div.hot_item {
    border-top: 1px #bbbbbb dashed;
    border-bottom: 1px #bbbbbb dashed;
    margin: 10px 20px;
}
div.hot_film {
    background: url('//images4et.com/images/hot_film.gif') no-repeat;
    width: 122px;
    height: 167px;
    padding: 28px 0 0 21px;
    float: left;
    position:relative;
}
div.hot_desc {
    padding: 15px 15px;
    margin-left: 142px;
}
div.hot_item_info {
    padding: 10px 10px 7px 10px;
}


/* chat section */
div#chat_body {
    padding: 3px 10px;
    height:   360px !important;
    overflow: auto;
}
div.chat_msg {
    background-color: #eff8fe;
    padding: 3px 7px;
    border: 1px #dfe8ee solid;
    margin: 5px 0;
}
.chat_time {
    font-size: 9px;
}

/* bbcode */

/* spoiler */
div.folded { background: transparent url('//images4et.com/images/icon_plus.gif') no-repeat 5px; }
div.unfolded { background: transparent url('//images4et.com/images/icon_minus.gif') no-repeat 5px;}
div.sp_head{
    border: 1px solid #c3cbd1;
    border-left: 2px solid #c3cbd1;
    font-size: 11px;
    padding: 1px 20px 3px;
    margin: 5px 0;
    line-height: 15px;
    font-weight: bold;
    color: #2A2A2A;
    cursor: pointer;
    overflow:hidden;
    cursor:pointer;
    background-color: #e9e9e6;
}
div.sp_body{
    border: 1px solid #c3cbd1;
    display: none;
    font-weight: normal;
    background: #F5F5F5;
    margin: -6px 0 0;
    visibility:hidden;
    overflow:hidden;
    position: relative;
}
div.sp_body_content{ padding: 5px; }
/* acronym */
span.bbcode_acronym { border-bottom:1px dashed blue; }
span.bbcode_acronym:hover { color: blue; border-bottom:1px dashed lightblue; cursor: help; }
/* column */
table.bbcode_columns { border-collapse: collapse; margin-top: 1em; margin-bottom: 1em; }
table.bbcode_columns td.bbcode_column { padding: 0 1em; vertical-align: top;}
table.bbcode_columns td.bbcode_firstcolumn { border-left: 0; padding-left: 0; }
/* quote */
div.bbcode_quote { margin: 2px 0 7px 0; }
div.bbcode_quote_head { font-weight: bold; padding: 3px 1px; }
div.bbcode_quote_body { border: 1px dashed #000000; padding: 5px 12px; }
/* code */
div.bbcode_code { margin: 2px 0 7px 0; }
div.bbcode_code_head { font-weight: bold; padding: 3px 1px; }
div.bbcode_code_body { border: 1px dashed #000000; font: 10pt monospace; padding: 5px 12px; }
/* float */
div.bbcode_float_left { float:left; }
div.bbcode_float_right { float:right; }

/*bb editor*/
div.bb_toolbar {
    margin: 0 -2px;
    white-space: nowrap;
}

div.bb_toolbar div.sep,
div.bb_toolbar div.btn,
div.bb_toolbar div.btn div,
div.bb_toolbar div.ddown div,
div.bb_toolbar div.mdown div{
    background-image: url('//images4et.com/images/bbcode/bbeditor.png');
}
/*separator*/
div.bb_toolbar div.sep {
    background-position:-15px -121px;
    float:left;
    height:15px;
    margin:6px 1px 0;
    width:3px;
    display: inline;
}
/*drop down list*/
div.bb_toolbar div.bbl {
    float: left;
    position: relative;
}

div.bbl div.ddown {
    background-color:#FFFFFF;
    border:1px solid #6593CF;
    cursor:pointer;
    float:left;
    display: inline;
    font-size:13px;
    margin:2px;
    padding:2px 0 0 5px;
    width: 70px;
}

div.bbl div.ddown:hover {
    border:1px solid #afc8e8;
}

div.bbl div.ddown div {
    background-position:0 -118px;
    cursor:pointer;
    float:right;
    height:18px;
    margin:-1px 1px 1px 0;
    padding:0 !important;
    width:15px;
    display: inline;
}
/*buttons*/
div.bb_toolbar div.btn {
    background-position: -122px -22px;
    border: 1px solid #6593CF;
    background-color: #dcf1f7;
    margin: 1px 2px;
    float: left;
    cursor: pointer;
}
div.bb_toolbar div.btn:hover {
    background-position: -122px 0;
    border: 1px solid #afc8e8;
    background-color: #eff8fb;
}

div.bb_toolbar div.btn div {
    height: 18px;
    width: 18px;
    margin: 2px;
    cursor: pointer;
    padding: 0!important;
}

div.btn div.cl {background-position: -36px -100px;}

div.btn div.vd {background-position: -90px -118px;}
div.btn div.im {background-position: -18px -100px;}
div.btn div.ln {background-position: -90px -100px;}
div.btn div.em {background-position: -54px -100px;}

div.btn div.cd {background-position: -54px -82px;}
div.btn div.qt {background-position: 0px -100px;}
div.btn div.pr {background-position: -72px -64px;}
div.btn div.ht {background-position: -126px -100px;}

div.btn div.bl {background-position: -54px -46px;}
div.btn div.it {background-position: -72px -46px;}
div.btn div.un {background-position: -90px -46px;}

div.btn div.al {background-position: -18px -64px;}
div.btn div.ac {background-position: -54px -64px;}
div.btn div.ar {background-position: -36px -64px;}
div.btn div.aj {background-position: -0px -64px;}

div.btn div.st {background-position: -72px -118px;}
div.btn div.sp {background-position: -108px -46px;}
div.btn div.sb {background-position: -126px -46px;}
div.btn div.hr {background-position: -18px -82px;}

div.btn div.ul {background-position: -90px -64px;}
div.btn div.ol {background-position: -108px -64px;}
div.btn div.li {background-position: -126px -64px;}
div.btn div.in {background-position: 0px -82px;}
div.btn div.ft {background-position: -72px -82px;}
div.btn div.fr {background-position: -90px -82px;}

div.btn div.pv {background-position: -108px -82px;}
/*drop down menu*/
div.mdown {
    background-image: url('//images4et.com/images/bbcode/bbbg.gif')!important;
    position: absolute;
    top: 23px;
    left: 2px;
    border: 1px solid #6593CF;
    background-color: #ffffff;
    display: none;
}

div.mdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
/*drop down items*/
div.mdown ul li {
    height:20px;
    padding:4px 5px 1px 1px;
    clear: both;
    cursor:pointer;
    margin:0;
}

div.mdown ul li:hover {
    border: 1px solid #afc8e8;
    background-color: #eff8fb;
    cursor:pointer;
    padding: 3px 4px 0px 0;
}

div.mdown ul li div {
    height: 16px;
    width: 16px;
    margin: 0 12px 0 3px;
    float: left;
    display: inline;
}

div.mdown li.ft {width: 130px;}
div.mdown div.fn {background-position: -18px -118px;}

div.mdown li.sz {width: 180px;}
div.mdown div.s0 {background-position: 0px -31px;}
div.mdown div.s1 {background-position: -14px -31px;}
div.mdown div.s2 {background-position: -28px -31px;}
div.mdown div.s3 {background-position: -43px -31px;}
div.mdown div.s4 {background-position: -59px -31px;}
div.mdown div.s5 {background-position: -73px -31px;}
div.mdown div.s6 {background-position: -88px -31px;}
div.mdown div.s7 {background-position: -104px -31px;}

div.mdown li.cl {width: 80px;}
div.mdown div.c1 {background-position: 0px 0px;}
div.mdown div.c2 {background-position: -15px 0px;}
div.mdown div.c3 {background-position: -30px 0px;}
div.mdown div.c4 {background-position: -45px 0px;}
div.mdown div.c5 {background-position: -60px 0px;}
div.mdown div.c6 {background-position: -75px 0px;}
div.mdown div.c7 {background-position: -90px 0px;}
div.mdown div.c8 {background-position: -105px 0px;}
div.mdown div.c9 {background-position: 0px -15px;}
div.mdown div.c10 {background-position: -15px -15px;}
div.mdown div.c11 {background-position: -30px -15px;}
div.mdown div.c12 {background-position: -45px -15px;}
div.mdown div.c13 {background-position: -60px -15px;}
div.mdown div.c14 {background-position: -75px -15px;}
div.mdown div.c15 {background-position: -90px -15px;}
div.mdown div.c16 {background-position: -105px -15px;}
/* end bb editor*/

/* articles */
div.article_item {
    border-bottom:1px dashed #BBBBBB;
    border-top:1px dashed #BBBBBB;
    margin:10px 0;
    padding: 15px 10px 15px 0;
}
div.article_post {
    padding: 5px 0 10px 0;
}
div.article_info {
    padding: 5px 0;
}
div.article_date {
    float: left;
    width: 80px;
    background: url('//images4et.com/images/icon_big_calendar.gif') no-repeat;
}
div.article_date div.date_m
{
    color: #FFFFFF;
    font-family: Tahoma;
    font-size: 9px;
    font-weight: bold;
    margin: 19px 14px 0;
}
div.article_date div.date_d
{
    font-family: Arial;
    font-size: 35px;
    font-weight: bold;
    margin: 0 0 40px -2px;
    text-align: center;
    color: #666666;
}
div.article_content {
    margin-left: 90px;
}
div.article {
    margin: 15px 10px;
}
ul.articles_cats
{
    padding: 5px 0 0 5px;
    margin:0;
    color: #999999;
    list-style: none;
}
ul.articles_cats li
{
    padding: 0 0 7px 0;
    background: url('//images4et.com/images/icon_category.gif') no-repeat;
}
ul.articles_cats a
{
    font-weight: bold;
    display: block;
    margin-left: 20px;
}
ul.articles_subcats
{
    padding: 3px 0 0 20px;
    margin:0;
    list-style: none;
}
ul.articles_subcats li
{
    background: url('//images4et.com/images/icon_files.gif') no-repeat 4px 0;
}
ul.articles_subcats a
{
    font-weight: normal;
    font-size: 11px;
    display: block;
    margin-left: 25px;
}
ul.ten_articles
{
    padding: 0 5px 0 0;
    margin: 0;
    list-style: none;
    color: #333333;
    list-style-position: outside;
}
ul.ten_articles li
{
    background: url('//images4et.com/images/icon_calendar2.gif') no-repeat 4px 0;
    clear:      both;
    padding:    4px 0 5px 0;
}
ul.ten_articles a
{
    display:block;
    font-weight:normal;
    margin-left:33px;
}
ul.ten_articles div
{
    float:left;
    font-family:Verdana;
    font-size:9px;
    font-weight:bold;
    margin:4px 0 0 4px;
    text-align:center;
    width:22px;
}
/* end articles */

/* user menu */
div.usr {
    display: inline;
    font-weight: bold;
}
div.usrm {
    position: absolute;
    background-color:#F5FBFE;
    border:1px solid #999999;
    margin-top: 15px;
    display: none;
    font-size: 10px;
    padding: 1px 5px 5px 5px;
    text-align: left;
    line-height: 20px;
    width: 116px;
    z-index: 3;
}
div.usrm a {
    font-size: 10px;
}
div.usrm img {
    vertical-align: middle;
}
div.usr span,
div.usr a  {
    padding: 0 2px 0 0;
    font-weight: bold;
}

/* others */
hr {
    color: #0067A9;
    height: 1px;
    border-left:0px;
    border-right:0px;
    border-top:1px dashed #000000;
    border-bottom:0px;
}

td.tabledata0 {
    background-color: #ffffff;
    padding: 5px 10px;
    border: 1px #dfe8ee solid;
}
td.tabledata1 {
    background-color: #f5fbfe;
    padding: 5px 10px;
    border: 1px #dfe8ee solid;
}
td.tabledata2 {
    background-color: #eff8fe;
    padding: 5px 10px;
}
td.tabledata_num {
    background-color: #fff5f5;
    padding: 5px 10px;
    border: 1px #dfe8ee solid;
}

div.navigator,
div.nav {
    border: 1px #000 dashed;
    padding: 5px 15px;
    margin-bottom: 10px;
}

#download_timer {
    padding: 10px;
    background-color: #f2f2ff;
    border: 1px solid #a2a2ff;
}

.icon {
    vertical-align: middle;
    border: 0;
}
.icon_big {
    vertical-align: middle;
    border: 0;
}
a.icon_border {
    margin: 0 0 5px 5px;
}
a.icon_border img{
    background: #f2f2f2;
    border: 1px solid #aaaaaa;
    padding: 2px;
}

/*pager*/
div.pg {
    font-size: 11px;
    padding: 10px 0;
}
/*right*/
div.rpg {
    float: right;
    font-weight: bold;
}
/*end pager*/

/*buttons*/
.btn_submit,.btn_preview,.btn_save,.btn_cancel,.btn_delete,.btn_ok,.btn_send,.btn_apply,.btn_edit,.btn_vote,.btn_vote_result {
    font-size:0;
    line-height: 25px;
    border:0px;
    height:46px;
    width:101px;
    cursor:pointer;
    color:#9ad3f7;
}
.btn_submit {background:url('//images4et.com/images/btn_submit.png');}
.btn_preview {background:url('//images4et.com/images/btn_preview.png');}
.btn_save {background:url('//images4et.com/images/btn_save.png');}
.btn_cancel {background:url('//images4et.com/images/btn_cancel.png');}
.btn_delete {background:url('//images4et.com/images/btn_delete.png');}
.btn_ok {background:url('//images4et.com/images/btn_ok.png');}
.btn_send {background:url('//images4et.com/images/btn_send.png');}
.btn_apply {background:url('//images4et.com/images/btn_apply.png');}
.btn_edit {background:url('//images4et.com/images/btn_edit.png');}
.btn_vote {
    background:url('//images4et.com/images/btn_forum_poll_vote.png');
    vertical-align: top;
    width: 130px;
}
.btn_vote_result {
    background:url('//images4et.com/images/btn_forum_poll_result.png');
    vertical-align: top;
    width: 130px;
}
/*end buttons*/

#progress_container {
    width: 102px;
    height: 22px;
    border: solid 1px black;
    text-align: center;
    display: inline-block;
    position: relative;
    line-height: 20px;
    margin-bottom: -6px;
    overflow: hidden;
}
#progress_bar {
  height: 22px;
  background-color: orange;
  position: absolute;
  left: 0;
}
#progress_percent {
  position: relative;
  z-index: 10;
}
#bitcoin_address {
  font-size: 16px;
  font-weight: bold;
}

.nowrap{
    white-space:nowrap;
}
.mini{
    font-size: 11px;
}
.micro{
    font-size: 9px;
}
.nano{
    font-size: 8px;
}
.big{
    font-size: 16px;
}
.highlight {
    background-color: #ffffaa;
}
.gray {
    color: #999999;
}
.error {
    color: #dd0000;
}
.done {
    color: #008800;
}
.borderdark {
    border: 1px #000000 dashed;
}
.soliddark {
    border: 1px #777777 dashed;
}
.click {
    cursor: pointer;
}
.vtop {
    vertical-align: top;
}
div.ads2 {
    margin-top: 5px;
    text-align: center;
}
div.left {
    float: left;
}
div.right {
    float: right;
}
div.clear {
    clear: both;
}

.easy-autocomplete{position:relative}.easy-autocomplete input{border-color:#ccc;border-radius:1px;border-style:solid;border-width:1px;color:#000;float:none;padding:3px 7px}.easy-autocomplete input:hover,.easy-autocomplete input:focus{box-shadow:none}.easy-autocomplete a{display:block}.easy-autocomplete.eac-blue-light input:hover,.easy-autocomplete.eac-blue-light input:focus{border-color:#66afe9;box-shadow:0 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(102,175,233,0.6)}.easy-autocomplete.eac-blue-light ul{border-color:#66afe9;box-shadow:0 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(102,175,233,0.6)}.easy-autocomplete.eac-blue-light ul li,.easy-autocomplete.eac-blue-light ul .eac-category{border-color:#66afe9}.easy-autocomplete.eac-blue-light ul li.selected,.easy-autocomplete.eac-blue-light ul .eac-category.selected{background-color:#ecf5fc}.easy-autocomplete.eac-green-light input:hover,.easy-autocomplete.eac-green-light input:focus{border-color:#41DB00;box-shadow:0 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(146,237,107,0.6)}.easy-autocomplete.eac-green-light ul{border-color:#41DB00;box-shadow:0 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(146,237,107,0.6)}.easy-autocomplete.eac-green-light ul li,.easy-autocomplete.eac-green-light ul .eac-category{border-color:#41DB00}.easy-autocomplete.eac-green-light ul li.selected,.easy-autocomplete.eac-green-light ul .eac-category.selected{background-color:#9eff75}.easy-autocomplete.eac-red-light input:hover,.easy-autocomplete.eac-red-light input:focus{border-color:#ff5b5b;box-shadow:0 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(255,90,90,0.6)}.easy-autocomplete.eac-red-light ul{border-color:#ff5b5b;box-shadow:0 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(255,90,90,0.6)}.easy-autocomplete.eac-red-light ul li,.easy-autocomplete.eac-red-light ul .eac-category{border-color:#ff5b5b}.easy-autocomplete.eac-red-light ul li.selected,.easy-autocomplete.eac-red-light ul .eac-category.selected{background-color:#ff8e8e}.easy-autocomplete.eac-yellow-light input:hover,.easy-autocomplete.eac-yellow-light input:focus{border-color:#ffdb00;box-shadow:0 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(255,231,84,0.6)}.easy-autocomplete.eac-yellow-light ul{border-color:#ffdb00;box-shadow:0 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(255,231,84,0.6)}.easy-autocomplete.eac-yellow-light ul li,.easy-autocomplete.eac-yellow-light ul .eac-category{border-color:#ffdb00}.easy-autocomplete.eac-yellow-light ul li.selected,.easy-autocomplete.eac-yellow-light ul .eac-category.selected{background-color:#ffe233}.easy-autocomplete.eac-dark-light input:hover,.easy-autocomplete.eac-dark-light input:focus{border-color:#333;box-shadow:0 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(55,55,55,0.6)}.easy-autocomplete.eac-dark-light ul{border-color:#333;box-shadow:0 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(55,55,55,0.6)}.easy-autocomplete.eac-dark-light ul li,.easy-autocomplete.eac-dark-light ul .eac-category{border-color:#333}.easy-autocomplete.eac-dark-light ul li.selected,.easy-autocomplete.eac-dark-light ul .eac-category.selected{background-color:#4d4d4d;color:#fff}.easy-autocomplete.eac-dark{color:#fff}.easy-autocomplete.eac-dark input{background-color:#404040;border-radius:4px;box-shadow:0;color:#f6f6f6}.easy-autocomplete.eac-dark input:hover,.easy-autocomplete.eac-dark input:focus{border-color:#333;box-shadow:0}.easy-autocomplete.eac-dark ul{border-color:#333}.easy-autocomplete.eac-dark ul li,.easy-autocomplete.eac-dark ul .eac-category{background-color:#404040;border-color:#333}.easy-autocomplete.eac-dark ul li.selected,.easy-autocomplete.eac-dark ul .eac-category.selected{background-color:#737373;color:#f6f6f6}.easy-autocomplete.eac-dark-glass{color:#fff}.easy-autocomplete.eac-dark-glass input{background-color:rgba(0,0,0,0.8);border-radius:4px;box-shadow:0;color:#f6f6f6}.easy-autocomplete.eac-dark-glass input:hover,.easy-autocomplete.eac-dark-glass input:focus{border-color:rgba(0,0,0,0.8);box-shadow:0}.easy-autocomplete.eac-dark-glass ul{border-color:rgba(0,0,0,0.8)}.easy-autocomplete.eac-dark-glass ul li,.easy-autocomplete.eac-dark-glass ul .eac-category{background-color:rgba(0,0,0,0.8);border-color:rgba(0,0,0,0.8)}.easy-autocomplete.eac-dark-glass ul li.selected,.easy-autocomplete.eac-dark-glass ul .eac-category.selected{background-color:rgba(64,64,64,0.8);color:#f6f6f6}.easy-autocomplete.eac-dark-glass ul li:last-child,.easy-autocomplete.eac-dark-glass ul .eac-category:last-child{border-radius:0 0 4px 4px}.easy-autocomplete.eac-blue{color:#fff}.easy-autocomplete.eac-blue input{background-color:#6d9ed1;border-radius:4px;box-shadow:0;color:#f6f6f6}.easy-autocomplete.eac-blue input::-webkit-input-placeholder{color:#f6f6f6}.easy-autocomplete.eac-blue input:-moz-placeholder{color:#f6f6f6}.easy-autocomplete.eac-blue input::-moz-placeholder{color:#f6f6f6}.easy-autocomplete.eac-blue input:-ms-input-placeholder{color:#f6f6f6}.easy-autocomplete.eac-blue input:hover,.easy-autocomplete.eac-blue input:focus{border-color:#5A91CB;box-shadow:0}.easy-autocomplete.eac-blue ul{border-color:#5A91CB}.easy-autocomplete.eac-blue ul li,.easy-autocomplete.eac-blue ul .eac-category{background-color:#6d9ed1;border-color:#5A91CB}.easy-autocomplete.eac-blue ul li.selected,.easy-autocomplete.eac-blue ul .eac-category.selected{background-color:#94b8dd;color:#f6f6f6}.easy-autocomplete.eac-yellow{color:#333}.easy-autocomplete.eac-yellow input{background-color:#ffdb7e;border-color:#333;border-radius:4px;box-shadow:0;color:#333}.easy-autocomplete.eac-yellow input:hover,.easy-autocomplete.eac-yellow input:focus{border-color:#333;box-shadow:0}.easy-autocomplete.eac-yellow ul{border-color:#333}.easy-autocomplete.eac-yellow ul li,.easy-autocomplete.eac-yellow ul .eac-category{background-color:#ffdb7e;border-color:#333}.easy-autocomplete.eac-yellow ul li.selected,.easy-autocomplete.eac-yellow ul .eac-category.selected{background-color:#ffe9b1;color:#333}.easy-autocomplete.eac-purple{color:#333}.easy-autocomplete.eac-purple input{background-color:#d6d1e7;border-color:#b8afd5;box-shadow:0;color:#333}.easy-autocomplete.eac-purple input:hover,.easy-autocomplete.eac-purple input:focus{border-color:#333;box-shadow:0}.easy-autocomplete.eac-purple ul{border-color:#333}.easy-autocomplete.eac-purple ul li,.easy-autocomplete.eac-purple ul .eac-category{background-color:#d6d1e7;border-color:#333}.easy-autocomplete.eac-purple ul li.selected,.easy-autocomplete.eac-purple ul .eac-category.selected{background-color:#ebe8f3;color:#333}.easy-autocomplete.eac-bootstrap input{border-color:#ccc;border-radius:4px;border-style:solid;border-width:1px;color:#555;padding:6px 12px}.easy-autocomplete-container{left:0;position:absolute;width:100%;z-index:2}.easy-autocomplete-container ul{background:none repeat scroll 0 0 #ffffff;border-top:1px dotted #ccc;display:none;margin-top:0;padding-bottom:0;padding-left:0;position:relative;top:-1px}.easy-autocomplete-container ul li,.easy-autocomplete-container ul .eac-category{background:inherit;border-color:#ccc;text-align:left;border-image:none;border-style:solid;border-width:1px 1px 0 1px;display:block;font-size:12px;font-weight:normal;padding:6px 12px}.easy-autocomplete-container ul li:last-child{border-radius:0 0 2px 2px;border-width:1px}.easy-autocomplete-container ul li.selected{background:none repeat scroll 0 0 #ebebeb;cursor:pointer}.easy-autocomplete-container ul li.selected div{font-weight:normal}.easy-autocomplete-container ul li div{display:block;font-weight:normal;word-break:break-all}.easy-autocomplete-container ul li b{font-weight:bold}.easy-autocomplete-container ul .eac-category{font-color:#aaa;font-style:italic}.eac-description .eac-item span{color:#aaa;font-style:italic;font-size:0.9em}.eac-icon-left .eac-item img{margin-right:4px;max-height:30px}.eac-icon-right .eac-item{margin-top:8px;min-height:24px;position:relative}.eac-icon-right .eac-item img{margin-left:4px;max-height:30px;position:absolute;right:-4px;top:-8px}
.easy-autocomplete.eac-square{font-family:"Roboto", "Helvetica Neue",Helvetica,Arial,sans-serif}.easy-autocomplete.eac-square input{border:1px solid #7f8c8d;border-radius:0;color:#7f8c8d;font-family:inherit;font-size:18px;font-style:italic;font-weight:300;margin:0;min-width:350px;padding:12px 43px 12px 15px}.easy-autocomplete.eac-square ul{border-color:#7f8c8d;border-top:0;box-shadow:none;top:0}.easy-autocomplete.eac-square ul li,.easy-autocomplete.eac-square ul .eac-category{border-color:#7f8c8d;font-family:inherit;font-size:16px;font-weight:300;padding:6px 12px;transition:all 0.4s ease 0s}.easy-autocomplete.eac-square ul li *,.easy-autocomplete.eac-square ul .eac-category *{font-weight:300}.easy-autocomplete.eac-square ul li.selected,.easy-autocomplete.eac-square ul .eac-category.selected{background-color:#f1f1f1;font-weight:300}.easy-autocomplete.eac-square ul li b,.easy-autocomplete.eac-square ul .eac-category b{font-weight:600}.easy-autocomplete.eac-round{font-family:"Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif}.easy-autocomplete.eac-round input{border:2px solid #888;border-radius:10px;color:#888;font-family:inherit;font-size:16px;font-weight:400;margin:0;min-width:300px;padding:10px}.easy-autocomplete.eac-round input:hover,.easy-autocomplete.eac-round input:focus{border-color:#3079ed}.easy-autocomplete.eac-round ul{background:none;border-color:#888;border-width:0;box-shadow:none;min-width:300px;top:20px}.easy-autocomplete.eac-round ul li,.easy-autocomplete.eac-round ul .eac-category{background:#fff;border-color:#3079ed;border-width:0 2px;font-size:14px;padding:8px 12px;transition:all 0.4s ease 0s}.easy-autocomplete.eac-round ul li.selected,.easy-autocomplete.eac-round ul .eac-category.selected{background-color:#d4e3fb}.easy-autocomplete.eac-round ul li:first-child,.easy-autocomplete.eac-round ul .eac-category:first-child{border-radius:10px 10px 0 0;border-width:2px 2px 0}.easy-autocomplete.eac-round ul li:last-child,.easy-autocomplete.eac-round ul .eac-category:last-child{border-radius:0 0 10px 10px;border-width:0 2px 2px}.easy-autocomplete.eac-round ul li b,.easy-autocomplete.eac-round ul .eac-category b{font-weight:700}.easy-autocomplete.eac-funky{font-family:"Inconsolata", "Helvetica Neue",Helvetica,Arial,sans-serif}.easy-autocomplete.eac-funky input{background:#07ED89;border:0;border-radius:0;color:#ED076B;font-family:inherit;font-size:18px;min-width:240px;padding:12px}.easy-autocomplete.eac-funky ul{background:transparent;border:0}.easy-autocomplete.eac-funky ul li,.easy-autocomplete.eac-funky ul .eac-category{background:transparent;border:0;color:#ED076B;font-size:18px;padding:4px 12px;transition:all 0.4s ease 0s}.easy-autocomplete.eac-funky ul li.selected,.easy-autocomplete.eac-funky ul .eac-category.selected{color:#8907ED}.easy-autocomplete.eac-solid input{box-shadow:0 1px 2px rgba(0,0,0,0.15) inset;border-color:#ddd;color:#666;font-size:13px;min-height:0;padding:6px 12px}.easy-autocomplete.eac-solid ul li,.easy-autocomplete.eac-solid ul .eac-category{transition:all 0.4s ease 0s}.easy-autocomplete.eac-solid ul li.selected,.easy-autocomplete.eac-solid ul .eac-category.selected{background-color:#f2f2f2}.easy-autocomplete.eac-plate{font-family:"Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif}.easy-autocomplete.eac-plate input{font-size:13px;padding:6px 12px}.easy-autocomplete.eac-plate ul{background:#b5b5b5;border-radius:6px;border-width:0;top:10px}.easy-autocomplete.eac-plate ul li,.easy-autocomplete.eac-plate ul .eac-category{background:#b5b5b5;color:#FAFAFA;font-size:12px;transition:all 0.4s ease 0s}.easy-autocomplete.eac-plate ul li b,.easy-autocomplete.eac-plate ul .eac-category b{color:#ffd464}.easy-autocomplete.eac-plate ul li.selected,.easy-autocomplete.eac-plate ul .eac-category.selected{background:#656565}.easy-autocomplete.eac-plate ul li:first-child,.easy-autocomplete.eac-plate ul .eac-category:first-child{border-radius:6px 6px 0 0}.easy-autocomplete.eac-plate ul li:last-child,.easy-autocomplete.eac-plate ul .eac-category:last-child{border-radius:0 0 6px 6px}.easy-autocomplete.eac-plate-dark{font-family:"Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif}.easy-autocomplete.eac-plate-dark input{font-size:13px;padding:6px 12px}.easy-autocomplete.eac-plate-dark ul{background:#212121;border-radius:6px;border-width:0;top:10px}.easy-autocomplete.eac-plate-dark ul li,.easy-autocomplete.eac-plate-dark ul .eac-category{background:#212121;color:#FAFAFA;font-size:12px;transition:all 0.4s ease 0s}.easy-autocomplete.eac-plate-dark ul li b,.easy-autocomplete.eac-plate-dark ul .eac-category b{color:#ffd464}.easy-autocomplete.eac-plate-dark ul li.selected,.easy-autocomplete.eac-plate-dark ul .eac-category.selected{background:#656565}.easy-autocomplete.eac-plate-dark ul li:first-child,.easy-autocomplete.eac-plate-dark ul .eac-category:first-child{border-radius:6px 6px 0 0}.easy-autocomplete.eac-plate-dark ul li:last-child,.easy-autocomplete.eac-plate-dark ul .eac-category:last-child{border-radius:0 0 6px 6px}
.waitMe_container:not(body),body.waitMe_container .waitMe{transform:translateZ(0);backface-visibility:hidden}body.waitMe_container .waitMe{position:fixed;height:100vh}body.waitMe_container .waitMe .waitMe_content{top:50%!important;transform:none!important}.waitMe_container .waitMe{position:absolute;top:0;left:0;right:0;bottom:0;z-index:9989;text-align:center;overflow:hidden;cursor:wait}.waitMe_container .waitMe *{font-family:inherit;font-size:inherit;font-weight:initial;font-style:initial;line-height:initial;color:initial;text-decoration:initial;text-transform:initial;padding:initial;margin:initial}.waitMe_container .waitMe .waitMe_content{position:absolute;left:0;right:0;top:50%;backface-visibility:hidden}.waitMe_container .waitMe .waitMe_content.horizontal>.waitMe_progress{display:inline-block;vertical-align:middle}.waitMe_container .waitMe .waitMe_content.horizontal>.waitMe_text{display:inline-block;margin:0 0 0 20px;vertical-align:middle}.waitMe_container .waitMe .waitMe_progress{position:relative;font-size:0;line-height:0}.waitMe_container .waitMe .waitMe_progress>div{animation-fill-mode:both;display:inline-block;transform:translateZ(0);backface-visibility:hidden}.waitMe_container .waitMe .waitMe_text{position:relative;margin:20px 0 0}body.waitMe_body{overflow:hidden;height:100%}body.waitMe_body.hideMe{transition:opacity .2s ease-in-out;opacity:0}body.waitMe_body .waitMe_container:not([data-waitme_id]){position:fixed;z-index:9989;top:0;bottom:0;left:0;right:0;background:#fff}body.waitMe_body .waitMe_container:not([data-waitme_id])>div{animation-fill-mode:both;position:absolute}body.waitMe_body .waitMe_container.progress>div{width:0;height:3px;top:0;left:0;background:#000;box-shadow:-5px 0 5px 2px rgba(0,0,0,.2);animation:progress_body 7s infinite ease-out}body.waitMe_body .waitMe_container.working>div{width:10%;height:3px;top:0;left:-10%;background:#000;box-shadow:-5px 0 5px 2px rgba(0,0,0,.2);animation:working_body 2s infinite linear}body.waitMe_body .waitMe_container.progress>div:after{content:'';position:absolute;top:0;bottom:60%;right:0;width:60px;border-radius:50%;opacity:.5;transform:rotate(3deg);box-shadow:#000 1px 0 6px 1px}body.waitMe_body .waitMe_container.img>div{width:100%;height:100%;text-align:center;background-position:center!important;background-repeat:no-repeat!important}body.waitMe_body .waitMe_container.text>div{width:100%;top:45%;text-align:center}@keyframes progress_body{0%{width:0}100%{width:100%}}@keyframes working_body{0%{left:-10%}100%{left:100%}}.waitMe_container .waitMe_progress.bounce>div{width:20px;height:20px;border-radius:50%;animation:bounce 1.4s infinite ease-in-out}.waitMe_container .waitMe_progress.bounce .waitMe_progress_elem1{animation-delay:-.32s}.waitMe_container .waitMe_progress.bounce .waitMe_progress_elem2{animation-delay:-.16s}@keyframes bounce{0%,100%,80%{transform:scale(0)}40%{transform:scale(1)}}.waitMe_container .waitMe_progress.rotateplane>div{width:30px;height:30px;animation:rotateplane 1.2s infinite ease-in-out;backface-visibility:visible}@keyframes rotateplane{0%{transform:perspective(120px)}50%{transform:perspective(120px) rotateY(180deg)}100%{transform:perspective(120px) rotateY(180deg) rotateX(180deg)}}.waitMe_container .waitMe_progress.stretch{height:60px}.waitMe_container .waitMe_progress.stretch>div{width:1px;height:100%;margin:0 4px;animation:stretch 1.2s infinite ease-in-out}.waitMe_container .waitMe_progress.stretch .waitMe_progress_elem2{animation-delay:-1.1s}.waitMe_container .waitMe_progress.stretch .waitMe_progress_elem3{animation-delay:-1s}.waitMe_container .waitMe_progress.stretch .waitMe_progress_elem4{animation-delay:-.9s}.waitMe_container .waitMe_progress.stretch .waitMe_progress_elem5{animation-delay:-.8s}@keyframes stretch{0%,100%,40%{transform:scaleY(.4)}20%{transform:scaleY(1)}}.waitMe_container .waitMe_progress.orbit{width:40px;height:40px;margin:auto;position:relative}.waitMe_container .waitMe_progress.orbit>div{width:100%;height:100%;margin:auto;top:0;left:0;position:absolute;animation:orbit_rotate 2s infinite linear}.waitMe_container .waitMe_progress.orbit>div>div{width:50%;height:50%;border-radius:50%;top:10%;left:10%;position:absolute;animation:orbit 2s infinite ease-in-out}.waitMe_container .waitMe_progress.orbit .waitMe_progress_elem2>div{top:auto;bottom:10%;left:auto;right:10%;animation-delay:-1s}@keyframes orbit_rotate{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}@keyframes orbit{0%,100%{transform:scale(0)}50%{transform:scale(1)}}.waitMe_container .waitMe_progress.roundBounce{width:60px;height:60px;margin:auto}.waitMe_container .waitMe_progress.roundBounce>div{width:24%;height:24%;border-radius:50%;position:absolute;animation:roundBounce 1.2s infinite ease-in-out}.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem1{top:0;left:0}.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem2{top:0;right:0}.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem3{bottom:0;right:0}.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem4{bottom:0;left:0}.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem5{top:-3%;left:50%;margin-top:-12%;margin-left:-12%;animation-delay:-1.1s}.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem6{top:50%;right:-3%;margin-top:-12%;margin-right:-12%}.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem7{bottom:-3%;left:50%;margin-bottom:-12%;margin-left:-12%}.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem8{top:50%;left:-3%;margin-top:-12%;margin-left:-12%}.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem9{top:0;right:0;animation-delay:-1s}.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem2{animation-delay:-.9s}.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem6{animation-delay:-.8s}.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem10{bottom:0;right:0;animation-delay:-.7s}.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem3{animation-delay:-.6s}.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem7{animation-delay:-.5s}.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem11{bottom:0;left:0;animation-delay:-.4s}.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem4{animation-delay:-.3s}.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem8{animation-delay:-.2s}.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem12{top:0;left:0;animation-delay:-.1s}@keyframes roundBounce{0%,100%,80%{transform:scale(0)}40%{transform:scale(1)}}.waitMe_container .waitMe_progress.win8{width:40px;height:40px;margin:auto}.waitMe_container .waitMe_progress.win8>div{width:100%;height:100%;opacity:0;position:absolute;margin:auto;left:0;right:0;transform:rotate(225deg);animation:win8 5.5s infinite}.waitMe_container .waitMe_progress.win8>div>div{width:15%;height:15%;border-radius:50%;position:absolute}.waitMe_container .waitMe_progress.win8 .waitMe_progress_elem2{animation-delay:.24s}.waitMe_container .waitMe_progress.win8 .waitMe_progress_elem3{animation-delay:.48s}.waitMe_container .waitMe_progress.win8 .waitMe_progress_elem4{animation-delay:.72s}.waitMe_container .waitMe_progress.win8 .waitMe_progress_elem5{animation-delay:.96s}@keyframes win8{0%{transform:rotate(225deg);animation-timing-function:ease-out}7%{opacity:1;transform:rotate(345deg);animation-timing-function:linear}30%{transform:rotate(455deg);animation-timing-function:ease-in-out}39%{transform:rotate(690deg);animation-timing-function:linear}70%{opacity:1;transform:rotate(815deg);animation-timing-function:ease-out}75%{transform:rotate(945deg);animation-timing-function:ease-out}100%,76%{opacity:0;transform:rotate(945deg)}}.waitMe_container .waitMe_progress.win8_linear{margin:auto;width:150px;height:6px}.waitMe_container .waitMe_progress.win8_linear>div{width:100%;height:100%;left:0;opacity:0;position:absolute;animation:win8_linear 3s infinite}.waitMe_container .waitMe_progress.win8_linear>div>div{width:4%;height:100%;border-radius:50%}.waitMe_container .waitMe_progress.win8_linear .waitMe_progress_elem2{animation-delay:.3s}.waitMe_container .waitMe_progress.win8_linear .waitMe_progress_elem3{animation-delay:.6s}.waitMe_container .waitMe_progress.win8_linear .waitMe_progress_elem4{animation-delay:.9s}.waitMe_container .waitMe_progress.win8_linear .waitMe_progress_elem5{animation-delay:1.2s}@keyframes win8_linear{0%,100%{transform:translateX(0);animation-timing-function:ease-out}10%{opacity:1;transform:translateX(33.333%);animation-timing-function:linear}50%{opacity:1;transform:translateX(53.333%);animation-timing-function:ease-in-out}60%{opacity:0;transform:translateX(86.666%)}}.waitMe_container .waitMe_progress.ios{margin:auto;width:40px;height:40px}.waitMe_container .waitMe_progress.ios>div{width:10%;height:26%;position:absolute;left:44.5%;top:37%;opacity:0;border-radius:50px;box-shadow:0 0 3px rgba(0,0,0,.2);animation:ios 1s infinite linear}.waitMe_container .waitMe_progress.ios .waitMe_progress_elem1{transform:rotate(0) translate(0,-142%);animation-delay:0s}.waitMe_container .waitMe_progress.ios .waitMe_progress_elem2{transform:rotate(30deg) translate(0,-142%);animation-delay:-.9167s}.waitMe_container .waitMe_progress.ios .waitMe_progress_elem3{transform:rotate(60deg) translate(0,-142%);animation-delay:-.833s}.waitMe_container .waitMe_progress.ios .waitMe_progress_elem4{transform:rotate(90deg) translate(0,-142%);animation-delay:-.75s}.waitMe_container .waitMe_progress.ios .waitMe_progress_elem5{transform:rotate(120deg) translate(0,-142%);animation-delay:-.667s}.waitMe_container .waitMe_progress.ios .waitMe_progress_elem6{transform:rotate(150deg) translate(0,-142%);animation-delay:-.5833s}.waitMe_container .waitMe_progress.ios .waitMe_progress_elem7{transform:rotate(180deg) translate(0,-142%);animation-delay:-.5s}.waitMe_container .waitMe_progress.ios .waitMe_progress_elem8{transform:rotate(210deg) translate(0,-142%);animation-delay:-.41667s}.waitMe_container .waitMe_progress.ios .waitMe_progress_elem9{transform:rotate(240deg) translate(0,-142%);animation-delay:-.333s}.waitMe_container .waitMe_progress.ios .waitMe_progress_elem10{transform:rotate(270deg) translate(0,-142%);animation-delay:-.25s}.waitMe_container .waitMe_progress.ios .waitMe_progress_elem11{transform:rotate(300deg) translate(0,-142%);animation-delay:-.1667s}.waitMe_container .waitMe_progress.ios .waitMe_progress_elem12{transform:rotate(330deg) translate(0,-142%);animation-delay:-.0833s}@keyframes ios{0%{opacity:1}100%{opacity:.25}}.waitMe_container .waitMe_progress.facebook{margin:auto}.waitMe_container .waitMe_progress.facebook>div{width:6px;height:25px;margin-left:3px;border-radius:20px;transform:scaleY(.7);opacity:.1;animation:facebook 1.3s infinite ease-in-out}.waitMe_container .waitMe_progress.facebook>.waitMe_progress_elem1{animation-delay:.2s;transform:scaleY(.7)}.waitMe_container .waitMe_progress.facebook>.waitMe_progress_elem2{animation-delay:.4s;transform:scaleY(.85)}.waitMe_container .waitMe_progress.facebook>.waitMe_progress_elem3{animation-delay:.6s;transform:scaleY(1)}@keyframes facebook{0%,100%{transform:scaleY(.7);opacity:.1}50%{transform:scaleY(1);opacity:1}}.waitMe_container .waitMe_progress.rotation>div{width:60px;height:60px;margin:auto;border-radius:100%;border-width:6px;border-style:solid;border-left-color:transparent!important;border-right-color:transparent!important;border-bottom-color:transparent!important;animation:rotation 1s infinite linear}@keyframes rotation{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}.waitMe_container .waitMe_progress.timer{width:40px;height:40px;margin:auto;border-width:2px;border-style:solid;border-radius:50%;box-sizing:border-box;position:relative;text-indent:-9999px}.waitMe_container .waitMe_progress.timer>.waitMe_progress_elem1,.waitMe_container .waitMe_progress.timer>.waitMe_progress_elem2{border-radius:3px;position:absolute;width:2px;height:48%;left:50%;top:50%;margin-left:-1px;margin-top:-1px;animation:timer 1.25s infinite linear;transform-origin:1px 1px}.waitMe_container .waitMe_progress.timer>.waitMe_progress_elem2{height:40%;animation:timer 15s infinite linear}@keyframes timer{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}.waitMe_container .waitMe_progress.pulse{width:30px;height:30px;margin:auto;position:relative}.waitMe_container .waitMe_progress.pulse>div{margin:auto;top:0;left:0;right:0;bottom:0;border-width:3px;border-style:solid;border-radius:50%;position:absolute;opacity:0;animation:pulsate 1s infinite ease-out}@keyframes pulsate{0%{transform:scale(.1);opacity:0}50%{opacity:1}100%{transform:scale(1.2);opacity:0}}.waitMe_container .waitMe_progress.progressBar{width:200px;height:20px;margin:auto;background:rgba(0,0,0,.1);padding:5px;border-radius:20px;line-height:0;max-width:100%}.waitMe_container .waitMe_progress.progressBar>div{width:100%;height:100%;overflow:hidden;border-radius:20px;background-size:50px 50px;box-shadow:inset 0 2px 9px rgba(255,255,255,.3),inset 0 -2px 6px rgba(0,0,0,.4);background-image:linear-gradient(-45deg,rgba(240,240,240,.4) 26%,transparent 25%,transparent 51%,rgba(240,240,240,.4) 50%,rgba(240,240,240,.4) 76%,transparent 75%,transparent);animation:progressBar 2s linear infinite}@keyframes progressBar{0%{background-position:0 0}100%{background-position:50px 50px}}.waitMe_container .waitMe_progress.bouncePulse>div{width:20px;height:20px;margin-right:1px;display:inline-block;border-radius:50%;transform:scale(.5);animation:bouncePulse 1.4s infinite ease-in-out}.waitMe_container .waitMe_progress.bouncePulse>.waitMe_progress_elem1,.waitMe_container .waitMe_progress.bouncePulse>.waitMe_progress_elem3{animation-delay:.1s}.waitMe_container .waitMe_progress.bouncePulse>.waitMe_progress_elem2{animation-delay:.4s}@keyframes bouncePulse{0%,100%,80%{transform:scale(.5)}40%{transform:scale(1)}}

