
/* ---------- S:RAMADAN ---------- */
.list_ch {
  padding:0;
  margin:0;
  list-style:none;
}
.list_ch li {
  padding:10px 0px;
  margin:0px;
}
.list_ch li .date {
  font-size: 11px;
  color:rgba(255,255,255,0.7);
}
.list_ch li h2,
.list_ch li h3 {
  margin-bottom:5px;
  line-height: 55%;
  float: left;
  line-height: 130%;
}
.list_ch li h2,
.list_ch li h3 {
  color:rgba(255,255,255,0.9);
  text-decoration: none;
  font-size: 14px;
    font-weight: bold;

}
.list_ch li a,
.list_ch li a {
  text-decoration: none;
}
.list_ch li a:hover h2 ,
.list_ch li a:hover h3 {
  color:#fde800;
}
.list_ch li .box_img {
  float:left;
  display:inline-block;
  width:35%;
  margin-right:10px;
  margin-bottom:0px;
}
.list_ch li a:hover .box_img {
   opacity: 0.9;
}
.list_ch li .boks_txt {
  float:right;
  width:61.6%;
  width:calc(65% - 10px);
}
.list_ch li.fulls .box_img {
  float:none;
  display:inline-block;
  width:100%;
  margin-right:0px;
  margin-bottom:5px;
}
.list_ch li.fulls .boks_txt {
  padding: 0px;
  float:none;
  width:100%;
}

.button_bot {
  border-top: 1px solid rgba(255,255,255,0.2);
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}
.button_bot a {
  background: #00AB98;
  color: #fff;
  padding: 6px 10px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
}
.button_bot a:hover {
  background: #6FC5BB;
}

/*box di atas*/
.box_ramadan {
  background: #007473 url(../images/bg_ramadan.jpg) repeat-x top;
  display: block;

  margin-bottom: 15px;
  position: relative;
}
.box_ramadan .sub {
  padding: 10px;
}
.box_ramadan .logo {
  position: absolute;
  bottom: 76px;
    left: 22px;
}
.box_ramadan .logo img {
  height: 45px;
  width: auto;
}
.box_ramadan .button_bot {
  width: 128px;
    position: absolute;
    bottom: 22px;
    left: 22px;
}
.box_ramadan .list_ch {
  float:right;
  display: inline-block;
  margin: 0 -5px;
}
.box_ramadan .list_ch li {
  float: left;
  width:215px;
  margin: 0 5px;
  padding: 0px;
}

/*box di tengah*/
.m_content.nobg {
  background: none;
  margin-bottom: 0;
}

.box_ramadan_tengah,
.box_ramadan_small {
  display: block;
  background: #007473;
  margin-bottom: 0px;
  position: relative;
}
.box_ramadan_tengah .sub {
  padding: 10px 10px 0px 10px;
}
.box_ramadan_tengah .titles,
.box_ramadan_small .titles {
  padding: 0px 10px;
  background: #007473 url(../images/bg_ramadan_header.jpg) repeat-x top;
  height: 55px;
}
.box_ramadan_tengah .titles a,
.box_ramadan_small .titles a {
    float: right;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    margin: 12px 5px 0 0;
    font-weight: normal;
}
.box_ramadan_tengah .titles a:hover,
.box_ramadan_small .titles a:hover {
  opacity: 0.8;
}
.box_ramadan_tengah .titles span,
.box_ramadan_small .titles span {
    padding: 6px 0px 4px;
    display: inline-block;
    border-bottom: solid 4px #fff;
    font-size: 16px;
}
.box_ramadan_tengah .titles span img,
.box_ramadan_small .titles span img {
  height: 33px;
}
.box_ramadan_tengah .list_ch {
  display: inline-block;
  margin: 0 -5px;
}
.box_ramadan_tengah .list_ch li {
  float: left;
  width: 245px;
  margin: 0 5px;
  padding: 0px;
}

/*box ramadan di kanan*/
.box_ramadan_small {
  margin-bottom: 15px;
}
.box_ramadan_small .sub {
  padding: 0px;
}
.box_ramadan_small .list_ch {
  margin: 0;
}
.box_ramadan_small .list_ch li:first-child {
  border-bottom: 1px solid #029493;
}
.box_ramadan_small .list_ch li {
  float: left;
  width: 93%;
  width: calc(100% - 20px);
  margin: 0px;
  padding: 10px;
}
.box_ramadan_small .list_ch li h3 {
  font-size: 12px;
}
.wp_jadwal table {
  width: -webkit-calc(100% - 20px);
  border-collapse: collapse;
  text-align: center;
  color: #383838;
  background:#efefef;
  margin:0 10px;
}
.wp_jadwal table tr:first-child {
  font-weight: bold;
  background: #dbdbdb;
}
.wp_jadwal table td {
  padding: 10px 2px;
  text-align: center;
}
.wp_jadwal table td:nth-child(even) {
  background: rgba(0,0,0,0.05);
}
/* ---------- E:RAMADAN ---------- */

/* ---------- S:billboard video ---------- */
#billboard_content_tv {
  width: 1100px;
  height: 300px;
  overflow: hidden;
  position: relative;
}

#billboard_content_tv .bb_video {
  position: absolute;
  width: 480px;
  height: 270px;
  top: 15px;
  right: 15px;
  z-index: 2;
}

#billboard_content_tv2 {
  width: 300px;
  height: 400px;
  overflow: hidden;
  position: relative;
}

#billboard_content_tv2 .bb_video2 {
  position: absolute;
  width: 300px;
  height: 169px;
  top: 110px;
  left: 0;
  z-index: 2;
}

#billboard_content_tv .bb_video2 {
  position: absolute;
  width: 460px;
  height: 281px;
  top: 10px;
  left: 35px;
  z-index: 2;
}
.box_iklan_area2 {
  float: right;
  position: absolute;
  bottom: 20px;
  right: 25px;
  width: 415px;
}

.info_time{
  float: right;
  position: absolute;
  top: 135px;
  right: 10px;
  width: 500px;
}
.info_time h3{
  padding-top:50px;
  text-align:center;
}
.share_box a {
  float: right;
  margin-left: 5px;
  margin-right:5px;
  width: 22px;
  height: 22px;
  background: #cfcfcf;
  padding: 8px;
  border-radius: 100px;
}
.share_box a img {
  height: 100%;
}

.share_box .sh_fb:hover {
  background: #004aaf;
}
.share_box .sh_gplus:hover {
  background: #f5490d;
}
.share_box .sh_tw:hover {
  background: #00c0ff;
}
.info_time .vidio {
  padding: 5px 10px;
  text-align: center;
  background: #ff3c00;
  color: #fff;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;
  font-size: 15px;
  font-weight: normal;
}
.info_time .audio {
  padding: 5px 10px;
  text-align: center;
  background: #ff3c00;
  color: #fff;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 20px;
  top: 0;
  width: 40%;
  font-size: 15px;
  font-weight: normal;
}
.info_time  img.au {
  height: 25px !important;
  width: 25px !important;
  float: left;
  margin-right: 10px;
  padding-top: 3px !important;
  padding-left:40px;
  margin-top: 0 !important;
}
.info_time .vidio div {
  float: left;
}

.info_time .audio img.au {
  height: 25px;
  float: left;
  margin-right: 10px;
  padding-top: 3px;
    padding-left:40px;
}
.info_time .audio div {
  float: left;
}
.info_time .audio:hover,
.info_time .audio.active {
  background: #ffa387;
}
.info_time .vidio:hover,
.info_time .vidio.active {
  background: #ffa387;
}

.info_box{
  float: left;
  position: absolute;
  bottom: 50px;
  left: 10px;
  width: 300px;
  z-index:3;
}
.info_box .vidio {
  padding: 5px 10px;
  text-align: center;
  background: #ffa387;
  color: #fff;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  position: absolute;
  left: 0;
  top: 0;
  width: 37%;
  font-size: 15px;
  font-weight: normal;
}
.info_box .audio {
  padding: 5px 10px;
  text-align: center;
  background: #ffa387;
  color: #fff;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 20px;
  top: 0;
  width: 37%;
  font-size: 15px;
  font-weight: normal;
}
.info_box .vidio img.au {
  height: 25px;
  float: left;
  margin-right: 10px;
  padding-top: 3px;
}
.info_box .vidio div {
  float: left;
}

.info_box .audio img.au {
  height: 25px;
  float: left;
  margin-right: 10px;
  padding-top: 3px;
}
.info_box .audio div {
  float: left;
}
.info_box .audio:hover,
.info_box .audio.active {
  background: #ff3c00;
}
.info_box .vidio:hover,
.info_box .vidio.active {
  background: #ff3c00;
}

#billboard_content_tv2 #bu_prev2 {
  background: url(../images_ads/nav_left.png) 0px 0px no-repeat;
  display: block;
  float: left;
  width: 25px;
  height: 50px;
  text-decoration: none;
  margin-top: 15px;
  bottom: 60px;
  position: absolute;
  z-index: 3;
}

#billboard_content_tv2 #bu_next2 {
  background: url(../images_ads/nav_right.png) 0px 0px no-repeat;
  display: block;
  float: right;
  width: 25px;
  height: 50px;
  text-decoration: none;
  margin-top: 15px;
  bottom: 60px;
  position: absolute;
  z-index: 3;
  right:0;
}

#billboard_content_tv2 .pic_tv2{
  width:300px;
  height:169px;
  position:absolute;
  z-index:2;
  top: 110px;
  left: 0;
  background:#CCC;
  text-align:center;
  float:left;
}

#billboard_content_tv2 .pic_tv2 .img {
  width: 300px;
  height: 169px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  z-index: 2;
}
#billboard_content_tv2 .pic_tv2 .img img {
  height:100%;
}

#billboard_content_tv2 .pic_tv2 .play {
  width: 300px;
  height: 169px;
  display: block;
  position: relative;
  margin-top: -110px;
  z-index: 3;
  text-align: center;
  padding-top: 15px;
}

#billboard_content_tv2 .pic_tv2 .play img {
  width: 30px;
}

#billboard_content_tv .text_mf {
  position: absolute;
  right: 0;
  top: 0;
  width: 450px;
  z-index: 2;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
}
#billboard_content_tv .text_mf .jam {
  padding-top: 40px;
  letter-spacing: -1px;
}
#billboard_content_tv .text_mf .jam span,
#billboard_content_tv2 .jam span {
  font-size: 26px;
}
#billboard_content_tv .text_mf img {
  width: 60%;
  margin-top: 20px;
}
.billboard_content_tv2 {
  position: relative;
}
#billboard_content_tv2 .jam {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -1px;
  position: absolute;
  z-index: 2;
  bottom: 60px;
  width: 100%;
  text-align: center;
}
.bbp_l{
  /*background:#F2F2F2;*/
  background:#8d1523;
  width:200px;
  height:200px;
  float:left;
  text-align:center;
}
.bbp_l img{
  margin-top:23%;
}
.bbp_r{
  width:780px;
  height:200px;
  float:left;
}

/*ramadan*/


/*s:bbhijabhunt*/
.bb_hh .bb_video{
  width: auto !important;
  float: right;
}
/*e:bbhijabhunt*/

/*s:CNN STREAMING*/
#cnnvideo {
  background:#000;
  width: 100%;
  height: auto;
  position: relative;
}
#cnnvideo .bg_cnn {
  background-color: #000;
  height: 50px;
  padding: 0px 0 10px 9px;
}
#cnnvideo .bb_video2{
  width:100%;
  border:none;
}
#cnnvideo .bg_cnn a {
  float: left;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  margin: -2px 5px 0 0;
  font-weight: normal;
  padding: 20px 0 0 10px;
}
#cnnvideo .bg_cnn img{
  float:left;
}
.judullive{
  text-align:center;
  font-size:12px;
  color:#FFF;
  padding:8px 5px;
  border-bottom:1px solid #999;
  border-top:1px solid #999;
  font-weight:bold;
}
#cnnvideo .jam{
  background:#d00b02;
  width:60%;
  color:#FFF;
  padding:5px;
  text-align:center;
  margin-top:10px;
}
#cnnvideo .wording{
  text-align:center;
  font-style:italic;
  width:100%;
  padding:15px 0;
}
#cnnvideo .wording a{
  color:#F90;
}
#cnnvideo .wording a:hover{
  color:#FFF;
}
/*e:CNN STREAMING*/

@media screen and (min-width: 1025px) and (max-width: 1280px)  {

#billboard_content_tv {
  width: 1000px;
}
#billboard_content_tv .bb{
  margin-left: -50px;
}
.info_time {
    width: 425px;
}
.info_time .vidio {
    width: 40%;
}
.info_time .audio {
    width: 40%;
}

}


/*ACADEMY AWARDS*/
.thumb{
  width: 100%;
  overflow: hidden;
}
.thumb img{
  width: 100%;
}
.channel-box-center{
  width: 530px;
  background: #2440a1;
  float: left;
  position: relative;
}
.channel-box-center .btn-idx{
  color:#fff;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding: 0.75em 1em;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  position: absolute;
  top: 0;
  right: 0;
}
.channel-box-center .btn-idx:hover{
  background-color: rgba(0,0,0,0.8);
}
#academy-awards2016{
  background: #000 url("../images/academy-bg.jpg") top center no-repeat;
}
#academy-awards2016 .wrapp-box{
  position: relative;
  overflow: hidden;
  margin-top: 4px;
}
#academy-awards2016 .wrapp-box .btn-channel{
  background: url("../images/academy-arrow.png") no-repeat;
  width: 30px;
  height: 35px;
  display: block;
  position: absolute;
  top: 26px;
  z-index: 1;
}
#academy-awards2016 .wrapp-box .btn-channel.prev-channel{
  left: 20px;
}
#academy-awards2016 .wrapp-box #slide-channel{
  width: 30000px;
}
#academy-awards2016 .wrapp-box .btn-channel.next-channel{
  right: 20px;
  background-position: -30px 0px;
}
#academy-awards2016 .wrapp-box .btn-channel:hover{
  opacity: 0.8;
}
#academy-awards2016 .wrapp-box li{
  width: 150px;
  float: left;
  margin: 0 10px;
}
#academy-awards2016 .wrapp-box .photo-channel{
  height: 90px;
}
#academy-awards2016 .wrapp-box .labdate{
  color: #fff;
}
#academy-awards2016 .wrapp-box .sub-title{
  color: #ffb656;
  display: block;
  font-weight: 600;
}
#academy-awards2016 .wrapp-box .title-channel{
  color: #f1c863;
  float: left;
  display: block;
  font-weight: 600;
  line-height: 130%;
}
#academy-awards2016 .wrapp-box .title-channel:hover{
  color: #f3e5c2;
}
/*END ACADEMY AWARDS*/

/*CAROUSEL IN NEWS FEED*/
li.feed-slide{
  padding-bottom: 0
}
li.feed-slide h2{
  color: #fed019;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  padding: 0 5px;
  width: 400px;
}
li.feed-slide .labdate{
  display: block;
  margin: 5px 0 8px 0;
  padding: 0 5px;
}
li.feed-slide p{
  color: #fff;
  font-size: 13px;
  line-height: 130%;
  padding: 0 5px;
}
.btn-carousel{
  background: url(../images/academy-arrow.png) no-repeat;
  width: 30px;
  height: 35px;
  display: block;
  position: absolute;
  top: 55px;
  z-index: 1;
}
.btn-carousel.next-carousel{
  right: 20px;
  background-position: -30px 0px;
}
.btn-carousel.prev-carousel{
  left: 20px;
}
#slide-feed-1, #slide-feed-2, #slide-feed-3{
  width: 20000px;
}
.carousel-news-feed{
  position: relative;
  width: 510px;
  background: #162b6a;
  padding: 10px 0 20px 0;
  overflow: hidden;
}
.carousel-news-feed .list-carou li{
  width: 140px;
  float: left;
  margin: 0 15px;
  padding: 0;
  border-bottom: 0;
}
.carousel-news-feed .list-carou li .title-carou-feed{
  color: #fff;
  display: block;
  height: 38px;
  overflow: hidden;
  padding: 5px 2px;
}

.feed-slide .btn-slide{
  color:#fff;
  background: #de4f25;
  padding: 6px 18px;
  float: left;
  display: block;
  margin-top: 10px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}
.feed-slide .btn-slide:hover{
  background: #c6451a;
}
.feed-slide .btn-slide.right-pos{
  position: absolute;
  right: 20px;
  top: 0;
  padding: 8px 18px;
}
/*END CAROUSEL IN NEWS FEED*/


@media screen and (min-width: 1025px) and (max-width: 1280px)  {

#billboard_content_tv {
  width: 1000px;
}
#billboard_content_tv .bb{
	margin-left: -50px;
}
.info_time {
    width: 425px;
}
.info_time .vidio {
    width: 40%;
}
.info_time .audio {
    width: 40%;
}

/*ACADEMY AWARDS*/
.channel-box-center{
  width: 430px;
}
#academy-awards2016 .wrapp-box .btn-channel{
  top: 45px;
}
#academy-awards2016 .wrapp-box li{
  width: 120px;
  margin: 0 8px;
}
#academy-awards2016 .wrapp-box .photo-channel{
  height: 80px;
}
#academy-awards2016 .wrapp-box {
    padding-bottom: 6px;
}
/*END ACADEMY AWARDS*/

/*CAROUSEL IN NEWS FEED*/
.carousel-news-feed{
  width: 410px;
}
.carousel-news-feed .list-carou li {
    width: 116px;
    margin: 0 9px;
}
/*END CAROUSEL IN NEWS FEED*/

}


/*S:EURO 2016*/
@font-face {
    font-family: 'montserrat';
    src: url('https://cdn.detik.net.id/sport/fonts/montserrat-bold-webfont.eot');
    src: url('https://cdn.detik.net.id/sport/fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.detik.net.id/sport/fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('https://cdn.detik.net.id/sport/fonts/montserrat-bold-webfont.woff') format('woff'),
         url('https://cdn.detik.net.id/sport/fonts/montserrat-bold-webfont.ttf') format('truetype'),
         url('https://cdn.detik.net.id/sport/fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('https://cdn.detik.net.id/sport/fonts/montserrat-regular-webfont.eot');
    src: url('https://cdn.detik.net.id/sport/fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.detik.net.id/sport/fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('https://cdn.detik.net.id/sport/fonts/montserrat-regular-webfont.woff') format('woff'),
         url('https://cdn.detik.net.id/sport/fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('https://cdn.detik.net.id/sport/fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.l{float: left;}
.r{float: right;}
.box_channel_euro{font-family:'montserrat',sans-serif; margin-bottom: 10px;}
.box_channel_euro .euro_titles{background: url('../images/bg_header.png') #1f5089; border-bottom: 3px solid #D62442;}
.box_channel_euro .img_titles{}
.box_channel_euro .img_titles.l{margin: 0 0 0 5px;}
.box_channel_euro .img_titles.r{margin: 10px 5px 0 0;}
.box_channel_euro .img_titles img{}
.box_channel_euro .euro_title{text-align: center; font-size:18px; color: #fff; font-weight: bold;display: inline-block; float: left; width: 165px;margin-top: 12px;}
.box_channel_euro .euro_title span{font-size: 22px;}
.euro_box{background: #fff;border-bottom: 3px solid #D62442;}
.euro_box a .sub_judul{color:#d62442; font-size: 13px;}
.euro_box a .date{color: #A4A4A4; font-weight: normal; font-size: 11px;margin-bottom: 5px;}
.euro_box a h2{color: #545454; font-weight: normal; line-height: normal; float:none;}
.euro_box .list_ch li a:hover h2{color:#d62442}
.euro_box .list_ch{}
.euro_box .list_ch li:first-child .box_img{width: 100%;margin: 0;}
.euro_box .list_ch li{position: relative;border-bottom: 1px solid #F2F2F2;}
.euro_box .list_ch li .boks_txt{width: 100%;}
.euro_box .list_ch li a{}
.euro_box .list_ch li article{padding: 0 10px;}
.euro_box .list_ch li .tl_afbelt{position: absolute; bottom: 0;padding: 25px 15px 10px;}
.euro_box .list_ch li:first-child,.euro_box .list_ch li:first-child article{padding: 0;}
.euro_box .list_ch li:first-child a{}
.euro_box .list_ch li:first-child .date{}
.euro_box .list_ch li:first-child a h2{font-size: 16px; color: #fff;}
/*E:EURO 2016*/
