.breakingnews {
	background: #000;
	text-align: center;
	width: 790px;
	height: 529px;
}
/*.breakingnews .t {
	background: #1b3682;
	color: #fff;
	height: 80px;
	overflow: hidden;
}
.breakingnews .t img {
	float: left;
	margin-right: 10px;
	width: 205px;
}
.breakingnews .t .bnjdl {
	float: left;
	width: 570px;
	padding-right: 5px;
	width: calc(100% - 225px);
	text-align: left;
	height: 80px;
	line-height: 80px;
	
	display: inline-block;
}
.breakingnews .t .bnjdl h1 {
	font-weight: bold;
	font-size: 28px;
	display: inline-block;
	line-height: normal;
	vertical-align: middle;
}*/

.breakingnews .ts {
	background: #000;
	color: #fff;
	height: 118px;
	overflow: hidden;
	position: relative;
}
.breakingnews .ts img {
	position: absolute;
	right: 0;
	top: 0;
}
.breakingnews .ts .bnjdl .date{
	margin-bottom: 10px;
}
.breakingnews .ts .bnjdl {
	float: left;
	width: 570px;
	padding: 15px;
	width: calc(100% - 300px);
	text-align: left;
	/*height: 80px;*/
	line-height: normal;
	
	display: inline-block;
}
.breakingnews .ts .bnjdl h1 {
	font-weight: bold;
	font-size: 28px;
	display: inline-block;
	line-height: normal;
	vertical-align: middle;
}
.breakingnews .ts2 {
	background:url(../images/bn5.jpg) no-repeat top left #000;
	color: #fff;
	height: 83px;
	overflow: hidden;
	position: relative;
}
.breakingnews .ts2 img {
	position: absolute;
	right: 0;
	top: 0;
}
.breakingnews .ts2 .bnjdl .date{
	margin-bottom: 10px;
}
.breakingnews .ts2 .bnjdl {
	float: right;
	padding:5px 10px;
	width: calc(100% - 480px);
	text-align: left;
	/*height: 80px;*/
	line-height: normal;
	
	display: inline-block;
}
.breakingnews .ts2 .bnjdl h1 {
	font-weight: bold;
	font-size: 21px;
	display: inline-block;
	line-height: normal;
	vertical-align: middle;
}
.breakingnews .video {
	width: 100%;
	height: 446px;
	padding: 0;
	background: #000;
	position: relative;
}
.breakingnews .video iframe {
	width: 100% !important;
	height: 100% !important;
	position: relative;
	z-index: 1;
	background: #000;
}
.breakingnews .video .live-label {
	position: absolute;
	left: 20px;
	top: 20px;
	background: red;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	padding: 8px 15px;
	z-index: 2;
}
.breakingnews_pilkada .ts2 {
	background:url(../images/bg_blak_blakan.png) no-repeat top left #000;
}
.breakingnews_pilkada .ts2 .bnjdl {
	width: calc(100% - 320px);
	display: table;
	height: 70px;
}
.breakingnews_pilkada .ts2 .bnjdl h1 {
	font-size: 32px;
	display: table-cell;
	margin: 0;
	vertical-align: middle;
}

@media screen and (max-width: 1280px) and (min-width: 1025px)  {
	.breakingnews .video {
		height: 388px;
	}
	.breakingnews {
		background: #000;
		text-align: center;
		width: 690px;
		height: 471px;
	}
