﻿#play IMG {
	BORDER-TOP-WIDTH: 0px;
	BORDER-LEFT-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px;
	WIDTH: 424px;
	HEIGHT: 212px;
	BORDER-RIGHT-WIDTH: 0px
}
#play {
	MARGIN-TOP: 0px;
	Z-INDEX: 1;
	LEFT: 0px;
	MARGIN-BOTTOM: 0px;
	OVERFLOW: hidden;
	WIDTH: 424px;
	POSITION: relative;
	TOP: 0px;
	HEIGHT: 212px;
	padding: 0px;
}
#play_text {
	Z-INDEX: 3;
	LEFT: 310px;
	MARGIN-BOTTOM: 0px;
	OVERFLOW: hidden;
	WIDTH: 120px;
	BOTTOM: 5px;
	MARGIN-RIGHT: 0px;
	POSITION: absolute;
	HEIGHT: auto
}
#play_text UL {
	PADDING-RIGHT: 0px;
	DISPLAY: block;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	LIST-STYLE-TYPE: none
}
#play_text UL LI {
	DISPLAY: inline;
	FONT-SIZE: 12px;
	FLOAT: left;
	OVERFLOW: hidden;
	WIDTH: 19px;
	CURSOR: pointer;
	COLOR: #ffffff;
	FONT-FAMILY: Tahoma;
	TEXT-ALIGN: center;
	background-color: #333;
	height: 15px;
	margin-right: 2px;
	border: 1px solid #666;
}
#play_text UL LI.now {
	DISPLAY: inline;
	FONT-SIZE: 12px;
	FILTER: Alpha(opacity=200);
	FLOAT: left;
	OVERFLOW: hidden;
	CURSOR: pointer;
	COLOR: #ffffff;
	FONT-FAMILY: Tahoma;
	TEXT-ALIGN: center;
	opacity: 2;
	-moz-opacity: 2;
	background-color: #F06509;
	border: 1px solid #F4871A;
	font-weight: bold;
}
#play_list {
	OVERFLOW: hidden;
	HEIGHT: 212px
}
#play_list A {
	DISPLAY: block;
	OVERFLOW: hidden;
	WIDTH: 424px;
	HEIGHT: 212px
}
#flink {
	width:943px;
	background-color: #F7FAFD;
	margin: 0 auto;
	padding: 5px 5px 5px 0;
	clear: both;
	border: 1px solid #98BBDE;
	background: url(images/linkbg.gif) repeat-y left top;
}
.welinks A {
	BACKGROUND: url(images/wl_bg.gif) no-repeat right 3px;
	TEXT-ALIGN: center;
	LINE-HEIGHT: 20px;
	PADDING-LEFT: 5px;
	WIDTH: 80px;
	PADDING-RIGHT: 6px;
	DISPLAY: block;
	MARGIN-BOTTOM: 2px;
	FLOAT: left;
	HEIGHT: 20px
}
#left_ms {
	background-color: #FFFAE5;
	border: 2px solid #FAB5A0;
	margin-bottom: 6px;
	padding:3px 5px;
}
#left_ms li {
	font-size: 14px;
	font-weight: bold;
	color: #481F0D;
	line-height: 32px;
	padding-left: 23px;
}
#left_ms li span {
	float:right;
	padding-right: 4px;
}
#left_ms li span a, #left_ms li span a:visited {
	font-size: 12px;
	font-weight: normal;
	color: #855936;
}
.mn1 {
	border-bottom: 1px solid #F9DEB0;
}
.mn2 {
	border-top: 1px solid #FFF;
}
.mnimg1 {
	background: url(images/leftball.gif) no-repeat 1px 8px;
}
.mnimg2 {
	background: url(images/leftball.gif) no-repeat 1px -25px;
}
.mnimg3 {
	background: url(images/leftball.gif) no-repeat 1px -59px;
}
.mnimg4 {
	background: url(images/leftball.gif) no-repeat 1px -92px;
}
.mnimg5 {
	background: url(images/leftball.gif) no-repeat 1px -124px;
}
.mnimg6 {
	background: url(images/leftball.gif) no-repeat 1px -157px;
}

.b {
	margin:0px;
	padding:0px;
	overflow:auto;
}
.w {
	position:absolute;
	right:10px;
	bottom:10px;
	width:240px;
	height:240px;
	overflow:hidden;
	border:2px groove #281;
	cursor:default;
	-moz-user-select:none;
}
.t {
	line-height:20px;
	height:20px;
	width:160px;
	overflow:hidden;
	background-color:#27C;
	color:white;
	font-weight:bold;
	border-bottom:1px outset blue;
	text-align:center;
}
.winBody {
	height:240px;
	width:240px;
	overflow-x:hidden;
	overflow-y:hidden;
	border-top:1px inset blue;
	background-color:white;
}
.STYLE12 {
	color: #9F092B
}
.STYLE13 {
	font-size: 14px
}
.dew {
	background-color: #B8D0E9;
	float: left;
	height: 26px;
	width: 1px;
	overflow: hidden;
}
#right .app {
	overflow: hidden;
}
#right .app img {
	float: left;
	margin-right: 10px;
}
#right .app a, .app span {
	display: block;
	font-family: "微软雅黑";
	line-height: 26px;
}
.guess {
	padding: 0px;
	width: 263px;
	overflow: hidden;
	font-family: "微软雅黑";
	float: left;
	height: auto;
	border-bottom-style: none;
}
.guess .guessBar {
	text-align: center;
	color: #FFF;
	line-height: 20px;
	border: 1px solid #FFF;
	overflow: hidden;
	width: 261px;
	float: left;
}
.guess .guessBar .dx {
	float: right;
	width: 130px;
	background-color: #6282b4;
}
.guess .guessBar .dx .left {
	width: 50%;
	float: left;
}
.guess .guessBar .dx .right {
	width: 50%;
	float: right;
}
.guess .guessBar .rq {
	float: left;
	width: 130px;
	background-color: #e27258;
}
.guess .guessBar .rq .left {
	float: left;
	width: 50%;
}
.guess .guessBar .rq .right {
	float: right;
	width: 50%;
}
.guess .match {
	overflow: hidden;
	width: 263px;
	line-height: 20px;
	height: auto;
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b8d0e9;
	background-image: url(images/guessBg.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}
.guess .match:hover {
	background-color: #fffae5;
}
.guess .match .game {
	float: left;
	width: 50px;
	padding: 5px;
}
.guess .match .team {
	float: left;
	width: 200px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.guess .match .team .home {
	display: block;
	width: 81px;
	float: left;
	overflow: hidden;
	text-align: right;
}
.guess .match .team .vs{
	background-repeat: no-repeat;
	height: 20px;
	width: 26px;
	margin-right: 5px;
	margin-left: 5px;
	display: inline-block;
	float: left;
	color: #333;
	border: 1px solid #B8D0E9;
	background-color: #F0F6FD;
	font-weight: bold;
}
.guess .match .team .bf {
	background-repeat: no-repeat;
	height: 20px;
	width: 26px;
	margin-right: 5px;
	margin-left: 5px;
	display: inline-block;
	float: left;
	color: #333;
	border: 1px solid #B8D0E9;
	background-color: #F0F6FD;
	font-weight: bold;
}
.guess .match .team .bf .win {
	color: #F00;
}


.guess .match .team .guest {
	display: block;
	width: 81px;
	float: right;
	overflow: hidden;
	text-align: left;
}
.guess .gg {
	background-color: #FFFAE5;
	padding: 5px;
	color: #9F092B;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b8d0e9;
}
.guess .gg strong {
	color: #9F094A;
}

.menuMsg {
	line-height: 26px;
	color: #09f;
	background-color: #E2F0FA;
	text-align: center;
	height: 26px;
	width: 159px;
	font-weight: bold;
}
.menuPopup {
	width: 160px;
}#bottom .f_menu {
	line-height: 22px;
	background-color: #F0F3F7;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #CCC;

}
#bottom .f_menu  a{
	color: #666;
}
.newsList {
	display: block;
	width: 415px;
}
.newsList li {
	padding: 0px;
	background: none;
}
