﻿body{margin: 0;font-size: 12px; font-family:微软雅黑;}
div,form,img,ul,ol,li,dl,dt,dd {margin: 0; padding: 0; border: 0; }
ul li {list-style:none}
ul{margin:0; padding:0;}
h1,h2,h3,h4,h5,h6 { margin:0; padding:0;font-size:12px; font-weight:normal;}
a:link,a:visited{
	text-decoration: none;
	color: #333;
}
a:hover{
	color: #F30;
	text-decoration: underline;
}

#top
{
    width: 950px;
    text-align: center;
    background-color:White;
	margin:0 auto;
}

#logo {
	background-image: url(/Images/jc/logo.png);
	background-repeat: no-repeat;
	float: left;
	height: 13px;
	width: 128px;
	color:#696969;
	letter-spacing: 8px;
	font-weight: normal;
	font-size: 12px;
	padding-top: 31px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 56px;
}

#web_nav {
	background-image: url(/images/cp/menu.gif);
	float:right;
	height: 36px;
	width: 744px;
	padding-bottom: 2px;
	padding-left: 6px;
	margin-top: 4px;
	Z-INDEX: 5000;
	position:relative;
}
#web_nav li {
	float: left;
	list-style-position: inside;
	list-style-image: none;
	list-style-type: none;
}
#web_nav span a {
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	line-height: 36px;
	display: block;
	text-align: center;
	padding-top: 0;
	padding-right: 11px;
	padding-bottom: 0;
	padding-left: 11px;
} 
#web_nav a.ddl{
		padding-right: 6px;
	}
#web_nav span a i {
	background: url(/Images/jc/v.gif) no-repeat left 10px;
	padding: 5px;
	margin-left: 5px;
}
#web_nav span a:hover {color: #D7F7FF;text-decoration: none;background-image: url(/images/cp/nav_h.gif);}
#web_nav LI UL {
	LEFT: -999em;WIDTH: 180px;POSITION: absolute;padding: 6px;
	background-image: url(/images/cp/n_bg.gif);border: 3px solid #1C90D1;
}
#web_nav LI UL LI {LEFT: 100%;TOP: 0px;float: left;}
#web_nav LI:hover UL {Z-INDEX: 999;background-image: url(/images/cp/n_bg.gif);LEFT: auto}
#web_nav LI.sfhover UL {Z-INDEX: 999;background-image: url(/images/cp/n_bg.gif);LEFT: auto}
#web_nav LI UL LI a,#web_nav LI UL LI a:visited {
	color:#333333;font-size: 12px;line-height: 28px;display: block;
	height: 28px;width: 80px;text-align: center;border-bottom: 1px solid #E7E7E7;font-weight: normal;
}
#web_nav LI UL LI a:hover {color:#FFFFFF;background-color: #FF9900;text-decoration: none;background-image: none;}

.d_l {background: url(images/menu_bg.gif) no-repeat top;width: 2px;height: 36px;}
#menu2 {
	;
	;
	height: 25px;
	width: 944px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 2px;
	padding-left: 6px;
	background-image: url(images/othermenu.gif);
	background-repeat: no-repeat;
	background-position: top;
	color: #9DAFC4;
}
#webmain {
	width: 950px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 6px;
}
#menu2 div {
	float: left;
	line-height: 20px;
	padding: 0 15px;
	color: #BEBEBE;
}
.kl {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #D5E6EE;
}
.botit:link,.botit:visited {color: #1F3A87;font-weight: bold;}
.botit:hover {color: #FF6600;text-decoration: none;}
#webmain #left {
	float: left;
	width: 265px;
}
#webmain #left a,#webmain #left a:visited {
}
#webmain #left a:hover {
	color: #F30;
}
.tith2 {
	line-height: 28px;
	background-image: url(images/title_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	clear: both;
	height: 28px;
	width: 245px;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #333;
}
#right h2 {
	font-size: 14px;
	line-height: 28px;
	font-weight: bold;
	color: #333;
	background-image: url(images/title_bg.gif);
	background-repeat: no-repeat;
	clear: both;
	height: 28px;
	width: 220px;
	padding-right: 10px;
	padding-left: 10px;
	background-position: left -28px;
}
#midd_div {
	width: 426px;
	float: left;
	padding-left: 9px;
}
.midd_div2 {
	padding: 8px;
	width: 247px;
	clear: both;
	background-color: #FFF;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #B8D0E9;
	border-bottom-color: #B8D0E9;
	border-left-color: #B8D0E9;
}
.td_div22 {
	background-color: #F9FAFB;
	margin-bottom: 6px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #B8D0E9;
	border-bottom-color: #B8D0E9;
	border-left-color: #B8D0E9;
}
.kai_f {
	FLOAT: right; LINE-HEIGHT: normal
}
.kai_f LI {
	FLOAT: left; LINE-HEIGHT: normal
}
.kai_f LI A {
	DISPLAY: block; FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: left; WIDTH: 60px;HEIGHT: 28px; TEXT-ALIGN: center; line-height:28px;
}
.kai_fon A:link,.kai_fon A:visited,.kai_fon A:hover {
	FONT-WEIGHT: bold;
	background-color: #FFF;
	background-image: url(images/kai_on.gif);
	color: #3366CC;
	FONT-SIZE: 12px; 
}
.sctitle
{
		line-height: 28px;
	background-image: url(images/title_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	clear: both;
	height: 28px;
	width: 256px;
	padding-right: 2px;
	padding-left: 7px;
	font-size: 14px;
	font-weight: bold;
	color: #333;

}
.kai_z LI {
	PADDING-BOTTOM: 10px; COLOR: #333; LINE-HEIGHT: 20px; PADDING-TOP: 10px
}
.kai_z LI .kai_title:link,.kai_z LI .kai_title:visited {
	FONT-WEIGHT: bold; COLOR: #1c6ab0; TEXT-DECORATION: underline
}
.kai_z LI P {
	CLEAR: both; PADDING-TOP: 7px
}
.kai_z .dsl {
	BORDER-BOTTOM: #c0c0c0 1px dashed
}
.kai_z p { margin:0}
.aokai1 {PADDING-BOTTOM: 4px}
.Rballs,.Bballs,.Yballs,.redballs,.blueballs,.yellowballs {
	margin-right: 2px;
	margin-left: 2px;
	display: block;
	height: 20px;
	width: 20px;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	float: left;
	text-align: center;
}
.Rballs{
	background-image: url(images/ball.gif);
	background-repeat: no-repeat;
	background-position: left top;
	color: #FFF;
}
.Bballs {
	background-image: url(images/ball.gif);
	background-position: left -23px;
	color: #FFF;
}
.Yballs {
	color: #333;
	background-image: url(images/ball.gif);
	background-repeat: no-repeat;
	background-position: left -46px;
}
#left .sctitle h2
{
	font-size: 14px;
	font-weight: bold;
	color: #333;
}
#left .sctitle h2
{
	padding-left: 3px;
}
.l_divs {width: 198px;margin-bottom: 6px;border-right: 1px solid #9BBDD3;border-left: 1px solid #9BBDD3;}
.l_divs2 {
	width: 178px;padding:8px 10px;
	border-right: 1px solid #9BBDD3;border-bottom: 1px solid #9BBDD3;border-left: 1px solid #9BBDD3;
}
.l_divs3 {
	width: 178px;padding:1px 10px 8px 10px;
	border-right: 1px solid #9BBDD3;border-bottom: 1px solid #9BBDD3;border-left: 1px solid #9BBDD3;
}
.main_title {
	height: 28px;
	color: #D1D1D1;
}
#webmain #right {
	float: right;
	width: 240px;
}
#webmain #right #l1 { float:left; width:400px}
#webmain #right #l2 { float:right; width:336px}
.l_titlediv {background-image: url(images/l_dv.gif);height: 27px;width: 180px;padding: 0 10px;line-height: 27px;}
.stitle {
	float:left;
	font-weight: bold;
	font-size: 14px;
}
.more {float:right;}
.ls1 {
	background-image: url(images/title_bg.gif);
	background-repeat: no-repeat;
	background-position: left -56px;
}
.ls2 {background-image: url(images/topic.gif);}
.ls3 {background-image: url(images/class.gif);}
.ls4 {background-image: url(images/club.gif);}
.r_titlediv {height: 33px;width: 332px;}
.hotgame {width: 178px;border-bottom: 1px solid #C9DBE7;padding:8px 10px ;}
.STYLE2 {color: #1F3A87;font-family: tahoma;font-weight: bold;}
.h1 {width: 137px;float: left;padding-right: 6px;}
.h2 {
	font-family: Verdana;font-size: 11px;color: #666666;width: 35px;float: left;text-align: right;
}
.hotgame li {line-height: 20px;width: 178px;clear: both;}
.bbg {background-color: #F7FAFD;}
.f_tie {line-height: 27px;width: 178px;border-bottom: 1px dashed #88AFCA;height: 27px;}
.l_news2 {
	padding-top: 6px;
	padding-left: 5px;
}
.l_news2 li{background: url(images/arrow.gif) no-repeat left;clear: both;padding-left: 9px;line-height: 20px;}
.fw {padding-top: 6px;padding-left: 3px;}
.fw li{
	background: url(images/arrow.gif) no-repeat left center;padding-left: 9px;width: 78px;float: left;line-height: 160%;
}
.m_news {
	padding-bottom: 4px;
	width: 386px;
	padding-top: 8px;
	padding-left: 6px;
}
.m_news li{
	padding-left: 8px;
	line-height: 25px;
	clear: both;
	font-size: 14px;
	background-image: url(images/p.gif);
	background-repeat: no-repeat;
	background-position: left 10px;
}
.m_line {	border-bottom: 1px dashed #666666; }
.name:link,.name:visited {text-decoration: underline;color: #1F3A87;}
.name:hover {color: #FF9900;}
.big_title {
	font-size: 15px;
	font-weight: bold;
	padding-top: 10px;
}
.su:link,.su:visited,.su:hover { font-size:12px}
.topic {
	clear: both;
	padding-top: 4px;
	padding-right: 0;
	padding-bottom: 4px;
	padding-left: 0;
}
.topic li{line-height: 20px;height: 20px;width: 368px;}
.hots2:link,.hots2:visited { color:#CC3300}
.toppic2 {
	width: 396px;
	clear: both;
	padding-top: 10px;
}
.toppic2_img {float: left;width: 113px;}
.imgt {border: 1px solid #CCCCCC;}
.toppic2_mm {
	float: left;
	width: 283px;
	line-height: 20px;
}
.rs_div_l {float: left;padding-right: 8px;}
.rs_div_r {float: left;color: #666666;line-height: 160%;width: 200px;}
.redtitle a,.redtitle a:visited {color: #FF3300;font-size: 14px;font-weight: bold;line-height: 24px;}
.redtitle a:hover {color: #6666FF;}
.isnews2 {padding-top: 2px;}
.isnews2 li{background: url(images/p.gif) no-repeat left 7px;padding-left: 8px;clear: both;line-height: 20px;}
.lnews {clear: both;padding-top: 4px;width: 312px;height: 43px;}
.lnews li{
	background: url(images/p.gif) no-repeat left 7px;padding-left: 8px;float: left;line-height: 160%;
	width: 142px;display: block;padding-right: 5px;
}
.tool {line-height: 20px;text-align: center;padding-top: 6px;padding-bottom: 3px;color: #FF6600;width: 312px;}
.tool a,.tool a:visited {color: #FF6600;text-decoration: underline;}
.tool a:hover {color: #CC3300;}
.fe td { text-align:center}
.STYLE3 {color: #FF6600;font-family: tahoma;font-weight: bold;}
#bottom {width:950px;line-height:160%;text-align:center;margin: 0 auto;padding-top: 0px;}


.tgame {
	width: 218px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #B8D0E9;
	border-bottom-color: #B8D0E9;
	border-left-color: #B8D0E9;
}
.kkp {
	height: 16px;
	width: 120px;
	overflow: hidden;
}
.sils {
	float: left;
	width: 83px;
}
.sils input {
	BORDER-RIGHT: #baceeb 1px solid; BORDER-TOP: #baceeb 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #baceeb 1px solid; WIDTH: 70px; BORDER-BOTTOM: #baceeb 1px solid; HEIGHT: 15px
}
.textbox_s {
	line-height: 15px;
	border: 1px solid #BACEEB;
	font-size: 12px;
}
.button_s {
	background-image: url(images/ddd.gif);
	height: 20px;
	width: 46px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	line-height: 20px;
}
.ll_tt {
	float: left;
	width: 700px;
}
.jh1 {
	float: left;
	padding-right: 3px;
	padding-top: 4px;
}
.linkm a {
	display: block;
	float: left;
}
.lottery_title {
	background-image: url(images/lottory_t.gif);
	clear: both;
	height: 30px;
	width: 326px;
	color: #A6BDD7;
	line-height: 30px;
	padding-right: 10px;
}
.lo_link a,.lo_link a:visited {
	color: #CC3300;
	text-decoration: underline;
}
.lo_link a:hover {
	color: #F60;
	text-decoration: none;
}
.lottery_news {
	padding-left: 5px;
	padding-right: 10px;
}
.lottery_news li{
	background-image: url(images/p.gif);
	background-repeat: no-repeat;
	background-position: left;
	line-height: 20px;
	padding-left: 8px;
}
.moe_lo a,.moe_lo a:visited { color:#1F659E}
.h2_right {
	float:right;
	font-size: 12px;
	font-weight: normal;
	color: #BACCDA;
}
.h2_right a,.h2_right a:visited {
	color:#426CA6
}
.kai_s a {
	line-height: 28px;
	display: block;
	float: left;
	height: 28px;
	width: 60px;
	font-size: 12px;
	text-align: center;
	font-weight: normal;
}
.kai_on:link,.kai_on:visited {
	background-image: url(images/kai_on.gif);
	color: #3366CC;
	font-weight: bold;
}
.gl {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #B8D0E9;
	border-bottom-color: #B8D0E9;
	border-left-color: #B8D0E9;
	height: 404px;
	clear: both;
	float: left;
}
.gl2 {
	border: 1px solid #9BBDD3;
}
.q_menu {
	clear: both;
	height: 26px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #7DB0D7;
}
.q_menu a {
	display: block;
	float: left;
	height: 25px;
	line-height: 25px;
	text-align: center;
}
.q_menu .qon:link,.q_menu .qon:visited {
	font-weight: bold;
	color: #3084D8;
	background-image: url(images/uuif.gif);
	background-repeat: repeat-x;
	background-position: left top;
	width: 119px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E4F0FA;
}
.q_menu .qoff {
	color: #677A8F;
	width: 118px;
	background-color: #F5F9FD;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #B8D0E9;
}
.fr_link {
	line-height: 30px;
	background-image: url(images/frlinkbg.gif);
	clear: both;
	height: 30px;
	width: 930px;
	padding-top: 1px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
	color: #BFC8DD;
}
.hotts {
	background-color: #E4F0FA;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 4px;
	float: left;
}
.hotts li {
	height: 56px;
	overflow: hidden;
	width: 228px;
	vertical-align: bottom;
	background-color: #FFF;
	border: 1px solid #B4CCE0;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 4px;
	margin-left: 0px;
	float: left;
}
.hotts li:hover {
	border: 1px solid #3CF;
}
.tmp { padding-right:5px}
.tmp a,.tmp a:visited {
	color: #2869A4;
	text-decoration: underline;
}
.bfbf {
	font-size: 13px;
	font-weight: bold;
	color: #666;
	background-image: url(images/df.gif);
	background-repeat: no-repeat;
	background-position: 6px 6px;
	font-family: Verdana, Geneva, sans-serif;
}
.bfbf2 {
	font-size: 12px;
	color: #666;
	background-image: url(images/df2.gif);
	background-repeat: no-repeat;
	background-position: 4px 6px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
}
.dl:link {
	text-decoration: underline;
}
.nbaph td {
	text-align: center;
	line-height:21px;
}
.nbay td { color:#FFF; background-color:#6282B4}
.soccegame {
	WIDTH: 238px;
	HEIGHT: 25px;
	background-color: #E4F0FA;
}
.soccegame LI {
	FLOAT: left
}
.soccegame LI A {
	DISPLAY: block;
	WIDTH: 47px;
	HEIGHT: 21px;
	TEXT-ALIGN: center;
	padding-top: 4px;
	color: #5C99CF;
}
.soccegame .inon A,.soccegame .inon A:visited,.soccegame .inon A:hover {
	BACKGROUND-POSITION: left -123px;
	FONT-WEIGHT: bold;
	BACKGROUND-IMAGE: url(images/img10.gif);
	COLOR: #fff;
	BACKGROUND-REPEAT: no-repeat;
	text-decoration: none;
}
.js1 {
	BACKGROUND-COLOR: #e7e7e7
}
.jfb .jstitle TD {
	COLOR: #fff; BACKGROUND-COLOR: #6282B4
}
.jfb TD {
	COLOR: #666; LINE-HEIGHT: 23px; TEXT-ALIGN: center
}
.red_k_n {
	font-size: 14px;
	font-weight: bold;
	color: #f00;
}
.ms1,.ms2,.ms3,.ms4 { float:left}
.ms1 { width:60px}
.ms2 { width:110px; padding-top:3px}
.ms2 input { height:16px}
.ms3 { width:40px}
.ms4 { width:60px; padding-top:3px}
.kops {
	position:absolute;
	background-color: #FFF;
	border: 1px solid #9BAAB7;
	z-index:887;
	left: 68px;
	top: 20px;
	
}
.kops li{
	clear: both;
	line-height: 28px;
}
.kops li a {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	height:28px;
	border-bottom-color: #E7E9EB;
	padding-right: 10px;
	padding-left: 10px;
	display: block;
	clear: both;
}
.kops2 {
	position:absolute;
	background-color: #FFF;
	border: 1px solid #9BAAB7;
	z-index:9999;
	right: 1px;
	top: 20px;
	
}
.kops2 li{
	clear: both;
	line-height: 28px;
}
.kops2 li a {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	height:28px;
	border-bottom-color: #E7E9EB;
	padding-right: 10px;
	padding-left: 10px;
	display: block;
	clear: both;
}
.kops3 {
	position:absolute;
	background-color: #FFF;
	border: 1px solid #9BAAB7;
	z-index:9999;
	right: 100px;
	top: 20px;
	
}
.kops3 li{
	clear: both;
	line-height: 28px;
}
.kops3 li a {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	height:28px;
	border-bottom-color: #E7E9EB;
	padding-right: 10px;
	padding-left: 10px;
	display: block;
	clear: both;
}
#tops {
	width: 950px;
	padding-top:5px;
	margin-right: auto;
	margin-left: auto;
}
#stop {
	background-color: #F3F4F9;
	height: 27px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D8E0E7;
}
#stop .kops li a:hover {
	color: #FFF;
	background-color: #F60;
	text-decoration: none;
}
#stop .kops2 li a:hover {
	color: #FFF;
	background-color: #F60;
	text-decoration: none;
}
#stop .kops3 li a:hover {
	color: #FFF;
	background-color: #F60;
	text-decoration: none;
}
.userint {
	background-color: #FFF;
	width: 100px;
	border: 1px solid #B5BACE;
	height: 18px;
}
.userbtn {
	background-image: url(/Images/login2.gif);
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	height: 20px;
	width: 45px;
}
#toplogin
{
	border-top: none;
	border-bottom:none;
	line-height: 25px;
	height: 25px;
	color: #525252;
	width:930px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	position: relative;
	z-index :9999;
}
#toplogin A:hover
{
    color: #CC3300;
}
.ko:link {
	background-image: url(/Images/tg.png);
	background-repeat: no-repeat;
	background-position: right 5px;
	padding-right: 25px;
	display: block;
	float: left;
	margin-right: 10px;
	margin-left: 4px;
	padding-left: 8px;
	z-index:888;
	text-decoration: underline;
	font-weight: bold;
}
.b_l9{display: block;clear: both;height: 26px;width: 131px;}
#b_L9 { float:left;position: relative;z-index: 9998;}
#b_divL9  {
	background-color: #FFF;position: absolute;width: 70px;top: 19px;left: 10px;padding-top:4px;
	border-right: 1px solid #9BAAB7;border-left: 1px solid #9BAAB7;border-bottom: 1px solid #9BAAB7;
}
#b_L9 #b_divL9 a,#b_L9 #b_divL9 a:visited{
	clear: both;width: 64px;height: 24px;line-height: 24px;
	background-image: none;background-color: #FFF;float: left; text-align:left;padding:0px 0 0 5px;
}
#b_L9 #b_divL9 a:hover {background-image: none;background-color: #FBEBB9;} 
.b_s9 a,.b_s9 a:visited{
	display: block;
	width: 64px;
	float: left;
	height: 20px;
	line-height: 20px;
	text-align: left;
	padding:0 1px 0 7px;
	background-image: url(/Images/jc/tool1.gif);
	background-repeat: no-repeat;
	background-position: left 0px;
}
.b_s9 a:hover,.b_bb a,.b_bb a:visited,.b_bb a:hover
{
	color:#f00;height: 20px;width: 64px;background: url(/images/jc/left1.gif) no-repeat -22px -42px;
	text-decoration: none;background-color: #FFF;
	padding:0px 0 0px 6px;display: block;
	line-height: 20px;
	border-right: 1px solid #9BAAB7;
	border-left: 1px solid #9BAAB7;
	border-top: 1px solid #9BAAB7;
    text-align:left;
} 
