html {font-family: Arial, sans-serif; /* 1 */  -ms-text-size-adjust:none; /* 2 */  -webkit-text-size-adjust:none; /* 2 */  font-size:13px; -webkit-font-smoothing: antialiased; }
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display: block;}
audio,canvas,progress,video {display: inline-block; /* 1 */vertical-align: baseline; /* 2 */}
q:before,q:after{content:'';}
ol,ul {list-style:none;}
abbr,acronym{border:0;}
a{text-decoration:none;}
a:link,a:visited{color:#333333;}
a:hover,a:active{color:#949599;}
a:active{outline:none;}
a:focus{-moz-outline-style:none;}
audio:not([controls]) {display: none;height: 0;}
[hidden],template {display: none;}
mark {background: #ff0;color: #000;}
small {font-size: 80%;}
sub,sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
img {border: 0;}
hr {-moz-box-sizing: content-box;box-sizing: content-box;height: 0;}
button,input,optgroup,select,textarea {color: inherit; /* 1 */font: inherit; /* 2 */margin: 0; /* 3 */}
button {overflow: visible;}
button,select {text-transform: none;}
button,html input[type="button"], /* 1 */input[type="reset"],input[type="submit"] {-webkit-appearance: button; /* 2 */cursor: pointer; /* 3 */}
button[disabled],html input[disabled] {cursor: default;}
button::-moz-focus-inner,input::-moz-focus-inner {border: 0;padding: 0;}
input {line-height: normal;}
input[type="checkbox"],input[type="radio"] {box-sizing: border-box; /* 1 */padding: 0; /* 2 */}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {height: auto;}
input[type="search"] {-webkit-appearance: textfield; /* 1 */-moz-box-sizing: content-box;-webkit-box-sizing: content-box; /* 2 */box-sizing: content-box;}
.fade{-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
fieldset {border: 1px solid #c0c0c0;margin: 0 2px;padding: 0.35em 0.625em 0.75em;}
legend {border: 0; /* 1 */padding: 0; /* 2 */}
textarea {overflow: auto;}
optgroup {font-weight: bold;}
table {border-collapse: collapse;border-spacing: 0;}
td,th {padding: 0;} 
/*font
@import url(https://fonts.googleapis.com/css?family=Din:100,300,400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Din+Condensed:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Din+Slab:100,300,400,700);
@import url(https://fonts.googleapis.com/css?family=Patua+One);*/
/*heading*/

h1,h2,h3,h4,h5,h6{line-height:normal;font-size-adjust:none;font-style:normal;font-variant:normal;font-weight:normal;}
h1{font-size:200%;}
h2{font-size:150%;}
h3{font-size:120%;}
h4{font-size:100%;}
h5{font-size:95%;}
h6{font-size:85%;}
p{font-size:100%; margin:5px 0 10px 0;}

/*float*/
.left-side{float:left;}
.right-side{float:right;}
.off{overflow:hidden;}
.nofloat{float:none;}
/*margin*/
.m30-l{margin-left:30px;}.m30-r{margin-right:30px;}.m30-b{margin-bottom:30px;}.m30-t{margin-top:30px;}.m30-all{margin:30px;}
.m20-l{margin-left:20px;}.m20-r{margin-right:20px;}.m20-b{margin-bottom:20px;}.m20-t{margin-top:20px;}.m20-all{margin:20px;}
.m15-l{margin-left:15px;}.m15-r{margin-right:15px;}.m15-b{margin-bottom:15px;}.m15-t{margin-top:15px;}.m15-all{margin:15px;}
.m10-l{margin-left:10px;}.m10-r{margin-right:10px;}.m10-b{margin-bottom:10px;}.m10-t{margin-top:10px;}.m10-all{margin:10px;}
.m5-l{margin-left:5px;}.m5-r{margin-right:5px;}.m5-b{margin-bottom:5px;}.m5-t{margin-top:5px;}.m5-a{margin:5px;}
.mp15-l{margin-left:1.2%;}.mp15-r{margin-right:1.2%;}.mp15-b{margin-bottom:1.2%;}.mp15-t{margin-top:1.2%;}.mp15-a{margin:1.2%;}
/*Padding*/
.p30-l{padding-left:30px;}.p30-r{padding-right:30px;}.p30-b{padding-bottom:30px;}.p30-t{padding-top:30px;}.p30-all{padding:30px;}
.p20-l{padding-left:20px;}.p20-r{padding-right:20px;}.p20-b{padding-bottom:20px;}.p20-t{padding-top:20px;}.p20-all{padding:20px;}
.p15-l{padding-left:15px;}.p15-r{padding-right:15px;}.p15-b{padding-bottom:15px;}.p15-t{padding-top:15px;}.p15-all{padding:15px;}
.p10-l{padding-left:10px;}.p10-r{padding-right:10px;}.p10-b{padding-bottom:10px;}.p10-t{padding-top:10px;}.p10-all{padding:10px;}
.p5-l{padding-left:5px;}.p5-r{padding-right:5px;}.p5-b{padding-bottom:5px;}.p5-t{padding-top:5px;}.p5-all{padding:5px;}
/*width %*/
.w100{width:100%;}
.w90{width:90%;}
.w80{width:80%;}
.w70{width:70%;}
.w60{width:60%;}
.w50{width:50%;}
.w40{width:40%;}
.w30{width:30%;}
.w8col{width:12.5%;}
.w6col{width:16.66666666666667%;}
.w3col{width:33.33333333333333%;}
.w25, .w4col{width:25%;}
.w2col{width:66.66%;}
.w20, .w5col{width:20%;}
.w10{width:10%;}
.w160{width:160px;}
.w300{width:300px;}
.wmain{width:54.13%;}
/*Banner*/
.banner160x600{margin:20px 0;}
.banner300x250{margin:20px 0;}
.banner160x600.top, .banner300x250.top{margin-top:0;}
.banner160x600.bottom, .banner300x250.bottom{margin-bottom:0;}
.banner468x60{float:right;}
.adv-breakingnews{max-width:1170px; height:auto; display:block;}
.adv-breakingnews img{display:block; width:100%;}
.fix-bottom-block{border-top:1px solid #dfdfdf;display:block; position:fixed; width:100%; height:50px; bottom:0; background:rgba(255,255,255,0.9); z-index:1002; margin:0 auto; text-align:center;}
.fix-bottom-block .banner1024x50{width:960px; height:50px; display:block; margin:0 auto; position:relative;}
.banner1024x50 .closed{padding:5px 8px; background:#000; color:#fff; cursor:pointer; font-size:9px; text-transform:uppercase;position:absolute; top:-6px; right:0; display:inline;z-index:1004; border-radius:6px 0 0 0; -webkit-border-radius:6px 0 0 0; -moz-border-radius:6px 0 0 0;}

/*MY CLASS*/
body{margin:0 auto; padding:0;width:100%; font-size:100%;font-family: Arial, sans-serif;-webkit-font-smoothing: antialiased; color:#333333;}
.with-bottom-banner{margin-bottom:51px;}
.scrollTop {display:none; position: fixed; width:50px; height:50px; z-index: 1003; background: url(http://cdn.tmpo.co/web/teco/images/all-icon.png) no-repeat; background-position:-3px -244px; bottom:0px; right:10px; cursor: pointer;opacity:0.5;filter: alpha(opacity=50);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";}
.scrollTop:hover{opacity:1;filter: alpha(opacity=100);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
.logo-tempo{display:block; height:40px; margin:20px 0; width:auto; float:left;}
.logo-tempo.kanal-head{display:block; height:80px; margin:0; width:auto; float:left;}
.logo-tempo.kanal-head .logo-kanal{display:block; margin-bottom:2px; width:102px; height:18px; background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png) no-repeat; background-position:0 -628px;}
.logo-tempo.kanal-head .logo-kanal a{display:block; overflow:hidden; margin-bottom:2px; width:102px; height:18px; }
.logo-tempo.kanal-head .logo-kanal:hover{opacity:0.7;filter: alpha(opacity=70);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";}
.logo-tempo.kanal-head h1{font-size:60px; font-family:'DIN Black',Arial, Helvetica, sans-serif; letter-spacing:-1.5px;line-height:50px;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust:none;}
.logo-tempo.kanal-head a{color:#333333; display: block;}
.logo-tempo.kanal-head a:hover {color:#949599;}
.logo-indonesiana{width:120px; height:21px; float:left; background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png) no-repeat; background-position:-1px -970px; display:block; overflow:hidden; clear:both;}
.logo-tempostore{width:129px; height:21px; float:left; background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png) no-repeat; background-position:-1px -1000px; display:block; overflow:hidden; clear:both;}
.logo-indonesiana a{width:120px; height:21px; display:block; overflow:hidden;}
.logo-majalahtempo{width:128px; height:48px; background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png) no-repeat; background-position:-0px -870px; display:block; overflow:hidden; clear:both;}
.logo-tempostore a{width:129px; height:21px; display:block; overflow:hidden;}
.logo-majalahtempo a{width:128px; height:48px; overflow:hidden; display:block;}
.logo-korantempo{width:128px; height:19px; background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png) no-repeat; background-position:-0px -851px; display:block; overflow:hidden; clear:both;}
.logo-korantempo a{width:128px; height:19px; overflow:hidden; display:block;}
.logo-tempoenglish {width:128px; height:48px; background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png) no-repeat; background-position:-0px -920px; display:block; overflow:hidden; clear:both;}
.logo-tempoenglish a{width:128px; height:48px; overflow:hidden; display:block;}
.full-body{/*max-width:1200px;*/ margin:0 auto; padding:0; font-size:100%;/*min-width:970px;*/}
.pages{max-width:1170px; margin:0 auto; padding:0 15px; display:block;position:relative; /*min-width:970px;*/ }
header{display:block; height:80px;}
/*top nav*/
.top-nav{border-bottom:1px solid #dfdfdf; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; height:33px; display:block; background:#fff;}
ul.lang li{padding:10px; text-align:center; float:left; border-right:1px solid #dfdfdf; font-size:10px; text-transform:uppercase;}
ul.lang li:last-child{}
ul.lang li a{color:#949599;}
ul.lang li a:hover{color:#333;}
ul.login li{padding:9px; text-align:center; float:right; border-left:1px solid #dfdfdf; font-size:10px; text-transform:uppercase;}
ul.login li a{color:#949599;}
ul.login li a:hover{color:#333;}
ul.login li .user-register{background:url(http://cdn.tmpo.co/web/teco/images/small-icon.png) no-repeat; background-position: -2px -18px; display:inline-block; width:13px; height:12px;}
ul.login li .user-login{background:url(http://cdn.tmpo.co/web/teco/images/small-icon.png) no-repeat; background-position: -18px -18px; display:inline-block; width:13px; height:12px;}
/*search*/
.block-search{float:right;border-left:1px solid #dfdfdf; position:relative;}
.top-nav .search-bar{width:200px; height:23px; font-size:12px; padding:5px 30px 5px 5px; border:none;}
.block-search .search-button {cursor:pointer; width:24px; height:24px; position:absolute; right:3px; top:5px; border:none; background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png) no-repeat; background-position:-101px -195px;}
.top-nav .search-bar:focus{text-shadow:1px 1px 1px #fff; box-shadow: inset 0px 0px 8px rgba(200,200,200, .8), 0px 1px 0px rgba(255,255,255, .8);}
/*top medsos*/
.top-nav .top-medsos{width:84px; float:right; overflow:hidden; height:33px;}
.top-medsos .top-rss a{background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png); background-position: -9px -87px; width:27px; height:33px;float:left;border-left:1px solid #dfdfdf; position:relative;}
.top-medsos .top-twitter a{background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png); background-position: -94px -87px; width:27px; height:33px;float:left;border-left:1px solid #dfdfdf;}
.top-medsos .top-facebook a{background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png); background-position: -66px -87px; width:27px; height:33px;float:left;border-left:1px solid #dfdfdf;}
.top-medsos .top-google a{background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png); background-position: -40px -87px; width:27px; height:33px;float:left;border-left:1px solid #dfdfdf;}
.top-medsos .top-rss a:hover, .top-medsos .top-twitter a:hover, .top-medsos .top-facebook a:hover, .top-medsos .top-google a:hover{opacity:0.5;filter: alpha(opacity=50);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";}
/*running text*/
.top-nav .block-text-run{float:right; max-width:527px;}
.top-nav .tickercontainer {background: #fff; width:100%; height:13px; margin: 0; padding:10px 0;overflow: hidden;}
.tickercontainer .mask {position: relative;left:0px;top:0px;width:100%; overflow: hidden;}
ul.newsticker {position: relative;left:0;font-size:11px;list-style-type: none;margin: 0;padding: 0;}
ul.newsticker li {float: left;margin: 0;padding: 0;background: #fff;}
ul.newsticker a {white-space: nowrap;padding: 0;color: #333333;margin: 0 30px 0 0;} 
ul.newsticker a:hover{color:#ed1b23;}
ul.newsticker span {margin: 0 5px 0 0;color:#ed1b23;} 
/*main menu & top link*/
.block-toplink{display:block;}
ul.top-link{display:block;}
ul.top-link li{display:inline-block;margin-right:8px; font-size:9px; text-transform:uppercase; color:#949599;}
ul.top-link li:last-child{margin-right:0;}
ul.top-link li a{color:#999;}
ul.top-link li a:hover{color:#333;}
.stand-menu {position:fixed; top:0; z-index:999;display:block; width:100%; left:0; right:0; box-shadow:0 4px 2px -2px rgba(153,153,153,0.3);-webkit-box-shadow:0 4px 2px -2px rgba(153,153,153,0.3); -moz-box-shadow:0 4px 2px -2px rgba(153,153,153,0.3);}
.block-outmenu{width:100%;height:0; background:#fff; text-align:center; margin:0 auto; padding:0;}
.block-mainmenu{background:#fff; border-top:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; display:block;height:auto; min-height:33px;}
.block-mainmenu.white-border{border:none; height:34px;}
ul.main-menu li{padding:7px 8px;float:left; font-size:15px; font-family:'Din Bold','Arial Narrow',Arial, Helvetica, sans-serif; font-weight:bold; text-transform:uppercase; letter-spacing:-0.5px;}
ul.main-menu li a{color:#333333;}
ul.main-menu li a:hover, ul.main-menu li.selected a:hover{color:#949599;}
ul.main-menu li:first-child{padding:0;}
ul.main-menu li.small-logo, ul.main-menu li.small-logo a {padding:0; width:34px; height:34px;}
ul.main-menu li.logos{width:34px; height:34px; background:#ed1b23;display:block; padding:0;display:none;background-position:-50px -193px}
ul.main-menu li.logos a, ul.main-menu li.logos a:hover{width:34px; height:34px; background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png) no-repeat;display:block; padding:0; background-position:-51px -193px;}
ul.main-menu li.home{width:33px; height:33px; padding:0;}
ul.main-menu li.home a{display:block;padding:0; width:33px; height:33px; background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png) no-repeat; background-position:-94px -519px;}
ul.main-menu li.home a:hover {background-image: url(http://cdn.tmpo.co/web/teco/images/all-icon.png) no-repeat; background-position:-94px -552px;}
ul.main-menu li.selected a{color:#ed1b23;}

#main-menu-sub{}
#main-menu-sub ul{	list-style:none;	position:relative;	float:left;	margin:0;	padding:7px 8px; z-index:999;}
#main-menu-sub ul a{	display:block;	color:#333;	text-decoration:none;	font-size:12px;	text-transform:uppercase;	border-bottom:1px solid #dfdfdf;}
#main-menu-sub ul li:last-chid a{border-bottom:none;}
#main-menu-sub ul li{	position:relative;	float:left;	margin:0;	padding:0;cursor:pointer;}
#main-menu-sub ul li.current-menu-item{}
#main-menu-sub ul li.burger{width:33px; height:33px; background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png) no-repeat; background-position:-92px -389px; cursor:pointer;}
#main-menu-sub ul li.burger:hover{width:33px; height:33px; background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png) no-repeat; background-position:-92px -422px; cursor:pointer;}
#main-menu-sub ul li:hover{background:#fff;}
#main-menu-sub ul ul{	display:none;	position:absolute;	top:100%;	right:100;	background:#fff;	padding:0;	border:1px solid #dfdfdf;}
#main-menu-sub ul ul li{	float:none;	width:120px; background:#fff; border-top:1px solid #dfdfdf; margin-top:-1px;}
#main-menu-sub ul ul a{	line-height:120%; padding:10px 20px}
#main-menu-sub ul ul ul{	top:0;	left:100%}
#main-menu-sub ul li:hover > ul{	display:block}
#main-menu-sub ul ul li a:hover{background:#949599; color:#fff;}

/*populer*/
ul.populer{background:#fff;}
ul.populer li{display:block; margin:10px 0 15px 0; background:#fff; text-align:left; font-weight:normal;}
ul.populer li:last-child{margin-bottom:0;}
ul.populer li h3{font-size:100%; padding-left:45px; font-weight:500;}
ul.populer li .number{font-size:35px; color:#ccc; width:30px; text-align:center; float:left; font-family:'Din Light',Arial, Helvetica, sans-serif; font-weight:300; line-height:28px; letter-spacing:-5px;}
ul.populer li a:hover{color:#949599;}


.pages-col{clear:both;box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; width:100%; margin-top:15px; margin-bottom:40px; overflow:hidden;}
.pages-col .double-block{position:relative;display:block; width:auto; margin-left:190px; margin-right:330px; top:0;}
.pages-col .left-col{float:left;width:160px; display:block; margin-bottom:40px;}
.pages-col .right-col{float:right; width:300px; display:block; margin-bottom:40px;}
.double-block .center-col{position:relative;display:block; width:auto;}
.red{color:#ed1b23;}
.bgw{background:#fff;}
.blocking{position:relative; display:block;}
.blocking .title{margin:0 0 10px 0; border-bottom:5px solid #dfdfdf; padding-bottom:5px; font-family:'Patua One',Arial, Helvetica, sans-serif; font-size:24px; min-height:24px; }
.blocking .title.small{margin:0 0 10px 0; border-bottom:none; padding-bottom:0; font-size:18px;}
.blocking .title.small.bot3{margin-bottom:3px;}
.blocking .title.komentar{margin:0 0 10px 0; border-bottom:1px solid #dfdfdf; padding:3px 0; font-family:'Patua One',Arial, Helvetica, sans-serif; font-size:24px; border-top:1px solid #dfdfdf; position:relative;}
.blocking .title .tab-comment a{float:right; top:-3px; position:relative; width:107px; height:35px; background:#ccc;}
.blocking .title .tab-comment.fb a{background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png) no-repeat; background-position:0px -656px;float:right;}
.blocking .title .tab-comment.tid a{background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png) no-repeat; background-position:0px -691px;float:right;}
.blocking .title .tab-comment.fb a:hover, .blocking .title .tab-comment.tid a:hover{opacity:0.8;filter: alpha(opacity=80);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";}
.blocking .title.top{padding-bottom:none; border-bottom:none;}
.blocking .more{float:right; font-weight:bold; font-family:Arial, Helvetica, sans-serif; position:relative; top:-2px;}
.blocking .more.indeks-terkini{font-size:14px; padding-top:7px;}
.blocking .more a{color:#929497;}
.blocking .more a:hover{color:#ed1b23;}
ul.list-indikator{margin-bottom:15px;}
ul.list-indikator li{margin:5px 0;}
.big-14f{font-size:14px;}
ul.list-text li{border-top:1px solid #dfdfdf; margin:6px 0; padding:6px 0 0 0; display:block; overflow:hidden; position:relative;}
ul.list-text li.no-border{border-top:none; margin:0;}
ul.list-text li h4{font-size:100%;}
ul.list-text li h4.top-text{position:absolute; display:block; padding:5px; bottom:3px; left:0; background: rgba(255,255,255,0.8);}
ul.list-text li h3{font-size:120%;}
ul.list-text li .penulis{clear:both;font-size:10px; text-transform:uppercase; display:block; margin-top:5px; color:#949599; padding:5px; background:#f2f2f2; overflow:hidden;}
ul.list-text li .judul-small{padding:1px 4px; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; background:#ed1b23; font-size:10px; color:#fff; position:relative; top:-2px; text-transform:uppercase;}
ul.list-text li .penulis p{margin:2px 0;}
ul.list-text li .penulis a{color:#949599;}
ul.list-text li .penulis a:hover{color:#202020;}
ul.list-text li .img-penulis {width:30px; height:30px; float:left; margin-right:5px;}
ul.list-text li .img100{width:100%; margin-bottom:3px;display:block;}
ul.list-text li .img-left{width:150px; margin-bottom:5px; height:auto; float:left; margin-right:10px;}
ul.list-text li:first-child{border-top:none; margin-top:0; padding-top:0;}
ul.list-text li:last-child{margin-bottom:0;}
ul.list-text li h5.waktu{font-size:10px; text-transform:uppercase; color:#949599; display:inline-block; margin-bottom:3px;}
ul.list-text li h5.kanal{font-size:10px; text-transform:uppercase; color:#ed1b23; display:inline-block; margin-bottom:3px; margin-right:5px;}
ul.list-pic li{padding:0; display:block; overflow:hidden; margin-top:5px;}
ul.list-pic li:first-child{margin-top:0;}
ul.list-pic li h4{font-size:100%;}
ul.list-pic li .img100{width:100%; margin-bottom:3px; display:block;}
ul.list-pic li .block-pic {position:relative;}
ul.list-pic li .block-pic .title-terkait{padding:5px 8px; font-size:10px; text-transform:uppercase; background:#333333; color:#fff; position:absolute; bottom:0; left:0; z-index:11; overflow:hidden; display:inline-block;}
/*double img*/
ul.list-double{display:block; overflow:hidden;}
ul.list-double li{width:145px; float:left; margin-right:10px; margin-bottom:10px; display:block; overflow:hidden;}
ul.list-double li:nth-child(2n+2){margin-right:0;}
ul.list-double li img{width:100%; height:auto; display:block; margin-bottom:5px;}
ul.list-double li h4{font-size:100%;}
ul.list-double li h3{font-size:120%;}
/*terhangat*/
.block-terhangat{border:4px solid #dfdfdf; display:block;}
.block-terhangat .header{padding:10px 5px; background:#ed1b23;font-family:'Patua One',Arial, Helvetica, sans-serif; font-size:16px; text-align:center; color:#fff; text-transform:uppercase;}
ul.list-terhangat li a{padding:10px; border-top:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; background:#fff; display:block; text-align:center;}
ul.list-terhangat li h3{font-weight:bold; margin:0; font-size:100%;}
ul.list-terhangat li a:hover{background:#dfdfdf; color:#949599; text-shadow:1px 1px 1px #fff;}
/*terkini*/
ul.list-terkini li{border:1px solid #dfdfdf;padding:10px; display:block; position:relative; margin-top:-1px;overflow: hidden;}
ul.list-terkini li:first-child{ margin-top:0px;}
ul.list-terkini li.banner{text-align:center; margin:0 auto; padding-left:0; padding-right:0; margin-top:-1px;overflow:none;}
ul.list-terkini li.box-khusus{border:none; text-align:center; margin:0 auto;padding:0;}
ul.list-terkini li .img-150{width:150px; height:86px;}
ul.list-terkini li .img-opini{width:86px; height:86px; margin:0 32px 0px 32px; overflow:hidden;}
ul.list-terkini li h3{font-size:25px; font-family:'Din Bold',Arial, Helvetica, sans-serif; font-weight:900; margin-bottom:5px; padding: 0 20px 3px 0;line-height: 27px; letter-spacing:-1px;overflow:hidden;}
ul.list-terkini li h3.indikator{font-size:18px; font-family:'Din Bold',Arial, Helvetica, sans-serif; font-weight:900; margin-bottom:5px; padding: 0 20px 0 0;line-height: 22px; letter-spacing:-0.5px;}
ul.list-terkini li h5.kanal{font-size:10px; text-transform:uppercase; color:#ed1c24; display:inline-block; margin-right:15px;}
ul.list-terkini li h5.kanal a{color:#ed1c24;}
ul.list-terkini li h5.kanal a:hover{color:#333333;}
ul.list-terkini li h5.waktu, ul.list-terkini li h5.penulis{font-size:10px; text-transform:uppercase; color:#949599; display:inline-block; margin-right:15px;}
ul.list-terkini li .box-gambar{float:left;margin-right:10px; overflow:hidden;}
ul.list-terkini li .box-text{width:auto; overflow:hidden;}

/*list indeks*/
ul.list-indeks li{border:1px solid #dfdfdf;padding:10px; display:block; position:relative; margin-top:-1px;}
ul.list-indeks li:first-child{ margin-top:0px;}
ul.list-indeks li.banner{text-align:center; margin:0 auto; padding-left:0; padding-right:0; margin-top:-1px;}
ul.list-indeks li.box-khusus{border:none; text-align:center; margin:0 auto;padding:0;}
ul.list-indeks li .img-150{width:150px; height:86px;}
ul.list-indeks li h3{font-size:18px; font-family:'Din Light',Arial, Helvetica, sans-serif; font-weight:900; margin-bottom:0px; padding: 0 20px 0 0;line-height: 22px; letter-spacing:-1px;}
ul.list-indeks li h5.kanal{font-size:10px; text-transform:uppercase; color:#ed1c24; display:inline-block; margin-right:15px;}
ul.list-indeks li h5.kanal a{color:#ed1c24;}
ul.list-indeks li h5.kanal a:hover{color:#333333;}
ul.list-indeks li h5.waktu{font-size:10px; text-transform:uppercase; color:#949599; display:inline-block;}
ul.list-indeks li .box-gambar{float:left;margin-right:10px; overflow:hidden;}
ul.list-indeks li .box-text{width:auto; overflow:hidden;}
.indeks-button{padding:6px 10px; text-align:center; background:#333; color:#fff; text-transform:uppercase; font-size:14px; font-weight:bold; margin-left:10px; border:none; cursor:pointer;border:1px solid #333;}
.indeks-button:hover{background:#ed1b23;border:1px solid #ed1b23;}
.list-select{display:inline-block; margin:3px 0 5px 0;margin-right:5px; padding:5px; border:1px solid #949599;}
/* PAGGING */
ul.pagination-nb {padding: 10px 0; overflow:hidden; margin:0 0 5px 0;font-size: 13px;font-weight: bold; display:block;}
ul.pagination-nb.tengah{text-align:center; margin-top:10px;}
ul.pagination-nb li{display:inline-block;}
ul.pagination-nb li a{color:#333333; text-align:center; border-radius:3px;border: solid 1px #dfdfdf;box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);text-decoration: none;text-shadow: 0px 1px 0px rgba(255,255,255, 1);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9); padding:5px 10px;margin-right: 4px; }
ul.pagination-nb li a:hover{color:#999;}
ul.pagination-nb li.active {background: #616161;box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);color: #f0f0f0;text-shadow: 0px 0px 3px rgba(0,0,0, .5);padding:5px 10px;margin-right:4px;border-radius:3px; display:inline-block;border: solid 1px #dfdfdf;}

/*display cetak majalah-koran-tebi*/


/* INDIKATOR */
input[type=radio].css-checkbox {display:none;}
input[type=radio].css-checkbox + label.css-label {padding-left:27px;height:22px; display:inline-block;background-position:-103px -227px;font-size:13px;vertical-align:middle;cursor:pointer;font-weight:bold;}
input[type=radio].css-checkbox:checked + label.css-label {background-position:-103px -249px; color:#ed1b23;}
label.css-label {background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png) no-repeat;}
.tanya-indikator{font-family:Arial, Helvetica, sans-serif; font-weight:bold;}
.jawab-indikator{margin-top:5px;}
button.indikator{padding:8px 10px; display:inline-block; background:#202020; color:#fff; text-transform:uppercase; text-align:center; cursor:pointer; border:0;}
button.indikator:hover{background:#ed1b23;}

/*list foto thumbnail */
ul.list-foto-kanal{overflow:hidden;}
ul.list-foto-kanal li{width:23%; float:left; margin-right:2.66%;border:none; padding:0; margin-bottom:10px; overflow:hidden; height:180px;}
ul.list-foto-kanal li .img-list-foto{width:100%; display:block; margin:0 0 3px 0;}
ul.list-foto-kanal li:hover{opacity:0.5;}
ul.list-foto-kanal li:nth-child(4n+4){margin-right:0;}
ul.list-foto-kanal li h4{font-weight:bold; font-size:13px; margin:0; padding:0; margin-top:3px;}
ul.list-foto-kanal li h5.kanal{font-size:10px; text-transform:uppercase; color:#ed1c24; display:inline-block; margin-right:10px;}
ul.list-foto-kanal li h5.kanal a{color:#ed1c24;}
ul.list-foto-kanal li h5.kanal a:hover{color:#333333;}
ul.list-foto-kanal li h5.waktu{font-size:10px; text-transform:uppercase; color:#949599; display:inline-block;}
ul.list-foto-kanal .banner{text-align:center; margin:0 auto; padding-left:0; padding-right:0; width:100%; display:block; margin-bottom:10px;}
.load-foto{text-align:center; margin:0; display:block; overflow:hidden; height:51px; width:100%; padding:20px 0; min-height:300px;}

/*share kanal & konten*/
.share-konten{border-top:5px solid #ddd; background:#949599; padding:0; overflow:hidden; display:block;}
.share-konten.top{border-top:none; background:transparent; color:#333333;}
.share-konten .title{font-family:'Din Bold',Arial, Helvetica, sans-serif; font-size:14px; float:left; color:#fff; margin:6px 5px; font-weight:normal;text-transform:uppercase; border:none; padding:0;}
ul.share-left li {overflow:hidden;  width:auto; text-align:center;}
ul.share-big li {float:right;  overflow:hidden;  width:auto;}
ul.share-big li a, ul.share-left li a{color:#fff; display:block;padding:3px 10px; height:40px;}
ul.share-left li .fb-icon{ width:40px; height:40px; background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png) no-repeat; background-position:-6px -414px; float:left; margin-right:5px;}
ul.share-left li .twitter-icon{ width:40px; height:40px; background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png) no-repeat; background-position:-2px -466px; float:left; margin-right:5px;}
ul.share-left li .google-icon{ width:40px; height:40px; background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png) no-repeat; background-position:-49px -414px; float:left; margin-right:5px;}
ul.share-left li .like-icon{ width:40px; height:40px; background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png) no-repeat; background-position:-44px -466px; float:left; margin-right:5px;}
ul.share-left li .pinterest-icon{ width:40px; height:40px; background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png) no-repeat; background-position:-86px -466px; float:left; margin-right:5px;}
ul.share-big li.fb a, ul.share-left li.fb a{background:#3b5999;}
ul.share-big li.twitter a, ul.share-left li.twitter a{background:#00acee;}
ul.share-big li.google a, ul.share-left li.google a{background:#dd4c39;}
ul.share-big li.pinterest a, ul.share-left li.pinterest a{background:#cc0000;}
ul.share-big li.like a, ul.share-left li.like a{background:#4f7ddf;}
ul.share-big li.fb a:hover, ul.share-big li.twitter a:hover, ul.share-big li.google a:hover, ul.share-big li.pinterest a:hover, ul.share-big li.like a:hover, ul.share-left li.fb a:hover, ul.share-left li.twitter a:hover, ul.share-left li.google a:hover, ul.share-left li.pinterest a:hover, ul.share-left li.like a:hover{background:#333333;}
ul.share-big li .angka, ul.share-left li .angka{display:block; padding-top:2px; text-align:center; font-size:16px; color:#fff;font-family:'Din Light',Arial, Helvetica, sans-serif;}
ul.share-big li .med-name, ul.share-left li .med-name{display:block; padding-bottom:2px; text-align:center; font-size:13px; color:#fff;font-family:'Din Light',Arial, Helvetica, sans-serif;}
ul.share-big li .count, ul.share-left li .count{font-size:24px; font-family:'Din Light',Arial, Helvetica, sans-serif; color:#fff; float:right; margin-top:6px; margin-right:5px;}
ul.share-big li .icons, ul.share-left li .icons{float:left;}
/*footer*/
footer{
width:100%; 
/* margin-top:30px; */
display:block; 
overflow:hidden;
/*background: rgba(239,239,239,1);
background: -moz-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 7%, rgba(246,246,246,1) 99%, rgba(246,246,246,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(239,239,239,1)), color-stop(7%, rgba(255,255,255,1)), color-stop(99%, rgba(246,246,246,1)), color-stop(100%, rgba(246,246,246,1)));
background: -webkit-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 7%, rgba(246,246,246,1) 99%, rgba(246,246,246,1) 100%);
background: -o-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 7%, rgba(246,246,246,1) 99%, rgba(246,246,246,1) 100%);
background: -ms-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 7%, rgba(246,246,246,1) 99%, rgba(246,246,246,1) 100%);
background: linear-gradient(to bottom, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 7%, rgba(246,246,246,1) 99%, rgba(246,246,246,1) 100%);*/
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#f6f6f6', GradientType=0 );
z-index:1001; position:relative;min-width:1000px;}
.block-footer{display:block; overflow:hidden; min-width:970px; max-width:1170px;margin:0 auto;}
ul.footer {height:90px; overflow:hidden; margin:10px 0;}
ul.footer li{ margin-right:5px; font-size:11px; line-height:18px;}
ul.footer li a{color:#444;}
ul.footer li a:hover{color:#999;}
.logo-footer{clear:both; float:left; margin-right:20px; width:90px; height:90px; background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png) no-repeat; background-position:0 -524px;}
.logo-footer a{display:block; height:90px; width:90px; overflow:hidden;}
.logo-footer:hover {opacity:0.8;filter: alpha(opacity=80);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";}
.footer-col{float:left; margin-right:20px;}
.footer-col.right{ margin-right:0; padding-left:25px; border-left:1px solid #dfdfdf;height:auto; float:right; width:100px;}
.copy-foot{padding:10px 0; border-top:1px solid #dfdfdf;}
ul.foot-link li{color:#999; margin-right:5px; font-size:10px; line-height:19px; padding-right:5px; border-right:1px solid #dfdfdf; float:left; text-transform:uppercase;}
ul.foot-link li a{color:#999;}
ul.foot-link li a:hover{color:#444;}
ul.foot-link li.last{border-right:0; margin-right:0; padding-right:0;}
ul.foot-link li.right{border-right:0; margin-right:0; padding-right:0; float:right;}
ul.foot-icon li {float:left;margin:3px 0;}
ul.foot-icon li.apps a{background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png); background-position: -1px 0px; width:25px; height:25px;float:left;}
ul.foot-icon li.android a{background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png); background-position: 94px 0; width:25px; height:25px;float:left;}
ul.foot-icon li.windows a{background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png); background-position: 59px 0; width:25px; height:25px;float:left;}
ul.foot-icon li.blackberry a{background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png); background-position: 27px 0; width:25px; height:25px;float:left;}
ul.foot-icon li.facebook a{background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png); background-position: 92px -29px; width:25px; height:25px;float:left;}
ul.foot-icon li.twitter a{background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png); background-position: 59px -29px; width:25px; height:25px;float:left;}
ul.foot-icon li.google a{background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png); background-position: 124px -29px; width:25px; height:25px;float:left;}
ul.foot-icon li.rss a{background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png); background-position: 156px -29px; width:25px; height:25px;float:left;}
ul.foot-icon li.instagram a{background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png); background-position: 126px -58px; width:25px; height:25px;float:left;}
ul.foot-icon li.youtube a{background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png); background-position: 93px -58px; width:25px; height:25px;float:left;}
ul.foot-icon li.pinterest a{background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png); background-position: 58px -58px; width:25px; height:25px;float:left;}
ul.foot-icon li:hover{opacity:0.5;filter: alpha(opacity=50);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";}
.foot-about{padding:10px 0; display:block; overflow:hidden; border-top:1px solid #efefef; background:#fff; position:relative;min-width:1000px;z-index:1001;}
.foot-about .inside{display:block; overflow:hidden; max-width:1170px;margin:0 auto; padding:0 15px;}
ul.about li{float:left; padding-right:10px; margin-right:10px; border-right:1px solid #dfdfdf; text-transform:uppercase; font-size:9px;}
ul.about li:last-child{padding-right:0; margin-right:0; border-right:none;}
ul.about li.rightcopy{float:right;padding-right:0; margin-right:0; border-right:none;}
ul.about li a{color:#949599;} ul.about li a:hover{color:#333333;}

@media screen and (max-width: 1024px)
{
	.pages-col .double-block {margin-left: 180px;margin-right: 320px;}
	ul.main-menu li{padding:9px 0px; font-size:12px;}
	ul.main-menu li a{padding:9px 8px;}
	ul.list-terkini li.banner{border:none;}
	.footer-col, .logo-footer {margin-right:15px;}
	.top-nav .block-text-run {width:334px;}
	ul.footer {padding:10px 15px;}
	ul.tab-sub{font-size:12px; line-height:23px;}
	ul.tab-sub li a{padding:10px 5px;}
	#konten-slide-foto .flex-control-paging li a {width: 12px; height: 12px;}
	#konten-slide-foto .flex-control-nav{bottom:80px;}
	#berita-utama{height:500px;}
	#berita-utama .flex-control-nav {bottom:10px;}
	.flexslider .slides > li .box-image{height:273px; overflow:hidden; width:auto;background:#f00;}
	.flexslider .slides > li .box-image img {width: auto; height:273px; text-align:center; margin:0 auto; display:block;}
	.flexslider .slides li .box-slide{position:inherit; top:15px; margin:-30px 3% 30px 3%; height:auto; width:90%}
	
	
}
/*
@media screen and (max-width: 1023px){
	.top-nav .block-text-run {width: 327px;}
	.pages-col .double-block {margin-left: 180px;margin-right: 320px;}
	.footer-col, .logo-footer {margin-right:10px;}
}
@media screen and (min-width:1026px) and (max-width:1169px)
{
	.top-nav .block-text-run{display:none; visibility:hidden;}
	ul.footer {margin:10px 15px;}
	ul.tab-sub{font-size:13px;}
	}
*/
