@font-face {
    font-family: 'Din';
    src: url('font/din-webfont.eot');
    src: url('font/din-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/din-webfont.woff') format('woff'),
         url('font/din-webfont.ttf') format('truetype'),
         url('font/din-webfont.svg#_.regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Din Black';
    src: url('font/din-black-webfont.eot');
    src: url('font/din-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/din-black-webfont.woff') format('woff'),
         url('font/din-black-webfont.ttf') format('truetype'),
         url('font/din-black-webfont.svg#_.regular') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Din Bold';
    src: url('font/din_bold-webfont.eot');
    src: url('font/din_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/din_bold-webfont.woff') format('woff'),
         url('font/din_bold-webfont.ttf') format('truetype'),
         url('font/din_bold-webfont.svg#_.regular') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Din Medium';
    src: url('font/din_medium-webfont.eot');
    src: url('font/din_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/din_medium-webfont.woff') format('woff'),
         url('font/din_medium-webfont.ttf') format('truetype'),
         url('font/din_medium-webfont.svg#_.regular') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Din Light';
    src: url('font/din_light-webfont.eot');
    src: url('font/din_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/din_light-webfont.woff') format('woff'),
         url('font/din_light-webfont.ttf') format('truetype'),
         url('font/din_light-webfont.svg#_.regular') format('svg');
    font-weight: 500;
    font-style: normal;
}
