#tabs {	margin: 20px 0;}
#tabs ul {	border-top:4px solid #dfdfdf;	display:inline-block;	color:#ccc;	width:100%;	font-size:11px;	text-transform:uppercase;	text-align:center;	background:#dfdfdf;	font-weight:bold;}
#tabs li {	list-style: none;}
* html #tabs li {	display: inline;}
#tabs li, #tabs li a {	display:inline-block;	color:#dfdfdf;}
#tabs ul li.active {	background: #fff;	border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px;-o-border-radius: 2px;}
#tabs ul li.active a {	color: #333333;	background:#fff;	border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px;-o-border-radius: 2px;}
#tabs div {	background:fff;	clear: both;	padding: 9px;	height:auto;	border:1px solid #dfdfdf;	border-top:4px solid #dfdfdf;}
#tabs div h3 {	padding:5px 0;	font-size:13px;		border-top:1px solid #dfdfdf;}
#tabs div p {	line-height: 150%;}
#tabs ul li a {	text-decoration: none;	padding:5px 5px;	color: #949599;	text-shadow:1px 1px 1px #fff;	font-weight: bold;	border:0.5px solid #dfdfdf;}

/* */
#small-menu-icon{}
#small-menu-icon ul{	list-style:none;	position:relative;	float:right;	margin:0;	padding:0; z-index:999;}
#small-menu-icon ul a{	display:block;	color:#333;	text-decoration:none;	font-size:10px;	text-transform:uppercase;	border-bottom:1px solid #dfdfdf;}
#small-menu-icon ul li:last-chid a{border-bottom:none;}
#small-menu-icon ul li{	position:relative;	float:left;	margin:0;	padding:0;cursor:pointer;}
#small-menu-icon ul li.current-menu-item{}
#small-menu-icon ul li.burger{width:33px; height:33px; background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png) no-repeat; background-position:-92px -389px; cursor:pointer;}
#small-menu-icon ul li.burger:hover{width:33px; height:33px; background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png) no-repeat; background-position:-92px -422px; cursor:pointer;}
#small-menu-icon ul li:hover{background:#fff;}
#small-menu-icon ul ul{	display:none;	position:absolute;	top:100%;	right:0;	background:#fff;	padding:0;	border:1px solid #dfdfdf;}
#small-menu-icon ul ul li{	float:none;	width:130px; background:#fff; border-top:1px solid #dfdfdf; margin-top:-1px;}
#small-menu-icon ul ul a{	line-height:120%;	padding:5px 10px}
#small-menu-icon ul ul ul{	top:0;	left:100%}
#small-menu-icon ul li:hover > ul{	display:block}
#small-menu-icon ul ul li a:hover{background:#949599; color:#fff;}
/* login-top-nav*/
#login-top{}
#login-top ul{	list-style:none;	position:relative;	float:right;	margin:0;	padding:0; z-index:1001;}
#login-top ul a{	display:block;	color:#333;	text-decoration:none;	font-size:10px;	text-transform:uppercase;}
#login-top ul li{position:relative;	padding:9px; text-align:left; float:right; border-left:1px solid #dfdfdf; font-size:10px; text-transform:uppercase; cursor:pointer;}
#login-top ul li .user-register{background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png) no-repeat; background-position: -6px -210px; display:inline-block; width:13px; height:12px;}
#login-top ul li .user-login{background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png) no-repeat; background-position: -22px -210px; display:inline-block; width:13px; height:12px;}
#login-top ul li.current-menu-item{}
#login-top ul li:hover{	background:#dfdfdf;}
#login-top ul ul{	display:none;	position:absolute;	top:100%;	right:-1px;	background:#fff;	padding:0;	border:1px solid #dfdfdf; border-left:none;}
#login-top ul ul li{	float:none;	width:180px; height:100px; background:#fff; cursor:default;}
#login-top ul ul li:hover{	background:#fff;}
#login-top ul ul a{	line-height:120%;	padding:5px 10px}
#login-top ul ul ul{	top:0;	left:100%}
#login-top ul li:hover > ul{	display:block}
#login-top ul li .login-passwd{width:96%;padding:2%; border:1px solid #ddd; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; font-size:12px; display:block;margin-bottom:5px;}
#login-top ul li .login-button{ border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; border:none; float:right; padding:5px 10px; display:inline-block; color:#fff; background:#ed1b23; margin-bottom:10px; font-size:12px; font-weight:bold; text-align:center;}
#login-top ul li .login-button:hover{background:#333;}
/*terpopuler*/
#tops {	margin: 20px 0;}
#tops ul {	display:block;	color:#ccc;	width:100%;	text-align:center;	font-weight:bold;	margin-bottom:20px;	overflow:hidden;}
#tops li.title{margin:0; padding-bottom:0; font-family:'Patua One',Arial, Helvetica, sans-serif; font-size:24px; border:none; }
#tops li.title.size16{font-size:16px;}
#tops li {list-style: none;}
* html #tops li {	display: inline;}
#tops li, #tops li a {	float:left;	color:#ddd;}
#tops ul li.active {border-bottom: 5px solid #333333;}
#tops ul li.active a {color: #333333;}
#tops div {clear: both;height:auto;}
#tops div h3 {	font-size:100%; padding-left:45px; font-weight:500;	margin:10px 0 15px 0; display:block; min-height:30px;}
#tops .number{font-size:35px; color:#ccc; width:30px; text-align:right; float:left; font-family:'Din Light',Arial, Helvetica, sans-serif; font-weight:300; line-height:28px; letter-spacing:-5px;}
#tops ul li a {	text-decoration: none;	padding-bottom:10px;	color: #ccc;	text-shadow:1px 1px 1px #fff;	font-weight: bold;	text-align: center;	margin:0 4px;}
#tops ul li:first-child a{}
#tops div h3.small {padding-left:40px;}
#tops .number.small{font-size:25px; color:#ccc; width:27px; float:left; font-family:'Din Light',Arial, Helvetica, sans-serif; font-weight:300; line-height:28px; letter-spacing:-5px;}
/*terpopuler foto*/
#tops-foto {	margin: 20px 0;}
#tops-foto ul {	display:block;	color:#ccc;	width:100%;	text-align:center;	font-weight:bold;	margin-bottom:20px;	overflow:hidden;}
#tops-foto li.title{margin:0; padding-bottom:0; font-family:'Patua One',Arial, Helvetica, sans-serif; font-size:24px; border:none; }
#tops-foto li {list-style: none;}
* html #tops-foto li {display: inline;}
#tops-foto li, #tops-foto li a {	float:left;	color:#ddd;}
#tops-foto ul li.active {border-bottom: 5px solid #333333;}
#tops-foto ul li.active a {color: #333333;}
#tops-foto div {clear: both;height:auto;}
#tops-foto div h3 {	font-size:100%; font-weight:500;	margin:0px 0 15px 0; display:block;	}

#tops-foto ul li a {	text-decoration: none;	padding-bottom:10px;	color: #ccc;	text-shadow:1px 1px 1px #fff;	font-weight: bold;	text-align: center;	margin:0 6px;}
#tops-foto ul li:first-child a{}
#tops-foto .foto-populer {float:left; margin-bottom:0px;margin-right:10px; height:60px; width:105px; display:block;}
#tops-foto .list-foto-populer {display:block; margin-bottom:10px; position:relative; overflow:hidden;}

/*tab subkanal*/
#sub-area {	margin:0; position:relative;}
#sub-area .list-sub {}
#sub-area .bortop{border-top: 5px solid #dfdfdf; }
ul.tab-sub {display:block;width:100%;font-family:'Din Bold',Arial, Helvetica, sans-serif; text-shadow:none;font-weight:normal; height:42px; background:#fff; border-top:5px solid #dfdfdf;color:#949599;background:#f5f5f5;text-transform:uppercase; font-size:15px;  letter-spacing: -0.5px;}
ul.tab-sub li {list-style: none; position:relative;color:#949599;float:left;}
ul.tab-sub li.small a{font-size:13px; line-height:16px; padding:5px 10px;height:32px; letter-spacing:normal;}
ul.tab-sub li a {color:#949599;padding:10px 9px;float:left;text-shadow:none;height:22px;}
ul.tab-sub li a:hover {color:#ed1b23;}

ul.tab-sub li.active a {color: #fff;background:#ed1b23;}
ul.tab-sub li.burger{float:right;width:52px; height:42px; background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png) no-repeat; background-position:-75px -302px; cursor:pointer;}
ul.tab-sub li.burger:hover{width:52px; height:42px; background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png) no-repeat; background-position:-75px -344px; cursor:pointer;}
ul.tab-sub  ul.more-kanal{ display:none; position:absolute;	top:100%;	right:0;	background:#f2f2f2;	padding:0;	border:1px solid #dfdfdf; z-index:9999;}
ul.tab-sub  ul.more-kanal li a{display:block; float:right; width:150px; background:#f2f2f2; border-top:1px solid #dfdfdf; margin-top:-1px; clear:both;overflow:hidden;}
ul.tab-sub  ul.more-kanal li.active a{color: #fff;background:#ed1b23;}
ul.tab-sub li.burger:hover > ul.more-kanal{display:block}

/*Klasemen*/
* html #tab-klasemen li, * html #tab-hasil li, * html #tab-jadwal li {	display: inline;}
#tab-klasemen, #tab-hasil, #tab-jadwal {	margin: 0 0 20px 0;}
#tab-klasemen ul, #tab-hasil ul, #tab-jadwal ul {float:left;color:#ccc;	width:100%;	font-size:11px;	background:#fff;	font-weight:bold;}
#tab-klasemen li, #tab-hasil li, #tab-jadwal li {	list-style: none;}
#tab-klasemen li, #tab-klasemen li a, #tab-hasil li, #tab-hasil li a, #tab-jadwal li, #tab-jadwal li a  {	display:inline-block;	color:#dfdfdf;}
#tab-klasemen ul li.active, #tab-hasil ul li.active, #tab-jadwal ul li.active {	background: #fff;border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px;-o-border-radius: 2px;}
#tab-klasemen ul li.active a, #tab-hasil ul li.active a, #tab-jadwal ul li.active a {	color: #333333;	background:#dfdfdf;border-radius:2px 2px 0 0; -webkit-border-radius:2px 2px 0 0; -moz-border-radius:2px 2px 0 0;-o-border-radius:2px 2px 0 0;}
#tab-klasemen div, #tab-hasil div, #tab-jadwal div {	background:fff;	clear: both;padding:0px;height:auto;	border-top:4px solid #dfdfdf;}
#tab-klasemen ul li a, #tab-hasil ul li a, #tab-jadwal ul li a {	text-decoration: none;padding:5px 6px;color: #949599;	text-shadow:1px 1px 1px #fff;	font-weight: bold;	border:0.5px solid #dfdfdf;}

/* Accordion*/
#accordion-container {display:block; margin-bottom:20px;}
.accordion-header {	font-size: 16px;background: #ebebeb;margin: 5px 0 0 0;padding: 5px 10px;cursor: pointer;color: #666666;	font-family:'Patua One',Arial, Helvetica, sans-serif;}
.active-header {background:#ed1b23;	color:#fff;}
.active-header:hover {}
.inactive-header {background:#ebebeb;}
.inactive-header:hover {background:#f5f5f5; color:#ed1b23;}
.accordion-content {display: none;	padding:10px 0;	background: #ffffff;width:100%;	margin:0;}
.accordion-content h4{margin:0 0 5px 0; display:block; font-weight:bold; font-size:11px; text-transform:uppercase;}

/* table */
.col-table {margin:0px;padding:0px;width:100%;border:1px solid #dfdfdf; font-size:11px; margin-bottom:10px;}
.col-table.m0-b{margin-bottom:0;}
.col-table .tc{text-align:center;}
.col-table .tl{text-align:left;}
.col-table .tr{text-align:right;}
.col-table table{width:100%;height:100%;margin:0px;padding:0px;}
.col-table tr:last-child td:last-child {}
.col-table table tr:first-child td:first-child {}
.col-table table tr:first-child td:last-child {}
.col-table tr:last-child td:first-child{}
.col-table tr:hover td{}
.col-table tr:nth-child(odd){ background-color:#f2f2f2; }
.col-table tr:nth-child(even){ background-color:#ffffff; }
.col-table td{vertical-align:middle;border:none;text-align:left;padding:7px;font-weight:normal;color:#000000;}
.col-table tr:last-child td{border-width:0px 1px 0px 0px;}
.col-table tr td:last-child{border-width:0px 0px 1px 0px;}
.col-table tr:last-child td:last-child{border-width:0px 0px 0px 0px;}
.col-table tr:first-child td{background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#cccccc,b2b2b2);
background-color:#cccccc;border:0px solid #ededed;border-width:0px 0px 1px 1px;font-weight:bold;color:#000000;}
.col-table tr:first-child:hover td{background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#cccccc,b2b2b2); background-color:#cccccc;}
.col-table tr:first-child td:first-child{border-width:0px 0px 1px 0px;}
.col-table tr:first-child td:last-child{border-width:0px 0px 1px 1px;}

/* login-top-nav*/
#rss-tab{}
#rss-tab ul{list-style:none;	position:relative;	float:right;	margin:0;	padding:0; z-index:1001;}
#rss-tab ul a{	display:block;	color:#333;	text-decoration:none;	font-size:10px;	text-transform:uppercase;}
#rss-tab ul li{position:relative;	padding:0;float:right; border-left:1px solid #dfdfdf;  cursor:pointer;}
#rss-tab ul li .icon-rss{background:url(http://cdn.tmpo.co/web/teco/images/all-icon.png); background-position: -9px -87px; width:27px; height:33px;float:left; }
#rss-tab ul li .icon-rss:hover{opacity:0.5;}
#rss-tab ul ul{	display:none;	position:absolute;	top:100%;	right:-1px;	background:#fff;	padding:0;	border:1px solid #dfdfdf; border-left:none; border-bottom:none;}
#rss-tab ul ul li{width:140px; height:auto; background:#fff; cursor:default; display:block; font-size:11px; text-transform:uppercase}

#rss-tab ul ul li .link-rss a{border-bottom:1px solid #ddd; padding:10px;}
#rss-tab ul ul li .link-rss a:hover{background:#ddd;}
#rss-tab ul ul a{	line-height:120%;	padding:5px 10px}
#rss-tab ul ul ul{	top:0;	left:100%}
#rss-tab ul li:hover > ul{	display:block}

.block-penulis{padding:5px; margin:10px 0; overflow:hidden; display:block; background:#f9f9f9; border-top:1px solid #eee; border-bottom:1px solid #eee;}
.block-penulis .img-penulis{width:32px; height:32px; overflow:hidden; float:left; margin-right:5px;}
.block-penulis .nama-penulis{font-size:11px; color:#999; display:block; margin-top:3px; text-transform:uppercase;}
.block-penulis .tgl-penulis{font-size:10px; color:#999; display:block;text-transform:uppercase;margin-top:3px;}
