@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: 'vegurregular';
    src: url('//static.haozhaopian.net/web/share/fonts/vegur-regular_0-webfont.eot');
    src: url('//static.haozhaopian.net/web/share/fonts/vegur-regular_0-webfont.eot?#iefix') format('embedded-opentype'),
    url('//static.haozhaopian.net/web/share/fonts/vegur-regular_0-webfont.woff2') format('woff2'),
    url('//static.haozhaopian.net/web/share/fonts/vegur-regular_0-webfont.woff') format('woff'),
    url('//static.haozhaopian.net/web/share/fonts/vegur-regular_0-webfont.ttf') format('truetype'),
    url('//static.haozhaopian.net/web/share/fonts/vegur-regular_0-webfont.svg#vegurregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sintonyregular';
    src: url('//static.haozhaopian.net/web/share/fonts/sintony-webfont.eot');
    src: url('//static.haozhaopian.net/web/share/fonts/sintony-webfont.eot?#iefix') format('embedded-opentype'),
    url('//static.haozhaopian.net/web/share/fonts/sintony-webfont.woff2') format('woff2'),
    url('//static.haozhaopian.net/web/share/fonts/sintony-webfont.woff') format('woff'),
    url('//static.haozhaopian.net/web/share/fonts/sintony-webfont.ttf') format('truetype'),
    url('//static.haozhaopian.net/web/share/fonts/sintony-webfont.svg#sintonyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AndrewFootitVirtusSansLight';
    src: url('//static.haozhaopian.net/web/share/fonts/andrewfootitvirtussanslight-webfont.eot');
    src: url('//static.haozhaopian.net/web/share/fonts/andrewfootitvirtussanslight-webfont.eot?#iefix') format('embedded-opentype'),
    url('//static.haozhaopian.net/web/share/fonts/andrewfootitvirtussanslight-webfont.woff2') format('woff2'),
    url('//static.haozhaopian.net/web/share/fonts/andrewfootitvirtussanslight-webfont.woff') format('woff'),
    url('//static.haozhaopian.net/web/share/fonts/andrewfootitvirtussanslight-webfont.ttf') format('truetype'),
    url('//static.haozhaopian.net/web/share/fonts/andrewfootitvirtussanslight-webfont.svg#andrewfootitvirtussanslightLt') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'FuturaMediumBT';
    src: url('//static.haozhaopian.net/web/share/fonts/FuturaMediumBT.eot');
    src: url('//static.haozhaopian.net/web/share/fonts/FuturaMediumBT.eot') format('embedded-opentype'),
    url('//static.haozhaopian.net/web/share/fonts/FuturaMediumBT.woff2') format('woff2'),
    url('//static.haozhaopian.net/web/share/fonts/FuturaMediumBT.woff') format('woff'),
    url('//static.haozhaopian.net/web/share/fonts/FuturaMediumBT.ttf') format('truetype'),
    url('//static.haozhaopian.net/web/share/fonts/FuturaMediumBT.svg#FuturaMediumBT') format('svg');
}

@font-face {
    font-family: 'goudy_old_styleregular';
    src: url('//static.haozhaopian.net/web/share/fonts/goudy_old_style-webfont.eot');
    src: url('//static.haozhaopian.net/web/share/fonts/goudy_old_style-webfont.eot?#iefix') format('embedded-opentype'),
    url('//static.haozhaopian.net/web/share/fonts/goudy_old_style-webfont.woff2') format('woff2'),
    url('//static.haozhaopian.net/web/share/fonts/goudy_old_style-webfont.woff') format('woff'),
    url('//static.haozhaopian.net/web/share/fonts/goudy_old_style-webfont.ttf') format('truetype'),
    url('//static.haozhaopian.net/web/share/fonts/goudy_old_style-webfont.svg#goudy_old_styleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MVBoliRegular';
    src: url('//static.haozhaopian.net/web/share/fonts/mvboli.eot');
    src: url('//static.haozhaopian.net/web/share/fonts/mvboli.eot') format('embedded-opentype'),
         url('//static.haozhaopian.net/web/share/fonts/mvboli.woff2') format('woff2'),
         url('//static.haozhaopian.net/web/share/fonts/mvboli.woff') format('woff'),
         url('//static.haozhaopian.net/web/share/fonts/mvboli.ttf') format('truetype'),
         url('//static.haozhaopian.net/web/share/fonts/mvboli.svg#MVBoliRegular') format('svg');
}

@font-face {
    font-family: "htprolt";/*'HelveticaNeueLTPro45Light';*/
	src: url('//static.haozhaopian.net/web/share/fonts/swissl/swissl.eot');
	src: local(''), 
         url('//static.haozhaopian.net/web/share/fonts/swissl/swissl.ttf') format('truetype'),
         url('//static.haozhaopian.net/web/share/fonts/swissl/swissl.svg') format('svg'),
         url('//static.haozhaopian.net/web/share/fonts/swissl/swissl.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: "OpenSansLight";
    src:url('//static.haozhaopian.net/web/share/fonts/open_sans/opensans-light.eot');
    src:local(''),
        url('//static.haozhaopian.net/web/share/fonts/open_sans/opensans-light.svg') format('svg'),
        url('//static.haozhaopian.net/web/share/fonts/open_sans/OpenSans-Light.ttf') format('truetype'),
        url('//static.haozhaopian.net/web/share/fonts/open_sans/opensans-light.woff') format('woff');
}


@font-face {
    font-family:"PoiretOne-Regular";
    src: url('//static.haozhaopian.net/web/share/fonts/PoiretOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans-Regular';
    src:url('//static.haozhaopian.net/web/share/fonts/open_sans/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'a_lolita_scornedscorned';
    src: url('//static.haozhaopian.net/web/share/fonts/a_lolita_scorned-webfont.eot');
    src: url('//static.haozhaopian.net/web/share/fonts/a_lolita_scorned-webfont.eot?#iefix') format('embedded-opentype'),
         url('//static.haozhaopian.net/web/share/fonts/a_lolita_scorned-webfont.woff') format('woff'),
         url('//static.haozhaopian.net/web/share/fonts/a_lolita_scorned-webfont.ttf') format('truetype'),
         url('//static.haozhaopian.net/web/share/fonts/a_lolita_scorned-webfont.svg#a_lolita_scornedscorned') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bloodynormal';
    src: url('//static.haozhaopian.net/web/share/fonts/bloody-webfont.eot');
    src: url('//static.haozhaopian.net/web/share/fonts/bloody-webfont.eot?#iefix') format('embedded-opentype'),
         url('//static.haozhaopian.net/web/share/fonts/bloody-webfont.woff') format('woff'),
         url('//static.haozhaopian.net/web/share/fonts/bloody-webfont.ttf') format('truetype'),
         url('//static.haozhaopian.net/web/share/fonts/bloody-webfont.svg#bloodynormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'buffiedregular';
    src: url('//static.haozhaopian.net/web/share/fonts/buffied-webfont.eot');
    src: url('//static.haozhaopian.net/web/share/fonts/buffied-webfont.eot?#iefix') format('embedded-opentype'),
         url('//static.haozhaopian.net/web/share/fonts/buffied-webfont.woff') format('woff'),
         url('//static.haozhaopian.net/web/share/fonts/buffied-webfont.ttf') format('truetype'),
         url('//static.haozhaopian.net/web/share/fonts/buffied-webfont.svg#buffiedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'alex_brushregular';
    src: url('//static.haozhaopian.net/web/share/fonts/alexbrush-regular-webfont.eot');
    src: url('//static.haozhaopian.net/web/share/fonts/alexbrush-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('//static.haozhaopian.net/web/share/fonts/alexbrush-regular-webfont.woff') format('woff'),
         url('//static.haozhaopian.net/web/share/fonts/alexbrush-regular-webfont.ttf') format('truetype'),
         url('//static.haozhaopian.net/web/share/fonts/alexbrush-regular-webfont.svg#alex_brushregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('//static.haozhaopian.net/web/share/fonts/caviar_dreams_bold-webfont.eot');
    src: url('//static.haozhaopian.net/web/share/fonts/caviar_dreams_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('//static.haozhaopian.net/web/share/fonts/caviar_dreams_bold-webfont.woff') format('woff'),
         url('//static.haozhaopian.net/web/share/fonts/caviar_dreams_bold-webfont.ttf') format('truetype'),
         url('//static.haozhaopian.net/web/share/fonts/caviar_dreams_bold-webfont.svg#caviar_dreamsbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('//static.haozhaopian.net/web/share/fonts/caviardreams-webfont.eot');
    src: url('//static.haozhaopian.net/web/share/fonts/caviardreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('//static.haozhaopian.net/web/share/fonts/caviardreams-webfont.woff') format('woff'),
         url('//static.haozhaopian.net/web/share/fonts/caviardreams-webfont.ttf') format('truetype'),
         url('//static.haozhaopian.net/web/share/fonts/caviardreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'comic_sans_msregular';
    src: url('//static.haozhaopian.net/web/share/fonts/comic.eot');
    src: url('//static.haozhaopian.net/web/share/fonts/comic.eot?#iefix') format('embedded-opentype'),
         url('//static.haozhaopian.net/web/share/fonts/comic.woff') format('woff'),
         url('//static.haozhaopian.net/web/share/fonts/comic.ttf') format('truetype'),
         url('//static.haozhaopian.net/web/share/fonts/comic.svg#comic_sans_msregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Muli';
    src: url('//static.haozhaopian.net/web/share/fonts/muli-regular-webfont.eot');
    src: url('//static.haozhaopian.net/web/share/fonts/muli-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('//static.haozhaopian.net/web/share/fonts/muli-regular-webfont.woff') format('woff'),
         url('//static.haozhaopian.net/web/share/fonts/muli-regular-webfont.ttf') format('truetype'),
         url('//static.haozhaopian.net/web/share/fonts/muli-regular-webfont.svg#muliregular') format('svg');
    font-weight: normal;
    font-style: normal;
	
}

@font-face {
    font-family: 'menu_blod';
    src: url('//static.haozhaopian.net/web/share/fonts/menu_blod/menu_blod.eot');
    src: url('//static.haozhaopian.net/web/share/fonts/menu_blod/menu_blod.eot') format('embedded-opentype'),
         url('//static.haozhaopian.net/web/share/fonts/menu_blod/menu_blod.woff2') format('woff2'),
         url('//static.haozhaopian.net/web/share/fonts/menu_blod/menu_blod.woff') format('woff'),
         url('//static.haozhaopian.net/web/share/fonts/menu_blod/menu_blod.ttf') format('truetype'),
         url('//static.haozhaopian.net/web/share/fonts/menu_blod/menu_blod.svg#HelveticaRoundedLTBoldCnRegular') format('svg');
}
@font-face {
    font-family: 'hussarbold';
    src: url('//static.haozhaopian.net/web/share/fonts/hussar_bold-webfont.eot');
    src: url('//static.haozhaopian.net/web/share/fonts/hussar_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('//static.haozhaopian.net/web/share/fonts/hussar_bold-webfont.woff2') format('woff2'),
    url('//static.haozhaopian.net/web/share/fonts/hussar_bold-webfont.woff') format('woff'),
    url('//static.haozhaopian.net/web/share/fonts/hussar_bold-webfont.ttf') format('truetype'),
    url('//static.haozhaopian.net/web/share/fonts/hussar_bold-webfont.svg#hussarbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bienetresocialbold';
    src: url('//static.haozhaopian.net/web/share/fonts/bienetresocial_bold_0-webfont.eot');
    src: url('//static.haozhaopian.net/web/share/fonts/bienetresocial_bold_0-webfont.eot?#iefix') format('embedded-opentype'),
    url('//static.haozhaopian.net/web/share/fonts/bienetresocial_bold_0-webfont.woff2') format('woff2'),
    url('//static.haozhaopian.net/web/share/fonts/bienetresocial_bold_0-webfont.woff') format('woff'),
    url('//static.haozhaopian.net/web/share/fonts/bienetresocial_bold_0-webfont.ttf') format('truetype'),
    url('//static.haozhaopian.net/web/share/fonts/bienetresocial_bold_0-webfont.svg#bienetresocialbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'redressedregular';
    src: url('//static.haozhaopian.net/web/share/fonts/redressed_0-webfont.eot');
    src: url('//static.haozhaopian.net/web/share/fonts/redressed_0-webfont.eot?#iefix') format('embedded-opentype'),
    url('//static.haozhaopian.net/web/share/fonts/redressed_0-webfont.woff2') format('woff2'),
    url('//static.haozhaopian.net/web/share/fonts/redressed_0-webfont.woff') format('woff'),
    url('//static.haozhaopian.net/web/share/fonts/redressed_0-webfont.ttf') format('truetype'),
    url('//static.haozhaopian.net/web/share/fonts/redressed_0-webfont.svg#redressedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hindbold';
    src: url('//static.haozhaopian.net/web/share/fonts/hind-bold-webfont.eot');
    src: url('//static.haozhaopian.net/web/share/fonts/hind-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('//static.haozhaopian.net/web/share/fonts/hind-bold-webfont.woff2') format('woff2'),
         url('//static.haozhaopian.net/web/share/fonts/hind-bold-webfont.woff') format('woff'),
         url('//static.haozhaopian.net/web/share/fonts/hind-bold-webfont.ttf') format('truetype'),
         url('//static.haozhaopian.net/web/share/fonts/hind-bold-webfont.svg#hindbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hindlight';
    src: url('//static.haozhaopian.net/web/share/fonts/hind-light-webfont.eot');
    src: url('//static.haozhaopian.net/web/share/fonts/hind-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('//static.haozhaopian.net/web/share/fonts/hind-light-webfont.woff2') format('woff2'),
         url('//static.haozhaopian.net/web/share/fonts/hind-light-webfont.woff') format('woff'),
         url('//static.haozhaopian.net/web/share/fonts/hind-light-webfont.ttf') format('truetype'),
         url('//static.haozhaopian.net/web/share/fonts/hind-light-webfont.svg#hindlight') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {

    font-family: 'hindmedium';
    src: url('//static.haozhaopian.net/web/share/fonts/hind-medium-webfont.eot');
    src: url('//static.haozhaopian.net/web/share/fonts/hind-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('//static.haozhaopian.net/web/share/fonts/hind-medium-webfont.woff2') format('woff2'),
         url('//static.haozhaopian.net/web/share/fonts/hind-medium-webfont.woff') format('woff'),
         url('//static.haozhaopian.net/web/share/fonts/hind-medium-webfont.ttf') format('truetype'),
         url('//static.haozhaopian.net/web/share/fonts/hind-medium-webfont.svg#hindmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hind_regularregular';
    src: url('//static.haozhaopian.net/web/share/fonts/hind-regular-webfont.eot');
    src: url('//static.haozhaopian.net/web/share/fonts/hind-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('//static.haozhaopian.net/web/share/fonts/hind-regular-webfont.woff2') format('woff2'),
         url('//static.haozhaopian.net/web/share/fonts/hind-regular-webfont.woff') format('woff'),
         url('//static.haozhaopian.net/web/share/fonts/hind-regular-webfont.ttf') format('truetype'),
         url('//static.haozhaopian.net/web/share/fonts/hind-regular-webfont.svg#hind_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hindsemibold';
    src: url('//static.haozhaopian.net/web/share/fonts/hind-semibold-webfont.eot');
    src: url('//static.haozhaopian.net/web/share/fonts/hind-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('//static.haozhaopian.net/web/share/fonts/hind-semibold-webfont.woff2') format('woff2'),
         url('//static.haozhaopian.net/web/share/fonts/hind-semibold-webfont.woff') format('woff'),
         url('//static.haozhaopian.net/web/share/fonts/hind-semibold-webfont.ttf') format('truetype'),
         url('//static.haozhaopian.net/web/share/fonts/hind-semibold-webfont.svg#hindsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CN-blod';
    src:
    url('//static.haozhaopian.net/web/share/fonts/SourceHanSansCN/SourceHanSansCN-Bold.ttf?v=5.4.9.2016072511'),
    url('//static.haozhaopian.net/web/share/fonts/SourceHanSansCN/SourceHanSansCN-Bold.woff?v=5.4.9.2016072511') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CN-light';
    src:
    url('//static.haozhaopian.net/web/share/fonts/SourceHanSansCN/SourceHanSansCN-Light.ttf?v=5.4.9.2016072511'),
    url('//static.haozhaopian.net/web/share/fonts/SourceHanSansCN/SourceHanSansCN-Light.woff?v=5.4.9.2016072511') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'CN-Normal';
    src:
    url('//static.haozhaopian.net/web/share/fonts/SourceHanSansCN/SourceHanSansCN-Normal.ttf?v=5.4.9.2016072511'),
    url('//static.haozhaopian.net/web/share/fonts/SourceHanSansCN/SourceHanSansCN-Normal.woff?v=5.4.9.2016072511') format('woff');
    font-weight: normal;
    font-style: normal;
}