@charset "utf-8";
/* CSS Document */




#homepage_header #homepage_download{ float:right; padding-top:22px; margin-right:20px;/*margin-left:150px;*/}
#homepage_header #homepage_download img{ margin-right:14px;/*margin-right:24px;*/ height:35px; }
#homepage_download a{ display:block; float:left; margin-left:10px; width:30px; height:30px; background:url(/images2/index/fotor_homepage9.png?id=1501231005) no-repeat; text-indent:-999em;}
#homepage_download a.appstore{ background-position: 2px 0;}
#homepage_download a.googleplay{background-position: -48px 0;}
#homepage_download a.winpstore{background-position: -98px 0;}

/***********************************************20151210 homepageheader*********************************************************/
#homepage_header .homepage_header_box{ width:100%; margin:auto;}
#homepage_header #homepage_logo img{ width: 76px;}
#homepage_header .cut_off_rule{ height: 12px; width: 1px; border-left: 1px solid #c8c8c8; margin-top: 21px; float: left;}
#homepage_header #homepage_header_menu .btn_menu{ font-size:16px; margin:0 5px; text-align:center; cursor:pointer;}
#homepage_header #homepage_header_menu ul{ list-style:none;}
#homepage_header #homepage_header_menu ul li a .new{display: block;width: 25px;height: 16px;float:right;background: url(/images2/header_new.png) no-repeat;}
#homepage_login{ margin-right: 0;height:54px;}
#menuuserpanle{ margin-top: -5px; position: relative;margin-right: 50px;}

#homepage_header{ width: 100%;min-width:1000px; height:54px;margin:auto; z-index:1111; font-family:'FuturaMediumBT', Arial, Helvetica, sans-serif; background: #f5f5f5;}
#homepage_header #homepage_logo{ float:left; margin: 14px 70px 0;}
#homepage_header #homepage_header_menu{ float:right; margin:7px auto 0; color:#9b9b9b; line-height:40px;}
#homepage_header #homepage_header_menu ul li{ float:left; font-size:14px; font-weight: bold; margin:0 24px; text-transform:uppercase; letter-spacing: 1px;}
#homepage_header #homepage_header_menu ul li a{ color:#8c8c8c; display: block; height: 40px; padding: 0 10px; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; transition: all 0.2s;}
#homepage_header #homepage_header_menu ul li a:hover{ color:#787878; text-decoration:none;}
#homepage_header #homepage_header_menu ul li a:active{ color: #646464;}



/*万圣节首页banner*/
.login_halloween{
	display: block;
	width: 110px;
	height: 64px;
	background-image: url(/images2/sign_in_halloween.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.login_halloween:hover{
	background-position: 0 -64px;
}

/*---------------------------------------new homepage 20160517-------------------------------------------------------------------------*/
/*----#homepage_header_new--*/
#homepage_header_new{
	width: 100%;
	min-width: 1000px;
	height: 54px;
	margin: auto;
	/*z-index: 1111;*/
	background: 0;
	font-family: 'OpenSansLight', Arial, Helvetica, sans-serif;
	position: fixed;
	top:30px
}
#homepage_logo_new img{
	width: 76px;
}
#homepage_logo_new{
	float: left;
	margin: 14px 70px 0;
}
#homepage_header_menu_new{
	float: right;
	margin: 11px 32px 0 0;
	color: #9b9b9b;
	line-height: 40px;
}
#homepage_header_menu_new a{
	color: #fff;
	display: block;
	height: 40px;
	padding: 0 10px;

	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
	font-weight: normal;
	font-family: 'OpenSansLight', Arial, Helvetica, sans-serif;
}
#homepage_header_menu_new a:hover{background-position: 0 -20px;}
#homepage_header_menu_new ul li{
	float: left;
	font-size: 14px;
	font-weight: bold;
	margin: 0 24px;
	position: relative;
	letter-spacing: 1px;
	font-family: 'OpenSansLight', Arial, Helvetica, sans-serif;
}
#homepage_login_new{
	float: right;
	position: relative;
	margin-right: 24px;
	font-size: 0;
}
#menuuserpanle_new{
	margin-top: 0px;
	position: relative;
	margin-right: 50px;
}
#menuuserpanle_new a{
	width: 100px;
	height: 36px;
	margin-top: 13px;
	display: inline-block;
	line-height: 36px;
	font-size: 14px;
	letter-spacing: 1px;
	border: 1px solid rgba(255,255,255,.2);
	color: #fff;
	background: inherit;
	text-align: center;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	-webkit-transition: all 0.15s;
	-moz-transition: all 0.15s;
	transition: all 0.15s;
}
#menuuserpanle_new a:hover{background: rgba(255,255,255,.2);}
#menuuserpanle_new a:active{background: rgba(255,255,255,.3);}
.icon-span{position:relative;top:-8px;left: 10px;display:block;border-bottom:1px solid #fff;opacity:0;transition:all .2s linear;}
#homepage_header_menu_new ul li:hover .icon-span{opacity: .6;transition:all .2s linear}

/*----#homepage_banner_new--*/

#homepage_banner .fotor_new{
	width: 50%;
	height: 50%;
	min-width: 480px;
	margin: auto;
	text-align: center;
	font-size: 10px;
	position: absolute;
	left: 0;
	top:0;
	bottom: 0;
	right: 0; }
.fotor_new h2{width:100%;margin: 0 auto;}
.bannerTitleImage{width: 100%;}
#homepage_banner .fotor_new>h2:nth-of-type(1){ color: #fff; font-size: 48px;line-height: 1.4em;}
#homepage_banner .fotor_new a.banner_btn:hover{background: #282828;}
#homepage_banner .fotor_new a.banner_btn:active{background: #000;}
#homepage_banner .fotor_new .span-line{ width: 45px; height: 1px; background: #605f5f; margin:25px auto;}
#homepage_banner{
	width:100%; min-width:1000px;
	overflow:hidden; height: 880px;
	font-family:Arial,'FuturaMediumBT', Tahoma, Geneva, sans-serif; position:fixed;
	/*background-image:url("");*/
	background-repeat:no-repeat;
	background-position:  center center;

	/*background:-webkit-image-set(url('/images2/banner_517.webp')1x);*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;}
    .show-bar{
		width: 595px;height: 46px;border-radius: 90px;
		background-color: #fff;position: relative;
		top: 40px;margin: auto}
	.show-bar img{
		display: inline-block;
		position: relative;
		top: 5px;left: 26px;
	}
	.show-bar-txt{
		display: inline-block;font-family: 'Arial', sans-serif;color: #505050;
		font-size: 14px;padding-left: 30px;line-height: 46px
	}
	.mid_box .contentBox .mid_box_col:hover{
		margin-top: -3px;
		box-shadow: 0 2px 25px rgba(0, 0, 0, 0.3);
	}
	.mid_box .contentBox .mid_box_col .blog_icon{
		background: url(/images2/icon_blog.png) top no-repeat;
	    position: absolute;
		width: 7px;
		height: 11px;
		display: block;
		right: 21px;
		bottom: 13px;
	}
     .mid_box .contentBox .mid_box_col:hover .blog_icon{background-position:bottom}
	 .banner-txt{font-family: opensans-SemiBold;font-size: 48px;color: #fff;display: inline-block}
/*.menuslist_y .flash_action {
	float: left;
	width: 134px;
	height: 134px;
	text-align: center;
	line-height: 134px;
	border-radius: 134px;
	border: 2px solid rgba(204, 96, 1, 0.5);
	font-family:'OpenSansLight', Arial, Helvetica, sans-serif;
	color:#cc6001;
	font-size:20px;
	position: relative;
	-webkit-transition:all linear .3s;
}*/
.menuslist_y .flash_action {
	float: left;
	width: 130px;
	height: 134px;
	text-align: center;
	line-height: 134px;
	border-radius: 134px;
	border: 2px solid rgba(255,255,255,.3);
	font-family:'OpenSansLight', Arial, Helvetica, sans-serif;
	color:#fff;
	font-size:20px;
	position: relative;
	-webkit-transition:all linear .3s;
}
/*.menuslist_y .halloweenEdit{*/
	/*background-image: url('/images2/edit_halloween.png');*/
	/*background-position: 0 0;*/
/*}*/
/*.menuslist_y .halloweenCollage{*/
	/*background-image: url('/images2/collage_halloween.png');*/
	/*background-position: 0 0;*/
/*}*/
/*.menuslist_y .halloweenDesign{*/
	/*background-image: url('/images2/design_halloween.png');*/
	/*background-position: 0 0;*/
/*}*/
.y_box:nth-of-type(1){float: left;}
.y_box:nth-of-type(2){display: inline-block;}
.y_box:nth-of-type(3){float: right;}

.menuslist_y .flash_action:nth-of-type(1):hover,
.menuslist_y .flash_action:nth-of-type(2):hover,
.menuslist_y .flash_action:nth-of-type(3):hover{background-position: 0 -75px;}

.appOrally:hover .yuan{
	-webkit-transform:scale(.7);
	-webkit-transition:all linear .3s;
	background-color: rgba(255, 255, 255, 0.3);
	opacity: 1;
}
.appOrally:active .yuan{

	background-color: rgba(255, 255, 255, 0.2);

}

.appOrally:hover{
    -webkit-transition:all linear .3s;
	border: 1px solid rgba(255,255,255,0);
	transform: scale(1.3);
}
.menuslist_y .yuan{
	width: 134px;
	height: 134px;
	border-radius: 134px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	-webkit-transition: all linear .3s;
	bottom: 0;
	margin: auto;
	opacity: 0;
}
.y_box{
	width: 33.3333%;
	float: left;
}
.menuslist_y{
	width: 128%;
	margin:64px auto;
	text-align: center;

}
.honor_box{
	width: 413px;
	height: 43px;
	margin: 0 auto;
	color:rgba(255,255,255,.8);
	font-size:12px;
	position: relative;
	top: 822px;
}
.honor_left{
	float:left;
	padding-right: 25px
}

.honor_left img{
	position: relative;
	top: 10px;
	left: -4px;
}
.honor_right img{
	position: relative;
	top: 10px;
	left: -4px;
}
.honor_right{min-width:1200px}
.wire{
	color: #fff;
	opacity: 0;
	width: 754.188px;
	margin: 0 auto;
	position: relative;
	top: 810px;
}
/*------------Material_display------------*/
#homepage_content{
	position: relative;
	width: 100%;
	height: auto;
	top: 880px;

}
.Material_display{
	width:100%;
	min-width:1000px;
	height: 630px;
	position: relative;
	background: #fff;
}
.Carousel_box{
	/*outline: 1px solid red;*/
	width:100%;
	height:100%;
	min-width: 1200px;
}
.Carousel_left {
	width: 640px;
	height: 420px;
	/*outline: 1px solid red;*/
	overflow: hidden;
}
#slideshow{
	width:65%;
	height: 67%;
	position: absolute;
	margin: auto;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	min-width: 1200px;
}
.controls-center { width:200px; margin:0 auto; position: absolute;bottom: 40px;left: 50%;margin-left: -100px;}
#slider_controls {
	padding:5px 0 0 0;
	position:relative;
	margin:0;
	z-index:1000;
	text-align: center;
}
#slider_controls ul {
	margin:0 auto;
	padding: 2px 0;
	height:19px;
	text-align: center;
}
#slider_controls ul li {
	display: inline-block;
	margin:0 25px;
	float:left;
	padding:0;
	list-style:none;
	width:10px;
	height:10px;
	border-radius: 50%;
	background:#c8c8c8;
	cursor: pointer;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
}

#slider_controls ul li:hover,
#slider_controls ul li.small_active
{
	background:#8c8c8c;
	box-shadow: 0 0 1px #c8c8c8;
}


.icon_right{
	width: 417px;
	height: 420px;
	float: right;
	position: relative;
	top: -419px;
}
.icon_right h3{
	font-family: 'OpenSansLight', Arial, Helvetica, sans-serif;
	font-size: 34px;
	color: #323232;
	line-height: 1.4em;
	font-weight: normal;
	padding-bottom: 30px;
	/*margin-top: 37px;*/
}
.icon_right p{
	font-family: 'OpenSansLight', Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #323232;
	line-height: 1.8em;
	font-weight: normal;
	padding-bottom: 34px;

}
.Massive-tryBtn a{
	width: 200px;
	height: 50px;
	display: block;
	line-height: 50px;
	text-align: center;
	background-color: #315c41;
	font-size: 14px;
	color: #fff;
	border-radius: 2px;
}
.Massive-tryBtn a:hover{background-color:#39694b;}
.Massive-tryBtn a:active{background-color:#2c543b;color:rgba(255, 255, 255, 0.5);}
/*-----------------*/
.disposal_box{
	width: 100%;
	height: 828px;
	min-width: 1000px;
	background-color:#f2f4f3;
	position: relative;
	padding-top: 76px;
}

.mid_box{
	width: 1200px;
	height: 690px;
	margin:0 auto;
	/*position: absolute;
	margin: auto;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;*/
	/*outline: 1px solid red;*/
}
.mid_box h3{
	margin: 0 auto;
	font-family: 'OpenSansLight', Arial, Helvetica, sans-serif;
	width: 760px;
	text-align: center;
	padding-bottom: 65px;
	line-height: 1.3em;
	font-size: 34px;
	color: #323232;
	font-weight: normal;

}
.mid_box .contentBox{text-align: center;}
.mid_box .contentBox .mid_box_col{
	display: inline-block;
	position: relative;
	width: 330px;
	height: 525px;
	    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	background: #fff;
	border-radius: 6px;
	text-align: left;
	vertical-align: top;
	transition: all .3s;
	-webkit-transition: all .3s;
	margin: 0 15px;
	cursor: pointer;

}
/*.mid_box .contentBox .mid_box_col:nth-of-type(2){margin:0 36px;}*/
.mid_box .contentBox .mid_box_col>img{
	display: block;
	width: 100%;
	height: 330px;
}
.mid_box .contentBox .mid_box_col .col_description{
	padding: 25px 16px 0;
}
.mid_box .contentBox .mid_box_col .col_description p:nth-of-type(1){
	font-size: 16px;
	line-height: 2;
	margin-bottom: 10px;
	color: #323232;
}
.mid_box .contentBox .mid_box_col .col_description p:nth-of-type(2){
	font-family: 'Arial';
	font-size: 12px;
	color: #8c8c8c;
	line-height: 2;

}
/*.blog_linkIcon{*/
	/*display: block;*/
	/*width: 8px;*/
	/*height: 12px;*/
	/*position: absolute;*/
	/*bottom: 20px;*/
	/*right: 38px;*/
/*}*/

/*--------------*/
.new_feature_box{width:1200px;height:340px;position:relative;margin:0 auto;top:20px;overflow:hidden}
.f_left{position:relative;height:340px;width:600px;overflow:hidden;-webkit-transition:all linear .2s}
.arrow_a{opacity:.8}
.i_container>h2{-webkit-transition:.3s;text-shadow: 3px 3px 2px rgba(0,0,0,.2);}
.f_left img{display:inline-block;position:relative;-webkit-transition:all linear .2s}
.f_left:hover .pic{-webkit-transform:scale(1.1);-webkit-transition:all linear .2s;-webkit-filter:brightness(.5);cursor:pointer}
.f_left:hover .i_container>h2{margin-top:-80px;-webkit-transition:all linear .2s}
.f_left:hover .arrow_a{-webkit-transform:rotate(180deg);opacity:1}
.f_left:hover .f_wen{visibility:visible;-webkit-transition:all linear .2s;top:150px;opacity:1}
.i_container{width:100%;text-align: center;float:left;display:inline-block;color:#fff;position:absolute;left:0;top:152px;right:0;margin:auto}
.i_container span{display:block;width:12px;position:relative;left:0;top:5px;right:0;margin:auto}
.f_wen{display:inline-block;width:410px;position:absolute;left:0;top:340px;right:0;margin:auto;color:#fff;text-align:center;visibility:hidden;-webkit-transition:all linear .2s;opacity:0;line-height:1.8em;font-size: 14px;}
.Try_btn a{display:inline-block;width:142px;height:36px;-webkit-border-radius:2px;border:1px solid rgba(255,255,255,.4);line-height:36px;color:#fff;font-size:14px;text-decoration:none}
.Try_btn a:hover{background-color:rgba(255,255,255,.4)}
.Try_btn a:active{background-color:rgba(255,255,255,.6)}
.f_right>img:nth-of-type(1){position:relative;width: 600px;height: 340px;-webkit-transition:all linear .2s}
.f_left>img:nth-of-type(1){position:relative;width: 600px;
	height: 340px;-webkit-transition:all linear .2s}
.f_right{float:right;position:relative;top:-340px;overflow:hidden;height:340px;width:600px;-webkit-transition:all linear .2s}
.i_container span{display:block;width:12px;position:relative;left:0;top:30px;right:0;margin:auto}
.f_right:hover .pic{-webkit-transform:scale(1.1);-webkit-transition:all linear .2s;-webkit-filter:brightness(.5);cursor:pointer}
.f_right:hover .i_container>h2{margin-top:-80px;-webkit-transition:all linear .2s}
.f_right:hover .arrow_a{-webkit-transform:rotate(180deg);opacity:1}
.f_right:hover .f_wen{visibility:visible;-webkit-transition:all linear .2s;top:150px;opacity:1}
.LM_btn a{display: block;
	border-radius: 2px;
	width: 200px;
	height: 50px;
	border: inherit;
	line-height: 50px;
	background-color: #315c41;
	text-align: center;
	color: #fff;
	font-size: 14px;}
.LM_btn a:hover{
	background-color: #39694b;

}
.LM_btn a:active{
	background-color: #2c543b;
	color: rgba(255, 255, 255, 0.5);
}
.LM_btn{
	width: 200px;
	margin: 76px auto;}
	/*--------mobile-d---------*/
li,ul{margin:0;padding:0;list-style-type:none}
img{border-top-style:none;border-right-style:none;border-bottom-style:none;border-left-style:none}
#zzsc{    height: 500px;
	width: 1008.58px;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;}
#zzsc #wai_box{height:570px;width:1100px;overflow:hidden;position:relative;margin-left: -42px;}
#zzsc .zzsc_box{width:2976px;position:absolute;left:0;top:0}
#zzsc .zzsc_box .img{display:block}
#zzsc .zzsc_box ul{float:left;display:block;height:459px;width:1100px}
#zzsc .zzsc_box li{float:left;font-size:0;line-height:0;position:relative; margin-left: 80px;}
#zzsc .nav{height:10px;width:100%;margin: 0 auto;position: relative;top: 28px;min-width: 1200px;}
#zzsc .nav a{background:#eaedf2;display:block;float:left;height:12px;width:334px;font-size:0;line-height:0;margin-right:2px;cursor:pointer}
#zzsc .nav a:hover{background-color:#d0d4db}
#zzsc .nav .now{background-color:#9F9EA5}

.mobile-d{
	width: 100%;
	height: 720px;
	min-width:1000px;
	position: relative;
	background: #fff
}
.mobeile_content{
	margin: auto;
	/*outline: 1px solid red;*/
	width: 75%;
	height: 70%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	text-align: center;
	transition: all .2s linear;
	min-width:1000px;
}
.mob_box{
	background: url(/images2/mobile_517.png) no-repeat;
	width: 538px;
	height: 464px;


}
.introduction .hr{
	width: 408px;
	margin: 12px 0 18px 0;
	display: inline-block;
	height: 1px;
	background-color: #ebebeb;
}
.introduction{
	width: 410px;
	height: 464px;
	float:right;
	position: relative;
	top: 68px;
}
.introduction h2{
	font-size:34px;
	font-family: 'OpenSansLight', Arial, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 1.3em;
	padding-bottom: 40px;
	color: #323232;
}
.introduction p {
	line-height: 1.8em;font-size:14px;
	font-family: 'OpenSansLight', Arial, Helvetica, sans-serif;
	color: #323232;
}
.mob_Btn{
	display: block;
	width: 375px;
	height: auto;
	position: relative;
	z-index: 999;
	left: 70px;
	top: 475px;
}
.mob_Btn .android_btn a{
	background-image: url("/images2/Andrews_517.png");
	width: 145px;
	height: 45px;
	display: block;
	position: relative;
	left: 31px;
	cursor: pointer;
}
.mob_Btn .ios_btn a{
	background-image: url("/images2/ios_517.png");
	width: 145px;
	height: 45px;
	display: block;
	position: relative;
	left: 203px;
	top: -45px;
	cursor: pointer;
}
.mob_Btn .ios_btn a:hover{
	background-position: 0 46px;
}
.mob_Btn .android_btn a:hover{
	background-position: 0 46px;
}
/*--------------features_page------------*/
.features_page{
	width: 100%;
	min-width:1000px;
	height: 870px;
	background-color:#29282e;
	position: relative;
}
.features_page h2{
	font-size: 34px;
	font-family: 'OpenSansLight', Arial, Helvetica, sans-serif;
	color: #FFF;
	width: 45%;
	margin: 0 auto;
	text-align: center;
	line-height: 1.4em;
	position: relative;
	top: 60px;
	font-weight: normal;
}

#box2{
	width: 100%;
	height: 650px;
	background-size: cover;
	position: relative;
}
.sHoverItem{
	width: 420px;
	height: 314px;
	position: relative;
	float: left;
	cursor: pointer;
	overflow: hidden;
	color: white;
	/*outline: 1px solid;*/
	border-bottom: 1px solid #343339;
	border-right: 1px solid #343339;
}
.sHoverItem h3{
	font-size: 16px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	top: 58px;
	font-weight: normal;
	text-align: center;
}
.sHoverItem .wenzi{
	width: 80%;
	color: #89888f;
	font-size: 14px;
	margin: 0 auto;
	position: relative;
	top: 102px;
	text-align: center
}
.sHoverItem .arrow_2{
	display: block;
	border-bottom: 1px solid #403e47;
	width: 30px;
	top: 39px;
	position: relative;
	margin: 0 auto;
}
.tupian2{
	position: relative;
	width: 112px;
	height: auto;
	margin: 0 auto;
	top: 42px;
	display: block;
}
.sIntro{
	width: 420px;
	position: absolute;
	height: 314px;
	background: #403e47;
	text-align: center;
	z-index: 10;
	opacity: 0;
}
.sIntro>h2{
	width: 200px;
	margin: 0 auto;
	font-size: 16px;
	position: relative;
	top: 40px;
}
.sIntro>p{
	font-size: 14px;
	color: #e0dfe4;
	width: 80%;
	margin: 0 auto;
	position: relative;
	top: 64px;
	height: inherit;
}
.sIntro p a{
	outline: none;
	cursor: pointer;
	color: #fff;    text-decoration: underline;

}
.sIntro .arrow-3{
	display: block;
	border-bottom: 1px solid #6e6a79;
	width: 30px;
	top: 53px;
	position: relative;
	margin: 0 auto;
}
#tubox>.sHoverItem:nth-of-type(2)>.superscript{
	top:50px;
}
.superscript{
	background: url(/images2/row_517.png) no-repeat;
	height: 16px;
	width: 18px;
	display: inline-block;
	position: relative;
	top: -42px;
	left: 198px;
}
#tubox{
	width: 1284px;
	height: 520px;
	margin: auto;
	position: absolute;
	left: 0;
	top: 46px;
	bottom: 0;
	right: 0;
}
#tubox>div:nth-of-type(3){
	border-right: none;
}
#tubox>div:nth-of-type(4),#tubox>div:nth-of-type(5){
	border-bottom:none;
}
.title_f{
	font-size:16px;
	color:#fff;
}
/*****************************************************************************************************************************/



._go_btn_box{ text-align: center;margin: 65px 0 70px; }

#homepage_banner .christmasEvent{ position:absolute; width:231px; height:367px; top:-5px; left:30%; margin-left:-20px; z-index:20;}
#homepage_banner .homepage_banner_box{ float:left; height:80px; text-align:center; position:relative; margin-top:271px;}
#homepage_banner .hp_b_box_1{ width:33.3%; }
#homepage_banner .hp_b_box_2{ width:33.3%; }
#homepage_banner .hp_b_box_3{ width:33.4%; }
#homepage_banner .homepage_banner_box .blackbg{ position:absolute; width:90px; height:84px; top:-30px; left:50%; margin-left:-45px; z-index:2; display:none;}

#homepage_banner .homepage_banner_box a.btn{display:inline-block; filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity: 1;opacity: 1; height:78px; text-indent:-999em; background:url(/images2/index/wbtn.png?id=1502121551) no-repeat; position:absolute; left:50%; top:0; z-index:3;}
#homepage_banner .homepage_banner_box a.btn.leftbtn{ width:320px; margin-left:-160px; height:50px; background-position:-10px -10px;}
#homepage_banner .homepage_banner_box a.btn.leftbtn:hover{  background-position:-10px -190px; }
#homepage_banner .homepage_banner_box a.btn.centerbtn{  width:320px; margin-left:-160px; height:50px; background-position: -10px -70px;}
#homepage_banner .homepage_banner_box a.btn.centerbtn:hover{ background-position: -10px -250px;}
#homepage_banner .homepage_banner_box a.btn.rightbtn{ width:320px; margin-left:-160px; height:50px; background-position:-10px -130px;}
#homepage_banner .homepage_banner_box a.btn.rightbtn:hover{ background-position:-10px -310px;}


#homepage_banner .homepage_banner_box.on .blackbg{filter:alpha(opacity=100);-moz-opacity:1;	-khtml-opacity: 1;opacity: 1;}
#homepage_banner .homepage_banner_box.on a.btn{filter:alpha(opacity=100);-moz-opacity:1;	-khtml-opacity: 1;opacity: 1;}
#homepage_banner::before{
	content: 'Over 1 Million Facebook likes';
	display:block;
	position: absolute;
	bottom: 8px;
	left: 50%;
	width: 200px;
	height: 24px;
	line-height: 24px;
	margin-left: -200px;
	padding-left: 30px;
	font-size: 12px;
	color: rgba(255,255,255,.8);
	background: url('/images2/Partner-with-Facebook-Messenger_1025.png') no-repeat 0 0;
}
#homepage_banner::after{
	content: 'Google Play Top Developer';
	display:block;
	position: absolute;
	bottom: 8px;
	left: 51%;
	width: 200px;
	height: 24px;
	line-height: 24px;
	padding-left: 30px;
	font-size: 12px;
	color: rgba(255,255,255,.8);
	background: url('/images2/Google-Play-Top-Developer_517.png') no-repeat 0 0;
}

/*#new-gg{*/
	/*position: relative;*/
	/*left: 1183px;*/
	/*top: 435px;*/
	/*width: 300px;*/
	/*height: 250px;*/
/*}*/
/*----newindex footer--*/
#footer_box_new{position:relative;margin-top:80px;width:100%;height:auto;min-width:1000px;background:#141414!important}
#homepage_footer_new{margin:0 auto;padding:60px 0 0;width:970px;font-size:16px;font-family:FuturaMediumBT,Tahoma,Geneva,sans-serif}
#homepage_footer_new dl dd a .new{position:absolute;top:176px;left:61px;display:block;width:25px;height:16px;background:url(/images2/header_new.png) no-repeat}
#homepage-copyinfo_new{clear:both;margin:50px auto 0;width:100%;height:72px;border-top:1px solid #212121;background-color:#141414;color:#646464;text-align:center;font-size:14px;line-height:72px}
#homepage_footer_new dl{float:left;display:block;margin:0;width:200px}
#homepage_footer_new dl dt{margin-bottom:10px;color:#dcdcdc;font-weight:400}
#homepage_footer_new dl dd a{color:#787878;font-family:Helvetica,Arial,sans-serif;line-height:30px}
#homepage_footer_new dl dd a:hover{color:#c8c8c8}
#lang_new{margin-top:15px;width:88px;height:26px;border:1px solid #787878;background:url(/images2/index/w_down.png) 70px center no-repeat;color:#787878;text-indent:5px;text-transform:uppercase;font-size:12px;font-family:Helvetica,Arial,sans-serif;line-height:26px;cursor:pointer}
#lang_new:hover{border:1px solid #ebebeb;background-color:#ebebeb;color:#505050}
ul#index-lang_new{position:absolute;top:27px;left:0;display:none;border:1px solid #787878;background:rgba(0,0,0,.4);list-style:none;text-transform:uppercase;font-family:Helvetica,Arial,sans-serif}
ul#index-lang_new li{display:block;width:88px;height:24px;text-indent:5px;cursor:pointer;text-align: left;}
ul#index-lang_new li a{display:block;width:88px;height:25px;font-size:12px;line-height:24px!important}
ul#index-lang_new li a:hover{background:#9d8f69;color:#f0f0f0}
ul#index-lang_new li a:active{background:#7a6d47;color:#fff}
/*首页分享*/
.homepageShareBox{
	float: right;
	width: 200px;
}
.homepageShareBox>div{
	display: inline-block;
	width: 36px;
	height: 36px;
	margin:0 0 8px 18px;
}
.homepageShareBox .homeShareBtn{
	display: block;
	width: 36px;
	height: 36px;
	margin: auto auto;
	background-image: url(/images2/homeShare.png);
	background-repeat: no-repeat;
}
.homepageShareBox>div:hover .homeShareBtn{width: 100%;height: 100%;}
.homepageShareBox .homeShareBtn.facebookBtn{background-position: 0 0;}
.homepageShareBox .homeShareBtn.inBtn{background-position: -36px 0;}
.homepageShareBox .homeShareBtn.twitterBtn{background-position: -73px 0;}
.homepageShareBox .homeShareBtn.pinterestBtn{background-position: -108px 0;}
.homepageShareBox .homeShareBtn.googleBtn{background-position: -144px 0;}
.homepageShareBox .homeShareBtn.youtubeBtn{background-position: -180px 0;}
.homepageShareBox .homeShareBtn.tumblrBtn{background-position: -216px 0;}
.homepageShareBox .homeShareBtn.vBtn{background-position: -252px 0;}
.homepageShareBox>div:hover .homeShareBtn.facebookBtn{background-position: 0 -36px;}
.homepageShareBox>div:hover .homeShareBtn.inBtn{background-position: -36px -36px;}
.homepageShareBox>div:hover .homeShareBtn.twitterBtn{background-position: -72px -36px;}
.homepageShareBox>div:hover .homeShareBtn.pinterestBtn{background-position: -108px -36px;}
.homepageShareBox>div:hover .homeShareBtn.googleBtn{background-position: -144px -36px;}
.homepageShareBox>div:hover .homeShareBtn.youtubeBtn{background-position: -180px -36px;}
.homepageShareBox>div:hover .homeShareBtn.tumblrBtn{background-position: -216px -36px;}
.homepageShareBox>div:hover .homeShareBtn.vBtn{background-position: -252px -36px;}

/*******************************************************************************************/


