@charset "utf-8";
/* CSS Document */

#homepage_login,#abt_gg_ad_toppan,#homepage_header_menu,#homepage_forum,.likebox,.cut_off_rule{ display: none;}
#gg_pancle{ display: none;}
#ad_botpan{ display: none;}
#flash_header{ display: none;}
#flashshow{ display: none;}
#indexdiv{ width: 100%; min-width: initial;}
body{width: 100%; min-width: initial;}

/*---------*/
#homepage_content .Photo_contestLink{
    width: 100%;
    min-width: initial;
    overflow: hidden;
    height: 230px !important;
    background-size: auto 100% !important;
}

.mid_box h3{
    width: 80%;
    margin: 0 auto;
    font-size: 1.3rem;
    padding: 2em 0 4em 0;
}
#homepage_content #Index_Join_Now{
    margin: auto;
    font-size: 1.1em;!important;
    width: 118px;height: 30px;line-height: 30px;
    position: relative;
    top: 160px;
}

/*---------*/
#homepage_header{min-width: initial;}
#homepage_header #homepage_logo {margin: 14px 40px 0;}

#homepage_banner .fotor_new{ width: 80%; margin:60px auto 0; position: relative; top: 0; left: 0; height: auto;}
#homepage_banner .fotor_new p{font-size: 0.8em !important;margin: 0;}
#homepage_banner .fotor_new h2 {font-size: 1.4em !important; width: 60%;margin: auto;}
#homepage_banner .fotor_new h3 {font-size: 1.4em !important; width: 100%;margin: auto;}
#homepage_banner .fotor_new .span-line{ margin: 15px auto;}
#homepage_banner .fotor_new a.sEvent{ display: none;}
#homepage_banner .fotor_new span.more{ display: none;}

.next_page_box{ width:100%; margin:20px auto; height:28px; padding-top:28px; position:relative;top:0;}
#homepage_content{ width:100%; min-width:initial; font-family:'htprolt', Tahoma, Geneva, sans-serif;}
#homepage_content .txt{ width:95%; margin:0 auto; padding: 30px 0; font-size:18px; text-align:center; line-height:35px; text-transform:uppercase; color:#727171; font-family:'OpenSansLight', Arial, Helvetica, sans-serif;}
#homepage_content .txt h2{ font-size:18px; line-height:35px; font-weight:normal; margin:auto; padding:0; text-align:center;}
#homepage_content .fotor_app_box{}
#homepage_content .fotor_app_box .bg_img{ position:relative; width:100%; height:auto; padding-top:64px; top:0;}
#homepage_content .fotor_app_box .bg_img img{ width:100%;}
#homepage_content .fotor_app_box .words{ padding-top:20px; font-size:24px;}
#homepage_content .fotor_app_box .words div{ float:none !important; text-align:center;}
#homepage_content .fotor_app_box .fotor_app_btn{ width:100%; margin-top:20px; font-size:0;}
#homepage_content .fotor_app_btn .btn{ width:36%; height:auto; margin:0 2%;}
#homepage_content .fotor_app_btn .btn img{ width:100%;}

#homepage_content .fotor_app_box .pic_ios_android{ width: 75%;}
#homepage_content .home_hdr{ display: none;}

#homepage_content .hdr_video, #homepage_content .forum_video{ margin: 0 auto 15px !important; float: none !important;}

#homepage_content ul.fotor_new_tips{ list-style:none; width:100%;}
#homepage_content ul.fotor_new_tips li{ float:none; display: block; width:90%; height:auto; margin:0 auto 15px; overflow: hidden; padding-bottom: 30px;}
ul.fotor_new_tips li img{}
ul.fotor_new_tips li .tipsTitle{ font-size:16px; line-height:25px; margin-top:5px;}
ul.fotor_new_tips li .tipsTitle a{ color:#000;}
ul.fotor_new_tips li .tipsDes{font-size:12px;}

#homepage_content ul.fotor_func_list{ list-style:none; width:100%;}
#homepage_content ul.fotor_func_list li{ width: 100%; margin: 0 auto 30px; float: none; height: auto;}
ul.fotor_func_list li .littetxt,ul.fotor_func_list li a.more{ display: none;}
ul.fotor_func_list li .txt_box{ position: static; margin: auto; width: 90%; opacity: 1; line-height: 25px; }
ul.fotor_func_list li .icon_box{  width: 100%; /*height: auto;*/}
.Text_explain{width:auto;}
ul.fotor_func_list li .icon_box .icon{ position: static; margin:auto;}
ul.fotor_func_list li h2{ position: static; width: 100%; margin: 30px 0 10px; }

ul.fotor_func_list li:hover .icon_box .icon{ width: 96px; height: 96px; left: auto; margin: auto;}
ul.fotor_func_list li:hover .icon_box h2{ top: auto;}
ul.fotor_func_list li:hover .littetxt{ display: none;}
ul.fotor_func_list li:hover .txt_box{ opacity: 1; top: auto;}


#homepage_content .con_box{ width:93%; margin:auto;}
#homepage_content .con_box.fotor_events_words{ padding:50px 0; }
#homepage_content .con_box.fotor_events_words img{ width: 90%; }
.fotor_events_words a.apply_fotor_events{  margin: 35px auto 0; width: 100px; height:25px;}

#homepage_banner .fotor_new a.homePage_seePricing {display: none;}
.ad_300_250_box{ position: relative; margin: auto; top:0; left: 0;}


/*  new homepage phone.css 2016.5.20*/
body{width:100%;min-width:initial!important}
#upGradeIconBtn{display:none}
#homepage_header_new{min-width:initial}
#homepage_logo_new{float:left;margin:-11px 30px 0}
#homepage_logo_new img{width:60px}
#homepage_banner{position:relative;overflow:hidden;width:100%;height:230px!important;min-width:initial}
#homepage_banner .fotor_new{position:relative;top:0;left:0;margin:86px auto 0;width:65%;height:auto;font-size:13px}
.honor_box{position:relative;top:65px;margin:0 auto;width:385px;height:auto;font-size:.6rem}
.honor_left img{top:3px;left:-4px;width:.9rem}
.honor_right img{top:3px;left:-4px;width:.9rem}
.honor_left{float:left;padding-right:8px}
.wire{position:relative;top:42px;margin:0 auto;margin-top:-10px;width:80%}
#homepage_header_menu_new{display:none}
#menuuserpanle_new{position:relative;margin-top:0;margin-top:-27px;margin-right:-5px}
#menuuserpanle_new a{display:none}
.menuslist_y{display:none}
.Material_display{position:relative;top:0;overflow:hidden;width:100%;height:600px;min-width:initial}
.Carousel_box{padding-top:2rem;padding-bottom:2rem;width:100%;height:auto;min-width:inherit}
.Carousel_left{overflow:hidden;margin:0 auto;width:90%}
.icon_right h3{padding:1.2rem;font-size:1.3rem}
.icon_right p{margin:0 auto;width:90%;font-size:.9rem}
.icon_right{position:relative;top:-125px;margin:0 auto;width:100%;text-align:center;left: 0!important;}
.icon_right .Massive-tryBtn{display:none}
.Massive-tryBtn a{margin:0 auto}
.luara-left ul li img{width:100%!important;height:62%!important;}
.example2 ol{top:-220px;left:-116px}
.disposal_box{position:relative;top:0;overflow:hidden;width:100%;height:100%;min-width:initial;background-color:#f2f4f3}
.f_left img{width:100%;height:auto}
.f_left .i_container h2{margin-top:-40px}
.f_right>img:nth-of-type(1){position:relative;top:34px;left:0;width:100%;height:auto}
.mid_box{position:relative;overflow:hidden;width:100%;height:inherit;min-width:initial}
.mid_box h1{margin:0 auto;margin-top:36px;padding-bottom:4em;width:80%;text-align:center;font-size:1.8em;font-family:OpenSansLight,Arial,Helvetica,sans-serif}
.new_feature_box{position:relative;overflow:hidden;margin:0 auto;margin-top:-90px;width:100%;height:auto}
.i_container{margin-top:-50px;width:223px;font-size:.5rem}
.f_left:hover .i_container>h2{margin-top:-92px}
.f_left:hover .f_wen{top:40px;  width: 80%;font-size: .7rem;padding-top: 0.9rem;}
.i_container span{top: .5rem;}
.f_right:hover .f_wen{top:65px}
.f_left:hover .f_left>.f_wen>p{padding-bottom:0}
.Try_btn a{width:107px;height:29px;text-decoration:none;font-size:12px;line-height:29px}
.f_left{position:relative;overflow:hidden;margin:0 auto;width:80%;height:30%}
.f_right{position:relative;top:-80px;float:none;overflow:hidden;margin:0 auto;width:80%;height:30%}
.f_right:hover .i_container>h2{margin-top:-49px}
.f_right:hover .f_wen{top:100px;font-size: .7rem;width: 80%}
.LM_btn{display:none}
.mobile-d{position:relative;top:0;height:780px}
#zzsc{overflow:hidden;height:auto;width: 100%;}
.introduction h2{padding-bottom:0;font-size:1.5rem}
.introduction .hr{display:block;margin:12px 0 18px 0;width:100%}
.zzsc_box{}
.zzsc_box ul li a img{width:100%}
.zzsc_box ul li{position:absolute;top:0;left:0;width:2976px}
#zzsc .zzsc_box li{float:none;margin:0 auto;width:80%}
#zzsc .zzsc_box ul{width: 100%;height: inherit;}
#zzsc .zzsc_box{width: 100%;height: inherit;}
#zzsc #wai_box{height:100%;width: 100%;}
.mob_Btn{display:none}
.introduction{width:80%;margin: 0 auto;float: none;}
.features_page{position:relative;top:0;width:100%;height:2000px;min-width:inherit;background-color:#29282e}
.features_page h1{margin:0 auto;width:80%;font-size:24px}
.sHoverItem{float:none;width:100%;border-right:none}
.sIntro{position:absolute;top:0;left:0;z-index:99;width:100%!important;height:314px;opacity:1}
.superscript{diaplay:none}
#tubox{width:100%}
.features_page h2{font-size: 1.2rem;width: 90%;}