@charset "utf-8";
/* CSS Document */
#homepage_header_menu,#homepage_login,#upGradeIconBtn,#homepage_forum,.likebox,#nav,#MarketGidScriptRootN3310, #MarketGidTitle, #btn_dragfile,.cut_off_rule,.get-start-btn,.get-start-btn-s2,.get-start-btn-s3,#feature-header-tips{ display: none !important;}
#gg_pancle{ display: none;}
#upGradeIconBtn{display:none;!important}
/*#ad_botpan,#abt_gg_ad_toppan,.features-ad{ display: none;}*/
#ad_botpan{ padding-top: 0;}
#flash_header{ display: none;}
#flashshow{ display: none;}
#indexdiv{ width: 100%; min-width: initial;}
#indexdiv .p_mid{ width: 100% !important; margin: auto;}
.p_mid .p_words{ width: 92% !important; margin: auto; padding-top: 50px !important;}
body{width: 100%; min-width: initial !important;}

#header{ width:100%; min-width:initial; }

#footer_box{width:100%; background:#323232; min-width:initial !important; padding-top: 30px;}
#homepage_footer{
    width:85%;
    margin:0 auto;
    padding:0;
}
#homepage_footer dl{
    display:block;
    width:50% !important;
    margin:0 0 15px 0;
    float:left;
    min-height: 120px;
}
#homepage_footer dl dt{ }
#homepage_footer dl dd a{}
#homepage-copyinfo{
    margin:50px auto 0;
    width:100%;
    clear:both;}


/*end change*/


.fe_content{ width:100%; margin:0 auto 20px; padding-top:70px; font-family:"Segoe UI", "Lucida Grande", "Open Sans", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;}

.fe_content .fleft{ float:none; width:100%;}
.fe_content .fright{ float:none; width:100%;}
.fe_content .font1{ margin-top: 20px; font-size: 28px;}
.fe_content .font2{ margin-bottom: 20px; font-size: 20px; }


.fe_content .fleft .imgsbox{ width:100%; height:auto; overflow:hidden; text-align: center; position:relative;}
.fe_content .fleft .imgsbox div{width:100%; height:auto; position:absolute; top:0; left:0; display:none; background-repeat:no-repeat; background-position:center top;}
.fe_content .fleft .imgsbox div.s_onc{ display:block;}
.fe_content .fleft .imgsbox img{ width:auto;  max-width:80%; height:auto; margin: auto !important;}
.fe_content .paddingfix{ padding: 15px 0 !important;}



.cards_class a{ display:block; width:100%; height:auto; overflow:hidden; float:none; margin-right:0; margin-bottom:11px; position:relative;}
.cards_class a img{ width: 100%;}
.cards_class a h3{ position:absolute; left:200px; top: auto; bottom: 0; font-size:16px; line-height:35px; }
.cards_class a h3.sp{ left:170px;}
.cards_class a.sp{ width:100%; height:auto;}
.cards_class a.sp img{ width: 100%;}
.cards_class a.sp h3{left:15px; top:323px; color:#fff; font-size:20px; line-height:60px;}
.cards_class .fleft{ float:none; width:100%;}
.cards_class .fright{ float:none; width:100%;}
.cards_class .fright a{ margin-right:0;}

.top_box{ width:100%; min-width: initial; height:200px !important;}
.top_box .pic_s_box{width:100%; height:200px !important; margin:auto; background:#9ec033;}
.top_box .pic_s_box .imgsbox{ width:100%;  height:200px !important; overflow:hidden; position:relative;}
.top_box .pic_s_box .imgsbox div{width:100%;  height:200px !important; position:absolute; top:0; left:0; display:none; background-repeat:no-repeat; background-position:center top;}
.top_box .pic_s_box .imgsbox div.s_onc{ display:block;}
.top_box .pic_s_box .pic440{ height: 200px !important;}
.top_box .pic_s_box .backgoundfix{ background-size: 240% 100% !important;}

.col_nav{ display: none;}

#feature-info{ width:100%; margin:auto; color:#3d3d3d;}


#feature-info .piclist2 ul li{ float:none; list-style:none; width:228px; padding:5px; margin:0 auto 10px !important; height:255px; background:#fff;}

#feature-info img{ width: 100%; height:auto;}



.templist{ width:100%; color:#333;}
.templist ul.cardslist{ list-style:none; width:100%;}
.templist ul.cardslist li{ float:none; margin:0 auto 15px; width: 80%; }
.templist ul.cardslist li .imgbox img{ height:auto !important; width: 100% !important;}
.templist ul.cardslist li .pname{ width: 100% !important;}

.templist ul.clipartslist{ list-style:none; width:100%;}
.templist ul.clipartslist li{ float:none; width:80%; margin:0 auto 15px;}

.templist ul.clipartslist li .imgbox{ position:relative;width:92%; height:auto; padding:4%; text-align:center; }
.templist ul.clipartslist li .imgbox img{ width: auto !important; max-width: 100% !important; height: auto; margin: auto !important;}


.templist ul.allclipart li{ float: left; width:46% !important; margin: 0 2% 15px;}
.templist ul.allclipart li .imgbox{width:96% !important; height:auto !important; }
.templist ul.allclipart li .imgbox img{ width: 100%;}


.pinfopage{ width: 100% !important; padding-top: 90px !important;}
.pic_panle{ float:none; width:96%; margin: auto; height:auto; border:1px solid #dddddd; padding:40px 0; text-align: center; overflow:hidden;}
.pic_panle img{ width: 80% !important; height: auto !important; margin: auto !important;}
.con_panle{ float:none; width:96%; margin: auto; color:#000;}
.other_p_list ul li{ float:none; width:80%; margin:20px auto 0;}
.other_p_list ul li .pic{width:90%; height:auto; padding:5%; border:1px solid #d4d4d4; overflow:hidden; text-align: center;}
.other_p_list ul li .pic img{ width: auto !important; max-width: 100% !important; height: auto; margin: auto !important; }
.other_p_list ul li .name{ width:100%; height:35px; line-height:35px; text-align:center; overflow:hidden;}

.collage_top_box{ width: 100%; margin: auto; padding-top:65px; position:relative;}


.collage_top_box .content_nav{ display: none; }
.collage_top_box .feature-title{ top: 70px; }
.collage_top_box .feature-title h2{ line-height: 20px !important;}

#feature-info .feature-con .img{ float: none; width: 100%;}
#feature-info .feature-con .img img{ width: 100%;}
#feature-info .feature-con .words{ float: none; width: 100%; font-size: 15px; line-height: 25px; margin-top: 20px;}

#feature-info .collage-depict ul li{ float: none; width: 100%; margin-right: 0;}
#feature-info .collage-depict .words{ padding: 15px; height:auto; }

.pic-box{ width: 100% !important; height: auto !important;}
.pic-box a{ color:#000;}
.pic-box a.flash_action{ margin-bottom: 10px; display: block;}
.pic-box a.flash_action:after{content: ''; clear: both;}

.pic-box .l-box{    width:100%;    height:auto;    float:none;}
.pic-box .l-box div{ width:95%; height:auto; float:none; margin:auto !important; -webkit-box-shadow:0 1px 3px #292929;    -moz-box-shadow:0 1px 3px #292929;    box-shadow:0 1px 5px #292929;}
.pic-box .r-box{ width:95%; height:auto; float:none; margin:auto !important; -webkit-box-shadow:0 1px 3px #292929;    -moz-box-shadow:0 1px 3px #292929;    box-shadow:0 1px 5px #292929;}

.pic-box img{
	margin-right:0px !important; float:none; width: 100% !important; height: auto;}
.depict{ width:100%; margin-top:30px;}
.depict>div{
	width:90% !important;
	margin: 0 0 15px 0 !important;
    height: auto !important;
    padding: 0 5% 15px !important;
}
.depict h2{ font-size:22px; color:#7A3A3A; margin:20px 0 10px 0;}
.depict h2{ font-size:22px; color:#7A3A3A; margin:20px 0 10px 0;}
.feature-title,.sub-feature-title{
    width: 92% !important;
    height: auto;
    position: absolute;
    top: 60px;
    left: 4%;
    right: 4%;
	margin-left:0px !important;
	color:#fff;
	z-index:999;
	display:none;}
.feature-title h1,.sub-feature-title h1{
	font-size:18px !important;
    line-height:30px;
	margin-bottom:15px;}
.feature-title h2,.sub-feature-title h2{
	font-size:12px !important;
	font-weight:normal;}
.feature-title a,.sub-feature-title a{
	display:none !important;}

	
a.tryit{  display: none;}
/* for new pages */
.auto-switch{
	height:auto; width: 100%;}
.auto-switch>a{
	float:none !important;
	position:relative;
	width:100% !important;
	height:auto;
	display:block;}
.auto-switch>a img{
	position:absolute;
	top:0;
	left:0;}
#retouching_features{
	width:100% !important;
	height:auto !important;
	position:relative;}
#imgBox img{
    width: 100% !important;
    height: auto;
	position:absolute;
	top:0;
	left:0;}
#retouching_features #retouching_btn{
	width:210px;
	position:absolute;
	top:0 !important;
	left:0;
	z-index:3;}
#retouching_features #retouching_btn div{
	width:210px;
	height:17px;
	margin-bottom:1px;
	background:rgba(0,0,0,0.2);
	font: 12px/17px "Muli";
	color:#fff;
	text-indent:50px;
	cursor:pointer;}
.effect-style div{
	margin-bottom:1px!important;}

.ie8_restore .flash_action{
	display:block; height:auto; width:100%; float:left; margin-bottom: 10px;}



#lang{
    display: none;
}
ul#index-lang{
    width: 200%;
    position: static;
    top:0;
    left:0;
    display:block;
    border: 0;}
ul#index-lang li{
    color:#fb6b6f !important;
    float: left;
    font:12px muli;
    margin-bottom:5px;
    text-indent:0;
    width:50%;
    background:none;
    cursor:pointer;}
ul#index-lang li a{color:#8a8a8a !important; font:12px/25px muli;}


#bottomAppLink{width:92%; padding:30px 4%; height: auto; background:rgba(255,255,255,0.8); position:fixed; zoom:1; z-index:11000; bottom:-500px;}

/**/
.big-img-bg,.hdr-topBanner{ background-size: auto 100% !important; height: 250px !important; }
.text-title-box h1{ font-size: 6em; letter-spacing: 0.25em;}
.text-title-box h2{ font-size: 3.2em; letter-spacing: 0;}

.feature-des-box{ margin-top: 20px;}
.row.row2 .thumbnail-left, .row.row2 .thumbnail-right,.row.row2_w4_6 .thumbnail-left,.row.row2_w4_6 .thumbnail-right,.row.maxw1300.row2 .thumbnail-left,.row.maxw1300.row2 .thumbnail-right{ float: none; width: 100%; margin-bottom: 25px;}
.row.maxw1340.row2 .thumbnail-left{float: none; width: 100%; margin-bottom: 25px;}
.row.maxw1340.row2 .thumbnail-right{float: none; width: 100%; margin-bottom: 25px;}
.row.maxw1300.row2 .thumbnail-left{ float: none; width: 100%; margin-bottom: 25px;}
.row.maxw1300.row2 .thumbnail-right{ float: none; width: 100%; margin-bottom: 25px;}
.row.maxw1140.row2 .thumbnail-left{ float: none; width: 100%; margin-bottom: 25px;}
.row.maxw1140.row2 .thumbnail-right{ float: none; width: 100%; margin-bottom: 25px;}
.row.maxw1140.row2 .thumbnail-right.vmiddle{ float: none; width: 100%; position: static; top: 0; left: 0; margin-top: 0; margin-bottom: 25px;}
.row.maxw1050.row2 .thumbnail-left{ float: none; width: 100%; margin-bottom: 25px;}
.row.maxw1050.row2 .thumbnail-right{ float: none; width: 100%; margin-bottom: 25px;}
.row.maxw1050.row2 .thumbnail-right.vmiddle{ float: none; width: 100%; position: static; top: 0; left: 0; margin-top: 0; margin-bottom: 25px;}
.row.maxw1120.row2 .thumbnail-left{ float: none; width: 100%; margin-bottom: 25px;}
.row.maxw1120.row2 .thumbnail-right{ float: none; width: 100%; margin-bottom: 25px;}

.row .text-des{ margin-top: 20px;}
.row.margTop190,.row.margTop160{ margin-top: 40px;}
.row .text-title.text-title2{ font-size: 2.5em;}
.row .h3-title{ line-height: 2em;}
.icon-links{ width: 90%}
.icon-links .tools ul li{ width: 50%; margin-bottom: 25px;}
.icon-links .tools ul li .features-icon{ width: 90px; height: 90px;}

.effect-f-page .banner{ width: 100%; height: auto;}
.effect-f-page .banner h1{ font-size: 24px; padding-top: 40px; letter-spacing: 0.25em; width: 90%; margin: 0 auto 35px;}
.effect-f-page .banner h2{ line-height: 1.5em; width: 90%; margin: 0 auto 65px;}
.btn_underline{ display: none !important;}
.effect-f-page .banner .imgsbox{ width: 100%; height: 300px; position: relative; top: 0;}
.effect-f-page .banner .img-list-link{ display: none;}
.effect-f-page .black-bg{ display: none;}
.effect-f-page .mac-operation-panel{ margin-top: 40px;}
.effect-f-page .tale1{min-width: initial; height: 250px; margin-top: 50px; background: url(/images2/features/photo_effects/pic1.jpg) no-repeat center bottom; background-size: 65% auto; text-align: center;}
.effect-f-page .more-effects .title, .effect-f-page .tale1 .title{ font-size: 14px; letter-spacing: 0.2em; text-align: center;}
.effect-f-page .tale1 .content-box,.effect-f-page .tale2 .content-box{ width: 100%; text-align: center; margin: auto; position: static; }
.effect-f-page .tale2{min-width: initial; width: 90%; margin: 50px auto 0; height: auto; background: url(/images2/features/photo_effects/pic2.jpg) no-repeat center bottom; background-size: 100% auto; padding-bottom: 250px;}
.effect-f-page .more-effects .des, .effect-f-page .tale2 .des{ position: static; width: 100% !important; letter-spacing: inherit; }
.effect-f-page .more-effects{ width: 90%; margin: 50px auto;}
.effect-f-page .more-effects .effects-holder{ width: 100%; margin: auto; height: auto;}
.effect-f-page .more-effects .effects-holder .one-effects{ position: relative; width: 100%; margin: 0 auto 20px; top: 0 !important; left: 0 !important; }
.effect-f-page .more-effects .effects-holder .one-effects img{ width: 100%;}

.features-tag-list{ width: 95%; margin:40px auto 0; text-align: left !important;}
.features-tag-list a{ padding: 0; margin: 5px 10px;}
.features-tag-list a.on{border-bottom: 1px solid #282828;}
.features-tag-list .move_underline{ display: none !important;}
.features-img-list{ margin-top: 30px;}
.features-img-list a{ width: 50%;}
.features-img-list.row_imgs_3 a{width: 33.3%;}
.features-img-list.row_imgs_4 a{width: 50%;}
.features-img-list.row_imgs_5 a{width: 50%;}
.features-img-list.row_imgs_6 a{ width: 33.3%;}
.guide_steps{ padding: 40px 0; margin-top: 40px;}
.guide_steps ul.steps_list{ margin-top: 40px;}
.guide_steps ul.steps_list li,.guide_steps ul.steps_list.steps3 li{ width: 50%; height: auto; box-sizing: border-box; padding: 5px; margin: 0 0 20px; background: none;}
.guide_steps ul.steps_list .steps-item-info{ margin-top: 10px;}
.guide_steps ul.steps_list .steps-item-title i{ width: 40px; height: 40px;}
.other_features_link{ padding: 40px 0;}
ul.features_link_list{ margin: 40px auto 0; }
ul.features_link_list li {width: 46%; margin: 0 2% 25px;}
ul.features_link_list li img{ width: 80px; height: auto;}
ul.features_link_list li .des{ height: 132px; overflow: hidden;}
ul.features_link_list li a.link{ display: inline-block;}

.feature-bottom-box{ height: auto !important; padding: 20px 0;}
.feature-bottom-box .text-title-box2{ position: relative; top: 0; left: 0;}
.feature-bottom-box .text-title-box2 h3{ margin-bottom: 0;}

.midDescription{  padding: 40px 0; margin-top: 40px;}
ul.function-des{ width: 100%; margin: 40px auto 0;}
ul.function-des li { width: 85%; float: none; margin: 0 auto 25px;}

.hdr-using-procedure {margin: 40px auto 0; text-align: center;}
.hdr-using-procedure ul{ width: 90%;}
.hdr-using-procedure ul li{ float: left; width: 45%; margin: 0 2.5% 20px;}
.hdr-using-procedure-mask p{padding: 10% 0;}
.hdr-using-procedure-mask a{display: none;}