@charset "utf-8";

/*2016.5.27 new index*/
@media only screen and (max-width:1660px){
    #homepage_banner{overflow:hidden;width:100%;height:700px;min-width:inherit}
    #homepage_content{top: 700px;min-width: inherit;width: 100%;}
}
@media only screen and (max-width:1440px){
    #homepage_content{top: 660px;min-width: inherit;width: 100%;}
    #new-gg{position:relative;display: inline-block;top:46px;left:70px;}
    #indexdiv{width:100%;min-width:initial}
    body{width:100%;min-width:initial}
    .honor_box{top:605px}
    .upGrade-chris{top:500px}


    #homepage_banner .fotor_new>h2:nth-of-type(1){width:100%;font-size:36px;}
    #abt_gg_ad_toppan{position:relative;overflow:hidden;width:100%;height:110px!important}
    #homepage_banner{overflow:hidden;width:100%;height:660px;min-width:inherit}
    .menuslist_y .flash_action{width:110px;height:110px;font-size:16px;border-radius: 50%;
        line-height: 110px;}
    .menuslist_y .yuan{width:110px;height:110px;border-radius:110px}
    .menuslist_y{margin:60px auto;width:125%}
    #homepage_banner .fotor_new{width:50%}
    .wire{top:590px}
    .Material_display{width:100%;height:620px;min-width:inherit}
    /*.Carousel_left{overflow:hidden;margin-left:50px;width:580px;height:380px}*/
    /*.luara-left ul li img{width:580px!important;height:380px!important}*/
    /*.example2 ol{top:-68px;width:228px;height:20px}*/
    .icon_right{top:-407px;left:-43px}
    .disposal_box{width:100%;height:828px;min-width:inherit}
    .new_feature_box{width:1104px}
    .f_left{width:552px;height:312px}
    .f_right{top:-312px;width:552px;height:312px}
    .i_container{width:100%}
    .mobile-d{height:680px;min-width:inherit}
    .features_page{width:100%;min-width:inherit}
    #footer_box_new{width:100%;height:auto;min-width:inherit}
    .show-bar{width: 590px;height: 40px;}
    .show-bar-txt{line-height: 40px;padding-left: 28px}
    .show-bar img{left: 26px}
}
@media only screen and (max-width:1366px){
    #homepage_content{top: 560px;min-width: inherit;width: 100%;}
    #homepage_banner{overflow:hidden;width:100%;height:560px;min-width:inherit;background-image: url("")}
    #homepage_banner .fotor_new{width:53%}
    .honor_box{top:505px}
    .wire{top:495px}
    /*#homepage_banner .fotor_new>h2:nth-of-type(1){width:70%;}*/
    #abt_gg_ad_toppan{position:relative;height:110px!important}
    .Material_display{width:100%;height:620px;min-width:inherit}
    .disposal_box{width:100%;height:828px;min-width:inherit}
    .mobile-d{height:680px;min-width:inherit}
    .features_page{width:100%;min-width:inherit}
    #footer_box_new{width:100%;height:auto;min-width:inherit}
    #new-gg{position:relative;top:48px;left:32px}
    #homepage_banner .fotor_new>h2:nth-of-type(1){color: #fff; font-size: 36px;line-height: 1.4em;}
    .show-bar{width:586px;height: 32px; }
    .show-bar-txt{line-height: 32px;padding-left: 28px}
    .show-bar img{left: 21px}
    .upGrade-chris{top:400px}
    /*#upGradeIconAllPage{top:400px!important}*/
}

@media only screen and (max-width:640px){
    #abt_gg_ad_toppan,#new-gg,#ad_botpan{display:block;!important}
    #homepage_content{top: 0;min-width: inherit;width: 100%;}
    #upGradeIconAllPage{display:none;!important}
    #homepage_banner{height: 200px!important;}
    #lang_new{display:none}
    #zzsc{width: auto;}
    .honor_box{display: none;}
    #zzsc .zzsc_box ul{}
    ul#index-lang_new{position:static;top:0;left:0;display:block;width:200%;border:0}
    ul#index-lang_new li{float:left;margin-bottom:5px;width:50%;background:0 0;color:#fb6b6f!important;text-indent:0;font:12px muli;cursor:pointer}
    ul#index-lang_new li a{color:#8a8a8a!important;font:12px/25px muli}
    #footer_box_new{padding-top:30px;width:100%;min-width:initial!important;background:#323232}
    #homepage_footer_new{margin:0 auto;padding:0;width:85%}
    #homepage_footer_new dl{float:left;display:block;margin:0 0 15px 0;width:50%!important;min-height:120px}
    #homepage-copyinfo_new{clear:both;margin:50px auto 0;width:100%}
    .f_left>img:nth-of-type(1){position:relative;left:0;top: 0;}
}
.banner_icon_h2 {
      display: none;
}

@media only screen and (min-width: 1600px){
    .banner_icon_h2{
        display: none;
    }
}
@media screen and (min-width: 1279px) and (max-width: 1365px){
    .banner_icon_h2{
        display: block;
    }
}
@media screen and (min-width: 1365px) and (max-width: 1439px){
    .banner_icon_h2{
        display: block;
    }
}
@media screen and (min-width: 639px) and (max-width: 1280px){
    #homepage_banner{
        height: 500px;
        width: 100%;
        min-width: inherit;
     }
    .banner_icon_h2{
        display: block;
    }
    .menuslist_y{
    }
    #homepage_content,#abt_gg_ad_toppan,.Material_display,.disposal_box,.mobile-d,.features_page,#footer_box_new{
        min-width: 1288px;
    }
    #homepage_content{
        top:500px;
    }
    .wire {
        top: 450px;
    }
    .honor_box {
        top: 455px;
    }
}


ul.fotor_func_list li {
    float: left;
    position: relative;
    /*margin: 0 68px 100px 0;*/
    width: 420px;
    height: 312px;
    font-size: 14px;
    -webkit-transition: all 0.3s;
}
.icon_box{
    width: 420px;
    height: 312px;
    border-bottom: 1px solid #343339;
    border-right: 1px solid #343339;
    display: inline-block;
    -webkit-transition: all 0.3s;
}
.icon_box .icon{
    position: relative;
    width: 112px;
    height: auto;
    margin: 0 auto;
    top: 42px;
    display: block;
    -webkit-transition: all 0.3s;
}
.icon_box h3{
    font-size: 16px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 58px;
    font-weight: normal;
    text-align: center;
    color: #fff;
    -webkit-transition: all 0.3s;
}
.icon_box .arrow_2{
    display: block;
    border-bottom: 1px solid #403e47;
    width: 30px;
    top: 80px;
    position: relative;
    margin: 0 auto;
    -webkit-transition: all 0.3s;
}
.icon_box .wenzi{
    width: 80%;
    color: #89888f;
    font-size: 14px;
    margin: 0 auto;
    position: relative;
    top: 102px;
    text-align: center;
    -webkit-transition: all 0.3s;
}

ul.fotor_func_list li.edit:hover .icon_box .icon {
    width: 60px;
    height: 60px;
    left: 35px;
    top: 10px;
    margin: 0;
    -webkit-transition: all 0.3s;
}
ul.fotor_func_list li.edit:hover .icon_box h3{
    top: -30px;
    -webkit-transition: all 0.3s;
}
ul.fotor_func_list li.edit:hover .icon_box .arrow_2 {
    display: none;
    -webkit-transition: all 0.3s;
}
ul.fotor_func_list li.edit:hover .icon_box .wenzi {
    display: none;
    -webkit-transition: all 0.3s;
}
ul.fotor_func_list li.edit:hover .icon_box .Text_explain {
    top: 35px;
    opacity: 1;
    -webkit-transition: all 0.3s;
    visibility: visible;
}
.Text_explain{
    position: absolute;
    width: 420px;
    height: 314px;
    top: 100px;
    left: 0px;
    z-index: 99;
    opacity: 0;
    -webkit-transition: all 0.3s;
    visibility: hidden;
}
.Text_explain h2{
    width: 200px;
    margin: 0 auto;
    font-size: 16px;
    position: relative;
    top: 40px;
    -webkit-transition: all 0.3s;
}
.Text_explain .arrow-3{
    display: block;
    border-bottom: 1px solid #6e6a79;
    width: 30px;
    top: 53px;
    position: relative;
    margin: 0 auto;
}
.Text_explain p{
    font-size: 14px;
    color: #e0dfe4;
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 64px;
    height: inherit;
}
.Text_explain a{
    outline: none;
    cursor: pointer;
    color: #fff;
    text-decoration: underline;
}

#div-gpt-ad-d{
    display: inline-block;
    position: absolute;
    left: 0;
    margin: auto;
    right: 0;
    bottom: 0;
    top: 0;
    width: 300px;
    height: 250px;
}