.new-roh-title-td {
    border: none !important;
    background-image: linear-gradient(to right, #807c7c 50%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 11px 1px;
    background-repeat: repeat-x;
}

.wpb_gallery .wpb_flexslider .flex-control-paging { display:none; }
.wrapper {     background: #F5F5F5 !important; }
/* widget social */
ul.mks_social_widget_ul li a{
	display: block;
	height: 48px;
	width: 48px;
	float: left;
	margin-right: 5px;
	text-indent: -9999px;
	margin-bottom: 5px;
	position: relative;
	border: none !important;
	padding: 0;
}
ul.mks_social_widget_ul li a.soc_rounded{
	border-radius: 20%;	
}
ul.mks_social_widget_ul li a.soc_circle{
	border-radius: 50%;	
}
ul.mks_social_widget_ul li:hover a{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: 0.7;
}
ul.mks_social_widget_ul li{
	display: inline-block;
	vertical-align: top;
	border: none !important;
	padding: 0;
	background:none !important;
	margin: 0 2px 0 0;
}
.mks_social_widget_ul { margin:5px 0 !important; }
/*--------------------------------------------------
					SOCIAL ICONS STYLES
---------------------------------------------------*/
ul.mks_social_widget_ul .aim_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/aim_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .apple_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/apple_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .behance_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/behance_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .blogger_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/blogger_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .cargo_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/cargo_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .envato_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/envato_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .delicious_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/delicious_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .deviantart_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/deviantart_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .digg_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/digg_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .dribbble_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/dribbble_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .evernote_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/evernote_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .facebook_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/facebook_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .flickr_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/flickr_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .forrst_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/forrst_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .github_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/github_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .google_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/google_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .googleplus_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/googleplus_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .grooveshark_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/grooveshark_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .icloud_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/icloud_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .lastfm_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/lastfm_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .linkedin_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/linkedin_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .myspace_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/myspace_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .picasa_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/picasa_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .pinterest_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/pinterest_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .posterous_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/posterous_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .reddit_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/reddit_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .rss_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/rss_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .skype_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/skype_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .stumbleupon_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/stumbleupon_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .soundcloud_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/soundcloud_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .tumblr_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/tumblr_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .twitter_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/twitter_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .vimeo_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/vimeo_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .wordpress_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/wordpress_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .yahoo_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/yahoo_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .youtube_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/youtube_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .zerply_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/zerply_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .instagram_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/instagram_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .vine_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/vine_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .spotify_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/spotify_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .fh_px_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/fh_px_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .xing_ico{
	background: url('/wp-content/themes/jarida-goldtheme.net/custom/images/xing_ico.png') no-repeat 0 0;
}
ul.mks_social_widget_ul .aim_ico{
	background-color: #e95a00;
}
ul.mks_social_widget_ul .apple_ico{
	background-color: #606060;
}
ul.mks_social_widget_ul .behance_ico{
	background-color: #18a3fe;
}
ul.mks_social_widget_ul .blogger_ico{
	background-color: #fb913f;
}
ul.mks_social_widget_ul .cargo_ico{
	background-color: #00c462;
}
ul.mks_social_widget_ul .envato_ico{
	background-color: #a9cf58;
}
ul.mks_social_widget_ul .delicious_ico{
	background-color: #3274d1;
}
ul.mks_social_widget_ul .deviantart_ico{
	background-color: #d0de21;
}
ul.mks_social_widget_ul .digg_ico{
	background-color: #2882c6;
}
ul.mks_social_widget_ul .dribbble_ico{
	background-color: #ef5b92;
}
ul.mks_social_widget_ul .evernote_ico{
	background-color: #77ba2f;
}
ul.mks_social_widget_ul .facebook_ico{
	background-color: #3b5998;
}
ul.mks_social_widget_ul .flickr_ico{
	background-color: #f1628b;
}
ul.mks_social_widget_ul .forrst_ico{
	background-color: #5b9a68;
}
ul.mks_social_widget_ul .github_ico{
	background-color: #7292a2; 
}
ul.mks_social_widget_ul .google_ico{
	background-color: #dd4b39; 
}
ul.mks_social_widget_ul .googleplus_ico{
	background-color: #d94a39;
}
ul.mks_social_widget_ul .grooveshark_ico{
	background-color: #f88e00; 
}
ul.mks_social_widget_ul .icloud_ico{
	background-color: #fb913f; 
}
ul.mks_social_widget_ul .lastfm_ico{
	background-color: #d21309;
}
ul.mks_social_widget_ul .linkedin_ico{
	background-color: #71b2d0; 
}
.myspace_ico{
	background-color: #003398; 
}
ul.mks_social_widget_ul .picasa_ico{
	background-color: #444; 
}
ul.mks_social_widget_ul .pinterest_ico{
	background-color: #cb2027; 
}
ul.mks_social_widget_ul .posterous_ico{
	background-color: #f9d560; 
}
ul.mks_social_widget_ul .reddit_ico{
	background-color: #bfd0e2;
}
ul.mks_social_widget_ul .rss_ico{
	background-color: #fe9900; 
}
ul.mks_social_widget_ul .skype_ico{
	background-color: #18b7f1; 
}
ul.mks_social_widget_ul .stumbleupon_ico{
	background-color: #eb4924; 
}
ul.mks_social_widget_ul .soundcloud_ico{
	background-color: #f60000; 
}
ul.mks_social_widget_ul .tumblr_ico{
	background-color: #3a5976; 
}
ul.mks_social_widget_ul .twitter_ico{
	background-color: #48c4d2; 
}
ul.mks_social_widget_ul .vimeo_ico{
	background-color: #62a0ad; 
}
ul.mks_social_widget_ul .wordpress_ico{
	background-color: #464646;
}
ul.mks_social_widget_ul .yahoo_ico{
	background-color: #ab64bc; 
}
ul.mks_social_widget_ul .youtube_ico{
	background-color: #f45750; 
}
ul.mks_social_widget_ul .zerply_ico{
	background-color: #8db259; 
}
ul.mks_social_widget_ul .instagram_ico{
	background-color: #306088; 
}
ul.mks_social_widget_ul .vine_ico{
	background-color: #00bf8f; 
}
ul.mks_social_widget_ul .spotify_ico{
	background-color: #95ba1a; 
}
ul.mks_social_widget_ul .fh_px_ico{
	background-color: #02adea; 
}
ul.mks_social_widget_ul .xing_ico{
	background-color: #126567; 
}
ul.mks_social_widget_ul .soc_square,
ul.mks_social_widget_ul .soc_rounded,
ul.mks_social_widget_ul .soc_circle{
	background-position: center center;
}
/* widget social */

.post-inner h1.post-title, .post-inner p.post-meta {
    display: none;
}

.post-inner .entry {    
    margin-top: -43px;   
}
.post-inner {
    margin-top: 0px !important;
}
.entry h4 {
    font-size: 47px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-align: center !important;
}

.entry p {
    font-size: 21px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    text-align: center !important;
}


/*******************/


nav#main-nav {
    background: none;
    border: 0;
}


#main-nav  ul li, #main-nav ul li.current-menu-item { 
	background-color: inherit !important;
	height: 30px;
	font-size: 19px;
	font-family: 'Open Sans', sans-serif;
}
#main-nav ul li a, #main-nav ul li a:hover, #main-nav ul li.current-menu-item a, .top-nav ul li a, .top-nav .breaking-news a {
    color: #000;
    text-shadow: none;
    border: 0;
    height: 30px !important;
    line-height: 30px  !important;	
	font-family: 'Open Sans', sans-serif;
}

.top-nav .breaking-news a { 
    padding: 0;
	font-weight: 700;
}

#main-nav  ul li:first-child a {
	min-width: 10px;
    background: url("/wp-content/themes/jarida-goldtheme.net/custom/images/home3.png") no-repeat scroll 8px 7px !important;
    overflow: hidden !important;
    text-indent: -9000px !important;
    background-size: 16px !important;	
}

#main-nav ul li.current-menu-item a, #main-nav ul li.current-menu-item a:hover {
	min-width: 0px;
    background: url("/wp-content/themes/jarida-goldtheme.net/custom/images/ra.png") no-repeat scroll 4px 7px;
    width: auto;
    padding: 0;
    display: block;
    float: left;
    padding-left: 26px !important;
    padding-right: 9px !important;
    color: #fff !important;
	text-indent: inherit;
}
#main-nav ul li.current-menu-item a:hover {
	color: #FFF !important;
}
.breaking-news span {
    width: 10px;
    background: url("/wp-content/themes/jarida-goldtheme.net/custom/images/hub.png") no-repeat scroll 8px 7px !important;
    overflow: hidden;
    text-indent: -9000px;
    background-size: 16px !important;
}

.top-nav.fade-in.animated1.head_brnews {
    max-width: inherit;
    height: 30px;
    margin-bottom: 4px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
	background: none;
}

.top-nav ul li a:hover, .top-nav .breaking-news a:hover {
    color: #26288c;
}

header#theme-header {
    margin: 0 0 20px;
}

#main-nav ul li a:hover {
    color: #6a8cda !important;
}

.header-content {
    padding: 4px 0 0 0;
	background: none !important;
}

.glist-full-img, .glist-medium-img { width:100%; }
.glist-medium-img { min-height: 165px; }

.glist-medium-cont2-with-excerpt-horizontal { height: 195px; }

/***** SLIDER CSS BEGIN ************/
.gcaption {
	position: absolute !important;
    bottom: 15px;
    text-align: center;
    background: none !important;
	
}
.gtitle a {
    /*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Open Sans Condensed', sans-serif !important;
    font-weight: 700;
    color: #0f3bb0;
    padding: 10px;
   /* background-color: #000;
	opacity: .7;*/
}
.wpb_posts_slider .flex-caption { margin: 0 38px;    margin: 0; padding: 0;     background-color: #fff !important; opacity: .7; width: 100%; }
h2.post-title.gtitle {    margin: 0 !important; padding: 8px 0px; }
.wpb_gallery_slides.wpb_flexslider.flexslider_fade.flexslider {    width: 100%;}
.content .flexslider .slides img {
    width: 100%;
	height: auto;
    display: block;
}
.flexslider .slides > li, .full-width .content .flexslider .slides > li { overflow:hidden; }

.wpb_gallery .wpb_flexslider .flex-control-paging {     top: 0px; }
.flex-direction-nav a { color:#fff !important;}
/***** SLIDER CSS END ************/

/********/



.glist-vertical { max-height: initial !important; }
.glist-title h3 { margin-top:0px !important; }
.glist-meta {    width: 100%;}
hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color:#cacab1;
  height: 1px;
}
.wpb_content_element {
    margin-bottom: 16px;
}
.ads-top {
    margin: 0 0 12px 0;
}
.logo img {
    max-width: 100%;
    width: 285px;
}
.footer-widgets-box {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 24px;	
}

.footer-widget-top h4 {
	font-size: 23px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 24px;
	
}
.footer-bottom {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;	
}
.ads-top {
    max-width: 728px !important;
    overflow: hidden;
}

.glist-billboard-img { width:100% !important; }
.sugkl2,.faghto2 {     padding-bottom: 0px !important; }
.widget {     margin-top: -29px; }
.glist-main-unit-title-text-cont {     overflow: hidden; text-align:center;}

.widget-top { border: none; }

.sugkl1 .glist-medium-cont1 {
    background: #000;
}

.sugkl1 .glist-medium-cont2 {
    background: #000;
}
.sugkl1 {     height: 331px; background: #000; }
.sugkl1 .glist-medium-cont2 .glist-medium-meta { padding: 5px; }
.sugkl1 .glist-medium-cont2 .glist-medium-title {     text-align: left;    padding: 1px 10px 1px 2px;height: 96px;     margin: 0 0 6px 0 !important; overflow: hidden;}
.sugkl1 .glist-medium-cont2 .glist-medium-title a { color: #e0dbdb; font-weight: 300 !important; }
.sugkl1 .glist-medium-cont2 .glist-medium-meta .glist-medium-category a, .sugkl1 .glist-medium-cont2 .glist-medium-meta .glist-medium-date { color: #e0dbdb;}

.verticalmedium  { width: 100%; max-width: 100% !important;}
.verticalmedium .glist-cont1 {     width: 33%; height: 134px;} 
.verticalmedium .glist-cont2 {     width: 64%;     max-width: 64% !important; } 
.verticalmedium .glist-cont1 .glist-image a img {     width: 100%;} 

.mikro_medium .glist-medium-title a {
    font-size: 16px !important;
}
.mikro_medium .glist-medium-image a img {
    height: 205px;
}
.mikro_medium .glist-medium-cont2 {
    height: 68px !important;
    width: 100% !important;
    margin-left: 0 !important;
}

.glist-medium-title {
	margin-top: 2px;
    float: left;
    height: 49px;
    overflow: hidden;
}

	#g_ad_300x250_sidebar {margin: 0 auto;	width: 300px;    height: 250px;    background: #000; text-align:center;}	
	#g_ad_728x90 {margin: 0 auto;	width: 728px;    height: 90px;    background: #000; text-align:center;}	
	#g_ad_vertical_sidebar {margin: 0 auto;	width: 300px;    height: 600px;    background: #000; text-align:center;}	
	.centeradtext {     color: #fff;    font-size: 30px;    width: 100%;    top: 45%;    position: relative; }
	.centeradtexthor {     color: #fff;    font-size: 30px;    width: 100%;    top: 28%;    position: relative; }

.textwidget {
    overflow: hidden !important;
}
	
	.g-read-more-container { width:100%; text-align:center;}
	
.g-read-more-button {   /* margin: 0 auto; */    padding: 10px;    background: #000;    width: 197px;    border-radius: 4px;}
.g-read-more-button a {	color: #fff;    font-family: 'Open Sans', sans-serif;    font-size: 15px;}

#newsletter-container {    background: #223cda;    color: #fff;	padding: 10px;	font-family: 'Open Sans', sans-serif;}
.newsletter-firstrow, .newsletter-secondrow, .newsletter-thirdrow, .newsletter-fourthrow { width:100%;     margin-bottom: -3px; font-family: 'Open Sans', sans-serif;}
.newsletter-firstrow {        font-size: 27px;    letter-spacing: 1px;    font-weight: 700; }
.newsletter-secondrow, .newsletter-thirdrow, .newsletter-fourthrow {     font-size: 15px;    font-weight: 700; }
.newsletter-register {width: 95%;    background: #223cda !important;    border-width: 2px;    border-color: #fff;     color: #fff700 !important;     border: 3px solid #fff !important; padding-right: 4px !important;}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */     color:    #809DEF; font-family: 'Open Sans', sans-serif; font-weight:700; }
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */   color:    #809DEF;   opacity:  1; font-family: 'Open Sans', sans-serif; font-weight:700; }
::-moz-placeholder { /* Mozilla Firefox 19+ */   color:    #809DEF;   opacity:  1; font-family: 'Open Sans', sans-serif; font-weight:700; }
:-ms-input-placeholder { /* Internet Explorer 10-11 */   color:    #809DEF; font-family: 'Open Sans', sans-serif; font-weight:700; }

/*********/

	.search-block button.search-button:before {     color: rgb(85, 85, 85) !important; }
	.search-block #s, .search-block .search-button {     background: initial; border:initial; border-left: 1px solid rgb(178, 178, 178);  }
	.top-nav.fade-in.animated1.head_brnews {    border-top: 1px solid rgb(178, 178, 178) !important;    border-bottom: 1px solid rgb(178, 178, 178) !important; margin-top: 9px;  }


@media (min-width: 1220px) {
/* 	.g_post_list_3_small { max-height: 138px !important; }
	.glist-medium-container-horizontal { height: 296px; }
	.glist-medium-container-with-excerpt-horizontal  { height: 395px; }
	.glist-medium-container-slim { height: 386px !important; }
	.glist-roh-container { height: 61px; }
	.roh2 { height: 409px; }
	.verticalsmall { height:167px; }
	.diafora3 { height:337px;}
	.sugkl1{    height: 337px;}
	.faghto1 {    height: 282px;}
	.faghto3 {height: 285px;}	
	.afierwm1 {    height: 392px !important;}	
	.afierwm2 {    height: 297px !important;}	
	.gtitle a {    font-size: 46px !important; line-height:63px !important;}
	.wpb_posts_slider .flex-caption {overflow: hidden;    max-height: 169px;}	 */	
	
/**/	
   .wrapper {width:986px !important;}
   .container, header, #main-nav, #footer-widget-area,.scroll-box-wide .group_items {width:944px !important;}
   /*.header-content, .wrapper.layout-2c .header-content {margin: 0 -21px; padding: 25px 21px;}*/
   .sidebar-narrow{display:none;}
   .mega-menu-content{ width: 730px !important;}
   .cats-review-box .reviews-cat {width: 304px;margin-right: 15px;}
   .cats-review-box .reviews-cat h4{width: 191px;}
   .wide-cat-box .wide-news-item , .scroll-box-wide.scroll-box .scroll-item{width: 228px !important;}
   .sidebar-narrow-right .content-wrap, .sidebar-narrow-left .content-wrap{float:none;}
   .sidebar-narrow-left .sidebar, .sidebar-narrow-right .content-wrap .content{float:right}
   .sidebar-narrow-right .sidebar, .sidebar-narrow-left .content-wrap .content{float:left}
   .sidebar-narrow-right .sidebar,.sidebar-narrow-left .sidebar{padding:0; margin:0; border:0 none;}
   .content-wrap-wide .content{width:620px;}
   .scroll-box-wide .group_items-box, .scroll-box-wide .group_items{ height:220px !important; width:944px !important;}
   .layout-2c .scroll-box-wide .group_items-box, .layout-2c .scroll-box-wide .group_items{ height:220px !important; width:944px !important;}	
/**/   
}

/*@media (min-width: 987px) and (max-width: 1219px ) {*/
/**/ @media (min-width: 987px) {
.header-content.fade-in.animated1 {
    margin-top: 14px !important;
}
/**/	.ads-top {    float: none; }
	.glist-cont2 { max-height: 158px !important; }
	.g_post_list_2_small { max-height: 149px !important; }
	.glist-medium-cont2-with-excerpt-horizontal { height: 230px; }
	.glist-billboard-title a {     font-size: 40px !important;     line-height: 50px !important;}	
	.glist-vertical { max-height: 150px !important; }
	.glist-cont2 .glist-title h3 a {    font-size: 20px; }	
	.glist-medium-container-with-excerpt-horizontal {height: 390px !important;}
	.glist-medium-container-horizontal { height: 290px; }
	/*.logo img {        margin-right: 10px;      margin-left: 28px !important;  margin-top: 30px !important;    width: 218px;}	*/
/*	.faghto1 {    height: 290px;}	*/
	.binteo1,.binteo3,.athlitika1,.athlitika3 {    height: 381px;}	
	.glist-roh-container {    /* height: 90px;*/ }
	.roh2 { height: 499px; }
	.verticalsmall { height:137px; }
	.diafora3 { height:337px;}
	.sugkl1 {        height: 336px;}
	.faghto1 {    height: 304px;}
	.faghto3 {height: 335px;}	
	.afierwm1 {    height: 369px !important;}	
	.afierwm2 {    height: 279px !important;}	
	.gtitle a {        font-size: 43px !important;    line-height: 48px !important; }
	.wpb_posts_slider .flex-caption {overflow: hidden;        max-height: 112px; }	
	
	
    .mediumstyle3 { height: 406px !important; }
	.mediumstyle3 .glist-medium-midi-excerpt {  line-height: 20px; }

	.top-nav.fade-in.animated1.head_brnews {  width: 950px !important;    margin: 0 auto; }

}

@media (min-width: 768px) and (max-width: 986px ) {
/**/	.ads-top { margin: 0 auto !important; }
	.binteo1,.binteo3,.athlitika1,.athlitika3 { height: 427px;}	
	.glist-roh-container { /*height: 80px; */}
	.roh2 { height: 504px; }
	.verticalsmall {    height: 155px;}	
	.glist-container { max-width:48% !important; }
	.glist-vertical { max-height: 138px !important; }
	.glist-medium-cont2-with-excerpt-horizontal { height: 290px; }
	.glist-billboard-title a {     font-size: 40px !important;     line-height: 50px !important;}	
	.g_post_list_2_small { max-height: 138px !important; }
	.g_post_list_3_small { max-height: 138px !important; }
	.glist-cont2 a { font-size: 14px; }
	.glist-medium-container-with-excerpt-horizontal {height: 436px;}
	.glist-medium-container-horizontal { height: 306px; }
	/*.logo img {    margin-left: 16px !important;}	*/
	.diafora3 { height:337px;}
	
	.faghto1 {    height: 296px;}
	.sugkl3 {height: 384px;}
	.faghto3 {height: 303px;}
	.afierwm1 {    height: 395px !important;}	
	.afierwm2 {    height: 299px !important;}	
	.gtitle a {    font-size: 38px !important; line-height:47px !important;}
	.wpb_posts_slider .flex-caption { overflow: hidden;    max-height: 110px;}
	
	.mediumvert .glist-medium-cont2 {      margin-top: -81px !important; }
	.mediumvert .glist-medium-cont1 .glist-medium-image a img {   height: 290px;}

	.mikro_medium .glist-medium-image a img {
    height: 165px;
	}
	.sugkl1 .glist-medium-cont2 .glist-medium-title a {
		color: #e0dbdb;
		font-weight: 300 !important;
		font-size: 17px !important;
		line-height: 10px !important;
	}
	.sugkl1 {            height: 324px;}
	.sugkl1 .glist-medium-cont2 .glist-medium-title { height: 94px; }
	.sugkl1 .glist-medium-cont2 .glist-medium-meta .glist-medium-date {margin-left: 5px !important;}
	    
.verticalmedium .glist-cont1 {
    width: 56%;
    height: 134px;
	max-width: 56% !important;
}
.verticalmedium .glist-cont2 {
    width: 40%;
    max-width: 64% !important;
}
.verticalmedium .glist-cont2 .glist-meta .glist-date { margin-left:0px !important; }

	.g_post_list_2_small .glist-container {     height: 115px !important; }
	.g_post_list_2_small .glist-cont2 { height: 116px; }
	.g_post_list_2_small .glist-cont2 .glist-meta .glist-date { margin-left:0px !important; }

.lifestyle1 .glist-medium-title { height: 95px; }
.lifestyle1 .glist-medium-container-horizontal {    height: 267px;}


	#g_ad_300x250_sidebar {margin: 0 auto;	width: 120px;    height: 240px;    background: #000; text-align:center;}	
	#g_ad_vertical_sidebar {margin: 0 auto;	width: 160px;    height: 600px;    background: #000; text-align:center;}	
	.centeradtext {     color: #fff;    font-size: 30px;    width: 100%;    top: 45%;    position: relative; }	
}

@media (max-width : 767px) {
	.glist-roh-container { /* height: 61px; */}
	.glist-container, .glist-medium-container { max-width:100% !important; }
	.glist-medium-image-cond {    max-width: 100% !important; }
	.glist-medium-cont2-with-excerpt-horizontal { height: inherit; }
	.glist-billboard-title a {     font-size: 33px !important;     line-height: 40px !important;}
	.glist-medium-image-cond a img { margin-left: 0px !important; width: 100% !important;}
	.glist-medium-container-horizontal,.glist-medium-container-with-excerpt-horizontal { margin-right: 0% !important; }
	.gtitle a {    font-size: 20px !important; line-height:20px !important;}
	.wpb_posts_slider .flex-caption { overflow: hidden;        max-height: 68px;}
	h2.post-title.gtitle {    margin: 0 !important;    padding: 0 0px 6px 0;}
	
	.mediumvert .glist-medium-cont2 {      margin-top: -86px !important; }
	.sugkl1 .glist-medium-cont2 .glist-medium-title {     height: 46px; }
	.sugkl1 {       height: 297px; }
	.glist-main-unit-title,.glist-unit-title { text-align:center;}
	
	#g_ad_728x90 {margin: 0 auto;	width: 320px;    height: 100px;    background: #000; text-align:center;}	
	.g-read-more-button { margin: 0 auto; }
}

@media (max-width : 479px) {
	.glist-cont2 { max-height: 137px !important; }
	.glist-medium-cont2-with-excerpt-horizontal { height: 230px; }
	.glist-billboard-title a {    font-size: 25px !important;    line-height: 30px !important; }	
	/*.logo img {    width: 272px !important; }*/
	.glist-cont2 .glist-title h3 a {    font-size: 20px !important; }
	.gtitle a {    font-size: 18px !important;    line-height: 12px !important;}
	.wpb_posts_slider .flex-caption { overflow: hidden;    max-height: 61px; bottom: 0;}
	.glist-main-unit-title,.glist-unit-title { text-align:center;}
	
	#g_ad_300x250_sidebar {    margin-left: -10px;	width: 300px;    height: 250px;    background: #000; text-align:center;}	
	#g_ad_vertical_sidebar {    margin-left: -10px;width: 300px;    height: 250px;    background: #000; text-align:center;}	
	#g_ad_728x90 {    margin-left: -10px;	width: 300px;    height: 250px;    background: #000; text-align:center;}	
	.g-read-more-button { margin: 0 auto; }
	
	.sugkl1 {
    height: 309px;
	}
	.sugkl1 .glist-medium-cont2 .glist-medium-title {
    height: 59px;
}
	h2.post-title.gtitle {
    margin: 0 !important;
    padding: 0 0px 6px 0;
    line-height: 22px;
}

#main-nav .main-menu { margin-bottom: 22px;}

}



.container {
    overflow: hidden;
}