
nav#main-nav {
    background: none;
    border: 0;
}

#main-nav ul li.current-menu-parent a,#main-nav ul li.current-menu-parent a:hover {
    color: #fff !important;
}
#main-nav  ul li, #main-nav ul li.current-menu-item { 
	background-color: inherit !important !important;
	height: 30px !important;
	font-size: 19px !important;
	font-family: 'Open Sans Condensed', sans-serif !important;
}
#main-nav ul li a, #main-nav ul li a:hover, #main-nav ul li.current-menu-item a, .top-nav ul li a, .top-nav .breaking-news a {
    color: #000 !important;
    text-shadow: none !important;
    border: 0 !important;
    height: 30px  !important;
    line-height: 30px   !important;	
	font-family: 'Open Sans Condensed', sans-serif !important;
}

.top-nav .breaking-news a { 
    padding: 0 !important;
	font-weight: 700 !important;
}

#main-nav  ul li:first-child a {
	min-width: 10px !important;
    background: url("/wp-content/themes/jarida-goldtheme.net/custom/images/home3.png") no-repeat scroll 8px 7px  !important;
    overflow: hidden  !important;
    text-indent: -9000px  !important;
    background-size: 16px  !important;	
}

#main-nav ul li.current-menu-item a, #main-nav ul li.current-menu-item a:hover {
	min-width: 0px !important;
    background: url("/wp-content/themes/jarida-goldtheme.net/custom/images/ra.png") no-repeat scroll 4px 7px !important;
    width: auto !important;
    padding: 0 !important;
    display: block !important;
    float: left !important;
    padding-left: 26px  !important;
    padding-right: 9px  !important;
    color: #fff  !important;
	text-indent: inherit !important;
}
#main-nav ul li.current-menu-item a:hover {
	color: #FFF  !important;
}
.breaking-news span {
    width: 10px !important;
    background: url("/wp-content/themes/jarida-goldtheme.net/custom/images/hub.png") no-repeat scroll 8px 7px  !important;
    overflow: hidden !important;
    text-indent: -9000px !important;
    background-size: 16px  !important;
}

.top-nav.fade-in.animated1.head_brnews {
    max-width: inherit !important;
    height: 30px !important;
    margin-bottom: 4px !important;
    border-top: 1px solid #e5e5e5 !important;
    border-bottom: 1px solid #e5e5e5 !important;
	background: none !important;
}

.top-nav ul li a:hover, .top-nav .breaking-news a:hover {
    color: #26288c !important;
}

header#theme-header {
    margin: 0 0 0px !important;
}

#main-nav ul li a:hover {
    color: #6a8cda  !important;
}

.header-content {
    padding: 4px 0 0 0 !important;
	background: none  !important;
	margin-top: 14px;
}

nav#main-nav {
    margin-top: 15px !important;
}

.logo img {
    max-width: 100% !important;
    width: 285px !important;
}

.singlevertical .glist-medium-image a img {     width: 144px;    height: 144px; }
.container {
    overflow: hidden;
}

#related_posts .related-item  { height: 246px !important;     overflow: hidden;}

#related_posts .related-item .post-thumbnail {
    padding: 9px;
    background: #000;
}
.related-item h3 {
    padding: 5px;
    margin-top: -8px;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 700;
}
.related-item h3 a {
    color: #000;
}

@media only screen and (max-width: 985px) and (min-width: 768px) {
#related_posts .related-item {    height: 285px !important; }
}

@media (min-width: 768px) { 
	.logo img {     margin-left: 23px !important; }
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
#related_posts .related-item {    height: 266px !important; }
}

@media only screen and (max-width: 479px) { 
#related_posts .related-item {    height: initial !important; }
}

@media (min-width: 987px) { 
	.header-content.fade-in.animated1 {    margin-top: 14px !important; }
	.top-nav.fade-in.animated1.head_brnews {  width: 950px !important;    margin: 0 auto !important; }
	.search-block button.search-button:before {     color: rgb(85, 85, 85) !important; }
	.search-block #s, .search-block .search-button {     background: initial !important; border:initial !important; border-left: 1px solid rgb(178, 178, 178) !important;  }
	.top-nav.fade-in.animated1.head_brnews {    border-top: 1px solid rgb(178, 178, 178) !important;    border-bottom: 1px solid rgb(178, 178, 178) !important; margin-top: 9px !important;  }
}

@media (min-width: 1220px) {
	.header-content.fade-in.animated1 {    margin-top: 14px !important; }
	.top-nav.fade-in.animated1.head_brnews {  width: 1161px !important;    margin: 0 auto !important; }
	.search-block button.search-button:before {     color: rgb(85, 85, 85) !important; }
	.search-block #s, .search-block .search-button {     background: initial !important; border:initial !important; border-left: 1px solid rgb(178, 178, 178) !important;  }
	.top-nav.fade-in.animated1.head_brnews {    border-top: 1px solid rgb(178, 178, 178) !important;    border-bottom: 1px solid rgb(178, 178, 178) !important; margin-top: 9px !important;  }
	.logo img {     margin-left: 0px !important; }

}
