.button, .BVRRQuickTakeSection .BVRRRatingSummaryLinks .BVRRRatingSummaryLinkWrite a, input.BVQAButton, .BVSUButton {
    font-family: Futura, arial, sans-serif;
    background:#e0e0e0;
    color:#000;
    text-decoration:none;
    padding:0;
    width: 140px;
    height:40px;
    font-size: 14px;
    line-height:40px;
    font-weight: bold;
    display:inline-block;
    vertical-align: middle;
    border-radius: 2px;
    border: 1px solid #c7c7c7;
    cursor:pointer;
    text-align:center;
    text-transform:uppercase;
    box-sizing: border-box;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
 }
.button:hover, .BVRRQuickTakeSection .BVRRRatingSummaryLinks .BVRRRatingSummaryLinkWrite a:hover, input.BVQAButton:hover, .BVSUButton:hover {
    background:#fafafa;
    border:#e0e0e0 solid 1px;
    color:#666;
}
.button:active, .BVRRQuickTakeSection .BVRRRatingSummaryLinks .BVRRRatingSummaryLinkWrite a:active, input.BVQAButton:active, .BVSUButton:active {
    background:#c7c7c7;
    border:#adadad solid 1px;
    color:#666;
}
.cta_button {
    min-width:147px;
    border-radius:2px;
    background:#b2906a;
    color:#fff;
    border: 1px solid #9c7d60;
}
.cta_button:hover {
    background : #e5bb8a;
    border-color: #997c5c;
    color: #FFF;
}
.cta_button:active {
    background: #e6ba89;
    border-color: #cba67a;
}

[data-btnname*="_checkout"] {
    background: #FFF;
    color: #000;
    border: 1px solid #C7C7C7;
    font-weight: bold;
}
[data-btnname*="_checkout"]:hover {
    background: #b2906a;
    color: #FFF;
    border: 1px solid #C7C7C7;
}
[data-btnname*="_customize"]:before {
    content: 'Customize';
}
#btn_myacct_order_status, [data-btnname*="_continueShopping"], [data-btnname*="XforY_addItemToOffer"], [data-btnname*="XforY_backToProduct"], [data-btnname*="orderStatus_go"] {
    width: auto;
    padding: 0 20px;
}
[data-btnname*="_paypal"], [data-btnname*="_paypal"]:active, [data-btnname*="_paypal"]:hover {
    background: url('https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif');
    border-radius : 0;
    color: #000;
    border: none;
    width: 145px;
    height:42px;
}
[data-btnname="myStores_back"], [data-btnname="pdp_close"], [data-btnname="cart_cancel"] {
    color: #666 !important;
}
#myaccount [data-btnname="createNewAccount_continue"] {
    float: right;
}
#myaccount [data-btnname="createAccountConfirm_continue"] {
    margin: 10px;
}
#myaccount [data-btnname="accountSummary_gotowishlist"] {
    float: right;
    position: relative;
    top: -30px;
    width: auto;
    padding: 0 10px;
}
#myaccount [data-btnname="addCreditCard_myCreditCards"] {
    margin:20px 0;
}
#addNewCardButton [data-btnname="addCreditCard_myCreditCards"] {
    position: relative;
    top: -12px;
    float: right;
    margin: 0;
}
#myaccount #addNewCardButton {
    color: #666;
}
#myaccount #NextButt [data-btnname*="_continue"] {
    float: left;
    margin: 10px 0 10px 20px;
}
#wishList a.button, #wishList .button, #wishList input[type="button"] {
    font-family: Futura, arial, sans-serif !important;
    line-height: 40px !important;
    padding: 0 !important;
}
#wishListDetails label[for=rdoPublicPrivate], #wishListDetails label[for=rdoPublicPublic] {
    color: #666;
    background: #e0e0e0;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
}
#wishListDetails label.radio_checked {
    color: #fff;
    background: #b2906a;
    border: 1px solid #9c7d60;
    border-radius: 3px;
}
[data-btnname="wishlist_addSelectedToCart"] {
    width: 99%;
    margin: 10px 0;
}
#bv_signup a {
    color: #fff !important;
}
#map .phoneIt {
    width: 49%;
    margin: 10px 0;
}
#map .phoneIt a {
    max-width: 95%;
}
#map .mapIt {
    width: 49%;
    text-align: right;
    margin: 10px 0;
}
#map .mapIt a {
    max-width: 95%;
}
#myaccount [data-btnname="orderDetails_print"] {
    float: right;
    margin: -10px 0 0 0;
}
a.button[data-btnname="cart_paypal"] {
    float:right;
}

/* --- Start Dynamic Update English Button Content --- */
.en [data-btnname*="_close"]:before {
    display: inline-block;
    vertical-align: middle;
}
.en .processing[data-btnname]:before {
    content : '' !important;
}
.en .processing[data-btnname] {
    background-image: url('/ns/common/champssports/images/processing.gif') !important;
    padding: 0 !important;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    border: none !important;
    background-color: transparent !important;
    background-size: 36px 20px !important;
    outline: none !important;
}
.en [data-btnname="search_breadcrumbX"]:before, .en [data-btnname="searchFilter_clearX"]:before {
    content: "\00d7";
}
.en [data-btnname="wishlist_createNewWishlist"]:before {
    content: "Create A New Wish List";
}
.en [data-btnname="chat"]:before {
    content: "Chat Now";
}
.en button[type="submit"][data-btnname="orderStatus_go"]:before {
    content: "View Order Status";
}
.en button[type="submit"][data-btnname="giftCardBalanceCheck_submit"]:before {
    content: "Check Balance";
}
.en [data-btnname="cart_findInStore"]:before {
    content: "Find In Store";
}
.en [data-btnname="cart_remove"]:before {
    content: "Remove";
    color: #666;
    margin-right: 10px;
}
.en button[type="submit"][data-btnname*="_save"]:before {
    content: "Save Changes";
}
.en button[type="submit"][data-btnname="createWishlist_save"]:before {
    content: "Create Wish List";
}
.en button[data-btnname="XforY_addItemToOffer"]:before {
    content: "Add This Item To Offer" !important;
}
.en [data-btnname="accountSummary_gotowishlist"]:before {
    content: "Go To My Wish List";
}
.en [data-btnname="myaccount_selectMyStore"]:before {
    content: "Select My Store";
}
.en [data-btnname="myaccount_mapIt"]:before {
    content: "Map It";
}
.en [data-btnname="myaccount_changeStore"]:before {
    content: "Change Store";
}
.en [data-btnname="myaccount_selectMyStore"]:before {
    content: "Select My Store";
}
.en [data-btnname="myaccount_mapIt"]:before {
    content: "Map It";
}
.en [data-btnname="myaccount_changeStore"]:before {
    content: "Change Store";
}
/* --- END Dynamic Update English Button Content --- */