/* ---- 

v1.0

Sites Affected
	- Foot Locker
	- Lady Foot Locker
	- Foot Locker

Global file 
	- created for all full sites sharing styles

---- */

/* - these styles came from this sheet --> http://www.footlocker.com/images/common/css/global-styles.css - */
#giftCardCode_1 {
	width: 135px;
}
#quickviewPDP #storepickup_msg span.red{
   display: none;
   visibility: hidden;
}
#quickviewPDP #storepickup_msg br{
   display: none;
   visibility: hidden;
}


/* - Adjusting Calculate button on cart page - */
#cartTotalEstimatorForm .submit {
	right:2px;
	bototm:2px;
}

/*FIXES FOR myAccount header changes*/
#myaccount label{
	font-weight: normal;
	color: #2f2f2f;
}

#myaccount h2 {
  border-bottom: 1px solid #ddd;
  color: #d62d25;
  font-size: 13px;
  padding: 0 0 5px;
  text-transform: uppercase;
}

#myaccount h2 {margin:15px 0 10px;}



