html { 
	height: 100%;
}
#body {
	background: none !important;	
}
#wrapper {
	width: 100%;
	background-color: white;
}
body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	-webkit-text-size-adjust:none;
	font-size-adjust: none;
	line-height: normal;
	color: #000000;
	background: #FFFFFF !important;
	width:100%;
	text-align: center;
}
.noscript_message {
	display: block;
	padding: 1%;
	background-color: #FFFFFF;
	text-align: center;
	border: 2px solid #FF0000;
	color: #FF0000;	
}
p {
	font-size: 11px;	
	width: auto;
}
* {
	margin:0;
	padding:0;
}
a {
	text-decoration: underline;
	color: #000000;
}
a:focus {
	outline: none;
}
ul.noliststyle  {
	list-style: none;	
	margin: 0;
	padding: 0;
}
ul.noliststyle li {
	display: block;
	margin: 0;
	font-size: 11px;
	list-style:none;
	color: #000000;
	height: auto;
	overflow:hidden;
	padding: 0;
}
select.custom {
	display: inline-block;
	font-size: 11px;
	width: 100%;
	height: 30px;
	border: 2px solid #999999;
	margin: 0;
	padding:0.5em;
	-moz-border-radius:  5px;  /* Firefox up to version 3.6 */
   	-webkit-border-radius: 5px;  /* Safari, Chrome (before WebKit version 533) */
	-khtml-border-radius: 5px;
   	border-radius: 5px;  /* Firefox 4; browsers with CSS3 support */
	
    -webkit-appearance: listbox;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
input[type="text"], input[type="url"], input[type="number"], input[type="tel"], input[type="password"], input[type="email"] {
	width: 100%;
	text-align: left;
	display: inline-block;
	color:#000000;
	font-size: 12px;
	line-height: 12px;
	padding: 4px 0 4px 3px;
	min-height: 25px;
	margin: 0;
	vertical-align: middle;
	background-color: #FFFFFF;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	-webkit-appearance: none;
}
img {
	border:0;
}
.button {
	border-radius: 22px;
	background: #E1E1E1;
	text-align: center;
	line-height: 44px;
	color: #888;
}
.cta {
	background : #B2906A;
	color: #FFF;	
}
table#showcasecellTable, table#showcasecellTable tr td {
	width: 100%;
	height: auto;
}