/* FIXED BANNER STYLES */
#fixed_banner {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: auto;
	max-width: 1920px;
	height: 60px;
	margin: 0 auto;
	background: #000;
	color: #fff;
	text-align: center;
	z-index: 997;
	overflow: hidden;
	-webkit-transform: translateZ(0);
}
#fixed_banner .banner_content {
	margin: 0 auto;
	min-width: 600px;
	max-width: 960px;
}
#fixed_banner .main_logo {
	opacity: 0;
	position: absolute;
	top: 70px;
	left: 0;
	width: 15%;
	padding: 0 10px;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	vertical-align: top;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
#fixed_banner .main_logo a {
	display: block;
	background: url(/ns/common/champssports/images/logo.png) center no-repeat;
	background-size: contain;
	height: 40px;
	width: 100%;
	max-width: 124px;
}
#offer_banner_spotlight {
	position: relative;
	min-width: 320px;
	width: 75%;
	max-width: 900px;
	margin: 10px auto 0 auto;
}
#offer_banner_spotlight .slide_content ul {
	overflow: hidden;
}
#offer_banner_spotlight .slide_content ul li {
	padding: 10px 0;
}
#offer_banner_spotlight .slide_content ul li.selected {
	background: none;
}
#offer_banner_spotlight .slide_content ul li a.full {
	display: inline-block;
}
#offer_banner_spotlight .slide_content ul li a.condensed {
	display: none;
}
#offer_banner_spotlight .slide_content ul li a {
	vertical-align: middle;
	color: #fff;
	font-size: 15px;
	text-decoration: none;
}
#offer_banner_spotlight .slide_content ul li a.open-disclaimer, #offer_banner_spotlight .info-i {
	display: inline-block;
	vertical-align: bottom;
	width: 20px;
	height: 20px;
	padding: 0;
	margin-left: 10px;
	background: url(/ns/common/champssports/images/info-white-48x48.png) center no-repeat;
	background-size: 100%;
}
#offer_banner_spotlight .slide_buttons {
	width: 100%;
	height: 1px;
}
#offer_banner_spotlight .slide_buttons .sl_previous {
	position: relative;
	top: -27px;
}
#offer_banner_spotlight .slide_buttons .sl_next {
	float: right;
	position: relative;
	top: -27px;
}
#offer_banner_spotlight .slide_buttons .sl_previous a {
	display: block;
	width: 12px;
	height: 20px;
	background: url(/ns/common/champssports/images/cs-master-sprite.png) -372px -20px no-repeat;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
	opacity: 0.5;
}
#offer_banner_spotlight .slide_buttons .sl_next a {
	display: block;
	width: 12px;
	height: 20px;
	background: url(/ns/common/champssports/images/cs-master-sprite.png) -397px -20px no-repeat;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
	opacity: 0.5;
}
#offer_banner_spotlight .slide_buttons .sl_previous a:hover, #offer_banner_spotlight .slide_buttons .sl_next a:hover {
	opacity: 1;
}
#order_summary_content {
	display: none;
}
#fixed_banner #order_summary {
	position: absolute;
	top: 0;
	right: 0;
	height: 60px;
	padding: 0 20px;
	font-size: 14px;
	background: #b2906a;
}
#fixed_banner #order_summary .shopping_cart_icon {
	display: inline-block;
	width: 22px;
	height: 22px;
	vertical-align: middle;
	margin-right: 5px;
	background: url(/ns/common/champssports/images/shopping-cart-icon.png) center no-repeat;
	background-size: contain;
}
#fixed_banner #order_summary .cart_text {
	/*display: inline-block;*/
	display: none;
	vertical-align: middle;
}
#fixed_banner #order_summary .cart_count {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	padding: 0;
	margin-left: 5px;
	color: #b2906a;
	line-height: 32px;
	background: #fff;
	border-radius: 20px;
}
#fixed_banner #order_summary a {
	display: block;
	margin-top: 12px;
	color: #fff;
	text-decoration: none;
}
#VIPONLYBANNER, #NONVIPBANNER {
	display: none;
}
/* END FIXED BANNER STYLES */

/* GLOBAL BANNER ADMIN*/
#global_Banner .rotating-banner-slides {
	display: none;
}
#header .secondary-global-banner {
	text-align: center;
}
#header.secondary-global-banner img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
#header .secondary-global-banner a {
	display: block;
	text-decoration: none;
}
#header .secondary-global-banner span {
	display: block;
	width: 100%;
	max-width: 1920px;
	height: auto;
	padding: 10px 0 10px 0;
	margin: 0 auto;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	background: #b2906a;
	color: #fff;
}
#global-banner-disclaimer {
	display: none;
}
#global-banner-html {
	width: 480px;
	font-family: Futura, arial, sans-serif;
}
#global-banner-html .global-banner {
	padding: 30px;
}
#global-banner-html .global-banner h2 {
	font-size: 14px;
	font-family: Futura, arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
}
#global-banner-html .global-banner p {
	font-size: 14px;
	color: #666;
	margin-bottom: 20px;
}
#global-banner-html .global-banner br {
	display: none;
}
/* END GLOBAL BANNER ADMIN STYLES*/

/* TYPEAHEAD STYLES */
#as_reduce_input_text_height {
	background: none;
	padding: 5px 0 0 0;
	font-family: Futura, arial, sans-serif;
}
#as_reduce_input_text_height .as_header, #as_reduce_input_text_height .as_footer, #as_reduce_input_text_height ul#as_ul li .tl, #as_reduce_input_text_height ul#as_ul li .tr {
	display: none;
}
#as_reduce_input_text_height ul#as_ul {
	background-color: #fafafa;
	border: 1px solid #e0e0e0;
}
#as_reduce_input_text_height ul#as_ul li {
	margin: 0;
}
#as_reduce_input_text_height ul#as_ul li a {
	color: #000;
	text-shadow: none;
	text-transform: uppercase;
}
#as_reduce_input_text_height ul#as_ul li.as_highlight a, #as_reduce_input_text_height ul#as_ul li.as_highlight a:hover {
	background-color: #c7c7c7;
}
#as_reduce_input_text_height ul#as_ul li a span {
	padding: 11px;
}
#as_reduce_input_text_height ul#as_ul li a span em {
	color: #000;
	font-family: Futura, arial, sans-serif;
	font-weight: bold;
}
/* END TYPEAHEAD STYLES*/

#header {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-size: 0;
	color: #000;
}
#header .top_header_container {
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
	text-align: left;
}
#header .main_logo {
	display: inline-block;
	width: 15%;
	padding: 10px;
	margin-right: 15px;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	vertical-align: middle;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
#header #header_nav {
	position: relative;
	display: inline-block;
	width: 75%;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-size: 12px;
	font-weight: bold;
}

.search_btn, .menu_btn {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.search_btn a {
	position: relative;
	display: block;
	margin: 0 5px;
	height: 52px;
	width: 52px;
	text-align: center;
	background: url(/ns/common/champssports/images/large-search-magnifying.png) no-repeat center #000;
	background-size: 50%;
	border-radius: 3px;
}
.search_btn a:after {
	display: block;
	content: "";
	width: 100%;
	height: 24px;
	background: #000;
	position: absolute;
	bottom: -21px;
	left: 0px;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}
.search_btn a.selected:after {
	bottom: -44px;
}
#header #js-pushdown-nav {
	display: inline-block !important;
}
#header #js-pushdown-nav {
	display: inline-block;
	width: 68%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#header #header_tabs {
	display: inline-block;
}
#header .header_search {
	position: relative;
	display: block;
	height: 50px;
	margin: 0 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow: hidden;
	margin-bottom: 10px;
}
#header .main_logo a {
	display: inline-block;
	background: url(/ns/common/champssports/images/logo.png) center center no-repeat #FFF;
	background-size: contain;
	height: 53px;
	width: 100%;
}
.header_search .input_wrap {
	position: absolute;
	left: 0;
	right: 0;
}
input#reduce_input_text_height::-webkit-input-placeholder {
	color: #fff;
	opacity:1;
}
input#reduce_input_text_height:-ms-input-placeholder {
	color: #fff;
	filter:alpha(opacity=1); /* For IE8 and earlier */
}
input#reduce_input_text_height::-ms-clear {
	display: none;
}
input#reduce_input_text_height:-moz-placeholder {
	color: #fff;
	opacity:1;
}
input#reduce_input_text_height::-moz-placeholder {
	color: #fff;
	opacity:1;
}
.header_search  #reduce_input_text_height, #locationInput {
	display: inline-block;
	width: 100%;
	padding: 0 20px;
	height: 50px;
	line-height: normal;
	margin: 0;
	border-left: 1px solid #000;
	border-right:none;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	background-color: #000;
	color: #fff;
	font-family: Futura, arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 3px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.header_search #reduce_input_text_height:focus, #locationInput:focus {
	outline: none;
}

.head-search-btn {
	position: relative;
	float: right;
	display: inline-block;
	background: url(/ns/common/champssports/images/large-search-magnifying.png) no-repeat center #000;
	background-size: 50%;
	height: 50px;
	width: 50px;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
}
#header_nav {
	text-align: left;
	margin-top: 0 !important;
}
div[data-nav], #header_login {
	position: relative;
	display: block;
	float: left;
	width: auto;
	padding: 34px 30px 28px 5px;
	font-size: 14px;
	text-transform: uppercase;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	vertical-align: top;
	background: #fff;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	cursor: pointer;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	z-index: 1;
}
div[data-nav]:first-child {
	margin-left: 10px;
}
div[data-nav="the-drop"] {
	padding-top: 33px;
	padding-right: 10px;
}
div[data-nav="categories"]:before {
	content: "Categories";
}
div[data-nav="release_calendar"]:before {
	content: "Releases";
}
div[data-nav="stores"]:before {
	content: "Stores";
}
div[data-nav="help"]:before {
	content: "Help";
}
div[data-nav="the-drop"]:before {
	content: "";
	display: block;
	width: 73px;
	height: 18px;
	background: url(/ns/common/champssports/images/TheDropLogo.png) center no-repeat;
	background-size: contain;
}
#header_login:before {
	content: "Log In/Register";
}
#header_login.member:before {
	content: "";
}
div[data-nav]:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 10px;
	display: block;
	width: 10px;
	height: 6px;
	margin-top: -1px;
	background: url('/ns/common/champssports/images/nav_arrow_down.png') no-repeat center;
}
div[data-nav="the-drop"]:after {
	background: none;
}
div[data-nav].selected, #header_login.selected {
	background: #f0f0f0;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #f0f0f0;
	color: #b2906a;
	z-index: 3;
}
div[data-nav].selected:after {
	background-image: url('/ns/common/champssports/images/nav_arrow_up.png');
}
.menu_btn a {
	display: none;
	margin: 0 5px;
	height: 52px;
	width: 52px;
	text-align: center;
}
.menu_btn a span {
	position: relative;
	display: inline-block;
	width: 50%;
	height: 22px;
	background-position: -120px top;
}
.menu_btn a span:before {
	content: "";
	position: absolute;
	top: 21px;
	left: 0;
	width: 100%;
	height: 3px;
	border-top: 7px double #000;
	border-bottom: 2px solid #000;
}
#header_login {
	display: inline-block;
	vertical-align: top;
	padding-right: 40px;
	text-align: right;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#header_login a {
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 0;
}
#header_login:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 10px;
	display: block;
	width: 25px;
	height: 22px;
	margin-top: -9px;
	background: url(/ns/common/champssports/images/login.png) center no-repeat;
	background-size: contain;
}

#ex_nav, #ex_nav_2 { font-size: 14px; }
#ex_nav {
	display: none;
	position: relative;
	top: -1px;
	top: -3px\9;
	left: 0;
	width: 100%;
	border-top: 1px solid #ccc;
	z-index: 2;
}
body:not(:-moz-handler-blocked) #ex_nav {
	top: -2px;
}
#ex_nav > ul {
	display: none;
	list-style: none;
	width: 100%;
	text-align: center;
	overflow: hidden;
	background: #f0f0f0;
	border-bottom: 1px solid #ccc;
}
#ex_nav > ul li {
	position: relative;
	display: inline-block;
	float: none;
	color: #666;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 30px 0;
	margin: 0 20px;
	width: auto;
	background-image: none;
	cursor: pointer;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}
#ex_nav #nav_categories > div {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	text-align: left;
}
#ex_nav #nav_help > li {
	display: block;
	margin: 0;
	cursor: default;
}
#ex_nav #nav_help div {
	max-width: 1440px;
	margin: 0 auto;
	overflow: hidden;
	color: #666;
	text-align: left;
}
#ex_nav #nav_help ul {
	display: inline-block;
	vertical-align: top;
	list-style: disc inside;
	width: 20%;
	padding: 0 2%;
	text-align: left;
	font-size: 14px;
	text-transform: none;
}
#ex_nav #nav_help li div ul:first-child {
	padding-left: 30px;
}
#ex_nav #nav_help h2 {
	margin: 5px 0 10px 0;
	color: #666;
	font-size: 18px;
	font-weight: normal;
}
#ex_nav #nav_help h2 a {
	text-transform: uppercase;
	text-decoration: none;
	color: #666;
	font-weight: bold;
}
#ex_nav #nav_help span {
	font-style: italic;
}
#ex_nav #nav_help h3 a {
	display: block;
	margin: 10px 0 0 0;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	color: #b2906a;
}
#ex_nav #nav_help ul li {
	display: list-item;
	margin: 5px 0;
	padding: 0;
	font-size: 14px;
	text-transform: none;
}
#ex_nav #nav_help ul li a {
	display: inline-block;
	text-decoration: none;
	font-weight: normal;
	color: #666;
	margin-bottom: 10px;
}
#ex_nav #nav_help ul li a:hover {
	color: #b2906a;
	text-decoration: underline;
}
#ex_nav #nav_stores {
	background: none;
	border-bottom: none;
}
#ex_nav #nav_stores h2 {
	font-size: 18px;
	margin: 0 0 10px 0;
}
#ex_nav #nav_stores > li {
	display: block;
	padding: 0;
	margin: 0;
	background: #fff;
	cursor: default;
}
#ex_nav #nav_stores .find-a-store {
	padding: 30px 0;
	background: #f0f0f0;
	border-bottom: 1px solid #ccc;
}
#ex_nav #nav_stores #store-locator {
	position: relative;
	width: 400px;
	margin: 0 auto;
	overflow: hidden;
}
#ex_nav #nav_stores #locationInput {
	position: absolute;
	top: 0;
	left: 0;
	width: 95%;
	background: #fff;
	color: #000;
	text-transform: none;
	font-size: 14px;
	font-weight: normal;
}
#ex_nav #nav_stores .find-a-store span {
	display: block;
	margin-top: 10px;
	font-size: 14px;
	font-weight: normal;
	text-transform: none;
}
#ex_nav #nav_stores .find-a-store > a {
	display: block;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #b2906a;
}
#ex_nav #nav_stores .local-stores {
	position: relative;
	display: none;
	padding: 20px 0;
	background: #fff;
	border-bottom: 1px solid #ccc;
}
#ex_nav #nav_stores .local-stores:before {
	content: "";
	display: block;
	position: absolute;
	top: -14px;
	left: 50%;
	width: 30px;
	height: 14px;
	padding: 0;
	margin-left: -15px;
	background: url('/ns/common/champssports/images/ex_nav_arrow.jpg') center no-repeat;
}
#nav_stores ul.closest-stores {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0 auto;
}
#nav_stores ul.closest-stores li {
	position: relative;
	display: inline-block;
	padding: 0 20px 0 28px;
	margin: 0;
	text-transform: capitalize;
	cursor: default;
}
#nav_stores ul.closest-stores li:before {
	content: "";
	display: block;
	position: absolute;
	top: 12px;
	left: 0;
	width: 18px;
	height: 24px;
	background: url('/ns/common/champssports/images/nav_icon_location.png') center no-repeat;
}
#nav_stores ul.closest-stores li h2 {
	font-weight: normal;
	text-transform: uppercase;
	margin: 10px 0 5px 0 !important;
}
#nav_stores ul.closest-stores li span {
	display: block;
	font-size: 14px;
	font-style: italic;
}
#nav_login li {
	width: 100% !important;
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
	cursor: default !important;
	color: #666;
	text-align: left;
}
#nav_login li.logged-in .left-column {
	display: inline-block;
	float: left;
	width: 30%;
	margin-left: 10px;
}
#nav_login li.logged-in .right-column {
	display: inline-block;
	vertical-align: top;
	float: right;
	width: 65%;
}
#nav_login li.logged-in .left-column h2 {
	font-size: 18px;
}
#nav_login li.logged-in .left-column span {
	display: block;
	font-size: 14px;
	font-weight: normal;
	margin: 10px 0 20px 0;
	text-transform: none;
}
#nav_login li.logged-in .left-column a.button {
	display: inline-block;
	width: 140px;
	height: 40px;
	line-height: 40px;
	padding: 0;
	color: #000;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	border-radius: 2px;
}
#nav_login li.logged-in .right-column ul {
	list-style: disc;
	display: inline-block;
	vertical-align: top;
	width: 40%;
	padding: 0 2%;
}
#nav_login li.logged-in .right-column ul li {
	display: list-item;
	padding: 0;
	margin-bottom: 10px;
	overflow: visible;
}
#nav_login li.logged-in .right-column ul li a {
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	color: #666;
	text-decoration: none;
	text-transform: none;
	margin-bottom: 10px;
}
#header .selected {
	color: #b2906a;
}
#ex_nav .ex_nav_arrow {
	content: "";
	display: none;
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 30px;
	height: 14px;
	padding: 0;
	margin-left: -15px;
	background: url('/ns/common/champssports/images/ex_nav_arrow.jpg') center no-repeat;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}
#nav_gender_bar {
	display: none;
	border-bottom: 1px solid #ccc;
}
#nav_gender_bar span {
	display: inline-block;
	font-size: 18px;
	text-transform: uppercase;
	padding: 20px 40px;
	cursor: pointer;
}
#ex_nav_2 {
	display: block;
	width: 100%;
	margin: 0 auto;
}
#ex_nav_2 > div {
	display: none;
	overflow: hidden;
	height: auto;
	padding: 10px 0;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
}
#ex_nav_2 .nav_mens, #ex_nav_2 .nav_womens, #ex_nav_2 .nav_kids {
	display: none;
}
#ex_nav_2 ul.products {
	list-style: none;
	overflow: hidden;
	padding: 10px 0 20px 0;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}
#ex_nav_2 ul.products li {
	display: inline-block;
	margin: 5px 10px;
	width: 100px;
	vertical-align: top;
}
#ex_nav_2 ul.products li a {
	display: block;
	color: #000;
	text-decoration: none;
}
#ex_nav_2 ul.products li a img {
	display: block;
	width: 100%;
	border: none;
}
#ex_nav_2 ul.products li a span {
	display: block;
	margin: 5px 0 0 0;
}
#ex_nav_2 .merch-links {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	text-align: left;
}
#ex_nav_2 .merch-links ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin: 0 -10px 20px 30px;
	color: #666;
	list-style-position: inside;
}
#ex_nav_2 .merch-links ul h2 {
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 5px;
}
#ex_nav_2 .merch-links ul li a {
	display: inline-block;
	padding: 7px 0;
	color: #666;
	text-decoration: none;
}
#ex_nav_2 .merch-links ul li a:hover {
	color: #b2906a;
}
#ex_nav_2 .size-drop {
	margin-bottom: 10px;
	cursor: pointer;
}
#ex_nav_2 .size-drop span {
	display: inline-block;
	padding: 5px 0;
}
#ex_nav_2 .size-drop.open span {
	color: #b2906a;
}
#ex_nav_2 .size-drop span:after {
	content: "";
	background-image: url('/ns/common/champssports/images/nav_arrow_down.png');
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 6px;
	margin-left: 10px;
}
#ex_nav_2 .size-drop.open span:after {
	background-image: url('/ns/common/champssports/images/nav_arrow_up.png');
}
#ex_nav_2 .size-drop .size-boxes {
	margin-bottom: 10px;
}
#ex_nav_2 .merch-links ul.sizes {
	width: 70%;
}
#ex_nav_2 ul.size-boxes {
	list-style: none;
	display: block;
	width: auto;
	padding: 0;
	margin: 10px 0 0 0;
	overflow: hidden;
}
#ex_nav_2 .size-drop ul.size-boxes {
	display: none;
}
#ex_nav_2 ul.size-boxes li {
	display: block;
	float: left;
	width: 54px;
	height: 40px;
	margin: 1px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	text-align: center;
}
#ex_nav_2 ul.size-boxes li a {
	display: block;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	height: 100%;
	line-height: 40px;
	padding: 0;
}
#ex_nav_2 ul.size-boxes li a:hover {
	background: #b2906a;
	color: #fff;
	border-color: #b2906a;
}
#ex_nav_2 .feature-img {
	display: inline-block;
	vertical-align: top;
	float: right;
	width: 200px;
	height: 200px;
	margin-right: 20px;
}
#ex_nav_2 .feature-img img {
	display: block;
	float: right;
	max-width: 100%;
}

/* RELEASE CALENDAR */
#relcal-container .alert-msg {
	font-style: normal;
	color: #c4122f;
	font-weight: bold;
	margin: 10px 0;
}
.relcal-header {
	background: #f0f0f0;
	padding: 20px 0 30px 0;
	text-align: center;
	border-bottom: 1px solid #ccc;
}
.relcal-header p {
	margin: 0;
	font-size: 14px;
	color: #666;
}
.relcal-header p a {
	text-decoration: none;
	font-size: 14px;
	color: #b2906a;
	font-weight: bold;
}
.relcal-header .month-nav {
	margin-top: 20px;
}
.relcal-header .month-nav .prev-month, .relcal-header .month-nav .next-month {
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 20px;
	background: url(/ns/common/champssports/images/cs-master-sprite.png) -372px -20px no-repeat;
	opacity: 0.5;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.relcal-header .month-nav .prev-month:hover, .relcal-header .month-nav .next-month:hover {
	opacity: 1;
}
.relcal-header .month-nav .next-month {
	background-position: -397px -20px;
}
.relcal-header .month-nav .month-name {
	display: inline-block;
	vertical-align: middle;
	margin: 0 20px;
	color: #666;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
}
.relcal-body {
	background: #fff;
	border-bottom: 1px solid #fff;
}
.relcal-body .prod-container {
	overflow: hidden;
}
ul.relcal-prod {
	list-style: none;
	position: relative;
	left: 0;
	padding: 0;
	height: 350px;
	margin: 30px 0 0 0;
	text-align: left;
	overflow: hidden;
}
ul.relcal-prod li {
	display: block;
	float: left;
	height: 100%;
	padding: 0 20px !important;
	margin: 0 !important;
	border-right: 1px solid #ccc;
	cursor: default !important;
	overflow: hidden;
}
ul.relcal-prod li:last-child {
	border: none;
}
ul.relcal-prod li .product {
	display: block;
	float: left;
	cursor: pointer;
}
ul.relcal-prod li .left-column, ul.relcal-prod li .right-column {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	margin: 0 10px;
	text-align: left;
}
ul.relcal-prod li .left-column img {
	max-width: 100%;
}
ul.relcal-prod li .right-column span {
	display: block;
	margin: 5px 0;
	color: #666;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	text-transform: none;
}
ul.relcal-prod li .right-column .date {
	color: #b2906a;
	font-size: 30px;
	font-style: normal;
}
ul.relcal-prod li .right-column .name {
	color: #000;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	margin: 10px 0;
	text-transform: uppercase;
}
ul.relcal-prod li .right-column .sold-out, ul.relcal-prod li .right-column .button {
	display: inline-block;
	width: 147px;
	height: 40px;
	padding: 0;
	margin: 10px 0;
	font-size: 14px;
	line-height: 40px;
	text-transform: uppercase;
	text-decoration: none;
	font-style: normal;
	text-align: center;
}
ul.relcal-prod li .right-column .sold-out {
	display: inline-block;
	color: #000;
	font-weight: bold;
	background: #e0e0e0;
	border: 1px solid #c7c7c7;
}
ul.relcal-prod li .right-column .social-icons {
	margin-top: 10px;
}
ul.relcal-prod li .right-column .social-icons a {
	display: inline-block;
	width: 20%;
	margin-right: 10px;
}
ul.relcal-prod li .right-column .social-icons a img {
	display: block;
	width: 90%;
}
.relcal-body .scrollbar-container {
	position: relative;
	width: 90%;
	max-width: 960px;
	height: 16px;
	margin: 20px auto;
	background: #e0e0e0;
	border: 1px solid #c7c7c7;
	border-radius: 10px;
}
.relcal-body .scrollbar-inner-bkg {
	position: relative;
	left: 0;
	background: #000;
	width: 0;
	height: 100%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.relcal-body .scrollbar-inner {
	position: absolute;
	left: 0;
	top: 50%;
	background: #000;
	width: 32px;
	height: 32px;
	margin-top: -16px;
	border-radius: 16px;
	cursor: pointer;
}
#relcal-footer {
	width: 90%;
	max-width: 960px;
	margin: 20px auto;
	text-align: center;
	overflow: hidden;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
#relcal-footer .first-month, #relcal-footer .last-month {
	display: block;
	width: auto;
	color: #b2906a;
	text-transform: uppercase;
	font-size: 18px;
}
#relcal-footer .first-month {
	float: left;
	padding-left: 10px;
}
#relcal-footer .last-month {
	float: right;
	padding-right: 10px;
}
#relcal-footer p {
	margin: 0;
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #666;
	font-style: italic;
}

/* MOBILE RELEASE CALENDAR */
.relcal-mobile-container ul.relcal-prod li .left-column {
	width: 100px;
}
.relcal-mobile-container ul.relcal-prod li .right-column .date {
	font-size: 18px;
}
.relcal-mobile-container #relcal-footer p {
	display: none;
}
.relcal-mobile-container #relcal-footer .first-month, .relcal-mobile-container #relcal-footer .last-month {
	font-size: 14px;
}
.relcal-mobile-container ul.relcal-prod li .right-column .social-icons a {
	width: 20%;
}

/* MOBILE FLYOUT NAVIGATION */
#flyout-navigation {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 82%;
	font-family: Futura, arial, sans-serif;
	background: #f0f0f0;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: -1;
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	-webkit-overflow-scrolling: touch;
	display: none;
}
.close-menu-content-cover {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: 9999999;
}
[data-is-menu-visible='true'] .close-menu-content-cover {
	display: block;
}
#flyout-navigation .inner {
	padding: 20px;
	border-right: 1px solid #ccc;
}
#flyout-navigation .inner header .logged_out {
	display: inline-block;
	padding-right: 35px;
	font-family: Futura, arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	background: url('/ns/common/champssports/images/nav_icon_login.png') no-repeat right center;
}
#flyout-navigation .inner header .logged_out a {
	display: inline-block !important;
}
#flyout-navigation .inner header #custName {
	display: inline-block;
	margin: 0;
	color: #000;
	font-family: Futura, arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}
#flyout-navigation .inner header #custName a {
	display: inline-block;
	padding: 0;
	margin-left: 10px;
}
#flyout-navigation a {
	display: block;
	padding: 10px 0;
	color: #000;
	text-decoration: none;
}
#flyout-navigation ul.menu-list > li {
	border-bottom: 1px solid #ccc;
}
#flyout-navigation .inner > a, #flyout-navigation .inner .log_out a, #flyout-navigation .inner > a, #flyout-navigation .inner .full_site a {
	font-size: 16px;
	font-family: Futura, arial, sans-serif;
	text-transform: uppercase;
}
#flyout-navigation .faux-link {
	display: block;
	padding: 10px 0;
	font-size: 16px;
	font-family: Futura, arial, sans-serif;
	text-transform: uppercase;
}
#flyout-navigation ul.menu-list > li > a {
	font-size: 16px;
	font-family: Futura, arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 20px;
}
#flyout-navigation li.expandable > a, #flyout-navigation li.faux-expandable > a {
	background: url(/ns/common/champssports/images/nav_arrow_right_wood.png) no-repeat 2px center;
}
#flyout-navigation ul.menu-list > li > a.the-drop {
	background: none;
	padding: 7px 0 7px 20px;
}
#flyout-navigation ul.menu-list > li > a.the-drop img {
	display: block;
	height: 27px;
}
#flyout-navigation li.expandable .sub-menu {
	display: none;
	margin-left: 20px;
}
#flyout-navigation .sub-menu li a {
	color: #777;
	font-size: 16px;
	padding-left: 20px;
}
#flyout-navigation .sub-menu .sub-menu {
	list-style: disc;
	color: #777;
}
#flyout-navigation .sub-menu .sub-menu li {
	display: list-item;
	list-style: inherit;
	padding: 0;
	margin-left: 20px;
	color: #777;
	overflow: visible;
}
#flyout-navigation .sub-menu .sub-menu li a {
	padding-left: 0;
}
#flyout-navigation .open {
	background-image: url(/ns/common/champssports/images/nav_arrow_down_gray.png) !important;
	color: #b2906a !important;
}
#flyout-navigation .social-icons a {
	display: inline-block;
	width: 20%;
	padding: 0;
	margin: 0 5px 10px 0;
}
#flyout-navigation .social-icons a img {
	display: block;
	width: 100%;
	max-width: 64px;
}

/* LOGIN IFRAME STYLES */
#login_container, #ws_login_container {
	position: fixed !important;
	left: 50% !important;
	top: 50% !important;
	width: 900px !important;
	height: 300px !important;
	margin: -150px 0 0 -450px;
	border: none;
	background: transparent;
}
[data-touchdevice="true"] #login_container, [data-touchdevice="true"] #ws_login_container {
	position: absolute !important;
}
#login_container iframe, #ws_login_container iframe {
	width: 100% !important;
	height: 300px !important;
	border: none !important;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
#login_container:before {
	display: block;
	content: "Log In/Register";
	background: #e0e0e0;
	border-bottom: 1px solid #ccc;
	padding: 16px;
	text-align: center;
	font-family: Futura, arial, sans-serif;
	color: #666;
	font-size: 14px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
#ws_login_container:before {
	display: block;
	content: "Wishlist";
	background: #e0e0e0;
	border-bottom: 1px solid #ccc;
	padding: 16px;
	text-align: center;
	font-family: Futura, arial, sans-serif;
	color: #666;
	font-size: 14px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
#login_container .closeBtn, #ws_login_container .closeBtn {
	position: absolute;
	right: 10px;
	top: 3px;
	font-family: Futura, arial, sans-serif;
}
#login_container .closeBtn span, #ws_login_container .closeBtn span {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	color: #666;
	font-size: 14px;
	line-height: 40px;
	text-transform: uppercase;
}
#login_container .closeBtn a, #ws_login_container .closeBtn a {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 40px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-size: 36px;
	line-height: 36px;
	background: #666;
	border: 1px solid #4d4d4d;
	border-radius: 3px;
	cursor: pointer;
}
#login_container_shadow, #ws_login_container_shadow {
	position: fixed;
	top: 0 !important;
	left: 0 !important;
	background: #111 !important;
	width: 100% !important;
	height: 100% !important;
	opacity: 0.8 !important;
}
#login_container_shadow > div, #ws_login_container_shadow > div {
	display: none;
}

/* BORDER HOVER */
.border-hover {
	position: relative;
}
.border-hover a {
	text-decoration: none;
	z-index: 1;
}
.border-hover a, .border-hover a img {
	display: block;
	padding: 0;
	margin: 0;
	overflow: hidden;
	border: none;
}
.border-hover a .cell-img {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 100%;
	background: no-repeat center;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}
.border-hover a:hover .cell-img {
	background-size: 105%;
}
.border-hover a span {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	background: #000;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.border-hover a span p {
	display: block;
	position: absolute;
	top: 50%;
	left: 15%;
	width: 70%;
	max-height: 70%;
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	overflow: hidden;
	-webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
	-o-transition: opacity 2s;
	transition: opacity 2s;
	opacity: 0;
	filter: alpha(opacity=0);
}
.border-hover a .bt, .border-hover a .br, .border-hover a .bb, .border-hover a .bl {
	display: block;
	position: absolute;
	background: #fff;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.border-hover a .bt {
	top: 10%;
	right: 90%;
	width: 0;
	height: 1px;
}
.border-hover a .br {
	bottom: 90%;
	right: 10%;
	width: 1px;
	height: 0;
}
.border-hover a .bb {
	bottom: 10%;
	left: 90%;
	width: 0;
	height: 1px;
}
.border-hover a .bl {
	top: 90%;
	left: 10%;
	width: 1px;
	height: 0;
}

.border-hover.wide-cell a .bt {
	top: 20%;
}
.border-hover.wide-cell a .br {
	bottom: 80%;
}
.border-hover.wide-cell a .bb {
	bottom: 20%;
}
.border-hover.wide-cell a .bl {
	top: 80%;
}
.border-hover a:hover span {
	opacity: 1.0;
	filter: alpha(opacity=100);
	color: #fff;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.9);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#90000000, endColorstr=#99000000)";
}
.border-hover a:hover span p {
	opacity: 1;
	filter: alpha(opacity=100);
}
.border-hover a:hover .bt {
	right: 10%;
	width: 80%;
}
.border-hover a:hover .br {
	bottom: 10%;
	height: 80%;
}
.border-hover a:hover .bb {
	left: 10%;
	width: 80%;
}
.border-hover a:hover .bl {
	top: 10%;
	height: 80%;
}
.border-hover.wide-cell a:hover .br {
	bottom: 20%;
	height: 60%;
}
.border-hover.wide-cell a:hover .bl {
	top: 20%;
	height: 60%;
}
/* END BORDER HOVER */

/* BEGIN MEDIA QUERIE STYLES */
@media screen and (max-width: 1279px) {
	#fixed_banner #order_summary .cart_text {
		display: none;
	}
}
@media screen and (min-width: 1024px) {
	#header #header_nav {
		display: inline-block !important;
	}
}
@media screen and (max-width: 1023px) {
	#offer_banner_spotlight {
		width: 65%;
	}
	#offer_banner_spotlight .slide_content ul li a.full {
		display: none;
	}
	#offer_banner_spotlight .slide_content ul li a.condensed {
		display: inline-block;
	}
	#fixed_banner #order_summary {
		padding: 0 10px;
	}

	#header_login:before {
		content: "Log In";
	}
	#header_login.member:before {
		content: "";
	}
	#header #js-pushdown-nav .removed {
		display: none;
	}
	#header #js-pushdown-nav {
		display: inline-block;
		width: 66%;
	}
	#reduce_input_text_height {
		font-size: 12px;
	}
	div[data-nav="categories"]:before {
		content: "Shop";
	}
}

@media screen and (max-width: 900px) {
	#header_login.member span {
		display: none;
	}
}

@media screen and (max-width: 800px) {
	#fixed_banner #order_summary .shopping_cart_icon {
		margin-right: 0;
	}
	#header_login.guest {
		width: 19%;
	}
	#header_login.guest:after {
		background: none;
	}
	#login_container {
		width: 700px;
		margin: -150px 0 0 -350px;
	}
	#ex_nav_2 ul.products li {
		width: 70px;
	}
	#ex_nav_2 .feature-img {
		display: none;
	}
	#ex_nav #nav_help li div {
		text-align: center;
	}
	#ex_nav #nav_help li div ul {
		width: 30%;
		padding: 0 20px 20px 20px;
		box-sizing: border-box;
	}
	#ex_nav #nav_help li div ul:first-child {
		width: 100%;
		padding: 0 0 20px 0;
		text-align: center;
	}
	#header .secondary-global-banner span {
		font-size: 12px;
	}
}
@media screen and (min-width: 768px) {
	#header #header_nav {
		display: inline-block !important;
		vertical-align: middle;
	}
	#login_container, #ws_login_container {
		width: 700px !important;
		margin: -150px 0 0 -350px;
	}
}
@media screen and (max-width: 768px) {
	#header #header_nav {
		width: 74%;
	}
}
@media screen and (max-width: 767px) {
	#offer_banner_spotlight {
		width: 65%;
	}
	#offer_banner_spotlight .slide_content ul li a {
		font-size: 10px;
		padding-top: 4px;
	}
	#offer_banner_spotlight .slide_buttons .sl_previous, #offer_banner_spotlight .slide_buttons .sl_next {
		top: -25px;
	}
	#header #header_tabs {
		width: 62%;
	}
	#header .main_logo {
		width: 100%;
		display: block;
	}
	#header .header_search {
		display: block;
		position: absolute;
		top: 82px;
		left: 0px;
		width: 96%;
		margin: 0 2% 10px 2%;
	}
	#header .search_btn, #header .menu_btn {
		display: none;
	}
	#header .search_btn a, #header .menu_btn a {
		display: inline-block;
		vertical-align: top;
	}
	#header #header_nav {
		width: 100%;
		margin-top: 67px !important;
	}
	#header #js-pushdown-nav {
		width: 100%;
	}
	div[data-nav]:first-child {
		margin-left: 2%;
	}
	div[data-nav], #header_login {
		border-top: 1px solid #fff;
	}
	div[data-nav].selected, #header_login.selected {
		border-top: 1px solid #ccc;
	}
	#nav_stores ul.closest-stores li {
		display: block;
		width: 100%;
		max-width: 100%;
		padding: 0;
		margin: 10px auto;
	}
	#ex_nav_2 ul.products li {
		width: 50px;
	}
	#login_container, #ws_login_container {
		width: 600px !important;
		margin: -150px 0 0 -300px;
	}
}

@media screen and (max-width: 480px) {
	ul.relcal-prod {
		height: 320px;
	}
}
/*qualtrics survey fix*/
body > div:not([id]) {
	background: transparent !important;
}
.QSIPopOver {
	width: 225px !important;
	height: 225px !important;
	background: transparent !important;
}