.cs-container {
	-webkit-perspective: 1000px;
	width: 100%;
	margin: 0 auto;
}
#mystore {
	text-transform: uppercase;
}
.heading-spacer {
	position: relative;
	background-color: #e0e0e0;
	border-bottom: 1px solid #afafaf;
	padding: 30px 0;
	text-align: center;
}
.heading-spacer h1 {
	margin: 0;
	color: #000;
    font-family: Futura, arial, sans-serif;
	font-size: 24px;
	text-transform: uppercase;
}
.heading-spacer .button {
	display: inline-block;
	width: 206px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}
.social-panel {
	position: relative;
	background: url('../images/social-panel.jpg') #000 center no-repeat;
	width: 100%;
	height: 466px;
	padding: 0;
	margin: 0;
	margin-bottom: -300px;
	z-index: 10;
}

/* PEDESTAL STYLES */
.pedestal {
	background: #fff;
	text-align: center;
}
.pedestal .spotlight {
	position: relative;
	display: block;
	max-width: 1920px;
	margin: 0 auto;
}
.slide_content li {
	background-position: center;
    background-repeat: no-repeat;
}
.slide_content li.dark-bkg, .slide_content li.black-bkg {
    color: #fff;
}
.slide_content li.light-bkg, .slide_content li.white-bkg {
    color: #000;
}
.pedestal .spotlight .slide_content li {
	position: relative;
	height: 550px;
}
.pedestal .spotlight .slide_content li > a {
    display: block;
    height: 100%;
}
.pedestal .spotlight .slide_content li * {
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
	opacity: 0;
    filter: alpha(opacity=0);
}
.pedestal .spotlight .slide_content li.selected * {
	opacity: 1;
    filter: alpha(opacity=100);
}
.pedestal .spotlight .slide_content img {
	display: block;
	width: 100%;
}
.pedestal .spotlight .slide_content li .slide-title {
	position: absolute;
	top: 73px;
	width: 100%;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: bold;
	line-height: 25px;
    letter-spacing: 0.5em;
}
.pedestal .spotlight .slide_content li .slide-border {
    position: absolute;
    top: 40px;
    left: 40px;
    height: 470px;
    border: 6px solid #fff;
    box-sizing: border-box;
}
.pedestal .spotlight .slide_content li .slide-border-dark {
    position: absolute;
    top: 40px;
    left: 40px;
    height: 470px;
    border: 6px solid #000;
    box-sizing: border-box;
}
.pedestal .spotlight .slide_content li a.add-button {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    background: url(/ns/redesign/homepage-test/images/pedestal/add-button.png) center no-repeat;
    background-size: contain;
    z-index: 70;
    cursor: pointer;
}

.pedestal .spotlight .slide_content li .content {
    position: absolute;
    width: 1920px;
    height: 550px;
    top: 105px;
    left: 50%;
    margin-left: -960px;
    white-space: nowrap;
}
.pedestal .spotlight .slide_content li .content img {
    display: block;
    max-width: 100%;
}
.pedestal .spotlight .slide_content li .content .left-area, .pedestal .spotlight .slide_content li .content .right-area {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0px;
    width: 480px;
    height: 336px;
    padding: 0;
    margin: 0 -2px;
}
.pedestal .spotlight .slide_content li .content .safe-area {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0px;
    width: 960px;
    height: 336px;
    padding: 0;
    margin: 0 -2px;
}
.pedestal .spotlight .slide_content li .pedestal-icons {
    width: 960px;
    height: 47px;
    position: absolute;
    bottom: 43px;
    left: 50%;
    margin-left: -480px;
}
.pedestal .spotlight .slide_content li .pedestal-icons img {
    width: 166px;
    margin-left: 30px;
}
.pedestal .spotlight .slide_content li a.slide-link, .mobile-pedestal .promo-image a.slide-link {
	position: absolute;
    z-index: 19;
    padding: 0;
    background: url(/images/cs/global/pixel.gif) 0 0 repeat;
}
.pedestal .spotlight .slide_content li a.slide-link.full, .mobile-pedestal .promo-image a.slide-link.full {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.pedestal .spotlight .slide_content li a.slide-link.left, .mobile-pedestal .promo-image a.slide-link.left {
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
}
.pedestal .spotlight .slide_content li a.slide-link.right, .mobile-pedestal .promo-image a.slide-link.right {
    top: 0px;
    right: 0px;
    width: 50%;
    height: 100%;
}
.pedestal .spotlight .slide_content li a.slide-link.top, .mobile-pedestal .promo-image a.slide-link.top {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50%;
}
.pedestal .spotlight .slide_content li a.slide-link.bottom, .mobile-pedestal .promo-image a.slide-link.bottom {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50%;
}
.pedestal .spotlight .slide_content li .shop-now {
	position: absolute;
    bottom: 76px;
    left: 50%;
    width: auto;
    margin-left: -71px;
    z-index: 20;
}
.pedestal .spotlight .slide_content li .shop-now .button {
	color: #000;
	font-weight: bold;
	background: #fff;
}
.pedestal .spotlight .slide_content li .copy-area {
    display: none;
    position: absolute;
    top: 340px;
    left: 0px;
    right: 0px;
}
.pedestal .spotlight .slide_content li .copy-area .slide-title {
    position: relative;
    top: 0px;
    color: #000;
    font-family: Futura, arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    padding: 0 20px;
    margin: 20px auto;
    letter-spacing: normal;
    box-sizing: border-box;
}
.pedestal .slide_controls {
	position: absolute;
	bottom: 72px;
    right: 75px;
    width: auto;
}
.pedestal .slide_controls ul {
	text-align: center;
}
.pedestal .slide_controls ul li {
	float: none;
	display: inline-block;
	width: 22px !important;
	height: 3px;
    padding: 0 1px;
	margin: 0;
}
.pedestal .slide_controls ul li a {
	float: none;
	display: block;
	width: 22px !important;
	height: 3px;
	padding: 0;
	margin: 0;
	border-radius: 1px;
	background: #666;
	-moz-transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}
.pedestal .slide_controls ul li a.selected {
	background: #b2906a;
}
.pedestal .slide_buttons {
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: 0px;
    z-index: 80;
}
.pedestal .slide_buttons .sl_previous {
	position: absolute;
	bottom: 250px;
	left: 0px;
}
.pedestal .slide_buttons .sl_next {
	position: absolute;
	bottom: 250px;
	right: 0px;
}
.pedestal .slide_buttons a {
	display: block;
	opacity: 0;
    filter: alpha(opacity=0);
	-moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.pedestal .slide_buttons .sl_previous a {
	width: 74px;
	height: 55px;
	background: url(/ns/common/champssports/images/left-turn-arrow.png) center no-repeat;
	background-size: contain;
}
.pedestal .slide_buttons .sl_next a {
	width: 74px;
	height: 55px;
	background: url(/ns/common/champssports/images/right-turn-arrow.png) center no-repeat;
	background-size: contain;
}
.pedestal #spotlight.hovering .slide_buttons a {
	opacity: 1;
    filter: alpha(opacity=100);
}

#body_wrapper {
    width: 100%;
    padding: 0;
}
.mobile-pedestal .spotlight {
    position: relative;
    display: block;
}
.mobile-pedestal .spotlight .slide_content li {
    position: relative;
    padding-bottom: 70px;
}
.mobile-pedestal .slide-border {
    position: absolute;
    top: 20px;
    left: 20px;
    border: 2px solid #fff;
    box-sizing: border-box;
}
.mobile-pedestal .slide-border-dark {
    position: absolute;
    top: 20px;
    left: 20px;
    border: 2px solid #000;
    box-sizing: border-box;
}
.mobile-pedestal .slide-title {
    font-family: Futura, arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    width: 90%;
    margin: 20px auto;
    letter-spacing: 0.5em;
}
.mobile-pedestal .promo-image {
    position: relative;
    height: 325px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200% auto;
}
.mobile-pedestal .promo-image img {
    display: block;
    width: auto;
    max-width: 90%;
    max-height: 200px;
    padding-top: 60px;
    margin: 0 auto;
    text-align: center;
}
.mobile-pedestal .slide-picture img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}
.mobile-pedestal .copy-area a.button {
    margin: 0 5px;
	color: #000;
}
.mobile-pedestal .slide_controls {
	position: absolute;
	bottom: 40px;
}
.mobile-pedestal .slide_controls ul {
	text-align: center;
}
.mobile-pedestal .slide_controls ul li {
	float: none;
	display: inline-block;
	width: 22px !important;
	height: 3px;
    padding: 0 1px;
	margin: 0;
}
.mobile-pedestal .slide_controls ul li a {
	float: none;
	display: block;
	width: 22px !important;
	height: 3px;
	padding: 0;
	margin: 0;
	border-radius: 1px;
	background: #666;
	-moz-transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}
.mobile-pedestal .slide_controls ul li a.selected {
	background: #b2906a;
}
/* END PEDESTAL STYLES */

.grid-header-container {
	width: 100%;
    font-family: Futura, arial, sans-serif;
	text-align: center;
	background: #e0e0e0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #b0b0b0;
}
.grid-header {
	position: relative;
	width: 50%;
	height: 78px;
	max-width: 960px;
	margin: 0 auto;
}
.grid-droplabel {
	position: relative;
	float: left;
	width: 50%;
	height: 78px;
	overflow: hidden;
}
.grid-droplabel span {
	display: block;
	border-right: 1px solid #fff;
	height: 100%;
    color: #666;
	line-height: 78px;
	text-align: right;
	padding-right: 10px;
}
.grid-droptitle {
	position: relative;
	float: left;
	width: 50%;
	height: 78px;
	overflow: hidden;
}
.grid-droptitle span {
	display: block;
	border-left: 1px solid #b0b0b0;
	border-right:1px solid #b0b0b0;
	height: 100%;
    color: #666;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 78px;
	text-align: left;
	padding-left: 20px;
	cursor: pointer;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}
.grid-droptitle span.open {
	background: #f0f0f0;
	color: #b2906a;
}
.grid-droptitle span:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 20px;
	display: block;
	width: 10px;
	height: 6px;
	margin-top: -1px;
	background-image: url('/ns/common/champssports/images/nav_arrow_down.png');
	background-position: center;
	background-repeat: no-repeat;
}
.grid-droptitle span.open:after {
	background-image: url('/ns/common/champssports/images/nav_arrow_up.png');
}
.grid-dropdown {
	display: none;
	position: absolute;
	top: 100%;
	left: 50%;
	width: 50%;
	background: #f0f0f0;
	z-index: 1000;
}
.grid-dropdown ul {
	list-style: none;
	padding: 10px 0;
	margin: 0;
	border: 1px solid #b0b0b0;
	border-style: none solid solid solid;
}
.grid-dropdown ul li {
	display: block;
	padding: 10px 20px;
	margin: 0;
	text-transform: uppercase;
	font-weight: bold;
	text-align: left;
	cursor: pointer;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	opacity: 0.7;
    filter: alpha(opacity=70);
}
.grid-dropdown ul li:hover {
	opacity: 1;
    filter: alpha(opacity=100);
}

/* HOMEPAGE GRID STYLES */
.grid_container {
	max-width: 1920px;
	min-width: 320px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	-webkit-transform-origin-x: 50%;
	-moz-transform-origin-x: 50%;
	-webkit-transform-origin-y: 50%;
	-moz-transform-origin-y: 50%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
}
.grid_container ul.column {
	display: inline-block;
	width: 25%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	vertical-align: bottom;
	list-style: none;
}
.grid_container ul.column li {
	float: left;
	display: block;
    font-family: Futura, arial, sans-serif;
	padding: 0;
	margin: 0;
	background: #000;
}
.grid_container ul.column li a, .grid_container ul.column li a img {
	position: relative;
	display: block;
	padding: 0;
	margin: 0;
	overflow: hidden;
	border: none;
}
.grid_container ul.column li a {
	background: #e0e0e0;
	text-decoration: none;
	border: 1px solid #fff;
	z-index: 1;
}
.grid_container ul.column li a.product-grid-cell {
	background: #fff;
}
.grid_container ul.column li a.social-grid-cell.instagram:after {
	content: "";
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 32px;
    height: 32px;
    background: url(/ns/common/champssports/images/social-icons/instagram-64x64.png) center no-repeat;
    background-size: contain;
    z-index: 1;
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
    opacity: 1;
}
.grid_container ul.column li a.social-grid-cell.instagram:hover:after {
    opacity: 0;
}
.grid_container ul.column li a .cell-img {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: 80%;
	background-repeat: no-repeat;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}
.grid_container ul.column li a:hover .cell-img {
	background-size: 90%;
}
.grid_container ul.column li a.vendor-grid-cell .cell-img, .grid_container ul.column li a.social-grid-cell .cell-img, .grid_container ul.column li a.video-grid-cell .cell-img {
	background-size: 100%;
}
.grid_container ul.column li a.vendor-grid-cell:hover .cell-img, .grid_container ul.column li a.social-grid-cell:hover .cell-img, .grid_container ul.column li a.video-grid-cell:hover .cell-img {
	background-size: 105%;
}
.grid_container ul.column li a.brand-grid-cell .cell-img {
	background-size: 40%;
}
.grid_container ul.column li a.brand-grid-cell:hover .cell-img {
	background-size: 50%;
}
.grid_container ul.column li a span {
	display: none;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.grid_container ul.column li a p {
	display: block;
	position: absolute;
	top: 50%;
	left: 15%;
	width: 70%;
	max-height: 70%;
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	overflow: hidden;
	-webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
	-o-transition: opacity 2s;
	transition: opacity 2s;
	opacity: 0;
    filter: alpha(opacity=0);
}
.grid_footer a.button {
	color: #000;
	border: 1px solid #c7c7c7;
	background: #fff;
}
.grid_footer a.button:hover {
	background: #f0f0f0;
	color: #888;
}

/* BORDER HOVER */
.grid_container ul.column li.border-hover a span {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	background: #000;
	opacity: 0;
    filter: alpha(opacity=0);
}
.grid_container ul.column li.border-hover a .bt, .grid_container ul.column li.border-hover a .br, .grid_container ul.column li.border-hover a .bb, .grid_container ul.column li.border-hover a .bl {
	display: block;
	position: absolute;
	background: #fff;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.grid_container ul.column li.border-hover a .bt {
	top: 10%;
	right: 90%;
	width: 0%;
	height: 1px;
}
.grid_container ul.column li.border-hover a .br {
	bottom: 90%;
	right: 10%;
	width: 1px;
	height: 0%;
}
.grid_container ul.column li.border-hover a .bb {
	bottom: 10%;
	left: 90%;
	width: 0%;
	height: 1px;
}
.grid_container ul.column li.border-hover a .bl {
	top: 90%;
	left: 10%;
	width: 1px;
	height: 0%;
}

.grid_container ul.column li.border-hover.wide-cell a .bt {
	top: 20%;
}
.grid_container ul.column li.border-hover.wide-cell a .br {
	bottom: 80%;
}
.grid_container ul.column li.border-hover.wide-cell a .bb {
	bottom: 20%;
}
.grid_container ul.column li.border-hover.wide-cell a .bl {
	top: 80%;
}
.grid_container ul.column li.border-hover a:hover span {
	opacity: 1.0;
    filter: alpha(opacity=100);
	color: #fff;
	color: #fff;
	/* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.9);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#90000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#90000000, endColorstr=#99000000)";
}
.grid_container ul.column li.border-hover a:hover span p {
	opacity: 1;
    filter: alpha(opacity=100);
}
.grid_container ul.column li.border-hover a:hover .bt {
	right: 10%;
	width: 80%;
}
.grid_container ul.column li.border-hover a:hover .br {
	bottom: 10%;
	height: 80%;
}
.grid_container ul.column li.border-hover a:hover .bb {
	left: 10%;
	width: 80%;
}
.grid_container ul.column li.border-hover a:hover .bl {
	top: 10%;
	height: 80%;
}
.grid_container ul.column li.border-hover.wide-cell a:hover .br {
	bottom: 20%;
	height: 60%;
}
.grid_container ul.column li.border-hover.wide-cell a:hover .bl {
	top: 20%;
	height: 60%;
}
/* END BORDER HOVER */
/* END HOMEPAGE GRID STYLES */

#footer_wrapper {
	margin-top: 0px;
}

/* VIDEO OVERLAY STYLES */
#overlay_video {
    display: none;
}
#video_overlay_shadow {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
}
#video_overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -280px 0 0 -450px;
    font-family: Futura, arial, sans-serif;
    font-size: 14px;
    color: #666;
    z-index: 1001;
}
#video_overlay .overlay_title {
    display: block;
    padding: 16px 0;
    text-align: center;
    font-size: 14px;
    background: #e0e0e0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#video_overlay .overlay_close {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 36px;
    line-height: 34px;
    background: #666;
    border: 1px solid #4d4d4d;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
}
#video_overlay .overlay_close:before {
    content: "CLOSE";
    position: absolute;
    right: 40px;
    top: 0px;
    padding-right: 10px;
    color: #666;
    font-size: 14px;
    line-height: 40px;
}
#video_overlay .overlay_content {
    display: block;
    background: #000;
    overflow: hidden;
}
#video_overlay .overlay_content iframe {
    width: 900px;
    height: 506px;
}
/* END VIDEO OVERLAY STYLES */

.full-width { width: 100%; }
.half-width { width: 50%; }
.quarter-width { width: 25%; }
.clear {
	clear: both;
}
.spacer {
	clear: both;
	height: 50px;
}

@media screen and (max-width: 1025px) {
/*@media screen and (max-width: 1023px) {*/
	.pedestal .spotlight .slide_content li .picture-frame {
		left: 15%;
		width: 70%;
	}
	.pedestal .spotlight .slide_content li .picture-frame ul.products li img.large {
		max-width: 49%;
		margin: 0;
	}
	.pedestal .spotlight .slide_content li .champs-logo, .pedestal .spotlight .slide_content li .vendor-logo {
		display: none;
	}
	.grid_container ul.column {
		width: 50%;
	}
}
@media screen and (max-width: 960px) {
    .pedestal .spotlight .slide_content li .content .left-area, .pedestal .spotlight .slide_content li .content .right-area {
        display: none;
    }
    .pedestal .spotlight .slide_content li .content, .pedestal .spotlight .slide_content li .pedestal-icons {
        left: 0px;
        margin-left: 0px;
        width: 100%;
    }
    .pedestal .spotlight .slide_content li .content .safe-area {
        width: 100%;
    }
    #video_overlay {
        margin: -240px 0 0 -380px;
    }
    #video_overlay .overlay_content iframe {
        width: 760px;
        height: 427px;
    }
}
@media screen and (max-width: 800px) {
    .pedestal .spotlight .slide_content li {
	    background-size: 200% auto;
	    height: 440px;
    }
    .pedestal .spotlight .slide_content li .slide-border {
        height: 360px;
    }
    .pedestal .spotlight .slide_content li .slide-title {
        top: 63px;
    }
    .pedestal .spotlight .slide_content li .content {
        top: 60px;
    }
    .pedestal .slide_buttons .sl_previous, .pedestal .slide_buttons .sl_next {
        bottom: 200px
    }
    .grid-header {
		width: 100%;
	}
    #video_overlay {
        margin: -185px 0 0 -280px;
    }
    #video_overlay .overlay_content iframe {
        width: 560px;
        height: 315px;
    }
}
@media screen and (max-width: 767px) {
    .pedestal {
        margin-top: 20px;
    }
}
@media screen and (max-width: 700px) {
    .pedestal .spotlight .slide_content li {
	    height: 540px;
        background-position: top center;
    }
    .pedestal .spotlight .slide_content li .slide-border {
        height: 260px;
    }
    .pedestal .spotlight .slide_content li .slide-title, .pedestal .spotlight .slide_content li .shop-now {
        display: none;
    }
    .pedestal .spotlight .slide_content li .content {
        top: 40px;
    }
    .pedestal .spotlight .slide_content li .copy-area {
        display: block;
    }
    .pedestal .spotlight .slide_content li .copy-area .slide-title {
        display: block;
    }
    .pedestal .spotlight .slide_controls {
        bottom: 40px;
        left: 0px;
        right: 0px;
    }
    .pedestal .slide_buttons .sl_previous, .pedestal .slide_buttons .sl_next {
        bottom: 340px
    }
}

/* mobile media queries */
@media screen and (max-width: 599px) {
    #video_overlay {
        margin: -117px 0 0 -160px;
    }
    #video_overlay .overlay_close:before {
        display: none;
    }
    #video_overlay .overlay_content iframe {
        width: 320px;
        height: 180px;
    }
}
@media screen and (max-width: 480px) {
    .mobile-pedestal .promo-image {
        height: 275px;
    }
    .mobile-pedestal .promo-image img {
        padding-top: 40px;
    }
	.grid_container ul.column {
		width: 100%;
	}
}
/* iPhone 6 plus portrait */
@media screen and (max-width: 414px) {
    .mobile-pedestal .promo-image {
        height: 236px;
    }
}
@media screen and (max-width: 400px) {
    .mobile-pedestal .promo-image img {
        padding-top: 30px;
    }
    .grid-droplabel {
		width: 25%;
	}
    .grid-droplabel span {
		padding: 0;
        text-align: center;
	}
	.grid-droptitle {
		width: 75%;
	}
    .grid-droptitle span {
		padding: 0 10px;
	}
    .grid-dropdown {
        left: 25%;
		width: 75%;
	}
}
/* iPhone 6 portrait */
@media screen and (max-width: 375px) {
    .mobile-pedestal .promo-image {
        height: 214px;
    }
}
@media screen and (max-width: 360px) {
    .mobile-pedestal .promo-image {
        height: 206px;
    }
}
@media screen and (max-width: 320px) {
    .mobile-pedestal .promo-image {
        height: 183px;
    }
    #video_overlay {
        margin: -84px 0 0 -150px;
    }
    #video_overlay .overlay_content iframe {
        width: 300px;
        height: 168px;
    }
}

/* GRID TABS Styles */

.grid-tab, .grid-tab-selected {
    	position: relative;
    	float: left;
    	height: 78px;
    	overflow: hidden;
    	width: 183px;
    	text-align: center;
		border-left: 1px solid #FFF;
	}

	.grid-tab:last-child {
		border-right: 1px solid #FFF;
	}

	.grid-tab:last-child span {
		border-right: 1px solid #B0B0B0;
	}

	.grid-tab span {
    	display: block;
		border-left: 1px solid #B0B0B0;
		color: #000;
		text-transform: uppercase;
		font-weight: bold;
		line-height: 78px;
		text-align: left;
		cursor: pointer;
		transition: all 0.4s ease 0s;
		height: 100%;
		text-align: center;
	}

	.grid-tab span:hover {
		color: #b88f63;
		background-color: #FFF;
	}

	#grid-tabs-ver {
		width: 100%;
	}

	.tab-selected span {
		background-color: #FFF!important;
		color: #b88f63!important;
		display: block;
		border-left: 1px solid #B0B0B0;
		text-transform: uppercase;
		font-weight: bold;
		line-height: 78px;
		text-align: left;
		cursor: pointer;
		transition: all 0.4s ease 0s;
		height: 100%;
		text-align: center;
	}

@media only screen and (min-width: 950px) {
	#grid-tabs-ver {
		display: block;
	}

	#grid-dropdown-ver {
		display: none;
	}
}

@media only screen and (min-width: 320px) and (max-width: 949px) {
	#grid-tabs-ver {
		display: none;
	}

	#grid-dropdown-ver {
		display: block;
	}
}	