#mta-wrapper {
    text-transform:capitalize;
    font:normal 14px futura, arial, sans-serif;
    background:#fff;
    height:515px;
    position:relative;
    z-index:1001 !important;
    border-top:8px;
    box-shadow: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
#mta-wrapper.left-direct {
    margin-right: auto;
    margin-left: auto;
}
#mta-wrapper.right-direct {
    margin-right: auto;
    margin-left: auto;
}
#mta-typeahead, #mta-flyout {
    height:100%;
    text-align: left;
}

#mta-typeahead {
    background:#e0e0e0;
    width:327px;
}
#mta-typeahead ul {
    margin-bottom:20px;
    overflow:hidden;
}
#mta-typeahead ul li {
    color:#000000;
    padding:8px 20px;
    font-size:16px;
}
#mta-typeahead ul li strong {
    /*color:#8ec162;*/
    text-transform: uppercase;
    color:#000000;
}
#mta-typeahead ul li.mta-selected {
    background:#fff;
    color:#000000;
}
#mta-flyout.ltr {
    position: relative;
    /*width:605px;*/
    width:575px;
}
#mta-flyout.rtl {
    width:400px;
    float:left;
}
#mta-flyout a {
    text-decoration:none;
}
#mta-flyout .short-desc {
    text-transform:capitalize;
    font-size:12px;
}
#mta-flyout .free-shipping {
    color:#b2906a;
    font-size:14px;
    font-weight:bold;
    text-transform:uppercase;
    padding-top: 3px;
}
#mta-flyout .free-shipping img{
    width: 40%;
}
#flyout-prod-cartridge {
    margin:20px;
    width:60%;
    overflow:hidden;
}
#flyout-prod-cartridge a {
    color:#000;
}

/** DEFAULT VERTICAL STYLES **/
.prod-vertical {
    margin:10px 0;
}
.prod-vertical, .prod-vertical a {
    display:block;
    overflow:hidden;
    padding-bottom: 20px;
}

.prod-vertical .prod-info, .prod-image {
    float:left;
}
.prod-vertical .prod-image {
    width:83px;
    height:83px;
    /*border:#666666 solid 1px;*/
}
.prod-vertical .prod-image img {
    border:none;
}
.prod-vertical .prod-info-wrapper {
    /*width:236px;*/
    width:236px;
    height:auto;
    padding:0 5px;
    /*float:left;*/
    float:right;
}
.prod-vertical .prod-info {
    width:100%;
    padding:0 5px;
}
.prod-vertical .prod-info del {
    width:auto;
    display:inline-block;
}
.prod-vertical span.red {
    width:auto;
    display:inline-block;
}/**/
/** END VERTICAL STYLES **/

/** DEFAULT HORIZONTAL STYLES **/
.prod-horizontal {
    margin:0 0 20px 0;
    float:left;
    width:165px;
    min-height:200px;
    text-align:center;
}
.prod-horizontal, .prod-horizontal a {
    display:block;
    overflow:hidden;
}
.prod-horizontal .prod-image {
    width:100%;
}
.prod-horizontal .prod-image img {
    border:none;
}
.prod-horizontal .prod-info-wrapper {
    width:100%;
    height:auto;
    overflow:hidden;
}
a.prod-info-wrapper {
    color:black;
}
.prod-horizontal .prod-info {
    width:100%;
    padding:0 5px;
    display:block;
}
.prod-horizontal .prod-info del {
    display:inline-block;
    margin:0 2px;
}
.prod-horizontal span.red {
    display:inline-block;
    margin:0 2px;
}
.prod-horizontal .ft_stars {
    display:inline-block;
    width:80%;
    margin:auto;
}
.prod-horizontal .ft_badge {
    display:inline-block;
    width:20%;
}
/** END HORIZONTAL STYLES **/

.record-listing-full-vertical, .record-listing-full-horizontal {
    bottom:15px;
    right:1px;
}
.shop-all-link {
    /*color:#666666;*/
    color:#000;
    text-align:center;
    position:absolute;
    padding-right:33px;
    padding-left:33px;
    padding-top:14px;
    padding-bottom:14px;
    background:#ebebeb;
    text-transform: uppercase;
    text-decoration: none;
    font-weight:bold;
    font-size:16px;
    border-left:1px solid #C7C7C7;
    border-right:1px solid #C7C7C7;
    border-top:1px solid #C7C7C7;
    border-bottom:1px solid #C7C7C7;
    margin-bottom:20px;

}

.shop-all-link:hover {
    color:#000;
}
.mta-result-title {
    text-transform:uppercase;
    display:block;
    color:#000000;
    font-weight: bold;
    height:auto;
    padding:0 0 5px 0;
    margin-bottom:20px;
    font-size:16px;
}
.emphasis {
    font-weight:normal;
    color:#b2906a;
    text-transform:capitalize;
    font-size:16px;
}

/** DEFAULT CATEOGRY CARTRIDGES **/
.prod_slot {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 158px;
    padding: 0;
    margin: 0 10px 10px 0;
}
.prod_slot.end_slot {
    margin-right:0;
}
.prod_slot a {
    display: block;
    border: 1px solid #999;
    text-decoration: none;
}
.prod_slot a:hover {
    border-color: #000;
}
.prod_slot a:hover .prod_slot_title {
    /*background-color: #8ec162;*/
    background-color: #4f8fcc;
    background-image: url('/ns/common/field-tested/images/arrow_right_black.png');
    color: #000;
}
.prod_slot a img {
    display: block;
    padding: 0;
    margin: 0 auto;
}
.prod_slot a .prod_slot_title {
    padding: 5px 0;
    background-color: #000;
    background-image: url('/ns/common/field-tested/images/arrow_right_yellow.png');
    background-position: 95% center;
    background-repeat: no-repeat;
    color: #ffcc33;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

/* FT RATING STYLES */
#mta-wrapper .ft_badge {
    display: inline-block;
    width: 26px;
    height: 32px;
    margin-right: 4px;
    background: url(/ns/common/field-tested/images/shield.png) center no-repeat;
}
#mta-wrapper .rating_stars .blank_rating{
    background: url("/ns/common/champssports/images/review-star-empty.png") no-repeat scroll center center / 20px 20px rgba(0, 0, 0, 0);
    height:22px;
    width:22px;
}
#mta-wrapper .rating_stars .blank_rating .selected{
    background: url("/ns/common/champssports/images/review-star-full.png") no-repeat scroll left center / 20px 20px rgba(0, 0, 0, 0);
    height:22px;
    width:22px;
}

.prod-info {
    text-transform: uppercase;
    font-weight: bold;
}
.prod-info.free-shipping {
    text-align: left;
}
#mta-outer-wrapper {
    width: 100%;
    position: absolute;
    top: 190px;
}