/* PRODUCT ITEMS */

.pdp_wrapper {
	width: 100%;
	text-align: center;
}
.pdp_wrapper, .pdp_wrapper .breadCrumb a, .BVRRRootElement, .BVRRRootElement input, .BVRRRootElement select, .BVRRRootElement textarea, .BVRRPhotoPopup, .BVRRVideoPopup {
    font-family: Futura, arial, sans-serif !important;
	font-size: 14px !important;
}
.product_content {
	display: inline-block;
	width: 100%;
	max-width: 1024px;
	margin: 30px 0 0 0;
}

.scroll-down-circle {
    position: absolute;
    top: -23px;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border-radius: 23px;
    cursor: pointer;
    background: url(/ns/common/champssports/images/title-arrows-grey-40x26.png) center no-repeat;
    background-size: 50% auto;
    background-color: #e0e0e0;
}
.scroll-down-circle.black {
    background: url(/ns/common/champssports/images/title-arrows-40x26.png) center no-repeat;
    background-size: 50% auto;
    background-color: #000;
}
div.shoe_images {
	text-align: center;
}
#pdp-breadcrumb-backsearch {
	display: inline-block;
}
.breadCrumb a {
	display: inline-block;
	line-height: 18px !important;
	background-image: url('/ns/common/champssports/images/back-arrow-gray-36x36.png');
	background-repeat: no-repeat;
	background-size: 18px;
	background-position: left center;
	padding: 0 0 0 28px;
	text-decoration: none;
}
.breadCrumb a, .rv_title {
	color: #707070 !important;
	font-size: 14px !important;
	font-weight: normal !important;
	vertical-align: middle !important;
}
.breadCrumb {
	float: left;
	display: inline-block;
	width: auto;
	padding: 0 !important;
	height: 44px;
	line-height: 44px !important;
}
.top_heading {
	float: left;
	display: inline-block;
	width: 100%;
	padding: 0 30px;
	border-bottom: 1px solid #C7C7C7;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
	vertical-align: bottom;
}
.full_toggle {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	color: transparent;
	line-height: 0;
	font-size: 0;
	z-index: 3;
	height: 50px;
	width: 50px;
	background-image: url('/ns/images/fullscreen-retina.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size : contain;
}
.full_screen_header {
	background: #E0E0E0;
	margin: 0;
	position: relative;
	z-index: 999;
}
.full_screen_header .inner_header {
	position: relative;
	display: block;
	width: 966px;
	text-align: left;
	font-size: 17px;
	color: #666;
	background: #E0E0E0;
	margin: 0 auto
}
.full_screen_header .inner_header .logo {
	position: relative;
	display: inline-block;
	width: 248px;
	height: 40px;
	margin: 10px;
	background-image: url('/ns/common/champssports/images/logo.png');
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	background-size : contain;
	z-index: 9;
}
#full_screen .close_btn {
	top: 10px;
	right: 10px;
	left: auto;
	width: 50px;
	height: 40px;
}
#full_screen .close_btn:after {
	display: inline-block;
	width: 50px;
	height: 40px;
	line-height: 40px;
	background: #666666;
	margin: 0;
	border: 1px solid #4D4D4D;
	color: #FFF;
	font-size: 22px;
	border-radius: 3px;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	content: 'X';
}
#full_screen .close_btn:before {
	content: 'CLOSE';
}


.controls {
	position: absolute;
	right: 200px;
	top: 20px;
	z-index: 999;
	width: 108px;
}

#product_images {
	height: auto;
	padding: 0 50px;
}

#product_images .alt_view img, #product_images .alt_view[data-zoom="in"] img, .product_images .alt_view img, .product_images .alt_view[data-zoomed="false"] img {
    cursor: url('/ns/common/champssports/images/zoomin-25x25_03.png'), auto;
    cursor: -webkit-image-set( url('/ns/common/champssports/images/zoomin-25x25_03.png') 1x, url('/ns/common/champssports/images/zoomin-50x50_03.png') 2x ), auto;
}
#product_images .alt_view[data-zoom="out"] img, .product_images .alt_view[data-zoomed="true"] img {
    cursor: url('/ns/common/champssports/images/zoomout-25x25_03.png'), auto;
    cursor: -webkit-image-set( url('/ns/common/champssports/images/zoomout-25x25_03.png') 1x, url('/ns/common/champssports/images/zoomout-50x50_03.png') 2x ), auto;
}
#zoomIn, #zoomOut {
	float: left;
	display: inline-block;
	width: 23px;
	height: 23px;
	background: url('/ns/images/magnifying_minus.png') no-repeat center center transparent;
	background-size: contain;
}
.zoom_label:after {
	display: inline-block;
	content: 'zoom';
	width: 60px;
	line-height: 23px;
	text-align: center;
}
#zoomIn {
	float: right;
	background: url('/ns/images/magnifying_plus.png') no-repeat center center transparent;
}

#product_videos {
    display: none;
}
.product_quantity {
	font-size: 0;
}
.product_quantity:before {
	content: 'QTY:';
	color: #000;
	font-size: 14px;
	font-weight: bold;
	margin: 0 10px 0 0;
}
.product_quantity a {
	display: inline-block;
	border: 1px solid #c7c7c7;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background: #E1E1E1;
	color: #000;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
	border-radius: 0 2px 2px 0;
}
.product_quantity a.subtract_quantity {
	border-radius: 2px 0 0 2px;
}
.product_quantity input, .product_quantity input#quantity {
	display: inline-block;
	-webkit-appearance: none;
	border: 1px solid #c7c7c7;
	width: 40px;
	height: 40px;
	border-right: none;
	border-left: none;
	line-height: 40px;
	font-size: 14px;
	color: #000;
    font-family: Futura, arial, sans-serif;
	font-weight: bold;
	padding: 0;
	margin: 0;
	vertical-align: top;
	text-align: center;
	border-radius: 0;
    box-sizing: border-box;
}
.product_info {
	width: 100%;
	padding: 0 20px 0 30px;
	font-size: 14px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
	color: #666;
	background: #FFF;
	text-align: left;
}
.product_info .info {
	margin: 0 0 20px 0;
}
.product_image {
    display: block;
    text-align: center;
}
.product_title, .product_title h1 {
	display: inline-block;
	width: 100%;
	color: #000;
	font-size: 24px;
	line-height: 24px;
	margin: 0 0 20px 0;
	text-transform: uppercase;
}
.product_price {
	display: inline-block;
	width: 100%;
	font-weight: bold;
	font-size: 18px !important;
	margin: 0;
	color: #000;
}
.cartPrice {
	text-transform: uppercase;
	display: inline-block;
	margin-left: 12px;
	font-size: 16px;
	color: #B2906A;
}
.pdp_wrapper .product_price {
	margin: 0 0 20px 0;
}
.product_price .label:before {
	display: none;
	content: '';
}
.BVRRLabel {
	margin: 0 0 10px 0;
}
#BVRRRatingSummaryLinkReadID {
    border-right: 1px solid #666;
}
.BVRRRootElement a {
	color: #b2906a !important;
    text-decoration: underline;
}
.BVRRRatingSummaryLinks .BVRRCount {
	color: #666;
}
.BVRRRootElement a:hover, .BVRRRootElement .BVRRRatingSummaryLinks a:hover .BVRRCount {
	color: #B2906A !important;
}
.BVDLinkSpan {
    display: block;
    margin-bottom: 20px;
}
.BVRRQuickTakeSection .BVRRTag a {
	margin: 0 0 20px 0;
}
.BVRRQuickTakeProTags {
	width: 100% !important;
}
.BVRRQuickTakeSummary {
	width: 100% !important;
}
.BVRROverallRatingContainer {
	float: left;
	padding-bottom: 20px !important;
}
.BVRRQuickTakeTags {
	margin-top: 20px;
}
.BVRRQuickTakeHeader, .BVRRRatingEntry {
	padding: 0 !important;
}
.BVRRRatingSummary .BVRRRatingSummaryLinks {
	margin: 0 0 0 10px !important;
    display: inline-block;
    font-weight: normal;
    vertical-align: middle;
}
[data-tabcontent="reviews"] .BVRRRatingSummary .BVRRRatingSummaryLinks {
	display: block;
    margin: 0 0 20px 0 !important;
}
.reviews .BVRRRatingSummary .BVRRRatingSummaryLinks {
	margin: 0 0 20px 0 !important;
}
.BVRRQuickTakeSection .BVRRRatingSummaryLinks .BVRRRatingSummaryLinkWrite a {
	color: #000 !important;
	width: auto !important;
	padding: 0 20px !important;
}
.BVRRBuyAgainRecommend, .BVRRBuyAgainTotal {
	font-weight: bold !important;
	font-size: 14px !important;
}
.BVRRBuyAgain {
	font-size: 14px !important;
}
.BVRRBuyAgainPercentage {
	color: #666 !important;
}
.BVRRDisplayContentHeaderContent {
	text-align: right !important;
	padding: 0 !important;
	overflow: hidden !important;
}
.BVRRTitle {
	float : left !important;
	font-weight: bold !important;
	font-size: 16px !important;
	text-transform: uppercase !important;
	margin: 0 0 20px 0 !important;
}
.BVDI_BAItem a:hover, .BVRRRootElement a:hover {
	color: #997c5c !important;
}
.BVRRDisplayContentLinkWrite {
	float: right !important;
}
.BVRRDisplayContentBody {
	background: none !important;
	padding: 0 !important;
}
.BVRRDisplayContentLinkWrite a, .BVRRDisplayContentLinkWrite a:hover {
	font-size: 14px !important;
	color: #B2906A !important;
	text-decoration: underline !important;
}
.BVRRDisplayContentHeader {
	background: none !important;
}
.BVRRTagFilterSentence {
	color: #666 !important;
	clear: none !important;
	float: right !important;
	width: 100% !important;
	background: #FFF !important;
	padding: 20px 0 !important;
	font-style: italic !important;
	color: #B2906a !important;
	border-bottom: 1px solid #C7C7C7 !important;
	margin: 0 0 20px !important;
}
.BVRRVideoPopup .BVDIInside {
	padding: 10px !important;
}
.BVDILinkClose:before {
	content : 'CLOSE';
}
.BVDILinkClose {
	height: auto !important;
	width: auto !important;
	padding: 0 !important;
	background: none !important;
	font-size: 16px !important;
	text-decoration: none !important;
}
.BVDILinkClose span:before {
	content : 'X' !important;
	font-size: 22px !important;
}
.BVDILinkClose span {
	display: inline-block !important;
	background: #666 !important;
	border: 1px solid #4D4D4D !important;
	border-radius : 3px !important;
	width: 50px !important;
	text-align: center !important;
	height: 40px !important;
	line-height: 40px !important;
	margin: 0 0 0 10px !important;
	font-weight: bold !important;
	font-size: 0 !important;
	color: #FFF !important;
}
.BVRRRatingsHistogramButton {
	padding: 0 0 0 5px !important;
}
.BVQASummaryBox, .BVQAWidget, .BVQATitle, .BVQAQuestionSummary, .BVQAWidget textarea, .BVQADocumentation, .BVQAUnsubscribe, .BVQABadgeDefinitions, .BVQAPhotoPopup, .BVQAVideoPopup, .BVVIVideoPopup {
	border: 1px solid #C7C7C7 !important;
}
.BVVIVideoPopupClose {
	height: 50px !important;
}
.BVRRVideoPopup .BVRRVideoPlayer {
	width: 300px !important;
}
.BVRRQuickTakeTagsHeader, .BVRRQuickTakeLabel, .BVRRReviewDisplayStyle5BodyUser {
	text-transform: uppercase !important;
	font-size: 14px !important;
}
.BVDI_FVReport {
	background: #B2906A !important;
	border: 1px solid #997C5C !important;
}
.BVDI_FVInsideReport {
	padding: 20px !important;
	margin-left: 0 !important;
}
#BVRRSummaryContainer {
	margin: 0 0 20px 0 !important;
}
.BVSU_FVForm .BVSUFieldTextArea {
	margin-bottom: 0 !important;
}
.BVRRHistStarLabelText {
	font-weight: normal !important;
}
.BVRRHistAbsLabel {
	color: #B2906A !important;
}
.BVDI_PSHistogramFullBar, .BVRRHistogramFullBar {
	background: #B2906A !important;
}
#BVSUSubmitReviewInappropriateButtonID, #BVSUSubmitReviewInappropriateButtonID:hover {
	background: #FFF !important;
	font-size:14px !important;
}
#BVSUCancelReviewInappropriateButtonID {
	background:#e0e0e0 !important;
	font-size:14px !important;
}
#BVSUCancelReviewInappropriateButtonID:hover {
    background:#fafafa !important;
    border:#e0e0e0 solid 1px !important;
	color:#666 !important;
	opacity: .7 !important;
	font-size:14px !important;
}
.BVRRVideoThumbnail img, .BVRRVideoSectionContent .BVRRVideoThumbnail img:hover {
	border: none !important;
}
.BVDI_FVReportPopin .BVSU_FVForm .BVSUFieldTextArea {
	border: none !important;
}
.BVSUFieldLabel {
	font-size: 14px !important;
	color: #FFF !important;
	text-transform: uppercase !important;
}
.BVRRReviewDisplayStyle5BodyUser {
	padding: 8px 0 !important;
	background: none !important;
}
.BVRRReviewDisplayStyle5BodyContent {
	font-size: 14px !important;
	color: #666 !important;
}
.BVRRRatingsHistogramButton img {
	opacity: 0 !important;
	height: 20px !important;
	width: 20px !important;
	margin: 0 !important;
}
.BVRRQuickTakeSection {
	padding: 0 !important;
	width: 100% !important;
}
.BVRRQuickTakeContent {
	width: 100% !important;
}
.recommendations {
	position: relative;
}
.BVRRReviewDisplayStyle5 {
	padding: 20px !important;
}
.BVRRReviewTitle {
	font-size: 18px !important;
	text-transform: uppercase !important;
}
.BVRRPageBasedPager {
	background: none !important;
}
.BVRRSelectedPageNumber {
	background: #B2906A !important;
	color: #FFF !important;
	border : none !important;
}
.BVRRReviewSocialLinksContainer, .BVDI_FVVotingHelpfulness, .BVDI_FVReportLinkInappropriate {
	display: none;
}
.ratings_reviews .BVDI_BAItem a:hover {
	text-decoration: none !important;
}
.recommendations, .BVRRDisplayContentReview {
    display: inline-block;
	width: 100%;
    margin: 20px 0;
	border-top: 1px solid #C7C7C7;
	padding: 0;
}
.BVRRRootElement select {
	margin: 0;
}
.BVRRSortAndSearch {
	display: inline-block;
	width: 100%;
	text-align: left;
}
.BVRRSortSelectWidget {
	width: 210px;
	display: inline-block;
}
.BVRRQuickTakeSection .BVRRRatingSummaryLinks .BVRRRatingSummaryLinkWrite a {
	background: #E0E0E0 !important;
	border: 1px solid #C7C7C7 !important;
}
.recommendations {
	border-top: none;
}
.product_price .sale, .price .sale {
    color: #b2906a;
}
.product_price .sale, .product_price .old {
	display: inline-block;
	padding: 0 10px 0 0;
}
.product_price .old {
	text-decoration: line-through;
}
.product_sku, .product_styleinfo {
	display: inline;
	line-height: 12px;
	width: auto;
	font-size: 14px;
	margin: 0 10px 0 0;
	font-style: italic;
}
.product_styleinfo:before {
	content: ' Selected Style: ';
}
.product_color {
	display: none;
}
.product_messaging .message {
	display: inline-block;
	width: auto;
	padding: 20px 20px 0 0;
	color: #B2906A;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 20px;
	vertical-align: bottom;
}
.cartPrice .message a.info_icon, .product_messaging .message a.info_icon, .sku_messaging .message a.info_icon, .BVRRRatingsHistogramButton, #pdp-estimated-delivery a.info-icon, a.info_icon.bubble-boss, a.info_icon.bubble-boris, a#tip_overlay_freeshipping.info_icon, .storeinfo a.info_icon, .free-shipping-icon.info_icon, .info_icon.SHIP_TO_HOME {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	padding: 0 !important;
	margin-left: 10px;
	background: url(/ns/common/champssports/images/info-grey-48x48.png) center no-repeat;
	background-size: 100%;
    cursor: pointer;
}
#pdp_freeShipping .red {
	color: #B2906A;
	font-weight: normal;
}
#pdp_freeShipping, #storepickup_msg #deliveryMethod_link {
	color: #B2906A;
	text-decoration: underline;
}
#pdp-estimated-delivery {
    margin-top: 10px;
    color: #000;
    font-style: italic;
}
[data-text="productzoom"]:before {
	display: none;
	content: '';
	font-size: 14px;
	background: none;
}
[data-touchdevice="true"] [data-text="productzoom"]:before, [data-touch="true"] [data-text="productzoom"]:before {
	display: inline-block;
	content: 'Tap Image to Zoom In';
	font-style: italic;
	color: #666;
	padding: 10px 0 20px 0;
}
[data-touchdevice="true"] [data-zoomed="true"] [data-text="productzoom"]:before, [data-touchdevice="true"] [data-text="productzoom"][data-zoom="out"]:before, [data-touch="true"] [data-zoomed="true"] [data-text="productzoom"]:before, [data-touch="true"] [data-text="productzoom"][data-zoom="out"]:before {
	content: 'Tap Image to Zoom Out';
}
.add_to_wishlist a:after {
	content: 'Add To Wishlist';
}
.full_details a:after {
	content: 'Expanded View';
}
[data-hassizes="false"] .select_size {
	display : none !important;
}

#qv_full_cart, #qv_checkout {
	margin: 0;
}
.add_to_cart a, .add_to_wishlist a, .full_details a, #qv_full_cart a, #qv_checkout a, .select_size a {
	display: inline-block;
	width: 100%;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
}
.add_to_cart button.disabled, .add_to_cart a.disabled {
	background: #e0e0e0;
	color: #000;
	border: 1px solid #c7c7c7;
	opacity: .4;
}
.other_styles {
	padding: 0 0 20px 0;
	margin: 0;
}
#product_styles {
	margin: 0;
}
.other_styles .slide_buttons, #product_images .slide_buttons {
	width: 100%;
}
#product_styles[data-numslides="1"], .other_styles[data-numslides="1"] {
	width: auto;
}
#product_styles[data-numslides="1"] .slide_content ul li, .other_styles[data-numslides="1"] .slide_content ul li {
	text-align: left;
}
#flyin_container .slide_content ul li.selected {
	background: none !important
}
#flyin_container .slide_content ul li a.selected {
	float: none !important;

}
#product_images .slide_content {
	margin: auto;
}
#product_images .slide_buttons {
	top: 50%;
}
#product_images, div.shoe_images, img.reg_image, #product_images img {
	width: 100%;
	height: auto !important;
}
.qv_content .alt_view img, .qv_content .product_images img {
	width: 100%;
	max-width: 300px;
}
#product_images #hover_item ul li {
	height: auto;
}
#product_styles .group {
	display: inline-block;
	width: auto;
	text-align: left;
}

#product_styles .group {

}
.spotlight {
	position:relative;
}
.other_styles, #product_styles {
	display: block;
	width: 290px;
	margin: 0 auto;
}
.qv_content .other_styles, .qv_content #product_styles {
	margin: auto;
}
.other_styles a[data-sku] {
	display: inline-block;
	width: 50px;
	padding: 0;
	margin: 0 5px 0 0;
	border: 1px solid #FFF;
}
.other_styles a.selected[data-sku] {
	border: 1px solid #B2906A;
	padding: 0;
}
#cart div[mybuyszone] .slide_buttons {
	top: 50%;
	padding: 0 20px;
}
#product_form .recommendations .slide_buttons, .pdp_wrapper .slide_buttons, #pdp_view .slide_buttons, #cart .slide_buttons, #social-flyin-html .slide_buttons {
	width: 100%;
	height: 1px;
	top: 0;
	bottom: auto;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
}
#pdp_view .product_images .slide_buttons {
	top : 50%;
	padding: 0 30px;
}
#product_form .recommendations .slide_buttons .sl_previous, .pdp_wrapper .slide_buttons .sl_previous, #pdp_view .slide_buttons .sl_previous, #cart .slide_buttons .sl_previous, #social-flyin-html .slide_buttons .sl_previous {
	position: relative;
	top: 15px;
}
#product_form .recommendations .slide_buttons .sl_next, .pdp_wrapper .slide_buttons .sl_next, #pdp_view .slide_buttons .sl_next, #cart .slide_buttons .sl_next, #social-flyin-html .slide_buttons .sl_next {
	float: right;
	position: relative;
	top: 15px;
}
.pdp_wrapper #product_images .slide_buttons .sl_previous, #pdp_view .product_images .slide_buttons .sl_previous {
	top: -10px;
}
.pdp_wrapper #product_images .slide_buttons .sl_next, #pdp_view .product_images .slide_buttons .sl_next {
	top: -10px;
}
#product_form .recommendations .slide_buttons .sl_previous, .pdp_wrapper .slide_buttons .sl_previous, #pdp_view .slide_buttons .sl_previous, #cart .slide_buttons .sl_previous, #social-flyin-html .slide_buttons .sl_previous {
	display: block;
	width: 12px;
	height: 20px;
	background: url(//www.champssports.com/ns/images/cs-master-sprite.png) -372px -20px no-repeat;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    opacity: 1;
}
#product_form .recommendations .slide_buttons .sl_next, .pdp_wrapper .slide_buttons .sl_next, #pdp_view .slide_buttons .sl_next, #cart .sl_next, #social-flyin-html .slide_buttons .sl_next {
	display: block;
	width: 12px;
	height: 20px;
	background: url(//www.champssports.com/ns/images/cs-master-sprite.png) -397px -20px no-repeat;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    opacity: 1;
}
[data-touchdevice="false"] #product_form .recommendations .slide_buttons .sl_previous:hover, [data-touchdevice="false"] #product_form .recommendations .slide_buttons .sl_next:hover, [data-touchdevice="false"] .pdp_wrapper .slide_buttons .sl_previous:hover, [data-touchdevice="false"] .pdp_wrapper .slide_buttons .sl_next:hover, [data-touchdevice="false"] #pdp_view .slide_buttons .sl_previous:hover, [data-touchdevice="false"] #pdp_view .slide_buttons .sl_next:hover, [data-touchdevice="false"] #cart .slide_buttons .sl_previous:hover, [data-touchdevice="false"] #cart .slide_buttons .sl_next:hover, [data-touchdevice="false"] #social-flyin-html .slide_buttons .sl_previous:hover, [data-touchdevice="false"] #social-flyin-html .slide_buttons .sl_next:hover {
    opacity: 0.5;
}
.add_to_wishlist a, .full_details a {
	text-transform: none;
}
.select_size a, .select_size a:hover {
	color: #000;
	text-align: left;
	border : 1px solid #c7c7c7;
	padding: 0 40px 0 20px;
	min-width: 0;
	background-color: #e0e0e0;
	background-image: url('/ns/common/champssports/images/title-arrows-grey-40x26.png');
    background-position: 96% center;
	background-position: right 10px center;
	background-repeat: no-repeat;
	background-size: 10px;
	background: #e0e0e0\9;
	padding-right: 40px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
}
.select_size a.selected {
	background-color: #FFF;
	background-image: url('/ns/common/champssports/images/title-arrows-grey-40x26.png');
    background-position: 96% center;
	background-position: right 10px center;
	background-repeat: no-repeat;
	background-size: 10px;
	background: #FFF\9;
}

[data-info="fit_info"] {
	position: absolute;
	left: 20px;
	top: 14px;
	display: inline-block;
	width: 55%;
	line-height: 16px;
}
.sizing_link {
	float: right;
	display: inline-block;
	width: auto;
}
a[data-info="sizing_link"] {
	color : #666;
}
[data-info="sizing_link"] span:before {
	content: 'Size Chart';
}
[data-sfsmessage], [data-oaismessage] {
	float: left;
	display: none;
	width: 100%;
	font-style: italic;
	color: #000;
	margin: 0 0 20px 0;
}
.product_sizes_content [data-sfsmessage],
.product_sizes_content [data-oaismessage],
ul.cart li [data-sfsmessage],
ul.cart li [data-oaismessage] {
	margin: 20px 0 0 0;
}
[data-sfsmessage="true"], [data-oaismessage="true"] {
	display: block;
}
[data-info="cartmessages"] {
	float: left;
	width: 100%;
	font-style: italic;
	color: #000;
	margin: 0 0 20px 0;
}
[data-availability] {
	float: left;
	display: inline-block;
	width: auto;
	color: #666;
	margin: 0;
}
[data-availability] span {
	color: #B2906A;
	font-weight: bold;
}
[data-availability]:before {
	content: 'Availability: ';
}
[data-availability="none"] span:before {
	content: '(SELECT A SIZE)';
}
[data-availability="instock"] span:before {
	content: 'IN STOCK';
}
[data-availability="oais"] span:before {
	content: 'AVAILABLE FOR PURCHASE IN SELECT STORES';
}
[data-availability="outofstock"] span:before {
	content: 'OUT OF STOCK';
}
[data-availability="backordered"] span:before {
	content: 'BACK-ORDERED';
}
.fitInfoContent p:before {
	content: 'Note on sizing: ';
}

[data-fitinfo="truesize.gif"] .fitInfoContent p:before {
	content: 'Note on sizing: Item runs true to size. ';
}
.fitInfoContent p {
	font-size: 14px;
	color: #666666;
}
.add_section {
	margin: 20px 0;
	font-size: 0;
    border-bottom: 1px solid #c7c7c7;
}
#inline_errors {
	color: #F00;
	font-weight: bold;
}
/*.pinnedAdd {
	position: fixed;
	bottom: -200px;
	right: 0;
	z-index: 9999;
	display: inline-block;
	width: 500px;
	background: #FFF;
	padding: 0 30px;
	border-top: 1px solid #000;
}*/
.product_contents .pinnedAdd .delivery, .product_content [data-info="product_delivery"] {
    margin-top: 20px;
    border-top: 1px solid #c7c7c7;
}
.customize {
	margin: 20px 0;
	font-size: 0;
}
.add_section div {
	font-size: 14px;
	vertical-align: top
}
.add_section .label {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	margin: 0 10px 0 0;
	color: #000;
}
.add_to_cart_wrapper {
	display: inline-block;
	width: auto;
	margin: 0 10px 20px 0;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
}
.add_to_cart, .product_quantity, .full_details, #qv_full_cart, #qv_checkout, .select_size, .add_to_wishlist {
	display: inline-block;
	width: 100px;
	margin: 0 10px 20px 0;
	text-align: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
}
.select_size {
    width: 120px;
	margin: 0 10px 20px 0;
}
.qv_content .select_size {
	width: 120px;
	margin: 0 20px 20px 0;
}
.product_quantity {
	width: 165px;
}
.add_to_cart {
	width: auto;
}
.product_sizes {
	float: left;
	display: inline-block;
	width: 100%;
	text-align: left;
	margin: 50px 0 20px 0;
}
.add_to_cart a, .select_size a {
	border-radius: 2px;
}
.select_size a:after {
	content: 'Size';
}
.select_size a.size_selected:after {
	content: '';
}
.add_to_cart {
	position: relative;
	width: 147px;
	padding: 0;
	margin: 0;
	font-weight: bold;
}
#qv_content .add_to_cart, #qv_content .add_to_cart button[data-btnname="qvpdp_addToCart"] {
	width: 140px;
}
.full_details, #addToWishlist {
    float: none !important;
	display: inline-block;
	width: auto;
	padding: 0 !important;
	margin: 0 20px 20px 0 !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
}
.add_to_wishlist {
	position: relative;
	width: auto;
	margin: 0 20px 20px 0;
}
.full_details a, .add_to_wishlist a {
	border: none;
	background: none;
	padding: 0;
	line-height: 14px;
	height: auto;
	font-weight: normal;
	text-decoration: underline !important;
	min-width: 0;
	color: #666;
}
.full_details a:hover, .add_to_wishlist a:hover {
	border: none;
	background: none;
}
div[data-info="add_errors"], div[data-info="wishlist_errors"] {
	padding: 0;
	font-size: 14px;
	z-index: 1000;
	text-align: left;
}
[data-info="add_errors"] ul, [data-info="wishlist_errors"] ul {
    display: inline-block;
    background: #444;
    opacity: .9;
    color: #FFF;
    border-radius: 5px;
    margin: 0;
    padding: 10px;
    list-style: none;
}
[data-info="add_errors"] ul li, [data-info="wishlist_errors"] ul li {
	color: #FFF;
	font-size: 14px;
	font-weight: normal;
}
[data-info="add_errors"], [data-info="wishlist_errors"] {
	display: none;
	position: absolute;
	top: 50px;
	left: 0;
	text-align: center;
	width: 100%;
}
.product_sizes select {
	-webkit-appearance: none;
	width: 100%;
	line-height: 40px;
	border: none;
	background: #E1E1E1;
	color: #707070;
	font-weight: bold;
	padding: 0 10px;
}
.pdp_timer, #pdp_timer {
	display: inline-block;
	padding: 20px 0;
	margin: 0;
	text-align: left;
	font-size: 12px;
	color: #737373;
}
.pdp_timer .time {
	color:#B2906A;
	margin: 20px 0;
	font-size: 18px;
	font-weight: bold;
}
.pdp_timer .launch_copy {
	display: inline-block;
	font-size: 12px;
	line-height: 12px;
	font-style: italic;
	color: #000;
}
#video_gallery {
    height: auto;
}
#video_player_wrapper {
	width: 100%;
	padding: 20px 30px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
}
[data-info="videos"] {
	width: 100%;
    text-align: center;
	margin: 0 0 20px 0;
}
[data-info="videos"] #show_videos{
    display: inline-block;
    width: 100px;
    height: 55px;
    background: #000;
}
#close_vid {
    float: right;
	display: inline-block;
}
#close_vid:after {
    content: 'Close Video [X]';
}
#video_gallery {
    width: 100%;
    margin: 30px 0 20px 0;
}
#video_gallery .video_link {
    width: auto;
}
#video_gallery .video_link img {
    width: 65px;
}
#video_gallery .video_link .description {
    display: none;
}
#launchPostCopy {
	display: inline-block;
	margin: 0 0 20px 0;
	color:#B2906A;
}
#miniAddToCartWrapper {
	position: static !important;
	width: 100% !important;
	z-index: 99999;
	padding-left: 0 !important;
	margin: 0 !important;
}
#miniAddToCart_productInfo {
	font-family: Futura, arial, sans-serif;
	margin: 0;
	padding: 0 !important;
	font-size: 14px;
}

#miniAddToCart_productInfo ul {
	margin: 0 0 0 20px;
}
#miniAddToCart_productInfo p {
	font-size: 14px;
	margin: 0 0 10px 0;
}
#miniAddToCart_productInfo p strong {
	font-size: 16px;
	text-transform: uppercase;
}
#miniAddToCartWin {
	position: relative !important;
	border: none !important;
	background-color: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.sku_messaging .message {
	display: inline-block;
	width: 100%;
	color: #000;
	margin: 20px 0 0 0;
	font-style: italic;
	vertical-align: bottom;

}
.product_sizes_content {
	position: relative;
	display: none;
	text-align: left;
	padding: 30px;
	background: #EDEDED;
	border: 1px solid #AFAFAF;
}

.product_sizes_content .product_sizes a {
	display: inline-block;
	margin: 0 3px 3px 0;
	padding : 0;
	min-width: 58px;
	width: 58px;
	height: 43px;
	line-height: 43px;
	background: #FFF;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	border: 1px solid #AFAFAF;
}
.product_sizes_content .product_sizes a.disabled {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
	opacity: .4;
}
.product_sizes_content .product_sizes a.selected, .product_sizes_content .product_sizes a:not(.disabled):hover {
	background: #B2906A;
	color: #FFF;
	border: 1px solid #B2906A;
}
.product_sizes_content {
	display: none;
    width: 100%;
	padding: 20px;
	margin: 0 0 20px 0;
	background: #EDEDED;
    box-sizing: border-box;
    overflow: hidden;
}
.product_overview {
	position: relative;
}
.product_overview .section {
	border-bottom: 1px solid #AFAFAF;
}
.section {
	background: #E0E0E0;
	color: #000;
	line-height: 125px;
	font-weight: bold;
	font-size: 24px;
}
.social {
	display: inline-block;
	width: 100%;
	margin: 0 0 43px 0;
	font-size: 0;
}
.social .social_media {
	display: inline-block;
    vertical-align: middle;
	width: 25%;
	height: 21px !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
	text-align: center;
	margin: 0;
	overflow: hidden;
}
/* FULFILLMENTTYPE */
.delivery {
	font-size: 14px;
	color: #737373;
}
.delivery input[type=radio] {
	position: absolute;
	left: -2000%;
}
#storepickup_msg span.red{
   display: none;
   visibility: hidden;
}
#pdp_freeShipping, #storepickup_msg, .free_shipping_message {
	display: inline-block;
	margin: 0 0 0 5px;
	color: #B2906A;
}
#storepickup_msg {
	text-decoration: underline;
}
#storepickup .processing {
	margin: 190px;
}
#dm_shiptohome, #dm_storepickup {
	display: inline-block;
	margin: 20px 20px 0 0;
	padding: 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
#dm_shiptohome span, #dm_storepickup span {
	display: inline-block;
	font-size: 14px;
}
#dm_shiptohome label, #dm_storepickup label {
	position: relative;
	display: inline-block;
	padding: 0 0 0 34px;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	margin: 0;
}
#dm_shiptohome label.disabled, #dm_storepickup label.disabled {
	color: #bbb;
	cursor: default;
}
#qv_content #storegrid ul {
	min-width: 0;
	width: 100%;
}
#storepickup #three.step #shiptohome {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
}
#storepickup #footer .close {
	display: none;
}
#dm_shiptohome label [data-image="radio_btn"], #dm_storepickup label [data-image="radio_btn"] {
	position: absolute;
	top: 0;
	left: 0;
	height: 24px;
	width: 24px;
	background: url('/ns/common/champssports/images/radio-button-off-44x44.png') no-repeat center center transparent;
	background-size: 100%;
}
#dm_shiptohome label.radio_checked [data-image="radio_btn"], #dm_storepickup label.radio_checked [data-image="radio_btn"] {
	background: url('/ns/common/champssports/images/radio-button-on-44x44.png') no-repeat center center transparent;
	background-size: 100%;
}

#dm_shiptohome label [data-text="fulfillmenttype"]:before {
	content: 'Ship to Home';
}
#dm_storepickup label [data-text="fulfillmenttype"]:before {
	content: 'Store Pickup';
}
#dm_storepickup label [data-text="fulfillmenttype"].SEND_TO_STORE:before {
	content: 'Ship to Store';
}
#dm_storepickup label [data-text="fulfillmenttype"] #deliveryMethod_link:before {
	content: 'Find a Store';
}
.delivery [data-message="free_shipping"]:before {
	content: 'Free!';
}
.delivery[data-fulfillmenttype="SHIP_FROM_STORE"] #dm_shiptohome label [data-text="fulfillmenttype"]:after {
	content: 'Arrives in 5-6 Business Days (This item is shipping from an alternate location and is not eligible for rush shipping options.)';
	display: inline-block;
	width: 100%;
}
div[data-tabcontent] {
	display: none;
	color: #666666;
}
div[data-tabcontent] .heading {
	display: none;
}
div[data-tabcontent="description"] {
	display: inline-block;
}
div[data-tabcontent="description"] .product_title {
	display: none;
}
.tab_container, .pdp_header {
	display: inline-block;
	width: 100%;
	background: #E0E0E0;
	border-top : 1px solid #FFF;
	border-bottom: 1px solid #AEAEAE;

}
.pdp_header .tab_container {
	border-left: 1px solid #AEAEAE;
}
#qv_content .pdp_header .tab_container {
	width: 100%;
	border-left: none;
}
.pdp_header .tab_container {
	display: inline-block;
	width: 500px;
	vertical-align: bottom;
}
.pdp_header .tab_container {
	border-top: none;
	border-bottom: none;
}
.tab_container a {
	display: inline-block;
	background: #EDEDED;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	font-size: 14px;
}
.tab_container a.selected {
	display: inline-block;
	background: #FFF;
	color: #b2906a;
}

.tab {
	float: left;
	display: inline-block;
	width: 25%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
	border-right: 1px solid #AEAEAE;
}

#qv_content .pdp_header .tab_container .last {
	border-right: none;
}
.first a {
	border-left: none;
}
.tab:first-child a {
	border-left: none;
}
.tab[data-tabindex="4"] a, .tab[data-tabindex="4"] {
	border-right: none;
}
.tab a {
	display: inline-block;
	width: 100%;
	line-height: 14px;
	font-size: 14px;
	text-align: center;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	padding: 32px 0 33px 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
	background: #E0E0E0;
	border-top: none;
	border-bottom: none;
	border-right: 1px solid #FFF;
	border-left: none;
	margin: 0 0 -1px 0;
	text-transform: uppercase;
}
.tab a.selected {
	background: #F0F0F0;
	color: #B2906A;
}
.tab_container .tab a.selected {
	background: #FFF;
	border-bottom: 1px solid #FFF;
}
.sizeDropdown {
	margin: 0 0 10px 0;
}

.product_overview [data-tabcontent] {
	padding: 30px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
	text-align: left;
	width: 100%;
	font-size: 14px;
}
.product_overview [data-tabcontent] ul {
	margin: 20px;
}
.product_overview [data-tabcontent] p {
	font-size: 14px;
}
div[data-collapse], div[data-collapse] .title {
	display: inline-block;
	width: 100%;
	text-transform: none;
}
.right_column, .left_column {
	width: 50%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
	border: none;
}
.left_column {
	padding: 0 0 0 30px;
}
.qv_close {
	position: absolute;
	right: 10px;
	top: 10px;
	font-family: Futura, arial, sans-serif;
	font-size: 16px;
}
.qv_close a {
	text-decoration: none;
	text-transform: uppercase;
}
.qv_close a span {
	display: inline-block;
	width: 50px;
	height: 40px;
	line-height: 40px;
	background: #666666;
	margin: 0 0 0 10px;
	border: 1px solid #4D4D4D;
	color: #FFF;
	font-size: 22px;
	border-radius: 3px;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}
.qv_close a span:before {
	content: 'X';
}
.hdr_left, .hdr_right {
	width: 50%;
	height: auto;
}
.measurement_info, .general_sizing_info {
	width: 100%;
	height: auto;
}
.pdp_sizing .size_header {
	width: 100%;
	border: none;
	height: auto;
}

.lbl_shiptohome, .lbl_storepickup {
	cursor: pointer;
}

@media screen and (max-width : 768px) {
	.right_column, .left_column {
		width: 100%;
		box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
	}
	.left_column {
		padding: 0 30px;
	}
	.add_to_cart, .product_quantity, .full_details {
        margin: 0 20px 20px 0;
	}
	#qv_full_cart, #qv_checkout {
		width: 40%;
        margin: 0 20px 20px 0;
	}
	.social .social_media {
		width: auto;
		margin: 10px;
	}
	.measurement_info, .general_sizing_info, .hdr_left, .hdr_right {
		width: 100%;
		height: auto;
	}
	.size_header {
		width: 100%;
		border: none;
		height: auto;
	}
	#product_images .slide_buttons {
        width: 90%;
        left: 5%;
	}
}
@media screen and (max-width : 599px) {
    #addToWishlist {
        float: left !important;
        margin: 0 !important;
        line-height: 42px;
    }
    .social {
        float: right;
        width: auto;
    }
    .pdp_wrapper #pdp-share-button {
        border-color: #fff;
        background-color: #fff;
    }
    #recommended-for-you h2 {
        text-align: center;
        text-transform: uppercase;
    }
    #rfy-container {
        padding: 20px 30px 30px;
    }
    #rfy-container .title {
        display: none;
    }
    #rfy-container .slide_content img {
        width: 150px;
        height: 150px;
    }
    #rfy-container .slide_content a {
        text-decoration: none;
    }
    #rfy-container .slide_content .product_title {
        font-size: 14px;
    }
    #rfy-container .slide_content .price {
        color: #666;
        margin: 0 5px;
    }
    #rfy-container .slide_content .sale_product .price {
        text-decoration: line-through;
    }
    #rfy-container .slide_content .sale_price {
        color: #b2906a;
        margin: 0 5px;
    }
    #rfy-container .slide_controls ul {
        text-align: center;
    }
    #rfy-container .slide_controls li {
        width: auto !important;
        float: none;
        display: inline-block;
        margin: 0 2px;
    }
    #rfy-container .slide_controls li a {
        width: 22px;
        height: 3px;
        padding: 0;
        background: #808080;
        font-size: 0px;
    }
    #rfy-container .slide_controls li a.selected {
        background: #000;
    }
}
@media screen and (max-width : 480px) {
	.product_title, .product_title h1 {
		font-size: 18px;
	}
	#dm_shiptohome, #dm_storepickup {
		width: 100%
	}
	.add_to_cart, .product_quantity, .full_details, #qv_full_cart, #qv_checkout {
		width: 100%;
	}
	.select_size {
		width : 100%;
	}
	.add_to_cart .button, .add_to_cart {
		width: 100%;
	}
	.product_messaging .message {
		width: 100%;
	}
	.sizing_link {
		float: left;
		display: inline-block;
		width: 100%;
		margin: 20px 0 0 0;
	}
}
