.qv_content {
	font-family: Futura, arial, sans-serif;
	position: relative;
	overflow : hidden;
	font-size: 16px;
	height: 100%;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.qv_content .product_images ul li .alt_view {
	padding: 30px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.qv_content .button {
	font-family: Futura, arial, sans-serif;
}
.qv_content .product_title, .qv_content .product_price {
	font-weight: bold;
	text-transform: uppercase;
}
.qv_content .add_progress {
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	color: #FFF;
	background: #000;
	opacity: .8;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 100px 0 0 0;
	z-index: 9999;
}
.qv_content .add_progress:after {
	content : 'Adding Item To Cart';
}

.qv_content .product_header {
	display: inline-block;
	width: 100%;
	background: #848484;
	padding: 10px 30px;
	box-sizing: border-box;
}
.qv_content .product_contents {
	position: relative;
	text-align: center;
}
.qv_close {
	position: absolute;
	right: 10px;
	top: 10px;
	font-family: Futura, arial, sans-serif;
	font-size: 16px;
}
.qv_close a {
	text-decoration: none;
	text-transform: uppercase;
}
.qv_close a span {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 36px;
	background: #666666;
	margin: 0 0 0 10px;
	border: 1px solid #4D4D4D;
	color: #FFF;
	font-size: 36px;
	border-radius: 3px;
	text-decoration: none;
	display: inline-block;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
    vertical-align: middle;
}
.qv_close a span:before {
	content: '\00d7';
}
.BVRRQuickTakeSection {
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.qv_content .alt_view img, .qv_content .product_images img {
	width: 100%;
	max-width: 350px;
}
.qv_content[data-zoomed="true"] .alt_view img {
	max-width: 100%;	
}
.qv_content .product_images ul {
	overflow: hidden;
	display: inline-block;
}

.qv_content .alt_views {
	display: none !important;
	position: absolute;
	right: 40px;
	top: 85px;	
}
.qv_content .alt_views .slide_content {
	height: 200px;	
}
.qv_content .alt_views img, .qv_content .other_styles img {
	width: 100%;	
}

.qv_content div[data-collapse] .title {
	font-size: 17px;
	font-weight: bold;
	margin: 10px 0;
}
.qv_content #qv_full_cart a {
	background: #494949;
	color: #FFF;
}
.qv_content #qv_checkout a {
	background: #FFF;
	color: #B2906A;
}

.qv_content .general_sizing_info, .qv_content .measurement_info {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-align: left;
}
.qv_content .hdr_right, .qv_content .hdr_left {
	width: 100%;
	text-align: center;
}
.qv_content .hdr_left {
	text-align: left;
}
.qv_content .size_header {
	float: left;
	width: 100%;
	border: none;
	height: auto;
	font-weight: normal;
}
.qv_content .BVQAWidget, .qv_content #BVQAContainer .BVQATitle, .qv_content .BVQAFooter{
	border:0 !important;
}
.qv_content #BVQAContainer {
	margin: 0;	
}
.qv_content #BVQAContainer *{
	font-family: Futura, arial, sans-serif !important;
}
.qv_content #BVQAContainer .BVQAHeader{
	background: none;
	border: 0;
	padding: 0 0 20px 0;
}
.qv_content .BVQAHeaderTitle{
	font-weight: normal !important;
}
.qv_content .BVQASearchForm{
	width: 100%;
}
.qv_content .BVQASearchFormText{
	display: inline-block;
	width: 65% !important;
	margin: 0;
}
.qv_content .BVQASearchFormSubmit{
	margin:0;
}
.qv_content .BVQASearchFormSubmit > button, .qv_content .BVQAAnswerQuestion, .qv_content .BVQAAskQuestion{
	font-family: Futura, arial, sans-serif;
	background:#e0e0e0;
	color:#000;
	text-decoration:none;
	padding:0;
	width: 140px;
	height:40px;
	font-size: 14px;
	line-height:40px;
	font-weight: bold;
	display:inline-block;
    vertical-align: middle;
	border-radius: 2px;
    border: 1px solid #c7c7c7;
	cursor:pointer;
	text-align:center;
	text-transform:uppercase;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}
.qv_content .BVQAAnswerQuestion, .qv_content .BVQAAskQuestion{
	width: auto;
}
.qv_content .BVQAMain{
	background: none;
}
.qv_content .BVDI_PS{
	width: 90%;
}
.qv_content #BVQAContainer .BVQAQuestions{
	border: 1px solid #C7C7C7;
	background: none;
	border-radius: 3px;
}
.qv_content #BVQAContainer .BVQAQuestions:before{
	content: "Can you answer these questions?";
	display: block;
	text-align: center;
	background: #E0E0E0;
	color: #666;
	margin: 0;
	padding: 14px;
	border-bottom: 1px solid #C7C7C7;
	border-radius-top-left: 3px;
	border-radius-top-right: 3px;
}
.qv_content .BVQAQuestionHeaderClosed .BVQAQuestionHeaderBullet{
	background: transparent url('/ns/common/champssports/images/nav_arrow_down_gray.png') no-repeat 0 50%;
}
.qv_content .BVQAQuestionHeaderOpen .BVQAQuestionHeaderBullet{
	background: transparent url('/ns/common/champssports/images/nav_arrow_right_gray.png') no-repeat 0 50%;
}
.qv_content .BVQAQuestionSummary{
	border: 0 !important;	
}
.qv_content .BVQAQuestionSummary > a{
	color: #666;
	font-size: 14px;
}
.qv_content #BVQAContainer .BVQAQuestionGroupHeaderFirst{
	display: none;
}
.qv_content .recommendations_wrapper {
	position: relative;	
}
.qv_content .product_overview div#sizefit .heading{
	 display: block !important;
	 clear: left;
	 float: left;
	 font-size: 18px;
}
.qv_content .product_overview div#sizefit .heading .highlight{
	display: block;
	background: transparent url('/ns/common/champssports/images/fit-icons/shoewidth_03.png') no-repeat top left;
	width: 219px;
	height: 99px;
	clear:left;
	margin-right: 60px;
}
.qv_content .product_overview div#sizefit .heading + img{
	float: right;
	clear: right;
	margin: 0 20px 0 0;
}
.qv_content .product_overview div#sizefit .heading + img + div{
	float: left;
	clear: left;
	width: 50%;
	margin: 10px 0;
}
.qv_content .fit_info_wrappers{
	float: left;
	clear: left;
	margin: 10px 0;
}
.en .qv_content .fit_info_wrappers span[data-label="fit_length"]:before{
	content: "Length: ";
}
.en .qv_content .fit_info_wrappers span[data-label="fit_width"]:before{
	content: "Width: ";
}
.en .qv_content .fit_info_wrappers span[data-value]{
	font-weight: bold;
}
/* Flyin Cart Estimator Styles */
#cart_estimator_form .content > div{
	position: relative;
}
#cart_estimator_form input{
    color: #000 !important;
    font-weight: bold;
    text-transform: uppercase;
}
#cart_estimator_form label{
	color: #666;
	text-align: left;
	display: block;
	padding: 0 0 0 6px;
	width: 100%;
	line-height: 40px;
	z-index: 1;
	margin: 10px 0 0 0;
}
#cart_estimator_form select{
	z-index: 5;
}
#cart_estimator_form select option{
	border: 0;
	padding: 3px 0 3px 10px;
	font-weight: normal;
}
.country{
	  position: relative;
    margin-bottom: 20px;
	  height: 92px;
	  padding: 0 !important;
}
.country a{
    color: #B2906A;
    text-decoration: underline;
    font-style: italic;
    font-size: 13px;
	  display: inline-block;
	  right: 0;
		bottom:0;
}
.sourcecode{
    margin-bottom: 10px;
}
#shippingVerifyMessage{
    margin: 0 0 5px 0;
	  color: #B2906A;
}
[data-cartvalue="sourcecode"]{
    color: #B2906A;
    font-style: italic;
}
#sts_message{
    text-align: left !important;
    margin: 0 10px 10px 0;
    color: #B2906A;
    width: 70%;
}
#estimator_error{
		color: #B2906A;
    text-align: left;
    margin: 0 0 10px 0;
}
.cart-divider{
    border-top: 1px solid #C7C7C7;
    margin: 10px 30px 20px;
}
#cart_estimator{
	
}