#endecaSearch {
	float: none !important;
	width: 100% !important;
	margin: 0 !important;
	background: none !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow: hidden;
}
#endecaSearchContent {
	background: #FFF !important;	
}
#pbContentCenterColumn {
	width: auto !important;
	float: none !important;
}
#endeca_search_results ul {
	font-size: 0;	
}
#endeca_search_results > ul > li, a[name="styles"] table.content_area tr td {
	float: none !important;
	font-size: 12px;	
	display: inline-block;
	vertical-align: top;
	width: 16.6666% !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#endeca_search_results > ul > li {
	position: relative;
	width: 100%;	
}
#endeca_search_results > ul > li img {
	width: 100%;
	max-width: 200px;
	height: auto;	
}
#endeca_search_results li.clearRow {
	display: none !important;
}

#pbContentLeftColumn {
	margin-left: 0;	
	padding: 50px 0 0 0;
}
#pbContent {
	position: relative;	
}
#endecaNav h3 {
	display: inline-block;
	border-radius: 22px;
	background: #E1E1E1;
	text-align: center;
	padding: 10px !important;
	color: #888;
	cursor: pointer;
	position: absolute !important;
	left: 0;
	top: 0;
}
#endecaNav h3 a {
	display: inline-block;
	height: auto;
	width: 30px;
}
#endecaNav h3 a span {
	height: 11px;
	width: 80%;
}
#endecaNav h3 a span:before {
	top: 0;
}
#endecaSearch[data-navopen="true"] #endecaNav h3:after {
	content: 'Hide Filters';	
}
#endecaSearch[data-navopen="false"] #endecaNav h3:after {
	content: 'Narrow Results';	
}

#endecaSearch[data-navopen="false"] #pbContentCenterColumn #endecaResultsWrapper {
	border: none !important;	
}
.searchResultsPaging .endeca_pagination {
	width: 100% !important;
	text-align: center !important;
	line-height: normal !important;
}
#endecaSearch .endeca_pagination a {
	display: inline-block;
	border-radius: 5px;
	background: #E1E1E1;
	text-decoration: none !important;
	padding: 12px;
	color:#B2906A !important;
}
#endecaSearch .endeca_pagination a:hover {
	text-decoration: none !important;
	color:#B2906A !important;
}
#endecaSearch .searchResultsPaging .previous {
	float: left;	
}
#endecaSearch .searchResultsPaging .next {
	float: right;	
}
@media screen and (max-width: 1200px) {
	#endeca_search_results > ul > li, a[name="styles"] table.content_area tr td {
		width: 20% !important;
	}
}
@media screen and (max-width: 966px) {
	#endeca_search_results > ul > li, a[name="styles"] table.content_area tr td {
		width: 25% !important;
	}
}
@media screen and (max-width: 768px) {
	#pbContentLeftColumn {
		margin-left: -100%;
	}
	#endeca_search_results > ul > li, a[name="styles"] table.content_area tr td {
		width: 33.333% !important;
	}
	
}
/*** XforY ***/
a[name="styles"] table {
	width: 100%;	
}
a[name="styles"] table.content_area tr {
	display: inline;
	font-size: 0;
}
a[name="styles"] table .searchnavigation {
	width: 190px;	
}
a[name="styles"] table .searchnavigation table {
	width: 190px;
	margin: 0 0 20px 10px;
}
.fullWidthTable td {
	width: auto;	
}
.fullWidthTable .content_area td {
	margin: 0 0 20px 0;
	display: inline-block;
}
[id*="bundleTable"] .content_area td {
	display: table-cell;
}
.fullWidthTable #product_form table.content_area {
	width: 100%;
}
.fullWidthTable #product_form table.content_area tr {
	display: inline-block;
	width: 100%;
}
.fullWidthTable #product_form table.content_area tr td img {
	display: inline-block;
}
.fullWidthTable #product_form table.content_area tr td {
	margin: 0 0 0 5px;
	display: inline-block;
}
.fullWidthTable #product_form table.content_area tr td b, .fullWidthTable #product_form table.content_area tr td select, .fullWidthTable #product_form table.content_area tr td input {
	margin: 10px 0;
}
.fullWidthTable #product_form table.content_area tr td select {
	width: 175px;	
}
#zoomImage > img {
	width: 100%;
}
.product_description div {
	width: 100% !important;	
}
#pdpImage {
	width: 500px;	
}

a[name="styles"] table.content_area tr td {
	display: inline-block;
	width: 20%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;
	padding: 0;
	vertical-align: top;
}
a[name="styles"] table.content_area tr td div.product_cell {
	height: auto;	
}
@media screen and (max-width: 1023px) {
	#pdpImage {
		width: 400px;	
	}
	a[name="styles"] table.content_area tr td {
		width: 20%;
	}
}
@media screen and (max-width: 767px) {
	#pdpImage {
		width: 240px;	
	}
}
/*** START SHOPPING CART ***/
#cartAction_top {
	top: -20px;
}
#shoppingcart_container a {
	float: left;
	margin: 0 0 0 20px;
}
#shoppingcart_container a[data-btnname*="_continueShopping"] {
	width: auto;
	padding: 0 20px;
}
#shoppingcart_items_topRow {
	line-height: 30px;
}
.tabbedBox_container {
	width: 100% !important;
}
#shoppingcart_items td {
	box-sizing: border-box;
	-moz-box-sizing: border-box;	
}
table#shoppingcart_items {
	width: 100%;	
}
#shoppingcart_items td.itemInfo {
	width: 30%
}
#shoppingcart_items td.itemStoreInfo {
	width: 40%
}
#shoppingcart_items td.itemActions {
	width: 10%
}
#shoppingcart_items td.itemPrice {
	width: 10%
}
#shoppingcart_items td.itemTotal {
	width: 10%
}
#shoppingcart_container #cartTotalEstimatorForm {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;	
}
#shoppingcart_container #cartTotalEstimatorForm h6 {
	background: #CCC;	
}
#cartTotalEstimator .clear {
	display: none;	
}
#cartTotalEstimator {
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#cartTotalEstimatorLeftColumn, #cartTotalestimatorValues {
	display: inline-block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#cartTotalEstimatorLeftColumn {
	width: 60%;
	vertical-align: top;
}
#cartTotalestimatorValues {
	font-weight: bold;
	width: 40%;
}
#cartTotalEstimatorLeftColumn [data-btnname*="_calculate"] {
	float: right;	
}
#shoppingcart_container #cartTotalEstimatorForm {
	width: 100%;
	height: auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	vertical-align: top;
	display: inline-block;
	margin: 0;
	background: none;
}
#shoppingcart_container #cartTotalestimatorValues table {
	width: 100%;	
}
#cartTotalEstimatorForm .submit {
	position: static;
	margin: 20px 25px 20px 0;
}
#shoppingcart_bottom {
	width: 100%;	
}

/*#cartTotalEstimator {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
	-ms-box-orient: vertical;
	-webkit-flex-direction: column;
	flex-direction: column;
}

@media screen and (max-width: 767px) {
	#cartTotalEstimatorValues, #cartTotalEstimatorLeftColumn {
		float: none;
		display: block;
		width: 100%;
	}
	#cartTotalEstimatorLeftColumn {
		vertical-align: top;
		-moz-box-ordinal-group: 2;
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 2;
		-webkit-order: 2;
		order: 2;
	}
	#cartTotalEstimatorValues {
		-moz-box-ordinal-group: 1;
		-webkit-box-ordinal-group: 1;
		-ms-flex-order: 1;
		-webkit-order: 1;
		order: 1;
	}
}*/
/*** END SHOPPING CART ***/

/*** START CHECKOUT ***/
#spcoForm {
	text-align: center;
}
#checkout_page {	
	display: inline-block;
	width: 100%;
	max-width: 966px;
	margin: 0 auto;
	text-align: left;
}
#right_column {
	margin: 0;
	width: 50%;
	box-sizing: border-box;
}
#checkout_container {
	padding: 0 20px 0 0;
	width: 50%;
	box-sizing: border-box;
}
#order_summary_top {
	position: relative;
}
#order_summary_top a {
	position: absolute;
	bottom: 0;
	right: 0;
}
#loginPane_edit table {
	width: 100%;	
}
#loginPane_edit table tr td {
	display: block;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-align: left;
	padding: 3px;
    float: left;
    clear: both;
}
#loginPane_edit table tr td.hint_text {
	text-align: right;	
}
#checkout_page #loginPane_edit label {
	line-height: normal;	
}
#checkout_page #loginPane_edit .left_column {
	padding: 3px;	
}
#loginPaneEmailAddress, #loginPanePassword {
	min-width: 140px;	
}
#loginPane_edit table tr td#loginPaneFormSeparator {
	border-top: 1px solid #C7C7C7;
	padding: 0;	
}
#shipAddressPane_edit .paneEditForm {
	width: 100%;
}
#billPaneNewBillAddress table tr td, #shipPaneNewShipAddress table tr td {
	display: inline-block;
	width: 100%;
	padding: 0 0 10px 0;
}
#billPaneNewBillAddress table tr td.left_column, #shipPaneNewShipAddress table tr td.left_column {
	width: 100%;
	text-align: left;
	font-size: 14px;
}
/*#billFirstName, #billFirstName_error, #billLastName, #billLastName_error {
	width: 33%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;		
}
[for="billLastName"] {
	display: none;	
}*/
.accordion_wrapper {
	width: 100%;
	height: 46px;
}
.accordion_right {
	float: left;
	width: auto;
	height: auto;
	line-height: 46px;
	top: 0;
}
.accordion_left {
	padding: 0 5px;	
}

#sheerIDiframe {
	width: 100%;
}
#checkout_container .content, #orderReviewPaneStoredCCCVV_header, #orderReviewPaneSourceCode_apply {
	padding: 10px;
}
#orderReviewPaneSourceCode_apply {
	text-align: right;	
}
#paymentMethod_extra .leftPadding {
	width: 0;
}
#paymentMethod_extra #giftCardLabel {
	width: auto;
	padding-right: 0;
}
#giftCardCode_1 {
	width: 85px;
}
#giftCardPin_1 {
	width: 155px;	
}
#addMoreContainer {
	width: auto;	
}
#orderReviewPaneSourceCode_apply {
	text-align: right;
		
}
#order_summary_middle table {
	width: 100%;
	padding: 0;
	margin: 0;
	display: inline-block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.view_pane table {
	width: 100%;	
}
.view_pane .step {
	width: 5%;
	text-align: center;
}
.view_pane .title {
	width: 25%;
}
.view_pane .data {
	width: 50%;
}
.view_pane .edit {
	width: 15%;	
}
.paneEditForm table {
	width: 100%;	
}
#checkout_page #payMethodPanePaymentForm {
	width: 100%;
	margin : 0;
	padding: 10px;
	box-sizing: border-box;
}
#checkout_page .thumbnail_group {
	width: 100%;	
}
#editPaneHeader {
	width: 100%;	
}
#payMethodPayPalContainer td {
	width: auto;	
}
#checkout_page .shipAddressType, #checkout_page .multipleAddress, #checkout_page .billAddressType {
	padding-left: 0;
	width: auto;
}
#payMethodCreditCardContainer, #paymentMethod_extra {
	width: 100%;	
}
tr#payMethodCCIcon td {
	width: auto;	
}
#orderReviewForm {
	width: 100%;	
	padding : 10px;
}

@media screen and (max-width: 1023px) {
    #billPaneNewBillAddress table tr td, #shipPaneNewShipAddress table tr td {
	    width: 100%;
    }
    #billPaneNewBillAddress table tr td.left_column, #shipPaneNewShipAddress table tr td.left_column {
	    width: 100%;
    }
}

@media screen and (max-width: 767px) {
	#right_column {
		float: left;
		margin: 20px 0 0 0;
		width: 100%;
		box-sizing: border-box;
	}
	#checkout_container {
		float: left;
		padding: 0;
		width: 100%;
		box-sizing: border-box;
	}
}
/*** END CHECKOUT ***/

/*** START STORE LOCATOR ***/
#locatorMap {
	width: auto !important;
}
/*** START STORE LOCATOR ***/

/*** START HELP ***/

#custserv .menu_btn a {
	display: inline-block;
	margin: 0 0 0 10px;
}
#custserv .menu_btn {
	width: auto;
}
#custserv .menu_btn:after {
	content: 'Help Menu';
	line-height: 52px;
	font-size: 14px;
	font-weight: bold;
}
#custserv {
	padding : 25px 0;
	overflow: hidden;
}
#custserv .menu_btn a span:before{
	position: absolute;
	content: "";
	background: url('/ns/common/champssports/images/back-arrow-brown-36x36.png') no-repeat scroll center center / contain transparent;
	height: 18px;
	width: 18px;
	left: 0;
	top: 8px;
	transform: rotate(180deg);
	border: 0;
}
#custserv .menu_btn{
	text-transform: uppercase;
	color: #B2906A;
}
#custserv .menu_btn a{
	width: 32px;
}
#custserv[data-navopen="true"] .menu_btn a span:before{
	background: url('/ns/common/champssports/images/back-arrow-brown-36x36.png') no-repeat scroll center center / contain transparent;
	transform: rotate(0deg);
}
html>body #helpindex, #helpindex {
	height: auto;
	min-height: 0;
}
#helpheader a img {
	width: 100%;
	max-width: 450px;	
}
#helpcontent {
	float: none !important;
	width : auto !important;
	margin: 0 0 0 230px;
	padding: 10px 0 0 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-size: 14px;
}
#custserv #helpcontent #contenttitle{
	text-transform: uppercase;
	color: black;
	margin-top: 20px;
	padding: 20px 0 20px 0;
	border-top: 1px solid #C7C7C7;
}
#custserv #helpcontent #helpheader img[alt="Customer Service"]{
	display: none;
}
#custserv #helpcontent #contenttitle{
	font-size: 18px;
}
#custserv #helpcontent #contenttitle hr{
	display: none;
}
#custserv #helpheader .cust_title{
	font-size: 24px;
}
#custserv #helpcontent span[data-logoname="paypal"]{
	margin-top: 10px;
}
#custserv #helpcontent strong, #custserv #helpcontent b{
	text-transform: uppercase;
	color: black;
	display: inline-block;
	margin: 20px 0 20px 0;
}
#custserv #helpcontent em strong{
	margin: 0;
	color: #B2906A;
}
#helpcontent li a, #helpcontent p a{
	color: #B2906A;
}
#helpcontent .content_area a[href^="#"]{
	color: #B2906A;
}
#helpcontent a[name]{
	color: #000;
	text-decoration: none;
}
#custserv #helpcontent p{
	margin: 0 0 20px 0;
}
#helpcontent p small{
	font-style: italic;
	display: inline-block;
	margin: 10px 0 10px 0;
}
#helpcontent ul{
	padding-left: 0 !important;
}
#helpcontent ul li, #helpcontent ol li{
	
}
#helpindex{
	margin: 0;	
	background-color: transparent;
}
#helpindex img[alt="Help Index"]{
	display: none;
}
#helpindex ui {
	margin-right: 10px;
}
#helpindex li{
	border-bottom: 1px solid #C7C7C7;
	margin-right: 10px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 5px 10px 0px;
}
#helpindex a:hover{
	color:#B2906A !important;
}
#custserv{
	padding: 0 20px 0 20px;
}
#custserv #helpcontent {
	margin: 0 0 0 225px;	
}
@media screen and (min-width: 769px) {
	#custserv #helpcontent {
		margin: 0 0 0 225px !important;	
	}
	#custserv .menu_btn {
		display: none;		
	}
	#helpindex {
		margin: 0 !important;
	}
}
@media screen and (max-width: 768px) {
	
	#helpindex img {
		display: none;
	}
	#helpcontent {
		padding: 0 20px;
	}
	#custserv{
	  padding: 0 20px 0 10px;
  }
	#custserv .cust_serv_link{
		width: 100% !important;
		margin: 10px 0 10px 0;
	}
	#custserv .chat-custserv-header-button{
		margin: 10px 0 10px 0;
		text-align: center;
		width: 100%;
	}
	#custserv #helpheader{
		text-align: left;
	}
}

/*** END HELP ***/

/*** START MY ACCOUNT ***/
#primarytable {
	width: 100%;	
}
#myaccount {
	padding : 25px 0;
	overflow: hidden;
}
#myaccount #account_home .box {
	margin: 0;
	border: none;
	width: 50%;		
	padding: 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#myaccount .buttons {
	border: none;
	background: none;	
}
#myaccount .menu_btn {
	width: auto;
}
#myaccount .menu_btn a {
	display: inline-block;
    vertical-align: middle;
	margin: 0 0 0 7px;
}
#myaccount .menu_btn:after {
	content: 'My Account Menu';
    display: inline-block;
    vertical-align: middle;
	line-height: 52px;
	font-size: 14px;
	font-weight: bold;
}
#myaccount .accountInfoBox {
	float: none;
	width: auto;
	padding: 0 20px 0 20px;
}
#myaccount .accountInfoBox {
	margin: 0 0 0 195px;	
}
/* ORDER RECEIPT */
#orderReceipt table {
	width: 100% !important;
	box-sizing: border-box !important;
	padding: 10px !important;
	margin: 0 !important;
}
#orderReceipt, #orderReceipt table, #orderReceipt p {
	font-size: 14px !important;	
}
#orderReceipt .infoBox {
	width: 50% !important;
	float: left !important;
}
#orderReceipt .shippingAndPayment.infoBox {
	width: 100% !important;
	margin: 20px 0 0 0 !important;
}
#createAccountForm .field label {
	width: auto !important;
}
#createAccountForm .field.submit {
	padding: 20px 0 0 0 !important;
	text-align: right !important;
}
@media screen and (max-width: 767px) {
	#orderReceipt .orderInfo {
		border: none !important;
		padding: 0 !important;
	}
	#myaccount #account_home .box {
		width: 100%;		
	}
	#account_sidenav h3 {
		display: none;	
	}
}
@media screen and (min-width: 769px) {
	#myaccount .accountInfoBox {
		margin: 0 0 0 195px !important;	
	}
	#myaccount .menu_btn {
		display: none;		
	}
	#account_sidenav {
		margin: 0 !important;
	}
}