/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) {
.aso_desktopLinks {display: none;}
.aso_mobileLinksNot {display: none;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 768px) { 
.aso_desktopLinksNot {display: none;}
.aso_mobileLinks {display: none;}
}



/*Margins & Paddings*/
.aso_nopadding {padding: 0px;}
.aso_nomargin {margin: 0px;}

/*Positions*/
.aso_pos-a {position: absolute;}
.aso_pos-r {position: relative;}

/*Overflows*/
.aso_of-h {overflow: hidden;}


/*Mobile Unordered List & List Items*/
.aso_mobileUls {padding: 0px; margin: 0px;}
.aso_mobileUls li {
  height: 35px;
  border-bottom: 1px solid #aaa;
  background: #efefef;
  list-style: none;
  display: block;
  color: #333;
  line-height: 35px;
  text-decoration: none;
  padding-left: 18px;
  font-size: 16px !important;
  font-weight: 400;
}

.aso_mobileUls li:hover {background: #d1d1d1;}
.aso_mobileUls a{ text-decoration: none; color: #333;}
.aso_mobileLiCaret {
  width: 35px;
  height: 35px;
  display: inline-block;
  background: url("http://m.academy.com/wcsstore/AcademyStorefrontAssetStore/mobile/images/layout/sprite-icons-min@2x.png") no-repeat scroll transparent;
  float: right;
  background-size: 213.3894px;
  background-position: -56px -68px;}

/*Floats*/
.aso_fl-l{float: left;}
.aso_fl-r{float: right;}

/*Clear*/
.aso_clear {clear: both;}

/*List Style*/
.aso_lis-n li{list-style: none;}
/*Text Aligns*/
@media (max-width: 768px) {
.mta-c {text-align: center;}
}


/*15 Grid*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}



/*Shop Now below*/
.aso_shopnow-txt { font-family: 'Open Sans', Arial, sans-serif; display: block; font-weight: 400; color: #cc0000; font-size: 12px; margin: 5px 0px; }
.aso_shopnow-txt::after { background: url('http://content.academy.com/home/banners/ASO_CARAT.png') top; width: 5px; height: 8px; margin-left: 6px; margin-bottom: 0.5px; display: inline-block; content: '';}


/*Promo*/
.promo { text-decoration: none; color: #0055aa; display: inline-block; width: 100%; position: relative; margin-bottom: 1.25rem; }


/*Colors*/
.aso_grey {color: #676767;}

/*Tungsten*/
.tungsten{font-family: "Tungsten A", "Tungsten B"; font-style: normal;}
.tungsten-book {font-weight: 400;}
.tungsten-medium {font-weight: 500;}
.tungsten-semibold {font-weight: 600;}
.tungsten-bold {font-weight: 700;}
.tungsten-black {font-weight: 800;}
/*Tungsten End*/

/*Font Weights*/
.aso_fontbold {font-weight: bold;}
.aso_fontnormal {font-weight: normal;}
/*Font Weights End*/

/*Text transform*/
.aso_tt-u {text-transform: uppercase;}
.aso_tt-c {text-transform: capitalize;}
.aso_tt-l {text-transform: lowercase;}
/*Text transform*/

/*Label*/
label.required:after{content:"*"; color: #cc0000; margin-left: 3px;}
