 /* @media(max-width: 1199px){
    #departmentsMenuWrap{display: none;}
    #departmentsButtonSection:hover >#departmentsMenuWrap {display: block !important;}
  }*/

 /*Heading*/
  h2.hp-heading { overflow: hidden; text-align: center; text-transform: uppercase; margin: 1.25rem 0px; font-weight: bold; font-size: 16px;}
  h2.hp-heading:before, h2.hp-heading:after { background-color: #ccc; content: ""; display: inline-block; height: 1px; position: relative; vertical-align: middle; width: 50%; }
  h2.hp-heading:before { right: 0.5em; margin-left: -50%; }
  h2.hp-heading:after { left: 0.5em; margin-right: -50%; }
/*Heading End*/

/*Category Items*/
  .cat-item:hover {opacity: 0.8;}
  .cat-item:hover .cat-title:after {transform:translateX(3px);}
  .cat-title {text-align: center; margin-top: 0.25rem; font-size: 0.75rem; color: #333;}
/*Categort Items end*/

/*Store Events*/
.storeevents-container {font-size: 0;}
.se-eventitem {width: 25%; display: inline-block; vertical-align: top; padding: 0 10px; padding: 15px; background: #ebebeb;}
.storeevents-container img {width: 100%;}
.storeevents-container .row-bp {background: #f1f1f1; padding: 10px 0}
.se-eventitem .se-title { font-size: 24px; text-transform: uppercase;}
.se-eventitem .se-time {font-size: 14px;}
.se-eventitem .se-address {font-size: 14px;}
.se-eventitem .se-description {font-size: 11px; margin: 0 0 10px 0;}
.se-eventitem .btn-bp {float: none;}
@media (max-width:992px) {
    .se-eventitem {width: 50%;}
}

@media (max-width:768px) {
    .se-eventitem {width: 100%;}
    #hp_events, #event_header {margin: 0px; text-align: center;}
}

/*Store Events End*/


/*Bootstrap 5 col hack*/
.item-title {text-decoration: none; color: #333; font-size: 16px;}
.item-title:hover {opacity: 0.7; text-decoration: none;}
.item-title img {margin-top: 10px;}
@media only screen and (max-width:760px){
  .item-title {font-size: 14px;}
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 50%;
}

.col-xs-15 {
    width: 20%;    
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;        
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;        
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;        
    }
}



/*Inline-block*/
.brand-container {width:100%; max-width: 1140px; margin: 0 auto;}
.brand-container a {text-decoration: none;}
.brand-container img {width: 100%;}
.brand-items {width: 100%;}
.brand-item {width: 19.5%; display: inline-block; vertical-align: middle; padding: 0px 15px;}
.brand-item:hover {opacity: 0.7;}
.brand-banner {position: relative;}
  @media(max-width: 992px){
    .brand-item {width: 32%; padding: 0px 15px;}
  }

  @media(max-width: 768px){
    .brand-item {width: 49%; padding: 0px 15px;}
    .brand-title {text-align: center;}
    .brand-container .shop-now.bottom-right {display: none;}
  }
/*Bootstrap 5 col hack End*/

.hp-categories {display: flex; flex-flow: row wrap;}
.hp-categories a {text-decoration: none; flex: 0 1 16.5%;}
.hp-categories .cat-item {text-align: center; padding: 5px 15px;}
.hp-categories .cat-item:hover {opacity: 0.7;}

.item-title {text-decoration: none; color: #333; font-size: 16px;}
.item-title:hover {opacity: 0.7; text-decoration: none;}
.item-title img {margin-top: 10px;}
@media only screen and (max-width:760px){
  .item-title {font-size: 14px;}
}

/*Inline-block*/
  .brand-container {width:100%; max-width: 1140px; margin: 0 auto;}
  .brand-container a {text-decoration: none;}
  .brand-container img {width: 100%;}
  .brand-items {width: 100%;}
  .brand-item {width: 19.5%; display: inline-block; vertical-align: middle; padding: 0px 15px;}
  .brand-item:hover {opacity: 0.7;}
  .brand-banner {position: relative;}
  @media(max-width: 991px){
    .brand-item {width: 32%; padding: 0px 15px;}
    .hp-categories a { flex: 0 1 25%;}
  }

  @media(max-width: 767px){
    .brand-item {width: 49%; padding: 0px 15px;}
    .brand-title {text-align: center;}
    .brand-container .shop-now.bottom-right {display: none;}
    .hp-categories a { flex: 0 1 33%;}
  }