/* SKIN 0 */

html,body {
    background:#FFF;
}

#container {
    background:#FFF url(../img/skin/0/top_2.png) repeat-x;
}

#contenttabwrapper {
    background:#FFF url(../img/skin/0/top_2.png) repeat-x;
}

#footercontainer {
    background:url(../img/skin/0/bottom.png) 0px bottom repeat-x;
}

#tabwrapper #tabin,
#tabwrapper #tabout {
	background: url(../img/skin/0/tab_back.png) no-repeat;
}
