﻿@charset "utf-8";
body,html {
	overflow-x:hidden
}
body,html,div,dl,dt,dd,ul,li,ol,h1,h2,h3,h4,h5,h6,form,fieldset,input,textarea,p,th,td,a,img,span {
	margin:0;
	padding:0;
	font-size:12px;
	font-family:tahoma,arial,\5b8b\4f53,sans-serif
}
button,input,select,textarea {
	font-size:100%
}
textarea,input[type ="text"],input[type ="password"],select {
	display:inline-block;
	color:#333;
	vertical-align:middle
}
textarea,input[type ="text"],input[type ="password"] {
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #ddd
}
textarea:focus,input[type ="text"]:focus,input[type ="password"]:focus {
	border-color:#9d003f;
	outline:0;
	outline:thin dotted 9
}
table {
	border-collapse:collapse;
	border-spacing:0
}
ol,ul,li,dl,dd,dt {
	list-style:none
}
img {
	vertical-align:middle;
	border:0
}
em,b {
	font-style:normal;
	font-weight:normal
}
a {
	text-decoration:none;
	color:#666
}
a:hover {
	color:#9c003f
}
h1,h2,h3,h4,h5,h6 {
	font-size:12px;
	font-weight:normal
}
.color9d0 {
	color:#9d003f
}
.color444 {
	color:#444
}
.color957 {
	color:#95775b
}
.rmb {
	font-family:Microsoft yahei
}
.disb {
	display:inline-block
}
.padTop10 {
	padding-top:10px
}
.padTop30 {
	padding-top:30px
}
.fb {
	font-weight:bold
}
.fn {
	font-weight:normal
}
.txl {
	text-align:left
}
.txc {
	text-align:center
}
.txr {
	text-align:right
}
.tunl {
	text-decoration:underline
}
.tult {
	text-decoration:line-through
}
.tno {
	text-decoration:none
}
.padTop10 {
	padding-top:10px
}
.fl {
	float:left
}
.fr {
	float:right
}
.clearfix:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0
}
* html .clearfix {
	zoom:1
}
*:first-child+html .clearfix {
	zoom:1
}
.zoom {
	zoom:1
}
.f12 {
	font-size:12px
}
.f14 {
	font-size:14px;
	font-family:microsoft yahei
}
.f16 {
	font-size:16px;
	font-family:microsoft yahei
}
.f18 {
	font-size:18px;
	font-family:microsoft yahei
}
.f20 {
	font-size:20px;
	font-family:microsoft yahei
}
.f22 {
	font-size:22px;
	font-family:microsoft yahei
}
.f24 {
	font-size:24px;
	font-family:microsoft yahei
}
.f26 {
	font-size:26px;
	font-family:microsoft yahei
}
.f32 {
	font-size:32px;
	font-family:microsoft yahei
}
.f36 {
	font-size:36px;
	font-family:microsoft yahei
}
.fb {
	font-weight:bold
}
.fn {
	font-weight:normal
}
.txl {
	text-align:left
}
.txc {
	text-align:center
}
.txr {
	text-align:right
}
.t2e {
	text-indent:2em
}
.tunl {
	text-decoration:underline
}
.tult {
	text-decoration:line-through
}
.tno {
	text-decoration:none
}
.fontF_w {
	font-family:'microsoft yahei'
}
.a_10 {
	color:#ccc
}
.car_nav a.a_11 {
	margin-left:0
}
.a_1:link,.a_1:visited {
	color:#676767
}
.a_1:hover {
	color:#fff
}
.a_2:link,.a_2:visited {
	color:#fff;
	padding:0 10px;
	height:22px;
	line-height:20px;
	border:1px solid #f47c02;
	background-color:#fa993b;
	border-radius:3px
}
.a_2:hover {
	border:1px solid #f47c02;
	background-color:#f7871a
}
.a_3,.a_5,.a_7 {
	background:url(http://pic10.secooimg.com/style/button_com.png) repeat-x;
	border-radius:2px;
	-webkit-border-radius:2px 2px 2px 2px
}
.a_3:link,.a_3:visited {
	border:1px solid #d85e15;
	color:#fff;
	font-weight:bold;
	background-position:0 -25px;
	padding:6px 20px
}
.a_3:hover {
	background:#f16214 none
}
.a_4:link,.a_4:visited {
	background-color:#e5e5e5;
	color:#bbb;
	border:1px solid #ccc;
	text-align:center;
	height:30px;
	line-height:30px;
	padding:0 20px;
	display:inline-block;
	font-weight:bold
}
.a_4:hover {
	background-color:#ff7e02;
	border:1px solid #d85e15;
	color:#fff
}
.a_5:link,.a_5:visited {
	background-position:0 0;
	color:#333;
	border:1px solid #ccc;
	text-align:center;
	height:20px;
	line-height:20px;
	padding:0 20px;
	display:inline-block
}
.a_5:hover {
	background-position:0 -230px;
	color:#000
}
.a_6:link,.a_6:visited {
	color:#36c
}
.a_6:hover {
	color:#000
}
.a_7:link,.a_7:visited {
	background-position:0 -60px;
	color:#666;
	height:30px;
	padding:0 20px;
	line-height:30px;
	display:inline-block;
	border:1px solid #ccc
}
.a_7:hover {
	color:#000
}
.a_8:link,.a_8:visited {
	color:#666
}
.a_8:hover {
	color:#000
}
.a_red:link,.a_red:visited {
	color:#c10000
}
.a_red:hover {
	color:#a90000
}
.a_back000:link,.a_back000:visited {
	color:#fff;
	background-color:#000;
	height:14px;
	line-height:14px;
	padding:0 5px
}
.a_back000:hover {
	color:#fff
}
.a_aaa:hover {
	color:#FFF
}
.a_666:link,.a_666:visited {
	color:#666
}
.a_666:hover {
	color:#000
}
.a_aaa:link,.a_aaa:visited {
	color:#aaa
}
.a_aaa:hover {
	color:#fff
}
.a_yellow:link,.a_yellow:visited {
	color:#f3ce52
}
.a_yellow:hover {
	color:#c09505
}
.b_list .lazy_bg {
	display:block;
	background:url(http://pic11.secooimg.com/style/ajax-loader.gif) no-repeat center center;
	background-color:#fff
}
.b_list .lazy_bg {
	height:240px
}
.bt_1,.bt_2,.bt_3,.bt_4,.bt_5 {
	background:url(style/bt2_bg.jpg) repeat-x;
	display:inline-block;
	font-weight:bold;
	text-align:center;
	padding:0 15px;
	border-radius:3px
}
.bt_1:link,.bt_1:visited {
	height:30px;
	line-height:30px;
	border:1px solid #e06f00;
	color:#FFF;
	background-position:0 0
}
.bt_1:hover {
	height:30px;
	line-height:30px;
	border:1px solid #e06f00;
	background-position:0 -30px
}
.bt_2:link,.bt_2:visited {
	height:30px;
	line-height:30px;
	border:1px solid #ccc;
	color:#666;
	background-position:0 -60px
}
.bt_2:hover {
	height:30px;
	line-height:30px;
	border:1px solid #ccc;
	background-position:0 -90px
}
.bt_3:link,.bt_3:visited {
	height:20px;
	line-height:20px;
	border:1px solid #ccc;
	color:#333;
	background-position:0 -120px;
	font-weight:normal
}
.bt_3:hover {
	height:20px;
	line-height:20px;
	border:1px solid #ccc;
	background-position:0 -140px
}
.ac_2 {
	background:url(http://pic13.secooimg.com/style/bt2_bg.jpg) repeat-x
}
.ac_2 {
	height:20px;
	padding:0 5px;
	line-height:20px;
	border:1px solid #ccc;
	color:#666;
	border-radius:2px;
	-webkit-border-radius:2px 2px 2px 2px;
	background-position:0 -120px
}
.ac_2:hover {
	background-position:0 -140px
}
.acs_2 {
	background:url(http://pic14.secooimg.com/style/bt2_bg.jpg) repeat-x
}
.acs_2 {
	height:20px;
	padding:0 5px;
	line-height:20px;
	border:1px solid #ccc;
	color:#666;
	border-radius:2px;
	-webkit-border-radius:2px 2px 2px 2px;
	background-position:0 -120px
}
.acs_2:hover {
	background-position:0 -140px
}
.span_back000,.span_backRed,.span_backOrange,.span_backGreen {
	line-height:16px;
	height:16px;
	color:#FFF;
	text-align:center;
	padding:0 5px;
	border-radius:2px
}
.span_back000 {
	background-color:#000
}
.span_backRed {
	background-color:#c00
}
.span_backOrange {
	background-color:#fa993b
}
.span_backGreen {
	background-color:#090
}
.fl {
	float:left
}
.fr {
	float:right
}
.clb {
	clear:both
}
.cll {
	clear:left
}
.clr {
	clear:right
}
.pra {
	position:absolute
}
.pre {
	position:relative
}
.dbk {
	display:block
}
.dbik {
	display:inline-block
}
.dbi {
	display:inline
}
.ovhid {
	overflow:hidden
}
.hid {
	visibility:hidden
}
.none {
	display:none
}
.q_reg .colorccc {
	color:#ccc
}
.colorRed {
	color:#c00
}
.color000 {
	color:#000
}
.color333 {
	color:#333
}
.color666 {
	color:#666
}
.color999 {
	color:#999
}
.colorff6600 {
	color:#f60
}
.colorBlue {
	color:blue
}
.colorOrange {
	color:#f93
}
.colorGreen {
	color:green
}
.color8a8a8a {
	color:#8a8a8a
}
.colord1d1d1 {
	color:#d1d1d1
}
.bgf5 {
	background-color:#f5f5f5
}
.borderLeft {
	border-left:1px solid #ddd
}
.borderRight {
	border-right:1px solid #ddd
}
.borderBottom {
	border-bottom:1px solid #ddd
}
.borderTop {
	border-top:1px solid #ddd
}
.borderBottom3 {
	border-bottom:3px solid #ddd
}
.divWidth100 {
	width:100%;
	float:left
}
.width200 {
	width:200px
}
.width140 {
	width:140px
}
.width100 {
	width:100px
}
.width180 {
	width:180px
}
.width425 {
	width:425px
}
.login_in .width100 {
	width:100px
}
.height20 {
	height:20px;
	line-height:20px
}
.height25 {
	height:25px;
	line-height:25px
}
.height30 {
	height:30px;
	line-height:30px
}
.marLeft0 {
	margin-left:0
}
.marLeft_5 {
	margin-left:5px
}
.marLeft_10 {
	margin-left:10px
}
.marLeft_15 {
	margin-left:15px;
	display:inline
}
.marLeft_20 {
	margin-left:20px;
	display:inline
}
.marLeft_30 {
	margin-left:30px;
	display:inline
}
.marLeft_40 {
	margin-left:40px;
	display:inline
}
.marLeft_50 {
	margin-left:50px;
	display:inline
}
.marRight_15 {
	margin-right:15px
}
.marRight_10 {
	margin-right:10px
}
.marRight_20 {
	margin-right:20px
}
.marRight_30 {
	margin-right:30px
}
.marRight_40 {
	margin-right:40px
}
.marRight_50 {
	margin-right:50px
}
.marTop_2 {
	margin-top:2px
}
.marTop_5 {
	margin-top:5px
}
.login_in .marTop_8 {
	margin-top:8px
}
.column_co .marTop0 {
	margin-top:0
}
.marTop_10 {
	margin-top:10px
}
.marTop_15 {
	margin-top:15px
}
.marTop_20 {
	margin-top:20px
}
.marTop_30 {
	margin-top:30px
}
.marTop_40 {
	margin-top:40px
}
.marTop_50 {
	margin-top:50px
}
.marBottom_5 {
	margin-bottom:5px
}
.marBottom_10 {
	margin-bottom:10px
}
.marBottom_20 {
	margin-bottom:20px
}
.marBottom_30 {
	margin-bottom:30px
}
.marBottom_40 {
	margin-bottom:40px
}
.marBottom_50 {
	margin-bottom:50px
}
.column_co .padLeft_0 {
	padding-left:0;
	padding-top:15px
}
.padLeft_5 {
	padding-left:5px
}
.padLeft_10 {
	padding-left:10px
}
.padTop_15 {
	padding-top:15px
}
.padLeft_20 {
	padding-left:20px
}
.padLeft_30 {
	padding-left:30px
}
.padLeft_40 {
	padding-left:40px
}
.padLeft_50 {
	padding-left:50px
}
.p_back01 .padLeft_160 {
	padding-left:160px
}
.padLeft_145 {
	padding-left:145px
}
.reg_center .padLeft_142 {
	padding-left:142px
}
.padRight_10 {
	padding-right:10px
}
.padRight_20 {
	padding-right:20px
}
.padRight_30 {
	padding-right:30px
}
.padRight_40 {
	padding-right:40px
}
.padRight_50 {
	padding-right:50px
}
.padTop_10 {
	padding-top:10px
}
.padTop_20 {
	padding-top:20px
}
.padTop_30 {
	padding-top:30px
}
.padTop_40 {
	padding-top:40px
}
.padTop_50 {
	padding-top:50px
}
.padBottom_10 {
	padding-bottom:10px
}
.padBottom_20 {
	padding-bottom:20px
}
.padBottom_30 {
	padding-bottom:30px
}
.padBottom_40 {
	padding-bottom:40px
}
.padBottom_50 {
	padding-bottom:50px
}
.input_text {
	border:1px solid #ddd;
	border-radius:3px;
	height:25px;
	line-height:25px;
	padding-left:5px;
	width:200px
}
.input_button1 {
	background-color:#f3f2f2;
	border:1px solid #ccc;
	color:#666;
	padding:0 10px;
	height:20px;
	line-height:20px
}
.input_radio {
	position:relative;
	top:2px;
	margin:0 2px
}
.inp_txt01 {
	border:1px solid #ddd;
	border-radius:3px;
	padding-left:5px
}
.sb_sin,.sb_qqwb,.sb_qqkj,.sb_tb,.sb_py,.sb_bd,.sb_rr,.sb_sohu,.sb_kx {
	background:url(http://pic14.secooimg.com/style/Alllogo_ico.png) no-repeat;
	width:16px;
	height:16px;
	display:inline-block;
	float:left;
	margin:0 5px 0 10px
}
.sb_qqkj {
	background-position:0 -64px
}
.sb_bd {
	background-position:0 -80px
}
.sb_sin {
	background-position:0 -96px
}
.sb_sohu {
	background-position:0 -112px
}
.sb_qqwb {
	background-position:0 -144px
}
.sb_rr {
	background-position:0 -160px
}
.sb_kx {
	background-position:0 -176px
}
.sb_tb {
	background-position:0 -209px
}
.sb_py {
	background-position:0 -240px
}
.popupDiv {
	border:1px solid #ccc;
	border-radius:3px;
	background-color:#FFF;
	padding:10px;
	z-index:666;
	display:none
}
.xxx {
	background:url(http://pic10.secooimg.com/style/xxx.png) 0 0 no-repeat;
	width:12px;
	height:12px;
	display:block;
	position:absolute;
	top:5px;
	right:5px;
	cursor:pointer
}
.shadeDiv {
	width:100%;
	filter:alpha(opacity=50);
	-moz-opacity:.5;
	-khtml-opacity:.5;
	opacity:.5;
	background-color:#000;
	position:absolute;
	top:0;
	left:0;
	z-index:555;
	display:none
}
#tq_as {
	position:absolute
}
.settleup_b,.VIPphone_csz,#sikuNev_csz {
	background:url(http://pic11.secooimg.com/style/head_foot_pic.png) no-repeat;
	display:inline-block
}
.settleup_b {
	width:24px;
	height:19px;
	background-position:-134px -37px;
	position:relative;
	top:3px;
	margin-right:5px
}
.VIPphone_csz {
	width:158px;
	height:30px;
	background-position:0 0;
	text-align:center
}
.backToTop {
	width:47px;
	height:97px;
	DISPLAY:none;
	background:url(style/backtotop.png);
	position:fixed;
	_position:absolute;
	right:0;
	bottom:0;
	z-index:88888;
	_bottom:"auto";
	cursor:pointer
}
.arrow {
	width:0;
	height:0;
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	border-top:4px solid #8a8a89;
	font-size:0;
	line-height:0
}
.arrow,.pArrow,.harrow {
	-webkit-transition:all .3s ease-in;
	-moz-transition:all .3s ease-in;
	-ms-transition:all .3s ease-in;
	transition:all .3s ease-in
}
.menu-hover .arrow,.menu-hover .pArrow,.menu-hover .harrow {
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	transform:rotate(180deg)
}
.topIconBg {
	width:39px;
	height:39px;
	padding:5px;
	background:url(http://pic13.secooimg.com/imagesNew/globalPic/small_tips_bg.gif) no-repeat top center;
	position:relative
}
.topIconBg p {
	width:39px;
	height:39px;
	box-shadow:0 3px 3px #b1b1b1;
	border-radius:50%;
	-webkit-transition:opacity linear .2s,box-shadow ease-in .2s;
	-moz-transition:opacity linear .2s,box-shadow ease-in .2s;
	-o-transition:opacity linear .2s,box-shadow ease-in .2s;
	-ms-transition:opacity linear .2s,box-shadow ease-in .2s;
	transition:opacity linear .2s,box-shadow ease-in .2s;
	overflow:hidden;
	text-indent:-100px;
	position:absolute
}
.topIconBg p.i01 {
	background-position:left 0;
	z-index:2
}
.topIconBg p.i02 {
	background-position:left -78px;
	z-index:2
}
.topIconBg p.i03 {
	background-position:left -158px;
	z-index:2
}
.topIconBg p.i04 {
	background-position:left -239px;
	z-index:2
}
.topIconBg p.i05 {
	background-position:left -319px;
	z-index:2
}
.topIcon ul li:hover p {
	-webkit-box-shadow:0 3px 5px #f6c277;
	-moz-box-shadow:0 3px 5px #f6c277;
	-ms-box-shadow:0 3px 5px #f6c277;
	box-shadow:0 3px 5px #f6c277
}
.topIconBg p.i01s {
	background-position:left -39px;
	z-index:1;
	opacity:1;
	filter:alpha(opacity=100)
}
.topIconBg p.i02s {
	background-position:left -118px;
	z-index:1;
	opacity:1;
	filter:alpha(opacity=100)
}
.topIconBg p.i03s {
	background-position:left -198px;
	z-index:1;
	opacity:1;
	filter:alpha(opacity=100)
}
.topIconBg p.i04s {
	background-position:left -279px;
	z-index:1;
	opacity:1;
	filter:alpha(opacity=100)
}
.topIconBg p.i05s {
	background-position:left -360px;
	z-index:1;
	opacity:1;
	filter:alpha(opacity=100)
}
.topIcon ul li:hover .i01 {
	opacity:0;
	filter:alpha(opacity=0)
}
.topIcon ul li:hover .i02 {
	opacity:0;
	filter:alpha(opacity=0)
}
.topIcon ul li:hover .i03 {
	opacity:0;
	filter:alpha(opacity=0)
}
.topIcon ul li:hover .i04 {
	opacity:0;
	filter:alpha(opacity=0)
}
.topIcon ul li:hover .i05 {
	opacity:0;
	filter:alpha(opacity=0)
}
.topIcon .text {
	color:#999;
	font-family:"瀹嬩綋";
	font-size:12px;
	font-weight:normal;
	height:22px;
	line-height:22px;
	text-align:center;
	width:100%;
	border:0
}
.topIcon ul li:hover .text {
	color:#c69c6d
}
.footer {
	width:100%;
	background-color:#ededed;
}
.listTopCon {
	width:100%;
	height:155px
}
.footerListTop {
	width:1200px;
	margin:0 auto;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out
}
.listTop01 {
	border-right:1px solid #e3e3e3;
	width:610px;
	height:155px;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out
}
.listTop01 .topIcon {
	width:560px;
	height:110px;
	overflow:hidden;
	margin-top:30px;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out
}
.listTop01 .topIcon ul li {
	width:79px;
	float:left;
	height:110px;
	position:relative
}
.listTop01 .topIcon ul li a {
	width:79px;
	height:110px;
	position:absolute
}
.listTop01 .topIcon ul li.hr {
	width:40px;
	height:70px;
	margin-top:10px;
	background:url(http://pic14.secooimg.com/imagesNew/globalPic/small_tips_bg01.gif) repeat-x;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out
}
.listTop01 .topIconBg {
	width:60px;
	height:60px;
	padding:9px;
	background:url(http://pic10.secooimg.com/imagesNew/globalPic/small_tips_bg02.jpg) no-repeat top center;
	position:relative
}
.listTop01 .topIconBg p {
	background:url(http://pic11.secooimg.com/imagesPic/homePic/small_tips_bg04.png) no-repeat;
	width:60px;
	height:60px;
	box-shadow:0 3px 3px #b1b1b1;
	border-radius:50%;
	-webkit-transition:opacity linear .2s,box-shadow ease-in .2s;
	-moz-transition:opacity linear .2s,box-shadow ease-in .2s;
	-o-transition:opacity linear .2s,box-shadow ease-in .2s;
	-ms-transition:opacity linear .2s,box-shadow ease-in .2s;
	transition:opacity linear .2s,box-shadow ease-in .2s;
	overflow:hidden;
	text-indent:-100px;
	position:absolute
}
.listTop01 .topIconBg p.i01 {
	background-position:-1px -1px;
	z-index:2
}
.listTop01 .topIconBg p.i02 {
	background-position:-91px -1px;
	z-index:2
}
.listTop01 .topIconBg p.i03 {
	background-position:-180px -1px;
	z-index:2
}
.listTop01 .topIconBg p.i04 {
	background-position:-270px -1px;
	z-index:2
}
.listTop01 .topIconBg p.i05 {
	background-position:-358px -1px;
	z-index:2
}
.listTop01 .topIconBg p.i01s {
	background-position:-1px -89px;
	z-index:1;
	opacity:1;
	filter:alpha(opacity=100)
}
.listTop01 .topIconBg p.i02s {
	background-position:-91px -89px;
	z-index:1;
	opacity:1;
	filter:alpha(opacity=100)
}
.listTop01 .topIconBg p.i03s {
	background-position:-180px -89px;
	z-index:1;
	opacity:1;
	filter:alpha(opacity=100)
}
.listTop01 .topIconBg p.i04s {
	background-position:-270px -89px;
	z-index:1;
	opacity:1;
	filter:alpha(opacity=100)
}
.listTop01 .topIconBg p.i05s {
	background-position:-358px -89px;
	z-index:1;
	opacity:1;
	filter:alpha(opacity=100)
}
.listTop01 .topIcon ul li:hover p {
	-webkit-box-shadow:0 3px 5px #c69c6d;
	-moz-box-shadow:0 3px 5px #c69c6d;
	-ms-box-shadow:0 3px 5px #c69c6d;
	box-shadow:0 3px 5px #c69c6d
}
.text {
	width:100%;
	text-align:center;
	color:#999;
	height:22px;
	line-height:22px
}
.topIcon ul li:hover .text {
	color:#c69c6d
}
.listTop02 {
	width:336px;
	height:155px;
	border-right:1px solid #e3e3e3;
	border-left:1px solid #fff
}
.listTop02 ul {
	width:264px;
	height:125px;
	padding:30px 0 0 22px
}
.listTop02 ul li {
	width:107px;
	height:104px;
	background:url(imagesNew/globalPic/small_tips_bg03.jpg) no-repeat top center;
	position:relative;
	float:left;
	margin-left:25px;
	display:inline
}
.weixinPic {
	width:86px;
	height:86px;
	position:absolute;
	top:10px;
	left:10px
}
.toptext,.bottomtext {
	width:84px;
	height:20px;
	line-height:24px;
	color:#999;
	position:absolute;
	left:11px;
	text-align:center
}
.toptext:hover,.bottomtext:hover {
	color:#999
}
.toptext {
	top:-14px
}
.bottomtext {
	bottom:-8px
}
.listTop03 {
	width:245px;
	height:155px;
	border-right:1px solid #e3e3e3;
	border-left:1px solid #fff
}
.listTop03 p {
	width:170px;
	height:100px;
	margin:30px auto 0 auto;
	overflow:hidden
}
.listTop03 p a {
	display:inline-block;
	width:85px;
	float:left;
	text-align:center;
	line-height:25px;
	height:25px;
	overflow:hidden
}
.footerListBottom {
	width:100%;
	background-color:#fff;
	border-top:1px solid #e3e3e3;
	padding-top:1px
}
.footerListBottom01 {
	height:35px;
	width:100%;
	line-height:35px;
	color:#999;
	text-align:center;
	background-color:#eaeaea
}
.skSmallStyle .navCon,.skSmallStyle .headerCon {
	padding-left:200px;
	width:790px
}
.skSmallStyle .mainNavCon {
	width:810px
}
.skSmallStyle .navLeft li {
	width:90px
}
.skSmallStyle .navListDown {
	width:91px
}
.skSmallStyle .navRight li {
	padding:0 10px
}
.skSmallStyle .post {
	width:990px
}
.skSmallStyle .contanierBox {
	width:990px;
	overflow:hidden;
	margin:0 auto
}
.skSmallStyle .hotNav ul {
	margin-left:-20px;
	position:relative
}
.skSmallStyle .hotNav ul li {
	margin-left:20px
}
.skSmallStyle .clubConRight,.skSmallStyle .clubConRight ul {
	width:270px;
	position:relative;
	z-index:2
}
.skSmallStyle .conRightShow {
	display:none
}
.skSmallStyle .conlist02 {
	width:389px
}
.skSmallStyle .conlist05 {
	width:190px
}
.skSmallStyle .process {
	width:420px;
	margin-left:27px
}
.skSmallStyle .processList li.space {
	width:14px
}
.skSmallStyle .footerListTop {
	width:990px
}
.skSmallStyle .listTop01 {
	width:500px
}
.skSmallStyle .listTop01 .topIcon ul li.hr {
	width:20px
}
.skSmallStyle .listTop01 .topIcon {
	width:500px;
	position:relative;
	overflow:hidden
}
.skSmallStyle .listTop02 {
	width:300px
}
.skSmallStyle .listTop02 ul li {
	margin-left:15px
}
.skSmallStyle .listTop03 {
	width:183px
}
.qucikLogin {
	display:none;
	width:610px;
	height:440px;
	padding:10px;
	position:fixed;
	left:50%;
	top:50%;
	margin-left:-316px;
	margin-top:-230px;
	filter:alpha(opacity=30);
	background:#fff;
	background:rgba(255,255,255,0.30);
	border:1px solid #fff;
	z-index:9998
}
.loginMsg {
	display:none;
	width:610px;
	height:440px;
	background-color:#fff;
	position:fixed;
	position:fixed;
	z-index:9999;
	left:50%;
	top:50%;
	margin-left:-306px;
	margin-top:-220px
}
.loginMsgBox {
	width:524px;
	height:380px;
	padding:20px 42px
}
.msgBox {
	width:230px
}
.msgBox h3 {
	font-size:14px;
	font-weight:bold;
	font-family:microsoft yahei;
	padding-bottom:25px
}
.msgBox p {
	color:#999;
	padding:5px 0
}
.msgBox p.error-n {
	color:#b41212;
	padding-bottom:15px
}
.btnStyle01,.btnStyle02 {
	padding:0 10px;
	line-height:23px;
	height:23px;
	background:url(imagesNew/globalPic/btn_bg_sprite.png) repeat-x;
	display:inline-block;
	margin-right:5px
}
.btnStyle01 {
	background-position:left -222px;
	border:1px solid #cfcfcf;
	color:#5d5d5d
}
.btnStyle02 {
	background-position:left -199px;
	padding:0 15px;
	border:1px solid #dc8200;
	color:#fff
}
.btnStyle02:hover {
	color:#fff
}
.msgBox .btnp {
	padding-top:15px
}
.msgBox .quickInput {
	width:208px;
	padding:9px 10px;
	-webkit-border-radius:0;
	border-radius:0
}
.boxReg {
	border-right:1px solid #dbd4cc;
	padding-right:30px
}
.boxLogin {
	padding-left:30px
}
.newblackMask {
	display:none;
	position:absolute;
	top:0;
	left:0;
	z-index:9997;
	width:100%;
	height:100%;
	background-color:#000;
	cursor:pointer
}
.secondHeader {
	height:70px;
	width:100%;
	filter:alpha(opacity=80);
	background-color:#000;
	background:rgba(0,0,0,0.8)
}
.secondHeaderCenter {
	width:1200px;
	margin:0 auto
}
.sheaderLeft {
	width:30px
}
.sheaderRight a {
	display:inline-block;
	line-height:70px;
	padding:0 10px
}
.sheaderRight a:hover {
	color:#c69c6d
}
.APP_downLoad {
	display:none;
	cursor:pointer;
	width:52px;
	height:70px;
	padding:10px 5px 5px 5px;
	border:1px solid #cecece;
	border-radius:5px;
	position:fixed;
	_position:absolute;
	right:0;
	bottom:120px;
	background-color:#fff;
	z-index:9999
}
.backToTop {
	width:47px;
	height:97px;
	DISPLAY:none;
	background:url(http://pic13.secooimg.com/style/backtotop.png);
	position:fixed;
	_position:absolute;
	right:0;
	bottom:0;
	z-index:88888;
	_bottom:"auto";
	cursor:pointer
}
.nheader {
	width:100%;
	position:relative;
	z-index:62;
	background:#fff;
	height:169px
}
.topBar {
	width:100%;
	height:30px;
	background:#fff;
	position:relative;
	z-index:90;
	border-bottom: 1px solid #F5F5F5;
}
.topBarCon,.navBarCon {
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
	width:1200px;
	margin:0 auto;
	position:relative
}
.skSmallStyle .topBarCon,.skSmallStyle .navBarCon {
	width:990px;
	float:right
}
.skSmallStyle .mtsBanner a.move_left {
	margin-left:-314px
}
.skSmallStyle .mtsBanner a.move_right {
	margin-left:452px
}
.buyCart i {
	display:inline-block;
	width:28px;
	height:20px;
	vertical-align:middle;
	background:url(http://pic.secooimg.com/imagesPic/homePic/pic29.png?t=20150116) no-repeat -33px -212px
}
.buyCart a:hover i {
	background-position:-148px -212px
}
.topBarCon {
	position:relative;
	height:30px
}
.topBarCon a:hover {
	color:#c69c6d
}
.navBarCon {
	position:relative;
	z-index:2
}
.nlogo {
	width:100px;
	height:81px;
	position:absolute;
	left:0;
	top:0;
	overflow:hidden
}
.topBarLogin {
	color:#666
}
.topBarLogin a {
	line-height:30px;
	line-height:29 px\9;
	padding:0 5px;
	color:#999
}
.topBarRight {
	width:auto
}
.topBarRight li {
	float:left;
	white-space:nowrap;
	padding:0 10px;
	line-height:30px;
	color:#999
}
.skSmallStyle .topBarRight li {
	padding:0 5px;
	_padding:0 6px;
	*padding:0 6px
}
.skSmallStyle .topBarRight li.last .arrow {
	right:0
}
.skSmallStyle .listOrderBot ul li {
	padding:0
}
.topBarRight li a {
	color:#999
}
.topBarRight li.last {
	position:relative
}
.topBarRight li.last .arrow {
	position:absolute;
	right:5px;
	top:0;
	*top:2px
}
.topBarRight li.menu-hover .arrow {
	border-top-color:#c69c6d
}
.topBarRight li.menu-hover a {
	color:#c69c6d
}
.lastLi {
	position:absolute;
	top:26px;
	left:-15px;
	width:105px;
	display:none
}
.lastLiTip {
	height:4px;
	width:100%;
	text-align:center;
	position:relative
}
.arrows {
	width:0;
	height:0;
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	border-bottom:4px solid #fff;
	font-size:0;
	line-height:0;
	position:absolute;
	top:0
}
.lastLiCon {
	width:75px;
	height:95px;
	background-color:#fff;
	padding:10px 15px;
	box-shadow:2px 3px 5px #333
}
.lastLiCon .lastText {
	color:#666;
	padding-top:5px;
	height:14px;
	line-height:14px;
	text-align:center
}
.myOrder {
	margin-right:10px
}
.myOrder .lastLi {
	width:230px;
	box-shadow:0 5px 20px #080103
}
.myOrder .lastLiTip {
	height:4px;
	width:100%;
	text-align:center;
	position:relative
}
.myOrder .lastLiTip .arrows {
	left:50px
}
.lastLiOrder {
	width:100%;
	padding:6px 0 7px 0;
	background:#fff
}
.listOrderTop {
	margin:0 8px;
	padding-bottom:12px;
	border-bottom:1px solid #eaeaea;
	overflow:hidden
}
.listOrderTop p {
	margin-bottom:-9999px;
	padding-bottom:9999px
}
.listOrderTop .flp {
	width:94px;
	padding-left:12px;
	border-right:1px solid #efefef
}
.listOrderTop .frp {
	width:75px;
	padding-left:20px
}
.topBarRight li.menu-hover .listOrderTop a {
	width:75px;
	display:block;
	color:#666;
	overflow:hidden
}
.topBarRight li.menu-hover .listOrderTop a:hover {
	color:#c69c6d
}
.listOrderBot {
	padding:0 8px;
	overflow:hidden
}
.listOrderBot h6 {
	line-height:1;
	padding:20px 0 10px 5px;
	color:#666
}
.listOrderBot ul {
	width:110%
}
.listOrderBot ul li {
	width:48px;
	height:48px;
	border:1px solid #eaeaea;
	float:left;
	padding:0;
	margin-right:5px
}
.navList {
	width:915px;
	margin-left:-11px
}
.navList li {
	float:left;
	white-space:nowrap;
	padding:0 14px;
	text-align:center;
	height:51px;
	line-height:51px;
	position:relative
}
.navList li .arrow {
	position:absolute;
	right:3px;
	top:10px;
	*top:13px
}
.skSmallStyle .navList {
	margin-left:-3px
}
.skSmallStyle .navList li {
	padding:0 6px
}
.skSmallStyle .navList li .arrow {
	position:absolute;
	right:-3px;
	top:10px;
	*top:23px
}
.navList li a {
	color:#333;
	display:block;
	width:100%;
	height:51px
}
.navList li a:hover {
	color:#9c003f
}
.navList li a span {
	font-family:Microsoft Yahei;
	font-size:14px
}
.navList li a .en {
	display:none
}
.hwNavItems {
	padding-right:0
}
.search {
	width:405px;
	height:37px;
	padding-top:28px
}
.searchBox {
	border:1px solid #f6f6f6;
	border-right:0;
	*height:35px
}
.typeInputFocus {
	border:1px solid #f09108;
	border-right:0
}
.regFixed {
	width:100%;
	height:60px;
	background:rgba(0,0,0,0.8);
	background:#000\9;
	filter:alpha(opacity=80);
	position:fixed;
	left:0;
	bottom:0;
	z-index:8888
}
.regFixedCon {
	width:990px;
	margin:0 auto;
	padding:12px 0
}
.regFpic {
	display:inline-block;
	height:36px;
	vertical-align:top
}
.regFpic img {
	margin-right:25px;
	display:inline
}
.regFa {
	width:202px;
	height:41px;
	background:url(http://pic14.secooimg.com/imagesPic/shopDetails/regPic_01.jpg) no-repeat 0 0;
	display:inline-block;
	text-indent:-999px;
	overflow:hidden;
	vertical-align:top
}
.regFa:hover {
	background-position:0 -41px
}
.regFcl {
	display:inline-block;
	width:26px;
	height:26px;
	background:url(http://pic10.secooimg.com/imagesPic/shopDetails/regPic_06.png) no-repeat 0 -26px;
	text-indent:-999px;
	overflow:hidden;
	vertical-align:top;
	margin-top:8px;
	margin-left:25px
}
.regFcl:hover {
	background-position:0 0
}
.regfText {
	display:none;
	width:610px;
	height:440px;
	background-color:#f3f3f3;
	position:fixed;
	position:fixed;
	z-index:9999;
	left:50%;
	top:50%;
	margin-left:-306px;
	margin-top:-220px
}
.regfTexts {
	padding:10px;
	text-align:center
}
.regFpop {
	display:none;
	width:610px;
	height:440px;
	padding:10px;
	position:fixed;
	left:50%;
	top:50%;
	margin-left:-316px;
	margin-top:-230px;
	filter:alpha(opacity=30);
	background:#fff;
	background:rgba(255,255,255,0.30);
	border:1px solid #fff;
	z-index:9998
}
.regFtits {
	width:100%;
	padding:20px 0
}
.regFtits p {
	text-align:center;
	color:#9e0000;
	font-family:microsoft yahei;
	font-size:16px;
	line-height:25px;
	height:25px
}
.regFtits p a {
	color:#c69c6d;
	font-family:microsoft yahei;
	font-size:14px
}
.regfBack {
	width:255px;
	height:51px;
	display:inline-block;
	*display:block;
	background:url(http://pic11.secooimg.com/imagesPic/shopDetails/regPic_09.jpg) no-repeat 0 0;
	text-indent:-999px;
	overflow:hidden;
	margin-top:30px
}
.regfBack:hover {
	background-position:0 -51px
}
.regfClose {
	width:29px;
	height:29px;
	background:url(imagesNew/globalPic/iconBgs.png) no-repeat left -517px;
	position:absolute;
	top:-20px;
	right:-20px;
	-webkit-transition:.2s ease-out;
	-moz-transition:.2s ease-out;
	transition:.2s ease-out;
	cursor:pointer
}
.regfClose:hover {
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg)
}
.Chead-mySecooA,.Chead-myhome,.Chead-service {
	display:none;
	box-shadow:0 0 3px #eee
}
.turl,.turlb {
	color:#999;
	line-height:30px
}
.turl {
	padding:0 18px 0 8px;
	position:relative;
	z-index:2
}
.turlb {
	padding:0;
	margin-right:6px
}
a.nHover {
	color:#463b7f;
	background:#f5f5f5;
	box-shadow:0 0 3px #eee;
	border-left:1px solid #eee;
	border-right:1px solid #eee;
	padding:0 17px 0 7px
}
#Chead_myhome {
	padding:0 7px 0 10px
}
a.nHover i {
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	border-bottom:4px solid #463b7f
}
a:hover.turl {
	color:#463b7f
}
.turl i {
	position:absolute;
	top:14px;
	right:8px;
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	border-bottom:4px solid #999;
	display:inline-block;
	width:0;
	height:0;
	font-size:0;
	overflow:hidden;
	font-size:0;
	line-height:0
}
.topBarCon div {
	position:absolute;
	background:#f5f5f5;
	top:28px;
	border:1px solid #eee;
	z-index:1
}
.topBarCon div a,.topBarCon div span {
	display:block;
	text-align:left;
	color:#999;
	line-height:22px
}
.topBarCon div span {
	line-height:16px;
	font-family:"宋体";
	margin-top:2px
}
.topBarCon span a {
	color:#999
}
.topBarCon div a:hover,.topBarCon span a:hover {
	color:#463b7f
}
.Chead-myhome {
	width:90px;
	right:302px
}
.Chead-service {
	width:88px;
	right:133px;
	padding:0 0 5px 11px
}
.Chead-mySecooA {
	width:228px;
	right:97px;
	padding:6px 0 7px 2px
}
.Chead-mySecooA h1 p a,.Chead-mySecooA ol p a {
	text-align:left
}
.Chead-mySecooA .flp {
	width:94px;
	padding-left:12px;
	border-right:1px solid #e6e6e6
}
.Chead-mySecooA .frp {
	width:75px;
	padding-left:20px
}
.Chead-mySecooA .listOrderBot i {
	line-height:1;
	padding:20px 0 10px 5px;
	color:#666;
	font-style:normal;
	display:block
}
.Chead-cart b {
	background:url(home/p_07_new.png) no-repeat -1px 0;
	display:inline-block;
	margin:0 4px 0 0;
	width:13px;
	height:12px;
	height:12px;
	vertical-align:text-bottom
}
.searchBar {
	width:1200px;
	margin:0 auto;
	height:133px;
	position:relative;
	z-index:89
}
.Chead-logo {
	position:absolute;
	left:50%;
	top: 30px;
	width:205px;
	height: 70px;
	margin-left:-615px
























}
.Chead-logo a.logo {
	display:block;
	background: url(../images/logo.png) no-repeat;
	margin:18px;
	width: 180px;
	height:100px;
	position:absolute;
	left:0;
	top:0














}
.Chead-logo img {
	position:absolute;
	right:0;
	top:18px
}
.navApps {
	position:absolute;
	right:1px;
	top:30px;
	z-index:10;
	background:url(../images/bbj_Eng.jpg) no-repeat;
	width:445px;
	height:35px;
	overflow:hidden
}
.navApps h1,.navApps span {
	position:absolute;
	bottom:2px;
	line-height:32px;
	font:bold 12px/24px "宋体";
	color:#463b7f;
	text-align:center;
	width:100%
}
.head_navBar {
	position: absolute;
	right: 41px;
	bottom:-3px;
	overflow: hidden;
	width: 926px;
	height: 45px;
	z-index: 4;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.head_navBar {
		background-position:54px -1px
	}
}
.head_navBar a {
	font-size:0
}
.head_navBar a span {
	display:inline-block;
	*zoom:1;
	*display:inline;
	margin:20px 40px 0 0;
	height:25px;
	cursor:pointer;
	*position:relative;
	vertical-align:middle
}
.head_navBar a:hover span {
	*zoom:1;
	*display:inline
}
.head_navBar a:hover span i {
	color:#463b7f
}
.head_navBar a span i {
	color:#333;
	font:14px/20px "microsoft yahei"
}
.head_navBar a span b {
	color:#999;
	font:11px/11px tahoma
}
.head_navBar a span i,.head_navBar a span b {
	display:block;
	text-align:center
}
.searchCont {
	position:absolute;
	left:249px;
	top:30px;
	z-index:5
}
.searchHot {
	position:absolute;
	left:249px;
	top:70px;
	z-index:4;
	font-size:0
}
.searchHot a {
	color:#999;
	display:inline-block;
	*zoom:1;
	*display:inline;
	margin-right:25px
}
.searchHot a:hover {
	color:#e93b39;
	text-decoration:underline
}
.searchList {
	width:71px;
	height:31px
}
.listCon {
	height:31px;
	line-height:31px;
	color:#4c4c4c;
	text-align:center
}
.arrow-search {
	position:absolute;
	top:14px;
	right:5px
}
.listUp span {
	float:left;
	position:relative;
	display:inline-block;
	width:60px
}
.searchInput {
	position:relative;
	height:31px;
	border:2px solid #5A3090
}
.searchInput span {
	position:absolute;
	left:10px;
	top:0;
	height:24px;
	line-height:24px;
	cursor:text;
	color:#767676
}
.searchInput .typeInput {
	width:392px;
	height:27px;
	line-height:20px;
	line-height:27px\9;
	padding:2px 10px 2px 10px;
	border:0;
	*margin-top:-1px;
	_margin-top:-1px;
	color:#999;
	font-family:"宋体"
}
.nbtn01 {
	width:69px;
	height:35px;
	background:#5b4f9d;
	background-image:-webkit-linear-gradient(#5A3090,#4b4082);
	background-image:-moz-linear-gradient(#5A3090,#4b4082);
	background-image:-ms-linear-gradient(#5A3090,#4b4082);
	background-image:-o-linear-gradient(#5A3090,#4b4082);
	background-image:linear-gradient(##5A3090,#4b4082);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='##5A3090',endColorstr='#4b4082');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='##5A3090',endColorstr='#4b4082')";
	text-align:center;
	line-height:33px;
	display:inline-block;
	font-size:14px;
	color:#fff;
	text-shadow:1px 2px 1px #390010;
	font-family:"microsoft yahei"
}
.nbtn01:hover {
	color:#fff;
	background:#463b7f
}
.searchList .menu-hover {
	background-color:#fff;
	position:static!important
}
.ac_results {
	border-left:2px solid #463b7f;
	border-bottom:2px solid #463b7f;
	border-right:2px solid #463b7f;
	padding:0 1px;
	background-color:white;
	overflow:hidden;
	z-index:99999;
	margin-left:-1px
}
.ac_results ul {
	width:100%;
	list-style-position:outside;
	list-style:none;
	padding:0;
	margin:0
}
.ac_results li {
	margin:0;
	padding:5px;
	cursor:default;
	display:block;
	font:menu;
	font-size:12px;
	line-height:16px;
	overflow:hidden
}
.ac_loading {
	background:white url('indicator.gif') right center no-repeat
}
.ac_over {
	background-color:#ededed
}
.ac_over .ellipsis:after {
	background:#ededed
}
.ellipsis {
	overflow:hidden;
	height:88px
}
.ellipsis:before {
	content:"";
	float:left;
	width:5px;
	height:88px;
	line-height:18px
}
.ellipsis>*:first-child {
	float:right;
	width:100%;
	margin-left:-5px
}
.ellipsis:after {
	content:".....";
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	float:right;
	position:relative;
	top:-26px;
	left:98%;
	width:2em;
	margin-left:-2em;
	padding-right:1px;
	text-align:right;
	background:-webkit-gradient(linear,left top,right top,from(rgba(255,255,255,0)),to(white),color-stop(50%,white));
	background:-moz-linear-gradient(to right,rgba(255,255,255,0),white 50%,white);
	background:-o-linear-gradient(to right,rgba(255,255,255,0),white 50%,white);
	background:-ms-linear-gradient(to right,rgba(255,255,255,0),white 50%,white);
	background:#fff
}
.navStyle {
	width:55px;
	height:30px;
	position:absolute;
	right:128px;
	bottom:13px;
	z-index:11;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out
}
.navStyle a {
	display:block;
	width:53px;
	height:28px;
	background:url() no-repeat
}
.float-list {
	position:absolute;
	top:135px;
	left:50%;
	margin-left:-600px;
	z-index:91
}
.orderDivMain {
	width:183px;
	height:34px;
	background:#5A3090
}
.orderDivMain a,.orderDivMain a:hover {
	display:block;
	width:180px;
	height:34px;
	font:normal 14px/32px "microsoft yahei";
	text-align:center;
	color:#fff;
	text-indent:-2px
}
.orderDivMain a i {
	position:absolute;
	top:15px;
	right:46px;
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	border-bottom:4px solid #fff;
	display:inline-block;
	width:0;
	height:0;
	font-size:0;
	overflow:hidden;
	font-size:0;
	line-height:0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out
}
.orderDivMainOn a i {
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	border-bottom:4px solid transparent\9;
	border-top:4px solid #fff\9;
	*border-bottom:4px solid transparent;
	*border-top:4px solid #fff
}
@media screen and (-ms-high-contrast:active),(-ms-high-contrast:none) {
	.orderDivMainOn a i {
		border-bottom:4px solid transparent;
		border-top:4px solid #fff
	}
}
.orderDivId {
	background: #f7f5fa;
	position:relative;
	display:none;
	padding-bottom:2px;*
	width:180px;
	padding: 20px 0 16px;
}
.orderDivId dl {*
	width:180px;*
	height:64px;*
	z-index:61;*zoom:1;
	overflow:hidden;
	background: #f7f5fa;
}
.orderDivId dl dt {

	overflow:hidden;
	width:175px;
	margin:0 2px;
	padding: 0 0 0 4px;
}
.orderDivId dl dt strong a {
	display: block;
    color: #5A3090;
    font: normal 12px/24px "microsoft yahei";
    height: 40px;
    margin-top: 19px;
	
}
.orderDivId dl dt strong a .icon{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;}
	.orderDivId dl dt strong a:hover .icon{position:relative;-webkit-transform-origin:top center;transform-origin:top center;-webkit-animation-name:swing;animation-name:swing}

.orderDivId dl dt p {
	margin-top:10px;
	font-size:0;
	white-space:nowrap
}
.orderDivId dl dt p a {
	color:#ccc;
	display:inline-block;
	*zoom:1;
	*display:inline;
	padding-right:12px;
	[;
	padding-right:10px;
	]
}
.orderDivId dl dd {
	visibility:hidden;
	top:2px;
	left:180px;
	background:#fff;
	position:absolute;
	width:660px;
	border-top:2px solid #433b7d;
	border-right:2px solid #433b7d;
	border-bottom:2px solid #433b7d;
	padding:0 25px 0 28px;
	min-height:420px;
	*height:auto;
	
}
.orderDivId dl dd strong {
	display:block;
	padding-top:40px;
	font-size:12px;
	font-weight:bold;
	color:#463b7f;

}
.float-list-cont {
	padding-top:14px;
	line-height:17px;
	font-size:0
}
.float-list-cont a {
	display:inline-block;
	*zoom:1;
	*display:inline;
	color:#AC48AD
}
.float-list-cont a:hover,.orderDivId dl.hov dt p a:hover {
	color:#d32220;
	text-decoration:underline
}
.float-list-cont a:hover {
	*text-decoration:none
}
.float-list-cont a:hover em {
	color:#333;
	text-decoration:none
}
.float-list-cont a em {
	display:inline-block;
	*zoom:1;
	*display:inline;
	padding:0 6px 0 7px
}
.float-list-btn {
	font-size:0;
	padding-top:18px
}
.float-list-btn a {
	display:inline-block;
	*zoom:1;
	*display:inline;
	width:120px;
	height:28px;
	background:#5A3090;
	color:#fff;
	text-align:center;
	line-height:26px;
	margin:0 20px 0 0
}
.float-list-btn a:hover {
	background:#7f69b3
}
.orderDivId dl dd li {
	background: url(../images/line_1.jpg) repeat-x 0 bottom;
	padding-bottom:14px;
	margin-bottom:9px
}
.orderDivId dl dd li.no_b {
	background:0
}
.orderDivId dl.odd {
	background:#382f6b
}
.orderDivId dl.hov dd {
	visibility:visible;
}
.orderDivId dl.hov dt {
	background:#fff;
	width:175px;
	margin:0 0 0 2px;
	
}
.orderDivId dl.webfLast dt {
	height:50px
}
.orderDivId dl.hov dt strong a {
	color:#382f6b
}
.orderDivId dl.hov dt p a {
	color:#333
}
.n-footer {
	width:100%;
	background-color:#f5f5f5;
	box-shadow:1px 0 3px rgba(240,234,237,.34);
	position:relative
}
.n-footer .service,.footer-nav .bd,.aboat-bd {
	width:1200px;
	margin:0 auto;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out
}
.n-footer .service {
	padding:21px 0 25px;
	
}
.n-footer .service dl {
	width:295px;
	float:left
}
.n-footer .service dt {
	font:12px "microsoft yahei";
	padding:6px 0 11px
}
.n-footer .service dd {
	line-height:21px
}
.n-footer .service dd div.txt {
	font-family:"microsoft yahei";
	line-height:16px;
	margin-bottom:10px
}
.n-footer .service dd a,.n-footer .service dd span {
	color:#999;
	font-family:"microsoft yahei"
}
.n-footer .service dd a:hover {
	color:#463b7f
}
.n-footer .service dd span {
	display:inline-block;
	*zoom:1;
	*display:inline
}
.n-footer .service dd a:hover {
	color:#463b7f
}
.n-footer .service dl.first {
	padding-left:10px
}
.n-footer .service dl.last {
	width:336px
}
.pr65 {
	padding-right:65px
}
.footer-nav {
	width:100%;
	height:23px;
	background:#5A3090;
	color:#f5f5f5;
	padding:9px 0 7px
}
.footer-nav li {
	float:left;
	padding-left:140px;
	font:14px/23px "microsoft yahei"
}
.footer-nav li i {
	background:url(../images/p_04.png) no-repeat;
	height:23px;
	display:inline-block;
	margin-right:5px;
	vertical-align:middle;
	position:relative;
	top:-2px;
	*top:0
}
.footer-nav li.nf-1 i {
	width:28px;
	background-position:0 0
}
.footer-nav li.nf-2 i {
	width:28px;
	background-position:-49px 0
}
.footer-nav li.nf-3 i {
	width:26px;
	background-position:-49px 0
}
.footer-nav li.nf-4 i {
	width:18px;
	background-position:-83px 0
}
.footer-nav li.nf-5 i {
	width:27px;
	background-position:-104px 0
}
.footer-aboat {
	padding:10px 0 20px;
	color:#999;
	background:#fff;
	height:30px;
}
.aboat-bd {
	position:relative
}
.footer-aboat .links a {
	padding:0 10px;
	color:#999;
	font-family:"microsoft yahei";
	float:left
}
.footer-aboat .links a:hover {
	color:#463b7f
}
.footer-aboat .links p,.footer-aboat .copyright p {
	padding-bottom:14px
}
.footer-aboat .links p span {
	display:none;
	* zoom:1;
	margin:0 5px 0 6px;
	border-right:1px solid #999;
	vertical-align:-6%
}
.footer-aboat .copyright p span {
	font-family:"microsoft yahei";
	padding:0 10px;
	color:#999
}
.authentication a {
	padding:0 10px;
	float:left;
	margin-top:3px
}
.footer-aboat ul.ewm {
	position:absolute;
	top:0px;
	right:10px
}
.footer-aboat ul.ewm li {
	float:left;
	width:110px;
	text-align:center
}
.footer-aboat ul.ewm li p {
	padding:10px 0 0;
	color:#333;
	font-family:"microsoft yahei"
}
.footer-aboat ul.ewm li.last {
	margin-left:20px
}
.skSmallStyle .searchBar {
	margin:0 auto;
	width:990px
}
.skSmallStyle .navApps {
	display:none
}
.skSmallStyle .head_navBar {
	width:952px;
	left:250px;
	right:auto
}
.skSmallStyle .navStyle {
	right:10px;
	bottom:73px
}
.skSmallStyle #navExpand {
	left:30px
}
.skSmallStyle .navItemCons {
	width:990px
}
.skSmallStyle .float-list {
	margin-left:-495px
}
.skSmallStyle .Chead-logo {
	left:-18px;
	margin:0
}
.skSmallStyle .nav-slide {
	left:88px
}
.skSmallStyle .nav-jx {
	width:71px
}
.skSmallStyle .service {
	background-position:500px 0
}
.ac_results {
	padding:0;
	border:2px solid #463b7f;
	border-top:0;
	background-color:transparent;
	overflow:hidden;
	z-index:99999
}
.skSmallStyle .topBar {
	width:990px;
	margin:0 auto
}
.skSmallStyle .floorList {
	width:990px
}
.skSmallStyle .fixedOn {
	width:100%
}
.ac_results ul {
	width:100%;
	list-style-position:outside;
	list-style:none;
	padding:0 0 11px 0;
	margin:0;
	background:#fff;
	border-top:2px solid #ededed
}
.ac_results li {
	margin:0 1px;
	padding:2px 10px;
	cursor:default;
	display:block;
	font:normal 12px/22px "宋体";
	overflow:hidden;
	cursor:pointer;
	color:#666
}
.ac_results li.ac_over dt {
	*line-height:22px
}
.ac_results li dd {
	width:75%;
	overflow:hidden
}
.ac_results li dd a {
	color:#666;
	font:bold 12px/22px "宋体"
}
.ac_results li dd a strong {
	font-weight:normal
}
.ac_results li dd a b {
	color:#e93b39;
	font-weight:bold
}
.ac_results li.fg {
	background-repeat:repeat-x;
	background-position:0 bottom
}
.ac_results li.ac_over dd a {
}
.ac_results li dd a span {
	display:inline-block;
	*zoom:1;
	*display:inline;
	height:16px;
	line-height:16px;
	margin-left:4px;
	padding:0 3px;
	background:#e93b39;
	color:#fff;
	vertical-align:0
}
.ac_results li.ac_over dl {
	background-repeat:repeat-x;
	background-position:0 top
}
.ac_results li dl {
	padding:10px 0px 13px;
	margin-left:-10px;
	margin-top:2px;
	border-top:1px dotted #ccc;
	clear:both;
	width:110%
}
.ac_results li dl strong {
	display:inline-block;
	height:88px;
	overflow:hidden;
	width:289px;
	color:#666;
	font-weight:normal;
	vertical-align:middle;
	margin-left:12px;
	line-height:21px
}
.ac_odd {
	background:#fff
}
.ac_over {
	background-color:#ededed;
	color:#463b7f
}
.ac_results li dt {
	color:#999
}
.ac_results li dl img {
	padding-left:10px
}
.skSmallStyle .head_navBar a span {
	margin:20px 30px 0 0
}
.ac_results li.ac_over .his a,.ac_results li .hist a,.ac_results li.ac_over .hist a {
	font-weight:normal;
	color:#463b7f
}
.search-close {
	background:url(../images/search-close.png) no-repeat;
	display:none;
	width:10px;
	height:10px;
	position:absolute;
	right:10px;
	top:50%;
	margin-top:-5px;
	cursor:pointer
}
.search-close:hover {
	background-position: left bottom
}
.searchInput label {
	position:absolute;
	background:#fff;
	height:27px;
	line-height:27px;
	padding:2px 0 2px 0;
	width:100%;
	display:block;
	font-family:"宋体";
	text-indent:10px;
	left:0;
	top:0;
	color:#666;
	cursor:text
}
.colore93b39 {
	color:#e93b39;
}


.price-box{ display: none;}
.act .price{display: none;}