﻿.theme-border, .table-bordered {
    border-top: solid 2px #5A3090
}

.theme-color {
    color: #5A3090
}

.title-border {
    margin-bottom: 40px;
    position: relative;
    text-align: center
}

.title-border:before, .title-border:after {
    content: "";
    position: absolute;
    top: 50%;
    left: -150%;
    width: 300%;
    height: 1px;
    background: #ddd
}

.title-border > span {
    background: #fff;
    position: relative;
    z-index: 1;
    padding-left: 14px;
    padding-right: 15px
}

@media only screen and (max-width: 767px) {
    .title-border {
        margin-bottom: 15px
    }
}

.theme-block {
    border: solid 1px #dfdfdf;
    border-top: solid 2px #5A3090;
    padding: 30px 29px;
    margin-bottom: 60px
}

.no-theme-block {
    border: none;
    padding: 0;
    margin-bottom: 0
}

.table-bordered thead > tr > th, .table-bordered thead > tr > td {
    font-size: 16px;
    line-height: 1.667em;
    color: #333;
    text-transform: uppercase;
    font-weight: 500
}

@media only screen and (max-width: 991px) {
    .theme-block {
        padding: 15px;
        margin-bottom: 30px
    }
}

.table-bordered thead > tr > th, .table-bordered thead > tr > td {
    border-bottom-width: 1px
}

.table-bordered th, .table-bordered td {
    border: solid 1px #dfdfdf
}

.ink {
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    z-index: 9999
}

.animate {
    -webkit-animation: ripple 0.65s linear;
    -webkit-animation: ripple 0.65s linear;
    -moz-animation: ripple 0.65s linear;
    -ms-animation: ripple 0.65s linear;
    -o-animation: ripple 0.65s linear;
    animation: ripple 0.65s linear
}

@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        -moz-transform: scale(2.5);
        -o-transform: scale(2.5);
        -ms-transform: scale(2.5);
        -webkit-transform: scale(2.5);
        transform: scale(2.5)
    }
}

@-moz-keyframes ripple {
    100% {
        opacity: 0;
        -moz-transform: scale(2.5);
        -o-transform: scale(2.5);
        -ms-transform: scale(2.5);
        -webkit-transform: scale(2.5);
        transform: scale(2.5)
    }
}

@-o-keyframes ripple {
    100% {
        opacity: 0;
        -moz-transform: scale(2.5);
        -o-transform: scale(2.5);
        -ms-transform: scale(2.5);
        -webkit-transform: scale(2.5);
        transform: scale(2.5)
    }
}

@keyframes ripple {
    100% {
        opacity: 0;
        -moz-transform: scale(2.5);
        -o-transform: scale(2.5);
        -ms-transform: scale(2.5);
        -webkit-transform: scale(2.5);
        transform: scale(2.5)
    }
}

.icon-sprite, .icon-sprite-for-modules {
    background-image: url(../images/icon_sprite.png);
    background-repeat: no-repeat;
    text-indent: -9999px
}

.icon-sprite-for-modules {
    background-image: url(../images/icon_sprite.png)
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 4 / 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .icon-sprite, .icon-sprite-for-modules {
        background-image: url(../images/icon_sprite@2x.png);
        background-size: 100px 1000px
    }
}

.footer .footer-col h4, .footer .footer-col .block-title strong, .footer .block-title strong {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    display: block;
    padding: 0 0 35px;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff
}

.footer-container {
    background: #5A3090;
    padding: 75px 0;
    color: #fff
}

.footer-container a {
    color: #fff;
    white-space: pre
}

.footer-container a:hover {
    text-decoration: underline
}

.footer {
    clear: both;
    width: 100%
}

.footer .footer-cols-wrapper {
    padding-bottom: 50px;
    margin: 0 -15px 50px;
    position: relative;
    border-bottom: 1px solid #fff
}

.footer .footer-col {
    float: left;
    width: 25%;
    padding: 0 15px;
    position: relative
}

@media only screen and (min-width: 1200px) {
    .footer .footer-col:before {
        content: "";
        position: absolute;
        width: 1px;
        height: 100%;
        right: 45px;
        background: #fff
    }

    .footer .footer-col.last:before {
        display: none
    }

    .footer .footer-col .footer-col-content {
        padding-right: 45px
    }
}

.footer .block-title {
    border: 0;
    padding: 0;
    margin-bottom: 0
}

.footer .links, .footer .footer-col ul {
    padding: 0
}

.footer .links li, .footer .footer-col ul li {
    word-break: break-all;
    line-height: 1.4;
    padding: 0 0 12px
}

.footer .links a:hover, .footer .footer-col ul a:hover {
    text-decoration: underline
}

.footer .block {
    border: none;
    padding: 0;
    margin: 0
}

.footer .block-subscribe {
    margin: 0 0 30px 0
}

.footer .form-subscribe-header {
    margin-bottom: 22px
}

.footer .form-subscribe-header label {
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    text-transform: capitalize
}

@media only screen and (max-width: 767px) {
    .footer .form-subscribe-header label {
        display: none
    }
}

.footer #back-top {
    position: fixed;
    bottom: 40px;
    z-index: 999;
    right: 1%;
    display: none;
    width: 41px;
    height: 41px
}

.footer #back-top span {
    display: block;
    text-align: center;
    width: 45px;
    height: 45px;
    background-color: #5A3090;
    color: #fff;
    transition: all 0.2s ease
}

.footer #back-top span::before {
    display: inline-block;
    font-family: "material-design";
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: "";
    font-size: 30px;
    line-height: 42px
}

.footer #back-top span:hover {
    background-color: #0262d0
}

.footer .block-subscribe .input-box {
    width: 100%;
    padding-top: 0
}

.footer .block-subscribe .input-box .validation-advice {
    position: absolute;
    background: #fff;
    border: solid 1px #dfdfdf;
    padding: 10px;
    z-index: 14;
    border-radius: 4px
}

.footer .block-subscribe .input-text {
    width: 100%;
    border: 0;
    background: #4C1E86;
    height: 43px;
    padding-left: 15px;
    color: #fff;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0
}

@media only screen and (min-width: 768px) {
    .footer .block-subscribe .input-text::-moz-placeholder {
        color: #fff
    }

    .footer .block-subscribe .input-text:-ms-input-placeholder {
        color: #fff
    }

    .footer .block-subscribe .input-text::-webkit-input-placeholder {
        color: #fff
    }
}

.footer .block-subscribe .block-content {
    padding-top: 7px
}

.footer .block-subscribe .block-content:after {
    content: '';
    display: table;
    clear: both
}

.footer .block-subscribe .actions {
    width: 100%;
    margin: 10px 0 0
}

.footer .block-subscribe .actions .button {
    width: 100%;
    border-color: #fff
}

.footer .bugs, .footer address {
    clear: both
}

.footer .bugs {
    display: none
}

.footer .form-language, .footer .currency-switcher, .footer .store-switcher {
    clear: both;
    margin-bottom: 10px
}

.footer .form-language, .footer .currency-switcher {
    display: none
}

.footer address {
    font-size: 11px
}

@media only screen and (max-width: 991px) {
    .footer .footer-col {
        width: 30.20833%;
        padding-right: 0;
        margin-right: 3.125%
    }

    .footer .footer-col.last {
        content: '';
        display: table;
        clear: both;
        padding-top: 20px;
        float: none;
        width: 100%
    }

    .footer .footer-col:nth-child(4) {
        margin-right: 0
    }

    .footer .block-subscribe {
        clear: both;
        float: none;
        margin: 30px auto 15px
    }
}

@media only screen and (max-width: 767px) {
    .footer {
        color: #333
    }

    .footer a {
        color: #5A3090;
        text-transform: uppercase
    }

    .footer .footer-cols-wrapper {
        margin-bottom: 30px;
        padding-bottom: 0
    }

    .footer .footer-col {
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        border-bottom: none;
        border-top: none;
        float: none;
        width: 100%
    }

    .footer .footer-col.last {
        padding: 0
    }

    .footer .footer-col h4, .footer .footer-col .block-title strong {
        display: block;
        width: 100%;
        cursor: pointer;
        border-bottom: 1px solid #ddd;
        padding: 22px 45px 22px 20px
    }

    .footer .footer-col h4:before, .footer .footer-col .block-title strong:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f107";
        position: absolute;
        right: 25px;
        top: 30px
    }

    .footer .footer-col h4.active, .footer .footer-col .block-title strong.active {
        background: #f6f6f6;
        border: 0
    }

    .footer .footer-col h4.active:before, .footer .footer-col .block-title strong.active:before {
        content: "\f106"
    }

    .footer .footer-col .block-subscribe {
        margin: 0
    }

    .footer .footer-col .block-subscribe .input-text {
        background: none;
        color: #8b8b8b;
        border: 1px solid #ddd
    }

    .footer .footer-col-content, .footer .block-content {
        padding: 0 25px 25px;
        border-bottom: 1px solid #ddd;
        background: #f6f6f6
    }
}

.footer .footer-info {
    float: right;
    font-size: 20px;
    text-align: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 0 30px;
    margin: 0 30px
}

.footer .footer-info .footer-info-slog {
    font-size: 12px
}

.footer .footer-info span {
    font-size: 22px;
    margin-right: 10px
}

.footer .footer-info-2 {
    float: right;
    padding-top: 30px
}

.footer .list-icon {
    float: right;
    overflow: hidden;
    text-align: center;
}

.footer .list-icon li {
    float: left;
    margin-left: 20px;
    font-size: 20px
}

.footer .list-icon a:hover {
    opacity: 0.4
}

.footer .footer-info-left {
    float: left
}

.footer .logo-footer {
    display: inline-block;
    margin-bottom: 11px
}

@media only screen and (max-width: 991px) {
    .footer .footer-info {
        margin: 0;
        padding: 0;
        border: 0
    }

    .footer .list-icon {
        float: left
    }
}

@media only screen and (max-width: 767px) {
    .footer-container {
        background: #fff;
        padding-top: 0
    }

    .footer .footer-col h4, .footer .footer-col .block-title strong {
        color: #333
    }

    .footer .logo-footer, .footer .footer-info, .footer .footer-info-2 {
        display: none
    }

    .footer .footer-info-left {
        float: none
    }

    .footer .list-icon {
        float: none;
        padding: 0
    }

    .footer .list-icon li {
        margin: 0 30px 0 0;
        font-size: 23px
    }

    .footer .list-icon a {
        color: #5A3090
    }

    .footer .paypal-logo {
        display: block
    }

    .footer .paypal-logo a {
        display: inline-block
    }
}

.footer .list-icon h4 span {
    font-size: 22px
}
