.au-wrapper {
	color: #1c1c1c;
	padding-top: 2rem;
}

.au-wrapper > .row:last-child {
	margin-bottom: 20px;
}

.au-heading {
	/* color: #0B519F; */
	font-family: "Droid Sans";
	font-size: 40px;
	font-weight: bold;
}

.au-desc {
	font-family: "Roboto Slab";
	font-size: 22px;
	font-weight: normal;
	line-height: 24px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.au-desc-sub {
	font-family: "Roboto Slab";
	font-size: 15px;
	font-weight: normal;
}

.au-vid-area {
	padding-left: 40px;
}

.au-milestones {
	font-family: "Roboto Slab";
	font-size: 15px;
	font-weight: normal;
}

.au-milestones-heading {
	color: #383838;
	font-family: "Droid Sans";
	font-size: 40px;
	font-weight: bold;
}

.au-core-val {
	padding-top: 10px;
	padding-left: 40px;
}

.au-core-val-heading {
	color: #000;
	font-family: "Droid Sans";
	font-size: 24px;
	border-bottom: 2px solid;
	margin-bottom: 20px;
}

.au-core-val-heading + p {
	margin-bottom: 10px;
}

.au-core-val-ul {
	margin-left: 10px;
}

.au-random-row {
	margin-top: 20px;
}

.au-wrapper .kn-about {
	min-height: calc(100vh - 120px - 280px - 40px - 40px);
}

.au-wrapper .kn-about a {
	font-size: 14px;
}