* {
    /* 
        these user-select rules are to enable text selection
        (which is getting disabled by css code coming from an ad (ad-unit@2x.css))
     */
    -webkit-user-select: initial !important;
    -moz-user-select: initial !important;
    -ms-user-select: initial !important;
    user-select: initial !important;
}

html {
    background: none;
}

body {
    -ms-overflow-style: scrollbar;
}

.login-popup .login-wrapper {
    height: 55rem;
}

.login-popup .glyphicon-remove {
    font-size: 18px;
}

.login-popup .login-wrapper .auth-breadcrumb {
    display: none;
}

.category-wrapper .cluster-title div.glyphicon-remove{
    display: none;
}

/************* Breadcrumbs *************/
.breadcrumb {
	padding: 15px 0;
    margin-bottom: 0;
    background-color: transparent;
}

.breadcrumb li {
    display: inline;
	text-transform: uppercase;
	font-family: "Droid Sans";
	color: #9B9B9B;
}

.breadcrumb li > a{
	color: #9B9B9B;
    font-size: 15px;
}

.breadcrumb li+li:before {
    content:"> ";
    position: relative;
    top: 0;
}

.breadcrumb li:last-child a {
    color: #333;
    /*pointer-events: none;*/
    cursor: pointer;
}

ul, li {
    list-style-type: none;
}

button {
    border: none;
    outline: none;
    background: transparent;
    margin: 0;
    padding: 0;
}
button:focus {
    outline: none;
}
/************* Styles Too Flip Polls question and results *************/

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000;
}
    /* flip the pane when hovered */
    .flip-container.flip .flipper {
        transform: rotateY(180deg);
    }

.flip-container, .front, .back {
    width: 100%;
    min-height: 150px !important;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}


/********* Advertisement CSS ***********/
.lb-ads { 
    padding: 10px 0 10px;
}

.lb-ads .ad-title { 
    text-align: center;
    margin-left: 15px;
    margin-top: 10px;
    border-bottom: 2px dotted #858585;
    line-height: 0;
    padding: 0;
}

.lb-ads .ad-title span{ 
    background: #fff;
    padding: 0 7px;
    color: #7D7D7D;
}

.lb-ads .ad-imgs { 
    width: 80%;
    margin: 20px auto;
}

.lb-ads img { 
    width: 100%;
    margin-top: 20px;
}

/************** Advertisement Space **************/
.advertisement-fullpage {
    width: auto;
    /*background-color: #ff0000;*/
    /*background-color: transparent;*/
    /*height: auto;*/
    /*height: 100px;*/
    text-align: center;
    margin: 0 auto;
    padding: 5px 0;
}

/*Community rules*/
.community-rules-wrapper {
    padding-bottom: 5rem;
}

.community-rules-wrapper ul, .community-rules-wrapper li {
    list-style-type: unset;
}

.community-rules-wrapper h1 {
    font-family: "Droid Sans";
    font-size: 40px;
    font-weight: bold;
    color: #0B519F;
}

.community-rules-wrapper .com-rules {
    padding-left: 4rem;
    font-family: "Roboto Slab";
}

.community-rules-wrapper .com-rules ul li {
    line-height: 2;
    color: #1D2345;
}

/********* Common general css **********/
.overflow-hidden {
    overflow: hidden;
}


/************ 404 - Not Found ******************/
.nf-wrapper {
    width: 100%;
    height: 100vh;
}

.nf-wrapper .nf-top {
    background-color: #0B519F;
}

.nf-top {
    width: 100%;
    height: 65vh;
}

.nf-top h1 , .nf-top p {
    margin: 0;
    color: #FFF;
    text-align: center;
    padding: 2px;
    font-size: 16px;
}

.nf-top .nf-top-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.nf-top .nf-top-content h1 {
    font-size: 55px;
    padding: 10px;
}

.nf-top .nf-top-content .nf-search {
    width: 30%;
    margin: 0 auto;
}

.nf-top .nf-top-content .nf-search input {
    margin-top: 5rem;
    border-radius: 5px;
}


.nf-top a {
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
}

.nf-bottom {
    width: 100%;
    height: 35vh;
}

.nf-bottom .nf-info, .nf-bottom .nf-copyright {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #F2F2F2;
}

.nf-wrapper .nf-bottom .nf-info p {
    color: #0B519F;
}

.nf-bottom .nf-info p {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.nf-bottom .nf-cat {
    margin: 0 auto;
}

.nf-bottom .nf-cat ul li {
    padding: 2rem 0;
    font-weight: bold;
}

.nf-bottom .nf-cat ul li a {
    font-size: 17px;
}

.nf-bottom .nf-copyright p {
    text-align: center;
    font-size: 10px;
}

.cnwidget.cnvw .cnitem-item .cnitem-imageicon,
.cnwidget.cnhw .cnitem-item.has-image .cnitem-imageicon {
    z-index: 198 !important;
}

.goto-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: url(../../images/consumer-site/scroll_up.svg) center center / contain no-repeat;
    display: none;
    z-index: 200;
}

@media (max-width: 768px) {

    .nf-top .nf-top-content .nf-search {
        width: 50%;
    }

    .login-popup .login-wrapper {
        height: auto;
    }

    .login-wrapper .sign-in-fb button {
        margin-top: 0;
    }

}