a,
a:hover,
a:focus {
	text-decoration: none;
}

.quick-summary-wrapper .panel-group .panel {
	border-radius: 0px;
}

.quick-summary-wrapper .panel-default {
	border-color: #e6e6e6;
}

.quick-summary-wrapper .panel-default>.panel-heading {
	background-color: #f2f2f2;
	border-color: #e6e6e6;
	color: #010101;
}

.quick-summary-wrapper .panel-title {
	font-weight: 500;
}

.quick-summary-wrapper .panel-title a,
.quick-summary-wrapper .panel-title span {
	font-size: inherit;
}

.quick-summary-wrapper .panel-title .panel-title-inner-container {
	display: block;
}

.quick-summary-wrapper .panel-title .panel-title-inner-container .glyphicon {
	float: right;
    color: #9a9a9a;
    font-size: 1.2rem;
    border: 2px solid #9a9a9a;
    border-radius: 50%;
    padding: 4px;
}

.quick-summary-wrapper .panel-body h4,
.quick-summary-wrapper .panel-body h5 {
	color: inherit;		/* this is for making h4,h5 content inside quick summary area visible (since it is getting color: #FFF; rule from fonts.css) */
}

.article-wrapper {
	font-family: "Roboto Slab";
	padding-right: 10px;
	overflow-y: hidden;
}

.article-wrapper .article-intro {
	font-size: 18px;
	padding-bottom: 2rem;
}

.article-wrapper .article-intro p {
	font-size: inherit;
	font-weight: 300;
	font-color: #000;
}

.article-wrapper h3,
.article-wrapper h4,
.article-wrapper h5 {
	color: inherit;		/* this is for making h3,h4,h5 content inside article-wrapper area visible (since it is getting color: #FFF; rule from fonts.css) */
}

.article-wrapper .listicle-item-title {
    color: #389E60;
    font-size: 2.2rem;
    padding-bottom: 10px;
}

.article-wrapper .listicle-item-title ~ .listicle-item-title {
	/* 
		effectively trying to do
		.listicle-item-title:not(:first-of-type)
		but unfortunately first-of-type does not work on classes (only on elements)
	*/
    padding-top: 20px;
}

.article-wrapper p, 
.article-wrapper p span {
	font-size: 16px;
	font-weight: 400;
	padding-bottom: 1rem;
}

.article-wrapper p iframe, 
.article-wrapper p span iframe {
	height: 370px;
}

.article-wrapper p a {
	font-size: 16px;
    color: #0377b2;
}

.article-wrapper img {
	padding: 15px 15px 15px 0px;
	display: block;
    max-width: 100%;
    height: auto;
}

.article-wrapper ul, .article-wrapper li {
	list-style-type: inherit;
	list-style-position: inside;
}

.consumer-site.ml .article-wrapper p, .consumer-site.ml .article-wrapper p span {
	line-height: 1.7;
}

.article-header-wrapper {
	font-family: "Droid Sans";
	position: relative;
	margin-top:-60px;
}

.article-header-wrapper hr {
	margin-top: 15px;
	margin-bottom: 15px;
}

.article-header-wrapper div.ah-text{
	font-size: 14px;
	color: white;
    position: relative;
    top: -1.5rem;
    left: 5.5rem;
}

.article-header-wrapper .ah-info {
	background: #FFF;
	width: 90%;
	margin: 0 auto;
	padding: 19px 20px 0 20px;
	position: relative;
}

.article-header-wrapper .ah-info:before {
	content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    box-shadow: 1px 1px 2px rgba(126, 117, 117, 0.36);
    right: 0px;
    bottom: 25px;
}

.article-header-wrapper .ah-info:after {
	content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    box-shadow: 1px 1px 2px rgba(126, 117, 117, 0.36);
    left: -2px;
    bottom: 25px;
}

.ah-category {
	font-size: 12px;
	color: #0B519F;
	text-transform: uppercase;
}

.ah-title {
	font-size: 32px;
	line-height: 48px;
	font-weight: bold;
}

.ah-title h1 {
	font-weight: bold;
	line-height: 48px;
	margin: 0;
}

.ah-title.en h1 {
	font-size: 32px;
}

.ah-title.ml h1, .ah-title.kn h1, .ah-title.te h1, .ah-title.ta h1{
	font-size: 30px;
}

.ah-creds {
	font-size: 14px;
	color: #7f7f7f;
	margin-top: 5px;
}

.ah-functions {
	width: 90%;
	margin: 0 auto;
}

.ah-functions > div{
	padding: 0 20px;
	display: inline;
}

.ah-functions .social-media > div, .ah-functions .ar-functions > div {
	width: 30px;
    display: inline-block;
    margin-right: 10px;
}

.ah-functions .ar-views-comments > div {
	/* width: 60px; */
	min-width: 60px;
    display: inline-block;
    margin-right: 10px;
}

.ah-functions div.ar-fb:hover:after {
    content: url(../../images/consumer-site/facebook-hover.png);
    display: block;
    position: absolute;
    bottom: 1.4rem;
    pointer-events: none;
}

.ah-functions div.ar-pin:hover:after {
    content: url(../../images/consumer-site/pinterest-hover.png);
    display: block;
    position: absolute;
    bottom: 1.4rem;
    pointer-events: none;
}

.ah-functions div.ar-tw:hover:after {
    content: url(../../images/consumer-site/twitter-hover.png);
    display: block;
    position: absolute;
    bottom: 1.4rem;
    pointer-events: none;
}

.ah-functions div.ar-ln:hover:after {
    content: url(../../images/consumer-site/linkedin-hover.png);
    display: block;
    position: absolute;
    bottom: 1.4rem;
    pointer-events: none;
}

.ah-functions div.ar-play-sound {
	width: 30px;
}


.ah-functions div.ar-play-sound  img {
	position: relative;
}


.ah-functions .ar-functions .ar-bookmark img {
	width: 27px;
	height: 27px;
}

.ar-functions .font-control {
	height: 30px;
	position: relative;
    top: 10px;
}

.ar-functions .ar-bookmark .bookmark {
	background: url(../../images/consumer-site/bookmark_default.svg);
	width: 30px;
	height: 30px;	
	position: relative;
	top: 10px;
}



.consumer-site.en .ar-functions .ar-bookmark .bookmark.active {
	background: url(../../images/consumer-site/bookmark_malayalam.svg);
}

.consumer-site.ml .ar-functions .ar-bookmark .bookmark.active {
	background: url(../../images/consumer-site/bookmark_malayalam.svg);
}

.consumer-site.kn .ar-functions .ar-bookmark .bookmark.active {
	background: url(../../images/consumer-site/bookmark_malayalam.svg);
}

.consumer-site.te .ar-functions .ar-bookmark .bookmark.active {
	background: url(../../images/consumer-site/bookmark_malayalam.svg);
}

.ar-views-comments .comment-counts {
	background: url(../../images/consumer-site/comment_default.svg);
	width: 30px;
	height: 26px;
	float: left;
	position: relative;
    top: -2px;
    left: -2px;	
}

.consumer-site.en .ar-views-comments .comment-counts:hover {
	background: url(../../images/consumer-site/comment_malayalam.svg);
}

.consumer-site.ml .ar-views-comments .comment-counts:hover {
	background: url(../../images/consumer-site/comment_malayalam.svg);
}

.consumer-site.kn .ar-views-comments .comment-counts:hover {
	background: url(../../images/consumer-site/comment_malayalam.svg) no-repeat;
}

.consumer-site.te .ar-views-comments .comment-counts:hover {
	background: url(../../images/consumer-site/comment_malayalam.svg) no-repeat;
}

.ar-views-comments .views-icon {
	background: url(../../images/consumer-site/views_default.svg) no-repeat;
	width: 29px;
	height: 13px;
	float: left;	
	position: relative;
	left: -3px;
}

.consumer-site.en .ar-views-comments .views-icon:hover {
	background: url(../../images/consumer-site/views_malayalam.svg);
}

.consumer-site.ml .ar-views-comments .views-icon:hover {
	background: url(../../images/consumer-site/views_malayalam.svg);
}

.consumer-site.kn .ar-views-comments .views-icon:hover {
	background: url(../../images/consumer-site/views_malayalam.svg) no-repeat;
	width: 33px;
	height: 15px;
}

.consumer-site.te .ar-views-comments .views-icon:hover {
	background: url(../../images/consumer-site/views_malayalam.svg) no-repeat;
}

.ar-functions .ar-font-decrease {
	background: url(../../images/consumer-site/font_decrease_icon.svg);
}

.ar-functions .ar-font-normal {
	background: url(../../images/consumer-site/font_normal_icon.svg);
}

.ar-functions .ar-font-increase {
	background: url(../../images/consumer-site/font_increase_icon.svg);
}

.consumer-site.en .ar-functions .ar-font-decrease:hover, .consumer-site.en .ar-functions .ar-font-decrease.active {
	background: url(../../images/consumer-site/font_decrease_icon_ml.svg);
}

.consumer-site.en .ar-functions .ar-font-normal:hover, .consumer-site.en .ar-functions .ar-font-normal.active {
	background: url(../../images/consumer-site/font_normal_icon_ml.svg);
}

.consumer-site.en .ar-functions .ar-font-increase:hover, .consumer-site.en .ar-functions .ar-font-increase.active {
	background: url(../../images/consumer-site/font_increase_icon_ml.svg);
}

.consumer-site.ml .ar-functions .ar-font-decrease:hover, .consumer-site.ml .ar-functions .ar-font-decrease.active {
	background: url(../../images/consumer-site/font_decrease_icon_ml.svg);
}

.consumer-site.ml .ar-functions .ar-font-normal:hover, .consumer-site.ml .ar-functions .ar-font-normal.active {
	background: url(../../images/consumer-site/font_normal_icon_ml.svg);
}

.consumer-site.ml .ar-functions .ar-font-increase:hover, .consumer-site.ml .ar-functions .ar-font-increase.active {
	background: url(../../images/consumer-site/font_increase_icon_ml.svg);
}

.consumer-site.kn .ar-functions .ar-font-decrease:hover, .consumer-site.kn .ar-functions .ar-font-decrease.active {
	background: url(../../images/consumer-site/font_decrease_icon_ml.svg);
}

.consumer-site.kn .ar-functions .ar-font-normal:hover, .consumer-site.kn .ar-functions .ar-font-normal.active {
	background: url(../../images/consumer-site/font_normal_icon_ml.svg);
}

.consumer-site.kn .ar-functions .ar-font-increase:hover, .consumer-site.kn .ar-functions .ar-font-increase.active {
	background: url(../../images/consumer-site/font_increase_icon_ml.svg);
}

.consumer-site.te .ar-functions .ar-font-decrease:hover, .consumer-site.te .ar-functions .ar-font-decrease.active {
	background: url(../../images/consumer-site/font_decrease_icon_ml.svg);
}

.consumer-site.te .ar-functions .ar-font-normal:hover, .consumer-site.te .ar-functions .ar-font-normal.active {
	background: url(../../images/consumer-site/font_normal_icon_ml.svg);
}

.consumer-site.te .ar-functions .ar-font-increase:hover, .consumer-site.te .ar-functions .ar-font-increase.active {
	background: url(../../images/consumer-site/font_increase_icon_ml.svg);
}

.ah-banner-img {
	height: 100%;
	max-height: 490px;
}

.ah-banner-img img {
	width: 100%;
	height: 100%;
}

.article-wrapper blockquote {
	background: url("../../images/consumer-site/quote.png") no-repeat, linear-gradient(to bottom, #fff 0%,#fff 12%,#f9cf1c 12%,#f9cf1c 100%);
	background-position: 50% 0;
	border-left: none;
	padding: 69px 54px 20px 54px;
}

.article-wrapper blockquote.twitter-tweet {
	background: none;
	padding: 0;
	border: 1px solid rgb(225, 232, 237);
}

.article-wrapper blockquote p {
	font-size: 24px;
	text-align: center;
	font-weight: 100;
}

.tag-wrapper {
	padding-right: 10px;
}

.tag-wrapper > a:first-child {
	margin-left: 0;
}

.tag-wrapper > a {
	margin-left: 10px;
}

.tag-white {
	display: inline;
    padding: 12px;
    line-height: 3;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border: 1px solid #E5E5E5;
    border-radius: .25em;
	background-color: #FFF;
	font-family: "Droid Sans";
	font-size: 15px;
	color: #77787A;
}

.recommended-articles-wrapper.gallery-wrapper {
	background-color: inherit;
}

.recommended-articles-wrapper.gallery-wrapper .gallery__controls {
	top: 100px;
}

.recommended-articles-wrapper.gallery-wrapper .gallery__controls span {
	color: #FFF;
	font-size: 20px;
}

.recommended-articles-wrapper.gallery-wrapper .gallery__controls > div {
	padding: 0px 14px 2px 14px;
	background-color: rgba(0,0,0,0.65);
}

.recommended-articles-wrapper .ra-title {
	font-family: "Roboto Slab";
	font-size: 18px;
	text-transform: uppercase;
}

.recommended-articles-wrapper.gallery-wrapper .ra-title {
	margin-bottom: -30px;
}

.recommended-articles-wrapper .rs-blocks {
	margin-top: 2.5rem;
    margin-right: 2rem;
    width:24rem;
}

.recommended-articles-wrapper .rs-blocks:last-child{
    margin-right:0px;
}

.recommended-articles-wrapper .rs-blocks img {
	width:24rem;
	height: 12.27rem;
}

.recommended-articles-wrapper .rs-blocks .rs-desc {
	margin-top: 10px;
	font-family: "Droid Sans";
	font-weight: bold;
	font-size: 16px;
	color: #666;
}

/*.taboola-section {
	width: 90%;
    padding-left: 10%;
}*/

.taboola-section-right {
	width: 80%;
	margin: 0 auto;
}

.related-stories-wrapper {
	width: 80%;
    margin: 0 auto;	
    padding: 2rem 0;
}

.related-stories-wrapper .rs-blocks {
	margin-top: 30px;
	width: 100%;
}

.related-stories-wrapper .rs-blocks .related-stories-tiles,
.related-stories-wrapper .rs-blocks img {
	width: 100%;
}

.related-stories-wrapper .rs-title {
	font-family: "Roboto Slab";
	font-size: 18px;
	color: #333;
}

.related-stories-wrapper .rs-desc {
	width: 100%;
	padding-top: 5px;
}

.related-stories-wrapper .rs-desc a,
.recommended-articles-wrapper .rs-desc a {
	font-family: "Droid Sans";
	font-weight: bold;
	font-size: 16px;
	color: #666;
    display: block;
    line-height: 1.4em;
    max-height: 2.8em;
    overflow-y: hidden;
    overflow-x: hidden;
}

.consumer-site.kn .related-stories-wrapper .rs-desc a,
.consumer-site.kn .recommended-articles-wrapper .rs-desc a {
	line-height: 1.5em;
}

.comments-wrapper {
	padding-top: 25px;
	padding-bottom: 1rem;
}

.comments-wrapper .c-title {
	font-family: "Roboto Slab";
	font-size: 18px;
	color: #333;
	float: left;
	width: 12rem;
}

.comments-wrapper .c-sign-in {
	float: right;
	padding-bottom: 1.2rem;
}

.comments-wrapper .c-sign-in span{
	font-size: 14px;
	color: #999;
}

.comments-wrapper .c-sign-in img{
	padding-left: 1rem;
}

.comments-wrapper hr {
	margin-top: 1rem;
}

.comments-wrapper .c-box, .comments-wrapper .c-textarea {
	height: 20rem;
	background-color: #E8E8E8;
}

.comments-wrapper .c-textarea {
	width: 95%;
	margin: 0 auto;
}

.comments-wrapper .c-textarea textarea {
	margin-top: 2rem;
	min-height: 10.5rem;
	max-height: 10.5rem;
}

.comments-wrapper .comment-head {
	width: 100%;
	background-color: #E8E8E8;
	height: 45px;
	margin-top: 15px;
	line-height: 45px;
	box-shadow: 0 3px 2px rgba(0,0,0,.175);
}

.comments-wrapper .comment-head span{
	font-family: "Droid Sans";
	font-size: 11px;
	color: #666;
}

.comment-author {
	padding-left: 1rem;
}

.comments-wrapper .comment-head .comment-head-right {
	padding-right: 1rem;
}

.comments-wrapper .comment-body {
	margin-top: 5px;
	font-family: "Droid Sans";
	font-size: 13px;
}

.comments-wrapper .c-textarea button.comment-btn {
    display:none;
}

.comments-wrapper .c-textarea button.comment-btn,
.comments-wrapper .c-textarea button.login-comment-btn,
.comments-wrapper .c-textarea button.reply-btn {
	margin-top: 2.5%;
	background-color: #3A3A3A;
	color: #FFF;
	font-family: "Droid Sans";
	font-size: 14px;
	font-weight: bold;
}

.comments-wrapper .delete-comment {
	padding-left: 1rem;
	cursor: pointer;
}

.comments-wrapper #loading-image {
	display: none;
	width: 25rem;
	margin: 0 auto;
}

.comment-count-section,
.comment-count-section span {
	color: #333;
	font-family: "Droid Sans";
	font-size: 16px;
}

.comment-count-section {
	margin: 20px 0;
}

.report-abuse .modal-header, #reportDisapprovedComment .modal-header {
	border-bottom: none;
	background-color: #eee;
}

.report-abuse .modal-header .close, #reportDisapprovedComment .modal-header .close {
	color: #333;
    opacity: 1;
} 

.report-abuse .modal-header .modal-title, #reportDisapprovedComment .modal-header .modal-title {
	color: #333;
	font-family: "Droid Sans";
	font-size: 16px;
	text-transform: uppercase;
}

.report-abuse .modal-body .abuse-type {
	min-height: 10px;
	max-height: 100px;
	margin-top: 15px;
	border-radius: 5px;
}

.report-abuse .modal-footer button.btn-default {
	border-radius: 4px;
}

.report-abuse .modal-footer {
	padding-top: 0;
}

.report-abuse .modal-footer, #reportDisapprovedComment .modal-footer {
	border-top: none;
}

.report-abuse__confirmation .modal-body {
	margin: 20px 0 40px;
}

#reportDisapprovedComment a {
	font-size: 1.4rem;
	font-style: italic;
	color: #0B519F;
	font-weight: bold;
}

.is-reply .reply-link, .is-reply .reply-pipe {
	display: none;
}

.clearfix {
	clear: both;
}

/*** Polls Styles ****/
.article-polls-wrapper {
	position: relative;
	width: 80%;
	margin: 30px auto 0;
	background-color: #6c5b7b;
}

.polls_icon {
	width: 60px;
	height: 60px;
	background: url("../../images/consumer-site/polls.png") no-repeat center;
	position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 30px;
    border: 1px solid #776784;
    z-index: 20;
    background-color: #FFFFFF;
}

.article-polls-wrapper .content_wrap {
	padding: 60px 15px 10px 15px;
}

.polls-accordian {
	width: 80%;
    margin: 0 auto 30px;
}
.polls-accordian .panel-default .panel-heading {
	background-color: #333;
    border: none;
    color: #FFFFFF;
    padding: 0;
}

.polls-accordian .panel-default {
	background-color: #6c5b7b;
	border-radius: 0;
	border: none;
}

.polls-accordian .panel-group .panel-heading+.panel-collapse>.list-group,
.polls-accordian .panel-group .panel-heading+.panel-collapse>.panel-body {
	border: none;
    border-radius: 0;
    color: #fff;
}

.polls-accordian .panel-default .panel-heading a {
    text-transform: uppercase;
    padding: 10px 15px;
    display: none;
}

.polls-accordian .panel-default .panel-heading a.collapsed {
	display: block;
}

.polls-accordian .polls_options {
	padding: 0 15px;
}

.polls-accordian .polls_options li {
	border-bottom: 1px dotted #7d6e8b;
	line-height: 50px;
}

.polls-accordian .polls_options li label {
	width: 85%;
	text-align: center;
}

.polls_submit {
	margin-top: 40px;
	width: 100%;
	border: none;
	background: #333333;
	text-align: center;
	padding: 10px 15px;
	text-transform: uppercase;
	cursor: pointer;
}

.polls-accordian .polls_results li {
	padding: 0px 15px 10px;
}

.polls_slider_box {
	width: 80%;
    height: 8px;
    display: inline-block;
    background-color: #fff;
}

.polls_slider {
	height: 8px;
    width: 33%;
    background-color: #e0e0e0;
    display: block;
}

.polls_result_value {
	display: inline-block;
	padding: 0 3px;
}

/*Static Timeline Article code*/
.static-timeline-wrapper {
	background-color: #30b9cf; 
	width: 80%;
	margin: 0 auto;
}

.visible-xs .static-timeline-wrapper {
	margin-bottom: 20px;
}

.timeline_icon_Wrapper {
	position: relative;
	height: 45px;
}

.static-timeline-wrapper .timeline_icon_Wrapper .timeline_icon {
	position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60px;
}

.timeline-lists {
	padding: 0 0 20px;
}

.timeline-lists .timeline-border {
	width: 100%;
}

.timeline-lists li:first-child .timeline-border {
	display: none;
}

.timeline-lists h4, 
.timeline-lists h5 {
	padding: 0 10px;
}

.timeline-lists li{
	font-size: 0px;
	padding: 0 10px;
	text-align: center;
}

.timeline-lists .timeline-active {
	background-color: #30adcf;
	position: relative;
}

.timeline-lists .timeline-active .timeline-border {
	position: absolute;
    top: -5px;
    left: 0;
    right: 0;
}

.timeline-lists .timeline-active .timeline-link {
	padding: 10px 0;
    display: block;
}

.timeline-lists .timeline-active h4 {
	margin-bottom: 10px;
}

.timeline-lists .timeline-active h5 {
	margin-top: 10px;
}

.timeline-lists .timeline-active_next {
	position: relative;
}

.timeline-lists .timeline-active_next .timeline-border {
	position: absolute;
    top: -15px;
    left: 0;
    right: 0;
}

.timeline-lists .active-timeline-arrow {
	display: none;
}

.timeline-lists .timeline-active .active-timeline-arrow {
	display: block;
	position: absolute;
	left: -13px;
	top: calc(50% - 13px);
}

.opinion-header-wrapper .ah-img {
	width: 100%;
}

.opinion-header-wrapper .ah-img img {
	height: 300px;
	width: 100%;
}

.opinion-header-wrapper .ah-creds {
	font-weight: bold;
	margin-top: 10px;
}

.consumer-site .opinion-header-wrapper .ah-creds .by,
.consumer-site .opinion-header-wrapper .ah-creds .author-name,
.consumer-site .opinion-wrapper .colored-pipe {
	font-weight: bold;
	color: #0B519F;
}

.opinion-header-wrapper .ah-creds span {
	display: inline-block;
	vertical-align: middle;
}

.opinion-header-wrapper .ah-creds .author-pic {
	width: 40px;
	height: 40px;
	background: url("../../images/consumer-site/default-avatar-ginger-guy.png") center center / contain no-repeat;
	border-radius: 50%;
}

.opinion-header-wrapper .ah-title {
	font-size: 32px;
    font-weight: bold;
    padding-bottom: 1rem;
}

.opinion-header-wrapper .op-list-details {
	padding-top: 1rem;
	color: #CBCBCB;
}

.opinion-header-wrapper .op-by, .opinion-header-wrapper .op-author {
	color: #660033;
	font-weight: bold;
}

.opinion-sidebar .op-advertisement {
	width: 300px;
	height: 300px;
	margin: 0 auto;
}

/****** Recommended for opinion ********/
.opinion-sidebar .op-recommended {
	width: 80%;
	margin: 0 auto;
	padding-top: 2rem;
}

.opinion-sidebar .op-recommended h3 {
	color: #000;
	font-size: 20px;
	font-weight: bold;
}

.opinion-sidebar .op-recommended hr {
	margin-top: 10px;
	margin-bottom: 0px;
	border-top: 1px solid #CFCFCF;
}

.opinion-sidebar .op-recommended .op-list-details {
	width: 100%;
	height: auto;
	padding: 1rem 0 0 0;
}

.opinion-sidebar .op-recommended .op-title {
	font-size: 16px;
	color: #000;
	font-family: "Droid Sans";
	padding: 0;
}

.opinion-sidebar .op-recommended .op-by, .opinion-wrapper .op-recommended .op-author {
	color: #CBCBCB;
	font-weight: normal;
}

.opinion-sidebar .op-recommended .op-list-details span {
	font-size: 10px;
}

.opinion-header-wrapper .ah-functions div.ar-fb:hover:after, .opinion-header-wrapper .ah-functions div.ar-pin:hover:after, 
.opinion-header-wrapper .ah-functions div.ar-tw:hover:after, .opinion-header-wrapper .ah-functions div.ar-ln:hover:after,
.opinion-header-wrapper .ah-functions div.ar-bookmark:hover:after, .opinion-header-wrapper .ah-functions div.ar-font-action:hover:after {
    bottom: 3.8rem;
}

.opinion-header-wrapper .ah-functions div.ar-vc:hover:after, .opinion-header-wrapper .ah-functions div.ar-cc:hover:after {
	bottom: 4.4rem;
}

.comment-like, .comment-dislike, .comment-report-abuse {
	cursor: pointer;
}

.not-visible {
	visibility: hidden;
}

.related-stories-wrapper .related-stories-tiles,
.recommended-articles-wrapper .recommended-stories-tiles {
	display: block;
	position: relative;
}

.related-stories-wrapper .related-stories-tiles:before,
.recommended-articles-wrapper .recommended-stories-tiles:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.2);
}

.related-stories-wrapper .related-stories-tiles .story-related-icons,
.recommended-articles-wrapper .recommended-stories-tiles .story-recommended-icons {
	position: absolute;
    bottom: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
}


.ra-wrapper.visible-xs .recommended-stories-tiles {
	position: relative;
	display: block;
}

.ra-wrapper.visible-xs .recommended-stories-tiles:before {
	position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.2);
}

.ra-wrapper.visible-xs .recommended-stories-tiles .story-recommended-icons {
	position: absolute;
    bottom: 8px;
    left: 8px;
    height: 25px;
    width: 25px;
}

#article_related_videos .visible-xs .ra-title, .act-recommended .visible-xs .ra-title {
	font-family: "Roboto Slab";
    font-size: 18px;
    padding-bottom: 10px;
}

#article_related_videos .visible-xs img.act, .act-recommended .visible-xs img.act {
	width: 100%;
	height: auto;
}

#article_related_videos .visible-xs .rs-desc a, .act-recommended .visible-xs .rs-desc a {
	font-family: "Droid Sans";
    font-weight: bold;
    font-size: 16px;
    color: #666;
    display: block;
    line-height: 1.4em;
    max-height: 2.8em;
    overflow-y: hidden;
    overflow-x: hidden;
}

#article_related_videos .visible-xs .rs-blocks, .act-recommended .visible-xs .rs-blocks {
	padding-bottom: 20px;
}

#article_related_videos .visible-xs .rs-blocks:last-child, .act-recommended .visible-xs .rs-blocks:last-child {
	padding-bottom: 20px;
}

.act-recommended .visible-xs .recommended-stories-tiles {
	display: block;
    position: relative;
}

.act-recommended .visible-xs .recommended-stories-tiles .story-recommended-icons {
	position: absolute;
    bottom: 8px;
    left: 8px;
}

.article-wrapper div iframe {
	position: initial;
}

.crowdy-news-wrapper > div {
	width: 80% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.crowdy-news-wrapper > div + div {
	margin-top: 20px !important;
}

.crowdy-news-wrapper > div + div > div {
	width: 100% !important;
    max-width: 300px !important;
}

.article-wrapper .sample-player {
	width:100%;
}

.right-section {
	padding: 50px 0;
}

.fader-container {
	position: relative;
}

.fader {
	bottom: 0px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 200px;
    position: absolute;
    width: 100%;
    display: none;
}

.show-full-article-btn {
	background: none repeat scroll 0 0 #fff;
    box-shadow: -1px 0 4px #ccc;
    border: 1px solid #93abbc;
    border-radius: 5px;
    color: #326891;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 5px;
    text-align: center;
    width: 250px;
    margin: 0 auto;
    display: none;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.show-full-article-btn + .mobile-poll {
	margin-top: 60px;
}

.act-recommended .recommended-articles-wrapper {
	display: none;
}

.right-section .advertisement-fullpage.bottom-ad {
	width: 80%;
}

.share-comment-strip {
	margin-top: 50px;
}

.share-comment-strip .share-strip, .share-comment-strip .comment-strip a {
	font-size: 14px;
	font-weight: bold;
	font-family: "Roboto Slab";
}

.share-comment-strip .share-strip div {
	position: relative;
	margin-right: 5px;
}

.share-comment-strip .share-strip img {
	width: 30px;
	height: 30px;
}

.share-comment-strip .share-strip div.ar-fb:hover:after {
    content: url(../../images/consumer-site/facebook-hover.png);
    display: block;
    position: absolute;
    bottom: -5px;
    pointer-events: none;
}


.share-comment-strip .share-strip div.ar-tw:hover:after {
    content: url(../../images/consumer-site/twitter-hover.png);
    display: block;
    position: absolute;
    bottom: -5px;
    pointer-events: none;
}



.share-comment-strip div > div {
	display: inline-block;
}

#reportAbuseType h4, #reportAbuseType p , #reportAbuseConfirmation h4, #reportAbuseConfirmation p {
	font-weight: bold;
}

.fs-wrapper {
	margin-top: 30px;
	height: 105px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #EEE;
}

.fs-wrapper div {
	
}

.fs-wrapper .fs-info {
	text-align: center;
	padding: 15px;
	font-size: 11px;
    font-weight: bold;
}

.fs-wrapper .fs-icon {
	background: url(../../images/consumer-site/follow_this_story_btn.jpg);
	background-size: contain;
	width: 200px;
    height: 40px;
    margin: 0 auto;
    padding: 10px 0;
    cursor: pointer;
}


.fs-wrapper .fs-icon:hover {
	background: url(../../images/consumer-site/follow_this_story_btn_hover.jpg);
	background-size: contain;
	width: 200px;
    height: 40px;
    margin: 0 auto;
    padding: 10px 0;
}

.fs-wrapper .fs-icon.active {
	background: url(../../images/consumer-site/followed-story_btn.jpg);
	background-size: contain;
	width: 200px;
    height: 40px;
    margin: 0 auto;
    padding: 10px 0;
    cursor: default;
}

@media (min-width:992px) and (max-width: 1200px) {
	.recommended-articles-wrapper .rs-blocks {
	    width: 19rem;
	}

	.recommended-articles-wrapper .rs-blocks img {
		width: 19rem;
		height: 10rem;
	}
}

@media (min-width:768px) {
    .consumer-site.en .ar-functions .ar-bookmark .bookmark:hover {
	    background: url(../../images/consumer-site/bookmark_malayalam.svg);
    }

    .consumer-site.ml .ar-functions .ar-bookmark .bookmark:hover {
        background: url(../../images/consumer-site/bookmark_malayalam.svg);
    }

    .consumer-site.kn .ar-functions .ar-bookmark .bookmark:hover {
        background: url(../../images/consumer-site/bookmark_malayalam.svg);
    }

    .consumer-site.te .ar-functions .ar-bookmark .bookmark:hover {
        background: url(../../images/consumer-site/bookmark_malayalam.svg);
    }
}

@media (min-width:768px) and (max-width: 992px) {
	.recommended-articles-wrapper .rs-blocks {
	    width: 16rem;
	}

	.recommended-articles-wrapper .rs-blocks img {
		width: 16rem;
		height: 7.27rem;
	}
	.recommended-articles-wrapper.gallery-wrapper .gallery__controls {
        top: 75px;
    }
}

@media (max-width: 767px) {
	.most-popular.visible-xs .related-article-title, .just-added.visible-xs .related-article-title {
		padding-bottom: 10px;
	}

	.recommended-articles-wrapper {
	    width: 80%;
	    margin: 0 auto;
	    margin-top: 2rem;
	}

	.recommended-articles-wrapper .rs-blocks .recommended-stories-tiles,
	.recommended-articles-wrapper .rs-blocks img {
		width: 22rem;
		height: 10rem;
	}

	.ah-banner-img {
 	   height: 100%;
 	   max-height: 490px;
	}

	.article-wrapper .article-intro p {
		font-size: 18px;
		font-weight: 300;
		color: #660033;
	}

	.article-wrapper blockquote {
		background: url("../../images/consumer-site/quote.png") no-repeat, linear-gradient(to bottom, #fff 0%,#fff 0%,#f9cf1c 0%,#f9cf1c 100%);
		background-position: 50% 5%;
		border-left: none;
		padding: 74px 54px 20px 54px;
	}

	.ah-title {
		font-size: 26px;
		line-height: 30px;
	}

	.ah-functions {
		width: 100%;
		text-align: center;
	}

	.ah-functions > div {
		padding: 0 0;
	}

	.ah-functions .social-media > div, .ah-functions .ar-functions > div {
		margin-right: 2px;
	}

	.ah-functions .ar-views-comments > div {
		margin-right: 0px;
	}

	.ah-functions .ar-views-comments > div:nth-child(2) {
		/* width: 50px; */
	}
	
	.related-stories-wrapper {
		width: 100%;
	}

	.related-stories-wrapper .rs-blocks {
		width: 100%;
	}

	.recommended-articles-wrapper .rs-blocks {
		margin: 30px 0 0;
		width: 100%;
	}

	.recommended-articles-wrapper .recommended-stories-tiles {
	    display: block;
	    position: relative;
	}

	.related-stories-wrapper .rs-blocks img {
    	width: 100%;
    }

    .recommended-articles-wrapper .rs-desc {
	    width: 22rem;
	}

    .related-stories-wrapper .rs-desc {
	    width: 100%;
	}

	.comments-wrapper .c-box, .comments-wrapper .c-textarea {
		height: 18rem;
	}

	/*Timeline*/
	.timeline-lists {
		display: none;
	}

	.timeline-lists.show-timeline {
		display: block;
	}

	.ah-functions div.ar-vc:hover:after, .ah-functions div.ar-cc:hover:after, 
	.ah-functions div.article-social:hover:after, .ah-functions div.ar-bookmark:hover:after {
	    content: "";
	}

	.opinion-header-wrapper .ah-creds {
		padding-left: 0;
		text-transform: none;
		font-weight: normal;
	}

	.opinion-header-wrapper .ah-title {
		font-size: 26px;
    	line-height: 30px;
    	padding: 0;
	}

	.article-header-wrapper {
		bottom: 20px;
		margin-top: 0;
	}

	.ah-title.en {
		font-size: 22px;
	}

	.article-wrapper p iframe, 
	.article-wrapper p span iframe,
	.article-wrapper div iframe {
		width: 100%;
	}

	.right-section .crowdy-news-wrapper {
		padding: 25px 0;
	}

	.right-section {
		padding: 0;
	}

	.crowdy-news-wrapper > div {
		width: 100% !important;
		margin-left: 0px !important;
		margin-right: 0px !important;
	}

	.crowdy-news-wrapper > div + div > div {
	    max-width: 100%;
	}

	.fader, .show-full-article-btn {
		display: block;
	}

	.article-wrapper {
		height: 500px;
	}

	.ah-functions div.ar-play-sound {
		width: 87px;
	}
}

@media (max-width: 568px) {
	.comments-wrapper .comment-head {
		line-height: 23px;
	}
}