.auth-breadcrumb {
	margin-top: 10px;
}

.auth-title {
	font-size: 40px;
	color: #0B519F;
	margin-top: 20px;
}

.field {
	margin-bottom: 20px;
}

.field div {
	margin: 10px 0 5px;
	font-size: 12px;
	color: #2B2B2B;
}

.field input {
	height: 40px;
	width: 50%;
}

.auth-buttons {
	margin-bottom: 10px;
}

.auth-buttons button {
	background-color: #333333;
	color: #F9F9F9;
	border: none;
	padding: 5px 15px;
	font-weight: bold;
	font-size: 12px;
	margin: 20px 10px 0 0;
	letter-spacing: 1px;
}

.auth-message, .captcha_check_msg {
	font-size: 16px;
	color: #ff0000;
	padding:20px 0px 10px;
}



/************** Registration ***********/
.registration-wrapper {
	font-family: "Droid Sans";
	height: 70rem;
}

.registration-wrapper .reg-details {
	font-family: "Roboto Slab";
	font-size: 16px;
	color: #7D7D7D;
	margin: 10px 0;
}

.registration-wrapper .reg-info {
	font-size: 13px;
	color: #AAAAAA;
	margin: 25px 0 10px;
}

.registration-wrapper input[type="text"] {
	border: 1px solid #CCC;
	border-radius: 4px;
}


/************** Sign In ***********/
.login-wrapper {
	font-family: "Droid Sans";
	height: 70rem;
}

.login-wrapper .login-info {
	margin: 15px 0 25px;
	font-size: 20px;
	font-family: "Roboto Slab";
}

.login-wrapper .forgot-auth {
	margin-top: 20px;
}

.login-wrapper .forgot-auth a{
	margin-right: 10px;
	color: #7D7D7D;
	font-size: 12px;
}

.login-wrapper .auth-login-link {
	margin-top: 5px;
	font-size: 12px;
	color: #7D7D7D;
}

.login-wrapper .auth-login-link a {
	color: #0B519F;
	font-size: 14px;
	font-weight: bold;
}

.login-wrapper .option-line {
    border-bottom: 3px solid #9A9FA5;
    line-height: 0;
    padding: 0;
    margin-top: 25px;
    width: 71%;
}

.login-wrapper .option-line span {
	background: #fff;
    padding: 0 7px;
    position: relative;
    left: 25.2rem;
    color: #7D7D7D;
    font-size: 16px;
    top: 4px;
}

.login-wrapper .social-login div{
	float: left;
}

.login-wrapper .btn-social {
	border-radius: 0;
    padding: 0 0 0 65px;
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
    border: 0;
    font-size: 16px;
    height: 50px;
    color: #fff;
    margin-top: 20px;
}

.login-wrapper .sign-in-google button {
	background: #dd4d3b url(../../images/consumer-site/socialLoginButtonIcons.png) left -70px no-repeat;
}

.login-wrapper .sign-in-fb , .login-wrapper .sign-in-google {
	width: 260px;
}

.login-wrapper .sign-in-fb button {

	background: #3c5a98  url(../../images/consumer-site/socialLoginButtonIcons.png) left top no-repeat;
	margin-left: 20px;
}


/************** Activaion Page ***********/
.user-activate-wrapper {
	font-family: "Droid Sans";
	height: calc(100vh - 395px);
}

.user-activate-wrapper .auth-message{
	padding-top: 2rem;
	font-size: 20px;
}

.user-activate-wrapper .auth-login-link {
	margin-top: 5px;
	font-size: 12px;
	color: #7D7D7D;
}

.user-activate-wrapper .auth-login-link {
	font-size: 18px;
	padding: 2rem 0;
}

.user-activate-wrapper .auth-login-link a {
	color: #660033;
	font-size: 20px;
	font-weight: bold;
}


.user-activate-wrapper .option-line {
    border-bottom: 3px solid #9A9FA5;
    line-height: 0;
    padding: 0;
    margin-top: 25px;
    width: 60%;
}


/*Password related css*/
.pass-info-text {
	font-family: "Roboto Slab";
    font-size: 16px;
    color: #7D7D7D;
    margin: 10px 0;
}

.pass-reset-wrapper {
	height: 75vh;
}

.reset-done-wrapper {
	height: calc(100vh - 395px);
}

.pass-reset-wrapper .auth-buttons button {
	margin: 5px 10px 0 0;
}

.pass-reset-wrapper .user-error {
	color: #660033;
	padding-bottom: 1rem;
	font-size: 14px;
    font-weight: bold;
}

.reset-done-wrapper, .password-reset-confirm-wrapper {
	padding-bottom: 3rem;
}

.pass-reset-comp-wrapper p {
	font-family: "Roboto Slab";
    font-size: 16px;
    color: #7D7D7D;
    margin: 3rem 0 2rem 0;
}

.pass-reset-comp-wrapper p a {
	font-family: "Roboto Slab";
   	margin: 10px 0;
	color: #0B519F;
	font-weight: bolder;
	font-size: 24px;
}

/*login-flap*/
.login-flap .auth-title {
	font-size: 25px;
	font-weight: bold;
	margin-top: 5px;
}

.login-flap .field,
.login-flap .field div,
.login-flap .login-wrapper .login-info,
.login-flap .login-wrapper .forgot-auth,
.login-flap .login-wrapper .auth-login-link {
	margin: 0;
}

.login-flap .login-wrapper .login-info {
	font-size: 16px;
}

.login-flap .login-wrapper .forgot-auth {
	height: 25px;
}

@media (max-width: 767px) {
	.auth-title {
		font-size: 30px;
	}

	.field input {
		height: 40px;
		width: 75%;
	}

	.login-wrapper .sign-in-fb button {
		margin-left: 0;
	}
}