.breaking-news-wrapper {
	margin: 4px 0;
	-webkit-box-shadow: 0 0 10px #CCC;
        box-shadow: 0 0 10px #CCC;
	background-color: #FFF; 
}

.breaking-news-wrapper > div {
	height: 6rem;
}

.table-wrap {
	display: table;
	height: 100%;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
}

.breaking-news-wrapper .bn-logo {
	font-size: 18px;
	padding-right: 50px;
}

.breaking-news-wrapper .bn-stmt {
	width: 80%;
}

.breaking-news-wrapper .bn-stmt .bn-box:not(:first-child) {
	display: none;
}

.breaking-news-wrapper .bn-stmt .bn-box, .breaking-news-wrapper .bn-stmt .bn-box a{
	font-family: "Roboto Slab";
	font-size: 17px;
	color: #333;
	text-decoration: none;
	text-align: left;
}

.breaking-news-wrapper .bn-close {
	font-size: 20px;
	line-height: 6rem;
	cursor: pointer;
	margin-right: 20px;
	display: inline-block;
}

.breaking-news-wrapper .bn-close img{
	width: 25px;
	height: 25px;
}

.breaking-news-wrapper .news-controls {
	display: inline-block;
	margin-right: 10rem;
}

.breaking-news-wrapper .news-controls span {
	margin-right: 1rem;
}


@media (max-width: 768px) {
	.breaking-news-wrapper .bn-logo {
		padding-right: 10px;
	}

	.breaking-news-wrapper .bn-stmt .bn-box, .breaking-news-wrapper .bn-stmt .bn-box a{
		font-size: 10px;
	}

	.breaking-news-wrapper .bn-close {
		padding-left: 10px;
	}

	.breaking-news-wrapper .bn-close img{
		width: 15px;
		height: 15px;
	}
}