.consumer-clusters-wrapper hr {
	border: 0;
	padding: 20px 0;
	margin: 0;
}
.cluster-title {
	height: 65px;
	line-height: 65px;
	background-color: #F46708;
	font-size: 22px;
	color: #FFF;
	padding-left: 25px;
	font-family: "Droid Sans";
	font-weight: 400;
}

.cluster-title div {
	line-height: 6.5rem;
    right: 1rem;
    cursor: pointer;
    display: inline-block;
}

.cluster-zero-wrapper #row1col1 .cl-block h1,
.cluster-zero-wrapper #row1col1 .cl-block h2, 
.cluster-one-wrapper #row1col1 .cl-block h2, 
.cluster-three-wrapper #row1col2 .cl-block h2, 
.cluster-five-wrapper #row1col1 .cl-block h2, 
.cluster-nine-wrapper #row1col1 .cl-block h2 {
	font-size: 22px;
}

.cl-block {
	font-size: 18px;
	position: absolute;
    bottom: 25px;
    color: white;
    padding: 0 25px;
    font-family: "Droid Sans";
    font-weight: 700;
    z-index: 99;
}

.cl-block h1, .cl-block h2 {
	margin: 0;
	font-size: 18px;
	font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.cl-text-bg .cluster_news_block:before {
	content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: -webkit-linear-gradient( to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100% );
    background-image: -moz-linear-gradient( to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100% );
    background-image: -o-linear-gradient( to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100% );
    background-image: linear-gradient( to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100% );
}

/*********** Widgets styles ************/
.editorial-block {
	display: block;
	height: 100%;
	background-color: rgb(47, 173, 100);
}

.editorial-block .editorial_block_quotes {
	width: auto;
    height: auto;
    left: 25px;
    top: 25px;
    position: absolute;
}

.editorial-block .cl-block{
	bottom: 70px;
}

.editorial-block .cl-block:hover{
	text-decoration: none;
	color: #fff;
}

.editorial-block .editorial_block_your_opinion {
    position: absolute;
	bottom: 0;
    padding: 10px 25px;
    color: #fff;
    background: #000;
    width: 100%;
    text-transform: uppercase;
    font: 700 12px "Droid Sans";
}

.image_count_wrap .image_count_icon {
	width: auto;
	height: auto;
	display: inline;
}

.video_play_wrap {
	padding-right: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.liveblog-block {
	display: block;
	height: 100%;
	background-color: #c43131;	
	position: relative;
}

.liveblog_heading {
	margin: 0 auto;
	padding: 25px 30px 15px;
	display: table;
}

.liveblog-block .liveblog_heading .liveblog_icon {
	width: 16px;
	height: auto;
}

.liveblog_heading h4 {
	display: table-cell;
	vertical-align: bottom;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	padding: 0 10px;
}

.liveblog_participate_btn {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
	background-color: #333;
	padding: 20px;
	font-weight: 700;
	text-transform: uppercase;
}

.liveblog_content {
	color: #fff;
	width: 90%;
	margin: 0 auto;
}

.liveblog_content_time {
	display: inline-block;
	font-size: 14px;
	vertical-align: top;
}

.liveblog_content_bullet {
	display: inline-block;
	font-size: 28px;
	vertical-align: top;
	position: relative;
	top: -9px;
}

.liveblog_content_title {
	display: inline-block;
	width: calc(100% - 90px);
    vertical-align: top;
    position: relative;
    font-size: 14px;
    vertical-align: top;
    padding-bottom: 12px;
}

.liveblog_content:not(:last-child) .liveblog_content_title:before {
    position: absolute;
    content: '';
    top: 17px;
    left: -9px;
    width: 1px;
    height: calc(100% - 17px);
    border-left: 1px solid white;
}

/********** TimeLine Cluster **************/
.timeline-block {
	display: block;
	height: 100%;
	position: relative;
	background-color: #30b9cf;
	overflow: hidden;
}

.timeline-block_news_wrapper {
	padding: 10px 10px 0;
	height: calc(100% - 40px);
	overflow-y: auto; 
}

.timeline-block_news_wrapper li{
	border-bottom: 1px solid #58acba;
	padding-left: 10px;
	min-height: 60px;
	position: relative;
}

.timeline-block_news_wrapper li h6{
	text-transform: uppercase;
	margin-bottom: 0;
}

.timeline-block_news_wrapper li h5 {
	width: calc(100% - 40px);
    display: inline-block;
}

.timeline-block_add_btn {
	position: absolute;
    right: -5px;
    bottom: 5px;
}

.open-timeline-btn {
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 0 20px;
	text-transform: uppercase;
	line-height: 40px;
	padding-left: 20px;
	background-color: #000;
}

/*********** Cluster Zero ***********/
.banner-img {
	margin-bottom: 50px;
	width: 100%;
	background-size: cover;
	position: relative;
}

.cluster-zero-wrapper #row1col1 {
	height: 400px;
}

.cluster-zero-wrapper #row1col2, .cluster-zero-wrapper #row2col1, .cluster-zero-wrapper #row2col2 {
	height: 200px;
}

.cluster-zero-wrapper #row2col3 {
	height: 400px;
}

/*********** Cluster One ***********/
.cluster-one-wrapper #row1col1, .cluster-one-wrapper #row2col2 {
	height: 300px;
}

.cluster-one-wrapper #row1col2 {
	height: 600px;
}

.cluster-one-wrapper #row2col1, .cluster-one-wrapper #row3col1 {
	height: 150px;
}

/*********** Cluster Two ***********/
.cluster-two-wrapper #row1col1,
.cluster-two-wrapper #row1col2,
.cluster-two-wrapper #row2col1, 
.cluster-two-wrapper #row2col2 {
	height: 300px;
}

.cluster-two-wrapper #row1col3 {
	height: 600px;
}


/*********** Cluster Three ***********/
.cluster-three-wrapper #row1col1, .cluster-three-wrapper #row1col2,
.cluster-three-wrapper #row2col1, .cluster-three-wrapper #row2col2, .cluster-three-wrapper #row2col3 {
	height: 300px;
}

/*********** Cluster Four ***********/
.cluster-four-wrapper #row1col2,
.cluster-four-wrapper #row2col1, 
.cluster-four-wrapper #row2col2 {
	height: 300px;
}

.cluster-four-wrapper #row1col1 {
	height: 600px;
}

/*********** Cluster Five ***********/
.cluster-five-wrapper #row1col1, .cluster-five-wrapper #row1col2,
.cluster-five-wrapper #row2col1, .cluster-five-wrapper #row2col2, .cluster-five-wrapper #row2col3 {
	height: 300px;
} 

/*********** Cluster Six ***********/
.cluster-six-wrapper #row1col1, 
.cluster-six-wrapper #row1col2 {
	height: 600px;
}

/*********** Cluster Seven ***********/
.cluster-seven-wrapper #row1col1, 
.cluster-seven-wrapper #row1col2,
.cluster-seven-wrapper #row1col3 {
	height: 600px;
}

/*********** Cluster Eight ***********/
.cluster-eight-wrapper #row1col2, 
.cluster-eight-wrapper #row2col1 {
	height: 300px;
}

.cluster-eight-wrapper #row1col1 {
	height: 600px;
}

/*********** Cluster Nine ***********/
.cluster-nine-wrapper #row1col1, .cluster-nine-wrapper #row2col1, .cluster-nine-wrapper #row2col2 {
	height: 300px;
}

.cluster-nine-wrapper #row1col2 {
	height: 600px;
}


/*********** Cluster Ten ***********/
.cluster-ten-wrapper #row1col1, .cluster-ten-wrapper #row1col2 {
	height: 600px;
} 

.cluster-ten-wrapper #row1col3, .cluster-ten-wrapper #row2col1 {
	height: 300px;
} 


/*********** Clusters - commons ***********/
.cluster-one-wrapper img,
.cluster-two-wrapper img,
.cluster-three-wrapper img,
.cluster-four-wrapper img,
.cluster-five-wrapper img,
.cluster-six-wrapper img,
.cluster-seven-wrapper img,
.cluster-eight-wrapper img,
.cluster-nine-wrapper img, 
.cluster-ten-wrapper img, 
.cluster-zero-wrapper img {
	width: 100%;
	height: 100%;
}

.cluster-zero-wrapper #row1col2 {
	border-left: 4px solid #FFF;
	border-bottom: 4px solid #FFF;
}

.cluster-zero-wrapper #row2col2, 
.cluster-zero-wrapper #row2col3 {
	border-left: 4px solid #FFF;
}

.cluster-zero-wrapper #row2col1, 
.cluster-zero-wrapper #row2col2 {
	border-top: 4px solid #FFF;
}

.cluster-one-wrapper #row1col1, 
.cluster-one-wrapper #row2col1, 
.cluster-one-wrapper #row2col2,
.cluster-one-wrapper #row3col1 {
	border-right: 5px solid #FFF;
}

.cluster-one-wrapper #row2col1, 
.cluster-one-wrapper #row2col2,
.cluster-one-wrapper #row3col1 {
	border-top: 5px solid #FFF;
}

.cluster-two-wrapper #row1col1, 
.cluster-two-wrapper #row2col1, 
.cluster-two-wrapper #row2col2,
.cluster-two-wrapper #row1col2 {
	border-right: 5px solid #FFF;
}

.cluster-two-wrapper #row2col1, 
.cluster-two-wrapper #row2col2 {
	border-top: 5px solid #FFF;
}

.cluster-three-wrapper #row1col1,
.cluster-three-wrapper #row2col1,
.cluster-three-wrapper #row2col2 {
	border-right: 5px solid #FFF;
}

.cluster-three-wrapper #row2col1,
.cluster-three-wrapper #row2col2,
.cluster-three-wrapper #row2col3 {
	border-top: 5px solid #FFF;
}

.cluster-four-wrapper #row1col1,
.cluster-four-wrapper #row2col1 {
	border-right: 5px solid #FFF;
}

.cluster-four-wrapper #row2col1,
.cluster-four-wrapper #row2col2 {
	border-top: 5px solid #FFF;
}

.cluster-five-wrapper #row1col1,
.cluster-five-wrapper #row2col1,
.cluster-five-wrapper #row2col2 {
	border-right: 5px solid #FFF;
}

.cluster-five-wrapper #row2col1,
.cluster-five-wrapper #row2col2,
.cluster-five-wrapper #row2col3 {
	border-top: 5px solid #FFF;
}

.cluster-six-wrapper #row1col1 {
	border-right: 5px solid #FFF;
}

.cluster-seven-wrapper #row1col1,
.cluster-seven-wrapper #row1col2 {
	border-right: 5px solid #FFF;
}

.cluster-eight-wrapper #row1col1 {
	border-right: 5px solid #FFF;
}

.cluster-eight-wrapper #row2col1 {
	border-top: 5px solid #FFF;
}

.cluster-nine-wrapper #row2col1,
.cluster-nine-wrapper #row2col2 {
	border-top: 5px solid #FFF;
}

.cluster-nine-wrapper #row1col1,
.cluster-nine-wrapper #row2col1,
.cluster-nine-wrapper #row2col2 {
	border-right: 5px solid #FFF;
}

.cluster-ten-wrapper #row1col1,
.cluster-ten-wrapper #row1col2 {
	border-right: 5px solid #FFF;
}

.cluster-ten-wrapper #row2col1 {
	border-top: 5px solid #FFF;
}

.category-wrapper {
	padding-bottom: 2rem;
}

.category-wrapper .container {
	background: #FFF;
}

/*This is for category page*/
.category-wrapper div.cluster-zero-wrapper, .category-wrapper div.banner-img {
	display: none;
}

[data-title="Top Stories"] + div#closeClusterOne {
    display: none;
}

.view-more-cat {
	line-height: 2rem;
	padding-top: 2rem;
	text-align: center;
}

.view-more-cat a span {
	font-size: 20px;
	font-weight: bold;
	vertical-align: middle;
	padding-right: 5px;
}

.view-more-cat .circular-plus {
	height: 30px;
}

.category-wrapper .view-more-cat {
	padding-top: 0;
	display: none;
}

.category-wrapper .view-more-cat.view-more-custom {
	display: block;
}

.live-tv-block {
	height: 100%;
	background: #CCC;
}

.live-tv-block .livetv-cluster-msg {
	text-align: center;
    font-weight: bold;
    font-size: 14px;
    position: relative;
	top: 50%;
	transform: translateY(-50%);
}


@media (max-width: 767px) {
	
	.view-more-cat a span {
		font-size: 15px;
	}

	.view-more-cat .circular-plus {
		height: 24px;
	}

	.timeline-block_news_wrapper {
		height: calc(100% - 20px);
	}

	.timeline-block_news_wrapper li{
		padding-left: 0;
	}

	.timeline-block_news_wrapper li h5 {
		width: calc(100% - 20px);
	    font: 400 11px/13px "Droid Sans";
	}

	.timeline-block_add_btn {
	    right: -2px;
	}

	.timeline-block_add_btn img {
		width: 20px;
	}

	.open-timeline-btn {
		padding: 0 10px;
	}

	.cluster-zero-wrapper #row1col2, .cluster-zero-wrapper #row2col2, 
	.cluster-zero-wrapper #row2col3 {
		border-left: 0;
	}

	.cluster-zero-wrapper #row1col2 {
		border-top: 4px solid #FFF;
		border-bottom: 0;
		border-right: 4px solid #FFF;
	}

	.cluster-zero-wrapper #row2col1 {
	    border-right: 4px solid #FFF;
	}

	.cluster-zero-wrapper #row2col3 {
	    height: 200px;
	    border-top: 4px solid #FFF;
	}

	.cluster-one-wrapper #row1col1, .cluster-one-wrapper #row2col2 {
		border-right: 0;
	}

	.cluster-one-wrapper #row1col2 {
		border-top: 5px solid #FFF;
	}

	.cluster-two-wrapper #row1col2,
	.cluster-two-wrapper #row2col2 {
		border-right: 0;
	}

	.cluster-two-wrapper #row1col3 {
		border-top: 5px solid #FFF;
	}

	.cluster-three-wrapper #row2col1 {
		border-top: 0;
		border-right: 0;
	}

	.cluster-three-wrapper #row1col2 {
		border-top: 5px solid #FFF;
	}

	.cluster-four-wrapper #row1col1 {
		border-right: 0;
	}

	.cluster-four-wrapper #row1col2 {
		border-top: 5px solid #FFF;
	}

	.cluster-five-wrapper #row1col1, .cluster-five-wrapper #row2col1 {
		border-right: 0;
	}

	.cluster-five-wrapper #row1col2 {
		border-top: 5px solid #FFF;
		border-right: 5px solid #FFF;
	}

	.cluster-six-wrapper #row1col1 {
		border-right: 0;
	}

	.cluster-six-wrapper #row1col2 {
		border-top: 5px solid #FFF;
	}

	.cluster-seven-wrapper #row1col1,
	.cluster-seven-wrapper #row1col2 {
		border-right: 0;
	}

	.cluster-seven-wrapper #row1col2,
	.cluster-seven-wrapper #row1col3 {
		border-top: 5px solid #FFF;
	}

	.cluster-eight-wrapper #row1col1 {
		border-right: 0;
	}

	.cluster-eight-wrapper #row1col2 {
		border-top: 5px solid #FFF;
	}

	.cluster-nine-wrapper #row1col1, .cluster-nine-wrapper #row2col2 {
		border-right: 0;
	} 

	.cluster-nine-wrapper #row1col2 {
		border-top: 5px solid #FFF;
	}

	.cluster-ten-wrapper #row1col1 {
		border-right: 0;
	} 

	.cluster-ten-wrapper #row1col2 {
		border-top: 5px solid #FFF;
		border-right: 0;
	}

	.cluster-ten-wrapper #row1col3 {
		border-top: 5px solid #FFF;
		border-right: 5px solid #FFF;
	}

	.banner-img {
		background-image: none !important;
	}

	.cluster-zero-wrapper #row1col1 .cl-block h1,
	.cluster-zero-wrapper #row1col1 .cl-block h2, 
	.cluster-one-wrapper #row1col1 .cl-block h2, 
	.cluster-three-wrapper #row1col2 .cl-block h2, 
	.cluster-five-wrapper #row1col1 .cl-block h2, 
	.cluster-nine-wrapper #row1col1 .cl-block h2 {
		font-size: 12px;
	}

	.cl-block {
		font-size: 12px;
		padding: 0 10px;
		bottom: 10px;
	}

	.cl-block h2 {
		font-size: 12px;
	}

	/*cluster heights*/
	.cluster-zero-wrapper #row1col1, .cluster-zero-wrapper #row2col1, .cluster-zero-wrapper #row2col2,
	.cluster-zero-wrapper #row1col2, .cluster-zero-wrapper #row2col3 {
		height: 50vw;
	}

	.cluster-one-wrapper #row1col1, .cluster-one-wrapper #row1col2, .cluster-one-wrapper #row2col2 {
		height: 50vw;
	} 

	.cluster-one-wrapper #row2col1, .cluster-one-wrapper #row3col1 {
		height: 25vw;
	} 

	.cluster-two-wrapper #row1col1, 
	.cluster-two-wrapper #row1col2,
	.cluster-two-wrapper #row1col3,
	.cluster-two-wrapper #row2col1, 
	.cluster-two-wrapper #row2col2 {
		height: 50vw;
	}

	.cluster-three-wrapper #row1col1, .cluster-three-wrapper #row1col2, 
	.cluster-three-wrapper #row2col1, .cluster-three-wrapper #row2col2, .cluster-three-wrapper #row2col3 {
		height: 50vw;
	}

	.cluster-four-wrapper #row1col1, 
	.cluster-four-wrapper #row1col2,
	.cluster-four-wrapper #row2col1, 
	.cluster-four-wrapper #row2col2 {
		height: 50vw;
	}

	.cluster-five-wrapper #row1col1, .cluster-five-wrapper #row1col2, 
	.cluster-five-wrapper #row2col1, .cluster-five-wrapper #row2col2, .cluster-five-wrapper #row2col3{
		height: 50vw;
	}

	.cluster-six-wrapper #row1col1, 
	.cluster-six-wrapper #row1col2 {
		height: 50vw;
	}

	.cluster-seven-wrapper #row1col1, 
	.cluster-seven-wrapper #row1col2,
	.cluster-seven-wrapper #row1col3 {
		height: 50vw;
	}

	.cluster-eight-wrapper #row1col1, 
	.cluster-eight-wrapper #row1col2,
	.cluster-eight-wrapper #row2col1 {
		height: 50vw;
	}

	.cluster-nine-wrapper #row1col1, .cluster-nine-wrapper #row1col2, 
	.cluster-nine-wrapper #row2col1, .cluster-nine-wrapper #row2col2 {
		height: 50vw;
	}

	.cluster-ten-wrapper #row1col1, .cluster-ten-wrapper #row1col2, .cluster-ten-wrapper #row1col3, 
	.cluster-ten-wrapper #row2col1 {
		height: 50vw;
	}
}
