.pdr-20px {
	padding-right: 20px;
}

.consumer-site.en .theme-color {
	color: #0B519F;
}

.consumer-site.ml .theme-color {
	color: #0B519F;
}

.consumer-site.en .theme-border-color {
	border-color: #0B519F;
}

.consumer-site.ml .theme-border-color {
	border-color: #0B519F;
}

.cu-wrapper {
	color: #000;
	background-color: #fff;
	padding-top: 2rem;
}

.cu-wrapper a,
.cu-wrapper span {
	font-size: inherit;
}

.cu-wrapper a {
	/* color: #0B519F; */
	font-weight: bold;
}

.consumer-site.en .cu-wrapper a {
	color: #0B519F;
}

.consumer-site.ml .cu-wrapper a {
	color: #0B519F;
}

.cu-wrapper .cu-breadcrumb a {
	font-size: 1.2rem;
	font-weight: normal;
}

.cu-wrapper > .row:last-child {
	margin-bottom: 20px;
}

.cu-wrapper input[type="text"] {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 6px 12px;
	font-size: 14px;
}

.cu-wrapper input[type="text"]:focus {
	border-color: #66afe9;
}

.cu-report-prob-form label {
	color: #2b2b2b;
	font-family: "Droid Sans";
	font-size: 14px;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 4px;
}

.cu-heading-big {
	/* color: #0B519F; */
	font-family: "Droid Sans";
	font-weight: bold;
	font-size: 40px;
}

.cu-heading-smaller {
	/* color: #0B519F; */
	font-family: "Droid Sans";
	font-weight: bold;
	font-size: 21px;
}

.cu-heading-small {
	/* color: #0B519F; */
	font-family: "Droid Sans";
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 14px;
}

.border-below {
	border-bottom: 2px solid;
	padding-bottom: 4px;
}

.cu-desc {
	color: #000;
	font-family: "Roboto Slab";
	font-size: 22px;
	font-weight: normal;
}

.cu-report-prob {
	color: #000;
	font-family: "Droid Sans";
	font-size: 19px;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 4px;
}

.cu-report-prob-gray {
	color: #7f7f7f;
	font-family: "Roboto Slab";
	font-size: 18px;
	font-weight: normal;
}

.cu-section-1 {
	padding-right: 40px;
}

.hq-addr-area {
	margin-bottom: 40px;
}

.hq-addr-area,
.st-office-addr-area {
	color: #000;
	font-family: "Roboto Slab";
	font-size: 14px;
	font-weight: normal;
}

.hq-ph-nos span,
.hq-emails span,
.st-office-ph-nos span {
	display: inline-block;
}

span.tel-ico,
span.mail-ico {
	width: 24px;
}

span.tel-ico img,
span.mail-ico img {
	width: 20px;
	height: 20px;
}

.cu-report-prob-form-controls {
	margin-top: 20px;
}

.cu-report-prob-form-controls > * {
	margin-right: 10px;
}

.cu-report-prob-form-controls .btn {
	padding: 2px 22px;
	border-radius: 0;
	outline: 0;
}

.cu-report-prob-form-controls .btn-primary {
	color: #fff;
	font-family: "Droid Sans";
	font-size: 19px;
    background-color: #565656;
    border-color: #565656;
}

.cu-reg-contact-heading {
	color: #2c2c2c;
	font-family: "Droid Sans";
	font-size: 21px;
	font-weight: normal;
}

.cu-row2 {
	margin-bottom: 30px;
}

.cu-row3-heading {
	color: #383838;
	font-family: "Droid Sans";
	font-size: 17px;
	border-bottom: 2px solid #ccc;
	margin-bottom: 10px;
}

.cu-loc-label {
	color: #000;
    font-family: "Droid Sans";
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 12px;
}

.cu-off-addr-area {
	padding-left: 40px;
}

.off-addr-block {
	padding-bottom: 20px;
	border-bottom: 1px dotted #ccc;
}

.off-addr-block:not(:first-child) {
	margin-top: 20px;
}

.off-addr-block:last-child {
	border-bottom: 2px solid #ccc;
}

.city-name {
	color: #383838;
	font-family: "Droid Sans";
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 8px;
}

.off-addr,
.off-nos {
	color: #383838;
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: normal;
}

.off-addr {
	padding-right: 10px;
}

.off-loc-tab-list {
	display: inline-block;
}

.off-loc-tab-list.nav-tabs > li {
	float: none;
}

.off-loc-tab-list.nav-tabs li.active {
	background: #bababa;
	border: none;
}

.off-loc-tab-list.nav-tabs.nav li a {
	padding: 8px 12px;
	color: #757575;
	font-family: "Roboto Slab";
	font-size: 13px;
	font-weight: normal;
}

.off-loc-tab-list.nav-tabs li.active a,
.off-loc-tab-list.nav-tabs li.active a:hover,
.off-loc-tab-list.nav-tabs li.active a:focus {
	color: #000;
	font-weight: normal;
}

.cu-write-to-us {
	margin-top: 20px;
    color: #2b2b2b;
    font-family: "Droid Sans";
    font-size: 21px;
    font-weight: normal;
}

.cu-all-fields-mndtry {
	color: #a8a8a8;
    font-family: "Droid Sans";
    font-size: 14px;
    font-weight: normal;
}

.contact_us_form textarea {
    margin-bottom: 10px;
}

.captcha_check_msg {
    display:none;
}

@media (max-width: 767px) {
	.off-loc-tab-list.nav-tabs > li {
		float: left;
	}

	.cu-off-addr-area {
		padding: 0;
	}
}