.customize-popup .modal-dialog {
    width: 475px;
}

.customize-popup .glyphicon-remove {
    font-size: 18px;
    cursor: pointer;
}

.cp-title {
    font-size: 24px;
    color: #0B519F;
    margin-top: 20px;
    font-weight: bold;
}

.cp-info {
    font-size: 16px;
    color: #212121;
    margin: 15px 0 10px;
}

.cluster-checkbox {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 1rem;
}

.checkbox-custom{
    opacity: 0;
    position: absolute;   
}

.checkbox-custom, .checkbox-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 5px 5px 0px;
    cursor: pointer;
}

.checkbox-custom-label {
    position: relative;
    border-radius: 15px;
    padding: 10px 15px;
}

.consumer-site .checkbox-custom-label {
    border: 1px solid #0B519F;
}

.checkbox-custom + .checkbox-custom-label:before {
    content: '';
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
    border-radius: 10px;
}

.consumer-site .checkbox-custom + .checkbox-custom-label:before {
    border: 1px solid #0B519F;
}

/*circle*/
.checkbox-custom:checked + .checkbox-custom-label:before {
    box-shadow: inset 0px 0px 0px 4px #fff;
}

.checkbox-custom:checked + .checkbox-custom-label {
    color: #FFF;
}

.consumer-site .checkbox-custom:checked + .checkbox-custom-label {
    background: #0B519F;
}

@media (max-width: 767px) {
    
    .customize-popup .modal-dialog {
        width: 90%;
    }
}