/*LANGUAGE SPECIFIC FONTS*/

/* Adding Noto Sans Malayalam font for malayalam site */
body.ml .breaking-news-wrapper .bn-stmt .bn-box, 
body.ml .breaking-news-wrapper .bn-stmt .bn-box a,
body.ml .cl-block, 
body.ml .gallery-wrap .desc-overlay .media-desc, 
body.ml .timeline-block_news_wrapper li h5, 
body.ml .opinion-wrapper .opleft-full-sec .op-sec-heading,
body.ml .opinion-wrapper .opleft-half-sec .op-sec-heading, 
body.ml .opinion-wrapper .op-cat-heading,
body.ml .opinion-wrapper .op-cat-desc, 
body.ml .ah-title.ml, 
body.ml .article-wrapper,
body.ml .article-polls-wrapper h4, 
body.ml .timeline-lists .timeline-active h5,
body.ml .related-stories-wrapper .rs-desc a,
body.ml .photonews_gallery_wrapper .photonews_gallery--header h1,
body.ml .photonews_gallery_wrapper .photonews_gallery--header .photonews-intro-text p,
body.ml .photonews_gallery_wrapper .photonews_gallery--header .photonews-intro-text li,
body.ml .photonews_gallery_wrapper .photonews_gallery--header .photonews-intro-text a,
body.ml .photonews_gallery_wrapper .photonews_gallery--header .photonews-intro-text a:hover,
body.ml .swiper-container-caption .swiper-wrapper .swiper-slide h4,
body.ml .more-article_swiper_gallery .swiper-slide p,
body.ml .opinion-wrapper .op-cat-img-desc,
body.ml .live-streaming-wrapper .live-streaming__header-content h1,
body.ml .live-streaming-wrapper .video-desc,
body.ml .recommended-articles-wrapper .rs-blocks .rs-desc,
body.ml .related-stories-wrapper .rs-desc a, 
body.ml .recommended-articles-wrapper .rs-desc a,
body.ml .opinion-wrapper .op-title h3,
body.ml .opinion-wrapper .op-title p {
    font-family: "Noto Sans Malayalam";
}


/* Adding Noto Sans Kannada font for kannada site */
body.kn .breaking-news-wrapper .bn-stmt .bn-box, 
body.kn .breaking-news-wrapper .bn-stmt .bn-box a,
body.kn .cl-block, 
body.kn .gallery-wrap .desc-overlay .media-desc, 
body.kn .timeline-block_news_wrapper li h5, 
body.kn .opinion-wrapper .opleft-full-sec .op-sec-heading,
body.kn .opinion-wrapper .opleft-half-sec .op-sec-heading, 
body.kn .opinion-wrapper .op-cat-heading,
body.kn .opinion-wrapper .op-cat-desc, 
body.kn .ah-title.kn, 
body.kn .article-wrapper,
body.kn .article-polls-wrapper h4, 
body.kn .timeline-lists .timeline-active h5,
body.kn .related-stories-wrapper .rs-desc a,
body.kn .photonews_gallery_wrapper .photonews_gallery--header h1,
body.kn .photonews_gallery_wrapper .photonews_gallery--header .photonews-intro-text p,
body.kn .photonews_gallery_wrapper .photonews_gallery--header .photonews-intro-text li,
body.kn .photonews_gallery_wrapper .photonews_gallery--header .photonews-intro-text a,
body.kn .photonews_gallery_wrapper .photonews_gallery--header .photonews-intro-text a:hover,
body.kn .swiper-container-caption .swiper-wrapper .swiper-slide h4,
body.kn .more-article_swiper_gallery .swiper-slide p,
body.kn .opinion-wrapper .op-cat-img-desc,
body.kn .live-streaming-wrapper .live-streaming__header-content h1,
body.kn .live-streaming-wrapper .video-desc,
body.kn .recommended-articles-wrapper .rs-blocks .rs-desc,
body.kn .related-stories-wrapper .rs-desc a, 
body.kn .recommended-articles-wrapper .rs-desc a,
body.kn .opinion-wrapper .op-title h3,
body.kn .opinion-wrapper .op-title p {
    font-family: "Noto Sans Kannada";
}


/* Adding Noto Sans Telugu font for telugu site */
body.te .breaking-news-wrapper .bn-stmt .bn-box, 
body.te .breaking-news-wrapper .bn-stmt .bn-box a,
body.te .cl-block, 
body.te .gallery-wrap .desc-overlay .media-desc, 
body.te .timeline-block_news_wrapper li h5, 
body.te .opinion-wrapper .opleft-full-sec .op-sec-heading,
body.te .opinion-wrapper .opleft-half-sec .op-sec-heading, 
body.te .opinion-wrapper .op-cat-heading,
body.te .opinion-wrapper .op-cat-desc, 
body.te .ah-title.te, 
body.te .article-wrapper,
body.te .article-polls-wrapper h4, 
body.te .timeline-lists .timeline-active h5,
body.te .related-stories-wrapper .rs-desc a,
body.te .photonews_gallery_wrapper .photonews_gallery--header h1,
body.te .photonews_gallery_wrapper .photonews_gallery--header .photonews-intro-text p,
body.te .photonews_gallery_wrapper .photonews_gallery--header .photonews-intro-text li,
body.te .photonews_gallery_wrapper .photonews_gallery--header .photonews-intro-text a,
body.te .photonews_gallery_wrapper .photonews_gallery--header .photonews-intro-text a:hover,
body.te .swiper-container-caption .swiper-wrapper .swiper-slide h4,
body.te .more-article_swiper_gallery .swiper-slide p,
body.te .opinion-wrapper .op-cat-img-desc,
body.te .live-streaming-wrapper .live-streaming__header-content h1,
body.te .live-streaming-wrapper .video-desc,
body.te .recommended-articles-wrapper .rs-blocks .rs-desc,
body.te .related-stories-wrapper .rs-desc a, 
body.te .recommended-articles-wrapper .rs-desc a,
body.te .opinion-wrapper .op-title h3,
body.te .opinion-wrapper .op-title p {
    font-family: "Noto Sans Telugu";
}
