/********** Fonts styles **********/

.polls-accordian .polls_options li label {
    color: #FFFFFF;
    font: 400 16px/25px "Droid Sans";
}

.polls-accordian .panel-default .panel-heading a,
.polls_submit {
    font: 700 19px/30px "Droid Sans";
    color: #FFFFFF;
    text-align:center;
} 

.polls-accordian h5 {
    color: #FFF;
    font: 400 13px/20px "Roboto Slab";
}

.article-polls-wrapper h4 {
    color: #FFF;
    font: 300 19px/25px "Roboto Slab";
}

.polls-accordian h3 {
    color: #FFF;
    font: 300 19px/25px "Roboto Slab";
}

/*Timeline at Clusters*/

.liveblog-block .liveblog_participate_btn,
.liveblog-block h3, 
.liveblog-block h4 {
    color: #FFF;
    font: 300 19px/25px "Droid Sans";
}

.related-article-title {
    color: #333;
    font: 400 18px "Roboto Slab";
    text-transform: uppercase;
}

.timeline-block_news_wrapper li h6 {
    color: #FFF;
    font: 700 12px "Droid Sans";
}

.timeline-block_news_wrapper li h5 {
    color: #333;
    font: 400 13px/15px "Droid Sans";
}

.open-timeline-btn {
    color: #FFF;
    font: 700 11px 'Droid Sans';
}

.open-timeline-btn:hover {
    color: #FFF;
}

/*Static Timeline*/

.timeline-lists li h4 {
    font: 400 15px/35px "Roboto Slab";
}

.timeline-lists li h5 {
    font: 400 12px/20px "Droid Sans";
}

.timeline-lists .timeline-active h4 {
    color: #FFF;
    font: 400 22px/35px "Roboto Slab";
}

.timeline-lists .timeline-active h5 {
    color: #FFF;
    font: 700 13px/20px "Droid Sans";
}