.footer-wrapper {
	height: 280px;
	background-color: #666666;
	font-family: "Droid Sans";
}

.footer-wrapper .navigation ul {
	margin-top: 45px;
}

.footer-wrapper .navigation ul li {
	text-transform: uppercase;
	list-style-type: none;
}

.footer-wrapper .navigation ul li > a {
	color: #FFF;
	line-height: 26px;
	font-size: 13px;
}

.footer-wrapper .navigation ul li > a.about_us {
	font-size: 12px;
	color: #FFF;
}

.footer-wrapper .navigation ul li > a.about_us_2 {
	font-size: 12px;
	color: #999999;
}

.footer-wrapper .navigation ul li > a.about_us_2-main {
	visibility: hidden;
}

.footer-wrapper .newsletter {
	margin-top: 45px;
	min-height: 95px;
	width: 320px;
	background-color: #828282;
	float: left;
}

.footer-wrapper .newsletter .nl-sign-up{
	padding-left: 24px;
	padding-top: 15px;
	font-size: 11px;
	color: #FFFfff;
}

.footer-wrapper .newsletter .nl-sub input{
	height: 35px;
	width: 190px;
	margin-top: 15px;
	margin-left: 20px;
	border: none;
}

.footer-wrapper .newsletter .nl-sub button{
	background-color: #027DB7;
    color: #FFF;
    width: 95px;
    font-size: 12px;
    border: none;
    margin-left: -2.5px;
    padding: 8.5px 0 9.5px 0;
}

.footer-wrapper .newsletter .nl-sub input {
	padding-left: 10px;
	font-size: 12px;
}

.footer-wrapper .newsletter .nl-sub input::-webkit-input-placeholder, .footer-wrapper .newsletter .nl-sub input::-moz-placeholder {
 	color: #666666;
}

.footer-wrapper .newsletter .nl-sub .sub-remarks {
	padding-left: 24px;
	padding-right: 24px;
	color: rgb(200, 200, 200);
    font-size: 12px;
    padding-top: 10px;
}

.footer-wrapper .social-media-icons {
	padding-top: 25px;
}

.footer-wrapper .sm-icons li.sm-fb img, .footer-wrapper .sm-icons li.sm-tw img, 
.footer-wrapper .sm-icons li.sm-lk img, .footer-wrapper .sm-icons li.sm-pin img,
.footer-wrapper .sm-icons li.sm-yt img, .footer-wrapper .sm-icons li.sm-google img {
	opacity: 0.4;
}

.footer-wrapper .sm-icons li.sm-fb img:hover, .footer-wrapper .sm-icons li.sm-tw img:hover, 
.footer-wrapper .sm-icons li.sm-lk img:hover, .footer-wrapper .sm-icons li.sm-pin img:hover,
.footer-wrapper .sm-icons li.sm-yt img:hover, .footer-wrapper .sm-icons li.sm-google img:hover {
	opacity: 1;
}

.consumer-site.en .footer-wrapper .sm-icons li.sm-google,
.consumer-site.en .footer-wrapper .sm-icons li.sm-yt img {
	display: none;
} 

.footer-wrapper .social-media-icons #fb-share{

}

.footer-wrapper .social-media-icons div.sm-icons {
	margin-top: 5px;
}

.footer-wrapper .social-media-icons ul {
	margin: 0;
}

.footer-wrapper .social-media-icons ul li {
	float: left;
	padding-right: 15px;
}

.footer-wrapper .social-media-icons div.connect {
	font-size: 12px;
    color: #999999;
}

.footer-wrapper .social-media-icons ul li a img {
	width: 26px;
	height: 26px;
}

.copyright {
	height: 40px;
	line-height: 40px;
	color: #A4A4A4;
	background-color: #7A7A7A;
	font-family: "Droid Sans";
	font-size: 13px;
}

@media (max-width: 767px) {

	.copyright {
		font-size: 10px;
	}

	.footer-wrapper {
		height: auto;
		padding-bottom: 10px;
	}

	.footer-wrapper .navigation ul {
		margin-top: 0;
	}

	.footer-wrapper .social-media-icons {
		padding-top: 0;
	}

	.footer-wrapper .sm-icons.en {
		width: 9.5rem;
		margin: 0 auto;
	}

	.footer-wrapper .sm-icons.ml {
		width: 17.5rem;
		margin: 0 auto;
	}

	.footer-nav-cat {
		z-index: 99;
		padding-top: 1rem;
	}

	div.footer-nav-cat ul {
	  	text-align: center;
	}

	div.footer-nav-cat ul li {
	  	display: inline;
	  	white-space: nowrap;
	}

	div.footer-nav-cat ul li:after {
	  	content: " |";
	  	color: #FFF;
	  	padding: 0 5px;
	}

	.copyright .cp-text {
		text-align: center;
	}
}