.gallery-wrapper {
	background-color: #333;
}

.gallery-title span {
	font-family: "Droid Sans";
	font-size: 40px;
	color: #FFF;
}

.gallery-wrap { 
	margin: 0 auto; 
	margin-top: -30px;
	overflow: hidden; 
	width: 100%; 
	padding-bottom: 40px;
}

.gallery-wrap .gallery { 
	position: relative; 
	left: 0; 
	top: 0; 
}

.gallery-wrap .gallery__item { 
	float: left; 
	list-style: none; 
	margin-right: 20px; 
}

.gallery-wrap .gallery__img { 
	display: block; 
	height: 300px; 
	width: 300px; 
}

.gallery__controls { 
	position: relative;
	top: 235px; 
	height: 10px;
	z-index: 10;
}

.gallery__controls-prev { 
	cursor: pointer; 
	float: left; 
	background: #000;
}

.gallery__controls-next { 
	cursor: pointer; 
	float: right; 
	background: #000;
}

.gallery-wrap .desc-overlay {
	position: absolute;
    bottom: 0px;
    background: #000;
    width: 300px;
    height: 82px;
    opacity: 0.85;
    color: #FFF;
    pointer-events: none;
}

.gallery-wrap .desc-overlay .media-desc {
	text-transform: uppercase;
	text-align: center;
	margin-top: 1.5rem;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
    letter-spacing: 1px;
}

.gallery-wrap .desc-overlay .media-separator {
	border-bottom: 2px solid #0772A4;
    width: 2rem;
    margin: 1.5rem auto;
}

.gallery-wrap .desc-overlay .media-count {
	text-align: center;
	margin-top: 1.5rem;
}

.gallery-wrap .gallery-media {
	position: relative;
    top: 54px;
    left: 15px;
    background: #e6bf00;
    width: 40px;
    height: 40px;
}

.gallery-wrap .gallery-media img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


@media (min-width: 1200px) {

	.gallery-wrap .gallery__img {
    	height: 365px;
    	width: 365px;
	}

	.gallery-wrap .desc-overlay {
		width: 365px;
	}

	.gallery-wrap .desc-overlay .media-desc {
		width: 365px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {

	.gallery-wrap .gallery__img {
    	height: 225px;
    	width: 225px;
	}

	.gallery-wrap .desc-overlay {
		width: 225px;
	}

	.gallery-wrap .desc-overlay .media-desc {
		width: 225px;
	}
}

@media (max-width: 767px) {

	.gallery-wrap .gallery__img {
    	height: 300px;
    	width: 100vw;
	}

	.gallery-wrap .desc-overlay {
		width: 100vw;
	}

	.gallery-wrap .desc-overlay .media-desc {
		width: 300px;
	}
}


/************ Gallery Page ************/
.photonews_gallery_wrapper {
	background-color: #383838;
}

.photonews_gallery_wrapper .photonews_gallery--header {
	padding: 45px 0;
}

.photonews_gallery_wrapper .photonews_gallery--header h6 {
	color: #389e61;
	font: 400 12px "Droid Sans";
	text-transform: uppercase;
}

.photonews_gallery_wrapper .photonews_gallery--header h1 {
	color: #FFF;
	font: 700 40px/48px "Droid Sans";
}

.photonews_gallery_wrapper .photonews_gallery--footer h5,
.photonews_gallery_wrapper .photonews_gallery--header h5 {
	color: #7f7f7f;
	font: 400 14px/22px "Droid Sans";
}

.photonews_gallery_wrapper .photonews_gallery--header .photonews-intro-text p,
.photonews_gallery_wrapper .photonews_gallery--header .photonews-intro-text li {
	color: #FFF;
	font: 400 14px/22px "Droid Sans";
	padding: 5px 0;
}

.photonews_gallery_wrapper .photonews_gallery--header .photonews-intro-text a,
.photonews_gallery_wrapper .photonews_gallery--header .photonews-intro-text a:hover {
	color: #0377b2;
	font: 400 14px/22px "Droid Sans";
}

.photonews_gallery_wrapper .photonews_gallery--header .photonews-intro-text ol,
.photonews_gallery_wrapper .photonews_gallery--header .photonews-intro-text ul {
	margin-left: 15px;
}

.photonews_gallery_wrapper .photonews_gallery--header .photonews-intro-text li {
	list-style: inherit;
}

.swiper-container {
    width: 100%;
    margin: 0 auto 10px;
    color: #FFF;
    background-color: #000
}

.swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #000;
   max-height: 500px;
   /* Center slide text vertically */
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
}

.more-article_swiper_gallery .swiper-slide {
	-webkit-justify-content: initial;
   justify-content: initial;
}

.swiper-slide img {
	max-height: 500px;
}

.swiper-container-image .swiper-button-prev {
	left: 30px;
}

.swiper-container-image .swiper-button-next {
	right: 30px;
}

.swiper-container-image .swiper-button-next,
.swiper-container-image .swiper-container-rtl .swiper-button-prev {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-container-image .swiper-button-prev,
.swiper-container-image .swiper-container-rtl .swiper-button-next {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-container-caption,
.swiper-container-caption .swiper-slide {
	background-color: transparent;
	color: #FFF;
	text-align: left;
	min-height: 35px;
}

.swiper-container-caption .swiper-slide {
	-webkit-justify-content: initial;
	justify-content: initial;
}

.swiper-container-caption .swiper-wrapper .swiper-slide h4 {
	width: 90% !important;
	color: #F5F5F5;
	font: 400 15px/26px "Droid Sans";
}

.swiper-pagination-fraction, .swiper-pagination-custom {
	width: auto !important;
    right: 0;
    left: 90% !important;
    top: 10px;

    color: #e84c3d;
    font: 700 14px/26px "Roboto Slab";
}

.photonews_gallery--footer .ah-functions .ar-views-comments > div {
	width: auto;
}

.photonews_gallery--footer .ah-functions img {
	width: 27px;
}

.photonews_gallery--footer .ah-functions {
	opacity: 0.5;
	padding: 25px 0;
	width: 100%;
	margin: 0;
}

.photonews_gallery--footer .ah-functions .social-media {
	padding-left: 0;
}

.similar_news_section {
	margin-top: 50px;
}

.more-article_swiper_gallery .swiper-container {
	background-color: #FFF;
}

.more-article_swiper_gallery .swiper-slide {
	background-color: #FFF;
	text-align:left;
}

.more-article_swiper_gallery .swiper-slide p {
	font: 400 16px "Droid Sans";
	color: #333;
	text-align: left;
	margin: 10px 0;
}

.more-article_swiper_gallery .swiper-slide img {
	max-height: 220px;
	width: 100%;
	max-width: 100%;
}

.more-article_swiper_gallery {
	margin-top: 15px;
}

.more-article_swiper_gallery .swiper-button-next {
	right: 0px;
}

.more-article_swiper_gallery .swiper-button-prev {
	left: 0px;
}

.more-article_swiper_gallery .swiper-button-next,
.more-article_swiper_gallery .swiper-button-prev {
	background-image: none;
	padding: 0px 16px 3px 16px;
    background-color: rgba(0,0,0,0.75);
    width: auto;
    height: auto;
    margin-top: 0px;
}

.more-article_swiper_gallery .swiper-button-next span,
.more-article_swiper_gallery .swiper-button-prev span {
	color: #FFF;
    font-size: 20px;
}

.more-article_swiper_gallery .swiper-button-next.swiper-button-disabled,
.more-article_swiper_gallery .swiper-button-prev.swiper-button-disabled {
    opacity: 0.6;
    pointer-events: auto;
}

.more-article_swiper_gallery .more-article-block_img_block {
	display: block;
	width: 100%;
}

.article-pagination-view {
	position: relative;
}

.similar_news_section .swiper-pagination-custom {
    color: #333;
    height: 25px;
    display: none;
}


/*Gallery Home Stylesheet*/

.gallery-category-home {
	width: 100%;
	background-color: #151313;
	padding: 20px 10%;
	z-index: 3;
}

/* clear fix */
.gallery-category-home:after {
	content: '';
	display: block;
	clear: both;
}

.gallery-category-home .masonry-sizer,
.gallery-category-home .masonry-brick {
	width: 33.333%;
}

.gallery-category-home .masonry-brick {
	background-color: #000;
	float: left;

	-webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
    display: block;
    overflow: hidden;

    opacity: 0.8;
}

.gallery-category-home .masonry-brick:hover {
	/*background-color: rgba(255, 255, 255, 1);*/
	opacity: 1;
}

.gallery-category-home .masonry-brick:hover .masonry-caption {
	opacity: 0.6;
}

.gallery-category-home .masonry-brick, 
.gallery-category-home .masonry-brick:hover {
	-webkit-transition: opacity .5s ease-out;
	-moz-transition: opacity .5s ease-out;
	-o-transition: opacity .5s ease-out;
	transition: opacity .5s ease-out;
}

.gallery-category-home .masonry-brick a {
	display: block;
    width: 100%;
    height: 100%;
    border-bottom: none;
}

.gallery-category-home .masonry-brick .masonry-brick_img {
  	width: 100%;
  	display: inline-block;
}

.gallery-category-home .masonry-brick:hover .masonry-brick_img {
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
}

.gallery-category-home .masonry-brick:hover .masonry-caption, 
.gallery-category-home .masonry-brick .masonry-brick_img {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.gallery-category-home .masonry-brick .masonry-caption {
    -ms-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -o-transform: scale(1.01);
    transform: scale(1.01);
}

.gallery-category-home .masonry-brick .masonry-brick_img, 
.gallery-category-home .masonry-brick .masonry-caption {
    -webkit-transition: top .8s ease-out,left .8s ease-out, opacity .8s ease-out, -webkit-transform .8s ease-out;
    -moz-transition: top .8s ease-out,left .8s ease-out, opacity .8s ease-out, -moz-transform .8s ease-out;
    -o-transition: top .8s ease-out,left .8s ease-out, opacity .8s ease-out, -o-transform .8s ease-out;
    transition: top .8s ease-out,left .8s ease-out, opacity .8s ease-out, transform .8s ease-out;
}

.gallery-category-home .masonry-brick .masonry-caption {
    background-color: rgba(0,0,0,.4);
}

.gallery-category-home .masonry-brick .masonry-caption {
	padding: 10px;
}

.gallery-category-home .masonry-brick .masonry-caption h4{
	color: #FFF;
	font: 700 18px "Droid Sans";
	padding-top: 10px;
	margin: 0;
}

.gallery-category-home .masonry-brick .masonry-caption {
	position: absolute;
    display: block;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
}

.gallery-category-home .masonry-brick .masonry-caption .masonry-caption_inner {
	display: block;
    position: absolute;
    bottom: 10px;
}

@media (max-width: 768px) {
	.gallery-category-home .masonry-sizer,
	.gallery-category-home .masonry-brick {
		width: 50%;
	}

	.photonews_gallery_wrapper .photonews_gallery--header h1 {
		font: 400 20px/24px "Droid Sans";
	}
	
	.more-article_swiper_gallery .swiper-slide {
		-webkit-justify-content: center;
		justify-content: center;
	}

	.more-article-block_img_block {
		width: 80%;
	    margin: 0px auto;
	    text-align: center;
	}

	.more-article_swiper_gallery .swiper-slide p {
		text-align: center;
	}
}

@media (max-width: 550px) {
	.gallery-category-home .masonry-sizer,
	.gallery-category-home .masonry-brick {
		width: 100%;
	}
}

@media (max-width: 520px) {
	.more-article_swiper_gallery .more-article-block_img_block {
		display: table;
		width: auto;
	}

	.more-article_swiper_gallery .swiper-slide img {
		width: auto;
	}

	.more-article_swiper_gallery .more-article-block_img_block p.visible-xs {
		display: table-caption !important;
		caption-side: bottom;
	}
}

/**
 * Media queries for vertically centering the controls of 'Just Added' & 'Most Popular' swipers on Photo News page
 * BEGIN
 * 
 * ////////////////////////////////////////////
 * This code works if all images in these swipers are of same dimensions
 * And that dimension is 220x100px (if different then the values here need to
 * changed by examining the image heights at different viewport widths)
 * ////////////////////////////////////////////
 *
 * 		Bowser Width		|		Image Height
 * 		----------------------------------------
 * 		250px <= w < 521px	|		100px
 * 		521px <= w < 768px	|		variable
 * 		768px <= w < 992px	|		79.53px
 * 		992px <= w < 1200px	|		100.75px
 * 				 w > 1200px	|		123.47px
 *
 * And the height of the controls (arrow) icon is 31px
 */
@media (min-width: 250px) and (max-width: 520px) {
	.more-article_swiper_gallery .swiper-button-next,
	.more-article_swiper_gallery .swiper-button-prev {
		top: calc(100px/2 - 31px/2);
	}
}

@media (min-width: 521px) and (max-width: 767px) {
	.more-article_swiper_gallery .swiper-button-next,
	.more-article_swiper_gallery .swiper-button-prev {
		top: 50%;
		margin-top: -40px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.more-article_swiper_gallery .swiper-button-next,
	.more-article_swiper_gallery .swiper-button-prev {
		top: calc(79.53px/2 - 31px/2);
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.more-article_swiper_gallery .swiper-button-next,
	.more-article_swiper_gallery .swiper-button-prev {
		top: calc(100.75px/2 - 31px/2);
	}
}

@media (min-width: 1200px) {
	.more-article_swiper_gallery .swiper-button-next,
	.more-article_swiper_gallery .swiper-button-prev {
		top: calc(123.47px/2 - 31px/2);
	}
}
/**
 * Media queries for vertically centering the controls of 'Just Added' & 'Most Popular' swipers on Photo News page
 * END
 */