body.consumer-site {
    background: #FFF;
}

header {
    background: #FFF;
    position: static;
    padding: 0;
    height: 120px;
    z-index: 1000;  /* setting z-index of header to 1000 which is lower than that for mob-hamburger-menu (1040) but should be sufficiently higher than crowdy news components */
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.header-first {
    width: 100%;
    height: 80px;
    padding: 9.5px 0;
}
.header-first .header-img.teluguLogoBlk{
    width:275px;
}
.header-first .header-img {
    width: 215px;
    height: 58px;
}

.header-first .header-img img {
    width: 100%;
    height: 100%;
}
.header-first .header-img.teluguLogoBlk img{
    width:215px;
    float:left;
}
.header-first .header-img.teluguLogoBlk img.betaText{
    width: 40px;
    float: left;
    margin:10px 0px 0px 4px;
}
.header-first .as-social-network div:first-child {
    color: #0B519F;
    font-size: 14px;
}

.header-first .as-social-network .en .social-media-icons:last-child { border-right: none; padding-right: 0; } /*for en*/

.header-first .as-social-network .kn .social-media-icons:last-child { border-right: none; padding-right: 0; } /*for kn*/

.header-first .as-social-network .te .social-media-icons:last-child { border-right: none; padding-right: 0; } /*for te*/

.header-first .as-social-network .social-media-icons, .header-first .as-social-network .store-icons, .header-first .as-social-network .addit-icons  {
    padding-right: 15px;
    margin-top: 5px;
    display: inline-block;
    float: left;
}

.header-first .as-social-network .social-media-icons:last-child {
    border-right: 1px solid #CCC;
}

.consumer-site.kn .header-first .as-social-network .addit-icons:last-child,
.consumer-site.ml .header-first .as-social-network .addit-icons:last-child  {
    border-right: 1px solid #CCC;
}

.header-first .as-social-network .store-icons:first-child, 
.consumer-site.kn .header-first .as-social-network .social-media-icons:first-child,
.consumer-site.ml .header-first .as-social-network .social-media-icons:first-child   {
    padding-left: 15px;
}

.header-first .as-social-network .store-icons:last-child {
    padding-right: 0;
}

.header-first .as-social-network img {
    width: 30px;
    height: 30px;
}

.header-second {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #0B519F;
    color: #FFF;
}

.header-second.fixed {
    position: fixed;
    top: 0;
    z-index: 100;
}

.header-second .white-brand-logo {
    display: none;
}

.header-second.fixed .white-brand-logo {
    display: block;
    padding-right: 25px;
}

.header-second.fixed .white-brand-logo a {
    font-size: 1rem
}

/*.header-second .white-brand-logo img {
    width: 30px;
    height: 30px;
}

.header-second.fixed .white-brand-logo img {
    width: 30px;
    height: 30px;
}*/

.wbl {
    width: 30px;
    height: 30px;
}

.header-second .navigation {
    height: 40px;
}

.header-second .navigation ul li {
    list-style-type: none;
    font-family: "Droid Sans";
    text-transform: uppercase;
    float: left;
    padding-right: 25px;
}

.header-second .navigation ul li a {
    color: #FFFFFF;
    font-size: 14px;
}

.header-second .navigation ul li > a.active {
  border-bottom: 2px solid #FFF;
  padding-bottom: 2px;
}


.header-second .user {
    padding: 0 10px;
}

.header-second .user svg {
    margin-top: 7.5px;
}

.header-second .username {
    font-size: 14px;
}

.header-second .site-language a:first-child {
    border-left: 1px solid #FFF;
    padding-left: 15px;
}

/*.header-second .site-language a:last-child*/
.right-border {
    border-right: 1px solid #FFF;
}

.header-second .site-language a {
    padding-right: 15px;
    display: none;
}

.header-second .site-language a span {
    text-transform: uppercase;
    font-size: 14px;
    color: #FFF;
}

/******** View More *******/
.header-second .view-more {
    padding-right: 10px;
    cursor: pointer;
}

.header-second .view-more span {
    display: inline-block;
    width: 3px;
    height: 3px;
    padding: 3px;
    background: #FFF;
    border-radius: 3px;
}


.header-second .view-more .more-navigation {
    position: relative;
    right: 136px;
    top: 10px;
    display: none;
}

.header-second .view-more .more-navigation ul li:first-child::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 136px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #0B519F;
    z-index: 111;
}

.header-second .view-more ul {
    position: absolute;
    background: #0B519F;
    width: 170px;
    border-radius: 5px;
    z-index: 100;
    padding: 5px;
}

.header-second .view-more ul li {
    text-align: center;
    /*add ellipsis on overflow*/
    color: #FFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.header-second .view-more ul li a {
    text-transform: uppercase;
    font-size: 14px;
    color: #FFF;
}

.header-second .view-more ul li.active {
    background: rgba(61, 112, 177, 0.7);
}

/********* Login Flap *********/
.login-flap {
    /*width: 50%;
    background-color: #FFF;
    position: relative;
    display: none;*/
    display: none;
    position: relative;
    top: 40px;
    left: -568px;
    z-index: 100;
}

.login-flap .login-wrapper {
    /*height: 54rem;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
    height: 51rem;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    position: absolute;
    width: 568px;
    background: #FFF;
}

.login-flap .auth-message {
    display: none;
}

.lf-scroll {
    top: -3px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 1s ease;
}

.login-flap .auth-breadcrumb {
    display: none;
}

.flap-active {
    background: #FFF;
    z-index: 11;
    padding-right: 10px;
}

.consumer-site .flap-active svg path {
    fill: #0B519F;
}

/********* Search *********/
.as-search {
    margin: 9px 10px 0 0;
}

.search-form .form-group {
    margin-bottom: 0px;
    float: right !important;
    /*-webkit-transition: all 0.35s, border-radius 0s;
    -moz-transition: all 0.35s, border-radius 0s;
    -o-transition: all 0.35s, border-radius 0s;
    transition: all 0.35s, border-radius 0s;*/
    width: 32px;
    height: 32px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 5px;
    margin-top: -5px;
}

.as-search.visible-xs .search-form .form-group input.form-control {
    border: 1px solid #CCC;
    border-radius: 5px;
}

.search-form .form-group input.form-control {
    padding-right: 27px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display:block;
}

.search-form .form-group:hover {
    /*width: 100%;*/
    height: 32px;
    border-radius: 5px;
    background-color: #FFF;
}

.as-search.visible-xs .search-form .form-group span.form-control-feedback {
    color: #0B519F;
}

.search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #FFF;
    left: initial;
    font-size: 18px;
    cursor: pointer;
    pointer-events: initial;
}

.search-form .form-group:hover span.form-control-feedback {
    color: #0B519F;
}

/******* Hamburger Icon ********/
.hamburger-icon {
    padding-right: 10px;
}

#nav-toggle { cursor: pointer; padding: 10px 35px 16px 0px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #0B519F;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before { top: -10px; }
#nav-toggle span:after { bottom: -10px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after { transition: all 500ms ease-in-out; }
#nav-toggle.active span { background-color: transparent; }
#nav-toggle.active span:before, #nav-toggle.active span:after { top: 0; }
#nav-toggle.active span:before { transform: rotate(45deg); }
#nav-toggle.active span:after { transform: rotate(-45deg); }


/****** Mobile based extras ******/
.mob-menu-wrapper {
    display: none;
}

/*from store banner*/
.from-store-banner-wrapper {
    height: auto;
    display: none;
    background: #E6E7E9;
}

.from-store-banner-wrapper img{
    margin: 0 auto;
}

.from-store-banner-wrapper .play-store img,
.from-store-banner-wrapper .app-store img{
    height: 65px;
}

.from-store-banner-wrapper .sb-close {
    position: absolute;
    right: 15px;
    top: 0;
}

.from-store-banner-wrapper .sb-close img {
    height: 12px;
    width: 12px;
}

@media (max-width: 768px) {
    .consumer-site.ml .header-first .header-img, .consumer-site.kn .header-first .header-img {
        width: 150px;
        height: 100%;
    }

    .consumer-site.te .header-first .header-img {
        height: 100%;
    }

    /*search*/
    .as-search {
        position: absolute;
        right: 0;
    }

    .search-form .form-group:hover {
        width: 140%;
    }

    .header-first .header-img.teluguLogoBlk img.betaText{
        height:40px;
        width:35px;
        margin-left:0px;
    }
}

@media (max-width: 360px) {
    .header-first .header-img.teluguLogoBlk{
        width:195px;
    }
    .header-first .header-img.teluguLogoBlk img{
        width:160px;
    }
    .header-first .header-img.teluguLogoBlk img.betaText{
        height: 25px;
        width: 32px;
        margin-left: 1px;
    }
}