.lts-wrapper {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin-top: 30px;
}

.lts-wrapper > .row {
	max-width: 790px;
}

.lts-wrapper .lts-heading {
	font-size: 2.1rem;
	font-weight: bold;
	color: #2388BC;
}

.lts-wrapper select {
	width: auto;
	height: auto;
	background-image: none;
	-webkit-appearance: menulist;
    -moz-appearance: menulist;
    -ms-appearance: menulist;
    appearance: menulist;
}

.lts-wrapper .lts-day-select {
	margin-top: 10px;
	margin-bottom: 10px;
}

.lts-wrapper .lts-day-select label {
	font-size: 1.4rem;
	font-weight: normal;
}

.lts-wrapper .lts-table {
	margin-bottom: 20px;
}

.lts-wrapper .lts-table-tr {
	background-color: #f1f1f1;
	color: #000;
	/* height: 38px; */
	line-height: 38px;
	font-size: 1.2rem;
}

.lts-wrapper .lts-table-tr > div {
	border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    padding: 0 4px;
}

.lts-wrapper .lts-table-tr.lts-table-head-row {
	background-color: #2bbbd8;
    color: #fff;
    font-weight: bold;
}

.lts-wrapper .lts-table-tr.lts-table-head-row > div {
	border: none;
}

.consumer-site.en .theme-background-color-light {
	background-color: #800040;
}

.consumer-site.ml .theme-background-color-light {
	background-color: #2bbbd8;
}
