.live-blog {
	font-family: "Droid Sans";
}

.live-blog .left-section, .live-blog .right-section {
	margin-top: 35px;
}

.live-blog .right-section {
	padding: 0;
}

.live-blog .left-section {
	padding-right: 20px;
}

.live-blog .left-section .lb-ltv-yt-iframe-wrap {
	margin-bottom: 40px;
}

.live-blog .left-section .category-title,
.live-blog .right-section .category-title {
	font-size: 14px;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

.consumer-site.en .live-blog .left-section .category-title,
.consumer-site.en .live-blog .right-section .category-title {
	color: #660033;
}

.consumer-site.ml .live-blog .left-section .category-title,
.consumer-site.ml .live-blog .right-section .category-title {
	color: #0B519F;
}

.consumer-site.kn .live-blog .left-section .category-title,
.consumer-site.kn .live-blog .right-section .category-title {
	color: #B31419;
}

.live-blog .left-section .title {
	/* font-size: 46px; */
	font-size: 35px;
	font-weight: bold;
	padding-bottom: 50px;
}

.live-blog .left-section p iframe, 
.live-blog .left-section p span iframe {
	height: 370px;
	width: 100%;
}

.live-blog .left-section img {
	display: block;
    max-width: 100%;
    height: auto;
}

.live-blog .left-section .lb-title {
	/* font-size: 26px; */
	font-size: 20px;
	font-weight: bold;
	color: #3463A7;
	line-height: 1.4;
}

.live-blog .left-section .lb-created-by {
	font-size: 14px;
	color: #1993D0;
}

.live-blog .left-section .lb-created-by span{
	font-size: inherit;
	color: #858585;
}

.live-blog .left-section .lb-time {
	word-wrap: break-word;
	padding: 7px 8px 0;
	text-align: center;
	/* color: #A1A1A1; */
	color: #000;
}

.live-blog .left-section .lb-time span.glyphicon {
	font-size: 22px;
}

.live-blog .left-section .lb-hr hr{
	border-top: 1px solid #535353;
	margin: 30px 0;
}

.live-blog .left-section .lb-time div.glyphicon-time {
	font-size: 20px;
	color: #858585;
	margin-left: 10px;
}

.live-blog .left-section .lb-description {
	padding-top: 10px;
	padding-right: 50px;
}

.live-blog .left-section .lb-description h1,
.live-blog .left-section .lb-description h2,
.live-blog .left-section .lb-description h3,
.live-blog .left-section .lb-description h4,
.live-blog .left-section .lb-description h5,
.live-blog .left-section .lb-description h6 {
	/**
	 * Overriding styles of fonts.css which make color of h tags white,
	 * due to which the content seems to be invisible
	 */
	color: inherit;
}

/*.live-blog .right-section .user-details {
	border-left: 2px solid #858585;
	border-style: none none none dotted;
}*/

.live-blog .right-section .user-details div.avatar {
	float: left;
	padding: 0 20px;
}

.live-blog .right-section .user-details div.avatar img{
	width: 64px;
	height: 64px;
}

.live-blog .right-section .user-details div.username {
	font-size: 18px;
	position: relative;
	top: 42px; 
	color: #858585;
}

.live-blog .right-section .user-details hr.separator { 
	margin-top: 55px;
	margin-left: 10px;
	border-top: 5px solid #660033;
}

.live-blog .right-section .lb-ads { 
	padding: 10px 0 10px;
}

.live-blog .right-section .lb-ads .ad-title { 
	text-align: center;
	margin-left: 15px;
	margin-top: 10px;
	border-bottom: 2px dotted #858585;
    line-height: 0;
    padding: 0;
}

.live-blog .right-section .lb-ads .ad-title span{ 
	background: #fff;
    padding: 0 7px;
    color: #7D7D7D;
}

.live-blog .right-section .lb-ads .ad-imgs { 
	width: 80%;
	margin: 20px auto;
}

.live-blog .right-section .lb-ads img { 
	width: 100%;
	margin-top: 20px;
}

.live-blog .right-section .lb-events-wrapper { 
	margin: 50px auto;
	width: 90%;
}

.live-blog .right-section .lb-events-wrapper div:first-child { 
	font-family: "Roboto Slab";
	font-size: 20px;
	text-align: left;
	padding-bottom: 20px;
}

.live-blog .right-section .lb-events-wrapper div.lb-events {
	padding-bottom: 20px;
}

.live-blog .right-section .lb-events-wrapper div.lb-events img{ 
	width: 25.6rem;
	height: 10rem;
	margin-bottom: 10px;
}

.live-blog .right-section .lb-events-wrapper div.lb-events a{ 
	color: #858585;
	font-size: 15px;
	font-weight: bold;
	width: 100%;
	margin-top: 10px;
}

.liveblog-block-wrapper {
	height: 100%;
}

.live-blog .left-section .lb-time .lb-modified-at {
	font-size: 1.4rem;
}

.live-blog .right-section .user-details div.avatar.hidden + .username {
	padding-left: 25px;
}

body.ml .live-blog .left-section .title,
body.ml .live-blog .left-section .lb-title,
body.ml .live-blog .left-section .lb-description,
body.ml .live-blog .left-section .lb-description p {
	font-family: "Noto Sans Malayalam";
}

.consumer-site.en .right-section .lb-ltv-yt-iframe-wrap,
.consumer-site.te .right-section .lb-ltv-yt-iframe-wrap,
.consumer-site.ta .right-section .lb-ltv-yt-iframe-wrap {
	display: none;
}

@media (max-width: 767px) {
	.live-blog .left-section {
		padding-right: 0;
	}

	.live-blog .left-section .title {
		font-size: 30px;
	}

	.live-blog .left-section .lb-title {
		font-size: 18px;
	}

	.live-blog .left-section .lb-description img {
		width: 100%;
		height: 100%;
	}

	.live-blog .left-section .lb-description {
		padding-right: 0px;
	}

	.live-blog .left-section .lb-time {
		text-align: left;
		padding: 0px 0px 0px;
	}

	.live-blog .left-section .lb-time .glyphicon-time {
		float: left;
	}

	.live-blog .left-section .lb-time .lb-modified-at {
		padding-left: 20px;
	}

	.liveblog-block-wrapper {
		height: 100%;
	}

	.liveblog-block h4 {
		margin-top: 0;
		font: 300 12px/14px "Roboto Slab";
    	padding: 10px 5px 0px;
	    position: relative;
	    top: 25%;
	    transform: translateY(-40%);
	}

	.live-blog .left-section p iframe, 
	.live-blog .left-section p span iframe {
		width: 100%;
	}

	.liveblog-block .liveblog_participate_btn {
		font: 300 16px/25px "Droid Sans";
	}
}