@font-face {
  font-family: 'opensans';
  src: url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot');
  src: url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff'), url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.ttf') format('truetype'), url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-bold';
  src: url('fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot');
  src: url('fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans_bold_macroman/OpenSans-Bold-webfont.woff') format('woff'), url('fonts/opensans_bold_macroman/OpenSans-Bold-webfont.ttf') format('truetype'), url('fonts/opensans_bold_macroman/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-light';
  src: url('fonts/opensans_light_macroman/OpenSans-Light-webfont.eot');
  src: url('fonts/opensans_light_macroman/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans_light_macroman/OpenSans-Light-webfont.woff') format('woff'), url('fonts/opensans_light_macroman/OpenSans-Light-webfont.ttf') format('truetype'), url('fonts/opensans_light_macroman/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  font-size: 10px;
  margin: 0;
  padding: 0;
  height: auto;
  background: #E6E8E8;
  font-family: 'opensans';
}
a,
p,
label,
span {
  font-size: 1.2rem;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mandatory {
  color: #d9534f;
  font-size: 1.4rem;
  text-transform: lowercase;
}
.bold {
  font-family: 'opensans-bold';
}
.not-bold {
  font-weight: normal;
}
.light {
  font-family: 'opensans-light';
}
.success-msg {
  color: #5cb85c;
  font-size: 1.4rem;
}
.line {
  border-bottom: 2px solid #1D2345;
  margin: 1.5rem 0;
}
.cust-wrap {
  width: 100%;
  margin: 0 auto;
  min-width: 1200px;
}
.hide {
  display: none;
}
.pointer {
  cursor: pointer;
}
.cursor-move {
  cursor: move;
}
.center {
  text-align: center;
}
.banner-image img {
  width: 100%;
}
.inline-block {
  display: inline-block;
}
.cust-glyph {
  font-family: 'Glyphicons Halflings';
  position: absolute;
}
.cust-fa {
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
}
.ease-out {
  -webkit-transition: all ease-out 500ms;
  -moz-transition: all ease-out 500ms;
  -o-transition: all ease-out 500ms;
  transition: all ease-out 500ms;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: inherit;
}
.fa {
  padding: 0 .75rem;
  font-size: 1.6rem;
}
[class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.row {
  margin: 0;
}
.container-fluid {
  padding: 0;
}
h3,
p,
ul,
li,
label {
  margin: 0;
  padding: 0;
}
.error-border {
  border: thin solid #d9534f;
}
.mt-10 {
  margin-top: 1rem;
}
.mb-10 {
  margin-bottom: 1rem;
}
.mb-0 {
  margin-bottom: 0;
}
.mt-15 {
  margin-top: 1.5rem;
}
.mb-15 {
  margin-bottom: 1.5rem;
}
.mt-35 {
  margin-top: 3.5rem;
}
.fa-trash-o {
  color: #d9534f;
}
.notif-count {
  font-family: 'opensans-bold';
  color: #d9534f;
}
.fa-check {
  color: #5cb85c;
}
ul li,
ol li {
  font-size: 1.4rem;
  color: #1D2345;
}
.preview-modal ul {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
.modal-content {
  border-radius: 0;
}
.cke_dialog select {
  position: relative;
  height: 34px;
  -webkit-appearance: initial;
  border: inherit;
  border-radius: 6px;
  outline: none;
  padding: 0;
  background: inherit;
  font-size: 1.4rem;
  background-color: initial;
  width: auto;
}
.cke_dialog select:not([size="10"]) {
  background-image: none;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.with-button .inline {
  width: calc(100% - 4.8rem);
  margin-right: 1rem;
  display: inline-block;
  vertical-align: bottom;
}
.category .video-choices-wrap {
  border-bottom: thin solid #dddddd;
  margin-bottom: 20px;
}
.flex-layout {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.transform-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.tabs-wraps {
  background: #F3F4F4;
}
.tabs-wraps .body-labels {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 8px 2rem;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.tabs-wraps .content-row {
  margin-bottom: 2rem;
}
.tabs-wraps .tabs-content .tab-pane .tab-action {
  margin: 3rem 3rem;
}
.tabs-wraps .tabs-content .tab-pane .banner-image {
  max-width: 25%;
  min-width: 20%;
}
.tabs-wraps .tabs-content .tab-pane .additional-action {
  margin-bottom: 1.5rem;
}
.tabs-wraps .tabs-content .tab-pane select {
  border: 1px solid #E6E8E8;
  border-radius: 0;
  outline: none;
  padding: 8px 2rem;
  width: 100%;
  background: #F3F4F4;
}
.tabs-wraps .tabs-content .tab-pane textarea {
  width: 100%;
}
.tabs-wraps .tabs-content .tab-pane .tags-wrap {
  margin-bottom: 5.5rem;
}
.tabs-wraps .tabs-content .tab-pane .ckeditor-wrap {
  min-height: 16.5rem;
}
.tabs-wraps .tabs-content .tab-pane .ckeditor-wrap .nav-tabs {
  background: #FFF;
}
.tabs-wraps .tabs-content .tab-pane .ckeditor-wrap .nav-tabs li a {
  font-size: 1.2rem;
}
.tabs-wraps .tabs-content .tab-pane .ckeditor-wrap .nav-tabs li.active {
  background: #FFF;
}
.tabs-wraps .tabs-content .tab-pane .ckeditor-wrap .tab-content {
  margin: 2rem 0px;
}
.tabs-wraps .tabs-content .add-story {
  margin-top: 1.5rem;
}
.tabs-wraps .tabs-content .add-story .fa {
  margin: 0px 1.3rem;
}
.tabs-wraps .tabs-content .add-story .body-labels {
  padding: 0px 2rem;
}
.tabs-wraps .tabs-content .tabs-action-btns {
  margin-top: 1.5rem;
}
.tabs-wraps .tabs-content .tabs-action-btns .fa {
  margin: 0px 1.3rem;
}
.tabs-wraps .tabs-content .tabs-action-btns .body-labels {
  padding: 0px 2rem;
}
.row.tabs-action-btns.follow-story {
  margin-top: 10px;
}

.tabs-wraps .tabs-content .summary-row {
  margin-bottom: 1.5rem;
}
.tabs-wraps .tabs-content .summary-row textarea {
  min-height: 31.5rem;
}
.tabs-wraps .tabs-content .summary-row .summary textarea {
  min-height: 31.5rem;
}
.tabs-wraps .tabs-content .summary-row .add-story {
  margin-top: 1.5rem;
}
.tabs-wraps .tabs-content .summary-row .add-story .fa {
  margin: 0px 1.3rem;
}
.tabs-wraps .tabs-content .summary-row .add-story .body-labels {
  padding: 0px 2rem;
}
.selected-story-list {
  padding: 1rem;
  font-size: 1.4rem;
  border: thin solid #E6E8E8;
  display: inline-block;
  margin-top: 1rem;
  position: relative;
}
.selected-story-list span {
  display: inline-block;
  padding-right: 1rem;
}
.selected-story-list .fa {
  cursor: pointer;
}
#createStoryModal {
  top: 12%;
  position: relative;
}
#createStoryModal .fa {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 2.4rem;
}
#createStoryModal .create-story-body {
  padding: 2rem;
}
#createStoryModal .create-story-body p {
  margin: 3rem 0px;
  margin: 2rem 0;
}
#createStoryModal .create-story-body h2 {
  font-size: 2.4rem;
  margin: 2rem 0;
  font-weight: bold;
}
#createStoryModal .create-story-body button.btn-grey {
  text-transform: uppercase;
  border: 1px solid #dddddd;
  text-align: center;
  display: block;
  margin: 0 auto;
}
#createStoryModal .create-story-body .inline:nth-child(odd) {
  padding-right: 3rem;
}
#createStoryModal .create-story-body .inline:nth-child(even) {
  padding-left: 3rem;
}
.block {
  display: block;
  margin: auto;
}
.select-box-buttons {
  margin-top: 10rem;
}
.select-box-buttons button {
  margin-bottom: 1rem;
}
.select-box-buttons .fa {
  font-size: 1.6rem;
}
.edit-buttons {
  margin-top: 2rem;
}
.edit-buttons .button {
  height: 5rem;
  display: block;
  margin-bottom: 2rem;
  width: 40%;
}
.group-manage-links .fa {
  font-size: 2.2rem !important;
}
.group-manage-links .each-link {
  margin-left: 10% !important;
  width: 25% !important;
  min-height: 6rem !important;
}
.line {
  clear: both;
}
.modal-sm {
  min-width: 400px;
  display: block;
}
.rowHeader {
  width: 100%;
  padding: 10px 5px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.rowHeader p {
  display: inline;
  text-transform: capitalize;
  color: black;
  padding-left: 20px;
}
.rowHeader .close {
  float: right;
  padding-right: 5px;
}
.rowHeader .close .fa {
  font-size: 2rem;
}
.userinfo ul {
  height: 500px;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}
.userinfo ul li {
  display: block;
  padding: 10px 15px;
  border-top: 1px solid #c8c8c8;
}
.userinfo ul li .thumbnail {
  height: 50px;
  width: 50px;
  display: inline-block;
  vertical-align: top;
}
.userinfo ul li .content {
  display: inline-block;
  vertical-align: top;
  margin-left: 8px;
  margin-top: 5px;
}
.modal-sm {
  min-width: 400px;
  display: block;
}
.rowHeader {
  width: 100%;
  padding: 10px 5px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.rowHeader p {
  display: inline;
  color: black;
  padding-left: 20px;
}
.rowHeader .close {
  float: right;
  padding-right: 5px;
}
.rowHeader .close .fa {
  font-size: 2rem;
}
.groupinfo {
  padding: 0;
}
.groupinfo ul {
  height: 50rem;
  overflow-y: scroll;
}
.groupinfo ul li {
  display: block;
  padding: 1rem 1.5rem;
  border-top: 1px solid #c8c8c8;
}
.groupinfo ul li .thumbnail {
  height: 5rem;
  width: 5rem;
  display: inline-block;
  vertical-align: top;
}
.groupinfo ul li .content {
  display: inline-block;
  vertical-align: top;
  margin-left: 8px;
  margin-top: 5px;
}
.groupinfo .close {
  float: right;
  padding-right: 5px;
}
.groupinfo .close .fa {
  font-size: 2rem;
}
.users .table tbody tr td:nth-child(2) {
  text-transform: inherit;
}
.story .line {
  margin: 1.5rem 0;
}
.story .cust-btn-position {
  margin-top: 18rem;
}
.story .editing-wraps .tabs-content .tab-pane .search-story {
  margin-bottom: 16rem;
}
.story .editing-wraps .tabs-content .tab-pane .schedule {
  margin-top: 4rem;
}
.story .editing-wraps .tabs-content .tab-pane .schedule .schedule-title {
  margin: 3rem 0px;
  font-size: 14px;
  color: #1D2345;
  font-weight: bold;
  padding: 8px 2rem;
}
.story .title {
  margin: 3rem 0px;
  font-size: 14px;
  color: #1d2345;
}
.story .add-langulage-titles-wrap .story-titles {
  border-bottom: 1px solid #f7f7f7;
  padding: 8px;
  font-size: 1.6rem;
}
.story .add-langulage-titles-wrap .story-titles.first {
  border-top: 1px solid #f7f7f7;
  margin-top: 1.5rem ;
}
.story .add-langulage-titles-wrap .story-titles a {
  padding: 0 5px;
  font-size: 1.6rem;
}
.story .add-langulage-titles-wrap .story-titles i {
  padding: 0 5px;
  font-size: 1.6rem;
}
.story .add-langulage-titles-wrap .story-desc .col-md-4 {
  padding-right: 1.5rem;
}
.story .add-langulage-titles-wrap .story-table {
  margin: 3rem 0px 6rem;
}
.filter-wrap {
  margin: 2rem 0;
}
.filter-wrap select {
  min-width: 25rem;
  margin-right: 1.5rem;
}
.filter-wrap input[type="text"] {
  min-width: 25rem;
  margin-right: 1.5rem;
}
.filter-wrap .row .col-md-6 {
  position: relative;
}
.filter-wrap .row .col-md-6 .align-right {
  position: absolute;
  right: 0px;
}
.photoNews .content-view .drop-box {
  height: auto;
  border: 2px solid #E6E8E8;
}
.photoNews .content-view .banner-image {
  display: inline-block;
  position: relative;
}
.photoNews .content-view .banner-image img {
  width: 100%;
}
.photoNews .content-view .banner-image .caption {
  text-align: center;
}
.photoNews .content-view .imageWrap {
  margin: 1.5rem;
  position: relative;
}
.photoNews .content-view .imageWrap .thumb {
  width: 100%;
  height: 20rem;
  float: none;
}
.photoNews .content-view .imageWrap .photoEditBtn {
  position: absolute;
  top: 5px;
  width: 100%;
  text-align: center;
}
.photoNews .content-view .imageWrap .photoEditBtn .button {
  padding: 8px 1.5rem;
}
.photoNews .content-view .imageWrap .photoEditBtn .white {
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
}
.widget-data {
  margin-bottom: 1.5rem;
}
.widget-data .col-md-4 {
  padding-right: 1.5rem;
}
.widget-data .col-md-4:last-child {
  padding-right: 0;
}
.widgets .filters div {
  vertical-align: middle !important;
  text-align: center;
}
.widgets .search-btn {
  width: 200px !important;
}
.photoNewsImage {
  width: 100%;
  height: 20rem;
  float: none;
  margin-bottom: 2rem;
}
.photoNewsPreview {
  margin: 2rem 0px;
  width: 100%;
  float: none;
}
.photo-slider .right {
  float: right;
}
.photo-slider i {
  vertical-align: bottom;
}
p {
  font-size: 1.4rem;
  color: #1D2345;
}
.theme-list {
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  width: 100%;
  padding: 3px;
}
.theme-list > div {
  width: calc(33.33% - 3rem);
  -webkit-order: 0;
  order: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  -webkit-flex-basis: auto;
  flex-basis: auto;
  -webkit-align-self: auto;
  align-self: auto;
  margin: 1.5rem;
  display: inline-block;
  position: relative;
}
.theme-list > div p {
  font-size: 1.6rem;
  text-align: center;
}
.theme-list > div label {
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
  z-index: 1;
}
.theme-list > div input[type="radio"] {
  visibility: hidden;
  position: absolute;
}
.theme-list > div input[type="radio"]:checked + label + .each-theme {
  border: 4px solid #1D2345;
}
.theme-list > div input[type="radio"]:checked + label + .each-theme .overlay-btn {
  display: block;
}
.theme-list > div .each-theme {
  border: 4px solid #E6E8E8;
  cursor: pointer;
  position: relative;
  height: 100%;
}
.theme-list > div .each-theme img {
  width: 100%;
  height: 100%;
}
.theme-list > div .each-theme .overlay-btn {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  display: none;
}
.theme-list > div .each-theme .overlay-btn button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-manager ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu-manager ul li {
  margin: 0;
  padding: 5px 1rem;
  cursor: move;
  display: inline-block;
  background: #FFF;
  margin: 1rem 0;
  outline: none;
}
.menu-manager ul li.parent-nav {
  margin-bottom: 5px;
  margin-top: 0;
  display: block;
  padding: 1rem;
  background: #EBEBEB;
}
.menu-manager ul li ul li {
  margin: 1rem 1rem 0;
}
.menu-manager ul li ul li.ui-sortable-helper {
  background: #333;
  height: auto !important;
}
.menu-manager ul li.ui-sortable-helper {
  background: #1D2345;
  height: auto !important;
}
.menu-manager ul li.ui-sortable-helper > p {
  color: #FFF;
}
.menu-manager ul li.ui-sortable-helper > p span {
  color: #FFF;
}
.menu-manager ul li.ui-sortable-helper > p span:first-child {
  color: #1D2345;
}
.menu-manager ul li.ui-sortable-placeholder {
  border: thin dashed #1D2345;
  visibility: visible !important;
}
.menu-manager ul li ul {
  margin-left: 2.5rem;
}
.menu-manager ul li p {
  font-size: 1.6rem;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-manager ul li p.parent-nav {
  padding: 2px;
}
.menu-manager ul li p .controls {
  position: absolute;
  right: 1.5rem;
}
.menu-manager ul li p .controls .fa {
  font-size: 1.8rem;
  padding-left: 1.5rem;
}
.menu-manager ul li p span {
  vertical-align: middle;
  font-size: 1.6rem;
}
.menu-manager ul li p span:first-child {
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
  border-radius: 100%;
  background: #E6E8E8;
  font-size: 1.2rem;
  text-align: center;
  margin-right: 5px;
  font-family: 'opensans-bold';
  padding: 3px;
  vertical-align: middle;
}
.menu-manager dynamic-directive {
  display: block;
}
#managemenuModal h3 {
  font-size: 1.8rem;
  font-family: 'opensans-bold';
  color: #1D2345;
  text-transform: uppercase;
}
#managemenuModal .panel-default > .panel-heading {
  background-color: #EBEBEB;
  border: none;
}
#managemenuModal .panel {
  webkit-box-shadow: none;
  box-shadow: none;
  background: #EBEBEB;
}
#managemenuModal .panel-heading {
  padding: 10px 15px;
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#managemenuModal .panel-heading h4 {
  position: relative;
}
#managemenuModal .panel-heading h4.has-children::after {
  content: '\f077';
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  right: 0px;
  top: 0px;
  font-weight: 200;
}
#managemenuModal .panel-heading h4.has-children.collapsed::after {
  content: '\f078';
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  right: 0px;
  top: 0px;
  font-weight: 200;
}
#managemenuModal .panel-group .panel {
  border-radius: 0;
  border: none;
}
#managemenuModal .panel-group .panel .form-group {
  margin-bottom: 0;
  display: inline-block;
}
#managemenuModal .panel-default > .panel-heading {
  color: #1D2345;
  background-color: #EBEBEB;
  border: none;
}
#managemenuModal .panel-group .panel-heading + .panel-collapse > .panel-body,
#managemenuModal .panel-group .panel-heading + .panel-collapse > .list-group {
  border: none;
}
#managemenuModal .panel-body .form-group {
  margin-bottom: 0;
  display: inline-block;
  padding-left: 3rem;
}
.notification h3 {
  font-size: 1.6rem;
}
.notification table.notification-table {
  table-layout: fixed;
}
.notification table.notification-table tr.active {
  background: #ECE8E8;
  border-bottom: thin solid #F3F4F4;
}
.notification table.notification-table td {
  text-transform: none;
}
.notification table.notification-table td img {
  max-width: 2.4rem;
}
.notification table.notification-table td .light-color {
  font-size: 1.4rem;
  color: #979797;
  margin-top: 5px;
}
.notification table.notification-table td .light-color span {
  color: #333;
}
.notification table.notification-table th:nth-child(4n + 1),
.notification table.notification-table td:nth-child(4n + 1) {
  width: 50px;
}
.notification table.notification-table th:nth-child(4n + 1) .fa-file-text,
.notification table.notification-table td:nth-child(4n + 1) .fa-file-text,
.notification table.notification-table th:nth-child(4n + 1) .fa-picture-o,
.notification table.notification-table td:nth-child(4n + 1) .fa-picture-o {
  font-size: 2rem;
}
.notification table.notification-table th:nth-child(4n + 3),
.notification table.notification-table td:nth-child(4n + 3) {
  width: 200px;
}
.notification table.notification-table th:nth-child(4n + 4),
.notification table.notification-table td:nth-child(4n + 4) {
  width: 200px;
}
.notification table.notification-table th:nth-child(4n + 5),
.notification table.notification-table td:nth-child(4n + 5) {
  width: 100px;
}
.notification table.notification-table .fa {
  font-size: 1.6rem;
  padding: 0 5px;
}
.notification table.notification-table span {
  vertical-align: bottom;
}
.notification table.notification-table span.titles {
  display: inline-block;
  vertical-align: bottom;
  font-weight: 600;
  width: 100%;
  font-family: opensans-bold;
}
.notification table.notification-table div.languages {
  width: 100%;
  margin-top: 1rem;
}
.notification table.notification-table div.languages .key {
  font-weight: bold;
  color: #000;
  padding-right: 1rem;
  font-size: 1.4rem;
}
.notification table.notification-table div.languages .value {
  display: inline-block;
  vertical-align: bottom;
  font-size: 1.4rem;
}
.notification table.notification-table div.languages .value .status.approved {
  color: #5cb85c;
}
.notification table.notification-table div.languages .value .status.disapproved {
  color: #d9534f;
}
.notification table.notification-table div.languages .value .status.pending {
  color: #f0ad4e;
}
.notification table.notification-table div.languages .value .status.draft {
  color: #5bc0de;
}
.notification table.notification-table div.languages .value .status.published {
  color: #5cb85c;
}
.notification table.notification-table div.languages .pipe {
  padding: 0 5px;
}
.notification .notif-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.notification .notif-list li {
  margin: 0;
  padding: 1rem;
  border-bottom: thin solid #E6E8E8;
}
.notification .notif-list li.active {
  background: #ECE8E8;
  border-bottom: thin solid #F3F4F4;
}
.notification .notif-list li a {
  color: #337ab7;
}
.template-manager.theme .cluster-block-container {
  padding-top: 5px;
}
.template-manager.theme .cluster-block-container .each-cluster-block {
  cursor: move;
  margin: 20px 0;
}
.template-manager.theme .medianews-block-container {
  padding: 5px;
}
.template-manager.theme .medianews-block-container .each-medianews-block {
  cursor: move;
  width: 30%;
  float: left;
  margin: 10px;
}
.template-manager.theme .row div.each-block {
  border: thin solid #dddddd;
  min-height: 20rem;
  margin-bottom: 1.5rem;
}
.template-manager.theme .row div.each-cluster {
  border: thin solid #dddddd;
  margin-bottom: 1.5rem;
}
.template-manager.theme .row div button.header-block {
  padding: 1.5rem;
}
.template-manager.theme .row div .header-block {
  padding: 0 1.5rem;
  background: #1D2345;
}
.template-manager.theme .row div .header-block h6 {
  color: #FFF;
  font-size: 1.6rem;
  margin: 0;
  cursor: pointer;
  display: inline-block;
  height: auto;
  width: 50%;
  padding: 1.5rem 0;
}
.template-manager.theme .row div .header-block .controls {
  padding: 1.5rem 0;
}
.template-manager.theme .row div .header-block .controls .fa {
  color: #FFF;
  font-size: 1.6rem;
  cursor: pointer;
}
.template-manager.theme .row div .body ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.template-manager.theme .row div .body ul li {
  padding: 5px 1rem;
}
.template-manager .clusters-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
}
.template-manager .clusters-wrapper .clusters-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
}
.template-manager .clusters-wrapper .clusters-inner {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  min-height: 150px;
  border: 1px solid #cccccc;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.template-manager .clusters-wrapper .clusters-inner .btn-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.template-manager .clusters-wrapper .clusters-inner .btn-wrapper button {
  background: transparent;
  color: #FFF;
  border: none;
  z-index: 5;
}
.template-manager .clusters-wrapper .clusters-inner .btn-wrapper button.upload-img-btn {
  display: none;
}
.template-manager .clusters-wrapper .clusters-inner .btn-wrapper .search-img-btn {
  display: none !important;
}
.template-manager .clusters-wrapper .clusters-inner .news_wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.template-manager .clusters-wrapper .clusters-inner .news_wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.template-manager .clusters-wrapper .clusters-inner .news_wrapper .remove-img-btn {
  z-index: 1;
  color: #fff;
  position: absolute;
  top: 30px;
  right: 10px;
}
.template-manager .clusters-wrapper .clusters-inner .news_wrapper .news_type {
  z-index: 5;
  display: inline-block;
  padding: 4px;
  background: rgba(0, 0, 250, 0.2);
  color: #FFF;
  text-transform: capitalize;
  margin: 10px;
  border: 2px solid #FFF;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
}
.template-manager .clusters-wrapper .clusters-inner .news_wrapper .news_title {
  position: absolute;
  bottom: 0;
  min-height: 50px;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  font-size: 2.5rem;
  margin: 0;
  color: #fff;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.template-manager .clusters-wrapper .clusters-inner .news_wrapper .news_title:hover {
  overflow: visible;
  white-space: normal;
}
.template-manager .clusters-wrapper .clusters-inner .news_wrapper img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.7s ease-in-out 0s;
  -moz-transition: all 0.7s ease-in-out 0s;
  -ms-transition: all 0.7s ease-in-out 0s;
  -o-transition: all 0.7s ease-in-out 0s;
}
.template-manager .clusters-wrapper .clusters-inner .news_wrapper.cluster_sm {
  height: 150px;
}
.template-manager .clusters-wrapper .clusters-inner .news_wrapper.cluster_md {
  height: 300px;
}
.template-manager .clusters-wrapper .clusters-inner .news_wrapper.cluster_lg {
  height: 600px;
}
.template-manager .clusters-wrapper .clusters-inner .news_wrapper:hover > img {
  transform: scale(1.1);
}
.template-manager .photo_video_cluster {
  border: 5px solid #FFF;
  border-left: 0;
}
.template-manager .photo_video_cluster .media_news_wrapper .media_news {
  position: relative;
  height: 300px;
  overflow: hidden;
}
.template-manager .photo_video_cluster .media_news_wrapper .media_news .media_img {
  height: 100% !important;
  width: 100% !important;
  -webkit-transition: all 0.7s ease-in-out 0s;
  -moz-transition: all 0.7s ease-in-out 0s;
  -ms-transition: all 0.7s ease-in-out 0s;
  -o-transition: all 0.7s ease-in-out 0s;
}
.template-manager .photo_video_cluster .media_news_wrapper .media_news .media_img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.template-manager .photo_video_cluster .media_news_wrapper .media_news .media_caption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px;
  margin: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  color: #FFF;
}
.template-manager .switch-selection {
  background: #282D37;
}
.template-manager .tile-wrap .tile {
  cursor: pointer;
}
.template-manager .tile-wrap .tile:hover {
  opacity: .8;
}
.template-storybank tbody {
  display: block;
  max-height: 400px;
  overflow-y: auto;
}
.template-storybank thead,
.template-storybank tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.mobile-preview {
  position: relative;
  padding-bottom: 90%;
  height: 0;
  overflow: hidden;
}
.mobile-preview iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
header {
  background: #1b1b25;
  padding: 0 1.5rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 5rem;
  z-index: 9;
}
header h3 {
  font-size: 1.6rem;
  color: #FFF;
  font-family: 'opensans-bold';
  text-transform: uppercase;
}
header .navbar-brand {
  padding: 5px 15px;
}
header .navbar-brand img {
  display: inline-block;
  width: 4rem;
}
header .navbar-brand span {
  font-size: 2.2rem;
  vertical-align: bottom;
}
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1100;
  background: rgba(0, 0, 0, 0.56);
}
.loader i {
  font-size: 5rem;
  position: relative;
  top: 50%;
  left: 50%;
  z-index: 1000;
  color: #ddd;
}
.bread-crumb {
  background: #FFF;
  padding: 1.25rem 2.5rem;
  position: relative;
  left: 0;
  right: 0;
  z-index: 0;
  display: table;
  width: 100%;
  border-bottom: thin solid #E6E8E8;
}
.bread-crumb div p.b-text {
  display: inline-block;
  font-size: 1.4rem;
  color: #000;
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 1;
  padding: 0 3rem 0 1rem;
  position: relative;
}
.bread-crumb div p.b-text:first-child {
  padding: 0 3rem 0 0;
}
.bread-crumb div p.b-text:last-child:after {
  display: none;
}
.bread-crumb div p.b-text:after {
  font-family: 'Glyphicons Halflings';
  position: absolute;
  content: "\e258";
  color: #999;
  top: 0;
  right: 0px;
  font-size: 1.6rem;
}
.bread-crumb div p.b-text.active {
  color: #1D2345;
  font-family: 'opensans-bold';
}
.bread-crumb .abs-pos {
  position: absolute;
  right: 2.5rem;
  top: 2.5px;
}
.bread-crumb a {
  text-decoration: none;
}
.bread-crumb ul {
  list-style: none;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.bread-crumb ul li {
  padding: 5px 1rem;
  display: inline-block;
  font-size: 1.4rem;
  vertical-align: middle;
}
.bread-crumb ul li a {
  color: #000;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
  min-width: 1200px;
  padding-top: 5rem;
  display: table;
  position: relative;
  background: #FFF;
  height: 100%;
}
.wrapper .content {
  display: inline-block;
  padding: 0;
  vertical-align: top;
  position: relative;
  width: 100%;
  left: 0;
}
.wrapper .content .well {
  background: #FFF;
  border-radius: 0;
}
.wrapper .content .well input {
  width: 100%;
  border: 0;
  border-bottom: thin solid #333;
  background: #FFF;
  outline: none;
  box-shadow: none;
}
.wrapper .content .inline:nth-child(odd) {
  padding-right: 3rem;
}
.wrapper .content.inline:nth-child(even) {
  padding-left: 3rem;
}
.dialog-header-confirm .close {
  color: #FFF;
  opacity: 1;
}
.modal-body {
  font-size: 1.4rem;
}
.preview-modal .create-story-body {
  max-height: 650px;
  overflow-y: auto;
}
.modal-content .inline:nth-child(odd) {
  padding-right: 3rem;
}
.modal-content.inline:nth-child(even) {
  padding-left: 3rem;
}
.recommended-wrapper .max-error {
  color: #FF0000;
  padding: 10px 0;
  font-size: 12px;
}
.recommended-wrapper #selectedArticlesModal .modal-dialog {
  width: 800px;
}
.content-view {
  padding: 1.5rem;
}
.content-view .title {
  font-size: 1.4rem;
  font-family: 'opensans-bold';
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.content-view .title.margin {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.content-view .quick-links {
  margin-left: -1rem;
  margin-right: -1rem;
}
.content-view .quick-links .each-link {
  width: calc(100% / 5 - 2rem);
  margin: 1rem;
  float: left;
  background: #F3F4F4;
  cursor: pointer;
  min-height: 12rem;
}
.content-view .quick-links .each-link a {
  text-decoration: none;
  color: #333;
}
.content-view .quick-links .each-link a:hover {
  color: #1D2345;
}
.content-view .quick-links .each-link a:hover .link-name {
  color: #1D2345;
}
.content-view .quick-links .each-link a .wrap {
  display: inline-block;
  width: 100%;
  padding: 1.5rem 0;
}
.content-view .quick-links .each-link a .wrap .fa {
  font-size: 4.2rem;
  width: 100%;
  text-align: center;
  color: #282D37;
}
.content-view .quick-links .each-link a .wrap .link-name {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: 'opensans-light';
  color: #1D2345;
  padding: 0 4rem;
}
.content-view .filter-section {
  margin: 0 0 2rem 0;
}
.content-view .filter-section .filters {
  margin: 1.5rem 0 2rem 0;
  display: table;
  width: 100%;
}
.content-view .filter-section .filters div {
  display: table-cell;
  vertical-align: bottom;
  font-size: 1.4rem;
  padding-right: 1.5rem;
}
.content-view .filter-section .filters div:last-child {
  padding-right: 0;
  width: auto;
}
.content-view .filter-section .filters div .button {
  width: 100%;
}
.content-view .cat-desc {
  margin-bottom: 1.5rem;
}
.content-view .cat-desc .col-md-4 {
  padding-right: 1.5rem;
}
.content-view .cat-desc .col-md-4:last-child {
  padding-right: 0;
}
.content-view .controls {
  margin: 0;
}
.content-view .controls p {
  margin: 0 0 1rem 0;
  height: 2rem;
}
.content-view .controls .button {
  margin-right: 1.5rem;
}
.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 8px 2rem;
  font-size: 1.2rem;
  text-transform: capitalize;
  background: transparent;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.button:hover {
  text-decoration: none;
  cursor: pointer;
}
.button.btn-blue {
  background: #1D2345;
  color: #FFF;
}
.button.btn-def {
  border: thin solid #1D2345;
  color: #333;
}
.button.btn-grey {
  background: #F3F4F4;
}
.button.btn-content {
  padding: 5px;
  position: relative;
  border: 1px solid #1D2345;
  width: 3.4rem;
  height: 3.4rem;
}
.button.btn-content.plus:before {
  content: "\f067";
}
.button.btn-content.remove:before {
  content: "\f00d";
}
.button.btn-content.edit:before {
  content: "\f040";
}
.button.btn-content:before {
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  color: #1D2345;
  top: 7.5px;
  left: 9px;
  font-size: 1.6rem;
  font-weight: lighter;
}
.modal-header .close {
  opacity: 0.4;
}
.modal-header .close:hover {
  opacity: 0.7;
}
.modal-footer button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 8px 2rem;
  font-size: 1.2rem;
  text-transform: capitalize;
  background: transparent;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.modal-footer button:hover {
  text-decoration: none;
  cursor: pointer;
}
.modal-footer button.btn-blue {
  background: #1D2345;
  color: #FFF;
}
.modal-footer button.btn-def {
  border: thin solid #1D2345;
  color: #333;
}
.modal-footer button.btn-grey {
  background: #F3F4F4;
}
.modal-footer button.btn-content {
  padding: 5px;
  position: relative;
  border: 1px solid #1D2345;
  width: 3.4rem;
  height: 3.4rem;
}
.modal-footer button.btn-content.plus:before {
  content: "\f067";
}
.modal-footer button.btn-content.remove:before {
  content: "\f00d";
}
.modal-footer button.btn-content.edit:before {
  content: "\f040";
}
.modal-footer button.btn-content:before {
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  color: #1D2345;
  top: 7.5px;
  left: 9px;
  font-size: 1.6rem;
  font-weight: lighter;
}
.modal-footer button.btn-default {
  background: #1D2345;
  color: #fff;
}
.modal-footer button.btn-primary {
  background: #f0ad4e;
}
.modal-footer button.btn-warning {
  background: #f0ad4e;
}
.poll-choice-votes-section {
  width: auto;
  min-width: 420px;
}
.poll-choice-votes-section .poll-choice-section {
  word-wrap: break-word;
}
.pagination-cust {
  display: inline-block;
  margin: 0;
}
.pagination-cust .fa {
  font-size: 2.4rem;
  vertical-align: middle;
  cursor: pointer;
}
.pagination-cust span {
  vertical-align: middle;
  line-height: 2.5rem;
  display: inline-block;
  cursor: pointer;
}
.pagination-cust .no-events {
  pointer-events: none;
  color: #E6E8E8;
}
.left-panel {
  width: 24rem;
  background: #22232f;
  height: calc(100% - 5rem);
  position: fixed;
  top: 5rem;
  bottom: 0;
  left: 0;
  overflow: auto;
  display: inline-block;
  z-index: 5;
  border-right: thin solid #E6E8E8;
}
.left-panel + .wrapper .content {
  left: 24rem;
  width: calc(100% - 24rem);
  height: 100%;
}
.left-panel > div {
  width: 100%;
  text-align: left;
}
.left-panel > div input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}
.left-panel > div input[type="checkbox"]:checked + label {
  color: #FFF;
  font-weight: 600;
  letter-spacing: 1px;
}
.left-panel > div input[type="checkbox"]:checked + label.has-child:before {
  font-family: 'Glyphicons Halflings';
  position: absolute;
  content: "\e114";
  color: #FFF;
  top: 1.2rem;
  right: 1.5rem;
  font-size: 1.2rem;
}
.left-panel > div input[type="checkbox"]:checked ~ .sub-menu {
  max-height: 50rem;
  -webkit-transition: all ease-out 500ms;
  -moz-transition: all ease-out 500ms;
  -o-transition: all ease-out 500ms;
  transition: all ease-out 500ms;
}
.left-panel > div .sub-menu {
  -webkit-transition: all ease-out 500ms;
  -moz-transition: all ease-out 500ms;
  -o-transition: all ease-out 500ms;
  transition: all ease-out 500ms;
  max-height: 0;
  width: 100%;
  overflow: hidden;
}
.left-panel > div .sub-menu ul {
  background: #1b1b25;
  margin: 0;
  padding: 0;
}
.left-panel > div .sub-menu ul li {
  font-size: 1.2rem;
  text-align: left;
  cursor: pointer;
  list-style-type: square;
  padding-left: 2.5rem;
  position: relative;
  text-transform: uppercase;
}
.left-panel > div .sub-menu ul li a {
  color: #8a8b8c;
  text-decoration: none;
  padding: 1rem;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.left-panel > div .sub-menu ul li a .fa {
  padding-right: 1rem;
}
.left-panel > div .sub-menu ul li a:hover {
  color: #FFF;
}
.left-panel > div .sub-menu ul li.active a {
  color: #FFF;
  font-weight: 600;
  letter-spacing: 1px;
}
.left-panel > div label {
  font-size: 1.4rem;
  font-weight: normal;
  padding: 1rem 1.5rem;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  color: #8a8b8c;
}
.left-panel > div label.has-child:before {
  font-family: 'Glyphicons Halflings';
  position: absolute;
  content: "\e080";
  top: 1.2rem;
  right: 1.5rem;
  font-size: 1.2rem;
}
.left-panel > div label:hover {
  color: #FFF;
}
/* .header-mixin begins */
/* .header-mixin ends   */
.navbar .navbar-brand {
  color: #FFF;
}
.navbar .nav li a {
  color: #FFF;
  font-size: 1.4rem;
}
.navbar .nav li a:hover,
.navbar .nav li a:focus {
  background-color: transparent;
  color: #979797;
}
.navbar .user-dropdown-container {
  float: left;
  margin-top: 14px;
  position: relative;
}
.navbar .user-dropdown-container .user-dropdown-button {
  color: #8b91a0;
  cursor: pointer;
}
.navbar .user-dropdown-container .user-dropdown-button:focus {
  background-color: transparent;
  color: #FFF;
}
.navbar .user-dropdown-container .user-dropdown-button div {
  float: left;
}
.navbar .user-dropdown-container .user-dropdown-button .fa {
  margin-left: 2px;
}
.navbar .user-dropdown-container .user-dropdown-menu {
  display: none;
  list-style: none;
  min-width: 160px;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #FFF;
  color: #2a2e36;
  border: solid 1px rgba(100, 100, 100, 0.2);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  z-index: 0;
}
.navbar .user-dropdown-container .user-dropdown-menu li {
  padding: 0;
}
.navbar .user-dropdown-container .user-dropdown-menu li:hover {
  background-color: #CAEDFC;
}
.navbar .user-dropdown-container .user-dropdown-menu li a {
  color: #2a2e36;
  font-weight: normal;
  text-decoration: none;
  display: block;
  padding: 4px 6px 4px 6px;
}
.navbar .user-dropdown-container .user-dropdown-menu::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  color: transparent;
  border: 10px solid #ccc;
  border-color: transparent transparent #FFF;
  margin-top: -20px;
}
.navbar .user-dropdown-container .user-dropdown-button .user-email-on-nav {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}
.navbar .user-dropdown-container .user-dropdown-button .profile-pic-on-nav {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  overflow: hidden;
  margin-left: 2px;
}
.navbar .user-dropdown-container .user-dropdown-button .profile-pic-on-nav img {
  width: 25px;
  height: 25px;
}
.navbar .user-dropdown-container .user-dropdown-menu li a i {
  padding-left: 6px;
  padding-right: 10px;
}
.navbar .user-dropdown-container .user-dropdown-menu::before {
  margin-left: 176px;
}
.navbar .user-role-dropdown-container,
.navbar .user-lang-dropdown-container {
  float: left;
  margin-top: 14px;
  position: relative;
  margin-right: 50px;
}
.navbar .user-role-dropdown-container .user-dropdown-button,
.navbar .user-lang-dropdown-container .user-dropdown-button {
  color: #8b91a0;
  cursor: pointer;
}
.navbar .user-role-dropdown-container .user-dropdown-button:focus,
.navbar .user-lang-dropdown-container .user-dropdown-button:focus {
  background-color: transparent;
  color: #FFF;
}
.navbar .user-role-dropdown-container .user-dropdown-button div,
.navbar .user-lang-dropdown-container .user-dropdown-button div {
  float: left;
}
.navbar .user-role-dropdown-container .user-dropdown-button .fa,
.navbar .user-lang-dropdown-container .user-dropdown-button .fa {
  margin-left: 2px;
}
.navbar .user-role-dropdown-container .user-dropdown-menu,
.navbar .user-lang-dropdown-container .user-dropdown-menu {
  display: none;
  list-style: none;
  min-width: 160px;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #FFF;
  color: #2a2e36;
  border: solid 1px rgba(100, 100, 100, 0.2);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  z-index: 0;
}
.navbar .user-role-dropdown-container .user-dropdown-menu li,
.navbar .user-lang-dropdown-container .user-dropdown-menu li {
  padding: 0;
}
.navbar .user-role-dropdown-container .user-dropdown-menu li:hover,
.navbar .user-lang-dropdown-container .user-dropdown-menu li:hover {
  background-color: #CAEDFC;
}
.navbar .user-role-dropdown-container .user-dropdown-menu li a,
.navbar .user-lang-dropdown-container .user-dropdown-menu li a {
  color: #2a2e36;
  font-weight: normal;
  text-decoration: none;
  display: block;
  padding: 4px 6px 4px 6px;
}
.navbar .user-role-dropdown-container .user-dropdown-menu::before,
.navbar .user-lang-dropdown-container .user-dropdown-menu::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  color: transparent;
  border: 10px solid #ccc;
  border-color: transparent transparent #FFF;
  margin-top: -20px;
}
.navbar .user-role-dropdown-container .user-dropdown-menu,
.navbar .user-lang-dropdown-container .user-dropdown-menu {
  max-width: 60px;
}
.navbar .user-role-dropdown-container .user-dropdown-menu li a,
.navbar .user-lang-dropdown-container .user-dropdown-menu li a {
  margin-left: 20px;
  text-transform: capitalize;
}
.navbar .user-role-dropdown-container .user-dropdown-menu::before,
.navbar .user-lang-dropdown-container .user-dropdown-menu::before {
  margin-left: 134px;
}
.table thead {
  border: thin solid #F3F4F4;
}
.table thead tr th {
  border-top: 0;
  border-bottom: 0;
  font-size: 1.4rem;
  color: #1D2345;
}
.table thead tr th.date {
  cursor: pointer;
  width: 16rem;
}
.table thead tr th.date .fa {
  font-size: 1.8rem;
  padding-left: 2rem;
}
.table thead tr th:last-child {
  width: 8rem;
}
.table thead tr th.status {
  width: 16rem;
}
.table thead tr th.title {
  max-width: 30rem;
}
.table thead tr td {
  border-top: 0;
  border-bottom: 0;
  color: #1D2345;
  text-transform: capitalize;
}
.table thead tr td .fa {
  font-size: 1.6rem;
  padding: 0 5px;
}
.table tbody {
  padding-top: 1rem;
}
.table tbody tr {
  border-bottom: thin solid #E6E8E8;
}
.table tbody tr th,
.table tbody tr td {
  border-top: 0;
  border-bottom: 0;
  font-size: 1.4rem;
  outline: none;
  color: #1D2345;
  text-transform: capitalize;
}
.table tbody tr td span {
  font-size: 1.4rem;
}
.table tbody tr td.title {
  max-width: 30rem;
  font-family: 'opensans';
  text-transform: none;
}
.table tbody tr:first-child td,
.table tbody tr:first-child th {
  padding-top: 2rem;
}
.table div.languages {
  width: 100%;
}
.table div.languages .key {
  font-weight: bold;
  color: #000;
  padding-right: 1rem;
  font-size: 1.4rem;
}
.table div.languages .value {
  display: inline-block;
  vertical-align: bottom;
  font-size: 1.4rem;
}
.table div.languages .pipe {
  padding: 0 5px;
}
.table span {
  vertical-align: bottom;
  text-transform: capitalize;
}
.table span.titles {
  display: inline-block;
  vertical-align: bottom;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  font-family: opensans-bold;
}
.table.article-table {
  table-layout: fixed;
}
.table.article-table th:nth-child(4n + 1),
.table.article-table td:nth-child(4n + 1) {
  width: calc(100% - 440px);
}
.table.article-table th:nth-child(4n + 2),
.table.article-table td:nth-child(4n + 2) {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table.article-table th:nth-child(4n + 3),
.table.article-table td:nth-child(4n + 3) {
  width: 160px;
}
.table.article-table th:nth-child(4n + 4),
.table.article-table td:nth-child(4n + 4) {
  width: 105px;
}
.table.article-table .fa {
  font-size: 1.6rem;
  padding: 0 5px;
}
.table.article-table span {
  vertical-align: bottom;
  text-transform: capitalize;
}
.table.article-table span.titles {
  display: inline-block;
  vertical-align: bottom;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font-family: opensans-bold;
}
.table.article-table div.languages {
  width: 100%;
  margin-top: 1rem;
}
.table.article-table div.languages .key {
  font-weight: bold;
  color: #000;
  padding-right: 1rem;
  font-size: 1.4rem;
}
.table.article-table div.languages .value {
  display: inline-block;
  vertical-align: bottom;
  font-size: 1.4rem;
}
.table.article-table div.languages .value .status.approved {
  color: #5cb85c;
}
.table.article-table div.languages .value .status.disapproved {
  color: #d9534f;
}
.table.article-table div.languages .value .status.pending {
  color: #f0ad4e;
}
.table.article-table div.languages .value .status.draft {
  color: #5bc0de;
}
.table.article-table div.languages .value .status.published {
  color: #00d200;
}
.table.article-table div.languages .pipe {
  padding: 0 5px;
}
.status.approved {
  color: #5cb85c;
}
.status.disapproved {
  color: #d9534f;
}
.status.pending {
  color: #f0ad4e;
}
.status.draft {
  color: #5bc0de;
}
.status.published {
  color: #00d200;
}
.nav-tabs {
  border-top: 0;
  border-bottom: 0;
  background: #FFF;
}
.nav-tabs.helper-margin {
  margin: 0 -1.5rem 1.5rem -1.5rem;
}
.nav-tabs.helper-margin-top {
  margin-top: -1.5rem;
}
.nav-tabs.nav li a {
  padding: 10px 15px;
}
.nav-tabs li.active {
  background: #FFF;
  border: 0;
  border-bottom: 2px solid #1D2345;
}
.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
  border: 0;
  background: transparent;
}
.nav-tabs li.active a {
  font-weight: bold;
}
.nav-tabs li a {
  border-radius: 0;
  border: 0;
  background: transparent;
  font-size: 1.4rem;
  text-transform: uppercase;
  cursor: pointer;
}
.nav-tabs li a:hover,
.nav-tabs li a:focus {
  background: transparent;
}
.tile-wrap {
  display: block;
  width: 100%;
}
.tile-wrap .tile {
  width: calc(100% / 5 - 10px);
  height: 20rem;
  border: 1px solid #dddddd;
  margin: 0 1rem 1rem 0;
  float: left;
  position: relative;
  color: #FFF;
}
.tile-wrap .tile:nth-child(5n) {
  /* or 4n+1 */
  margin-right: 0;
}
.tile-wrap .tile .controls {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.8rem;
  background: #1D2345;
}
.tile-wrap .tile .controls .fa {
  color: #FFF;
}
.tile-wrap .tile .tile-image-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 0.8rem;
  background-color: rgba(0, 0, 0, 0.6);
}
.tile-wrap .tile .tile-image-caption h1 {
  font-size: 2rem;
  text-align: center;
  cursor: default;
  margin: 0;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}
.tile-wrap .tile .tile-image-caption h1:hover {
  overflow: visible;
  white-space: normal;
  font-size: 1.6rem;
}
.tile-wrap .tile .tile-image-caption p {
  color: #FFF;
}
.background-image-wrap {
  background-position: center;
  background-size: cover;
}
input[type="text"],
input[type="url"],
input[type="number"],
select,
textarea {
  border: 1px solid #E6E8E8;
  border-radius: 0;
  outline: none;
  padding: 5px;
  font-size: 1.4rem;
  width: 100%;
}
input[type="text"].error,
input[type="url"].error,
input[type="number"].error,
select.error,
textarea.error {
  border: thin solid #d9534f !important;
}
input[type="text"].error ~ .cke_browser_webkit,
input[type="url"].error ~ .cke_browser_webkit,
input[type="number"].error ~ .cke_browser_webkit,
select.error ~ .cke_browser_webkit,
textarea.error ~ .cke_browser_webkit {
  border: thin solid #d9534f !important;
}
select {
  position: relative;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: 1px solid #E6E8E8;
  border-radius: 0;
  outline: none;
  padding: 5px;
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: 99% center;
  font-size: 1.4rem;
  width: 100%;
}
select::-ms-expand {
  display: none;
}
input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
select:not([size="10"]) {
  background-image: url(../images/select.png);
}
textarea {
  min-height: 18rem;
  max-height: 20rem;
  width: 100%;
  outline: none;
  text-align: left;
  padding: 5px;
  resize: none;
  resize: vertical;
  font-size: 1.4rem;
}
textarea.small-txtarea {
  min-height: 10rem;
}
.input-group {
  width: 100%;
}
.input-group label.input-group-addon {
  display: table-cell;
  width: 38px;
  padding: 0;
  color: #555;
  font-size: 14px;
}
.form-group {
  position: relative;
}
.form-group.inline {
  display: inline-block;
}
.form-group label {
  font-size: 1.4rem;
  color: #1D2345;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding-bottom: 1rem;
}
.form-group label.inline {
  width: auto;
  padding-bottom: 0;
  vertical-align: middle;
  padding-left: 1rem;
}
.form-group input[type="radio"] {
  visibility: hidden;
  position: absolute;
}
.form-group input[type="radio"].error-border + label:before {
  content: '';
  width: 1.4rem;
  height: 1.4rem;
  background: #d9534f;
  border-radius: 100%;
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 1px;
  border: 2px solid #FFF;
}
.form-group input[type="radio"] + label {
  width: 1.6rem;
  height: 1.6rem;
  background: #979797;
  border-radius: 100%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
}
.form-group input[type="radio"] + label:before {
  content: '';
  width: 1.4rem;
  height: 1.4rem;
  background: #979797;
  border-radius: 100%;
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 1px;
  border: 2px solid #FFF;
}
.form-group input[type="radio"]:checked + label:before {
  content: '';
  width: 1.4rem;
  height: 1.4rem;
  background: #1D2345;
  border-radius: 100%;
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 1px;
}
.form-group input[type="checkbox"] {
  visibility: hidden;
  position: absolute;
}
.form-group input[type="checkbox"].error-border + label:before {
  content: '';
  width: 1.4rem;
  height: 1.4rem;
  background: #d9534f;
  border-radius: 100%;
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 1px;
  border: 2px solid #FFF;
}
.form-group input[type="checkbox"] + label {
  width: 1.6rem;
  height: 1.6rem;
  display: inline-block;
  position: relative;
  cursor: pointer;
  border: 2px solid #979797;
  vertical-align: middle;
}
.form-group input[type="checkbox"] + label:before {
  content: '';
  width: 1.4rem;
  height: 1.4rem;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.form-group input[type="checkbox"]:checked + label:before {
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  content: '\f00c';
  width: 1.4rem;
  height: 1.4rem;
  display: inline-block;
  top: 0px;
  left: 0px;
  font-size: 1.2rem;
}
.form-group .form-control {
  border: 1px solid #E6E8E8;
  border-radius: 0;
  box-shadow: none;
  padding: 5px;
}
.form-group .form-control.error-border {
  border: thin solid #d9534f;
}
tags-input.error {
  border: thin solid #d9534f !important;
}
tags-input .tags .tag-item {
  background: #1D2345;
  color: #FFF;
}
tags-input .tags .tag-item .remove-button {
  color: #FFF;
}
tags-input .tags .tag-list {
  display: block;
  clear: both;
  float: none;
  height: auto;
}
tags-input.form-control {
  padding: 0 !important;
  height: auto;
  min-height: 34px;
  line-height: 31px;
  vertical-align: middle;
}
tags-input.form-control .tags {
  border: 0;
  box-shadow: none;
}
tags-input.form-control .tags + span {
  display: none;
}
tags-input.form-control .host {
  margin: 0;
}
tags-input.form-control input[type="text"] {
  border: 0;
  outline: none;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  float: left;
  height: 100%;
  font: inherit;
}
.selected-language .form-group label {
  font-size: 1.4rem;
  color: #1D2345;
  font-weight: normal;
}
.selected-language .form-group .form-control {
  border: 1px solid #F3F4F4;
  border-radius: 0;
  box-shadow: none;
}
.category > .row {
  margin-top: 2rem;
}
.category .tab-action {
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
}
.category .tab-action .body-labels p {
  font-size: 1.4rem;
}
.live-feeds-content-list .table tr td:first-child {
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.live-feeds-content-list .table tr td:last-child {
  width: 80px;
  text-align: center;
}
.drop-box {
  width: 20rem;
  height: 4rem;
  border: thin solid #E6E8E8;
  line-height: 4rem;
  text-align: center;
  font-size: 1.4rem;
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
}
.drop-box.active {
  border: 2px dashed #5cb85c;
}
.drop-box.error {
  border: thin solid #d9534f;
}
.preview-image-wrap {
  position: relative;
  max-width: 20rem;
}
.preview-image-wrap i {
  position: absolute;
  right: 2px;
  top: 2px;
  color: #d9534f;
}
.preview-image-wrap .preview-image {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
}
.input-group-addon {
  background-color: transparent;
  border: 1px solid #E6E8E8;
}
.cke_chrome {
  border: none;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 0 10px 15px;
}
.navbar-collapse {
  padding: 0;
}
.fa-spin {
  color: #1D2345;
}
.fa-unlock-alt,
.fa-lock {
  cursor: pointer;
}
.relative {
  position: relative;
}
.switch {
  position: relative;
  margin: 0;
  height: 26px;
  width: 120px;
  border: 1px solid #1D2345;
  border-radius: 3px;
  background: #FFF;
  margin-top: -6px;
}
.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 58px;
  line-height: 22px;
  font-size: 11px;
  color: #333;
  text-align: center;
  cursor: pointer;
}
.switch-label:active {
  font-weight: bold;
}
.switch-label-off {
  padding-left: 2px;
}
.switch-label-on {
  padding-right: 2px;
}
.switch-input {
  display: none;
}
.switch-input:checked + .switch-label {
  font-weight: bold;
  color: #FFF;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  /* Note: left: 50% doesn't transition in WebKit */
  left: 58px;
}
.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 58px;
  height: 20px;
  background: #1D2345;
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.empty-message {
  font-size: 16px;
  margin-top: 20px;
  color: #333;
}
.custom-search {
  position: relative;
}
.custom-search .autocomplete-list {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 6px 0px;
  list-style: none;
  background: #FFF;
  text-align: left;
  z-index: 9;
  -webkit-box-shadow: 0px 2px 5px 0px #c2c1c1;
  -moz-box-shadow: 0px 2px 5px 0px #c2c1c1;
  box-shadow: 0px 2px 5px 0px #c2c1c1;
}
.custom-search .autocomplete-list li {
  font-size: 1.5rem;
  display: block;
  margin: 0;
  padding: 5px 1rem 5px 5px;
  cursor: pointer;
}
.custom-search .autocomplete-list li p {
  margin: 0;
  display: inline-block;
}
.custom-search .autocomplete-list li p span {
  font-size: 12px;
  color: #A3A199;
}
.custom-search .autocomplete-list li.selected {
  background: #EAE8E9;
}
.custom-search .tile {
  cursor: pointer;
}
.custom-search .tile:hover {
  -moz-box-shadow: 0 0 15px #cccccc;
  -webkit-box-shadow: 0 0 15px #cccccc;
  box-shadow: 0 0 15px #cccccc;
}
label {
  word-wrap: break-word;
}
.setting-list-label {
  font-size: 1.4rem;
  outline: none;
  color: #1D2345;
}
.modal-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.modal-body ul li {
  padding: 1rem;
}
.inline-wrapper {
  display: inline-block;
}
.inline-wrapper .button {
  padding: 0 2rem;
  line-height: 4rem;
  height: 4rem;
}
.or-text {
  padding: 0 2rem;
}
.add-cluster-btn {
  color: #FFF;
  font-size: 1.6rem;
  margin-top: 1.5rem;
}
.bordered-section {
  border: 1px solid #1D2345;
  padding: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.story-accordion .panel-title {
  color: #1D2345;
  font-weight: bold;
}
.story-accordion .panel-title a {
  outline: none;
}
.story-accordion .panel-title a > span > * {
  vertical-align: top;
  font-size: 14px;
}
.center-icon {
  font-size: xx-large;
  position: absolute;
  color: black;
  top: 37%;
  left: 47%;
}
.static-tl-chckbx {
  margin-bottom: 0;
  padding-bottom: 0;
}
.cms-angular-pagination .pagination > .active > a,
.cms-angular-pagination .pagination > .active > span,
.cms-angular-pagination .pagination > .active > a:hover,
.cms-angular-pagination .pagination > .active > span:hover,
.cms-angular-pagination .pagination > .active > a:focus,
.cms-angular-pagination .pagination > .active > span:focus {
  background-color: #1b1b25;
}
.cms-angular-pagination .pagination > li > a,
.cms-angular-pagination .pagination > li > span {
  color: #1b1b25;
}
.cms-angular-pagination .pagination > li.active > a,
.cms-angular-pagination .pagination > li.active > span {
  color: #FFF;
}
.listing-filter-ul > li {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  float: left;
  line-height: 20px;
  text-align: center;
}
.listing-filter-ul span {
  font-size: 1.4rem;
}
.listing-filter-ul .select2-container.select2-dropdown-open.open .select2-choice .select2-arrow b:before {
  content: "\f0d8";
  top: 0px;
}
.listing-filter-ul .select2-container .select2-choice {
  color: #505458;
  line-height: 20px;
  padding: 6px 20px 6px 10px;
  border-radius: 3px;
  background: none !important;
  border: 1px solid transparent;
  cursor: pointer;
  height: 32px;
  margin-right: 15px;
}
.listing-filter-ul .select2-container .select2-choice > .select2-chosen {
  margin-right: 12px;
}
.listing-filter-ul .select2-container .select2-choice .select2-arrow {
  font-size: 1.3em;
  padding: 4px 12px;
  background: transparent;
  border-left: 0px;
}
.listing-filter-ul .select2-container .select2-choice .select2-arrow b {
  background: none;
}
.listing-filter-ul .select2-container .select2-choice .select2-arrow b:before {
  font-family: 'FontAwesome';
  content: "\f0d7";
  position: relative;
  top: 2px;
  right: 5px;
  font-size: 12px;
}
.listing-filter-ul .select2-container .select2-with-searchbox {
  list-style: none;
  text-shadow: none;
  box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.4);
  border: none;
  border-radius: 3px;
  padding: 4px;
  font-size: 13px;
  margin-top: 6px;
}
.listing-filter-ul .select2-container .select2-with-searchbox:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
  left: 9px;
  right: auto;
}
.listing-filter-ul .select2-container .select2-with-searchbox:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
  left: 10px;
  right: auto;
}
.listing-filter-ul .select2-container .select2-with-searchbox .select2-search {
  padding: 1px 3px !important;
}
.listing-filter-ul .select2-container .select2-with-searchbox .select2-search input {
  border-radius: 0px;
  font-size: inherit;
  margin-bottom: 0;
  margin: 3px 0 0 0;
  padding: 3px 20px 3px 4px !important;
  width: 100% !important;
}
.listing-filter-ul .select2-container .select2-with-searchbox .select2-results {
  text-align: left;
}
.listing-filter-ul .select2-container .select2-drop-active {
  border-radius: 5px !important;
}
.listing-filter-ul .select2-container .select2-choice:hover,
.listing-filter-ul .select2-container-active .select2-choice {
  border-color: #e5e5e5 !important;
  color: #000 !important;
}
.listing-filter-ul a {
  text-shadow: none !important;
  box-shadow: none !important;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.1s linear 0s, padding 0.25s !important;
}
.listing-filter-ul a,
.listing-filter-ul a:focus,
.listing-filter-ul a:hover,
.listing-filter-ul a:active {
  outline: 0;
}
.listing-filter-ul a:hover {
  /* color: #000; */
}
.opinion-image-caption {
  font-weight: bold;
  font-style: italic;
  padding: 5px 0;
}
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  padding-left: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(50, 50, 50, 0.25);
  border: 2px solid transparent;
  border-radius: 10px;
  background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(50, 50, 50, 0.5);
}
::-webkit-scrollbar-track {
  background-color: #dedede;
}
@media (max-width: 992px) {
  .wrapper .content .inline:nth-child(odd) {
    padding-right: 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .modal-dialog {
    width: 90%;
  }
}
