/************* HEADER **************/
header, .header-first {
	height: 70px;
	position: fixed;
}

.main-wrapper-margin {
	margin-top: 75px;
}

.header-wrapper .nav-actions ul li {
	border-right: none;
}

/*mobile menu*/
.mob-menu-wrapper {
	display: none; 
	width: 100%;
	height: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1040;
    color: #FFF;
    opacity: 0.9;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 2rem;
}

.mob-menu-wrapper .mob-user-icon {
	padding: 1rem;
    border: 1px solid #FFF;
    border-radius: 3rem;
    height: 5rem;
    width: 5rem;
}

.mob-menu-wrapper .mob-sign-in {
	height: 6rem;
	padding-left: 1rem;
	display: table-cell; 
  	vertical-align: middle; 
}

.mob-menu-wrapper .mob-sign-in a {
	color: #FFF;
}

.mob-menu-wrapper .mob-category, .mob-menu-wrapper .menu-right-icon {
	padding: 1rem 0;
	text-transform: uppercase;
}

.mob-menu-wrapper .mob-category a{
	color: #FFF;
}

.mob-menu-wrapper div.social-icons {
	margin-top: 1rem;
}

.mob-menu-wrapper div.social-icons ul li {
	float: left;
	width: 20%;
	text-align: center;
}

.mob-menu-wrapper .mob-subscribe {
	margin-top: 2rem;
}

.mob-menu-wrapper .mob-subscribe input {
	width: calc(100% - 12rem);
	height: 3rem;
	vertical-align: bottom;
	color: #000;
}

.mob-menu-wrapper .mob-subscribe button {
	height: 3rem;
	background: none;
	border: 1px solid #FFF;
	padding: 5px 15px;
	margin-left: 1.5rem;
	min-width: 9rem;
}

.mob-menu-wrapper .mob-subscribe .s-note {
	margin-top: 1rem;
}

.mob-menu-wrapper.open-mobile-menu  {
	display: block;
}

.mob-menu-wrapper p {
	font-size: 10px;
	color: #FFF;
}

.mob-menu-wrapper .lang-site > div {
	text-align: center;
}

.mob-menu-wrapper .lang-site > div:first-child a {
	/* float: left; */		/* this is for displaying only 2 langs in mob-hamburger-menu */
}

.mob-menu-wrapper .lang-site > div:last-child a {
	/* float: right; */		/* this is for displaying only 2 langs in mob-hamburger-menu */
}

.mob-menu-wrapper .social-icons ul li img {
	width: 26px;
}

.mob-tagline p {
	border-bottom: 1px solid #FFF;
    padding-bottom: 1px;
    width: 12.2rem;
    margin: 0 auto;
}

.logout {
	color: #FFF;
    position: absolute;
    right: 0;
    top: 2.7rem;
}

.mar-tp-30 {
	margin-top: 3rem;
}