/*
 * Noto Sans Telugu (Telugu) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans Telugu';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanstelugu/v3/NotoSansTelugu-Regular.eot);
  src: url(//fonts.gstatic.com/ea/notosanstelugu/v3/NotoSansTelugu-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/notosanstelugu/v3/NotoSansTelugu-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstelugu/v3/NotoSansTelugu-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstelugu/v3/NotoSansTelugu-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans Telugu';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanstelugu/v3/NotoSansTelugu-Bold.eot);
  src: url(//fonts.gstatic.com/ea/notosanstelugu/v3/NotoSansTelugu-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/notosanstelugu/v3/NotoSansTelugu-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstelugu/v3/NotoSansTelugu-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstelugu/v3/NotoSansTelugu-Bold.ttf) format('truetype');
}
