* {
	margin: 0;
	padding: 0;
}

.sr-page-container {
	font-family: "Droid Sans";
}

.not-bold {
	font-weight: normal;
}

.sr-page-title {
	margin-top: 56px;
	margin-bottom: 10px;
	font-size: 1.2rem;
	color: #0B519F;
}

input.clearable {
	height: 32px;
	background: #fff url(data:image/gif;base64,R0lGODlhBwAHAIAAAP///5KSkiH5BAAAAAAALAAAAAAHAAcAAAIMTICmsGrIXnLxuDMLADs=) no-repeat right -10px center;
	border: 1px solid inherit;
	padding: 3px 18px 3px 4px; /* Use the same right padding (18) in jQ! */
	border-radius: 3px;
	transition: background 0.4s;
	font-size: 1.4rem;
	color: #535353;
}

input.clearable.x {
	background-position: right 5px center;
}

input.clearable.onX {
	cursor: pointer;
}

input.clearable::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}

.sr-box {
	margin-right: 12px;
	float: none;
	display: inline-block;
	vertical-align: middle;
}

.sr-btn {
	width: 24px;
	height: 24px;
	cursor: pointer;
	float: none;
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	background:
		url("../../images/consumer-site/search-icon.png")
		center center / 14px 13px
		no-repeat
		#0B519F;
}

.tab-area {
	margin-top: 30px;
}

.nav-tabs.sr-tab-list {
	margin-bottom: 20px;
	width: 100%;
}

.nav-tabs.sr-tab-list > li.active {
	border-bottom-color: #0B519F;
}

.sr-results-count {
	font-size: 1.4rem;
	padding-bottom: 20px;
}

.sr-results-count ~ *,
.sr-results-count ~ * * {
	color: #7f7f7f;
}

.sr-tabs-filter-area + .line {
	margin-bottom: 20px;
}

.search-item-wrapper {
	margin-bottom: 30px;
}

.search-item {

}

.search-item .search-item-img {
	width: 90%;
}

.search-item .search-item-img img {
	width: 100%;
}

.search-item .sr-item-type-ico {
	width: 44px;
	height: 44px;
	border: 2px solid; 
	border-radius: 50%;
	background-repeat: no-repeat;
	background-color: #fff;
	position: relative;
    left: 40%;
    bottom: 25px;
}

.search-item .sr-clickable {
	cursor: pointer;
}

.search-item .sr-item-type-ico.type-general{
	border-color: #38dce0;
	background-image: url("../../images/consumer-site/type-general-icon.png");
	background-position: 48% center;
}

.search-item .sr-item-type-ico.type-listicle {
	border-color: #38dce0;
	background-image: url("../../images/consumer-site/type-general-icon.png");
	background-position: 48% center;
}

.search-item .sr-item-type-ico.type-image {
	border-color: #800080;
	background-image: url("../../images/consumer-site/type-image-icon.png");
	background-position: 48% 44%;
	background-size: 30px 30px;
}

.search-item .sr-item-type-ico.type-video {
	border-color: #f07800;
	background-image: url("../../images/consumer-site/type-video-icon.png");
	background-position: 58% 44%;
}

.search-item .sr-item-type-ico.type-editorial {
	background-image: url("../../images/consumer-site/type-editorial-icon.png");
	background-position: 15% 45%;
    width: 44px;
	height: 44px;
	border: none;
	border-radius: 0;
	background-repeat: no-repeat;
	background-color: transparent;
	position: relative;
    left: 40%;
    bottom: 20px;
}

.search-item .sr-item-cat {
	font-size: 14px;
	font-weight: 800;
	text-transform: uppercase;
	margin-top: -20px;
	line-height: 1.5;
}

.search-item .sr-item-title {
	width: 90%;
    height: 42px;
    overflow-y: hidden;
}

.search-item-wrapper img {
	min-height: 50px;
}

.search-item .sr-item-title a {
	font-size: 14px;
	line-height: 1.5;
}

.search-item .sr-author-time {
	color: #7f7f7f;
	line-height: 1.5;
}

.search-item .sr-author-time .sr-item-byline {
	border-right: 1px solid #CCC;
	padding-right: 5px;
}

.search-item .sr-author-time .sr-item-date {
	padding-left: 5px;
}

@media (min-width: 768px) {
	.search-item .search-item-img img {
		height: 114px;
	}
}

@media (min-width: 992px) {
	.search-item .search-item-img img {
		height: 148px;
	}
}

@media (min-width: 1200px) {
	.search-item .search-item-img img {
		height: 180px;
	}
}

@media (max-width: 767px) {
	
	.sr-thumb-text-wrapper {
		width: 100%;
		text-align: center;
	}

	.sr-item-thumb {
		width: 100%;
		margin-left: 0;
		max-height: none;
	}
	
	.sr-item-text {
		width: 100%;
		margin-left: 0;
	}

	.sr-item-thumb:not(.thumb-none) + .sr-item-text {
		margin-top: 12px;
	}

	.sr-item-type-ico {
		/* width: 32px; */
		/* height: 32px; */
		/* background-size: 21px 21px; */
		margin-top: -16px;
	}

	.sr-item-thumb.thumb-none + .sr-item-type-ico {
		margin-top: 0;
	}

	.sr-item-type-ico.type-editorial {
		background-size: 43px 44px;
		background-position: 150% 80%;
		width: 44px;
	}
	
	.sr-tab-list-ul-wrap {
		text-align: center;
	}

	.nav-tabs.sr-tab-list {
		display: inline-block;
		border-bottom: 1px solid gray;
		margin-left: 0;
		margin-bottom: 6px;
	}

	.nav-tabs.sr-tab-list > li {
		margin-right: 10%;
	}

	.nav-tabs.sr-tab-list > li:last-child {
		margin-right: 0;
	}

	.nav-tabs.sr-tab-list > li > a {
		font-size: 11px; 
		padding: 0;
	}

	.search-item .search-item-img {
		width: 100%;
	}

	.search-item .search-item-img img {
		width: 100%;
	}

	.search-item .sr-item-type-ico {
		left: 45%;
	}

	.search-item .sr-item-title {
		height: auto;
	}

	.sr-results-count {
	    padding: 10px 0 10px 0px;
	    margin-bottom: 10px;
	    background: rgba(204,204,204,0.1);
	}

}

@media (max-width: 480px) {
	.nav-tabs.sr-tab-list > li {
		margin-right: 5%;
	}
}