.timeline-wrapper {
	background-color: #D3D344;
}

.timeline-wrapper .tl-img {
	height: 300px;
	width: 100%;
}

.timeline-wrapper .tl-vid {
	height: 80px;
	width: 100%;
}

.timeline-wrapper .tl-data {
	padding: 15px 18px;
	height: 170px;
}

.timeline-wrapper .tl-data .tl-date {
	color: #FCFCF3;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
}

.timeline-wrapper .tl-data .tl-title {
	color: #333333;
	font-weight: bold;
	font-size: 12px;
}


.timeline-wrapper .tl-data .tl-hr{
	background-color: #C6C656;
	border: 2px solid #C6C656;
	color: #C6C656;
}

.timeline-wrapper .tl-data .tl-hr:last-child {
	display: none;
}

.timeline-wrapper .tl-open {
	background-color: #666666;
	height: 50px;
	padding-left: 20px;
	line-height: 50px;
	font-weight: bold;
	font-size: 11px;
}

.timeline-wrapper .tl-open a {
	text-decoration: none;
	color: #FFF;
}
