.topfor-nav{ width:960px; margin:10px auto -10px auto; position:relative;z-index:1; height:auto;}
.topfor-nav-con{ width:960px; border-bottom:3px solid #fe721f; height:34px}
.topfor-nav-con li{ float:left; width:78px; height:34px; text-align:center; font-size:14px; line-height:34px; margin-right:1px; display:inline}
.topfor-nav-con li a,.topfor-nav-con li a:link,.topfor-nav-con li a:visited{ width:78px; height:34px; display:block; color:#000; background-image:url(../images/topfo-menu_07.jpg)}
.topfor-search{ width:938px; height:34px; background-color:#ffe181; border:1px solid #ddb041; clear:both; overflow:hidden; padding:10px}
a#nav-bian,a:link#nav-bian,a:hover#nav-bian,a:visited#nav-bian{ background-image:url(../images/topfo-menu_04.jpg); color:#fff; font-weight:bold; text-decoration:none}
.topfor-search-1{ width:630px; height:34px; float:left; line-height:32px; margin-right:2px; }
.topfor-search-1 a,.topfor-search-1 a:link,.topfor-search-1 a:hover,.topfor-search-1 a:visited{ color:#000; text-decoration:none}
.topfor-search-1 div{ float:left; font-size:14px; margin-left:6px;}
.topfor-search-1 div span{  display:block; float:left ; margin-top:1px}
.topfor-search-1 div img{  margin-top:2px; float:right}
.sch1 input,.sch2 input,.sch3 input,.sch4 input{ border:0; width:70px; height:32px; font-size:14px; color:#000; background:url(../images/topfo-menu_17.jpg) no-repeat 64px center; line-height:32px; padding-right:15px; margin-left:4px; _height:30px}
.topfor-search-1 a{ display:block}
.sch1,.sch2,.sch3,.sch4{ width:95px; height:32px; border:1px solid #d3b75c; background-color:#fff; _height:30px}
.sch5{ margin-top:0px;background-color:#fff; border:1px solid #d3b75c; height:32px}
.sch5 input{ border:0; height:32px; line-height:32px; width:283px; background: url(../images/topfo-menu_26.jpg) no-repeat 4px center; padding-left:22px; font-size:14px; _width:274px; _height:30px}
.aMenu {
position: absolute;
width:266px;
height:284px;
z-index:100;
background: #FFF;
display:none;
left:11px;_left:17px;
top:80px; border:1px solid #d3b75c; overflow:hidden}
.aMenu1 {
position:absolute; background-color:#fff;
left:0;
top:0;
width:100%;
height:102px;
z-index:2;
}
.aMenu1 ul{margin:10px 0 ;padding:0}
.aMenu1 ul li{width:70px;height:25px;line-height:25px;
             border-bottom:1px dashed #ccc;color:#666;cursor:pointer; overflow:hidden; float:left; margin-left:10px; display:inline; text-align:center}
.aMenu1 ul li a,.aMenu1 ul li a:link{ color:#555}
.aMenu1 ul li a:hover{color:#ff6600; text-decoration:underline}
#List3 li{ width:52px}
#xixi{ z-index:5}
.nav-r-hy{margin:10px 4px 0 0; float:right}
.nav-r-hy a,.nav-r-hy a:link,.nav-r-hy:hover,.nav-r-hy a:visited{ color:#ff6600; text-decoration:underline}
