@charset "gb2312";
/* CSS Document */
body{margin:0;padding:0 0 12px 0;font-size:12px;line-height:22px;font-family:"宋体","Arial Narrow";background:#fff;-webkit-text-size-adjust:none;}form,ul,li,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}input,select{font-size:12px;line-height:16px;}img{border:0;}ul,li{list-style-type:none;}
.tc{text-align:center;}.tl{text-align:left;}.tr{text-align:right;}
.dis{display:block;}.undis{display:none;}
.fl{float:left;}.fr{float:right;}.cl{clear:both;}.fb{font-weight:bold;}.fnb{font-weight:200;margin-left:-1px;}
.fc30{color:#666;font-family:"宋体","Arial Narrow";}.fchot{color:#ff6600}.f11{font-size:12px;font-family:tahoma;}
.fchot1{color:#ff9900;}
h3{font-size:14px;}
h4{font-size:14px;font-weight:normal;text-align:center;cursor:pointer;overflow:hidden; width:40px;}
h4 a{width:100%;height:100%;display:block;color:#ff9900;}
a{color:#333;text-decoration:none;}
a:hover{color:#ff6600;text-decoration:underline;}
a.lcblue{color:#333;}.lchot,a.lchot{color:#ff6600;}.black,a.black{color:#333;}
.hr_6,.hr_10{font-size:1px;line-height:1px;clear:both;}
.hr_6{height:6px;}.hr_10{height:10px;}
img{border:0;}
.f_line a:link, .f_red a:visited{text-decoration:underline;}
.f_line a:hover{text-decoration:none;}
/*拓富top*/
.topfo{width:960px;*width:960px;_width:960px;margin:0 auto; padding:10px; height:208px; overflow:hidden;}
.topfo .logo{ width:269px; height:120px; float:left; padding-left:24px;}
.topfo .top{ width:640px; float:right;}
.topfo .Nav{ width:100%; float:right;}
.topfo .Nav li{float:right; height:18px; margin-left:13px; overflow:hidden;}
.topfo .Nav_01{background:url(../indexv4img/index_ico.gif) 0 15px repeat-y; padding-left:18px;}
.topfo .Nav_02{background:url(../indexv4img/index_ico.gif) 0 33px repeat-y; padding-left:12px;}
.topfo .Nav_03{background:url(../indexv4img/index_ico.gif) 0 49px repeat-y; padding-left:17px;}
.topfo .Nav_04{background:url(../indexv4img/index_ico.gif) 0 64px repeat-y; padding-left:11px;}
.topfo .banner{width:640px; height:97px; padding-top:5px; clear:both;}
#menu{ width:920px; height:83px; background:url(../indexv4img/index_Navbj.gif); margin-top:15px; float:left; padding-left:40px;}
.menu_line{background:url(../indexv4img/menu_line.gif) no-repeat center  center;width:8px;}
.menu_line2{background:url(../indexv4img/menu_line2.gif) no-repeat center top;width:15px;}
#nav{padding-left:20px;}
#nav li{float:left;height:40px;}
#nav li a{float:left;display:block;padding-left:6px;height:40px;cursor:pointer;text-decoration:none; }
#nav li a span{float:left;padding:14px 10px 10px 6px;line-height:14px;font-size:14px;font-weight:bold;text-decoration:none;}
#nav li .nav_on{   /*鼠标经过时变换背景，方便JS获取样式*/background-position:left 100%;background-image: url(../indexv4img/menu_bg.gif);background-repeat: no-repeat;background-position: center bottom;}
#nav li .nav_on span{  /*鼠标经过时变换背景，方便JS获取样式*/background-position:right 100%;color:#FF0000;text-decoration:none;padding:14px 14px 7px 10px;}
/*子栏目*/
#menu_con{text-align:left;padding-left:20px;clear:both;}
#menu_con li{float:left;height:22px;margin-top:8px;}
#menu_con li a{display:block;float:left;cursor:pointer;padding-left:3px;}

/*.topfo .topfomenu{background:url(../indexv4img/index_Navbj.gif); width:960px; height:83px; clear:both; margin-top:20px; float:left;}
#menu{height:32px;margin-top:10px;}
#menu ul{ margin:auto;width:740px; height:32px; padding-left:130px; padding:0px;}
.m_li{float:left; width:90px;font-size:14px; font-weight:bolder;text-align:center;}
.m_li a{display:block; color:#333; width:88px;}
.m_line{float:left; width:2px; height:32px;}
.m_li_a{float:left;width:90px;line-height:32px;text-align:center;font-weight:bold;background-image:url(../indexv4img/menu_bg.gif);position:relative;height:30px;background-position: center bottom;background-repeat: no-repeat;}
.m_li_a a{display:block; color:#ff3300; width:90px;font-size:14px; font-weight:bolder;text-decoration: none; margin-top:-5px; height:37px;}
.smenu{width:820px; margin:0px auto 0px auto; padding:0px; list-style-type:none; height:32px; padding-left:120px;}
.s_li{line-height:32px; width:auto; display:none; height:32px; padding-top:5px;}
.s_li_a{line-height:32px; width:auto; display:block; height:32px; padding-top:5px;}*/
.yyzz{float:left; margin-top:-4px; padding-left:30px;}
.yyzz a{font-size: 14px;text-decoration: underline;font-family:"Times New Roman", Times, serif;}
.yyzz li{background:url(../indexv4img/index_ico.gif) 0 377px repeat-y; padding:0 10px; float:left; overflow:hidden;}

.topfo .sr{width:300px;height:11px;padding:7px;border:none;color:#CCCCCC;font-size:12px;
background: url(../indexv4img/menu_an.gif) 0 233px repeat-y; float:left;}
.btn10 {width:90px; height:25px; border:none; background: url(../indexv4img/menu_an.gif) 0 25px repeat-y; cursor:pointer; float:left;}
.btn20 {width:49px; height:23px; border:none; background: url(../indexv4img/menu_an.gif) 0 53px repeat-y; cursor:pointer;vertical-align:middle;}
/*拓富首页*/
.con{width:960px;*width:960px;_width:960px;margin:0 auto; clear:both; margin-top:10px;overflow:hidden; color:#333;}
.con .focus{ width:365px; height:232px; float:left; border:1px solid #d3d3d3; padding:3px; overflow:hidden;}
.con .login{ width:333px; float:left; padding-left:12px; height:234px; overflow:hidden;}
.con .login li{ padding:2px 8px 0 8px; clear:both;}
.con .login_01{background:url(../indexv4img/menu_an.gif) 0 273px; width:333px; height:28px; text-align:right; padding-top:10px; overflow:hidden;}
.con .login_02{ padding:5px 0;}
.con .login_03{ padding:3px 0 0 48px; clear:both;}
.con .login_03 a{text-decoration: underline;font-family:"Times New Roman", Times, serif;}
.con .login_04{background:url(../indexv4img/menu_an.gif) 0 304px; width:333px; height:25px; clear:both; float: left; margin-top:8px; text-align:right; padding:6px 5px 0 0;}
.con .system{ width:228px; height:238px; border:1px solid #ffbf20; float:right;}
.con .system ul{width:218px; padding:5px; background-color:#fffbdd; float:left;}
.con .system li{float:left; padding: 0 5px 0 5px; width:60px;}
.con .system_bt{background:url(../indexv4img/menu_an.gif) 0 339px; width:228px; height:32px;}
.con .system_01{background-color:#fff5ad; border-bottom:1px dashed #dfdfdf; border-top:1px dashed #ffbf20; cursor:pointer; width:220px; height:31px; margin-top:1px; padding:3px 0 0 8px;float:left;}
.con .system_001{background:url(../indexv4img/menu_an.gif) 0 121px; width:100px; height:28px; padding:3px 0 0 45px;}
.con .system_02{background-color:#f5f5f5; border-bottom:1px dashed #dfdfdf;  width:220px; height:30px; margin-top:1px; cursor:pointer;  padding:3px 0 0 8px; float:left;}
.con .system_002{background:url(../indexv4img/menu_an.gif) 0 161px; width:100px; height:28px; padding:3px 0 0 45px;}
.con .system_003{background:url(../indexv4img/menu_an.gif) 0 201px; width:100px; height:28px; padding:3px 0 0 45px;}
.con .zj{width:620px;float:left; height:200px;}
.con .btr{background:url(../indexv4img/index_ico.gif) 0 64px repeat-y; height:19px; overflow:hidden; float:right; margin-top:5px; padding:0 20px 0 13px}
.con .bt01{background:url(../indexv4img/index_bt.gif) 0 31px; width:155px; height:31px; float:left;}
.con .bt001{ border-bottom:1px solid #ffbf21; height:30px; float:left; width:465px;}
.con .xx{line-height:27px; float:left;}
.con .tt{background-color:#fefde9; height:32px; font-size:14px; padding-top:3px;}
.con .jr_con{ height:150px; width:295px; float:right; margin-top:5px; padding:5px 5px 5px 0;}
.con .jr_con li{background:url(../indexv4img/index_ico.gif) 0 121px repeat-y; padding-left:13px; float:left; width:280px;}
.con .xm{width:620px;float:left; margin-top:12px;}
.con .xmr{background:url(../indexv4img/index_btj.gif) 0 551px; height:35px; width:465px; float:left;}
.con .xmra{background:url(../indexv4img/index_btj.gif) 0 551px;  height:35px; width:465px; float:left;}
.con .axmra{background:url(../indexv4img/index_btj.gif) 0 551px;  height:35px; width:345px; float:left;}
.con .xm1{background:url(../indexv4img/index_ico.gif) 0 64px repeat-y; height:19px; overflow:hidden; float:right; margin-top:8px; padding:0 10px 0 13px;}
.con .xmr01{background:url(../indexv4img/index_bt.gif) 0 68px; width:155px; height:35px; float:left;}
.con .xmr001{background:url(../indexv4img/index_bt.gif) 0 105px; width:155px; height:35px; float:left;}
.con .rd{width:270px; height:27px;background:url(../indexv4img/index_btj.gif) 0 323px; float:right;padding:4px 10px 0 20px; overflow:hidden; margin-top:12px;}
.con .rd li{ float:left; height:27px; background-color:#FFF;}
.con .rd01{background:url(../indexv4img/index_btj.gif) 0 131px; width:9px; height:27px;}
.con .rd02{background:url(../indexv4img/index_btj.gif) 0 163px;height:27px;}
.con .rd03{background:url(../indexv4img/index_btj.gif) 0 195px; width:10px; height:27px;}
.con .rd_002{background:url(../indexv4img/index_bt.gif) 0 209px; width:130px; height:20px; margin-top:6px;}
.con .rd_con{  height:170px; width:300px; float:right; overflow:hidden;}
.con .rd_tu{ width:75px; float:left; margin-top:10px;}
.con .rd_tu li{ margin-top:5px; height:75px; width:72px; overflow:hidden;}
.con .rd_tu img{ border:1px solid #e5e5e5; padding:1px;}
.con .rd_w{float:right; width:212px; margin-top:10px;}
.con .rd_w ul{background:url(../indexv4img/index_ico.gif) 0 353px repeat-y; height:157px; width:212px;}
.con .rd_w li{width:188px; line-height:14px; padding:0 0 10px 20px;}
.con .rd_0002{background:url(../indexv4img/index_bt.gif) 0 246px; width:200px; height:27px;}
.con .rd_banner{ width:80px; overflow:hidden;float:left; margin-top:13px;}
.con .rd_rw{ width:290px; float:right; margin-top:12px;}
.con .rd_rw li{ float:left; padding:0 5px 0 5px; width:36px; line-height:25px;}
.con .axmra{background:url(../indexv4img/index_btj.gif) 0 551px;  height:35px; width:325px; float:left;}
.con .xm2{background:url(../indexv4img/index_btj.gif) 0 587px; height:14px; height:35px; width:10px; float:right;}
.con .ttr{ float:right; width:292px; height:180px; overflow:hidden; padding:3px 8px 0 0; line-height:22px;}
.con .ttr img{ border:1px solid #ccc; padding:1px;}
.con .ttr01{ float:right; text-align:left; width:295px; margin-top:8px;}
.con .ttr01 li{background:url(../indexv4img/index_ico.gif) 0 122px repeat-y; width:282px; padding-left:14px; height:14px; padding-top:2px;}
.con .cy{ text-align:right; padding-right:20px;}
.con .xm3{background:url(../indexv4img/index_ico.gif) 0 140px repeat-y; height:18px; overflow:hidden; float:right; padding:0 10px 0 15px;}

.con .zl{width:448px; float:left; height:218px; border:1px solid #d3d3d3; padding:12px; margin-top:12px; overflow:hidden;}
.con .zla{width:448px; float:right; height:218px; border:1px solid #d3d3d3; padding:12px; margin-top:12px; overflow:hidden;}
.con .zlc{width:448px; float:left; height:245px; border:1px solid #d3d3d3; padding:12px; margin-top:12px; overflow:hidden}
.con .zld{width:474px; float:right; height:283px; overflow:hidden;}
.con .zlbt{ clear:both;border-bottom:1px dashed #e5e5e5; float:left; width:448px; height:25px; overflow:hidden;}
.con .zltb{background:url(../indexv4img/index_ico.gif) 0 82px repeat-y; padding-left:10px; float:left;}
.con .zlt{ width:234px; padding:8px; margin-top:8px; float:left;}
.con .zlta{ width:234px; padding:0 8px 5px 8px;float:right; overflow:hidden;}
.con .ggl{background:url(../indexv4img/index_ico.gif) 0 171px repeat-y; float:right; padding:0 15px; width:90px;}
.con .ggl a{ color:#FF0000;}
.con .xxa{ float:left; width:120px; line-height:20px; padding-left:10px;}
.con .xxah{ float:left; padding-left:5px;  width:284px; line-height:20px;}
.con .zlxx{ width:184px; float:right; border-left:1px dashed #e5e5e5; margin-top:12px; padding:0 8px 8px 8px;}
.con .zlxx li{ width:170px;background:url(../indexv4img/index_ico.gif) 0 103px repeat-y; padding-left:14px; margin-top:3px;}
.con .zlxx01{ width:210px; float:left; margin-top:5px; padding:0 0 8px 5px;}
.con .zlxx01 li{ width:210px; margin-top:3px;}
.con .zlxxa{ width:446px;margin-top:10px;float:right; padding-top:10px;}
.con .zlxxa li{ width:207px; float:right;margin-top:2px; padding-left:12px;background:url(../indexv4img/index_ico.gif) 0 103px repeat-y;}
.con .xz{ margin-top:10px; width:210px; padding-left:10px; float:left;}
.con .xzh{ width:284px; float:left; padding-top:10px;}
.con .hz{padding:10px; background-color:#fefbe8;}
.con .fz{background:url(../indexv4img/menu_an.gif) 0 371px; width:444px; height:31px; float:left; clear:both;}
.con .fzr{float:right; display:block; width:100px; height:20px; cursor:pointer;}
.con .fzt{ width:438px;margin-top:8px; text-align:center; padding-left:5px; float:left;}
.con .fzt li{ float:left; width:81px; height:85px; padding:3px; text-align:center; overflow:hidden;}
.con .jm{ background-color:#fefbe8; padding:3px; float:left; width:440px;}
.con .xyz{ padding:8px 20px 0 30px; clear:both; float:left; width:400px; color:#FF3300;}
.con .xyz a{ color:#FF3300;}
.con .zxb{border:1px solid #d3d3d3; border-top:none;height:238px; width:472px;}
.con .ljbt{ background:url(../indexv4img/index_lj_09.gif); width:910px; line-height:18px; height:17px; padding-left:50px;}
.con .ljcon{ border-bottom:1px solid #e5e5e5; border-left:1px solid #e5e5e5; border-right:1px solid #e5e5e5; width:938px; padding:10px; float:left;}
.con .foot{ width:960px; text-align:center; border-bottom:1px solid #e5e5e5; padding:10px 0 8px 0;}
.con .foota{ width:960px; text-align:center;}
.btn1 {width:280px; height:31px;background:url(../indexv4img/index_btj.gif) 0 35px; float:right;padding:4px 10px 0 10px; overflow:hidden;}
.btn1 li {float:left; width:139px; height:31px; padding-top:8px; text-align:center; background:url(../indexv4img/tagleft2.gif) 0 31px; cursor:pointer; font-family:黑体; font-size:16px;}
.btn1 .btn_on {background:url(../indexv4img/tagleft2.gif) 0 62px repeat-y; color:#f60;}
.btn2 {width:444px; height:27px;background:url(../indexv4img/index_btj.gif) 0 355px; float:right;padding:0 10px 0 20px; overflow:hidden; margin-top:12px; height:31px;}
.btn2 li {float:left; width:104px; height:31px; padding-top:8px; text-align:center; background:url(../indexv4img/tagleft02.gif) 0 31px; cursor:pointer; font-family:黑体; font-size:16px;}
.btn2 .btn_on {background:url(../indexv4img/tagleft02.gif) 0 62px repeat-y; color:#f60;}
.btn3 {padding:4px 10px 0 10px;width:275px; height:31px; float:left;background:url(../indexv4img/index_btj.gif) 0 551px; overflow:hidden;}
.btn3 li {float:left; width:129px; height:31px; padding-top:8px; text-align:center; background:url(../indexv4img/tagleft03.gif) 0 31px; cursor:pointer; font-family:黑体; font-size:16px;}
.btn3 .btn_on {background:url(../indexv4img/tagleft03.gif) 0 62px repeat-y; color:#f60;}
.con .rda{width:444px; height:27px;background:url(../indexv4img/index_btj.gif) 0 355px; float:right;padding:0 10px 0 20px; overflow:hidden; margin-top:12px; height:31PX;}
.con .rda LI {BACKGROUND: url(../indexv4img/tagleft01.gif) no-repeat left bottom; FLOAT: left; MARGIN-RIGHT: 1px; LIST-STYLE-TYPE: none; HEIGHT: 31px; float:left;}
.con .xmr1001{padding:4px 10px 0 10px;width:275px; height:31px; float:left;background:url(../indexv4img/index_btj.gif) 0 551px; overflow:hidden;}
.con .xmr1001 LI {BACKGROUND: url(../indexv4img/tagleft01.gif) no-repeat left bottom; FLOAT: left; MARGIN-RIGHT: 1px; LIST-STYLE-TYPE: none; HEIGHT: 31px; float:left;}
.inp1 {border:1px solid #D5D5D5; background:fff; width:70px; height:17px; padding:2px 0 0 3px; vertical-align:middle;}
.dva{background-image: url(../indexv4img/index_vv_03.gif); width:112px; height:13px;}
.lla a{ color:#999999;}

/*弹出样式*/
.strong {font-weight:bold;}
.f_bla {color:#333;}
.f_bla a:link, .f_bla a:visited{color:#333;text-decoration:underline;}
.f_bla a:hover{color:#f00;text-decoration:none;}
.f_red {color:#f60;}
.win {width:260px; overflow:hidden;}
.win .top {background:url(../indexv4img/inv3_win.gif) 0 60px repeat-y; height:45px;}
.win .name {background:url(../indexv4img/inv3_winbg.jpg) repeat-y; text-align:center;}
.win .sub {background:url(../indexv4img/inv3_winbg.jpg) repeat-y; line-height:20px; padding:5px 22px 30px 22px;}
.win .btm {height:10px; background:url(../indexv4img/inv3_win.gif) 0 10px repeat-y; overflow:hidden;}
.win .off {float:right; width:37px; height:25px; cursor:pointer;}

/*快捷*/
.kj{ float:left; width:716px; height:83px; border:1px solid #d3d3d3; background:url(../images/inv3_kj_03.gif) right bottom no-repeat; padding-top:15px;}
.kj_l {float:left; background:url(../images/inv3_kj_07.gif) center 13px no-repeat; width:100px; height:80px; }
.kj_sub1 {float:left; width:260px; line-height:18px; background:url(../images/inv3_kj_05.gif) no-repeat; padding:30px 0 0 30px; margin-right:15px; overflow:hidden;}
.kj_sub2 {float:left; width:260px; line-height:18px; background:url(../images/inv3_kj_06.gif) no-repeat; padding:30px 0 0 30px; overflow:hidden;}
.kj_ad{ float:right; width:230px; height:100px; overflow:hidden;}

/*专题样式*/
.zxb_zt {border:1px solid #d3d3d3; border-top:none; height:220px; width:462px; padding:18px 0 0 10px; overflow:hidden;}
.zxb_zt ul { height:187px; overflow:hidden;}
.zxb_zt li {float:left; width:113px; height:88px; text-align:center; margin-bottom:10px; overflow:hidden;}
.zxb_zt img {width:90px; height:65px; margin-bottom:3px; display:block;}



.link2 {width:958px; border:1px solid #d3d3d3; margin:8px auto; overflow:hidden;}
.link2_col {width:100%; height:29px; padding-left:14px; background:url(../img/topfo5_comlink.jpg) 0 29px; font-size:14px; overflow:hidden;}
.link2_col li {float:left; width:99px; height:23px; padding-top:6px; text-align:center; background:url(../img/topfo5_comlink.jpg) 0 87px repeat-y; cursor:pointer; overflow:hidden;}
.link2_col .btn_on {background:url(../img/topfo5_comlink.jpg) 0 58px repeat-y; color:#f60;}
.link2_sub {width:928px; padding:13px 15px; line-height:23px;}
.link2_sub a {margin-right:12px;}



 
/*--2012-03-01--*/
 
 
.topfonew_ad { width:960px; margin:0px auto; overflow:hidden; zoom:1; margin-top:10px;}
 
.topfonew_ad_big { overflow:hidden; zoom:1; }
 
.topfonew_ad_big_left { height:90px; float:left; width:226px;margin-right:15px;}
.topfonew_ad_big_center { height:90px; float:left; width:476px; }
.topfonew_ad_big_right { height:90px; width:230px; float:right; }


/*--2012-03-05--*/
.topfo .Nav_08 {
	PADDING-LEFT: 15px; background-image:url(http://www.topfo.com/images/wbjpg.jpg); background-repeat:no-repeat; background-position:left 2px;
}
.topfo .Nav_08 a{ color:#ff0000;}
.topfo .Nav_08 a:hover { color:#ff0000; text-decoration:underline;}
 
 
