/* ==== start new emoticons menu ==== */  
.new-post-head .emoticons-box 	{
    float: left;
    cursor: default;
    margin: 0;
    position: relative;
	height: 28px;
    /*z-index: 15;*/
}
.emoticons-min  {
    position: relative;
    /*overflow: hidden;*/
    width: 324px;
    /*margin: 4px 4px 3px 3px;*/
}
.emoticons-min .emoticon-cont, .emoticons-min .emoticon-cont:hover{
    margin: 0;
    float: left;
    position: relative;
    /*z-index: 19;*/
    padding: 0;
    display: block;
}
.emoticons-min .emoticon, .emoticons-min  .emoticon:hover  {
    margin: 3px;
    float: left;
    position: relative;
    /*z-index: 1001;*/
    padding: 0px;
    display: block;
}
.emoticons-min .emoticon-cont {
	margin: 1px;
}
.emoticons-min .emoticon-cont:hover {
	margin: 0px;
    background-color: #459EED;
    border: 1px solid #407CE5;
}
.em-menu {
    float: left;
    position: relative;
	margin: 0px 0px 0px 0px;
}
.em-menu-btn{
   
}
.icon-arrow-em-btn{
	vertical-align: middle;
    width: 12px;
	height: 14px;
}
.icon-arrow-em-btn {background-position: -2px -99px;}

.em-menu-btn .arrow {
	background-image: url('//i49.vbox7.com/design/iconci/n_icons_sprite_v1.6.png');
	background-position: -150px -240px;
	background-repeat: no-repeat;
    height: 30px;
    width: 11px;
    margin: -1px 0px 0px 8px;
}
.em-menu-btn:hover{
	
}
.em-menu-btn.opened	{
	
}
.em-menu-btn.opened:hover  {
	
}
.em-menu-btn:hover .arrow   {background-position: -150px -210px;}
.em-menu-btn.opened .arrow  {background-position: -165px -240px;}
.em-menu-btn.opened:hover .arrow	{background-position: -165px -210px;}

.em-menu-play{
    background-color: #FFFFFF;
    position: absolute;
    top: 95%;
    left: 0px;
    width: 322px;
    border:1px solid #c3c3c3;	
	border-radius: 10px;
    display:none;
    z-index: 2002;
}
.em-menu-play ul	{list-style: none; padding: 5px;}
.em-menu-play ul li a	{
    display: block;
    line-height: 22px;
    outline: medium none;
    padding: 0 0px;
}
.em-info{
    position: relative;
    overflow: hidden;
    float: left;
    width: 100%;
}
.em-info .em-desc {
    float: left;
    color: #8b8b8b;
    padding: 0px 0px 0px 7px;
}
.em-info .em-code {
    float: right;
    color: #8b8b8b;
    padding: 0px 7px 0px 0px;
}

.emoticonsBox {
	cursor: default;
	position: relative;
	overflow: visible;
	margin: 0 0 5px 0;
}
.show_emBox {
	display: block !important;
}
.emoticonBox {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #2978E0;
	left: 0;
	position: absolute;
	top: -200px;
	-moz-box-shadow: 0 0 8px rgba(125, 125, 125, 0.5);
	-webkit-box-shadow: 0 0 8px rgba(125, 125, 125, 0.5);
	box-shadow: 0 0 8px rgba(125, 125, 125, 0.5);
	display: none;
	z-index: 10002;
	/*
	height: 307px;
	*/
}
.emoticonBox .emoticons {
	position: relative;
	overflow: hidden;
	width: 324px;
	margin: 4px 4px 3px 3px;
}
.emoticonBox .emoticons .emoticon {
	margin: 3px 3px 4px 4px;
	float: left;
	position: relative;
	z-index: 1001;
}
.emoticonBox .emoticons .iconHover {
	width: 23px;
	height: 24px;
	border: 1px solid #459eed;
	background-color: #e1effc;
	position: absolute;
	z-index: 0;
	display: none;
}
.emoticonBox .emInfoBox {
	position: relative;
	overflow: hidden;
	margin: 0 7px 7px 7px;
}
.emoticonBox .emInfoBox .emDesc {
	float: left;
	color: #8b8b8b;
}
.emoticonBox .emInfoBox .emCode {
	float: right;
	color: #8b8b8b;
}
.em_more {
	outline: medium none;
}
.emoticon {
	background: url("//i49.vbox7.com/design/icons/emotiSprite.png?v=1")
		repeat scroll -5px -4px transparent;
	display: inline-block;
	height: 20px;
	width: 20px;
	line-height: 20px;
	outline: medium none;
	overflow: hidden;
}
.emoticon:hover {
	text-decoration: none;
}
.emoticon span {
	display: inline-block;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

.em_smile	{background-position: -5px -4px;}
.em_sad		{background-position: -32px -4px;}
.em_laugh	{background-position: -59px -4px;}
.em_wink	{background-position: -86px -4px;}
.em_unhappy	{background-position: -113px -4px;}
.em_speechless	{background-position: -140px -4px;}
.em_sealedlips	{background-position: -167px -4px;}
.em_moustaches	{background-position: -194px -4px;}
.em_cheeky	{background-position: -5px -31px;}
.em_worried	{background-position: -32px -31px;}
.em_crying	{background-position: -59px -31px;}
.em_surprised	{background-position: -86px -31px;}
.em_mmmm	{background-position: -113px -31px;}
.em_smirk	{background-position: -140px -31px;}
.em_angel	{background-position: -167px -31px;}
.em_devil	{background-position: -194px -31px;}
.em_blush	{background-position: -5px -58px;}
.em_laugh2	{background-position: -32px -58px;}
.em_angry	{background-position: -59px -58px;}
.em_nerdy	{background-position: -86px -58px;}
.em_cool	{background-position: -113px -58px;}
.em_kiss	{background-position: -140px -58px;}
.em_dull	{background-position: -167px -58px;}
.em_wow		{background-position: -194px -58px;}
.em_chuckle	{background-position: -5px -85px;}
.em_wasntme	{background-position: -32px -85px;}
.em_think	{background-position: -59px -85px;}
.em_horny	{background-position: -86px -85px;}
.em_inlove	{background-position: -113px -85px;}
.em_bow		{background-position: -140px -85px;}
.em_hug		{background-position: -167px -85px;}
.em_party	{background-position: -194px -85px;}
.em_nosebleed	{background-position: -5px -112px;}
.em_hi		{background-position: -32px -112px;}
.em_pilot	{background-position: -59px -112px;}
.em_vampire	{background-position: -86px -112px;}
.em_pirate	{background-position: -113px -112px;}
.em_envy	{background-position: -140px -112px;}
.em_drunk	{background-position: -167px -112px;}
.em_fubar	{background-position: -194px -112px;}
.em_swear	{background-position: -5px -139px;}
.em_ninja	{background-position: -32px -139px;}
.em_sweat	{background-position: -59px -139px;}
.em_headbang	{background-position: -86px -139px;}
.em_wait	{background-position: -113px -139px;}
.em_emo		{background-position: -140px -139px;}
.em_frozen	{background-position: -167px -139px;}
.em_yawn	{background-position: -194px -139px;}
.em_shock	{background-position: -5px -166px;}
.em_hazy	{background-position: -32px -166px;}
.em_what	{background-position: -59px -166px;}
.em_rain	{background-position: -86px -166px;}
.em_snow	{background-position: -113px -166px;}
.em_sun		{background-position: -140px -166px;}
.em_dance	{background-position: -167px -166px;}
.em_music	{background-position: -194px -166px;}
.em_tea		{background-position: -5px -193px;}
.em_beer	{background-position: -32px -193px;}
.em_burger	{background-position: -59px -193px;}
.em_gift	{background-position: -86px -193px;}
.em_flower	{background-position: -113px -193px;}
.em_love	{background-position: -140px -193px;}
.em_broken	{background-position: -167px -193px;}
.em_cake	{background-position: -194px -193px;}
.em_star	{background-position: -5px -220px;}
.em_handshake	{background-position: -32px -220px;}
.em_yes		{background-position: -59px -220px;}
.em_no		{background-position: -86px -220px;}
.em_monkey	{background-position: -113px -220px;}
.em_alien	{background-position: -140px -220px;}
.em_drink	{background-position: -167px -220px;}
.em_coffee	{background-position: -194px -220px;}
.em_donut	{background-position: -5px -247px;}
.em_riceball	{background-position: -32px -247px;}
.em_bg		{background-position: -59px -247px;}
.em_rock	{background-position: -86px -247px;}
.em_vbox7	{background-position: -113px -247px;}
.em_alienc	{background-position: -140px -247px}
.em_santa	{background-position: -167px -247px}

/*end new emoticons*/