.title-row .del-thumbs-block-btn {
    margin-left: 18px;
}
.title-row .del-thumbs-block-btn:hover {
    cursor: pointer;
}

/* == Tops, Category and Subscriptions list pages == */

/* == thumbnails wrappers START == */
@media (min-width: 992px) {
   .type-2-3-one-list .cells-container .video-cell:nth-child(3n+4) {clear: none;}
   .type-2-3-one-list .cells-container .video-cell:nth-child(3n+3) {clear: left;}
   .type-2-3-one-list > .cells-container ~ .cells-container .video-cell:nth-child(3n+4) {clear: left;}
   .type-2-3-one-list > .cells-container ~ .cells-container .video-cell:nth-child(3n+3) {clear: none;}
   
   .type-2-2-one-list .cells-container .video-cell:nth-child(2n+1) {clear: left;}
   
   .type-2-3-multi-list .cells-container .video-cell:nth-child(3n+4) {clear: none;}
   .type-2-3-multi-list .cells-container .video-cell:nth-child(3n+3) {clear: left;}
   
    .type-2-3-one-list .cells-container.subtype-3-cells-3-cells .video-cell:nth-child(3n+4) {clear: left;}
    .type-2-3-one-list .cells-container.subtype-3-cells-3-cells .video-cell:nth-child(3n+3) {clear: none;}
    
    .type-2-2-one-list .cells-container.subtype-3-cells-3-cells .video-cell:nth-child(2n+1) {clear: none;}
    .type-2-2-one-list .cells-container.subtype-3-cells-3-cells .video-cell:nth-child(3n+4) {clear: left;}
  
    .type-2-3-multi-list .cells-container.subtype-3-cells-3-cells .video-cell:nth-child(3n+4) {clear: left;}
    .type-2-3-multi-list .cells-container.subtype-3-cells-3-cells .video-cell:nth-child(3n+3) {clear: none;}
}
/* == thumbnails wrappers END == */

/* Use this for a long link ot text */
.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-word-break: break-all;
}

.break-out-username {
    overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
/* == Tops, Category and Subscriptions list pages == */

/* == Users boxes list styles - exampl. Subscribtions page when logged off == */
.usr-list-cont {margin-top: -17px;}

.usr-cell {
    display: block;
    /* display: table; */
    height: 100%;
    padding-bottom: 5px;
    padding-top: 30px;
}

@media (min-width: 1200px) {
    .usr-list-cont .col-lg-6:nth-child(odd) {clear: left;}
}

.usr-avatar-cont {
    display: block;
    float: left;
    /* display: table-cell; */
    /* overflow: hidden;  */
    width: 95px;
    height: 95px;
}
.usr-details-cont {
    display: block;
    overflow: hidden;
    /* display: table-cell; */
    vertical-align: top;
    padding-left: 18px;
}
.usr-list-cont .usr-cell .usr-avatar-cont a.usr-avatar {
    display:block; 
    width: 90px;
    height: 90px;
    overflow: hidden;
}


.usr-list-cont .usr-cell .usr-details-cont a.usr-name {
    float: left;
    text-align: left;
    text-decoration: none;
    color: rgb(33, 33, 33);
    padding: 9px 0px 10px 0px;
    font: bold 1.071rem Roboto-g-50, Roboto-regular, sans-serif;
}

.usr-list-cont .usr-cell .usr-details-cont .badges-wrap {display: block; text-align: left; float: left; clear: left; margin: 0 0 8px 0;}
.usr-list-cont .usr-cell .usr-details-cont .uploaded-clips-wrap {
    display: block; float: left; clear: left; margin: 0 0 7px 0; font: normal 0.9286rem/0.9286rem Roboto-g-500, Roboto-Regular, sans-serif; color: #9d9e9f;
}
.usr-list-cont .usr-cell .usr-details-cont .subscibe-wrap {display: block; white-space: nowrap; text-align: left; float: left; clear: left;}
.usr-list-cont .usr-cell .usr-details-cont .notifications-wrap { display: inline-block; text-align: left;  }


/* Btn See more in left cont */
.left-cont .see-more-btn-wrapper {border-bottom: 1px solid #dddddd; padding: 8px 0 14px 0px;}
.left-cont .see-more-btn-wrapper .more-text-btn {display: block; padding: 14px 0; font: normal 1rem/1rem Roboto-g-500, Roboto-Regular, sans-serif; text-decoration:none; color:#212121;}
.left-cont .see-more-btn-wrapper .more-text-btn:hover, 
.left-cont .see-more-btn-wrapper a.more-text-btn:hover {text-decoration:none;}

.left-col-sep-line {width: 100%; border-bottom: 1px solid #dddddd; padding: 8px 0 0 0;}
.title-row nav a {float: left;}
.def-btn-left-sep {margin-left: 18px;}

/* tops lists css3 ribbon */
.tops-ribbon-icon-wrap { 
    position: absolute;
    top: 0px;
    left: 13px;
}

.tops-ribbon-icon{
    position: absolute;
    top: 0px;
    left: 13px;
    display: block;
    overflow: hidden;
    color: rgba(255,255,255,1);
    text-align: center;
    z-index: 1;
}

.tops-ribbon-icon::before {
    position: absolute;
    content: "";
    width: 0;
    top: 0;
    left: 0;
    border-top: 0 solid;
    z-index: 1;
    text-align: center;
}
.tops-ribbon-icon::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    border-top: 0 solid;
    z-index: 2;
}
.tops-ribbon-icon span {
    position: relative;
    z-index: 3;
}

.video-cell.col-lg-6 .tops-ribbon-icon {
    width: 36px;
    height: 36px;
}

.video-cell.col-lg-6 .tops-ribbon-icon::before {
    height: 37px;
    border: 18px solid #ffffff;
    border-bottom: 8px solid rgba(0,0,0,0);
}
.video-cell.col-lg-6 .tops-ribbon-icon::after {
    height: 34px;
    border: 18px solid #000000;
    border-bottom: 8px solid rgba(0,0,0,0);
}
.video-cell.col-lg-6 .tops-ribbon-icon span { font: bold 1.143rem/2rem Roboto-g-500, Roboto-Regular, sans-serif;}

.video-cell.col-lg-4 .tops-ribbon-icon {
    width: 29px;
    height: 27px;
}

.video-cell.col-lg-4 .tops-ribbon-icon::before {
    height: 28px;
    border: 14px solid #ffffff;
    border-bottom: 7px solid rgba(0,0,0,0);
}
.video-cell.col-lg-4 .tops-ribbon-icon::after {
    height: 26px;
    border: 14px solid #000000;
    border-bottom: 7px solid rgba(0,0,0,0);
}
.video-cell.col-lg-4 .tops-ribbon-icon span { font: bold 1rem/1.5rem Roboto-g-500, Roboto-Regular, sans-serif;}


/* play page video share tab START */
.video-share-cont {padding-top: 40px;padding-bottom: 40px;}
.video-share-cont .social-icons-wrap > * {display: inline-block;}
.video-share-cont .social-icons-wrap a {
    font: normal 1.071rem/2rem Roboto-g-500, Roboto-regular, sans-serif;
    line-height: 2.14rem;
    padding-right: 1.0rem;
    float: left;
}
.video-share-cont .social-icons-wrap a i {float: left; padding-right: 0.8571rem;}
.video-share-cont .social-icons-wrap a span {line-height: 2.14rem; float: left; }
.video-share-cont .social-icons-wrap a i.icon-fb-screen {font-size: 1.8rem; bottom: 0em;}
.video-share-cont .social-icons-wrap a i.icon-tweeter {font-size: 1.8rem; color: #1da1f2; bottom: 0rem;}
.video-share-cont .social-icons-wrap a i.icon-tweeter:before {font-size: 1.429rem;}

.video-share-cont .social-icons-wrap i.mid-dot {
    line-height: 2.14rem;
    float: left;
    display: block;
    padding-right: 1.429rem;
    padding-left: 1rem;
    color: #a7a7a7;
}

.embed-opt-wrap {padding-top: 2.857rem;}
.embed-opt-wrap h3 {color: #767676; font-family: Roboto-g-500, Roboto-Regular, sans-serif; font-size: 1rem;}
.embed-opt-wrap .block-title {padding-bottom: 1.143rem;}

.embed-opt-wrap .form-group {
   padding-top: 1.429rem;
   margin-bottom:  1.429rem;
}
.embed-opt-wrap .form-group .col-form-label {
    color: #767676; font-family: Roboto-g-500, Roboto-Regular, sans-serif;  font-weight: 500; font-size: 1rem;
    line-height: 2.429rem;
}

.embed-opt-wrap .form-group .form-control {
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    padding: 0.9286rem;
    color: #212121;
    font-family: Roboto-g-500, Roboto-Regular, sans-serif; 
    font-size: 0.9286rem ;
    background: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: auto;
    min-height: 2.429rem;
}

/* playlist styles START */
.right-details-cont > .pl-right-col-wrap  {position: fixed; right: 18px; overflow: hidden}
.right-details-cont.pl-active.opened {overflow: hidden; min-height: 0px;}
.right-details-cont.pl-active.opened >   * ~ .pl-right-col-wrap {position: relative; left: 18px; background-color: #eeeded; z-index: 1;}
.right-details-cont.pl-active.colapsed {min-height: 100%; }
.right-details-cont.pl-active.colapsed >  * ~ .pl-right-col-wrap {position: relative; left: 18px; background-color: #eeeded; z-index: 1;}
.right-details-cont.pl-active.opened >  .pl-right-col-wrap {
  display:block; 
  box-sizing: border-box; 
  padding-right: 0px; 
  padding-top: 144px;
  z-index: 20; 
  position: fixed;
  width: 100%; 
  bottom: 0;
  background-color: #1b1b1b;
  transition: height .6s ease-in;
  -ms-transition: height .6s ease-in;
  -moz-transition: height .6s ease-in;
  -webkit-transition: height .6s ease-in;
} 
.right-details-cont.pl-active.colapsed >  .pl-right-col-wrap {
  display:block; 
  box-sizing: border-box;
  position: fixed;
  background-color: #1b1b1b;
  bottom: 0;
  /*left: 42px;*/
  /*max-height: 0px;*/
  z-index: 200;
  /*height: 0px;*/
  overflow: visible;  
  transition: height .6s ease-out;
  -ms-transition: height .6s ease-out;
  -moz-transition: height .6s ease-out;
  -webkit-transition: height .6s ease-out;
}

.pl-nav {
  display: block;
  position: absolute;
  top:0;
  left: 0;
  z-index: 30;
  /*float: left;*/
  background-color: #212121; 
  height: 144px; 
  box-sizing: border-box; /*common val*/
  padding-left: 0px; 
  padding-right:0px; 
  padding-top: 0; 
  color: #ffffff;
  width: inherit;
}

.right-details-cont.pl-active.opened > .pl-right-col-wrap .pl-nav {
  display: block;
  float: left;
  height: 144px; 
   width: 100%;
}
.right-details-cont.pl-active.colapsed >  .pl-right-col-wrap .pl-nav {
	top:-90px;
    height: 90px;   
}

.pl-nav-row {display: table; width: 100%; clear: both;}

.pl-vids-info {
  display: table-cell;
  vertical-align: top;
  width: 106px;
  height: 100%;
  padding: 20px 28px 19px 28px;
  background-color: #2c2c2c;
  color: #959696;
}
.pl-vids-info .centered {
  float: left;
  text-align: center;
  width: 100%;
}
.pl-vids-info .centered span.active-vid-num {color: #ffffff;}
.pl-vids-info .centered i.icon-playlist {clear: both; padding-top: 0.4286rem; width:2.286rem; height: 2.286rem;}
.pl-vids-info .centered i.icon-playlist:hover {color: inherit;}
.pl-vids-info .centered i.icon-playlist:before {font-size: 1.429rem; }

.pl-creator-info {
  display: table-cell;
  padding: 0px 22px 0 22px;
  vertical-align: middle;
}
.pl-creator-info .pl-title {font-size: 16px; color: #ffffff; margin-top: 8px;}
.pl-creator-info a.pl-creator-username {margin-top: 10px; display: block; clear: both; font-size: 0.9286rem; color: #9d9e9f;}

.pl-toggle-btn {display: table-cell; width: 96px; padding: 0px 34px 0px 34px; text-align: center; vertical-align: middle;}
.pl-toggle-btn:hover {cursor: pointer;}
.pl-toggle-btn .icon-arr-down {}
.pl-toggle-btn .icon-arr-down:before {font-size: 0.9286rem; color: #ffffff}
                                          
.pl-active.colapsed .pl-toggle-btn i.icon-arr-down {transform: rotate(180deg); }

.pl-options {display: table;height: 54px; width: 100%; padding: 0px 18px 0px 18px;}

.pl-options .pl-controls {display: table-cell; width: 50%; vertical-align: middle; padding: 0px 0px 0px 20px;}
.pl-options .pl-controls a {line-height:2.14rem; margin-right: 28px;}
.pl-options .pl-controls a i {font-size: 1.8rem; color: #ffffff;}
.pl-options .pl-controls a i:hover {color: #e62164; cursor: pointer;}
.pl-options .pl-controls a.active i {color: #e62164;}
.pl-options .pl-controls a i:before {font-size: 1.429rem;}
.pl-options .pl-fb-share {display: table-cell; width: 50%; text-align: right; vertical-align: middle; padding: 0px 20px 0px 20px;}
.pl-options .pl-fb-share a {line-height:2.14rem;}
.pl-options .pl-fb-share a i.icon-fb-screen { font-size: 1.8rem; bottom: -0.3rem }

.pl-rows-wrap {
  padding-top: 0px;
  display: block;
  float: left;
  padding-left: 18px;
  padding-right: 18px;
  clear: left;
}
.pl-rows-wrap .video-row.active {background-color: #2c2c2c;}
.pl-rows-wrap .video-row:hover {background-color: #2c2c2c;}
.pl-rows-wrap .video-row {padding: 13px 13px 13px 36px;}
.pl-rows-wrap .video-row .video-caption {padding: 14px 0 0 16px;}
.pl-rows-wrap .video-row .video-caption h2 a {color: #ffffff;}

.pl-rows-wrap .video-row p.add-info {color: #989999; font-size: 12px;}
.pl-rows-wrap .video-row p.add-info .icon-eye {padding: 0px 6px 0px 22px;}

.pl-active.colapsed .channel-wrap { padding-bottom: 180px}

/* Css3 preloader styles */
.moreLoadingBoxTop {
               /* background: url('http://gifyo.com/public/img/loading.gif') no-repeat center center;
                background-size: 100px 100px;
                height:100px;
                width:100px; */
               background-color: #ffffff;
                position: absolute;
                top: 0;
                left: -18px;
                width: calc( 100% + 54px );
                height: 100%;
                opacity: 0.70;
                filter: alpha(opacity =70);
                padding: 0;
                z-index: 3;
            } 
.moreLoadingBoxTop .loader-cont {
    position: relative;
    display: block;
    height: 400px;
    width: 100px;
    margin: 20% auto;
}
.moreLoadingBox {
               /* background: url('http://gifyo.com/public/img/loading.gif') no-repeat center center;
                background-size: 100px 100px;
                height:100px;
                width:100px; */
                position: relative;
                height: 100%;
                width: 100%;
                clear: left;
                padding: 0;
            } 
            
.moreLoadingBox .loader-cont {
    position: relative;
    display: block;
    height: 100px;
    width: 100px;
    margin: 5% auto;
}

.comments-loading .loader-cont {
    position: relative;
    display: block;
    height: 50px;
    width: 50px;
    margin: 5% auto;
}
.video-comments-cont .sort-comments #commentsLoadedFilters {
    position: relative;
    display: block;
    height: 50px;
    width: 50px;
    padding: 0px 0px 0px 0px;  
    margin: 0 auto 5% auto;
}
.comments-loading .loader-cont .spinner,
.video-comments-cont .sort-comments #commentsLoadedFilters {
  height: 50px;
  width: 50px;
  animation: rotate 1.6s infinite linear;
  border: 2px solid #ec0f63;
  border-right-color: transparent;
  border-radius: 50%;
}
            
.spinner {
  
  height: 100px;
  width: 100px;
  animation: rotate 1.6s infinite linear;
  border: 5px solid #ec0f63;
  border-right-color: transparent;
  border-radius: 50%;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}
