@font-face {
  font-family: 'Roboto-Regular';
  font-weight: 500;
  src: url('//i49.vbox7.com/css/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),  
  url('//i49.vbox7.com/css/fonts/Roboto-Regular.woff') format('woff'), url('//i49.vbox7.com/css/fonts/Roboto-Regular.ttf')  format('truetype'), 
  url('//i49.vbox7.com/css/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('//i49.vbox7.com/css/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),  
  url('//i49.vbox7.com/css/fonts/Roboto-Medium.woff') format('woff'), url('//i49.vbox7.com/css/fonts/Roboto-Medium.ttf')  format('truetype'), 
  url('//i49.vbox7.com/css/fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
}

@font-face {
  font-family: 'Roboto-MediumItalic';
  src: url('//i49.vbox7.com/css/fonts/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),  
  url('//i49.vbox7.com/css/fonts/Roboto-MediumItalic.woff') format('woff'), url('//i49.vbox7.com/css/fonts/Roboto-MediumItalic.ttf')  format('truetype'), 
  url('//i49.vbox7.com/css/fonts/Roboto-MediumItalic.svg#Roboto-MediumItalic') format('svg');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('//i49.vbox7.com/css/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),  
  url('//i49.vbox7.com/css/fonts/Roboto-Bold.woff') format('woff'), url('//i49.vbox7.com/css/fonts/Roboto-Bold.ttf')  format('truetype'), 
  url('//i49.vbox7.com/css/fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
}



@font-face {
  font-family: 'xpose';
  src:  url('//i49.vbox7.com/css/fonts/xpose.eot?lbzksr');
  src:  url('//i49.vbox7.com/css/fonts/xpose.eot?lbzksr#iefix') format('embedded-opentype'),
    url('//i49.vbox7.com/css/fonts/xpose.ttf?lbzksr') format('truetype'),
    url('//i49.vbox7.com/css/fonts/xpose.woff?lbzksr') format('woff'),
    url('//i49.vbox7.com/css/fonts/xpose.svg?lbzksr#xpose') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Roboto-g-500';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto'), local('Roboto-Regular'),  url('//i49.vbox7.com/css/fonts/Roboto-Regular-g.woff') format('woff'), url('//i49.vbox7.com/css/fonts/Roboto-Regular-g.ttf')  format('truetype');
}

html {font:normal 14px Roboto-Regular, sans-serif}
body, body.xpose-body { /*common values*/ background: #eeeded!important; font:normal 14px Roboto-Regular, sans-serif; height: 100%; overflow-y:scroll; background-image: none!important}
svg.masks-def { width: 0; height: 0; position: fixed}

/*common elelments*/

.centered { text-align:center}

.left { float:left}
.right { float:right}
.center {float: none;}
.block {display:block !important;}
.hidden { display: none}

[class*=col-sm].left,
[class*=col-md].left,
[class*=col-lg].left { text-align:left }

[class*=col-sm].right,
[class*=col-md].right,
[class*=col-lg].right { text-align:right }

[class*=col-sm].center,
[class*=col-md].center,
[class*=col-lg].center { text-align:center }

a { /*color: #ec0f63; */ color: inherit; }
a:hover { color: inherit; text-decoration: underline }
a:focus { color: inherit; outline: none }
.def-btn, a.def-btn { display:inline-block; height:2.286rem; padding:0 0.857rem; box-sizing:border-box; font: normal 0.93rem/2.5 Roboto-Regular, san-serif; color: #000; background: #fff; border:1px solid #b3b3b3; border-radius: 5px; text-decoration:none; word-break: keep-all; white-space: nowrap}
.left-cont .def-btn, .left-cont a.def-btn { border:1px solid #e1e1e1;}
.def-btn:hover, a.def-btn:hover { color:#fff; text-decoration:none; /*common value*/background:#ec0f63; border-color: #ec0f63 }
.def-btn > i[class*=icon] { margin: 0 10px 0 0; vertical-align:middle }
.def-btn:hover > i[class*=icon], a.def-btn:hover > i[class*=icon] { color :#fff;  }

.wide-pink-btn, a.wide-pink-btn { display:inline-block; height:42px; padding:0 15%; box-sizing:border-box; font: normal 16px/42px Roboto-Regular, san-serif; color: #fff; background: #ed145b; border-radius: 8px; text-decoration:none;}
.wide-pink-btn:hover, a.wide-pink-btn:hover { color:#fff; text-decoration:none; /*temp*/background:#cf0346}
.wide-pink-btn> i[class*=icon],
a.wide-pink-btn:hover > i[class*=icon] { margin: 0 10px 0 0; vertical-align:middle; color: #fff }

img[alt="loading"] { display: block; margin: auto; }

/* FORMS */
[contenteditable="true"]:focus { outline: none; }

.form-field { margin: 0 0 2rem 0; }
.form-field h2 { margin: 0 0 2rem 0; font-size:1.4em; }
.form-field p { margin: .5rem 0 2rem 0; font-size:1em; clear:both }
.form-field-label { font-weight: normal; display: block; font-size: 1.2em; margin:  0 0 1rem 0; }
.form-field-input { border: 0; background: transparent; border-bottom: 2px solid #9d9d9d; width: 100%; font-size: 1.2em; padding: .5rem 0; }
.form-field-input:focus { border-bottom: 2px solid #E62264; }
::-webkit-input-placeholder { color: #000000; }
:-moz-placeholder { color: #000000; }
::-moz-placeholder { color: #000000; }
:-ms-input-placeholder { color: #000000; }
.form-field-area { border: 1px solid #c5c5c5; border-radius: 5px; padding: 15px; width: 100%; min-height: 150px; outline: none}
.form-field-btn { display:inline-block; height:2.286rem; padding:0 0.857rem; box-sizing:border-box; font: normal 0.93rem/2.5 Roboto-Regular, san-serif; color:#fff; text-decoration:none; /*common value*/background:#ec0f63; border: 0; border-radius: 5px; text-decoration:none; word-break: keep-all; white-space: nowrap }
.form-field-error { font-size: 0.8em; color: #FF4141 }


.form-field input[type="radio"] {display:none;}

.form-field label, .form-field label.selected {	display: block; }
label.inactive {color:#ddd}
label span.radio {display: inline-block; width:1rem; height: 1rem; margin: 0 .75rem 0 0; background: #fff; border: 2px solid #9d9e9f; border-radius: 50%;}
.form-field input[type="radio"]:checked ~ span.radio { background: #e62d6c; border-color:#fff; box-shadow: 0 0 2px #333 }
label:hover span.radio {	border-color:#e62d6c; }

.form-field  .emoticonsBox {display:inline-block;}
.form-field  .emoticonBox.show_emBox { position: absolute; top: 95%; border:1px solid #c3c3c3; border-radius: 10px;}

.form-field .captcha-wrap { clear: both; height: 60px}
.form-field .captcha-wrap .form-field-input {width:70%; vertical-align: bottom; margin-top: 20px}
.form-field .captcha-wrap img { float:right}
.ui-helper-hidden-accessible { display:none !important; }

/*screen mask*/
.masked {}
.avatar-sm-low, .avatar-md-low {display:none!important}
.avatar-sm-low, .avatar-sm-low image {width: 30px; height: 30px;}
.avatar-md-low, .avatar-md-low image {width: 64px; height: 64px;}
svg.avatar-sm, .avatar-sm { width: 42px; height: 42px;}
svg.avatar-sm image, svg.avatar-sm > *, .avatar-sm > *, .avatar-sm > image, .avatar-sm img, .user-nav img { width: 42px; height: 42px; border-radius: 0}
svg.avatar-md, .avatar-md { width: 90px; height: 90px;}
svg.avatar-md image { width: 90px; height: 90px;}

.notf-num { display:inline-block; position: relative; width: 1.71rem; height: 1.71rem; text-align:center; background: #e62164; color: #fff; /*temp*/border-radius: 45%; font: normal 0.8rem/2.2 Roboto-Regular, san-serif; }

.mid-dot { /*content:"&#183;"; */font-size: 200%; vertical-align:middle; line-height:.5em; position: relative; left: -0.12em;}

a.usr-subscribe, .usr-subscribe,
a.usr-subscribed, .usr-subscribed { color: #e62164; font: normal 0.93rem Roboto-regular, sans-serif; }

.baloon-cont { position:relative; display: inline-block; padding: 0 0.36rem 0; margin-left:.5rem; border: 1px solid #c3c3c3; border-radius: 3px; font: normal 0.8rem/1.45 Roboto-Regular, san-serif; color: #525252; vertical-align:middle }
.baloon-cont:before, .baloon-cont:after { content: ""; position: absolute; width: 0; height: 0; border-style: solid; border-color: transparent; border-left: 0;}
.baloon-cont:before {top: 4px; left: -5px; margin-top: -1px; border-right-color: #c3c3c3; border-width: 5px;}
.baloon-cont:after {top: 5px; left: -3px; border-right-color: #fff; border-width: 3px;}

.left-cont .baloon-cont:after { border-right-color: #eeeded; }


.autoplay-btn { position:relative; display:inline-block; width:1.7rem; height:.8rem; border-radius: .4rem; background: #777; vertical-align: middle}
.autoplay-btn span { margin: -1px; box-sizing: content-box ; position:absolute; display:inline-block; width:.8rem; height:.8rem; border-radius: 50%; border: 1px solid #fff; background: #fff; }
.autoplay-btn.off span {left:0; }
.autoplay-btn.on  { background: #e62164 }
.autoplay-btn.on span { right:0;  }


/* drop down menus */
.drop-down-cont { position: relative}
.drop-down-cont .drop-down-nav {/* display:block;*/ position:absolute; top:100%; z-index: 400; min-width: 16.5rem; padding: 0; margin: 0; background: #fff; border: 1px solid #dbdbdb; border-radius: 10px; font: normal 1rem/1.57 Roboto-Regular, sans-serif!important; text-align: left; overflow: hidden;/*display: block;*/ }
/*.drop-down-cont:active .drop-down-nav:not(.block) { display:block; }*/
.drop-down-cont .drop-down-nav ul { padding: .714rem 0; border-top: 1px solid #dbdbdb }
.drop-down-cont .drop-down-nav ul:first-child { border: 0; padding-top: 0; }
.drop-down-cont .drop-down-nav ul:last-child { padding-bottom: 0; }
.drop-down-cont .drop-down-nav ul:first-child li:first-child { -moz-border-radius-topleft: 10px;  border-top-left-radius: 10px; -moz-border-radius-topright: 10px;  border-top-right-radius: 10px; }
.drop-down-cont .drop-down-nav ul:last-child li:last-child { -moz-border-radius-bottomleft: 10px;  border-bottom-left-radius: 10px; -moz-border-radius-bottomright: 10px;  border-bottom-right-radius: 10px; }
.drop-down-cont .drop-down-nav ul h3 { padding: .5rem 1.43rem; color: #9d9e9f; font-size: 0.857rem; }
.drop-down-cont .drop-down-nav ul li { }
.drop-down-cont .drop-down-nav ul li a { display: block; padding: .5rem 1.43rem; white-space: nowrap; text-decoration: none; color: #010000 }
.drop-down-cont .drop-down-nav ul li:hover { background: #eee }
.drop-down-cont .drop-down-nav ul li i[class*=icon] { width: 1.8em; margin: 0; color: #606060 /*common value*/; font-size: 1.3em}
.drop-down-cont .drop-down-nav ul li a i.icon-android-empty, 
.drop-down-cont .drop-down-nav ul li a i.icon-ios-empty, 
.drop-down-cont .drop-down-nav ul li a i.icon-mobile-empty { font-size: 1.7em; margin: -.3em 0 0}
.drop-down-cont .drop-down-nav ul li a i.icon-playlist { font-size: 1.3em; bottom: initial; }
.drop-down-cont .drop-down-nav ul li a i.icon-mail { font-size: 1.2em; }
.drop-down-cont .drop-down-nav ul li a:hover i[class*=icon] { color: #ec0f63 /*common value*/ }
.drop-down-cont .drop-down-nav ul li.user-link  { line-height:42px; padding-bottom: 0; }
.drop-down-cont .drop-down-nav ul li.user-link a  { overflow: hidden; text-overflow: ellipsis; padding-top: .5rem; margin-bottom:  -0.714rem; }
.drop-down-cont .drop-down-nav ul li.user-link svg { width:42px; height:42px; float:left; margin: 0  0.714rem 0 0; vertical-align: middle; }

.drop-down-cont.sep .drop-down-nav ul { padding: 0; border-top: 0 }
.drop-down-cont.sep .drop-down-nav ul li { padding: 0; border-top: 1px solid #dbdbdb }
.drop-down-cont.sep .drop-down-nav ul li a { line-height:50px; padding-bottom: 0; }
.drop-down-cont.sep .drop-down-nav ul li a:hover,
.drop-down-cont.sep .drop-down-nav ul li.selected a { color: #ec0f63 }

.drop-down-cont li { list-style: none; }
.drop-down-cont .def-sort-control { cursor: pointer}
.drop-down-cont .def-sort-control i[class*=icon]{ font-size: 0.5em; margin: 0 0 0 .5em}


.select-drop > a.current { text-decoration: none}
.select-drop > a.current i[class*=icon] {}

.row.full-back { margin-right: -36px;  padding-right: 18px; }


/*ICONS*/

i[class*=icon] { display:inline-block; min-width:12px; min-height:12px; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'xpose' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;  
  position:relative; 
  margin: 0;
  bottom: -.1em;
  color:#9e9e9e; 
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:hover, [class*=" icon-"]:hover,
a:hover [class^="icon-"], a:hover [class*=" icon-"]
{ color: #e62d6c /*common value*/}

[class^="icon-"]:before, [class*=" icon-"]:before {  content: "N";}

.icon-arr-down:before {
  content: "\e902";
}
.icon-arr-up:before {
  content: "\e902";
}
.icon-arr-up {
  transform: rotate(180deg);
  bottom: 0.7em;
}
.icon-arr-down-sm:before {
  content: ""; position: absolute; width: 0; height: 0; border-style: solid; border-color: transparent; border-bottom: 0; border-top-color: #9e9e9e/*common value*/; border-width: 7px;
}
.icon-arr-up-sm:before {
  content: ""; position: absolute; width: 0; height: 0; border-style: solid; border-color: transparent; border-top: 0; border-bottom-color: #9e9e9e/*common value*/; border-width: 7px;
}
.icon-arr-left:before {
  content: "\e903";
}
.icon-arr-right:before {
  content: "\e904";
}

.icon-screen-back:after {
  content: "\e92c";
  color: #fff;
  opacity:0;
  font-size: 1.7em;
  margin-left:-0.5em;
  margin-top:-0.47em;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 0;
}

.icon-screen-back.icon-favorites:after {
	margin-top:-0.5em;
}
a .icon-screen-back:before { position: relative;  z-index: 10;  }

a:hover .icon-screen-back:after,
a.active .icon-screen-back:after {color: #ec0f63; opacity:1 }
a:hover .icon-screen-back:before,
a.active .icon-screen-back:before { position: relative;  z-index: 10; color: #fff;  }

.element-screen-back { position: relative; z-index: 10; color: #fff; text-shadow: 1px 1px 0 #ec0f63}
.element-screen-back:before {
  font-family: 'xpose';
  content: "\e92c";
  font-size: 1.7em;
  color: #ec0f63;
  margin-left:-0.5em;
  margin-top:-0.5em;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
}

.icon-android:before {
  content: "\e900";
}
.icon-android-empty:before {
  content: "\e901";
}

.icon-attach:before {
  content: "\e905";
}
.icon-bell:before {
  content: "\e906";
}
.icon-checkbox:before {
  content: "\e907";
}
.icon-comment:before {
  content: "\e908";
}
.icon-edit:before {
  content: "\e909";
}
.icon-edit-pic:before {
  content: "\e90a";
}
.icon-eye:before {
  content: "\e90b";
}
.icon-f:before {
  content: "\e90c";
}
.icon-favorites:before {
  content: "\e90d";
}
.icon-fb:before {
  content: "\e90e";
}
.icon-fb-empty:before {
  content: "\e90f";
}
.icon-fb-screen:before {content: ''}

.icon-fb-screen .path1:before {
  content: "\e910";
  color: rgb(59, 89, 152);
}
.icon-fb-screen .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-gplus:before {
  content: "\e912";
}
.icon-g-plus:before {
  content: "\e913";
}
.icon-gplus-empty:before {
  content: "\e914";
}
.icon-groups:before {
  content: "\e915";
}
.icon-ham:before {
  content: "\e916";
}
.icon-ham-dots:before {
  content: "\e917";
}
.icon-ham-dots-hor:before {
  content: "\e917";
}
.icon-ham-dots-hor{
  transform: rotate(90deg);
}
.icon-history:before {
  content: "\e918";
}
.icon-img:before {
  content: "\e919";
}
.icon-inbox:before {
  content: "\e91a";
}
.icon-ios:before {
  content: "\e91b";
}
.icon-ios-empty:before {
  content: "\e91c";
}
.icon-junk:before {
  content: "\e91d";
}
.icon-mail:before {
  content: "\e91e";
}
.icon-mobile:before {
  content: "\e91f";
}
.icon-mobile-empty:before {
  content: "\e920";
}
.icon-music:before {
  content: "\e921";
}
.icon-music2:before {
  content: "\e922";
}
.icon-play:before {
  content: "\e923";
}
.icon-play-empty:before {
  content: "\e924";
}
.icon-player-add:before {
  content: "\e925";
}
.icon-player-mix:before {
  content: "\e926";
}
.icon-player-reload:before {
  content: "\e927";
}
.icon-playlist:before {
  content: "\e928";
  bottom: initial;
}
.icon-popular:before {
  content: "\e929";
}
.icon-reload-bar:before {
  content: "\e92a";
}
.icon-remove-clip:before {
  content: "\e92b";
}
.icon-screen:before {
  content: "\e92c";
}
.icon-search:before {
  content: "\e92d";
}
.icon-send:before {
  content: "\e92e";
}
.icon-settings:before {
  content: "\e92f";
}
.icon-share:before {
  content: "\e930";
}
.icon-share2:before {
  content: "\e931";
}
.icon-smiley:before {
  content: "\e932";
}
.icon-smiley-bord:before {
  content: "\e933";
}
.icon-star:before {
  content: "\e934";
}
.icon-star-empty:before {
  content: "\e935";
}
.icon-subscript:before {
  content: "\e936";
}
.icon-system-msg:before {
  content: "\e937";
}
.icon-thumb-down:before {
  content: "\e938";
}
.icon-thumb-up:before {
  content: "\e939";
}
.icon-tik:before {
  content: "\e93a";
}
.icon-top40:before {
  content: "\e93b";
}
.icon-tweeter:before {
  content: "\e93c";
}
.icon-tweeter-empty:before {
  content: "\e93d";
}
.icon-upload:before {
  content: "\e93e";
}
.icon-vcards-empty:before {
  content: "\e93f";
}
.icon-vgames-empty:before {
  content: "\e940";
}
.icon-viber:before {
  content: "\e941";
}
.icon-vmusic-empty:before {
  content: "\e942";
}
.icon-watch:before {
  content: "\e943";
}
.icon-write-msg:before {
  content: "\e944";
}
.icon-x:before {
  content: "\e945";
}
.icon-x2:before {
  content: "\e946";
}
.icon-x-big:before {
  content: "\e947";
}

.icon-info:before {
  content: "\e948";
}
.icon-statistics:before {
  content: "\e949";
}

.icon-flag:before {
  content: "\e94b";
}
.icon-subs:before {
  content: "\e94a";
}

.icon-bell-filled:before {
  content: "\e94c";
  color: #ec0f63;
}

.icon-top20:before {
  content: "\e94d";
}
.icon-stars:before {
  content: "\e94e";
}
.icon-popfolk:before {
  content: "\e94f";
}
.icon-topavt:before {
  content: "\e950";
}
.icon-topmore:before {
  content: "\e951";
}

.icon-play.element-screen-back {
	
}



/* GRID */

/*.container-fluid { min-width: 1000px;}
.container-fluid > * { min-width: 1000px;}*/

.container-fluid {min-height: calc(100.1vh)}

.fixed-cont { position:fixed; z-index: 300; /*common val*/background: #fff}
 
header.fixed-cont { z-index: 400; width: 100%; /*common val*/height:80px; box-sizing: border-box; padding:20px 18px; top:0; left:0; right:0; }

.left-cont { position:relative; z-index:200; /*common val*/top: 80px; min-height: 1200px; margin-right:18px }
.container-fluid.left-side-scrollable .left-cont { position:relative; z-index:301; /*common val*/top: 80px; min-height: 1200px; margin-right:18px }
.left-cont > footer {  }
.left-cont > footer  > section > .row { margin-right: -36px; padding-right: 18px; }

.right-cont { padding-left:18px; height:100%; }
.main-fixed.fixed-cont {  /*common val*/top: 80px; right:0px; left:auto; height:100%;  }
.main-fixed.fixed-cont:not(.play-page) {right:0px; left:auto; }
.main-fixed.fixed-cont.play-page { /*common val*/left: 18px; right:auto; }

.right-details-cont { /*position: absolute;*/ position: relative; float: right; /*common val*/top:80px; right: 18px; /*common val*/padding-left: 36px; min-height: calc(100vh - 80px);  background: #fff}
.right-details-cont > .channel-wrap > * {  }
.right-details-cont > .channel-wrap  {position: relative; left: 18px; /*common val*/  background-color: #eeeded; min-height: calc(100vh - 80px); }
.right-details-cont > .channel-wrap > .details-content.rightContainer > *,
.right-details-cont > .channel-wrap > .video-details-wrap > .tab-content { box-sizing: border-box; /*common val*/padding-left: 36px; padding-right: 36px;  }



/*autocomplete fixes*/
ul.ui-autocomplete {display: block;  width: 100%; padding: 10px 0 30px; background: #fff;  z-index: 500;}
ul#ui-id-2.ui-autocomplete { /*display: block!important; background: rgba(255,255,255,0.75);*/ max-width:538px; border-radius: 0 0 10px 10px; box-shadow: 0px 2px 10px rgba(0,0,0,0.3)}
ul#ui-id-1.ui-autocomplete { position: fixed;  /*common val - header height*/top:80px!important; left: 0px!important; box-shadow:  0 3px 3px rgba(0,0,0,0.3); }
ul.ui-autocomplete li.ui-menu-item { padding:0; list-style: none }
ul#ui-id-1.ui-autocomplete li.ui-menu-item { margin:0 0 0 150px; }
ul#ui-id-2.ui-autocomplete li.ui-menu-item { margin:0 1rem; }
ul.ui-autocomplete li.ui-menu-item a { cursor:pointer; display: inline-block; padding: 3px 10px 3px 10px; min-width: 300px; font: normal 1.1rem/2 Roboto-g-500, Roboto500, Roboto-Regular, san-serif;  color: #000; text-decoration: none}
ul.ui-autocomplete li.ui-menu-item a:hover,
ul.ui-autocomplete li.ui-menu-item a.ui-state-focus { background: #ec0f63; border-radius: 5px; color: #fff}

/* custom gutters */
/*.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 */
.custom-gutter-9.row {
  margin-left: -9px;
  margin-right: -9px;
}

.custom-gutter-9.row [class*=col-xs],
.custom-gutter-9.row [class*=col-sm],
.custom-gutter-9.row [class*=col-md],
.custom-gutter-9.row [class*=col-lg]
 {
  position: relative;
  min-height: 1px;
  padding-left: 9px;
  padding-right: 9px;
}


/*---inner styles---*/

/*header*/
header > .row > div { background: #fff}
.search-wrapper { display: inline-block; margin:0 0 0 1.857rem; padding:0.36rem 0 0; border-bottom: 1px solid #cecece; }
.search-wrapper > * { vertical-align:bottom; }
.logo-nav-cont { display:inline-block; margin:0 0 0 -26px;  cursor:pointer }
.burger-menu { width:26px; height: 22px; }
.icon-ham { margin: 0 10px 0 0; font-size: 12px; color: #9d9e9f; bottom: 10px }
.logo-nav-cont.drop-down-cont:hover .icon-ham { color: #e62d6c}
.logo-nav-cont.drop-down-cont .drop-down-nav { left: -2px}
header.fixed-cont .drop-down-cont .drop-down-nav { max-height: calc(100vh - 110px) }

.search-wrapper h1 { display: inline-block; vertical-align: bottom }
.search-wrapper h1 img { display: inline-block; margin: 0 5px -1px -2px; padding-bottom: 4px; border-bottom:2px solid transparent }
.search-wrapper h1 img:hover { }



.search-wrapper form { display: inline-block }
.search-wrapper form .search-input-holder { display: inline-block; }
.search-wrapper form .search-input-holder  input.search-input { margin:0 -23px -1px 10px; padding:5px 30px 5px 0; width:256px;; border:0; border-bottom:2px solid transparent; background:transparent; color:#606161; font: normal 1.07rem/1.47 Roboto-Regular, sans-serif; outline:0 }
.search-wrapper form .search-input-holder  input.search-input:focus { border-bottom:2px solid #616161; }
.search-wrapper form .search-btn { display: inline-block; padding:0; margin:0 0 5px 0; vertical-align:bottom; border:0; outline:0; width:20px; height:20px; background:#fff }
.search-wrapper form .search-btn  .icon-search { width:20px; height:20px; margin:0; color: #606060; bottom: 0 }
	
nav.top-nav { display:inline-block; text-align: center; height:40px; /*background: #a.usr-subscribe, .usr-subscribefee*/}
nav.top-nav a { display:inline-block; width:auto; height:1.57rem; margin:0.571rem 0.714rem; font: normal 1.071rem/1.47 Roboto-g-500, Roboto500, Roboto-Regular, sans-serif; color:#000; word-break: keep-all; white-space: nowrap}
nav.top-nav a:hover { text-decoration:none;  }
nav.top-nav a i { font-size: 1.4em; margin: 0 0.7em;}
nav.top-nav a i:before { color: #606060/*common val*/; position: relative; z-index: 10 }
nav.top-nav a:hover i:before { color: #fff/*common val*/; }
nav.top-nav a:first-child, nav.top-nav a:first-child i { margin-left:0}
nav.top-nav a i.icon-stars { color: #e62d6c; font-size: 1.2em; margin: -.7em; vertical-align: top }
nav.top-nav a i.icon-stars:before { color: #e62d6c;}
nav.top-nav a:hover i.icon-stars:before { color: #e62d6c;}

.top-profile { text-align:right; display:inline-block}
.top-profile i { color: #606060  /*common value*/}
.top-profile > * { display:inline-block; height:3rem; margin:0 0 0 0.71rem; vertical-align:middle; }
.top-profile > a,
.top-profile > .drop-down-cont > a { position:relative; min-width:2.2rem; display:inline-block; height:3rem; vertical-align:middle; }
.top-profile  > a.def-btn { min-width: 0; height: 2.3rem; }
.top-profile  > a.def-btn > i { bottom: 1px; font-size: 1.1em; color: #606060 }
.top-profile  > a.def-btn > i.icon-upload { bottom: 1px; padding: 0 0 .2em; margin: 0; border-bottom: 1px solid #606060; color: #606060 }
.top-profile  > a.def-btn:hover > i.icon-upload { border-bottom: 1px solid #fff; }
.top-profile  > a.def-btn:hover > i { color: #fff; background: transparent }
.top-profile .subscrpt-note > i { position:absolute; left:0; bottom: .65rem; font-size: 1.35em}
.top-profile .pm-note { margin: 0; height: 2.8rem}
.top-profile .pm-note > i { position:absolute; left:0; bottom: 0.64rem; font-size: 1.1em}
.top-profile a > .element-screen-back { position:absolute; top:.20rem; right:.65rem; font-size: .85rem }
.top-profile .user-nav     { }
.top-profile .user-nav svg.avatar  { display: inline-block}
.top-profile .header-user-login  { height: auto}

.top-profile .drop-down-cont .drop-down-nav { right: -2px}

.drop-down-cont.subscr .drop-down-nav { display: none;  max-height: 500px; overflow: hidden;/* overflow-y: auto*/}
.drop-down-cont.subscr:hover i.icon-subscrpt-msg { 	}
.drop-down-cont.subscr:hover .drop-down-nav {	display: block; width: 17.5rem; max-height: 500px; /*overflow-y: auto*/}
.drop-down-cont.subscr:hover .drop-down-nav .mCSB_inside>.mCSB_container { margin-right: 20px}
.drop-down-cont.subscr .drop-down-nav ul { border:0  }
.drop-down-cont.subscr .drop-down-nav ul li { border-top: 1px solid #dbdbdb }
.drop-down-cont.subscr .drop-down-nav ul li:first-child { border-top: 0 }
.drop-down-cont.subscr .drop-down-nav ul li a { display: block; padding: 1.071rem 1.43rem 1.071rem 1.071rem; white-space: normal; color: #010000; text-decoration: none }
.drop-down-cont.subscr .drop-down-nav ul li a p.top-info { height:42px;}
.drop-down-cont.subscr .drop-down-nav ul li a p.top-info:after { content: ''; display: block; clear: both }
.drop-down-cont.subscr .drop-down-nav ul li a p.top-info svg { float:left; margin: 0 .7rem 1rem 0}
.drop-down-cont.subscr .drop-down-nav ul li a p.top-info span { display: block;  max-width: 10rem; padding: .5rem 0 ; margin: 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font:normal 1rem/1 Roboto-regular, sans-serif }
.drop-down-cont.subscr .drop-down-nav ul li a p.top-info span.date { margin: 0; padding: 0; color: #9d9e9f; font-size: 0.8rem; color: #9d9e9f /*common value*/}
.drop-down-cont.subscr .drop-down-nav ul li a p.desc { clear: both; max-height: 2.286rem; overflow: hidden;  font-size: 0.93rem; line-height:normal}


/*left col scrollable*/
.left-cont { }
section:after { display:block; clear:both; content:"" }
.title-row { padding:1.8rem 0 1.43rem; }
.title-row:after { display:block; clear:both; content:""}
.title-row h1 { font: normal 1.21rem Roboto-g-500, Roboto500, Roboto-Regular, sans-serif; color:#000; line-height:2.3rem /*def-btn height, check missing medium font*/ }
.title-row h1 a {  }
.title-row h1 a .icon-play.icon-screen-back { margin-right: 1rem; font-size: 1rem  }
.title-row h1 a .icon-play.icon-screen-back:before, 
.title-row h1 a .icon-play.icon-screen-back:after  { opacity: 1;}
.title-row h1 a .icon-play.icon-screen-back:before { color: #fff!important; font-size: .85em;  } 
.title-row h1 a .icon-play.icon-screen-back:after { margin-left: -0.6em; color: #9d9e9f /*common value*/  } 
.title-row h1 a:hover .icon-play.icon-screen-back:after {color: #e62164 /*common value*/} 
.left-cont i.icon-eye {  margin: 0 0.36rem; font-size: .8em; vertical-align: initial; bottom: initial }
.left-cont i.icon-thumb-up,
.left-cont i.icon-thumb-down {  margin: 0 0.36rem; vertical-align: initial; bottom: initial }


.cells-container { padding: 0 }
.video-cell { margin: 0 0 2rem;  }
.video-cell.active > *,
.video-cell:hover > * {/* opacity:0.6*/}
.video-cell:hover > .drop-down-cont { opacity:1}
.video-cell a { color:inherit; text-decoration:none; cursor:pointer }
.video-cell .thumb-cont { position:relative; width:100%; height: 0; padding-bottom: 56.25%; /* 16:9 */;  font-size:0;  display:block; overflow: hidden}
.video-cell .thumb-cont > * {}
.video-cell .thumb-cont img { position: absolute; top:0; left: 0; width:100%; height: 100%;  -webkit-transition: width .15s, height .15s, margin .15s; /* Safari */ transition: width .15s, height .15s, margin .15s; }
.video-cell .thumb-cont .icon-play.icon-screen-back {opacity: 0; position: absolute; top:50%; left: 50%; margin: -0.47em 0 0 -0.3em; font-size: 1.5rem; color: #fff;  -webkit-transition: opacity .35s; /* Safari */ transition: opacity .35s; z-index: 10}
.video-cell .thumb-cont .icon-play.icon-screen-back:before { display: block }
.video-cell .thumb-cont .icon-play.icon-screen-back:after { font-size: 2.3em; margin-top:-0.26em; margin-left: -0.38em; top:0; left: 0; opacity: .75; color: #000;  }
.video-cell:hover .thumb-cont img { width:105%; height: 105%; margin: -1.5% -2.5%; }
.video-cell:hover .thumb-cont .icon-play.icon-screen-back {opacity: 1;}
.video-cell .thumb-cont .dur { position: absolute; bottom:1px; right:3px; padding:.4em; border-radius:4px; background: rgba(0,0,0,0.6); font:normal 0.72rem/1 Roboto-regular, sans-serif; color:#fff; text-decoration:none}
.video-cell .video-caption { /*max-height:75px;*/ padding:1rem 0 0; margin-right: 1.43rem;  }
.video-cell .video-caption  h2 { font: normal 1.07rem/1.25 Roboto-g-500, Roboto500, Roboto-Regular, sans-serif; color:#000; }
.video-cell .video-caption  h2 a { display:block; width: 100%; box-sizing: border-box ; }
.video-cell .video-caption  p { font: normal 0.86rem/1.17 Roboto-regular, sans-serif; color:#9d9e9f; padding: 0.36rem 0 0;}
.video-cell .video-caption  p a.uploder { color:#525252}
.video-cell .video-caption  p .watched-num { padding:0 0.14rem 0 0.36rem}
.video-cell .video-caption  p .watched-num  i {}
.video-cell .video-caption  p time {}
.video-cell .video-opt { float:right; display:inline-block; width:auto; padding: 1.2rem 0 0; cursor: pointer }
.video-cell .video-opt i { }

.video-cell.playlist-cell .playlist-add { position: absolute; right: 0; top:0; bottom: 0; width: 5.72rem; overflow: hidden; -webkit-transition: width .3s; /* Safari */ transition: width .3s; background: rgba(0,0,0,0.8); color: #fff; text-transform: uppercase; text-align: center; font: normal 1rem Roboto-regular, sans-serif}
.video-cell.playlist-cell .playlist-add > * { position: absolute; top: 50%; text-align: center }
.video-cell.playlist-cell .playlist-add .info { width:5.72rem; font-size: 0.71rem; margin-top: -3.2rem;}
.video-cell.playlist-cell .playlist-add .info span { display: block}
.video-cell.playlist-cell .playlist-add .info .num-vid { font-size: 1.3rem; line-height: 1.5; font-weight: bold}
.video-cell.playlist-cell .playlist-add .info i.icon-playlist { color: #fff; width:2.3rem; font-size: 1.25rem; margin: 1rem 0 0}
.video-cell.playlist-cell .playlist-add .play-hov { display: none; white-space:nowrap; width:100%; min-width: 10.71rem; font-size: 1rem; margin-top: -0.75rem; opacity: 0; -webkit-transition: opacity .5s; /* Safari */ transition: opacity .5s;}
.video-cell.playlist-cell:hover > * { opacity: 1 }
.video-cell.playlist-cell:hover .playlist-add { width:100%;  }
.video-cell.playlist-cell:hover .playlist-add .info { display: none; }
.video-cell.playlist-cell:hover .playlist-add .play-hov { display: block; text-align: center; opacity: 1 }
.video-cell.playlist-cell .playlist-add .play-hov i.icon-play { font-size: 1.75rem; margin-right: .75rem; display: inline-block; }
.video-cell.playlist-cell a:hover .playlist-add .play-hov i.icon-play { color: #fff}
.video-cell.playlist-cell .playlist-add .play-hov i.icon-play { bottom: -.2em}
.video-cell.playlist-cell .playlist-add .play-hov span {display: inline-block}

.cells-container p.clearfix:nth-of-type(odd) { display: none!important; }

.left-cont .wide-pink-btn { margin: 1.75rem 0}
.wide-pink-btn > i.icon-arr-down { width:2.1rem; }

.drop-down-cont.video-opt .drop-down-nav { right: -0.15rem; z-index: 999; border: 0; box-shadow: 0 0 .5rem #999}
.drop-down-cont.video-opt i.icon-ham-dots {font-size: 1.3em; bottom: initial; width: auto; padding: 0 0.36rem 0.36rem 1.07rem; cursor: pointer;}
.drop-down-cont.video-opt:hover i.icon-ham-dots {color: #e62164; }
/*.drop-down-cont.video-opt:hover .drop-down-nav {display: block; }*/
.drop-down-cont.video-opt .drop-down-nav li { white-space: nowrap}
.drop-down-cont.video-opt .drop-down-nav a { height: 3rem}
.drop-down-cont.video-opt .drop-down-nav a i { margin: 0 .3rem 0 0}
.drop-down-cont.video-opt .drop-down-nav i.icon-subscript { margin-left: 1.43rem }
.drop-down-cont.video-opt .drop-down-nav li:hover i.icon-subscript,
.drop-down-cont.video-opt .drop-down-nav i.icon-subscript ~ a.global-subscribe,
.drop-down-cont.video-opt .drop-down-nav i.icon-subscript ~ a.global-unsubscribe {display: inline-block; padding-left: 0}
.drop-down-cont.video-opt .drop-down-nav a.subscr-notifications-act i.icon-bell.active-color:before { /*content: "\e94c"*/}


/* SEARCH results */

.search-results .title-row a { color: #e62164; margin: 0 .5rem  }
.title-row nav { float:right}
.search-results .title-row a.filters-button {color: inherit }
.search-results .title-row a.filters-button .icon-arr-down-sm {color:#e62d6c/*common value*/; margin: 0 0 0 .36rem; bottom: -.2em}
.search-results .title-row a.filters-button .icon-arr-down-sm:before {border-top-color:#e62d6c /*common value*/}
.search-results .title-row a.filters-button .icon-arr-up-sm:before {border-bottom-color:#e62d6c /*common value*/}
.search-results .row.full-back { background: #fff; border:1px solid #ddd/*common value*/; border-radius: 5px;  padding-top: 1.07rem; padding-bottom: 1.07rem; margin: 1rem 0;  }
.search-results .row.full-back i[class*=icon] { background: #fff; margin: 0 1.43rem; }
.search-results .row.full-back .right i[class*=icon] { float: left }

.filters-blocks ul { list-style: none; font: normal 0.93rem Roboto-regular, sans-serif;  color: #000;}
.filters-blocks ul li { display: block; line-height: 1.5rem; margin: 0.16rem 0}
.filters-blocks ul li a { display: inline-block; text-decoration: none; color: inherit}
.filters-blocks ul li a .radio-sel { display: block; box-sizing: border-box;  float: left; width: 1rem; height: 1rem; padding: 0.15rem; margin: .25em 0.36rem 0 0; background: #fff; border: 1px solid #9d9e9f; border-radius: 50%; }
.filters-blocks ul li a .radio-sel i { display: block; width: 0.57rem; height: 0.57rem; background: #9d9e9f; border-radius: 50%;}
.filters-blocks ul li.selected a  { color: #e62164}
.filters-blocks ul li.selected a .radio-sel i { background: #e62164}
.filters-blocks ul li:hover a { color: #e62164}
.filters-blocks ul li:hover a .radio-sel { border-color: #e62164}
.filters-blocks ul li.inactive a, .filters-blocks ul li.inactive:hover a { color: #9d9e9f; cursor: default}
.filters-blocks ul li.inactive a .radio-sel { opacity: 0.3}
.filters-blocks ul li.inactive:hover a .radio-sel { border-color: #9d9e9f }
.filters-blocks ul li.inactive a .radio-sel, .filters-blocks ul li.inactive:hover a .radio-sel { opacity: 75%}

.sort-nav a { color: inherit}
.drop-down-cont.right .drop-down-nav { right: -0.14rem;}

.search-results .results-container { margin-top: 1.07rem; color: #9d9e9f; font: normal 0.93rem/1.15 Roboto-regular, sans-serif; }
.search-results .results-container .col-sm-12 { margin-top: 1.07rem }

.channel-row { }
.channel-row:after { display: block; clear: both; content: ""}
.channel-row .avt-cont { display: block; width:90px; height: 90px; float: left; margin: 0 1.43rem 0 0}
.channel-row .channel-info { }
.channel-row .channel-info a { color: #000}
.channel-row .channel-info h2 { font: normal 1.07rem Roboto-g-500, Roboto500, Roboto-Regular, sans-serif; }
.channel-row .channel-info h2 a {}
.channel-row .channel-info p { padding: 0.36rem 0 0}
.channel-row .channel-info .subscibe-wrap { padding: 0.71rem 0 0}
.channel-row .channel-info .subscibe-wrap a.usr-subscribe { color: #e62164  /*common val*/}
/*.channel-row .channel-info .subscibe-wrap a.usr-subscribe:before { content: '+ ' }*/
.channel-row .channel-info .subscibe-wrap .subscr-notify {}

.group-row { padding-top: 1rem }
.group-row:after { display: block; clear: both; content: ""}
.group-row .avt-cont { display: block; width:90px; height: 90px; float: left; margin: 0 1.43rem 0 0}
.group-row .group-info { padding-top: .5rem }
.group-row .group-info a { color: #000}
.group-row .group-info h2 { font: normal 1.07rem Roboto-g-500, Roboto500, Roboto-Regular, sans-serif; padding-bottom: .5rem }
.group-row .group-info h2 a {}
.group-row .group-info p { padding: 0.36rem 0 0}
.group-row .group-info p a { color: inherit}


.notifications-wrap { display: inline-block; padding-bottom: .1em}
.notifications-wrap .icon-bell,
.notifications-wrap .icon-bell-filled {position: relative; bottom: -.3rem; margin: 0 0 0 .2rem; font-size: 1.2em; cursor: pointer}
.notifications-wrap .icon-bell:hover {color: #ec0f63; }
.notifications-wrap .icon-bell:hover:before { content: "\e94c"}
.notifications-wrap .icon-bell.subscribed {color: #e62164  /*common val*/}

.video-row { /*do 1280!!!*/display: table; /*width: 100%;*/ table-layout: fixed}
.video-row .thumb-cont { /*do 1280!!!*/display: table-cell; width:154px; }
.video-row .thumb-cont > a { display: block; position: relative; width:154px; height: 86px; overflow: hidden /* background: #c00*/  }
.video-row .thumb-cont > a > * { position: absolute; }
.video-row .thumb-cont img.thumb { width:154px; height: 86px; -webkit-transition: width .15s, height .15s, margin .15s, top .15s, left .15s; /* Safari */ transition: width .15s, height .15s, margin .15s, top .15s, left .15s; }
.video-row:hover .thumb-cont img { width:105%; height: 105%; margin: -1.5% -2.5%; }
.video-row .thumb-cont .dur { bottom: 2px; right: 3px; padding: 0.3rem; border-radius: 4px; background: rgba(0,0,0,0.6); font: normal 0.71rem/1 Roboto-regular, sans-serif; color:#fff; text-decoration:none}
.video-row .video-opt { position: absolute; right: 0}
.video-row .video-opt {}
.video-row .video-caption { display: table-cell; position: relative; vertical-align: top; padding: 0 0 0 1.43rem; /*border: 1px solid #f00*/}
.video-row .video-caption h2 { font: normal 1.07rem/1.15 Roboto-g-500, Roboto500, Roboto-Regular, sans-serif; margin: -0.14rem 1.07rem 0 0 }
.video-row .video-caption h2 a { display: block; width: 100%; color: #000; overflow: hidden; white-space: nowrap; text-overflow: ellipsis}
.video-row .video-caption .add-info { padding: 0.57rem 0 0.36rem; margin: 0 }
.video-row .video-caption .add-info a.uploder { color: inherit; font: normal 0.86rem Roboto-g-500, Roboto500, Roboto-Regular, sans-serif;}
.video-row .video-caption .add-info .watched-num {}
.video-row .video-caption .add-info time {}
.video-row .video-caption .desc { max-height: 3rem; overflow: hidden; }
.video-row .video-caption .desc p { padding: 0 }


.video-row .video-caption .desc p a { color: inherit }
.video-row.playlist-row .thumb-cont { position: relative}


.video-row.playlist-row .thumb-cont .playlist-add { position: absolute; right: 0; top:0; bottom: 0; width: 2.9rem; overflow: hidden; background: rgba(0,0,0,0.8); color: #fff; text-transform: uppercase; text-align: center; font: normal 0.857rem Roboto-regular, sans-serif}
.video-row.playlist-row .thumb-cont .playlist-add .info { position: absolute; top: 50%; text-align: center; width: 2.9rem; margin-top: -1.43rem; }
.video-row.playlist-row .thumb-cont .playlist-add .info .num-vid {  }
.video-row.playlist-row .thumb-cont .playlist-add .info .icon-playlist { width:2.286rem; height: 2.286rem; margin: 0.36rem 0 0 }


.video-row.playlist-row .video-caption .desc p { position: relative}
.video-row.playlist-row .video-caption .desc p .title { display: block; margin-right: 2.14rem;}
.video-row.playlist-row .video-caption .desc p .title a { display: block; width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis }
.video-row.playlist-row .video-caption .desc p .dur { position: absolute; top:0 ; right:0px }

.video-row.spons-video  { width:100%; padding-bottom: 2rem; border-bottom: 1px solid #ddd/*common value*/; margin-bottom: 2rem}
.video-row.spons-video .thumb-cont { width: 33.3333%}
.video-row.spons-video .thumb-cont > a { display: block; position: relative; width:100%; height: 0; padding-top: 56.25%; /* background: #c00*/  }
.video-row.spons-video .thumb-cont > a > * { position: absolute;   }
.video-row.spons-video .thumb-cont img.thumb { width:100%; height: 100%; top:0;  margin: 0; }
.video-row.spons-video:hover .thumb-cont img.thumb { width:105%; height: 105%; margin: -2.5% -2.5% }
.video-row.spons-video .exclusivepremiere { position:static; display: inline-block; clear: both;height: auto; padding: 0.75rem 1rem; margin: 0 0 1rem; font: 1rem/1 Roboto-g-500,Roboto,sans-serif; }
.video-row.spons-video .video-caption .add-info { font: normal 0.86rem/1.17 Roboto-regular, sans-serif; color:#9d9e9f; }
.video-row.spons-video .video-caption .add-info a.uploder { color:#525252; /*common value*/ }
.video-row.spons-video .video-caption .add-info i:hover { color: inherit }

/*right fixed*/
.main-fixed.fixed-cont:not(.play-page) .backhome-btn { display: none; opacity: 0;  }
.main-fixed.fixed-cont.play-page .backhome-btn { display: block; opacity: 1; position: absolute; top:0; left:-18px; width:47px; height: 100%; overflow: hidden;  }
.main-fixed.fixed-cont.play-page .backhome-btn .ic-cont { display: block; position: absolute; top:25%; left:0px; width:47px; height: 73px; font-size: 73px;}
.main-fixed.fixed-cont.play-page .backhome-btn .ic-cont i { display: block; position: absolute; }
.main-fixed.fixed-cont.play-page .backhome-btn .ic-cont i.icon-screen { left: -55%; top:0; color:#ec0f63 }
.main-fixed.fixed-cont.play-page .backhome-btn .ic-cont i.icon-arr-left { left: 20%; top: 50%; margin-top: -35%; z-index: 5; font-size: 35px; color: #fff }
.main-fixed.fixed-cont.play-page .backhome-btn:hover { opacity: 1!important}
.main-fixed.fixed-cont.play-page .backhome-btn:hover .ic-conti.icon-arr-left { color: #fff }

.watched-video { /*max-height: calc( 100% - 130px - 80px );*/ /*140 common value - more videos height*/ }
.watched-video .player-container { width:100%; position:relative; font-size:0; cursor: pointer}



.watched-video .player-wrapper { margin: 0 auto; max-width: 100%; height: calc(100% - 130px); /*width: calc((100vh - 130px - 80px - 165px) * 16 / 9)*/; /*130 common value - more videos height*/ /*background: #0c0*/}
.watched-video .player {position: relative;	padding-bottom: 56.25%; /* 16:9 */	height: 0; margin: 0; cursor: pointer}
.watched-video .player .vbox-player {position: absolute; top: 0;	width: 100%;	height: 100%;}


/*homepage dev 6*/
.video-params-container > .row { margin: 0}
.video-params-container > .row > * { margin: 1.15rem 0 0 }
.video-params-container > .row > .left { }
.video-params-container > .row > .right { }
h1.video-title { font: normal 1.43rem/normal Roboto-g-500, Roboto500, Roboto-Regular, sans-serif; color: #212121; }
.video-params-container .top-row .right { margin: 0}
.video-params-container .right .drop-down-cont.video-opt .icon-ham-dots { padding: 1.15rem 0 0 2rem }
.video-params-container .right .drop-down-cont.video-opt .drop-down-nav { right: 0.75rem; top:.25rem; /*font: normal 0.93rem/1.5 Roboto-Regular, sans-serif!important;*/ }
.video-params-container .right .drop-down-cont.video-opt .drop-down-nav a { height: 2.5rem }
.video-params-container .right .drop-down-cont.video-opt .drop-down-nav i.icon-statistics { font-size: 1.1em }
.video-params-container .right .drop-down-cont.video-opt .drop-down-nav i.icon-edit { font-size: 1.2em }
.video-params-container .right .drop-down-cont.video-opt .drop-down-nav i.icon-subscript { margin-left: 0 }

.video-params-container .vote-up {}
.video-params-container .vote-up, 
.video-params-container .vote-down { display: inline-block; margin: 0 1.2rem 0 0; font: normal 1.071rem/2 Roboto-regular, sans-serif;color: #010000; text-decoration: none;}
.video-params-container .vote-up > i.icon-thumb-up,
.video-params-container .vote-down > i.icon-thumb-down {width: 1.79rem; height: 1.79rem; vertical-align: middle; margin: 0 .2em 0 0; font-size: 1.3em}

.video-params-container a.vote-up:hover {background-color: #24b701; border: 1px solid #24b701;}
.video-params-container a.vote-up.voted:hover, 
.video-params-container a.vote-up.disabled:hover {cursor: default; background-color: #ffffff; border: 1px solid #b3b3b3; color: #010000;}
.video-params-container a.vote-up.voted > i.icon-thumb-up:before {color: #24b701;}
.video-params-container a.vote-up.voted:hover > i.icon-thumb-up:before {color: #24b701;}

.video-params-container a.vote-up.disabled > i.icon-thumb-up:before {color: #9e9e9e;}
.video-params-container a.vote-up.disabled:hover > i.icon-thumb-up:before {color: #9e9e9e;}

.video-params-container a.vote-down.voted:hover, 
.video-params-container a.vote-down.disabled:hover {cursor: default;}
.video-params-container a.vote-down.voted > i.icon-thumb-down:before {color: #ec0f63;}
.video-params-container a.vote-down.voted:hover > i.icon-thumb-down:before {color: #ec0f63;}

.video-params-container a.vote-down.disabled > i.icon-thumb-down:before {color: #9e9e9e;}
.video-params-container a.vote-down.disabled:hover > i.icon-thumb-down:before {color: #9e9e9e;}

.video-params-container .fb-share-play { display: inline-block}
.video-params-container .fb-share-play a { line-height:2.14rem; text-decoration: none}
.fb-share-play a i.icon-fb-screen { font-size: 1.8em; bottom: -.2em }
.fb-share-play  span.baloon-cont { vertical-align: middle; margin-top: -.2em; }
.video-params-container .add-info { display: inline-block; margin:0 0 0 1.43rem; color: #9d9e9f; font: normal 0.93rem Roboto-regular, sans-serif;  }
.video-params-container .watched-num { position: relative; cursor: pointer  }
.video-params-container .watched-num i[class^="icon-"] { margin:0 .3em 0 .1em; bottom: initial}
.watched-num .watched-sum-wrap { position: absolute; top:1.1em; display: none;
	z-index: 50;
	left:1rem;
	min-width:12.86rem;
	width:auto;
	height: 2.86rem;
	border: 1px solid #d4d4d4;
	border-radius:5px;
	background: #fff;
	font:normal 1.43rem 'PT Sans Caption', sans-serif;
	color: #474747;
	vertical-align: middle; 
	white-space: nowrap}
.watched-num .watched-sum-wrap:before,
.watched-num .watched-sum-wrap:after {content: ""; position: absolute; width: 0; height: 0; border-style: solid; border-color: transparent; border-top: 0;}
.watched-num .watched-sum-wrap:before {top: -10px; left: 2.08rem; border-bottom-color: #c3c3c3; border-width: 10px;}
.watched-num .watched-sum-wrap:after {top: -9px; left: 2.08rem; border-bottom-color: #fff; border-width: 10px;}
.video-params-container .watched-num:hover i[class^="icon-"] { color: #e62d6c /*common value*/}
.watched-num:hover .watched-sum-wrap { display: block;}
.watched-num:hover .watched-sum-wrap .ext-views-num { text-align: right}
.watched-num .watched-sum-wrap i { margin:0 0 0 -.3em; bottom: initial}
.watched-num .watched-sum-wrap {}

.video-params-container .def-btn, .video-params-container a.def-btn {display: inline-block; border: 1px solid #b3b3b3; border-radius: 5px; padding: .4rem 1rem .3rem; margin-top: 0; margin-bottom: 0; margin-left: .3rem; height: auto; text-decoration: none; font-size: 1.071rem; line-height: 30px;word-break: keep-all; white-space: nowrap; vertical-align: middle}
.video-params-container .def-btn > * {vertical-align: middle; bottom: initial }
.video-params-container .def-btn > i {margin: 0;   }
.video-params-container .def-btn > span {margin-left: 0.2em;   }

.video-params-container .def-btn:hover { border-color: #e62d6c /*common value*/ }
.video-params-container .def-btn:hover i { background: transparent; }

a.def-btn.played-video-comments, a.def-btn.usr-avatar { /* margin-right: .5rem*/  }
a.def-btn.played-video-comments .icon-comment {  bottom: 0.05em; font-size: 1.4em; }

a.def-btn.openMySubscrBlock:hover {cursor: pointer}

.video-params-container .right {}
a.usr-avatar.def-btn {}
a.usr-avatar.def-btn .masked.avatar-sm { display: none!important}
a.usr-avatar.def-btn .masked.avatar-sm-low { display: inline-block!important; vertical-align: top; margin: 0 .5rem 0 0 }

a.def-btn.backToPlaylistBtn:hover { border-color: #1b1b1b; background-color: #1b1b1b;  }
.play-page a.def-btn.backToPlaylistBtn { display: none }

/*END homepage dev 6*/


.more-videos  { padding-top: .75rem; max-height:150px; position: relative; top:-8px; /*temp value for custom scrollbar*/}
.more-videos .row { padding-top: 20px;  }


.cells-container-hor {/*padding: 20px 0 0*/}
.cells-container-hor .video-cell { display:block; text-decoration:none; cursor:pointer; font-size: 0; }
.cells-container-hor .video-cell .thumb-cont .dur { position: absolute; bottom: 2px; right: 2px; display: inline-block; padding: 0.3rem; border-radius: 4px; background: rgba(0,0,0,0.6); font: normal 0.71rem/1 Roboto-regular, sans-serif; color:#fff; text-decoration:none}
.cells-container-hor .video-cell h3 { padding: .2rem 0 0; font: normal 1rem/1.25  Roboto-g-500, Roboto500, Roboto-Regular, sans-serif; height:2.6rem; overflow:hidden; color:#212121; text-decoration:none; }
.cells-container-hor .video-cell .thumb-cont .next-video { padding: 0 .5rem;  position: absolute; bottom: 0; left: 0; right: 0; height: 2rem; background: #373737; }
.cells-container-hor .video-cell .thumb-cont .next-video > span { color: #fff; font-size: 0.7rem; line-height: 2rem }
.cells-container-hor .video-cell .thumb-cont .next-video .autoplay-btn { margin: .5rem 0 }
.cells-container-hor .video-cell.extPlayVideo { }
.exclusivepremiere { position: absolute; top:-1.43rem; z-index: 10; display: inline-block; padding: 0.2rem 0.5rem; height:1.43rem ; width: auto; font: normal 0.93rem/0.93rem Roboto-g-500, Roboto, sans-serif;  color: #fff; background-color: #fa0; }
.more-videos .mCSB_scrollTools .mCSB_draggerContainer { /* top:1.43rem; */ bottom: -1.43rem}
.mCSB_buttonUp,
.mCSB_buttonDown { display: none!important}

/* DETAILS PAGE */

.right-details-cont a { }

.right-details-cont header { padding: 0; border-bottom: 1px solid transparent; margin-bottom: -1px; text-align: center}
.right-details-cont header .channel-banner { position: relative; background: url('http://i49.vbox7.com/bgr/profilebg/331/profile_fon_3319476.jpg') center -80px no-repeat; background-size: cover; height: 100px; overflow: visible; margin-bottom: 70px;}
.right-details-cont .edit-txt {display: none}
.right-details-cont a:hover .edit-txt {display: inline-block}
.right-details-cont .change-banner { position: absolute; /*common val*/ right: 36px; top: 10px; }

.right-details-cont header .user-avatar-wrap { display: inline-block; margin: 70px 0 -70px; }
.right-details-cont header .user-avatar-wrap > * { display: inline-block; vertical-align: middle }
.right-details-cont header .user-avatar-wrap .avatar-img-cont { position: relative; display: inline-block; width: 90px; height: 90px;}
.right-details-cont header .user-avatar-wrap .avatar-img-cont > * { position: absolute; top:0; left: 0; display: block; width: 95px; height: 95px; /*border: 2px solid #eeeded*/ /*common val*/}
.right-details-cont header .user-avatar-wrap .avatar-img-cont > i.icon-screen { top:-2px; left: -2px; font-size: 94px; line-height: 94px; width: 94px; height: 94px; color: #eeeded/*common value*/}
.right-details-cont header .user-avatar-wrap .avatar-img-cont > .edit-pic { display: none; background: rgba(0,0,0,0.7); color: #fff }
.right-details-cont header .user-avatar-wrap .avatar-img-cont:hover > .edit-pic { display: block;}
.right-details-cont header .user-avatar-wrap .avatar-img-cont > .edit-pic > .icon-camera { margin-top: 35px }
.right-details-cont header .user-avatar-wrap .user-name-det {height: 100%; box-sizing: border-box; padding: 40px 0 0 5px; text-align: left;}
.right-details-cont header .user-avatar-wrap .user-name-det h2 { padding: 0 0 0.33em;  font: normal 1.07rem/1.47 Roboto, Roboto-regular, sans-serif; text-shadow: 1px 1px 0 #eeeded /*common value*/}
.right-details-cont header .user-avatar-wrap .user-name-det h2 a:hover { text-decoration: none }
.right-details-cont header .user-avatar-wrap .user-name-det h2 a .icon-arr-down { font-size: .5em; bottom: initial; padding: 0 .5em }
.right-details-cont header .user-avatar-wrap .user-name-det .subscibe-wrap .baloon-cont:after { /*common value*/ border-right-color: #eeeded }
.right-details-cont header .settings-link { position: absolute; /*common val*/right: 36px; bottom: -40px; display: inline-block }
.right-details-cont header .channel-links { position: absolute; /*common val*/right: 36px; bottom: -40px; display: inline-block }
.right-details-cont header .channel-links i[class^="icon-"], 
.right-details-cont header .channel-links i[class*=" icon-"] { color: #606060/*common value*/; font-size: 1.3em; margin: 0 0 0 .4em}

.right-details-cont .details-content { text-align: center; padding: 0 0 2em 0}
.right-details-cont .details-content > nav { display: block; text-align: center; font-size: 1.07rem; margin: 1.5rem 0 0 }
.right-details-cont .details-content > nav > * { display: inline-block; margin: 0 0 0 1.2rem; line-height: 2.5 }
.right-details-cont .details-content a:hover { text-decoration: none; color: initial}
.right-details-cont .details-content > nav a > i[class^="icon-"],
.right-details-cont .details-content > nav a > i[class*=" icon-"] { color: #606060/*common value*/; font-size: 1.3em; margin: 0 .3em 0 .45em}
.right-details-cont .details-content a:hover > i[class^="icon-"],
.right-details-cont .details-content a:hover > i[class*=" icon-"] { color: #e62d6c/*common value*/}
.right-details-cont .details-content .drop-down-cont a > i.icon-ham-dots { transform: rotate(90deg); margin: 0 0 0 .5em }
.right-details-cont .details-content .drop-down-cont .drop-down-nav {min-width:14rem; right: -1.2rem}
.right-details-cont .details-content > nav > a:first-child > i[class^="icon-"] {margin-left: 0}
.right-details-cont .details-content > nav > a > i[class^="icon-"] {margin-right: 1rem}
.right-details-cont .details-content > nav > a > i.icon-playlist:before { font-size: .85em }
.right-details-cont .details-content > nav > a > i.icon-favorites:before { bottom: -.05em;}
.right-details-cont .details-content > nav > a > i.icon-play-empty.icon-screen-back:after { left: 45%;}

.right-details-cont .details-content .cells-container .col-md-6.video-cell:nth-child(2n+1) {clear: left;} 

/* = Video details = */
.right-details-cont .nav-tabs  { font-size: 1.071rem; padding-left: 0;  }
.right-details-cont .nav-tabs > li > a { padding: 0.714rem 2.57rem }
.right-details-cont .nav-tabs > li > a > i.mid-dot { color: #9d9e9f }
.right-details-cont .nav-tabs > li > a > .comments-num { font-size: 1rem; /*common val*/color: #e62164}
.right-details-cont .tab-content { position: relative; /*common val*/background: #fff; min-height: 25rem }

/*Comments*/

.video-comments-cont { padding-top: 40px; padding-bottom: 40px; }
.video-comments-cont .no-comments-opt {display: block; padding: 0px 0 40px 0px;}
.video-comments-cont .comment-wrap { display: table; width: 100%; /* table-layout: fixed; */ margin-bottom: 10px;  }
.video-comments-cont .comment-wrap > * { display: table-cell; vertical-align: top}

.video-comments-cont .sort-comments { padding-top: 10px; margin-bottom: 25px; vertical-align: middle; height: 30px;}
.video-comments-cont .sort-comments .row > div {display: block; float: left;}
.video-comments-cont .sort-comments .drop-down-cont {width: 100%; color: #212121; font: normal 1rem Roboto-g-500, Roboto-regular, sans-serif; vertical-align: middle; }
.video-comments-cont .sort-comments .drop-down-cont-inner {position: absolute;top: -5px;z-index: 2;background: #ffffff;padding-right: 16px; padding-bottom: 16px;}
.video-comments-cont .sort-comments .drop-down-cont::after {content:'';  border-bottom: 1px solid #c1c1c1; height: 1px; position: relative; float: left;display: block;width: 100%;}
.video-comments-cont .sort-comments .drop-down-cont i.icon-arr-down-sm {bottom: -0.1rem;}
.video-comments-cont .sort-comments .drop-down-cont i.icon-arr-up-sm {bottom: -0.1rem;}

.video-comments-cont .comment-wrap .avt-cont {width: 100%; float: left; display: block;}
.video-comments-cont .comment-wrap .avt-cont .avt-img { width: 65px; float: left;}
.video-comments-cont .comment-wrap .avt-cont .avt-img a { display: block; width: 42px; height: 42px }
.video-comments-cont .comment-wrap .avt-cont .avt-img a img { width: 42px; height: 42px; border-radius: 45%; }

.video-comments-cont .comment-wrap .avt-cont .avt-details {float: left;}
.video-comments-cont .comment-wrap .avt-details h3.user-nick {float: left; line-height: 1.143rem; padding-right: 1rem;}
.video-comments-cont .comment-wrap .avt-details h3.user-nick a {color: #212121; font: normal 1.071rem/1.071rem Roboto-g-500, Roboto-regular, sans-serif; }
.video-comments-cont .comment-wrap .avt-details .badges-wrap {float: left;}
.video-comments-cont .comment-wrap .avt-details p.time {float: left; clear: left; margin-top: 5px; font: normal 0.9286rem/1.071rem Roboto-g-500, Roboto-regular, sans-serif; color: #a7a7a7;}

.video-comments-cont .comment-wrap .comment-cont {width: 100%; float: left; display: block; clear: left; padding-left: 65px;}

.video-comments-cont .comment-wrap .comment-cont p.comment {padding: 5px 0 0 0; font: normal 1rem Roboto-g-500, Roboto-regular, sans-serif; }
.video-comments-cont .comment-wrap .comment-cont .comment-options {padding: 10px 0 20px; font: normal 1rem Roboto-g-500, Roboto-regular, sans-serif; line-height: 2.14rem; }
.video-comments-cont .comment-wrap .comment-cont .comment-options > * { display: inline-block; line-height: 2.14rem;}
.video-comments-cont .comment-wrap .comment-cont .comment-options a { margin: 0 10px 0 0; line-height: 2.14rem;}
.video-comments-cont .comment-wrap .comment-cont .comment-options a:hover {cursor: pointer;}
.video-comments-cont .comment-wrap .comment-cont .comment-options a i { /* width: 15px; height: 15px; */}
.video-comments-cont .comment-wrap .comment-cont .comment-options span.rating { color: #a7a7a7; font: normal 0.9286rem Roboto-g-500, Roboto-regular, sans-serif; }
.video-comments-cont .comment-wrap .comment-cont .comment-options span.rating span {padding-right: 0.2143rem;}
.video-comments-cont .comment-wrap .comment-cont .comment-options span.rating span.txt {font: normal 0.9286rem Roboto-g-500, Roboto-regular, sans-serif; color: #a7a7a7; }
.video-comments-cont .comment-wrap .comment-cont .comment-options span.rating span.plus { color: #05d800 }
.video-comments-cont .comment-wrap .comment-cont .comment-options span.rating span.minus { color: #fc1921 }
.video-comments-cont .comment-wrap .comment-cont .comment-options span.rating .mid-dot {padding-right: 0.8571rem; padding-left: 0.8571rem;}
.video-comments-cont .comment-wrap .comment-cont .comment-options a.reply { color: inherit }
.video-comments-cont .comment-wrap .comment-cont .reply-wrap .comment-wrap { padding-bottom: 0 }
.video-comments-cont .comment-wrap .comment-cont .reply-cont {width: 100%; float: left; display: block; clear: left; padding-left: 0px;}

.video-comments-cont .comment-wrap .comment-cont .textarea-cont { position: relative; width:100%; min-height: 40px; box-sizing: border-box; padding: 10px; font-size: 14px; border: 1px solid #c1c1c1; border-radius: 5px; }
.comment-cont .textarea-cont:before, .comment-cont .textarea-cont:after { content: ""; position: absolute; width: 0; height: 0; border-style: solid; border-color: transparent; border-left: 0;}
.comment-cont .textarea-cont:before {top: 11px; left: -9px; border-right-color: #c3c3c3; border-width: 9px;}
.comment-cont .textarea-cont:after {top: 12px; left: -7px; border-right-color: #fff; border-width: 8px;}

.video-comments-cont .comment-wrap .comment-cont .textarea-cont textarea { width:100%; height: 16px; padding: 0px;  border: 0; outline: none  }

.video-comments-cont .comment-wrap.write-comment {margin-bottom: 30px; /* border-bottom: 1px solid #c1c1c1; */ position: relative;}
.video-comments-cont .comment-wrap.write-comment .close-btn,
.video-comments-cont .comment-wrap.write-comment .typing-opt,
.video-comments-cont .comment-wrap.write-comment .post-holder { display: none}
.video-comments-cont .comment-wrap.write-comment .post-holder a.post-comment:hover {cursor: pointer;}
.video-comments-cont .comment-wrap.write-comment.typing .close-btn,
.video-comments-cont .new-comment .new-post-body.comment-wrap.write-comment .close-btn,
.video-comments-cont .comment-wrap.write-comment.typing .typing-opt,
.video-comments-cont .new-comment .new-post-body.comment-wrap.write-comment .typing-opt,
.video-comments-cont .comment-wrap.write-comment.typing .post-holder,
.video-comments-cont .new-comment .new-post-body.comment-wrap.write-comment .post-holder{ display: block;}

.video-comments-cont .comment-wrap.write-comment.typing .comment-cont .textarea-cont textarea,
.video-comments-cont .new-comment .new-post-body.comment-wrap.write-comment .comment-cont .textarea-cont textarea { height: 120px; border-bottom: 1px solid #dcdcdc}

.video-comments-cont .comment-wrap.write-comment .close-btn { position: absolute; right: 10px; top: 10px; z-index: 2;}
.video-comments-cont .comment-wrap.write-comment .close-btn a {display: block; width: 20px; height: 20px;}
.video-comments-cont .comment-wrap.write-comment .close-btn a:hover, .video-comments-cont .comment-wrap.write-comment .close-btn i:hover {cursor: pointer;}
.video-comments-cont .comment-wrap.write-comment .close-btn i { width: 20px; height: 20px; color: #fff; background-color: #dcdcdc; font-style: normal!important; border-radius: 50%; text-align: center; line-height: 20px;}
.video-comments-cont .comment-wrap.write-comment.typing .typing-opt,
.video-comments-cont .new-comment .new-post-body.comment-wrap.write-comment .typing-opt{ display: block; height: 25px;}

.video-comments-cont .comment-wrap.write-comment .typing-opt a.emoticons { display: inline-block; padding: 0.5em 0.2em; cursor: pointer}
.video-comments-cont .comment-wrap.write-comment .typing-opt a.emoticons > i { font-size: 1.1em;color: #000000;}
.video-comments-cont .comment-wrap.write-comment .typing-opt a.cyrilize { float: right; padding: 0.5714rem 0 0 0; font: normal 0.9286rem Roboto-g-500, Roboto-regular, sans-serif; color: #676868;}
.video-comments-cont .comment-wrap.write-comment .post-holder i.icon-send {font-size: 1.7em; margin: .5em; color: #000000; }

.video-comments-cont .new-comment .comment-wrap {margin-bottom: 20px;}
.video-comments-cont .new-comment .comment-wrap.typing {margin-bottom: 0px;}
.video-comments-cont .new-comment .comment-wrap .avt-cont {display: table-cell; width: 55px; float: none; }
.video-comments-cont .new-comment .comment-wrap .comment-cont {display: table-cell; float: none; padding-left: 10px;}
.video-comments-cont .new-comment .comment-wrap .comment-cont .textarea-cont {}

.video-comments-cont .new-comment .new-post-body.comment-wrap.write-comment .comment-cont {padding-left: 0px; position: relative;}
.video-comments-cont .new-comment .new-post-body.comment-wrap.write-comment .comment-cont .textarea-cont:before,
.video-comments-cont .new-comment .new-post-body.comment-wrap.write-comment .comment-cont .textarea-cont:after {display: none;}

.video-comments-cont .new-post-bottom-holder {float: left;margin: -29px 0px 12px 0px;}
.video-comments-cont .new-post-antispam {float: left;clear: both;width: 100%;margin: 26px 0px 0px 0px;}
.video-comments-cont .new-post-antispam .anti-spam span {font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;font-weight: normal;text-transform: uppercase;color: #ed0f64;}
.video-comments-cont .new-post-antispam .captchaBox {margin: 17px 0px 0px 0px;}
.video-comments-cont .captchaBox .enter-code-box {float: left;margin: 0px 8px 17px 0px; width: 132px;}
.video-comments-cont .new-post-antispam .captchaBox .enter-code {float: left;line-height: 12px;color: #8d8d8d;text-transform: lowercase;margin: 0px 0px 8px 0px;}

.video-comments-cont .new-post-antispam .captchaBox input[type="text"]{
    width: 120px;margin: 0;padding: 3px;border: 1px solid #d4d4d4;
    font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 12px;font-weight: normal;height: 17px;
}

.video-comments-cont .captchaBox .show-code-box{
    background: url("//i49.vbox7.com/design/bg/captcha_box_bg.png") repeat scroll 0 0 transparent;float: left;text-align: right;width: 140px;}
.video-comments-cont a.reload-captcha {display: block;float: left;height: 30px;margin: 15px 0 0 17px;line-height: 30px;}
.video-comments-cont .icon-reload {
	float: left;
	display: block;
	height: 30px;
	width: 30px;
	background: url("//i49.vbox7.com/design/iconci/n_icons_sprite_v1.6.png") no-repeat;
	background-position: -152px -510px;
}

/* Info za klipa*/

.video-info-cont {padding-top: 40px; padding-bottom: 40px;}
.video-info-cont section { display: table; width: 100%; table-layout: fixed; padding: 0 0 30px; font: normal 14px Roboto, Roboto-regular, sans-serif; }
.video-info-cont section h3 { display: table-cell; width: 80px; color: #767676}
.video-info-cont section > div {  }
.video-info-cont section .mid-dot { margin: 0 7px; color: #a7a7a7; line-height: 15px; font-size: 250%;  }

.video-info-cont section.info-common { display: block; width: 100%; table-layout: fixed; padding: 0 0 10px}
.video-info-cont section.info-common > * { display: block; width: 100%; padding: 0 0 20px;}
.video-info-cont section.info-common > div a { color: inherit; text-decoration: underline }

.video-info-cont section.subs > * { vertical-align: top }
.video-info-cont section.subs .user-avatar-wrap  { display: inline-block; margin: 0 20px}
.video-info-cont section.subs .user-avatar-wrap > * { display: inline-block; vertical-align: middle }
.video-info-cont section.subs .user-avatar-wrap .avatar-img-cont { position: relative; display: inline-block; width: 42px; height: 42px;}
.video-info-cont section.subs .user-avatar-wrap .avatar-img-cont > * { position: absolute; top:0; left: 0; display: block; width: 42px; height: 42px; border-radius: 45%;}
.video-info-cont section.subs .user-avatar-wrap .avatar-img-cont > img { }
.video-info-cont section.subs .user-avatar-wrap .user-name-det {height: 100%; box-sizing: border-box; padding: 0px 0 0 5px; text-align: left;}
.video-info-cont section.subs .user-avatar-wrap .user-name-det h2 { padding: 0 0 5px;  font: normal 15px/22px Roboto, Roboto-regular, sans-serif}
.video-info-cont section.subs .user-avatar-wrap .user-name-det h2 a:hover { text-decoration: none }

.video-info-cont section.subs a.vote-up,
.video-info-cont section.subs a.vote-down { margin: 0 10px 0 0}
.video-info-cont section.subs a.new-subs { color: #767676; font-size: 13px;  }
.video-info-cont section.tags a { color: #e62164;  }
.video-info-cont section.tags .mid-dot:last-child { display: none }

.video-info-cont section.favs, .video-info-cont section.favs a { color: #767676; }

/* Statistics tab */

.video-statistic-cont { padding-top: 40px; padding-bottom: 40px; }
.video-statistic-cont .stat-graph {width: 100%;}
.video-statistic-cont .stat-graph h3 {padding: 0 0 25px 0;}
.video-statistic-cont .stat-graph .clip-stats {margin: 0;}

.video-statistic-cont .stats-days { height:300px; margin: 0;}


/*=== CHANNELS ===*/

.channels-details-wrap { text-align: left }
.channels-details-wrap h3 { margin: .5rem 0 2rem}
.channels-details-wrap h3 a { color: #9d9e9f /* common value*/}

/* clip cells grid */

.channels-details-wrap > section { padding: 1.5rem 0; margin: 0; border-top: 1px solid #ddd /*common value*/}

.channels-details-wrap .video-row { margin-bottom: 1.5rem}

.channels-details-wrap .video-row .thumb-cont { width: 48%}
.channels-details-wrap .video-row .thumb-cont > a { width: 100%; height: 0; padding-top: 56.25%; overflow: hidden}
.channels-details-wrap .video-row .thumb-cont img.thumb { width: 100%; height: 100%; top:0; left: 0}
.channels-details-wrap .video-row:hover .thumb-cont img.thumb { width:105%; height: 105%; margin: -1.5% -2.5%; }
.channels-details-wrap .video-row .video-opt { right: -18px; font-size: .8rem}
.channels-details-wrap .video-row .video-caption h2 { margin-right: 0; height: 2.4rem; overflow: hidden}
.channels-details-wrap .video-row .video-caption h2 a { white-space: initial }
.channels-details-wrap .video-row .add-info { color: #9d9e9f/*common value*/; font-size: 0.86rem; line-height: 1.7;  }
.channels-details-wrap .video-row .add-info > * { display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.channels-details-wrap .video-row .add-info a {display: block; color: #9d9e9f/*common value*/ }
.channels-details-wrap .video-row .add-info a:hover { text-decoration: underline }
.channels-details-wrap .watched-num:hover i[class^="icon-"] { color: inherit }

.channels-details-wrap {}
.channels-details-wrap .channel-desc .collapsed-desc { max-height: 6.5rem; overflow: hidden}
.channels-details-wrap .channel-desc .open-desc { height: auto}
.channels-details-wrap a.user-description-toggle { display: block; text-align: center; padding: 2rem 0 0}
.channels-details-wrap a.user-description-toggle span { display: inline}
.channels-details-wrap a.user-description-toggle span.hide-desc { display: none}

.sort-bar { background: #ddd/*common value*/; font-size: 1.071rem;  margin-bottom: 3rem;  padding-left: 0; padding-right: 0; }
.sort-bar:after { content: ''; display: block; clear: both}
.sort-bar > * { padding: 0.714rem 0; }
.sort-bar > .left-sort { float: left }
.sort-bar > .right-sort { float: right; text-align: right }
.sort-bar .drop-down-nav { top:2rem}
.sort-bar .drop-down-nav .active,
.sort-bar .drop-down-nav a.active { color: #ec0f63 /*common value*/ }
.sort-bar .drop-down-nav ul li a  { display: table; width: 100% }
.sort-bar .drop-down-nav span { display: table-cell }
.sort-bar .drop-down-nav .sorted-num { text-align: right; padding-left: 1rem }
.right-details-cont .details-content .sort-bar .left-sort.drop-down-cont .drop-down-nav  { left:36px; right: auto }
.right-details-cont .details-content .sort-bar .right-sort.drop-down-cont .drop-down-nav { left:auto; right: 18px }

.channels-details-wrap .baloon-cont:after { border-right-color: #eeeded /*common value*/ }
.channels-details-wrap .usr-cell { padding: 0 0 2rem; position: relative}
.channels-details-wrap .usr-cell:after { content: ''; display: block; clear: both}
.channels-details-wrap .usr-cell .usr-details-cont {  padding:.5rem 0 0 1rem}
.channels-details-wrap .usr-cell .uploaded-clips-wrap { display: block; white-space: nowrap; clear: both; color: #9d9e9f /*common value*/; font-size: 0.9rem}
.channels-details-wrap .usr-cell .subscibe-wrap  {  position: absolute; bottom: 2.5rem /*usr-cell btm padding + .5*/; white-space: nowrap;}
.channels-details-wrap .usr-cell .subscibe-wrap .notifications-wrap {  display: inline-block}





/*=== END OF CHANNELS ===*/





/*== FOOTER ==*/

footer { font: normal 12px/20px Roboto-regular, sans-serif; color: #7f7f7f; margin-top: 20px }
footer  section { border-top:1px solid #b3b3b3;  }
footer  section .row { padding:25px 0; background: #d8d8d8; margin-bottom:-1px; }
footer  section:first-child { border-top:none}
footer h4 { font:inherit; color: inherit; text-decoration: none}
footer a { color: #212121; text-decoration: none}
footer i[class*=icon] { font-size: 24px; color: #6b6b6b; text-shadow: 0 1px 0 #fff; vertical-align: bottom}
footer i.icon-tweeter { font-size: 22px}
footer .dev-follow a:hover { color:initial; text-decoration: none }
footer a:hover i.icon-ios { color: #fff; text-shadow: 0 1px 0 #6b6b6b;}
footer a:hover i.icon-android { color: #3fc000}
footer a:hover i.icon-fb { color: #3b5a99}
footer a:hover i.icon-tweeter { color: #00c6ff}
footer a:hover i.icon-gplus { color: #ff4646}
footer .dev-follow a { display: inline-block; padding: 0 5px 0 10px}
footer .dev-follow .left,
footer .dev-follow .right { padding: 5px 0}
footer .dev-follow a i { margin: 0 5px 0 0}
footer .dev-follow .left a:first-child { padding-left: 0}
footer nav div { display:inline-block; }
footer nav div a { display:inline-block; padding:5px 7px;}
footer nav div:before { content:" | "}
footer nav div:first-child:before { content:""}

/*element styles---*/

.svg-holder-subscript svg, .svg-holder-subscript .bell /*, .bell*/ {fill: #EEEDED; stroke: #626363}
.svg-holder-subscript .ring /*, .ring */{fill: #626363!important; stroke: none!important}

.svg-holder-subscript-act svg,
.svg-holder-subscript-act .bell, 
.svg-holder-subscript-act .ring {fill: #E62264!important; stroke: none!important}

.svg-holder-subscript svg, .svg-holder-subscript-act svg { height: 24px; width:22px; vertical-align: middle  }

.active-color {
    color: #e62d6c !important;
}



/* BADGES */


.usr-badge {display: inline-block; vertical-align: middle; height: 1.071rem /* auto*/; padding: 0 2px; box-sizing: content-box; margin-right:5px; border: 1px solid #aeb9be; border-radius: 3px; background-color: #ffffff;  }
.usr-badge::before { display: block; font-family: Roboto-g-500, Roboto-Regular, sans-serif; font-size: 0.5714rem; height: 15px; line-height: 15px;} 

.usr-badge.cool {color: #aeb9be;}
.usr-badge.cool::before{content: 'COOL';}

.usr-badge.grp {color: #fcad01;}
.usr-badge.grp::before{content: 'GRP';}

.usr-badge.hot {color: #f98923;}
.usr-badge.hot::before {content: 'HOT';}

.usr-badge.the {color: #636466;}
.usr-badge.the::before {content: 'THE';}

.usr-badge.upd {color: #2b66aa;}
.usr-badge.upd::before {content: 'UPD';}

.usr-badge.part {color: #08616e;}
.usr-badge.part::before {content: 'PART';}

.usr-badge.team {color: #dc0754;}
.usr-badge.team::before {content: 'TEAM';}

.usr-badge.sub {color: #138743;}
.usr-badge.sub::before {content: 'SUB';}

.usr-badge.avt {color: #7d97c5;}
.usr-badge.avt::before {content: 'AVT';}

.usr-badge.com {color: #7f1499;}
.usr-badge.com::before {content: 'COM';}

.usr-badge.pro {color: #c70000;}
.usr-badge.pro::before {content: 'PRO';}

.usr-badge.comp {color: #00c0ff;}
.usr-badge.comp::before {content: 'COMP';}

.usr-badge.bg {
    padding: 0;
    width:27px;
	height: 1.071rem;
 /* background: #ffffff url('http://i49.vbox7.com/design/xpose_images/badgesbg.gif') left 0px repeat-x; */
 background: #ffffff;
   /* IE10+ */ 
background-image: -ms-linear-gradient(top, #FFFFFF 2%, #FFFFFF 28%, #36A841 28%, #36A841 64%, #FF4141 64%, #FF4141 72%, #FF4141 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FFFFFF 2%, #FFFFFF 28%, #36A841 28%, #36A841 64%, #FF4141 64%, #FF4141 72%, #FF4141 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #FFFFFF 2%, #FFFFFF 28%, #36A841 28%, #36A841 64%, #FF4141 64%, #FF4141 72%, #FF4141 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(2, #FFFFFF), color-stop(28, #FFFFFF), color-stop(28, #36A841), color-stop(64, #36A841), color-stop(64, #FF4141), color-stop(72, #FF4141), color-stop(100, #FF4141));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FFFFFF 2%, #FFFFFF 28%, #36A841 28%, #36A841 64%, #FF4141 64%, #FF4141 72%, #FF4141 100%);

/* W3C Markup */ 
background-image: linear-gradient (bottom, #FFFFFF 2%, #FFFFFF 28%, #36A841 28%, #36A841 64%, #FF4141 64%, #FF4141 72%, #FF4141 100%);
 
}
.usr-badge.bg::before {content: ''; height: 0.5714rem; display: block  }

.usr-badge.noint {display: none}

/* BRANDING FIXES */

#bnrShow  { /*border: 5px solid #c00*/}
#bnrShow > * { margin: 1rem auto 0}
.xpose-body #grwall_wrapper {display: none!important}

/* OLD MSGS FIXES*/
.inner-col-wrapper-15 .icon-arr-left { bottom: 0; font-size: 0.8em}

/* BOOTSTRAP STYLES FIXES */

/*tabs*/

.nav-tabs {background-color: #ddd}
.nav-tabs > li > a {border-radius: 0px!important; border: 0!important; padding: 0.625rem 2.25rem; color: #000!important; margin: 0!important; outline: 0!important}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus { background-color: #fff; }


/* popup */
.modal-title,.bootstrap-dialog-title { padding: 15px; font-size: 1.2em; color: #E62264;  }
.modal-content { overflow: hidden }
.modal-body { padding: 30px; border: none; background: #eeeced; }

#embedVideosArea .modal-content { text-align: center}
#embedVideosArea .modal-content .modal-body { text-align: center}
#embedVideosArea .modal-content .modal-body .iframe-cont { display: inline-block; position: relative; width: 90%; height: 0; padding-top: 56.25%; overflow: hidden }
#embedVideosArea iframe { position: absolute; top:0; left:0; width:100%; height:100% }


/*global scroll fixes
*/
body,body.xpose-body {height: auto; overflow-y:hidden;}
/*.container-fluid {min-height: calc(95vh);max-height: calc(95vh); overflow: hidden}*/
.container-fluid {min-height: calc(100vh); max-height: calc(100vh); overflow: hidden}
.container-fluid.left-side-scrollable {}
/*
.container-fluid.left-side-scrollable.mCustomScrollbar .mCSB_scrollTools{ 
  right: auto;
}

/* switch margin from right to left 
.mCustomScrollbar .mCSB_inside > .mCSB_container{ 
  margin-right: 0;
  margin-left: 30px;
}
*/
.container-fluid.mCustomScrollbar.left-side-scrollable > .mCSB_scrollTools  { right:58.75%;}/*minimal-dark theme*/
.container-fluid.mCustomScrollbar.left-side-scrollable > .mCSB_inside > .mCSB_container  { margin-right:0; }/*dark theme*/
.container-fluid.mCustomScrollbar.left-side-scrollable > .mCustomScrollBox > .mCSB_scrollTools  { right:58.75%;}/*dark theme*/
.container-fluid.mCustomScrollbar:not(.left-side-scrollable) > .mCustomScrollBox > .mCSB_scrollTools  { right:0%;}/*dark theme*/
.container-fluid.mCustomScrollbar > .mCSB_scrollTools .mCSB_draggerContainer { }/*minimal-dark theme*/
.container-fluid.mCustomScrollbar > .mCSB_scrollTools .mCSB_draggerRail, 
.container-fluid.mCustomScrollbar > .mCS-minimal-dark.mCSB_scrollTools .mCSB_draggerRail, 
.container-fluid.mCustomScrollbar > .mCS-minimal.mCSB_scrollTools  .mCSB_draggerRail { background-color: rgba(0,0,0,0.0)}/*minimal-dark*/
.container-fluid.mCustomScrollbar.left-side-scrollable > .mCustomScrollBox > .mCSB_scrollTools .mCSB_dragger { }/*dark theme*/
.container-fluid.mCustomScrollbar > .mCustomScrollBox,
.container-fluid.mCustomScrollbar > .mCustomScrollBox > .mCSB_container { margin-left: -18px; padding-left: 18px; margin-right: -18px; padding-right: 18px; box-sizing: content-box}
.container-fluid.mCustomScrollbar > .mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical, 
.container-fluid.mCustomScrollbar > .mCSB_outside+.mCS-minimal.mCSB_scrollTools_vertical { margin: 90px 0 0px; z-index: 400}/*resp - margin-top - header height +10  common val*/
.container-fluid.mCustomScrollbar.left-side-scrollable > .mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical { margin: 157px 0 20px; z-index: 400}/*resp - margin-top - header height +10  common val*/

.container-fluid.mCustomScrollbar > .mCustomScrollBox > .mCSB_container {min-height: 100vh}
.container-fluid.mCustomScrollbar:not(.left-side-scrollable) > .mCSB_scrollTools  { right:0;}/*minimal-dark theme*/
.container-fluid.mCustomScrollbar .right-details-cont > .channel-wrap > .details-content.rightContainer > * { /*padding-left: 18px; */padding-right: 18px}
.container-fluid.mCustomScrollbar .right-details-cont > .channel-wrap > .details-content.rightContainer > .sort-bar { padding-right: 36px}
.left-cont .leftContainer,
.right-details-cont .details-content.rightContainer { padding-bottom: 150px}


#bannerFrame {
    font-size: 0;
}