
/* === LAYOUTS === */
.container-fluid > .row { min-width: 800px!important}


/* ALL < 1920*/

@media (min-width: 0px) and (max-width: 1500px) { 
.avatar-sm-low, .avatar-md-low {display:block!important}
.avatar-sm-low ~ svg.avatar-sm, .avatar-md-low ~ .avatar-md { display: none!important}
.right-details-cont header .user-avatar-wrap .avatar-img-cont > i.icon-screen {font-size: 68px; line-height: 68px; width: 68px; height: 68px;}
.right-details-cont header .user-avatar-wrap .avatar-img-cont {width: 64px; height: 64px;}

.row.uloader-info .usr-avatar { height: auto;  }
.row.uloader-info .subscibe-wrap > .usr-subscribed { line-height: 28px;}
.video-statistic-cont .stats-days { height:300px; margin: 0;}

.channels-details-wrap .usr-cell .usr-avatar-cont  {  width: 64px; height: 64px}
.channels-details-wrap .usr-cell .subscibe-wrap  {  position: absolute; bottom: 2.5rem /*usr-cell btm padding + .5*/}
.container-fluid.mCustomScrollbar > .mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical, 
.container-fluid.mCustomScrollbar > .mCSB_outside+.mCS-minimal.mCSB_scrollTools_vertical { margin: 70px 0 0px; z-index: 400}/*resp - margin-top - header height +10  common val*/
.container-fluid.mCustomScrollbar.left-side-scrollable > .mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical { margin: 143px 0 20px }
}


/*1024px == 1280px*/

@media (min-width: 940px) and (max-width: 1280px) {
	
html, body { font-size: 12px}

.drop-down-cont .drop-down-nav { top:100%; min-width: 15.5rem; padding: .8rem 0; border-radius: 1rem; font: normal 1rem/1.15 Roboto-Regular, sans-serif;}
.drop-down-cont .drop-down-nav ul li a { padding: .35rem 1.7rem; }
.drop-down-cont .drop-down-nav ul h3 { padding: .4rem 1.7rem; font-size: .8rem; }
/*.drop-down-cont.video-opt .drop-down-nav a:first-child { padding-top: .8rem;}*/
.drop-down-cont.video-opt .drop-down-nav a { height: 3rem}
.drop-down-cont.video-opt .drop-down-nav a i { margin: 0 .4rem 0 0}


header.fixed-cont { /*common val*/height:56px; box-sizing: border-box; padding: 1rem 18px; }
ul#ui-id-1.ui-autocomplete {  /*common val*/top:56px!important; }

.left-cont { /*common val*/top: 56px; }
.main-fixed.fixed-cont {  /*common val*/top: 56px; }
.right-details-cont { /*common val*/top:56px; }
ul.ui-autocomplete { /*common val*/top:56px!important; padding: 10px 0 30px; }
.watched-video .player-wrapper {  /*width: calc((100vh - 140px - 56px - 165px) * 16 / 9)*/ width: 100%; /*140 common value - more videos height HEIGHT DEPENDANT*/ }

.search-wrapper { padding:0; border-bottom: 1px solid #cecece; }
.search-wrapper h1 img { width: 70px; height: 22px; padding-bottom: 2px; }
.search-wrapper form .search-input-holder  input.search-input { margin:0 -23px -1px 10px; padding:5px 30px 5px 0; font: normal 1.1rem/1.47 Roboto-Regular, sans-serif; }

a.usr-subscribe, .usr-subscribe,
a.usr-subscribed, .usr-subscribed { font: normal 0.917rem Roboto-regular, sans-serif; }
.baloon-cont { padding: 0.1em 0.3em 0; margin-left:0.5em; border-radius: 3px; font: normal 0.83rem/1.3 Roboto-Regular, san-serif; vertical-align:middle }

.usr-badge::before {font: normal 0.583rem/1.75 Roboto-Regular, sans-serif;  } 

.icon-ham {bottom: .5rem}
nav.top-nav a { height:auto; margin:.5em 0; font: normal 1rem/1.25 Roboto-regular, sans-serif; }
nav.top-nav a i { bottom: -.15em}
.def-btn, a.def-btn,
.top-profile > a.def-btn { height:auto!important; padding:.35em .7em .3em; font: normal 0.917rem/1.5 Roboto-Regular, san-serif; }
.def-btn > i[class*=icon] { margin: 0 0.5em 0 0; }
.top-profile > * { height:auto; margin:0 0 0 .5em;  }
.top-profile > a,
.top-profile > .drop-down-cont > a { min-width:1.5em;  height:3em;  }
.top-profile .subscrpt-note > i { font-size: 1.2em}
.top-profile .pm-note > i { font-size: 1em}
/*.top-profile > .drop-down-cont > a > svg { margin-top: -.5em;  }*/
.notf-num { width: 1.5rem; height: 1.5rem; background: #e62164; color: #fff; /*temp*/border-radius: 40%; font: normal 0.917rem/1.7 Roboto-Regular,san-serif; }


.def-btn-left-sep {margin-left: .5em;}
.title-row h1 { font: normal 1rem/2.1 Roboto-g-500, Roboto-Regular, sans-serif;  /*def-btn height, check missing medium font*/ }
.video-cell .video-caption  h2 { font: normal 1.2rem/1.175 Roboto-g-500, Roboto-Regular, sans-serif; }
.cells-container-hor .video-cell h3 { padding-top: 0.5em; font: normal 1.2rem/1.175 Roboto-g-500, Roboto-Regular, sans-serif; height:2.85em; }
.video-cell .video-caption  p { font: normal 0.83rem/0.75 Roboto-regular, sans-serif; padding: .5em 0 0;}
.video-cell .video-caption  p .watched-num { padding:0}
.left-cont i.icon-eye {  margin: 0 .3em 0 .5em; }


.video-params-container .bottom-row a { font: normal 0.917rem/30px Roboto-regular, sans-serif; }
.video-params-container .bottom-row a.vote-up,
.video-params-container .bottom-row a.vote-down { margin:0 .5rem 0 0; }
.video-params-container .bottom-row .vote-up i, 
.video-params-container .bottom-row .vote-down i { width: auto; height: auto; margin: 0 .35em 0 0; font-size: 1.3em }
.video-params-container .bottom-row .fb-share-play a { line-height:30px;}
.video-params-container .bottom-row .fb-share-play a i.icon-fb-screen { font-size: 1.5em; bottom: -.2em }
.video-params-container .bottom-row .add-info { margin:0 0 0 .5rem; font: normal 0.917rem Roboto-regular, sans-serif;  }
.video-params-container .bottom-row .add-info .icon-info { bottom: initial}
.video-params-container .bottom-row .watched-num i { margin:0 .3em; }
a.played-video-comments .icon-comment { font-size:1.4em; margin: 0 .3em 0 0; bottom: -0.2em;  }
.video-params-container .def-btn, 
.video-params-container a.def-btn {padding: 0.2rem .5rem 0.15em; }
a.usr-avatar.def-btn .masked.avatar-sm-low { }





.more-videos  { border-top: 0; padding: 1.1em 0 0; max-height: 170px;}

.right-details-cont header .channel-banner { background-size: cover; height: 50px; overflow: visible; margin-bottom: 50px;}
.right-details-cont header .user-avatar-wrap { display: inline-block; margin: 30px 0 -30px -80px; }
.right-details-cont header .user-avatar-wrap .user-name-det {padding: 20px 0 0 5px; }
.right-details-cont header .user-avatar-wrap .user-name-det h2 { padding: 0 0 .5em;  font: normal 1rem/2 Roboto-g-500,  Roboto, Roboto-regular, sans-serif}
.right-details-cont header .channel-links {  bottom: -40px; }
.right-details-cont header .channel-links a:hover{ text-decoration: none}



.right-details-cont .nav-tabs > li > a { padding: 0.625rem 1.1rem; }
.right-details-cont .nav-tabs > li > a > i.mid-dot { line-height: .1; }
.right-details-cont .nav-tabs > li > a > .comments-num { font-size: 0.875rem; }

.video-info-cont section { padding: 0 0 1.5rem; font: normal 1rem Roboto, Roboto-regular, sans-serif; }

.video-statistic-cont .stats-days { height:200px; margin: 0;}

}


/* 1024px  <<<  1280px)*/

@media (min-width: 940px) and (max-width: 1279px) { 
.search-wrapper form .search-input-holder input.search-input {width:156px;  }
nav.top-nav a i { margin: 0 0.35em 0 0.6em; }
.watched-video { border-bottom: 0; max-height: calc( 100% - 145px - 56px );/*131 common value - more videos height (incl. top padding); header height - 80(or 56) HEIGHT DEPENDANT*/ }
.watched-video .player-wrapper {width:calc((100vh - 56px - 100px - 145px)*16/9); max-width: 100%; margin: 0 auto;   /*    131 common value - more videos height*/ /*background: #0c0*/}
.video-info  h1 { margin: 1em 0 .3em; font: normal 1.3rem/1.2 Roboto-Regular, sans-serif; color: #212121}
.video-params-container .bottom-row { padding: .3rem 0;  }
.cells-container-hor .video-cell h3 { padding-top: 0.3em; font: normal 1rem/1.175 Roboto-g-500, Roboto-Regular, sans-serif; height:2.65em; }
.more-videos { padding: 1.9em 0 0;}
.right-details-cont .nav-tabs > li > a { padding: 0.625rem .85rem;}
.right-details-cont .details-content > nav { font-size: .9rem; }
.right-details-cont .details-content > nav > * {margin: 0 0 0 .35rem;}
.right-details-cont .details-content > nav > a > i[class^="icon-"],
.right-details-cont .details-content > nav > a > i[class*=" icon-"] {font-size: 1.3em; margin: 0 .25em 0 0em}
.right-details-cont .details-content > nav > a:first-child > i[class^="icon-"] { margin-right: .4em}

.video-row .video-caption h2 { font-size: 1rem}

.break-out-username {font-size: 0.85rem}
}


/* 1280 (x both heights) <<< 1366 */

@media (min-width: 1200px) and (max-width: 1365px) { 
.search-wrapper form .search-input-holder input.search-input {width:256px; }
nav.top-nav a i { margin: 0 0.8em 0 1.2em; }
.watched-video { border-bottom: 0; max-height: calc( 100% - 131px - 56px );/*131 common value - more videos height (incl. top padding); header height - 80(or 56) HEIGHT DEPENDANT*/ }
.watched-video .player-wrapper {width:calc((100vh - 56px - 105px - 131px)*16/9); max-width: 100%; margin: 0 auto;   /*    131 common value - more videos height*/ /*background: #0c0*/}
.video-info  h1 { margin: .2em 0; font: normal 1.3rem/1.2 Roboto-Regular, sans-serif; color: #212121}
.video-params-container .bottom-row { padding: 0;  }
.more-videos { padding: 1em 0 0;}
.cells-container-hor .video-cell h3 { padding-top: 0.3em; font: normal 1rem/1.175 Roboto-g-500, Roboto-Regular, sans-serif; height:2.65em; }
.right-details-cont .details-content > nav { font-size: 1rem; }
.right-details-cont .details-content > nav > * {margin: 0 0 0 1rem;}
}





/*1280 == 1366*/

@media (min-width: 1281px) and (max-width: 1370px) {	
html, body { font-size: 12px; /*background: #cc0*/}

/*drop-down-cont*/
.drop-down-cont .drop-down-nav { top:100%; min-width: 15.5rem; padding: .8rem 0; border-radius: 1rem; font: normal 1rem/1.15 Roboto-Regular, sans-serif;}
.drop-down-cont .drop-down-nav ul li a { padding: .4rem 1.7rem; }
.drop-down-cont .drop-down-nav ul h3 { padding: .4rem 1.7rem; font-size: .8rem; }
/*.drop-down-cont.video-opt .drop-down-nav a:first-child { padding-top: .8rem;}*/
.drop-down-cont.video-opt .drop-down-nav a { height: 3rem}
.drop-down-cont.video-opt .drop-down-nav a i { margin: 0 .4rem 0 0}

header.fixed-cont { /*common val*/height:46px; box-sizing: border-box; padding: .6rem 18px; }
ul#ui-id-1.ui-autocomplete {  /*common val*/top:46px!important; }

.left-cont { /*common val*/top: 46px; }
.main-fixed.fixed-cont {  /*common val*/top: 46px; }
.right-details-cont { /*common val*/top:46px; }
ul.ui-autocomplete { /*common val*/top:46px!important; padding: 8px 0 25px; }
.watched-video { border-bottom: 0; max-height: calc( 100% - 83px - 46px );/*140 common value - more videos height; header height - 80(or 56) HEIGHT DEPENDANT*/ }
.watched-video .player-wrapper {width:calc((100vh - 46px - 83px - 90px)*16/9); max-width: 100%; margin: 0 auto;   /*    90 common value - more videos height*/ /*background: #0c0*/}

.search-wrapper { padding:0; border-bottom: 1px solid #cecece; }
.search-wrapper h1 img { width: 70px; height: 22px; padding-bottom: 2px; }
.search-wrapper form .search-input-holder  input.search-input { width:256px; margin:0 -23px -1px 10px; padding:5px 30px 5px 0; font: normal 1.1rem/1.47 Roboto-Regular, sans-serif; }

a.usr-subscribe, .usr-subscribe,
a.usr-subscribed, .usr-subscribed { font: normal 0.917rem Roboto-regular, sans-serif; }
.baloon-cont { padding: 0.1em 0.3em 0; margin-left:0.5em; border-radius: 3px; font: normal 0.83rem/1.3 Roboto-Regular, san-serif; vertical-align:middle }

.usr-badge::before {font: normal 0.583rem/1.75 Roboto-Regular, sans-serif;  } 

.icon-ham {bottom: .5rem}
nav.top-nav { height:30px; /*background: #a.usr-subscribe, .usr-subscribefee*/}
nav.top-nav a { height:auto; margin:.3em 0; font: normal 1rem/1.25 Roboto-regular, sans-serif; }
nav.top-nav a i { margin: 0 0.8em 0 1.2em; bottom: -.15em}
.def-btn, a.def-btn,
.top-profile > a.def-btn { height:auto!important; padding:.35em .7em .3em; font: normal 0.917rem/1.5 Roboto-Regular, san-serif; }
.def-btn > i[class*=icon] { margin: 0 0.5em 0 0; }
.top-profile > * { height:auto; margin:0 0 0 .5em;  }
.top-profile > a,
.top-profile > .drop-down-cont > a { min-width:2em;  height:3em;  }
/*.top-profile > .drop-down-cont > a > svg { margin-top: -.5em;  }*/
.notf-num { width: 1.5rem; height: 1.5rem; background: #e62164; color: #fff; /*temp*/border-radius: 40%; font: normal 0.917rem/1.7 Roboto-Regular,san-serif; }


.title-row h1 { font: normal 1.083rem/2 Roboto-Regular, sans-serif;  /*def-btn height, check missing medium font*/ }
.video-cell .video-caption  h2 { font: normal 1.2rem/1.175 Roboto-g-500,  Roboto-Regular, sans-serif; }
.cells-container-hor .video-cell h3 { padding-top: 0.15em; font: normal 0.917rem/1.175 Roboto-g-500,  Roboto-Regular, sans-serif; height:2.45em; }
.video-cell .video-caption  p { font: normal 0.83rem/0.75 Roboto-regular, sans-serif; padding: .5em 0 0;}
.video-cell .video-caption  p .watched-num { padding:0}
.left-cont i.icon-eye {  margin: 0 .3em 0 .5em; }

.row.video-info { padding: 0 18px /*common value*/}
.video-info  h1 { margin: .6em 0 .2em; font: normal 1.083rem/1.2 Roboto-g-500, Roboto-Regular, sans-serif; color: #212121}

.video-params-container .right .drop-down-cont.video-opt.video-ham .drop-down-nav ul { margin-bottom: 0}
.video-params-container .right .drop-down-cont.video-opt.video-ham .drop-down-nav a { height: 2.1rem}
.video-params-container .bottom-row a { font: normal 0.917rem/30px Roboto-regular, sans-serif; }
.video-params-container .bottom-row a.vote-up,
.video-params-container .bottom-row a.vote-down { margin:0 .5rem 0 0; }
.video-params-container .bottom-row .vote-up i, 
.video-params-container .bottom-row .vote-down i { width: auto; height: auto; margin: 0 .35em 0 0; font-size: 1.3em }
.video-params-container .bottom-row .fb-share-play a { line-height:30px;}
.video-params-container .bottom-row .fb-share-play a i.icon-fb-screen { font-size: 1.5em; bottom: -.2em }
.video-params-container .bottom-row .add-info { margin:0 0 0 .5rem; font: normal 0.917rem Roboto-regular, sans-serif;  }
.video-params-container .bottom-row .add-info .icon-info { bottom: initial}
.video-params-container .bottom-row .watched-num i { margin:0 .3em; }
a.played-video-comments .icon-comment { font-size:1.4em; margin: 0 .3em 0 0; bottom: -0.2em;  }
.video-params-container .def-btn, 
.video-params-container a.def-btn {padding: 0.2rem .5rem 0.15em; }
a.usr-avatar.def-btn .masked.avatar-sm-low { }

.more-videos  { border-top: 0; padding: .6em 0 0; max-height: 120px}

.right-details-cont header .channel-banner { background-size: cover; height: 70px; overflow: visible; margin-bottom: 50px;}
.right-details-cont header .user-avatar-wrap { display: inline-block; margin: 30px 0 -30px -50px; }
.right-details-cont header .user-avatar-wrap .user-name-det {padding: 20px 0 0 5px; }
.right-details-cont header .user-avatar-wrap .user-name-det h2 { padding: 0 0 .5em;  font: normal 1rem/2 Roboto-g-500,  Roboto, Roboto-regular, sans-serif}
.right-details-cont header .channel-links {  bottom: -45px; }
.right-details-cont header .channel-links a:hover{ text-decoration: none}

.right-details-cont .nav-tabs > li > a { padding: 1rem 2rem; }
.right-details-cont .nav-tabs > li > a > i.mid-dot { line-height: .1; }
.right-details-cont .nav-tabs > li > a > .comments-num { font-size: 0.875rem; }

.video-info-cont section { padding: 0 0 1.5rem; font: normal 1rem Roboto, Roboto-regular, sans-serif; }
}

 /* 1280x1024 <<< 1366 */
 
@media (min-width: 1200px) and (max-width: 1365px) and (min-height:900px) {   
.watched-video { border-bottom: 0; max-height: calc( 100% - 131px - 56px );   /* 131 common value - more videos height (incl. top padding); header height - 80(or 56) HEIGHT DEPENDANT*/ }
.watched-video .player-wrapper {width:calc((100vh - 56px - 135px - 131px)*16/9); max-width: 100%; margin: 0 auto;   /*    131 common value - more videos height*/ /*background: #0c0*/}
.video-info  h1 { margin: 1.2em 0 .3em; font: normal 1.3rem/1.2 Roboto-Regular, sans-serif; color: #212121}
.video-params-container .bottom-row { padding: .7rem 0;  }
.more-videos  { border-top: 0; padding: 2.6em 0 0; max-height: 310px}
}


/* mac 1440x900*/

@media (min-width: 1370px) and (max-width: 1610px) {	
nav.top-nav a { font-size: 1rem}

.right-details-cont .nav-tabs > li > a { padding: 1rem 1.7rem; }
.right-details-cont .nav-tabs > li > a > i.mid-dot { line-height: .1; }
.right-details-cont .nav-tabs > li > a > .comments-num { font-size: 0.875rem; }

.right-details-cont .details-content > nav { font-size: 1rem; }
.right-details-cont .details-content > nav > * {margin: 0 0 0 1rem;}
}

@media (min-width: 1370px) and (max-width: 1610px) and (min-height:850px) {	
.more-videos  { max-height: 260px}
}


/*  1920  */

@media (min-width: 1611px)  {
/*body { background: #c00}*/
.watched-video { max-height:calc(100vh - 80px - 125px)}
.watched-video .player-wrapper {width:calc((100vh - 80px - 140px - 125px)*16/9); max-width: 100%; margin: 0 auto;   /*    125 common value - more videos height*/ /*background: #0c0*/}
.more-videos  { max-height: 160px}

}

/*1920 narrow*/

@media (min-width: 1900px) and (max-height:944px)  {
.custom-gutter-9.row {
	margin-left: -18px;
	margin-right: -18px;
}

.custom-gutter-9.row [class*=col-xs],
.custom-gutter-9.row [class*=col-sm],
.custom-gutter-9.row [class*=col-md],
.custom-gutter-9.row [class*=col-lg]
 {
  position: relative;
  min-height: 1px;
  padding-left: 18px;
  padding-right: 18px;
}


.row.video-info { padding-top: 0.5rem}
.cells-container-hor .video-cell h3 {line-height: 1.15;}
.row.uloader-info { padding: .4em 0 }

}

@media (max-height: 890px) {
    .logo-nav-cont .drop-down-nav {position: fixed !important; left: 17px !important; top: 60px !important; bottom: 0; }
}

/*0px > 940px*/

@media (min-width: 0px) and (max-width: 940px) {
    
}