/* Hide controls under comment for unlogin users */
.dN {display: none !important;}




 /* video views stats */
/*.clipViews .watched-sum-wrap {
	display: none;
	position: absolute;
	z-index: 50;
	top: 37px;
	right: -135px;
	min-width:180px;
	width:auto;
	height: 40px;
	border: 1px solid #d4d4d4;
	background: #fff;
	font:normal 20px 'PT Sans Caption', sans-serif;
	color: #474747;
	vertical-align: middle; 
	box-shadow: 0px 0px 4px #fff;
}
*/
.clipViews:hover .watched-sum-wrap {
	display: block;
}

.clipViews .watched-sum-wrap span { 
	display: inline-block;
	padding: 8px;
	height: auto;
	max-width: 95px;
	vertical-align: middle;
	overflow: visible;
	font:normal 11px/13px 'PT Sans Caption', sans-serif;
}



/* START Popups */
.popHeader .close, .popSearchIco, .icoAddNewCol
{background-image: url('//i49.vbox7.com/design/play/controls_001.png');}
.popupOverlay {
    visibility: visible; position: fixed;
    left: 0px; top: 0px;
    width:100%; height:100%;
    text-align:center;
    background: none repeat scroll 0 0 #000000; opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
}
.popOuter {
    display: block;
    margin: 0 auto;
    position: fixed;
    text-align: left;
    top: 0; left: 50%;
}
.popInner {
    background: none repeat scroll 0 0 #fff;
    position: relative;
    overflow: hidden;
    padding: 10px;
	line-height: normal
}
.popHeader {
    border-bottom: 1px dotted #dadada;
    padding-bottom: 10px;
    margin: 5px 10px 5px 10px;
    overflow: hidden;
    line-height: 28px;
}
.popHeader .closePopBtn {margin: 0px 0px 5px 0px;}
.lightBlueControl, .lightRedControl {
    height: 28px;
    border:none;
    font-size: 12px;
    line-height: 28px !important;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius: 3px;
}
.lightBlueControl {background-color: #d9eaf9; color:#2762ca;}
.lightRedControl {background-color: #fc1921;}
.popSearchInputContainer {
    margin-left: 15px;
    position: relative;
}
.popSearchIco {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0; left: 0;
    background-position: 0px -129px;
}
.popSearchInput {
    border: 1px solid #dadada;
    color: #414141;
    font-size: 14px;
    padding: 4px 3px 4px 25px;
    width: 280px;
}
.popSearchInput:focus, .searchInput:hover {
    background-color: #ECF5FD;
}	    
.popControlsRow {
    position: relative;
    border-bottom: 1px dotted #dadada;
    padding: 15px 0px 15px 0px;
    overflow: hidden;
    line-height: 28px;
    clear: both;
}
.darkBlueControl  {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border:none;
    padding: 0;
    margin: 0;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius: 3px;}
.darkBlueControl {
    height: 28px;
    font-size: 12px;
    line-height: 28px !important;
}
.darkBlueControl {background-color: #459eed; color:#2762ca;} 
.closePopBtn {background-image: url('//i49.vbox7.com/design/play/controls_001.png'); width:28px; height: 28px;background-position: 0px -101px;}
.closePopBtn:hover {cursor: pointer; background-color: #fc1921;}	
/* start add in playlist popup */   
.popControlsRowN {
    position: relative;
    border-bottom: 1px dotted #dadada;
    padding: 10px 0px 10px 0px;
    margin: 0px 10px 0px 10px;
    overflow: visible;
    height: 28px;
    line-height: 28px;
    clear: both;
	box-sizing: content-box;
}

.popControlsRowN input { height: 30px; margin: 0!important}
.poplightBlueControl {
    height: 28px;
    border:none;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 28px !important;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding: 0px 0px 0px 7px;;
    margin: 0;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius: 3px;
}					
.poplightBlueControl:hover {
    background-color: #2762CA;
    color: #FFFFFF;
    cursor: pointer;
}				
.poplightBlueControl:hover .popUpArrow {background-position: 0 -70px;}
.poplightBlueControl:hover .popDownArrow {background-position: 0 -93px;}	
.controlOn	{background-color: #d9eaf9; color:#2762ca;}	
.controlOff	{background-color: #2762CA; color:#FFFFFF;}						

.popUpArrow, .popDownArrow {
    float: right;
    display: block;
    height: 28px;
    width: 28px;
    margin-left: 4px;
    background: url("//i49.vbox7.com/design/playlist/controls_sprite.png") no-repeat;
}
.popUpArrow {background-position: 0 -70px;}
.popDownArrow {background-position: 0 -206px;}
.popSortMenuCont {position: relative;z-index: 999;}

.popSortMenuCont ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.popSortMenuCont .controlOn, .popSortMenuCont .controlOff {width: 160px;}
.popSortMenuCont ul li a:link, .popSortMenuCont ul li a:visited, .popSortMenuCont ul li a:active {
    padding: 0 7px 0px 7px;
    display: block;
    line-height: 22px;
}
.popSortMenu {
    position: absolute;
    right: 0px;
    top: 28px;
    width: 99%;
    border:1px solid #2762CA;
    background-color: #FFFFFF;
    z-index: 1000;
    display: none;
}
.popSortMenu li a:hover{
    background-color: #2762CA;
    color: #FFFFFF;
    text-decoration:none;
}	
.popAddConfirmCont	{float: left; width: 100%; margin: 8px 10px 2px 10px; line-height: 26px; height: 26px;}	
.popAddConfirmCont a {text-decoration: none;}



.txtAddNewCol				{padding: 0 7px 0 0; text-align: left; line-height: 28px !important;}
.lightBlueControl.txtAddNewCol:hover	{background-color: #2762ca; }
a.txtAddNewCol:hover			{text-decoration: none; color: #8e8c91; cursor: pointer;}
.txtAddNewCol:hover .icoAddNewCol	{background-position: -28px -156px;}
.icoAddNewCol				{background-position: 0px -156px; width: 28px; height: 28px;}
.popColListCont, .popup-dialog-list-cont    {height: 370px; width: 670px; margin: 15px 0px 6px 8px; overflow-x: hidden; overflow-y: auto;}
.popColListCont .col-thumb-border:hover, .popColListCont .playlists-dialog-name:hover,
.popup-dialog-list-cont .popup-dialog-thumb-border:hover  
{cursor: pointer;}
.itemColList, 
.popup-dialog-item-list		
{height: 178px; width: 140px; margin: 2px 10px 0px 2px; overflow: hidden; position:relative; padding: 5px 0 0 5px;}
.col-thumb, 
.col-thumb-border,
.popup-dialog-thumb, 
.popup-dialog-thumb-border
{width: 126px; background: #ffffff;}
.col-thumb-border, 
.popup-dialog-thumb-border  
{height: 96px; margin: 0; border: 2px solid #dadada; position: absolute; top: 4px; left: 4px; z-index: 80;}

.col-thumb-border-2, 
.popup-dialog-thumb-border-2
{width: 126px; border: 2px solid #dadada; position: absolute; top: 0px; left: 0px; z-index: 81;}
.col-thumb img, 
.popup-dialog-thumb img	    {margin: 3px;}

.col-thumb-name		    {position: absolute; top: 1px; left: 18px; height: 32px; overflow: hidden}

.playlists-dialog-name,
.popup-dialog-dialog-name	{width: 136px;word-wrap: normal;}
/* end add in playlist popup */  

/*info popup start */
.popHeaderInfo {
    overflow: hidden;
    line-height: 28px;
}
.popControlsRowI {
    position: relative;
    padding: 0px;
    margin: 0px 12px 20px 10px;
    overflow: hidden;
    clear: both;
}
.popControlsRowI .popCheckInput {width: 24px; margin-top: 2px;}
.popControlsRowI .popCheckLabel {width: 404px;}
/*info popup end */

/*popups z-indexes start */
#playlist-playlists-dialog-overlay {z-index: 2010;}
#playlist-playlists-dialog	{z-index: 2012;}

#playlists-dialog-overlay		{z-index: 2010;}
#playlists-dialog			{z-index: 5012}

#groups-dialog-overlay		{z-index: 2010;}
#groups-dialog			{z-index: 2012}

#dialog-infobox-overlay		{z-index: 9010;}
#dialog-infobox			{z-index: 9012;}

#dialog-loadingbox-overlay	{z-index: 8010}
#dialog-loadingbox		{z-index: 8012}

#dialog-confirmation-overlay	{z-index: 30;}
#dialog-confirmation		{z-index: 32;}

/*#dialog-login-overlay {z-index: 3020;}*/
/*#dialog-login {z-index: 3022;}*/

/*popups z-indexes end */

/* END Popups */



/* === START: Default buttons === */
.defaultBtn, .defaultRedBtn, .defaultGreenBtn, .defaultLightBlueBtn, .defaultGreyBtn {
    height: 30px; 
    border:none;
    font-size: 14px;
    line-height: 30px !important;
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: normal;
    color:#fff;
	border-radius: 1px 1px 1px 1px;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    -o-border-radius: 1px;
    padding: 0px 10px 0px 10px;
    margin: 0;
}
.defaultBtn				{background-color: #449ded; border: 1px solid #417be6;}
.defaultBtn:hover	    {background-color: #3e97e7; border: 1px solid #3267c3; cursor: pointer;}

.defaultRedBtn		    {background-color:#ff3333;}
.defaultRedBtn:hover	{background-color: #cc0000;cursor: pointer;}

.defaultGreenBtn	    {background-color: #14BA00;}
.defaultGreenBtn:hover	{background-color: #19A004;cursor: pointer;}

.defaultLightBlueBtn	    {background-color: #d8e9f9;font-weight: normal;}
.defaultLightBlueBtn:hover  {background-color: #d8e9f9;cursor: pointer;}

/* defaultGreyBtn is used for inactive state of a button */
.defaultGreyBtn		    {background-color: #9f9f9f;padding: 0 11px;}

a.defaultBtn, a.defaultRedBtn, a.defaultGreenBtn 
{ text-decoration: none; display: block;
  height: 30px; 
  line-height: 30px !important;
  color:#fff;
  padding: 0px 10px 0px 10px;
}
span.defaultLightBlueBtn    {color:#2761cc; text-decoration: none; display: block;}

/*.inputLeftToBtn		    {border: 1px solid #c6c6c6; height: 24px; padding: 0px 4px 0px 4px; vertical-align: middle; width: 210px; font-size: 12px; font-weight: normal; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 24px;}*/
.inputLeftToBtn:focus, .inputLeftToBtn:hover {background-color: #ECF5FD;}


.bgLightBlue	{background-color: #D9EAF9;}
.bgLightGreen	{background-color: #c3ffc3;}
.bgLightRed	{background-color: #ffcccb;}


a.video-title-comments {
	cursor:pointer;
	text-decoration: none;
}

#video-comments, #video-statistic-info, #video-share {
	min-height: 500px;
} 

.modal-content.large {
    width: 1400px; /* respsonsive width */
    margin-left:-70%; /* width/2) */ 
	/* The following styles prevent unbroken strings from breaking the layout */
	overflow: auto;
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap; /* HP printers */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
	-moz-binding: url('xbl.xml#wordwrap'); /* Firefox (using XBL) */
}

.modal-content.large table a {
	color:blue !important;
}