/*
 * Vbox Media Player - jQuery plugin
 *
 * Copyright (C) 2013 Ionut Cristian Colceriu
 *
 * Licensed under the MIT:
 *   http://www.opensource.org/licenses/mit-license.php
 *
 * www.ghinda.net
 * contact@ghinda.net
 *
 * Contributors:
 * https://github.com/stephenoldham
 * https://github.com/leslash
 *
 */

/*
::-webkit-media-controls {
  display:none !important;
}

video::-webkit-media-controls {
  display:none !important;
}
*/

.fs {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.vbox-player * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input, input:active, input:focus{
    outline: 0;
    outline-style:none;
    outline-width:0;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}

button:focus {outline:0;}

video {
  width: 100%    !important;
  height: 100%   !important;
}

/* Main elements */
.vbox-player .vbox-controls, .vbox-player .vbox-controls-right, .vbox-player .vbox-controls-top, .vbox-player .vbox-controls-bg {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .3s ease-in;
    -moz-transition: opacity .3s ease-in;
    -ms-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
}

/*.vbox-player:hover .vbox-controls, .vbox-player:hover .vbox-controls-right, .vbox-player:hover .vbox-controls-top, .vbox-player:hover .vbox-controls-bg {
    opacity: 1;
    filter: alpha(opacity=100);
}*/

.vbox-player.on .vbox-controls, .vbox-player.on .vbox-controls-right, .vbox-player.on .vbox-controls-top, .vbox-player.on .vbox-controls-bg {
    opacity: 1;
    filter: alpha(opacity=100);
}

.vbox-player.off .vbox-controls, .vbox-player.off .vbox-controls-right, .vbox-player.off .vbox-controls-top, .vbox-player.off .vbox-controls-bg {
    opacity: 0;
    filter: alpha(opacity=0);
}

.vbox-player .vbox-controls-small {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: opacity .1s ease-in;
    -moz-transition: opacity .1s ease-in;
    -ms-transition: opacity .1s ease-in;
    -o-transition: opacity .1s ease-in;
    transition: opacity .1s ease-in;
}

.vbox-player:hover .vbox-controls-small {
    opacity: 0;
    filter: alpha(opacity=0);
}



.vbox-player, .vbox-controls {
	position: relative;
}
.vbox-timer {
	cursor: default;
}
.vbox-buffer {
	
}
/* <video> */
.vbox-player video {
	position: relative;
        vertical-align: middle;
        height: 100%;
	z-index: 1;
	background-color: #000;
}

.vbox-player.vert video {
    transform:rotate(90deg) scale(1.7);
    -webkit-transform: rotate(90deg) scale(1.7);
    -moz-transform: rotate(90deg) scale(1.7);
    -ms-transform: rotate(90deg) scale(1.7);
}

/* <audio> */
.vbox-player.audio-player {
	width: 500px;
}
.vbox-player.audio-player audio {
	display: none;
}
/* Captions and Transcript */
.vbox-caption-button {
	display: none;
}
/* Fullscreen Mode */
.fullscreen-video,
.has-fullscreen-video  {
	position: fixed !important;
	top: 0px;
	left: 0px;
	z-index: 99999 !important;
	width: 100% !important;
	height: 100% !important;
	background-color: #000;
}
.has-fullscreen-video video {
        width: 100% !important;
        height: 100% !important;
}
.vbox-controls-bg.fullscreen-controls {
	position: fixed !important;
/*	z-index: 2147483650 !important;*/
}
.vbox-controls.fullscreen-controls {
	position: fixed !important;
/*	z-index: 2147483650 !important;*/
}
.vbox-controls-top.fullscreen-controls {
	position: fixed !important;
/*	z-index: 2147483650 !important;*/
}
.vbox-controls-right.fullscreen-controls {
	position: fixed !important;
/*	z-index: 2147483650 !important;*/
}
.vbox-controls-small.fullscreen-controls {
	position: fixed !important;
/*	z-index: 2147483650 !important;*/
}
.vbox-cap-adw.fullscreen-controls {
	position: fixed !important;
/*	z-index: 2147483650 !important;*/
}
/* Loading */
.show-loading .loading-media {
	visibility: visible;
}
.loading-media {
	visibility: hidden;

	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 11;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	margin-left: -10px;
}

.play-effect, .pause-effect, .play-init, .camera-effect {
        display: none;

        position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1100;
}

.camera-effect-layout {

        position: absolute;
	left: 0;
	top: 0;
        right: 0;
        bottom: 0;
	z-index: 11;

	background-color: #fff;
        
        
}

.hdonoff-effect {
        display: none;

        position: absolute;
	left: 50%;
	top: 50%;
	z-index: 11;
	width: 82px;
	height: 59px;
	margin-top: -30px;
	margin-left: -40px;
}

.hdonoff-effect-img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 11;
        width: 100%;
	height: 100%;
}

.vbox-smallbox {
        position: absolute;
	left: 50%;
	top: 50%;
	z-index: 10;
	width: 70px;
	height: 5px;
	margin-top: 20px;
	margin-left: -35px;
}

/* Controls overlay while loading */
.show-loading:after {
	content: ' ';
	position: absolute;
	top: -2px; /* Slider handle goes above */
	padding-bottom: 2px;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
}

/* Styles needed for the jQuery UI slider
 * We're declaring these so we don't have to use jQuery UI's stylesheet
 */
a.ui-slider-handle {
	position: absolute;
	display: block;
	z-index: 2;
	cursor: default;
	outline: none;
}
.ui-slider {
	position: relative;
}
.ui-slider-range {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	bottom: 0;
	border: none;
	z-index: 1;
}


video::-webkit-media-controls-enclosure {
  display:none !important;
}
video { webkit-transform:translateX(-2048px) }

video::-webkit-media-controls-enclosure {
  display:none !important;
}

video::-internal-media-controls-overlay-cast-button {
    display: none;
}
.vbox-bubble {
        display: none;
        position: absolute;
        z-index: 100;
}
.vbox-bubble-arrow {
        display: none;
        position: absolute;
        z-index: 100;
}

.vbox-annotations-note.fullscreen-controls{
	/*z-index: 2147483647 !important;   */
	position: fixed !important;	
}

.vbox-annotations-frame.fullscreen-controls{
/*	z-index: 2147483647 !important;   */
	position: fixed !important;	
}

.vbox-static {
        display: none;
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
}

.vbox-related {
        display: none;
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
}

.vbox-related.fullscreen-controls {
        height: 100%;
	position: fixed !important;
/*	z-index: 2147483650 !important;*/
}

.vbox-rel-leftarrow, .vbox-rel-rightarrow {
        display: none;
}

.vbox-rel-leftarea, .vbox-rel-rightarea {
        position: absolute;
        z-index: 100;
        top: 0;
}

.vbox-rel-leftarea {
        left: 0;
}

.vbox-rel-leftarea:hover .vbox-rel-leftarrow { display: block }

.vbox-rel-rightarea {
        right: 0;
}

.vbox-rel-rightarea:hover .vbox-rel-rightarrow { display: block }

.vbox-continous {
        display: none;
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
}

.vbox-continous.fullscreen-controls {
        height: 100%;
	position: fixed !important;
/*	z-index: 2147483650 !important;*/
}

.vbox-settings-page {
        display: none;
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
}

.vbox-settings-page.fullscreen-controls {
        height: 100%;
	position: fixed !important;
/*	z-index: 2147483650 !important;*/
}

.vbox-preroll-closebtn {
/*    z-index: 2147483650 !important;*/
}

.vbox-adwise {
        display: none;
	margin-left: auto;
        margin-right: auto;
}

.vbox-caption {
	display: none;
	margin-left: auto;
        margin-right: auto;
}

.vbox-cap-adw {
        position: absolute;
        z-index: 1000;
        left: 0;
        right: 0;
}

.vbox-console {
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #000;
    color: #fff;
    font-size: 12px;
    display: none;
}

video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

.vbox-msgcontainer{
    display: none;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 20%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 13px;
    font-family: "Roboto";
    padding: 5% 1% 1% 1%;
    text-align: center;
}