ul.vbox-context-menu
{
   position: absolute;
   z-index: 10000;
   display: none;
   background-color: #ffffff;
   list-style-type: none !important;
   margin: 0px !important;
   padding: 0px !important;
   font-size: 10px;
   font-family: "Roboto",sans-serif;
   border-radius: 3px;
}

ul.vbox-context-menu.fullscreen-controls {
	position: fixed !important;
	z-index: 2147483650 !important;
}

ul.vbox-context-menu * {
   color: #222222;
}

ul.vbox-context-menu li span {
    padding: 0 0 8px 0;
    border-bottom: 1px solid #878588;
    display: block;
}

ul.vbox-context-menu li {
   padding: 8px 8px 0 8px !important;
}

ul.vbox-context-menu li:last-of-type span {
    border: none;
}

ul.vbox-context-menu li:hover {
   background-color: #e7e7e7;
   border-radius: 3px;
}

ul.vbox-context-menu li span {
   display: block;
   cursor: pointer;
}

ul.vbox-context-menu li a {
   display: block;
}