/* Start of magenta theme */

@font-face {
    font-family: 'Roboto';
    src: url('//i49.vbox7.com/design/player/magenta/fonts/Roboto-Regular.eot');
    src: url('//i49.vbox7.com/design/player/magenta/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
            url('//i49.vbox7.com/design/player/magenta/fonts/Roboto-Regular.woff2') format('woff2'),
            url('//i49.vbox7.com/design/player/magenta/fonts/Roboto-Regular.woff') format('woff'),
            url('//i49.vbox7.com/design/player/magenta/fonts/Roboto-Regular.ttf') format('truetype'),
            url('//i49.vbox7.com/design/player/magenta/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.vbox-player div, .vbox-player span, .vbox-player a { font-family: "Roboto",sans-serif; }

.vbox-player.magenta {
    position: relative;
    overflow: hidden;

    font-family: "Roboto",sans-serif;
    width: 100%;
    height: 100%;
}
/* <video> element */
.vbox-player.magenta video {
    position: relative;
    background-color: #000;
}

.vbox-player.magenta a {
    color: #ffffff;
    text-decoration: none;
}

.vbox-player.magenta .loading-media {
    width: 47px;
    height: 47px;
    margin-left: -23px;
    margin-top: -23px;
}

.vbox-player.magenta button {
    width: 37px;
}

/* Player Controls */
.vbox-player.magenta .vbox-watch-in-site{
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 20;
    display: none;
    width: 37px;
}

.vbox-player.magenta .vbox-controls-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0; 
    left: 0;
    z-index: 99;
    background: url('overlayer.svg');
    background-size: cover;
    display: none;
}

.vbox-player.magenta .vbox-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    display: none;
    padding: 0 5px 0 5px;
}

.vbox-player.magenta .vbox-controls-top {
    position: absolute;
    top: 0px;
    z-index: 1000;
    width: 100%;
    display: none;
}

.vbox-player.magenta .vbox-controls-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    width: 42px;
    display: none;
    padding: 0 5px 0 0;
}

.vbox-player.magenta #vbox-vpaid-adContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3000;
    display: none;
}

.vbox-player.magenta .vbox-embed-title {
    position: absolute;
    top: 20px;
    left: 15px;
    right: 60px;
    
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    display: none;
    
    overflow: hidden;
    white-space: nowrap;
    z-index: 100;
}

.vbox-player.magenta .vbox-main-ctitle {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    padding: 25px 35px;
    width: 90%;
    cursor: pointer;
    display: none;
}

.vbox-player.magenta .vbox-embed-ctitle {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px 15px;
    width: 90%;
    cursor: pointer;
    display: none;
}

.vbox-player.magenta .vbox-embed-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.vbox-player.magenta .vbox-embed-video-info {
    position: absolute;
    top: 50px;
    left: 20px;
    right: 80px;
    font-size: 11px;
    color: #ffffff;
    display: none;
    z-index: 100;
}

.vbox-player.magenta .video-info-icon {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 10px;
}

.vbox-player.magenta .video-info-icon:first-of-type {
    margin-left: 0;
}
    
.vbox-player.magenta .vbox-embed-user-info {
    position: absolute;
    bottom: 15px;
    left: 15px;
    height: 45px;
    font-size: 14px;
    color: #ffffff;
    display: none;
    z-index: 100;
    padding-left: 55px;
}

.vbox-player.magenta .user-info-avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
}

.vbox-player.magenta .user-info-avatar img {
    width: 40px;
    height: 40px;
}

.vbox-player.magenta .user-info-username {
    font-size: 12px;
    margin: 5px 0 5px 0;
}
.vbox-player.magenta .user-info-subscr {
    font-size: 13px;
}

.vbox-player.magenta .vbox-controls-small {
    position: absolute;
    bottom: 0px;
    z-index: 1000;

    width: 100%;
    height: 3px;
}

/* <button> */
.vbox-player.magenta button {
    position: relative;	
    height: 44px;
    cursor: pointer;
    border: none;
    background: none;
}

.vbox-player.magenta button:active {
    outline: none;
}

.vbox-player.magenta button:hover {
    
}

.vbox-smallbox {
    background: #EC0E63;
}

/* Playback Controls(Play, Pause) */
.vbox-player.magenta .vbox-play-button {
    float: left;
    display: block;
}
.vbox-player.magenta .vbox-play-button #playGlyph {
    display: block;
    margin: auto;
}
.vbox-player.magenta .vbox-play-button #pauseGlyph {
    display: none;
    margin: auto;
}

.vbox-player.magenta .vbox-play-button:hover #playGlyph {
    opacity: 0.8;
}

.vbox-player.magenta .vbox-paused-button #playGlyph {
    display: none;
}
.vbox-player.magenta .vbox-paused-button #pauseGlyph {
    display: block;
}

.vbox-player.magenta .vbox-paused-button:hover #pauseGlyph {
    opacity: 0.8;
}
.vbox-player.magenta .vbox-paused-button:hover #pauseGlyph {
    opacity: 0.8;
}

.vbox-player.magenta .vbox-embed-link-button {
    float: right;
    display: none;
}

/* Seek Slider */
.vbox-timeline {
    position: absolute;
    bottom: 17px;
    left: 0;
    right: 0;
    margin: 0 165px 0 86px;
/*    padding: 10px 0;*/
}

.vbox-timeline.nobiggen {
    margin: 0 130px 0 85px;
}

.vbox-timeline.mobile {
    margin: 0 90px 0 56px;
}

.vbox-timeline.nobiggen_emb {
    margin: 0 170px 0 85px;
}

.vbox-timeline.mobile_emb {
    margin: 0 130px 0 56px;
}

.vbox-player.magenta .vbox-seek-slider {
    display: block;
    height: 11px;
    border: none;
    z-index: 2;
    cursor: pointer;
    line-height: 0;
    background: url('hwhitetr.svg') center 4px repeat-x !important;
}

.vbox-player.magenta .vbox-buffer-small, .vbox-player.magenta .vbox-seek-small {
    position: absolute;
    top: 0px;
    height: 3px;
    z-index: 900;
}
.vbox-player.magenta .vbox-buffer-small {
    width: 100%;
    background: rgba(255.255.255,0.8) !important;	

}
.vbox-player.magenta .vbox-seek-small {
    background: #EC0E63 !important;
}

.vbox-player.magenta .vbox-seek-slider .ui-slider-handle {
    line-height: 0px;
    position: absolute;
    top: 1px;
    margin-left: -4px;
    width: 9px;
    height: 9px;
    border-radius: 9px;
    border: none;
    background: #EC0E63;
    cursor: pointer;
}

.vbox-player.magenta .vbox-seek-slider:hover .ui-slider-handle {
    display: block;
}

.vbox-player.magenta .vbox-seek-slider:hover .ui-slider-handle , .vbox-player.magenta .vbox-seek-slider:active .ui-slider-handle {
    line-height: 0px;
    position: absolute;
    top: -4px;
    margin-left: -9px;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    border: 3px solid rgba(255,255,255,0.8);
    background: #EC0E63;
    cursor: pointer;
}

.vbox-player.magenta .vbox-seek-slider .ui-slider-range {	
    background: url('hpink.svg') center 4px repeat-x !important;
}

/* Bubble */
.vbox-player.magenta .vbox-bubble {
    bottom: 24px;
    position: absolute;
    left: 0;
    color: #333;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 3px;
    background: #ffffff;
    z-index: 1002;
}

.vbox-player.magenta .vbox-bubble-img {
    width: 120px;
    height: 68px;
    margin: auto;
}

.vbox-player.magenta .vbox-bubble-time {
    cursor: pointer;
}

.vbox-player.magenta .vbox-bubble.show-bubble {
    display: block;
}

.vbox-player.magenta .vbox-bubble-arrow {
    display: none;
    top: 0; 
    left: 0;
    margin-top: -14px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #FFFFFF;
}

.vbox-player.magenta .vbox-bubble-arrow.show-bubble-arrow {
/*    display: block;*/
}

/* Timer */
.vbox-player.magenta .vbox-timer-box-left, .vbox-player.magenta .vbox-timer-box-right {
    padding-top: 14px;
    font-size: 12px;
}

.vbox-player.magenta .vbox-timer-box-left {
    float: left;
}

.vbox-player.magenta .vbox-timer-box-left.mobile {
    margin: 0 0 0 15px;
}

.vbox-player.magenta .vbox-timer-box-right {
    float: right;
    margin: 0 5px 0 0;
}

.vbox-player.magenta .vbox-timer-total {
    color: #ffffff;
}

.vbox-player.magenta .vbox-timer {
    color: #ffffff;
}


/* Volume Container */
.vbox-player.magenta .vbox-volume-box {
    float: right;
    position: relative;
    line-height: 0px;
}

/* Volume Button */

.vbox-player.magenta .vbox-volume-button #volGlyph {
    margin: auto;
    display: block;
}
.vbox-player.magenta .vbox-volume-button #muteGlyph {
    margin: auto;
    display: none;
}

.vbox-player.magenta .vbox-volume-mute #volGlyph {
    display: none;
}

.vbox-player.magenta .vbox-volume-mute #muteGlyph {
    display: block;
}

/* Volume Slider */


.vbox-player.magenta .vbox-volume-slider {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 37px;
    height: 90px;
    background: url(vwhite.svg) 17px center repeat-y;
    cursor: pointer;
    
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;

    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.vbox-player.magenta .vbox-volume-box:hover .vbox-volume-slider {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
}

.vbox-player.magenta .vbox-volume-slider .ui-slider-handle {
    line-height: 0px;
    left: 50%;
    margin-left: -5px;
    width: 9px;
    height: 9px;
    border-radius: 9px;
    border: none;
    background: #EC0E63;
    cursor: pointer;
}

.vbox-player.magenta .vbox-volume-slider:hover .ui-slider-handle {
    display: block;
}

.vbox-player.magenta .vbox-volume-slider:hover .ui-slider-handle, .vbox-player.magenta .vbox-volume-slider:active .ui-slider-handle {
    line-height: 0px;
    left: 50%;
    margin-left: -10px;
    margin-bottom: -4px;
    width: 18px;
    height: 18px;
    border-radius: 12px;
    border: 3px solid rgba(255,255,255,0.8);
    background: #EC0E63;
    cursor: pointer;
}

.vbox-player.magenta .vbox-volume-slider .ui-slider-range {	
    background: url(vpink.svg) 17px center repeat-y;
}

/* Biggen Button */
.vbox-player.magenta .vbox-biggen-button {
    float: right;
}

.vbox-player.magenta .vbox-biggen-button:hover #bgnGlyph {
    opacity: 0.8;
}

/* Fullscreen Button */
.vbox-player.magenta .vbox-fullscreen-button {
    float: right;
}

.vbox-player.magenta .vbox-fullscreen-button:hover #fsGlyph {
    opacity: 0.8;
}

/* settings button */
.vbox-player.magenta .vbox-settings-button {
    
}

/* share button */
.vbox-player.magenta .vbox-share-button:hover #shareGlyph {
    opacity: 0.8;
}

/* addto button */

.vbox-player.magenta .vbox-addto-button:hover #addtoGlyph {
    opacity: 0.8;
}

/* Vote Up Button */
.vbox-player.magenta .vbox-voteup-button {
    float: right;
    background: url(btn_like.png) center no-repeat;
    width: 90px;
    display: none;
}
.vbox-player.magenta .vbox-voteup-button.voted-up {
    background: #000 url(btn_like_active.png) center no-repeat;
    cursor: default;
}
.vbox-player.magenta .vbox-voteup-button.voted-up:hover {
    background: #000 url(btn_like_active.png) center no-repeat;
    cursor: default;
}
.vbox-player.magenta .vbox-voteup-button:hover {
    background: #000 url(btn_like_over.png) center no-repeat;
}
.vbox-player.magenta .vbox-voteup-button:active {
    background: #000 url(btn_like_active.png) center no-repeat;
}

/* Vote Down Button */
.vbox-player.magenta .vbox-votedown-button {
    float: right;
    background: url(btn_dislike.png) center no-repeat;
    width: 45px;
    display: none;
}
.vbox-player.magenta .vbox-votedown-button.voted-down {
    background: #000 url(btn_dislike_active.png) center no-repeat;
    cursor: default;
}
.vbox-player.magenta .vbox-votedown-button.voted-down:hover {
    background: #000 url(btn_dislike_active.png) center no-repeat;
    cursor: default;
}
.vbox-player.magenta .vbox-votedown-button:hover {
    background: #000 url(btn_dislike_over.png) center no-repeat;
}
.vbox-player.magenta .vbox-votedown-button:active {
    background: #000 url(btn_dislike_active.png) center no-repeat;
}

/* Fullscreen Mode */
.vbox-player.magenta .vbox-controls.fullscreen-controls {	
    left: 0px;
    bottom: 0px;
}
.vbox-player.magenta .vbox-controls-small.fullscreen-controls {	
    left: 0px;
    bottom: 0px;
}

.vbox-player.magenta .vbox-controls.fullscreen-controls .vbox-biggen-button {
    display: none;
}

.vbox-player.magenta .vbox-rel-thumbarea {
    margin-left: 200px;
}

/* Tooltip */
.vbox-player.magenta .vbox-tooltip {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    background: rgba(70, 70, 70, 0.7);

    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0px -1px 1px #000;

    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    z-index: 9999;

    opacity: 0;
    visibility: hidden;

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.vbox-player.magenta .vbox-tooltip.show-tooltip{
    opacity: 1;
    visibility: visible;
}
/* Captions */

.vbox-player.magenta .vbox-caption-box {
    margin: auto;
    width: 60%;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 16px;
    line-height: 20px;
}

.vbox-player.magenta .vbox-caption.fullscreen-controls .vbox-caption-box {
    font-size: 34px;
    line-height: 40px;
}

.vbox-player.magenta .vbox-cap-adw {
    bottom: 45px;
}
.vbox-player.magenta .vbox-cap-adw.controls-visible {
    bottom: 73px;
}
.vbox-player.magenta .vbox-cap-adw.fullscreen-controls {
    bottom: 73px;
}

/* Play Effect */

.vbox-player.magenta .play-effect {
    width: 29px;
    height: 40px;
    margin: -20px 0 0 -14px;
}

.vbox-player.magenta .play-effect #playGlyph {
    width: 100%;
    height: 100%;
}

.vbox-player.magenta .pause-effect {
    width: 46px;
    height: 40px;
    margin: -20px 0 0 -23px;
}

.vbox-player.magenta .pause-effect #pauseGlyph {
    width: 100%;
    height: 100%;
}

.vbox-player.magenta .play-init {
    width: 29px;
    height: 40px;
    margin: -20px 0 0 -14px;
}

.vbox-player.magenta .play-init #playGlyph {
    width: 100%;
    height: 100%;
}

.vbox-player.magenta .camera-effect {
    display: none;
    background: #000 url(camera.png) center no-repeat;
    width: 80px;
    height: 40px;
    margin-top: -20px;
    margin-left: -40px;
}

.vbox-player.magenta .vbox-static.static-on {
    background: url(static.gif);
}

.vbox-player.magenta .vbox-rel-video-controls {
    position: absolute;
    top: 50%;
    width: 100%;
}

.vbox-player.magenta .vbox-rel-leftarea, .vbox-player.magenta .vbox-rel-rightarea {
    width: 40px;
    height: 100%;
    display: none;
}

.vbox-player.magenta .vbox-rel-leftarrow, .vbox-player.magenta .vbox-rel-rightarrow {
    width: 40px;
    height: 100%;
    display: none;
}

.vbox-player.magenta .vbox-rel-leftarrow {
    background: #000 url(left-arrow.png) center no-repeat;
}
.vbox-player.magenta .vbox-rel-leftarrow:active {
    background: #000 url(left-arrow-active.png) center no-repeat;
}

.vbox-player.magenta .vbox-rel-rightarrow {
    background: #000 url(right-arrow.png) center no-repeat;
}
.vbox-player.magenta .vbox-rel-rightarrow:active {
    background: #000 url(right-arrow-active.png) center no-repeat;
}

.vbox-player.magenta .vbox-rel-thumbarea {
    width: 95%;
    height: 102px;
    margin: 0 auto 0 auto;
    overflow: hidden;
    /*border: 1px solid #ff0;*/
}

.vbox-player.magenta .vbox-rel-video {
    width: 182px;
    height: 102px;
    float: left;
    margin: 1px;
    font-size: 10px;
    /*border: 1px solid #f00;*/
}

.vbox-player.magenta .vbox-rel-link {
    position: relative;
    display: block;
}

.vbox-player.magenta .vbox-rel-link img {
    width: 181px;
    height: 102px;
}

.vbox-player.magenta .vbox-rel-video-info {
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 182px;
    height: 102px;
}

.vbox-player.magenta .vbox-rel-video-uploader {
    position: absolute;
    bottom: 6px;
    left: 0;
}

.vbox-player.magenta .vbox-rel-video-time {
    position: absolute;
    bottom: 6px;
    right: 0;
}

.vbox-player.magenta .vbox-rel-video a { color: #ffffff; }

.vbox-player.magenta .vbox-rel-link:hover .vbox-rel-video-info {
    display: block;
}

.vbox-player.magenta .vbox-rel-video-info.touchscreen {
    display: block;
    background: none;
    border: 1px solid #666666;
}

.vbox-player.magenta .vbox-rel-pagearea {
    width: 30%;
    height: 20px;
    margin: 10px auto 0 auto;
    overflow: hidden;
}

.vbox-player.magenta .vbox-rel-page {
    line-height: 0;
    width: 9px;
    height: 9px;
    border-radius: 9px;
    border: none;
    background: #EC0E63;
    
    float: left;
    cursor: pointer;
    margin: 5px 8px 0 8px;
}

.vbox-player.magenta .vbox-rel-page.active-page {
    line-height: 0;
    width: 18px;
    height: 18px;
    border-radius: 12px;
    border: 3px solid rgba(255,255,255,0.8);
    background: #EC0E63;
    margin-top: 0;
}

.vbox-player.magenta .vbox-adwise {
    margin: auto;
    width: 75%;
    max-width: 728px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #3F3F3F;
    height: 71px;
    position: relative;
}

.vbox-player.magenta .vbox-adw-thumb {
    width: 75px;
    height: 65px;
    margin: 3px;
    float: left;
    cursor: pointer;
}
.vbox-player.magenta .vbox-adw-info {
    height: 65px;
    padding: 3px;
    color: #FFFFFF;
    line-height: 17px;
    cursor: pointer;
}
.vbox-player.magenta .vbox-adw-title {
    font-size: 14px;
    font-weight: bold;
}
.vbox-player.magenta .vbox-adw-text {
    font-size: 12px;
    height: 33px;
}
.vbox-player.magenta .vbox-adw-url {
    font-size: 11px;
}

.vbox-player.magenta .vbox-adw-banner {
    cursor: pointer;
    font-size: 0px;
}

.vbox-player.magenta .vbox-adw-banner img {
    max-width: 100%;
}

.vbox-player.magenta .vbox-adw-btns {
    position: absolute;
    top: 0;
    right: 0;
}
.vbox-player.magenta .vbox-adw-leftarrow, .vbox-player.magenta .vbox-adw-rightarrow, .vbox-player.magenta .vbox-adw-close {
    float: left;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.vbox-player.magenta .vbox-adw-leftarrow {
    background: #000 url(adwise-leftarrow.png) center no-repeat;
}
.vbox-player.magenta .vbox-adw-leftarrow:hover {
    background: #000 url(adwise-leftarrow-over.png) center no-repeat;
}
.vbox-player.magenta .vbox-adw-leftarrow:active {
    background: #000 url(adwise-leftarrow-active.png) center no-repeat;
}
.vbox-player.magenta .vbox-adw-rightarrow {
    background: #000 url(adwise-rightarrow.png) center no-repeat;
}
.vbox-player.magenta .vbox-adw-rightarrow:hover {
    background: #000 url(adwise-rightarrow-over.png) center no-repeat;
}
.vbox-player.magenta .vbox-adw-rightarrow:active {
    background: #000 url(adwise-rightarrow-active.png) center no-repeat;
}
.vbox-player.magenta .vbox-adw-close {
    background: #000 url(adwise-close.png) center no-repeat;
}
.vbox-player.magenta .vbox-adw-close:hover {
    background: #000 url(adwise-close-over.png) center no-repeat;
}
.vbox-player.magenta .vbox-adw-close:active {
    background: #000 url(adwise-close-active.png) center no-repeat;
}

.vbox-player.magenta .vbox-adw-logo {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 118px;
    height: 20px;
    background: #000 url(adwise-logo.png) center no-repeat;
    cursor: pointer;
}
.vbox-player.magenta .vbox-adw-logo:hover {
    background: #000 url(adwise-logo-over.png) center no-repeat;
}
.vbox-player.magenta .vbox-adw-logo:active {
    background: #000 url(adwise-logo-active.png) center no-repeat;
}

.vbox-player.magenta .vbox-adwise-dot, .vbox-player.magenta .vbox-adwise-dot-small {
    background: none !important;
    border-right: 2px solid #FFFF05;
    display: none;
    z-index: 1001;
}

.vbox-player.magenta .vbox-adwise-dot {
    height: 5px;
    position: absolute;
    top: 3px;
}

.vbox-player.magenta .vbox-adwise-dot-small {
    height: 4px;
    position: absolute;
}

.vbox-player.magenta .vbox-video-adv-separtator-big{
    background: none !important;
    border-right: 2px solid #FFFF05;
    z-index: 1001;
    position: absolute;
    height: 5px;
    margin-top: -8px;
}

.vbox-player.magenta .vbox-video-adv-separtator-small{
    background: none !important;
    border-right: 2px solid #FFFF05;
    z-index: 1001;
    position: absolute;
    height: 4px;
}

.vbox-player.magenta .vbox-adwise-manbtn {
    width: 70px;
    height: 20px;
    position: absolute;
    right: 70px;
    bottom: 5px;
    background: url(adwise-open.png) center no-repeat;
    cursor: pointer;
}
.vbox-player.magenta .vbox-adwise-manbtn:hover {
    background: #000 url(adwise-open-over.png) center no-repeat;
}
.vbox-player.magenta .vbox-adwise-manbtn:active {
    background: #000 url(adwise-open-active.png) center no-repeat;
}

.vbox-player.magenta .vbox-preroll-closebtn {
    padding: 5px 5px 5px 5px;
    position: absolute;
    z-index: 1001;
    right: 10px;
    top: 7px;
    cursor: pointer;
    
    color: #FFFFFF;
    font-size: 10px;

    display: none;
}

.vbox-player.magenta .vbox-preroll-closebtn #closeGlyph {
    vertical-align: middle;
    margin: 0 0 0 10px;
}

.vbox-player.magenta .vbox-preroll-info {
    padding: 5px 5px 5px 5px;
    position: absolute;
    z-index: 1001;
    right: 10px;
    top: 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    
    color: #FFFFFF;
    font-size: 10px;

    display: none;
}

/* cast */
.vbox-player.magenta .vbox-cast {
    display: none;
    position: absolute;
    z-index: 2000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.vbox-player.magenta .vbox-cast-gray {
    position: absolute;
    z-index: 2002;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000000;
    opacity: 0.5;
}

.vbox-player.magenta .vbox-cast-img {
    position: absolute;
    z-index: 2001;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: contain;
}

/* Cast Controls(Play, Pause) */
.vbox-player.magenta .vbox-cast-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2010;
    display: none;
    padding: 0 5px 0 5px;
}

.vbox-player.magenta .vbox-cast-status {
    position: absolute;
    bottom: 100px;
    left: 30px;
    z-index: 2010;

    color: #c0c0c0;
    font-size: 36px;
    font-weight: bold;
}

.vbox-player.magenta .vbox-cast-controls-top {
    position: absolute;
    top: 0px;
    z-index: 2030;
    width: 100%;
    display: none;
}

.vbox-player.magenta .vbox-cast-start-button {
    float: right;
    display: none;
    margin: 0 50px 0 0;
}

.vbox-player.magenta .vbox-cast-close-button {
    float: right;
    margin: 0 5px 0 0;
}

.vbox-player.magenta .vbox-cast-play-button {
    float: left;
    display: block;
}
.vbox-player.magenta .vbox-cast-play-button #playGlyph {
    display: block;
    margin: auto;
}
.vbox-player.magenta .vbox-cast-play-button #pauseGlyph {
    display: none;
    margin: auto;
}

.vbox-player.magenta .vbox-cast-play-button:hover #playGlyph {
    opacity: 0.8;
}

.vbox-player.magenta .vbox-cast-paused-button #playGlyph {
    display: none;
}
.vbox-player.magenta .vbox-cast-paused-button #pauseGlyph {
    display: block;
}

.vbox-player.magenta .vbox-cast-paused-button:hover #pauseGlyph {
    opacity: 0.8;
}
.vbox-player.magenta .vbox-cast-paused-button:hover #pauseGlyph {
    opacity: 0.8;
}

.vbox-player.magenta .vbox-cast-timeline {
    position: absolute;
    bottom: 17px;
    left: 0;
    right: 0;
    margin: 0 50px 0 45px;
}

.vbox-player.magenta .vbox-cast-seek-slider {
    display: block;
    height: 11px;
    border: none;
    z-index: 2;
    cursor: pointer;
    line-height: 0;
    background: url('hwhitetr.svg') center 4px repeat-x !important;
}

.vbox-player.magenta .vbox-cast-seek-slider .ui-slider-handle {
    line-height: 0px;
    position: absolute;
    top: 1px;
    margin-left: -4px;
    width: 9px;
    height: 9px;
    border-radius: 9px;
    border: none;
    background: #EC0E63;
    cursor: pointer;
}

.vbox-player.magenta .vbox-cast-seek-slider:hover .ui-slider-handle {
    display: block;
}

.vbox-player.magenta .vbox-cast-seek-slider:hover .ui-slider-handle , .vbox-player.magenta .vbox-cast-seek-slider:active .ui-slider-handle {
    line-height: 0px;
    position: absolute;
    top: -4px;
    margin-left: -9px;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    border: 3px solid rgba(255,255,255,0.8);
    background: #EC0E63;
    cursor: pointer;
}

.vbox-player.magenta .vbox-cast-seek-slider .ui-slider-range {	
    background: url('hpink.svg') center 4px repeat-x !important;
}

/* Volume Container */
.vbox-player.magenta .vbox-cast-volume-box {
    float: right;
    position: relative;
    line-height: 0px;
}

/* Volume Button */

.vbox-player.magenta .vbox-cast-volume-button #volGlyph {
    margin: auto;
    display: block;
}
.vbox-player.magenta .vbox-cast-volume-button #muteGlyph {
    margin: auto;
    display: none;
}

.vbox-player.magenta .vbox-cast-volume-mute #volGlyph {
    display: none;
}

.vbox-player.magenta .vbox-cast-volume-mute #muteGlyph {
    display: block;
}

/* Volume Slider */


.vbox-player.magenta .vbox-cast-volume-slider {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 37px;
    height: 90px;
    background: url(vwhite.svg) 17px center repeat-y;
    cursor: pointer;
    
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;

    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.vbox-player.magenta .vbox-cast-volume-box:hover .vbox-cast-volume-slider {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
}

.vbox-player.magenta .vbox-cast-volume-slider .ui-slider-handle {
    line-height: 0px;
    left: 50%;
    margin-left: -4px;
    width: 9px;
    height: 9px;
    border-radius: 9px;
    border: none;
    background: #EC0E63;
    cursor: pointer;
}

.vbox-player.magenta .vbox-cast-volume-slider:hover .ui-slider-handle {
    display: block;
}

.vbox-player.magenta .vbox-cast-volume-slider:hover .ui-slider-handle, .vbox-player.magenta .vbox-cast-volume-slider:active .ui-slider-handle {
    line-height: 0px;
    left: 50%;
    margin-left: -9px;
    margin-bottom: -4px;
    width: 18px;
    height: 18px;
    border-radius: 12px;
    border: 3px solid rgba(255,255,255,0.8);
    background: #EC0E63;
    cursor: pointer;
}

.vbox-player.magenta .vbox-cast-volume-slider .ui-slider-range {	
    background: url(vpink.svg) 17px center repeat-y;
}

.vbox-player.magenta .vbox-annotations-note  {width: 20px; height: 20px; background: url("//i49.vbox7.com/design/black_05.png") repeat; color: #ffffff; position: absolute; display: none;}
.vbox-player.magenta .vbox-annotations-note span {display:inline-block; padding: 10px;}
.vbox-player.magenta .vbox-annotations-frame {width: 20px; height: 20px; border: 1px solid #DDDDDD; color: #000000; position: absolute; display: none;}
.vbox-player.magenta .vbox-annotations-hint  {opacity: 1; display: none; background-color: #000000; color: #ffffff; width: 100%; top: 100%; position: absolute; text-align: center;}
.vbox-player.magenta .vbox-annotations-note:hover {background: url(//i49.vbox7.com/design/black_07.png) repeat; cursor: pointer;}
.vbox-player.magenta .vbox-annotations-frame:hover {cursor: pointer;}
.vbox-player.magenta .vbox-annotations-infobox-note{/*width: 0px; height: 0px;*/ line-height: 1;}
.vbox-player.magenta .vbox-annotations-infobox-frame{height: 20px; background-color: #DDDDDD; color: #000000; bottom: -21px; left: -1px; right: -1px; position: absolute; border: 1px solid #DDDDDD;}
.vbox-player.magenta .vbox-annotations-text-note{}
.vbox-player.magenta .vbox-annotations-text-frame{width: 0px; height: 0px; display: none;}

/* continous play */
.vbox-player.magenta .vbox-con-controls {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 0 0 0
}

.vbox-player.magenta .vbox-con-closebtn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.vbox-player.magenta .vbox-con-animaiton {
    float: left;
    width: 70px;
    height: 70px;
    margin: 0 20px 0 0;
}

.vbox-player.magenta .vbox-con-pagearea {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -75px 0 0 -150px;
    width: 300px;
    height: 150px;
}

.vbox-player.magenta .vbox-con-next {
    text-transform: uppercase;
    font-size: 15px !important;
    color: #cccccc;
    display: block;
    margin: 0 0 5px 0;
}

.vbox-player.magenta .vbox-con-pagearea a {
    font-weight: bold;
    font-size: 17px !important;
    text-decoration: none;
    color: #FFFFFF;

    line-height: 24px;
}

.vbox-player.magenta .vbox-set-controls {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 0 0 0
}

.vbox-player.magenta .vbox-set-closebtn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 22px;
    height: 22px;
    cursor: pointer;
    z-index: 100;
}

.vbox-player.magenta .vbox-set-closebtn:hover #closeGlyph {
    opacity: 0.8;
}


.vbox-player.magenta .vbox-set-panelcnt {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
    text-align: center;
}

.vbox-player.magenta .vbox-set-setting {
    color: #FFFFFF;
    font-size: 13px;
    display: inline-block;
    width: 100px;
    height: 50px;
    text-align: center;
    margin: 30px 0 0 0;
}

/* Settings CB (slider with on/off) */
.vbox-player.magenta .vbox-set-setting-cb {
    margin: 10px auto 0 auto;
    position: relative;
    width: 44px;
    height: 24px;
    border: 1px solid #787878;
    border-radius: 20px;
    cursor: pointer;
}

.vbox-player.magenta .vbox-set-setting-cb .ui-slider-handle {
    display: block;
    position: absolute;
    top: 0px;
    margin-top: -1px;
    line-height: 0px;
    height: 24px;
    width: 24px;
    background: #FFFFFF !important;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.vbox-player.magenta .vbox-set-setting-cb .ui-slider-range {
    background: #EC0E63;
    border-radius: 20px;
    height: 24px;
    left: -1px;
    position: absolute;
    top: -1px;
}


/* share page */

.vbox-player.magenta .vbox-share-controls {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 0 0 0
}

.vbox-player.magenta .vbox-share-closebtn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.vbox-player.magenta .vbox-share-closebtn:hover #closeGlyph {
    opacity: 0.8;
}


.vbox-player.magenta .vbox-share-panelcnt {
    margin: 10% auto auto;
    height: 40%;
    width: 50%;
    max-height: 250px;
    max-width: 320px;
}

.vbox-player.magenta .vbox-share-row {
    border-top: 1px solid #878588;
    font-size: 11px;
    color: #FFFFFF;
    padding: 4% 0;
}

.vbox-player.magenta .vbox-share-row:first-of-type {
    border: none;
    padding: 0;
    height: 24px;
}

.vbox-player.magenta .vbox-share-row-btn {
    display: inline-block;
    width: 33.3%;
    height: 32px;
    cursor: pointer;
    text-align: center;
}

.vbox-player.magenta .vbox-share-row-field {
    display: block;
    width: 100%;
    margin: auto;
    border-radius: 15px;
    border: none;
    color: #ffffff;
    background: #EC0E63;
    font-size: 11px;
    padding: 10px;
    overflow: hidden;
    cursor: pointer;
}


/* addto page */

.vbox-player.magenta .vbox-addto-controls {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 0 0 0
}

.vbox-player.magenta .vbox-addto-closebtn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.vbox-player.magenta .vbox-addto-closebtn:hover #closeGlyph {
    opacity: 0.8;
}


.vbox-player.magenta .vbox-addto-panelcnt {
/*    position: absolute;
    top: 20%;
    left: 25%;*/
    margin: 10% auto auto;
    max-height: 150px;
    max-width: 320px;
    min-width: 300px;
    height: 40%;
    width: 50%;
    background: #ffffff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}
    
    
.vbox-player.magenta .vbox-addto-row {
    border-top: 1px solid #878588;
    height: 50%;
    text-align: left;
    color: #222222;
    font-size: 16px;
    cursor: pointer;
    position: relative;
}

.vbox-player.magenta .addToFavBtn.favourited .favStroke {
    stroke: none !important;
    fill: #EC0E63 !important;
}

.vbox-player.magenta .vbox-addto-row:first-of-type {
    border: none;
}

.vbox-player.magenta .vbox-addto-row span {

}

.vbox-player.magenta .vbox-addto-icon { 
    position: absolute;
    top: 50%;
    margin: -10px 0 0 0;
    left: 10%;
}

.vbox-player.magenta .vbox-addto-icon svg {
    vertical-align: middle;
    margin: 0 10px 0 0;
}


@media only screen and (max-width : 400px) {
    .vbox-caption-box {font-size: 10px !important}
    .vbox-embed-title {font-size: 10px !important; padding: 2px 0 0 2px !important}
    .vbox-player.magenta .vbox-embed-ctitle { font-size: 10px !important; }
    .vbox-embed-additional-info {font-size: 10px !important; padding: 2px 0 0 2px !important}
    .vbox-embed-video-info { display: none !important }
    .vbox-embed-user-info { display: none !important }
    
    .vbox-player.magenta .vbox-set-setting { width: 80px !important; height: 40px !important; margin: 10px 0 0 !important; }
    .vbox-player.magenta .vbox-set-panelcnt { margin: -60px 0 0 -125px !important; }
}

@media only screen and (max-width : 330px) {
    .vbox-timer-box {display: none !important}
    .vbox-captions-button {width: 0px !important; height: 0px !important; overflow: hidden !important}
    .vbox-bubble, .vbox-bubble-arrow {display: none !important; width: 0px !important; height: 0px !important; overflow: hidden !important}
    
}

@media only screen  and (max-width : 200px) {
    .vbox-controls-top-cnt, .vbox-controls, .vbox-caption-box {display: none !important; width: 0px !important; height: 0px !important; overflow: hidden !important}
}

@media only screen  and (max-width : 150px) {
    .vbox-controls-top {display: none !important; width: 0px !important; height: 0px !important; overflow: hidden !important}
    .vbox-controls-right {display: none !important; width: 0px !important; height: 0px !important; overflow: hidden !important}
}

@media screen and (max-width: 680px) { 
    .vbox-player.magenta .vbox-con-controls {
        left: 10px !important;
        max-width: 400px !important;
    }
    
    .vbox-player.magenta .vbox-con-pagearea a {
        font-size: 14px !important;
    }
}