/*
Theme Name: arbspire

/*--------------------------------------------------------------
███╗   ██╗ ██████╗ ██████╗ ███╗   ███╗ █████╗ ██╗     ██╗███████╗███████╗
████╗  ██║██╔═══██╗██╔══██╗████╗ ████║██╔══██╗██║     ██║╚══███╔╝██╔════╝
██╔██╗ ██║██║   ██║██████╔╝██╔████╔██║███████║██║     ██║  ███╔╝ █████╗
██║╚██╗██║██║   ██║██╔══██╗██║╚██╔╝██║██╔══██║██║     ██║ ███╔╝  ██╔══╝
██║ ╚████║╚██████╔╝██║  ██║██║ ╚═╝ ██║██║  ██║███████╗██║███████╗███████╗
╚═╝  ╚═══╝ ╚═════╝ ╚═╝  ╚═╝╚═╝     ╚═╝╚═╝  ╚═╝╚══════╝╚═╝╚══════╝╚══════╝

--------------------------------------------------------------*/
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/*--------------------------------------------------------------
██████╗ ███████╗███████╗ █████╗ ██╗   ██╗██╗  ████████╗
██╔══██╗██╔════╝██╔════╝██╔══██╗██║   ██║██║  ╚══██╔══╝
██║  ██║█████╗  █████╗  ███████║██║   ██║██║     ██║
██║  ██║██╔══╝  ██╔══╝  ██╔══██║██║   ██║██║     ██║
██████╔╝███████╗██║     ██║  ██║╚██████╔╝███████╗██║
╚═════╝ ╚══════╝╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚═╝
--------------------------------------------------------------*/

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #EDEEF0;
    color: #3B3B3B;
    line-height: 1.5;
    font-size: 14px;
}


a {
    color: #439852;
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
    margin: 0.5em 0 0.25em 0;

}

h1.entry-title {
    font-size: 2rem;
    margin: 0;
    line-height:  1.3;
}

h2 {
    font-size: 1.5rem;
    margin: 0.5em 0 0.25em 0;

}

h3 {
    font-size: 1.125rem;
    margin: 0.5em 0 0.25em 0;
}

h4 {
    font-size: 1.25rem;
    margin: 0.5em 0 0.25em 0;
}

h5 {
    font-size: 1.125rem;
    margin: 0.5em 0 0.25em 0;
}

h6 {
    font-size: 1rem;
    margin: 0.5em 0 0.25em 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}

.container-nopadding {
    padding-left: 0;
    padding-right: 0;
}

.container-footer {
    max-width: 963px;
    margin-left: auto;
    margin-right: auto;
}

.order-1 {
    order: 1;
    padding-right: 7px;
}

.order-2 {
    order: 2;
    padding: 0 7px;
}

.order-3 {
    order: 3;
    padding-left: 7px;
}

.row {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: flex-start;
}

.wrap {
    -webkit-flex-wrap: wrap !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

.col {
    display: flex;
    position: relative;
    max-width: 100%; 
}


.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,.col-sm-6,.col-xs-12 {
    display: flex;
    position: relative;
    padding: 0 0.5em;
    max-width: 100%;
}

.col-2 {
    -webkit-flex-basis: 16.667%;
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
}

.col-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
}

.col-4 {
    -webkit-flex-basis: 33.333%;
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
}

.col-5 {
    -webkit-flex-basis: 41.667%;
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
}

.col-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
}

.col-7 {
    -webkit-flex-basis: 58.333%;
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
}

.col-8 {
    -webkit-flex-basis: 66.667%;
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%
}

.col-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
}

.col-10 {
    -webkit-flex-basis: 83.333%;
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
}

.text-primary {
    color: #5fD875;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .15rem;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
}

.ad1 {
    width: 728px;
    height: 90px;
    margin: 0 auto;
    background: blue;
}

.btn-primary {
    background-color: #54BE67;
    color: #fff;
    border-color: currentColor;
}

.btn-primary:hover {
    background-color: #439852 ;
}

.btn-primary:focus,
.btn-primary:active {
    background-color: #439852;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn-secondary {
    background-color: #2d2d2d;
    color: #fff;
    border-color: currentColor;
}

.btn-secondary:hover {
    background-color: #111 ;
}

.btn-secondary:focus,
.btn-secondary:active {
    background-color: #111;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn-danger {
    background-color: #8c2135;
    color: #fff;
    border-color: currentColor;
}

.btn-danger:hover {
    background-color: #7a1f30 ;
}

.btn-danger:focus,
.btn-danger:active {
    background-color: #7a1f30;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn-lg {
    padding: .75rem 1.25rem;
    font-size: 1.25rem;
    line-height: 1.333333;
    border-radius: .3rem;
}

.btn-sm {
    padding: .25rem .75rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

/*
██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗
██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝
██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗
██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║
╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝
*/

.site-header {
    background: #fff;
    min-height: 2.5em;
    max-height: 3em;
    width: auto !important;
    position: relative;
    margin-bottom: 1em;
}

.top-bar {
    background: #fff;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 100;
    height: 51px;
}

.menu {
    padding: .5em 0;
    text-align: center;
    list-style-type: none;
    margin: 0;
}

.menu li {
    display: inline-block;
}

.menu li a {
    display: block;
    padding: 0.5em 1em;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.menu li a:hover {
    color: #000;
}

.menu-footer-menu-container .menu li:first-child {
    margin-left: 280px;
}

.menu-footer-menu-container .menu li a {
    padding: 1em;
}

.main-navigation {
    height: 51px;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 50;
    -webkit-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.menu-toggled .main-navigation {
    -webkit-transform: translate3d(0,3.5rem,0);
    -ms-transform: translate3d(0,3.5rem,0);
    -o-transform: translate3d(0,3.5rem,0);
    transform: translate3d(0,3.5rem,0);
}

.menu-toggled .toggle-menu {
    color: #8c2135;
}

.btn-header {
    font-size: 1.5em;
    line-height: 1.9;
}

.site-info, .homepage-legal {
    font-size: 0.7em;
}

.site-info a, .homepage-legal a {
    color: #999;
}

.homepage-legal {
    margin-top: 10px;
    margin-bottom: -20px;
}

.homepage-legal ul {
    text-align: right;
}

.above-nav-bar-widget {
    margin: 20px 0 20px 0; 
}

/*
███╗   ███╗ █████╗ ██╗███╗   ██╗
████╗ ████║██╔══██╗██║████╗  ██║
██╔████╔██║███████║██║██╔██╗ ██║
██║╚██╔╝██║██╔══██║██║██║╚██╗██║
██║ ╚═╝ ██║██║  ██║██║██║ ╚████║
╚═╝     ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝
*/

/* .content-main {
    display: none;
} */

/* .col-sidebar {
    display: none;
}
 */
body.page .content-area {
    width: 780px;
    margin: 2em auto;
}

.content-area {
    width: 100%;
    margin-top: 2em;
}

.content-area p{
  font-size:17px;
  line-height:1.7;
}

.site-content {
    padding: 0;
}

.site-main {
    background: #fff;
    padding: 1em 1em 0 1em;
}

.page-title {
    text-align: center;
    color: #439852;
}

.entry-title {
    margin-bottom: 0;
}

.entry-content img {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: block;
    border: 0.5em solid #fff;
    width: 728px;
    height: auto;
    text-align: center;
    margin: 0 auto;
}

.entry-content .atm {
    display: block;
    text-align: center;
    margin: 10px auto 0 auto;
}

.home .article-thumb {
    height: 15em;
}


.home-header {
    margin-bottom: 2em;
    margin-top: 0.5em;
}

.home-header img {
    max-width: 100%;
    width: 100%;
}


.entry-footer {
    padding: 0.7em 0;
}

.entry-footer .cat-links a {
    background: #999;
    color: #fff;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 12px;
    transition: 0.3s ease-in-out;
    margin-right:;
}

.entry-footer .cat-links a:hover {
    color: #000;
}

/* Pagination */

body .post-pagination {
    height: auto;
}

.post-pagination {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.post-pagination .btn {
    width: 100%;
    height: 90px;
    padding: 20px;
    font-size: 2.5em;
    letter-spacing: 4px; 
    position: relative;
    color: #fff;
}

.post-pagination .btn:after {
    content: "\f105" "\f105";
    font-family: FontAwesome;
    position: absolute;
    top: 12px;
    font-size: 45px;
    right: 60px;
}

.post-pagination .n-btn {
    background-color: #439852;
}

.post-pagination .n-btn:hover {
    background-color: #5FD875;
}

.post-pagination .n-btn:active {
    background-color: #54BE67;
}

.fadein-navbar {
    display: none;
}


/*
█████╗ ██████╗  ██████╗██╗  ██╗██╗██╗   ██╗███████╗
██╔══██╗██╔══██╗██╔════╝██║  ██║██║██║   ██║██╔════╝
███████║██████╔╝██║     ███████║██║██║   ██║█████╗
██╔══██║██╔══██╗██║     ██╔══██║██║╚██╗ ██╔╝██╔══╝
██║  ██║██║  ██║╚██████╗██║  ██║██║ ╚████╔╝ ███████╗
╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝╚═╝  ╚═══╝  ╚══════╝
*/

.article-thumb {
    position: relative;
    z-index: 5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 15em;
}

.article-thumb-wrap {
    overflow: hidden;
}

.archive-post {
    width: 100%;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition:  0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.archive-post:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,.3),0 15px 12px rgba(0,0,0,.22);
}

.post-url {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2000;
    cursor: pointer;
}

.post-title {
    margin: 0.2em;
    font-size: 0.9em;
    font-weight: 700;
    letter-spacing: -1px;
    text-transform: uppercase;
}

.post-entry-header {
    padding: 0.5em;
    height: 3.5em;
    -webkit-transition: 0.6s ease-in-out;
    -o-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
    overflow: hidden;
}


.post-entry-meta {
    font-size: 0.75em;
    padding: 0 .6em .6em 1em;
    margin: 0;
    vertical-align: middle;
    padding-top: 0;
    margin-top: -3px;
}

/* .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
} */

.post-category {
    display: inline-block;
}

    .post-category .post-categories {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .post-category .post-categories li {
        display: inline-block;
        padding: 0 0 0.2em;
        font-size: 1em;
        font-weight: bold;
        vertical-align: middle;
    }

/* SIDEBAR */

.site-sidebar {
    background: #fff;
    text-align: center;
}

.site-sidebar .atm {
    margin-bottom: 20px;
    padding: 5px;
}

.sidebar-1{
  min-width: 170px;
  height: 0px;
}

.sidebar-2{
  min-width: 320px
}

.site-sidebar iframe {
    width: 100%;
    min-width: 160px;
}

.wap-sticky-banner-left,
.sticky-banner-left + div{
  position: fixed;
  top: 80px;
}

.wap-banner-width-300{
  min-width: 300px;
}

.wap-banner-width-336{
  min-width: 336px;
}

/* WIDGETS */
.widget {
    min-width: 160px;
}

.atm .add-text {
    display: block;
    padding-top: 10px;
} 
.add-text {
  font-size: 10px;
}

.above-title-widget img, .above-post-content-widget img, .above-navigation-widget img, .below-navigation-widget img, 
.above-nav-bar-widget img, .below-nav-bar-widget img, .above-title-widget img, .above-post-content-widget img, .footer-widget img {
    border: none;
    box-shadow: none;
    display: block;
    width: 100%;
    height: auto;
}

.above-title-widget {
    margin-bottom: 28px;
}

.above-navigation-widget, .above-title-widget, .above-post-content-widget, .below-navigation-widget, 
.above-nav-bar-widget, .below-nav-bar-widget, .above-title-widget, .above-post-content-widget, .footer-widget {
    display: block;
    text-align: center;
    margin: 10px auto 0 auto; 
}

.below-nav-bar-widget  {
    margin-top: 2em;
}

.above-navigation-widget .atm, .above-title-widget .atm, .above-post-content-widget .atm, .below-navigation-widget .atm, 
.above-nav-bar-widget .atm, .below-nav-bar-widget .atm, .above-title-widget .atm, .above-post-content-widget .atm, .footer-widget .atm {
    display: inline;
    margin: 0 10px;
}
.above-navigation-widget .atm{
  margin: 0px;
}
.home-below-nav-bar-widget {
    display: block;
    text-align: center;
    margin-top: 20px;
}
div#ppc-ad-placement-12 > div:last-child:first-child,
div#ppc-ad-placement-13 > div:nth-child(2):first-child{
    text-align: center;
    float: none;
}
div#ppc-ad-placement-12 > div:first-child,
div#ppc-ad-placement-13 > div:first-child {
    float: left;
    text-align: center;
    margin-bottom: 30px;
}
div#ppc-ad-placement-12 > div:last-child,
div#ppc-ad-placement-13 > div:nth-child(2) {
    float: right;
    text-align: center;
    margin-bottom: 30px;
}

div#ppc-ad-placement-13 > div:last-child:first-child{
    text-align: center;
    float: none;
}

/*
██╗  ██╗███████╗██╗     ██████╗ ███████╗██████╗ ███████╗
██║  ██║██╔════╝██║     ██╔══██╗██╔════╝██╔══██╗██╔════╝
███████║█████╗  ██║     ██████╔╝█████╗  ██████╔╝███████╗
██╔══██║██╔══╝  ██║     ██╔═══╝ ██╔══╝  ██╔══██╗╚════██║
██║  ██║███████╗███████╗██║     ███████╗██║  ██║███████║
╚═╝  ╚═╝╚══════╝╚══════╝╚═╝     ╚══════╝╚═╝  ╚═╝╚══════╝
*/

.list-unstyled {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: #b01015;
}

.text-secondary {
    color: #1a24ae;
}

.text-white {
    color: #fff;
}

.text-big {
    font-size: 1.3em;
}

.text-muted {
    color: #828282;
}

.center-x {
    position: absolute;
    left: 50%;
}

.center-x-y {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}

.m-t-1 {
    margin-top: 1em;
}

.m-t-2 {
    margin-top: 2em;
}

.m-t-3 {
    margin-top: 3em;
}

.m-t-5 {
    margin-top: 5em;
}

.m-b-1 {
    margin-bottom: 1em;
}

.m-b-2 {
    margin-bottom: 2em;
}

.m-b-3 {
    margin-bottom: 3em;
}

.m-b-5 {
    margin-bottom: 5em;
}

.m-r-1 {
    margin-right: 1em;
}

.m-l-1 {
    margin-left: 1em;
}

.p-t-xs {
    padding: 0.1em;
}

.has-padding {
    padding: 1em;
}

.img-responsive {
    width: 100%;
}

.relative {
    position: relative;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}


.cf:after {
    clear: both;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.z-depth-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}

.z-depth-2 {
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
}

.m-r-1 {
    margin-right: 1rem;
}

.hide {
    display: none;
}

.sticky { 
  float: none;
  position: fixed;
  top: 20px;
  z-index: 6;
  left: auto;
}

.advert_title {
  color: #666;
  display: block;
  font-size: 10px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 20px;
  padding-bottom: 9px;
  text-align: center;
}

div[class*="ad-sticky-"] {
    position: fixed;
    top: 10px;
    z-index: 999999;
}

/*
███╗   ███╗███████╗██████╗ ██╗ █████╗      ██████╗ ██╗   ██╗███████╗██████╗ ██╗███████╗███████╗
████╗ ████║██╔════╝██╔══██╗██║██╔══██╗    ██╔═══██╗██║   ██║██╔════╝██╔══██╗██║██╔════╝██╔════╝
██╔████╔██║█████╗  ██║  ██║██║███████║    ██║   ██║██║   ██║█████╗  ██████╔╝██║█████╗  ███████╗
██║╚██╔╝██║██╔══╝  ██║  ██║██║██╔══██║    ██║▄▄ ██║██║   ██║██╔══╝  ██╔══██╗██║██╔══╝  ╚════██║
██║ ╚═╝ ██║███████╗██████╔╝██║██║  ██║    ╚██████╔╝╚██████╔╝███████╗██║  ██║██║███████╗███████║
╚═╝     ╚═╝╚══════╝╚═════╝ ╚═╝╚═╝  ╚═╝     ╚══▀▀═╝  ╚═════╝ ╚══════╝╚═╝  ╚═╝╚═╝╚══════╝╚══════╝
*/

/*** MIN WIDTH ***/

@media (min-width: 544px) {
    .container {
        max-width: 576px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 780px;
    }

    .row {
        flex-wrap: nowrap;
    }

    .post-pagination {
        margin-top: 25px;
        margin-bottom: 6px;
    }

    .post-pagination-fadein {
        display: none;
    }

    .post-pagination-fadein .btn {
        display: none;
    }
 
}

@media (min-width: 992px) {
    .container {
        max-width: 780px;
    }

    .content-main {
        width: 780px;
        margin: 0px auto;
    }

    .content-main.sidebar-1-active{
      margin: 0px;
    }

    .content-main.sidebar-2-active{
      margin: 0px auto;
      margin-right: 0px;
    }
    .content-main.sidebar-1-active.sidebar-2-active{
      margin: 0px;
    }
}

@media (min-width: 1126px) {
    .container {
        max-width: 1320px;
    }
}

@media(min-width: 992px) {
    .col-4:nth-of-type(3n+4) {
        clear: left;
    }
}


/*** MAX WIDTH ***/

@media(max-width: 1227px) {

    .order-3 {
        display: none;
    }
}

@media (max-width:  1200px) {
    .home .article-thumb {
        height: 10em;
    }
}

@media(max-width: 1125px) {
    .col-sidebar {
        display: none;
    }

    .col {
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    .home .article-wrap .col-4 {
        max-width:  50%;
        flex-basis: 50%;
    }

    .col-sm-6 {
        width: 50%;
    }

    body.page .content-area {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .col {
        padding: 0 .5em;
    }
    
    .col-xs-12 {
        width: 100%;
    }

    .article-thumb {
        height: 10em;
    }

    .col-9 {
        width: 100%;
        max-width:  100%;
        flex-basis: 100%;
    }

    h1 {
        font-size: 2rem;
        margin: 0.5em 0 0.25em 0;
    }

    h1.entry-title {
        font-size: 2.2rem;
        margin: 0 0 .4em 0;
        line-height:  1.1;
        word-wrap: break-word;
    }

    h2 {
        font-size: 1.6rem;
        margin: 0.5em 0 0.63em 0;
        line-height: 1.5;

    }

    h3 {
        font-size: 1.25rem;
        margin: 0.5em 0 0.25em 0;
    }

    h4 {
        font-size: 1.125rem;
        margin: 0.5em 0 0.25em 0;
    }

    h5 {
        font-size: 1rem;
        margin: 0.5em 0 0.25em 0;
    }

    h6 {
        font-size: 1rem;
        margin: 0.5em 0 0.25em 0;
    }

    p {
        font-size: 22px;
        line-height: 1.5;
    }

    body.page .content-area {
        margin-top: 4em;
        padding: 0 .5em
    }

    .site-header {
        margin-bottom: 3em;
    }

    .homepage-legal {
        margin-top: 1em;
    }

    .post-entry-header {
        height: 4.5em;
        margin-bottom: .5em;
    }

    .post-category {
        margin-bottom: -2px;
    }

    .post-category .post-categories li{
        font-size: 1em;
    }

    .post-entry-meta {
        display: table-cell;
        height: 5em;
        font-size: 0.75em;
        padding: 0 0 .6em 1em;
        margin: 0;
        vertical-align: bottom;
        margin-top: -3px;
    }

    .content-area {
        margin-top: 1em;
    }

    .entry-content img {
        max-width: 100%;
    }

    .below-nav-bar-widget {
        margin-top: 50px;
    }

    .mobile-home-below-nav-bar-widget {
        display: block;
        text-align: center;
        margin-top: 4em;
        margin-bottom: -3.5em;
    }

    .mobile-footer-widget {
        text-align: center; 
    }

/* Navigation */

    .top-bar {
        height: 80px;
    }

    .top-bar .container {
        padding-left: 0;    
    }

        .top-bar div:nth-child(2) {
            display: inline-block;
        }

        .site-branding img {
            width: 280px;
            padding-top: 14px;
            padding-left: 5px;
        }

        .btn-header {
            font-size: 1.6em;
        }

        .btn-header i {
            padding-top: 27px;
        }

        .main-navigation {
            height: auto;
            transform: translate3d(0,-13.5rem,0);
        }

        .main-navigation .menu {
            padding: 1.8em 0;
        }
        .main-navigation .menu li{
          display: block;
        }

        .main-navigation .menu li a {
            padding: .7em;
        }

    .menu-toggled .main-navigation {
        -webkit-transform: translate3d(0,4.5rem,0);
        -ms-transform: translate3d(0,4.5rem,0);
        -o-transform: translate3d(0,4.5rem,0);
        transform: translate3d(0,4.5rem,0);
    }

/* Pagination */

    .post-pagination {
        bottom: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        height: 60px;
    }

    .post-pagination .btn {
        padding-left: 30px;
        font-size: 35px;
    }

    .post-pagination .btn:after {
        content: "\f105" "\f105";
        font-family: FontAwesome;
        position: absolute;
        top: 10px;
        font-size: 45px;
        right: 10px;
    }

    .menu-footer-menu-container .menu li:first-child {
        margin-left: 0;
    }

    /* Next Fadein Facebook Share Button */

.header-social-fadein {
    margin: 0;
    padding: 0;
}

.header-social-fadein li {
    display: inline-block;
    width: 50%;
}

.facebook-li {
    height: 70px;
    background: #294c89;
}

.header-social-fadein button {
    height: 70px;
    border: none;
    background-color: #294c89;
    padding: 0;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 3px;
    padding: 14px;
    outline: none;
}

.header-social-fadein a {
    font-weight: bold;    
    color: #fff;
}

.header-social-fadein button i {
    font-size: 30px;
}

/* Next Fade in Button */

    .fadein-navbar {
        width: 100%;
        height: 70px;
        text-align: center;
        position: fixed;
        z-index: 1000;
        opacity: .95;
        top: 0;
        left: 0;
        background-color: #439852;
    }

    .post-pagination-fadein {
        margin: 0; 
    }

    .post-pagination-fadein .btn {
        height: 70px;
        padding: 14px;
        font-size: 30px;
        letter-spacing: 4px; 
        position: relative;
    }

    .post-pagination-fadein .btn:after {
        content: "\f105" "\f105";
        font-family: FontAwesome;
        position: absolute;
        top: 13px;
        font-size: 30px;
        right: 10px;
    }

    .post-pagination-fadein .n-btn {
        background-color: #439852;
        font-weight: bold;
        padding: 13px 20px 14px 0;
    }

    .post-pagination-fadein .n-btn:active {
        background-color: #54BE67;
    }

    /* Legal Menu */

    .homepage-legal ul {
        text-align: center;
    }

    /* Widgets */

    .above-nav-bar-widget {
      position: relative;
      z-index: 51;
      background: #EDEEF0;
      margin-bottom: 0;
      margin-top: 0;
    }

    .below-nav-bar-widget {
        margin-top: 4em;
        margin-bottom: 1em;
    }

    .mobile-home-below-nav-bar-widget {
        display: block;
        text-align: center;
        margin-top: 4em;
        margin-bottom: -1em;
    }


    .mobile-above-title-widget, .mobile-above-post-content-widget, .mobile-above-navigation-widget, .mobile-below-navigation-widget, .mobile-footer-widget {
        display: block;
        text-align: center;
        margin: 0 auto 1em auto;
    }

    .mobile-above-post-content-widget, .above-post-content-widget, .mobile-footer-widget {
        margin: 0 auto;
    }

    .mobile-above-title-widget .atm, .mobile-above-post-content-widget .atm, .mobile-above-navigation-widget .atm, .mobile-below-navigation-widget .atm,
    .mobile-footer-widget .atm {
        display: block;
        margin: 0;
        padding: 0;
    }

    .mobile-footer-widget .atm {
        padding: 5px;
    }

    .mobile-above-title-widget img, .mobile-above-post-content-widget img, .mobile-above-navigation-widget img, .mobile-below-navigation-widget img,
    .footer-widget img {
        border: none;
        box-shadow: none;
        display: block;
        width: 100%;
        height: auto;
    }

    .above-title-widget {
        margin: 0 auto 1em auto;
    }

    .above-nav-bar-widget .atm, .below-nav-bar-widget .atm,  .footer-widget .atm  {
        display: block;
        margin: 0;
        padding: 5px;
    }

     .above-title-widget .atm, .above-post-content-widget .atm, .above-navigation-widget .atm, .below-navigation-widget .atm  {
        display: block;
        margin: 0;
        padding: 0px;
    }
}

@media (max-width: 544px) {
    .home .article-thumb {
        height: 8em;
    }
    .col-xs-12 {
        width: 100%;
    }

    .archive .col-4 {
        max-width:  50%;
        flex-basis: 50%;
    }

    .article-thumb {
        height: 8em;
    }
}

@media (max-width: 359px) {

    /* Top Bar */

    .site-branding img {
        width: 250px;
        padding-top: 16px;
    }

    /* Pagination */

   .post-pagination .btn {
        font-size: 30px;
        padding: 25px;
        padding-top: 23px;
    }
    
        .post-pagination .btn:after {
            font-size: 27px;
            top: 26px;
        }

    .post-pagination-fadein .btn {
        font-size: 30px;
        padding: 13px 20px 14px 0;
    }
    
        .post-pagination-fadein .btn:after {
            font-size: 30px;
            top: 12px;
            right: 5px;
        }

    /* Widgets */

    .above-navigation-widget .atm, .above-title-widget .atm, .above-post-content-widget .atm, .below-navigation-widget .atm, 
    .above-nav-bar-widget .atm, .below-nav-bar-widget .atm, .above-title-widget .atm, .above-post-content-widget .atm, .footer-widget .atm {
        margin: 0;
    }
}