/*-------header_base.css
// global reset
//-----*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}


/* fb and g plus buttons */
.btn-fb-login {
    background: none repeat scroll 0 0 #3c55a2;
    border: 1px solid #3c55a2;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    cursor: pointer;
    font-family: Arial,helvetica,sans-serif;
    height: 35px;
}

.btn-fb-login .icon {
    background: url("../images/common_sprite.png") no-repeat;
    display: inline-block;
    float: left;
    height: 28px;
    margin: 4px 10px;
    width: 15px;
    background-position: -8px -80px;
}

.btn-fb-login .title, .btn-fb-login .chf_btn_title {
    border-left: 2px solid #354c90;
    color: #fff;
    float: left;
    font-size: 140%;
    line-height: 34px;
    padding: 0 10px;
}

.btn-google-login {
    background:#d94d32;
    border: 1px solid #d94d32;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    cursor: pointer;
    height: 35px;
   
	 font-family: Arial,helvetica,sans-serif;
	 margin-top:10px;
}


.btn-google-login .icon {
    background: url("../images/common_sprite.png") no-repeat;
    display: inline-block;
    float: left;
    height: 28px;
    margin:4px 5px;
    width: 26px;
	background-position:-5px -117px;
	
}

.btn-google-login .title, .btn-google-login .chf_btn_title{
   border-left: 2px solid #c1452d;
    color: #fff;
    float: left;
    line-height: 34px;
    padding: 0 10px;
	font-size: 140%;
}
/* /fb g plus buttons */

ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
table { border-collapse: collapse; border-spacing: 0; }
acronym { cursor: help; }

/*--- seperator lines in dropdowns ---*/
ul.chf_ddn_options li.brbt { padding-bottom: 11px; border-bottom: 1px solid #ccc; }
ul.chf_account_links li.brbt { padding-bottom: 11px; border-bottom: 1px solid #ccc; }

/*--- embedded font's on the page ---*/
@font-face {
    font-family: 'RobotoRegular-1';
    src: url('../fonts/roboto/Roboto-Regular-webfont.eot');
    src: url('../fonts/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoThin-1';
    src: url('../fonts/roboto/Roboto-Thin-webfont.eot');
    src: url('../fonts/roboto/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-Thin-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-Thin-webfont.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoLight-1';
    src: url('../fonts/roboto/Roboto-Light-webfont.eot');
    src: url('../fonts/roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'webRupee-1';
    src: url('../fonts/webrupee/WebRupee.V2.0.eot');
    src: url('../fonts/webrupee/WebRupee.V2.0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webrupee/WebRupee.V2.0.woff') format('woff'),
         url('../fonts/webrupee/WebRupee.V2.0.ttf') format('truetype'),
         url('../fonts/webrupee/WebRupee.V2.0.svg#RobotoLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
.RobotoThin-1{ font-family:'RobotoThin', Arial, Helvetica, sans-serif; }
.RobotoRegular-1{ font-family: 'RobotoRegular', Arial, Helvetica, sans-serif;  }
.RobotoLight-1{ font-family: 'RobotoLight',Arial, Helvetica, sans-serif; }
.INR-1{ font-family:'webRupee-1'; }
.radius_all5{ -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px; }
.fontSize11{ font-family:Tahoma, Geneva, sans-serif; font-size:110%; }

/*---------------------sso_header.css ---------------------------------------------------------------------*/
textarea{ font-family:Arial, Helvetica, sans-serif; }

/*---------- Page Layout ----------*/
div.chf_wrapper{ margin:0 auto; }

/*---- Header ----*/
div.chf_header{ background:#fff; font-size:10px; color:#3f3f3f; font-family:Arial, Helvetica, sans-serif; }


/*------------------------------------------
// 3. PAGE COMMON STYLES
//	  Define content styles that are common to all the pages in the project. For example Logo in header, tabs in navigation, buttons, rounded boxes etc
//------------------------------------------*/

/*---- Common Sprite ----*/
.chf_home_nicon,.chf_flight_nicon,.chf_hotel_nicon,.chf_fph_nicon,.chf_rail_nicon,.chf_bus_nicon,.chf_car_nicon,.chf_holidays_nicon,.chf_mobile_nicon,.chf_giftcard_nicon,.chf_supports_nicon,.chf_bulletImg,.drop_arrow,.my_booking,.indian_flag,.chf_dropdown_arrow,.arrow_note,small.chf_canada_icn,small.chf_uae_icn,small.chf_india_icn,small.chf_us_icn,small.chf_us_icn,small.chf_bahrain_icn,small.chf_kuwait_icn,small.chf_sg_icn,.chf_erroricon,.chf_righticon,
.chf_drop_icon,.chf_back_mark,.chf_new_icon,.chf_all_arrow_down,.chf_arrow_rightnav,.chf_indian_flag_big,.chf_search_mag,.chf_irctc_icon,.chf_caller_icon,.chf_rp_nicon,.chf_rs_nicon,.chf_deals_nicon,.chf_stories_nicon,.chf_livechat_icon,.chf_fc_tip,.chf_fcbullet_img,.chf_checkbox_img span.chf_checkbox,.chf_pigi_icon,.chf_lock_icon, .chf_profile_default,.chf_unlock_icon, .chf_mtrLock_icon_1,.chf_explore_icon, .chf_mtr_tip, .chf_mtr_lock_icon, .chf_mtr_unlock_icon,.new_red_bg,.chf_us_flag_big,.chf_ae_flag_big,.chf_destguide_nicon{ background:url("../images/header_footer/common_header_footer_sprite_vernacular_08.png") no-repeat; font-size:0px; }

/*p.chf_logo .chf_logopart{ background:url("../images/header_footer/mmt_logo_strip1.png") 0 0 no-repeat; width:128px; height:50px; }
p.chf_logo .chf_doodle_part{ background:url("../images/header_footer/mmt_logo_strip1.png") -128px 0 no-repeat; height:50px; width:150px; }
*/
/*---- Header-Logo ----*/
div.chf_header p.chf_logo{ margin-right:25px; }
.chf_logopart{ background-position:0 0; width:162px; } 
 
/*---------- Header----------*/
div.chf_header .chf_padTop8{ padding-top:8px; } 
div.chf_header div.chf_toppart_hdr{ margin-bottom:5px; }
div.chf_header div.chf_left_portion_hdr{ width:310px; }
div.chf_header span.chf_drop_arrow{ background-position:0 0; width:8px; height:6px; margin-top:6px; }
div.chf_header div.chf_right_portion_hdr{ width:710px; margin-top:5px; }
div.chf_header.chf_intl_flt div.chf_right_portion_hdr{ width:710px; }
div.chf_header div.chf_topnav{ margin-bottom:6px; }
div.chf_header span.chf_center_part_hdr{ padding:0 4px; }
div.chf_header span.chf_indian_flag{ background-position:-30px 0; width:14px; height:11px; margin:3px 5px 0 0; }
div.chf_header span.chf_indian_flag_big{ background-position:-70px -16px; width:21px; height:14px; margin:7px 2px; }
div.chf_header span.chf_country_info{ margin-right:10px; padding:3px 0; min-height:28px; }
div.chf_header li.chf_currencyNavItem span.chf_country_info{ line-height:28px; font-size:12px; }
div.chf_header .chf_rhtNav{ border:1px solid #ccc; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; padding:0 5px; cursor:pointer; }
div.chf_header span.chf_currency_tab{ border:1px solid #ccc; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; padding:0 5px; }
div.chf_header span.chf_currency{ margin-right:8px; }
div.chf_header .chf_dropdown_arrow{ background-position:0 0; width:8px; height:5px; margin-top:14px; }

div.chf_navbar{ background:#1e52a4; border-bottom:solid 2px #ffcd03; padding:0 10px; height:42px; }


/*---- Header DDN's box shadow ----*/
.chf_boxshadow{ -webkit-box-shadow:0 2px 6px 0 rgba(0,0,0,0.4); -moz-box-shadow:0 2px 6px 0 rgba(0,0,0,0.4); -o-box-shadow:0 2px 6px 0 rgba(0,0,0,0.4); 
box-shadow:0 2px 6px 0 rgba(0,0,0,0.4); }


/*---- header buttons ----*/
.chf_primary_btn,a.chf_primary_btn{ -moz-border-radius:2px; -webkit-border-radius:2px; -o-border-radius:2px; border-radius:2px; background:#c63b00;font-size:140%; color:#fefeff !important; padding:4px 18px 5px; height:35px; line-height:24px; text-decoration:none !important; text-shadow:0 1px rgba(0,0,0,0.3); -webkit-appearance:button; }
.chf_primary_btn:hover{ color:#fff; background-color:#d83d05; box-shadow:inset 0 -2px 0 0 rgba(0, 0, 0, 0.30); }

.chf_secondary_btn,a.chf_secondary_btn{ -moz-border-radius:2px; -webkit-border-radius:2px; -o-border-radius:2px; border-radius:2px; background:#595959;font-size:140%; color:#fefeff !important; padding:4px 18px 5px; height:35px; line-height:24px; text-decoration:none !important; text-shadow:0 1px rgba(0,0,0,0.3); -webkit-appearance:button; }
a.chf_secondary_btn{ display:block; height:auto; }
.chf_secondary_btn:hover { background-color:#676767; color:#ffffff; }

.chf_secondary_btn_flat,a.chf_secondary_btn_flat{ -moz-border-radius:2px; -webkit-border-radius:2px; -o-border-radius:2px; border-radius:2px; background:#595959;font-size:140%; color:#fefeff !important; padding:4px 18px 5px; height:35px; line-height:24px; text-decoration:none !important; text-shadow:0 1px rgba(0,0,0,0.3);}
a.chf_secondary_btn_flat{ display:block; height:auto; }
.chf_secondary_btn_flat:hover { background-color:#676767; color:#ffffff; }

input.chf_login_btn{border:0; padding:0; width:96%; cursor:pointer; text-align:center; -moz-text-shadow:0 1px rgba(0,0,0,0.3); -webkit-text-shadow:0 1px rgba(0,0,0,0.3); -o-text-shadow:0 1px rgba(0,0,0,0.3); text-shadow:0 1px rgba(0,0,0,0.3); }
a.chf_login_btn{ width:96%; padding:4px 0 5px; text-align:center; -moz-text-shadow:0 1px rgba(0,0,0,0.3); -webkit-text-shadow:0 1px rgba(0,0,0,0.3); -o-text-shadow:0 1px rgba(0,0,0,0.3); text-shadow:0 1px rgba(0,0,0,0.3);  }
input.chf_signout_btn{ height:30px; padding:0; line-height:19px; width:100% !important; cursor:pointer; text-align:center; -moz-text-shadow:0 1px rgba(0,0,0,0.3); -webkit-text-shadow:0 1px rgba(0,0,0,0.3); -o-text-shadow:0 1px rgba(0,0,0,0.3); text-shadow:0 1px rgba(0,0,0,0.3); }


a.chf_loading,input.chf_loading,button.chf_loading{
	background-image:-webkit-linear-gradient(-45deg,rgba(255,255,255,0.3) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0.3) 75%,transparent 75%,transparent);
	background-image:-moz-linear-gradient(-45deg,rgba(255,255,255,0.3) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.4) 50%,rgba(255,255,255,0.4) 75%,transparent 75%,transparent);
	background-image:linear-gradient(-45deg,rgba(255,255,255,0.3) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0.3) 75%,transparent 75%,transparent);
	-webkit-transition:width 0.3s ease-in-out;
	-moz-transition:width 0.3s ease-in-out;
	-o-transition:width 0.3s ease-in-out;
	transition:width 0.3s ease-in-out;
	-webkit-background-size:50px 50px;
	background-size:50px 50px;
	-moz-animation:loading-stripes 2s infinite linear;
	-webkit-animation:loading-stripes 2s infinite linear;
	-o-animation:loading-stripes 2s infinite linear;
	-ms-animation:loading-stripes 2s infinite linear;
	animation:loading-stripes 2s infinite linear;
	cursor:default;
	box-shadow:none;
}

@-webkit-keyframes loading-stripes
{
	0%{background-position:0 0;}
	100%{background-position:50px 0;}
}
@-moz-keyframes loading-stripes
{
	0%{background-position:0 0;}
	100%{background-position:50px 0;}
}

a.chf_loading:disabled, input.chf_loading:disabled, button.chf_loading:disabled, a.chf_loading[disabled="disabled"], input.chf_loading[disabled="disabled"], button.chf_loading[disabled="disabled"] 
{
  cursor:default;
  opacity: 0.5;
}

/*---- Navigation ----*/
ul.chf_navigation.chf_fullWidth{ width:100%; }
ul.chf_navigation li{ float:left; border-left:solid 1px #3765ae; height:42px; text-align:center; }
ul.chf_navigation li.chf_last_tab{ border-right:1px solid #1b4992; }
ul.chf_navigation li.chf_last_tab a{ border-right:solid 1px #3765ae; }
ul.chf_navigation li.chf_right_tabs{ border-left:0; float:right; }
.chf_header ul.chf_navigation li a{ float:left; font-size:120%; font-family:Tahoma, Geneva, sans-serif; color:#fff; text-decoration:none; font-weight:normal; border-left:1px solid #1b4992; padding:10px 0; height:22px; cursor:pointer; position:relative;}
ul.chf_navigation li a:hover{ background:#1b4992; border-left:solid 1px #1b4992; color:#fff; }
/* new nav bar added */  
ul.chf_navigation li a.chf_home_active,ul.chf_navigation li a.chf_flight_active,ul.chf_navigation li a.chf_hotel_active,ul.chf_navigation li a.chf_fph_active,ul.chf_navigation li a.chf_rail_active,ul.chf_navigation li a.chf_bus_active,ul.chf_navigation li a.chf_car_active,ul.chf_navigation li a.chf_holidays_active,ul.chf_navigation li a.chf_deals_active,ul.chf_navigation li a.chf_stories_active,ul.chf_navigation li a.chf_rp_active,ul.chf_navigation li a.chf_rs_active,ul.chf_navigation li a.chf_destguide_active{ swidth:111px; padding:10px 14px; }


/*---- Navigation icons settings ----*/
.nav_icons{ display:inline-block; vertical-align:middle; width:24px; height:24px; }
.nav_text{ display:inline-block; padding:2px 0 0 2px; }
.chf_home_nicon{ background-position:-226px -111px; text-align:center; }
.chf_flight_nicon{ background-position:-244px -332px; }
.chf_hotel_nicon{ background-position:-268px -332px; }
.chf_fph_nicon{ background-position:-316px -356px; }
.chf_rail_nicon{ background-position:-268px -356px; }
.chf_bus_nicon{ background-position:-316px -332px; }
.chf_car_nicon{ background-position:-244px -356px; }
.chf_holidays_nicon{ background-position:-292px -332px; }
.chf_mobile_nicon{ background-position:-292px -356px; }
.chf_giftcard_nicon{ background-position:-340px -332px; }
.chf_rp_nicon{ background-position:-364px -332px; }
.chf_rs_nicon{ background-position:-339px -356px; }
.chf_supports_nicon{ background-position:-309px -72px; }
.chf_deals_nicon{ background-position: -294px -436px; }
.chf_destguide_nicon{ background-position:-388px -331px; }
.chf_stories_nicon{ background-position:-416px -381px; }

/*---- Navigation elements width ----*/
/*ul.chf_navigation li a.chf_home_active{ width:30px; padding:10px 8px; }*/
ul.chf_navigation li a.all_products { height:25px; padding:23px 0 10px; width:114px; }
ul.chf_navigation li a.all_products.active{ background:-webkit-gradient(linear, left top, left bottom, from(#fff1b1), to(#fcd72b)); background: -moz-linear-gradient(top, #fff1b1, #fcd72b); background:-o-linear-gradient(top,  #fff1b1,  #fcd72b); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff1b1', endColorstr='#fcd72b'); position:relative; z-index:100; color:#2f2f2f; }
.all_arrow_down{ background-position:-390px -3px; width:14px; height:11px; display:inline-block; margin:2px 0 0 3px; vertical-align:top; }
ul.chf_navigation li a.all_products.active .all_arrow_down{ background-position:-372px -3px; }


/*------- Active Tab Navigation Classes .. -------*/
/*--- Active Link ---*/
.chf_home_hdr .chf_home_active,.chf_flt_hdr .chf_flight_active,.chf_htl_hdr .chf_hotel_active,.chf_destguide_hdr .chf_destguide_active,.chf_fph_hdr .chf_fph_active,.chf_rail_hdr .chf_rail_active,.chf_bus_hdr .chf_bus_active,.chf_car_hdr .chf_car_active,.chf_hld_hdr .chf_holidays_active,.chf_mobile_hdr .chf_mobile_active,.chf_gc_hdr .chf_giftcard_active,.chf_rp_hdr .chf_rp_active,.chf_deals_hdr .chf_deals_active,.chf_stories_hdr .chf_stories_active,.chf_supports_hdr .chf_supports_active,.chf_home_hdr .chf_home_active:hover,.chf_flt_hdr .chf_flight_active:hover,.chf_htl_hdr .chf_hotel_active:hover,.chf_fph_hdr .chf_fph_active:hover,.chf_rail_hdr .chf_rail_active:hover,.chf_bus_hdr .chf_bus_active:hover,.chf_car_hdr .chf_car_active:hover,.chf_hld_hdr .chf_holidays_active:hover,.chf_mobile_hdr .chf_mobile_active:hover,.chf_gc_hdr .chf_giftcard_active:hover,.chf_rp_hdr .chf_rp_active:hover,.chf_deals_hdr .chf_deals_active:hover,.chf_stories_hdr .chf_stories_active:hover,.chf_supports_hdr .chf_supports_active:hover,.chf_destguide_hdr .chf_destguide_active:hover
{ background-color:#ffcd03; color:#2f2f2f !important; }


/*--- Active Link Icons ---*/
.chf_home_hdr .chf_home_nicon{ background-position:-226px 0; display:block; margin:0 auto; float:none; }
.chf_flt_hdr .chf_flight_nicon{ background-position:-244px -380px; }
.chf_htl_hdr .chf_hotel_nicon{ background-position:-268px -380px; }
.chf_fph_hdr .chf_fph_nicon{ background-position:-316px -404px; }
.chf_rail_hdr .chf_rail_nicon{ background-position:-268px -404px; }
.chf_bus_hdr .chf_bus_nicon{ background-position:-316px -380px; }
.chf_car_hdr .chf_car_nicon{ background-position:-244px -404px; }
.chf_hld_hdr .chf_holidays_nicon{ background-position:-292px -380px; }
.chf_mobile_hdr .chf_mobile_nicon{ background-position:-292px -404px; }
.chf_gc_hdr .chf_giftcard_nicon{ background-position:-340px -380px; }
.chf_rp_hdr .chf_rp_nicon{ background-position:-364px -380px; }
.chf_deals_hdr .chf_deals_nicon{ background-position:-329px -435px; }
.chf_supports_hdr .chf_supports_nicon{ background-position:-309px -72px; }
.chf_destguide_hdr .chf_destguide_nicon{ background-position:-388px -379px; }
.chf_stories_hdr .chf_stories_nicon{ background-position:-440px -384px; }

/*---------- Specefic LOB items ---------*/
p.chf_gs_form{ margin:5px 5px 0 0; }
span.chf_left_input{ padding:2px 0; border:1px solid #e3e3e3; border-right:0; height:20px; line-height:20px; }
small.chf_search_mag{ background-position:-96px 0; width:14px; height:13px; float:left; margin:3px; }
input.chf_search{ border:0; width:82px; height:16px; padding:2px; font-size:11px; }
input.chf_searchBtn{ border:1px solid #dbdbdb; float:left; }
.chf_intl_caller{width:155px;}
.chf_irctc{ width:140px; }
.chf_livechat{ width:90px; }
.chf_livechat_icon{ background-position:-413px -278px; width:18px; height:18px; margin-right:4px; }
.chf_caller_icon{ background-position:-372px -273px; width:28px; height:28px; margin-right:4px; }
.chf_caller_text{ font-size:12px; }
.chf_bkghelp_txt{ font-size:10px; text-transform:uppercase; line-height:1.2em; color:#999999; }
.chf_irctc_icon{ background-position:-234px -232px; width:29px; height:29px; margin-right:4px; }

/*-- default hide --*/
p.chf_gs_form,
.chf_currencyNavItem,
.chf_intl_caller,
.chf_irctc
{ 
	display:none; 
}

/*-- specific hide for other LOB's --*/


/*-- LOB specific [ show items ] --*/
.chf_home_hdr p.chf_gs_form,
.chf_intl_htl .chf_currencyNavItem,
.chf_intl_flt .chf_intl_caller,
.chf_rail_hdr .chf_irctc
{ 
	display:block; 
}

.chf_intl_caller{ margin-top:4px; }
.chf_intl_htl ul.chf_list_hdr_1 li.chf_countryNavItem{ padding-right:6px; }


/*---- List-1 ----*/
ul.chf_list_hdr_1 li{ float:left; font:110% Tahoma, Geneva, sans-serif; padding:0px 6px; }
ul.chf_list_hdr_1 li.chf_last{ border-right:none; padding-right:0px; }
ul.chf_list_hdr_1 li a{ color:#315da7; text-decoration:none; float:left; }
/*ul.chf_list_hdr_1 li a.chf_active,ul.chf_list_hdr_1 > li a:hover{ bax
ul.chf_list_hdr_1 li a.chf_active,ul.chf_list_hdr_1 > li a:hover{ color:#000; }

ul.chf_list_hdr_1 li a.chf_active{ border-bottom:solid 2px #d4d4d4; border-radius:3px 3px 0 0; -moz-border-radius:3px 3px 0 0; -webkit-border-radius:3px 3px 0 0; }
ul.chf_list_hdr_1 li a.chf_active.chf_add_border{ border-bottom:solid 1px #ccc; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;  }
ul.chf_list_hdr_1 li a.chf_active span.chf_dropdown_arrow{ background-position:-11px 0px; }


/*---- Top Dropdown & form fields settings ----*/
.chf_dropdowns{ border-style:solid; border-width:1px; border-color:#d4d4d4; background:#fff; position:absolute; z-index:100000; -moz-border-radius:2px; -webkit-border-radius:2px; -o-border-radius:2px; border-radius:2px; }
.chf_formfields{ background-color:#fbfbfb; border:solid 1px #e0e0e0; padding:4px 10px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px; }
/* .chf_formfields{ background-color:#fbfbfb; border:solid 1px #e0e0e0; padding:6px 12px; -moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px; border-radius:3px; }  */
.chf_formfields input.chf_textbox{ height:20px; line-height:20px; border:none; background:none; width:205px; font-size:120%; font-family:Arial, Helvetica, sans-serif; color:#a9a9a9; }
.chf_formfields input.chf_textbox:focus{ color:#2f2f2f; }
.chf_formfields input.chf_activeText{ color:#2f2f2f; }
.chf_errorfields{ border:solid 1px #f99bab; background-color:#fff4f4; color:#d90303; }
.chf_errorfields input.chf_textbox{ color:#d90303; }
.chf_login_form input.chf_checkbox,.chf_login_short input.chf_checkbox{ width:14px; height:14px; padding:0; margin-right:4px; }
.chf_error{ color:#d90303; font-size:110%; font-family:Tahoma, Geneva, sans-serif; clear:left; display:block; padding-top:3px; }
.chf_erroricon{ background-position:-19px -16px; width:13px; height:13px; margin:0 5px 0 0; }
.chf_error_msg{ width:208px; }
.chf_errortext{ width:212px; line-height:12px; }

/*---- Login form ----*/
.chf_login_form{ width:450px; padding:20px; }
.chf_login_form .chf_left_form{ width:235px; padding-right:8px; border-right:solid 1px #eee; margin-right:10px; }
.chf_login_form label{ font-size:110%; font-family:Tahoma, Geneva, sans-serif; margin-top:2px; width:195px; }
.chf_login_form .chf_marB5{ margin-bottom:5px; }
.chf_login_short{ padding:20px; width:230px; }
.chf_login_short label{ font-size:110%; font-family:Tahoma, Geneva, sans-serif; margin-top:2px; }
.chf_login_section{ padding:20px; width:516px; }
.chf_rightlogin{ padding-left:30px; border-left:solid 1px #e5e5e5; margin-left:30px; }
.chf_login_heading{ font-size:140%; color:#cb3904; margin-bottom:12px; }
.chf_leftlogin, .chf_rightlogin{ width:227px; }
.chf_usetime_booking{ font-size:110%; color:#a9a9a9; }

/* --neha gp --*/
.chf_login_short_gplus .chf_divider .chf_roundedGray { position: relative; left: -16px; top: 108px; font-size:120%; text-align:center; }
.chf_login_short_gplus .chf_divider .chf_roundedGray span { padding:6px 0; display: inline-block;}
.chf_login_short_gplus .chf_divider { height:248px; width:1px; margin:0 33px 0 25px; border-left:1px solid #d5d5d5; }
.chf_login_short_gplus{ padding:20px; width:500px; }


/*---- Account benefits List ----*/
.chf_account_benefits{ font:bold 110% Tahoma, Geneva, sans-serif; color:#e53c0d; }
.chf_account_benefitsList li{ float:left; margin-bottom:8px; }
.chf_account_benefitsList .chf_bulletImg{ background-position:-1px -16px; width:12px; height:12px; margin:2px 5px 0 0; }
.chf_account_benefitsList .chf_bulletText{ font-size:130%; width:175px; }


/*---- Other content settings ----*/
.chf_receive{ font-size:110%; font-family:Tahoma, Geneva, sans-serif; }
.chf_right_benefits{ width:195px; }
.chf_button_part{ border-top:solid 1px #e8e8e8; padding:10px; }
.chf_ddn_options{ font:normal 120% Arial, Helvetica, sans-serif; padding:13px 15px; }
.chf_ddn_options li{ margin-bottom:12px; }
.chf_ddn_options li.chf_last{ margin-bottom:0; }
.chf_ddn_options li.last{ margin-bottom:0; }
.chf_loggedin_optns{ width:190px; }
.chf_loggedin_optns .chf_secondary_btn{ width:150px; text-align:center; }
.chf_forgotPass{ font-size:120%; font-family:Tahoma, Geneva, sans-serif; margin-top:2px; }
.chf_newuserReg{ font-size:120%; font-family:Tahoma, Geneva, sans-serif; }
.chf_forgp_hdng{ color:#2f2f2f; font:normal 120% Arial, Helvetica, sans-serif; text-transform:uppercase; }
.chf_forgp_hdng_1{ text-align:center; font-size:150%; font-weight:600; margin-bottom:20px; }
ul.chf_ddn_options li h3.chf_forgp_hdng{ font-size:110%; }
.chf_ddn_options li.chf_dropdowns_headings{ margin-bottom:10px; }
.chf_textcontent{ font-size:120%; }
.chf_righticon{ background-position:-38px -16px; width:25px; height:25px; margin:0 5px 0 0; }
.chf_thanks_text{ color:#649a4f; font-size:150%; line-height:20px; width:200px; }
.chf_regagain{ font-size:120%; color:#878787; }


/*---- Dropdown menu Country DDN  ----*/
div.chf_other_countries{ width:150px; padding:15px; }
div.chf_other_countries p{ color:#b4b4b4; font-size:120%; margin-bottom:4px; }
div.chf_other_countries a{ text-decoration:none; }
div.chf_other_countries a:hover{ text-decoration:underline; }
div.chf_other_countries p.chf_selectCountryTxt{ margin-bottom:5px; color:#2f2f2f; text-transform:uppercase; }
small.chf_canada_icn,small.chf_uae_icn,small.chf_india_icn,small.chf_us_icn,small.chf_sg_icn,small.chf_kuwait_icn,small.chf_bahrain_icn{ width:16px; height:11px; margin-right:4px; border:1px solid #d6d6d6; display:inline-block; vertical-align:middle; }
small.chf_canada_icn{ background-position:0 -50px; }
small.chf_us_icn{ background-position:-41px -50px; }
small.chf_uae_icn{ background-position:-61px -50px; }
small.chf_india_icn{ background-position:-20px -50px; }
small.chf_sg_icn{ background-position:-80px -50px; }
small.chf_kuwait_icn{ background-position:-248px -443px; }
small.chf_bahrain_icn{ background-position:-276px -443px; }

ul.chf_currency_list li.chf_top_currency { border-bottom:1px solid #ebebeb; color:#d03e05; padding-bottom:5px; font-size:12px; }

/*-------
// general
//-----*/

.chf_flR { float: right; }
.chf_flL { float: left; }
.chf_hide{display:none;}
.chf_show{display:block;}
.chf_append_bottom{ margin-bottom:16px; }
.chf_append_bottomHalf{ margin-bottom:8px; }

/**
* Clearing Methods
* @see     http://yaml.de/en/documentation/basics/general.html
*/

/*.chf_clearfix_h:after{content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.chf_clearfix_h{display: inline-block;}
html[xmlns] .chf_clearfix_h{display: block;}
* html .chf_clearfix_h{ height:1%; overflow: visible; }*/

.chf_clearfix_h:before,.chf_clearfix_h:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.chf_clearfix_h:after { clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.chf_clearfix_h { *zoom: 1; }



/*------ blackoverlay ------ */
.chf_black_overlay{display:none;top:0;left:0;width:100%;height:100%;background-color:#000;z-index:1000;-moz-opacity:.4;opacity:.40;filter:alpha(opacity=40);position:absolute;}#chf_overlayiframe{width:auto;height:auto;background:#fff;overflow:auto;padding:10px;}#chf_overlaybox{overflow:auto;padding:15px;}.chf_select-free iframe{display:none;display:block;#position:absolute;#top:0;#left:0;z-index:-1;filter:mask();#width:900px;#height:900px;}

/* ------ Overlays Footer ------ */
div.chf_footer_overlays{ margin:20px 0; display:none; width:auto; height:auto; position:absolute; z-index:13000; -moz-box-shadow:0 0 30px 0 rgba(255,255,255,0.5); -webkit-box-shadow:0 0 30px 0 rgba(255,255,255,0.5); -o-box-shadow:0 0 30px 0 rgba(255,255,255,0.5); -box-shadow:0 0 30px 0 rgba(255,255,255,0.5);}
div.chf_footer_overlays p.chf_panel_txt{ background:#f7f7f7; background:-moz-linear-gradient(top, #fcfcfc, #f4f4f4); background:-webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f4f4f4)); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f4f4f4'); line-height:40px; font-size:180%; color:#d03e05; padding-left:16px; -moz-border-radius:6px 6px 0 0; -webkit-border-radius:6px 6px 0 0; border-radius:6px 6px 0 0; border:1px solid #d6d6d6;  }
div.chf_footer_overlays div.chf_overlay_section{ background:#fff; padding:10px 16px; border:1px solid #d6d6d6; border-top:none; -moz-border-radius:0px 0px 6px 6px; -webkit-border-radius:0px 0px 6px 6px; border-radius:0px 0px 6px 6px; }
div.chf_footer_overlays a.chf_closebtn{ background-position:-102px -22px; width:29px; height:29px; position:absolute; right:-10px; top:-15px; }




/*-------- Latest Cases [ Author: Kamal Sharma (12-June-2013) ] -----------*/

div.chf_header *,
div.chf_header *:before,
div.chf_header *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.chf_profile_icon{ width:26px; height:26px; margin:5px 5px 5px 0; }
.chf_ddn_options li.chf_sectionseprator{ margin-bottom:12px; padding-bottom:12px; border-bottom:solid 1px #e5e5e5; }



/*---- All menu settings ----*/
.chf_all_menudropdown{ background-color:#fff; border-top:3px solid #febe11; width:645px; position:absolute; z-index:100; display:none; }

/*---- all menu optionlist -----*/
.chf_all_menuoptionsList{ width:185px; }
.chf_all_menuoptionsList li{ font-size:14px; }
.chf_all_menuoptionsList li a{ color:#2f2f2f; display:block; padding:13px 0; border-style:solid; border-width:1px 0; border-color:#fff; padding-left:15px; }
.chf_all_menuoptionsList .chf_arrow_rightnav{ display:none; }
.chf_all_menuoptionsList > li > a:hover .chf_arrow_rightnav,.chf_all_menuoptionsList > li > a.active .chf_arrow_rightnav{ background-position:-409px -2px; width:10px; height:13px; display:block; margin:3px 10px 0 0; }
.chf_all_menuoptionsList li a:hover,.chf_all_menuoptionsList li a.active{ color:#cb3904; border-color:#e3e3e3; }
.chf_all_menuListitem{ margin:0 6px 0 -6px; position:relative; z-index:100;}

.chf_all_menuRightData{ width:444px; padding:15px 0 0 15px; border-left:solid 1px #eee; -webkit-box-shadow:2px 0 2px 0 rgba(0,0,0,0.1) inset; -moz-box-shadow:2px 0 2px 0 rgba(0,0,0,0.1) inset; -o-box-shadow:2px 0 2px 0 rgba(0,0,0,0.1) inset; box-shadow:2px 0 2px 0 rgba(0,0,0,0.1) inset; min-height:440px; }
.chf_all_menuRightData p{ font:12px Arial, Helvetica, sans-serif; line-height:16px; }
.chf_all_menuRightData h3{ font-weight:normal; margin-bottom:4px; }
.chf_all_menuRightData p{ margin-bottom:5px; }
.chf_all_menuRightData p a{ color:#2f2f2f; }
.chf_all_menuRightData p.chf_append_bottom,.chf_all_menuRightData .chf_append_bottom{ margin-bottom:20px; }
.chf_all_menuRightData h3 a{ font-size:14px; line-height:1.4em; color:#cb3904; }
.chf_all_rightImgText{ width:210px; font-size:280%;color:#4f4f4f; font-weight:normal; padding-right:22px; text-align:right; -moz-text-shadow:none; -webkit-text-shadow:none; -o-text-shadow:none; text-shadow:none;}
.chf_all_rightImgText.setTopText{ margin-top:45px; }
.chf_allleft_links{ width:210px; }

/*--- set background image of different LOB's ---*/
.chf_allMenu_data{ display:none; min-height:440px; }

div.chf_header a.chf_rhtNav:hover .chf_dropdown_arrow{ background-position:-11px 0px; width:8px; height:5px; }
div.chf_header a,div.chf_fb_overlayContents a{ text-decoration:none; color:#174392; }



/*-------- [screen css] rules for overlay and block UI -------*/
.chf_wait_box{ width:295px; font-family:Arial,Helvetica; background:#fff url("../images/loader.gif") no-repeat center 15px; border:1px solid #2f2f2f; border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;-o-border-radius:4px; text-align:center; padding:60px 0 20px; font-size:20px; z-index:11; }

div.chf_header a,div.chf_fb_overlayContents a,div.chf_header a:visited,div.chf_fb_overlayContents a:visited,div.chf_header a:link,div.chf_fb_overlayContents a:link,div.chf_header a:active,div.chf_fb_overlayContents a:active,div.chf_header a:focus,div.chf_fb_overlayContents a:focus{ color:#385daa; }
div.chf_header a:hover, div.chf_header a.chf_underLined{ text-decoration:underline; }

.chf_fb_overlayContents{ background:#fff; font-size:10px; color:#3f3f3f; font-family:Arial, Helvetica, sans-serif; }
.chf_fb_overlayContents .chf_fontSize11,.chf_fontSize11{ font-size:110%; font-family:Tahoma, Geneva, sans-serif; }
.chf_fb_overlayContents .chf_font120pc {font-size: 120%;}
.chf_fb_overlayContents .chf_font140pc {font-size: 140%;}
.chf_fb_overlayContents .chf_valign3 {vertical-align: 3px;}

/*------ Grid-976 ------*/
.chf_fb_overlayContents .chf_grid_976{ width:976px; margin:0 auto; }

/* .chf_fb_overlayContents .chf_roundedGray, .chf_fb_overlayContents .chf_yellowAlert, .chf_righticon, .chf_closeIcon, .chf_fb_overlayContents .chf_erroricon { background:url(../images/common_sprite.png) no-repeat; font-size:0px; } */
.chf_roundedGray, .chf_fb_overlayContents .chf_yellowAlert, .chf_righticon, .chf_closeIcon, .chf_fb_overlayContents .chf_erroricon { background:url(../images/common_sprite.png) no-repeat; font-size:0px; }
.chf_roundedGray {background-position:-1px -38px; width: 30px; height: 30px; display: inline-block;}

/* .chf_fb_overlayContents .chf_roundedGray {background-position: -1px -38px; width: 30px; height: 30px; display: inline-block;} */


/*---- buttons ---- */
.chf_fb_overlayContents .chf_primirary_button,.chf_fb_overlayContents a.chf_primirary_button{ -moz-border-radius:2px; -webkit-border-radius:2px; -o-border-radius:2px; border-radius:2px; background:#c63b00;font-size:140%; color:#fefeff !important; padding:4px 18px 5px; line-height:24px; text-decoration:none !important; text-shadow:0 1px rgba(0,0,0,0.3); border:0;}
.chf_fb_overlayContents .chf_primirary_button:hover{ color:#fff; background-color:#d83d05; box-shadow:inset 0 -2px 0 0 rgba(0, 0, 0, 0.30); }

.chf_fb_overlayContents .chf_secondary_button,.chf_fb_overlayContents a.chf_secondary_button{ -moz-border-radius:2px; -webkit-border-radius:2px; -o-border-radius:2px; border-radius:2px; background:#595959;font-size:140%; color:#fefeff !important; padding:4px 18px 5px; line-height:24px; text-decoration:none !important; text-shadow:0 1px rgba(0,0,0,0.3); border:0; }
.chf_fb_overlayContents a.chf_secondary_button{ display:block; height:auto; }
.chf_fb_overlayContents .chf_secondary_button:hover { background-color:#676767; box-shadow:0 -2px 0 0 rgba(0, 0, 0, 0.3) inset; color:#ffffff; }

.chf_fb_overlayContents a.chf_secondary_button.chf_case_1{ padding:3px 12px 4px; font-size:110%; margin-top:3px; }
.chf_fb_overlayContents a.chf_secondary_button.chf_case_2{ padding:5px 12px; font-size:120%; }

.chf_fb_overlayContents input.chf_primirary_button, .chf_fb_overlayContents input.chf_secondary_button	{ cursor:pointer; }

.chf_make_relative{ position:relative; }
.chf_make_block{ display:block; }
.chf_fb_overlayContents a.chf_back_button,.chf_back_button{ color:#2f2f2f; }
.chf_fb_overlayContents .chf_radius_all5{ -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px; }


.chf_fb_overlayContents a.chf_active .chf_home_icon,.chf_fb_overlayContents a:hover .chf_home_icon{ background-position:-68px -48px; }
.chf_fb_overlayContents a.chf_active .chf_booking_icon,.chf_fb_overlayContents a:hover .chf_booking_icon{ background-position:-68px -130px; }
.chf_fb_overlayContents a.chf_active .chf_docs_icon,.chf_fb_overlayContents a:hover .chf_docs_icon{ background-position:-68px -212px; }
.chf_fb_overlayContents a.chf_active .chf_prefrence_icon,.chf_fb_overlayContents a:hover .chf_prefrence_icon{ background-position:-68px -291px; }
.chf_fb_overlayContents a.chf_active .chf_co_traveller_icon,.chf_fb_overlayContents a:hover .chf_co_traveller_icon{ background-position:-68px -368px; }
.chf_fb_overlayContents a.chf_active .chf_profile_icon,.chf_fb_overlayContents a:hover .chf_profile_icon{ background-position:-68px -444px; }

.chf_fb_overlayContents div.chf_main h2 {color: #2f2f2f; font-size:140%; font-weight: normal; text-transform:uppercase; text-align:center; }
.chf_fb_overlayContents div.chf_main h2.chf_steps{ color:#d13f04; border-bottom:1px solid #e3e3e3; margin-bottom:16px; padding:8px 15px; }
.chf_fb_overlayContents .chf_faq_list_wrapper h2{color: #CA3A05; font:190% RobotoLight; float:left; border-bottom:0; padding-bottom:0; }
.chf_fb_overlayContents h3.chf_sub_heading{ font-size:160%; color:#2f2f2f; font-weight:normal; line-height:24px; border-bottom:1px solid #cccccc; padding-bottom:8px; }

.chf_fb_overlayContents span.chf_account_icon{ margin-right:25px; }

.chf_fb_overlayContents .chf_form_field{ width:620px; }
.chf_fb_overlayContents .chf_form_info{ font-size:130%; color:#2f2f2f; }
.chf_fb_overlayContents .chf_input_field{ -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px; border:1px solid #c1c0c0; }
.chf_fb_overlayContents .chf_input_field input{ background:none; border:none medium; padding:6px 8px; font-size:120%; color:#a4a4a4; width:295px;  }

.chf_fb_overlayContents .chf_fixed_button{ width:110px; text-align:center; }
.chf_fb_overlayContents .chf_rght_space{ margin-right:10px; }

.chf_fb_overlayContents .chf_error_icon{ margin-right:20px; }
.chf_fb_overlayContents .chf_error_text{ font-size:220%; color:#bc0100; line-height:26px; width:500px; margin-top:20px; }
.chf_fb_overlayContents .chf_text{ font-size:120%; }
.chf_fb_overlayContents .chf_text a{ text-decoration:none; }
.chf_fb_overlayContents .chf_text_1{ font-size:160%; color:#2f2f2f; line-height:16px; }
.chf_fb_overlayContents .chf_text_2{ font-size:130%; color:#2f2f2f; line-height:13px; }
.chf_fb_overlayContents .chf_sepratn_brder{ border-bottom:1px solid #e5e5e5; padding-bottom:6px; margin-bottom:6px; }

.chf_fb_overlayContents .chf_nav_sidebar.chf_fixed{ position:fixed;left:13.85%; }

.chf_fb_overlayContents .chf_label_field{ font-size:120%; color:#3f3f3f; width:140px; margin:5px 15px 0 0; text-align:right; }
.chf_fb_overlayContents .chf_field_area{ border:1px solid #cccccc; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px; padding:5px; background:#fdfdfd; }
.chf_fb_overlayContents .chf_field_area select{ border:none medium; background:none; font-size:120%; color:#878787; }
.chf_fb_overlayContents .chf_field_area input{ border:none medium; background:none; font-size:120%; color:#878787; }
.chf_fb_overlayContents .chf_type_1{ width:180px; }
.chf_fb_overlayContents .chf_type_2{ width:70px; }
.chf_fb_overlayContents .chf_type_3{ width:113px; }
.chf_fb_overlayContents #day{ width:50px; }
.chf_fb_overlayContents #month{ width:90px; }
.chf_fb_overlayContents #year{ width:60px; }
.chf_fb_overlayContents #contactNo { width:80px; }

.chf_fb_overlayContents .chf_rght_space_1{ margin-right:8px; }
.chf_fb_overlayContents .chf_support_file_name{ font-size:100%; font-family:Tahoma; color:#878787; width:345px; margin-top:7px; }


/*---- Account benefits List ----*/
.chf_fb_overlayContents .chf_account_benefits{ font-size:140%; color:#587400; }
.chf_fb_overlayContents .chf_account_benefitsList li{ float:left; margin-bottom:8px; }
.chf_fb_overlayContents .chf_account_benefitsList .chf_bulletImg{ background-position:-114px -546px; width:12px; height:12px; margin:4px 8px 0 0; }
.chf_fb_overlayContents .chf_account_benefitsList .chf_bulletText{ font-size:140%; line-height:18px; width:350px; }   

/*---- FAQ List ----*/
.chf_fb_overlayContents .chf_faq_list_wrapper{ border-bottom:solid 1px #eaeaea; padding-bottom:10px; margin-bottom:10px; }
.chf_fb_overlayContents .chf_faq_list li{ float:left; margin-right:10px; padding-right:10px; border-right:solid 1px #587dba; font-size:120%; line-height:15px; }
.chf_fb_overlayContents .chf_faq_list li.chf_last{ margin-right:0; border-right:0; padding-right:0; }

/*---- Account benefits Tooltip ----*/
.chf_fb_overlayContents .chf_benefits_acTT{  border:solid 1px #e5e5e5; padding:10px 15px; width:372px; font-size:80%; }
.chf_fb_overlayContents .chf_tip_top{ background-position:-81px -584px; width:19px; height:12px; position:absolute; left:10%; top:-12px; }

/*---- Pagination ----*/
.chf_fb_overlayContents .chf_pagination{ margin-top:7px; }
.chf_fb_overlayContents .chf_pagination li.chf_last{ margin-right:0; }
.chf_fb_overlayContents .chf_pagination li{ float:left; margin-right:16px; font-size:120%; }
.chf_fb_overlayContents .chf_pagination li a{ float:left; text-decoration:none; }
.chf_fb_overlayContents .chf_pagination li a.chf_prev, .pagination li a.chf_next{ color:#2f2f2f; font-size:110%; line-height:1; }
.chf_fb_overlayContents .chf_pagination li a.chf_current{ color:#b32900; }

/*---- Confirmation Tooltip ----*/
.chf_fb_overlayContents .chf_conf_tooltip{ background-color:#fefbec; border:solid 1px #fdd465; padding:6px 10px; width:350px; position:absolute; -moz-box-shadow:0 0 2px rgba(0,0,0,0.4); -webkit-box-shadow:0 0 2px rgba(0,0,0,0.4); -o-box-shadow:0 0 2px rgba(0,0,0,0.4); box-shadow:0 0 5px rgba(0,0,0,0.2); display:none; }
.chf_fb_overlayContents .chf_conf_tooltip .chf_tip_top{ background-position:-1px -621px; width:24px; height:17px; position:absolute; left:70px; top:-17px; }
.chf_fb_overlayContents .chf_conf_ttText{ color:#878787; line-height:1.4em; }
.chf_fb_overlayContents .chf_resolve_complain_tt{ width:118px; }
.chf_fb_overlayContents .chf_how_it_works{ width:235px; }
.chf_fb_overlayContents .chf_how_it_works .chf_tip_top{ top:-12px; height:12px; }
.chf_fb_overlayContents .chf_modehover_tooltip{ width:120px; }
.chf_fb_overlayContents .chf_intl_billing_tooltip{ width:200px; font-size:110%; }
.chf_fb_overlayContents .chf_intl_billing_tooltip .chf_tip_top{ top:-12px; height:12px; }
.chf_fb_overlayContents .chf_intl_billing_tooltip .chf_conf_ttText{ color:#2f2f2f; line-height:1.5em;}
.chf_fb_overlayContents .chf_resolve_complain_tt .chf_tip_top{ left:20px; top:-12px; height:12px;}
.chf_fb_overlayContents .chf_modehover_tooltip .chf_tip_top{ left:50px; top:-12px; height:12px;}
.chf_fb_overlayContents .chf_fare_tooltip{ width:230px; }
.chf_fb_overlayContents .chf_fare_tooltip .chf_tip_top{ left:44%; top:-12px; height:12px;}
.chf_fb_overlayContents .chf_conf_tt_close{ background-position:-266px -182px; width:19px; height:19px; position:absolute; right:-10px; top:-10px; }
.chf_fb_overlayContents .chf_alertcount_tooltip{ width:90px; }
.chf_fb_overlayContents .chf_alertcount_tooltip  .tip_top{ left:36px; top:-12px; height:12px; }


/*----- deployment error cases -----*/ 
.chf_fb_overlayContents .chf_alert_icon{ background-position:-367px -64px; width:21px; height:21px; margin-right:8px; }
.chf_fb_overlayContents .chf_deployment_errtext{ color:#8a3129; width:890px; }
.chf_fb_overlayContents .chf_hasCovered{ background:#fff7d6; border:solid 1px #d7d7d7; padding:5px 10px; }
.chf_fb_overlayContents .chf_hasCovered .chf_deployment_errtext{ color:#cb3804; width:920px;  }

/*----- loading overlays -----*/
.chf_fb_overlayContents .chf_wait_box{ width:300px; background:#fff url("../images/loader.gif") no-repeat center 15px; border:1px solid #2f2f2f; border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;-o-border-radius:4px; text-align:center; padding:60px 0 20px; font-size:20px; z-index:11; }
.chf_fb_overlayContents .chf_button_loading{ background:url("../images/refresh_2.gif") right bottom no-repeat; display:inline-block; width:16px; height:16px; margin-left:4px; 
vertical-align:middle; }

/*----- Register & Login Section ------*/
.chf_fb_overlayContents .chf_register_layout{ padding:15px 20px 15px; }
.chf_fb_overlayContents .chf_addborder{ border:1px solid #cfcfcf; }
.chf_fb_overlayContents .chf_no_LRpadd{ padding:0; }
.chf_fb_overlayContents .chf_register_layout .chf_main{ width:934px; padding:0; border:0; min-height:1%; }
.chf_fb_overlayContents .chf_register_layout .chf_main_flexi{ width:100%; }
.chf_fb_overlayContents .chf_register_layout .chf_main h2{ border-bottom:0; padding-bottom:0; }



.chf_fb_overlayContents .chf_register_layout h2.login_head{ font-size:190%; border-bottom:0; margin-bottom:16px; color:#ca3a05; }
.chf_fb_overlayContents .chf_steps_formwrapper{ padding:0 15px 15px; }
.chf_fb_overlayContents .chf_register_layout .chf_left_part{ width:440px; padding-right:20px; margin-right:20px; border-right:solid 1px #e5e5e5; }
.chf_fb_overlayContents .chf_register_layout .chf_left_part_created{ width:480px; padding-right:20px; margin-right:20px; border-right:solid 1px #e5e5e5; }  
.chf_fb_overlayContents .chf_register_layout .chf_right_benefits{ width:380px; }
.chf_fb_overlayContents .chf_register_layout .chf_create_accountLink{ font-size:120%; font-family:Tahoma, Geneva, sans-serif; }
.chf_fb_overlayContents .chf_login_center{ width:765px; margin:0 auto; }
.chf_fb_overlayContents .chf_paddL20{ padding-left:20px; }
.chf_fb_overlayContents .chf_register_form{ padding-top:5px; width:230px; }
.chf_fb_overlayContents .chf_register_section{ width:230px; }
.chf_fb_overlayContents .chf_register_section_last{ width:200px; padding-left:10px; }
.chf_register_section_last .chf_register_form{ width:auto; }
.chf_fb_overlayContents .chf_createAc_settings .chf_left_part{ width:380px; }
.chf_fb_overlayContents .chf_createAc_settings .chf_right_benefits{ padding-left:40px; }
.chf_fb_overlayContents .chf_register_form .chf_field_area{ background-color:#fdfdfd; }
.chf_fb_overlayContents .chf_register_form .chf_textbox{ width:210px; }

.chf_fb_overlayContents .chf_cc_wrapper .chf_field_area{ height:27px;  }

.chf_fb_overlayContents .chf_mobileno_wrapper{ width:178px; }
.chf_fb_overlayContents #mobile {width:96px;}
.chf_fb_overlayContents #mobile_registered {width:140px;}
.chf_fb_overlayContents #card_holder {width:313px;}

.chf_fb_overlayContents .chf_top-field{ margin:5px 0px; font-size:130%; color:#000; }
.chf_fb_overlayContents .chf_steps_formwrapper .chf_top-field:first-child{ margin-top:0; }
.chf_fb_overlayContents .chf_validate_account .chf_password{ width:260px; }
.chf_fb_overlayContents .chf_validate_account .chf_textbox{ width:260px; }
.chf_fb_overlayContents .chf_captcha_caption{ font-size:130%; margin-bottom:8px; }
.chf_fb_overlayContents input.chf_checkbox{ width:14px; height:14px; margin-right:5px; padding:0; }
.chf_fb_overlayContents .chf_register_form label { margin-top:2px; }
.chf_fb_overlayContents .chf_marB5{ margin-bottom:5px; }
.chf_fb_overlayContents .chf_receive_mail{ color:#878787; }
.chf_fb_overlayContents .chf_register_form .chf_error_field{ background-color:#fff4f4; }
.chf_fb_overlayContents .chf_thanks_msg{ border-bottom:solid 2px #ffc136; padding-bottom:8px; }
.chf_fb_overlayContents .chf_no_borderbot{ border-bottom:0; }
.chf_dropdowns .chf_righticon,.chf_fb_overlayContents .chf_righticon{ background-position:1px 1px; width:30px; height:30px; margin-right: 5px;}
.chf_fb_overlayContents .chf_exclaim_icon{ background-position:-66px -651px; width:25px; height:26px; margin:3px 0 0 0; }
.chf_thanks_text_head { color:#649a4f; font-size:135%; margin-top: 3px;}
.chf_thanks_text_mailhead { color:#000000; font-size:145%; }
.chf_thanks_text_subhead { color:#649a4f; font-size:140%; }
.chf_thanks_text{ font-size:140%; line-height:20px; }
.chf_fb_overlayContents .chf_anyprob_recv{ font-size:120%; color:#878787;} 
.chf_fb_overlayContents .chf_example_txt{ font-size:140%; color:#878787; }
.chf_fb_overlayContents .chf_example_txt .chf_example_mailid{ color:#000; }
.chf_fb_overlayContents .chf_mailid{ color:#000; }

.chf_fb_overlayContents .chf_validate_title{ color:#649a4f; font-size:160%; margin-bottom:16px;}
.chf_fb_overlayContents .chf_newUser_text{ font-size:160%; }
.chf_fb_overlayContents .chf_or_seperator{ background-position:-112px -584px; line-height:26px; width:31px; height:30px; font-size:130%; color:#000; 
               position:absolute; left:-50px; top:90px; cursor:default; }
.chf_fb_overlayContents .chf_login_layout .chf_main{ width:100%; }
.chf_fb_overlayContents .chf_login_layout .chf_left_part{ width:430px; padding-right:30px; margin-right:35px;  }
.chf_fb_overlayContents .chf_login_layout .chf_field_area{ padding:7px; }
.chf_fb_overlayContents .chf_login_layout .chf_textbox{ width:260px; }


.chf_fb_overlayContents .chf_login_bg{ background-color:#fafafc; padding:25px 15px; }
.chf_fb_overlayContents .chf_login_acpic{ padding:5px 20px 0 0; height:148px; }
.chf_fb_overlayContents .chf_login_form{ width:225px; border-left:solid 1px #fff; padding-left:20px; }
.chf_fb_overlayContents .chf_login_form .chf_marT2{ margin-top:2px; }
.chf_fb_overlayContents .chf_login_layout .chf_textbox_short{ width:207px; }
.chf_fb_overlayContents .chf_login_form .chf_login_button{ width:192px; display:block; }
.chf_fb_overlayContents .chf_used_bookTime{ color:#b2b2b2; }
.chf_fb_overlayContents .chf_change_username{padding-left:30px;}
.chf_fb_overlayContents .chf_register_form .chf_counry_fld_wrapper{ padding:0; width:73px; }

.chf_fb_overlayContents .chf_counry_fld_wrapper{ padding:0; width:71px; }


.chf_fb_overlayContents .chf_counry_fld_wrapper .chf_country_fld{ width:24px; padding:0; }
.chf_fb_overlayContents .chf_counry_fld_wrapper .chf_country_code{ padding:7px; border-right:solid 1px #ccc; }

.chf_fb_overlayContents .chf_counry_fld_wrapper .chf_country_code_validated{ padding:5px; border-right:solid 1px #ccc; }

.chf_fb_overlayContents .chf_counry_fld_wrapper .chf_country_india_validated{ padding:5px; border-right:solid 1px #ccc; }


/**** Margins ****/
.chf_fb_overlayContents .chf_marB10 {margin-bottom: 10px;}
.chf_fb_overlayContents .chf_marB5 {margin-bottom: 5px;}
.chf_fb_overlayContents .chf_marR5 {margin-right: 6px;}

.chf_fb_overlayContents .chf_pT10 {padding-top: 10px;}

.chf_fb_overlayContents .chf_iBkl {display: inline-block;}

/*------- Color classes --------*/
.chf_fb_overlayContents .chf_grayText {color: #959595;}


/*--------------- DEV Part [ CSS for DEV related Rules..] Don't touch while UI works --------------------*/

.chf_fb_overlayContents #passwordSent {padding: 0px; margin: 0px;}
.chf_fb_overlayContents #passwordSent .chf_main {width: 530px; padding: 20px;}
.chf_fb_overlayContents #loginUser .chf_main{ width:410px; padding:20px; }

.chf_fb_overlayContents #registerUserNonFB {padding: 0px; margin: 0px;}
.chf_fb_overlayContents #registerUserNonFB .chf_main{ width: 330px; padding:20px;}


.chf_fb_overlayContents .chf_securityCheck .chf_isHuman .chf_calculate {font-weight: bold;}
.chf_fb_overlayContents .chf_isHuman {background: #e5e5e5; padding: 10px 15px; font-size: 120%;}
.chf_fb_overlayContents .chf_securityCheck .chf_isHuman input {width: 30px; border: 1px solid #d5d5d5; padding: 2px;}

.chf_fb_overlayContents #newUserOrLogin .chf_main { width :500px; padding:20px 15px;}
.chf_fb_overlayContents #userRegisteredAlready .chf_main {width: 375px;}
.chf_fb_overlayContents #forgotPass .chf_main {width :500px; padding: 20px;}
.chf_fb_overlayContents #forgotPass .chf_field_area input {width: 200px;}
.chf_fb_overlayContents #newUserOrLogin .chf_divider .chf_roundedGray {position: relative; left: -16px; top: 80px; font-size: 140%;}
.chf_fb_overlayContents #newUserOrLogin .chf_divider .chf_roundedGray span { padding:6px 9px; display: inline-block;}

.chf_fb_overlayContents #chf_overlayContent #passwordSent .main, .chf_fb_overlayContents #overlayContent #registerUserNonFB .main, .chf_fb_overlayContents #overlayContent #newUserOrLogin .main {border: 4px solid #c5c5c5;}

.chf_fb_overlayContents .chf_orSeparator {display: inline-block; height: 35px; width: 1px; border-right: 1px solid #d5d5d5; margin: 0px 16px; float: left;}
.chf_fb_overlayContents .chf_orSeparator span {background: #ffffff; position: relative; font-size: 130%; top: 9px; left: -5px;}
.chf_fb_overlayContents .chf_main .chf_userImage {border: 1px solid #d5d5d5; padding: 2px; margin-right: 10px;}
.chf_fb_overlayContents .chf_fbUserName{ font-size:180%; }
.chf_fb_overlayContents .chf_yellowAlertBox {margin-bottom: 10px; line-heignt:1.3em; font-size: 120%; background: #FEF6D1; padding: 10px;}
.chf_fb_overlayContents .chf_greenAlertBox {padding: 5px; font-size: 90%; background: #ECFCD8;}

.chf_fb_overlayContents h2.login_head {font-size: 190%; border-bottom: 0; margin-bottom: 16px; color: #ca3a05; font-weight: normal; padding-left: 160px;}
.chf_fb_overlayContents .chf_textbox_short {width: 207px;}
#chf_overlay {background: #ffffff; z-index: 20000; border:solid 6px #eee; }
#chf_overlay h2{ margin-bottom:8px; font-family:Arial, Helvetica, sans-serif; text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none;-o-text-shadow:none;-ms-text-shadow:none;}
#link_acnts_btn,#frgt_pwd_btn{ margin:0 15px 0 0; }

.chf_fb_overlayContents #registerUser .chf_main {width: 425px;}
#fc_pageOverlay {opacity:0.4; background: #303030; height: 100%; width: 100%; position: absolute; z-index: 10000; top: 0px;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; filter: alpha(opacity=40);}

.chf_fb_overlayContents #newUserOrLogin .chf_divider {height: 200px; width: 1px; margin: 0px 15px; border-left: 1px solid #d5d5d5;}

.chf_fb_overlayContents .chf_seprator_dash, .chf_seprator_plus {margin-top: 7px; font-size: 140%; margin-right: 4px;}
.chf_fb_overlayContents .chf_seprator_dash {margin-left: 4px;}
#chf_overlay .chf_closeIcon {width: 27px; height: 27px; background-position: -39px -37px; z-index:10; margin:2px; position:absolute; right:0;}

.chf_fb_overlayContents #newUserOrLogin .chf_main {min-height:200px;}
.chf_fb_overlayContents .chf_blockOverlay {z-index: 20010;}
.chf_fb_overlayContents span.chf_blue{ color:#385daa; }

.chf_fb_overlayContents .chf_forgotPassBox{ margin-top:10px; }

/*------ Links list -------*/
.chf_fb_overlayContents .chf_overlay_linksList  li{ float:left; border-right:solid 1px #ccc; margin:20px 10px 10px; padding-right:10px; font-size:12px; }
.chf_fb_overlayContents .chf_overlay_linksList  li.chf_last{ margin-right:0; border:0; }here

.chf_fb_overlayContents .chf_error_field,.chf_error_field{ border:solid 1px #f99bab; }
.chf_fb_overlayContents .chf_error_field,.chf_fb_overlayContents .chf_error_field select,.chf_fb_overlayContents .chf_error_field input,
.chf_error_field,.chf_error_field select,.chf_error_field input
{ background:#fff4f4; color:#d90303 !important; }
.chf_fb_overlayContents .chf_error{ color:#d90303; font-size:110%; font-family:Tahoma, Geneva, sans-serif; clear:left; display:block; padding-top:3px; }
.chf_fb_overlayContents .chf_erroricon{ background-position:-72px -34px; width:13px; height:13px; margin:0 5px 0 0; }
.chf_fb_overlayContents .chf_errortext{ width:200px; line-height:12px; }

.chf_fb_overlayContents .chf_benefits_fb{ color:#4d660e; background-color:#fffbe6; padding:10px; }
.chf_fb_overlayContents .chf_benefits_fb h3{ margin-bottom:5px; font-size:120% }
.chf_fb_overlayContents .chf_benefits_fb .chf_righticon{ background-position:-60px -9px; width:12px; height:12px; margin:2px 5px 0 0; display:inline-block; vertical-align:middle;}
.chf_fb_overlayContents .chf_benefit_list li{ margin-bottom:5px; width:100%; font-size:120%; }
.chf_fb_overlayContents .chf_forgotPassBox_align{ margin-right:48px; }
.chf_fb_overlayContents .chf_register_formwrapper{ position:relative; }
.chf_fb_overlayContents .chf_fadeDiv_wrapper{ position:absolute; left:0; top:0; filter:alpha(opacity=50); opacity:0.5; -moz-opacity:0.5; background:#fff; width:100%; height:100%; display:none; }
/*-------- end of [screen css] rules for overlay and block UI -------*/

/*----- Fconnect Tooltip ----*/
.chf_fcTT{ background:#1f1f1f; padding:12px 10px; -moz-border-radius:5px;  -o-border-radius:5px;  -webkit-border-radius:5px; -ms-border-radius:5px; border-radius:5px;  color:#fff; position:absolute; width:278px; }
.chf_fcTT p{color:#fff;font-family:Arial, Helvetica, sans-serif;}
.chf_fc_tip{ background-position:-371px -222px; width:11px; height:22px; position:absolute; top:42%; left:-11px; }
div.chf_header a.chf_fcTT_close{ font-size:150%; color:#fff; margin-top:-7px; }
.chf_fc_head{ font-size:140%; }
.chf_fc_list li{ float:left; width:100%; margin-bottom:8px; }
.chf_fc_list .chf_fclistitem_last{ margin-bottom:0; }
.chf_fcbullet_img{ background-position:-388px -222px; width:14px; height:14px; margin:2px 8px 0 0; }
.chf_fcbullet_txt{ width:92%; line-height:1.4em; }


/*--- Checkbox settings ---*/
.chf_checkbox_img{ line-height:21px; }
.chf_checkbox_img span.chf_checkbox{ background-position:0 -77px; width:25px; height:25px; float:left; margin-right:6px; }
.chf_checkbox_img span.chf_checkbox.chf_checkbox_error { background-position: 0 -107px; float: left; height: 25px; margin-right: 6px; width: 25px;  }
.chf_checkbox_img label{ display:inline-block;}
.chf_checkbox_img.active span.chf_checkbox { background-position:-30px -77px; }
.chf_checkbox_img input{ display:none; }
/*--- /Checkbox settings ---*/

.chf_div_social{ width:210px; }
.chf_mmt_login{ width:230px; }

/*--- Benefits of Login ---*/
.chf_benefits_hdng{ text-transform:uppercase; font-size:140%; }
.chf_benefits_loginList li{ font-size:115%; margin-bottom:10px; }
/*--- /Benefits of Login ---*/



/*---- login overlay ----*/
.chf_login_overlay .chf_dropdowns{ position:static; border:0; -moz-box-shadow:none; -webkit-box-shadow:none; -o-box-shadow:none; -ms-box-shadow:none; box-shadow:none; }


/*-- New cases [ My account ] -- background-position:-299px -113px;*/
div.chf_wrapper{ width:1140px; min-width:1140px; }
a.chf_explore_txt{ padding-right:10px; border-right:solid 1px #e3e3e3; margin-right:10px; padding-top:0px; min-height:34px; }
ul.chf_list_hdr_1 a.chf_explore_txt:hover{ text-decoration:none; }
ul.chf_list_hdr_1 .chf_exploreicon_wrap{ color:#2f2f2f; }
ul.chf_list_hdr_1 a.chf_explore_txt:hover .chf_exploreicon_wrap{ color:#2f2f2f; }
.chf_explore_icon{ background-position: -2px -141px; width:23px; height:23px; display:inline-block; vertical-align:middle; margin-right:4px; }
/* new changes for MTR lock */
.chf_mtrLock_icon_1{ background-position: 0 -171px; width:23px; height:32px; display:inline-block; vertical-align:middle; margin-right:4px; }
.chf_lock_icon{ background-position:0 -176px; display:inline-block; height:27px; margin-right: 4px; vertical-align: middle; width: 22px; }
.chf_profile_default{ background-position:-48px -176px; width:24px; height:24px; margin:5px 7px 5px 0; }
.chf_profile_default img{ -moz-border-radius:50%; -webkit-border-radius:50%; -o-border-radius:50%; -ms-border-radius:50%; border-radius:50%; }
.chf_unlock_icon	{ background-position:-23px -175px; display:inline-block; height:27px; margin-right: 4px; vertical-align: middle;  width: 22px; }
  
.chf_login_short_gplus{ width:425px; }
.chf_div_social_1{ width:250px; min-height:150px; padding-right:20px; border-right:solid 1px #f2f2f2; }
.chf_links_right{ padding-left:20px; width:130px; }
.chf_div_social_1 .chf_formfields input.chf_textbox{ width:215px; }
.chf_login_short_gplus .chf_divider { height:auto; width:225px; border:0; border-bottom:solid 1px #d5d5d5; margin:0 0 30px; }
.chf_login_short_gplus .chf_divider .chf_roundedGray{ left:43%; top:16px; line-height:17px; }
.chf_account_links{ padding:0; text-align:right; }
.chf_account_links li{ margin-bottom:6px; font-size:12px; }
.chf_account_links li.chf_list_bottomGap{ margin-bottom:22px; }
.chf_fontSize12{ font-size:12px; }
.chf_hotel_discountHead{ font-size:14px; font-weight:bold; color:#6eac1a; margin-bottom:8px; }
.chf_pigi_icon{ background-position:-2px -141px; width:24px; height:23px; display:inline-block; margin-right:8px; vertical-align:middle; }
/* .chf_hotel_discounttxt{ font-size:120%; color:#939393; } */
.chf_hotel_discounttxt{ font-size:117%; color:#939393; }
/*-- /New cases [ My account ] --*/


/*----- Media rules ----*/

/* Large desktop [ Mark: *LG* ] */ 
@media (min-width:1200px) { 
	div.chf_wrapper{ width:1140px; min-width:1140px; }
}

/* desktop upto 1024px  [ Mark: *MD* ] */
@media (min-width:992px) and (max-width:1199px) { 
	div.chf_wrapper{ width:940px; min-width:940px; }
	div.chf_header div.chf_right_portion_hdr,div.chf_header.chf_intl_flt div.chf_right_portion_hdr{ width:710px; }
	div.chf_header p.chf_logo{ margin-right:0; }
	div.chf_header.chf_intl_flt div.chf_right_portion_hdr{ width:705px; }
	div.chf_header div.chf_left_portion_hdr{ width:134px; }
	div.chf_header .chf_doodle_part{ display:none; }
	p.chf_logo .chf_logopart{width:126px;}
}

/* Portrait tablet to landscape and desktop [ Mark: *SM* ] */
@media (min-width:768px) and (max-width:991px) {
	div.chf_wrapper{ width:730px; min-width:730px;}
	div.chf_header div.chf_right_portion_hdr,div.chf_header.chf_intl_flt div.chf_right_portion_hdr{ width:495px; }
	div.chf_intl_flt .chf_intl_caller, div.chf_rail_hdr .chf_irctc{ display:none; }
	/* div.chf_header div.chf_left_portion_hdr{ width:285px; } */
	
	/* my changes */
	/* div.chf_header div.chf_left_portion_hdr{ width:285px; } */
	div.chf_header .chf_doodle_part{ display:none; }
	div.chf_header .chf_logopart{width:115px;}
	div.chf_header div.chf_left_portion_hdr{ width:125px; }
	/* div.chf_header div.chf_right_portion_hdr{ width:462px; } */
	.chf_livechat{ width:55px; }
	/* my changes 2 */
	.chf_livechat{ display:none; }
	.chf_htl_hdr #chf_mtr_li{display:none;}
	.rs_new_red_bg{display:none;}
	
}

/* Landscape phone to portrait tablet [ Mark: *XS* ] */
@media (max-width:767px) {
	div.chf_wrapper{ width:565px; min-width:565px; }
	.chf_countryNavItem.last{ display:none; }
	
	/*----- login cases -----*/
	.chf_login_short_gplus{ width:205px; padding:20px 10px 20px; }
	.chf_div_social .chf_append_bottom{ margin-bottom:0; }
	.chf_div_social,.chf_mmt_login{ width:200px; }
	.chf_login_short_gplus .chf_divider{ height:auto; width:200px; border:0; border-bottom:solid 1px #d5d5d5; margin:0 0 33px; }
	.chf_login_short_gplus .chf_divider .chf_roundedGray{ left:45%; top:16px; }
	.chf_login_short_gplus .chf_formfields input.chf_textbox{ width:177px; }
	.chf_benefits_hdng, .chf_benefits_loginList{ display:none; }
	.chf_login_short_gplus input.chf_login_btn{ width:98%; }
	.chf_forgp_hdng_1{ margin-bottom:15px; }
	.chf_errortext{ width:178px; line-height:12px; }
	
	/*-- unified header cases --*/
	.chf_unified_case .chf_div_social_1{ width:250px;  }
	.chf_unified_case.chf_login_short_gplus{ width:450px; }
	.chf_div_social_1 .chf_formfields input.chf_textbox{ width:215px; }
	.chf_div_social_1 .chf_append_bottom{ margin-bottom:16px; }
	/*-- unified header cases --*/
	
	div.chf_intl_flt .chf_intl_caller, div.chf_rail_hdr .chf_irctc{ display:none; }
	.rs_new_red_bg{display:none;}
}

/*--- Including 600 devices above Smart Phones ---*/
@media (min-width:590px) and (max-width:767px) { 
	div.chf_header div.left_portion_hdr{ width:140px; }
	div.chf_header .chf_doodle_part{ width:100px; }
	div.chf_header p.chf_logo{ margin-right:0; }
	
	div.chf_header.chf_intl_flt div.chf_right_portion_hdr{ width:400px; }
	div.chf_header div.chf_right_portion_hdr{ width:400px; }
	
	.center_part_hdr .chf_trip_icon,
	ul.chf_list_hdr_1 .chf_countryNavItem,
	ul.chf_list_hdr_1 .chf_currencyNavItem,
	div.chf_right_portion_hdr .chf_irctc,
	.chf_doodle_part,
	.chf_dropdowns,
	.chf_fcTT
	{ display:none; }
	 	
	
	body div.headerWidth{ width:570px; }
	body div.chf_wrapper{ width:570px; min-width:570px;}
	p.chf_logo .chf_logopart{ width:122px; }
ul.chf_list_hdr_1 li a.chf_active{ border-bottom:solid 1px #ccc; -moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px; border-radius:3px; }	

	/* my changes */
	div.chf_header div.chf_left_portion_hdr{ width:160px; }
	
	/* my changes 2*/
	.chf_livechat{ display:none; }
	.rs_new_red_bg{display:none;}
}

/*------- Generic Tablet based rules ---------*/
@media (min-width:481px) and (max-width:991px) { 
	.chf_logo{ margin-left:0px; }
	.nav_text{ display:none; }
	.nav_icons{ float:none; display:block; margin:0 auto; }
	
	div.chf_header p.chf_logo{ margin-right:0; }
	
	.chf_dropdowns{ display:none; }
	ul.chf_list_hdr_1 li a.chf_active{ border-bottom:solid 1px #ccc; -moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px; border-radius:3px; }
	.chf_fcTT{ display:none; }
	.rs_new_red_bg{display:none;}
}


/*----- Mobile Header Settings -----*/
@media (max-width:589px)
{
	div.chf_navbar,div.chf_top_bar{ display:none; }
	.rs_new_red_bg{display:none;}
}

.chf_mtr_tooltip{ padding:6px 10px; width:160px; background:#000; position:absolute; top:40px; color:#fff; left:23%; -moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px; border-radius:3px; }
.chf_mtr_tip{ background-position:-77px -175px; width:16px; height:9px; position:absolute; top:-9px; left:44%;  }
.chf_mtr_closeicon{ cursor:pointer; position:relative; z-index:100; }
.chf_marT-13{ margin-top:-15px;width:122px; }

.mtr_prelogin{
	float: left; 
	text-align: right; 
 	width:50px;
	margin-right: 5px;
}

.mtr_postlogin{
	float: left; 
	text-align: right; 
	 width: 82px;  
	margin-right: 5px;
}

.chf_bold{
	font-weight: bold;
}

/*------ New rules [ 10-12-2014 ] [ashish]-------*/
.chf_mtr_bottominfo{ position:absolute; bottom:10px; padding-top:10px; border-top:solid 1px #d4d4d4; margin-right:13px; margin-left:-27px\9;}
.chf_mtr_lock_icon{ background-position:-1px -210px; display:inline-block; width:23px; height:24px; margin-right:4px; vertical-align:middle; }
.chf_mtr_unlock_icon{background-position:-26px -210px; display:inline-block; width:21px; height:28px; margin-right:4px; vertical-align:text-bottom; }
.chf_rewards_green{ color:#6eac1a; font-size:11px; font-weight:bold; margin-bottom:8px; }
.chf_knowmore_link{ padding-top:4px; }
/*------ /New rules [ 10-12-2014 ] -------*/

/*new css for sign out button..name changed to logout*/
.sign_out{
	background-color: white;
    border: medium none;
    color: rgb(56, 93, 170);
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin-left: 73px;
    margin-top: -4px;
    width: 59px;
    cursor:pointer;
    -webkit-appearance:none;
}
.sign_out:hover{
	text-decoration:underline;
}


/*tablet settings*/
@media (min-width:768px) and (max-width:1024px) { 
	.sign_out{
		background-color: white;
    	border: medium none;
    	color: rgb(56, 93, 170);
    	font-family: Arial,Helvetica,sans-serif;
    	font-size: 12px;
    	margin-left: 68px;
    	margin-top: -4px;
    	width: 56px;
    	cursor:pointer;
	}
	.sign_out:hover{
		text-decoration:underline;
	}
	/* .chf_list_hdr_1{width:463px;} */
}
.new_red_bg{ background-position:-63px -72px; color:#fff; margin-left:84px;position:absolute;margin-top:-4px; font-size:12px; padding:3px 8px; text-align:center;}
.new_red_text{padding-left:130px;}
ul.chf_list_hdr_1 > li#chf_mtr_li a:hover{ color:#000; }
#chf_mtr_tooltipID{width:148px;height:50px;z-index:1;}
.chf_intl_caller{margin-left:-22px;}
#chf_rupees_value{display:none;}
 @media screen and (-webkit-min-device-pixel-ratio:0) { 
	.new_red_bg{ background-position:-63px -72px; color:#fff; margin-left:84px;position:absolute;margin-top:-4px; font-size:12px; padding:4px 8px; text-align:center;}
	.get_free_text{margin-top:4px;position:absolute;}
}
@-moz-document url-prefix() {
    /* firefox-only css goes here */
.new_red_bg{ background-position:-63px -72px; color:#fff; margin-left:84px;position:absolute;margin-top:-4px; font-size:12px; padding:3px 7px; text-align:center;}    
.get_free_text{position:absolute;}
}
.cross_tooltip{width:0px;float:right;}



/*----- Ex-us and Ex-ae changes -----*/
.chf_livechat_wrapper{ margin:0 10px; }
.chf_livechat_likespace{ width:21px; height:2px; } 
.chf_livechat_wrapper a{ padding-left:20px; }
div.chf_header .chf_livechat_wrapper a:hover{ color:#2f2f2f; }
.chf_inlineB{ display:inline-block; }
.chf_vAlignM{ vertical-align:middle; }
.chf_make_block{ display:block; }
.chf_intl_caller{ margin-top:0; margin-left:0;display:block; }
.chf_livechat_wrapper{ line-height:1.5em; }
.chf_other_countries{width: 150px; top: 49px; left: 1057px; overflow: auto; display: none;}

/* Portrait tablet to landscape and desktop [ Mark: *SM* ] */
@media (min-width:768px) and (max-width:991px) {
	.chf_intl_caller{ display:block !important; }
	.chf_livechat_wrapper,.chf_livechat{ width:auto !important; }
	.chf_other_countries{width: 150px; top: 49px; left: 555px; overflow: auto; display: none;}
	.rs_new_red_bg{display:none;}
}

/* Mobile [ Mark: *XS* ] */
@media (max-width:767px) {
.chf_livechat_wrapper{ display:none; }
.rs_new_red_bg{display:none;}
}

.chf_us_flag_big{ background-position:-54px -107px; width:21px; height:14px; margin:7px 2px; }
.chf_ae_flag_big{ background-position:-30px -107px; width:21px; height:14px; margin:7px 2px; }
 /*.chf_logopart{ background:url("../images/header_footer/site-logos.png") no-repeat; }*/
    .chf_logo_us .chf_logopart{  background-position:0 0; width:126px; height:54px; }
    .chf_logo_ae .chf_logopart{  background-position:0 0px; width:126px; height:54px; }

.chf_intl_caller, .chf_irctc{ width:auto; }
/*----- /Ex-us and Ex-ae changes -----*/

/* For Gift Cards and Support */

.header_rewards_section{  border-right: 1px solid #ddd;margin: 0 10px 0 0;padding: 8px 0 2px;}
 .header_rewards_section a:hover{text-decoration:none !important ;}
.my_reward_icon{background: url("../images/header_footer/common_header_footer_sprite_vernacular_08.png") no-repeat -671px -517px;margin: 0 5px 0 0; display: inline-block;height: 25px;width: 20px;}
.my_gift_icon{background: url("../images/header_footer/common_header_footer_sprite_vernacular_08.png") no-repeat -642px -519px;margin: 0 5px 0 0; display: inline-block; height: 24px;width: 20px;}
.my_support_icon{background: url("../images/header_footer/common_header_footer_sprite_vernacular_08.png") no-repeat -605px -517px;margin: 0 5px 0 0; display: inline-block;height: 25px;width: 24px;}
.header_rewards_section li{float: left; margin-right: 17px;}
.header_rewards_section__right-text{color: #385daa;display: inline-block;line-height: 13px;position: relative;top: -2px;}
.font12{font-size: 12px;}
.font10{font-size: 10px;}
@media(max-width:1023px){
	.gift_card,.support{display: none;}
}
@media (min-width:768px) and (max-width:991px) {
	.header_rewards_section{display: none;}
	
}