/*
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    /* position relative and z-index fix webkit rendering fonts issue */
    position: relative;
    z-index: 1;
}
.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 100%;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
    position: relative;
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.owl-carousel > a {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: block;
    width: 40px;
    height: 66px;
    margin-top: -48px;
    font-size: 0;
    background-color: rgba(0,0,0,.1);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.carousel-left {
    left: 6px;
}
.carousel-left:hover:before {
    margin-left: -9px;
}
.carousel-left:active:before {
    margin-left: -12px;
}
.carousel-right:hover:before {
    margin-left: -3px;
}
.carousel-right:active:before {
    margin-left: 0;
}
.carousel-right {
    right: 4px;
}
.carousel-left:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 12px;
    height: 23px;
    margin: -12px 0 -0.2em -6px;
    background: url("/res/base/img/new-sprite.png") no-repeat scroll -1486px -22px;
    transition: margin 0.3s ease 0s;
}
.carousel-right:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 12px;
    height: 23px;
    margin: -12px 0 -0.2em -6px;
    background: url("/res/base/img/new-sprite.png") no-repeat scroll -1503px -22px;
    transition: margin 0.3s ease 0s;
}
.owl-carousel.owl-loaded {
    display: block;
}
.owl-carousel.owl-loading {
    opacity: 0;
    display: block;
}
.owl-carousel.owl-hidden {
    opacity: 0;
}
.owl-item {
    z-index: 1;
}
.owl-carousel .owl-refresh .owl-item {
    display: none;
}
.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.owl-carousel .owl-item img {
    display: block;
    -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}
.owl-carousel .owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
}
.owl-carousel.owl-rtl {
    direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
    float: right;
}
.owl-dots {
    text-align: center;
}
.owl-dot {
    display: inline-block;
    vertical-align: middle;
    width: 7px;
    height: 7px;
    margin: 2px;
    border-radius: 100%;
    background: #acaeaf;
}
.owl-dot.active {
    background: #1c1c1c;
}
/* No Js */
.no-js .owl-carousel {
    display: block;
}