div,span,label,form,section,article {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#instantclick-bar {
  background: white;
  position: fixed;
  top: 0;
  z-index: 5000000;
}

html
{
	min-height: 100%;
	position: relative;
}

strong, b
{
	font-family: "OpenSansBold", "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	letter-spacing: -1px;
}

#binbox
{	
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
}

.input-group
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}


.input-group *
{
	-webkit-box-flex: 0 0 1;
	-webkit-flex: 0 0 1;
	-moz-flex: 0 0 1;
	-ms-flex: 0 0 1;
	flex: 0 0 1;
}

.input-group input
{
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
  -webkit-border-radius: 0.15em;
  -moz-border-radius: 0.15em;
  border-radius: 0.15em;
}

.input-group .btn:first-child,
.input-group input:first-child
{
	-moz-border-radius: 0.15em 0 0 0.15em;
	-webkit-border-radius: 0.15em 0 0 0.15em;
	border-radius: 0.15em 0 0 0.15em;
}

.input-group .btn:last-child
{
	-moz-border-radius: 0 0.15em 0.15em 0;
	-webkit-border-radius: 0 0.15em 0.15em 0;
	border-radius: 0 0.15em 0.15em 0;
}

.input-group .btn:not(:first-child):not(:last-child)
{
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

body
{
	background: #111;
	min-height: 100%;
	font-size: 12px;
	font-family: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body.frame
{
	background: #fafafa;
	background: transparent; 
}

iframe { display: block; }

a { color: #0088cc;}
a:hover { color: #219114;}

body#page-ad { background: #fff; background: transparent; }

form { margin: 0; }

#binbox input,
#binbox .input-prepend .add-on,
#binbox .input-append .add-on
{
	height: auto;
}

#binbox input[type="file"]
{
	line-height: 120%;
}

.clear { clear: both; }

.float.left { float: left; }
.float.right { float: right;} 


.center { text-align: center !important; }

@font-face {
    font-family: 'OpenSansLight';
    src: url('../font/OpenSans-Light-webfont.eot');
    src: url('../font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Light-webfont.woff') format('woff'),
         url('../font/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../font/OpenSans-Regular-webfont.eot');
    src: url('../font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Regular-webfont.woff') format('woff'),
         url('../font/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../font/OpenSans-Semibold-webfont.eot');
    src: url('../font/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../font/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../font/OpenSansBold-webfont.eot');
    src: url('../font/OpenSansBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSansBold-webfont.woff') format('woff'),
         url('../font/OpenSansBold-webfont.ttf') format('truetype'),
         url('../font/OpenSansBold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

.table th
{
	font-family: "OpenSans", "Helvetica", "Arial", sans-serif;
}

header
{
	z-index: 2;
	position: relative;
	color: #eee;
}

#page-home header
{
	min-height: 0;
}


header #brand #userlinks
{
	text-align: right;
	font-size: 1.15em;
	color: #fff;
}

#userlinks .btn .caret
{
	margin-top: 0;
	vertical-align: middle;
	border-top-color: #777;
}

#userlinks .btn.see-through
{
	font-weight: bold;
}

#userlinks .balance-link,
#user-menu .actions a.balance-link
{
	color: #63ef7d;
}

header #brand #userlinks > a:hover,
header #brand #userlinks > a:active,
header #userlinks .btn-group > .btn.see-through:hover,
header #userlinks .btn-group.open > .btn.see-through
{
	color: #44c779;
}



header #brand #userlinks > a.btn-success:hover,
header #brand #userlinks > a.btn-success:active
{
	color: #fff;
}

img { vertical-align: middle; }


.flex-row
{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
        flex-direction: row;
}


.flex-row > *
{
	-webkit-box-flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto; 
}

h1 { font-size: 1.7em;  margin-bottom:0.5em; }

h2 { font-size: 1.5em; margin-bottom: 0.5em;}

h3 { font-size: 1.25em;  margin-bottom: 0.5em; }

h4 { font-size: 1.2em;  margin-bottom: 0.5em; }

h5 { font-size: 1.15em;  margin-bottom: 0.5em; }

h6 { font-size: 1em; margin-bottom: 0.5em;  }

h1,h2,h3,h4,h5,h6 {
	color: #444;	
	letter-spacing: -0.5px;
	font-weight: normal;
	line-height: 150%;
	-webkit-font-smoothing: antialiased;
	font-family: 'OpenSansSemiBold', 'Verdana', sans-serif;	
}

.light h1,.light h2,.light h3,.light h4,.light h5,.light h6 
{
	color: #fff;
}

.container
{
	width: auto;
	max-width: 940px;
	width: 89%;
}

#dashboard, #page-help #content .container
{
	padding-top: 15px;
}


#binbox #captcha-modal
{
	top: 125px;
}

#page-paste #captcha-container
{
	margin: 0 auto;
}

#user-menu
{
	background: #2c3d37;
	background: rgba(0,0,0,0.12);
	color: #95ada3;
	padding: 1em;
	text-align: left;	
}

#user-menu .my-username
{
	color: #ffea00;
	font-weight: bold;
	font-family:  'OpenSansBold', Arial, Helvetica, sans-serif;
	border-bottom: 1px solid rgba(255,255,255,0.15);
	padding-bottom: 0.5em;
}

#user-menu .my-email
{
	font-size: 85%;
}

#user-menu .actions
{
	font-size: 90%;
}


#user-menu .actions a
{
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
	color: #7b9c90;
	margin: 0 0.25em;
}


#user-menu .actions a:first-child
{
	margin-left: 0;
}

#user-menu .actions a:last-child
{
	margin-right: 0;
}

#user-menu .actions a:hover
{
	color: #93c7b5;
}
	

#user-menu .icon i
{
	background: #2c3d37;
	-webkit-border-radius: 3em;
	-moz-border-radius: 3em;
	border-radius: 3em;
	width: 1.75em;
	height: 1.75em;
	line-height: 1.75em;
	text-align: center;
	margin-right: 0.5em;
}

.btn.see-through,
.btn.see-through:hover,
.btn.see-through:active,
.btn-group.open .btn.see-through.dropdown-toggle
{
	background: transparent;
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow:none;
	text-shadow: inherit;
	color: inherit;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	font-size: inherit;
	font-size: 1rem;
}

#breadcrumb
{
	width: 100%;
	z-index: 2;
	background-color: #111;
	border-bottom: 1px solid #333;
	color: #999;
}

#breadcrumb nav
{
	float: left;
	line-height: 27px;
	padding: 5px 0;
}

#breadcrumb nav#crumbs a
{
	color: #69c48a;
}


#breadcrumb nav#crumbs span
{
	margin: 0 9px;
	color: #444;
}



#breadcrumb nav a:first-child
{
	margin-left: 0;
}

#breadcrumb #userlinks
{
	line-height: 100%;
	float: right;
}

#page-loading
{
	color: #aaa;
}

#frame .container, #binbox .container, #interstitial .container 
{ 
	width: 95%;
}

#frame .container, #binbox .container, #dashboard, #single-page { max-width: 95%; margin: 0 auto; position: relative; }



#single-page
{
	line-height: 200%;
	margin: 0 auto;
	padding: 50px 0;
}

#single-page.window
{
	background: #fff;
	border: 1px solid #ddd;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	-webkit-box-shadow: inset 0 0 0.15em rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 0 0.15em rgba(0,0,0,0.15);
	box-shadow: inset 0 0 0.15em rgba(0,0,0,0.15);
	padding: 3em 5em;
	margin: 1em auto;
	width: 89%;
	max-width: 900px;
}


#single-page.window h1
{
	margin-bottom: 0.5em;
}

#single-page.page404
{
	text-align: center;
	padding: 50px;
	text-shadow: 0 2px 0 #fff;
}

#single-page.page404 h1
{
	color: #666;
}

#single-page.page404 blockquote
{
	border: 0;
	margin: 0;
	padding: 0.8em;
	font-size: 1.2em;
	color: #999;
}

#single-page #error-code
{
	font-size: 140px;
	line-height: 100%;
	color: #999;
	text-shadow: 0 4px 0 #ccc;
}


#brand
{
	background-color: #303331;
	-webkit-box-shadow: inset 0 0 180px rgba(0,0,0,0.85);
	-moz-box-shadow: inset 0 0 180px rgba(0,0,0,0.85);
	box-shadow: inset 0 0 180px rgba(0,0,0,0.85);
	width: 100%;
	left: 0px;
	overflow: visible!important;
}

#brand .container
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;  
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-content: space-between;-ms-flex-line-pack: justify;align-content: space-between;
	-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;
}


#brand .flex-band
{
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1; 
}


#brand h1
{
	float: left;
	margin-right: 1em;
	padding: 0.5em 0;
	margin: 0;
	letter-spacing: -2px;
	line-height: 100%;
	font-smooth:always;
	font-size: 2em;
	-webkit-font-smoothing: antialiased;
	font-family: inherit;
	font-family: 'Lily Script One', 'Valera Round', 'Tahoma', 'Verdana', sans-serif;
	-webkit-box-flex: 0 0 auto;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto; -webkit-align-self: center;-ms-flex-item-align: center;align-self: center;
}

#brand h1 a
{
	text-decoration: none;
	color: #f3fcff;
}

#brand h1 a:hover
{
	color: #44c779;
}

#brand h1 img
{
	max-height: 30px;
	vertical-align: top;
}

body.logged_out #brand #userlinks .btn-group
{
	font-size: 0;
}

#brand #userlinks > a,
#userlinks .btn.see-through
{
	padding: 1em 0;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
	color: #fff;
	line-height: 150%;
	font-size: 14px;
	font-size: 1rem;
}


#brand #userlinks > a,
#brand #userlinks > .btn-group
{
	margin-left: 15px;
	margin-left: 1rem;
}
	


body.logged_in #brand #userlinks > a:hover,
#userlinks .btn.see-through:hover,
#userlinks .btn-group.open .btn.see-through
{
	background: rgba(0,0,0,0.15);
}	


#navigation
{
	float: right;
	padding: 0.5em 0;
	font-family: 'OpenSansRegular', 'Valera Round', 'Tahoma', 'Verdana', sans-serif;
}

a [class^="icon-"], a [class*=" icon-"],
#navigation a.tab,
.box-small .notification,
.inline
{
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
}

.nowrap { white-space: nowrap; }

#navigation a.tab
{
	position: relative;
	text-align: center;
	color: #777;
	text-shadow: 0 1px 0 rgba(0,0,0,0.06);
	font-weight: normal;
	margin: 0;
	text-decoration: none;
	min-width: 60px;
	white-space: nowrap;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
	font-size: 0.8em;
	cursor: pointer;
	text-transform: uppercase;
	font-family:  'OpenSansBold', Arial, Helvetica, sans-serif;
	padding: 9px 9px;
	padding-top: 12px;
	letter-spacing: 0px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}


#navigation a.tab.active,
#navigation a.tab:hover
{
	z-index: 10;
}




#navigation a.tab .notification
{
	left: 35px;
	top: -1px;
}

#navigation a.tab i
{
	font-size: 200%;
	color: inherit;
	line-height: 100%;
}



#navigation a.tab.active,
#navigation a:hover
{
	color: #0cd905;
}

#navigation a i
{
	display: block;
	margin: 0 auto;
}

#loading-overlay
{
	background: #fff;
	background: rgba(255,255,255,0.95);
	border: 3px solid #6daec1;
	border: 3px solid rgba(118, 151, 160, 0.45);
	border-bottom: 0;
	box-shadow: 0px 3px 1em rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 1em rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 1em rgba(0,0,0,0.2);
	-moz-border-radius: 0.5em 0.5em 0 0;
	-webkit-border-radius: 0.5em 0.5em 0 0;
	border-radius: 0.5em 0.5em 0 0;
	padding: 2em 1em;
	width: 300px;
	margin-right: -150px;
	text-align: center;
	font-size: 16px;
	position: fixed;
	bottom: 0;
	right: 40%;
	z-index: 10;
	color: #888;
}

#loading-overlay i
{
	display: block;
	margin: 0 auto;
	font-size: 2em;
	color: #6daec1;
	line-height: 150%;
	margin-bottom: 0.5em;
}

#new-button,
#brand #userlinks > #new-button
{
	position: relative;
}


#new-button:after,
#brand #userlinks > #new-button:after
{
	content: " ";
	left: -0.75em;
	right: -0.75em;
	top: -0.5em;
	bottom: -0.5em;
	position: absolute;
}


#new-button i
{
	margin-right: 0.2em;
}

#wrapper
{
	background: #f1f5f7;
	position: relative;
	z-index: 1;	
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

#binbox.dashboard #wrapper
{
	-webkit-flex-direction: column;
	flex-direction: column;
}

#sidebar
{
	background: #374e45;
	position: relative;
	-webkit-order: -1;
	order: -1;
}

#sidebar .sidebar-group
{
	overflow: hidden;
	max-height: 0px;
	opacity: 0;
	filter: alpha(opacity=0);
    transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}


#sidebar.open .sidebar-group
{
	max-height: 80em;
	opacity: 1;
	filter: alpha(opacity=100);
}

#sidebar #brand
{
	line-height: 4em;
	line-height: 4rem;
	background: transparent;
	margin: 0;
	padding: 0 0.75em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#sidebar #menu-link
{
	color: #fff;
}


#sidebar.open #menu-link
{
	color: #cfcc8f;
	position: relative;
}

#sidebar.open #menu-link:after
{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0d7";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

#sidebar #brand img
{
	max-height: 2rem;
}

#sidebar h2
{
	color: #6b8178;
	font-size: 13px;
	text-transform: uppercase;
	margin: 0;
	padding: 0.25em 1em;
}

.sidebar-group
{
	font-size: 15px;
	line-height: 130%;
}

.sidebar-group ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}


.sidebar-group ul ul
{
	padding-left: 1em;
}

.sidebar-group ul ul li
{
}


.sidebar-group ul ul li.active
{
}



.sidebar-group ul li,
.sidebar-group ul li.head.active
{
	color: #95ada3;
	line-height: 120%;
}


.sidebar-group ul li .badge
{
	margin-top: 3px;
}

.sidebar-group ul li a,
.sidebar-group ul li label
{
	padding: 0.5em 1em;
	display: block;
}


.sidebar-group ul li label
{
	cursor: default;
	margin: 0;
}


.sidebar-group ul li:hover,
.sidebar-group ul li.active,
.sidebar-group ul li.active + ul
{
	background: #4e7163;
	color: #2b3933;
	z-index: 2;
	position: relative;
}

.sidebar-group ul li:hover
{
	background: rgba(0,0,0,0.15);
	color: #95bead;
}

.sidebar-group ul li.active
{
	color: #dff3eb;
	background: #4e7163;
}

.sidebar-group ul li + ul
{
	color: #63738e;	
	font-size: 0.9em;
	padding: 0;
	margin: 0;
	counter-reset: li;
}

.sidebar-group ul li + ul li
{
	padding-left: 2.5em;
	position: relative;
}

.sidebar-group ul li a,
.sidebar-group ul li a i
{
	color: inherit;
}

.sidebar-group ul li a span.icon
{
	width: 2em;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
	text-align: center;
}

.sidebar-group ul li a i
{
	margin-top: -2px;
}

.sidebar-group ul li.active a i,
.sidebar-group ul li.active a i,
.sidebar-group ul li:hover a i
{
	color: inherit;
}




.sidebar-group ul li i
{
	width: 27px;
	height: 27px;
	margin-right: 6px;
	line-height: 27px;
	text-align: center;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
}


#content
{
	-webkit-box-flex: 1;	
	-webkit-flex: 1;	
	-moz-flex: 1;	
	-ms-flex: 1;	
	flex: 1;	
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	background: #fff;
	position: relative;
	-webkit-box-shadow: -1em 0 1em #f7f7f7;
	-moz-box-shadow: -1em 0 1em #f7f7f7;
	box-shadow: -1em 0 1em #f7f7f7;
	-webkit-box-shadow: -1em 0 3em rgba(0,0,0,0.03);
	-moz-box-shadow: -1em 0 3em rgba(0,0,0,0.03);
	box-shadow: -1em 0 3em rgba(0,0,0,0.03);
}


#call-to-action .nectar-button,
.call-to-action .nectar-button
{
	padding: 1em 1.5em;
	margin-bottom: 0;
	opacity: 1;	filter: alpha(opacity=100);
	-moz-border-radius: 0.25em !important;
	-webkit-border-radius: 0.25em !important;
	border-radius: 0.25em !important;
}


#pastebin,
#submission
{
	background: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	position: fixed;
	color: #222;
	color: rgba(0,0,0,0.8);
	display: none;
	  -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.35); 
	     -moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.35); 
	          box-shadow: 0px 2px 5px rgba(0,0,0,0.35);
}


#submission
{
	position: fixed;
	top: 50%;
	padding: 20px;
	margin: 0;
	text-align: left;
	z-index: 5000;
}

#submission h2
{
	color: #37a109;
}

#pastebin #helper
{
	position: absolute;
	top: 32%;
	left: 0;
	right: 0;
}

#helper p
{
	color: #999;
	padding: 30px;
}


#pastebin textarea
{
	display: block;
	width: 100%;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 60px;
	padding: 10px;
	font-size: 15px;
}

#page-home #pastebin textarea
{
	height: 120px;
}

#pastebin textarea::-webkit-input-placeholder
{
    color: #999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    position: relative;
    top: 50%;
}

#pastebin textarea::-moz-placeholder
{
    color: #999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    position: relative;
    top: 50%;
}

#pastebin textarea::-ms-input-placeholder
{
    color: #999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    position: relative;
    top: 50%;
}



#pastebin form
{
	margin: 0;
	padding: 0;
}

#pastebin .modal-header
{
	background: #f8f8f8;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	padding: 15px;
	text-align: left;
	font-size: 18px;
	font-weight: bold;
	color: #333;
}

#login-modal
{
	margin-top: -120px;
}

#register-modal
{
	margin-top: -150px;
}

#register-form
{
	background: #fafafa;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;
}

#page-pro #register-form
{
	padding: 3em 0;
}

#page-register #register,
#page-login #login 
{
	max-width: 800px;
	margin: 0 auto;
}

#register-modal #register
{
	padding: 0;
}


#register-modal #register form
{
	padding: 9% 3%;
}

#register-modal #register .modal-header
{
	margin-bottom: 0;
}



#login .modal-header,
#register .modal-header
{
	margin-bottom: 18px;
	padding: 1em;
	line-height: 100%;
}

#login .nectar-button,
#register .nectar-button
{
	margin-bottom: 0;
}


#pastebin .modal-header input,
#pastebin .modal-header input:focus
{
	color: #555;
	width: 90%;
	height: auto;
	background: transparent !important;
	border: 0;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	padding: 0;
	margin: 0;
	font-size: 24px;
	vertical-align: middle;
	line-height: 100%;
}

#pastebin .modal-header input:focus
{
	color: #446c9c;
}


#pastebin .modal-header .close
{
	margin: 0;
}


#pastebin .form-actions,
#login .form-actions,
#register .form-actions
{
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	margin: 0;
	padding: 10px;
}

#pastebin .form-actions button.float.right
{
	top: 2px;
	position: relative;
}

#pastebin .form-actions select
{
	float: left;
	font-size: 1.10em;
	height: 2.7275em;
	margin-left: 0.25em;	
	max-width: 50%;
}




#submission h1
{
	margin-bottom: 30px;
}


#paste-options
{
	background: #f8f8f8;
	border: 4px solid #ddd;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-top: 15px;
	padding: 10px;
	white-space: nowrap;
}

#account-options
{
	float: right;
	width: 300px;
}

.viewing-url 
{
	text-align: left;
	position: relative;
	padding-right: 30px;
	min-height: 30px;
	line-height: 200%;
}

.viewing-url .right
{
	position: absolute;
	right: 10px;
	top: 0;
}

.viewing-url span
{
	font-size: 13px;
}



.viewing-url button
{
}



#pastebin-container
{
	position: relative;
	padding: 10px;
	margin: 0;
}

#pastebin .form-actions .dropdown-menu
{
	padding: 0.75em;
}

#pastebin .form-actions .dropdown-menu li
{
	text-align: left;
}

#pastebin .form-actions .dropdown-menu li input
{
	float: right;
}


#pastebin-container textarea
{
	padding: 10px;
}

#pastebin-container textarea.encrypted
{	
	-webkit-box-shadow: inset 0px 3px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 3px 5px rgba(0,0,0,0.2);
	box-shadow: inset 0px 3px 5px rgba(0,0,0,0.2);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


#pastebin-container textarea.text:focus
{
	position: relative;
	z-index: 2;
}


#pastebin-container:hover textarea.encrypted
{
	display: none;
}

#submission h1
{
	font-size: 24px;
	margin: 0;
	padding: 0;
}




#pastebin .dropdown-menu li > label input[type="checkbox"]
{
	margin-left: 10px;
}

#pastebin .dropdown-menu li > label
navigati
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

#pastebin .dropdown-menu li:last-child > label
{
	border-bottom: none;
}

#paste-text
{
	word-break: normal;
}


.number-display
{
	-moz-border-radius: 0.15em;
	-webkit-border-radius: 0.15em;
	border-radius: 0.15em;
	padding: 1.5em 0;
	margin: 0;
}


.number-display .danger
{
	color: #e1552e;
}

.number-display .good
{
	color: #43b053;
}




.number-display .notification
{
	top: -12px;
	font-size: 0.8em;
}



.number-display-title
{
	font-family: "OpenSansRegular", Helvetica, Arial, sans-serif;
	border-top: 1px solid #eee;
	font-size: 0.8em;
	color: #888;
	padding: 0.25em 0;
	margin-top: 0.5em;
}

.number-display { 
	background: #fff;
	border: 1px solid rgba(0,0,0,0.06);
	padding: 1em;
	width: 18.4%;
	margin-bottom: 1%;
	text-align: left;
	position: relative;
	float: left;
	box-shadow: 0px 0.15em 0.15em rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0.15em 0.15em rgba(0,0,0,0.15);
	-webkit-box-shadow: 0px 0.15em 0.15em rgba(0,0,0,0.15);
	
}


.number-display:first-child
{
	margin-left: 0;
}

.number-display:last-child
{
	margin-right: 0;
}

.number-display-link,
.number-display .number
{
	line-height: 150%;
	font-size: 1.5em;
}

.number-display .number
{
	color: #537083;
}


.number-display-link,
.number-display-link:hover
.number-display:hover:hover
.number-display:hover div
{
	background: transparent;
	border: 0;
}



.number-display-title small
{
	font-size: 0.75em;
	color: #aaa;
	white-space: nowrap;
}



.number-display:first-child
{
	margin-left: 0;
}

.number-display:last-child
{
	margin-right: 0;
}



.number-display-link,
.number-display-link:hover
{
	position: relative;
	z-index: 2;
	color: #888;
}

.number-display-title small
{
	color: #fff;
	color: rgba(255,255,255,0.75);
}

.number-display.span_6
{
	width: 49% !important;
	float: left;
}


#page-withdraw .number-display
{
	width: 30%;
	margin-right: 3%;
}


#page-withdraw .number-display:last-child
{
	margin-right: 0;
}




.br9 {	padding-bottom: 9px;}
.br12 {	padding-bottom: 12px;}
.br24 {	padding-bottom: 24px;}

/* RGS */

.row {
	position: relative;
	margin: 0;
}

/* SELF CLEARING FLOATS - CLEARFIX METHOD */
.row:after, .col:after, .clr:after, .group:after { 
	content: ""; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; }

			
								  
/* DEFAULT COLUMN STYLES */
.col {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  width: 100%; 
}


.col.light,
.container.light
{
	color: #fff;
}

.col.dark,
.container.dark,
.dark,
h2.dark,
h1.dark,
a.dark,
body .dark
{
	color: #222;
}

#welcome-banner .dark
{
	color: #444 !important;
}

#welcome-banner .dark a
{
	border-color: #aaa !important;
}

.full-width-section
{
	text-align: left;
}



.nectar-button {
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
    box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    color: #FFFFFF!important;
    font-family: 'OpenSans', 'Tahoma', 'Verdana', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 13px 18px;
    position: relative;
    top: -3px;
    margin-bottom: 10px;
    opacity: 0.75;
    line-height: 20px;
    background-color: #3aa7f4;
    display: inline-block;
    text-decoration: none;
    border: 0;
}

.nectar-button:hover
{
	-webkit-box-shadow: inset 0 -4em 1em rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 -4em 1em rgba(0,0,0,0.15);
	box-shadow: inset 0 -4em 1em rgba(0,0,0,0.15);
}

.nectar-button:active
{
	-webkit-box-shadow: inset 0 1em 1em rgba(255,255,255,0.3);
	-moz-box-shadow: inset 0 1em 1em rgba(255,255,255,0.3);
	box-shadow: inset 0 1em 1em rgba(255,255,255,0.3);
}


.nectar-button.small {
    border-radius: 2px 2px 2px 2px;
    font-size: 11px;
    padding: 5px 8px;
    letter-spacing: 1.3px;
    color: #FFFFFF!important;
    box-shadow: 0 -1px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 -1px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 -1px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: 0 -1px rgba(0, 0, 0, 0.1) inset;
}

.nectar-button.medium {
    border-radius: 3px 3px 3px 3px;
    padding: 10px 15px;
    font-size: 12px;
    letter-spacing: 2px;
    color: #FFFFFF!important;
    box-shadow: 0 -2px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 -2px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 -2px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: 0 -2px rgba(0, 0, 0, 0.1) inset;
}

.nectar-button.large {
    font-size: 13px;
    padding: 15px 22px;
    box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
}

.nectar-button.btn-default
{
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
	border: 1px solid #ddd;
	color: #222 !important;
}


#page-support .nectar-button
{
	padding: 0.6em 1.2em;
}



.nectar-button:hover, .full-width-section .light .nectar-button:hover,
.nectar-button:active, .full-width-section .light .nectar-button:active,
.nectar-button.active, .full-width-section .light .nectar-button.active {
	 opacity: 1;
}

.full-width-section .light .nectar-button {
	opacity: 0.9;
}

.nectar-button.see-through {
	background-color: transparent!important;
	box-shadow: none!important;
	-webkit-box-shadow: none!important;
	-moz-box-shadow: none!important;
	-o-box-shadow: none!important;
	opacity: 1!important;
	transition: all 0.2s linear!important;
	-moz-transition: all 0.2s linear!important;
	-webkit-transition: all 0.2s linear!important;
	-o-transition: all 0.2s linear!important;
	border-radius: 2px!important;
	-webkit-border-radius: 2px!important;
	-o-border-radius: 2px!important;
	border: 2px solid rgba(255,255,255,0.4);
}

.nectar-button.see-through:hover {
	border: 2px solid rgba(255,255,255,1);
}


.col.light .nectar-button.see-through {
	border: 2px solid rgba(255,255,255,0.4);
	color: #fff;
}

.col.light .nectar-button.see-through:hover {
	border: 2px solid rgba(255,255,255,1);
}

.col.dark .nectar-button.see-through {
	border: 2px solid rgba(0,0,0,0.4)!important;
	color: #444444!important;
}

.col.dark .nectar-button.see-through:hover {
	border: 2px solid rgba(0,0,0,1)!important;
}

.extra-color-1 { background-color: #357cdc!important; }
.extra-color-2 { background-color: #e8a829!important; }
.extra-color-3 { background-color: #333333!important; }

.accent-color {
	background-color:#26c97d!important;
	color: #fff !important;
}

.accent-color-dim
{
	background-color:#d8f3e7!important;
}


.icon-3x.accent-color:hover {
	background-color:#0d9254!important;
	color: #fff !important;
}



footer
{
	background-color: #111;
	color: #777;
	font-size: 14px;
	position: relative;
}

#footer-menu
{
	color: #ccc;
	position: relative;
	background-color: #212121;
	border-bottom: 1px solid #212121;
	padding: 12px 0;
}

#footer-menu .flex-row
{
	-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;
}

#footer-menu .flex-row .menu
{
	min-width: 9em;
}

#footer-menu h4
{
	color: #777;
}

#footer-copyright
{
	padding: 15px 0px;
}

#footer-menu .menu a
{
	display: block;
	font-size: 13px;
	color: #888;
}


#footer-menu .menu a:hover
{
	color: #66ca27;
}


#social
{
	float: right;
	margin: 0;
	padding: 0;
	font-size: 24px;
}

#social li
{
	float: left;
	margin-left: 24px;
	list-style-type: none;
	padding: 0;
}


#social li a
{
	color: #777;
}

#social li a:hover
{
	color: #26c97d;
}

#register-modal
{
	max-width: 730px;
	min-width: 730px;
	width: 730px;
}




#register
{
	padding: 30px 0;
}

#register h1 
{
	font-size: 36px;
	padding: 0;
	line-height: 120%;
	color: #555;
	font-weight: normal;
	letter-spacing: -1.25px;
}

#register-modal #register h1
{
	font-size: 21px;
	margin: 0;
	padding: 0;
}

#register form
{
	background: #fbfbfb;
	border: 1px solid #f7f7f7;
	padding: 3%;
	width: 65%;
	float: left;
}

#final-pitch
{
	float: right;
	width: 35%;
}

#final-pitch h3
{
	margin-top: 0;
}

#publishers-pitch,
#advertisers-pitch,
#strike-three
{
	padding: 4% 6%;
	background: #f7f7f7;
	border-left: 3px solid #eee;
	color: #777;
	font-size: 0.9em;
}


#publishers-pitch + hr
{
	margin: 0;
	padding: 0;
}

#strike-three
{
	background: #ddecf0;
	text-align: center;
}

#strike-three h3
{
	color: #5bb3ce;
}

@media (max-width: 900px) {
	body
	{
		font-size: 13px;
	}
}


@media (min-width: 690px) {


	
    .col {
      margin-right: 2%; 
     } 
     
     .wpb_column {
     	margin-right: 0px;
     }
}

/* RESET MARGINS */
.col.col_last { margin-right: 0; } 
.col:last-child { margin-right: 0; } 


.span_1 { width: 6.5%; }
.span_2 { width: 15.0%; }
.span_3 { width: 23.5%; }
.span_4 { width: 32.0%; }
.span_5 { width: 40.5%; }
.span_6 { width: 49.0%; }
.span_7 { width: 57.5%; }
.span_8 { width: 66.0%; }
.span_9 { width: 74.5%; }
.span_10 { width: 83.0%; }
.span_11 { width: 91.5%; }
.span_12 { width: 100%; }

.fa
{
display: -moz-inline-stack;display: inline-block;vertical-align: middle;zoom: 1;*display: inline;
}

@font-face{font-family:linecons;src:url(../font/linecons.eot);src:url(../font/linecons.eot?#iefix) format('embedded-opentype'),url(../font/linecons.ttf) format('truetype'),url(../font/linecons.woff) format('woff'),url(../font/linecons.svg#linecons) format('svg');font-weight:400;font-style:normal}[class*=" linecon-icon-"],[class^=linecon-icon-]{display: -moz-inline-stack;display: inline-block;vertical-align: middle;zoom: 1;*display: inline;font-family:linecons;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.linecon-icon-heart:before{content:"\e600"}.linecon-icon-cloud:before{content:"\e601"}.linecon-icon-star:before{content:"\e602"}.linecon-icon-tv:before{content:"\e603"}.linecon-icon-sound:before{content:"\e604"}.linecon-icon-video:before{content:"\e605"}.linecon-icon-trash:before{content:"\e606"}.linecon-icon-user:before{content:"\e607"}.linecon-icon-key:before{content:"\e608"}.linecon-icon-search:before{content:"\e609"}.linecon-icon-eye:before{content:"\e60a"}.linecon-icon-bubble:before{content:"\e60b"}.linecon-icon-stack:before{content:"\e60c"}.linecon-icon-cup:before{content:"\e60d"}.linecon-icon-phone:before{content:"\e60e"}.linecon-icon-news:before{content:"\e60f"}.linecon-icon-mail:before{content:"\e610"}.linecon-icon-like:before{content:"\e611"}.linecon-icon-photo:before{content:"\e612"}.linecon-icon-note:before{content:"\e613"}.linecon-icon-food:before{content:"\e614"}.linecon-icon-t-shirt:before{content:"\e615"}.linecon-icon-fire:before{content:"\e616"}.linecon-icon-clip:before{content:"\e617"}.linecon-icon-shop:before{content:"\e618"}.linecon-icon-calendar:before{content:"\e619"}.linecon-icon-wallet:before{content:"\e61a"}.linecon-icon-vynil:before{content:"\e61b"}.linecon-icon-truck:before{content:"\e61c"}.linecon-icon-world:before{content:"\e61d"}.linecon-icon-clock:before{content:"\e61e"}.linecon-icon-paperplane:before{content:"\e61f"}.linecon-icon-params:before{content:"\e620"}.linecon-icon-banknote:before{content:"\e621"}.linecon-icon-data:before{content:"\e622"}.linecon-icon-music:before{content:"\e623"}.linecon-icon-megaphone:before{content:"\e624"}.linecon-icon-study:before{content:"\e625"}.linecon-icon-lab:before{content:"\e626"}.linecon-icon-location:before{content:"\e627"}.linecon-icon-display:before{content:"\e628"}.linecon-icon-diamond:before{content:"\e629"}.linecon-icon-pen:before{content:"\e62a"}.linecon-icon-bulb:before{content:"\e62b"}.linecon-icon-lock:before{content:"\e62c"}.linecon-icon-tag:before{content:"\e62d"}.linecon-icon-camera:before{content:"\e62e"}.linecon-icon-settings:before{content:"\e62f"}

/* SteadySets */

@font-face{font-family:steadysets;src:url(../font/steadysets.eot);src:url(../font/steadysets.eot?#iefix) format('embedded-opentype'),url(../font/steadysets.ttf) format('truetype'),url(../font/steadysets.woff) format('woff'),url(../font/steadysets.svg#icomoon) format('svg');font-weight:400;font-style:normal}[class*=" steadysets-icon-"],[class^=steadysets-icon-]{display: -moz-inline-stack;display: inline-block;vertical-align: middle;zoom: 1;*display: inline;font-family:steadysets;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.steadysets-icon-type:before{content:"\e600"}.steadysets-icon-box:before{content:"\e601"}.steadysets-icon-archive:before{content:"\e602"}.steadysets-icon-envelope:before{content:"\e603"}.steadysets-icon-email:before{content:"\e604"}.steadysets-icon-files:before{content:"\e605"}.steadysets-icon-uniE606:before{content:"\e606"}.steadysets-icon-connection-empty:before{content:"\e607"}.steadysets-icon-connection-25:before{content:"\e608"}.steadysets-icon-connection-50:before{content:"\e609"}.steadysets-icon-connection-75:before{content:"\e60a"}.steadysets-icon-connection-full:before{content:"\e60b"}.steadysets-icon-microphone:before{content:"\e60c"}.steadysets-icon-microphone-off:before{content:"\e60d"}.steadysets-icon-book:before{content:"\e60e"}.steadysets-icon-cloud:before{content:"\e60f"}.steadysets-icon-book2:before{content:"\e610"}.steadysets-icon-star:before{content:"\e611"}.steadysets-icon-phone-portrait:before{content:"\e612"}.steadysets-icon-phone-landscape:before{content:"\e613"}.steadysets-icon-tablet:before{content:"\e614"}.steadysets-icon-tablet-landscape:before{content:"\e615"}.steadysets-icon-laptop:before{content:"\e616"}.steadysets-icon-uniE617:before{content:"\e617"}.steadysets-icon-barbell:before{content:"\e618"}.steadysets-icon-stopwatch:before{content:"\e619"}.steadysets-icon-atom:before{content:"\e61a"}.steadysets-icon-syringe:before{content:"\e61b"}.steadysets-icon-pencil:before{content:"\e61c"}.steadysets-icon-chart:before{content:"\e61d"}.steadysets-icon-bars:before{content:"\e61e"}.steadysets-icon-cube:before{content:"\e61f"}.steadysets-icon-image:before{content:"\e620"}.steadysets-icon-crop:before{content:"\e621"}.steadysets-icon-graph:before{content:"\e622"}.steadysets-icon-select:before{content:"\e623"}.steadysets-icon-bucket:before{content:"\e624"}.steadysets-icon-mug:before{content:"\e625"}.steadysets-icon-clipboard:before{content:"\e626"}.steadysets-icon-lab:before{content:"\e627"}.steadysets-icon-bones:before{content:"\e628"}.steadysets-icon-pill:before{content:"\e629"}.steadysets-icon-bolt:before{content:"\e62a"}.steadysets-icon-health:before{content:"\e62b"}.steadysets-icon-map-marker:before{content:"\e62c"}.steadysets-icon-stack:before{content:"\e62d"}.steadysets-icon-newspaper:before{content:"\e62e"}.steadysets-icon-uniE62F:before{content:"\e62f"}.steadysets-icon-coffee:before{content:"\e630"}.steadysets-icon-bill:before{content:"\e631"}.steadysets-icon-sun:before{content:"\e632"}.steadysets-icon-vcard:before{content:"\e633"}.steadysets-icon-shorts:before{content:"\e634"}.steadysets-icon-drink:before{content:"\e635"}.steadysets-icon-diamond:before{content:"\e636"}.steadysets-icon-bag:before{content:"\e637"}.steadysets-icon-calculator:before{content:"\e638"}.steadysets-icon-credit-cards:before{content:"\e639"}.steadysets-icon-microwave-oven:before{content:"\e63a"}.steadysets-icon-camera:before{content:"\e63b"}.steadysets-icon-share:before{content:"\e63c"}.steadysets-icon-bullhorn:before{content:"\e63d"}.steadysets-icon-user:before{content:"\e63e"}.steadysets-icon-users:before{content:"\e63f"}.steadysets-icon-user2:before{content:"\e640"}.steadysets-icon-users2:before{content:"\e641"}.steadysets-icon-unlocked:before{content:"\e642"}.steadysets-icon-unlocked2:before{content:"\e643"}.steadysets-icon-lock:before{content:"\e644"}.steadysets-icon-forbidden:before{content:"\e645"}.steadysets-icon-switch:before{content:"\e646"}.steadysets-icon-meter:before{content:"\e647"}.steadysets-icon-flag:before{content:"\e648"}.steadysets-icon-home:before{content:"\e649"}.steadysets-icon-printer:before{content:"\e64a"}.steadysets-icon-clock:before{content:"\e64b"}.steadysets-icon-calendar:before{content:"\e64c"}.steadysets-icon-comment:before{content:"\e64d"}.steadysets-icon-chat-3:before{content:"\e64e"}.steadysets-icon-chat-2:before{content:"\e64f"}.steadysets-icon-chat-1:before{content:"\e650"}.steadysets-icon-chat:before{content:"\e651"}.steadysets-icon-zoom-out:before{content:"\e652"}.steadysets-icon-zoom-in:before{content:"\e653"}.steadysets-icon-search:before{content:"\e654"}.steadysets-icon-trashcan:before{content:"\e655"}.steadysets-icon-tag:before{content:"\e656"}.steadysets-icon-download:before{content:"\e657"}.steadysets-icon-paperclip:before{content:"\e658"}.steadysets-icon-checkbox:before{content:"\e659"}.steadysets-icon-checkbox-checked:before{content:"\e65a"}.steadysets-icon-checkmark:before{content:"\e65b"}.steadysets-icon-refresh:before{content:"\e65c"}.steadysets-icon-reload:before{content:"\e65d"}.steadysets-icon-arrow-right:before{content:"\e65e"}.steadysets-icon-arrow-down:before{content:"\e65f"}.steadysets-icon-arrow-up:before{content:"\e660"}.steadysets-icon-arrow-left:before{content:"\e661"}.steadysets-icon-settings:before{content:"\e662"}.steadysets-icon-battery-full:before{content:"\e663"}.steadysets-icon-battery-75:before{content:"\e664"}.steadysets-icon-battery-50:before{content:"\e665"}.steadysets-icon-battery-25:before{content:"\e666"}.steadysets-icon-battery-empty:before{content:"\e667"}.steadysets-icon-battery-charging:before{content:"\e668"}.steadysets-icon-uniE669:before{content:"\e669"}.steadysets-icon-grid:before{content:"\e66a"}.steadysets-icon-list:before{content:"\e66b"}.steadysets-icon-wifi-low:before{content:"\e66c"}.steadysets-icon-folder-check:before{content:"\e66d"}.steadysets-icon-folder-settings:before{content:"\e66e"}.steadysets-icon-folder-add:before{content:"\e66f"}.steadysets-icon-folder:before{content:"\e670"}.steadysets-icon-window:before{content:"\e671"}.steadysets-icon-windows:before{content:"\e672"}.steadysets-icon-browser:before{content:"\e673"}.steadysets-icon-file-broken:before{content:"\e674"}.steadysets-icon-align-justify:before{content:"\e675"}.steadysets-icon-align-center:before{content:"\e676"}.steadysets-icon-align-right:before{content:"\e677"}.steadysets-icon-align-left:before{content:"\e678"}.steadysets-icon-file:before{content:"\e679"}.steadysets-icon-file-add:before{content:"\e67a"}.steadysets-icon-file-settings:before{content:"\e67b"}.steadysets-icon-mute:before{content:"\e67c"}.steadysets-icon-heart:before{content:"\e67d"}.steadysets-icon-enter:before{content:"\e67e"}.steadysets-icon-volume-decrease:before{content:"\e67f"}.steadysets-icon-wifi-mid:before{content:"\e680"}.steadysets-icon-volume:before{content:"\e681"}.steadysets-icon-bookmark:before{content:"\e682"}.steadysets-icon-screen:before{content:"\e683"}.steadysets-icon-map:before{content:"\e684"}.steadysets-icon-measure:before{content:"\e685"}.steadysets-icon-eyedropper:before{content:"\e686"}.steadysets-icon-support:before{content:"\e687"}.steadysets-icon-phone:before{content:"\e688"}.steadysets-icon-email2:before{content:"\e689"}.steadysets-icon-volume-increase:before{content:"\e68a"}.steadysets-icon-wifi-full:before{content:"\e68b"}

[class^="icon-"],[class*=" icon-"] {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    top: -2px;
    word-spacing: 1px;
}

.icon-outline
{
	background-color: #26c97d;
    border-radius: 999px 999px 999px 999px;
    -moz-border-radius: 999px 999px 999px 999px;
    -webkit-border-radius: 999px 999px 999px 999px;
    -o-border-radius: 999px 999px 999px 999px;
    height: 32px;
    width: 32px;
    line-height: 32px;
    color: #fff;
}


[class^="icon-"].icon-3x,[class*=" icon-"].icon-3x {
	background-color: #ecebe9;
}

body [class^="icon-"].icon-3x.alt-style, body [class*=" icon-"].icon-3x.alt-style {
	background-color: #26c97d;
	color: #fff!important;
}

.col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.alt-style,
.col:not(#post-area):not(.span_12):not(#sidebar):hover [class*=" icon-"].icon-3x.alt-style {
	background-color: rgba(0,0,0,0.25) !important;
}

.col:hover > [class^="icon-"].icon-3x.extra-color-1.alt-style, .col:hover > [class*=" icon-"].icon-3x.extra-color-1.alt-style, .col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.extra-color-1.alt-style, body .col:not(#post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x.extra-color-1.alt-style {
color: #3aa7f4!important;
}

.light .col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.alt-style, .light .col:not(#post-area):not(.span_12):not(#sidebar):hover [class*=" icon-"].icon-3x.alt-style {
	background-color: rgba(0,0,0,0.1);
}

#sidebar .widget:hover [class^="icon-"].icon-3x.alt-style {
	background-color: rgba(0,0,0,0.035);
}


.full-width-section [class^="icon-"].icon-3x, .full-width-section [class*=" icon-"].icon-3x  {
	background-color: rgba(0,0,0,0.021);
}

[class^="icon-"].icon-3x,[class*=" icon-"].icon-3x, .circle-border {
    background-color: #ecebe9;
    border-radius: 999px 999px 999px 999px;
    -moz-border-radius: 999px 999px 999px 999px;
    -webkit-border-radius: 999px 999px 999px 999px;
    -o-border-radius: 999px 999px 999px 999px;
    color: #26c97d;
    display: inline-block;
    font-size: 2.5em;
    height:3em;
    line-height: 3em;
    max-width: 100%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 3em;
    word-spacing: 1px;
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
}

[class^="icon-"].icon-3x.extra-color-1,[class^="icon-"].icon-3x.extra-color-2,[class*=" icon-"].icon-3x.extra-color-2, .circle-border.extra-color-2 {
color: #fff;
}

[class^="icon-"].icon-3x, [class*=" icon-"].icon-3x {
	margin-bottom: 9px;
}

body [class^="icon-"].icon-tiny {
	line-height: 15px!important;
	height: 13px; 
	width: 15px;
	margin-right: 5px;
	font-size: 13px!important;
	color: #888;
	background-color: transparent!important;
}

body [class^="icon-"].icon-default-style {
	line-height: 34px!important;
	height: 34px; 
	width: 34px;
	margin-right: 0px;
	font-size: 34px!important;
	color: #26c97d;
	background-color: transparent!important;
}

h3 [class^="icon-"], h2 [class^="icon-"], h4 [class^="icon-"], h5 [class^="icon-"] {
	margin-right: 5px;
}

.col:not(#post-area):not(.span_12):not(#sidebar):hover .circle-border, #sidebar .widget:hover .circle-border {
	border: 1px solid #26c97d;
    transform: scale(1.18);
    -moz-transform: scale(1.18);
    -o-transform: scale(1.18);
    transition-timing-function: cubic-bezier(0.4, 0.25, 0.14, 1.73);
    -moz-transition-timing-function: cubic-bezier(0.4, 0.25, 0.14, 1.73);
    -webkit-transition-timing-function: cubic-bezier(0.4, 0.25, 0.14, 1.73);
    -o-transition-timing-function: cubic-bezier(0.4, 0.25, 0.14, 1.73);
}

.col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x, .col:not(#post-area):not(.span_12):not(#sidebar):hover [class*=" icon-"].icon-3x, #sidebar .widget:hover [class^="icon-"] {
	color: #fff!important;
	background-color: #26c97d;
}

#post-area .span_12:hover [class^="icon-"].icon-3x {
	color: #fff!important;
}

.circle-border {
	background: none repeat scroll 0 0 transparent;
    border: 1px solid #ecebe9;
    height: 100%;
    left: 0;
    position: absolute;
    z-index: -1;
    top: 0;
    transition-duration: 225ms;
    -moz-transition-duration: 225ms;
    -webkit-duration: 225ms;
    -o-transition-duration: 225ms;
    transition-property: all;
    -moz-transition-property: all; 
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-timing-function: cubic-bezier(0.5, -0.7, 0.67, 0.7);
    -moz-transition-timing-function: cubic-bezier(0.5, -0.7, 0.67, 0.7);
    -o-transition-timing-function: cubic-bezier(0.5, -0.7, 0.67, 0.7);
    -webkit-transition-timing-function: cubic-bezier(0.5, -0.7, 0.67, 0.7);
    width: 100%;
}

.full-width-section .circle-border  {
	background-color: rgba(0,0,0,0.021);
	border-color: rgba(0,0,0,0.05);
}

.full-width-section .light .circle-border  {
	background-color: rgba(0,0,0,0.021);
	border-color: rgba(0,0,0,0.2);
}

.main-content .span_10.iwt { margin-right: 0px!important;}

.main-content .vc_span12 .span_2.iwt { width: 4%; }
.main-content .vc_span12 .span_10.iwt { width: 93%; }

.main-content .vc_span8 .span_2.iwt { width: 7%; }
.main-content .vc_span8 .span_10.iwt { width: 91%; }

.main-content .vc_span6 .span_2.iwt { width: 10%; }
.main-content .vc_span6 .span_10.iwt { width: 88%; }

.main-content .vc_span4 .span_2.iwt { width: 15%; }
.main-content .vc_span4 .span_10.iwt { width: 83%; }

.main-content .vc_span3 .span_2.iwt { width: 21%; }
.main-content .vc_span3 .span_10.iwt { width: 77%; }

.main-content .vc_span2 .span_2.iwt { width: 26%; }
.main-content .vc_span2 .span_2.iwt i { font-size: 26px!important; line-height: 26px!important; width: 26px!important; height: 26px!important;}
.main-content .vc_span2 .span_10.iwt { width: 72%; }

.main-content .col.iwt img { padding-right: 10px;}



/* DIRECTIONAL NAV
   ================================================== */

div.slider-nav {
    display: block }

div.slider-nav span {
    position: absolute;
    z-index: 1000;
    text-indent: -9999px;
    cursor: pointer; 
 }
 
 
/* JS Composer */
/** js_composer_front.css **/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
/* Grid systems
---------------------------------------------------------- */
.wpb_row {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Grid with fluid columns */
.vc_row-fluid {
  width: 100%;
  *zoom: 1;
}
.vc_row-fluid:before,
.vc_row-fluid:after {
  display: table;
  content: "";
}
.vc_row-fluid:after {
  clear: both;
}
.vc_row-fluid [class*="vc_span"] {
  display: block;
  width: 100%;
  min-height: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.5%;
}
.vc_row-fluid [class*="vc_span"]:first-child {
  margin-left: 0;
}
.vc_row-fluid .vc_span12,
.wpb_teaser_grid.wpb_carousel .vc_span12 {
  width: 100%;
}
.vc_row-fluid .vc_span11 {
  width: 91.45833333333334%;
}
.vc_row-fluid .vc_span10 {
  width: 82.91666666666667%;
}
.vc_row-fluid .vc_span9 {
  width: 74.375%;
}
.vc_row-fluid .vc_span8 {
  width: 65.83333333333334%;
}
.vc_row-fluid .vc_span7 {
  width: 57.29166666666667%;
}
.vc_row-fluid .vc_span6,
.wpb_teaser_grid.wpb_carousel .vc_span6 {
  width: 48.75%;
}
.vc_row-fluid .vc_span5 {
  width: 40.208333333333336%;
}
.vc_row-fluid .vc_span4,
.wpb_teaser_grid.wpb_carousel .vc_span4 {
  width: 31.666666666666668%;
}
.vc_row-fluid .vc_span3,
.wpb_teaser_grid.wpb_carousel .vc_span3 {
  width: 23.125%;
}
.vc_row-fluid .vc_span2 {
  width: 14.583333333333334%;
}
.vc_row-fluid .vc_span1 {
  width: 6.041666666666667%;
}
.wpb_row > .wpb_column > .wpb_wrapper .wpb_content_element:last-child {
  margin-bottom: 0;
}
/* end Grid systems -------------------------------------- */
/* Responsive classes
---------------------------------------------------------- */
.hidden {
  display: none;
  visibility: hidden;
}
.visible-phone {
  display: none !important;
}
.visible-tablet {
  display: none !important;
}
.hidden-desktop {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important ;
  }
}



#account-notices .unread,
#account-notices .unread td
{
	background: #e3f7fc;
}



/* FANCY CAPTCHA STARTS */
.ajax-fc-container { position: relative; margin: 20px auto; width: 316px; background:#a8d7ea;  color:#fff;  }

/* rounded corners */
.ajax-fc-rtop, .ajax-fc-rbottom{ display:block; background: white; }
.ajax-fc-rtop *, .ajax-fc-rbottom *{ display: block; height: 1px; overflow: hidden; background:#a8d7ea; }

/* describes left and right boxes */
div#ajax-fc-content { position: absolute; margin-top: -3px; margin-left: 9px; width: 298px; height: 105px; background: url(../img/bg-content-div.png); }
div#ajax-fc-content div#ajax-fc-left { width: 200px; height: 100px; float: left; }

div#ajax-fc-content div#ajax-fc-right { width: 98px; height: 100px; float: right; }

/* block left: task and pictures */
p#ajax-fc-task { line-height: 16px; margin: 0; padding: 11px 0 0 11px; font-size: 10px; font-family: Verdana, Tahoma, Arial; color: #18779d; }
p#ajax-fc-task span { color: #66a70b; font-weight: bold; }

ul#ajax-fc-task { width: 190px; height: 18px; list-style-type: none; background: url(../img/bg-items.png) -4px 0px; background-repeat: no-repeat; margin: 6px 0 0 0; padding: 5px 0 0 2px; }

/* block right: cycle and backlink */
ul#ajax-fc-task li { float: left; margin-right: 1px; margin-top: 6px;}
p#ajax-fc-circle { position: absolute; margin: 18px 0 0 15px; width: 79px; height: 79px; background: url(../img/circle.png); background-repeat: no-repeat; }
img#ajax-fc-backlink { position: absolute; margin-top: 1px; margin-right: 2px; right: 0; border: 0px; z-index: 101; }

/* left and right png borders */
div#ajax-fc-corner-spacer { height: 99px; }
img.ajax-fc-border { position: absolute; margin-top: -3px; }
img.ajax-fc-border#ajax-fc-left { left: 2px; }
img.ajax-fc-border#ajax-fc-right { right: 2px; }

/* items */
.ajax-fc-highlighted { cursor: pointer; z-index: 102}

/* rounded corners */
.ajax-fc-r1{ margin: 0 5px } .ajax-fc-r2{ margin: 0 3px } .ajax-fc-r3{ margin: 0 2px } .ajax-fc-r4{ margin: 0 1px; height: 2px }

/* FANCY CAPTCHA ENDS */

#support-ticket h1,
#support-ticket h2
{
	margin: 0;
	line-height: 130%;
	margin-bottom: 0.3em;
}

body #support-ticket .well
{
	background: transparent;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}


#support-ticket .well p > strong
{
	font-size: 109%;
}

#support-ticket .well.alert-success
{
	background: #f5faf6;
	border-color: #d9dfdb;
}

.froala-box
{
	font-size: 14px;
}


#pastebin .froala-element
{
    max-height: 80%;
}


@media (max-width: 600px)
{	
	body
	{
		font-size: 13px;
	}
	
	body > #pastebin,
	body > #submission
	{
		position: absolute !important;
		left: 0 !important;
		right: 0 !important;
		top: 0 !important;
		max-width: 100% !important;
		width: 100% !important;
		margin: 0 !important;
	}
}
	
@media (min-width: 768px) and (max-width: 979px)
{
	body
	{
		font-size: 14px;
	}
}

	
@media (min-width: 980px) and (max-width: 1280px)
{
	body
	{
		font-size: 15px;
	}
}

@media (min-width: 1280px)
{
	body
	{
		font-size: 16px;
	}
}

/*!
 * froala_editor v1.2.3 (http://editor.froala.com)
 * Copyright 2014-2014 Froala
 */.froala-element img.fr-fil,img.fr-tag.fr-fil{z-index:1;position:relative;vertical-align:top;display:block;margin:auto;overflow:auto;padding:10px 10px 10px 3px;float:left!important}.froala-element img.fr-fil.fr-tni,img.fr-tag.fr-fil.fr-tni{float:none!important;margin-left:0!important}.froala-element img.fr-fir,img.fr-tag.fr-fir{z-index:1;position:relative;vertical-align:top;display:block;margin:auto;overflow:auto;padding:10px 3px 10px 10px;float:right!important}.froala-element img.fr-fir.fr-tni,img.fr-tag.fr-fir.fr-tni{float:none!important;margin-right:0!important}.froala-element img.fr-fin,img.fr-tag.fr-fin{z-index:1;position:relative;vertical-align:top;display:block;margin:auto;overflow:auto;padding:10px 0;float:none}.froala-element a.fr-file,a.fr-file{position:relative}.froala-element a.fr-file:before,a.fr-file:before{position:relative;display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;content:"\f0c6";top:0;padding-right:3px}.froala-element hr,hr.fr-tag{height:0;border:0;border-top:solid 1px #ccc;clear:both}.froala-element pre,pre.fr-tag{white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;border:solid 1px #ccc;background:#fcfcfc;padding:10px;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}.froala-element blockquote,blockquote.fr-tag{margin-left:20px;margin-right:0;margin-top:0;padding-left:20px;position:relative;font-style:italic;border-left:solid 5px #ccc}.froala-element ul,.froala-element ol,ul.fr-tag,ol.fr-tag{padding-left:25px}.froala-element table,table.fr-tag{border-collapse:collapse;empty-cells:show;width:100%;margin-bottom:10px;margin-top:10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.froala-element table td,table.fr-tag td{border:solid 1px #ccc;padding:5px}.froala-element p,p.fr-tag{margin:0 0 10px}.froala-element h1,h1[class=fr-tag]{font-size:36px;line-height:1.1;font-weight:400;margin-top:20px;margin-bottom:10px}.froala-element h2,h2[class=fr-tag]{font-size:30px;line-height:1.1;font-weight:400;margin-top:20px;margin-bottom:10px}.froala-element h3,h3[class=fr-tag]{font-size:24px;line-height:1.1;font-weight:400;margin-top:20px;margin-bottom:10px}.froala-element h4,h4[class=fr-tag]{font-size:18px;line-height:1.1;font-weight:400;margin-top:10px;margin-bottom:10px}.froala-element h5,h5[class=fr-tag]{font-size:14px;line-height:1.1;font-weight:400;margin-top:10px;margin-bottom:10px}.froala-element h6,h6[class=fr-tag]{font-size:12px;line-height:1.1;font-weight:400;margin-top:10px;margin-bottom:10px}.fr-fvn{float:none;display:block!important;text-align:center!important}.fr-fvl{float:left;margin:10px 10px 10px 1px}.fr-fvr{float:right;margin:10px 1px 10px 10px}
 
 

#announcement-table tr.new td
{
	background: #fffce2;
	font-weight: 100;
	font-family: "OpenSansBold", "OpenSansRegular", Helvetica, Arial, sans-serif;
	letter-spacing: -1px;
}

#announcement
{
	padding: 3rem 0;
}

#announcement h1,
#announcement h2,
#announcement h3,
#announcement h4,
#announcement h5,
#announcement h6
{
	line-height: 150%;
	margin: 0;
	margin-bottom: 0.5rem;
}

.vdb_player 
{
	margin-bottom: 1em;
}

.confidentcaptcha_footer
{
	padding-top: 15px;
}

#inline-paste-bar
{
	background: #384e46;
	min-height: 4em;
	min-height: 4rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
	width: 100%;
	  -webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	          box-sizing: border-box;
	          overflow: hidden;
}


#inline-paste-bar form input
{
	background: #f7fff8;
}


#user-menu .balance-link
{
	color: #64e475;
}


#user-menu .balance-link img
{
	max-height: 1.25em;
	margin-right: 0.25em;
}	


#inline-paste-bar form input::-webkit-input-placeholder
{
	color: #78c081;
}

#inline-paste-bar form input::-moz-input-placeholder
{
	color: #78c081;
}


#inline-paste-bar form input::-ms-input-placeholder
{
	color: #78c081;
}


#inline-paste-bar form input:focus
{
	background: #fff;
}


#inline-paste-bar input[required]:focus
{
	border-color: #37b245;
	color: #37b245;
	box-shadow: 0 0 0.45em rgba(56, 179, 70, 0.75);
	-moz-box-shadow: 0 0 0.45em rgba(56, 179, 70, 0.75);
	-webkit-box-shadow: 0 0 0.45em rgba(56, 179, 70, 0.75);
	
}

#inline-paste-bar .inline-group
{
	-webkit-box-flex: 1 0;
	-webkit-flex: 1 0;
	-moz-flex: 1 0;
	-ms-flex: 1 0;
	flex: 1 0;
	padding: 0 1em;
}

#inline-paste-bar #new-button-container
{
	-webkit-box-flex: 0 0 auto;
	-webkit-flex: 0 0 auto;
	-moz-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	padding: 0.5em;
	padding: 0.5rem;
	  -webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	          box-sizing: border-box;
}

#inline-paste-bar #new-button
{
	background: #47c558;
	text-decoration: none;
}


#inline-paste-bar #new-button,
#inline-paste-bar .btn
{
	color: #fff;
	padding: 0.525em 1.5em;
	font-size: 115%;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
	border: 0;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
	text-align: center;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#inline-paste-bar .btn
{
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}
	

#inline-paste-bar #new-button:hover
{
	background: #20ac34;
}

#inline-paste-bar form
{
}

#inline-paste-bar input
{
	font-size: 115%;
	border: 0;
	padding: 0.45em 0.6em;
}

#inline-paste-bar img,
#inline-paste-bar input,
#inline-paste-bar .btn
{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	line-height: 150%;
}


#inline-paste-bar .btn-primary
{
	background: #25acf4;
}

#inline-paste-bar .btn-primary:hover
{
	background: #067bba;
}

@media (min-width: 600px)
{

	#binbox.dashboard #wrapper
	{
		-webkit-flex-direction: row;
		flex-direction: row;
	}
	
	#sidebar
	{
		-webkit-box-flex: 0 0 15em;
		-webkit-flex: 0 0 15em;
		-moz-flex: 0 0 15em;
		-ms-flex: 0 0 15em;
		flex: 0 0 15em;
	}
	
	#menu-link
	{
		display: none;
	}
	
	#sidebar .sidebar-group
	{
		display: block;
		max-height: 100%;
		opacity: 1;
		filter: alpha(opacity=100);
	}
	
	
	#inline-paste-bar .inline-group:first-child
	{
		padding-left: 0;
	}

}