
#content,
#main-features
{
	background: #f7f7f7;
}

#page-home header
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

#page-home #brand
{
	background: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#binbox .container
{
	width: 81%;
	max-width: 900px;
}

#page-home #content, #page-home #wrapper { background: transparent;}

#pastebin-home
{
	padding: 1em 0;
}

#page-home #call-to-action
{
	margin-top: 1em;
	padding: 1.5em 0;
	font-size: 1.25em;
	text-align: center;
}

#pastebin-home #pastebin
{
	margin: 0;
}


#pastebin-home h2
{
	margin-top: 0;
	color: #777;
}

#main-features
{
	padding: 4em 0;
	margin: 0;
	text-align: left;
	color: #777;
	font-size: 1em;
}

#main-features .icon-3x.extra-color-1
{
	color: #fff;
}

#main-features p
{
	color: #777;
}

#main-features h3
{
	margin: 0;
	font-size: 1.30em;
}

#main-features .icon-normal
{
	margin-top: 0.25em;
	font-size: 3em;
	color: #0071d1;
}


#call-to-action,
.call-to-action
{
	font-family: 'OpenSansSemibold', 'OpenSansRegular', Helvetica, Arial, sans-serif;
	position: relative;
	z-index: 10;
	vertical-align: middle;
	font-size: 0.65em;
	color: #fff;
	text-transform: uppercase;
	text-shadow: none;
}

#introduction .call-to-action
{
	margin-top: 3em;
}


#page-home #call-to-action
{
	text-transform: none;
}


#call-to-action a {
	color: #45484a;
}


#call-to-action span {
	font-family: 'OpenSansSemibold';
}


#pastebin-home #pastebin
{
	z-index: 5;
	display: block;
	position: relative;
	margin: 0 auto !important;
	right: auto;
	left: auto;
	min-width: 400px;
	width: 90%;
	max-width: 900px;
}


#homepage
{
	text-align: center;
}


#introduction .container
{
	text-align: left;
}

#welcome-banner
{
	
	background: #313131 url('../img/money_banner.jpg') no-repeat center center; 
	background-size: cover;	
	background-attachment: fixed;
	padding: 6em 0 3em 0;
	font-size: 1.25em;
	line-height: 150%;
	text-align: center;
	color: #eee;
	color: rgba(255,255,255,0.85);
	-webkit-box-shadow: inset 0 15px 45px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 15px 45px rgba(0,0,0,0.3);
	box-shadow: inset 0 15px 45px rgba(0,0,0,0.3);
}



.call-to-action .nectar-button.btn-default,
.call-to-action .nectar-button.btn-success
{
	border: 0;
}

#welcome-banner h1
{
	color: #fff;
	font-size: 1.25em;
	font-weight: normal;
	font-family: 'OpenSansSemiBold', "Helvetica Nueue", Helvetica, Arial;
	margin: 0;
	margin-bottom: 0.5em;
	line-height: 150%;
}

#welcome-banner h1 + p
{
	margin-top: 0.5em;
	font-family: 'OpenSansLight', "Helvetica Nueue", Helvetica, Arial;
	opacity:0.9;
	filter: alpha(opacity=45);
	font-weight: normal;
	line-height: 130%;
}



#introduction
{
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

#page-home #submission
{
	display: none;
	margin-top: 20px;
}



@media (max-width: 899px)
{
	#main-features .col.span_2,
	#main-features .col.span_2 + .col
	{
		float: none;
		margin: 0 auto;
		text-align: center;
	}
	
	#introduction .col
	{
		display: block;
		float: none;
		width: 91%;
		margin: 1em auto !important;
	} 
	

}

@media (max-width: 600px)
{
	#main-features .col.span_6
	{
		width: 100%;
	}
}


#testimonial-banner
{
	position: relative;
	text-shadow: 0 1px 1px #222;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	text-align: center;
	color: #fff;
}

#testimonial-banner small
{
	color: #ccc;
}


.milestone-col
{
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
	margin: 0 3%;
	margin-bottom: 1.5em;
}

.milestone-col:first-child
{
	margin-left: 0;
}

.milestone-col:last-child
{
	margin-right: 0;
}

.nectar-milestone {
	text-align: center;
}

.nectar-milestone .number {
	font-size: 3em;
	line-height: 1em;
	display: block;
	font-family: 'openSansSemiBold';
	margin-bottom: 5px;	
}

.nectar-milestone .subject {
	letter-spacing: 0px;
    font-family: 'OpenSansRegular';
    font-size: 17px!important;
    text-transform: uppercase;
    color: rgba(255,255,255,0.8);
}


@media (min-width: 1280px)
{

	body#page-home #binbox .container,
	body#page-earn #binbox .container,
	body#page-tour #binbox .container
	{
		max-width: 1040px;
	}

}