/* HTML Element Styling */
/*
 * Fonts
 *
 * Our font size and line height declarations are based on the following ALA
 * article:
 *   http://www.alistapart.com/articles/howtosizetextincss
 *
 * All modern browsrs use a 16px default font size. Specifying the font-size
 * and line-height in ems (relative to the 16px default font) allows the user
 * to resize the font in the browser and produces the most consistent results
 * across different browsers.
 */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%; /* Fixes exaggerated text resizing in IE6 and IE7 */
  color: #444444; /* #5F6466 */
}

#page-wrapper {
  margin: 0 auto;
  overflow-y: hidden;
}

#skip-to-nav,
#page,
body.cke_show_borders {
  /* Use a 12px base font size with a 16px line height */
  font-size: 0.75em; /* 16px x .75 = 12px */
  line-height: 1.333em; /* 12px x 1.333 = 16px */
}

#page {
  padding: 0;
  position: relative;
}

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
  /* The following font family declarations are based on the Microsoft core web
   * fonts which are common fonts available on most computer systems. The DejaVu
   * fonts are commonly available on Linux systems where the MS fonts are less
   * common. Tahoma and Helvetica are also widely available.
   *
   * A user's web browser will look at the comma-separated list and will
   * attempt to use each font in turn until it finds one that is available
   * on the user's computer. The final "generic" font (sans-serif or serif)
   * hints at what type of font to use if the web browser doesn't find any
   * of the fonts in the list.

  font-family: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
  font-family: Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;

  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
  font-family: Tahoma, Verdana, "DejaVu Sans", sans-serif;
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;

  font-family: "Courier New", "DejaVu Sans Mono", monospace;
  font-family: Verdana, Geneva, Tahoma, "DejaVu Sans", sans-serif; 
  */

  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

pre,
code {
  font-size: 1.1em; /* Monospace fonts can be hard to read */
  font-family: "Courier New", "DejaVu Sans Mono", monospace;
}

.region-sidebar-first .content,
.region-sidebar-first h2,
#navigation .content,
#navigation h2,
.breadcrumb {
  font-family: Lucida Grande, Tahoma, Lucida Sans Unicode, Verdana, "DejaVu Sans", sans-serif;
}

h1.title,
#site-name {
  font-family: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
  font-variant: small-caps;
}

.js h1.title,
.js #site-name {
  font-family: "Trajan Pro", "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
  font-variant: none;
	visibility: hidden;
}

.cufon-ready h1.title,
.cufon-ready #site-name { /* for Cufon.replace() */
	visibility: visible !important;
}

a {
  color: #3A6FA2; /* #7197BB *//* #467EB4 */
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Removes dotted borders on clicked links from Firefox */
a:active,
a:focus,
button:active,
button:focus {
  outline: none;
  opacity: 0.7;
}

/*
 * Headings
 */
h1 {
  font-size: 2em;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.3em;
  margin-top: 0.667em;
  margin-bottom: 0.667em;
}

h3 {
  font-size: 1.3em;
  line-height: 1.3em;
  margin-top: 0.769em;
  margin-bottom: 0.769em;
}

.content h3 {
  color: #3A6FA2; /* #5C94C8 */
}

h4,
h5,
h6 {
  font-size: 1.1em;
  line-height: 1.3em;
  margin-top: 0.909em;
  margin-bottom: 0.909em;
}

/*
 * Block-level elements
 */
p,
ul,
ol,
dl,
pre,
table,
fieldset {
  margin: 1em 0;
}

blockquote {
  margin: 1em 2em;
}

/*
 * Lists
 *
 * We need to standardize the list item indentation.
 */
ul {
  margin-left: 0;
  padding-left: 2em; /* LTR */
}

.block ul,
.item-list ul /* Drupal overrides */ {
  margin: 1em 0;
  padding: 0 0 0 2em; /* LTR */
}

ul ul, ul ol,
ol ol, ol ul,
.block ul ul, .block ul ol,
.block ol ol, .block ol ul,
.item-list ul ul, .item-list ul ol,
.item-list ol ol, .item-list ol ul {
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

.item-list ul li /* Drupal override */ {
  margin: 0;
  padding: 0;
  list-style: inherit;
}

ul.menu li,
li.expanded,
li.collapsed,
li.leaf /* Drupal override */ {
  margin: 0;
  padding: 0;
}

ul          { list-style-type: disc; }
ul ul       { list-style-type: circle; }
ul ul ul    { list-style-type: square; }
ul ul ul ul { list-style-type: circle; }
ol          { list-style-type: decimal; }
ol ol       { list-style-type: lower-alpha; }
ol ol ol    { list-style-type: decimal; }

dt {
  margin: 0;
  padding: 0;
}

dd {
  margin: 0 0 0 2em;
  padding: 0;
}

table {
  border-collapse: collapse;
  /*width: 100%;*/ /* Prevent cramped-looking tables */
}

.content table {
  margin: 5px;
}
.content table[align=left] {
  margin-left: 0;
}
.content table[align=right] {
  margin-right: 0;
}

th,
thead th,
tbody th {
  text-align: left; /* LTR */
}

tbody {
  border-top: none;
}

td,
th {
  padding: 0.3em 0.5em;
  vertical-align: top;
}

tr.even {
  background-color: #FDFDFD;
}

tr.ok {
  background-color: #DDFFDD;
}

tr.warning {
  background-color: #FFFFDD;
}

tr.error {
  background-color: #220000;
}

tr.drag-previous {
  background-color: #FFFFDD;
}

abbr {
  border-bottom: 1px dotted #666;
  cursor: help;
  white-space: nowrap;
}

abbr.created /* Date-based "abbreviations" show computer-friendly timestamps which are not human-friendly. */ {
  border: none;
  cursor: auto;
  white-space: normal;
}

img {
  border: none;
}

hr {
  height: 1px;
  border: 1px solid #666;
}

/*
 * Forms
 */
form {
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 1em 0;
  padding: 0.5em;
}


/* Layout Styling (DIV Positioning) */
#page-wrapper {
  width: 59.375em; /* 950px */
  min-width: 950px; /* Don't allow the browser to make the site unreadable. */
}

.region-header {
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
  position: relative;
}

#content-inner {
  position: relative;
}

.js .front #main,
.js .not-front #content-inner-inner {
  border-bottom: 1px solid #DADADA;
}

.sidebar-first #content-inner,
.two-sidebars #content-inner {
  background: #779BC3;
}

/*
 * Content
 */
#content {
  width: 100%;
  margin-left: 0; /* LTR */
  margin-right: -100%; /* LTR */ /* Negative value of #content's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content-inner. */
}
.js #content,
.sidebar-first #content {
  float: left; /* LTR */
}

.sidebar-first #content-inner,
.two-sidebars #content-inner {
  padding-left: 11.5em; /* 11.00em = 132px */ /* LTR */ /* The width + left margin of .region-sidebar-first. */
  padding-right: 0; /* LTR */
}

#content-inner-inner {
}

.sidebar-first #content-inner-inner,
.two-sidebars #content-inner-inner {
  background: #FFF;
  padding: 0.7em 0.8em 0;
}

#content-inner,
#footer .section {
  padding-left: 1em;
  padding-right: 1em;
}

.sidebar-first #footer .section,
.two-sidebars #footer .section {
  padding-left: 0;
  padding-right: 0;
}

.not-front #main-content {
  padding-bottom: 1em;
  min-height: 500px;
  height: auto !important;
  height: 500px;
}

.front #main-content {
  padding-bottom: 1em;
}

.two-sidebars #content-inner {
  padding-left: 11.5em; /* The width + left margin of .region-sidebar-first. */
  padding-right: 0;
}

.sidebar-second #main-content,
.two-sidebars #main-content {
  float: left;
  margin-right: -100%;
}

.with-content-title #main-content-inner-inner {
  border-top: 6px solid #002B7F;
}

.with-content-title .region-sidebar-second .section {
  border-top: 6px solid #898C8D; /* #99A3A7 */
}

.sidebar-second #main-content-inner,
.two-sidebars #main-content-inner {
  padding-right: 22.583em; /* 271px = 22.583em */
}

/*
 * Navigation
 */
#navigation {
  position: relative;
  z-index: 5;
  width: 100%;
  margin-left: 0; /* LTR */
  margin-right: -100%; /* LTR */ /* Negative value of #navigation's width + left margin. */
  padding: 2px 0;
  overflow: visible;
  margin-top: 1em;
  border: 6px solid #002B7F;
  border-style: solid none;
}
.js #navigation {
  float: left; /* LTR */
  margin-top: 0;
  border: none;
  padding: 0;
}
#navigation .section {
  background: #122D62;
}
.js #navigation .section {
  background: none;
}

.with-extra-navigation #navigation {
  border-top: 1px solid #FFF;
}

#navigation div.edit,
#extra-navigation div.edit {
  display: none;
}

#navigation .content {
  font-size: 0.95em;
}
.with-extra-navigation #navigation .content {
  font-size: 0.7em;
}

.with-navigation #content,
.with-navigation .region-sidebar-first {
  margin-top: 1em;
}

.js .with-navigation #content,
.js .with-navigation .region-sidebar-first {
  margin-top: 3.05em; /* Set this to the same value as the navigation height above. */
}

.with-extra-navigation #content,
.with-extra-navigation .region-sidebar-first {
  margin-top: 1.58em; /* Set this to the same value as the navigation height above. */
}

.with-extranav #content,
.with-extranav .region-sidebar-first {
  margin-top: 2.26em;
}


/* Main navigation */
#block-menu_block-4 ul /* Primary and secondary links */ {
  margin: 0;
  padding: 0;
  text-align: left; /* LTR */
  background: #E3E5E5 url(images/nav_bg.jpg) repeat-x;
  height: 27px;
}
.with-extra-navigation #block-menu_block-4 ul {
  height: 2em;
}
.js .with-extra-navigation #block-menu_block-4 ul {
  background: #183264;
}
.with-extra-navigation #block-menu_block-4.focused ul {
  background: #E3E5E5 url(images/nav_bg.jpg) repeat-x;
}
.with-extra-navigation #block-menu_block-4 ul ul,
.with-extra-navigation #block-menu_block-4.focused ul ul {
  background: #A4C7E1 !important;
  background: rgba(164, 199, 225, 0.97) !important;
}
#block-menu_block-4 ul ul,
#extra-navigation ul ul {
  margin: 0 0 0 -1px;
  border: 1px solid #FFF;
  height: auto !important;
}
.js #block-menu_block-4 ul ul,
.js #extra-navigation ul ul {
  display: none;
  width: 14em;
  margin: -1px 0 0 0;
}
#block-menu_block-4 ul ul ul,
#extra-navigation ul ul ul {
  position: absolute;
  left: 14em;
  top: -1px;
  margin: 0;
  width: 14em;
}
#block-menu_block-4 ul ul ul ul,
#extra-navigation ul ul ul ul {
  left: 14em;
}

#block-menu_block-4 li {
  float: left;
  list-style: none;
  list-style-image: none;
  padding: 0;
  margin: 0;
  position: relative;
}
#block-menu_block-4 li li,
#extra-navigation li li {
  float: none;
  font-size: 1em;
}
#block-menu_block-4 li li li,
#extra-navigation li li li {
  font-size: 1em;
}

#block-menu_block-4 li a,
#extra-navigation li a {
  display: block;
  display: inline-block;
  line-height: 1em;
  padding: 7px 15px;
  color: #062A6D;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-style: solid solid none;
  position: relative;
  z-index: 2;
  font-weight: bold;
/*  letter-spacing: -0.4px; */
}
.js #block-menu_block-4 li a,
.js #extra-navigation li a {
  text-decoration: none;
}
.with-extra-navigation #block-menu_block-4 li a {
  color: #183264;
}

#block-menu_block-4 li li a,
#extra-navigation li li a {
  font-size: 1;
  display: block;
  padding: 9px 15px;
  margin: 0 !important;
  text-transform: none;
  font-weight: bold;
  position: static;
  z-index: 1;
  letter-spacing: normal;
}

#block-menu_block-4 li li.expanded li a,
#block-menu_block-4 li li li.expanded li a,
#block-menu_block-4 li li li li.expanded li a,
#block-menu_block-4 li li li li li.expanded li a {
  background-image: none;
}

#block-menu_block-4 li li.expanded a,
#block-menu_block-4 li li li.expanded a,
#block-menu_block-4 li li li li.expanded a,
#block-menu_block-4 li li li li li.expanded a {
  background: url(images/expanded.png) no-repeat right center;
}

#block-menu_block-4 li li li a,
#extra-navigation li li li a {
}

.with-extra-navigation #block-menu_block-4 li a {
  padding: 4px 15px 5px;
}
.with-extra-navigation #block-menu_block-4 li li a {
  font-weight: normal;
  font-size: 0.95em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

#block-menu_block-4 li.sfHover ul,
.js #block-menu_block-4 li:hover ul,
#extra-navigation li.sfHover ul,
.js #extra-navigation li:hover ul {
  border-color: #FFF;
  background: #A4C7E1;
  background: rgba(164, 199, 225, 0.97);
}

#block-menu_block-4 li.sfHover,
#extra-navigation li.sfHover {
  color: #FFF;
}
#block-menu_block-4 a.active-trail,
#extra-navigation a.active-trail,
.with-extra-navigation #block-menu_block-4 a.active-trail {
  color: #FFF;
  font-weight: bold;
  background-color: #122D62 /* #183264 */;
}
#block-menu_block-4 li.sfHover a,
#extra-navigation li.sfHover a {
  color: #FFF;
  border-color: #FFF;
  background-color: #183264;
}
.with-extra-navigation #block-menu_block-4 li a {
  border-top: none !important;
}
#block-menu_block-4 li.sfHover li a,
#extra-navigation li.sfHover li a {
  color: #223B6B;
  border: 0;
  background-color: transparent;
}
#block-menu_block-4 li.sfHover li a.active-trail,
#extra-navigation li.sfHover li a.active-trail {
  background-color: #183264;
  color: #FFF;
}

#block-menu_block-4 li.sfHover li a:hover,
#extra-navigation li.sfHover li a:hover {
  background-color: #183264;
  color: #FFF;
}

#navigation .block {
  margin-bottom: 0;
}
/* /Main navigation */


/*
 * First sidebar
 */
.region-sidebar-first {
  float: left; /* LTR */
  position: relative;
  width: 11.5em;
  margin-left: 0; /* LTR */
  margin-right: -11.5em; /* LTR */ /* Negative value of .region-sidebar-first's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-first .section. */
}

.region-sidebar-first .section {
  margin: 0;
  padding: 4px 0;
  background: #779BC3;
}

/*
 * Second sidebar
 */

.region-sidebar-second {
  float: right; /* LTR */
  position: relative;
  width: 20.667em; /* 248px = 20.667em */
  margin-left: -20.667em;
  margin-right: 0; /* LTR */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-second .section. */
}

.region-sidebar-second .section {
  margin: 0;
  padding: 0 0 2em;
}

.region-sidebar-second .node-type-page {
  margin: 1em 0;
  padding: 1px 1em 0.5em;
  background: #F5F7F9;
}

.region-sidebar-second h2.title {
  color: #898C8D;
  font-weight: normal;
  margin: 1em 0 0.5em;
}
.region-sidebar-second h2.title div {
  padding: 0.1em 0.5em;
  margin-top: -0.9em;
  background: #898C8D;
  color: #FFF;
}

.region-sidebar-second ul {
  margin: -1em 2px 0;
  padding: 1em 0 0;
  border-left: 1px solid #CCC;
}
.region-sidebar-second ul li {
  list-style: none;
  list-style-image: none;
  padding-left: 45px;
  background: url(images/list-bullet.gif) no-repeat left 0.7em;
  margin: 0.5em 0 0.5em -1px;
}
.region-sidebar-second ul li.level-2 {
  margin-left: 1em;
}
.region-sidebar-second ul li.last,
.region-sidebar-second ul li.views-row-last,
.region-sidebar-second ul li:last-child {
  background: url(images/list-bullet-end.gif) no-repeat left 0.7em;
  margin-bottom: 0;
}

/*
 * Prevent overflowing content
 */
#header,
#content,
.region-sidebar-first,
.region-sidebar-second,
#footer,
.region-page-closure {
  overflow: visible;
}

/* Id: messages.css,v 1.3 2009/08/12 08:37:42 johnalbin Exp */

/**
 * @file
 * Message Styling
 *
 * Sensible styling for Drupal's error/warning/status messages.
 */
div.messages,
div.status,
div.warning,
div.error /* Important messages (status, warning, and error) for the user */ {
  min-height: 21px;
  margin: 0 1em 5px 1em;
  border: 2px solid #ff7;
  padding: 5px 5px 5px 35px; /* LTR */
  color: #000;
  background-color: #ffc;
  background-image: url(zen-internals/images/messages-status.png);
  background-repeat: no-repeat;
  background-position: 5px 5px; /* LTR */
}

div.warning /* Medium priority messages */ {
  border-color: #fc0;
  background-image: url(zen-internals/images/messages-warning.png);
}

div.warning,
tr.warning {
  color: #000; /* Drupal core uses #220 */
  background-color: #ffc;
}

div.error /* High priority messages. See also the .error declaration in pages.css. */ {
  /* border: 1px solid #d77; */ /* Drupal core uses: 1px solid #d77 */
  border-color: #c00;
  background-image: url(zen-internals/images/messages-error.png);
}

div.error,
tr.error {
  color: #900; /* Drupal core uses #200 */
  background-color: #fee;
}

#views-ajax-pad .form-item .error {
  padding: 5px 5px 5px 35px;
}

div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}
/* Id: pages.css,v 1.18 2009/11/05 11:07:02 johnalbin Exp */

/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

/*
 * The skip-to-nav link will be completely hidden until a user tabs to the link.
 */
#skip-to-nav a,
#skip-to-nav a:visited {
  position: absolute;
  display: block;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-align: center;
  background-color: #666;
  color: #fff;
}

#skip-to-nav a:hover,
#skip-to-nav a:active,
#skip-to-nav a:focus {
  position: static;
  width: 100%;
  height: auto;
  padding: 2px 0 3px 0;
}

#header {
  background: #122D62 url(images/banner_bg.jpg) repeat-x;
  min-height: 95px;
  height: auto !important;
  height: 95px;
}

#logo /* Wrapping link for logo */ {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}

#logo img {
  vertical-align: bottom;
}

h1#cu-name,
div#cu-name /* The name of the website */ {
  margin: 0;
  font-size: 2.2em;
  line-height: 1.3em;
  padding: 11px 12px;
}

#cu-name a:link,
#cu-name a:visited {
  color: #000;
  text-decoration: none;
  text-shadow: 1px 1px 4px #444;
  font-variant: small-caps;
  letter-spacing: 2px;
  display: block;
  width: 430px;
  height: 66px;
  text-indent: -2000px;
  background: url(images/logo.png) no-repeat;
}

#cu-name a:hover,
#cu-name a:focus {
  text-decoration: underline;
}

/*
 * Content
 */
.breadcrumb /* The path to the current page in the form of a list of links */ {
  padding: 0 0.1em 0.2em;
  color: #5F6466;
}
.breadcrumb a {
  color: #7197BB;
  font-weight: bold;
  text-decoration: none;
}
.breadcrumb a:hover {
  text-decoration: underline;
}

h1.title, /* The title of the page */
h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
h3.title /* Comment title */ {
  margin: 0;
}

h1.title,
#site-name {
  font-size: 4.1em;
  color: #3A6FA2; /* #9FC4DF */
  font-variant: small-caps;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 1em;
  margin: 0;
}

h1.title {
  padding-right: 4em;
}

.js h1.title,
.js #site-name {
  font-size: 3.6em;
  margin-top: 0.2em;
}

.subsite div#site-name,
#site-name a {
  color: #DADADA;
  text-decoration: none;
}

.help /* Help text on a page */ {
  margin: 1em 0;
}

.more-help-link /* Link to more help */ {
  font-size: 0.85em;
  text-align: right;
}

#content-area /* Wrapper for the actual page content */ {
}

/*
.js #content-area ul {
  padding: 0;
}
.js #content-area li {
  list-style: none;
  list-style-image: none;
}
*/
#content-area ol li,
.js #content-area ol li {
  list-style: decimal;
}

#content-area li.raquo {
  margin: 0.5em 0;
}

ul.links /* List of links */ {
  margin: 1em 0;
  padding: 0;
}

ul.links.inline {
  margin: 0;
  display: inline;
}

ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
}

.pager /* A list of page numbers when more than 1 page of content is available */ {
  clear: both;
  margin: 1em 0;
  text-align: center;
}

.pager a,
.pager strong.pager-current /* Each page number in the pager list */ {
  padding: 0.5em;
}

.feed-icons /* The links to the RSS or Atom feeds for the current list of content */ {
  margin: 1em 0;
}

.more-link /* Aggregator, blog, and forum more link */ {
  text-align: right; /* LTR */
}

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
.element-hidden {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user. Must
 * not be used for focusable elements (such as links and form elements) as this
 * causes issues for keyboard only or voice recognition users.
 */
.element-invisible {
  height: 0;
  overflow: hidden;
  position: absolute;
}
/* Id: block-editing.css,v 1.3 2009/11/05 14:01:26 johnalbin Exp */

/**
 * @file
 * Zen's rollover edit links for blocks.
 */


div.block.with-block-editing {
  position: relative;
}

div.block.with-block-editing div.edit {
  display: none;
  position: absolute;
  right: 0; /* LTR */
  top: 0;
  z-index: 40;
  border: 1px solid #eee;
  padding: 0 2px;
  font-size: 0.75em;
  background-color: #fff;
}

div.block.with-block-editing:hover div.edit {
  display: block;
}

.block {
  margin-bottom: 1em;
}

/* Navigation Styling */
li a.active {
  color: #000;
}

/* Node Styling */

.node {
  padding: 1px;
  margin: -1px;
}

.node-unpublished div.unpublished,
.comment-unpublished div.unpublished /* The word "Unpublished" displayed underneath the content. */ {
  overflow: visible;
  color: #d8d8d8;
  font-size: 1.1em;
  float: right;
  font-weight: bold;
  text-transform: uppercase;
  word-wrap: break-word;
}

.marker /* "New" or "Updated" marker for content that is new or updated for the current user */ {
  color: #c00;
}

.node-unpublished {
  background: none;
}

.node.node-unpublished .picture,
.comment.comment-unpublished .picture {
  position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
}

/* Comment Styling */
#comments {
  margin: 1em 0;
}

.new {
  color: #c00;
}

/* Form Styling */
.form-item,
.form-radios /* Wrapper for a form element (or group of form elements) and its label */ {
  margin: 1em 0;
}

.form-checkboxes {
  margin: 0;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error /* Highlight the form elements that caused a form submission error */ {
  border: 2px solid #c00 !important;
}

.form-item label, /* The label for a form element */
.form-item div.label {
  display: block;
  font-weight: bold;
}

.form-item label.option /* The label for a radio button or checkbox */ {
  display: inline;
  font-weight: normal;
}

.form-required /* The part of the label that indicates a required field */ {
  color: #c00;
}

.form-item .description /* The descriptive help text (separate from the label) */ {
  font-size: 0.85em;
}

.form-checkboxes .form-item,
.form-radios .form-item /* Pack groups of checkboxes and radio buttons closer together */ {
  margin: 0.4em 0;
}

.container-inline div,
.container-inline label /* Inline labels and form divs */ {
  display: inline;
}

/* Search */
#edit-search-theme-form-1-wrapper label /* Label that says "Search this site:" */ {
  display: none;
}

#edit-search-block-form-1-wrapper label /* Label that says "Search this site:" */ {
  display: none;
}

#cu-search {
  position: absolute;
  z-index: 5;
  top: 36px;
  right: 3px;
  background: url(images/search_bg_bg.jpg) repeat-x;
}

#hidden-type {
  display: none;
}

#cu-search .wrapper {
  position: relative;
  background: url(images/search_bg_left.jpg) no-repeat 0 0;
}
#cu-search .wrapper-inner {
  background: url(images/search_bg_right.jpg) no-repeat right top;
}

#cu-search-submit {
  position: absolute;
  right: 12px;
  top: 4px;
  z-index: 2;
  width: 13px;
  height: 13px;
  border: none;
  background: url(images/sprites1.png) -51px -42px no-repeat;
  cursor: pointer;
  text-indent: -4000px;
  overflow: hidden;
  display: block;
  padding: 0;
}

#cu-search .submit {
  display: none;
}

#cu-search label.searchbox {
  color: #FFF;
  margin-right: 5px;
  display: none;
}

/*
.js #cu-search label.searchbox {
  display: block;
  position: absolute;
  top: 3px;
  left: 11px;
  z-index: 2;
  color: #444444;
}
*/

#cu-search-box {
  background: none;
  width: 220px;
  padding: 4px 30px 7px 10px;
  border: none;
  display: inline;
  margin: 0 0 0.5em;
  font-size: 1em;
}

#cu-search .clearfix {
  text-align: right;
  padding-right: 1.5em;
}

#cu-search .search-button {
  color: #FFF;
  padding: 0 1em 0 1.5em;
}

/* Drupal admin tables */

form tbody {
  border-top: 1px solid #ccc;
}

form th,
form thead th {
  text-align: left; /* LTR */
  padding-right: 1em; /* LTR */
  border-bottom: 3px solid #ccc;
}

form tbody th {
  border-bottom: 1px solid #ccc;
}


/*
* Tabs CSS
*
* Adds styles for the primary and secondary tabs.
*/

div.tabs {
  margin: 0.5em;
  padding: 4px 1em;
  border: 1px solid #EEE;
  border-bottom-width: 2px;
  border-radius: 0.7em;
  -moz-border-radius: 0.7em;
  -webkit-border-radius: 0.7em;
}

.hide-tabs div.tabs {
  display: none;
  background: #FFF;
}

.hide-tabs #content-inner:hover div.tabs {
  display: block;
}

div.tabs:hover {
  border-color: #005B87;
  background: #FFF;
  position: relative;
  z-index: 102;
}

ul.primary {
  margin: 0;
  padding: 0;
  border-width: 0;
  list-style: none;
  white-space: nowrap;
  line-height: normal;
}

ul.primary li {
  float: left;
  margin: 0 5px 0 0;
  border: 2px solid #FFF;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}

ul.primary li:hover {
  border: 2px solid #336699;
}

ul.primary li.active {
  border: 2px solid #0099CC;
  letter-spacing: 1px;
  text-decoration: underline;
  color: #0099CC;
}


div.tabs ul.primary li a {
  display: block;
  margin: 0;
  padding: 0;
  border-width: 0;
  font-weight: bold;
  text-decoration: none;
  color: #C0D0E1;
  background-color: transparent;
}

ul.primary li a .tab {
  display: block;
  margin: 0;
  padding: 3px 8px;
  border-width: 0;
  line-height: normal;
}

div.tabs ul.primary li:hover a {
  border-width: 0;
  background-color: transparent;
  color: #336699;
  text-decoration: underline;
}

div.tabs ul.primary li.active a,
div.tabs ul.primary li.active a:hover {
  color: #0099CC;
  text-decoration: none;
}

ul.secondary {
  margin: 0.3em 2em -6px;
  padding: 0.2em;
  border-bottom: 0;
  list-style: none;
  white-space: nowrap;
}

ul.secondary li {
  float: left;
  margin: 0 7px 0 0;
  padding: 0.2em 0.7em 0.3em;
  border: 1px solid #EEE;
  border-bottom: none;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  -moz-border-radius-topleft: 0.3em;
  -moz-border-radius-topright: 0.3em;
  -webkit-border-top-left-radius: 0.3em;
  -webkit-border-top-right-radius: 0.3em;
}

ul.secondary li:hover {
  border-color: #336699;
}
ul.secondary li.active {
  border-color: #0099CC;
}

div.tabs ul.secondary a {
  display: block;
  font-weight: bold;
  margin: 0;
  padding: 0.25em 0.5em 0 !important;
  text-decoration: none;
  color: #C0D0E1;
}

div.tabs ul.secondary a:hover {
  color: #336699;
  text-decoration: underline;
}

div.tabs ul.secondary a.active,
div.tabs ul.secondary a.active:hover {
  color: #0099CC;
  letter-spacing: 1px;
  text-decoration: underline;
  border-bottom: none;
}


/* Clear floats solution: http://www.positioniseverything.net/easyclearing.html */
.clearfix:after,
ul.superfish:after,
.sitemap-box:after,
.finder-form:after,
.field-items:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix,
ul.superfish,
.sitemap-box,
.finder-form,
.field-items {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix,
* html ul.superfish,
* html .sitemap-box,
* html .finder-form,
* html .field-items {
  height: 1%;
}
.clearfix,
ul.superfish,
.sitemap-box,
.finder-form,
.field-items {
  display: block;
}
/* End hide from IE-mac */


/* Admin section styles */
.admin div.right {
  text-align:left;
  padding-right:0;
}

div.admin-panel {
  border: 1px solid #FFF;
  background: #FAFAFA;
  margin:5px 0 15px;
  padding:0 1em;
  outline: 1px solid #E1ECF4;
}

div.admin-panel:hover {
  background: #E1ECF4;
}

div.help {
  border-bottom: 2px solid #79808A;
  margin-bottom: 1em;
  padding: 0 20px 0.5em;
}

div.messages,
div.warning {
  color: #585E6C;
  border: 1px solid #585E6C;
  border-bottom-width: 2px;
  margin: 1em;
}

#main .theme-info h2 {
  margin-bottom: 0;
  font-size: 1.5em;
}

#autocomplete {
  background: #FFF;
}

#content #views-tabset {
  margin: 0;
  padding: 0;
}

.block-region {
  margin: 0.2em;
}

#edit--add-existing-field-field-name { /* unstyled CCK select box is too long */
  width: 322px;
}

#admin-system-location {
  background:#4E5764;
  border:1px solid #000000;
  padding:5px 10px;
  position:absolute;
  right:237px;
  top:102px;
  z-index: 30;
}

#admin-system-location div {
  display: inline-block;
  font-weight: bold;
}

#content-area input.form-text,
input.style1,
.webform-client-form input.form-text {
  border: 2px solid #CCC;
  padding: 0.2em;
  border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
}

#content-area input.focus,
#colorbox input.focus {
  border-color: #124C8E;
}


/* Drupal's collapsible fieldsets */
html.js fieldset.collapsible:hover {
  background: #FEFEFE;
}
html.js fieldset.collapsed:hover {
  background: none !important;
}

html.js fieldset {
  border: 1px solid #666666;
  background: #FBFBFB;
  margin: 1em 0 !important;
  padding: 1em;
  border-radius: 0.7em;
  -moz-border-radius: 0.7em;
  -webkit-border-radius: 0.7em;
}

div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border: none;
  background: none;
  padding: 0 1em 1em;
}

html.js fieldset.collapsible {
  background: #EFEFEF;
}

html.js fieldset.collapsed {
  border: none;
  border-top: 1px dotted #666666;
  background: none;
  padding: 0 1em;
}

html.js fieldset legend {
  text-shadow: 1px 1px 4px #444;
}

html.js fieldset.collapsible legend {
  text-shadow: none;
  border: 1px solid #000;
  background: #FEFEFE;
  padding: 0 1em;
  border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  line-height: 2em;
}
html.js fieldset.collapsible legend.collapse-processed {
  padding-left: 0;
}
html.js fieldset.collapsed legend {
  border: 1px solid transparent !important;
  background: transparent !important;
}

html.js fieldset legend a {
  font-weight: bold;
}

/* Unnecessary Drupal UI components */
html.js #edit-menu-weight-wrapper,
#edit-teaser-include-wrapper {
  display: none;
}

/* Wireframes Styling */
.with-wireframes #header .section,
.with-wireframes #content-inner,
.with-wireframes #navigation .section,
.with-wireframes .region-sidebar-first .section,
.with-wireframes .region-sidebar-second .section,
.with-wireframes #footer .section {
  margin: 1px;
  padding: 2px;
  border: 1px solid #ccc;
}

.with-wireframes .region-page-closure {
  margin-top: 1px;
  padding: 2px;
  border: 1px solid #ccc;
}

#user-login-form {
  text-align: left;
}

/* OpenID */
#user-login-form ul /* OpenID creates a new ul above the login form's links. */ {
  margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
}

#user-login-form li.openid-link /* The "Log in using OpenID" link. */ {
  margin-top: 1em;
  margin-left: -20px; /* LTR */ /* Un-do some of the padding on the ul list. */
}

#user-login-form li.user-link /* The "Cancel OpenID login" link. */ {
  margin-top: 1em;
}

#user-login ul {
  margin: 1em 0;
}

#user-login li.openid-link,
#user-login li.user-link /* The OpenID links on the /user form. */ {
  margin-left: -2em; /* LTR */ /* Un-do all of the padding on the ul list. */
}

/* Rooftop */
#block-menu_block-1 {
  position: absolute;
  top: 2px;
  right: 7px;
  z-index: 6;
}

#block-menu_block-1 span.ext {
  display: block;
}

#block-menu_block-1 .content a {
  color: #FFF;
  text-decoration: none;
  display: block;
  padding: 6px 10px;
}

#block-menu_block-1 ul {
  margin: 0;
  padding: 0;
}
#block-menu_block-1 ul ul {
  width: 14em;
}

#block-menu_block-1 li ul,
#block-menu_block-1 div.edit {
  display: none;
}
#block-menu_block-1 li ul ul {
  display: block;
  border: none;
  padding: 0;
  background: none;
}

#block-menu_block-1 li {
  position: relative;
  float: left;
  list-style: none;
  list-style-image: none;
  padding: 0;
  background: url(images/sprites2.png) -13px -92px no-repeat;
}
#block-menu_block-1 li li {
  background: none;
  float: none;
  border: none;
  padding: 0;
}

#block-menu_block-1 li.expanded span {
  padding-right: 8px;
  display: block;
}

#block-menu_block-1 li.expanded li span {
  padding-right: 0;
  background: none;
}

#block-menu_block-1 li.expanded a {
  background: url('images/sprites2.png') right 14px no-repeat;
  padding: 6px 13px 0 10px;
}
#block-menu_block-1 li.expanded li a {
  background: none;
  padding: 6px 10px;
}

#block-menu_block-1 li.sfHover {
	position: relative;
	z-index: 100;
  padding: 0;
  margin-left: -1px;
  margin-right: -1px;
}
#block-menu_block-1 li.first {
  background-image: none;
}

#block-menu_block-1 li.sfHover a {
  padding-bottom: 6px;
  background: none;
}
#block-menu_block-1 li.sfHover li a {
  padding: 3px 10px;
  color: #223B6B;
}

#block-menu_block-1 li.sfHover span {
	border: 1px solid #FFF;
	border-bottom: none;
  background: #183264;
  position: relative;
  z-index: 2;
  margin: -1px 0 0;
}
#block-menu_block-1 li.leaf {
  margin-left: 0;
  margin-right: 0;
}
#block-menu_block-1 li.leaf span {
  border: none;
}
#block-menu_block-1 li.sfHover li span {
  background: none;
	border: none;
  position: static;
  margin: 0;
}

#block-menu_block-1 li.sfHover li a:hover {
  background: #183264;
  color: #FFF;
}

#block-menu_block-1 li.sfHover ul {
  position: absolute;
  left: 0;
  top: 2.394em;
	border: 1px solid #FFF;
  background: #A4C7E1;
  background: rgba(164, 199, 225, 0.97);
}

.block-menu_block li.separator-li {
  border: 1px solid #FFF !important;
  border-style: solid none none !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 0;
}
.block-menu_block a.separator {
  border-top: 1px solid #FFF !important;
}

#block-block-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.2em;
  font-size: 0.87em;
  line-height: 2.1em;
  color: #FFF;
}

#block-block-1 .content {
  background: #002B7F;
  margin: 0;
  padding: 0 8px;
}

#block-block-1 .content a {
  color: #FFF;
  text-decoration: none;
  font-weight: normal;
}

#block-block-1 .content a:hover {
  text-decoration: underline;
}

#block-block-1 a.ext,
#block-block-1 a.mailto,
#block-block-2 a.ext,
#block-block-2 a.mailto {
  background-image: none;
  padding-right: 0;
}

#block-block-1 span.ext {
  display: none;
}

#block-block-1 div.right {
  float: right;
}

#block-block-1 div.left {
  float: left;
}

#block-block-1 div.cu-link a {
  background: url(../../../library/ias/images/mini-crown2.gif) no-repeat left center;
  padding: 2px 0 2px 24px;
}

/* CU Footer */
#footer {
  padding: 1em 0;
  font-size: 0.94em;
}

#footer .address,
#footer #node-47,
#footer #node-32 {
  color: #8F8F8F;
  float: left;
  width: 30%;
  padding-left: 0.5em;
}
#footer .address,
#footer #node-32 {
  width: 30%;
}

#footer .address .right,
#node-47 .right {
  float: right;
}

#footer #node-48 {
  color: #8F8F8F;
  float: right;
  text-align: right;
  width: 30%;
  padding-right: 0.5em;
}

#footer span.ext {
  display: none;
}

#block-menu-menu-bottom-menu {
  float: left;
  width: 52%;
  font-size: 1em;
}

#block-menu-menu-bottom-menu .content ul {
  display: table;
  margin: 0 auto;
  padding: 0;
}
#block-menu-menu-bottom-menu .content ul ul {
  display: none;
}
#block-menu-menu-bottom-menu .content li {
  display: block;
  list-style: none;
  list-style-image: none;
  float: left;
  border-right: 1px solid #000;
  margin-top: 0.65em;
  line-height: 1em;
  padding: 0 0.83em 0 0.86em;
}
#block-menu-menu-bottom-menu .content li.first {
  padding-left: 0;
}
#block-menu-menu-bottom-menu .content li.last {
  border: none;
  padding-right: 0;
}
#block-menu-menu-bottom-menu .content li a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
#block-menu-menu-bottom-menu li a.accessibility {
  display: block;
  text-indent: -5000px;
  background: url(images/footericons.png) no-repeat;
  background-position: -114px 0;
  width: 12px;
  height: 12px;
  margin-right: 0;
}

#service-links {
  float: right;
  margin: 0.45em 0 0;
  padding: 0 1em 0 0;
}
#service-links li {
  float: left;
  list-style: none;
  list-style-image: none;
}

#service-links li a {
  background: url(images/footericons.png) no-repeat;
  display: block;
  margin-right: 5px;
  text-indent: -5000px;
  width: 19px;
  height: 18px;
}
#service-links li.itunes a {
  background-position: -21px 0;
  width: 20px;
}
#service-links li.rss a {
  background-position: -43px 0;
  width: 20px;
}
#service-links li.youtube a {
  background-position: -65px 0;
  width: 45px;
  margin-right: 0;
}
#service-links li.gplus a {
  background-position: -129px 0;
  width: 17px;
}

/* Logout link */
#logout-link,
#active-db-name,
#theme-switcher {
  position: fixed;
  display: block;
  background: #48517A;
  font-size: 0.6em;
  top: 3em;
  right: 0;
  z-index: 80;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  -moz-border-radius-topleft: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
}

#logout-link {
  padding: 0.2em 0.7em;
}

#active-db-name {
  top: 5em;
  background: #FFF;
  color: #48517A;
  text-align: right;
  padding: 3px 0 3px 3px;
}

#theme-switcher {
  top: inherit;
  bottom: 0.5em;
  background: #FFF;
  color: #48517A;
  text-align: right;
  padding: 5px 3px 5px 7px;
  border: 1px solid #48517A;
  border-right: none;
}

#theme-switcher a {
  display: block;
  text-decoration: underline;
}
#theme-switcher a.theme-active {
  font-weight: bold;
  color: #48517A;
  text-decoration: none;
}

#active-db-name .inner {
  border: 1px solid #48517A;
  border-right: none;
  margin: -2px;
  border-radius: 0.5em 0 0.5em 0.5em;
  -moz-border-radius: 0.5em 0 0.5em 0.5em;
  -webkit-border-radius: 0.5em 0 0.5em 0.5em;
}

#active-db-name span {
  font-weight: bold;
  display: block;
}

body.db-dev #active-db-name,
body.host-dev #active-db-name div {
  color: #B7C8E4;
}

body.db-staging #active-db-name,
body.host-staging #active-db-name div {
  color: #7DCF14;
  border-color: #7DCF14;
}

body.db-production #active-db-name,
body.host-production #active-db-name div {
  color: #FF9933;
  border-color: #FF9933;
}

#active-db-name div {
  margin: 0.2em -0.5em 0 -0.2em;
  font-variant: small-caps;
  border-width: 1px;
  border-style: solid;
  font-weight: bold;
  padding: 0.2em 0.4em;
  font-size: 0.9em;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}

#logout-link a {
  color: #FFF;
  font-weight: bold;
}

#logout-link:hover {
  background: #B7C8E4;
}

/* Supadupa edit interface */
.with-edit > .with-edit-inner:hover > .with-edit-inner-inner,
.with-edit > .with-edit-inner.focus > .with-edit-inner-inner {
  margin: 5px;
  padding: 1px;
}

.with-edit .with-edit-inner {
  margin: -1px;
  padding: 1px;
}
tr.with-edit .with-edit-inner:hover {
  position: relative;
}

.with-edit:hover {
  z-index: 200;
  position: relative;
}

.with-edit > div.with-edit-inner {
/*  border: 0px dashed #FFF; */
}

.supadupa-overlay .with-edit > div.with-edit-inner {
  border-color: #0099CC;
}

.with-edit > div.with-edit-inner:hover,
.with-edit > div.with-edit-inner.focus {
  margin: -7px;
  padding: 1px;
/* border-width: 2px; */
  z-index: 101;
  background: url("images/white_50.png");
  outline: 2px dashed #0099CC;
}

.with-edit > div.with-edit-inner.focus div.with-edit-inner,
.with-edit > div.with-edit-inner:hover div.with-edit-inner  {
  outline: none;
  opacity: 0.3;
}

.with-edit > div.with-edit-inner.focus .view,
.with-edit > div.with-edit-inner:hover .view {
  opacity: 0.3;
}
.with-edit > div.with-edit-inner:hover .view:hover {
  opacity: 1;
}

.with-edit > div.with-edit-inner:hover div.with-edit-inner:hover {
  opacity: 1;
  outline: 0;
  margin: -4px;
  padding: 0;
}
.with-edit > div.with-edit-inner:hover div.with-edit-inner:hover .with-edit-inner-inner {
  margin: 3px;
  padding: 1px;
}

.supadupa-overlay .with-edit:hover,
.supadupa-overlay .with-edit.focus {
  outline: 5000px solid #FCFCFC;
  opacity: 0.9;  
}
.supadupa-overlay .with-edit > div.with-edit-inner:hover,
.supadupa-overlay .with-edit > .with-edit.focus {
  opacity: 1;
}

.supadupa-overlay .with-edit > .with-edit-inner:hover .with-edit-inner,
.supadupa-overlay .with-edit > .with-edit-inner.focus .with-edit-inner {
  opacity: 0.5;
}
.supadupa-overlay .with-edit > .with-edit-inner .with-edit-inner:hover,
.supadupa-overlay .with-edit > .with-edit-inner .with-edit-inner.focus {
  opacity: 0.95;
}

.with-edit > .with-edit-inner:hover > .with-edit-inner-inner > a.context-edit {
  display: block;
  z-index: 100;
}

a.context-edit {
  display: none;
  margin: 0;
  position: relative;
  float: right;
}

a.context-edit img {
  position: absolute;
  right: -7px;
  top: -3px;
  padding-bottom: 6px;
}

.with-edit .with-edit a.context-edit {
  position: absolute;
  float: none;
  top: 50%;
  left: 50%;
  margin: -23.5px 0 0 -22.5px;
  border: 2px solid #1E1E5A;
  background: #FFF;
  border-radius: 0.7em;
  -moz-border-radius: 0.7em;
  -webkit-border-radius: 0.7em;
  padding: 6px 2px 3px 8px;
  opacity: 0.9;
}
.with-edit .with-edit a.context-edit img {
  position: static;
  padding: 0;
}

.with-edit-queue > div.with-edit-inner > div.with-edit-inner-inner > a.context-edit > img {
  right: -5px;
}

.js div.views-field-edit-node {
  display: none;
  border: 2px dashed #0099CC;
  background: #FFF;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  padding: 1px 7px;
  opacity: 0.9;
  font-size: 0.9em;
  line-height: 0.93em;
}
.js .views-row:hover > div.views-field-edit-node {
  display: block;
}
div.views-field-edit-node a {
  color: #0099CC !important;
}
.js .with-edit div.views-field-edit-node {
  display: none !important;
}

.simplemenu-block {
  line-height: 0;
}

#imce-content ul.secondary {
  padding: 0.5em 0.7em 0;
  border: 1px solid #CCC;
  border-bottom-width: 2px;
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  margin-bottom: -2px;
}

#imce-content ul.secondary li {
  border-width: 2px;
}

#imce-content ul.secondary li.active a {
  color: #0099CC;
  font-weight: bold;
}

.imce #simplemenu {
  display: none;
}

.imce #ops-wrapper {
  border: 1px solid #CCC;
  border-bottom-width: 2px;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  padding: 0.5em 0.5em 0;
  margin: 2em 0.5em 0.5em;
}

.imce #browse-wrapper {
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-bottom: 2px solid #CCC;
  margin-bottom: 5px;
}

.imce #navigation-wrapper {
  padding: 10px;
}

.imce #sub-browse-wrapper {
  padding: 0 10px;
}

.imce #file-list-wrapper {
  border: 1px dashed #CCC;
  outline: none;
}

/* Drop shadows: http://www.alistapart.com/articles/onionskin */
.dds1-wrap0, .dds1-wrap1, .dds1-wrap2, .dds1-wrap3,
.dds2-wrap0, .dds2-wrap1, .dds2-wrap2, .dds2-wrap3 {
  display:inline-table;
  /* \*/display:block;/**/
  position:relative;
}
.dds1-wrap0 {
  float:left;
  background:url(images/dds1_shadow.gif) right bottom no-repeat;
}
.dds1-wrap1 {
  background:url(images/dds1_shadow180.gif) no-repeat;
}
.dds1-wrap2 {
  background:url(images/dds1_corner_bl.gif) -18px 100% no-repeat;
}
.dds1-wrap3 {
  padding: 15px;
  background:url(images/dds1_corner_tr.gif) 100% -18px no-repeat;
}
.dds2-wrap0 {
  float:left;
  background:url(images/dds2_shadow.gif) right bottom no-repeat;
}
.dds2-wrap1 {
  background:url(images/dds2_shadow180.gif) no-repeat;
}
.dds2-wrap2 {
  background:url(images/dds2_corner_bl.gif) 0 100% no-repeat;
}
.dds2-wrap3 {
  padding: 10px;
  background:url(images/dds2_corner_tr.gif) 100% 0 no-repeat;
}

/* Left navigation */
.region-sidebar-first .content span.ext {
  background-image: url("../../../library/ias/images/extlink_white.png");
  padding: 0 12px 0 0;
}

.region-sidebar-first .content ul {
  margin: 0;
  padding: 0;
}
.region-sidebar-first .content ul ul {
  width: 11.5em;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 11.5em;
  top: -2px;
  border: 1px solid #FFF;
  background: #A4C7E1;
  background: rgba(164, 199, 225, 0.97);
}
.region-sidebar-first .content li {
  position: relative;
  list-style: none;
  list-style-image: none;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-style: solid none;
}
.region-sidebar-first .content li li {
  margin: 0;
  padding: 0;
}
.region-sidebar-first .content span.toggle {
  cursor: pointer;
  display: block;
  float: left;
  width: 11px;
  height: 16px;
  padding: 0;
  margin-right: -11px;
}

.region-sidebar-first .content li.expanded span.toggle,
.region-sidebar-first .content li.collapsed span.toggle,
#block-menu_block-2 .content span.toggle:hover {
  background: url(images/expand.png) no-repeat left center;
}

.region-sidebar-first .content li span.expanded {
  background-position: -190px center !important;
}

.region-sidebar-first .content a {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  margin-left: 7px;
  margin-right: 5px;
  padding: 0.25em 0.5em;
}
.region-sidebar-first .content a.active {
  color: #DADADA;
  font-weight: bold;
}
.region-sidebar-first .content a:hover {
  text-decoration: underline;
}
.region-sidebar-first .content li li a {
  text-transform: none;
  color: #072761;
  font-size: 0.95em;
  margin: 0 0.5em;
}
.region-sidebar-first .content li.expanded ul,
.region-sidebar-first .content li li.expanded ul {
  display: none;
}
.region-sidebar-first .content li.active-trail ul,
.region-sidebar-first .content li li.active-trail ul {
  display: block;
}

.region-sidebar-first .block-menu_block {
  margin: 0.5em 0 2.5em;
}

.region-sidebar-first h2.title {
  color: #072761;
  font-size: 1.05em;
  margin: 0.7em 0.5em;
  font-weight: normal;
}

.region-sidebar-first li.sfHover li {
  background: none;
  border-color: transparent;
}
.region-sidebar-first li.sfHover,
.region-sidebar-first li li.sfHover,
.region-sidebar-first li li li.sfHover,
.region-sidebar-first li li li li.sfHover {
  background: #122D62 url("images/banner_bg.jpg") repeat-x left -15px;
  border-color: #072761;
}
.region-sidebar-first li.sfHover li a,
.region-sidebar-first li li.sfHover li a,
.region-sidebar-first li li li.sfHover li a,
.region-sidebar-first li li li li.sfHover li a {
  color: #072761;
}
.region-sidebar-first li.sfHover a,
.region-sidebar-first li li.sfHover a,
.region-sidebar-first li li li.sfHover a,
.region-sidebar-first li li li li.sfHover a {
  color: #FFF;
}

.region-sidebar-first li.sfHover li a,
.region-sidebar-first li.sfHover li.expanded li a,
.region-sidebar-first li.sfHover li li.expanded li a,
.region-sidebar-first li.sfHover li li li.expanded li a {
  background: none;
}
/*
.region-sidebar-first li.sfHover a,
.region-sidebar-first li.sfHover li.expanded a,
.region-sidebar-first li.sfHover li li.expanded a,
.region-sidebar-first li.sfHover li li li.expanded a,
*/
.region-sidebar-first .section:hover div > ul > li.expanded > span a {
  background: url(images/expanded.png) no-repeat right center;
}

/* FAQ */
.faq-ul-questions-top a.active {
  color: #7197BB;
}

.faq-question {
  padding-left: 0;
}

.faq-question a {
  color: #5F6466;
  text-decoration: none;
  font-size: 1.1em;
}

.faq-answer {
  padding-left: 10px;
  padding-right: 8em;
  margin-bottom: 1em;
}

/* Photo Gallery */
div.node-type-photo-gallery {
  margin-bottom: 1em;
}

.gallery-image {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
}
.gallery-image .inner {
/*  position: relative; */
}
.gallery-image .caption {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #111;
  background: rgba(0, 0, 0, 0.8);
  padding: 0.5em 1em;
  color: #FFF;
  font-size: 1.1em;
  letter-spacing: 0.5px;
}
.gallery-image .caption p {
  margin: 0;
}

#gallery-image-1 {
  display: block;
}

.gallery-image img {
  display: block;
}

div.node-type-photo-gallery .content {
  float: left;
  position: relative;
  overflow: hidden;
  height: 337px;
  width: 600px;
  background: #FFF;
  border: 1px solid #000;
}
.js div.node-type-photo-gallery .content {
  border: 1px dashed #CCC;
}
.js div.photo-gallery-ready .content {
  border: 1px solid #000;
  background: url(images/preloader-91.gif) 50% 50% no-repeat;
}

div.node-type-photo-gallery .gallery-init {
  display: none;
}

div.node-type-photo-gallery .thumbs {
  float: right;
}

div.node-type-photo-gallery .thumbs div {
  display: none;
  padding-left: 19px;
  margin: 0 0 8.5px;
}
#gallery-thumb-5 {
  margin: 0;
}

div.node-type-photo-gallery .thumbs span {
  border: 1px solid #000;
  display: block;
}
div.node-type-photo-gallery .thumbs img {
  opacity: 0.3;
  display: block;
  cursor: pointer;
}

div.node-type-photo-gallery .thumbs span:hover img {
  opacity: 0.7;
}
div.node-type-photo-gallery .thumbs div.active {
  background: url(images/sprites2.png) 0 -24px no-repeat;
}

div.node-type-photo-gallery .thumbs div.active img {
  opacity: 1 !important;
}
.js div.node-type-photo-gallery .thumbs .description,
.js div.node-type-photo-gallery .thumbs .photo-link {
  display: none;
}

body.node-type-photo-gallery.section-node-edit #page-wrapper,
.page-node-add-photo-gallery #page-wrapper {
  width: 77em;
}
body.node-type-photo-gallery.section-node-edit .filefield-element .widget-preview,
.page-node-add-photo-gallery .filefield-element .widget-preview {
  max-width: 61%;
}
body.node-type-photo-gallery.section-node-edit .filefield-element .widget-edit,
.page-node-add-photo-gallery .filefield-element .widget-edit {
  max-width: 37%;
  clear: none;
}

/* Extra navigation */
/* 3rd version */

#extra-navigation {
  min-height: 22px;
  height: auto !important;
  height: 22px;
  background: #E4E4E5 url("images/extranav3_bg.jpg") repeat-x left bottom;
  border-top: 1px solid #122D61;
  border-bottom: 1px solid #122D61;
  margin-bottom: 1.5em;
}
#extra-navigation ul {
  padding: 0;
  margin: 0;
}
#extra-navigation ul ul {
  display: none;
  position: absolute;
  z-index: 5;
  top: 23px;
  left: 0;
}
#extra-navigation ul ul ul {
  position: static;
  padding-left: 0;
}
#extra-navigation li {
  display: block;
  list-style: none;
  list-style-image: none;
  float: left;
  margin: 0 1em 0 0;
  position: relative; 
}
#extra-navigation li li {
  margin: 0;
}
#extra-navigation li li.expanded a {
  background: url(images/expand.png) no-repeat 5px center;
}

#extra-navigation li a {
  color: #112D61;
  padding: 5px 15px 4px;
  text-transform: none;
  display: block;
  font-weight: normal;
}
#extra-navigation li.sfHover a,
#extra-navigation li.active-trail a {
  background-color: #112D61;
  color: #FFF;
}
#extra-navigation li li.active-trail ul {
  display: block;
}

#extra-navigation li li a {
  padding-left: 20px;
}

#extra-navigation ul ul ul a {
  padding-left: 30px;
  opacity: 0.8;
}
#extra-navigation ul ul ul ul a {
  padding-left: 40px;
  opacity: 0.6;
}
#extra-navigation ul ul ul ul ul a {
  padding-left: 40px;
  opacity: 0.4;
}

#extra-navigation .content {
}
#extra-navigation .block {
  margin: 0;
}

/* Google Suggest */
#cu-search ul.ui-autocomplete {
  width: 247px !important;
  left: 1px !important;
  font-size: 1.063em /* 0.675em */;
  z-index: 5 !important;
}

iframe#LAMP {
  display: none;
}

ul.ui-autocomplete span {
  display: none;
}
.search-list-form-autotext ul.ui-autocomplete {
  z-index: 205 !important;
  font-weight: normal !important;
  font-size: 0.9em;
}
.search-list-form-autotext ul.ui-autocomplete li.ui-menu-item a {
  font-weight: normal;
  color: #000;
  padding: 0.3em 0.7em;
}
.search-list-form-autotext ul.ui-autocomplete li.ui-menu-item a.ui-state-hover {
  color: #0070A3;
}

.js input.autotext {
  opacity: 0.5;
}
.js input[aria-autocomplete] {
  opacity: 1;
}


@media only screen and (orientation:portrait){
}