div.node-type-featured-container h3,
div.node-type-featured-container-b h3,
#menu-timeline li a,
.node-type-timeline #content-area h2.title,
.field-field-column-title-a,
.field-field-column-title-b,
.field-field-column-title-c,
#photo-gallery-wrapper h2.title,
#bottom-menu-groups .menu-group h3 {
  font-family: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
}

#tiled-gallery .tile-overlay {
  -moz-transition: all 0.25s ease-out 0s;
  -webkit-transition: all 0.25s ease-out 0s;
  transition: all 0.25s ease-out 0s;
}

.staging-env #container {
  background: url(../../base/columbia2/images/staging-bg.png);
}
.staging-env #page-wrapper {
  background: #FFF;
  padding: 0;
  border: 1px solid #8C8B8B;
  border-style: none solid;
}

#main-content h2.title {
  color: #13377B;
}

.front #main-content h2.title {
  border-bottom: 1px solid #042A73;
  font-weight: normal;
  position: relative;
}

.front #main-content h2.title a {
  color: #13377B;
  text-decoration: none;
}

.front #main-content h2.title a.rss,
.section-events .region-sidebar-second a.rss {
  background: url(../../base/columbia2/images/sprites1.png) -14px -45px no-repeat;
  position: absolute;
  top: 4px;
  right: 2px;
  display: block;
  text-indent: -2000px;
  overflow: hidden;
  width: 15px;
  height: 15px;
}
.region-sidebar-second a.rss {
  top: 1.6em !important;
}


.sidebar-second #main-content-inner {
  width: 54.475em; /* 723px = 60.25em */
}

.two-sidebars #main-content-inner {
  width: 49.167em;
}

div.node-type-news {
  font-size: 1.15em;
  font-weight: bold;
}

.front .region-content-bottom ul {
  padding: 0;
}

.front .region-content-bottom li {
  list-style: none;
  list-style-image: none;
  margin: 0.5em 0 1em;
}

.front #content-area a {
  color: #3A6FA2;
  text-decoration: none;
}

.front .region-content-bottom {
}

.front .region-content-bottom #block-views-nodequeue_1-block {
  float: left;
  width: 50%;
}
.no-featured-content .region-content-bottom #block-views-nodequeue_1-block {
  width: 55%;
}

.front .region-content-bottom #block-block-3 {
  float: left;
  width: 16.8%;
  text-align: center;
}

.front .region-content-bottom #block-views-events_announcements-block_1 {
  float: right;
  width: 33.2%;
}
.no-featured-content .region-content-bottom #block-views-events_announcements-block_1 {
  width: 40%;
}

/* Featured container */

div.featured-row {
  margin: 0.5em 0 1em;
}

.featured-row .featured-b,
body.node-type-featured-container-b .main-node {
  background: #F5F5F6;
}

#node-61 .featured-row .featured-b {
  background: none;
}

.featured-row .featured-odd,
body.node-type-featured-container-b .main-node {
  width: 47.2%;
  float: left;
}
.featured-row .featured-even {
  width: 47.2%;
  float: right;
}

div.node .left-side-block {
  position: relative;
  float: left;
  width: 15em /* 179px */;
  overflow: hidden;
  margin-right: -15em;
}

div.node-type-featured-container-b .left-side-block {
  width: 20.5%;
  margin-right: -20.5%;
}
div.node .left-side-block .featured-container-image{
}

div.node .left-side-block .featured-container-image img {
  display: block;
}
div.node-type-featured-container-b .featured-container-image img {
  margin: 1em auto;
}

div.node-type-featured-container h2.title,
div.node-type-featured-container-b h2.title {
  border-bottom: 1px solid #002B7F;
  margin: 0;
  font-weight: normal;
  font-size: 1.5em;
}
div.node-type-featured-container-b h2.title {
  padding: 0.2em;
}
#node-61 div.node-type-featured-container-b h2.title {
  border-bottom: 3px solid #898C8D;
  font-size: 1.22em;
}
.region-sidebar-second .noderel-61 h2.title div {
  background: #3A6FA2;
  font-weight: bold;
  margin-top: -0.9em;
  padding: 0.1em 0.5em;
  position: relative;
  z-index: 1;
}

div.node-type-featured-container h2.title a,
div.node-type-featured-container-b h2.title a {
  text-decoration: none;
  color: #13377B;
  font-size: 1em;
}

div.node .right-side-block {
  float: left;
  width: 100%;
}
div.node-type-featured-container .right-side-block-inner {
  padding:0.5em 0 0 1em;
  background: #F2F2F2;
  min-height: 9.917em;
  height: auto !important;
  height: 9.917em;
}
div.node-type-featured-container .with-left-side {
  padding:0.5em 0 0 16em;
  background: #F2F2F2 url("images/container_bg.gif") left top repeat-y;
  min-height: 9.917em;
  height: auto !important;
  height: 9.917em;
}
div.node-type-featured-container-b .right-side-block-inner {
  padding: 0.5em 0 0 1em;
}
div.node-type-featured-container-b .with-left-side {
  padding: 0.5em 0 0 20.5%;
}

div.node-type-featured-container .right-side-block .content {
  float: left;
  padding-top: 5px;
  width: 100%;
  margin-right: -100%;
}
div.node .right-side-block .content-inner {
  padding-right: 1em;
}
div.node .right-side-block .with-right-elements .content-inner {
  padding-right: 17.6em;
}
div.node-type-featured-container h3,
div.node-type-featured-container-b h3 {
  font-size: 1.6em;
  margin: 5px 0;
  color: #3A6FA2;
  line-height: 1.1em;
}

div.node-type-featured-container p,
div.node-type-featured-container-b p {
  margin: 5px 0;
}

div.node .right-side-block div.featured-links{
  font-size: 0.9em;
}

div.featured-links a {
  color: #444;
  text-decoration: none;
  font-weight: bold;
}

div.node .right-side-block div.featured-links p {
  background: url(../../base/columbia2/images/sprites1.png) no-repeat -75px -46px;
  padding:0 0.5em 0 1em;
  margin: 0.6em 0;
}

div.node .right-elements {
  float: right;
  background-color: #E5E5E5;
  width: 13.7em;
  margin-left: -14.7em;
  padding: 0.5em 0 0.5em 1em;
  min-height: 6.88em;
  height: auto !important;
  height: 6.88em;
  line-height: normal;
}

.right-elements select,
#bottom-columns .field-type-nodereference select {
  width: 11.5em;
  position: relative;
}

/* search list */

form.search-list-form .form-item label {
  margin:0 0 0.8em 0;
}

#content-area form.search-list-form input.form-text{
	width:100px;
	height: 15px;
	background:url(images/search-text.jpg) no-repeat scroll top left transparent;
	border:none;
	padding: 3px 35px 4px 7px;
	margin:0;
	font-size: 1em;
	overflow: hidden;
}

#content-area form.search-list-form-autotext .note {
  display: none;
  padding: 1px 0;
  margin: 0.2em 6.5px;
  font-size: 0.9em;
}

#content-area form.search-list-form div{
  position: relative;
  margin: 1em 0 0.5em;
}

form.search-list-form-autotext .form-submit{
	position: absolute;
	right:0px;
	top:2px;
	display: none;
}

/* Photo gallery */
div.node-type-photo-gallery .content,
.gallery-image {
  width: 660px;
  height: 337px;
}

div.node-type-photo-gallery .thumbs img {
  width: 103px;
  height: 59px;
  overflow: hidden;
}

/* Navigation */
#block-menu_block-4 {
  float: left;
  width: 88%;
  margin-right: -2%;
}
.with-extra-navigation #block-menu_block-4 {
  margin-right: -8%;
  width: 90%;
}

#block-menu_block-4 li {
  display: none;
  visibility: hidden;
}
#navigation li.menu-mlid-261,
#navigation li.menu-mlid-259,
#navigation li.menu-mlid-260,
#navigation li.menu-mlid-485,
#navigation li.menu-mlid-486,
#navigation li.menu-mlid-487,
#navigation li li {
  display: block;
  visibility: visible;
}
#navigation li.menu-mlid-261 { /* About */
  width: 9.017em /*113px*/;
}
#navigation li.menu-mlid-259 { /* Admissions */
  width: 12.267em /*152px*/;
}
#navigation li.menu-mlid-260 { /* Academics */
  width: 12.6em /*156px*/;
}
#navigation li.menu-mlid-485 { /* Research */
  width: 12.183em /*151px*/;
}
#navigation li.menu-mlid-486 { /* Libraries */
  width: 11.85em /*147px*/;
}
#navigation li.menu-mlid-487 { /* Medical Center */
  width: 13.6em /* 12.083em -145px*/;
}

/* Resources For nav menu */
#block-menu_block-6 {
  width: 13%;
  float: right;
  position: relative;
  z-index: 2;
  background: #E3E5E5 url(../../base/columbia2/images/nav_bg.jpg) repeat-x;
  font-size: 0.95em;
}
.js #block-menu_block-6 {
  min-height: 27px;
  height: auto !important;
  height: 27px;
}
.with-extra-navigation #block-menu_block-6 {
  font-size: 0.7em;
  width: 10.4%;
  height: 2em;
}
.js .with-extra-navigation #block-menu_block-6 {
  background: #183264;
}
.with-extra-navigation #navigation.focused #block-menu_block-6 {
  background: #E3E5E5 url(../../base/columbia2/images/nav_bg.jpg) repeat-x;
}
#block-menu_block-6 h2.title {
  font-size: 1em;
  color: #062A6D;
  padding: 7px 15px;
  line-height: 1em;
  margin: 0;
  border: 1px solid transparent;
  border-style: solid solid none;
  text-align: right;
  position: relative;
  z-index: 2;
}
.with-extra-navigation #block-menu_block-6 h2.title {
  padding: 4px 15px 5px;
}
#block-menu_block-6.active-trail h2.title {
  color: #FFF;
  background: #183264;
  margin-bottom: -1px;
  border-color: #183264;
}
#block-menu_block-6.displayed h2.title {
  color: #FFF !important;
  border-color: #FFF;
  background: #183264;
  margin-bottom: -1px;
}
.with-extra-navigation #block-menu_block-6 h2.title {
  border-top: none;
  color: #183264;
}
#block-menu_block-6 .content {
  position: absolute;
  z-index: 1;
  top: 2.37em;
  right: 0;
  border: 1px solid #FFF;
  background: #E3E5E5 url("../../base/columbia2/images/nav_bg.jpg") repeat-x;
  margin-right: -1px;
  margin-top: -1px;
  font-size: 1em;
}
.js #block-menu_block-6 .content {
  display: none;
  background: #A4C7E1;
  background: rgba(164, 199, 225, 0.97);
  margin-right: 0;
}
#block-menu_block-6 ul {
  width: 14em;
  height: auto;
  border: 0 !important;
  margin: 0;
  padding: 0;
}
.js #block-menu_block-6 ul {
  background: #A4C7E1;
  background: rgba(164, 199, 225, 0.97);
}
#block-menu_block-6 ul ul {
  margin: 0;
}
.js #block-menu_block-6 ul ul {
  position: absolute;
  top: -1px;
  right: 14em;
  width: 14em;
  border: 1px solid #FFF !important;
}
#block-menu_block-6 li {
  float: none;
  position: relative;
  list-style: none;
  list-style-image: none;
  padding: 0;
  margin: 0;
}
#block-menu_block-6 li a {
  text-transform: none;
  font-weight: bold;
  font-size: 1em;
  color: #062A6D;
  padding: 9px 15px;
  display: block;
  background-color: transparent;
  line-height: 1em;
}
.js #block-menu_block-6 li a {
  text-decoration: none;
}

#block-menu_block-6 li.expanded li a,
#block-menu_block-6 li li li.expanded li a,
#block-menu_block-6 li li li li.expanded li a {
  background-image: none;
}

#block-menu_block-6 li.expanded a,
#block-menu_block-6 li li li.expanded a,
#block-menu_block-6 li li li li.expanded a {
  background: url(../../base/columbia2/images/expanded.png) no-repeat left center;
}

.js #block-menu_block-6 li a:hover,
.js #block-menu_block-6 li a.active-trail,
.js #block-menu_block-6 li li a.active-trail,
.js #block-menu_block-6 li li li a.active-trail,
#block-menu_block-6 li.sfHover a {
  background-color: #183264;
  color: #FFF;
}
#block-menu_block-6 li.sfHover li a {
  background-color: transparent;
  color: #062A6D;
}
.with-extra-navigation #block-menu_block-6 li a {
  font-weight: normal;
  font-size: 0.95em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

/* /Navigation */


div.node-type-event-announcement,
div.node-type-landing-page-event {
  margin-bottom: 0.7em;
}

div.node-type-event-announcement .day-hidden .text,
div.node-type-landing-page-event .day-hidden .text {
  margin-top: -0.5em;
}
div.node-type-event-announcement .atf .text,
div.node-type-landing-page-event .atf .text {
  margin-top: 0;
}

div.node-type-event-announcement .day,
div.node-type-landing-page-event .day {
  float: left;
  background: #F2F2F2;
  color: #3A6FA2;
  font-size: 1.8em;
  line-height: 1.3em;
  text-align: center;
  width: 34px;
  height: 29px;
  margin-right: -34px;
}

div.node-type-event-announcement .text,
div.node-type-landing-page-event .text {
  float: left;
  margin-left: 37px;
  padding: 2px 6px;
  width: 83.45%;
}

div.icons {
  float: right;
}
.icons span {
  display: block;
  text-indent: -2000px;
  overflow: hidden;
  background: url(../../base/columbia2/images/sprites1.png) no-repeat;
  margin: 0.2em;
}
.icons .video {
  float: left;
  width: 16px;
  height: 13px;
  background-position: -14px -21px;
}
.icons .photos {
  float: left;
  width: 16px;
  height: 11px;
  background-position: -14px -34px;
}

.view-events-announcements h3,
.view-landing-page-events h3 {
  margin: 1em 0 0;
  padding: 1px 4px;
  background: #898C8D;
  color: #FFF;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1em;
}
.view-events-announcements h3.announce {
  background: #7DAAD4;
}

#service-alerts .node {
  background: none;
  margin: 1em 0;
  padding: 0;
}

#service-alerts .more-link {
  display: none;
}

.js #service-alerts .view-data-node-data-field-service-type-field-service-type-nid,
.js #service-alerts .view-data-node-data-field-alert-date-display-field-alert-date-display-value,
.js #service-hours-details,
#service-hours-trigger {
  display: none;
  font-size: 0.9em;
}
.js #service-hours-trigger {
  display: inline;
}

#service-hours-details {
  margin: 1em 0 0;
}

div.highlight {
  background: #3A6FA2;
  padding: 0.4em 0.5em;
  color: #072761;
}
div.highlight a {
  color: #FFF;
}
div.highlight h4 {
  margin: 0.3em 0;
}

#content-area li h5 {
  display: inline;
  margin: 0.5em 0;
  font-size: 1em;
  line-height: 1em;
  cursor: help;
}
#content-area li h5:hover {
  text-decoration: underline;
}

.js .highlight-hidden {
  display: none;
  margin: 0.5em 1.5em 1em;
  padding: 1px 0;
}

.highlight-processed {
  color: #3A6FA2;
}

div.announcement {
  background: #85B6E2;
  color: #FFF;
  width: 243px;
  padding-bottom: 0.5em;
  margin: 0 0 1em;
}
div.announcement a {
  color: #FFF;
}
div.announcement p,
div.announcement h4 {
  padding: 0 0.5em;
  margin: 0.5em 0;
  line-height: normal;
}

/* Directories */
.view-directory-listing {
  margin: 2.2em 0;
}
.view-directory-listing .views-table {
  width: 100%;
}
.view-directory-listing .views-row {
  list-style: none;
  list-style-image: none;
  padding: 3px 38px 3px 17px;
  background: #E6F0FA;
  color: #2C2C2D;
}
.view-directory-listing .views-row-even {
  background: #EEEEEE;
}
.view-directory-listing .views-row a {
  color: #2C2C2D;
}
.view-directory-listing .views-field-field-link-url,
.view-directory-listing .nt {
  float: left;
}
.view-directory-listing .social-media {
  float: right;
}
.view-directory-listing .views-field-nothing span.ext {
  display: none;
}
.view-directory-listing div.views-field-edit-node {
  float: left;
  margin: 0 1em;
  font-weight: bold;
}
.view-directory-listing span.ext {
  display: none;
}
.view-directory-listing ul {
  margin: 0 0.5em 0.5em;
  padding: 0;
}
.view-directory-listing .back-to-top {
  margin: 0 1em;
  font-size: 0.9em;
  text-align: right;
}
.view-directory-listing h3.character {
  color: #FFF;
  font-size: 1.3em;
  text-align: center;
  width: 1em;
  background: none;
  visibility: hidden;
  line-height: 1px;
  margin: 0;
  padding: 3.5px 0;
}
.view-directory-listing .anchors {
  margin: 1em auto 1.5em;
  width: 95%;
  text-align: center;
}
.view-directory-listing .anchors a {
  font-size: 1.3em;
  padding: 7px 0.95%;
  margin: 0 2px;
  color: #373737;
}
.view-directory-listing .anchors a.current {
  background: #122E64;
  color: #FFF;
}

.view-directory-listing span.link-fb {
  margin-right: 51px;
  float: left;
  width: 17px;
  display: block;
}
.view-directory-listing span.link-fb a {
  text-indent: -9999px;
  background: url("images/link-fb.png") no-repeat;
  width: 17px;
  height: 17px;
  display: block;
}

.view-directory-listing span.link-tw {
  margin-right: 51px;
  float: left;
  width: 17px;
  display: block;
}
.view-directory-listing span.link-tw a {
  text-indent: -9999px;
  background: url("images/link-tw.png") no-repeat;
  width: 17px;
  height: 17px;
  display: block;
}

.view-directory-listing span.link-yt {
  float: left;
  width: 41px;
  display: block;
}
.view-directory-listing span.link-yt a {
  text-indent: -9999px;
  background: url("images/link-yt.png") no-repeat;
  width: 41px;
  height: 17px;
  display: block;
}

.view-directory-listing span.link-rss {
  margin-right: 51px;
  float: left;
  width: 17px;
  display: block;
}
.view-directory-listing span.link-rss a {
  text-indent: -9999px;
  background: url("images/ico_instagram_17px.png") no-repeat;
  width: 17px;
  height: 17px;
  display: block;
}

/* Extra navigation levels */
#block-menu_block-9 {
  margin-left: 2em;
}
#block-menu_block-10 {
  margin-left: 4em;
}

/* Feedback forms */
.block-webform {
  clear: both;
  margin: 2em auto;
  border: 2px solid #CCC;
  padding: 2em;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  width: 75%;
}
.js .block-webform {
  margin: 0 0 1em;
  padding: 0;
  border: 0;
  width: auto;
}
#main-content .block-webform h2.title {
  color: #444444;
  font-size: 1.5em;
  border-bottom: 2px solid #CCC;
}

#directory-feedback {
  display: none;
  visibility: hidden;
  text-indent: -2000px;
  font-style: italic;
}
.js #directory-feedback {
  display: block;
  visibility: visible;
  text-indent: 0;
  position: absolute;
  right: 1em;
  top: 3.8em;
  color: #7197BB;
  cursor: pointer;
}
.js #directory-feedback:hover {
  text-decoration: underline;
}

#global-feedback {
  display: none;
  visibility: hidden;
  text-indent: -2000px;
  overflow: hidden;
  font-style: italic;
  font-weight: bold;
}
.js #global-feedback {
  display: block;
  visibility: visible;
  text-indent: 0;
  position: absolute;
  right: 1em;
  top: 3.8em;
  color: #7197BB;
  cursor: pointer;
}
.js .front #global-feedback {
  top: auto;
  right: auto;
  bottom: 0.3em;
  right: 1em;
}
.js .node-type-directory #global-feedback {
  top: 2em;
}
.js #global-feedback:hover {
  text-decoration: underline;
}

.js #block-webform-2629,
.js #block-webform-2630 {
  display: none;
}
.js #webform-client-form-2629,
.js #webform-client-form-2630 {
  overflow: hidden;
  padding: 1em;
}
#cboxClose {
}
#colorbox {
  font-size: 0.75em;
  line-height: normal;
}
.cboxSlideshow_on #cboxLoadedContent,
.cboxSlideshow_off #cboxLoadedContent {
  float: left;
}
.cboxSlideshow_on #cboxLoadedContent img,
.cboxSlideshow_off #cboxLoadedContent img {
  padding-right: 278px;
  background: #FFF;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}
#colorbox #cboxTitle {
  float: left;
  padding: 0.5em 10px;
  position: static !important;
  height: 91.8% !important;
  width: 258px !important;
  margin-left: -278px !important;
  color: #333 !important;
  text-align: left !important;
}
#cboxTitle p {
  margin: 1em 0;
}
.webform-client-form .textarea-identifier {
  display: none !important;
  visibility: hidden !important;
}

.simple-slideshow {
}

div.node-type-slideshow .content a,
div.node-type-slideshow .content img {
  display: block;
}
.slideshow-image {
  text-align: center;
  background: #EEE;
  padding: 1px 0;
}
.slideshow-image,
.slideshow-image .caption {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  -webkit-border-bottom-right-radius: 0.5em;
}
.slideshow-image img {
  border: 2px solid #FFF;
  margin: 1em auto;
}
.slideshow-image .caption {
  margin: 1em 0 0;
  padding: 1em;
  background: #222;
  color: #FFF;
  font-size: 1.1em;
}
.slideshow-pagers {
  margin: 2em 0 0;
}
.slideshow-prev {
  width: 103px;
  display: block;
  padding-left: 19px;
  background: url(../../base/columbia2/images/sprites2.png) 0 -24px no-repeat;
  float: left;
  margin: auto 0;
}
.slideshow-next {
  width: 103px;
  display: block;
  padding-right: 19px;
  background: url(../../base/columbia2/images/sprites2.png) right -122px no-repeat;
  float: right;
  margin: auto 0;
}
.slideshow-data,
.slideshow-caption {
  display: none;
  visibility: hidden;
}

/* Events Calendar */
.view-events {
  padding: 1em;
  background: #F3F3F4;
}
.view-events .view-content ul {
  margin: 1.5em 0 1em;
}

.view-events .header {
  border-bottom: 1px solid #898C8D;
  padding-bottom: 11px;
}

.view-events h2.title {
  float: left;
  color: #1E379E !important;
  font-weight: normal;
}

.view-events .view-content .title a {
  font-size: 1.15em;
  font-weight: normal;
}
#events-range {
  float: left;
  font-size: 1.35em;
  margin: 0;
}
.view-events .rightside {
  float: right;
  font-weight: bold;
  padding-top: 2px;
}
#events-range span {
  color: #1E379E;
}
#events-range a {
  text-decoration: underline;
}
#events-range a.active {
  text-decoration: none;
  color: #000;
  cursor: default;
}

.view-events .views-row {
  margin: 1em 0;
  clear: both;
  position: relative;
  list-style: none;
  list-style-image: none;
}
.view-events .views-field-edit-node {
  position: absolute;
  left: 5px;
  top: 5px;
}

.view-events .event-short-description {
  font-size: 0.95em;
  line-height: normal;
  margin: 0.3em 0 0.5em;
  background: #FFF;
  padding: 0.7em 1em;
  border-radius: 0.7em;
  -moz-border-radius: 0.7em;
  -webkit-border-radius: 0.7em;
  border: 2px solid #898C8D;
}

.js .view-events .event-type,
.js .view-events .event-short-description {
  display: none;
}
.view-events .views-field-nothing {
  float: left;
  margin-left: 84px;
}
.js .view-events .views-field-nothing {
  margin-left: 0;
}
.view-events .views-field-field-event-image-fix-value {
  float: left;
  width: 72px;
  margin: 0 -84px 0 0;
}
.js .view-events .views-field-field-event-image-fix-value {
  display: none;
}
.view-events .views-field-field-event-image-fix-value img {
  border: 1px solid #000;
  padding: 1px;
  width: 70px;
}

.sidebar-more-info h2.title {
  margin-bottom: 0.2em !important;
}

.section-events .region-sidebar-second h2.title {
  margin: 0.5em 0.65em;
}
.region-sidebar-second h3.title {
  color: #898C8D;
  margin: 0;
  font-weight: normal;
}
.region-sidebar-second .graybox .items {
  margin-top: 0.5em;
}
.region-sidebar-second .graybox input {
  margin-left: -0.2em;
  margin-right: 0.2em;
}
.region-sidebar-second .graybox label {
  margin: 0 1.3em 0 0;
}
#date-filters label {
  display: inline-block;
  width: 75px;
  margin: 0.2em 1.3em 0 0;
}
.region-sidebar-second .graybox label.last {
  margin-right: 0;
}

#events-no-results {
  display: none;
  margin: 2em;
}
.view-events .view-empty {
  margin: 2em;
}

.padbox {
  padding: 1px 1em;
  margin-bottom: 0.5em;
}
.js .padbox {
  display: none;
}

.js h2.pbtoggle {
  margin: 0.3em 0 !important;
  padding: 0.2em 0.65em;
  background: #F3F3F4;
  color: #3A6FA2;
  cursor: pointer;
}

.graybox {
  padding: 1em;
  margin-bottom: 0.5em;
  background: #F3F3F4;
  position: relative;
}
.graybox-hidden {
  display: none;
}

.graybox .uncheck {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #3A6FA2;
  cursor: pointer;
}
.graybox .uncheck:hover {
  text-decoration: underline;
}

#meta-triggers {
  margin: 0.5em 0;
}
#thumbnails-trigger,
#descriptions-trigger {
  color: #3A6FA2;
  cursor: pointer;
}
#thumbnails-trigger:hover,
#descriptions-trigger:hover {
  text-decoration: underline;
}

#events-filters {
  display: none;
}
#events-filters .inner {
  padding: 0 0 2em;
  margin: 0;
  border-bottom: 6px solid #898C8D;
}

.caption h3,
#cboxTitle h3 {
  font-size: 1.17em;
  color: #333;
  margin: 12px 0;
}
.caption h4,
#cboxTitle h4 {
  margin: 12px 0;
}

.event-detail {
  font-size: 1.15em;
}
.with-event-image .event-detail {
  width: 100%;
  margin-left: -110px;
  float: left;
}
.event-detail-inner {
  background: #F3F3F4;
  padding: 1em;
}
.with-event-image .event-detail-inner {
  margin-left: 110px;
}
.event-detail h2.title {
  font-size: 1.3em;
  line-height: normal;
  font-weight: normal;
  color: #1E379E;
  padding: 0 2px;
}
.event-detail .field-field-event-date-from {
  color: #1E379E;
  margin: 0.5em 0;
  padding: 0 2px;
}
.event-detail .field-field-event-location {
  margin: 0.5em 0;
  padding: 0 2px;
  color: #1E379E;
}
.event-detail .field-field-sanitized-body {
  border-top: 1px solid #898C8D;
  border-bottom: 1px solid #898C8D;
  padding: 0.5em 2px;
  margin: 1em 0;
}
.event-image {
  float: left;
  width: 70px;
  margin: 20px;
}
.event-image img {
  display: block;
}

#search-list-form-department,
#search-list-form-area_of_study,
#search-list-form-admissions_office,
#search-list-form-school,
#search-list-form-center_or_institute {
  display: none;
}
.js #search-list-form-department,
.js #search-list-form-area_of_study,
.js #search-list-form-admissions_office,
.js #search-list-form-school,
.js #search-list-form-center_or_institute {
  display: block;
}

.featured-links .form-submit,
#bottom-columns .field-type-nodereference .form-submit {
  display: none;
}

#feedback-thankyou {
  font-size: 1.2em;
  margin: 1em 1em 0;
}
#feedback-thankyou p {
  text-align: center;
}

/* Service links (rest are in columbia2-theme.css) */
#service-links li.twitter a {
  background: url("images/link-tw.png") no-repeat;
  width: 17px;
}
#service-links li.instagram a {
  background: url("images/ico_instagram_17px.png") no-repeat;
  width: 17px;
}
/* Nobel Laureates */
#block-views-nobel_laureates-block_1 table {
  width: 100%;
  margin: 0.5em 0;
}
#block-views-nobel_laureates-block_1 tr,
#block-views-nobel_laureates-block_1 td {
  border: 0;
  background: none;
}

/* Timeline */
.node-type-timeline div.node-type-timeline {
  margin: 0;
  padding: 1px 2em 0;
  background: #709AC5;
  color: #FFF;
}
.node-type-timeline #main-content {
  padding-bottom: 1px;
}

.node-type-timeline div.node-type-timeline h2.title {
  font-size: 2.8em;
  font-weight: normal;
  color: #FFF !important;
  margin: 0.5em 0;
}

#menu-timeline ul {
  display: table;
  margin: 1px 0;
  padding: 0;
  width: 100%;
  height: 71px;
  background: #EBEAE9;
}
#menu-timeline li {
  display: table;
  float: left;
  list-style: none;
  list-style-image: none;
  width: 131px;
  height: 71px;
  text-align: center;
}
#menu-timeline li.active-trail {
  background: url("images/timeline_nav_bg2.gif") no-repeat;  
}
#menu-timeline li span {
  display: table-cell;
  vertical-align: middle;
}
#menu-timeline li a {
  display: block;
  padding: 5px 16px 5px 5px;
  color: #709AC4;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

#timeline-image-main {
  float: left;
  margin: 0 2em 2em 0;
  width: 560px;
  min-height: 300px;
  height: auto !important;
  height: 300px;
}
#timeline-image-main img {
  display: block;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

#timeline-image-thumbnails {
  clear: both;
  margin: 1em -2em 0;
  background: #EBEAE9;
  padding: 0.5em;
}
#timeline-image-thumbnails img {
  display: block;
  float: left;
  margin: 3px 3px;
  border: 2px solid #FFF;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}
#timeline-image-thumbnails .active img {
  border-color: #709AC5;
}
.timeline-next {
  cursor: pointer;
  float: right;
  padding: 0 16px 0 0;
  margin: 0.5em -1em 3px;
  opacity: 1 !important;
  font-size: 1.2em;
  color: #FFF;
  background: url("images/timeline_next.gif") no-repeat center right;
}

/* Template-B */
.template-b #main-content {
  min-height: 0;
  padding-bottom: 0;
  margin-bottom: -1px;
}

.template-b #page-wrapper {
  overflow-y: visible;
}
/*
.template-b #cu-search {
  top: 340px;
  background: #FFF;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  position: relative;
  top: 0;
  left: 0;
  margin: 20px 15px 0;
  behavior: url(/sites/all/library/contrib/pie/PIE.php);
}

.template-b #cu-search .wrapper,
.template-b #cu-search .wrapper-inner {
  background: none;
}
*/
.template-b #content-inner,
.template-b #footer .section {
  padding: 0;
}
/*
.template-b #cu-search-box {
  width: 165px;
  padding-bottom: 4px;
  margin: 0;
}
*/
.template-b h1.title {
  font-size: 2.5em;
  color: #FFF;
  margin: 16px 30px 0;
  text-transform: uppercase;
  min-height: 39px;
  height: auto !important;
  height: 39px;
}
.page-content-arts-columbia-0 h1.title,
.page-content-arts-at-columbia h1.title {
  background: url(images/arts-at-columbia-header.png) no-repeat;
  width: 358px;
  height: 24px;
  margin: 14px 30px 2px;
  text-indent: -2000px;
}

.template-b #cu-name {
  font-size: 12px;
  float: left;
  line-height: normal;
  padding: 0 8px;
}
.template-b #cu-name a {
  color: #FFF;
  background: url(../../../library/ias/images/mini-crown.png) no-repeat left center;
  padding: 8px 0 8px 24px;
  height: auto;
  width: auto;
  text-indent: 0;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-shadow: none;
}
.template-b #cu-search {
  top: 47px;
  right: 10px;
}
.template-b #header {
  min-height: inherit;
  background: #164684;
}
.template-b #block-menu_block-1 {
  font-size: 12px;
}
.template-b #block-menu_block-1 li.sfHover ul {
  margin-top: -1px;
}
.template-b #main-wrapper {
  background: url("images/tpl-b-header-bg.jpg") repeat-x;
  border-top: 1px solid #FFF;
}
.template-b #content-inner-inner {
  border: 0 !important;
}

div.node-type-landing-page-b {
  overflow: hidden;
}

#bottom-menu-groups {
  background: #CCC;
  border-bottom: 9px solid #BCBCBC;
  margin-top: 3px;
  padding: 3px 10px;
  position: relative;
}

#bottom-menu-groups .menu-group {
  float: left;
  width: 20%;
  position: relative;
}
#bottom-menu-groups .menu-group h3 {
  margin: 0;
  padding: 9px 10px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1em;
  height: 30px;
  color: #333;
}
#bottom-menu-groups:after { /* for image precaching only */
  content: url("images/menu-group-toggle-active.gif");
}
#bottom-menu-groups .menu-group h3:after {
  content: url("images/menu-group-toggle.gif");
  margin-left: 3px;
}
#bottom-menu-groups .focus h3:after {
  content: url("images/menu-group-toggle-active.gif");
}
#bottom-menu-groups .menu-group.focus h3 {
  background: #183264;
  color: #FFF;
  cursor: default;
}
#bottom-menu-groups ul {
  display: none;
  position: absolute;
  bottom: 48px;
  left: 0;
  background: rgb(164, 199, 225);
  background: rgba(164, 199, 225, 0.97);
  min-width: 130%;
  max-width: 180%;
  border: 1px solid #FFF;
  margin: 0;
  padding: 0;

  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
}
#menu-group-5 ul {
  left: auto;
  right: 0;
}
#bottom-menu-groups li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
#bottom-menu-groups li:hover {
  background: #183264;
}
#bottom-menu-groups li a {
  color: #223B6B;
  text-decoration: none;
  padding: 3px 10px;
  display: block;
}
#bottom-menu-groups li:hover a {
  color: #FFF;
}

#tiled-gallery {
  margin-top: -4px;
}

#tiled-gallery .tile-item {
  float: left;
  width: 314px;
  height: 134px;
  margin: 4px 4px 0 0;
  padding: 0;
  position: relative;
  background: #000;
}
#tiled-gallery .tile-item:nth-child(3n) {
  margin-right: -20px !important;
}
#tiled-gallery .tile-row-last {
  margin-right: -20px !important;
}
/*
#tiled-gallery.child-focus .node {
  opacity: 0.8;
}
*/

#tiled-gallery .tile-overlay {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  background: rgba(255, 0, 0, 0);
}
#tiled-gallery .tile-overlay h3 {
  display: table-cell;
  vertical-align: middle;
  font-size: 3em;
  font-weight: normal;
  padding: 0;
  text-align: center;
  opacity: 0;
  filter: alpha(opacity=0);
}
#tiled-gallery .tile-overlay h3 a {
  color: #FFF;
  text-decoration: none;
  line-height: 134px;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
}
#tiled-gallery .tile-overlay h3 span {
  font-size: 0.7em;
  vertical-align: top;
}
#tiled-gallery .focus .tile-overlay {
  background: rgb(255, 0, 0);
  background: rgba(255, 0, 0, 0.7);
}
#tiled-gallery .focus .tile-overlay h3 {
  opacity: 1;
  filter: alpha(opacity=100);
}
#tiled-gallery .focus .node {
  opacity: 1;
  filter: alpha(opacity=100);
}
#tile-focus {
  display: none;
}

.node-type-photo-gallery-3 #left-column p,
.node-type-photo-gallery-3 #right-column p {
  margin: 0 0 1em;
}
.node-type-photo-gallery-3 #left-column a,
.node-type-photo-gallery-3 #right-column a {
  color: #FFF;
}
.node-type-photo-gallery-3 #left-column {
  float: left;
  width: 36.5%;
  height: 100%;
  color: #FFF;
  background: #214483;
}
.node-type-photo-gallery-3 .left-column-inner {
  padding: 20px;
}
.node-type-photo-gallery-3 #left-column h2.title {
  font-weight: normal;
  color: #FFF;
  font-size: 2em;
  margin-bottom: 0.3em;
}
.node-type-photo-gallery-3 #right-column {
  position: relative;
  float: right;
  width: 63.2%;
  color: #FFF;
  height: 100%;
}
.node-type-photo-gallery-3 #right-column .column-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: rgb(33, 68, 131);
  background: rgba(33, 68, 131, 0.5);
}
.node-type-photo-gallery-3 #right-column .column-text-inner {
  padding: 20px;
}



/* Arts landing page */
#photo-gallery-wrapper {
  background: #000;
  height: 401px;
  position: relative;
  margin-bottom: 7px;
}
#photo-gallery-wrapper #photo-gallery {
  float: left;
  width: 716px;
  height: 401px;
  overflow: hidden;
  position: relative;
}
#photo-gallery-wrapper #page-text {
  float: right;
  width: 232px;
  color: #FFF;
}
#photo-gallery-wrapper #page-text .inner {
  padding: 10px 10px 0;
}
#photo-gallery-wrapper h2.title {
  color: #D6D6D6;
  font-size: 2.2em;
  font-weight: normal;
  font-variant: small-caps;
  line-height: 1em;
  margin: 0 10px 10px;
}
#photo-extras {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: #000;
  width: 232px;
  height: 115px;
  overflow: hidden;
}
#photo-extras .inner {
  margin: 12px 15px 0;
  border-top: 1px dotted #333;
  padding: 7px 0 5px;
}
#photo-extras #triggers {
  margin: 3px auto 6px;
  text-align: center;
}
#photo-extras span {
  display: inline;
  cursor: pointer;
  background: #FFF;
  -moz-border-radius: 10em;
  -webkit-border-radius: 10em;
  border-radius: 10em;
  margin: 0 2.5px;
  padding: 1px 5px;
  width: 16px;
  height: 16px;
  text-align: center;
  font-weight: bold;

  behavior: url(../../../library/contrib/pie/PIE.php);
}
#photo-extras span.active {
  color: #A00002;
}
.js #photo-gallery .field-item {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
#photo-caption {
  color: #FFF;
  padding: 0 0 0 38px;
  background: url(images/caption-bg.gif) no-repeat left 2px;
  min-height: 52px;
  height: auto !important;
  height: 52px;
  margin-left: -7px;
}
#photo-caption p {
  margin: 0;
  line-height: normal;
  font-size: 0.94em;
}

#bottom-columns {
  background: #E8E8E8;
  padding: 10px;
}
#bottom-columns .fieldgroup {
  width: 270px;
  margin: 0 58px 0 0;
  float: left;
}
#bottom-columns .fieldgroup .content {
  padding: 0;
  position: relative;
}
#bottom-columns .fieldgroup .field-type-filefield {
  position: absolute;
  opacity: 0.1;
  filter: alpha(opacity='10');
}
.field-field-column-title-a,
.field-field-column-title-b,
.field-field-column-title-c {
  background: #FFF;
  padding: 2px 5px;
  font-size: 1.7em;
  font-variant: small-caps;
  color: #444444;
  line-height: normal;
  font-weight: normal;
}
#bottom-columns .field-type-nodereference {
  padding: 7px;
  height: 155px;
  position: relative;
  z-index: auto;
}
#bottom-columns .field-type-nodereference label {
  float: left;
  width: 50%;
  color: #000;
}
#bottom-columns .field-type-nodereference select,
#bottom-columns .field-type-nodereference .autotext {
  float: right;
  width: 48%;
}
#bottom-columns .field-type-nodereference .form-item input.autotext {
  width: 70px;
  background: #FFF url(images/magnifier.gif) no-repeat 90px center;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding-bottom: 2px;
  position: relative;

  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);

  behavior: url(../../../library/contrib/pie/PIE.php);
}
#bottom-columns .group-column-c {
  margin: 0 0 0 -20px;
  float: right;
  position: relative;
}
#bottom-columns .view-landing-page-events {
  position: relative;
  z-index: 1;
}
#bottom-columns .title-link {
  position: absolute;
  top: 7px;
  right: 5px;
}
#bottom-columns .title-link a {
  color: #000;
}

#bottom-columns ul.ui-autocomplete {
  width: 247px !important;
}

ul[data-role=listview] {
  list-style: none;
  padding: 0;
}
ul[data-role=listview] li.title {
  font-weight: bold;
  color: #3A6FA2;
  font-size: 1.3em;
  line-height: 1.3em;
  margin-bottom: 0.769em;
  margin-top: 0.769em;
}

#commencement-countdown-wrapper{
	padding:0px;
	position: relative;
	height: 127px;
	margin:6px 0 12px 0;
	background: url("http://home.columbia.edu/sites/all/themes/ias/cu2/images/banner_bg.jpg") repeat-x scroll 0 0 #122D62;
	color:#dce3ef;
	font-family: "Trajan Pro","Times New Roman",Times,Georgia,"DejaVu Serif",serif;
}

#commencement-countdown {
	font-weight:normal;
	font-size:26px;
	padding:0px;
	margin:0 auto;
	display:block;
	text-align:center;
	position: relative;
	top:28px;
	font-variant: small-caps;
	line-height: 1.1em;
}

#commencement-countdown-wrapper h3.rtecenter{
	margin:0;
	padding:0;
	font-weight: normal;
	width:100%;
	position: absolute;
	bottom:22px;
}

#commencement-countdown-wrapper #commencement-countdown-service-links{
	position: absolute;
	right:20px;
	bottom:20px;
}

#commencement-countdown-wrapper #commencement-countdown-date{
	font-size: 17px;
	font-weight: normal;
	color:#dce3ef;
	font-variant: small-caps;
}

.link-button {
  background:#ffffff;
  display: inline-block;
  border: 1px solid #13377B;
  margin: 0 0 .5em 1em;
  padding: 0.25em;
  text-align: center;
  width: 73%;
  color: #1564A5;
}

.node-type-featured-container h2.title a:after,
.node-type-featured-container-b h2.title a:after,
.region-content-bottom h2.title a:after {
  content: " \00BB";
}
.region-content-bottom h2.title a.rss:after {
  content: none;
}

.field-field-sundial-event-url-display .field-item,
.field-field-sundial-contact-info .field-item {
  margin-bottom: 1em;
}

.js .front #main-content-inner-inner {
  display: none;
}
.js .logged-in #main-content-inner-inner {
  display: block;
}

.js #failover-note {
  min-width: 950px;
  width: 59.375em;
  margin: 0 auto 2em;
  display: none;
}
.js #content-inner-inner #failover-note {
  min-width: 0;
  width: auto;
  display: block;

  background: #000;
  background: #f2f2f2;
  color: #3a6fa2;
  margin: -8px -10px 10px;
  padding: 10px; 
}
.js .not-front #content-inner-inner #failover-note {
  margin: 0 -12px 15px;
  padding: 10px 15px;
}
