/* iCheck plugin Square skin, grey
----------------------------------- */
.icheckbox_square-grey,
.iradio_square-grey {
    display: inline-block;
    /**display: inline;*/
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(http://s.thsi.cn/js/home/v5/thirdpart/icheck/skins/ths/bottom.png) no-repeat;
    border: none;
    cursor: pointer;
    *zoom:1;
    *float: left;
}
/*.iradio_square-grey {
    background: url(../ths/radio.png) no-repeat;
}*/
/*.icheckbox_square-grey{
  background-size: 170px;
}*/
.icheckbox_square-grey {
  background-position: 0px -52px;
}
    .icheckbox_square-grey.hover {
  background-position: 0px -104px;
    }
    .icheckbox_square-grey.checked {
  background-position: 0px -1px;
    }
    .icheckbox_square-grey.disabled {
        background-position: -72px 0;
        cursor: default;
    }
    .icheckbox_square-grey.checked.disabled {
        background-position: -96px 0;
    }

.iradio_square-grey {
    background-position: -120px 0;
}
.iradio_square-grey {
  background-position: 0px -78px;
}
    .iradio_square-grey.hover {
  		background-position: 0px -129px;
    }
    .iradio_square-grey.checked {
	 background-position: 0px -25px;
    }
    .iradio_square-grey.disabled {
        background-position: -192px 0;
        cursor: default;
    }
    .iradio_square-grey.checked.disabled {
        background-position: -216px 0;
    }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    .icheckbox_square-grey,
    .iradio_square-grey {
        background-image: url(http://s.thsi.cn/js/home/v5/thirdpart/icheck/skins/square/grey@2x.png);
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}