body, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, form, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

body, button, input, select, textarea {
    font: 12px/1.5 arial,\5b8b\4f53,tahoma,sans-serif;
}
body {
    padding-top: 40px;
      font-family: "Microsoft Yahei", "Hiragino Sans GB", STXihei, SimSun,Tahoma,Arial,sans-serif;
}
ul, ol {
    list-style: none;
}
a {
    color: #333;
    text-decoration: none;
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
    outline:none;
}
table{
    border-collapse: collapse;
    width: 100%;
}
td{
    padding-left: 10px;
}
.placeholder{
    color:#ccc;
}
a:hover{
    text-decoration: underline;
}
.linead{
    position: fixed;
    top:135px;
    z-index: 99;
}
.linead.l-ad{
    left:0;
}
.linead .close{
    width: 100%;
    display: block;
    text-align: center;
}
.linead.r-ad{
    right: 0;
}
.linead .aim{
    height: 300px;
    width: 24px;
    /*background-color: #e8e8e8;*/
}
.linead .aim.big{
    width:79px;
}
.linead .close:hover{
    cursor: pointer;
}
.yahei{
    font-family: "Microsoft Yahei";
}
.topnav {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 29px;
    color: #727171;
    border-bottom: 1px solid #e5e5e5;
    background: #f8f8f8;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
}
.topnav .site_nav{
    height: 30px;
    position: relative;
}
.sitemap {
    float: left;
    line-height: 29px;
}
.topnav a {
    color: #777;
    text-decoration: none;
}
.topnav .login .submit_btn, .sitemap_trigger, .nav .hd, .nav .bd li, .topbar .next, .topbar .prev, .m_topic h3, .flashbox_tab a, .sub_channel strong a, .school_part .handle a, .school_part .ft li, .searchbar .action_btn, .m_list_ico li, .realtime_tx, .m_head .subnav li, .m_topic li, .ico_page, .m_topic .ico_nczg a, .calendar h4, .stock .stock_info .vote a, .line1th, .lineth, .ths_stock_slide li a, .ths_stock_slide .next, .ths_stock_slide .prev, .slide .handle a, .m_topic .ico_hot, .pos_ico, .ths_pop .close, .vote_res_chart a, .ths_slide_info .arrow, .hot_topic_handle a, .number_tx_box, .number_tx_box .inner, .doctor_handle a, .gb_index .handle a {
    background: url(http://i.thsi.cn/images/home/s_v2.png) no-repeat 9999px 9999px;
}
.sitemap_setindex{
    display: block;
    float: left;
    background: url("http://i.thsi.cn/images/home/v3/shouc.png") no-repeat 0px 7px;
    padding-left: 18px;
}
.sitemap_trigger {
    float: left;
    padding: 0 22px 0 10px;
    background-position: right -393px;
    margin-right: 10px;
}
.sitemap_menu {
    display: none;
    position: absolute;
    left: 0;
    top: 29px;
    border: 1px solid #e5e5e5;
    background: #fff;
}
.sitemap_menu a {
    display: block;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #333;
}
.sitemap_menu a:hover{
    background:#dc3d3d;
    color: #fff;
}

.site_nav .login{
    color: #fff;
    line-height: 32px;
}
.fr{
    float: right;
}
.fl{
    float: left;
}
.topHeader-btn {
    height: 29px;
    line-height: 29px;
    padding: 0 15px;
    color: #fff;
    margin-left: 1px;
}
#header_login{
    position: relative;
    *width:124px;
}
.topHeader-btn:hover{
    background-color:#e6e6e6;
}
.sitemap .selected{
    background-color:#e6e6e6;
}
.login-center{
    width:450px;
    height: 200px;
    border: 10px solid #e9e9e9;
    background: #fff;
    padding: 15px;
    position: fixed;
    font-family: \5FAE\8F6F\96C5\9ED1;
}
.login-center a{
    text-decoration: none;
    color:#046f99;
    font-size: 14px;
}
.login-center .head{
    margin:0;
}
.login-center .head span{
    color: #999;
    font-size: 14px;
}
.login-center .head a{
    text-decoration: none;
    color: #046f99;
    float: right;
    font-size: 14px;
}
.center-form{
    width: 350px;
    margin: 0 auto;
    padding:30px 0 20px 0;
    position: relative;
}
.center-form .submit{
    background: #2b86a9;
    border: 0;
    color: #fff;
    width: 67px;
    height: 67px;
    letter-spacing: 5px;
    position: absolute;
    right: 0;
    top:30px;
}
.center-form .submit:hover{
    cursor: pointer;
}
.center-form .item{
    margin-bottom: 10px;
}
.center-form .item input{
    width: 208px;
    height: 24px;
    border: 1px solid #ddd;
    padding-left: 5px;
}
.center-form .item label{
    display: block;
    float: left;
    width: 45px;
    font-size: 14px;
    padding: 0 5px;
    line-height: 28px;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.clearfix {
    zoom: 1
}
.center-form >label{
    margin-left: 55px;
    font-size: 14px;
    font-family: 'Simsun';
}
.login-center a.forget{
    color:#999;
}
.login-center a.qq,
.login-center a.weico{
    float: right;
    color: #333;
    margin-right: 10px;
    background: url("http://i.thsi.cn/images/loginplugin/icons.png") no-repeat;
    padding-left: 26px;
}
.login-center a.weico{
    background-position: 0 -33px;
}
.login-center hr{
    height: 1px;
    border: none;
    border-top: 1px solid #ddd;
    clear: both;
}
.login-center a.regist,
.login-center a.forget{
    *float: left;
}
.login-center a.regist{
    margin-right: 10px;
}
.hide{
    display: none;
}
a{
    color: #579feb;
}
.login-top{
    width: 480px;
    height: 220px;
    background: #fff;
    box-shadow: 0 0 10px rgba(183,183,183,0.8);
    position: absolute;
    right: 0px;
    top: 29px;
    padding: 25px 20px 20px 0;
    z-index:110;
}
.login-top a.close{
    color: #b9b9b9;
    position: absolute;
    top: 3px;
    right: 6px;
    font-family: cursive;
    font-size: 14px;
}
.login-top .scan{
    float: left;
    border-right: 1px solid #d3d3d3;
    width: 155px;
    padding:0 20px;
    text-align: center;
}
.login-top .scan span{
    display: block;
    font-size: 14px;
    color: #636363;
    line-height: 20px;
}
.login-top{
    line-height: 20px;
}
.login-top .scan p{
    color: #7d7d7d;
    font-size: 12px;
    background: #f1f1f1;
    display: inline-block;
    line-height: 22px;
    padding: 0 8px;
    border-radius: 17px;
    background:url("http://i.thsi.cn/images/loginplugin/bac.png") no-repeat\9;
    *background-position: 15px 0;
}
.login-top .panel p a{
    float: right;
}
.login-top .panel p span{
    font-size: 14px;
    color:#333;
}
.login-top .scan img{
    margin:20px 0;
}
.login-top .panel{
    margin-left: 196px;
    padding-left: 30px;
}
.login-top .panel form{
    margin-top:20px;
}
.login-top .panel form input{
    width: 222px;
    height: 38px;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    padding-left: 16px;
    font-size: 14px;
    margin-bottom: 10px;
    outline: none;
    line-height: 38px;
}
.panel .submit{
    margin-top: 8px;
    line-height: 30px;
}
.login-top .panel .log{
    width: 80px;
    height: 30px;
    background: #f43637;
    color: #fff;
    margin: 0 20px 0 0;
    border: 0;
    letter-spacing: 13px;
    text-align: center;
    padding: 0 20px;
    float: left;
    background: url("http://i.thsi.cn/images/loginplugin/red.png") no-repeat\9;
    width:86px\9;
    line-height: 21px;
}
.login-top .panel .log:hover{
    cursor: pointer;
}
.panel .submit i.check{
    display: block;
    float: left;
    width: 15px;
    height: 15px;
    margin-top: 8px;
    margin-right: 5px;
}
.panel .submit i.checked{
    background: url("http://i.thsi.cn/images/loginplugin/checked.png") no-repeat;
}
.panel .submit a{
    float: right;
    line-height: 32px;
}
.panel .submit span{
    color:#333;
    *float: left;
}
.panel .submit i.uncheck{
    background: url("http://i.thsi.cn/images/loginplugin/box.png") no-repeat;
}
.panel .other-link{
    text-align: center;
    margin-top: 16px;
    width: 100%;
}
.panel p.other-link a{
    float: left;
    color: #333;
    display: block;
    height: 26px;
    padding-left: 26px;
    line-height: 26px;
    background: url("http://i.thsi.cn/images/loginplugin/icons.png") no-repeat;
    margin: 0 15px;
}
.panel p.other-link a.weico{
    background-position: 0 -32px;
}
.topHeader{
    overflow: inherit;
}
.wrap-box {
    height: 75px;
    padding-top: 15px;
    padding-bottom: 5px;
}
.loc-left {
    width: 325px;
    float: left;
}
.loc-right{
    float: right;
}
#search_holder{
    width: 490px;
}
.tabs-wrap {
    height: 26px;
    position: relative;
    *z-index: 99;
}
.tabs-wrap .ths-tab {
    text-align: center;
    cursor: pointer;
    float: left;
    _display: inline;
    _zoom: 1;
    width: 53px;
    height: 20px;
    line-height: 22px;
    background-position: 0 100px;
}
.input-area .s-key{
    background: #f5f5f5 url("http://i.thsi.cn/images/home/v3/flag.png") no-repeat 8px -137px;
}
.tabs-wrap .ths-tab a {
    color: #999;
}
.tabs-wrap li.selected a {
    color: #444;
}
.loc-right .loc-search {
    height: 40px;
}
.loc-right .input-area {
    position: relative;
    height: 38px;
}
.loc-right .input-area .leb-tip {
    color: #999;
    font-size: 14px;
    height: 38px;
    line-height: 30px;
    padding: 4px 0 4px 73px;
    width: 360px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    outline: none;
    -webkit-transition: background 0.5s ease,padding 0.5s ease;
    -moz-transition: background 0.5s ease,padding 0.5s ease;
    -o-transition: background 0.5s ease,padding 0.5s ease;
    transition: background 0.5s ease,padding 0.5s ease;
    *height: 30px;
    *width:287px;
    *line-height: 29px;
}
.s-key:hover{
    background-color: #fff;
}
.loc-right .s-key {
}
.loc-right .s-key, .loc-right .s-btn {
    display: block;
    border: 0 none;
    float: left;
}
.loc-right .s-btn {
    font-size: 14px;
    _margin-right: -5px;
    cursor: pointer;
    outline: 0;
    height: 38px;
    overflow: hidden;
    _position: relative;
    float: right;
    color: #fff;
    padding: 0 28px;
    background: #ca0e0e;
    border-radius: 2px;
    border: 1px solid #a40e19;
    box-shadow: inset 0px 0px 3px 0px #fff;
    *padding: 0 14px;
    *line-height: 35px;
    *height: 40px;
}
.loc-right .input-area .specialCls{
    *width:350px;
}
.banner{
    height: 180px;
    position: relative;
}
.banner ul.chanel{
    overflow: hidden;
    border-radius: 3px;
    background: #cf0f0f;
    box-shadow: inset 0px -3px 7px rgba(139,139,139,0.3);
}
.banner ul.chanel li{
    float: left;
    border-right: 1px solid #d64936;
}
.banner ul.chanel li{
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-family: 'Microsoft Yahei';
    width: 72px;
    text-align: center;
}
.banner ul.chanel li a{
    color: #fff;
    font-style: normal;
    text-decoration: none;
}
.banner ul.chanel li.last{
    padding: 0;
    width: 27px;
    border:none;
}
.banner ul.chanel li.last a{
    background: url("http://i.thsi.cn/images/home/v3/arr-down.png") no-repeat 9px 21px;
    display: block;
    width: 27px;
    height: 44px;
    text-decoration: none;
}
.banner ul.chanel li.last a.showTxt{
    background: none;
}
.banner ul.chanel li.last a span{
    display: none;
}
.banner ul.chanel li.last a.showTxt span{
    display: block;
    margin-top: 0;
    line-height: 23px;
}
.nav{
    height: 38px;
    line-height: 38px;
    /*  overflow: hidden;*/
    position: relative;
    border-bottom: 2px solid #e5e5e5;
}
.nav .bd{
    padding: 13px 0 13px 5px;
    overflow: hidden;
    *padding:10px 0 13px 5px;
}
.nav .bd li{
    float: left;
    padding: 0 15px;
    line-height: 12px;
    border-right: 1px solid #ccc;
    *line-height:18px;
}
.nav .hd{
    color: #cf0f0f;
    float: left;
    border-bottom: 2px solid #cf0f0f;
    width: 70px;
    padding-left: 30px;
    background: url("http://i.thsi.cn/images/home/v3/soft.png") no-repeat 6px 9px;
}
.border-none{
    border: none!important;
}
.nav .bd li a{
    color: #444;
    font-size: 12px;
}
.mt5{
    height:28px;
    border-bottom:1px solid #e5e5e5;
    background: #f5f5f5;
    overflow: hidden;
}
.data-nav,
.hqzx-nav{
    margin-left: 100px;
    padding-left: 10px;
}
.data-nav li,
.hqzx-nav li{
    float: left;
    padding: 0 10px;
    line-height: 28px;
}
.mt5 h4{
    float: left;
    padding-left: 33px;
    width: 67px;
    line-height: 28px;
    font-size: 12px;
    background:url("http://i.thsi.cn/images/home/v3/soft.png") no-repeat;
}
.mt5 h4 a{
    color: #777;
    font-weight: normal;
    display: block;
    line-height: 18px;
    border-right: 1px solid #e5e5e5;
    margin-top: 5px;
}
.hqzx h4{
    background: url("http://i.thsi.cn/images/home/v3/soft.png") no-repeat 8px -35px;
}
.gb_index h4{
    background: url("http://i.thsi.cn/images/home/v3/soft.png") no-repeat 8px -65px;
}
.data-nav li a,
.hqzx-nav li a{
    color: #444;
}
.data_enter h4{
    background: url("http://i.thsi.cn/images/home/v3/soft.png") no-repeat 8px -95px;
}
.wbanner{
    height: 90px;
    margin-top:10px;
}
#tab_switch .triangle{
    position: absolute;
    /*border-style: dashed solid dashed dashed;*/
    border-style: solid solid solid solid;
    border-color: transparent transparent #ccc transparent;
    border-width: 8px;
    left: 17px;
    z-index: 9;
    bottom: -1px;
}
#tab_switch .triangle span{
    display: block;
    position: absolute;
    border-width: 7px;
    border-color: transparent transparent #f5f5f5 transparent;
    /*border-style: dashed dashed dashed solid;*/
    border-style: solid solid solid solid;
    left: -7px;
    bottom: -8px;
}
.banner .triangle{
    position: absolute;
    border-width: 6px;
    border-color: transparent transparent #FFF transparent;
    border-style: dashed dashed solid dashed;
    *border-style: solid solid solid solid;
    left: 30px;
    top: 38px;
    *z-index: 99;
    *top: 20px;
}
.chanel-detail{
    height: 99px;
    overflow: hidden;
    padding-left: 73px;
    border-radius: 2px;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 5px 10px 0px #ccc;
    /*box-shadow: 0 10px 20px -5px #ccc;*/
    -webkit-box-shadow:  0 5px 10px 0px #ccc;
    -moz-box-shadow: 0 5px 10px 0px #ccc;
    -o-box-shadow: 0 5px 10px 0px #ccc;
    position: absolute;
    top: 50px;
    z-index: 988;
    width: 1127px;
    left: 0px;
    display: none;
    background: rgb(255, 255, 255);
}
.chanel-detail ul{
    float: left;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    width: 71px;
    padding: 9px 0;
    -webkit-transition: background 0.8s ease;
    -moz-transition: background 0.8s ease;
    -o-transition: background 0.8s ease;
    transition: background 0.8s ease;
}
.chanel-detail li{
    text-align: center;
    line-height: 27px;
}
.chanel-detail ul a{
    color: #444;
    font-size: 12px;
    display: block;
    text-decoration: none;
}
.chanel-detail ul.selected{
    background-color: #f5f5f5;
    border-color:#e5e5e5;
}
.chanel-detail ul a:hover{
    text-decoration: underline;
}
marquee{
    float: left;
    width: 1100px;
    height: 29px;
}
#stock_scroll ul li {
    float: left;
    line-height: 29px;
    margin-left: 30px;
}
#stock_scroll ul li em{
    font-style: normal;
    color:#444;
}
.scroll{
    width: 8000px;
}
.scroll div{
    float: left;
}
#scrollWrap{
    overflow: hidden;
    margin-left: 120px;
    margin-right: 20px;
}
#board-scroll{
    overflow: hidden;
    border: 1px solid #e5e5e5;
}
#board-scroll ul li{
    float: left;
    padding-left: 25px;
}
#board-scroll ul li a{
    color: #777;
    margin-left: 6px;
}
.newboard{
    margin-top:20px;
}
.newboard .new{
    float: left;
    width: 100px;
    display: block;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background-color: #4489ca;
}
#board-scroll .scroll{
    height: 28px;
    line-height: 28px;
    margin-left: -3px;
    float: left;
}
.box .left{
    width:840px;
    float: left;
}
.jrtt span{
    display: block;
    height: 125px;
    width: 18px;
    float: left;
    color: #fff;
    font-size: 18px;
    /* font-family: "Microsoft Yahei"; */
    padding: 12px 10px 0 10px;
    line-height: 20px;
    background: url("http://i.thsi.cn/images/home/v3/tt.png") no-repeat;
    margin-right: 18px;
    margin-top: 5px;
}
.firstpage{
    /*margin-top:20px;*/
}
.jrtt .title{
    border-bottom: 2px solid #e5e5e5;
    margin-left: 55px;
    line-height: 49px;
    font-weight: normal;
}
.jrtt .title a{
    font-size: 36px;
    color: #222!important;
    font-family: 'Microsoft Yahei';
    margin-right: 20px;
}
.jrtt .sub{
    border-bottom: 1px solid #e5e5e5;
    margin-left: 55px;
    height: 53px;
    overflow: hidden;
    white-space: nowrap;
}
.jrtt .sub a{
    display: block;
    float: left;
    line-height: 53px;
    font-size: 18px;
    color: #222;
    padding-right: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}
.txt-r{
    text-align: right;
}
.sub-box{
    width: 410px;
}
.tab{
    float: left;
    /* margin-top: 10px;*/
}
.tab .title{
    /*border: 1px solid #e5e5e5;
      background: #f5f5f5;*/
    height: 38px;
    /*width: 100%;*/
}
.tab .title li{
    /*float: left;*/
    width: 204px;
    text-align: center;
    font-size: 18px;

    line-height: 38px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    *width:203px;
}
.tab .title li a{
    color: #777;
    display: block;
    text-decoration: none;
}

.tab .title li a:hover{
    text-decoration: underline;
}
.tab .title li:hover{
    cursor: pointer;
}
.box{
    margin-top: 20px;
}
.box-30{
    margin-top: 30px;
}
.tab .title .active a{
    color: #444;
}
.tab .detail{
    height: 525px;
    overflow: auto;
    padding: 12px 0;
    /*border-bottom: 1px solid #e5e5e5;*/
    border-top: 1px solid #e5e5e5;
}
.tab li{
    line-height: 38px;
    overflow: hidden;
    /**line-height: 44px;*/
}
.tab li a {
    font-size: 16px;
    color: #222;
}
#ywzb_ul li{
    line-height: 18px;
    padding: 10px 0;
    border-bottom: 1px dotted #e5e5e5;
}
.tab .detail li a{
    font-size: 12px;
    display: block;
    margin-left: 42px;
    *float: right;
}
.tab .detail li span{
    display: block;
    float: left;
}
.tab li a.import{
    color:#cf0f0f;
}
.refresh-area{
    height: 23px;
    padding: 5px 0;
    line-height: 23px;
    position: relative;
}
.refresh-area .bobao{
    *position: absolute;
    *right: 0;
}
.refresh-area .fr{
    position:absolute;
    right: 0;
}
.tab li em{
    font-style: normal;
    font-weight: 600;
}
.hot-word{
    padding-top: 18px;
    padding-bottom: 10px;
}
.hot-word p{
    overflow: hidden;
    margin-bottom: 5px;
}
.hot-word a{
    color: #444;
    font-size:12px;
    background: #f5f5f5;
    border:1px solid #e5e5e5;
    height: 28px;
    line-height: 28px;
    display: block;
    float:left;
    text-align: center;
    margin-right: 4px;
}
.hot-area table{
    border: 1px solid #e5e5e5;
    float: left;
    border-collapse: collapse;
    width: 100%;
}
.hot-area table td{
    border: 1px solid #e5e5e5;
    height: 40px;
    text-align: center;
    padding: 0;
    font-size: 14px;
    background: #577EC5;
    color:#fff;
    width: 135px;
}
.hot-area table td a{
    color: #fff;
    text-decoration: none;
    display: block;
    line-height: 40px;
}
.hot-area table td a:hover{
    background: #4489ca;
    color: #fff!important;
}
.hot-area table td.lightblue{
    background: #7FA3D8;
}
.hot-area{
    font-family: "Microsoft Yahei";
}
.hot-area label{
    display: block;
    color: #4489ca;
    float: left;
    padding-bottom: 5px;
    font-size: 18px;
}
.box .right{
    width: 330px;
    float: right;
}
.box .box-r{
    border:1px solid #e5e5e5;
    margin-top:20px;
}
.box .box-r .head{
    border-top: 2px solid #cf0f0f;
    height: 28px;
    line-height: 28px;
    font-weight: normal;
    border-bottom: 1px solid #e5e5e5;
    margin-top: -1px;
    padding: 0 10px;
}
.box .box-r .head h2{
    font-size: 16px;
    font-weight: normal;
}
.box .box-r h2 a{
    float: left;
    color: #222;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Microsoft Yahei';
    text-decoration: none;
}
.box .box-r .head a.more{
    float: right;
    font-size: 12px;
    font-family: 'Microsoft Yahei';
    color:#777;
}
.box .now-read{
    height: 225px;
    clear:both
}
.box .person-tab{
    height:215px;
    border:0;
}
.person-tab table.item{
    float: left;
    overflow: hidden;
    width: 100%;
}
.now-read ul{
    padding: 5px 10px;
    padding: 8px 10px;
    height: 175px;    overflow: hidden;
}
.now-read ul li {
    line-height: 30px;
    color:#444;
}
.now-read ul li a{
    color: #222;
    font-size: 14px;
    float: left;
}
.now-read ul li span{
    float: right;
    color:#999;
}
.gp{
    height: 324px;
    margin-top: 5px;
}
.gp .search .txt{
    width: 246px;
    height: 28px;
    border: 1px solid #e5e5e5;
    background: #f5f5f5;
    padding-left: 10px;
    outline:none;
    *float:left;
    line-height: 28px;
}
.gp .search .txt:hover{
    background-color: #fff;
}
#gp-search{
    width: 65px;
    height: 30px;
    background: #cf0f0f;
    border: 1px solid #a40e19;
    color: #fff;
    float: right;
    outline: none;
    line-height: 26px;
    font-family: 'Microsoft Yahei';
    font-size: 14px;
}
.flash-container ul{
    height: 28px;
    /* width: 100%;*/
}
ul.tab-box {
    border:1px solid #e5e5e5;
    background: #f5f5f5;
}
.flash-container li{
    line-height: 28px;
    font-size: 14px;
    width: 65px;
    text-align: center;
}
ul.tab-box li{
    border-right: 1px solid #e5e5e5;
    float: left;
    text-align: center;
}
ul.tab-box li a{
    text-decoration: none;
    color: #777;
    font-family: 'Microsoft Yahei';
}
.flash-container li a{
    color: #777;
    text-decoration: none;
}
ul.tab-box li.active{
    border-top: 2px solid #cf0f0f;
    margin-top: -1px;
    background: #fff
}
ul.tab-box li.active a{
    color: #444;
}
.tab-container{
    border-color:#e5e5e5;
    border-width: 1px;
    border-style: none solid solid solid;
    /*  padding-top: 12px;*/
}
.tab .tab-container{
    border:0;
    height: 584px;
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
    *height:589px;
}
.tab .font-change{
    color:#777;
    padding: 0 5px;
}
.tab .font-change:hover{
    cursor: pointer;
}
.tab .sec-fresh{
    margin-right: 10px;
    color: #777;
    display: block;
    float:right;
}
.tab .sec-fresh i{
    font-style: normal;
}
.tab-container thead td{
    color: #777;
    /*height:36px;*/
    *height: 37px;
}
.price-box{
    height: 100px;
    border-bottom: 1px solid #e5e5e5;
    /*width: 100%;*/
    width:328px;
    overflow: hidden;
    float: left;
    display: none;
}
.active .price-box{
    display: block;
}
#holdnum{
    width:120px;
    height:120px;
}
.flash-container{
    height: 265px;
}
.flash-container .tab-container{
    height: 237px;
}
.data-line a{
    color: #444;
}
.data-line > span{
    font-size: 14px;
    display: block;
    float: left;
    text-align: right;
    width: 102px;
    margin-right: 11px;
}
.hqgreen{
    color: #6ca584;
}
.data-line{
    background: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    line-height: 28px;
    height: 28px;
    padding-left: 10px;
    float: left;
}
.active .data-line{
    background: #fff;
    border: none;
    height: 40px;
    line-height: 60px;
    overflow: hidden;
}
.active .hint{
    font-size: 24px;
}
.flash-op{
    padding: 10px;
    overflow: hidden;
    float: right;
}
.fillbox{
    height: 20px;
    border: 1px solid #e5e5e5;
    width: 195px;
    line-height: 20px;
    padding-left: 5px;
    float: left;
    outline:0;
}
.tab-fund .fillbox{
    width:247px;
}
.action-btn{
    display: block;
    float: left;
    width: 48px;
    border: 1px solid #e5e5e5;
    height: 20px;
    line-height: 20px;
    margin-left: 3px;
    text-align: center;
    background: #f5f5f5;
    color: #444;
}
/*.flash-box .active{
   background: #fff;
  border: none;
  height: 40px;
  line-height: 60px;
  overflow: hidden;
}*/
.data-line .large{
    font-size: 24px;
}
.data-line strong{
    display: block;
    float: left;
    width: 91px;
    font-weight: normal;
}
.hqred{
    color: #cf0f0f;
}
.optionarea{
    text-align: right;
    height: 30px;
    float: right;
    width: 97px;
    display: none;
}
.active .optionarea{
    display: block;
}
.optionarea span{
    float: left;
}
.optionarea select{
    /*float: right;*/
    float: left;
}
.tab-glb .action-btn,
.tab-futures .action-btn,
.tab-num .action-btn{
    width: inherit;
    padding: 0 10px;
    float: right;
    *width:68px;
}
.tab-glb table{
    width:100%;
    border-collapse: collapse;
    /* border-bottom: 1px solid #e5e5e5; */
    float: left;
}
.tab-glb td{
    height: 34px;
    padding-left: 10px;
}
.tab-glb thead td{
    height: 33px;
    color: #999;
}
.odd td{
    height: 30px;
    background: #f5f5f5;
}
.tab-glb .odd td{
    height:34px;
}
td.name a{
    color: #4489ca;
    /*  font-size: 14px;*/
}
.tab-box .last{
    border-right: 0;
}
.action-btn:hover{
    background: #fff;
}
.tab .cjyw ul{
    font-family:'Microsoft Yahei' ;
    padding: 14px 0 13px 0;
    border-bottom: 1px solid #e5e5e5;
}
.tab .cjyw ul li{
    height: 38px;
}
.tab .cjyw ul.last{
    border:0;
}
.person-tab ul li{
    float: left;
    width: 50%;
    *width:164px;
    text-align: center;
    font-size: 14px;
    line-height: 28px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.person-tab ul{
    background: #f5f5f5;
    height: 27px;
    width: 330px;
    border-bottom: 1px solid #e5e5e5;
}
.person-tab li a{
    color: #444;
    text-decoration: none;
}
.person-tab td{
    height: 30px;
    padding-left: 10px;
    text-align: right;
    padding-right: 10px;
    font-size: 14px;
}
.person-tab thead td{
    font-size:12px;
}
td.name{
    color: #4489ca;
    /* font-size: 12px; */
}
.person-tab td.name{
    text-align: left;
}
.person-tab .tab-container{
    overflow: hidden;
    width: 100%;
    height:181px;
}
.person-tab .panel{
    color: #777;
    padding-bottom: 20px;
}
.person-tab .panel .ope{
    float: right;
}
.person-tab .panel .ope a{
    color: #4489ca;
}
.person-tab .panel-btn{
    margin-left: 110px;
    width: 96px;
    height: 28px;
    background: #cf0f0f;
    border: 1px solid #a40e19;
    color: #fff;
}
.person-tab .panel p{
    padding:  15px;
}
.person-tab .panel .panel-item{
    margin-bottom: 13px;
    *width:281px;
}
.person-tab .panel .panel-item span{
    width: 110px;
    display: block;
    float: left;
    text-align: right;
    line-height: 28px;
}
.person-tab .panel .panel-item input{
    height: 28px;
    border:1px solid #e5e5e5;
    outline: 0;
    padding-left: 5px;
    background-color: #f5f5f5;
}
.person-tab .panel .panel-item input:hover{
    background-color: #fff;
}
.person-tab thead{
    color:#999;
}
.secpage .content a{
    color: #222;
    font-size: 16px;
}
.secpage .title a{
    font-size: 18px;
    color: #444;
}
.secpage em{
    color:#444;
    font-style:normal;
}
.content em{
    color:#444;
    font-size: 16px;
    font-style:normal;
}
.secpage .content a.sub-tt{
    color: #4489ca;
    padding-right: 10px;
}
.secpage .content{
    /*  border-bottom: 1px solid #e5e5e5;*/
    height: 247px;
    padding: 11px 0;
}
.pd-l-10{
    padding-left: 10px;
}
.secpage .content li{
    line-height: 36px;
    height: 36px;
    overflow: hidden;
}
.secpage .content li.first a{
    font-size:18px;
    font-weight:bold;
}
.secpage .content li.first span a{
    font-size:14px;
    font-weight:normal;
}
.secpage .tool{
    margin-top: 0;
    border:0;
    font-family: 'Microsoft Yahei';
}
.secpage .control{
    /*height:300px;*/
    border-bottom:1px solid #e5e5e5;
}
.secpage .jhqb{
    height:267px;
}
.tool a{
    color: #444;
    font-size: 12px;
    display: block;
    line-height: 35px;
    text-decoration: none;
    background: url("http://i.thsi.cn/images/home/v3/tool.png") no-repeat;
    padding-left: 35px;
}
.tool a:hover{
    background-color: #f5f5f5;
}
.tool a.zaopan{
    background-position: 3px -164px;
}
.tool a.zaopan:hover{
    background-position: 3px -137px;
}
.tool a.ggsd{
    background-position: 4px -193px;
}
.tool a.ggsd:hover{
    background-position: 3px -109px;
}
.tool .niucha{
    background-position: 5px -222px;
}
.tool .niucha:hover{
    background-position: 4px -82px;
}
.tool .jihui{
    background-position: 4px -253px;
}
.tool .jihui:hover{
    background-position: 3px -56px;
}
.tool .bidu{
    background-position: 4px -284px;
}
.tool .bidu:hover{
    background-position: 3px -29px;
}
.tool .longhu{
    background-position: 6px -313px;
}
.tool .longhu:hover{
    background-position: 3px 0px;
}
.longhu .lh-fresh{
    color:#999;
    font-size: 12px;
    float: right;
    padding-right: 10px;
    *display:inline-block;
    *float: none;
    *margin-left:34px;
}
.tool .yaowen{
    background-position: 4px -343px;
}
.tool .yaowen:hover{
    background-position: 5px -788px;
}
.tool .fupan{
    background-position: 4px -402px;
}
.tool .fupan:hover{
    background-position: 5px -756px;
}
.tool .baokan{
    background-position: 4px -431px;
}
.tool .baokan:hover{
    background-position: 4px -726px;
}
.tool .rili{
    background-position: 5px -494px;
}
.tool .rili:hover{
    background-position: 3px -669px;
}
.tool .pingtai{
    background-position: 5px -521px;
}
.tool .pingtai:hover{
    background-position: 4px -640px;
}
.tool .zijin{
    background-position: 4px -551px;
}
.tool .zijin:hover{
    background-position: 4px -610px;
}
.secpage .tool .head{
    border-left:1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 0;
}
.tool td{
    border:1px solid #e5e5e5;
    height: 35px;
    /*text-align: center;*/
    padding: 0;
}
.secpage .school{
    margin-top:12px;
    padding: 10px;
    height: 94px;
    border:1px solid #e5e5e5;
    *padding: 9px 10px 10px 10px;
}
.secpage .school a{
    float: left;
    color: #444;
    font-size: 14px;
}
.secpage .school li a{
    background: url("http://i.thsi.cn/images/home/v3/tool.png") no-repeat 0px -586px;
    padding-left: 32px;
}
.secpage .jhqb li>a{
    display: block;
    float: left;
    line-height: 41px;
    overflow: hidden;
    height: 41px;
    *width:100%;
}
.secpage .jhqb ul{
    overflow: hidden;
}
.secpage .school ul{
    margin-left: 70px;
}
.secpage .school ul li{
    line-height: 30px;
    padding-left: 25px;
}
.secpage .jhqb li a{
    color: #222;
    font-size: 16px;
}
.secpage .jhqb p a{
    color: #4489ca;
    font-size: 12px;
    margin-right: 10px;
}
.secpage .jhqb p span{
    color: #999;
    float: left;
    margin-left: 10px;
}
.secpage .jhqb p span a{
    padding-left: 0;
}
.secpage .jhqb p .star{
    float: right;
    margin-right: 15px;
}
.secpage .jhqb .star i{
    display: block;
    width: 14px;
    height: 14px;
    background: url("http://i.thsi.cn/images/home/v3/star.png") no-repeat;
    float: left;
}
.secpage .jhqb li{
    line-height: 49px;
    *line-height: 14px;
    overflow: visible;
    height:auto;
}
.secpage .jhqb p{
    line-height: 18px;
    margin-top: -7px;
    overflow: hidden;
    float: left;
    width: 410px;
    padding-left: 10px;
}
.thscp h2{
    height: 30px;
    font-weight: normal;
    font-size: 18px;
    color: #444;
}
.thscp .item{
    padding: 10px;
    border:1px solid #e5e5e5;
    margin-bottom: 11px;
    height: 68px;
}
.thscp .item a{
    float: left;
}
.thscp .item .txt{
    margin-left: 150px;
}
.thscp .item .txt .title{
    color: #222;
    font-size: 18px;
}
.thscp .item .txt p{
    float: left;
    *width:100%;
}
.thscp .item .txt p a{
    color: #777;
    text-indent: 20px;
}
.qqcj ul li{
    float: left;
    line-height: 28px;

    text-align: center;
}
.qqcj ul.tab-box li{
    width: 110px;
}
.qqcj ul{
    height: 28px;
}
.qqcj ul.tab-box .last{
    width: 106px;
}
.qqcj .num{
    display: block;
    width: 50px;
    height: 56px;
    background-color: #e8e8e8;
    position: relative;
    color: #777;
    border-radius: 2px;
    font-size: 32px;
    text-align: center;
    line-height: 40px;
    float: left;
}
.qqcj .num .txt{
    font-size: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 21px;
}
.qqcj .item{
    padding: 15px 10px;
    position: relative;
    *overflow: hidden;
    height: 60px;
}
.qqcj .item .data{
    margin-left:60px;
    height: inherit;
}
.qqcj .item .data li{
    float: inherit;
    width: 238px;
    font-size: 14px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}
.qqcj .item .data li a{
    color:#444;
}
.qqcj ul li{
    float: left;
}
.qqcj .tab-box a{
    font-size: 14px;
    color: #777;
    text-decoration: none;
}
.qqcj .item .data li.val{
    color: #999;
    font-size: 12px;
    line-height: 30px;
}
.qqcj .tab-box .active a{
    color: #444;
}
.qqcj .item .data li .large{
    color: #444;
    margin-right: 15px;
    margin-left: 5px;
    font-size: 18px;
    font-family: "Microsoft Yahei";
}
.qqcj .item .data li .hqred{
    color:#cf0f0f;
}
.qqcj .item .data li .hqgreen{
    color:#6ca584;
}
.qqcj .operate{
    border-left: 1px solid #e5e5e5;
    position: absolute;
    right: 0;
    width: 12px;
    top: -1px;
    height: 90px;
    border-top: 1px solid #e5e5e5;
}
.qqcj .operate li{
    float: none;
    border-bottom: 1px solid #e5e5e5;
    height: 44px;
}
.qqcj .operate li:hover{
    cursor: pointer;
}
.qqcj .operate li i{
    display: block;
    border-width: 5px;
    position: absolute;
    left: 1px;
}
.qqcj .operate li.up i{
    border-color: transparent transparent #ccc transparent;
    border-style: dashed dashed solid dashed;
    top: 16px;
    *top:-8px;
}
.qqcj .operate li.down i{
    border-color: #ccc transparent transparent transparent;
    border-style: solid dashed dashed dashed;
    bottom: 16px;
    *bottom:-9px;
}
.stock-analys{
    margin-top: 10px;
}
.stock-analys ul.tab-box{
    height: 28px;
}
.stock-analys ul li{
    line-height: 28px;
    text-align: center;
    width: 81px
}
.stock-analys ul li a{
    text-decoration: none;
    color: #777;
    font-size: 14px;
}
.stock-analys li.active a{
    color: #444;
}
.stock-analys .item{
    padding: 10px 10px 10px 10px;
}
.stock-analys .item .col li{
    width:80px;
    height:26px;
    background-color: #eee;
    color: #777;
    margin-bottom: 5px;
    overflow: hidden;
}
.stock-analys .item .col li:hover{
    cursor: pointer;
}
.stock-analys .item .col li.active{
    background-color: #cf0f0f;
    color: #fff;
}
.stock-analys .item .col{
    margin-top: 10px;
    float: left;
}
.stock-analys .ans{
    margin-left: 100px;
    margin-top:10px;
}
.stock-analys .ans .explain{
    height: 50px;
    overflow: hidden;
}
.stock-analys .ans .ans-tt{
    color: #999;
}
.stock-analys .ans p{
    line-height: 25px;
}
.stock-analys .ans p.detail{
    text-align: right;
    margin-top: 4px;
    line-height: 22px;
}
.stock-analys .ans p.detail i{
    font-style: normal;
    color: #cf0f0f;
}
.stock-analys .ans p.detail a{
    text-decoration: none;
    color: #fff;
    background-color: #4489ca;
    width: 57px;
    height: 22px;
    border-radius: 2px;
    display: block;
    float: right;
    text-align: center;
    margin-left: 6px;
}
.stock-analys .ggyd,
.stock-analys .ncxg{
    padding: 0;
}
.stock-analys .ggyd td,
.stock-analys .ncxg td{
    line-height: 31px;
    padding-left: 10px;
}
.stock-analys .ggyd .time{
    color: #999;
}
.stock-analys .ggyd .first td{
    padding-top: 5px;
}
.stock-analys .ncxg thead td{
    color: #999;
    line-height: 35px;
}
.stock-analys table{
    float: left;
}
.stock-analys .tab-container{
    height: 160px;
}
.stock-analys .sjph .ans,
.stock-analys .sjph ul.col{
    margin-top:0;
}
.stock-analys .sjph thead{
    color: #999;
    line-height: 30px;
}
.stock-analys .sjph td{
    line-height: 30px;
}
.stock-analys .sjph{
    padding-bottom: 0;
}
.stock-analys td.name{
    font-size: 12px;
}
.famous .detail-list img{
    border-radius: 55px;
}
.famous .detail-list .info{
    float: left;
}
.famous .detail-list .txt{
    margin-left: 130px;
    width: 240px;
    overflow: hidden;
    padding-top: 10px;
}
.txt .name{
    font-size: 18px;
    color: #444;
    float: left;
    font-family: "Microsoft Yahei";
}
.txt .name a{
    color: #222;
}
.famous .detail-list .txt .info{
    float: right;
    color: #777;
    font-size: 12px;
    margin-top: 5px;
}
.famous .detail-list p{
    float: left;
    color: #777;
    margin: 3px 0 7px;
    width: 100%;
    height: 38px;
    overflow: hidden;
    *clear:both;
}
.famous .detail-list p a{
    color: #222;
    float: left;
    margin: 3px 0 7px;
}
.famous .detail-list .concern{
    *clear: both;
    float: left;
    background-color: #4489ca;
    color:#fff;
    border:0;
    display: block;
    padding: 0 10px 0 15px;
    letter-spacing: 5px;
    line-height: 22px;
    border-radius: 2px;
    *width:36px;
    text-decoration: none;
}
.famous h2{
    float: left;
    font-weight: normal;
}
.famous h2 a{
    color:#cf0f0f;
    font-size: 18px;
}
.famous .name-list{
    float: right;
    font-size: 14px;
}
.famous .name-list a{
    color: #777;
    margin-right: 17px;
}
.famous{
    margin-top: 20px;
}
.famous .head{
    line-height: 38px;
    border-bottom: 2px solid #cf0f0f;
}
.famous .detail-list{
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
}
.famous .detail-list li{
    padding: 20px;
    float: left;
    height: 110px;
}
.famous .detail-list li .detail{
    width: 370px;
}
.detail-list li.hold{
    border-left:1px solid #e5e5e5;
    background-color: #f5f5f5;
}

.detail-list li.hold .intro{
    display: block;
    font-size: 18px;
    width: 22px;
    text-align: center;
    color: #222;
    font-family: 'Microsoft Yahei';
    height: 130px;
    margin-top: -11px;
    overflow: hidden;
}
.detail-list li.hold .intro table{
    height: 100%;
}
.detail-list li.hold .intro td{
    padding-left: 0;
}
.qqcj{
    position: relative;
}
.qqcj .more{
    position: absolute;
    right: 0;
    top: 6px;
    display: block;
}
.qqcj .more a{
    color: #999;
    font-size: 12px;
    margin-right: 10px;
}
.detail-list li.last{
    border-right: 1px solid #e5e5e5;
}
.sub-box span.links{
    float: right;
}
.sub-box ul.list{
    font-size: 16px;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
}
.sub-box ul.list li {
    white-space: nowrap;
    line-height: 38px;
    overflow:hidden;
}
.sub-box ul.list li.first {
  font-weight: bold;
  font-size: 18px;
}
.sub-box ul.list a {
    color: #222;
}
.sub-box .head{
    line-height: 30px;
    border-bottom: 2px solid #e5e5e5;
    height: 30px;
    font-family: "Microsoft Yahei";
}
.sub-box .head h2{
    height: 30px;
    border-bottom: 1px solid #e5e5e5;
    float: left;
}
.sub-box .head h2 a{
    color: #444;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    border-bottom: 2px solid #cf0f0f;
    margin-top: -1px;
    display: block;
    float: left;
    line-height: 30px;
    font-family: 'Microsoft Yahei';
}
.module ul{
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
}
.module ul a{
    color: #222;
    font-size: 16px;
    white-space: initial;
}
.module ul a img,
.analys-create ul a img{
    float: left;
    margin-right: 15px;
    width: 121px;
    height: 75px;
}
.module ul a img{
    *margin-top: 10px;
}
.module ul li{
    white-space: nowrap;
    line-height: 38px;
    /**line-height: 39px;*/
    /* overflow: hidden; */
    overflow: hidden;
    word-wrap: break-word;
    height: 38px;
}
.module ul .first{
    overflow: hidden;
    white-space: normal;
    line-height: inherit;
    margin: 7px 0;
    height: 75px;
    *height:82px;
}
..module UL .first a{
    *line-height: 39px;
}
.module ul .first .txt{
    margin-top: 12px;
    display: block;
    *margin-top:0;
    *float: right;
}
.sub-box span.links a{
    font-size: 12px;
    color: #777;
    margin-right: 10px;
}
.thscp ul a img{
    float: left;
    margin-right: 15px;
    width: 135px;
    height: 68px;
}
.ycjp{
    float: right;
}
.ycjp ul{
    padding-top: 20px;
    border-bottom: 0;
}
.ycjp ul li{
    overflow: hidden;
    margin-bottom: 28px;
}
.ycjp ul li .title{
    font-size: 18px;
    color: #222;
    line-height: 32px;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
}
.thscp ul li .title{
    font-size: 18px;
    color: #cf0f0f;
    line-height: 32px;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
}
.thscp ul li{
    padding: 10px;
    border: 1px solid #e5e5e5;
    margin-bottom: 11px;
    height: 68px;
}
.ycjp ul li .abstr{
    color: #777;
    text-indent:20px;
}
.thscp ul li .abstr{
    color: #777;
    overflow: hidden;
    text-indent: 20px;
}
.ycjp ul li p{
    margin-left: 136px;
}
.ycjp ul li.last{
    margin-bottom: 0;
}
.ycjp ul li p a{
    display: block;
}
.thscp ul li p a{
    display: block;
}
.thscp ul{

}
.analys-create .show-panel{
    background: url("http://i.thsi.cn/images/home/v3/vote.png") no-repeat right;
    padding-left: 10px;
    height: 120px;
}
.show-panel .date{
    color: #777;
    line-height: 36px;
}
.show-panel .date i{
    font-style: normal;
    font-size: 24px;
}
.show-panel p{
    color: #777;
    font-weight: bold;
    line-height: 25px;
}
.show-panel p span{
    color: #999;
    font-weight: normal;
}
.analys-create .ad{
    height: 90px;
    border:1px solid #e5e5e5;
    clear: both;
}
.assessment .tab-box,
.funds-floor .tab-box,
.vote-area .tab-box{
    height: 28px;
    line-height: 28px;
    float: left;
    border-bottom: 0;
    font-size: 14px;
}
.funds-floor .tab-container{
    margin-top: -10px;
    *margin-top:-20px;
}
.vote-area .tab-box li{
    width: 80px;
    text-align: center;
}
.vote-area .tab-box a{
    color: #777;
    font-size: 14px;
}
.vote-area .tab-box .active a{
    color: #444;
    text-decoration: none;
}
.vote-area .tab-box .active{
    line-height: 29px;
}
.assessment .tab-container,
.funds-floor .tab-container,
.vote-area .tab-container{
    clear: both;
    border-top: 1px solid #e5e5e5;
}
.vote-area .tab-container{
    height: 162px;
    *margin-top:0px;
    *height: 170px;
}
.funds-floor span.date,
.vote-area span.date{
    float: right;
    color: #777;
    /* line-height: 29px; */
    margin-top: 10px;
}
.vote-area .item{
    padding: 20px 10px;
}
.vote-area .item .column span{
    display: block;
    width: 40px;
    position: absolute;
    bottom: 0;
}
.vote-area .chicang{
    margin-left: 138px;
}
.vote-area .chicang p{
    line-height: 23px;
    *overflow: hidden;
}
.vote-area .chicang p .iradio_square-grey{
    *margin-top:3px;
}
.vote-area .chicang .percent{
    *float: left;
}
.vote-area .item .column li{
    float: left;
    height: 120px;
    position: relative;
    width: 40px;
    margin-right: 10px;
}
.vote-area .bg-red{
    background-color:#ed3b5f;
}
.vote-area .bg-yellow{
    background-color: #f3e0ab;
}
.vote-area .bg-green{
    background-color: #8baba0;
}
.vote-area .bg-blue{
    background-color: rgb(133,158,188);
}
.vote-area .vote-progress{
    height: 100%;
    position: relative;
}
.vote-area .column{
    overflow: hidden;
    float: left;
}
.vote-area .column .value{
    text-align: center;
}
.vote-area .vote-radio{
    margin-left: 165px;
    margin-right: 15px;
}
.vote-area .vote-radio p{
    line-height: 31px;
    *overflow: hidden;
    *line-height: 33px;
}
.vote-area .vote-radio p .iradio_square-grey{
    *margin-top:5px;
}
.vote-area .vote-btn{
    width: 100%;
    border:1px solid #e5e5e5;
    background-color: #f5f5f5;
    text-align: center;
    line-height: 26px;
    outline: 0;
}
.vote-area .vote-btn:hover{
    cursor: pointer;
}
.vote-area .bg{
    display: block;
    width: 30px;
    height: 8px;
    float: right;
    margin-top: 10px;
}
.vote-area .chicang .bg{
    margin-top: 6px;
}
.vote-area .vote-radio .txt{
    color: #777;
    padding-left: 5px;
    *float: left;
}
.vote-area canvas{
    float: left;
}
.gzqh .panel canvas{
    float: left;
    margin-top: 16px;
}
.gzqh .options{
    padding-top: 20px;
    margin-left: 166px;
}
.gzqh .options a{
    width: 220px;
    height: 26px;
    line-height: 26px;
    margin-bottom: 4px;
    background-color: #f5f5f5;
    display: block;
    color:#444;
    text-decoration: none;
}
/*.gzqh .options p:hover{
    background-color: #cf0f0f;
  color: #fff;
}*/
.gzqh .options a.chosen-single{
    margin-bottom: 0;
}
.gzqh .options .active{
    /*	background-color: #cf0f0f;
        color: #fff;*/
}
.gzqh .options select{
    height: 25px;

    margin-bottom: 4px;
}
.gzqh .options .type{
    padding-left: 12px;
    margin-right: 5px;
}
.future-list .pieflag{
    display: block;
    float: left;
    width: 12px;
    height: 12px;
    margin-top: 3px;
    margin-right: 6px;
}
.future-list label{
    display: block;
    float: left;
    padding: 5px 8px;
    *padding:8px;
}
.future-list{
    overflow: hidden;
    margin-top: 11px;
}
.future-list a{
    color: #444;
}
.analys-create .ads{
    height: 85px;
    clear: both;
    margin-top: -4px;
    *margin-top:0;
}
.double-table{
    overflow: hidden;
    margin-top: 6px;
    *margin-top:0;
}
.double-table table{
    width: 50%;
    float: left;
    border:1px solid #e5e5e5;
    color: #444;
}
.double-table thead td,
.double-table tbody td{
    height: 30px;
    padding-left: 2px;
    text-align: right;
    padding-right: 8px;
}
.double-table tfoot td,
.double-table thead td{
    color: #777;
}
.double-table td a{
    color: #444;
}
.double-table tfoot .tab{
    display: block;
    float: left;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-indent: 10px;
    margin: 5px -5px;
    color: #fff;
    background: url("http://i.thsi.cn/images/home/v3/tab.png") no-repeat;
    text-decoration: none;
}
.double-table tfoot p span{
    display: block;
}
.double-table tfoot p{
    margin-top: 7px;
    text-align: right;
    padding-right: 8px;
}
.double-table tfoot p i{
    font-style: normal;
    padding: 0 5px;
}
.finance .tab-box{
    height: 28px;
    line-height: 28px;
}
.finance .tab-box li{
    width: 163px;
}
.finance .data{
    color: #777;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    line-height: 25px;
    overflow: hidden;
    padding: 0 7px;
}
.finance .data span{
    display: block;
}

.finance .center{
    margin:0 45px;
    float: left;
}
.finance .data i{
    font-style:normal;
    color: #cf0f0f;
}
.finance ul{
    height: 28px;
    line-height: 28px;
    border: 1px solid #e5e5e5;
}
.finance ul li{
    float: left;
    width: 163px;
    text-align: center;
    border-right: 1px solid #e5e5e5;
}
.finance ul li a{
    text-decoration: none;
    color: #777;
    font-family: 'Microsoft Yahei';
    font-size: 14px;
    display: block;
}
.finance ul li.active{
    border-top: 2px solid #cf0f0f;
    margin-top: -1px;
    background: #fff;
}
.finance .container{
    border:1px solid #e5e5e5;
    border-top:0;
}
.finance .last{
    border:none;
}
.funds-floor{
    margin-top: 20px;
}
.funds-floor .tab-box li{
    line-height: 28px;
    width: 100px;
}
.funds-floor .tab-container{
    clear: both;
    border-top: 1px solid #e5e5e5;
}
.funds-floor td{
    line-height: 34px;
    padding-left: 10px;
}
.funds-floor td.name a{
    font-size: 12px;
}
.funds-floor thead td{
    color: #777;
}
.longhu .tab-box{
    height: 30px;
}
.longhu table.item{
    float: left;
}
.longhu .tab-box li{
    line-height: 30px;
    width: 108px;
}
.longhu .tab-container{
    overflow: hidden;
    width: 328px;
}
.longhu .tab-box li a{
    font-size: 14px;
}
.longhu td{
    line-height: 35px;
    padding-left:10px;
}
.longhu thead td{
    height:39px;
    *height:38px;
}
.longhu .odd td{
    line-height: 30px;
}
.longhu .odd td.name a{
    font-size: 12px;
}
.hot-funds{
    float: right;
}
.hot-funds .tab-box{
    height: 24px;
    margin-top:10px;
    border:0;
    background-color: #fff;
}
.hot-funds .tab-box li{
    width: 59px;
    border:0;
    background: #eee;
    line-height: 24px;
    margin-right: 5px;
}
.hot-funds .tab-box li.active{
    border:0;
    background: #cf0f0f;
}
.hot-funds .tab-box li.active a{
    color: #fff;
}
.hot-funds .tab-container{
    border-top:1px solid #e5e5e5;
    margin-top:10px;
}
.hot-funds td{
    line-height: 30px;
}
.hot-funds td a{
    color: #444;
}
.hot-funds td span{
    display: block;
    width: 44px;
    height: 22px;
    background: #cf0f0f;
    color: #fff;
    line-height: 22px;
    text-align: center;
    border-radius: 3px;
    margin: 0 auto;
}
.hot-funds td i{
    font-style: normal;
    font-weight: bold;
}
#jijinyw ul{
    *height: 273px;
}
.assessment .tab-box li{
    width: 76px;
}
.assessment .top-tt{
    display: block;
    float: left;
    color: #444;
    margin-top: 14px;
    padding-left: 10px;
}
.assessment p.val{
    text-align: center;
    /* margin-top: 3px; */
    *margin-top:0;
}
.assessment p.val span{
    color:#d75442;
    padding: 0 5px;
}
.assessment .tab-container{
    border-bottom: 0;
}
.assessment .fund-data{
    border:1px solid #e5e5e5;
    border-top:0;
    padding: 7px 20px 7px 20px;
    *padding-bottom: 16px;
    *padding-top:11px;
}
.assessment .fund-data .fund-data-input{
    width: 200px;
    border:1px solid #e5e5e5;
    padding: 0 10px;
    line-height: 24px;
    height: 24px;
    outline: none;
    float: left;
    margin-bottom: 4px;
}
.assessment .fund-data a{
    border: 1px solid #e5e5e5;
    background: #f5f5f5;
    color: #444;
    display: block;
    float: left;
    text-decoration: none;
    margin-bottom: 4px;
}
.assessment .fund-data a.web-fund{
    /* padding: 0 20px; */
    line-height: 26px;
    margin-right: 9px;
    margin-top: 5px;
    width: 88px;
    text-align: center;
    /**padding: 0 16px;*/
}
.assessment .fund-data a.web-fund:hover{
    /*background-color: #fff;*/
    font-weight: bold;
    text-decoration: underline;
}
.assessment .fund-data a.last{
    margin-right: 0;
}
#search-fund-jz{
    float: right;
    width: 55px;
    text-align: center;
    line-height: 24px;
}
/*.assessment .stock-flash{
  height:80px;
  width:328px;
  clear:both;
    display: block;
  overflow: hidden;
}*/
.assessment .level{
    float: right;
    display: block;
    line-height: 28px;
    color: #777;
}
.clear{
    clear: both;
}
ul.deposits li{
    float: left;
    border-right: 1px solid #b90808;
    width: 279px;
}
ul.deposits{
    border:1px solid #b90808;
    height: 111px;
}
ul.deposits li.last{
    border-right: 0;
    width: 278px;
}
ul.deposits span.title{
    display: block;
    height: 36px;
    background: #d03e3e;
    color: #fff;
    line-height: 36px;
    text-indent: 15px;
    font-size: 16px;
}
ul.deposits p{
    padding: 0 10px;
    overflow: hidden;
    color: #777;
    height: 38px;
}
ul.deposits .dep-date{
    float: left;
    margin-top:20px;
}
ul.deposits .large{
    font-size: 30px;
    color: #444;
    float: right;
}
ul.deposits .large i{
    font-style: normal;
    font-size: 14px;
}
span.large{
    font-size: 24px;
}
ul.deposits .val{
    margin-left: 10px;
    line-height: 38px;
    color: #777;
    display: block;
    padding-left: 30px;
    background: url("http://i.thsi.cn/images/home/v3/wealth.png") no-repeat;
    float: left;
}
ul.deposits .shouyib{
    background-position: 0 7px;
}
ul.deposits .licaib{
    background-position: 0 -36px;
}
ul.deposits .tehui{
    background-position: 0 -74px;
}
ul.deposits .show{
    float: right;
    margin-right: 10px;
    width: 78px;
    height: 20px;
    display: block;
    border: 1px solid #a40e19;
    background: #cf0f0f;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    margin-top: 7px;
    text-decoration: none;
}
.consult a{
    width: 160px;
    height: 67px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 2px;
}
.consult .main{
    font-weight: bold;
    font-size: 24px;
    line-height: 43px;
}
.consult a.regist{
    float: left;
    background: #d03e3e;
}
.consult a.regist:hover{
    background: #e15252;
}
.consult a.regist:hover .sub{
    background: #c01c1c;
}
.consult a.load:hover{
    background: #519be0;
}
.consult a.load:hover .sub{
    background: #1f6db6;
}
.consult a.load{
    background:#4489ca;
    float: right;
}
.consult .sub{
    display: block;
    height: 24px;
    line-height: 24px;
}
a.regist .sub{
    color: #e7cdcd;
    background: #a81313;
}
a.load .sub{
    color: #cdd6e3;
    background: #125697;
}
.consult .info{
    margin-top:10px;
    clear:both;
    height: 34px;
    border:1px solid #e5e5e5;
    border-radius: 2px;
    background: #f5f5f5;
    *margin-top:-10px;
}
.consult .info .txt{
    display: block;
    float: left;
    width: 33px;
    text-align: center;
    background: #d03e3e;
    color: #fff;
    border-radius: 2px;
    line-height: 14px;
    padding: 4px 0;
    margin-top: -1px;
}
.consult .info .number{
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin-left: 3px;
    float: left;
    letter-spacing: 2px;
}
.consult .date{
    float: right;
    padding-right: 10px;
}
.consult .date span{
    display: block;
    color: #777;
}
.quanzi{
    margin-top:30px;
    float: left;
}
.quanzi ul li{
    margin-top: 18px;
    overflow: hidden;
}
.quanzi ul li img{
    border-radius: 7px;
    float: left;
}
.quanzi .join{
    float: left;
    margin-left: 6px;
    font-family: 'Microsoft Yahei';
    width: 110px;
}
.quanzi ul a{
    display: block;
    color: #444;
}
.quanzi .join a .num{
    color:#dd7366;
    font-size: 20px;
}
.quanzi .topic{
    font-size: 14px;
    font-family: 'Microsoft Yahei';
    overflow: hidden;
    white-space: nowrap;
    height: 21px;
}
.quanzi .content{
    float: right;
    width: 238px;
    margin-left: 5px;
    float: left;
}
.quanzi .content span{
    color: #777;
    margin-top: 10px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.quanzi .topic span{
    margin-top:0;
    white-space: initial;
    color:#444;
}
.quanzi ul{
    /*border-bottom: 1px solid #e5e5e5;*/
    padding-bottom: 10px;
}
.jingxuan{
    float: right;
    margin-top:30px;
}
.jingxuan ul.list{
    border-bottom: 0;
    padding-bottom: 0;
}
.lunbo{
    border-top: 1px solid #e5e5e5;
    margin-top: 10px;
    padding-top: 20px;
}
.jingxuan ul.list li{
    line-height: 39px;
}
.jingxuan ul.list li.first{
    font-size:18px;
    font-weight:bold;
}
.strategy .child{
    float: left;
    margin-left: 20px;
    width:190px;
}
.strategy .child img{
    float: left;
    border-radius: 25px;
    width: 50px;
    height: 50px;
}
.strategy .child span{
    display: block;
}
.pink{
    color: #dd7366;
}
.strategy{
    float: right;
}
.strategy .child .percent{
    font-size: 20px;
}
.strategy .child .title{
    display: block;
    margin-left: 60px;
    color: #444;
    font-size: 14px;
    font-family: 'Microsoft Yahei';
}
.strategy .child .rate{
    margin-left: 60px;
    color: #777;
}
.strategy .child .rate i{
    color: #dd7366;
    font-style: normal;
}
.strategy .child .order{
    background: #d00f0f;
    display: block;
    color: #fff;
    border: 1px solid #a40e19;
    line-height: 25px;
    padding: 0 10px;
    height: 25px;
    border-radius: 3px;
    margin-top: 10px;
}
.box .hot-comment{
    margin-top:30px;
}
.hot-comment ul{
    padding: 8px 10px;
    color: #444;
    *padding:14px 10px;
}
.hot-comment head h2{
    font-size: 14px;
    color:#999;
}
.hot-comment head h2 span{
    color:#cf0f0f;
}
.hot-comment ul li{
    line-height: 39px;
    font-size: 14px;
    height: 39px;
    overflow:hidden;
}
.hot-comment ul .comment{
    display: block;
    width: 30px;
    height: 25px;
    float: left;
    background: url("http://i.thsi.cn/images/home/v3/comment.png") no-repeat;
    margin-top: 10px;
    margin-right: 8px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
}
.hot-comment ul a{
    color: #222;
    font-family: 'Microsoft Yahei';
}
.licai{
    float: left;
    margin-top: 20px;
}
.licai .first a{
    line-height: 30px;
}
.waihui{
    float: right;
    margin-top:20px;
}
.relax img{
    width: 285px;
    height: 185px;
}
.relax ul{
    margin-top:20px;
}
.relax li{
    float: left;
    margin-right: 20px;
}
.relax li a{
    color: #fff;
    position: relative;
}
.relax li a span{
    display: block;
    position: absolute;
    bottom: 3px;
    /*width: 100%;*/
    width:285px;
    color: #fff;
    height: 32px;
    text-align: center;
    line-height: 32px;
    font-size: 16px;
    font-family: 'Microsoft Yahei';
    *left:0;
}
.relax li .shadow{
    background: #000;
    background: rgba(0,0,0,0.8);
    filter:alpha(opacity=80);
}
.relax li.last{
    margin-right: 0;
}
.relax h2{
    height: 30px;
    border-bottom: 1px solid #e5e5e5;
}
.relax h2 a{
    color: #444;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    border-bottom: 2px solid #cf0f0f;
    margin-top: -1px;
    display: block;
    float: left;
    line-height: 30px;
    font-family: 'Microsoft Yahei';
}
.bt-ad{
    height: 100px;
}
.guide h2{
    border-bottom: 2px solid #cf0f0f;
}
.guide h2 a{
    color:#444;
    font-size: 18px;
    font-family: 'Microsoft Yahei';
    font-weight: normal;
}
.guide ul{
    padding: 20px 0 15px 20px;
    overflow: hidden;
}
.guide ul li{
    float: left;
}
.guide ul li.last{
    margin-right: 0;
}
.guide ul a{
    display: block;
    float: left;
}
.guide ul a.title{
    color: #cf0f0f;
    line-height: 30px;
    font-size: 14px;
}
.guide ul .item{
    clear: both;
}
.guide ul .item .sub-title{
    color: #444;
    line-height: 30px;
    font-size: 14px;
    width: 65px;
}
.guide .content{
    overflow: hidden;
    /* margin-left: 20px; */
    width: 230px;
    float: left;
    *float: left;
    *width:222px;
}
.guide .content a{
    color: #777;
    width: 73px;
    line-height: 30px;
}
.guide ul li.last .content{
    width: 225px;
}
#footer {
    clear: both;
    overflow: hidden;
    padding-top: 20px;
    text-align: center;
    width: 1200px;
    margin:0 auto;
    font: 12px/24px \5b8b\4f53,tahoma,arial,sans-serif;
    /*background: #212121;*/
}
/*
#block_3367{
    position: absolute;
    left: 0;
    width: 100%;
}
*/
#footer p {
    margin: 0;
    color: #777;
}
#footer a {
    line-height: 24px;
    color: #ccc;
    text-decoration: none;
}
#footer span {
    color: #999;
    padding: 0 15px;
}
.bottom{
    width:100%;
    background-color: #353535;
}
#footer .c333 a{
    color: #777;
}
#footer .c333{
    line-height: 35px;
}
.bottom .erweima{
    overflow: hidden;
    /*background-color: #353535;*/
    color: #ccc;
    padding: 15px;
    width: 1200px;
    margin:0 auto;
}
.bottom .item{
    float: left;
    width:300px;
}
.bottom .item img{
    float: left;
}
.bottom .item span{
    display: block;
    margin-left: 138px;
    line-height: 31px;
}
.bottom .item .scan{
    background: url("http://i.thsi.cn/images/home/v3/scan.png") no-repeat;
    padding-left: 37px;
    margin-top: 30px;
}
.bottom-link{
    width: 100%;
    background-color: #212121;
    /* position: absolute; */
    /* left: 0; */
}
.bottom .erweima .back{
    display: block;
    float: right;
    width: 80px;
    height: 80px;
    background: url("http://i.thsi.cn/images/home/v3/back-top.png") no-repeat;
    margin-top: 20px;
}
.calc{
    background: #f5f5f5;
    border-radius: 5px;
    padding: 8px 10px;
    border: 1px solid #d5d5d5;
}
.calc .title a{
    color: #444;
    font-size: 14px;
    float: left;
}
.calc .shownum{
    background: #494949;
    border-radius: 3px;
    border: 1px solid #484848;
    box-shadow: inset 0px 0px 4px 2px #7d7d7d;
    overflow: hidden;
    padding: 0 10px;
    margin-top: 5px;
    height: 58px;
}
.calc .shownum .text{
    display: block;
    float: left;
    margin-top: 30px;
    color: #fff;
}
.calc .shownum .number{
    font-family: 'Impact';
    font-size: 40px;
    color: #ccc;
    float: right;
}
.calc .shownum .number font{
    font-size: 14px;
    font-family: 'Microsoft Yahei';
}
.calc .cate_tab{
    margin-top: 15px;
    padding: 0 10px;
    color: #777;
    *margin-top:8px;
}
.calc .cate_tab > label{
    *display: inline-block;
}
.calc .calc_tx{
    display: inline-block;
    width: 90px;
    text-align: right;
    *width: 88px;
}
.calc .cate_tab_cnt{
    color: #777;
}
.calc .calc_text{
    width: 118px;
    border: 1px solid #e5e5e5;
    text-indent: 10px;
    outline: 0;
    border-radius: 3px;
    margin: 0 9px;
}
.calc .gpublic label,
.calc .gaccumulate label{
    float: left;
}
.calc .public .calc_text{
    line-height: 28px;
    height: 28px;
}
.calc .mix .calc_text{
    line-height: 28px;
    height: 28px;
    width: 60px;
}
.public p{
    margin: 5px 0;
    overflow: hidden;
    *margin:4px 0;
}
.calc .public p label{
    display: block;
    float: left;
}
.calc .public p label.hide{
    display: none;
}
/*.calc .mix p{
  margin:2px 0;
}*/
.calc p.repayment > label{
    float: none;
    display: inline-block;
}
.public #calcSelect{
    height: 30px;
    width: 120px;
    margin-left: 6px;
}
.mix #calcSelect{
    height: 30px;
    width: 76px;
    margin-left: 9px;
    *margin-left:10px;
}
.mix p{
    overflow: hidden;
    margin:4px 0;
}
.calc .calc_op{
    text-align: center;
    margin-top: 14px;
}
.calc .calc_op a{
    width: 118px;
    height: 38px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    background-color: #cf0f0f;
    box-shadow: inset 0px 3px 4px 2px #C21313;
    display: inline-block;
    margin: 0 10px;
    line-height: 38px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    *width:109px;
}
.calc .calc_op a.color{
    background:#cd1717;
    color: #fff;
    box-shadow: inset 0px 3px 4px 2px #E56363;
}
.calc .calc_op a.reset{
    background: #e4e4e4;
    color: #777;
    box-shadow: inset 0px 3px 4px 2px #ECEBEB;
}
.calc .calc_op a.reset:hover{
    background: #fff;
    box-shadow: none;
}
.relax{
    margin-top:35px;
}
.v ul li{
    float: left;
    position: relative;
    padding: 0 5px;
}
.v ul li a{
    width: 180px;
    position: relative;
}
.v{
    float: left;
    width: 420px;
    position: relative;
    overflow: hidden;
}
.v .v_slider{
    width: 360px;
    overflow: hidden;
    height: auto;
    margin: 0 auto;
    *position: relative;
    *width: 401px;
}
.v .v_slider .inner{
    *overflow:hidden;
    *position:relative;
    *width:359px;
    *margin-left:22px;
}
.v .v_slider ul{
    width: 4000px;
    height: 86px;
    overflow: hidden;
}
.v .v_slider img{
    width: 180px;
    height: 114px;
}
.v .v_slider span{
    display: block;
    position: absolute;
    bottom: 31px;
    width: 180px;
    color: #fff;
    height: 18px;
    text-align: center;
    left:0;
    *width:99%;
}
.v .v_slider span.mask{
    opacity: 0.5;
    background: #000;
    filter:alpha(opacity=50);
}
.v .v_slider span.shadow{
    opacity: 0.5;
    background: #000;
    filter:alpha(opacity=50);
}
.v .prev,
.v .next{
    display: block;
    background: url("http://i.thsi.cn/images/home/v3/arr.png") no-repeat;
    position: absolute;
    width: 15px;
    height: 100%;
    top: 0;
}
.v .prev{
    background-position: -4px 27px;
    left: 0;
}
.v .next{
    right: 0;
    background-position: -3px -35px;

}
.v .prev:hover,
.v .next:hover{
    cursor: pointer;
}
.gp .search{
    *overflow: hidden;
}
.rightCol{
    position: fixed;
    /*top:374px;*/
    width: 55px;
    bottom:2px;
    z-index: 99;
}
.rightCol ul{
    border:1px solid #e5e5e5;
    border-radius: 3px;
    overflow: hidden;
}
.rightCol ul li{
    border-bottom: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}
.rightCol ul li a{
    display: block;
    background: url("http://i.thsi.cn/images/home/v3/rightcol.png") no-repeat;
    color: #777;
    text-align: center;
    height: 60px;
    line-height: 91px;
    text-decoration: none;
}
.rightCol ul li:hover{
    background-color: #fff;
}
.rightCol ul li a.share{
    background-position: 5px -6px;
}
.rightCol ul li a.share:hover{
    background-position: 6px -254px;
}
.rightCol ul li a.receipt{
    background-position: 2px -74px;
}
.rightCol ul li a.receipt:hover{
    background-position: 8px -313px;
}
.rightCol ul li a.comment{
    background-position: 6px -134px;
}
.rightCol ul li a.comment:hover{
    background-position: 7px -374px;
}
.rightCol ul li a.bottom{
    background-position: 7px -193px;
}
.rightCol ul li a.bottom:hover{
    background-position: 10px -435px;
}
.rightCol ul li a.top{
    background-position: 12px -490px;
}
.rightCol ul li a.top:hover{
    background-position: 11px -545px;
}
.search-tip-box .sbox-bd {
    width: 340px;
    padding: 10px;
}
.search-tip-box {
    position: absolute;
    z-index: 999;
    background-color: #fff;
    border: 1px #ccc solid;
}

.search-tip-box .sbox-ft {
    text-align: right;
    padding-right: 10px;
    background-color: #f8f8f8;
    height: 26px;
    line-height: 26px;
}
.search-tip-box .sbox-ft a{
    color:#444;
}
.search-tip-box .stips li {
    line-height: 24px;
    height: 24px;
    list-style: none outside none;
}
.search-tip-box .stips .selected {
    background-color: #f8f8f8;
}
.search-tip-box .stips li a {
    display: block;
    color: #777;
}
.autocomplete {
    background: #fff;
    border: 1px solid #bdbdbd;
    border-top: 1px solid #bdbdbd;
    position: absolute;
    color: #444;
}
.autocomplete dl {
    cursor: pointer;
}
.autocomplete dt, .autocomplete dd {
    height: 24px;
    line-height: 24px;
    font-family: 'SimSun';
    margin-bottom: 0;
}
.autocomplete dt.selected {
    background: #cfcfcf;
}
.autocomplete dt.selected {
    background: #cfcfcf;
}
.autocomplete dt {
    background: #f0f0f0;
    padding-left: 5px;
    border-bottom: 1px solid #e8e8e8;
}
.autocomplete dt strong {
    color: #c30;
}
.autocomplete dd span {
    margin-right: 20px;
}
.autocomplete dd {
    padding-left: 18px;
    cursor: pointer;
    overflow: hidden;
}
.gzqh .gzqh-flash{
    position: relative;
    margin-left: 20px;
    overflow: hidden;
    float: left;
    margin-top: 16px;
}
.gzqh .overlay{
    position: absolute;
    left: 0;
    top: 0;
}
.pie_tip {
    padding: 5px;
    background: white;
    text-align: left;
    border-radius: 3px;
    border: 1px solid black;
    position: absolute;
    top: 0;
    font-size: 12px;
    line-height: 16px;
}
.ctip {
    z-index: 2;
    background: #fff;
    border: 1px solid #007cc8;
    padding: 2px;
    font-size: 12px;
    text-align: center;
}
.basepos {
    position: absolute;
    left: 0;
    top: 0;
}
.stock-flash,
.ght,
.rzrq{
    height: 100px;
    width: 328px;
    clear:both;
    display: block;
    border-bottom: 0;
}
#containerflash{
    width: 120px;
    height: 125px;
    margin-top: 15px;
    margin-left: 20px;
    float: left;
}
#holdnum .num{
    position: absolute;

}
.hqblack{
    color: #333;
}
.guide{
    font-family: "Microsoft Yahei";
}
.whole-wrap{
    background: #000;
    opacity: 0.5;
    filter:alpha(opacity=50);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 199;
    top:0;
}
.first_img{
    top: 38px;
}
.sec_img{
    top: 792px;
}
.third_img{
    top:1630px;
}
.forth_img{
    top:1610px;
}
.fifth_img{
    top:1732px;
}
.end_img{
    top: 300px;
    left: 500px;
}
#whole_intro .introduce{
    cursor: pointer;
    position: absolute;
    z-index: 999;
}
#whole_intro .introduce span{
    position: absolute;
    width: 152px;
    height: 55px;
    background: #000;
    opacity: 0;
    filter: alpha(opacity=0);
}
#whole_intro .first_img .nextbtn{
    left: 172px;
    bottom: 0;
}
#whole_intro .first_img .skipbtn{
    left: 0px;
    bottom: 0;
}
#whole_intro .sec_img .nextbtn{
    right: 22px;
    top: 150px;
}
#whole_intro .sec_img .skipbtn{
    top: 150px;
    left: 104px;
}
#whole_intro .third_img .nextbtn{
    left: 170px;
    bottom: 104px;
}
#whole_intro .third_img .skipbtn{
    bottom: 104px;
    left: 0;
}
#whole_intro .forth_img .nextbtn{
    left: 270px;
    bottom: 3px;
}
#whole_intro .forth_img .skipbtn{
    left: 99px;
    bottom: 3px;
}
#whole_intro .fifth_img .nextbtn{
    top: 112px;
    left: 613px;
}
#whole_intro .fifth_img .skipbtn{
    top: 112px;
    left: 445px;
}
#whole_intro .end_img .end{
    right: 0;
    bottom: 0;
    width: 233px;
}
.commentListwrap{
    height:26px;
    overflow: hidden;
    position:relative;
}
.commentList{
    width: 246px;
    height: 800px;
    position:absolute;
}
#zjfw td a{
    font-size:14px;
}
.module ul a.title{
    margin-top:10px;
    *margin-top:15px;
    display: block;
}
.module ul .first a.title{
    font-weight:bold;
    font-size:18px;
}
.sub-box ul.list li,
.jingxuan ul.list li,
.secpage .content li,
.module ul li,
.secpage .jhqb li a,
.tab .cjyw ul li{
    background: url("http://i.thsi.cn/images/home/v3/dot-m.png") no-repeat 3px 17px;
    padding-left: 18px;
}
.secpage .jhqb li,
.module ul .first{
    background:none;
    padding-left:0;
}
.secpage .content li{
    background-position: 3px 19px;
}
.secpage .jhqb li a{
    background-position: 3px 18px;
}
.dimonsion{
  position: fixed;
  left: 0;
  top: 480px;
  width: 100px;
  background: #f5f5f5 url("http://i.thsi.cn/images/home/v3/down-adl.png") no-repeat;
  height: 186px;
  overflow: hidden;
}
.dimonsion ul{
    margin-top:60px;
    border-right: 1px solid #e5e5e5;
}
.dimonsion ul li{
    padding-left: 36px;
    line-height: 28px;
}
.dimonsion ul li a{
    color:#999;
}
.dimonsion a.close{
  display: block;
  width: 20px;
  height: 15px;
  text-indent: 100px;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media \0screen\,screen\9{
    .data-line > span{
        width: 109px;
        margin-right: 0;
    }
}