@charset "gbk";
/*2016.08¸Ä°æ*/
.right .small_pic{
    width: 80px;
    height: 170px;
    float: right;
}
.right .small_pic li{
    list-style: none;
    height: 40px;
    margin: 0;
    padding: 0;
    border-top: 2px solid #e8e8e8;
    border-left: 2px solid #e8e8e8;
    border-right: 2px solid #e8e8e8;
}
.right .small_pic li:hover{
    border: 2px solid #cf0f0f;
}
.right .small_pic .bor{
    border: 2px solid #cf0f0f;
}
.right .border_bt{
    border-bottom: 2px solid #e8e8e8
}
#PicSlide .img img{
    width:250px;
    height:170px;
}
#PicSlide .title .h3 a {
    font-weight: normal;
    font-size: 12px;
    color: #fff;
}
#PicSlide .title {
    bottom: 0;
    width: 100%;
    position: absolute;
}
#PicSlide .title .h3 {
    height: 30px;
    z-index: 30;
    line-height: 30px;
    width: 100%;
    text-align: center;
    margin: 0 10px 0 0;
}
#PicSlide .img {
    height: 170px;
}
.tab .title {
    height: 30px;
}
.tab .title li{
    line-height: 32px;
}
.sub-box .head h2 a{
    line-height: 31px;
}
.tab li a{
    font-size: 18px;
}
.tab_stick {
    top: 8px;
}
.tab .cjyw ul {
    padding: 11px 0 0 0;
    border-bottom: none; 
}
.tab .tab-container {
    height: 514px;
    width:100%;
}
.secpage .control {
    border-bottom: none; 
    height: 258px;
}
.secpage .content {
    height: 203px;
    padding:7px 0 16px 0;
    *padding:5px 0 18px 0;
}
.secpage .newhe li {
    line-height: 38px;
    height: 38px;
    overflow: hidden;
}
.flash-container .tab-container {
    height: 225px;
}
.price-box {
    height: 85px;
}
.box .now-read {
    height: 210px;
}
.sub-box .cpbd{
    height: 321px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 30px;
}
.sub-box .cpbd li{
    height: 44px;
    line-height: 44px;
}
.box .box-r {
    margin-top: 7px;
}
.person-tab .tab-container {
    height: 282px;
}
.stock-analys {
    margin-top: 129px;
}
.tzgjx table{
    height: 160px;
}
.secpage .content.newhe{
    margin-top: 3px;
}
.tool a{
    line-height: 51px;
} 
.hot-area table td {
    background: #eee;
}
.hot-area table td.lightblue {
    background: #e1e1e1;
}
.hot-area table td a{
    color: #333;
}
.hot-area table td a:hover {
    background: #CE0F0F;
}
.secpage .jhqb li {
    /*height: 38px;*/
    line-height: 38px;
}
.secpage .jhqb li>a {
    height: 37px;
}
.secpage .jhqb .star i {
    margin-top: 10px;
}
.resou{
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 0;
    border-top: 2px solid #cf0f0f;
    height: 30px;
    line-height: 30px;
    font-weight: normal;
    margin-top: -1px;
    padding: 0 10px;
}
.resou h2{
    font-size: 14px;
    font-weight: normal;
}
.hot-area table{
    height: 160px;
}
.slide_arr {
    top: 50px;
}
ul.caijing li.active{
    border: none;
    border-bottom: 2px solid #cf0f0f;
    margin-top: -2px;
    background: #fff;
}
.zhezhao{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 200000;
}
.zhezhao .cen{
    margin: 0 auto;
    width: 1200px;
}
.zhezhao img{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    width: 664px;
    height: 595px;
    margin-top: 624px;
}
.zhezhao img:hover{
    cursor: pointer;
}
.page_mask{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: #636363;
    filter:alpha(opacity=70);   
    -moz-opacity:0.7;   
    -khtml-opacity: 0.7;   
    opacity: 0.7; 
    z-index: 100000;
}
.hot-area table td a {
    line-height: 50px;
    height: 50px;
}
.tab .title li a:hover {
    text-decoration: none;
}
.big_pic li{
    display: none;
}
.big_pic .sec{
    display: list-item;
}
.hi{
    display: none;
}
.flash-op {
    margin-bottom: 26px;
}
.tab .detail {
    height: 457px;
}
.gp .search {
    width: 100%;
}
.gp{
    height: auto;
}
.sub-box .head h2{
    border-bottom: none;
}
.secpage .jhqb ul{
    overflow: visible;
}
.secpage .jhqb li > a{
    float: none;
}
.secpage .jhqb p{
    margin-top: 0;
    float: none;
}
.secpage .jhqb li p{
    height: 38px;
    line-height: 38px;
    *line-height: 35px;
    *height: 35px;
}
.tab .cjyw ul li a{
    font-size: 16px;
}
.tab .cjyw ul li.first a{
    font-size: 18px;
}
.stock-analys .tab-container {
    height: 160px;
}
.link_scroll {
    height: 15px;
    position: absolute;
    overflow: hidden;
    border: 1px solid #e5e5e5;
    width: 212px;
    float: left;
    right: 0;
    top: 24px;
    background: #fff;
    padding-left: 5px;
}
.box .hot-comment{
    margin-top: 30px;
}
.consult{
    *margin-top: 13px;
}
.cal{
    *margin-top: 15px;
}
.person-tab td{
    height: 31px;
}
.person-tab{
    font-family: SimSun;
}
.dimonsion{
    height: 211px;
    background: #f5f5f5 url("http://i.thsi.cn/images/home/v3/new_enter.png") no-repeat;
}
.dimonsion a.close {
    display: block;
    width: 20px;
    height: 15px;
    position: absolute;
    right: -6px;
    bottom: 4px;
    font-size: 14px;
    color: #999;
    text-indent: 0;
}