html, body, div, form, p, a, h1, h2, h3, h4, h5, h6, img, table, td, th, input, span, section, header, footer, nav, article, aside, fieldset, textarea, dl, dt, dd, blockquote, ul, ol {
	/*	margin: 0;
        padding: 0*/;
	list-style: none;
}

body {
	font-size: 12px;
	background-color: #ffffff;
}

img {
	/*vertical-align: top;*/
	border: 0;
}

a {
	text-decoration: none;
	color: #777;
}

.clear {
	clear: both;
}

.pos-r {
	position: relative;
}

.pos-a {
	position: absolute;
}

.Opacity {
	opacity: .5;
	filter: alpha(opacity=50);
}
/*妤犵偠宕垫导鍛存偋閿燂拷*/
.slide {
	width: 640px;
	height: 430px;
	position: relative;
	margin: 0 auto;
}

#PicSlide {
	width: 410px;
	/* overflow: hidden; */
	_zoom: 1;
	height: 280px;
	/* margin-top: 10px; */
	position: relative;
}

#PicSlide .img {
	height:276px;
	overflow: hidden;
	_zoom: 1;
}

#PicSlide .img img{
	width:410px;
	height:276px;
}

#PicSlide .title {
	bottom: 7px;
	width: 100%;
	position: absolute;
}

#PicSlide .shadow {
	background-color: #000;
	opacity: .5;
	filter: alpha(opacity=50);
	height: 30px;
}

#PicSlide .title .h3 {
	z-index: 30;
	line-height: 20px;
	margin: 4px 10px 0 10px;
	width: 100%;
	text-align: center;
}

#PicSlide .title .h3 a {
	font-weight: normal;
	font-size: 16px;
	color: #fff;
}

#PicSlide .thumb {
	bottom: 4px;
	left: 0;
	position: absolute;
	/*overflow: hidden;*/
	_zoom: 1;
	height: 4px;
}

#PicSlide .thumb ul {
	z-index: 20;
	width: 410px;
	/*overflow: hidden;*/
	_zoom: 1;
	/*margin-top: 10px;*/
}
#PicSlide .thumb img{
	height: 4px;
	width: 104px;
	/**+width:104px;
	*width:102px;*/
}
#PicSlide .thumb li {
	width: 101px;
	height: 4px;
	margin-right: 2px;
	float: left;
	_display: inline;
	position: relative;
	background: #dbdbdb;
	_overflow:hidden;
}

#PicSlide .thumb .now-status {
	position: absolute;
	width: 130px;
	height: 20px;
	/*background:url(../images/slider-ico.png) no-repeat 0 0;*/
	z-index: -1;
	top: 0;
	left: 0;
}
#PicSlide .thumb .selectPic{
	/*display: block;
	height: 100%;*/
	/*position: absolute;
	top: -3px;
	left: -3px;*/
	/*border: 3px solid #fabf00;*/
	/*z-index: 99;*/
	background: #CE0F0F;
}
#PicSlide .shadowbox{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	height: 100%;
	background-color: #000;
	opacity: 0.7;
	filter:alpha(opacity=70);
	overflow: hidden;
	color: #E7D7D7;;
}
#PicSlide .txt{
	margin-top: 16px;
	display: block;
	height: 36px;
	overflow: hidden;
}
#PicSlide .level-t{
	*z-index:999;
}
#PicSlide .thumb li.last{
	margin-right: 0;
	width: 101px;
}
.slide_arr{
	background: url("http://i.thsi.cn/images/home/v3/tticon.png") no-repeat;
	position: absolute;
	display: block;
	width:26px;
	height:60px;
	top:100px;
}
.slide .l{
	left: 10px;
	background-position: 0 -189px;
}
.slide .r{
	right: 10px;
	background-position: -382px -189px;
}