pre {
	/*background-image: url('../images/code_bg.gif');*/
	padding-left: 10px;
	padding-right: 10px;	
}

#noscript {
	display: none;
	background-color: #FFE4B5;
	height: 35px;			
	width: 100%;
	float: left;
	font-weight: bold;						
	line-height: 35px;
}
		
#noscript p {
	margin: 0px;
	padding: 0px;
	padding-left: 40px;							
	float: left;
}





.form_list {
	list-style-type: none;
	float: left;
	clear: left;
	padding: 0px;
	margin: 0px;
	width:100%;
	
	/*padding-bottom: 50px;*/
}

.form_list li {
	float: left;
	clear: left;	
	margin-bottom: 20px;
	width:100%;
}
 
.form_list li span {
	/*float: left;*/
	display:inline-block;
	height:20px;
	line-height: 20px;	
	/*-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;*/
}

.colums2 {
    float: left;
    margin: 20px;
    margin-top: 5px;
    width: 42%;
}
.enterline {
	clear:both;
}

li ul.subnav {
	list-style: none;
	position: absolute;
	left: 0; top: 48px;
	background:#FEFEFE;
	margin: 0; padding: 0;
	display: none;
	float: left;
	border: 1px solid  #DDD;
	-webkit-border-radius:0 0 8px 8px;
	border-radius:0 0 8px 8px;
	-moz-border-radius:0 0 8px 8px;
}
li ul.subnav li{
	margin: 0; padding: 0;
	border-top: 1px solid  #FC0;
	clear: both;
	width: 160px;
	background:url(../images/gray_arrow.png) 5px center no-repeat;
}

li ul.subnav li a {
	float: left;
	width: 130px;
}
.desple {
	background:url(../images/top_menu_separator_dropdown.png) no-repeat scroll right center transparent !important;
}

#searchResults .search{
	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 8px 8px 8px 8px;
    color: #666666;
    font-size: 12px;
    /*height: 30px;*/
    /*line-height: 30px;
    list-style: none outside none;
    margin: 0 0 3px 4px;*/
    padding: 8px 20px;
	width:408px;
	margin: 2px 0;
}
#searchResults .search a {
	color: #666666;
    font-size: 12px;
	display:block;
	/*height:20px;
	line-height:20px;*/
	padding-bottom:3px;
}
#searchResults .float-detail {
	float:right;
}
#searchResults .float-detail small {
	color: #666666;
    font-size: 12px;
	display:inline-block;
	width:50px;
	text-align:right;
	height:20px;
	line-height:20px;
}

.title_header1 {
	background:url(../images/420_title.png) no-repeat;
	width:420px;
	height:23px;
	margin: 5px 0;
	line-height:23px;
	text-align:center;
	color:#FFF;
	font-size:13px;
	text-shadow:1px 1px #333;
}
.title_header3 {
	background:url(../images/normal_title.png) no-repeat;
	width:450px;
	height:23px;
	margin: 5px 0;
	line-height:23px;
	text-align:center;
	color:#FFF;
	font-size:13px;
	text-shadow:1px 1px #333;
}
.title_header2 {
	background:url(../images/420_yellow_title.png) no-repeat;
	width:420px;
	height:23px;
	margin: 5px 0;
	line-height:23px;
	text-align:center;
	color:#FFF;
	font-size:13px;
	text-shadow:1px 1px #333;
}
.title_header4 {
	background:url(../images/450_yellow_title.png) no-repeat;
	width:450px;
	height:23px;
	margin: 5px 0;
	line-height:23px;
	text-align:center;
	color:#FFF;
	font-size:13px;
	text-shadow:1px 1px #333;
}

.fancy textarea, .fancy input[type=text], .fancyw textarea, .fancyw input[type=text] {
	width:400px;
}

a.save {
	color:#0C0;
}

a.delete {
	color:#F30;
}
#add-altertitles {
	display:inline-block;
	width:50px;
	height:12px;
	line-height:12px;
	background:url(../images/add_icon.gif) no-repeat left center transparent;
	padding-left:11px;
	color:#666;
	font-size:10px;
}
.btntb {
	display:inline-block;
	width:50px;
	height:12px;
	line-height:12px;
	padding-left:11px;
	color:#666;
	font-size:10px;
}
.addbtntb {
	background:url(../images/add_icon.gif) no-repeat left center transparent;
}
.generatebtn {
	background:url(../images/refresh.gif) no-repeat left center transparent;
}
.savebtn {
	background:url(../images/save-icon.gif) no-repeat left center transparent;
}
.verbtn {
	background:url(../images/view_icon.gif) no-repeat left center transparent;
}
.langinput input {
	border: 1px solid  #CCC;
	-webkit-border-radius:8px;
	border-radius:8px;
	-moz-border-radius:8px;
	margin:1px;
	padding:5px 10px;
	background:#ffffff;
	vertical-align: middle;
}

.langinput select {
	border: 1px solid  #CCC;
	-webkit-border-radius:8px;
	border-radius:8px;
	-moz-border-radius:8px;
	margin:1px;
	padding:5px 10px;
	background:#ffffff;
}

.langinput input[type=submit]:hover, .langinput input[type=button]:hover  {
	background:#0CF;
	color:#FFF;
	cursor:pointer;
}

.langinput input[type=submit], .langinput input[type=button]  {
	border: 1px solid #198BAA;
	color: #198BAA;
	cursor:pointer;
}

.closedel {
	display:inline-block;
	height:16px;
	width:16px;
	background:url(../images/close.png);
	vertical-align: middle;
}

.divhr {
	background: #FFD500;
	border: none;
	color: #49C4E6;
	height: 1px;
	width: 90%;
}

.inspector-table td {
	border:solid 1px #999;
	font-family:Verdana;
	font-size:10px;
	padding:2px 5px;
	vertical-align:middle;
}

.inspector-table td img {
	height:10px;
	width:10px;
}

.inspector-table .actions td {
	border:none !important;
}
/*
.langinput  div {
	clear:left;
}
.langinput input , .langinput textarea, .langinput select {
	outline: none;	
	margin: 0px;
	padding: 0px;	
	font-size: 12px;
	font-family: tahoma;
	/*float: left;* /
}*/

.langinput label {
	margin-left: 4px;
	margin-right: 8px;
	line-height: 20px;	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;	
	display:inline-block;
	height:20px;
	width:100px;
}
.mark {
	border: 1px solid  #CCC;
	-webkit-border-radius:8px;
	border-radius:8px;
	-moz-border-radius:8px;
	padding:15px;
	margin:3px 0;
}

.texthref {
	color:#09C;
	text-decoration:none;
}
.texthref:hover {
	color:#333; 
}
.editcaps {
	color:#F39;
	text-decoration:none;
}
.inspectorlnk {
	color:#F30;
	text-decoration:none;
}
.inspectorlnk:hover {
	color:#069; 
}
.editcaps:hover {
	color:#C30;
}
.table-edit td, .table-edit th {
	border-bottom:solid 1px #999;
	padding:0 10px;
}
.green {
	color:#093;
	font-size:10px;
}
.inspectorlnk2 {
	color:#069;
	font-weight:bold;
	text-decoration:none;
}
.inspectorlnk2:hover {
	color:#FC0; 
}
.links-container {
	width:400px;
	height:300px;
}
.del-btn {        
        color: #A5A5A5;
        display: inline-block;
        font-size: 11px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        width: 50px;
    }
.del-btn:hover {
	color: #DD3E00;
}
