.bgmodal{
	position:fixed; 
	font-family:arial;
	font-size:1em;
	border:0.05em solid black;
	overflow:auto;
	background-color:#D6E1E4;
        border-radius: 10px;
        padding: 20px;
        border-width: thick;
        z-index: 10000;
    }
.bgtransparent{
	position:fixed;
	left:0;
	top:0;
 	background-color:#000;
 	opacity:1.0;
 	filter:alpha(opacity=60);
        z-index: 9000;
        }