/* Template created by S-ARTs.ru | Code: CheLiOS | Design: spammer44 | URL: http://s-arts.ru */

@font-face { font-family: 'Ubuntu Condensed'; src: local('Ubuntu Condensed'), local('UbuntuCondensed-Regular'), url('/templates/font/Ubuntu_Condensed.woff') format('woff'); }
html, body { margin: 0; font: 13px/11px 'Ubuntu Condensed', Arial, Helvetica, sans-serif; /*font: 11px Arial, Helvetica, sans-serif\0/;*/ line-height: 15px; color: #2c2c2c; background: url(/templates/images/style/bg.gif) repeat-y center 0; min-width: 1180px; }
#body { background: url(/templates/images/style/bg4.jpg) no-repeat center 0; }
#body1 { height: 100%; background: url(/templates/images/style/bg0.jpg) no-repeat center 897px; }
#wrapper { height: auto !important; height: 100%; min-height: 100%; margin: 0 auto; width: 1080px; }
#container { background: url(/templates/images/style/container.jpg) no-repeat 0 bottom; margin: 0 -17px 0 -19px; padding: 0 17px 0 19px; }
#header { height: 844px; }
#left { float: left; width: 259px; padding: 12px 0 40px 1px; }
#right { float: right; width: 263px; padding-bottom: 30px; }
#center { margin: 0 263px 0 260px; padding: 14px 0 10px 15px; display: block; overflow: hidden; }
#spacer { height: 319px; }
#footer { margin-top: -319px; background: url(/templates/images/style/f1.jpg) no-repeat center bottom; margin-left: -1px; }
.clear { clear: both; }


input.postNameFl, input.postDescrFl, input.postQuestionFl, textarea.postPollFl {width: 99% !important;}
input.search_field {outline:none;border:none;}
input.a_field, input.login_btn {outline:none;border:none;}
a, img, { outline: none; border: none; }
label { font-weight: normal; }
h1, h2, h3, h4 { margin: 0; padding: 0; }

input, textarea, select { font: 13px/11px 'Ubuntu Condensed', Arial, Helvetica, sans-serif; /*font: 11px Arial, Helvetica, sans-serif\0/;*/ color: #6a9db5; outline: none; }

input, textarea, select, button { font-size: 13px; color: #36322e; }
textarea { resize: none; overflow: auto;}
.reset, .reset li { list-style: none; padding: 0; margin: 0; }
.lcol { float:left; }
.rcol { float:right; }

.ui-button, .bbcodes { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding-top: 4px !important; }
button { font: 13px/11px 'Ubuntu Condensed', Arial, Helvetica, sans-serif; /*font: 11px Arial, Helvetica, sans-serif\0/;*/ }

.btn_reglog, .radial, .fbutton, #loading-layer, #dropmenudiv, .baseform, .ui-dialog, .mass_comments_action, .bbcodes, .ui-button { -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }


/*------------------------- HEADER -------------------------*/
.logo { background: url(/templates/images/style/logo.jpg) no-repeat; width: 319px; height: 119px; display: block; overflow: hidden; position: absolute; margin: 214px 0 0 -10px; }
.h_search { position: absolute; margin: 260px 0 0 410px; }
.h_search #story { width: 324px; height: 14px; font: 12px/11px 'Ubuntu Condensed', Arial, Helvetica, sans-serif; /*font: 11px Arial, Helvetica, sans-serif\0/;*/ color: #6a9db5; border: none; background-color: transparent; text-shadow: 1px 1px 0 #004151; padding: 0; position: absolute; }
.h_search1 { background: url(/templates/images/style/h_search1.png) no-repeat; width: 66px; height: 40px; position: absolute; margin: -10px 0 0 340px; }
.h_search2 { background: url(/templates/images/style/h_search1.png) no-repeat 0 -40px; width: 66px; height: 40px; }
.h_search3 { font: 12px/11px 'Ubuntu Condensed', Arial, Helvetica, sans-serif; /*font: 11px Arial, Helvetica, sans-serif\0/;*/ color: #e5e2ca; text-shadow: 1px 1px 0 #12414c; margin: 36px 0 0 13px; display: block; position: relative; }
.h_search3:hover { text-decoration: none; }

/* login */
.login1 { float: right; width: 215px; margin: 237px 0 0 0; }
.log_avatar img { width: 50px; height: 50px; border: 3px solid #e4e3d1; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.log_links { margin-left: 64px; }
.log_links a { width: 123px; height: 20px; line-height: 20px; text-indent: 7px; display: block; margin-bottom: 3px; color: #43463f; text-decoration: none; background: #d3d2ca; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; }
.log_links a:hover { color: #FFF; background: #287971; }
.login2 { float: right; width: 242px; margin: 235px 0 0 0; }
.logform { background: url(/templates/images/style/login1.jpg) no-repeat 4px 0; width: 246px; height: 62px; }
.lfield { width: 197px; height: 14px; border: none; position: absolute; margin: 6px 0 0 33px; font: 12px/11px 'Ubuntu Condensed', Arial, Helvetica, sans-serif; /*font: 11px Arial, Helvetica, sans-serif\0/;*/ color: #727063; background-color: transparent; }
.lfpas { width: 147px; height: 14px; border: none; position: absolute; margin: 39px 0 0 17px; font: 12px/11px 'Ubuntu Condensed', Arial, Helvetica, sans-serif; /*font: 11px Arial, Helvetica, sans-serif\0/;*/ color: #727063; background-color: transparent; }
.lbtn { background: url(/templates/images/style/lbtn.gif) no-repeat 0 -44px; width: 62px; height: 45px; }
.lbtn1 { background: url(/templates/images/style/lbtn.gif) no-repeat; width: 62px; height: 44px; display: block; position: absolute; margin: 35px 0 0 171px; }
.login3 { font: 12px/11px 'Ubuntu Condensed', Arial, Helvetica, sans-serif; /*font: 11px Arial, Helvetica, sans-serif\0/;*/ padding: 15px 0 0 20px; }
.login3 a { color: #5f5d5c; }
.login3 a:hover { text-decoration: none; }

/* header menu */
.h_menu { position: absolute; margin: 357px 0 0 -4px; padding-left: 6px; min-width: 1080px; height: 64px; background: url(/templates/images/style/h_menu1.gif) no-repeat; }
.h_menu li { height: 64px; display: block; float: left; margin-right: -4px; background: url(/templates/images/style/h_menu2.gif) no-repeat; padding-left: 25px; }
.h_menu li:hover { background-position: 0 -64px; }
.h_menu li span { background: url(/templates/images/style/h_menu2.gif) no-repeat right 0; height: 64px; display: block; }
.h_menu li span:hover { background-position: right -64px; }
.h_menu li a { height: 64px; display: block; margin-left: -25px; text-decoration: none; color: #e4e3d1; text-shadow: 1px 1px 0 #063739; padding: 0 21px 0 17px; line-height: 62px; }
.h_menu li a:hover { color: #4b4944; text-shadow: 1px 1px 0 #c7c6be; line-height: 60px !important; }

/* scroll */
.wt-scroller { position: absolute; display: block; width: 1064px; height: 200px; margin: 432px 0 0 3px; }
.wt-scroller .slides { position: relative; width: 1064px; height: 200px; float: left; overflow: hidden; z-index: 1; }
.wt-scroller .slides ul { list-style:none; position:relative; width: 99999px; margin: 0; padding: 0; z-index: 0; overflow: hidden; }
.wt-scroller .slides li { position: relative; display: block; overflow: hidden; float: left; width: 145px; height: 116px !important; }
.wt-scroller .slides li a { position: relative; display: block; overflow: hidden; float: left; width: 145px; height: 87px; }
.wt-scroller .slides li .slides1 { position: relative; display: block; overflow: hidden; float: left; width: 145px; height: 116px !important; color: #FFF; text-shadow: 1px 1px 0 #3c3735; text-decoration: none; text-align: center; line-height: 24px; }
.wt-scroller .slides li .slides1:hover { color: #343434; text-shadow: none; }
.wt-scroller .slides1 span { height: 24px; display: block; overflow: hidden; margin-top: 92px; background-color: #4e4a48; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; font-size: 11px; /*font-size: 10px\0/;*/ -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; }
.wt-scroller .slides1:hover span { background-color: #dbd9cc; }
.wt-scroller .slides1 em { width:147px; height:87px; display: block; overflow: hidden; position: absolute; }
.wt-scroller .slides1 i { background: url(/templates/images/style/slides.png) no-repeat; width: 145px; height: 87px; display: block; position: absolute; z-index: 999; }
.wt-scroller .slides li img { position: absolute; top: 0; left: 0; z-index: 0; border: 0; width: 145px; min-height: 87px; }
.wt-scroller .lower-panel { display:block; position:relative; clear:both; text-align:center; }
.wt-scroller .scroll-bar { position: absolute; width: 1064px !important; height: 24px; cursor: pointer; overflow: hidden; margin: 20px 0 0 -6px; background: url(/templates/images/style/scroller.gif) no-repeat; }
.wt-scroller .thumb { position: absolute; top: 0; left: 0; width: 64px !important; height: 24px; z-index: 99; background: url(/templates/images/style/scroller1.gif) no-repeat; }

/* header banner */
.h_banner { width: 600px; height: 200px; display: block; overflow: hidden; position: absolute; margin: 623px 0 0 239px; }

.after_scroll { width: 231px; position: absolute; margin: 625px 0 0 -1px; }
.after_scroll1 { background: url(/templates/images/style/after_scroll1.gif) no-repeat; height: 24px; font: 15px/13px 'Ubuntu Condensed', Arial, Helvetica, sans-serif; /*font: 13px Arial, Helvetica, sans-serif\0/;*/ line-height: 20px; text-indent: 22px; margin-left: 5px; }
.after_scroll2 { background: url(/templates/images/style/after_scroll.gif) repeat-x; margin-top: 3px; padding: 13px 0 0 11px; }
.after_scroll2 a { width: 211px; height: 29px; display: block; overflow: hidden; margin-bottom: 3px; background: url(/templates/images/style/after_scroll2.jpg) no-repeat; text-decoration: none; color: #4b4944; text-shadow: 1px 1px 0 #eff0eb; line-height: 28px; text-indent: 11px; }
.after_scroll2 a:hover { background-position: 0 -29px; color: #FFF; text-shadow: 1px 1px 0 #0e5d60; }
.after_scroll3 { width: 231px; position: absolute; margin: 625px 0 0 848px; }
.after_scroll4 { background: url(/templates/images/style/after_scroll.gif) repeat-x; margin-top: 3px; padding: 13px 0 0 9px; }
.after_scroll4 a { width: 211px; height: 29px; display: block; overflow: hidden; margin-bottom: 3px; background: url(/templates/images/style/after_scroll2.jpg) no-repeat; text-decoration: none; color: #4b4944; text-shadow: 1px 1px 0 #eff0eb; line-height: 28px; text-indent: 11px; }
.after_scroll4 a:hover { background-position: 0 -29px; color: #FFF; text-shadow: 1px 1px 0 #0e5d60; }


/*------------------------- LEFT -------------------------*/
.l_block { background: url(/templates/images/style/l_block.jpg) no-repeat; width: 255px; margin-bottom: -3px; }
.l_block1 { background: url(/templates/images/style/l_block.gif) no-repeat right bottom; padding-bottom: 30px; }
.l_block2 { font: 15px/13px 'Ubuntu Condensed', Arial, Helvetica, sans-serif; /*font: 13px Arial, Helvetica, sans-serif\0/;*/ color: #f6f9f2; text-shadow: 1px 1px 0 #063e43; height: 61px; line-height: 48px; text-indent: 41px; }
.l_block3 { margin-left: 11px; }
.l_block3 a { background: url(/templates/images/style/l_block1.png) no-repeat; width: 233px; height: 29px; display: block; margin-bottom: 3px; text-decoration: none; color: #2f2e2c; line-height: 26px; text-indent: 12px; }
.l_block3 a:hover { background-position: 0 -29px; color: #FFF; text-shadow: 1px 1px 0 #0a435e; }
.l_block4 { margin: 0 10px 4px 10px; }
.l_block5 { margin: 3px 10px -2px 15px; }
.l_block5 img { width: 107px; height: 63px; border-radius: 6px; margin: 0 3px 7px 0; -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; }
.l_block5 img:hover { opacity:0.8; -moz-opacity:0.8; filter:alpha(opacity=80); }


/*------------------------- RIGHT -------------------------*/
.r_block { background: url(/templates/images/style/r_block.jpg) no-repeat; width: 262px; margin-bottom: 10px; }
.r_block1 { font: 14px/12px 'Ubuntu Condensed', Arial, Helvetica, sans-serif; /*font: 12px Arial, Helvetica, sans-serif\0/;*/ color: #1a4d75; text-shadow: 1px 1px 0 #7dd0ea; height: 79px; line-height: 76px; text-indent: 43px; }
.r_block2 { margin-left: 12px; }
.r_block2 a { background: url(/templates/images/style/r_block1.jpg) no-repeat; width: 238px; height: 27px; display: block; margin-bottom: 3px; text-decoration: none; color: #2d8a87; line-height: 26px; text-indent: 25px; }
.r_block2 a:hover { background-position: 0 -27px; color: #FFF; text-shadow: 1px 1px 0 #5b8a25; }
.r_block3 { background: url(/templates/images/style/r_block2.jpg) no-repeat; width: 262px; margin-bottom: 10px; }
.r_block4 { font: 14px/12px 'Ubuntu Condensed', Arial, Helvetica, sans-serif; /*font: 12px Arial, Helvetica, sans-serif\0/;*/ color: #1a4d75; text-shadow: 1px 1px 0 #7dd0ea; height: 70px; line-height: 58px; text-indent: 43px; }

/* vote */
.polled { height: 22px; }
.voted { height: 15px; }
.progress { position: relative; display: block; padding: 0; margin: 5px 0; width: 231px; background: url(/templates/images/style/vote.gif) no-repeat; padding: 1px 0 0 2px; margin-left: -7px; }
.polled span { height: 20px; }
.voted div { height: 13px; }
.progress div { display: block; margin: 0; padding: 0; width: 0; background: url(/templates/images/style/vote.png) no-repeat right; }
.progress div .vot { width: 100%; height: 13px; float: left; background: url(/templates/images/style/vote1.gif) no-repeat, url(/templates/images/style/vote.png) no-repeat right; }
.small { color: #a7a7a7; text-align: right; margin-right: 10px; }
.blockvote { margin-left: 24px; width: 231px; }
.vtitle { background: #35312f url(/templates/images/style/vote2.gif) no-repeat; width: 228px; font-size: 14px; /*font-size: 12px\0/;*/ color: #d7d1a3; margin: 5px -8px 14px -8px; }
.vtitle2 { background: url(/templates/images/style/vote3.gif) no-repeat left bottom; padding: 10px 12px 10px 15px; }
.vtitle1 { width: 218px; margin: -2px 0 16px 0; }
.votebtn1 { background: url(/templates/images/style/votebtn1.gif) no-repeat; width: 109px; height: 42px; display: block; position: absolute; }
.votebtn2 { background: url(/templates/images/style/votebtn1.gif) no-repeat 0 -42px; width: 109px; height: 42px; display: block; }
.votebtn3 { background: url(/templates/images/style/votebtn2.gif) no-repeat; width: 109px; height: 42px; display: block; margin-left: 108px; }
.votebtn4 { background: url(/templates/images/style/votebtn2.gif) no-repeat 0 -42px; width: 109px; height: 42px; display: block; }
.answer { line-height: 24px; margin-bottom: 5px; color: #003b51; }
.radio { width: 28px; height: 29px; padding: 0; margin: 0px 3px 0 -5px; background: url(/templates/images/style/radio.png) no-repeat; display: block; clear: left; float: left; }
input.styled { display: none; }
select.styled { position: relative; opacity: 0; filter: alpha(opacity=0); z-index: 5; }
.disabled { opacity: 0.5; filter: alpha(opacity=50); }
#dle-vote { margin-left: -2px; }


/*------------------------- CONTENT -------------------------*/

/* shortstory */
.short { width: 167px; height: 366px; display: block; overflow: hidden; float: left; margin: 0 12px 0 0; }
.short1 { background: url(/templates/images/style/short.jpg) no-repeat; color: #edecde; text-align: center; line-height: 16px; padding: 24px 5px 9px 5px; display: block; overflow: hidden; max-height: 58px; }
.short1 a { text-decoration: none; color: #edecde; -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; }
.short1 a:hover { color: #fbfbf6; }
.short1 h1 { font: 13px/11px 'Ubuntu Condensed', Arial, Helvetica, sans-serif; /*font: 11px Arial, Helvetica, sans-serif\0/;*/ line-height: 16px; }
.short2 { width: 167px; background: url(/templates/images/style/short.png) no-repeat bottom; padding-bottom: 7px; position: absolute; }
.short3 { width: 167px; margin: 49px 0 0 0; }
.short3 img { width: 167px; min-height: 224px; }
.short4 { width: 167px; height: 94px; display: block; overflow: hidden; position: absolute; background: url(/templates/images/style/short1.png) no-repeat; margin-top: 267px; font: 12px/11px 'Ubuntu Condensed', Arial, Helvetica, sans-serif; /*font: 11px Arial, Helvetica, sans-serif\0/;*/ }
.short5 { height: 49px; width: 151px; color: #ebe7ca; line-height: 52px; text-indent: 9px; display: block; overflow: hidden; }
.short5 a { color: #c6e94c; border-bottom: #c6e94c 1px dotted; text-decoration:none; }
.short5 a:hover { border: none; }
.short6 { background: url(/templates/images/style/short.gif) no-repeat 1px 1px; height: 17px; color: #807f7c; text-indent: 15px; margin-left: 8px; }
.short6 span { color: #413f36; }
.short7 { background: url(/templates/images/style/short1.gif) no-repeat; height: 17px; color: #807f7c; text-indent: 15px; margin-left: 8px; }
.short7 span { color: #413f36; }
.short7 span a { color: #413f36; }
.short7 span a:hover { text-decoration: none; }
.short8 { background: url(/templates/images/style/short2.png); width: 111px; height: 27px; position: absolute; margin: 241px 0 0 18px; -webkit-border-radius: 9px; -moz-border-radius: 9px; border-radius: 9px; padding: 0 10px 0 10px; text-align: center; }
.short9 { background: url(/templates/images/style/short3.png) no-repeat; width: 28px; height: 14px; display: block; float: left; color: #d7d1a3; padding: 0 8px 0 18px; margin: 5px 0 0 0; }
.short10 { background: url(/templates/images/style/short4.png) no-repeat 0 1px; width: 28px; height: 14px; display: block; float: left; color: #d7d1a3; padding-left: 29px; margin: 5px 0 0 0; }

/* fullstory */
.full { margin-left: -15px; margin-top: -4px; }
.full1 { background: url(/templates/images/style/full.gif) no-repeat; color: #0b647c; height: 40px; padding: 0px 0 0 35px; margin-left: 5px; }
.full1 h1 { font: 12px/10px 'Ubuntu Condensed', Arial, Helvetica, sans-serif; /*font: 15px Arial, Helvetica, sans-serif\0/;*/ line-height: 32px; }
.full1 h1 a { color: #0b647c; text-decoration: none; }
.full2 { background: #e4e3d1 url(/templates/images/style/full2.gif) no-repeat right; height: 29px; margin: 0 12px 0 12px; }
.full3 { background: url(/templates/images/style/full1.gif) no-repeat; font: 12px/11px 'Ubuntu Condensed', Arial, Helvetica, sans-serif; /*font: 11px Arial, Helvetica, sans-serif\0/;*/ height: 29px; float: left; padding-left: 15px; }
.full4 { background: url(/templates/images/style/full1.gif) no-repeat right; height: 29px; padding: 0 42px 0 0px; float: left; }
.full5 { margin-left: -3px; line-height: 28px; }
.full5 a { color: #FFF; text-decoration: none; }
.full5 a:hover { color: #d0feff; }
.full6 { background: #f0efe3 url(/templates/images/style/full3.gif) no-repeat right; font: 13px/12px 'Ubuntu Condensed', Arial, Helvetica, sans-serif; /*font: 12px Arial, Helvetica, sans-serif\0/;*/ color: #666058; line-height: 28px; float: left; height: 29px; }
.full7 { float: left; margin-left: -4px; padding-right: 14px; }
.full8 { font: 13px/12px 'Ubuntu Condensed', Arial, Helvetica, sans-serif; /*font: 12px Arial, Helvetica, sans-serif\0/;*/ background: #b5cfc4 url(/templates/images/style/full4.gif) no-repeat right; color: #0c4d53; line-height: 28px; float: left; height: 29px; padding: 0 11px 0 7px; }
.full8 a { text-decoration: none; color: #0c4d53; }
.full9 { float: right !important; margin: 7px 8px 0 0; }
.full10 { background: url(/templates/images/style/full5.gif) repeat-x; margin-top: 15px; padding: 16px 14px 20px 14px; display: block; overflow: hidden; }
.full10 a { color: #0b5a69; -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; }
.full10 a:hover { color: #5a941b; }
.full11 { display: block; overflow: hidden; text-align: center; }
.full11 img { border: 3px solid #e5e5e5; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; margin: 4px 0 10px 0; max-width:500px; }
.full12 { background: #a4bbbb; -webkit-border-radius: 9px; -moz-border-radius: 9px; border-radius: 9px; color: #303737; font: 16px/15px 'Ubuntu Condensed', Arial, Helvetica, sans-serif; /*font: 11px Arial, Helvetica, sans-serif\0/;*/ line-height: 15px; padding: 12px 14px 12px 14px; }
.full12 a { color: #0c4d53; }
.full12 a:hover { text-decoration: none; }
.full13 { background: url(/templates/images/style/full6.jpg) no-repeat bottom; }
.full14 { background: url(/templates/images/style/full6.jpg) no-repeat; max-height: 275px; display: block; overflow: hidden; padding: 28px 0 13px 12px; }
.full15 { float: left; margin-right: 11px; }
.full15 a { background: url(/templates/images/style/full7.png) no-repeat; width: 167px; height: 57px; display: block; overflow: hidden; line-height: 150px; }
.full15 a:hover { background-position: 0 -57px; }
.full16 { background: url(/templates/images/style/full8.jpg) no-repeat; height: 44px; padding-left: 10px; display: block; overflow: hidden; float: left; margin: 4px 6px 0 0; }
.full16:hover { background-position: 0 -44px; }
.full16 span { background: url(/templates/images/style/full8.jpg) no-repeat right 0; height: 44px; display: block; }
.full16 span:hover { background-position: right -44px; }
.full16 a { margin-left: -10px; height: 44px; display: block; padding: 0 20px; line-height: 38px; text-decoration: none; color: #e4e3d1; }
.full17 { background: #f8f6f4 url(/templates/images/style/full9.jpg) no-repeat; width: 533px; display: block; overflow: hidden; padding: 0px 0px 0px 0px; }
.full18 { background: url(/templates/images/style/full10.jpg) no-repeat bottom; text-align: left; line-height: 16px; padding: 10px 0 9px 0; }
.full18 a { color: #3e3e3e; }
.full18 a:hover { text-decoration: none; }
.full19 { background: url(/templates/images/style/full10.gif) repeat-x; }
.full20 { background: url(/templates/images/style/full11.jpg) no-repeat bottom; display: block; overflow: hidden; height: 72px; }
.full21 { background: url(/templates/images/style/full11.gif) no-repeat; width: 109px; height: 35px; display: block; overflow: hidden; float: left; margin: 20px 0 0 9px; }
.full22 { background: url(/templates/images/style/full11.gif) no-repeat 0 -35px; width: 109px; height: 35px; display: block; overflow: hidden; line-height: 90px; }
.full23 { float: right; background: #e7e7d7; height: 21px; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; margin: 21px 14px 0 0; padding: 6px 7px 0 13px; }
.full24 { background: url(/templates/images/style/full12.gif) no-repeat 0 1px; height: 13px; display: block; float: left; color: #4f4a45; padding: 0 7px 0 17px; }
.full25 { background: url(/templates/images/style/full13.gif) no-repeat 0 1px; height: 14px; display: block; float: left; color: #4f4a45; padding: 0 7px 0 29px; }
.full26 { background: url(/templates/images/style/comm.jpg) no-repeat 1px 1px; color: #514a44; height: 40px; padding: 0px 0 0 31px; margin-left: 5px; font: 17px/15px 'Ubuntu Condensed', Arial, Helvetica, sans-serif; /*font: 15px Arial, Helvetica, sans-serif\0/;*/ line-height: 32px; }
.full27 { margin-left: -15px; }

.related { margin: 4px 0 0 -15px; padding-bottom: 31px; background: url(/templates/images/style/full10.gif) repeat-x bottom; }
.related1 { background: url(/templates/images/style/related.jpg) no-repeat; height: 69px; font: 16px/14px 'Ubuntu Condensed', Arial, Helvetica, sans-serif; /*font: 14px Arial, Helvetica, sans-serif\0/;*/ color: #FFF; text-shadow: 1px 1px 0 #3b95b2; line-height: 50px; text-indent: 47px; }
.related2 { padding: 0 0 0 11px; }
.related2 a { width: 535px; height: 27px; display: block; overflow: hidden; margin-bottom: 1px; background: url(/templates/images/style/related1.jpg) no-repeat; color: #343231; text-decoration: none; line-height: 26px; text-indent: 30px; }
.related2 a:hover { background-position: 0 -27px; color: #FFF; text-shadow: 1px 1px 0 #5d8a2e; }

.info0 { background: url(/templates/images/style/info2.gif) repeat-x bottom; margin-left: -15px; margin-bottom: 8px; padding-bottom: 5px; }
.info { background: #5b9943 url(/templates/images/style/info.jpg) no-repeat; width: 533px; margin-left: 12px; }
.info1 { background: url(/templates/images/style/info1.jpg) no-repeat bottom; padding: 16px 14px 33px 55px; font: 14px/12px 'Ubuntu Condensed', Arial, Helvetica, sans-serif; /*font: 12px Arial, Helvetica, sans-serif\0/;*/ line-height: 16px; color: #FFF; text-shadow: 1px 1px 0 #4c832a; }
.info1 a { color: #f0ffdd; }
.info1 a:hover { text-decoration: none; }

.comm { background: url(/templates/images/style/full11.jpg) no-repeat bottom; display: block; overflow: hidden; padding-bottom: 20px; margin: 2px 0 8px 0; }
.comm1 { float: left; }
.comm1 img { width: 50px; height: 50px; border: 3px solid #e4e3d1; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.comm2 { background: #e4e3d1; height: 56px; -webkit-border-radius: 13px; -moz-border-radius: 13px; border-radius: 13px; margin-left: 60px; }
.comm3 { background: #d6d5bf; height: 31px; -webkit-border-radius: 9px; -moz-border-radius: 9px; border-radius: 9px; }
.comm4 { background: url(/templates/images/style/info2.gif) repeat-x bottom; font: 12px/11px 'Ubuntu Condensed', Arial, Helvetica, sans-serif; /*font: 11px Arial, Helvetica, sans-serif\0/;*/ padding: 0 13px 15px 13px; }
.comm5 { background: url(/templates/images/style/comm1.jpg) no-repeat; height: 23px; float: left; padding-left: 20px; margin: 4px 0 0 6px; }
.comm5 span { background: url(/templates/images/style/comm1.jpg) no-repeat right; height: 23px; display: block; }
.comm5 i { font-style: normal; padding-right: 25px; margin-left: -11px; height: 23px; display: block; line-height: 22px; color: #FFF; }
.comm5 i a { color: #FFF; text-decoration: none; }
.comm5 i a:hover { color: #ddfeff; }
.comm6 { float: left; color: #47433f; line-height: 20px; margin: 6px 0 0 5px; }
.comm6 span { background: #fafaf6; height: 20px; display: block; float: left; -webkit-border-radius: 9px; -moz-border-radius: 9px; border-radius: 9px; padding: 0 8px; line-height: 20px; color: #397597; }
.comm6 span a { color: #0f6494; }
.comm6 span a:hover { text-decoration: none; }
.comm6 i { font-style: normal; float:left; margin-right: 3px; }
.comm7 { float: right; color: #666058; text-transform: uppercase; }
.comm7 a { text-decoration: none; color: #666058; background: #f4f4ee; height: 17px; display: block; line-height: 17px; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; padding: 0 6px; margin: 8px 8px 0 0; }
.comm7 a:hover { background: #fafaf6; }
.comm8 { background: url(/templates/images/style/comm2.gif) no-repeat; float: left; color: #666058; height: 20px; margin: 6px 0 0 8px; padding: 0 8px 0 17px; }
.comm9 { background: url(/templates/images/style/comm3.gif) no-repeat; float: left; color: #666058; height: 20px; margin-top: 6px; padding-left: 22px; }
.comm10 { color: #464646; padding: 10px 15px 5px 15px; }
.comm10 a { color: #397597; }
.comm10 a:hover { text-decoration: none; }




/* other */
.avatar { padding: 1px; }
.userinfo1 a { color: #4b88c9; -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; }
.userinfo1 a:hover { color: #5e971c; }
.userinfo1 b { font-weight: normal; color: #914f1b; }
.pm_style { padding: 0 27px 0 4px; }
.pm_style a { color: #4b88c9; -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; }
.pm_style a:hover { color: #5e971c; }
.lines b, .statistics b { font-weight: normal; color: #914f1b; }
.statistics h5 { font-weight: normal; color: #16600b; font-size: 14px; margin-bottom: 5px; }
.statistics p b { font-weight: normal; font-size: 15px; color: #16600b; }





.mass_comments_action { display: none; }
.signature, .slink { color: #918a7f; }
#blind-animation { margin: 0 15px 0 15px; }
#dlemasscomments { margin-left: -15px; }

.addcomm { background: url(/templates/images/style/full.gif) no-repeat; color: #0b647c; height: 40px; padding-left: 35px; margin: 0 0 -18px 5px; font: 17px/15px 'Ubuntu Condensed', Arial, Helvetica, sans-serif; /*font: 15px Arial, Helvetica, sans-serif\0/;*/ line-height: 32px; }

.send { background: url(/templates/images/style/send.gif) no-repeat 0 -38px; width: 109px; height: 38px; line-height: 100px; display: block; overflow: hidden; }
.send1 { background: url(/templates/images/style/send.gif) no-repeat; width: 109px; height: 38px; margin: 10px 0 -17px 0; }

.avatar img { border: 3px solid #e4e3d1; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.popup1 { line-height: 17px; margin-left: 118px; }
.popup1 a { color: #0b5a69; -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; }
.popup1 a:hover { color: #5a941b; }




/* forms */
.selectmass input { margin: 0 -2px 0 5px; padding: 0; }
.impot { font-family: Tahoma, Geneva, sans-serif; }
.tableform { width: 100%; }
.tableform a { color: #376bb0; -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; }
.tableform a:hover { color: #61971e; }
.tableform td.label { width: 20%; vertical-align: middle; padding-right: 0; }
.fieldsubmit, .tableform td { padding: 2px; }
.addnews { font-weight: bold; }
.impot { color: #d51e44; font-weight: normal; }
.checkbox { padding: 4px 0; line-height: 1em; }
.checkbox input { margin-top: -2px; vertical-align: middle; }
.f_input { width: 300px; padding: 1px; }
.f_textarea { width: 458px; }
.fieldtr select, .textin, .f_textarea, .f_input, .xfields textarea, .xprofile textarea,
.xfields input, .xprofile input, .xfields select, .xprofile select, .mass_comments_action select, .logform li.lfield input { padding: 2px; background: #fff url(/templates/images/fields.png) repeat-x; border: 1px solid #bcc0c2; }
.f_textarea, .editor_button select { padding: 0; }
.textin { padding: 2px; }








/* navigation */
.nav_links { float: right; overflow: hidden; width: 72px; float: right; margin-top: -8px; }

span .prev_link1 { background: url(/templates/images/style/nav_links.gif) no-repeat; width: 26px; height: 32px; display: block; float: left; margin-top: 1px; margin-right: 2px; margin-top: 2px; }
span .prev_link1 img { background: url(/templates/images/style/nav_links.gif) no-repeat; width: 26px; height: 32px; display: block; float: left; }
.prev_link1 { background: url(/templates/images/style/nav_links.gif) no-repeat 0 -32px; width: 26px; height: 35px; display: block; float: left; margin-top: -2px; margin-right: 2px; }
.prev_link1 img { background: url(/templates/images/style/nav_links.gif) no-repeat 0 -69px; width: 26px; height: 35px; display: block; float: left; }

span .next_link1 { background: url(/templates/images/style/nav_links.gif) no-repeat -27px 0; width: 27px; height: 36px; display: block; float: left; }
span .next_link1 img { background: url(/templates/images/style/nav_links.gif) no-repeat -27px 0; width: 27px; height: 36px; display: block; float: left; }
.next_link1 { background: url(/templates/images/style/nav_links.gif) no-repeat -27px -72px; width: 27px; height: 36px; display: block; float: left; }
.next_link1 img { background: url(/templates/images/style/nav_links.gif) no-repeat -27px -36px; width: 27px; height: 36px; display: block; float: left; }
.pagesBlock2 {text-align:center;}
.navigation, .catPages1, .pagesBlockuz2, .pagesBlock1, .pagesBlock2 { font-size: 19px; /*font-size: 17px\0/;*/ color: #FFF; padding-left: 15px; }
.navigation span, .swchItemA, .swchItemA1 {font-weight:normal; background: url(/templates/images/style/nav.gif) repeat-x; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; padding: 1px 6px 2px 6px; }
.navigation a, .swchItem, .swchItemDots, .swchItem1 { background: url(/templates/images/style/nav1.gif) repeat-x 0 50px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; text-decoration: none; color: #474747; padding: 1px 6px 2px 6px; }
.navigation a:hover, .swchItem:hover, .swchItem1:hover { background-position: 0 0; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; padding: 1px 6px 2px 6px; color: #FFF; }
.navigation1, .catPages1, .pagesBlockuz2, .pagesBlock2 { background: url(/templates/images/style/nav2.gif) repeat-x; height: 32px; margin-left: -15px; padding-top: 20px; width: 557px; float: left; }

.l_block5 a, .l_block5 a img {border:none;}



















/*------------------------- FOOTER -------------------------*/
.footer { background: url(/templates/images/style/f2.jpg) no-repeat center 140px; }
.footer1 { height: 319px; background: url(/templates/images/style/f3.jpg) no-repeat center 0; }
.footer2 { margin: 0 auto; width: 1080px; }
.f_tags { font: 18px/16px 'Ubuntu Condensed', Arial, Helvetica, sans-serif; /*font: 16px Arial, Helvetica, sans-serif\0/;*/ color: #f1f1ec; padding: 29px 0 0 21px; position: absolute; width: 1050px; }
.f_tags1 { padding: 10px 21px 10px 21px; max-height: 65px; display: block; overflow: hidden; position: absolute; width: 1050px; margin-top: 48px; }
.f_tags1 a { color: #e4e3d1; text-decoration: none; -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; }
.f_tags1 a:hover { color: #FFF; }
/* up button */
.up { position: absolute; margin: 146px 0 0 1002px; }
#up { background: url(/templates/images/style/up.gif) no-repeat; width: 69px; height: 24px; display: block; overflow: hidden; line-height: 120px; float: right; cursor: pointer; }
#up span { background: url(/templates/images/style/up.gif) no-repeat 0 -24px; width: 69px; height: 46px; display: block; }
/* counts */
.counts { margin-right: 12px;}
.counts ul { display: inline; }
.counts ul li { float: right; width: 88px; height: 31px; margin-left: 11px; margin-top: 207px; opacity:0.5; -moz-opacity:0.5; filter:alpha(opacity=50); -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; cursor: pointer; }
.counts ul li:hover { opacity: 1.0; -moz-opacity: 1.0; filter:alpha(opacity=100); }
.copy { width: 50px; height: 62px; position: absolute; display: block; overflow: hidden; line-height: 150px; margin: 200px 0 0 277px; }
.copy2 { position: absolute; color: #419ca2; font-size: 12px; margin: 200px 0 0 360px; }



/* opera fix */
noindex:-o-prefocus,#body1 { padding-left: 3px; }
noindex:-o-prefocus,.wt-scroller .scroll-bar { margin-top: 21px; }

#uidLogButton {display:none;}
#baseLogForm {display: block !important;}

.download_mailru, torrent .download_mailru a {
width:174px;
height:50px;
background: url('/templates/images/tor_down_03_mailru.png') no-repeat top left;
text-decoration:none;
float:left;
}
.download, torrent .download a {
width:174px;
height:50px;
background: url('/templates/images/tor_down_03.png') no-repeat top left;
text-decoration:none;
float:left;
}
.info_d {
height:50px;
color:#636363;
font-weight:bold;
}

.info_d1 {
margin-left:180px;
font-size:12px;
padding:17px 10px 0px 0px;
}

.info_d1 span {
color:#000;
border-bottom: dashed 1px #000;
}
.info_c {
height:50px;
width:5px;
float:right;
}
.cont {
margin-left:25px;
padding:5px 10px;
}
.cont a {
color:#666666;
text-decoration:none;
}
.cont a:hover {
color:#222222;
text-decoration:underline;
}
.cont .bord_a1 {
border-bottom:1px dashed #000;
padding:5px;
}
.li_download {
background:#9f9c9c
padding:2px 5px;
margin-right:5px;
float:left;
color:#FFFFFF;
font-weight:bold;
margin-top:-2px;
}
.li_download_a1 {
float:left;
}
.li_download_a2 {
margin-left:100px;
}

@media all and (min-width: 0) { #center { margin: 0; } #right { width: 264px; } #left { width: 260px; } .l_block { width: 254px; } #container { margin: 0 -18px 0 -19px; } }
noindex:-o-prefocus,#right { width: 265px; }
noindex:-o-prefocus,#left { width: 259px; }
noindex:-o-prefocus,#center { margin: 0 263px 0 260px; }
noindex:-o-prefocus,.l_block { width: 254px; }
noindex:-o-prefocus,#container { margin: 0 -17px 0 -19px; }
.f_tags1 { max-height: 55px; }



/* Comments Style */
.cBlock1,
.cBlock2 {
float:left;
overflow: hidden;
width:100%;
margin-bottom: 15px;
outline: 1px solid #84ABC2;
border: 1px solid #fff;
}

.cBlock1 {background: #eff3f7;}
.cBlock2 {background: #dbe8f6;}

.vid_comments_os {
float:left;
width:95%;
padding: 5px 15px 5px 16px;
}

.vid_comments_os a:link,
.vid_comments_os a:visited {color:#115882;}
.vid_comments_os a:hover {color:#2222be;}
img {border: none; }
a {outline: none; text-decoration:none!important; }

.vc_top {
float:left;
width:100%;
padding: 0px 0px 5px 0px;
}

.vc_name {
font: 10px Verdana,Arial,Helvetica, sans-serif;
text-shadow: 1px 1px 1px #fff;
float:left;
padding: 3px 0px 0px 0px;
}

.vc_name strong {color:#4EA62C;}
.vc_name span {color:#777;}

.vc_reiting {
font: 11px Verdana,Arial,Helvetica, sans-serif;
float:right;
}

.vc_reiting img {float:left; padding-top: 6px;}
.vc_reiting span {float:left; padding: 2px 5px 0px 5px; font-weight: bold;}

.vc_nomer {
font: 11px Verdana,Arial,Helvetica, sans-serif;
float:right;
font-size:19px;
margin-left: 15px;
}

.vc_nomer a:link,
.vc_nomer a:visited {color:#C7C7C7;}
.vc_nomer a:hover {color:#2C68A6;}

.vc_center {
float:left;
text-align:justify;
font: 115%/1.5 Verdana,Arial,Helvetica, sans-serif;
color:#555;
width:100%;
}

.coment_avatar{
float:right;
width:50px;
height:50px;
padding:3px;
margin: 0px 0px 10px 15px;
border: 1px solid #84ABC2;
}

.vc_center {
color:#555;
width:100%;
}

.vcc_otvet {
color:#555;
padding: 5px 5px 5px 5px;
background: #fff;
border: 1px solid #84ABC2;
width:98%;
margin: 10px 0px 10px 0px;
}

.vc_center,
.vcc_otvet {
float:left;
overflow: hidden;
text-align:justify;
font: 115%/1.5 Verdana,Arial,Helvetica, sans-serif;
}

.vc_bottom {
clear:left;
text-align:right;
padding: 0px 0px 0px 0px;
}

.post_r {color: #888;}
.red {color: #a71a1a;}
.gren {color: #1da71a;}
.grey {color: #999;}

.no_amcu, div[id^='ast_id'] > div {
z-index: 99999999999 !important;
}


 .add_poll_inp {width:80%}
 .add_poll_inp_vote {width:14%; margin-left:1% !important}
 .poll-block {width:100%; padding:10px; clear:both; margin-top: 20px;}
 .poll-qa {font-size:13px; font-weight:bold}
 .poll-form {margin:8px 15px; width:100%}
 .poll-answer {display:inline-block;width:100%;vertical-align:middle;line-height:1; font-size:13px}
 .poll-answer-radio {display:inline-block;vertical-align:middle;margin:1px 2px 2px 2px;}
 .poll-answer-check {display:inline-block;vertical-align:middle;margin-top:2px;}
 .num-votes {text-align:center;margin-top:0px;}
 .num_votes_int {font-weight:bold}
 .poll-button {margin-top:3px;}
 .poll-result {margin:7px 0 0 2px;}
 .poll-result-answer {margin:0 0 2px 0px;display:inline-block;width:100%;vertical-align:middle;font-size:13px}
 .poll-background {display:inline-block;vertical-align:middle;background:#ebeced;width:85%;height:11px;margin-bottom:3px;margin-top:1px;border-radius:2px;}
 .poll-result-back {width:0%;height:11px;background:#A4BBBB;border-radius:2px;}
 .poll-result-percent {font-size:11px; font-weight: bold;padding-left:5px;}
 ul.poll-search-opt {margin: 10px 0px 30px 0px; padding:0px; display: block;}
 ul.poll-search-opt li {list-style: none; width: 49%; margin: .5%;float: left; }
 ul.poll-search-opt li.clear {width: 100%; clear: both}
 .count-poll-all {float: right}
 #count-poll-page {font-weight: bold}

.alert { 
 border: 1px solid rgba(0, 0, 0, 0);
 border-radius: 4px;
 margin-bottom: 20px;
 padding: 15px 15px 15px 45px;
 position: relative;
}
.alert:before {
 position: absolute;
 top: 50%;
 left: 13px;
 display: block;
 margin-top: -8px;
 width: 16px;
 height: 16px;
 background: url(/img/icon-er.png) no-repeat 0 0;
 content: '';
}
.alert-info { 
 background-color: #D9EDF7;
 border-color: #BCE8F1;
 color: #31708F;
}
.alert-info:before {
 background-position: 0 -16px;
}
.alert-warning {
 border-color: #faebcc;
 background-color: #fcf8e3;
 color: #8a6d3b;
}
.alert-warning:before {
 background-position: 0 -32px;
}
.alert-danger {
 border-color: #ebccd1;
 background-color: #f2dede;
 color: #a94442;
}
.alert-danger:before {
 background-position: 0 -48px;
}
.alert-success {
 border-color: #d6e9c6;
 background-color: #dff0d8;
 color: #3c763d;
}

#favorite_list{ margin-left: 10px;}

.gphoto {width:100px}