@charset "utf-8";
/* CSS Document */

/* =========================================================
　初期設定
========================================================= */
/* ----- body ----- */
html {
  height: 100%;
}

body {
  color: #333;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", Meiryo, メイリオ, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
}

label {
  vertical-align: middle;
  cursor: pointer;
}

select,
textarea {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", Meiryo, メイリオ, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  vertical-align: middle;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", Meiryo, メイリオ, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* chromeのオートフィル時の背景を白に */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

/* ----- link ----- */
a:link {
  color: #039;
  text-decoration: none;
}

a:visited {
  color: #639;
  text-decoration: none;
}

a:hover {
  color: #639;
  text-decoration: underline;
}

/* ----- new clearfix ----- */
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
  font-size: 0;
}

* html .clearfix {
  zoom: 1;
}/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}/* IE7 */

/* =========================================================
　日本以外のユーザーがアクセスした時英語サイトに遷移させるポップ
========================================================= */
div.eng_lead {
  background: url(../images/web/btn_eng_lead.png) left top no-repeat;
  z-index: 1000;
  height: 120px;
  width: 390px;
  position: fixed;
  left: 50%;
  margin-left: -190px;
  bottom: 0;
  -webkit-animation: eng_lead_bounceInUp 1s both;
  animation: eng_lead_bounceInUp 1s both;
}

@-webkit-keyframes eng_lead_bounceInUp {
  0% {
    -webkit-transform: translateY(2000px);
    opacity: 0;
  }
  60% {
    -webkit-transform: translateY(-30px);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@keyframes eng_lead_bounceInUp {
  0% {
    transform: translateY(2000px);
    opacity: 0;
  }
  60% {
    transform: translateY(-30px);
    opacity: 1;
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

div.eng_lead:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
  -ms-filter: "alpha( opacity=90 )";
}

div.eng_lead.off {
  display: none;
}

div.eng_lead a.bnr {
  display: block;
  color: #120;
  width: 340px;
  height: 90px;
  z-index: 1100;
  margin-top: 15px;
  /* background-color: rgba(210, 14, 14, 0.85); */
}

div.eng_lead a.close {
  width: 44px;
  height: 44px;
  z-index: 1200;
  position: absolute;
  top: 2px;
  left: 345px;
  /* background-color: rgba(34, 244, 80, 0.8); */
}

/* =========================================================
　DLのロゴ横にリアルカウントダウンを表示させる
========================================================= */
div#logo_02 {
  position: relative;
  float: left;
  width: 250px;
  height: 45px;
  margin-left: 15px;
}

div#logo_02 a {
  position: relative;
  z-index: 10;
}

div#logo_02 ul.time_limit {
  background: #000;
  width: 104px;
  height: 19px;
  padding: 1px 3px;
  position: absolute;
  bottom: 1px;
  right: 36px;
  overflow: hidden;
  margin: 0;
  border-radius: 2px;
}

div#logo_02 ul.time_limit li {
  width: 14px;
  height: 19px;
  line-height: 19px;
  font-size: 16px;
  float: left;
  text-align: center;
  background: none;
  color: #0f0;
  position: static;
  margin: 0;
  background: url(../images/campaign/pointup201503/bg_count_03.jpg) no-repeat 0 0;
}

div#logo_02 ul.time_limit li.time_colon {
  width: 10px;
  background: none;
}

div#logo_02 ul.time_limit li.num_0 {
  background-position: 0 0;
}

div#logo_02 ul.time_limit li.num_1 {
  background-position: -14px 0;
}

div#logo_02 ul.time_limit li.num_2 {
  background-position: -28px 0;
}

div#logo_02 ul.time_limit li.num_3 {
  background-position: -42px 0;
}

div#logo_02 ul.time_limit li.num_4 {
  background-position: -56px 0;
}

div#logo_02 ul.time_limit li.num_5 {
  background-position: -70px 0;
}

div#logo_02 ul.time_limit li.num_6 {
  background-position: -84px 0;
}

div#logo_02 ul.time_limit li.num_7 {
  background-position: -98px 0;
}

div#logo_02 ul.time_limit li.num_8 {
  background-position: -112px 0;
}

div#logo_02 ul.time_limit li.num_9 {
  background-position: -126px 0;
}
