@charset "utf-8";
/* CSS Document */

/*

 ページ構成
 ヘッダー
 スライダー
 メイン（フロア遷移リンク）
 フッター

*/

/* ==================================================================================================================
 ページ構成
================================================================================================================== */
div#index2_container {
  font-size: 12px;
  line-height: 1.5;
  background: #fff;
  overflow: hidden;
  width: 100%;
}

.inner_01 {
  position: relative;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 980px;
}

div#index2_container a:link {
  text-decoration: none;
}

div#index2_container a:hover {
  text-decoration: underline;
}

/* ==================================================================================================================
 ヘッダー
================================================================================================================== */
div#index2_header {
  height: 50px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  position: relative;
  z-index: 20;
  width: 100%;
}

div#index2_header h1 {
  margin-top: 10px;
  float: left;
}

.logo_dlsite {
  display: block;
  background: url(../images/web/index/icon_index2_01.png) no-repeat 0 -25px;
  height: 0;
  width: 185px;
  padding-top: 30px;
  overflow: hidden;
}

/* 20周年ロゴ */
div#index2_header h1 {
  margin-top: 2px;
  float: left;
}
.logo_dlsite.logo_20th {
  display: block;
  background: url(../images/web/home/logo_20th.gif) no-repeat;
  height: 0;
  width: 255px;
  padding-top: 50px;
  overflow: hidden;
}

ul.utility_menu {
  float: right;
  padding-top: 15px;
}

ul.utility_menu li {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  text-align: center;
  border-right: solid 1px #ccc;
}

ul.utility_menu li:first-child a {
  padding-left: 18px;
  background: url(../images/web/index/icon_index2_01.png) no-repeat 0 -650px;
}

ul.utility_menu li:last-child {
  border: none;
}

ul.utility_menu li a {
  font-size: 12px;
  color: #666;
  display: block;
}

/* ==================================================================================================================
 スライダー
================================================================================================================== */
/* エリア構成
--------------------------------------------------------- */
div#index2_slider {
  text-align: center;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

div.slider_container {
  background: #fff;
  height: 340px;
  position: relative;
}

div.slider_footer {
  text-align: center;
  position: relative;
  z-index: 10;
  height: 40px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  display: none;
}

/*----- ページネーション -----*/
div.slider_pagination {
  display: inline-block;
  padding: 15px 0;
}

div.slider_pagination a {
  display: inline-block;
  width: 10px;
  height: 0;
  padding-top: 10px;
  overflow: hidden;
  border-radius: 5px;
  background: #ddd;
  margin: 0 4px;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}

div.slider_pagination a.activeSlide,
div.slider_pagination a:hover {
  background: #4baef3;
}

/*----- 進む戻るボタン -----*/
div.slider_prev,
div.slider_next {
  background: #aaa;
  width: 80px;
  height: 24px;
  position: absolute;
  top: 8px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
}

div.slider_prev {
  left: 10px;
}

div.slider_next {
  right: 10px;
}

div.slider_prev:hover,
div.slider_next:hover {
  background-color: #666;
}

div.slider_prev:after,
div.slider_next:after {
  content: "\f104";
  font-family: FontAwesome;
  font-size: 22px;
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 24px;
  color: #fff;
}

div.slider_next:after {
  content: "\f105";
}

/*----- スライド部 -----*/
div.slider_container ul#slider_list {
  width: 100%;
  height: 340px;
  position: relative;
}

div.slider_container ul#slider_list > li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
}

div.slider_container ul#slider_list > li.current {
  z-index: 10;
}

div.slider_box_01 {
  width: 100%;
  height: 100%;
  position: relative;
}

div.slider_box_01 a {
  display: block;
  width: 100%;
  height: 100%;
}

.slider_overlay {
  background: url(../images/web/index/bg_index2_02.png) repeat left top;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

img.pr_mainpic {
  position: relative;
  top: 0;
  left: 50%;
  margin-left: -650px;
}

div.slider_container ul.work_img_box {
  display: inline-block;
  height: 100%;
  font-size: 0;
}

div.slider_container ul.work_img_box li {
  display: inline-block;
  height: 170px;
  width: auto;
}

div.slider_container ul.work_img_box li img {
  height: 170px;
  width: auto;
}

/* 背景作品サムネイルアニメーションブロック
--------------------------------------------------------- */
.loopslider_container {
  -webkit-filter: blur(2px);
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: alpha(opacity=0);
  zoom: 1;
}

.loopslider {
  height: 170px;
  position: relative;
}

/* 各ページ背景
--------------------------------------------------------- */
.page_02 {
  background: #fcfbec;
}

/* ==================================================================================================================
 メイン（フロア遷移リンク）
================================================================================================================== */
/* 構成
--------------------------------------------------------- */
div#index2_main {
  width: 100%;
  position: relative;
  background: #fff;
  z-index: 10;
  padding: 20px 0 0 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

/* タイトル
--------------------------------------------------------- */
div.index2_title {
  height: 42px;
  position: relative;
  margin-bottom: 20px;
}

div.index2_title h2 {
  background: url(../images/web/index/icon_index2_01.png) no-repeat 0 -240px;
  padding-left: 20px;
  color: #fa0;
  font-size: 22px;
  height: 42px;
  line-height: 42px;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 1px;
}

/* フロアリンクスイッチ
--------------------------------------------------------- */
ul.floor_tab {
  position: absolute;
  right: 0;
  font-size: 0;
  width: 100%;
  text-align: right;
  border-bottom: solid 1px #ccc;
  bottom: 0;
}

ul.floor_tab li {
  width: 200px;
  height: 30px;
  padding: 5px 0;
  display: inline-block;
  color: #aaa;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  position: relative;
  top: 1px;
}

ul.floor_tab li.tab_sp {
  margin-right: 10px;
}

ul.floor_tab li.on {
  width: 200px;
  border: solid 1px #ccc;
  border-bottom: none;
  background: #fff;
  cursor: default;
  color: #666;
  border-radius: 5px 5px 0 0;
}

ul.floor_tab li.tab_pc.on {
  margin-left: -1px;
}

ul.floor_tab li.tab_sp.on {
  margin-right: 9px;
}

ul.floor_tab li:hover {
  color: #666;
}

ul.floor_tab li span {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  background: url(../images/web/index/icon_index2_01.png) no-repeat 0 -85px;
}

ul.floor_tab li.tab_pc span {
  background-position: 0 -85px;
  padding-left: 35px;
}

ul.floor_tab li.tab_sp span {
  background-position: 0 -165px;
  padding-left: 25px;
}

ul.floor_tab li.tab_pc.on span,
ul.floor_tab li.tab_pc:hover span {
  background-position: 0 -125px;
}

ul.floor_tab li.tab_sp.on span,
ul.floor_tab li.tab_sp:hover span {
  background-position: 0 -205px;
}

/* 見出し（○○向け）
--------------------------------------------------------- */
ul.floor_link li h3 {
  height: 0;
  padding-top: 26px;
  overflow: hidden;
  width: 100%;
  background: url(../images/web/index/icon_index2_01.png) no-repeat center -287px;
}

ul.floor_link li.general h3 {
  background-position: center -287px;
}

ul.floor_link li.male h3 {
  background-position: center -327px;
}

ul.floor_link li.female h3 {
  background-position: center -367px;
}

ul.floor_link li.gay h3 {
  background-position: center -407px;
}

ul.floor_link li.abroad h3 {
  background-position: center -447px;
}

/* フロアリンク構成
--------------------------------------------------------- */
ul.floor_link {
  position: relative;
  height: 410px;
  overflow: hidden;
}

ul.floor_link li {
  width: 20%;
  height: 410px;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  float: left;
}

ul.floor_link li div {
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  padding-top: 36px;
}

ul.floor_link li div.pc_link {
  -webkit-transform: translate(-200px,0);
  -moz-transform: translate(-200px,0);
  -o-transform: translate(-200px,0);
  transform: translate(-200px,0);
  -ms-transform: none;
}

ul.floor_link li div.sp_link {
  -webkit-transform: translate(200px,0);
  -moz-transform: translate(200px,0);
  -o-transform: translate(200px,0);
  transform: translate(200px,0);
  -ms-transform: none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  ul.floor_link li div.pc_link:not(:target) {
    -ms-transform: translate(-200px,0);
  }
  ul.floor_link li div.sp_link:not(:target) {
    -ms-transform: translate(200px,0);
  }
}

ul.floor_link li.male div {
  -webkit-transition-delay: 0.02s;
  -moz-transition-delay: 0.02s;
  -ms-transition-delay: 0.02s;
  -o-transition-delay: 0.02s;
  transition-delay: 0.02s;
}

ul.floor_link li.female div {
  -webkit-transition-delay: 0.04s;
  -moz-transition-delay: 0.04s;
  -ms-transition-delay: 0.04s;
  -o-transition-delay: 0.04s;
  transition-delay: 0.04s;
}

ul.floor_link li.gay div {
  -webkit-transition-delay: 0.08s;
  -moz-transition-delay: 0.08s;
  -ms-transition-delay: 0.08s;
  -o-transition-delay: 0.08s;
  transition-delay: 0.08s;
}

ul.floor_link li.abroad div {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

ul.floor_link li:after {
  content: "";
  display: block;
  height: 410px;
  width: 0;
  border-right: 1px dotted #ccc;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 30;
}

ul.floor_link li:last-child:after {
  z-index: 50;
}

ul.floor_link li.general:before {
  content: "";
  display: block;
  height: 410px;
  width: 0;
  border-right: 1px dotted #ccc;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 50;
}

ul.floor_link.show_pc li div.pc_link,
ul.floor_link.show_sp li div.sp_link {
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
  -ms-transform: none;
  opacity: 1;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  ul.floor_link.show_pc li div.pc_link:not(:target),
  ul.floor_link.show_sp li div.sp_link:not(:target) {
    -ms-transform: translate(0,0);
  }
}

/* キャラクター表示
--------------------------------------------------------- */
ul.floor_link li div:after {
  content: "";
  display: block;
  background: url(../images/web/index/bg_index2_01.png) no-repeat 0 -50px;
  width: 220px;
  height: 220px;
  position: absolute;
  left: 50%;
  margin-left: -110px;
  top: 190px;
  z-index: 30;
}

ul.floor_link li.general div.pc_link:after {
  background-position: 0 -50px;
}

ul.floor_link li.male div.pc_link:after {
  background-position: -220px -50px;
}

ul.floor_link li.female div.pc_link:after {
  background-position: -440px -50px;
}

ul.floor_link li.gay div.pc_link:after {
  background-position: -660px 0;
  height: 270px;
  top: 140px;
}

ul.floor_link li.abroad div.pc_link:after {
  background-position: -880px -50px;
}

ul.floor_link li.general div.sp_link:after {
  background-position: -1100px -50px;
}

ul.floor_link li.male div.sp_link:after {
  background-position: -1320px -50px;
}

ul.floor_link li.female div.sp_link:after {
  background-position: -1540px -50px;
}

ul.floor_link li.gay div.sp_link:after {
  background-position: -1760px -50px;
}

ul.floor_link li.abroad div.sp_link:after {
  background-position: -1980px -50px;
}

/* 各フロアリンクボタン
--------------------------------------------------------- */
ul.floor_link li a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  margin: 0 10px 10px;
  color: #fff;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  z-index: 40;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
}

div#index2_container ul.floor_link li a:hover {
  text-decoration: none;
}

ul.floor_link li.general a {
  background-color: #74b63f;
}

ul.floor_link li.male a {
  background-color: #e3699a;
}

ul.floor_link li.female a {
  background-color: #9e5cb1;
}

ul.floor_link li.gay a {
  background-color: #51a9e7;
}

ul.floor_link li.abroad a {
  background-color: #b64040;
}

ul.floor_link li.general a:hover {
  background-color: #92d45d;
}

ul.floor_link li.male a:hover {
  background-color: #ff87b8;
}

ul.floor_link li.female a:hover {
  background-color: #bc7acf;
}

ul.floor_link li.gay a:hover {
  background-color: #6fc7ff;
}

ul.floor_link li.abroad a:hover {
  background-color: #d45e5e;
}

ul.floor_link li.abroad .pc_link a {
  font-size: 13px;
}

/*----- ALL/R18表記 -----*//*
ul.floor_link li a:before{
content: "";
font-size: 12px;
text-align: center;
font-style: normal;
display: block;
height: 50px;
line-height: 50px;
width: 30px;
position: absolute;
left: 0;
top: 0;
background: url(../images/web/index/icon_index2_01.png) no-repeat 2px -475px;
}

ul.floor_link li.general a:before{
background-color: #5C9132;
background-color: rgba(0,0,0,0.2);
border-color: #497327;
border-color: rgba(0,0,0,0.2);
}

ul.floor_link li.male a:before{
background-color: #B4537A;
background-color: rgba(0,0,0,0.2);
border-color: #8F4261;
border-color: rgba(0,0,0,0.2);
background-position: -38px -475px;
}

ul.floor_link li.female a:before{
background-color: #7D498D;
background-color: rgba(0,0,0,0.2);
border-color: #633A70;
border-color: rgba(0,0,0,0.2);
background-position:-78px -475px;
}

ul.floor_link li.gay a:before{
background-color: #4086B8;
background-color: rgba(0,0,0,0.2);
border-color: #336A92;
border-color: rgba(0,0,0,0.2);
background-position:-118px -475px;
}

ul.floor_link li.abroad a:before{
background-color: #913333;
background-color: rgba(0,0,0,0.2);
border-color: #732828;
border-color: rgba(0,0,0,0.2);
background-position:-158px -475px;
}

ul.floor_link li.general a.r18:before{background-position: 2px -515px;}
ul.floor_link li.male a.r18:before{background-position: -38px -515px;}
ul.floor_link li.female a.r18:before{background-position:-78px -515px;}
ul.floor_link li.gay a.r18:before{background-position:-118px -515px;}
ul.floor_link li.abroad a.r18:before{background-position:-158px -515px;}


/*----- リンクの矢印 -----*/
ul.floor_link li.general a:after {
  color: #538237;
}

ul.floor_link li.male a:after {
  color: #a34b6e;
}

ul.floor_link li.female a:after {
  color: #71427f;
}

ul.floor_link li.gay a:after {
  color: #3a79a6;
}

ul.floor_link li.abroad a:after {
  color: #822e38;
}

ul.floor_link li a:after {
  content: "\f105";
  font-family: FontAwesome;
  font-size: 26px;
  display: block;
  line-height: 50px;
  position: absolute;
  right: 10px;
  top: 0;
  color: rgba(0,0,0,0.3);
  height: 100%;
}

/* QRコード
--------------------------------------------------------- */
ul.floor_link li div.sp_link p {
  text-align: center;
  height: 180px;
  vertical-align: middle;
  position: relative;
  z-index: 40;
}

ul.floor_link li div.sp_link p img {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: alpha(opacity=100);
  zoom: 1;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

ul.floor_link li div.sp_link a {
  text-align: left;
}

ul.floor_link li.gay div.sp_link a {
  line-height: 50px;
}

ul.floor_link li.gay div.sp_link a span {
  position: static;
  margin-top: 0;
}

/* SPリンク表示時
--------------------------------------------------------- */
ul.floor_link li.fadeout div.sp_link p img {
  opacity: 0.05;
  filter: alpha(opacity=5);
  -ms-filter: alpha(opacity=5);
}

ul.floor_link:after {
  content: "QRコードをクリックすると、クリックしたもの以外が半透明になります。読み取り範囲内に複数のQRコードが入って読み込みにくい際にご利用下さい。";
  display: block;
  color: #666;
  font-size: 11px;
  text-align: center;
  position: absolute;
  z-index: 40;
  visibility: hidden;
  opacity: 0;
  background: #fff;
  background: rgba(255,255,255,0.8);
  height: 24px;
  line-height: 24px;
  width: 86%;
  margin: 0 0 0 -43%;
  border-radius: 3px;
  bottom: 16px;
  left: 50%;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

ul.floor_link.show_sp:after {
  visibility: visible;
  opacity: 1;
}

/* ==================================================================================================================
 フッター
================================================================================================================== */
div#index2_footer {
  width: 100%;
}

/*----- 別窓リンク -----*/
div#index2_footer a[target="_blank"] {
  padding: 0 15px;
  background: url(../images/web/common/icon_link_blank_03.gif) no-repeat right 1px;
}

/* footer_box_01 縦並び
--------------------------------------------------------- */
div.footer_box_01 {
  background: #293366;
  padding: 20px 0;
}

div#index2_footer ul {
  overflow: hidden;
}

div#index2_footer ul li {
  width: 20%;
  font-size: 11px;
  float: left;
}

div#index2_footer ul li.col_2 {
  width: 40%;
}

div#index2_footer ul li.col_2 dl {
  overflow: hidden;
}

div#index2_footer ul li.col_2 dl dd {
  width: 50%;
  float: left;
  font-size: 11px;
}

div#index2_footer dl dt {
  font-size: 14px;
  color: #fff;
  border-left: 4px solid #ccc;
  padding-left: 11px;
  margin-bottom: 15px;
}

div#index2_footer dl dd {
  height: 20px;
  line-height: 20px;
  margin-bottom: 5px;
  vertical-align: middle;
}

div#index2_footer dl dd a {
  text-decoration: none;
  color: #fff;
  padding-left: 15px;
}

div#index2_footer dl dd a:hover {
  text-decoration: underline;
}

/* footer_box_02
--------------------------------------------------------- */
div.footer_box_02 {
  height: 60px;
}

div.footer_box_02 p {
  float: left;
  height: 60px;
  line-height: 60px;
  font-size: 11px;
  color: #666;
}

div.footer_box_02 p.geo {
  float: right;
  background: url(../images/web/index/icon_index2_01.png) no-repeat 0 -570px;
  padding-left: 60px;
}
