@charset "utf-8";
/* CSS Document */

/* =========================================================
　リセット
========================================================= */

html{
  overflow-y: scroll;
}

div,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ul,ol,li,
brockquote,pre,table,caption,th,td,address,
form,fieldset,legend,img{
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
  text-align: left;
}

table{
  border-spacing: 0;
  border-collapse: collapse;
}

/* for IE */
*:first-child+html table{
  border-spacing: 0;
  border-collapse: collapse;
} 

* html table{
  border-spacing: 0;
  border-collapse: collapse;
}
/* for IE end */

li{ list-style-type: none;}

input{ font-size: 12px;}

textarea{ font-size: 100%;}

img{ vertical-align: bottom;}

a img{ border: none;}

fieldset{border: 0;}

