@charset "UTF-8";
/* CSS Document */

/* Title */
div.gaming_title {margin:0;padding:40px 0 0 1px;width: 227px;background:url(../images/panels/panel_titles_magicles/gaming.png) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}
div.tileoraseis_title {margin:0;padding:40px 0 0 1px;width: 227px;background:url(../images/panels/panel_titles_magicles/tileoraseis_category.png) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}
div.fotografia_title {margin:0;padding:40px 0 0 1px;width: 227px;background:url(../images/panels/panel_titles_magicles/camera_icon.png) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}
div.ihos_title {margin:0;padding:40px 0 0 1px;width: 227px;background:url(../images/panels/panel_titles_magicles/hxos_category.png) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}
div.kids_title {margin:0;padding:40px 0 0 1px;width: 227px;background:url(../images/panels/panel_titles/kids_and_toys.gif) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}
div.digital-cameras_title {margin:0;padding:40px 0 0 1px;width: 227px;background:url(../images/panels/panel_titles/digital-cameras.jpg) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}
div.gadgets-and-gifts_title {margin:0;padding:40px 0 0 1px;width: 227px;background:url(../images/panels/panel_titles/gadgets-and-gifts.jpg) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}
div.mobile-mp3-gps_title {margin:0;padding:40px 0 0 1px;width: 227px;background:url(../images/panels/panel_titles/mobile-mp3-gps.jpg) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}
div.music_title {margin:0;padding:40px 0 0 1px;width: 227px;background:url(../images/panels/panel_titles_magicles/music.png) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}
div.sound-and-vision_title {margin:0;padding:40px 0 0 0;width: 228px;background:url(../images/panels/panel_titles_magicles/sound-and-vision.png) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}
div.books_title {margin:0;padding:40px 0 0 1px;width: 227px;background:url(../images/panels/panel_titles_magicles/books.png) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}
div.films_title {margin:0;padding:40px 0 0 1px;width: 227px;background:url(../images/panels/panel_titles_magicles/films.png) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}
div.comics_title {margin:0;padding:40px 0 0 1px;width: 227px;background:url(../images/panels/panel_titles_magicles/comics.png) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}
div.kids-and-toys_title {margin:0;padding:40px 0 0 1px;width: 227px;background:url(../images/panels/panel_titles_magicles/kids-and-toys.png) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}
div.xartika_title {margin:0;padding:40px 0 0 1px;width: 227px;background:url(../images/panels/panel_titles_magicles/xartika.png) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}
div.sxolika_title {margin:0;padding:40px 0 0 1px;width: 227px;background:url(../images/panels/panel_titles_magicles/sxolika.png) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}
/*div.xartika_title {margin:0;padding:40px 0 0 1px;width: 227px;background:url(../images/panels/panel_titles_magicles/xartika.png) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}*/
div.rologia_title {margin:0;padding:40px 0 0 1px;width: 227px;background:url(../images/panels/panel_titles/watches.jpg) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}
div.dora_title {margin:0;padding:40px 0 0 1px;width: 227px;background:url(../images/panels/panel_titles_magicles/gifts.png) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}
div.computers-and-software_title {margin:0;padding:40px 0 0 1px;width: 227px;background:url(../images/panels/panel_titles_magicles/computers-and-software.png) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}
/*div.stationery-office-supplies_title {margin:0;padding:40px 0 0 1px;width: 227px;background:url(../images/panels/panel_titles_magicles/stationery-office-supplies.jpg) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}*/
div.filter_title {margin:0;padding:40px 0 0 1px;width:180px;background:url(../images/panels/panel_titles/filter.gif) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}
div.filter_games_title {margin:20px 0 0 0;padding:40px 0 0 1px;width:180px;background:url(../images/panels/panel_titles/filter_games.gif) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}
div.refine_results_title {margin:0;padding:40px 0 0 1px;width: 227px;background:url(../images/panels/panel_titles_magicles/refine_results.png) left top no-repeat #fff;overflow:hidden;height:0; /* margin-left: -9px!important;border: none!important; */border-left: 1px solid #c4c4c4;border-right: 1px solid #c4c4c4;}
div.tilefonia_title {margin:0;padding:40px 0 0 1px;width: 227px;background:url(../images/panels/panel_titles_magicles/telephony.png) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}
div.tablets_title {margin:0;padding:40px 0 0 1px;width: 227px;background:url(../images/panels/panel_titles_magicles/tablets.png) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}
div.apple_title {margin:0;padding:40px 0 0 1px;width: 227px;background:url(../images/panels/panel_titles_magicles/apple.png) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}
div.aksesoyar_title {margin:0;padding:40px 0 0 1px;width: 227px;background:url(../images/panels/panel_titles_magicles/accessories.png) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}
div.perifereiaka_title {margin:0;padding:40px 0 0 1px;width: 227px;background:url(../images/panels/panel_titles_magicles/peripherals.png) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}
div.gadgets-gps_title {margin:0;padding:40px 0 0 1px;width: 227px;background:url(../images/panels/panel_titles/gadget.gif) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}
div.wearables-gadgets_title {margin:0;padding:40px 0 0 1px;width: 227px;background:url(../images/panels/panel_titles_magicles/wearables-gadgets.png) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}
div.stationery-gifts_title {margin:0;padding:0px 0 0 1px;width: 227px;background:url(../images/panels/transparent_top.png) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}
div.company_info_title {margin:0;padding:0px 0 0 1px;width: 227px;background:url(../images/panels/transparent_top.png) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}
div.service_title {background: url('../images/panels/panel_titles_magicles/service.png') no-repeat scroll left top #fff;margin: 0px;margin-left: -9px!important;border: none!important;padding: 45px 0px 0px 1px;width: 227px;overflow: hidden;height: 0px;background-position: 5px 0;}
div.epohiaka-eidi_title { margin: 0;    padding: 40px 0 0 1px;    width: 227px;    background: url(../images/panels/panel_titles_magicles/summer_fun.png) left top no-repeat;    overflow: hidden;    height: 0;    margin-left: -9px!important;border: none!important;}
div.monadikes-efkairies_title {margin:0;padding:40px 0 0 1px;width: 227px;background:url(../images/panels/panel_titles_magicles/monadikes-efkairies.png) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}
div.teleytaia-kommatia_title {margin:0;padding:40px 0 0 1px;width: 227px;background:url(../images/panels/panel_titles_magicles/super-eukairies.jpg) left top no-repeat;overflow:hidden;height:0; margin-left: -9px!important;border: none!important;}
div.sales_title { margin: 0; padding: 40px 0 0 1px; width: 227px; background: url(../images/panels/panel_titles_magicles/2sales2016.png) left top no-repeat; overflow: hidden; height: 0; margin-left: -9px!important; border: none!important;}
.srvFunctionTitle { background: url('../images/panels/panel_titles/srvlogo.png') no-repeat scroll center top #fff; margin: 0px; padding: 40px 0px 0px 1px; width: 227px; overflow: hidden; height: 0px; margin-left: -9px!important;border: none!important; color: #fff;}

#promo {
	width:505px;
	/*background-color:#FFF;*/
	margin:0 0 5px 0px;
}


/* Panels */
.panel_content_49 {width:212px; padding:9px 9px 0 9px;line-height:90%; height:49px; min-height:49px}
.panel_content_700 {width:210px; padding: 9px 9px 40px 9px;line-height:90%; height: auto!important; background-color:#FFF; border-radius: 5px;margin-bottom: 14px;position: relative;}
.panel_content_700_yellow {width: 210px; padding: 9px 9px 40px 9px; line-height: 90%; height: auto !important; height: 700px; background-color: #FFF; border-radius: 5px; margin-bottom: 15px; position: relative;}
.panel_content_999 {width:210px; padding:9px 9px 0 9px;line-height:90%; min-height:278px; height:auto !important; height:278px; background-color:#FFF; border-left:solid 1px #c4c4c4; border-right:solid 1px #c4c4c4; }
.panel_content_828 {width:210px; padding:9px 9px 0 9px;line-height:90%; min-height:828px; height:auto !important; height:828px; background-color:#FFF; border-left:solid 1px #c4c4c4; border-right:solid 1px #c4c4c4;}
.panel_content_1084 {width:210px; padding:9px 9px 0 9px;line-height:90%; min-height:1084px; height:auto !important; height:1084px; background-color:#FFF; border-left:solid 1px #c4c4c4; border-right:solid 1px #c4c4c4;}
.panel_content_1578 {width:212px; padding:9px 9px 0 9px;line-height:90%; min-height:100px; height:auto !important; height:100px; background-color:#FFF; }
.panel_container_size_D {width:230px;min-height:122px;height:auto !important;height:122px; margin:0 0 6px 0; background-color:#FFF;}
.panel_container_size_E {width:230px;min-height:72px;height:auto !important;height:72px; margin:0 0 6px 0; background-color:#FFF;}

.panel_product_505x72 { float:left; width:505px;min-height:72px;height:auto !important;height:72px; line-height:90%; margin:0 0 6px 0; /*background-color:#E1EEF7;*/ }
.panel_product_505x72 .content_container { background-color:#e0edf6;}
.panel_product_505x72.last {margin:0;}
.panel_product_505x122 { float:left; width:505px;min-height:122px;height:auto !important; height:122px; line-height:90%; margin:0 0 6px 0; background:url(../images/panels/white_bottom_505x10.png) bottom left no-repeat; }
.panel_product_505x122 .column1 { float:left; width:160px; }
.panel_product_505x122 .column2 {
float:left;
width: 165px;
margin-right: 0px;
margin-left: 10px;

}


/*.panel_product_505x122 .column2 { float:left; width:174px; margin-right:10px; }*/
.panel_product_505x122 .column3 { 
	float: left;
	width: 149px;
	height: 98%;
	position: relative;
	margin: 0px 0px 0px 10px;
}
.panel_product_505x122 .column3 img { margin:5px 0 }
.panel_product_505x122 .panel_content { width:503px; height:105px; float:left; position: relative; margin-bottom:7px; border-left:solid 1px #c4c4c4; border-right:solid 1px #c4c4c4; background-color:#FFF; }
/*.panel_product_505x122 .panel_content .image { max-height:120px; max-width:110px; margin:0px 0 2px 35px; }*/
.panel_product_505x122 .panel_content .image {
max-width: 160px;
margin:0px auto 0px auto;
max-height:120px;
}
.panel_product_505x122 .panel_content .price { font-size:110%; text-align:right; height:16px; margin-top:10px;}
.panel_product_505x122 .panel_content .price.weboffer {margin:10px 0px !important; height:8px;text-align:left;}
/*.panel_product_505x122 .panel_content .additional_info { font-size:60%; width:150px;}*/
.panel_product_505x122 .panel_content .additional_info { margin-bottom:0px; text-align:left; font-weight:normal;/*font-size:70%; */margin-top:-10px;  color:/*#666666*/#636363;}
.panel_product_505x122 .panel_content .additional_info .discount { font-weight:bold; color:#009b7a;margin-top:4px;font-size:11px;}
.panel_product_505x122 .panel_content .additional_info .initial{ color:#474747;margin-top:0px;font-size:11px;}
.panel_product_505x122 .panel_content .weboffertext {float:left; font-size:11px;}
.panel_product_505x122 .panel_content .additional_info p { font-size:90%; padding-bottom:5px; }
.panel_product_505x122 .panel_content .Cat-button {float:right; margin-top:10px;position:absolute;right:17px;bottom:0;} 

.panel_product_505x122 .panel_content .status_message { /*font-size:70%*/font-size:60%; font-weight:normal; margin:5px 0 5px;color:#474747; overflow: auto;}
.panel_product_505x122 .panel_content .rating_panel { float:left; margin-top:0px; margin-bottom:10px; font-size:70%; width:165px;}
.panel_product_505x122 .panel_content .rating_panel_table { float:left; margin-top:5px; margin-bottom:10px; font-size:75%; width:165px;}
.panel_product_505x122 .panel_content .rating_panel_table a { color:#1111CC; font-weight:normal; }
.panel_product_505x122 .panel_content .rating_panel_table .stars { float:right;}

.panel_product_505x2830 {float:left; width:505px;min-height:500px;height:auto !important;height:500px; line-height:90%;/*background-color:#FFF;*/ /*background:url(../images/site_template/middle_content_tile.gif) 0 0 repeat-y;*/ margin:0 0 6px 0;}
.panel_product_505x2830 .panel_content{background-color:#FFF; border-left:solid 1px #c4c4c4; border-right:solid 1px #c4c4c4; background-color:#FFF;}
.panel_product_505x2830 .product { padding:10px 15px 10px 15px; /*border-left:solid 1px #c4c4c4; border-right:solid 1px #c4c4c4;*/}
.panel_product_505x2830 .product .left_column { float:left; width:160px; }
.panel_product_505x2830 .product .left_column .btn_enlarge { /*margin: 6px 0 0 10px*/ margin-top:10px; margin-bottom:2px; }
.panel_product_505x2830 .product .left_column .add_this { width:100%; float:left;padding-top:10px; padding-bottom:10px; }
.panel_product_505x2830 .product .second_large_column{ float:left; width:306px; }

.panel_product_505x2830 .product .middle_column { float:left; width:166px; }
.panel_product_505x2830 .product .middle_column .sap-info { float:left; width:100%; margin-top:10px;}
.panel_product_505x2830 .product .middle_column .sap-info p { margin-bottom:5px !important; color:#999; }

.panel_product_505x2830 .product .right_column { float:left; width:146px; border-left: 1px solid #DCDCDC;}

.panel_product_505x2830 .product .item { /*margin-bottom:3px;*/margin-bottom:0px; font-size:70% }
.panel_product_505x2830 .product h4 { /*font-size:110%*/font-size:14px; font-weight:bold; /*margin-bottom:10px;*/ line-height:110%;margin-top:5px;margin-bottom:5px;}
.panel_product_505x2830 .product h5.subtitle { font-size:80%; font-weight:bold; font-style:italic; /*margin-bottom:5px;*/ line-height:18px;}
.panel_product_505x2830 .product h5.authors { font-size:72%; font-weight:bold;  /*margin-bottom:5px;*/ line-height:110%;}
.panel_product_505x2830 .product .ean { font-size:70% ;margin-bottom:0px;}
.panel_product_505x2830 .product .btn_share { /*margin:6px 0 0 15px;*/ margin-top:5px;}
.panel_product_505x2830 .product .buttons li { float:left; padding-right:8px }
.panel_product_505x2830 .product .buttons li.last-child { padding-right:0 }
.panel_product_505x2830 .product .rating_panel { float:left; margin-top:0px; margin-bottom:10px; font-size:70%; width:165px;}
.panel_product_505x2830 .product .rating_panel_table { float:left; margin-top:5px; margin-bottom:10px; font-size:75%; width:165px;}
.panel_product_505x2830 .product .rating_panel_table a { color:#1111CC; font-weight:normal; }
.panel_product_505x2830 .product .rating_panel_table .stars { float:right;}


.panel_product_505x2830 .product .add_this { float:left; margin-top:5px; margin-bottom:10px ; width:165px;}

.panel_product_505x2830 .product .price { /*background:url(../images/general/public_price_product.gif) no-repeat; */height:21px; font-size:100%; text-align:right; /*margin:10px 0px !important;*/}
.panel_product_505x2830 .product .price.weboffer {/*background:url(../images/general/web_offer_product.gif) no-repeat;width:295px;*/height:21px; margin:10px 0px !important; text-align:left;}
.panel_product_505x2830 .product .additional_info { margin-bottom:0px; text-align:left; font-weight:normal;/*font-size:70%; */margin-top:10px;  color:/*#666666*/#636363;margin-left:3px;}
.panel_product_505x2830 .product .additional_info .discount { font-weight:bold; color:#009b7a;margin-top:3px;font-size:70%;}
.panel_product_505x2830 .product .additional_info .initial{ color:#636363;margin-top:3px;font-size:70%;}
.panel_product_505x2830 .product .additional_info .weboffertext {float: left; font-size: 70%;}
.panel_product_505x2830 .product .additional_info p { font-size:90%; padding-bottom:5px; }

.panel_product_505x2830 .product .status_message { font-size:70%; /*margin:5px 0 12px 0;*/ font-size:70%; margin-bottom:10px; margin-top:4px;text-align:right;margin-left:3px;}
.panel_product_505x2830 .product .status_message span { color:/*#FE5200*/#1111CC; margin-bottom:10px;	}
.panel_product_505x2830 .product p { line-height:1em; font-size:80%; margin-bottom:1em }
.panel_product_505x2830 .product .Cat-button {float:right; margin-top:10px;margin-left:3px;}
.panel_product_505x2830 .product .first_button {margin-bottom:5px; min-height:19px; float:left;}
.panel_product_505x2830 .product .horizontal_image {float:left;margin-top:5px;}

.panel_product_505x2830 .product h3 { /*background:url(../images/general/content_title_top.gif) no-repeat 0 0;*/ padding-top:6px; padding-bottom:6px; font-size:100%; /*margin:10px 0px; */}
/*.panel_product_505x2830 .product h3 span { display:block; background:#D7E7F4 url(../images/general/content_title_bottom.gif) no-repeat 0 100%; padding:5px 5px 12px 15px; width:440px;font-size:90%;  }*/
.panel_product_505x2830 .product h3 span { display:block; background:url(../images/general/content_title.jpg) no-repeat 0 100%; padding:5px 5px 9px 15px; width:475px;font-size:80%;  }

ul.quick_links { margin:36px 0 18px 0;}
ul.quick_links li { color:#FE5200; font-size:75%; display:inline; padding-right:16px}
ul.additional_information { margin-left:10px }
ul.additional_information li { font-size:70%; font-weight:bold }
ul.additional_information li span { padding-left:4px; /*color:#FE5200*/ font-weight:normal; }
ol.additional_information { margin-left:10px; list-style-type:decimal; list-style-position:outside; padding-left:20px; line-height:15px; margin-top:5px; }
ol.additional_information li { /*font-size:70%*/font-size:10px; font-weight:bold; color:#FE5200;}
ol.additional_information li span { padding-left:4px; color:#333333 }


table.additional_information { margin-left:5px; padding-left:20px; line-height:15px; font-size:100%; margin-bottom:5px; width:465px;margin-top:5px; }
table.additional_information td { font-size:70%; font-weight:bold;  vertical-align:top }
table.additional_information td span {/* padding-left:4px; color:#FE5200*/ font-weight:normal; }
table.additional_information td.additional_information_td_book { width:30% }
table.additional_information td.additional_information_td_media { width:40% }
table.additional_information td.additional_information_td_tech { width:40%; padding-bottom:3px; }

.product .description, 
.product .video {margin:10px 0 10px 0px; width:465px; font-size: 11px; line-height: 18px; text-align: justify;}
.product .screenshots {margin:10px 0px 10px 0px; width:455px;float:right;}
.product .trailer_link {margin-bottom:0px; font-size: 75%; margin-left:17px;}
.product .customer_reviews { padding:0 10px; margin-top:5px; }
.product .customer_reviews ul.actions { padding-bottom:10px; border-bottom: 2px dotted #C2C2C2 }
.product .customer_reviews ul.actions li { display:inline; /*font-size:75%;*/font-size:11px; padding-right:10px }
.product .customer_reviews div.rating { 
	background:url(../images/general/star_white.gif); 
	float:right; 
	margin-top:5px 
}

.product .customer_reviews div.rating_star1 { 
	background:url(../images/general/star_white1.gif); 
	float:right; 
	margin-top:5px; 
	height:14px;
	width:80px;
}
.product .customer_reviews div.rating_star2 { 
	background:url(../images/general/star_white2.gif); 
	float:right; 
	margin-top:5px;
	height:14px;
	width:80px;
}
.product .customer_reviews div.rating_star3 { 
	background:url(../images/general/star_white3.gif); 
	float:right; 
	margin-top:5px;
	height:14px;
	width:80px; 
}
.product .customer_reviews div.rating_star4 { 
	background:url(../images/general/star_white4.gif); 
	float:right; 
	margin-top:5px;
	height:14px;
	width:80px;
}
.product .customer_reviews div.rating_star5 { 
	background:url(../images/general/star_white5.gif); 
	float:right; 
	margin-top:5px;
	height:14px;
	width:80px; 
}

.product .customer_reviews h4 { /*font-size:75%;*/font-size:11px; margin-bottom:0; font-weight:bold; clear:both; line-height:18px; }
.product .customer_reviews p { font-size:11px; line-height:18px; }
.product .customer_reviews p.full_review { padding-bottom:10px; border-bottom: 2px dotted #C2C2C2 }

.panel_white_top_143x7 {background: url("../images/panels/white_top_150x7.png") no-repeat scroll left top transparent; height:7px; margin:0px; width:150px}
.panel_grey_bottom_143x7 {background: url("../images/panels/grey_bottom_150x7.png") no-repeat scroll left top transparent; height:7px; width:150px}

.product .customer_purchases .panel_product_155 {padding-left:2px; }

.product .customer_purchases {border:none; margin-left:4px;}
.product .customer_purchases .panel_content {border:none; background: url("../images/panels/grey_grad_bottom_150x236.gif") no-repeat scroll left top #FFFFFF; color:#666666; height: auto !important; min-height: 232px; overflow:hidden; padding:2px 4px; width:142px;}
.product .customer_purchases h4 { font-size:65%; font-weight:bold; /*line-height:90%;*/ }
.product .customer_purchases h3 { font-size:65%; background:none; margin-bottom:0; line-height:120%; }
.product .customer_purchases .additional_info {font-size:59%; line-height:130%; margin:2px 0 0; text-align:left; display:block; height:15px; overflow:hidden}
.product .customer_purchases .price { font-size:90%; margin:0; text-align:right; /*background:url(../images/general/public_price.png) no-repeat;*/ height:16px;}
.product .customer_purchases .price.weboffer {/*background:url(../images/general/web_offer.png) no-repeat;*//*width:150px;*/font-size:80%;height:16px; margin:2px 0px !important; }
.product .customer_purchases .price.weboffer .weboffertext {float:left; font-size:75%;}
.product .customer_purchases .btn_add_to_basket {/*margin-left:26px;*/margin: 10px auto 0}

.product .customer_purchases .panel_product_155 .category_title { margin:0;/*min-height:25px*/ height:8px; overflow:hidden;}
.product .customer_purchases .panel_product_155 .product_title {margin:0; height: 30px; overflow:hidden; display: block; line-height:140%;}
.product .customer_purchases .panel_product_155 .product_title_small {margin:0;}

ul.panel_split { margin:0; padding:0; background-color:#B7B7B7 }
ul.panel_split li.first_child { margin-bottom:6px }


/* Search Filter */
#filterformtop, #filterformbottom { min-height:48px; height:auto !important; height:58px; padding-top:0px; }
#filterformtop fieldset,
#filterformbottom fieldset { border:none }
.custom_filter { font-size:80% }
.custom_filter .custom_filter_content { background-color:#e0edf6;}
.custom_filter .left_column { float:left; width:234px; padding-left:18px}
.custom_filter .right_column { float:left; width:234px; padding-right:18px; text-align:right }
.custom_filter p.display_info { margin-bottom:20px }
.custom_filter ol.pagination {  }
.custom_filter ol.pagination li { display:inline; font-weight:bold; color:#F37521; }
.custom_filter .row1 { margin-bottom:15px }
.custom_filter #items_per_page { width:50px }
.custom_filter #sort_by { width:120px }


/* Filters */
#filters {background-color:#FFF;margin-top: 0;font-family:'Open Sans', Arial}
.filter { width:210px; height:50px; margin-top:5px; font-size:75%; padding:5px 0 5px 0; background:url(../images/general/facets_bkg.gif) top left no-repeat;}
.filter h3 {/*color:#fd5200*/color:#333333; display:block; width:185px; padding:2px 4px 3px 4px; text-align:right;}
.filter ol { list-style:none;}
.filter ol li { padding:2px 0 2px 0; font-size:90%;}
.filter ol li a { background:none; color:#000; padding:0 0 0 16px;}
.filter .selected { color:#fe5200;}
.filter .star_rating {}
.filter .star_rating .imageStar {padding:0 0 0 16px; margin:0;}
.filter .star_rating .selected {background:url(../images/general/cross.gif) no-repeat 0 3px;}


/* Ratings */
div.rating_panel { width:135px; height:/*45*/15px; padding:4px; /*background:url(../images/panels/rating_panel.gif) no-repeat 0 0;*/ margin:4px 0 5px 0; font-size:80%; padding-left:0px; }
div.rating_panel h5 { margin-bottom:3px }

div.rating { 
	/*background:url(../images/general/star.gif) repeat-x top left; height:14px*/ 
}

div.rating span { 
	position:absolute; 
	left:-5000px 
}

div.rating.star1 { 
	width:70px;
	background:url(../images/general/rating/star_1.gif)  ; height:14px
}

div.rating.star2 { 
	width:70px;
	background:url(../images/general/rating/star_2.gif) ; height:14px
}

div.rating.star3 { 
	width:70px;
	background:url(../images/general/rating/star_3.gif) ; height:14px
}

div.rating.star4 { 
	width:70px;
	background:url(../images/general/rating/star_4.gif) ; height:14px
}

div.rating.star5 { 
	width:70px;
	background:url(../images/general/rating/star_5.gif) ; height:14px
}

ul#screenshots { width:436px;}
ul#screenshots li { width:140px; float:left; margin:8px 8px 0 0 }
ul#screenshots li.nth_child { margin-right:0 }
ul#screenshots li.last_child { margin-right:0 }

.product .description h2 {
font-size: 11px;
line-height: 18px;
margin-bottom: 1em;
}

.panel_product_505x2830 .product .description p {
	font-size: 11px;
	line-height: 18px;
	text-align: justify;
}

#inqC2CImgContainer {
    float: right;
    right: 0;
    position: relative;
    top: 0;
    margin-left: 10px;
}
#wrapper_ {
	padding-top:5px;
}

.select.single.open .select-container, .select.single .select-container {
	margin-top:2px !important;
	margin-left:-3px !important;
	width:98% !important;
}
.select.single.open .select-arrow {
	background-image: url("../images/cout-ui/ui-new.png");
	background-position: -39px -47px !important;
}

h2.filter_title {
    display: none;
}