
div.horizontalHalf {
    width: 49.5%;
    float: left;
    clear: inherit;
}

.horizontalRenderer .tabs, .verticalRenderer .tabs { 
   /* border-bottom: 1px solid #ccc; */ 
   list-style: none;
   /* margin: 0; */ 
   /* padding: 10px 5px 1px 5px; */
   zoom:1; 
   border: none;
}
.horizontalRenderer .tabs:after, .verticalRenderer .tabs:after  { 
   display: block; 
   clear: both; 
   content: " "; 
}

.horizontalRenderer .product-item-box .product-item-subtitle a:hover, .verticalRenderer .product-item-box .product-item-subtitle a:hover {
    text-decoration: underline;
}

.horizontalRenderer .tabs li, .verticalRenderer .tabs li {
   float: left; 
   /* margin: 0 1px 0 0; */ 
   padding: 5px; 
   /* width: 16.6666666667%; */
   box-sizing: border-box;
   background: transparent;
   text-align: center;
   /* border: 1px solid #b1b1b1; */
   border-right: 0;
   /* height: 31px!important; */
}

.horizontalRenderer ul, .verticalRenderer ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    /* height: 300px; */
    z-index: 0;
}

.horizontalRenderer.ui-tabs .ui-tabs-nav .ui-tabs-anchor, .verticalRenderer.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
   display: block; 
   position: relative; 
   top: 1px; 
   border: none;
   border-bottom: 0; 
   z-index: 2; 
   padding: 6px 9px; 
   color: #313131; 
   /* text-decoration: none; */
   white-space: nowrap;
   background: none!important;
   text-align: center;
   width: 100%;
   box-sizing: border-box;
   line-height: 22px;
   font-size: 18px;
   font-weight: 400;
   opacity: 0.6;
}
.horizontalRenderer .tabs a:focus,
.horizontalRenderer .tabs a:active,
.verticalRenderer .tabs a:focus,
.verticalRenderer .tabs a:active  { 
   outline: none; 
}
.horizontalRenderer .tabs a:hover,
.horizontalRenderer .tabs a:focus,
.horizontalRenderer .tabs a:active,
.verticalRenderer .tabs a:hover,
.verticalRenderer .tabs a:focus,
.verticalRenderer .tabs a:active { 
   /* background: #fff; */ 
   cursor: pointer; 
}
.horizontalRenderer.ui-tabs-active a, .verticalRenderer.ui-tabs-active a { 
   /* background-color: #fff; */ 
   color: #fff; 
   font-weight: bold; 
   padding: 2px 8px 1px; 
   /* border-bottom: 1px solid #fff; */ 
   /* border-top: 3px solid #fabd23; */ 
   /* border-left: 1px solid #fabd23; */ 
   /* border-right: 1px solid #fabd23; */ 
   margin-bottom: -1px; 
   overflow: visible;
}
.horizontalRenderer.ui-tabs-hide, .verticalRenderer.ui-tabs-hide { 
   display: none; 
   background-color: #fff 
}
.horizontalRenderer.ui-tabs-panel, .verticalRenderer.ui-tabs-panel {
   padding: 0.5em;
}
.horizontalRenderer.ui-tabs-paging-next, .verticalRenderer.ui-tabs-paging-next { 
   float: right !important;
}
.horizontalRenderer.ui-tabs-paging-prev a,
.horizontalRenderer.ui-tabs-paging-next a,
.verticalRenderer.ui-tabs-paging-prev a,
.verticalRenderer.ui-tabs-paging-next a  {
   display: block; 
   position: relative; 
   top: 1px; 
   border: 0;
   z-index: 2; 
   padding: 0px; 
   color: #444; 
   text-decoration: none;
   background: #eee; 
   cursor: pointer;
}
.horizontalRenderer.ui-tabs-paging-next a:hover,
.horizontalRenderer.ui-tabs-paging-next a:focus,
.horizontalRenderer.ui-tabs-paging-next a:active,
.horizontalRenderer.ui-tabs-paging-prev a:hover,
.horizontalRenderer.ui-tabs-paging-prev a:focus,
.horizontalRenderer.ui-tabs-paging-prev a:active,
.verticalRenderer.ui-tabs-paging-next a:hover,
.verticalRenderer.ui-tabs-paging-next a:focus,
.verticalRenderer.ui-tabs-paging-next a:active,
.verticalRenderer.ui-tabs-paging-prev a:hover,
.verticalRenderer.ui-tabs-paging-prev a:focus,
.verticalRenderer.ui-tabs-paging-prev a:active { 
   background: #eee; 
}
.horizontalRenderer.ui-tabs-paging-disabled, .verticalRenderer.ui-tabs-paging-disabled {
   visibility: hidden;
}

.horizontalRenderer .dynRecom, .verticalRenderer .dynRecom {
    width: 699px;
}

.horizontalRenderer .tabs li:first-child, .verticalRenderer .tabs li:first-child {
    border-top-left-radius: 2px;    
}

.horizontalRenderer .tabs li:last-child, .verticalRenderer .tabs li:last-child {
    border-top-right-radius: 2px;
    /* border-right: 1px solid #aaa; */
}

.horizontalRenderer.ui-tabs-panel, .verticalRenderer.ui-tabs-panel {
    border: 1px solid #b1b1b1;
    border-top: 0;
    overflow: auto;
    padding: 0;
    padding-left: 10px;
    min-height: 300px;
    box-sizing: border-box;
}

.horizontalRenderer .product-item-box, .verticalRenderer .product-item-box {
    width: 140px;
    float: left;
    margin: 40px 10px 0px!important;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 250px;
}

.horizontalRenderer .product-item-photo, .verticalRenderer .product-item-photo {
    width: 100%;
    overflow: hidden;
    height: 150px;
    position: relative;
    margin-bottom: 10px;
}

.horizontalRenderer .product-item-photo img.image, .verticalRenderer .product-item-photo img.image {
    max-width: 100%!important;
    /* max-height: 100px; */
    max-height: 100%;
    /* min-height: 100px; */
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: inherit;
}


.horizontalRenderer .product-item-box:first-child, .verticalRenderer .product-item-box:first-child {
    margin-left: 0;
}

.horizontalRenderer .product-item-box .product-item-subtitle a, .verticalRenderer .product-item-box .product-item-subtitle a {
    color: #313131;
    text-decoration: none;
    font-size: 13px;
    /* font-weight: 600; */
    text-align: center;
}

.horizontalRenderer .product-item-subtitle, .verticalRenderer .product-item-subtitle {
    line-height: 17px;
    height: 35px;
    overflow: hidden;
    margin-bottom: 10px;
    text-align: center;
    clear: both;
}

.horizontalRenderer h3.category_title, .verticalRenderer h3.category_title {
    font-size: 12px;
    margin: 5px 0;
}

.horizontalRenderer .product-item-prices, .verticalRenderer .product-item-prices {
    color: #f15a22;
}

.horizontalRenderer a.rec-order-btn, .verticalRenderer a.rec-order-btn {
    background: url("http://www.public.gr/assets/images/panels/buttons/basket_btn_new.png") no-repeat scroll 0 0 transparent;    display: block;    height: 25px;    margin: 10px auto 0;    text-indent: -9999px;    width: 103px;
}

.recid {
    position: relative;
    display: block;
    /* max-height: 501px; */
    clear: both;
    margin-bottom: 30px;
    padding-top: 25px;
    background-color: #edf2f5;
}

.horizontalRenderer.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0;
    background: none;
    height: 33px;
    line-height: 35px;
    box-sizing: border-box;
    /* overflow: hidden; */
    width: 150%;
}

.horizontalRenderer.ui-tabs .ui-tabs-nav li, .verticalRenderer.ui-tabs .ui-tabs-nav li {
    padding: 0 5px;
    margin: 0;
    height: 33px;
    /* border-radius: 0; */
    border-radius: 5px 5px 0 0;
    margin-left: 20px;
}

.horizontalRenderer.ui-tabs .ui-tabs-nav li.ui-state-active, .verticalRenderer.ui-tabs .ui-tabs-nav li.ui-state-active {
    /* background: #fff; */
    margin-left: 0;
    border-radius: 5px 5px 0 0;
    height: 100%;
    border: none;
    box-shadow: none;
}

.horizontalRenderer.ui-tabs .ui-tabs-nav .ui-state-active .ui-tabs-anchor, .verticalRenderer.ui-tabs .ui-tabs-nav .ui-state-active .ui-tabs-anchor {
    color: #313131;
    font-size: 18px;
    font-weight: 600;
    opacity: 1;
    margin-bottom: 0;
    padding-bottom: 4px;
    margin: 0 5px;
    width: 93%;
    box-sizing: border-box;
}
.horizontalRenderer .jcarousel-clip.jcarousel-clip-horizontal, .verticalRenderer .jcarousel-clip.jcarousel-clip-horizontal {
    overflow: hidden;
    height: auto;
    width: 664px!important;
    margin: auto;
}

.horizontalRenderer .jcarousel-next.jcarousel-next-horizontal, .verticalRenderer .jcarousel-next.jcarousel-next-horizontal {
    background: transparent url(/assets/public/new/images/recommendations/recomRight.png) no-repeat;
    position: absolute;
    top: 7px;
    right: 6px;
    width: 27px;
    height: 27px;
    cursor: pointer;
    display: block!important;
    -webkit-user-select: none;/* Chrome all / Safari all */
    -moz-user-select: none;/* Firefox all */
    -ms-user-select: none;/* IE 10+ */
    user-select: none;
}

.horizontalRenderer .jcarousel-prev.jcarousel-prev-horizontal, .verticalRenderer .jcarousel-prev.jcarousel-prev-horizontal {
    background: transparent url(/assets/public/new/images/recommendations/recomLeft.png) no-repeat;
    position: absolute!important;
    top: 7px;
    left: auto;
    width: 27px;
    height: 27px;
    cursor: pointer;
    right: 33px;
    display: block!important;
    -webkit-user-select: none;/* Chrome all / Safari all */
    -moz-user-select: none;/* Firefox all */
    -ms-user-select: none;/* IE 10+ */
    user-select: none;
}

.horizontalRenderer.ui-tabs .ui-tabs-panel {
    width: 100%;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: 0;
    margin: auto;
}

.horizontalRenderer .jcarousel-next.jcarousel-next-horizontal.jcarousel-next-disabled, .horizontalRenderer .jcarousel-prev.jcarousel-prev-horizontal.jcarousel-prev-disabled,
.verticalRenderer .jcarousel-next.jcarousel-next-horizontal.jcarousel-next-disabled, .verticalRenderer .jcarousel-prev.jcarousel-prev-horizontal.jcarousel-prev-disabled {
    /* background: none; */
    opacity: 0.6;
    cursor: default;
}

.horizontalRenderer .product-item-prices, .verticalRenderer .product-item-prices {
    font-size: 10px;
    text-align: center;
    position: relative;
    line-height: 15px;
}

#recid3 {
    /* max-height: 630px; */
}

.dynRecom .jcarousel-item-vertical,
.dynRecom .jcarousel-item-placeholder-vertical {
    height: auto;
    padding-left: 0;
    padding-right: 0;
    margin-left: 7px!important;
    margin-right: 0!important;
}
.dynRecom .jcarousel-container-vertical {
    width: 100%;
    height: 840px;
    border: 1px solid #fff;
    overflow: auto;
}
.dynRecom .jcarousel-clip-vertical {
    width: 100%;
    height: 840px;
    z-index: 20;
    overflow: hidden;
    clear: both;
}

.jcarousel-next.jcarousel-next-vertical {
    /* position: absolute; */
    /* right: 0; */
    width: 27px!important;
    height: 27px!important;
    /* cursor: pointer; */
    background: transparent url(/assets/public/new/images/recommendations/recomDown.png) no-repeat bottom;
    /* top: 610px; */
    /* margin-left: auto; */
    /* left: 0; */
    /* z-index: 99; */
    /* margin-right: auto; */
    /* background: transparent url(/assets/public/new/images/recommendations/recomLeft.png) no-repeat; */
    position: absolute!important;
    top: 0;
    left: auto;
    width: 18px;
    height: 18px;
    cursor: pointer;
    right: 2px;
    display: block!important;
    z-index: 9999;
}

.jcarousel-prev.jcarousel-prev-vertical {
    background: transparent url(/assets/public/new/images/recommendations/recomUp.png) no-repeat top;
    position: absolute;
    top: 0px;
    right: 29px;
    width: 27px;
    height: 27px;
    cursor: pointer;
    z-index: 9999;
    display: block!important;
    left: inherit;
}
.jcarousel-prev-disabled-vertical, .jcarousel-next-disabled-vertical {
	/* display: none; */
	cursor: default!important;
	opacity: 0.6;
}


.verticalRenderer.ui-tabs.ui-tabs-vertical {
    padding: 0;
}
.verticalRenderer.ui-tabs.ui-tabs-vertical .ui-widget-header {
    border: none;
}
.verticalRenderer.ui-tabs.ui-tabs-vertical .ui-tabs-nav {                
    
          margin: 0;      display: table;      /* overflow: hidden; */
      padding: 0;}
.verticalRenderer.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
    /* clear: left; */
    width: auto;
    /* overflow: hidden; */
    position: relative;
    z-index: 999;   
    
    float: right;
}
.verticalRenderer.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
    width: 100%;
    /* padding: 0.6em 1em; */
}
.verticalRenderer.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
    cursor: pointer;
}
.verticalRenderer .ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0.2em;
    padding-bottom: 0;
    border-right: 1px solid white;
}
.verticalRenderer.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
    /* margin-bottom: 10px; */
}
.verticalRenderer.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
    float: left;
    width: 99%;
    /* border-left: 1px solid gray; */
    border-radius: 0;
    position: relative;
    left: 0;
    padding: 1em 0;
    box-sizing: border-box;
    border: none;
    clear: both;
}

.tabsContainer {
  border: 1px solid #ededed;
  border-radius: 10px;
  /* overflow: auto; */
  box-sizing: border-box;
  background: #fff;
  border-radius: 5px;
}

.fiveProducts .horizontalRenderer .product-item-box, .fiveProducts .verticalRenderer .product-item-box {
    width: 167px!important;
    box-sizing: border-box;
    padding: 0;
    height: 230px!important;
    margin: 30px 13px!important;
}

.threeProducts .horizontalRenderer .product-item-box, .threeProducts .verticalRenderer .product-item-box, .threeProducts .horizontalRenderer li {
    width: 190px;
    box-sizing: border-box;
    padding: 0;
    height: 240px;
}

.horizontalRenderer .product-item-prices .orange .large-price, .verticalRenderer .product-item-prices .orange .large-price {
    font-size: 20px;
    font-weight: 600;
}

.horizontalRenderer .product-item-prices .black, .verticalRenderer .product-item-prices .black {
    color: #161616;
    font-size: 10px;
    position: relative;
    top: -7px;
    right: 0;
    display: block;
}

.horizontalRenderer .product-item-prices .black .large-decimal, .verticalRenderer .product-item-prices .black .large-decimal {
    position: absolute;
    top: -2px;
    font-size: 8px;
    /* text-decoration: line-through; */
}

.horizontalRenderer .product-item-prices .orange .large-decimal, .verticalRenderer .product-item-prices .orange .large-decimal {
    position: absolute;
    top: -5px;
}

.horizontalRenderer .product-item-prices .black b, .verticalRenderer .product-item-prices .black b {
    font-weight: 400;
    /* text-decoration: line-through; */
}

.blackText {
    padding-right: 5px;
}

.horizontalRenderer .product-item-prices .green, .verticalRenderer .product-item-prices .green {
    bottom: -2px;
    top: inherit;
    color: #009b7a;
    display: block;
    position: relative;
}

.fiveProducts .horizontalRenderer .product-item-box:last-child , .fiveProducts .verticalRenderer .product-item-box:last-child {
	margin-right:15px!important;
	padding-right:0;
}

.threeProducts .horizontalRenderer .product-item-box:last-child , .threeProducts .verticalRenderer .product-item-box:last-child {
	/* margin-right:15px!important; */
	/* padding-right:0; */
}

.horizontalRenderer.ui-tabs .ui-tabs-nav li, .verticalRenderer.ui-tabs .ui-tabs-nav li {
  position: relative;
  border: none;
  border-bottom: 0;
  margin-left: 0px!important;
}
.horizontalRenderer.ui-tabs .ui-tabs-nav li:not(.ui-state-active):before, .verticalRenderer.ui-tabs .ui-tabs-nav li:not(.ui-state-active):before, .horizontalRenderer.ui-tabs .ui-tabs-nav li:not(.ui-state-active):after, .verticalRenderer.ui-tabs .ui-tabs-nav li:not(.ui-state-active):after {
  border-radius: 100%;
  content: "";
  position: absolute;
  top: 0px;
  left: -3px;
  
}
.horizontalRenderer.ui-tabs .ui-tabs-nav li:not(.ui-state-active):after, .verticalRenderer.ui-tabs .ui-tabs-nav li:not(.ui-state-active):after {
  /* bottom: -3px; */
  /* width: 1px; */
  /* background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#aaa), to(#aaa)); */
  /* background-image: -webkit-linear-gradient(#aaa, #aaa); */
  background-image: -moz-linear-gradient(#aaa, #aaa);
  background-image: -o-linear-gradient(#aaa, #aaa);
  /* right: 0px; */
  /* height: 1px; */
  /* left: inherit; */
}
.horizontalRenderer.ui-tabs .ui-tabs-nav li:not(.ui-state-active):before, .verticalRenderer.ui-tabs .ui-tabs-nav li:not(.ui-state-active):before {
  /* right: 0px; */
  /* height: 1px; */
  /* background-image: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(#aaa)); */
  /* background-image: -webkit-linear-gradient(left, transparent, #aaa); */
  background-image: -moz-linear-gradient(left, transparent, #aaa);
  background-image: -o-linear-gradient(left, transparent, #aaa);
}

.horizontalRenderer .product-ribbons div, .verticalRenderer .product-ribbons div {
    width: 47%;
    height: 19px;
    float: left;
    font-size: 12px;
    font-weight: 300;
    line-height: 19px;
    border-radius: 3px;
    color: #fff;
    margin-right: 3%;
}

.horizontalRenderer .product-ribbons div.ribbon-weboffer, .verticalRenderer .product-ribbons div.ribbon-weboffer {
    background: #00a07b;
}

.horizontalRenderer .product-ribbons div.ribbon-new, .verticalRenderer .product-ribbons div.ribbon-new {
    background: #980175;
}

.horizontalRenderer .product-ribbons div.ribbon-bestseller, .verticalRenderer .product-ribbons div.ribbon-bestseller {
    background: #0a9cd7;
}

.horizontalRenderer .product-ribbons div.ribbon-superoffer, .verticalRenderer .product-ribbons div.ribbon-superoffer {
    background: #ae9b18;
}

.horizontalRenderer .product-ribbons, .verticalRenderer .product-ribbons {
    overflow: auto;
    margin: 10px 0;
}

.horizontalRenderer .reevooBadge, .verticalRenderer .reevooBadge {
    bottom: 5px;
    right: 0;
    z-index: 1;
    width: 55px;
    height: 30px;
    position: absolute;
    background: url(/assets/public/new/images/reevoo.png) no-repeat transparent;/* For Safari 5.1 to 6.0 *//* For Opera 11.1 to 12.0 *//* For Firefox 3.6 to 15 *//* Standard syntax */
    margin: 0px;
}

.horizontalRenderer .product-item-category, .verticalRenderer .product-item-category {
    font-size: 11px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 2px;
    max-height: 14px;
    overflow: hidden;
}

.horizontalRenderer .product-item-category a, .verticalRenderer .product-item-category a {
    color: #1111CC;
}

.verticalRenderer .product-item-photo img.image {
    height: auto;
    min-height: inherit;
}

.verticalRenderer .product-item-box {
    width: 214px;
    padding: 0;
    margin-left: 7px!important;
    margin-bottom: 0;
    min-height: 240px;
    margin-top: 10px;
}

.vertical .tabsContainer {
    height: 885px;
    /* float: right; */
    position: relative;
    /* width: 88%; */
}

.verticalRenderer ul.jcarousel-list {
    height: auto!important;
}

.horizontal:not(.fiveProducts) .tabsContainer {
    border: none;
    /* border-top: 1px solid #ccc; */
    /* border-radius: 0; */
}

.homeMiddle .horizontalRenderer .jcarousel-clip.jcarousel-clip-horizontal {
    width: 967px!important;
    height: 285px;
}

.homeMiddle h2 {
    text-align: center;
    margin: 40px 0 5px;
    font-size: 28px;
    font-weight: 300;
}

div.horizontalHalf#recid3 {
    margin-right: 1%;
}

.homeMiddle .horizontalHalf .horizontalRenderer .jcarousel-clip.jcarousel-clip-horizontal {
    width: 476px!important;
    height: 570px;
}

.horizontalHalf .horizontalRenderer.ui-tabs .ui-tabs-nav .ui-state-active .ui-tabs-anchor {
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 1;
    font-weight: 300;
}

.horizontalHalf .horizontalRenderer.ui-tabs .ui-tabs-nav {
    margin: 0 auto;               
    display: table;
    overflow: hidden;
    width: initial;
}

div.dynRecom {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background: none;
    border: none;
}

.horizontalRenderer .product-item-prices .orange, .verticalRenderer .product-item-prices .orange {
    display: block;
    position: relative;
    height: 25px;
    width: auto;
}

.horizontalRenderer .product-item-prices > div, .verticalRenderer .product-item-prices > div {
    display: block;
    /* overflow: auto; */
    margin-bottom: 10px;
}

.horizontalRenderer.ui-tabs .ui-tabs-nav li.ui-state-active span, .verticalRenderer.ui-tabs .ui-tabs-nav li.ui-state-active span
{
	width: 0; 
	height: 0; 
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-top: 10px solid;
	position: absolute;
	bottom: -11px;
	left: 0;
	right: 0;
	margin: 0 auto;
	opacity: 0;
	z-index: 9;
}

.recid.cat .tabsContainer {
    background: #fff;      border-radius: 5px;      
    width: 99%;      
    margin-left: 0.5%;  
}

.recid.cat {
    border-radius: 5px;
    margin: 20px 0px 10px;
    padding-top: 0px;
    padding-bottom: 15px;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

.verticalRenderer.ui-tabs .ui-tabs-nav {
    width: 100%
}
.verticalRenderer.ui-tabs .ui-tabs-nav li.ui-state-active{
    width:100%;
    /* box-sizing: border-box; */
    /* overflow-x: hidden; */
    overflow-wrap: break-word;
    margin: 0!important;
    padding: 0;
}

.recid #ui-id-1, .recid #ui-id-2, .recid #ui-id-3, .recid #ui-id-4{
	color:#313131;
}

.horizontalRenderer .product-item-photo .discount, .verticalRenderer .product-item-photo .discount {
    background: #009b79;
    position: absolute;
    padding: 5px 2px;
    border-radius: 25px;
    width: 41px;
    height: 35px;
    line-height: 11px;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    right: 0;
    top: 0;
}

.horizontalRenderer .product-item-photo .discount.super, .verticalRenderer .product-item-photo .discount.super {
    background: #eee809;
    /* line-height: 35px; */
    /* font-size: 14px; */
    color: #333;
}

.horizontalRenderer .product-item-prices .black.super b, .verticalRenderer .product-item-prices .black.super b {
    text-decoration: line-through;
}

.horizontalRenderer .product-item-prices .black.super .large-decimal, .verticalRenderer .product-item-prices .black.super .large-decimal {
    text-decoration: line-through;
}

.horizontalRenderer .product-item-prices .black.super, .verticalRenderer .product-item-prices .black.super {
    /* position: absolute; */
    /* left: 0; */
    /* text-align: left; */
    /* top: 0; */
}

.horizontalRenderer .product-item-prices .orange.super, .verticalRenderer .product-item-prices .orange.super {
    /* text-align: right; */
    /* margin-right: 20px; */
}

.horizontalRenderer .product-item-photo .discount > div, .verticalRenderer .product-item-photo .discount > div {
	/* height: 18px!important; */
	/* width: 20px!important; */
	bottom: 10px;
	font-size: 9px;
	font-weight: 400;
	left: 2px;
	line-height: 9px;
	position: absolute;
	right: 0;
	max-width: 44px;
	word-wrap: break-word;
	letter-spacing: 1px;
}

.horizontalRenderer .product-item-photo .discount span, .verticalRenderer .product-item-photo .discount span {
    font-size: 14px;
    top: 14px;
    line-height: 10px;
    position: absolute;
    left: 0;
    right: 0;
    font-weight: 600;
}

#tabs-4 .threeProducts .horizontalRenderer .product-item-box
{
	width: 190px!important;
}

.verticalRenderer.ui-tabs .ui-tabs-nav .ui-state-active .ui-tabs-anchor {
    word-wrap: break-word;      overflow-wrap: break-word;      white-space: normal;
}

.recid:not(.horizontalHalf) .horizontalRenderer.ui-tabs .ui-tabs-nav .ui-state-active .ui-tabs-anchor:hover, .verticalRenderer.ui-tabs .ui-tabs-nav .ui-state-active .ui-tabs-anchor:hover {
    color: #313131!important;
}


#colorbox.removeBorder #cboxTopLeft, #colorbox.removeBorder #cboxTopCenter, #colorbox.removeBorder #cboxTopRight, #colorbox.removeBorder #cboxBottomLeft, #colorbox.removeBorder #cboxBottomCenter, #colorbox.removeBorder #cboxBottomRight, #colorbox.removeBorder #cboxMiddleLeft, #colorbox.removeBorder #cboxMiddleCenter, #colorbox.removeBorder #cboxMiddleRight {
    background: none;
}

#colorbox.removeBorder #cboxContent {
    border-radius: 5px;
}

#colorbox.removeBorder #cboxContent {
    border-radius: 6px;
}

#colorbox.removeBorder button#cboxClose {
    margin: 5px;
    background: url(../../images/cart/popup/basketPopupExit.png) no-repeat!important;
    height: 44px;
    width: 46px;
    background-position-x: 0px!important;
}

.liquid-slider ul:not(.jcarousel-list) {
    width: 101%;
}

div#recid5 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 303px;
    padding-top: 0;
    border-radius: 5px;
    margin-bottom: 0;
    padding-bottom: 10px;
    display:none;
}

#recid5.threeProducts .horizontalRenderer .product-item-box, .threeProducts .verticalRenderer .product-item-box {
    width: 166px!important;
    height: 225px;
    position: relative;
}

#recid5 .horizontalRenderer .jcarousel-list {
    /* width: 430px!important; */
}

div#add2CartMsg #btnContainer {
    position: relative;
    margin-top: 65px;
}

#recid5 .horizontalRenderer .ui-tabs-anchor {
    /* font-size: 15px; */
}

#recid5 .jcarousel-clip {
    width: 555px!important;
}

#recid5 .tabsContainer {
    width: 96%;
    margin-left: 2.5%;
    margin-bottom: 10px;
    overflow: hidden;
}

#recid5 .product-item-photo {
    height: 100px;
}

#recid5 .dynRecom {
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
}

#recid5 .ui-tabs-nav {
    margin: 0 auto;      display: table;      
    /* overflow: hidden; */
}

.recBuyBtn {
    text-indent: -9999;
    background: url(../../images/cart/popup/addToRecBasket.png);
    width: 129px;
    height: 25px;
    position: absolute;      
    bottom: 10px;      left: 0;      right: 0;
    margin: 0 auto;
    cursor: pointer;
}

.recBuyBtn a {
    width: 129px;
    height: 25px;
    position: relative;
    display: none;
}

.recBuyBtn.disabled {
    opacity: 1;
    background: url(../../images/cart/popup/addToRecBasketDisabled.png);
    cursor: default;
}

#tabs-4 .recid .product-item-box {
    width: 185px!important;
}

.recBuyBtn.outofstock {
    background: url(../../images/cart/popup/outOfStockRecBasket.png);
}

.sixProducts .horizontalRenderer .product-item-box {
    width: 142px!important;
}

.fourProducts .horizontalRenderer .product-item-box {
    /*width: 146px!important;*/
}

.threeProducts:not(.horizontalHalf).horizontalRenderer .product-item-box {
    width: 200px!important;
}

.homeMiddle .horizontalHalf .horizontalRenderer .jcarousel-clip.jcarousel-clip-horizontal ul {
    height: 570px!important;
}

ul.no-jcarousel {
    width: 110%;
}

.reevooBadge span {
    font-size: 20px;
    color: #ff7811;
    display: block;
    font-weight: 800;
    margin-top: -3px;
    /* position: relative; */
}

.reevooBadge a {
	height: 100%;
	line-height: initial;
}

.reevooBadge a:hover {
	text-decoration: none;
}

.reevooBadge span > span {
    font-size: 13px;
    display: inline-block;
}

.horizontalRenderer .reevooBadge:hover, .verticalRenderer .reevooBadge:hover {
    background-position: 0 -30px;
}