/*@import "../fonts/icomoon/style.css";*/

@font-face {
	font-family: RobotoC;
	src: url(../fonts/Roboto/Roboto-Regular.ttf);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: RobotoC;
	src: url(../fonts/Roboto/Roboto-Italic.ttf);
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: RobotoC;
	src: url(../fonts/Roboto/Roboto-Bold.ttf);
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: RobotoC;
	src: url(../fonts/Roboto/Roboto-BoldItalic.ttf);
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: RobotoC;
	src: url(../fonts/Roboto/Roboto-Medium.ttf);
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: RobotoC;
	src: url(../fonts/Roboto/Roboto-Medium.ttf);
	font-weight: 500;
	font-style: italic;
}