body {
    -webkit-font-smoothing: antialiased;
}
/*start: common style&result*/

/*todo: remove start*/
.logo {
    padding: 8px;
    font-size: 20px;
}
.fblike-containder { height: 40px; }

@media ( min-height : 580px) {
    .logo {
        padding: 15px;
        font-size: 24px;
    }
    .fblike-containder { height: 60px}
}

@media ( min-width : 1020px) {
    .logo {
        display: none;
    }
}

@media ( device-width : 768px) and (device-height: 1024px) {
    .logo {
        display: inline-block;
        padding: 15px;
        font-size: 24px;
    }
}

.logo_link {
    text-decoration: none; color: inherit
}
.logo_q {
    color: #5CB85C;
}
.logo-bkg{
    background: #EEE;
    margin-top: 0;
    margin-bottom: 10px;
    max-height: 60px;
}
.logo-h3{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
 .fb_iframe_widget_fluid{
    display: inline !important;
}



.question_result_body {
    padding-top: 0;
}
/*todo: remove end*/

.gray_box {
    padding-left: 2px;
    padding-right: 2px;
}
/* end: common style&result*/



.quizonyquestiontop {
	width: 320px;
	height: 50px;
	display: inline-block;
}

.quizonyquestionbottom {
	width: 300px;
	height: 250px;
	display: inline-block;
}

@media ( min-width : 480px) and (min-height: 425px) {
	.quizonyquestiontop {
		width: 468px;
		height: 60px;
		display: inline-block;
	}

    .quizonyquestionbottom {
		width: 336px;
		height: 280px;
		display: inline-block;
	}
}

@media ( min-width : 740px) and (min-height: 440px) {
	.quizonyquestiontop {
		width: 728px;
		height: 90px;
		display: inline-block;
	}

    .quizonyquestionbottom {
		width: 336px;
		height: 280px;
		display: inline-block;
	}

}

@media ( device-width : 768px) and (device-height: 1024px) {
	.quizonyquestiontop {
		width: 728px;
		height: 90px;
		display: inline-block;
	}

    .quizonyquestionbottom {
		width: 336px;
		height: 280px;
		display: inline-block;
	}
}

.jumboPad {
    padding: 10px 10px 40px 10px;
}
.quizName {
	font-size: 13px;
}
.questionNumbers {
	font-size: 11px;
}
p.textOfQuestion {
	font-size: 20px;
	font-weight: bold;
}
.jumbotron button.answer_button {
    white-space: normal;
    font-size: 15px;
}

@media ( min-height : 640px) and (min-width: 400px){
	.jumboPad {
        padding: 48px 60px;
    }
    .quizName {
		font-size: 18px;
	}
    .questionNumbers {
		font-size: 16px;
	}
    p.textOfQuestion {
		font-size: 30px;
		font-weight: normal;
	}

    .jumbotron button.answer_button {
    }
}

/*start: commont style&result*/
.question_result_body {
    padding-top: 0;
}
.gray_box {
    padding-left: 2px;
    padding-right: 2px;
}
/* end: commont style&result*/

.question_bkg {
    margin: 10px 5px 15px 5px;
}

.question_like_and_footer_container {
    margin-top: 10px;
}

.question_fb_buttons {
    padding-top: 20px; margin-bottom: 0; height: 60px;
}

.question_footer {
    margin-top: 10px;
}

.likeBelowQuestion {
    padding-top:40px;
    padding-bottom:40px;
}


/*navbar*/
body {
    padding-top: 60px;
}


@media (min-width:992px) {
     .quizony-navbar nav .container {
        width: 920px;
        max-width: 920px;
    }
}

.fblike-navbar {
    padding-top: 15px;
    padding-left: 5px;
    height: 40px;
    width: 86px;
}

.quizony-navbar img.quizony-logo-img {
    height: 30px;
}

 .navbar-brand {
    padding-top: 10px;
}

 #newsletterPopup .modal-header {
     border-bottom: none;
 }

.quizony-navbar { /*display: none;*/ }
/*end of navbar*/


.ad_leaderboard {
    margin-top: 5px;
    height:60px;
}
@media (min-width: 750px) {
    .ad_leaderboard {
        height:90px;
    }
}
.ad_large_rectangle {
    height:250px;
}

/*temp fix to bottom ad on index*/
#index_bottom.ad_large_rectangle {
    margin-top: 25px;
    margin-bottom: 25px;
}

/*temp fix to bottom ad on question page*/
@media (max-width: 480px) and (max-height: 425px) {
    #question_bottom.ad_large_rectangle {
        height: 60px;
    }
}

.question_top {
    margin-top: 5px;
    height:60px;
}
@media (min-width: 740px) and (min-height: 440px) {
    .question_top {
        height:90px;
    }
}
.question_bottom {
    height:60px;
}
@media (min-width: 480px) and (min-height: 425px) {
    .question_bottom {
        height:280px;
    }
}

.social-media-icon {
   margin-top: 5px;
   background-repeat: no-repeat;
}

.twitter-icon {
   background-image: url("/static/img/social-media-twitter.png");
}

.facebook-icon {
   background-image: url("/static/img/social-media-facebook.png");
   margin-right: 10px;
}

@media (max-width:768px) {/*navbar-collapse width*/
   .social-media-icon {
       background-position: -5px -10px;
       width: 30px;
       margin-bottom: 15px;
   }

    .fblike-navbar {
        padding-left:0;
    }

   .nav.navbar-nav li, div, .social-media-icon {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
   }
}

.indexTitle {
	font-size: 20px;
	font-weight: bold;
}

.indexTitleDesc {
	font-size: 17px;
	font-weight: normal;
}

@media ( min-height : 640px) and (min-width: 400px) {
	.indexTitle {
	font-size: 30px;
	font-weight: normal;
	}
	.indexTitleDesc {
		font-size: 20px;
		font-weight: normal;
	}
}

.index_bkg {
    background-color: #EEE;
    border-radius: 6px;
    margin: 4px 5px 15px 5px;
}

.gray_box {
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 6px;
}

 .quiz-tile {
    padding: 5px;
    border-radius: 4px;
    background: none repeat scroll 0 0 #ffffff;
    box-shadow: 0 0 1px 1px #eee;
    margin: 4px 0;
}

.quiz-tile .title {
    height: 30px;
}

@media  (max-width:768px){
    .quiz-tile  {
        margin-bottom: 5px;
    }
}

.quiz-tile h3 {
    font-size: 15px;
}

.quiz-tile .text {
    padding-top: 10px;
    height: 150px;
}
.quiz-tile .image img {
    border-radius: 4px;
}


.showAllQuizzesMainPage{
	font-size: 30px;
	padding-bottom: 20px;
}
#selectLanguages {
    font-size: 14px;
    display: inline-block;
}

.jumbotron p#selectLanguages{
    margin-bottom: 0;
}

.lg-spacer {
    width: 20px;
    display: inline-block;
}

@media (max-width: 480px) {
    .newsletter-title {
        font-size: 15px;;
    }
}
.newsletter-title {
    text-align: center;
}

.newsletter-email-input {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    height: 45px;
    font-size: 20px;
}
@media (max-width: 480px) {
    .newsletter-email-input {
        width:100%;
    }
}
.newsletter-popup-body {
    padding: 15px 0;
}
.sample-newsletter {
    padding-top: 30px;
}

.sample-newsletter a {
    text-decoration: underline;
}

.hate-spam {
    color: #61676A;
}
.hate-spam-text {
    font-size: 10px;
    padding-left: 5px;
}
#cookies-message {
    padding: 5px;
    font-size: 14px;
    line-height: 20px;
    border-top: 1px solid rgb(211, 208, 208);
    color: #383737;
    text-align: center;
    position: fixed;
    bottom: 0px;
    background-color: #efefef;
    width: 100%;
    z-index: 999;
    box-shadow: 0 10px 10px 8px #000000;
}
.nom {
    font-size: 80%;
    margin-bottom: 0;
}
.cookies-more-info {
    color:#3071a9;
}
