@charset "UTF-8";

/* .hybrid-container = .container */
.hybrid-container {
    padding-right: .9375rem;
    padding-left: .9375rem;
    margin-right: auto;
    margin-left: auto;
}

.hybrid-container::after {
    display: table;
    clear: both;
    content: "";
}

@media (min-width: 544px) {
    .hybrid-container {
        max-width: 576px;
    }
}

@media (min-width: 768px) {
    .hybrid-container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .hybrid-container {
        max-width: 940px;
    }
}

@media (min-width: 1200px) {
    .hybrid-container {
        max-width: 1140px;
    }
}


.pull-left {
    float: left;
}
.pull-right {
    float: right;
}











.mobile-container {
    background-color: #eee;
}
.mobile-container .mobile-filters.collapse.in {
    overflow: inherit
}
.mobile-container .mobile-search-controls {
    font-size: 14px;
    padding: 15px
}
.mobile-container .mobile-search-controls .search-trigger {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #ddd url(/static/base/img/icon-chevron-up-padded.png) right center no-repeat;
    border: 1px solid #ccc;
    color: #666;
    display: inline-block;
    padding: 6px 29px 6px 9px;
    width: 100%;
}
.mobile-container .mobile-search-controls .search-trigger.collapsed {
    background: #fff url(/static/base/img/icon-search-padded.png) right center no-repeat;
    color: #444
}
.mobile-container .mobile-search-controls .search-trigger.collapsed h1 strong {
    color: #3285c6;
}
.mobile-container .mobile-search-controls .search-trigger h1 {
    font-size: 14px;
    line-height: inherit;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.mobile-container .mobile-search-controls .search-trigger h1 strong {
    color: #599cc9;
    font-weight: 600
}


.mobile-container .result-headline {
    background: #333;
    border-top: 0;
    color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 0 0 0 15px
}
.mobile-container .result-headline h1 {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    padding: 10px 0
}
.mobile-container .result-headline .btn-mobile-filter {
    background: #4791cc url(/static/base/img/icon-chevron-up.png) 120px 14px no-repeat;
    color: #fff;
    display: inline-block;
    padding: 10px 75px 10px 15px;
    text-align: center
}
.mobile-container .result-headline .btn-mobile-filter.collapsed {
    background: #4791cc url(/static/base/img/icon-chevron-down.png) 120px 14px no-repeat;
    color: #fff
}
.mobile-container .result-headline .result-text {
    float: left;
    margin: 0;
    padding: 10px 0
}











.footer-expanded-icons-sprite,
.footer-expanded .hybrid-container .lower-row .international-dropdown .international-dropdown-button-v2 .dropdown-arrow-container .dropdown-arrow,
.footer-expanded .hybrid-container .upper-row .mobile-app-download .apple-app-store,
.footer-expanded .hybrid-container .upper-row .mobile-app-download .google-play-store,
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .blog,
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .blog:hover,
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .facebook,
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .facebook:hover,
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .google,
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .google:hover,
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .linkedin,
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .linkedin:hover,
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .twitter,
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .twitter:hover,
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .youtube,
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .youtube:hover {
    background-image: url(/static/search/img/footer-expanded-icons-s828bea0eec.png);
    background-repeat: no-repeat
}
.footer-expanded {
    background-color: #ddd;
    padding: 30px 0
}
.footer-expanded .hybrid-container {
    margin-bottom: 0
}
.footer-expanded .hybrid-container .lower-row .footer-link {
    display: inline-block
}
.footer-expanded .hybrid-container .lower-row .footer-logo {
    height: 24px;
    margin-right: 30px;
    vertical-align: middle;
    width: 130px
}
.footer-expanded .hybrid-container .lower-row .international-dropdown {
    display: inline-block;
    position: relative;
    vertical-align: middle
}
.footer-expanded .hybrid-container .lower-row .international-dropdown::-webkit-scrollbar {
    width: 10px
}
.footer-expanded .hybrid-container .lower-row .international-dropdown::-webkit-scrollbar-button {
    display: none
}
.footer-expanded .hybrid-container .lower-row .international-dropdown::-webkit-scrollbar-track {
    background-color: transparent
}
.footer-expanded .hybrid-container .lower-row .international-dropdown::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #ddd;
    border: 3px solid #fff
}
.footer-expanded .hybrid-container .lower-row .international-dropdown .international-dropdown-button-v2 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #eee;
    border: solid 1px #ccc;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 4px 10px
}
.footer-expanded .hybrid-container .lower-row .international-dropdown .international-dropdown-button-v2 span {
    margin-right: 40px;
    padding-left: 7px
}
.footer-expanded .hybrid-container .lower-row .international-dropdown .international-dropdown-button-v2 .dropdown-arrow-container {
    border-left: 1px solid gray;
    display: inline-block;
    height: 18px;
    margin-top: 2px;
    vertical-align: top;
    width: 28px
}
.footer-expanded .hybrid-container .lower-row .international-dropdown .international-dropdown-button-v2 .dropdown-arrow-container .dropdown-arrow {
    background-position: 0 -100px;
    height: 4px;
    width: 6px;
    margin: 7px 7px 7px 15px
}
.footer-expanded .hybrid-container .lower-row .international-dropdown .international-dropdown-wrapper {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: solid 1px #ddd;
    bottom: 45px;
    height: 224px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 177px
}
.footer-expanded .hybrid-container .lower-row .international-dropdown .international-dropdown-wrapper:after,
.footer-expanded .hybrid-container .lower-row .international-dropdown .international-dropdown-wrapper:before {
    border: solid transparent;
    content: " ";
    height: 0;
    left: 155px;
    pointer-events: none;
    position: absolute;
    width: 0
}
.footer-expanded .hybrid-container .lower-row .international-dropdown .international-dropdown-wrapper:after {
    border-color: rgba(255, 255, 255, 0);
    border-width: 10px;
    margin-left: calc(0px - 10px)
}
.footer-expanded .hybrid-container .lower-row .international-dropdown .international-dropdown-wrapper:before {
    border-color: rgba(181, 178, 167, 0);
    border-width: calc(10px - -1px);
    margin-left: calc(-1px - 10px)
}
.footer-expanded .hybrid-container .lower-row .international-dropdown .international-dropdown-wrapper:after,
.footer-expanded .hybrid-container .lower-row .international-dropdown .international-dropdown-wrapper:before {
    top: 100%
}
.footer-expanded .hybrid-container .lower-row .international-dropdown .international-dropdown-wrapper:after {
    border-top-color: #fff
}
.footer-expanded .hybrid-container .lower-row .international-dropdown .international-dropdown-wrapper:before {
    border-top-color: #ddd
}
.footer-expanded .hybrid-container .lower-row .international-dropdown .international-dropdown-wrapper .international-dropdown-list {
    background-color: #fff;
    height: 100%;
    overflow-y: scroll;
    text-align: center;
    width: 100%
}
.footer-expanded .hybrid-container .lower-row .international-dropdown .international-dropdown-wrapper .international-dropdown-list a {
    color: #333;
    font-size: 14px;
    text-decoration: none
}
.footer-expanded .hybrid-container .lower-row .international-dropdown .international-dropdown-wrapper .international-dropdown-list a.current-country {
    color: #3285c6
}
.footer-expanded .hybrid-container .lower-row .international-dropdown .international-dropdown-wrapper .international-dropdown-list a:hover {
    background-color: #edf4fa
}
.footer-expanded .hybrid-container .lower-row .misc-links {
    color: #333;
    float: right;
    font-size: 12px;
    height: 24px;
    padding-top: 5px;
    text-align: right
}
.footer-expanded .hybrid-container .lower-row .misc-links a {
    color: #333
}
.col-xs-12 .footer-expanded .hybrid-container .lower-row .misc-links {
    padding-top: 10px;
    text-align: center;
    width: 100%
}
.footer-expanded .hybrid-container .upper-row {
    padding-bottom: 30px
}
.footer-expanded .hybrid-container .upper-row .mobile-app-download {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #eee;
    padding: 20px;
    text-align: center
}
.footer-expanded .hybrid-container .upper-row .mobile-app-download .app-list-title {
    color: #333;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 10px 0
}
.footer-expanded .hybrid-container .upper-row .mobile-app-download .apple-app-store {
    background-position: 0 0;
    height: 40px;
    width: 135px;
    display: block;
    margin: 0 auto 10px auto
}
.footer-expanded .hybrid-container .upper-row .mobile-app-download .google-play-store {
    background-position: 0 -192px;
    height: 46px;
    width: 135px;
    display: block;
    margin: 0 auto
}
.footer-expanded .hybrid-container .upper-row .footer-column .footer-list-links,
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links {
    list-style-type: none;
    margin: 0;
    padding: 0
}
.footer-expanded .hybrid-container .upper-row .footer-column .footer-list-links a,
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links a {
    color: #333;
    font-size: 14px;
    text-decoration: none
}
.footer-expanded .hybrid-container .upper-row .footer-column .footer-list-links a.feedback-link,
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links a.feedback-link {
    color: #f60
}
.footer-expanded .hybrid-container .upper-row .footer-column .footer-list-links a:hover,
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links a:hover {
    text-decoration: underline
}
.footer-expanded .hybrid-container .upper-row .footer-column .footer-list-links li,
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links li {
    line-height: 20px;
    margin-top: 11px
}
.footer-expanded .hybrid-container .upper-row .footer-column .footer-list-links .simply-post-button,
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .simply-post-button {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #59c7a9;
    background-image: none;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    opacity: 1;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none
}
.footer-expanded .hybrid-container .upper-row .footer-column .footer-list-links .simply-post-button:hover,
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .simply-post-button:hover {
    background-color: #00a99c;
    text-decoration: none
}
.footer-expanded .hybrid-container .upper-row .footer-column .footer-list-links .simply-post-button img,
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .simply-post-button img {
    margin: 0 6px 2px 0;
    heigth: 13px;
    width: 13px
}
.footer-expanded .hybrid-container .upper-row .footer-column .list-title {
    color: #333;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 15px 0
}
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links li {
    position: relative
}
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links span {
    margin-left: 20px
}
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .blog {
    background-position: 0 -75px;
    height: 15px;
    width: 15px
}
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .blog:hover,
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .blog.blog-hover {
    background-position: 0 -50px
}
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .blog:hover {
    background-position: 0 -50px;
    height: 15px;
    width: 15px
}
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .facebook {
    background-position: 0 -140px;
    height: 16px;
    width: 15px
}
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .facebook:hover,
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .facebook.facebook-hover {
    background-position: 0 -114px
}
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .facebook:hover {
    background-position: 0 -114px;
    height: 16px;
    width: 15px
}
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .footer-icon {
    display: inline-block;
    position: absolute;
    top: 2px
}
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .google {
    background-position: 0 -248px;
    height: 16px;
    width: 15px
}
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .google:hover,
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .google.google-hover {
    background-position: 0 -166px
}
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .google:hover {
    background-position: 0 -166px;
    height: 16px;
    width: 15px
}
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .linkedin {
    background-position: 0 -300px;
    height: 16px;
    width: 15px
}
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .linkedin:hover,
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .linkedin.linkedin-hover {
    background-position: 0 -274px
}
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .linkedin:hover {
    background-position: 0 -274px;
    height: 16px;
    width: 15px
}
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .twitter {
    background-position: 0 -576px;
    height: 16px;
    width: 15px
}
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .twitter:hover,
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .twitter.twitter-hover {
    background-position: 0 -550px
}
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .twitter:hover {
    background-position: 0 -550px;
    height: 16px;
    width: 15px
}
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .youtube {
    background-position: 0 -628px;
    height: 16px;
    width: 15px
}
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .youtube:hover,
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .youtube.youtube-hover {
    background-position: 0 -602px
}
.footer-expanded .hybrid-container .upper-row .footer-column .social-media-links .youtube:hover {
    background-position: 0 -602px;
    height: 16px;
    width: 15px
}
@media(max-width:767px) {
    .footer-expanded {
        background: #fff;
        border-top: 1px solid #ddd;
        padding: 15px
    }
    .footer-expanded .fc-about {
        margin: 30px 0
    }
    .footer-expanded .fc-employers {
        clear: both;
        margin-top: 30px
    }
    .footer-expanded .hybrid-container .lower-row .footer-logo {
        margin-right: 0;
        margin-top: 5px
    }
    .footer-expanded .hybrid-container .lower-row .misc-links {
        clear: both;
        float: none;
        padding-top: 15px;
        text-align: center
    }
    .footer-expanded .hybrid-container .mobile-post-job {
        float: right;
        text-align: right;
        width: calc(100% - 160px)
    }
    .footer-expanded .hybrid-container .mobile-post-job a {
        background: #32ba9f;
        color: #fff;
        display: inline-block;
        padding: 4px 0;
        text-align: center;
        text-decoration: none;
        width: 80%
    }
    .card.email-card {
        margin: 0;
        padding: 20px 15px 0 15px
    }
}

















.header-container {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #fff;
    border-bottom: 1px solid #aaa
}
.header-container .account-menu-toggle {
    color: rgba(0, 0, 0, 0.3);
    display: none;
    max-width: 200px;
    overflow: hidden;
    padding: .425rem;
    text-overflow: ellipsis;
    white-space: nowrap
}
.header-container .account-menu-toggle:hover {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none
}
.header-container .account-menu-content {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    left: auto;
    right: 0;
    width: 205px
}
.header-container .account-menu-content:after,
.header-container .account-menu-content:before {
    border: solid transparent;
    content: " ";
    height: 0;
    left: calc(100% - 25px);
    pointer-events: none;
    position: absolute;
    width: 0
}
.header-container .account-menu-content:after {
    border-color: rgba(255, 255, 255, 0);
    border-width: 10px;
    margin-left: calc(0px - 10px)
}
.header-container .account-menu-content:before {
    border-color: rgba(181, 178, 167, 0);
    border-width: calc(10px - -1px);
    margin-left: calc(-1px - 10px)
}
.header-container .account-menu-content:after,
.header-container .account-menu-content:before {
    bottom: calc(100%)
}
.header-container .account-menu-content:after {
    border-bottom-color: #fff
}
.header-container .account-menu-content:before {
    border-bottom-color: #ddd
}
.header-container .account-menu-content a {
    color: #333;
    font-size: 12px;
    padding: 10px 20px
}
.header-container .account-menu-content a:hover {
    background-color: rgba(50, 133, 198, 0.1)
}
.header-container .account-menu-content .account-glyh-icon {
    float: right;
    min-height: 16px
}
.header-container .account-menu-content .dropdown-divider {
    margin: 2px 0
}
.header-container .account-menu-content .resume-link {
    display: none
}
.header-container .account-menu-content .sign-out {
    border-bottom: 0
}
.header-container .header-top {
    height: 30px
}
.header-container .header-top a {
    font-size: 14px
}
.header-container .header-top a .sprite {
    opacity: .5;
    filter: alpha(opacity=50);
    margin: 0 6px 0 0
}
.header-container .header-top a:hover .sprite {
    opacity: 1;
    filter: alpha(opacity=100)
}
.header-container .header-top .sh-logo-link {
    display: inline-block;
    padding: 0
}
.header-container .header-top .sh-logo-link img {
    height: 30px;
    width: 164px
}
.header-container .header-top .simply-post-header-button {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: #59c7a9;
    background-image: none;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    height: 30px;
    margin-left: 10px;
    padding: 5px 5px 5px 4px;
    text-decoration: none;
    text-shadow: none;
    width: 120px
}
.header-container .header-top .simply-post-header-button:hover {
    background-color: #00a99c;
    text-decoration: none
}
.header-container .header-top .simply-post-header-button img {
    height: 13px;
    margin: 0 6px 2px 0;
    width: 13px
}
.hamburger-toggle {
    padding: 15px 15px 0 0;
    position: absolute;
    right: 0
}
.hamburger-toggle .hamburger-icon {
    float: right;
    width: 27px;
    height: 22px
}
.search-background {
    background-color: #eee;
    padding: 10px 0;
    width: 100%
}
.search-background .container,
.search-background .hybrid-container {
    margin-bottom: 0
}
.search-background form {
    position: relative;
    margin: 0
}
.search-background form .atc-dropdown {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 6px #666;
    color: #333;
    display: block;
    overflow: hidden;
    margin-top: 2px;
    padding: 5px 0 10px 0;
    position: absolute;
    z-index: 4
}
.search-background form .atc-dropdown .dropdown-item a {
    color: #333;
    display: block;
    font-size: 14px;
    font-weight: 300;
    padding: 5px 10px;
    text-decoration: none
}
.search-background form .atc-dropdown .dropdown-item.dropdown-item-hover a,
.search-background form .atc-dropdown .dropdown-item.dropdown-item-hover a:hover {
    background: #599cc9;
    color: #fff;
    cursor: pointer;
    text-decoration: none
}
.search-background form .btn-block {
    font-size: 14.5px;
    font-weight: 400;
    padding: 8px 8px;
}
.search-background form .double-btn {
    display: inline-block;
    position: relative
}
.search-background form .double-btn .dropdown-menu {
    position: absolute;
    margin-top: 12px;
    right: 0;
    width: 200px
}
.search-background form .double-btn .dropdown-menu li a {
    color: #333;
    cursor: pointer;
    font-weight: 300;
    padding-left: 15px
}
.search-background form .double-btn .dropdown-menu li a:hover {
    color: #fff
}
.search-background form .double-btn .search-btn {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    display: inline-block;
    margin: 0;
    padding: 8px 0;
    text-align: center
}
.search-background form .double-btn .search-btn.default-btn {
    font-size: 15px
}
.search-background form .double-btn .search-btn.title-btn {
    font-size: 13px
}
.search-background form .double-btn .search-dropdown {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    border-left: 1px solid #fe9c45;
    display: inline-block;
    margin: 0 0 0 -3px;
    padding: 12px 12px 8px 12px
}
.search-background form .double-btn .search-dropdown .caret {
    border-top: 6px solid #fff
}
.search-background form .double-btn .search-dropdown-arrow {
    width: 100%;
    display: none
}
.search-background form .double-btn .search-dropdown-arrow:after,
.search-background form .double-btn .search-dropdown-arrow:before {
    border: solid transparent;
    content: " ";
    height: 0;
    left: calc(100% - 17px);
    pointer-events: none;
    position: absolute;
    width: 0
}
.search-background form .double-btn .search-dropdown-arrow:after {
    border-color: rgba(255, 255, 255, 0);
    border-width: 10px;
    margin-left: calc(0px - 10px)
}
.search-background form .double-btn .search-dropdown-arrow:before {
    border-color: rgba(181, 178, 167, 0);
    border-width: calc(10px - -1px);
    margin-left: calc(-1px - 10px)
}
.search-background form .double-btn .search-dropdown-arrow:after,
.search-background form .double-btn .search-dropdown-arrow:before {
    bottom: -13px
}
.search-background form .double-btn .search-dropdown-arrow:after {
    border-bottom-color: #fff
}
.search-background form .double-btn .search-dropdown-arrow:before {
    border-bottom-color: rgba(0, 0, 0, 0.2)
}
.search-background form .double-btn .search-dropdown-arrow:after {
    z-index: 1001
}
.search-background form .input-group {
    width: 100%
}
.search-background .search-extras {
    white-space: nowrap
}
.search-background .search-extras .checkbox {
    display: inline-block
}
.search-background .search-extras input {
    margin: 0 3px 3px 0
}
.search-background .search-extras label,
.search-background .search-extras p {
    color: #555;
    font-size: 12px;
    padding: 0;
    margin: 0
}
.search-background .search-extras label:hover,
.search-background .search-extras p:hover {
    color: #333
}
.search-background .search-extras label a,
.search-background .search-extras p a {
    color: #555;
    text-decoration: none
}
.search-background .search-extras label a .sprite,
.search-background .search-extras p a .sprite {
    margin-right: 6px;
    margin-left: 2px;
    height: 12px;
    width: 12px;
    opacity: .5;
    filter: alpha(opacity=50)
}
.search-background .search-extras label a:hover,
.search-background .search-extras p a:hover {
    color: #333
}
.search-background .search-extras label a:hover .sprite,
.search-background .search-extras p a:hover .sprite {
    opacity: 1;
    filter: alpha(opacity=100)
}
.responsive-search-form-container label {
    margin-bottom: 3px;
    width: 100%
}
.responsive-search-form-container label .search-job-titles {
    color: #666;
    display: none;
    float: right
}
.responsive-search-form-container .btn-sh,
.responsive-search-form-container .email-alert-dialog .email-alert-dialog-button,
.email-alert-dialog .responsive-search-form-container .email-alert-dialog-button {
    width: 50%
}
.responsive-search-form-container .fg-location {
    position: relative
}
.responsive-search-form-container .fg-location .locate-me-hit-area {
    border-left: 1px solid #ddd;
    bottom: 0;
    display: inline-block;
    height: 38px;
    position: absolute;
    right: 0;
    width: 48px;
    z-index: 2
}
.responsive-search-form-container .fg-location .locate-me-hit-area .locate-me {
    background-position: 0 -110px;
    height: 18px;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 13px;
    top: 11px;
    width: 20px
}
.hidden-md-up .responsive-search-form-container {
    padding: 15px
}
.hidden-md-up .responsive-search-form-container .button-block {
    float: left;
    padding-top: 24px;
    width: 30%
}
.hidden-md-up .responsive-search-form-container .button-block .btn-link {
    display: none
}
.hidden-md-up .responsive-search-form-container .button-block .btn-sh,
.hidden-md-up .responsive-search-form-container .button-block .email-alert-dialog .email-alert-dialog-button,
.email-alert-dialog .hidden-md-up .responsive-search-form-container .button-block .email-alert-dialog-button {
    width: 100%
}
.hidden-md-up .responsive-search-form-container .form-group {
    float: left;
    margin-bottom: 0;
    width: 35%
}
.hidden-md-up .responsive-search-form-container .form-group.fg-location {
    margin: 0 10px;
    width: calc(35% - 20px)
}
.privacy-banner {
    background: #000;
    bottom: 0;
    box-shadow: 0 0 5px black;
    color: #fff;
    left: 0;
    line-height: 1.5;
    position: fixed;
    text-align: center;
    width: 40%;
    z-index: 6001;
    -moz-animation: privacySlideDown .5s 1.0s 1 ease-in forwards;
    -moz-box-shadow: 0 0 5px black;
    -webkit-animation: privacySlideDown .5s 1.0s 1 ease-in forwards;
    -webkit-box-shadow: 0 0 5px black
}
.privacy-banner .banner-text {
    float: left;
    font-size: 16px;
    margin: 10px 20px 10px 10px;
    width: calc(100% - 50px)
}
.privacy-banner .banner-text a {
    color: #fff;
    text-decoration: underline
}
.privacy-banner .close-privacy {
    display: inline-block;
    height: 14px;
    position: absolute;
    right: 20px;
    text-decoration: underline;
    top: 13px;
    width: 14px
}
.privacy-banner .close-privacy:hover {
    cursor: pointer
}
@-webkit-keyframes privacySlideDown {
    0% {
        -webkit-transform: translateY(95px)
    }
    100% {
        -webkit-transform: translateY(0px)
    }
}
@-moz-keyframes privacySlideDown {
    0% {
        -moz-transform: translateY(95px)
    }
    100% {
        -moz-transform: translateY(0px)
    }
}
@media(max-width:991px) {
    .hybrid-container {
        width: auto;
        max-width: 100%
    }
}
@media(max-width:767px) {
    .hybrid-container .row [class*="col-"] {
        padding-left: 0;
        padding-right: 0
    }
}
html {
    position: relative;
    min-height: 100%
}
body {
    font-family: Helvetica,Arial,sans-serif;
    margin: 0
}
button,
button[type="submit"],
input[type="text"],
input[type="submit"] {
    font-family: Helvetica,Arial,sans-serif;
}

input[placeholder] { text-overflow: ellipsis; }
::-moz-placeholder { text-overflow: ellipsis; } /* firefox 19+ */
input:-moz-placeholder { text-overflow: ellipsis; }

button:focus {
    outline: 0
}
.btn,
.email-alert-dialog .email-alert-dialog-button {
    color: #333
}
.btn-sh,
.email-alert-dialog .email-alert-dialog-button,
.btn-sh:focus,
.email-alert-dialog .email-alert-dialog-button:focus {
    background-color: #fe8523;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fe8523), to(#fe8523));
    background-image: -webkit-linear-gradient(top, #fe8523, #fe8523);
    background-image: -moz-linear-gradient(top, #fe8523, #fe8523);
    background-image: -ms-linear-gradient(top, #fe8523, #fe8523);
    background-image: -o-linear-gradient(top, #fe8523, #fe8523);
    background-image: linear-gradient(top, #fe8523, #fe8523);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#fe8523', EndColorStr='#fe8523');
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    color: #fff;
    outline: 0;
    text-shadow: none
}
.btn-sh.disabled,
.email-alert-dialog .disabled.email-alert-dialog-button,
.btn-sh[disabled],
.email-alert-dialog [disabled].email-alert-dialog-button,
.btn-sh:hover,
.email-alert-dialog .email-alert-dialog-button:hover {
    background: #f60;
    *background-color: #f60;
    color: #fff
}
.content {
    margin: 0;
    width: 100%
}
.dialog-wrapper {
    outline: 0
}
.divclear {
    clear: both
}
.gray-button {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #eee;
    background-image: none;
    border: 1px solid #ddd;
    box-shadow: none;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    text-shadow: none
}
.gray-button:hover {
    background-color: #ddd;
    text-decoration: none
}
.icon-account {
    display: inline-block;
    background-position: 0 0;
    height: 11px;
    width: 12px
}
.icon-alert {
    display: inline-block;
    background-position: 0 -21px;
    height: 21px;
    width: 24px
}
.icon-email {
    display: inline-block;
    background-position: 0 -52px;
    height: 9px;
    width: 14px
}
.icon-hallmark {
    display: inline-block;
    background-position: 0 -94px;
    height: 30px;
    width: 30px
}
.icon-resume {
    display: inline-block;
    background-position: 0 -134px;
    height: 15px;
    width: 11px
}
.icon-saved-job {
    display: inline-block;
    background-position: 0 -159px;
    height: 12px;
    width: 12px
}
.icon-search {
    display: inline-block;
    background-position: 0 -205px;
    height: 12px;
    width: 12px
}
.icon-search-adv {
    display: inline-block;
    background-position: 0 -181px;
    height: 14px;
    width: 14px
}
.icon-sign-out {
    display: inline-block;
    background-position: 0 -227px;
    height: 11px;
    width: 11px
}
.line-separator {
    border: 0;
    border-top: 1px solid #ddd
}
.search label.search_keywords_label,
.search label.search_location_label {
    display: block;
    float: left;
    margin: 0;
    width: 220px
}
.search label.search_keywords_label input,
.search label.search_location_label input {
    border: 1px solid #ccc;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 4px 6px;
    width: 220px
}
.search label.search_location_label {
    margin: 0 0 0 20px
}
.search .search_button {
    border: 0;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 400;
    margin: 20px 0 0 20px;
    width: 220px
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}
.sh_header {
    color: inherit;
    margin: 0 auto;
    padding: 0;
    width: 940px
}
.sh_header .sh_logo {
    display: block;
    float: left;
    width: 240px
}
.sh_header .search {
    display: block;
    float: left;
    width: 700px
}
.sh_header_container {
    width: 940px
}
.sh_header_right {
    color: #999;
    margin: 0
}
.sh_header_search {
    background: inherit;
    border-bottom: 0;
    margin: 0 auto;
    padding: 0;
    width: 940px
}
.sh-banner {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    min-height: 300px;
    text-align: center
}
.sh-banner h1 {
    font-weight: 600;
    font-size: 48px;
    margin: 105px 0 40px 0;
    text-shadow: 0 2px 2px #333
}
.sh-banner h2 {
    font-weight: 400;
    font-size: 24px;
    margin: 0 0 105px 0;
    text-shadow: 0 1px 2px #333
}
.navbar.footer {
    background: #fff;
    border-top: 5px solid #f60;
    bottom: 0;
    font-size: 14px;
    padding: 20px 0;
    position: absolute;
    width: 100%
}
.navbar.footer .container .btn-link,
.navbar.footer .hybrid-container .btn-link {
    color: #333;
    font-weight: 700;
    line-height: 30px;
    margin: 0 30px 0 0;
    padding: 0;
    text-align: center
}
.navbar.footer .container .btn-link:hover,
.navbar.footer .hybrid-container .btn-link:hover {
    text-decoration: none
}
.navbar.footer .container .btn-link:focus,
.navbar.footer .hybrid-container .btn-link:focus {
    outline: 0
}
.navbar.footer .container .copyright,
.navbar.footer .hybrid-container .copyright {
    font-size: 12px;
    line-height: 32px;
    text-align: right
}
.navbar.footer .container .copyright a,
.navbar.footer .hybrid-container .copyright a {
    color: #333;
    text-decoration: none
}
.navbar.footer .container .dropdown-menu,
.navbar.footer .hybrid-container .dropdown-menu {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #ccc;
    bottom: 45px;
    left: -40px;
    position: absolute;
    width: 130px
}
.navbar.footer .container .dropdown-menu:after,
.navbar.footer .hybrid-container .dropdown-menu:after,
.navbar.footer .container .dropdown-menu:before,
.navbar.footer .hybrid-container .dropdown-menu:before {
    border: solid transparent;
    content: " ";
    height: 0;
    left: 50%;
    pointer-events: none;
    position: absolute;
    width: 0
}
.navbar.footer .container .dropdown-menu:after,
.navbar.footer .hybrid-container .dropdown-menu:after {
    border-color: rgba(255, 255, 255, 0);
    border-width: 15px;
    margin-left: calc(0px - 15px)
}
.navbar.footer .container .dropdown-menu:before,
.navbar.footer .hybrid-container .dropdown-menu:before {
    border-color: rgba(181, 178, 167, 0);
    border-width: calc(15px - -1px);
    margin-left: calc(-1px - 15px)
}
.navbar.footer .container .dropdown-menu:after,
.navbar.footer .hybrid-container .dropdown-menu:after,
.navbar.footer .container .dropdown-menu:before,
.navbar.footer .hybrid-container .dropdown-menu:before {
    top: 100%
}
.navbar.footer .container .dropdown-menu:after,
.navbar.footer .hybrid-container .dropdown-menu:after {
    border-top-color: #fff
}
.navbar.footer .container .dropdown-menu:before,
.navbar.footer .hybrid-container .dropdown-menu:before {
    border-top-color: #ccc
}
.navbar.footer .container .dropdown-menu a,
.navbar.footer .hybrid-container .dropdown-menu a {
    color: #333;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none
}
.navbar.footer .container .dropdown-menu a:hover,
.navbar.footer .hybrid-container .dropdown-menu a:hover {
    background: #fff;
    text-decoration: underline
}
.navbar.footer .container .navbar-brand,
.navbar.footer .hybrid-container .navbar-brand {
    margin-right: 50px
}
.navbar.footer .container .simply-post-button,
.navbar.footer .hybrid-container .simply-post-button {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #59c7a9;
    background-image: none;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-weight: 300;
    font-size: 13px;
    height: 30px;
    opacity: 1;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none
}
.navbar.footer .container .simply-post-button:hover,
.navbar.footer .hybrid-container .simply-post-button:hover {
    background-color: #00a99c;
    text-decoration: none
}
.navbar.footer .container .simply-post-button img,
.navbar.footer .hybrid-container .simply-post-button img {
    height: 13px;
    margin: 0 6px 2px 0;
    width: 13px
}







.responsive-menu-icons-sprite,
.top-menu .slideout-menu-container .slideout-menu .section-header .close-icon,
.top-menu .slideout-menu-container .slideout-menu .menu-footer .app-logo.app-store,
.top-menu .slideout-menu-container .slideout-menu .menu-footer .app-logo.google-play,
.responsive-search-form-container .fg-location .locate-me-hit-area .locate-me {
    background-image: url(/static/search/img/responsive-menu-icons-sfc2ee14ab7.png);
    background-repeat: no-repeat
}
.base-icons-sprite,
.icon-account,
.icon-alert,
.icon-email,
.icon-hallmark,
.icon-resume,
.icon-saved-job,
.icon-search,
.icon-search-adv,
.icon-sign-out,
.email-alert-container .invalid-email-error .error-icon {
    background-image: url(/static/search/img/base-icons-s74439a7b26.png);
    background-repeat: no-repeat
}
.modal-backdrop,
.modal-backdrop.fade.in {
    opacity: .8;
    filter: alpha(opacity=80)
}
.top-menu .top-menu-sh-logo {
    display: inline-block;
    left: 0;
    position: relative;
    width: 247px
}
.top-menu .top-menu-sh-logo img {
    height: 26px;
    width: 140px;
    margin: 15px 0 15px 15px
}
.top-menu .slideout-menu-container {
    display: inline-block;
    float: right;
    padding: 15px 15px 0 0;
    position: static
}
.top-menu .slideout-menu-container .slideout-menu {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    display: none;
    height: 100vh;
    position: absolute;
    right: -265px;
    top: 0;
    width: 265px;
    z-index: 1050
}
.top-menu .slideout-menu-container .slideout-menu a {
    color: #333;
    text-decoration: none
}
.top-menu .slideout-menu-container .slideout-menu a.btn-signin {
    background: #3285c6;
    color: #fff
}
.top-menu .slideout-menu-container .slideout-menu a.btn-signout {
    background: #999;
    color: #fff
}
.top-menu .slideout-menu-container .slideout-menu a.btn-signup {
    background: #3285c6;
    color: #fff;
    margin-left: 30px
}
.top-menu .slideout-menu-container .slideout-menu .section-header {
    font-size: 16px;
    padding: 15px
}
.top-menu .slideout-menu-container .slideout-menu .section-header .section-toggle {
    color: #3285c6;
    font-weight: 600;
    text-transform: uppercase
}
.top-menu .slideout-menu-container .slideout-menu .section-header .section-toggle:hover {
    cursor: pointer
}
.top-menu .slideout-menu-container .slideout-menu .section-header .section-toggle .search-icon {
    display: inline-block;
    height: 20px;
    margin-top: 0;
    padding: 4px 10px 0 0;
    vertical-align: top;
    width: 26px
}
.top-menu .slideout-menu-container .slideout-menu .section-header .section-toggle .search-heading-text {
    color: #fe9139;
    font-weight: 600;
    text-transform: uppercase
}
.top-menu .slideout-menu-container .slideout-menu .section-header .close-icon {
    background-position: 0 -42px;
    height: 16px;
    width: 16px;
    float: right;
    height: 16px;
    right: 15px;
    top: 15px;
    width: 16px
}
.top-menu .slideout-menu-container .slideout-menu .section-header .close-icon:hover {
    cursor: pointer
}
.top-menu .slideout-menu-container .slideout-menu .section-body ul {
    font-size: 16px;
    list-style-type: none;
    padding: 0 15px 15px
}
.top-menu .slideout-menu-container .slideout-menu .section-body ul li {
    padding: 0 0 15px
}
.top-menu .slideout-menu-container .slideout-menu .section-body ul li:last-child {
    padding-bottom: 0
}
.top-menu .slideout-menu-container .slideout-menu .section-body.responsive-search-container .responsive-search-form-container {
    border-bottom: 1px solid #eee
}
.top-menu .slideout-menu-container .slideout-menu .section-body.responsive-search-container .responsive-search-form-container .button-block {
    float: none;
    padding: 0;
    width: 100%
}
.top-menu .slideout-menu-container .slideout-menu .section-body.responsive-search-container .responsive-search-form-container .form-group {
    float: none;
    margin-bottom: 10px;
    width: 100%
}
.top-menu .slideout-menu-container .slideout-menu .section-body.responsive-search-container .responsive-search-form-container .form-group.fg-location {
    margin: 0 0 15px 0;
    width: 100%
}
.top-menu .slideout-menu-container .slideout-menu .slideout-menu-divider {
    border-top: 1px solid #ddd;
    margin: 0 13px;
    padding: 0
}
.top-menu .slideout-menu-container .slideout-menu .menu-account {
    padding: 15px
}
.top-menu .slideout-menu-container .slideout-menu .menu-footer {
    padding: 15px
}
.top-menu .slideout-menu-container .slideout-menu .menu-footer a {
    height: auto;
    width: auto
}
.top-menu .slideout-menu-container .slideout-menu .menu-footer .app-logo {
    display: inline-block;
    padding: 0
}
.top-menu .slideout-menu-container .slideout-menu .menu-footer .app-logo.app-store {
    background-position: 0 0;
    height: 32px;
    width: 108px
}
.top-menu .slideout-menu-container .slideout-menu .menu-footer .app-logo.google-play {
    background-position: 0 -68px;
    height: 32px;
    width: 94px
}
.top-menu .slideout-menu-container .slideout-menu .menu-footer .copyright {
    color: #444;
    font-size: 12px;
    margin-top: 30px;
    text-align: center
}
@media(max-width:767px),
(max-device-width:767px) {
    body {
        overflow-x: hidden;
        padding-left: 0;
        padding-right: 0
    }
    body .dir-banner {
        margin-top: 0
    }
    body .header-top {
        padding: 0
    }
    body .sh-banner h1 {
        width: 100%
    }
    body .sh_footer {
        display: none
    }
}
.intl-flags-icons-sprite,
.us span.flag,
.au span.flag,
.be span.flag,
.br span.flag,
.ca span.flag,
.de span.flag,
.es span.flag,
.fr span.flag,
.gb span.flag,
.ie span.flag,
.in span.flag,
.it span.flag,
.nl span.flag,
.mx span.flag,
.jp span.flag,
.ch span.flag,
.cn span.flag,
.at span.flag,
.kr span.flag,
.za span.flag,
.ar span.flag,
.ru span.flag,
.se span.flag,
.pt span.flag {
    background-image: url(/static/search/img/intl-flags-icons-s5447919215.png);
    background-repeat: no-repeat
}
.us span.flag {
    background-position: 0 -264px;
    height: 11px;
    width: 16px
}
.au span.flag {
    background-position: 0 -24px;
    height: 11px;
    width: 16px
}
.be span.flag {
    background-position: 0 -36px;
    height: 11px;
    width: 16px
}
.br span.flag {
    background-position: 0 -48px;
    height: 11px;
    width: 16px
}
.ca span.flag {
    background-position: 0 -60px;
    height: 11px;
    width: 16px
}
.de span.flag {
    background-position: 0 -96px;
    height: 11px;
    width: 16px
}
.es span.flag {
    background-position: 0 -108px;
    height: 11px;
    width: 16px
}
.fr span.flag {
    background-position: 0 -120px;
    height: 11px;
    width: 16px
}
.gb span.flag {
    background-position: 0 -132px;
    height: 11px;
    width: 16px
}
.ie span.flag {
    background-position: 0 -144px;
    height: 11px;
    width: 16px
}
.in span.flag {
    background-position: 0 -156px;
    height: 11px;
    width: 16px
}
.it span.flag {
    background-position: 0 -168px;
    height: 11px;
    width: 16px
}
.nl span.flag {
    background-position: 0 -216px;
    height: 11px;
    width: 16px
}
.mx span.flag {
    background-position: 0 -204px;
    height: 11px;
    width: 16px
}
.jp span.flag {
    background-position: 0 -180px;
    height: 11px;
    width: 16px
}
.ch span.flag {
    background-position: 0 -72px;
    height: 11px;
    width: 11px
}
.cn span.flag {
    background-position: 0 -84px;
    height: 11px;
    width: 16px
}
.at span.flag {
    background-position: 0 -12px;
    height: 11px;
    width: 16px
}
.kr span.flag {
    background-position: 0 -192px;
    height: 11px;
    width: 16px
}
.za span.flag {
    background-position: 0 -276px;
    height: 11px;
    width: 16px
}
.ar span.flag {
    background-position: 0 0;
    height: 11px;
    width: 16px
}
.ru span.flag {
    background-position: 0 -240px;
    height: 11px;
    width: 16px
}
.se span.flag {
    background-position: 0 -252px;
    height: 11px;
    width: 16px
}
.pt span.flag {
    background-position: 0 -228px;
    height: 11px;
    width: 16px
}
span.flag {
    margin-bottom: 2px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 4px
}




.ls-dropdown {
    display: inline-block;
    cursor: pointer
}
.ls-dropdown .language-selector:after {
    display: none
}
.language-selector-menu {
    left: auto;
    margin: 10px -5px 0 0;
    right: 0
}
.language-selector-menu:after,
.language-selector-menu:before {
    border: solid transparent;
    content: " ";
    height: 0;
    left: calc(100% - 25px);
    pointer-events: none;
    position: absolute;
    width: 0
}
.language-selector-menu:after {
    border-color: rgba(255, 255, 255, 0);
    border-width: 10px;
    margin-left: calc(0px - 10px)
}
.language-selector-menu:before {
    border-color: rgba(181, 178, 167, 0);
    border-width: calc(10px - -1px);
    margin-left: calc(-1px - 10px)
}
.language-selector-menu:after,
.language-selector-menu:before {
    bottom: calc(100%)
}
.language-selector-menu:after {
    border-bottom-color: #fff
}
.language-selector-menu:before {
    border-bottom-color: #ddd
}
.language-selector-menu hr {
    height: 0;
    margin: 0
}
.language-selector-menu .language-menu-item {
    color: #333;
    display: block;
    font-size: 12px;
    padding: 15px 20px;
    text-align: left;
    text-decoration: none;
    width: 100%
}
.language-selector-menu .language-menu-item:hover {
    color: #333;
    background-color: rgba(50, 133, 198, 0.1);
    background-image: none
}

.home-privacy-banner {
    background: #444;
    color: #fff;
    padding: 5px 20px 5px 5px;
    text-align: right
}
.home-privacy-banner a {
    color: #aaf;
}

/* autocomplete */
.ui-autocomplete {
    border-radius: 3px;
    border-style: solid;
    border-width: thin;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    z-index: 2000;
}

.ui-menu-item {
    font-size: 17px;
}



.email-alert-container {
    border: 0;
    padding: 0
}
.email-alert-container .email-alert-form {
    margin-bottom: 0;
    padding-bottom: 0
}
.email-alert-container .email-alert-form .email-alert-button {
    border: 0;
    color: #fff;
    display: inline-block;
    float: right;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    height: 40px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #fe8523;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fe8523), to(#fe8523));
    background-image: -webkit-linear-gradient(top, #fe8523, #fe8523);
    background-image: -moz-linear-gradient(top, #fe8523, #fe8523);
    background-image: -ms-linear-gradient(top, #fe8523, #fe8523);
    background-image: -o-linear-gradient(top, #fe8523, #fe8523);
    background-image: linear-gradient(top, #fe8523, #fe8523);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#fe8523', EndColorStr='#fe8523');
    padding: 4px 12px;
    text-align: center;
    vertical-align: bottom;
    min-width: 90px;
    margin-left: 6px;
}
.email-alert-container .email-alert-form .email-alert-button:hover {
    background-color: #f60;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f60), to(#f60));
    background-image: -webkit-linear-gradient(top, #f60, #f60);
    background-image: -moz-linear-gradient(top, #f60, #f60);
    background-image: -ms-linear-gradient(top, #f60, #f60);
    background-image: -o-linear-gradient(top, #f60, #f60);
    background-image: linear-gradient(top, #f60, #f60);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#ff6600', EndColorStr='#ff6600');
    cursor: pointer;
    text-decoration: none
}
.email-alert-container .email-alert-form img.loading {
    display: none;
    height: 32px;
    margin-left: 3px;
    width: 32px
}
.email-alert-container .email-alert-form .email-alert-email-box {
    overflow: hidden;
}
.email-alert-container .email-alert-form input.email-alert-email-addr {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #ddd;
    color: #333;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    height: 40px;
    margin-right: 5px;
    padding: 4px 10px;
    width: 100%;
}
.email-alert-container .email-alert-form input:invalid {
    border-color: #ef3131;
    -webkit-box-shadow: inset 0 0 1px 1px rgba(246, 161, 161, 0.45);
    -moz-box-shadow: inset 0 0 1px 1px rgba(246, 161, 161, 0.45);
    box-shadow: inset 0 0 1px 1px rgba(246, 161, 161, 0.45)
}
.email-alert-container .email-alert-title {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    margin: 0 0 5px 0
}
.email-alert-container .email-alert-text {
    color: #333;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 10px
}
.email-alert-container h3 {
    color: #333;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px
}
.email-alert-container .invalid-email-error {
    color: #ef3131;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    visibility: hidden
}
.email-alert-container .invalid-email-error .icon-error {
    height: 13px;
    margin: 7px 0 0 0;
    position: absolute;
    width: 13px
}
.email-alert-container .invalid-email-error .error-text {
    margin: 5px 0 0 23px
}
.email-alert-container .email-invalid {
    color: red;
}
.email-alert-container .email-msg {
    display: none;
}
