@charset "UTF-8";

.atc-dropdown {
    background-color: #FFF;
    border: 1px solid #ccc;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 2px 4px #999;
    color: #ddd;
    display: block;
    margin: -5px 0 0 0;
    overflow: hidden;
    padding: 0 0 10px 0;
    position: absolute;
    z-index: 4
}
.atc-dropdown .dropdown-item {
    color: #999;
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    padding: 5px 0 5px 10px
}
.atc-dropdown .dropdown-item-hover {
    background-color: #3285c6
}
.atc-dropdown .dropdown-item-hover a {
    color: #fff;
    cursor: pointer;
    display: block;
    text-decoration: none
}
.atc-dropdown .dropdown-item-hover a:active {
    color: #fff
}
.homepage-icons-sprite,
.home-banner .homelogo .reverse-logo,
.home-hamburger-icon,
.international-dropdown-carat,
.secondary-links .sl-row .sl-img.promo-blog,
.secondary-links .sl-row .sl-img.promo-salary,
.secondary-links .sl-row .sl-img.promo-success,
.company-row .company-links div.ann-inc,
.company-row .company-links div.disney,
.company-row .company-links div.google,
.company-row .company-links div.kaiser,
.company-row .company-links div.target,
.home-browse-widget .jcarousel-wrapper .jcarousel-control .left-icon,
.home-browse-widget .jcarousel-wrapper .jcarousel-control .right-icon {
    background-image: url(/static/home/img/homepage-icons-s02fe69f44b.png);
    background-repeat: no-repeat
}
a,
a:hover {
    cursor: pointer;
    text-decoration: none
}
body {
    background: #eee;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0
}
.account-menu-content {
    display: none
}
.home-banner {
    background-color: #000;
    background-image: url(/static/home/img/city-backgrounds/city-background-generic.jpg);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 40px 0
}
.home-banner h1 {
    font-size: 42px;
    font-weight: 400;
    line-height: 36px;
    margin: 0 0 40px 0;
    text-align: center;
    text-shadow: 0 2px 4px #000
}
.home-banner .homelogo {
    display: inline-block;
    margin-top: 12px;
    height: 41px
}
.home-banner .homelogo .reverse-logo {
    background-position: 0 -1068px;
    height: 41px;
    width: 220px
}
.home-banner .home-search-container {
    color: #fff
}
.home-banner .home-search-container .home-search-form button {
    display: inline-block;
    float: right;
    height: 44px;
    margin-top: 30px;
    width: 172px
}
.home-banner .home-search-container .home-search-form .input-container {
    display: inline-block;
    margin-right: 18px;
    width: calc(50% - 110px)
}
.home-banner .home-search-container .home-search-form .input-container input[type="text"] {
    border: 1px solid #ddd;
    color: #333;
    font-size: 17px;
    height: 44px;
    margin-bottom: 0;
    padding: 6px 4px;
    width: 100%
}
.home-banner .home-search-container .home-search-form .input-container label {
    cursor: auto;
    display: block;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    text-shadow: 0 1px 2px #000, 0px 1px 2px #000
}
.home-banner.banner-image-generic {
    background-image: url(/static/home/img/city-backgrounds/city-background-generic.jpg)
}
.recent-searches-module {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.75);
    background: rgba(255, 255, 255, 0.75);
    color: #000;
    display: none;
    margin: 30px 0 0 0;
    padding: 15px 15px 10px 15px
}
.recent-searches-module h4 {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    margin: 0
}
.recent-searches-module ul {
    margin: 5px 0 0 0;
    width: 100%
}
.recent-searches-module ul li {
    line-height: 28px;
    list-style: none
}
.recent-searches-module ul li a {
    color: #06c;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600
}
.recent-searches-module ul li a.filtered-link {
    color: #444;
    font-size: 14px;
    font-weight: 400
}
.recent-searches-module ul li a:hover {
    text-decoration: underline
}
.home-hamburger-icon {
    background-position: 0 -110px;
    height: 21px;
    width: 27px
}
.home-hamburger-icon:hover {
    cursor: pointer
}
hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #ddd;
    border-bottom: 0
}
.international-dropdown-carat {
    background-position: 0 0
}
.post-row {
    background-color: #19405f;
    color: #fff;
    padding: 30px 0
}
.post-row .pr-left {
    display: inline-block;
    width: calc(100% - 320px)
}
.post-row .pr-left .pr-text {
    font-size: 18px;
    margin: 0
}
.post-row .pr-left .pr-text a,
.post-row .pr-left .pr-text a:hover {
    color: #fff;
    text-decoration: underline
}
.post-row .pr-left .pr-title {
    font-size: 32px;
    font-weight: 600;
    margin: 0 0 10px 0
}
.post-row .pr-btn {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #59c7a9;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 24px;
    font-weight: 600;
    margin-top: 44px;
    padding: 14px 0;
    text-align: center;
    width: 220px
}
.post-row .pr-btn:hover {
    background-color: #00a99c;
    text-decoration: none
}
.secondary-links {
    background-color: #fff;
    padding: 40px 0 50px 0;
    text-align: center
}
.secondary-links h2,
.secondary-links h3 {
    color: #333;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px
}
.secondary-links .sl-header {
    margin: 0 0 25px 0
}
.secondary-links .sl-subheader {
    color: #999;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 35px 0
}
.secondary-links .sl-row {
    border: 1px solid #ddd;
    height: 200px;
    margin-top: 20px;
    text-align: left;
    width: 100%
}
.secondary-links .sl-row .sl-img {
    display: inline-block;
    float: left;
    height: 200px;
    width: 300px
}
.secondary-links .sl-row .sl-img.promo-blog {
    background-position: 0 -438px
}
.secondary-links .sl-row .sl-img.promo-salary {
    background-position: 0 -648px
}
.secondary-links .sl-row .sl-img.promo-success {
    background-position: 0 -858px
}
.secondary-links .sl-row .sl-text {
    display: inline-block;
    float: left;
    margin: 30px 40px;
    width: calc(100% - 550px)
}
.secondary-links .sl-row .sl-text h3 {
    margin: 0 0 18px 0
}
.secondary-links .sl-row .sl-text p {
    color: #333;
    font-size: 18px;
    line-height: 22px;
    margin: 0
}
.secondary-links .sl-row .sl-btn {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #3285c6;
    color: #fff;
    float: right;
    font-size: 16px;
    font-weight: 400;
    margin: 76px 30px 0 0;
    padding: 14px 0;
    text-align: center;
    width: 140px
}
.secondary-links .sl-row .sl-btn:hover {
    background-color: #4791cc
}
.company-row {
    padding: 30px 0 40px 0;
    text-align: center
}
.company-row .company-title {
    color: #999;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 30px 0
}
.company-row .company-links {
    width: 100%
}
.company-row .company-links div {
    display: inline-block;
    margin-left: 5%
}
.company-row .company-links div.first-company {
    margin-left: 0
}
.company-row .company-links div.ann-inc {
    background-position: 0 -141px;
    height: 27px;
    width: 193px;
    margin-bottom: 21px
}
.company-row .company-links div.disney {
    background-position: 0 -178px;
    height: 50px;
    width: 118px;
    margin-bottom: 10px
}
.company-row .company-links div.google {
    background-position: 0 -238px;
    height: 50px;
    width: 151px;
    margin-bottom: 10px
}
.company-row .company-links div.kaiser {
    background-position: 0 -298px;
    height: 50px;
    width: 186px;
    margin-bottom: 10px
}
.company-row .company-links div.target {
    background-position: 0 -358px;
    height: 70px;
    width: 56px
}
.old-browse {
    background-color: #fff
}
.old-browse h2 {
    color: #333;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    padding: 40px 0;
    text-align: center
}
.old-browse ul {
    margin: 0;
    padding: 0
}
.old-browse ul li {
    display: inline;
    float: left;
    list-style: none;
    margin-left: 20px;
    min-width: 175px;
    overflow: hidden;
    padding: 0 10px;
    text-overflow: ellipsis;
    width: 22%
}
.old-browse ul li a {
    color: #3285c6;
    font-size: 16px;
    line-height: 30px;
    white-space: nowrap
}
.old-browse ul li:hover {
    background-color: #d0e3f2;
    cursor: pointer;
    text-decoration: underline
}
.old-browse .browse-btn {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #3285c6;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    margin: 35px auto 35px calc(50% - 100px);
    padding: 14px 0;
    text-align: center;
    width: 200px
}
.old-browse .browse-btn:hover {
    background-color: #4791cc
}
.home-browse-widget {
    background-color: #fff;
    color: #333;
    padding: 0 0 40px 0
}
.home-browse-widget .container,
.home-browse-widget .hybrid-container {
    padding: 0
}
.home-browse-widget h2 {
    margin-bottom: 30px;
    text-align: center
}
.home-browse-widget .jcarousel-wrapper {
    position: relative
}
.home-browse-widget .jcarousel-wrapper .jcarousel-styles {
    overflow: hidden;
    position: relative
}
.home-browse-widget .jcarousel-wrapper .jcarousel-styles ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 10000em
}
.home-browse-widget .jcarousel-wrapper .jcarousel-styles ul li {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 2px solid #ddd;
    display: inline-block;
    float: left;
    margin: 0 15px
}
.home-browse-widget .jcarousel-wrapper .jcarousel-styles ul li .display-name {
    background-color: #eee;
    border-bottom: 2px solid #ddd;
    font-size: 16px;
    font-weight: 600;
    padding: 18px 0;
    text-align: center
}
.home-browse-widget .jcarousel-wrapper .jcarousel-styles ul li .links-container {
    padding: 0 15px
}
.home-browse-widget .jcarousel-wrapper .jcarousel-styles ul li .links-container .job-title-container {
    padding-top: 15px
}
.home-browse-widget .jcarousel-wrapper .jcarousel-styles ul li .links-container .job-title-container .job-title {
    color: #3285c6;
    font-size: 15px
}
.home-browse-widget .jcarousel-wrapper .jcarousel-styles ul li .links-container .location-link {
    color: #333;
    font-size: 13px;
    font-weight: 300
}
.home-browse-widget .jcarousel-wrapper .jcarousel-styles ul li .view-more-link-container {
    padding: 25px 0 15px 0;
    text-align: center
}
.home-browse-widget .jcarousel-wrapper .jcarousel-styles ul li .view-more-link-container .view-more-link {
    color: #999;
    font-weight: 300
}
.home-browse-widget .jcarousel-wrapper .jcarousel-control {
    height: 70px;
    margin-top: 105px;
    opacity: .5;
    width: 50px
}
.home-browse-widget .jcarousel-wrapper .jcarousel-control.jcarousel-prev {
    float: left
}
.home-browse-widget .jcarousel-wrapper .jcarousel-control.jcarousel-next {
    float: right
}
.home-browse-widget .jcarousel-wrapper .jcarousel-control:focus {
    outline: 0
}
.home-browse-widget .jcarousel-wrapper .jcarousel-control:hover {
    opacity: 1.0
}
.home-browse-widget .jcarousel-wrapper .jcarousel-control div {
    height: 11px;
    margin: 29px auto 0 auto;
    width: 7px
}
.home-browse-widget .jcarousel-wrapper .jcarousel-control .left-icon {
    background-position: 0 -47px
}
.home-browse-widget .jcarousel-wrapper .jcarousel-control .left-icon:hover,
.home-browse-widget .jcarousel-wrapper .jcarousel-control .left-icon.carousel-left-hover {
    background-position: 0 -26px
}
.home-browse-widget .jcarousel-wrapper .jcarousel-control .right-icon {
    background-position: 0 -89px
}
.home-browse-widget .jcarousel-wrapper .jcarousel-control .right-icon:hover,
.home-browse-widget .jcarousel-wrapper .jcarousel-control .right-icon.carousel-right-hover {
    background-position: 0 -68px
}
.home-browse-widget .browse-all {
    /*margin-top: 40px;*/
    text-align: center
}
.home-browse-widget .browse-all .browse-all-btn {
    background-color: #3285c6;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin: 5px 10px;
    padding: 12px 0;
    text-align: center;
    width: 170px
}
.home-browse-widget .browse-all .browse-all-btn:hover {
    background-color: #4791cc
}
@media(min-width:768px) and (max-width:991px) {
    .home-banner h1 {
        font-size: 32px;
        line-height: normal
    }
    .secondary-links .sl-row .sl-img {
        display: none
    }
    .secondary-links .sl-row .sl-text {
        width: calc(100% - 260px)
    }
}
@media(max-width:767px) {
    body {
        padding-left: 0;
        padding-right: 0
    }
    .home-banner {
        background-position: top left;
        margin: 0;
        padding: 0
    }
    .home-banner h1 {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 20px
    }
    .home-banner .eyebrow {
        display: none
    }
    .home-banner .homelogo {
        height: 26px
    }
    .home-banner .homelogo .reverse-logo {
        background: transparent url(/static/home/img/homepage-icons/sh-logo-reverse.png) top left no-repeat;
        background-size: cover;
        height: 26px;
        width: 140px
    }
    .home-banner .home-search-container {
        margin: 20px auto
    }
    .home-banner .home-search-container .home-search-form button {
        float: none;
        width: 100%
    }
    .home-banner .home-search-container .home-search-form button.btn-sh {
        margin-top: 20px
    }
    .home-banner .home-search-container .home-search-form label {
        margin: 10px 0 5px 0
    }
    .home-banner .home-search-container .home-search-form label.hidden-label {
        display: none
    }
    .home-banner .home-search-container .home-search-form .input-container {
        display: block;
        width: 100%
    }
    .home-banner .home-search-container .home-search-form .input-container input {
        width: 100%
    }
    .home-banner .home-search-container .recent-searches-module h4 {
        margin: 0;
        text-align: center
    }
    .home-banner .home-search-container .recent-searches-module ul {
        margin: 5px 0 15px 0;
        padding-left: 0
    }
    .home-banner .top-menu .slideout-menu-container {
        padding: 15px 5px 0 0
    }
    .home-banner .top-menu .top-menu-sh-logo {
        padding-left: 5px;
        width: 140px
    }
    .secondary-links .sl-row {
        height: auto;
        text-align: center
    }
    .secondary-links .sl-row .sl-btn {
        display: block;
        float: none;
        margin: 0 auto 20px auto
    }
    .secondary-links .sl-row .sl-img {
        display: none
    }
    .secondary-links .sl-row .sl-text {
        display: block;
        float: none;
        margin: 20px 0 25px 0;
        text-align: center;
        width: 100%
    }
    .secondary-links .sl-row .sl-text h3 {
        margin: 0
    }
    .secondary-links .sl-row .sl-text p {
        display: none
    }
}
@media(min-width:768px) {
    .recent-searches-module {
        clear: both
    }
    .recent-searches-module ul {
        display: inline-block;
        padding-left: 0
    }
    .recent-searches-module ul li {
        display: inline;
        float: left;
        width: 50%
    }
}