.ui-menu { padding: 0px !important; }

.ui-menu-item { font-size: 12px; }

.ui-state-hover {
	background: #E7E7E7 !important;
	color: #CC0000 !important;
	border: none !important;
}

.ui-corner-all {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}