@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 400;
  src: local('Monoton'), local('Monoton-Regular'), url(https://fonts.gstatic.com/s/monoton/v6/ceRJlaOl8VqdbfWAlFaxNQ.ttf) format('truetype');
}
