﻿body {
  margin: 0;
  padding: 0;
}
/* Hide all ad blocks by default */
#adblock-970x90_top,
#adblock-970x90_bottom,
#adblock-320x50_top,
#adblock-320x50_bottom,
#adblock-lbmobile,
#adblock-leaderboard,
#adblock-sky {
  display: none;
}
/* For mobiles */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  #adblock-mrec {
    display: block;
  }
  #adblock-lbmobile {
    display: block;
  }
  #adblock-leaderboard {
    display: none;
  }
  #adblock-sky {
    display: none;
  }
  #adblock-970x90_top {
    display: none;
  }
  #adblock-970x90_bottom {
    display: none;
  }
  #adblock-320x50_top {
    display: block;
  }
  #adblock-320x50_bottom {
    display: block;
  }
  #adblock-300x250 {
    display: block;
  }
}
/* For tablets in landscape and desktops */
@media only screen and (min-width: 769px) {
  #adblock-mrec {
    display: block;
  }
  #adblock-lbmobile {
    display: none;
  }
  #adblock-leaderboard {
    display: block;
  }
  #adblock-sky {
    display: block;
  }
  #adblock-970x90_top {
    display: block;
  }
  #adblock-970x90_bottom {
    display: block;
  }
  #adblock-320x50_top {
    display: none;
  }
  #adblock-320x50_bottom {
    display: none;
  }
  #adblock-300x250 {
    display: block;
  }
}
