﻿/*Connect Redesign Content*/
@charset "UTF-8";

.lock{
	width: 17px;
	height: 23px;
	background:url(../images/RedesignSprite.png) 0px 0px no-repeat;
	position: absolute;
    right: 18px;
    top: 50%;
    margin-top: -15.5px; 
}   

/*============================================================================
  Primary Navigation
==============================================================================*/
.nav-primary--account {
    z-index: 1000;
}
/* Custom 
.menu-item {
  float: left; } */

/* Custom */
.menu-account a.loginSignUp {
    width: 50%;
    text-align: center;
    text-transform:uppercase;
    float:left;
}
.cineplex_connect_mobile a.loginSignUp {
    width: 50%;
    text-align: center;
    line-height:100%;
    float:left; }
/* Custom */
.cineplex_connect_mobile .picture-icon-account {
	max-height: inherit !important;
    width:100% !important;
    margin-bottom:0px;
    float:left; }
    /* Custom */
.menu-account .picture-icon-account {
    display: inline;
    width:100% !important;
	max-height: inherit !important;
}
.menu-account .icon-account {
    float:left;
}

/* Custom */
.name-label {
   color: #fff;
   margin: 0;
   max-width: 67%;
   overflow:hidden;
}    

/*Custom*/    
/* line 12, /Users/carsonshold/Documents/Projects/451_cineplex/source/css/views/_connect.css.scss */
#connectIframe.loading {
  background: url(img/misc/loader.gif) center 100px no-repeat;
  min-height: 200px; }
/* line 17, /Users/carsonshold/Documents/Projects/451_cineplex/source/css/views/_connect.css.scss */
/*#connectIframe iframe {
  min-height: 600px;
  overflow: scroll; }*/
  
  
 @media (min-width: 480px) {
     .login-modal 
     {
         min-height: 500px !important;
     } 
     .signup-modal 
     {
         min-height: 575px !important;
     } 
      .login-semantic-content
     {
         min-height: 520px !important;     
     }
     .signup-semantic-content
     {
     } 
 }
 .forgotPassword-modal 
 {
     min-height: 360px !important;
 } 
 .changeEmail-modal 
 {
     min-height: 470px !important;
 } 
 .forgotPassword-semantic-content
 {
     min-height: 360px !important; 
 } 
 .changeEmail-semantic-content
 {
     min-height: 470px !important; 
 } 
 /*Custom*/
 .notClickable
{
 cursor:default;   
}
  
/*============================================================================
  Semantic Content
==============================================================================*/

/* line 38, /Users/carsonshold/Documents/Projects/451_cineplex/source/css/partials/_modal.css.scss */
.semantic-content {
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999999;
  opacity: 0;
  color: #222;
  line-height: 1.3;
  display: none\9; }
  /* line 62, /Users/carsonshold/Documents/Projects/451_cineplex/source/css/partials/_modal.css.scss */
  .semantic-content:target,
  .semantic-content.target {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; }
  /* line 76, /Users/carsonshold/Documents/Projects/451_cineplex/source/css/partials/_modal.css.scss */
  .is-active.semantic-content {
    display: block\9; }
  /* line 81, /Users/carsonshold/Documents/Projects/451_cineplex/source/css/partials/_modal.css.scss */
  .semantic-content:target,
  .semantic-content.target {
    display: block\9; }
  /* line 87, /Users/carsonshold/Documents/Projects/451_cineplex/source/css/partials/_modal.css.scss */
  .semantic-content .modal-inner {
    position: absolute;
    top: 50px;
    left: 50%;
    z-index: 10000004;
    margin-left: -325px;
    width: 650px;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6); }
    /* line 106, /Users/carsonshold/Documents/Projects/451_cineplex/source/css/partials/_modal.css.scss */
    .semantic-content .modal-inner > img,
    .semantic-content .modal-inner > video,
    .semantic-content .modal-inner > iframe {
      width: 100%;
      height: auto;
      min-height: 300px; }
    /* line 112, /Users/carsonshold/Documents/Projects/451_cineplex/source/css/partials/_modal.css.scss */
    .semantic-content .modal-inner > img {
      width: auto;
      max-width: 100%; }
  /* line 119, /Users/carsonshold/Documents/Projects/451_cineplex/source/css/partials/_modal.css.scss */
  .semantic-content header {
    border-bottom: 1px solid #d9d9d9;
    padding: 0 1.2em; }
    /* line 124, /Users/carsonshold/Documents/Projects/451_cineplex/source/css/partials/_modal.css.scss */
    .semantic-content header > h2,
    .semantic-content header > h3 {
      margin: 0.5em 0; }
  /* line 131, /Users/carsonshold/Documents/Projects/451_cineplex/source/css/partials/_modal.css.scss */
  .semantic-content .modal-content {
    max-height: 500px;
    max-height: 80vh;
    border-bottom: 1px solid #d9d9d9;
    padding: 12px;
    overflow-x: hidden;
    overflow-y: auto; }
    /* line 139, /Users/carsonshold/Documents/Projects/451_cineplex/source/css/partials/_modal.css.scss */
    .semantic-content .modal-content.nopadding {
      padding: 0; 
      border-radius:0px !important;
    }
    /* line 143, /Users/carsonshold/Documents/Projects/451_cineplex/source/css/partials/_modal.css.scss */
    .semantic-content .modal-content > * {
      max-width: 100%; }
    /* line 147, /Users/carsonshold/Documents/Projects/451_cineplex/source/css/partials/_modal.css.scss */
    .semantic-content .modal-content iframe {
      width: 100%;
      min-height: 200px;}
  /* line 155, /Users/carsonshold/Documents/Projects/451_cineplex/source/css/partials/_modal.css.scss */
  .semantic-content footer {
    border-top: 1px solid white;
    padding: 0 1.2em 18px;
    background-color: #f0f0f0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px; }
  /* line 164, /Users/carsonshold/Documents/Projects/451_cineplex/source/css/partials/_modal.css.scss */
  .semantic-content .modal-close {
    display: block;
    text-indent: -100px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    /* line 175, /Users/carsonshold/Documents/Projects/451_cineplex/source/css/partials/_modal.css.scss */
    .semantic-content .modal-close:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AAAAAMwA0QDNTiUx4gAAAABJRU5ErkJggg=="); }
    /* line 189, /Users/carsonshold/Documents/Projects/451_cineplex/source/css/partials/_modal.css.scss */
    .semantic-content .modal-close:after {
      content: '';
      position: absolute;
      width: 15px;
	  height: 22px;
	  background:url(../images/RedesignSprite.png) -124px -25px no-repeat;
      top: 25px;
      left: 50%;
      z-index: 10000005;
      margin-left: 285px;
      padding: 2px 8px;
      background-color: #fff;
      -webkit-border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      -ms-border-radius: 5px 5px 0 0;
      -o-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
      font-size: 1.2em;
      text-decoration: none;
      text-indent: 0; }
	.store_cineplex_connect_modal .semantic-content .modal-close:after {
      -webkit-box-sizing: content-box !important;
      -moz-box-sizing: content-box !important;
      box-sizing: content-box !important; }
    .semantic-content a:hover .modal-close:after  {
	  background:url(../images/RedesignSprite.png) -124px -25px no-repeat; }
  @media screen and (max-width: 690px) {
    /* line 210, /Users/carsonshold/Documents/Projects/451_cineplex/source/css/partials/_modal.css.scss */
    .semantic-content .modal-inner {
      width: auto;
      left: 20px;
      right: 20px;
      margin-left: 0; }
    /* line 217, /Users/carsonshold/Documents/Projects/451_cineplex/source/css/partials/_modal.css.scss */
    .semantic-content .modal-close {
      margin-left: 0; }
      /* line 220, /Users/carsonshold/Documents/Projects/451_cineplex/source/css/partials/_modal.css.scss */
      .semantic-content .modal-close:after {
        margin-left: 40%; } }
  @media screen and (max-width: 30em) {
    /* line 38, /Users/carsonshold/Documents/Projects/451_cineplex/source/css/partials/_modal.css.scss */
    .semantic-content {
      -webkit-transform: translate(0, 400px);
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      -webkit-transition: -webkit-transform .25s ease-in-out, opacity 1ms .25s;
      -moz-transition: -moz-transform .25s ease-in-out, opacity 1ms .25s;
      -o-transition: -o-transform .25s ease-in-out, opacity 1ms .25s;
      -ms-transition: -ms-transform .25s ease-in-out, opacity 1ms .25s;
      transition: transform .25s ease-in-out, opacity 1ms .25s;
      display: block;
      height: 100%;
      bottom: auto; }
      /* line 242, /Users/carsonshold/Documents/Projects/451_cineplex/source/css/partials/_modal.css.scss */
      .semantic-content:target,
      .semantic-content.target {
        -webkit-transition: -webkit-transform .25s ease-in-out;
        -moz-transition: -moz-transform .25s ease-in-out;
        -o-transition: -o-transform .25s ease-in-out;
        -ms-transition: -ms-transform .25s ease-in-out;
        transition: transform .25s ease-in-out; }
      /* line 250, /Users/carsonshold/Documents/Projects/451_cineplex/source/css/partials/_modal.css.scss */
      .semantic-content:before {
        background-color: #2c3e4c;
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 30;
        height: 3em;
        z-index: 10000007;
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.6); }
      /* line 265, /Users/carsonshold/Documents/Projects/451_cineplex/source/css/partials/_modal.css.scss */
      .semantic-content .modal-inner {
        top: 0;
        left: 0;
        right: 0;
        padding-top: 3em;
        height: 100%;
        overflow: scroll;
        -webkit-box-shadow: none;
        box-shadow: none; }
      /* line 277, /Users/carsonshold/Documents/Projects/451_cineplex/source/css/partials/_modal.css.scss */
      .semantic-content .modal-content {
        max-height: none; }
      /* line 281, /Users/carsonshold/Documents/Projects/451_cineplex/source/css/partials/_modal.css.scss */
      .semantic-content .modal-close {
        position: relative;
        right: auto;
        text-decoration: none;
        overflow: visible;
        z-index: 10000009; }
        /* line 288, /Users/carsonshold/Documents/Projects/451_cineplex/source/css/partials/_modal.css.scss */
        .semantic-content .modal-close:before {
          display: none; }
        /* line 292, /Users/carsonshold/Documents/Projects/451_cineplex/source/css/partials/_modal.css.scss */
        .semantic-content .modal-close:after {
          top: 0.4em;
          left: 12px;
          margin-left: 0;
          z-index: 10000005;
          padding: 2px 8px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          border-radius: 5px; } }

@media screen and (min-width: 30em) {
  /* line 321, /Users/carsonshold/Documents/Projects/451_cineplex/source/css/partials/_modal.css.scss */
  .semantic-content {
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s; } }
    
/*toastr.min.css*/
.toast-title{font-weight:bold}.toast-message{-ms-word-wrap:break-word;word-wrap:break-word}.toast-message a,.toast-message label{color:#fff}.toast-message a:hover{color:#ccc;text-decoration:none}.toast-close-button{position:relative;right:-0.3em;top:-0.3em;float:right;font-size:20px;font-weight:bold;color:#fff;-webkit-text-shadow:0 1px 0 #fff;text-shadow:0 1px 0 #fff;opacity:.8;-ms-filter:alpha(opacity=80);filter:alpha(opacity=80)}.toast-close-button:hover,.toast-close-button:focus{color:#000;text-decoration:none;cursor:pointer;opacity:.4;-ms-filter:alpha(opacity=40);filter:alpha(opacity=40)}button.toast-close-button{padding:0;cursor:pointer;background:transparent;border:0;-webkit-appearance:none}.toast-top-full-width{top:0;right:0;width:100%}.toast-bottom-full-width{bottom:0;right:0;width:100%}.toast-top-left{top:12px;left:12px}.toast-top-right{top:12px;right:12px}.toast-bottom-right{right:12px;bottom:12px}.toast-bottom-left{bottom:12px;left:12px}#toast-container{position:fixed;z-index:2147483647}#toast-container *{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}#toast-container>div{margin:0 0 6px;padding:15px 15px 15px 50px;width:300px;-moz-border-radius:3px 3px 3px 3px;-webkit-border-radius:3px 3px 3px 3px;border-radius:3px 3px 3px 3px;background-position:15px center;background-repeat:no-repeat;-moz-box-shadow:0 0 12px #999;-webkit-box-shadow:0 0 12px #999;box-shadow:0 0 12px #999;color:#fff;opacity:.8;-ms-filter:alpha(opacity=80);filter:alpha(opacity=80)}#toast-container>:hover{-moz-box-shadow:0 0 12px #000;-webkit-box-shadow:0 0 12px #000;box-shadow:0 0 12px #000;opacity:1;-ms-filter:alpha(opacity=100);filter:alpha(opacity=100);cursor:pointer}#toast-container>.toast-info{background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=")!important}#toast-container>.toast-error{background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=")!important}#toast-container>.toast-success{background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==")!important}#toast-container>.toast-warning{background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=")!important}#toast-container.toast-top-full-width>div,#toast-container.toast-bottom-full-width>div{width:96%;margin:auto}.toast{background-color:#030303}.toast-success{background-color:#51a351}.toast-error{background-color:#bd362f}.toast-info{background-color:#2f96b4}.toast-warning{background-color:#f89406}@media all and (max-width:240px){#toast-container>div{padding:8px 8px 8px 50px;width:11em}#toast-container .toast-close-button{right:-0.2em;top:-0.2em}}@media all and (min-width:241px) and (max-width:480px){#toast-container>div{padding:8px 8px 8px 50px;width:18em}#toast-container .toast-close-button{right:-0.2em;top:-0.2em}}@media all and (min-width:481px) and (max-width:768px){#toast-container>div{padding:15px 15px 15px 50px;width:25em}}  

/*toastr additions*/

/*General*/
.toast-custom-right
{
    bottom: 0px;
    right: 0px;
}

/* styles for video player */
.video-box
{
    padding-right: 0!important;
    padding-left: 0!important;
    padding-bottom: 0!important;
    background-color: #fff!important;
    color: #fff;
}

@media (min-width: 769px) {
    .video-box .bcPlayer {
        height: 480px;
    }
}

@media (max-width: 768px) {
    .video-box .bcPlayer {
        height: 100%;
    }
}

.video-box .bcPlayer iframe {
    min-height: 0px!important;
}

/*Like Button*/

.ConnectRatingContainer{
    width:60px;
    margin:0px auto;
}

.ConnectThumbUp{
    float:left;
    width:25px;
    height:26px;
    background-image:url('../Images/LikeSprite.png');
    background-position: 0px 0px;
    cursor:pointer;
}

.ConnectThumbUp:hover{
    background-image:url('../Images/LikeSprite.png');
    background-position: -27px 0px;
}

.ConnectThumbUp-selected{
    float:left;
    width:25px;
    height:26px;
    background-image:url('../Images/LikeSprite.png');
    background-position: -54px -0px;
}

.ConnectThumbDown{
    float:right;
    margin-top:8px;
    width:25px;
    height:26px;
    background-image:url('../Images/LikeSprite.png');
    background-position: 0px -26px;
    cursor:pointer;
}

.ConnectThumbDown:hover{
    background-image:url('../Images/LikeSprite.png');
    background-position: -27px -26px;
}

.ConnectThumbDown-selected{
    float:right;
    margin-top:8px;
    width:25px;
    height:26px;
    background-image:url('../Images/LikeSprite.png');
    background-position: -54px -26px;
}

.profilePicture-RR{
    float:left;
    margin-top:-3px;
    margin-right:10px;
    padding: 4px 5px;
    width:25px !important;
    height: 25px !important;
    background-color:#777;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    color:#FFF;
    text-align: center;
    font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
    font-size: 10px;
    font-weight:500;
    line-height:13px;
}


.picture-icon-container {
    width: 25px !important;
    height: 25px !important;
    overflow: hidden;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    border-radius: 17px;
    float: left;
    margin-right: 6px;
    margin-top: -5px;
    background-color: #FFF;
}

.profilePicture-RR-text-align{
	display: inline-block;
	vertical-align: middle;
}