﻿/* Styles for Slider Pane*/
#quick-tickets-slider {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

    #quick-tickets-slider .rsOverflow {
        float: right;
        overflow: visible;
    }

        #quick-tickets-slider .rsOverflow .rsContainer {
            overflow: visible;
        }

            #quick-tickets-slider .rsOverflow .rsContainer .rsSlide {
                overflow: visible;
            }

                #quick-tickets-slider .rsOverflow .rsContainer .rsSlide .rsContent {
                    overflow: visible;
                    z-index:1;
                }

                #quick-tickets-slider .rsOverflow .rsContainer .rsActiveSlide {
                    z-index:2;
                }


    #quick-tickets-slider .rsContent img.rsImg {
        max-width: unset;
        position: relative;
    }

    #quick-tickets-slider .rsArrow {
        -moz-border-radius: 58px;
        -ms-border-radius: 58px;
        -o-border-radius: 58px;
        -webkit-border-radius: 58px;
        background-color: #000;
        background-color: rgba(0,0,0,.5);
        border-radius: 58px;
        color: #fff;
        height: 40px;
        width: 40px;
        z-index: 80;
    }

        #quick-tickets-slider .rsArrow:hover {
            color: #e7a614;
        }

        #quick-tickets-slider .rsArrow.rsHidden {
            opacity: 0;
        }

    #quick-tickets-slider .rsArrowLeft {
        top: 45%;
        left: 50px;
    }

    #quick-tickets-slider .rsArrowRight {
        top: 45%;
        right: 50px;
    }

    #quick-tickets-slider .rsArrow:before {
        display: block;
        font-family: 'icomoon';
        font-size: 25px;
        height: 20px;
        position: relative;
        text-align: center;
        top: 6px;
        width: 20px;
        left: 10px;
    }

    #quick-tickets-slider .rsArrowRight:before {
        left: 12px;
    }

    #quick-tickets-slider .rsArrowLeft:before {
        left: 9px;
    }

@media (min-width:769px) {
    #quick-tickets-slider {
        position: static;
        opacity: 1;
        visibility: visible;
        display: block;
        float: left;
        margin-top: 27px;
        margin-bottom:-27px;
        height: 326px;
        background-color: #000;
        overflow: hidden;
    }

        #quick-tickets-slider .rsContent {
            position: relative;
        }
}
