﻿/* increasing icon size */
.icon-rating {
  background-repeat: no-repeat;
  overflow: hidden;
  height: 28px;
  width: 28px;
  background-size: 28px 28px;
  display: inline-block;
  position: relative;
  top: 4px;
}
.esports-icon-rating {
  background-repeat: no-repeat;
  overflow: hidden;
 background-size: 40px 54px;
    height: 54px;
    width: 40px;
  display: inline-block;
  position: relative;
  top: 4px;
}
/*for icon on showtime page*/
.layout-showtimes .icon-rating {
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}
.layout-showtimes .esports-icon-rating {
    background-size: 20px 27px;
    height: 27px;
    width: 20px;
}
/*fix height for homepage posters*/
.featured-posters {
  height: 215px;
}
/* for ajax overlay*/
.ajax-overlay {
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  width: 100%;
  z-index: 100000;
}
.ajax-overlay img {
  position: relative;
  left: 45%;
}
/* for pagination */
.pagination--list .current {
  color: #000;
  pointer-events: none;
}
.pagination--list .paging-dots,
.pagination--list .paging-dots + li {
  border-style: none;
  border-width: 0px;
}
/*specialty theatres CCDS Stars and Strollers etc.*/
@media (min-width: 769px) {
  .mobile-nav-link {
    display: none;
  }
  #specialty-theatres #ShowtimesWidgetTheatre {
    float: left;
    margin-right: 3%;
  }
  #specialty-theatres #showtimesTheatre {
    height: 37px;
  }
  #specialty-theatres #showtimesDate {
    min-width: 40%;
  }
  #specialty-theatres .btnSubmitFindShowtimes {
    margin-left: 3%;
  }
  .gallerySlider .rsImgContainer {
    overflow: hidden;
  }
  .media .img img {
    max-width: 162px;
  }
  .slider--footer-inner .grid,
  .slider--footer-inner .grid--rev,
  .slider--footer-inner .grid--full,
  .slider--footer-inner .grid--right,
  .slider--footer-inner .grid--center {
    min-width: 100%;
  }
}
@media (max-width: 800px) {
  #specialty-theatres #showtimesDate {
    margin-top: 10px;
    min-width: 100%;
  }
  #specialty-theatres .btnSubmitFindShowtimes {
    margin-left: 32%;
  }
}
.food-drink-section .figure {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 42%;
}
@media (max-width: 768px) {
  .food-drink-section .figure {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
.food-drink-toggle {
  margin-top: 5px;
}
#staticMaps .modal-content {
  text-align: center;
}
.time-based-ffec {
  font-weight: 700;
  padding-top: 5px;
  display: block;
}
/* Showtime Card box shadow*/
.showtime-card.showtime-single,
.showtime-card.showtime-feature {
  -webkit-box-shadow: 0 0 4px #999999;
  -moz-box-shadow: 0 0 4px #999999;
  box-shadow: 0 0 4px #999999;
}
/*styles for french header*/
@media (min-width: 925px) {
  .menu-billets {
    width: 13%;
  }
  .menu-cinemas {
    width: 15.4%;
  }
  .menu-videos {
    width: 13.2%;
  }
  .menu-nouvelles {
    width: 16.7%;
  }
  .menu-evenements {
    width: 20.9%;
  }
  .menu-cartecadeaus {
    width: 20%;
  }
  .dropdown-container.dropdown--cinemas {
    width: 600px;
  }
  .dropdown--cinemas .dropdown-container--list li {
    width: 25%;
    float: left;
  }
  .dropdown-container.dropdown--nouvelles {
    width: 225px;
  }
  .dropdown-container.dropdown--videos {
    width: 225px;
  }
  .dropdown-container.dropdown--evenements {
    width: 440px;
  }
  .dropdown--evenements .dropdown-container--list li {
    width: 33%;
    float: left;
  }
  .dropdown-container.dropdown--cartecadeaus {
    width: 200px;
  }
}
.geolocateIp {
  display: none;
}
.removezindex {
  z-index: 4 !important;
}
/*group booking form*/
#group-booking-form input[type="radio"] {
  opacity: 1;
}
#group-booking-form .checkbox-field label {
  display: inline-block;
}
/* custom error info box */
.info-box.error {
  border-color: #d82d2d;
}
.error .info-box--title {
  background-color: #ff8c8c;
}
.error .info-box--body {
  border-top: 1px solid #d82d2d;
}
/*quizzes*/
.quiz-img {
  min-height: 200px;
  min-width: 150px;
}
.quiz-question {
  margin-bottom: 8px;
}
.blogExtraFigure {
  max-height: 100px;
}
.btn-secondary.btn-yellow {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  background: #df9513;
  background: -moz-linear-gradient(top, #e7ae18 0, #d77c0e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e7ae18), color-stop(100%, #d77c0e));
  background: -webkit-linear-gradient(top, #e7ae18 0, #d77c0e 100%);
  background: -o-linear-gradient(top, #e7ae18 0, #d77c0e 100%);
  background: -ms-linear-gradient(top, #e7ae18 0, #d77c0e 100%);
  background: linear-gradient(top bottom, #e7ae18 0, #d77c0e 100%);
  border: 1px solid #a45f0d;
  color: #FFFFFF !important;
}
.btn-secondary.btn-yellow:hover {
  background: #d18c13;
  background: -moz-linear-gradient(top, #d09e19 0, #bd6d0d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d09e19), color-stop(100%, #bd6d0d));
  background: -webkit-linear-gradient(top, #d09e19 0, #bd6d0d 100%);
  background: -o-linear-gradient(top, #d09e19 0, #bd6d0d 100%);
  background: -ms-linear-gradient(top, #d09e19 0, #bd6d0d 100%);
  background: linear-gradient(top bottom, #d09e19 0, #bd6d0d 100%);
  color: #FFFFFF !important;
}
.btn-secondary.btn-yellow:active {
  background: #c18214;
  background: -moz-linear-gradient(top, #c1941c 0%, #ad650e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c1941c), color-stop(100%, #ad650e));
  background: -webkit-linear-gradient(top, #c1941c 0%, #ad650e 100%);
  background: -o-linear-gradient(top, #c1941c 0%, #ad650e 100%);
  background: -ms-linear-gradient(top, #c1941c 0%, #ad650e 100%);
  background: linear-gradient(top bottom, #c1941c 0%, #ad650e 100%);
  color: #FFFFFF !important;
}
.btn-primary.btn-red {
  display: inline-block;
  margin: .5em 0;
  background: #CA1A1A;
  background: -moz-linear-gradient(top, #ca1a1a 0, #4c0909 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ca1a1a), color-stop(100%, #4c0909));
  background: -webkit-linear-gradient(top, #ca1a1a 0, #4c0909 100%);
  background: -o-linear-gradient(top, #ca1a1a 0, #4c0909 100%);
  background: -ms-linear-gradient(top, #ca1a1a 0, #4c0909 100%);
  background: linear-gradient(top bottom, #ca1a1a 0, #4c0909 100%);
  color: #FFFFFF !important;
}
.btn-primary.btn-red:hover {
  background: #A51515;
  background: -moz-linear-gradient(top, #a51515 0, #2c0505 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a51515), color-stop(100%, #2c0505));
  background: -webkit-linear-gradient(top, #a51515 0, #2c0505 100%);
  background: -o-linear-gradient(top, #a51515 0, #2c0505 100%);
  background: -ms-linear-gradient(top, #a51515 0, #2c0505 100%);
  background: linear-gradient(top bottom, #a51515 0, #2c0505 100%);
  color: #FFFFFF !important;
}
@media (max-width: 768px) {
  .ad-wide {
    padding: 5px 0px !important;
  }
  .ad-single {
    border: 0px !important;
    padding: 0px !important;
  }
  .home-slider {
    margin: 24px -24px 0 !important;
  }
}
@media (min-width: 769px) {
  ul#socialAppLinks li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    margin-right: 3px;
    border-radius: 5px;
    height: 66px;
    -webkit-transition: all 0.3s ease-out;
    /* Chrome 1-25, Safari 3.2+ */
    -moz-transition: all 0.3s ease-out;
    /* Firefox 4-15 */
    -o-transition: all 0.3s ease-out;
    /* Opera 10.50â€“12.00 */
    transition: all 0.3s ease-out;
    /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
  }
  ul#socialAppLinks li:hover {
    background: rgba(255, 255, 255, 0.69);
    cursor: pointer;
  }
  ul#socialAppLinks li:nth-child(3) {
    margin-right: 8%;
  }
  ul#socialAppLinks li:nth-child(5) {
    margin-right: 10%;
  }
  ul#socialAppLinks li:nth-child(6) img {
      margin-top: 8px;
  }
  
}
@media (min-width: 481px) and (max-width: 768px) {
  ul#socialAppLinks {
    display: block;
    text-align: center;
  }
}
@media (max-width: 480px) {
  ul#socialAppLinks {
    display: block;
    text-align: center;
  }
  ul#socialAppLinks li:nth-child(3) {
    margin: 0 10%;
    text-align: center;
  }
  ul#socialAppLinks li:nth-child(5) {
    margin: 0 15%;
    text-align: center;
  }
  ul#socialAppLinks li:nth-child(6) img {
      margin-top: 8px;
  }
}
ul#newsSocialLinks {
  margin: 0px !important;
}
ul#newsSocialLinks li {
  padding: 0;
  list-style: none;
  float: left;
  margin: 0 1.6% 10%;
  border-radius: 5px;
  height: 44px;
  -webkit-transition: all 0.3s ease-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-out;
  /* Opera 10.50â€“12.00 */
  transition: all 0.3s ease-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
ul#newsSocialLinks li:hover {
  background: rgba(0, 0, 0, 0.99);
  cursor: pointer;
}
ul#newsSocialLinks li img {
  width: 44px;
  height: 44px;
}
/*special image class for embedded polls*/
.img-embed {
  margin-bottom: 5px;
}
.homepage-release-date {
  display: inline-block;
  padding-bottom: 10px;
}
/* Generic Form Validaiton */
.field-validation-error {
  position: relative;
  clear: left;
  float: left;
  background-color: #c24d30;
  border: 1px solid #ad3124;
  color: #fff;
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  padding: 7px 10px;
  margin: -12px 0 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.field-validation-error:before {
  top: -1px;
  border-bottom: 5px solid #ad3124;
}
.field-validation-error:before,
.field-validation-error:after {
  content: "";
  display: block;
  position: absolute;
  left: 12px;
  margin-top: -5px;
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.field-validation-error:after {
  top: 0;
  border-bottom: 5px solid #c24d30;
}
.input-validation-error {
  border-color: #ad3124 !important;
}
.valid {
  border-color: #728e0c !important;
}
.required label:first-child:after {
  content: " *";
  color: #c24d30;
}
/* Styles for adding the Olympic Ring to the top beside the logo*/
/*@media (min-width: 481px) {
    img.olympiclogo {
        position:absolute;
        top:-2px;
        left:140px;
    }
}

@media (max-width:480px) {
    img.olympiclogo {
        display:none;
    }
}

@media (min-width:769px) {
    .portal-nav {
        margin-left:60px;
    }
}

@media (min-width:481px) and (max-width: 768px) {
    .portal-nav {
        margin-left:75px;
    }
}*/
/* increase width of showtime search attributes summary */
.layout-showtimes .title-left {
  max-width: 85%;
}
/* Party Calculator  -- START -- */
.ui-datepicker-month,
.ui-datepicker-year {
  padding: 2px !important;
}
.pc-FoodChoiceConcession {
  width: 157px;
  height: auto;
  text-align: center;
}
#PopcornParty .food-drink-section .figure {
  margin-bottom: 5px;
  margin-top: 5px;
}
@media (max-width: 480px) {
  .pc-FoodConcessionSelector {
    vertical-align: middle;
    width: 120px !important;
    padding-right: 0px;
  }
}
.XScapeCalcForm label {
  margin-bottom: 0px;
}
.highlightedPackage {
  border: 1px solid #728e0c;
  background-color: #e9f6bc;
}
/* Party Calculator -- END -- */
.showtime-toggle .btn-secondary {
  max-width: 280px !important;
}
.theatreHeaderMiniDetailsDiv {
  background-color: #FFFFFF;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  left: 0;
  position: absolute;
  text-transform: uppercase;
  top: 15%;
  z-index: 3;
}
@media (min-width: 320px) and (max-width: 480px) {
  .theatreHeaderMiniDetailsDiv {
    padding: 0.3em 1em;
  }
}
@media (min-width: 481px) {
  .theatreHeaderMiniDetailsDiv {
    padding: 0.3em 1.5em;
  }
}
/* to hide the "specify a time" field of the show times bar */
@media (min-width: 769px) {
  #ShowtimesWidgetMovie {
    width: 33% !important;
  }
}
@media (min-width: 769px) {
  #ShowtimesWidgetDate {
    width: 33% !important;
  }
}
#ShowtimesWidgetTime {
  display: none !important;
}
/* twitter share align*/
.twitter-share-button[style] {
  vertical-align: text-bottom !important;
}
/* fb like overflow */
.like-tweet {
  overflow: hidden !important;
  height: 22px !important;
}
.width-99 {
  width: 99%;
}
.width-120-px {
  width: 120px;
}
.trailer-home-link {
  color: #df9513;
}
.trailer-home-link:hover {
  color: #bd6d0d;
}
.btn-trailer-comingsoon {
  padding-top: 10px;
  height: 37px;
}
@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
  div.showtimes-page .grid__item.nine-twelfths.mediumDown--one-whole {
    width: 100% !important;
  }
  .ad-wrap {
    display: none !important;
  }
  .no-page-break-inside {
    page-break-inside: avoid;
  }
  .page-break-before-always {
    page-break-before: always;
  }
  .page-break-after-always {
    page-break-after: always;
  }
}
/** NAV SEARCH **/
/* Search Box Border */
#SearchModule .search-input {
  border: 1px solid #C0C0C0;
  padding-right: 66px;
}
@media only screen and (max-width: 925px) and (min-width: 481px) {
  .nav-primary--search .nav-primary--search-clear {
    display: none;
  }
  .menu-item > .nav-primary--search-trigger {
    cursor: default;
    margin-left: -12px;
    padding-left: 24px;
    z-index: 5;
  }
  .nav-primary--search-input {
    display: block;
    overflow: visible;
    margin: 0 12px;
    width: 350px;
  }
  .nav-primary--search-input .nav-primary--input {
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 32px;
    padding-right: 66px;
  }
  .nav-primary--search-input .icon-search {
    position: relative;
    top: 1px;
  }
}
@media (max-width: 480px) {
  .nav-primary--search {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
  .nav-primary--search .nav-primary--search-clear {
    position: relative;
    z-index: 5;
    padding: 0;
    color: #25333f;
    display: none;
    top: 16px;
    right: 6px;
    font-size: 1.14286em;
    float: right;
  }
  .nav-primary--search .nav-primary--search-clear:before {
    display: none;
  }
  .nav-primary--search .nav-primary--search-clear:hover {
    color: white;
  }
  .nav-primary--input:focus ~ .nav-primary--search-clear {
    display: block;
  }
  .nav-primary--input {
    padding-right: 90px !important;
  }
  .nav-primary--search-back {
    float: left;
    width: 0;
    overflow: hidden;
    display: none;
  }
  .nav-primary--search-back a {
    padding: 16px 16px 14px 10px;
  }
  .nav-primary--search-back i {
    font-size: 1.28571em;
    line-height: 14px;
  }
  .nav-primary--search-input {
    width: auto;
    display: block;
  }
  .nav-primary {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  .nav-primary--search-open .nav-primary--search-trigger {
    position: absolute;
    top: 17px;
    left: 9px;
    padding: 0;
    color: #202E3A;
    float: none;
    border: none;
    z-index: 5;
    cursor: default;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .nav-primary--search-open .nav-primary--search-trigger i {
    color: rgba(255, 255, 255, 0.2);
  }
  .nav-primary--search-open .nav-primary--search-trigger:before {
    display: none;
  }
}
.nav-primary--search .nav-primary--input:focus {
  color: #444444;
}
.nav-primary--search .nav-primary--input:focus ~ .nav-primary--search-go {
  display: block;
}
.nav-primary--search .nav-primary--input:focus ~ a i {
  color: #444444;
}
.nav-primary--search input[type="button"]:active {
  display: block !important;
}
.nav-primary--search-go {
  display: none;
  padding: 4px 12px 3px;
  position: relative;
  right: 3px;
  float: right;
  top: 11px;
  z-index: 5;
}
.menu-item > a {
  z-index: 200;
}
/** END NAV SEARCH **/
.showtime-card.showtime-single {
  overflow: visible !important;
}
/** START FORMS HORIZONTAL **/
/* line 159, /app/source/css/partials/_forms.css.scss */
form.form-horizontal .input-wrap .control-label {
  float: left;
  text-align: right;
  padding: 8px 15px 0px 15px;
}
form.form-horizontal .input-wrap input[type="text"],
form.form-horizontal .input-wrap input[type="email"],
form.form-horizontal .input-wrap input[type="file"],
form.form-horizontal .input-wrap input[type="password"],
form.form-horizontal .input-wrap input[type="tel"],
form.form-horizontal .input-wrap input[type="number"],
form.form-horizontal .input-wrap input[type="search"],
form.form-horizontal .input-wrap input[type="date"],
form.form-horizontal .input-wrap input[type="button"],
form.form-horizontal .input-wrap input[type="submit"],
form.form-horizontal .input-wrap select {
  width: 100%;
  float: left;
}
form.form-horizontal .input-wrap.full-input {
  width: 100%;
}
form.form-horizontal .input-wrap .control-group {
  float: left;
}
form .img-upload label span {
  color: #777;
  font-weight: 400;
}
@media only screen and (max-width: 480px) {
  form.form-horizontal .input-wrap .control-label {
    float: left;
    text-align: left;
    padding: 0px;
  }
}
.contest-skill-test {
  padding-bottom: 3px;
}
/** END FORMS HORIZONTAL **/
/** START REUSABLE CSS **/
.npl {
  padding-left: 0 !important;
}
.npr {
  padding-right: 0 !important;
}
.npb {
  padding-bottom: 0 !important;
}
.npt {
  padding-top: 0 !important;
}
.nml {
  margin-left: 0 !important;
}
.nmr {
  margin-right: 0 !important;
}
.nmb {
  margin-bottom: 0 !important;
}
.nmt {
  margin-top: 0 !important;
}
/** END REUSABLE CSS*/
/* ie 10-11+ css */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  select::-ms-expand {
    display: none;
  }
  select {
    padding-right: 48px;
  }
}
.box--checkbox .checkradio .checkradio--body {
  border-top: 1px solid #d9d9d9;
  padding-top: 10px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-left: 24px;
}
/* line 424, objects/_boxes.css.scss */
.box--checkbox .checkradio .faux-input--large-yellow {
  top: 24px;
  left: 24px;
}
/* line 430, objects/_boxes.css.scss */
.box--checkbox .checkradio input:checked + label.faux-label--large-yellow .checkradio--body {
  background-color: #e7a614;
}
/* line 434, objects/_boxes.css.scss */
.box--checkbox .checkradio .faux-label--large-yellow {
  position: relative;
  cursor: pointer;
}
/* line 276, partials/_forms.css.scss */
.csschecked span.faux-input--large-yellow {
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid #2c3e4c;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  z-index: 2;
}
/* line 284, partials/_forms.css.scss */
.csschecked span.faux-input--large-yellow:focus {
  outline: 1px dotted #333333;
}
/* line 289, partials/_forms.css.scss */
.csschecked input:checked + label.faux-label--large-yellow span.faux-input--large-yellow {
  background-color: #091849;
  border-color: #091849;
}
/* line 294, partials/_forms.css.scss */
.csschecked input:focus + span.faux-input--large-yellow {
  outline: 1px dotted #333333;
}
/* line 299, partials/_forms.css.scss */
.csschecked input[type="checkbox"]:checked + label.faux-label--large-yellow span.faux-input--large-yellow:before {
  display: block;
  content: "\e01b";
  font-family: 'icomoon';
  color: #fff;
  line-height: 20px;
  width: 18px;
  text-align: center;
  font-size: 0.71429em;
}
.btn-fb,
.btn-twitter {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  font-weight: 700;
  font-family: "proxima-nova", "Helvetica Neue", helvetica, arial, sans-serif;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  padding: 8px 2px 7px;
  font-size: 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}
.btn-fb {
  background: #3c5b9e;
  background: -moz-linear-gradient(top, #486db2 0%, #2c4382 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #486db2), color-stop(100%, #2c4382));
  background: -webkit-linear-gradient(top, #486db2 0%, #2c4382 100%);
  background: -o-linear-gradient(top, #486db2 0%, #2c4382 100%);
  background: -ms-linear-gradient(top, #486db2 0%, #2c4382 100%);
  background: linear-gradient(top bottom, #486db2 0%, #2c4382 100%);
  border: 1px solid #404040;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
}
.btn-fb:hover,
.btn-fb:focus {
  background: #243567;
  color: #fff;
  background: -moz-linear-gradient(top, #3d5d98 0%, #304981 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3d5d98), color-stop(100%, #304981));
  background: -webkit-linear-gradient(top, #3d5d98 0%, #304981 100%);
  background: -o-linear-gradient(top, #3d5d98 0%, #304981 100%);
  background: -ms-linear-gradient(top, #3d5d98 0%, #304981 100%);
  background: linear-gradient(top bottom, #3d5d98 0%, #304981 100%);
}
.btn-fb:active {
  background: #2c4274;
  color: #fff;
  background: -moz-linear-gradient(top, #2c4274 0%, #2c4274 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2c4274), color-stop(100%, #2c4274));
  background: -webkit-linear-gradient(top, #2c4274 0%, #2c4274 100%);
  background: -o-linear-gradient(top, #2c4274 0%, #2c4274 100%);
  background: -ms-linear-gradient(top, #2c4274 0%, #2c4274 100%);
  background: linear-gradient(top bottom, #2c4274 0%, #2c4274 100%);
}
.btn-twitter {
  background: #00aded;
  background: -moz-linear-gradient(top, #00b5ef 0%, #009fe9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00b5ef), color-stop(100%, #009fe9));
  background: -webkit-linear-gradient(top, #00b5ef 0%, #009fe9 100%);
  background: -o-linear-gradient(top, #00b5ef 0%, #009fe9 100%);
  background: -ms-linear-gradient(top, #00b5ef 0%, #009fe9 100%);
  background: linear-gradient(top bottom, #00b5ef 0%, #009fe9 100%);
  border: 1px solid #006992;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}
.btn-twitter:hover,
.btn-twitter:focus {
  background: #0082be;
  color: #fff;
  background: -moz-linear-gradient(top, #00a0d5 0%, #0095cf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a0d5), color-stop(100%, #0095cf));
  background: -webkit-linear-gradient(top, #00a0d5 0%, #0095cf 100%);
  background: -o-linear-gradient(top, #00a0d5 0%, #0095cf 100%);
  background: -ms-linear-gradient(top, #00a0d5 0%, #0095cf 100%);
  background: linear-gradient(top bottom, #00a0d5 0%, #0095cf 100%);
}
.btn-twitter:active {
  background: #0073a0;
  color: #fff;
  background: -moz-linear-gradient(top, #0073a0 0%, #0073a0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0073a0), color-stop(100%, #0073a0));
  background: -webkit-linear-gradient(top, #0073a0 0%, #0073a0 100%);
  background: -o-linear-gradient(top, #0073a0 0%, #0073a0 100%);
  background: -ms-linear-gradient(top, #0073a0 0%, #0073a0 100%);
  background: linear-gradient(top bottom, #0073a0 0%, #0073a0 100%);
}
.icon-white:before {
  color: white;
}
#ShowtimesWidget #ShowtimesWidgetDate select {
  cursor: pointer;
}
.movie-header .social-links {
  border: none;
  background-color: transparent;
  box-shadow: none;
  top: 30%;
}
