@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600italic,300,600);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* 	Descriptive color variables 
	http://sachagreif.com/sass-color-variables/
===================================================== */
/* 	Functional color variables
	http://sachagreif.com/sass-color-variables/
===================================================== */
/* 	Consistent spacing measurements
===================================================== */
@font-face {
  font-family: 'AvenirLTStd-LightOblique';
  src: url("/vendor/webfonts/272AD3_4_0.eot");
  src: url("/vendor/webfonts/272AD3_4_0.eot?#iefix") format("embedded-opentype"), url("/vendor/webfonts/272AD3_4_0.woff") format("woff"), url("/vendor/webfonts/272AD3_4_0.ttf") format("truetype"); }

@font-face {
  font-family: 'AvenirLTStd-Light';
  src: url("/vendor/webfonts/272AD3_0_0.eot");
  src: url("/vendor/webfonts/272AD3_0_0.eot?#iefix") format("embedded-opentype"), url("/vendor/webfonts/272AD3_0_0.woff") format("woff"), url("/vendor/webfonts/272AD3_0_0.ttf") format("truetype"); }

/*
@font-face {
	font-family: 'AvenirLTStd-Oblique';
	src: url('/vendor/webfonts/272AD3_1_0.eot');
	src: url('/vendor/webfonts/272AD3_1_0.eot?#iefix') format('embedded-opentype'),url('/vendor/webfonts/272AD3_1_0.woff') format('woff'),url('/vendor/webfonts/272AD3_1_0.ttf') format('truetype'); }
  
@font-face {
	font-family: 'AvenirLTStd-Roman';
	src: url('/vendor/webfonts/272AD3_2_0.eot');
	src: url('/vendor/webfonts/272AD3_2_0.eot?#iefix') format('embedded-opentype'),url('/vendor/webfonts/272AD3_2_0.woff') format('woff'),url('/vendor/webfonts/272AD3_2_0.ttf') format('truetype'); }

*/
@font-face {
  font-family: 'AvenirLTStd-HeavyOblique';
  src: url("/vendor/webfonts/272AD3_3_0.eot");
  src: url("/vendor/webfonts/272AD3_3_0.eot?#iefix") format("embedded-opentype"), url("/vendor/webfonts/272AD3_3_0.woff") format("woff"), url("/vendor/webfonts/272AD3_3_0.ttf") format("truetype"); }

@font-face {
  font-family: 'AvenirLTStd-Heavy';
  src: url("/vendor/webfonts/272AD3_5_0.eot");
  src: url("/vendor/webfonts/272AD3_5_0.eot?#iefix") format("embedded-opentype"), url("/vendor/webfonts/272AD3_5_0.woff") format("woff"), url("/vendor/webfonts/272AD3_5_0.ttf") format("truetype"); }

/*! normalize.css v1.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/**
 * Address margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.67em;
  margin: 2.33em 0; }

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address margins set differently in IE 6/7.
 */
p,
pre {
  margin: 1em 0; }

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/**
 * Address CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none; }

/**
 * Address `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #2f3338; }

body {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #f5d45d;
  text-shadow: none; }

::selection {
  background: #f5d45d;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

/*
 * 1. Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 * 2. Make responsive
 */
img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/*
 * Chrome Frame prompt
 */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
.lo-flood {
  *zoom: 1;
  margin-bottom: 3.75em;
  padding-left: 1.875em;
  padding-right: 1.875em;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .lo-flood:before, .lo-flood:after {
    content: " ";
    display: table; }
  .lo-flood:after {
    clear: both; }
  @media only screen and (max-width: 47.999em) {
    .lo-flood {
      margin-bottom: 1.875em; } }
  @media only screen and (min-width: 48em) {
    .lo-flood {
      margin-bottom: 3.75em; } }
  @media only screen and (min-width: 75em) {
    .lo-flood {
      margin-bottom: 5em; } }
  @media only screen and (max-width: 47.999em) {
    .lo-flood {
      padding-left: 0.625em;
      padding-right: 0.625em; } }
  @media only screen and (min-width: 48em) {
    .lo-flood {
      padding-left: 1.25em;
      padding-right: 1.25em; } }
  .lo-flood.masthead {
    background-color: #2f3338; }
  .lo-flood.orange-background {
    background-color: #d85e1c; }
  .lo-flood.blue-background {
    background-color: #0f8ab6; }
  .lo-flood.green-background {
    background-color: #7DB556; }
  .lo-flood.yellow-background {
    background-color: #f5d45d; }
  .lo-flood.no-background {
    background-color: white; }
  .lo-flood.orange-background, .lo-flood.blue-background, .lo-flood.green-background {
    color: white; }
    .lo-flood.orange-background h1, .lo-flood.orange-background h2, .lo-flood.orange-background h3, .lo-flood.orange-background h4, .lo-flood.orange-background h5, .lo-flood.orange-background h6, .lo-flood.blue-background h1, .lo-flood.blue-background h2, .lo-flood.blue-background h3, .lo-flood.blue-background h4, .lo-flood.blue-background h5, .lo-flood.blue-background h6, .lo-flood.green-background h1, .lo-flood.green-background h2, .lo-flood.green-background h3, .lo-flood.green-background h4, .lo-flood.green-background h5, .lo-flood.green-background h6 {
      color: white;
      text-shadow: 0px 1px 1px rgba(0, 0, 5, 0.4); }
    .lo-flood.orange-background a, .lo-flood.orange-background strong, .lo-flood.blue-background a, .lo-flood.blue-background strong, .lo-flood.green-background a, .lo-flood.green-background strong {
      color: white;
      text-decoration: underline; }
  .lo-flood.yellow-background {
    color: #575553; }
    .lo-flood.yellow-background h1, .lo-flood.yellow-background h2, .lo-flood.yellow-background h3, .lo-flood.yellow-background h4, .lo-flood.yellow-background h5, .lo-flood.yellow-background h6 {
      color: #575553; }
    .lo-flood.yellow-background a {
      color: #575553; }
  .lo-flood.home-page-background {
    background-image: url("/img/backgrounds/01.jpg"); }
  .lo-flood.feature-overview-background {
    background-image: url("/img/backgrounds/05.jpg"); }
  .lo-flood.content-creation-and-sharing-background {
    background-image: url("/img/backgrounds/02.jpg"); }
  .lo-flood.school-and-district-administration-background {
    background-image: url("/img/backgrounds/03.jpg"); }
  .lo-flood.assignments-feedback-and-grades-background {
    background-image: url("/img/backgrounds/04.jpg"); }
  .lo-flood.native-mobile-apps-background {
    background-image: url("/img/backgrounds/06.jpg"); }
  .lo-flood.standards-based-lms-background {
    background-image: url("/img/backgrounds/09.jpg"); }
  .lo-flood.pricing-background {
    background-image: url("/img/backgrounds/07.jpg"); }
  .lo-flood.get-started-background {
    background-image: url("/img/backgrounds/10.jpg"); }
  .lo-flood.support-background {
    background-image: url("/img/backgrounds/02.jpg"); }
  .lo-flood.about-background {
    background-image: url("/img/backgrounds/08.jpg"); }
  .lo-flood.include-top-and-bottom-padding {
    padding-top: 5em;
    padding-bottom: 5em; }
    @media only screen and (max-width: 47.999em) {
      .lo-flood.include-top-and-bottom-padding {
        padding-top: 1.875em;
        padding-bottom: 30; } }

.lo-content {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .lo-content:before, .lo-content:after {
    content: " ";
    display: table; }
  .lo-content:after {
    clear: both; }

.lo-narrow .lo-content {
  max-width: 75em; }

.lo-very-narrow .lo-content {
  max-width: 50em; }

.lo-primary {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%; }
  .lo-primary:last-child {
    margin-right: 0; }
  @media only screen and (min-width: 64em) {
    .lo-primary {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 74.41059%;
      padding-right: 1.618em;
      border-right: 1px solid #cccccc; }
      .lo-primary:last-child {
        margin-right: 0; } }

@media only screen and (min-width: 64em) {
  .lo-narrow .lo-primary {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .lo-narrow .lo-primary:last-child {
      margin-right: 0; } }

.lo-secondary {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  position: relative; }
  .lo-secondary:before, .lo-secondary:after {
    content: " ";
    display: table; }
  .lo-secondary:after {
    clear: both; }
  .lo-secondary:last-child {
    margin-right: 0; }
  .lo-secondary hr {
    display: none; }
  @media only screen and (max-width: 47.999em) {
    .lo-secondary {
      border-top: none;
      margin-top: 0;
      padding-top: 0; } }
  @media only screen and (min-width: 48em) {
    .lo-secondary {
      border-top: 1px solid #cccccc;
      margin-top: 1.875em;
      padding-top: 3.75em; } }
  @media only screen and (min-width: 64em) {
    .lo-secondary {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 23.23176%;
      margin-right: 0;
      border-top: none;
      margin-top: 0;
      padding-top: 0; }
      .lo-secondary:last-child {
        margin-right: 0; } }

@media only screen and (min-width: 64em) {
  .lo-narrow .lo-secondary {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .lo-narrow .lo-secondary:last-child {
      margin-right: 0; } }

.block-group {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .block-group:before, .block-group:after {
    content: " ";
    display: table; }
  .block-group:after {
    clear: both; }

.block-full {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0;
  margin-bottom: 3.75em; }
  .block-full:last-child {
    margin-right: 0; }
  @media only screen and (max-width: 47.999em) {
    .block-full {
      margin-bottom: 1.875em; } }
  @media only screen and (min-width: 48em) {
    .block-full {
      margin-bottom: 3.75em; } }
  @media only screen and (min-width: 75em) {
    .block-full {
      margin-bottom: 5em; } }
  .block-full .text {
    max-width: 50em;
    margin: auto; }

.block-half {
  margin-bottom: 3.75em; }
  @media only screen and (max-width: 47.999em) {
    .block-half {
      margin-bottom: 1.875em; } }
  @media only screen and (min-width: 48em) {
    .block-half {
      margin-bottom: 3.75em; } }
  @media only screen and (min-width: 75em) {
    .block-half {
      margin-bottom: 5em; } }
  @media only screen and (min-width: 48em) {
    .block-half {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .block-half:last-child {
        margin-right: 0; } }

.block-third {
  margin-bottom: 3.75em; }
  @media only screen and (max-width: 47.999em) {
    .block-third {
      margin-bottom: 1.875em; } }
  @media only screen and (min-width: 48em) {
    .block-third {
      margin-bottom: 3.75em; } }
  @media only screen and (min-width: 75em) {
    .block-third {
      margin-bottom: 5em; } }
  @media only screen and (min-width: 48em) {
    .block-third {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .block-third:last-child {
        margin-right: 0; } }

.block-one-third {
  margin-bottom: 3.75em; }
  @media only screen and (max-width: 47.999em) {
    .block-one-third {
      margin-bottom: 1.875em; } }
  @media only screen and (min-width: 48em) {
    .block-one-third {
      margin-bottom: 3.75em; } }
  @media only screen and (min-width: 75em) {
    .block-one-third {
      margin-bottom: 5em; } }
  @media only screen and (min-width: 48em) {
    .block-one-third {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .block-one-third:last-child {
        margin-right: 0; } }

.block-two-thirds {
  margin-bottom: 3.75em; }
  @media only screen and (max-width: 47.999em) {
    .block-two-thirds {
      margin-bottom: 1.875em; } }
  @media only screen and (min-width: 48em) {
    .block-two-thirds {
      margin-bottom: 3.75em; } }
  @media only screen and (min-width: 75em) {
    .block-two-thirds {
      margin-bottom: 5em; } }
  @media only screen and (min-width: 48em) {
    .block-two-thirds {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 65.88078%; }
      .block-two-thirds:last-child {
        margin-right: 0; } }

.last-block {
  margin-right: 0; }

.include-padding {
  padding: 2.35765%; }

.include-space-after {
  margin-bottom: 3.75em; }
  @media only screen and (max-width: 47.999em) {
    .include-space-after {
      margin-bottom: 1.875em; } }
  @media only screen and (min-width: 48em) {
    .include-space-after {
      margin-bottom: 3.75em; } }
  @media only screen and (min-width: 75em) {
    .include-space-after {
      margin-bottom: 5em; } }

.include-space-after-half {
  margin-bottom: 1.875em; }
  @media only screen and (max-width: 47.999em) {
    .include-space-after-half {
      margin-bottom: 1.875em; } }
  @media only screen and (min-width: 48em) {
    .include-space-after-half {
      margin-bottom: 1.875em; } }
  @media only screen and (min-width: 75em) {
    .include-space-after-half {
      margin-bottom: 2.5em; } }

.include-space-before {
  margin-top: 3.75em; }
  @media only screen and (max-width: 47.999em) {
    .include-space-before {
      margin-top: 1.875em; } }
  @media only screen and (min-width: 48em) {
    .include-space-before {
      margin-top: 3.75em; } }
  @media only screen and (min-width: 75em) {
    .include-space-before {
      margin-top: 5em; } }

.remove-space-after {
  margin-bottom: 0; }

.remove-space-before {
  margin-top: 0; }

@media only screen and (max-width: 47.999em) {
  .header-bump {
    margin-top: 3.75em; } }
@media only screen and (min-width: 48em) {
  .header-bump {
    margin-top: 4.375em; } }

@media only screen and (max-width: 47.999em) {
  .header-bump-double {
    margin-top: 5.5em; } }
@media only screen and (min-width: 48em) {
  .header-bump-double {
    margin-top: 8.75em; } }

hr {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.75em; }
  hr:before, hr:after {
    content: " ";
    display: table; }
  hr:after {
    clear: both; }
  @media only screen and (max-width: 47.999em) {
    hr {
      margin-bottom: 1.875em; } }
  @media only screen and (min-width: 48em) {
    hr {
      margin-bottom: 3.75em; } }
  @media only screen and (min-width: 75em) {
    hr {
      margin-bottom: 5em; } }

.lo-narrow hr {
  max-width: 75em; }

.anchor:before {
  content: "";
  display: block;
  height: 100px;
  margin: -100px 0 0; }

html,
button,
input,
select,
textarea {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "museo",serif;
  font-style: normal;
  font-weight: 300; }

i, em {
  font-family: "Open Sans", sans-serif;
  font-style: oblique;
  font-weight: 400; }

b, strong {
  font-family: "Open Sans",sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #2f3338; }

b i, strong em, i b, em strong {
  font-family: "Open Sans",sans-serif;
  font-style: oblique;
  font-weight: 700; }

h1, h2, h3, h4, h5, h6 {
  color: #2f3338; }

h1 {
  font-size: 2.25em;
  line-height: 1.2;
  margin: 0 0 0.75em 0; }
  @media only screen and (max-width: 47.999em) {
    h1 {
      font-size: 1.5em; } }

h2 {
  font-size: 1.875em;
  margin: 0 0 0.83333em 0; }
  @media only screen and (max-width: 47.999em) {
    h2 {
      font-size: 1.25em; } }

h3 {
  font-size: 1.5em;
  margin: 0 0 1em 0;
  color: #d85e1c; }
  @media only screen and (max-width: 47.999em) {
    h3 {
      font-size: 1.125em; } }

h4 {
  font-size: 1em;
  margin: 0 0 1.125em 0; }

h5 {
  font-size: 0.875em;
  margin: 0 0 1.28571em 0; }

h6 {
  font-size: 0.75em;
  margin: 0 0 1.5em 0; }

a, a:link {
  text-decoration: none;
  color: #0f8ab6; }
  a:visited, a:link:visited {
    color: #0f8ab6; }
  a:hover, a:link:hover {
    color: #006d94; }
  a:active, a:link:active {
    color: #0f8ab6; }

.arrow:after {
  content: " \2794";
  font-size: 0.8125em; }

/* Various classes
================================================== */
.subsection-header {
  font-size: 2.625em;
  text-align: center;
  margin: 0 0 1em 0; }
  @media only screen and (max-width: 47.999em) {
    .subsection-header {
      font-size: 1.5em; } }
  .subsection-header.delimiter {
    border-bottom: 1px dotted white;
    padding-bottom: 1em; }

@media only screen and (min-width: 48em) {
  .centered {
    text-align: center; }
    .centered ul {
      margin-left: auto;
      margin-right: auto; } }

button,
input[type="submit"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1;
  display: inline-block;
  height: 1.625em;
  padding: 0.25em 0.375em;
  margin-bottom: 0.625em;
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle;
  background-color: #2babd9;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2babd9), color-stop(100%, #0f8ab6));
  background-image: -webkit-linear-gradient(top, #2babd9, #0f8ab6);
  background-image: -moz-linear-gradient(top, #2babd9, #0f8ab6);
  background-image: -ms-linear-gradient(top, #2babd9, #0f8ab6);
  background-image: -o-linear-gradient(top, #2babd9, #0f8ab6);
  background-image: linear-gradient(top, #2babd9, #0f8ab6);
  border: 1px solid #006d94;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.btn {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  font-size: 1em;
  padding: 0.625em 2.5em;
  border-radius: 1.875em;
  text-decoration: none; }
  .btn .svg-icon {
    fill: white; }

.btn--primary {
  font-family: "Open Sans",sans-serif;
  font-style: normal;
  font-weight: 700;
  background-color: #2babd9;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2babd9), color-stop(100%, #0f8ab6));
  background-image: -webkit-linear-gradient(top, #2babd9, #0f8ab6);
  background-image: -moz-linear-gradient(top, #2babd9, #0f8ab6);
  background-image: -ms-linear-gradient(top, #2babd9, #0f8ab6);
  background-image: -o-linear-gradient(top, #2babd9, #0f8ab6);
  background-image: linear-gradient(top, #2babd9, #0f8ab6);
  border: 1px solid #006d94;
  color: white !important;
  text-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.4); }
  .btn--primary:link, .btn--primary:hover, .btn--primary:visited, .btn--primary:active {
    color: white !important; }

.btn--secondary {
  background-color: #a6bf49;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a6bf49), color-stop(100%, #7DB556));
  background-image: -webkit-linear-gradient(top, #a6bf49, #7DB556);
  background-image: -moz-linear-gradient(top, #a6bf49, #7DB556);
  background-image: -ms-linear-gradient(top, #a6bf49, #7DB556);
  background-image: -o-linear-gradient(top, #a6bf49, #7DB556);
  background-image: linear-gradient(top, #a6bf49, #7DB556);
  border: 1px solid #7DB556;
  color: white !important;
  text-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.4);
  padding: 0.625em 1.25em; }
  .btn--secondary:link, .btn--secondary:hover, .btn--secondary:visited, .btn--secondary:active {
    color: white !important; }

.btn--reverse {
  background-color: white;
  color: #0f8ab6 !important;
  text-shadow: none; }
  .btn--reverse:link, .btn--reverse:hover, .btn--reverse:visited, .btn--reverse:active {
    color: #0f8ab6 !important; }

.btn--link {
  background-color: #2babd9;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2babd9), color-stop(100%, #0f8ab6));
  background-image: -webkit-linear-gradient(top, #2babd9, #0f8ab6);
  background-image: -moz-linear-gradient(top, #2babd9, #0f8ab6);
  background-image: -ms-linear-gradient(top, #2babd9, #0f8ab6);
  background-image: -o-linear-gradient(top, #2babd9, #0f8ab6);
  background-image: linear-gradient(top, #2babd9, #0f8ab6);
  border: 1px solid #006d94;
  color: white !important;
  text-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.4);
  padding: 0.375em 0.75em; }
  .btn--link:link, .btn--link:hover, .btn--link:visited, .btn--link:active {
    color: white !important; }

.btn--large {
  font-size: 1.4em; }

.btn--vertical-space {
  margin-top: 2.5em;
  margin-bottom: 2.5em; }

.external-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 0.125em;
  padding-top: 0.0625em; }

.no-svg .external-icon {
  display: none; }

label,
input,
button,
select,
textarea {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px; }

label {
  display: block; }

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  height: 1.625em;
  padding: 0.25em 0.375em;
  margin-bottom: 0.625em;
  color: #2f3338;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle; }

textarea {
  height: auto; }

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s; }

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  outline: 0; }

input[type="radio"],
input[type="checkbox"] {
  margin: 0.25em 0 0;
  *margin-top: 0;
  /* IE7 */
  margin-top: 0.0625em \9;
  /* IE8-9 */
  line-height: normal; }

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto; }

select,
input[type="file"] {
  height: 1.875em;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 0.25em;
  /* For IE7, add top margin to align select with labels */
  line-height: 1.875em; }

select {
  border: 1px solid #cccccc;
  background-color: #ffffff; }

select[multiple],
select[size] {
  height: auto; }

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 0; }

.form-style-101 {
  margin-top: 0;
  width: 95%;
  padding: 30px;
  margin: 40px auto;
  background: #FFF;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13); }

.form-style-101 .inner-wrap {
  padding: 30px;
  background: #F8F8F8;
  border-radius: 6px;
  margin-bottom: 15px; }

.form-style-101 h1 {
  background: #2A88AD;
  padding: 20px 30px 15px 30px;
  margin: -30px -30px 30px -30px;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid #257C9E; }

.form-style-101 h1 > span {
  display: block;
  margin-top: 2px; }

.form-style-101 label {
  display: block;
  margin-bottom: 15px; }

.form-style-101 input[type="text"],
.form-style-101 input[type="date"],
.form-style-101 input[type="datetime"],
.form-style-101 input[type="email"],
.form-style-101 input[type="number"],
.form-style-101 input[type="search"],
.form-style-101 input[type="time"],
.form-style-101 input[type="url"],
.form-style-101 input[type="password"],
.form-style-101 textarea,
.form-style-101 select {
  background: #FFFFDB;
  display: block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 8px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border: 2px solid #fff;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33); }

.form-style-101 input[type="text"],
.form-style-101 input[type="date"],
.form-style-101 input[type="datetime"],
.form-style-101 input[type="email"],
.form-style-101 input[type="number"],
.form-style-101 input[type="search"],
.form-style-101 input[type="time"],
.form-style-101 input[type="url"],
.form-style-101 input[type="password"],
.form-style-101 textarea {
  width: 100%;
  max-width: 20em; }

.form-style-101 .section {
  margin-bottom: 5px; }

.form-style-101 .section span {
  background: #2A88AD;
  padding: 5px 10px 5px 10px;
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  font-size: 14px;
  margin-left: -45px;
  margin-top: -3px; }

.form-style-101 input[type="button"],
.form-style-101 input[type="submit"] {
  padding: 1em 1em 1em 1em;
  line-height: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid #257C9E;
  font-size: 15px;
  text-align: center;
  margin-top: 0; }

.form-style-101 input[type="button"]:hover,
.form-style-101 input[type="submit"]:hover {
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28); }

.form-style-101 .privacy-policy {
  float: right;
  width: 250px;
  margin-top: 10px;
  text-align: right; }

/* List styles
=============================== */
.list-inline-links {
  margin: 0;
  padding: 0;
  list-style: none; }
  .list-inline-links li {
    display: inline;
    border-right: 1px solid #cccccc;
    padding-right: 0.5em;
    margin-right: 0.5em; }
    .list-inline-links li:last-child {
      border-right: none;
      margin-right: 0;
      padding-right: 0; }

.list-inline-images {
  *zoom: 1;
  margin: 0 auto;
  padding: 0;
  list-style: none; }
  .list-inline-images:before, .list-inline-images:after {
    content: " ";
    display: table; }
  .list-inline-images:after {
    clear: both; }
  .list-inline-images li {
    float: left;
    margin-bottom: 1.875em; }
    @media only screen and (max-width: 47.999em) {
      .list-inline-images li {
        margin-bottom: 1.875em; } }
    @media only screen and (min-width: 48em) {
      .list-inline-images li {
        margin-bottom: 1.875em; } }
    @media only screen and (min-width: 75em) {
      .list-inline-images li {
        margin-bottom: 2.5em; } }
  .list-inline-images.n-fifth li {
    width: 14.28571%;
    margin-right: 7.14286%; }
    .list-inline-images.n-fifth li:nth-child(5n+5) {
      margin-right: 0; }
  .list-inline-images.n-sixth li {
    width: 11.76471%;
    margin-right: 5.88235%; }
    .list-inline-images.n-sixth li:nth-child(6n+6) {
      margin-right: 0; }
    .list-inline-images.n-sixth li:nth-child(6n+7) {
      clear: both; }
  .list-inline-images li:last-child {
    margin-right: 0; }
  @media only screen and (max-width: 47.999em) {
    .list-inline-images.n-sixth li, .list-inline-images.n-fifth li {
      width: 25%;
      margin-right: 12.5%; }
      .list-inline-images.n-sixth li:nth-child(3n+3), .list-inline-images.n-fifth li:nth-child(3n+3) {
        margin-right: 0; } }

.list-nav-with-icons, .list-nav {
  *zoom: 1;
  margin: 0;
  padding: 0;
  list-style: none; }
  .list-nav-with-icons:before, .list-nav-with-icons:after, .list-nav:before, .list-nav:after {
    content: " ";
    display: table; }
  .list-nav-with-icons:after, .list-nav:after {
    clear: both; }
  .list-nav-with-icons li a, .list-nav li a {
    display: block;
    padding: 0.625em 0; }
    .list-nav-with-icons li a img, .list-nav li a img {
      height: 3.125em;
      width: 3.125em;
      border-radius: 1.5625em; }
    .list-nav-with-icons li a .external-icon .svg-icon, .list-nav li a .external-icon .svg-icon {
      fill: #0f8ab6;
      opacity: 0.25; }
  .list-nav-with-icons li a:hover .external-icon .svg-icon, .list-nav li a:hover .external-icon .svg-icon {
    fill: #006d94;
    opacity: 1; }
  @media only screen and (min-width: 48em) {
    .list-nav-with-icons li a, .list-nav li a {
      float: left; }
      .list-nav-with-icons li a img, .list-nav li a img {
        margin-bottom: 0.625em; }
      .list-nav-with-icons li a .label, .list-nav li a .label {
        display: block; } }
  @media only screen and (min-width: 64em) {
    .list-nav-with-icons li a, .list-nav li a {
      width: 100%;
      float: none; }
      .list-nav-with-icons li a img, .list-nav li a img {
        margin-bottom: 0; }
      .list-nav-with-icons li a .label, .list-nav li a .label {
        display: inline; } }

.list-nav-with-icons li {
  *zoom: 1; }
  .list-nav-with-icons li:before, .list-nav-with-icons li:after {
    content: " ";
    display: table; }
  .list-nav-with-icons li:after {
    clear: both; }
.list-nav-with-icons .nav-icon {
  width: 1.5em;
  height: 1.5em;
  float: left;
  margin-right: 0.625em; }
  .list-nav-with-icons .nav-icon .svg-icon {
    fill: #d85e1c; }
.list-nav-with-icons a:hover .svg-icon {
  fill: #c84600; }

table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

table {
  width: 100%;
  margin-bottom: 1.875em; }
  table th,
  table td {
    padding: 0.5em 0;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #cccccc; }
  table th {
    font-family: "Open Sans",sans-serif;
    font-style: normal;
    font-weight: 700; }
  table thead th {
    vertical-align: bottom; }
  table caption + thead tr:first-child th,
  table caption + thead tr:first-child td,
  table colgroup + thead tr:first-child th,
  table colgroup + thead tr:first-child td,
  table thead:first-child tr:first-child th,
  table thead:first-child tr:first-child td {
    border-top: 0; }
  table tbody + tbody {
    border-top: 2px solid #cccccc; }

.photo {
  border-radius: 0.25em;
  box-shadow: 0em 0.0625em 0.25em rgba(0, 0, 0, 0.3); }

.border {
  padding: 0.625em;
  border: 1px solid #CCCCCC;
  text-align: center; }

.masthead {
  position: fixed;
  min-height: 3.75em;
  background-color: #042D40;
  width: 100%;
  top: 0;
  left: 0; }
  .masthead.absolute {
    position: absolute; }
  .masthead .masthead__logo {
    max-width: 35em;
    margin: 0;
    padding: 0.625em 0;
    padding-left: 10px; }
    .masthead .masthead__logo a img {
      display: block; }
    @media only screen and (min-width: 48em) {
      .masthead .masthead__logo {
        max-width: 25.8125em;
        padding-left: 0px;
        height: 70px; }
        .masthead .masthead__logo .masthead__image {
          padding-top: 5px; } }
  .masthead .masthead__logo_conference {
    margin: 0 auto; }

.masthead__navigation {
  position: relative; }

.menu__link {
  position: absolute;
  display: block;
  top: -4.16667em;
  right: 0.83333em;
  font-size: 0.75em;
  line-height: 1;
  text-decoration: none;
  color: white;
  padding: 1.16667em;
  background-color: #575553;
  border-radius: 0.5em; }

.menu,
.menu > ul ul {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.menu > ul ul {
  display: none; }

.js .menu,
.js .menu > ul ul {
  display: block;
  overflow: hidden;
  max-height: 0; }

.menu.active,
.js .menu > ul ul.active {
  max-height: 125em; }

.menu ul {
  margin: 0;
  padding: 0; }
.menu > ul {
  border-top: 1px solid #575553;
  padding-bottom: 0px; }
.menu > ul ul {
  background-color: rgba(255, 255, 255, 0.05); }
.menu li {
  position: relative; }
.menu li a {
  color: white;
  display: block;
  font-size: 0.9375em;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  line-height: 1;
  padding: 1.07143em;
  margin: 0;
  text-decoration: none;
  border-bottom: 1px solid #575553;
  position: relative; }
.menu li a:hover {
  background-color: #575553; }
.menu li.sign-in a {
  background-color: #7DB556; }
.menu li.sign-in a:hover {
  background-color: #7DB556; }
.menu .disclosure-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.75em;
  text-align: center;
  border-left: 1px solid #575553;
  z-index: 9999; }

@media only screen and (min-width: 48em) {
  .menu__link {
    display: none; }

  .menu {
    overflow: visible; }

  .js .menu,
  .js .menu > ul ul {
    max-height: none;
    overflow: visible; }

  .js .menu > ul ul {
    background-color: #042D40;
    display: none; }

  .js .menu ul li:hover > ul {
    display: block; }

  .menu {
    position: absolute;
    bottom: 0;
    right: 0; }
    .menu ul {
      border: 0; }
    .menu li:last-child a {
      border-bottom: 0; }
    .menu > ul > li {
      display: inline-block;
      position: relative; }
      .menu > ul > li > a {
        border-bottom: 0; }
    .menu > ul ul {
      position: absolute;
      top: 0;
      left: 12.5em;
      width: 12.5em;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
      transition: none; }
      .menu > ul ul li {
        position: relative; }
    .menu ul.search-dropdown {
      left: auto !important;
      right: 0em !important; }
    .menu > ul ul.level-2 {
      z-index: 9998;
      top: 2.75em;
      left: 0; }
    .menu .disclosure-button {
      display: none; } }
.masthead {
  z-index: 700; }
  .masthead a:hover {
    color: white; }
  @media only screen and (min-width: 48em) {
    .masthead {
      min-height: 4.375em; } }
  .masthead .nav-icon, .masthead .external-icon {
    display: none; }
  .masthead .menu__item--label {
    color: #cccccc;
    display: block;
    font-size: 0.75em;
    line-height: 1;
    padding: 1.25em 1.25em 0;
    margin: 0;
    text-decoration: none; }

@media only screen and (min-width: 48em) {
  .menu > ul ul {
    width: 18.75em; } }
.b-page-header {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1; }
  .b-page-header:before, .b-page-header:after {
    content: " ";
    display: table; }
  .b-page-header:after {
    clear: both; }
  .b-page-header:before, .b-page-header:after {
    content: " ";
    display: table; }
  .b-page-header:after {
    clear: both; }
  .b-page-header.centered .text {
    margin-left: auto;
    margin-right: auto; }
  .b-page-header .text {
    margin-top: 6.25em;
    margin-bottom: 1.875em;
    max-width: 62.5em;
    color: white;
    text-shadow: 0 0.0625em 0.125em #042D40; }
    .b-page-header .text h1, .b-page-header .text p {
      color: white;
      margin: 0 0 0.3125em 0; }
    .b-page-header .text p.small {
      font-size: 0.875em; }
    .b-page-header .text a {
      color: #f5d45d; }
      .b-page-header .text a img {
        margin-top: -0.0625em; }
    @media only screen and (min-width: 48em) {
      .b-page-header .text {
        margin-top: 7.5em;
        margin-bottom: 3.75em; }
        .b-page-header .text h1 {
          font-size: 2.25em; }
        .b-page-header .text p {
          font-size: 1.125em; } }
    @media only screen and (min-width: 64em) {
      .b-page-header .text {
        margin-top: 10em; }
        .b-page-header .text h1 {
          font-size: 2.5em; }
        .b-page-header .text p {
          font-size: 1.375em; } }
    @media only screen and (min-width: 75em) {
      .b-page-header .text {
        margin-top: 12.5em; } }

.b-home-page-intro {
  position: relative; }
  @media only screen and (max-width: 47.999em) {
    .b-home-page-intro .action {
      display: none; } }
  @media only screen and (min-width: 48em) {
    .b-home-page-intro .action {
      position: absolute;
      bottom: -1.875em;
      width: 37.5em;
      left: 50%;
      margin-left: -18.75em; } }

.b-home-page-powerschool {
  padding: 30px; }
  @media only screen and (max-width: 47.999em) {
    .b-home-page-powerschool {
      padding: 20px; } }
  @media only screen and (max-width: 30em) {
    .b-home-page-powerschool {
      padding: 10px; } }
  .b-home-page-powerschool.lo-flood.home-page-background {
    background-image: url("/img/backgrounds/11.ps.jpg"); }
  .b-home-page-powerschool .centered {
    text-align: center; }
  .b-home-page-powerschool .b-page-header {
    padding: 1em;
    background: rgba(255, 255, 255, 0.75);
    max-width: 100%;
    font-size: 1.1em; }
    @media only screen and (max-width: 47.999em) {
      .b-home-page-powerschool .b-page-header {
        font-size: 1.0em; } }
    .b-home-page-powerschool .b-page-header .logos {
      width: 40em;
      margin: 15px auto;
      display: block;
      font-size: 1em; }
      .b-home-page-powerschool .b-page-header .logos .img {
        display: inline-block; }
        .b-home-page-powerschool .b-page-header .logos .img img {
          width: 85%; }
        .b-home-page-powerschool .b-page-header .logos .img:first-child {
          width: 23em;
          text-align: left; }
        .b-home-page-powerschool .b-page-header .logos .img:last-child {
          width: 14em;
          text-align: center; }
    @media only screen and (max-width: 47.999em) {
      .b-home-page-powerschool .b-page-header .logos {
        width: 100%;
        max-width: 40em;
        font-size: 0.8em; }
        .b-home-page-powerschool .b-page-header .logos .img img {
          width: 90%; }
        .b-home-page-powerschool .b-page-header .logos .img:first-child {
          width: 20em; }
        .b-home-page-powerschool .b-page-header .logos .img:last-child {
          width: 13em; } }
    @media only screen and (max-width: 30em) {
      .b-home-page-powerschool .b-page-header .logos {
        font-size: 0.55em; } }
  .b-home-page-powerschool h1 {
    margin: 0 0 0.5em;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    line-height: 1.3; }
    .b-home-page-powerschool h1 .subheader {
      display: block;
      font-weight: 300;
      font-size: .75em;
      color: #5e666f; }
  @media only screen and (max-width: 47.999em) {
    .b-home-page-powerschool .btn--primary {
      font-size: 0.9em;
      padding: 0.375em 0.75em; } }

.b-text-image {
  *zoom: 1;
  margin-bottom: 3.75em; }
  .b-text-image:before, .b-text-image:after {
    content: " ";
    display: table; }
  .b-text-image:after {
    clear: both; }
  .b-text-image.image-right .image, .b-text-image.image-left .image {
    border: 1px solid #cccccc;
    padding: 1.25em; }
  @media only screen and (min-width: 48em) {
    .b-text-image.image-right .image {
      float: right;
      margin-left: 2.5em;
      margin-bottom: 2.5em; } }
  @media only screen and (min-width: 48em) {
    .b-text-image.image-left .image {
      float: left;
      margin-right: 2.5em;
      margin-bottom: 2.5em; } }

.b-text-image-split {
  *zoom: 1;
  margin-bottom: 3.75em; }
  .b-text-image-split:before, .b-text-image-split:after {
    content: " ";
    display: table; }
  .b-text-image-split:after {
    clear: both; }
  @media only screen and (min-width: 48em) {
    .b-text-image-split.image-right .image {
      float: right;
      width: 46.32768%;
      margin-left: 4.23729%; }
    .b-text-image-split.image-right .text {
      margin-right: 50.56497%; } }
  @media only screen and (min-width: 48em) {
    .b-text-image-split.image-left .image {
      float: left;
      width: 46.32768%;
      margin-right: 4.23729%; }
    .b-text-image-split.image-left .text {
      margin-left: 50.56497%; } }

.b-text-text-split {
  *zoom: 1;
  margin-bottom: 3.75em; }
  .b-text-text-split:before, .b-text-text-split:after {
    content: " ";
    display: table; }
  .b-text-text-split:after {
    clear: both; }
  @media only screen and (min-width: 48em) {
    .b-text-text-split .text-right {
      float: right;
      width: 47.88136%; }
    .b-text-text-split .text-left {
      float: left;
      width: 47.88136%; } }

.b-text-image-stack .image {
  margin-bottom: 1.875em; }
  @media only screen and (max-width: 47.999em) {
    .b-text-image-stack .image {
      margin-bottom: 1.875em; } }
  @media only screen and (min-width: 48em) {
    .b-text-image-stack .image {
      margin-bottom: 1.875em; } }
  @media only screen and (min-width: 75em) {
    .b-text-image-stack .image {
      margin-bottom: 2.5em; } }

.b-aside {
  margin-bottom: 3.75em;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  text-align: left; }
  @media only screen and (max-width: 47.999em) {
    .b-aside {
      margin-bottom: 1.875em; } }
  @media only screen and (min-width: 48em) {
    .b-aside {
      margin-bottom: 3.75em; } }
  @media only screen and (min-width: 75em) {
    .b-aside {
      margin-bottom: 5em; } }
  .b-aside:last-child {
    margin-right: 0; }
  .b-aside .text {
    height: auto;
    width: auto; }
  @media only screen and (min-width: 48em) {
    .b-aside {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 48.82117%;
      text-align: center; }
      .b-aside:last-child {
        margin-right: 0; }
      .b-aside .text {
        width: 13.75em;
        margin: auto; } }
  @media only screen and (min-width: 64em) {
    .b-aside {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 100%;
      text-align: left; }
      .b-aside:last-child {
        margin-right: 0; }
      .b-aside .text {
        height: auto;
        width: auto; } }

.b-contact-us .vcard {
  margin-bottom: 1.25em; }
.b-contact-us .fn.org.url {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
@media only screen and (max-width: 47.999em) {
  .b-contact-us div {
    display: inline; }
  .b-contact-us .title,
  .b-contact-us .vcard .url,
  .b-contact-us .vcard .international,
  .b-contact-us .vcard .type,
  .b-contact-us .btn {
    display: none; }
  .b-contact-us .tel {
    padding-right: 0.625em;
    border-right: 1px solid #ccc;
    margin-right: 0.625em; } }

.b-social-icons ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  max-width: 21.25em; }
.b-social-icons li {
  width: 29.41176%;
  max-width: 8.33333em;
  margin-right: 5.88235%;
  float: left;
  text-align: center;
  font-size: 0.75em; }
  .b-social-icons li:last-child {
    margin-right: 0; }
.b-social-icons .social-icon {
  background-color: #0f8ab6;
  border-radius: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 8.125em;
  height: 8.125em;
  padding: 1.875em;
  margin: auto;
  margin-bottom: 0.625em; }
  .b-social-icons .social-icon .svg-icon {
    height: auto;
    fill: white; }
.b-social-icons a:hover .social-icon {
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  background-color: #006d94; }

.b-footer {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #cccccc;
  margin-top: 1.875em;
  padding: 1.25em 0; }
  .b-footer:before, .b-footer:after {
    content: " ";
    display: table; }
  .b-footer:after {
    clear: both; }
  .b-footer ul {
    font-size: 0.75em; }
  .b-footer .footer-nav {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .b-footer .footer-nav:last-child {
      margin-right: 0; }
  .b-footer .copyright {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .b-footer .copyright:last-child {
      margin-right: 0; }
    .b-footer .copyright ul {
      float: right; }
  @media only screen and (max-width: 47.999em) {
    .b-footer .footer-nav {
      display: none; }
    .b-footer .copyright {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 100%; }
      .b-footer .copyright:last-child {
        margin-right: 0; }
      .b-footer .copyright ul {
        float: none; } }

.b-testimonial {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  color: white; }
  .b-testimonial:before, .b-testimonial:after {
    content: " ";
    display: table; }
  .b-testimonial:after {
    clear: both; }
  .b-testimonial a {
    color: white; }
  .b-testimonial .portrait {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .b-testimonial .portrait:last-child {
      margin-right: 0; }
    @media only screen and (max-width: 47.999em) {
      .b-testimonial .portrait {
        display: none; } }
    @media only screen and (min-width: 48em) {
      .b-testimonial .portrait {
        display: block;
        margin-left: -em(100); } }
  .b-testimonial .quote {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .b-testimonial .quote:last-child {
      margin-right: 0; }
    @media only screen and (max-width: 47.999em) {
      .b-testimonial .quote {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%; }
        .b-testimonial .quote:last-child {
          margin-right: 0; } }
    .b-testimonial .quote blockquote {
      margin: 4.7619em 0 0.47619em 0;
      padding: 0;
      font-family: "museo",serif;
      font-style: normal;
      font-weight: 300; }
      @media only screen and (max-width: 47.999em) {
        .b-testimonial .quote blockquote {
          margin-top: 1.15385em;
          font-size: 1.625em; } }
      @media only screen and (min-width: 48em) {
        .b-testimonial .quote blockquote {
          margin-top: 3.125em;
          font-size: 2em; } }
      @media only screen and (min-width: 64em) {
        .b-testimonial .quote blockquote {
          margin-top: 4.16667em;
          font-size: 2.25em; } }
      @media only screen and (min-width: 75em) {
        .b-testimonial .quote blockquote {
          margin-top: 4.28571em;
          font-size: 2.625em; } }
    .b-testimonial .quote blockquote:before {
      content: "\201C";
      position: absolute;
      margin-left: -0.16667em;
      margin-top: -0.33333em;
      font-size: 3.75em;
      opacity: 0.4; }
    .b-testimonial .quote blockquote:after {
      content: "\201D"; }
    .b-testimonial .quote figcaption {
      font-size: 0.875em;
      margin-bottom: 2.14286em; }
      .b-testimonial .quote figcaption .name {
        font-family: "Open Sans",sans-serif;
        font-style: normal;
        font-weight: 700; }

.b-logo-list h2 {
  text-align: center; }
@media only screen and (max-width: 47.999em) {
  .b-logo-list {
    display: none; } }
@media only screen and (min-width: 64em) {
  .b-logo-list {
    width: 64em; } }

.b-icon-delimiter {
  *zoom: 1;
  margin-bottom: 3.75em;
  text-align: center;
  background: transparent url("/img/delimiter.png") 0 1.875em repeat-x; }
  .b-icon-delimiter:before, .b-icon-delimiter:after {
    content: " ";
    display: table; }
  .b-icon-delimiter:after {
    clear: both; }
  @media only screen and (max-width: 47.999em) {
    .b-icon-delimiter {
      margin-bottom: 1.875em; } }
  @media only screen and (min-width: 48em) {
    .b-icon-delimiter {
      margin-bottom: 3.75em; } }
  @media only screen and (min-width: 75em) {
    .b-icon-delimiter {
      margin-bottom: 5em; } }
  .b-icon-delimiter .delimiter-icon {
    background-color: #7DB556;
    border-radius: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 3.75em;
    height: 3.75em;
    padding: 0.9375em;
    margin: 0 auto; }
    .b-icon-delimiter .delimiter-icon .svg-icon {
      width: 1.875em;
      height: 1.875em;
      fill: white; }

@media only screen and (max-width: 47.999em) {
  .b-secondary-nav {
    display: none; } }
@media only screen and (min-width: 48em) {
  .b-secondary-nav {
    display: block; } }

.b-rounded-input {
  *zoom: 1;
  background-color: white;
  max-width: 50em;
  margin: 1.875em auto;
  border-radius: 6.25em;
  overflow: hidden;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.3); }
  .b-rounded-input:before, .b-rounded-input:after {
    content: " ";
    display: table; }
  .b-rounded-input:after {
    clear: both; }
  .b-rounded-input .input-text, .b-rounded-input .input-submit {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    height: 2em;
    line-height: 1;
    padding: 0.5em 1em; }
  @media only screen and (min-width: 48em) {
    .b-rounded-input.big .input-text, .b-rounded-input.big .input-submit {
      height: 2.5em;
      font-size: 1.25em;
      line-height: 1;
      padding: 0.5em 1.5em; } }
  .b-rounded-input .input-text {
    width: 70%;
    float: left;
    background: transparent; }
  .b-rounded-input .input-submit {
    width: 30%;
    float: left;
    border-radius: 6.25em; }

.b-card {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1.618em;
  border-radius: 0.625em;
  border: 0.0625em solid #cccccc; }

.b-department {
  *zoom: 1;
  margin-bottom: 3.75em; }
  .b-department:before, .b-department:after {
    content: " ";
    display: table; }
  .b-department:after {
    clear: both; }
  @media only screen and (max-width: 47.999em) {
    .b-department {
      margin-bottom: 1.875em; } }
  @media only screen and (min-width: 48em) {
    .b-department {
      margin-bottom: 3.75em; } }
  @media only screen and (min-width: 75em) {
    .b-department {
      margin-bottom: 5em; } }
  .b-department .b-department__heading {
    text-align: center;
    font-size: 2.5em;
    color: #0f8ab6; }
  .b-department .b-department__profile {
    margin: 1.875em 20%; }
    @media only screen and (min-width: 48em) {
      .b-department .b-department__profile {
        margin: 0;
        margin-right: 3%;
        margin-bottom: 1.875em;
        width: 17.6%;
        float: left; } }
  @media only screen and (min-width: 48em) {
    .b-department.b-department--leadership .b-department__profile {
      width: 41%; }
      .b-department.b-department--leadership .b-department__profile:first-child {
        margin-left: 6%;
        margin-right: 6%; }
      .b-department.b-department--leadership .b-department__profile .b-profile__image {
        margin-left: 25%;
        margin-right: 25%; } }
  @media only screen and (min-width: 48em) {
    .b-department.b-department--business-development .b-department__profile:nth-child(2) {
      margin-left: 20.6%; }
    .b-department.b-department--business-development .b-department__profile:nth-child(4) {
      clear: right;
      margin-right: 0; }
    .b-department.b-department--business-development .b-department__profile:nth-child(5) {
      clear: left;
      margin-left: 20.6%; }
    .b-department.b-department--business-development .b-department__profile:nth-child(7) {
      clear: right;
      margin-right: 0; } }
  @media only screen and (min-width: 48em) {
    .b-department.b-department--community-care .b-department__profile:nth-child(2) {
      margin-left: 20.6%; }
    .b-department.b-department--community-care .b-department__profile:nth-child(4) {
      clear: right;
      margin-right: 0; }
    .b-department.b-department--community-care .b-department__profile:nth-child(5) {
      clear: left;
      margin-left: 10.3%; }
    .b-department.b-department--community-care .b-department__profile:nth-child(8) {
      clear: right;
      margin-right: 0; }
    .b-department.b-department--community-care .b-department__profile:nth-child(9) {
      clear: left;
      margin-left: 20.6%; } }
  @media only screen and (min-width: 48em) {
    .b-department.b-department--finance .b-department__profile:nth-child(2) {
      margin-left: 30.9%; } }
  @media only screen and (min-width: 48em) {
    .b-department.b-department--human-resources .b-department__profile:nth-child(2) {
      margin-left: 30.9%; } }
  @media only screen and (min-width: 48em) {
    .b-department.b-department--product .b-department__profile:nth-child(2) {
      margin-left: 10.3%; }
    .b-department.b-department--product .b-department__profile:nth-child(5) {
      clear: right;
      margin-right: 0; }
    .b-department.b-department--product .b-department__profile:nth-child(6) {
      clear: left;
      margin-left: 10.3%; }
    .b-department.b-department--product .b-department__profile:nth-child(9) {
      clear: right;
      margin-right: 0; }
    .b-department.b-department--product .b-department__profile:nth-child(10) {
      clear: left;
      margin-left: 10.3%; } }

.b-profile {
  text-align: center; }
  .b-profile .b-profile__image {
    margin-bottom: 0.9375em; }
    @media only screen and (max-width: 47.999em) {
      .b-profile .b-profile__image {
        margin-bottom: 1.875em; } }
    @media only screen and (min-width: 48em) {
      .b-profile .b-profile__image {
        margin-bottom: 0.9375em; } }
    @media only screen and (min-width: 75em) {
      .b-profile .b-profile__image {
        margin-bottom: 1.25em; } }
    .b-profile .b-profile__image img {
      border-radius: 100%; }
  .b-profile .b-profile__name {
    margin-bottom: 0; }
  .b-profile .b-profile__position {
    margin-top: 0;
    font-size: 0.875em; }

.b-post-list article {
  margin-bottom: 1.875em;
  *zoom: 1; }
  @media only screen and (max-width: 47.999em) {
    .b-post-list article {
      margin-bottom: 1.875em; } }
  @media only screen and (min-width: 48em) {
    .b-post-list article {
      margin-bottom: 1.875em; } }
  @media only screen and (min-width: 75em) {
    .b-post-list article {
      margin-bottom: 2.5em; } }
  .b-post-list article:before, .b-post-list article:after {
    content: " ";
    display: table; }
  .b-post-list article:after {
    clear: both; }
.b-post-list .title {
  margin-bottom: 0; }
.b-post-list .byline, .b-post-list .readmore {
  font-size: 0.6875em;
  text-transform: uppercase;
  color: #575553; }
.b-post-list .prevnext {
  *zoom: 1;
  margin: 0;
  font-size: 0.6875em;
  text-transform: uppercase;
  border-top: 1px dotted #cccccc;
  padding-top: 1.81818em; }
  .b-post-list .prevnext:before, .b-post-list .prevnext:after {
    content: " ";
    display: table; }
  .b-post-list .prevnext:after {
    clear: both; }
  .b-post-list .prevnext .prev a, .b-post-list .prevnext .next a {
    color: #575553; }
  .b-post-list .prevnext .prev {
    width: 50%;
    float: left; }
  .b-post-list .prevnext .next {
    width: 50%;
    float: left;
    text-align: right; }

.b-comparison-table tr:nth-child(odd) {
  background-color: #fafafa; }
.b-comparison-table th {
  color: white;
  background-color: #575553; }
.b-comparison-table .cell-feature-col {
  vertical-align: middle;
  padding-left: 0.625em;
  border-right: 1px solid #cccccc; }
.b-comparison-table .cell-school-col {
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  width: 20%;
  border-right: 1px solid #cccccc; }
.b-comparison-table .cell-teacher-col {
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  width: 20%; }
.b-comparison-table .cell-icon {
  background-color: #575553;
  border-radius: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 1.625em;
  height: 1.625em;
  padding: 0.3125em;
  margin: auto;
  margin-bottom: 0em; }
  .b-comparison-table .cell-icon .svg-icon {
    height: 1em;
    width: 1em;
    fill: white; }

.b-callout-box {
  padding: 1.25em;
  background-color: #fafafa;
  border-radius: 0.625em; }

.b-appstore .b-appstore__badge {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  padding: 1.375em;
  width: 25%;
  float: left;
  margin-right: 4.16667%;
  border: 1px solid #cccccc;
  border-radius: 0.5em; }
.b-appstore .b-appstore__badge:first-child {
  margin-left: 8.33333%; }
.b-appstore .b-appstore__badge:last-child {
  margin-right: 0; }
.b-appstore .b-appstore__image {
  margin-bottom: 0.875em; }
.b-appstore .b-appstore__link {
  text-transform: uppercase;
  font-size: 0.75em; }

.b-bio {
  width: 37.5em;
  min-height: 25em;
  margin: auto;
  margin-top: 1.875em;
  margin-bottom: 2.5em; }
  .b-bio .b-bio__headshot {
    float: right;
    max-width: 12.5em;
    max-height: 12.5em;
    border-radius: 6.25em;
    overflow: hidden;
    margin-left: 1.25em;
    margin-bottom: 2.5em; }
  .b-bio .b-bio__header {
    color: #2babd9;
    margin: 0;
    padding: 0; }
  .b-bio .b-bio__subheader {
    text-transform: uppercase;
    color: #999999;
    font-size: 0.75em;
    margin-top: 0;
    margin-bottom: 3.33333em; }
  .b-bio .b-bio__text h2 {
    font-family: "Open Sans",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1em; }

.blog-image {
  padding: 0.625em;
  border: 1px solid #CCCCCC;
  text-align: center; }
  .blog-image .blog-image__caption {
    display: block;
    font-size: 0.8125em;
    margin-top: 1.53846em;
    font-family: "Open Sans", sans-serif;
    font-style: oblique;
    font-weight: 400; }
  @media only screen and (min-width: 48em) {
    .blog-image.blog-image--right {
      float: right;
      margin-left: 1.25em;
      margin-bottom: 1.875em; }
    .blog-image.blog-image--left {
      float: left;
      margin-right: 1.25em;
      margin-bottom: 1.875em; } }

.nav-search {
  *zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0.875em; }
  .nav-search:before, .nav-search:after {
    content: " ";
    display: table; }
  .nav-search:after {
    clear: both; }
  .nav-search .nav-search__input,
  .nav-search .nav-search__submit {
    margin: 0;
    padding: 0; }
  .nav-search .nav-search__input {
    width: 62%;
    margin-right: 3%;
    float: left; }
  .nav-search .nav-search__submit {
    width: 35%;
    float: right;
    overflow: hidden; }

.jobs .jobs__quote {
  margin: 2em 0; }
  .jobs .jobs__quote blockquote {
    font-style: italic; }
.jobs .full-width-slideshow {
  width: 100%;
  max-width: 800px;
  padding-bottom: 62.5%;
  position: relative; }
  .jobs .full-width-slideshow > iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
.jobs .jobs__listing .jobs__listing-header {
  margin-bottom: 0; }
  .jobs .jobs__listing .jobs__listing-header a {
    color: #d85e1c; }
.jobs .jobs__listing .jobs__listing-details {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 3.75em; }
  .jobs .jobs__listing .jobs__listing-details .jobs__listing-summary {
    margin: .5em 0; }
  .jobs .jobs__listing .jobs__listing-details .jobs__listing-apply {
    margin-top: 1em; }
  .jobs .jobs__listing .jobs__listing-details label {
    display: inline;
    font-weight: bold; }

#conference__user table th, #conference__user table td {
  border-top: none; }
#conference__user .listitem {
  padding-bottom: 10px; }
#conference__user .ss-choices {
  list-style: none;
  margin: 0;
  padding: 10px 0 10px 0; }

.schedule-left {
  float: left; }
  .schedule-left .headline {
    margin: 12px 0; }
  .schedule-left .footnote {
    margin-top: 60px; }
  .schedule-left .schedule-line {
    clear: both; }
  .schedule-left .schedule-text-left {
    float: left;
    width: 20%; }
  .schedule-left .schedule-text-right {
    float: right;
    width: 79%; }
  .schedule-left .schedule-text-left p, .schedule-left .schedule-text-right p {
    margin: 0.5em 0 0.25em 0; }

.newsbar {
  height: 70px;
  background-color: rgba(93, 100, 110, 0.7);
  width: 100%;
  min-width: 100px;
  position: absolute;
  z-index: 600;
  margin-top: 0px;
  margin-bottom: 0px;
  display: block;
  overflow: hide; }

.newsbarcontent {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }

.newsbartext {
  font-size: 10pt;
  color: white;
  overflow: hidden;
  float: left;
  padding-left: 10px;
  line-height: 15px;
  max-width: 90%;
  text-size-adjust: none;
  position: relative;
  top: 50%;
  margin-top: 35px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  @media only screen and (min-width: 48em) {
    .newsbartext {
      font-size: 10pt;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); } }
  .newsbartext a {
    white-space: nowrap;
    text-decoration: underline;
    color: #2babd9; }
  .newsbartext a:hover {
    color: #2babd9; }

.newsbarclosebutton {
  cursor: pointer;
  height: 15px;
  width: 15px;
  fill: #2babd9; }
  .newsbarclosebutton :hover {
    fill: #207ea1; }

.newsbarclose {
  float: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 35px;
  padding-right: 10px; }

.grid {
  padding-left: 1.875em;
  padding-right: 1.875em; }

.grid__content {
  display: -webkit-flex;
  display: flex;
  margin: auto;
  margin-bottom: 3.75em;
  max-width: 75em; }
  .grid__content.grid__content--top {
    -webkit-align-items: flex-start;
    align-items: flex-start; }
  .grid__content.grid__content--bottom {
    -webkit-align-items: flex-end;
    align-items: flex-end; }
  .grid__content.grid__content--middle {
    -webkit-align-items: center;
    align-items: center; }
  .grid__content.grid__content--left {
    -webkit-justify-content: left;
    justify-content: left; }
  .grid__content.grid__content--center {
    -webkit-justify-content: center;
    justify-content: center; }
  .grid__content.grid__content--right {
    -webkit-justify-content: right;
    justify-content: right; }

.grid__cell {
  -webkit-flex: 1;
  flex: 1; }
  .grid__cell:last-child {
    margin-right: 0;
    max-width: 48.75em; }
  .grid__cell.grid__cell--top {
    -webkit-align-self: flex-start;
    align-self: flex-start; }
  .grid__cell.grid__cell--bottom {
    -webkit-align-self: flex-end;
    align-self: flex-end; }
  .grid__cell.grid__cell--middle {
    -webkit-align-self: center;
    align-self: center; }
  .grid__cell.grid__cell--left {
    text-align: left; }
  .grid__cell.grid__cell--center {
    text-align: center; }
  .grid__cell.grid__cell--right {
    text-align: right; }

.grid__content {
  -webkit-flex-direction: column;
  flex-direction: column; }
  @media only screen and (min-width: 48em) {
    .grid__content {
      -webkit-flex-direction: row;
      flex-direction: row; } }
  .grid__content .grid__cell {
    margin-bottom: 2.72727em; }
    .grid__content .grid__cell:last-child {
      margin-bottom: 0; }
    @media only screen and (min-width: 48em) {
      .grid__content .grid__cell {
        margin-bottom: 0;
        margin-right: 1.36364em; }
        .grid__content .grid__cell:last-child {
          margin-right: 0; } }

.icon-text-box {
  border: 1px solid #cccccc; }
  .icon-text-box .icon-text-box__link {
    display: block;
    font-size: 1.375em;
    padding: 1.36364em;
    border-radius: 0.18182em;
    outline: none; }
  .icon-text-box .icon-text-box__link:hover .icon-text-box__image {
    opacity: 1; }
  .icon-text-box .icon-text-box__image {
    margin: auto;
    margin-bottom: 1.36364em;
    display: block;
    clear: all;
    max-width: 4.54545em;
    opacity: 0.6; }
  .icon-text-box.icon-text-box--selected {
    opacity: 1;
    background-color: #7DB556; }
    .icon-text-box.icon-text-box--selected a {
      color: white; }
  .icon-text-box.icon-text-box--unselected {
    opacity: 0.3; }

#employee-map {
  width: 100%;
  max-width: 1000px;
  height: 300px;
  background: url(/img/about/employee-map.2x.jpg) center/cover no-repeat; }
  #employee-map img {
    max-height: inherit;
    max-width: inherit; }
  #employee-map .people {
    max-width: 550px;
    max-height: 190px;
    overflow: auto; }
  #employee-map .person {
    width: 260px;
    height: 85px;
    display: block;
    float: left; }
    #employee-map .person img {
      max-width: 75px;
      max-height: 75px;
      display: block;
      float: left;
      border-radius: 100%; }
    #employee-map .person figcaption {
      width: 165px;
      display: inline-block;
      margin: 5px; }
    #employee-map .person h3 {
      font-size: 1.3em;
      margin: 0; }
  #employee-map .city {
    clear: both;
    display: block;
    margin-top: 5px;
    border-top: 1px solid #999;
    color: #999; }

/*! fancyBox v2.1.4 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020; }

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.fancybox-opened {
  z-index: 8030; }

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

.fancybox-outer, .fancybox-inner {
  position: relative; }

.fancybox-inner {
  overflow: hidden; }

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch; }

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap; }

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%; }

.fancybox-image {
  max-width: 100%;
  max-height: 100%; }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("/img/fancybox/fancybox_sprite.png"); }

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060; }

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("/img/fancybox/fancybox_loading.gif") center center no-repeat; }

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040; }

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("/img/fancybox/blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8040; }

.fancybox-prev {
  left: 0; }

.fancybox-next {
  right: 0; }

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden; }

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px; }

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px; }

.fancybox-nav:hover span {
  visibility: visible; }

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important; }

/* Overlay helper */
.fancybox-lock {
  overflow: hidden; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("/img/fancybox/fancybox_overlay.png"); }

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0; }

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll; }

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050; }

.fancybox-opened .fancybox-title {
  visibility: visible; }

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center; }

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap; }

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff; }

.fancybox-title-inside-wrap {
  padding-top: 10px; }

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

.gcse-override table, .gcse-override table td {
  border: 0 !important;
  padding: 0; }
.gcse-override .gsc-control-cse {
  font-family: inherit;
  border: 0 !important;
  border-color: none;
  background-color: inherit; }
.gcse-override .cse .gsc-control-cse, .gcse-override .gsc-control-cse {
  padding: 0;
  width: auto; }
.gcse-override form.gsc-search-box {
  font-size: 1em;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 4px;
  margin-left: 0;
  width: 100%; }
.gcse-override .gs-webResult .gs-snippet, .gcse-override .gs-imageResult .gs-snippet, .gcse-override .gs-fileFormatType {
  color: inherit; }
.gcse-override .gsc-table-result, .gcse-override .gsc-thumbnail-inside, .gcse-override .gsc-url-top {
  padding-left: 0;
  padding-right: 0; }
.gcse-override .gsc-control-cse .gsc-table-result {
  font-family: inherit; }
.gcse-override .gsc-control-cse, .gcse-override .gsc-control-cse .gsc-table-result {
  width: 100%;
  font-family: inherit;
  font-size: 1em; }
.gcse-override .gsc-result-info {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  padding-bottom: 0;
  text-align: left;
  color: inherit;
  font-size: 0.875em;
  padding-left: 0;
  margin: 0; }
.gcse-override .gsc-input-box input[type="text"] {
  border: 0;
  box-shadow: none;
  background: none !important; }
.gcse-override input.gsc-search-button-v2 {
  width: 13px;
  height: 28px;
  padding: 6px 27px;
  min-width: 13px;
  margin-top: 6px;
  background-image: url(http://www.google.com/uds/css/v2/search_box_icon.png);
  background-position: center;
  background-repeat: no-repeat; }
