@charset "utf-8";

/************************************************************************
 * 파일명 : afmain.css
 * 설명    : afreecaTV main
 * 작성자 : 홍반장
 * 작성일 : 2015.04.29
************************************************************************/
/* @import url('//fonts.googleapis.com/earlyaccess/nanumgothic.css'); */
/* Nanum Gothic (Korean) //www.google.com/fonts/earlyaccess */
@font-face {
  font-family:'NG';
  font-style:normal;
  font-weight:400;
  src:url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
  src:url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family:'NGB';
  font-style:normal;
  font-weight:700;
  src:url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
  src:url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format('truetype');
}
/*
@font-face {
  font-family:'NG';
  font-style:normal;
  font-weight:400;
  src:url(//www.afreecatv.com/webfont/NanumGothic-Regular.eot);
  src:url(//www.afreecatv.com/webfont/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//www.afreecatv.com/webfont/NanumGothic-Regular.woff2) format('woff2'),
       url(//www.afreecatv.com/webfont/NanumGothic-Regular.woff) format('woff'),
       url(//www.afreecatv.com/webfont/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family:'NGB';
  font-style:normal;
  font-weight:700;
  src:url(//www.afreecatv.com/webfont/NanumGothic-Bold.eot);
  src:url(//www.afreecatv.com/webfont/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(//www.afreecatv.com/webfont/NanumGothic-Bold.woff2) format('woff2'),
       url(//www.afreecatv.com/webfont/NanumGothic-Bold.woff) format('woff'),
       url(//www.afreecatv.com/webfont/NanumGothic-Bold.ttf) format('truetype');
}
*/
html,body{width:100%;height:100%;margin:0;padding:0;font-family:"돋움", verdana, sans-serif;font-size:12px;line-height:1.5}

/* HTML 5 Reset */
nav, section, article, header, aside, footer, figure, dialog {display:block}
time, progress, mark, output {display:inline}

/* mobile */
html{-webkit-text-size-adjust: none;} /* iphone */
body {background:#fff;}
body, ul, ol, li, dt, dl, dd, div, h1, h2, h3, h4, h5, h6, p, form, fieldset, blockquote, iframe, input, object, table, tr, th, td, button{margin:0;padding:0}

ul, ol, li{list-style:none}
hr{display:none}
em{font-style:normal}
fieldset, img{border:none;}
legend, caption{display:block;overflow:hidden;position:absolute;text-indent:-9999px;top:-9999px;font-size:0;width:1px;height:1px;left:-9999px;line-height: 0;}

/* table { border-collapse: collapse;} */

.hide {display:none}  /* none */
.blind {display:block;overflow:hidden;position:absolute;text-indent:-9999px;top:-9999px;font-size:0;width:1px;height:1px;left:-9999px;line-height: 0;} /* hide */
.png24		{tmp:expression(setPng24(this));}

/* Link Css */
a {cursor:pointer}
a:link,  a:visited,  a:active {text-decoration:none}
a:hover{text-decoration:underline}
/*a:focus, button:focus {outline:1px solid #a5c7fe}*/

/* form */
textarea {font-family:Dotum, "돋움", verdana, sans-serif;font-size:12px;outline:none}
select{font-family:Dotum, "돋움", verdana, sans-serif;font-size:12px;outline:none}
input {font-family:Dotum, "돋움", verdana, sans-serif;font-size:12px;outline:none}
button {border:0 none;cursor:pointer;vertical-align:middle}
iframe {position:absolute;z-index:-9999;height:0;line-height:0;top:-9999px;left:-9999px}

.ir {position:relative;z-index:-1;overflow:hidden;display:block;width:100%;height:100%;font-size:0;line-height:0}

/* 건너뛰기 */
.wa_skip {position:relative;width:100%;z-index:5000;}
.wa_skip a{position:absolute;top:-60px;left:50%;width:120px;height:32px;line-height:32px;padding:0 20px;margin-left:-70px;font-size:11px;color:#fff;letter-spacing:-1px;text-align:center;background:#0545af;}
.wa_skip a:active,
.wa_skip a:focus {overflow:hidden;top:0;text-decoration:none}
.wa_skip a:active,
.wa_skip a:hover {color:#fff}

#btn_pagetop {display:none;position:fixed;right:20px;bottom:108px;z-index:7000}
#btn_pagetop a {overflow:hidden;display:block;width:44px;height:37px;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -259px -85px;}
#overlay {display:none;position:fixed;_position:absolute;left:0;top:0;z-index:8000;width:100%;min-height:100%;_height:100%;background-color:#000;zoom:1;filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity: 0.7;opacity:0.7;}
#home_setting {display:none;position:fixed;_position:absolute;z-index:9000;top:50%;left:50%;width:720px;height:530px;margin:-265px 0 0 -360px;border-radius:5px;background:#fff url('//www.afreecatv.com/images/afmain/txt_home.gif') no-repeat center 46px}
#home_setting .inner {padding-top:153px}
#home_setting .select_area {overflow:hidden;display:block;position:relative;width:590px;height:261px;margin:0 auto 0;background:url('//www.afreecatv.com/images/afmain/bg_home_select.gif') no-repeat 0 0 /*-305px -261px*/;}
#home_setting .select_area div {position:relative;float:left;display:block;width:285px;margin-right:20px}
#home_setting .select_area div em {position:absolute;top:209px;display:block;width:36px;height:18px;text-indent:-9999px;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -412px 0;}
#home_setting .select_area .ing em {display:block}
#home_setting .select_area .cover em {left:194px}
#home_setting .select_area .list em {left:210px}
#home_setting .select_area .cover {margin-right:0}
#home_setting .select_area button {display:block;width:285px;height:245px;text-indent:-9999px; background:url('//www.afreecatv.com/images/afmain/bg_home_select.gif') no-repeat 0 -261px}
#home_setting .select_area .list button.on {background:url('//www.afreecatv.com/images/afmain/bg_home_select.gif') no-repeat 0 0}
#home_setting .select_area .cover button {background:url('//www.afreecatv.com/images/afmain/bg_home_select.gif') no-repeat -305px -261px}
#home_setting .select_area .cover button.on {background:url('//www.afreecatv.com/images/afmain/bg_home_select.gif') no-repeat -305px 0}
#home_setting .apply button{display:block;width:100%;height:67px;margin-top:48px;color:#1559ff;border-radius:0 0 5px 5px;border-top:1px solid #d1d1d1;background:#fafafa url('//www.afreecatv.com/images/afmain/txt_apply.gif') no-repeat center 22px;}
#home_setting .close {position:absolute;top:10px;right:10px}
#home_setting .close a{position:relative;display:block;width:41px;height:40px;}
#home_setting .close a span {overflow:hidden;position:absolute;top:10px;left:10px;width:21px;height:20px;text-indent:-9999px;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -448px 0;}

#system_check {position:absolute;z-index:200;top:54px;left:0;overflow:hidden;width:100%;min-width:980px;height:27px;padding:7px 0 0;border-bottom:1px solid #ebebeb;font-size:14px;letter-spacing:-1px;text-align:center;color:#181818;background:#fafbfd}
#system_check .ic_nt {display:inline-block;width:47px;height:20px;vertical-align:middle;margin:0 10px 3px 0;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -469px 0;}
#system_check .link_nt {display:inline-block;font-size:11px;color:#555;margin-left:11px;text-decoration:underline}
#system_check .link_nt em {display:inline-block;width:2px;height:3px;vertical-align:middle;margin:0 0 3px 4px;font-size:0;text-indent:-9999px;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -326px 0;}
#system_check strong {font-family:'NGB';}

#alarm_broadcast {display: none;position:fixed; _position:absolute;z-index:8001;top:50%;left:50%;width:696px;height:576px;margin:-288px 0 0 -348px;border-radius:5px;background: url('//www.afreecatv.com/images/afmain/alarm_broadcast.png') no-repeat center top; }
#alarm_broadcast a , #alarm_broadcast button {  position: absolute; display: block; overflow: hidden; text-indent: -9999em; }
#alarm_broadcast .app {  top: 437px;left: 67px; width: 72px; height: 28px;}
#alarm_broadcast .app.ios { left: 147px; }
#alarm_broadcast .inquiry {  bottom: 0; left: 0; right: 0; width: 100%; height: 74px;}
#alarm_broadcast button { background-color: transparent; width: 50px; height: 50px; right: 0;top: 0; }

#alarm_mobile { display: none; position: fixed; top: 50%; left: 50%; z-index:8001; width: 298px; height: 142px; padding: 21px 0; margin: -94px 0 0 -150px; text-align: center;  letter-spacing: -1px;  border: 1px solid #c7c7c7; background-color: #fff; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
#alarm_mobile h2 { font-size: 16px; color:#1559ff; font-family: 'NG'; font-weight: normal; line-height: 1.4; }
#alarm_mobile p { margin: 10px 0 15px; font-size: 13px; color:#666667; font-family: 'NG'; font-weight: normal; text-align: center; }
#alarm_mobile button {  width: 148px; height: 34px; margin: 0 auto; font-size: 13px; color: #fff; background-color: #2e6afd; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; }
#alarm_mobile button.close { overfl: hidden;  position: absolute; top: 10px; right: 10px; width: 11px; height: 11px; text-indent: -9999em; outline: none; background: transparent url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -176px -166px;}



.layer_wrap {position:fixed;_position:absolute;z-index:9000;top:50%;left:50%;border-radius:5px;background:#fff}
.layer_wrap .close {position:absolute;top:10px;right:10px}
.layer_wrap .close a{position:relative;display:block;width:41px;height:40px;}
.layer_wrap .close a span {overflow:hidden;position:absolute;top:10px;left:10px;width:21px;height:20px;text-indent:-9999px;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -448px 0;}

.adult_confirm {width:390px;height:370px;max-height:370px;margin:-195px 0 0 -185px;}
.adult_confirm .txt_adult {padding-top:133px;font-family:'NG';font-size:20px;color:#181818;text-align:center;background:url('//www.afreecatv.com/images/afmain/bul_adult.png') no-repeat 50% 48px}
.adult_confirm .txt_c {padding-top:20px;line-height:160%;font-family:'NG';font-size:14px;color:#999;text-align:center;letter-spacing:-1px}
.adult_confirm .txt_c strong {color:#ff2727;font-weight:normal}
.adult_confirm .btn_f a{display:block;width:100%;height:67px;line-height:67px;margin-top:29px;color:#1559ff;border-radius:0 0 5px 5px;text-align:center;text-decoration:none;border-top:1px solid #d1d1d1;font-family:'NG';font-size:18px;color:#1559ff;background:#fafafa}

/* update_info 2015-09-14 추가 */
.update_info {width:721px;height:666px; max-height:666px; margin:-333px 0 0 -360px; background:url('//www.afreecatv.com/images/afmain/update_150914.png') no-repeat 0 0;}
.update_info h2,
.update_info .info {display:block;overflow:hidden;position:absolute;text-indent:-9999px;top:-9999px;font-size:0;width:1px;height:1px;left:-9999px;line-height: 0;}
.update_info .btn_go a {position:absolute; left:0; top:553px; width:100%; height:82px; display:block; overflow:hidden; text-indent:-1111px; }
.update_info .btn_close_long a {position:absolute; right:0; top:648px; width:122px; height:19px; display:block; overflow:hidden; text-indent:-1111px; }

#wrap {height:auto;min-height:100%;min-width:980px;}
#wrap h1.logo {position:absolute;width:100%;min-width:980px;z-index:100}
#wrap h1.logo a {position:absolute;top:53px;left:50%;margin:0 0 0 -259px;width:518px;height:119px;}

#wrap .btn_area {position:fixed;top:0;left:74px;z-index:2000;}
#wrap .btn_area button {float:left;display:block;height:52px;border:none;overflow:visible;cursor:pointer;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat }
#wrap .btn_area .btn_player {width:92px;margin-right:22px;background-position: -41px -28px;}
#wrap .btn_area .btn_studio {width:101px;background-position:-133px -28px;}
#wrap .btn_area .btn_player_v {float:left;display:block;padding:16px 0 0 16px;margin-left:18px;background:url('//www.afreecatv.com/images/afmain/bul_bar_pv.gif') no-repeat 0 19px}
#wrap .btn_area .btn_player_v a {display:block;color:#466dda;padding:0 0 3px 20px;font-size:14px;font-family:'NG';background:url('//www.afreecatv.com/images/afmain/bul_down.png') no-repeat 0 2px}

#header {position:fixed;top:0;left:0;right:0;z-index:1500;width:100%;min-width:980px;height:53px;border-bottom:1px solid #ececec;background:#fff;}
#header .btn_menu {position:absolute;top:0;right:13px;}
#header .btn_menu a {position:relative;display:block;width:38px;height:53px;}
#header .btn_menu a span {position:absolute;top:18px;left:10px;width:18px;height:18px;text-indent:-9999px;overflow:hidden;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -116px 0;}
#header .unit_area {position:absolute;top:0;right:0}
#header .join_area {float:left;padding:19px 7px 0 0}
#header .join_area a {display:inline-block;font-family:'NGB';line-height:120%;font-weight:bold;font-size:14px;color:#666}
#header .join_area a.join {margin-left:6px;padding-left:10px;border-left:1px solid #dadadb}
#header .log_area {position:relative;float:left;padding-right:54px;}
#header .log_area .nickname {position:relative;display:inline-block;padding:20px 9px 16px 0;line-height:100%;font-family:'NGB';font-weight:bold;font-size:14px;color:#466dda}
#header .log_area .nickname em {position:absolute;top:26px;right:0;width:5px;height:3px;font-size:1px;line-height:0;text-indent:-9999px;overflow:hidden;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -23px -7px;}
#header .user_area {display:none;position:absolute;top:53px;right:40px;z-index:20;width:170px;border:1px solid #bfbfbf;border-radius:4px;background:#fff}
#header .user_area .arrw {position:absolute;top:-9px;right:19px;z-index:10;display:block;width:17px;height:9px;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -250px 0;}
/* 메인오픈전 */
#header .user_area .btn_set a {display:block;padding:11px 10px 6px 10px;border-bottom:1px solid #eee;color:#888;font-size:12px;line-height:1.2em;background:url('//www.afreecatv.com/images/flashplayer/icon_myhome.gif') no-repeat right 7px;}
#header .user_area .btn_set a span {display:inline-block; overflow:hidden; text-indent:-1111px; width:3px; height:5px; vertical-align:middle; margin:-3px 0 0 4px;  background:url('//www.afreecatv.com/images/flashplayer/icon_arr_myhome.gif') no-repeat 0 0;}
/* 메인오픈후 */
#header .user_area .btn_set1 {overflow:hidden;width:170px;height:57px;padding-top:4px;border-bottom:1px solid #ebebeb;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -235px -24px;}
#header .user_area .btn_set1 a {display:block;float:left;height:57px;text-indent:-9999px}
#header .user_area .btn_set1 .mybs {width:85px;margin-right:1px}
#header .user_area .btn_set1 .favorite {width:84px;}
#header .user_area .my_tlist {padding:12px 0 10px 16px}
#header .user_area .my_tlist.borderT {border-top:1px solid #f2f2f2;}
#header .user_area .my_tlist li {height:20px; margin-top: 3px;}
#header .user_area .my_tlist li:first-child {margin-top: 0;}
#header .user_area .my_tlist li a {color:#555;}
#header .user_area .my_tlist li a {padding: 2px 0 2px 28px;color:#555; background: url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat;}
#header .user_area .my_tlist li a.my_item {background-position: -584px -63px;}
#header .user_area .my_tlist li a.my_balloon {background-position: -584px -86px;}
#header .user_area .my_tlist li a.my_Hopeballoon {background-position: -584px -109px;}
#header .user_area .my_tlist li a.my_message {background-position: -584px -132px;}
#header .user_area .my_tlist li a.my_shopping {background-position: -584px -170px;}
#header .user_area .my_tlist li a.my_ffom {background-position: -584px -194px;}
#header .user_area .my_tlist li a .memo {font-weight:bold;color:#386cff}
/*#header .user_area .btn_set2 {overflow:hidden;width:170px;height:30px;padding-top:4px; border-top:1px solid #d1d1d1; }*/
#header .user_area .btn_set2 {overflow:hidden;width:170px;height:30px;padding-top:4px;border-radius:0 0 4px 4px;background-color: #f7f7f7; }
#header .user_area .btn_set2 .myinfo {float:left;display:block;height:30px;line-height:30px;padding:0 3px 0 14px;color:#888;font-size:11px}
#header .user_area .btn_set2 .safe {float:left;display:inline-block;width:16px;height:30px;text-indent:-9999px;background:url('//www.afreecatv.com/images/afmain/img_safe.png') no-repeat 4px 9px;}
#header .user_area .btn_set2 .safe:hover {background:url('//www.afreecatv.com/images/afmain/img_safe_on.png') no-repeat 4px 9px;}
#header .user_area .btn_set2 .logout {float:right;display:block;height:30px;line-height:30px;padding:0 11px;color:#888;font-size:11px}
#header .user_area .btn_set2 .myinfo em {display:inline-block;width:11px;height:12px;vertical-align:middle;margin:0 4px 2px 0;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -302px 0}
#header .menu_area {display:none;position:absolute;top:53px;right:10px;z-index:20;width:/*519px*/545px;height:auto;padding-top:17px;border:1px solid #bfbfbf;border-radius:4px;background:#fff;} /* 2016-11-24 수정 width값 */
#header .menu_area .arrw {position:absolute;top:-9px;right:13px;display:block;width:17px;height:9px;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -250px 0;}
#header .menu_area .inner_area {width:100%;overflow:hidden;background:url('//www.afreecatv.com/images/afmain/bg_menu_line.gif') repeat-y;}
#header .menu_area .list_m {float:left;overflow:hidden;width:130px;height:auto;margin-top:-6px} /* 2016-11-24 수정 */
#header .menu_area .list_m1 {border-left:0 none} /* 2016-11-24 수정 */
#header .menu_area .list_m2 {width:150px;} /* 2016-11-24 추가 */
#header .menu_area .list_m li {float:left;width:100%;margin-top:8px}
#header .menu_area .list_m li a {display:block;padding-left:20px;color:#555;line-height:120%}
#header .menu_area .family_site li .new,
#header .menu_area .list_m li .new {display:inline-block;width:13px;height:13px;vertical-align:middle;margin:0 0 3px 3px;text-indent:-9999px;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -313px 0;}
#header .menu_area .list_m li .beta {display:inline-block;width:29px;height:13px;vertical-align:middle;margin:0 0 3px 3px;text-indent:-9999px;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -393px -85px;} /* 2015-07-27 추가 */
#header .menu_area .family_site {overflow:hidden;height:37px;margin-top:17px;padding:0 0 0 15px;border-top:1px solid #d1d1d1}
#header .menu_area .family_site li {float:left;padding-top:13px;margin-right:16px;font-size:11px;letter-spacing:-1px}
#header .menu_area .family_site li a {color:#888}
#header .menu_area .family_site li em {display:inline-block;width:2px;height:3px;vertical-align:middle;margin:0 0 2px 4px;font-size:0;text-indent:-9999px;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -326px 0;}
#header .menu_area .family_site li .new {margin:0 0 1px 3px;}
#header .menu_area .home_admin {position:absolute;bottom:0;right:13px;}
#header .menu_area .home_admin button {display:block;width:79px;height:36px;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -328px 11px;}

#header .menu_bar {position:relative;top:65px;width:100%;height:42px;border-top:1px solid #efefef;background:#fafafa;}
#header .menu_bar h2 {display:block;overflow:hidden;position:absolute;text-indent:-9999px;top:-9999px;font-size:0;width:1px;height:1px;left:-9999px;line-height: 0;}
#header .menu_bar .new {display:inline-block;width:13px;height:13px;vertical-align:middle;margin:0 0 1px 3px;text-indent:-9999px;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -313px 0;}
#header .menu_bar .ttip {display:none; position:absolute; left:0; top:35px; padding:4px 10px 2px; font-size:12px; color:#707070; letter-spacing:-1px; line-height:15px; font-weight:normal; font-family:dotum; border:1px solid #d6d6d6; border-radius:3px; white-space:nowrap; background:#fff;}
#header .menu_bar .ttip.ttip_contbjs {left:-25px;}
#header .menu_bar .ttip.ttip_contjj {left:0px;}
#header .menu_bar .ttip span {position:absolute; left:50%; top:0; display:block;width:11px;height:6px; margin:-6px 0 0 -5px; text-indent:-9999px; background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -236px -166px;}
#header .menu_bar .list_a {position:absolute;top:0;left:30px}
#header .menu_bar .list_a li {float:left;margin-right:18px;position:relative;} /* 2016-11-04 position 추가 */
#header .menu_bar .list_a li a {color:#181818; position:relative;}
#header .menu_bar .list_a li .up {display:inline-block;width:23px;height:42px;vertical-align:top;text-indent:-9999px;background:url('//www.afreecatv.com/images/afmain/menu_up.png') no-repeat}
#header .menu_bar .list_b {position:absolute;top:0;right:61px}
#header .menu_bar .list_b li {float:left;margin-left:14px;}
#header .menu_bar .list_b li a {color:#666;}
#header .menu_bar li a {display:block;height:42px;line-height:42px;font-size:14px;font-family:'NGB';letter-spacing:-0.1em;text-decoration:none}
#header .menu_bar li a:hover {color:#5285ff}
#header .menu_bar li a:hover .ttip {display:block;}
#header .menu_bar li a.spot {color:#ff647a}
#header .menu_bar li a.spot:hover {color:#ff647a}
#header .menu_bar li.award a {/*color:#9600ff;*/padding-right:35px;; background:url('//www.afreecatv.com/images/afmain/ic_award.png') no-repeat right 5px} /* 2016-11-04 color값 주석처리 */
#header .menu_bar li.award .allim {position:absolute; right: 0; top: 4px; width:0; *top:12px;} /* 2016-11-04 추가 */

/* 151030 */
#header .user_area .my_list {border-top:1px solid #d1d1d1;padding:5px 0 3px 0;}
#header .user_area .my_list a {margin-left: 15px;}

#category {position:fixed;z-index:2000;width:100%}
#category .btn_category {position:absolute;top:0;left:0;}
#category .btn_category a {position:relative;display:block;width:63px;height:53px;}
#category .btn_category a span {position:absolute;top:18px;left:23px;width:28px;height:17px;text-indent:-9999px;overflow:hidden;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat 0 0;}
#category .category_area {display:none;position:fixed;top:53px;left:10px;bottom:133px;width:205px;min-height:300px;max-height:832px;}
#category .category_area .arrw {position:absolute;top:-9px;left:13px;display:block;width:17px;height:9px;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -250px 0;}
#category .category_area .inner {display:block;position:absolute;top:0;bottom:0;right:0;width:203px;border:1px solid #bfbfbf;border-radius:4px;background:#fff}
#category .category_area .inner h3 {font-family:'NG';padding:10px 0 9px 16px;color:#999;font-size:12px;font-weight:normal;}
#category .category_area .inner .scrollarea {overflow:auto;+overflow:auto !important;overflow-x:hidden !important;position:absolute;top:121px;bottom:0;left:0;right:0;}
#category .category_area .inner .logscroll {top:86px}
#category .category_area .inner .scrollarea div{+background:none;+margin:0;+padding:0}
#category .log_scroll {max-height:833px;}
#category .log_scroll .inner .scrollarea {top:86px}
#category .check_area {display:block;position:absolute;top:53px;left:10px;width:203px;border:1px solid #bfbfbf;border-radius:4px;background:#fff}
#category .check_area p.txt {font-family:'NG';padding:25px 0 25px;color:#555;font-size:14px;text-align:center;}
#category .check_area p.txt strong {font-size:16px}
#category .check_area .arrw {position:absolute;top:-9px;left:13px;display:block;width:17px;height:9px;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -250px 0;}

#container {clear:both;margin:0 auto;padding:54px 0 83px}
#container .content_area {width:960px;margin:0 auto;padding:25px 0 60px 0}
#container .content_area:after {display:block;clear:both;content:''}
#container .listfive {width:1204px !important;}
#container .listsix {width:1448px !important}
#container .listmax {width:1448px !important;margin:0;padding:25px 40px 60px 40px}
/* ie7 hack */
*:first-child+html #container .content_area .listarea ul{width:976px}
*:first-child+html #container .listfive .listarea ul{width:1220px}
*:first-child+html #container .listsix .listarea ul{width:1464px}

#container .content_area .title {font-family:'NG';font-size:32px;height:49px;line-height:100%;color:#010101;letter-spacing:-1px}
#container .content_area .title a {display:inline-block;color:#010101;text-decoration:none;}
#container .content_area .title a em {display:inline-block;width:15px;height:8px;vertical-align:middle;margin:0 0 7px 10px;text-indent:-9999px;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat}
#container .content_area .title a.on em {background-position:-580px 0;}
#container .content_area .title a.off em {background-position:-580px -8px;}
#container .content_area .title_s {height:26px;font-family:'NG';font-size:16px;line-height:100%;color:#333;letter-spacing:-1px}

#footer {position:relative;min-width:980px;height:82px;margin-top:-83px;border-top:1px solid #e5e5e5;text-align:center;background:#fff}
#footer .footer_inner {position:relative;height:82px;margin:0 auto;}
#footer .footer_inner .f_list {overflow:hidden;padding-top:16px}
#footer .footer_inner .f_list li {display:inline;margin-right:6px;font-family:'NG';font-size:14px;letter-spacing:-1px}
#footer .footer_inner .f_list li a {color:#666}
#footer .footer_inner .f_list li.player {padding-left:10px;margin-left:2px;letter-spacing:-2px;background:url('//www.afreecatv.com/images/afmain/bul_bar_f.gif') no-repeat 0 4px}
#footer .footer_inner .f_list li.player a {display:inline-block;color:#466dda;padding-right:22px;font-family:'NGB';background:url('//www.afreecatv.com/images/afmain/bul_down.png') no-repeat right 3px}
#footer .footer_inner .f_list li.player a em {display:none;}
#footer .footer_inner .f_list li strong {font-family:'NGB';}
/*#footer .copyright {position:absolute;top:47px;left:390px;color:#5f5f5f;font-weight:bold;font-family:tahoma} 글로벌링크 생성시 */
#footer .copyright {padding-top:8px;text-align:center;color:#5f5f5f;font-weight:bold;font-family:tahoma}
#footer .global_lang {display:none;position:absolute;top:47px;left:520px;}
#footer .global_lang a {color:#494949;font-family:tahoma}
#footer .global_lang a em {display:inline-block;width:5px;height:4px;vertical-align:middle;margin:0 0 2px 7px;font-size:0;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat}
#footer .global_lang a.off em {background-position:-407px 0}
#footer .global_lang a.on em {background-position:-407px -5px}
#footer .global_lang .glayer {position:absolute;top:-80px;left:-12px;width:88px;border:1px solid #bfbfbf;background:#fff}
#footer .global_lang .glayer ul {padding:5px 0 3px}
#footer .global_lang .glayer li a {display:block;padding:2px 0 2px 10px;color:#333;text-decoration:none}
#footer .global_lang .glayer li a:hover {color:#1559ff}

/* 리스트형 layout */
#listWrap {overflow-y:scroll;+overflow-y:hidden}
#listWrap #wrap {min-width:1040px;padding-left:210px;}
#listWrap #header {min-width:/*1250px*/960px;height:66px;min-width:1300px\9;}
@media screen and (min-width:0\0){
	#listWrap #header {min-width:960px}
}/*미디어 쿼리로 인한 ie핵*/

#listWrap #header h1 {position:absolute;top:0;left:0;z-index:2000;width:210px;height:65px;vertical-align:top;margin:0;}
#listWrap #header h1 a {display:block}
#listWrap #header h1 img {width:210px;height:65px;vertical-align:top;}
#listWrap #header h1 .logo {float:left;display:inline-block;width:142px;height:65px;text-indent:-9999px;background:url('//www.afreecatv.com/images/afmain/logo_vod.gif') no-repeat 0 0}
#listWrap #header h1 .vod {float:left;display:inline-block;width:56px;height:65px;text-indent:-9999px;background:url('//www.afreecatv.com/images/afmain/logo_vod.gif') no-repeat -142px 0}
#listWrap #header {border-bottom:1px solid #bcbcbc}
#listWrap #header .btn_area {position:absolute;top:7px;left:483px;background:#fff;padding-right:10px}
#listWrap #header .unit_area {position:absolute;top:7px;right:0}
#listWrap #header .join_area {padding:19px 0 0 0}
#listWrap #header .log_area {padding-right:61px}
#listWrap #header .btn_menu {position:absolute;top:7px;right:20px;;z-index:10}
#listWrap #header .user_area {top:59px;right:46px}
#listWrap #header .menu_area {top:66px;right:15px}
#listWrap #container {padding:67px 0 83px;}
#listWrap .menu_bar {display:none}
#listWrap .category_area {display:block;position:fixed;_absolute;z-index:100;top:0;left:0;bottom:0;width:209px;margin-top:67px;border-right:1px solid #bfbfbf;background:#fff}
#listWrap .category_area .inner {overflow:hidden;display:block;position:absolute;top:0;bottom:0;right:0;}
#listWrap .category_area .inner h3 {font-family:'NG';padding:10px 0 9px 16px;color:#999;font-size:12px;font-weight:normal;}
#listWrap .category_area .inner .scrollarea {overflow:auto;+overflow:auto !important;overflow-x:hidden !important;position:absolute;top:120px;bottom:0;left:0;right:0;min-height:100px}
#listWrap .category_area .inner .scrollarea div {+background:none;+margin:0;+padding:0}
#listWrap .log_scroll .inner .scrollarea {top:86px}
#listWrap .vod_scroll .inner .scrollarea {top:151px} /* 2016-12-09 추가 */
#listWrap .menu_list {overflow:hidden;width:209px;padding-bottom:10px;}
#listWrap .menu_list li a {padding-left:76px;}
#listWrap .menu_list li a em {left:42px;}
#listWrap .menu_list li.line_up {padding-top:16px; margin:16px 0 0; background:url('//www.afreecatv.com/images/afmain/bg_line_ct.gif') no-repeat top} /* 2016-10-11 추가 */
#listWrap .fix_m {padding:16px 0 16px;border-bottom:none;background:url('//www.afreecatv.com/images/afmain/bg_line_ct.gif') no-repeat bottom}
#listWrap #footer {padding-left:210px}

/* 리스트형 gnb 노출 */
#listWrap .gnbBar #header {height:108px;min-width:/*1250px*/960px;min-width:1300px\9}
@media screen and (min-width:0\0){
	#listWrap .gnbBar #header {min-width:960px}
}/*미디어 쿼리로 인한 ie핵*/

#listWrap .gnbBar .menu_bar {display:block}
#listWrap .gnbBar .category_area {margin-top:109px;}
#listWrap .gnbBar #container {padding:109px 0 83px}
#listWrap .gnbBar #header .unit_area {z-index:20}
#listWrap .gnbBar #header .btn_menu {position:absolute;top:66px;right:20px}
#listWrap .gnbBar #header .btn_menu a {height:42px}
#listWrap .gnbBar #header .btn_menu a span {top:12px}
#listWrap .gnbBar #header .log_area {padding-right:30px;}
#listWrap .gnbBar  #header .user_area {top:58px;right:16px}
#listWrap .gnbBar #header .menu_area {top:108px;right:15px}


/* 기본형 검색박스 */
.search_area {position:absolute;z-index:20;width:100%;min-width:980px;}
.search_area .search_bar {overflow:hidden;position:absolute;top:173px;left:50%;width:514px;min-height:48px;_height:48px;margin-left:-257px;border:2px solid #1559ff;border-radius:7px;background:#fff}
.search_area .search_bar input {position:absolute;top:0;z-index:20;width:435px;padding:12px 0 12px 15px;color:#181818;border:0 none;font-family:'NGB';font-size:20px;background:none;;ime-mode: active }
.search_area .search_bar .btn_search {display:block;position:absolute;top:0;right:0;z-index:10;width:60px;height:48px;border:0 none;cursor:pointer;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -333px -85px}
.search_area .search_box {padding-top:48px;background:#fff}
.search_area .search_box .inner_area {border-top:1px solid #e5e5e5}
.search_area .search_box h3 {padding:12px 0 0 14px;font-size:12px;color:#444;}
.search_area .search_box .list {overflow:hidden;width:100%;padding:5px 0 5px;}
.search_area .search_box .list li {position:relative;overflow:hidden;height:28px;line-height:28px;vertical-align:top;zoom:1;font-size:14px}
.search_area .search_box .list li a {position:relative;display:block;overflow:hidden;height:16px;text-decoration:none;color:#444;line-height:150%;padding:5px 56px 7px 14px;zoom:1;word-wrap:break-word;word-break:break-all;}
.search_area .search_box .list li a .num {position:relative;top:-1px;display:inline-block;width:15px;vertical-align:middle;text-align:center;color:#444;font-size:12px;font-weight:bold;margin:0 8px 0 0;}
.search_area .search_box .list li a .rank {position:absolute;top:5px;right:12px;width:34px;text-align:center;font-size:11px;color:#444}
.search_area .search_box .list li a .rank em {display:inline-block;width:7px;height:8px;margin:0 7px 2px 0;vertical-align:middle;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat}
.search_area .search_box .list li a .up,
.search_area .search_box .list li a .down,
.search_area .search_box .list li a .new {text-align:left;}
.search_area .search_box .list li a .up em {background-position:-516px 0}
.search_area .search_box .list li a .down em {background-position:-516px -8px}
.search_area .search_box .list li a .new,
.search_area .search_box .list li a .even{color:#ff3636}
.search_area .search_box .list li a:hover,
.search_area .search_box .list li a:focus{background:#f1f3f6}
.search_area .search_box .list li .btn_delete {position:absolute;top:0;right:5px;z-index:10;width:28px;height:28px;background:url('//www.afreecatv.com/images/afmain/btn_delete_x.png') no-repeat 10px 10px}
.search_area .search_box .list li .btn_delete span {position:relative;z-index:-1;overflow:hidden;display:block;width:100%;height:100%;font-size:0;line-height:0}
.search_area .search_box .ct_area {position:relative;height:27px;border-top:1px solid #e5e5e5}
.search_area .search_box .ct_area .btn_all_delete {position:absolute;top:0;right:12px;height:27px;color:#666;background:none;font-size:12px}

/* 리스트형 검색박스 */
.search_area_t {position:absolute;width:246px;top:17px;left:210px;z-index:10}
.search_area_t .search_bar {overflow:hidden;position:relative;width:244px;min-height:29px;_height:29px;border:1px solid #1559ff;border-radius:3px;background:#fff}
.search_area_t .search_bar input {position:absolute;top:0;width:203px;top:0;padding:8px 0 7px 9px;color:#181818;border:0 none;font-size:12px;background:none;ime-mode: active }
.search_area_t .search_bar .btn_search {position:absolute;top:0;right:3px;z-index:10;width:29px;height:29px;border:0 none;cursor:pointer;vertical-align:top;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -304px -85px}
.search_area_t .search_bar .btn_search span {position:relative;z-index:-1;overflow:hidden;display:block;width:100%;height:100%;font-size:0;line-height:0}
.search_area_t .search_box {padding-top:29px;background:#fff}
.search_area_t .search_box .inner_area {border-top:1px solid #e5e5e5}
.search_area_t .search_box h3 {padding:8px 0 0 8px;font-size:12px;color:#444;}
.search_area_t .search_box .list {overflow:hidden;width:100%;padding:3px 0 3px;}
.search_area_t .search_box .list li {float:left;width:100%;position:relative;overflow:hidden;height:24px;line-height:24px;vertical-align:top;zoom:1;font-size:12px}
.search_area_t .search_box .list li a {position:relative;display:block;overflow:hidden;height:16px;text-decoration:none;color:#444;line-height:150%;padding:4px 48px 4px 9px;zoom:1;word-wrap:break-word;word-break:break-all;}
.search_area_t .search_box .list li a .num {position:relative;top:-1px;display:inline-block;width:15px;vertical-align:middle;text-align:center;color:#444;font-size:12px;font-weight:bold;margin:0 8px 0 0;}
.search_area_t .search_box .list li a .rank {position:absolute;top:4px;right:6px;width:34px;text-align:center;font-size:11px;color:#444}
.search_area_t .search_box .list li a .rank em {display:inline-block;width:7px;height:8px;margin:0 7px 2px 0;vertical-align:middle;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat}
.search_area_t .search_box .list li a .up,
.search_area_t .search_box .list li a .down,
.search_area_t .search_box .list li a .new {text-align:left;}
.search_area_t .search_box .list li a .up em {background-position:-516px 0}
.search_area_t .search_box .list li a .down em {background-position:-516px -8px}
.search_area_t .search_box .list li a .new,
.search_area_t .search_box .list li a .even{color:#ff3636}
.search_area_t .search_box .list li a:hover,
.search_area_t .search_box .list li a:focus{background:#f1f3f6}
.search_area_t .search_box .list li .btn_delete {position:absolute;top:0;right:3px;z-index:10;width:24px;height:24px;background:url('//www.afreecatv.com/images/afmain/btn_delete_x.png') no-repeat 8px 8px}
.search_area_t .search_box .list li .btn_delete span {position:relative;z-index:-1;overflow:hidden;display:block;width:100%;height:100%;font-size:0;line-height:0}
.search_area_t .search_box .ct_area {position:relative;height:27px;border-top:1px solid #e5e5e5}
.search_area_t .search_box .ct_area .btn_all_delete {overflow:visible;position:absolute;top:0;right:6px;width:50px;height:27px;color:#666;text-indent:-9999px;background:url('//www.afreecatv.com/images/afmain/btn_delete_t.png') no-repeat 50% 0}

/* 카테고리 메뉴 */
.fix_m {padding:11px 0 6px;border-bottom:1px solid #e8e8e8}
.menu_list {overflow:hidden;width:203px;padding-bottom:10px;}
.menu_list li {float:left;position:relative;width:100%;font-family:'NGB';font-size:15px;color:#333;}
.menu_list li a {display:block;position:relative;height:35px;padding-left:56px;line-height:35px;color:#333;text-decoration:none;}
.menu_list li a em {position:absolute;top:49%;left:24px;display:inline-block;width:18px;text-indent:-9999px;background:url('//www.afreecatv.com/images/afmain/bg_category_icon.png') no-repeat}
.menu_list li a .arrow {display:none;width:17px;height:12px;vertical-align:middle;margin:0 0 2px 10px;text-indent:-9999px;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -267px 0}
.menu_list li.on a, .menu_list li a:hover, .menu_list li a:focus {color:#386cff;}
.menu_list li.on a .arrow {display:inline-block;}

.menu_list li .ic_fav  {height:17px;margin-top:-9px;background-position:0 0}
.menu_list li .ic_lately  {height:15px;margin-top:-8px;background-position:0 -18px}
.menu_list li .ic_all  {height:18px;margin-top:-9px;background-position:0 -34px}
.menu_list li .ic_best  {height:18px;margin-top:-9px;background-position:0 -53px}
.menu_list li .ic_rookie  {height:19px;margin-top:-9px;background-position:0 -72px}
.menu_list li .ic_bora  {height:18px;margin-top:-9px;background-position:0 -91px}
.menu_list li .ic_eat  {height:18px;margin-top:-9px;background-position:0 -110px}
.menu_list li .ic_sports  {height:18px;margin-top:-9px;background-position:0 -129px}
.menu_list li .ic_tv  {height:19px;margin-top:-9px;background-position:0 -148px}
.menu_list li .ic_game {height:18px;margin-top:-9px;background-position:0 -168px}
.menu_list li .ic_ani  {height:18px;margin-top:-9px;background-position:0 -187px}
.menu_list li .ic_music  {height:18px;margin-top:-9px;background-position:0 -205px}
.menu_list li .ic_current  {height:18px;margin-top:-9px;background-position:0 -223px}
.menu_list li .ic_stock  {height:17px;margin-top:-9px;background-position:0 -242px}
.menu_list li .ic_mg  {height:18px;margin-top:-9px;background-position:0 -260px}
.menu_list li .ic_shopping  {height:19px;margin-top:-10px;background-position:0 -279px}
.menu_list li .ic_cable  {height:18px;margin-top:-9px;background-position:0 -299px}
.menu_list li .ic_enter  {height:17px;margin-top:-8px;background-position:0 -318px}
.menu_list li .ic_life  {height:18px;margin-top:-9px;background-position:0 -336px}
.menu_list li .ic_study  {height:17px;margin-top:-8px;background-position:0 -355px}
.menu_list li .ic_adult  {height:18px;margin-top:-8px;background-position:0 -373px}
.menu_list li .ic_business {height:21px;margin-top:-9px;background-position:0 -391px}
.menu_list li .ic_partner {width:20px;height:17px;margin-top:-8px;background-position:0 -412px}
.menu_list li .ic_beauty {width:20px;height:20px;margin-top:-9px;background-position:0 -430px}
.menu_list li .ic_kpop  {width:20px;height:20px;margin-top:-7px;background-position:0 -451px}
.menu_list li .ic_mobile  {width:20px;height:20px;margin-top:-7px;background-position:3px -471px}
.menu_list li .ic_hot  {width:17px;height:17px;margin-top:-9px;background-position:0 -492px}
.menu_list li .ic_t30  {width:17px;height:14px;margin-top:-7px;background-position:0 -512px}
.menu_list li .ic_humor {width:18px;height:18px;margin-top:-8px;background-position:0 -529px}
.menu_list li .ic_etc {width:17px;height:5px;margin-top:-2px;background-position:1px -551px}
.menu_list li .ic_2016bjawards {width:19px;height:14px;margin-top:-6px;background-position:0px -565px} /* 2016-12-09 추가 */
.menu_list li .ic_special {width:16px;height:18px;margin-top:-8px;background-position:0px -582px} /* 2016-12-09 추가 */
.menu_list li .ic_esports {width:15px;height:18px;margin-top:-8px;background-position:0px -603px} /* 2016-12-09 추가 */

.menu_list li.on a .ic_fav, .menu_list li a:hover .ic_fav, .menu_list li a:focus .ic_fav  {height:17px;margin-top:-9px;background-position:-18px 0}
.menu_list li.on a .ic_lately, .menu_list li a:hover .ic_lately, .menu_list li a:focus .ic_lately  {height:15px;margin-top:-8px;background-position:-18px -18px}
.menu_list li.on a .ic_all, .menu_list li a:hover .ic_all, .menu_list li a:focus .ic_all  {height:18px;margin-top:-9px;background-position:-18px -34px}
.menu_list li.on a .ic_best, .menu_list li a:hover .ic_best, .menu_list li a:focus .ic_best  {height:18px;margin-top:-9px;background-position:-18px -53px}
.menu_list li.on a .ic_rookie, .menu_list li a:hover .ic_rookie, .menu_list li a:focus .ic_rookie  {height:19px;margin-top:-9px;background-position:-18px -72px}
.menu_list li.on a .ic_bora, .menu_list li a:hover .ic_bora, .menu_list li a:focus .ic_bora  {height:18px;margin-top:-9px;background-position:-18px -91px}
.menu_list li.on a .ic_eat, .menu_list li a:hover .ic_eat, .menu_list li a:focus .ic_eat  {height:18px;margin-top:-9px;background-position:-18px -110px}
.menu_list li.on a .ic_sports, .menu_list li a:hover .ic_sports, .menu_list li a:focus .ic_sports  {height:18px;margin-top:-9px;background-position:-18px -129px}
.menu_list li.on a .ic_tv, .menu_list li a:hover .ic_tv, .menu_list li a:focus .ic_tv  {height:19px;margin-top:-9px;background-position:-18px -148px}
.menu_list li.on a .ic_game, .menu_list li a:hover .ic_game, .menu_list li a:focus .ic_game  {height:18px;margin-top:-9px;background-position:-18px -168px}
.menu_list li.on a .ic_ani, .menu_list li a:hover .ic_ani, .menu_list li a:focus .ic_ani  {height:18px;margin-top:-9px;background-position:-18px -187px}
.menu_list li.on a .ic_music, .menu_list li a:hover .ic_music, .menu_list li a:focus .ic_music  {height:18px;margin-top:-9px;background-position:-18px -205px}
.menu_list li.on a .ic_current, .menu_list li a:hover .ic_current, .menu_list li a:focus .ic_current  {height:18px;margin-top:-9px;background-position:-18px -223px}
.menu_list li.on a .ic_stock, .menu_list li a:hover .ic_stock, .menu_list li a:focus .ic_stock  {height:17px;margin-top:-9px;background-position:-18px -242px}
.menu_list li.on a .ic_mg, .menu_list li a:hover .ic_mg, .menu_list li a:focus .ic_mg  {height:18px;margin-top:-9px;background-position:-18px -260px}
.menu_list li.on a .ic_shopping, .menu_list li a:hover .ic_shopping, .menu_list li a:focus .ic_shopping  {height:19px;margin-top:-10px;background-position:-18px -279px}
.menu_list li.on a .ic_cable, .menu_list li a:hover .ic_cable, .menu_list li a:focus .ic_cable  {height:18px;margin-top:-9px;background-position:-18px -299px}
.menu_list li.on a .ic_enter, .menu_list li a:hover .ic_enter, .menu_list li a:focus .ic_enter  {height:18px;margin-top:-8px;background-position:-18px -318px}
.menu_list li.on a .ic_life, .menu_list li a:hover .ic_life, .menu_list li a:focus .ic_life  {height:18px;margin-top:-9px;background-position:-18px -336px}
.menu_list li.on a .ic_study, .menu_list li a:hover .ic_study, .menu_list li a:focus .ic_study  {height:17px;margin-top:-8px;background-position:-18px -355px}
.menu_list li.on a .ic_adult, .menu_list li a:hover .ic_adult, .menu_list li a:focus .ic_adult  {height:18px;margin-top:-8px;background-position:-18px -373px}
.menu_list li.on a .ic_business, .menu_list li a:hover .ic_business, .menu_list li a:focus .ic_business  {height:21px;margin-top:-9px;background-position:-20px -391px}
.menu_list li.on a .ic_partner, .menu_list li a:hover .ic_partner, .menu_list li a:focus .ic_partner  {height:17px;margin-top:-8px;background-position:-20px -412px}
.menu_list li.on a .ic_beauty, .menu_list li a:hover .ic_beauty, .menu_list li a:focus .ic_beauty  {width:20px;height:20px;margin-top:-9px;background-position:-20px -430px}
.menu_list li.on a .ic_kpop, .menu_list li a:hover .ic_kpop, .menu_list li a:focus .ic_kpop  {width:20px;height:20px;margin-top:-7px;background-position:-20px -451px}
.menu_list li.on a .ic_mobile, .menu_list li a:hover .ic_mobile, .menu_list li a:focus .ic_mobile  {width:20px;height:20px;margin-top:-7px;background-position:-17px -471px}
.menu_list li.on a .ic_hot, .menu_list li a:hover .ic_hot, .menu_list li a:focus .ic_hot  {width:17px;height:17px;margin-top:-9px;background-position:-20px -492px}
.menu_list li.on a .ic_t30, .menu_list li a:hover .ic_t30, .menu_list li a:focus .ic_t30  {width:17px;height:14px;margin-top:-7px;background-position:-20px -512px}
.menu_list li.on a .ic_humor, .menu_list li a:hover .ic_humor, .menu_list li a:focus .ic_humor  {width:18px;height:18px;margin-top:-8px;background-position:-20px -529px}
.menu_list li.on a .ic_etc, .menu_list li a:hover .ic_etc, .menu_list li a:focus .ic_etc  {width:17px;height:5px;margin-top:-2px;background-position:-19px -551px}
.menu_list li.on a .ic_2016bjawards, .menu_list li a:hover .ic_bjawards, .menu_list li a:focus .ic_bjawards  {width:19px;height:14px;margin-top:-6px;background-position:-21px -565px} /* 2016-12-09 추가 */
.menu_list li.on a .ic_special, .menu_list li a:hover .ic_special, .menu_list li a:focus .ic_special  {width:16px;height:18px;margin-top:-8px;background-position:-20px -582px} /* 2016-12-09 추가 */
.menu_list li.on a .ic_esports, .menu_list li a:hover .ic_esports, .menu_list li a:focus .ic_esports  {width:15px;height:18px;margin-top:-8px;background-position:-20px -603px} /* 2016-12-09 추가 */





/* 인기검색어 */
.keyword_area {position:relative;z-index:10;overflow:hidden;width:518px;height:16px;margin:183px auto 0;}
.keyword_area .txt {position:absolute;top:0;left:82px;width:325px;height:15px;overflow:hidden}
.keyword_area .page {position:absolute;top:0;right:83px;}
.keyword_area .txt .word {display:inline-block;padding-right:14px}
.keyword_area .txt .word a {color:#666}
.keyword_area .page button {display:inline-block;float:left;width:16px;height:16px;font-size:0;margin-right:-1px;border:none;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat}
.keyword_area .page button.prev {background-position:-173px 0}
.keyword_area .page button.next {background-position:-188px 0}

/* 커버형 탭메뉴 */
.menu_cast {width:100%;overflow:hidden;text-align:center;padding-top:68px}
.menu_cast a {color:#555;text-decoration:none;display:inline-block;font-size:17px;font-family:'NG';letter-spacing:-1px;}
.menu_cast .first  {background:none;padding:0 12px 0 0}
.menu_cast a h2 {font-size:17px;padding:0 12px 0 16px;font-weight:normal;background:url('//www.afreecatv.com/images/afmain/bul_bar_g.gif') no-repeat 0 6px}
.menu_cast a .nick {font-family:'NGB';}
.menu_cast a.on  {font-family:'NGB';color:#1559ff}
.menu_cast a.on .nick {color:#ff7815;}
.menu_cast .new {display:inline-block;width:15px;height:16px;vertical-align:middle;margin:0 0 3px 4px;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -190px -85px}
/*
.menu_cast a em {display:inline-block;width:19px;height:19px;font-size:0;margin:0 5px 2px 0;vertical-align:middle;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -154px 0}
.menu_cast a.on em {background-position:-135px 0}
*/


/* slide container */
.castSlide {position:relative;margin:24px auto 0;width:980px;height:272px;margin-bottom:50px;border:none;}
.castSlide .slides {position:relative;overflow:visible;cursor:pointer}
.castSlide .slides .slideItem {position:absolute;cursor:pointer;overflow:hidden;}
.castSlide .slides .slideItem .wi {position:relative;display:block;text-decoration:none}
/*.castSlide .slides .slideItem a {position:relative;display:block;text-decoration:none}*/
.castSlide .slides .slideItem img {display:block;border:1px solid #fff;border-radius:12px;}
.castSlide .slides .slideItem .box_gr {position:absolute;z-index:10;bottom:0;left:0;display:block;width:100%;height:129px;border-radius:0 0 12px 12px;background:url('//www.afreecatv.com/images/afmain/bg_gradation.png') repeat-x}
.castSlide .slides .slideItem .subject {position:absolute;z-index:20;bottom:28px;left:0;padding:0 13px;overflow:hidden;height:22px;font-family:'NGB';font-size:14px;color:#fff;letter-spacing:-1px;word-wrap:break-word;word-break:break-all;}
.castSlide .slides .slideItem .nickname {position:absolute;z-index:20;bottom:10px;left:13px;color:#4279ff}
.castSlide .slides .slideItem .view {position:absolute;z-index:20;bottom:9px;right:10px;font-family:arial;font-size:11px;font-weight:bold;color:#a5a5a5;}
.castSlide .slides .slideItem .view em {display:inline-block;font-size:0;margin:0 6px 1px 0;vertical-align:middle;text-indent:-9999px;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat}
.castSlide .slides .slideItem .view .live {width:11px;height:9px;background-position:-284px 0}
.castSlide .slides .slideItem .view .vod {width:7px;height:8px;margin:0 6px 2px 0;background-position:-295px 0}
.castSlide .slides .active .subject {font-size:14px;}

/* slide shadow */
.castSlide .shadow {width:100%;height:82px;}
.castSlide .shadow .shadowLeft {width:100px;height:82px;background:url("//www.afreecatv.com/images/afmain/shadowLeft.png") no-repeat;}
.castSlide .shadow .shadowMiddle {height:82px;background: url("//www.afreecatv.com/images/afmain/shadowTile.png") repeat-x;}
.castSlide .shadow .shadowRight {width:100px;height:82px;background: url("//www.afreecatv.com/images/afmain/shadowRight.png") no-repeat;}

/* slide button */
.castSlide .prevButton {display:block;position:absolute;z-index:100;left:0;top:70px;width:30px;height:130px;background:url("//www.afreecatv.com/images/afmain/btn_prev.png") no-repeat 50% 50%}
.castSlide .prevButton span {position:relative;z-index:-1;overflow:hidden;display:block;width:100%;height:100%;font-size:0;line-height:0}
.castSlide .nextButton {display:block;position:absolute;z-index:100;right:0;top:70px;width:30px;height:130px;background:url("//www.afreecatv.com/images/afmain/btn_next.png") no-repeat 50% 50%}
.castSlide .nextButton span {position:relative;z-index:-1;overflow:hidden;display:block;width:100%;height:100%;font-size:0;line-height:0}
.castSlide .stopButton {overflow:hidden;position:absolute;z-index:100;left:739px;top:259px;width:13px;height:13px;text-indent:-9999px;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -219px 0;}
.castSlide .startButton {overflow:hidden;position:absolute;z-index:100;left:739px;top:259px;width:13px;height:13px;text-indent:-9999px;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -205px 0;}

.eventSlide {position:relative;overflow:hidden;width:980px;margin:25px auto 0;height:270px;margin-bottom:50px;border:none;}
.eventSlide .event_zone {height:270px}
.eventSlide .event_zone li {height:270px}
.eventSlide .event_zone li img {width:201px;height:270px;border-radius:10px;}
.eventSlide .bx-wrapper .bx-controls-direction a {height:270px;margin-top:-136px;position: absolute;text-indent: -9999px;top:50%;width:30px;z-index:100;}
.eventSlide .bx-wrapper .bx-controls-direction .bx-prev {left:0;background:url("//www.afreecatv.com/images/afmain/btn_prev.png") no-repeat 50% 50%}
.eventSlide .bx-wrapper .bx-controls-direction .bx-next {right:0;background:url("//www.afreecatv.com/images/afmain/btn_next.png") no-repeat 50% 50%}
.eventSlide button {position:absolute;z-index:100;top:257px;right:40px;width:13px;height:13px;text-indent:-9999px;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat}
.eventSlide .stopButton {background-position:-219px 0;}
.eventSlide .startButton {background-position: -205px 0;}

.event_btn {position:relative;width:960px;margin:0 auto}
.event_btn a {overflow:hidden;position:absolute;top:119px;right:34px;z-index:100;display:block;width:173px;height:/*52px*/;}

/**** 리스트형 contents ****/
.sv_area {position:relative;width:100%;overflow:hidden;margin:0 0 20px ;}
.sv_area .tab_list {float:left;overflow:hidden;border:1px solid #b3b6be;border-radius:2px;}
.sv_area .tab_list li {float:left;width:93px;height:25px;margin-right:-1px;border-right:1px solid #b3b6be;font-family:'NGB';font-size:13px}
.sv_area .tab_list li a {display:block;line-height:25px;text-align:center;color:#595959;text-decoration:none;font-weight:bold;letter-spacing:-1px}
.sv_area .tab_list li.on a {color:#fff;background:#686e7e}
.sv_area .btn_reload {overflow:visible;display:block;position:absolute;top:0;right:0;width:34px;height:27px;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -469px -28px;}
/* 바로가기 추가 2016-10-10 */
.quickgo {position:absolute; right:50px; top:2px; }
.quickgo a {display:inline-block;*display:inline;zoom:1;position:relative;padding-left:24px;margin:0 0 0 10px;font-size:15px;font-family:ngb;color:#686e7e;text-decoration:none;}
.quickgo a em {position:absolute;top:49%;left:0px;display:inline-block;width:18px;text-indent:-9999px;background:url('//www.afreecatv.com/images/afmain/bg_category_icon.png') no-repeat;}
	.quickgo .ic_fav  {height:17px;margin-top:-9px;background-position:0 0}
	.quickgo .ic_lately  {height:15px;margin-top:-8px;background-position:0 -18px}
	.quickgo .ic_all  {height:18px;margin-top:-9px;background-position:0 -34px}
	.quickgo .ic_best  {height:18px;margin-top:-9px;background-position:0 -53px}
	.quickgo .ic_rookie  {height:19px;margin-top:-9px;background-position:0 -72px}
	.quickgo .ic_bora  {height:18px;margin-top:-9px;background-position:0 -91px}
	.quickgo .ic_eat  {height:18px;margin-top:-9px;background-position:0 -110px}
	.quickgo .ic_sports  {height:18px;margin-top:-9px;background-position:0 -129px}
	.quickgo .ic_tv  {height:19px;margin-top:-9px;background-position:0 -148px}
	.quickgo .ic_game {height:18px;margin-top:-9px;background-position:0 -168px}
	.quickgo .ic_ani  {height:18px;margin-top:-9px;background-position:0 -187px}
	.quickgo .ic_music  {height:18px;margin-top:-9px;background-position:0 -205px}
	.quickgo .ic_current  {height:18px;margin-top:-9px;background-position:0 -223px}
	.quickgo .ic_stock  {height:17px;margin-top:-9px;background-position:0 -242px}
	.quickgo .ic_mg  {height:18px;margin-top:-9px;background-position:0 -260px}
	.quickgo .ic_shopping  {height:19px;margin-top:-10px;background-position:0 -279px}
	.quickgo .ic_cable  {height:18px;margin-top:-9px;background-position:0 -299px}
	.quickgo .ic_enter  {height:17px;margin-top:-8px;background-position:0 -318px}
	.quickgo .ic_life  {height:18px;margin-top:-9px;background-position:0 -336px}
	.quickgo .ic_study  {height:17px;margin-top:-8px;background-position:0 -355px}
	.quickgo .ic_adult  {height:18px;margin-top:-8px;background-position:0 -373px}
	.quickgo .ic_business {height:21px;margin-top:-9px;background-position:0 -391px}
	.quickgo .ic_partner {width:20px;height:17px;margin-top:-8px;background-position:0 -412px}
	.quickgo .ic_beauty {width:20px;height:20px;margin-top:-9px;background-position:0 -430px}
	.quickgo .ic_kpop  {width:20px;height:20px;margin-top:-7px;background-position:0 -451px}
	.quickgo .ic_mobile  {width:20px;height:20px;margin-top:-7px;background-position:3px -471px}
	.quickgo .ic_hot  {width:17px;height:17px;margin-top:-9px;background-position:0 -492px}
	.quickgo .ic_t30  {width:17px;height:14px;margin-top:-7px;background-position:0 -512px}
	.quickgo .ic_humor {width:18px;height:18px;margin-top:-8px;background-position:0 -529px}
	.quickgo .ic_etc {width:17px;height:5px;margin-top:-2px;background-position:1px -551px}
/* //바로가기 추가 */
.sv_area .btn_delete_all {overflow:visible;display:block;position:absolute;top:0;right:39px;width:79px;height:27px;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -111px -85px;}
.sv_area .locol_date {position:absolute;top:2px;right:0}
.sv_area .locol_date li {float:left;padding-left:8px;margin-left:8px;font-family:'NG';font-size:14px;line-height:140%;background:url('//www.afreecatv.com/images/afmain/bul_bar_gs.gif') no-repeat 0 5px}
.sv_area .locol_date li.on a {display:block;border-bottom:2px solid #4279ff;color:#4279ff;}
.sv_area .locol_date li.first {background:none;}
.sv_area .locol_date li a {display:block;color:#555;text-decoration:none}
.sv_area .locol_date li a:hover {color:#4279ff;}

.menu_two {position:relative;width:100%;overflow:hidden;padding:5px 0;margin-bottom:20px;border-bottom:1px solid #e6e6e6}
.menu_two ul {position:relative;left:-18px;min-width:980px}
.menu_two li {float:left;padding:0 0 10px 18px;height:21px;word-wrap:break-word;word-break:break-all;white-space: nowrap;}
.menu_two li a {display:block;font-family:'NG';font-size:15px;height:20px;line-height:100%;color:#3c3c3c;text-decoration:none;letter-spacing:-1px}
.menu_two li.on a {color:#1559ff;font-family:'NGB';border-bottom:2px solid #4279ff}
.menu_two li a:hover, .menu_two li a:focus {color:#1559ff;}

.menu_tv {position:relative;width:100%;overflow:hidden;padding-bottom:18px;margin-bottom:20px;border-bottom:1px solid #e6e6e6}
.menu_tv ul {position:relative;left:-3px;min-width:980px}
.menu_tv li {float:left;padding:0 0 2px 3px;height:36px;word-wrap:break-word;word-break:break-all;}
.menu_tv li a {display:block;font-family:'NG';height:34px;line-height:100%;text-decoration:none;}
.menu_tv li a img {width:74px;height:34px;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5;vertical-align:top}
.menu_tv li.on a,
.menu_tv li a:hover {border-bottom:2px solid #4279ff}
.menu_tv li.on a img,
.menu_tv li a:hover img {filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity: 1;opacity:1;}

.menu_thr {width:100%;height:41px;margin-bottom:20px;background:url('//www.afreecatv.com/images/afmain/bg_tab_line.gif') repeat-x left bottom}
.menu_thr:after {display:block;clear:both;content:''}
.menu_thr ul {width:100%;}
.menu_thr li {float:left;margin-right:-1px;word-wrap:break-word;word-break:break-all;}
.menu_thr li.on a {position:relative;color:#1559ff;border:1px solid #d3d3d3;border-bottom:1px solid #fff;background:#fff}
.menu_thr li a {display:block;width:79px;height:39px;line-height:39px;font-size:14px;font-weight:bold;color:#333;border:1px solid #e4e4e5;text-align:center;text-decoration:none;background:#fbfcfd}
.menu_thr li a:hover {color:#1559ff;}

.hotissue {position:relative;width:100%;padding:0;margin-bottom:-17px}
.hotissue h2 {font-family:'NGB';font-size:18px;height:33px;line-height:100%;color:#010101;letter-spacing:-1px;line-height:100%}
.hotissue .tab_m {position:absolute;top:-2px;left:70px}
.hotissue .tab_m li {float:left;font-family:'NGB';font-size:14px;color:#555;margin-right:12px;letter-spacing:-1px}
.hotissue .tab_m li.on a {;color:#1559ff;border-bottom:2px solid #4279ff}
.hotissue .tab_m li a {display:block;padding:0 2px 0 2px;color:#555;text-decoration:none;line-height:1.5}
.hotissue .tab_m li a:hover {color:#1559ff;}
.hotissue .control {position:absolute;top:-6px;right:0;z-index:10}
.hotissue .control button {position:relative;float:left;display:block;text-indent:-9999px;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat}
.hotissue .control .stopButton {width:16px;height:15px;margin-top:6px;margin-right:8px;background-position:0 -165px;}
.hotissue .control .startButton {width:16px;height:15px;margin-top:6px;margin-right:8px;background-position:0 -180px;;}
.hotissue .control .prev {width:27px;height:27px;margin-right:-1px;background-position:-17px -165px;}
.hotissue .control .next {width:27px;height:27px;background-position:-43px -165px;}

.listarea {position:relative;}
.listarea:after {display:block;clear:both;content:''}
.listarea ul {position:relative;margin-right:-16px}
.listarea ul.hot_issue {margin:0 0 0}
.listarea ul.hot_issue li {padding:0;height:250px}
.listarea ul:after {display:block;clear:both;content:''}
.listarea li {position:relative;+z-index:1;float:left;padding-right:16px;padding-bottom:30px}
.listarea li:after {display:block;clear:both;content:''}
.listarea li:hover {+z-index:2;}

.banner_area {position:relative;overflow:hidden;height:100px;padding:0 40px;border-bottom:1px solid #ddd}
.banner_area li {float:left;width:33.3%;border-left:1px solid #ddd;text-align:center}
.banner_area li a {display:block;}
.banner_area li.first {width:33.4%;border:none}
.banner_area li img {vertical-align:top;height:100px;}
.banner_area .btn_prev {position:absolute;top:0;left:0;display:block;width:42px;height:100px;background:#fff}
.banner_area .btn_prev span {position:absolute;top:40px;left:15px;display:block;width:11px;height:21px;text-indent:-9999px;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -543px -54px;}
.banner_area .btn_next {position:absolute;top:0;right:0;display:block;width:42px;height:100px;background:#fff}
.banner_area .btn_next span {position:absolute;top:40px;right:15px;display:block;width:11px;height:21px;text-indent:-9999px;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -555px -54px;}
.banner_area .bx-controls {display:none}

/* 2016-0422 방송알림기능 */
.alarm {position: absolute; top: -1px; left: 6%; width: 29px !important; height: 28px !important; text-indent: -9999em; overflow: hidden; background: url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -145px -166px;}
.alarmBox { display: none; position: absolute; z-index: 100;  width: 148px; height: 139px;padding: 20px 25px 0; background: url('//www.afreecatv.com/images/afmain/alarm_box.png') no-repeat; text-align: center; }
.alarmBox p {font-size: 14px; text-align: center; line-height: 1.2 ; color:#666667; letter-spacing: -1px;font-family: 'NG';}
.alarmBox a { display: inline-block; height: 15px;  font-size: 12px; color: #666; margin-top: 10px; border-bottom: 1px solid #666; text-decoration: none; font-family: 'NB'; }
.alarmBox .question { position: absolute; left: 0px; bottom: 35px; display: inline-block; width: 100%; padding-top: 4px; font-size: 11px; color:#a8a8a8; font-size: 11px;background-color: transparent; letter-spacing: -1px; outline: none;  font-family: "돋움", verdana, sans-serif; vertical-align: middle;}
.alarmBox .question em { color:#2e9efd; }
.alarmBox .question span { display: inline-block; width: 16px; height: 16px; margin: -2px 0 0 3px;  background: url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -88px -166px; vertical-align: middle; }
.alarmBox .close { position: absolute; right: 18px; top: 14px; width: 11px; height: 11px;  text-indent: -9999em; outline: none; overflow: hidden;  background: url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -176px -166px; }

.alarmBox .reservation a {display: block; overflow: hidden; border-radius: 3px; width: 148px;height: 27px; margin-top: 11px; padding-top: 9px; text-align: center; color: #fff; background-color: #2e6afd;  vertical-align: middle; font-family: 'NG'; font-size: 13px;}
.alarmBox .reservation a span { display: inline-block; width: 12px; height: 14px; margin: -2px 7px 0 0;  background: url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -75px -166px; vertical-align: middle; font-family: "돋움", verdana, sans-serif;}
.alarmBox .complete p {color: #00c92f; font-size: 15px;}
.alarmBox .complete p em {display: block; width: 16px; font-size: 15px; height: 11px; margin: 7px auto; background: url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -105px -166px;}
.alarmBox .cancel p {color: #f54343;}
.alarmBox .cancel p em {display: block; width: 22px; height: 22px; margin: 10px auto; background: url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -121px -166px;}

/* //2016-0422 방송알림기능*/

.ti_banner {width:100%;height:198px;text-align:center;background:#1c1b25}
.ti_banner .award_2015 {position:relative;width:959px;height:198px;margin:0 auto;background:url('//www.afreecatv.com/images/afmain/img_award_2015.jpg') no-repeat}
.ti_banner .award_2015 .link01 {position:absolute;top:0;left:0;width:350px;height:198px;text-indent:-9999px;}
.ti_banner .award_2015 .link02 {position:absolute;top:0;right:0;width:350px;height:198px;text-indent:-9999px;}
.ti_banner a {overflow:hidden;display:block;}
.ti_banner img {vertical-align:top}

/* 썸네일 */
.cast_box {position:relative;display:block;width:226px;height:196px;border:1px solid #d8d8d8;border-radius:5px;background:#fff}
.cast_box.rank .ranking {display:block;position:absolute;top:136px;left:0;width:43px;z-index:30;font-family:'NG';font-size:28px;line-height:100%;color:#666;text-align:center;letter-spacing:-0.1em;transition:all .2s ease-out;-webkit-transition:all .2s ease-out 0s;}
.cast_box.rank .ranking strong {font-weight:normal;color:#386cff;font-size:37px;line-height:100%;transition:all .2s ease-out;}
.cast_box.rank .subject {width:171px;height:17px;padding:10px 12px 0 43px;}
.cast_box.rank .vod {left:45px;}
.cast_box .box_link {display:block;height:196px;text-decoration:none !important}
.cast_box:focus .info .grade {color:#fff }
.cast_box:focus .info .time {color:#cecdcd }
.cast_box:hover .grbox{display:block;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity:0.5;}
.cast_box:hover .subject{top:108px;height:36px;}
.cast_box:hover .ranking{top:117px;/*transform:translate3d(0,0,0) scale(1) rotateZ(360deg)*/}
.cast_box:hover .ranking strong {}
.cast_box:hover .info{display:block;-moz-opacity:1;-khtml-opacity: 1;opacity:1;}
.cast_box:hover .viewer{display:none;}
.cast_box:hover .count{display:block;}
.cast_box:hover .cast_delete {display:block}
.cast_box:hover .vtime {top:84px;}
.cast_box .vod_type {position:absolute; left:4px; top:4px; z-index:11;} /* 2016-10-11 추가 */
.cast_box .thumb {position:absolute;top:-1px;left:-1px;}
.cast_box .thumb img {width:228px;height:128px;vertical-align:top;border-radius:5px 5px 0 0}
.cast_box .grbox {display:block;position:absolute;left:-1px;top:-1px;z-index:10;width:228px;height:128px;background-color:#000;zoom:1;filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity: 0;opacity:0;transition:all .2s ease-out;-webkit-transition:all .2s ease-out 0s;border-radius:5px 5px 0 0}
.cast_box .info {display:block;display:/*\**/none\9;position:absolute;top:88px;left:0;z-index:20;width:100%;-moz-opacity:0;-khtml-opacity:0;opacity:0;transition:all .2s ease-out;-webkit-transition:all .2s ease-out 0s;}
.cast_box .info .grade {display:block;position:absolute;top:-1px;left:5px;width:45px;height:15px;line-height:15px;color:#fff;font-size:10px;font-family:arial;text-align:center;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -469px -55px;}
.cast_box .info .time {position:absolute;top:0;right:5px;line-height:15px;color:#cecdcd;font-size:11px;font-family:arial;}
.cast_box .subject {font-family:'NGB';font-size:13px;overflow:hidden;display:block;position:absolute;top:127px;left:-1px;z-index:20;width:202px;height:17px;padding:10px 12px 0 12px;border:1px solid #d8d8d8;border-top:none;border-bottom:none;letter-spacing:0;line-height:140%;color:#333;font-weight:bold;background:#fff;transition:all .2s ease-out;-webkit-transition:all .2s ease-out 0s;}
.cast_box .nick {display:inline-block;height:auto;position:absolute;top:171px;left:8px;padding:4px;color:#4279ff;font-size:11px;white-space:nowrap}
.cast_box .nick:hover {text-decoration:underline !important}
.cast_box .viewer {display:block;position:absolute;top:175px;right:12px;color:#999;font-size:11px}
.cast_box .viewer em {display:inline-block;width:11px;height:8px;font-size:0;vertical-align:middle;margin:0 4px 2px 0;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -551px 0;}
.cast_box .views {display:block;position:absolute;top:175px;right:12px;color:#999;font-size:11px}
.cast_box .views em {display:inline-block;width:7px;height:8px;font-size:0;vertical-align:middle;margin:0 4px 2px 0;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -551px -11px;}
.cast_box .count {display:none;position:absolute;top:175px;right:12px;color:#999;font-size:11px}
.cast_box .count .pc {display:inline-block;width:11px;height:10px;font-size:0;vertical-align:middle;margin:0 4px 2px 0;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -562px 0;}
.cast_box .count .mobile {display:inline-block;width:7px;height:10px;font-size:0;vertical-align:middle;margin:0 4px 2px 8px;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -573px 0;}
.cast_box .cast_delete {display:none;position:absolute;bottom:42px;right:10px;}
.cast_box .vtime {position:absolute;top:103px;right:4px;z-index:20;display:block;padding:4px 5px;font-size:11px;font-family:'NG';line-height:100%;color:#fff;border-radius:3px;background-color:#000;zoom:1;filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity: 0.7;opacity:0.7;transition:all .2s ease-out;-webkit-transition:all .2s ease-out 0s;}
/* 동영상 조회수 */
.cast_box .vod {display:block;position:absolute;top:165px;left:13px;color:#999;font-size:11px}
.cast_box .vod em {display:inline-block;font-size:0;vertical-align:middle;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat}
.cast_box .vod .play {width:9px;height:13px;margin:0 2px 3px 0; background-position:-197px -164px;}
.cast_box .vod .up {width:14px;height:14px;margin:0 2px 2px 9px;background-position:-208px -164px}
.cast_box .vod .cm {width:12px;height:13px;margin:0 2px 3px 9px;background-position:-222px -164px;}

/* /* 썸네일 hover js처리시
.cast_box {position:relative;display:block;width:226px;height:196px;border:1px solid #d8d8d8;border-radius:5px;background:#fff}
.cast_box .box_link {display:block;height:196px;text-decoration:none !important}
.cast_box .thumb {position:absolute;top:-1px;left:-1px;}
.cast_box .thumb img {width:228px;height:128px;vertical-align:top;border-radius:5px 5px 0 0}
.cast_box .grbox {display:block;position:absolute;left:-1px;top:-1px;z-index:10;width:228px;height:128px;background-color:#000;zoom:1;filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity: 0;opacity:0;border-radius:5px 5px 0 0}
.cast_box .info {display:block;position:absolute;top:88px;left:0;z-index:20;width:100%;filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;}
.cast_box .info .grade {display:block;position:absolute;top:-1px;left:5px;width:45px;height:15px;line-height:15px;color:#fff;font-size:10px;font-family:arial;text-align:center;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -469px -55px;}
.cast_box .info .time {position:absolute;top:0;right:5px;line-height:15px;color:#cecdcd;font-size:11px;font-family:arial;}
.cast_box .subject {overflow:hidden;display:block;position:absolute;top:127px;left:-1px;z-index:20;width:202px;height:14px;padding:10px 12px 0 12px;border:1px solid #d8d8d8;border-top:none;border-bottom:none;letter-spacing:-1px;line-height:140%;color:#333;font-weight:bold;background:#fff;}
.cast_box .nick {display:inline-block;height:auto;position:absolute;top:175px;left:12px;color:#4279ff;font-size:11px}
.cast_box .nick:hover {text-decoration:underline !important}
.cast_box .viewer {display:block;position:absolute;top:175px;right:12px;color:#999;font-size:11px}
.cast_box .viewer em {display:inline-block;width:11px;height:8px;font-size:0;vertical-align:middle;margin:0 4px 2px 0;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -551px 0;}
.cast_box .count {display:none;position:absolute;top:175px;right:12px;color:#999;font-size:11px}
.cast_box .count .pc {display:inline-block;width:11px;height:10px;font-size:0;vertical-align:middle;margin:0 4px 2px 0;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -562px 0;}
.cast_box .count .mobile {display:inline-block;width:7px;height:10px;font-size:0;vertical-align:middle;margin:0 4px 2px 8px;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -573px 0;}
.cast_box .cast_delete {display:none;position:absolute;bottom:44px;right:10px;}
*/

.ready_box {position:relative;display:block;width:226px;height:119px;border:1px solid #d8d8d8;border-radius:5px;background:#fff}
.ready_box:hover .cast_delete {display:block}
.ready_box span {line-height:100%}
.ready_box .thumb {position:absolute;top:15px;left:26px;}
.ready_box .thumb img {width:62px;height:62px;border-radius:31px;vertical-align:top}
.ready_box .nick {position:absolute;top:30px;left:110px;font-size:16px;color:#333;font-weight:bold;letter-spacing:-1px}
.ready_box .nick a {color:#333}
.ready_box .afid {position:absolute;top:53px;left:110px;color:#555}
.ready_box .date {display:block;position:absolute;top:92px;left:0;width:100%;border-top:1px solid #ebebeb;padding-top:9px;text-align:center;font-size:11px;color:#999;}
.ready_box .cast_delete {display:none;position:absolute;top:5px;right:5px;}

/* 즐겨찾기&최근본방송 삭제버튼 */
.cast_delete {overflow:hidden;position:absolute;z-index:100;display:block;width:15px;height:15px;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -516px -55px;}
.cast_delete span {position:absolute;top:17px;left:50%;text-indent:-9999px;filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity: 0;opacity:0;transition:all .2s ease-out;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat}
.cast_delete span.favorite {width:94px;height:30px;margin-left:-47px;background-position: -503px -23px;}
.cast_delete span.vcast {width:104px;height:30px;margin-left:-52px;background-position: -111px -112px;}
.cast_delete:hover {overflow:visible;}
.cast_delete:hover span {filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity: 1;opacity:1;}
.cast_delete span.recommend{width:94px;height:30px;margin-left:-47px;background-position: 0 -132px;}

/* ict */
.ictBox {display:block;width:128px;border:1px solid #b4b4b4;border-radius:2px;background:#fff}
.ictBox dl dt {padding:2px 0 2px 7px;color:#555;font-weight:bold;font-family:arial;}
.ictBox dl dd {display:block;border-top:1px solid #e8e8e8}
.ictBox dl dd a {display:block;height:auto;padding:6px 0 4px 7px;color:#333;text-decoration:none;letter-spacing:-1px}
.ictBox dl dd a:hover {background:#f7f7f7}
.ictBox dl dd .ic_fav {display:inline-block;width:15px;height:15px;vertical-align:middle;margin:0 6px 4px 0;background:url('//www.afreecatv.com/images/common/ict_common.png') no-repeat -14px 0;}
.ictBox .btn_home {position:absolute;top:0;right:0;display:block;width:128px;height:23px;}
.ictBox .btn_home span {overflow:hidden;position:absolute;top:5px;right:7px;display:block;width:13px;height:13px;text-indent:-9999px;background:url('//www.afreecatv.com/images/common/ict_common.png') no-repeat 0 0;}

/* 안내문구&로딩 */
.nt_area {overflow:hidden;padding:100px 0;margin-bottom:30px;text-align:center;/*border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6*/}
.nt_area .ic_favrite {display:block;width:64px;height:42px;margin:0 auto;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat 0 -85px;}

.nt_area .ic_nocast {display:block;width:46px;height:46px;margin:0 auto;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -65px -85px;}
.nt_area .ic_vcast {display:block;width:44px;height:37px;margin:0 auto;background:url('//www.afreecatv.com/images/afmain/img_main.png') no-repeat -215px -85px;}
.nt_area .ic_reload {display:block;width:64px;height:51px;margin:22px auto 0;background:url("//www.afreecatv.com/images/afmain/img_main.png") no-repeat -405px -28px;}
.nt_area p.txt01 {padding-top:23px;color:#555;font-family:'NG';font-size:20px;letter-spacing:-1px}
.nt_area p.txt02 {padding-top:20px;color:#888;}
.nt_area p.txt03 {color:#555;font-family:'NG';font-size:20px;letter-spacing:-1px}
.loading {position:relative;display:block;width:44px;height:44px;margin:120px auto 120px;text-indent:-9999px;background:url('//www.afreecatv.com/images/afmain/loading.gif') no-repeat }
.loading_list {position:relative;display:block;width:44px;height:44px;margin:0 auto 0;text-indent:-9999px;background:url('//www.afreecatv.com/images/afmain/loading.gif') no-repeat }
.reloading {position:relative;width:350px;margin:90px auto 90px;text-align:center}
.line_rt {width:100%;padding:60px 0 55px;margin:0;border-top:1px solid #e6e6e6}
.reloading p {font-family:'NG';font-size:20px;color:#333;letter-spacing:-1px}
.reloading .icon {display:block;width:64px;height:51px;margin:22px auto 0;background:url("//www.afreecatv.com/images/afmain/img_main.png") no-repeat -405px -28px;}
.more_list {overflow:hidden;width:100%}
.more_list a {font-family:'NG';display:block;height:30px;line-height:33px;border:1px solid #e3e3e3;font-size:14px;color:#333;text-align:center;text-decoration:none;background:#fafafa}
.more_list a em {display:inline-block;width:11px;height:6px;vertical-align:middle;margin:0 0 2px 9px;line-height:100%;background:url("//www.afreecatv.com/images/afmain/img_main.png") no-repeat -531px -55px;}

/* bj banner */
.banner_bjsummer {position:fixed;top:132px;left:75%;width:190px;height:174px;background:url('www.afreecatv.com/afevent/promotion/bjsummerfest2015/img/banner.png') 0 0 no-repeat;z-index:1000}
.banner_bjsummer .btn_close{width:31px;height:31px;display:block;position:absolute;top:0;right:17px}
.banner_bjsummer .banner{display:block;width:190px;height:174px}

/* 160328 공지사항 추가 */
.unit_area .notice{float:left}
.unit_area .notice a{display:block;padding:20px 0 16px 0;margin:0 28px 0 0;color:#666;text-align:right}
.unit_area .notice a .icon{width:12px;height:11px;background:url('//www.afreecatv.com/images/afmain/img_main.gif') -533px -56px no-repeat;display:inline-block;margin-right:5px;*height:15px}
.unit_area .notice a strong{margin-right:3px}

/* 메인광고 */
.ad_area {position:relative;width:100%;min-width:960px;}
.ad_area .link{position:absolute;top:0;left:0;z-index:30;display:block;width:100%;text-indent:-9999px;background:url('//www.afreecatv.com/images/afmain/bg_blank.png') repeat}
.ad_area img {vertical-align:top}
.ad_area .ad_bar {position:relative;z-index:10;width:100%;height:50px;margin-bottom:25px;text-align:center}
.ad_area .ad_bar .link {height:50px;}
.ad_area .ad_bar img {width:960px;height:50px;margin:0 auto}
.ad_area .ad_slide {position:relative;top:-75px;left:0;z-index:20;width:100%;height:222px;text-align:center;margin-bottom:-50px}
.ad_area .ad_slide .link {height:222px;}
.ad_area .ad_slide .inner_w {position:absolute;top:0;left:0;width:100%;z-index:40}
.ad_area .ad_slide .inner {position:relative;width:960px;margin:0 auto}
.ad_area .ad_slide img {width:960px;height:222px;margin:0 auto}
.ad_area .ad_slide .player {position:absolute;top:18px;right:18px;width:330px;height:186px;background:#000}
.ad_area .btn {position:absolute;top:10px;left:15px;z-index:50}
.ad_area .btn a {overflow:hidden;position:relative;display:block;width:66px;height:30px;text-indent:-9999px;}
.ad_area .btn .open {background:url('//www.afreecatv.com/images/afmain/btn_ad_open.png') no-repeat 0 5px}
.ad_area .btn .close {background:url('//www.afreecatv.com/images/afmain/btn_ad_close.png') no-repeat 0 5px}
.ad_area .btn .open em {display:block;position:absolute;top:5px;left:0;width:19px;height:19px;text-indent:-9999px;background:url('//www.afreecatv.com/images/afmain/ic_arrow_down.gif') no-repeat 0 0}
.ad_area .btn .close em {display:none}


@-moz-document url-prefix(){
	.unit_area .notice a{padding-top:19px}

}
@media screen and (-webkit-min-device-pixel-ratio:0){
	.unit_area .notice a{padding-top:19px}
}

@media screen and (max-width:1320px) {
	#listWrap #header .unit_area{left:751px;}
	#listWrap  #header .log_area{position:absolute;right:0;top:0}
	#listWrap #header .unit_area .notice{height:38px;overflow:hidden;position:absolute;/*right:125px;*/right:34px}
	#listWrap  #header .unit_area .notice a{text-align:left}
	#listWrap #header .log_area{background:url('//www.afreecatv.com/images/afmain/grad.png') -7px 20px no-repeat;padding-left:34px}
	#listWrap #header .nickname,	#listWrap #header .join_area{background:#fff}

}

@media screen and (max-width:960px){
	.unit_area .notice{display:none}
}

.menu_list .line{background:url('//www.afreecatv.com/images/afmain/bg_line_ct.gif') 0 bottom no-repeat;padding-bottom:20px;margin-bottom:16px}

/* up */
.fa_list{height:128px;font-family:ng;margin-bottom:14px}
.fa_list h2{font-size:14px;font-family:"ng";margin:9px 0 -4px 0;font-weight:normal;letter-spacing:-1px;margin-left:1px;color:#010101}
.fa_list h2 a{background:url(//www.afreecatv.com/images/afmain/bul_ar_r.gif) right 6px no-repeat;padding-right:8px;color:#333}
.fa_list  .btn_prev, .fa_list  .btn_next{top:18px}
.banner_area.fa_list li{border-left:none;text-align:left}

.fa_list .img_profile{width:42px;height:42px;border-radius:21px;margin-left:5px}
.fa_list .bannerslide .inbox{display:inline-block;margin-left:8px}
.fa_list .bannerslide .bjinfo{display:block;color:#999;font-family:ng;font-size:12px;letter-spacing:-1px}
.fa_list .bannerslide .bjinfo em{color:#7097cc;font-size:13px;background:url(//www.afreecatv.com/images/afmain/bg_dot.gif) right 7px no-repeat;padding:0 8px 0 0;margin-right:5px}
.fa_list .bannerslide .tit{display:block;color:#181818;/*font-weight:normal;*/font-size:15px;letter-spacing:-1px;margin-bottom:7px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis;max-width:245px}
.fa_list .bannerslide .hit{display:block}
.fa_list li a{text-decoration:none;padding-top:14px;border-right:1px solid #efefef;margin:0 0 0 13px;}
.fa_list li .hit span{color:#999;font-size:11px;font-family:gulim;margin-right:9px}
.fa_list li .hit em{display:inline-block;text-indent:-9999em;background:url(//www.afreecatv.com/images/mybs/icon_wch.png) -9999em -9999em no-repeat;margin-right:4px;vertical-align:middle}
.fa_list li .hit .icon_up em{width:14px;height:12px;background-position:0 -220px}
.fa_list li .hit .icon_cmt em{width:12px;height:12px;background-position:0 -170px}
.up_list{width:319px;display:block;margin:0 auto}

/*game banner*/
.banner{text-align:center;background:#3b3a64;margin-bottom:25px}
.banner a img, .banner a{display:block}
.banner a img{margin:0 auto}