@charset "utf-8";
/* common */
body{background:#ffffff;line-height:160%;font-size:12px;font-family:"宋体";}
body,form,img,p{margin:0;padding:0;border:0;}
dl,dd,dt,ul,li{list-style-position:outside;list-style-type:none;margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5{margin:0;padding:0;border:0;}
textarea{resize:none;}
input{background:none;padding:0;margin:0;border:0;outline-style:none;}
em,cite{font-style:normal;}
a{color:#000000;outline-style:none;text-decoration:none;}
a:hover{color:#EB8C14;}
.clear{clear:both;font-size:0px;visibility:hidden;width:0px;line-height:0px;}
.a_en{margin:0 0 0 8px;}
.a_en img,i img{vertical-align:middle;}
/* head */
.siteNav{height:22px;line-height:22px;background:#f1f1f1;padding:3px 0;}
.siteNavBox{width:991px;margin:0 auto;overflow:hidden;zoom:1;}
.quickMenu{float:left;padding-left:133px;font-size:13px;}
.quickMenu a{display:inline-block;background:url(http://file.caixin.com/file/common/images/home_arrow.png) no-repeat 0 center;padding-left:8px;margin-right:20px;color:#00a0e9;font-family:"微软雅黑";}
.quickMenu a:hover{color:#eb8c14;}
.loginInfo{float:right;overflow:hidden;zoom:1;}
.loginInfo li{float:left;margin-right:-1px;font-size:13px;}
.loginInfo li a,.loginInfo li span{padding:0 15px;border-right:solid 1px #818181;}
.searchBox{float:right;height:20px;border:solid 1px #c3c3c3;overflow:hidden;zoom:1;}
.searchBox input{float:left;}
.searchBox input.keyword{width:158px;height:20px;line-height:20px;background:#ffffff;padding:0 5px;color:#9b9b9b;font-size:12px;}
.searchBox input.keyword:focus{color:#000000;}
.topUp{width:990px;margin:0 auto 0px;padding:10px 0; /* height:90px;overflow:hidden; */}
/* 还原：去掉背景和padding:10px 0;改margin:0 auto 10px;
*/
.topUp .logo{float:left;width:131px;height:90px;}
/* 还原：删除此行 */
.topUp .topAd{float:left;width:760px;}
.navLink{float:right;width:84px;zoom:1;font-family:"微软雅黑";position: relative;}
.navLink span{display:block;height:22px;line-height:22px;border-bottom:solid 1px #f1f1f1;margin-bottom:-1px;text-align:center;font-size:14px;}
.navLink span a{color:#a2a2a2;}
.navLink span a:hover{color:#eb8c14;}
.navLink span.mn a{color:#0072bc;}
.navLink span.mn a:hover{color:#eb8c14;}
.navLink span.pmi{border:none;padding-top:5px;text-align:center;}
.navLink span.pmi a img{width:88px;height:36px;}
.navLink span.pmi_nm{position:relative;border-bottom:solid 1px #f1f1f1;}
.navLink span.pmi_nm a img{position:absolute;left:50%;top:3px;width:65px;height:auto;margin-left:-32px;}
.navLink span.pmi_nm a:hover img{left:50%;top:3px;width:65px;height:auto;margin-left:-32px;}
.navLink span.cebm_nm{position:relative;border:none;}
.navLink span.cebm_nm a img{position:absolute;left:50%;top:8px;width:85px;height:auto;margin-left:-42px;}
.mainNav{height:25px;background:#0072bc;}
.nav{line-height:25px;width:994px;margin:0 auto;overflow:hidden;zoom:1;background:#0072bc;height:25px;}
.nav ul{width:994px;padding:0;}
.nav li{float:left;font-family:"微软雅黑";font-size:14px;font-weight:bold;}
.nav li a{float:left;width:70px;text-align:center;color:#ffffff;}
.nav li a.nav_on{width:66px;border-left:solid 2px #fff;border-right:solid 2px #fff;color:#ffffff;}
.menu_con{width:990px;padding-top:5px;margin:0 auto;}
.menu_con_box{position:absolute;z-index:100;width:990px;line-height:25px;background:#ffffff;overflow:hidden;zoom:1;}
.menu_con div a{display:inline-block;padding:0 12px;}
.menu_con div a:hover{background:#c3c3c3;color:#ffffff;}
/* 导航滑过颜色修改 */
li.homepage a.nav_on{background:#163B8A;}
#subnav0{height:0px;}
li.economy a.nav_on{background:#664145;}
li.finance a.nav_on{/*background:#8f6a47;*/ background:#e15500;}
li.companies a.nav_on{background:#628180;}
#subnav3{padding-left:90px;}
li.china a.nav_on{background:#5a1746;}
#subnav4{padding-left:170px;}
li.international a.nav_on{background:#789262;}
#subnav5{padding-left:330px;}
li.opinion a.nav_on{background:#383971;}
#subnav6{padding-left:195px;}
li.life a.nav_on{background:#7A446A;}
#subnav7{padding-left:445px;}
li.blog a.nav_on{background:#bf2709;}
#subnav8{padding-left:460px;}
li.magazine a.nav_on{background:#914525;}
#subnav9{padding-right:205px;text-align:right;}
li.picture a.nav_on{background:#2a4f6b;}
#subnav10{text-align:right;}
li.video a.nav_on{background:#048479;}
#subnav11{text-align:right;}
li.cnbc a.nav_on{background:#e84817;}
#subnav12{padding-left:130px;}
li.english a.nav_on{background:#69d8f5;}
/* bottom */
.bottom{width:990px;margin:0 auto;}
.bottom .logo{padding:23px 0px;text-align:center;}
.map h3{background:#f1f1f1;padding:8px 0px 5px 12px;border-bottom:solid 2px #0072bc;margin:0 0 10px;font-size:14px;color:#369;}
.map ul{overflow:hidden;zoom:1;}
.map li{float:left;width:122px;line-height:20px;}
.map li dl{padding:0 0 15px 20px;}
.map li dl.h155{height:190px;overflow:hidden;}
.map li dt{font-weight:bold;}
.copyright{border-bottom:1px solid #c6c7c6;margin-bottom:15px;padding:5px 0 10px;text-align:center;line-height:24px;color:#797878;}
.navBottom{text-align:center;color:#797878;}
.navBottom a{color:#797878;}
.navBottom a:hover{color:#EB8C14;}
/* 广告 */
.indexTopAd{width:680px;height:80px;overflow:hidden;margin-bottom:20px;}
.midTongAd{height:90px;overflow:hidden;margin:20px 0;}
.midTongAd th{padding:0 15px;}
.midTongAd img{vertical-align:top;}
.indexRigAd{margin-bottom:15px;}
.indexLeftAd{margin-bottom:15px;}
/* 共用模块 慎改 */
.indexMainCon{overflow:hidden;zoom:1;}
.indexMainConlf{float:left;width:300px;}
.indexMainConmi{float:left;width:334px;padding:0 0 0 28px;}
.indexMainConri{float:right;width:300px;}
.leftbox{float:left;width:680px;overflow:hidden;zoom:1;}
.indexMainConlf h3,.indexMainConmi h3{height:31px;line-height:31px;background:#0072bc;padding-left:10px;color:#ffffff;margin-bottom:10px;font-size:14px;overflow:hidden;zoom:1;}
.indexMainConlf h3 a,.indexMainConmi h3 a{display:block;padding-left:10px;margin-left:-10px;color:#ffffff;}
.indexMainConlf h3 a:hover,.indexMainConmi h3 a:hover{background:#163b8a;color:#ffffff;}
.indexMainConri h3{height:31px;line-height:31px;background:#f1f1f1;padding-left:10px;margin-bottom:10px;font-weight:bold;border-bottom:solid 2px #0072bc;color:#0072bc;margin-bottom:10px;font-size:14px;}
.indexMainConri h3 a{color:#0072bc;}
.indexMainConri h3 a:hover{color:#EB8C14;}
.demolNews{overflow:hidden;zoom:1;}
.demolNews dl{padding:8px 0 17px;border-bottom:solid 1px #8bc7ee;margin-bottom:-1px;}
.demolNews dt{font-size:18px;font-family:"黑体";letter-spacing:-1px;line-height:24px;text-align:justify;text-justify:inter-ideograph;}
.demolNews dd .pic{padding:5px 0;}
.demolNews dd .pic img{display:block;width:300px;height:200px;}
.demolNews dd span{display:block;padding:2px 0;color:#858585;}
.demolNews dd span a{float:right;color:#858585;}
.demolNews dd span a:hover{color:#EB8C14;}
.demolNews dd p{text-align:justify;text-justify:inter-ideograph;}
.demolNews ul{padding-top:7px;}
.demolNews li{line-height:22px;font-size:14px;}
.demolNews li a{color:#336699;}
.demolNews li a:hover{color:#EB8C14;}
.indexMainConmi .demolNews li{background:url(http://file.caixin.com/file/common/images/dot.jpg) no-repeat 0 8px;padding-left:10px;}
.ltuRwen{margin-top:0;}
.ltuRwen li{padding-bottom:17px;zoom:1;overflow:hidden;}
.ltuRwen .pic{float:left;margin:2px 10px 0 0;}
.ltuRwen .pic img{display:block;width:145px;height:97px;}
.ltuRwen h4{padding-bottom:6px;font-size:14px;text-align:justify;text-justify:inter-ideograph;zoom:1;}
.ltuRwen p{text-align:justify;text-justify:inter-ideograph;}
.stutitXwen{overflow:hidden;zoom:1;}
.stutitXwen dl{padding:10px 0 17px;border-bottom:solid 1px #8bc7ee;margin-bottom:-1px;overflow:hidden;zoom:1;}
.stutitXwen dt{height:64px;overflow:hidden;zoom:1;margin-bottom:6px;}
.stutitXwen dt .pic{float:left;margin-right:15px;}
.stutitXwen dt .pic img{display:block;width:60px;height:60px;}
.stutitXwen dt .txt{overflow:hidden;zoom:1;}
.stutitXwen dt .txt h4{height:42px;overflow:hidden;margin:0 0 5px;font-size:16px;font-family:"黑体";letter-spacing:-1px;line-height:22px;font-weight:normal;text-align:justify;text-justify:inter-ideograph;}
.stutitXwen dt .txt span{display:block;color:#858585;}
.stutitXwen dt .txt span a{float:right;color:#336699;}
.stutitXwen dt .txt span a:hover{color:#EB8C14}
.stutitXwen dd span{display:block;color:#858585;}
.stutitXwen dd span a{margin-right:10px;font-weight:bold;color:#336699;font-size:14px;}
.stutitXwen dd span a:hover{color:#EB8C14;}
.stutitXwen dd p{text-align:justify;text-justify:inter-ideograph;}
.stutitXwen ul{line-height:22px;font-size:14px;}
.listWithPic{overflow:hidden;zoom:1;}
.listWithPic a{display:inline;float:left;width:145px;height:97px;overflow:hidden;zoom:1;position:relative;background:#131D27;text-align:center;}
.listWithPic a span{display:block;width:135px;height:auto;line-height:18px;padding:2px 5px;color:#ffffff;cursor:pointer;overflow:hidden;zoom:1;position:absolute;left:0;bottom:0;_bottom:-1px;background-color:rgba(0,0,0,0.7)!important;filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#af000000',EndColorStr='#af000000');text-align:left;}
.listWithPic a:hover span{background-color:rgba(0,114,188,1)!important;filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#ff0072bc',EndColorStr='#ff0072bc');}
/* 全站排行榜共用样式 */
.top10{margin-bottom:8px;}
.top10 h3{position:relative;zoom:1;}
.top10Nav{position:absolute;bottom:-2px;_bottom:-3px;left:10px;overflow:hidden;zoom:1;}
.top10Nav li{float:left;width:98px;height:28px;line-height:26px;border-top:solid 3px #F1F1F1;border-right:solid 1px #ffffff;border-left:solid 1px #F1F1F1;color:#0072bc;cursor:pointer;text-align:center;}
.top10Nav li.current{width:98px;height:30px;line-height:26px;background:#ffffff;border-top:solid 3px #0072bc;border-left:solid 1px #0072bc;border-right:solid 1px #0072bc;}
.top10Con{margin-top:-8px;padding-bottom:10px;}
.top10Con dl{line-height:28px;}
.top10Con dt{float:left;width:15px;padding-right:10px;text-align:center;}
.top10Con dd{overflow:hidden;zoom:1;}
.top10Con dd a{padding-bottom:5px;border-bottom:solid 2px #ffffff;}
.top10Con dd a:hover{color:#000000;border-bottom:solid 2px #c3c3c3;}
.top10Con dd span{font-weight:bold;}
/* 分享 */
.rssBox{background:#f1f1f1;padding:10px 15px;margin-bottom:20px;}
.rssBox ul{padding:5px 0 15px;overflow:hidden;zoom:1;}
.rssBox li{float:left;width:35px;height:35px;margin-right:15px;}
.rssBox li a{display:block;width:35px;height:35px;background:url(http://file.caixin.com/file/content/images/new/share.png) no-repeat;cursor:pointer;}
.rssBox .sina{margin:0;}
.rssBox .sina a{background-position:-151px 0;}
.rssBox .qq a{background-position:-101px 0;}
.rssBox .rss a{background-position:-50px 0;}
.rssBox .iphone a{background-position:0 0;}
.rssBox p{width:184px;height:33px;border:solid 1px #fcaf16;overflow:hidden;zoom:1;}
.rssBox p input{float:left;font-size:12px;}
.rssBox p input.txt{width:112px;height:33px;line-height:33px;background:#ffffff;padding:0 5px;color:#9b9b9b;}
.rssBox p input:focus.txt{color:#000000;}
.rssBox p input.rss_email{width:62px;height:33px;line-height:33px;background:#fcaf16;text-align:center;color:#ffffff;cursor:pointer;}
.rssBox dl{float:right;text-align:center;}
.rssBox dt{padding-bottom:4px;font-size:14px;line-height:14px;_line-height:16px;font-weight:bold;color:#060606;}
.rssBox dd{line-height:0;}
/* 首页 */
.homepageCon{width:990px;padding:5px 0 10px;margin:0 auto;}
.topSubNav{height:25px;line-height:25px;overflow:hidden;zoom:1;}
.topSubNav .tit{float:left;}
.topSubNav .tit a{color:#858585;}
.topSubNav .tit a:hover{color:#EB8C14;}
.scrollnews{float:left;width:592px;}
.scrollnews ul span{color:#858585;margin-left:10px;}
.scrollnews li a{color:#336699;}
.scrollnews li a:hover{color:#EB8C14;}
.morenews{float:right;}
.morenews a{display:inline-block;padding:0 12px;}
.morenews a:hover{background:#c3c3c3;color:#ffffff;}
/* 头条 */
.topNews{height:260px;overflow:hidden;zoom:1;margin-bottom:20px;}
.topNews .lf{float:left;width:300px;margin-right:10px;}
.topNews .mi{float:left;width:370px;}
.topNews .ri{float:right;width:300px;}
.topNews .demolNews{padding:0 10px;margin-top:-3px;}
.topNews .demolNews dl{padding:0;border:none;margin:0;}
.topNews .demolNews dt{font-size:20px;font-family:"微软雅黑";line-height:30px;font-weight:bold;}
.topNews .demolNews dd p{font-size:14px;}
.topNews .demolNews ul{padding-bottom:10px;}
.changePic{position:relative;zoom:1;}
.changePic dt img{display:block;width:300px;height:200px;}
.changePic dd{padding:10px 15px;}
.changePic dd h4{font-size:14px;}
.lstjbd{background:#f1f1f1;}
.lstjtiri{position:absolute;right:5px;top:180px;overflow:hidden;zoom:1;}
.lstjtiri li{float:left;width:18px;height:18px;cursor:pointer;font:0px sans-serif;}
.sxs{background:url(http://file.caixin.com/file/common/images/ico/changepic.png) no-repeat 0 -18px;}
.sxs1{background:url(http://file.caixin.com/file/common/images/ico/changepic.png) no-repeat 0 0;}
/* 推荐 */
.indexMainConlf .recommendBox{margin-bottom:5px;}
.indexMainConlf .recommendBox .ltuRwen{border-bottom:1px solid #8BC7EE;}
.indexMainConlf .recommendBox .ltuRwen h4{font-family:"黑体";font-size:16px;letter-spacing:-1px;font-weight:normal;line-height:22px;}
.indexMainConlf .recommendBox .stutitXwen{margin-top:-10px;}
.indexMainConlf .demolNews dt{font-size:16px;}
.indexMainConlf .demolNews li,.indexMainConlf .stutitXwen li{font-size:15px;font-family:"黑体";line-height:24px;letter-spacing:-1px;}
.indexMainConlf .demolNews li a{color:#000000;}
.indexMainConlf .demolNews li a:hover{color:#EB8C14;}
.indexMainConmi .recommendBox{overflow:hidden;zoom:1;}
.indexMainConmi .recommendBox h3{margin:0;}
.indexMainConmi .recommendBox .demolNews{padding-bottom:17px;border-bottom:1px solid #8BC7EE;/*margin:0 17px -1px;*/margin:0 0 -1px;}
.indexMainConmi .recommendBox dl{padding-bottom:0;border:none;}
.indexMainConmi .recommendBox ul{padding-top:5px;}
/* 数字新闻 */
.digitalBox .demolNews{margin-top:-10px;}
.digitalBox .demolNews ul{padding-bottom:10px;}
.digitalBox .meta a{color:#336699;}
.digitalBox .meta a:hover{color:#EB8C14;}
/* 精英访谈 */
.talkBox{margin-bottom:23px;}
.talkBox h3 span{float:right;padding-right:10px;font-size:12px;font-weight:normal;}
.talkBox dt{border-bottom:1px solid #ccc;padding-bottom:5px;overflow:hidden;zoom:1;}
.talkBox dt .pic{float:right;}
.talkBox dt .pic img{display:block;width:60px;height:60px;}
.talkBox dt .txt{overflow:hidden;zoom:1;padding-right:6px;}
.talkBox dt .txt h4{margin:0;padding-right:30px;font-size:14px;font-weight:bold;overflow:hidden;zoom:1;}
.talkBox dt span{display:block;color:#858585;}
.talkBox dd{padding-top:6px;text-align:justify;text-justify:inter-ideograph;}
.talkBox ul{padding-top:10px;font-size:14px;line-height:22px;}
.talkBox li{padding:2px 0;font-weight:bold;}
/* 视听 */
.videoBox{margin-bottom:21px;}
.videoBox h3{border-color:#048479;color:#048479;}
.videoBox h3 a{color:#048479;}
.videoBox h3 a:hover{color:#EB8C14;}
.videoBox dt{height:237px;overflow:hidden;}
.videoBox dd{padding:10px 0;}
.videoBox dd h4{font-size:14px;}
.videoBox .scroll_cont{overflow:hidden;zoom:1;}
.videoBox .scroll_cont .scrollBox{float:left;width:276px;height:100px;margin:0 2px;overflow:hidden;zoom:1;}
.videoBox .scroll_cont .leftBtn,.videoBox .scroll_cont .rightBtn{float:left;width:10px;height:60px;cursor:pointer;}
.videoBox .scroll_cont .leftBtn{background:url(http://file.caixin.com/file/common/images/ico/ico.png) no-repeat 0 -209px;}
.videoBox .scroll_cont .rightBtn{background:url(http://file.caixin.com/file/common/images/ico/ico.png) no-repeat -11px -209px;}
.videoBox .scroll_cont .imgList{width:20000px;}
.videoBox .scroll_cont .imgList ul{float:left;}
.videoBox .scroll_cont .imgList li{float:left;width:82px;padding:0 5px;font-size:12px;}
.videoBox .scroll_cont .imgList li img{display:block;width:82px;height:55px;margin-bottom:5px;}
.scrollnewsvideo{height:25px;line-height:25px;padding:5px 0 0 10px;border-top:solid 1px #81c1bc;margin-top:5px;overflow:hidden;zoom:1;}
.scrollnewsvideo li{height:25px;overflow:hidden;font-size:14px;}
.scrollnewsvideo li a{color:#336699;}
.scrollnewsvideo li a:hover{color:#EB8C14;}
.scrollnewsvideo li span{color:#858585;margin-left:10px;font-size:12px;}
/* 投票 */
.voteBox{margin-bottom:20px;}
.voteBox dt{font-size:14px;font-weight:bold;}
.voteBox dd{padding:10px 0 15px;}
.voteBox p{text-align:center;}
.voteBox p a{display:inline-block;width:85px;height:26px;line-height:26px;background:#c3c3c3;margin:0 15px;text-align:center;color:#ffffff;}
.voteBox p a:hover{background:#0072bc;color:#ffffff;}
/* 微财新闻 */
.vnewsBox li{padding:5px 0 17px;border-bottom:solid 1px #8bc7ee;}
.vnewsBox .ctime{float:left;}
.vnewsBox .op{float:right;}
.vnewsBox .op a{color:#336699;}
.vnewsBox .op a:hover{color:#EB8C14;}
.vnewsBox .clearline{clear:both;}
/* 火线评论 */
.hotlineBox{margin-bottom:23px;}
.hotlineBox .stutitXwen{margin-top:-10px;}
.hotlineBox .stutitXwen ul{padding-top:5px;}
.hotlineBox .demolNews{margin-top:-10px;}
/* 意见领袖 */
.leaderBox{margin-bottom:23PX;}
.leaderBox .demolNews{margin-top:-10px;}
/* 改革专栏 */
.reformBox{margin-bottom:23px;}
.reformBox h3{background:#507982;}
.reformBox h5{height:31px;line-height:31px;background:#F1F1F1;padding-left:10px;margin-bottom:10px;font-weight:bold;color:#507982;font-size:14px;}
.reformBox h5 a{color:#507982;}
.reformBox h5 a:hover{color:#EB8C14;}
.reformBox .stutitXwen{margin-top:-10px;}
.reformBox strong{display:block;margin:0 0 17px;font-size:16px;font-family:"黑体";letter-spacing:-1px;font-weight:normal;}
.reformBox strong span{font-size:14px;font-family:"宋体";letter-spacing:normal;font-weight:bold;}
.reformBox strong span a{color:#336699;}
.reformBox strong span a:hover{color:#EB8C14;}
/* 改革新论 */
.theoryBox{margin-bottom:15px;}
.theoryBox .demolNews{margin-top:-10px;}
.theoryBox .demolNews dl{padding-bottom:3px;border:none;}
/* 财新漫画 */
.cartoonBox{position:relative;zoom:1;margin-bottom:20px;}
.cartoonBox .listWithPic a{display:block;float:none;width:300px;height:250px;}
.cartoonBox .listWithPic a img{width:300px;height:250px;}
.cartoonBox .listWithPic a span{width:280px;height:30px;line-height:30px;padding:0 10px;font-size:14px;font-weight:bold;}
.cartoonBox .icon{position:absolute;top:0px;left:0px;}
/* 财新博客 */
.blogBox{margin-bottom:5px;}
.blogBox h3{background:#6c0f13;}
.blogBox .stutitXwen{margin-top:-10px;}
.blogBox .stutitXwen dl{border-color:#ca8084;}
/* 文化 */
.cultureBox h3{background:#7a446a;}
.cultureBox .demolNews{margin-top:-10px;}
.cultureBox .demolNews dl{border-color:#b88fac;}
/* 更多专栏作家 */
.authorBox{margin-bottom:20px;}
.authorBox h5{height:31px;line-height:31px;background:#f1f1f1;padding-left:12px;margin-bottom:10px;font-weight:bold;border-bottom:solid 2px #7a446a;color:#7a446a;font-size:14px;}
.authorBox ul{overflow:hidden;zoom:1;}
.authorBox li{float:left;width:60px;margin:0 20px 10px 0;text-align:center;}
.authorBox li.marginNone{margin:0;}
.authorBox li a{display:block;background:#F1F1F1;padding-bottom:3px;color:#777777;}
.authorBox li a:hover{background:#C3C3C3;color:#ffffff;}
.authorBox li img{display:block;width:60px;height:60px;margin-bottom:5px;}
/* 财新图书 */
.bookBox h5{position:relative;zoom:1;height:31px;line-height:31px;background:#f1f1f1;padding-left:10px;margin-bottom:10px;font-weight:bold;border-bottom:solid 2px #7a446a;color:#7a446a;font-size:14px;}
.bookBox h5 a{color:#7a446a;}
.bookBox h5 a:hover{color:#EB8C14;}
.bookNav{position:absolute;bottom:-2px;_bottom:-3px;right:10px;overflow:hidden;zoom:1;}
.bookNav li{float:left;width:40px;height:28px;line-height:26px;border-top:solid 3px #F1F1F1;border-right:solid 1px #ffffff;border-left:solid 1px #F1F1F1;color:#7a446a;cursor:pointer;text-align:center;}
.bookNav li.current{width:40px;height:30px;line-height:26px;background:#ffffff;border-top:solid 3px #7a446a;border-left:solid 1px #7a446a;border-right:solid 1px #7a446a;}
.bookCon dl{overflow:hidden;zoom:1;}
.bookCon dt{float:left;margin-right:10px;}
.bookCon dd{overflow:hidden;zoom:1;}
.bookCon dd h4{font-size:14px;}
.bookCon dd span{display:block;color:#858585;}
/* 栏目模块 */
.channelBox{margin-bottom:23px;}
.channelBox .demolNews{/*margin:-10px 17px 0;*/ margin:-10px 0 0;}
.economyColor h3{background:#78447e;}
.economyColor .demolNews dl{border-color:#bba1be;}
.financialColor h3{background:#9c4564;}
.financialColor .demolNews dl{border-color:#cda2b1;}
.companyColor h3{background:#036386;}
.companyColor .demolNews dl{border-color:#81b1c2;}
.chinaColor h3{background:#6e2458;}
.chinaColor .demolNews dl{border-color:#b691ab;}
.internationalColor h3{background:#607422;}
.internationalColor .demolNews dl{border-color:#afb990;}
.channelBox h3 span{float:right;padding-right:10px;font-size:12px;color:#ffffff;font-weight:normal;}
.columnTopic{margin:0 17px 0;}
.columnTopic dt{position:relative;zoom:1;}
.columnTopic dt .icon{position:absolute;top:0px;left:0px;}
.columnTopic dt .icon img{width:60px;height:60px;}
.columnTopic dt img{display:block;width:300px;height:100px;}
.columnTopic dd{padding:10px 0;}
.columnTopic dd h4{font-size:18px;font-family:"黑体";font-weight:normal;letter-spacing:-1px;}
.columnTopic li{font-size:14px;line-height:22px;}
.columnTopic li a{color:#336699;}
.columnTopic li a:hover{color:#EB8C14;}
.columnTopic .more{background:url(http://file.caixin.com/file/homepage/images/icon_01.png) no-repeat 0 center;padding-left:10px;}
/* 杂志期刊 */
.magBox{margin-bottom:15px;}
.magBox h3{position:relative;zoom:1;}
.magNav{position:absolute;bottom:-2px;_bottom:-3px;left:10px;overflow:hidden;zoom:1;}
.magNav li{float:left;height:28px;line-height:26px;padding:0 4px;border-top:solid 3px #F1F1F1;border-right:solid 1px #ffffff;border-left:solid 1px #F1F1F1;color:#0072bc;cursor:pointer;text-align:center;}
.magNav li a:hover{color:#0072bc;}
.magNav li.current{height:30px;line-height:26px;padding:0 4px;background:#ffffff;border-top:solid 3px #0072bc;border-left:solid 1px #0072bc;border-right:solid 1px #0072bc;}
.magCon dt{padding:5px 0 15px;color:#858585;overflow:hidden;zoom:1;}
.magCon dt a{float:left;margin-right:15px;}
.magCon dt a img{display:block;border:solid 1px #cccccc;}
.magCon dd h4{font-size:18px;font-family:"黑体";font-weight:normal;letter-spacing:-1px;}
.magCon ul{padding:5px 0;}
.magCon li{line-height:24px;font-size:14px;}
.magCon li a{color:#336699;}
.magCon li a:hover{color:#EB8C14;}
.magBox .more a{display:inline-block;background:url(http://file.caixin.com/file/homepage/images/icon_01.png) no-repeat right 4px;padding-right:10px;margin-right:15px;}
/* PC移动公用杂志期刊 */
/* clear folat */
.cf:before,.cf:after{content:" ";display:table;}
.cf:after{clear:both;}
.cf{*zoom:1;}
/* slider-nav */
.tab-nav{color:#0072bc;position:absolute;bottom:-2px;_bottom:-3px;left:10px;overflow:hidden;zoom:1;}
.tab-nav a{color:#0072bc;}
.tab-nav li a:hover{color:#0072bc;}
.tab-nav li{float:left;height:28px;line-height:26px;padding:0 4px;border-top:solid 3px #F1F1F1;border-right:solid 1px #ffffff;border-left:solid 1px #F1F1F1;color:#0072bc;cursor:pointer;text-align:center;}
.tab-nav li.tab-selected{height:30px;line-height:26px;padding:0 4px;background:#ffffff;border-top:solid 3px #0072bc;border-left:solid 1px #0072bc;border-right:solid 1px #0072bc;}
.tab-cons{margin:0 5%;}
.tab-cons>li{display:none;}
li.display{display:block;}
/* mgz */
.cover-img{width:117px;position:absolute;top:25px;left:0;z-index:100;border:1px solid #eee;}
.cover-img img{width:100%;vertical-align:top;}
.mgz-cons li{position:relative;padding-top:25px;height:170px;}
.mgz-cons dl{padding-left:130px;}
.mgz-cons dt{line-height:20px;font-size:16px;font-family:arial,"黑体"}
.mgz-cons dt span{display:block;font-size:14px;color:#9b9b9b;}
.mgz-cons dd{line-height:16px;font-size:12px;margin-top:6px;}
.mgz-cons dd span{display:block;font-size:12px;color:#9b9b9b;margin-top:5px;}
.mgz-other{margin:25px 5% 35px;}
.mgz-other li{height:32px;line-height:32px;border:1px solid #f8ad18;text-align:center;color:#f8ad18;margin-bottom:20px;overflow:hidden;}
.mgz-other a{color:#f8ad18;}
li.mgz-take-bt{background:#f8ad18;margin-bottom:0;}
.mgz-take-bt a{color:#fff;display:block;}
/* 日历 */
.dateBox{margin-bottom:30px;}
.dateBox ul{margin-top:-5px;}
.dateBox li{font-size:14px;line-height:24px;}
.dateBox .more{padding:5px 0 7px;}
.dateBox .more a{color:#336699;}
.dateBox .more a:hover{color:#EB8C14;}
.dateBox .more a.icon{background:url(http://file.caixin.com/file/homepage/images/icon_01.png) no-repeat right 0;padding-right:10px;}
.dateBox .time{overflow:hidden;zoom:1;line-height:26px;}
.dateBox .time strong{float:left;}
.dateBox .time .calendar{float:left;width:130px;height:26px;line-height:26px;background:url(http://file.caixin.com/file/homepage/images/date_bg.png) no-repeat;padding-left:10px;margin-left:10px;cursor:pointer;vertical-align:middle;}
.dateBox .time a.dateBt{float:left;width:86px;height:26px;line-height:26px;background:#c3c3c3;margin-left:10px;color:#ffffff;text-align:center;cursor:pointer;}
.dateBox .time a:hover.dateBt{background:#0072bc;}
/* 行情数据 */
.marketBox{margin-bottom:15px;}
/* 评论精选 */
.csBox{margin-bottom:20px;}
.csBox dl{margin:-3px 0 20px;}
.csBox dt{float:left;margin:3px 15px 0 0;}
.csBox dt img{display:block;widows:50px;height:50px;}
.csBox dd a.author{color:#336699;}
.csBox dd a:hover.author{color:#EB8C14;}
.csBox dd p{clear:both;padding-top:7px;}
/* 专题 */
.topicBox{margin-bottom:10px;}
.topicPic dt{padding-bottom:7px;}
.topicPic dt img{display:block;}
.topicPic dd h4{font-size:14px;}
.topicPic dd p a{color:#336699;}
.topicPic dd p a:hover{color:#EB8C14;}
.topicList dt{padding:15px 0 5px;}
.topicList dt a{color:#858585;}
.topicList dt a:hover{color:#EB8C14;}
.topicList dd h4{padding-bottom:3px;font-size:14px;font-weight:bold;}
.topicList dd p{padding-bottom:10px;text-align:justify;text-justify:inter-ideograph;}
.topicList dd p a{color:#858585;}
.topicList dd p a:hover{color:#EB8C14;}
/* 视听排行与热点图片 */
.videoRankBox h3{color:#048479;border-color:#048479;}
.picRankBox h3{color:#2a4f6b;border-color:#2a4f6b;}
.videoRankBox,.picRankBox{margin-bottom:10px;_margin-bottom:0;overflow:hidden;zoom:1;}
.videoRankBox .listWithPic a.mr10,.picRankBox .listWithPic a.mr10{margin-right:10px;}
.videoRankBox .listWithPic a,.picRankBox .listWithPic a{margin-bottom:10px;}
/* 反侵权与订阅中心 */
.ggbBox,.subBox{margin-bottom:23px;}
.ggbBox h3,.subBox h3{position:relative;zoom:1;}
.ggbNav,.subNav{position:absolute;bottom:-2px;_bottom:-3px;left:10px;overflow:hidden;zoom:1;}
.ggbNav li,.subNav li{float:left;width:88px;height:28px;line-height:26px;border-top:solid 3px #F1F1F1;border-right:solid 1px #ffffff;border-left:solid 1px #F1F1F1;color:#0072bc;cursor:pointer;text-align:center;}
.ggbNav li a:hover,.subNav li a:hover{color:#0072bc;}
.ggbNav li.current,.subNav li.current{width:88px;height:30px;line-height:26px;background:#ffffff;border-top:solid 3px #0072bc;border-left:solid 1px #0072bc;border-right:solid 1px #0072bc;}
.ggbCon dt{float:left;margin-right:10px;color:#858585;}
.ggbCon dd{overflow:hidden;zoom:1;}
.subCon dt{padding-bottom:7px;}
.subCon dt img{display:block;}
.subCon dd a{color:#858585;font-size:14px;font-weight:bold;}
.subCon dd a:hover{color:#EB8C14;}
/* 电视合作 */
.tvBox{margin-bottom:23px;}
.tvBox h3{border-color:#048479;}
.tvBox h3 a{color:#048479;}
.tvBox h3 a:hover{color:#EB8C14;}
.tvBox dt{font-size:14px;font-weight:bold;}
.tvBox ul{padding-top:10px;font-size:14px;line-height:22px;}
/* 回到顶部 */
.gotop{width:54px;position:fixed;right:40px;bottom:2px;display:none;}
* html .gotop{position:absolute;top:expression(offsetParent.scrollTop+document.documentElement.clientHeight-this.offsetHeight);}
.gotop button{background:url(http://file.caixin.com/file/homepage/images/main_top.png) no-repeat -54px 0;width:54px;height:54px;padding:0;border:none;}
.gotop button:hover{background-position:0 0;cursor:pointer;}
.gotop button span{display:none;}
/* 头部推荐位样式 */
.tuijian_b{margin-top:-10px;}
.tuijian_b dl{padding:10px 0;overflow:hidden;zoom:1;}
.tuijian_b dt{float:left;margin-right:10px;}
.tuijian_b dt img{display:block;}
.tuijian_b dd h4{font-size:14px;}
.tuijian_b ul{padding-top:10px;border-top:solid 1px #cccccc;}
.tuijian_b li{line-height:22px;font-size:14px;}
.tuijian_b li a{color:#336699;}
.tuijian_b li a:hover{color:#eb8c14;}
.tuijian_c{margin-top:-12px;overflow:hidden;zoom:1;}
.tuijian_c li{padding:10px 0 7px;border-bottom:1px solid #ccc;margin-bottom:-1px;}
.tuijian_c .pic{float:left;margin:2px 10px 0 0;}
.tuijian_c .pic img{display:block;width:75px;height:50px;}
.tuijian_c h4{margin:0 0 2px;font-size:14px;zoom:1;}
.tuijian_a{margin-top:-10px;overflow:hidden;zoom:1;}
.tuijian_a li{padding:8px 0 5px;border-bottom:dotted 1px #ccc;margin-bottom:-1px;}
.tuijian_a .pic{float:left;margin:2px 10px 0 0;}
.tuijian_a .pic img{display:block;width:60px;height:60px;}
.tuijian_a p{clear:both;padding-top:2px;zoom:1;}
.tuijian_a h4{margin:0 0 2px;font-size:14px;zoom:1;}
.tuijian_d{margin-top:-12px;overflow:hidden;zoom:1;}
.tuijian_d dl{padding-top:10px;}
.tuijian_d dt{float:left;margin:2px 10px 0 0;}
.tuijian_d dd h4{margin:0 0 2px;font-size:14px;zoom:1;line-height:20px;}
.tuijian_d ul{padding:0px 0 6px;border-bottom:solid 1px #cccccc;margin-bottom:-1px;}
.tuijian_d li{background:url(http://file.caixin.com/file/common/images/dot.jpg) no-repeat 0 8px;padding-left:10px;line-height:22px;font-size:14px;}
.tuijian_d li a{color:#336699;}
.tuijian_d li a:hover{color:#eb8c14;}
/* 财新周末版 */
.topNews .weekend{height:300px;background:#fffcf6;overflow:hidden;}
.topNews .weekend h3{background:#fbb217;}
.indexMainConmi .weekend{background:#fffcf6;margin-bottom:20px;}
.indexMainConmi .weekend .demolNews{border-color:#fdd586;}
.indexMainConmi .weekend .demolNews .pic{float:right;margin-left:10px;}
.indexMainConmi .weekend .demolNews .pic img{width:75px;height:50px;}
.indexMainConmi .weekend .demolNews dd span,.indexMainConmi .weekend .demolNews dd p{overflow:hidden;zoom:1;}
.indexMainConlf .weekend dl{border-color:#fdd586;}
.indexMainConlf .weekend dt{height:auto;}
.indexMainConlf .weekend dt .pic{margin-right:10px;}
.indexMainConlf .weekend dt .pic img{width:75px;height:50px;}
.indexMainConlf .weekend dt .txt h4{height:auto;}
.yearLeft{float:left;width:140px;}
.yearRight{float:right;width:140px;}
#zhengquan{float:right;color:#F30100;font-size:12px;font-weight:normal;padding-right:10px;}
#kuaixunTit{overflow:hidden;zoom:1;}
.tuijian_c span{color:#858585;}
/* 财新微博 */
.cxv{background:url(http://file.caixin.com/file/channel/images/icon_v.jpg) no-repeat right center;padding-right:20px;}
.cxWeibo{background:#fbfbfb;padding:0 10px;}
.weiboImg img{border:1px solid #d3d3d3;padding:5px;}
.cxWeibo li{padding:5px 0;border-bottom:1px solid #f1f1f1;}
.cxWeibo .date{overflow:hidden;zoom:1;}
.cxWeibo .date span{float:left;color:#369;}
.cxWeibo .date p{float:right;color:#369;}
.cxWeibo .date p a{color:#369;}
.cxWeibo .date p a:hover{color:#eb8c14;}
.addGz{color:#fff;background:#0072bc;height:20px;line-height:20px;cursor:pointer;padding:0 5px;font-size:12px;letter-spacing:1px;margin-top:6px;}
#weibo_guanzhu{float:right;color:#F30100;margin-top:2px;}
/* 新华社消息&公司快讯 */
.gskx li{padding:3px 10px 0;width:auto;}
.gskx li.current{width:auto;}
.gskx h3{height:34px;}
.gskx li p{float:left;padding-right:3px;}
/* 特色栏目 */
.teseTit{position:relative;margin-bottom:10px;font-size:20px;color:#0072bc;font-family:"黑体";}
.teseTit img{vertical-align:middle;margin-right:5px;}
.tesecode{position:absolute;right:0px;top:10px;width:107px;height:30px;background:url(http://file.caixin.com/file/homepage/images/tese.png) no-repeat;padding:7px 0 0 40px;font-size:12px;font-family:"宋体";color:#000000;cursor:pointer;}
.tesecode img{display:none;position:absolute;top:37px;right:0px;margin:0;}
.tesecode:hover img{display:block;}
.teseCon{margin-bottom:20px;}
.teseCon dt{font-size:16px;font-family:"黑体";letter-spacing:-1px;line-height:24px;}
.teseCon ul{padding-top:5px;}
.teseCon li{background:url(http://file.caixin.com/file/common/images/dot.jpg) no-repeat 0 8px;padding-left:10px;line-height:22px;font-size:14px;}
.teseCon li a{color:#336699;}
.teseCon li a:hover{color:#eb8c14;}
/* 首页视频入口 */
.videoBox02{margin-bottom:23px;font-size:14px;}
.videoBox02 h3{border-color:#048479;overflow:hidden;zoom:1;}
.videoBox02 h3 img{float:left;margin:2px 7px 0 0;}
.videoBox02 h3 a{color:#048479;}
.videoBox02 h3 a:hover{color:#EB8C14;}
.videoBox02 dl{margin-bottom:15px;}
.videoBox02 dt img{width:300px;height:225px;}
.videoBox02 dd{font-size:18px;font-family:"微软雅黑";letter-spacing:-1px;margin-top:5px;}
.videoBox02 li{overflow:hidden;zoom:1;margin:5px 0 0 0;}
.videoBox02 li p{float:left;margin-right:10px;}
.videoBox02 li p img{width:82px;height:55px;}
.videoBox02 li span{display:block;}
/* 财新一线 */
.caixinyixian{font-family:"微软雅黑";margin-bottom:20px;}
.caixinyixian h3{height:31px;line-height:31px;background:#f1f1f1;padding-left:10px;margin-bottom:10px;font-weight:bold;border-bottom:solid 2px #0072bc;margin-bottom:10px;font-size:14px;}
.caixinyixian h3 img{padding-top:5px;}
.caixinyixian h3 span{float:right;padding-right:10px;font-size:14px;font-weight:normal;}
.yixianCon{height:210px;overflow-y:auto;overflow-x:hidden;}
.yixianCon dl{border-bottom:1px solid #ebebeb;padding-bottom:10px;font-size:14px;margin-top:15px;line-height:170%;}
.yixianCon dt{color:#369;}