.flowplayer.is-mouseout .fp-prev,
.flowplayer.is-mouseout .fp-next{
  display: none;
}

.is-ready.is-mouseover .fp-prev,
.is-ready.is-mouseover .fp-next{
  display: block;
}

.video0 .fp-prev{
  display: none !important;
}

.last-video .fp-next{
  display: none !important;
}

.ad-is-visible .fp-prev,
.ad-is-visible .fp-next{
  display: none !important;
}

.fp-prev,
.fp-next {
  position: absolute;
  top: calc(50% - 20px);
  width: 40px;
  height: 40px;
  z-index: 99;
  cursor: pointer;
  text-decoration: none;
  display: none;
  background-size: contain;
    background-repeat: no-repeat;
}
.fp-prev {
  left: 15px;
  background-image: url("http://pad.mymovies.it/v12/script/flowplayer/img/prev.png");
}

.fp-next {
  right: 15px;
  background-image: url("http://pad.mymovies.it/v12/script/flowplayer/img/next.png");
}
.fp-playlist {
  position: absolute;
  top: calc(100% + 15px);
  z-index: 2;
  width: calc(100% + 20px);
  margin: -10px -10px 0px -10px;
}

.fp-playlist a {
  padding: 10px;

}
.fp-playlist a img {
  border: 3px solid #ffffff;
}
.fp-playlist a img:hover {
  border: 3px solid #57bed4;
}
.fp-playlist a.is-active img{
  border: 3px solid #016682 !important;
}

.flowplayer .fp-title{
  height: auto !important;
  padding: 10px !important;
  font-size: 100% !important;
  max-width: 90% !important;
  color: #ffffff !important;
  line-height: normal !important;
  letter-spacing: normal !important;
}

.flowplayer .fp-speed{
  display: none !important;
}

.flowplayer .fp-title a{
	color: #57bed4;
}
.flowplayer.is-mouseover .fp-title a{
  color: #ffffff;
}

.flowplayer.is-mouseover .fp-title a:hover{
  color: #57bed4;
}