/*define variable ------------------- */
/*
28/04/2014 - tatuan142@gmail.com
Base Styles
Used for all pages
*/
/*================================*/
/*TYPO*/
/*================================*/
@font-face {
  font-family: commercecb;
  font-weight: normal;
  src: url('../fonts/Commercb-Bold_gdi.eot?v=1.01');
  src: local('☺'), url('../fonts/Commercb-Bold_gdi.ttf?v=1.01') format('truetype'), url('../fonts/Commercb-Bold_gdi.woff?v=1.01') format('woff');
}
@font-face {
  font-family: avantgd;
  font-weight: normal;
  src: url('../fonts/AvantGarde_gdi.eot');
  src: local('☺'), url('../fonts/AvantGarde_gdi.ttf') format('truetype'), url('../fonts/AvantGarde_gdi.woff') format('woff');
}
@font-face {
  font-family: 'UTM_Avo';
  src: url('../fonts/UTM_Avo.eot');
  src: local('☺'), url('../fonts/UTM_Avo.ttf') format('truetype'), url('../fonts/UTM_Avo.woff') format('woff'), url('../fonts/UTM_Avo.svg#UTM_Avo') format('svg');
}
body {
  font: 13px Arial, Helvetica, sans-serif;
  color: #111;
}
a {
  color: #000;
  text-decoration: none;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #0645ad;
}
/*================================*/
/*EFFECT  & RESPONSIVE*/
/*================================*/
a:link,
a:visited {
  transition: color .1s linear;
}
.pagination a {
  transition: background .2s linear, color .2s linear;
}
[placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
/*================================*/
/*STORY*/
/*================================*/
.story:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .story {
  zoom: 1;
}
/* IE6 */
*:first-child + html .story {
  zoom: 1;
}
/* IE7 */
.story .meta {
  color: #333333;
  font-size: .85em;
  margin: 0 0 1em;
}
.story .meta a:link,
.story .meta a:visited {
  display: inline-block;
}
.story .meta time {
  color: #808080;
}
.story .thumbnail {
  margin: 0;
  padding: 0;
}
.story .title {
  margin: 0;
  padding: 0;
  line-height: 1.4em;
}
.story .summary {
  padding: 0;
  margin: 0;
  line-height: 1.4em;
}
/*story layouts*/
.verticle-clear .story {
  /*verticle with thumb on left - thumb margin-right:10px  - article clear:both -*/
  clear: both;
}
.verticle-clear .story .thumbnail {
  float: left;
  margin: 0px 0px 10px 0;
}
.verticle-left .story {
  /*verticle with thumb on left - thumb margin-right:10px  - article float:left -*/
  float: left;
}
.verticle-left .story .thumbnail {
  float: left;
  margin: 0px 0px 10px 0;
}
.hzol-clear .story {
  /*horizontal with thumb on left - thumb margin-right:10px  - article clear:both -*/
  clear: both;
}
.hzol-clear .story .thumbnail {
  float: left;
  margin: 3px 10px 0 0;
}
.hzol-left .story {
  /*horizontal with thumb on left - thumb margin-right:10px  - article float:left -*/
  float: left;
}
.hzol-left .story .thumbnail {
  float: left;
  margin: 3px 10px 0 0;
}
/*================================*/
/*FORMAT STYLES*/
/*================================*/
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h4 {
  font-size: 13px;
}
body {
  background: #fafafa;
}
/*================================*/
/*ICON STYLES*/
/*================================*/
.sprite {
  background-image: url('../Images/sprites.png');
  display: inline-block;
  vertical-align: middle;
}
.spr-search {
  background-position: 0 -100px;
  width: 13px;
  height: 13px;
}
.spr-infomation {
  background-position: -200px -100px;
  width: 16px;
  height: 16px;
}
.spr-envelope {
  background-position: -150px -100px;
  width: 16px;
  height: 16px;
}
.spr-weather {
  background-position: 0px 0px;
  width: 35px;
  height: 35px;
}
.spr-weather {
  background-position: 0px 0px;
  width: 35px;
  height: 35px;
}
.spr-rainNsun {
  background-position: -50px 0px;
  width: 40px;
  height: 43px;
}
.spr-rainNshiningsun {
  background-position: -100px 0px;
  width: 40px;
  height: 43px;
}
.spr-rainNlightning {
  background-position: -150px 0px;
  width: 40px;
  height: 43px;
}
.spr-rainNlightning {
  background-position: -150px 0px;
  width: 40px;
  height: 43px;
}
.spr-electric {
  background-position: -250px -50px;
  width: 25px;
  height: 25px;
}
.spr-gold {
  background-position: 0px -50px;
  width: 25px;
  height: 25px;
}
.spr-lotery {
  background-position: -200px -50px;
  width: 25px;
  height: 25px;
}
.spr-market {
  background-position: -100px -50px;
  width: 25px;
  height: 25px;
}
.spr-film {
  background-position: -50px -50px;
  width: 25px;
  height: 25px;
}
.spr-tv {
  background-position: -150px -50px;
  width: 25px;
  height: 25px;
}
/* HEADER FOOTER NAVIGATOR style =================================== */
#siteheader {
  position: relative;
  /* top header */
}
#siteheader #top {
  background: #fff;
  font-size: 12px;
  height: 35px;
  border-bottom: 1px solid #ddd;
}
#siteheader #top time {
  float: left;
  color: #999;
  height: 35px;
  line-height: 35px;
  margin-right: 30px;
}
#siteheader #top .top-social {
  float: left;
  height: 35px;
  line-height: 35px;
  margin-right: 20px;
}
#siteheader #top .top-social a {
  float: left;
  margin-right: 10px;
}
#siteheader #top .relate-site {
  float: left;
  height: 35px;
  line-height: 35px;
}
#siteheader #top .relate-site a {
  font-size: 12px;
  display: inline-block;
  float: left;
  margin-right: 20px;
  text-transform: uppercase;
}
#siteheader #top .search {
  margin-top: 7px;
  float: right;
  border: 1px solid #ccc;
  position: relative;
  padding: 2px 20px 2px 0;
}
#siteheader #top .search span {
  position: absolute;
  left: -60px;
  text-transform: uppercase;
}
#siteheader #top .search input {
  border: none;
  padding-left: 5px;
  font-size: 11px;
  color: #777;
}
#siteheader #top .search button {
  position: absolute;
  right: 0;
  top: 0px;
  border: none;
  cursor: pointer;
  background: none;
}
#siteheader .hdr-content {
  height: 105px;
  position: relative;
}
#siteheader .hdr-content .fyi {
  position: absolute;
  top: 10px;
  right: 0px;
}
#siteheader .hdr-content .logo {
  width: 154px;
  height: 75px;
  position: absolute;
  top: 15px;
  left: 0px;
}
#siteheader .hdr-content .chanel {
  position: absolute;
  top: 23px;
  left: 230px;
  width: 730px;
}
#siteheader .hdr-content .chanel li:nth-child(1),
#siteheader .hdr-content .chanel li:nth-child(5) {
  width: 220px;
}
#siteheader .hdr-content .chanel li:nth-child(2),
#siteheader .hdr-content .chanel li:nth-child(6) {
  width: 200px;
}
#siteheader .hdr-content .chanel li:nth-child(3),
#siteheader .hdr-content .chanel li:nth-child(7) {
  width: 190px;
}
#siteheader .hdr-content .chanel li:nth-child(4),
#siteheader .hdr-content .chanel li:nth-child(8) {
  width: 120px;
}
/* header */
.chanel li {
  float: left;
  margin-bottom: 10px;
}
.chanel li a span:first-child {
  width: 52px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  color: #fff;
  font-family: commercecb, Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 5px;
  padding: 0;
}
.chanel li a span:last-child {
  color: #999;
  font-size: 11px;
}
.chanel li a:hover span:first-child {
  background: #c41f25;
}
.chanel li a:hover span:last-child {
  color: #c41f25;
}
.chanel li:nth-child(1) span:first-child {
  background: #c41f25;
}
.chanel li:nth-child(2) span:first-child {
  background: #f984af;
}
.chanel li:nth-child(3) span:first-child {
  background: #f46900;
}
.chanel li:nth-child(4) span:first-child,
.chanel li:nth-child(8) span:first-child {
  background: #d9d900;
}
.chanel li:nth-child(5) span:first-child,
.chanel li:nth-child(9) span:first-child {
  background: #3b9945;
}
.chanel li:nth-child(6) span:first-child,
.chanel li:nth-child(10) span:first-child {
  background: #a16d57;
}
.chanel li:nth-child(7) span:first-child {
  background: #797921;
}
.top-chanel {
  padding-top: 5px;
  float: left;
}
.top-chanel li {
  float: left;
  margin-bottom: 10px;
}
.top-chanel li a span:first-child {
  width: 52px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  color: #fff;
  font-family: commercecb, Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 5px;
  padding: 0;
}
.top-chanel li a span:last-child {
  display: none;
}
.top-chanel li a:hover span:first-child {
  background: #c41f25;
}
.top-chanel li:nth-child(1) span:first-child {
  background: #c41f25;
}
.top-chanel li:nth-child(2) span:first-child {
  background: #3b9945;
}
.top-chanel li:nth-child(3) span:first-child {
  background: #f984af;
}
.top-chanel li:nth-child(4) span:first-child {
  background: #a16d57;
}
.top-chanel li:nth-child(5) span:first-child {
  background: #f46900;
}
.top-chanel li:nth-child(6) span:first-child {
  background: #797921;
}
.top-chanel li:nth-child(7) span:first-child {
  background: #d9d900;
}
.top-chanel li:nth-child(8) span:first-child {
  background: #d9d900;
}
_::-webkit-full-page-media li a span:first-child,
_:future li a span:first-child,
:root .chanel li a span:first-child {
  line-height: 26px;
}
.navigation {
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 1px solid #c41f25;
  position: relative;
}
.navigation > ul > li:first-child a {
  padding: 0 8px !important;
}
.navigation > ul > li:first-child a i {
  font-size: 14px;
}
.navigation > ul li.parent {
  float: left;
}
.navigation > ul li.parent > a {
  text-transform: uppercase;
  font-family: UTM_Avo;
  line-height: 25px;
  padding: 0 7px 0 8px;
  font-size: 12px;
}
.navigation > ul li.parent.active,
.navigation > ul li.parent:hover {
  background: #c41f25;
}
.navigation > ul li.parent.active > a,
.navigation > ul li.parent:hover > a {
  color: #fff !important;
}
.navigation > ul li.parent.focus {
  background: #eee;
}
.navigation > ul li.parent.focus > a {
  color: #000;
}
.navigation > ul li.parent.focus > a:hover {
  color: #fff;
}
.navigation > ul li.parent.focus:hover {
  background: #c41f25;
}
.navigation > ul li.parent.focus.active {
  background: #c41f25;
}
.navigation > ul li.parent .child {
  position: absolute;
  width: 205px;
  padding-top: 1px;
  left: -9999em;
}
.navigation > ul li.parent .child > li a {
  display: block;
  border-bottom: 1px solid #d62127;
  padding: 10px;
  color: #fff;
  margin: 0 5px;
  font-size: 11px;
}
.navigation > ul li.parent .child > li a:hover {
  border-bottom: 1px solid #fff;
}
.navigation > ul li.parent .child > li {
  background: #c41f25;
}
.navigation > ul li.parent .child > li:last-child a {
  border-bottom: none;
}
.navigation > ul li.parent:hover > ul.child {
  left: auto;
  z-index: 1;
}
.navigation > ul li.parent.focus:hover > ul.child {
  right: 0px;
}
/* navigation */
@-moz-document url-prefix() {
  .navigation > ul li.parent > a {
    padding: 0 8px;
  }
}
#sitefooter {
  font-size: 12px;
  color: #777;
  padding-bottom: 10px;
  margin-top: 30px;
}
#sitefooter .mini-logo {
  float: left;
  padding-top: 5px;
  margin-right: 30px;
}
#sitefooter .navigation {
  border-top: 1px solid #c41f25;
  border-bottom: none;
}
#sitefooter .copyright {
  padding-left: 10px;
  line-height: 20px;
}
#sitefooter .copyright a {
  color: #555;
  font-family: avantgd, Arial, Helvetica, sans-serif;
  font-size: 14px;
}
#sitefooter .copyright a:hover {
  color: #0645ad;
}
#sitefooter .copyright span {
  display: block;
  font-size: 11px;
  line-height: 17px;
}
#sitefooter .copyright img {
  position: relative;
  margin-top: -3px;
}
#sitefooter .copyright .pull-left span i {
  color: #000;
  font-style: normal;
}
/* footer */
/* structure style ============ */
.vov-breadcrumb {
  border-bottom: 1px solid #999;
  padding-bottom: 7px;
  margin-bottom: 15px;
}
.vov-breadcrumb h2 {
  font-family: avantgd, Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #c41f25;
  float: left;
  border-left: 1px solid #c41f25;
  padding-left: 10px;
  margin-right: 20px;
  margin-bottom: 6px;
}
.vov-breadcrumb li {
  float: left;
  text-transform: uppercase;
  font-family: UTM_Avo;
  line-height: 27px;
  padding: 0 4px;
  font-size: 12px;
  margin-right: 5px;
}
.vov-breadcrumb li.active {
  background: #ddd;
}
.headline {
  text-transform: uppercase;
  font-family: commerce;
  font-size: 28px;
  padding-left: 5px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  box-shadow: 0 5px 0px #eee;
  margin-bottom: 20px;
}
.headline a {
  color: #c41f25;
}
/* box-header style 1*/
.site-wrap {
  width: 980px;
  margin: 0 auto;
}
.container {
  width: 660px;
  float: left;
  padding: 0;
}
.sidebar {
  float: right;
  width: 310px;
  border-left: 1px solid #eee;
  padding-left: 10px;
}
.sidebar .relate-site {
  margin-bottom: 10px;
  text-align: center;
}
.sidebar .relate-site a {
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
}
.sidebar .relate-site a:last-child {
  margin-right: 0;
}
