﻿.main-article .text.live,
.main-article .text.photo-album {
    width: 660px;
}

#article-body .text.photo-album img {
    max-width: 650px !important;
}

.livestream {}

.livestream .events {
    border-top: 1px solid #ccc;
    padding: 0;
    margin: 0;
    list-style: none;
}

.livestream .events li {
    padding: 0;
    margin: 0 0 8px 0;
    list-style: none;
    box-shadow: 0px 2px 0px -1px #ECECEC;
    overflow: hidden;
}

#livestream .events li .type {
    background-image: none;
    background-position: 50% top;
    background-repeat: no-repeat;
    background-size: 32px auto;
    border-radius: 5px;
    display: block;
    height: 48px;
    margin: 15px auto;
    overflow: hidden;
    text-indent: -999px;
    width: 48px;
}

.livestream .events li .event-content {
    padding: 0px 10px 0px 64px;
}

.livestream .events li .event-content > .inner {
    padding-left: 10px;
    border-left: 1px solid transparent;
}

.livestream .events li .event-content > .inner:hover {
    border-left: 1px solid #0C8240;
}

.livestream .events li .event-content .date-time {
    padding: 0;
    margin-top: 8px;
    margin-bottom: 3px;
    display: block;
    width: 100%;
    color: #940000;
    font-size: 0.9em;
}

.livestream .events li .event-content img {
    max-width: 100%;
    height: auto;
}

.livestream .events li .event-content iframe {
    max-width: 100%;
}

.livestream .events li .event-meta {
    width: 64px;
    float: left;
    font-size: 24px;
    text-align: center;
}

.livestream .events .fig {
    clear: both;
    display: block;
}

#livestream .events li.football_goal .type {
    background-image: url("../Images/commentary/football_goal.png");
}

#livestream .events li.football_corner .type {
    background-image: url("../Images/commentary/football_corner.png");
}

#livestream .events li.football_yellowcard .type {
    background-image: url("../Images/commentary/football_yellocard.png");
}

#livestream .events li.football_redcard .type {
    background-image: url("../Images/commentary/football_redcard.png");
}

#livestream .events li.football_change .type {
    background-image: url("../Images/commentary/football_change.png");
}

#livestream .events li.football_start .type {
    background-image: url("../Images/commentary/football_start.png");
}

#livestream .events li.football_map .type {
    background-image: url("../Images/commentary/football_map.png");
}

#livestream .events li.football_stadium .type {
    background-image: url("../Images/commentary/football_stadium.png");
}

#livestream .events li.football_time .type {
    background-image: url("../Images/commentary/football_time.png");
}

#livestream .events li.football_stop .type {
    background-image: url("../Images/commentary/football_stop.png");
}

#livestream .events li.phone .type {
    background-image: url("../Images/commentary/phone.png");
}

#livestream .events li.comment .type {
    background-image: url("../Images/commentary/comment.png");
}

#livestream .events li.quotation .type {
    background-image: url("../Images/commentary/quotation.png");
}

#livestream .events li.facebook .type {
    background-image: url("../Images/commentary/facebook.png");
}

#livestream .events li.twitter .type {
    background-image: url("../Images/commentary/twitter.jpg");
}

#livestream .events li.mail .type {
    background-image: url("../Images/commentary/mail.png");
}

#livestream .events li.video .type {
    background-image: url("../Images/commentary/video.png");
}

#livestream .events li.picture .type {
    background-image: url("../Images/commentary/picture.png");
}

#livestream .events li.medal_bronze .type {
    background-image: url("../Images/commentary/medal_bronze.png");
}

#livestream .events li.medal_silver .type {
    background-image: url("../Images/commentary/medal_silver.png");
}

#livestream .events li.mdeal_gold .type {
    background-image: url("../Images/commentary/medal_gold.png");
}

#livestream .events li.focus .event-content {
    padding-left: 0;
    background: #ffffff;
    padding: 15px 20px;
    border-radius: 3px;
    border: 1px solid #ddd;
    margin-top: 10px;
    position: relative;
    border-top: 1px solid #e93f2e;
}

#livestream .events li.focus .event-content .focus-title {
    position: absolute;
    display: inline-block;
    background: #e93f2e;
    padding: 3px 10px;
    color: #fff;
    top: 0;
    left: 40%;
    background: #e93f2e url(http://i.imgur.com/t63B05r.png) no-repeat 10px 7px;
    background-size: 20px;
    padding-left: 42px;
}

#livestream .events li.focus .event-content .inner {
    border-left: none;
    padding-left: 0;
    border-bottom: 1px solid #ccc;
}

#livestream .events li.focus .event-content .inner:last-child {
    border-bottom: none;
}


/* OLD ITEMS */

#article-body .picBox {
    margin: 3px auto;
}

.galleria-exit {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 10;
    cursor: pointer;
    background: url(../Images/white-close.png) no-repeat;
    width: 50px;
    height: 50px;
}

div.social ul li {
    vertical-align: top;
}

.rrssb-buttons li {
    width: 18% !important;
}

.rrssb-buttons li.rrssb-facebook {
    width: 28% !important;
    overflow: hidden
}

.main-article .text .social-button .rrssb-buttons li {
    width: 22% !important;
}

.main-article .text .social-button .rrssb-buttons li.rrssb-facebook {
    width: 34% !important;
    overflow: hidden
}

.main-article .live .social-button .rrssb-buttons li {
    width: 18% !important;
}

.main-article .live .social-button .rrssb-buttons li.rrssb-facebook {
    width: 28% !important;
    overflow: hidden
}

.article-photo .rrssb-buttons li {
    width: 20% !important;
}

.rrssb-buttons li.rrssb-facebook a {
    background-color: #fff;
    border: 1px solid #306199
}

.rrssb-buttons li.rrssb-vov a {
    background-color: #306199 !important
}

.sidebar {
    padding-top: 15px !important
}

.fb_iframe_widget {
    position: relative !important;
    height: 20px !important;
    top: -5px;
    /*top:0px !important;*/
}

.print-button,
.email-button {
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    padding: 0 5px 1px;
    vertical-align: top;
    background: #f5f5f5;
    color: #333;
}

.print-button i,
.email-button i {
    font-size: 12px;
    margin-top: 2px;
}


/* Snippets */

.inline-box-left,
.inline-box-right,
.inline-box-quote {
    padding: 6px;
    background: #E2EEE7;
    border: solid 1px #CACACA;
}

.inline-box-left img,
.inline-box-right img {
    max-width: 100% !important;
    height: auto !important;
}

.inline-box-left {
    min-width: 200px;
    float: left;
    margin-right: 15px;
}

.inline-box-right {
    min-width: 200px;
    float: right;
    margin-left: 15px;
}

.inline-box-quote {
    margin: 10px 0px;
}

.fancybox-overlay,
.fancybox-wrap {
    z-index: 99999 !important;
}

.qc-item {
    margin-bottom: 10px;
}

.position-code {
    display: none;
    padding: 5px 10px;
    background: #fae35c;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.media-cat .block ul li {
    height: 144px;
    orverflow: hidden;
}

.bao-giay .bx-wrapper .bx-viewport {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: #fafafa;
}

.main-article .meta time,
.tag-article>div a {
    white-space: nowrap;
}

.navigation>ul li.parent>a {
    padding: 0 6px 0 6px;
}

.sidebar .block-news .bao-giay ul li .story h2.title {
    font-size: 14px;
    font-weight: bold;
}

.main-article .text div.quote .author {
    font-style: normal;
    text-align: right;
    font-weight: bold;
    display: block;
    padding-top: 10px;
}

.main-article .text div.quote img {
    float: right;
    margin-left: 10px;
    margin-bottom: 5px;
}

.main-article .text .quote.pull-left {
    margin-right: 20px;
}

.main-article .text .quote.pull-right {
    margin-left: 30px;
}

.main-article .text .quote.pull-center {
    width: inherit !important;
}

.main-article .text div.box-info-relate {
    padding: 20px 15px;
    background: #f3f3f3;
    border: 1px solid #ccc;
    width: inherit;
}

.main-article .text div.quote {
    border-left: 1px solid #ccc;
    box-shadow: -3px 0 0 #ddd;
    font-size: 14px;
    line-height: 1.4em;
    padding: 10px 10px 0 15px;
    font-style: italic;
    width: 250px;
    /*background: url('../images/vov-quote.png') no-repeat 15px top; */
    text-align: left;
}

.main-article .text div.box-info-relate p {
    margin-bottom: 0 !important;
}

.main-article .text div.box-info-relate .title {
    font-weight: bold;
    margin-bottom: 5px !important;
    font-size: 16px;
}

.main-article .text div.box-info-relate .content-info {
    padding-top: 0;
}

.main-article .text div.box-info-relate.pull-left {
    margin-right: 20px;
}

.main-article .text div.box-info-relate.pull-right {
    margin-left: 20px;
    border-right: 1px solid #ccc;
}
/*-- content img */
.main-article table.contentimg {
    margin: 0 auto;
}

.main-article table.contentimg td img{ float: none !important;}

.main-article table.contentimg tr:nth-child(2) td {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-article table.contentimg p,
.main-article table.contentimg .fig {
    margin-bottom: 0 !important;
}

.main-article table.contentimg td {
    width: 100%;
    text-indent: 0;
}

.fig {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px
}
/*-- content img */

.main-article .inner-article {
    position: relative;
    background: #FFE5C6;
    border: 1px solid #ccc;
    overflow: inherit;
    margin: 15px 0 15px 0
}

.main-article .inner-article figure {
    float: left;
    margin: 15px 15px 5px 15px !important;
    box-shadow: 0 0 2px #999
}

.main-article .inner-article .header {
    padding: 15px 15px 0px 15px;
}

.main-article .inner-article .header h1 {
    margin-bottom: 10px;
    font-size: 20px
}

.main-article .inner-article .header h1 a {
    color: #000 !important;
    font-weight: bold
}

.main-article .inner-article .header .summary {
    margin-bottom: 0px !important;
}

.vov-slider .vov-slider-content li .slider-image {
    height: 500px !important;
    width: 660px;
    display: table-cell;
    vertical-align: middle;
    text-align: center
}

.vov-slider .vov-slider-content li .slider-image img {
    max-height: 500px !important;
}

.vov-slider .slider-control .slider-prev,
.vov-slider .slider-control .slider-next {
    top: 40% !important
}

.main-article .video-bottom .story .thumbnail > div {
    width: 490px;
    margin: 0 auto
}

.inner-article .cover img {
    width: 200px;
    height: 120px;
}

#article-body p,
#article-body strong,
#article-body em,
#article-body span {
    font-size: 13px !important;
    font-family: Arial, Helvetica, sans-serif !important;
}
#article-body table img {
    margin-left: 0 !important;
    max-width: 100% !important;
}
.main-article .text p,
.main-article .text div {
    text-align: justify
}

#article-body table td {
    vertical-align: top
}
#article-body img {
    max-width: 100% !important;
}


/*new survey with progress bar*/

.content-embed {
    padding: 10px;
    background-color: #eee;
    border: 1px solid #ddd;
}

.content-embed-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.survey li {
    margin-bottom: 12px;
}

.progress-label {
    font-weight: bold;
    margin-bottom: 5px !important;
}

.progress-label a {
    font-weight: normal;
    float: right;
}

.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #b9b9b9;
    text-align: center !important;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
table.dtContentImgWrap {width : 100%;}
table.dtContentImgWrap tr td {text-align:center;}

/*Quốc tang : thay header mầu đen logo trắng, các hệ mầu xám*/
/* #siteheader .hdr-content {
     background-color: #000 !important;
 }
 .chanel li a span:first-child {
     background: #555 !important;
 }
 #siteheader .hdr-content .logo{
     text-indent: -999em;
     background-image: url(../Images/logo_2015-white.png);
     background-size: 200px 75px;
     width: 200px;
     height: 75px;
     left: 10px;
 }
body {background: #dddddd;}
.navigation > ul li.parent.active, .navigation > ul li.parent:hover {background: #aaaaaa;}
.navigation > ul li.parent.active, .navigation > ul li.parent:hover {background: #aaaaaa;}
.navigation > ul li.parent .child > li {background: #aaaaaa;}
.navigation > ul li.parent .child > li a {border-bottom: 1px solid #dddddd;} */
