/*define variable ------------------- */
/*
29/04/2014 - tatuan142@gmail.com
WebSite Styles
Used for homepage - category
*/
.rrssb-buttons {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 30px;
  margin: 0;
  padding: 0;
  width: 100%;
}
.rrssb-buttons li {
  box-sizing: border-box;
  float: left;
  height: 100%;
  line-height: 13px;
  list-style: none;
  margin: 0;
  padding: 0 2px;
}
.rrssb-buttons li.rrssb-email a {
  background-color: #0a88ff;
}
.rrssb-buttons li.rrssb-email a:hover {
  background-color: #006ed6;
}
.rrssb-buttons li.rrssb-facebook a {
  background-color: #306199;
}
.rrssb-buttons li.rrssb-facebook a:hover {
  background-color: #244872;
}
.rrssb-buttons li.rrssb-tumblr a {
  background-color: #32506d;
}
.rrssb-buttons li.rrssb-tumblr a:hover {
  background-color: #22364a;
}
.rrssb-buttons li.rrssb-linkedin a {
  background-color: #007bb6;
}
.rrssb-buttons li.rrssb-linkedin a:hover {
  background-color: #005983;
}
.rrssb-buttons li.rrssb-twitter a {
  background-color: #26c4f1;
}
.rrssb-buttons li.rrssb-twitter a:hover {
  background-color: #0eaad6;
}
.rrssb-buttons li.rrssb-googleplus a {
  background-color: #e93f2e;
}
.rrssb-buttons li.rrssb-googleplus a:hover {
  background-color: #ce2616;
}
.rrssb-buttons li.rrssb-youtube a {
  background-color: #df1c31;
}
.rrssb-buttons li.rrssb-youtube a:hover {
  background-color: #b21627;
}
.rrssb-buttons li.rrssb-reddit a {
  background-color: #8bbbe3;
}
.rrssb-buttons li.rrssb-reddit a:hover {
  background-color: #62a3d9;
}
.rrssb-buttons li.rrssb-pinterest a {
  background-color: #b81621;
}
.rrssb-buttons li.rrssb-pinterest a:hover {
  background-color: #8a1119;
}
.rrssb-buttons li.rrssb-pocket a {
  background-color: #ed4054;
}
.rrssb-buttons li.rrssb-pocket a:hover {
  background-color: #e4162d;
}
.rrssb-buttons li.rrssb-github a {
  background-color: #444;
}
.rrssb-buttons li.rrssb-github a:hover {
  background-color: #2b2b2b;
}
.rrssb-buttons li.rrssb-instagram a {
  background-color: #517fa4;
}
.rrssb-buttons li.rrssb-instagram a:hover {
  background-color: #406582;
}
.rrssb-buttons li.rrssb-delicious a {
  background-color: #0B79E5;
}
.rrssb-buttons li.rrssb-delicious a:hover {
  background-color: #095fb4;
}
.rrssb-buttons li.rrssb-vk a {
  background-color: #4d71a9;
}
.rrssb-buttons li.rrssb-vk a:hover {
  background-color: #3d5a86;
}
.rrssb-buttons li.rrssb-hackernews a {
  background-color: #f60;
}
.rrssb-buttons li.rrssb-hackernews a:hover {
  background-color: #cc5200;
}
.rrssb-buttons li a {
  background-color: #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  display: block;
  font-size: 11px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  height: 100%;
  padding: 11px 7px 12px 27px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
}
.rrssb-buttons li a .rrssb-icon {
  display: block;
  left: 10px;
  padding-top: 9px;
  position: absolute;
  top: 0;
  width: 10%;
}
.rrssb-buttons li a .rrssb-icon svg {
  height: 17px;
  width: 17px;
}
.rrssb-buttons li a .rrssb-icon svg path,
.rrssb-buttons li a .rrssb-icon svg polygon {
  fill: #fff;
}
.rrssb-buttons li a .rrssb-text {
  color: #fff;
}
.rrssb-buttons li a:active {
  box-shadow: inset 1px 3px 15px 0 rgba(22, 0, 0, 0.25);
}
.rrssb-buttons li.small a {
  padding: 0;
}
.rrssb-buttons li.small a .rrssb-icon {
  left: auto;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: auto;
  width: 100%;
}
.rrssb-buttons li.small a .rrssb-text {
  visibility: hidden;
}
.rrssb-buttons.large-format,
.rrssb-buttons.large-format li {
  height: auto;
}
.rrssb-buttons.large-format li:first-child:nth-last-child(1) a {
  font-size: 20px;
  font-size: 4vw;
}
.rrssb-buttons.large-format li:first-child:nth-last-child(2) a,
.rrssb-buttons.large-format li:first-child:nth-last-child(2) ~ li a {
  font-size: 16px;
  font-size: 2vw;
}
.rrssb-buttons.large-format li:first-child:nth-last-child(3) a,
.rrssb-buttons.large-format li:first-child:nth-last-child(3) ~ li a {
  font-size: 14px;
  font-size: 1.7vw;
}
.rrssb-buttons.large-format li:first-child:nth-last-child(4) a,
.rrssb-buttons.large-format li:first-child:nth-last-child(4) ~ li a {
  font-size: 13px;
  font-size: 1.4vw;
}
.rrssb-buttons.large-format li:first-child:nth-last-child(5) a,
.rrssb-buttons.large-format li:first-child:nth-last-child(5) ~ li a {
  font-size: 13px;
  font-size: 1.2vw;
}
.rrssb-buttons.large-format li:first-child:nth-last-child(6) a,
.rrssb-buttons.large-format li:first-child:nth-last-child(6) ~ li a {
  font-size: 12px;
  font-size: 1.05vw;
}
.rrssb-buttons.large-format li:first-child:nth-last-child(7) a,
.rrssb-buttons.large-format li:first-child:nth-last-child(7) ~ li a {
  font-size: 11px;
  font-size: 0.9vw;
}
.rrssb-buttons.large-format li:first-child:nth-last-child(8) a,
.rrssb-buttons.large-format li:first-child:nth-last-child(8) ~ li a {
  font-size: 11px;
  font-size: 0.8vw;
}
.rrssb-buttons.large-format li:first-child:nth-last-child(9) a,
.rrssb-buttons.large-format li:first-child:nth-last-child(9) ~ li a {
  font-size: 11px;
  font-size: 0.7vw;
}
.rrssb-buttons.large-format li:first-child:nth-last-child(10) a,
.rrssb-buttons.large-format li:first-child:nth-last-child(10) ~ li a {
  font-size: 11px;
  font-size: 0.6vw;
}
.rrssb-buttons.large-format li:first-child:nth-last-child(11) a,
.rrssb-buttons.large-format li:first-child:nth-last-child(11) ~ li a {
  font-size: 11px;
  font-size: 0.5vw;
}
.rrssb-buttons.large-format li a {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: .2em;
  padding: 8.5% 0 8.5% 12%;
}
.rrssb-buttons.large-format li a .rrssb-icon {
  height: 100%;
  left: 7%;
  padding-top: 0;
  width: 12%;
}
.rrssb-buttons.large-format li a .rrssb-icon svg {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.rrssb-buttons.large-format li a .rrssb-text {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.rrssb-buttons.small-format {
  padding-top: 5px;
}
.rrssb-buttons.small-format li {
  height: 80%;
  padding: 0 1px;
}
.rrssb-buttons.small-format li a .rrssb-icon {
  height: 100%;
  padding-top: 0;
}
.rrssb-buttons.small-format li a .rrssb-icon svg {
  height: 48%;
  position: relative;
  top: 6px;
  width: 80%;
}
.rrssb-buttons.tiny-format {
  height: 22px;
  position: relative;
}
.rrssb-buttons.tiny-format li {
  padding-right: 7px;
}
.rrssb-buttons.tiny-format li a {
  background-color: transparent;
  padding: 0;
}
.rrssb-buttons.tiny-format li a .rrssb-icon svg {
  height: 70%;
  width: 100%;
}
.rrssb-buttons.tiny-format li a:active,
.rrssb-buttons.tiny-format li a:hover {
  background-color: transparent;
}
.rrssb-buttons.tiny-format li.rrssb-email a .rrssb-icon svg path,
.rrssb-buttons.tiny-format li.rrssb-email a .rrssb-icon svg polygon {
  fill: #0a88ff;
}
.rrssb-buttons.tiny-format li.rrssb-email a .rrssb-icon:hover .rrssb-icon svg path,
.rrssb-buttons.tiny-format li.rrssb-email a .rrssb-icon:hover .rrssb-icon svg polygon {
  fill: #0054a3;
}
.rrssb-buttons.tiny-format li.rrssb-facebook a .rrssb-icon svg path,
.rrssb-buttons.tiny-format li.rrssb-facebook a .rrssb-icon svg polygon {
  fill: #306199;
}
.rrssb-buttons.tiny-format li.rrssb-facebook a .rrssb-icon:hover .rrssb-icon svg path,
.rrssb-buttons.tiny-format li.rrssb-facebook a .rrssb-icon:hover .rrssb-icon svg polygon {
  fill: #18304b;
}
.rrssb-buttons.tiny-format li.rrssb-tumblr a .rrssb-icon svg path,
.rrssb-buttons.tiny-format li.rrssb-tumblr a .rrssb-icon svg polygon {
  fill: #32506d;
}
.rrssb-buttons.tiny-format li.rrssb-tumblr a .rrssb-icon:hover .rrssb-icon svg path,
.rrssb-buttons.tiny-format li.rrssb-tumblr a .rrssb-icon:hover .rrssb-icon svg polygon {
  fill: #121d27;
}
.rrssb-buttons.tiny-format li.rrssb-linkedin a .rrssb-icon svg path,
.rrssb-buttons.tiny-format li.rrssb-linkedin a .rrssb-icon svg polygon {
  fill: #007bb6;
}
.rrssb-buttons.tiny-format li.rrssb-linkedin a .rrssb-icon:hover .rrssb-icon svg path,
.rrssb-buttons.tiny-format li.rrssb-linkedin a .rrssb-icon:hover .rrssb-icon svg polygon {
  fill: #003650;
}
.rrssb-buttons.tiny-format li.rrssb-twitter a .rrssb-icon svg path,
.rrssb-buttons.tiny-format li.rrssb-twitter a .rrssb-icon svg polygon {
  fill: #26c4f1;
}
.rrssb-buttons.tiny-format li.rrssb-twitter a .rrssb-icon:hover .rrssb-icon svg path,
.rrssb-buttons.tiny-format li.rrssb-twitter a .rrssb-icon:hover .rrssb-icon svg polygon {
  fill: #0b84a6;
}
.rrssb-buttons.tiny-format li.rrssb-googleplus a .rrssb-icon svg path,
.rrssb-buttons.tiny-format li.rrssb-googleplus a .rrssb-icon svg polygon {
  fill: #e93f2e;
}
.rrssb-buttons.tiny-format li.rrssb-googleplus a .rrssb-icon:hover .rrssb-icon svg path,
.rrssb-buttons.tiny-format li.rrssb-googleplus a .rrssb-icon:hover .rrssb-icon svg polygon {
  fill: #a01e11;
}
.rrssb-buttons.tiny-format li.rrssb-youtube a .rrssb-icon svg path,
.rrssb-buttons.tiny-format li.rrssb-youtube a .rrssb-icon svg polygon {
  fill: #df1c31;
}
.rrssb-buttons.tiny-format li.rrssb-youtube a .rrssb-icon:hover .rrssb-icon svg path,
.rrssb-buttons.tiny-format li.rrssb-youtube a .rrssb-icon:hover .rrssb-icon svg polygon {
  fill: #84111d;
}
.rrssb-buttons.tiny-format li.rrssb-reddit a .rrssb-icon svg path,
.rrssb-buttons.tiny-format li.rrssb-reddit a .rrssb-icon svg polygon {
  fill: #8bbbe3;
}
.rrssb-buttons.tiny-format li.rrssb-reddit a .rrssb-icon:hover .rrssb-icon svg path,
.rrssb-buttons.tiny-format li.rrssb-reddit a .rrssb-icon:hover .rrssb-icon svg polygon {
  fill: #398bcf;
}
.rrssb-buttons.tiny-format li.rrssb-pinterest a .rrssb-icon svg path,
.rrssb-buttons.tiny-format li.rrssb-pinterest a .rrssb-icon svg polygon {
  fill: #b81621;
}
.rrssb-buttons.tiny-format li.rrssb-pinterest a .rrssb-icon:hover .rrssb-icon svg path,
.rrssb-buttons.tiny-format li.rrssb-pinterest a .rrssb-icon:hover .rrssb-icon svg polygon {
  fill: #5d0b11;
}
.rrssb-buttons.tiny-format li.rrssb-pocket a .rrssb-icon svg path,
.rrssb-buttons.tiny-format li.rrssb-pocket a .rrssb-icon svg polygon {
  fill: #ed4054;
}
.rrssb-buttons.tiny-format li.rrssb-pocket a .rrssb-icon:hover .rrssb-icon svg path,
.rrssb-buttons.tiny-format li.rrssb-pocket a .rrssb-icon:hover .rrssb-icon svg polygon {
  fill: #b61124;
}
.rrssb-buttons.tiny-format li.rrssb-github a .rrssb-icon svg path,
.rrssb-buttons.tiny-format li.rrssb-github a .rrssb-icon svg polygon {
  fill: #444;
}
.rrssb-buttons.tiny-format li.rrssb-github a .rrssb-icon:hover .rrssb-icon svg path,
.rrssb-buttons.tiny-format li.rrssb-github a .rrssb-icon:hover .rrssb-icon svg polygon {
  fill: #111;
}
.rrssb-buttons.tiny-format li.rrssb-instagram a .rrssb-icon svg path,
.rrssb-buttons.tiny-format li.rrssb-instagram a .rrssb-icon svg polygon {
  fill: #517fa4;
}
.rrssb-buttons.tiny-format li.rrssb-instagram a .rrssb-icon:hover .rrssb-icon svg path,
.rrssb-buttons.tiny-format li.rrssb-instagram a .rrssb-icon:hover .rrssb-icon svg polygon {
  fill: #2f4a60;
}
.rrssb-buttons.tiny-format li.rrssb-delicious a .rrssb-icon svg path,
.rrssb-buttons.tiny-format li.rrssb-delicious a .rrssb-icon svg polygon {
  fill: #0B79E5;
}
.rrssb-buttons.tiny-format li.rrssb-delicious a .rrssb-icon:hover .rrssb-icon svg path,
.rrssb-buttons.tiny-format li.rrssb-delicious a .rrssb-icon:hover .rrssb-icon svg polygon {
  fill: #064684;
}
.rrssb-buttons.tiny-format li.rrssb-vk a .rrssb-icon svg path,
.rrssb-buttons.tiny-format li.rrssb-vzk a .rrssb-icon svg polygon {
  fill: #4d71a9;
}
.rrssb-buttons.tiny-format li.rrssb-vk a .rrssb-icon:hover .rrssb-icon svg path,
.rrssb-buttons.tiny-format li.rrssb-vk a .rrssb-icon:hover .rrssb-icon svg polygon {
  fill: #2d4263;
}
.rrssb-buttons.tiny-format li.rrssb-hackernews a .rrssb-icon svg path,
.rrssb-buttons.tiny-format li.rrssb-hackernews a .rrssb-icon svg polygon {
  fill: #f60;
}
.rrssb-buttons.tiny-format li.rrssb-hackernews a .rrssb-icon:hover .rrssb-icon svg path,
.rrssb-buttons.tiny-format li.rrssb-hackernews a .rrssb-icon:hover .rrssb-icon svg polygon {
  fill: #993d00;
}
.rrssb-buttons:after {
  clear: both;
}
.rrssb-buttons:after,
.rrssb-buttons:before {
  content: ' ';
  display: table;
}
.rrssb-buttons:before {
  content: none;
}
.rrssb-buttons li {
  width: 20%;
  line-height: 30px;
}
.rrssb-buttons li a {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: relative;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
  padding: 0;
  text-align: left;
  padding-left: 10px;
}
.rrssb-buttons li a .rrssb-icon {
  background-image: url('../Images/sprites.png');
  background-size: 300px 150px;
  left: 0;
  padding-top: 0;
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 0px;
  margin-right: 5px;
}
.rrssb-buttons li a .rrssb-text {
  display: block;
  vertical-align: middle;
  display: inline-block;
}
.rrssb-buttons li.rrssb-facebook a {
  background-color: #306199;
}
.rrssb-buttons li.rrssb-facebook a:hover {
  background-color: #244872;
}
.rrssb-buttons li.rrssb-googleplus a {
  background-color: #e93f2e;
}
.rrssb-buttons li.rrssb-googleplus a:hover {
  background-color: #ce2616;
}
.rrssb-buttons li.rrssb-twitter a {
  background-color: #26c4f1;
}
.rrssb-buttons li.rrssb-twitter a:hover {
  background-color: #0eaad6;
}
.rrssb-buttons li.rrssb-email a {
  background-color: #d9d900;
}
.rrssb-buttons li.rrssb-email a:hover {
  background-color: #d1d900;
}
.rrssb-buttons li.rrssb-vov a {
  background-color: #3b9945;
}
.rrssb-buttons li.rrssb-vov a:hover {
  background-color: #007945;
}
.main-article .social-button {
  display: block;
  height: 36px;
  margin-bottom: 10px;
  clear: both;
}
.main-article .social-button .rrssb-email .rrssb-icon {
  background-position: 0 -120px;
}
.main-article .social-button .rrssb-facebook .rrssb-icon {
  background-position: -50px -120px;
}
.main-article .social-button .rrssb-googleplus .rrssb-icon {
  background-position: -100px -120px;
}
.main-article .social-button .rrssb-twitter .rrssb-icon {
  background-position: -150px -120px;
}
.main-article .social-button .rrssb-vov .rrssb-icon {
  background-position: -200px -120px;
}
.main-article .text .social-button .rrssb-buttons li {
  width: 25%;
}
.main-article #dms-txt {
  display: none;
  position: absolute;
  padding: 3px 0px 5px 0;
  z-index: 10;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.85);
  width: 160px;
  height: 30px;
  margin-bottom: 0 !important;
}
.main-article #dms-txt li {
  float: left;
}
.main-article #dms-txt li.share {
  color: #fff;
  text-transform: uppercase;
  line-height: 25px;
  padding: 0 10px;
}
.main-article #dms-txt .icon {
  background-image: url('../Images/sprites.png');
  background-size: 300px 150px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
  border-radius: 3px;
}
.main-article #dms-txt .icon:hover {
  opacity: .9;
}
.main-article #dms-txt .icon-email {
  background-position: 0 -120px;
  background-color: #d9d900;
}
.main-article #dms-txt .icon-facebook {
  background-position: -50px -120px;
  background-color: #306199;
}
.main-article #dms-txt .icon-googleplus {
  background-position: -100px -120px;
  background-color: #e93f2e;
}
/* highlight ---------------- */
a .glyphicon-facetime-video {
  color: #999;
}
a .glyphicon-camera {
  color: #999;
}
.highlight ul.list-news {
  width: 260px;
  float: left;
}
.highlight ul.list-news li {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 7px;
}
.highlight ul.list-news li a {
  color: #505050;
}
.highlight ul.list-news li a:hover {
  color: #0645ad;
}
.highlight ul.list-news li:last-child {
  border-bottom: none;
}
.highlight > article {
  width: 385px;
  float: right;
  font-family: commercecb, Arial, Helvetica, sans-serif;
}
.highlight > article p.thumbnail {
  margin-bottom: 15px;
}
.highlight > article h1.title {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 10px;
}
.highlight > article h1.title a {
  color: #0645ad;
}
.highlight > article h1.title a:hover {
  color: #505050;
}
.highlight > article h2.title {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 10px;
}
.highlight > article h2.title a {
  color: #0645ad;
}
.highlight > article h2.title a:hover {
  color: #505050;
}
.highlight > article .summary {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
.mention {
  border-top: 1px solid #ddd;
  padding-top: 7px;
}
.mention h3 {
  border-bottom: 1px solid #c41f25;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.mention h3 a {
  font-size: 16px;
  font-family: avantgd, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #c41f25;
}
.mention li {
  width: 124px;
  float: left;
  margin-right: 10px;
}
.mention li a {
  color: #505050;
}
.mention li a:hover {
  color: #0645ad;
}
.mention li:last-child {
  margin-right: 0px;
  float: right;
}
.mention li article.story p.thumbnail {
  margin-bottom: 5px;
}
.list-cat {
  padding-top: 30px;
}
.list-cat .block {
  border-top: 1px solid #c41f25;
  padding: 15px 0 15px;
}
.list-cat .block .title {
  padding-bottom: 5px;
}
.list-cat .block .title h3 {
  font-size: 20px;
  font-family: avantgd, Arial, Helvetica, sans-serif;
  float: left;
  margin-right: 30px;
  text-transform: uppercase;
}
.list-cat .block .title h3 a {
  color: #0645ad;
}
.list-cat .block .title h3 a:hover {
  color: #505050;
}
.list-cat .block .title ul {
  float: left;
}
.list-cat .block .title ul li {
  float: left;
  text-transform: uppercase;
  font-family: UTM_Avo;
  line-height: 25px;
  padding: 0 4px;
  font-size: 12px;
  margin-right: 5px;
}
.list-cat .block .content article.main {
  width: 300px;
  float: left;
  margin-right: 15px;
}
.list-cat .block .content article.main .thumbnail {
  margin-bottom: 7px;
}
.list-cat .block .content article.main .title {
  font-family: commercecb, Arial, Helvetica, sans-serif;
  font-size: 22px;
}
.list-cat .block .content article.main .title i {
  font-size: 16px;
}
.list-cat .block .content article.main .title a {
  color: #505050;
}
.list-cat .block .content article.main .title a:hover {
  color: #0645ad;
}
.list-cat .block .content article.main .summary {
  color: #777;
}
.list-cat .block .content article.secondary {
  width: 160px;
  float: left;
  margin-right: 15px;
}
.list-cat .block .content article.secondary .thumbnail {
  margin-bottom: 6px;
}
.list-cat .block .content article.secondary .title {
  font-weight: bold;
  padding-bottom: 5px;
}
.list-cat .block .content article.secondary .title a {
  color: #333;
}
.list-cat .block .content article.secondary .title a:hover {
  color: #0645ad;
}
.list-cat .block .content article.secondary .summary {
  color: #777;
}
.list-cat .block .content ul {
  width: 160px;
  float: left;
}
.list-cat .block .content ul li {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 7px;
}
.list-cat .block .content ul li a {
  color: #505050;
}
.list-cat .block .content ul li a:hover {
  color: #0645ad;
}
.list-cat .block .content ul li:last-child {
  border-bottom: none;
}
.list-cat .block.bg {
  background: #e2eee7;
}
.list-cat .block:last-child {
  background: #FFE5C6;
}
.sidebar .hot-new-response {
  margin-top: -43px;
  margin-bottom: 20px;
}
.sidebar .hot-new-response > ul {
  margin-bottom: 5px;
  font-family: avantgd, Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
.sidebar .hot-new-response > ul li {
  padding-bottom: 5px;
  height: 26px;
  line-height: 26px;
  float: left;
  margin-right: 10px;
}
.sidebar .hot-new-response > ul li a {
  color: #aaa;
}
.sidebar .hot-new-response > ul li.active,
.sidebar .hot-new-response > ul li:hover {
  height: 27px;
  line-height: 27px;
}
.sidebar .hot-new-response > ul li.active a,
.sidebar .hot-new-response > ul li:hover a {
  color: #c41f25;
}
.sidebar .hot-new-response > ul li span {
  font-size: 13px;
  color: #999;
  font-family: arial;
  margin-left: 11px;
}
.sidebar .hot-new-response .tab-content {
  padding-top: 5px;
}
.sidebar .hot-new-response .tab-content li {
  background: url('../Images/bullet-red.png') no-repeat left 7px;
  padding-left: 13px;
  margin-bottom: 8px;
  line-height: 18px;
}
.sidebar .hot-new-response .tab-content .see-more {
  text-align: right;
  font-weight: bold;
  font-size: 12px;
}
.sidebar .block-media {
  margin-bottom: 20px;
}
.sidebar .block-media > .title {
  padding-top: 26px;
  padding-bottom: 10px;
  background: url('../Images/media-bg.png') no-repeat top;
}
.sidebar .block-media > .title h3 {
  font-family: avantgd, Arial, Helvetica, sans-serif;
  font-size: 18px;
  float: left;
  margin-right: 10px;
}
.sidebar .block-media > .title h3 a {
  color: #c41f25;
}
.sidebar .block-media > .title ul {
  float: left;
}
.sidebar .block-media > .title ul li {
  float: left;
  text-transform: uppercase;
  font-family: UTM_Avo, Arial, Helvetica, sans-serif;
  line-height: 22px;
  padding: 0 4px;
  font-size: 11px;
  margin-right: 5px;
}
.sidebar .block-media .story .thumbnail {
  margin-bottom: 5px;
}
.sidebar .block-media .story .title {
  font-weight: bold;
}
.sidebar .block-chanel {
  margin-bottom: 15px;
}
.sidebar .block-chanel .title {
  margin-bottom: 10px;
}
.sidebar .block-chanel .title a {
  background: url('../Images/pattern.jpg');
  float: left;
  font-family: avantgd, Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  display: block;
  padding: 7px 12px 7px 10px;
}
.sidebar .block-chanel .chanel li {
  display: block;
  clear: both;
}
.sidebar .block-chanel .chanel li span:last-child {
  font-size: 12px;
}
.sidebar .block-chanel .chanel li a span:first-child {
  width: 65px;
}
.sidebar .block-news {
  margin-bottom: 20px;
}
.sidebar .block-news div.title {
  border-top: 1px solid #000;
  padding-top: 3px;
  margin-bottom: 3px;
}
.sidebar .block-news div.title a {
  color: #c41f25;
  font-family: avantgd, Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.sidebar .block-news article {
  margin-bottom: 10px;
}
.sidebar .block-news article h4.title {
  font-weight: bold;
}
.sidebar .block-news li {
  background: url('../Images/bullet-red.png') no-repeat left 8px;
  padding-left: 12px;
  margin-bottom: 5px;
  line-height: 18px;
}
.sidebar .weather {
  background: #eee;
  border: 1px solid #ccc;
  padding-top: 0;
}
.sidebar .weather > .title {
  padding: 0 10px ;
}
.sidebar .weather > .title h3 {
  font-family: avantgd, Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.sidebar .weather > .title h3 i {
  margin-right: 15px;
}
.sidebar .weather > .title h3 span {
  display: inline-block;
}
.sidebar .weather nav {
  padding: 10px 13px 0;
}
.sidebar .weather nav > span {
  display: inline-block;
  float: left;
  line-height: 30px;
}
.sidebar .weather nav > select {
  border-radius: 5px;
  background: #ccc;
  border: none;
  padding: 5px 10px;
  width: 150px;
  float: right;
  font-weight: bold;
  text-transform: uppercase;
}
.sidebar .weather .listing {
  padding-top: 15px;
}
.sidebar .weather .listing li.day {
  width: 99px;
  float: left;
  text-align: center;
  border-right: 1px solid #ccc;
}
.sidebar .weather .listing li.day span {
  display: block;
  clear: both;
  margin-bottom: 7px;
}
.sidebar .weather .listing li.day .temp {
  margin-bottom: 4px;
}
.sidebar .weather .listing li.day:last-child {
  border-right: 0;
}
.sidebar .weather .service {
  margin: 20px 10px;
  padding-top: 10px;
  border-top: 1px solid #000;
}
.sidebar .weather .service li {
  padding: 12px 0;
  width: 120px;
  float: left;
}
.sidebar .weather .service li:nth-child(2n) {
  float: right;
}
.sidebar .weather .service li i {
  margin-right: 10px;
  float: left;
  vertical-align: bottom;
}
.sidebar .block-focus {
  padding-top: 8px;
  overflow: hidden;
}
.sidebar .block-focus > .title {
  border-bottom: 1px solid #c41f25;
}
.sidebar .block-focus > .title > a {
  display: inline-block;
  background: #c41f25;
  padding: 4px 10px;
  font-size: 14px;
  font-family: avantgd, Arial, Helvetica, sans-serif;
  color: #fff;
}
.sidebar .block-focus article {
  padding-top: 17px;
}
.sidebar .block-focus article .thumbnail {
  background: none;
  margin-bottom: 5px;
}
.sidebar .block-focus > div {
  margin: 0 6px;
}
.sidebar .block-focus > div .bx-viewport {
  border: none;
  left: 0;
  background: none;
  box-shadow: none;
}
.sidebar .block-focus > div .bx-wrapper {
  margin-bottom: 20px;
}
.sidebar .block-focus > div .bx-wrapper .bx-pager,
.sidebar .block-focus > div .bx-wrapper .bx-controls-auto {
  top: -36px;
  right: -134px;
}
.sidebar .block-focus > div .bx-wrapper .bx-pager.bx-default-pager a {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  margin: 0 3px;
}
.sidebar .block-focus > div .bx-wrapper .bx-pager {
  z-index: 1;
}
.sidebar .block-focus > div .bx-viewport {
  z-index: 2;
}
.sidebar .hot-response {
  padding: 0 10px 10px;
  background: #f3f3f3;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  position: relative;
}
.sidebar .hot-response .tag {
  position: absolute;
  top: 4px;
  right: 0;
  background: #c41f25;
  font-size: 11px;
  padding: 3px 5px;
  color: #fff;
}
.sidebar .hot-response > ul {
  font-family: avantgd, Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  height: 35px;
}
.sidebar .hot-response > ul li {
  margin-top: 2px;
  height: 27px;
  line-height: 27px;
  float: left;
  margin-right: 10px;
}
.sidebar .hot-response > ul li a {
  color: #c41f25;
}
.sidebar .hot-response > ul li.active,
.sidebar .hot-response > ul li:hover {
  margin-top: 0px;
  height: 27px;
  line-height: 27px;
  border-top: 2px solid #c41f25;
}
.sidebar .hot-response > ul li.active a,
.sidebar .hot-response > ul li:hover a {
  color: #c41f25;
}
.sidebar .hot-response .tab-content {
  padding-top: 5px;
}
.sidebar .hot-response .tab-content li {
  background: url('../Images/bullet-red.png') no-repeat left 8px;
  padding-left: 12px;
  margin-bottom: 8px;
  line-height: 18px;
}
.sidebar .hot-response .tab-content .see-more {
  text-align: right;
  font-weight: bold;
  font-size: 12px;
}
.sidebar .block-streamline {
  position: relative;
  background: #cde0cd;
}
.sidebar .block-streamline h3.title {
  position: absolute;
  top: 10px;
  right: -10px;
  background: #56985a;
  font-size: 11px;
  padding: 5px 10px;
  font-family: commercecb, Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}
.sidebar .block-streamline h3.title a {
  color: #fff;
}
.sidebar .block-streamline .story h4.title {
  margin: 10px;
  font-weight: bold;
  background: url('../Images/spliter-steamline.jpg') repeat-x bottom;
  padding-bottom: 10px;
}
.sidebar .block-streamline ul.relate {
  padding: 10px;
  padding-top: 0;
}
.sidebar .block-streamline ul.relate h4 {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 5px;
}
.sidebar .block-streamline ul.relate li {
  background: url('../Images/bullet-black.jpg') no-repeat left 8px;
  padding-left: 12px;
  margin-bottom: 8px;
  line-height: 18px;
}
.sidebar .sb-sknb {
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
.sidebar .sb-sknb ul {
  padding: 7px 10px 3px;
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
}
.sidebar .sb-sknb ul li {
  margin-bottom: 7px;
}
.sidebar .sb-sknb ul li article .thumbnail {
  width: 90px;
  height: 56px;
  overflow: hidden;
}
.sidebar .sb-sknb ul li article h4.title {
  font-weight: bold;
}
.sidebar .sb-sknb > a.showmore {
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: right;
  padding-right: 15px;
  color: #c41f25;
}
/* category style =================== */
.cat-highligh {
  border-bottom: 1px solid #c41f25;
  padding-bottom: 20px;
  margin-bottom: 17px;
}
.cat-highligh > article.story h4 {
  font-family: commercecb, Arial, Helvetica, sans-serif;
  font-size: 28px;
  margin-bottom: 10px;
}
.cat-highligh > article.story h4 i {
  font-size: 18px;
}
.cat-highligh > article.story h4 a {
  color: #505050;
}
.cat-highligh > article.story h4 a:hover {
  color: #0645ad;
}
.cat-highligh > article.story .thumbnail {
  margin-right: 20px;
}
.cat-highligh > article.story .summary {
  margin-bottom: 8px;
}
.cat-highligh > article.story li {
  margin-bottom: 8px;
  line-height: 18px;
}
.cat-highligh > article.story li a {
  background: url('../Images/bullet-red.png') no-repeat left 7px;
  padding-left: 12px;
  display: inline;
  color: #808080;
}
.cat-highligh > article.story li a:hover {
  color: #0645ad;
}
.listNsub .cat-listnews {
  width: 490px;
  float: left;
}
.listNsub .cat-listnews article {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 12px;
}
.listNsub .cat-listnews article h4.title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}
.listNsub .cat-listnews article .meta {
  margin-bottom: .5em;
}
.listNsub .cat-listnews article .thumbnail {
  margin-right: 20px;
}
.listNsub .cat-listnews article:last-child {
  border-bottom: none;
  padding-bottom: 15px;
  margin-bottom: 0px;
}
.listNsub .sub-area {
  float: right;
  width: 160px;
}
.listNsub .sub-area .block {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  background: #f3f3f3;
}
.listNsub .sub-area .block h3 {
  font-family: avantgd, Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  background: #c41f25;
  padding: 0 10px;
  height: 24px;
  line-height: 22px;
}
.listNsub .sub-area .block h3 a {
  color: #fff;
}
.listNsub .sub-area .block ul {
  margin: 10px 15px;
}
.listNsub .sub-area .block ul li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
}
.listNsub .sub-area .block ul li:first-child {
  padding-top: 0;
  border-top: none;
  font-weight: bold;
}
.listNsub .sub-area .block ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.mostread-day {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  background: #fff;
  border-top: 3px solid #c41f25;
}
.mostread-day h3 {
  font-family: avantgd, Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  padding: 7px 15px 10px;
}
.mostread-day h3 a {
  color: #c41f25;
}
.mostread-day h3 a:hover {
  color: #0645ad;
}
.mostread-day ul li {
  background: url('../Images/bullet-red.png') no-repeat 10px 8px;
  margin-bottom: 5px;
  padding: 0px 10px 10px 20px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e0e0e0;
  /* &:first-child{
				padding-top:0;
				border-top:none;
			} */
}
.mostread-day ul li:first-child {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  background: none;
  padding-left: 10px;
}
.mostread-day ul li:first-child .thumbnail {
  margin-bottom: 5px;
}
.mostread-day ul li:first-child .title {
  font-weight: bold;
}
.mostread-day ul li:last-child {
  border-bottom: none;
  padding-bottom: 25px;
}
.mostread-day-2 {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-top: none;
  background: #fff;
}
.mostread-day-2 h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  padding-left: 10px;
  border-top: 3px solid #c41f25;
  font-weight: bold;
  text-transform: uppercase;
}
.mostread-day-2 h3 a {
  color: #c41f25;
}
.mostread-day-2 h3 a:hover {
  color: #0645ad;
}
.mostread-day-2 ul li {
  background: url('../Images/bullet-red.png') no-repeat 10px 8px;
  margin-bottom: 5px;
  padding: 0px 10px 10px 20px;
  border-bottom: 1px solid #e0e0e0;
}
.mostread-day-2 ul li:first-child {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  background: none;
  padding-left: 10px;
}
.mostread-day-2 ul li:first-child .thumbnail {
  margin-bottom: 5px;
}
.mostread-day-2 ul li:first-child .title {
  font-weight: bold;
}
.mostread-day-2 ul li:last-child {
  border-bottom: none;
  padding-bottom: 25px;
}
.vov-pager {
  text-align: right;
  border-top: 1px solid #000;
  padding-bottom: 10px;
}
.vov-pager .pagination {
  margin: 10px 0;
}
.vov-pager .pagination-sm > li > a,
.vov-pager .pagination-sm > li > span {
  margin-right: 5px;
  padding: 2px 8px;
  font-weight: bold;
  color: #333;
}
.vov-pager .pagination > .active > a,
.vov-pager .pagination > .active > span,
.vov-pager .pagination > .active > a:hover,
.vov-pager .pagination > .active > span:hover,
.vov-pager .pagination > .active > a:focus,
.vov-pager .pagination > .active > span:focus {
  background-color: #c41f25;
  border: 1px solid #c41f25;
  color: #fff !important;
}
.vov-pager .sort-by {
  padding-top: 10px;
  text-align: left;
  float: left;
  font-weight: bold;
}
.vov-pager .sort-by i {
  font-size: 23px;
}
/* article style ----------- */
.main-article {
  line-height: 20px;
}
.main-article h1 {
  font-family: commercecb, Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-bottom: 7px;
  color: #0645ad;
}
.main-article .meta {
  margin-bottom: 10px;
}
.main-article .meta > div:first-child {
  float: left;
}
.main-article .meta time {
  display: inline-block;
  color: #555;
  font-size: 11px;
  float: left;
  font-style: italic;
  padding-right: 5px;
}
.main-article .social-wrap {
  box-shadow: 0px 0px 2px #777;
  padding: 8px 5px;
  margin-bottom: 20px;
}
.main-article .social-wrap > div {
  float: left;
}
.main-article .social-wrap > div h3 {
  font-size: 11px;
  font-style: italic;
  margin-bottom: 5px;
}
.main-article .social-wrap > div.last {
  width: 218px;
  float: right;
  border-left: 1px solid #ddd;
  padding-left: 5px;
  margin-left: 5px;
}
.main-article .social-wrap > div.last .fb-fanpage-link {
  width: 160px;
  margin: 0 auto;
  display: block;
}
.main-article .social {
  position: relative;
  display: block;
  clear: both;
  height: 25px;
  text-align: right;
  padding-bottom: 10px;
}
.main-article .social li:nth-child(3) {
  margin-left: -25px;
}
.main-article .video-bottom {
  border-top: 1px solid #ddd;
  padding-top: 5px;
  border-bottom: 1px solid #ddd;
  background: #eee;
  text-align: left !important;
  margin-bottom: 5px;
}
.main-article .video-bottom header {
  background: url('../Images/video-bottom-bg.png') no-repeat right 10px top;
  background-size: 40px 40px;
  font-weight: bold;
  line-height: 40px;
  font-family: commercecb, Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #ccc;
}
.main-article .video-bottom .story {
  margin-bottom: 0;
}
.main-article .video-bottom .story .title {
  font-size: 18px;
  padding: 5px 10px;
  font-weight: bold;
}
.main-article .video-bottom .story .thumbnail {
  background: #eee;
  margin-bottom: 0;
}
.main-article .video-bottom .story .thumbnail > div {
  margin-bottom: 0;
}
.main-article .video-bottom .story .sapo {
  margin-bottom: 10px;
  font-weight: normal;
  padding: 0 10px;
  font-size: 14px;
}
.main-article p.sapo {
  font-weight: bold;
}
.main-article .relate-right {
  width: 160px;
  float: right;
}
.main-article .relate-right > a.fb-fanpage-link {
  display: block;
  margin-bottom: 20px;
}
.main-article .text {
  width: 490px;
  float: left;
  /* -------------- */
  /* -------------- */
}
.main-article .text p,
.main-article .text div {
  margin-bottom: 15px;
}
.main-article .text .full-img {
  display: block;
  text-align: center;
}
.main-article .text .full-img img {
  margin-bottom: 10px;
}
.main-article .text .full-img .fig {
  font-size: 12px;
  font-style: italic;
  margin-top: 0;
}
.main-article .text .full-img .fig p {
  margin: 0 !important;
}
.main-article .text .author {
  float: right;
  text-align: center;
}
.main-article .text .author span {
  display: block;
  clear: both;
}
.main-article .text .author span.name {
  font-weight: bold;
  font-size: 13px;
  display: block;
}
.main-article .text div.quote {
  border-left: 1px solid #ccc;
  box-shadow: -3px 0 0px #ddd;
  font-size: 14px;
  line-height: 1.4em;
  padding: 10px 10px 0px 15px;
  font-style: italic;
  text-indent: 35px;
  width: 300px;
  background: url('../images/vov-quote.png') no-repeat 15px top;
  text-align: left;
}
.main-article .text div.quote .author {
  font-style: normal;
  text-align: right;
  font-weight: bold;
  display: block;
  padding-top: 10px;
}
.main-article .text div.quote img {
  float: right;
  margin-left: 10px;
  margin-bottom: 5px;
}
.main-article .text .quote.pull-left {
  margin-right: 20px;
}
.main-article .text .quote.pull-right {
  margin-left: 30px;
  border-right: none;
}
.main-article .text .quote.pull-center {
  width: inherit !important;
  border-right: none;
}
.main-article .text div.box-info-relate {
  padding: 20px 15px ;
  background: #f3f3f3;
  border: 1px solid #ccc;
  width: 250px;
}
.main-article .text div.box-info-relate p {
  margin-bottom: 0 !important;
}
.main-article .text div.box-info-relate .title {
  font-weight: bold;
  margin-bottom: 5px !important;
  font-size: 16px;
}
.main-article .text div.box-info-relate .content-info {
  padding-top: 0px;
}
.main-article .text div.box-info-relate.pull-left {
  margin-right: 20px;
}
.main-article .text div.box-info-relate.pull-right {
  margin-left: 20px;
  border-right: none;
}
.main-article .text .relate-article {
  margin-bottom: 20px;
}
.main-article .text .relate-article li {
  background: url('../Images/bullet-red.png') no-repeat left 8px;
  padding-left: 12px;
  margin-bottom: 8px;
  line-height: 18px;
}
.main-article .text .relate-article li a {
  color: #777;
}
.main-article .text .relate-article li a:hover {
  color: #c41f25;
}
.main-article .text > .article-relate-bottom > ul > li > a {
  color: #004175;
}
.main-article .text > .article-relate-bottom > ul > li > a:hover {
  color: #c41f25;
}
.tag-article h3 {
  font-family: avantgd, Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  float: left;
  margin-right: 10px;
  margin-top: 0px;
}
.tag-article > div {
  padding-top: 2px;
  margin-left: 50px;
}
.tag-article > div a {
  display: inline-block;
  color: #004175;
}
.tag-article > div a:hover {
  color: #c41f25;
}
.article-comment {
  border-top: 2px solid #999;
  padding-top: 10px;
  margin-bottom: 20px;
  background: #fff;
}
.article-comment h3 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  padding-left: 10px;
}
.article-comment h3 span {
  font-weight: normal;
  text-transform: inherit;
  display: inline-block;
  padding: 0 5px;
  font-size: 12px;
}
.article-comment .media {
  padding: 15px 10px 5px 0px;
  margin-top: 0;
  border-bottom: 1px solid #ddd;
}
.article-comment .media .meta {
  color: #666;
  margin: 0;
  font-size: 11px !important;
}
.article-comment .media .meta h4 {
  color: #666;
  font-size: 11px;
  font-weight: bold;
  float: left;
  line-height: 1.4em;
  margin-right: 10px;
}
.article-comment .media .meta time {
  float: left;
}
.article-comment .media .meta a {
  font-size: 15px;
  float: right;
  display: inline-block;
  margin-left: 10px;
}
.article-comment .media .media-body p {
  font-size: 13px;
}
.article-form {
  background-color: #eaedf8;
  padding: 10px 20px;
  margin-bottom: 30px;
}
.article-form > span {
  font-size: 11px;
  display: block;
  clear: both;
  padding-bottom: 10px;
}
.article-form textarea {
  height: 80px;
  width: 100%;
}
.article-form .form-group button:first-child {
  font-weight: bold;
  text-transform: uppercase;
}
.article-relate-bottom {
  margin-bottom: 20px;
}
.article-relate-bottom > .title {
  border-top: 1px solid #000;
  padding-top: 7px;
  padding-bottom: 5px;
}
.article-relate-bottom > .title h3 {
  text-transform: uppercase;
  font-family: avantgd, Arial, Helvetica, sans-serif;
  font-size: 18px;
  float: left;
  margin-right: 10px;
}
.article-relate-bottom > .title h3 a {
  color: #c41f25;
}
.article-relate-bottom li {
  background: url('../Images/bullet-red.png') no-repeat left 8px;
  padding-left: 12px;
  margin-bottom: 1px;
  line-height: 18px;
}
.article-relate-bottom li a {
  color: #000;
}
.article-relate-bottom li a:hover {
  color: #0645ad;
}
.article-relate-bottom ul.lastest-news-list a {
  color: #000;
}
.article-relate-bottom ul.lastest-news-list a:hover {
  color: #0645ad;
}
.article-relate-bottom.onbottom {
  padding: 10px;
  box-shadow: 0px 0px 2px #777;
  margin-bottom: 25px !important;
}
.article-relate-bottom.onbottom > h3 {
  font-family: commercecb, Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin-bottom: 9px;
}
.article-relate-bottom.onbottom li {
  margin-bottom: 7px;
}
.sub-cate {
  padding-bottom: 20px;
}
.sub-cate > div {
  width: 210px;
  float: left;
  margin-right: 15px;
}
.sub-cate > div h3 {
  border-bottom: 1px solid #c41f25;
  padding-bottom: 7px;
}
.sub-cate > div h3 a {
  display: block;
  background: url('../Images/bg-icon-note.jpg') no-repeat left 3px;
  font-size: 14px;
  text-transform: uppercase;
  height: 25px;
  line-height: 28px;
  padding-left: 30px;
}
.sub-cate > div li {
  border-top: 1px solid #ddd;
  padding: 10px 0;
}
.sub-cate > div li .thumbnail {
  margin-bottom: 7px;
}
.sub-cate > div li:first-child h4.title {
  font-weight: bold;
}
.sub-cate > div.last {
  float: right;
  margin-right: 0;
}
/* MEDIA STYLE ----------------- */
.media-highlight .meta {
  margin: 0;
}
.media-highlight .meta .tag {
  position: absolute;
  top: 10px;
  left: 0;
  padding: 3px 8px;
  display: inline;
  background-color: #c41f25;
  color: #fff;
}
.media-highlight .main {
  width: 440px;
  float: left;
  position: relative;
}
.media-highlight .main h4 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: commercecb, Arial, Helvetica, sans-serif;
  font-size: 25px;
  display: block;
  padding: 12px 15px;
  background: rgba(0, 0, 0, 0.5);
}
.media-highlight .main h4 a {
  color: #fff;
}
.media-highlight .main h4 a:hover {
  text-decoration: underline;
}
.media-highlight .relate {
  margin-bottom: 24px;
  width: 200px;
  float: right;
  position: relative;
}
.media-highlight .relate h4 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  padding: 6px 8px;
  background: rgba(0, 0, 0, 0.5);
}
.media-highlight .relate h4 a {
  color: #fff;
}
.media-highlight .relate h4 a:hover {
  text-decoration: underline;
}
.media-highlight .relate:last-child {
  margin-bottom: 0;
}
.media-cat {
  padding-top: 20px;
}
.media-cat .block div.title {
  padding-bottom: 7px;
}
.media-cat .block div.title a {
  font-family: avantgd, Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}
.media-cat .block ul li {
  width: 153px;
  float: left;
  margin-right: 16px;
  margin-bottom: 20px;
}
.media-cat .block ul li .thumbnail {
  margin-bottom: 5px;
}
.media-cat .block ul li:nth-child(4n) {
  float: right;
  margin-right: 0;
}
.most-read-w {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  background: #f3f3f3;
}
.most-read-w h3 {
  font-family: avantgd, Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  padding: 0 15px;
  line-height: 30px;
  padding-bottom: 5px;
}
.most-read-w ul {
  margin: 0px 15px 10px;
}
.most-read-w ul li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e0e0e0;
  padding: 7px 0 10px;
}
.most-read-w ul li:first-child {
  padding-top: 0;
  border-top: none;
  font-weight: bold;
}
.most-read-w ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.main-video .video-player {
  padding-bottom: 10px;
}
.main-video h2 {
  font-family: commercecb, Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding-bottom: 10px;
}
.main-video .meta time {
  display: inline;
  color: #555;
  font-size: 12px;
}
.main-video .meta p.social {
  display: inline;
  float: right;
}
.main-video .sapo {
  font-weight: bold;
}
/* Added by Dathq */
.listNsub .general-listnews {
  width: 430px;
}
.qc-970x90,
.qc-160x600,
.qc-300x80,
.qc-468x60 {
  background: #f5f5f5;
  border: 1px solid #CACACA;
  text-align: center;
  margin-bottom: 0px !important;
}
.qc-160x600 {
  width: 160px;
  height: 600px;
}
.qc-300x80 {
  width: 300px;
  height: 80px;
}
.qc-970x90 {
  width: 970px;
  height: 90px;
}
.qc-468x60 {
  width: 468px;
  height: 60px;
}
.ads,
.has-qc {
  text-align: center !important;
}
.has-qc:after {
  padding-top: 5px;
  clear: both;
  display: block;
  text-align: center;
  font-size: 11px;
  color: #999;
  content: "Quảng cáo";
}
h1.general-page-title {
  font-family: commercecb, Arial, Helvetica, sans-serif;
  font-size: 28px;
  margin-bottom: 15px;
}
h2.general-section-title {
  font-family: commercecb, Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
}
#search-results .highlight {
  background-color: #fbf23f;
}
.rss-channels {
  margin-left: 20px;
}
.rss-channels li {
  margin-bottom: 10px;
  font-weight: bold;
  padding-left: 40px;
  background: url(../Images/icon_rss.gif) no-repeat;
}
div.social {
  display: inline-block;
  text-align: right;
}
div.social ul {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  text-align: right;
}
div.social ul li {
  display: inline-block !important;
}
#article-body img {
  max-width: 490px !important;
}
#article-body a {
  color: #0645ad;
}
#article-body a span {
  color: #0645ad;
}
#article-body a:hover {
  color: #c41f25;
}
#article-body .desc {
  color: #666;
  text-align: center;
  padding-top: 5px;
  padding-left: 7px;
}
#article-body table img {
  margin-left: 7px;
  max-width: 97% !important;
}
.picBox {
  margin: 15px 0px;
}
/* Galleria */
.galleria-wrapper {
  position: fixed;
  bottom: -1000px;
}
.galleria {
  height: 467px;
  width: 500px;
}
.gallery-thumbs-wrap .gallery-thumbs {
  background: none repeat scroll 0 0 #000000;
  list-style: none outside none;
  margin: 0 0 10px;
  padding: 5px 5px 0;
  position: relative;
  z-index: 9999;
  max-width: 490px;
}
.gallery-thumbs-wrap.gallery-thumb-bottom .gallery-thumbs {
  transition: all 0.5s ease 0s;
  display: none;
}
.gallery-thumbs-wrap.gallery-thumb-bottom .gallery-thumbs.init {
  bottom: -300px;
  transition: all 0.5s ease 0s;
}
.gallery-thumbs-wrap.gallery-thumb-bottom .gallery-thumbs.fixed {
  bottom: 0;
  margin-bottom: 0;
  position: fixed;
  transition: all 0.5s ease 0s;
  width: 490px;
  z-index: 9999;
}
#gallery-thumbs img {
  width: 70px;
  height: 45px;
}
.gallery-thumbs-wrap .gallery-thumbs li {
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 1px;
  width: 15%;
}
.gallery-thumbs-wrap .gallery-thumbs li.play {
  margin: -34px 0 0;
  padding: 0 3px;
  position: absolute;
  right: 0;
  top: 40px;
  width: auto;
}
.gallery-thumbs-wrap .gallery-thumbs .play a {
  color: #fff;
}
/* topic - listing --------------- */
/*topic listing*/
.topics-listing {
  width: 660px;
  float: left;
  margin-right: 20px;
}
.tpi {
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  border-top: solid 2px #999;
}
.tpi .heading {
  font-size: 14px;
  line-height: 1em;
  color: #666;
  padding: 10px;
  background: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: solid 1px #eee;
}
.tpi .wrap {
  padding: 20px;
}
.tpi .colleft {
  width: 380px;
  float: left;
  margin-right: 20px;
}
.tpi .colleft .story {
  width: 180px;
  float: left;
  margin: 0 20px 0 0;
}
.tpi .story.right {
  margin-right: 0;
}
.tpi .thumb {
  margin-bottom: 5px;
}
.tpi .title {
  font-size: 12px;
  line-height: 1.4em;
  font-weight: bold;
}
.tpi .colright {
  width: 218px;
  float: left;
}
.tpi .colright .story {
  border-bottom: solid 1px #eee;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.tpi .colright .story.last {
  border: none;
  margin: 0;
  padding: 0;
}
.tpi .colright .title {
  font-size: 12px;
  line-height: 1.4em;
  font-weight: normal;
}
.tpi .meta {
  font-size: 0.75em;
  line-height: 1em;
  margin-bottom: 5px;
}
/* Báo Tiếng nói Việt Nam ================= */
.sidebar .block-news .bao-giay {
  position: relative;
  width: 230px;
  margin: 20px auto 0;
}
.sidebar .block-news .bao-giay ul li {
  background: none;
  padding-left: 0px;
  margin-bottom: 0px;
  line-height: 18px;
}
.sidebar .block-news .bao-giay ul li .story .cover {
  margin-bottom: 10px;
  border: 3px solid #c41f25;
}
.sidebar .block-news .bao-giay ul li .story h1.title {
  font-size: 14px;
  font-weight: bold;
}
.sidebar .block-news .bao-giay .control span {
  width: 25px;
  height: 37px;
  display: block;
  position: absolute;
  top: 50px;
  z-index: 1;
}
.sidebar .block-news .bao-giay .control span > a {
  width: 100%;
  height: 100%;
  display: block;
  text-indent: -999em;
  z-index: 2;
}
.sidebar .block-news .bao-giay .control span.slider-prev {
  background-image: url(../Images/arr-left.jpg);
  background-size: 25px 37px;
  left: -30px;
}
.sidebar .block-news .bao-giay .control span.slider-next {
  background-image: url(../Images/arr-right.jpg);
  background-size: 25px 37px;
  right: -30px;
}
.bao-giay-hl {
  padding-bottom: 20px;
}
.bao-giay-hl .story {
  float: left;
  width: 220px;
  overflow: hidden;
}
.bao-giay-hl .story h4.title {
  font-family: commercecb, Arial, Helvetica, sans-serif;
  font-size: 28px;
}
.bao-giay-hl .story h4.title a {
  color: #505050;
}
.bao-giay-hl .story .thumbnail {
  border: 3px solid #c41f25;
}
.bao-giay-hl .story .thumbnail img {
  width: 200px;
  height: auto;
}
.bao-giay-hl .comment-area {
  padding-top: 45px;
  float: right;
  width: 430px;
}
.bao-giay-hl .comment-post {
  margin-top: 20px;
  background: #f5f5f5;
  padding: 20px;
  padding-bottom: 0;
}
.bao-giay-hl .comment-post .media-body h4 {
  font-weight: bold;
}
.bao-giay-hl .comment-post .media-body time {
  font-style: italic;
  font-size: 11px;
}
/*
	VOV-slider style
*/
.vov-slider {
  margin-bottom: 10px;
}
.vov-slider .vov-slider-content {
  margin-bottom: 10px;
}
.vov-slider .vov-slider-content li {
  position: relative;
}
.vov-slider .vov-slider-content li .slider-image {
  height: 325px;
  background: #333;
  margin-bottom: 0;
  text-align: center;
}
.vov-slider .vov-slider-content li .slider-fig {
  border: 1px solid #ddd;
  border-top: none;
  padding: 5px 10px;
}
.vov-slider .vov-slider-content li .slider-prev {
  content: '';
  background: url(../Images/slide-control.png) left top no-repeat;
  width: 24px;
  height: 48px;
  position: absolute;
  left: 0;
  top: 140px;
  cursor: pointer;
}
.vov-slider .vov-slider-content li .slider-prev:hover {
  background: url(../Images/slide-control.png) left -50px no-repeat;
}
.vov-slider .vov-slider-content li .slider-next {
  content: '';
  background: url(../Images/slide-control.png) -50px 0 no-repeat;
  width: 24px;
  height: 48px;
  position: absolute;
  right: 0;
  top: 140px;
  cursor: pointer;
}
.vov-slider .vov-slider-content li .slider-next:hover {
  background: url(../Images/slide-control.png) -50px -50px no-repeat;
}
