﻿@charset "utf-8";
.pkg:after { content: " "; display: block; visibility: hidden; clear: both; height: 0.1px; font-size: 0.1em; line-height: 0; }
* html .pkg { display: inline-block; height: 1%; }
.pkg { * display: inline-block; }
*{margin:0; padding:0; list-style:none; outline:none; font-family:Arial, Helvetica, sans-serif;}
html{font:12px/1em Arial;height:100%; width:100%;}
a{text-decoration:none; color:#004276;}
a:hover{color:#ca0002}

.cp-box{width:300px; margin:0; background:#fff;}
.cp-head {padding:3px 0 2px; display:block; height: 35px;border-bottom: 3px solid #DA211C; line-height: 35px;}
.cp-head .title{font-size:19px; font-weight:normal; color:#c41f25; display:inline; vertical-align:middle; margin-left: 5px; font-weight: bold;}
.cp-head img{vertical-align:middle;}
.cp-cnt{background:#F4F4F4; border:1px solid #d5d5d5; border-top:0; padding:13px 0;height: 180px;overflow: hidden;}
.cp-cnt ul{padding:0 15px;}
.cp-cnt .title{line-height:17px; color:#000;}
.cp-cnt .title *{font-size:12px; font-weight:normal; display:inline;}
.cp-cnt li{list-style:outside square; color:#D50006; margin-left:15px; margin-bottom:5px;}
.cp-cnt ul .first{list-style:none; border-bottom:1px dotted #c3c3c3; padding-bottom:12px; margin-bottom:10px; margin-left:0;}
.cp-cnt .thumb{display:block; width:108px; max-height:76px; overflow:hidden; margin-right:10px; float:left; border:2px solid #fff;}
.cp-cnt .first .title *{font-weight:bold;}
.cp-cnt .title:hover{ color:#ca0002}
