/*活动规则*/
.rule-kv .tit{
	margin-top: -15px;
	max-width: 100%;
}
.rule-box{
	position: relative;
	clear: both;
	padding: 80px 0;
	background: #fff;
}
.rule-box.deep{
	background: #eee;
	padding-top: 70px;
}
.rule-content{
	position: relative;
	z-index: 1;
	/* width: 833px; */
	width: 62%;
	margin: auto;
}
.rule-content .h2{
	font-size: 26px;
	color: #434343;
	margin-bottom: 40px;
	margin-top: 0;
}
.rule-content .h2 em{
	width: 5px;
	height: 23px;
	display: inline-block;
	background: #434343;
	vertical-align: middle;
	margin-right: 13px;
	font-weight: bold;
}
.rule-content .h3{
	font-size: 16px;
	line-height: 32px;
	margin-top: 0;
	margin-bottom: 0;
}
.rule-content dl.p{
	margin-top: 50px;
}
.rule-content dl.p dt,
.rule-content dl.p dd{
	line-height: 32px;
	color: #535353;
	font-weight: normal;
}
.rule-content dl.p img{
	max-width: 100%;
}
.rule-vr-btns{
	margin-top: 10px;
}
.rule-vr-btns .btn{
	margin-right: 10px;
	padding: 10px 30px;
	background: #36bdcc;
	border: 2px solid #fff;
}
.rule-vr{
	margin-top: -10px;
	overflow: hidden;
	padding: 20px;
	border: 1px solid #bebdbd;
	background: #c9c9c9;
	border-radius: 8px;
	box-shadow: 0 1px 0px rgba(177, 176, 176, 0.75) inset;
}
.rule-vr .vr-txt{
	float: left;
	margin-top: 65px;
	font-size: 16px;
	color: #fff;
	text-align: center;
}
.rule-vr .vr-img{
	float: right;
	width: 45%;
	text-align: right;
}
.rule-vr .vr-img img{
	max-width: 100%;
}
.rule-qa{
	margin-bottom: 30px;
	padding: 35px 0;
	height: 290px;
	min-height: 290px;
	color: #434343;
	line-height: 30px;
	font-size: 16px;
	border: 5px solid #c9c9c9;
	border-radius: 20px;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 5px 10px rgba(210, 210, 210, 0.75);
}
.rule-qa p{
	padding: 0 6%;
}
.rule-qa a{
	color: #434343;
}
.rule-qa-lg{
	height: auto;
	min-height: auto;
}
/*decorate elements*/
.rule-wave{
	position: absolute;
	top: -11px;
	width: 100%;
	height: 11px;
	background: url(../images/contents/event/rule/rule-wave.png) repeat-x;
}
.rule-e1{
	position: absolute;
	right: 0;
	bottom: 20%;
	padding-right: 0 !important;
}
.rule-e2{
	position: absolute;
	left: 0;
	top: -105px;
	padding-left: 0 !important;
}
.rule-e3{
	position: absolute;
	right: 0;
	top: -125px;
	padding-right: 0 !important;
}
.rule-clock{
	position: absolute;
	right: 30px;
	top: 0;
	padding-right: 0 !important;
}
.rule-gift{
	position: absolute;
	right: 0;
	top: 100px;
	padding-right: 0 !important;
}
.rule-curve{
	position: absolute;
	top: 120px;
	width: 100%;
}
.rule-nav{
	position: fixed;
	z-index: 2;
	left: 5%;
	top: 50%;
	margin-top: -199px;
	visibility: hidden;
	opacity: 0;
	transition: opacity .6s;
	-webkit-transition: opacity .6s;
}
.rule-nav.active{
	visibility: visible;
	opacity: 1;
}
.rule-nav .nav{
	position: absolute;
	padding: 0;
	margin: 0;
	width: 140px;
	background: #bbe1ed;
	background: -webkit-linear-gradient(#bbe1ed, #37bdcc);
	background: -o-linear-gradient(#bbe1ed, #37bdcc); 
	background: -moz-linear-gradient(#bbe1ed, #37bdcc); 
	background: linear-gradient(#bbe1ed, #37bdcc); 
	border-radius: 15px;
	overflow: hidden;
}
.rule-nav .nav li{
	font-size: 16px;
	border-bottom: 1px solid #249eab;
	text-align: center;
	line-height: 56px;
}
.rule-nav .nav li:last-child{
	border-bottom: none;
}
.rule-nav .nav li.active,
.rule-nav .nav li a:hover,
.rule-nav .nav li a:focus{
	background: #249eab;
}
.rule-nav .nav li a{
	display: block;
	padding: 0;
	color: #fff;
}
/*图购*/
.tugou-content{
	margin: auto;
	width: 1200px;
}
.tugou-scene{
	margin-top: 30px;
	padding-bottom: 50px;
	border-bottom: 1px dotted #12026b;
}
.tugou-scene .hd{
	margin-bottom: 20px;
	color: #777;
	text-align: center;
}
.tugou-scene .hd h2{
	margin-top: 0;
	font-size: 30px;
	color: #333;
}
.tugou-scene .hd h3{
	font-size: 18px;
	margin-top: 10px;
	text-transform: uppercase;
	font-family: times new roman;
	letter-spacing: 4px;
}
.tugou-scene .hd em{
	display: block;
	margin: auto;
	width: 16%;
	height: 1px;
	background: #7d7d7d;
}
.tugou-scene .hd p{
	font-size: 16px;
}
.tugou-scene .scene{
	position: relative;
}
.tugou-scene .scene a{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	color: #fff;
	width: 18px;
	height: 18px;
	border: 1px solid #fff;
	text-align: center;
	line-height: 1;
	background: #000;
	border-radius: 100%;
	top: 20%;
	left: 50%;
}
.tugou-scene .scene a:hover,
.tugou-scene .scene a:focus{
	text-decoration: none;
}
@keyframes pulse {
  0% { transform: scale(0); opacity: 0.0; }
  25% { transform: scale(0); opacity: 0.1; }
  50% { transform: scale(0.1); opacity: 0.5; }
  75% { transform: scale(0.5); opacity: 1; }
  100% { transform: scale(1); opacity: 0.0; }
}
@-webkit-keyframes pulse {
  0% { -webkit-transform: scale(0); opacity: 0.0; }
  25% { -webkit-transform: scale(0); opacity: 0.1; }
  50% { -webkit-transform: scale(0.1); opacity: 0.5; }
  75% { -webkit-transform: scale(0.5); opacity: 1; }
  100% { -webkit-transform: scale(1); opacity: 0.0; }
}
.tugou-scene .scene a:after{
	position: absolute;
	content: '';
	display: block;
	top: 50%;
	left: 50%;
	margin-left: -17px;
	margin-top: -17px;
	width: 34px;
	height: 34px;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 100%;
	animation: pulse 2s ease-out infinite;
	-webkit-animation: pulse 2s ease-out infinite;
}
.tugou-scene .groups{
	margin-top: 30px;
	margin-right: -20px;
	height: 273px;
	overflow: hidden;
}
.tugou-scene .groups .tag{
	float: left;
	position: relative;
	width: 24px;
	height: 100%;
	margin: 0 22px 0 2px;
}
.tugou-scene .groups .tag span{
	position: absolute;
	top: 50%;
	margin-top: -30px;
	font-size: 12px;
	color: #313131;
	line-height: 30px;
}
.tugou-scene .groups .tag em{
	position: absolute;
	top: 50%;
	display: block;	
	background: #aaa;
	height: 1px;
	width: 100%;
}
.tugou-scene .groups .item{
	position: relative;
	float: left;
	overflow: hidden;
	margin-right: 20px;
}
.tugou-scene .groups .item .info{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px;
	color: #fff;
	text-align: center;
}
.tugou-scene .groups .item .info span{
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	visibility: hidden;
}
.tugou-scene .groups .item .info span.name{
	margin-bottom: 5px;
}
.tugou-scene .groups .item .info span.price{
	font-family: arial;
	font-size: 16px;
}
.tugou-scene .groups .item .info span.divider{
	margin: 5px auto;
	width: 60%;
	height: 1px;
	background: #b5b5b5;
}
.tugou-scene .groups .item .info span.buytxt{
	font-size: 12px;
	color: #626262;
	visibility: visible;
}
@keyframes fadeInBottom{
	from{ transform: translate3d(0, 100%, 0); opacity: 0; }
	to{ transform: translate3d(0, 0, 0); opacity: 1; }
}
@-webkit-keyframes fadeInBottom{
	from{ -webkit-transform: translate3d(0, 100%, 0); opacity: 0; }
	to{ -webkit-transform: translate3d(0, 0, 0); opacity: 1; }
}
.tugou-scene .groups .item a:hover .info{
	background: #333;
	background: rgba(0, 0, 0, 0.5);
	animation: fadeInBottom .6s both;
	-webkit-animation: fadeInBottom .6s both;
}
.tugou-scene .groups .item a:hover .info span{
	visibility: visible;
}
.tugou-scene .groups .item a:hover .info span.buytxt{
	color: #fff;
}
/*爆款*/
.baokuan-content{
	position: relative;
	margin: 80px auto 0;
	width: 1072px;
	z-index: 2;
}
@media (max-width: 768px) {
  .baokuan-content {
    width: auto;
    margin: 20px 15px;
  }
}
.baokuan-scene{
	margin-top: 50px;
}
.baokuan-scene img{
	max-width: 100%;
}
.baokuan-products{
	margin: 30px 0;
}
.baokuan-products .col-sm-3,
.baokuan-products .col-xs-6{
	padding: 0 4px;
}
.baokuan-products .item{
	position: relative;
	display: block;
	border: 1px solid #d6d6d6;
	color: #000;
	text-align: center;
	margin-top: 8px;
	background: #fff;
	transition: background .6s;
	-webkit-transition: background .6s;
}
.baokuan-products .item .img{
	background: #fff;
	margin-bottom: 5px;
}
.baokuan-products .item .img img{
	width: 100%;
}
.baokuan-products .item .price-old{
	color: #c1c1c1;
	font-size: 12px;
	text-decoration: line-through;
}
.baokuan-products .item .price-now{
	font-size: 18px;
	font-family: arial;
}
.baokuan-products .item .divider{
	margin: 5px auto;
	width: 70%;
	height: 1px;
	background: #d5d5d5;
}
.baokuan-products .item .buytxt{
	margin-bottom: 10px;
	font-size: 18px;
	color: #d6a90d;
}
.baokuan-products .item:after{
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	border-style: solid;
	border-width: 9px 8px 9px 8px;
	border-color: transparent #d6a90d #d6a90d transparent;
}
.baokuan-products .item:focus{
	text-decoration: none;
}
.baokuan-products .item:hover{
	text-decoration: none;
	background: #d6a90d;
	color: #fff;
}
.baokuan-products .item:hover .divider{
	background: #fff;
}
.baokuan-products .item:hover .price-old,
.baokuan-products .item:hover .buytxt{
	color: #fff;
}
.baokuan-hot .item{
	margin-bottom: 20px;
	border: none;
	background: none;
}
.baokuan-hot .item .buytxt{
	font-size: 14px;
	color: #c5c5c5;
}
.baokuan-hot .item .divider{
	width: 50%;
}
.baokuan-hot .item:after{
	display: none;
}
.baokuan-hot .item:hover{
	background: none;
	color: #000;
}
.baokuan-hot .item:hover .price-old{
	color: #c1c1c1;
}
.baokuan-hot .item:hover .divider{
	background: #d5d5d5;
}
.baokuan-hot .item:hover .buytxt{
	color: #000;
}

.baokuan-nav{
	position: fixed;
	z-index: 2;
	left: 3%;
	top: 50%;
	margin-top: -165px;
	padding: 25px 0;
	width: 73px;
	border: 1px solid #8b8888;
	background: #fff;
	visibility: hidden;
	opacity: 0;
	transition: opacity .6s;
	-webkit-transition: opacity .6s;
}
.baokuan-nav.active{
	visibility: visible;
	opacity: 1;
}
.baokuan-nav .txt{
	display: block;
	text-align: center;
	line-height: 1;
	color: #333;
	font-size: 18px;
	text-transform: uppercase;
}
.baokuan-nav .arrow{
	display: block;
	margin: auto;
	width: 25px;
	height: 19px;
	background: url(../images/contents/event/baokuan/arrow.png) no-repeat;
}
.baokuan-nav .nav{
	padding: 0;
	margin: 20px 0 20px -14px;
	width: 100px;
}
.baokuan-nav .nav li{
	font-size: 16px;
	text-align: center;
	line-height: 40px;
	background: #535353;
}
.baokuan-nav .nav li:nth-of-type(odd){
	background: #333;
}
.baokuan-nav .nav li.active,
.baokuan-nav .nav li a:hover,
.baokuan-nav .nav li a:focus{
	background: #000;
}
.baokuan-nav .nav li a{
	display: block;
	padding: 0;
	color: #fff;
}
.baokuan-pattern{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 200%;
}
.baokuan-pattern .pl,
.baokuan-pattern .pr{
	position: absolute;
}
.baokuan-pattern .pl{
	top: 0;
	left: 0;
	width: 236px;
	height: 956px;
	background: url(../images/contents/event/baokuan/pattern1.jpg) no-repeat;
}
.baokuan-pattern .pr{
	margin-top: 150%;
	top: 0;
	right: 0;
	width: 244px;
	height: 704px;
	background: url(../images/contents/event/baokuan/pattern2.jpg) no-repeat;
}
/*秒杀*/
.miaosha{
	overflow: hidden;
}
.miaosha .wrap{
	position: relative;
	margin: auto;
	text-align: center;
}
.miaosha .wrap img{
	max-width: 100%;
}
.miaosha .ms-wrap{
	margin: 0 auto 50px;
	width: 1200px;
}
/*首页*/
.mt50 {
  margin-top: 50px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.iColor-list {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}
.iColor-list b{font-weight:normal;}
.iColor-list em,.iColor-list i{font-style:normal;}
.iColor-tit {
  border-bottom: 1px solid #e9e9e9;
  text-align: center;
  padding: 0 0 12px;
}
.iColor-tit a {
  color: #333;
  font-size: 20px;
  line-height: 20px;
}
.iColor-tit a:hover{text-decoration: none;}
.iColor-tit a i {
  color: #999;
  font-size: 12px;
  display: block;
  text-transform: uppercase;
}
.iColor-tit a span {
  display: inline-block;
  font-size: 14px;
  color: #111;
  text-decoration: underline;
  position: relative;
  line-height: 18px;
}
.iColor-tit a span:after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -3px;
  right: -8px;
  border-left: 6px solid #333;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
.iColor-hot ul,
.iColor-mj ul,
.iColor-dz ul,
.iColor-zx ul,
.iColor-jp ul {
  padding: 30px 0 0;
  position: relative;
}
.iColor-hot li,
.iColor-mj li,
.iColor-dz li,
.iColor-zx li,
.iColor-jp li {
  float: left;
}
.iColor-hot li img,
.iColor-mj li img,
.iColor-dz li img,
.iColor-zx li img,
.iColor-jp li img {
  display: block;
}
.iColor-mj li{position: relative;}
.iColor-mj li:nth-child(even) {
  float: right;
  margin-left: 400px;
}
.iColor-mj li:last-child {
  position: absolute;
  top: 30px;
  left: 410px;
}
.iColor-mj li span {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  line-height: 50px;
  padding: 0 18px;
  display:none;
  background: rgba(0, 0, 0, 0.5);
}
.iColor-mj li a:hover span{
	display: block;
	text-decoration:none;
}
.iColor-mj li a {
  color: #fff;
  font-size: 18px;
}
.iColor-mj li span a b,
.iColor-mj li span a em {
  float: right;
  font-size: 12px;
  margin-left: 10px;
}
.iColor-mj li:nth-child(1),
.iColor-mj li:nth-child(2) {
  margin-bottom: 30px;
}
.iColor-dz li {
  margin-bottom: 40px;
  position: relative;
}
.iColor-dz li span {
  display: block;
  position: absolute;
  bottom: 74px;
  left: 100px;
  text-align: center;
}
.iColor-dz li span a {
  display: block;
  width: 140px;
  height: 42px;
  line-height: 42px;
  color: #fff;
  background: #333;
  border-radius: 3px;
}
.iColor-dz li:nth-child(even) span {
  left: 960px;
}
.iColor-dz li:nth-child(even) {
  margin-bottom: 0;
}
.iColor-zx li {
  border: 1px solid #f1f1f1;
  margin-right: 37px;
}
.iColor-zx li:last-child {
  margin-right: 0;
}
.iColor-zx li img {
  width: 270px;
  height: 315px;
}
.iColor-zx li span {
  text-align: center;
  display: block;
  font-size: 18px;
  line-height: 24px;
  padding: 8px 0 20px;
}
.iColor-zx li a {
  color: #333;
}
.iColor-zx li span i {
  font-size: 12px;
  color: #666;
  display: block;
}
.iColor-jp li {
  margin: 0 39px 40px 0;
  width: 270px;
  height: 270px;
  position: relative;
}

.iColor-jp li img{width:270px; height:270px;}
.iColor-jp li:nth-child(4n) {
  margin-right: 0;
}
.iColor-jp li span {
  position: absolute;
  font-size: 14px;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: right;
  display: block;
  padding-right: 30px;
  height: 36px;
  line-height: 36px;
}
.iColor-jp li a span{
  color: #666;
}
.iColor-jp li span:after {
  content: "";
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  border-top: 1px solid #666;
  border-right: 1px solid #666;
  transform: rotate(45deg);
}
.iColor-jp li p {
  position: absolute;
  font-size: 12px;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  display: block;
  padding: 15px 10px;
  text-align: center;
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  margin: 0;
  display: none;
}
.iColor-jp li:hover p{
	display:block;
}
.iColor-jp li a {
  color: #fff;
}
.iColor-jp li p i {
	position: relative;
	bottom: -10px;
  float: right;
  display: block;
  font-size: 14px;
}
/* .iColor-jp li p i:after {
  content: "";
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -4px;
  width: 6px;
  height: 6px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
} */

/*tugou815*/
.tugou815{
	
}
.tugou815 .tugou-scene{
	position: relative;
	padding-top: 60px;
	padding-bottom: 0;
}
.tugou815 .tugou-tag{
	position: absolute;
	top: 0;
	padding: 15px;
	line-height: 36px;
	color: #fff;
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	background: #e7c94d;
	box-sizing: initial;
	-webkit-box-sizing:  initial;
}
.tugou815 .tugou-tag small{
	font-weight: normal;
	font-size: 26px;
}
.tugou815 .tugou-scene .hd h2{
	font-size: 24px;
	font-weight: bold;
}
.tugou815  .tugou-scene .hd p{
	font-size: 16px;
}
.tugou815 .tugou-item{
	margin-bottom: 40px;
}
.tugou815 .tugou-scene .groups{
	height: auto;
}
.tugou815 .tugou-scene .groups .item{
	margin-bottom: 9px;
	margin-right: 7px;
}
.tugou815 .tugou-scene .groups .item-main .info span.name{
	font-size: 20px;
}
.tugou815 .tugou-scene .groups .item-main .info span.price{
	font-size: 18px;
}
.tugou815 .tugou-scene .groups .item-main .info span.buytxt{
	font-size: 16px;
	text-align: right;
}
.tugou815 .tugou-scene .groups .item .info span.divider{
	background: #fff;
}
.tugou815 .tugou-scene .groups .item a:hover .info{
	background: #e5c74b;
}
.tugou815 .tugou-scene .groups .item-main a:hover .info span.buytxt{
	text-align: center;
}
.tugou815 .tugou-scene .scene a{
	background: #f19427;
}
.tugou815 .tugou-scene .scene a:after{
	background: rgba(218, 129, 14, .8);
}

/*引导浮层*/
.intro{
	overflow: hidden;
}
.intro-big{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999999;
	overflow: hidden;
	background: url(../images/contents/event/index815/ic.jpg) center no-repeat;
	background-size: cover;
}
.intro .ic-header .main-nav, 
.intro .ic-header-fullscreen .main-nav{
	z-index: auto;
}
.intro-modal{
	display: none;
}
.intro-modal.active{
	display: block;
}
.intro-overlay{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    z-index: 999999;
	background: #000;
    transition: all 0.3s ease-out;
}
.intro-relativePosition{
	position: relative;
	z-index: 9999999 !important;
	pointer-events: none;
}
.intro-helperLayer{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.intro-helperLayer .container{
	position: relative;
}
.intro-helperLayer .mask{
	position: absolute;
	transition: all 0.3s ease-out;
	z-index: 9999998;
	background: #fff;
	width: 168px;
	height: 95px;
	top: 37px;
	left: 15px;
	background: url(../images/contents/event/index815/mask.png) no-repeat;
}
.intro-tooltip{
	position: absolute;
	z-index: 10000000;
	top: 135px;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	color: #fff;
}
.intro-tooltip .layer{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
}
.intro-tooltip .layer.active{
	display: block;
}
.intro-tooltip .layer .container{
	position: relative;
}
.intro-tooltip .arrow{
	position: absolute;
	width: 124px;
	height: 108px;
	background: url(../images/contents/event/index815/tooltip-arr.png) no-repeat;
}
.intro-tooltip .i{
	margin: auto;
	background: url(../images/contents/event/index815/intro-i.png) no-repeat;
}
.intro-tooltip .txt{
	margin-top: 15px;
	margin-bottom: 30px;
	font-size: 22px;
	line-height: 35px;
}
.intro-tooltip .txt span{
	font-size: 30px;
}
.intro-tooltip .btn{
	line-height: 1;
	padding: 10px 35px;
	font-size: 16px;
	color: #fff;
	background: #00cacf;
	border-radius: 5px;
}
.intro-tooltip .scene{
	margin-bottom: 35px;
	margin-top: 70px;
}
.intro-tooltip .scene li{
	display: inline-block;
	margin: 0 40px;
	background: url(../images/contents/event/index815/intro-scene.png) no-repeat;
}
.layer1 .i{
	margin-top: 30px;
	width: 98px; 
	height: 130px; 
	background-position: 0 0;
}
.layer2 .i{
	margin-top: 60px;
	width: 100px; 
	height: 100px; 
	background-position: -100px 0;
}
.layer3 .i{
	position: absolute;
	left: 530px;
	top: -50px;
	width: 302px; 
	height: 83px; 
	background-position: -202px -86px;
}
.layer4 .i{
	position: absolute;
	left: 160px;
	top: -60px;
	width: 347px; 
	height: 84px; 
	background-position: -202px 0;
}
.layer2 .txt{
	font-size: 25px;
}
.layer1 .arrow{
	left: 200px;
}
.layer2 .arrow{
	left: 360px;
	top: -20px;
}
.layer3 .scene li.s1{
	width: 267px; 
	height: 303px; 
	background-position: 0 0;
}
.layer3 .scene li.s2{
	width: 253px; height: 303px; background-position: -269px 0;
}
.layer3 .scene li.s3{
	width: 243px; height: 303px; background-position: -524px 0;
}
.layer4 .scene li.s1{
	width: 238px; height: 301px; background-position: -1017px 0;
}
.layer4 .scene li.s2{
	width: 246px; height: 302px; background-position: -769px 0;
}

.active .layer .arrow{
	animation:  fadeIn 1s both;
	-webkit-animation:  fadeIn 1s both;
}
.active .layer .i{
	animation: bounceInUp 1s .6s both;
	-webkit-animation: bounceInUp 1s .6s both;
}
.active .layer .txt{
	animation: fadeIn 1s 1.2s both;
	-webkit-animation: fadeIn 1s 1.2s both;
}
.active .layer .btn{
	animation: fadeIn 1s 1.8s both;
	-webkit-animation: fadeIn 1s 1.8s both;
}
.active .layer .s1{
	animation: fadeIn 1s 1.2s both;
	-webkit-animation: fadeIn 1s 1.2s both;
}
.active .layer .s2{
	animation: fadeIn 1s 1.8s both;
	-webkit-animation: fadeIn 1s 1.8s both;
}
.active .layer .s3{
	animation: fadeIn 1s 2.4s both;
	-webkit-animation: fadeIn 1s 2.4s both;
}
.active .layer.layer3 .btn{
	animation-delay: 3s;
	-webkit-animation-delay: 3s;
}
.active .layer.layer4 .btn{
	animation-delay: 2.4s;
	-webkit-animation-delay: 2.4s;
}

/*设计首选会场*/
.huichang{
	background: #222222;
	overflow: hidden;
}
.hc-wrap{
	width: 1200px;
	margin:  auto;
}
.hc-main{
	overflow: hidden;
	height: 1250px;
	background: url(../images/contents/event/designer/top.jpg) center no-repeat;
}
.hc-main-scene{
	padding: 0;
	margin-top: 630px;
	margin-right: -3px;
}
.hc-main-scene li{
	position: relative;
	float: left;
	margin-right: 1px;
	margin-bottom: 1px;
	overflow: hidden;
}
.hc-main-scene li p{
	visibility: hidden;
	position: absolute;
	margin-bottom: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px 0;
	color: #fff;
	text-align: center;
	font-size: 18px;
	background: #333;
	background: rgba(0, 0, 0, .5);
}
.hc-main-scene li p span{
	display: block;
	font-size: 14px;
}
.hc-main-scene li:hover p{
	visibility: visible;
	animation: fadeInBottom .6s both;
	-webkit-animation: fadeInBottom .6s both;
}
.hc-module{
	margin-bottom: 60px;
	background-repeat:  no-repeat;
	background-position: center 75%;
}
.hc-module.module1{
	background-image: url(../images/contents/event/designer/bg1.jpg);
}
.hc-module.module2{
	background-image: url(../images/contents/event/designer/bg2.jpg);
}
.hc-module.module3{
	background-image: url(../images/contents/event/designer/bg3.jpg);
}
.hc-module.module4{
	background-image: url(../images/contents/event/designer/bg4.jpg);
}
.hc-module.module5{
	background-image: url(../images/contents/event/designer/bg5.jpg);
}
.hc-hd{
	margin-top: 30px;
	margin-bottom: 50px;
	position: relative;
	text-align: center;
	border-top: 1px solid #f0bb5c;
}
.hc-hd img{
	margin-top: -30px;
	padding: 0 10px;
	background: #222222;
}
.hc-case{
	position: relative;
}
.hc-case .carousel-indicators{
	position: relative;
	left: 0;
	right: 0;
	bottom: auto;
	margin: -50px 0 0 0;
	width: 100%;
}
.hc-case .carousel-indicators li{
	position: relative;
	overflow: hidden;
	width: 180px;
	height: 100px;
	background: none;
	border-radius: 0;
	border: none;
	box-shadow: none;
	text-indent: -30px;
}
.hc-case .carousel-indicators li img{
	height: 100px;
}
.hc-case .carousel-indicators li.active{
	opacity: 0.95;
}
.hc-case .carousel-indicators li.active:after{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	content: '';
	display: block;
	background: rgba(255, 255, 255, 0.5);
}
.hc-case .hc-case-tag{
	position: absolute;
	top: 0;
	right: 0;
}
.hc-case .hc-case-info{
	margin: -60px 160px 0 160px;
	padding: 60px 40px 20px 40px;
	text-align: center;
	line-height: 24px;
	color: #999;
	border: 1px solid #f0bb5c;
}
.hc-case .hc-case-info h3{
	font-size: 24px;
	color: #f0bb5c;
}
.hc-case .hc-case-info h4{
	color: #f0bb5c;
	font-size: 14px;
}
.hc-case .hc-case-info .btn{
	padding: 3px 40px;
	background: #f0bb5c;
	color: #fff;
	border-radius: 0;
}


.hc-pro{
	margin-top: 65px;
}
.hc-pro-main{
	position: relative;
	margin: 15px auto 0;
	width: 875px;
}
.hc-tag-pro{
	position: absolute;
	top: 20%;
	left: 20%;
}
.hc-tag-pro .dot{
	position: relative;
	width: 36px;
	height: 36px;
	cursor: pointer;
}
.hc-tag-pro .dot i{
	position: relative;
	z-index: 3;
	display: block;
	top: 13px;
	left: 13px;
	width: 10px;
	height: 10px;
	background: #ffedcc;
	border-radius: 100%;
	box-shadow: 0 0 5px rgba(255, 255, 190, 0.75);
}
.hc-tag-pro .dot:before{
	position: absolute;
	z-index: 1;
	top: -12px;
	left: -12px;
	content: '';
	display: block;
	width: 60px;
	height: 60px;
	background: #f0bb5c;
	border-radius: 100%;
	animation: pulse 2s ease-out infinite;
	-webkit-animation: pulse 2s ease-out infinite;
}
.hc-tag-pro .dot:after{
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	content: '';
	width: 36px;
	height: 36px;
	display: block;
	background: #c7b176;
	border-radius: 100%;
	animation: pulse 2s ease-out 0.2s infinite;
	-webkit-animation: pulse 2s ease-out 0.2s infinite;
}
.hc-tag-pro .pop{
	position: absolute;
	left: 50%;
	top: 0;
	z-index: 9;
	margin-left: -100px;
	padding: 10px;
	width: 200px;
	font-size: 18px;
	background: #333;
	background: rgba(0, 0, 0, 0.6);
	visibility: hidden;
	opacity: 0;
	transition: all .6s;
	-webkit-transition: all .6s;
}
.hc-tag-pro:hover .pop{
	opacity: 1;
	visibility: visible;
}
.hc-tag-pro .pop a{
	color: #fff;
}
.hc-tag-pro .pop a:hover{
	text-decoration: none;
}
.hc-tag-pro .pop p{
	margin-bottom: 0;
	font-size: 14px;
}
.hc-tag-pro .pop p.buytxt{
	margin-top: 20px;
	font-size: 14px;
	text-align: right;
}
.hc-pro-list{
	margin: 40px 0 40px 162px;
	overflow: hidden;
}
.hc-pro-list .pro{
	position: relative;
	float: left;
	overflow: hidden;
	margin-right: 10px;
}
.hc-pro-list .pro .info{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px;
	color: #fff;
	text-align: center;
}
.hc-pro-list .pro .info span{
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	visibility: hidden;
}
.hc-pro-list .pro .info span.name{
	margin-bottom: 5px;
}
.hc-pro-list .pro .info span.price{
	font-family: arial;
	font-size: 16px;
}
.hc-pro-list .pro .info span.buytxt{
	font-size: 12px;
	color: #626262;
	visibility: visible;
	text-align: right;
}
.hc-pro-list .pro a:hover .info{
	background: #fff;
	background: #f0bb5c;
	animation: fadeInBottom .6s both;
	-webkit-animation: fadeInBottom .6s both;
}
.hc-pro-list .pro a:hover .info span{
	visibility: visible;
}
.hc-pro-list .pro a:hover .info span.buytxt{
	text-align: center;
	color: #fff;
	display: none;
}

.hc-nav{
	position: fixed;
	z-index: 2;
	left: 1%;
	top: 50%;
	margin-top: -165px;
	width: 102px;
	visibility: hidden;
	opacity: 0;
	transition: opacity .6s;
	-webkit-transition: opacity .6s;
}
.hc-nav.active{
	visibility: visible;
	opacity: 1;
}
.hc-nav ul{
	padding: 0;
	margin: 0;
}
.hc-nav ul li{
	font-size: 18px;
	text-align: center;
	line-height: 42px;
	margin-bottom: 1px;
	letter-spacing: 3px;
	background: #5b5b5b;
}
.hc-nav ul li a{
	text-decoration: none;
}
.hc-nav ul li.active,
.hc-nav ul li a:hover,
.hc-nav ul li a:focus{
	background: #f1bc54;
}
.hc-nav ul li a{
	display: block;
	padding: 0;
	color: #fff;
}
.hc-nav .backtop{
	display: block;
	text-align: center;
	color: #fff;
	line-height: 42px;
	background: #5b5b5b;
}
.hc-nav .backtop .fa{
	font-size: 2.5em;
	vertical-align: middle;
}

/*报名表单*/
#eventModal .modal-dialog .modal-form-group{
  padding-left: 80px;
  padding-right: 80px;
}
#eventModal .modal-dialog .ic-modal-guide-group-section{
  position: relative;
  z-index: 1;
  opacity: 1;
  min-height: 450px;
}
#eventModal .modal-dialog .checkbox{
  margin-bottom: 0;
  margin-top: 30px;
}
#eventModal .checkbox input{
  position: relative;
  display: inline-block;
}
#eventModal .checkbox p{
  display: inline-block;
}
#eventModal .ic-form-save-cookie .btn-close-modal{
  position: relative;
  height: auto;
}