.h{display: none}
.ajax-loading-frame {bottom: 0;left: 0;position: fixed;right: 0;top: 0;z-index: 100000;}
.ajax-loading-bg {background: none repeat scroll 0 0 #fff;opacity: 0.8;}
.ajax-loading-img {background: url("../../images/ja/base/ajax-loading.gif") no-repeat scroll center center rgba(0, 0, 0, 0);}
.ajax-loading-tips{position:fixed;left:0;right:0;top:50%;text-align:center;color:#fff;padding-top:20px;}
.JA_ajax_loading td{height:20em;background: url("../../images/ja/base/ajax-loading.gif") no-repeat scroll center center rgba(0, 0, 0, 0)}
.JA_no_result td{height:20em;}
.JA_no_result td div{background: url("../../images/ja/base/no-result.gif") no-repeat scroll 0 center rgba(0, 0, 0, 0);padding: 0 0 0 25px;line-height: 26px;display: inline-block;font-size: 18px;}
ul.JA_page li.JA_page_per a {
    background: #f1eff0 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 2px;
    color: #666;
    line-height: 26px;
    margin: 0 3px 6px;
    padding: 0 12px;
}
ul.JA_page li.active a {
    background: #337ab7 none repeat scroll 0 0;
    color: #fff;
}
.JA_page_per.JA_page_ellipse {
}
ul.JA_page li.JA_page_ellipse a {
    background: #fff none repeat scroll 0 0;
}
.JA_css_timeSigleLine{white-space: nowrap}
.JA_page .JA_page_jumpNum{
    background-color: #fff;
    border: 1px solid #e0e0dd;
    border-radius: 3px;
    height: 25px;
    padding: 0 5px;
    vertical-align: middle;
    width:40px;
    text-align:center;
}
.JA_page .JA_page_jumpBtn
{
    background: #f1eff0 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 2px;
    color: #666;
    line-height: 26px;
    margin: 0 0 0 3px;
    padding: 0 12px;
    vertical-align: middle;
}
.JA_page .JA_page_summary{
    margin:0 10px;
}


.JA-NO-js-multi-pic-upload .js-pic-preview {
    width: 140px;
    height: auto;
}
.JA-NO-js-multi-pic-upload .js-pic-preview .pic-preview-outer {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    width: 100%;
    height: 140px;
}
.JA-NO-js-multi-pic-upload .js-pic-preview .pic-preview-outer .upload-pic-item {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    line-height: 100px;
    background: #d9d9d9;
    overflow: hidden;
}
.JA-NO-js-multi-pic-upload .js-pic-preview .btn-del-pic {
    color: black;
    font-size: 12px;
}
.JA-NO-js-multi-pic-upload .js-pic-preview .btn-del-pic i {
    color: black;
}
.JA_selectValue_select{max-height:20em;overflow: auto}

.JA_recharge_alipay_txt{
    font-size: 2em;
    height: 2em;
    line-height: 2em;
    margin: 1em auto;
    text-align: center;
    width: 200px;
}
.dsuc-kaitong-personal .ic-kaitong-personal-mianTop .JA_minSpan1, .dsuc-kaitong-personal .ic-kaitong-personal-mianTop .JA_minSpan2{
    width:auto;
}
.JA_recharge_alipay_iframe{display:none;line-height: 1.8;}
.JA_recharge_alipay_iframe .price{color:#EC2126;font-size: 1.8em;}
.JA_recharge_alipay_timeout{display: none;
    text-align: center;
    font-size:1.4em;
    line-height:1.6em;
    padding:2em 0;
    color:#333;
}
.JA_recharge_alipay_iframe .time {
    color: #4095CE;
}