

/* ==== universal ==== */
body { font-size:16px; /*must override for IE6 */font-family: Verdana, "Lucida Grande", Arial, "URW Gothic L", Helvetica, "Bitstream Vera Sans", sans-serif; line-height: 1.0625em; background-color:#fefefe;  } 

#wrappercontainer { 	color: #474747; font-size:100%; font-weight: normal; }

#toolbar, #navalphacontainer, #navbetacontainer { font-family:"Lucida Grande", Arial, "URW Gothic L", Helvetica, sans-serif; }
#content { font-size:0.6875em; } /*11px*/
#subcontent { font-size:0.625em; line-height:1.3em; }
#toolbar { font-size:0.625em; line-height:1em; }
#navalphacontainer { font-size:0.6855em; line-height:1.2em; }
#navbeta { font-size:0.6855em; line-height:1.7em; float:left; }
#footer p { font-size:0.625em; line-height:1.3em; font-family:Arial, "URW Gothic L", Helvetica,  sans-serif; }
#content h1 { font-size:1.5625em; color:#999; }
#content h2 { font-size:1.3em; font-size:1.23em; color:#7e7e7e; }
#content h3 { font-size:1.125em; } /*18px*/
#content h4 { font-size:1em; color:#444; } 
#navbeta h2 { font-size:1.49em; }
#greybar { font-size:2.4em; }
#navalphacontainer { color:#666; }
#content table { font-size:1em; line-height:1.375em; width:100%; } 


b { color:#505050; }
a, a b { color:#e97400; text-decoration:none;  }
/*#navalphacontainer a, #navbeta a, #toolbar a {
-webkit-transition:color 0.2s ease-out;  
   -moz-transition:color 0.2s ease-out;  
   -o-transition:color 0.2s ease-out;  
   transition:color 0.2s ease-out;}*/
a:visited, a:visited b { color:#b50;    }
a.editlink { color:#f66; font-size:90%; }
a:hover, a b:hover, a:focus, a b:focus { text-decoration: underline;}
a:active {text-decoration: underline; color:#8a1502;}

a img {-moz-transition:opacity ease 0.2s; -webkit-transition:opacity ease 0.2s; -o-transition:opacity ease 0.2s; transition:opacity ease 0.2s; }
a img:hover, a img:focus {opacity:0.85;}
hr { clear:both; display:block; height:1px; margin:0 0 1.3em 0; padding:0; border:none; border-top:1px solid #999; }
img { border:0; }
ul, ol, li { padding:0; margin:0; list-style:none; }
table { border-top:1px solid #BBB; border-collapse:collapse; }
th, td { padding:3px 8px 3px 0; border-bottom:1px solid #BBB; }
th { font-weight:bold; color:#666; text-align:left; }
td { color:#333; }

sup, sub { 	height: 0; line-height: 1;	vertical-align: baseline;	_vertical-align: bottom; position: relative; }
sup { 	bottom: 1ex; }
sub { 	top: .5ex; }
.clearfix {clear:both;}

.hidden, .parent-hover:hover .hidden-on-hover {position:absolute !important;
left:-10000px !important;
top:auto;
width:1px;
height:1px;
overflow:hidden;}
.inlined {display:inline-block;}
.cursor-move:hover {cursor:move;}

/*also add class mobilefull*/
.widthhalf {width:50%;}
.width300 {width:300px;}
.width320 {width:320px;}
.width360 {width:360px;}
.margin1 {margin:1em;}
.matchxheight {margin-top:0.3125em;}
.floatright {float:right;}
.floatleft {float:left;}



/*=============================
Princeton Component Style Sheet 
================================*/

.roxen-edit-box-off { }
.roxen-edit-box-on { outline:1px dotted #f8bb7b; }
.roxen-edit-marker-off { visibility:hidden; display:block; position:absolute; }
.roxen-edit-marker-on { visibility:visible; display:block; position:absolute; background:URL(/roxen-files/cms-images/button_edit_comp.gif) top left no-repeat; width:28px; height:13px; z-index:1; }
div.roxen-linkbrowser-anchor a { visibility:visible; display:block; position:absolute; background:URL(/roxen-files/cms-images/button_link_browser.gif) top left no-repeat; width:28px; height:13px; z-index:1; }
.nav-link { font-size:11px; font-weight:bold; color:#2b5499; text-decoration:none; }
.nav-link-disabled { font-size:11px; font-weight:bold; color:#aaaaaa; text-decoration:none; }
.nav-link-removed { font-size:11px; font-weight:bold; color:#aaaaaa; text-decoration:line-through; }
.nav-mini { font-size:10px; color:#808080; text-decoration:none; }




/* ===== div structure ==== */
#wrappercontainer { width:100%; text-align:center; /*for IE */ }
#wrapper { width:960px; margin:0 auto;/* align for good browsers */
text-align:left;/* counter the body center */ }
#header { max-width:960px; height:91px; }
#toolbarcontainer { float:right; width:400px; }
#toolbar { text-align:right; }
#bannercontainer { width:364px; float:left; }
#logobarcontainer { height:55px; float:left; }
#logobarcontainer h1 { margin:0; font-size:1em; }
#logobar img {width:185px;}
#breadcrumbs { display:none; }
#navalphacontainer { float:left; width:172px; padding-bottom:1em; }
#contentcontainer { float:right; clear:none; width:787px; }
#navbetacontainer { margin-top:1.6em; width:176px; float:left; }
#navbeta { padding-left:12px; padding-right:9px; }
#footercontainer { max-width:960px; clear:both; margin-top:15px; }
#skiplink { position:absolute; left:-9999px; overflow:hidden; }
.codespacer, .subcontenthrefspacer { display:none; }



/* ==== banner ==== */
#header { background-image:url(images/rounded-black.gif); background-position:bottom right; background-repeat:no-repeat; }
#bannercontainer { height:73px; 
	border-radius:6px 6px 0 0; overflow: hidden;
	background: #f58025; /* Old browsers */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+75,f27e24+75,f27e24+100 */
	background: linear-gradient(to bottom,  #ffffff 74%,#f58025 74%,#f58025 100%); /* W3C */
}
#bannercontainer.custom {background: #000;}
#banner img {width:100%;}



/* ==== toolbar ==== */
#toolbar ul a { color:#333; text-decoration:none; padding:0 4px 0 4px; }
#toolbar ul li.selected a { color:#e97400; }
.multimediasection #toolbar a.news { color: #333; }

#toolbar ul, #toolbar li { padding:0; margin:0; list-style:none; }
#toolbar ul { margin-top:14px; }
#toolbar li { display:inline; border-right:1px solid #e97400; }
#toolbar .first { border-left:1px solid #e97400; padding-left:2px; }
body.webmail #toolbar li.selected { border-left:1px solid #e97400; padding-left:2px; }
#toolbar p, #wrapper #toolbar ul li a:hover, #wrapper #toolbar ul li a:focus, #toolbar ul a.selected { color:#e97400; }
#toolbar form { float:right; padding-top:10px; color:#e97400; font-family: Arial, "URW Gothic L", Helvetica, sans-serif; }
#toolbar form select, #toolbar form input { float:left; }
#toolbar textarea { padding:2px; color:#555; background-color:#fff; border:solid 1px #999; }
#toolbar option, #toolbar select { padding:0; font-size:1em; line-height:1.125em; color:#555; background-color:#fff; border:solid 1px #fff; }
#toolbar option { width:auto; min-width:13em; }
#toolbar select { border:solid 1px #999; min-width:13em; max-width:13em; }
#toolbar .searchBox { font-size:1em; line-height:1.125em; color:#555; padding:2px; border:solid 1px #999; margin-left:11px; width:12em; }
input.go { font-size:0.9em; }
#toolbar .go { margin-left:5px; }
#toolbar .go:hover, #toolbar .go:focus {opacity:0.9; }
#toolbar button { border:0; background:0; width:20px; margin:0 0 0 2px; padding:0; }



/* ===== nav ===== */
#navalphacontainer { font-weight:bold; }
#navalpha ul { margin-top:0; }
#navalphacontainer ul, #navalphacontainer li { list-style-type:none; padding-left:0; margin-left:0; }
#navalphacontainer li { border-bottom:1px solid #f93; padding-bottom:5px; padding-top:5px; max-width:170px; }
#navalpha .spacer { border-bottom-color:#FFF; }
#navalpha2 { margin-top:2em; }
#navalpha2 li { border-bottom-color:#999; }
#navalphacontainer a { color:#494949; margin-left:1px; display:block; }
#navalphacontainer a:hover, #navalphacontainer a:focus { color:#e97400; text-decoration: none;}
#navalphacontainer ul a[href^="http"]:after, #navbeta a[href^="http"]:after { content:url("images/external_link.gif"); padding-left:3px; } 
#navalphacontainer ul a[href^="http://www.princeton.edu/main/"]:after {content:"";}  
#navalpha li a, #navalpha2 li.students a, #navalpha2 li.family a, #navalpha2 li.facstaff a { background-image:none; padding-right:0; display:block; }
#navalphacontainer li a.selected { margin-left:-8px; padding-left:10px; color:#888; background: url("images/arrow-navbeta.gif") no-repeat left 0.25em; }


#navbetacontainer #navbeta ul, #navbetacontainer #navbeta li { line-height:1.125em; padding:0; margin:0; list-style-type:none; color:#e97400; }
#navbetacontainer #navbeta ul ul { margin-left:8px; }
#navbetacontainer #navbeta ul ul ul { margin-left:14px; }
#navbetacontainer #navbeta ul ul ul ul { margin-left:17px; }
#navbetacontainer #navbeta li a { color:#e97400; font-weight:bold; text-decoration:none; display:block; margin:0 0 0.575em 10px; }
#navbetacontainer #navbeta .disabled { color:#999; border-bottom:1px #bbb dotted; }
#navbetacontainer #navbeta li.selected a { background: url("images/arrow-navbeta.gif") no-repeat left 0.2em; margin-left:0; padding-left:10px; color:#888; }
#navbetacontainer #navbeta ul li a:hover, #navbetacontainer #navbeta ul li a:focus { color:#555; }
#navbetacontainer #navbeta ul ul li a, #navbetacontainer #navbeta ul ul li.selected a { font-weight:400; }
#navbetacontainer #navbeta .spacer { height:1.2em; }
#navbetacontainer #navbeta ul li.selected li a { background-image:none; color: #e97400; }
#navalphacontainer a:active, #navbetacontainer #navbeta ul li a:active {color:#9d4118; text-decoration: none;}

#navalphacontainer .flaglink a {
    position: relative;
    line-height: 1;
    margin: 1.75em 0 0 -1.125em;
    background: #e97400;
    color: #fff;
    font-weight: 400;
    padding: 1.25em;
    transition:background 0.1s ease-out;
}
#navalphacontainer div.flaglink + div.flaglink a {margin-top:1em;}
.flaglink a:after {
    content: " ";
    display: block;
    position: absolute;
    right: 0;
    height: 0;
    border: 1.75em solid #e97400;
    top: 0;
    border-right-color: #fff;
    width: 0;
    transition:border-color 0.1s ease-out;
}
#navalphacontainer .flaglink a:hover, #navalphacontainer .flaglink a:focus, #navalphacontainer .flaglink a:hover:after, #navalphacontainer .flaglink a:focus:after {
  background: #b50;
  border-color:#b50;
  border-right-color:#fff;
}

/* ==== content ==== */
#content { float:left; width:400px; margin:1.9em 0 0 28px; }
#content p { margin:0 0 1.4em 0; padding:0; }
#content h1 { margin:0 0 1em 0; padding:0; }
#content h2, #content h3, #content h4 { margin:0.5em 0 0.3em 0; padding:0; clear:both; }
#content h3, #content h4 { color:#686868; }
#content ul { margin:0 0 1.4em 1em; padding:0; }
#content ol { margin:0 0 1.4em 1.8em; padding:0; }
#content ul li { list-style-type:disc; }
#content ol li { list-style-type:decimal; }
#content h2.audiencenews { font-size:1.125em; }
#content ul.headlines, #content .headlines li { margin:0; padding:0; line-height:1.3em; list-style-type:none; }
#content .headlines li { background:url(images/orangebullet.gif) 0 0.4em no-repeat; color:#e97400; padding:0 0 5px 11px; margin-left:0; }/*increase for IE*/
#content .headlines a { color:#333; }
#content .headlines a:hover, #content .headlines a:focus { color:#e97400; }
#content .headlines li.more { background:url("images/arrow-right.gif") 0 0 no-repeat; color:#333; }
#content .headlines .more a { color:#e97400; margin-left:0; }
#content .headlines .more a:hover, #content .headlines .more a:focus { color:#333; }


#content .left { margin:4px 8px 4px 0; float:left; clear:left; }
#content .right { float:right; margin:4px 0 4px 8px; clear:left; }

/*new code beta*/
#content .pic-left { float:left; clear:left; margin:4px 8px 1.2em 0; }
#content .pic-right { float:right;  margin: 4px 0 1.2em 8px; }
#content .pic-comment { clear:left; padding:0.6em 0.5em 0.6em 0.6em; border: 1px dotted silver; border-top-width:0;  text-align:left; font-family: Arial, "URW Gothic L", Helvetica, "Bitstream Vera Sans", sans-serif; font-size:0.9375em; line-height:1.25em;  color:#686868; }
#content .pic-comment p { margin:0; }
#content img {max-width: 100%;}
#content .pic-left img, #content .pic-right img {height:auto !important;}
/*end new code beta*/


#content form input.text, #content form textarea.text { display: inline; width: 340px; margin-bottom: 8px; border: 1px solid #808080; float: right; padding-left:2px; }
#content form h4, #content form p, #content form h4, #content form p { display: inline; width: 230px; margin:0; float: left; clear: left; }
#content form label ~ hr { margin-top:5px; }
#content input.reset, #content input.submit { width: 10em; margin-left: 220px; }
#content .required_input { background-color:#fff9d0; }



/* ==== subcontent ==== */
#subcontent { float:right; width:162px; margin:5.4em 8px 0 0; font-family: Verdana, "Lucida Grande", Arial, "Bitstream Vera Sans", sans-serif; color:#686868; }
#subcontent p, #subcontent ul { margin:0 0 0.3em 0; }
#subcontent img { margin:0.4em 0 0.6em 0; max-width: 100%; vertical-align: middle;}
#subcontent ul, #subcontent li { list-style-type:none; padding:0; }
#subcontent li { list-style-image:url("images/arrow-right.gif"); margin:0 0 0.2em 17px; }




/* === footer === */
#footer { color:#555; padding-top:1em; }
#footer p { padding:0; margin:0; color:#999; }
#footer a { color:#e97400; text-decoration:none; }
#footer a:hover, #footer a:focus { color:#333; }



/* === reusable buttons and wideform pages ===*/

body#tools.search #sidecontent, body#tools.sitemap #sidecontent, body#tools.webmail #sidecontent { display:none; }
body#tools.search #contentcontainer, body#tools.sitemap #contentcontainer, body#tools.webmail #contentcontainer, body#tools.search #content, body#tools.sitemap #content {
    width:767px; margin-right:-1px;}
body#tools.webmail #content { max-width:735px; }

.bigbutton {display:block; margin: 0 0 8px 0; padding:1px 1px 1px 136px; margin:6px 0; min-height:102px; _height:102px; background:#fff 0 1px no-repeat; -webkit-transition: background-color 0.3s ease;-moz-transition: background-color 0.3s ease; transition: background-color 0.3s ease; border-radius: 0 10px 10px 0;}
.bigbutton:hover, .bigbutton:focus {background-color:#eee;}

.button-imap {background-image:url(images/imap-thumb.png); }
.button-owa {background-image:url(images/owa-thumb.png);}
.button-gmail {background-image:url(images/gmail-thumb.png); margin-bottom:12px;}




/* ==== home page specific ==== */

body#home #content { margin-top:0; }
body#home #navbetacontainer { margin-top:0.1em; }
body#home #navbeta h2 { margin:0; padding:0 0 6px 0; }
body#home #navbeta h2 a { color:#555; }
body#home #navbeta h2 a:hover, body#home #navbeta h2 a:focus { color:#e97400; }
body#home #navbeta ul, body#home #navbeta li { margin:0; padding:0; line-height:1.35em; font-family: Verdana, "Lucida Grande", Arial, "URW Gothic L", Helvetica, "Bitstream Vera Sans", sans-serif; }
body#home #navbeta ul li { background:url(images/orangebullet.gif) 1px 0.5em no-repeat; color:#e97400; padding:0 0 5px 10px; width:156px; /*increase for IE*/ }
body#home #navbeta ul li a { color:#474747; font-weight:400; text-decoration:none; margin:0; padding:0; }
/* uncomment  the next line to make a news or emergency story red/bold/big */ 
/*body#home #news ul li:first-child a {color: red;
    font-size: 110%;
    font-weight: bold;
    line-height: 1.4;}*/
body#home #navbeta ul li a:hover, body#home #navbeta ul li a:focus { color:#e97400; background:none; }
body#home #navbeta ul .more { background:none; }
body#home #navbeta ul .more a { color:#e97400; }
body#home #navbeta ul .more a:hover, body#home #navbeta ul .more a:focus { color:#333; }
body#home #navbeta #events { margin-top:15px; }
body#home div#content { margin-left:15px; font-size:1em; font-family:"Lucida Grande", Arial, "URW Gothic L", Helvetica, sans-serif; }
body#home #content img:hover, body#home #content img:focus {opacity:1;}
body#home #featuredtextcontainer { float:left; margin-bottom:4px; font-size:0.6875em; width:588px; padding:2px 0 3px 8px;/* background: #c51 url(images/homealpha.gif) no-repeat bottom;*/ background-color:#c51; color:#fff; border-radius:0 0 6px 6px;}
body#home #featuredtextleft { display:inline-block; float:left; }
body#home #featuredtextleft a {  }
body#home #featuredtextright { float:right; max-width:21em; _width:21em; margin-right:4px; top:2px; text-align:right; }
body#home #featuredtextcontainer a { color:#fff; }
body#home #featuredtextcontainer a:hover, body#home #featuredtextcontainer a:focus { color:#eee; }
body#home #featured-story-edit { position:absolute; margin-left:598px; font-size:0.6875em; margin-top:3em; }
body#home #subcontent { font-family:"Lucida Grande", Arial, "URW Gothic L", Helvetica, sans-serif; font-size:1em; }
body#home #subcontent { margin:0; width:596px; font-size:0.625em; float:left; line-height:1.6em; }
body#home .tab { font-size:0.625em; line-height:1.4em; border-radius:6px; }
body#home #givinglink a {height:14px; width:170px; margin:2em 0 0.5em 0; display:block; -webkit-transition:opacity; 
  overflow: hidden;position:relative;}
body#home #givinglink img {width: 100%; position: absolute; top:-3px;}
body#home #preslink a {margin:2em 0 0.5em -17px; display:block; }
body#home #preslink a img {height:auto; width:188px; -webkit-transition:opacity 0.15s ease; transition:opacity 0.15s ease;}
body#home #preslink a img:hover {opacity:0.9;}
body#home #givinglink a:hover img, body#home #givinglink a:focus img { top:-27px;  }
#no-flash p { margin-top:2em; padding:1em; border:1px solid #dedede; }

.video-tabs { display:block; width:600px;  }
.video-tabs .tab { width:196px; min-height:73px; position:relative; cursor:pointer; background-color:#3b3b3b; display:block; text-decoration:none; -webkit-transition:background-color 0.2s ease-out;  
   -moz-transition:background-color 0.2s ease-out;  
   -o-transition:background-color 0.2s ease-out;  
   transition:background-color 0.2s ease-out; }
.tab.active {background-color:#000;}
.tab:hover, .tab:focus { background-color:#f48121; cursor:pointer; text-shadow:none; }
.tab-top { width:196px; height:5px; background:url(images/tab-top.png) top no-repeat\9; }
.tab-bot { width:196px; height:5px; background:url(images/tab-bot.png) bottom no-repeat\9; }
.tab-top img, .tab-bot img { border:none; }
.tab-mid { padding-left:7px; padding-right:7px; padding-top:2px; min-height:62px; color:#FFF; background:url(images/btn-play.png) 98% bottom no-repeat; }
.tab-mid:hover, .tab-mid:focus { background:url(images/btn-play-gray.png) 98% bottom no-repeat; text-shadow:1px 1px 1px rgba(0, 0, 0, 0.1); }
.tab-mid a { text-decoration:none; }
.news-photo { width:70px; height:61px; float:left; padding-right:7px; }
.play-btn { position:absolute; right:21px; bottom:6px; }
.video-tabs .tab-mid { color:#eee; }
.video-tabs .tab-mid .news-title { display:block; padding-bottom:1.5em; }
.tabcontainer { width:196px; display:inline; float:left; margin-right:4px; }
.tabeditlink { position:absolute; margin:-2px 0 0 140px; font-size:0.625em; }
.featurededitlink { position:absolute; padding-left:3px; font-size:0.625em; overflow:visible; }

body#home #subcontent li { list-style-type:none; }
#subcontent #community-resources { float:left; color:#e97400; width:188px; padding-left: 7px; margin-right:8px; }


/*working*/
body#home #subcontent h3 {margin-top:1em; color:#333; margin-bottom:2px; font-size:1.125em;}


#subcontent #community-resources ul li { display:inline; margin-left:0; }
#subcontent #community-resources .spacer { border-left:1px #e97400 solid; }
#subcontent #community-resources a { color:#474747; text-decoration:none; margin:0; padding:0 2px 0 0; 
/*-webkit-transition:color 0.2s ease-out;  
   -moz-transition:color 0.2s ease-out;  
   -o-transition:color 0.2s ease-out;  
   transition:color 0.2s ease-out;*/}
#subcontent #community-resources a:hover, #subcontent #community-resources a:focus { color:#e97400; }

#web-highlights { color:#e97400; float:left; width:190px; padding-left: 7px; margin-right:8px; _margin: 0 6px 0 10px;}
#web-highlights a { text-decoration:none; }
#web-highlights a:hover, #web-highlights a:focus { color:#555; }
#web-highlights ul { margin-left:0; list-style-image:none; }
#web-highlights ul li { list-style-image:none; background:url(images/arrow-right.gif) 0 0  no-repeat; margin-left:0; padding-left:10px; }

/*working*/
#mm-column {float:left; width:180px; }
#social-media-feature {margin:1em 0 0 -8px; width:181px; _width:190px; background:#ededed; 
	border:6px solid #ededed; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px;
	padding:0 0 4px 4px;
	line-height:1.5em; color:#555;}
#social-media-feature .entries {border-bottom:1px solid #fff;margin-bottom:6px;padding-bottom:2px;}
#social-media-feature a span {display:none;}
#social-media-feature strong a {display:-moz-inline-stack;  display:inline-block; width:20px; height:16px; vertical-align: baseline;	_vertical-align: bottom; position: relative; bottom:-4px;  }

#social-media-feature .icons {display: block; margin:-2px 0 0 -2px;}
#social-media-feature .icons a {
	background: transparent url(/main/css/images/social-media-icons.png) -500px -100px no-repeat; padding: 0 2px;}
#social-media-feature .icons a:hover, #social-media-feature .icons a:focus {
	background-position: 0 -100px;}
#social-media-feature a#yt { 
	background-position: -500px 0;}
#social-media-feature a#yt:hover, #social-media-feature a#yt:focus {
		background-position: 0 0;}
#social-media-feature a#tw {
	background-position: -500px -200px;}
#social-media-feature a#tw:hover, #social-media-feature a#tw:focus {
	background-position: 0 -200px;}	
#social-media-feature a#itu {
	background-position: -500px -300px;}
#social-media-feature a#itu:hover, #social-media-feature a#itu:focus {
	background-position: 0 -300px;}
#social-media-feature a#gplus {
	background-position: -500px -501px;}
#social-media-feature a#gplus:hover, #social-media-feature a#gplus:focus {
	background-position: 1px -501px;}
#social-media-feature a#insta {
	background-position: -501px -401px;}
#social-media-feature a#insta:hover, #social-media-feature a#insta:focus {
	background-position: 0 -401px;}



/* ===== magic paragraph plus list line height elision ===== */
#content p + ul { margin-top:-0.8em; }
#content .pic-comment p + ul { margin-top:0.1em; }


/* ===== news and tools and audiences contentheader shared code ===== */
#contentheader h3 { display:none; }
body#news #header, body#tools #header { background-image:url(images/rounded-black-wide.png); }
body#news #contentheader, body#tools #contentheader, body#students #contentheader, body#family #contentheader, body#alumni #contentheader, body#alumni #contentheader, body#facstaff #contentheader { float:right; position:relative; background-color:#e97400; color:#fff; height:39px; width:596px; }
body#news #contentheader, body#tools #contentheader { background-color:#d61; padding:9px 0 0 0; height:43px; width:769px; }
body#news #contentcontainer, body#tools #contentcontainer { width:616px; float:left; border:solid 1px #cecece; border-top:0; margin-top:0; padding-top:0; margin-left:19px; }
body#tools.contacts #sidecontent p ~ p { padding:0 0 1.5em 0; }




/* sidecontent */
#sidecontent { padding:11px 2px 7px 11px;  float:right; width:137px; border-right:1px solid #cecece; border-bottom:1px solid #cecece;  background:url(images/sidenote.png) repeat; font-family:Arial, "Lucida Grande", "URW Gothic L", Helvetica, sans-serif; font-size:0.625em; line-height:1.5em; }
#sidecontent h3 { margin:0 0 0.5em 0; font-size:1.3125em; color:#777; font-family:"Lucida Grande", Arial, "URW Gothic L", Helvetica, "Bitstream Vera Sans", sans-serif; line-height:1.1em; }
#sidecontent ul, #sidecontent ol { font-size:1.125em; padding:0 0 1.5em 0; margin:0 0 1.2em 0; background:url(images/newsdots2.gif) bottom no-repeat; }
#sidecontent ol {padding:3px 0 0.9em 0;}
#sidecontent li {margin:0; padding:0 0 0 10px;}
#sidecontent li a {margin-left:-10px;}
#sidecontent ol li a {padding-left:21px; min-height:22px; display:block; background: transparent url(images/social-media-icons.png) -500px 0 no-repeat; max-width:400px;}
#sidecontent ol li a:hover, #sidecontent ol li a:focus {background-position:0 0; color:#808080;}
#sidecontent ol li:first-child + li a {background-position:-500px -100px;}
#sidecontent ol li:first-child + li a:hover, #sidecontent ol li:first-child + li a:focus {background-position:0 -100px;}
#sidecontent ol li:first-child + li + li a {background-position:-502px -300px;}
#sidecontent ol li:first-child + li + li a:hover, #sidecontent ol li:first-child + li + li a:focus {background-position:-2px -300px;}
#sidecontent ol li:first-child + li + li + li a {background-position:-500px -200px;}
#sidecontent ol li:first-child + li + li + li a:hover, #sidecontent ol li:first-child + li + li + li a:focus {background-position:0 -200px;}





/* ==== audiences and topics ==== */
body#students #contentheader a, body#family #contentheader a, body#alumni #contentheader a, body#facstaff #contentheader a { position:absolute; left:14px; top:6px; height:31px; width:293px; }
body#students #contentheader a { background-image:url(images/header-students.gif); }
body#alumni #contentheader a { background-image:url(images/header-alumni.gif); }
body#facstaff #contentheader a { background-image:url(images/header-facstaff.gif); }
body#family #contentheader a { background-image:url(images/header-family.gif); }
body#family #subcontent p { margin-bottom:-0.7em; font-size:1.2em; }
body#family #subcontent p b { color:#686868; }
body#administration.policies h3.subheading { color:#888; font-size:1.35em; margin:1.5em 0 0.75em 0; }

body#arts #content, body#international #content {width:580px;}
body#arts .pic-left, body#international .pic-left {margin-top:0.875em;}
body#arts #content h3, body#international #content h3  {clear:none;display:inline-block;padding-bottom:6px;padding-left:16px;}
body#arts #content p, body#international #content p {float:right; width:432px;}

a.morelink, a.lesslink {cursor:pointer; display:inline-block; margin-left:2px; padding-left: 12px;
background: transparent url("images/expand.gif") no-repeat left center; color:#e97400; border:0;}
a.lesslink {background-image:url("images/collapse.gif");}
a.morelink:hover, a.lesslink:hover, a.morelink:focus, a.lesslink:focus {color:#808080;}

body#about.chronology td {_width:20%;} /* temp for IE6 alignment */
body#about.chronology td:first-child {width:15%; vertical-align:top; }
body#about.chronology table {margin-bottom:1em;}
body#about.architects table {border-top:0;}
body#about.architects td {vertical-align:top; }
body#about.architects td:first-child {vertical-align:top;}
body#about.architects th {font-size:1.125em; padding-bottom:0.35em;}





/* vimeo ======================================================================*/
/*temp:.kvid {display:none;}*/


.vimeo-container{
	z-index:1;
	position:relative;
	overflow:visible;
	width:584px;
/*	height:329px; */
	margin-bottom:1em;
}

.inline-player {
	margin-bottom:0;
}

#home .vimeo-container, #home #featured-story {
	/*width:501px;
	height:282px;*/
	width:596px;
	/*height:335px;*/
	margin-bottom:0;
}
.vimeo-container .caption_holder{
	z-index:2; _z-index:auto;
	position:relative; _position:auto;
	text-align:center;
}
a.caption_button{
	font-size:11px;
	line-height:16px;
	height:16px;
	position:absolute;
	right:0;
	bottom:-28px;
	cursor: pointer;
    padding:0 0 12px;
    z-index:3;
    color:#fff;
}
.caption_button span {background-color: #444;display:block;padding: 0 6px;}


.caption_holder{
   margin-top:0;
   width:100%;
   color: #fff;
   font-family: arial, sans-serif;
}

div.caption_holder:hover div, div.caption_holder:hover span {background-color:#555; cursor:pointer;}

.vimeo_captions{
   display:none;
   position:relative;
   padding: 5px 5%;
   width: 90%;
   height: 60px;
   color: #fff;
   font-size:16px;
   background-color:#444;
}



.vimeo_captions .nocc {font-size:75%; font-style:italic;}

/* working here */

#feature-tab-show {
  position:relative;
  background-color:#fff;
  width:100%;
  max-width: 100%;
  height:auto;/*282px*/
  border-radius: 0 0 8px 0;
  -moz-border-radius: 0 0 8px 0;
  -webkit-border-radius: 0 0 8px 0;
}
#feature-tab-show img {width:100%; max-width: 100%;}
#feature-tab-show a.tab-0 {height:auto; background-position:0 0; background-repeat:no-repeat;}
#home .video-player {height:335px; width:596px;}
#featured_vis { width:40%; max-width: 40%;float:right; padding-left: 1em;}
body#news.featured #content img, body#news.archive #content img {width:100%; max-width: 100%; height: auto;}
/*end working*/

.vimeo-error {
	display:none;
	min-height:36%;
	left: 5%;
	top: 15%;
	width:80%;
    opacity: 0.97;
    position: absolute;
    font-size:14px;
    z-index: 100;
    padding:0 5% 1% 5%;
    line-height:1.4;
    background:#eee;
    box-shadow:inset 1px 1px 2px #aaa;
    border-radius:0 6px 6px 6px;
    line-height:1.8;}
.vimeo-error a {color:#b50;}
.vimeo-error .feedback {font-size:12px; float:right; line-height:1;}
.vimeo-error .close {width:34px; padding-left:2px; height:36px; line-height:0.8em; font-size:36px; margin: 1% -5% -0.5em 0; float:right;text-align:center; border:1px solid #b50;  background:#eee; transition:all 0.2s ease;}
.vimeo-error a.close:hover {background:#b50; color:#fff;}

.video-player {background:url(/main/css/images/loading.gif) 50% 50% no-repeat #000; color:#fff; }


#tab-0 {display:none;}

.vid{
	display:block;
	clear:none;
	position:absolute;
	top:0;
}

.feature-tab-sidebar {
	background-color: #ffeecc;
	font-size:11px;
	line-height:15px;
	position:relative;
	padding-top:1ex;
	border-radius: 0 0 8px 8px;
	border-bottom:1px solid #dca;
  margin-bottom:0.5em;
}

.feature-tab-sidebar h2 {width:70%;}
#content .feature-tab-sidebar h2, #content .feature-tab-sidebar p {font-size:11px; padding:0 1em 1ex 1em; }

 a.feature-sidebar-footer  {
	right:1em;
	bottom:1px;
	position:absolute;
	display:block;
	}

a.closefeature {position:absolute; right:0; top:-14px;  font-size:11px;  z-index:100; background:#000; padding: 0 1ex; font-family:"lucida console", arial, sans-serif; line-height:1; color:#fff;}

a.closefeature:hover, a.closefeature:focus {color:#c51;}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }



/* ==== tools - general ==== */

body#tools #content { position:relative; width:584px; padding:16px; margin:0; min-height:350px; }
body#tools #subcontent { display:none; } 
body#tools #navbetacontainer { display:none; } /*temp*/
body#tools #contentheader img { position:absolute; left:14px; top:14px; font-size:0.9375em; font-weight:400; line-height:0.8em; }


/* ==== tools - a-z ==== */
body#tools.az #content h3 { font-size:1em; clear:none; }
body#tools.az #content li { list-style-type:none; }
body#tools.az #content form { width:400px; height:180px; }
body#tools.az #content hr { margin-bottom:1.5em; }
body#tools.az ul.indexlist { width:400px; margin:0; padding-left:11px; overflow:visible; }
body#tools.az ul.indexlist li a { margin-left:-10px; }
body#tools.az .azfilters { float:right; width:162px; }
body#tools.az .azfilters h2 { margin:0 0 0.8em 15px; color:#777; font-size:1.25em; font-family:"Lucida Grande", Verdana, Arial, "URW Gothic L", Helvetica, "Bitstream Vera Sans", sans-serif; }
body#tools.az .azfilters ul a { line-height:1.5em; }
body#tools.az .alphabet { height:96px; }
body#tools.az .alphabet li { display:inline; }
body#tools.az .alphabet li a { float:left; width:19px; height:21px; text-align:center; font-size:0.9375em; }
body#tools.az .alphabet li a:hover, body#tools.az .alphabet li a:focus { background-color:#f2f2f2; }
body#tools.az .azsubject h2 { border-top:1px #a2a2a2 solid; padding-top:15px; width:126px; }
body#tools.az .azsubject ul { padding-left:6px; }
body#tools.az .azsubject ul a { display:block; width:130px; color:#ff9e13; }
body#tools.az .azsubject ul a:hover, body#tools.az .azsubject ul a:focus { background-color:#f2f2f2; }
body#tools.az .azfilters ul .selected { color:#777; }


/* ==== tools - contacts ==== */
body#tools.contacts table { border:0; margin-bottom:1.4em; }
body#tools.contacts table td { width:70%; }
body#tools.contacts table td + td { width:30%; text-align:right; }
body#tools.contacts th { font-size:1.25em; padding-bottom:0.5em; }
body#tools.contacts tr:first-child { border:0; }
body#tools.contacts #sidecontent p { color:#888; }


/* ===== tools and news search ===== */

/*newsearch*/
body#tools.search #search-references { float:left; margin: 19px 0 0 0px; }
body#tools.search #search-references li { list-style-image: none; padding-left:15px; background: url(images/bullet02.gif) no-repeat 0 60%; }

body.search { overflow-y:scroll; }
body.search #content li { list-style-type:none; }
body.search #content ul { margin-top:0; }
body.search #content { min-height:250px; padding-bottom:0; }
body.search #content ul, body.search #content li { margin-left:0; padding-left:0; }
body.search #search-form p { display:inline; margin:0; padding:0; }
body#news.search #search-form {padding:1em 0 2em 7px;}
body#tools.search #search-form { margin:19px 0 0 0; width:420px; float:left; padding:0; }
#search-form form {margin-bottom:0;}
body#tools.search #search-form p.web-search { float:right; margin: 0 55px 35px 0;  padding:0; }
body.search #content input.searchBox { color: #4b4b4b; padding:3px; line-height:1.25; font-size:1em; border:1px solid #aaa; width:360px; }
body.search input.go { margin:0 0 -3px 4px; }

body#tools.search .search-divider { clear:both; margin:0 0 0 -16px; width:100%;  border-top:1px solid #e7e7e7; padding-top:0.5em;  }

body.search #search-people { float:right;  width:47%;  }
body#tools.search #search-princeton {width:102%;}
body#tools.search #search-princeton { 
  float:left; width:48%; 
  min-width: 48%; 
  padding-left:2%;
  min-height:36em;
  margin-left:0;
}

.gsc-branding, .gcsc-branding, .gsc-result-info-container, .gsc-twiddleRegionCell, .gsc-configLabelCell {display: none;}
body.search #search-results { float:left; padding-top:1.5em; width:100%;}

body.search #search-people-results { line-height:1.45em;font-size:0.9375em; }
body.search #search-people-results strong { color:#5d5d5d; }

body.search #search-people-results a.collapsed { padding-right:13px; background:url(images/expand.gif) no-repeat right; font-size:1.15em; font-weight: bold; color:#555;}
body.search #search-people-results a.has-expanded {}
body.search #search-people-results a.collapsed:hover, body.search #search-people-results a.collapsed:focus { padding-right:13px; 
  /*background:url(images/expand-hover.gif) no-repeat right;*/ color:#d61;}
body.search #search-people-results a.expanded { padding-right:13px; background:url(images/collapse.gif) no-repeat right; color:#222; font-size:1.15em; font-weight: bold;}
body.search #search-people-results a.expanded:hover, body.search #search-people-results a.expanded:focus { padding-right:13px; color:#5d5d5d; 
  /*background:url(images/collapse-hover.gif) no-repeat right;*/ }
body.search #search-people-results .search-people-name { font-size:1.15em; color:#404040; font-weight:bold; }
body.search .people-search-indent { display: inline-block; padding-left:1em; } /*-moz workaround for FF2*/
body.search #search-princeton ul li { overflow:hidden; }
body.search #search-princeton ul a { font-weight:bold; }
body.search #content ul ul { margin-left:0; }
body.search #content ul ul li { overflow:hidden; }
body.search ul#az-results { margin-bottom:0; }
body.search #search-people ul a { cursor:pointer; }
body.search #search-people #acceptable-use { color:#808080; }
body.search #content h2 {  padding:7px 0 8px; font-size:18px; border-bottom:1px solid #999;}
#search-princeton .gsc-above-wrapper-area {padding-top:0;}
.gsc-result-info {font-size:11px; padding-right:3px;}
body.search #search-people p.result-info { display: inline-block; }
body.search #content .result-info { color:#5f5f5f; }
body.search #expandall, body.search #collapseall { cursor:pointer; color:#d61;}
body.search #search-people .az li {
    padding: 7px 0 0 10px;
    color:#aaa;
    line-height: 1.25;
}
body.search .az li a {
  margin-left:-1em;
  font-weight: bold;
}

body#tools.search #navbetacontainer {position: absolute; left: -2000px;}


body.search table, body.search td, .gsc-search-box table, .gsc-search-box td {
  border:none;}
#content .gs-web-image-box-portrait img.gs-image {max-width:56px;} 
#content .gs-web-image-box-landscape img.gs-image {max-width: 70px;}
#search-princeton .cse .gsc-control-cse, #search-princeton .gsc-control-cse {padding:0; }
#search-princeton .gsc-control-wrapper-cse {min-width: 100%; position: relative;}
#search-princeton .gsc-table-result, #search-princeton .gsc-thumbnail-inside, #search-princeton .gsc-url-top, #search-princeton .gsc-result-info {
  padding-left: 0;}
#search-princeton .gs-result .gs-title {text-decoration: none;}
#search-princeton .loading {margin:3em 2em; position: absolute;}
#search-form .gsc-control-searchbox-only {width:auto !important;}
#cse, body.search .results {
  width: 98%;
  min-width:98%; max-width: 98%;
  position: relative;
  z-index: 2;
}
.gsc-webResult.gsc-result, .gsc-results .gsc-imageResult  {background: transparent;}
.gsib_a input::-ms-clear {
    display: none;
}
.gsib_b {line-height: 0.8; font-size:1.5em;}




/*themeset*/

        body .gsc-control-cse {
          font-family: Verdana, 'Lucida Grande', Arial, 'URW Gothic L', Helvetica, 'Bitstream Vera Sans', sans-serif;
          border:0;
          background:transparent !important;
        }
        .gsc-control-cse input.gsc-input, .gsc-control-cse .gsc-input-box, .gsc-control-cse .gsc-input-box-hover, .gsc-control-cse .gsc-input-box-focus {
          border-color: #D9D9D9;
        }
        #content .gsc-control-cse, #content .gsc-control-cse .gsc-table-result, .gsc-control-cse .gsc-tabsArea {
          padding-left:5px;
        }
        #content .gsc-tabsArea {border-bottom:1px solid #999; height:30px; font-size:1rem;}

        #content .gsc-tabHeader.gsc-tabhInactive:hover, .gsc-control-cse #content .gsc-tabHeader.gsc-tabhInactive:focus {
          /*background-color:#d61;*/
        }

        #content .gsc-tabHeader.gsc-tabhInactive, 
        .gsc-control-cse .gsc-tabHeader.gsc-tabhActive {
          line-height: 18px;
          padding:6px 1.25em;
          height:auto;
          color:#7e7e7e;
          border-width:1px;
          border-bottom:1px solid #999;
          outline:none;
          
        } 
        #content .gsc-tabHeader.gsc-tabhInactive {box-shadow: 2px -2px 3px rgba(0,0,0,0.07) inset; height:17px; overflow:hidden;}
        .gsc-control-cse .gsc-tabHeader.gsc-tabhActive {border-color:#999; border-bottom-width:0;}
        .gsc-control-cse .gsc-tabHeader.gsc-tabhInactive:hover, .gsc-control-cse .gsc-tabHeader.gsc-tabhInactive:focus {background: #ebdac9;}
        .gsc-control-cse .gsc-tabHeader:first-child::after {content:"sites";}
        .gsc-control-cse div.gsc-tabHeader ~ div::after {content:"s";}
        
        .gsc-control-cse div.gsc-tabHeader.gsc-tabhActive ~ div {box-shadow:inset 2px 0 2px rgba(0,0,0,0.1);}


        .gsc-control-cse .gsc-above-wrapper-area, td.gsc-orderby-container {border:0; padding-bottom:0; }
        .gsc-control-cse .gsc-refinementsArea, .gsc-control-cse #content .gsc-above-wrapper-area {border:0; padding:0;}

        .gsc-control-cse .gcsc-branding {width:99% !important; opacity:0.75; padding-top:0; margin-top:-0.75em; }

        .gsc-control-cse .gs-spelling {padding-left:0;}
        .gsc-control-cse .gs-spelling a {text-decoration:none;}

        .gsc-control-cse .gsc-webResult.gsc-result, .gsc-control-cse .gsc-results .gsc-imageResult, .gsc-control-cse .gsc-cursor-box,
        .gsc-control-cse  .gsc-webResult.gsc-result.gsc-promotion {
          border-color: transparent;
          background: transparent;
        }
        .gsc-control-cse  .gsc-webResult.gsc-result.gsc-promotion, .gsc-webResult.gsc-result.gsc-promotion:hover {border:1px solid #eee; margin-top:1.5em; padding:0.5em 1em;}
        .gsc-control-cse .gs-webResult.gs-result a.gs-title:link, .gsc-control-cse .gs-webResult.gs-result a.gs-title:link b, .gsc-control-cse .gs-imageResult a.gs-title:link, .gsc-control-cse .gs-imageResult a.gs-title:link b, .gsc-control-cse .gsc-results .gsc-cursor-box .gsc-cursor-page, .gsc-control-cse .gsc-cursor-page, .gsc-control-cse a.gsc-trailing-more-results:link, .gsc-control-cse .gsc-completion-title  {
          color: #d61;
          text-decoration:none;
        }
        .gsc-control-cse .gs-webResult.gs-result a.gs-title:visited, .gsc-control-cse .gs-webResult.gs-result a.gs-title:visited b, .gsc-control-cse .gs-imageResult a.gs-title:visited, .gsc-control-cse .gs-imageResult a.gs-title:visited b {
          color: #740;
        }
        .gsc-control-cse  .gs-webResult.gs-result a.gs-title:hover, .gsc-control-cse .gs-webResult.gs-result a.gs-title:hover b, .gsc-control-cse .gs-imageResult a.gs-title:hover, .gsc-control-cse .gs-imageResult a.gs-title:hover b {
          color: #f70;
        }
        .gsc-control-cse  .gs-webResult.gs-result a.gs-title:active, .gsc-control-cse .gs-webResult.gs-result a.gs-title:active b, .gsc-control-cse .gs-imageResult a.gs-title:active, .gsc-control-cse .gs-imageResult a.gs-title:active b {
          color: #f00;
        }
        .gsc-control-cse  .gs-webResult .gs-snippet, .gsc-control-cse .gsc-completion-snippet, .gsc-control-cse .gs-imageResult .gs-snippet, .gsc-control-cse .gs-fileFormatType {
          color: #444;
        }
        .gsc-control-cse  .gs-webResult div.gs-visibleUrl, .gsc-control-cse .gs-imageResult div.gs-visibleUrl, .gsc-control-cse .gs-webResult div.gs-visibleUrl-short {
          color: #999;
          font-size: 12px;
        }

        .gsc-control-cse  .gsc-cursor-box {
          margin:0 0 0 -3%;
          display:block;
          }
        .gsc-control-cse .gsc-cursor-box .gsc-cursor {display:block; }
        .gsc-control-cse  .gsc-results .gsc-cursor-box .gsc-cursor-page {
          background: transparent;
          font-size:16px;
          width:10%;
          margin:0;
          text-align:center;
          display:block;
          height:1.75em;
          padding-top:0.5em;
          float:left;
        }
        .gsc-control-cse  .gsc-cursor-box .gsc-cursor-page:hover, .gsc-control-cse .gsc-results .gsc-cursor-box .gsc-cursor-page:focus {
          background:#e7e7e7;
        }
        .gsc-control-cse  .gsc-results .gsc-cursor-box .gsc-cursor-current-page {
          color: #333;
          font-size:18px;
        }
        .gsc-imageResult .gsc-imageResult div {line-height: 20px;}
        .gsc-imageResult .gs-snippet:after {content:"\2026"}

        .gsc-control-cse  .gsc-result .gs-title {height:1.25em;line-height: 1.25em;}
        .ie8 .gsc-result .gs-title {height:1.16em;}
        .ie7 .gsc-result .gs-title {height:1.06em;}
        .gsc-control-cse .gs-no-results-result .gs-snippet {border-color:#ccc; background-color:#fafafa; font-style: italic;}

/* images responsive */

  .ie8 .slowload, .ie7 .slowload {height:0; overflow:hidden; display: none;}

  .ie7 .gsc-imageResult {width: 350px;} 
  .ie8 .gsc-image-popup-box img {min-width: 120px;}
  .ie7 .gs-image-box, .ie7 .gs-image-box img {width:82px;}
  .ie8 .gs-image-box {width:112px;}
  .ie8 .gs-text-box, .ie8 .gs-text-box div, .ie7 .gs-text-box, .ie7 .gs-text-box div {width:250px;}
  .ie8 .gs-text-box, .ie7 .gs-text-box, .ie8 .gs-text-box .gs-title, .ie7 .gs-text-box .gs-title {font-size:12px !important; }


  .gsc-control-cse .gsc-imageResult, .gsc-control-cse .gs-imageResult-column {width: 100%; height:auto; margin:0;} 
  .gsc-control-cse .gs-result .gs-text-box .gs-title, .gsc-control-cse .gs-result .gs-text-box .gs-title * {font-size: 14px;}
  .gsc-imageResult-column .gs-imageResult .gs-image-box {width:25%; height:auto; max-width:80px;}
  .gsc-imageResult-column .gs-image-box img {width:100% !important; height:auto !important;}
  .gsc-imageResult-column .gs-text-box {width:70% !important;}
  .gsc-imageResult-column .gs-text-box div {width:100%;}
  .gsc-imageResult-column .gs-text-box .gs-title {font-size:12px; }
  #content .gsc-imageResult-column .gs-image-box img:hover {opacity:1;}
  

img.preloader {
  width:64px; height:50px; margin:94px 0 0 2em;
  z-index: 1;
  opacity:0.6;
}
.preloader, .slowload {
  position:absolute;
}

.preload, .slowload, .gsc-results-wrapper-visible, .element-nojs {
  background: #fff; 
  -webkit-animation: animateLoader ease-out 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-direction:forwards;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: animateLoader ease-out 0.5s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-direction:forwards;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animateLoader ease-out 0.5s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-direction:forwards;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animateLoader ease-out 0.5s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -msanimation-direction:forwards;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
  animation: animateLoader ease-out 0.5s;
  animation-iteration-count: 1;
  animation-direction:forwards;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
}

@-moz-keyframes animateLoader{
  0% {opacity:0; background: rgba(255,255,255,0);}
  100% {opacity:1; background: rgba(255,255,255,1); }
}

@-webkit-keyframes animateLoader {
  0% {opacity:0; background: rgba(255,255,255,0);}
  100% {opacity:1; background: rgba(255,255,255,1); }
}

@-o-keyframes animateLoader {
  0% {opacity:0; background: rgba(255,255,255,0);}
  100% {opacity:1; background: rgba(255,255,255,1); }
}


@keyframes animateLoader{
  0% {opacity:0; background: rgba(255,255,255,0);}
  100% {opacity:1; background: rgba(255,255,255,1); }
}

.loading {}

#content #acceptable-use {
    clear: both;
    float: left;
    padding:4em 0 0 20px;
    width:90%;
    color:#777;
    font-style: italic;
}




body.fourzerofour #content ul { padding-left:16px; }
body.fourzerofour #content li { list-style-type:disc; padding-top:0.3em; }
body.fourzerofour #content p + ul { margin-top: -1.2em; }





/* new code for audiencesurvey */
fieldset {border:0;}
select:hover {cursor: pointer;}

.supertools { color: #474747; font-size:100%; font-weight: normal; 
 color: #fafafa; background:#505050; position: relative; font-size:0.75em;
 margin-bottom:1em; text-align: center; padding:0 1em;
}
.supertools h1 {font-size: 1.25em; margin:0;padding:16px 10px 6px 10px;}
.supertools p {padding:0 10px 8px 10px; margin:0;}
.supertools .button {
  padding:0.25em 0.75em; 
  border-radius:6px; 
  display:inline-block;
  background:#fa7f00; 
  color:#111;  margin:0.125em 0.5em 16px 0.5em;
  font-size: 1.25em;
}
.supertools p a {color:#fafafa; text-decoration: underline;}
.supertools .button:hover, .supertools .button:focus {background:#c50;}
.supertools .button:active {background:#fafafa;}
.supertools .close {position:absolute; overflow: hidden; right:0.5em; top:0.5em;  width:1.25em; height:1.25em; line-height:1em;font-weight:1.5em;  color: #fff;}
.supertools .close span {position: absolute; right:-10000px;}
.supertools .close:hover, .supertools .close:focus {background:#fafafa; color:#333;}

.ui-dialog {
  font-size: 0.875em;
  top:10% !important;
}
.ui-dialog a {text-decoration: underline;}
#dialog-form-form select {display:block;}
#dialog-form label {
    display: inline-block;
    font-size: 1.25em;
    line-height: 1.4;
    padding:0.5em 0;
}





/* ==== tools - sitemap ==== */


body#tools.sitemap #content ul li { list-style-type:none; }
body#tools.sitemap #content ul { width:245px; float:left; margin:0 0 1.4em 0; padding:0; }
body#tools.sitemap #content ul.section { float:none; width:731px; border-bottom:1px solid #888; margin-bottom:1em; }
body#tools.sitemap #content .section_title { font-size:1.5em; font-weight:bold; color:#707070; }
body#tools.sitemap #content ul a { font-weight:bold; }
body#tools.sitemap #content ul ul a { font-weight:400; color:#444; }
body#tools.sitemap #content ul ul a:hover, body#tools.sitemap #content ul ul a:focus { color:#e97400; }
body#tools.sitemap #content ul ul a.disabled { color:#aaa; font-style:italic; }

/* ==== tools - webmail ==== */
body#tools.webmail table, body#tools.webmail td { border:0; } 

/* ==== feedback ==== */
body#tools.form hr { color:white; border-top:#fff; }




/* ===== print ===== */
@media print { 
body { font-size:13pt; margin:0.5in; }
#header #bannercontainer { height:55px;  background-color:white; border-bottom:18px solid #111 !important; }

#toolbarcontainer, #navalphacontainer, #navbetacontainer, #contentheader, #navbeta, #navgamma, #navdelta, #sidecontent, .play-btn, #community-resources .spacer, body#home #breadcrumbs, body#home .video-tabs, body#home #featured-story, body#news #storynav { display:none !important; }
#header { width:90%; background:none; }
#contentcontainer, #content, #footercontainer, #footer, #newsnavcontainer { position:relative !important; float:none !important; width:95% !important; margin:0 !important; padding:0 !important; border:0 !important; font-family:Georgia, "Palatino Linotype", serif !important; display:block !important; }
#content { position:relative !important; float:none !important; border-bottom:1px #888 solid !important; margin-bottom:0.2in !important; }
#subcontent { position:relative !important; float:none !important; padding:0 !important; border:0 !important; font-family:Georgia, "Palatino Linotype", serif !important; display:block !important; margin:0.3in 0 0 0 !important; }
#subcontent p { width:4in !important; }
body#news #subcontent p, body#news #subcontent ul,  body#news #subcontent img { clear:both !important; }
#footer { padding-top:0.3in !important; font-size:80%; }
#content a, #subcontent a { color:#404040 !important; padding-bottom:3px !important; margin-bottom:-5px !important; border-bottom:1px solid #999 !important; display:inline !important; margin-right:2px !important; overflow:visible; }

#contentcontainer a:link:after, #contentcontainer a:visited:after
	{ 
	content:" <" attr(href) ">"; 
	font-size:80%; 
	 }
body#news #contentcontainer h2 a:link:after { font-size:60%; }
body#news #content .article-toolbox { display:none; }

#content a[href^="/"]:after { content:" (http://www.princeton.edu" attr(href) ") "; }

body#home #navbetacontainer, body#home #navbeta { display:block !important; float:none !important; width:85% !important; }
body#home #navbeta ul li, body#home #navbeta ul { list-style-type:disc; background:none; width:100%; }
#community-resources, #web-highlights, #multimedia-resources { float:none; clear:both; width:85%; background: none !important; padding:0; margin:0; }
/*body#home .news-title { display:inline !important; color:#444 !important; }*/
#subcontent li, #subcontent ul { display:block !important; list-style-type:none !important; background:none !important; margin-left:0 !important; padding-left:0 !important; }
body#home #content, body#home a { border:0 !important; }
#breadcrumbs { display:inline; font-size:70%; color:#999; width:80%; }
#breadcrumbs a { color:#999; display:inline; }
 }

body#research #content h3 { margin:0.5em 0 0.6em 0; font-size:1.25em; font-size:1.35em; color:#888; }
body#research #content hr { clear:both; display:block; height:1px; margin:0 0 .3em 0; padding:0; border:none; border-top:1px solid #999; }
body#research #content ul { margin:0 0 1.4em 1.4em; padding:0; }


body#link.options #navbeta ul { display:none; }

body#about.facts #content p { text-indent:-1em; margin-left:1em; margin-top:0; margin-bottom:0; }
body#about.facts #content hr { margin-top:1em; margin-bottom:0; }


/* ==== full-width center column temp codes ==== */

/* mahlon Lovett 20091202 */
body#about.nobel #content, body#about.honorary #content, body#about.architects #content, body#about.chronology #content { width:580px; }
body#about.nobel #subcontent, body#about.honorary #subcontent, body#about.architects #subcontent, body#about.chronology #subcontent { width:1px; }

/* mahlon Lovett 20091202 */
body#about.nobel #content th { }
body#about.nobel #content td { vertical-align:top; width:30%; }
body#about.nobel #content td:first-child { width:10%; }

/* mahlon lovett 20091222 */
body#about.timeline #content p { margin:0; padding-bottom:.25em; }
body#about.timeline #content p b { padding-right:.75em; }
body#about.timeline #content h3 { margin:0; margin-top:1em; padding:.5em 0; border-top:1px solid #ccc; }



/* Mischief */
/*earth day
body#home #bannercontainer {background-color: #6bb033;}
body#home #featuredtextcontainer {background-color: #3f671e;}*/
/*grad week*/
#banner.custom img {width:100%;}
#featurebanner a {
    background:url("images/btn-play.png") 99% center no-repeat #333;
    color: #fff;
    display: block;
    padding:0.5em 2em 0.5em 0.5em;
    text-align: right;
    font-family: Georgia, Cambria, serif;
    font-size: 15px;
    font-style: italic;
}
#featurebanner a:hover {
  color:#e97400;
}


@media all and (max-width:930px) and (min-width: 581px) {
.mobile #banner.custom img {
    max-height: 53px;
    max-width: 77%;
    top: auto;
    vertical-align: bottom;
}
}





/* Responsify ===================================================== */
@-ms-viewport{
    width: device-width;
}

#menutoggle a, #mobiletools {display:none; /*font-family: "Arial Unicode MS", "DejaVu Sans", "Lucida Sans Unicode", arial, sans-serif;*/}
/*.trigram {border:2px solid #fff; border-left:0; border-right:0; display: inline-block; height: 0.5em; width: 14px; }
.trigram span {position:absolute; border-top:2px solid #fff; margin-top:0.2em; width:14px;}*/
.mobilenav {display:none;}
.mobile #navalphacontainer .mobilenav {display:block;}



@media all and (min-width:1150px) {

  html, body { font-size:18px; /*must override for IE6 */  } 
  /*also add class mobilefull*/
  .width300 {width:18.72222rem;}
  .width320 {width:20rem;}
  .width360 {width:22.5rem;}
  #wrapper {width:60rem;}
  /*#header { max-width:1080px; height:102px; }*/
  #toolbarcontainer { width:25rem; }
  #bannercontainer { width:22.7222rem;  }
  #banner img {width:100%;}
  #logobarcontainer { height:3.4444rem;  }
  #logobar img {width:11.55556rem;}
  #navalphacontainer { width:10.7222rem;  }
  #contentcontainer { width:49.16667rem; }
  #navbetacontainer { width:11rem; }
  #footercontainer { max-width:60rem; margin-top:1rem; }
  /* ==== banner ==== */
  #header { max-width:60rem; height:5.6875rem; background-image:url(images/rounded-black.gif); background-size: 670px; }  /*fixthis*/
  #header #bannercontainer { height:4.5556rem; border-radius:7px 7px 0 7px;}
  /* ==== toolbar ==== */
  #toolbar ul { margin-top:1rem; }
  #toolbar button {width:1.3889rem; }
  /* ===== nav ===== */
  #navalphacontainer li { max-width:10.6111rem; }
    /* ==== content ==== */
  body#home #preslink a {margin-left:0;  }
  #content {  width:25rem; margin-left:1.722rem; }
  #content form input.text, #content form textarea.text { width: 21.222rem;}
  #content form h4, #content form p, #content form h4, #content form p { width: 14.3889rem;  }
  #content input.reset, #content input.submit {  margin-left: 13.722rem; }
  
  /* ==== subcontent ==== */
  #subcontent { width:10.1111rem;  }

  /* === reusable buttons and wideform pages ===*/

  body#tools.search #contentcontainer, body#tools.sitemap #contentcontainer, body#tools.webmail #contentcontainer, body#tools.search #content, body#tools.sitemap #content {
      width:48rem; margin-left:1.16666rem;}
  body#tools.search #content, body#tools.sitemap #content {width:46.83333rem;}
  body#tools.webmail #content { max-width:45.9375rem; }
  .bigbutton { padding:1px 1px 1px 8.5rem; min-height:6.38889rem; background-size:7.25rem;}


  /* ==== home page specific ==== */
  body#home #navbeta ul li { background:url(images/orangebullet.gif) 1px 0.5em no-repeat;  padding:0 0 5px 11px; width:9.7222rem; /*increase for IE*/ }


  body#home #navbeta #events { margin-top:1rem; }
  body#home div#content { margin-left:0.95rem; }
  body#home #featuredtextcontainer { width:97.5%; padding:2px 1% 3px 1.5%;/* background: #c51 url(images/homealpha.gif) no-repeat bottom;*/ background-color:#c51; color:#fff; border-radius:0 0 6px 6px;}
  body#home a.tab-0:hover + div #featuredtextleft a, 
    body#home a.tab-0:focus + div #featuredtextleft a,
    #feature-tab-show a:hover, #feature-tab-show a:focus  {text-decoration: underline}
  body#home #feature-tab-show > a {background-size: cover;}
  body#home #subcontent { margin:0; width:37.25rem; }
  body#home #givinglink a {height:0.875rem; width:10.625rem; }
  body#home #givinglink a:hover img, body#home #givinglink a:focus img { top:-1.6875rem;  }
  .video-tabs { display:block; width:37.5rem;  }
  .video-tabs .tab { width:12.25rem; min-height:4.5625rem; }
  .tab-top, .tab-bot { width:12.25rem;  }
  .tab-mid {min-height: 3.875rem;}
/*  .news-photo { width:70px; height:61px; float:left; padding-right:7px; }
  .play-btn { position:absolute; right:21px; bottom:6px; 
  .video-tabs .tab-mid { color:#eee; }
  .video-tabs .tab-mid .news-title { display:block; padding-bottom:1.5em; }*/
  .tabcontainer { width:12.25rem; }
  .tabeditlink { margin-right:8.75rem; }
  #subcontent #community-resources, #web-highlights { width:11.9375rem;}
  #mm-column, #social-media-feature {width:11.25rem; }
  



  body#news #header, body#tools #header { background-size: 48.125rem; }
  body#news #contentheader, body#tools #contentheader, body#students #contentheader, body#family #contentheader, 
  body#alumni #contentheader, body#alumni #contentheader, body#facstaff #contentheader { 
    height:2.4375rem; width:37.22rem; background-size: 48.125rem;}
  body#news #contentheader, body#tools #contentheader { height:2.6875rem; width:48.0625rem; }
  body#news #contentcontainer, body#tools #contentcontainer { width:38.5rem; margin-left:1.166666667rem;}
  body#students #contentheader a, body#family #contentheader a, body#alumni #contentheader a, body#facstaff #contentheader a {
    bottom: 0.333rem;
    top:auto;
  }



  /* sidecontent */
  #sidecontent { width:8.5625rem;  }




  /* ==== audiences and topics ==== */


  body#arts #content, body#international #content {width:36.25rem;}
  body#arts #content p, body#international #content p {width:77.3%;}


  /* vimeo ======================================================================*/
  /*temp:.kvid {display:none;}*/

.responsive-embed .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
.responsive-embed .embed-container iframe, .responsive_embed .embed-container object, .responsive_embed .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.force-full {width:100%;}

  .vimeo-container{
    width:36.5rem;
  }


  #home .vimeo-container, #home #featured-story, 
  #feature-holder,   #feature-tab-show  {  width:37.22rem; width:670px;  }

  #feature-tab-show a.tab-0 {height:16.3125rem; }
  #home .video-player {height:20.9375rem; width:37.25rem;}
  #news .video-player {height: auto !important;}
  #news .video-player, #news .video-player iframe {width: 36.5rem; }
  #home .video-player iframe {height:100% !important; width: 100%;}





  /* ==== tools - general ==== */

  body#tools #content { position:relative; width:36.5rem; padding:1rem; }
  body#tools.peoplesearch #main #contentcontainer { width:48rem; margin-left:1.166666667rem;}
  body#tools.peoplesearch #main #content {width:47rem;}
  body#tools.peoplesearch #frmSearch > p:first-child { width: 21.875rem;}
  body#tools.peoplesearch #frmSearch #otherSearch {width:23.125rem; float: left;}
  body#tools.peoplesearch #content #otherSearch ul li {width:9.375rem;}
  body#tools.peoplesearch #peoplesearch #results {
    box-sizing: border-box;
    margin:0 0 0 -1rem;
    width: 48rem;}
  #peoplesearch .frmAdvSearch .button input {vertical-align: top;}
  #peoplesearch .entry {width:100%;}
  #peoplesearch .user-info, #peoplesearch .contact-info {width:44%;}



  /* ===== tools and news search ===== */
    /* newsearch*/
  body#tools.search #search-references { float:left; margin-top: 1.1875rem ; }
  body#tools.search #search-form { margin-top:1.1875rem; margin-left:-1.5em; width:26.25rem;}
  body#tools.search #search-form p.web-search { margin: 0 3.4375rem 2.1875rem  0;  }
  body.search #content input.searchBox { width:22.5rem; padding:2px 4px; }
  body.search #search-people {  width:18.25rem;  }
  body#tools.search #search-princeton {  width:26.25rem; padding-left:16px; }
  body#tools.search .search-divider {margin-left: -2.1875rem; width:100%; padding-right:1.15rem;}
    /*end newsearch*/





  /* ==== tools - sitemap ==== */


  body#tools.sitemap #content ul { width:15.3125rem;  }
  body#tools.sitemap #content ul.section {  width:45.6875rem; }



/* semi-full-width images */
  #content div[style$="400px;"] {width:25rem !important;}
  #content div[style$="575px;"] {width:35.9375rem !important;}
  #content div[style$="400px;"] img, #content div[style$="575px;"] img {width:100% !important;}
}




@media all and (min-width:1750px) {
  html, body {font-size: 20px}
  #navalphacontainer, #navbeta, body#home #featuredtextcontainer {font-size:0.65rem;}
  body#arts #content p, body#international #content p {width:79.3%;}

  #header { background-size: 744.3px; max-width: 59.99rem} 
  #home .vimeo-container, #home #featured-story, 
  #feature-holder,   #feature-tab-show  { width:744px;  }
}


@media all and (min-width: 931px) {
	body{margin:0; padding:0;}
	#wrappercontainer {padding:1em 1%; width:98%;}
}

@media all and (max-width: 930px) {
body.mobile {font-size:20px; line-height:1.4; padding:0; margin:0;   -webkit-text-size-adjust: none;}
.mobile #toolbarcontainer {width:auto; float:none; display:inline;}
.mobile #toolbar {height:5.25em; overflow-y:hidden;}
.mobile #toolbar ul {height:1em; overflow-y:hidden;}
.mobile #header {background-position:364px bottom; height: auto;}

.mobile #wrapper, .mobile#tools.sitemap #content ul.section {width:100%;}
.mobile #wrapper .navcontainer {width:25%;}
.mobile #contentcontainer {width:75%; margin-top:1em;}
.mobile#tools #contentheader, .mobile#students #contentheader, .mobile#family #contentheader, .mobile#alumni #contentheader, .mobile#alumni #contentheader, .mobile#facstaff #contentheader { width:100%; float:left; background:#fff; height:auto;}
.mobile#tools #contentheader a, .mobile#students #contentheader a, .mobile#family #contentheader a, .mobile#alumni #contentheader a, .mobile#alumni #contentheader a, .mobile#facstaff #contentheader a {height:auto; left:0; position:relative; top:0; width:auto; color:#aaa; background:none; }
.mobile#tools #contentheader h3, .mobile#students #contentheader h3, .mobile#family #contentheader h3, .mobile#alumni #contentheader h3, .mobile#alumni #contentheader h3, .mobile#facstaff #contentheader h3 {display:block; font-size:24px; margin:0.15em 0 0.75em;}
.mobile#tools #contentheader img {display:none;}
.mobile#tools #contentheader {margin-left:3.5%; width:96.5%;}
.mobile#tools #wrapper #contentcontainer {max-width:95%; width:auto; border:0; margin-left:5%; }
.mobile#tools #wrapper #content {padding:0; margin-left:1%; width:auto; max-width:99%;}
.mobile#tools.contacts #contentcontainer, .mobile#tools.az #contentcontainer {width:50%;}


.mobile #logobar img[src="/main/css/images/pu-logo-retina.png"] {display:none;}
.mobile #logobar img[src="/main/css/images/pu-logo-retina.png"] + span {content:"Princeton University"; display:block; width:184px; height:55px;}

/*.mobile #logobar a img {display:none;}*/

.mobile #toolbarcontainer {width:100%; float:left; }
.mobile #toolbar form {float:left; clear:left; }
.mobile #q {margin-left: 0;min-height: 2em;padding-left: 2%; background:#fff url("images/mag-glass.png") 98% 50% no-repeat; background-size: auto 80%;}
.mobile #toolbar .go {position:absolute; left:-1000px;}
.mobile #wrapper #content {margin:0 1%; max-width:65%; width:auto;}
.mobile.no-sidebar  #content {max-width:98%; width:auto; margin: 0;}
.mobile #wrapper .navcontainer {position:absolute; left:-2000px; opacity:0; /*-moz-transition:opacity 0.25s; -webkit-transition:opacity 0.25s; transition:opacity 0.25s;*/ display:block; }
.mobile #navalpha, .mobile #linksdropdown {display:none;}
.mobile .active #navalpha {display:block;}
.mobile #wrapper .navcontainer.active, .mobile #toolbarcontainer.active, .mobile #mobiletoolscontainer.active {position:relative; left:0;  clear:both; opacity:1; display:block;}
.mobile.no-sidebar #content, .mobile#home #content, .mobile.story #content {max-width:100%;}
.mobile.no-sidebar #subcontent {display:none;}
.mobile #wrapper .navcontainer ul a[href^="http"]:after {content:""; background: url(images/icon_external_link.png) no-repeat 50% 50%; background-size:contain;  display:inline-block; line-height:1; width:0.85em; height:0.85em; margin: 0 0 -0.05em 0.333em; padding:0;}

/*.mobile #toolbarcontainer.active { background:#333; width:95%; padding: 0 5% 1em 0;  float:left;}*/


.mobile #menutoggle {float:left;  width:100%; background:#e7751d; }
.mobile #menutoggle a.active { display:inline-block; padding: 3px 3% 4px; color:#fff;  margin:0 0 0 2%; border-radius:3px;  font-size:16px; line-height:1; width:26%;}
.mobile #menutoggle a.hider.active {border-radius: 3px 3px 0 0; background:#333;border-bottom:1px solid #333; background:#333; margin-bottom:-3px; border-bottom:3px solid #333; margin-top:-4px; padding-top:9px;}
.mobile #menutoggle a.navalphacontainerbutton {margin-left:0;}
/*.mobile #frommenu.active {float:right; border:1px solid #fff; margin-bottom:-1.75em; position:relative; z-index:100; width:1em; text-align:center; border-radius:0;}*/
.mobile #wrapper #mobiletools li a[href^="/main/news"] {display:none;}  
.mobile #menutoggle a.active { width:12%; padding: 8px 2.75% 8px 1.5%; max-width:80px;}
.mobile #menutoggle img {width:100%; opacity:1;}


.mobile #breadcrumbs {display:inline-block; background:#555; color:#e97400; padding: 1.5em 0 0.75em 0; width: 100%; font-size:13px;}
.mobile#home #breadcrumbs {display:none;}
.mobile #breadcrumbs div {padding: 0 2%;}
.mobile #breadcrumbs a {color:#ddd;}
.mobile #contentcontainer, .mobile #mobiletoolscontainer {width:99%;}



.mobile #wrappercontainer #maincontainer .navcontainer, #contentcontainer, #wrappercontainer #maincontainer .navcontainer li {width:auto; max-width:100%; font-size: inherit;}
.mobile #wrappercontainer #maincontainer .navcontainer {background:#555; font-size:15px; line-height:18px; box-shadow: inset 2px 2px 3px #000;  padding-bottom:0; border-bottom: 0.5em solid #333; width:100%; }
.mobile #navalpha2 ul + ul {margin-top:0.5em;}
.mobile #wrapper .navcontainer li { border:0; padding:0 0 0 1em; background-color:#333; font-size:inherit; _elidedshad:inset 5px 0 2px -3px #000; }
.mobile #wrapper .navcontainer li a {margin-left:0; padding:0.5em 3px 0.5em 6px; color:#fff; clear:left; background:#333; float:none; display:block; font-weight:normal; height:auto; font-size:inherit; border-bottom: 1px solid #404040; text-decoration: none;}
.mobile #wrappercontainer #wrapper .navcontainer #navgamma li a, .mobile #wrappercontainer #wrapper .mobilenav #navbeta li a {background-color:#505050;}
.mobile #wrappercontainer #wrapper .navcontainer #navbeta li a.disabled {display:none;}
.mobile #wrappercontainer #wrapper #maincontainer .navcontainer li a.js-parent:before {content:"\25be"; display:inline-block; width:1em;}
.mobile #wrapper .mobilenav > ul > li.spacer {padding-bottom:1.25em;}
.mobile #wrapper .mobilenav ul li:last-child {padding-bottom:1.25em;}

.mobile #wrappercontainer #wrapper #newsnavcontainer #navbeta > ul > li:first-child a {_elidedshad:none;} 
.mobile #wrapper .navcontainer li.selected > a {color: #e97400; }

.mobile .mobilenav ul ul {padding-left:1em; display:none;}
.mobile .mobilenav li.selected > ul {display:block;}
.mobile .mobilenav a.hasChildren:before {content:"-\0020"; position:absolute; margin-left:-1em;}
.mobile .mobilenav a.hasChildren.folded:before {content:"+\0020";}





.mobile #navalpha2 {margin-top:0.5em;}
.mobile #wrapper #navbeta, .mobile#news #navgamma, .mobile#news #navdelta { padding:0 3% 1em 5%; margin: 0 0 1px 0; width:92%; background:#505050; font-size:inherit; line-height:inherit; }
.mobile .mobilenav #navbeta, .mobile #mobiletools #navbeta, .mobile#news #navgamma, .mobile#news #navdelta {  background:#505050; }
.mobile #wrappercontainer #wrapper #maincontainer #navbeta li { font-size:inherit;}


/* news and tools */

.mobile#news #contentheader {display:none;}
.mobile#tools #contentheader h3, .mobile#students #contentheader h3, .mobile#family #contentheader h3, .mobile#alumni #contentheader h3, .mobile#alumni #contentheader h3, .mobile#facstaff #contentheader h3 {margin: 0 0 0.25em 1%;}
.mobile#tools.contacts #contentcontainer, .mobile#tools.az #contentcontainer {width:70%;}
body.mobile#news.archive #content ul {width:auto;}
.mobile #newsnavcontainer > ul { background-color:#333;}
.mobile#news #newsnavcontainer {width:100%; float:left; clear:both;}
.mobile #toolbar ul li:last-child, .mobile #toolbar ul li:nth-child(4) {display:none;}
.mobile #sidecontent {width:92%; padding:1em 4%; border: 0; border-top: 1px solid #aaa; float:left; margin-top:1em;}




.mobile #content .gofull {width:97% !important; }

.mobile #content .pic-left.gofull, .mobile #content .pic-right.gofull {float:none; margin-left:0; margin-right:0;}
.mobile .gofull > img {width:100% !important; height:auto; }

.mobile#admission-aid .pic-left, .mobile#international .pic-left, .mobile#arts .pic-left {width:auto !important; margin-left:3%; float:right; max-width:40%;}
.mobile#admission-aid #content h3, .mobile#arts #content h3, .mobile#international #content h3 {padding-left:0; display:block;}
.mobile#admission-aid #content h3+p, .mobile#arts #content h3+p, .mobile#international #content h3+p {float:none; }
.mobile .pic-left, .mobile .pic-right {max-width: 97% !important;}
.mobile .pic-left img, .mobile .pic-right img {max-width:100%; height:auto;}






/* home */
#home.mobile #navbeta, .mobile #featured-story img, .mobile .video-tabs, .mobile .tabcontainer, .mobile .tab, .mobile#home #subcontent, .mobile#home #subcontent > div {width:100%; max-width:596px;}
.mobile .tab {margin-top:0.25em; border-radius:6px;}
.mobile .tab-bot, .mobile .tab-top {background:transparent;}
.mobile .play-btn {right:30px;}
body.mobile#home div#content {margin-left:0;}
#home.mobile #navbeta, #home.mobile #navbetacontainer {background:none; width:auto;  padding:0;font-size:inherit;}
#home.mobile #navbeta {font-size:0.72727em; margin-bottom:1em;}
.mobile#home #wrappercontainer #wrapper #maincontainer #navbeta li {width:94%; margin-left:4%; padding-left:1%; list-style:disc;background:none;}
body.mobile#home #preslink a {margin-left:0;}
body#home #givinglink a {width: 218px;}
body#home #givinglink a:hover img, body#home #givinglink a:focus img {top:-34px;}

body.mobile#home #featuredtextcontainer, .mobile #mm-column > div {padding: 2px 1% 3px 2%; width:97%;}
#content .feature-tab-sidebar h2 {padding-top:1.25em;}
.mobile .vimeo-container, .mobile .video-player, .mobile iframe, .mobile#home #feature-tab-show, .mobile#home #feature-holder {width:100% !important; min-height:150px;}
.mobile#home #feature-tab-show > a {background-size:cover; }
.mobile a.closefeature { background-color:#000; top:-15px; padding: 2px 5px;}
.mobile .feature-tab-sidebar {padding-left: 1ex; padding-right:1ex;}
body.mobile#home #featured-story-edit {display:none;}


/* tools */
body.mobile#tools.search #search-princeton, body#tools.search #search-people {width:47%; border-right:0;}
body.mobile#tools.search #search-general-results {border-right:0; padding-right:8px;}
body.mobile#tools.search #search-references {margin:19px 0 0 0; float:right; width:50%;}
body.mobile.search #search-form {width:50%;}
body.mobile.search #content input.searchBox {width:70%;}
body.mobile.az#tools #content form, body.mobile#tools.az ul.indexlist {width:auto;}



/* custom pages */

body.mobile#admission-aid .pic-left {clear:right;}
body.mobile #wrapper #content p {width:auto;}
}


/*   930 to 581  ================  */

@media all and (max-width:930px) and (min-width:581px){
body.mobile {margin: 8px 8px 0 8px;}
.mobile #header #bannercontainer {position:absolute; z-index: -1; background:none; width:97%;  height:auto;}
.mobile #header #bannercontainer.custom {margin-top:-2.125%;}
.mobile #banner { width:50%; max-width:364px; border-radius:6px 6px 0 0; overflow:hidden;}
.mobile #banner img {width:100%;}
.mobile #toolbarcontainer {width:45.5%; float:right; }
.mobile #toolbar { width:100%; text-align:left; height:auto;}
.mobile #toolbar form {float:none;display:inline-block; width:100%; padding:6px 0 2px;}
.mobile #toolbar form input {float:none;}
.mobile #q {margin-left: 0;min-height: 1.75em;width: 93%; max-width:352px; font-size:11px; border:0;}
.mobile #toolbar .go {margin-top:0.6125em;}
.mobile #toolbar select, .mobile #toolbar option {width:250px; min-width:250px;}

.mobile #logobarcontainer {height:auto; width:50%;float:right; max-width:333px; margin-bottom:1.15%;}
.mobile #logobar a img {width:100%;}

#home.mobile #navbetacontainer {width:45.5%; float:left;}
.mobile #featured-story, .mobile #multimedia-resources, #home.mobile #subcontent {width:50%; float:left; }
#home.mobile #subcontent {clear:left; padding-bottom:1.5em;}

.mobile#home .vimeo-container, .mobile#home #featured-story, .mobile #content > .video-tabs {width:50%; float:right;}
.mobile#home #featuredtextright {font-size: 12px;}
.mobile#home #subcontent, .mobile#home #subcontent > div {width:100%; max-width: 100%; margin-right:0;}
.mobile#home #community-resources h3, .mobile#home #community-resources ul {width:50%; float:right; clear: right;}

/*.mobile#home #subcontent > div {width:48%; margin: 0 0 1em 0; float: left;}*/
.mobile#home #subcontent #mm-column, .mobile#home #subcontent #web-highlights {float:left; margin-right:0; width:48.75%;}
.mobile#home #subcontent #mm-column {margin-left:1%;}

.mobile #content div.gofull[style$="400px;"] {width:74.9% !important;}


}


@media all and (max-width: 700px) {
.mobile #toolbar form {padding-top:5px;}

.mobile#tools.contacts #contentcontainer, .mobile#tools.az #contentcontainer {width:99%;}
.mobile#tools.contacts #content, .mobile#tools.az #content {width:98%; max-width:98%;}
/*audiencesurvey*/
.ui-dialog {
   left: 5% !important; 
   width: 90% !important;
   top:5% !important;
}
}


@media all and (max-width: 630px) and (min-width:580px) {.mobile #menutoggle a.active {font-size:17px; }}



/* ========== and now we're all in =============*/

@media all and (max-width: 580px) {
/*semitransparent banner
.mobile #header #bannercontainer {height:55px; opacity:0.25; background:none;}
*/
/*.mobile #headercontainer {background:#333; float:left; border-radius:9px 9px 0 0;}*/
/*
.mobile #banner, .mobile #toolbar, .mobile #logobar h1 {max-width:364px; margin:0 auto;}*/
body.mobile {padding:0; margin:0;}

.mobile #wrapper #content {max-width:96%;}
.mobile #subcontent {float:left; width:96%; margin:1em 1% 2em;}
.mobile #contentcontainer {width:96%; font-size:20px;}

.mobile #logobarcontainer {height:auto;}
.mobile #logobar a, .mobile #logobar img {width:100%;}

.mobile #menutoggle a.active { width:16%; padding: 1.5% 8% 1.5% 6%;}
.mobile #menutoggle a.navalphacontainerbutton {margin-left:5.25%;}
.mobile #menutoggle a.hider.active { margin-top:-2%; padding-top:2%;}



.mobile #toolbar {height:auto; width:100%;}
.mobile #toolbar form {padding:1.125em 0 0 6%; width:94%; text-align:center; }
.mobile #toolbar .go {position:absolute; left:-1000px;}
.mobile #q {width:88.75%; margin-left:4.875%; font-size:13px; min-height:1.5em;  border-color:#aaa;}




.mobile #banner img, .mobile #banner  {width:100%;  border-radius:0; margin-top:-0.66%;}
.mobile #header #bannercontainer {background:none; width:100%; height:auto; border-radius:0;}
.mobile #headercontainer {width:100%;}


.mobile #logobarcontainer {height:auto; width:100%;}
.mobile #logobar, .mobile #toolbar { margin:0 0 1px 0;}
/*.mobile #logobar a {width:100%; height:58px; background:url(images/pulogo-w.png) 0 50% no-repeat; float:left;  background-size:contain; margin-left:0;}*/
/*.mobile #logobar img {display:none;}*/


.mobile #breadcrumbs div {padding-left:11%;}


.mobile#home #navbetacontainer, .mobile#home #featured-story {width:100%;}
body.mobile#home #featuredtextcontainer {background-color:#000;  font-size:14px; line-height:1.25;}
body.mobile#home #featuredtextcontainer a {color:#e97400;}
body.mobile#home #featuredtextright {display:none;}

body.mobile#home #navbeta h2, body.mobile#home #main h3 {background:#8c8c8c; color:#fff; font-size:12px; padding: 0 8px; font-weight:400; text-transform: uppercase; margin:2em 0 0.5em 0; display:block;}
body.mobile#home #navbeta h2 a {color:#fff;}

#home.mobile #wrappercontainer #wrapper #maincontainer #navbeta li, #home.mobile .tab-mid {background-color:#eee; margin:0 0 8px 0; padding:4px 8px 5px 8px; font-size:14px; width:auto; list-style:none; color:#555;}
body#home.mobile #navbeta ul li a {margin-left:1em;}
body#home.mobile #navbeta ul li a:before {content:"\2022"; position:absolute; margin-left:-1em; color:#e97400;}




.mobile #footer {background:#000; padding: 3% 2% 3% 5%; color:#fafafa;}
.mobile #footer p {color:inherit;}
.mobile #footer span {display:block;}
.mobile #footer .divider {display:none;}
.mobile #footer .updated {width:100%; text-align:right;padding-top:1em;}







.mobile#home #content, .mobile#home #community-resources, .mobile#home #web-highlights {margin:0; padding:0;}
.mobile#home #multimedia-resources {font-size:14px; text-align:right;}
.mobile#home #multimedia-resources * {text-align:left;}
.mobile#home .tab-mid {background-position:98% 90%;} 
.mobile#home .tab {background:none; line-height:1.4;}
.mobile#home .tab-top, .mobile#home .tab-bot {display:none;}
.mobile#home #featured-story-edit {display:none;}
#home.mobile #subcontent { margin-bottom: 3%;}



/*newsearch replace */
body.mobile#tools.search #search-princeton, body#tools.search #search-people {width:100%; padding: 0;}
body.mobile#tools.search #search-princeton {margin-left:-3%;}
.mobile #search-people h2, .mobile #search-people p.result-info, .mobile #search-people #search-people-results {border:0; padding-left:0;}
body.mobile.search #search-form {width:100%;}
body.mobile.search #search-form p.web-search {margin-right:25%;}
body.mobile#tools.search #search-results {width:97%; margin-left:3%;}
body.mobile#tools.search #search-references {margin:0; width:80%; }
/*end newsearch*/



}

@media all and (max-width: 480px) {
.mobile #menutoggle a.active { width:17%; padding: 1.5% 7% 1.5% 5%;}
.mobile #menutoggle a.navalphacontainerbutton {margin-left:6.5%;}
.mobile .mobilefull {max-width: 100%; width:100%; margin-right:0; margin-left:0; float:none;}

}

@media all and (max-width: 420px) {
.mobile #menutoggle a.active { width:19%; padding: 1.5% 5% 1.5% 4%;}
.mobile #menutoggle a.navalphacontainerbutton {margin-left:7.25%;}
body.mobile.az#tools #content form, body.mobile.az#tools h3:first-child  {display:none;}
body.mobile#tools.contacts table td + td {min-width:7.5em;}


}

@media all and (max-width: 380px) {
.mobile #menutoggle a.active { width:20%; padding: 1.5% 4% 1.5% 3%;}
.mobile #menutoggle a.navalphacontainerbutton {margin-left:8.25%;}
body.mobile#tools.az .azfilters {float:left; width:94%; padding-right:2%; background:#eee; padding-top:1em; margin-bottom:1em; }
body.mobile#tools.az .alphabet {height:auto;}

}

@media all and (max-width: 340px) {
.mobile #menutoggle a.active {font-size:17px; }
.mobile #menutoggle a.active { width:22%; padding: 1.5% 3.5% 1.5% 2.5%;}
}
