/* Datalife Engine template by: redissx (ICQ: 275116000, E-mail: redissx@gmail.com, Website: webrambo.ru )  */

/* SET BASE
----------------------------------------------- */
* {background: transparent;margin:0;padding:0;outline:none;border: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
table {border-collapse:collapse;border-spacing:0;}
input, select {vertical-align:middle;}
article, aside, figure, figure img, hgroup, footer, header, nav, section, main {display: block;}
body {font: 12px/18px Tahoma, Geneva, sans-serif; line-height:normal; padding:0; margin:0;        
color: #2a2a2a; background-color:#eee; height:100%; width:100%; font-weight:400;}
img {max-width:100%;}
.clr {clear: both;}
.clearfix:after {content: ""; display: table; clear: both;}
a {color: #2a2a2a; text-decoration: none;}
a:hover, a:focus {color:#000; text-decoration: none;}
h1, h2, h3, h4, h5 {font-weight:400; font-size:18px;}
   
.form-wrap {}
.sub-title h1 {margin-bottom:15px; font-size:24px;}
.pm-page, .search-page, .static-page, .tags-page, .form-wrap {padding:20px;}


/*--- SET ---*/
.button, .pagi-load a, .up-second li a, .up-edit a, .qq-upload-button, button:not(.color-btn), html input[type="button"], 
input[type="reset"], input[type="submit"] {
padding:0 20px; color:#fff; font-weight:700; font-size:12px; display:inline-block; background-color:#000;
height:40px; line-height:40px; border-radius:4px; cursor:pointer;
background: linear-gradient(to bottom, #777 0%,#222 100%);}
button::-moz-focus-inner, input::-moz-focus-inner {border:0; padding:0;}
button[disabled], input[disabled] {cursor:default;}
.button:hover, .up-second li a:hover, .up-edit a:hover, .qq-upload-button:hover,
button:not(.color-btn):hover, html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover 
{background: linear-gradient(to top, #777 0%,#222 100%);  color:#fff;}
button:active, html input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active 
{box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.1);}
input[type="submit"].bbcodes, input[type="button"].bbcodes, input.bbcodes, .ui-button 
{font-size: 12px !important; height: 30px !important; line-height:30px !important; padding: 0px 10px; border-radius:3px;}

input[type="text"], input[type="password"] {display:block; width:100%; height:40px; line-height:40px; padding:0 15px;
color:#000000; background-color:#f5f5f5; border-radius:4px; -webkit-appearance: none; box-shadow:0 0 0 1px #EDEDED;}
input[type="text"]:focus {}

input:focus::-webkit-input-placeholder {color: transparent}
input:focus::-moz-placeholder {color: transparent}
input:focus:-moz-placeholder {color: transparent}
input:focus:-ms-input-placeholder {color: transparent} 

select {height:40px; border:1px solid #e3e3e3; background-color:#FFF;}
textarea {display:block; width:100%; padding:10px; border:1px solid #e3e3e3; background-color:#FFF; 
border-radius:0 0 6px 6px; box-shadow:inset 0 0 4px 0 rgba(0,0,0,0.1); overflow:auto; vertical-align:top; resize:vertical;}

.img-box {overflow:hidden; position:relative; background-color:#CCC;}
.img-box img {width:100%; min-height:100%;}
.square-img img {display:block; width:150%; max-width:150%; margin-left:-25%;}
.nowrap {white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
button, .header-menu > li > a, .short-tile:before {transition: all .3s;}
a, .ser-i:before, .news-i:before, .ser-i .fa, .news-i .fa, .ps-link, .short-mask, .rel:before, .highslide:before 
{transition: color .3s, background-color .3s, opacity .3s;}

.flex-row {display:flex; flex-flow:row wrap; justify-content:space-between;}
.flex-col {display:flex; flex-direction:column; justify-content:center;}
.icon-l span.fa {margin-right:10px;}
.icon-r span.fa {margin-left:10px;}
.ps-link, .ps-link2 {cursor:pointer;}

.decor, .side-box, .short, .pm-page, .search-page, .static-page, .tags-page, .form-wrap 
{background-color:#ffffff; border-radius:4px; box-shadow:0 2px 4px 0 rgba(0,0,0,0.1);}
.header:before, .side-bt, .short-top, .comm-one {background-color:#000; background: linear-gradient(to bottom, #777 0%,#222 100%); color:#FFF;}


/* BASIC GRID
----------------------------------------------- */
.wrap {min-width:320px; position:relative;}
.center {margin:0 auto; position:relative; z-index:100;} 
.header {background-color:#000; box-shadow:0 2px 2px 0 rgba(0,0,0,0.1); position:relative; z-index:200; 
background: linear-gradient(to bottom, #939393 0%,#b8b8b8 107px);}
.header-in {padding:0 10px;}
.header:before {height:50px; width:100%; left:0; bottom:0; position:absolute; content:"";}
.cols {padding:20px 10px 20px 270px;}
.side {width:240px; margin-left:-260px; float:left;}
.cont {width:100%; float:right; min-height:800px;}
.footer {background-color:#000; background: linear-gradient(to bottom, #222 0%,#777 100%); 
box-shadow:inset 0 20px 20px -20px rgba(0,0,0,0.8);}


/* HEADER
----------------------------------------------- */
.logotype {width:504px; height:107px; overflow:hidden; display:block; float:left;}
.logotype img {display:block;}
.search-box {width:350px; float:right; padding-top:33px;}
.search-inner {width:100%; position:relative;}
.search-inner input, .search-inner input:focus {width:100%; height:40px; line-height:40px; padding:0 40px 0 20px;}
.search-box button {position:absolute; right:0; top:0; border-radius:0; font-size:16px;
padding:0; text-align:center; width:40px; height:40px; line-height:40px; 
color:#000 !important; background:transparent !important; box-shadow:none;}


/* BASIC MENU
----------------------------------------------- */
.header-menu > li {position:relative; border-right:1px solid #000; float:left;}
.header-menu > li > a {display:block; font-weight:700; padding:0 15px; line-height:50px; height:50px; 
color:#FFF; font-size:13px; font-weight:700;}
.header-menu > li:last-child {border-right:0;}
.header-menu > li > a:hover, .header-menu .menuactive > a, .hidden-menu a:hover {background-color:#777;}
.hidden-menu {position:absolute; left:0; top:100%; z-index:998; background-color:#222; width:240px;
box-shadow:0 2px 2px 0 rgba(0,0,0,0.2); display:none;}
.hidden-menu a {display:block; padding:10px 20px; font-weight:700; color:#FFF; border-bottom:1px solid #000;}
.submenu > a:after {content:"\f107 "; font-family:'FontAwesome'; margin-left:7px;}
.header-menu .fa {color:#ffcc00; font-size:18px;}


/* SIDEBAR
----------------------------------------------- */
.side-box {margin-bottom:20px;}
.side-bt {font-size:13px; font-weight:700; padding:10px 20px; border-radius:4px 4px 0 0;}
.side-bc {padding:20px;}

.side-top a {display:block; color:#727272; margin-bottom:7px;}
.side-top a:before {content:"\f061"; margin-right:7px; font-family:'FontAwesome';}
.side-top a:hover, .lforum a:hover, .speedbar a:hover {text-decoration:underline;}

.lcomms {padding:0;}
.lcomm {display:block; padding:10px 20px; position:relative; border-bottom:1px solid #e3e3e3;}
.lc-body {display:block;}
.lc-popup {position:absolute; left:100%; top:0; z-index:888; width:400px; padding:10px 10px 10px 70px; 
background-color:#FFF; border:3px solid #444; display:none; min-height:76px;}
.lcomm:hover .lc-popup {display:block;}
.lcomm:hover {background-color:#f5f5f5; box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.2);}
.lc-ava {width:50px; height:50px; position:absolute; left:10px; top:10px;}
.lc-author {margin-bottom:7px;}
.lcomm-author b, .lcomm-title span {margin-right:10px;}


/* SPEEDBAR, SHORT
----------------------------------------------- */
.speedbar {font-weight:700; margin-bottom:20px;}

.short {margin-bottom:20px;}
.short-top {padding:10px 20px; border-radius:4px 4px 0 0; color:#FFF; align-items:center;}
.short .flex-row > * {display:inline-block; vertical-align:middle;}
.short-title {color:#FFF; font-weight:700; font-size:15px; max-width:70%;}
h1.short-title {max-width:100%; font-size:16px;}
.short-title .fa {color:#ffcc00;}
.short-cat a {color:#FFF;}
a.short-title:hover, .short-cat a:hover {text-decoration:underline; color:#FFF;}
.short-bottom {line-height:40px; padding:10px 20px; border-top:1px solid #e3e3e3;}
.short-bottom-left > div, .short-bottom .button {display:inline-block; margin-right:10px; vertical-align:middle;}
.short-bottom-right > div {display:inline-block; margin-left:10px;}
.short-bottom-right a {font-weight:700;}
.short-bottom div div a:hover {text-decoration:underline;}
.short-text {padding:20px;}


/* BOTTOM NAVIGATION
----------------------------------------------- */
.bottom-nav {line-height:40px; text-align:center; font-size:16px; padding:20px 0;}
.pagi-nav {white-space:nowrap; overflow-y:hidden; overflow-x:auto; max-width:100%;
background-color:#FFF; border:1px solid #e3e3e3; border-radius:3px; display:inline-block;}
.pagi-nav > span {display:inline-block;}
.pprev, .pnext {}
.pprev {border-right:1px solid #e3e3e3;}
.pnext a, .pprev a, .pprev > span, .pnext > span {display:block; width:40px; text-align:center;}
.navigation {text-align:center;}
.navigation a, .navigation span {display:inline-block; padding:0 5px; min-width:38px;
color:#444; border-right:1px solid #e3e3e3; margin-right:-4px;}
.navigation span, .pagi-nav a:hover {background-color:#444; color:#fff;}
.navigation span.nav_ext {background-color:transparent; color:#888;}
.dle-comments-navigation .pagi-nav {margin-bottom:20px;}


/* FOOTER
----------------------------------------------- */
.fbottom {padding:40px 10px; color:#FFF;}
.fbottom div {line-height:31px;}
.counters {display:inline-block; height:31px; min-width:88px;}


/* FULL STORY STATIC
----------------------------------------------- */
.video-box embed, .video-box object, .video-box video, .video-box iframe, .video-box frame 
{width: 100%; max-width:800px !important; height:600px; display:block; margin:20px auto;}
.mejs-container {max-width:800px !important;}
.full-text {font:14px/22px Verdana, Geneva, sans-serif; text-align:justify;line-height:1.2;}
.full-text img:not(.emoji) {max-width:100%; border:0px solid #e3e3e3;}
.full-text > img[style*="left"], .full-text > .highslide img[style*="left"] {margin:0 10px 10px 0;}
.full-text > img[style*="right"], .full-text > .highslide img[style*="right"] {margin:0 0 10px 10px;}
.full-text a {text-decoration:underline; color:#06c;}
.full-text a:hover {text-decoration:none;}
.full-text h2, .full-text h3, .full-text h4, .full-text h5 {margin:15px 0; font-size:18px;}
.full-text p {margin-bottom:15px;}
.full-text ul, .full-text ol {margin:0;}
.full-text ul li {list-style:disc; margin-left:40px;}
.full-text ol li {list-style:decimal; margin-left:40px;}
.full-text table {width:100%; text-align:left;}
.full-text table tr td {padding:10px; border:1px solid #ccc; font-size:12px; }
.full-text table tr:nth-child(2n+1) {background-color:#f6f6f6;} 
.full-text table img {display:block; margin:0; border:0; max-width:350px}
.attach {line-height:40px; background-color:#f5f5f5; padding:0 15px 0 0; border-radius:4px; margin:10px 0; overflow:hidden;}
.attach .download-link {color:#FFF !important; text-decoration:none !important; margin-right:15px; float:left; 
display:inline-block; padding:0 15px; background:#444;}
.attach-info {float:right;}
.attach i {margin-right:5px;}
.dcont {border:1px solid #e3e3e3; padding:0 15px 15px 15px; margin:0; line-height:20px;}
.polltitle {display:block; padding:5px 15px; margin:0 -15px 15px -15px; font-size:18px; background-color:#f5f5f5; line-height:normal;}
.full-taglist {margin:20px 0; font-size:12px;}
.full-taglist-t { margin-bottom:5px; font-weight:700;}
.full-taglist a {margin:0 0 3px 0; color:#06c}
.full-taglist span {margin-right:5px;}


/* COMMENTS
----------------------------------------------- */
.add-comm-form {position:relative;}
.ac-soc {position:absolute; right:0; top:-10px;}
.ac-soc:before {content:attr(data-label); display:inline-block; vertical-align:top; line-height:30px; margin-right:5px;}
.ac-soc a {display:inline-block; margin:0 0 0 3px; vertical-align:top;}
.ac-soc img {display:block; width:30px;}
.add-comm-form, .ac-inputs, .ac-textarea {margin-bottom:15px;}

.ac-av {width:40px; height:40px; border-radius:50%; float:left; margin-right:10px;
background:#fff url(../dleimages/noavatar.png) no-repeat; background-size:contain;}
.ac-title {font-weight:700; margin-bottom:15px; font-size:12px;}
.ac-inputs input {width:49%;}
.ac-textarea textarea {height:150px;}
.ac-submit {}
.ac-textarea > br, .ac-textarea > input, .ac-textarea > label {display:none !important;}
.active .ac-textarea > br, .active .ac-textarea > input, .active .ac-textarea > label {display:inline-block !important;}
.sec-answer + .sec-label {margin-top:10px;}
.ac-protect {margin-top:-10px; display:none;}
.ac-protect .label {font-size:12px;}
.ac-protect .sep-input {padding:10px 10px 10px 160px;}

.mass_comments_action {text-align:right; padding:5px 15px; background-color:#f0f0f0; margin:20px 0;}
.last-comm-link {font-size:16px; margin-bottom:10px; background: #ffffff;}
.last-comm-link a {text-decoration:underline; color:#2e5175;}

.comm-item {padding-left:160px; margin-bottom:20px; border-bottom: 1px solid #482626;}
.comm-left {width:160px; margin-left:-160px; float:left;}
.comm-right {width:100%; float:right;}
.comm-av {width:100px; margin:0 auto 10px auto; position:relative; left:-10px;}
.comm-av img {display:block; width:100%;}
.comm-left > div:not(.comm-av) {margin-bottom:3px; font-size:12px}
.comm-status:after {content:""; width:8px; height:8px; margin-left:10px; display:inline-block;
background-color:#ccc; border-radius:50%;}
.status-online:after {background-color:#3C0;}

.comm-two {background-color:#f5f5f5; padding:10px; border:1px solid #e3e3e3; margin:10px 0; 
text-align:left;}
.signature {font:italic 12px Georgia, "Times New Roman", Times, serif; margin-top:10px; padding-top:10px; border-top:1px dashed #000000;}
.comm-three ul {text-align:right; text-transform:uppercase;}
.comm-three ul li {margin-left:5px; display:inline-block;}
.comm-three li:first-child, .comm-three li.comm-q {float:left; margin-left:0; margin-right:10px;}
.comm-three ul li a {font-size:10px; color:#292929;}
.comm-three ul li span.fa {margin-right:10px; color:#888;}
.comm-three a:hover {text-decoration:underline;}

.comm-two img:not(.emoji) {max-width:600px; border:0px solid #e3e3e3;}
.comm-two img[style*="left"] {margin:0 10px 0 0;}
.comm-body a {font-weight:bold; text-decoration:underline;}

.comm-one {position:relative; padding:10px; align-items:center; font-size:14px;}
.comm-one > div {display:inline-block; vertical-align:middle;}
.comm-info a {color:#fff; font-weight:bold;}
.comm-rate2 {background-color:#f5f5f5; background: linear-gradient(to bottom, #f9f9f9 0%,#f5f5f5 100%); 
border-radius:4px; overflow:hidden; box-shadow:0px 1px 3px rgba(0, 0, 0, 0.2); height:30px; line-height:30px;}
.comm-rate2 .fa {color:#008ACE; margin-right:5px;}
.comm-rate2 a {display:block; padding:0 10px; color:#444;}
.comm-rate2 a:hover {background-color:#008ACE; color:#FFF;}
.comm-rate2 a:hover .fa {color:#FFF;}

.comm-rate {background-color:#f5f5f5; background: linear-gradient(to bottom, #f9f9f9 0%,#f5f5f5 100%); 
border-radius:4px; overflow:hidden; box-shadow:0px 1px 3px rgba(0, 0, 0, 0.2); height:30px; line-height:30px; 
position:relative; padding:0 35px; text-align:center; font-size:12px;}
.comm-rate a {display:block; color:#fff; background-color:#7dc561; width:30px; height:30px; 
position:absolute; top:0; left:0px; line-height:30px; font-size:12px;}
.comm-rate a:nth-child(2) {background-color:#eb7f73; left:auto; right:0;}
.comm-rate a:hover {opacity:0.7;}
.comm-rate > span > span.ratingzero {color: #444444;}
.comm-rate > span > span.ratingtypeplus {color: #06b601;}
.comm-rate > span > span.ratingplus {color: #95c613;}
.comm-rate > span > span.ratingminus {color: #ff0e0e;}

.comments-tree-list > .comments-tree-item > .comments-tree-list {padding:20px 20px 20px 40px; margin:0 -20px 20px -20px; background-color:#f2f8ff; 
box-shadow:inset 0 25px 20px -20px rgba(0,0,0,0.15),inset 0 -25px 20px -20px rgba(0,0,0,0.15);}


/* LOGIN
----------------------------------------------- */
.login-box {}
.lb-user {margin:-20px -20px 20px -20px; padding:20px; background-color:#f8f8f8;  
display:flex; flex-flow:row wrap; justify-content:left; align-items:center;}
.lb-ava {width:50px; height:50px; border-radius:50%; margin-right:20px;}
.lb-name div {font-size:16px; font-weight:700;}
.lb-name a {margin-top:10px;}
.lb-menu a {display:block; line-height:30px; padding:0 10px; background-color:#f5f5f5;}
.lb-menu a:hover, .lb-menu a:hover .fa {background-color:#444; color:#fff;}
.lb-menu a .fa {color:#000;}
.login-box input[type="text"], .login-box input[type="password"], .login-box button, .lb-check 
{display:block; margin-bottom:20px; width:100%;}
.lb-check input {display:none;}
.lb-check input + label:before {width:14px; height:14px; margin-right:7px; cursor:pointer; position:relative; top:3px;
border-radius:3px; border:1px solid #ccc; content:""; background-color:#f6f6f6; display:inline-block;}
.lb-check input:checked + label:before {background-color:#e5050b;}
.lb-soc {margin:20px -20px -20px -20px; padding:20px; background-color:#f8f8f8; text-align:center;}
.lb-soc a {display:inline-block; margin:10px 3px 0 3px; vertical-align:top;}
.lb-soc img {display:block; width:24px;}



/* SWITCHER IN FULL
----------------------------------------------- */
.switch-box {display:block; padding:20px 0;}
.field { width: 100%; margin: 0 0 20px; }
.field input { margin: 0 0 0 20px; }

  	/* Used for the Switch effect: */
  	.cb-enable, .cb-disables, .cb-enable span, .cb-disables span { background: url("../images/switch.gif") repeat-x; display: block; float: left; }
  	.cb-enable span, .cb-disables span { line-height: 30px; display: block; background-repeat: no-repeat; font-weight: bold; }
  	.cb-enable span { background-position: left -90px; padding: 0 10px; }
  	.cb-disables span { background-position: right -180px;padding: 0 10px; }
  	.cb-disables.selected { background-position: 0 -30px; }
  	.cb-disables.selected span { background-position: right -210px; color: #fff; }
  	.cb-enable.selected { background-position: 0 -60px; }
  	.cb-enable.selected span { background-position: left -150px; color: #fff; }
  	.switch label { cursor: pointer; }
	
	

/* ORATING
----------------------------------------------- */
.orating > a {display:inline-block; float:none !important;}
.orating {align-items:center; height:30px;}
.orating{width:94px;height:40px;padding:5px 10px;background:#d9d9d9;box-shadow:inset 0 1px #f0f0f0;
border-radius:6px;border:1px solid #ccc;color:#fff !important;position:relative;text-align:center;}
	a.orating_res,span.orating_res{font:bold 12px/12px 'Trebuchet MS';color:#fff !important;text-shadow:0 2px 3px rgba(0,0,0,0.35);}
	a.orating_res:hover{color:#f0f0f0 !important;}
	a.orating_m, a.orating_p{height:12px;width:12px;background:url('../dleimages/oicons.png') no-repeat;}
	a.orating_m{float:left;background-position:-12px 0;}
	a.orating_m:hover{background-position:-12px -12px;}
	a.orating_m.orated{background-position:-12px -24px;}
	a.orating_p{float:right;}
	a.orating_p:hover{background-position:0 -12px;}
	a.orating_p.orated{background-position:0 -24px;}

.ocomm{float:left;width:60px;height:12px;padding:4px 10px;background:#d9d9d9;box-shadow:inset 0 1px #f0f0f0;-moz-border-radius:20px;-webkit-border-radius:20px;border-radius:20px;border:1px solid #ccc;color:#fff !important;position:relative;text-align:center;}
	a.ocomm_res{font:bold 10px/12px Tahoma;color:#fff !important;text-shadow:0 2px 3px rgba(0,0,0,0.35);}
	a.ocomm_res:hover{color:#f0f0f0 !important;}
.comm_hide{padding:10px 20px;font:normal 12px Arial;color:#666 !important;}
	.comm_hide a{display:inline-block;margin-left:10px;padding:0 2px;color:#07d !important;text-decoration:underline;font-style:italic;}
	.comm_hide a:hover{color:#000 !important;border:0;}

	.ogray{border:1px solid #ccc;box-shadow:inset 0 1px #f0f0f0;background:#d9d9d9;}
	.oplus{border:1px solid #6e912c;box-shadow:inset 0 1px #aec97b;background:#82ac34;}
	.ominus{border:1px solid #a13535;box-shadow:inset 0 1px #dd8484;background:#cb4242;}
	.ogold{border:1px solid #006090;box-shadow:inset 0 1px #66bde8;background:#4385b4;}
	.oblack{border:1px solid #444;box-shadow:inset 0 1px #bbb;background:#5a5a5a;}
	.oload{cursor:progress !important;}

.ostats{display:none;background:#e5e5e5;background:rgba(0,0,0,0.15);width:270px;padding:10px;border-radius:5px;position:absolute;z-index:999;}
	.ostats h4{text-align:left;padding:0 0 0 17px;margin:0;border-bottom:1px solid #eee;background:#fafafa url('../dleimages/orating_h4.png') repeat-x;border-radius:3px 3px 0 0;height:35px;font:normal 13px/35px Tahoma,Arial;color:#999 !important;cursor:move;}
	.ostats_area{background:#fff;border-radius:3px;padding-bottom:1px;}
		.oclose{width:22px;height:22px;background:url('../dleimages/oclose.png') no-repeat;float:right;margin:-3px -3px;border:0;text-decoration:none;}
		.oclose:hover{background-position:0 -22px;}
		.oclose:active{background-position:0 -44px;}
			.ostats ul{list-style:none;margin:0;padding:0;float:none;height:auto;}
				.ostats ul li{display:block;background:url('../dleimages/oarrow.png') no-repeat 10px 0;border-bottom:1px dotted #eee;padding:0 10px 0 32px;float:none;height:22px;font:normal 11px/22px 'Trebuchet MS',Tahoma;position:relative;overflow:hidden;}
				.ostats ul li.onoentry{background:none;text-align:center;color:#999 !important;padding:0 5px;}
				.ostats ul li:hover{background-color:#fff;}
					.ostats ul li a:hover{text-decoration:underline;}
				.ostats ul li.ostat-none{background-image:none;}
					.ostats ul li.ostat-none a{color:#888 !important;}
					.ostats ul li.ostat-none:hover a{color:#555 !important;}
				.ostats ul li.ostat-plus{}
					.ostats ul li.ostat-plus a{color:#82ac34 !important;}
					.ostats ul li.ostat-plus:hover{background-position:10px -22px;}
					.ostats ul li.ostat-plus:hover a{color:#546338 !important;}
				.ostats ul li.ostat-minus{background-position:10px -44px;}
					.ostats ul li.ostat-minus a{color:#ab3935 !important;}
					.ostats ul li.ostat-minus:hover{background-position:10px -66px;}
					.ostats ul li.ostat-minus:hover a{color:#522726 !important;}
				.ostats ul li span{float:right;font-family:Arial;color:#ccc !important;}
					.ostats ul li:hover span{color:#777 !important;}
#ostats-userinfo{position:absolute;height:22px;background:rgba(88,88,88,0.88);left:0;top:0;display:none;width:100%;text-align:center;}
	#ostats-userinfo a{display:inline-block;padding:0 15px;color:#e3e5e7 !important;font:bold 10px/21px Tahoma;height:21px;text-decoration:uppercase;}
	#ostats-userinfo a:hover{text-decoration:underline;color:#fff !important;background:#000;}
	#ostats-userinfo a.close{float:right;}
#okarma{float:left;height:20px;color:#fff !important;text-align:center;padding:0 10px;}

.ostats-uservotes{width:880px;}
.ostats-uservotes-area{margin-right:610px;}
#ostats-user-ratings{float:right;width:600px;background:#fafafa;border-radius:4px;padding-bottom:5px; min-height:235px;}
	#ostats-user-ratings ul{overflow:auto; min-height:200px;}
.onavi{padding:10px 0 0;position:relative;width:100%;}
	.onavi .opages{margin:0 15px;text-align:center;}
		.onavi .opages *{padding:0 5px;font:normal 11px/22px Arial;height:22px;margin:0 3px 5px;display:inline-block;border-radius:4px;border-left:1px solid #eee;border-right:1px solid #eee;}
		.onavi .opages a{color:#82ac34 !important;text-decoration:none;}
		.onavi .opages a:hover{background-color:#6db95a;color:#fff !important;}
		.onavi .opages span{color:#fff !important;background-color:#ddd;cursor:default;}
.usernavistart, .usernaviend{background:url('../dleimages/ostats.png') no-repeat;padding:0;margin:0;position:absolute;top:50%;margin-top:-11px;display:block;height:22px;width:22px;border:0;}
.usernavistart{left:-10px;}a.usernavistart:hover{background-position:0 -22px;}a.usernavistart:active{background-position:0 -44px;}span.usernavistart{background-position:0 -66px;}
.usernaviend{right:-10px;background-position:-22px 0;}a.usernaviend:hover{background-position:-22px -22px;}a.usernaviend:active{background-position:-22px -44px;}span.usernaviend{background-position:-22px -66px;}
#orating-bar{padding:1px 0 1px 1px;background:#ccc;border-radius:4px;position:relative;margin:5px 2px;height:17px;}
	#orating-bar div{float:left;height:15px;overflow:hidden;}
		#orating-bar div p{font:bold 10px/15px Tahoma;color:#fff !important;text-shadow:0 1px 2px rgba(0,0,0,0.4);text-align:center;margin:0;padding:0;}
	#orating-bar-oplus{border-top:1px solid #aec97b;border-bottom:1px solid #6e912c;background-color:#82ac34;border-radius:4px 0 0 4px;}
	#orating-bar-ominus{border-top:1px solid #dd8484;border-bottom:1px solid #a13535;background-color:#cb4242;border-radius:0 4px 4px 0;}
	#orating-bar-separator{border-top:1px solid #f7f7f7;border-left:1px solid #f7f7f7;border-bottom:1px solid #dedede;background-color:#eaeaea;width:3px;margin-left:-2px;position:absolute;}




/* ADAPTIVE
----------------------------------------------- */
.show-menu, .show-side {display:none;}


@media screen and (min-width: 1700px) {
.center {max-width:1600px;}
}


@media screen and (max-width: 1220px) {
.wrap {overflow:hidden;}
.center {max-width:1000px;}
.header-menu {display:none;}
.header-in {padding-bottom:50px;}
.short-bottom-left, .short-bottom-right {white-space:nowrap; overflow:hidden; text-overflow:ellipsis; max-width:50%;}
.show-menu, .show-side {width:50px; height:50px; text-align:center; line-height:50px; color:#FFF; font-size:24px; 
position:absolute; bottom:1px; cursor:pointer;}
.show-menu {display:block; left:10px;}
.header-menu {position:absolute; left:0; top:100%; width:100%; padding:0 10px; background-color:#222; 
box-shadow:0 0 10px 0 rgba(0,0,0,0.2); z-index:999; display:none;}
.header-menu > li {display:block; width:100%;}
.header-menu > li > a {padding:0 10px; line-height:35px; height:35px;}
.hidden-menu {position:static; background-color:#333; width:100%;}

.comm-info {white-space:nowrap; overflow:hidden; text-overflow:ellipsis; max-width:80%; font-size:12px;}
.comm-info > span:first-child {display:none;}
}

@media screen and (max-width: 950px) {
.center {max-width:768px;}
.logotype {max-width:504px; width:100%; height:auto; margin:0 auto; float:none;}
.search-box {width:100%; float:none; padding:10px; background-color:#444;}
.cols {padding:20px 10px; overflow:hidden;}
.viss .side {margin-left:0; margin-right:-260px; position:relative; z-index:200; width:260px; padding:0 10px 0 0; 
background-color:#f0f0f0; box-shadow:10px 10px 10px 0 rgba(0,0,0,0.3);}
.cont {width:100%; float:right; min-height:800px;}
.show-side {display:block; left:70px;}
}

@media screen and (max-width: 760px) {
.center {max-width:640px;}
.short-title {max-width:100%; width:100%;}
h1.short-title {max-width:100%; width:100%;}
.short-cat {margin-top:10px;}
.fbottom {display:block; text-align:center; padding:20px 10px;}
.fbottom > div:first-child {line-height:normal; margin-bottom:15px;}

.video-box embed, .video-box object, .video-box video, .video-box iframe, .video-box frame 
{width: 100%; max-width:100% !important;}
.mejs-container {max-width:100% !important;}

.comm-three li:not(.comm-q) {display:none;}
.comments-tree-list .comments-tree-list {padding-left:20px !important;}
.mass_comments_action {display:none;}
.sub-title h1 {font-size:18px; line-height:24px;}
}

@media screen and (max-width: 590px) {
.center {max-width:480px;}
.short-bottom-left, .short-bottom-right {max-width:100%; width:100%;}

.comm-item {padding-left:70px;}
.comm-left {width:60px; margin-left:-70px;}
.comm-av {width:60px; left:0;}
.comm-left > div:not(.comm-av) {display:none;}
.comm-info { max-width:70%;}

.video-box embed, .video-box object, .video-box video, .video-box iframe, .video-box frame {height:300px;}

.ac-soc {position:static;}
.ac-inputs input {width:100%; margin-top:10px;}
.ac-protect {width:100%; float:none; margin:-10px 0 0 0;}
.ui-dialog {width:100% !important;}
.upop-left, .upop-right {float:none !important; width:100% !important; margin:0; padding:0 20px;}
.upop-left {margin-bottom:10px; text-align:center;}
.ui-dialog-buttonset button {display:block; margin:0 0 5px 0; width:100%;}
#dofullsearch, #searchsuggestions span.seperator {display:none !important;}
.attach .download-link {margin:0 -15px 0 0; float:none; display:block; padding:0 10px;}
.attach-info {float:none;}
}

@media screen and (max-width: 470px) {
.center22 {max-width:320px;}
.pm-page, .search-page, .static-page, .tags-page, .form-wrap {padding:20px 10px;}
.short-top {padding:10px;}
.short-bottom {padding:10px;}
.short-text {padding:20px 10px;}
.side-bt {padding:10px;}
.side-bc {padding:20px 10px;}

.login-social2:before, .ac-soc:before {display:none;}
.comments-tree-list > .comments-tree-item > .comments-tree-list {margin:0 -10px 20px -10px;  padding-right:10px;}
.comments-tree-list .comments-tree-list {padding-left:10px !important;}
}

/* GO TOP BUTTON */#gotop{position:fixed; width:40px; height:40px; line-height:36px; right:10px; bottom:10px; cursor:pointer; font-size:20px;z-index:9998; display:none; opacity:0.7; background-color:#000; color:#FFF; border-radius:50%; text-align:center;}