.lg_hide {
  display: none;
}

@media screen and (max-width: 1016px) {
  .spot_light .prevBtn {
    left: -47px;
  }
  .spot_light .nextBtn {
    right: -47px;
  }
}

@media screen and (max-width: 1230px) {
  .content_block .item_group_wrapper {
    max-width: 820px;
  }
}

@media screen and (max-width: 1126px) {
  .footer {
    padding: 38px;
  }
  .footer .sitemap {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
  }
}
