html, body {
  font-family: 'NotoSansRegular', sans-serif;
}

.popup {
  padding: 15px;
}

.md_hide {
  display: none;
}

.header {
  -webkit-align-content: center;
          align-content: center;
  height: 60px;
  padding: 0px 5px 0px 15px;
}

.header .nav_trigger {
  display: block;
  width: 50px;
  height: 40px;
  line-height: 48px;
  padding-left: 5px;
}

.header .nav_trigger .icon {
  width: 20px;
  height: 20px;
  background-image: url("../img/nav_trigger.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
}

.header .mobileNavOpen .icon {
  background-image: url("../img/nav_trigger_close.png");
}

.header .main_logo {
  margin-right: auto;
}

.header .main_logo img {
  height: 30px;
}

.logo_bar {
  border: none;
  height: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.header.forMobile {
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
}

.spot_light {
  padding: 20px 13.5px 20px 13.5px;
  padding: 22px;
}

.spot_light .prevBtn {
  left: 0px;
}

.spot_light .nextBtn {
  right: 0px;
}

.spot_light .arrow {
  display: none;
}

.spot_light h2 {
  font-size: 21px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 15px;
}

.spot_light h2 .line, .spot_light h2 .eng {
  display: none;
}

.spot_light h2 .title {
  width: 100%;
  overflow: hidden;
}

.spot_light h2 span {
  font-size: 21px;
  font-weight: normal;
  display: inline-block;
}

.spot_light h2 .tip {
  font-size: 18px;
  display: inline-block;
  color: #666666;
  float: right;
}

.spot_light h3 .tip {
  font-size: 18px;
  display: inline-block;
  color: #666666;
  float: right;
}

.spot_light .item_group_wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  max-width: 100%;
}

.spot_light .item_group {
  margin-left: 0px !important;
}

.content_block .item_group_wrapper {
  max-width: 820px;
}

@media screen and (max-width: 835px) {
  .content_block h2.block_tittle {
    padding-bottom: 0px;
  }
  .content_block .item_group_wrapper {
    margin-top: 0px;
    padding-top: 2px;
  }
  .content_block h3.title {
    display: none;
  }
  .content_block .item {
    width: calc(50% - 13.5px);
    max-width: 370px;
  }
  .content_block .more_btn {
    width: calc(100% - 27px);
  }
}

.footer {
  padding: 38px;
}

.footer .sitemap {
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.footer .fb_block {
  margin: 0 auto;
  margin-top: 35px;
  height: auto;
}

@media screen and (max-width: 800px) {
  .footer .sitemap {
    min-width: 0px;
  }
  .footer .sitemap .col {
    min-width: 100px;
  }
}

@media screen and (max-width: 750px) {
  .footer .subscribe {
    padding: 15px;
    padding-bottom: 25px;
    -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .footer .subscribe .books, .footer .subscribe .subscribe_title {
    width: 100%;
  }
  .footer .subscribe img {
    max-width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .ad_stick.sticking, .adStickBottom {
    position: relative;
    top: 0px;
    bottom: 0px;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  .social_panel.forMobile {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 14px;
    margin-top: 28px;
    padding-bottom: 14px;
    border-bottom: solid 1px #dddddd;
  }
  .social_panel.forMobile .btn_group {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
  }
  .social_panel.forMobile .btn {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    margin-bottom: 0px;
  }
  .social_panel.forMobile .btn.share_counter {
    padding: 0px;
    margin-right: 10px;
  }
  .social_panel.forMobile .count {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    left: 0px;
    letter-spacing: normal;
  }
  .social_panel.forMobile .number {
    margin: 0px 5px 0px 5px;
  }
  .social_panel.forPC, .article_nav.forPC {
    display: none;
  }
  .article_container .side_col {
    display: none;
  }
  .member_profile .side_col {
    display: block;
  }
  .article_container .main_content {
    width: 100%;
  }
  .breadcrumbs {
    padding-left: 13.5px;
  }
  .article_nav.forMobile {
    display: block;
    margin-bottom: 28px;
  }
  .article_nav.forMobile .article_link {
    display: block;
    width: 100%;
    background: #212121;
    color: white;
    padding: 15px;
    line-height: 24px;
    margin-top: 17px;
  }
  .article_nav.forMobile .ellipsis {
    height: 52px;
  }
  .article_nav.forMobile .article_link.prev {
    padding-left: 40px;
    position: relative;
  }
  .article_nav.forMobile .article_link.prev:before {
    content: '';
    width: 12px;
    height: 23px;
    background: url("../img/arrow_prev.png");
    position: absolute;
    left: 13.5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .article_nav.forMobile .article_link.next {
    padding-right: 40px;
    position: relative;
  }
  .article_nav.forMobile .article_link.next:before {
    content: '';
    width: 12px;
    height: 23px;
    background: url("../img/arrow_next.png");
    position: absolute;
    right: 13.5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media screen and (max-width: 900px) {
  ._reg form .row, ._forget form .row {
    -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  ._reg form p, ._reg form input[type="text"], ._reg form input[type="password"], ._reg form .account input[type="text"], ._forget form p, ._forget form input[type="text"], ._forget form input[type="password"], ._forget form .account input[type="text"] {
    width: 100%;
    max-width: none;
  }
  ._reg form .recaptcha, ._forget form .recaptcha {
    padding-left: 0px;
  }
  ._reg .fb_login_tip, ._forget .fb_login_tip {
    padding-left: 0px;
  }
  ._reg .column_set .ad_separation.forMobile, ._forget .column_set .ad_separation.forMobile {
    display: block;
  }
}
