@charset "UTF-8";
.ad_separation {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ad_separation.forPC {
  display: none;
}

.ad_separation.forMobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  padding: 30px;
}

.ad_separation_video .video_box {
  width: 100%;
  padding: 0px;
}

.footer .sitemap .col,
.footer .fb_block,
.slide_banner .arrow,
.sm_hide {
  display: none;
}

.footer {
  padding: 13.5px;
}

.footer .footer_top {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
          align-items: flex-end;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.footer .scrollTopBtn {
  width: auto;
  height: auto;
  line-height: normal;
  background: none;
  position: relative;
  opacity: 0.5;
}

.footer .scrollTopBtn:after {
  content: '︿';
  color: white;
  position: relative;
  margin-left: 5px;
  top: -4px;
  font-size: 18px;
  font-weight: 100;
  font-family: NotoSansLight;
  opacity: 0.5;
}

.footer .scrollTopBtn:hover {
  background: none;
}

.footer .subscribe {
  margin-top: 0px;
}

.slide_banner .item_group {
  overflow: hidden;
}

.slide_banner .thumb_nav, .slide_banner .thumb_nav_trigger, .slide_banner .arrow {
  display: none !important;
}

.slide_banner .dot_nav {
  bottom: 30px;
}

.slide_banner .intro_group {
  margin-top: -17px;
  padding: 18px;
}

.spot_light .item_group {
  margin-bottom: 0px;
}

.spot_light .item {
  max-width: 160px;
  margin-right: 13.5px;
}

.copy_right {
  padding: 15px;
  height: auto;
  display: block;
}

.copy_right .contact_btn {
  display: none;
}

.copy_right .container {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap-reverse;
          flex-wrap: wrap-reverse;
  opacity: 0.5;
  max-width: 300px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
}

.copy_right .social_btn {
  margin-bottom: 20px;
}

.content_block .item_group_wrapper {
  padding: 13.5px;
  padding-top: 0px;
}

.content_block .item {
  width: calc(50% - 6.75px);
  margin-top: 13.5px;
}

.content_block .item .video_box {
  padding-bottom: 100%;
}

.content_block .item .video_box .thumb {
  height: 100%;
  width: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.content_block .item .title a {
  color: #555555;
}

.content_block .ad_banner.forMobile {
  display: block;
  width: 100%;
}

.content_block .ad_banner.forMobile .ad_box {
  margin-bottom: 0px;
}

.content_block h2.block_tittle {
  height: 0px;
  padding-bottom: 33.33%;
}

.content_block h2.block_tittle .title {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.content_block h2.block_tittle .pic {
  height: 100%;
}

.inside_banner {
  height: 0px;
  padding-bottom: 33.33%;
}

.inside_banner .title {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 100%;
  text-align: center;
}

.inside_banner .pic {
  height: 100%;
}

.pages_tab.forPC {
  display: none;
}

.pages_tab.forMobile {
  display: inline-block;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: white;
  text-align: center;
  border-radius: 0px;
  border: none;
  border-bottom: 2px solid #dddddd;
  overflow: hidden;
  position: relative;
  color: #666666;
  -webkit-transition: all 0s;
  transition: all 0s;
  max-height: 57px;
}

.pages_tab.forMobile .btn {
  display: block;
  position: relative;
  top: 0px;
  margin: 0px;
  padding: 0px;
  border: none;
  -webkit-transition: all 0s;
  transition: all 0s;
  font-size: 21px;
  transition: all 0s;
  font-size: 17px;
  box-shadow: 0px 0px 0px;
}

.pages_tab.forMobile .btn_now {
  padding-left: 21px;
}

.pages_tab.forMobile .btn_now:after {
  content: '﹀';
  position: relative;
  display: inline-block;
  top: 4px;
  color: #666666;
  margin-left: 7px;
  font-size: 15px;
}

.pages_tab.forMobile .count {
  margin-left: 5px;
}

.pagesTabSlideDown.forMobile {
  height: auto;
  max-height: 400px;
}

.pagesTabSlideDown.forMobile .btn_now:after {
  content: '︿';
  top: -5px;
}

.pagesTabSlideDown.forMobile .btn {
  top: 0px !important;
}

.article_container .social_like_btn {
  margin-top: 14px;
  margin-left: 0px;
  width: 100%;
  text-align: left;
  padding-top: 14px;
  border-top: solid 1px #dddddd;
}

.article_container .tags_box {
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
}

.article_container .tags_box .tags {
  margin-bottom: 20px;
}

.article_container .tags_box .love_btn {
  width: 100%;
}

.article_container .location {
  text-align: left;
  padding-top: 0px;
  padding-bottom: 13.5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
          align-items: flex-end;
  border-bottom: none;
}

.article_container .location .btn.forMobile {
  display: block;
  width: 44px;
  height: 44px;
  background-color: #212121;
}

.article_container .location .btn.forMobile:active {
  background-color: #ee1c25;
}

.article_container .location .prevBtn {
  margin-left: auto;
  margin-right: 10px;
  background-image: url("../img/arrow_prev.png");
  background-repeat: no-repeat;
  background-position: 13.5px center;
}

.article_container .location .nextBtn {
  background-image: url("../img/arrow_next.png");
  background-repeat: no-repeat;
  background-position: 17px center;
}

.article_container .summary {
  margin-top: 20px;
  margin-bottom: 20px;
}

.article_container .profile .title {
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.article_container .comments_list .like_btn {
  width: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  margin-bottom: 7.5px;
  padding-left: 64px;
}

@media screen and (max-width: 350px) {
  .article_container .comments_list .like_btn, .article_container .comments_list .comment_n_reply {
    padding-left: 0px;
  }
  .article_container .comments_list .like_btn .reply_list, .article_container .comments_list .comment_n_reply .reply_list {
    padding-left: 30px;
  }
  .article_container .comments_list .like.btn {
    margin-left: 0px;
  }
}

.article_container .comments .filter.forPC {
  display: none;
}

.article_container .comments .filter.forMobile {
  display: block;
}

.article_container .comments .filter.forMobile select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #ee1c25;
  border: none;
  font-size: 16px;
  text-align: center;
  margin-right: 1px;
}

.article_container .comments .filter.forMobile:after {
  content: '﹀';
  position: relative;
  color: #ee1c25;
  font-size: 12px;
  top: 3px;
}

.article_photoset .thumb_nav {
  display: none;
}

.article_photoset .intro_group_box {
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid #dddddd;
}

.article_photoset .item_group {
  padding-bottom: 0px;
}

.article_photoset .item_group .item {
  width: 100%;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
  background: none;
}

.article_photoset .item_group .item img,
.article_photoset .item_group .item img.vertical,
.article_photoset .item_group .item img.horizontal {
  width: 100%;
  height: auto;
  position: relative;
  left: auto;
  -webkit-transform: none;
          transform: none;
}

.article_photoset .item_group .video_trigger img {
  width: 100%;
  position: absolute;
}

.article_photoset .intro_group {
  margin-bottom: 0px;
  width: calc(100% - 60px);
}

.article_photoset .intro_group li {
  padding: 0px;
  min-height: 44px;
}

.article_photoset .intro_group li p {
  line-height: 1.5em;
  color: #555555;
  text-align: justify;
}

.article_photoset .zoom_btn.forMobile {
  display: block;
  width: 44px;
  height: 44px;
  background: #212121;
  position: absolute;
  background-image: url("../img/mobile_nav_search_btn.png");
  background-repeat: no-repeat;
  background-size: 45% 45%;
  background-position: center center;
  right: 0px;
  top: 14.5px;
}

.article_photoset .zoom_btn.forMobile:active {
  background-color: #ee1c25;
}

.__contact .info_list li .name {
  margin-right: 17px;
  text-align: justify;
  -moz-text-align-last: justify;
       text-align-last: justify;
}

.__contact .info_list li .sub_title {
  font-size: 15px;
  width: 100%;
  max-width: 95px;
  margin-right: 15px;
  text-align: left;
  -moz-text-align-last: left;
       text-align-last: left;
}

@media screen and (max-width: 480px) {
  .__contact .info_list li .sub_title {
    display: block;
    font-size: 16px;
    width: auto;
    max-width: none;
  }
}
