h1.homeh1 {font-size:16px;}
//medium+ screen sizes
@media (min-width:450px) {
    .desktopDON {
        display:block !important;
    }
}
 
//small screen sizes
@media (max-width: 450px) {
    .mobileDON {
        display:block !important;
    }
 
    .desktopDON {
        display:none !important;
    }
}