.top-bar-section li.active:not(.has-form) a:not(.button), .top-bar-section > ul > li.active:not(.has-form) > a:hover:not(.button) {
	border-bottom:;
}

body, .accordion .content.active, .f-dropdown, .f-dropdown.content, fieldset legend, [data-magellan-expedition], div.switch, div.switch span:last-child, div.switch:hover span:last-child, div.switch:focus span:last-child, table, .tabs dd.active a, .commentlist .vcard img.avatar, .respond-form form input[type=text]:focus, .respond-form form input[type=email]:focus, .respond-form form input[type=url]:focus, .respond-form form textarea:focus  {
  ;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, .pricing-table .description, .pricing-table .bullet-item, .pricing-table .cta-button, dialog, .reveal-modal, .tabs.radius dd > a:focus, .tabs.radius dd > a:active, .tabs.radius dd.active a, .widget_tabs .tabs.radius dd.active a, .joyride-expose-wrapper, .breadcrumbs,
.meta-transparent-buttons a.button, .meta-transparent-buttons .button, .meta-transparent-buttons span.button
   {
  ;	
}


.top-bar-section li.active:not(.has-form) a:not(.button),
.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a,
.top-bar-section ul li.active > a,
header .top-nav .sub-nav li a:hover,
body .top-bar-section ul li:hover:not(.has-form) > a {
	color:  !important;
}  
button, .button,
.orbit-caption a.button {
	color: ;
}
body .widget_video_slider .orbit-caption a.button:hover {
	color: !important;
}
.widget_contact_info .social li a {
	color:;
}
.widget_contact_info .social li a:hover {
	;
}

.orbit-container .orbit-prev > span, .orbit-container .orbit-prev:hover > span, .preloader {
  border-right-color: ;
}
.orbit-container .orbit-next > span, .orbit-container .orbit-next:hover > span, .preloader {
  border-left-color: ;	
}
.progress, .th, .orbit-container .orbit-timer > span, .breadcrumbs {
  border-color: ;	
  }
.side-nav li.divider {
  border-top-color: ;
}

.more-social ul.more {
	border-color:;
	box-shadow:;
}
.tabs.radius dd.active a,
.tabs.radius dd.active a:focus, .tabs.radius dd.active a:active, .tabs.radius dd.active a:hover {
	;
	border-bottom-color:;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, .respond-form form input[type="text"], .respond-form form input[type="email"], .respond-form form input[type="url"], .respond-form form textarea {
	box-shadow:;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus, .respond-form form input[type="text"], .respond-form form input[type="email"], .respond-form form input[type="url"], .respond-form form textarea, .entry-content pre,

input[type="text"]:focus, input[type="text"]:active, input[type="password"]:focus, input[type="password"]:active, input[type="date"]:focus, input[type="date"]:active, input[type="datetime"]:focus, input[type="datetime"]:active, input[type="datetime-local"]:focus, input[type="datetime-local"]:active, input[type="month"]:focus, input[type="month"]:active, input[type="week"]:focus, input[type="week"]:active, input[type="email"]:focus, input[type="email"]:active, input[type="number"]:focus, input[type="number"]:active, input[type="search"]:focus, input[type="search"]:active, input[type="tel"]:focus, input[type="tel"]:active, input[type="time"]:focus, input[type="time"]:active, input[type="url"]:focus, input[type="url"]:active, textarea:focus, textarea:active, .respond-form form input[type="text"]:focus, .respond-form form input[type="text"]:active, .respond-form form input[type="email"]:focus, .respond-form form input[type="email"]:active, .respond-form form input[type="url"]:focus, .respond-form form input[type="url"]:active, .respond-form form textarea:focus, .respond-form form textarea:active {
	background:;
}
.top-bar .top-bar-section #searchform input[type="text"]:focus,
.top-bar .top-bar-section #searchform input[type="text"]:active,
.left-off-canvas-menu #searchform input[type="text"]:focus,
.left-off-canvas-menu #searchform input[type="text"]:active {
	;
}
.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a, .top-bar .toggle-topbar a, .top-bar .toggle-topbar.menu-icon a, .top-bar-section ul li > a, .top-bar-section ul li:hover > a, .top-bar-section ul li.active > a, .top-bar-section ul li.active > a:hover, .top-bar-section .dropdown li.title h5 a, .top-bar-section li.hover > a:not(.button), .top-bar-section li.active:not(.has-form) a:not(.button), .top-bar-section .dropdown li a, .no-js .top-bar-section ul li:hover > a, .no-js .top-bar-section ul li:active > a, .tab-bar, .tab-bar h1, .tab-bar h2, .tab-bar h3, .tab-bar h4, .tab-bar h5, .tab-bar h6, header .top-nav .sub-nav li a,
	.orbit-caption h2 a {
	color:;
}body, .accordion dd > a, .breadcrumbs > *.current, .breadcrumbs > *.current a, .keystroke, kbd , ul.pagination li, table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td, table tr th, table tr td , .tabs dd > a,  abbr, acronym, .comment-author cite, .comment_content p, .filter .custom-select select, #content .grid-list-btn .button-group li > button, #content .grid-list-btn .button-group li .button, .tabs.radius dd > a:focus, .tabs.radius dd > a:active, #content .grid-list-btn .button-group li > button, #content .grid-list-btn .button-group li .button,


ul.pagination li.current a, ul.pagination li.current a:hover, ul.pagination li.current a:focus, .progress .meter, .top-bar-section ul li > a.button, .top-bar-section ul li.active > a, .no-js .top-bar-section ul li:active > a, .top-bar-section li.active:not(.has-form) a:hover:not(.button),



#content .grid-list-btn .button-group li > button.active i, 
#content .grid-list-btn .button-group li .button.active i, 
#content .grid-list-btn .button-group li > button:hover i, 
#content .grid-list-btn .button-group li .button:hover i  {
  color: ;	
}

.transparent-btn a.button:hover,
.meta-transparent-buttons a.button:hover,
.top-bar-section li.active:not(.has-form) a:hover:not(.button),
.top-bar-section li:not(.has-form) a:hover:not(.button) { 
  background-color: ; 
}

.transparent-btn a.button:hover,
.meta-transparent-buttons a.button:hover {
  border-color: ; 
}
.meta-transparent-buttons li:first-child a.button:hover {
  border-left-color: ; 
}


#post-author, 
.meta-transparent-buttons a.button, 
.meta-transparent-buttons .button, 
.meta-transparent-buttons span.button,
.tabs.radius dd > a,
#content .grid-list-btn .button-group li > button, #content .grid-list-btn .button-group li .button,
.meta-transparent-buttons .disabled-btn
	 {
	 	background-color:rgba(0,0,0,0.03);
	 	color:;
	 }



.meta-transparent-buttons .disabled-btn ,
#content .grid-list-btn .button-group li > button.active, #content .grid-list-btn .button-group li .button.active,
#content .grid-list-btn .button-group li > button:hover, #content .grid-list-btn .button-group li .button:hover,
.tabs.radius dd > a:focus, .tabs.radius dd > a:active, .tabs.radius dd > a:hover
	{background-color:rgba(0,0,0,0.12);}

#post-author,
.meta-transparent-buttons a.button, 
.meta-transparent-buttons .button, 
.meta-transparent-buttons span.button,
.meta-transparent-buttons .disabled-btn {border-color:rgba(0,0,0,0.2);}

.tabs.radius dd a,
.tabs.radius dd > a:focus, .tabs.radius dd > a:active, .tabs.radius dd > a:hover,
.widget_tabs .tabs.radius dd a {
	border-left-color:rgba(0,0,0,0.2);
	border-top-color:rgba(0,0,0,0.2);
	border-right-color:rgba(0,0,0,0.2);
	background-color:rgba(0,0,0,0.1);
	box-shadow:;
	-webkit-box-shadow:;
	color:rgba(0,0,0,0.5);
}

.tabs.radius dd.active a,
.widget_tabs .tabs.radius dd.active a {
	border-left-color:rgba(0,0,0,0.5);
	border-top-color:rgba(0,0,0,0.5);
	border-right-color:rgba(0,0,0,0.5);
	box-shadow:;
	-webkit-box-shadow:;
	color:;
}

.widget_tabs .tabs-content {
	border-left-color:rgba(0,0,0,0.5);
	border-bottom-color:rgba(0,0,0,0.5);
	border-right-color:rgba(0,0,0,0.5);
}
.tabs.radius {
	border-bottom-color:rgba(0,0,0,0.5);
}


.meta-transparent-buttons li:first-child a.button, .meta-transparent-buttons li:first-child .button, .meta-transparent-buttons li:first-child span.button 
	{border-left-color:rgba(0,0,0,0.2);}



input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea,
#content .grid-list-btn .button-group li > button, #content .grid-list-btn .button-group li .button,
#content .grid-list-btn .button-group li > button:hover, #content .grid-list-btn .button-group li .button:hover,
#content .grid-list-btn .button-group li > button.active, #content .grid-list-btn .button-group li .button.active,
.respond-form form input[type="text"], .respond-form form input[type="email"], .respond-form form input[type="url"], .respond-form form textarea,
.entry-content pre,
.panel {
	border-color:rgba(0,0,0,0.5);
	color:;
	text-shadow:;
}
#content .grid-list-btn .button-group li > button.active i, #content .grid-list-btn .button-group li .button.active i,
#content .grid-list-btn .button-group li > button.active:hover i, #content .grid-list-btn .button-group li .button.active:hover i  {
	color:;	
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus,
.respond-form form input[type="text"], .respond-form form input[type="email"], .respond-form form input[type="url"], .respond-form form textarea,
.entry-content pre {
	background-color:rgba(0,0,0,0.02);
	border-color:rgba(0,0,0,0.5);
	box-shadow:;
}
input[type="text"]:focus, input[type="text"]:active, input[type="password"]:focus, input[type="password"]:active, input[type="date"]:focus, input[type="date"]:active, input[type="datetime"]:focus, input[type="datetime"]:active, input[type="datetime-local"]:focus, input[type="datetime-local"]:active, input[type="month"]:focus, input[type="month"]:active, input[type="week"]:focus, input[type="week"]:active, input[type="email"]:focus, input[type="email"]:active, input[type="number"]:focus, input[type="number"]:active, input[type="search"]:focus, input[type="search"]:active, input[type="tel"]:focus, input[type="tel"]:active, input[type="time"]:focus, input[type="time"]:active, input[type="url"]:focus, input[type="url"]:active, textarea:focus, textarea:active, .respond-form form input[type="text"]:focus, .respond-form form input[type="text"]:active, .respond-form form input[type="email"]:focus, .respond-form form input[type="email"]:active, .respond-form form input[type="url"]:focus, .respond-form form input[type="url"]:active, .respond-form form textarea:focus, .respond-form form textarea:active {
	border-color:rgba(0,0,0,0.5);
}

h2.title-border:before, .sidebar h3.widget-title:before, .footer h3.widget-title:before, .h2:before, .title-custom-border:before {
	background-color:rgba(0,0,0,0.5);
}
h2.title-border, .sidebar h3.widget-title, .footer h3.widget-title, .h2, .title-custom-border {
	border-color:rgba(0,0,0,0.2);
}
.footer-bottom .footer-meta {
	border-top-color:rgba(0,0,0,0.2);
}
hr,
fieldset {
	border-color:rgba(0,0,0,0.5);
}
.widget.widget_categories ul li {
	border-bottom-color:rgba(0,0,0,0.2);
	color:rgba(0,0,0,0.8);
}
.widget.widget_categories ul li, .byline {
	color:rgba(0,0,0,0.8);
}

.list .main-view,
.sidebar .widget .grid .main-view, 
.sidebar .widget .list .main-view,
.pricing-table .bullet-item,
.pricing-table .description {
	border-bottom-color:rgba(0,0,0,0.2);
}
blockquote {
	border-left-color:rgba(0,0,0,0.5);
}
ol.commentlist li.panel,
table tr.even, table tr.alt, table tr:nth-of-type(2n),
table,
.pricing-table,
.vcard {
	border-color:rgba(0,0,0,0.5);
}
.progress,
.accordion dd > a,
.tabs dd > a {
	background-color:rgba(0,0,0,0.5);
}
table tr.even, table tr.alt, table tr:nth-of-type(2n),
table thead, table tfoot {
	background-color:rgba(0,0,0,0.2);
}
footer.footer {
	background-color:rgba(0,0,0,0.02);
	border-top-color:rgba(0, 0, 0, 0.2);
	box-shadow:;
}
*::-moz-placeholder {
	color:rgba(0,0,0,0.5);
}


.top-bar-section li.active:not(.has-form) a:not(.button),
.sub-nav dt.active a, .sub-nav dd.active a, .sub-nav li.active a,
.top-bar-section ul li.active > a,
header .top-nav .sub-nav li a:hover,
button, .button, input[type="submit"],
.top-nav .sub-nav dt.active a, .top-nav .sub-nav dd.active a, .top-nav .sub-nav li.active a {
	background: ;
}

button:hover, button:focus, .button:hover, .button:focus, input[type="submit"]:hover, input[type="submit"]:focus {
	background:rgba(,0,0,0.8);
}

body .top-bar-section ul li:hover:not(.has-form) > a {
	background:  !important;
}
.alert-box , button.disabled, button[disabled], .button.disabled, .button[disabled], button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus, .label, ol.commentlist .comment-reply-link:hover, .view-img:hover .social-overlay,
.more-social ul.more {
  background-color: ;
}

.alert-box, .alert-box.success, .alert-box.alert, .alert-box.warning, button, .button, button:hover, button:focus, .button:hover, .button:focus, button.success, .button.success, button.success:hover, button.success:focus, .button.success:hover, .button.success:focus, button.alert, .button.alert, button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus, button.disabled, button[disabled], .button.disabled, .button[disabled], button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus, button.disabled.success, button[disabled].success, .button.disabled.success, .button[disabled].success, button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus, button.disabled.alert, button[disabled].alert, .button.disabled.alert, .button[disabled].alert, button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus, [data-abide] .error small.error, [data-abide] span.error, [data-abide] small.error, span.error, small.error, .error small.error, .joyride-tip-guide, .joyride-tip-guide h1, .joyride-tip-guide h2, .joyride-tip-guide h3, .joyride-tip-guide h4, .joyride-tip-guide h5, .joyride-tip-guide h6, .label, .label.alert, .label.success, .orbit-container .orbit-slides-container > * .orbit-caption, .orbit-container .orbit-slide-number, .orbit-container .orbit-prev, .orbit-container .orbit-next, ul.pagination li.current a,  .menu-icon, .commentlist .comment-reply-link:hover, .commentlist .comment-reply-link:focus, .tooltip, .top-bar .name h1 a,  #content a:hover, #content a:focus, #sidebar-offcanvas .widgettitle, .transparent-btn a.button:hover, .meta-transparent-buttons a.button:hover, ol.commentlist .comment-reply-link:hover, .video-length span, .view-img .social-overlay ul li a,  ul.pagination li a
   {
  color: ;	
}
.transparent-btn a.button:hover {
  border-color: ;
}
a, .more-social ul.more li a:hover, ol.commentlist .comment-reply-link, .view-img a .video-overlay i, .breadcrumbs > * a, .breadcrumbs > * span, button, .button,
.side-nav li a:not(.button),
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: ;  
}
.side-nav li.active > a:first-child:not(.button), .side-nav li a:hover:not(.button), .side-nav li a:focus:not(.button) {
	color:rgba(,0,0,0.8);
}

a:hover, a:focus,
body .tabs.radius dd > a:hover, .tabs.radius dd > a:focus {
	color: ;
}

.view-img:hover .social-overlay {
  border-left-color:;  
  border-right-color:;  
  border-bottom-color:;  
}
button, .button {
  border-bottom-color:;
}
.top-bar-section li.active:not(.has-form) a:not(.button),
.top-bar-section > ul > li.active:not(.has-form) > a:hover:not(.button) {
	border-bottom-color: ;
}
.clearing-blackout, .clearing-caption, .clearing-assembled .clearing-container .visible-img, .joyride-tip-guide, .tooltip, .contain-to-grid, .top-bar, .top-bar.expanded .title-area, .top-bar-section ul, .top-bar-section ul li > a, .top-bar, .top-bar.expanded, .top-bar-section li:not(.has-form) a:not(.button), .top-bar-section .dropdown li a, .top-bar-section .dropdown li label, .top-bar-section .has-form, .tab-bar, .left-off-canvas-menu, .right-off-canvas-menu {
  background: ;	
}
.pricing-table .title, header .top-nav {
  background-color: ;
}
.joyride-tip-guide .joyride-nub, .joyride-tip-guide .joyride-nub.top {
  	border-color: ;	
}
.joyride-tip-guide .joyride-nub.bottom {
  	border-color:  !important;	
}
.dropdown.button.secondary:before, button.dropdown.secondary:before, .split.button.secondary span:before, .tooltip.tip-top > .nub {
  	border-top-color: ;	
}
.orbit-container .orbit-timer.paused > span.dark, .tooltip > .nub {
  	border-bottom-color: ;	
}
.tooltip.tip-left > .nub {
	border-left-color: ;	
}

.tooltip.tip-right > .nub {
	border-right-color: ;
}
 .progress .meter, .top-bar-section ul li > a.button, .top-bar-section ul li.active > a, .no-js .top-bar-section ul li:active > a, .top-bar-section li.active:not(.has-form) a:hover:not(.button), ul.pagination li a {
	background-color: ;	
}
ul.pagination li.current a, ul.pagination li.current a:hover, ul.pagination li.current a:focus,
ul.pagination li:hover a, ul.pagination li a:focus {
	background-color: rgba(,0,0,0.8);
}
.top-bar {
	box-shadow:;
}
.orbit-bullets li {
	background:rgba(,0,0,0.5);
}
.orbit-bullets li.active {
	background:;
}h1, h2, h3, h4, h5, h6,
.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6 {
	 color: ;
}