html{
	height: 100%;
}
body{
	position: relative;
	width: 100%;
	min-width: 320px;
	min-height:100%;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	background: rgb(0,52,92);
	background: -moz-linear-gradient(left,  rgba(0,52,92,1) 0%, rgba(22,187,119,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(0,52,92,1) 0%,rgba(22,187,119,1) 100%);
	background: linear-gradient(to right,  rgba(0,52,92,1) 0%,rgba(22,187,119,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00345c', endColorstr='#16bb77',GradientType=1 );
}
header{
	position: relative;
	height: 75px;
	background: transparent;
	border-top: 1px solid transparent;
	vertical-align: middle;
	z-index: 2;
}

label {
	font-weight: 300;
}

.container {
	position: relative;
}
.logo {
	display: inline-block;
	margin-top: 11px;
	width: 232px;
	height: 51px;
	background: url(../images/index/logo_epn.png) no-repeat;
	background-size: 100%;
}
.flag {
	width: 16px;
	height: 11px;
	background: url(../images/flags.png) no-repeat;
	vertical-align: inherit;
	display: inline-block;
}
.flag.flag-ru,.flag.lang-ru {border: 1px solid rgba(0, 0, 0, 0.15); background-position: -16px 0}
.flag.flag-us,.flag.lang-en {background-position: 0 -11px}
.wr-btn-top {
	margin-top: 20px;
}

.wr-btn-top {
	text-align: right;	
}


.btn-login, .btn-signup-top {
	display: inline-block;
    padding: 3px 32px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background: transparent;
    border: 1px solid #fff;
    -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	height: 30px;
	color: #fff;
	margin-left: 10px;
	-webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
}
.btn-login:hover, .btn-login:focus{
	color: #fff;
	background: rgba(255,255,255,.2);
	text-decoration: none;
	-webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
}
.btn-signup-top:hover, .btn-signup-top:focus {
	background: rgba(255,255,255,.2);
	color: #fff;
	text-decoration: none;
	-webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
}
.block-main {
	position: relative;
	display: table;
	width: 100%;
	text-align: center;
	min-height: 340px;
	
}
.main-text {
	text-align: center;
	color: #fff;
	font-size: 44px;
	margin: 0 auto 10px;
	font-weight: 300;
}
.main-text p {
	margin: 25px 0 0;
}
.ad-block-warning{
	background: #F35383; 
	margin-top: -2px;
	line-height: 20px;
	font-size: 12px;
}
.ad-block-warning .container{
	text-align: center; 
	padding: 10px 40px;
}
.ad-block-warning .container p{
	margin: 0; 
	color: #FFFFFF;
	padding: 0 30px;
}
.ad-block-warning .container p a{
	color: #FFFFFF;
	text-decoration: underline;
}

.ad-block-warning .container .warning-ad-close{
	width: 14px; 
	height: 14px;  
	cursor: pointer; 
	position: absolute; 
	right: 20px; 
	top: 50%; 
	margin-top: -7px;
	color: white;
}
.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}
.animate-show.ng-hide {
  line-height: 0px;
  margin-top: -20px;
}
/***************ÃƒÂÃ‚Â¸ÃƒÂÃ‚ÂºÃƒÂÃ‚Â¾ÃƒÂÃ‚Â½ÃƒÂÃ‚ÂºÃƒÂÃ‚Â¸**************/
.sprite {
	display: inline-block;
	vertical-align: middle;
	background: url(../images/index/sprite_icons6.png) no-repeat;
}
.sprite-arrow-bottom {
	width: 22px;
	height: 13px;
	background-position: 0 0;
	margin: -3px 0px 0px 10px;
}

.sprite-arrow-right-blue, .sprite-arrow-left-blue {
	width: 17px;
	height: 41px;
	background-position: -66px 0;
}
.sprite-arrow-right-red, .sprite-arrow-left-red {
	width: 17px;
	height: 41px;
	background-position: -83px 0;
}
.sprite-arrow-left-red, .sprite-arrow-left-blue {
	-moz-transform: scale(1,-1);
	-webkit-transform: scale(1, -1);
	-o-transform: scale(1, -1);
	transform: scale(-1, 1);
}

.sprite-buyer-item3 {
	width: 68px;
	height: 122px;
	background-position: -100px 0;
}
.sprite-buyer-item5 {
	width: 122px;
	height: 50px;
	background-position: -168px 0;
}
.sprite-buyer-item2 {
	width: 108px;
	height: 122px;
	background-position: -290px 0;
}
.sprite-buyer-item6 {
	width: 128px;
	height: 111px;
	background-position: -2275px 0;
}

.sprite-buyer {
	width: 68px;
	height: 62px;
	background-position: -398px 0;
}
.sprite-buyer-item1 {
	width: 122px;
	height: 122px;
	background-position: -466px 0;
}
.sprite-buyer-item4 {
	width: 94px;
	height: 94px;
	background-position: -588px 0;
}
.sprite-logo-android {
	width: 55px;
	height: 64px;
	background-position: -682px 0;
}
.sprite-logo-chrome {
	width: 64px;
	height: 64px;
	background-position: -737px 0;
}
.sprite-logo-firefox {
	width: 64px;
	height: 61px;
	background-position: -801px 0;
}
.sprite-logo-ie {
	width: 64px;
	height: 62px;
	background-position: -865px 0;
}
.sprite-logo-opera {
	width: 57px;
	height: 64px;
	background-position: -929px 0;
}
.sprite-logo-safari {
	width: 61px;
	height: 64px;
	background-position: -986px 0;
}
.sprite-wm {
	width: 80px;
	height: 62px;
	background-position: -1047px 0;
}
.sprite-wm-item2 {
	width: 122px;
	height: 122px;
	background-position: -1127px 0;
}
.sprite-wm-item3 {
	width: 128px;
	height: 112px;
	background-position: -1249px 0;
}
.sprite-wm-item4 {
	width: 126px;
	height: 128px;
	background-position: -1377px 0;
}
.sprite-wm-item5 {
	width: 128px;
	height: 128px;
	background-position: -1503px 0;
}
.sprite-wm-item6 {
	width: 128px;
	height: 128px;
	background-position: -1631px 0;
}
.sprite-wm-item7 {
	width: 128px;
	height: 106px;
	background-position: -1759px 0;
}
.sprite-wm-item8 {
	width: 128px;
	height: 127px;
	background-position: -1888px 0;
}
.sprite-wm-item9 {
	width: 126px;
	height: 128px;
	background-position: -2018px 0;
}
.sprite-wm-item10 {
	width: 128px;
	height: 128px;
	background-position: -2145px 0;
}




/**************ÃƒÂÃ‚Â¸ÃƒÂÃ‚ÂºÃƒÂÃ‚Â¾ÃƒÂÃ‚Â½ÃƒÂÃ‚ÂºÃƒÂÃ‚Â¸ ÃƒÂÃ‚Â»ÃƒÂÃ‚Â¾ÃƒÂÃ‚Â³ÃƒÂÃ‚Â¾Ãƒâ€˜Ã¢â‚¬Å¡ÃƒÂÃ‚Â¸ÃƒÂÃ‚Â¿ÃƒÂÃ‚Â¾ÃƒÂÃ‚Â² ÃƒÂÃ‚Â¿ÃƒÂÃ‚Â°Ãƒâ€˜Ã¢â€šÂ¬Ãƒâ€˜Ã¢â‚¬Å¡ÃƒÂÃ‚Â½ÃƒÂÃ‚ÂµÃƒâ€˜Ã¢â€šÂ¬ÃƒÂÃ‚Â¾ÃƒÂÃ‚Â² ÃƒÂÃ‚Â¸ Ãƒâ€˜Ã¢â‚¬Å¡ÃƒÂÃ‚Â´**************/
.sprite-logo {
	background: url(../images/index/sprite_logos.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.sprite-alibaba {
	width: 208px;
	height: 31px;
	background-position: 0 0;
}
.sprite-aliexpress {
	width: 147px;
	height: 35px;
	background-position: -208px 0;
}
.sprite-asos {
	width: 90px;
	height: 33px;
	background-position: -355px 0;
}
.sprite-avito {
	width: 129px;
	height: 36px;
	background-position: -445px 0;
}
.sprite-banggood {
	width: 150px;
	height: 41px;
	background-position: -574px 0;
}
.sprite-gearbest {
	width: 92px;
	height: 40px;
	background-position: -2318px 0;
}
.sprite-beeline {
	width: 75px;
	height: 22px;
	background-position: -724px 0;
}
.sprite-epayments {
	width: 75px;
	height: 16px;
	background-position: -1318px -21px;
}
.sprite-googleplay {
	width: 152px;
	height: 46px;
	background-position: -799px 0;
}
.sprite-mail {
	width: 118px;
	height: 41px;
	background-position: -951px 0;
}
.sprite-mastercard {
	width: 54px;
	height: 42px;
	background-position: -1069px 0;
}
.sprite-megafon {
	width: 194px;
	height: 35px;
	background-position: -1123px 0;
}
.sprite-megafon-small {
	width: 111px;
	height: 20px;
	background-position: -1317px 0;
}
.sprite-mts {
	width: 70px;
	height: 25px;
	background-position: -1428px 0;
}
.sprite-ok {
	width: 149px;
	height: 32px;
	background-position: -1498px 0;
}
.sprite-ozon {
	width: 150px;
	height: 34px;
	background-position: -1647px 0;
}
.sprite-qiwi {
	width: 76px;
	height: 26px;
	background-position: -1797px 0;
}
.sprite-tele2 {
	width: 48px;
	height: 18px;
	background-position: -1873px 0;
}
.sprite-visa {
	width: 57px;
	height: 36px;
	background-position: -1921px 0;
}
.sprite-vk {
	width: 43px;
	height: 43px;
	background-position: -1978px 0;
}
.sprite-webmoney {
	width: 56px;
	height: 36px;
	background-position: -2021px 0;
}
.sprite-yad {
	width: 73px;
	height: 31px;
	background-position: -2077px 0;
}
.sprite-yandexstore {
	width: 141px;
	height: 46px;
	background-position: -2150px 0;
}
.sprite-yota {
	width: 27px;
	height: 59px;
	background-position: -2291px 0;
}

/*************************/

hr.separator-line {
	margin-top: 30px;
	border-top: 1px solid rgba(255,255,255,.4);
}

.bg-tab {
	background: #fff;
}
.wr-user-tab {
	text-align: center;
	color: #fff;
	margin-top: 50px;
	margin-bottom: 45px;
	border-top: 1px solid transparent;
}
.wr-user-tab.type-left {
	border-right: 1px solid rgba(255,255,255,.4);
}
.tab-text {
	margin: 50px 0;
	font-size: 24px;
	min-height: 145px;
}
.btn-tab {
	background: #075f65;
	border: 1px solid #fff;
	font-size: 22px;
	color: #fff;
	text-transform: uppercase;
	padding: 12px 20px;
	margin-bottom: 10px; 
	margin-top: 40px;
	-webkit-transition: all ease-out .5s;
	transition: all ease-out .5s;
}
.btn-tab:hover {
	color: #fff;
	background: #0a6f69;
}
.btn-tab.active {
	background: rgba(255,255,255,1);
	color: #075f64;
	-webkit-transition: all ease-out .5s;
	transition: all ease-out .5s;
}
.btn-tab.type-buyer {
	background: #0f906e;
}
.btn-tab.type-buyer:hover {
	background: #119e73;
}

.btn-tab.type-buyer.active {
	background: rgba(255,255,255,1);
	color: #18976e;
	-webkit-transition: all ease-out .5s;
	transition: all ease-out .5s;
}

.btn-tab.active .sprite-arrow-bottom {
	width: 22px;
	height: 13px;
	background-position: -22px 0;
}
.btn-tab.type-buyer.active .sprite-arrow-bottom{
	width: 22px;
	height: 13px;
	background-position: -44px 0;
}



.br-text, .br-text2 {
	display: block;
}
.wr-content-tabs {
	position: relative;
	min-height: 1px;
	border-top: 1px solid transparent;
	background: transparent;
	z-index: 4;
}

.wr-more-cb.wr-more-tab {
	margin: 0px;
}

.wr-more-cb.wr-more-tab a {
	color:#fff;
	font-size: 16px;
	text-decoration: underline;
}

.head-wm {
	margin: 48px auto 33px;
	text-align: center;
	color: #080b50;
	font-size: 30px;
}
.head-wm-text {
	text-align: center;
	color: #00243f;
	font-size: 30px;
	margin-bottom: 75px;
	letter-spacing: 1px;
} 
.text-wm {
	text-align: center;
	font-size: 18px;
	color: #080b50;
	margin-bottom: 30px;
}
.wr-text-tab-wm {
	font-size: 18px;
	color: #00243f;
}
.wr-text-tab-buyer {
	display: inline-block;
	font-size: 18px;
	line-height: 25px;
	vertical-align: middle;
	color: #03231f;
	width: 70%;
}
.wr-icon-tab-wm {
	display: inline-block;
	float: left;
	margin-left: 93px;
	margin-right: 40px;
	width: 130px;
	height: 160px;
	text-align: center;
	line-height: 160px;
}
.wr-icon-tab-wm > i {
	display: inline-block;
	vertical-align: middle;
}
.line-tab-wm {
	text-align: left;
	opacity: 0;
	margin-bottom: 50px;
	-webkit-transition: all ease .8s;
	transition: all ease .8s;
	-webkit-transform: translateY(50%);
		-ms-transform: translateY(50%);
			transform: translateY(50%);
}
.line-tab-wm.show {
	opacity: 1;
	-webkit-transition: all ease .8s;
	transition: all ease .8s;
	-webkit-transform: none;
        -ms-transform: none;
            transform: none;
}
.item-head {
	line-height: 40px;
	margin-bottom: 22px;
	text-transform: uppercase;
}
.item-head-buyer {
	margin-bottom: 15px;
	text-transform: uppercase;
}
.link-text-tab-wm, .link-text-tab-wm:hover {
	text-decoration: underline;
	color: #080b50;
}
.btn-signup, .btn-signup.type-buyer {
	display: inline-block;
	margin: 99px auto 120px;
    padding: 14px 30px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #082f50;
    -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: #082f50;
	color: #fff;
	text-transform: uppercase;
}
.btn-signup:hover {
	color: #fff;
	text-decoration: none;
	background: #08467a;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
}
.btn-signup:focus {
	color: #fff;
	text-decoration: none;
	background: #072640;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
}
.btn-signup.type-buyer {
	background: #007455;
	border: 1px solid #007455;
	margin: 20px auto 10px;
}
.btn-signup.type-buyer:hover {
	color: #fff;
	text-decoration: none;
	background: #008f69;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
}
.btn-signup.type-buyer:focus {
	color: #fff;
	text-decoration: none;
	background: #0a7468;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
}
.btn-signup.type-ref-program {
	margin: 20px auto 30px;
}
.wr-more-cb {
	text-align: center;
	line-height: 20px;
	margin: 30px auto 60px;
}
.wr-more-cb a {
	color: #007455;
	font-size: 18px;
}

.head-byuer {
	font-size: 24px;
	color: #080b50;
	text-align: center;
}
.wr-offers-block-buyer {
	text-align: center;
	margin-bottom: 50px;
}
.wr-logo-offer {
	display: inline-block;
	width: 20%;
	height: 130px;
	line-height: 70px;
	margin: 0 -4px 0 0;
	background: #fff;
	text-align: center;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.carousel-inner {
	min-height: 43px;
}
.carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li {
	border-color: #aa0f2b;
}
.carousel-indicators .active {
	border-color: transparent;
	background-color: #aa0f2b;
}
.line-tab-buyer {
	margin-bottom: 60px;
	line-height: 140px;
	opacity: 0;
	text-align: left;
	-webkit-transform: translateY(50%);
		-ms-transform: translateY(50%);
			transform: translateY(50%);
	-webkit-transition: all ease-out .8s;
	transition: all ease-out .8s;
}
.line-tab-buyer.show {
	opacity: 1;
	-webkit-transition: all ease .8s;
	transition: all ease .8s;
	-webkit-transform: none;
        -ms-transform: none;
            transform: none;
}
.wr-icon-tab-buyer {
	display: inline-block;
    float: left;
    margin-left: 93px;
    margin-right: 39px;
    width: 130px;
    height: 140px;
	text-align: center;
    line-height: 140px;
}
.block-wm-offers {
	margin: 30px 0 40px;
	color: #fff;
	text-align: center;
	border-top: 1px solid transparent;
}
.head-white{
	text-align: center;
	margin: 40px auto 30px;
	font-size: 24px;
	color: #fff;
}
.head-white.type-plugin {
	margin: 60px auto 30px;
}
.head-blue {
	color: #080b50;
	text-align: center;
	margin: 40px auto;
	font-size: 24px;
}
.head-green {
	color: #03231f;
	text-align: center;
	margin: 40px auto;
	font-size: 24px;
}
.head-blue.type-purse {
	margin: 75px auto 3px;
}
.wr-wm-offer {
	display: inline-block;
	width: 27%;
	height: 110px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	vertical-align: middle;
	line-height: 110px;
	margin: 0 -4px;
	text-decoration: none;
	color: #1c1c1c;
} 
.wr-wm-offer:hover, .wr-wm-offer:focus {
	text-decoration: none;
	color: #1c1c1c;
}
.wr-wm-offer:nth-child(1) {
	margin-left: 0;
}
.wr-wm-offer:nth-child(3) {
	margin-right: 0;
}
.text-descr-wm {
	margin: 0 auto;
	text-align: center;
	color: #080b50;
	font-size: 30px;
}
.wr-logo-wm-offer {
	display: inline-block;
	width: 150px;
	height: 40px;
	vertical-align: middle;
	line-height: 40px;
}
.wr-text-wm-offer, .wr-text-buyer-offer {
	display: inline-block;
	vertical-align: middle;
	line-height: 28px;
	margin-top: -4px;
	font-size: 14px;
}
.wr-text-buyer-offer {
	text-align: left;
	line-height: 20px;
}
.wr-text-wm-offer .percent, .wr-text-buyer-offer .percent {
	color: #aa0f2b;
	font-size: 30px;
	letter-spacing: -3px;
}
.wr-wm-offer > .sprite-arrow-right-blue{
	margin-bottom: 10px;
	margin-left: 2px;
}

.block-news {
	position: relative;
	background: transparent;
	color: #fff;
	text-align: center;
	min-height: 300px;
	z-index: 10;
	padding-bottom: 20px;
}
.block-news.active_wm {
	background: rgba(0,52,92,.5);
}
.block-news.active_buyer {
	background: rgba(0,116,85,.5);
}
.wr-column-news {
	text-align: center;
}
.column-news {
	text-align: left;
	display: inline-block;
	width: 30%;
	margin-right: 1%;
	vertical-align: top;
}
.news-date {
	display: inline-block;
	width: 100%;
	font-size: 14px;
}
.news-name {
	display: inline-block;
	width: 100%;
	font-size: 20px;
	color: #fff;
}

.news-more {
	display: inline-block;
	width: 100%;
	font-size: 16px;
	color: #fff;
}
.news-more:hover, .news-more:focus {
	color: #fff;
}

.btn-all-news {
	display: block;
	width: 280px;
	height: 60px;
    padding: 11px 32px;
    margin: 30px auto;
    font-size: 24px;
	color: #fff;
	background: transparent;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #fff;
    -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: all ease-out .3s;
	transition: all ease-out .3s;
}
.btn-all-news:hover, .btn-all-news:focus {
	color: #fff;
	text-decoration: none;
	background: rgba(255,255,255,.2);
	-webkit-transition: all ease-out .3s;
	transition: all ease-out .3s;
}
.wr-plugins, .wr-apps {
	text-align: center;
	margin: 68px 0 0;
	border-top: 1px solid transparent;
}
.wr-plugins span {
	margin: 0 18px;
}
.wr-apps {
	margin: 74px 0 0;
}
.wr-apps span {
	margin: 0;
	margin-right: 20px;
}
.wr-icon-logo {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	margin: 0;
}
.wr-purses {
	text-align: center;
}
.wr-purses > .sprite-logo {
	margin: 10px 7px 18px;
}
.wr-footer-logo {
	width: 80px;
	height: 40px;
	display: inline-block;
	margin: 2px 0;
	text-align: center;
	line-height: 40px;
	margin-right: -4px;
}
.wr-carousel-buyer .carousel-control.right, .wr-carousel-buyer .carousel-control.left{
	margin-top: 35px;
}

.bgContainer {
	position: fixed;
	overflow: hidden;
	width: 100%;
	min-height: 420px;
	z-index: -100;
	height: 100%;
}
.bg-image {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	background: url(/assets/images/index/background_lg.png) no-repeat center/cover;
}
.canvasContainer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.canvas-background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -100;
	transition: opacity 1s ease-in-out;
	opacity: 0;
}
.canvas-background.active {
	opacity: 1;
}
.canvasContainer .middle-background {
	background: -moz-linear-gradient(left, rgba(1,50,88,1) 0%, rgba(22,187,118,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(1,50,88,1)), color-stop(100%, rgba(22,187,118,1)));
	background: -webkit-linear-gradient(left, rgba(1,50,88,1) 0%, rgba(22,187,118,1) 100%);
	background: -o-linear-gradient(left, rgba(1,50,88,1) 0%, rgba(22,187,118,1) 100%);
	background: -ms-linear-gradient(left, rgba(1,50,88,1) 0%, rgba(22,187,118,1) 100%);
	background: linear-gradient(to right, rgba(1,50,88,1) 0%, rgba(22,187,118,1) 100%);
}
.canvasContainer .right-background {
	background: rgba(0,116,85,1);
}
.canvasContainer .left-background {
	background: rgba(1,50,88,1);
}
.wr-content-main {
	display: table-cell;
    vertical-align: middle;

}
.link-unsubscribe {
	color: #fff;
	text-decoration: none;
	font-size: 13px;
}
.link-unsubscribe:hover, .link-unsubscribe:focus {
	color: #fff;
	text-decoration: underline;
}

/**********ÃƒÂÃ‚ÂºÃƒÂÃ‚Â¾ÃƒÂÃ‚Â¿ÃƒÂÃ‚Â¸Ãƒâ€˜Ã‚Â ÃƒÂÃ‚Â±ÃƒÂÃ‚Â»ÃƒÂÃ‚Â¾ÃƒÂÃ‚ÂºÃƒÂÃ‚Â¾ÃƒÂÃ‚Â² ÃƒÂÃ‚Â¸ÃƒÂÃ‚Â· ali.epn.bz*********/
.block-tools {
	background: #fff;
}
.block-simple {
	position: relative;
	background: rgba(8,47,80,.5);
	background-position: center;
	background-size: 100%;
	min-height: 660px;
	padding-bottom: 40px;
	text-align: center;
}
.head-block-simple {
	position: relative;
	font-size: 32px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 60px;
	color: #fff;
}
.wr-columns-step {
	margin: 70px 0;
	text-align: center;
}
.column-step {
	position: relative;
	min-width: 160px;
	display: inline-block;
	margin-left: 40px;
	margin-bottom: 30px;
	text-align: left;
	-webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
}
.column-step:hover {
	-webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
}
.column-step:first-child {
	margin-left: 50px;
}
.column-step::after {
	content: '';
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 80px;
	height: 1px;
	background: #fff;
	-webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
}
.column-step .number {
	font-size: 150px;
	color: #fff;
	opacity: .6;
	cursor: default;
	-webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
}
.column-step:hover .number{
	opacity: 1;
}
.column-step:hover::after{
	content: '';
	width: 100%;
	-webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
}
.text-step {
	display: block;
	margin-bottom: 20px;
	color: #fff;
	font-size: 18px;
}
.head-tools {
    position: relative;
	margin-top: 40px;
	margin-bottom: 20px;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #082f50;
}
.line-tool {
	display: block;
	min-height: 190px;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 30px;
	
}
.line-tool.type2 {
	margin-bottom: 20px;
}
.wr-icon-tool {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 60px;
	margin: 10px auto;
	vertical-align: middle;
}




.wr-text-tool {
	display: inline-block;
	vertical-align: top;
}
.head-text-tool {
	text-transform: uppercase;
	display: inline-block;
	font-size: 16px;
	margin-bottom: 7px;
}

.btn-join {
	display: inline-block;
	margin: 5px auto 30px;
	/* background: rgba(255,255,255,.8); */
	color: #ffffff;
	font-size: 16px;
	-webkit-transition: all linear .5s;
	transition: all linear .5s;
	text-transform: uppercase;
	font-size: 24px;
	padding: 14px 30px;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	border-color: white;
}
.btn-join:hover, .btn-join:focus {
	background: rgba(255,255,255,.2);
	color: #ffffff;
	-webkit-transition: all linear .5s;
	transition: all linear .5s;
}


.head-block-profit {
	position: relative;
	font-size: 32px;
	text-align: center;
	text-transform: uppercase; 
	margin-top: 60px;
	margin-bottom: 30px;
}
.text-head-profit {
	text-align: center;
	position: relative;
	font-size: 17px;
}
.text-head-profit::after {
	content: '';
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -25px;
	width: 50px;
	height: 1px;
	background: #4379a7;
}

.sprite-aliepn {
	background: url(../images/index/sprite_aliepn.png) no-repeat;
	display: inline-block;
}
.sprite-api {
	width: 60px;
	height: 60px;
	background-position: 0 0;
}
.sprite-cms {
	width: 60px;
	height: 60px;
	background-position: -60px 0;
}
.sprite-promo {
	width: 60px;
	height: 60px;
	background-position: -120px 0;
}
.sprite-reduce {
	width: 60px;
	height: 60px;
	background-position: -180px 0;
}
.sprite-smart-banner {
	width: 60px;
	height: 60px;
	background-position: -240px 0;
}
.sprite-sourcetech {
	width: 60px;
	height: 60px;
	background-position: -300px 0;
}
.sprite-stats {
	width: 60px;
	height: 60px;
	background-position: -360px 0;
}
.sprite-tracking {
	width: 60px;
	height: 60px;
	background-position: -420px 0;
}
.wr-carousel-tools {
	margin: 50px 0 80px;
}


.wr-carousel-tools .carousel-control.left span, .wr-carousel-tools .carousel-control.right span {
	display: none;
}
.wr-carousel-tools .carousel-control.right, .wr-carousel-tools .carousel-control.left {
	display: inline-block;
	vertical-align: middle;
	background: url(../images/index/sprite_icons6.png) no-repeat;
	width: 17px;
	height: 41px;
	margin-top: 70px;
	background-position: -66px 0;
	cursor: pointer;
	filter: none;
} 
.wr-carousel-tools .carousel-control.left {
	background-position: -83px -42px;
}

.wr-carousel-tools .carousel-indicators li {
	border-color: #082f50;
}
.wr-carousel-tools .carousel-indicators .active {
	border-color: transparent;
	background: #082f50;
}

.block-bfts {
	background-color: rgba(255, 255, 255, 0.7);
}

.head-bfts {
	font-size: 24px;
	color: #00243f;
	margin: 40px auto 80px;
	text-transform: uppercase;
	text-align: center;
}
.block-referral-program {
	background-color: rgba(255, 255, 255, 0.7);
	padding: 60px 0;
}

/********************************/



.footer{
	width: 100%;
	background: #fff;
	padding: 25px 0;
	color: #333;
}
.footer-head {
	text-transform: uppercase;
}
#vk_groups {
    margin-top: 6px;
}
.telegram-channels-head {
	margin: 25px 0 0;
}
.footer-telegram-wr {
    margin-top: 18px;
    display: block;
}
.footer-telegram-logo {
    width: 20px;
}
.footer-telegram-logo:hover {
    text-decoration: none;
}
.wr-partners .sprite-logo {
	background-size: 1807px 45px;
}
.wr-partners .wr-icon-logo{
	height: 25px;
	line-height: 25px;
	margin: 10px 0;
	margin-right: 10px;
	width: 100px;
	text-align: center;
}
.wr-partners .sprite-alibaba {
	width: 100px;
    height: 16px;
    background-size: 1158px 29px;
}
.wr-partners .sprite-aliexpress {
	background-position: -156px 0;
	width: 109px;
	height: 27px;
}
.wr-partners .sprite-asos {
	background-position: -266px 0;
	width: 68px;
	height: 25px;
}
.wr-partners .sprite-ozon {
	background-position: -1236px 0;
	width: 111px;
	height: 27px;
}
.wr-partners .sprite-avito {
	background-position: -334px 0;
	width: 96px;
	height: 27px;
}
.wr-partners .sprite-mail {
	background-position: -713px 0;
	width: 88px;
	height: 31px;
}
.wr-partners .sprite-vk {
	background-position: -1483px 0;
	width: 31px;
	height: 32px;
}
.wr-partners .sprite-ok {
	background-position: -1122px 0;
	width: 113px;
	height: 24px;
}
.wr-partners .sprite-gearbest {
	width: 69px;
	height: 30px;
	background-position: -1738px 0;
}
.wr-partners .sprite-banggood {
	width: 112px;
	height: 31px;
	background-position: -431px 0;
}

.tab-wm, .tab-buyer {
	position: relative;
	display: block;
	height: 0;
	visibility: hidden;
	opacity: 0;
	overflow: hidden;
	-webkit-transition: opacity ease-out .5s;
	transition: opacity ease-out .5s;
}
.tab-wm.active, .tab-buyer.active{
	display: block;
	margin-top: 40px;
	height: auto;
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity ease-out .5s;
	transition: opacity ease-out .5s;	
}

.btn-signup-main {
	display: block;
	margin: 99px auto 120px;
    padding: 14px 30px;
	width: 350px;
	height: 60px;
    font-size: 24px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #fff;
    -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: rgba(255,255,255,.1);
	color: #fff;
	text-transform: uppercase;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
}
.btn-signup-main:hover, .btn-signup-main:focus {
	background: rgba(255,255,255,.3);
	color: #fff;
	text-decoration: none;
	-webkit-transition: all ease .3s;
	transition: all ease .3s;
}
/***********правки вебмастера**************/
.wr-text-slide-conditions {
	display: inline-block;
	width: 620px;
	text-align: left;
	color: #00243f;
	vertical-align: top;
}
.epayments-card {
	display: inline-block;
	margin-right: 30px;
	margin-top: 10px;
	width: 236px;
	height: 148px;
	background: url(../images/index/epayments-card.png) no-repeat;
	background-size: 100%;
	vertical-align: top;
	-webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
}
.epayments-card:hover {
	width: 250px;
	height: 158px;
	margin-left: -10px;
	margin-top: 4px;
	margin-right: 26px;
}
.wr-list-slide3 {
	text-align: left;
	display: inline-block;
	width: 670px;
	vertical-align: top;
	color: #00243f;
}
.wr-list-slide3 a {
	color: #00243f;
	text-decoration: underline;
}
.head-card {
	text-transform: uppercase;
	font-size: 18px;
}
.wr-slide-payments {
	min-height: 280px;
	border-top: 1px solid transparent;
	text-align: center;
	vertical-align: middle;
}
.wr-icon-tab-wm-slide {
	display: inline-block;
    width: 130px;
    height: 160px;
    text-align: center;
    line-height: 160px;
	margin-right: 30px;
}
.wr-icon-tab-wm-slide .sprite-wm-item6, .wr-icon-tab-wm-slide .sprite-wm-item10 {
	vertical-align: top;
}
.item-head-conditions {
	line-height: 20px;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.list-slide {
	padding-left: 20px;
}
.list-slide li {
	list-style-type: none;
}
.list-slide li i{
	display: inline-block;
	width: 7px;
	height: 7px;
	background: #00243f;
	margin-bottom: 2px;
	margin-right: 6px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}
.head-ref {
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
}
.text-ref {
	display: inline-block;
	width: 70%;
	font-size: 18px;
	vertical-align: middle;
	margin-top: 45px;
}
.text-ref a {
	color: #00243f;
	text-decoration: underline;
}
.wrap-slide {
	margin-top: 30px;
}
.text-green {
	text-align: center;
	font-size: 18px;
	margin-bottom: 20px;

}
/*************************/
.wr-login-popup {
	position: relative;
}
.login-popup {
	position: absolute;
	display: none;
	right: 0;
	top: 50px;
	height: auto;
	width: 300px;
	max-width: 100%;
	background: #fff;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	z-index: 100;
	border: 1px solid #ccc;
}

.login-form {
	border: 1px solid transparent;
	padding: 10px 0;
}
.login-form .wr-line {
	margin-top: 10px;
	margin: 20px;
}

.btn-popup-login {
	color: #fff;
	border: 1px solid transparent;
	background: #0f906e;
}
.btn-popup-login:hover, .btn-popup-login:focus {
	color: #fff;
	background: #0f906e;
}

.signup-popup {
	position: absolute;
	display: none;
	right: 0;
	top: 50px;
	height: auto;
	width: 300px;
	max-width: 100%;
	background: #fff;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	z-index: 100;
	border: 1px solid #ccc;
}
.signup-form {
	text-align: center;
	border: 1px solid transparent;
	padding: 10px 0;
}
.btn-popup-signup {
	display: inline-block;
	color: #08467a;
	margin: 0 5px;
	font-size: 15px;
	padding: 0 2px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.btn-popup-signup.type-wm {
	border-right: 1px solid #aaa;
	padding-right: 15px;
}
.btn-popup-signup:hover, .btn-popup-signup:focus {
	text-decoration: underline;
}







@media screen and (max-height: 700px) {
	.tab-text {margin: 30px auto 0;}
	.main-text {font-size: 41px;}
	.main-text p {margin: 15px 0 0;}
}
@media screen and (max-height: 600px) {
	.btn-tab {margin: 5px auto 0px; font-size: 22px; padding: 7px 20px;}
	.wr-user-tab {margin: 20px 0 10px;}
	.tab-text {margin: 20px 0; font-size: 18px;}
	.main-text {font-size: 36px;}
	.main-text p { margin: 10px 0 0;}
	.tab-text {min-height: 80px;}
}
@media screen and (max-height: 540px) {
	.wr-user-tab, .main-text {margin-top: 0;}
	.tab-text {margin: 10px 0;}
	.main-text {font-size: 30px;}
}
@media screen and (max-height: 460px) {
	.sprite-wm, .sprite-buyer {margin-top: 0;}
	.main-text {font-size: 28px;}
	.main-text p {margin: 5px 0;}
}


@media screen and (max-width: 1400px) {
	.tab-text {font-size: 18px;}
	.btn-tab {font-size: 18px;}
	.main-text p {font-size: 26px;}
	.head-wm-text {font-size: 24px; margin-bottom: 50px;}
	.head-wm, .text-descr-wm {font-size: 24px;}
	.head-wm .br-text, .text-descr-wm .br-text { display: none;}
	.tab-text {min-height: 105px;}
}

@media screen and (max-width: 1200px) {
	.wr-icon-logo {margin: 0 20px;}
	.wr-icon-tab-wm {margin-left: 50px;}
	.line-tool {min-height: 205px;}
	.tab-text {font-size: 18px;} 
	.wr-list-slide3 {width: 580px;}
	.list-slide li {font-size: 15px;}
	.wr-slide-payments {min-height: 300px;}
	.text-ref {max-width: 600px;}
	.wr-wm-offer {width: 45%;}
	.wr-partners .wr-icon-logo {margin-right: 0;}
}
@media screen and (max-width: 992px) {
	.btn-tab {font-size: 16px;}
	.br-text {display: none;}
	.tab-text {margin-bottom: 20px;}
	.wr-icon-tab-wm {margin-left: 0;margin-right: 20px;}
	.head-wm-text {margin-bottom: 30px;}
	.line-tab-wm {margin-bottom: 40px;}
	.wr-text-tab-wm {font-size: 17px;}
	.wr-icon-tab-buyer {margin-left: 0; margin-right: 20px;}
	.btn-signup, .btn-signup.type-buyer {margin: 40px auto 65px;}
	.footer {font-size: 14px;}
	.line-tab-buyer {margin-bottom: 30px;}
	.wr-text-tab-buyer {font-size: 20px;}
	.wr-footer-logo {margin: 2px 0; margin-right: 5px;}
	.wr-logo-offer {width: 112px; height: 95px; line-height: 50px; margin: 0 0 20px;}
	.sprite-aliexpress, .sprite-asos, .sprite-ozon, .sprite-banggood, .sprite-gearbest {background-size: 1606px 40px;}
	.sprite-aliexpress {width: 97px; height: 25px; background-position: -139px 0;}
	.sprite-asos {width: 59px; height: 23px; background-position: -237px 0;}
	.sprite-ozon {width: 99px; height: 24px; background-position: -1098px 0;}
	.sprite-banggood {width: 99px; height: 28px; background-position: -383px 0;}
	.sprite-gearbest {width: 61px; height: 26px; background-position: -1545px 0;}
	.wr-partners, .wr-purses {margin-top: 15px; padding-bottom: 10px; border-bottom: 1px solid #ccc; text-align: center;}
	.wr-partners .wr-icon-logo {margin: 6px;}
	.wr-purses-footer {text-align: center;}
	.wr-wm-offer {margin: 0 5px;}
	.wr-text-slide-conditions {width: 60%;}
	.text-ref {max-width: 530px;}
	.wr-list-slide3 {width: 350px;}
	.list-slide {display: none;}
	.wrap-slide {margin-top: 0;}
	.wr-slide-payments {min-height: 200px;}
	.wr-carousel-conditions .carousel-control.right, .wr-carousel-conditions .carousel-control.left{margin-top: 50px;}
	.wr-icon-tab-wm-slide .sprite-wm-item6, .wr-icon-tab-wm-slide .sprite-wm-item10 {vertical-align: middle;}
	.wr-partners .sprite-logo {
		background-size: 1807px 45px;
	}
	.wr-partners .wr-icon-logo{
		height: 25px;
		line-height: 25px;
		margin: 10px 0;
		margin-right: 10px;
		width: 100px;
		text-align: center;
	}
	.wr-partners .sprite-alibaba {
		width: 100px;
		height: 16px;
		background-size: 1158px 29px;
	}
	.wr-partners .sprite-aliexpress {
		background-position: -156px 0;
		width: 109px;
		height: 27px;
	}
	.wr-partners .sprite-asos {
		background-position: -265px 0;
		width: 69px;
		height: 25px;
	}
	.wr-partners .sprite-ozon {
		background-position: -1236px 0;
		width: 111px;
		height: 27px;
	}
	.wr-partners .sprite-avito {
		background-position: -334px 0;
		width: 96px;
		height: 27px;
	}
	.wr-partners .sprite-mail {
		background-position: -713px 0;
		width: 88px;
		height: 31px;
	}
	.wr-partners .sprite-vk {
		background-position: -1483px 0;
		width: 31px;
		height: 32px;
	}
	.wr-partners .sprite-ok {
		background-position: -1122px 0;
		width: 113px;
		height: 24px;
	}
	.wr-partners .sprite-gearbest {
		width: 69px;
		height: 30px;
		background-position: -1738px 0;
	}
	.wr-partners .sprite-banggood {
		width: 112px;
		height: 31px;
		background-position: -430px 0;
	}
}

@media screen and (max-width: 768px) {
	body {background: url(../images/index/bg_mini.jpg) repeat; background-color: #008f69; background-attachment: fixed; background-size: 100%; background-position: center;}
	.bg-image { background-image: url(/assets/images/index/background_sm.png); }
	.block-news {background: transparent;}
	.btn-tab {display: block; white-space: normal; font-size: 15px; background: rgba(255,255,255,.2);}
	.btn-tab.type-buyer {background: rgba(255,255,255,.2);}
	.btn-login, .btn-signup-top {margin-bottom: 10px; padding: 3px 15px;}
	.btn-signup-main { width: 280px; font-size: 17px; height: 50px; padding: 15px 5px;}
	.btn-join {font-size: 20px;}
	.tab-text {font-size: 15px;}
	.wr-user-tab {margin-top: 30px;}
	.line-tab-wm {margin-bottom: 30px;}
	.item-head {margin-bottom: 10px;}
	.wr-purses-footer {text-align: center; margin-top: 20px;}
	.wr-footer-logo {margin: 2px 0; margin-right: 7px; width: 70px;}
	.wr-icon-logo {margin: 0 55px;}
	.column-news {width: 100%; margin-bottom: 20px;}
	.head-wm {font-size: 28px;}
	.text-descr-wm {font-size: 24px;}
	.wr-text-tab-buyer {font-size: 18px;}
	.wr-wm-offer {height: 80px; width: 235px; line-height: 80px; margin: 10px 0 0;}
	.wr-icon-tab-wm {height: 190px; line-height: 190px;}
	.wr-text-slide-conditions {width: 100%;}
	.item-head-conditions {text-align: center;}
	.block-bfts .wr-icon-tab-wm-slide {margin: 0;}
	.head-card {display: block; margin-top: 10px; text-align: center; font-size: 16px;}
	.epayments-card {margin: 0;}	
	.epayments-card:hover {display: inline-block; margin: 0; width: 236px; height: 148px;}
	
	.wr-carousel-buyer .carousel-control.right, .wr-carousel-buyer .carousel-control.left {margin-top: 20px;}
	
	.column-step {margin-left: 10px;}
	.head-tools{font-size: 28px;}
	.head-block-simple {font-size: 25px;}
	.main-text p {font-size: 20px;}
	.wr-logo-wm-offer {width: 120px;}
	.wr-text-wm-offer .percent, .wr-text-buyer-offer .percent {font-size: 25px;}
	.block-referral-program .wr-icon-tab-wm {float: none; display: block; margin: 0 auto;}
	.wr-list-slide3 {width: 100%;}
	.wr-slide-payments {min-height: 280px;}
	.text-ref {max-width: 100%; width: 100%; margin-top: 10px; text-align: center;}	
	.login-popup::before, .signup-popup::before {display: none; }
	.wr-user-tab.type-left {border: none;}
	
	.wr-btn-top, .wr-logo-top {text-align: center;}
	header {height: 140px;}
	.wr-content-main {display: block;margin-top: 20px;}
	
}

@media screen and (max-width: 600px) {
	.wr-icon-logo {margin: 0 60px;}
	.wr-icon-tab-wm, .wr-icon-tab-buyer {display: block; float: none; margin: 0 auto 10px;}
	.line-tab-buyer {margin-bottom: 10px;}
	.wr-text-tab-wm {display: block; text-align: center; font-size: 16px;}
	.wr-text-tab-buyer {display: block; width: 100%; text-align: center; font-size: 16px;}
	.wr-plugins span {margin: 10px;}
	.tab-text {display: none;}
	.btn-tab {padding: 10px 5px; font-size: 12px;}
	.main-text {font-size: 34px;}
	.logo {display: block; margin: 10px auto 0;}
	.head-wm {font-size: 22px;}
	.text-descr-wm {font-size: 18px;}
	.head-wm-text {font-size: 22px;}
	.item-head {line-height: normal;}
	.btn-signup, .btn-signup.type-buyer {font-size: 20px; width: 270px; padding: 15px 20px;}
	.wr-user-tab {margin-top: 10px;}
	.wr-plugins, .wr-apps {margin-top: 30px;}
	.head-white.type-plugin {margin-top: 45px;}
	.head-green {font-size: 20px;}
	.wr-carousel-buyer .carousel-control.right, .wr-carousel-buyer .carousel-control.left {margin-top: 65px;}
	.hidden-xxs {display: none;}
	.head-tools {font-size: 22px;}
	.btn-all-news {width: 230px;}
	.wr-columns-step {text-align: left; margin: 40px auto 30px;}
	.column-step .number {font-size: 90px; line-height: 90px;}
	.text-step {display: inline-block;}
	.column-step, .column-step:first-child {margin-left: 0;}
	.column-step {min-width: 80px;}
	.line-tool {min-height: 155px;}
	.btn-br {display: block;}
	.text-wm {font-size: 14px;}
	.text-green {font-size: 14px;}
	.head-ref {font-size: 22px;}
	.wr-list-slide3 {text-align: center;}
	
}
@media screen and (max-width: 460px) {
	.footer, .footerempty {font-size: 12px;}
	.wr-slide-payments {min-height: 280px;}
	.head-bfts {font-size: 20px; margin: 30px 0;}
}
@media screen and (max-width: 400px) {
	.main-text {font-size: 28px;}
	.main-text p {font-size: 18px;}
	.wr-content-main {margin-top: 10px;}
	.wr-content-main .col-xs-6 {padding: 0 2px;}
	.wr-wm-offer {width: 260px; margin: 0;}
	.wr-list-slide3 {width: 280px;}
	.wr-slide-payments {min-height: 300px;}
	.footer-head {font-size: 10px;}
}
@media screen and (min-width: 1200px) {
	.col-lg-offset-05 {
		margin-left: 4.166666%;
	}
}
