@charset "utf-8";
.vote2016_quicklink {
	margin: 15px 0;
	width: 668px;
}
.vote2016_quicklink h1 {
	margin-bottom: 15px;
	font: 32px/1 "Microsoft YaHei", "Verdana", "Arial", "PMingLiU", "sans-serif"
}
.vote2016_quicklink li {
	float: left;
	width: 25%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative;
}
.vote2016_quicklink li a {
	width: 100%;
	height: 130px;
	padding: 12px 8px;
	background-color: #ccc;
	display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font: 32px/1 "Microsoft YaHei", "Verdana", "Arial", "PMingLiU", "sans-serif";
	box-shadow: 0 0 17px 0 #666 inset;
	text-align: center;
	color: #fff;
	z-index: 10;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	-o-border-radius: 11px;
	-ms-border-radius: 11px;
	border-radius: 11px;
	behavior: url(/Scripts/PIE.htc);
}
.vote2016_quicklink li:nth-child(1) a {
	box-shadow: 0 0 8px 1px #1d6d47 inset;
	background: #38cb85 url(/images/vote_icon.png) no-repeat scroll 0px 0px;
}
.vote2016_quicklink li:nth-child(2) a {
	box-shadow: 0 0 8px 1px #816a23 inset;
	background: #fdbe00 url(/images/vote_icon.png) no-repeat scroll 0px -130px;
}
.vote2016_quicklink li:nth-child(3) a {
	box-shadow: 0 0 8px 1px #184184 inset;
	background: #2274fb url(/images/vote_icon.png) no-repeat scroll 0px -263px;
}
.vote2016_quicklink li:nth-child(4) a {
	box-shadow: 0 0 8px 1px #8b3620 inset;
	background: #e6522c url(/images/vote_icon.png) no-repeat scroll 0px -396px;
}
.vote2016_quicklink li a:before {
	content: "";
	display: block;
	position: absolute;
	top: 40px;
	right: 0;
	font: bold 95px/1 "Verdana", "Arial", "PMingLiU", "sans-serif";
	color: #fff;
	transform: skew(-19deg, 0deg);
	-webkit-transform: skew(-19deg, 0deg);
	text-shadow: none;
	z-index: 2;
}
.vote2016_quicklink li:nth-child(1) a:before {
	content: "1";
}
.vote2016_quicklink li:nth-child(2) a:before {
	content: "2";
}
.vote2016_quicklink li:nth-child(3) a:before {
	content: "3";
}
.vote2016_quicklink li:nth-child(4) a:before {
	content: "4";
}
.vote2016_quicklink li a:after {
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
}
.vote2016_quicklink li:not(:last-child) {
	border-right: 5px solid #fff;
}
.vote2016_watermark{
    position: fixed;
    right: 5px;
    top: 125px;
    width: 120px;
    z-index: 1000;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    behavior: url(/Scripts/PIE.htc);
	background-color:#E4E4E4;
	background: #E4E4E4 url(/images/watermark_2016vote.jpg) no-repeat scroll 0 0;
}
.vote2016_watermark .title a{
	height:70px;
	display:block;
}
.vote2016_watermark li{
	padding:6px 0;
	text-align:center;
	width:100%;
	margin:5px auto;
	background: url(/images/opacity_70_white.png) repeat scroll 0 0;
	font-weight:bold;
}
.vote2016_watermark li:not(:last-child) {
	border-bottom: 1px solid #C3C2C2;
}
.vote2016_watermark .fb{
	background: url(/images/watermark_2016vote2.jpg) repeat scroll 0 -7px;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    behavior: url(/Scripts/PIE.htc);
}
.vote2016_watermark .fb a{
	height:60px;
	display:block;
}
li#menu_event{
	display:none;
}
@media screen and (max-width:767px) {
.vote2016_quicklink {
	margin: 15px auto;
	width: 95%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.vote2016_quicklink li {
	width: 50%;
	position: relative;
	margin-bottom: 5px;
}
.vote2016_quicklink li:not(:last-child) {
	border-right: none;
}
.vote2016_quicklink li:nth-child(odd) {
	border-right: 5px solid #fff;
}
.vote2016_watermark{
	display:none;
}
li#menu_event{
	display:block;
}
}
