@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, fieldset, form, label, legend, input, button, table, caption, tbody, tfoot, thead, tr, th, td, textarea {
	border:0 none;
	margin:0;
	outline:0 none;
	padding:0
}
img, fieldset {
	border:0
}
ol, ul {
	list-style:none outside none
}
li {
	list-style-type:none
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display:block
}
ol, ul {
	list-style:none outside none
}
a, ins {
	text-decoration:none
}
a {
	cursor:pointer;
	outline:medium none;
	text-decoration:none
}
a:link {
	color:#333;
	text-decoration:none
}
a:visited {
	color:#5d4370;
	text-decoration:none
}
a:hover, a:active {
	color:#36c;
	text-decoration:underline
}
.br-clear, .clear {
	display:block;
	clear:both;
	height:0;
	width:0;
	overflow:hidden
}
.clear-fix:before, .clear-fix:after {
	content:"";
	display:table
}
.clear-fix:after {
	clear:both
}
.clear-fix {
	display:inline-block;
*zoom:1;
*display:inline
}
.clear-fix {
	display:block
}
table {
	border-collapse:collapse;
	border-spacing:0
}
.ad_iframe {
	margin:0;
	padding:0;
	position:relative;
	top:0;
	left:0
}
.ad_iframe>ul>li {
	height:74px;
	overflow:hidden;
	padding:0 6px 10px;
	width:265px
}
.ad #DynamicFlashAD {
	width:980px;
	position:relative;
	margin:0 auto;
	font-size:0
}
.ad #DynamicFlashAD iframe#ctidynamicflashad {
	display:block
}
.indexright .text-ad {
	background:none repeat scroll 0 0 #fff;
	border:1px solid #f1f1f1;
	margin:0 auto 5px;
	overflow:hidden;
	padding:2px;
	width:300px;
	font-size:13px;
	line-height:1.47;
	text-align:left
}
.indexright .text-ad .container {
	margin:6px 0 0
}
.indexright .text-ad .container p {
	height:28px
}
.indexright .banner-300x250 {
	height:250px
}
.indexright .banner-300x100 {
	height:100px
}
.indexright .banner-300x250, .indexright .banner-300x100 {
	background:none repeat scroll 0 0 #FFF;
	border:1px solid #f1f1f1;
	margin:0 auto 7px;
	overflow:hidden;
	padding:2px;
	width:300px
}
.indexmiddle li {
	float:left;
	background-color:#f1f1f1;
	padding:10px 6px;
	width:210px;
	height:82px
}
.indexmiddle li .i_h_a {
	height:82px;
	overflow:hidden;
	width:210px
}
.indexmiddle li .i_h_a .pic {
	float:left;
	height:80px;
	overflow:hidden;
	width:80px
}
.indexmiddle li .i_h_a .pic a {
	border-style:none;
	margin:0;
	padding:0
}
.indexmiddle li .i_h_a .text {
	float:left;
	height:75px;
	margin:5px 0 0 7px;
	width:116px
}
.indexmiddle li.i_h_a .text a:link, .indexmiddle li .i_h_a .text a:visited {
	color:#333;
	text-decoration:none
}
.indexmiddle li .i_h_a .text .title a {
	font:bold 15px/1.3 "Arial", "PMingLiU", "Helvetica", "sans-serif";
	margin:3px 0 2px
}
.indexmiddle li .i_h_a .text p {
	margin:0;
	padding:0
}
.indexmiddle li .i_h_a .text p a {
	font:13px/1 "Arial", "PMingLiU", "Helvetica", "sans-serif";
	margin:0;
	padding:0
}
.megamenu li {
	width:265px;
	height:80px;
	overflow:hidden;
	margin:0 6px 4px
}
.megamenu li .pic {
	width:80px;
	height:80px;
	overflow:hidden;
	float:left
}
.megamenu li .pic img {
	margin:0;
	padding:0;
	border-style:none
}
.megamenu li .pic a {
	margin:0;
	padding:0;
	border-style:none
}
.megamenu li .text {
	width:116px;
	height:75px;
	float:left;
	margin:5px 0 0 7px
}
.megamenu li .text {
	width:168px;
	height:63px;
	float:left;
	margin:0 0 0 7px
}
.megamenu li .text .title a {
	font:bold 15px/1.3 "Arial", "PMingLiU", "Helvetica", "sans-serif";
	margin:0 0 2px;
	display:block
}
.megamenu li .text p {
	margin:0;
	padding:0
}
.megamenu li .text p a {
	font:13px/1.4 "Arial", "PMingLiU", "Helvetica", "sans-serif";
	margin:0;
	padding:0;
	display:block
}
.megamenu li .text a:link, .megamenu li .text a:visited {
	color:#333;
	text-decoration:none
}
.megamenu li .text a:hover, .megamenu li .text a:active {
	color:#36c;
	text-decoration:underline
}
.idleAd {
	height:1500px;
	left:0;
	position:fixed;
	top:0;
	width:100%;
	z-index:1050
}
.idleAd .inner {
	background-color:#fff;
	border:1px solid #ccc;
	border-radius:10px 10px 10px 10px;
	margin:40px auto 0;
	padding:55px 50px 76px;
	position:relative;
	width:800px;
	z-index:2
}
.idleAd .inner .left {
	position:absolute;
	top:28px;
	left:45px;
	width:330px;
	font-size:21px;
	font-weight:bold;
	line-height:1.8
}
.idleAd .inner .left span {
	font-size:64px;
	font-weight:bold;
	line-height:1.5
}
.idleAd .inner .right {
	position:absolute;
	top:406px;
	left:52px;
	width:279px;
	background-color:#e4e4e4;
	padding:12px;
	line-height:1.5
}
.idleAd .inner .btn_close {
	position:absolute;
	top:18px;
	right:17px;
	background:url(../images/ico_cti.png) no-repeat scroll -845px -216px transparent;
	width:40px;
	height:40px;
	overflow:hidden
}
.idleAd .inner .box_0 {
	float:left;
	margin:0 0 0 351px
}
.idleAd .fb-like-box.fb_iframe_widget {
	position:absolute;
	top:323px;
	left:42px
}
.idleAd .overlap {
	background-color:#1b1b1b;
	height:1500px;
	left:0;
	opacity:.8;
	filter:alpha(opacity=80);
	position:absolute;
	top:0;
	width:100%;
	z-index:1
}
#idlead .idlead_box {
	width:450px;
	height:400px;
	background:#fff
}
#idlead .idlead_box .text {
	margin:0 0 20px 0
}
#idlead .idlead_box .text .title {
	font-size:36px;
	font-weight:bold;
	margin-bottom:0;
	padding-bottom:10px;
	border-bottom:2px solid #666
}
#idlead .idlead_box .text ul li {
	margin:0;
	border-bottom:1px dashed #999;
	padding:15px 0;
	position:relative
}
#idlead .idlead_box .text ul li span {
	padding:5px;
	font-size:16px;
	font-weight:bold;
	color:#fff;
	background-color:#c00;
	margin:0 8px 0 0;
	display:inline-block;
	float:left;
	position:absolute;
	top:30%;
	left:0
}
#idlead .idlead_box .text ul li a {
	display:table-cell;
	line-height:1.5;
	padding:0 0 0 71px;
	width:375px
}
#idlead .idlead_box .text ul li a:link {
	color:#36c;
	text-decoration:none
}
#idlead .idlead_box .text ul li a:hover {
	text-decoration:underline
}
#idlead .idlead_box .idlead720 {
	margin:0 auto;
	padding:5px;
	background-color:#fff;
	width:728px;
	display:none
}
#home .related_news {
	height:1500px;
	left:0;
	position:fixed;
	top:0;
	width:100%;
	z-index:1050;
	display:none
}
#home .related_news.on {
	display:block
}
.related_news .inner {
	background-color:#fff;
	border:1px solid #ccc;
	border-radius:10px 10px 10px 10px;
	margin:40px auto 0;
	padding:28px 50px 106px;
	position:relative;
	width:800px;
	z-index:2
}
.related_news .inner .left {
	position:absolute;
	top:28px;
	left:45px;
	width:330px;
	font-size:21px;
	font-weight:bold;
	line-height:1.8
}
.related_news .inner .left span {
	font-size:64px;
	font-weight:bold;
	line-height:1.5
}
.related_news .inner .right {
	position:absolute;
	top:408px;
	left:59px;
	width:279px;
	background-color:#e4e4e4;
	padding:12px;
	line-height:1.5
}
.related_news .inner .btn_close {
	position:absolute;
	top:18px;
	right:17px;
	background:url(../images/ico_cti.png) no-repeat scroll -845px -216px transparent;
	width:40px;
	height:40px;
	overflow:hidden
}
.related_news .inner .box_0 {
	margin:0
}
.related_news .fb-like-box.fb_iframe_widget {
	position:absolute;
	top:411px;
	left:453px
}
.related_news .overlap {
	background-color:#1b1b1b;
	height:1500px;
	left:0;
	opacity:.8;
	filter:alpha(opacity=80);
	position:absolute;
	top:0;
	width:100%;
	z-index:1
}
#related_news .related_news_box {
	width:780px;
	height:400px;
	background:#fff;
	margin:0 auto;
	position:relative
}
#related_news .related_news_box .text {
	margin:0
}
#related_news .related_news_box .text h1 {
	font:bold 36px/1.3 "微软雅黑", "黑体", "helvetica neue", "lucida grande", "Arial";
	margin-bottom:10px;
	padding-bottom:17px;
	border-bottom:2px solid #666
}
#related_news .related_news_box .text li {
	width:364px;
	float:left;
	margin-right:20px;
	border-bottom:dotted 1px #CCC;
	padding:10px 8px
}
#related_news .related_news_box .text li:nth-child(even) {
	margin-right:0
}
#related_news .related_news_box .text li span.icon {
	background:url(../images/ico_cti.png) no-repeat scroll -186px -39px transparent;
	height:32px;
	padding-top:6px;
	width:32px;
	float:left;
	margin:-18px 8px 0 0
}
#related_news .related_news_box .text li span.icon {
	margin:2px 8px 0 0
}
#related_news .related_news_box .text li span.icon.text {
	background:url(../images/ico_cti.png) no-repeat scroll -186px -39px transparent
}
#related_news .related_news_box .text li span.icon.pic {
	background:url(../images/ico_cti.png) no-repeat scroll -296px -39px transparent
}
#related_news .related_news_box .text li span.icon.video {
	background:url(../images/ico_cti.png) no-repeat scroll -519px -39px transparent
}
#related_news .related_news_box .text li span.icon a {
	color:#fff;
	font-size:12px;
	line-height:1.3;
	text-align:center;
	display:block;
	width:32px
}
#related_news .related_news_box .search {
	position:absolute;
	top:394px;
	left:499px;
	width:280px;
	height:64px;
	background-color:#333;
	z-index:100
}
#related_news .related_news_box .search input.text-input {
	border:0 none;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	border-radius:4px;
	box-shadow:0 2px 3px rgba(0,0,0,0.4) inset;
	color:#333;
	font-size:20px;
	font-weight:bold;
	height:54px;
	margin:5px;
	outline:0 none;
	padding:0 10px 0 10px;
	width:183px;
	behavior:url(/Scripts/PIE.htc);
	float:left
}
#related_news .related_news_box .search a.btn {
	display:block;
	padding:9px 14px;
	text-align:center;
	text-decoration:none;
	width:33px;
	height:34px;
	margin:5px 0 0 213px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	border-radius:4px;
	behavior:url(/Scripts/PIE.htc);
	border-top:1px solid #6c6c6c;
	border-right:1px solid #7d7d7d;
	border-bottom:1px solid #454545;
	border-left:1px solid #696969;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkzOTM5MyIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top, rgba(147,147,147,0.65) 0, rgba(0,0,0,0) 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(147,147,147,0.65)), color-stop(100%, rgba(0,0,0,0)));
	background:-webkit-linear-gradient(top, rgba(147,147,147,0.65) 0, rgba(0,0,0,0) 100%);
	background:-o-linear-gradient(top, rgba(147,147,147,0.65) 0, rgba(0,0,0,0) 100%);
	background:-ms-linear-gradient(top, rgba(147,147,147,0.65) 0, rgba(0,0,0,0) 100%);
	background:linear-gradient(to bottom, rgba(147,147,147,0.65) 0, rgba(0,0,0,0) 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6939393', endColorstr='#00000000', GradientType=0)
}
#related_news .related_news_box .search a.btn span {
	background:url(../images/ico_cti.png) no-repeat scroll -33px -124px transparent;
	display:block;
	width:38px;
	height:22px;
	text-indent:-9999px;
	margin:5px 0 0 -3px
}
#super_ad {
	background:url(../images/opacity_80.png) repeat scroll 0 0 transparent;
	height:2000px;
	opacity:1;
	filter:alpha(opacity=100);
	padding:30px 35px 0;
	position:fixed;
	right:-370px;
	top:0;
	width:300px;
	z-index:2000
}
#super_ad a.close_partner {
	background:url(../images/ico_cti.png) no-repeat scroll -848px -266px transparent;
	color:#FFF;
	display:block;
	font-size:12px;
	line-height:24px;
	height:21px;
	margin:0;
	overflow:hidden;
	padding:0 0 0 27px;
	text-shadow:0 1px 0 rgba(0,0,0,0.4);
	text-transform:uppercase;
	text-decoration:none
}
#super_ad a.close_partner:hover {
	background:url(../images/ico_cti.png) no-repeat scroll -848px -340px transparent
}
#super_ad>.title {
	border-bottom:1px solid rgba(255,255,255,0.08);
	border-top:1px solid rgba(255,255,255,0.08);
	color:#FFF;
	font:bold 35px/1.5 "微软雅黑", "黑体", "helvetica neue", "lucida grande", "Arial";
	line-height:1.5;
	margin:10px 0;
	text-align:center;
	text-transform:uppercase
}
#super_ad>.title:after {
	border-top:1px solid #000;
	content:"";
	display:block;
	margin:0
}
#super_ad>.title:before {
	border-top:1px solid #000;
	content:"";
	display:block;
	margin:0
}
.super_realtime {
	width:280px;
	margin:0 auto;
	padding:10px;
	background-color:#fff
}
.super_realtime li {
	border-top:1px dotted #999;
	margin:0 0 5px 0;
	padding:5px 0 0 0;
	position:relative;
	height:110px
}
.super_realtime.page li {
	height:90px
}
.super_realtime li:first-child, #super_ad .super_realtime li.first {
	border-top:0 dotted #999
}
.super_realtime li .pic_box {
	width:90px;
	height:90px;
	overflow:hidden;
	background:url(../images/gallery_stripe_bg.gif) repeat scroll 0 0;
	margin-right:10px;
	float:left;
	display:none
}
.super_realtime li .pic_box img {
	width:160px;
	height:auto;
	margin-left:-35px
}
.super_realtime li p {
	font-size:25px;
	line-height:1.3;
	font-weight:bold;
	margin:14px 4px 0 0;
	word-break:break-all;
	word-wrap:break-word
}
.super_content .title {
	font:bold 26px/1.5 "微软雅黑", "黑体", "helvetica neue", "lucida grande", "Arial";
	color:#88307f;
	padding:0;
	margin:0 0 6px;
	border-bottom:solid 2px #000
}
.super_content .info, .super_idx .info {
	position:absolute;
	bottom:0;
	right:0;
	font-size:13px;
	display:none
}
.super_content .star .info {
	width:171px;
	margin-top:6px
}
.super_content .info span, .super_idx .info span {
	color:#c00;
	display:inline;
	font-size:15px;
	font-weight:bold;
	line-height:1.5
}
.super_content .star .info .star_box .star_bg {
	float:left;
	background:url(../images/ico_cti.png) no-repeat scroll -710px -23px transparent;
	width:115px;
	height:23px;
	overflow:hidden
}
.super_content .star .info .star_box .star_bg.s0 {
	background:url(../images/ico_cti.png) no-repeat scroll -710px -23px transparent
}
.super_content .star .info .star_box .star_bg.s5 {
	background:url(../images/ico_cti.png) no-repeat scroll -710px -46px transparent
}
.super_content .star .info .star_box .star_bg.s10 {
	background:url(../images/ico_cti.png) no-repeat scroll -710px -69px transparent
}
.super_content .star .info .star_box .star_bg.s15 {
	background:url(../images/ico_cti.png) no-repeat scroll -710px -91px transparent
}
.super_content .star .info .star_box .star_bg.s20 {
	background:url(../images/ico_cti.png) no-repeat scroll -710px -114px transparent
}
.super_content .star .info .star_box .star_bg.s25 {
	background:url(../images/ico_cti.png) no-repeat scroll -710px -137px transparent
}
.super_content .star .info .star_box .star_bg.s30 {
	background:url(../images/ico_cti.png) no-repeat scroll -710px -160px transparent
}
.super_content .star .info .star_box .star_bg.s35 {
	background:url(../images/ico_cti.png) no-repeat scroll -710px -183px transparent
}
.super_content .star .info .star_box .star_bg.s40 {
	background:url(../images/ico_cti.png) no-repeat scroll -710px -206px transparent
}
.super_content .star .info .star_box .star_bg.s45 {
	background:url(../images/ico_cti.png) no-repeat scroll -710px -229px transparent
}
.super_content .star .info .star_box .star_bg.s50 {
	background:url(../images/ico_cti.png) no-repeat scroll -710px -252px transparent
}
.super_idx li, .super_content li {
	height:90px
}
.super_realtime.page li, .super_idx.page li, .super_idx li, .super_content li {
	height:90px;
	background:url(../images/cicle04.png) no-repeat scroll 0 7px;
	padding:0 0 0 35px
}
.super_realtime.page li:nth-child(1), .super_idx.page li:nth-child(1), .super_idx li:nth-child(1), .super_content li:nth-child(1) {
	background:url(../images/cicle04.png) no-repeat scroll 0 7px
}
.super_realtime.page li:nth-child(2), .super_idx.page li:nth-child(2), .super_idx li:nth-child(2), .super_content li:nth-child(2) {
	background:url(../images/cicle01.png) no-repeat scroll 0 7px
}
.super_realtime.page li:nth-child(3), .super_idx.page li:nth-child(3), .super_idx li:nth-child(3), .super_content li:nth-child(3) {
	background:url(../images/cicle02.png) no-repeat scroll 0 7px
}
.super_realtime.page li:nth-child(4), .super_idx.page li:nth-child(4), .super_idx li:nth-child(4), .super_content li:nth-child(4) {
	background:url(../images/cicle03.png) no-repeat scroll 0 7px
}
.super_realtime.page li:nth-child(5), .super_idx.page li:nth-child(5), .super_idx li:nth-child(5), .super_content li:nth-child(5) {
	background:url(../images/cicle05.png) no-repeat scroll 0 7px
}
.super_idx .num {
	float:left;
	font-size:49px;
	font-weight:bold;
	text-align:center;
	width:50px;
	margin-top:19px;
	color:#c00
}
.super_realtime .info .star_box {
	width:177px
}
.super_realtime .info .star_box .star_bg {
	float:left;
	background:url(../images/ico_cti.png) no-repeat scroll -710px -23px transparent;
	width:115px;
	height:23px;
	overflow:hidden;
	margin-right:5px
}
.super_realtime .info .star_box .star_bg.s0 {
	background:url(../images/ico_cti.png) no-repeat scroll -710px -23px transparent
}
.super_realtime .info .star_box .star_bg.s5 {
	background:url(../images/ico_cti.png) no-repeat scroll -710px -46px transparent
}
.super_realtime .info .star_box .star_bg.s10 {
	background:url(../images/ico_cti.png) no-repeat scroll -710px -69px transparent
}
.super_realtime .info .star_box .star_bg.s15 {
	background:url(../images/ico_cti.png) no-repeat scroll -710px -91px transparent
}
.super_realtime .info .star_box .star_bg.s20 {
	background:url(../images/ico_cti.png) no-repeat scroll -710px -114px transparent
}
.super_realtime .info .star_box .star_bg.s25 {
	background:url(../images/ico_cti.png) no-repeat scroll -710px -137px transparent
}
.super_realtime .info .star_box .star_bg.s30 {
	background:url(../images/ico_cti.png) no-repeat scroll -710px -160px transparent
}
.super_realtime .info .star_box .star_bg.s35 {
	background:url(../images/ico_cti.png) no-repeat scroll -710px -183px transparent
}
.super_realtime .info .star_box .star_bg.s40 {
	background:url(../images/ico_cti.png) no-repeat scroll -710px -206px transparent
}
.super_realtime .info .star_box .star_bg.s45 {
	background:url(../images/ico_cti.png) no-repeat scroll -710px -229px transparent
}
.super_realtime .info .star_box .star_bg.s50 {
	background:url(../images/ico_cti.png) no-repeat scroll -710px -252px transparent
}
