@charset "utf-8";
.idx_photo-app {
    margin: 15px auto 20px auto;
}
/*區塊標題*/
.idx_photo-app header {
    display: none;
}
/*全局縮圖*/
.idx_photo-app .thumb-photo .cropper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    font-size: 0;
    white-space: nowrap;
    text-align: center;
    background: url("../images/rgba[0,0,0,0.1].png");
    background: rgba(0, 0, 0, 0.1);
}
.idx_photo-app .thumb-photo .cropper:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}
.idx_photo-app .thumb-photo .cropper .photo {
    display: inline-block;
    width: auto;
    height: 100%;
    vertical-align: middle;
    position: relative;
	max-width:none;
}
.idx_photo-app img.rel-h {
    width: auto !important;
    height: 100% !important;
}
.idx_photo-app img.rel-v {
    width: 100% !important;
    height: auto !important;
}
/*全局grid-box公用設定*/
.idx_photo-app .grid-box-container {
    margin-bottom: 15px;
}
.idx_photo-app .grid-box-group {
    position: relative;
    margin-left: -15px;
    margin-top: -15px;
}
.idx_photo-app .grid-box {
    position: relative;
    float: left;
    z-index: 1;
}
.idx_photo-app .grid-box:before {
    content: "";
    display: block;
    width: 100%;
}
.idx_photo-app .grid-box > div {
    position: absolute;
    top: 15px;
    right: 0;
    bottom: 0;
    left: 15px;
    background: #ffffff;
    overflow: hidden;
    border-radius: 0;
    transition: 600ms;
}
.idx_photo-app .grid-box .content .thumb-photo {
    width: 100%;
    height: 100%;
}
.idx_photo-app .grid-box .content .overlay-bgn {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url("../images/rgba[0,0,0,0.6].png");
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 16px;
    white-space: nowrap;
    transition: background 600ms;
}
.idx_photo-app .grid-box .content .overlay-bgn:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}
.idx_photo-app .grid-box .content .info-wrapper {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}
.idx_photo-app .grid-box .content .caption {
    position: relative;
    overflow: visible;
}
.idx_photo-app .grid-box .content .caption .caption-title {
    font-size: 20px;
    line-height: 1.3;
    color: #ffffff;
    font-family: "Microsoft Yahei", sans-serif;
    font-weight: normal;
}
.idx_photo-app .grid-box .content .caption .caption-text {
    font-size: 15px;
    line-height: 1.5;
    color: #cccccc;
    margin-top: 8px;
    margin-bottom: 0;
    display: none;
}
.idx_photo-app .grid-box .content .caption .caption-title a:link,
.idx_photo-app .grid-box .content .caption .caption-title a:visited {
    color: #ffffff;
}
.idx_photo-app .grid-box .content .caption .caption-title a:hover,
.idx_photo-app .grid-box .content .caption .caption-title a:active {
    color: #ffffcc;
}
.idx_photo-app .grid-box .content .meta-info {
    margin-top: 8px;
    color: #ffffff;
    font-size: 14px;
    line-height: 1;
}
.idx_photo-app .grid-box .content .meta-info span {
    color: #abd444;
    font: bold 25px/1 Verdana, Geneva, sans-serif;
}
/*全局grid-box版型三*/
.idx_photo-app.grid-box-template-03 {
    position: relative;
}
.idx_photo-app.grid-box-template-03 header {
    margin-bottom: 15px;
}
.idx_photo-app.grid-box-template-03 header.ribbon {
    top: 20px;
    margin-bottom: 0;
}
.idx_photo-app.grid-box-template-03 .grid-box[data-grid-box-id="1"] {
    width: 68.3417%;
}
.idx_photo-app.grid-box-template-03 .grid-box[data-grid-box-id="2"] {
    width: 31.6583%;
}
.idx_photo-app.grid-box-template-03 .grid-box[data-grid-box-id="3"] {
    width: 31.6583%;
    clear: both;
}
.idx_photo-app.grid-box-template-03 .grid-box[data-grid-box-id="4"] {
    width: 68.3417%;
}
.idx_photo-app.grid-box-template-03 .grid-box[data-grid-box-id="1"]:before {
    padding-bottom: 62%;
}
.idx_photo-app.grid-box-template-03 .grid-box[data-grid-box-id="2"]:before {
    padding-bottom: 133.9683%;
}
.idx_photo-app.grid-box-template-03 .grid-box[data-grid-box-id="3"]:before {
    padding-bottom: 68.5714%;
}
.idx_photo-app.grid-box-template-03 .grid-box[data-grid-box-id="4"]:before {
    padding-bottom: 31.8182%;
}
.idx_photo-app.grid-box-template-03 .grid-box[data-grid-box-id="4"] .content .thumb-photo {
    width: 54.8872%;
}
.idx_photo-app.grid-box-template-03 .grid-box[data-grid-box-id="4"] .content .overlay-bgn {
    top: 0;
    right: 0;
    bottom: 0;
    left: 54.8872%;
}
.idx_photo-app.grid-box-template-03 .grid-box[data-grid-box-id="1"] .content .caption .caption-title {
    font-size: 40px;
}
/*更多區塊*/
.idx_photo-app .tabmore {
	border-top: 3px solid #89c03d;
	margin-top: 4px;
}
.idx_photo-app .tabmore a {
	display: block;
	margin: 15px auto;
	width: 187px;
}
.idx_photo-app .tabmore a span.blod {
	float: left;
	font-size: 18px;
}
.idx_photo-app .tabmore a span.icon {
	margin: -7px 7px 0;
	display: block;
	padding: 3px;
	border-radius: 15px;
	behavior: url(/Scripts/PIE.htc);
	background: url(../images/ico_cti.png) no-repeat scroll -161px -518px #89c03d;
	width: 23px;
	height: 23px;
	overflow: hidden;
	float: left;
}