@charset "utf-8";
.lightbox_3min{
	width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
}
.lightbox_3min .lightbox_container{
	width:1010px;
	height:480px;
	background-color:rgb(250,250,250);
	margin:96px auto 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
	behavior: url(/Scripts/PIE.htc);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding:30px 20px;
}
.lightbox_3min .lightbox_container .ad_hotnews{
	margin:15px auto;
}
.lightbox_3min .lightbox_container .ad_hotnews .ad300250{
	width:300px;
	height:250px;
	overflow:hidden;
	background-color:#eee;
	float:left;
	margin-right:15px;
}
.lightbox_3min .lightbox_container .ad_hotnews .titlebox{
	width:655px;
	height:36px;
	float:left;
	background-color:#666;
	color:#fff;
	padding:10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.lightbox_3min .lightbox_container .ad_hotnews .titlebox .text{
	float:left;
}
.lightbox_3min .lightbox_container .ad_hotnews .titlebox .more{
	float:right;
}
.lightbox_3min .lightbox_container .ad_hotnews .titlebox .more a{
	color:#fff;
	text-decoration:underline;
}
.lightbox_3min .lightbox_container .ad_hotnews .titlebox .more a:hover{
	text-decoration:none;
}
.lightbox_3min .lightbox_container .ad_hotnews .titlebox .more a:before{
	content:"";
	width:16px;
	height:16px;
	overflow:hidden;
	background: url(../images/ui-icons_white.png) no-repeat scroll -64px -14px transparent;
	display:inline-block;
}
.lightbox_3min .lightbox_container .ad_hotnews .hotnews_list{
	width:655px;
	height:214px;
	overflow:scroll;
	float:left;
	overflow-x:hidden;
	overflow-y:auto;
	border:1px solid #666;
	padding:12px 10px 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.lightbox_3min .lightbox_container .ad_hotnews .hotnews_list li{
	padding: 5px;
    list-style-type: disc;
    margin-left: 30px;
}
.lightbox_3min .lightbox_container .ad_hotnews .hotnews_list li a{
	font: 18px/1.6 "微软雅黑", "黑体", "helvetica neue", "lucida grande", "Arial", "PMingLiU", "Trebuchet MS", "Helvetica", "Verdana", "sans-serif";
	color:#36c;
	text-decoration:underline;
}
.lightbox_3min .lightbox_container .ad_hotnews .hotnews_list li a:hover{
	text-decoration:none;
}
.lightbox_3min .lightbox_container .ad970{
	width:970px;
	height:90px;
	overflow:hidden;
	background-color:#eee;
	margin:0 auto;
}
.lightbox_3min .lightbox_container .closeicon{
	text-align:right;
	margin-top:20px;
}
@media screen and (max-width:979px) {
	.lightbox_3min{
		display:none !important;
}
}