@charset "utf-8";
section.idx_spc .tab_menu .tab_bg {
	border-radius: 4px;
	height: 40px;
	left: 0;
	padding: 0;
	position: absolute;
	width: 980px;
	z-index: 50;
	background: transparent url(../images/rio_bar.png) repeat scroll center top;
}
.idx_spc .idx_tab .tab_container>section {
	display: block;
	/* height: 407px; */
	height: 408px;
	width: 970px;
	overflow: hidden;
	background: #F8FFC3 url(../images/rio_bar.png) no-repeat scroll center -35px;
	padding: 20px 0 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	behavior: url(/Scripts/PIE.htc);
}
.idx_spc .icon02 {
	display:none;
}
.idx_spc .idx_tab .tab_container {
	position: relative;
	width: 970px;
	/* height: 442px; */
	height: 443px;
	padding: 10px 5px 0;
	margin: -26px 0 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	background: rgb(96, 197, 35);
 background: url(data:image/svg+xml;
base64, PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, rgba(65, 56, 53, 1) 0%, rgba(0, 43, 68, 1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(65, 56, 53, 1)), color-stop(100%, rgba(0, 43, 68, 1)));
	background: -webkit-linear-gradient(left, rgba(65, 56, 53, 1) 0%, rgba(0, 43, 68, 1) 100%);
	background: -o-linear-gradient(left, rgba(65, 56, 53, 1) 0%, rgba(0, 43, 68, 1) 100%);
	background: -ms-linear-gradient(left, rgba(65, 56, 53, 1) 0%, rgba(0, 43, 68, 1) 100%);
	background: linear-gradient(to right, rgba(65, 56, 53, 1) 0%, rgba(0, 43, 68, 1) 100%);
 filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#413835', endColorstr='#002b44', GradientType=1);
	behavior: url(/Scripts/PIE.htc);
}
.idx_spc .icon01 {
	position: absolute;
	top: -17px;
	left: 8px;
	width: 79px;
	height: 74px;
	overflow: hidden;
	background: transparent url(../images/rio_icon3.png) no-repeat scroll 0 0;
	z-index: 100;
}
.idx_spc .idx_tab .tab_menu ul.tabs li {
    margin: 0 0 0 71px;
}
@media screen and (max-width: 767px){
section.idx_spc .tab_menu .tab_bg {
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.idx_spc .vote2016 article li {
    background: url(../images/rio_icon2.png) no-repeat scroll 7px 9px transparent;
    padding: 7px 10px 7px 43px;
}
.idx_spc .layout2 .clumn3 li h3 {
    margin-left:0;
	font: 20px/1.5 "Microsoft YaHei", "Verdana", "Arial", "PMingLiU", "sans-serif";
}
.idx_spc .vote2016.layout2 .clumn3 li:nth-child(1), .idx_spc .vote2016.layout2 .clumn3 li:nth-child(2) {
    padding: 7px 10px 7px 43px;
}
.idx_spc .idx_tab .tab_container {
    margin: -26px auto 0 !important;
}
}
