@charset "utf-8";

#rmSrchListArea{
	width:218px;
	border-radius: 0;}
#ikyu-plus-right-row #rmSrchListArea{
	width:275px;
	border-radius: 0;}

/* top area btn style */
#TopPage_Parts #rmSrchListArea {
padding: 6px 4px 6px 28px;
  background: url("//cdn.ikyu.com/dg/image/icon/search_i03.png") no-repeat right, url("//cdn.ikyu.com/dg/image/icon/search_i01.png") no-repeat 3px 5px, -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  /* FF3.6+ */
  background: url("//cdn.ikyu.com/dg/image/icon/search_i03.png") no-repeat right, url("//cdn.ikyu.com/dg/image/icon/search_i01.png") no-repeat 3px 5px, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
  /* Chrome,Safari4+ */
  background: url("//cdn.ikyu.com/dg/image/icon/search_i03.png") no-repeat right, url("//cdn.ikyu.com/dg/image/icon/search_i01.png") no-repeat 3px 5px, -webkit-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  /* Chrome10+,Safari5.1+ */
  background: url("//cdn.ikyu.com/dg/image/icon/search_i03.png") no-repeat right, url("//cdn.ikyu.com/dg/image/icon/search_i01.png") no-repeat 3px 5px, -o-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  /* Opera 11.10+ */
  background: url("//cdn.ikyu.com/dg/image/icon/search_i03.png") no-repeat right, url("//cdn.ikyu.com/dg/image/icon/search_i01.png") no-repeat 3px 5px, -ms-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  /* IE10+ */
  background: url("//cdn.ikyu.com/dg/image/icon/search_i03.png") no-repeat right, url("//cdn.ikyu.com/dg/image/icon/search_i01.png") no-repeat 3px 5px, linear-gradient(to bottom, #ffffff 0%, #f5f5f5 100%);
  /* W3C */
  -pie-background: url("//cdn.ikyu.com/dg/image/icon/search_i03.png") no-repeat right, url("//cdn.ikyu.com/dg/image/icon/search_i01.png") no-repeat 3px 5px, linear-gradient(#ffffff, #f5f5f5);
  behavior: url(/common/dg/htc/PIE.htc);
}
.ryotop-srch3 #rmSrchListArea {
	padding: 6px 4px 6px 28px;
	background: #FFF url(/dg/image/icon/search_i03.png) no-repeat right , url(/dg/image/icon/search_i01_r.png) no-repeat 5px 4px;
	background: url(/dg/image/icon/search_i03.png) no-repeat right , url(/dg/image/icon/search_i01_r.png) no-repeat 3px 4px,-moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
	background: url(/dg/image/icon/search_i03.png) no-repeat right , url(/dg/image/icon/search_i01_r.png) no-repeat 3px 4px,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5));
	background: url(/dg/image/icon/search_i03.png) no-repeat right , url(/dg/image/icon/search_i01_r.png) no-repeat 3px 4px,-webkit-linear-gradient(top, #ffffff 0%,#f5f5f5 100%);
	background: url(/dg/image/icon/search_i03.png) no-repeat right , url(/dg/image/icon/search_i01_r.png) no-repeat 3px 4px,-o-linear-gradient(top, #ffffff 0%,#f5f5f5 100%);
	background: url(/dg/image/icon/search_i03.png) no-repeat right , url(/dg/image/icon/search_i01_r.png) no-repeat 3px 4px,-ms-linear-gradient(top, #ffffff 0%,#f5f5f5 100%);
	background: url(/dg/image/icon/search_i03.png) no-repeat right , url(/dg/image/icon/search_i01_r.png) no-repeat 3px 4px,linear-gradient(to bottom, #ffffff 0%,#f5f5f5 100%);
	-pie-background: url(/dg/image/icon/search_i03.png) no-repeat right,url(/dg/image/icon/search_i01_r.png) no-repeat 3px 4px,linear-gradient(#ffffff, #f5f5f5);
	behavior: url(/common/dg/htc/PIE.htc);
}