@font-face {
    font-family: 'iconic';
    src: url('fonts/icon_fonts/iconic.eot');
    src: url('fonts/icon_fonts/iconic.eot?#iefix') format('embedded-opentype'),
         url('fonts/icon_fonts/iconic.svg#iconic') format('svg'),
         url('fonts/icon_fonts/iconic.woff') format('woff'),
         url('fonts/icon_fonts/iconic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a.helpicon span{
  display: none;
}
a.helpicon:after{
  content: "\e909";
  font-family: 'iconic';
  display: inline-block;
  color: #006699;
}

.placeholder{
  color: #aaa;
}

/* ------------ Pop up ------------ */
/* Pop up 共通部分 */
.mem-reg-popup, .mailcfm-popup {position: relative; background: #FFF; color: #000; padding: 25px 30px; width: 400px; margin: 0 auto; }
.mem-reg-popup.sd, .mailcfm-popup.sd {position: relative; background: #FFF; padding: 25px 10px; width: 90%; max-width: 450px; margin: 0 auto; }
.mem-reg-popup .btn, .mailcfm-popup .btn, #popupwhitebg .btn{
  line-height: 18px; margin: 20px auto !important; min-width:50%; font-weight: normal; height: auto; display: block; padding: 15px 5%; text-align: center; font-size: 18px; color: #fff; text-decoration: none;
  -webkit-border-radius: 0.3em; -moz-border-radius: 0.3em; -ms-border-radius: 0.3em; -o-border-radius: 0.3em; border-radius: 0.3em; border: 0; cursor: pointer; }
.mem-reg-popup input, .mailcfm-popup input {width: 96%; border-radius: 3px; padding: 2%; margin:0; border: 1px solid #ccc; font-size: 12px; -webkit-appearance: none; position: relative;}
.btn.green {background:#009600;}
.btn.blue {background:#2eb2e1;}

/* 会員登録 */
.mem-reg-popup .nameholder{height:34px; width: 100%; margin: 15px 0;}
.mem-reg-popup .nameholder input{ width: 44%;}
.mem-reg-popup .nameholder #text_member_name_first{float: left;}
.mem-reg-popup .nameholder #text_member_name_last{float: right;}
.mem-reg-popup .emailholder{position: relative; width: 100%; margin-bottom: 15px;}
/* SNS btn */
.mem-y-btn, .mem-fb-btn, .mem-line-btn {
    -moz-border-radius: 0.3em; -webkit-border-radius: 0.3em; border-radius: 0.3em;
    font-size: 16px; line-height: 20px; width: 100%; display: inline-block; background-color: #fff; padding: 0; margin: 0 0 15px 0;
    text-align: center; cursor: pointer; color: #fff; }
.mem-y-btn {border: 1px solid #f03;}
.mem-fb-btn {border: 1px solid #3b579d;}
.mem-line-btn {border: 1px solid #00C300;}
.mem-y-btn .snslogo, .mem-fb-btn .snslogo, .mem-line-btn .snslogo {float: left; height: 40px; text-indent: -9999px; width: 15%; }
.mem-y-btn .snslogo {background: url("/image/button/ybtn.png") center no-repeat;}
.mem-fb-btn .snslogo {background: url("/image/button/fbbtn.png") center no-repeat #3b579d;}
.mem-line-btn .snslogo {background: url("/image/button/linebtn.png") center no-repeat #00C300;}
.mem-y-btn .snstxt, .mem-fb-btn .snstxt, .mem-line-btn .snstxt {display: block; float: right; line-height: 40px; text-align: center; width: 85%; }
.mem-y-btn .snstxt {background: #f03;}
.mem-fb-btn .snstxt {background: #3b579d;}
.mem-line-btn .snstxt {background: transparent; color: #00C300;}
/* ------------DELETE AFTER YAHOO RELEASED------------ */
.btn.mem-fb-btn{background:#3b579d; width: 100% !important; border:0; cursor: pointer;}
.btn.mem-fb-btn img{vertical-align:middle; margin-right:10px;}
/* ------------DELETE AFTER YAHOO RELEASED------------ */

.mem-reg-popup p.smalltxt{font-size: 11px; margin-bottom:5px; position: relative; line-height:150%; color: #888;}
.line-separator {height: 1px; width: 100%; background-color: #ddd; position: relative; margin:10px 0 25px 0;}
.line-separator span {display: block; background-color: #fff; position: absolute; left: 50%; padding: 10px; font-size: 13px;
  transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); }
.mem-reg-popup .input-error-list {display: none;}

/* メール認証 */
#mailcfm.mailcfm-popup {font-size: 13px; line-height: 1.8em; }
#mailcfm.sd .btn{width: 100%;}
#mailcfm em{ display: block; margin: 20px 0; font-size: 20px; font-style: normal;}
#mailcfm #content {width: 84%; padding: 0 8%;}
#mailcfm .txtbtn{margin: 0 auto; display: block; text-align: center; color: #666; text-decoration: underline !important; font-size: 13px;}

/* Loading 待ち画面 */
#register_loading {position: fixed; top: 0; left: 0; height: 100%; width: 100%; z-index: 9999; display: none; }
#popupwhitebg .spinner{top: 40% !important;}
#popupwhitebg .btn{width:50%;}
#popupwhitebg.sd .btn{width:auto;}
#popupwhitebg {display: none; text-align: center; font-size: 14px; line-height: 1.8em; color: #555; z-index: 99999; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255,255,255,0.95); }
#popupwhitebg #txt {display: block; width: 85%; padding: 5%; position: absolute; top: 50%; left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%); -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%); }
#popupwhitebg #txt em{ display: block; margin: 25px 0; font-size: 20px;}
#popupwhitebg #txt .btn{display: block; margin:30px auto;}
#popupwhitebg.sd  #txt{width: 85%;}

.redmsg{border: 1px solid #bc2626 !important;}
/*.redmsg:before{content: "\e908"; font-family: 'iconic'; display: block; position: absolute; right: 10px; top:50%; margin-top:-8px; }*/
.errorballoon{font-size: 11px; line-height: 1.6em; padding: 5px 10px !important; max-width: 350px; cursor: pointer; opacity:0.95 !important; margin-top:-8px;
  -ms-transform: translateX(-100%);
  -webkit-transform: translate(-100%,0%);
  transform: translate(-100%,0%);
  }
.errorballoon.msg3 { margin-top:8px;}
.errorballoon:before {
  content:'';
  position:absolute; z-index: 2;
  bottom:-6px; right:15px; width:8px; height:8px; border: 1px solid #C5B3B3;
  border-width: 0 0 1px 1px; background-color: #FDEAEA;
  transform-origin:0 100%; transform: rotate(-45deg);
  -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg);
 }
.errorballoon.msg3:before {bottom: auto; top: -4px; border-width: 1px 1px 0 0; }
.greenmsg{border: 1px solid #068822; color: #068822;}
.greenmsg:before{content: "\e903"; font-family: 'iconic'; display: block; position: absolute; right: 10px; top:50%; margin-top:-8px; }
#msg{position: absolute; width: 96%; border-radius: 3px; padding: 2%; top: 0; left: 0; font-size: 14px; height: 17px; text-align: right; pointer-events:none;}
#msg div.spinner{left: initial !important; right: 18px;}


/* ------ Header Status ------ */
a.mailcert_status_header{display:block; color:#fff; background-color:#2eb2e1 ; padding:1px 10px; margin-top:-4px; margin-left:5px; float:right;
    -moz-border-radius: 0.3em; -webkit-border-radius: 0.3em; border-radius: 0.3em; text-decoration:none; }
a.mailcert_status_header:hover{color:#FF0;}
