﻿@charset "utf-8";

/* =======================================

	CommonElements

======================================= */

.wideslider {
	width: 100%;
	height: 230px;
	text-align: left;
	position: relative;
	overflow: hidden;
}

.wideslider ul,
.wideslider ul li {
	float: left;
	display: inline;
	overflow: hidden;
	margin:0;
	padding:0;
}
.wideslider ul li a{ display:block; position:relative;}
.wideslider ul li p{margin:0; display:inline;}

/*
.wideslider ul li img {
	width: 1000px;
	display: none; 
}
*/

.wideslider_base {
	top: 0;
	position: absolute;
	
}
.wideslider_wrap {
	top: 0;
	position: absolute;
	overflow: hidden;

}
.slider_prev,
.slider_next {
	top: 0;
	overflow: hidden;
	position: absolute;
	z-index: 100;
	cursor: pointer;
	background: #fff;
	height:230px;
}

.image_prev,
.image_next {
	position: absolute;
	cursor: pointer;
	z-index: 100;
	background:rgba(0,0,0,0.4);
}

.image_prev span,.image_next span {background-image:url("/dg/image/background/top_sply.png"); display:block; width:11px; height:22px; }

.image_prev span{background-position:-664px 0px; margin:105px 0px 0px 6px;}
.image_next span{background-position:-675px 0px; margin:105px 0px 0px 6px;}

.wideslider_pagination {
width: 120px;
height: 20px;
float: right;
position: relative;
}
.pagination {
right:0px;
bottom: 0px;
/* left: 0; */
width: 100%;
/* height: 30px; */
text-align: right;
position: absolute;
z-index: 200;
}

.pagination a {
	margin: 0 0px 0 5px;
	width: 17px;
	height: 10px;
	display: inline-block;
	overflow: hidden;
	background:#000;
}




.pagination a.pn1 , .pagination a.pn2 , .pagination a.pn3 , .pagination a.pn4 , .pagination a.pn5 {background: #ccc;}


/* =======================================
	ClearFixElements
======================================= */
.wideslider ul:after {
	content: ".";
	height: 0;
	clear: both;
	display: block;
	visibility: hidden;
}

.wideslider ul {
	display: inline-block;
	overflow: hidden;
}

.top_item_box{
	width:1000px;
	height:230px;
	position:relative;
	display:block;
	overflow: hidden;
	text-shadow:2px 2px 0 #000;
}
.top_item_box img{
	width:1000px; position:relative;
}

.top_item_box_half{
	width:500px;
	height:230px;
	float:left;
	position:relative;
	text-shadow:1px 1px 0 #000;
}
.top_item_box_half img{
	width:500px; position:relative;
}

.top_item_text{
	color:#FFF;
	display:block;
	position:absolute;
	bottom:0px;
	left:0px;
	width:940px;
	height:45px;
	padding:90px 30px 0px 30px;


	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.8)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );

}

.top_item_box_half .top_item_text{width:440px;}



.top_item_text_left{
	display:block;
	float:left;
	font-size:18px; position:absolute; left:40px; bottom:10px;
}

.mainList a:hover {
	text-decoration:none;}

.top_item_text_right{
	display:block;
	float:right;
	font-size:18px; position:absolute; right:40px; bottom:13px;
}
	
.top_item_text_right em , .top_item_text_left em{
	font-size:24px;
}

/* サイズ半分 */
.top_item_box_half .top_item_text_left, .top_item_box_half .top_item_text_right{font-size:13px; bottom:15px;}
.top_item_box_half .top_item_text_right em , .top_item_box_half .top_item_text_left em{
	font-size:18px; line-height:23px;
}


/* 施設名 */
.doko{position:absolute; margin:0; top:10px; right:40px; font-size:10px; color:#eaeaea; z-index:500; text-shadow:1px 1px 0 #000;}

/* タイムセール */
.nowonsale{position:absolute; right:40px; top:30px; background:#ff3333; color:#FFF; text-shadow:0 0 0; padding:3px 5px; font-size:12px;}
.noticesale{position:absolute; right:40px; top:30px; background:#FFFF00; color:#000; text-shadow:0 0 0; padding:3px 5px; font-size:12px;}
.beyondgold{position:absolute; right:40px; top:30px; background:#f5c700; background-image: url(/dg/image/slide/top-accent-bg-gold.png); background-repeat: repeat-y; color:#333; text-shadow:0 0 0; font-weight:100; padding:3px 5px; font-size:11px;}
