body {
	/*background: url(http://st.kinopoisk.ru/images/bnnr/brand/a4ab56c8.jpg)  50% 0 no-repeat;
	background-attachment: fixed;*/
}

#container {
	background: #fff;
	/*-webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
	-moz-box-shadow:    0px 0px 20px rgba(255, 255, 255, 1);
	box-shadow:         0px 0px 20px rgba(255, 255, 255, 1);*/
	border: 10px solid #fff;
	padding-bottom: 30px;
	-webkit-border-top-left-radius: 30px;
	-webkit-border-top-right-radius: 30px;
	-moz-border-radius-topleft: 30px;
	-moz-border-radius-topright: 30px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

#branding_top {
	width: 990px;
	height: 120px;
	margin: 0px auto;
	position: relative;
	display: none;
}

.competition_banner_box {
    position: relative;
	/*left: -20px;*/
}

.konkurs_btn {
	display: inline-block;
	position: absolute;
	margin-left: -18px;
	margin-top: -14px;
}


#footer {
	background: url(images/main/r_ln.gif) left top repeat-y;
	/*position: relative;*/
	margin: 0px auto;
}
#footer .wrapp {
	/*position: absolute;*/
	background: url(images/footer/bg.gif) left top no-repeat;
	/*top: 134px;*/
}
#sitemapWrapper {
	z-index: 10;
}
.konkurs_btn a {
	background: none !important;
}