html, body {
	font-family: "Open Sans", Arial, Helvetica,sans-serif;
	font-size: 13px;
	color: #766c5f;
	margin: 0px;
	padding: 0px;
}
p, td, div, span {
	font-family: "Open Sans", Arial, Helvetica,sans-serif;
	font-size: 13px;
	color: #333333;
}
form {
	margin: 0px;
	padding: 0px;
	border: none;
}
input {
	font-size: 12px;
}
a {
	color: #ff8400;	
	text-decoration: underline;
}
a:hover {
	text-decoration: underline;
}
ul {
	padding: 0px 0px 0px 14px;
	margin: 0px;
	color: #766c5f;
}
li {
	padding: 0px;
	margin: 0px;
	list-style: none;
	list-style-image: url(images/main/li1.gif);
	color: #333333;
}
h1, h2, h3, h4, h5, h6, div.h6, div.h4 {
	font-family: "Open Sans", Arial, Helvetica,sans-serif;
	margin: 0px;	
	font-weight: bold;
}
h1 {
	color: #555557;	
	font-size: 28px;
	padding: 0px;
	font-weight: normal;	
}
h2, .h2 {
	font-weight: bold;
	color: #ff8400;
	font-size: 18px;
	padding: 0px;
}
h1 a, h2 a {
	color: #ff8400;
}
h3 {
        font-family: "Open Sans", Arial, Helvetica,sans-serif;
        color: #766c5f;
        font-size: 20px;
        line-height: 18px;
     font-weight: initial;
	padding: 0px;
}
h4, .h4 {
	color: #ff8400;
	font-size: 12px;
	padding: 4px 0px 6px 0px;
	font-weight: bold;
}
h3 a, h4 a, .h4 a {
	color: #ff8400;
}
h5 {
	color: #766c5f;
	font-size: 18px;
	font-weight: normal;
	padding: 0px;
}
h5 a {
	color: #766c5f;
}
h6, div.h6 {
	color: #a3a3a3;
	font-size: 10px;
	font-weight: normal;
	padding: 0px;
}
p {
	padding: 9px 0px 9px 0px;
	margin: 0px;
}
hr {
	height: 1px;
	border-top: none;
	border-bottom: #B5BCC5 1px  solid;
	margin: 0px;
	padding: 0px;
}
.body {
}
#container {
	width: 951px;
	margin: 0px auto;
	position: relative;
}
#head {
	/*background: url(images/head-bg.gif) no-repeat 216px 0px;*/
	height: 118px;
	clear: both;
	margin:0; padding:0;
}
#head .wrapp {
	padding: 4px 0px 0px 0px;
}
#head .logo {
/*	float: left;*/
	width: 220px;
}
#head .logo a {
/*	float: left;*/
	display: block;
	width: 220px;
}
#head .auth .box {
	width: 381px;
	height: 51px;
	padding: 16px;
	background: url(images/head/panel_bg.gif) left top no-repeat;
	text-align: left;
	position:absolute;
	top: 24px;
	margin-left: 9px;
}
#head .avatar {
	width: 49px;
	height: 49px;
	border: 1px rgba(0,0,0,0) solid;
	float: left;
	margin: 0px 12px 0px 0px;
	border-radius: 50%;
}
#head .star {
	position: absolute;
	margin: -6px auto auto 4px;
}
#head .name {
	color: #505050;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
}
#head .pmb {
	color: #505050;
	padding: 1px 0px 0px 0px;
	float: right;
}
#head .pmb img {
	margin: -2px 4px -2px -4px;
}
#head .hmenu {
	color: #505050;
	font-size: 12px;
	margin: 5px 0px 0px 0px;
}
#head .hmenu a {
	color: #505050;
	text-decoration: underline;
	margin: 0px 14px 0px 0px;
}
#head .hmenu img {
	margin: 2px 9px 0px 0px;
}
#head .hmenu img.topPlus {
	margin-left: -3px;
}
#head .not_auth img.btn_add {
	margin-top: 7px;
}
#head .logoff {
	color: #9b9a9a;
	font-size: 11px;
	padding: 0px 4px 2px 0px;
	line-height: 18px;
}
#head .logoff a {
	color: #9b9a9a;
	text-decoration: underline;
}
#head .register, #head .register a {
	color: #9b9a9a;
	line-height: 30px;
}
#head .not_auth, #head .auth {
	width: 420px;
	height: 118px;
	text-align: right;
	position: relative;
	top: -118px;
	left: 529px;
}
#head .not_auth .wrapp {
	padding: 36px 10px 0px 0px;
}

.tmenu {
	background: #ee991a;
	height: 36px;
	line-height: 36px;
	clear: both;
	position: absolute;
	left: -10px;
	right: -10px;
}
.tmenu .options {
	width: 136px;
	height: 36px;
	padding: 0px 13px 0px 0px;
	float: right;
}
.tmenu .options span.add {
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
	background: url(images/tmenu/add.gif) left center no-repeat;
	padding: 2px 0px 2px 20px;
	cursor: pointer;
}
.tmenu .links {
	height: 36px;
	padding: 0px 6px;
	float: left;
	/*float: left;*/
}
.tmenu .links a, .tmenu .links span {
	color: #FFFFFF;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 6px 16px;
	background: url(images/tmenu/sep.gif) right top no-repeat;
}
.tmenu .links a:hover, .tmenu .links span:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
.main-wrapp {
	background: url(images/main/r_ln.gif) left top repeat-y;
	clear: both;
}
.lcol {
}
.mcol {
	width: 629px;
	margin: 0px;
	float: left;
}
.rcol {
	background: #f9f4d6 url(images/main/r_ln.gif) right top repeat-y;
	width: 322px;
	float: right;
}
.cleaner {
	font-size: 1px;
	height: 1px;
	line-height: 1px;
	clear: both;
}
.sep_ln {
	font-size: 1px;
	height: 1px;
	line-height: 1px;
	background: url(images/main/sep_ln.gif) left bottom repeat-x;
	width: 628px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.footer .sep_ln {
	margin: 0;
}
.footer {
	color: #666464;
	width: 951px;
	margin: 0px auto 40px auto;
	background: url(images/footer/bg.gif) left top no-repeat;
}
.footer .wrapp {
	width: 593px;
	height: 41px;
	line-height: 41px;
	padding: 9px 18px 0px 18px;
}
.footer .wrapp .copy {
	width: 200px;
	text-align: right;
	float: right;
}
.footer .hot {
	color: #ff8400;
}
.mcol .top_total {
	font-family: "Open Sans", Arial, Helvetica,sans-serif;
	font-size: 15px;
	width: 615px;
	/*height: 65px;*/
	height: 45px;
	padding: 6px 0px 0px 12px;
	background: #f9f4d6;
	border: solid 1px #f0ebcd;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.mcol .top_total .txt {
	font-size: 28px;
}
.mcol .top_total .count {
	font-size: 28px; /*35*/
        color: #555557;
}
.mcol .top_total .count span {
	font-size: 28px;
	color: #9fcc04;
}
.mcol .cont_area {
	padding: 26px 21px 16px 0px;
	/*background: transparent url(images/main/top_bg.gif) right top no-repeat;*/
}
.cat_menu {
	height: 44px;
	line-height: 44px;
	padding: 0px 0px 0px 24px;
	margin-top: 36px;
}
.cat_menu a {
	color: #555557;
	font-size: 16px;
	height: 14px;
	/*line-height: 14px;*/
	padding: 15px 18px 15px 44px;
	text-decoration: none;
}
.cat_menu a:hover {
	color: #555557;
	text-decoration: underline;
}
.cat_menu a.cocktail {
	background: url(images/submenu/cocktail.gif) left center no-repeat;
}
.cat_menu a.dessert {
	background: url(images/submenu/dessert.gif) left center no-repeat;
}
.cat_menu a.fish {
	background: url(images/submenu/fish.gif) left center no-repeat;
}
.cat_menu a.ptica {
	background: url(images/submenu/ptica_44x44.gif) left center no-repeat;
}
.cat_menu a.meat {
	background: url(images/submenu/meat.gif) left center no-repeat;
}
.cat_menu a.salad {
	background: url(images/submenu/salad.gif) left center no-repeat;
}
.cat_menu a.soup {
	background: url(images/submenu/soup.gif) left center no-repeat;
}
.cat_menu a.vegies {
	background: url(images/submenu/vegies.gif) left center no-repeat;
}
.cat_menu a.baking {
	background: url(images/submenu/baking.png) 5px center no-repeat;
}
.cont_area h1,
.cont_area h2, .popular_h1 {
	margin: 0px;
	padding: 6px 0px 10px 0px;
}
.popular h1, .popular_h1 {
	color: #ff8400;	
	font-size: 18px;
	font-weight: bold;
}
.popular_h1 {
	line-height: 34px;
}
.cont_area_top {
	margin-top: 8px;
}
.popular {
	width: 300px;
	float: left;
}
.popular li, .popular li a, .detailed_ingredients li a, .indexbottomtag li a, .tagLists a {
	font-size: 13px;
	color: #766c5f;
	line-height: 21px;
}
.cook_day {
	width: 306px;
	float: left;
}
.cook_day .photo {
	margin: 5px 10px 12px 0px;
	float: left;
}
.cook_day .txt {
	color: #766c5f;
	font-size: 11px;
	line-height: 11px;
	margin: 0px;
	padding: 6px 0px 0px 0px;
}
.cook_day .stars {
	position: absolute;
	margin: -5px auto auto 5px;
}
.cook_day .options {
	font-size: 12px;
	line-height: 14px;
	clear: left;
}
.cook_day .owner {
	font-size: 11px;
	text-align: right;
	line-height: 14px;
	margin-top: -14px;
}
.cook_day .owner .counter {
	font-size: 14px;
	line-height: 14px;
}
.h2_ref_all {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	float: right;
	display: block;
    margin-top: -30px;
}
.thumb_list .h2_ref_all {
	margin-top: 4px;
}
.recipe .rate {
	color: #84c010;
	font-weight: normal;
	text-decoration: none;
	padding: 0px 0px 2px 18px;
	margin: 0px 0px 0px 10px;
	line-height: 16px;
	background: url(images/ico16/star.gif) left bottom no-repeat;
}
.recipe .comments {
	color: #84c010;
	font-weight: normal;
	padding: 2px 0px 2px 18px;
	margin: 0px 0px 0px 6px;
	line-height: 16px;
	background: url(images/ico16/comments.gif) left bottom no-repeat;
}
.recipe_list {
	margin: 0px;
}
.recipe {
	margin: 0px 0px 26px 0px;
	clear: left;
	float: left;
	width: 100%;
}
.recipe h3 {
	margin: 0px 0px 9px 0px;
}
.recipe .thumb, #loginTeaser .thumb {
	border: 1px #bdbdbd solid;
	margin: 0px 9px 0px 0px;
	float: left;
}
.recipe .thumb:hover {
	border: 1px #de7300 solid;
}
.recipe .thumb img, #loginTeaser .thumb img {
	border: 2px #FFFFFF solid;
}
.recipe .txt {
	padding: 0px;
	margin: 0px;
	line-height: 19px;
}
.recipe .cat {
	padding: 9px 0px 0px 0px;
	margin: 0px;
	line-height: 18px;
}
.recipe .cat .sep {
	font-size: 15px;
	line-height: 18px;
}
.recipe .tag {
	padding: 0px;
	margin: 0px;
	line-height: 12px;
}
.recipe .owner {
	margin: 12px 0px 0px 0px;
}
.thumb_list  {
	margin: 0px;
}
.thumb_list .row {
	padding: 14px 0px 7px 0px;
	float: left;
}
.thumb_list .col {
	text-align: center;
	width: 144px;
	margin-right: 7px; /*10*/
	float: left;
}
.thumb_list .last_col {
	text-align: center;
	width: 144px;
	float: left;
}
.thumb_list h2 {
	padding: 6px 0px 1px 0px;
}
.thumb_list .thumb {
	border: 1px #bdbdbd solid;
	margin: 0px 9px 0px 0px;
	float: left;
}
.thumb_list .thumb:hover {
	border: 1px #de7300 solid;
}
.thumb_list .thumb img {
	border: 2px #FFFFFF solid;
}
.thumb_list .rate {
	padding: 2px 0px 2px 0px;
	clear: both;
}
.thumb_list .name {
	color: #766c5f;
	font-weight: bold;
	text-decoration: none;
	display:block;
	clear:left;
}
.thumb_list .name:hover {
	color: #766c5f;
	text-decoration: underline;
}
.foot_sitemap  {
	margin: 0px;
	background: url(http://povar.ru/skins/recipie/images/16.png) 590px 20px no-repeat;
}
.foot_sitemap .row {
	padding: 14px 0px 7px 0px;
	float: left;
}
.foot_sitemap .col {
	width: 144px;
	margin-right: 10px;
	float: left;
}
.foot_sitemap .last_col {
	width: 144px;
	float: left;
}
.foot_sitemap ul, .rightlinks ul {
	font-size: 11px;
	padding: 0px;
}
.foot_sitemap li, .rightlinks li {
	color: #555555;
	font-size: 12px;
	list-style-image: none;
	padding: 0px;
	line-height: 20px;
}
.foot_sitemap li a, .rightlinks li a {
	color: #555555;
	font-size: 12px;
	text-decoration: none;
}
.foot_sitemap li a:hover, .rightlinks li a:hover {
	color: #555555;
	text-decoration: underline;
}
.foot_sitemap .ico, .rightlinks .ico {
	position: absolute;
	margin: 0px 0px 0px 4px;
}
.rcol .tsearch {
	height: 114px;
	padding: 12px 10px 0px 20px;
	background: url(images/left/tsearch.gif) right top no-repeat;
}
.rcol .bannerWrapper .banner {
	padding: 18px 0px 0px 0px;
	background: url(images/left/tbann.gif) right top no-repeat;
}
.rcol .banner .wrapp {
	padding: 0px 10px 18px 10px;
	background: #FFFFFF url(images/left/bbann.gif) right bottom no-repeat;
}
.rcol .banner .wrapp2 {
	padding: 0px 10px;
	background: #FFFFFF;
}
.rcol .counters {
	height: 70px;
	text-align: right;
	padding: 37px 20px 0px 0px;
	background: url(images/left/counters.jpg) right top no-repeat;
	margin-top: -18px;
}
.rcol .adsense {
	padding: 4px 20px;
	background: #FFFFFF;
}
/* search block */
.search_field {
	 height: 20px;
	 padding: 0px;
	 margin: 0px;
	 clear: left;
	 float: left;
}
.search_key {
	font-size: 11px;
	width: 278px;
	height: 18px;
	position: expression("absolute"); /* ie hack */
	border-top: none;
	border-left: 1px #bababa solid;
	border-right: 1px #bababa solid;
	border-bottom: 1px #bababa solid;
}
#smenu {
	margin-top: 10px;
	height: 40px;
}
#smenu ul {
	width: 280px;
	margin: 0px;
	padding: 0px;
	list-style: none;
	background: transparent url(images/search/tab_bg.gif) 0% -60px repeat-x;
	height: 20px;
	float: left;
}
#smenu li {
	display: inline;
	white-space: nowrap;
	line-height: 11px;
	margin: 0px;
	padding: 0px;
	float: left;
}
#smenu a {
	font-size: 11px;
	padding: 0 7px 0 0;
	text-decoration: none;
	float: left;
}
#smenu a span {
	color: #766c5f;
	font-size: 11px;
	display: block;
	padding: 4px 0px 5px 8px;
	cursor: pointer;
	white-space: nowrap;
	float: left;
}
#smenu a span.sep {
	padding: 4px 0px 5px 8px;
	background: transparent url(images/search/tab_bg.gif) 0% 0px no-repeat;
}
#smenu li.act a span {
	padding: 3px 0px 5px 8px;
}
#smenu li.act {
	height: 19px;
	border-top: 1px #bababa solid;
	border-left: 1px #bababa solid;
	border-right: 1px #bababa solid;
	border-bottom: none;
	background: #FFFFFF url(images/search/tab_bg.gif) 0% -31px repeat-x;
}
#smenu ul li a:hover {color: #ff8400; text-decoration: none;}
#smenu ul li a:hover span {color: #ff8400; text-decoration: none;}
.tsearch .txt {
	color: #ff8400;
	font-size: 11px;
	width: 280px;
	padding: 10px 0px 0px 0px;
	clear: left;
	float: left;
}
.tsearch .btn {
	margin-top: 2px;
	margin-bottom: 15px;
	float: right;
}

.box123 {
	height: 188px;
	padding: 12px 20px 0px 20px;
}
.box123 .list_row {
	margin: 5px -20px 0px -20px;
	padding: 1px 1px 0px 0px;
	background: url(images/sep_dotted.gif) left top repeat-x;
}
.box123 .row {
	color: #766c5f;
	font-size: 11px;
	padding: 9px 20px 9px 20px;
	background: #fbf8e6 url(images/sep_dotted.gif) left bottom repeat-x;
	text-align: right;
}
.box123 .dropdown {
	color: #766c5f;
	font-size: 11px;
	width: 158px;
	height: 19px;
	border: 1px #bababa solid;
}
.box123 .num {
	color: #84c010;
	font-size: 18px;
	float: left;
}
.box123 .btn {
	padding: 10px 20px;
	text-align: right;
}

.top10recipe {
	padding: 11px 20px 7px 20px;
        color: #766c5f; 
}
.top10recipe .popular {
	margin-top: 9px;
	float: none;
}
.top10recipe .popular li {
	line-height: 17px;
}

.subscribe {
	height: 70px;
	padding: 7px 20px 7px 20px;
	background: url(images/left/counters.jpg) right top no-repeat;
	margin-top: -18px;
	padding-top: 20px;
	padding-bottom: 17px;
}
.subscribe form {
	margin: 14px 0px 0px 0px;
}
.subscribe .email {
	color: #766c5f;
	font-size: 11px;
	width: 140px;
	height: 17px;
	border: 1px #bababa solid;
	margin: 2px 0px 0px 0px;
}
.subscribe .btn {
	float: right;
}
.vote {
	padding: 7px 20px 10px 20px;
}
.vote p {
	padding: 4px 0px 10px 0px;
}
.vote label {
	line-height: 19px;
}
.vote .btn {
	padding: 5px 0px 0px 0px;
	text-align: right;
}

.daybox {
	width: 582px;
/*	height: 305px; */
	height: 278px;
	padding: 0px 6px 0px 20px;
	background: url(images/daybox/bg2.gif) left top no-repeat;
}
.daybox h2 {
	color: #ffa627;
	font-family: "Open Sans", Arial, Helvetica,sans-serif;
	font-size: 24px;
	font-weight: normal;
	padding: 10px 0px 0px 0px;
}
.daybox h2 a {
	text-decoration: none;
	color: inherit;
}
.daybox h2 a:hover {
	text-decoration: underline;
}
.daybox .slideWrapper {
	height: 234px;
	padding: 6px 0px 0px 0px;
	overflow:hidden;
}
.daybox .descr {
	height: 234px;
	display:none;	
}
.daybox .pager {
	padding: 0px;
	margin: 0px;
	height: 38px;
}
.daybox .pager a {
	color: #FFFFFF;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	display: block;
}
.daybox .pager a:hover {
	text-decoration: underline;
}
.daybox .pager .pause {
	width: 80px;
	height: 38px;
	line-height: 38px;
	padding: 0px 0px 0px 2px;
	background: url(images/daybox/sep.gif) left top no-repeat;
	float: right;
}
.daybox .pager .pause span {
	color: inherit;
	font:inherit;
}
.daybox .pager .pause img {
	border: none;
	float: left;
}
.daybox .photoWrapper {
	height:231px;
	overflow:hidden;
	float: right;
}
.daybox .pager .num {
	width: 35px;
	height: 38px;
	padding: 0px 2px 0px 0px;
	line-height: 38px;
	text-align: center;
	background: url(images/daybox/sep.gif) right top no-repeat;
	float: left;
}
.daybox .pager .txt {
	color: #FFFFFF;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	width: 106px;
	height: 38px;
	padding: 0px;
	line-height: 38px;
	background: url(images/daybox/sep.gif) right top no-repeat;
	display: block;
	float: left;
}
.daybox .photo {
	width: 298px;
	height: 231px;
	margin: 0px 0px 0px 12px;
	float: right;
	display:none;
}
.daybox .ph_first {
	display:block;
}
.daybox .photo_single a.navlink {
	display:none;
}
.daybox .stars {
	padding: 0px 6px 0px 0px;
	margin-left: -28px;
	float: left;
}
.daybox .slvRating {
	padding-top: 5px;
}
.daybox .navpanel {
	color: #FFFFFF;
	font-size: 11px;
	width: 298px;
	height: 33px;
	line-height: 33px;
	background: url(images/daybox/navpanel.gif) left top no-repeat;
	text-align: center;
}
.daybox .navpanel a {
	color: #FFFFFF;
	font-size: 11px;
	text-decoration: underline;
}
.daybox .navpanel .btn_left {
	margin: 6px;
	float: left;
}
.daybox .navpanel .btn_right {
	margin: 6px;
	float: right;
}
.daybox .name {
	/*height: 66px;*/
}
.daybox .name p {
	color: #505050;
	font-size: 11px;
	padding: 1px 0px 0px 0px;
}
.daybox .name .mark {
	color: #505050;
	font-size: 18px;
	padding: 0px 0px 0px 2px;
}
.daybox .txt, .daybox .txt p {
	color: #848484;
}
.daybox .txt {
	padding: 6px 0px 0px 0px;
}


.mcol .top_nav {
	color: #766c5f;
	font-size: 13px;
	width: 615px;
	padding: 6px 0px 6px 12px;
	background: #f9f4d6;
	border: solid 1px #f0ebcd;
	line-height: 18px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.mcol .top_nav a {
	color: #766c5f;
}

.cat_sect_h {
	padding: 0px 0px 8px 0px;
	margin: -20px 0px 8px 0px;
	border-bottom: 1px #f2eacb solid;
}
.cat_sect_h h1 {
	font-family: "Open Sans", Arial, Helvetica,sans-serif;
	padding: 0px;
	font-weight: normal;
}
.cat_sect_h h6, .cat_sect_h div.h6 {
	color: #b1a699;
	font-size: 13px;
}
.open_adv_search {
	color: #9fcc04;
	/*padding: 0px 30px 0px 20px;*/
	line-height: 30px;
	display:block;
	/*float:right;*/
}
.btn_open {
	float: right;
}
.list_sort_by {
	color: #555555;
	font-weight: bold;
	line-height: 46px;
	padding: 0px 0px 4px 0px;
	
}
.catSort {
	margin: -10px 0 0 0; padding:0;	
}
.list_sort_by a {
	color: #9fcc04;
	padding: 0px 2px;
	text-decoration: none;
}
.list_sort_by a.act,
.list_sort_by a:hover {
	text-decoration: underline;
}
.pager {
	color: #555555;
	font-size: 14px;
	margin: 20px 0px 30px 0px;
}
.pager .txt {
	color: #555555;
	font-size: 15px;
}
.pager .prev,
.pager .next {
	color: #a3a3a3;
	font-size: 14px;
}
.pager .prev a,
.pager .next a,
a.back2first {
	color: #555555;
	font-size: 14px;
}
.pager .nav {
	padding: 10px 0px 0px 0px;
}
.pager .prev,
a.back2first {
	background: url(images/pager/prev.gif) left bottom no-repeat;
	padding: 0px 10px 0px 22px;
}
.pager .next {
	background: url(images/pager/next.gif) right bottom no-repeat;
	padding: 0px 22px 0px 10px;
}
.pager .page_list {
	margin: 10px 0px;
}
.pager .page_list a {
	color: #555555;
	padding: 6px 3px;
}
.pager .page_list .act {
	color: #555555;
	padding: 6px 4px;
	background: #f9f4d6;
}
.pager .total {
	color: #a3a3a3;
	font-size: 12px;
	padding: 12px 0px 0px 0px;
	float: right;
}
.detailed {
	font-weight:normal;
	font-size:28px;
	font-family:"Open Sans", Arial, Helvetica,sans-serif;
	color:#ff9600;
	padding: 8px 0 10px 0;
	line-height: 28px;
}
span.detailed_full {
	line-height: 20px;
}
span.detailed_tags {
	line-height: 17px;
        color:#555557;
}
.detailed_ingredients li {
	line-height: 20px;
}
.detailed_ingredients_spacer {
	height: 22px;
}
div.detailed {
	padding: 0px 21px 16px 0px !important;	
}
.detailed_stats {
	width: 390px;
	height: 98px;
	float:left;
	text-align:left;
	line-height: 25px;
}
.detailed_actions {
	width: 160px;
	height: 98px;
	float:right;
	text-align:left;
	font-size: 11px;
	line-height: 20px;
}
.detailed_photos {
	clear: left;
	width: 144px;
	height: 24px;
	float:left;
	text-align:center;
	line-height: 22px;
}
.detailed_time {
	width: 455px;
	height: 24px;
	float:right;
	text-align:right;
	line-height: 22px;
}
.detailed_actions a, .detailed_photos a, a.greenLink {
	color: #9fcc04;
	text-decoration:underline;
}
div.col div.slvRating {
	width: 100%;
}
div.detailed_step_photo, div.detailed_step_photo_big {
	margin-top: 10px;
	width: 138px;
	/*height:138px;	*/
	float:left;
	clear:left;
	border: 1px #bdbdbd solid;
}

div.detailed_step_photo_big {
	width: 298px;
}


div.detailed_step_photo_big, div.detailed_step_photo_big a, div.detailed_step_photo_big img {
	border: none;
}

div.detailed_step_description, div.detailed_step_description_big {
	margin-top: 10px;
	width: 460px;
	float:right;
	clear:right;
}
div.detailed_step_description_big {
	width: 300px;
	line-height: 20px;
	padding-top: 10px;
}
div.detailed_step_photo_big img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.transparent { /* this class makes a window partially transparent */
    opacity: .1;               /* Standard style for transparency */
    -moz-opacity: .1;          /* Transparency for older Mozillas */
    filter: alpha(opacity=10);  /* Transparency for IE */
	background-color: #535a62;
}
.warning { /* this class makes a window partially transparent */
	background-color: #b00;
    opacity: .2;               /* Standard style for transparency */
    -moz-opacity: .2;          /* Transparency for older Mozillas */
    filter: alpha(opacity=20);  /* Transparency for IE */

}
.login_wrapper {
	width: 277px;
	height: 195px;
	left: 663px;
	margin: 0;
	padding: 0;
	z-index: 10;
	display: none;
}
.login_wrapper_fancybox {
	width: 350px;
	/*height: 300px;*/
	height: auto;
	margin: 0;
	/*background:#FFF url(images/login/login-bg.gif) bottom right no-repeat;*/
}
#uLogin {
	text-align: center;
}
.ubtn_vk, .ubtn_mail, .ubtn_odkl, .ubtn_ya {
	background: url(images/ulogin/ulogin.png);
	width: 30px;
	height: 30px;
	margin: 3px;
	margin-top: 0;
	padding: 0;
	display: inline-block;
}
.ubtn_small_vk, .ubtn_small_mail, .ubtn_small_ya, .ubtn_small_odkl {
	background: url(images/ulogin/ulogin_25.png);
	width: 25px;
	height: 25px;
	margin: 1px;
	margin-top: 0;
	padding: 0;
	display: inline-block;
}
.ubtnlogin {
	background: url(images/ulogin/login.png);
	width: 76px;
	height: 20px;
	margin: 0px 5px 3px 3px;
	padding: 0;
	display: inline-block;
	border: none;
}
#head .ubtn_vk, #head .ubtn_mail, #head .ubtn_odkl ,#head .ubtn_ya {
	margin: 1px;
}
.ubtn_vk {
	background-position: -30px 0; 
}
.ubtn_mail {
	background-position: -120px 0; 
}
.ubtn_odkl {
	background-position: -60px 0; 
}
.ubtn_ya {
	background-position: -90px 0; 
}
.ubtn_small_vk {
	background-position: -25px 0; 
}
.ubtn_small_mail {
	background-position: -100px 0; 
}
.ubtn_small_odkl {
	background-position: -50px 0; 
}
.ubtn_small_ya {
	background-position: -75px 0; 
}
.login_wrapper_fancybox .social {
	background: #f9f4d6;
	border-top: 1px dashed #D2CDAE;
	border-bottom: 1px dashed #D2CDAE;
	padding: 10px;
}
.login_wrapper_fancybox .title {
	padding: 10px;
}
.login_bg {
	width: 350px;
	height: 185px;
	margin: 0;
	padding: 0;
	z-index: 10;
}
.login_wrapper_fancybox .login_bg {
	width: 350px;
	height: auto;
}
.login_border {
	width: 277px;
	height: 195px;
	margin:0;
	padding:0;
}
.login_wrapper_fancybox .login_border {
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
.login_close {
	width: 226px;
	height: 26px;
	margin:0 0 0 41px;
	padding:0;
	background: url(images/login/login_close.gif) 200px top no-repeat;
	color:#F00;
	line-height: 26px;
	cursor:pointer;
}
.login_header {
	text-transform: uppercase;
	font-weight: bold;
	color: #766c5f;
}
.login_wrapper_fancybox .login_close {
	width: 326px !important;
	margin: 0px 0 0 124px;
}
.login_bg .field {
	width: 168px;
	height: 21px;
	border: 1px solid #c4c4c4;
	padding: 0;
	background-color:#FFF;
	position: relative;
	left: 57px;
	top: -26px;
}
.login_bg .field_row {
	width: 246px;
	height: 33px;
	margin: 0 0 2px 0;
	padding: 0 0 0 21px;
}
.login_bg .field_label {
	width: 57px;
	height: 33px;
	margin: 0;
	padding: 0;
	color: #9fcc04;
	font-weight:bold;
	line-height: 36px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
}
.login_bg .forgot_pass {
	margin: 0 0 0 78px;
	padding:0;
	width: 170px;
	height: 17px;
	line-height: 17px;
}
.login_bg .remember {
	margin: 0 0 0 78px;
	padding:0;
	width: 170px;
	height: 20px;
	line-height: 20px;
}
.login_bg .cb {
	margin:4px 4px 0 0;
	padding:0;	
	position: relative;
	top: 2px;	
}
.login_bg .process_row {
	margin: 0;
	padding: 18px 0 0 0;
}
.login_bg .process_row a {
	text-align: center;
	width: 120px;
	background: #766c5f;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
	line-height: 27px;
	display: block;
	border:none;
	margin:0 auto;
	padding:0;
}
.mcol .top_total .step {
	color: #505050;	
	font-size: 24px;
	line-height:52px;
	padding-left: 12px;
}
span.orange {
	color: #ffa627;	
	font: inherit;
}
span.grey {
	color: #766B5F;	
	font: inherit;
}
.mcol .top_total .step span.orange {
	color: #ffa627;	
	font-size: 24px;
}
.step_description {
	text-align:right;
	line-height: 25px;
}
.step_description span.step_header{
	text-align:right;	
	color: #ffa627;	
	font-family: "Open Sans", Arial, Helvetica,sans-serif;
	font-size: 24px;
}
.recipie_text_row input.text, 
.recipie_text_row select.konkurs,
.recipie_text_row input.smalltext,
.recipie_textarea_row textarea.text,
.recipie_textarea_row2 textarea.text2 {
	font-family:Tahoma, Geneva, sans-serif;
	color:#505050;
	font-size:12px;
	font-weight:normal;
	line-height: 14px;
}
.recipie_text_row input.text, 
.recipie_text_row select.konkurs,
.recipie_text_row input.smalltext,
.recipie_textarea_row textarea.text,
.recipie_textarea_row2 textarea.text2,
.recipie_row3 div.timefields {
	width: 458px;
	height: 19px;
	border:1px solid #bababa;
	margin:0;
	padding:0;
	position: relative;
	left: 148px;
	top: -21px;
	clear: none;
	display:block;
	color: #505050;
}
.recipie_text_row input.smalltext {
	width: 59px;	
}
.recipie_textarea_row div.top_label,
.recipie_textarea_row2 div.top_label {
	width: 200px;
	height: 14px;
	border:none;
	margin:0;
	padding:0;
	position: relative;
	left: 408px;
	top: -133px;
	clear: none;
	text-align:right;
	font-size: 11px;
	color: #999999;
	line-height: 13px;
}
.recipie_textarea_row2 div.top_label {
	left: 408px;
	top: -231px;
}
.recipie_textarea_row textarea.text {
	height: 96px;
	display: block;
}
.recipie_textarea_row2 textarea.text2 {
	height: 194px;
	display: block;
}
.recipie_desc_row {
	border:none;
	margin:4px 0 0 0;
	padding:0 0 0 148px;
	clear: both;
	font-size: 11px;
	color: #999999;
	line-height: 13px;
	width: 460px;
}
.recipie_text_row div.label, 
.recipie_textarea_row div.label,
.recipie_textarea_row2 div.label,
.recipie_row3 div.label
{
	width: 137px;
	height: 19px;
	border:none;
	margin:0;
	padding:2px 0 0 0;
	text-align:right;
	font-weight:bold;
	clear: none;
	line-height: 16px;
}
.recipie_row3 div.label
{
	height: 42px;
	padding-top: 9px;
}
.recipie_text_row, 
.recipie_textarea_row,
.recipie_textarea_row2,
.recipie_row3 {
	margin:30px 0 0 0;
	padding:0;
	border:none;
	clear:both;
	height: 21px;
}
.recipie_textarea_row {
	height: 98px;
}
.recipie_textarea_row2 {
	height: 196px;
}
.recipie_row3 {
	height: 49px;
}
.recipie_row3 div.timefields {
	height: 35px;
	top: -35px;
	border:none;
}
div.timefields div.timerow,
div.timefields div.timerow2 {
	height: 20px;
	margin:0;
	padding:0;
	border:none;
}
div.timefields div.timerow2 {
	margin-top:9px;
}
div.timefields input.time {
	width: 59px;
	height: 18px;
	border:1px solid #bababa;
	margin:0;
	padding:0;
	display:block;
	color: #505050;
}
div.timefields select.time {
	width: 98px;
	height: 20px;
	position: relative;
	left: 65px;
	top: -20px;
	border:1px solid #bababa;
	margin:0;
	padding:0;
	display:block;
	color: #505050;
}
div.timefields div.desc {
	width: 270px;
	height: 20px;
	position: relative;
	left: 170px;
	top: -40px;
	border: none;
	margin:0;
	padding:0;
	line-height:18px;
	color: #505050;
}
div.step_comment {
	height: 60px;
	text-align:center;
	line-height: 60px;
	margin:0;
	padding:0;
	border:0;
	color: #505050;
}
div.step_comment a {
	color: #9fcc04;
	text-decoration:underline;
}
a.next, a.complete, a.loginBig, a.stepBack {
	width: 233px;
	height:50px;
	margin:0 auto;
	padding:0;
	margin-bottom:55px;
	display:block;
	border:none;
}
a.next {
	background: url(images/recipie/add_next_233x50.gif) left top no-repeat;
}
a.complete {
	background: url(images/recipie/recipie_complete_233x50.gif) left top no-repeat;
}
a.loginBig {
	background: url(images/login/login_233x50.gif) left top no-repeat;
}
div.recipie_tags {
	background: #f9f4d6 url(images/recipie/tags_top_611x10.gif) left top no-repeat;	
	width: 611px;
	margin:0;
	padding: 0;
	border:none;
	margin-top: 30px;
	padding-top: 1px;
}
div.recipie_tags_bottom {
	background: #f9f4d6 url(images/recipie/tags_bottom_611x10.gif) left bottom no-repeat;	
	width: 611px;	
	height: 10px;
	margin:0;
	padding: 0;
	border:none;
}
div.xmlTreeClient a {
	font-family: Tahoma, Geneva, sans-serif;
	font-size:11px;
	font-weight:bold;
	color: #837a6e !important;
}
div.xmlTreeClient, div.xmlTreeCatNameClient {
	background-color:#FFF;
	width:265px;
	margin: 0 10px 0 10px;
	padding:10px;
	border: none;
}

div.xmlTreeCatNameClient {
	font-size: 18px;
	color:#ff8400;
	font-family:Tahoma, Geneva, sans-serif;
	padding:10px;
	margin-top: 10px;
	padding-bottom: 0;
	background-image:url(images/recipie/tag_top_285x5.gif);
	background-repeat:no-repeat;
	background-position:top left;

}
.tree .ltr li.last {
	/*float:none !important;*/
}
div.xmlTreeCatClient {
	width: 305px;
	float:left;
}
div.xmlTreeSecondCol {
	clear:none;
}
div.xmlTreeClient {
	background-image:url(images/recipie/tag_bottom_285x5.gif);
	background-repeat:no-repeat;
	background-position:bottom left	
}

div.addPhoto {
	background: #fff url(images/recipie/addphoto_content_358x1.gif) repeat-y;
	width:358px;
	padding:0;
	margin: 0 auto;
}
div.addPhoto div {
	margin:0;
	padding:0;
	background-repeat:repeat-y;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
}
div.addPhoto div.wndTop {
	background-image:url(images/recipie/addphoto_top_358x10.gif);
	height:10px;
}
div.addPhoto div.wndTitle {
	background-image:url(images/recipie/addphoto_head_358x1.gif);
	height:20px;
	font-size: 12px;
	line-height: 12px;
	color: #9fcc04;
	font-weight:bold;
	padding-left:25px;
}
div.addPhoto div.wndContentTop {
	background-image:url(images/recipie/addphoto_content_top_358x5.gif);
	height:5px;
}
div.addPhoto div.wndContent {
	background-image:url(images/recipie/addphoto_content_358x1.gif);
	padding: 5px 25px 5px 25px;
}
div.addPhoto div.wndContentSplitter {
	background-image:url(images/recipie/addphoto_content_splitter_358x1.gif);
	height: 1px;
	clear:both;
}
div.addPhoto div.wndFooter {
	background-image:url(images/recipie/addphoto_footer_358x23.gif);
	height:23px;
}
div.addPhoto a.wndNext, div.addPhoto a.wndProceed, div.addPhoto a.wndCancel {
	background:url(images/recipie/addphoto_next_125x23.gif) no-repeat;
	width: 125px;
	height:23px;
	display:block;
	border:none;
	padding:0;
	margin: 5px 0 1px 180px;
}
div.addPhoto a.wndProceed, div.addPhoto a.wndCancel {
	float: left;
	margin-left: 0;
}
div.addPhoto a.wndCancel {
	background:url(images/btn/btn_cancel_79x23.gif) no-repeat;
	width: 79px;
	margin-left: 92px;
	margin-right: 10px;
}
div.addPhoto div.wndContent span.bold {
	color: #505050;
	font-weight:bold;
	font-size:inherit;
}
div.addPhoto div.wndContent input.wndFilePicker {
	margin-top: 5px;
	margin-bottom: 5px;
}
div.addPhoto div.wndContent li {
	color: #505050;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	line-height: 19px;
	list-style-image: url(images/recipie/li2.gif) !important;
	color:#999999;
}
div.addPhoto ul {
	margin-bottom: 10px;
	margin-top: 5px;
}
div.addPhoto div.wndTitle a.wndClose {
	display: block;
	background-image:url(images/recipie/addphoto_close_9x9.gif);
	margin:0;
	padding:0;
	border:none;
	width: 9px;
	height: 9px;
	position:relative;
	left: 310px;
	top: -10px;
}
.displayNone {
	display: none;	
}
.displayNever {
	display: none !important;	
}
div.hoverDel {
	display:block;
	width:138px;
	height:92px;
	position:relative;
	top: -95px;
	left: 3px;
	float:left;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
	margin-bottom: -92px;
	background-image:url(images/recipie/transparent.gif);
}
div.hoverDel a {
	opacity: .7;
    -moz-opacity:;
    filter: alpha(opacity=70);
	background-color:#FFF;
	display:block;
	width: 100%;
	height: 20px;
	font-size: 11px;
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
	border:none;
	text-decoration:none;
	line-height: 19px;
	margin-top: 0px;
	text-align:center;
}
div.hoverDel a:hover {
	opacity: 1 !important;
    -moz-opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
div.noDescription {
	padding-top: 0 !important;	
}
div.ajaxHeader {
	height: 40px;
	margin-top: 16px;
	margin-bottom: 20px;	
}
div.ajaxHeader div.label {
	width: 126px;
	height: 40px;
	padding-right: 14px;
	text-align:right;
	color:#505050;
	font-weight:bold;
	line-height: 20px;
}
div.ajaxHeader a.button {
	width: 107px;
	height: 23px;
	background-color:blue;
	position:relative;
	top: -40px;
	left: 140px;
	display:block;
	background-image:url(images/recipie/ajax_add_107x23.gif);
}
div.ajaxHeader div.hint {
	width: 430px;
	height: 17px;
	position:relative;
	top: -40px;
	left: 140px;
	line-height: 17px;
	font-size:11px;
}
div.wide {
	clear: both;	
}
div.detailed_step_thumb {
	margin-top: 8px;
	width: 138px;
	height:138px;	
	float:left;
	clear:left;
	border: 1px #bdbdbd solid;
	padding: 2px;
}
div.hoverStep {
	left: -141px;
	top: 11px;
}
div.wndTitle span {
	color: inherit;	
}
div.wndContent textarea.itemDesc {
	margin-bottom: 5px;
	margin-top: 5px;
	width: 300px;
	height: 50px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;
	display:block;
}
div.wndContent input.itemName, div.wndContent select.select {
	margin-bottom: 5px;
	margin-top: 5px;
	width: 300px;
	height: 16px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;
	display:block;
}
div.wndContent select.select {
	width: 306px;
	height: 23px;
	display:block;
}
table.ingTable {
	border: 1px solid #ddd;
	border-left: none;
	border-bottom: none;
	margin-top: 10px;
}
table.ingTable td, table.ingTable th {
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	height: 20px;
	color: #505050;
}
table.ingTable td {
	padding-left: 5px;
}
table.ingTable tr.gray td {
	background-color: #fafafa;
}
table.ingTable th {
	background-color: #f9f4d6;
}
table.ingTable td a {
	text-decoration: none;	
}
table.ingTable td a:hover {
	text-decoration: underline;	
}
div.hoverStep a.stepEdit {
	margin-top: 52px !important;
}
div.hoverStep a.stepDelete {
	margin-top: 0px !important;
}
span.red {
	color: #F00;
	font-size:inherit;
}
div#ajaxPhotoContainer {
	margin-bottom: -16px;
	margin-top: 8px;
}
div.top_detail_label {
	height: 19px;
	border:none;
	margin:0;
	padding:2px 0 0 20px;
	font-weight:bold;
	clear: none;
	line-height: 16px;
}
table.regform td {
	vertical-align:middle;
}
table.regform td.label {
	font-weight:bold;
	text-align:right;
}
table.regform td.top {
	vertical-align:top;
	padding-top: 10px;
}
table.regform input.value {
	width: 320px;
	height: 15px;
	display:block;
	float: left;
}
table.regform textarea.value {
	width: 320px;
	height: 100px;
	display:block;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 12px;
}
table.regform select.value {
	width: 326px;
	height: 23px;
	display:block;
	float: left;
}
/* user profile */
.user_info {
	margin: 0 0 24px 0;
}
.user_info p {
	padding: 0; margin: 1px 0;
}
.user_info .thumb {
	border: 1px rgba(0,0,0,0) solid;
	border-radius: 50%;
	float: left;
	margin: 0 10px 0 0;
}
.user_info .thumb {
	border: 1px #bdbdbd solid;
	float: left;
	margin: 0 10px 0 0;
}
.user_info .action_refs {
	float: right;
	width: 145px;
}
.user_info .action_refs a {
	height: 22px;
	line-height: 22px;
	padding: 0 0 0 26px;
}
.user_info .ico_email {
	background: url(images/ico16/email.gif) left center no-repeat;
}
.user_info .ico_search {
	background: url(images/ico16/search.gif) left center no-repeat;
}
.user_info .nik_name {
	color: #766c5f;
	font-size: 18px;
	float: left;
	padding-right: 10px;
}
.user_star {
	margin: -6px 8px -6px 0;
}
.user_info .dates {
	margin: 12px 0;
	line-height: 16px;
}
.user_info .dates .label {
	margin: 0 10px 0 0;
}
.user_about {
	margin: 0 0 24px 0;
	padding: 0;
}
.user_rec_count {
	color: #84c010;
	text-decoration: underline;
	margin: 0 4px;
}
.user_star {
	margin: -6px 0 -6px 0;
}
.frm_invite {
	margin: 0 0 36px 0;
}
.frm_invite .email {
	color: #b2ada5;
	border: 1px #bababa solid;
	width: 120px;
	padding: 2px 20px;
	margin: 0 6px 0 0;
}
.frm_invite .btn {
	margin: -5px 0 -5px 0;
}
.user_tip_list {
	padding: 0; margin: 0;
}
.user_tip_list p {
	padding: 8px 0;
}
.user_tip_list .row {
	padding: 0 0 14px 0;
	margin: 0;
}
.user_tip_list .thumb {
	border: 1px rgba(0,0,0,0) solid;
	border-radius: 50%;
	float: left;
	margin: 0 10px 0 0;
}
.r_master, .r_master div {
	margin: 0;
	padding: 0;
	border: none;
}
.r_master {
	margin: 10px 10px 0 10px;
}
.r_master .r_master_wide_topleft {
	background: #FFF url(images/recipie/con_lt_10x10.gif) no-repeat;
	padding-left: 10px;
}
.r_master .r_master_wide_topright {
	background: #FFF url(images/recipie/con_rt_10x10.gif) no-repeat right;
	padding-right: 10px;
}
.r_master .r_master_wide_top {
	background: #FFF url(images/recipie/wide_t_1x10.gif) repeat-x;
	height: 10px;
}
.r_master .r_master_wide_left {
	background: #FFF url(images/recipie/wide_l_10x1.gif) repeat-y;
	padding-left: 10px;
}
.r_master .r_master_wide {
	background: #FFF;
}
.r_master .r_master_wide_right {
	background: #FFF url(images/recipie/wide_r_10x1.gif) repeat-y right;
	padding-right: 10px;
}
.r_master .r_master_wide_botleft {
	background: #FFF url(images/recipie/con_lb_10x10.gif) no-repeat;
	padding-left: 10px;
}
.r_master .r_master_wide_botright {
	background: #FFF url(images/recipie/con_rb_10x10.gif) no-repeat right;
	padding-right: 10px;
}
.r_master .r_master_wide_bot {
	background: #FFF url(images/recipie/wide_b_1x10.gif) repeat-x;
	height: 10px;
}
.r_master .r_master_line {
	border-bottom: 1px solid #f2eacb;
	font-weight:bold;
	margin-left: -7px;
	margin-right: -7px;
	padding-left: 7px;
	padding-right: 7px;
	line-height: 18px;
	height:18px;
}
.r_master .r_master_line a {
	display:block;
	background:url(images/recipie/r_master_del_11x18.gif);
	width:11px;
	height: 18px;
	float:right;
	clear:none;
	margin:0;
	padding:0;
	border:none;
}
.r_master .r_master_dots {
	height: 1px;
	background: url(images/recipie/r_master_dots_4x1.gif) repeat-x center center;
	padding-top: 13px;
	padding-bottom: 13px;
}
.r_master .r_caption {
	margin-bottom: 23px;
}
.r_master .r_master_count {
	font-family:"Open Sans", Arial, Helvetica,sans-serif;
	color: #ff8400;
	font-size:24px;
	line-height:24px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.r_master a.r_master_filter {
	display:block;
	background:url(images/recipie/btn_show_filtered_176x23.gif);
	width: 176px;
	height:23px;
	border:none;
}
div#tagMasterSummaryHidden {
	display: none;	
}
a.addRecipieButton {
	display:block;
	background-image:url(images/recipie/btn_add_recipie_164x29.gif);
	width: 164px;
	height: 29px;
	border:none;
	margin:0;
	padding: 0;
	float: right;
	position:relative;
	top: -23px;
	right: 29px;
}
a.addCBButton {
	display:block;
	background-image:url(images/recipie/create_cb_239x29.gif);
	width: 239px;
	height: 29px;
	border:none;
	margin:0;
	padding: 0;
	float: right;
	position:relative;
	top: -29px;
	right: 29px;
	margin-bottom: -20px;
}
.previewStripe .previewThumb {
	border: 1px #bdbdbd solid;
	margin: 0px 10px 0px 0px;
	float: left;
	display:block;
	padding: 1px;
}
.previewStripe {
	margin: 0;
	padding: 0;
	height: 71px;
	float: left;
}
.previewStripeHidden {
	display:none;
}
.previewStripeWrapper {
	margin: 0;
	padding: 0;
	height: 71px;
	float:left;
}
.previewWrapper {
	margin: 0;
	padding: 0;
	height: 71px;
}
.previewWrapper a.btnScrollLeft, .previewWrapper a.btnScrollRight {
	margin: 0;
	padding: 0;
	border: none;
	display:block;
	width: 13px;
	height: 71px;
}
.previewWrapper a.btnScrollLeft {
	background-image: url(images/recipie/gal_scroll_l.gif);
	margin-right: 10px;
	float:left;
}
.previewWrapper a.btnScrollRight {
	background-image: url(images/recipie/gal_scroll_r.gif);
	margin-right: 22px;
	float:right;
}
.gallereyImage {
	width: 607px;
	height: 407px;
	padding:9px 0 0 0;
	margin:0;
	clear:both;
}
a.gallereyWrapper {
	display: block;
	margin: 0;
	padding: 0;
	border: none;
	text-decoration:none;
	color:#b1a699;
	font-size: 11px;
}
.numActive {
	font-size: 24px !important;
}
/* -- */

.recipie_tags_master div.xmlTreeCatClient {
	width: 210px;
	float:left;
}
.recipie_tags_master div.xmlTreeCatNameClient {
	background-image:url(images/recipie/tag_top_190x5.gif) !important;
}
.recipie_tags_master div.xmlTreeClient {
	background-image:url(images/recipie/tag_bottom_190x5.gif) !important;
}
.recipie_tags_master div.xmlTreeCatClient * {
	font-size: 11px !important;
}
.recipie_tags_master div.xmlTreeClient, .recipie_tags_master div.xmlTreeCatNameClient  {
	width:170px;
	overflow:hidden;
	font-size: 14px !important;
	margin-right: 0;
}
.recipie_tags_master div.xmlTreeSecondCol div.xmlTreeCatNameClient, .recipie_tags_master div.xmlTreeSecondCol div.xmlTreeClient  {
	margin-left: 0;
}
.recipie_tags_master div.xmlTreeSecondCol {
	width: 190px;
}

.recipie_tags_master div.xmlTreeCatClient ul {
	margin-left: -5px;
}
.recipie_tags_master div.xmlTreeCatClient ul li {
	margin-left: 0px;
}

.r_master {
	float: left;
	width: 192px;
	margin-right: 0;
}
.r_master .r_master_filter {
	margin-left: -2px;	
}
.r_master .r_master_line {
	font-size: 9px !important;
}
.user {
	float:left;
	width: 300px;
	height: 71px;
	margin: 0px 2px 18px 0px;
}
.username {
	float:left;
	width: 300px;
	height: 20px;
/*	margin: 0px 2px 18px 0px; */
} 
.user .avatar {
	width: 49px;
	height: 49px;
	float:left;		
}
.user .avatar img {
	width: 49px;
	height: 49px;
	border: 1px rgba(0,0,0,0) solid;
	float: left;
	margin: 0px;
	border-radius: 50%;
}
.user .star {
	float:left;
	width: 37px;
	height: 51px;
	padding-left: 8px;
}
.user .links {
	float:left;
	width: 208px;
	height: 51px;
}
.user .links a {
	color:#9FCC04;
	text-decoration:underline;
	font-size: 11px;
	line-height: 11px;
	display:block;
	border:none;
	margin-bottom: 7px;
}
.wndContent .previewThumb {
 	width: 138px;
	height:92px;
	overflow:hidden;
	float:right;
}
.cropLegend {
	float:left;
}

div#ajaxCropContainer {
	margin-top: 10px;	
}
a.listRecipieTitle {
	color: inherit;
	text-decoration:none;
}
a.listRecipieTitle:hover {
	text-decoration:underline;
}
div.cookbook_big {
	background: #fff url(images/recipie/cookbook_big_193x156.jpg) no-repeat;
	width: 193px;
	height: 156px;
	float:left;
	margin: 0 13px 20px 0;
}
.cookbook_list {
	margin: 0 -10px 0 0;
	float:left;
	width: 618px;
	padding:0;
}
.cookbook_big a.booktitle {
	color: #9FCC04;	
	font-family:"Open Sans", Arial, Helvetica,sans-serif;
	font-size: 16px;
	font-weight:bold;
	text-decoration: none;
	width:147px;
	height:86px;
	display:block;
	float:left;
	border:none;
	margin:0;
	padding:19px 4px 0 13px;
}
.cookbook_big div.bookcontent {
	height: 16px;
	float:left;
	clear:both;
	width:193px;
}
.cookbook_big div.bookcontent .bookcontent_right {
	float: right;	
	padding-right: 13px;
	color: #FFA627;
	font-weight:bold;
}
.cookbook_big div.bookcontent .bookcontent_left {
	float: left;	
	padding-left: 13px;
	color: #878787;
}
.cookbook_big a.delete {
	display:block;
	float:left;
	width:18px;
	height: 17px;
	margin: 8px 0 6px 0;
	padding: 0;
	background:url(images/recipie/cbk_del_17x17.gif) no-repeat;
	border:none;
}
.cookbook_big a.edit {
	display:block;
	float:left;
	width:18px;
	height: 17px;
	margin: 0;
	padding: 0;
	background:url(images/recipie/cbk_edit_18x17.gif) no-repeat;
	border:none;
}
.cookbook_big a.share {
	display:block;
	float:right;
	width:25px;
	height: 18px;
	margin: 4px 8px 0 0;
	padding: 0;
	background: url(images/recipie/cbk_world_25x18.gif) no-repeat;
	border:none;
}
.cookbook_big a.private {
	background:url(images/recipie/cbk_private_25x17.gif) no-repeat !important;	
}
.cookbook_big div.bookdate {
	display:block;
	float:left;
	color: #FFA627;
	padding-left: 13px;
	padding-top: 5px;
}
/*catbox*/
.catbox {
	width: 608px;
	background: #fbf8e7 url(images/catbox/bg.gif) left top repeat-y;
	margin: 0 0 14px 0;
}
.catbox h1 {
	color: #776c5f;
	font-size: 16px;
	font-weight: bold;
	height: 31px;
	line-height: 31px;
	padding: 0 12px;
	background: url(images/catbox/h_bg.gif) left top repeat-y;
}
.catbox h2 {
	color: #9fcc04;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 0 18px 10px;
}
.catbox .bott {
	height: 37px;
	padding: 8px 7px 0 7px;
	background: url(images/catbox/bott_bg.gif) left top repeat-y;
}
.catbox .menu {
	width: 130px;
	padding: 4px 4px 4px 10px;
	float: left;
	height: 205px;
	/*height: 315px;*/
	overflow: hidden;
	margin-bottom: -1px;
}
.catbox .menu ul,
.catbox .menu li {
	padding: 0;
	margin: 0;
	list-style: none;
}
.catbox .menu li {
	padding: 4px 0;
}
.catbox .menu a {
	color: #555557;
}
.catbox .menu a:hover {
	color: #ff8400;
}
.catbox .photo {
	width: 464px;
	float: left;
}
.catbox .thumb {
	border: 1px #bdbdbd solid;
	margin: 0 0 10px 10px;
	float: left;
}
.catbox .thumb:hover {
	border: 1px #de7300 solid;
}
.catbox .thumb img {
	border: 1px #FFFFFF solid;
}
/*/catbox*/
.profileavatar {
	padding-left: 161px;
}
.profileavatar img{
	margin: 0;
	padding: 0;
}
.loadavatar {
	background:url(images/profile/profile_load_avatar_180x23.gif) no-repeat;
	display:block;
	border:none;
	width:180px;
	height:23px;
	float:left;
	margin:45px 0 0 24px;
	padding:0;
}
.semiTransparent {
    opacity: .4;
    -moz-opacity: .4;
    filter: alpha(opacity=40);
}
.cookbook_small {
	border-bottom: 1px solid #f3eacb;
	margin-bottom: 15px;
	padding-bottom: 10px;
}
.cookbook_small div.booktitle {
	background: url(images/recipie/cookbook_icon_48x38.jpg) top left no-repeat;
	padding-left: 61px;
	padding-bottom: 10px;
}
.cookbook_small a.booktitle, .cookbook_small h1.booktitle {
	color: #ff9501;	
	font-family:"Open Sans", Arial, Helvetica,sans-serif;
	font-size: 16px;
	font-weight:bold;
	text-decoration: none;
	border:none;
	margin:0;
	padding: 0;
}
.cursorHand {
	cursor: pointer;
}
form#contact {
	font-size: 11px;
	line-height: 12px;
}
form#contact .input, form#contact .textarea, form#contact .select {
	width: 220px;
	height: 16px;
	margin: 5px;
	display:block;
	border: 1px solid #bababa;
}
form#contact .textarea {
	height: 100px;
	width: 330px;
}
form#contact .select {
	width: 224px;
	height: 20px;
}
form#contact td.label {
	text-align:right;
	vertical-align:top;
	padding-top: 9px;
	font-weight:bold;
}
form#contact span.red {
	display: none;	
}
div.contact_send {
	cursor: pointer;
	background: transparent url(images/btn/btn_send_105x23.gif) top left no-repeat;
	width: 105px;
	height: 23px;
	float:left;
	margin-left: 120px;
	margin-top: -20px;
	margin-bottom: 20px;
	
}
div.contact_comment {
	float:left;
	margin-left: 120px;
	clear:both;
}
td.error .input, td.error .textarea, td.error .select{
	background-color: #FFEEEE;
}
#addBookForm .wndFilePicker, #addSuiteForm .wndFilePicker {
	width: 236px !important;
}
.recipie_detailed div#sitemapSplitter {
	margin-right: 25px;
}
textarea.commentFormText {
	width: 470px;
	height: 120px;
	border: 1px solid #bababa;
	display:block;
	margin: 0;
	padding: 3px;
	background: #fff;
	/*margin-top: 8px;*/
}
div.commentFormActions {
}
div.commentFormActions a {
	color: #9FCC04;
	text-decoration: underline;
	font-size:11px;
	line-height: 27px;
}
div.commentFormActions a.sendBtn {
	display:block;
	float:right;
	clear:right;
	background-image:url(images/btn/btn_add_comment_105x23.gif);
	width: 105px;
	height:23px;
	margin-right: 130px;
	cursor:pointer;
	margin-top: 9px;
}
img.smile {
	margin-bottom: -5px;	
}
div.smile {
	width: 385px;
	display:none;
	text-align:center;
}
div.smile img.smile {
	margin-bottom: 0px;	
	cursor:pointer;
}
div.rcpVote {
	width: 100%;
	float:left;
}
div.rcpVoteHdr, div.rcpVoteFtr, h3.rcpVoteHdr {
	width: 100%;
	float:left;
	text-align:center;
	line-height: 12px;
}
div.rcpVoteFtr {
	color: #555555;
	font-size:11px;
}
div.rcpVoteHdr, h3.rcpVoteHdr {
	color: #766c5f;
	font-size:13px;
	font-weight:bold;
	margin-top: 65px;
}
div.gallerey div.rcpVoteHdr {
	margin-top: 20px;
}
div.addComment {
	height: 10px;
}
div.rcpSeeAlso {
	padding-top: 12px;
	width: 280px;
	float:left;
	line-height: 20px;
	font-size:13px;
	color: #766c5f;
}
div.rcpSeeAlso a {
	color: inherit;	
}
div.addActions {
	float: right;
	width: 155px;
	margin-bottom: 30px;
}
div.addActions a {
	color: #ff8400;	
}
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
span.detRating {
	color: #9fcc04;
	font-size: 18px;
}
a.greenLink {
	font-weight: normal;	
}
div.alignRight {
	text-align: right;
	padding-right: 20px;
}
div.gal div.slvRating {
	padding-left: 240px;	
}
.cookbook_small_noline {
	border: none;
	margin-top: -10px;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
.cookbook_small_noline a.booktitle {
	font-size: 24px;
	font-weight:normal;
}
.cookbook_small div.booktitle {
	background: url(images/recipie/cookbook_icon_48x38.jpg) left 4px no-repeat;
}
a.addBookInline, a.ok {
	display:block;
	background-image:url(images/btn/btn_ok_54x23.gif);
	width: 54px;
	height: 23px;
	border:none;
	margin:0;
	padding: 0;
	margin-top: 4px;
	margin-right: 3px;
}
a.addBookInline {
	float: right;
}
a.ok {
	margin-left: 251px;	
}
a.createAcc {
	display:block;
	background-image:url(images/btn/btn_create_acc_159x23.gif);
	width: 159px;
	height: 23px;
	border:none;
	margin:0;
	margin-left: 165px;
	padding: 0;
}
table.regtable input.value {
	width: 211px;
}
table.regtable select.value {
	width: 170px;
}
div.regnews {
	float: right; width: 410px;	
}
input.regnews {
	display: block;
	float:left;
	margin-top: 7px;
}
div.regcomment {
	padding-left: 130px;
}
#head a.pmb {
	border: none;
	text-decoration:none;
}
#head a.pmb img {
	border: none;
}
#head a.pmb:hover span {
	text-decoration:underline;
}
div.fancyLightBox {
	border: 10px solid #FFF;
	border-bottom-width: 1px;
	line-height: 30px;
	font-size:24px;
	text-align:right;
	cursor:pointer;
}
div.fancyLightBox a {
	text-decoration:none !important;
	color:inherit;
	cursor:inherit;
}
div.fancyLightBox a.close {
	background: url(images/btn/close.gif) right center no-repeat;
	display:block;
	width: 103px;
	height: 30px;
	float:right;
}
div.fancyLightBox img {
	border: none;
}
h1.tags {
	font-size: 18px;	
}
a.back2first {
	display:block;
	text-align: left;
	margin: 0;
	margin-top: -14px;
	padding: 0;
	line-height: 14px;
	font-size: 12px;
	padding: 0px 10px 0px 22px;
}
.rcperrors {
	margin-left: 20px;	
}
.form_errors li {
	color: #F00;
}
.recipe a.delete, .user_tip_list a.deleteComment, .cookbook_small a.delete {
	display:block;
	float:right;
	width:18px;
	height: 17px;
	padding: 0;
	margin-top: -2px;
	margin-left: 10px;
	background:url(images/recipie/cbk_del_17x17.gif) no-repeat;
	border:none;
}
.recipe a.edit, .cookbook_small a.edit {
	display:block;
	float:right;
	width:18px;
	height: 17px;
	padding: 0;
	margin-top: -2px;
	margin-left: 10px;
	background:url(images/recipie/cbk_edit_18x17.gif) no-repeat;
	border:none;
}
.recipe a.clone {
	display:block;
	float:right;
	width:18px;
	height: 17px;
	padding: 0;
	margin-top: -2px;
	margin-left: 10px;
	background:url(images/recipie/cbk_clone_17x17.gif) no-repeat;
	border:none;
}
.cookbook_small a.edit {
	margin-right: 10px;
}
.cookbook_small a.detailedEdit {
	margin-top: -12px;
}
.recipe span.moderation {
	cursor:default;
	display:block;
	float:right;
	width:17px;
	height: 17px;
	padding: 0;
	margin-top: -2px;
	margin-left: 10px;
	background:url(images/btn/moder.gif) no-repeat;
	border:none;
}
.recipe a.moderation {
	display:block;
	float:right;
	width:73px;
	height: 17px;
	padding: 0;
	margin-top: -2px;
	margin-left: 10px;
	border:none;
	background:url(images/btn/odobril.gif) no-repeat;
}

.recipe a.cron {
	display:block;
	float:right;
	width:73px;
	height: 17px;
	padding: 0;
	margin-top: -2px;
	margin-left: 10px;
	border:none;
	background:url(images/btn/cron.gif) no-repeat;
}

.recipe a.konkurs {
	display:block;
	float:right;
	width:73px;
	height: 17px;
	padding: 0;
	margin-top: -2px;
	margin-left: 10px;
	border:none;
	background:url(images/btn/konkurs.gif) no-repeat;
}

.detailedIcon {
	position: relative;	
	top: -20px;
}
a.redLink {
	color: #f00;
	text-decoration:underline;
	font-weight: normal !important;
}
.profileStar {
	position:relative;
	top: 4px;
}
.listStar {
	position:relative;
	top: -4px;
	left: 2px;
}
a.stepBack {
	width: 233px;
	height:50px;
	/*margin:0 auto;*/
	float:left;
	padding:0;
	margin-bottom:55px;
	display:block;
	border:none;
	background: url(images/btn/btn_back_233x50.gif) left top no-repeat;
	margin-left: 60px;
    opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity=50);
}
a.stepBack:hover {
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
}
a.stepForward {
	float: right;
	margin-right: 60px;
}
.gallerey_zoom {
	color:#b1a699;
	font-size: 11px;
	line-height: 20px;
	padding-top: 5px;
}
.gallerey_zoom img {
	border:none;
}
.displayBlock {
	display: block;	
}
a.addRcpGal {
	font-size: 11px;
	text-align:right;
	display:block;
	padding-right: 22px;
	padding-bottom: 5px;
	line-height: 11px;
	margin-top: -6px;
}
a.backGal {
	font-size: 11px;	
}
#add2BookForm select {
	width: 100%;	
}
div.photoDate {
	font-size: 11px;
	line-height: 14px;
	padding: 0;
}
a.emailPass {
	position: relative;
	width: 300px;
	display: block;
	text-align: right;
	margin-right: 0;
	padding-right: 0;
	left: 147px;
	top: -60px;
}
div.constructTagHint1 {
	height: 34px;
	font-size: 24px;
	color: #9fcc04;
	font-weight:normal;
	width: 349px;
	padding-left: 14px;
	line-height: 24px;
	padding-top: 19px;
	float: left;
}
div.constructTagHint2 {
	height: 32px;
	font-size: 11px;
	color: #b1a699;
	font-weight:normal;
	line-height: 14px;
	padding-top: 17px;
	float: left;
}

div#loginPreloader, div#logoffPreloader, div.windowPreloader {
	background-image:url(images/preloader/small.gif);
	width: 43px;
	height: 11px;
	margin: 0;
	padding:0;
	display:none;
}

div#loginPreloader {
	position: relative;
	top: -17px;
	left: 22px;
}

div#logoffPreloader {
	position: relative;
	top: -14px;
	left: 330px;
}

div.windowPreloader {
	display: block;
	float:left;
	position:relative;
	top: 10px;
}
.ajaxErrorMsg {
	background-color: #f9f4d6;
	float: none;
	margin: 0 !important;
	padding: 0 !important;
	border-bottom: 1px solid #ff0000;
	color: #000000 !important;
}
.ajaxErrorMsg span {
	color: #000000 !important;
	margin: 5px !important;
}
.ajaxErrorMsg * {
	margin: 0 !important;
	padding: 0 !important;
}
/* star fixes */
img.star, img.listStar, img.user_star, img.stars {
	display: none !important;
}
img.star.profileStar {
	display: inline !important;
}
div.star {
	width: 28px !important;	
}
/* end of star fixes */

div.footerBanner {
	padding: 0px 10px 0px 0px;
	width: 600px;
}

div.article {
	line-height: 20px;
	position: relative;
}
div.article div.expander{
	display:none;
	position: absolute;
	top: 122px;
	color: #ff8400;
	text-decoration: underline;
	cursor: pointer;
}
div.article .detailed {
	font-size: 24px;
	display:block;
	margin: 0px;
	padding: 6px 0px 10px 0px;
}
div.article.collapsed {
	height: 140px;
	overflow: hidden;
}
div.article.collapsed div.expander{
	display:block !important;
}
div.recipiePreloaderInactive {
	display:none;
}
div.recipiePreloader {
	height: 100px;
	background: url('images/preloader/master.gif') center center no-repeat;
}
div.extLogin {
	position: relative;
	left: 630px;
	top: -210px;
	width: 200px;
	height: 86px;
	margin-bottom: -86px;
}
a.vkLogin {
	background-image: url('images/social/vkontakte_158x21.gif');
	width: 158px;
	height: 21px;
	display: block;
}
a.fbLogin {
	margin-top: 3px !important;
	background-image: url('images/social/facebook_158x18.gif');
	width: 158px;
	height: 18px;
	display: block;
}
a.mrLogin {
	margin-top: 3px !important;
	background-image: url('images/social/mailru_158x18.gif');
	width: 158px;
	height: 18px;
	display: block;
}
div.bookmarks {
	padding-top: 25px;
	float: left;
}
div.bookmarks div.sh {
	clear:both;
	margin: 0;
	padding: 0;
	font-weight: bold;
	margin-bottom: 8px;
	margin-left: 3px;
}
div.bookmarks a, div.bookmarks img {
	border: none;
}
div.banner_underblock {
	height: 10px;
	padding-left: 70px;
	padding-top: 15px;
	padding-bottom: 10px;
}
img.printico {
	margin-left: 10px;
	display: block;
	position: relative;
	top: -16px;
	left: 65px;
	cursor: pointer;
}
input.e2fl1, input.e2fl, input.e2fr1, input.e2fr {
	width:140px; margin-right: 8px; margin-top: 8px;
}
input.e2fr1, input.e2fr {
	margin-right: 0px;
}
input.e2fl, input.e2fr {
	margin-top: 5px;
}
input.e2flg {
	color: #aaa;
}
div.ingredients_wrapper {
	width: 420px;
	float: left;
        color:#555557;
}
div.ingredients_ad {
	width: 180px;
	height: 150px;
	float: right;
	overflow: hidden;
}
div.menu_ad {
	height: 60px;
	background-color: #f0f0f0;
	margin-bottom: 10px;
	width: 950px;
	overflow: hidden;
}
div.top_ad {
    margin-top: 10px;
    margin-bottom: 10px;
	overflow: hidden;
}
div.menu_ad {
	display: none;
}
div.youtubelogo, div.rutubelogo {
	height: 35px;
	float: left;
	margin: 0;
	padding: 0;
	background-image: url('images/youtube.jpg');
	width: 66px;
}
div.rutubelogo {
	background-image: url('images/rutube.jpg');
	width: 81px;
	margin-left: 10px;
}
div.videosvc {
	height: 35px;
	float: left;
	margin: 0;
	padding: 0;
	padding-right: 10px;
	font-weight: bold;
	font-size: 11px;
	line-height: 35px;
	color: inherit;
}
.flashvideo {
	padding-left: 21px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.flashvideodetailed {
	float: left;
}
.detailed_time_video {
	line-height: 18px;
	padding-bottom: 8px;
}
.heightAuto {
	height: auto;
}
.videorecipe {
	margin: 0px;
}
.smallStar {
	background: url(http://povar.ru/skins/recipie/images/stars/star.gif) bottom left no-repeat;
	padding-left: 17px;
	line-height: 17px;
	margin-left: 3px;
}
.videobanner {
	float: left;
	width: 125px;
	height: 125px;
}
.videonew {
	background: url('images/videorecipie_link_24x64.jpg') top left no-repeat;
	text-transform: uppercase;
	color: #505050;
	font-size: 18px;
	line-height: 20px;
	padding-left: 35px;
	margin-top: 27px;
	margin-left: 42px;

}
.reg_for_commenting {
	background-color: #F9F4D6;
	padding: 20px;
	border: 1px solid #e7e2c4;
}
div.wikisearch {
	width: 338px;
	height: 28px;
	margin: 5px 0 0 0;
	padding: 0;
 }
div.wikisearch input {
	display: block;
	float: left;
	width: 239px;
	height: 24px;
	margin: 1px 0 0 0;
	padding: 0 0 0 7px;
	border: 1px solid #bababa;
	background: #fff;
}
div.wikisearch a {
	display: block;
	float: right;
	width: 78px;
	height: 28px;
	margin: 0px;
	padding: 0px;
	border: none;
	background: url('images/wikisearch_78x28.gif') top left no-repeat;
}

div.wikiletter {
	line-height: 12px;
	margin: 20px 0 15px 0;
	padding: 0px;
}

div.wikiletter a {
	padding: 0; margin: 0;  margin-right: -1px;
}

div.wiki_item {
	float: left;
	width: 300px;
	height: 25px;
	margin-top: 10px;
}

div.wiki_item a {
	color: #61aa05;
	font-weight: bold;
	text-decoration: none;
	line-height: 12px;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

div.wiki_item a:hover {
	text-decoration: underline;
}

div.thematic {
	position: relative;
	width: 270px;
	height: 72px;
	top: -90px;
	left: 240px;
	/*background: url('images/thematic/heart.jpg') top left no-repeat;*/
	margin: 0 -270px -72px 0;
	padding: 0;
	border: none;
	float: left;
}
div.thematic a {
	color: #505050;
	text-decoration: underline;
	line-height: 20px;
}
div.wiki_art {
	float: left;
	width: 180px;
	/*height: 12px;*/
	margin: 2px;
	background: url('images/wiki/marker_orange_4x4.gif') 0px 7px no-repeat;
	padding-left: 10px;
	/*line-height: 14px;*/
	margin: 2px;
	/*padding: 0;*/
}
div.wiki_art a {
	color: #61AA05;
	text-decoration: underline;
	line-height: 16px;
	font-size: 12px;
	margin: 0;
	padding: 0;
}
div.wikisearch input.grayed {
	color: #aaa;
}
div.wiki_detailed {
	margin-top: 10px;
	line-height: 20px !important;
}
div.wiki_img {
	text-align: center;
	margin-top: 20px;
}
div.thematic img {
	float: left;
	padding:0;
	border: none;
	margin: 0 10px 0 0;
}
/*new ratings*/
.rcpRatingStars, .rcpRatingStar {
	width: 72px;
	height: 21px;
	background-image: url('images/newrating/stars.png');
	float: left;
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
}
.rcpRatingStar {
	width: 24px;
	line-height: 25px;
}
.gallerey .rcpRatingStar {
	margin-top: -3px;
	margin-left: 5px;
	margin-right: 1px;
}
.rcpRatingStar .rcpRatingStar {
	margin: 0px;
}
.rcpRatingStarAdmin {
	background-image: url('images/newrating/admin.png');
	background-repeat: no-repeat;
	background-position: center top;
}
.e1 {
	background-position: left 0px;
}
.b1 {
	background-position: left -21px;
}
.s1 {
	background-position: left -42px;
}
.g1 {
	background-position: left -63px;
}
.e2 {
	background-position: left -84px;
}
.b2 {
	background-position: left -105px;
}
.s2 {
	background-position: left -126px;
}
.g2 {
	background-position: left -147px;
}
.e3 {
	background-position: left -168px;
}
.b3 {
	background-position: left -189px;
}
.s3 {
	background-position: left -210px;
}
.g3 {
	background-position: left -231px;
}
.e4 {
	background-position: left -252px;
}
.b4 {
	background-position: left -273px;
}
.s4 {
	background-position: left -294px;
}
.g4 {
	background-position: left -315px;
}
.e5 {
	background-position: left -336px;
}
.b5 {
	background-position: left -357px;
}
.s5 {
	background-position: left -378px;
}
.g5 {
	background-position: left -399px;
}
div.recipe_list div.h6 {
	font-size: 12px;
}
span.wiki_copyright {
	font-size: 12px;
}
span.add_comment, span.youtubeHeader {
	color: #FF8400;
	font-size: 22px;
	font-weight: normal;
	line-height: 32px;
}
span.youtubeHeader {
	display: block;
	margin-top: 30px;
    margin-bottom: 10px;
}
iframe.youtubeVideo {
	margin-bottom: 20px;
}
div.suitebox {
	margin: 12px 0 14px 0;
	padding: 0;
	border: none;
	padding-left: 4px;
}
div.suitebox div.suite {
	border: none;
	background: url(images/main/li1.gif) left center no-repeat;
	color: #766c5f;
	padding: 7px 5px 5px 15px;
	line-height: 12px;
	width: 180px;
	margin: 0;
	float: left;
}
div.suitebox div.suite a {
	text-decoration: underline;
	color: #766c5f;
}
div.suiteHover {
	background-color: #deeea9 !important;
}
a.cookbook_from_filter, a.answerComment {
	display: block;
	border: none;
	width: 100%;
	width: 176px;
	height: 17px;
	background-color: #FF8400;
	margin-left: -2px;
	margin-top: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 12px;
	padding-top: 6px;
	text-align: center;
}
.ingredientItem {
	margin-bottom: 30px;
}
.ingredientItem div {
	border: 1px solid #E8E2C5;
	padding: 7px 10px 7px 10px;
	background: #F9F4D6;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top: 3px;
	line-height: 20px;
}
.ingredientItem h2 {
	font-family: "Open Sans", Arial, Helvetica,sans-serif;
	padding: 0px;
	font-weight: normal;
	color: #766B5F;/*#9FCC04;*/
	font-size: 16px;
	/*background: url(images/main/li1.gif) left 4px no-repeat;*/
	text-indent: 10px;
}
.ingredientItem a.itemHdr {
	text-decoration: none;
	color: #766B5F;
}
.ingredientItem a.itemHdr:hover {
	text-decoration: underline;
}
.recipie_detailed .cont_area {
	padding-top: 3px;
}
.worldColumn {
	width: 50%;
	margin: 0;
	padding: 0;
	float: left;
	margin-bottom: 40px;
	margin-top: 10px;
}
.worldColumn h3 {
	color: #9FCC04;
	font-size: 19px;
	font-weight: normal;
	display: block;
	padding-top: 3px;
	padding-bottom: 12px;
	line-height: 19px;
}
.worldColumn a {
	text-decoration: none;
	color: #555;
	display: block;
	padding-top: 5px;
	line-height: 12px;
	font-size: 12px;
	padding-bottom: 5px;
	padding-left: 3px;
}
.worldColumn a span {
	text-decoration: underline;
}
.worldColumn a img {
	margin: 1px 8px -1px 0;
	padding: 0;
	border: none;
}
.worldColumn a:hover {
	background-color: #deeea9 !important;
}
a.answerComment {

}
textarea.answerComment {
	width: 100%; border: 1px solid #ccc; outline: none; display: block; margin-top: 5px; height: 40px;
}

.user_tip_list .row .row a.answerComment {
	margin-bottom: 5px;
}

.user_tip_list .row .row textarea.answerComment {
	/*margin-top: 12px;*/
}

.user_tip_list .row .row {
	padding-left: 25px;
	margin: 6px 0 -14px 0;
}
.konkurs_hdr, .konkurs_stat_orange {
	color: #766b5f;	
	font-size: 28px;
	font-family: "Open Sans", Arial, Helvetica,sans-serif;
	padding: 0px;
	font-weight: lighter;
	line-height: 40px;
}
.konkurs_stats {
	font-family: Arial,Verdana,sans;
	width: 584px;
	height: 129px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #F9F4D6;
	float: left;
	margin: 0;
	padding: 16px;
	position: relative;
	padding-top: 10px;
}
.konkurs_stat_orange {
	color: #FFA627;
	font-size: 18px;
	line-height: 30px;
	font-weight: normal;
	background: url(images/spots.gif) 2px 7px no-repeat;
	text-indent: 20px;
}
.konkurs_stat_grey {
	color: #766B5F;
	font-size: 16px;
	line-height: 30px;
	font-weight: normal;
}
.konkurs_stat_small {
	color: #766B5F;
	font-size: inherit;
	line-height: 44px;
	font-weight: normal;
	font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
}
.konkurs_rules, .konkurs_rules_top {
	text-align: right;
	font-weight: bold;
}
.konkurs_rules a, konkurs_rules_top a {
	color: #9FCC04;
}
.konkurs_rules_top {
	position: absolute;
	top: 20px;
	right: 20px;
}
div#competitionRules, div#competitionInstructions {
	max-width: 800px;
	padding: 20px;
}
span.voteCnt {
	font-weight: normal;
}
a.good {
	background: url(images/good.gif) 0px 0px no-repeat;
	line-height: 21px;
	text-decoration: none;
	font-size: 12px;
	position: absolute;
	padding-left: 25px;
	margin-left: 10px;
	padding-bottom: 5px;
}
.rightlinks {
	background-color: #fff;
	padding-left: 25px;
	padding-bottom: 10px;
	position: relative;
}
.rightlinks .newcounters {
	position: absolute;
	right: 0;
	bottom: 0;
	padding-bottom: 12px;
}
.minisitemap {
    width: 625px;
    padding-top: 25px;
    padding-left: 6px;
}
.minisitemap a {
	color: #555;
}
.minisitemap span {
	color: #FF8400;
	padding-left: 10px;
	padding-right: 9px;
}
span.a {
	color: #ff8400;	
	text-decoration: underline;
	cursor: pointer;
}
span.a:hover {
	text-decoration: underline;
}
#perelinkTop {
	position: absolute;
	top: -500px;
}
div.perelink {
	padding-bottom:	25px;
	width: 600px;
}
div.perelink span {
	background: url(images/newrating/admin.png) 0px 0px no-repeat;
	padding-left: 26px;
	line-height: 21px;
	padding-bottom: 10px;
	padding-top: 2px
}
		#wikibox {
			width: 350px;
			/*height: 183px;*/
			background: white url(http://povar.ru/skins/recipie/images/login/login-bg.gif) right bottom no-repeat;
			position: absolute;
			left: 324px;
			z-index: 10;
			border: 2px solid #f0ae28;
			border-top: none;
			line-height: 20px;
			padding-left: 10px;
			padding-top: 10px;
			padding-bottom: 10px;
			display:none;
		}
		.wikimenuHover {
			background: #fff !important;
			color: #FF8400 !important;
			padding-bottom: 9px !important;
		}
		#wikibox a {
			color: #61AA05;
			font-weight: bold;
			text-decoration: none;
			line-height: 12px;
			font-size: 12px;
		}
		#wikibox a:hover {
			text-decoration: underline;
		}
/* how to cook */

div.how_to_cook {
	width: 608px;
	overflow: hidden;
}

div.how_to_cook h1 {
	color: #fe9600;
}

div.how_to_cook_inner {
	width: 642px;
	padding-top: 17px;
}

div.htc_item {
	width: 183px;
	height: 207px;
	text-align: center;
	padding-right: 31px;
	float: left;
}

div.htc_item a {
	color: #a0cc07;
	padding: 3px 0px;
	font-size: 28px;
	text-decoration: none;
}

div.htc_item_image {
	width: 181px;
	height: 135px;
	border-right: solid 1px #fff;
	border-bottom: solid 1px #fff;
	
}

div.htc_textbox {
	padding: 9px 0px;
}

div.htc_textbox p, div.htc_textbox h2 {
	line-height: 20px;
	padding-top: 0px;
}
/*css tabs*/
div.tabsHeader {						
	height: 35px;	
	margin-bottom: 15px;
}
div.tabsHeader div {
	float: left;
	background-color: #F9F4D6;
}
div.tabSelector {
	padding: 9px 7px 0px 7px;
	border-left: solid 1px #E8E2C5;
	border-top:  solid 1px #E8E2C5;
	border-bottom: solid 1px #E8E2C5;
	height: 26px;
	text-align: center;
}
div.leftTabDummy {
	width: 20px;
	height: 36px;	
	border-bottom: solid 1px #E8E2C5;
	background-color: #fff !important;
}
div.rightTabDummy {
	width: 30px;
	height: 36px;	
	border-left: solid 1px #E8E2C5;	
	border-bottom: solid 1px #E8E2C5;
	background-color: #fff !important;
}
div.activeTab {						
	border-bottom: dashed 1px #E8E2C5 !important;
	background-color: #fff !important;
}	
span.tabLink {
	font-size: 14px;
	cursor: pointer;
	font: normal 16px/16px Arial;
	color: #766B5F;
	text-decoration: none;						
}
span.tabLink:hover {
	text-decoration: underline;	
}
div.tabItem {
	display: none;
}
h2.ingredientItemH2 {
	margin: 0px 0px 13px 0px;
}
h2.ingredientItemH2 img{
	margin: 0px 5px -12px 0px;
}
/*end of css tabs*/

div.subart_htc_textbox {
	width: 284px;
	margin: 0px 15px 0px 0px;
	float: left;
}
.subart_right_top_corner p{	
	font-size: 16px;
}
.subart_bottom p{
	padding-left: 15px;
}

.jury li {
			list-style-image: none !important; 
		}
		.jury ul {
			padding: 0px !important;
		}
		.jury ul div{ 
			float: left !important;
		}
		.jusername { 
			width: 225px !important;
		} 
		.jusername a { 
			line-height: 20px !important;
		} 
		.javatar {
			margin: 5px 5px 5px 0px;
		}
		
div.competition_banner_box {
	margin: 0px 0px 10px 0px;
}
img.commentCompImg {
	margin: 0px 0px 1px 0px;
}
table.kremlinDietTable {
	table-layout: fixed;
	line-height: 12px !important;
}
#seolinkTop {
background-color: #F9F4D6;
padding: 20px;
font-size: 12px;
color: #766c5f;
border: 1px solid #E7E2C4;
}
.cookbookItem {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: solid 1px #E8E2C5 !important;
	float: left;
	padding: 10px;
	background: #fff;
	margin: 10px 10px 0px 0px; 
}
.activeTabC {
		border: solid 1px #E8E2C5 !important;
		background-color: #fff !important;
}
.polza {
	margin-top: 5px;
	background-image: url(images/polza.gif);
	height: 28px;
	padding-top: 12px;
	background-repeat: no-repeat;
	padding-left: 46px;
}
.polza a {
	color: #766C5F;
}

input { padding-left:5px; }

.doit_comment {display:none;}
.rcp_bbcode_table {
	width: 100%;
	background-color: #F9F4D6;
	padding: 10px;
	border: 1px solid #E7E2C4;
	margin-top: 20px;
	table-layout: fixed;
}
.rcp_bbcode_table .bbc_cell1 {
	width: 152px;
}
.rcp_bbcode_table .bbc_cell2 {
	padding: 3px;
}
.rcp_bbcode_table .bbc_cell2 textarea {
	width: 423px; height: 100px; background: #fff; overflow-y: scroll; font-family: monospace;
	border: 1px solid #ccc;
}
#getCodeForExport {
	display: block;
	margin-top: 16px;
	font-size: 16px;
}
.jstree-no-dots a.hidden, .jstree-no-dots .hidden a {
	color: #D10000 !important;
}
#fbsticker {
	background: #F9F4D6;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-moz-box-shadow: inset 0 0 3px #333;
	-webkit-box-shadow: inset 0 0 3px #333;
	box-shadow: inner 0 0 3px #333;
	padding: 12px 14px 12px 14px;
	width: 300px;
	position: fixed;
	bottom: 13px;
	right: 2px;
	display: none;
	z-index: 3;
	color: #333;
	font-family: 'Droid Sans',Arial,Verdana,sans-serif;
	font-size: 13px;
}

#vk_subscribePupup {
	position: fixed;
	bottom: 20px;
	/*bottom: 50%;*/
	right: 20px;
	display: none;
	/*height: 115px !important;*/

	background: #f9f4d6;
	
	color: #ff8400;
	cursor: pointer;

	
	font-size: 36px;
	font-weight: bold;
	font-family: Tahoma;
	padding: 8px 20px;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#vk_subscribePupup:hover {
	background: #ff8400;
	color: #fff;
}

#vk_subscribePupup iframe {
	height: 115px !important;
}
.top_total h1 {
	display: inline;
}
.adsense_float {
	position: fixed;
	top: 10px;
	background: none;
}
.bigImgBox img {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.vegan {
	background-image: url(images/vegan.png);
	display: inline-block;
	width: 19px;
	height: 15px;
	margin-top: 4px;
	margin-bottom: -4px;
	margin-left: 4px;
}
.pinned {
	background-image: url(images/pin.png);
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-top: 2px;
	margin-bottom: -2px;
	margin-left: 4px;
}
.video {
	background-image: url(images/icon_video.png);
	display: inline-block;
	width: 22px;
	height: 17px;
	margin-bottom: -4px;
}
.videotags {
	margin: 10px 0 20px 0;
	background: #f9f4d6;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
img.staticarticle {
	margin: 14px;
	margin-left: 0;
	margin-bottom: 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
div.staticarticle {
	margin-top: 10px;
	line-height: 20px !important;
	font-size: 15px;
}
div.staticarticle p {
	font-size: 15px;
}
a.emailcontact {
	float: right;
}
div.catbox .photo {
	padding-top: 10px;
}
div.widget_povar {
	padding-left: 40px;
	padding-top: 40px;
}
a.okLogin {
	margin-top: 3px !important;
	background-image: url('images/social/login_ok.gif');
	width: 158px;
	height: 19px;
	display: block;
}
div.konkurs_stats a.addRecipieButton {
	position: absolute;
	top: 60px;
	right: 25px;
}
div.konkursPrepend {
	padding-top: 20px;
	padding-bottom: 28px;

}
a.konkursButtonGreen {
/*	background: #9FCC04;*/
	background: #69b4e4;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	margin-right: 10px;
	margin-left: 10px;
	min-width: 100px;
	text-align: center;
	margin-bottom: 8px;
}
a.konkursButtonGreen:hover {
	/*background: #809C1E;*/
	background: #79d4f4;
}

#dev_indicator {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 12px;
    line-height: 12px;
}

#dev_indicator div {
    padding: 3px;
    background: red;
    color: #fff;
}

#commentForm .ulogin {
	/*margin-bottom: -35px;
	margin-top: 15px;*/
	margin-bottom: 10px;
}
#add2Bookmark.inactive {
	text-decoration: none;
	font-weight: bold;
	color: #766c5f;
}
.bookContent div.suite {
	width: 270px !important;
}
.bookContent .col, .bookContent .last_col {
	position: relative;
}
.bookContent a.removeFromBook {
	display: block;
	position: absolute;
	top: 3px;
	right: 3px;
	width: 19px;
	height: 19px;
	padding: 0;
	background: #fff url(images/recipie/cbk_del_17x17.gif) no-repeat;
	border: none;
	background-position: top right;
}
.booktag {
	float: left;
	border: solid 1px #ff8400;
	padding: 5px;
	margin: 3px;
	background: #F9F4D6;
	border-radius: 5px;
}
.booktagactive {
	background: #ff8400;
	cursor: default;
}
.booktag a {
	text-decoration: none;
}
.booktagactive a {
	color: #FFF;
}
span.yandsimilar_header {
	color: #FF8400;
	font-size: 22px;
	font-weight: normal;
	line-height: 32px;
	padding-top: 30px;
    display: block;
}
.yandsimilar {
	padding-top: 12px;
	padding-bottom: 22px;
	position: relative;
	float: left;
	clear: both;
	width: 625px;
}
.yandsimilar .similarscroller, .yandsimilar .similarscrollerwrapper {
	clear: both;
    float: left;
}
.yandsimilar .similarscrollerwrapper {
    margin-left: 22px;
    position: relative;
    width: 584px;
    overflow: hidden;
}
.yandsimilar .similarscroller {
	position: absolute; left: 0;
}
.yandsimilar .similarleft, .yandsimilar .similarright {
	position: absolute;
	width: 25px; height: 50px; background: #fff;
	left: 0; top: 38px;
	background-image: url(images/arrows.gif);
	background-repeat: no-repeat;
	background-position: 0px center;
	cursor: pointer;
}
.yandsimilar .similarright {
	left: inherit;
	right: 0;
	background-position: -22px center;
}
.yandsimilar div.similarscroller div, .yandsimilar div.similarstatic div {
	width: 142px; float: left; padding: 2px; padding-right: 1px; text-align: center;
}
.yandsimilar div.similarscroller div img, .yandsimilar div.similarstatic div img {
	width: 138px;
	height: 92px;
	padding: 2px;
    border: none;
}
.yandsimilar div.similarstatic div.cleaner {
	clear: both;
	width: 100%;
	height: 1px;
}
.yandsimilar a {
	color: #766c5f;
}

#similarSuites div.similarscroller div, #similarSuites div.similarstatic div {
    padding: 5px;
    padding-top: 6px;
    width: 128px;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    margin-right: 7px;
    min-height: 137px;
    margin-bottom: 5px;
    position: relative;
}

#similarSuites div.similarscroller div, #similarSuites div.similarstatic span.innerCount {
	display: block;
	position: absolute;
    top: 67px;
    left: 109px;
	background: #f7941d;
	width: 22px;
	height: 22px;
	color: #fff;
	line-height: 22px;
    text-align: center;
    border-radius: 11px;
}

#similarSuites div.similarscroller div img, #similarSuites div.similarstatic div img {
	width: 124px;
	height: 83px;
	padding: 0px;
	margin: 0px;
}

#similarSuites div.similarstatic div.cleaner {
	clear: both;
	width: 100%;
	height: 1px;
	padding: 0;
	margin: 0;
	border: none;
	min-height: 0;
}

.cont_area h2.span {
	font-family: "Open Sans", Arial, Helvetica,sans-serif;
    font-size: 15px;
    line-height: 23px;
    margin: 0;
    padding: 0;
    color: #555557;
}
.favheart, .favheartAct {
	display: block;
	margin: 0;
	padding: 0;
	border: none;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 63px;
	height: 93px;
	background-image: url(images/btn/favheart.png);
	background-repeat: no-repeat;
}
.favheart:hover {
	background-image: url(images/btn/favheart_press.png);
}
.favheartAct {
	background-image: url(images/btn/favheart_act.png);
	cursor: default;
}
.favheart div, .favheartAct div {
	width: 100%;
	height: 20px;
	line-height: 20px;
	margin-top: 68px;
	text-align: center;
}
.favheart div span, .favheartAct div span {
	color: #fff;
	background: rgba(0, 0, 0, 0.39);
	display: inline-block;
	border-radius: 10px;
	padding: 1px 5px 0 5px;
	font-size: 12px;
	font-family: Arial, sans-serif;
}
#loginTeaser .teaserWrapper {
	padding: 10px;
}
#topSearch {
	width: 312px;
	height: 24px;
	background-image: url(images/tmenu/topSearch.png);
	float: right;
	margin-right: 20px;
	margin-top: 6px;
}
#topSearch input[type=text] {
	width: 192px;
	height: 24px;
	margin: 0;
	line-height: 24px;
	padding: 0;
	border: none;
	outline: none;
	display: block;
	float: left;
	margin-left: 10px;
	background: #fff;
}
#topSearch a {
	display: block;
	float: left;
	width: 26px;
	height: 24px;
	margin: 0;
	padding: 0;
	border: none;
}
#topSearch a.submitSearch {
	width: 83px;
}
#topSearch a.submitSearch:hover {
	background: rgba(255, 255, 255, 0.15);
}
.floatingMenu {
	position: absolute;
	background: #f9f4d6;
	border-right: 1px solid #e8e2c5;
	width: 210px;
	left: 50%;
	top: 133px;
    margin-left: -727px;
	padding: 15px;
	display: none;
	line-height: 20px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.floatingMenu a.fmHead {
	font-weight: bold;
	clear: both;
	display: block;
	margin-top: 4px;
	margin-bottom: 4px;
}
.floatingMenu a.fmItem {
	color: #766c5f;
}
.floatingMenu a:hover {
	text-decoration: none;
}
.floatingMenu div {
	padding-bottom: 16px;
}
.floatingMenu div.minified {
	height: 102px;
	padding-bottom: 0;
	overflow: hidden;
}
.floatingMenu .plusTrigger {
	text-align: right;
	font-size: 20px;
	cursor: pointer;
	position: relative;
}
.floatingMenu .plusTrigger:hover, .floatingMenu .plusTrigger:hover div {
	color: #ff8400;
}
.floatingMenu .plusTrigger div {
	padding-bottom: inherit;
	position: absolute;
	left: 0;
	top: 0;
}
/* FIXME */

#topLinks a.authorized {
	display: none;
}
span.b, span.strong {
	font-weight: bold;
	color: inherit;
}
.smAlso {
	display: block;
	padding-bottom: 10px;
}
.tagLists {
	background: url(images/left/tbann.gif) right bottom no-repeat;
	padding-top: 5px;
	padding-bottom: 25px;
}
.topCurve{
	background: url(images/left/bbann.gif) right bottom no-repeat;
	height: 18px;
	width: auto;
}
.banner_under_ingredients {
	padding-top: 20px;
	width: 620px;
	overflow: hidden;
}