.thematicRotator .imgholder {
	height: 198px;
	margin: 0;
	padding: 0;
	border: none;
}
.thematicRotator .imgholder img {
	float: left;
	border: none;
	width: 298px;
	height: 198px;
	margin: 0;
	padding: 0;
	cursor: pointer;
}
.thematicRotator .holderwrapper1.invisible {
	display: none;
}
.thematicRotator .holderwrapper1 {
	width: 894px;
	height: 198px;
	overflow: hidden;
	margin: 0 0 0 -223px;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
}
.thematicRotator .holdershadowleft, .thematicRotator .holdershadowright {
	width: 75px;
	cursor: pointer;
	height: 198px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
}
.thematicRotator .holdershadowright {
	left: 373px;
}
.thematicRotator .holdershadowleft.invisible, .thematicRotator .holdershadowright.invisible {
	display: none;
}
.thematicRotator .holderwrapper2 {
	width: 448px;
	padding: 0;
	margin: 0;
	height: 198px;
	position: relative;
	overflow: hidden;
	clear: both;
}
.thematicRotator {
	width: 448px;
	padding: 0;
	margin: 0;
	height: 230px;
	overflow: hidden;
	margin-left: 4px;
	background: #fff;
}
.thematicRotator .descwrapper {
	/*width: 298px;
	margin: 0 0 0 75px;*/
	/*background: #ee991a; *//* url(images/nanpanel.gif); */
	background-color: #F9F4D6;
	height: 33px;
	text-align: center;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
.thematicRotator .descwrapper span a {
	color: #793616;
	font-size: 16px;
	line-height: 33px;
}
.thematicBox {
	width: 609px;
	background: #fff;
	margin: 0 0 14px 0;
	padding-bottom: 5px; /*10px;*/
}
.thematicBox .bott {
	padding-left: 2px;
	padding-top: 3px;
	padding-bottom: 2px;
	background: #F9F4D6;
	margin: 0 5px 0 5px;
}
.thematicBox .menu {
	width: 136px;
	padding: 0px 4px 4px 10px;
	float: left;
	/*height: 230px;*/
	height: 230px;
	overflow: hidden;
	margin-bottom: -1px;
	background-color: #F9F4D6;
	line-height: 15px;
}

.thematicBox .botttagdesc {
	color: #fff;
	line-height: 30px;
	padding: 0 8px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 30px;
	background-color: #ee991a;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	margin: 0 5px 0 5px;
}

.thematicBox .botttagdesc a {
	color: #fff;
}

.thematicBox div.h1 {
	color: #fff;
	line-height: 31px;
	padding: 0 8px !important;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
	font-size: 28px;
	line-height: 40px;
	display: block;
	background-color: #ee991a;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin: 0 5px 0 5px !important;
	position: relative;
}

.thematicBox div.h1 a {
	color: #fff;
}

.thematicBox div.h1 img {
	position: absolute;
	display: block;
	margin: 0;
	padding: 0;
	border: none;
	top: 0;
	right: 0;
}

.thematicBox .bott img {
	width: 115px;
	height: 76px;
	margin: 2px;
	padding: 0;
	display: block;
	float: left;
}

.thematicBox .topstripe {
	background: #F9F4D6;
	margin-left: 5px;
	margin-right: 5px;
	height: 5px;
}

.thematicBox .cleaner {
	height: 0px;
	clear:both;
}

.thematicBox .menu ul,
.thematicBox .menu li {
	padding: 0;
	margin: 0;
	list-style: none;
}
.thematicBox .menu li {
	padding: 4px 0;
}
.thematicBox .menu a {
	color: #555557;
}
.thematicBox .menu a:hover {
	color: #ff8400;
}

.thematicBox .photo {
	width: 452px;
	padding-left: 1px;
	float: left;
	border-right: 1px solid #fff;
}




.thematicBox.wide .thematicRotator .holdershadowleft {
	width: 150px;
}

.thematicBox.wide .thematicRotator .holdershadowright {
	left: 448px;
	width: 151px;
}

.thematicBox.wide .menu {
	display: none;
}

.thematicBox.wide .thematicRotator .holderwrapper1 {
	margin: 0 0 0 -148px;
}

.thematicBox.wide .thematicRotator, .thematicBox.wide .thematicRotator .holderwrapper2 {
	width: 599px;
}

