﻿body, html { height:100%; font-family:'Roboto',sans-serif; font-weight:400; color:#fff;}
.bettorTechCarousel{ width:300px; color:#fff; text-align:center;text-shadow:1px 1px #000; padding-bottom:20px; font-weight:400;}
.white { color:#000;text-shadow:none; font-weight:bold;}
.bettorTechCarousel div div.item h4{ margin:10px 0; font-size:14px; }
.bettorTechCarousel .carousel-control { width:20px; height:50px; margin-top:45px;}
.bettorTechCarousel .left{ text-align:left; margin-left:5px;}
.bettorTechCarousel .right{ text-align:left;}
.bettorTechCarousel .carousel-control.left,.carousel-control.right { background:none;}
.bettorTechCarousel .teams{ margin:0 auto; width:276px; height:140px;}
.bettorTechCarousel .teams2{ margin:-3px 0 0 35px; width:385px; height:60px;}
.bettorTechCarousel .teams3{ padding-top:9px;margin-left:24px; width:280px; height:40px;}
.bettorTechCarousel .teams4{ margin-left:10px; padding-top:150px; width:140px; height:60px;}
.bettorTechCarousel .teams .team{ float:left; width:110px; font-size:15px; line-height:18px;}
.bettorTechCarousel .teams2 .team{ float:left; width:60px;}
.bettorTechCarousel .team img{ height:60px;}
.bettorTechCarousel .teams3 .team{ float:left; width:40px;}
.bettorTechCarousel .teams3 .team img{ height:40px;}
.bettorTechCarousel .teams4 .team{ float:left; width:60px; margin:0 5px;}
.bettorTechCarousel .team2{ float:left; width:120px; height:60px; display:block; margin:20px auto;}
.bettorTechCarousel .team2 img{ width:60px;}
.bettorTechCarousel .time{ float:left; width:56px; height:56px; background-color:rgba(0,0,0,0.5); -moz-border-radius:28px; -webkit-border-radius:28px; border-radius:28px; padding-top:11px; line-height:18px; font-size:14px; margin-top:2px;}
.bettorTechCarousel .timeWhite{ float:left; width:56px; height:56px; background-color:rgba(255,255,255,0.5); -moz-border-radius:28px; -webkit-border-radius:28px; border-radius:28px; padding-top:11px; line-height:18px; font-size:14px; margin-top:2px;}
.bettorTechCarousel .timeNoColor{ float:left; width:56px; height:56px; padding-top:11px; line-height:18px; font-size:14px; margin-top:2px;}
.bettorTechCarousel .time2{ font-size:12px; width:460px; padding-top:2px;}
.bettorTechCarousel .time3{ padding-top:122px; display:block;}
.bettorTechCarousel .odds{ float:left; width:265px; text-align:center; margin-top:50px;}
.bettorTechCarousel .odds span{ padding:2px 5px 4px; display:inline-block}
.bettorTechCarousel .teams3 .odds{ float:left; width:190px; text-align:center; margin:40px 5px 0;}
.bettorTechCarousel .teams3 .odds span{ padding:2px 5px 4px; display:inline-block}
.bettorTechCarousel .carousel-indicators{ top:155px; height:20px;}
.bettorTechCarousel .nav-tabs-custom > .tab-content{ padding:0;}
.bettorTechCarousel .tab-content img{ height:25px;}
.bettorTechCarousel .nav-tabs-custom{ background:none; top:250px; width:100%;}
.bettorTechCarousel .nav-tabs-custom>.tab-content{ background:none;}
.bettorTechCarousel .nav-tabs-custom>.nav-tabs>li{ width:100px; margin:0; padding:0; background-color:rgba(0,0,0,0.5); border-top: 3px solid transparent;}
.bettorTechCarousel .nav-tabs-custom>.nav-tabs>li.active{ border:none; border-top:5px solid #fff; background-color:rgba(102,102,102,0.4);}
.bettorTechCarousel .nav-tabs-custom > .nav-tabs > li > a{ color:#ccc; font-weight:bold; border-radius: 0;}
.bettorTechCarousel .nav-tabs-custom > .nav-tabs > li > a:hover{ color:#F4F4F4; background: transparent none repeat scroll 0 0;  border-color:transparent;}
.bettorTechCarousel .nav-tabs-custom>.nav-tabs>li.active>a, .nav-tabs-custom>.nav-tabs>li.active:hover>a{ background:none; border:none; color:#fff;}
.bettorTechCarousel .nav-tabs{ border:none;}
.bettorTechCarousel .table{ width:100%; padding:0; margin:0; border:0;}
.bettorTechCarousel .table-striped>tbody>tr:nth-of-type(odd){ background-color:rgba(0,0,0,0.5); border:none;}
.bettorTechCarousel .table-striped>tbody>tr:nth-of-type(even),.table-striped>thead>tr{ background-color:rgba(102,102,102,0.4); border:none;}
.bettorTechCarousel .table > thead > tr > th ,.table > tbody > tr > td { border:none; }
.bettorTechCarousel th{ text-align:center;}
.bettorTechCarousel a{ text-decoration:none; color:#fff;}
.bettorTechCarousel a:hover{ text-decoration:none; color:#F4F4F4;}
.bettorTechCarousel a:active, a:focus { text-decoration:none; color:#fff; outline-style:none; -moz-outline-style:none; }
.bettorTechCarousel.white a{ color:#000;text-shadow:none; font-weight:bold;}
.bettorTechCarousel .carousel-control > .fa { display:inline-block; font-size:40px; margin-top:-20px; position:absolute; top:50%; z-index:5;}
.bettorTechCarousel .singleSite{ text-decoration:none; display:block; background-color:rgba(0,0,0,0.5); padding:5px 0;}
.bettorTechCarousel .singleSiteWhite{ text-decoration:none; display:block; background-color:rgba(255,255,255,0.5); padding:5px 0;}
.bettorTechCarousel .singleSiteNoColor{ text-decoration:none; display:block; padding:5px 0;}
.bettorTechCarousel .singleSite img{ height:30px; }
.bettorTechCarousel .singleSite2{ text-decoration:none; display:block; padding:15px 0; position:absolute; top:0; left:490px; z-index:999; width:240px; text-align:center; font-size:13px; line-height:30px;}
.bettorTechCarousel .singleSite2 img{ height:30px; }
.bettorTechCarousel .singleSite3{ text-decoration:none; display:block; padding:5px 0; position:absolute; top:0; left:335px; z-index:999; width:135px; text-align:center; font-size:13px; line-height:22px;}
.bettorTechCarousel .singleSite3 img.site{ max-height:24px; max-width:120px; margin:auto;}
.bettorTechCarousel .singleSite4{ text-decoration:none; display:block; padding:30px 0; position:absolute; top:0; z-index:999; width:160px;}
.bettorTechCarousel .singleSite4 img{ max-height:30px; max-width:140px; }
.bettorTechCarousel .singleSite5{ text-decoration:none; display:block; padding:30px 0; position:relative; bottom:90px; left:0; z-index:999; width:160px;}
.bettorTechCarousel .singleSite5 img{ max-height:30px; max-width:140px; }
.bettorTechCarousel .singleSite6{ text-decoration:none; display:block; padding:30px 0; position:absolute; top:0; z-index:999; width:120px;}
.bettorTechCarousel .singleSite6 img{ max-height:30px; max-width:100px; }
.bettorTechCarousel .singleSite7{ text-decoration:none; display:block; padding:30px 0; position:relative; bottom:90px; left:0; z-index:999; width:120px;}
.bettorTechCarousel .singleSite7 img{ max-height:30px; max-width:100px; }
.bettorTechCarousel .table-singleSite{ position:relative; bottom:45px;}
.bettorTechCarousel .table-singleSite th{ font-size:16px;}
.bettorTechCarousel .table-singleSite > tbody > tr > td, .table-singleSite > tbody > tr > th, .table-singleSite > tfoot > tr > td, .table-singleSite > tfoot > tr > th, .table > thead-singleSite > tr > td, .table-singleSite > thead > tr > th { padding:0; padding-bottom:3px;}
.bettorTechCarousel .table-singleSite a,.bettorTechCarousel .odds2 a,.bettorTechCarousel .odds3 a{ background: rgb(224,224,224);
    background: -moz-linear-gradient(top, rgba(224,224,224,1) 0%, rgba(181,181,181,1) 100%);
    background: -webkit-linear-gradient(top, rgba(224,224,224,1) 0%,rgba(181,181,181,1) 100%);
    background: linear-gradient(to bottom, rgba(224,224,224,1) 0%,rgba(181,181,181,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#b5b5b5',GradientType=0 );
    padding:5px 0; text-align:center;
    border:1px solid #333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color:#333;
    text-shadow:none;
    font-weight:bold;
    width:68px;
    display:block;
    margin:0 auto;
}
.bettorTechCarousel .odds .table-singleSite a{ padding:2px 0; font-weight:normal; font-size:14px;}
.bettorTechCarousel .teams3 .odds .table-singleSite a{ padding:2px 0; font-weight:normal; width:60px; font-size:11px; padding:2px 0;}
.bettorTechCarousel .table-singleSite > tbody > tr > td{ padding-bottom:0px;}
.bettorTechCarousel .odds2{ margin-top:80px; display:block;}
.bettorTechCarousel .odds2>span{ display:block; margin-bottom:20px;}
.bettorTechCarousel .odds2 a{ display:block; text-align:left; width:140px; font-weight:normal; margin-top:5px; padding:2px 5px; font-size:13px;}
.bettorTechCarousel .odds2 a span{ float:right;}
.bettorTechCarousel .odds2>p{ font-size:17px; width:140px; margin:20px auto 0;}
.bettorTechCarousel .odds3{ margin-top:80px; display:block; clear:both;}
.bettorTechCarousel .odds3 a{ display:block; text-align:left; width:100px; font-weight:normal; margin-top:5px; padding:2px 5px; font-size:13px;}
.bettorTechCarousel .odds3 a span{ float:right;}
.bettorTechCarousel .odds3>p{ font-size:17px; width:140px; margin:20px auto 0;}