/*
Default style for WP-PageNavi plugin

http://wordpress.org/extend/plugins/wp-pagenavi/
*/

.wp-pagenavi {
	clear: both;
clear:both;margin:5px 0 10px;float:left;text-align:center;width:100%;
}

.wp-pagenavi a, .wp-pagenavi span {
background:#b31d40;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;color:#fff;margin:2px;padding:3px 12px;text-decoration:none;
float:left;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
	border-color: #000;
}

.wp-pagenavi span.current {
	font-weight: bold;
}
