/*
Theme Name: Seriados Online
Theme URI: http://animeson.tv/
Description: Seriados Online tema 
Author: Maik Junior
Author URI: http://www.animeson.tv;
Version: 2.0
License: Creative Commons 3.0
License URI: http://creativecommons.org/licenses/by/3.0
*/
@charset "utf-8";
*{margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body{font:14px arial,sans-serif;text-align:center;background:#272c2e;height:100%}
.right{float:right;display:block}
ul{list-style:none}
a,a:hover{
	color: #fff;
	text-decoration: none;
}
div#topo{
	width: 100%;
	background: #1a1a1a;
	padding: 10px 0;
}
div#icons{
	float: left;
	width: 50px;
	margin-left: 10px;
}
div#icons ul li{
	display: inline-table;
	margin-right: 5px;
}
div#logo{
	width: 143px;
	height: 32px;
	margin: 0 73px;
}
div#menuH{
	width: 100%;
	padding:5px 0;
	text-align: center;
	background: #b31d40;
	color: #fff; 
	display: none;
}
div#menuH ul li{
	display: inline-table;
}
input[type="text"] {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    padding: 3px;
    -webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}
input[type="submit"] {
    background: #b31d40 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-weight: bold;
    padding: 2px;
    -webkit-border-top-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
margin-left: -3px;
}
#busca {
    float: right;
    margin-right: 6px;
    margin-top: 5px;
    width: 209px;
}
div#body{
	width: 80%;
	margin:0 auto;
}
div#posts{
	width: 100%;
}
div#titlePost{
	font-family: 'Lobster Two', cursive;
	color: #e5dddd;
	margin-top: 10px;
}
div#titleSingle{
	font-family: 'Lobster Two', cursive;
	color: #e5dddd;
	margin-top: 10px;
	/*background: #32383a url('_public/images/bg.png') repeat-x scroll center 10px;*/
    margin: 5px 0;
    overflow: hidden;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
div#bgSingle{
	background: #32383a;
	width: 100%;
	border-radius: 5px;
	padding: 10px;
	color: #ccc;
}
div#bgSingle a, div#bgSingle a:link{
	color: #b31d40;
	text-decoration:none;
}
div#bgSingle a, div#bgSingle a:hover{
	color: #07d10b;
	text-decoration:none;
}
div#bgSingle a, div#bgSingle a:visited{
	color: #07d10b;
	text-decoration:none;
}
div#titleSingle h1{
	padding-right: 16px;
	text-align: center;
   /* float: left;*/
    /*background-color: #272c2e ;*/
}
div#titlePost h1{
    width: 100%;
    margin:0 auto;
}
div.cinzaPost2 {
    background: #32383a none repeat scroll 0 0;
    display: block;
    float: left;
    margin-top: 9px;
    padding: 10px 0;
    width: 41%;
    display: none;
}
div.cinzaPost {
    background: #32383a none repeat scroll 0 0;
    display: block;
    float: right;
    margin-top: 9px;
    padding: 10px 0;
    width: 41%;
    display: none;
}


ul.listagem-coluna li {
    background: #1a1a1a;
    border-radius: 10px;
   display: inline-table;
    height: 208px;
    margin: 0 5px 7px 0;
    width: 149px;
}

ul.listagem-coluna li .titulo {
    color: #fff;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin-bottom: 5px;
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
}
ul.listagem-coluna li .titulo a {
    color: #fff;

    text-decoration: none;
}

ul.listagem-coluna li .imagem {
    float: left;
    height: 169px;
    margin: 0 7px 4px;
    position: relative;
    width: 135px;
    border-radius: 5px;
}
ul.listagem-coluna li .imagem img{
	border-radius: 5px;
}

div#telas{
	width: 98%;
	margin:0 auto;
	text-align: center;
}

#telinhas {
    margin-top: 21px;
}

div#paginacao{clear:both;margin:5px 0 10px;float:left;text-align:center;width:100%}
div#paginacao ul li{display:inline-table;margin-bottom:13px}
div#paginacao ul li:last-child{margin:0}
div#paginacao a,div#paginacao span{background:#b31d40;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;color:#fff;margin:2px;padding:3px 12px;text-decoration:none}
div#sfooter{
	background: #b31d40;
	width: 100%;
	padding:5px;
	float: left;
	clear: both;
	font-size: 12px;
	color: #fff;
}
div#footer{
	background: #1a1a1a;
	width: 100%;
	padding:10px 5px;
	float: left;
	clear: both;
	font-size: 12px;
	color: #fff;
}
div#menuMobile{

    display: block;

}
#menuMobile select {

    background: #b31d40 none repeat scroll 0 0;

    border: medium none;

    color: #fff;

    font-size: 14px;

    padding: 5px;

    text-align: center;

    width: 100%;

}
div#ffooter{
	width:100%;
border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
padding:10px;
text-align:center;
color:#7b7c7d;
background:#32383a;
float:left;
margin-top:10px;
margin-bottom:10px;
}
div#ffooter a, div#ffooter a:hover{
color:#7b7c7d;
text-decoration:none;
}