@charset "utf-8";
/* CSS Document */
body{min-width:1280px;margin:0 auto;}
body.custom-font-enabled {
font-family: '微軟正黑體', Arial, STHeiti, Sans Serif;
}
div.itemelse ul li.spotlist img {/**Ruby**/
    display: none;
}

div.height{
	height: 110px;
	overflow: hidden;
	
	background-color: #FFFFFF;
	width: 100%;
	text-align:center;
}
div.height img{
	vertical-align:middle;
	width:auto;
}
div.topblack ul.screen li div.img {
height: auto;
overflow: hidden;

}
div.topblack ul.screen li div.img div.sum_title {
	border-bottom: 1px solid #B4B4B4;
	padding: 10px 0 5px 0;
	color: rgb(7, 120, 209);

}
div.topblack ul.screen li div.img div.sum_title h3{
	font-size:15px;
}
div.topblack ul.screen li div.img:hover div.sum_title{
	color:#636363;
	text-decoration:underline;
}
div.itemelse {

line-height: 20px;
font-size: 13px;
height: 150px;
overflow: hidden;
}
div.itemelse ul {
	margin:0;
	padding:0;
	list-style-type:disc;
	
}
div.itemelse ul li{
	font-size:13px;
	
	overflow:hidden;
	list-style-type:disc;
	margin-bottom:2px;
}

div.topblack {
width:934px;
padding-bottom: 25px;
padding-top: 12px;
}

div.topblack ul.screen {
overflow: visible;
list-style-type: none;
margin: 0 auto;
/*padding-left: 35px;*/
}

div.topblack ul.screen li {
float: left;
display: block;
margin-right: 5px;
position: relative;
margin-bottom: 6px;
max-width:220px;
font-size:15px;
line-height :1.3em;
}
div.topblack ul.screen li.block2014 {
	border-top:4px solid rgba(111, 2, 2, 0.9);
	height:340px;

}
div.topblack ul.screen li.spotlist {
	border-bottom: 1px solid #B4B4B4;
	display: block;
	float: none;
	width: 100%;
	margin: 0;
	padding: 4px 0;
	font-size:14px;
}
.topblack a {
outline: none;
color: #484849;
text-decoration: none;
}
.topblack a:hover {
	color: #FF1BA1;
}
img {
border: 0;
-ms-interpolation-mode: bicubic;
}
.cat01{
	background: rgba(111, 2, 2, 0.8) ;
	color: #FFF;
	float: left;
	padding: 0px 10px 2px;
	font-size: 16px;
	font-family: Oswald,arial,Georgia,serif;
	text-transform: uppercase;
	position: absolute;
	left: 0;F
	top: 0;
	z-index: 6;

}

/******* 後台八宮格預設功能與上面文章間隔開來 20160929 *****************/
#wpbody-content .topblack:after {
    display: block;
    content: '';
    clear: both;
}




@media screen and (max-width: 1024px){
	.site-content {
	float: left;
	width: 934px;
	margin-right: 10px;
	}
	
}


@media screen and (max-width: 1289px) {
	div.topblack ul.screen li {
		float: left;
		display: block;
		margin-right: 5px;
		position: relative;
		margin-bottom: 6px;
		min-width: 24%;
		font-size: 15px;
		line-height: 1.5em;
	}
	
}
@media screen and (max-width: 955px) {
	div.topblack ul.screen li {
		float: left;
		display: block;
		margin-right: 5px;
		position: relative;
		margin-bottom: 6px;
		min-width: 48%;
		font-size: 15px;
		line-height: 1.5em;
	}
	
}	
	