/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 專題報導_左上主題自訂 */
.tab_flexslider .special_title{ z-index:100; position:absolute;top:0; left:0; height:40px;}
.tab_flexslider .special_title span{ display:block;float:left;width:3px; height:40px;}
.tab_flexslider .special_title span img{width:3px; height:40px;}  
.tab_flexslider .special_title h3{ font:15px/20px "微軟正黑體", Helvetica, Arial, sans-serif; color:#ffffff; background-color: rgba(125,26,26,0.8); height:23px; float:left; padding:6px 4px; clear:none !important; border:0;}
/**********************/
/********** 右側欄 頁籤+輪播 ************/
.widget .tab_slider{  max-width: 295px; height:353px;}
.widget .tab_slider .tab_flexslider { width:295px; height:353px; background: #ffffff;  position: relative; zoom: 1;}
.widget .tab_slider .loading .flex-viewport { max-height: 360px;}
.widget .tab_slider .flex-viewport { width:295px; height: 353px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -ms-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease;}
.widget .tab_flexslider .slides { zoom: 1;}
.widget .tab_flexslider .slides img { max-width: 100%; display: block;  }
.widget .tab_flexslider .slides li{ position:relative;}
.widget .tab_slider .flex-direction-nav { *height: 0;}
.widget .tab_slider .flex-direction-nav a { display: block; width:25px; height: 25px; margin: -20px 0 0; position: absolute; top: 30px; right:10px; z-index: 200; cursor: pointer; text-indent:-9999px;  -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.widget .tab_flexslider .flex-direction-nav .flex-prev { background:url(../images/arrow_prev.gif) no-repeat;right:36px;}
.widget .tab_flexslider .flex-direction-nav .flex-next { background:url(../images/arrow_next.gif) no-repeat;}
.widget .tab_slider:hover .flex-direction-nav .flex-prev { opacity: 0.7;}
.widget .tab_slider:hover .flex-direction-nav .flex-prev:hover { opacity: 1;}
.widget .tab_slider:hover .flex-direction-nav .flex-next { opacity: 0.7;}
.widget .tab_slider:hover .flex-direction-nav .flex-next:hover { opacity: 1;}
/* tab */
.widget .tab3_container{width: 297px;height:400px;margin: 0 auto;}
.widget .tabs{width: 297px;	height:40px;font:18px/40px "微軟正黑體", Helvetica, Arial, sans-serif;color:#000000;background:#ffffff; margin-left:0;}
.widget .tabs li{width:99px;height:40px;float:left;cursor: pointer;	text-align:center; margin-bottom:0 !important; font:18px/40px "微軟正黑體", Helvetica, Arial, sans-serif !important; font-weight:bold !important; }
.widget .tabs li.current{border-bottom: 5px #a91515 solid;}
.widget .tab-content{display: none;	height:353px;width:295px;border:1px solid #e8e8e8;border-top: 5px #b5b5b5 solid;}
.widget .tab-content.current{display: inherit;}


.tab_flexslider .act_sponsor{ background-position: center center;background-size: cover;background-repeat: no-repeat;height: 180px;width: 295px; }
.tab_flexslider .act_2tabs{ background-position: center center;background-size: cover;background-repeat: no-repeat;height: 150px;width: 275px; }
/* 廠商專欄 */
.widget #tab-1.tab-content .tab_flexslider ul{ margin-left:0;}
.widget #tab-1.tab-content .tab_flexslider .c_block li{  font:14px/18px "微軟正黑體", Helvetica, Arial, sans-serif ; color:#666666; padding:10px; margin:0 10px; height:32px; border-top:1px dashed #c6c6c6; overflow:hidden;word-wrap: break-word;word-break: break-all;  margin-bottom:0; font-weight:bold;}
.widget #tab-1.tab-content .tab_flexslider .c_block li a{ color:#666666; text-decoration:none; font:14px/20px "微軟正黑體", Helvetica, Arial, sans-serif ; color:#666666; height:32px; overflow:hidden;word-wrap: break-word;word-break: break-all;  margin-bottom:0; font-weight:bold;}
.widget #tab-1.tab-content .tab_flexslider .c_block li a:hover{text-decoration:underline;}
.widget #tab-1.tab-content .tab_flexslider .c_block li:first-child{ font:16px/20px "微軟正黑體", Helvetica, Arial, sans-serif; height:34px; padding:10px; color:#21759b; border-top:0; overflow:hidden;word-wrap: break-word;word-break: break-all; font-weight:bold;}
.widget #tab-1.tab-content .tab_flexslider .c_block li:first-child a{color:#21759b; text-decoration:none; font:16px/20px "微軟正黑體", Helvetica, Arial, sans-serif;font-weight:bold;}
.widget #tab-1.tab-content .tab_flexslider .c_block li:first-child a:hover{text-decoration:underline;}
.widget #tab-1.tab-content span{ width:275px; height:34px; display:block; font:14px/19px "微軟正黑體", Helvetica, Arial, sans-serif; color:#666666; padding:10px; border-bottom:1px dashed #c6c6c6; word-wrap: break-word;word-break: break-all; overflow:hidden;}
.widget #tab-1.tab-content span:last-child{ border:none;}

/* 活動專區 */
.widget #tab-2.tab-content img{ margin:10px; text-align:center;}
.widget #tab-2.tab-content h3{ border:none !important; width:275px; max-height:40px;font:18px/20px "微軟正黑體", Helvetica, Arial, sans-serif; color:#000000; padding:0px 10px; font-weight:600; overflow:hidden; word-wrap: break-word;word-break: break-all; margin:10px 0; }
.widget #tab-2.tab-content ul{ width:295px; height:20px;}
.widget #tab-2.tab-content ul li{font:13px/20px "微軟正黑體", Helvetica, Arial, sans-serif; color:#666666; width:295px; letter-spacing:1px;}
.widget #tab-2.tab-content ul.icon_block{ width:275px; margin-left:10px;}
.widget #tab-2.tab-content ul li.active_date{ float:left; border:none; width:auto; }
.widget #tab-2.tab-content ul li.active_location{ float:right; border:none; width:140px; height:20px; overflow:hidden; text-align:right; }
.widget #tab-2.tab-content span.active_content{ width:275px; height:34px; display:block; font:14px/17px "微軟正黑體", Helvetica, Arial, sans-serif; color:#666666; padding:0 10px; font-weight:600; word-wrap: break-word;word-break: break-all; overflow:hidden;border:0; }
.widget #tab-2.tab-content a.active_btn{
width:150px; height:40px; background-color:#109b83; color:#ffffff; text-align:center;font:16px/40px "微軟正黑體", Helvetica, Arial, sans-serif; margin-left:72px; margin-top:15px; text-decoration:none;display:block;-moz-border-radius: 5px; /* Firefox */-webkit-border-radius: 5px; /* Safari, Chrome */-khtml-border-radius: 5px; /* Konqueror */border-radius: 5px; /* Opera 10.50 and later (CSS3 standard) */behavior: url(border-radius.htc); /* IE6, IE7, IE8 */}
.widget #tab-2.tab-content a:hover.active_btn{ color:#C1C1C1;}

/* 研討會 */
.widget #tab-3.tab-content img{ margin:10px; text-align:center;}
.widget #tab-3.tab-content h3{ border:none !important; width:275px; max-height:40px;font:18px/20px "微軟正黑體", Helvetica, Arial, sans-serif; color:#000000; padding:0px 10px; font-weight:600; overflow:hidden; /*word-wrap: break-word;word-break: break-all;*/ margin:10px 0; }
.widget #tab-3.tab-content ul{ width:295px; height:20px;}
.widget #tab-3.tab-content ul li{font:13px/20px "微軟正黑體", Helvetica, Arial, sans-serif; color:#666666; width:295px; letter-spacing:1px;}
.widget #tab-3.tab-content ul.icon_block{ width:275px; margin-left:10px;}
.widget #tab-3.tab-content ul li.active_date{ float:left; border:none; width:auto; }
.widget #tab-3.tab-content ul li.active_location{ float:right; border:none; width:140px; height:20px; overflow:hidden; text-align:right; }
.widget #tab-3.tab-content span.active_content{ width:275px; height:34px; display:block; font:14px/17px "微軟正黑體", Helvetica, Arial, sans-serif; color:#666666; padding:0 10px; font-weight:600; word-wrap: break-word;word-break: break-all; overflow:hidden;border:0; }
.widget #tab-3.tab-content a.active_btn{
width:150px; height:40px; background-color:#109b83; color:#ffffff; text-align:center;font:16px/40px "微軟正黑體", Helvetica, Arial, sans-serif; margin-left:72px; margin-top:15px; text-decoration:none;display:block;-moz-border-radius: 5px; /* Firefox */-webkit-border-radius: 5px; /* Safari, Chrome */-khtml-border-radius: 5px; /* Konqueror */border-radius: 5px; /* Opera 10.50 and later (CSS3 standard) */behavior: url(border-radius.htc); /* IE6, IE7, IE8 */}
.widget #tab-3.tab-content a:hover.active_btn{ color:#C1C1C1;}

