/**
 * Image Store - Front-end
 *
 * @file pop-widget.css
 * @package Popular Widget
 * @author Hafid Trujillo
 * @copyright 20010-2013
 * @filesource  wp-content/plugins/image-store/_css/pop-widget.css
 * @since 0.5.0
 */

ul.pop-widget-tabs {
	list-style:none;
	clear:both;
	width:100%;
	border:none;
	margin:0!important;
	padding:0!important;
	font-size: 1.45rem;/*2015-0119 Ruby Update*/
	border-bottom: 4px solid #333;/*2015-0119 Ruby Update*/
}
ul.pop-widget-tabs li{padding:0;display:inline;line-height:30px;border:1px solid #f5f5f5;font-weight:bold;margin:0 1px 1px 0;font-size:11px;list-style:none;cursor:pointer;}

/*Original Setting
ul.pop-widget-tabs li a{float:left;display:block;padding:0 5px;background:#4c4c4c;line-height:30px;text-decoration:none;font-family:Arial,Helvetica,sans-serif; color:white; padding: 5px 14px;line-height: 20px;}
*/
ul.pop-widget-tabs li a{}
ul.pop-widget-tabs.pop-widget-tabs-3 li span,ul.pop-widget-tabs.pop-widget-tabs-4 li span,ul.pop-widget-tabs.pop-widget-tabs-5 li span{display:none}

/*Original Setting
ul.pop-widget-tabs li a:hover,ul.pop-widget-tabs li a.active,ul.pop-widget-tabs li a:active,ul.pop-widget-tabs li a:focus{background-color: #cd2122;color: white;line-height: 20px;}
*/

/*2015-0119 Ruby Update*/
ul.pop-widget-tabs li a:hover,ul.pop-widget-tabs li a.active,ul.pop-widget-tabs li a:active,ul.pop-widget-tabs li a:focus {
	color: #333;
	padding-left: 5px;
	font-size: 1.45rem;
	line-height: 1.9;
	background-color: none!important;
	font-family:  '微軟正黑體', Arial, STHeiti, Sans Serif;
	text-decoration: none;
}

div.pop-inside{clear:both;padding:0;margin:25px 0px 0px;}
div.pop-inside ul{border:none;padding:0;display:block;list-style:none;position:relative;margin:0!important;}
div.pop-inside ul li{margin:0;list-style:none;position:relative;padding:8px 5px;border-bottom:dotted 1px #ccc;}
div.pop-inside ul li .entry-summary{clear:none;display:block;margin:0 0 5px;padding:0;font-size:.9em;}
div.pop-inside ul li .pop-title{clear:none;font-weight:bold;margin:0 0 3px;padding:0;}
div.pop-inside ul li .pop-summary{display:block;}
div.pop-inside ul li a{cursor:pointer;text-decoration:none;font-weight:normal}
div.pop-inside ul li:hover,div.pop-inside ul li:active,div.pop-inside ul li:focus{background:#f5f5f5}
div.pop-inside ul li a:hover,div.pop-inside ul li a:active,div.pop-inside ul li a:focus{text-decoration:none;}
div.pop-inside ul li p{margin:0;padding:0;}div.pop-inside ul li img{display:block;margin:0 auto;height:auto}
div.pop-inside br.pop-cl{clear:both;content:'';display:block;}
div.pop-inside br.pop-cl:after,div.pop-inside br.pop-cl:before{content:''}
div.pop-inside ul li .pop-overlay{bottom:0;opacity:.8;display:block;padding:5px;background-color:#444;position:absolute;}
div.pop-inside ul li .pop-rating{float:left;width:12px;color:#FFF;font-size:.9em;padding:0 3px;display:block;margin-right:5px;text-align:center;line-height:120%;background-color:#666;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
div.pop-inside ul li:last-child{border-bottom:none;margin:0;}
.pop-layout-v div.pop-inside ul li .pop-overlay{opacity:1;display:inline;padding:0;background:none;position:static;}
.pop-layout-v div.pop-inside ul li img{margin:0;float:left;height:auto;max-width:65px;margin-right:10px;}
div.pop-inside ul.wp-tag-cloud{width:auto;height:auto;padding:5px 8px !important;}
div.pop-inside ul.wp-tag-cloud li{padding:0;width:auto;display:inline-block;word-break:break-all;word-wrap:break-word;border-bottom:none;}
div.pop-inside ul.wp-tag-cloud a:hover,div.pop-inside ul.wp-tag-cloud a:focus,div.pop-inside ul.wp-tag-cloud a:active{text-decoration:underline}