#page_content #sub-page .content div.tabs{
height: 46px;
margin-bottom: 22px;
}
#page_content #sub-page .content div.tabs ul {
height: 100%;
list-style: none outside none;
width: 100%;
display: table;
}
#page_content #sub-page .content div.tabs ul li {
background: url("http://static3.bzwbk.pl/asset/6/1/1/61145efe4e86489f8c7e30a8d1a90ebe.gif") repeat-x scroll 0 0 transparent;
border-right: 1px solid #FFFFFF;
float: none;
height: 46px;
padding: 0;
display: table-cell;
width: auto;
}
#page_content #sub-page .content div.tabs ul li.clear {
background: none repeat scroll 0 0 transparent;
border-right: medium none;
float: none;
height: auto;
}
#page_content #sub-page .content div.tabs ul li a {
color: #333333;
display: block;
line-height: 14px;
padding: 6px 9px 0;
text-decoration: none;
text-align:Center;
margin:auto;
}
#page_content #sub-page .content div.tabs ul li a.active {
background: url("http://static3.bzwbk.pl/asset/8/b/f/8bfba51c233a454e6385668491aaa7d0.gif") repeat-x scroll center bottom #E0E1E3;
height: 40px;
}