body {
background-color: #313238;
padding-bottom: 105px;
}
a {
color: #009633;
outline: medium none;
}
a:hover {
text-decoration: underline;
}
hr {
margin: 5px 0;
}
/* 123 */
form .text {
border-color: #ABADB3 #E2E3EA #E3E9EF;
border-style: solid;
border-width: 1px;
color: #313238;
font-size: 11px;
padding: 0px 5px;
}
.page {
margin: 0 auto;
width: 960px;
}
.clear {
clear: both;
font-size: 0;
line-height: 0;
}
.odstep {
height: 20px;
}
#page_head {
height: 492px;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #f5f5f6), color-stop(1, #dedee3));
background-image: -moz-linear-gradient(center top, #f5f5f6 30%, #dedee3 100%);
background-image: -o-linear-gradient(#f5f5f6, #dedee3);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #f5f5f6, endColorstr = #dedee3);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5f5f6, endColorstr=#dedee3)";
background-color: #dedee3;
}

body.subpage #page_head{
height: 158px;
}

#page_head .page_header_wrapper {
width: 940px;
padding: 0 10px;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, white), color-stop(1, #e7e7e9));
background-image: -moz-linear-gradient(center top, white 30%, #e7e7e9 100%);
background-image: -o-linear-gradient(white, #e7e7e9);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = white, endColorstr = #e7e7e9);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=white, endColorstr=#e7e7e9)";
background-color: #e7e7e9;
position: relative;
z-index: 6000 !important;
}
/* //static3.bzwbk.pl/asset/s/h/a/shadow_horizontal_25746.png */
#page_head header {
background: url("//static3.bzwbk.pl/asset/s/h/a/shadow_horizontal_25746.png") no-repeat scroll center bottom transparent;
height: 158px;
position: relative;
}
#page_head header .logo {
float: left;
}
#page_head header .logo img {
display: block;
}

#page_head header .contact, #page_head header .order, #page_head header .signin {
color: #FFFFFF;
display: inline-block;
float: right;
font-size: 13px;
height: 25px;
line-height: 24px;
margin: 10px 0 0 8px;
padding: 0 36px 0 10px;
position: relative;
}
.signin_box article .button_signin {
color: white;
display: inline-block;
float: left;
font-size: 13px;
height: 25px;
line-height: 24px;
padding: 0 36px 0 10px;
position: relative;
text-align: center;
width: 151px !important;
}
#page_head header .order, #page_head header .contact, #page_head header .signin, .signin_box article .button_signin  {
font-weight: bold;
-moz-box-shadow: 0 1px 2px #999999;
-webkit-box-shadow: 0 1px 2px #999999;
box-shadow: 0 1px 2px #999999;
behavior: url(//static3.bzwbk.pl/asset/p/i/e/pie_25633.htc);
}

.signin_box article .button_signin {
margin-bottom: 10px;
}
/* //static3.bzwbk.pl/asset/s/p/r/sprite_25752.png */
.signin_box article .button_signin span {
background: url("//static3.bzwbk.pl/asset/s/p/r/sprite_25752.png") no-repeat scroll -33px 0 transparent;
height: 12px;
position: absolute;
right: 13px;
top: 7px;
width: 10px;
}
.signin_box article .button_signin:after {
content: "";
display: inline-block;
height: 12px;
position: absolute;
right: 8px;
top: 6px;
width: 11px;
z-index: 1;
}

#page_head header .signin .gradient{
content: "";
display: inline-block;
height: 12px;
position: absolute;
right: 0px;
top: 0px;
height: 25px;
width: 26px;
z-index: 1;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #FB4444), color-stop(1, #ff0000));
background-image: -moz-linear-gradient(center top, #FB4444 30%, #ff0000 100%);
background-image: -o-linear-gradient(#FB4444, #ff0000);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #FB4444, endColorstr = #ff0000);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FB4444, endColorstr=#ff0000)";
background-color: #ff4700;

}

#page_head header .contact .gradient{
content: "";
display: inline-block;
height: 12px;
position: absolute;
right: 0px;
top: 0px;
height: 25px;
width: 26px;
z-index: 1;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #fafafb), color-stop(1, #d2d3d4));
background-image: -moz-linear-gradient(center top, #fafafb 30%, #d2d3d4 100%);
background-image: -o-linear-gradient(#fafafb, #d2d3d4);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #fafafb, endColorstr = #d2d3d4);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fafafb, endColorstr=#d2d3d4)";
background-color: #ff4700;

}

#page_head header .order .gradient{
content: "";
display: inline-block;
height: 12px;
position: absolute;
right: 0px;
top: 0px;
height: 25px;
width: 26px;
z-index: 1;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #0EB549), color-stop(1, #006233));
background-image: -moz-linear-gradient(center top, #0EB549 30%, #006233 100%);
background-image: -o-linear-gradient(#0EB549, #006233);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #0EB549, endColorstr = #006233);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0EB549, endColorstr=#006233)";
background-color: #006233;

}

#page_head header .signin, .signin_box article .button_signin {
    color: #fff;
	background-color: #ff0000;
    width: 71px;
}

#page_head header .contact {
color: #313238;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #fbfbfb), color-stop(1, #eeeff1));
background-image: -moz-linear-gradient(center top, #fbfbfb 30%, #eeeff1 100%);
background-image: -o-linear-gradient(#fbfbfb, #eeeff1);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #fbfbfb, endColorstr = #eeeff1);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fbfbfb, endColorstr=#eeeff1)";
background-color: #ff4700;
width: 71px;
}

.signin_box article .button_signin:hover {
text-decoration: none;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #ff0000), color-stop(1, #ff6b6b));
background-image: -moz-linear-gradient(center top, #ff0000 30%, #ff6b6b 100%);
background-image: -o-linear-gradient(#ff0000, #ff6b6b);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #ff0000, endColorstr = #ff6b6b);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff0000, endColorstr=#ff6b6b)";
background-color: #ff0000;
color: white;
}

#page_head header .order {
width: 171px;
padding: 0;
padding-left: 10px;
background-color: #006f49;
}

#page_head header .order:hover {
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #006233), color-stop(1, #009433));
background-image: -moz-linear-gradient(center top, #006233 30%, #009433 100%);
background-image: -o-linear-gradient(#006233, #009433);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #006233, endColorstr = #009433);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#006233, endColorstr=#009433)";
background-color: #009433;
text-decoration: none;
}

#page_head header .order:before {
background-image: -moz-linear-gradient(center top , #009433 30%, #006233 100%);
}
#page_head header .gradient .sorder {
background: url("//static3.bzwbk.pl/asset/s/p/r/sprite_25752.png") no-repeat scroll -11px 0 transparent;
display: inline-block;
height: 12px;
position: absolute;
right: 8px;
top: 6px;
width: 11px;
z-index: 1;
}

#page_head header .signin:hover {
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #FF0000), color-stop(1, #FF7878));
background-image: -moz-linear-gradient(center top, #FF0000 30%, #FF7878 100%);
background-image: -o-linear-gradient(#FF0000, #FF7878);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #FF0000, endColorstr = #FF7878);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000, endColorstr=#FF7878)";
background-color: #ff723e;
text-decoration: none;
}
#page_head header .contact:hover {
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #eeeff1), color-stop(1, #fbfbfb));
background-image: -moz-linear-gradient(center top, #eeeff1 30%, #fbfbfb 100%);
background-image: -o-linear-gradient(#eeeff1, #fbfbfb);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #eeeff1, endColorstr = #fbfbfb);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#eeeff1, endColorstr=#fbfbfb)";
background-color: #ff723e;
text-decoration: none;
}
#page_head header .gradient .ssignin {
background: url("//static3.bzwbk.pl/asset/s/p/r/sprite_25752.png") no-repeat scroll -33px 0 transparent;
display: inline-block;
height: 12px;
position: absolute;
right: 7px;
top: 6px;
width: 10px;
z-index: 1;
}
#page_head header .gradient .scontact {
background: url("//static3.bzwbk.pl/asset/s/p/r/sprite_25752.png") no-repeat scroll 0 0 transparent;
display: inline-block;
height: 12px;
position: absolute;
right: 7px;
top: 6px;
width: 11px;
z-index: 1;
}
#page_head header .contact {
width: 45px;
}
.ie8 .other_sites .ie7_anon, .ie7 .other_sites .ie7_anon, .ie6 .other_sites .ie7_anon {
left: 8px;
position: relative;
top: -2px !important;
}
.ie8 #ie7_pseudo5, .ie7 #ie7_pseudo5, .ie6 #ie7_pseudo5 {
display: none !important;
}
nav.page {
position: relative;
width: 940px;
/*display: table;*/
    display: block;
}
nav.page.sid {
height: 66px;
position: relative;
top: 11px;
}
nav .main {
font-size: 0;
line-height: 0;
position: relative;
/*display: table-row;*/
}
nav .main li {
/*display: table-cell;*/
    display: inline-block;
}
/*nav .main li:last-child {
top: -50px;
position: absolute;
right: 0px;
}*/
body.v320 nav .main li:last-child {
border-top: 1px solid #fff;
position: static;
}
/*nav .main li:last-child a {
background: rgb(171, 171, 171);
}*/
nav .main .page_list li {
display: block;
float: left;
}
nav .main li .tab {
color: #fff;
display: block;
height: 30px;
font-size: 14px;
line-height: 30px;
text-align: center;
margin-right: 1px;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #83848B), color-stop(1, #4F5055));
background-image: -moz-linear-gradient(center top, #83848B 30%, #4F5055 100%);
background-image: -o-linear-gradient(#83848B, #4F5055);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #83848B, endColorstr = #4F5055);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#83848B,, endColorstr=#4F5055)";
background-color: #33343a;
outline: none;
overflow:hidden;
padding: 0 18px !important;
}

nav .main li.other_sites_tab {
position: relative;
z-index: 999;
}
nav .main li.current .tab {
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, white), color-stop(1, white));
background-image: -moz-linear-gradient(center top, white 30%, white 100%);
background-image: -o-linear-gradient(white, white);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = white, endColorstr = white);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=white, endColorstr=white)";
background-color: white;
color: #313238;
}

nav .main li.current .other_sites {
-moz-box-shadow: 0 0 5px #cccccc;
-webkit-box-shadow: 0 0 5px #cccccc;
box-shadow: 0 0 5px #cccccc;
}
nav .main li.current .other_sites span {
background-position: 0 0 !important;
}
nav .main li.current .sub {
display: block;
}
nav .main ul.sub {
background-color: #FFFFFF;
display: none;
height: 39px;
position: absolute;
left: 0;
margin-left: 0 !important;
width: 940px;
}
nav .main ul.sub a {
color: #313238;
display: inline-block;
font-size: 13px;
line-height: 30px;
padding: 0 11px;
margin-top: 7px;
}
nav .main ul.sub.sid {
height: 43px;
}
nav .main ul.sub.sid li{
height: 43px;
}
nav .main ul.sub.sid a {
line-height: 14px;
padding: 0 14px;
height: 31px;
}
nav .main ul.sub.sid .section_menu_on:after {
background-color: #FFFFFF;
bottom: -15px;
content: "";
height: 12px;
left: 0;
position: absolute;
width: 100%;
}
nav .main ul.sub li.promocje {
height:19px;
margin-left: 149px;
}

#page_head header nav .main ul.sub li.promocje a{
margin:0px;
width:70px;
}
nav .main ul.sub li.first a {
margin-left: 5px;
}
nav .main ul.sub li.first h2 a{
margin-left:0px;
}
nav .main ul.sub li.first h2{
margin-left:5px;
}
nav .main ul.sub a:hover{
color: #FF0000;
}
nav .main .other_sites span {
background: url("//static3.bzwbk.pl/asset/s/p/r/sprite_25752.png") no-repeat scroll -22px 0 transparent;
content: "";
display: inline-block;
height: 11px;
margin-left: 6px;
position: relative;
top: 1px;
width: 11px;
}
:first-child + html nav .main .other_sites span {
left: 6px;
top: -1px;
}
nav .main .searcher form {
float: right;
}
.ie7 nav.page {
top: 0;
}
.page_main_video {
display: none;
height: 334px;
overflow: hidden;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #525358), color-stop(1, #35353c));
background-image: -moz-linear-gradient(center top, #525358 30%, #35353c 100%);
background-image: -o-linear-gradient(#525358, #35353c);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #525358, endColorstr = #35353c);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#525358, endColorstr=#35353c)";
background-color: #35353c;
position: relative;
}

.page_main_video .yt {
display: block;
margin: 4px auto 0;
}
.page_main_video .close {
color: #FFFFFF;
font-size: 12px;
font-weight: bold;
position: absolute;
right: 10px;
text-decoration: none;
top: 5px;
}
.page_main_video .close:after {
background: url("//static3.bzwbk.pl/asset/s/p/r/sprite_25752.png") no-repeat scroll 0 -33px transparent;
content: "";
display: inline-block;
height: 20px;
margin-left: 7px;
position: relative;
top: 5px;
width: 20px;
}
.page_main_video .recomended {
bottom: 5px;
color: #FFFFFF;
font-size: 12px;
font-weight: bold;
position: absolute;
right: 15px;
}
.page_main_video .recomended img {
display: block;
margin-top: 5px;
}
.copy {
color: #878C9F;
font-size: 11px;
padding: 15px 0 0 20px;
}
.mini_searcher {
float: right;
text-align: right;
width: 180px;
}
.mini_searcher .text {
height: 22px;
padding: 0px 2px;
max-width:140px;
}
.mini_searcher form {
margin-top: -10px;
}
/* //static3.bzwbk.pl/asset/s/l/o/sloop_25750.jpg */
.mini_searcher .search_btn {
background: url("//static3.bzwbk.pl/asset/s/l/o/sloop_25750.jpg") no-repeat scroll -3px 0 transparent;
border: medium none;
color: #313238;
display: inline-block;
font-size: 11px;
height: 22px;
margin-left: 4px;
position: relative;
top: 10px;
width: 31px;
-moz-box-shadow: 0 2px 3px #666666;
-webkit-box-shadow: 0 2px 3px #666666;
box-shadow: 0 2px 3px #666666;
behavior: url(//static3.bzwbk.pl/asset/p/i/e/pie_25633.htc);
}
#page_content {
background-color: #FFFFFF;
padding-bottom: 20px;
}
#content {
margin: 0 auto;
padding: 0 10px 10px;
width: 940px;
}
#content section.main {
background-color: #FFFFFF;
float: left;
margin: 0 0 0 -15px;
min-height: 310px;
padding: 0 16px 0 15px;
width: 624px;
}
/* //static3.bzwbk.pl/asset/s/h/a/shadow_vertical_25747.png */
#content aside.main {
background: url("//static3.bzwbk.pl/asset/s/h/a/shadow_vertical_25747.png") no-repeat scroll left top #F7F8F9;
float: left;
margin-right: -10px;
position: relative;
width: 310px;
height: auto;
}
#content aside.main header, #content aside.main nav {
margin-left: 15px;
}
#content aside.main header h2{
padding-bottom: 0px;
}
#content .bottom_clear {
background-color: #FFFFFF;
clear: both;
height: 30px;
}
.social_bzwbk_wrapper {
background-color: #F7F8F9;
padding: 10px 0;
position: relative;
z-index: 1;
}
/* //static3.bzwbk.pl/asset/s/c/r/scroll_25742.png */
.social_bzwbk_wrapper a.open {
background: url("//static3.bzwbk.pl/asset/s/c/r/scroll_25742.png") no-repeat scroll 0 0 transparent;
color: #666666;
cursor: pointer;
display: block;
font-size: 9px;
height: 16px;
left: 50%;
line-height: 16px;
margin-left: -27px;
padding-left: 6px;
position: absolute;
text-align: center;
text-decoration: none;
top: 42px;
width: 54px;
z-index: 2;
}
.social_bzwbk_wrapper a.close {
background: url("//static3.bzwbk.pl/asset/s/c/r/scroll_25742.png") no-repeat scroll 0 0 transparent;
color: #666666;
cursor: pointer;
display: block;
font-size: 9px;
height: 16px;
left: 50%;
line-height: 16px;
margin-left: -27px;
padding-left: 6px;
position: absolute;
text-align: center;
text-decoration: none;
top: 42px;
width: 54px;
z-index: 2;
}
.social_bzwbk_wrapper a.close {
background-position: left top;
top: 265px;
}

/* //static3.bzwbk.pl/asset/p/i/e/pie_25633.htc */
.social_bzwbk_wrapper .social_tab {
display: none;
z-index: 70000;
left: 10px;
top: 42px;
width: 958px;
/*min-height: 230px;*/
border: 1px solid #CCC;
background-color: #fff;
-moz-box-shadow: 0 3px 3px #999999;
-webkit-box-shadow: 0 3px 3px #999999;
box-shadow: 0 3px 3px #999999;
behavior: url(//static3.bzwbk.pl/asset/p/i/e/pie_25633.htc);
border-image: initial;
}

.social_bzwbk_wrapper .social_tab .col {
float: left;
margin: 18px 0 20px;
}
.social_bzwbk_wrapper .social_tab .col1 {
border-right: 1px solid #ECEEEF;
margin-right: 15px;
padding: 0 10px;
width: 303px;
}
.social_bzwbk_wrapper .social_tab .col1 ul {
list-style-type: none;
margin-bottom: 5px;
}
.social_bzwbk_wrapper .social_tab .col1 li {
padding-bottom: 7px;
}
.social_bzwbk_wrapper .social_tab .col1 .date {
color: #7D7E81;
font-size: 12px;
line-height: 100%;
}
.social_bzwbk_wrapper .social_tab .col1 a, .social_bzwbk_wrapper .social_tab .col2 p {
color: #006233;
font-size: 13px;
}
.social_bzwbk_wrapper .social_tab .col2 p {
color: #006233;
font-size: 13px;
padding-bottom: 5px;
}
.social_bzwbk_wrapper .social_tab .col1 .first_link a {
color: red;
font-size: 13px;
}
.social_bzwbk_wrapper .social_tab .col1 .more {
font-size: 11px;
}
.social_bzwbk_wrapper .social_tab .col2 {
padding-right: 10px;
width: 300px;
}
.social_bzwbk_wrapper .social_tab .col2 .title {
color: #313238;
float: left;
font-size: 14px;
line-height: 110%;
width: 155px;
}
.social_bzwbk_wrapper .social_tab .col2 .button {
float: left;
font-size: 12px;
margin-top: 2px;
padding: 3px 10px;
}
.social_bzwbk_wrapper .social_tab .col2 img {
display: inline-block;
margin-right: 7px;
}
.social_bzwbk_wrapper .social_tab .facebook {
background-color: white;
border-left: 1px solid #CCCCCC;
float: right;
height: 199px;
padding: 10px 7px 20px;
width: 294px;
}
.fb_iframe_widget {
position: relative;
display: -moz-inline-block;
display: inline-block;
margin-bottom: 7px;
}
.contact_details a span, .contact_details a span.nk, .contact_details a span.fb, .contact_details a span.yt, .contact_details a span.gp, .contact_details a span.blog, .contact_details a span.bankp {
background: url("//static3.bzwbk.pl/asset/s/p/r/sprite_25752.png") no-repeat scroll 0 0 transparent;
display: inline-block;
margin: 0 3px;
}
.contact_details a.button {
background-color: #FFFFFF;
border-bottom: 1px solid #C5C5CA;
color: #666666 !important;
display: block;
float: left;
font-size: 11px;
height: 21px;
line-height: 22px;
margin: 2px 0 0 2px;
padding: 2px 5px;
vertical-align: middle !important;
}
.social_bzwbk_wrapper .social_tab h2 {
color: #313238;
font-size: 14px;
font-weight: bold;
margin-bottom: 10px;
}
.social_bzwbk {
width: 940px;
margin: 0 auto;
height: 30px;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.1, white), color-stop(1, #eff0f2));
background-image: -moz-linear-gradient(center top, white 10%, #eff0f2 100%);
background-image: -o-linear-gradient(white, #eff0f2);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = white, endColorstr = #eff0f2);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=white, endColorstr=#eff0f2)";
background-color: #ffffff;
}

.social_bzwbk .excerpt, .social_bzwbk .our_sites {
float: left;
line-height: 32px;
}

.social_bzwbk .social {
float: right;
padding-right: 9px;
}
.social_bzwbk .social .header {
color: #666666;
display: block;
float: left;
font-size: 11px;
margin-right: 8px;
padding-top: 8px;
}
.social_bzwbk .social a {
margin: 0;
padding: 0;
}
.social_bzwbk .social a.button {
color: #666666;
display: block;
float: left;
font-size: 11px;
height:25px;
line-height: 22px;
margin: 2px 0 0 4px;
padding:0px;
}
.social_bzwbk .social a.close {
display: none;
float: left;
height: 16px;
width: 54px;
}
section.social_bzwbk section.news_wrapper{
width: 470px;
margin-left: 10px;
padding-top: 9px;
display: block;
float: left;
}
section.social_bzwbk section.news_wrapper a{
line-height: 12px;
display: block;
float:none;
}

.social_bzwbk .social a span, .social_tab .facebook a span.nk, .footer_links .about_others a span.nk, .footer_links .about_others a span.fb, .footer_links .about_others a span.yt, .footer_links .about_others a span.bp {
background: url("//static3.bzwbk.pl/asset/s/p/r/sprite_25752.png") no-repeat scroll 0 0 transparent;
display: inline-block;
margin: 0 3px;
}
.footer_links .about_others a span.text_nk, .footer_links .about_others a span.text_fb, .footer_links .about_others a span.text_yt, .footer_links .about_others a span.text_bp, .footer_links .about_others a span.text_tw {
color: #313238;
font-size: 11px;
vertical-align: 0.5em;
}
.social_tab .facebook a span.text_nk {
color: gray;
font-size: 9px;
padding-left: 2px;
vertical-align: 0.4em;
}
.footer_links .about_others a span.fb {
background-position: -23px -14px;
height: 15px;
width: 15px;
}
.contact_details a span.fb {
background-position: -85px -40px;
height: 24px;
width: 24px;
}
.social_bzwbk .social a span.fb{
background-position: -85px -40px;
height: 24px;
width: 24px;
margin: 0px;
}
.social_bzwbk .social a span.tw, .contact_details a span.tw, .footer_links .about_others a span.tw {
background: url("//static3.bzwbk.pl/asset/t/w/i/twitter_48165.png") no-repeat scroll 0 0 transparent;
display: inline-block;
margin: 0 3px;
}
.social_bzwbk .social a span.tw, .contact_details a span.tw {
height: 24px;
width: 24px;
margin: 0px;
}
.social_bzwbk .social a span.in, .contact_details a span.in, .footer_links .about_others a span.in {
    background: url("//static3.bzwbk.pl/asset/l/i/n/linkedin_61706.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    margin: 0 3px;
}
.social_bzwbk .social a span.in, .contact_details a span.in {
height: 24px;
width: 24px;
margin: 0px;
}

.footer_links .about_others a span.tw_st {
background: url("//static3.bzwbk.pl/asset/i/k/o/ikona-do-stopki_48164.png") no-repeat scroll 0 0 transparent;
display: inline-block;
margin: 0 3px;
}
.footer_links .about_others a span.tw_st {
height: 18px;
width: 18px;
}

.footer_links .about_others a span.bp, .contact_details a span.bp{
background-position: -1px -118px;
height: 15px;
width: 15px;
}
.social_tab .facebook a {
padding-left: 6px;
}
.social_tab .facebook a:hover {
text-decoration: underline;
}
.social_tab .facebook a span.nk {
background-position: -39px -14px;
height: 14px;
width: 14px;
}
.footer_links .about_others a span.nk {
background-position: -39px -14px;
height: 15px;
width: 15px;
}
.contact_details a span.nk {
background-position: -85px -65px;
height: 24px;
width: 24px;
}
.social_bzwbk .social a span.nk {
background-position: -85px -65px;
height: 24px;
width: 24px;
margin: 0px;
}

.footer_links .about_others a span.yt {
background-position: -55px -16px;
height: 18px;
width: 16px;
}
.contact_details a span.yt {
background-position: -35px -65px;
height: 24px;
width: 24px;
}
.social_bzwbk .social a span.yt{
background-position: -35px -65px;
height: 25px;
width: 24px;
margin: 0px;
}
.social_bzwbk .social a span.blog{
background-position: -17px -118px;
height: 24px;
width: 34px;
margin: 0px;
}
.contact_details a span.blog {
background-position: -17px -118px;
height: 24px;
width: 34px;
}
.social_bzwbk .social a span.gp{
background-position: -60px -65px;
height: 24px;
width: 24px;
margin: 0px;
}
.social_bzwbk .social a span.bp{
background-position: -1px -92px;
height: 24px;
width: 107px;
margin: 0px;
}
.contact_details a span.bankp {
background-position: -1px -92px;
height: 24px;
width: 107px;
}
.contact_details a span.gp {
background-position: -60px -65px;
height: 24px;
width: 24px;
}
.social_bzwbk span.aktualnosci {
color: black;
float: left;
font-size: 12px;
font-weight: bold;
padding: 8px 0 0 11px;
text-transform: uppercase;
}
.social_bzwbk .excerpt {
color: #006233;
font-size: 12px;
padding-left: 0px;
width: 470px;
}
.social_bzwbk .excerpt a {
color: #006233;
font-size: 12px;
}
.social_bzwbk .our_sites {
font-size: 11px;
text-align: right;
width: 273px;
}
.social_bzwbk .our_sites a {
color: #666666;
padding-left: 10px;
}
.box header {
border-bottom: 1px solid #E5E7E9;
margin-bottom: 10px;
}
.box h2 {
color: #000000;
font-size: 18px;
font-weight: bold;
padding-bottom: 10px;
}
.box, .order_details_box h3 {
color: #313238;
font-size: 16px;
font-weight: normal;
line-height: 150%;
}
.order_details_box a{
color: #313238;
}
.box, .order_details_box p.info {
color: #7D7E81;
font-size: 11px;
height: 35px;
}
.side_links {
margin: 10px 0;
}
/* //static3.bzwbk.pl/asset/g/r/e/green_arrow_25706.png */
.side_links li {
background: url("//static3.bzwbk.pl/asset/g/r/e/green_arrow_25706.png") no-repeat scroll 0 6px transparent;
padding: 4px 0 4px 23px;
position: relative;
}
.side_links a {
color: #006233;
font-size: 14px;
}
/* //static3.bzwbk.pl/asset/i/c/o/icon-phone_25710.png */
.infolina {
font-size: 18px;
padding: 15px 0 15px 50px;
background: url(//static3.bzwbk.pl/asset/i/c/o/icon-phone_25710.png) no-repeat 15px center #EFF0F1;
color: #006233;
}
.infolina a {
color: #006233;
}
.infolina span {
color: #000000;
font-weight: bold;
}
.recomended .box header, .other_sites_section header {
border: medium none;
margin-bottom: 0px;
}
.recomended h2, .other_sites_section h2 {
padding-bottom: 0;
}
.recomended .product, .other_sites_section .product {
border-top: 1px solid #ECEEEF;
float: left;
height: 144px;
margin-right: 15px;
padding: 10px 0;
width: 198px;
}
.recomended .product.no-border{
border-top: none;
}
.recomended .product a{
color: #313238;
}

.recomended .product .more{
float:right;
color: #7D7E81;
}
.recomended .no_image, .other_sites_section .no_image {
height: 60px;
padding-top: 10px;
}
.recomended .last, .other_sites_section .last {
margin-right: 0;
}
.recomended .box p.info {
height: 30px;
}
.other_sites_section .wrapper {
padding: 15px 20px;
}
.other_sites_section h3 {
font-weight: bold;
}
/* //static3.bzwbk.pl/asset/r/a/r/rarrow_25738.png */
.with_arrow {
background: url("//static3.bzwbk.pl/asset/r/a/r/rarrow_25738.png") no-repeat scroll right 6px transparent;
display: inline;
padding-right: 15px;
}
.other_sites_section .product {
border-bottom: 1px solid #ECEEEF;
border-top: medium none;
height: 105px;
margin-bottom: 8px;
margin-right: 20px;
padding-bottom: 8px;
width: 210px;
}
.orher_sites_section .product a{
color: #006233;
}
.other_sites_section .product a h3.with_arrow{
background: url("//static3.bzwbk.pl/asset/r/a/r/rarrow_25738.png") no-repeat right 3px;
color: #006233;
}
.recomended .product h3.with_arrow{
font-size: 14px;
font-weight: normal;
background-position: right 4px;
}
.other_sites_section .small_list {
border: medium none;
height: auto;
}
.other_sites_section .small_list a {
color: #7D7E81;
font-size: 12px;
}
.other_sites_section .last {
margin-right: 0;
}

.other_sites_section .button {
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #ff6b6b), color-stop(1, #ff0000));
background-image: -moz-linear-gradient(center top, #ff6b6b 30%, #ff0000 100%);
background-image: -o-linear-gradient(#ff6b6b, #ff0000);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #ff6b6b, endColorstr = #ff0000);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff6b6b, endColorstr=#ff0000)";
background-color: #ff6b6b;
color: #fff;
}

.other_sites_section .button:hover {
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #ff0000), color-stop(1, #ff6b6b));
background-image: -moz-linear-gradient(center top, #ff0000 30%, #ff6b6b 100%);
background-image: -o-linear-gradient(#ff0000, #ff6b6b);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #ff0000, endColorstr = #ff6b6b);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff0000, endColorstr=#ff6b6b)";
background-color: #ff0000;
}

.other_sites_section p.info {
height: 40px;
}
.search_results_mini {
width: 304px;
background-color: #fff;
position: absolute;
z-index: 20002;
right: -20px;
padding: 3px 0 2px 0;
-moz-box-shadow: 0 0 5px #666666;
-webkit-box-shadow: 0 0 5px #666666;
box-shadow: 0 0 5px #666666;
margin-top: 2px;
display: none;
}
.search_results_mini:before {
background-color: #FFFFFF;
bottom: -12px;
content: "";
display: block;
height: 0px;
position: absolute;
right: 0;
top: -10px;
width: 205px;
}
.search_results_mini .article {
border-bottom: 1px solid #ECEEEF;
margin: 5px 7px;
padding: 0 10px 5px;
}
.search_results_mini > * {
margin: 5px 7px;
padding: 0 10px 5px;
}
.search_results_mini ul li {
margin-left: 15px;
}
.search_results_mini span {
display: block;
margin: 5px 7px;
padding: 0 10px 5px;
}
.search_results_mini .more span {
display: inline;
margin: auto;
padding: 0;
}
.search_results_mini .article h2 {
margin-bottom: 3px;
}
.search_results_mini .article h2 a {
color: #313238;
font-size: 16px;
font-weight: bold;
}
.search_results_mini .article .info {
color: #7D7E81;
font-size: 11px;
}
.search_results_mini a {
color: #006233;
font-size: 11px;
}
.search_results_mini a.more {
color: #006233;
display: inline-block;
margin-left: 17px;
}
.mini_searcher_results_on {
background-color: #fff;
-moz-box-shadow: 0 0 5px #666666;
-webkit-box-shadow: 0 0 5px #666666;
box-shadow: 0 0 5px #666666;
position: relative;
z-index: 20001;
top: -30px;
right: -14px;
padding: 5px 10px 5px 5px;
}
.signin_box {
width: 240px;
background-color: #fff;
position: absolute;
left: 0;
top: 69px;
height: auto;
z-index: 30000;
display: none;
-moz-box-shadow: 0 0 5px #666666;
-webkit-box-shadow: 0 0 5px #666666;
box-shadow: 0 0 5px #666666;
behavior: url(//static3.bzwbk.pl/asset/p/i/e/pie_25633.htc);
padding: 7px 0px 7px 0px;
}

.signin_box article {
float: none;
height: 102px;
overflow: hidden;
position: relative;
width: 233px;
}
.signin_box article.last {
width: 240px;
}
.signin_box article.last .wrapper {
margin-right: 17px;
}
.signin_box article .wrapper {
margin-left: 17px;
}
.signin_box article h2 {
color: #313238;
font-size: 21px;
font-weight: bold;
margin: 10px 0 5px;
}
/* //static3.bzwbk.pl/asset/g/a/r/garrow_25705.png */
.signin_box article .button_links, .other_sites_section .small_list .button_links, .social_tab .col1 .more {
background: url("//static3.bzwbk.pl/asset/g/a/r/garrow_25705.png") no-repeat scroll right 5px transparent;
padding-right: 10px;
}
.signin_box article label {
color: #A9ABB0;
font-size: 11px;
}
.signin_box article .links {
padding: 5px 0 5px 17px;
width: 100%;
}
.signin_box article .links a {
color: #7D7E81;
font-size: 12px;
}
.button, .button_order {
border-bottom: 1px solid #E1E1E1;
display: inline-block;
font-size: 11px;
padding: 1px 25px 1px 10px;
}
.button:hover, .button_order:hover {
text-decoration: none;
}
.button_grey {
color: #333;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #fbfbfb), color-stop(1, #eeeff1));
background-image: -moz-linear-gradient(center top, #fbfbfb 30%, #eeeff1 100%);
background-image: -o-linear-gradient(#fbfbfb, #eeeff1);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #fbfbfb, endColorstr = #eeeff1);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fbfbfb, endColorstr=#eeeff1)";
background-color: #eeeff1;
position:relative;
}

.button_grey:hover {
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #eeeff1), color-stop(1, #fbfbfb));
background-image: -moz-linear-gradient(center top, #eeeff1 30%, #fbfbfb 100%);
background-image: -o-linear-gradient(#eeeff1, #fbfbfb);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #eeeff1, endColorstr = #fbfbfb);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#eeeff1, endColorstr=#fbfbfb)";
background-color: #fbfbfb;
}

.button_orange {
color: #fff;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #ff723e), color-stop(1, #ff4700));
background-image: -moz-linear-gradient(center top, #ff723e 30%, #ff4700 100%);
background-image: -o-linear-gradient(#ff723e, #ff4700);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #ff723e, endColorstr = #ff4700);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff723e, endColorstr=#ff4700)";
background-color: #ff4700;
}

.button_orange:hover {
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #ff4700), color-stop(1, #ff4700));
background-image: -moz-linear-gradient(center top, #ff4700 30%, #ff4700 100%);
background-image: -o-linear-gradient(#ff4700, #ff4700);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #ff4700, endColorstr = #ff4700);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4700, endColorstr=#ff4700)";
background-color: #ff723e;
}

.button_red {
color: white;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #ff0404), color-stop(1, #ff7878));
background-image: -moz-linear-gradient(center top, #ff0404 30%, #ff7878 100%);
background-image: -o-linear-gradient(#ff0404, #ff7878);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #ff0404, endColorstr = #ff7878);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff0404, endColorstr=#ff7878)";
background-color: #FF0404;
}
.button_red:hover{
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #ff7878), color-stop(1, #ff0404));
background-image: -moz-linear-gradient(center top, #ff7878 30%, #ff0404 100%);
background-image: -o-linear-gradient(#ff7878, #ff0404);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #ff7878, endColorstr = #ff0404);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff7878, endColorstr=#ff0404)";
background-color: #ff7878;
color: #fff;
}
footer.page {
background-color: #EFF0F2;
padding: 15px 20px;
width: 920px;
}
footer.page nav {
float: left;
}
footer.page nav a, footer.page .itoys a {
color: #313238;
font-size: 11px;
}
footer.page nav .header {
color: #006233;
font-size: 13px;
font-weight: bold;
}

footer.page .about_bank, footer.page .about_site, footer.page .about_wrapper {
float: left;
width: 175px;
}
footer.page .about_standards {
margin-bottom: 20px;
}
footer.page .itoys {
color: #313238;
float: left;
font-size: 11px;
width: 130px;
}
footer.page .itoys .header {
font-size: 13px;
font-weight: bold;
}
footer.page .itoys img {
margin-top: 14px;
}
footer.page .itoys ul {
list-style: none outside none;
}
footer.page .itoys ul li.linki_mobile {
padding-top: 5px;
}
footer.page .itoys ul li.linki_mobile ul {
padding-left: 10px;
}
footer.page .itoys ul li.linki_mobile ul a {
color: #313238;
}
footer.page .newsletter_form .header {
color: #313238;
font-size: 13px;
font-weight: bold;
}
footer.page .newsletter_form .info {
color: #313238;
font-size: 11px;
margin: 10px 0;
}
footer.page .newsletter_form input.text {
height: 21px;
width: 200px;
}
footer.page .newsletter_form .btn_save {
display: inline-block;
width: 43px;
height: 22px;
position: relative;
top: 8px;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #ff7878), color-stop(1, #ff0404));
background-image: -moz-linear-gradient(center top, #ff7878 30%, #ff0404 100%);
background-image: -o-linear-gradient(#ff7878, #ff0404);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #ff7878, endColorstr = #ff0404);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff7878, endColorstr=#ff0404)";
background-color: #ff7878;
border-bottom: 1px solid #d3d4d5;
}

footer.page .newsletter_form .btn_save:hover {
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #ff0404), color-stop(1, #ff7878));
background-image: -moz-linear-gradient(center top, #ff0404 30%, #ff7878 100%);
background-image: -o-linear-gradient(#ff0404, #ff7878);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #ff0404, endColorstr = #ff7878);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff0404, endColorstr=#ff7878)";
background-color: #ff0404;
}
footer.page .newsletter_form .btn_save:after {
background: url("//static3.bzwbk.pl/asset/s/p/r/sprite_25752.png") no-repeat scroll -70px 0 transparent;
content: "";
display: block;
height: 13px;
left: 15px;
position: absolute;
top: 4px;
width: 13px;
}
.other_sites_section {
left:50% !important;
margin-left:-470px !important;
width: 940px;
height: auto;
position: absolute;
top: 115px;
z-index: 6000;
display: none;
background-color: #fff;
-moz-box-shadow: 0 0 5px #cccccc;
-webkit-box-shadow: 0 0 5px #cccccc;
box-shadow: 0 0 5px #cccccc;
behavior: url(//static3.bzwbk.pl/asset/p/i/e/pie_25633.htc);
}

.section_menu {
position: absolute;
left: 0;

top: 150px !important;
width: 940px;
left:50% !important;
margin-left:-470px !important;
background-color: #fff;
-moz-box-shadow: 0 0 5px #666666;
-webkit-box-shadow: 0 0 5px #666666;
box-shadow: 0 0 5px #666666;
font-size: 14px;
padding-bottom: 15px;
z-index: 6000;
display: none;
}
body.sid .section_menu {
top: 155px !important;
}



.section_menu .section_info, .section_menu .page_list {
float: left;
margin-left: 15px;
}
.section_menu .section_info {
color: #888888;
margin-right: 15px;
padding-top: 10px;
width: 220px;
}
.section_menu .section_info .main_link {
background: url("//static3.bzwbk.pl/asset/g/r/e/green_arrow_25706.png") no-repeat scroll right 6px transparent;
color: #313238;
display: inline-block;
font-size: 16px;
line-height: 150%;
margin-top: 15px;
padding: 0 20px 0 0;
}
.section_menu .section_info .main_link:hover {
text-decoration: underline;
}
.section_menu .page_list {
width: 198px;
}
.section_menu .page_list ul {
list-style-type: none;
}
.section_menu .page_list li {
padding: 3px 0;
}
.section_menu .page_list ul.useful_info li {
color: #FF0000;
list-style-type: disc;
margin-left: 16px;
}
.section_menu .page_list ul.select_product{
margin-left:16px
}
.section_menu .page_list hr {
margin-top: 10px;
}
.section_menu .page_list img {
display: block;
margin: 6px 0;
}
.section_menu .page_list h2 {
color: #313238;
font-size: 16px;
font-weight: bold;
margin-top: 11px;
padding-bottom: 5px;
}
.section_menu .page_list h3 {
color: #313238;
font-size: 12px;
font-weight: bold;
margin-top: 11px;
}
.section_menu .page_list a {
color: #006233 !important;
font-size: 12px !important;
line-height: 120% !important;
}
.section_menu .page_list a:hover {
text-decoration: underline;
}
.ie8 .section_menu, .ie7 .section_menu, .ie6 .section_menu {
top: 32px;
}
.ie7 .section_menu .section_info .main_link .ie7_anon {
left: 5px !important;
top: -2px !important;
}
.section_menu_on {
background-color: #fff;
-moz-box-shadow: 0 0 5px #666666;
-webkit-box-shadow: 0 0 5px #666666;
box-shadow: 0 0 5px #666666;
behavior: url(//static3.bzwbk.pl/asset/p/i/e/pie_25633.htc);
position: relative;
padding: 0 13px !important;
z-index: 101;
color: #ff0000 !important;
}
.section_menu_on:after {
background-color: #FFFFFF;
bottom: -6px;
content: "";
height: 12px;
left: 0;
position: absolute;
width: 100%;
}
.contact_on {
background-color: #fff;
-moz-box-shadow: 0 0 5px #666666;
-webkit-box-shadow: 0 0 5px #666666;
box-shadow: 0 0 5px #666666;
behavior: url(//static3.bzwbk.pl/asset/p/i/e/pie_25633.htc);
position: relative;
}

.contact_details {
position: absolute;
z-index: 60000;
left: 0;
top: 67px;
width: 960px;
background-color: #fff;
-moz-box-shadow: 0 0 5px #666666;
-webkit-box-shadow: 0 0 5px #666666;
box-shadow: 0 0 5px #666666;
behavior: url(//static3.bzwbk.pl/asset/p/i/e/pie_25633.htc);
display: none;
}
body.sid  .contact_details {
top: 42px !important;
}


.contact_details article {
float: left;
margin-left: 16px;
padding: 15px 0;
width: 210px;
}
.contact_details h2 {
color: #313238;
font-size: 18px;
font-weight: bold;
margin-bottom: 15px;
}
.contact_details .title {
color: #7D7E81;
font-size: 12px;
}
.contact_details .number {
color: #006233;
font-size: 18px;
font-weight: bold;
background: url(//static3.bzwbk.pl/asset/i/c/o/icon-phone_25710.png)no-repeat left center;
padding-left:35px;
padding-top:5px;
padding-bottom:5px;
display:block;
margin-top:5px;
}
.contact_details .small-number{
color: #006233;
font-size: 12px;
font-weight: bold;
}
.contact_details small{
font-size: 9px;
}
.contact_details .header.border{
border-bottom:1px solid #ECEEEF;
margin-bottom:0px !important;
padding-bottom:15px;
}
.contact_details .list {
list-style: none outside none;
}
.contact_details li.social a{
border-bottom: none;
padding:0px;
}
.contact_details li.social span{
color: #006233;
font-size:14px;
margin-bottom:7px;
display: block;
}
.contact_details li.skype span{
vertical-align:top;
margin:0px;
background:none;
display:inline
}
.contact_details li.skype img{
display:inline;
margin-top:-2px;
margin-left:8px
}
.contact_details .list li {
border-top: 1px solid #ECEEEF;
padding-bottom: 10px;
padding-left: 0;
padding-top: 10px;
}
.contact_details .list li a {
color: #006233;
}
.contact_details .side_links li {
background: url("//static3.bzwbk.pl/asset/g/r/e/green_arrow_25706.png") no-repeat scroll 0 12px transparent;
border-top: 1px solid #ECEEEF;
padding: 10px 0 10px 23px;
position: relative;
}
.contact_details .side_links a {
color: #006233;
}
.contact_details .info {
color: #313238;
font-size: 12px;
}
.contact_details .time {
color: red;
font-size: 12px;
}
.contact_details .links {
margin-top: 10px;
}
.contact_details ul {
list-style-type: none;
}
.contact_details .links li {
padding-left: 7px;
}
.contact_details .links li:before {
background: url("//static3.bzwbk.pl/asset/s/p/r/sprite_25752.png") no-repeat scroll -75px -14px transparent;
content: "";
display: inline-block;
height: 5px;
left: -7px;
position: relative;
top: -2px;
width: 5px;
}
.contact_details .links a {
color: #009633;
}
.contact_details .button_contact_form {
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #ff7878), color-stop(1, #ff0404));
background-image: -moz-linear-gradient(center top, #ff7878 30%, #ff0404 100%);
background-image: -o-linear-gradient(#ff7878, #ff0404);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #ff7878, endColorstr = #ff0404);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff7878, endColorstr=#ff0404)";
background-color: #ff7878;
display: inline-block;
padding: 3px 13px;
color: #fff;
font-size: 12px;
margin-top: 10px;
}

.contact_details .button_contact_form:hover {
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #ff0404), color-stop(1, #ff7878));
background-image: -moz-linear-gradient(center top, #ff0404 30%, #ff7878 100%);
background-image: -o-linear-gradient(#ff0404, #ff7878);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #ff0404, endColorstr = #ff7878);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff0404, endColorstr=#ff7878)";
background-color: #ff0404;
text-decoration: none;
}
.order_details_box {
display: none;
-moz-box-shadow: 0 0 5px #666666;
-webkit-box-shadow: 0 0 5px #666666;
box-shadow: 0 0 5px #666666;
behavior: url(//static3.bzwbk.pl/asset/p/i/e/pie_25633.htc);
position: absolute;
z-index: 6000;
width: 100%;
top: 69px;
background-color: #fff;
padding: 15px 0;
width: 960px;

}
.order_details_box:after {
background-color: #FFFFFF;
content: "";
height: 10px;
left: 628px;
position: absolute;
top: 0;
width: 186px;
z-index: 6010;
}
.order_details_box h2 {
color: #006233;
font-size: 21px;
font-weight: normal;
margin-left: 15px;
}
.order_details_box .product, .order_details_box .hr {
border-top: 1px solid #CCCCCC;
float: left;
margin: 10px 15px;
width: 198px;
}
.order_details_box form {
display: none;
margin-top: 10px;
}
.order_details_box form .text {
margin-bottom: 10px;
padding: 3px 5px;
width: 186px;
float: right;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.order_details_box form .checkbox {
float: left;
}
.order_details_box form label {
color: #7D7E81;
display: block;
float: left;
font-size: 9px;
line-height: 100%;
margin: 4px 0 0 5px;
width: 173px;
}
.order_details_box form .button {
float: right;
margin-top: 5px;
}
.order_details_box .div_button {
float: left;
height: 19px;
}

.order_details_box .button, .recomended .button_order{
position: relative;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #ff0404), color-stop(1, #ff7878));
background-image: -moz-linear-gradient(center top, #ff0404 30%, #ff7878 100%);
background-image: -o-linear-gradient(#ff0404, #ff7878);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #ff0404, endColorstr = #ff7878);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff0404, endColorstr=#ff7878)";
background-color: #ff0404;
color: #fff !important;
float: right;
}
.order_details_box .button:hover, .recomended .button_order:hover{
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #ff7878), color-stop(1, #ff0404));
background-image: -moz-linear-gradient(center top, #ff7878 30%, #ff0404 100%);
background-image: -o-linear-gradient(#ff7878, #ff0404);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #ff7878, endColorstr = #ff0404);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff7878, endColorstr=#ff0404)";
background-color: #ff7878;
color: #fff !important;
float: right;
}

.order_details_box .button span, .recomended .button_order span, .button_grey span, .box_button .button span {
background: url("//static3.bzwbk.pl/asset/s/p/r/sprite_25752.png") no-repeat scroll -1px -65px transparent;
content: "";
display: block;
height: 13px;
position: absolute;
right: 10px;
top: 4px;
width: 6px;
}
.button_grey span {
background: url("//static3.bzwbk.pl/asset/r/a/r/rarrow_25738.png") no-repeat scroll right 2px transparent;
}
.ie6 nav .main {
margin-top: 3px;
}
.ie6 nav .main li {
float: left;
}
.ie6 nav .main li .sub {
left: 0;
top: 30px;
}
.ie6 nav .main li.mini_searcher {
float: right;
}
.ie6 nav .main li.mini_searcher form {
display: inline;
float: right;
}
.ie6 .side_links li .ie7_anon {
left: -20px !important;
top: 5px;
}
.ie7 nav .main {
margin-top: 11px;
}
.ie7 nav .main li {
float: left;
}
.ie7 nav .main li .sub {
left: 0;
top: 30px;
}
.ie7 nav .main li.mini_searcher {
border: medium none green;
float: right;
left: 16px;
}
.ie7 nav .main li.mini_searcher form {
display: inline;
float: right;
}
#main_page_slider .slides_container {
height: 334px;
overflow: hidden;
width: 960px;
}
#main_page_slider {
position: relative;
}
#main_page_slider .slides_container div {
display: block;
height: 334px;
width: 960px;
}
#main_page_slider .navigation {
font-size: 0;
left: 10px;
line-height: 0;
position: absolute;
top: 317px;
z-index: 100;
}
#main_page_slider .navigation ul {
display: inline;
list-style-type: none;
}
#main_page_slider .navigation ul li {
display: inline;
}
#main_page_slider .navigation a {
background: none repeat scroll 0 0 #333333;
display: inline-block;
height: 17px;
margin-right: 1px;
width: 17px;
}
/* //static3.bzwbk.pl/asset/s/l/i/slider_icon_25749.png */
#main_page_slider .navigation .current a {
background: url("//static3.bzwbk.pl/asset/s/l/i/slider_icon_25749.png") no-repeat scroll 0 0 transparent;
}
#main_page_slider .navigation .prev span, #main_page_slider .navigation .next span {
background: url("//static3.bzwbk.pl/asset/s/p/r/sprite_25752.png") no-repeat scroll 0 0 transparent;
display: block;
height: 9px;
margin: 4px 0 0 6px;
position: absolute;
width: 5px;
z-index: 101;
}
#main_page_slider .navigation .prev span {
background-position: -73px -24px;
}
#main_page_slider .navigation .next span {
background-position: -78px -24px;
}

/* //static3.bzwbk.pl/asset/s/l/i/slider-loader_25748.gif */
#main_page_slider .slide-content {
width: 960px;
height: 334px;
background: url(//static3.bzwbk.pl/asset/s/l/i/slider-loader_25748.gif) no-repeat center center;
}

#main_page_slider iframe {
display: block;
margin: 0 auto;
}

#screen, .screen {
background: none repeat scroll 0 0 #000000;
display: none;
left: 0;
position: absolute;
top: 0;
z-index: 4500;
}
.positioned {
z-index: 6000 !important;
}
.xsea {
position: relative;
z-index: 6000;
}
#page_head.short {
height: 190px;
}
#page_content #sub-page {
background: none repeat scroll 0 0 #FFFFFF;
color: #555555;
margin: 0 auto 0;
padding: 10px;
position: relative;
top: 0;
width: 940px;
}
#page_content #sub-page h3 {
color: #006233;
font-size: 20px;
font-weight: normal;
margin: 0px 0px 10px 1px;
padding-top:5px;
text-decoration: none;
}
#page_content #sub-page .content {
float: left;
margin-bottom: 50px;
width: 480px;
}
#page_content #sub-page .content p {
line-height: 18px;
}
#page_content #sub-page .formatted-content p.disclaimer  {
line-height: 14px;
font-size: 9px;
}
#page_content #sub-page .content ul {
clear: both;
list-style: none outside none;
margin-top: 6px;
padding-bottom: 5px;
}
#page_content #sub-page .content ul ul{
margin-left: 10px;
}

/* //static3.bzwbk.pl/asset/b/u/l/bullet2_25646.gif */
#page_content #sub-page .content ul li {
background: url("//static3.bzwbk.pl/asset/b/u/l/bullet2_25646.gif") no-repeat scroll left 7px transparent;
padding-left: 10px;
}
/* //static3.bzwbk.pl/asset/b/u/l/bullet3_25647.gif */
#page_content #sub-page .content ul ul li{
background: url("//static3.bzwbk.pl/asset/b/u/l/bullet3_25647.gif") no-repeat scroll left 7px transparent !important;
padding-left: 10px;
}
#page_content #sub-page .content nav ul li {
background: none repeat scroll 0 0 transparent;
list-style: none outside none;
}
#page_content #sub-page .content ul li a {
color: #009633;
}
#page_content #sub-page .content div.tabs {
height: 46px;
margin-bottom: 22px;
}
#page_content #sub-page .content div.tabs ul {
height: 100%;
list-style: none outside none;
width: 500px;
}
/* //static3.bzwbk.pl/asset/t/a/b/tab_25704.gif */
#page_content #sub-page .content div.tabs ul li {
background: url("//static3.bzwbk.pl/asset/t/a/b/tab_25704.gif") repeat-x scroll 0 0 transparent;
border-right: 1px solid #FFFFFF;
float: left;
height: 100%;
padding: 0;
}
#page_content #sub-page .content div.tabs ul li.clear {
background: none repeat scroll 0 0 transparent;
border-right: medium none;
float: none;
height: auto;
}
#page_content #sub-page .content div.tabs ul li a {
color: #333333;
display: block;
line-height: 14px;
padding: 6px 9px 0;
text-decoration: none;
}
/* //static3.bzwbk.pl/asset/t/a/b/tab-act_25753.gif */
#page_content #sub-page .content div.tabs ul li a.active {
background: url("//static3.bzwbk.pl/asset/t/a/b/tab-act_25753.gif") no-repeat scroll center bottom #E0E1E3;
height: 40px;
}
#page_content #sub-page h2 {
color: #313238;
font-size: 19px;
font-weight: normal;
/*margin: -1px 0 0 9px;*/
margin-top: 10px;
margin-bottom: 10px;
min-height: 31px;
width: 680px;
}
#breadcrumbs {
float: left;
font-size: 10px;
margin-bottom: 5px;
}
#breadcrumbs span {
float: right;
}
#breadcrumbs ul {
float: right;
margin-left: 8px;
}
#breadcrumbs ul li {
float: left;
margin-right: 8px;
white-space: nowrap;
}
#breadcrumbs ul li.last {
background: none repeat scroll 0 0 transparent;
margin-right: 0;
padding-right: 0;
}
#breadcrumbs ul li a {
color: #006233;
}
#breadcrumbs div {
width: 120px;
}
#page_content #sub-page nav.submenu {
float: left;
margin-right: 20px;
width: 160px;
}
#page_content #sub-page nav.submenu li {
border-top: 1px solid #ECEEEF;
font-size: 12px;
padding: 5px 9px 3px;
}
#page_content #sub-page nav.submenu li a {
color: #7D7E81;
}
#page_content #sub-page nav.submenu li a:hover, #page_content #sub-page nav.submenu li a.active {
color: #FF0000;
}
#page_content #sub-page nav.submenu li a.active {
font-weight: bold;
}
.submenu .closed ul.podmenu {
display: none;
}
.overview {
color: #8E8F92;
margin-bottom: 10px;
}
.overview img {
float: left;
margin: 0 21px 8px 0;
}
.overview h3 {
font-size: 16px;
font-weight: normal;
line-height: 18px;
margin: -4px 0 5px;
}
.overview ul {
padding-left: 172px;
}
.overview p {
}
.formatted-content h3 {
font-size: 16px !important;
font-weight: normal;
margin-bottom: 2px;
}
.formatted-content {
font-size: 12px;
}
.formatted-content p {
margin-bottom: 10px;
}
#page_content #sub-page .content .formatted-content ul li, .formatted-content li {
background-position: left 5px;
line-height: 15px;
margin-bottom: 11px;
}
/* //static3.bzwbk.pl/asset/o/r/d/order-icon_25729.gif */
.product-order {
background: url("//static3.bzwbk.pl/asset/o/r/d/order-icon_25729.gif") no-repeat scroll 9px 25px transparent;
border-top: 1px solid #ECEEEF;
clear: left;
padding: 27px 0 15px 64px;
width: 600px;
}
#page_content #sub-page .product-order h2, .product-order h2 {
font-size: 14px;
font-weight: bold;
height: auto;
line-height: 16px;
margin: 0;
width: 230px;
}
.product-order p {
width: 280px;
}
.product-order a {
float: right;
}
/* //static3.bzwbk.pl/asset/t/e/s/testimonials_25754.gif */
ul.testimonials {
background: url("//static3.bzwbk.pl/asset/t/e/s/testimonials_25754.gif") repeat-y scroll center top transparent;
list-style: none outside none;
width: 660px;
}
ul.testimonials li {
background: url("//static3.bzwbk.pl/asset/t/e/s/testimonials_25754.gif") no-repeat scroll left top transparent;
}
ul.testimonials li div {
background: url("//static3.bzwbk.pl/asset/t/e/s/testimonials_25754.gif") no-repeat scroll right bottom transparent;
padding: 15px 0 0 16px;
}
ul.testimonials li img {
float: left;
}
ul.testimonials li p {
font-size: 11px;
padding: 9px 25px 27px 54px;
}
#page_content #sub-page .right-menu {
float: right;
height: auto !important;
/*min-height: 680px;*/
padding-left: 0px;
width: 250px;
}
/* /_items/bzwbk.pl/11/img/rightbox.png  */
#page_content #sub-page .right-menu .order {
background: url("//static3.bzwbk.pl/asset/r/i/g/rightbox_25741.png") repeat-y 0 0 #F4F5F6;
float: left;
height: auto !important;
list-style: none outside none;
padding-top: 12px;
padding-left: 14px;
margin-bottom: 0px;
}
#page_content #sub-page .right-menu .order li {
border-bottom: 1px solid #E3E7E8;
color: #006233;
float: left;
font-size: 14px;
line-height: 32px;
margin-bottom: 4px;
padding-bottom: 3px;
width: 100%;
}
#page_content #sub-page .right-menu .order li.last {
border-bottom: 0 none;
/*color: #666666;
font-size: 12px;
line-height: 29px;
padding-left: 1px;*/
}
/* //static3.bzwbk.pl/asset/b/u/l/bullet-more_25645.gif */
/*#page_content #sub-page .right-menu .order li.last a {
background: url("//static3.bzwbk.pl/asset/b/u/l/bullet-more_25645.gif") no-repeat scroll left center transparent;
padding-left: 16px;
}*/
#page_content #sub-page .right-menu .order li a {
color: #006233;
}
#page_content #sub-page .right-menu .order li img {
float: left;
margin-right: 10px;
}
#page_content #sub-page .right-menu .order li.dbline img{
margin-bottom: 27px;
}
#page_content #sub-page .right-menu .order li a.button{
margin-left: 40px;
}
#page_content #sub-page .right-menu .order li strong {
color: #333333;
}
#page_content #sub-page .right-menu .order form {
font-size: 12px;
margin: 1px 0 0 42px;
}
#page_content #sub-page .right-menu .order input[type="text"] {
margin: 3px 0 7px;
}
#page_content #sub-page .right-menu .order input[type="checkbox"] {
float: left;
margin: 0 3px 0 0;
}
#page_content #sub-page .right-menu .order input[type="image"] {
margin: 17px 0 20px -1px;
}
#page_content #sub-page .right-menu .order label {
color: #333333;
}
#page_content #sub-page .right-menu .order label.chk {
display: block;
font-size: 11px;
line-height: 12px;
margin-top: 4px;
}
#page_content #sub-page .right-menu .order label.chk a {
color: #666666;
}
#page_content #sub-page .right-menu .advertisement {
background: none repeat scroll 0 0 #ECEDEE;
clear: left;
height: 135px;
margin-bottom: 16px;
}
/* //static3.bzwbk.pl/asset/a/d/-/ad-shadow_25639.gif */
#page_content #sub-page .right-menu .advertisement img {
background: url("//static3.bzwbk.pl/asset/a/d/-/ad-shadow_25639.gif") no-repeat scroll center bottom transparent;
margin-top: 15px;
padding-bottom: 7px;
}
/* /_items/bzwbk.pl/11/img/right-shadow.png  */
#page_content #sub-page .right-menu .links {
background: url(//static3.bzwbk.pl/asset/r/i/g/right-shadow_25739.png) left bottom repeat-y #ffffff;
padding-left: 14px;
padding-bottom: 30px;
}
#page_content #sub-page .right-menu .links h3 {
color: #333333;
font-size: 14px;
}
#page_content #sub-page .right-menu .links ul {
border-bottom: 1px solid #ECEEEF;
list-style: none outside none;
margin-bottom: 6px;
padding-bottom: 23px;
width: 220px;
}
#page_content #sub-page .right-menu .links a {
color: #7D7E81;
}
/* //static3.bzwbk.pl/asset/m/e/n/men-bullet_25724.gif */
#page_content #sub-page .right-menu .links li {
background: url("//static3.bzwbk.pl/asset/m/e/n/men-bullet_25724.gif") no-repeat scroll left center transparent;
line-height: 16px;
padding-left: 15px;
}
#page_content #sub-page .right-menu .info {
background: none repeat scroll 0 0 #F4F5F6;
border-bottom: 1px solid #E5E7E8;
padding: 20px 0 7px;
}
#page_content #sub-page .right-menu .info h3 {
color: #006233;
font-size: 13px;
font-weight: normal;
margin-bottom: 8px;
}
#page_content #sub-page .right-menu .info p {
color: #666666;
font-size: 12px;
margin-bottom: 9px;
width: 200px;
}
#page_content #sub-page .right-menu .newsletter {
background: none repeat scroll 0 0 #F4F5F6;
border-bottom: 1px solid #E5E7E8;
font-size: 12px;
padding: 18px 0 20px;
}

#page_content #sub-page .right-menu .order .newsletter_form .header {
color: #006233;
font-size: 18px;
font-weight: bold;
}
#page_content #sub-page .right-menu .order .newsletter_form .info {
color: #7D7E81;
font-size: 13px;
line-height: 16px;
margin: 10px 0;
padding: 0 0 7px;
}
#page_content #sub-page .right-menu .order .newsletter_form input.text {
height: 21px;
width: 160px;
}
#page_content #sub-page .right-menu .order .newsletter_form .btn_save {
display: inline-block;
width: 43px;
height: 21px;
position: relative;
top: 5px;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #ff7878), color-stop(1, #ff0404));
background-image: -moz-linear-gradient(center top, #ff7878 30%, #ff0404 100%);
background-image: -o-linear-gradient(#ff7878, #ff0404);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #ff7878, endColorstr = #ff0404);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff7878, endColorstr=#ff0404)";
background-color: #ff7878;
border-bottom: 1px solid #d3d4d5;
}

#page_content #sub-page .right-menu .order .newsletter_form .btn_save:hover {
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #ff0404), color-stop(1, #ff7878));
background-image: -moz-linear-gradient(center top, #ff0404 30%, #ff7878 100%);
background-image: -o-linear-gradient(#ff0404, #ff7878);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #ff0404, endColorstr = #ff7878);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff0404, endColorstr=#ff7878)";
background-color: #ff0404;
}
#page_content #sub-page .right-menu .order .newsletter_form .btn_save:after {
background: url("//static3.bzwbk.pl/asset/s/p/r/sprite_25752.png") no-repeat scroll -70px 0 transparent;
content: "";
display: block;
height: 13px;
left: 15px;
position: absolute;
top: 4px;
width: 13px;
}

#page_content #sub-page .right-menu .social h3, #page_content #sub-page .right-menu .newsletter h3 {
color: #666666;
margin-bottom: 4px;
}
#page_content #sub-page .right-menu .newsletter p {
color: #666666;
font-size: 11px;
}
#page_content #sub-page .right-menu .newsletter form {
padding: 9px 0 0;
}
#page_content #sub-page .right-menu .social {
background: none repeat scroll 0 0 #F4F5F6;
float: left;
font-size: 12px;
font-weight: normal;
padding: 18px 0 44px;
width: 100%;
}
/* //static3.bzwbk.pl/asset/s/o/c/social-bg_25751.gif */
#page_content #sub-page .right-menu .social a {
background: url("//static3.bzwbk.pl/asset/s/o/c/social-bg_25751.gif") repeat scroll 0 0 transparent;
color: #666666;
display: block;
float: left;
height: 22px;
line-height: 22px;
margin-right: 3px;
padding: 0 5px;
text-decoration: none;
}
#page_content #sub-page .right-menu .social a.facebook img, #page_content #sub-page .right-menu .social a.nk img {
padding-top: 3px;
}
#page_content #sub-page .right-menu .social a.youtube img {
padding-top: 1px;
}
#page_content #sub-page.category .content {
padding-left: 0;
width: 660px;
}
#page_content #sub-page.category .right-menu {
margin-top: 0;
}
#page_content #sub-page.category h2 {
height: 32px;
}
#page_content #sub-page.category2 .content {
padding-left: 0;
width: 480px;
}
#page_content #sub-page.category2 .right-menu {
margin-top: 0;
}
#page_content #sub-page.category2 h2 {
height: 32px;
}
#page_content #sub-page .right-menu .button {
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #ff7878), color-stop(1, #ff0404));
background-image: -moz-linear-gradient(center top, #ff7878 30%, #ff0404 100%);
background-image: -o-linear-gradient(#ff7878, #ff0404);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #ff7878, endColorstr = #ff0404);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff7878, endColorstr=#ff0404)";
background-color: #ff7878;
color: #FFFFFF !important;
line-height: 16px;
margin-left: 5px;
margin-top: 0px;
padding-bottom: 3px;
padding-top: 2px;
position: relative;
top: -5px;
white-space: nowrap;
}
#page_content #sub-page .right-menu .button:hover {
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #ff0404), color-stop(1, #ff7878));
background-image: -moz-linear-gradient(center top, #ff0404 30%, #ff7878 100%);
background-image: -o-linear-gradient(#ff0404, #ff7878);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #ff0404, endColorstr = #ff7878);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff0404, endColorstr=#ff7878)";
background-color: #ff0404;

}
#page_content #sub-page .right-menu .button span {
background: url("//static3.bzwbk.pl/asset/s/p/r/sprite_25752.png") no-repeat scroll -1px -65px transparent !important;
display: block;
height: 13px;
position: absolute;
right: 10px;
top: 5px;
width: 6px;
}
.button_big_livechat {
background-color: #FF7878;
/* IE10 */
background-image: -ms-linear-gradient(top, #FF7878 30%, #FF0404 100%);
/* Mozilla Firefox */
background-image: -moz-linear-gradient(top, #FF7878 30%, #FF0404 100%);
/* Opera */
background-image: -o-linear-gradient(top, #FF7878 30%, #FF0404 100%);
/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #FF7878), color-stop(1, #FF0404));
/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(top, #FF7878 30%, #FF0404 100%);
/* Proposed W3C Markup */
background-image: linear-gradient(top, #FF7878 30%, #FF0404 100%);
color: #FFFFFF !important;
font-size: 14px;
font-weight: 600;
line-height: 16px;
margin-left: 0;
margin-top: 10px;
padding: 5px 25px 5px 15px;
position: relative;
text-decoration: none !important;
white-space: nowrap;
}
.button_big_livechat:hover {
background-color: #FF0404;
/* IE10 */
background-image: -ms-linear-gradient(top, #FF0404 30%, #FF7878 100%);
/* Mozilla Firefox */
background-image: -moz-linear-gradient(top, #FF0404 30%, #FF7878 100%);
/* Opera */
background-image: -o-linear-gradient(top, #FF0404 30%, #FF7878 100%);
/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #FF0404), color-stop(1, #FF7878));
/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(top, #FF0404 30%, #FF7878 100%);
/* Proposed W3C Markup */
background-image: linear-gradient(top, #FF0404 30%, #FF7878 100%);
text-decoration: none !important;
}
.button_big_livechat span {
background: url("//static3.bzwbk.pl/asset/s/p/r/sprite_25752.png") no-repeat scroll -1px -65px transparent;
display: block;
height: 13px;
position: absolute;
right: 10px;
top: 8px;
width: 6px;
}
.button_small_livechat {
background-color: #FF7878;
/* IE10 */
background-image: -ms-linear-gradient(top, #FF7878 30%, #FF0404 100%);
/* Mozilla Firefox */
background-image: -moz-linear-gradient(top, #FF7878 30%, #FF0404 100%);
/* Opera */
background-image: -o-linear-gradient(top, #FF7878 30%, #FF0404 100%);
/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #FF7878), color-stop(1, #FF0404));
/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(top, #FF7878 30%, #FF0404 100%);
/* Proposed W3C Markup */
background-image: linear-gradient(top, #FF7878 30%, #FF0404 100%);
color: #FFFFFF !important;
font-size: 11px;
font-weight: 400;
line-height: 16px;
margin-left: 0;
margin-top: 10px;
padding: 3px 25px 3px 10px;
position: relative;
text-decoration: none !important;
white-space: nowrap;
}
.button_small_livechat:hover {
background-color: #FF0404;
/* IE10 */
background-image: -ms-linear-gradient(top, #FF0404 30%, #FF7878 100%);
/* Mozilla Firefox */
background-image: -moz-linear-gradient(top, #FF0404 30%, #FF7878 100%);
/* Opera */
background-image: -o-linear-gradient(top, #FF0404 30%, #FF7878 100%);
/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #FF0404), color-stop(1, #FF7878));
/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(top, #FF0404 30%, #FF7878 100%);
/* Proposed W3C Markup */
background-image: linear-gradient(top, #FF0404 30%, #FF7878 100%);
text-decoration: none !important;
}
.button_small_livechat span {
background: url("//static3.bzwbk.pl/asset/s/p/r/sprite_25752.png") no-repeat scroll -1px -65px transparent;
display: block;
height: 13px;
position: absolute;
right: 10px;
top: 5px;
width: 6px;
}
.billboard {
margin-bottom: 5px;
}
/* //static3.bzwbk.pl/asset/b/i/l/bill-shadow_25641.gif */
.billboard img {
background: url("//static3.bzwbk.pl/asset/b/i/l/bill-shadow_25641.gif") no-repeat scroll center bottom transparent;
padding-bottom: 10px;
}
.products-list {
background: url("//static3.bzwbk.pl/asset/b/i/l/bill-shadow_25641.gif") no-repeat scroll center bottom transparent;
float: right;
padding-bottom: 10px;
width: auto;
}
.products-list .product {
border-top: 1px solid #ECEEEF;
float: left;
padding-bottom: 30px;
padding-top: 10px;
width: 100%;
}
.products-list .product .thumb {
float: left;
width: 217px;
}
.products-list .product .thumb img {
display: block;
margin-bottom: 10px;
}
/* //static3.bzwbk.pl/asset/c/l/i/clip_25656.gif */
.products-list .product .thumb span {
background: url("//static3.bzwbk.pl/asset/c/l/i/clip_25656.gif") no-repeat scroll left top #EDEDEE;
color: #666666;
display: block;
float: left;
font-size: 11px;
height: 17px;
line-height: 19px;
padding: 0 5px 0 16px;
white-space: nowrap;
}
.products-list .product h3, .products-list .product h3 a {
color: #313238;
font-size: 20px;
font-weight: normal;
margin: -5px 0 18px 1px;
text-decoration: none;
}
.products-list .product h3 {
float: right;
width: 441px;
}
.products-list .product p, #page_content #sub-page .products-list .product p {
color: #7D7E81;
font-size: 12px;
line-height: 16px;
margin-bottom: 9px;
padding-left: 217px;
}
.products-list .product ul {
color: #313238;
margin-bottom: 10px;
padding-left: 217px;
}
.products-list .product ul, #page_content #sub-page .products-list .product ul li {
background-position: left 5px;
font-size: 11px;
}
/* /_items/bzwbk.pl/11/img/buttons.gif  */
.products-list .product .links a {
background: url("//static3.bzwbk.pl/asset/b/u/t/buttons_25648.gif") repeat-x scroll left top transparent;
color: #7D7E81;
display: block;
float: right;
font-size: 11px;
height: 18px;
line-height: 16px;
margin-left: 1px;
padding: 0 6px;
text-decoration: none;
white-space: nowrap;
}
.products-list .product .links a.order {
background-position: left -18px;
color: #FFFFFF;
}
.products-list .product2 {
border-top: 1px solid #ECEEEF;
float: left;
padding-bottom: 30px;
padding-top: 10px;
width: 100%;
}
.products-list .product2 .thumb {
float: left;
width: 217px;
}
.products-list .product2 .thumb img {
display: block;
margin-bottom: 10px;
}
.products-list .product2 .thumb span {
background: url("//static3.bzwbk.pl/asset/c/l/i/clip_25656.gif") no-repeat scroll left top #EDEDEE;
color: #666666;
display: block;
float: left;
font-size: 11px;
height: 17px;
line-height: 19px;
padding: 0 5px 0 16px;
white-space: nowrap;
}
.products-list .product2 h3, .products-list .product2 h3 a {
color: #313238;
font-size: 20px;
font-weight: normal;
margin: -5px 0 18px 1px;
text-decoration: none;
}
.products-list .product2 h3 {
float: left;
width: 540px;
}
.products-list .product2 p, #page_content #sub-page .products-list .product p {
color: #7D7E81;
font-size: 12px;
line-height: 16px;
margin-bottom: 9px;
padding-left: 217px;
}
.products-list .product2 ul {
clear: none;
color: #313238;
margin-bottom: 10px;
padding-left: 217px;
}
.products-list .product2 ul, #page_content #sub-page .products-list .product ul li {
background-position: left 5px;
clear: none;
font-size: 11px;
}
.products-list .product2 .links a {
background: url("//static3.bzwbk.pl/asset/b/u/t/buttons_25648.gif") repeat-x scroll left top transparent;
color: #7D7E81;
display: block;
float: right;
font-size: 11px;
height: 18px;
line-height: 16px;
margin-left: 1px;
padding: 0 6px;
text-decoration: none;
white-space: nowrap;
}
.products-list .product2 .links a.order {
background-position: left -18px;
color: #FFFFFF;
}
.products-list2 {
background: url("//static3.bzwbk.pl/asset/b/i/l/bill-shadow_25641.gif") no-repeat scroll center bottom transparent;
float: right;
padding-bottom: 10px;
width: 480px;
}
.products-list2 .product {
border-top: 1px solid #ECEEEF;
float: left;
padding-bottom: 30px;
padding-top: 10px;
width: 100%;
}
.products-list2 .product .thumb1 {
float: left;
width: 200px;
}
.products-list .product .thumb1 img {
display: block;
margin-bottom: 10px;
}
.products-list2 .product .thumb2 {
float: left;
width: 280px;
}
.products-list2 .product .thumb2 span {
background: url("//static3.bzwbk.pl/asset/c/l/i/clip_25656.gif") no-repeat scroll left top #EDEDEE;
color: #666666;
display: block;
float: right;
font-size: 11px;
height: 17px;
line-height: 19px;
padding: 0 5px 0 16px;
white-space: nowrap;
}
.products-list2 .product h4, .products-list2 .product h4 a {
color: #006233;
font-size: 20px;
font-weight: normal;
margin: 5px 0 10px 1px;
text-decoration: none;
}
.products-list2 .product h4 {
float: left;
width: 480px;
}
.products-list2 .product p, #page_content #sub-page .products-list .product p {
color: #7D7E81;
font-size: 12px;
line-height: 16px;
margin-bottom: 9px;
padding-left: 0;
}
.products-list2 .product ul {
color: #313238;
margin-bottom: 10px;
padding-left: 0;
}
.products-list2 .product ul, #page_content #sub-page .products-list .product ul li {
background-position: left 5px;
font-size: 11px;
}
.products-list2 .product .links a {
background: url("//static3.bzwbk.pl/asset/b/u/t/buttons_25648.gif") repeat-x scroll left top transparent;
color: #7D7E81;
display: block;
float: right;
font-size: 11px;
height: 18px;
line-height: 16px;
margin-left: 1px;
padding: 0 6px;
text-decoration: none;
white-space: nowrap;
}
.products-list2 .product .links a.order {
background-position: left -18px;
color: #FFFFFF;
}
.products-list3 {
background: url("//static3.bzwbk.pl/asset/b/i/l/bill-shadow_25641.gif") no-repeat scroll center bottom transparent;
float: right;
padding-bottom: 10px;
width: 480px;
}
.products-list3 .product {
border-top: 1px solid #ECEEEF;
float: left;
padding-bottom: 30px;
padding-top: 10px;
width: 480px;
}
.products-list3 .product .thumb {
float: left;
width: 217px;
}
.products-list3 .product .thumb img {
display: block;
margin-bottom: 10px;
}
.products-list3 .product .thumb span {
background: url("//static3.bzwbk.pl/asset/c/l/i/clip_25656.gif") no-repeat scroll left top #EDEDEE;
color: #666666;
display: block;
float: left;
font-size: 11px;
height: 17px;
line-height: 19px;
padding: 0 5px 0 16px;
white-space: nowrap;
}
.products-list3 .product h4, .products-list3 .product h4 a {
color: #313238;
font-size: 20px;
font-weight: normal;
margin: 0;
text-decoration: none;
}
.products-list3 .product h4 {
float: left;
width: 260px;
}
.products-list3 .product p, #page_content #sub-page .products-list .product p {
color: #7D7E81;
font-size: 12px;
line-height: 16px;
margin-bottom: 9px;
padding-left: 217px;
}
.products-list3 .product ul {
color: #313238;
margin-bottom: 10px;
padding-left: 0;
}
.products-list3 .product ul, #page_content #sub-page .products-list .product ul li {
background-position: left 5px;
font-size: 11px;
}
.products-list3 .product .links a {
background: url("//static3.bzwbk.pl/asset/b/u/t/buttons_25648.gif") repeat-x scroll left top transparent;
color: #7D7E81;
display: block;
float: right;
font-size: 11px;
height: 18px;
line-height: 16px;
margin-left: 1px;
padding: 0 6px;
text-decoration: none;
white-space: nowrap;
}
.products-list3 .product .links a.order {
background-position: left -18px;
color: #FFFFFF;
}
.products-list3 .product .links a.wniosek {
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #ff7878), color-stop(1, #ff0404));
background-image: -moz-linear-gradient(center top, #ff7878 30%, #ff0404 100%);
background-image: -o-linear-gradient(#ff7878, #ff0404);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #ff7878, endColorstr = #ff0404);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff7878, endColorstr=#ff0404)";
background-color: #ff7878;
color: #FFFFFF;
height: 17px;
}
/* //static3.bzwbk.pl/asset/s/h/a/shadow_25745.jpg */
.bot-menu {
background: url("//static3.bzwbk.pl/asset/s/h/a/shadow_25745.jpg") no-repeat scroll left top transparent;
float: left;
list-style: none outside none;
padding-top: 20px;
width: 100%;
}
.bot-menu li {
border-right: 1px solid #ECEEEF;
float: left;
line-height: 15px;
margin-right: 20px;
white-space: nowrap;
width: 187px;
}
.bot-menu li a {
color: #4C4D53;
font-size: 15px;
}
.bot-menu li.last {
border-right: 0 none;
}
.stopka {
color: #878C9F;
font-size: 11px;
line-height: 14px;
margin: 0 auto;
padding: 15px 0 0 20px;
width: 964px;
}
.stopka a {
color: #878C9F;
text-decoration: none;
}
.stopka a:hover {
text-decoration: underline;
}

.tabs_container .formatted-content {
display: none;
}
.tabs_container .formatted-content i{
font-style: normal !important;
}
.other_sigin_options {
color: #7D7E81;
display: none;
font-size: 10px;
line-height: 110%;
position: absolute;
right: 0;
top: 40px;
}
/* /_items/bzwbk.pl/11/img/window_close.png  */
.window-close {
background: url("//static3.bzwbk.pl/asset/w/i/n/window_close_25755.png") no-repeat scroll 0 0 transparent;
display: inline-block;
height: 24px;
position: absolute;
right: 0;
top: 0;
width: 24px;
z-index: 999999;
}
.list-box .title {
color: #313238;
float: left;
font-size: 16px;
margin-right: 20px;
width: 125px;
}
.list-box .items-list {
border-left: 1px solid #F1F1F2;
clear: none !important;
float: left;
margin: 0 !important;
padding: 0 !important;
width: 330px;
}
/* //static3.bzwbk.pl/asset/i/c/o/ico-file_25708.png */
.list-box .items-list li {
background: url("//static3.bzwbk.pl/asset/i/c/o/ico-file_25708.png") no-repeat scroll 0 7px transparent !important;
border-top: 1px solid #F1F1F2;
color: #A8A8AB !important;
font-size: 11px !important;
margin-left: 10px !important;
padding: 5px 0 5px 20px !important;
}
#page_content #sub-page .content .formatted-content .list-box .items-list li{
margin-bottom: 0px;
}
.list-box .items-list li a {
color: #313238 !important;
font-size: 12px !important;
}

/*Pztania i odpowiedzi*/

.question {
padding-bottom: 15px;
}

.hidden {
margin-bottom: 15px;
display: none;
}

.question{
position:relative;
cursor:pointer;
border:1px solid transparent;
}

.question:hover{
color: #006233;
text-decoration: underline;
}

/* //static3.bzwbk.pl/asset/p/l/u/plus_minus_30513.png */
.question .icon{
background: url('//static3.bzwbk.pl/asset/p/l/u/plus_minus_30513.png') no-repeat 0px 5px;
padding-left: 10px;
padding-right: 5px;
width: 9px;
height: 9px;
position: relative;
bottom: 4px;
top: -2px;
}

div.active .icon{
background: url('//static3.bzwbk.pl/asset/p/l/u/plus_minus_30513.png') no-repeat 0px -10px;
padding-left: 10px;
padding-right: 5px;
position: relative;
top: 2px;
bottom: 0px;
}

.hidden span {
padding-bottom: 5px;
padding-left: 10px;
display: block
}

.hidden span.naglowek {
padding: 3px 0px 7px 10px;
display: block;
width: 700px;
}
/*Style z pliku fragmentu nowy_bzwbk_style_page */

/* //static3.bzwbk.pl/asset/p/l/i/pliki_26075.gif */
#page_content #sub-page .content .pliki li a {
display: block;
height: 24px;
line-height: 24px;
text-decoration: none;
background: url(//static3.bzwbk.pl/asset/p/l/i/pliki_26075.gif) no-repeat;
padding-left: 40px;
color: #3E4548;
}

#page_content #sub-page .content .pliki li {
height: 24px;
line-height: 24px;
background-color: #F2F3F4;
margin-bottom: 1px;
background-image: none;
padding: 0;
}

#page_content #sub-page .content .oprocentowanie_dla_ciebie li {
height: 24px;
line-height: 24px;
background-color: #F2F3F4;
margin-bottom: 1px;
padding-left: 10px;
background-image: none;
}
/* //static3.bzwbk.pl/asset/a/r/r/arrow_green_25813.gif */
#page_content #sub-page .content .oprocentowanie_dla_ciebie li a {
text-decoration: none;
padding-left: 10px;
background: url(//static3.bzwbk.pl/asset/a/r/r/arrow_green_25813.gif) no-repeat 0 4px;
}
#page_content #sub-page .content .oprocentowanie_dla_ciebie li a {
text-decoration: none;
font-family: Arial;
font-size: 12px;
color: #3E4548;
}

#page_content #sub-page .content .section .width_110
{width: 110px  !important;
}

#page_content #sub-page .content .section .width_330
{width: 330px  !important;
}

#page_content #sub-page .content .section .name,#page_content #sub-page .content  .section .name2 {
WIDTH: 255px;
MARGIN-right: 15px;
float: left;
}
#page_content #sub-page .content .section .name p {
font-size: 18px;
line-height: 22px;
color: #006233;
}

#page_content #sub-page .content .section .content {
width: 465px;
padding-left: 15px;
border-left: 1px solid #DADCDE;
margin-bottom: 40px;
}

/*Wyniki wyszukiwania*/

#search_results .name, #search_results .name a {
color: #006233;
font-size: 16px;
}
#search_results .desc {
color: #7D7E81;
font-size: 12px;
padding-top: 5px;
}
#search_results .desc b {
color: #313238;
}
#search_results .path {
list-style-type: none;
margin-top: 10px;
}
#search_results .path li {
background-image: none !important;
color: #7D7E81;
font-size: 11px;
font-style: italic;
}
#search_results .path li.content {
background-color: #EEEFF1 !important;
display: inline-block;
margin: 0 !important;
padding: 3px 5px !important;
width: auto !important;
}
#search_results .paginator {
color: #7D7E81;
font-size: 12px;
padding: 20px 0;
}
#search_results .paginator .info {
display: inline-block;
float: left;
}
#search_results .paginator .info b {
color: #313238;
}
#search_results .paginator .pages {
display: inline-block;
float: right;
}
#search_results .paginator a {
color: #006233;
display: inline-block;
font-size: 12px;
height: 17px;
line-height: 17px;
text-align: center;
width: 17px;
}
#search_results .paginator a.current {
background: none repeat scroll 0 0 #F0F1F3;
color: #313238;
}
#search_results .paginator .prev, #search_results .paginator .next {
color: #7D7E81;
font-size: 11px;
height: auto;
position: relative;
width: auto;
}
/* //static3.bzwbk.pl/asset/p/r/e/prev_arrow_25736.png */
#search_results .paginator .prev:before {
background: url("//static3.bzwbk.pl/asset/p/r/e/prev_arrow_25736.png") no-repeat scroll 0 0 transparent;
content: "";
display: block;
height: 8px;
left: -15px;
position: absolute;
top: 4px;
width: 8px;
}
#search_results .paginator .next {
padding-right: 15px;
}
/* //static3.bzwbk.pl/asset/n/e/x/next_arrow_25728.png */
#search_results .paginator .next:after {
background: url("//static3.bzwbk.pl/asset/n/e/x/next_arrow_25728.png") no-repeat scroll 0 0 transparent;
content: "";
display: block;
height: 8px;
position: absolute;
right: 0;
top: 4px;
width: 8px;
}
#search_results .border_bottom {
border-bottom: 1px solid #ECEEEF;
}
#search_results .sort {
margin-bottom: 10px;
}
#search_results .sort .info {
color: #7D7E81;
display: inline-block;
font-size: 11px;
margin-right: 5px;
}
#search_results .sort a {
color: #313238;
display: inline-block;
font-size: 11px;
margin: 0 5px;
padding: 3px 5px;
}
#search_results .sort a.current {
background: none repeat scroll 0 0 #EEEFF1;
position: relative;
}
/* //static3.bzwbk.pl/asset/p/o/i/pointer_25735.png */
#search_results .sort a.current:after {
background: url("//static3.bzwbk.pl/asset/p/o/i/pointer_25735.png") no-repeat scroll 0 0 transparent;
content: "";
display: block;
height: 4px;
left: 42%;
position: absolute;
top: 22px;
width: 7px;
}
.ie8 #search_results .sort a.current:after {
top: 23px;
}
.ie9 #search_results .sort a.current:after {
top: 24px;
}
#search_results .search_result {
border-bottom: 1px solid #ECEEEF;
height: auto;
padding: 10px 0 20px;
}
#qandadiv {
margin: 0 auto;
width: 750px !important;
}
#qandadiv #right_q_box {
height: 865px !important;
width: 504px !important;
}
#qandadiv #left_q_box {
height: 861px !important;
}
#qandadiv input[type="text"], #qandadiv textarea, #qandadiv select {
border: 1px solid #ABADB3;
font-size: 12px;
padding: 2px 4px;
}
#qandadiv select {
width: 300px;
}
#qandadiv .qalabelnormal {
float: none !important;
margin-bottom: -15px;
}
.likeboxwrap {
height: 158px;
overflow: hidden;
width: 292px;
margin-bottom: 20px;
}
.likeboxwrap iframe {
margin: -1px;
}
.jak_zamowic {
margin-bottom: 20px;
}
.jak_zamowic_hr {
-moz-border-bottom-colors: none;
-moz-border-image: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
border-color: -moz-use-text-color -moz-use-text-color #F1F1F2;
border-style: none none solid;
border-width: medium medium 1px;
margin: 0 0 20px;
padding: 0;
}
.jak_zamowic .button {
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #ff7878), color-stop(1, #ff0404));
background-image: -moz-linear-gradient(center top, #ff7878 30%, #ff0404 100%);
background-image: -o-linear-gradient(#ff7878, #ff0404);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #ff7878, endColorstr = #ff0404);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff7878, endColorstr=#ff0404)";
background-color: #ff7878;
color: #fff !important;
white-space: nowrap;
position: relative;
margin-top: 10px;
padding-top: 2px;
padding-bottom: 3px;
}

.jak_zamowic .button:hover {
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #ff0404), color-stop(1, #ff7878));
background-image: -moz-linear-gradient(center top, #ff0404 30%, #ff7878 100%);
background-image: -o-linear-gradient(#ff0404, #ff7878);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #ff0404, endColorstr = #ff7878);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff0404, endColorstr=#ff7878)";
background-color: #ff0404;
}

.jak_zamowic .button span {
background: url("//static3.bzwbk.pl/asset/s/p/r/sprite_25752.png") no-repeat scroll -1px -65px transparent;
display: block;
height: 13px;
position: absolute;
right: 10px;
top: 5px;
width: 6px;
}
.jak_zamowic .left_column {
color: #7D7E81;
font-size: 11px;
padding-right: 10px;
width: 190px;
}
.jak_zamowic .right_column {
border-left: 1px solid #F1F1F2;
color: #313238;
font-size: 12px;
padding-left: 10px;
width: 260px;
}
.jak_zamowic .right_column ol {
color: #006233;
font-size: 11px;
font-weight: bold;
margin-left: 45px;
}
.jak_zamowic .right_column li {
margin-bottom: 0;
margin-left: -25px;
padding: 4px 0;
position: relative;
z-index: 2;
}
/* //static3.bzwbk.pl/asset/j/a/k/jak_zamowic_dot_25714.png */
.jak_zamowic .right_column li span.jak_zamowic_dot {
background: url("//static3.bzwbk.pl/asset/j/a/k/jak_zamowic_dot_25714.png") no-repeat scroll 0 0 transparent;
display: block;
height: 14px;
left: -21px;
position: absolute;
top: 5px;
width: 14px;
z-index: -1;
}
:first-child + html .jak_zamowic .right_column li span.jak_zamowic_dot {
left: -26px;
}
.jak_zamowic .right_column li span {
color: #313238;
font-weight: normal;
}
.jak_zamowic .right_column li li {
margin: 0 !important;
padding: 0;
}
.jak_zamowic .header {
padding-bottom: 20px;
padding-top: 5px;
}
.jak_zamowic .przez_internet {
padding-top: 0;
}
.jak_zamowic .table_header, .jak_zamowic .table_subheader {
margin-bottom: 0;
padding-left: 40px;
}
.jak_zamowic .table_header {
color: #006233;
font-size: 18px;
}
.jak_zamowic .table_subheader {
color: #313238;
font-size: 12px;
}
.jak_zamowic .column_header {
color: #313238;
font-size: 16px;
}
.jak_zamowic .przez_internet {
background: url(//static3.bzwbk.pl/asset/i/c/o/icon-mouse_30675.png) no-repeat 0 2px;
}
.jak_zamowic .serwis_bankowosci_elektronicznej {
background: url(//static3.bzwbk.pl/asset/i/c/o/icon-serwis_30676.png) no-repeat;
}
.jak_zamowic .przez_telefon {
background: url(//static3.bzwbk.pl/asset/i/c/o/icon-phone_30671.png) no-repeat;
}
.jak_zamowic .przez_videorozmowe {
background: url(//static3.bzwbk.pl/asset/k/a/m/kamera-icon_25875.png) no-repeat;
}
.jak_zamowic .w_placowce {
background: url(//static3.bzwbk.pl/asset/i/c/o/icon-placowka_30672.png) no-repeat;
}
.jak_zamowic .smartphone {
background: url(//static3.bzwbk.pl/asset/i/c/o/icon-smart_30677.png) no-repeat;
}

.bp-list-item {
margin-bottom: 30px !important;
}

.bp-list-item .bp-item-header {
font-weight: bold;
}

.bp-list-item .bp-item-date {
display: block;
margin: 5px 0;
font-size: 11px;
font-style: italic;
}

.bp-list-item .bp-item-content {
font-size: 11px;
}

#prasa_table td {
vertical-align: middle;
padding-bottom: 10px;
}

#prasa_table .left_img {
text-align: center;
}

#prasa_table .left_img, #prasa_table .center_data {
padding-right: 10px;
}

#prasa_table .right_file a {
display: inline-block;
word-wrap: break-word;
width: 380px;
}

#mapa {
width: 100%;
}

#mapa td {
width: 50%;
}

#mapa td p {
padding: 3px 0;
}

#mapa td .lvl1 {
font-weight: bold;
color: #313238;
margin-top: 20px;
display: inline-block;
}

#mapa td .lvl2 {
padding-left: 30px;
display: inline-block;
}

#mapa td .lvl3 {
padding-left: 60px;
display: inline-block;
}

#mapa td .lvl4 {
padding-left: 90px;
display: inline-block;
}

#apla_wrapper {
background: #fff;
height: 7px;
position: absolute;
top: 144px;
z-index: 100000;
}

body.sid #apla_wrapper {
background: none repeat scroll 0 0 #FFFFFF;
height: 7px;
position: absolute;
top: 148px;
z-index: 100000;
}

#ankieta_universidades {
margin-bottom: 20px;
}

#ankieta_universidades .info {
font-weight: bold;
padding: 5px 0;
}

#ankieta_universidades .question_header {
margin-top: 10px;
}

#ankieta_universidades ul {
list-style-type: none;
}

#ankieta_universidades .question {
display: none;
margin: 10px 0;
}

#ankieta_universidades .answers li {
padding: 3px 0;
}

#ankieta_universidades .answers li input {
position: relative;
top: -3px;
}

#ankieta_universidades .podziekowania {
display: none;
}

#ankieta_universidades .active {
display: block;
}

#ankieta_universidades .account {
width: 10px;
}

.youtube_slider_mini {
position: relative;
top: -335px;
left: 840px;
z-index: 1000;
}

/* Mobile */


.section_logo {
float: left;
width: 90px;
padding-left: 20px;
}
.section_content {
float: left;
width: 370px;
}
#page_content #sub-page .content .formatted-content ul.with_dot li {
background-position: left 7px;
line-height: 15px;
margin-bottom: 6px;
}

/* //static3.bzwbk.pl/asset/i/p/h/iphone_28106.jpg */
#iphone {
width: 253px;
height: 452px;
overflow: hidden;
background: url(//static3.bzwbk.pl/asset/i/p/h/iphone_28106.jpg) no-repeat;
float: left;
margin-top: 10px;
}
#iphone .wrapper {
padding-left: 22px;
padding-top: 69px;
}
#content-text {
width: 220px;
padding-bottom: 20px;
float: right;
margin-top: 10px;
}
#app-description ul li {
padding-left: 10px;
padding-bottom: 7px;
color: #3E4548;
font-size: 13px;
}
#download {
padding-top: 20px;
}
#download p {
color: red;
padding-top: 7px;
padding-right: 10px;
font-size: 12px;
}

/* //static3.bzwbk.pl/asset/m/o/b/mobile-hj_28529.png */
#phone {
padding-bottom: 10px;
padding-left: 70px;
width: 320px;
padding-right: 10px;
background-image: url(//static3.bzwbk.pl/asset/m/o/b/mobile-hj_28529.png);
background-attachment: initial;
background-origin: initial;
background-clip: initial;
background-color: initial;
height: 470px;
padding-top: 56px;
background-position: initial initial;
background-repeat: no-repeat no-repeat;
margin: auto
}
#opis_mobile {
line-height: 13px;
float: left;
color: #3e4548;
font-size: 12px;
padding-top: 20px
}
#page_content #sub-page .right-menu .links .u_linki {border-bottom: none}
#page_content #sub-page #wm-right-menu {
width: 224px;
}

#wm-right-menu .box_kontakt .top, #wm-right-menu .box_kontakt .bottom {
display: none;
}

#wm-right-menu .box_kontakt {
background: none;
width: auto;
}

#wm-right-menu form {
margin: 0 !important;
}

#wm-right-menu #form-contact fieldset.left {
margin: 0;
}

#wm-right-menu #form-contact .submit-group {
text-align: left;
}

#wm-right-menu .element-group_head {
font-size: inherit;
line-height: inherit;
padding-left: 0;
}

#wm-right-menu .order li {
border: none !important;
}
.chat-btns{
margin-bottom: 10px;
}
.chat-btns a.camera{
background: url('//static3.bzwbk.pl/asset/k/a/m/kamera-icon_25875.png') no-repeat top left;
padding-left: 35px;
display: block;
height: 30px;
line-height: 30px;
color: #006233 !important;
margin-bottom: 10px;
}
.chat-btns a.camera-dis{
background: url('//static3.bzwbk.pl/asset/k/a/m/kamera-icon_25875.png') no-repeat top left;
padding-left: 35px;
display: block;
height: auto;
line-height: 15px;
color: #7D7E81 !important;
margin-bottom: 10px;
}
.chat-btns a.chat{
background: url('//static3.bzwbk.pl/asset/c/h/a/chat-icon_30670.png') no-repeat left top;
padding-left: 35px;
display: block;
height: 30px;
line-height: 30px;
color: #006233 !important;
}
.chat-btns a.chat-dis:hover, .chat-btns a.camera-dis:hover{
text-decoration: none;
}
.chat-btns a.chat-dis{
background: url('//static3.bzwbk.pl/asset/c/h/a/chat-icon_30670.png') no-repeat left top;
padding-left: 35px;
display: block;
height: auto;
line-height: 15px;
color: #7D7E81 !important;
}

.list li a.mail{
background: url('//static3.bzwbk.pl/asset/m/a/i/mail-icon_43415.png') no-repeat top left;
padding-left: 35px;
display: block;
height: 30px;
line-height: 30px;
color: #006233 !important;
margin-bottom: 10px;
font-size: 12px;
}
.list li a.formularz{
background: url('//static3.bzwbk.pl/asset/f/o/r/formularz-icon_43414.png') no-repeat top left;
padding-left: 35px;
display: block;
height: 30px;
line-height: 30px;
color: #006233 !important;
margin-bottom: 10px;
font-size: 12px;
}
.list li a.home{
background: url('//static3.bzwbk.pl/asset/h/o/m/home-icon_43413.png') no-repeat top left;
padding-left: 35px;
display: block;
height: 35px;
line-height: 35px;
color: #006233 !important;
margin-bottom: 10px;
font-size: 12px;
}
.contact_details li.mail_kontakt small , .contact_details li.formularz_kontakt small{
display: block;
margin-bottom: 0px;
font-size: 11px;
color: #999999;
line-height: 11px;
padding-left: 10px;
}

/*na potrzeby oferty 123,  doc 1087400*/
#iko_123_proc , #iko_123, #iko_700 {line-height: 50px; padding-left: 50px;}
#iko_123_proc {background: url(//static3.bzwbk.pl/asset/i/k/o/iko_123_proc_43418.png) no-repeat left 10px}
#iko_123_proc {background: url(//static3.bzwbk.pl/asset/i/k/o/iko_123_proc_30646.png) no-repeat left 10px}


#iko_123 {background: url(//static3.bzwbk.pl/asset/i/k/o/iko_123_30645.png) no-repeat left 10px}
#iko_700 {background: url(//static3.bzwbk.pl/asset/i/k/o/iko_700_43417.png) no-repeat left 10px}
#123_ptaszek {line-height: 20px; padding-left: 30px; background: url(//static3.bzwbk.pl/asset/i/k/o/iko_ok_43416.png) no-repeat left 0px}
.point_strzalka LI {
/* //static3.bzwbk.pl/asset/p/o/i/point_strzalka_30647.png */
BACKGROUND-IMAGE: url('//static3.bzwbk.pl/asset/p/o/i/point_strzalka_30647.png') !important;
LINE-HEIGHT: 20px !important;
PADDING-LEFT: 20px !important;
BACKGROUND-POSITION: 0px 2px !important
}

/*na potrzeby wyrównujących się kolum,np  doc 1087400*/
#container_div_tabeli{
display:table;
background-color:#fff;
margin:0 auto;
}

.row_tabela{ display:table-row;}
.col_tabela{ display: table-cell;}
#col1{width:350px;border: 1px solid #CCC; PADDING: 10px;}
#col_odstep{width:15px;}
#col2{ width:350px;border: 1px solid #CCC; PADDING: 10px;}

/* naprawa na potrzeby prawidłowego wyświetlania bzwbkaviva.pl na telefonach */

.v1366 .fix-w-50 {
    width: 50% !important;
}
.v320 .fix-table {
    margin-left: -32px;
}
.v1366 .fix-w-610 {
    width: 610px;
}
.v320 .fix-display {
    display: none;
}
.v320 .fix-w320-unset {
    width: unset !important;
}
.v320 .fix-w-unset {
    width: unset !important;
}
.v320 .fix-h-unset {
    height: unset !important;
}
.v1024 .fix-w-unset {
    width: unset !important;
}
.v1024 .fix-ramka {
    width: unset !important;
    float: unset !important;
    height: unset !important;
}
.v320 .fix-ramka {
	width: 260px !important;
    float: none !important;
    height: auto !important;
    box-sizing: border-box;
    }
body.v320 #page_content #sub-page .content img.fix-img {
    max-width: 100% !important;
}
.v320 .news-info .fix-img1 {
    width: 265px;
    position: relative !important;
    top: 37px !important;
    left: 0px;
}
.v320 .news-info .fix-img2 {
    width: 265px;
    position: relative !important;
    top: 52px !important;
    left: 0px;
}
.v320 .news-info.fix {
    padding-left: 0;
    width: unset;
}
.v320 .news-info h2.fix-h-1 {
    margin-left: 0;
    position: relative;
    top: -140px;
}
.v320 .news-info h2.fix-h-2 {
    margin-left: 0px;
    position: relative;
    top: -155px;
}
.v320 p.fix-m-b {
    margin-bottom: 30px !important;
}