body.v320{
padding: 0px;
}
body.v320 .page{
width: 320px;
}
body.v320 .copy.page{
background: url("//static3.bzwbk.pl/asset/o/p/e/open-footer_25686.png") no-repeat scroll 288px 15px;
width: 260px;
cursor: pointer;
padding-left: 30px;
padding-right: 30px;
}
body.v320 #page_head .page_header_wrapper{
width: 320px;
padding: 0px;
background: #f7f6f8;
}
body.v320.ir.subpage.menu-visible #page_head{
height: 365px;
}
body.v320.ir.subpage #page_head{
height: 149px;
}
body.v320.ir #page_head header nav .main{
height: 203px;
}
body.v320.ir.menu-visible.subpage #page_head header {
height: 365px;
}
body.v320.ir.subpage #page_head header {
height: 149px;
}
body.ir #page_head header {
height: 150px;
}
body.ir #page_head .page_header_wrapper {
height: 150px;
}
body.ir.v320 #page_head .page_header_wrapper {
height: auto;
}
body.v320 section.contact_details{
width: 300px;
}
body.v320.mim nav.page {
height: 240px;
}
body.v320 #page_head header{
height: 301px;
}
body.v320.ir #page_head header{
height: 308px;
}
body.v320.subpage.menu-visible #page_head header{
height: 345px;
}
body.v320.subpage #page_head header{
height: 149px;
}
body.v320.subpage.menu-visible.sid #page_head header{
height: 429px;
}
#page_head .page_header_wrapper{
height: auto;
}
body.v320.subpage.sid #page_head header{
height: 149px;
}
body.v320.mim.menu-visible.subpage #page_head header {
height: 399px;
}
body.v320.mim.subpage #page_head header {
height: 149px;
}
body.v320.mim #page_head header {
height: 355px;
}
body.v320.sid #page_head header {
height: 385px;
}
img.v320-header{
display:none;
}
body.v320.ir img.v320-header{
display: block;
margin-left: 30px;
margin-top:10px;
margin-bottom:15px;
}
body.v320.mim #page_head {
height: 655px;
}
body.v320.sid #page_head {
height: 685px;
}
body.v320.mim #page_head header nav .main{
height: 240px;
}
.signin_box article{
margin-top: 10px;
height: 92px;
}
body.v1024 .ind_main{
padding-left: 0px !important;
padding-right:0px !important;
}
body.v320 #page_content #sub-page .content .list-box .title{
float: none;
width: 260px;
display: block;
}
body.v320 #page_content #sub-page .content .list-box .items-list{
float: none;
width: 260px;
display: block;
border-left: none;
}
body.v320 #page_content #sub-page .content .list-box .items-list li{
margin-left: 0px !important;
}
body.v320 #page_head{
height: 601px;
}
body.v320 .order_details_box:after, body.v1024 .order_details_box:after{
display: none;
}
body.v320.ir #page_head{
height: 390px;
}
body.v320.bo #page_head{
height: 301px;
}
body.v320.payback #page_head{
height: 301px;
}
bodu.v1024.payback #page_content #sub-page h1{
margin-left: 50px;
}
body.subpage.v320 #page_head{
height: 149px;
}
body.subpage.menu-visible.v320 #page_head{
height: 345px;
}

body.subpage.menu-visible.sid.v320 #page_head{
height: 429px;
}
body.subpage.sid.v320 #page_head{
height: 149px;
}
body.subpage.mim.menu-visible.v320 #page_head{
height: 399px;
}
body.subpage.mim.v320 #page_head{
height: 146px;
}
body.v320 #page_content #sub-page .content div.tabs{
height: auto;
}

body.v320 #page_content #sub-page .content div.tabs ul li{
display: block;
height: 32px;
background: #f3f3f5;
margin-bottom: 1px;
float: none;
}
body.v320 #page_content #sub-page .content div.tabs ul li.clear{
display: none;
}
body.v320 #page_content #sub-page .content div.tabs ul li.active{
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #ececec), color-stop(1, #e0e1e3));
background-image: -moz-linear-gradient(center top, #ececec 20%, #e0e1e3 100%);
background-image: -o-linear-gradient(#ececec, #e0e1e3);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #ececec, endColorstr = #e0e1e3, GradientType=0);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ececec, endColorstr=#e0e1e3, GradientType=0)";
}
body.v320 #page_content #sub-page .content div.tabs ul li a{
text-align: left;
}
body.v320 #page_content #sub-page .content div.tabs ul li a br{
display: none;
}
body.v320 #page_head header a.logo{
width: 293px;
display: block; 
background: none;
float: none;
margin: auto;
}
body.v320 #page_head header nav .main{
width: 320px;
background-image: -webkit-gradient(linear, left top, right top, color-stop(0.2, #818287), color-stop(1, #000000));
background-image: -moz-linear-gradient(top left, #818287 20%, #000000 100%);
background-image: -o-linear-gradient(#f5f5f6, #dedee3);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #818287, endColorstr = #000000, GradientType=1);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#818287, endColorstr=#000000, GradientType=1)";
background-color: #818287;
height: 186px;
}
body.v320.sid #page_head header nav .main{
height: 270px;
}
body.v320 #page_head header nav .main li.current{
height: 25px;
padding-top: 10px;
background: #ffffff;
}
body.v320 #page_head header nav .main li.current a{
height: 25px;
}
body.v320 #page_head header nav .main li{
display: block;
width: 140px;
font-size: 12px;
height: 20px;
border-bottom: 1px solid #ffffff;
padding-top: 9px;
}
body.v320.ir #page_head header nav .main li{
border-bottom: none;
}

body.v320.subpage #page_head header nav.page.v1024{
display: none;
}

body.v320.ir #page_head header nav .main li:first-child a{
padding-right: 10px;
}
body.v320.ir #page_head header nav .main .sub{
margin-top: -35px;
background: url(//static3.bzwbk.pl/asset/m/e/n/menu-arrow_25680.png) #ffffff no-repeat 0px 0px;
}
body.v320.ir.eng #page_head header nav .main .sub{
margin-top: -64px;
background: url(//static3.bzwbk.pl/asset/m/e/n/menu-arrow_25680.png) #ffffff no-repeat 0px 29px;
}
body.v320.ir.eng #page_head header .signin{
width: 114px;
}
body.v1024.subpage #page_head {
height: 150px;
}
body.v1024 #page_content #sub-page{
padding: 10px 0px;
}
body.v320 #page_content #sub-page{
width: 320px;
padding: 10px 0px;
}
body.v320 #page_content #sub-page #breadcrumbs{
display:none;
}
body.v320 nav.page{
height: auto;
}
body.v1024 #page_content #sub-page nav.submenu{
width: 200px;
margin-left: 50px;
margin-right: 35px;
margin-bottom: 30px;
}
.social_bzwbk .social{
width: 295px;
}
.social_bzwbk .social a.bp{
height: 26px;
line-height: 26px;
float: left;
}
body.v320 #page_content #sub-page nav.submenu li{
padding-left: 0px;
padding-right: 0px;
padding-top: 5px;
padding-bottom: 5px;
}
body.v320 #page_content #sub-page nav.submenu li li{
padding-left: 9px;
padding-bottom: 0px;
}
body.v320 #page_content #sub-page nav.submenu li li div{
margin-bottom: 5px;
}
body.v320 #page_content #sub-page nav.submenu li.open div{
margin-bottom: 5px;
}
body.v320 #page_content #sub-page nav.submenu{
float: none;
padding: 0px 30px;
width: 260px;
margin-bottom: 20px;
}
body.v320 .contact_details article{
width: 268px;
}
body.v320 #page_content #sub-page .content{
float: none;
width: 260px !important;
padding: 30px 30px;
background: url(//static3.bzwbk.pl/asset/c/o/n/content-shadow_25667.png) no-repeat top center;
}
body.v320.ir #page_content #sub-page .content{
padding-top: 0px;
background: none;
}
body.v320 #page_content #sub-page .content .products-list3{
width: 260px;
background: none;
}
body.v320 #page_content #sub-page .content .product, body.v320 #page_content #sub-page .content .product2{
width: 260px;
}
body.v320 #page_content #sub-page .content .product ul, body.v320 #page_content #sub-page .content .product2 ul{
padding-left: 0px;
}
body.v320 #page_content #sub-page .content .product p, body.v320 #page_content #sub-page .content .product2 p{
padding: 0px;
}
body.v320 #page_content #sub-page .content .product h2, body.v320 #page_content #sub-page .content .product2 h2{
clear: both;
float: none !important;
margin-bottom: 5px !important;
}
body.v320 #page_content #sub-page .content .product h2 a, body.v320 #page_content #sub-page .content .product2 h2 a{
float: none !important;
}
body.v320 #page_content #sub-page .content .product .thumb, body.v320 #page_content #sub-page .content .product2 .thumb{
float: none !important;
width: auto;
display: none;
}
#page_content #sub-page .content .product .thumb.v320{
display: none;
}
body.v320 #page_content #sub-page .content .product .thumb.v320{
float: none !important;
width: auto;
display: block;
margin-bottom: 15px;
height:18px;
}
body.v320.rabaty section.main_slider{
display: none;

}
section.mobile-slider{
height: 334px;
display: block;
}
body.v1024 section.mobile-slider{
height: 334px;
display: block;
}
body.v320 section.mobile-slider{
height: 245px;
background: #ffffff;
display: block;
}
section.mobile-slider div.slide.kg{
background: url(//static3.bzwbk.pl/asset/c/h/-/ch-kg-960_25670.png) no-repeat bottom left;
height: 334px;
width: 960px;
}
section.mobile-slider div.slide.kg div.text{
font-size: 90px;
line-height: 85px;
position: absolute;
margin-left:460px;
margin-top:20px;
}
section.mobile-slider div.slide.kg a.button{
position: absolute;
border: none;
width: 191px;
height: 57px;
display: block;
background: url(//static3.bzwbk.pl/asset/b/t/n/btn_sprawdz_25664.png) no-repeat top left;
margin-top: 260px;
margin-left: 750px;
}

section.mobile-slider div.slide.locum{
background: url(//static3.bzwbk.pl/asset/l/o/c/locum-960_25678.png) no-repeat bottom left;
height: 334px;
width: 960px;
}
section.mobile-slider div.slide.locum div.text{
font-size: 62px;
line-height: 55px;
position: absolute;
margin-left:590px;
margin-top:50px;
}
body.v1024 section.mobile-slider div.slide.locum div.text{
font-size: 43px;
line-height: 40px;
position: absolute;
margin-left: 10px;
margin-top: 275px;
width: 550px;
}
body.v1024 section.mobile-slider div.slide.napodroz div.text{
font-size: 30px;
line-height: 33px;
position: absolute;
margin-left: 10px;
margin-top: 260px;
width: 320px;
}
body.v1024 section.mobile-slider div.slide.napodroz div.text span.red{
font-size: 30px;
line-height: 33px;
}
body.v320 section.mobile-slider div.slide.locum div.text{
font-size: 20px;
line-height: 15px;
position: absolute;
margin-left: 10px;
margin-top: 197px;
width: 140px;
}
body.v320 section.mobile-slider div.slide.locum div.text br{
display: none;
}
body.v320 section.mobile-slider div.slide.napodroz div.text{
font-size: 17px;
line-height: 13px;
position: absolute;
margin-left: 10px;
margin-top: 190px;
width: 250px;
}
body.v320 section.mobile-slider div.slide.napodroz div.text span.red{
font-size: 17px;
line-height: 13px;
}
body.v1024 section.mobile-slider div.slide.napodroz div.text br, body.v1024 section.mobile-slider div.slide.locum div.text br{
display: none;
}
section.mobile-slider div.slide.locum a.button{
position: absolute;
border: none;
width: 191px;
height: 57px;
display: block;
background: url(//static3.bzwbk.pl/asset/b/t/n/btn_sprawdz_25664.png) no-repeat top left;
margin-top: 260px;
margin-left: 750px;
}

section.mobile-slider div.slide.napodroz{
background: url(//static3.bzwbk.pl/asset/n/a/-/na-podroz-960_25684.png) no-repeat bottom left;
height: 334px;
width: 960px;
}
section.mobile-slider div.slide.napodroz div.text{
font-size: 49px;
line-height: 42px;
position: absolute;
margin-left: 550px;
margin-top: 78px;
}
section.mobile-slider div.slide.napodroz div.text span.red{
color: #ff0000;
font-size: 49px;
line-height: 42px;
}
section.mobile-slider div.slide.napodroz a.button{
position: absolute;
border: none;
width: 191px;
height: 57px;
display: block;
background: url(//static3.bzwbk.pl/asset/b/t/n/btn_sprawdz_25664.png) no-repeat top left;
margin-top: 260px;
margin-left: 750px;
}


section.mobile-slider div.slide.bt{
background: url(//static3.bzwbk.pl/asset/b/t/-/bt-960_25666.png) no-repeat bottom left;
height: 334px;
width: 960px;
}
section.mobile-slider div.slide.bt div.text{
font-size: 58px;
line-height: 48px;
position: absolute;
margin-left:472px;
margin-top:160px;
}
section.mobile-slider div.slide.bt div.text small{
font-size: 32px;
line-height: 25px;
margin-left: 0px;
display:block;
padding-top:0px;
}
section.mobile-slider div.slide.bt a.button{
position: absolute;
border: none;
width: 191px;
height: 57px;
display: block;
background: url(//static3.bzwbk.pl/asset/b/t/n/btn_sprawdz_25664.png) no-repeat top left;
margin-top: 260px;
margin-left: 750px;
}

body.v1024 section.mobile-slider div.slide.kg div.text{
font-size: 48px;
line-height: 40px;
position: absolute;
margin-left:20px;
margin-top:275px;
}
body.v1024 section.mobile-slider div.slide.bt div.text{
font-size: 33px;
line-height: 29px;
position: absolute;
margin-left:20px;
margin-top:270px;
}
body.v1024 section.mobile-slider div.slide.bt div.text small{
font-size: 25px;
line-height: 19px;
}
body.v1024 section.mobile-slider div.slide.kg div.text br{
display: none;
}
body.v1024 section.mobile-slider div.slide.kg{
background: url(//static3.bzwbk.pl/asset/c/h/-/ch-kg-768_25669.png) no-repeat top left;
height: 334px;
width: 768px;
}
body.v1024 section.mobile-slider div.slide.locum{
background: url(//static3.bzwbk.pl/asset/l/o/c/locum-768_25677.png) no-repeat top left;
height: 334px;
width: 768px;
}
body.v1024 section.mobile-slider div.slide.napodroz{
background: url(//static3.bzwbk.pl/asset/l/o/c/locum-768_25677.png) no-repeat top left;
height: 334px;
width: 768px;
}
body.v1024 section.mobile-slider div.slide.bt{
background: url(//static3.bzwbk.pl/asset/b/t/-/bt-768_25665.png) no-repeat top left;
height: 334px;
width: 768px;
}
body.v320 section.mobile-slider div.slide.kg{
background: url(//static3.bzwbk.pl/asset/c/h/-/ch-kg-320_25668.png) no-repeat 0px 0px;
height: 245px;
width: 320px;
}
body.v320 section.mobile-slider div.slide.locum{
background: url(//static3.bzwbk.pl/asset/l/o/c/locum-320_25676.png) no-repeat 0px 0px;
height: 245px;
width: 320px;
}
body.v320 section.mobile-slider div.slide.napodroz{
background: url(//static3.bzwbk.pl/asset/n/a/-/na-podroz-320_25683.png) no-repeat 0px 0px;
height: 245px;
width: 320px;
}
body.v320 section.mobile-slider div.slide.bt{
background: url(//static3.bzwbk.pl/asset/b/t/-/bt-320_25663.png) no-repeat 0px 0px;
height: 245px;
width: 320px;
}
body.v320 section.mobile-slider div.slide a.button{
position: absolute;
border: none;
width: 94px;
height: 20px;
display: block;
background: url(//static3.bzwbk.pl/asset/s/l/i/slide-btn_25689.png) no-repeat top left;
margin-top: 216px;
margin-left: 210px;
}
body.v320 section.mobile-slider div.slide.kg div.text{
font-size: 20px;
line-height: 15px;
position: absolute;
margin-left:10px;
margin-top:215px;
}
body.v320 section.mobile-slider div.slide.bt div.text{
font-size: 25px;
line-height: 20px;
position: absolute;
margin-left:10px;
margin-top:160px;
}
body.v320 section.mobile-slider div.slide.bt div.text small{
font-size: 17px;
line-height: 13px;
width: 190px;
padding-top:0px;
}
body.v320 section.mobile-slider div.slide.kg div.text br{
display:none;
}

section.mobile-slider div.slide div.text, section.mobile-slider div.slide div.text small, section.mobile-slider div.slide div.text b, section.mobile-slider div.slide div.text span{
color: #01652f;
}

body.v1024 section.mobile-slider div.slide div.text span.space{
display: inline-block;
width: 18px;
}
body.v320 section.mobile-slider div.slide div.text span.space{
display: inline-block;
width: 13px;
}

body.v1024 section.mobile-slider div.slide a.button{
position: absolute;
border: none;
width: 191px;
height: 57px;
display: block;
background: url(//static3.bzwbk.pl/asset/b/t/n/btn_sprawdz_25664.png) no-repeat top left;
margin-top: 270px;
margin-left: 550px;
}



body.v320 #page_content #sub-page .content .product .thumb img{
display: none;
}
body.v320 #page_content #sub-page .right-menu .order{
width: 260px;
padding: 5px 30px;
background-image: none;
}
.social_bzwbk_wrapper{
margin-left: -10px;
}
body.v320 #page_content #sub-page .right-menu .order iframe{
height: 170px;
}
body.v320 #page_content #sub-page .right-menu .links{
width: 260px;
padding: 0px 30px;
background-image: none;
}
body.v320 #page_content #sub-page .right-menu .order li.form{
border-bottom: none;
}
body.v320 #page_content #sub-page .right-menu .links ul li{
background: url(//static3.bzwbk.pl/asset/g/r/e/green_arrow_25706.png) no-repeat 0px 1px;
padding-left: 20px;
margin-bottom: 10px;
font-size: 12px;
}
body.v320 #page_content #sub-page .right-menu .links h3 {
font-weight: bold;
font-size: 16px;
padding-bottom: 10px;
border-bottom: 1px solid #eceeef;
}
body.v320 #page_content #sub-page .right-menu .chat-btns{
padding-bottom: 25px;
}
body.v320 #page_content #sub-page .right-menu .links ul{
border-bottom: none;
padding-bottom: 10px;
width: 260px;
}
body.v320 #page_content #sub-page .right-menu .order li.header{
font-weight: bold;
color: #313238;
font-size: 16px;
}
#page_head header .mobile-menu{
display: none;
}

body.v320.subpage #page_head header .mobile-menu{
display: block;
height: 35px;
line-height: 35px;
background: url(//static3.bzwbk.pl/asset/m/e/n/menu-arrow_25680.png) no-repeat 200px 0px #ffffff;
padding-left: 20px;
padding-right: 20px;
margin-top: 10px;
}
body.v320.subpage #page_head header .mobile-menu span.current{
float: left;
display: block;
height: 35px;
line-height: 35px;
}
body.v320.subpage #page_head header .mobile-menu span.show{
background: url(//static3.bzwbk.pl/asset/m/e/n/menu-icon_25681.png) no-repeat 47px center #818287;
color: #ffffff;
height: 20px;
line-height: 20px;
float: right;
display: block;
width: 52px;
margin-top: 7px;
padding-left: 10px;
padding-right: 10px;
cursor: pointer;
}
body.v320.subpage #page_head header nav.page{
display: none;
}
body #page_head header nav.page.v320{
display: none;
}
body.v320.subpage #page_head header nav.page.v1024, body.v320.subpage #page_head header nav.page.v320{
display: none;
}
body.v320.menu-visible.subpage #page_head header nav.page.v320{
display: block;
}
body.v320 #page_head header nav.page.v320{
display: block;
}
body.v320 #page_head header nav.page.v1024{
display: none;
}
body.v320 #page_content #sub-page .content .overview img{
float: none;
margin: auto;
display: block;
}
body.v320 #page_content #sub-page .right-menu{
float: none;
width: 320px;

}
body.v320.ir #page_content #sub-page .right-menu{
padding-top: 1px;
padding-bottom: 10px;
background-image: none;
}
body.v320.payback #page_content #sub-page .right-menu{
margin: 0px !important;
position: static;
float: none;
display: block;
}
body.v1024 #page_content #sub-page h1{
width: 668px;
margin: auto;
}
body.map .map_content.v320{
display: none;
}
body.map .map_content.v320 ul{
list-style-type: disc;
list-style-position: inside;
margin-bottom: 10px;
}
body.map .map_content.v320 ul.m .m_pink{
color: #e661ac;
}
body.map .map_content.v320 ul.m .m_blue{
color: #6991fd;
}
body.map .map_content.v320 form p{
margin-bottom: 8px;
}
body.map .map_content.v320 form p input{
padding: 3px;
font-size: 12px;
}
body.map .map_content.v320 form p select{
padding: 3px;
}
body.v320.map .map_content.v1024{
display: none;
}
body.v320.map .map_content.v320{
display: block;
width: 260px;
padding-left: 30px;
padding-right: 30px;
margin: auto;
}
body.v1024.map #page_content #sub-page nav.submenu{
display: none;
}
body.v1024 #page_content #sub-page .content .section .name, body.v320 #page_content #sub-page .content .section .name{
float: none;
display: block;
width: 100%;
margin-right: 0px;
margin-bottom: 15px;
}
body.v320 #page_content #sub-page .content form.styled label{
display: block;
margin-bottom: 5px;
}
body.v320 #page_content #sub-page .content form.styled input{
display: block;
margin-bottom: 5px;
padding: 3px;
width: 232px;
}
body.v1024 #page_content #sub-page .content .section .content, body.v320 #page_content #sub-page .content .section .content{
float: none;
display: block;
width: 100%;
padding-left: 0px;
border-left: 0px;
border-bottom: 1px solid #DADCDE;
margin-bottom: 10px;
padding-bottom: 10px;
padding-top: 0px;
background: #ffffff;
}
body.v320 .hide-mobile{
display: none !important;
}
body.v1366 .hide-desktop, body.v1024 .hide-desktop{
display: none !important;
}

body.v1024 footer .hide-mobile{
display: none !important;
}
body.v320 #page_content #sub-page h1{
width: 260px;
margin: auto;
}
body.v1024 #page_content #sub-page .content{
width: 430px !important;
}

body.v1024 #page_content #sub-page .content img{
max-width: 430px !important;
height: auto !important;
}
body.v320 #page_content #sub-page .content img{
max-width: 260px !important;
height: auto !important;
}
body.v1024.ir #page_content #sub-page .content{
width: 668px !important;
padding-left: 50px;
padding-right: 50px;
}
body.v1024.ir #page_content #sub-page .content .left_content{
padding-top: 10px;

}
body.v320.ir #page_content #sub-page .content .left_content{
float: none;
width: 260px;
}
body.v320.ir #page_content #sub-page .content .left_content h1{
width: 260px;
border-top: 1px solid #eceeef;
padding-top: 20px;
}
body.v320.ir #page_content #sub-page .content .right_content{
float: none;
width: 260px;
}
body.v1024.ir #page_content #sub-page .content .left_content p.wiecej a, body.v320.ir #page_content #sub-page .content .left_content p.wiecej a{
color: #878C9F;
}

body.v1024.ir #page_content #sub-page .content .left_content h1{
border-top: 1px solid #eceeef;
padding-top: 20px;
}
body.v1024.ir #page_content #sub-page .content .left_content h1 a{
font-weight: normal;
font-size: 17px;
line-height: 17px;
}
body.v320.ir #page_content #sub-page .content .left_content h1 a{
font-weight: normal;
font-size: 17px;
line-height: 17px;
}
body.v1024.ir #page_content #sub-page .content .right_content{
padding-top:10px;
width: 198px;
}
body.v1024.ir #page_content #sub-page .content .right_content img{
width: 198px;
}
body.v320.ir #page_content #sub-page .content .right_content img{
display: none
}
body.v1024.ir #page_content #sub-page .content .right_content h2{
border-bottom: none;
border-top: 1px solid #eceeef;
padding-top:10px;
font-size: 17px;
line-height: 17px;
margin-top:0px;
width: auto;
}
body.v320.ir #page_content #sub-page .content .right_content h2{
border-bottom: none;
border-top: 1px solid #eceeef;
padding-top:10px;
font-size: 17px;
line-height: 17px;
margin-top:0px;
width: auto;
}
body.v320.ir #page_content #sub-page .content .right_content .spolka_content{
font-weight: normal;
}
body.v1024 #breadcrumbs{
float: right;
margin-right: 50px;
}
body.v1024 #page_content #sub-page{
width: 768px;
}
#page_content #sub-page .right-menu .order li:last-child{
border-bottom: none;
}
body.v1024 #page_content #sub-page .right-menu{
clear: both;
float: none;
width: 768px;
}
body.v1024.ir #page_content #sub-page .right-menu{
clear: both;
float: none;
width: 768px;
background: #F4F5F6;
}

body.v1024.payback #page_content #sub-page .right-menu{
margin-top:0px !important;
}
body.v1024 #page_content #sub-page .right-menu .order li.header{
font-weight:bold;
color: #313238;
font-size: 16px;
width: 668px;
display:block;
padding-top:10px;
margin-right: 0px;
}
body.v1024 #page_content #sub-page .right-menu .order{
padding: 0px 50px;
height: auto !important;
width: 668px !important;
}
body.v1024 #page_content #sub-page .right-menu .order li{
float: left;
width: 198px;
margin-right: 34px;
}
body.v1024 #page_content #sub-page .right-menu .order li:nth-child(4){
margin-right: 0px;
}
body.v1024.sid #page_content #sub-page .right-menu .order, body.v1024.mim #page_content #sub-page .right-menu .order, body.v1024.payback #page_content #sub-page .right-menu .order{
height: 100px !important;
}
body.v1024 #page_content #sub-page .right-menu .order li.tel{
width: 198px;
display: block;
position: absolute;
margin-top: 45px;
padding-bottom: 7px;
}
body.v1024 #page_content #sub-page .right-menu .order li.place{
width: 198px;
display: block;
position: absolute;
margin-top: 94px;
padding-bottom: 7px;
}
body.v1024.payback #page_content #sub-page .right-menu .order li.header{
width: 668px;
}
body.v1024.payback #page_content #sub-page .right-menu .order li.place{
border-bottom: none;
margin-top:45px;
}
body.v1024.payback #page_content #sub-page .right-menu .order li.bzwbk24{
border-bottom: none;
position: absolute;
margin-top:45px;
margin-left: 233px;
}
body.v1024.payback #page_content #sub-page .right-menu .order li.internet{
border-bottom: none;
position: absolute;
margin-top:45px;
margin-left: 466px;
}
body.v1024.sid #page_content #sub-page .right-menu .order li.place, body.v1024.mim #page_content #sub-page .right-menu .order li.place{
margin-top:45px;
}
body.v1024 #page_content #sub-page .right-menu .order li.form{
width: 440px;
float: right;
display: block;
position: absolute;
margin-left: 228px;
margin-top: 35px;
border-top: 1px solid #E3E7E8;
padding-top: 10px;
border-bottom: none;
}
body.v1024 #page_content #sub-page .right-menu .order li.form span.header{
display: block;
height: 40px;
line-height: 30px;
}
body.v1024 #page_content #sub-page .right-menu .links h3{
font-weight: bold;
font-size: 16px;
padding-bottom: 10px;
border-bottom: 1px solid #eceeef;
}
body.v1024.payback #page_content #sub-page .right-menu .links, body.v1024.bo #page_content #sub-page .right-menu .links{
width: 668px;
}
body.v1024.payback #page_content #sub-page .right-menu .links .col, body.v1024.bo #page_content #sub-page .right-menu .links .col{
width: 668px;
}
body.v1024.payback #page_content #sub-page .right-menu .links .col ul, body.v1024.bo #page_content #sub-page .right-menu .links .col ul{
width: 668px;
}
body.v1024.payback #page_content #sub-page .right-menu .links .col ul li, body.v1024.bo #page_content #sub-page .right-menu .links .col ul li{
float: left;
width: 178px;
margin-right:35px;
display: block;
}
body.v1024.payback #page_content #sub-page .right-menu .links .col ul li:last-child, body.v1024.bo #page_content #sub-page .right-menu .links .col ul li:last-child{
margin-right: 0px;
}
body.v1024 #page_content #sub-page .right-menu .links{
padding: 0px 50px;
}
body.v1024.ir #page_content #sub-page .right-menu div.col.last iframe{
width: 198px;
}
body.v320.ir #page_content #sub-page .right-menu div.col.last iframe{
width: 260px;
}
body.v1024.ir #page_content #sub-page .right-menu .links h2{
font-size: 15px;
color: #313238;
font-weight: bold;
padding-bottom: 8px;
width: auto;
margin-bottom: 10px;
}
body.v320.ir #page_content #sub-page .right-menu .links h2{
font-size: 15px;
color: #313238;
font-weight: bold;
padding-bottom: 8px;
width: auto;
margin-bottom: 10px;
}
body.v1024.ir #page_content #sub-page .right-menu .links h3{
border-bottom: none;
padding-bottom: 0px;
font-size: 13px;
}
body.v320.ir #page_content #sub-page .right-menu .links h3{
border-bottom: none;
padding-bottom: 0px;
font-size: 13px;
}
body.v1024.ir #page_content #sub-page .right-menu .links ul{
width: 198px;
}
body.v1024.ir #page_content #sub-page .right-menu .links ul li{
margin-bottom: 0px;
}
body.v1024.ir #page_content #sub-page .right-menu .links ul li a{
font-size: 12px;
}
body.v1024 #page_content #sub-page .right-menu .links ul li{
background: url(//static3.bzwbk.pl/asset/g/r/e/green_arrow_25706.png) no-repeat 0px 1px;
padding-left: 20px;
margin-bottom:10px;
font-size: 12px;
}
body.v1024 #page_content #sub-page .content .products-list3, body.v1024 #page_content #sub-page .content .products-list{
width: 430px;
}
body.v1024 #page_content #sub-page .content .products-list3 .product, body.v1024 #page_content #sub-page .content .products-list .product{
width: 430px;
}
body.v1024 #page_content #sub-page .content .products-list3 .product h2, body.v1024 #page_content #sub-page .content .products-list .product h2,  body.v1024 #page_content #sub-page .content .products-list .product h3{
width: 210px !important;
}
body.v1024 #page_content #sub-page .content .products-list3 .product ul, body.v1024 #page_content #sub-page .content .products-list .product ul{
padding-left: 0px;
}
body.v1024 #page_content #sub-page .content .products-list .product2 h2{
width: 210px !important;
}
body.v1024 #page_content #sub-page .content .products-list .product2 h2 a{
width: 210px !important;
}
body.v1024 #page_content #sub-page .content .products-list3 .product h2 a, body.v1024 #page_content #sub-page .content .products-list .product h2 a{
width: 210px !important;
}
body.v1024 #page_content #sub-page .right-menu .links ul{
border-bottom: none;
}
body.v1024 #page_content #sub-page .right-menu .links div.col{
width: 198px;
float: left;
margin-right: 34px;
}

body.v1024 #page_content #sub-page .right-menu .links div.col.last, body.v1024 #page_content #sub-page .right-menu .links div.col:nth-child(3){
margin-right: 0px;
}
body.v1024 #page_content #sub-page .right-menu .links{
background: none;
}
body.v1024 #page_content #sub-page .right-menu .order{
background-image: none;
}
body.v1024 .list-box .items-list{
width: 280px;
}
body.v1024 .signin_box{
width: 748px;
}
body.v1024 .signin_box article{
float: left;
}
body.v1366 #page_head header nav .main li a br{
display: none;
}
body.v1366.sid #page_head header nav .main ul.sub a br{
display:block;
}
body.v1366 #content section#basic_contact{
display: none;
}
body.v1366 div.social_bzwbk_wrapper.page.v1024{
display: none;
}
body.v1366 footer.page .itoys.v320{
display: none;
}
body.v320 #page_head header nav .main li.third{
height: 36px;
}
body.v320 #page_head header nav .main li.third a{
height: 36px;
}
body.v320 #page_head header nav .main li.fourth a{
padding-right: 8px;
}
body.v320 nav .main li .tab{
font-size: 12px;
height: 20px;
margin-right: 0px;
line-height: 14px !important;
display: block;
padding: 0 15px;
background: none;
-ms-filter: none;
filter: none;
}
body.v320 #page_head header nav .main li.other_sites_tab{
border-bottom: none;
}
body.v320 #page_head header nav .main li.promocje{
margin-left: 0px;
height: auto;
}
body.v320 #page_head header nav .main li.promocje a{
font-weight: bold;
}
body.v320 #page_head header nav .main ul.sub li.first h2{
margin-left: 0px !important;
}
body.v320 #page_head header nav .main li.other_sites_tab span{
display: none;
}
body.v320 #page_head header nav .main .sub{
width: 180px;
height: auto;
margin-left: 140px !important;
margin-top: -35px;
background: url(//static3.bzwbk.pl/asset/m/e/n/menu-arrow_25680.png) #ffffff no-repeat top left;
}
body.v320.bo #page_head header nav .main .sub{
margin-top: -141px;
height: 186px;
background: url(//static3.bzwbk.pl/asset/m/e/n/menu-arrow_25680.png) #ffffff no-repeat 0px 106px;
}
body.v320.sid #page_head header nav .main .sub{
margin-top: -106px;
background: url(//static3.bzwbk.pl/asset/m/e/n/menu-arrow_25680.png) #ffffff no-repeat 0px 65px;
}
body.v320 #page_head header nav .main li.second .sub{
width: 180px;
height: auto;
margin-left: 140px !important;
margin-top: -65px;
background: url(//static3.bzwbk.pl/asset/m/e/n/menu-arrow_25680.png) #ffffff no-repeat 0px 30px;
}
body.v320 #page_head header nav .main .sub li{
height: 20px;
padding-top: 9px;
width: 180px;
}
body.v320 #page_head header nav .main .sub li.first{
height: 26px;
}

body.v320.mim #page_head header nav .main .sub li.first, body.v320.sid #page_head header nav .main .sub li.first, body.v320.ir #page_head header nav .main .sub li.first{
height: 20px;
}

body.v320.mim #page_head header nav .main .sub li.first a, body.v320.sid #page_head header nav .main .sub li.first a{
margin-left: 0px !important;
}
body.v320 #page_head header nav .main .sub a{
font-size: 12px;
margin-top: 0px;
line-height: 14px;
height: 20px;
}
body.v320.sid #page_head header nav .main .sub a{
padding-left: 13px;
padding-right: 0px;
margin-top: 0px !important;
height: auto;
}
body.v320.sid #page_head header nav .main .sub a br{
display: none;
}
body.v320 .stopka{
display: none;
width: 260px;
margin: auto;
padding-left: 30px;
padding-right: 30px;
}
body.v320.ir .stopka{
display: block;
}
body.v320 #content{
width: 320px;
margin: auto !important;
padding: 0px !important;
}
body.v320 #main_page_slider .slides_container div{
width: 320px;
height: 267px;
}
body.v320.sid #main_page_slider .slides_container div, body.v320.mim #main_page_slider .slides_container div{
height: 300px;
}
body.v320 #main_page_slider .slides_container div img{
width: 320px;
}
body.v320 #main_page_slider .slides_container{
height: 300px;
width: 320px;
}
body.v320.mim #main_page_slider .slides_container, body.v320.sid #main_page_slider .slides_container{
height: 300px;
}
body.v320 #main_page_slider .navigation{
display:none;
}
body.v320 footer.page{
width: 260px;
padding-left: 30px;
padding-right: 30px;
}
body.v320 footer.page nav .header{
font-size: 12px;
}
body.v320 #content section#basic_contact{
width: 260px;
padding-left: 30px;
padding-right: 30px;
background: url(//static3.bzwbk.pl/asset/b/a/s/basic-contact-shadow-v320_25658.png) no-repeat top left;
}
#content section#basic_contact .phone.v320{
display: none;
}
#content section#basic_contact .map.v320{
display: none;
}
body.v320 #content section#basic_contact .map.v1024{
display: none;
}
body.v320 #content section#basic_contact .phone.v1024{
display: none;
}
body.v320 #content section#basic_contact .phone.v320{
display: inline-block;
}
body.v320 #content section#basic_contact .map.v320{
display: inline-block;
}
body.rabaty section#page_head div.wrapper{
display: none;
}

body.v320 footer.page .about_bank, body.v320 footer.page .about_site, body.v320 footer.page .about_wrapper {
float: left;
width: 115px;
margin-right: 25px;
}
body.ir.v320 footer.page .about_site{
margin-right: 0px;
}
body.v320 footer.page .about_wrapper{
margin-right: 0px;
}
body.v320.ir footer.page .about_wrapper{
padding-top: 20px;
clear:both;
float: none;
}
body.v320 footer.page .about_wrapper.last{
width: 260px;
}
body.v320 footer.page .about_wrapper.last ul.about_standards{
width: 115px;
margin-right:  25px;
float: left;
}
body.v320 footer.page .about_wrapper.last ul.about_others{
width: 115px;
float: left;
margin-top: 20px;
}
body.v320 footer.page nav.footer_links{
border-bottom: 1px solid #dde0e3;
margin-bottom: 15px;
padding-bottom: 15px;
}
body.v320.ir footer.page nav.footer_links{
border: none;
padding-bottom: 0px;
margin-bottom: 0px;
}

body.v320 footer.page .about_wrapper.last ul.about_others span.bp,body.v320 footer.page .about_wrapper.last ul.about_others span.fb, body.v320 footer.page .about_wrapper.last ul.about_others span.nk,body.v320 footer.page .about_wrapper.last ul.about_others span.nk, body.v320 footer.page .about_wrapper.last ul.about_others span.yt{
display: none;
}
body.v320 #content aside.main.box .infolina{
display: none;
}
body.v320 #content section#basic_contact a.map{
width: 75px;
height: 30px;
line-height: 15px;
background-position: left top;
margin-right: 20px;
}
body.v320 #content section#basic_contact span.phone{
width: 60px;
line-height: 15px;
height: 30px;
background-position: left top;

}

body.v1024.bo #page_content ul.order{
width: 664px;
padding-left: 0px;
background: #F4F5F6;
padding-left: 52px;
padding-right: 52px;
}
body.v320.bo #page_content ul.order{
width: 260px;
margin: 0px;
padding-left: 30px;
padding-right: 30px;
background: #F4F5F6;
margin-bottom: 20px;
}
body.v1024.bo #page_content ul.order div.box_kontakt{
width: 664px;
}
body.v320.bo #page_content ul.order div.box_kontakt{
width:260px;
}
body.v1024.bo #page_content ul.order div.box_kontakt #form-contact .element-group{
width: 200px !important;
float: left;
margin-left: 32px !important;
margin-right: 0px !important;
}
body.v320.bo #page_content ul.order div.box_kontakt #form-contact .element-group{
width: 260px;
margin-left: 0px !important;
margin-bottom: 15px;
float: none !important;
display: block;
}
body.v1024.bo #page_content ul.order div.box_kontakt #form-contact .submit-group, body.v320.bo #page_content ul.order div.box_kontakt #form-contact .submit-group{
text-align: right;
}

body.v1024.bo #page_content ul.order div.box_kontakt #form-contact .submit-group input, body.v320.bo #page_content ul.order div.box_kontakt #form-contact .submit-group input{
margin-left: 0px !important;
}
body.v1024.bo #page_content ul.order div.box_kontakt #form-contact .element-group input, body.v1024.bo #page_content ul.order div.box_kontakt #form-contact .element-group select{
width: 199px !important;
}
body.v320.bo #page_content ul.order div.box_kontakt #form-contact .element-group input{
width: 250px !important;
}
body.v320.bo #page_content ul.order div.box_kontakt #form-contact .element-group select{
width: 260px !important;
}
body.v1024.bo #page_content ul.order div.box_kontakt #form-contact .element-group:first-child{
margin-left: 0px !important;
}
body.v1024.bo #page_content ul.order div.box_kontakt div.top{
height: 13px;
}
body.v1024.bo #page_content ul.order div.box_kontakt p b{
font-size: 13px;
color: #313238;
border-bottom: 1px solid #e5e7e9;
padding-bottom: 10px;
margin-bottom: 10px;
display:block;
}

body.v320.bo #page_content ul.order div.box_kontakt p b{
font-size: 13px;
color: #313238;
border-bottom: 1px solid #e5e7e9;
padding-bottom: 10px;
margin-bottom: 10px;
display:block;
}
body.v1024 #page_head{
height: 425px;
}
body.v1024.rabaty #page_head{
height: 347px;
}
body.v1024.rabaty section#page_content div.search a.logo{
display: none;
}
body.v1024.rabaty section#page_content div.search{
padding-left: 0px;
}
body.v1024.rabaty section#page_content div.search form{
width: 670px;
margin: auto;
}
body.v1024.rabaty section#page_content div.search form fieldset:nth-child(2){
margin-right: 0px;
}
body.v1024.rabaty #page_content div#sub-page div.left_col.v1366, body.v320.rabaty #page_content div#sub-page div.left_col.v1366{
display: none;
}
body.v1366.rabaty #page_content div#sub-page div.left_col.v320.v1024{
display: none;
}
body.v1024.rabaty #page_content #sub-page .content{
float: none;
margin: auto !important;
width: 668px !important;
}
body.v1024.rabaty #page_content #sub-page .content nav{
margin-bottom: 20px;
}
body.v1024.rabaty #page_content div#sub-page div.left_col ul.links{
width: 668px;
padding-left: 50px;
padding-right: 50px;
border-top: none;
border-bottom: none;
}
body.v1024.rabaty #page_content div#sub-page div.left_col ul.links li{
float: left;
width: 178px;
margin-right: 30px;
margin-bottom: 10px;
display: block;
background: url(//static3.bzwbk.pl/asset/g/r/e/green_arrow_25706.png) no-repeat 0px 1px;
padding-left: 20px;
}
body.v1024.rabaty #page_content div#sub-page div.left_col ul.links li:nth-child(3n+0){
margin-right: 0px;
}
body.v1024.rabaty #page_content div#sub-page div.left_col ul.links li.clear{
clear: both;
float: none;
width: auto;
display: block;
}
body.v1024.rabaty #page_content #sub-page .right-menu{
background: none;
}
body.v1024.rabaty #page_content #sub-page .right-menu .links{

}
body.v1024.rabaty #page_content #sub-page .right-menu .links h3{
text-align: left;
}
body.v1024.rabaty #page_content #sub-page .right-menu .links div.item.promo{
float: left;
margin-right: 30px;
}
body.v320.td a.banner{
display: none;
}
body.v320.td div.order{
display: none;
}
body.v1024.td a.banner{
display: block;
margin: auto;
width: 660px;
}
body.v320.td div.links div.banery, body.v1024.td div.links div.banery{
display: none;
}
body.v320.td .right-menu.v1366, body.v1024.td .right-menu.v1366{
display: none;
}
body.td .right-menu.v1024{
display: none;
}
body.td.v1024 .right-menu.v1024, body.td.v320 .right-menu.v320{
display: block;
min-height: auto !important;
}
body.td.v1024 #page_head{
height: 150px;
}
body.td.v320 #page_head{
height: 301px;
}
body.v1024 .other_sites_section {
width: 748px;
margin-left: -374px !important;
top: 120px;
}
body.v320 .other_sites_section{
margin-left: -150px !important;
}
body.v1024 .other_sites_section .last{
margin-right: 20px;
}
body.v320  .other_sites_section{
width: 300px;
}
body.v320 .other_sites_section .product{
margin-right: 0px;
margin: auto;
}
body.v1024 .other_sites_section div.clear, body.v320 .other_sites_section div.clear{
display: none;
}
body.v1024 .other_sites_section div.clear:last-child, body.v320 .other_sites_section div.clear:last-child{
display: block !important;
}
body.td .right-menu.v1024.v320 .newsletter_form{
padding-top: 10px;
}

body.v320.rabaty #page_head header .logo img {
width: 320px;
}
body.v320.rabaty section#page_content div.search{
padding-left: 0px;
}
body.v320.rabaty section#page_content div.search a.logo{
display: block;
position: static;
margin: auto !important;
width: 107px;
margin-top: 10px;
margin-bottom: 10px;
}
body.v320.rabaty section#page_content div.search form fieldset{
float: none;
width: 300px;
margin: auto;
}
body.v320.rabaty section#page_content div.search form fieldset div.select span{
width: 115px;
height: 20px;
overflow: hidden;
}
body.v320.rabaty section#page_content div.search form fieldset div.input input{
width: 140px;
}
body.v320.rabaty section#page_content div.search form fieldset.submit input{
float: right;
}
body.v320.rabaty #page_content #sub-page .content{
width: 260px !important;
}
body.v320.rabaty #page_content div#sub-page div.content.glowna div.item{
margin: auto !important;
margin-bottom: 10px;
float: none;
}
body.v320.rabaty .vo-slider{
display: none;
}
body.v320.rabaty #page_head header{
height: 90px;
}
body.v320.rabaty #page_head{
height: 121px;
}
body.v1024.rabaty #page_content div#sub-page div.content.glowna div.item{
margin-right: 40px;
}
body.v1024.rabaty #page_content div#sub-page div.content div.item{
margin-right: 35px;
}
body.v1024.rabaty #page_content #sub-page .vo-slider{
display: none;
}
body.v1024.rabaty #page_content div#sub-page div.left_col h2{
font-weight: bold;
font-size: 16px;
padding-bottom: 10px;
border-bottom: 1px solid #eceeef;
width: 668px;
margin: auto;
margin-bottom: 10px;
}

body.v320.rabaty #page_content #sub-page .content{
margin: auto !important;
margin-bottom: 0px;

}
body.v320.rabaty #page_content div#sub-page div.content div.item{
float: none;
margin-left: auto !important;
margin-right: auto !important;
margin-bottom: 10px;
}
body.v320.rabaty #page_content div#sub-page div.left_col ul.links{
border-bottom: none;
}
body.v320.rabaty #page_content div#sub-page.promo div.content div.text{
width: 240px;
margin: auto;
margin-bottom: 20px;
float: none;
}
body.v320.rabaty #page_content #sub-page .right-menu, body.v320.rabaty #page_content #sub-page .right-menu div.links{
background: none;
}
body.v320.rabaty #page_content #sub-page .right-menu h3{
font-weight: bold;
font-size: 16px;
padding-bottom: 10px;
border-bottom: 1px solid #eceeef;
margin: auto;
margin-bottom: 10px;
text-align: left;
}

body.v320.rabaty #page_content div#sub-page.promo div.content div.headline{
width: 240px;
}
body.v320.rabaty #page_content div#sub-page.promo div.content h2{
width:auto;
float: none;
}
body.v320.rabaty #page_content div#sub-page.promo div.content div.gallery{
float: none;
width: 260px;
}
body.v320.rabaty #page_content div#sub-page.promo div.content div.logo{
height: auto;
}
body.v320.rabaty #page_content div#sub-page.promo div.content div.logo img{
float: none;
}
body.v320.rabaty #page_content div#sub-page div.left_col h2{
font-weight: bold;
font-size: 16px;
padding-bottom: 10px;
border-bottom: 1px solid #eceeef;
margin-bottom: 10px;
}
body.v320.rabaty #page_content div#sub-page div.left_col{
width: 260px;
padding-left: 30px;
padding-right: 30px;
}
body.v320.rabaty #page_content #sub-page nav.submenu{
padding:0px;
width: auto;
}
body.v1024.rabaty #page_content #sub-page nav.submenu{
width: 668px;
padding-left: 50px;
padding-right: 50px;
margin-left: 0px;
}
body.v1024.rabaty #page_content #sub-page nav.submenu ul li{
display: block;
float: left;
width: 198px;
margin-right: 30px;
padding: 0px;
margin-bottom: 10px;
}
body.v1024.rabaty #page_content #sub-page nav.submenu ul li:nth-child(3n+0){
margin-right: 0px;
}
body.v1024.rabaty #page_content div#sub-page div.left_col.v1024{
float: none;
width: 768px;
}
body.v1024.rabaty section#page_content div.search form fieldset.submit{
float: none;
display: block;
text-align: right;
width: 100%;
height: 84px;
clear: both;
margin-right: 0px;
}
body.v1024.rabaty section#page_content div.search form fieldset.submit input{
float: right;
}
body.v1024.ir #page_head{
height: 347px;
}
body.v1024.ir.subpage #page_head{
height: 150px;
}
body.v1024.ir #page_head header{
height: 150px;
}
.contact_details div.infolinia span.number a{
color: #006233;
}
.contact_details div.infolinia.skype{
display: none;
}
body.v320 .contact_details div.infolinia.skype, body.v1024 .contact_details div.infolinia.skype{
display: block;
background-image: url(//static3.bzwbk.pl/asset/s/k/y/skype-icon3_43456.png);
}
.contact_details .small-number a{
color: #313238;
}
nav .main ul.sub.sid a{
display: block;
}
body.v320 #ask-by-form{
display: none;
}
body.ir #page_head div.banner{
background: url(//static3.bzwbk.pl/asset/m/o/t/motyw_ri_26803.jpg) no-repeat top left;
width: 960px;
height: 197px;
margin: auto;
display:block;
}
body.v1024.ir #page_head div.banner{
background: url(//static3.bzwbk.pl/asset/b/a/n/baner-inwestor-768px_25659.jpg) no-repeat top left;
width: 768px;
}
body.v320.ir #page_head div.banner{
background: url(//static3.bzwbk.pl/asset/b/a/n/baner-inwestor-320px_25657.jpg) no-repeat top left;
width: 320px;
height: 82px;
}

body.v1024.ir .grey_break, body.v320.ir .grey_break{
display: none;
}
body.v1024.bo #page_head{
height: 158px;
}
body.v1024.bo .page_nag{
width: 768px;
}
body.v1024.ir.subpage #page_content #sub-page h1{
width: 668px;
padding-left: 50px;
padding-right: 50px;
}
body.v320.ir.subpage #page_content #sub-page h1{
width: 260px;
padding-left: 30px;
padding-right: 30px;
}
body.v1024.ir.subpage #page_content #sub-page .content_r{
width: 430px;

}
body.v1024.ir.subpage #page_content #sub-page .content_r .content{
width: 430px;
padding: 0px;

}
body.v320.bo .page_nag{
width: 318px;
padding-bottom:20px;
}
body.v1024.bo .page_nag_content{
padding-bottom: 20px;
}
body.v1024.bo .page_nag .naq_with_arrow{
width: 150px;
}
body.v1024.bo .page_nag .box_wm{
width: 380px;
background: none;
height: 263px;
}
body.v320.bo .page_nag .box_wm{
width: 318px;
background: none;
height: 263px;
float: none !important;
margin-bottom: 5px;
display: block;
}
body.v1024.bo .page_nag .box_wm img{
width: 380px;
}
body.v320.bo .page_nag .box_wm img{
width: 318px;
display: block;
}
body.v1024.bo .page_nag .box_nag img, body.v320.bo .page_nag .box_nag img{
width: auto !important;
}
body.v320.bo .page_nag .box_nag{
height: 120px !important;

}
body.v320.bo .page_nag .box_nag br{
display: none;
}
body.v1024.bo .page_nag .box_vip{
width: 380px;
background:none;
height: 263px;
}
body.v320.bo .page_nag .box_vip{
width: 318px;
background:none;
height: 263px;
float: none !important;
display: block;
}
body.v1024.bo .page_nag .box_vip img{
width: 380px;
}
body.v320.bo .page_nag .box_vip img{
width: 318px;
display: block;
}
body.v1024.payback #page_head{
height: 150px;
}
body.v1024.payback #payback-baner{
margin-left: 50px;
}
body.v320.payback #payback-baner{
width: 320px;
margin: 0px;
height: auto;
margin-bottom: 20px;
}
body.v1024.payback #page_content #sub-page h1{
margin-left: 50px;
}
body.v1024.payback #page_content #sub-page .right-menu{

}
body.v1024 #page_head .page_header_wrapper{
width: 768px;
padding: 0px;
}
body.v1024 .page{
width: 768px;
}
body.v1024 #content{
width: 768px;
margin: auto;
padding-bottom:0px;
margin-bottom: 20px;
}
body.v1024 .social_bzwbk_wrapper{
width: 664px;
margin: auto;
background: none;
padding-top: 24px;
padding-bottom: 24px;
}
body.v1024 .social_bzwbk{
width: 664px;
height: 16px;
background: #ffffff;
padding-right: 0px;
filter: none;
-ms-filter: none;
}
body.v1024 .social_bzwbk .social{
width: 200px;
}
body.v1024 .social_bzwbk .social a.button, body.v320 .social_bzwbk .social a.button{
border: none;
height: 16px;
line-height: 16px;
margin-top: 0px;
}
body.v1024 #page_content #sub-page .content_all_page{
width: 668px;
padding-left: 50px;
padding-right: 50px;
margin: auto;
}
body.v320 #page_content #sub-page .content_all_page{
width: 260px;
padding-left: 30px;
padding-right: 30px;
margin: auto;
}
body.v320 .social_bzwbk .social a.bp{
color: #313238;
float: left;
font-size: 10px;
padding-top: 3px;
padding-left: 7px;
padding-right: 7px;
padding-bottom: 3px;
background: #e6e7e9;
line-height: 10px;
height: auto;
}
body.v1024 .social_bzwbk .social a.bp{
float: left;
color: #313238;
font-size: 11px;
line-height: 16px;
height: 16px;
display: block;
margin-right: 11px;
}
body.v1024 .social_bzwbk .social a span.fb, body.v320 .social_bzwbk .social a span.fb{
background: url(//static3.bzwbk.pl/asset/f/b/-/fb-icon_25672.png) no-repeat top left;
width: 17px;
height: 16px;
}
body.v1024 .social_bzwbk .social a span.bp, body.v320 .social_bzwbk .social a span.bp{
background: url(//static3.bzwbk.pl/asset/b/p/-/bp-icon_25662.png) no-repeat top left;
width: 71px;
height: 16px;
}

body.v1024 .social_bzwbk .social a span.nk, body.v320 .social_bzwbk .social a span.nk{
background: url(//static3.bzwbk.pl/asset/n/k/-/nk-icon_25685.png) no-repeat top left;
width: 17px;
height: 16px;
}
body.v1024 .social_bzwbk .social a span.gp, body.v320 .social_bzwbk .social a span.gp{
background: url(//static3.bzwbk.pl/asset/g/o/o/google-plus-icon_25673.png) no-repeat top left;
width: 17px;
height: 16px;
}
body.v1024 .social_bzwbk .social a span.yt, body.v320 .social_bzwbk .social a span.yt{
background: url(//static3.bzwbk.pl/asset/y/t/-/yt-icon_25690.png) no-repeat top left;
width: 17px;
height: 16px;
}
body.v1024 .social_bzwbk .social a span.blog, body.v320 .social_bzwbk .social a span.blog{
background: url(//static3.bzwbk.pl/asset/b/l/o/blog-icon_25661.png) no-repeat top left;
width: 24px;
height: 16px;
}
body.v1024 .social_bzwbk .social span.header{
display: none;
}
body.v1024 .social_bzwbk .news_wrapper{
padding-top: 0px;
line-height: 16px;
width: 380px;
}
body.v1024 .social_bzwbk .news_wrapper a{
color: #006233 !important;
font-weight: normal !important;
line-height: 16px;
font-size: 11px !important;
}
body.v1024 .social_bzwbk span.aktualnosci{
color: #313238;
font-size: 11px;
line-height: 16px;
font-weight: normal;
text-transform: none;
padding: 0px;
}
body.v1024 footer.page{
width: 664px;
padding-left: 52px;
padding-right: 52px;

}
body.v1024 #content section.recomended.main{
float: none;
padding-left: 52px;
padding-right: 52px;
width: 664px;
margin: 0px;
margin-bottom: 30px;
}
body.v1024 #content aside.main{
float: none;
width: 664px;
background-image: none;
margin: 0px;
padding-left: 52px;
padding-right: 52px;
padding-top: 12px;
padding-bottom: 22px;
}
body.v1024 .recomended .product{
margin-right: 35px;
}
body.v1024 .recomended .product.last{
margin-right: 0px;
}
body.v1024 #content aside.main header h2{
padding-bottom: 10px;
}
body.v320 #content aside.main header h2{
padding-bottom: 10px;
}
body.v320 #content section.recomended{
display: block;
float: none;
width: 260px;
padding-left: 30px;
padding-right: 30px;
margin: 0px;
}
body.v320 li.mini_searcher{
display: none !important;
}
body.v320 #content section.recomended h2{
padding-bottom: 10px;
font-size: 16px;
}
body.v320 #content section.recomended article.product a{
margin-bottom: 3px;
}
body.v320 #content section.recomended article.product a h3 b{
font-size: 16px;
font-weight: normal;
}
body.v320.bo #content section.recomended article.product a h3 b{
font-size: 14px;
font-weight: bold;
}
body.v320 #content section.recomended article.product a.more{
display: none;
}
body.v320 #content section.recomended article.product{
float: none;
height: auto;
width: auto;
margin-right: 0px;
}

body.v320 #content section.recomended article.product img{
display: none;
}
body.v320 #content section.recomended .no_image{
display: none;
}
body.v320 #content section.recomended .box{
height: auto;
}
body.v320 #content aside.main{
width: 260px;
padding-top: 12px;
margin-bottom: 20px;
float: none;
margin-right: 0px;
padding-bottom: 15px;
padding-left: 30px;
padding-right: 30px;
background: url(//static3.bzwbk.pl/asset/d/i/v/div-usefull-shadow_25671.png) top center no-repeat #F7F8F9;
}
body.v320 #content aside.main header{
margin-left: 0px;
}
body.v320 #content aside.main nav.side_links{
margin: 0px;
}
body.v320 #content aside.main nav.side_links a{
font-size: 12px;
}
body.v320 #content aside.main nav.side_links li{
background-position: 0px 4px;
}
body.v320 footer.page .itoys.v1024{
display:none;
}
body.v320 footer.page .itoys.v320{
float: none;
margin-right: 0px;
width: 260px;
margin-bottom: 20px;
}
body.v320 footer.page .itoys.v320 .ios,
body.v320 footer.page .itoys.v320 .symbian,
body.v320 footer.page .itoys.v320 .windows-phone,
body.v320 footer.page .itoys.v320 .blackberry,
body.v320 footer.page .itoys.v320 .android{
display: none;
}
body.v320 footer.page .itoys.v320 a img{
display: block !important;
float: none !important;
width: auto !important;
}
body.v320.ios footer.page .itoys.v320 .ios{
display: block;
}
body.v320.symbian footer.page .itoys.v320 .symbian{
display: block;
}
body.v320.windows-phone footer.page .itoys.v320 .windows-phone{
display: block;
}
body.v320.blackberry footer.page .itoys.v320 .blackberry{
display: block;
}
body.v320.android footer.page .itoys.v320 .android{
display: block;
}
body.v320.ios footer.page .itoys.v320 .pc,
body.v320.symbian footer.page .itoys.v320 .pc,
body.v320.windows-phone footer.page .itoys.v320 .pc,
body.v320.blackberry footer.page .itoys.v320 .pc,
body.v320.android footer.page .itoys.v320 .pc{
display: none;
}

body.v1024 .order_details_box{
width: 670px;
padding: 30px 40px;
}
body.v320 .order_details_box{
width: 260px;
padding: 30px 20px;
}
body.v1024 .order_details_box div.col{
width: 198px;
float: left;
margin-right: 35px;
}
body.v320 .order_details_box div.col{
width: 260px;
float: none;
margin-right: 0px;
border-bottom: 1px solid #7d7d81;
margin-bottom: 15px;
}
body.v320.rabaty section#page_content div.search form fieldset ul li label{
width: 120px;
}
body.v320.rabaty section#page_content div.search form fieldset div.select ul{
width: 159px;
z-index: 100;
}
body.v1024 .order_details_box div.col.last{
margin-right: 0px;
}
body.v320 .order_details_box div.col.last{
border-bottom: none;
}
body.v1024 .order_details_box div.hr, body.v320 .order_details_box div.hr{
display: none;
}
body.v1024 .order_details_box div.clear, body.v320 .order_details_box div.clear{
clear: none;
}
body.v1024 .order_details_box div.col div.clear, body.v320 .order_details_box div.col div.clear{
clear: both;
}
body.v1024 .order_details_box p.header, body.v320 .order_details_box p.header{
color: #313238;
font-weight: bold;
font-size: 16px;
padding-bottom: 8px;
margin-bottom: 10px;
border-bottom: 1px solid #ECEEEF;
margin-left: 0px;
}
body.v1024 .order_details_box div.col p.header, body.v320 .order_details_box div.col p.header{
font-size: 16px;
margin-bottom: 15px;
font-weight: normal;
border-bottom: none;
padding-bottom: 0px;
color: #006233;
}
body.v1024 .order_details_box .product, body.v320 .order_details_box .product{
padding-top:10px;
padding-bottom: 15px;
margin-top: 0px;
margin-bottom: 0px;
border-top: 1px solid #ECEEEF;
float: none;
margin-left: 0px;
}
body.v320 .order_details_box .product{
width: 260px;
}
body.v1024 .order_details_box .product a, body.v320 .order_details_box .product a {
background: url(//static3.bzwbk.pl/asset/r/a/r/rarrow_25738.png) no-repeat right 3px;
padding-right: 12px;
}
body.v1024 .order_details_box .product a b, body.v320 .order_details_box .product a b{
font-size: 16px;
font-weight: normal;
}
body.v1024 .order_details_box .product a.button, body.v320 .order_details_box .product a.button{
display: none;
}
body.v1024 .order_details_box .product img, body.v320 .order_details_box .product img{
display: none;
}
body.v1024 footer.page .itoys.v320{
display: none;
}
body.v320 footer.page .itoys.v320 a{
font-size: 12px;
}
body.v320 footer.page .itoys.v320 img{
float: left;
width: 65px;
}

body.v320 footer.page .itoys.v320 ul{
float: right;
width: 180px;
display: block;
margin-top: 25px;
}

body.v1024 #content aside.main nav{
margin: 0px;
}
body.v1024 #content aside.main nav ul li{
display: block;
width: 182px;
float: left;
margin-right: 35px;
padding-left: 16px;
background-position: 0px 4px;
}
body.v1024 #page_content{
padding-bottom: 10px;
}
body.v1024 #content aside.main nav ul li a{
font-size: 12px;
}
body.v1024 #content aside.main header{
margin-left: 0px;
}
body.v1024 #content aside.main nav ul li:nth-child(3n+3){
margin-right: 0px;
}

body.v1024 #content aside.main .infolina{
display: none;
}
body.v1024 .contact_details{
width: 748px;
}

body.v1024 div.stopka{
width: 664px;
padding-left: 0px;
}
body.v1024 .page.copy{
width: 664px;
padding-left: 0px;
}
body.v1024 #main_page_slider .slides_container div{
width: 768px;
height: 267px;
}
body.v1024 #main_page_slider .slides_container div img{
width: 768px;
}
body.v1024 #main_page_slider .slides_container{
height: 267px;
width: 768px;
}
body.v1024 #main_page_slider .navigation{
top: 250px;
left: 52px;
}
body.v1024 #page_content #sub-page .content div.tabs ul li a{
padding: 6px 3px 0px;
font-size: 12px;
}
body.v320 #page_content #sub-page .content #tab_oplaty_i_prowizje #wyniki .details, body.v320 #page_content #sub-page .content #tab_oprocentowanie #wyniki .details, body.v320 #page_content #sub-page .content #tab_oprocentowanie #wyniki p, body.v320 #page_content #sub-page .content #tab_oplaty_i_prowizje #wyniki p{
display:none !important;
}

body.v320 #page_content #sub-page .content #tab_oplaty_i_prowizje .list-box.v320, body.v320 #page_content #sub-page .content #tab_oprocentowanie .list-box.v320, body.v320 #page_content #sub-page .content .list-box.v320{
display:block !important;
}

#page_content #sub-page .content .oprocentowanie_dla_ciebie li{
height: auto;
}

#main_page_slider .navigation a{
background: #dbdbdb;
}
#main_page_slider .navigation a.prev span{
background: url(//static3.bzwbk.pl/asset/p/r/e/prev-arrow_25688.png) no-repeat top left;
}
#main_page_slider .navigation a.next span{
background: url(//static3.bzwbk.pl/asset/n/e/x/next-arrow_25682.png) no-repeat top left;
}
#main_page_slider .navigation li.current a{
background: #a4a4a0;
}
body.v1024 footer.page .about_bank{
width: 234px;
}
body.v1024.ir footer.page .about_bank{
width: 198px;
margin-right: 34px;
}
body.v1024.ir footer.page .about_site{
width: 198px;
margin-right: 34px;
}
body.v1024 footer.page div.about_wrapper{
width: 198px;

}
body.v1024.ir footer.page div.about_wrapper{
width: 184px;

}

body.v1024 footer.page div.about_wrapper:nth-last-child(2){
width: 190px;
}
body.v1024 footer.page .itoys{
width: 234px;
}
body.v1024 footer.page .itoys p.header br{
display: none;
}
body.v1024 footer.page .itoys img{
float: left;
margin-right: 5px;
}
body.v1024 footer.page .itoys ul{
margin-top: 15px;
}
body.v1024 footer.page nav{
float: none;
border-bottom: 1px solid #E5E7E9;
display: block;
width: auto;
padding-bottom: 20px;
margin-bottom: 10px;
}
body.v1024.ir footer.page nav{
border-bottom: none;
padding-bottom: 0px;
}
body.v1024 nav .main ul.sub{
width: 768px;
height: 33px;
}
body.v1024 nav .main ul.sub li{
width: auto;
}
body.v1024 nav .main ul.sub li.first a{
padding-left: 13px;
}
body.v1024 nav .main ul.sub a{
font-size: 12px;
line-height: 28px;
margin-top: 5px;
padding: 0px 8px;
}
body.v1024.sid nav .main ul.sub a{
line-height: 13px;
}
body.v1024.sid nav .main ul.sub a#faktoring{
margin-top:10px !important;
}
body.v1024.sid nav .main ul.sub a#leasing{
margin-top:10px !important;
}
body.v1024 nav .main li{
height: 33px;
}
body.v1024 nav .main li.first{
width: 107px;
}
body.v1024 nav .main li.third{
width: 134px;
}
body.v1024 nav .main li.fourth{
width: 103px;
}
body.v1024 nav .main li.fifth{
width: 90px;
}
body.v1024 nav .main li a.tab{
font-size: 12px;
}
body.v1024.ir nav .main li a.tab{
line-height: 32px;
}
nav .main ul.sub li.promocje{
margin-left: 0px;
height: 37px;
width: auto;
}
nav .main ul.sub li.promocje a{
font-weight:bold;
}
body.v1024 nav .main {
width: 758px;
}
#page_head header .scontact, #page_head header .ssignin, #page_head header .sorder {
background: url("//static3.bzwbk.pl/asset/s/p/r/sprite_25752.png") no-repeat scroll 0 0 transparent;
display: inline-block;
height: 12px;
position: absolute;
right: 7px;
top: 5px;
width: 11px;
z-index: 1;
}
#page_head header .signin{
width: 92px;
}
#page_head header .order{
width: 163px;
}
body.v1024 #page_head header .scontact,body.v1024 #page_head header .ssignin,body.v1024 #page_head header .sorder{
top: 3px;
}
body.v1024 #page_content #sub-page h2, body.v320 #page_content #sub-page h2{
width: auto !important;
}
body.v320 #page_head header .ssignin{
background: url("//static3.bzwbk.pl/asset/s/p/r/sprite_25752.png") no-repeat scroll 0 0 transparent;
display: inline-block;
height: 12px;
position: absolute;
right: 7px;
top: 3px;
width: 11px;
z-index: 1;

}
body.v320 #page_head header .scontact, body.v320 #page_head header .sorder{
display: none;
}

#page_head header .ssignin {
background: url("//static3.bzwbk.pl/asset/s/p/r/sprite_25752.png") no-repeat scroll -33px 0 transparent;
width: 10px;
}
#page_head header .sorder {
background: url("//static3.bzwbk.pl/asset/s/p/r/sprite_25752.png") no-repeat scroll -11px 0 transparent;
}
#page_head header .order, #page_head header .signin, #page_head header .contact{
-moz-box-shadow:  none;
-webkit-box-shadow:  none;
box-shadow: none;
padding:0px;
padding-left: 10px;

}
body.v1024 #page_head header .order, body.v1024 #page_head header .signin, body.v1024 #page_head header .contact{
font-weight: normal;
font-size: 12px;
height: 20px;
line-height: 19px;
padding: 0 0 0 10px;
}
body.v1024 #page_head header .order{
width: 144px;
}
body.v320 #page_head header .order{
background: none;
filter: none;
-ms-filter: none;
color: #313238;
font-weight: normal;
width: auto;
-moz-box-shadow:  none;
-webkit-box-shadow:  none;
box-shadow: none;
padding: 0px;
font-size: 12px;
margin-left: 13px;
display: none;
}

body.v1024 #page_head header .signin{
width: 84px;
margin-right: 10px;
}


body.v320 #page_head header .signin{
font-weight: normal;
width: 84px;
font-size: 12px;
height: 20px;
line-height: 19px;
-moz-box-shadow:  none;
-webkit-box-shadow:  none;
box-shadow: none;
padding: 0 0 0 10px;
margin-right: 20px;
margin-left: 13px;
margin-top: 11px;
}

body.v320 #page_head header .ssignin {
background: url("//static3.bzwbk.pl/asset/s/p/r/sprite_25752.png") no-repeat scroll -33px 0 transparent;
width: 10px;

}
body.v320 section.social_bzwbk span.aktualnosci{
display: none;
}
body.v320 section.social_bzwbk .news_wrapper a{
color: #006233 !important;
font-weight: normal !important;
font-size: 12px !important;
display:block;
width: 300px !important;
}
body.v320 .social_bzwbk_wrapper .social_bzwbk{
background: #ffffff;
filter: none;
-ms-filter: none;
width: 260px;
height: auto;
padding-left: 30px;
padding-right: 30px;
}
body.v320 .social_bzwbk_wrapper .social_bzwbk .social{
background: #f2f2f4;
float: none;
width: 198px;
padding-left: 31px;
padding-right: 31px;
padding-top: 13px;
padding-bottom: 11px;
}
body.v320 section.social_bzwbk section.news_wrapper{
float: none;
width: 260px;
margin: 0px;
overflow: hidden;
height: 12px;
margin-bottom: 10px;
}
body.v320 .social_bzwbk_wrapper.v320{
display: block;
background: #ffffff;
}
body.v320 .social_bzwbk_wrapper.v1024{
display: none;
}
body.v1024 .social_bzwbk_wrapper.v1024{
display: block;
}
body.v1024 .social_bzwbk_wrapper.v320{
display: none;
}

body.v1024 #page_head header .contact{
background: none;
width: 68px;
}
#page_head header .contact{
background: none;
width: 73px;
}
body.v320 #page_head header .contact{
background: none;
filter: none;
-ms-filter: none;
color: #313238;
font-weight: normal;
width: auto;
-moz-box-shadow:  none;
-webkit-box-shadow:  none;
box-shadow: none;
padding: 0px;
font-size: 12px;
}
body.v320 .signin_box{
width: 300px;
}
body.v320 .signin_box article{
margin-left: auto;
margin-right: auto;
border-bottom: 1px solid #eceeef;
margin-bottom: 10px;
width: 200px;
height: 85px;
}
body.v320 .signin_box article.hide-mobile{
display: none;
}
.signin_box article.show-mobile{
display: none;
}
body.v320 .signin_box article.show-mobile{
display: block !important;
}
body.v320 .signin_box article div.wrapper{
margin: 0px;
}
body.v1024 .recomended h2{
padding-bottom: 9px;
}
body.v1024 .section_menu{
width: 756px;
margin-left: -379px !important;
}
body.v1024 .section_menu .section_info{
display: none;
}
body.v320 .contact_details div.infolinia small{
display: inline;
}
body.english-version #page_head header .signin{
width: 125px;
}
body.espanol #page_head header .signin{
width: 145px;
}
body.v320.english-version #page_head header .signin{
width: 120px;
}
body.v320.english-version #page_head header, body.v320.espanol #page_head header{
height: 140px;
}
body.v320.english-version #page_content #sub-page h2, body.v320.espanol #page_content #sub-page h2 {
width: 260px !important;
margin: auto;
}
body.v1024.english-version #page_content #sub-page h2, body.v1024.espanol #page_content #sub-page h2 {
width: 668px !important;
margin: auto;
}
body.v1024.english-version #page_head header a.lng_pl {
right: -355px !important;
}
body.v1024.english-version #page_head header a.lng_esp{
right: -130px !important;
}
body.v1024.english-version #page_head header span.lng_eng{
right: 100px !important;
}
body.v320.english-version #page_head header span.lng_eng{
right: 65px !important;
font-size: 11px !important;
}

body.v320.espanol #page_head header span.lng_esp{
font-size: 11px !important;
right: -70px !important;
top: 16px;
}
body.v320.english-version #page_head header a.lng_esp{
right: -50px !important;
top: 16px !important;
}
body.v1024.english-version #page_content #sub-page .content .right_content, body.v1024.espanol #page_content #sub-page .content .right_content{
width: 300px !important;
}
body.v320.english-version #page_content #sub-page .content .left_content, body.v320.espanol #page_content #sub-page .content .left_content{
float: none !important;
margin: auto !important;
}
body.english-version #page_head header a.lng_esp{
right: -136px !important;
}
body.english-version #page_head header a.lng_pl{
right: -358px !important;
}
body.english-version #page_head header span.lng_eng{
right: 90px !important;
}
body.v320.english-version #page_content #sub-page .content .right_content, body.v320.espanol #page_content #sub-page .content .right_content{
width: 260px !important;
padding-left: 0px !important;
float: none;
}
body.v320.espanol #page_head header a.lng_pl{
right: 31px !important;
top: -8px !important;
}
body.v320.english-version #page_head header a.lng_pl{
right: 24px !important;
top: -8px !important;
}
body.v320.english-version #page_head header .lng, body.v320.espanol #page_head header .lng{
font-size: 11px !important;;
}
body.v320.english-version #page_head, body.v320.espanol #page_head{
height: 140px;
}
body.v1024.english-version #page_head, body.v1024.espanol #page_head{
height: 70px;
}
body.v1024 .contact_details article.hide-mobile{
display: none;
}
body.v320 .contact_details article.hide-mobile{
display: none;
}
.contact_details .list li{
font-size: 11px;
border-top: none;
padding-top:0px;
padding-bottom: 15px;
}
.contact_details .list li.header{
font-size: 14px;
}
.contact_details .list li.disclimer{
color: #999999;
}
.contact_details .side_links li{
border-top: none;
padding-left: 20px;
padding-top: 0px;
background-position: 0px 3px;
}
.contact_details .side_links li a{
font-size: 12px;
}
.contact_details .side_links li.social{
background: none;
padding: 0px;
border-top: 1px solid #ECEEEF;
padding-top: 10px;
}
.contact_details .side_links li.social span{
color: #313238;
}
.contact_details div.infolinia{
background: url(//static3.bzwbk.pl/asset/p/h/o/phone-icon_25687.png) no-repeat top left;
padding-left: 32px;
padding-top: 3px;
border-bottom: 1px solid #ECEEEF;
margin-bottom: 13px;
padding-bottom: 18px;
}
.contact_details a span, .contact_details a span.nk, .contact_details a span.fb, .contact_details a span.yt, .contact_details a span.gp, .contact_details a span.blog, .contact_details a span.bankp{
margin: 0px;
margin-right: 3px;
margin-bottom: 3px;
}
.contact_details div.infolinia span.number{
background: none;
padding: 0px;
display: block;
margin-bottom: 9px;
line-height: 14px;
font-weight: normal;
font-size: 14px;
margin-top:0px;
}
.contact_details .side_links li.social a{
margin-bottom: 5px;
}

.contact_details .small-number{
font-weight: normal;
color: #313238;
}
.contact_details div.infolinia span.number b{
font-size: 16px;
}
.contact_details div.infolinia small{
display: block;
margin-bottom: 0px;
font-size: 11px;
color: #999999;
line-height: 11px;
}
.contact_details article p.header{
font-size: 16px;
padding-bottom: 8px;
margin-bottom: 18px !important;
border-bottom: 1px solid #ECEEEF;
}
.signin_box article.kb .button_signin {
color: #fff  !important;;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.3, #009433), color-stop(1, #006233))  !important;;
background-image: -moz-linear-gradient(center top, #009433 30%, #006233 100%)  !important;;
background-image: -o-linear-gradient(#009433, #006233)  !important;;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #009433, endColorstr = #006233)  !important;;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#009433, endColorstr=#006233)"  !important;;
background-color: #ff4700  !important;;
width: 71px;
}
body.v1366 .signin_box div.left{
width:240px !important;
float: left !important;
margin-right:10px !important;
}

/*body.v1366 .signin_box{
width: 490px !important;
}*/
body.v1366 .signin_box div.right{
width:240px  !important;;
float: right  !important;;
}
body.v320 .signin_box div.left{
display: none  !important;;
}
body.v320 .signin_box div.right{
width: auto  !important;;
float: none  !important;;
}
body.v1024 .signin_box .hide-tablet{
display: none;
}
#content section#basic_contact span.phone{
background: url(//static3.bzwbk.pl/asset/p/h/o/phone-icon_25687.png) no-repeat left center;
color: #006233;
font-size: 14px;
height: 25px;
line-height: 25px;
display: inline-block;
padding-left: 33px;
margin-right: 20px;
float: right;
}
#content section#basic_contact span.phone a{
color: #006233;
}
#page_content #sub-page .right-menu .order li.form span.header{
margin-bottom:10px;
display:block;
height:30px;
line-height:30px;
}
#content section#basic_contact span.phone b{
font-size: 16px;
}
#content section#basic_contact a.map{
background: url(//static3.bzwbk.pl/asset/m/a/p/map-icon_25679.png) no-repeat left center;
color: #006233;
font-size: 14px;
height: 25px;
line-height: 25px;
display: inline-block;
padding-left: 33px;
float: right;
}
#content section#basic_contact{
height: 37px;
padding-top: 11px;
padding-left: 52px;
padding-right: 52px;
width: 664px;
padding-bottom: 15px;
background: url(//static3.bzwbk.pl/asset/b/a/s/basic-contact-shadow_25660.png) center bottom no-repeat;
margin-bottom: 4px;
}
#wyniki table.details td{
background: #ffffff;
}
.mini_searcher {
width: 180px !important;
}
/*body.v320 .v1024, body.v320 .v1366, body.v1024 .v320, body.v1024 .v1366, body.v1366 .v1024, body.v1366 .v320{
display: none;
}*/
nav.page {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
body.v320 #page_head header nav .main::after {
    display: table;
    clear: both;
    content: "";
}
body.v320 #page_head header nav .main li.fifth:last-child {
    border-top: 1px solid #fff;
}
body.v1024 nav .main {
    width: 100%;
}
body.v1024 .page {
    width: 100%;
}
body.v1024 #main_page_slider .slides_container {
    margin: auto;
}
body.v1024 #content aside.main nav ul.fix-for-tablets li {
    width: 50%;
    padding: 4px 0px;
    margin: 0px;
    box-sizing: border-box;
}