/*dawne h2 na rozwijanych warstwach*/
.order_details_box p.header{
color: #006233;
font-size: 21px;
font-weight: normal;
margin-left: 15px;
margin-bottom: 0px;
margin-top:0px;
}
/*dawne h3 na rozwijanych warstwach*/
/*.order_details_box .product a{
color: #313238;
font-size: 16px;
font-weight: normal;
line-height: 150%;
}*/
/*dawne h3 na rozwijanym boksie ze wszystkimi serwisami*/
.other_sites_section .product a{
background: url(//static3.bzwbk.pl/asset/1/2/f/12f5807b361aff8a423af4644d9fb72c.png) no-repeat scroll right 3px transparent;
padding-right:15px;
font-weight: bold;
color: #006233;
}
/*h2 na warstwie kontakt*/
.contact_details article p.header{
color: #313238;
font-size: 18px;
font-weight: bold;
margin-bottom: 15px;
}
.section_menu .page_list p.header {
color: #313238;
font-size: 16px;
font-weight: bold;
margin-top: 11px;
padding-bottom: 5px;
}
.section_menu .page_list h3{
color: #313238;
font-size: 16px;
font-weight: bold;
margin-top: 11px;
padding-bottom: 5px;
}
.section_menu .page_list p.small-header {
color: #313238;
font-size: 12px;
font-weight: bold;
margin-top: 11px;
}
/*h2 na stronie kategorii*/
.products-list .product2 h2, .products-list .product2 h2 a {
color: #313238;
font-size: 20px;
font-weight: normal;
margin: 0px 0px 10px 1px !important;
text-decoration: none;
float: left;
width: 540px !important;
}
/*dawne h3 na stronie produktowej w leadzie obok obrazka*/
.overview p.h3 {
font-weight: normal;
line-height: 18px;
color: #006233;
font-size: 20px;
font-weight: normal;
margin: 5px 0 10px 1px;
text-decoration: none;
}
/*dawne h3 na stronie produktowej w tresci zakladek*/
.formatted-content p.h3 {
font-weight: normal;
line-height: 26px !important;
color: #006233;
font-size: 16px;
font-weight: normal;
margin: 5px 0 10px 1px;
text-decoration: none;
}
/*dawne h3 w prawej kolumnie z linkami*/
#page_content #sub-page .right-menu .links p.h3_linki
{
font-weight: normal;
margin: 5px 0 10px 1px;
text-decoration: none;
color: #333333;
font-size: 14px;
}
/*nowe h2 w leadzie na stronach produktowych*/
.overview h1 {
color: #006233 !important;
font-size: 20px !important;
font-weight: normal !important;
margin: 5px 0 10px 1px !important;
text-decoration: none !important;
line-height: 18px !important;
width: auto !important;
min-height: 18px !important;
}
/*nowe h2 w leadzie na stronach produktowych*/
.overview h2 {
color: #006233 !important;
font-size: 20px !important;
font-weight: normal !important;
margin: 5px 0 10px 1px !important;
text-decoration: none !important;
line-height: 18px !important;
width: auto !important;
min-height: 18px !important;
}
/*h2 po lewej*/
#page_content #sub-page .content .section .name h2 {
font-size: 18px;
line-height: 22px;
color: #006233;
width: auto;
}
/*h2 na stronie kategorii*/
.products-list3 .product h2, .products-list3 .product h2 a
{
color: #313238 !important;
font-size: 20px !important;
font-weight: normal !important;
margin: 0px !important;
text-decoration: none !important;
float: left !important;
width: 260px !important;
min-height: 0px !important;
}
/*h2 na stronie kategorii mim*/
.products-list .product h2, .products-list .product h2 a
{
color: #313238 !important;
font-size: 20px !important;
font-weight: normal !important;
margin: 0px !important;
text-decoration: none !important;
float: none !important;
width: 479px !important;
min-height: 0px !important;
}
nav .main ul.sub h2{
display: inline;
font-weight: normal;
}
#page_content #sub-page h1 {
color: #313238;
font-size: 19px;
font-weight: normal;
margin-bottom: 10px;
min-height: 31px;
width: 940px;
}
.jak_zamowic .left_column span.telefon{
font-size: 16px;
}
.jak_zamowic .left_column span.numer{
font-weight:600;
}
.prepaid_container
{
width:480px;
height: 240px;
}
.prepaid_container_mini
{
width:480px;
height: 130px;
}
.prepaid_container_double
{
width:480px;
height: 440px;
}
.prepaid_card
{
float: left;
margin-right: 15px;
}

.button_order_prepaid
{
top: 30px;
float:left;
}
#page_content #sub-page .content div.tabs ul li a
{
height: 28px;
}
#page_content #sub-page .content_wide
{
width: 760px !important;
}
sup
{
vertical-align: super !important;
font-size: smaller;
}
#content section.recomended
{
min-height: 269px;
}
.ind_main
{
padding: 0px 10px 5px !important;
}
.section_menu .section_info .apla_kredyty {
background-position: right 6px;
}
.section_menu .section_info .apla_oszczednosci {
background-position: 80px 30px;
}
.section_menu .section_info .apla_ubezpieczenia {
background-position: 110px 30px;
}
#page_content #sub-page .right-menu .links .u_linki
{
border-bottom-width: medium;
border-bottom-style: none;
}
.img_spons
{
margin-right: 10px;
margin-bottom: 10px;
float: left;
}
.img_spons_cont
{
margin:10px auto;
}
.spons_title
{
font-size: 18px !important;
}
.sponsoring_szpalta
{
font-size: 13px;
line-height: 13px;
margin-top: 12px;
}
.red
{
color: red;
}
.img_center
{
margin: 0px auto;
text-align: center;
display: block;
}
.promo_td
{
padding-top:0px !important;
}
.newsletter_disc
{
color: #8E8F92;
line-height:15px;
font-size:12px;
margin-bottom: 20px;
}
.newsletter_head
{
color: #006f2c;
font-size: 16px;
font-weight: normal;
}
.newsletter_buttons
{
text-align: center;
width: 330px;
margin-left: auto;
margin-right: auto;
padding-top: 15px;
}