}
#wyniki table {
empty-cells: show;
}
#wyniki .back {
margin-right: 15px;
padding-top: 10px;
}
#wyniki .back a {
background: url("http://static3.bzwbk.pl/asset/a/r/r/arrow_green_left_25815.gif") no-repeat scroll 0 4px transparent;
font-size: 11px;
font-weight: bold;
line-height: 13px;
/*sss*/
padding-left: 10px;
text-decoration: none;
}
#wyniki .name {
color: #006A2A;
font-size: 14px;
line-height: 14px;
padding-top: 5px;
}
#wyniki .empty {
background: none repeat scroll 0 0 #F6F7F7 !important;
border: medium none !important;
}
#wyniki td {
border-bottom: 1px solid #DADCDE;
padding: 5px;
}
#wyniki td.with_dot {
background: url("http://static3.bzwbk.pl/asset/d/o/t/dot_orange_25855.gif") no-repeat scroll 3px 10px transparent;
padding-left: 10px;
}
#wyniki table.details {
empty-cells: show;
margin-bottom: 20px;
}
#wyniki table * {
font-size: 11px;
line-height: 13px;
}
#wyniki .details th {
background: none repeat scroll 0 0 #D8DDDD;
border-right: 1px solid #FFFFFF;
font-size: 11px;
font-weight: bold;
line-height: 13px;
vertical-align: top;
}
* html #wyniki .details th {
height: 24px;
}
#wyniki .details th.title {
background: #3E4548;
color: #FFFFFF;
padding: 10px;
width: 280px;
}
#wyniki .details th.account {
padding: 10px;
width: 120px;
text-align: center;
}

.old {
color: #9a9a9a !important;
}
#wyniki .details .section td {
background-color: #F9FAFA;
font-weight: bold;
}
#wyniki .details .section_zielony td {
background-color: #DDF5D8;
font-weight: bold;
}
#wyniki .details td.right_col {
text-align: center;
font-weight: normal !important;
}
#wyniki .details .section td {
font-weight: bold;
background: transparent;
}
#wyniki .details .subsection td:first-child {
padding-left:20px;
background:transparent;
font-weight:normal;
}
#wyniki .details .subsection2 td:first-child {
padding-left:40px;
background:transparent;
font-weight:normal;
}

#wyniki p{
font-size:11px;
line-height:18px !important;
padding-bottom: 15px;
text-align: justify;
}
#wyniki  p.disclaimer {
    line-height: 14px;
    font-size: 9px;
}
#wyniki sup{
font-size:8px;
vertical-align:super;
}

#wyniki .details .lvl2 {
padding-left: 20px !important;
}
#wyniki2 table {
empty-cells: show;
}
#wyniki2 .back {
margin-right: 15px;
padding-top: 10px;
}
#wyniki2 .back a {
background: url("http://static3.bzwbk.pl/asset/a/r/r/arrow_green_left_25815.gif") no-repeat scroll 0 4px transparent;
font-size: 11px;
font-weight: bold;
line-height: 13px;
padding-left: 10px;
text-decoration: none;
}
#wyniki2 .name {
color: #006A2A;
font-size: 14px;
line-height: 14px;
padding-top: 5px;
}
#wyniki2 .empty {
background: none repeat scroll 0 0 #F6F7F7 !important;
border: medium none !important;
}
#wyniki2 td {
border-bottom: 1px solid #DADCDE;
padding: 5px;
}
#wyniki2 td.with_dot {
background: url("http://static3.bzwbk.pl/asset/d/o/t/dot_orange_25855.gif") no-repeat scroll 3px 10px transparent;
padding-left: 10px;
}
#wyniki2 table.details {
empty-cells: show;
margin-bottom: 20px;
}
#wyniki2 table * {
font-size: 11px;
line-height: 13px;
}
#wyniki2 .details th {
background: none repeat scroll 0 0 #D8DDDD;
font-weight: bold;
text-align: center;
vertical-align: top;
}
* html #wyniki2 .details th {
height: 24px;
}
#wyniki2 .details th.title {
background: #3E4548;
border-right: 1px solid #FFFFFF;
color: #FFFFFF;
font-size: 13px;
padding: 10px;
width: 500px;
}
#wyniki2 .details th.account {
padding: 10px;
width: 120px;
}
#wyniki2 .details tr.level0 td.col1 {
background-color: #EDEFEF;
font-weight: bold;
}
#wyniki2 .details tr.level0 td.col2 {
background-color: #EDEFEF;
}
#wyniki2 .details tr.level1 td.col1 {
background-color: #F9FAFA;
padding-left: 20px;
}
#wyniki2 .details tr.level1 td.col2 {
background-color: #F9FAFA;
}
#wyniki2 .details tr.level2 td.col1 {
padding-left: 40px;
}
#wyniki2 .details tr.level2 td.col2 {
}
#wyniki2 .details tr.level3 td.col1 {
padding-left: 60px;
}
#wyniki2 .details tr.level3 td.col2 {
}