#page_head .page_header_wrapper{
	background: none;
	padding: 0px;
	width: 960px;
}
#page_head header .logo{
	margin-left: 10px;
}
#page_head header .order{
	background: none;
	color: #313238;
}
#page_head header .contact{
    background: none;
    filter: none;
    -ms-filter: none;
}
#page_head header .contact:hover,
#page_head header .order:hover{
	background: transparent;
    filter: none;
    -ms-filter: none;
}
#page_head header .show-menu{
	display: none;
}
.contact_details .social_bzwbk{
    filter: none;
    -ms-filter: none;
}
body.v320 #page_head header .show-menu{
	padding-left: 31px;
	background: url(//static3.bzwbk.pl/asset/m/e/n/menu-ico_55327.png) no-repeat 5px 5px;
	color: #313238;
	font-size: 12px;
	font-weight: normal;
	display: inline-block;
	float: left;
	margin-top: 10px;
	height: 36px;
	line-height: 25px;
	padding-right: 5px;
	position: absolute;
}
body.v320 #page_head header .show-menu.active{
	background-color: #fff;
}
body.v320 #page_head header {
    height: 115px;
}
body.v320.menu-visible #page_head header{
	height: 301px;
}
body.v320 #page_head header nav.page.v320{
	display: none;
}
body.v320.menu-visible #page_head header nav.page.v320{
	display: block;
}
body.v320 #page_head {
    height: 415px;
}
body.v320.menu-visible #page_head{
	height: 601px;
}
nav.page{
	width: 100%;
}
nav .main{
	background: #626367;
}
nav .main li .tab{
	margin-right: 0px;
	background: none;
    padding: 0px 14px;
}
.social_bzwbk{
	background: none;
}
#page_head header{
	background: none;
}
#page_content{
	padding-bottom: 0px;
}
.footer-gray-bg{
	background: #EFF0F2;
}
#content aside.main{
	background: #F7F8F9;
}
.side_links a{
	color: #313238;
}
.side_links li{
	background-image: url(//static3.bzwbk.pl/asset/b/u/l/bullet_55282.png);
}
.infolina{
	color: #313238;
}
.mini_searcher .text{
	background: #626367;
	border: none;
	color: #fff;
}
#content aside.main{
	margin-top: 22px;
}
.mini_searcher .search_btn{
	background: url(//static3.bzwbk.pl/asset/l/u/p/lupa_55315.png) no-repeat scroll center center transparent;
	border: medium none;
	color: #313238;
	display: inline-block;
	font-size: 11px;
	height: 22px;
	margin-left: 4px;
	position: relative;
	top: 10px;
	width: 16px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
nav .main ul.sub {
	width: 100%;
}
nav .main{
	width: 100%;
}
.mini_searcher form {
    margin-top: -5px;
    padding-right: 30px;
}
.mini_searcher .text{
	max-width: 100px;
}
#content{
	margin-bottom: 40px;
}
footer.page .newsletter_form .btn_save{
	background: #ff0000;
	width: 24px;
}
footer.page .newsletter_form .btn_save:hover{
	background: #ff0000;
}
footer.page .newsletter_form .btn_save::after{
	background: url(//static3.bzwbk.pl/asset/r/a/r/rarrow_55281.png) no-repeat center center;
	width: 8px;
	height: 12px;
	top: 5px;
	left: 9px;
}
.section_menu{
	width: 960px;
	/*top: 147px !important;*/
    top: 138px !important;
	margin-left: -480px !important;
	border-top: 1px solid rgb(102, 102, 102);
	/*height: 380px;*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.section_menu_on{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#apla_wrapper{
	display: none;
}
.social_bzwbk .social a span.fb,
body.v320 .social_bzwbk .social a span.fb,
body.v1024 .social_bzwbk .social a span.fb{
    background: url(//static3.bzwbk.pl/asset/f/b/-/fb-icon_55285.png) no-repeat top center;
    height: 22px;
    width: 22px;
    margin: 0px;
}
.social_bzwbk .social a span.insta,
body.v320 .social_bzwbk .social a span.insta,
body.v1024 .social_bzwbk .social a span.insta{
    background: url(//static3.bzwbk.pl/asset/i/n/s/insta_55726.png) no-repeat top center;
    height: 22px;
    width: 22px;
    margin: 0px;
}
.social_bzwbk .social a span.blog,
body.v320 .social_bzwbk .social a span.blog,
body.v1024 .social_bzwbk .social a span.blog{
    background: url(//static3.bzwbk.pl/asset/p/i/o/pioro_55724.png) no-repeat top center;
    height: 22px;
    width: 27px;
    margin: 0px;
}
.social_bzwbk .social a span.bank-pomyslow,
body.v320 .social_bzwbk .social a span.bank-pomyslow,
body.v1024 .social_bzwbk .social a span.bank-pomyslow{
    background: url(//static3.bzwbk.pl/asset/b/p/_/bp_55725.png) no-repeat top center;
    height: 22px;
    width: 22px;
    margin: 0px;
}
.social_bzwbk .social a span.tw,
body.v320 .social_bzwbk .social a span.tw,
body.v1024 .social_bzwbk .social a span.tw{
    background: url(//static3.bzwbk.pl/asset/t/w/i/twitter-icon_55283.png) no-repeat top center;
    height: 22px;
    width: 27px;
    margin: 0px;
}
.social_bzwbk .social a span.in, body.v320 .social_bzwbk .social a span.in, body.v1024 .social_bzwbk .social a span.in {
    background: url("//static3.bzwbk.pl/asset/l/i/n/linkedin_61706.png") no-repeat top center
    height: 24px;
    width: 24px;
    margin: 0px;
}
.social_bzwbk .social a span.gp,
body.v320 .social_bzwbk .social a span.gp,
body.v1024 .social_bzwbk .social a span.gp{
    background: url(//static3.bzwbk.pl/asset/g/p/-/gp-icon_55284.png) no-repeat top center;
    height: 22px;
    width: 22px;
    margin: 0px;
}
.social_bzwbk .social a span.yt,
body.v320 .social_bzwbk .social a span.yt
body.v1024 .social_bzwbk .social a span.yt{
    background: url(//static3.bzwbk.pl/asset/y/t/-/yt-icon_55286.png) no-repeat top center;
    height: 22px;
    width: 31px;
    margin: 0px;
}
body.v320 section.social_bzwbk span.aktualnosci{
	display: block;
	float: none;
	padding-left:0px;
}
body.v320 .social_bzwbk_wrapper{
	background: none;
}
body.v320 .social_bzwbk_wrapper .social_bzwbk .social{
	background: none;
	text-align: center;
}
.social_bzwbk .social a.button{
	border-bottom: none;
	margin-left: 10px;
}
body.v320 .social_bzwbk .social a.button{
	height: 22px;
	float: none;
	display: inline-block;
}
body.v320 .social_bzwbk .social a.button:first-child{
	margin-left:0;
}
.social_bzwbk .social {
    width: 245px;
}
#screen, .screen{
	background: transparent;
}

.other_sites_section{
	margin-left: -480px !important;
	width: 960px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
nav .main li.current .other_sites{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.section_menu .page_list .main_link {
    background: url(//static3.bzwbk.pl/asset/g/r/e/green_arrow_25706.png) no-repeat scroll right 6px transparent;
    color: #313238 !important;
    display: inline-block;
    font-size: 16px !important;
    line-height: 150% !important;
    margin-top: 15px;
    padding: 0px 20px 0px 0px;
}
#content aside.main header h2{
	padding-top:10px;
}
.side_links ul{
	list-style-type: disc;
	list-style-position: outside;
	margin-left: 13px;
}
.side_links li{
	background: none;
	padding-left: 0;
}
nav .main ul.sub a{
	padding: 0px 13px;
}
#content aside.main header h2{
	color: #1f5f2e; 
}
body.sid .section_menu {
    top: 150px !important;
}
nav .main ul.sub.sid a{
  padding: 0 13px;
}
body.v320.sid #page_head header {
    height: 115px;
}
body.v320.sid #page_head {
    height: 415px;
}
body.v320.sid.menu-visible #page_head {
    height: 685px;
}
body.v320.sid.menu-visible #page_head header {
    height: 385px;
}
body.v320.mim #page_head header {
    height: 115px;
}
body.v320.mim #page_head{
	height: 415px; 
}
body.v320.mim.menu-visible #page_head header {
    height: 355px;
}
body.v320.mim.menu-visible #page_head {
    height: 655px;
}
body.v320 .signin_box {
    width: 300px;
    left: 50% !important;
    margin-left: -150px;
    top: 120px !important;
}
#page_head header .logo{
	margin-left:0px; 
}
body.v320 #page_head header a.logo{
  width: auto;
}
.side_links a, .side_links li{
	color:#1F5F2E;    
}

body.v1024 .social_bzwbk .news_wrapper{
	width: 340px;
}
body.v1024 .social_bzwbk .social {
    width: 240px;
}
body.v320 .social_bzwbk_wrapper .social_bzwbk .social{
	width: 280px;
	padding-left:0px;
	padding-right:0px;
}