@charset "utf-8";

html, body {width: 100%; height:100%; margin:0; padding:0; font-size: 13px; line-height:1.4em}
body, div, span, td, th, h1, h2, h3, h4, h5, h6, li, p, textarea {font-family: Arial, Helvetica, sans-serif;}
div,td,th,span,p{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

ul, li {margin:0; padding:0; list-style-type: none;}
textarea {font-size:13px}

input, a:link, a:visited {outline: 0;}
a img {border: 0;}

table {border-collapse: collapse;}
th, td {vertical-align: top; text-align:left;}

.cb{clear:both;}
.clmar{display:block;clear:left;height:4px}
.clmar2{display:block;clear:left;height:8px}
.clmar3{display:block;clear:left;height:12px}
.fl{float:left;}
.fr{float:right;}
.dn {display: none;}
.bold {font-weight: bold !important;}
.input-default {color:#666;}

th.top, td.top {vertical-align:top;}
th.mid, td.mid {vertical-align:middle;}
th.bot, td.bot {vertical-align:bottom;}

a{color:#1e6eb4;}
a:active, a:hover, a.hover {color:#c0003d !important;}

p.psm{margin: 2px 0;}

body {background: #ebeff2;}
#wrap {background:#fff; margin:0 auto; padding: 15px 10px 10px 10px; width:970px; position:relative;overflow:hidden;}

#header {height: 90px; position:relative; z-index: 50000;}
	#logo {float: left; position: relative; margin: 0; padding: 27px 10px 0 0;}
	#logo a {display:block; width:180px; height:56px; font: bold 30px arial; color:#900; text-decoration: none; text-indent: -10000px; overflow: hidden; background: url(/i/i-ie.png);}

	#head-box {float:left;}

#footer {clear:both; margin:30px 0 0 0; font-size:12px; line-height:17px;}
	#footer p {margin: 0 0 6px 0}
	#afisha_uz {color:#f39;}

h1 {clear:left; margin:20px 0 10px 0; font: normal 18px arial; color:#222;}
	.h1-with-buttons, .h1-with-filters {margin:20px 0 12px 0; width:100%;}
			.h1-with-buttons h1, .h1-with-filters h1{float: left; margin: 0 10px 0 0;}
	h1 b {font-weight: normal; color:#c00;}
	h1 b.grey {color:#999;}

h2 {margin:5px 0 4px 0; color:#222; font: normal 18px/20px arial;}
h3 {margin:5px 0; font: bold 13px/15px arial;}

/* head */
#menu-head {color:#ccc; margin:0; font-size:13px; line-height:26px;}
	#menu-head li {float:left; margin:4px 0 4px 0;}
	#menu-head a { float:left; color:#222; font-size: 13px; padding:0 0 0 12px; margin:0 6px;
		border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius:3px; }
	a#link-add {color:#fff; font: normal 14px arial; background:#c0003d; margin:0 4px 0 0; padding:5px 9px 5px 9px; border:1px solid #e50000; text-decoration:none;
	 box-shadow: inset 0 0 5px 0 rgba(255,255,255,0.90); -moz-box-shadow: inset 0px 0px 5px 0 rgba(255,255,255,0.90); -webkit-box-shadow: inset 0 0 5px 0 rgba(255,255,255,0.90);  -khtml-box-shadow: inset 0 0 5px 0 rgba(255,255,255,0.90); }
	a:hover#link-add{background-color:#ac0238;box-shadow: 0 1px 3px 0 rgba(0,0,0,0.30); -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.30); -moz-box-shadow: 0 0 4px 0 rgba(0,0,0,0.50); -khtml-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.30); }
		a#link-add:hover, a#link-add:active {color:#ffeb9b !important;}
		a#link-my {font-weight:bold; margin-right: 0; padding:0 20px 0 7px; line-height: 26px; border: 1px solid #e1e1e1;background: #ffffff url(/i/i-ie.png) right -172px no-repeat;}
		a#link-my:hover, #menu-head li.clicked a#link-my {border: 1px solid #ccc; background-color: #f0f0f0;}
		.username{min-width:68px !important; }
		#menu-head li.clicked a#link-my {border-bottom-left-radius: 0px; -moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 0px; -khtml-border-bottom-left-radius: 0px;}

	#menu-head .link-my {position: relative; min-width:98px;}
		#menu-head .link-my .del{float:left; position: absolute; right:0;}
		#menu-head .link-my:hover .del, #menu-head li.hover .del, #menu-head .link-my.clicked .del{display:none}
		#menu-head .link-my ul{top:25px; left:6px; float:left; width:90px; padding: 0 0 3px 0; position: absolute; border: 1px solid #ccc; border-top: none; background: #f0f0f0;
			border-radius: 0 0 6px 6px; -moz-border-radius: 0 0 6px 6px; -webkit-border-radius: 0 0 6px 6px; -khtml-border-radius: 0 0 6px 6px; display:none;}
		#menu-head .link-my li a{background:none; line-height: normal; padding: 0;}


	a#link-bookmark {color:#999;}

	/* BTN KONKURS */
	a#link-konkurs {color:#fff; font: normal 14px arial; background:#ea6c00; margin:0 4px 0 0; padding:5px 9px 5px 9px; border:1px solid #ea6c00; text-decoration:none;}
	a:hover#link-konkurs{background-color:#ac0238;box-shadow: 0 1px 3px 0 rgba(0,0,0,0.30); -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.30); -moz-box-shadow: 0 0 4px 0 rgba(0,0,0,0.50); -khtml-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.30); }
		a#link-konkurs:hover, a#link-konkurs:active {color:#ffeb9b !important;}

	/* BTN KONKURS */
	a#link-konkurs {color:#fff; font: normal 14px arial; background:#ea6c00; margin:0 4px 0 0; padding:5px 9px 5px 9px; border:1px solid #ea6c00; text-decoration:none;}
	a:hover#link-konkurs{background-color:#ac0238;box-shadow: 0 1px 3px 0 rgba(0,0,0,0.30); -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.30); -moz-box-shadow: 0 0 4px 0 rgba(0,0,0,0.50); -khtml-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.30); }
		a#link-konkurs:hover, a#link-konkurs:active {color:#ffeb9b !important;}

/* main */
#menu-main {clear:both; padding: 0 1px; background:#73818d; height:36px; position:relative; z-index: 30000; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px;}
	#menu-main li {float:left; padding: 0 0 1px 0; position:relative; border-right: 1px solid rgba(255,255,255,0.2); }
	#menu-main li:last-child {border-right:none}
	#menu-main a {float:left; color:#fff; text-decoration:none; font-size:15px; line-height:13px; padding:11px 13px; }
	#menu-main a:visited {color:#fff;}
	#menu-main a:hover, #menu-main a:active {color:#fff !important; background-color:#56748f; }
	#menu-main li.first a {position:relative;}

	#menu-main ul {
		display:none; position: absolute; top: 35px; left:-1px; background: #73818d; border: 1px solid #86a6c4; border-top: none; padding:10px 0 0 0;
		z-index:10000;
	}
		#menu-main ul li {float: left; padding: 0 0 12px 0; background:none; clear:left; border:none;}
		#menu-main ul a:link, #menu-main ul a:visited, #menu-main .this ul a:link, #menu-main .this ul a:visited {white-space:nowrap; font-size: 14px; line-height:14px; padding:0 10px 0 10px; background:none; border:none;}
		#menu-main ul a:hover, #menu-main ul a:active {background: none; color:#fe9 !important;}

		#menu-main li:hover ul {display:block;}

/* settings */
#menu-settings {margin:15px 0 20px 0; font: bold 13px/15px arial; border-bottom: 1px solid #d8d8d8; padding:0 0 1px 0;}
	#menu-settings ul {height: 25px;
		background: #eee url(/i/i-ie.png) left -380px repeat-x;
		background: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, rgb(218,218,218)), color-stop(0.8, rgb(240,240,240)));
		background: -moz-linear-gradient(center bottom, rgb(218,218,218) 20%, rgb(240,240,240) 80%);
	}
	#menu-settings li {float:left; margin: 0; border-right: 2px solid #fff;}
	#menu-settings a, #menu-settings a:visited {float:left; color:#000; padding:5px 10px; text-decoration:none;}
		#menu-settings .this a, #menu-settings .this a:visited {color: #fff; background: #999 url(/i/i-ie.png) 0 -405px repeat-x;
			background: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, rgb(112,112,112)), color-stop(0.7, rgb(198,198,198)));
			background: -moz-linear-gradient(center bottom, rgb(112,112,112) 30%, rgb(198,198,198) 70%);
		}
		#menu-settings .this a:hover {color: #eee !important;}

/**--FORMS--**/
	/* head search form */
	#form-head {clear:left; border:3px solid #e9eff6; float: left; margin:6px 0 0 0; padding:0; background:#fff; background: rgba(255, 255, 255, 0.9);}
		#input-head-q {margin: 0; border: 1px solid #bdc7d2; border-right: none; float:left; font-size:14px; padding-left: 5px; width:490px; height:24px; background: transparent;
			box-shadow: inset 0 0 3px 1px rgba(0,0,0,0.15); -webkit-box-shadow:inset 0 0 3px 1px rgba(0,0,0,0.15); -moz-box-shadow: inset 0 0 3px 1px rgba(0,0,0,0.15); -khtml-box-shadow: inset 0 0 3px 1px rgba(0,0,0,0.15);
		}

		#button-head {
			background: #ddd url(/i/i-ie.png) right -130px; border: 1px solid #aab7c5 !important; font: bold 13px/13px arial; color:#666 !important;
			background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.20, rgb(210,211,214)), color-stop(0.80, rgb(255,255,255)));
			background-image: -moz-linear-gradient(center bottom, rgb(210,211,214) 20%, rgb(255,255,255) 80%);
			box-shadow: inset 0 0 0px 2px rgba(0,0,0, 0.03), inset 0 0 0 1px rgba(255,255,255, 0.5);
			-webkit-box-shadow: inset 0 0 0px 2px rgba(0,0,0, 0.03), inset 0 0 0 1px rgba(255,255,255, 0.5);
			-moz-box-shadow: inset 0 0 0px 2px rgba(0,0,0, 0.03), inset 0 0 0 1px rgba(255,255,255, 0.5);
			-khtml-box-shadow: inset 0 0 0px 2px rgba(0,0,0, 0.03), inset 0 0 0 1px rgba(255,255,255, 0.5);

			padding:4px 0; text-align:center; width:66px; float:left; height:28px; cursor: pointer;
			border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; -khtml-border-radius: 0;
		}
			#button-head:hover, #button-head.hover, #button-head:focus {border-color:#89a !important; color:#333;}

	/* auth form */
	#form-auth {
		background: #ffeb9b;
		position: absolute; top: 35px; left:186px; z-index:30000;
		border:1px solid #fff7d7;
		border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px;
		box-shadow: 0 0 6px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 6px rgba(0,0,0,0.6); -khtml-box-shadow: 0 0 6px rgba(0,0,0,0.6);
		background-image: -moz-linear-gradient(top, rgb(255,235,155), rgb(250,207,50));
		padding: 12px; float:left;
		display:none;
	}
		#form-auth label {display: block; margin:0 0 10px 0; font: normal 13px/13px arial; clear: left;}
			#form-auth input {margin: 0; font: normal 13px/15px arial;}
			#a-login {padding: 0 0 0 9px;}
				#auth-login {width: 235px;}
			#a-password {float:left; clear:left;}
				#auth-password {width:145px;}
				#auth-forgot {font-size: 11px; float:left; padding:3px 0 0 7px;}

			label#a-remember {font: normal 11px/16px arial; padding: 0 0 0 47px; float:left; margin-bottom: 8px; color:#333;}
				#a-remember input {padding:0; margin: 0 4px 0 0; width:15px; height:15px; float:left;}

			#auth-buttons {clear:left; float: left; padding: 0 0 0 47px;}
				#auth-buttons input {font: normal 13px/15px arial; padding: 3px 0; text-align:center;}
					#auth-enter {width: 95px;}
					#auth-close {width: 70px; color:#666;}
			#auth-status {clear: left; float:left; padding: 10px 0 0 47px; margin: 0; font-size:11px; color:#666;}
			#auth-err {clear: left; float:left; padding: 10px 0 0 47px; margin: 0; font-size:12px; color:#CC0000;}

/* page forms */
.form-box {
	background:#f2f8ee; border:1px solid #e2e2e2; padding: 10px;
	border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px;
}
	.form-box.no-padding {padding: 0;}
	.form-box table {width:100%;}

	.form-box.with-instructions {width:640px;}

	.instructions-box {
		float: right;
		width:280px;
		height:400px;
		color:#666
	}

	.form-box .green, .form-box .green th, .form-box .green td {background:#ded; padding-top:10px; padding-bottom: 12px;}
	.form-box .grey, .form-box .grey th, .form-box .grey td {background:#e5e5e5; padding-top:10px; padding-bottom: 12px;}

	.form-box th, .form-box td {font-weight: normal; padding:7px 2px 7px 5px;}
	.form-box th {font: normal 13px/16px arial; text-align:right; padding-left:10px; padding-top:7px;}

	.form-box .item {float:left; margin: 0 15px 0 0;}
		.form-box .item p {margin: 5px 0;}

	.form-box .required {font-size: 18px; color:#c00;}
	.form-box .note {color:#999; font: normal 11px/13px arial; padding-top: 10px; clear:left;}

	.form-box input[type="text"], .form-box input[type="password"] {width:290px; font: normal 13px/15px arial; height:18px; margin:-2px 0 0 0;}
	.form-box select {font: normal 13px/15px arial; padding: 1px 2px;}

	.form-box input[type="radio"] { margin: 0;}
	.form-box input[type="checkbox"] {display: inline; margin: 1px 1px 0 0;  padding:0;}

	.form-box h4 {font: bold 13px arial; margin:0 0 5px 0;}
		.form-box h4.red {color:#b00;}
		.form-box h4.light-green {color:#696;}

	.form-box label {float: left; margin:2px 20px 0 0;}
		.form-box label.checked {font-weight: bold; color:#090;}

	.form-box .wide {width: 465px !important;}
	.form-box .lfont {font-size: 14px !important;}
		.form-box .xlfont {font-size: 16px !important; font-weight:bold !important;}

	.form-box .line {border-bottom:1px solid #ccc; padding: 10px 0 0 0;}

	input.with-instructions {float:left; margin-right: 10px !important;}
	.form-box .instructions {float:left;}

		.form-box .instructions.single {padding-top:5px;}

	.form-box .status-bar {width:350px;font-weight:normal;font-size:11px; color:#777; text-align:center; background:#fff; border: 1px solid #ccc; padding:1px; float:left;}
		.form-box .status-bar span {padding: 5px 0; display: block; background-color: #ffd400;
			background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(255,187,0)), color-stop(1, rgb(255,238,0)));
			background-image: -moz-linear-gradient(center bottom, rgb(255,187,0) 0%, rgb(255,238,0) 100%);
			}

	.form-box .progress-bar {width:350px; font-weight:normal; font-size:13px; color:#777; text-align:center; background:#fff; border: 1px solid #ccc; padding:1px; float:left; }
		.form-box .progress-bar span {padding: 5px 0; display: block; background-color: #4cda61;
			background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(49,200,61)), color-stop(1, rgb(108,235,133)));
			background-image: -moz-linear-gradient(center bottom, rgb(49,200,61) 0%, rgb(108,235,133) 100%);
		}
		.form-box .progress-data {float: left; margin: 4px 10px 0 8px;}
		.form-box .progress-percents {font: bold 16px arial;}
		.form-box .progress-size {font-size:11px;}
		.form-box .progress-cancel {margin: 5px 0 0 10px; color:#c00; display:block;}

	.form-box .data {padding: 15px 10px;}
		.form-box .data strong {margin: 0 0 0 10px;}
	.form-box td.buttons, .form-box .buttons th, .form-box .buttons td{padding: 0 10px 8px 6px;}

	.form-box .selsec{font-weight:bold;color:#555;}
	.captcha {border:1px solid #ccc}
	.form-box .selsec{font-weight:bold;color:#555;}

/**--BUTTONS--**/
	.btn, input[type="submit"], input[type="button"] {
		margin:0;
		font: normal 14px arial; color:#444 !important; padding: 5px 7px 5px 7px; text-decoration: none;
		border: 1px solid #ccc;
		border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px;
		background: url(/i/btn.png) left center no-repeat; /* IE7+, Opera fix */
		background: -webkit-gradient(linear, left bottom, left top, color-stop(0.45, rgba(255,255,255,0)), color-stop(0.5, rgba(255,255,255,0.5)));
		background: -moz-linear-gradient(center bottom, rgba(255,255,255,0) 43%, rgba(255,255,255,0.5) 51%);
		background-color: #efeeea;
		text-align: center;
	    vertical-align: middle;
		text-shadow: #fff 0 1px 0;
	}

	a.btn {padding-right:8px; padding-left:8px; text-align:center; vertical-align:middle; }

	@-moz-document url-prefix() { /* firefox */
		a.btn{padding: 6px 9px 7px 9px; line-height:16px;}
	}

	.btn:hover, input[type="submit"]:hover, input[type="button"]:hover {
		color:#000 !important;
		border-color:#999;
		cursor: pointer;
	}

	.btn.medium, input[type="submit"].medium, input[type="button"].medium {
		padding-top: 3px; padding-bottom: 4px;
	}

	.btn.thin, input[type="submit"].thin, input[type="button"].thin {
		padding-top: 2px; padding-bottom: 3px; font: normal 12px arial;
	}
	.btn.thin2, input[type="submit"].thin2, input[type="button"].thin2 {
		padding-top: 1px; padding-bottom: 2px; font: normal 12px arial;
	}

	.btn.left, input[type="submit"].left, input[type="button"].left {
		border-top-right-radius: 0; border-bottom-right-radius: 0;
		-moz-border-radius-topright: 0; -moz-border-radius-bottomright: 0;
		-webkit-border-radius-topright: 0; -webkit-border-radius-bottomright: 0;
		-khtml-border-radius-bottomright: 0; -khtml-border-radius-bottomright: 0;
	}

	.btn.middle, input[type="submit"].middle, input[type="button"].middle {
		border-left: none;
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		-khtml-border-radius: 0;
	}

	.btn.right, input[type="submit"].right, input[type="button"].right {
		border-left: none;
		border-top-left-radius: 0; border-bottom-left-radius: 0;
		-moz-border-radius-topleft: 0; -moz-border-radius-bottomleft: 0;
		-webkit-border-radius-topleft: 0; -webkit-border-radius-bottomleft: 0;
		-khtml-border-radius-topleft: 0; -khtml-border-radius-bottomleft: 0;
	}

	.btnSubmit {color:#222;border:1px solid #bcbcbc;
		box-shadow: 0 0 3px rgba(0,0,0,0.1); -webkit-box-shadow:0 0 3px rgba(0,0,0,0.1); -moz-box-shadow: 0 0 3px rgba(0,0,0,0.1); -khtml-box-shadow:0 0 3px rgba(0,0,0,0.1);
	}

	.btn.yellow, input[type="submit"].yellow, input[type="button"].yellow {background-color: #fbdb5d; border-left-color:#ca0; border-right-color:#ca0; border-top-color: #eb2; border-bottom-color:#980;}
	.btn.yellow:hover, input[type="submit"].yellow:hover, input[type="button"].yellow:hover {border-color: #980;}

	.btn.red, input[type="submit"].red, input[type="button"].red {color:#fff !important; text-shadow: 0 0 2px rgba(0,0,0,0.3); background-color: #c00; border-left-color:#966; border-right-color:#966; border-top-color: #c22; border-bottom-color:#600;}
	.btn.red:hover, input[type="submit"].red:hover, input[type="button"].red:hover {background-color: #c00; border-color: #800;}

		.h1-with-buttons .btn, .h1-with-buttons input[type="button"] {float:left; margin: 1px 0 0 0;}

	/** Add to **/
	.btn-add-to {position: relative; display: inline-block;}
		.btn-add-to .btn {background-image: url(/i/i-ie.png); background-position: left -444px; padding-left: 25px;}
		.btn-add-to .add-to {background-position: right -444px; padding-left: 13px;}
		.btn-add-to ul {background: #fff; border: 1px solid #999; position:absolute; top: 17px; left: 0; display: none;
			box-shadow: 0 0 4px rgba(0,0,0,0.3); -webkit-box-shadow:0 0 4px rgba(0,0,0,0.3); -moz-box-shadow: 0 0 4px rgba(0,0,0,0.3); -khtml-box-shadow:0 0 4px rgba(0,0,0,0.3);
			width: 100%;
		}
		.btn-add-to ul li{text-align:left;}
		.btn-add-to ul a {color:#000 !important; text-decoration: none; display: block; padding: 3px 8px; white-space: nowrap;}
			.btn-add-to ul	a:hover, .btn-add-to ul a:active {background: #e9e9e9;}

		.btn-add-to.opened .btn {border-color: #666;}
		.btn-add-to.opened .add-to {background-position: right -474px;
			box-shadow: 0 0 4px rgba(0,0,0,0.3); -webkit-box-shadow:0 0 4px rgba(0,0,0,0.3); -moz-box-shadow: 0 0 4px rgba(0,0,0,0.3); -khtml-box-shadow:0 0 4px rgba(0,0,0,0.3);
		}
		.btn-add-to.opened ul {display: block;}
		.btn-add-to .soc a{color:#063 !important;}

	/** mod **/
	.btn-mod {position: relative; display: inline-block;}
        .btn-mod .btn {background-image: url(/i/i-ie.png); background-position: left -444px; padding-left: 25px;}
		.btn-mod .mod {background-position: right -444px; padding-left: 13px;}
		.btn-mod ul	{background: #fff; border: 1px solid #999; position:absolute; top: 17px; left: 0; display: none;
			box-shadow: 0 0 4px rgba(0,0,0,0.3); -webkit-box-shadow:0 0 4px rgba(0,0,0,0.3); -moz-box-shadow: 0 0 4px rgba(0,0,0,0.3); -khtml-box-shadow:0 0 4px rgba(0,0,0,0.3);
			width: 100%;
		}
		.btn-mod ul li{text-align:left;}
		.btn-mod ul	a{color:#000 !important; text-decoration: none; display: block; padding: 3px 8px; white-space: nowrap;}
			.btn-mod ul	a:hover, .btn-mod ul a:active {background: #e9e9e9;}

		.btn-mod.opened .btn {border-color: #666;}
		.btn-mod.opened .mod {background-position: right -474px;
			box-shadow: 0 0 4px rgba(0,0,0,0.3); -webkit-box-shadow:0 0 4px rgba(0,0,0,0.3); -moz-box-shadow: 0 0 4px rgba(0,0,0,0.3); -khtml-box-shadow:0 0 4px rgba(0,0,0,0.3);
		}
		.btn-mod.opened ul {display: block;}

/**--VIDEO LINKS--**/
.video {float:left; z-index:8000;}

	.video h5 {font: normal 18px arial; margin: 0;}
	.video h6 {font: bold 13px arial; margin: 0;}
	.video.ml h5 a:link, .video.ml h5 a:visited, .video.m h5 a:link, .video.m h5 a:visited {color:#000;background:#fff3b8; padding:1px 2px;margin-left:0}

		.video .category, .video .views, .video .owner, .video .added {
			font: normal 11px/12px arial;
			color:#666; overflow:hidden;
			word-wrap: break-word;
		}
		.owner a {color:#4381bf; text-decoration:none;}

		.video .category {line-height:inherit;}
		.video .desc {word-wrap: break-word; font: normal 13px arial; line-height:1.4em}
		.desc .cat-date{font-size:12px;font-weight:bold;color:#777;margin:0 0 -6px 0;}
		.desc .cat-date a{color:#777;}
		.tags{font-size:12px;color:#777 !important;}
		.tags a{color:#00966e; margin-left:3px}


	.video p {margin: 3px 0 0 0; padding:0;}
	.video a {text-decoration: none;}

/* video images */
	.video .image {
		font: normal 11px/8px arial;
		display:block; padding: 2px; background-color: #eee; position: relative; text-decoration: none;
		float:left; margin: 0;
	}
	.video .image:hover, .video .image.hover {border-color:#c00;}
	.video .image img {float:left; background: #ccc; border: 0; display:block;}
	.video .image span {display: block; background:#000; color:#ccc; padding: 3px; position:absolute; right:3px; bottom:3px;
						opacity:0.65; -khtml-opacity:0.65; -moz-opacity:0.65;}
	.video .image:hover span {color:#fe9;}

/* sizes */
	.video.ss img {width:105px;} /* small */
	.video.s img {width:130px;height:73px;} /* small */
	.video.m img {width:290px;height:163px;} /* medium */
	.video.ml img {width:300px;height:169px;} /* medium-large */

/* list */
.video-list {border-top: 1px solid #d8d8d8; float: left; width:100%;}
	.video-list .video {margin-bottom: 20px;}
	.video-list h5 {font: bold 13px Arial;}
	.video-list.horizontal .video {margin-right:5px;}
	.video-list.horizontal .video .info {width:148px;float:left;}
	.video-list.horizontal .video .info2 {width:134px;float:left;}
	.video-list.horizontal .image {margin: 0 8px 0 0;}

	.video-list.vertical .image {margin: 0 0 4px 0;}
	.video-list.vertical .video.s {width: 138px; margin-left: 22px; margin-right: 0;}
		.video-list.vertical .video.first {margin-left: 0; clear:left;}

	.video-list.scroll {height:380px;overflow:auto;position:relative; margin-top:10px;border-top:0;}
	.video-list.scroll .video {margin: 5px 0 5px 0;}
	.video-list.scroll .video .info2 {width:134px;float:left;}
	.video-list.scroll .image {margin: 0 8px 0 0;}

.video-list-sort {margin: 0 0 20px 0; font-size: 14px;}

/**--BLOCKS--**/
.video-recommended {float:left; margin: 0 0 20px 0;}
	.video-recommended .video {margin-left:25px;}
	.video-recommended .video.first {margin-left: 0 !important;}
	.video-recommended .image {margin: 0 0 8px 0;}
	.video-recommended .video h5 {clear:both; margin: 0 0 3px 0;}
	.video-recommended .owner, .video-recommended .views {display: inline; margin-right: 8px;}
	.video-recommended .info {clear:left; width: 300px !important;}

.list-box {width:640px; float:left; margin: 0 0 20px 0;}
	.list-box h2 {float:left; margin:3px 0 0 0; padding: 3px 5px 3px 5px;}
		.list-box h2 {border-radius: 2px 2px 0 0;}
		.list-box h2.green {background: #dbf5b7;}
		.list-box h2.yellow {background: #ffee99;}
		.list-box h2 .amount {font: normal 14px/14px arial;}
	.list-box .video-list {background: #fff;}
	.list-box .sub-vi-date{font-size:11px;color:#777;margin: 4px 0 2px 0;}

.contest-box {width: 630px; float:left; margin: 0 0 20px 0;}
	.contest-box h2 {float:left;border-radius: 2px 2px 0 0; background:#FFFADD; margin:3px 6px 0 0; padding: 4px 4px 6px 5px;}
	.contest-box h2 a{color:#F33; text-decoration:none;}
	.contest-box .c-period {padding-top:8px; color:#444;}
	.contest-box .c-panel {padding: 4px 0; clear:left; background:#FFFADD; }
	.contest-box .c-panel td {padding-bottom:6px;}
	.contest-box .c-pic {float:left; margin: 0 10px 0 5px; padding:3px; background:#FC0}
	.contest-box .c-pic img {border:1px solid #fff;}
	.contest-box .c-desc {font-size:13px; width:80%; margin: 3px 0; }
	.contest-box .c-desc a {text-decoration:none;color:#000}

.contest-txt{width:630px;float:left;font-size:14px;}
	.contest-txt h3 {margin:26px 0 12px 0; font-size:23px; font-weight:normal; color:#d83e3a}
	.contest-txt ul { list-style:circle; margin: 0 0 0 24px;}
	.contest-txt ul li { list-style:disc; margin: 6px 0;}
	.contest-txt blockquote {background:#F7F7F7; font-size:12px;color:#555;padding:8px;margin:0;}
	.contest-txt blockquote p{margin:0 0 4px 0;}

.btn-cont {
		margin:0;
		font: normal 14px arial; color:#444 !important; padding: 4px 7px 5px 7px; text-decoration: none;
		border: 1px solid #c65c59;
		border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px;
		background: #ff5651;
		text-align: center;
	    vertical-align: middle;
		color:#fff !important;
		box-shadow: 0 1px 1px rgba(0,0,0,0.3); -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3); -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3);-khtml-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
	}
	a:hover.btn-cont{color:#FFF !important;background:#f9352f;}

.tab-links {float:left; margin:5px 5px 0 10px;}
	.tab-links li {float:left;}
	.tab-links a, .tab-links a:visited {
		text-decoration:none; color:#000; padding:6px 7px 5px 7px; margin:0 3px 0 0; font: normal 13px/13px arial; background:#d4e3ed; float:left;
		border-radius: 2px 2px 0 0; -moz-border-radius: 2px 2px 0 0; -webkit-border-radius: 2px 2px 0 0; -khtml-border-radius: 2px 2px 0 0;
	}
	.tab-links .this {background:#4eb15a !important; color:#fff !important;}

.list-box h2.green, .tab-links a {box-shadow: inset 0 -1px 0 rgba(0,0,0,0.03); -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.03); -webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.03);-khtml-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.03);}

/* userinfo */
.userpic {width: 50px; height:50px; float: left; margin-right: 10px;}
	.userpic img {border: 1px solid #ccc; width: 50px; height:50px; background: #eee url(/i/busy.gif) center no-repeat; display:block;}
	.userpic:hover img {border-color:#c00;}

/* comments */
.comments-list {clear:left; margin: 30px 0 0 0;}
	.comments-list ul {margin: 5px 0 10px 0; border-top: 1px solid #ccc;}
	.comments-list li {clear:left;}
    .comments-list li.censored div {background-color: #fee;}
		.comments-list .userpic {margin: 20px 0 0 0; float: left;}

		.comments-list .comment {margin: 20px 0 0 10px; float:left; width:580px;}
		.comments-list .author {font-weight: bold; text-decoration:none;}
		.comments-list .date {color:#999; margin-left: 5px;}
		.comments-list .comment p {margin: 5px 0;}

.comment-form-note{font-weight:normal;color:#888;margin: -2px 0 4px 0;font-size:12px;}
.comment-form-note a{color:#888;}

/* warnings */
.warning {color:#c33; clear:left; margin:20px 0; float:left;}

/*pagination */
.pagination {clear:left; padding:20px 0 0 0; margin: 0; font: normal 17px/17px arial;}
	.pagination .arrows {padding: 0 0 4px 0; color:#999; font-size: 13px;}
		.pagination .arrows a, .pagination .arrows span {margin: 0 10px 0 0;}
	.pagination .digits {height: 2px; padding:5px 0;}
	.pagination .digits b, .pagination .digits a {float:left; padding: 3px 6px 3px 6px; margin: 0 5px 0 0; border:1px solid #ccc; text-decoration:none; color: #555; background: #F3F3F3;
		border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px;
	}
		*html .pagination .digits b, *html .pagination .digits a {height:0;}
		.pagination .digits .ut a {padding-left: 5px;}
	.pagination .digits i {font-style: normal; float:left; margin: 0 3px 0 0;}
	.pagination .digits a:hover {font-size:23px; line-height:23px; padding: 3px 6px 3px 6px; margin: -2px 4px -2px -2px; border:none; float:left; background: #aac3f2; color:#fff !important;}

	.pagination .digits .ut a:hover {padding-left: 6px; padding-right: 6px;}
	.pagination .digits b {color:#fff; background:#3fb361; border-color: #3fb361;}
	.pagination .total {font-size:11px; color:#999; margin:5px 0 0 0;}

.banner-vertical { background:#eee; width:300px; margin-bottom:30px;  }

.right-block {float:right; width:300px;}

	#home-recommended { float:left; width:630px; margin-bottom:30px; }
		#home-recommended .video.main {width:100%; margin-bottom:20px; }
		#home-recommended .video.main .image {margin-right: 10px;}
		#home-recommended .video.main h5 {font: normal 18px/20px arial;}
		#home-recommended .video h5 a{color:#222;}

		#home-news {float: right; margin:0 15px 0 20px; width: 250px;}
			#home-news li {margin: 0 0 10px;}

		#home-recommended .video-list {border: none; float:none;}
			#home-recommended .video.s {width: 298px; height:86px; }

	#home-recommended-link {margin:10px 0 2px 0; clear: both; font-size: 14px;}

	#home-popular .video-list .video {width:310px; margin: 0 5px 20px 0;}
		#home-popular .video-list .image {margin-bottom: 0;}

	#tags-cloud {line-height: 24px; margin:20px 0; padding:1px 0 0 0;}
		#tags-cloud h2 {padding: 0 0 0 0;}
		#tags-cloud a {text-decoration:none;padding-right:4px; white-space: nowrap;}
		#tags-cloud .w1 {font-size: 1em;}
		#tags-cloud .w2 {font-size: 1.3em;}
		#tags-cloud .w3 {font-size: 1.5em;}
		#tags-cloud .w4 {font-size: 1.75em;}
		#tags-cloud .w5 {font-size: 2em;}

.banner-vertical.with-video-preview {margin-top:20px;}

.video-player {width:640px;margin-top:20px}
	.video-player .video-title{width:560px;}
	.video-player .video-title .interested{padding: 2px 7px;margin-top:-4px;font-size:13px;font-weight:bold;color:#fff;background:#c0003d;cursor:pointer;
		border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px;}
	.video-player .owner {clear:left;display:block; font-size:12px; padding: 0 0 4px 0; line-height:15px; color:#666; }
	.video-player .owner a {color:#e33500}
	.video-player .views {margin:12px 0 0 12px;color:#333;text-align:right;}
	.video-player .views strong {font-size:18px; font-weight:normal; line-height:0.8em;}
	.video-player .views small{font-size:11px;color:#666}

.video-preview {width:640px;margin-top:8px}
	.video-preview .video-panel {font-size:12px;}

	.modinfo{font-size:12px;color:#666;}
	.modinfo a{color:#999}
	.embcode{width:98%;height:34px;}

	.rating-buttons{height:22px;font-size:11px}
	.rating-box{float:right;width:158px; margin:4px 0 4px 8px;}
		.rating-box .r-line {width:100%;}
		.rating-box .r-line td {height:2px;}
		.rating-box .r-line .like{background:#2eac4e;border-right:1px solid #fff;}
		.rating-box .r-line .dislike{background:#ce8999;border-left:1px solid #fff;}

		.rating-box .r-desc {width:100%;}
		.rating-box .r-desc td {padding:3px;font-size:11px; line-height:10px;}
		.rating-box .r-desc .like{color:#009900;}
		.rating-box .r-desc .dislike{text-align:right;color:#999;}

.snapshots .video {margin-right: 7px;}
	.snapshots .this .image {background-color: #c00;}


.h1-with-buttons .subscribers {font: normal 11px/13px arial; color:#999; float:left; margin: 6px 0 0 6px;}

#channel-box {
	float: right;
	background:#d3e5f8;
	padding: 10px;
	border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px;
	width:100%;
	margin: 0 0 10px 0;
}
	#channel-box .userpic {float: left; margin: 0 10px 0 0;}
	#channel-box .info {float: left;}
	#channel-box h4 {margin:0 0 3px 0; font: bold 13px/16px arial;}
	#channel-box .data {clear: both; width:100%; margin:10px 0 0 0; float:left; font: normal 12px/16px arial; color:#666;}

#my-videos {margin:5px 0; border-bottom: 1px solid #d8d8d8; width:100%;}
	#my-videos .video {float: none;}
	#my-videos td {background:#f3f3f3; padding:8px 0 8px 10px; border-top: 1px solid #d8d8d8; border-bottom: 1px solid #fff;}

	#my-videos .even td {background: #e5ecf3;}

	#my-videos .select td {background: #fff5aa;}

	#my-videos .checkbox {vertical-align: middle;}

	#my-videos .info {width: 340px;}
		#my-videos h5 {color:#06c;}

	#my-videos .params {width: 200px; padding-left: 20px; color: #666;}
		#my-videos .category {font-size: 13px; line-height: normal;}
			#my-videos .category strong {color: #222;}
		#my-videos .tags {font-size: 11px; margin:5px 0 0 0;}
			#my-videos .tags strong {color: #c63; font-weight: normal;}

	#my-videos .data {text-align:right; width: 185px; padding-right: 8px;}
		#my-videos .data p {font-size: 11px; color: #666; margin: 0 0 5px 5px;}

	#my-videos .buttons {margin: 10px 0 0 0;}

.radius5{border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px;}
.radius10{border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius:10px;}

.shadowin{box-shadow: inset 0 0 4px rgba(0,0,0,0.3); -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.3); -khtml-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);}
.dshadow {box-shadow: 0 0 3px rgba(0,0,0,0.3); -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: 0 0 3px rgba(0,0,0,0.3); -khtml-box-shadow: 0 0 3px rgba(0,0,0,0.3);			}

.panel-box {border:1px solid #ccc; padding: 10px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; }
.panel-box p {margin-top:3px;line-height:17px;}
.panel-box ul {margin:0 0 15px 20px;}
	.panel-box ul li {margin: 0 0 4px 0; line-height:17px;}


.merror{margin:4px 0;padding: 4px 6px;border:1px solid #f5aaaa;background:#fddada;
border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px;}
.msuccess{margin:4px 0;padding: 4px 6px;border:1px solid #99cc99;background:#d8f2db;
border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px;}
.merror p, .msuccess p {margin:4px 0 4px 0}

.modal_window{display:none; width:600px; height:300px; background-color: white; background:#eee; border: 1px #999 solid; padding: 12px 15px;
box-shadow: 0 0 6px rgba(0,0,0,0.6); -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.6); -moz-box-shadow: 0 0 6px rgba(0,0,0,0.6); -khtml-box-shadow: 0 0 6px rgba(0,0,0,0.6);}
.modal_window p {margin: 0 0 4px 0;}

#favorites .loader {width:14px; height:14px; display: none}

.vp{margin-top:12px;background:#000;color:#fff;width:640px;height:360px}
	.vp #video_place{width:640px;height:360px}

.cgrey{color:#555;}
.cgreen{color:#00a014;}
.cred{color:#a00014;}

#username_status {font: bold 24px; display: none; padding: 0 5px;}
.free {color: #080;}
.taken {color: #800;}

.search_filter {margin: 10px 0;}
.search_filter select{font: normal 13px/14px arial;padding:0;margin-top:10px;}
.search_filter table {border-spacing: 0px; border-collapse: separate;}
.search_filter td {border: none;}
.search_filter li {margin-right: 5px;font: normal 13px/14px arial;}
.search_filter li a {font: normal 13px/14px arial;}
.search_filter li .this {font: bold 14px/15px arial;}
.search-list {float: left;}
.search-list .btn-wrapper {margin-bottom: 10px;}
.search-list a#cmd_advanced_search {background-image: url(/i/i-ie.png);background-position: right -444px; padding-right: 25px;}
.search-list .categories td {padding-bottom:10px;}

li.menu_sep {border-width: 0 0 1px; border-color: #ccc; border-style: dotted;}

#profile #mobile_phone {width: 200px;}
#profile .cgreen {margin: 0 10px;}
#profile .cred {margin: 0; color: #800;}
#mobile_phone_confirm .btn{margin-top: 4px;}
