@charset "UTF-8";
/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,strong,b{font-weight:bold;}
del,ins,u,s,a{text-decoration:none;}
a:hover{text-decoration: underline;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 PingFangSC-Regular,'微软雅黑',STXihei,Verdana,Calibri,Helvetica,Arial,sans-serif;color:#333;outline:0;}
var,strong,em,i,s,b{list-style:none;font-style:normal;}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {font-size:60%;font-weight:300;color:#7c7f83;}
a{color:#000;}
img{display:inline-block;vertical-align: middle;}
html,body{height:100%;}
/*清浮动*/
.fix{zoom:1;} .fix:before,.fix:after{content:'';display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0;} .fix:after{clear:both;}
/*浮动*/
.fl{float:left !important;} .fr{float:right !important;} .fn{float:none !important;}
/*对齐方式*/
.tl{text-align:left;} .tr{text-align:right;} .tc{text-align:center;}
/*相对定位*/
.pr{position:relative;}
/*间距*/
.mt5{margin-top:5px;} .mr5{margin-right:5px;} .mb5{margin-bottom:5px;} .ml5{margin-left:5px;}
.mt10{margin-top:10px;} .mr10{margin-right:10px;} .mb10{margin-bottom:10px;} .ml10{margin-left:10px;}
.mt15{margin-top:15px;} .mr15{margin-right:15px;} .mb15{margin-bottom:15px;} .ml15{margin-left:15px;}
.mt20{margin-top:20px;} .mr20{margin-right:20px;} .mb20{margin-bottom:20px;} .ml20{margin-left:20px;}
.mt50{margin-top:50px;} .ml50{margin-left:50px;}
/*字体*/
.ft_12{font-size:12px!important;} .ft_14{font-size:14px!important;} .ft_16{font-size:16px!important;} .ft_20{font-size:20px!important;}
/* 显示隐藏 */
.c_hide{display:none;} .c_show{display:block;}
/*word-break*/
.wbn{word-break:keep-all;white-space:nowrap;} .wby{word-break:break-all;word-wrap:break-word;white-space:normal;}
/*居中对齐*/
.vm{vertical-align:middle;} .vb{vertical-align:bottom;} .vt{vertical-align:top;}
/* 文字溢出隐藏 */
.c_hidden {display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

body{font-family:PingFangSC-Regular,'微软雅黑',STXihei,Verdana,Calibri,Helvetica,Arial,sans-serif;min-height:100%;background:#fff;color:#333;min-height: 100%;_height:100%;font-size:14px;color:#000;}
.main{width:1200px;margin:0 auto;}

/* ==========================================================================
   头部 header
 ============================================================================ */
.header{height:34px;line-height:34px;background:#3c3c3c;}
.header-main{color:#fff;}
.header-left{float:left;padding:0 0 0 14px;}
.header-right{float:right;padding:0 16px 0 0;}
.header-login-no a{color:#fff;}
.header-login-yet > a{position:relative;float:left;margin-right:15px;color:#fff;}
.header-login-yet > a:hover{text-decoration:none;}
.warm-spots{position: absolute;width:8px;height:8px;right:-7px;top:8px;background:url(../images/red.png) no-repeat;overflow:hidden;}
.header-user{position: relative;float: left;cursor: pointer;}
.header-user img{display: inline-block;width:20px;height:20px;border-radius: 50%;}
.header-user span{display: inline-block;max-width:140px;}
.header-user em{display: inline-block;width:8px;height:4px;overflow: hidden;background: url(../images/icon_bar.png) no-repeat 0 -467px;overflow:hidden;}
.set-menu{position: absolute;right:0;top:34px;width:108px;display:none;}
.set-menu li{height:30px;line-height:30px;background:#3c3c3c;}
.set-menu li:hover{background:#595959;}
.set-menu li a{display: block;height:100%;padding-left:13px;color:#fff;}
.set-menu li a:hover{text-decoration: none;}
.set-menu a span{float:left;padding-left:8px;}
.set-menu a i{float:left;margin-top:7px;}
.set-menu-1 a i{width:17px;height:16px;background:url(../images/icon_bar.png) no-repeat 0 -375px;overflow:hidden;}
.set-menu-2 a i{width:17px;height:18px;background:url(../images/icon_bar.png) no-repeat 0 -412px;overflow:hidden;}
.set-menu-3 a i{width:15px;height:16px;background:url(../images/icon_bar.png) no-repeat 0 -393px;overflow:hidden;}
/* ==========================================================================
  底部 footer
 ============================================================================ */
 .footer{padding:45px 0;width:621px;margin:0 auto;color:#7b7b7b;font-size:12px;}
 .footer ul{height:14px;padding-bottom:5px;line-height:14px;}
 .footer li{float:left;margin:0 20px 0 0;}
 .footer a{font-size:12px;color:#7b7b7b;}
 .footer a:hover{color:#bd0509;}
 .footer p{line-height: 18px;text-align: center;}
/* ==========================================================================
  内容 content
 ============================================================================ */
.content-logo{width:263px;height:84px;margin:32px auto;background:url(../images/mian-logo.png) no-repeat;}
.content-logo-other{height:82px;padding:21px 0 45px 0;text-align:center;vertical-align:middle}
.content-logo-other img.logo{display:inline-block;width:119px;height:38px;}
.content-logo-other img.point{display:inline-block;width:10px;height:10px;margin:0 30px 0;}
.content-logo-other span{display:inline-block;height:82px;line-height:82px;font-size:80px;color:#bd0509;}
.content-logo-other span.sub{padding:28px 0 0 4px;height:auto;line-height:22px;font-size:16px;}
.content-main{padding-top:30px;}
/* 导航
 ============================================================================ */
.nav{position: relative;width:1112px;height:44px;padding:1px 0;padding-left:88px;margin:0 auto;background:#9d1518;}
.nav-cell{float:left;width:103px;height:44px;margin-left:-1px;}
.nav-cell > a{display:block;width:100%;line-height:44px;text-align: center;color: #fff;background:url(../images/shutiao.png) no-repeat 100% 50%;font-size: 16px;font-weight:bold;}
.nav-cell > a.last{background:none;}
.nav-cell > a:hover{text-decoration: none;background:#fff;color:#bd0509;}
.sub-menu{position:absolute;left:0;top:44px;width:1198px;height:240px;border:1px solid #bd0509;background:#fff;display: none;z-index: 100;}
.sub-menu-1{float:left;width:310px;margin:15px 0 0 37px;}
.sub-menu-1 li{padding:11px 0 16px;border-bottom:1px solid #e7b9b9;}
.sub-menu-1 li.last{border-bottom:none;}
.sub-menu-1 li img{float:left;width:45px;height:60px;}
.sub-menu-1 li p{margin-left:59px;}
.sub-menu-1 li span{display: block;height:52px;line-height:26px;font-size: 18px;font-weight: bold;overflow:hidden;}
.sub-menu-1 li a{color:#000;}
.sub-menu-1 li a:hover{color:#bd0509;}
.sub-menu-1 li em{display: inline-block;margin-top:8px;line-height:16px;font-size:14px;}
.sub-menu-2{float:left;padding:24px 0 0 19px;}
.sub-menu-2 li{float:left;margin:0 8px;width:186px;}
.sub-menu-2 li img{display: block;width:186px;height:132px;}
.sub-menu-2 li a{display: block;width:100%;font-size: 18px;line-height: 26px;font-weight: bold;}
.sub-menu-2 li a:hover{color:#bd0509;}
.sub-menu-2 li a.title{padding-top:4px;height:52px;overflow: hidden;}
.sub-menu-3{float:left;padding:13px 13px 0 0px;width:208px;}
.sub-menu-3 dt{display: block;height:16px;line-height:16px;padding-bottom: 8px;text-align: right;}
.sub-menu-3 dt a{color:#bd0509;}
.sub-menu-3 dd{float:left;width:80px;margin:0 6px;padding-left:12px;height:32px;line-height: 32px;}
.sub-menu-3 dd a{color:#e7b9b9;}
.sub-menu-3 dd a:hover{color:#bd0509;}

/* 新闻模块
 ============================================================================ */
.module-news{width:100%;padding-bottom:5px;border-top:2px solid #bd0509;}
.module-news.gray{background:#efefef;}
.module-news-header{height:16px;line-height:16px;padding:7px 13px;color:#bd0509;}
.module-news-header span{float:left;}
.module-news-header span.choose{float:right;}
.module-news-header span.choose a{display:inline-block;color:#9b9b9b;margin:0 5px;text-decoration: none;}
.module-news-header span.choose a.active{color:#bd0509;}
.module-news-header a{float:right;color:#bd0509;}
.module-news-header > p{text-align:center;font-size:20px;}
.module-news-header .header-2{position:relative;width:180px;margin:0 auto;height:9px;border-bottom:1px solid #bd0509;}
.module-news-header .header-2 em{position: absolute;width:100px;padding:0 10px;background:#fff;color:#bd0509;left:50%;margin-left:-60px;font-size:20px;text-align:center;}
.module-news-header .header-2 em.gray{background:#efefef;}
.module-news-main{padding:0 13px 10px;}
.module-news-main a:hover{color:#bd0509;}
.module-title{line-height:28px;font-size:22px;}
.module-title a:hover{color:#bd0509;}
.module-artile{line-height:20px;color:#2b2b2b;margin-top:10px;overflow: hidden;}
.module-artile a{color:#d06868;}
.module-img{display:block;margin-top:9px;}
.module-img img{width:100%;height:auto;}
.module-meeting{margin:48px 0 16px 0;height:40px;line-height:20px;color:#7b7b7b;}
.static-img{display:block;}
.static-img img{width:365px;}
.special-img{display:block;text-align:center;}
.fastRead-img{position: relative;margin-top:9px;}
.fastRead-img img{width:100%;height:auto;}

.fastRead-img .mask{display:none;position:absolute;bottom:0;left:0;right:0;height:26px;line-height:26px;font-size: 14px;padding:26px 16px 14px 24px;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAABCCAMAAABKMPd6AAAAeFBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAVyEiIAAAAKHRSTlNpRD2xq6Cblo6GgHtyYlpUTDMnIBsOFhMJBqikkol2bl5QSDgwLSsClsnwWgAAAGxJREFUCNc9wsURgDAABMDD3SGCe/rvkNyHnYUx0BpaQSkMA0sJKSAE+p67jtuW3xfPg/tG0/B1wXXZsR0+T9Q1HweqisuS9x1Fwb9tQ57zuiLLOE05SXhZEMc8z4giDkMOAp4mjCN8nz3P/gDISwhIqelSegAAAABJRU5ErkJggg==) repeat-x;color:#fff;}
.fastRead-img .mask a{color:#fff;}
.fastRead-img .mask a:hover{color:#fff;}
.fastRead-img .mask span{float:right;}
.fastRead-img:hover .mask{display:block;}

.author-intro > p span{display:block;overflow: hidden;}
.author-intro > a{float:left;width:45px;}
.author-intro > a img{display:block;width:100%;height: auto;}
.author-intro > p{margin-left:55px;line-height:20px;color:#7b7b7b;}
.author-intro > p a{display:block;padding-bottom:7px;}
.author-intro > p a:hover{color:#bd0509;}
.author-intro > p span{display:block;}
.resemble-art{width:100%;height:20px;line-height:20px;color:#7b7b7b;}
.resemble-art a{color:#7b7b7b;}
.resemble-art a:hover{color:#bd0509;}
.resemble-art-black{padding-top:7px;line-height:22px;font-size:16px;display:block;}
.resemble-art-black a{color:#000;}
.author-intro-head .con{margin-left:55px;line-height:20px;color:#7b7b7b;}
.author-intro-head h5{line-height:26px;}
.author-intro-head h5 a{font-size: 18px;}


/* 页码
 ============================================================================ */
 .page-middle{float: left;position: relative;left: 50%;}
 .module-page{height:22px;position: relative;left: -50%;bottom:10px;}
 .module-page-right{float:right;left: 0%}
 .module-page.middle{margin:20px;}
 .module-page a{float:left;width:20px;height:22px;margin:0 5px;line-height: 22px;text-align: center;background:#fff;color:#bd0509;}
 .module-page span{float:left;width:20px;height:22px;margin:0 5px;line-height: 22px;text-align: center;color:#bd0509;}
 .module-page span.active,
 .module-page a:hover{background:#bd0509;text-decoration: none;color:#fff;}
 .module-page a.last,
 .module-page a.prev,
 .module-page span.prev,
 .module-page a.next,
 .module-page span.next{width:67px;color:#fff;background:#bcbcbc;}

/* 面包屑
 ============================================================================ */
 .crumbs{font-size: 12px;color:#7b7b7b;}
 .crumbs a{color:#bd0509;}

 /* 互动 module-interact
 ============================================================================ */
 .module-interact{height:20px;line-height:20px;padding:10px 0 7px;}
 .module-interact a{float:left;color:#7b7b7b;padding-right:20px;}
 .module-interact a.interact-attention{padding-left:20px;background:url(../images/icon_bar.png) no-repeat 0 -520px;}
 .module-interact a.interact-comment{padding-left:20px;background:url(../images/icon_bar.png) no-repeat 0 -560px;}
 .module-interact a.interact-key{color:#d06868;}
 .module-interact span.interact-key{color:#d06868;}
 .module-interact a:hover{color:#bd0509;}
 .module-interact a:hover.interact-attention{background:url(../images/icon_bar.png) no-repeat 0 -538px;}
 .module-interact a:hover.interact-comment{background:url(../images/icon_bar.png) no-repeat 0 -583px;}
 .module-interact span{float:left;color:#7b7b7b;padding-right:20px; }

 /* 三栏
 ============================================================================ */
 .three-coloum{padding-top:25px;}
 .three-coloum > li{float:left;width:390px;}
 .three-coloum > li.middle{width:365px;margin:0 27px 0 28px;}
 .three-coloum > li.middle-18{width:365px;margin:0 18px;}
 .three-coloum > li.middle-15{width:390px;margin:0 15px;}

 /* 二栏
 ============================================================================ */
 .two-coloum{padding-top:25px;}
 .two-coloum > li.left{float:left;width:770px;}
 .two-coloum > li.right{float:right;width:390px;}

  /* 搜索
 ============================================================================ */
.search-box {margin-top:15px;}
.search input{float:left; width:288px; height:28px;padding-left:33px;background: url(../images/icon_bar.png) no-repeat 0 -329px; border:1px solid #bd0509;}
.search a{float:left; width:65px; height:28px;line-height:28px;text-align:center;color:#fff;font-size:14px;background:#bd0509; border:1px solid #bd0509;}
.search a:hover{color:#fff;text-decoration:none;}
.search-range {float:right;font-size:16px;margin-bottom:25px;}
.search-list dt{margin-bottom:10px;}

  /* 左图右标题
 ============================================================================ */
.module-img-head{padding-bottom:14px;}
.module-img-head > a{float:left;width:141px;height:100px;}
.module-img-head > img{display:block;width:100%;height:100%;}
.module-img-head .right{margin-left:153px;}
.module-img-head .right h5{height:66px;line-height:22px;font-size:16px;}
.module-ad a{display:block;width:365px;height:100px;margin:13px auto;}
.module-ad img{display:block;width: 100%;height:100%;}

  /* 评论操作
 ============================================================================ */
.comment-operation{height:16px;line-height:16px;}
.comment-operation a{float:left;margin-left:20px;color:#999;font-size: 12px;}
.comment-operation a:hover{color:#666;text-decoration:none;}
.comment-operation a span{float:left;padding-left:5px;}
.comment-operation a i{float:left;margin-top:3px;}
.comment-operation a.praise i{float:left;width:12px;height:11px;background:url(../images/icon_bar.png) no-repeat 1px -273px;overflow:hidden;}
.comment-operation a.tread i{float:left;width:11px;height:14px;background:url(../images/icon_bar.png) no-repeat 0 -302px;overflow:hidden;}
.comment-operation a.share-c i{float:left;width:7px;height:11px;background:url(../images/icon_bar.png) no-repeat 0 -259px;overflow:hidden;}
.comment-operation a.complain i{float:left;width:8px;height:11px;background:url(../images/icon_bar.png) no-repeat 0 -287px;overflow:hidden;}
.comment-operation a.reply{height:14px;line-height:14px;width:37px;text-align:center;border-radius:2px;border:1px solid #999;}

.borderGray{border-bottom:1px solid #e7e7e7;padding-top:40px;}
  /* 主页标题
 ============================================================================ */

.TopShare {
	float: right;
	position:relative;
	top:60px;
	left:470px;
}
.Share_style li {
	display: block;
	float: left;
	list-style-type: none;
	margin-left: 1px;
}
.Share_style li a {
	background: url("../images/feature_icon.png") no-repeat scroll 0 0 transparent;
	display: block;
	height: 0;
	overflow: hidden;
	height:38px;
	text-indent: -9999px;
	width: 38px;
}
.Share_style li a .weixin{
	position:absolute;
	display: none;
	top: 38px;
	left: 54px;
	background-position: 0 0;
	width: 100px;
	height: 100px;
	background: url(../images/gongzhonghao.jpg) no-repeat;
	background-size: 100%;
	z-index: 999;
}
.Share_style li a:hover .weixin{
	display: block;
}
.Share_style li a.Share_button_favorite {
	background-position: -120px 0;
}
.Share_style li a.Share_button_tsina {
	background-position: -40px 0;
}
.Share_style li a.Share_button_bg{
	background-position: -160px 0;
}
.Share_style li a.Share_button_weixin {
	background-position: -80px 0;
}
.Share_style li a.Share_buttom_SaveToButton {
	background-position: -155px 0;
	width: 96px;
}

  /* 智库前沿
 ============================================================================ */
.container, .container img{width:769px; height:297px;}
.container{white-space:nowrap;diplay:inline;float:left;}
.container img{border:0;}
#news_title {display:none;}
.news_title{
	white-space:normal;
	width:749px;
	height:30px;;
	float:left;
	color:white;
	font-size:25px;
	font-weight:900;
	font-family:"微软雅黑";
	position:absolute;
	bottom:9px;
    left:10px;
	overflow:hidden;
}
.zhiku_title{
	font-size:20px;
}
.container .mask{display:none;position: absolute; bottom: 0; left: 0; width: 100%; height: 50px; background: #000; color: #fff; opacity: .69; filter: alpha(opacity=69);}
.container .numdot{position:absolute;top:10px;left:10px;}
.container .numdot li{
    list-style-type: none; 
    float: left; 
    margin-right: 6px; 
    cursor: pointer; 
	display:block;
    background:#ffffff;
    border-radius:50%;
    width:10px;
    height:10px;
}
.container .numdot li.on{
    list-style-type: none; 
    float: left; 
    margin-right: 6px; 
    cursor: pointer; 
	display:block;
    background:#f00;
    border-radius:50%;
    width:10px;
    height:10px;
}

  /* 主页快讯
 ============================================================================ */
.fastreading {
    background-color: #fff;
    border-bottom: 2px solid #e3e2d9;
    border-top: 3px solid #b91520;
    height: 70px;
    margin-top: 15px;
    overflow: hidden;
    position: relative;
}
.fastreading .txt-box {
    float: left;
    height: 10000px;
    overflow: hidden;
    position: absolute;
}
.fastreading div.list {
    height: 30px;
    overflow: hidden;
    padding: 22px 0;
    margin-bottom:2px;
}
.fastreading .txt-box ul li {
	color:#000;
    float: left;
    height: 17px;
    list-style: inside disc;
    margin-left: 30px;
    overflow: hidden;
    width: 360px;
}
.fastreading .txt-box ul li a {
	color:#000;
    font-family: "微软雅黑";
    font-size: 14px;
}
.fastreading .right-box {
    float: right;
    height: 70px;
    width: 35px;
}
.fastreading .more{
	position: absolute;
	right:17px;
	bottom:4px;
	color:#999;
	display:none;
}
.fastreading_btn {
    width:26px; margin:0px auto;position: relative;top:-9px;
}
.fastreading_btn span {
    background: #fcfbf0 url("../images/icons.png") repeat scroll 0 -19px;
    cursor: pointer;
    display: block;
    height: 18px;
    width: 26px;
}
.fastreading_btn span.stop {
    left: 0;
    position: absolute;
    top: 0;
}
.fastreading_btn span.play {
    background-position: 0 0;
    height: 0;
    left: 0;
    position: absolute;
    top: 9px;
}
.fastreading_show {
    padding: 22px 0;
}
.fastreading_show div.list {
    padding: 0;
}
.fastreading_show .txt-box {
    position: static;
}
.fastreading_show .cloned {
    display: none;
}

  /* 最热新闻
 ============================================================================ */
.Thermalpaper {
	margin-top:8px;
	width:390px;
}
.ThermalTitle {
	height:32px;
	width:390px;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
.Thermalpaper h2 {
	color:#92070a;
	font-size:14px;
	width:120px;
	float:left;
	height:30px;
	line-height:30px;
	text-align:center;
}
.Thermalpaper ul.ThermalUl li {
	list-style-type:none;
	float:left;
	display:block;
	height:32px;
	width:89px;
	text-align:center;
	line-height:32px;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	position:relative;
	top:-1px;

}
.Thermalpaper ul.ThermalUl li a {
	display:block;
	color:#000;
	width:89px;
	text-decoration:none;
}
.Thermalpaper ul.ThermalUl li.selectThermal a, .Thermalpaper ul.ThermalUl li a:hover {
	color:#92070a;
	position:absolute;
	width:89px;
	height:33px;
	border-top:1px solid #999;
	border-left:1px solid #999;
	border-right:1px solid #999;
	background-color:#f3f0e7;
	top:-1px;
	left:-1px;
	z-index:100;
}
.ThermalTxt {
	width:390px;
	clear:both;
	padding-top:10px;
	background-color:#f3f0e7;
	border:1px solid #999;
	margin-top:-1px;
	margin-left:-1px;
	display:none;
	float:left;
	z-index:-100;
}
.ThermalTxt ul {
	padding:0px 12px 4px 12px;
}
.Thermalpaper .selectThermal {
	display:block;
}
.Thermalpaper {
	width:390px;
	height:280px;
}
.ThermalTitle {
	height:32px;
	width:390px;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
.Thermalpaper h2 {
	color:#92070a;
	font-size:15px;
	width:120px;
	float:left;
	height:30px;
	line-height:30px;
	text-align:center;
	font-weight:bold;
}
.Thermalpaper ul.ThermalUl li {
	list-style-type:none;
	float:left;
	display:block;
	height:32px;
	width:89px;
	text-align:center;
	line-height:32px;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	position:relative;
	top:-1px;
}
.Thermalpaper ul.ThermalUl li a {
	display:block;
	color:#000;
	width:89px;
	text-decoration:none;
}
.Thermalpaper ul.ThermalUl li.selectThermal a, .Thermalpaper ul.ThermalUl li a:hover {
	color:#92070a;
	position:absolute;
	width:89px;
	height:33px;
	border-top:1px solid #999;
	border-left:1px solid #999;
	border-right:1px solid #999;
	background-color:#f3f0e7;
	top:-1px;
	left:-1px;
	/*z-index:100;*/
}
.ThermalTxt {
	width:390px;
	clear:both;
	padding-top:10px;
	background-color:#f3f0e7;
	border:1px solid #999;
	margin-top:-1px;
	margin-left:-1px;
	display:none;
	float:left;
	z-index:-100;
}
.ThermalTxt ul {
	padding:0px 12px 4px 12px;
}
.Thermalpaper .selectThermal {
	display:block;
}
.ThermalTxt ul li.Comment_0 {
	background-position: 0 0;
	display: block;
}
.ThermalTxt ul li {
	background:url(../images/list.jpg) no-repeat scroll 0 0 transparent;
	height: 17px;
	list-style-type: none;
	margin-bottom: 6px;
	padding-left: 26px;
	overflow:hidden;
}
.ThermalTxt ul li a {
	color: #000000;
	height: 17px;
	text-decoration: none;
	line-height:17px;
}
.ThermalTxt ul li a:hover {
	color: #9C1519;
	text-decoration: underline;
}
.ThermalTxt ul li.Comment_0 {
	background-position:0px 0px;
	display:block;
}
.ThermalTxt ul li.Comment_1 {
	background-position:0px -23px;
}
.ThermalTxt ul li.Comment_2 {
	background-position:0px -46px;
}
.ThermalTxt ul li.Comment_3 {
	background-position:0px -69px;
}
.ThermalTxt ul li.Comment_4 {
	background-position:0px -92px;
}
.ThermalTxt ul li.Comment_5 {
	background-position:0px -115px;
}
.ThermalTxt ul li.Comment_6 {
	background-position:0px -138px;
}
.ThermalTxt ul li.Comment_7 {
	background-position:0px -161px;
}
.ThermalTxt ul li.Comment_8 {
	background-position:0px -184px;
}
.ThermalTxt ul li.Comment_9 {
	background-position:0px -207px;
}
/*右侧悬浮
===========================================================*/.full_nav,.full_nav1{position: fixed;display: none;}
.full_nav a,.full_nav1 a{display: block;position: relative;}
.full_nav{bottom: 155px;}
.full_nav1{top: 370px;}
.full_nav1 .showGuancha span{background: url(/images/two_bar_code_app_download.png) no-repeat;display: none;width: 150px;background-size:100% ;height: 150px;position: absolute;right:-150px;top: 0;}
.full_nav1 .showGuancha:hover span{display: block;}
.full_nav1 a{width:74px;height:72px;background-image: url(/images/fullNav1_bg.png);}
.full_nav1 .sendcomment{background-position: 0 -1px;}
.full_nav1 .showGuancha{background-position: 0 -73px;}
.full_nav1 .changColer{background-position: 0 -145px;}