/* Reset */

html,body,div,span,applet,object,iframe,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,
dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,button,textarea,label,legend,p,blockquote,table,caption,tbody,tfoot,thead,tr,th,td,menu
{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body{line-height:1;color:#000;background:white;}:focus{outline:0;}table{border-collapse:collapse;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul,menu{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
button::-moz-focus-inner { padding: 0; border: 0 }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
input::-moz-focus-inner /*Remove button padding in FF*/ { border: 0; padding: 0; }

#body-wrapper {
    text-align: center;
    width: 100%;
}

/* copyright */

#template-footer .footer-copyright {
    font: normal 0 arial, sans-serif;
    display: inline-block;
    text-align: left;
}

#template-footer .footer-copyright .copyright-imgs {
    width: 41px;
    margin: 0 5px 0 0;
    float: left;
}

#template-footer .footer-copyright .copyright-imgs img:first-child {
    margin: 0 5px 5px 0;
}

#template-footer .footer-copyright .copyright-details {
    float: left;
}

#template-footer .copyright-bottom-line .ie10mail,
#template-footer .footer-copyright p,
#template-footer .copyright-bottom-line a {
    font-size: 10px;
    line-height: 15px;
}

#template-footer .footer-copyright img {
    width: 41px;
}

#template-footer .copyright-bottom-line a:last-child:after {
    display: none;
}

.ie10mail {
    display: none;
}

html[data-useragent*='MSIE 10.0'] #template-footer .copyright-bottom-line .ie10mail,
#template-footer .copyright-bottom-line a {
    position: relative;
    margin-right: 5px;
    display: inline-block;
}

#template-footer .copyright-bottom-line .ie10mail:after,
#template-footer .copyright-bottom-line a:after {
    content: '●';
    font-size: 4px;
    vertical-align: top;
    margin-left: 5px;
    text-decoration: none;
}

html[data-useragent*='MSIE 10.0'] #template-footer .copyright-bottom-line .mailto {
    display: none;
}

/* copyright mobile */

.mobile #template-footer .footer-copyright {
    width: 300px;
}

.mobile #template-footer .footer-copyright .copyright-imgs img:first-child {
    margin: 0 5px 3px 0;
}

.mobile #template-footer .footer-copyright .copyright-details {
    width: 254px;
}

.mobile #template-footer .footer-copyright p,
.mobile #template-footer .copyright-bottom-line a {
    font-size: 8px;
    line-height: 11px;
}