﻿
body{ font-family: "Arial","Helvetica",sans-serif; 
      margin:0;left:0;top:0;font:13px Arial;min-width:1000px;}
			.demoHeaders { margin-top: 2em; }
			#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
			#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
			ul#icons {margin: 0; padding: 0;}
			ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
			ul#icons span.ui-icon {float: left; margin: 0 4px;}
			
			.input-row {    clear: both;
    display: block;
    margin: 0 0 1em;
    }
    
.button-row {    clear: both;
    display: block;
    margin: 0 0 1em;}

.input-row label {    display: block;
    float: left;
    font-size: 1em;
    line-height: 1.3em;
    margin: .2em 0;
    padding: .4em 0;
    width: 8em;}
    
input[type="text"], input[type="password"] 
{
    display: block !important;
    float: none !important;
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #AD9C9C;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px rgba(34, 25, 25, 0.15) inset, 0 1px #FFFFFF;
    display: block;
    position: relative;
    transition: all 0.08s ease-in-out 0s;    
    z-index: 3;
    padding:.3em;
    font-size:1.3em;
    width: 16em;
	font-family:"helvetica neue",arial,sans-serif;}
    
input[type="text"]:focus, input[type="password"]:focus
{
    border-color: #ff8800;
    box-shadow: 0 1px rgba(32, 16, 0, 0.15) inset, 0 1px rgba(255, 255, 255, 0.8), 0 0 14px rgba(127, 64, 0, 0.35);
    }

    
.input-row input, .input-row textarea {    border: 1px solid #8D8D8D;
    display: block;
    float: left;
    font-family: Arial;
    font-size: 1.4em;
    padding: .3em;
    width: 16em;}
    
.input-row textarea {height:7em;}

hr {border: 0 none;
    height: 0;
    margin: 0;}

.clear {border: 0 none;
    clear: both;
    height: 0;}
    
.button {border: 0 none;
    border-radius: .4em;
    color: #FFFFFF;
    cursor: pointer;
    padding: 0.3em 0.6em;
    background-color: #4C7ED1;
    background-image: -moz-linear-gradient(center top , #5886C2 0px, #0E3E89 100%);
    border: 1px solid #444444;
    box-shadow: 2px 2px 5px #888888;
    cursor:pointer;
    font-size:1.3em;
    font-family:"helvetica neue",arial,sans-serif;
}

.button:hover {background-image: -moz-linear-gradient(center top , #0E3E89 0px, #5886C2 100%);
    box-shadow: 1px 1px 0 #1D52A3 inset, -1px -1px 0 #1D52A3 inset;
    color: #FFFFFF;
    cursor: pointer;
    text-shadow: 0 1px 0 #1D52A3;}

.graybutton {-moz-transition: all 0.218s ease 0s;
    -moz-user-select: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #DDDDDD);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    color: #666;
    cursor: default;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 8px 2;
    text-align: center;
    box-shadow: 1px 1px 3px #aaa;}
    
.graybutton:hover 
{
    background-image: -moz-linear-gradient(center top , #DDD, #F5F5F5);
    box-shadow: 1px 1px 0 #eee inset, -1px -1px 0 #eee inset;
    }
    
#sortable, #sortable1, #sortable2, #sortable3, #sortable4 {
    list-style-type: none;
    margin: 0;
    padding: 0 0 50px 0;       
    min-height:400px; 
}
#sortable li, #sortable1 li, #sortable2 li, #sortable3 li, #sortable4 li {
    width:100%;min-width:300px;
    margin: 3px 3px 3px 0;
    padding: 1px;    
}

.ui-resizable-helper { border: 2px dotted #f80;z-index:999; }

#sortabletabs {
    list-style-type: none;
    margin: 0 0 0 10px;
    padding: 0;
    border-left:1px solid #ccc;
}

#sortabletabs li {
    float: left;
    margin: 0;
    padding: 4px 15px;  
    border-right:1px solid #ccc;
    border-left:1px solid #f7f7f7;
    text-align:center;
    cursor:move;
    position:relative;
}

#sortabletabs li a:link, a:visited
{
    font-weight:bold;
    text-decoration:none;
    color:#666;
    text-shadow: 0 1px 0 #fff;
    cursor:pointer;
}

#sortabletabs li a:hover
{
    color:#F80;    
}

#settingslist {display:none;right:5px;top:22px;position:absolute;z-index:500;background-color:#eee;border:1px solid #ccc;padding:5px 20px;color:#666;}
.settings {float:right;margin-top:6px;margin-right:20px;}
.settings:hover > #settingslist {display:inherit;}
#settingslist:hover {display:inherit;}

.selected-tab {background:url(/images/tab-bg-sel.png) center bottom repeat-x;}

#sortabletabs li .tab-delete {display:none;}
#sortabletabs li.selected-tab .tab-delete {position:absolute;width:9px;height:9px;right:0;top:-4px;display:inherit;cursor:pointer;}

.failureNotification
{
    font-size: 1em;
    font-weight: bold;
    color: Red;
}


#top-bar {height:30px;padding:4px 10px 2px;background:#000000;
position:fixed;left:0;top:0;width:100%;z-index:999;}
#top-bar-old {height:30px;padding:4px 10px 2px;background: rgb(120,120,120); 
background: -moz-linear-gradient(top,  rgba(120,120,120,1) 0%, rgba(0,0,0,1) 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(120,120,120,1)), color-stop(100%,rgba(0,0,0,1))); 
background: -webkit-linear-gradient(top,  rgba(120,120,120,1) 0%,rgba(0,0,0,1) 100%); 
background: -o-linear-gradient(top,  rgba(120,120,120,1) 0%,rgba(0,0,0,1) 100%); 
background: -ms-linear-gradient(top,  rgba(120,120,120,1) 0%,rgba(0,0,0,1) 100%); 
background: linear-gradient(to bottom,  rgba(120,120,120,1) 0%,rgba(0,0,0,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); 
}
#top-bar ul {display:block;list-style:none outside none;
             margin:1px 0 0;padding:0;float:left;
             background:url(https://www.ighome.com/images/button-bar.jpg);
             border: 1px solid #333333;}
#top-bar ul li {display:inline-block;line-height:23px;padding:0;position:relative;vertical-align:top;
                border-left: 1px solid #070707; border-right: 1px solid #444444; float:left;}
#top-bar ul li:hover {background:url(https://www.ighome.com/images/button-bar-active.jpg);}
#top-bar ul li:first-child {border-left: none;}
#top-bar ul li:last-child {border-right: none;}
#top-bar ul li a:link, #top-bar ul li a:visited, #top-bar ul li a:active {color:#ccc;cursor:pointer;text-decoration:none;padding:5px 5px;font-weight:bold;
    font-size: 12px;text-align: center;}
#top-bar ul li a:hover {color:#f80;}
#loginform {display: none; right: 5px; top: 32px; position: absolute;
                z-index: 500; background-color: #eee; border: 1px solid #ccd; padding: 0 20px;
                box-shadow: 0 0 4px #000; color: #666;}
.account-region {float: right; color: #ccc; padding: 4px 10px 0 0; position: relative;}
#footer {margin:10px 0 0;padding:0px;background-color:rgba(200,200,200,0.6);}
#footer p {text-align:center;}
#footer a {color:#333;font-weight:bold;text-decoration:none;}
#footer a:visited {color:#333;font-weight:bold;text-decoration:none;}
#footer a:hover {text-decoration:underline;}

#tab-bar {background: url(/images/tab-bg.png) #eee; border-bottom: 1px solid #ccc;}
#add-tab-area {margin: 5px 0px 3px 8px; float: left; position: relative;}
#addtabform {display: none; left: 0px; top: 15px; position: absolute;
                    z-index: 500; background-color: #eee; border: 1px solid #ccd; padding: 0 20px;
                    box-shadow: 0 0 4px #000; color: #666;}
                    
#search-region {padding:20px 20px 20px 130px;border-bottom: 1px solid #E5E5E5 !important; 
}

.gadget-box {border: 1px solid #dcdcdc; 
             margin: 10px 0 0 10px; 
             position:relative;}
.gadget-box:hover {box-shadow: 0 2px 4px rgba(0,0,0,0.4);border-bottom:1px solid #999;}

.gadget-box .resizer {position:absolute;right:0;bottom:0;width:9px;height:9px;}

.gadget-header 
{
    background: -moz-linear-gradient(top,  rgba(221,221,221,0.6) 0%, rgba(221,221,221,0.9) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,221,221,0.6)), color-stop(100%,rgba(221,221,221,0.9)));
background: -webkit-linear-gradient(top,  rgba(221,221,221,0.6) 0%,rgba(221,221,221,0.9) 100%);
background: -o-linear-gradient(top,  rgba(221,221,221,0.6) 0%,rgba(221,221,221,0.9) 100%);
background: -ms-linear-gradient(top,  rgba(221,221,221,0.6) 0%,rgba(221,221,221,0.9) 100%);
background: linear-gradient(to bottom,  rgba(221,221,221,0.6) 0%,rgba(221,221,221,0.9) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
     border-bottom: 1px solid #dcdcdc;
                        color: #222; font-size: 13px; font-weight: bold; height: 24px; line-height: 24px;
                        overflow: hidden; padding: 0 5px 0 7px; position: relative; text-align: left;
                        cursor: move;
						text-shadow: 0 1px 0 #ccc;}
						
.gadget-frame {background: #fff; padding: 7px; position: relative;overflow:hidden;}
.gadget-frame iframe {width: 100%; height: 100%; border: 0 none; position: relative;}
.gadget-frame-fixed {background: #fff; padding: 7px; position: relative;}
.gadget-frame-fixed iframe {width: 100%; height: 100%; border: 0 none; position: relative;}
                            
.autocomplete_completionListElement {
    background-color: #fff;
    border: 1px solid buttonshadow;
    color: windowtext;
    height: 200px;
    list-style-type: none;
    margin: 0 !important;
    overflow: auto;
    text-align: left;
    padding:0;
}
.autocomplete_highlightedListItem {
    background-color: #FFFF99;
    color: black;
    padding: 1px;
}
.autocomplete_listItem {
    background-color: window;
    color: windowtext;
    padding: 1px;
}

.theme-list ul {display:block;list-style:none outside none;margin:0;padding:0;float:left;}
.theme-list ul li {display:inline-block;width:165px;padding:0;position:relative;
                   vertical-align:top;margin-bottom:10px;}
.theme-thumb {border:1px solid #999;box-shadow:0 2px 4px rgba(0,0,0,0.2);}

.choose-theme {float:right;
               margin-right:20px;
               padding-top:4px;}
               
.choose-theme a {font-weight:bold;
               text-decoration:none;
               color:#666;
               text-shadow: 0 1px 0 #fff;
               cursor:pointer;}
               
.choose-theme a:hover {color:#f80;}


    .byline {color:#666;margin-bottom:5px;}
#navlist
{
padding-left: 0;
margin-left: 0;
border-bottom: 1px solid #ccc;;
width: 300px;
}

#navlist li
{
list-style: none;
margin: 0;
padding: 0.25em 0.25em 0.25em 0.75em;
border-top: 1px solid #ccc;
}

#navlist li:hover
{
background:#eee;
}

#navlist li a { text-decoration: none; color:#444; }

#navlist li.selected
{
background:#000;
border-left:4px solid #f80;
}

#navlist li.selected a { color:#f80; font-weight:bold; }

.title-link {color:#222;text-decoration:none;text-shadow: 0 1px 0 #CCC;}
.title-link:visited {color:#222;}
.title-link:hover {color:#222;}

.system-message {
margin:15px 200px 4px;
padding:10px;
border-radius:6px;
background-color:#F0F0F0;
border:1px solid #BBBBBB;
color:#222222;
font-weight:bold;
background-image: -moz-linear-gradient(center top, #FAFAFA, #E9E9E9);
background-image: -webkit-linear-gradient(center top, #FAFAFA, #E9E9E9); 
background-image: -o-linear-gradient(center top, #FAFAFA, #E9E9E9); 
background-image: -ms-linear-gradient(center top, #FAFAFA, #E9E9E9); 
background-image: linear-gradient(center top, #FAFAFA, #E9E9E9); 
box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) inset, 0 2px 4px rgba(0, 0, 0, 0.4);
position:relative;
}


.tag-list:after
    {
        clear: both;
        content: "";
        display: table;
    }
    .tag-list
    {
        list-style-type: none;
        margin: 0 0 10px;
    }
    .tag-list li
    {
        float: left;
    }
    .tag-list li a:hover
    {
        -moz-transition: all 300ms ease 0s;
        background: none repeat scroll 0 0 #FF8800;
        border:1px solid #999;
        border-radius: 3px 3px 3px 3px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
        color: #000;
        display: block;
        float: left;
        font-family: "Helvetica Neue" ,Helvetica,Arial,sans-serif;
        font-size: 11px;
        font-weight: normal;
        line-height: 16px;
        margin: 0 3px 3px 0;
        padding: 2px 6px;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
        white-space: nowrap;
        text-decoration: none;
    }
    .tag-list li a
    {
        -moz-transition: all 300ms ease 0s;
        background: none repeat scroll 0 0 #ddd;
        border:1px solid #999;
        border-radius: 3px 3px 3px 3px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
        color: #666;
        display: block;
        float: left;
        font-family: "Helvetica Neue" ,Helvetica,Arial,sans-serif;
        font-size: 11px;
        font-weight: normal;
        line-height: 16px;
        margin: 0 3px 3px 0;
        padding: 2px 6px;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
        white-space: nowrap;
        text-decoration: none;
    }
    .tag-list li a.untag
    {
        margin: 0 3px 0 -5px;
        background: none repeat scroll 0 0 #bbb;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
    .tag-list li a.tag-link
    {
        -moz-transition: all 300ms ease 0s;
        background: none repeat scroll 0 0 #ddd;
        border-radius: 3px 3px 3px 3px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
        color: #666;
        display: block;
        float: left;
        font-family: "Helvetica Neue" ,Helvetica,Arial,sans-serif;
        font-size: 11px;
        font-weight: normal;
        line-height: 16px;
        margin: 0 3px 3px 0;
        padding: 2px 6px;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
        white-space: nowrap;
        text-decoration: none;
    }
    .tag-list li a.tag-link-selected
    {
        -moz-transition: all 300ms ease 0s;
        background: none repeat scroll 0 0 #FF8800;
        border-radius: 3px 3px 3px 3px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
        color: #000;
        display: block;
        float: left;
        font-family: "Helvetica Neue" ,Helvetica,Arial,sans-serif;
        font-size: 11px;
        font-weight: normal;
        line-height: 16px;
        margin: 0 3px 3px 0;
        padding: 2px 6px;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
        white-space: nowrap;
        text-decoration: none;
    }
    .tag-list li a.tag-link:hover
    {
        -moz-transition: all 300ms ease 0s;
        background: none repeat scroll 0 0 #FF8800;
        border:1px solid #7F9FB6;
        border-radius: 3px 3px 3px 3px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
        color: #000;
        display: block;
        float: left;
        font-family: "Helvetica Neue" ,Helvetica,Arial,sans-serif;
        font-size: 11px;
        font-weight: normal;
        line-height: 16px;
        margin: 0 3px 3px 0;
        padding: 2px 6px;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
        white-space: nowrap;
        text-decoration: none;
    }
    .tag-list li a.tag-link-selected:hover
    {
        -moz-transition: all 300ms ease 0s;
        background: none repeat scroll 0 0 #ddd;
        border:1px solid #7F9FB6;
        border-radius: 3px 3px 3px 3px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
        color: #666;
        display: block;
        float: left;
        font-family: "Helvetica Neue" ,Helvetica,Arial,sans-serif;
        font-size: 11px;
        font-weight: normal;
        line-height: 16px;
        margin: 0 3px 3px 0;
        padding: 2px 6px;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
        white-space: nowrap;
        text-decoration: none;
    }
    .tag-list li a.tag-count
    {
        margin: 0 3px 0 -5px;
        background: none repeat scroll 0 0 #7F9FB6;
        color:#fff;
        font-size:10px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

	.error-notification
	{
	    margin:20px 0;padding:5px;
	    font-weight:bold;
	    color:#fff;
	    text-shadow: 0 1px 0 #666;
	    font-size:15px;	
	background: #A5001D; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5OTAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #C5203D 0%, #A5001D 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C5203D), color-stop(100%,#A5001D)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #C5203D 0%,#A5001D 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #C5203D 0%,#A5001D 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #C5203D 0%,#A5001D 100%); /* IE10+ */
background: linear-gradient(to bottom,  #C5203D 0%,#A5001D 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C5203D', endColorstr='#A5001D',GradientType=0 ); /* IE6-8 */

	}
	.error-notification .icon 
	{
	    background: url("../images/custom_message-error.png") repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 50px;
    margin-right: 5px;
    margin-top: -15px;
    width: 53px;}
	
	.confirm-notification
	{
	    margin:20px 0;padding:5px;
	    font-weight:bold;
	    color:#fff;
	    text-shadow: 0 1px 0 #666;
	    font-size:15px;	
	background: #678D30; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwY2MwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDk5MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #87AD50 0%, #678D30 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87AD50), color-stop(100%,#678D30)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #87AD50 0%,#678D30 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #87AD50 0%,#678D30 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #87AD50 0%,#678D30 100%); /* IE10+ */
background: linear-gradient(to bottom,  #87AD50 0%,#678D30 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87AD50', endColorstr='#678D30',GradientType=0 ); /* IE6-8 */

	}
	
	.confirm-notification .icon     
	{
	background: url("../images/custom_message-confirm.png") repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 50px;
    margin-right: 5px;
    margin-top: -15px;
    width: 53px;}
	
	.message-notification
	{
	    margin:25px 0;padding:5px;
	    font-weight:bold;
	    color:#000;
	    text-shadow: 0 1px 0 #ccc;
	    font-size:15px;	
	background: #ffd65e; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZDY1ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZWJmMDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffd65e 0%, #febf04 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd65e), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffd65e 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffd65e 0%,#febf04 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffd65e 0%,#febf04 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffd65e 0%,#febf04 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 ); /* IE6-8 */

	}
	
	.message-notification .icon     
	{
	background: url("../images/custom_message-info.png") repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 50px;
    margin-right: 5px;
    margin-top: -15px;
    width: 50px;}
    
    .message-notification-christmas
	{
	    margin:25px 0;padding:5px;
	    font-weight:bold;
	    color:#fff;
	    text-shadow: 0 1px 0 #666;
	    font-size:15px;	
	background: #ffd65e; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwY2MwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDk5MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #87AD50 0%, #678D30 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87AD50), color-stop(100%,#678D30)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #87AD50 0%,#678D30 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #87AD50 0%,#678D30 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #87AD50 0%,#678D30 100%); /* IE10+ */
background: linear-gradient(to bottom,  #87AD50 0%,#678D30 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87AD50', endColorstr='#678D30',GradientType=0 ); /* IE6-8 */

	}
	
	.message-notification-christmas .icon     
	{
	background: url("../images/mistletoe.png") repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 64px;
    margin-right: 5px;
    margin-top: -22px;
    width: 64px;}
    
    .message-notification a:link, .message-notification a:visited, .message-notification a:active
	{
	    font-size:11px;font-weight:normal;color:#ccc;text-decoration:none;
	}
	
	.message-notification a:hover
	{
	    color:#fff;text-decoration:underline;
	}
	
	.sortable-placeholder
	{border:1px dashed #999;padding:15px;margin:15px;height:300px;}
	
	.gear-link a:link, .gear-link a:visited, .gear-link a:active 
	{
    color: #666666;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
	}
	
	.gear-link a:hover 
	{
	    color:#ff8800;
	}
	
	.ui-autocomplete {border:1px solid #ccc;}