@charset "UTF-8";

body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}


/* --------------------------------------------------
  Virsion : 2.0
  Last Update : 2010.05.23
-------------------------------------------------- */




/* ########## / デフォルト解除時 / clear default / ######################################## 

body, area, param, li {
	font-size: 0px;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
}
div, h1, h2, h3, h4, h5, h6, p, address {
	font-size: 0px;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
}
hr, pre, ul, ol, table, form {
	font-size: 0px;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
}
span, em, strong, sup, sub {
	font-size: 0px;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
}
br, a, map {
	font-size: 0px;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
}
img, object {
	font-size: 0px;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
}
tr, td, th, caption {
	font-size: 0px;
	line-height: 0px;
	margin: 0px;
}
input, textarea, button {
	font-size: 0px;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
}
select, option, optgroup {
	margin: 0px;
}
*/



/* ########## / 擬似クラスセレクタ / pseudo-classes selector / ######################################## */


/* ========== / 擬似クラスセレクタ：個別：リンクカラー / pseudo-classes selector : user : link color / ======================================== */

/* リンクカラー・訪問済みリンク・ロールオーバーリンク・アクティブリンク */
.pcc99:link {
	color: #000000;
}
.pcc99:visited {
	color: #000000;
}
.pcc99:hover {
	color: #000000;
}
.pcc99:active {
	color: #000000;
}
.pcc00:link {
	color: #FFFFFF;
}
.pcc00:visited {
	color: #FFFFFF;
}
.pcc00:hover {
	color: #FFFFFF;
}
.pcc00:active {
	color: #FFFFFF;
}




/* ########## / タイプ / ######################################## */


/* ========== / タイプ：フォント / ======================================== */

.t0 {
	font-size: 0px;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
}
.t1 {
	margin: 0px;
	padding: 0px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", sans-serif;
}
.t2 {
	margin: 0px;
	padding: 0px;
	font-family: "ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3", serif;
}
.t3 {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", sans-serif;
}
.t4 {
	font-family: "ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3", serif;
}
.t10 {
	font-size: 0px;
	line-height: 0px;
	margin: 0px;
}
.t11 {
	margin: 0px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", sans-serif;
}
.t12 {
	margin: 0px;
	font-family: "ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3", serif;
}


/* ========== / タイプ：サイズ / ======================================== */

.s00 {
	font-size: 00px;
}
.s08 {
	font-size: 8px;
}
.s09 {
	font-size: 9px;
}
.s10 {
	font-size: 10px;
}
.s12 {
	font-size: 12px;
}
.s14 {
	font-size: 14px;
}
.s15 {
	font-size: 15px;
}
.s16 {
	font-size: 16px;
	line-height: 140%;
}
.s18 {
	font-size: 18px;
}
.s20 {
	font-size: 20px;
}
.s21 {
	font-size: 21px;
}
.s24 {
	font-size: 24px;
}
.s28 {
	font-size: 28px;
}
.s30 {
	font-size: 30px;
}
.s32 {
	font-size: 32px;
}
.s36 {
	font-size: 36px;
}
.s40 {
	font-size: 40px;
}
.s42 {
	font-size: 42px;
}
.s48 {
	font-size: 48px;
}
.s60 {
	font-size: 60px;
}
.s72 {
	font-size: 72px;
}


/* ========== / タイプ：スタイル / ======================================== */

.fs0 {
	font-style: normal;
}
.fs1 {
	font-style: italic;
}
.fs2 {
	font-style: oblique;
}


/* ========== / タイプ：ライン高 / ======================================== */

.l0 {
	line-height: 0.00;
}
.l1 {
	line-height: 1.00;
}
.l2 {
	line-height: 1.10;
}
.l3 {
	line-height: 1.25;
}
.l4 {
	line-height: 1.50;
}
.l5 {
	line-height: 1.75;
}
.l6 {
	line-height: 2.00;
}


/* ========== / タイプ：飾り / ======================================== */

.e0 {
	text-decoration: none;
}
.e1 {
	text-decoration: underline;
}
.e2 {
	text-decoration: line-through;
}
.e3 {
	text-decoration: overline;
}


/* ========== / タイプ：ウエイト / ======================================== */

.fw0 {
	font-weight: normal;
}
.fw1 {
	font-weight: bold;
}
.fw2 {
	font-weight: bolder;
}
.fw3 {
	font-weight: lighter;
}


/* ========== / タイプ：バリアント / ======================================== */

.fv0 {
	font-variant: normal;
}
.fv1 {
	font-variant: small-caps;
}


/* ========== / タイプ：大文字/小文字 / ======================================== */

.ft0 {
	text-transform: none;
}
.ft1 {
	text-transform: capitalize;
}
.ft2 {
	text-transform: uppercase;
}
.ft3 {
	text-transform: lowercase;
}


/* ========== / タイプ：カラー / ======================================== */

.c99 {
	color: #000000;
}
.c00 {
	color: #FFFFFF;
}


/* ########## / 背景 / ######################################## */


/* ========== / 背景：背景色 / ======================================== */

.b99 {
	background-color: #000000;
}
.b00 {
	background-color: #FFFFFF;
}
.bred {
	background-color: #FF0000;
}
.bblue {
	background-color: #1e77d3;
}
.bgreen {
	background-color: #35b338;
}
.borange {
	background-color: #fd6300;
}


/* ========== / 背景：繰り返し / ======================================== */

.br0 {
	background-repeat: no-repeat;
}
.br1 {
	background-repeat: repeat;
}
.br2 {
	background-repeat: repeat-x;
}
.br3 {
	background-repeat: repeat-y;
}


/* ========== / 背景：添付 / ======================================== */

.ba1 {
	background-attachment: scroll;
}
.ba2 {
	background-attachment: fixed;
}


/* ========== / 背景：水平位置・垂直位置 / ======================================== */

.bplt {
	background-position: left top;
}
.bpct {
	background-position: center top;
}
.bprt {
	background-position: right top;
}
.bplc {
	background-position: left center;
}
.bpcc {
	background-position: center center;
}
.bprc {
	background-position: right center;
}
.bplb {
	background-position: left bottom;
}
.bpcb {
	background-position: center bottom;
}
.bprb {
	background-position: right bottom;
}




/* ########## / ブロック / ######################################## */


/* ========== / ブロック：単語間隔 / ======================================== */

.ws0 {
	word-spacing: normal;
}
.ws1 {
	word-spacing: 0.5em;
}
.ws2 {
	word-spacing: 1.0em;
}


/* ========== / ブロック：文字間隔 / ======================================== */

.ls0 {
	letter-spacing: 0.0em;
}
.ls1 {
	letter-spacing: 0.5em;
}
.ls2 {
	letter-spacing: 1.0em;
}


/* ========== / ブロック：縦に整列 / ======================================== */

.y0 {
	vertical-align: baseline;
}
.y1 {
	vertical-align: sub;
}
.y2 {
	vertical-align: super;
}
.y3 {
	vertical-align: top;
}
.y4 {
	vertical-align: text-top;
}
.y5 {
	vertical-align: middle;
}
.y6 {
	vertical-align: bottom;
}
/*
.y7 {
	vertical-align: text-botom;
}
*/
.y005p {
vertical-align: 005%;
}
.y010p {
vertical-align: 010%;
}
.y015p {
vertical-align: 015%;
}
.y020p {
vertical-align: 020%;
}
.y025p {
vertical-align: 025%;
}
.y030p {
vertical-align: 030%;
}
.y035p {
vertical-align: 035%;
}
.y040p {
vertical-align: 040%;
}
.y045p {
vertical-align: 045%;
}
.y050p {
vertical-align: 050%;
}
.y055p {
vertical-align: 055%;
}
.y060p {
vertical-align: 060%;
}
.y065p {
vertical-align: 065%;
}
.y070p {
vertical-align: 070%;
}
.y075p {
vertical-align: 075%;
}
.y080p {
vertical-align: 080%;
}
.y085p {
vertical-align: 085%;
}
.y090p {
vertical-align: 090%;
}
.y095p {
vertical-align: 095%;
}
.y100p {
vertical-align: 100%;
} 


/* ========== / ブロック：テキストの行揃え / ======================================== */

.x1 {
	text-align: left;
}
.x2 {
	text-align: center;
}
.x3 {
	text-align: right;
}
.x4 {
	text-align: justify;
}


/* ========== / ブロック：テキストインデント / ======================================== */

.n0 {
	text-indent: 0.0em;
}
.n1 {
	text-indent: 1.0em;
}


/* ========== / ブロック：ホワイトスペース / ======================================== */

.q0 {
	white-space: normal;
}
.q1 {
	white-space: pre;
}
.q2 {
	white-space: nowrap;
}


/* ========== /* ブロック：表示 / ======================================== */

.d0 {
	display: none;
}
.d1 {
	display: inline;
}
.d2 {
	display: block;
}
.d3 {
	display: list-item;
}




/* ########## / ボックス / ######################################## */


/* ========== / ボックス：フロート / ======================================== */

.f0 {
	float: none;
}

.f1 {
	float: left;
}

.f2 {
	float: right;
}


/* ========== / ボックス：クリア / ======================================== */

.r0 {
	clear: none;
}
.r1 {
	clear: left;
}
.r2 {
	clear: right;
}
.r3 {
	clear: both;
}




/* ########## / ボーダー / ######################################## */


/* ========== / ボーダー：スタイル / ======================================== */

/* すべて */
.ia0 {
	border-style: none;
}
.ia1 {
	border-style: dotted;
}
.ia2 {
	border-style: dashed;
}
.ia3 {
	border-style: solid;
}
.ia4 {
	border-style: double;
}
.ia5 {
	border-style: groove;
}
.ia6 {
	border-style: ridge;
}
.ia7 {
	border-style: inset;
}
.ia8 {
	border-style: outset;
}

/* 上 */
.it0 {
	border-top-style: none;
}
.it1 {
	border-top-style: dotted;
}
.it2 {
	border-top-style: dashed;
}
.it3 {
	border-top-style: solid;
}
.it4 {
	border-top-style: double;
}
.it5 {
	border-top-style: groove;
}
.it6 {
	border-top-style: ridge;
}
.it7 {
	border-top-style: inset;
}
.it8 {
	border-top-style: outset;
}

/* 右 */
.ir0 {
	border-right-style: none;
}
.ir1 {
	border-right-style: dotted;
}
.ir2 {
	border-right-style: dashed;
}
.ir3 {
	border-right-style: solid;
}
.ir4 {
	border-right-style: double;
}
.ir5 {
	border-right-style: groove;
}
.ir6 {
	border-right-style: ridge;
}
.ir7 {
	border-right-style: inset;
}
.ir8 {
	border-right-style: outset;
}

/* 下 */
.ib0 {
	border-bottom-style: none;
}
.ib1 {
	border-bottom-style: dotted;
}
.ib2 {
	border-bottom-style: dashed;
}
.ib3 {
	border-bottom-style: solid;
}
.ib4 {
	border-bottom-style: double;
}
.ib5 {
	border-bottom-style: groove;
}
.ib6 {
	border-bottom-style: ridge;
}
.ib7 {
	border-bottom-style: inset;
}
.ib8 {
	border-bottom-style: outset;
}

/* 左 */
.il0 {
	border-left-style: none;
}
.il1 {
	border-left-style: dotted;
}
.il2 {
	border-left-style: dashed;
}
.il3 {
	border-left-style: solid;
}
.il4 {
	border-left-style: double;
}
.il5 {
	border-left-style: groove;
}
.il6 {
	border-left-style: ridge;
}
.il7 {
	border-left-style: inset;
}
.il8 {
	border-left-style: outset;
}


/* ========== / ボーダー：幅 / ======================================== */

/* すべて */
.ja01 {
	border-width: 01px;
}
.ja02 {
	border-width: 02px;
}
.ja03 {
	border-width: 03px;
}
.ja04 {
	border-width: 04px;
}
.ja05 {
	border-width: 05px;
}
.ja06 {
	border-width: 06px;
}
.ja07 {
	border-width: 07px;
}
.ja08 {
	border-width: 08px;
}
.ja09 {
	border-width: 09px;
}
.ja10 {
	border-width: 10px;
}

/* 上 */
.jt01 {
	border-top-width: 01px;
}
.jt02 {
	border-top-width: 02px;
}
.jt03 {
	border-top-width: 03px;
}
.jt04 {
	border-top-width: 04px;
}
.jt05 {
	border-top-width: 05px;
}
.jt06 {
	border-top-width: 06px;
}
.jt07 {
	border-top-width: 07px;
}
.jt08 {
	border-top-width: 08px;
}
.jt09 {
	border-top-width: 09px;
}
.jt10 {
	border-top-width: 10px;
}

/* 右 */
.jr01 {
	border-right-width: 01px;
}
.jr02 {
	border-right-width: 02px;
}
.jr03 {
	border-right-width: 03px;
}
.jr04 {
	border-right-width: 04px;
}
.jr05 {
	border-right-width: 05px;
}
.jr06 {
	border-right-width: 06px;
}
.jr07 {
	border-right-width: 07px;
}
.jr08 {
	border-right-width: 08px;
}
.jr09 {
	border-right-width: 09px;
}
.jr10 {
	border-right-width: 10px;
}

/* 下 */
.jb01 {
	border-bottom-width: 01px;
}
.jb02 {
	border-bottom-width: 02px;
}
.jb03 {
	border-bottom-width: 03px;
}
.jb04 {
	border-bottom-width: 04px;
}
.jb05 {
	border-bottom-width: 05px;
}
.jb06 {
	border-bottom-width: 06px;
}
.jb07 {
	border-bottom-width: 07px;
}
.jb08 {
	border-bottom-width: 08px;
}
.jb09 {
	border-bottom-width: 09px;
}
.jb10 {
	border-bottom-width: 10px;
}

/* 左 */
.jl01 {
	border-left-width: 01px;
}
.jl02 {
	border-left-width: 02px;
}
.jl03 {
	border-left-width: 03px;
}
.jl04 {
	border-left-width: 04px;
}
.jl05 {
	border-left-width: 05px;
}
.jl06 {
	border-left-width: 06px;
}
.jl07 {
	border-left-width: 07px;
}
.jl08 {
	border-left-width: 08px;
}
.jl09 {
	border-left-width: 09px;
}
.jl10 {
	border-left-width: 10px;
}


/* ========== / ボーダー：カラー / ======================================== */

/* すべて */
.ka99 {
	border-color: #000000;
}
.ka00 {
	border-color: #FFFFFF;
}

/* 上 */
.kt99 {
	border-top-color: #000000;
}
.kt00 {
	border-top-color: #FFFFFF;
}

/* 右 */
.kr99 {
	border-right-color: #000000;
}
.kr00 {
	border-right-color: #FFFFFF;
}

/* 下 */
.kb99 {
	border-bottom-color: #000000;
}
.kb00 {
	border-bottom-color: #FFFFFF;
}

/* 左 */
.kl99 {
	border-left-color: #000000;
}
.kl00 {
	border-left-color: #FFFFFF;
}




/* ########## / リスト / ######################################## */


/* ========== / リスト：タイプ / ======================================== */

.g0 {
	list-style-type: none;
}
.g1 {
	list-style-type: disc;
}
.g2 {
	list-style-type: circle;
}
.g3 {
	list-style-type: square;
}
.g4 {
	list-style-type: decimal;
}
.g5 {
	list-style-type: lower-roman;
}
.g6 {
	list-style-type: upper-roman;
}
.g7 {
	list-style-type: lower-alpha;
}
.g8 {
	list-style-type: upper-alpha;
}


/* ========== / リスト：位置 / ======================================== */

.gp1 {
	list-style-position: inside;
}
.gp2 {
	list-style-position: outside;
}




/* ########## / 位置 / ######################################## */


/* ========== / 位置：タイプ / ======================================== */

.a1 {
	position: absolute;
}
.a2 {
	position: fixed;
}
.a3 {
	position: relative;
}
.a4 {
	position: static;
}


/* ========== / 位置：可視性 / ======================================== */

.v0 {
	visibility: inherit;
}
.v1 {
	visibility: visible;
}
.v2 {
	visibility: hidden;
}



/* ========== / 位置：Zインデックス / ======================================== */

.z99 {
	z-index: auto;
}
.z00 {
	z-index: 00;
}
.z01 {
	z-index: 01;
}
.z02 {
	z-index: 02;
}
.z03 {
	z-index: 03;
}
.z04 {
	z-index: 04;
}
.z05 {
	z-index: 05;
}
.z06 {
	z-index: 06;
}
.z07 {
	z-index: 07;
}
.z08 {
	z-index: 08;
}
.z09 {
	z-index: 09;
}
.z10 {
	z-index: 10;
}


/* ========== / 位置：オーバーフロー / ======================================== */

.o9 {
	overflow: auto;
}
.o1 {
	overflow: visible;
}
.o2 {
	overflow: hidden;
}
.o3 {
	overflow: scroll;
}



/* ========== / 位置：切り抜き / ======================================== */

.cp9 {
	clip: rect(auto,auto,auto,auto);
}
.cp0 {
	clip: rect(000px,auto,auto,000px);
}