@charset "UTF-8";




/* --------------------------------------------------
  Virsion : 2.0
  Last Update : 2010.05.23
-------------------------------------------------- */




/* ########## / ボックス / ######################################## */


/* ========== / ボックス：幅 / ======================================== */

.w005p {
	width: 005%;
}
.w010p {
	width: 010%;
}
.w015p {
	width: 015%;
}
.w020p {
	width: 020%;
}
.w025p {
	width: 025%;
}
.w030p {
	width: 030%;
}
.w035p {
	width: 035%;
}
.w040p {
	width: 040%;
}
.w045p {
	width: 045%;
}
.w050p {
	width: 050%;
}
.w055p {
	width: 055%;
}
.w060p {
	width: 060%;
}
.w065p {
	width: 065%;
}
.w070p {
	width: 070%;
}
.w075p {
	width: 075%;
}
.w080p {
	width: 080%;
}
.w085p {
	width: 085%;
}
.w090p {
	width: 090%;
}
.w095p {
	width: 095%;
}
.w100p {
	width: 100%;
}
.w999 {
	width: auto;
}
.w000 {
	width: 000px;
}
.w001 {
	width: 001px;
}
.w002 {
	width: 002px;
}
.w003 {
	width: 003px;
}
.w004 {
	width: 004px;
}
.w005 {
	width: 005px;
}
.w006 {
	width: 006px;
}
.w007 {
	width: 007px;
}
.w008 {
	width: 008px;
}
.w009 {
	width: 009px;
}
.w010 {
	width: 010px;
}
.w011 {
	width: 011px;
}
.w012 {
	width: 012px;
}
.w013 {
	width: 013px;
}
.w014 {
	width: 014px;
}
.w015 {
	width: 015px;
}
.w016 {
	width: 016px;
}
.w017 {
	width: 017px;
}
.w018 {
	width: 018px;
}
.w019 {
	width: 019px;
}
.w020 {
	width: 020px;
}
.w021 {
	width: 021px;
}
.w022 {
	width: 022px;
}
.w023 {
	width: 023px;
}
.w024 {
	width: 024px;
}
.w025 {
	width: 025px;
}
.w026 {
	width: 026px;
}
.w027 {
	width: 027px;
}
.w028 {
	width: 028px;
}
.w029 {
	width: 029px;
}
.w030 {
	width: 030px;
}
.w031 {
	width: 031px;
}
.w032 {
	width: 032px;
}
.w033 {
	width: 033px;
}
.w034 {
	width: 034px;
}
.w035 {
	width: 035px;
}
.w036 {
	width: 036px;
}
.w037 {
	width: 037px;
}
.w038 {
	width: 038px;
}
.w039 {
	width: 039px;
}
.w040 {
	width: 040px;
}
.w041 {
	width: 041px;
}
.w042 {
	width: 042px;
}
.w043 {
	width: 043px;
}
.w044 {
	width: 044px;
}
.w045 {
	width: 045px;
}
.w046 {
	width: 046px;
}
.w047 {
	width: 047px;
}
.w048 {
	width: 048px;
}
.w049 {
	width: 049px;
}
.w050 {
	width: 050px;
}
.w051 {
	width: 051px;
}
.w052 {
	width: 052px;
}
.w053 {
	width: 053px;
}
.w054 {
	width: 054px;
}
.w055 {
	width: 055px;
}
.w056 {
	width: 056px;
}
.w057 {
	width: 057px;
}
.w058 {
	width: 058px;
}
.w059 {
	width: 059px;
}
.w060 {
	width: 060px;
}
.w061 {
	width: 061px;
}
.w062 {
	width: 062px;
}
.w063 {
	width: 063px;
}
.w064 {
	width: 064px;
}
.w065 {
	width: 065px;
}
.w066 {
	width: 066px;
}
.w067 {
	width: 067px;
}
.w068 {
	width: 068px;
}
.w069 {
	width: 069px;
}
.w070 {
	width: 070px;
}
.w071 {
	width: 071px;
}
.w072 {
	width: 072px;
}
.w073 {
	width: 073px;
}
.w074 {
	width: 074px;
}
.w075 {
	width: 075px;
}
.w076 {
	width: 076px;
}
.w077 {
	width: 077px;
}
.w078 {
	width: 078px;
}
.w079 {
	width: 079px;
}
.w080 {
	width: 080px;
}
.w081 {
	width: 081px;
}
.w082 {
	width: 082px;
}
.w083 {
	width: 083px;
}
.w084 {
	width: 084px;
}
.w085 {
	width: 085px;
}
.w086 {
	width: 086px;
}
.w087 {
	width: 087px;
}
.w088 {
	width: 088px;
}
.w089 {
	width: 089px;
}
.w090 {
	width: 090px;
}
.w091 {
	width: 091px;
}
.w092 {
	width: 092px;
}
.w093 {
	width: 093px;
}
.w094 {
	width: 094px;
}
.w095 {
	width: 095px;
}
.w096 {
	width: 096px;
}
.w097 {
	width: 097px;
}
.w098 {
	width: 098px;
}
.w099 {
	width: 099px;
}
.w100 {
	width: 100px;
}


/* ========== / ボックス：高さ / ======================================== */

.h005p {
	height: 005%;
}
.h010p {
	height: 010%;
}
.h015p {
	height: 015%;
}
.h020p {
	height: 020%;
}
.h025p {
	height: 025%;
}
.h030p {
	height: 030%;
}
.h035p {
	height: 035%;
}
.h040p {
	height: 040%;
}
.h045p {
	height: 045%;
}
.h050p {
	height: 050%;
}
.h055p {
	height: 055%;
}
.h060p {
	height: 060%;
}
.h065p {
	height: 065%;
}
.h070p {
	height: 070%;
}
.h075p {
	height: 075%;
}
.h080p {
	height: 080%;
}
.h085p {
	height: 085%;
}
.h090p {
	height: 090%;
}
.h095p {
	height: 095%;
}
.h100p {
	height: 100%;
}
.h999 {
	height: auto;
}
.h000 {
	height: 000px;
}
.h001 {
	height: 001px;
}
.h002 {
	height: 002px;
}
.h003 {
	height: 003px;
}
.h004 {
	height: 004px;
}
.h005 {
	height: 005px;
}
.h006 {
	height: 006px;
}
.h007 {
	height: 007px;
}
.h008 {
	height: 008px;
}
.h009 {
	height: 009px;
}
.h010 {
	height: 010px;
}
.h011 {
	height: 011px;
}
.h012 {
	height: 012px;
}
.h013 {
	height: 013px;
}
.h014 {
	height: 014px;
}
.h015 {
	height: 015px;
}
.h016 {
	height: 016px;
}
.h017 {
	height: 017px;
}
.h018 {
	height: 018px;
}
.h019 {
	height: 019px;
}
.h020 {
	height: 020px;
}
.h021 {
	height: 021px;
}
.h022 {
	height: 022px;
}
.h023 {
	height: 023px;
}
.h024 {
	height: 024px;
}
.h025 {
	height: 025px;
}
.h026 {
	height: 026px;
}
.h027 {
	height: 027px;
}
.h028 {
	height: 028px;
}
.h029 {
	height: 029px;
}
.h030 {
	height: 030px;
}
.h031 {
	height: 031px;
}
.h032 {
	height: 032px;
}
.h033 {
	height: 033px;
}
.h034 {
	height: 034px;
}
.h035 {
	height: 035px;
}
.h036 {
	height: 036px;
}
.h037 {
	height: 037px;
}
.h038 {
	height: 038px;
}
.h039 {
	height: 039px;
}
.h040 {
	height: 040px;
}
.h041 {
	height: 041px;
}
.h042 {
	height: 042px;
}
.h043 {
	height: 043px;
}
.h044 {
	height: 044px;
}
.h045 {
	height: 045px;
}
.h046 {
	height: 046px;
}
.h047 {
	height: 047px;
}
.h048 {
	height: 048px;
}
.h049 {
	height: 049px;
}
.h050 {
	height: 050px;
}
.h051 {
	height: 051px;
}
.h052 {
	height: 052px;
}
.h053 {
	height: 053px;
}
.h054 {
	height: 054px;
}
.h055 {
	height: 055px;
}
.h056 {
	height: 056px;
}
.h057 {
	height: 057px;
}
.h058 {
	height: 058px;
}
.h059 {
	height: 059px;
}
.h060 {
	height: 060px;
}
.h061 {
	height: 061px;
}
.h062 {
	height: 062px;
}
.h063 {
	height: 063px;
}
.h064 {
	height: 064px;
}
.h065 {
	height: 065px;
}
.h066 {
	height: 066px;
}
.h067 {
	height: 067px;
}
.h068 {
	height: 068px;
}
.h069 {
	height: 069px;
}
.h070 {
	height: 070px;
}
.h071 {
	height: 071px;
}
.h072 {
	height: 072px;
}
.h073 {
	height: 073px;
}
.h074 {
	height: 074px;
}
.h075 {
	height: 075px;
}
.h076 {
	height: 076px;
}
.h077 {
	height: 077px;
}
.h078 {
	height: 078px;
}
.h079 {
	height: 079px;
}
.h080 {
	height: 080px;
}
.h081 {
	height: 081px;
}
.h082 {
	height: 082px;
}
.h083 {
	height: 083px;
}
.h084 {
	height: 084px;
}
.h085 {
	height: 085px;
}
.h086 {
	height: 086px;
}
.h087 {
	height: 087px;
}
.h088 {
	height: 088px;
}
.h089 {
	height: 089px;
}
.h090 {
	height: 090px;
}
.h091 {
	height: 091px;
}
.h092 {
	height: 092px;
}
.h093 {
	height: 093px;
}
.h094 {
	height: 094px;
}
.h095 {
	height: 095px;
}
.h096 {
	height: 096px;
}
.h097 {
	height: 097px;
}
.h098 {
	height: 098px;
}
.h099 {
	height: 099px;
}
.h100 {
	height: 100px;
}


/* ========== / ボックス：余白 / ======================================== */

/* ボックス：余白：すべて */
.pa005p {
	padding: 005%;
}
.pa010p {
	padding: 010%;
}
.pa015p {
	padding: 015%;
}
.pa020p {
	padding: 020%;
}
.pa025p {
	padding: 025%;
}
.pa030p {
	padding: 030%;
}
.pa035p {
	padding: 035%;
}
.pa040p {
	padding: 040%;
}
.pa045p {
	padding: 045%;
}
.pa050p {
	padding: 050%;
}
.pa055p {
	padding: 055%;
}
.pa060p {
	padding: 060%;
}
.pa065p {
	padding: 065%;
}
.pa070p {
	padding: 070%;
}
.pa075p {
	padding: 075%;
}
.pa080p {
	padding: 080%;
}
.pa085p {
	padding: 085%;
}
.pa090p {
	padding: 090%;
}
.pa095p {
	padding: 095%;
}
.pa100p {
	padding: 100%;
}
.pa000 {
	padding: 000px;
}
.pa001 {
	padding: 001px;
}
.pa002 {
	padding: 002px;
}
.pa003 {
	padding: 003px;
}
.pa004 {
	padding: 004px;
}
.pa005 {
	padding: 005px;
}
.pa006 {
	padding: 006px;
}
.pa007 {
	padding: 007px;
}
.pa008 {
	padding: 008px;
}
.pa009 {
	padding: 009px;
}
.pa010 {
	padding: 010px;
}
.pa011 {
	padding: 011px;
}
.pa012 {
	padding: 012px;
}
.pa013 {
	padding: 013px;
}
.pa014 {
	padding: 014px;
}
.pa015 {
	padding: 015px;
}
.pa016 {
	padding: 016px;
}
.pa017 {
	padding: 017px;
}
.pa018 {
	padding: 018px;
}
.pa019 {
	padding: 019px;
}
.pa020 {
	padding: 020px;
}
.pa021 {
	padding: 021px;
}
.pa022 {
	padding: 022px;
}
.pa023 {
	padding: 023px;
}
.pa024 {
	padding: 024px;
}
.pa025 {
	padding: 025px;
}
.pa026 {
	padding: 026px;
}
.pa027 {
	padding: 027px;
}
.pa028 {
	padding: 028px;
}
.pa029 {
	padding: 029px;
}
.pa030 {
	padding: 030px;
}
.pa031 {
	padding: 031px;
}
.pa032 {
	padding: 032px;
}
.pa033 {
	padding: 033px;
}
.pa034 {
	padding: 034px;
}
.pa035 {
	padding: 035px;
}
.pa036 {
	padding: 036px;
}
.pa037 {
	padding: 037px;
}
.pa038 {
	padding: 038px;
}
.pa039 {
	padding: 039px;
}
.pa040 {
	padding: 040px;
}
.pa041 {
	padding: 041px;
}
.pa042 {
	padding: 042px;
}
.pa043 {
	padding: 043px;
}
.pa044 {
	padding: 044px;
}
.pa045 {
	padding: 045px;
}
.pa046 {
	padding: 046px;
}
.pa047 {
	padding: 047px;
}
.pa048 {
	padding: 048px;
}
.pa049 {
	padding: 049px;
}
.pa050 {
	padding: 050px;
}
.pa051 {
	padding: 051px;
}
.pa052 {
	padding: 052px;
}
.pa053 {
	padding: 053px;
}
.pa054 {
	padding: 054px;
}
.pa055 {
	padding: 055px;
}
.pa056 {
	padding: 056px;
}
.pa057 {
	padding: 057px;
}
.pa058 {
	padding: 058px;
}
.pa059 {
	padding: 059px;
}
.pa060 {
	padding: 060px;
}
.pa061 {
	padding: 061px;
}
.pa062 {
	padding: 062px;
}
.pa063 {
	padding: 063px;
}
.pa064 {
	padding: 064px;
}
.pa065 {
	padding: 065px;
}
.pa066 {
	padding: 066px;
}
.pa067 {
	padding: 067px;
}
.pa068 {
	padding: 068px;
}
.pa069 {
	padding: 069px;
}
.pa070 {
	padding: 070px;
}
.pa071 {
	padding: 071px;
}
.pa072 {
	padding: 072px;
}
.pa073 {
	padding: 073px;
}
.pa074 {
	padding: 074px;
}
.pa075 {
	padding: 075px;
}
.pa076 {
	padding: 076px;
}
.pa077 {
	padding: 077px;
}
.pa078 {
	padding: 078px;
}
.pa079 {
	padding: 079px;
}
.pa080 {
	padding: 080px;
}
.pa081 {
	padding: 081px;
}
.pa082 {
	padding: 082px;
}
.pa083 {
	padding: 083px;
}
.pa084 {
	padding: 084px;
}
.pa085 {
	padding: 085px;
}
.pa086 {
	padding: 086px;
}
.pa087 {
	padding: 087px;
}
.pa088 {
	padding: 088px;
}
.pa089 {
	padding: 089px;
}
.pa090 {
	padding: 090px;
}
.pa091 {
	padding: 091px;
}
.pa092 {
	padding: 092px;
}
.pa093 {
	padding: 093px;
}
.pa094 {
	padding: 094px;
}
.pa095 {
	padding: 095px;
}
.pa096 {
	padding: 096px;
}
.pa097 {
	padding: 097px;
}
.pa098 {
	padding: 098px;
}
.pa099 {
	padding: 099px;
}
.pa100 {
	padding: 100px;
}

/* ボックス：余白：上 */
.pt005p {
	padding-top: 005%;
}
.pt010p {
	padding-top: 010%;
}
.pt015p {
	padding-top: 015%;
}
.pt020p {
	padding-top: 020%;
}
.pt025p {
	padding-top: 025%;
}
.pt030p {
	padding-top: 030%;
}
.pt035p {
	padding-top: 035%;
}
.pt040p {
	padding-top: 040%;
}
.pt045p {
	padding-top: 045%;
}
.pt050p {
	padding-top: 050%;
}
.pt055p {
	padding-top: 055%;
}
.pt060p {
	padding-top: 060%;
}
.pt065p {
	padding-top: 065%;
}
.pt070p {
	padding-top: 070%;
}
.pt075p {
	padding-top: 075%;
}
.pt080p {
	padding-top: 080%;
}
.pt085p {
	padding-top: 085%;
}
.pt090p {
	padding-top: 090%;
}
.pt095p {
	padding-top: 095%;
}
.pt100p {
	padding-top: 100%;
}
.pt000 {
	padding-top: 000px;
}
.pt001 {
	padding-top: 001px;
}
.pt002 {
	padding-top: 002px;
}
.pt003 {
	padding-top: 003px;
}
.pt004 {
	padding-top: 004px;
}
.pt005 {
	padding-top: 005px;
}
.pt006 {
	padding-top: 006px;
}
.pt007 {
	padding-top: 007px;
}
.pt008 {
	padding-top: 008px;
}
.pt009 {
	padding-top: 009px;
}
.pt010 {
	padding-top: 010px;
}
.pt011 {
	padding-top: 011px;
}
.pt012 {
	padding-top: 012px;
}
.pt013 {
	padding-top: 013px;
}
.pt014 {
	padding-top: 014px;
}
.pt015 {
	padding-top: 015px;
}
.pt016 {
	padding-top: 016px;
}
.pt017 {
	padding-top: 017px;
}
.pt018 {
	padding-top: 018px;
}
.pt019 {
	padding-top: 019px;
}
.pt020 {
	padding-top: 020px;
}
.pt021 {
	padding-top: 021px;
}
.pt022 {
	padding-top: 022px;
}
.pt023 {
	padding-top: 023px;
}
.pt024 {
	padding-top: 024px;
}
.pt025 {
	padding-top: 025px;
}
.pt026 {
	padding-top: 026px;
}
.pt027 {
	padding-top: 027px;
}
.pt028 {
	padding-top: 028px;
}
.pt029 {
	padding-top: 029px;
}
.pt030 {
	padding-top: 030px;
}
.pt031 {
	padding-top: 031px;
}
.pt032 {
	padding-top: 032px;
}
.pt033 {
	padding-top: 033px;
}
.pt034 {
	padding-top: 034px;
}
.pt035 {
	padding-top: 035px;
}
.pt036 {
	padding-top: 036px;
}
.pt037 {
	padding-top: 037px;
}
.pt038 {
	padding-top: 038px;
}
.pt039 {
	padding-top: 039px;
}
.pt040 {
	padding-top: 040px;
}
.pt041 {
	padding-top: 041px;
}
.pt042 {
	padding-top: 042px;
}
.pt043 {
	padding-top: 043px;
}
.pt044 {
	padding-top: 044px;
}
.pt045 {
	padding-top: 045px;
}
.pt046 {
	padding-top: 046px;
}
.pt047 {
	padding-top: 047px;
}
.pt048 {
	padding-top: 048px;
}
.pt049 {
	padding-top: 049px;
}
.pt050 {
	padding-top: 050px;
}
.pt051 {
	padding-top: 051px;
}
.pt052 {
	padding-top: 052px;
}
.pt053 {
	padding-top: 053px;
}
.pt054 {
	padding-top: 054px;
}
.pt055 {
	padding-top: 055px;
}
.pt056 {
	padding-top: 056px;
}
.pt057 {
	padding-top: 057px;
}
.pt058 {
	padding-top: 058px;
}
.pt059 {
	padding-top: 059px;
}
.pt060 {
	padding-top: 060px;
}
.pt061 {
	padding-top: 061px;
}
.pt062 {
	padding-top: 062px;
}
.pt063 {
	padding-top: 063px;
}
.pt064 {
	padding-top: 064px;
}
.pt065 {
	padding-top: 065px;
}
.pt066 {
	padding-top: 066px;
}
.pt067 {
	padding-top: 067px;
}
.pt068 {
	padding-top: 068px;
}
.pt069 {
	padding-top: 069px;
}
.pt070 {
	padding-top: 070px;
}
.pt071 {
	padding-top: 071px;
}
.pt072 {
	padding-top: 072px;
}
.pt073 {
	padding-top: 073px;
}
.pt074 {
	padding-top: 074px;
}
.pt075 {
	padding-top: 075px;
}
.pt076 {
	padding-top: 076px;
}
.pt077 {
	padding-top: 077px;
}
.pt078 {
	padding-top: 078px;
}
.pt079 {
	padding-top: 079px;
}
.pt080 {
	padding-top: 080px;
}
.pt081 {
	padding-top: 081px;
}
.pt082 {
	padding-top: 082px;
}
.pt083 {
	padding-top: 083px;
}
.pt084 {
	padding-top: 084px;
}
.pt085 {
	padding-top: 085px;
}
.pt086 {
	padding-top: 086px;
}
.pt087 {
	padding-top: 087px;
}
.pt088 {
	padding-top: 088px;
}
.pt089 {
	padding-top: 089px;
}
.pt090 {
	padding-top: 090px;
}
.pt091 {
	padding-top: 091px;
}
.pt092 {
	padding-top: 092px;
}
.pt093 {
	padding-top: 093px;
}
.pt094 {
	padding-top: 094px;
}
.pt095 {
	padding-top: 095px;
}
.pt096 {
	padding-top: 096px;
}
.pt097 {
	padding-top: 097px;
}
.pt098 {
	padding-top: 098px;
}
.pt099 {
	padding-top: 099px;
}
.pt100 {
	padding-top: 100px;
}

/* ボックス：余白：右 */
.pr005p {
	padding-right: 005%;
}
.pr010p {
	padding-right: 010%;
}
.pr015p {
	padding-right: 015%;
}
.pr020p {
	padding-right: 020%;
}
.pr025p {
	padding-right: 025%;
}
.pr030p {
	padding-right: 030%;
}
.pr035p {
	padding-right: 035%;
}
.pr040p {
	padding-right: 040%;
}
.pr045p {
	padding-right: 045%;
}
.pr050p {
	padding-right: 050%;
}
.pr055p {
	padding-right: 055%;
}
.pr060p {
	padding-right: 060%;
}
.pr065p {
	padding-right: 065%;
}
.pr070p {
	padding-right: 070%;
}
.pr075p {
	padding-right: 075%;
}
.pr080p {
	padding-right: 080%;
}
.pr085p {
	padding-right: 085%;
}
.pr090p {
	padding-right: 090%;
}
.pr095p {
	padding-right: 095%;
}
.pr100p {
	padding-right: 100%;
}
.pr000 {
	padding-right: 000px;
}
.pr001 {
	padding-right: 001px;
}
.pr002 {
	padding-right: 002px;
}
.pr003 {
	padding-right: 003px;
}
.pr004 {
	padding-right: 004px;
}
.pr005 {
	padding-right: 005px;
}
.pr006 {
	padding-right: 006px;
}
.pr007 {
	padding-right: 007px;
}
.pr008 {
	padding-right: 008px;
}
.pr009 {
	padding-right: 009px;
}
.pr010 {
	padding-right: 010px;
}
.pr011 {
	padding-right: 011px;
}
.pr012 {
	padding-right: 012px;
}
.pr013 {
	padding-right: 013px;
}
.pr014 {
	padding-right: 014px;
}
.pr015 {
	padding-right: 015px;
}
.pr016 {
	padding-right: 016px;
}
.pr017 {
	padding-right: 017px;
}
.pr018 {
	padding-right: 018px;
}
.pr019 {
	padding-right: 019px;
}
.pr020 {
	padding-right: 020px;
}
.pr021 {
	padding-right: 021px;
}
.pr022 {
	padding-right: 022px;
}
.pr023 {
	padding-right: 023px;
}
.pr024 {
	padding-right: 024px;
}
.pr025 {
	padding-right: 025px;
}
.pr026 {
	padding-right: 026px;
}
.pr027 {
	padding-right: 027px;
}
.pr028 {
	padding-right: 028px;
}
.pr029 {
	padding-right: 029px;
}
.pr030 {
	padding-right: 030px;
}
.pr031 {
	padding-right: 031px;
}
.pr032 {
	padding-right: 032px;
}
.pr033 {
	padding-right: 033px;
}
.pr034 {
	padding-right: 034px;
}
.pr035 {
	padding-right: 035px;
}
.pr036 {
	padding-right: 036px;
}
.pr037 {
	padding-right: 037px;
}
.pr038 {
	padding-right: 038px;
}
.pr039 {
	padding-right: 039px;
}
.pr040 {
	padding-right: 040px;
}
.pr041 {
	padding-right: 041px;
}
.pr042 {
	padding-right: 042px;
}
.pr043 {
	padding-right: 043px;
}
.pr044 {
	padding-right: 044px;
}
.pr045 {
	padding-right: 045px;
}
.pr046 {
	padding-right: 046px;
}
.pr047 {
	padding-right: 047px;
}
.pr048 {
	padding-right: 048px;
}
.pr049 {
	padding-right: 049px;
}
.pr050 {
	padding-right: 050px;
}
.pr051 {
	padding-right: 051px;
}
.pr052 {
	padding-right: 052px;
}
.pr053 {
	padding-right: 053px;
}
.pr054 {
	padding-right: 054px;
}
.pr055 {
	padding-right: 055px;
}
.pr056 {
	padding-right: 056px;
}
.pr057 {
	padding-right: 057px;
}
.pr058 {
	padding-right: 058px;
}
.pr059 {
	padding-right: 059px;
}
.pr060 {
	padding-right: 060px;
}
.pr061 {
	padding-right: 061px;
}
.pr062 {
	padding-right: 062px;
}
.pr063 {
	padding-right: 063px;
}
.pr064 {
	padding-right: 064px;
}
.pr065 {
	padding-right: 065px;
}
.pr066 {
	padding-right: 066px;
}
.pr067 {
	padding-right: 067px;
}
.pr068 {
	padding-right: 068px;
}
.pr069 {
	padding-right: 069px;
}
.pr070 {
	padding-right: 070px;
}
.pr071 {
	padding-right: 071px;
}
.pr072 {
	padding-right: 072px;
}
.pr073 {
	padding-right: 073px;
}
.pr074 {
	padding-right: 074px;
}
.pr075 {
	padding-right: 075px;
}
.pr076 {
	padding-right: 076px;
}
.pr077 {
	padding-right: 077px;
}
.pr078 {
	padding-right: 078px;
}
.pr079 {
	padding-right: 079px;
}
.pr080 {
	padding-right: 080px;
}
.pr081 {
	padding-right: 081px;
}
.pr082 {
	padding-right: 082px;
}
.pr083 {
	padding-right: 083px;
}
.pr084 {
	padding-right: 084px;
}
.pr085 {
	padding-right: 085px;
}
.pr086 {
	padding-right: 086px;
}
.pr087 {
	padding-right: 087px;
}
.pr088 {
	padding-right: 088px;
}
.pr089 {
	padding-right: 089px;
}
.pr090 {
	padding-right: 090px;
}
.pr091 {
	padding-right: 091px;
}
.pr092 {
	padding-right: 092px;
}
.pr093 {
	padding-right: 093px;
}
.pr094 {
	padding-right: 094px;
}
.pr095 {
	padding-right: 095px;
}
.pr096 {
	padding-right: 096px;
}
.pr097 {
	padding-right: 097px;
}
.pr098 {
	padding-right: 098px;
}
.pr099 {
	padding-right: 099px;
}
.pr100 {
	padding-right: 100px;
}

/* ボックス：余白：下 */
.pb005p {
	padding-bottom: 005%;
}
.pb010p {
	padding-bottom: 010%;
}
.pb015p {
	padding-bottom: 015%;
}
.pb020p {
	padding-bottom: 020%;
}
.pb025p {
	padding-bottom: 025%;
}
.pb030p {
	padding-bottom: 030%;
}
.pb035p {
	padding-bottom: 035%;
}
.pb040p {
	padding-bottom: 040%;
}
.pb045p {
	padding-bottom: 045%;
}
.pb050p {
	padding-bottom: 050%;
}
.pb055p {
	padding-bottom: 055%;
}
.pb060p {
	padding-bottom: 060%;
}
.pb065p {
	padding-bottom: 065%;
}
.pb070p {
	padding-bottom: 070%;
}
.pb075p {
	padding-bottom: 075%;
}
.pb080p {
	padding-bottom: 080%;
}
.pb085p {
	padding-bottom: 085%;
}
.pb090p {
	padding-bottom: 090%;
}
.pb095p {
	padding-bottom: 095%;
}
.pb100p {
	padding-bottom: 100%;
}
.pb000 {
	padding-bottom: 000px;
}
.pb001 {
	padding-bottom: 001px;
}
.pb002 {
	padding-bottom: 002px;
}
.pb003 {
	padding-bottom: 003px;
}
.pb004 {
	padding-bottom: 004px;
}
.pb005 {
	padding-bottom: 005px;
}
.pb006 {
	padding-bottom: 006px;
}
.pb007 {
	padding-bottom: 007px;
}
.pb008 {
	padding-bottom: 008px;
}
.pb009 {
	padding-bottom: 009px;
}
.pb010 {
	padding-bottom: 010px;
}
.pb011 {
	padding-bottom: 011px;
}
.pb012 {
	padding-bottom: 012px;
}
.pb013 {
	padding-bottom: 013px;
}
.pb014 {
	padding-bottom: 014px;
}
.pb015 {
	padding-bottom: 015px;
}
.pb016 {
	padding-bottom: 016px;
}
.pb017 {
	padding-bottom: 017px;
}
.pb018 {
	padding-bottom: 018px;
}
.pb019 {
	padding-bottom: 019px;
}
.pb020 {
	padding-bottom: 020px;
}
.pb021 {
	padding-bottom: 021px;
}
.pb022 {
	padding-bottom: 022px;
}
.pb023 {
	padding-bottom: 023px;
}
.pb024 {
	padding-bottom: 024px;
}
.pb025 {
	padding-bottom: 025px;
}
.pb026 {
	padding-bottom: 026px;
}
.pb027 {
	padding-bottom: 027px;
}
.pb028 {
	padding-bottom: 028px;
}
.pb029 {
	padding-bottom: 029px;
}
.pb030 {
	padding-bottom: 030px;
}
.pb031 {
	padding-bottom: 031px;
}
.pb032 {
	padding-bottom: 032px;
}
.pb033 {
	padding-bottom: 033px;
}
.pb034 {
	padding-bottom: 034px;
}
.pb035 {
	padding-bottom: 035px;
}
.pb036 {
	padding-bottom: 036px;
}
.pb037 {
	padding-bottom: 037px;
}
.pb038 {
	padding-bottom: 038px;
}
.pb039 {
	padding-bottom: 039px;
}
.pb040 {
	padding-bottom: 040px;
}
.pb041 {
	padding-bottom: 041px;
}
.pb042 {
	padding-bottom: 042px;
}
.pb043 {
	padding-bottom: 043px;
}
.pb044 {
	padding-bottom: 044px;
}
.pb045 {
	padding-bottom: 045px;
}
.pb046 {
	padding-bottom: 046px;
}
.pb047 {
	padding-bottom: 047px;
}
.pb048 {
	padding-bottom: 048px;
}
.pb049 {
	padding-bottom: 049px;
}
.pb050 {
	padding-bottom: 050px;
}
.pb051 {
	padding-bottom: 051px;
}
.pb052 {
	padding-bottom: 052px;
}
.pb053 {
	padding-bottom: 053px;
}
.pb054 {
	padding-bottom: 054px;
}
.pb055 {
	padding-bottom: 055px;
}
.pb056 {
	padding-bottom: 056px;
}
.pb057 {
	padding-bottom: 057px;
}
.pb058 {
	padding-bottom: 058px;
}
.pb059 {
	padding-bottom: 059px;
}
.pb060 {
	padding-bottom: 060px;
}
.pb061 {
	padding-bottom: 061px;
}
.pb062 {
	padding-bottom: 062px;
}
.pb063 {
	padding-bottom: 063px;
}
.pb064 {
	padding-bottom: 064px;
}
.pb065 {
	padding-bottom: 065px;
}
.pb066 {
	padding-bottom: 066px;
}
.pb067 {
	padding-bottom: 067px;
}
.pb068 {
	padding-bottom: 068px;
}
.pb069 {
	padding-bottom: 069px;
}
.pb070 {
	padding-bottom: 070px;
}
.pb071 {
	padding-bottom: 071px;
}
.pb072 {
	padding-bottom: 072px;
}
.pb073 {
	padding-bottom: 073px;
}
.pb074 {
	padding-bottom: 074px;
}
.pb075 {
	padding-bottom: 075px;
}
.pb076 {
	padding-bottom: 076px;
}
.pb077 {
	padding-bottom: 077px;
}
.pb078 {
	padding-bottom: 078px;
}
.pb079 {
	padding-bottom: 079px;
}
.pb080 {
	padding-bottom: 080px;
}
.pb081 {
	padding-bottom: 081px;
}
.pb082 {
	padding-bottom: 082px;
}
.pb083 {
	padding-bottom: 083px;
}
.pb084 {
	padding-bottom: 084px;
}
.pb085 {
	padding-bottom: 085px;
}
.pb086 {
	padding-bottom: 086px;
}
.pb087 {
	padding-bottom: 087px;
}
.pb088 {
	padding-bottom: 088px;
}
.pb089 {
	padding-bottom: 089px;
}
.pb090 {
	padding-bottom: 090px;
}
.pb091 {
	padding-bottom: 091px;
}
.pb092 {
	padding-bottom: 092px;
}
.pb093 {
	padding-bottom: 093px;
}
.pb094 {
	padding-bottom: 094px;
}
.pb095 {
	padding-bottom: 095px;
}
.pb096 {
	padding-bottom: 096px;
}
.pb097 {
	padding-bottom: 097px;
}
.pb098 {
	padding-bottom: 098px;
}
.pb099 {
	padding-bottom: 099px;
}
.pb100 {
	padding-bottom: 100px;
}

/* ボックス：余白：左 */
.pl005p {
	padding-left: 005%;
}
.pl010p {
	padding-left: 010%;
}
.pl015p {
	padding-left: 015%;
}
.pl020p {
	padding-left: 020%;
}
.pl025p {
	padding-left: 025%;
}
.pl030p {
	padding-left: 030%;
}
.pl035p {
	padding-left: 035%;
}
.pl040p {
	padding-left: 040%;
}
.pl045p {
	padding-left: 045%;
}
.pl050p {
	padding-left: 050%;
}
.pl055p {
	padding-left: 055%;
}
.pl060p {
	padding-left: 060%;
}
.pl065p {
	padding-left: 065%;
}
.pl070p {
	padding-left: 070%;
}
.pl075p {
	padding-left: 075%;
}
.pl080p {
	padding-left: 080%;
}
.pl085p {
	padding-left: 085%;
}
.pl090p {
	padding-left: 090%;
}
.pl095p {
	padding-left: 095%;
}
.pl100p {
	padding-left: 100%;
}
.pl000 {
	padding-left: 000px;
}
.pl001 {
	padding-left: 001px;
}
.pl002 {
	padding-left: 002px;
}
.pl003 {
	padding-left: 003px;
}
.pl004 {
	padding-left: 004px;
}
.pl005 {
	padding-left: 005px;
}
.pl006 {
	padding-left: 006px;
}
.pl007 {
	padding-left: 007px;
}
.pl008 {
	padding-left: 008px;
}
.pl009 {
	padding-left: 009px;
}
.pl010 {
	padding-left: 010px;
}
.pl011 {
	padding-left: 011px;
}
.pl012 {
	padding-left: 012px;
}
.pl013 {
	padding-left: 013px;
}
.pl014 {
	padding-left: 014px;
}
.pl015 {
	padding-left: 015px;
}
.pl016 {
	padding-left: 016px;
}
.pl017 {
	padding-left: 017px;
}
.pl018 {
	padding-left: 018px;
}
.pl019 {
	padding-left: 019px;
}
.pl020 {
	padding-left: 020px;
}
.pl021 {
	padding-left: 021px;
}
.pl022 {
	padding-left: 022px;
}
.pl023 {
	padding-left: 023px;
}
.pl024 {
	padding-left: 024px;
}
.pl025 {
	padding-left: 025px;
}
.pl026 {
	padding-left: 026px;
}
.pl027 {
	padding-left: 027px;
}
.pl028 {
	padding-left: 028px;
}
.pl029 {
	padding-left: 029px;
}
.pl030 {
	padding-left: 030px;
}
.pl031 {
	padding-left: 031px;
}
.pl032 {
	padding-left: 032px;
}
.pl033 {
	padding-left: 033px;
}
.pl034 {
	padding-left: 034px;
}
.pl035 {
	padding-left: 035px;
}
.pl036 {
	padding-left: 036px;
}
.pl037 {
	padding-left: 037px;
}
.pl038 {
	padding-left: 038px;
}
.pl039 {
	padding-left: 039px;
}
.pl040 {
	padding-left: 040px;
}
.pl041 {
	padding-left: 041px;
}
.pl042 {
	padding-left: 042px;
}
.pl043 {
	padding-left: 043px;
}
.pl044 {
	padding-left: 044px;
}
.pl045 {
	padding-left: 045px;
}
.pl046 {
	padding-left: 046px;
}
.pl047 {
	padding-left: 047px;
}
.pl048 {
	padding-left: 048px;
}
.pl049 {
	padding-left: 049px;
}
.pl050 {
	padding-left: 050px;
}
.pl051 {
	padding-left: 051px;
}
.pl052 {
	padding-left: 052px;
}
.pl053 {
	padding-left: 053px;
}
.pl054 {
	padding-left: 054px;
}
.pl055 {
	padding-left: 055px;
}
.pl056 {
	padding-left: 056px;
}
.pl057 {
	padding-left: 057px;
}
.pl058 {
	padding-left: 058px;
}
.pl059 {
	padding-left: 059px;
}
.pl060 {
	padding-left: 060px;
}
.pl061 {
	padding-left: 061px;
}
.pl062 {
	padding-left: 062px;
}
.pl063 {
	padding-left: 063px;
}
.pl064 {
	padding-left: 064px;
}
.pl065 {
	padding-left: 065px;
}
.pl066 {
	padding-left: 066px;
}
.pl067 {
	padding-left: 067px;
}
.pl068 {
	padding-left: 068px;
}
.pl069 {
	padding-left: 069px;
}
.pl070 {
	padding-left: 070px;
}
.pl071 {
	padding-left: 071px;
}
.pl072 {
	padding-left: 072px;
}
.pl073 {
	padding-left: 073px;
}
.pl074 {
	padding-left: 074px;
}
.pl075 {
	padding-left: 075px;
}
.pl076 {
	padding-left: 076px;
}
.pl077 {
	padding-left: 077px;
}
.pl078 {
	padding-left: 078px;
}
.pl079 {
	padding-left: 079px;
}
.pl080 {
	padding-left: 080px;
}
.pl081 {
	padding-left: 081px;
}
.pl082 {
	padding-left: 082px;
}
.pl083 {
	padding-left: 083px;
}
.pl084 {
	padding-left: 084px;
}
.pl085 {
	padding-left: 085px;
}
.pl086 {
	padding-left: 086px;
}
.pl087 {
	padding-left: 087px;
}
.pl088 {
	padding-left: 088px;
}
.pl089 {
	padding-left: 089px;
}
.pl090 {
	padding-left: 090px;
}
.pl091 {
	padding-left: 091px;
}
.pl092 {
	padding-left: 092px;
}
.pl093 {
	padding-left: 093px;
}
.pl094 {
	padding-left: 094px;
}
.pl095 {
	padding-left: 095px;
}
.pl096 {
	padding-left: 096px;
}
.pl097 {
	padding-left: 097px;
}
.pl098 {
	padding-left: 098px;
}
.pl099 {
	padding-left: 099px;
}
.pl100 {
	padding-left: 100px;
}


/* ========== / ボックス：マージン / ======================================== */

/* ボックス：マージン：すべて */
.ma005p {
	margin: 005%;
}
.ma010p {
	margin: 010%;
}
.ma015p {
	margin: 015%;
}
.ma020p {
	margin: 020%;
}
.ma025p {
	margin: 025%;
}
.ma030p {
	margin: 030%;
}
.ma035p {
	margin: 035%;
}
.ma040p {
	margin: 040%;
}
.ma045p {
	margin: 045%;
}
.ma050p {
	margin: 050%;
}
.ma055p {
	margin: 055%;
}
.ma060p {
	margin: 060%;
}
.ma065p {
	margin: 065%;
}
.ma070p {
	margin: 070%;
}
.ma075p {
	margin: 075%;
}
.ma080p {
	margin: 080%;
}
.ma085p {
	margin: 085%;
}
.ma090p {
	margin: 090%;
}
.ma095p {
	margin: 095%;
}
.ma100p {
	margin: 100%;
}
.ma999 {
	margin: auto;
}
.ma000 {
	margin: 000px;
}
.ma001 {
	margin: 001px;
}
.ma002 {
	margin: 002px;
}
.ma003 {
	margin: 003px;
}
.ma004 {
	margin: 004px;
}
.ma005 {
	margin: 005px;
}
.ma006 {
	margin: 006px;
}
.ma007 {
	margin: 007px;
}
.ma008 {
	margin: 008px;
}
.ma009 {
	margin: 009px;
}
.ma010 {
	margin: 010px;
}
.ma011 {
	margin: 011px;
}
.ma012 {
	margin: 012px;
}
.ma013 {
	margin: 013px;
}
.ma014 {
	margin: 014px;
}
.ma015 {
	margin: 015px;
}
.ma016 {
	margin: 016px;
}
.ma017 {
	margin: 017px;
}
.ma018 {
	margin: 018px;
}
.ma019 {
	margin: 019px;
}
.ma020 {
	margin: 020px;
}
.ma021 {
	margin: 021px;
}
.ma022 {
	margin: 022px;
}
.ma023 {
	margin: 023px;
}
.ma024 {
	margin: 024px;
}
.ma025 {
	margin: 025px;
}
.ma026 {
	margin: 026px;
}
.ma027 {
	margin: 027px;
}
.ma028 {
	margin: 028px;
}
.ma029 {
	margin: 029px;
}
.ma030 {
	margin: 030px;
}
.ma031 {
	margin: 031px;
}
.ma032 {
	margin: 032px;
}
.ma033 {
	margin: 033px;
}
.ma034 {
	margin: 034px;
}
.ma035 {
	margin: 035px;
}
.ma036 {
	margin: 036px;
}
.ma037 {
	margin: 037px;
}
.ma038 {
	margin: 038px;
}
.ma039 {
	margin: 039px;
}
.ma040 {
	margin: 040px;
}
.ma041 {
	margin: 041px;
}
.ma042 {
	margin: 042px;
}
.ma043 {
	margin: 043px;
}
.ma044 {
	margin: 044px;
}
.ma045 {
	margin: 045px;
}
.ma046 {
	margin: 046px;
}
.ma047 {
	margin: 047px;
}
.ma048 {
	margin: 048px;
}
.ma049 {
	margin: 049px;
}
.ma050 {
	margin: 050px;
}
.ma051 {
	margin: 051px;
}
.ma052 {
	margin: 052px;
}
.ma053 {
	margin: 053px;
}
.ma054 {
	margin: 054px;
}
.ma055 {
	margin: 055px;
}
.ma056 {
	margin: 056px;
}
.ma057 {
	margin: 057px;
}
.ma058 {
	margin: 058px;
}
.ma059 {
	margin: 059px;
}
.ma060 {
	margin: 060px;
}
.ma061 {
	margin: 061px;
}
.ma062 {
	margin: 062px;
}
.ma063 {
	margin: 063px;
}
.ma064 {
	margin: 064px;
}
.ma065 {
	margin: 065px;
}
.ma066 {
	margin: 066px;
}
.ma067 {
	margin: 067px;
}
.ma068 {
	margin: 068px;
}
.ma069 {
	margin: 069px;
}
.ma070 {
	margin: 070px;
}
.ma071 {
	margin: 071px;
}
.ma072 {
	margin: 072px;
}
.ma073 {
	margin: 073px;
}
.ma074 {
	margin: 074px;
}
.ma075 {
	margin: 075px;
}
.ma076 {
	margin: 076px;
}
.ma077 {
	margin: 077px;
}
.ma078 {
	margin: 078px;
}
.ma079 {
	margin: 079px;
}
.ma080 {
	margin: 080px;
}
.ma081 {
	margin: 081px;
}
.ma082 {
	margin: 082px;
}
.ma083 {
	margin: 083px;
}
.ma084 {
	margin: 084px;
}
.ma085 {
	margin: 085px;
}
.ma086 {
	margin: 086px;
}
.ma087 {
	margin: 087px;
}
.ma088 {
	margin: 088px;
}
.ma089 {
	margin: 089px;
}
.ma090 {
	margin: 090px;
}
.ma091 {
	margin: 091px;
}
.ma092 {
	margin: 092px;
}
.ma093 {
	margin: 093px;
}
.ma094 {
	margin: 094px;
}
.ma095 {
	margin: 095px;
}
.ma096 {
	margin: 096px;
}
.ma097 {
	margin: 097px;
}
.ma098 {
	margin: 098px;
}
.ma099 {
	margin: 099px;
}
.ma100 {
	margin: 100px;
}

/* ボックス：マージン：上 */
.mt005p {
	margin-top: 005%;
}
.mt010p {
	margin-top: 010%;
}
.mt015p {
	margin-top: 015%;
}
.mt020p {
	margin-top: 020%;
}
.mt025p {
	margin-top: 025%;
}
.mt030p {
	margin-top: 030%;
}
.mt035p {
	margin-top: 035%;
}
.mt040p {
	margin-top: 040%;
}
.mt045p {
	margin-top: 045%;
}
.mt050p {
	margin-top: 050%;
}
.mt055p {
	margin-top: 055%;
}
.mt060p {
	margin-top: 060%;
}
.mt065p {
	margin-top: 065%;
}
.mt070p {
	margin-top: 070%;
}
.mt075p {
	margin-top: 075%;
}
.mt080p {
	margin-top: 080%;
}
.mt085p {
	margin-top: 085%;
}
.mt090p {
	margin-top: 090%;
}
.mt095p {
	margin-top: 095%;
}
.mt100p {
	margin-top: 100%;
}
.mt999 {
	margin-top: auto;
}
.mt000 {
	margin-top: 000px;
}
.mt001 {
	margin-top: 001px;
}
.mt002 {
	margin-top: 002px;
}
.mt003 {
	margin-top: 003px;
}
.mt004 {
	margin-top: 004px;
}
.mt005 {
	margin-top: 005px;
}
.mt006 {
	margin-top: 006px;
}
.mt007 {
	margin-top: 007px;
}
.mt008 {
	margin-top: 008px;
}
.mt009 {
	margin-top: 009px;
}
.mt010 {
	margin-top: 010px;
}
.mt011 {
	margin-top: 011px;
}
.mt012 {
	margin-top: 012px;
}
.mt013 {
	margin-top: 013px;
}
.mt014 {
	margin-top: 014px;
}
.mt015 {
	margin-top: 015px;
}
.mt016 {
	margin-top: 016px;
}
.mt017 {
	margin-top: 017px;
}
.mt018 {
	margin-top: 018px;
}
.mt019 {
	margin-top: 019px;
}
.mt020 {
	margin-top: 020px;
}
.mt021 {
	margin-top: 021px;
}
.mt022 {
	margin-top: 022px;
}
.mt023 {
	margin-top: 023px;
}
.mt024 {
	margin-top: 024px;
}
.mt025 {
	margin-top: 025px;
}
.mt026 {
	margin-top: 026px;
}
.mt027 {
	margin-top: 027px;
}
.mt028 {
	margin-top: 028px;
}
.mt029 {
	margin-top: 029px;
}
.mt030 {
	margin-top: 030px;
}
.mt031 {
	margin-top: 031px;
}
.mt032 {
	margin-top: 032px;
}
.mt033 {
	margin-top: 033px;
}
.mt034 {
	margin-top: 034px;
}
.mt035 {
	margin-top: 035px;
}
.mt036 {
	margin-top: 036px;
}
.mt037 {
	margin-top: 037px;
}
.mt038 {
	margin-top: 038px;
}
.mt039 {
	margin-top: 039px;
}
.mt040 {
	margin-top: 040px;
}
.mt041 {
	margin-top: 041px;
}
.mt042 {
	margin-top: 042px;
}
.mt043 {
	margin-top: 043px;
}
.mt044 {
	margin-top: 044px;
}
.mt045 {
	margin-top: 045px;
}
.mt046 {
	margin-top: 046px;
}
.mt047 {
	margin-top: 047px;
}
.mt048 {
	margin-top: 048px;
}
.mt049 {
	margin-top: 049px;
}
.mt050 {
	margin-top: 050px;
}
.mt051 {
	margin-top: 051px;
}
.mt052 {
	margin-top: 052px;
}
.mt053 {
	margin-top: 053px;
}
.mt054 {
	margin-top: 054px;
}
.mt055 {
	margin-top: 055px;
}
.mt056 {
	margin-top: 056px;
}
.mt057 {
	margin-top: 057px;
}
.mt058 {
	margin-top: 058px;
}
.mt059 {
	margin-top: 059px;
}
.mt060 {
	margin-top: 060px;
}
.mt061 {
	margin-top: 061px;
}
.mt062 {
	margin-top: 062px;
}
.mt063 {
	margin-top: 063px;
}
.mt064 {
	margin-top: 064px;
}
.mt065 {
	margin-top: 065px;
}
.mt066 {
	margin-top: 066px;
}
.mt067 {
	margin-top: 067px;
}
.mt068 {
	margin-top: 068px;
}
.mt069 {
	margin-top: 069px;
}
.mt070 {
	margin-top: 070px;
}
.mt071 {
	margin-top: 071px;
}
.mt072 {
	margin-top: 072px;
}
.mt073 {
	margin-top: 073px;
}
.mt074 {
	margin-top: 074px;
}
.mt075 {
	margin-top: 075px;
}
.mt076 {
	margin-top: 076px;
}
.mt077 {
	margin-top: 077px;
}
.mt078 {
	margin-top: 078px;
}
.mt079 {
	margin-top: 079px;
}
.mt080 {
	margin-top: 080px;
}
.mt081 {
	margin-top: 081px;
}
.mt082 {
	margin-top: 082px;
}
.mt083 {
	margin-top: 083px;
}
.mt084 {
	margin-top: 084px;
}
.mt085 {
	margin-top: 085px;
}
.mt086 {
	margin-top: 086px;
}
.mt087 {
	margin-top: 087px;
}
.mt088 {
	margin-top: 088px;
}
.mt089 {
	margin-top: 089px;
}
.mt090 {
	margin-top: 090px;
}
.mt091 {
	margin-top: 091px;
}
.mt092 {
	margin-top: 092px;
}
.mt093 {
	margin-top: 093px;
}
.mt094 {
	margin-top: 094px;
}
.mt095 {
	margin-top: 095px;
}
.mt096 {
	margin-top: 096px;
}
.mt097 {
	margin-top: 097px;
}
.mt098 {
	margin-top: 098px;
}
.mt099 {
	margin-top: 099px;
}
.mt100 {
	margin-top: 100px;
}

/* ボックス：マージン：右 */
.mr005p {
	margin-right: 005%;
}
.mr010p {
	margin-right: 010%;
}
.mr015p {
	margin-right: 015%;
}
.mr020p {
	margin-right: 020%;
}
.mr025p {
	margin-right: 025%;
}
.mr030p {
	margin-right: 030%;
}
.mr035p {
	margin-right: 035%;
}
.mr040p {
	margin-right: 040%;
}
.mr045p {
	margin-right: 045%;
}
.mr050p {
	margin-right: 050%;
}
.mr055p {
	margin-right: 055%;
}
.mr060p {
	margin-right: 060%;
}
.mr065p {
	margin-right: 065%;
}
.mr070p {
	margin-right: 070%;
}
.mr075p {
	margin-right: 075%;
}
.mr080p {
	margin-right: 080%;
}
.mr085p {
	margin-right: 085%;
}
.mr090p {
	margin-right: 090%;
}
.mr095p {
	margin-right: 095%;
}
.mr100p {
	margin-right: 100%;
}
.mr999 {
	margin-right: auto;
}
.mr000 {
	margin-right: 000px;
}
.mr001 {
	margin-right: 001px;
}
.mr002 {
	margin-right: 002px;
}
.mr003 {
	margin-right: 003px;
}
.mr004 {
	margin-right: 004px;
}
.mr005 {
	margin-right: 005px;
}
.mr006 {
	margin-right: 006px;
}
.mr007 {
	margin-right: 007px;
}
.mr008 {
	margin-right: 008px;
}
.mr009 {
	margin-right: 009px;
}
.mr010 {
	margin-right: 010px;
}
.mr011 {
	margin-right: 011px;
}
.mr012 {
	margin-right: 012px;
}
.mr013 {
	margin-right: 013px;
}
.mr014 {
	margin-right: 014px;
}
.mr015 {
	margin-right: 015px;
}
.mr016 {
	margin-right: 016px;
}
.mr017 {
	margin-right: 017px;
}
.mr018 {
	margin-right: 018px;
}
.mr019 {
	margin-right: 019px;
}
.mr020 {
	margin-right: 020px;
}
.mr021 {
	margin-right: 021px;
}
.mr022 {
	margin-right: 022px;
}
.mr023 {
	margin-right: 023px;
}
.mr024 {
	margin-right: 024px;
}
.mr025 {
	margin-right: 025px;
}
.mr026 {
	margin-right: 026px;
}
.mr027 {
	margin-right: 027px;
}
.mr028 {
	margin-right: 028px;
}
.mr029 {
	margin-right: 029px;
}
.mr030 {
	margin-right: 030px;
}
.mr031 {
	margin-right: 031px;
}
.mr032 {
	margin-right: 032px;
}
.mr033 {
	margin-right: 033px;
}
.mr034 {
	margin-right: 034px;
}
.mr035 {
	margin-right: 035px;
}
.mr036 {
	margin-right: 036px;
}
.mr037 {
	margin-right: 037px;
}
.mr038 {
	margin-right: 038px;
}
.mr039 {
	margin-right: 039px;
}
.mr040 {
	margin-right: 040px;
}
.mr041 {
	margin-right: 041px;
}
.mr042 {
	margin-right: 042px;
}
.mr043 {
	margin-right: 043px;
}
.mr044 {
	margin-right: 044px;
}
.mr045 {
	margin-right: 045px;
}
.mr046 {
	margin-right: 046px;
}
.mr047 {
	margin-right: 047px;
}
.mr048 {
	margin-right: 048px;
}
.mr049 {
	margin-right: 049px;
}
.mr050 {
	margin-right: 050px;
}
.mr051 {
	margin-right: 051px;
}
.mr052 {
	margin-right: 052px;
}
.mr053 {
	margin-right: 053px;
}
.mr054 {
	margin-right: 054px;
}
.mr055 {
	margin-right: 055px;
}
.mr056 {
	margin-right: 056px;
}
.mr057 {
	margin-right: 057px;
}
.mr058 {
	margin-right: 058px;
}
.mr059 {
	margin-right: 059px;
}
.mr060 {
	margin-right: 060px;
}
.mr061 {
	margin-right: 061px;
}
.mr062 {
	margin-right: 062px;
}
.mr063 {
	margin-right: 063px;
}
.mr064 {
	margin-right: 064px;
}
.mr065 {
	margin-right: 065px;
}
.mr066 {
	margin-right: 066px;
}
.mr067 {
	margin-right: 067px;
}
.mr068 {
	margin-right: 068px;
}
.mr069 {
	margin-right: 069px;
}
.mr070 {
	margin-right: 070px;
}
.mr071 {
	margin-right: 071px;
}
.mr072 {
	margin-right: 072px;
}
.mr073 {
	margin-right: 073px;
}
.mr074 {
	margin-right: 074px;
}
.mr075 {
	margin-right: 075px;
}
.mr076 {
	margin-right: 076px;
}
.mr077 {
	margin-right: 077px;
}
.mr078 {
	margin-right: 078px;
}
.mr079 {
	margin-right: 079px;
}
.mr080 {
	margin-right: 080px;
}
.mr081 {
	margin-right: 081px;
}
.mr082 {
	margin-right: 082px;
}
.mr083 {
	margin-right: 083px;
}
.mr084 {
	margin-right: 084px;
}
.mr085 {
	margin-right: 085px;
}
.mr086 {
	margin-right: 086px;
}
.mr087 {
	margin-right: 087px;
}
.mr088 {
	margin-right: 088px;
}
.mr089 {
	margin-right: 089px;
}
.mr090 {
	margin-right: 090px;
}
.mr091 {
	margin-right: 091px;
}
.mr092 {
	margin-right: 092px;
}
.mr093 {
	margin-right: 093px;
}
.mr094 {
	margin-right: 094px;
}
.mr095 {
	margin-right: 095px;
}
.mr096 {
	margin-right: 096px;
}
.mr097 {
	margin-right: 097px;
}
.mr098 {
	margin-right: 098px;
}
.mr099 {
	margin-right: 099px;
}
.mr100 {
	margin-right: 100px;
}

/* ボックス：マージン：下 */
.mb005p {
	margin-bottom: 005%;
}
.mb010p {
	margin-bottom: 010%;
}
.mb015p {
	margin-bottom: 015%;
}
.mb020p {
	margin-bottom: 020%;
}
.mb025p {
	margin-bottom: 025%;
}
.mb030p {
	margin-bottom: 030%;
}
.mb035p {
	margin-bottom: 035%;
}
.mb040p {
	margin-bottom: 040%;
}
.mb045p {
	margin-bottom: 045%;
}
.mb050p {
	margin-bottom: 050%;
}
.mb055p {
	margin-bottom: 055%;
}
.mb060p {
	margin-bottom: 060%;
}
.mb065p {
	margin-bottom: 065%;
}
.mb070p {
	margin-bottom: 070%;
}
.mb075p {
	margin-bottom: 075%;
}
.mb080p {
	margin-bottom: 080%;
}
.mb085p {
	margin-bottom: 085%;
}
.mb090p {
	margin-bottom: 090%;
}
.mb095p {
	margin-bottom: 095%;
}
.mb100p {
	margin-bottom: 100%;
}
.mb999 {
	margin-bottom: auto;
}
.mb000 {
	margin-bottom: 000px;
}
.mb001 {
	margin-bottom: 001px;
}
.mb002 {
	margin-bottom: 002px;
}
.mb003 {
	margin-bottom: 003px;
}
.mb004 {
	margin-bottom: 004px;
}
.mb005 {
	margin-bottom: 005px;
}
.mb006 {
	margin-bottom: 006px;
}
.mb007 {
	margin-bottom: 007px;
}
.mb008 {
	margin-bottom: 008px;
}
.mb009 {
	margin-bottom: 009px;
}
.mb010 {
	margin-bottom: 010px;
}
.mb011 {
	margin-bottom: 011px;
}
.mb012 {
	margin-bottom: 012px;
}
.mb013 {
	margin-bottom: 013px;
}
.mb014 {
	margin-bottom: 014px;
}
.mb015 {
	margin-bottom: 015px;
}
.mb016 {
	margin-bottom: 016px;
}
.mb017 {
	margin-bottom: 017px;
}
.mb018 {
	margin-bottom: 018px;
}
.mb019 {
	margin-bottom: 019px;
}
.mb020 {
	margin-bottom: 020px;
}
.mb021 {
	margin-bottom: 021px;
}
.mb022 {
	margin-bottom: 022px;
}
.mb023 {
	margin-bottom: 023px;
}
.mb024 {
	margin-bottom: 024px;
}
.mb025 {
	margin-bottom: 025px;
}
.mb026 {
	margin-bottom: 026px;
}
.mb027 {
	margin-bottom: 027px;
}
.mb028 {
	margin-bottom: 028px;
}
.mb029 {
	margin-bottom: 029px;
}
.mb030 {
	margin-bottom: 030px;
}
.mb031 {
	margin-bottom: 031px;
}
.mb032 {
	margin-bottom: 032px;
}
.mb033 {
	margin-bottom: 033px;
}
.mb034 {
	margin-bottom: 034px;
}
.mb035 {
	margin-bottom: 035px;
}
.mb036 {
	margin-bottom: 036px;
}
.mb037 {
	margin-bottom: 037px;
}
.mb038 {
	margin-bottom: 038px;
}
.mb039 {
	margin-bottom: 039px;
}
.mb040 {
	margin-bottom: 040px;
}
.mb041 {
	margin-bottom: 041px;
}
.mb042 {
	margin-bottom: 042px;
}
.mb043 {
	margin-bottom: 043px;
}
.mb044 {
	margin-bottom: 044px;
}
.mb045 {
	margin-bottom: 045px;
}
.mb046 {
	margin-bottom: 046px;
}
.mb047 {
	margin-bottom: 047px;
}
.mb048 {
	margin-bottom: 048px;
}
.mb049 {
	margin-bottom: 049px;
}
.mb050 {
	margin-bottom: 050px;
}
.mb051 {
	margin-bottom: 051px;
}
.mb052 {
	margin-bottom: 052px;
}
.mb053 {
	margin-bottom: 053px;
}
.mb054 {
	margin-bottom: 054px;
}
.mb055 {
	margin-bottom: 055px;
}
.mb056 {
	margin-bottom: 056px;
}
.mb057 {
	margin-bottom: 057px;
}
.mb058 {
	margin-bottom: 058px;
}
.mb059 {
	margin-bottom: 059px;
}
.mb060 {
	margin-bottom: 060px;
}
.mb061 {
	margin-bottom: 061px;
}
.mb062 {
	margin-bottom: 062px;
}
.mb063 {
	margin-bottom: 063px;
}
.mb064 {
	margin-bottom: 064px;
}
.mb065 {
	margin-bottom: 065px;
}
.mb066 {
	margin-bottom: 066px;
}
.mb067 {
	margin-bottom: 067px;
}
.mb068 {
	margin-bottom: 068px;
}
.mb069 {
	margin-bottom: 069px;
}
.mb070 {
	margin-bottom: 070px;
}
.mb071 {
	margin-bottom: 071px;
}
.mb072 {
	margin-bottom: 072px;
}
.mb073 {
	margin-bottom: 073px;
}
.mb074 {
	margin-bottom: 074px;
}
.mb075 {
	margin-bottom: 075px;
}
.mb076 {
	margin-bottom: 076px;
}
.mb077 {
	margin-bottom: 077px;
}
.mb078 {
	margin-bottom: 078px;
}
.mb079 {
	margin-bottom: 079px;
}
.mb080 {
	margin-bottom: 080px;
}
.mb081 {
	margin-bottom: 081px;
}
.mb082 {
	margin-bottom: 082px;
}
.mb083 {
	margin-bottom: 083px;
}
.mb084 {
	margin-bottom: 084px;
}
.mb085 {
	margin-bottom: 085px;
}
.mb086 {
	margin-bottom: 086px;
}
.mb087 {
	margin-bottom: 087px;
}
.mb088 {
	margin-bottom: 088px;
}
.mb089 {
	margin-bottom: 089px;
}
.mb090 {
	margin-bottom: 090px;
}
.mb091 {
	margin-bottom: 091px;
}
.mb092 {
	margin-bottom: 092px;
}
.mb093 {
	margin-bottom: 093px;
}
.mb094 {
	margin-bottom: 094px;
}
.mb095 {
	margin-bottom: 095px;
}
.mb096 {
	margin-bottom: 096px;
}
.mb097 {
	margin-bottom: 097px;
}
.mb098 {
	margin-bottom: 098px;
}
.mb099 {
	margin-bottom: 099px;
}
.mb100 {
	margin-bottom: 100px;
}

/* ボックス：マージン：左 */
.ml005p {
	margin-left: 005%;
}
.ml010p {
	margin-left: 010%;
}
.ml015p {
	margin-left: 015%;
}
.ml020p {
	margin-left: 020%;
}
.ml025p {
	margin-left: 025%;
}
.ml030p {
	margin-left: 030%;
}
.ml035p {
	margin-left: 035%;
}
.ml040p {
	margin-left: 040%;
}
.ml045p {
	margin-left: 045%;
}
.ml050p {
	margin-left: 050%;
}
.ml055p {
	margin-left: 055%;
}
.ml060p {
	margin-left: 060%;
}
.ml065p {
	margin-left: 065%;
}
.ml070p {
	margin-left: 070%;
}
.ml075p {
	margin-left: 075%;
}
.ml080p {
	margin-left: 080%;
}
.ml085p {
	margin-left: 085%;
}
.ml090p {
	margin-left: 090%;
}
.ml095p {
	margin-left: 095%;
}
.ml100p {
	margin-left: 100%;
}
.ml999 {
	margin-left: auto;
}
.ml000 {
	margin-left: 000px;
}
.ml001 {
	margin-left: 001px;
}
.ml002 {
	margin-left: 002px;
}
.ml003 {
	margin-left: 003px;
}
.ml004 {
	margin-left: 004px;
}
.ml005 {
	margin-left: 005px;
}
.ml006 {
	margin-left: 006px;
}
.ml007 {
	margin-left: 007px;
}
.ml008 {
	margin-left: 008px;
}
.ml009 {
	margin-left: 009px;
}
.ml010 {
	margin-left: 010px;
}
.ml011 {
	margin-left: 011px;
}
.ml012 {
	margin-left: 012px;
}
.ml013 {
	margin-left: 013px;
}
.ml014 {
	margin-left: 014px;
}
.ml015 {
	margin-left: 015px;
}
.ml016 {
	margin-left: 016px;
}
.ml017 {
	margin-left: 017px;
}
.ml018 {
	margin-left: 018px;
}
.ml019 {
	margin-left: 019px;
}
.ml020 {
	margin-left: 020px;
}
.ml021 {
	margin-left: 021px;
}
.ml022 {
	margin-left: 022px;
}
.ml023 {
	margin-left: 023px;
}
.ml024 {
	margin-left: 024px;
}
.ml025 {
	margin-left: 025px;
}
.ml026 {
	margin-left: 026px;
}
.ml027 {
	margin-left: 027px;
}
.ml028 {
	margin-left: 028px;
}
.ml029 {
	margin-left: 029px;
}
.ml030 {
	margin-left: 030px;
}
.ml031 {
	margin-left: 031px;
}
.ml032 {
	margin-left: 032px;
}
.ml033 {
	margin-left: 033px;
}
.ml034 {
	margin-left: 034px;
}
.ml035 {
	margin-left: 035px;
}
.ml036 {
	margin-left: 036px;
}
.ml037 {
	margin-left: 037px;
}
.ml038 {
	margin-left: 038px;
}
.ml039 {
	margin-left: 039px;
}
.ml040 {
	margin-left: 040px;
}
.ml041 {
	margin-left: 041px;
}
.ml042 {
	margin-left: 042px;
}
.ml043 {
	margin-left: 043px;
}
.ml044 {
	margin-left: 044px;
}
.ml045 {
	margin-left: 045px;
}
.ml046 {
	margin-left: 046px;
}
.ml047 {
	margin-left: 047px;
}
.ml048 {
	margin-left: 048px;
}
.ml049 {
	margin-left: 049px;
}
.ml050 {
	margin-left: 050px;
}
.ml051 {
	margin-left: 051px;
}
.ml052 {
	margin-left: 052px;
}
.ml053 {
	margin-left: 053px;
}
.ml054 {
	margin-left: 054px;
}
.ml055 {
	margin-left: 055px;
}
.ml056 {
	margin-left: 056px;
}
.ml057 {
	margin-left: 057px;
}
.ml058 {
	margin-left: 058px;
}
.ml059 {
	margin-left: 059px;
}
.ml060 {
	margin-left: 060px;
}
.ml061 {
	margin-left: 061px;
}
.ml062 {
	margin-left: 062px;
}
.ml063 {
	margin-left: 063px;
}
.ml064 {
	margin-left: 064px;
}
.ml065 {
	margin-left: 065px;
}
.ml066 {
	margin-left: 066px;
}
.ml067 {
	margin-left: 067px;
}
.ml068 {
	margin-left: 068px;
}
.ml069 {
	margin-left: 069px;
}
.ml070 {
	margin-left: 070px;
}
.ml071 {
	margin-left: 071px;
}
.ml072 {
	margin-left: 072px;
}
.ml073 {
	margin-left: 073px;
}
.ml074 {
	margin-left: 074px;
}
.ml075 {
	margin-left: 075px;
}
.ml076 {
	margin-left: 076px;
}
.ml077 {
	margin-left: 077px;
}
.ml078 {
	margin-left: 078px;
}
.ml079 {
	margin-left: 079px;
}
.ml080 {
	margin-left: 080px;
}
.ml081 {
	margin-left: 081px;
}
.ml082 {
	margin-left: 082px;
}
.ml083 {
	margin-left: 083px;
}
.ml084 {
	margin-left: 084px;
}
.ml085 {
	margin-left: 085px;
}
.ml086 {
	margin-left: 086px;
}
.ml087 {
	margin-left: 087px;
}
.ml088 {
	margin-left: 088px;
}
.ml089 {
	margin-left: 089px;
}
.ml090 {
	margin-left: 090px;
}
.ml091 {
	margin-left: 091px;
}
.ml092 {
	margin-left: 092px;
}
.ml093 {
	margin-left: 093px;
}
.ml094 {
	margin-left: 094px;
}
.ml095 {
	margin-left: 095px;
}
.ml096 {
	margin-left: 096px;
}
.ml097 {
	margin-left: 097px;
}
.ml098 {
	margin-left: 098px;
}
.ml099 {
	margin-left: 099px;
}
.ml100 {
	margin-left: 100px;
}