@charset "utf-8";
/* CSS Document */

.border_gray {
 border:#C4C4C4 solid 1px;
}
.border_dashed_gray {
 border-bottom:#C4C4C4 dotted 1px;
 line-height:150%;
}
.blue_title01 {
	color:#0044A2;
	font-weight:bold;
	line-height:150%;
}
.side-box-black {
	width:284px;
	height:auto;
	padding:8px;
	margin-top:12px;
	border-top:#000000 solid 1px;
	background-image:url(../img/common/bg_gray.jpg);
}

#social {
 text-align:right;
 margin-bottom:6px;
}
#subnav {
 margin-bottom:24px;
}
#file_content01 {
 background-color:#EDEDED;
 padding:6px;
 text-align:center;
 width:731px;
}
#file_content02 {
 background-color:#EDEDED;
 padding:12px;
 text-align:center;
 width:731px;
}
.font_title01 {
	font-size:30px;
	line-height:125%;
	font-weight:bold;
}
.font_title02 {
	font-size:20px;
	line-height:125%;
}
.font_title03 {
	font-size:24px;
	line-height:125%;
	font-weight:bold;
}
.font_white {
	color: #FFFFFF;
	font-size:10px;
}

.file-white01 {
	width:200px;
	height:auto;
	padding:8px;
	background-color:#FFFFFF;
}
.file-white02 {
	width:270px;
	height:auto;
	padding:8px;
	background-color:#FFFFFF;
	text-align:center;
}
.file-white03 {
	width:190px;
	height:auto;
	padding:8px;
	background-color:#FFFFFF;
	text-align:center;
}
.fileborder_right{
 border-right:#EDEDED 5px solid;
}
.file_gray{
	border:#EDEDED 1px solid;
}
.file_white{
	background-color:#FFFFFF;
}

table.file_gray th{
	background:#f6f6f6;
}