@charset "utf-8";



/*
 * ボタンモジュール
 */
.mod-side-btn {
	padding: 8px;
	background: url(/img/common/sidebar-btn_bg.gif) repeat left center;
	margin-bottom: 20px;
}
.mod-side-btn li {
	line-height: 0;
}
.mod-side-btn li a img {
	vertical-align:bottom
}


/*
 * 線囲いバナー
 */
.mod-wrap-banner {
	margin-bottom: 20px;
	line-height: 0;
	text-align: center;
	border: 1px solid #d6d6d6;
	padding: 13px 0;
}

/*
 * ランキング
 */
.sideBox h2 {
	border-bottom: 1px solid #c4c4c4;
}


/*
 * タイトル付きコンテンツ
 */
.mod-sidebar-title-box {
	margin-bottom: 20px;
	border: 1px solid #c4c4c4;
}
.mod-sidebar-title-box .content-title {
	border-bottom: 1px solid #c4c4c4;
}
.mod-sidebar-title-box .btn-box .text {
	text-align: center;
	padding: 15px;
}
.mod-sidebar-title-box .btn-box .btns {
	overflow: hidden;
	padding: 0 7px 10px;
}
.mod-sidebar-title-box .btn-box .btns li {
	float: left;
	line-height: 0;
}
.mod-sidebar-title-box .btn-box .btns li:first-child {
	margin-right: 14px;
}
.mod-sidebar-title-box .btn-box .btns li img {
	vertical-align:bottom
}

.mod-sidebar-title-box .tel-box {
	text-align: right;
	line-height: 1.7;
	padding: 15px 13px;
}
.mod-sidebar-title-box .tel-box .tel {
	margin-bottom: 10px;
}
.mod-sidebar-title-box .backnumber-box {
	padding: 15px;
	font-size: 14px;
	line-height: 1.7;
}
.mod-sidebar-title-box .backnumber-box .text {
	margin-bottom: 20px;
}
.mod-sidebar-title-box .backnumber-box .contact {
	margin-bottom: 20px;
}
.mod-sidebar-title-box .backnumber-box .contact dl {
	overflow: hidden;
}
.mod-sidebar-title-box .backnumber-box .contact dl dt {
	float: left;
}
.mod-sidebar-title-box .backnumber-box .contact dl dt:after {
	content: "："
}


/*
 * 区切り線（点線）
 */
hr.mod-sidebar-dot-horizon-rule {
	margin-bottom: 19px;
	border: none;
	border-top: 1px dotted #a5a5a5;
	height:1px;
	color:#FFFFFF;
}


/*
 * ボタンリスト
 */
.mod-side-btn-list {
	margin-bottom: 11px;
}
.mod-side-btn-list li {
	line-height: 0;
	padding-bottom: 9px;
}


/*
 * ローカルナビ
 */
#localNav {
	background: url(/img/common/sidebar-btn_bg.gif) repeat left center;
}


/*
 * バックナンバー
 */
.mod-sidebar-accordion {
	background: url(/img/common/sidebar-btn_bg.gif) repeat left center;
	padding: 16px 9px 10px;
	margin-bottom: 20px;
}
.mod-sidebar-accordion .content-title {
	margin-bottom: 14px;
}
.mod-sidebar-accordion .link a {
	background: url(/img/common/sidebar-ico-arrow.gif) no-repeat left center;
	padding: 2px 0 1px 12px;
}
.mod-sidebar-accordion > .link {
	font-weight: bold;
	text-align: right;
}
.mod-sidebar-accordion .accordion {
	margin-bottom: 10px;
}
.mod-sidebar-accordion .accordion dt {
	background: url(/img/common/sidebar-accordion_bg.jpg) no-repeat 0 -36px;
	color: #0042a3;
	font-weight: bold;
	font-size: 14px;
	padding: 10px 10px 8px;
	margin-top: 7px;
	cursor: pointer;
}
.mod-sidebar-accordion .accordion dt.open {
	background-position: 0 0;
}
.mod-sidebar-accordion .accordion dt:first-child + dd {
	display: block;
}
.mod-sidebar-accordion .accordion dd {
	display: none;
	background: #fff;
	margin: 7px 1px 0;
	padding: 11px;
	overflow: hidden;
}
.mod-sidebar-accordion .accordion .imgL {
	float: left;
}
.mod-sidebar-accordion .accordion .boxR {
	float: right;
	width: 155px;
}
.mod-sidebar-accordion .accordion .text {
	font-size: 14px;
	line-height: 1.7;
	margin-bottom: 10px;
}


/*
 * 検索ボックス
 */
#sideSearch {
	background: url(/img/common/sidebar-btn_bg.gif) repeat left center;
	padding: 0 10px;
}
#sideSearch dl {
	padding-bottom: 10px;
}
#sideSearch dt {
	padding-top: 14px;
}
#sideSearch dd {
	margin-bottom: 0;
}


/*
 * プライバシーポリシー
 */
.mod-side-privacy-box {
	margin-bottom: 20px;
	border: 1px solid #d8d8d8;
	padding: 5px 8px 20px;
}
.mod-side-privacy-box .btns {
	overflow: hidden;
	margin-bottom: 10px;
}
.mod-side-privacy-box .btns li {
	display: inline;
	margin-left: 8px;
	line-height: 0;
	height: 88px;
}
.mod-side-privacy-box .btns li:first-child {
	margin-left: 0;
}
.mod-side-privacy-box .btns li img {
	vertical-align: bottom;
}
















