﻿@charset "utf-8";


/*
 * 階層
 */
.h1-block {
	padding-bottom: 15px;
}
.h2-block {
	padding-bottom: 10px;
}
.module-box {
	width: 745px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}


/*
 * 見出し
 */
.module-box h1.base-title {
	background: url(/img/common/bg_h1title_bottom.gif) no-repeat left bottom; 
	margin-bottom: 20px;
	padding: 0 0 20px;
	overflow: hidden;
	color: #111111;
	font-size: 30px;
	text-align: left;
}
.module-box h1.base-title span {
	background: url(/img/common/bg_h1title_side.gif) no-repeat left center;
	vertical-align: middle;
	display: inline-block;
	line-height: 1.2;
	padding-left: 15px;
}

.module-box .mod-box-headding {
	background: url("/img/common/title1_bg.gif") top left no-repeat;
	padding: 20px 0 25px 0;
	overflow: hidden;
}
.module-box .mod-box-headding h1 {
	float: left;
	width: 340px;
	border-right: 1px solid #cacaca;
}
.module-box .mod-box-headding p {
	float: left;
	padding-left: 15px;
	width: 385px;
	font-size: 14px;
	line-height: 1.7;
}

.module-box h2.base-title {
	background: url(/img/common/bg_h2title_bottom.gif) no-repeat left bottom; 
	margin-bottom: 20px;
	padding: 0 0 14px;
	overflow: hidden;
	color: #111111;
	font-size: 23px;
	text-align: left;
}
.module-box h2.base-title span {
	background: url(/img/common/bg_h2title_side.gif) no-repeat left center;
	vertical-align: middle;
	display: inline-block;
	line-height: 1.2;
	padding-left: 15px;
}
.module-box h2.base-title > a {
	font-size: 12px;
	float: right;
	background: url(/img/common/icon_arrow_blue.jpg) no-repeat left center;
	padding: 3px 0 2px 12px;
}
.module-box h2.base-title + .mod-title-btns {
	overflow: hidden;
	float: right;
	margin-top: -60px;
}
.module-box h2.base-title + .mod-title-btns li {
	float: left;
	margin-left: 5px; 
}

.module-box h2.image-title {
	margin-bottom: 20px;
	position: relative;
}
.module-box h2.image-title > a {
	font-size: 12px;
	float: right;
	background: url(/img/common/icon_arrow_blue.jpg) no-repeat left center;
	padding: 3px 0 2px 12px;
	position: absolute;
	top: 10px;
	right: 10px;
}
.module-box h2.image-title > a.image-link {
	top: 0;
	right: 0;
	padding: 0;
	background: none;
}

.module-box h2.base-title > a.image-link {
	top: 0;
	right: 0;
	padding: 0;
	background: none;
}
.module-box h2.image-title + .mod-title-btns {
	overflow: hidden;
	float: right;
	margin-top: -55px;
}
.module-box h2.image-title + .mod-title-btns li {
	float: left;
	margin-left: 5px; 
}

.module-box h3.base-title {
	background: url("../img/common/txttitle-h3.gif") left 8px no-repeat;
	border-bottom: solid 1px #333;
	font-size: 18px;
	font-weight: bold;
	color: #222;
	padding: 0 0 10px 20px;
	margin: 0 0 20px;
	text-align: left;
}

.module-box h4.base-title {
	border-bottom: solid 1px #cecece;
	font-size: 18px;
	font-weight: bold;
	color: #222;
	padding: 0 0 10px;
	margin: 0 0 20px;
	text-align: left;
}

.module-box h5.base-title {
	font-size: 14px;
	font-weight: bold;
	color: #222;
	margin: 0 0 20px;
	text-align: left;
}


/*
 * 見出し2カラム
 */
.module-box .base-title-2clm {
	overflow: hidden;
	margin-bottom: 30px;
}
.module-box .base-title-2clm .boxL {
	float: left;
	width: 360px;
}
.module-box .base-title-2clm .boxR {
	float: right;
	width: 360px;
}
.module-box h2.base-title.clm2 {
	background-position: -139px bottom;
}
.module-box .base-title-2clm p {
	font-size: 14px;
	line-height: 1.7;
}


/*
 * 見出し3カラム
 */
.module-box .base-title-3clm {
	margin-bottom: 30px;
}
.module-box .base-title-3clm ul {
	overflow: hidden;
	margin-right: -20px;
}
.module-box .base-title-3clm ul li {
	float: left;
	margin-right: 20px;
	width: 235px;
}
.module-box h2.base-title.clm3 {
	background-position: -185px bottom;
}
.module-box .base-title-3clm p {
	font-size: 14px;
	line-height: 1.7;
}


/*
 * テキスト特大（30px）
 */
.module-box .mod-strong-text {
	margin-bottom: 20px;
}
.module-box .mod-strong-text p {
	font-size: 30px;
	line-height: 1.7;
}


/*
 * テキスト大（18px）
 */
.module-box .mod-big-text {
	margin-bottom: 24px;
}
.module-box .mod-big-text p {
	font-size:18px;
	line-height:1.7;
}
.module-box .mod-big {
	font-size: 18px;
	line-height: 1.7;
}
.module-box .mod-big.bold {
	font-weight: bold;
}
.module-box .mod-big.red {
	color: #ff0101;
}


/*
 * テキスト標準（14px）
 */
.module-box .mod-basic-text {
	margin-bottom: 26px;
	font-size: 14px;
	line-height: 1.7;
}
.module-box .last {
	margin-bottom: 0;
}
.module-box .bold {
	font-weight: bold;
}
.module-box .red {
	color: #ff0101;
}


/*
 * テキスト小（12px）
 */
.module-box .mod-small-text {
	margin-bottom: 28px;
}
.module-box .mod-small {
	font-size: 12px;
	line-height: 1.7;
}
.module-box .mod-small.last {
	margin-bottom: 0;
}
.module-box .mod-small.bold {
	font-weight: bold;
}
.module-box .mod-small.red {
	color: #ff0101;
}


/*
 * リスト標準
 */
.module-box .mod-basic-list {
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 1.7;
}
.module-box .mod-basic-list li {
	padding-left: 1em;
}
.module-box .mod-basic-list li:before {
	content: "・";
	margin-left: -1em;
}


/*
 * 番号付きリスト
 */
.module-box .mod-number-list {
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 1.7;
}
.module-box .mod-number-list li {
	padding-left: 1.2em;
	counter-increment: numberCount;
}
.module-box .mod-number-list li:before {
	content: counter(numberCount)". ";
	margin-left: -1.2em;
}
.module-box .mod-number-list li li {
	padding-left: 1.4em;
	counter-increment: childCount;
}
.module-box .mod-number-list li li:before {
	content: "("counter(childCount)")";
	margin-left: -1.4em;
}


/*
 * リスト注意点
 */
.module-box .mod-attention-list {
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 1.7;
}
.module-box .mod-attention-list li {
	padding-left: 1em;
}
.module-box .mod-attention-list li:before {
	content: "※";
	margin-left: -1em;
}


/*
 * リスト番号付き注意点
 */
.module-box .mod-attention-number-list {
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 1.7;
}
.module-box .mod-attention-number-list li {
	padding-left: 1.5em;
	counter-increment: attentionListCount;
}
.module-box .mod-attention-number-list li:before {
	content: "※"counter(attentionListCount);
	margin-left: -1.5em;
}


/*
 * アイコン付きリスト
 */
.module-box .mod-icon-list {
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 1.7;
}
.module-box .mod-icon-list li {
	background: url(/img/common/icon_arrow_blue.jpg) no-repeat left center;
	padding: 3px 0 2px 12px;
	color: #00479f;
}


/*
 * アイコン付きリンク
 */
.module-box .mod-link-wrap {
	margin-bottom: 30px;
}
.module-box .mod-basic-link {
	font-size: 14px;
	background: url(/img/common/icon_arrow_blue.jpg) no-repeat left center;
	padding: 3px 0 2px 12px;
}
.module-box .mod-basic-link.mini {
	font-size: 12px;
}
.module-box .mod-basic-link a.mod-newtab {
	background: url(/img/common/ico-newtab.gif) no-repeat right center;
	padding: 3px 20px 2px 0;
}
.module-box .mod-basic-link a.mod-link {
	background: url(/img/common/ico-link.gif) no-repeat right center;
	padding: 3px 20px 2px 0;
}
.module-box .mod-basic-link a.mod-pdf {
	background: url(/img/common/ico-pdf.gif) no-repeat right center;
	padding: 3px 20px 2px 0;
}
.module-box .mod-basic-link a.mod-excel {
	background: url(/img/common/ico-excel.gif) no-repeat right center;
	padding: 3px 20px 2px 0;
}
.module-box .mod-basic-link a.mod-movie {
	background: url(/img/common/ico-movie.gif) no-repeat right center;
	padding: 3px 20px 2px 0;
}
.module-box .mod-basic-link a.mod-download {
	background: url(/img/common/ico-download.gif) no-repeat right center;
	padding: 3px 20px 2px 0;
}


/*
 * テキスト内リンクリンク
 */
.module-box .mod-link-in-text {
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 1.7;
}


/*
 * 基本コンテンツ
 */
.module-box .mod-content-box {
	overflow: hidden;
	font-size: 14px;
	margin-bottom: 30px;
}
.module-box .mod-content-box .boxL {
	width: 520px;
	float: left;
}
.module-box .mod-content-box .boxR {
	width: 520px;
	float: right;
}
.module-box .mod-content-box .boxL.image-box {
	width: 196px;
	margin: 0 20px 0 0;
}
.module-box .mod-content-box .boxR.image-box {
	width: 196px;
	margin: 0 0 0 20px;
}
.module-box .mod-content-box .image-box .image {
	margin-bottom: 0;
}
.module-box .mod-content-box .image-box .image-caption {
	margin-top: 10px;
	font-size: 12px;
}
.module-box .mod-content-box .image-box audio {
	width: 196px;
	margin-top: 20px;
}
.module-box .mod-content-box .content-title {
	font-size: 16px;
	margin-bottom: 12px;
	font-weight: bold;
}
.module-box .mod-content-box .content-mini-title {
	font-size: 14px;
	margin-bottom: 12px;
	font-weight: bold;
}
.module-box .mod-content-box p,
.module-box .mod-content-box ul {
	line-height: 1.7;
	margin-bottom: 26px;
}
.module-box .mod-content-box .last {
	margin-bottom: 0;
}
.module-box .mod-content-box .link li {
	font-size: 12px;
	background: url(/img/common/icon_arrow_blue.jpg) no-repeat left center;
	padding: 3px 0 2px 12px;
}
.module-box .mod-content-box .btn {
	margin-bottom: 0;
}

/* 画像小 */
.module-box .mod-content-box.image-mini {
	padding-bottom: 0;
}
.module-box .mod-content-box.image-mini .boxL.image-box {
	width: 111px;
}
.module-box .mod-content-box.image-mini .boxR,
.module-box .mod-content-box.image-mini .boxL {
	width: 610px;
}
.module-box .mod-content-box.image-mini .content-mini-title {
	font-size: 14px;
	margin-bottom: 12px;
	font-weight: bold;
}
.module-box .mod-content-box.image-mini .detail-list p {
	margin-bottom: 0;
}
.module-box .mod-content-box.image-mini .detail-list dl {
	overflow: hidden;
	margin-bottom: 30px;
}
.module-box .mod-content-box.image-mini .detail-list dt {
	float: left;
}
.module-box .mod-content-box.image-mini .detail-list dd {
	margin-bottom: 2px;	
}
.module-box .mod-content-box .icons {
	overflow: hidden;
	margin-bottom: 10px;
}
.module-box .mod-content-box .icons li {
	float: left;
	margin-right: 2px;
}
.module-box .mod-content-box .item-text {
	margin-bottom: 10px;
}
.module-box .mod-content-box .price {
	font-size: 18px;
	margin-bottom: 12px;
	font-weight: bold;
}
.module-box .mod-content-box .price span {
	font-size: 14px;
}
.module-box .mod-content-box .btns {
	overflow: hidden;
	margin-right: -11px;
}
.module-box .mod-content-box .btns li {
	float: left;
	margin-right: 11px;
}



/*
 *更新情報 
 */
.module-box .mod-information-box {
	width:743px;
	border:1px  solid #c4c4c4;
	margin: 0 0 30px 0;
}
.module-box .mod-information-box .info-title {
	background-color: #ebebeb;
	padding-bottom: 11px;
	border-bottom: 1px solid #cbcbcb;
	border-top: 1px solid #fff;
	overflow: hidden;
}
.module-box .mod-information-box .info-title > img {
	padding: 13px 0 0 13px;
	float: left;
}
.module-box .mod-information-box .info-title a {
	float: right;
	padding: 8px 8px 0 0;
}
.module-box .mod-information-box .info-content {
	padding: 15px 15px 0;
	font-size: 14px;
}
.module-box .mod-information-box .info-content p {
	margin-bottom: 10px;
}
.module-box .mod-information-box .info-content ul {
	margin: 0 0 12px 10px;
}
.module-box .mod-information-box .info-content ul li {
	background: url("../img/common/icon_arrow_blue.jpg") no-repeat left center;
	padding: 5px 0 3px 20px;
	margin: 0 0 2px 0;
}
.module-box .mod-information-box .info-content ul.set-pr li {
	background: url("../img/common/icon_pr.jpg") no-repeat left center;
}


/*
 * サイドコンテンツ
 */
.module-box .mod-sub-content {
	overflow: hidden;
	font-size: 14px;
	line-height: 1.7;
	margin-bottom: 30px;
}
.module-box .mod-sub-content .boxL {
	float: left;
	width: 360px;
}
.module-box .mod-sub-content .boxR {
	float: right;
	width: 360px;
}
.module-box .mod-sub-content .image,
.module-box .mod-sub-content .imgL {
	margin-bottom: 14px;
}
.module-box .mod-sub-content .content-title {
	margin-bottom: 12px;
	font-weight: bold;
	font-size: 16px;
}
.module-box .mod-sub-content p {
	margin-bottom: 26px;
}
.module-box .mod-sub-content .last {
	margin-bottom: 0;
}
.module-box .mod-sub-content .btn {
	margin-bottom: 0;
}

/* サイドコンテンツ（小） */
.module-box .mod-sub-content.mini .boxL {
	/*width: 230px;*/
}
.module-box .mod-sub-content.mini .boxR {
	/*width: 230px;*/
}
.module-box .mod-sub-content.mini .imgL {
	float: left;
	margin: 0 20px 20px 0;
}
.module-box .mod-sub-content .base-title {
	background-position: -139px bottom;
}
.module-box .mod-sub-content.mini .box {
	width: 229px;
	float: right;
}
.module-box .mod-sub-content.mini .content-title {
	font-size: 14px;
	font-weight: bold;
}


/* サイドコンテンツ（1カラム） */
.module-box .mod-sub-clm1-content {
	position: relative;
	margin-bottom: 30px;
}
.module-box .mod-sub-clm1-content .content-title {
	font-size: 16px;
	margin-bottom: 12px;
	font-weight: bold;
}
.module-box .mod-sub-clm1-content .image {
	margin-bottom: 14px;
}
.module-box .mod-sub-clm1-content p {
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 1.7;
}
.module-box .mod-sub-clm1-content .last {
	margin-bottom: 0;
}

/* サイドコンテンツ（3カラム） */
.module-box .mod-sub-clm3-content {
	font-size: 14px;
	margin-bottom: 30px;
}
.module-box .mod-sub-clm3-content .base-title {
	background-position: -185px bottom;
}
.module-box .mod-sub-clm3-content ul {
	overflow: hidden;
	margin-right: -28px;
}
.module-box .mod-sub-clm3-content ul li {
	width: 232px;
	float: left;
	margin-right: 25px;
}
.module-box .mod-sub-clm3-content ul li .boxR {
	width: 121px;
	float: right;
}
.module-box .mod-sub-clm3-content ul li p {
	margin-bottom: 20px;
}
.module-box .mod-sub-clm3-content ul li .imgL {
	float: left;
	margin: 0 20px 20px 0;
}
.module-box .mod-sub-clm3-content ul li .btn {
	clear: both;
	margin-bottom: 0;
}


/*
 * 囲い込み
 */

 /* 基本レイアウト */
 .module-box .mod-content-notes {
 	padding: 25px;
 	margin-bottom: 30px;
 	border: 1px solid #c4c4c4;
 	background-color: #ededed;
 	overflow: hidden;
 }
 .module-box .mod-content-notes .boxL {
 	width: 479px;
 	float: left;
 }
 .module-box .mod-content-notes .boxR {
 	width: 479px;
 	float: right;
 }
 .module-box .mod-content-notes .image-box {
 	width: 196px;
 }
 .module-box .mod-content-notes .image-box .image {
 	margin-bottom: 0;
 }
 .module-box .mod-content-notes .content-title {
 	font-weight: bold;
 	font-size: 16px;
 	margin-bottom: 12px;
 }
 .module-box .mod-content-notes p {
 	font-size: 14px;
 	line-height: 1.7;
 	margin-bottom: 30px;
 }
 .module-box .mod-content-notes p.last {
 	margin-bottom: 0;
 }

 /* 小 */
 .module-box .mod-content-notes.mini .image-box {
 	width: 111px;
 }
 .module-box .mod-content-notes.mini > div {
 	width: 564px;
 }
 .module-box .mod-content-notes.mini .image-box {
 	width: 111px;
 }
 .module-box .mod-content-notes.mini p {
 	margin-bottom: 6px;
 }


/*
 * 線囲い
 */
.module-box .mod-inclose-content-box {
	overflow: hidden;
	width: 695px;
	font-size: 14px;
	padding: 20px;
	margin-bottom: 30px;
	border: 5px solid #c4c4c4;
}
.module-box .mod-inclose-content-box .boxL {
	width: 470px;
	float: left;
}
.module-box .mod-inclose-content-box .boxR {
	width: 470px;
	float: right;
}
.module-box .mod-inclose-content-box .boxL.image-box {
	width: 196px;
	margin: 0 20px 20px 0;
}
.module-box .mod-inclose-content-box .boxR.image-box {
	width: 196px;
	margin: 0 0 20px 20px;
}
.module-box .mod-inclose-content-box .image-box .image {
	margin-bottom: 20px;
}
.module-box .mod-inclose-content-box .image-box audio {
	width: 196px;
}
.module-box .mod-inclose-content-box .content-title {
	font-size: 16px;
	margin-bottom: 12px;
	font-weight: bold;
}
.module-box .mod-inclose-content-box p,
.module-box .mod-inclose-content-box ul {
	line-height: 1.7;
	margin-bottom: 26px;
}
.module-box .mod-inclose-content-box .last {
	margin-bottom: 0;
}
.module-box .mod-inclose-content-box .link a {
	font-size: 12px;
	background: url(/img/common/icon_arrow_blue.jpg) no-repeat left center;
	padding: 3px 0 2px 12px;
}
.module-box .mod-inclose-content-box .btn {
	margin-bottom: 0;
}

/* 線囲い2カラム */
.module-box .mod-inclose-sub-content {
	overflow: hidden;
	width: 695px;
	font-size: 14px;
	padding: 20px;
	margin-bottom: 30px;
	border: 5px solid #c4c4c4;
}
.module-box .mod-inclose-sub-content .boxL {
	width: 335px;
	float: left;
}
.module-box .mod-inclose-sub-content .boxR {
	width: 356px;
	float: right;
}
.module-box .mod-inclose-sub-content .imgL {
	width: 111px;
	margin: 0 20px 20px 0;
	float: left;
}
.module-box .mod-inclose-sub-content .boxR .imgL {
	border-left: 1px solid #d8d8d8;
	padding-left: 20px;
	height: 190px;
}
.module-box .mod-inclose-sub-content .box {
	float: left;
	width: 204px;
}
.module-box .mod-inclose-sub-content .clm-title {
	font-size: 18px;
	margin-bottom: 20px;
	font-weight: bold;
	line-height: 1;
	padding-left: 10px;
	border-left: 4px solid #000;
}
.module-box .mod-inclose-sub-content .content-title {
	font-size: 14px;
	margin-bottom: 12px;
	font-weight: bold;
}
.module-box .mod-inclose-sub-content p,
.module-box .mod-inclose-sub-content ul {
	line-height: 1.7;
	margin-bottom: 26px;
}
.module-box .mod-inclose-sub-content .link a {
	font-size: 12px;
	background: url(/img/common/icon_arrow_blue.jpg) no-repeat left center;
	padding: 3px 0 2px 12px;
}
.module-box .mod-inclose-sub-content .btn {
	margin-bottom: 0;
}

/* 線囲い2カラム */

.module-box div.mod-inclose-title-harf {
	background: url(/img/common/inclose-title-harf-bg.gif) no-repeat center bottom;
}

.module-box .mod-inclose-title-content {
	overflow: hidden;
	margin-bottom: 30px;
	background: url(/img/common/inclose-title-content-bg.gif) no-repeat center bottom;
}
.module-box .mod-inclose-title-content .boxL {
	float: left;
	width: 360px;
}
.module-box .mod-inclose-title-content .boxR {
	float: right;
	width: 360px;
}
.module-box .mod-inclose-title-content .clm-title {
	border: 1px solid #c4c4c4;
}
.module-box .mod-inclose-title-content .clm-title span {
	border-top: 1px solid #fff;
	display: block;
	background-color: #ededed;
	padding: 11px 15px;
	font-weight: bold;	
	font-size: 14px;
}
.module-box .mod-inclose-title-content .boxL .box,
.module-box .mod-inclose-title-content .boxR .box {
	width: 320px;
	padding: 20px;
	overflow: hidden;
}
.module-box .mod-inclose-title-content .box .imgL {
	width: 106px;
	float: left;
}
.module-box .mod-inclose-title-content .box > div {
	width: 195px;
	float: right;
}
.module-box .mod-inclose-title-content .box .content-title {
	margin-bottom: 15px;
	font-weight: bold;
	font-size: 12px;
}
.module-box .mod-inclose-title-content .box .content-title strong {
	font-size: 14px;
	display: block;
}
.module-box .mod-inclose-title-content .box p {
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 1.7;
}
.module-box .mod-inclose-title-content .box .last {
	margin-bottom: 0;
}


/*
 * 太線囲い2カラム
 */
.module-box .mod-inclose-bold-content {
	overflow: hidden;
	margin-bottom: 30px;
	background: url(/img/common/inclose-bold-content_bg.gif) no-repeat center bottom;
	padding-bottom: 5px;
}
.module-box .mod-inclose-bold-content .boxL,
.module-box .mod-inclose-bold-content .boxR {
	border-top: 5px solid #c4c4c4;
	border-right: 5px solid #c4c4c4;
	border-left: 5px solid #c4c4c4;
	width: 310px;
	padding: 20px;
}
.module-box .mod-inclose-bold-content .boxL {
	float: left;
}
.module-box .mod-inclose-bold-content .boxR {
	float: right;
}
.module-box .mod-inclose-bold-content .content-title {
	font-size: 16px;
	margin-bottom: 12px;
	font-weight: bold;
}
.module-box .mod-inclose-bold-content .imgL {
	width: 106px;
	float: left;
}
.module-box .mod-inclose-bold-content .imgR {
	width: 106px;
	float: right;
	margin-left: 24px;
}
.module-box .mod-inclose-bold-content .box {
	width: 180px;
	float: right;
}
.module-box .mod-inclose-bold-content p {
	font-size: 14px;
	line-height: 1.7;
	margin-bottom: 30px;
}
.module-box .mod-inclose-bold-content.big-image p {
	margin-bottom: 25px;
}
.module-box .mod-inclose-bold-content .btn {
	margin-bottom: 0;
}
.module-box .mod-inclose-bold-content.big-image .btn {
	margin-bottom: 0;
}
.module-box .mod-inclose-bold-content .link {
	margin-bottom: 30px;
}
.module-box .mod-inclose-bold-content .link a {
	font-size: 12px;
	background: url(/img/common/icon_arrow_blue.jpg) no-repeat left center;
	padding: 3px 0 2px 12px;
}


/*
 * 見出し付きボタンリスト
 */
.module-box .mod-inclose-content-item-list {
	margin-bottom: 30px;	
}
.module-box .mod-inclose-content-item-list .content-title {
	border-bottom: 1px solid #959595;
	font-size: 16px;
	line-height: 1.7;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}
.module-box .mod-inclose-content-item-list .list-item {
	border-bottom: 1px dotted #939393;
	margin-bottom: 15px;
}
.module-box .mod-inclose-content-item-list dl {
	overflow: hidden;
	padding-bottom: 5px;
}
.module-box .mod-inclose-content-item-list dt {
	width: 275px;
	float: left;
	padding-top: 8px;
}
.module-box .mod-inclose-content-item-list dt a {
	font-size: 12px;
	background: url(/img/common/icon_arrow_blue.jpg) no-repeat left center;
	padding: 3px 0 2px 12px;
}
.module-box .mod-inclose-content-item-list dd {
	width: 470px;
	float: left;
	line-height: 1;
}
.module-box .mod-inclose-content-item-list .item-list {
	overflow: hidden;
	margin-right: -10px;
}
.module-box .mod-inclose-content-item-list .item-list li {
	float: left;
	margin: 0 10px 10px 0;
}


/*
 * カート付きコンテンツ
 */
.module-box .mod-cart-content-list {
	margin-bottom: 30px;	
	font-size: 14px;
	line-height: 1.7;
}
.module-box .mod-cart-content-list .content-list {
	overflow: hidden;
	margin: 0;
}
.module-box .mod-cart-content-list .content-list > li {
	border-right: 1px solid #d8d8d8;
	float: left;
	width: 247px;
	padding-bottom: 32767px;
	margin-bottom: -32767px; 
}
.module-box .mod-cart-content-list .content-list > li:first-child {
	border-left: 1px solid #d8d8d8;	
	/*width: 249px;*/
}
.module-box .mod-cart-content-list .content-list > li .box {
	padding: 0 20px;
	position: relative;
}
.module-box .mod-cart-content-list .content-list > li:first-child .box {
}
.module-box .mod-cart-content-list .image {
	margin-bottom: 14px;
}
.module-box .mod-cart-content-list .image.no1:after {
	content: " ";
	background: url(/img/common/no1-popup.png) no-repeat left top;
	width: 57px;
	height: 24px;
	display: block;
	position: absolute;
	top: 10px;
	left: 30px;
}
.module-box .mod-cart-content-list .content-title {
	border-bottom: 1px dotted #d8d8d8;
	font-weight: bold;
	margin-bottom: 16px;
	background: url(/img/common/icon_arrow_blue.jpg) no-repeat left 5px;
	padding: 0 0 16px 18px;
}
.module-box .mod-cart-content-list .content-sub-title {
	font-weight: bold;
	margin-bottom: 12px;
}
.module-box .mod-cart-content-list p {
	margin-bottom: 14px;
}
.module-box .mod-cart-content-list .tags {
	overflow: hidden;
	padding: 10px 0 0 10px;
	background-color: #efefef;
}
.module-box .mod-cart-content-list .tags li {
	float: left;
	margin: 0 8px 8px 0;
	font-size: 12px;
	line-height: 1;
}
.module-box .mod-cart-content-list .cart {
	padding: 6px 0;
	text-align: center;
	background-color: #efefef;
	width: 210px;
	margin: 0 auto;
	margin-top: 20px;
}


/*
 * 3カラムコンテンツリスト
 */
.module-box .mod-3clm-content-list > ul {
	width: 765px;
	margin: 20px -20px 0 0;
	overflow: hidden;
}
.module-box .mod-3clm-content-list > ul li {
	width: 235px;
	float: left;
	margin: 0 20px 30px 0;
}
.module-box .mod-3clm-content-list > ul li p {
	padding: 0 0 12px 0;
	font-size: 14px;
}
.module-box .mod-3clm-content-list > ul li dt {
	font-weight: bold;
	padding: 0 0 8px 0;
	font-size: 12px;
}
.module-box .mod-3clm-content-list > ul li dd {
	font-size: 14px;
}
.module-box .mod-3clm-content-list .image a:hover {
	text-decoration: none;
}
.module-box .mod-3clm-content-list .image01 {
	border: 5px solid #999;
	margin-bottom: 12px;
}
.module-box .mod-3clm-content-list .image01 .content-sub-title {
	background-color: #999;
	color: #fff;
	padding: 9px 9px 12px;
	font-size: 12px;
}
.module-box .mod-3clm-content-list .image01 .content-title {
	color: #333;
	font-size: 28px;
	padding: 26px 0;
	text-align: center;
	line-height: 1.2;
	font-weight: bold;
}
.module-box .mod-3clm-content-list .image02 {
	background-color: #efefef;
	margin-bottom: 12px;
	padding: 20px 0;
}
.module-box .mod-3clm-content-list .image02 .content-sub-title {
	background-color: #999;
	color: #fff;
	padding: 5px;
	text-align: center;
	font-size: 12px;
	display: inline-block;
	margin-bottom: 10px;
}
.module-box .mod-3clm-content-list .image02 .content-title {
	color: #333;
	font-size: 24px;
	line-height: 1.2;
	padding: 0 20px;
	font-weight: bold;
}
.module-box .mod-3clm-content-list .image03 {
	border: 3px solid #d0d0d0;
	margin-bottom: 12px;
	padding: 2px;
	background-color: #fff;
}
.module-box .mod-3clm-content-list .image03 > a {
	background-color: #d0d0d0;
	display: block;
	padding: 16px 18px;
}
.module-box .mod-3clm-content-list .image03 .content-sub-title {
	color: #555;
	padding: 5px;
	text-align: center;
	font-size: 12px;
	display: inline-block;
	margin-bottom: 8px;
}
.module-box .mod-3clm-content-list .image03 .content-title {
	color: #333;
	font-size: 24px;
	line-height: 1.2;
	font-weight: bold;
	padding-bottom: 0;
}


/*
 * 3カラム細コンテンツリスト
 */
.module-box .mod-3clm-thin-content-list {
	margin-bottom: 30px;
}
.module-box .mod-3clm-thin-content-list ul {
	overflow: hidden;
	margin-right: -20px;
}
.module-box .mod-3clm-thin-content-list ul li {
	margin-right: 20px;
	float: left;
}
.module-box .mod-3clm-thin-content-list ul li .label {
	margin-bottom: 30px;
}


/*
 * グレーボックス
 */
.module-box .mod-supplement-box {
	background: #ededed;
	width: 725px;
	margin: 0 0 30px;
	padding: 20px 0 0 20px;
	overflow: hidden;
}
.module-box .mod-supplement-box .content-title {
	font-weight: bold;
	font-size: 14px;
	line-height: 1.7;
	margin-bottom: 12px;
}
.module-box .mod-supplement-box ul {
	overflow: hidden;
	margin-right: -20px;
}
.module-box .mod-supplement-box ul li {
	margin: 0 15px 20px 0;
	float: left;
}


/*
 * タイトル付き3カラム
 */
.module-box .mod-title-3clm-box {
	margin-bottom: 30px;
}
.module-box .mod-title-3clm-box > ul {
	overflow: hidden;
	margin-right: -20px;
	background: url(/img/common/title-3clm-box_bg.gif) no-repeat left bottom;
}
.module-box .mod-title-3clm-box ul li.wrap {
	float: left;
	margin-right: 20px;
	width: 235px;
	border-top: 1px solid #ccc;
}
.module-box .mod-title-3clm-box .content-title {
	background-color: #ededed;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #c4c4c4;
	padding: 11px;
	margin: 0 1px;
	font-size: 14px;
}
.module-box .mod-title-3clm-box .box {
	padding: 15px;
}
.module-box .mod-title-3clm-box .box ul {
	margin-bottom: 10px;
}
.module-box .mod-title-3clm-box .btn {
	text-align: center;
}

/*
 * タイトル付き3カラム
 */
.module-box .mod-title-3clm-box .box .content-title {
	font-size: 14px;
}
.module-box .mod-title-3clm-box .box > ul li:before {
	content: "・";
	position: absolute;
	left: 0;
}
.module-box .mod-title-3clm-box .box > ul li {
	padding-left: 1em;
	position: relative;
}

.module-box .mod-3clm-btn-list {
	margin-bottom: 15px;
}
.module-box .mod-3clm-btn-list ul {
	overflow: hidden;
	margin-right: -15px;
}
.module-box .mod-3clm-btn-list ul li {
	margin: 0 15px 15px 0;
	float: left;
}

/*
 * 4カラム
 */
.module-box .mod-4clm-box {
	margin-bottom: 11px;
}
.module-box .mod-4clm-box ul {
	overflow: hidden;
	margin-right: -19px;
}
.module-box .mod-4clm-box ul li {
	float: left;
	margin: 0 19px 19px 0;
	width: 172px;
}
.module-box .mod-4clm-box .image {
	margin-bottom: 10px;
}
.module-box .mod-4clm-box p {
	font-size: 14px;
	line-height: 1.7;
}
.module-box .mod-4clm-box .content-title {
	margin-bottom: 10px;
	font-weight: bold;
}

/*
 * 細線囲い4カラム
 */
.module-box .mod-4clm-border-box {
	margin-bottom: 30px;
	padding: 17px 0;
	border: 1px solid #c4c4c4;
}
.module-box .mod-4clm-border-box ul {
	overflow: hidden;
	margin-right: -18px;
}
.module-box .mod-4clm-border-box ul li {
	width: 150px;
	float: left;
	padding: 0 17px 0 18px;
	height: 100%;
	border-left: 1px solid #c4c4c4;
	padding-bottom: 10000px;
	margin-bottom: -10000px;
}
.module-box .mod-4clm-border-box ul li:first-child {
	border-left: none;
}
.module-box .mod-4clm-border-box .image {
	margin-bottom: 10px;
}
.module-box .mod-4clm-border-box p {
	font-size: 14px;
	line-height: 1.7;
}
.module-box .mod-4clm-border-box .content-title {
	margin-bottom: 10px;
	font-weight: bold;
	text-align: center;
}

/*
 * 商品スペック
 */
.module-box .mod-spec-box {
	width: 725px;
	margin-bottom: 30px;
	background-color: #ededed;
	padding: 10px;
}
.module-box .mod-spec-box .wrap {
	overflow: hidden;
}
.module-box .mod-spec-box .wrap > div {
	background-color: #fff;
	float: left;
}
.module-box .mod-spec-box .boxL {
	width: 207px;
	padding: 8px 10px 10px;
	margin-right: 4px;
	padding-bottom: 10000px;
	margin-bottom: -10000px;
}
.module-box .mod-spec-box .boxC {
	width: 267px;
	padding: 8px 10px 10px;
	margin-right: 4px;
	padding-bottom: 10000px;
	margin-bottom: -10000px;
}
.module-box .mod-spec-box .boxR {
	width: 183px;
	padding: 8px 10px 10px;
	padding-bottom: 10000px;
	margin-bottom: -10000px;
}
.module-box .mod-spec-box .boxL .image-navi {
	width: 57px;
	padding: 4px 0 4px 27px;
	background: url(/img/common/ico-view.jpg) no-repeat left center;
	margin: 0 auto 7px;
}
.module-box .mod-spec-box .boxL .image-navi span {
	background-color: #adadad;
	width: 10px;
	height: 10px;
	display: inline-block;
	vertical-align: middle;
}
.module-box .mod-spec-box .boxL .image-navi span:first-child {
	margin-right: 8px;
}
.module-box .mod-spec-box .boxL .btns li {
	line-height: 0;
}
.module-box .mod-spec-box .boxL .btns li.first {
	float: left;
	margin-bottom: 5px;
}
.module-box .mod-spec-box .boxL .btns li.second {
	float: right;
	margin-bottom: 5px;
}
.module-box .mod-spec-box .boxL .btns li.last {
	clear: both;
	margin-bottom: 10px;
}
.module-box .mod-spec-box .boxC .detail-list {
	border-bottom: 1px dotted #a5a5a5;
	padding-bottom: 8px;
	margin-bottom: 8px;	
}
.module-box .mod-spec-box .boxC .detail-list ul {
	overflow: hidden;	
}
.module-box .mod-spec-box .boxC .detail-list li {
	float: left;
	width: 83px;
	border-left: 1px solid #ddd;
	padding-left: 4px;
	margin-left: 4px;
	text-align: center;
	font-weight: bold;
	padding-bottom: 10000px;
	margin-bottom: -10000px;
}
.module-box .mod-spec-box .boxC .detail-list li:first-child {
	border-left: none;
	padding-left: 0;
	margin-left: 0;
}
.module-box .mod-spec-box .boxC .detail-list li dd {
	min-height: 30px;
	padding: 15px 0;
}
.module-box .mod-spec-box .boxR dt {
	background-color: #ededed;
	padding: 8px;
	font-weight: bold;
	margin-bottom: 12px;
}
.module-box .mod-spec-box .boxR dt span {
	font-weight: normal;
}
.module-box .mod-spec-box .boxR .price {
	padding: 0 0 8px;
	border-bottom: 1px dotted #a5a5a5;
	margin-bottom: 10px;
	text-align: right;
	font-size: 26px;
	font-weight: bold;
}
.module-box .mod-spec-box .boxR .price span {
	font-weight: normal;
	font-size: 14px;
}
.module-box .mod-spec-box .boxR .note p {
	margin-bottom: 10px;
}
.module-box .mod-spec-box .boxR .btns li {
	margin-bottom: 5px\9;
}
.module-box .mod-spec-box .boxR .btns .amazon {
	float: left;
}
.module-box .mod-spec-box .boxR .btns .rakuten {
	float: right;
}
.module-box .mod-spec-box .boxR .btns .document {
	clear: both;
	margin-bottom: 10px;
}


/*
 * ミニカート
 */
.module-box .mod-functional-form {
	width: 745px;
	border-top: 30px solid #fff;
	margin-bottom: 30px;
}
.module-box .mod-functional-form table {
	width: 100%;
	border: 10px solid #ededed;
}
.module-box .mod-functional-form th {
	background-color: #ededed;
	padding: 25px 20px 25px 10px;
	font-weight: bold;
	position: relative;
	font-size: 14px;
	width: auto;
	white-space: nowrap;
	vertical-align: middle;
}
.module-box .mod-functional-form td {
	padding: 10px;
	vertical-align: middle;
}
.module-box .mod-functional-form td.price {
	padding: 13px 10px 13px 20px;
	white-space: nowrap;
	background: url(/img/common/functional-form-arrow.gif) no-repeat left center;
}
.module-box .mod-functional-form td.price strong {
	font-size: 18px;
}
.module-box .mod-functional-form td.cart {
	padding-right: 10px;
	padding-left: 0;
}
.module-box .mod-functional-form td .note {
	padding-left: 10px;
	border-left: 1px solid #ccc;
	margin-bottom: 0;
	line-height: 1.4;
}
.module-box .mod-functional-form td .cart {
	float: right;
	width: 80px;
	text-align: right;
	padding-top: 5px;
}
.module-box .mod-functional-form td.form form {
	padding-bottom: 10px;
}
.module-box .mod-functional-form td.form form input {
	vertical-align: middle;
}
.module-box .mod-functional-form td.form form .text {
	width: 67%;
	margin: 15px 10px 5px 10px;
}
.module-box .mod-functional-form td.form form .submit {
	margin-top: 8px;
	float: right;
}
.module-box .mod-functional-form td.input {
	padding-left: 20px;
	background: url(/img/common/functional-form-arrow.gif) no-repeat left center;
}
.module-box .mod-functional-form td.input input {
	width: 100%;
	min-width: 245px;
}
.module-box .mod-functional-form td.btn {
	width: 149px;
}

/*
 * フッターカート
 */
.module-box .mod-footer-cart {
	width: 665px;
	border: 20px solid #ededed;
	margin-bottom: 30px;
	padding: 20px;
	overflow: hidden;
}
.module-box .mod-footer-cart .btn {
	margin: 0 20px 0 168px;
	float: left;
}
.module-box .mod-footer-cart ul {
	padding-left: 332px;
	margin-bottom: -8px;
}
.module-box .mod-footer-cart ul li {
	margin-bottom: 8px;
}
.module-box .mod-footer-cart ul li a {
	background:url("/img/common/file_sideicon04.png") no-repeat left center;
	padding: 3px 0 2px 15px;
}


/*
 * 検索モジュール
 */
.module-box .mod-search-module {
	overflow: hidden;
	margin-bottom: 30px;
}
.module-box .mod-search-module > div {
	width: 358px;
	border: 1px solid #c4c4c4;
}
.module-box .mod-search-module .boxL {
	float: left;
}
.module-box .mod-search-module .boxR {
	float: right;
}
.module-box .mod-search-module .content-title {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #c4c4c4;
	padding: 12px 20px;
	background-color: #ededed;
	font-weight: bold;
	font-size: 14px;
}
.module-box .mod-search-module .boxL ul {
	padding: 12px 0 0 10px;
	overflow: hidden;
	margin-right: -12px;
}
.module-box .mod-search-module .boxL ul li {
	float: left;
	margin: 0 12px 8px 0;
	margin-bottom: 12px\9;
}
.module-box .mod-search-module .boxR .box {
	padding: 14px 27px;
}
.module-box .mod-search-module .boxR .box form {
	overflow: hidden;
	margin-bottom: 10px;
}
.module-box .mod-search-module .boxR .box form .text {
	float: left;
	width: 215px;
}
.module-box .mod-search-module .boxR .box form .submit {
	float: right;
}
.module-box .mod-search-module .boxR .box p {
	margin-bottom: 10px;
}
.module-box .mod-search-module .boxR .box p.attention {
	margin-bottom: 5px;
}


/*
 * センタリング
 */
.module-box .mod-centering-module {
	margin-bottom: 30px;
}
.module-box .mod-centering-module ul {
	text-align: center;
	margin: 0 -20px 0 -2px;
}
.module-box .mod-centering-module ul li {
	display: inline-block;
	width: 235px;
	margin-right: 16px;
	vertical-align: top;
}
.module-box .mod-centering-module .image {
	margin: 0;
	text-align: center;
}
.module-box .mod-centering-module .image a {
	text-align: center;
}
.module-box .mod-centering-module p {
	margin-top: 14px;
	margin-bottom: 0;
	text-align: left;
}


/*
 * センタリングボタン
 */
.module-box .mod-centering-btn-module {
	margin-bottom: 25px;
}
.module-box .mod-centering-btn-module ul {
	text-align: center;
	margin: 0 -20px 0 -7px;
}
.module-box .mod-centering-btn-module ul li {
	display: inline-block;
	margin-right: 12px;
	line-height: 1;
}


/*
 * 右寄せ
 */
.module-box .mod-align-right {
	margin-bottom: 30px;
	text-align: right;
	font-size: 14px;
	line-height: 1.7;
}


/*
 * 大きい画像の2カラムレイアウト
 */
.module-box .mod-big-image-content {
	overflow: hidden;
	margin-bottom: 30px;
}
.module-box .mod-big-image-content > div {
	width: 360px;
}
.module-box .mod-big-image-content .boxL {
	float: left;
}
.module-box .mod-big-image-content .boxR {
	float: right;
}
.module-box .mod-big-image-content .content-title {
	margin-bottom: 12px;
	font-size: 16px;
	font-weight: bold;
}
.module-box .mod-big-image-content .image {
	margin-bottom: 0;
}
.module-box .mod-big-image-content p {
	margin-bottom: 30px;
	font-style: 14px;
	line-height: 1.7;
}
.module-box .mod-big-image-content .last {
	margin-bottom: 0;
}


/*
 * 広告
 */
.module-box .mod-advertise-box {
 	margin-bottom: 30px;
 	overflow: hidden;
}
.module-box .mod-advertise-box .adv {
	margin-bottom: 5px;
}
.module-box .mod-advertise-box .pr a {
	background: url("../img/common/icon_pr.jpg") no-repeat left center;
 	padding: 3px 0 2px 20px;
}
.module-box .mod-advertise-box li {
 	line-height: 1.7;
}
.module-box .mod-advertise-box .boxL {
 	width: 350px;
 	float: left;
}
.module-box .mod-advertise-box .boxR {
 	width: 385px;
 	float: right;
}


/*
 * ポイント
 */
.module-box .mod-point-list {
	padding-bottom: 7px;
}
.module-box .mod-point-list ul {
	overflow: hidden;
}
.module-box .mod-point-list li {
	overflow: hidden;
	border-bottom: 1px dotted #a5a5a5;
	padding: 0 0 5px;
	margin-bottom: 23px;
}
.module-box .mod-point-list li .image {
	float: left;
	width: 50px;
}
.module-box .mod-point-list li .boxR {
	float: right;
	width: 665px;
}
.module-box .mod-point-list li .boxR .list-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 1;
}
.module-box .mod-point-list li .boxR p {
	margin-bottom: 14px;
	line-height: 1.7;
}


/*
 * 英文解説
 */
.module-box .mod-commentary-topic {
	font-size: 14px;
	margin-bottom: 30px;
	line-height: 1.7;
}
.module-box .mod-commentary-topic .topic-title {
	background-color: #ededed;
	padding: 20px 20px 18px;
	font-weight: bold;
}
.module-box .mod-commentary-topic .commentary {
	border-right: 5px solid #ededed;
	border-bottom: 5px solid #ededed;
	border-left: 5px solid #ededed;
	padding: 25px 25px 20px;
	position: relative;
}
.module-box .mod-commentary-topic .commentary:before {
	top: 0;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: #fff;
	border-top-color: #ededed;
	border-width: 10px;
	margin-left: -10px;
}
.module-box .mod-commentary-topic .commentary ul {
	border-bottom: 1px solid #dbdbdb;
	margin-bottom: 20px;
}
.module-box .mod-commentary-topic .commentary li {
	overflow: hidden;
	margin-bottom: 20px;
}
.module-box .mod-commentary-topic .commentary li img {
	float: left;
}
.module-box .mod-commentary-topic .commentary li span {
	float: right;
	display: block;
	width: 630px;
	font-weight: bold;
}
.module-box .mod-commentary-topic .commentary .commentary-text {
	background: url(/img/common/icon-commentary.gif) no-repeat left center;
	padding: 4px 0 2px 35px;
}


/*
 * ページャー
 */
.module-box .mod-page-navi {
	margin: 0 0 30px;
	text-align: center;
	font-size: 14px;
}
.module-box .mod-page-navi a.page-numbers,
.module-box .mod-page-navi .current {
	background: #fff;
	border: 1px solid #999;
	padding: 8px 12px;
	margin: 0 4px;
	display: inline-block;
}
.module-box .mod-page-navi .current {
	background: #e5effb;
	color: #333;
}
.module-box .mod-page-navi a.prev, 
.module-box .mod-page-navi a.next {
	border: none;
}

/*
 * テーブル
 */
.module-box .mod-table-box table {
	width: 100%;
	margin-bottom: 30px;
}
.module-box .mod-table-box table th,
.module-box .mod-table-box table td {
	padding: 11px;
	font-size: 14px;
	line-height: 1.7;
	text-align: left;
	background-color: #ededed;
	border: 3px solid #fff;
	vertical-align: middle;
}
.module-box .mod-table-box table tbody tr > *:first-child {
	width: 128px;
}
.module-box .mod-table-box.equality-width table tbody tr > *:first-child {
	width: auto;
}
.module-box .mod-table-box.has-border table th,
.module-box .mod-table-box.has-border table td {
	border: 1px solid #c4c4c4;
	padding: 10px;
}
.module-box .mod-table-box.has-color thead th {
	background-color: #e5effb;
}
.module-box .mod-table-box.has-color tbody th {
	background-color: #f6f6f6;
}
.module-box .mod-table-box.has-border table td,
.module-box .mod-table-box.has-color table td {
	background-color: #fff;
}


/*
 * 単語表
 */
.module-box .mod-list-table {
	margin-bottom: 30px;
}
.module-box .mod-list-table .box {
	border: 20px solid #ededed;
	padding: 15px 15px 0;
	font-size: 14px;
	overflow: hidden;
}
.module-box .mod-list-table ul {
	border-left: 1px dotted #c4c4c4;
	padding: 0 15px;
	width: 190px;
	float: left;
}
.module-box .mod-list-table ul:first-child {
	border-left: none;
	padding-left: 0;
}
.module-box .mod-list-table dl {
	overflow: hidden;
	margin-bottom: 10px;
}
.module-box .mod-list-table dl dt {
	display: inline;
}
.module-box .mod-list-table dl dt:before {
	content: "□";
	margin-right: 5px;
}
.module-box .mod-list-table dl dd {
	display: inline;
}
.module-box .mod-list-table dl dd:before {
	content: ".........";
	margin: 0 10px;
}


/*
 * アコーディオン	
 */
.module-box .mod-accordion-box {
	margin-bottom: 20px;
}
.module-box .mod-accordion-box > dl {
	overflow: hidden\9;
}
.module-box .mod-accordion-box > dl > dt {
	height: 51px;
	background: url("/img/common/accordion-bg.gif") 0 -70px no-repeat;
	cursor: pointer;
	overflow: hidden;
	padding: 9px 0 10px;
}
.module-box .mod-accordion-box > dl > dt.open {
	background-position: 0 0;
}
.module-box .mod-accordion-box > dl > dt p.image {
	float: left;
	width: 42px;
	margin: 0 20px 20px 10px;
}
.module-box .mod-accordion-box > dl > dt p.txt {
	width: 700px;
	padding: 5px 0 0 10px;
	font-weight: bold;
	font-size: 14px;
	line-height: 1;
}
.module-box .mod-accordion-box > dl > dd {
	padding: 0 10px 30px 10px;
	display: none;
	font-size:14px;
	line-height: 1.7;
}
.module-box .mod-accordion-box.big > dl > dt {
	height: 69px;
	background: url("/img/common/accordion-bg-big.gif") 0 0 no-repeat;
}
.module-box .mod-accordion-box.big > dl > dt.open {
	background-position: 0 -88px;
}
.module-box .mod-accordion-box.mini > dl > dt {
	height: 31px;
	background: url("/img/common/accordion-bg-mini.gif") 0 0 no-repeat;
}
.module-box .mod-accordion-box.mini > dl > dt.open {
	background-position: 0 -50px;
}


/*
 * NOTE
 */
.module-box .mod-note-box {
 	margin-bottom: 30px;
 	overflow: hidden;
}
.module-box .mod-note-box .boxL {
	float: left;
}
.module-box .mod-note-box .boxR {
	float: right;
	width: 525px;
}
.module-box .mod-note-box .boxR .tips dt {
	margin-bottom: 10px;
}
.module-box .mod-note-box .boxR .tips dt a {
	padding: 8px 8px 0;
	background: url(/img/common/accordion-bg-notes.gif) no-repeat;
	background-position: 0 -32px;
	display: block;
	color: #555;
	font-weight: bold;
	height: 24px;
}
.module-box .mod-note-box .boxR .tips dt a:hover {
	text-decoration: none;
}
.module-box .mod-note-box .boxR .tips dt.open a {
	background-position: 0 0;
}
.module-box .mod-note-box .boxR .tips dd {
	margin-bottom: 10px;
	padding: 0 5px;
	display: none;
}


/*
 * ローカルナビ
 */
.module-box .mod-local-navi {
	margin-bottom: 30px;
}
.module-box .mod-local-navi ul {
	overflow: hidden;
	margin-right: -20px;
}
.module-box .mod-local-navi ul li {
	float: left;
	margin-right: 9px;
}
.module-box .mod-local-navi ul li:first-child {
	margin-right: 10px;
}


/*
 * ローカルタブ
 */
.module-box .mod-local-tab input[type=radio] {
	/*display: none;*/
	position: absolute;
	left: -9999px;
}
.module-box .mod-local-tab ul {
	background: url("/img/common/local_navi_bg.gif") left 5px no-repeat;
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;
}
.module-box .mod-local-tab li { 
	float: left; 
}
.module-box .mod-local-tab label {
    display: table-cell;
    font-size: 120%;
    font-weight: bold;
    height: 60px;
    line-height: 1.2em;
    text-align: center;
    vertical-align: middle;
    width: 248px;
    cursor: pointer;
}
.module-box .mod-local-tab input.active + label {
	height:60px;
	background-color:#ffffff;
	border:1px solid #cccccc;
	border-bottom:none;
	width: 246px;
}
.module-box .mod-local-tab input.active ~ [id^=tab-content] {
	display: block;
}
.module-box .mod-local-tab label span {
	border-right: 1px dotted #ccc;
	display: block;
}
.module-box .mod-local-tab input.active + label span {
	border-right: none !important;
}
.module-box .mod-local-tab label span span {
	background:url(/img/common/icon_arrow_lnav.gif) no-repeat scroll 1px center;
	display: inline-block;
	padding: 5px 0 3px 20px;
	border-right: none;
}
.module-box .mod-local-tab input.active + label span span {
	background:url(/img/common/icon_arrow_lnav_crnt.gif) no-repeat scroll left 3px;
	padding: 2px 0 3px 19px !important;
}
.module-box .mod-local-tab .tab-content {
	z-index: 1;
	display: none;
	text-align: left;
	width: 100%;
	overflow-y: auto;
	position: absolute;
	top: 62px;
	left: 0;
	box-sizing: border-box;
}


/*
 * アンカーリンク
 */
.module-box .mod-inpage-link {
	width: 713px;
	border: 1px solid #c4c4c4;
	overflow: hidden;
	padding: 15px 15px 0;
	margin: 20px 0 30px;
}
.module-box .mod-inpage-link li {
	float: left;
	margin: 0 18px 15px 0;
	font-size: 14px;
}
.module-box .mod-inpage-link li a {
	display: block;
	background: url("/img/common/icon_arrow_blue02.jpg") 0 4px no-repeat;
	padding:0 0 0 12px;
}


/*
 * インラインフレーム
 */
.module-box .mod-iframe-box {
	margin-bottom: 30px;
}
.module-box .mod-iframe-box iframe {
	border: 1px solid #c4c4c4;
	width: 743px;
	overflow: hidden;
}
.module-box .mod-iframe {
	padding: 20px;
	font-size: 14px;
	line-height: 1.7;
}
.module-box .mod-iframe .headding {
	margin-bottom: 20px;
}


/*
 * フォーム
 */
.module-box .mod-form-box {
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 1.7;
}
.module-box .mod-form-box table {
	width: 100%;
}
.module-box .mod-form-box .alert-error-box {
	color: #f00;
	font-weight: bold;
	font-size: 18px;
	padding: 20px;
	border: 1px dotted #c4c4c4;
	margin-bottom: 20px;
}
.module-box .mod-form-box th,
.module-box .mod-form-box td {
	border: 1px solid #c4c4c4;
}
.module-box .mod-form-box th {
	background-color: #ededed;
	text-align: left;
	padding: 10px 20px;
	width: 210px;
	vertical-align:middle;
}
.module-box .mod-form-box th .note {
	font-weight: normal;
	font-size: 12px;
	display: block;
}
.module-box .mod-form-box th .must {
	color: #ff0000;
}
.module-box .mod-form-box td {
	padding: 10px;
}
.module-box .mod-form-box td textarea {
	width: 90%;
	min-height:130px; 
}
.module-box .mod-form-box td .case {
	font-size: 12px;
}
.module-box .mod-form-box td .title {
	font-weight: bold;
}
.module-box .mod-form-box td .wL {
	width: 98%;
}
.module-box .mod-form-box td .wM {
	width: 60%;
}
.module-box .mod-form-box td .wS {
	width: 30%;
}
.module-box .mod-form-box td label {
	width: 30%;
	display: inline-block;
	padding-top: 1px;
}
.module-box .mod-form-box td .alert-error {
	font-size: 12px;
	color: #f00;
}


/*
 * モーダル
 */
.module-box.modal {
	margin: 0 auto;
	padding: 20px 0;
	position: relative;
	width: 745px;
}
.module-box .mod-modal {
	padding-bottom: 20px;
}
.module-box .btn-close {
	text-align: center;
	padding: 30px 0;
	position: fixed;
	bottom: 0;
	background-color: #fff;
	width: 745px;
}


/*
 * カルーセル
 */
.module-box .mod-carousel-box {
	margin-bottom: 30px;
}
.module-box .mod-carousel-box .wrap {
	height: 376px;
	overflow: hidden;
}
.module-box .mod-carousel-box .wrap .main-area {
	height:280px;
	overflow:hidden;
}
.module-box .mod-carousel-box .wrap .main-area ul {
	width: 99999px;
	overflow: hidden;
}
.module-box .mod-carousel-box .wrap .main-area ul li {
	float: left;
	padding: 0;
	margin: 0;
	width: 745px;
	overflow: hidden;
}
.module-box .mod-carousel-box .wrap .sub-area {
	margin: 1px 0 0 0;
	width: 745px;
	height: 95px;
	background: url("../img/top/slide_bg.gif") top left no-repeat;
	position: relative;
}
.module-box .mod-carousel-box .wrap .sub-area ul {
	width: 720px;
	height: 55px;
	position: absolute;
	top: 20px;
	left: 30px;
	overflow: hidden;
}
.module-box .mod-carousel-box .wrap .sub-area ul li {
	float: left;
	width: 139px;
}
.module-box .mod-carousel-box .wrap .sub-area p {
	position: absolute;
	top: 20px;
}
.module-box .mod-carousel-box .wrap .sub-area p#slideBack {
	left: 0;
}
.module-box .mod-carousel-box .wrap .sub-area p#slideNext {
	right: 0;
}
.sub-area ul:after {
	content: ".";
	height: 0;
	clear: both;
	display: block;
	visibility: hidden;
}
.sub-area ul {
	display: inline-block;
	overflow: hidden;
}
.module-box .mod-carousel-box .wrap .sub-area-in {
	width:710px;
	height:72px;
	position:absolute;
	top:6px;
	left:11px;
	overflow:hidden;
}
.module-box .mod-carousel-box .wrap .sub-area ul {
	width: 9999px;
	height: 72px;
	overflow: hidden;
	position:static;
	top:none;
	left:none;
	padding-left:12px;
}
.module-box .mod-carousel-box .wrap .sub-area ul li {
	width: 140px;
	height:72px;
	float:left;
	position:relative;
}
.module-box .mod-carousel-box .wrap .sub-area ul li img {
	display:block;
	cursor:pointer;
	position:absolute;
	top:14px;
	left:5px;
	z-index:100;
}
.module-box .mod-carousel-box .wrap .sub-area ul li span {
	display:block;
	position:absolute;
	top:3px;
	left:2px;
	z-index:1000;
}
.module-box .mod-carousel-box .wrap .sub-area ul li span img {
	position:static;
}
.sub-area p{
	cursor:pointer;
}
.module-box .mod-carousel-parent{
	width:745px;
	height:280px;
	margin-bottom: 30px;
	overflow:hidden;
	position:relative;
}

.mod-carousel-parent ul li{
	float:left;
	width:745px;
	display:inline;
}
.mod-carousel-parent ul:after {
	content: ".";
	height: 0;
	clear: both;
	display: block;
	visibility: hidden;
}

.mod-carousel-parent ul {
	display: inline-block;
	overflow: hidden;
}
.module-box p.mod-carousel_next{
	position:absolute;
	top:115px;
	right:0;
	cursor:pointer;
}
.module-box p.mod-carousel_back{
	position:absolute;
	top:115px;
	left:0;
	cursor:pointer;
}


/* 旧カルーセル（サムネイル無し・不要な場合は削除） */

.module-box .mod-carousel-box2 {
	margin-bottom: 30px;
	position: relative;
}
.module-box .mod-carousel-box2 .cal-left {
	position: absolute;
	top: 115px;
	left: 0;
}
.module-box .mod-carousel-box2 .cal-right {
	position: absolute;
	top: 115px;
	right: 0;
}

 /**/

/*
 * プラグイン
 */
.module-box .mod-plugin-box {
	margin-bottom: 30px;
	overflow: hidden;
	padding: 10px;
	border: 5px solid #ededed;
}
.module-box .mod-plugin-box .boxL {
	float: left;
	width: 121px;
}
.module-box .mod-plugin-box.mini .boxL {
	width: 88px;
}
.module-box .mod-plugin-box .boxR {
	float: right;
	width: 590px;
}
.module-box .mod-plugin-box .boxR p {
	margin-bottom: 0;
}
.module-box .mod-plugin-box .boxR p.text {
	margin-bottom: 15px;
}
.module-box .mod-plugin-box.mini .boxR {
	width: 610px;
}
.module-box .mod-plugin-box p.text {
	font-size: 12px;
}


/*
 * SNS
 */
.module-box .mod-sns-box {
	overflow: hidden;
	margin-bottom: 1px;
}
.module-box .mod-sns-box ul {
  overflow:hidden;
  height:25px;
  padding:5px 0 3px;
  float: right;
}
.module-box .mod-sns-box li {
  float:left;
  padding-left:10px;
  height:20px;
}
.module-box .mod-sns-box li#sns-tweet {
  width:85px;
  overflow: hidden;
}

/*
 * その他
 */

/* メイン画像 */
.module-box .mod-main-image {
	margin-bottom: 30px;
}

/* ボタンルール */
.module-box .mod-btn-rule {
	margin-bottom: 30px;
}
.module-box .mod-btn-rule ul {
	overflow: hidden;
	margin-bottom: 30px;
}
.module-box .mod-btn-rule ul li {
	display: inline-block;
	margin-right: 19px;
}
.module-box .mod-btn-rule ul li img {
	vertical-align: middle;
}


/* フリーレイアウト */
.module-box .mod-free-layout {
	margin-bottom: 30px;
}

/* 区切り線 */
.module-box .mod-basic {
	margin-bottom: 30px;
	border-top: 1px solid #a5a5a5;
	border-right: none;
	border-bottom: none;
	border-left: none;
}
.module-box .mod-dotted {
	margin-bottom: 30px;
	border: none;
	border-top: 1px dotted #a5a5a5;
	border-right: none;
	border-bottom: none;
	border-left: none;
}


















