@charset "UTF-8";




/* --------------------------------------------------
  Virsion : 2.0
  Last Update : 2010.05.23
-------------------------------------------------- */




/* ########## / 擬似クラスセレクタ / pseudo-classes selector / ######################################## */


/* ========== / 擬似クラスセレクタ：共通：リンクカラー / pseudo-classes selector : system : link color / ======================================== */

/* リンクカラー・訪問済みリンク・ロールオーバーリンク・アクティブリンク ★名称変更不可 */




/* ========== / 擬似クラスセレクタ：個別：リンクカラー / pseudo-classes selector : user : link color / ======================================== */

/* リンクカラー・訪問済みリンク・ロールオーバーリンク・アクティブリンク ★pcc01～pcc98 */
.pcc01:link {
	color: #0000FF;
}
.pcc01:visited {
	color: #800080;
}
.pcc01:hover {
	color: #FF0000;
}
.pcc01:active {
	color: #FF0000;
}


/* ========== / 擬似クラスセレクタ：個別：リンク背景色 / pseudo-classes selector : user : link background color / ======================================== */

/* リンクカラー・訪問済みリンク・ロールオーバーリンク・アクティブリンク ★pcb01～pcb98 */
.pcb01:link {
	background: #FFFFFF;
}
.pcb01:visited {
	background: #FFFFFF;
}
.pcb01:hover {
	background: #FFFFFF;
}
.pcb01:active {
	background: #FFFFFF;
}


/* ========== / 擬似クラスセレクタ：個別：リンク背景イメージ / pseudo-classes selector : user : link background image / ======================================== */

/* リンクカラー・訪問済みリンク・ロールオーバーリンク・アクティブリンク ★pcbi01～pcbi98 */
.pcbi01:link {
	background: url();
}
.pcbi01:visited {
	background: url();
}
.pcbi01:hover {
	background: url();
}
.pcbi01:active {
	background: url();
}




/* ########## / タイプ / ######################################## */


/* ========== / タイプ：フォント / ======================================== */

/* ★t5～t8 */
.t5 {
	margin: 0px;
	padding: 0px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", sans-serif;
}


/* ========== / タイプ：サイズ / ======================================== */

/* ★s01～s98 ※s8・9・10・12・14・15・16・18・20・21・24・28・30・32・36・40・42・48・60・72は設定済 */
.s00 {
	font-size: 00px;
}


/* ========== / タイプ：ライン高 / ======================================== */

/* ★l7～l8 ※0.00em・1.10em・1.25em・1.5em・1.75em・2.00emは設定済 */
.l7 {
	line-height: 0.00em;
}


/* ========== / ★★★ タイプ：カラー ★★★ / ======================================== */

/* ★c01～c98 */
.c01 {
	color: #000000;
}
.c02 {
	color: #DFDFDF;
}
.c03 {
	color: #CFCFCF;
}
.c04 {
	color: #BFBFBF;
}
.c05 {
	color: #AFAFAF;
}
.c06 {
	color: #9F9F9F;
}
.c07 {
	color: #7F7F7F;
}
.c08 {
	color: #5F5F5F;
}
.c09 {
	color: #3F3F3F;
}
.c10 {
	color: #1F1F1F;
}
.c11 {
 	color: #000000;
}
.c12 {
 	color:#FFFFFF;
}
.c13 {
 	color:#F2001C;
}
.c14 {
 	color:#161515;
}
.c15 {
 	color:#0044A2;
}




/* ########## / 背景 / ######################################## */


/* ========== / ★★★ 背景：背景色 ★★★ / ======================================== */

/* ★b01～b98 */
.b01 {
	background-color: #FFFFFF;
}
.b02 {
	background-color: #E5EFFB;
}
.b03 {
	background-color: #CFCFCF;
}
.b04 {
	background-color: #BFBFBF;
}
.b05 {
	background-color: #AFAFAF;
}
.b06 {
	background-color: #9F9F9F;
}
.b07 {
	background-color: #7F7F7F;
}
.b08 {
	background-color: #5F5F5F;
}
.b09 {
	background-color: #3F3F3F;
}
.b10 {
	background-color: #1F1F1F;
}
.b11 {
 	background-color: #ADADAD;
}
.b12 {
 	background-color: #EDEDED;
}
.b13 {
 	background-color: #F2F2F2;
}
.b14 {
	background-color: #D8D8D8;
}



/* ========== / ★★★ 背景：背景イメージ ★★★ / ======================================== */

/* ★bi01～bi98 */
.bi01 {
	background-image: url();
}
.bi02 {
	background-image:url(../img/common/h3-bg01.jpg);
}
.bi03 {
	background-image:url(../img/common/h2-bg01.jpg);
}


/* ========== / 背景：水平位置・垂直位置 / ======================================== */

/* ★bp01～bp98 */
.bp01 {
	background-position: 000px 000px;
}




/* ########## / ブロック / ######################################## */


/* ========== / ブロック：単語間隔 / ======================================== */

/* ★ws3～ws8 ※0.0em・0.5em・1.0emは設定済 */
.ws3 {
	word-spacing: 0.0em;
}


/* ========== / ブロック：文字間隔 / ======================================== */

/* ★ls3～ls8 ※0.0em・0.5em・1.0emは設定済 */
.ls3 {
	letter-spacing: 1.1px;
}
.ls4 {
	letter-spacing: 1.7px;
}
.ls5 {
	letter-spacing: 0.5px;
}


/* ========== / ブロック：縦に整列 / ======================================== */


/* ========== / ブロック：テキストインデント / ======================================== */

/* ★n2～n8 ※0.0em・1.0emは設定済 */
.n2 {
	text-indent: 0.0em;
}




/* ########## / ボックス / ######################################## */


/* ========== / ★★★ ボックス：幅 ★★★ / ======================================== */

/* ★w101～w998 ※"extr_23"不使用時 */
.w000 {
	width: 000px;
}
.w1080 {
	width:1080px;
}
.w960 {
	width: 960px;
}


/* ========== / ★★★ ボックス：高さ ★★★ / ======================================== */

/* ★h101～h998 ※"extr_23"不使用時 */
.h000 {
	height: 000px;
}


/* ========== / ボックス：余白 / ======================================== */

/* すべて ★pa101～pa998 */
.pa000 {
	padding: 000px;
}

/* 上 ★pt101～pt998 */
.pt000 {
	padding-top: 000px;
}

/* 右 ★pr101～pr998 */
.pr000 {
	padding-right: 000px;
}

/* 下 ★pb101～pb998 */
.pb000 {
	padding-bottom: 000px;
}

/* 左 ★pl101～pl998 */
.pl000 {
	padding-left: 000px;
}


/* ========== / ボックス：マージン / ======================================== */

/* すべて ★ma101～ma998 */
.ma000 {
	margin: 000px;
}

/* 上 ★mt101～mt998 */
.mt000 {
	margin-top: 000px;
}

/* 右 ★mr101～mr998 */
.mr000 {
	margin-right: 000px;
}

/* 下 ★mb101～mb998 */
.mb000 {
	margin-bottom: 000px;
}

/* 左 ★ml101～ml998 */
.ml000 {
	margin-left: 000px;
}




/* ########## / ボーダー / ######################################## */


/* ========== / ボーダー：幅 / ======================================== */

/* すべて ★ja11～ja98 */
.ja00 {
	border-width: 00px;
}

/* 上 ★jt11～jt98 */
.jt00 {
	border-top-width: 00px;
}

/* 右 ★jr11～jr98 */
.jr00 {
	border-right-width: 00px;
}

/* 下 ★jb11～jb98 */
.jb00 {
	border-bottom-width: 00px;
}

/* 左 ★jl11～jl98 */
.jl00 {
	border-left-width: 00px;
}


/* ========== / ★★★ ボーダー：カラー ★★★ / ======================================== */

/* すべて ★ka01～ka98 */
.ka01 {
	border-color: #EFEFEF;
}
.ka02 {
	border-color: #DFDFDF;
}
.ka03 {
	border-color: #CFCFCF;
}
.ka04 {
	border-color: #e8e8e8;
}
.ka05 {
	border-color: #AFAFAF;
}
.ka06 {
	border-color: #9F9F9F;
}
.ka07 {
	border-color: #7F7F7F;
}
.ka08 {
	border-color: #5F5F5F;
}
.ka09 {
	border-color: #3F3F3F;
}
.ka10 {
	border-color: #1F1F1F;
}

/* 上 ★kt01～kt98 */
.kt01 {
	border-top-color: #000000;
}
.kt01 {
	border-top-color: #004092;
}
.kt02 {
	border-top-color: #CECECE;
}
.kt03 {
	border-top-color: #CFCFCF;
}
.kt04 {
	border-top-color: #BFBFBF;
}
.kt05 {
	border-top-color: #AFAFAF;
}
.kt06 {
	border-top-color: #9F9F9F;
}
.kt07 {
	border-top-color: #7F7F7F;
}
.kt08 {
	border-top-color: #5F5F5F;
}
.kt09 {
	border-top-color: #3F3F3F;
}
.kt10 {
	border-top-color: #1F1F1F;
}
.kt11 {
 	border-top-color: #EDEDED;
}

/* 右 ★kr01～kr98 */
.kr01 {
	border-right-color: #000000;
}
.kr01 {
	border-right-color: #EFEFEF;
}
.kr02 {
	border-right-color: #CECECE;
}
.kr03 {
	border-right-color: #CFCFCF;
}
.kr04 {
	border-right-color: #BFBFBF;
}
.kr05 {
	border-right-color: #AFAFAF;
}
.kr06 {
	border-right-color: #9F9F9F;
}
.kr07 {
	border-right-color: #7F7F7F;
}
.kr08 {
	border-right-color: #5F5F5F;
}
.kr09 {
	border-right-color: #3F3F3F;
}
.kr10 {
	border-right-color: #1F1F1F;
}
.kr11 {
 border-right-color: #EDEDED;
}

/* 下 ★kb01～kb98 */
.kb01 {
	border-bottom-color: #000000;
}
.kb01 {
	border-bottom-color: #EFEFEF;
}
.kb02 {
	border-bottom-color: #DFDFDF;
}
.kb03 {
	border-bottom-color: #CFCFCF;
}
.kb04 {
	border-bottom-color: #BFBFBF;
}
.kb05 {
	border-bottom-color: #AFAFAF;
}
.kb06 {
	border-bottom-color: #9F9F9F;
}
.kb07 {
	border-bottom-color: #7F7F7F;
}
.kb08 {
	border-bottom-color: #5F5F5F;
}
.kb09 {
	border-bottom-color: #3F3F3F;
}
.kb10 {
	border-bottom-color: #1F1F1F;
}
.kb11 {
 border-bottom-color: #C4C4C4;
}

/* 左 ★kl01～kl98 */
.kl01 {
	border-left-color: #000000;
}
.kl01 {
	border-left-color: #EFEFEF;
}
.kl02 {
	border-left-color: #DFDFDF;
}
.kl03 {
	border-left-color: #CFCFCF;
}
.kl04 {
	border-left-color: #BFBFBF;
}
.kl05 {
	border-left-color: #AFAFAF;
}
.kl06 {
	border-left-color: #9F9F9F;
}
.kl07 {
	border-left-color: #7F7F7F;
}
.kl08 {
	border-left-color: #5F5F5F;
}
.kl09 {
	border-left-color: #3F3F3F;
}
.kl10 {
	border-left-color: #1F1F1F;
}
.kl11 {
 	border-left-color: #EDEDED;
}



/* ########## / リスト / ######################################## */


/* ========== / リスト：ブレットイメージ / ======================================== */

/* ★gi01～gi98 */
.gi01 {
	list-style-image: url();
}




/* ########## / 位置 / ######################################## */


/* ========== / 位置：配置 / ======================================== */

/* 上 ★ut001～ut998 ※"extr_456"不使用時 */
.ut000 {
	top: 000px;
}

/* 右 ★ut001～ut998 ※"extr_456"不使用時 */
.ur000 {
	right: 000px;
}

/* 下 ★ub001～ub998 ※"extr_456"不使用時 */
.ub000 {
	bottom: 000px;
}

/* 左 ★ul001～ul998 ※"extr_456"不使用時 */
.ul000 {
	left: 000px;
}


/* ========== / 位置：Zインデックス / ======================================== */

/* ★z11～z98 */
.z00 {
	z-index: 00;
}


/* ========== / 位置：切り抜き / ======================================== */

/* 上・右・下・左 ★cp1～cp8 ※数値を設定しない項目には"auto"を入れる */
.cp1 {
	clip: rect(000px,auto,auto,000px);
}
