#common_css_ver {height:100px}
#head {height: 940px;}
#top {height: 50px;background: #181818;}
#top .top {width:1200px;margin:0 auto;height: 50px;}
#top .top .logo {float: left;display:block;height:50px;width:106px;}
#top .top .nav {float:left;height:50px;}
#top .top .nav li {float: left;font-size: 18px;margin:11px 0 0 50px;display: inline;}
#top .top .nav li a {color:#fff}
#top .top .nav li a.active {color:#feca2e;}
#top .top .tools {float: right;height: 50px;font-size:14px;line-height: 50px;}
#top .top .tools a {color:#fff}
#top .top .tools ul.choose {float:right;}
#top .top .tools ul.choose li {float: left;margin-right:20px;}
#top .top .tools ul.choose li a {background: url(http://image.kuwo.cn/website/pc/icon.png) no-repeat;}
#top .top .tools ul.choose .show a {background-position:-230px -23px;padding-left:20px;}
#top .top .tools ul.choose .game a {background-position:-169px -23px;padding-left:20px;}
#top .top .tools ul.choose .book a {background-position:-105px -23px;padding-left:20px;}
/**
http://image.kuwo.cn/website/pc/earphone.png
*/
#top .top .tools ul.choose .earphone a { background:url(http://image.kuwo.cn/website/pc/earphone.png) left center no-repeat;padding-left:20px;}
/*登陆*/
#top .top .tools .userBox {float:right;margin-left:20px;width:67px;height:50px;position:relative;z-index:1;background:url(http://www.kuwo.cn/static/image/web/homePage/loginDown.png) no-repeat right center;}
#top .top .tools .userBox:hover {background:url(http://www.kuwo.cn/static/image/web/homePage/loginUp.png) no-repeat right center;}
#top .top .tools .userBox #userName,#loginBtn {overflow: hidden;  white-space: nowrap;  text-overflow: ellipsis;width:56px;display: none}
.loginMenu {padding:0 19px;background:url(http://image.kuwo.cn/website/pc/moreBg.png);position: absolute;top:50px;left:-3px;display: none;border-bottom-left-radius:3px;border-bottom-right-radius:3px;}
.loginMenu a {width:120px;height:50px;line-height:50px;display: block;border-bottom:1px solid rgba(255,255,255,0.05);}
#top .top .loginMenu a:hover {color:#f0aa00}
.loginMenu i {float:left;background:url(http://www.kuwo.cn/static/image/web/homePage/loginIcon.png);width:23px;height:23px;margin:15px 5px 0 0;}
.loginMenu .logout i {background-position:-10px -10px}
.loginMenu .logout:hover i {background-position:-10px -53px}
.loginMenu .home i {background-position:-98px -10px}
.loginMenu .home:hover i {background-position:-98px -53px}
.loginMenu .kwLogin i {background-position:-133px -10px}
.loginMenu .kwLogin:hover i {background-position:-133px -53px}
.loginMenu .qqLogin i {background-position:-47px -10px;margin-top:17px;}
.loginMenu .qqLogin:hover i {background-position:-47px -53px}
.loginMenu .wbLogin i {background-position:-189px -10px;margin-top:17px;}
.loginMenu .wbLogin:hover i {background-position:-189px -53px}

/*登陆end*/
#top .top .tools ul.choose .vip a { background:url(http://img4.kwcdn.kuwo.cn/star/upload/8/8/1478593200456_.png) left center no-repeat;padding-left:20px;}
#top .top .tools .more {float: right;position: relative;z-index:1;}
#top .top .tools .more p {cursor: pointer;color:#fff;}
#top .top .tools .more ul {position: absolute;;top:50px;left:-23px;width: 110px;background:url(http://image.kuwo.cn/website/pc/moreBg.png);font-size:12px;padding-top:4px;display: none;}
#top .top .tools .more ul li {height: 30px;line-height: 30px;text-indent:23px;}
#top .top .tools .more ul li a {display:block;color:#D6D6D6;}
#top .top .tools .more ul li a:hover {background:url(http://image.kuwo.cn/website/pc/moreBg.png);color:#fff;}
#top .top .tools .search {float:right;width:181px;height: 25px;line-height: 25px;background: url(http://www.kuwo.cn/static/image/searchBoxBg.png);margin:13px 0 0 10px;position:relative;z-index:1;display:inline;}
#top .top .tools .search input {float:left;width: 141px;height:25px;color:#999999;padding-left:10px;font-size:12px;line-height: 25px;background: none}
#top .top .tools .search a.searchBtn {float:right;width:30px;height:25px;display:block;}
.searchInfo {position: absolute;top:37px;left:-9px;width: 200px;height: auto;background:url(http://image.kuwo.cn/website/pc/searchBg.png) repeat;font-size:12px;display: none;}
.searchInfo ul {padding:5px 0;}
.searchInfo ul li a {color:#fff;display:block;height:30px;line-height: 30px;text-indent: 14px;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.searchInfo ul li a:hover {background: url(http://image.kuwo.cn/website/pc/searchBg.png) repeat;}

#loading {display:none;position:absolute;left:453px;top:100px;z-index:999}
#loading img {margin-right:10px;display:inline;}
#loading span {color:#333}
.page {float:left;height:30px; text-align:center;padding:25px 0 60px 0;}
.page a {float:left; font-size:12px; color:#333333; width:30px;height:30px;line-height:30px;display:block; margin-right:5px;background:url(http://image.kuwo.cn/website/pc/page/page.jpg);}
.page .point {float:left;margin:0 19px 0 14px;height:26px;line-height:26px;color:#999999}
.page a img {margin-top:10px;display:inline}
.page .current { background:url(http://image.kuwo.cn/website/pc/page/current.jpg); color:#fff;}

#footer {height:160px;background:#181818;padding-bottom:75px;}
.footer {width: 1200px;margin:0 auto;color:#999999;line-height: 30px;font-size: 14px;text-align: center;padding-top:34px;}
.footer a,.footer p {color:#999999;}
.footer .f_link {color:#333333; }

/*iframe {width:100%;height:100%;position: fixed;top:0;left:0;border:0;z-index:99999;display: none;}*/

/*.listRight .tools .tips {float:left;position:relative;width: 16px;height: 16px;background:url(http://www.kuwo.cn/static/image/web/homePage/ugc_icon.png) -94px -136px;margin: 12px 14px 0 0;cursor: pointer;}*/
.listRight .tipsCon {display:none;font-size:12px;padding:6px 14px 0 14px;width:216px;height: 121px;background: url(http://www.kuwo.cn/static/image/web/homePage/tipsBg.png) no-repeat;position: absolute;top:-120px;left:-226px;z-index:1}
.listRight .tipsCon.noBg {background:none}
.listRight .tipsCon a {background:none;color:#f0aa00;}
.listRight .tipsCon .tipsFr {float: right;}
.tipsCon p {float:left;width:100%;line-height: 35px;}
.tipsCon span {float:left}

/*弹窗*/
.loadShadow { 
	display:none;
	position:fixed; 
	left:0;
	top:0;
	background:#000; 
	width:100%;
	height:100%; 
	opacity:0.3;
	filter:alpha(opaticy=30);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";  
    /*IE4-IE9*/  
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);  
	z-index:400;
}

#loadBlock { 
	display:none;
	position:fixed;
	left:50%;
	top:50%;
	width:400px;
	height:200px;
	margin-left:-200px;
	margin-top:-100px;
	background: url(http://image.kuwo.cn/website/pc/artist/loadBlock2.png) no-repeat;
	z-index:500;
}

.loadBlock p{
	font-size:16px;
	font-family:'微软雅黑';
	text-align:center;
	color:#333;
	line-height:16px;
	margin-top: 66px;
}
.noFlash p {
	line-height: 30px;
	margin-top:40px;
	padding:0 10px;
}

.loadBlock .loadBlockClose { 
	position:absolute;
	right:9px;
	top:9px;
	width:12px;
	height:12px;
	cursor:pointer;
}

.loadBlock .loadBtn {
	display:block;
	margin: 33px 0 0 140px;
	width:120px;
	height:40px;
	cursor:pointer;
}
.noFlash .loadBtn {
	margin-top:14px;
}