@charset "utf-8";
/* CSS Document */
body {min-width: 1200px;position: relative;}
.list {width:1200px;margin:0 auto;overflow: hidden}
.title_ {height:60px;line-height: 60px;}
.title_ h2 {float:left;color:#333333;font-size: 20px;}
.title_ a {float:right;color:#999999;}
.list ul {float:left;width:1225px;}
.list ul li {float:left;width:220px;position: relative;margin-right: 25px}
.list ul li img {display: block}
#content {padding-bottom:20px;}
/*banner*/
#banner {height:750px;position:relative;overflow: hidden;}
#banner .tabLeft,#banner .tabRight{display:none;position:absolute;top:200px;width:80px;height:220px;cursor: pointer; background:url(http://image.kuwo.cn/website/pc/leftright.png);z-index:1000;}
#banner #tabLeft{ left:0;}
#banner #tabRight{ right:0;}
#banner .tabLeft:hover span{background:url(http://image.kuwo.cn/website/pc/left80.png);}
#banner .tabRight:hover span{background:url(http://image.kuwo.cn/website/pc/right80.png);}
#tabLeft span, #tabRight span{ display:block;width:24px;height:40px;margin:90px 0 0 28px;}
#tabLeft span{ background:url(http://image.kuwo.cn/website/pc/left40.png);}
#tabRight span{ background:url(http://image.kuwo.cn/website/pc/right40.png);}
#banner ul {position:absolute;left:0;width:999999em;}
#banner ul li {float:left;position: relative;cursor:pointer}
#banner ul li img {position:relative;left:0;width:1920px;height:750px}
#banner ul li .splice {width: 100%;height: 100%;background: #000;position: absolute;top:0;left:0;}
.bannerConBox {position: absolute;top:0;left:0;}
.bannerCon {width: 100%;color:#fff;text-align: center;overflow: hidden;position:absolute;top:0;left:50%;}

#banner ul li .bannerCon img {position:static;}
.bannerCon h1 {font-size: 60px;font-weight: 500;margin-top:80px;}
.bannerCon p {font-size: 36px;margin-top:5px;}
/*banner album*/
.albumPlay {display: block;width: 194px;height: 194px;background: url(http://image.kuwo.cn/website/pc/play.png);margin:0 auto;margin-top:20px;}
.songs a {height: 22px;line-height:22px;padding-left:33px;font-size:18px;display:inline-block;background: url(http://image.kuwo.cn/website/pc/icon.png) no-repeat -307px -147px;margin:30px 16px 0 0;}
.songs a:hover {background-position:-307px -170px;color:#f0bc0f;}
.songs .more {background: none;padding:0;}
.bannerCon .albumDown {margin-top:30px;}
/*banner Mv*/
.mv {margin-top:70px;position:relative}
.mv .mvItem {float:left;position: relative;display: block;}
#banner ul li .mv img {display: block;width:400px;height:160px;background:url(http://image.kuwo.cn/website/pc/default/mvItem.jpg) no-repeat}
#banner ul li .mv .mvItem.mvMid img {width: 398px;height:160px;margin:0 1px;background:url(http://image.kuwo.cn/website/pc/default/mvItem.jpg) no-repeat} 
.mv .item {position: absolute;top: 0;right: 0;color:#333333;text-align: right;}
.item h3 {font-size: 18px;font-weight: 500;margin:25px 29px 10px 0;}
.item span {display: block;margin-right: 29px; }
.item a {float:right;display:block;width: 30px;height: 30px;background: url(http://image.kuwo.cn/website/pc/icon.png) -275px -163px;margin: 115px 21px 0 0;}
.mv .all {position:absolute;top:176px;left:1150px;color:#999999;}
.mv .mvSplice {width: 100%;height: 100%;background: #000;position: absolute;top: 0;left: 0}
.bannerDown {float:left;display: block;width: 300px;height: 80px;background: url(http://image.kuwo.cn/website/pc/bannerDown.png);margin:66px 0 0 446px;text-align:center;line-height:80px;font-size:34px;display: inline;}
#banner .bannerDown:hover{ color:#ffcd2d;background: url(http://image.kuwo.cn/website/pc/bannerDown2.png);}
.other .bannerDown {margin-top:296px;}
/*banner控制*/
#banner #point {position: absolute;width:100%;top:680px;display:none;}
#banner #point .point {margin:0 auto;overflow: hidden;}
#banner #point .point .pointBox {width: auto}
#banner #point .point .pointBox a {float:left;width: 16px;height: 16px;background:url(http://image.kuwo.cn/website/pc/icon.png) -105px -45px;margin-right:20px;}
#banner #point .point .pointBox a.active {background-position:-127px -45px;} 


/********小于1366尺寸banner********/
#banner.small {height:600px;}
#banner.small #point {top:560px;}
#banner.small .bannerCon h1 {font-size:48px;margin-top:30px}
#banner.small .bannerCon p {margin-top:0px;}
#banner.small .songs a {margin-top:30px}
#banner.small .mv {margin-top:56px;position:relative}
#banner.small .bannerDown {margin-top:25px;}
#banner.small .mvDown {margin-top:75px;}
#banner.small .other .bannerDown {margin-top:291px;}
#banner.small ul li img.bannerItem {width:1366px;height:600px;}

/*内容开始*/
#conBanner {height: 400px;background: #f2f2f2}
#conBanner .conBanner {width: 1200px;margin:0 auto;overflow: hidden}
#conBanner .conBanner .conBox {width: 1241px;}
#conBanner .conBanner .conBox img {float:left;margin:40px 41px 0 0;display: inline;}
/*歌单*/
#song ul {margin-top:-10px;}
#song ul li {margin-top:10px;display: inline;}
#song ul li .cover {float:left;position: relative;}
#song .listen {width:100%;position: absolute;bottom:0;height: 60px;background: url(http://image.kuwo.cn/website/pc/splice.png) repeat-x;color:#fff;}
#song .listen em {float:left;background: url(http://image.kuwo.cn/website/pc/icon.png) no-repeat -230px -44px;padding-left:20px;margin:30px 0 0 10px;display:inline;-moz-text-shadow:1px 1px 0px #000;-webkit-text-shadow:1px 1px 0px #000;text-shadow:1px 1px 0px #000;font-style: normal;}
#song .name {line-height: 52px;font-size:16px;}
#song .name a {color:#333333;}
#song .play_pl {position:absolute;width: 30px;height: 30px;background: url(http://image.kuwo.cn/website/pc/icon.png) -242px -163px;top:179px;right:11px;cursor:pointer;display: none}
/*歌手*/
#singer {margin-bottom:20px;}
#singer,#singer ul {margin-top:-20px;}
#singer ul li {margin-top: 20px;display: inline;}
#singer ul li  img {height:360px;}
#singer .infoSplice {background:#000;width:100%;height: 85px;position: absolute;bottom: 0;}
#singer .info {width:100%;height: 85px;position: absolute;bottom: 0;color:#fff;}
#singer .info span {display: block;margin-left:15px;font-size:12px;}
#singer .name {font-size:16px;margin:13px 0 5px 0;}
#singer .num span {float:left;margin-top:5px;display: inline;background:url(http://image.kuwo.cn/website/pc/icon.png) no-repeat;padding-left:20px;}
#singer .num .share {background-position: -105px 3px} 
#singer .num .like {background-position: -230px 4px}
#singer .songListSplice {width: 100%;height: 100%;position: absolute;top:0;background: #000;display: none;}
#singer .songList {width: 100%;height: 100%;position: absolute;top:0;display: none;}
#singer .songList h2 {float:left;font-size:16px;color:#fff;font-weight: 500;margin:15px 0 0 15px;display: inline;}
#singer .songList .more {float:right;font-weight: 500;margin:19px 12px 0 0;display: inline;}
#singer .songList ul {overflow: hidden;width: 100%;margin-top:7px;}
#singer .songList ul li {margin-top:11px;color:#fff;padding-left:15px;width:205px}
#singer .songList ul li span {float:left}
#singer .songList ul li a {float:left;width:180px;display:block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
#singer .songList a.playAllSong {float: left;width: 184px;height: 36px;background: url(http://image.kuwo.cn/website/pc/playAllBg.png);font-size:14px;line-height: 36px;text-align: center;margin:18px 0 0 18px;display: inline;}
/*歌手组合*/
#singer ul li.artistGroup {width:465px}
#singer .artistGroup .songList .groupTitle {width:100%;overflow:hidden}
#singer .artistGroup .songList ul {float:left;width:49%;}
#singer .artistGroup .songList a.playAllSong {margin-left:140px}
#singer .artistGroup .songList ul li a {width:195px;}
/*内容结束*/

/*友情链接*/
.flink{ width: 1200px; margin:0 auto; padding-bottom:13px;}
.flink .flinker .flinker_cor{float:left;font-size:16px;color:#4c454c;}
.flink .flinker .flinker_qq{float:right;font-size:13px;color:#4c454c;}
.flinks a{ font-size:12px;line-height:30px;margin-right:10px;color:#1c67ac;}
.flinks a:hover{ text-decoration:underline;}
