@charset "utf-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td img{
	margin: 0;
	padding: 0;
	border: 0;
}
* { 
	font-family:"Microsoft YaHei", "微软雅黑", '\65B0\5B8B\4F53', '\5B8B\4F53', Verdana;
}
fieldset, img {
	border: 0;
}
abbr, acronym {
	border: 0;
	font-variant: normal;
}
a {
	color:#fff;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th {
	text-align: left;
}
sup, sub {
	font-size: 100%;
	vertical-align: baseline;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
:link, :visited {
	text-decoration: none;
}
:focus {
	outline: 0;
}
body {
	font-size:12px;
	width: 100%;
	height: 100%;
	margin:0 auto;
}
/*清除浮动*/
.clearfix:after {content:""; display:block; clear:both;}
.clearfix {zoom:1;}
.opacity30 {
	filter:alpha(opacity=30);      
	-moz-opacity:0.3; 
	-khtml-opacity:0.3; 
	opacity: 0.3; 
}
.opacity40 {
	filter:alpha(opacity=40);      
	-moz-opacity:0.4; 
	-khtml-opacity:0.4; 
	opacity: 0.4; 
}
.opacity50 {
	filter:alpha(opacity=50);      
	-moz-opacity:0.5; 
	-khtml-opacity:0.5; 
	opacity: 0.5; 
}
.opacity70 {
	filter:alpha(opacity=70);      
	-moz-opacity:0.7; 
	-khtml-opacity:0.7; 
	opacity: 0.7; 
}
.opacity80 {
	filter:alpha(opacity=80);      
	-moz-opacity:0.8; 
	-khtml-opacity:0.8; 
	opacity: 0.8; 
}
.opacity90 {
	filter:alpha(opacity=90);      
	-moz-opacity:0.9; 
	-khtml-opacity:0.9; 
	opacity: 0.9; 
}
.opacity95 {
	filter:alpha(opacity=95);      
	-moz-opacity:0.95; 
	-khtml-opacity:0.95; 
	opacity: 0.95; 
}
.blur {	
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    -webkit-filter: blur(20px); /* Chrome, Opera */
       -moz-filter: blur(20px);
        -ms-filter: blur(20px);    
            filter: blur(20px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=20, MakeShadow=false); /* IE6~IE9 */
}
