/*---------------------------------Siamkeela TV Clip Fade-------------------------------------*/

.sliderwrapperclip{
position: relative; /*leave as is*/
overflow: hidden; /*leave as is*/
width: 331px; /*width of featured content slider*/
height:276px;
margin-right:8px;
float:left;
}

.sliderwrapperclip .contentdiv{
visibility: hidden; /*leave as is*/
position: absolute; /*leave as is*/
left: 0;  /*leave as is*/
top: 0;  /*leave as is*/
width: 331px; /*width of content DIVs within slider. Total width should equal slider's inner width (390+5+5=400) */
height: 100%;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
-moz-opacity: 1;
opacity: 1;
}

.paginationclip{
width: 325px; 
text-align: right;
font-size:11px;
position:absolute;
height:17px;
margin-top:179px;
background-color:#000000;
z-index:999;
padding: 5px 2px 2px 2px;
outline: 0;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);opacity:.7; filter: alpha(opacity = 70); -moz-opacity: 0.7; -khtml-opacity: 0.7; 
}

.paginationclip a{
padding: 0 5px;
margin-right:4px;
font-size:11px;
font-weight:bold;
background-color:#888888;
text-decoration: none;
color: #000000;
}

.paginationclip a:visited{
padding: 0 5px;
margin-right:4px;
font-size:11px;
font-weight:bold;
text-decoration: none;
background-color:#888888;
color: #000000;
}

.paginationclip a:hover, .paginationclip a.selected{
font-size:11px;
font-weight:bold;
text-decoration: none;
background-color:#000000;
color: #FFFFFF;
}

.paginationclip a.selected:visited{
font-size:11px;
font-weight:bold;
text-decoration: none;
background-color:#000000;
color: #FFFFFF;
}