/* ######### CSS for top level tabs ######### */
@charset "windows-874";

.tabsmenuclass ul{
overflow: hidden;
float:left;
width: 977px;
height:29px;
background:url(../images10/bg-menutop.gif) repeat-x;
margin: 0;
padding:6px 0px 0px 6px;
list-style-type: none;
}

.tabsmenuclass li{
font-family:Tahoma, Geneva, sans-serif;
float: left;
}

.tabsmenuclass a{
display: block;
padding: 7px 5px;
background:none;
color:#FFFFFF;
margin-right: 1px;
text-decoration: none;
font: bold 13px ;
}

.tabsmenuclass a:hover, .tabsmenuclass a.selected{
background: #093365;
color: white;
}

/* ######### CSS for sub menu container below ######### */

.tabsmenucontentclass{
clear: left;
background: #093365;
width:971px;
height: 20px;
padding: 6px;
}

.tabsmenucontentclass ul{
margin: 0;
padding: 0;
color:#FFFFFF;
list-style-type: none;
}

.tabsmenucontentclass li{
float: left;
font-size:11px; font-weight:normal;
padding:0px 5px;
}

.tabsmenucontentclass a:link { color:#FFFFFF; font-size:13px; font-weight:normal; text-decoration:none; }
.tabsmenucontentclass a:visited { color:#FFFFFF; font-size:13px; font-weight:normal; text-decoration:none; }
.tabsmenucontentclass a:hover {color:#FCFF00; font-size:13px; font-weight:normal; text-decoration:none; }