/* ######### CSS for Tab Vedio Clip ######### */

.cliptabs{
padding: 0px;
margin-top:0px;
font: normal 11px Tahoma, Geneva, sans-serif;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.cliptabs li{
float:left;
text-align: center;
margin: 0;
}

.cliptabs li a{
width:130px;
height:18px;
display: block;
font: normal 11px Tahoma, Geneva, sans-serif;
text-decoration: none;
position: relative;
z-index: 1;
padding: 2px 0px 2px 5px;
margin-right:3px;
color: #818181;
background:url(images10/bg-tabclip-o.gif) top left no-repeat ;
text-align:left;
}

.cliptabs li a:visited{
width:120px;
height:18px;
display: block;
font: normal 11px Tahoma, Geneva, sans-serif;
color: #818181;
background:url(images10/bg-tabclip-o.gif) top left no-repeat;
}

.cliptabs li a:hover{
width:130px;
height:18px;
display: block;
font: normal 11px Tahoma, Geneva, sans-serif;
color:#EAEAEA;
text-decoration: none;
background:url(images10/bg-tabclip.gif) top left no-repeat;
}

.cliptabs li a.selected{ /*selected main tab style */
width:120px;
height:18px;
display: block;
position: relative;
font: normal 11px Tahoma, Geneva, sans-serif;
color:#EAEAEA;
background:url(images10/bg-tabclip.gif) top left no-repeat;
}

.cliptabs li a.selected:visited{ /*selected main tab style */
width:120px;
height:18px;
display: block;
position: relative;
font: normal 11px Tahoma, Geneva, sans-serif;
color:#EAEAEA;
background:url(images10/bg-tabclip.gif) top left no-repeat;
}

.cliptabs li a.selected:hover{ /*selected main tab style */
width:120px;
height:18px;
display: block;
text-decoration: none;
font: normal 11px Tahoma, Geneva, sans-serif;
background:url(images10/bg-tabclip.gif) top left no-repeat;
color: #EAEAEA;
}

.cliptabscontent{
display:none;
}

@media print {
.cliptabscontent {
display:block !important;
}
}

