#main {max-width:1000px;margin:0 auto;position:relative}
#kw{
	font-size:20pt;
	text-align:center;
	font-family:arial;
	}
#bkrs{font-size:30pt;font-family:simsun}
#bkrs2{font-size:20pt;}
#total{text-align:right;font-size:13pt}

h1 {margin:0;padding:0;font-size:12pt;display:inline}
#screen {position:absolute;top:0;width:800px;height:60px;background:white;z-index:1}
#top-word {position:absolute;top:0;width:750px;font-size:10pt;line-height:0.9em}

/* LAST SEARCH */
#last_search_table {max-width:185px;margin:0 auto;font-size:11pt;}
.ls_item {padding:1px 0;width:100%;max-width:185px;clear:both}
.ls_item:hover {background:#f8f8f8}
.ls_time {float:right;color:gray;font-size:10pt}
.not_found {color:maroon}
#last_search_table a {display:block;}
#ls_title {text-align:center;background:#9C4B4D;color:white;padding:3px 0;font-size:10pt;font-weight:bold;width:99%;margin:0 auto;}
@media (max-width: 700px) {
	#last_search_table {max-width:none;
		-webkit-columns: 3 150px;
		-moz-columns: 3 150px;
		columns: 3 150px;
		-webkit-column-gap: 5px;
		-moz-column-gap: 5px;
		column-gap: 5px;
	}
	#ls_title {margin-top:20px;display:block;}
}


/* LAST SEARCH END */

/* COMMENTS */
#comment_wrapper {position:relative;}
#comments_show {
/*	display:none;*/
	position:absolute;
	width:600px;
	background:white;
	padding:10px;
	border-radius:8px; -moz-border-radius:8px;
	font-size:11pt;
	border:1px solid gray;
	z-index:5;
	box-shadow: 0 0 10px 5px #999;
	-moz-box-shadow: 0 0 10px 5px #999;
	-webkit-box-shadow: 0 0 10px 5px #999;
}

.comments_tbl {width:100%}
.comments_tbl td.index_cmt_total {font-size:10pt;width:30px}
.comments_tbl td.index_cmt_date {font-size:10pt;color:gray;width:92px;padding-left:5px}
.comments_tbl td.index_cmt_text a {display:block;padding:3px;}
.comments_tbl td.index_cmt_text a:hover {color:darkblue}
.comments_tbl .hover_background {background:#ccc;}

.comments_posts_preview .cmt_user {font-size:11pt;overflow: hidden;white-space: nowrap;}

#index_comments_title a {display:block;padding-right:20px;text-align:center;background:#9C4B4D;color:white;padding:3px 0;font-size:10pt;font-weight:bold;width:100%;margin:0 auto;color:white;text-decoration: underline;}
#index_comments {padding:0 2px}
/* COMMENTS END */


/* TRANSILATIONS */
.trans_onindex {width:800px;cursor:pointer;padding:5px 3px}
td.trans_text {width:600px;}
td.trans_comments {width:30px;font-size:10pt;color:gray}
td.trans_date {width:70px;font-size:10pt;color:gray}
td.trans_image {width:100px}

/* THREADS */
#treads_container {width:800px;position:relative}
#treads_container a.thread {display:block;white-space: nowrap;width:650px;overflow:hidden;text-overflow: ellipsis;}
#treads_container a.thread:hover {background:#f8f8f8;overflow:visible;}
#threads_hidden {display:none}
a#threads_show_hidden {color:gray;}
a#threads_show_hidden:hover + #threads_hidden {display:block;top:-5px}
#threads_hidden:hover {display:block}
#threads_hidden.permahover {display:block}
#treads_container .forum_tag {color:gray;font-size:10pt;background:#fbfcb1;padding:1px 3px;}

#forum_index_options {position:absolute;right:0px;top:-5px}
#forum_index_options a {display:block;padding:5px}
#forum_index_options a:hover {background:#f8f8f8}

/* IMAGES */
#index_images td {
	height: 80px;
	width: 80px;
	padding: 2px;
}
#index_images td img {
	max-width: 80px;
	max-height: 80px;
}
#index_images td a {
	display: block;
	height: 100%;
	width: 100%;
}
#index_images td a:hover {
	background: #f8f8f8;
}

#images_container {height:205px;}
#images_container #images_options {display:none;}
#images_container:hover #images_options {display:block;line-height: 1em;}
#images_container #images_options a {
	font-size: 10pt;
	color: gray;
}
#images_container #images_options a:hover {color:#BF9631}

/* images end */



/* TABS FOR FORUM */
.threads_tabs {width: 680px;}
.tabs_content {background: #fff; color: #373737;}
.tabs_content > div {display: none;}
input[type="radio"] {display: none;}
label {display: inline-block; padding: 5px 11px;  text-align: center;}
label:hover {color: #BF9631; cursor: pointer;}
input:checked + label {background: #697C7D; color: #fff;}
#tab1:checked ~ .tabs_content #content1,
#tab2:checked ~ .tabs_content #content2,
#tab3:checked ~ .tabs_content #content3,
#tab4:checked ~ .tabs_content #content4,
#tab5:checked ~ .tabs_content #content5,
#tab6:checked ~ .tabs_content #content6,
#tab7:checked ~ .tabs_content #content7,
#tab8:checked ~ .tabs_content #content8,
#tab9:checked ~ .tabs_content #content9,
#tab10:checked ~ .tabs_content #content10 {display: block;}


/* indexpage_forum */

#indexpage_forum * {font-family:arial;}
#indexpage_forum {display:none;}
.indexforum > div {
	margin:3px;
	background:#E8EDF0;
}
.indexforum_thread {
	display:block;
	font-size:90%;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
	z-index:1;
	line-height:1.3em;
	padding:2px 8px;
}
.indexforum_thread:hover {
	overflow: visible;
	position: relative;
	background-color: #CCC6C4;
	z-index: 2;
	padding:0;
	cursor:pointer;
}
.indexforum_thread a {

}
.indexforum_thread:hover a {
	background-color: #CCC6C4;
	color:black;
	display: inline-block;
	padding:2px 8px;
}
.indexforum_title a {
	background-color: #9C4B4D;
	color:white;
	display:block;
	padding:2px 8px;
	text-align:center;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
	font-size:95%;
}
.indexforum_title a:nth-child(1), .indexforum_title a:nth-child(2) {color:#8A3C42}
.indexforum_title a:nth-child(3) {}
.indexforum_title:hover a:nth-child(1), .indexforum_title:hover a:nth-child(2) {color:white}
.indexforum_title a:hover {background:#39363B;}

.indexforum_big_title {
	text-align:center;
/*
	background: #39363B;
	color: white;
	padding:2px 0;
*/
}


/* news  */
#news_index_buttons {line-height:1em;padding:10px 0 0 5px}
#news_index_buttons a {padding:4px 10px;background:#606C80;color:white;font-size:10pt}
#news_index_buttons a:hover {background:#393D4F}
#news_title {text-align:center;background:#9C4B4D;color:white;font-size:10pt;font-weight:bold;width:100%;margin:0 auto}
#news_title a {color:white;display:block;text-decoration: underline;padding:3px 0;}
#news_auto {}

#news_auto .news_ru a {padding:3px 0 3px 4px;padding-left: 20px;text-indent:-16px;}
#news_auto .news_ru a:hover {overflow: visible;z-index:10;}
/* news end */

/* bkrD */
#bkrd_title {padding-right:20px;text-align:center;background:#9C4B4D;color:white;padding:3px 0;font-size:10pt;font-weight:bold;width:100%;margin:0 auto}
#bkrd_title a {color:white;display:block;text-decoration: underline;}

#brkd_ggs {display: -webkit-flex;-webkit-flex-wrap:wrap;display: flex;flex-wrap: wrap;}
#brkd_ggs a {font-size:10pt;-webkit-flex:1 0 33.333%;flex: 1 0 33.333%;display:block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;padding:3px;max-width:33.333%;box-sizing: border-box;}
#brkd_ggs a:hover {text-decoration: underline;color: darkblue;background: #ccc;}
#brkd_ggs .gg_tag {font-size:8pt;}
@media (max-width: 700px) {
	#brkd_ggs a {flex-basis:50%;max-width:50%;}
	#brkd_ggs a:last-child {display: none;}
}
@media (max-width: 400px) {
	#brkd_ggs a {flex-basis:100%;max-width:100%;}
}

#bkrd_div a.gg_type_translator {background: #9fe1e0;}
#bkrd_div a.gg_type_resume {background: #e9ed81;}
#bkrd_div a.gg_type_vacancy {background: #f6c4c9;}
#bkrd_div a.gg_type_service {background: #9edf97;}

#bkrd_nav {line-height:1.8em;padding:10px 0 0 0}
#bkrd_nav a {padding:4px 10px;font-size:10pt}
#bkrd_nav a:hover {text-decoration: underline;color: darkblue;}
#bkrd_nav a.gg_add_gg {background:#6b323a;color: white;}
#bkrd_nav a.gg_add_gg:hover {color: white;}
/* bkrD END */

/* MAIN blocks */
#block_left, #block_right {display:inline-block;vertical-align: top;}
#block_left {max-width:calc(100% - 190px);width:100%}
#block_right {min-width:180px}
@media (max-width: 700px) {
	#block_left {max-width:none}
	#block_right {display:block;}
}


a.link_comment {width:100%;}

