body{overflow: auto;margin:0;font-size:12pt;font-family:arial;}
html body * {max-height: 999999px;}
table {font-size:12pt;border-collapse: collapse;border-spacing:0;} /* table-layout:fixed;	breaks google search */
table.td_border {border-collapse:collapse;}
table.td_border td {border:1px solid black;}

a{color:darkblue;text-decoration:none}
a.external {color:#3300CC;text-decoration:underline;}
a.a_hover{color:black;}
a:hover, a.a_hover:hover{color:#BF9631}
a.blacka {color:black}
a.blacka:hover {color:#BF9631}

img {border:0;vertical-align:middle}

button {font-family:arial}

input, textarea, select {font-family:arial}

#container {margin:40px 0 0 0}

.ch {font-family:simsun, Nsimsun, STSong, STKaiti, sans-serif, arial;}


.m1{margin-left:0.5em}
.m2{margin-left:1em}
.m3{margin-left:1.5em}
.m4{margin-left:2em}
.border {border:1px solid gray;padding:3px;margin-bottom:30px;text-align:left}
#note {text-align:center;font-size:12pt;color:gray}
.img_center{vertical-align:middle}

.buttons {font-size:12pt;font-family:arial}
#go_button {font-size:12pt;font-family:Verdana, sans-serif;margin:0  0 3px 0}
.ex {color:#666666}
text-area {overflow:auto}

.blackref {color:black}

.line {display: inline-block;}

/* ОБЩИЕ */
.green {color:green}
.maroon {color:maroon}
.white {color:white}
.gray {color:gray}
.black {color:black}
.red {color:red}
.center {text-align:center}
.brown {color:brown}
.bold {font-weight:bold}
.pt8 {font-size:8pt}
.pt9 {font-size:9pt}
.pt10 {font-size:10pt}
.pt11 {font-size:11pt}
.pt12 {font-size:12pt}
.pt13 {font-size:13pt}
.pt14 {font-size:14pt}
.pt16 {font-size:16pt}
.pt18 {font-size:18pt}
.pt20 {font-size:20pt}
.pr25 {width:25%;}
.vtop {vertical-align:top}
.margin_left {margin:0 50px}
a:hover.black {color:black}
.img-middle {vertical-align:middle}
.foat_left {float:left}
.foat_right {float:right}
.hidden {display:none}
.pointer {cursor:pointer}
.arial {font-family:arial}

/* DICT FORM */
#form{text-align:center;z-index:1;height:105px;}
#lips2 {height:100px;
	max-width:540px;margin:0 auto;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
}
#sx {cursor:pointer}
#input_tbl {width:100%;}
#input_td {}
#shouxie_td {width:30px;padding-left:4px} 
input#ch, #kw {
	width:100%;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	position: relative;
	z-index:0;
}
#handwriting {display:none;position:absolute;}
#input_div {margin:0 auto;padding:0 0 3px 30px;max-width:490px;}
#form_vertical_center_wrapper {display: table;width: 100%;height:100%}
#form_vertical_center {display: table-cell;vertical-align: middle;text-align:center;padding-top:20px}
/*#form_vertical_center {position:relative;top: 60%; transform: translateY(-50%);}*/
/* hide input */
@media (max-width: 450px) {
	#shouxie_td, #sx { display:none } 
	#input_div {padding:0 0 3px 0}
	#input_tbl {width:92%;margin:0 auto}
}
/* DICT FORM END*/

/* PM and messages */
#pms_notice {max-width:500px;font-size:11pt}
td.pm_from_user {width:100px;}
td.pm_date {width:50px;color:gray;font-size:10pt}
#pms_notice table {}
#messages_show {width:250px;}
.messages_show_forum {max-width:500px;}
#chat_call {width:555px;}
#pms_notice, #messages_show, .messages_show_forum, #chat_call {position:relative;margin:10px auto;background:#FFF6BF;border:1px solid #FFD324;padding:5px 20px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	box-shadow: 0 0 10px 5px #999;
	-moz-box-shadow: 0 0 10px 5px #999;
	-webkit-box-shadow: 0 0 10px 5px #999;
}
.tbl_chat_call {border-collapse:collapse;}
.tbl_chat_call td {padding:5px 0}
.messages_close {position: absolute;right:0;top:-2px;font-size: 10pt;padding:3px;color: gray;}
/* PM and messages END */

/* NAVIGATION START */
#nav{font-family:verdana,arial;text-align:center;font-size:12pt;}
#nav a {padding:3px 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
}
#nav a:hover {background:#f8f8f8;color:darkblue}
.nav_center {width:640px;margin:0 auto;}
#nav ul {padding:0;margin:0}
.nav2{list-style:none;position:relative;z-index:5}
.nav2 li{float:left;position:relative;height:25px;} /* display: inline-block; instead of float !! */
.nav2 a{display:block;text-align:left;}
.nav2 ul{background:white;list-style:none;position:absolute;left:-9999px;}
.nav2 ul li{float:none;}
.nav2 ul a{white-space:nowrap;font-family:arial}
.nav2 li:hover ul{left:0;}
.nav2 li:hover a{background:#f8f8f8;}

#nav .nav2 .nav_dropdown {border:1px solid #cbcaff;background:#f1faff;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
}
.tbl_thread_menu td {font-family:arial;}
a table.tbl_thread_menu td {color:darkblue;}
#nav .nav2 .nav_dropdown a {padding:4px 3px;background:#f1faff;font-size:11pt;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
}

#nav .nav2 .nav_dropdown a:hover {background:white;color:darkblue}
#nav .nav2 .nav_dropdown ul li {clear:both;margin:0;padding:0;text-align:left}
#nav .nav2 .nav_dropdown li:hover > ul {display:block;visibility:visible;}

#menu_top {position:absolute;right:0;left:0;top:0;z-index:10}
#menu_table {width:1000px;margin:0 auto;border-collapse: collapse;}
.link_menu {padding:4px 6px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;}
.link_menu:hover {background:#f8f8f8;}
.submenu_main{display:none;position:absolute;background:#f1faff;border:1px solid #cbcaff;border-radius: 8px;z-index:30}
.submenu_main_show:hover > .submenu_main{display:block;}
#submenu_main1 {top:0;left:60px;}
body #nav a#main_page_link {padding-left:15px;padding-right:15px;}
body #nav a#main_page_link:hover {color:red}

#menu_user {display:none;position:absolute;right:0;top:-10px}
#menu_table:hover #menu_user {display:block;}

table#user_table {border-collapse: collapse;}
a#user_logged {font-size:10pt}

#nav_news_news {background:#fdfde1;padding:3px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
}
/* NAVIGATION END */

/* AJAX search */
div#ajax_search {background:white}
div#ajax_search_container {font-size:14pt;padding:10px 35px 25px 35px}
div#ajax_search_note_not_full {float:right;font-size:10pt;padding:8px;-moz-border-radius: 5px;-webkit-border-radius: 5px;background:#E0EAF1;}
div#similar_center {width:300px;margin:0 auto}
div#ajax_search_py {font-size:16pt}
div#ajax_search_edit_word {float:right;padding:0 20px 0 0}

.hover_background{background:#f8f8f8}

/* INSERT POMETI BUTTONS */
#marks {margin:10px 0 0 30px;display:none}
a.mark {background:#f4f4f4;padding:3px;border:1px solid gray;color:black;font-size:12px;color:green;font-style:italic;}
a.mark:hover {color:black;background:#ccffff;}

.info {
	display:none;
	position:absolute;
	background:#FCF6CF;
	padding:10px;
	border-radius:8px; -moz-border-radius:8px;
	font-size:10pt;
	border:1px solid black;
	z-index:5;
}

#emoticons {position:absolute;display:none;border:1px solid gray;width:500px;height:400px;padding:8px;background:white;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	box-shadow: 0 0 10px 5px #999;
	-moz-box-shadow: 0 0 10px 5px #999;
	-webkit-box-shadow: 0 0 10px 5px #999;
}
#container .emoticons_big {width:800px;height:400px;}
#emoticons img {cursor:pointer}
.editor img {cursor:pointer}

/* smiles buttons */
button.btn { margin: 0; font-size: 100%; vertical-align: middle;}
button.btn { *overflow: visible; line-height: normal;}
button.btn::-moz-focus-inner { padding: 0; border: 0;}
button, input[type="button"], input[type="reset"], input[type="submit"] {cursor: pointer; -webkit-appearance: button;}
.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;

  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

body .watermark {color: #999;font-size:10pt}

.div_propper {border-top:1px dashed gray;padding-top:5px;margin-top:5px}

.isa_info, .isa_success, .isa_warning, .isa_error {margin: 10px 0px;padding:12px;}
.isa_success {color: #4F8A10;background-color: #DFF2BF;}
.isa_warning {color: #9F6000;background-color: #FEEFB3;}
.isa_error {color: #D8000C;background-color: #FFBABA;}

#back_to_top {position: fixed;top: 0; right: 0px;text-decoration: none;font-size: 10pt;padding: 10px;color:gray;display: none;}
#back_to_top:hover {background-color: rgba(235, 235, 235, 0.80);color:black;}