BODY{background:url(../Images/BG.png) repeat-x 0 0 fixed; background-color: #fff;}
#ContentArea{ position: relative; margin:0px; padding:0px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; min-width: 1000px; margin-left: auto; margin-right: auto;
	  width: 1000px;}
H1, H2, H3{ margin: 0px; font-weight: bold;}
H1{	 margin: 0px; display: block; font-size:17px; color:#617481; margin-bottom:12px;}
H2{	font-size: 12px; margin-bottom:5px;}
H3{	font-size: 12px;}
A{ text-decoration: none; font-weight:bold; color: #333;}
A:Hover{text-decoration: underline; color: #666;}
UL{ list-style-image: url(../Images/Bullet.gif); margin-top:5px;}
LI{}
UL LI UL{list-style-image: none;list-style-type:disc;}
UL .NoBullet{list-style-image: none; list-style-type: none;}
FORM{margin: 0px;}
HR{	border-bottom: 1px solid #E0E8E4; border-top:0px; height:0px; margin-bottom:15px; margin-top:15px; }
.Show{ border: inherit; height: auto; margin: inherit; overflow: inherit; display: inherit; }
.Hide{ border: none; height: 0px; margin: 0px; overflow: hidden; display:inherit; padding: 0px; }
.button{ font-weight: bold; font-size: 12px; color: #FFF; border:solid 1px #CDCDCD; background-color: #ED6003; font-family: Arial, Helvetica, sans-serif;}
/* content pages for voyager */
.container {font-family:Arial, Helvetica, sans-serif;}
.text{ 	font-family:Arial, Helvetica, sans-serif; color:#000000;	font-size: 14px; font-family:Arial, Helvetica, Sans-Serif;  line-height:17px; 	vertical-align:top; }
/*.uline{ font-family:Arial, Helvetica, sans-serif; margin-left: 0px; padding-left: 2px; border-bottom: 2px solid rgb(50, 94, 129); margin-top: 10px; margin-bottom: 20px; font-weight: bold; font-size: 16px; clear: both;  }  */

/* HEADER */
.Logo{ padding-top:5px; padding-left:5px; position:absolute; top:0px;}
.Header{background:url(../Images/HeaderBackgroundBar.png) bottom left repeat-x; height:62px; }
.Header FORM{padding-top: 0px; float:right; text-align:right; margin-right: 20px;}
.Header FORM INPUT{	height: 20px; line-height: 20px;}
.HeaderLinks{height:22px; text-align:right; padding-top:7px;}
/* END HEADER */

/* MENU */
.Menu{position:relative; background-color: #7E929F; height: 44px; padding-top: 7px; z-index: 6; }
.Menu UL{ margin: 0px; padding: 0px; list-style-image: none; list-style-type: none; z-index: 6;}
.Menu UL LI{ background:url(../Images/DarkMenuNav.jpg) no-repeat; width: 198px; float: left; margin-left: 2px; color: #FFF; font-size: 13px; font-weight: bold; 
	text-align: center; cursor: pointer; padding-top: 7px; 	height: 37px; z-index:6;}
.Menu #MenuItemLoans, .Menu #MenuItemServices{ padding-top: 15px; height:29px}
.Menu UL LI UL{ position: absolute; top: 53px; left: 0px; width: 978px; background-color: #e1e1e1; padding: 0px; cursor:auto; z-index: 5; margin: 0px;}
.Menu UL LI.MenuOn UL{ padding: 15px 0px 0px 20px; height: auto; border:1px solid #666;}
.Menu UL LI.MenuOn{width: 196px; background-image: none; background-color: #e1e1e1; color: #000; border: 1px solid #666; border-bottom:none; }
.Menu UL LI.MenuOn UL LI:hover{ background-image:none;}
.Menu UL LI.MenuOn UL LI UL{ padding: 10px 0px 15px 0px; border:0;}
.Menu UL #MenuItemMA:hover{ background:url(../Images/DarkMenuNav.jpg) no-repeat 0px; color: #fff;}
.Menu UL LI UL DIV{	float: left; margin: 0px 35px 0px 0px; padding: 0px;}
.Menu UL LI UL LI{ float: none; position: relative; height: auto; width: 209px; padding: 0px; margin: 0px; background-image: none; list-style-position: outside; 
	font-size: 13px; color: #000; text-align: left; cursor:auto; }
.Menu UL LI UL LI UL{ position: relative; top: 0px; border:0px !important; border-top: solid 2px black !important; margin: 5px 0px 0px 0px; padding: 10px 0px 20px 0px; width: 150px; margin-right: 60px;}
.Menu UL LI UL LI UL LI{ font-size: 12px; line-height: 14px; padding-left:2em; text-indent:-2em; }

.Menu .Spacer{position:absolute; top: 52px; height: 2px; width: 196px; z-index:7; background-color: #e1e1e1; border-left: 1px solid #666; border-right: 1px solid #666;}
.Menu #LoansSpacer{left: 201px;}
.Menu #AccountsSpacer{left: 401px;}
.Menu #InvestmentsSpacer{left: 601px;}
.Menu #ServicesSpacer{left: 801px;}
.Menu UL LI .CloseContainer{width: 100%;}
.Menu UL LI .Close{margin-right: 15px; margin-bottom: 0px; margin-top: -20px; float:right; text-decoration:none;}
#MenuClickOff{position:absolute; top:0px; left: 0px; height:100%; width:100%; z-index:4; display:none;}
/* END MENU */

.MinHeight{ height: 240px; float: left; width: 0px;}
.MainBody{background-color: #FFF;}
.AlertBoxOn{ border: solid 1px red; margin-bottom: 10px;}
.AlertBoxOn h1{	background-color: #e1e1e1; font-size:14px; color: #F00; padding: 4px; margin-bottom:2px; text-transform: uppercase;}
.AlertBoxOn .AlertBoxText{ padding: 0px 0px 5px 5px;}
.AlertBoxOff{ display: none;}
.Middle{ clear:both; padding: 10px; overflow: hidden;}
.ContentContainer{ width: 720px; margin-right: 60px; float: left;}
.ContentContainer A{text-decoration:underline;}
.ContentContainer h1{font-weight:bold;}
.ContentContainer ul {margin:13px; padding:0px;}
.RelatedContainer{ float: left;  width: 200px; }
.RelatedContainer h2{ text-transform: uppercase; margin-top: 40px; }
.RelatedContainer ul{ margin:0px; padding:0px; }
.RelatedContainer li{ margin-left:12px; }
#FeaturedProductsBox{ height:184px; width:184px; margin-top:25px; margin-bottom:10px;}

/*MA Logon Section*/
.MABoxContainer{ position:absolute;	top:107px; z-index:6;}
.MALoginBox{ margin-left: 1px; background-color: #676767; background:url(../Images/MABoxMid.png) repeat-y; width:168px; height: 180px; padding: 5px 15px 10px 15px; color: #fff; }
.MALoginBox A, .MALoginBox A:visited{ color: #fff;}
.MABoxRelated{ background:url(../Images/MABoxBottom.png) no-repeat 0 0; background-color:#E1E1E1; z-index: 1; width:198px; height: 95px; margin-left: 1px; overflow: hidden;}
.MABoxRelated IMG{ border: none; margin-left:10px; margin-bottom: 1px;}
.MABoxRelated .MABoxRelatedClose{  margin: -7px -5px 0px 0px; width: 100%; text-align:right; float: right; text-decoration:none;}
.MABoxRelated .Underline{ border-bottom: 2px solid #CDCDCD;	margin: 5px 0px 5px 0px;}
.MABoxRelatedOutline{ margin-top: 5px; width: 176px; height: 69px; border: solid 1px #999; border-top: none; padding: 10px;}
.SignonField{overflow: auto;}
.SignonField INPUT{	width: 110px;}
.SignonField LABEL{	display: block; margin-left: 1px;font-size: 12px; font-weight: bold;}
#rememberMeDiv INPUT{margin-left: 0px;}
.SignOnButtonRow{overflow: auto;}
.SignOnButtonRow img{margin-top: 8px; vertical-align:middle; float: left;}
.SignOnButtonRow #MaBoxClose{float: right; margin-top: 30px; cursor:pointer;}
#userid{float:left;}
#deleteIdDiv{float:left;padding: 3px 0px 0px 5px;}
/* END MA Logon Section*/

/* FOOTER */
.FooterLinks{margin-left: 5px;	margin-right: 10px; border-top: solid 2px #CDCDCD; clear: left;}
.FooterLinks .FooterBlock{height: 100px; float: left; padding-top: 10px; padding-bottom:10px;}
.FooterLinks .Title{font-weight: bold; font-size: 14px; text-align: center; color:#5A6C78;}
.FooterLinks .DivLine{float: left; width:1px;border-left: solid 2px #CDCDCD; height:80px; margin-top: 20px; margin-bottom: 10px;}
.FooterLinks A{text-decoration:none;}
.FooterLinks A:hover{text-decoration:underline;}
.FooterBlock .Details{padding-left: 13px;padding-top: 7px;}
.FooterBlock .Details DIV{float: left; margin: 0px;}
.FooterBlock .Details DIV.Right{margin-left: 20px;}
.FooterBlock .Details#AboutSECU{padding-left: 10px;}
.FooterBlock .Details DIV.Right{margin-left: 10px;}
.Footer{ clear:both; background-color:#676767; width:100%; min-height:20px; font-size:10px; padding-top: 3px; display:table; height:20px; color:#FFF;}
.FooterLeft{padding-left:3px; float: left;}
.FooterCopyright{right:0px; padding-right: 2px; float:right;}
.Footer img{vertical-align: bottom; padding-left: 5px;}
.Footer A:link, .Footer A:visited{color:#FFF; font-size:10px; padding-right: 7px; padding-left: 7px;}
.Footer A:hover{color: white;}
/* END FOOTER */

.rateName{float:left;}
.ratesPerc{float:right;	font-size:10px;	text-align:right; padding-right: 3px;}
.rateRight{text-align:right; padding-right: 3px;}

/*Tables */
.Box {border-left: #CDCDCD 1px solid; border-right: #CDCDCD 1px solid; border-top: #CDCDCD 1px solid;}
.On, .Off, .Box TR{ line-height: 20px;}
.On, .Box .On{ background-color:#E1E1E1;}
.Off, .Box .Off, .Box TR{ background-color: #FFFFFF;}
.Box TR{vertical-align:top;}
.Box TD, .BoxHeader, .Box TH, .Box .On, .Box .Off { border-bottom: #CDCDCD 1px solid;}
.Box TD{padding: 1px 15px 1px 5px;}
.Box TD UL{ padding: 0px 0px 5px 0px; margin: 0px 0px 0px 15px;}
.BoxHeader, .Box TH{background-color: #666; color:#FFFFFF; font-weight:bold; text-align:left; margin:0px; vertical-align: middle; line-height:18px; height: 18px; padding-left: 4px; }

.Box2 {border-left: #DFE8EE 1px solid; border-right: #DFE8EE 1px solid; border-top: #DFE8EE 1px solid;}
.Box2 TD, .BoxHeader, .Box TH, .Box .On, .Box .Off { border-bottom: #DFE8EE  1px solid; border-right: #DFE8EE  1px solid;}
.Box2 TD{padding: 1px 15px 1px 5px;}

.Box3 {border-left: #CDE0ED 1px solid; border-right: #CDE0ED 1px solid; border-top: #CDE0ED 1px solid;}
.Box3 TD, .BoxHeader, .Box3 TH, .Box3 .On, .Box .Off { border-bottom: #CDE0ED  1px solid;}
.Box3 TD{padding: 1px 15px 1px 5px;}
.On, .Off, .Box3 TR{ line-height: 20px;}
.On, .Box3 .On{ background-color:#DFE8EE;}
.Off, .Box3 .Off, .Box3 TR{ background-color: #FFFFFF;}
/* END TABLES */

/* Rates Pages */
.Box TR.RatesRow { height:27px; vertical-align: bottom;}
/* End Rates Pages */

/*Financial Status Table*/
.SafeAndSoundLeftColumn{font-weight:bold; text-align:center; background-color:#E9E8E4; border-bottom:#FFF 1px solid; border-right:none; padding:5px;}
.SafeAndSoundRightColumn{text-align:center; background-color:#FFF; border-right:#CCC 1px solid; border-bottom:#CCC 1px solid; padding:5px;}
.SafeAndSoundHeader{background-color:#676767; color:#FFF; font-weight:bold; text-align:center; margin:0px; vertical-align: middle; line-height:18px; height: 18px; padding-left: 4px; 	border-bottom: #999 1px solid; border-right:#FFF 1px solid;}
/*End Financial Table*/

/*Turbo Tax Table*/
.TurboTaxLineDiv{ text-align:center; color:#C8C8C8; line-height:1px; height:5px; }
.TurboTaxRightBorder{border-right:2px solid white;width:173px;}
.TurboTaxHeader{text-align:center; vertical-align:middle; background-color:#7E929F; color:#FFFFFF; font-weight:bold; padding-left:5px; line-height:14px; height: 20px; }
.TurboTaxColumn{text-align:center; vertical-align:text-top; background-color:#DEE9EF; padding: 5px;}
.TurboTaxBottom{text-align:center; vertical-align:text-top; background-color:#DEE9EF; color:#000000; padding:0px 0px 10px 5px;line-height:12px;}
/*End Turbo Tax Table*/

.minitext{font-size:10px; margin-bottom:5px;}
.redtextnobold{color:red;}
.redtext{color:red; font-weight:bold;}
.redItalics{color:#FF0000; font-style:italic;}
.BurntOrangeText{color: #CC6633;}
.subtitle{margin-left:10px;}
.subtext{font-size:9px;}

/*Container for new windows*/
.newWin{background-color: #FFF; padding:20px;}
.ContentImageFloatRight{float:right;}
.subindent{margin-left:30px}
.highlightColLeft{ width: 60px; float: left; font-weight:bold; margin-left:12px;}
.highlightColRight{ margin-left: 72px; 	margin-bottom: 15px;}
.genericFloatRight{float:right; font-style:italic;}

/*Search Page*/
#SearchRequestForm INPUT[type='text']{ 	margin-right: 2px; float: left;	color: #CDCDCD; border:1px solid #CDCDCD; padding-left:4px;}
#SearchRequestForm IMG{float: left;}
.SearchResultsSample{FONT-SIZE: 10pt;}
.SearchResultsPath{FONT-SIZE: 10pt; COLOR: green;}
.SearchResultsSummary {font-size: 10pt; text-align: left;}
.SearchResultsPaging {text-align: center; font-size: 14px; letter-spacing:1px;}
.SearchResultsPDF{font-size: 8pt; color: #325E81;}
/*End Search Page*/

/*Careers Page*/
.CareerRow{width:100%; clear:both;}
.CareerLabel{width: 85px; float:left; font-weight: bold; text-align: right; clear: left; margin: 3px;}
.CareerDesc{float:left; clear:right; margin: 3px; width:478px;}
/*End Careers Page*/

.ErrorBlock{border:2px solid red; padding:5px; width: 565px;}
.NoPrint{}
.FatCatAppearances{font-weight:bold; color:#ff9933;}
.EnrollButton{border:none; float:left; margin-left:25px; margin-top:10px;}
.EnrollText{border:none; float:left;}

/* Table on STC.html table  */
.STCHeader{background-color:#676767; color: #FFF; font-weight:bold; text-align:center; margin:0px; vertical-align: middle; line-height:18px; height: 18px; padding-left: 4px; border-bottom: #999999 1px solid; border-right:#FFFFFF 1px solid;}
.STCLeftColumn{font-weight:bold; text-align:center; background-color:#676767; color: #FFF; border-bottom:#FFFFFF 1px solid; border-right:none; padding:5px;}
.STCRightColumn{text-align:center; border-right:#CCCCCC 1px solid; border-bottom:#CCCCCC 1px solid; padding:5px;}
/* Ends css for STC.html table */

.CalcLink {  }
.CalcContent { padding-bottom:10px; list-style:square; color:#000; }
.KitLink{float:left; /*margin-left:5px;*/ padding-bottom:0px;}
.KitContent{clear:both; background-color: #DEE9EF; width:680px; padding-top:15px; padding-bottom:15px;}
.KitCheckbox{float:left; margin-top:2px;}

.IntroContainer{overflow: auto; margin-bottom: 15px;}
.IntroContainer IMG{width: 149px; height: 112px; float: left;}
.IntroContainer P{margin-left:160px; margin-top: 30px;}

.BODalignment {margin-bottom:10px; overflow:auto;}

.siteMapBox {border:1px solid #CCC; padding:10px; margin-right:10px; overflow:auto;}
.siteMapLinkListNoHeader {float:left; margin-top:25px; width:235px;}
.siteMapLinkList {float:left; width:235px;}

.securityOverviewHR {width: 400px; text-align:left; margin-left:110px; clear:left; margin-top:5px; margin-bottom:5px; }
.securityOverviewImage {margin-left:20px; margin-right:20px; float:left;}
.securityOverviewText {float:left; margin-top:30px;}

/* SECUFoundation.html page - images at the bottom of the page  */

.FoundationTop {float:left;}
.FoundationTop img{border:none;}
.FoundationBottom {float:left;}
.FoundationBottom img{border:none;}
.thumbnail {float: left; width: 125px; padding-right:55px; padding-bottom:20px; height:127px;}

/* Ends css for SECUFoundation.html images */

/*Investment Basics Table*/
.InvestmentBasicLeftColumn{font-weight:bold; text-align:center; background-color:#676767; border-bottom:#FFF 1px solid; border-right:none; padding:5px; color:white;}
.InvestmentBasicRightColumn{text-align:center; background-color:#FFF; border-right:#CCC 1px solid; border-bottom:#CCC 1px solid; padding:5px;}
.InvestmentBasicHeader{background-color:#676767; color:#FFF; font-weight:bold; text-align:center; margin:0px; vertical-align: middle; line-height:18px; height: 18px; padding-left: 4px; 	border-bottom: #999 1px solid; border-right:#FFF 1px solid;}
/*End Investment Basics Table*/

/*Privacy Policy Table*/
.PrivacyHeader{width: 15%; font-size:30px; color:white; text-align:left; background-color:#999999; padding:5px; }
.PrivacyHeaderRight{text-align:left; background-color:#FFF; font-weight:bold; font-size:14px; padding-left:5px; vertical-align:middle; border-bottom: 3px solid #999999;}
.PrivacyLeftColumn{width: 15%; font-size:14px; text-align:left; background-color:#DEE9EF; padding:5px; border:#CCC 1px solid; border-right-width:0px;}
.PrivacyRightColumn{ vertical-align:top; text-align:left; background-color:#FFF; border:#CCC 1px solid; padding:5px;}
.ReasonsLeftHeader{vertical-align:middle; background-color:#DEE9EF; font-size:14px; border:#CCC 1px solid; height: 50px; padding:5px;}
.ReasonsOneColumn{vertical-align:top; text-align:left; border:#CCC 1px solid; padding:5px; border-top-width:0px;}
.ReasonsSecondColumn{vertical-align:middle; text-align:center; border:#CCC 1px solid; padding:5px;  border-left-width: 0px; border-top-width:0px;}
.QuestionsLeftColumn{width:15%; height: 50px; background-color:#DEE9EF; font-size:14px; padding:5px; border: #CCC 1px solid; }
.SECUQLeftColumn{vertical-align:top; text-align:left; border:#CCC 1px solid; padding:5px; width:30%; border-top-width:0px;}
.SECUQRightColumn{vertical-align:top; text-align:left; border:#CCC 1px solid; padding:5px;  border-left-width: 0px; border-top-width:0px;}
.DefinitionsHeader{background-color:#DEE9EF; font-size:14px; height:30px;}
.DefinitionsLeftColumn{vertical-align:top; text-align:left;  border:#CCC 1px solid; padding:5px; width:30%; border-top-width:0px;}
.DefinitionsRightColumn{vertical-align:top; text-align:left;  border:#CCC 1px solid; padding:5px; border-left-width: 0px; border-top-width:0px;}
.AddBreak{margin-bottom:3px;}

/*End Privacy Policy Table*/
/*
.PrivacyHeader{width: 15%; font-size:30px; color:white; text-align:left; background-color:#999999; padding:5px; }
.PrivacyHeaderRight{text-align:left; background-color:#FFF; font-weight:bold; font-size:14px; padding-left:5px; vertical-align:middle; border-bottom: 3px solid #999999;}
.SwitchLeftColumn{height:136px; width:55px; font-color:#FFFFFF; text-align:left; background-color:#729e9f;}
.PrivacyRightColumn{}*/

.LeftColumn{height:55px; width:136px; color:#FFFFFF; text-align:center; font-weight:bold; vertical-align:middle; border:#CCCCCC 1px solid; background-color:#7E929F;}
.LeftColumnPlus{height:65px; width:136px; color:#FFFFFF; text-align:center; font-weight:bold; vertical-align:middle; border:#CCCCCC 1px solid; background-color:#7E929F;}
.LeftColumn:hover, .LeftColumnPlus:hover{background-color:#E6EEF3;color:#333333;}
.TextInformation{text-align:left; padding:5px; margin-top:-310px; display:block;}

/* input boxes with background color - New vehicle page */

/* Start of InvestmentBasics.html table */

.InvestmentLeftColumn{border-bottom:#C8C8C8 1px solid; border-right:none;}
.InvestmentRightColumn{border-right:#C8C8C8 1px solid; border-bottom:#CCC 1px solid;}

/*End of InvestmentBasics.html table */

/*contact us page*/
.ContactUs{color:#617481; font-weight:bold;}

/*end Contact us page */

/* start of Mobile Services html */

.MobileSections
{
	color:#E85C00; 
	font-size:16px;
}

.MobileSectionLinks 
{
	text-decoration:none; 
	color:#617481;
}
.MobileSectionLinks:hover
{
	text-decoration:none;
	color:#A7B6BC;

}
/* end of Mobile Services html */

/* start of Real Time Loan Advances html */
.RealTimeTitle
{
	color:#E85C00;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	padding-left:20px;
	font-weight:lighter;	
}
.RealTimeLink 
{
	color:#617481;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	padding-left:20px;	
}
.RealTimeLink:hover
{
	color:#A7B6BC;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
}



/* end of Real Time Loan Advances html */
/* start of Salary Loan Advances html */
.SalaryLoanTitle
{
	color:#E85C00;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
		
}
.SalaryLoanTitle2
{
	color:#E85C00;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
.SalaryLoanLink
{
	color:#617481;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	padding-left:20px;			
}
.SalaryLoanLink:hover
{
	color:#A7B6BC;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

/* end of Salary Loan Advances html */
/*    Vehicle html page */
.VehicleTitle
{
	color:#E85C00;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	padding-bottom: 20px;

}
.VehicleLoanLink
{
	color:#617481;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.VehicleLoanLink:hover
{
	color:#A7B6BC;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;	
}

/*End of vehicle html page */
.YearEndLeftOn
{background-color:#DFE8EE; font-size:13px; text-align:center; border-right:1px #CDE0ED solid; border-left:1px #CDE0ED solid;border-bottom:1px #CDE0ED solid; width:100px;}
.YearEndRightOn
{background-color:#DFE8EE; font-size:12px; text-align:left; border-right:1px #CDE0ED solid; border-bottom:1px #CDE0ED solid; padding:10px 7px 10px 7px;width:600px;}
.YearEndLeftOff
{font-size:13px; text-align:center; border-right:1px #CDE0ED solid; border-left:1px #CDE0ED solid;border-bottom:1px #CDE0ED solid; width:100px;}
.YearEndRightOff
{font-size:12px; text-align:left; border-right:1px #CDE0ED solid; border-bottom:1px #CDE0ED solid; padding:10px 7px 10px 7px; width:600px;}

.YearEndLink
{
	color:#617481;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.YearEndLink:hover
{
	color:#A7B6BC;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
/*Lifestages pages */
.LifeStagesImportantNotice
{
	border:1px #E85C00 solid;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;	
	padding:15px;
}
.SALObutton
{
	background-color:#E86C00;
	border-color:#E86C00;
	margin-top:3px;
	color:#FFFFFF;
}
/* CEORetirement.html page start */
.CEOLinks A
{ color:#617481; font-weight:bold; text-decoration:none; }
.CEOLinks A:hover
{ color:#A7BCBC; font-weight:bold; text-decoration:underline; }
.CEOPageText
{ color:#617481; }
/* CEORetirement.html page end */

/* End */

.NewCEOAboutSECU{color:#617481; font-weight:bold;}
.NewCEOAboutSECU A{color:#617481;}
.NewCEOAboutSECU A:hover{color:#A7BCBC; text-decoration:underline;}
