@charset "UTF-8";
/* CSS Document */
.mainWrap {
	overflow:hidden;
	position:relative;
	}
.message {
	display: none;
	position: fixed;
	top: 20%;
	left: 50%;
	margin-left: -250px;
	width: 500px;
	text-align: center;
	background-color: #EEE;
	color: #333;
	border: 1px solid black;
	padding: 12px;
}
#mustbuy{
    float:right;
font-size:14px;
height:37px;
line-height:3;
}
#mustbuy a{
    text-decoration:none;
}
.overlay {
	background-color: #000;
}

* html .message {
	position: absolute;
	top: expression((document.documentElement.scrollTop ||  document.body.scrollTop) + Math.round ( 17 *   ( document.documentElement.offsetHeight || document.body.clientHeight )/ 100 ) +   'px' );
}

.medW{
	color:#fff;
}

.medGrey{
	color:#AAAAAA;
}

.regform fieldset{
	padding: 16px;
	margin: 16px;
	border: solid 0px #000;
}
.regform label {
	float: left;
	text-align: left;
	margin-right:   15px;
     /*   margin-top:   7px;*/
	width: 200px;
}

#alert{
        position:absolute;
	display:none;
	padding:5px 5px 5px 5px;
	text-align:left;
	border: 0px;
	width: 220px;
	height: 95px;
        float:left;
	background: url(/images/alertbg.png);
	color: #FFF;
	font-size:13px;
	font-weight:normal;
	background-repeat: no-repeat;
        z-index:54;
        margin:-95px 0px 0px 0px;

}
#alert2{
        position:absolute;
	display:none;
	padding:17px 5px 5px 5px;
	text-align:left;
	border: 0px;
	width: 220px;
	height: 95px;
        float:left;
	background: url(/images/alertbg2.png);
	color: #FFF;
	font-size:13px;
	font-weight:normal;
	background-repeat: no-repeat;
        z-index:54;
        margin: 18px 0px 0px 0px;

}
#killalert{
      float:right;
      padding-right:10px;
}
.atitle{
    position:absolute;
    margin:5px 0px 10px 30px;
    font-size:16px;
    font-weight:bold;
    color: #FFF;
}
.atext{
    width: 185px;
    position:absolute;
    margin:15px 10px 8px 8px;
    font-size:11px;
    font-weight:normal;
    color: #FFF;
}
#invalidmini{
	font-size:16px;
	color:#FFF;
	padding:5px 5px 5px 25px;
	font-weight:bold;
	background: url(/images/ahtung.png);
	background-repeat: no-repeat;
	background-position: 0px 3px;
	margin-bottom: 7px;
}
#invalid,#invalid2{
	font-size:15px;
	color:#e81515;
	font-weight:bold;
        text-align:left;
        margin:10px 0px 10px 0px;
}

#invalidpic{
	background: url(/images/ahtung.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
        width:25px;
        height:25px;
        position:absolute;
        margin:-6px 0px 0px -25px;
}
#invalidcool{
	position:relative;
	padding:7px 5px 20px 45px;
	text-align:left;
	border: 0px;
	background: url(/images/aht.png);
	color: #000;
	font-size:16px;
	font-weight:normal;
	background-repeat: no-repeat;
	background-position: 0px 4px;
        margin-bottom:5px;
}

#invalidcool2{

	color:#FFF;
        position:absolute;
	font-size:16px;
	font-weight:normal;
	background: url(/images/aht.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
        background-color:#FF0000;
        text-align:left;

        display:block;
        width:444px;
        height:auto;
        padding:5px 0 5px 32px;
        float:left;
        text-decoration:none;
        position:absolute;
        top:113px;
        left:205px;
}
#continue{
        position:relative;
	font-size:16px;
	color:#000;
	padding:3px 5px 5px 35px;
	font-weight:normal;
	background: url(/images/aht.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
        width:590px;
        margin:73px 0px 0px 205px;
        text-align:left;
        z-index:121;
}
.waiteapprove{
    position:absolute;
	font-size:16px;
	color:#000;
	font-weight:normal;
	background: url(/images/aht.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
        text-align:left;
        display:block;
        width:444px;
        height:73px;
        padding:0 0 0 32px;
        float:left;
        text-decoration:none;
        position:absolute;
        top:113px;
        left:205px;
}
.waiteapprove{
    position:absolute;
	font-size:16px;
	color:#000;
	font-weight:normal;
	background: url(/images/aht.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
        text-align:left;
        display:block;
        width:444px;
        height:93px;
        padding:0 0 0 32px;
        float:left;
        text-decoration:none;
        position:absolute;
        top:83px;
        left:205px;
}
.center{
	background: none;
    text-align:center;
}
.center span{
	padding: 3px 0 6px 6px;
}
/*
.center span.atext{
	background: url(/images/aht.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
*/
#regboxmodel{
	padding:5px 0 0px 20px;
	width: 744px;
	background-color: #f4f4f4;
}
.middleinput{
	width:160px;
	float:left;
	margin:0 4px 5px 0;
	color:#545454;
	padding: 3px;
        font-family: arial, sans-serif;
	}
.miniinput{
	width:54px;
	float:left;
	margin:0 4px 5px 0;
	color:#545454;
	padding: 3px;
        font-family: arial, sans-serif;
	}
.biginput{
	width:250px;
	float:left;
	margin:0 4px 5px 0;
	color:#545454;
	padding: 3px;
        font-family: arial, sans-serif;
	}
.middlearea{
	width:360px;
	float:left;
	margin:0 4px 5px 0;
	color:#545454;
	padding: 3px;
	height: 80px;
        font-size:12px;
font-family: arial, sans-serif;
	}
.marea{
	width:360px;
	float:left;
	margin:0 4px 5px 0;
	color:#545454;
	padding: 3px;
	height: 80px;
        font-size:12px;
font-family: arial, sans-serif;
	}
.miniarea{
	width:80px;
	float:left;
	margin:0 4px 5px 0;
	color:#545454;
	padding: 3px;
	height: 80px;
font-family: arial, sans-serif;
	}
.smallearea{
	width:200px;
	float:left;
	margin:0 4px 5px 0;
	color:#545454;
	padding: 3px;
	height: 80px;
font-family: arial, sans-serif;
	}
.upline{
	background-image: url(../img/upline.gif);
	height: 13px;
}
.downline{
	background-image: url(../img/downline.gif);
	height: 13px;
}
.leftline{
	background-image: url(../img/leftline.gif);
	width: 13px;
}
.rightline{
	background-image: url(../img/rightline.gif);
	width: 13px;
}
.rline{
	background-image: url(../images/rline.gif);
	width: 13px;
	background-repeat: repeat-y;
}
.doti{
	background-image: url(../img/dot.gif);
	height:3px;
	background-repeat:repeat-x
}

.dotiline{
	background-image: url(../img/splitter.gif);
	height:3px;
}
.stepbg{
	background-image: url(../images/stepbg.gif);
	background-repeat:no-repeat;
	height: 58px;
	vertical-align: baseline;
	 padding:15px 10px 10px 10px;
}
.regtext{
	font-weight: normal;
	color: #333;
	font-size:12px;
	line-height: 28px;
	text-align:left;
	}
.regmini{
	font-weight: normal;
	color: #666;
	font-size:11px;
	text-align:left;
	}
#warn{
	padding:0px 0 0 200px;
	text-align:center;
	width:440px;
	font-size:14px;
	font-weight:bold;
	height:41px;
	line-height:41px;
	color: #960;
}
.warnings{
	padding:0px 0 0 0px;
	text-align:left;
	font-size:12px;
	font-weight:bold;
	height:41px;
	line-height:41px;
	color: #960;
}
#curball{
	padding:5px 0 20px 50px;
	text-align:left;
	font-size:14px;
    background: url(/img/check.gif);
	color: #000;
	font-weight:bold;
	background-repeat: no-repeat;
	background-position: 20px 0px;
}
.submenu { padding:0 0px 0 0px;  float:left; margin:0 0 0px 0; }

.inputfield { width:136px; float:left; margin:2px;padding:4px; }
.dates { font-size:10px; text-transform:uppercase; }
.flash free{ float:left; width:140px; height:184px; margin:0 6px 8px 0; }
.DynamicFlash{ float:left; width:140px; height:184px; margin:0 6px 8px 0; }

#passform{
   width:400px;
}
#passform label{
    padding-top:10px;
    float: left;
}
#passform input{
    float: right;
    padding:4px;
    width:160px;
	margin:5px;
	color:#545454;
}
#passform select{
    float: right;
}
#cloneblock{
    width:400px;
}
#cloneblock label{
    float: left;
}
#cloneblock input{
    float: right;
    width:136px;
    margin:2px;
    padding:4px;
}
#cloneblock select{
    float: right;
}
#blockform{
    width:400px;
}
#blockform label{
    float: left;
	width: 180px;
}
#blockform input, #blockform select{
    float: left;
    padding:4px;
    width:160px;
	margin:5px;
	color:#545454;
}
#blockform select{
    float: left;
	width: 45px;
	margin-right: 132px;
}
#persdataform{
      width: 500px;
}
#persdataform select{
      float: right;
}
#persdataform label{
    float: left;
}



.scrollBox .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	clear:both;
}

/* single scrollable item */
.scrollBox img {
	float:left;
	background-color:#000;
}

/* active item */
.scrollBox .active {
	z-index:9999;
	position:relative;
}

.scrollBox {
	float:left;
}

/* prev, next, prevPage and nextPage buttons */
a.browse {

}

a.sessmodel{

   border:1px solid #666;text-align:center;margin:5px;padding:5px;font-size:14px;float:left;
   background-color: #fff9c7;
}

a.sessmodel :hover{

   text-decoration:none;
}
/* disabled navigational button */
a.disabled {
	visibility:hidden !important;
}

.mainhint{
	padding: 6px 6px 6px 5px;
	z-index:10;
	font-weight: normal;
	color: #333;
	background-color: #fff9c7;
	font-size:12px;
}
/* float:right; */
/* width:410px; */

#minpay{
    width:70px;
    color:#545454;
    padding: 3px;

}
.hidden {
  visibility: hidden;
}

.jqmOverlay { background-color: #000; }

.smaller { font-size: 16px; }
.bigger { font-size: 24px; color: #f78f00; }
/*  22.06.2011 */
/* = tooltip
---------------------------------------------------------------------------------------------------*/
#tooltip2 { position: absolute; z-index: 3000; border: 1px solid #111; background-color: #eee; padding: 5px; text-align:left; }
#tooltip2 h3, #tooltip div { margin: 0; }
#tooltip2.pretty { border: none; width: 210px; padding:20px; height: 96px; background: url(/images/tooltip/shadow2.png);  }
#tooltip2.pretty h3 { margin-bottom: 0.75em; font-size:12px; width:210px; font-weight:normal; line-height:130%; }
#tooltip2.pretty div { width:220px; text-align:left; }







.sysbuy {
	font-family:Arial, Helvetica, sans-serif;
	padding:10px 10px;
	color:#333;
	}
.sysbuy h1 {
	font-size:24px;
	color:#24aafe;
	font-weight:normal;
	margin-bottom:20px;
	padding-left:15px;
	}
.sysbuy a {
	color:#e55c09;
	}
.sysbuy h3 {
	font-weight:normal;
	font-size:20px;
	margin-bottom:0px;
	padding:10px 15px 15px 70px;
	position:relative;
	}
.bt_webmoney {
	background:url(/img/icon_webmoney.png) no-repeat;
	background-position:15px 15px;
        cursor: pointer;
        outline:none;
	}
.bt_wmcard {
	background:url(/img/icon_wmcard.png) no-repeat;
	background-position:15px 15px;
        cursor: pointer;
        outline:none;
	}
.bt_card {
	background:url(/img/icon_card.png) no-repeat;
	background-position:15px 15px;
        cursor: pointer;
        outline:none;
	}
.bt_yandex {
	background:url(/img/icon_yandex.png) no-repeat;
	background-position:15px 15px;
        cursor: pointer;
        outline:none;
	}
.bt_sms {
	background:url(/img/icon_sms.png) no-repeat;
	background-position:15px 15px;
        cursor: pointer;
        outline:none;
	}
.bt_mobile {
	background:url(/img/icon_mobile.png) no-repeat;
	background-position:21px 15px;
        cursor: pointer;
        outline:none;
	}
.bt_c2p {
	background:url(/img/icon_c2p.png) no-repeat;
	background-position:15px 15px;
        cursor: pointer;
        outline:none;
	}
.sysbuy h3 a {
	color:#e55c09;
	text-decoration:none;
	border-bottom: dotted 1px;
	}
.sysbuy h3 span {
	display:block;
	font-size:12px;
	padding-top:7px;
	}
.sysbuy h3 u {
	display:none;
	cursor:pointer;
	border-bottom: dotted 1px;
	font-size:12px;
	color:#686667;
	position:absolute;
	right:15px;
	top:15px;
	text-decoration:none;
	}
.buy_m a:hover {
	color:#333;
	text-decoration:underline;
	}
.sysbuy h3 a:hover {
	text-decoration:none;
	color:#333;
	}
.buy_m p {
	padding-top:8px;
	}
h3.ui-state-active {
	background-color:#fff;
	border:solid 1px #e9e9e9;
	border-bottom:none;
	}
h3.ui-state-default {
        border:solid 1px #f4f4f4;
	border-bottom:none;
        }
.sysbuy h3.ui-state-active u {
	display:block;
	}
.buy_desc {
	background-color:#fff;
	padding:10px 15px 20px 15px;
	border:solid 1px #e9e9e9;
	border-top:none;
	margin-bottom:10px;
	}
.calc {
	overflow:hidden;
	height:1%;
	padding-bottom:15px;
	}
.inp2 {
	border:solid 1px #e4e3eb;
	padding:5px 10px;
	width:80px;
	font-size:18px;
	color:#24aaff;
	font-weight:bold;
	margin-right:10px;
	font-family:Arial, Helvetica, sans-serif;
	}
.calc .inp2 {
	float:left;
	}
#callisto_MSISDN {
	color:#333;
	font-weight:normal;
	
	}
.calc {
	padding-top:2px;
	}
.calc span.cal_text  {
	float:left;
	font-size:18px;
	display:block;
	padding-right:10px;
	padding-top:6px;
	}
.calc span.cal_text strong  {
	font-size:18px;
	color:#24aaff;
	font-weight:bold;
	}
.calc_arr {
	background:url(/img/arr.gif) no-repeat left top;
	display:block;
	width:20px;
	height:20px;
	font-size:0px;
	float:left;
	position:relative;
	top:7px;
	margin-right:20px;
	margin-left:10px;
	
	}
.calc_arr:hover {
	background-position:0px -20px;
	}
#accordion {
	width:100%;
	margin-bottom:0;
	}

.bd_list {
	margin:0px;
	padding-top:10px;
	padding-bottom:15px;
	padding-left:15px;
	}
	
.bd_list li {
	list-style:disc;
	padding-bottom:4px;
	}
ol.bd_list li {
	list-style:decimal;
	}
input.butt {
	background-color:#24aafe;
	cursor:pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color:#fff;
	font-size:16px;
	border:none;
	height:30px;
	position:relative;
	top:2px;
	padding-bottom:3px;
	padding-left:10px;
	padding-right:10px;
	text-decoration:none;
	margin-left:10px;
	}
a.butt {
	background-color:#24aafe;
	display:block;
	cursor:pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color:#fff;
	font-size:16px;
	height:25px;
	position:relative;
	top:2px;
	padding-top:5px;
	padding-left:20px;
	padding-right:20px;
	text-decoration:none;
	margin-left:10px;
	}
.calc .butt {
	float:left;
	}
.mess_warn {
	float:left;
	display:block;
	padding-top:12px;
	}
#iftarif {
	font-size:16px;
	line-height:20px;
	}
#iftarif span {
	padding-left:20px;
	}
#iftarif strong {
	color:#00abff	
	}
#smstext b {
	color:#00abff	
	}
.sms_table td {
	padding-bottom:10px;
	}
	

.sel {
	border:solid 1px #e4e3eb;
	width:110px;
	margin-right:10px;
	font-size:18px;
	color:#333;
	font-family:Arial, Helvetica, sans-serif;
	}
.sel_v {
	color:#24aaff;
	font-weight:bold;	
	}
.calc .sel {
	float:left;
	}

.ui-selectmenu { 
	display: block; 
	position:relative; 
	text-decoration: none; 
	overflow:hidden;
	border:solid 1px #e4e3eb;
	margin-right:10px;
	float:left;
	}

.date .ui-selectmenu {
	float:left;
	margin-right:10px;
	}
.ui-selectmenu-icon {
	position:absolute; 
	right:15px; 
	margin-top:-2px; 
	top: 50%; 
	background:url(/img/sel_icon.gif) no-repeat;
	width:7px;
	height:4px;
	}
.ui-selectmenu-menu { 
	padding:0; 
	margin:0; 
	list-style:none; 
	position:absolute; 
	top: 0; 
	visibility: hidden; 
	overflow: auto;
	}
.ui-selectmenu-open { 
	visibility: visible;
	}
.ui-selectmenu-menu-dropdown {
	background-color:#fff; 
	max-height:200px; 
	margin-top:0px;
	/margin-top:0px;
	border:solid 1px #e4e3eb;
	text-align:left;
	}
.ui-selectmenu-menu li { 
	padding:0; 
	margin:0; 
	display: block; 
	}
.ui-selectmenu-menu li a, .ui-selectmenu-status {
	line-height: 1.4em; 
	display:block; 
	outline:none; 
	text-decoration:none;
	padding:4px 10px 3px 10px;
	font-size:18px;
	color:#333;
	font-family:Arial, Helvetica, sans-serif;

	}
#bc_offers-button  li a, #bc_offers-button  .ui-selectmenu-status, #bc_offers1-button li a, #bc_offers1-button .ui-selectmenu-status, #bc_offers-menu  li a,  #bc_offers-menu .ui-selectmenu-status, #bc_offers1-menu  li a,  #bc_offers1-menu .ui-selectmenu-status, #oi_offers-button  li a,  #oi_offers-button .ui-selectmenu-status, #oi_offers1-button  li a,  #oi_offers1-button .ui-selectmenu-status, #oi_offers-menu  li a,  #oi_offers-menu .ui-selectmenu-status, #oi_offers1-menu  li a,  #oi_offers1-menu .ui-selectmenu-status {
	color:#24AAFF;
	font-weight:bold;
	}

.ui-selectmenu-menu li.ui-selectmenu-hasIcon a, .ui-selectmenu-hasIcon .ui-selectmenu-status {
	padding-left: 20px; 
	position: relative; 
	margin-left: 5px;
	}
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon { 
	position: absolute; 
	top: 1em; 
	margin-top: -8px; 
	left: 0;
	}
.ui-selectmenu-status { 
	line-height: 1.4em;
	}
.ui-selectmenu-open li.ui-selectmenu-item-selected { 
	background-color:#eff1f4;
	}
.ui-selectmenu-menu li span,.ui-selectmenu-status span { 
	display:block; 
	margin-bottom: .2em;
	}
.ui-selectmenu-menu li .ui-selectmenu-item-header {
	font-weight: bold;
	}
.ui-selectmenu-menu li .ui-selectmenu-item-footer { 
	opacity: .8;
	}
.ui-selectmenu-menu .ui-selectmenu-group { 
	font-size: 1em;
	}
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label { 
	line-height: 1.4em; 
	display:block;
	font-weight: bold;
	}
.ui-selectmenu-menu .ui-selectmenu-group ul { 
	margin: 0; 
	padding: 0;
	}
.ui-selectmenu-menu-dropdown li a {
	padding:2px 10px;
	}
.ui-selectmenu-menu-dropdown li a:hover {
	background-color:#dbe0e6;
	}