
.tipsy {
	opacity:.8;
	filter:alpha(opacity=80);
	background: #000;
	padding:5px;
        font-size: 10px;
	-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; 
        max-width:200px;

}
.tipsy-inner {
	padding:2px 2px;
/*	max-width:200px;

	-moz-border-radius:16x;
	-khtml-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:8px; */
	background-color:#000;
	color:white;
	text-align:left;
}



a.signin {
	position:relative;
	margin-left:3px;
}
a.signin span {
	padding:4px 16px 6px 0;
}
#topnav a.menu-open {
	background:#ddeef6!important;
	color:#666!important;
	outline:none;
}
#small_signup {
	display:inline;
	float:none;
	line-height:23px;
	margin:25px 0 0;
	width:170px;
}
a.signin.menu-open span {
	color:#789;
}
#signin_menu, #get_menu{
-moz-border-radius:16px; -webkit-border-radius:16px; border-radius:16px; display:none;

	background-color:#222;
	right: 0;
	position:absolute;
	height: 165px;
	width:215px;
	z-index:1000;
	border:1px transparent;
	text-align:left;
	padding:4px 10px;
	margin-right:215px;
	*margin-right: 215px;
	top:50px;
	color:#fff;
-moz-box-shadow: 4px 4px 9px #333; -webkit-box-shadow: 4px 4px 9px #333; box-shadow: 4px 4px 9px #333;
}

#signin_menu input[type=text], #signin_menu input[type=password], #get_menu input[type=text], #get_menu input[type=password] {
	display:block;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #ACE;
	font-size:13px;
	margin:0 0 5px 0;
	padding:5px;
	width:203px;

}
#signin_menu p, #get_menu p {
	margin:0;
}
#signin_menu a {
	color:#6AC;
}
#signin_menu label {
	font-weight:normal;
}
#signin_menu p.remember {
	padding: 0;
}
#signin_menu p.forgot, #signin_menu p.forgot-username, #signin_menu p.complete {
	font-size: 11px;
	clear:both;
	margin:3px 2px;
}
#signin_menu p a {
	color:#27B!important;
}
#signin_submit, #get_submit {
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	background:#f78f00;
	color:#fff;
	border: none;
	padding:4px 10px 5px;
	font-size:12px;
	margin:4px 5px 2px 0;
	font-weight:bold;
;
}

.forgot-username { position: absolute; top: 144px; left: 60px; }
.formfix { float: left; display: inline; position: relative; padding: 0 0 0 30px; }

/* input[id=username]:focus, input[id=password]:focus { outline: 2px solid #F00; background-color: #FCC; } */

#signin_submit::-moz-focus-inner, #get_submit::-moz-focus-inner { padding:0; border:0; background: #FCC; }

#signin_submit:hover, #signin_submit:focus, #get_submit:hover, #get_submit:focus {
	cursor:pointer;
}

.tipsy-inner {
	font-size: 12px;
	padding:5px 10px;
	line-height:1.5em;
}
.ie6 .tipsy {
	width:250px;
}
.signup-tip {
	line-height:18px;
	margin:30px 0;
	color:#333;
}
.signup-tip a {
	font-weight:bold;
}

/***** new ****/
.sms-login-form .sublogin-wrap{
    text-align: center;
    box-sizing: border-box;
    padding: 36px 30px 25px 30px;
    width: 556px;
    font: normal 13px Arial, Helvetica, sans-serif;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    margin-top: 30px;
}
.sms-login-form .sublogin-wrap .sublogin{
    float: none;
    width: auto;
    margin-top: 0;
    padding: 0;
}
.sms-login-form .sublogin-wrap .sublogin .welcome{
    padding: 10px 30px 20px 30px;
    line-height: 1.5;
}

.sms-login-form .sublogin-wrap .sublogin h2{
    font: normal 20px Arial, Helvetica, sans-serif;
    padding: 0 0 24px 0;
}
.sms-login-form .sublogin-wrap .sublogin h3{
    font: bold 13px Arial, Helvetica, sans-serif;
    padding: 0 0 6px 0;
    margin: 0;
}

.sms-login-form .sublogin-wrap .sublogin .sms-phone{
    font-weight: bold;
}

.sms-login-form .sublogin-wrap .sublogin .no-sms{
    padding: 25px 0 15px 0;
    line-height: 1.5;
}

.sms-login-form .sublogin-wrap .sublogin .no-sms a.disabled-link{
    color: #acacac;
    text-decoration: none;
    cursor: text;
}
.sms-login-form .sublogin-wrap .sublogin .btn-submit{
    display: block;
    cursor: pointer;
    margin: 17px 0 0 0!important;
}
.sms-login-form .sublogin-wrap .sublogin .sublogin-frm{
    overflow: hidden;
    width: 310px;
    margin: 10px auto;
}
.sms-login-form .sublogin-wrap .sublogin .sublogin-frm label{
    float: left;
    width: 75px;
    padding: 5px 5px 5px 0;
}
.sms-login-form .sublogin-wrap .sublogin .sublogin-frm .fields{
    float: left;
    text-align: left;
}
.sms-login-form .sublogin-wrap .sublogin .sublogin-frm .fields input[type=text]{
    display: block;
}
.sms-login-form .sublogin-wrap .sublogin .sublogin-frm .fields .error-message{
    color: #e41e34;
    padding: 10px 0 5px 0;
}
.sms-login-form .sublogin-wrap .sublogin .message-send{
    color: #e41e34;
    padding: 6px 0 0 0;
}