@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic-ext&.css);

/*
@font-face {
 font-family: 'Open Sans';
 src: url(/font/OpenSans-Regular.eot) 
}
@font-face {
 font-family: 'Open Sans';
 src: url(/font/OpenSans-Regular.woff);
}
@font-face {
  font-family: 'Open Sans';
  src: url(/font/OpenSans-Italic.eot);
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url(/font/OpenSans-Italic.woff);
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url(/font/OpenSans-Bold.eot);
  font-weight: bold;
}
@font-face {
  font-family: 'Open Sans';
  src: url(/font/OpenSans-Bold.woff);
  font-weight: bold;
}

*/
/* main setup */
html {
	height:100%;
	background:#fff;
	}
* html body {
	height:100%;
	}
body { color: #333; font: normal 12px 'Open Sans', Arial, Helvetica, sans-serif; font-weight: 400;  height:100%; 		width:100%; }
.mainbg { background: #FFF url(../user_images/mainbg.gif) repeat-x 0px 0px; position:relative; padding-bottom:178px; position:relative; overflow:hidden; width:100%; }
strong, b, h1, h2, h3, h4, h5, h6, #menu1 li, #menu2 li, #menu3 li, #menu4 li, fieldset span, .reset-panel, #g-ol li div.l2 p { font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-weight: 700;}
.clr { clear: both; height: 0; }
.clr2 { clear: both; height: 10px; }
.clr3 { clear: both; height: 15px; }
.blu { color: #24aafe; }
.org, a { color: #f78f00; }
.fll { float: left; }
.flr { float: right; }
.online { color: #390; }
.offline { color: #333333; }

a {cursor:pointer;}

.page { position:relative; min-height:100%; width:100%; }

/* all items that need inline/relative positioning get this! */
#menu1 li, #lang, #menu2, #menu2 li, #menu3, #menu3 li, #menu4 li, .ex-search, .logo, .f-logo, .sets , .show, .reset, #g-ol li, .fll, .flr, #string li, #v-menu, #v-menu li, .v-time, .v-views, #top-runetki li, #mod-top h1, #mod-top p, #mod-media div.left, #mod-media div.right, #stats div.left, #stats div.right, #about div.left, #about div.right, #my-profile, #my-calendar, .a-com-links, .a-com-auth, #iget, #register { display: inline; position: relative; }


/* header setup */
#hdrwrap { clear: both; padding: 0 25px; height: 131px; min-width: 940px; }

#hdrtop { height: 62px; padding: 8px 0 0 0; position:relative; z-index:100; }
#hdrbot { height: 61px; }

h1.logo { float: left; text-indent: -5000px; width: 150px; height: 54px; background: url(../user_images/sprites.png) no-repeat -154px 0px; }
h1.logoru { float: left; text-indent: -5000px; width: 180px; height: 54px; background: url(../user_images/rulogos.png) no-repeat 0px 0px; }
.username { font-size: 11px; color: #a4a4a4;position: absolute;right: 40px;top: 3px;z-index: 101;}
.username a { color: #a4a4a4; text-decoration: none; }
.username a:hover { color: #f78f00; text-decoration: underline; }
/* top row menu */
#menu1 { float: right; padding: 17px 18px 0 0; }
#menu1 li { float: left; padding: 0 10px; line-height: 13px; border-right: 1px dotted #666; font-size: 11px; }
#menu1 li a { color: #a4a4a4; text-decoration: none; padding-top:3px; padding-bottom:3px; display:block; }
#menu1 li a:hover { color: #f78f00; text-decoration: none; }
#menu1 li.chat {  display: block; background: url(../user_images/sprites.png) no-repeat 0 -128px; width: 14px; height: 16px; padding: 0; position:relative; top:3px; }
#menu1 li.end { border-right: none; }
#menu1 li.m1_user { position:relative; }
#menu1 li.m1_user a { background: url(../user_images/sprites.png) no-repeat right -351px; padding-right:25px; padding-left:10px; }
#menu1 li div { display:none; position:absolute; left:0px; top:19px; width:100%; }
#menu1 li ul { margin:0px 10px; background-color:#000; padding:4px 0px; }
#menu1 li ul li { border:none; float:none; padding-bottom:2px; display:block; }
#menu1 li.m1_user:hover {  }
#menu1 li.m1_user:hover a { color: #f78f00; background:#000 url(../user_images/sprites.png) no-repeat right -376px;}
#menu1 li.m1_user:hover li { padding:0px 1px; }
#menu1 li.m1_user:hover li a { color: #ccc; background:none;  padding:2px 10px 3px 10px; font-weight:normal; }
#menu1 li.m1_user:hover li a:hover {  color: #fff; background-color:#222; }
#menu1 li.m1_user:hover div { display:block; }
#menu1 li.li_balance { position:relative; top:-1px; }
#menu1 li a #balance { color:#fb9b00; padding:1px 4px; font-size:13px; font-weight:bold; position:relative;}
#menu1 li a:hover #balance { color:#fff; }
/* language selector */
#lang { float: right; padding: 14px 0 0 0; z-index: 100; }
.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
.dropdown dd { position:relative; }
.dropdown a, .dropdown a:visited { color:#ccc; text-decoration:none; outline:none; font-size: 11px; }
.dropdown a:hover { color:#fff;}
.dropdown dt a:hover { color:#fff; }

.dropdown dt a { background: url(../user_images/sprites.png) no-repeat scroll -29px -129px; display:block; width:88px; }

.dropdown dt a span {cursor:pointer; display:block; padding:5px;}
.dropdown dd ul { background:#000 none repeat scroll 0 0; display:none; left:0px; padding:5px 0px; position:absolute; top:1px; width:auto; min-width:88px; list-style:none;}

.dropdown span.value { display:none; }
.dropdown dd ul li a { padding:5px; display:block;}
.dropdown dd ul li a:hover { background-color:#222;}
.dropdown img.flag { border:none; vertical-align:top; margin: 3px 10px 0 5px; }
/* .flagvisibility { display:none;} */


/* second row menus */
#menu2 { float: left; }
#menu2 li { float: left; height: 36px; line-height: 36px; margin: 12px 6px 0 0; text-align: center; font-size: 18px; padding: 0 9px; background: #2e2e2e; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; }
#menu2 li:hover { background: #1f2020; }
#menu2 li a { color: #fff; text-decoration: none; }
#menu2 li a:hover { color: #24aafe; text-decoration: none;  }


#menu3 { float: right; padding: 21px 0 0 0; }
#menu3 li { float: left; font-size: 15px; line-height: 17px; border-right: 1px dotted #24aafe; padding: 0 8px; }
#menu3 li a { color: #fff; text-decoration: none; }
#menu3 li a:hover { color: #f78f00; }
#menu3 li a.s1 { display: block; background: url(../user_images/sprites.png) no-repeat right -202px; padding: 0 22px 0 0; }
#menu3 li.end { border-right: none; }

.ex-search { float: right; height: 30px; min-width: 36px; background: url(../user_images/sprites.png) no-repeat right -154px; margin: 15px 0 0 0; }
.ex-search a { display: block; height: 30px; width: 35px; text-decoration: none; }
.ex-search a span { visibility: hidden; }

.pop_hide { display:none; }
#search-popup { position:absolute; right:65px; top:78px; width:145px; z-index:999; padding: 8px 10px; background-color: #000; border:2px solid #333; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; -moz-box-shadow:1px 1px 4px #000; box-shadow:1px 1px 4px #000; -webkit-box-shadow:1px 1px 4px #000; }

#search-popup input[type=text] { width:140px; font-size:11px; }



/* roll out search panel */
.search-panel { height: 550px; padding: 20px 0 0 120px; background: #252626 url(../user_images/searchbg.gif) repeat-x 0px 0px; min-width: 900px; }
.show_hide { display:none; }

.sets { float: left; width: 15%; min-width: 145px; }
.lastset { float: right; min-width:145px; width: 16%;  }
.endsets { float: left; width: 32%; min-width: 290px; }
fieldset span { font-size: 16px; color: #f78f00; }

label.ui-checkbox { display: block; position: relative;	width: 22px; height: 22px; padding: 0 12px 0 30px; background: url(../user_images/sprites.png) 0 -183px no-repeat; }
label.ui-checkbox-state-hover  { background-position: 0 -183px; color: #f78f00; }
label.ui-checkbox-state-checked { background-position: 0 -212px; color: #24aafe; }
label.ui-checkbox-state-checked-hover { background-position: 0 -212px; }
label.ui-checkbox-state-disabled, label.ui-checkbox-state-disabled-hover {background: url(../user_images/sprites.png) -68px -183px no-repeat; color: #333434; }

.ui-helper-hidden-accessible { position: absolute; left: -9999em; }
fieldset label { font-size: 13px; color: #fff; line-height: 22px; margin: 8px 0; white-space: nowrap; }
fieldset label span { font-size: 8px; color: #666; line-height: 7px; }

.filter {position:absolute; background:transparent url(../user_images/sprites.png) no-repeat -152px -183px; font-size:18px; height:70px; line-height: 20px; width:123px; padding:10px 0 0 0; color:#fff; text-align: center; display: none;}
.filter span { font-size: 16px; color: #999;}
.note { font-size: 9px; color: #999; }

.reset-panel { clear: both; display: block; background: #333434; -moz-border-radius:16px; -webkit-border-radius:16px; border-radius:16px; padding: 14px; margin: 20px 0 0 0; text-align: center; height: 36px; width: 330px; }

.reset-panel input { float: left; height: 36px; line-height: 36px; text-align: center; font-size: 18px; padding: 0 12px; background: #2e2e2e; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; color: #fff; border: none; }
.reset-panel input:hover { background: #1f2020; color: #24aafe; }
.reset { float: left;  width: 110px; }
.show { float: right; margin: 0 0 0 10px; white-space: nowrap; width: 205px; }



/* main page content area */
#content { clear: both; padding: 25px; min-height: 600px; min-width: 940px; overflow:hidden; }
#content_noborder { clear: both; padding: 6px; min-height: 600px; min-width: 940px; overflow:hidden; }
/* info string */
.string { margin-top: 15px; }
.string li { float: left; line-height: 24px; margin: 0 10px 0 0; border-bottom: 1px dotted #bbb; }
ul.string li a { display: block; width: 60px; line-height: 24px; text-decoration: none; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; padding: 0 0 0 14px; background: #fff url(../user_images/sprites.png) no-repeat -85px -280px; border: 1px solid #d1d1d1; }
ul.string li a:hover { color: #f60; }
ul.string li.selected { font-weight: 700; margin: 0 10px 0 0; border-bottom: none; }
ul.string li.sel-end { border-bottom: none; }
ul.string li.sel-end a span { visibility:hidden; }


/* stretchy sub menu bar setup */
.colmask { position:relative; clear:both; width:100%; overflow:hidden; }
.colright, .colmid, .colleft { float:left; width:100%; position:relative; }
.col1, .col2, .col3 { float:left; position:relative; padding: 0; overflow:hidden; }

.threecol .colmid {	right:33%; }
.threecol .colleft { right:33%;	}
.threecol .col1 { width:31%; left:100%; text-align: center; }
.threecol .col2 { width:35%; left:35%; text-align: left; }
.threecol .col3 { width:32%; left:68%; text-align: right; }

.pagetitle { color: #24aafe; font-size: 36px; line-height: 36px; letter-spacing: -1px;}
.midnav { line-height: 36px; font-size: 16px; }
.rightnav {  float: right; text-align: center; width: 240px; line-height: 36px; font-size: 13px; padding: 0 10px; border: 1px solid #d5d5d5; background: #fff; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; }
.rightnav a { color: #24aafe; }
.spac1 { margin-top: 15px; }




/* girls on the home page */

#g-ol { margin: 20px auto; }
#g-ol li { float: left; width: 170px; height: 170px; padding: 5px; border: 1px solid #d5d5d5; background: #fff; margin: 0 2px 20px 1px; }
#g-ol li a { text-decoration: none; }
#g-ol li div.g-new { width: 47px; height: 47px; position: absolute; z-index: 90; background: url(../user_images/sprites.png) no-repeat -68px 0px; }
#g-ol li div.l1, #g-ol li div.l2 { margin: 3px 0 0 0; clear: both; overflow: hidden;}
#g-ol li div.l1 p, #g-ol li div.l2 p { float: left; }

#g-ol li div.l2 p { width: 132px; height: 17px; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; text-align: center; margin: 2px 0 0 0; font-weight: 700; font-variant: normal; font-size: 13px; line-height: 16px;  /padding-top:2px; /height:15px; }

@media \0screen {
  #g-ol li div.l2 p {padding-top:2px;height:15px;}
}

#g-top { margin: 20px auto; }
#g-top li { float: left; width: 170px; height: 170px; padding: 5px; border: 1px solid #d5d5d5; background: #fff; margin: 0 2px 20px 1px; }
#g-top li a { text-decoration: none; }
#g-top li div.g-new { width: 47px; height: 47px; position: absolute; z-index: 90; background: url(../user_images/sprites.png) no-repeat -68px 0px; }
#g-top li div.l1, #g-top li div.l2 { margin: 4px 0 0 0; clear: both; }
#g-top li div.l1 p, #g-top li div.l2 p { float: left; }

#g-top li div.l2 p { width: 132px; height: 17px; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; text-align: center; margin: 2px 0 0 0; padding: 2px 0 0 0; font-weight: 700; font-variant: normal; font-size: 13px; line-height: 15px; }


.aud { float: right; width: 12px; height: 14px; position: relative; background: url(../user_images/sprites.png) no-repeat -29px 0px; }
.hd { float: right; width: 24px; height: 14px; position: relative; margin: 0 0 0 5px; background: url(../user_images/sprites.png) no-repeat -44px 0px; }
.hq { float: right; width: 24px; height: 14px; position: relative; margin: 0 0 0 5px; background: url(../user_images/sprites.png) no-repeat 100% -78px; }
.discount { float: right; width: 33px; height: 15px; position: relative; margin: 3px 0 0 5px; background: url(../user_images/sprites.png) no-repeat -29px -17px; }
.discountchat { float: right; width: 33px; height: 15px; position: relative; margin: 3px 0 0 4px; background: url(../user_images/sprites.png) no-repeat -29px -32px; }
.g-off { background: #ccc; color: #000; cursor: pointer}
.g-vid { background: #390; color: #fff; cursor: pointer }
.g-mem { background: #24aafe; color: #fff; cursor: pointer }
.g-pri { background: #f78f00; color: #fff; cursor: pointer }
.g-dis { background: #f70000; color: #fff; cursor: pointer }

/* video gallery page */

#v-menu { float: left; min-width: 630px; }
#v-menu li { float: left; padding: 0 12px; background: #fff; border-top: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; border-right: 1px solid #d5d5d5; font-size: 14px; font-weight: 700; }
#v-menu li:hover { background: #f78f00; }
#v-menu li a { line-height: 38px; color: #000; text-decoration: none; }

#v-menu li.vl-end {
border-left: 1px solid #d5d5d5;
-webkit-border-radius-topleft:6px;
-webkit-border-radius-topright:0;
-webkit-border-radius-bottomleft:6px;
-webkit-border-radius-bottomright:0;

-moz-border-radius-topleft: 6px;
-moz-border-radius-topright: 0;
-moz-border-radius-bottomleft: 6px;
-moz-border-radius-bottomright: 0;

border-top-left-radius: 6px;
border-top-right-radius: 0;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 0;

}

#v-menu li.vr-end {
-webkit-border-radius-topleft:0;
-webkit-border-radius-topright: 6px;
-webkit-border-radius-bottomleft: 0;
-webkit-border-radius-bottomright: 6px;

-moz-border-radius-topleft: 0;
-moz-border-radius-topright: 6px;
-moz-border-radius-bottomleft: 0;
-moz-border-radius-bottomright: 6px;

border-top-left-radius: 0;
border-top-right-radius: 6px;
border-bottom-left-radius: 0;
border-bottom-right-radius: 6px;

 }
#v-menu li.v-end { border: none; background: none; }
#v-menu li.v-end a { color: #f78f00; font-size: 9px; font-weight: 400; text-decoration: underline; }

.whatis { font-size: 16px; color: #69C; text-align: justify; margin: 15px auto 0 auto; width: 600px; background-color: #fff; -moz-border-radius:12px; -webkit-border-radius:12px; border-radius:12px; border: 1px solid #d1d1d1; padding: 12px; -moz-box-shadow: 4px 4px 9px #ccc; -webkit-box-shadow: 4px 4px 9px #ccc; box-shadow: 4px 4px 9px #ccc; }


#v-gal { margin: 20px auto; }
#v-gal li { float: left; width: 170px; height: 200px; padding: 5px; border: 1px solid #d5d5d5; background: #fff; margin: 0 3px 20px 0; }
#v-gal li a { text-decoration: none; }
#v-gal li div.l1 { margin: 4px 0 0 0; clear: both; }
#v-gal li div.l1 p { float: left; padding: 0 0 2px 0; }
#v-gal li div.l1 p a { color: #24aafe; }

#v-gal li div.g-new { width: 47px; height: 47px; position: absolute; z-index: 90; background: url(../user_images/sprites.png) no-repeat -68px 0px; }
#v-gal li div.discount { float: right; width: 33px; height: 15px; position: absolute; margin: 3px 0 0 132px; background: url(../user_images/sprites.png) no-repeat -29px -17px; }
#v-gal li div.g-stats { visibility:hidden; width: 170px; height: 21px; position: absolute; z-index: 90; background: url(../user_images/sprites.png) no-repeat 0px -329px; margin: 107px 0 0 0; }

.v-time, .v-views { color: #fff; line-height: 21px; padding: 0 8px; }
.v-descr { clear:both; padding: 1px 0 0 0; border-top: 1px dotted #ccc; font-size: 11px; line-height: 14px; }



/* top runetki page */
.toprbg { background: #FFF url(../user_images/toprbg.gif) repeat-x 0px 0px; padding-bottom:178px; position:relative; }
.tr-title { color: #24aafe; font-size: 36px; line-height: 36px; letter-spacing: -1px; text-align: center; }
.tr-txt { color: #000; font-size: 20px; line-height: 20px; text-align: center; }

#top-runetki { width: 970px; margin: 20px auto; }
#top-runetki li { float: left; width: 308px; height: 345px; background: url(../user_images/shade.png) no-repeat center bottom; margin: 0 3px; }
#top-runetki li div.t-wrap { width: 291px; height: 283px; padding: 7px; border: 1px solid #d5d5d5; background: #fff; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px; }
#top-runetki li div.t-wrap a { text-decoration: none; }

#top-runetki li div.t-wrap div.l1 { display: block; height: 20px; margin: 10px 0 0 0; clear: both; padding: 5px 0 0 70px; line-height: 20px; }
#top-runetki li div.t-wrap div.l2 { display: block; height: 20px; clear: both; padding: 8px 0 0 70px; }

#top-runetki li div.t-wrap div.l1 p, #top-runetki li div.t-wrap div.l2 p { float: left; }
#top-runetki li div.t-wrap div.l1 p { font-size: 20px; font-weight: 700; line-height: 20px; }
#top-runetki li div.l1, #top-runetki li div.l2 { margin: 4px 0 0 0; clear: both; }
#top-runetki li div.t-wrap div.l2 p {width: 137px; height: 17px; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; text-align: center; margin: 2px 0 0 0; padding: 2px 0 0 0; font-weight: 700; font-variant: normal; font-size: 13px; line-height: 15px; }

.no1, .no2, .no3 { width: 69px; height: 64px; position: absolute; z-index: 90; background: url(../user_images/sprites.png) no-repeat; margin: 226px 0 0 -7px;}

.no1 { background-position: -290px -247px; }
.no2 { background-position: -359px -247px; }
.no3 { background-position: -428px -247px; }

.top-more { font-size: 24px; font-weight: bold; color: #f78f00; display: block; clear: both; text-align: center; padding: 40px 0 0 0; }



/* model bio page */

.biobg { background: #f4f4f4 url(../user_images/biobg.gif) repeat-x 0px 0px; }
/*.my-bg { background: url(../user_images/custom.jpg) repeat; }   */
.bio-wrap { display: block; overflow: visible; min-height: 1px; padding: 15px 20px 20px 20px; width: 890px; margin: 0 auto; -moz-border-radius:16px; -webkit-border-radius:16px; border-radius:16px; background: url(../user_images/transbg.png) repeat; }

#mod-top { display: block; clear: both; }
#mod-top h1 { font-size: 36px; letter-spacing: -1px; color: #24aafe; float: left; }
#mod-top h1 span { font-size: 12px; color: #333; letter-spacing: 0; font-weight: 400; font-style:normal; }
#mod-top p { float: right; padding: 13px 0 0 0; }
#mod-top a p { display: block; height: 26px; width: 77px; line-height: 28px; color: #fff; text-decoration: none; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; padding: 0 40px 0 10px; background: #1f2020 url(../user_images/sprites.png) no-repeat -2px -240px; }
#mod-top p a:hover { color: #24aafe; }

#mod-media { display: block; clear: both; }
#mod-media div.left { float: left; width: 370px; }
#mod-media div.right { float: right; width: 515px; }

h2#stats-hdr  { display: block; clear: both; font-size: 24px; color: #24aafe; border-bottom: 1px dotted #666; padding: 15px 0 0 0; }

#stats { display: block; clear: both; }
#stats div.left { float: left; width: 325px; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px; border: 1px solid #dfdfdf; background-color: #fff; padding: 15px; }
#stats div.left table { border: none; font-size: 13px; line-height: 13px; }
#stats div.left table tr td.left { text-align: right; padding: 1px 12px 1px 0; border-right: 1px solid #F63; font-weight: 700; width: 40%; }
#stats div.left table tr td.right { text-align: left; padding: 1px 0 1px 9px; }

#stats div.right { float: right; width: 510px; }
.stats-cat, .stats-lang { width: 135px; }
.stats-loc { width: 135px; margin-top: 5px; }
.stats-cat li, .stats-loc li { padding: 2px 0; }
.st-name { font-weight: 700; border-bottom: 1px solid #F63; font-size: 13px; }
.stl { padding: 2px 0; }
.st-en { background: url(../user_images/us.png) no-repeat left center; padding: 2px 0 2px 20px; }
.st-de { background: url(../user_images/de.png) no-repeat left center; padding: 2px 0 2px 20px; }
.st-fr { background: url(../user_images/fr.png) no-repeat left center; padding: 2px 0 2px 20px; }


#about { clear: both; display: block; }
#about div.left { float: left; width: 355px; }
#about div.left h3 { display: block; clear: both; font-size: 24px; color: #24aafe; border-bottom: 1px dotted #666; padding: 15px 0 0 0; }
#about div.left p { margin: 10px 0;  font-size: 13px; } /* text-align: justify; */

#about div.right { float: right; width: 520px; }
#about div.right h4 { display: block; clear: both; font-size: 24px; color: #24aafe; border-bottom: 1px dotted #666; padding: 15px 0 0 0; }

#about div.right ul { margin-top: 15px; }
#about div.right ul li { float: left; width: 170px; margin: 0 3px 10px 0; }
#about div.right ul li a { text-decoration: none; }

#about div.right ul li div.g-stats { width: 170px; height: 21px; position: absolute; z-index: 90; background: url(../user_images/sprites.png) no-repeat 0px -329px; margin: 107px 0 0 0; }

#about div.right ul li div.watch-but a { display: block; width: 116px; height: 24px; line-height: 26px; color: #fff; text-decoration: none; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; background-color: #f60; text-align: center; margin: 5px 0 0 25px; }

.more-vids { text-align: center; font-size: 15px; }


#schedule h5 { display: block; clear: both; font-size: 24px; color: #24aafe; border-bottom: 1px dotted #666; padding: 5px 0 0 0; }
#schedule h5 span { font-size: 12px; color: #333; letter-spacing: 0; font-weight: 400; font-style:normal; }

#cal { display: block; overflow: visible; min-height: 1px; padding: 20px; margin: 15px 0 0 0; -moz-border-radius:12px; -webkit-border-radius:12px; border-radius:12px; border: 1px solid #dfdfdf; background-color: #fff; }

.cal_hide { display:none; }

#cal table tr td { text-align: center; width: 14%; padding: 4px; }
#cal table tr th { color: #fff; font-weight: 400; padding: 5px; width: 14%; }
#cal div.lower table tr td { border-right: 1px solid #999; }
#cal div.lower table tr td.lastday { border-right: none; }
#cal div.lower table tr td span { color: #f60; font-weight: 700; }

.upper { background-color: #333;
-webkit-border-radius-topleft:6px;
-webkit-border-radius-topright:6px;
-webkit-border-radius-bottomleft:0;
-webkit-border-radius-bottomright:0;

-moz-border-radius-topleft: 6px;
-moz-border-radius-topright: 6px;
-moz-border-radius-bottomleft: 0;
-moz-border-radius-bottomright: 0;

border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;

}

.lower {
-webkit-border-radius-topleft:0;
-webkit-border-radius-topright:0;
-webkit-border-radius-bottomleft:6px;
-webkit-border-radius-bottomright:6px;

-moz-border-radius-topleft: 0;
-moz-border-radius-topright: 0;
-moz-border-radius-bottomleft: 6px;
-moz-border-radius-bottomright: 6px;

border-top-left-radius: 0;
border-top-right-radius: 0;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;

border-right: 1px solid #999; border-bottom: 1px solid #999; border-left: 1px solid #999; border-top-style: none; border-top-color: #999;

}



/* blog page #blog-left { margin-right:400px; overflow:hidden; } */
#blog-wrap { float:left; width:100%; }
#blog-left { overflow:hidden; }
#blog-left h1 { display: block; clear: both; font-size: 24px; color: #24aafe; border-bottom: 1px dotted #666; padding: 5px 0 0 0; }

.post-auth { margin-top: 4px; }
.post-auth a { font-weight: 700; color: #24aafe; }
.post p { margin-top: 10px; text-align: justify; }
.post-links { margin-top: 5px; font-size: 13px; }

.comments { margin-top: 20px; min-height: 1px; overflow: visible; }

.com-nav { line-height: 30px; background-color: #333; color: #fff; padding: 0 12px; min-height: 30px;
-webkit-border-radius-topleft:8px;
-webkit-border-radius-topright:8px;
-webkit-border-radius-bottomleft:0;
-webkit-border-radius-bottomright:0;

-moz-border-radius-topleft: 8px;
-moz-border-radius-topright: 8px;
-moz-border-radius-bottomleft: 0;
-moz-border-radius-bottomright: 0;

border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;

}

.com-blk { background-color: #f0f0f0; border-right: 1px solid #dcdcdc; border-left: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; padding: 10px 15px 15px 15px; margin-bottom: 25px;
-webkit-border-radius-topleft:0;
-webkit-border-radius-topright:0;
-webkit-border-radius-bottomleft:8px;
-webkit-border-radius-bottomright:8px;

-moz-border-radius-topleft: 0;
-moz-border-radius-topright: 0;
-moz-border-radius-bottomleft: 8px;
-moz-border-radius-bottomright: 8px;

border-top-left-radius: 0;
border-top-right-radius: 0;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;

}

.forgot-btn {
    text-align: center;
    margin-top: -10px;
}

.com-title { float: left; }
.com-links, .a-com-links { float: right; width: 100%; text-align: center; }
.com-links a, a-com-links a { color: #24aafe; }

.a-com-links { width: 100px; text-align: right; }
.a-com-auth { float: left; padding-top: 4px; white-space: nowrap; }
.a-com-auth a { font-weight: 700; color: #24aafe; }
.com-text { padding: 8px 0 0 0; text-align: justify; display: block; overflow: visible; }

.a-comment { display: block; padding-bottom: 25px; min-height: 50px; overflow: visible; }
.ind1 { padding-left: 15px; }
.ind2 { padding-left: 30px; }
.ind3 { padding-left: 45px; }

/* #reply { clear: both; display: block; border-top: 1px dotted #666; padding-top: 20px; } */
#reply { clear: both; display: block; padding-top: 20px; }
#reply form textarea { width: 99.5%; }
#reply form input[type=submit] { font-weight: 400; display: block; width: 125px; height: 26px; line-height: 26px; color: #fff; text-decoration: none; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; background-color: #24aafe; margin: 6px 0 0 0; border: none; float: right;}


#blog-right {  float:left; width:250px; margin-left:-250px; }
#my-profile { float: left; width: 125px; text-align: center; }
#my-profile img { border: 1px solid #999; }

#my-calendar { float: right; width: 235px; }
#my-calendar a { text-decoration: none; }
#my-calendar h2, #my-calendar h3 { display: block; clear: both; font-size: 24px; color: #24aafe; border-bottom: 1px dotted #666; padding: 5px 0 0 0; }

#post-cal { margin: 10px 0; background-color: #d7d7d7; }
#post-cal tr th, #post-cal tr td { text-align: center; width: 14%; line-height: 25px; color: #24aafe; }
#post-cal tr td { color: #000; font-weight: 700; }
#post-cal tr td a { text-decoration: none; color: #000; }
#post-cal tr td a:hover { text-decoration: none; color: #f60; font-weight: 700; }
#post-cal tr td:hover { background-color: #d7d7d7; }
#post-cal tr td.no-day:hover { background-color: #fff; }
#post-cal tr td.no-day { color: #ccc; font-weight: 400;}
#post-cal tr th.cur-month { color: #fff; }

.left-arr a, .right-arr a { display: block; width: 17px; height:22px; background: url(../user_images/sprites.png) no-repeat; text-decoration: none; }
.left-arr a span, .right-arr a span { visibility: hidden; }
.left-arr a { background-position: -150px -125px; margin-left: 6px; }
.right-arr a { background-position: -172px -125px; margin-left: 9px; }

.month { background-color: #f60; }
.today { background-color: #6CF; }
.wht { background-color: #fff; }

.to-favs { display: block; width: 100px; height: 26px; line-height: 28px; color: #fff; text-decoration: none; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; background-color: #24aafe; margin: 4px 0 0 14px; }
.to-favs:hover { color: #000; }
.tags { margin:10px 0 0 0; color: #555;}
.sz1 { font-size: 9px; }
.sz2 { font-size: 10px; }
.sz3 { font-size: 11px; }
.sz4 { font-size: 13px; }
.sz5 { font-size: 14px; }
.sz6 { font-size: 15px; }
.sz7 { font-size: 16px; }
.sz8 { font-size: 17px; }
.sz9 { font-size: 18px; }


/* sign up - registration page */
.signup-wrap { display: block; overflow: visible; min-height: 1px; padding: 15px 20px 20px 20px; width: 890px; margin: 0 auto; -moz-border-radius:16px; -webkit-border-radius:16px; border-radius:16px; background: url(../user_images/transbg.png) repeat; border: 1px solid #d7d7d7; }
.sublogin-wrap { display: block; overflow: visible; min-height: 1px; padding: 15px 20px 20px 20px; width: 515px; margin: 0 auto; -moz-border-radius:16px; -webkit-border-radius:16px; border-radius:16px; background: url(../user_images/transbg.png) repeat; border: 1px solid #d7d7d7; }

div.signup-wrap h1 { display: block; clear: both; font-size: 24px; color: #24aafe; border-bottom: 1px dotted #666; padding: 5px 0 0 0; }

#iget { float: left; width: 320px; margin-top: 15px; }
#iget li { margin: 0 0 10px 0; font-size: 18px; background: url(../user_images/sprites.png) no-repeat -787px 7px; padding: 0 0 0 17px; }

#register { float: right; width: 515px; margin-top: 15px; border-left: 1px dotted #ccc; padding: 0 0 0 25px; }
#register p { text-align: center; padding: 0 0 8px 0; }
#register p span { font-size: 10px; }
#register input[type=text] { width: 200px; border: 1px solid #d7d7d7; line-height: 22px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; background-color: #f8f8f8; height: 22px; padding: 0 8px; }
#register label { display: inline-block; text-align: right; color: #333; padding: 0 10px 0 0; width: 180px; }
#register input[type=submit] { margin: 10px 0 0 195px; display: block; width: 200px; height: 32px; line-height: 32px; color: #fff; text-decoration: none; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; background-color: #24aafe; font-weight: 700; font-size: 16px; border: none; }

.sublogin { float: right; width: 515px; margin-top: 15px; padding: 0 0 0 25px; }
.sublogin p { text-align: center; padding: 0 0 8px 0; }
.sublogin p span { font-size: 10px; }
.sublogin input[type=text], input[type=password] { width: 200px; border: 1px solid #d7d7d7; line-height: 22px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; background-color: #f8f8f8; height: 22px; padding: 0 8px; }
.sublogin label { display: inline-block; text-align: right; color: #333; padding: 0 10px 0 0; width: 180px; }
.sublogin input[type=button]  { margin: 10px 0 0 195px; display: block; width: 200px; height: 32px; line-height: 32px; color: #fff; text-decoration: none; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; background-color: #24aafe; font-weight: 700; font-size: 16px; border: none; }
#submit-reg { margin: 20px auto; display: block; width: 200px; height: 32px; line-height: 32px; color: #fff; text-decoration: none; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; background-color: #24aafe; font-weight: 700; font-size: 16px; border: none; }

/* footer */
#footer { position:absolute; bottom:0px; width:100%; clear: both; padding: 20px 0px; height: 138px; min-width: 920px; background: url(../user_images/footbg.gif) repeat-x 0px 0px; }
#footer div.f-left h3 { font-size: 20px; color: #24aafe; padding: 0 0 0 10px; }
#footer div.f-left p { clear: both; font-size: 11px; color: #777; padding: 3px 0 0 10px; }
.f-left { float: left; width: 660px; padding-left:25px; }
h4.f-logo { float: right; text-indent: -5000px; width: 194px; height: 130px; background: url(../user_images/sprites.png) no-repeat -304px 0px; }
h4.f-logoru { float: right; text-indent: -5000px; width: 194px; height: 130px; background: url(../user_images/rulogos.png) no-repeat -214px 0px; padding-right:35px; }
#menu4 { width: 700px; padding: 10px 0 0 0; }
#menu4 li { float: left; font-size: 13px; line-height: 13px; padding: 0 10px; border-right: 1px dotted #666; margin: 0 0 8px 0;}
#menu4 li a { color: #fff; text-decoration: none; }
#menu4 li a:hover { color: #f78f00; text-decoration: none; }
#menu4 li.end { border-right: none; }

.send2 { font-size: 12px; font-weight:normal; text-align:center; display:block; color:#FF0000 }


.onlinecahtbutt { 
	background-color: #24AAFE;
    border: medium none;
    border-radius: 6px 6px 6px 6px;
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    font-weight: 700;
    height: 32px;
    line-height: 32px;
	margin-bottom:20px;
	text-align:center;
    text-decoration: none;
    width: 300px;
 }
.helpClickBlock {
	font-size:14px;
	font-weight:bold;
	color:#f0b101;
	}
.help .accordion h4 {
    background: url("../images/layout/icon-arrow-help.gif") no-repeat scroll 5px 5px transparent;
    color: #EF6400;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 7px;
    padding: 0 0 0 20px;
}
.help .accordion a.opentabs {
    color: #F78F00;
    font-size: 14px;
    font-weight: bold;
	text-decoration:none;
}
.help .accordion div.pane {
    display: none;
    padding: 0px 0px 0px 20px;
    font-size:13px;
    height:auto;
	}
.help .accordion h3 {
    font-size: 14px;
	color:#231f20;
	padding:5px 0px 10px 0px;
	
}
.help {
	padding-top:10px;
	padding-bottom:20px;
	}
.chatBoxHeader h2 {
	font-size:16px;
	color:#000;
	padding-bottom:5px;
	}
.feedback {
	
	}
.feedback td {
	padding-bottom:15px;
	padding-right:20px;
	}
.feedback label {
	display:block;
	font-size:12px;
	color:#000;
	font-weight:bold;

	}
.feedback .field {
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	border:solid 1px #24AAFE;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:8px;
	width:320px;
	font-size:15px;
	overflow:hidden;
	}
.feedback textarea.field {
	width:630px;
	height:85px;
	
	}
.db_mess {
	position:relative;
	}
.db_mess .iButton {
	margin:0px;
	border:none;
	cursor:pointer;
	background: url(../user_images/sprites.png) no-repeat;
	background-position:-108px -363px;
	 width:78px;
	 height:103px;
	 position:absolute;
	 right:0px;
	 z-index:1;
	}
.eng .db_mess .iButton {
	background: url(../user_images/sprites.png) no-repeat;
	background-position:-186px -363px;
	}
.next-page-link a {
	display:block;
	width:170px;
	height:170px;
	background-color:#f2f2f2;
	position:relative;
	}
#v-gal .next-page-link a {
	height:200px;
	}
.next-page-link a span {
	position:absolute;
	display:block;
	width:85px;
	height:32px;
	left:35px;
	top:69px;
	cursor:pointer;
	}
#v-gal .next-page-link a span {
	top:84px;
	}
.next-page-link a span.npl_ru {
	background: url(../user_images/sprites.png) no-repeat;
	background-position:0px -363px;
	}
.next-page-link a:hover span.npl_ru {
	background-position:0px -395px;
	}
.next-page-link a span.npl_eng {
	background: url(../user_images/sprites.png) no-repeat;
	background-position:0px -427px;
	left:30px;
	}
.next-page-link a:hover span.npl_eng {
	background-position:0px -459px;
	}
.with_what h1 {
	position:relative;
	display:inline;
	}
.with_what h1 a {
	color: #F78F00;
    font-size: 9px;
    font-weight: 400;
    text-decoration: underline;
	letter-spacing:normal;
	position:relative;
	top:-8px;
	}
.threecol .whatis {
	max-width:930px;
	width:auto;
	margin-bottom:15px;
	overflow:hidden;
	position:relative;
	}
.buorg {
    position:absolute;
    width:100%;
    top:0px;
    left:0px;
    border-bottom:1px solid #A29330;
    background:#FDF2AB no-repeat 1em 0.55em url(http://browser-update.org/img/dialog-warning.gif);\
    text-align:left;
    cursor:pointer;
    font-family: Arial,Helvetica,sans-serif; color:#000;
    font-size: 12px;
}
.buorg div {
    padding:5px 36px 5px 40px;
}
.buorg a {
    color:#E25600;
}
#buorgclose {
    position: absolute;
    right: .5em;
    top:.2em;
    height: 20px;
    width: 12px;
    font-weight: bold;
    font-size:14px;
    padding:0;
}
#oldopera-warning {
	display:none;
	}
a.g-off-link {
    background: #ccc;
    color: #000;
    font-size: 13px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-variant: normal;
    padding: 0;
    border-radius: 7px;
    display: block;
    float: left;
    width: 132px;
    text-align: center;
}
a.g-vid-link {
    background: #390;
    color: #fff;
    font-size: 13px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-variant: normal;
    padding: 0;
    border-radius: 7px;
    display: block;
    float: left;
    width: 132px;
    text-align: center;
}
a.g-mem-link {
    background: #24aafe;
    color: #fff;
    font-size: 13px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-variant: normal;
    padding: 0;
    border-radius: 7px;
    display: block;
    float: left;
    width: 132px;
    text-align: center;
}
a.g-pri-link {
    background: #f78f00;
    color: #fff;
    font-size: 13px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-variant: normal;
    padding: 0;
    border-radius: 7px;
    display: block;
    float: left;
    width: 132px;
    text-align: center;
}
a.g-dis-link {
    background: #f70000;
    color: #fff;
    font-size: 13px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-variant: normal;
    padding: 0;
    border-radius: 7px;
    display: block;
    float: left;
    width: 132px;
    text-align: center;
}
.l1 > a {
    font-size: 11px;
    color: #000;
    text-decoration: none;
    cursor: default;
}

@media all and (resolution = 0dpi) {
#oldopera-warning {
	display:block;
	}
.old_br {
	font-size: 13px;
	line-height: 16px;
	z-index: 19999;
	color: #fff;
	background: url(../user_images/ie6-warning-bg.gif) repeat;
	width: 100%;
	padding: 14px 0;
	font-family: Arial, Helvetica, FreeSans, sans-serif;
	}
.old_br .col-grid-838 {
	padding-right: 30px;
	padding-left:20px;
	overflow:hidden;
	position: relative;
	}
.old_br ul li {
	float: left;
	padding: 4px 10px 0;
	background: url(../user_images/ie6-warning-bg-li.gif) no-repeat 100% 100%;
	line-height: normal;
	cursor: pointer;
	}
.old_br ul li.first {
	padding-left: 0 !important;
	}
.old_br ul li a {
	float: left;
	color: #fff600;
	cursor: pointer;
	}
.ob_btn {
	position: absolute; 
	top: 10pt; 
	right: 10pt; 
	width: 11px; 
	height: 11px;
	position:absolute;
	cursor:pointer;
	top:10px;
	right:20px;
	font-size:0px;
	display:block;
	background: url(../user_images/ie6_warning-close.gif) no-repeat;
	}
}
.nodisplay, .hidden{
	display:none !important
	}
a.action-button{display:inline-block;height:24px;margin:10px;padding:0 12px;border-width:0;-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;border-radius:3px;background-color:#ff0047;color:#fff;font-family:Arial, Helvetica, FreeSans, sans-serif;font-size:12px;line-height:24px;text-decoration:none;cursor:pointer}
.warning_popup {
 padding:15px;
 }
.warning_popup strong {
 font-weight: normal;
 }
.warning_popup .bigger {
 line-height:50px;
 }
.warning_popup a {
 background:#f78f00;
 padding:5px 35px;
 font-size:16px;
 }
.warning_popup a.ab_no_18 {
 background:#24aafe;
 }
.warning_popup a:hover {
 background:#333;
 }

/* стили для заглушки чата */

#flashContent.no-flesh {
    height: 670px;
}

.flash-cap-box {
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;

    background: url(/user_images/icn_flash-cap.jpg) no-repeat 0 0 #000;
    -webkit-background-size: cover;
    background-size: cover;
}
.flash-cap-box_inner {
    width: 60%;
    margin: 4% auto 0;
}

.fc_icn {
    width: 100px;
    height: 100px;
    background: url(/user_images/icn_flash-cap.png) no-repeat 0 0;
    display: block;
    margin: 0 auto 4%;
}

.flash-cap-box h3 {
    font-weight: bold;
    text-align: center;
    color: #fff;
    font-size: 36px;
    margin-bottom: 4%;
}

.flash-cap-box p {
    color: #d9d9d9;
    font-size: 28px;
    text-align: center;
    margin-bottom: 4%;
}

.fc_download-btn {
    display: inline-block;
    background: url(/user_images/btn_downl_apple.png);
    -webkit-background-size: 100%;
    background-size: 100%;
    text-indent: -9999px;
    outline: none;
    width: 383px;
    height: 123px;
    margin-top: 1%;
}

.cap-box-gplay{
    display: none;
}

.cap-box-apple{
    display: none;
}

.cap-box-gplay .fc_download-btn{
    background: url(/user_images/btn_downl_gplay.png);
    height: 125px;
}
