.component.section_bi_video_box {
  text-align: center;
  background: #ffffff url("/_fileserver/time20160222111837/item/1109218") center 77% no-repeat;
}
@media only screen and (min-width: 768px) and (max-width: 830px) {
  .component.section_bi_video_box {
    background-size: 755px;
  }
  .component.section_bi_video_box .box_video div.box_inner {
    top: 50%;
  }
  .component.section_bi_video_box .box_video div.box_inner #video_iframe {
    height: 248px;
    width: 460px;
  }
}
@media only screen and (max-width: 767px) {
  .component.section_bi_video_box {
    background-image: none;
  }
}
.component.section_bi_video_box .box_video {
  min-height: 540px;
  display: block;
  width: 100%;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .component.section_bi_video_box .box_video {
    min-height: 0;
  }
}
.component.section_bi_video_box .box_video .box_inner {
  padding-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .component.section_bi_video_box .box_video .box_inner {
    position: absolute;
    top: 48%;
    -webkit-transform: translate3D(-50%, -50%, 0);
    -moz-transform: translate3D(-50%, -50%, 0);
    transform: translate3D(-50%, -50%, 0);
    left: 50%;
    background-color: black;
    padding: 25px 2px 24px;
  }
}
@media only screen and (max-width: 767px) {
  .component.section_bi_video_box .box_video .videoplug img {
    border: 1px solid #ddd;
    margin-top: 20px;
    max-width: 100%;
  }
  .component.section_bi_video_box .box_video .videoplug #video_iframe {
    width: 320px !important;
    height: 179px !important;
  }
}
.component.section_bi_video_box .box_video #plug_video {
  cursor: pointer;
  display: none;
}
@media only screen and (max-width: 767px) {
  .component.section_bi_video_box .box_video #plug_video {
    width: 100% !important;
    height: auto !important;
  }
}
/**
* Breakpoints
* Funkcje
**/
.list_of_items.list_of_items_lines {
  margin-left: -15px;
  margin-right: -15px;
}
@media only screen and (min-width: 768px) {
  .list_of_items.list_of_items_lines > .wrapper {
    display: -ms-flexbox;
    display: inline-flex;
    -ms-flex-pack: justify;
    width: 100%;
  }
  .list_of_items.list_of_items_lines > .wrapper:after {
    content: "";
    display: table;
    clear: both;
  }
  .list_of_items.list_of_items_lines > .wrapper > .item {
    float: left;
    padding: 0 15px;
    width: 100%;
  }
  .list_of_items.list_of_items_lines > .wrapper.items_2 > .item {
    width: 50%;
    display: flex;
  }
  .list_of_items.list_of_items_lines > .wrapper.items_3 > .item {
    width: 33.33333333%;
    display: flex;
  }
  .list_of_items.list_of_items_lines > .wrapper.items_4 > .item {
    width: 25%;
    display: flex;
  }
}
@media only screen and (max-width: 767px) {
  .list_of_items.list_of_items_lines > .wrapper > .item {
    padding: 0.8335em 15px;
  }
}
@media only screen and (min-width: 768px) {
  .edge_left.list_of_items.list_of_items_lines > .wrapper > .item:first-child > .head,
  .edge_left.list_of_items.list_of_items_lines > .wrapper > .item:first-child > .body {
    padding-left: 0;
  }
}
.section_bi_poznaj_ing > div {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.section_bi_poznaj_ing .bg_gray_light {
  background-color: #f5f5f5 !important;
}
.section_bi_poznaj_ing .list_of_items.list_of_items_lines .item .body {
  background-color: white;
  border: 1px solid #d6d6d6;
  border-bottom: 3px solid rgba(135, 135, 139, 0.4);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
}
.section_bi_poznaj_ing .list_of_items.list_of_items_lines .item .body img {
  width: 100%;
}
.section_bi_poznaj_ing .list_of_items.list_of_items_lines .item .body .content {
  padding: 30px 30px;
}
.section_bi_poznaj_ing.text-left .list_of_items.list_of_items_lines .item .body {
  text-align: left;
}
@media only screen and (min-width: 768px) {
  .colCenter {
    padding: 3em 0;
  }
  .colCenter.content_carousel .owl-item > DIV {
    display: table-cell;
    vertical-align: middle;
    transform: translateX(-1px);
  }
}
@media only screen and (max-width: 480px) {
  .colCenter.content_carousel .owl-item > DIV {
    border-bottom: 0 none;
  }
}
.layout_section.section_bi_zacznij {
  background: url("/_file/time20160329103204/bankowosc-internetowa/banka2.png") no-repeat scroll right center transparent;
}
@media only screen and (max-width: 1600px) {
  .layout_section.section_bi_zacznij {
    background-size: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .layout_section.section_bi_zacznij {
    background-image: none;
  }
}
@media only screen and (min-width: 768px) {
  .layout_section.section_bi_zacznij .bubble {
    display: flex;
  }
  .layout_section.section_bi_zacznij .bubble > div:first-child {
    display: flex;
  }
  .layout_section.section_bi_zacznij .bubble > div:first-child > div {
    display: flex;
    align-self: center;
  }
}
/*** INGRWD-2873 ***/
.component.intro_banner .intro_banner_inner h2 {
  font-weight: 300;
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .adocean_banner_carousel .owl-item .box_img .content_wrapper_img .image {
    height: 355px;
  }
}

