#content_wrapper .layout_row#korzysci {
  margin: 0;
  background-position: left bottom !important;
  border-top: 1px solid #d6d6d6;
  /*background-size: auto;*/
}
#content_wrapper .layout_row#korzysci:before {
  background-color: transparent;
}
@media only screen and (min-width: 768px) {
  #korzysci {
    min-height: 530px;
  }
}
@media only screen and (max-width: 767px) {
  .layout_section.header_section.business:before {
    display: none;
  }
  #korzysci {
    background-color: #f6f7f9;
    padding-top: 2em !important;
  }
  .bank-in-every-device .mobile-column .download-section,
  .bank-in-every-device div.download-links {
    margin-left: 0;
  }
}
.layout_row.benefits_credit_list {
  border-top: 0 none;
}
@media only screen and (max-width: 480px) {
  .obszary_quot_expandable .content_area .face_img img {
    width: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: initial;
  }
}
.list_of_related_pages > UL.columns_3 > li:nth-child(3n+1) {
  margin-top: 0;
}
/*** Wariacja komponentu bez borderu ***/
.content_carousel.border_disabled .owl-item > div {
  border-left: 0;
}
/*** Wariant dla tabeli z indentami ***/
.row_indent td:first-child {
  padding-left: 35px;
}
.row_indent--wide td:first-child {
  padding-left: 70px;
}
/*** KJ - INGRWD-3518 List of items with icon - nie dodane do repo***/
.list_of_items.with_icons .item {
  margin-bottom: 1em;
}
.list_of_items.with_icons .item:after {
  content: "";
  display: table;
  clear: both;
}
.list_of_items.with_icons .icon-box {
  float: left;
  width: 90px;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .list_of_items.with_icons .icon-box {
    width: 55px;
    text-align: left;
  }
}
.list_of_items.with_icons .text-box {
  float: left;
  width: calc(100% - 90px);
}
@media only screen and (max-width: 480px) {
  .list_of_items.with_icons .text-box {
    width: calc(100% - 55px);
  }
}
.box-default {
  background: #fff;
  padding: 24px;
  border: 1px solid #d6d6d6;
  border-bottom: 3px solid rgba(135, 135, 139, 0.4);
  margin-bottom: 1em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.box-default:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (max-width: 767px) {
  .box-default {
    margin-bottom: 0;
  }
  .comp_no_space_bottom .box-default {
    margin-bottom: 2.5em;
  }
}
.box-default .icon_box {
  float: left;
  width: 90px;
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
}
@media only screen and (max-width: 480px) {
  .box-default .icon_box {
    width: 64px;
    padding-right: 12px;
  }
}
.box-default .text_box {
  float: right;
  width: calc(100% - 90px);
}
@media only screen and (max-width: 480px) {
  .box-default .text_box {
    width: calc(100% - 64px);
  }
}
.box-default.warning {
  background: #ffffff url("/_fileserver/time20160518132251/item/1112350") 40px 23px no-repeat;
  padding-left: 110px;
}
.box-default.warning .title {
  display: inline-block;
  padding-bottom: 1em;
}
@media only screen and (max-width: 480px) {
  .box-default.warning {
    padding-left: 84px;
    background-position: 28px 23px;
  }
}
.component.separator-top {
  border-top: 1px solid #d6d6d6;
  padding-top: 20px !important;
}
.component.content_carousel.owl-imageItems .owl-item > DIV {
  border-left: none;
}
.component.content_carousel.owl-imageItems .owl-item > DIV .owl-inside-item {
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .component.content_carousel.owl-imageItems .owl-item > DIV {
    border-bottom: none;
  }
}
/** KW - brak w repo - 3501 **/
.value3 {
  font-size: 3em;
}
.clearing-margin {
  margin: 0 !important;
}
.no_space_top {
  padding-top: 0 !important;
}
.comp_space_top {
  padding-top: 10px !important;
}
.comp_space_top.half {
  padding-top: 5px !important;
}
.list_of_related_pages.text-left .clickable,
.block_how_to_start.text-left .clickable {
  text-align: left;
}
.list_of_related_pages.text-left > .wrapper.digits .item,
.block_how_to_start.text-left > .wrapper.digits .item {
  text-align: left;
}
.list_of_related_pages.text-left > .wrapper.digits .item .step_number,
.block_how_to_start.text-left > .wrapper.digits .item .step_number {
  text-align: left;
}
.list_of_related_pages.small_steps .wrapper.digits .item .step_number div,
.block_how_to_start.small_steps .wrapper.digits .item .step_number div {
  font-size: 1em;
}
p small {
  font-size: 87%;
}
.font-bold {
  font-weight: 700;
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .adocean_banner_carousel .owl-item .box_img .content_wrapper_img .image {
    height: 355px;
  }
}
/** KW - brak w repo 3555 **/
.layout_row .layout_column .teaser--steps .content_graphics.img_left {
  padding-top: 0;
}
@media (min-width: 768px) {
  .teaser.teaser--steps.teaser-border-right {
    border-right: 1px solid #d9d9d9;
  }
}
.teaser.teaser--steps .content_graphics {
  padding: 0;
}
.teaser.teaser--steps h2 {
  margin-top: 0;
  margin-bottom: 0!important;
  font-weight: 300;
  line-height: 1.3;
  width: 78%;
  padding-bottom: .5em;
  font-size: 1.5em;
}
@media only screen and (min-width: 768px) and (max-width: 960px) {
  .teaser.teaser--steps h2 {
    font-size: 1.425em;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .teaser.teaser--steps h2 {
    font-size: 1.35em;
  }
}
@media only screen and (max-width: 480px) {
  .teaser.teaser--steps h2 {
    font-size: 1.275em;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .teaser.teaser--steps h2 {
    float: left;
    padding-left: 0;
  }
}
.teaser.teaser--steps .img_left.content_graphics > .img {
  width: 22%;
}
.teaser.teaser--steps .img_left.content_graphics > .content {
  width: 78%;
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .teaser.teaser--steps .img_left.content_graphics > .content {
    float: left;
    width: 100%;
    padding-left: 0;
  }
}
.teaser.teaser--steps .img_left.content_graphics > .content p {
  margin-bottom: 0;
}
/*** KJ - INGRWD-3539 - nie ma w repo ***/
/*.component.teaser_tiles div.buttons a, .component.teaser_tiles div.buttons span { margin: 0; }*/
@media only screen and (min-width: 1170px) {
  .teaser_tiles_1.konto_direct .description {
    height: 315px !important;
  }
}
.teaser_tiles_2.konto_direct .description {
  height: auto !important;
}
/*** KW - INGRWD-3563 - brak w repo ***/
.content_carousel.content_carousel--smallSpace .owl-item > div {
  padding-left: 20px;
  padding-right: 20px;
}
/** ED - INGRWD-3710 - nie ma w repo **/
@media only screen and (min-width: 481px) {
  .component.teaser_tiles .imageLeftHalfLayout,
  .component.teaser_tiles .imageLeftThirdLayout {
    display: -webkit-flex;
    -webkit-flex-direction: row;
  }
  .component.teaser_tiles .imageRightHalfLayout,
  .component.teaser_tiles .imageRightThirdLayout {
    display: -webkit-flex;
    -webkit-flex-direction: row-reverse;
  }
}
@media only screen and (min-width: 481px) {
  .component.list_of_tiles.synchronized .teaser_tiles_inner {
    display: -webkit-flex;
    overflow: hidden;
  }
}
/** ED - INGRWD-3549 - brak w repo **/
.component.teaser_tiles .tile_content {
  position: static;
}
.component.teaser_tiles .teaser_tiles_inner {
  position: relative;
}
@media only screen and (min-width: 481px) {
  .component.teaser_tiles .teaser_tiles_inner.fixed-to-bottom .imageLeftHalfLayout div.buttons {
    left: calc(50% - -24px);
  }
  .component.teaser_tiles .teaser_tiles_inner.fixed-to-bottom .imageRightHalfLayout div.buttons {
    right: calc(50% - -24px);
  }
  .component.teaser_tiles .teaser_tiles_inner.fixed-to-bottom .imageLeftThirdLayout div.buttons {
    left: calc(33% - -24px);
  }
  .component.teaser_tiles .teaser_tiles_inner.fixed-to-bottom .imageRightThirdLayout div.buttons {
    right: calc(33% - -24px);
  }
}
.component.teaser_tiles div.buttons a.link,
.component.teaser_tiles div.buttons span.link {
  z-index: 1;
}
/** KW - INGRWD-3845 (brak w repo) **/
.banner_motive h1 {
  color: #ff6200;
}
.list_of_releated_pages__smaller.list_of_related_pages > UL > LI > DIV.image IMG {
  width: auto;
}
.list_of_releated_pages__smaller.list_of_related_pages > UL > LI > DIV.text.with-image {
  margin-left: 90px;
}
.list_of_releated_pages__smaller h3 {
  font-size: 20px;
  color: #ff6200;
  font-weight: 600;
}
@media only screen and (min-width: 1170px) {
  .list_of_releated_pages__smaller h3 {
    padding-right: 65px;
  }
}
/** KJ **/
@media only screen and (min-width: 768px) {
  .lp-insurance-calculator .content_area {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}
.lp-insurance-calculator .content_area ul.thicks > li {
  width: 100%;
  padding-left: 55px;
}
.lp-insurance-calculator .content_area ul.thicks > li span {
  font-size: 18px;
}
.lp-insurance-calculator .content_area ul.thicks > li:before {
  content: url('/_file/time20160808131550/RWD_layout/check_li_big.png');
}
.lp-insurance-calculator .white-col {
  width: 100%;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  background: #fff;
  padding: 30px 25px;
}
@media only screen and (min-width: 768px) {
  .lp-insurance-calculator .white-col {
    width: 55%;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
  }
}
.lp-insurance-calculator .orange-col {
  width: 100%;
  background: #f60;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}
@media only screen and (min-width: 768px) {
  .lp-insurance-calculator .orange-col {
    width: 45%;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
  }
}
/** KW - INGRWD-3845 (brak w repo) **/
.banner_motive h1 {
  color: #ff6200;
}
.list_of_releated_pages__smaller.list_of_related_pages > UL > LI > DIV.image IMG {
  width: auto;
}
.list_of_releated_pages__smaller.list_of_related_pages > UL > LI > DIV.text.with-image {
  margin-left: 90px;
}
.list_of_releated_pages__smaller h3 {
  font-size: 20px;
  color: #ff6200;
  font-weight: 600;
}
@media only screen and (min-width: 1170px) {
  .list_of_releated_pages__smaller h3 {
    padding-right: 65px;
  }
}
.list_of_related_pages.hidden-headers .note {
  margin: 0;
}
.list_of_related_pages.hidden-headers h3 {
  display: none;
}
.list_of_related_pages.hidden-headers > ul > li > DIV.image {
  width: 160px;
  text-align: center;
}
.list_of_related_pages.hidden-headers > ul > li > DIV.image IMG {
  width: auto;
}
.list_of_related_pages.hidden-headers > ul > li > DIV.text.width-image {
  margin-left: 150px;
}
.news_carousel_large .header_news a {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #d6d6d6;
}
@media only screen and (max-width: 767px) {
  .xs-sm-buttons-equal > A.primary,
  .xs-sm-buttons-equal > SPAN.primary {
    background-color: #ff6200;
  }
}
/** ED - INGRWD-3898 - w repo **/
.component.header .header {
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .component.header .header .navi_panel {
    margin-bottom: -5px;
  }
}
/** ED - INGRWD-3879 - w repo **/
.button,
.button_small_primary {
  color: #ff6200;
}
.button:hover {
  color: #333;
}
.button:visited {
  color: #ff6200;
}
.button:visited:hover {
  color: #333;
}
.button:visited.primary {
  color: #fff;
}
.button:visited.primary:hover {
  color: #333;
}
.button.primary.border-white {
  border: 1px solid #FFF;
}
.graybox {
  padding: 2em;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: #f0f0f0;
  border-bottom: 2px solid #d9d9d9;
}
/** PM - INGRWD-3966 **/
.news_content .fb_like_button {
  display: none;
}
.adocean_banner_carousel .advert_desc .desc_box .tab_wrapper .content_wrapper .headline p {
  line-height: 1.3em;
}
.component.adviser_wallets .adviser_wallets_tabs {
  justify-content: start !important;
}
.component.adviser_wallets .adviser_wallets_tabs div[class^="adviser_wallets_tab"] {
  padding: 8px 20px;
}
.adviser_wallets_tabs .adviser_wallets_tab_3,
.adviser_wallets_tabs .adviser_wallets_tab_6 {
  display: none !important;
}
/** nowe naglowki **/
@media only screen and (min-width: 768px) {
  #wrapper .component.header .header .login_panel .login_options_layer {
    width: 310px !important;
  }
}
/** INGRWD-4028 **/
.callme_button:before {
  background-color: #ff6200;
  border: 1px solid #ff6200;
  border-radius: 50%;
}
/** INGRWD-4056 **/
@media only screen and (min-width: 768px) {
  .footers_box .callme_button {
    display: none;
  }
}
/* INGRWD-4184 */
.search_results .gsc-control-cse .gs-result .gs-title *,
.search_results .gsc-control-cse .gs-result .gs-title {
  line-height: 1.5;
}

