.header .top_part .right_part .login_panel .box_inner A.login_partner {
background: url('/_fileserver/time20140804084814/item/1101441') #fff no-repeat;
display: inline-block;
width: 146px;
height: 30px;
}
.header .top_part .right_part .login_panel .box_inner A.login_partner SPAN {
display: none;
}
@media only screen and (max-width: 1050px) and (min-width: 481px) {
.header .top_part .right_part .login_panel .box_inner A.login_partner {
display: none;
}
}
.header .header_small .menu_panel .on_line_login .login_partner {
background: url('/_fileserver/time20140804084814/item/1101441') #fff no-repeat 0 60%;
display: inline-block;
width: 75%;
height: 30px;
display: table-cell;
border: 1px solid #eaeaea;
}
.header .header_small .menu_panel .on_line_login .login_partner SPAN {
display: none;
}
.header_box .header_large .navi_panel .partner_descriptor {
color: #006;
font-size: 22px;
padding-top: 15px;
font-family: Arial;
display: inline-block;
}
.header_box .header_large .navi_panel .partner_descriptor .orange {
color: #ff6600;
}