@charset "utf-8";
@import url(../parallax_mouseinteraction.css);	
@font-face {    
font-family: "samim";    
src: url("../fonts/samim.eot");    
src: url("../fonts/samim.eot#iefix") format("embedded-opentype"),    
url("../fonts/samim.woff") format("woff"),    
url("../fonts/samim.ttf") format("truetype");    
font-weight: normal;    
font-style: normal;}
body ,html{  font-family: 'samim', 'sans-serif';  background: #ffffff;overflow-x:hidden;width:100%;margin:0px; padding:0px;}
.loading { background: #eee url(../img/loadingb.gif) no-repeat 50% 50%; }
*:focus,a:focus{  outline: 0;border:0px;}
a, a:hover, a:focus {cursor:pointer;	text-decoration: none;	transition: all 0.5s ease;	-o-transition: all 0.5s ease;	-ms-transition: all 0.5s ease;	-moz-transition: all 0.5s ease;	-webkit-transition: all 0.5s ease;}
a{color:#C51A1B;}
a:hover{color:#ccc}
ul { list-style: none; }

/*------------------------------- Navbar -------------------------------*/
nav#navigation.navbar.navbar-default.navbar-fixed-top.nav-main  ul#tour-main-nav{margin-top:15px;}
nav#navigation.navbar.navbar-default.navbar-fixed-top.nav-main.fixed  ul#tour-main-nav{margin-top:6px;}
.nav-main { background-color: rgba(255, 255, 255, 0.9);padding-bottom:0px; }
nav#navigation.navbar.navbar-default.navbar-fixed-top.nav-main.fixed.stucked{padding-bottom:0px;}
.nav-main .navbar-nav > li > a {font-size:15px;	color: #717171;	line-height: 40px; padding-top: 25px;}
.nav-main .navbar-nav  li:after {	content: '|';	position: absolute;	left: 0;	color: #ccc;font-size:12px;top:22px;}
nav#navigation.navbar.navbar-default.navbar-fixed-top.nav-main.fixed.stucked   li:after{top:7px;}
.nav-main .navbar-nav > li:last-child:after {	display: none;}
.navbar-brand { padding: 0 15px; margin-left: 40px !important; }
.navbar-brand > img {	width: 152px;	transition: all 0.5s ease;	-o-transition: all 0.5s ease;	-ms-transition: all 0.5s ease;	-moz-transition: all 0.5s ease;	-webkit-transition: all 0.5s ease;}
.navbar-left .sm-buttons,.navbar-left .sm-links {margin-top:3px;	transition: all 0.5s ease;	-o-transition: all 0.5s ease;	-ms-transition: all 0.5s ease;	-moz-transition: all 0.5s ease;	-webkit-transition: all 0.5s ease;}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {	background-color: transparent !important;	color: #e24249 !important;}
.navbar-left .sm-buttons > a {    font-size: 11px;    margin: 0;    padding: 6px;    display: inline-block;    width: 100px;}
.navbar-left .sm-buttons > a.btn-danger {	 }
.navbar-left .sm-links > a:last-child {    border: 0px;    font-family: tahoma;}
.navbar-left .sm-links > a {    font-size: 11px;    margin: 10px 0 10px;    padding: 0 8px;    color: #787878;    display: inline-block;    text-align: center;    height: 13px;    border-left: 0px solid #d2d2d2;}
.navbar-left .sm-links > a:hover { color: #e24249; }
.navbar-left .sm-links > a > i {    padding-left: 5px;    font-size: 12px;}
/*-------------- Stucked ---------------*/
.nav-main.stucked .navbar-nav > li > a { line-height: 38px; }
.nav-main.stucked .navbar-brand > img { width: 100px; }
.nav-main.stucked .navbar-left .sm-links { margin-top: -10px; opacity: 0; }
.nav-main.stucked .navbar-left .sm-links > a { margin:5px 0px; }
.nav-main.stucked .navbar-left .sm-buttons { margin-top: 0px;  }
.nav-main.stucked .navbar-left .sm-buttons > a  { padding:6px;  }
.nav-main.stucked .navbar-left .sm-buttons > a.btn-danger   {  }
.nav-main.stucked .navbar-nav > li > a{padding-top:19px;}
.nav-main.stucked .navbar-nav > li > a { line-height: 24px; }
/*------------------------------- MegaMenu -----------------------------*/
.mega-dropdown-menu { animation: fadeIn 0.5s; }
.mega-dropdown-menu .parts { padding-right: 0; }
.mega-dropdown-menu .parts   ul {	padding: 0;	line-height: 2;	color: #b2b2b2;}
.mega-dropdown-menu hr { border-color: #ccc; }
.mega-dropdown-menu .parts   ul a {	color: #b2b2b2;	width: 100%;	display: inline-block;}
.mega-dropdown-menu .parts   ul a:hover { color: #fecc00; }
.mega-dropdown-menu   li { padding: 0 10px; }
.mega-dropdown-menu .parts li { position: relative; }
.mega-dropdown-menu .parts#vt li { position: relative; float:right; width:33%; display:inline-block;margin-bottom:15px;}
.mega-dropdown-menu .parts#vt li img{padding-left:5px; -webkit-filter: grayscale(100%); filter: grayscale(100%); transition: all 0.5s ease;}
.mega-dropdown-menu .parts#vt li:hover img{-webkit-filter: hue-rotate(220deg); /* Safari 6.0 - 9.0 */filter: hue-rotate(220deg);}
.mega-dropdown-menu .parts li:before {	content: '\f104';	position: absolute;	font-size: 20px;	color: #fecc00;	right: -13px;	top: -4px;	font-family: 'FontAwesome';	opacity: 0;}
.mega-dropdown-menu .parts li:hover:before { opacity: 1; }
.mega-dropdown-menu   li   span.t {	color: #fecc00;	font-size: 15px;padding-top:20px;}
.mega-dropdown-menu   li   hr {background:#a0a0a0;height:1px;border:0px;}
.mega-dropdown-menu   li   span   i {	font-size: 20px;	margin-left: 5px;	vertical-align: middle;}
.nav-main .navbar-nav li a:hover { color: #e24249; }
.mega-dropdown {  position: static !important;  /*width: 100%;*/}
.mega-dropdown-menu {  margin: 20px 0px;  width: 100%;  box-shadow: none;  -webkit-box-shadow: none;  border: none;  border-radius: 0;  text-align: right;  background-color: rgba(37, 37, 37, 1);  border-bottom:0px solid #fecc00;}

.mega-dropdown-menu > li > ul {  padding: 0;  margin: 0;}
.mega-dropdown-menu > li > ul > li {  list-style: none;}
.mega-dropdown-menu > li > ul > li > a {  display: block;  padding: 3px 20px;  clear: both;  font-weight: normal;  line-height: 1.428571429;  color: #eee;  white-space: normal;}
ul.nav.navbar-nav{padding-right:20px;}
 ul.nav.navbar-nav li.dropdown.mega-dropdown a.dropdown-toggle{background:url(../images/ard.png) 15px 45px no-repeat;padding-left:30px;}
 .nav-main.stucked ul.nav.navbar-nav li.dropdown.mega-dropdown a.dropdown-toggle{background:url(../images/ard.png) 15px 30px no-repeat;padding-left:30px;}
 ul.nav.navbar-nav li.dropdown.mega-dropdown.open a.dropdown-toggle{background:url(../images/aru.png) 15px  45px no-repeat;padding-left:30px;}
.nav-main.stucked  ul.nav.navbar-nav li.dropdown.mega-dropdown.open a.dropdown-toggle{background:url(../images/aru.png) 15px  30px no-repeat;padding-left:30px;}
.carousel-control { width: 30px; height: 30px;top: -35px;}
.left.carousel-control { right: auto; left: 0px;}
.right.carousel-control { right: auto; left: 30px;}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right { font-size: 12px;  background-color: #fff; line-height: 30px; text-shadow: none;  color: #333; border: 1px solid #ddd;}



#newadslcitycode{width:150px;}
#newadsltelnum{width:250px;}
nav.nav-secondary {display:none;top:79px;  background-color: rgba(37, 37, 37, 1);overflow: hidden;z-index:999999;width:100%;position: absolute;text-align:center;box-shadow: 0 3px 6px -2px #6d6d6d;}
.nav-sections { text-align: center;}
.nav-sections > li {display: inline-block;list-style: inside none none;padding: 0 0 0 15px;}
/* .nav-sections > li:first-child { margin: 0;} */
.nav-sections a { color: #616161; display: block; position: relative;}
.nav.navbar-nav.nav-sections li a.selected {color: #da1f26; background:url(../images/aru.png) left center no-repeat;}
.nav-sections a.selected::before { border-bottom: 6px solid #252525;  border-left: 6px solid transparent;border-right: 6px solid transparent;
bottom: 0;  content: ""; display: block; height: 0;left: 46%;margin: 0 -6px 0 0;position: absolute;text-indent: -9999px;width: 0;}
.nav.navbar-nav.nav-sections li:hover a { color: #da1f26;}
.nav.navbar-nav.nav-sections li a { background:url(../images/ard.png) left center no-repeat;padding:9px 15px 15px 15px;}
.nav.navbar-nav.nav-sections.fixed li a { background:url(../images/ard.png) left center no-repeat;padding:5px 15px 5px 15px;}
nav.nav-secondary .sub_section ul{padding:0px 0 20px 0;}
nav#sub_navigation.nav-secondary.fixed{position:fixed;top:54px; z-index:99999999999999;width:100%}
.slick-slider { overflow: hidden;margin:0px;padding:0px;}
#nbpedrftsguidrftwmcs{background:#FFF;border-radius: 5px; padding: 8px;}
.modal-body table td{float:left}
/*------------------------------- Slider -------------------------------*/
.top-slider { margin-top: -3px; }.anim-slider {    border-top: 1px solid #ccc;    position: relative;    overflow: hidden;    text-align: center;    top: 0;    left: 0;    width: 100%;    height: 600px;    padding: 0;    margin: 0;}
.anim-slide div { width: 100%; height: 100%; }
.anim-slider .anim-arrows-next,.anim-slider .anim-arrows-prev {	
position: absolute;	z-index: 1000;	top: 50%;	opacity: 0;	width: 50px;	height: 50px;	border-top: 2px solid #a6a6a6;	border-right: 2px solid #a6a6a6;	cursor: pointer;	transition: all 0.5s ease;	-o-transition: all 0.5s ease;	-ms-transition: all 0.5s ease;	-moz-transition: all 0.5s ease;	-webkit-transition: all 0.5s ease;}
.anim-slider:hover .anim-arrows-next,.anim-slider:hover .anim-arrows-prev { opacity: 1; }
.anim-slider .anim-arrows-next { left: 40px; transform: translateY(-50%) rotate(-135deg); }
.anim-slider .anim-arrows-prev { right: 40px; transform: translateY(-50%) rotate(45deg); }
.anim-slide {    position: absolute;    width: 100%;    height: 100%;    top: 0;    left: 0;}
.anim-slide > * {    position: absolute;    opacity: 0;}
.anim-slide-this { z-index: 1000; } .anim-slide-this * { opacity: 1; }
.anim-dots {    width: 100%;    position: absolute;    text-align: center;    left: 0px;    bottom: 0;    padding: 10px;    z-index: 1000;}
.anim-dots span {    background-color: #fff;    display: inline-block;    border-radius: 50%;    width: 10px;    height: 10px;    margin: 3px 8px;    cursor: pointer;    box-shadow: 1px 1px 1px rgba(0,0,0,0.3) inset, 0px 0px 1px rgba(0,0,0,0.7);}
.anim-dots span.anim-dots-this {    background-color: #c32429;}
.animated {    -webkit-animation-duration: 1s;    animation-duration: 1s;    -webkit-animation-fill-mode: both;    animation-fill-mode: both;}
.animated.infinite {    -webkit-animation-iteration-count: infinite;    animation-iteration-count: infinite;}
.animated.hinge {    -webkit-animation-duration: 2s;    animation-duration: 2s;}
.delay1s{-webkit-animation-delay:1s;animation-delay:1s;}
.navbar-header{min-width:220px;}
/*------------------------------- Features -----------------------------*/
.features-sec { text-align: center; padding: 30px 0; }
.features-sec  .feature {	width:100%;	display: inline-block;    margin: 40px 0px;}
.features-sec  .feature  a  img {	-webkit-filter: grayscale(100%);	filter: grayscale(100%);}
.features-sec  .feature:hover   a   img {	-webkit-filter: none;	filter: none;}
.features-sec  .feature   span {  height:30px;  display: block;    font-weight: bold;    font-size: 16px;    color: #555;    margin: 0px 0 20px 0;}
.features-sec  .feature   p {	text-align: justify;	font-size: 12px;	color: #6b6b6b;	line-height: 2;height:60px;}
.features-sec  .feature   a.moreg {	background: transparent;	border: 1px dotted #9c9c9c;	margin-top: 15px;	border-radius: 0px;	display: inline-block;	padding: 7px;	color: #6b6b6b;	font-size: 12px;	border-radius: 2px;}
.features-sec  .feature:hover a.moreg { background-color: #faa61a; color: #fff; }

/*------------------------------- Carousels ----------------------------*/
#carousel1 *,#carousel {direction:ltr}
.carousel-sec .carousel-indicators { bottom: 0; }
.carousel-sec .carousel-indicators li {	margin: 4px;	background-color: #fff;}
.carousel-sec .carousel-indicators li.active {	width: 10px;	height: 10px;	border: none;	background-color: #c32429;}
.carousel-fade .carousel-inner .item {  -webkit-transition-property: opacity;  transition-property: opacity;}
.carousel-fade .carousel-inner .item,.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right {  opacity: 0;}
.carousel-fade .carousel-inner .active,.carousel-fade .carousel-inner .next.left,.carousel-fade .carousel-inner .prev.right {  opacity: 1;}
.carousel-fade .carousel-inner .next,.carousel-fade .carousel-inner .prev,.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right {  right: 0;  -webkit-transform: translate3d(0, 0, 0);          transform: translate3d(0, 0, 0);}
.carousel-sec .carousel-control {	z-index: 2;	top: 50%;	background: transparent;	width: 85px;}
.carousel-sec .carousel	.carousel-name {	position: absolute;	top: 30px;	right: 0;	background-color: rgba(255,255,255,0.7);	color: #222;	font-size: 19px;	height: 40px;	padding: 5px 20px;	z-index: 1;}
.carousel-sec .carousel .item > img {	width: 100%;	transition: all 0.5s ease;	-o-transition: all 0.5s ease;	-ms-transition: all 0.5s ease;	-moz-transition: all 0.5s ease;	-webkit-transition: all 0.5s ease;}
.carousel-sec .carousel:hover .item > img { opacity: 0.4; transform: scale(1.1); }
.carousel-sec .carousel .carousel-inner { background-color: #000; }
.carousel-sec .carousel .carousel-caption {	/*bottom: 50px;*/	height: 60px;	overflow: hidden;	transform: translateY(-20px);	transition: all 0.5s ease 0.3s;	-o-transition: all 0.5s ease 0.3s;	-ms-transition: all 0.5s ease 0.3s;	-moz-transition: all 0.5s ease 0.3s;	-webkit-transition: all 0.5s ease 0.3s;}
.carousel-sec .carousel:hover .carousel-caption {    height: 70%;    /*transform: translateY(-50%);*/}
.carousel-sec  a > .sliderTxt{color:#FFF}/* .carousel-sec  a:hover > .sliderTxt{color:#C51A1B} */
.carousel-sec .sliderTxt > span {	font-size: 24px;direction:rtl;	display: block;	margin-bottom: 15px;}
.carousel-sec .sliderTxt > p {	font-size: 11px; direction:rtl;	line-height: 2;	text-align: justify;}
.sliderTxt *{direction:rtl;}
/*------------------------------- Footer -------------------------------*/
footer {	font-size: 14px;	padding-top: 30px;color: #FFF;	background-color: #252525;position:relative}
footer .foot-col,footer .foot-col-40 {	min-height: 210px;	margin: 10px 0px;	 width: 19%; float: right;padding-right:7%; padding-left: 0px;}
footer .foot-col-40 {	width: calc(40% - 40px);width:39%;padding-right:7%;}
footer .foot-col > ul {	list-style: none;	line-height: 2.5;	padding: 0;}
footer .foot-col > ul a {	color:#7d7d7d;}
footer .foot-col > ul a:hover {	color: #ec2b32;}
footer .foot-col > ul li { position: relative; }
footer .foot-col > ul li:hover:before { opacity: 1; }
footer .foot-col > ul li:before {	content: '\f104';	position: absolute;	font-size: 20px;	color: #ec2b32;	right: -13px;	top: -7px;	font-family: 'FontAwesome';	opacity: 0;}
footer .foot-col > span,footer .foot-col-40 > span {	font-size: 15px;	font-weight: bold;	margin-bottom: 15px;	display: block;}
footer a.reglink {	font-size: 15px;	font-weight: bold;	display: block;	text-align: left;	color: #7e7e7e;}
footer input {	width: 100%;	background-color: #3a3a3a;	margin: 5px 0;	height: 34px;	border: none;	padding: 0 7px;	outline: none;	color: #7e7e7e;}
footer .bottom-line {	background-color: #F8F8F8;	/* min-height: 110px; */	margin-top: 15px;	padding-bottom: 15px;	padding-top: 15px;}
footer .bottom-line span {	font-size: 10px;	color: #8e8e8e;}
footer .bottom-line span  a{color: #8e8e8e;}
footer .bottom-line span  a:hover{color: #C51A1B;}
footer .socials { text-align: center; padding: 15px 5px; }
footer .socials > a {	width: 33px;	height: 33px;	background-color: #e6e6e6;	color: #acacac;	display: inline-block;	text-align: center;	font-size: 16px;	border-radius: 50%;	padding: 5px;	margin: 2px;}
footer .socials > a:hover { color: #ec2b32; }


/*************** slider4 **************/
.slick-slide img,.slider2_item_img img{transition: all .4s ease-in-out;width:100%}
.slick-slide:hover img,.slider2_item_img:hover img{transform: scale(1.08); }
.slick-slider *{direction:ltr}
/* .slick-slider{padding:0px;margin-right:0px;} */
.slider-nav .slick-list {margin: auto;width: 90%;}
.slider-nav button {background: rgba(0, 0, 0, 0) url("../img/nav-right-gl.png") repeat scroll 0 0 !important;display: inline-block;font-size: 0;height: 18px;width: 10px;}
.slider-nav button.slick-prev {background: rgba(0, 0, 0, 0) url("../img/nav-left-gl.png") no-repeat right center !important;}
.slick-prev, .slick-next{top:26%}
.slider4{overflow:hidden;background:#FFF; z-index: 99;padding:60px 0px 60px 0px;}
.slider4_items{width:100%;overflow:hidden;float: right;}
.slider4_item{padding:0 7px;margin:0 7px;overflow:hidden;}
.slider4_item_img{width:100%;height:auto;overflow:hidden;position: relative;}
.slider4_item_img img{width:100%;}
.slider4 .img_hover{width:100%;height:100%;background:#000;opacity:0;position: absolute;top:0px;right:0px;bottom:0px;left:0px;z-index: 99;}
.slider4_item:hover .img_hover,
.slider4_item:hover .img_hover_pic{opacity:0.6;transition: all 0.5s ease;}
.slider4 .img_hover_pic{width:100%;height:100%;opacity:0;position: absolute;top:0px;right:0px;bottom:0px;left:0px;background:url("../img/icon2.png") no-repeat center center;z-index: 100;}
.slider4 .dated{color:#888;font: 12px;text-align: left;width:100%;height:29px;border-bottom:1px solid #e1e1e1;margin-bottom:5px;}
.slider4 .title1{color:#808080;font-size: 15px;  text-align: center;direction:rtl;margin-bottom: 8px;}
.slider4 .title2{color:#9d9d9d;font: 12px;text-align: right;direction:rtl;width:95%;}
.slider4_item:hover .title1{color:#E30613;}
.sec_name{color:#969696;font-size: 25px;text-align: center;width:100%;margin-bottom:50px;}
.Content-Items {display: block;width: 100%;padding: 15px 0 10px 0;margin-bottom: 30px;background: #EAEAEA;text-align: center;box-shadow: 0px 5px 11px -4px #504d48;font-size: 15px;transition: all 0.3s ease;}
.Content-Items img{width: 190px;height: 190px;margin-bottom: 5px;max-width: 100%;}
.Content-Items:hover{margin-top: -20px;margin-bottom: 50px;transition: all 0.3s ease;}
.feature .imgf{display:block;height:100px;text-align:center;}
#share_icons {text-align:center;border-top:1px solid #383838; padding:30px 0 0 0;}
.socialmedia ul li{list-style:none; display:inline-block;height:42px; width:42px; border-radius:50%;border:1px solid #696969;margin:0 5px;padding:6px 5px}
.socialmedia ul li img { -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */filter: grayscale(100%);transition: all 0.5s ease;}
.socialmedia ul li:hover img { -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */filter: grayscale(0%);}
#share_icons a {float: left; margin-right:0px;}
option{color:#777}
tr.even{ background:#F1F1F1; color: #313131;line-height:32px;padding:0 10px;}
tr.odd{background:#FFFFFF;line-height:32px}
input.cpk_input, textarea.cpk_input ,select.cpk_input{margin:2px 0;   border: 0px solid #ddd;border-radius: 3px;   box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03) inset; color: #6d6d6d; font-size: 0.9em;  height: 39px; padding: 0px;  transition: all 0.3s ease 0s; width: 100%;}
textarea.cpk_input{height:100px;}
input.cpk_input:focus, textarea:focus { box-shadow: 0 0 5px rgba(218, 31, 18, 1);border: 0px solid rgba(218, 31, 18, 1);}
.moa{display:none;}
.topn{background:#252525;color:#c0c0c0;line-height:32px;padding:5px 0}
.topn a{color:#c0c0c0;padding:2px 15px; margin:3px;transition:all 0.4s ease 0s;}
.topn a.sh{background:#3a3a3a;color:#FFF;padding:2px 15px; margin:3px;transition:all 0.4s ease 0s;}
.topn a:hover{color:#e24249;padding:3px 15px; margin:0 3px;}
/**********--footer------------***/
.modal{top:100px;}
#cont{background:#FFF;}
#tosi{background:#F5F5F5}
.breadcrumb{margin:-35px 0 0 0; background:none;padding:8px 0;}
.breadcrumb li.date{float:left}
.breadcrumb li a{color:#000;}
.breadcrumb li:hover a{color:#FFF;}
h1.cont_title{text-align:center;border-bottom:1px solid #d8d8d8;color:#8b8b8b; font-size:1.3em; padding-bottom:10px;}
.navbar{z-index:999999}
#impor{background:#FFF;text-align:center;color:#7f7f7f;  -webkit-transition: all 0.30s ease-in-out;-moz-transition: all 0.30s ease-in-out;-ms-transition: all 0.30s ease-in-out;-o-transition: all 0.30s ease-in-out;}
#fi{height:380px;color:#5f5f5f;line-height:26px;transition:all 0.4s ease 0s;margin:70px 0 30px 0;}
#fi{font-size:20px; font-family:Helvetica}
#fi:hover{cursor:pointer;}
#impor #fi .desc{font-family:'iranSans',Tahoma,Arial; font-size:12px;color:#757575;padding:20px 20px 0 20px; text-align:justify;}
#fi .link{background:none;border:1px dotted #9c9c9c; transition:all 0.6s ease 0s; backface-visibility: hidden;
 margin:10px auto; border-radius:0px; padding:4px 5px;width:50%;color:#9c9c9c;font-size:12px;font-family:'iranSans',Tahoma,Arial;border-radius:2px; }
#fi:hover .link {border:1px solid #faa61a;color:#FFF;background:#faa61a}
#fi:hover [class^="flaticon-"]:before,#fi:hover [class*=" flaticon-"]:before,
#fi:hover [class^="flaticon-"]:after,#fi:hover [class*=" flaticon-"]:after {font-size:80px;} 
.ani{position:relative;width:166px; height:139px;margin:0px auto 20px auto;text-align:center}
#fi img.off{ -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */ filter: grayscale(100%);transition:all 0.6s ease 0s;}
#fi:hover img.off{-webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */ filter: grayscale(0%); transition:all 0.6s ease 0s;} 
#sco{background:url(../images/p2.jpg)no-repeat;}
iframe{border:0px;}
.relate{width:170px; float:left; position:relative;z-index:99}
ul.rel{ position:absolute; background:#FFF; margin-top:12px;font-size:10px;width:160px;z-index: 9999;}
.relate img.relcon{z-index:99999;position:absolute;}
.vpn{ background:url(../images/vpn.png) center bottom no-repeat;padding-bottom:90px;}
.tabs {display: block;margin-bottom: 0;width: 100%; }
.tabs a {background:#e8000b;border-left:1px solid #FFF;color:#FFF;border-top:0px solid #e8000b; text-align:center; height:28px;display: block;float: right;font-size: 13px;padding: 0px 40px;position: relative;text-decoration: none;top: 0px;z-index: 1;}
.page4 { background-color: #FFF;border:0px solid #f5f5f5;clear: both;display: none; width:100%;z-index: 2;}
.tabs a.selected,.tabs a:hover,.tabs li.selected a { background:#FDFDFD url(../images/act.jpg) right top repeat-x; color:#000;z-index: 3; border-top:0px solid #a6a6a6;}
.tabs a img.on{ display:block}.tabs a img.off{ display:none}
.tabs a.selected img.on,.tabs li.selected a img.on,.tabs a:hover img.on{ display:none}
.tabs a.selected img.off,.tabs li.selected a img.off,.tabs a:hover img.off{ display:block}
img.tr{position:absolute;left:5%; top:28px;}
td#element_29_td1{width:20%}
select#addi_field_3_day.cpk_input,select#addi_field_6_month,select#addi_field_6_year,select#addi_field_6_day.cpk_input,select#addi_field_3_month,select#addi_field_3_year{width:20%}
.start1 {color: #aaaaaa; margin: 40px 0;text-align: center;}
a.button,input.button{ background:#1053A4;border:0px; padding:0px 21px;line-height:30px; height:34px; color:#FFF; text-align:center}
a.button:hover,input.button:hover{ background:#e8000b;}
ul.the_menu1,ul.the_menu,ul.the_menu2{ list-style:none; margin:-146px 0 0 0; padding:0px; width:63px; border:1px solid #c8c8c8; height: 130px;  overflow-x: hidden;color:#777777; position:absolute; background:#FFF;z-index:999999999999999999;font-size:11px;padding-right:3px;  overflow-y: scroll;}
ul.the_menu3{ list-style:none; margin:0px; padding:0px; width:443px; border:0px solid #c8c8c8; height: 100px;right:-380px;z-index:999999999999999999;color:#3838383; position:absolute; background:url(../images/back-user.png) center top no-repeat;top:58px; padding-top:27px; }
ul.the_menu3  li td:hover{color:#e7000c; cursor:pointer}

.mainpage{  margin-bottom:20px;}
h1.titlepage{ color:#333333; font-weight:normal;font-size: 18px; background:url(../images/h1-back.png) left 30px no-repeat; margin: 0px; padding:20px 40px;float: right; margin-right:-140px; padding-right:140px;}
.about{width:1024px; background:url(../images/about.png) center bottom no-repeat;  padding-bottom: 100px;}
hr.u{ background:#cecece;border:0px; height:2px; margin-right:-140px; float:right; padding-right:140px; margin-top:25px; margin-left:5px;}
.about hr.u{ margin-top:45px;}
h3.yt, h2.yt{ color:#e8000b; font-weight:normal; font-size:14px;}
.bartab{ background:url(../images/tab.jpg) right top repeat-x;color:#FFF;}

h3.ico{ background:url(../images/hbar.jpg) right center no-repeat;font-weight:normal; line-height:40px; padding:0px; margin:0px; padding-right:40px; height: 40px; float: right}
.boxuser{ border: 1px solid #b5b5b5; background: #FFF; height: 310px;  position:relative; margin-bottom:15px;right:0;direction:rtl;}
.boxuser .txt{padding:0px;}
.boxuser p{ padding:0 10px;color:#898989;margin:0px;line-height:20px;}
a.more{ float: left; background:url(../images/more.png) left center no-repeat; padding-left:15px;color:#018ECF; margin-left:20px;}
a.more:hover{ float: left; background:url(../images/more-hover.png) left center no-repeat;color:#e8000b; }

.tarefe{ background:#F0F0F0; color:#717171;box-shadow:inset 0px 0px 85px rgba(142,142,142,.5); padding:0 10px;
-webkit-box-shadow:inset 0px 0px 85px rgba(1142,142,142,.5);-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;-moz-box-shadow:inset 0px 0px 85px rgba(0,0,0,.5);}
.tarefe a{color:#717171}
.g1{ background:url(../images/g11.png) right top no-repeat; width:327px ; height:39px;padding-bottom:10px;color:#717171; }
.g2{ background:url(../images/g12.png) right top no-repeat; width:272px ; height:39px;padding-bottom:10px;color:#717171;  }
.g3{ background:url(../images/g13.png) right top no-repeat; width:327px ; height:39px; padding-bottom:10px;color:#717171; }

.openpet .g1.active{ background:url(../images/g1.png) right top no-repeat;color:#FFF}
.openpet .g2.active{ background:url(../images/g2.png) right top no-repeat;color:#FFF}
.openpet .g3.active{ background:url(../images/g3.png) right top no-repeat;color:#FFF}
.boxgal{margin:5px;transition:all 0.6s ease 0s;}
.tiga{font-size:11px;line-height:29px;text-align:center;transition:all 0.6s ease 0s;}
.serv{ background:#e4e4e4;vertical-align: top; border:1px solid #bababa;float: right;  width: 500px;position:relative; height: 240px;color:#797979; font-size: 11px;margin:1px;}
.serv .key{ position: absolute; top:0px; right:31%;  width:22px; height:203px;}
.serv .capt{ padding:0; vertical-align: top; width:304px; float: left;}
.serv .capt h2{ background:#FFF;color:#848484; text-align:right; font-size:14px; font-weight:normal; margin:2px 0; padding:0 10px;}
.serj{ width:32%; height:28px; margin:1px; background:#8b8b8b; text-align: center;float: left;padding-top:5px; cursor: pointer;}
.serj1{ width:32%; height:28px; margin:1px; background:#9c9c9c; text-align: center;float: left ;padding-top:5px; cursor: pointer;}
.serj2{ width:32%; height:28px; margin:1px; background:#ababab; text-align: center; float: left;padding-top:5px;cursor: pointer; }

.serv:hover .serj{background:#1053a4; }
.serv:hover .serj1{background:#ed212b; }
.serv:hover .serj2{background:#fcb407; }


.mkh{ border-top:1px dotted #a3a3a3; border-bottom:1px dotted #a3a3a3; height:270px; text-align:center; width:100%; transition: opacity 0.4s linear 0s, transform 0.4s ease-in-out 0s, box-shadow 0.4s ease-in-out 0s;}
.mkh1{ width:50%; float:left; text-align:right;margin:41px 0; padding:0px;border-top:1px dotted #a3a3a3; border-bottom:1px dotted #a3a3a3;}
.mkh2{ width:50%; float:right; text-align:left;margin:0px 0; padding:0px; border-bottom:1px dotted #a3a3a3;}
.mkh3{ width:50%; float:right; text-align:left;margin:0px 0; padding:0px;}


.taref{background:#FFFFFF; padding-top:40px; width:100%; float:right;}
.tarright{ width:45%; float:right; text-align:left; position:relative}
.tarleft{ width:55%; float:left; text-align:right; position:relative;}
.taref1{position:absolute; z-index:0;}
.bor{border-top:1px dotted #a3a3a3; border-bottom:1px dotted #a3a3a3; margin-top:-1px;  margin-right:150px;}
.bor1{border-top:1px dotted #a3a3a3; border-bottom:1px dotted #a3a3a3; margin-top:0px; }


.accordionButton {background:#fdb207;cursor: pointer;float: right;  height: 30px;  margin: auto;text-align: center; width: 100px;color:#FFF;}
.accordionContent { display: none;}
.blu,.red,.yell{width:316px; float:right; background:#d6d6d6; margin-left:30px;padding:0px;color:#4c4c4c;min-height:340px; }
.blu ul,.red ul,.yell ul{ list-style-image:url(../images/list.jpg);padding:10px 28px;}
.blu p,.red p,.yell p{padding:0 10px;}
.yell{margin-left:0px;}
.plus{ background:#e8000b url(../images/plus.png) 5px center no-repeat; padding:0 10px; line-height:30px;color:#FFF;}


div#sidebar { margin:0 auto; font-size: 12px; line-height:24px; width:660px; direction:rtl; }
.wrapper .cont .cright .mypets{ color:#95adff; font-weight:normal; font-size:12px; margin:2px 0;cursor: hand;cursor: pointer;padding: 2px 5px;background:url(../images/inact1.png) right top repeat-y;}
.mypets{font-weight:normal}
.wrapper .cont .cright .openpet{ background:url(../images/act1.png) right top repeat-y;color:#0E1F3F; }
.thepet{background:url(../images/backp.png) right top repeat;}
.thepet ul{margin:0px; list-style-image:url(../images/bul-li.png)}
.moa{display:none}
input.ta, input.cpk_input, select.cpk_input,select#SendEmail1.Text6 {  border: 1px solid #DFDFDF; color: #474747; width: 80%;}
input.ta:hover, input.cpk_input:hover, select.cpk_input:hover,select#SendEmail1.Text6:hover {  border: 1px solid #DFDFDF; color: #818181;width:  80%;}
.boxuser h3 {  font-size: 12px;line-height:19px;}
#ctab h3{font-size:14px;}
textarea#element_32.ta,textarea.cpk_input{  border: 1px solid #DFDFDF; color: #474747; height:93px; margin-bottom: 0px;width:  80%;}
textarea#element_32.ta:hover,textarea.cpk_input:hover{   border: 1px solid #DFDFDF; color: #777; height:93px; margin-bottom: 0px;width:  80%;}
.sinput{ float:right; height:23px; width:180px; padding:0px; margin:0px; border:1px solid #d0d0d0;}
#ie7_slider{ overflow:hidden;}
.anythingSlider div.anythingControls ul.thumbNav li.last a.panel4{border-left: 0px;}
.footer-dialog-block img{ text-align:center}
input.ta{ border:1px solid #dfdfdf; background:#f1f1f1; color:#818181; width:231px; height:25px; margin-bottom:5px;}
input.ta:hover,textarea.ta:hover{-webkit-box-shadow: 0px 0px 5px rgba(255, 104, 15, 0.75);-moz-box-shadow:    0px 0px 5px rgba(255, 104, 15, 0.75);box-shadow: 0px 0px 5px rgba(255, 104, 15, 0.75); border:1px solid #fd7f35;}
div#footer-block3-box.footer-dialog-block,div#footer-block1-box.footer-dialog-block{ width:260px;}
input.tac{ border:2px solid #ff670d; background:#ff670d; color:#FFF; width:231px; height:25px; margin-bottom:5px; cursor:pointer}
div#footer-block2-box.footer-dialog-block{ width:520px;}
textarea.ta{ border:1px solid #dfdfdf; background:#f1f1f1; color:#818181; width:231px; height:60px; margin-bottom:5px;} 
#page_faq h3.mypets1{font-size:13px;margin:0px; padding:4px;font-weight:normal}
h4, .h4 {font-size: 14px;}
p{}
input.tac, .tac{ background: none repeat scroll 0 0 #FF670D; border: 2px solid #FF670D;color: #FFFFFF;cursor: pointer;height: 25px;margin-bottom: 2px; width:  80%;}
form#form_file_manager{ margin:0px; padding:0px;margin-right:-3px;}
select#SendEmail1.Text6{width:80%;font-family:tahoma; font-size:11px;}
#tooltip {position:absolute; display:none; background:url(../images/tip.png);  font-size:12px; direction:rtl; height:92px; width:238px; padding:15px 5px 0px 5px; color:#eee; }
#demo img {border:0;cursor:pointer;margin:0 1px; }
.order-section-w .slider4{padding:10px 0;}
.shop-product{direction:ltr;position:relative;text-align:left;overflow:hidden;clear:both;background:#FFF url(../images/mod-cont.jpg) right bottom repeat-x;margin:0px 2px 0 0px; border:0px solid #ff838e; width:1054px;}
.product-wrapper {left:0px;margin:0px 10px;overflow:hidden;position:relative;}
#product-body {width:1054px;overflow:hidden;clear:both; height:360px; }
#product-body a {display:block;float:left;padding:1px 0px;margin:1px; border:0px;text-decoration:none; color:#444444;}
#product-body a:hover { color:#c50000;}
#product-body li {display:inline;}
#product-body span {display:block;text-align:center; direction:rtl;font-size:11px;}
#product-body img {padding:0px;	}
#btn1 {background:url(../images/prev.png) no-repeat scroll left top transparent;left:10px;top:60px;z-index:999;}
#btn2 {background:url(../images/next.png) no-repeat scroll left top transparent;right:0px;top:60px;z-index:999;}
#btn1, #btn2 {cursor:pointer;height:266px;position:absolute;text-indent:-9999px;width:60px;}
.modir0{ background:url(../images/modir0.png) right top repeat-y;color:#000000; padding:5px 10px;width:500px;margin-bottom:5px;}
.modir{ background:url(../images/modir.png) right top repeat-y;color:#000000; padding:5px 10px;width:500px;margin-bottom:5px;}
.modir1{ background:url(../images/modir1.png) right top repeat-y;color:#000000; padding:5px 10px;width:500px;margin-bottom:5px;}
.textSlide table tbody tr td table tbody tr td{border-bottom:1px solid #cecece;vertical-align:top}
.tahod{ background:url(../images/tahod.png) center bottom no-repeat; padding-bottom:30px;min-height:190px; }

#vtab { margin: auto;width:1024px; height: 100%; }
#vtab > ul.t > li {
 width: 185px; height: 38px;color:#2e2e2e; background-color: #fff !important; list-style-type: none; display: block;line-height:37px; text-align: center; margin:2px auto;float:right; border: 1px solid #c1c1c0; position: relative; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30); }
#vtab > ul.t > li.selected { opacity: 1;width: 210px; height: 40px;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); border: 0px; z-index: 10;color:#FFF; background:url(../images/tabz.jpg) right top no-repeat !important; position: relative; }
#vtab > ul.t { float: right;width: 210px;text-align: right;display: block;margin: auto 0;padding: 0; position: relative;top: 0px;}
#vtab > div.cont {background-color:#F0F0F0;margin-right: 210px; border: 0px solid #ddd;min-height: 500px; padding: 0px; position: relative; z-index: 9; }
#vtab > div.cont > h3 {font-size: 14px;font-weight:normal; padding-top: 5px; margin-top: 0; }
#ctab{ background:url(../images/back-tahod.jpg) right bottom repeat-x;border-right:10px solid #ed212b;padding:5px;margin-bottom:4px; }
#page_faq:nth-child(3n+2){ background:url(../images/back-tahod.jpg) right bottom repeat-x;border-right:10px solid #018ecf;padding:5px;margin-bottom:4px; }
#page_faq:nth-child(3n){ background:url(../images/back-tahod.jpg) right bottom repeat-x;border-right:10px solid #e8000b;padding:5px;margin-bottom:4px; }
#page_faq:nth-child(3n+1){ background:url(../images/back-tahod.jpg) right bottom repeat-x;border-right:10px solid #f9a614;padding:5px;margin-bottom:4px; }
#page_faq:nth-child(3n+2) h3{color:#018ecf}
#page_faq:nth-child(3n) h3{color:#e8000b}
#page_faq:nth-child(3n+1) h3{color:#f9a614}
#birds{width:500px; height:32px;float:right;font-size:14px; background:#FFF;color:#000}



#breadcrumb, #breadcrumb2 { background:#C2C2C2;display:inline-block; height: 25px; border: 0px solid #cbcbcb;padding-top:1px;width:800px; float:right; }
#breadcrumb ul, #breadcrumb2 ul { list-style: none; margin: 0px; padding: 0px 10px;line-height:20px; }
.crumbs { display: block; }
.crumbs li {  display: inline; font-family:Tahoma;}
.crumbs li.first { padding-left: 8px; }
ul.crumbs li.first a{ padding: 1px 5px 6px 17px;}
.crumbs li a, .crumbs li a:link, .crumbs li a:visited { color: #666; display: block; float: right; font-size: 11px; margin-right: -13px; padding: 1px 25px 6px 17px; position: relative; text-decoration: none; }
.crumbs li a { background-image: url('../images/bg-crumbs.png');  background-repeat: no-repeat; background-position: 0 0; position: relative; }
.crumbs li a:hover { color: #E8010B; background-position: 0 -48px; cursor: pointer; }
.crumbs li a:active { color: #333; background-position: 0 -96px; }
.crumbs li.first a span { height: 29px; width: 3px; border-right: 0px solid #d9d9d9; position: absolute; top: 0px; right: 0px; }
.crumbs2 { display: block; margin-right: -13px; padding: 0; }
.crumbs2 li { display: inline; }
.crumbs2 li a, .crumbs2 li a:link, .crumbs2 li a:visited { color: #666; display: block; float: right; font-size: 12px; padding: 7px 19px 7px 16px; position: relative; text-decoration: none; border: 1px solid #d9d9d9; border-left-width: 0px; }
.crumbs2 li a  {
background:#C2C2C2;}
.crumbs2 li.first a { border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; }
.crumbs2 li.last a { border-left-width: 1px; border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; }
.crumbs2 li a:hover { border-top-color: #c4c4c4;border-bottom-color: #c4c4c4;
background-image: -webkit-gradient(linear,right bottom,right top,color-stop(0.45, rgb(241,241,241)),color-stop(0.73, rgb(248,248,248)));
background-image: -moz-linear-gradient( center bottom, rgb(241,241,241) 45%, rgb(248,248,248) 73%);
/* For Internet Explorer 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f8f8f8, endColorstr=#f1f1f1);
/* For Internet Explorer 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f8f8f8, endColorstr=#f1f1f1)";
color: #333;-moz-box-shadow: 0px 2px 2px #e8e8e8;-webkit-box-shadow: 0px 2px 2px #e8e8e8;box-shadow: 0px 2px 2px #e8e8e8;}
.crumbs2 li a:active {border-top-color: #c4c4c4;border-bottom-color: #c4c4c4;
background-image: -webkit-gradient(linear,right bottom,left top,color-stop(0.45, rgb(224,224,224)),color-stop(0.73, rgb(235,235,235)));
background-image: -moz-linear-gradient( center bottom, rgb(224,224,224) 45%, rgb(235,235,235) 73%);
/* For Internet Explorer 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#D6D6D6, endColorstr=#e0e0e0);
/* For Internet Explorer 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D6D6D6, endColorstr=#e0e0e0)";
color: #333; box-shadow: -1px 1px 1px 0px #dadada inset;-webkit-box-shadow: -1px 1px 1px 0px #dadada inset;-moz-box-shadow: -1px 1px 1px 0px #dadada inset;}
/* @group clearfix classes */
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
.space { display: block; height: 45px; clear: both; }
.date{ background:#018ecf; height:22px;line-height:20px; color:#FFF;}
.relate img.relcon{z-index:99999;position:absolute;}
.sazman{ background:url(../images/sazman.png) left bottom no-repeat; padding-bottom:35px; }

#tarefe_wrapperf{width: 523px; margin: 0 auto;}
ul#tarefehg{list-style: none;padding:0;margin:3px 0px;}
ul#tarefehg li{ display: inline-block;margin:0px 1px;;padding-bottom: 10px;float:right;}
ul#tarefehg li a div.tabarefrt{color:#FFF; width: 258px; padding: 0;margin:0; text-align: center;height:43px;line-height:30px;background:url(../images/activ.jpg) right top repeat-x;}
ul#tarefehg li.active a div.tabarefrt{ background: url(../images/login.png) center top no-repeat; overflow: visible;height:43px;}
.buttony{ width: 268px;  background:#ffa000; color:#FFF;margin: 3px 0;text-align: center;}
.buttony:hover{ width: 268px;  background:#1053A4; color:#FFF;}
#tarefehg li{margin:0px;display:inline-block;}
#tarefe_content_containerg{ background:#ffffff; width: 100%; margin:-10px auto;padding:10px;}

#tarefe_wrapper {}
#tarefe_container {border-bottom: 0px solid #ccc;}
#tarefe {list-style: none;padding:0;margin:3px 0px;}
#tarefe li {display: inline;margin:0px}
#tarefe li a {border: 0px solid #ccc;padding:0px;text-decoration: none;background-color: #eeeeee;border-bottom: none;outline: none;}
#tarefe li a:hover {background-color: #dddddd;padding:0px;}
#tarefe li.active a {border-bottom:0px solid #fff;}
#tarefe li.active a:hover {}
#tarefe_content_container {border: 0px solid #ccc;border-top: none;padding:0px;}
.tare_content {display: none;}
.agency{width:100%; margin:5px auto;float:right;padding:0px; background:#ebebeb;border:1px solid #d7d7d7; font-size:14px;line-height:24px;}
.cmap{ background:url(../images/bmap.jpg) right bottom repeat-x; border:1px solid #cecece; width:100%; float:right; margin:5px 0;}

table.uo tr td{background:#cdcdcd;width:100px;height:45px;color:#2d2d2d;}
table.uo tr td.b:hover{background:#019bd9;color:#FFF;}
table.uo tr td.r:hover{background:#e8000b;color:#FFF;}
table.uo tr td.y:hover{background:#f89b18;color:#FFF;}
table.uo tr td a{color:#2d2d2d;}table.uo tr td a:hover{color:#FFFFFF;}
table tbody tr td.lin{background:url(../images/lint.jpg) center center no-repeat;}
table tbody tr td.androidg div.bh,table tbody tr td.craft div.rh{display:none;}
table tbody tr td.androidg:hover div.bh,table tbody tr td.craft:hover div.rh{display:block;}
#response,.vaziyat { display:none; background: none repeat scroll 0 0 #fff; display: none;   min-height: 300px;   left: 0%;   margin-left:0px;   margin-top: -150px;  position: fixed;  top: 50%; width:100%; z-index: 2147483647;}
ul.vaziyat li{margin:5px 10px;text-align:right;}
ul.vaziyat *{direction:rtl;}
.closet{position:absolute; left:10px; top:10px;}
.tioy{position:absolute; right:50px; top:30px;}
.tooltip {display:none;position:absolute;font-size:10px; background:url('../images/tooltiiip.png') center no-repeat;padding:0px 10px 10px 10px; color:#fff; z-index:99999999;}
.fot img:hover{opacity:0.5}
#sidebar div.openpet div#tarefe_wrapper div#tarefe_container div#tarefe table tbody tr td.g3.active a,
#sidebar div.openpet div#tarefe_wrapper div#tarefe_container div#tarefe table tbody tr td.g1.active a{color:#FFF;}
#tarefe_container ul#tarefe1{margin:0px; padding:0px;}
ul#tarefe li.active a div.tabaref{opacity:0.8}
ul#tarefe li:nth-child(3n+1) a .tabaref { background: #E8010B;padding:5px 9px;color:#FFF;float:right; margin:1px;}
ul#tarefe li:nth-child(3n) a .tabaref {background: #FECC00;padding:5px 9px;color:#000;float:right; margin:1px;} 
ul#tarefe li:nth-child(3n+2) a .tabaref {background: #0298D7;padding:5px 9px;color:#FFF;float:right; margin:1px;} 
.tariffContainer table { border: medium none;margin-top:10px; width: 100% !important;}
.tariffContainer table tr {-moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;background: none repeat scroll 0 0 #EEEEEE;
 border-color: -moz-use-text-color -moz-use-text-color #DDDDDD; border-image: none; border-style: none none solid;border-width: medium medium 2px; transition: all 0.3s ease-out 0s;}
.tariffContainer table tr:nth-child(2n+1) {background: none repeat scroll 0 0 #CCCCCC;}
.tariffContainer table thead tr { background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;}
.tariffContainer table tr:hover {background: none repeat scroll 0 0 #0298D7;}
.tariffContainer table thead tr:hover { background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;}
.tariffContainer table tr td { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: -moz-use-text-color #FFFFFF -moz-use-text-color -moz-use-text-color; border-image: none; border-style: none solid none none; border-width: medium 1px medium medium; padding: 5px;}
.tariffContainer table tr th { color: #FFFFFF;font-size: 14px;font-weight: bold; height:30px; line-height: 30px; text-align: center;text-shadow: none;}
.tariffContainer table tr th:nth-child(2) { background: none repeat scroll 0 0 #E8010B;  border-bottom: 2px solid #E2563B;}
.tariffContainer table tr th:nth-child(3) { background: none repeat scroll 0 0 #2C82C9; border-bottom: 2px solid #2875B5;}
.tariffContainer table tr th:nth-child(4) {background: none repeat scroll 0 0 #FCB941; border-bottom: 2px solid #E2A63A;}
.tariffContainer table tr th:nth-child(5) { background: none repeat scroll 0 0 #2CC990; border-bottom: 2px solid #28B581;}
.tariffContainer table tr th:nth-child(6) {  background: none repeat scroll 0 0 #9B59B6;  border-bottom: 2px solid #8E44AD;}
.tariffContainer table tr th:nth-child(7) {  background: none repeat scroll 0 0 #E8010B;   border-bottom: 2px solid #E2563B;}
.tariffContainer table tr th:nth-child(8) {  background: none repeat scroll 0 0 #2C82C9;border-bottom: 2px solid #2875B5;}
.tariffContainer table tr th:nth-child(9) {background: none repeat scroll 0 0 #FCB941; border-bottom: 2px solid #E2A63A;}
.tariffContainer table tr th:nth-child(10) { background: none repeat scroll 0 0 #2CC990; border-bottom: 2px solid #28B581;}
.tariffContainer table tr th:nth-child(11) {background: none repeat scroll 0 0 #9B59B6; border-bottom: 2px solid #8E44AD;}
.tariffContainer table tr td:first-child {  border-right: medium none;}
.tariffContainer table tr td { color: #666666; font-family: Tahoma; font-size: 13px;}
.tariffContainer table tr:nth-child(1) td {  color: #999999; height: 30px;line-height: 30px;}
#element_164_td1,#tab_general.page1 div table tbody tr td#element_combo_59_td1,#element_67_td1,#element_combo_71_td1,#element_72_td1,#element_74_td1,#element_4_td1,#element_77__td1,td#element_92_td1,#element_combo_107_td1{width:20%;}

img.borderi{border:1px solid #828282;padding:1px;}
.gy {  float: right;  padding-left: 10px;}

tr.even{ background:#F1F1F1; color: #313131;line-height:32px;padding:0 10px;}
tr.odd{background:#FFFFFF;line-height:32px}

#vtab div.cont div#ctab ul{list-style:none;}

ul#expire {padding: 0;list-style: none; transition: all 0.5s;width:500px; margin:0 auto}
ul#expire li {float: right;margin:0 5px; padding: 0; text-align:right}
ul#expire a {float: right;display: block; text-indent: -99999px;background-position: left top; background-repeat:no-repeat;background-image:url(../images/expire.png); }
ul#expire li.a a:hover {background:url(../images/expire.png)  left  60px no-repeat;}
ul#expire li.a a {background-position: left 0px;width: 88px;height: 99px;}
ul#expire li.a1 a:hover {background:url(../images/expire.png) -80px -108px;}
ul#expire li.a1 a {background-position:-80px 0px;width:88px;height: 99px;}
ul#expire li.a2 a:hover {background:url(../images/expire.png) -175px -108px;}
ul#expire li.a2 a {background-position:-175px 0px;width: 88px;height: 99px;}
ul#expire li.a3 a:hover {background:url(../images/expire.png) -267px -108px;}
ul#expire li.a3 a {background-position:-267px 0px;width: 88px;height: 99px;}
ul#expire li.a4 a:hover {background:url(../images/expire.png)  left  -108px no-repeat;}
ul#expire li.a4 a {background:url(../images/expire.png) left 0px;width: 88px;height: 99px;}
ul#expire li.a5 a:hover {background:url(../images/expire.png)  right  -108px no-repeat;}
ul#expire li.a5 a {background:url(../images/expire.png) right 0px;width: 88px;height: 99px;}
.btn-op{background:rgba(255,255,255,0.6); color:#FFF}
.navigation{padding-right:40px;z-index:9999999; width:902px; background:url(../images/navbash.png) center top no-repeat; margin:0 auto; height:60px; direction:rtl; color:#FFF;}
.navigation li{text-align:center;font-size:13px; display: inline-block;padding:0 22px; height:39px; text-indent:0; margin:0px; list-style-image:none !important;}
.navigation li:hover a{cursor:pointer !important; color:#e8000b; height:47px; border: 0px;border-top:0px solid #ed3231;}
.thumbNav{position:absolute;padding-right:40px;top:235px;z-index:999; width:938px; background:url(../images/navbash.png) center top no-repeat; margin:0 auto;-moz-border-radius-topleft: 15px;
-webkit-border-top-left-radius: 15px;
 border-top-left-radius: 15px;
-moz-border-radius-topright: 15px;
-webkit-border-top-right-radius: 15px;
border-top-right-radius: 15px; height:40px; direction:rtl; color:#FFF;}
.thumbNav li{text-align:center;font-size:11px; display: inline-block;padding:0 9px; height:39px; text-indent:0; margin:0px; list-style-image:none !important;}
.thumbNav li:hover a{cursor:pointer !important; color:#e8000b; height:27px; border: 0px;border-top:0px solid #ed3231;}
 
.envatologo{position:absolute;top:50%;left:50%;width:446px;margin-top:-41px;margin-left:-223px;z-index:1;}
.slideb{position: relative;}
.slideno{position:absolute;bottom:0px;left:0px;font-size:100px;font-weight:bold;color:rgba(255,255,255,0.3);}
.buttonb{display:none;bottom: 25px; left: 50px; position: absolute;   z-index: 9999;
width:43px;height:43px;background:url(../images/buttonb.png) no-repeat;}
.buttonb:hover{cursor:pointer;}
.contentb{width:100%;min-height:690px; padding-top:0px;position: relative;overflow:hidden;}
.slideb:hover .buttonb{display:none}
ul.navigation a{display:block;height: 39px;line-height:45px;text-align:center;text-decoration:none;color:#3c3c3c;
text-align:center;margin:0px;position:relative; padding: 0px; border: 0px;}

#mainContainer{margin:0 auto;width:1024px;text-align:left;padding:3px;}
.clear{clear:both;} 
#DHTMLgoodies_panel_one,#DHTMLgoodies_arrows,#DHTMLgoodies_thumbs{width:475px;}
#DHTMLgoodies_panel_one{float:left	}
#DHTMLgoodies_thumbs{overflow-y:scroll;overflow-x:hidden;	height:470px;width:505px;	position:relative;	float:left;}
#DHTMLgoodies_largeImage{width:464px;	height:470px;	float:right;padding-left:10px;padding-right:10px;	}
#DHTMLgoodies_largeImage table{width:100%;height:100%;text-align:center;}
#DHTMLgoodies_largeImage img{border:0px solid #317082;	}
.strip_of_thumbnails{	width:532px;margin:0 7px 0 0;position:absolute;}
.strip_of_thumbnails div.thumb{width:230px;height:230px;margin:0 0px 5px 5px;text-align:center; position:relative;float:right;}
.strip_of_thumbnails img{border:0px; z-index:1;}
.strip_of_thumbnails .activeImage{border:0px solid #317082;padding:0px;}
.leftArrow{float:left;}.rightArrow{float:right;}
#DHTMLgoodies_thumbs_inner{position:relative;width:1000px;}	
.num{ position:absolute; bottom:0px; background:#aeaeae; z-index:99; height:25px; width:227px; left:0px; color:#FFF; font-size:11px; line-height:21px;}
.strip_of_thumbnails div.thumb:hover .num{ background:#e8000b}
.fixed { position:fixed;top:0px;}
.overlay{background:#000; opacity:0.5; width:100%; height:100%; position:fixed;z-index:999999999;left:0px; top:0px;}
.thumb{border:1px solid #AAAAAA}
.vaziyat a{color:#FFF;text-decoration: underline;}
.vaziyat a:hover{color:#DBDBDB;}
ul.vaziyat img.tio{width:48%;}

#topicon{margin-top:15px;color:#706F6F}
#topicon{list-style:none;position:relative;float:left;margin:0;padding:0}
#topicon  a{}
#topicon li{position:relative;float:left;margin:0;padding:0}
#topicon li:hover{}
#topicon ul{display:none;position:absolute;top:100%;left:0;background:#FFF;padding:0; z-index:99999999;-webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.75); border:0px;}
#topicon ul li{float:none;width:213px; padding:15px 10px; font-size:13px; line-height:32px;list-style:none;}
#topicon ul li i{font-size:15px;padding-left:5px;}
#topicon ul li td{padding:0 5px;}
#topicon ul li td:hover i{color:#E8000B}
#topicon ul a{line-height:120%;padding:10px 15px}
#topicon ul ul{top:0;left:100%}
#topicon li:hover > ul{display:block}
.ih-item.square { position: relative;  width: 316px; height: 216px; border: 8px solid #fff;box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);}
.ih-item.square .info { position: absolute;top: 0;bottom: 0; left: 0;right: 0;text-align: center;-webkit-backface-visibility: hidden;backface-visibility: hidden;}
.ih-item.square.effect7 { overflow: hidden;}
.ih-item.square.effect7.colored .info {background: #1a4a72; background: rgba(26, 74, 114, 0.8);}
.ih-item.square.effect7.colored .info h3 {background: rgba(12, 34, 52, 0.8);}
.ih-item.square.effect7 .img {  -webkit-transition: all 0.35s ease-in-out;-moz-transition: all 0.35s ease-in-out; transition: all 0.35s ease-in-out; -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1);-o-transform: scale(1); transform: scale(1);}
.ih-item.square.effect7 .info {  background: #333333;  background: rgba(0, 0, 0, 0.8);  visibility: hidden;  opacity: 0;  -webkit-transition: all 0.35s ease-in-out; -moz-transition: all 0.35s ease-in-out;  transition: all 0.35s ease-in-out;}
.ih-item.square.effect7 .info h3 {  text-transform: uppercase; color: #fff;  text-align: center;  font-size: 17px;  padding: 10px; margin: 30px 0 0 0;  -webkit-transform: scale(4);  -moz-transform: scale(4);  -ms-transform: scale(4);  -o-transform: scale(4);  transform: scale(4);  -webkit-transition: all 0.35s 0.1s ease-in-out;  -moz-transition: all 0.35s 0.1s ease-in-out; transition: all 0.35s 0.1s ease-in-out;}
.ih-item.square.effect7 .info p { font-style: italic;  font-size: 12px;  position: relative;  color: #bbb;  padding: 20px 20px 20px;  text-align: center;  -webkit-transform: scale(5);  -moz-transform: scale(5);  -ms-transform: scale(5);  -o-transform: scale(5);  transform: scale(5);  -webkit-transition: all 0.35s 0.3s linear;  -moz-transition: all 0.35s 0.3s linear;  transition: all 0.35s 0.3s linear;}
.ih-item.square.effect7 a:hover .img {  -webkit-transform: scale(1.2);  -moz-transform: scale(1.2);  -ms-transform: scale(1.2);  -o-transform: scale(1.2);  transform: scale(1.2);}
.ih-item.square.effect7 a:hover .info {  visibility: visible;  opacity: 1;}
.ih-item.square.effect7 a:hover .info h3,
.ih-item.square.effect7 a:hover .info p {  -webkit-transform: scale(1);  -moz-transform: scale(1);  -ms-transform: scale(1);  -o-transform: scale(1);  transform: scale(1);}
.wrapper table.dslbox tbody tr td{width:204px;font-size:12px;line-height:33px;}
.wrapper table.dslbox tbody tr td a i{font-size:14px;}
.wrapper table.dslbox tbody tr td a{color:#FFF;padding:5px 0; -webkit-transition: all 0.35s 0.1s ease-in-out;  -moz-transition: all 0.35s 0.1s ease-in-out;  transition: all 0.35s 0.1s ease-in-out;}
.wrapper table.dslbox tbody tr td:hover a{color:#000;  -webkit-transform: scale(1.2);  -moz-transform: scale(1.2);  -ms-transform: scale(1.2);  -o-transform: scale(1.2); transform: scale(1.2); }
.comm_rating { float: left; height: 20px;   padding-top: 6px; width: 139px;}
.rating_down {    background: url(../images/r_mi.gif) no-repeat scroll 0 0 rgba(0, 0, 0, 0); color: #e30303; float: right; font: 11px tahoma; height: 14px; overflow: hidden;  text-align: center;width: 43px;}
.rate_down_link { background: url(../images/l_mi.gif) no-repeat scroll 0 0 rgba(0, 0, 0, 0); cursor: pointer; display: block;float: right; height: 14px; margin-left: 5px; text-decoration: none; width: 24px;}
.rate_up_link {background: url(../images/r_po.gif) no-repeat scroll 0 0 rgba(0, 0, 0, 0); cursor: pointer; display: block;float: right; height: 14px; text-decoration: none;width: 24px;}
.rating_up {  background: url(../images/l_po.gif) no-repeat scroll 0 0 rgba(0, 0, 0, 0);  color: #116dd6;    float: right;font: 11px tahoma; height: 14px; overflow: hidden; text-align: center; width: 43px;}
select#addi_field_7_day.cpk_input,select#addi_field_7_month,select#addi_field_7_year,select#addi_field_8_day.cpk_input,select#addi_field_8_month,select#addi_field_8_year{width:100px;}
td#combo_field_6_td1{width:110px;}
table.nod  a:hover{ text-decoration:none; border:0px; cursor:pointer; color:#E8000B;}
table.nod  a{color:#b8b8b8} 




ul#dslbox2 {padding: 0;list-style: none; transition: all 0.5s;width:1059px; margin:0 auto}
ul#dslbox2 li {float: right;margin:0 5px; padding: 0; text-align:right}
ul#dslbox2 a {width: 200px;height: 133px;float: right;display: block; text-indent: -99999px;background-position: left top; background-repeat:no-repeat;background-image:url(../images/dslbox2.png); }
ul#dslbox2 li.a a:hover {background:url(../images/dslbox2.png)  left  -136px no-repeat;}
ul#dslbox2 li.a a {background-position: left 0px;}
ul#dslbox2 li.a1 a:hover {background:url(../images/dslbox2.png) -211px -136px;}
ul#dslbox2 li.a1 a {background-position:-211px 0px;}
ul#dslbox2 li.a2 a:hover {background:url(../images/dslbox2.png) -422px -136px;}
ul#dslbox2 li.a2 a {background-position:-422px 0px;}
ul#dslbox2 li.a3 a:hover {background:url(../images/dslbox2.png) -644px -136px;}
ul#dslbox2 li.a3 a {background-position:-644px 0px;}
ul#dslbox2 li.a4 a:hover {background:url(../images/dslbox2.png)  left  -136px no-repeat;}
ul#dslbox2 li.a4 a {background:url(../images/dslbox2.png) left 0px;}
ul#dslbox2 li.a5 a:hover {background:url(../images/dslbox2.png)  right  -136px no-repeat;}
ul#dslbox2 li.a5 a {background:url(../images/dslbox2.png) right 0px;}

table#c0.fr25 tbody tr.odd td#element_4_td1,table#c1.fr25 tbody tr.odd td#element_154__td1{width:140px;}
td div.styled{width:195px; float:right;vertical-align:top}
a.fcp {outline:none; } a.fcp strong {line-height:30px;} a.fcp:hover {text-decoration:none;} 
a.fcp span { z-index:10;display:none;  padding:14px 20px; margin-top:-220px; margin-left:28px;width:300px; line-height:16px; } 
a.fcp:hover span{ display:inline; position:absolute; color:#111; border:1px solid #DCA; background:#fffAF0;} 
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;} /*CSS3 extras*/ 
a.fcp span { border-radius:4px; box-shadow: 5px 5px 8px #CCC; }
.start{border-bottom:1px solid #aaaaaa; margin:10px 0 20px 0; text-align:center;position:relative; height:22px;}
.start1{margin:20px 0;color:#aaaaaa;}
.tp-caption.start{border-bottom:0px solid #aaaaaa; }
#btnStart{background:#F00;cursor:pointer;color:#FFF; border:0px; font-size:12px; padding:5px 0;position:absolute; top:10px;left:40%}
input#sustainTime{margin-top:13px; background:url(../images/speed-test.png) right center no-repeat; width:325px;border:0px;display:unset}
.spt{-webkit-border-radius: 10px;border:1px solid #ff9a00;
-moz-border-radius: 10px;background: rgb(238, 238, 238);
background: -moz-linear-gradient(90deg, rgb(238, 238, 238) 3%, rgb(255, 255, 255) 70%);
background: -webkit-linear-gradient(90deg, rgb(238, 238, 238) 3%, rgb(255, 255, 255) 70%);
background: -o-linear-gradient(90deg, rgb(238, 238, 238) 3%, rgb(255, 255, 255) 70%);
background: -ms-linear-gradient(90deg, rgb(238, 238, 238) 3%, rgb(255, 255, 255) 70%);
background: linear-gradient(180deg, rgb(238, 238, 238) 3%, rgb(255, 255, 255) 70%);
border-radius: 10px;padding:0 15px; height:44px; float:right; margin:5px;line-height:44px}
#btnStart:hover{background:#009FE3;color:#FFF;}
#birds_category{width:120px; float:right;height:34px; background:#FFF;color:#000}
#element_142_td2 {outline:none; } #element_142_td2 strong {line-height:30px;} 
#element_142_td2:hover {text-decoration:none;} 
#element_142_td2 div { z-index:10;display:none;  padding:14px 20px; margin-top:-30px; margin-left:28px; line-height:16px; } 
#element_142_td2:hover div{ display:inline; position:absolute; color:#111; border:1px solid #DCA; background:#fffAF0;} 
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;} /*CSS3 extras*/ 
#element_142_td2 div { border-radius:4px; box-shadow: 5px 5px 8px #CCC; }
.cmanager { margin-top: -260px;right: 0;}

	@font-face {
	  font-family: 'asiatech';
	  src:  url('../fonts/asiatech.eot?min7hz');
	  src:  url('../fonts/asiatech.eot?min7hz#iefix') format('embedded-opentype'),
	    url('../fonts/asiatech.ttf?min7hz') format('truetype'),
	    url('../fonts/asiatech.woff?min7hz') format('woff'),
	    url('../fonts/asiatech.svg?min7hz#asiatech') format('svg');
	  font-weight: normal;
	  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] { font-family: 'asiatech' !important;speak: none; font-style: normal;font-weight: normal;font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale;}
.icon-bandwidth:before {content: "\e900";}
.icon-cancel:before {content: "\e901";}
.icon-cloud:before {content: "\e902";}
.icon-cloud-server:before {content: "\e903";}
.icon-data-center:before {content: "\e904";}
.icon-dedicate:before {content: "\e905";}
.icon-folder:before {content: "\e906";}
.icon-fwp:before {content: "\e907";}
.icon-internet:before {content: "\e908";}
.icon-ok:before {content: "\e909";}
.icon-packet:before {content: "\e90a";}
.icon-phone:before {content: "\e90b";}
.icon-public-wifi:before {content: "\e90c";}
.icon-sell:before {content: "\e90d";}
.icon-server:before {content: "\e90e";}
.icon-shared:before {content: "\e90f";}
.icon-Targets:before {content: "\e910";}
.icon-tell:before {content: "\e911";}
.icon-tv:before {content: "\e912";}
.icon-vps:before {content: "\e913";}
.icon-webshop:before {content: "\e914";}
.icon-wifi:before {content: "\e915";}
.icon-wifi1:before {content: "\e916";}
.icon-world:before {content: "\e917";}
.icon-www:before {content: "\e918";}
.icon-www1:before {content: "\e919";}
.inner-body{background: #fff;}
.innerpage{padding-top: 0px;}
.innerbanner{width: 100%;line-height:25px;height: 375px;	background-repeat: no-repeat;	background-size: cover;	background-position: center;	margin-bottom: 35px;}
.title-holder{width: 100%;	text-align: center;	margin-bottom: 30px;}
.title-holder i,.title-holder span{display: inline-block;	vertical-align: middle;	color: #5a5a5a;	font-size: 40px;}
.title-holder h2{display: inline-block;	vertical-align: middle;	color: #1a1a1a;	font-size: 26px;	margin: 0px 5px 0 0;}
.page-desc{ font-size: 13px;    color: #1a1a1a;    line-height: 28px;    margin-bottom: 45px;    font-weight: bold;}
.features-holder h3.title{   text-align: center;    font-size: 23px;    color: #1a1a1a;    margin-bottom: 45px; 	line-height: 37px;}
.features-holder .desc{font-size: 13px;	color: #1a1a1a;	text-align: center;	line-height: 28px;	margin-bottom: 45px;}	
.features-list{padding: 0px;}
.features-list li span{ position: relative;    display: block;    background: #f1f1f1;    margin-bottom: 8px;    margin-right: 10px;    padding: 6px 12px 10px 12px;    line-height: 22px;} 
.features-list li span:before{ content: "";    position: absolute;    top: calc(50% - 13px);    left: calc(100% + 10px);    -background: url('../img/list-arrow-red.png') no-repeat center center;    width: 14px;    height: 25px;}
.features-list li.red1 span:before{   background: url('../img/list-arrow-red.png') no-repeat center center;}
.features-list li.yellow span:before{ background: url('../img/list-arrow-yellow.png') no-repeat center center;}
.features-list li.blue span:before{   background: url('../img/list-arrow-blue.png') no-repeat center center;}
.features-list li.l1 span:before { background:url('http://www.asiatech.ir/cache/fck_files/icon/address.png') no-repeat  center center;}
.features-list li.l2 span:before{background:url('http://www.asiatech.ir/cache/fck_files/icon/phone.png') no-repeat  center center;}
.features-list li.l3 span:before {background: url('http://www.asiatech.ir/cache/fck_files/icon/suuport.png') no-repeat  center center;}
.features-list li.l4 span:before{ background:url('http://www.asiatech.ir/cache/fck_files/icon/fax.png') no-repeat  center center;}
.features-list li.l5 span:before { background:url('http://www.asiatech.ir/cache/fck_files/icon/mail.png') no-repeat  center center;}
.features-list li.l6 span:before{ background:url('http://www.asiatech.ir/cache/fck_files/icon/telegram.png') no-repeat  center center;}
.features-list li.l7 span:before {background:url('http://www.asiatech.ir/cache/fck_files/icon/insta.png') no-repeat  center center;}
#contcatb .features-list li span:before{width: 39px;    height: 31px;}

.order-section{width: 100%;	padding: 40px 0px 0px 0px; 	background: #FFF;}
.order-section-w{width: 100%;	padding: 40px 0px 3px 0px; 	background: #FFF;z-index:999;}
.order-section.redbg{ 	background: #c9252b;}
.order-section.blackbg{ background: #252525;	padding: 20px 0px 10px;}
.order-section .txt{text-align: center;	color: #fff;	font-size: 20px;	line-height: 51px; 	margin-bottom: 35px;	margin-top: 45px;z-index:-1;}
.order-section.blackbg .txt{ font-size: 17px;}
.order-section .link-btn{ z-index:-1;color: #00aeef;    font-size: 20px;    background: #fff;    margin: 0 auto;    width: 147px; margin-bottom: 55px;   display: block;    text-align: center;    padding: 6px 0px 10px 0px;    border-radius: 3px;}
.order-section.blackbg .link-btn{background: #00aeef;	color: #fff;	font-size: 16px;	width: 274px;	font-weight: bold;	margin-bottom: 8px; padding: 10px 0px 15px;}
.order-section.blackbg .txt{margin-bottom: 10px;}
.order-section.redbg .link-btn{color: #c9252b;}
.order-section.has-2btn{padding: 83px 0px; 	text-align: center;}
.order-section.has-2btn .link-btn { display: inline-block;    vertical-align: middle;    font-weight: bold;    font-size: 19px;    width: 173px;    padding: 12px 0 15px 0;    margin: 0px 10px;}
.package-tabs .nav-tabs{border:none;}
.package-tabs .nav-tabs>li{margin: 0px 0px 40px 0px;	text-align: center;}
.package-tabs .nav-tabs>li>a{position: relative; border: none ;	border-bottom: solid 1px #cbcbcb;	margin: 0px;	font-size: 16px; 	line-height: 34px;	color: #7d7c7c;	background: #fff;    white-space: nowrap;}
.package-tabs .nav>li>a:hover, .package-tabs .nav>li>a:focus{background: none !important;}
.package-tabs .nav-tabs>li.active>a, 
.package-tabs .nav-tabs>li.active>a:hover, 
.package-tabs .nav-tabs>li.active>a:focus{border: none ;	color: #ed1c24;	border-bottom: solid 1px #cbcbcb;}
.package-tabs .nav-tabs>li.active>a:after, 
.package-tabs .nav-tabs>li.active>a:hover:after, 
.package-tabs .nav-tabs>li.active>a:focus:after{ content: "";    position: absolute;    bottom: -12px;    right: calc(50% - 7px);    width: 23px;    height: 23px;    background: #fff;    transform: rotate(45deg);    border-right: solid 1px #cbcbcb;    border-bottom: solid 1px #cbcbcb;}
.package-tabs .table-detail{ border-spacing: 0px 4px;    border-collapse: inherit;}
.package-tabs .table-detail th{border: none;	color: #0095da;	text-align: center;font-size:11px; padding:5px;}
.package-tabs .table-detail td {border: solid 1px #d2d2d2;	text-align: center; 	border-left: none; 	color: #939393;		padding: 25px 10px;}
.package-tabs .table-detail td:last-child{border: solid 1px #d2d2d2;}
.package-tabs .table-detail td:first-child{border: none;	padding: 0px; }
.package-tabs .table-detail td:first-child .arrow-box{position: relative;	width: 110px;	margin-left: 23px;	border: solid 1px #d2d2d2;height:47px;}
.package-tabs .table-detail td:first-child .arrow-box:after{  content: "";    position: absolute;    top: calc(50% - 7px);    right: calc(100% - 7px);    width: 15px;    height: 15px;    background: #fff;    transform: rotate(45deg);    border-left: solid 1px #cbcbcb;    border-bottom: solid 1px #cbcbcb;}
.package-tabs .table-detail td .middle{display: flex;	align-items: center;	height: 100%;	width: 100%;}
.package-tabs .table-detail td .middle span{width: 100%;	text-align: center;}
.package-tabs .table-detail td i.ok{color: #25e025;	font-size: 24px;}
.package-tabs .table-detail td i.cancel{color: #ff0000;	font-size: 18px;}
.align-right{text-align: right !important;}
.align-center{text-align: center !important;}
.align-left{text-align: left !important;}
.sell-box {margin-bottom: 50px;}
.sell-box .boxes{float: right;	width: calc((100% / 7) - 12px);	border: solid 1px #e8e8e8;	margin: 5px; text-align: center;    display: flex;    align-items: center;    cursor: pointer;}
.sell-box .boxes .img-holder{width: 100%;	text-align: center;}
.sell-box .boxes .img-holder img{max-width: 100%;	max-height: 100%;	-webkit-filter: grayscale(100%);    filter: grayscale(100%);    transition: all 0.3s ease;}
.sell-box .boxes:hover img{-webkit-filter: grayscale(0%);    filter: grayscale(0%);    transition: all 0.3s ease;}
.sell-box .tooltip.bottom .tooltip-arrow{top: -2px;    left: calc(50% - 8px);    background: #fff;    width: 15px;    height: 15px;    border: none;    transform: rotate(-45deg);    border-right: solid 1px #d8d8d8 !important;    border-top: solid 1px #d8d8d8 !important;}    
.sell-box .tooltip-inner{padding: 20px 25px;	color: #a9dcfb;	background: #fff; 	border: solid 1px #ddd;}
.form-holder{margin-bottom: 40px;}
.form-holder .input-holder{position: relative;	width: 100%;	padding: 8px 10px; margin-bottom: 5px;	border: solid 1px #d7d7d7;}
.form-holder .input-holder i{color: #919191;	font-size: 21px;	vertical-align: middle;}
.form-holder .input-holder input{display: inline-block;	vertical-align: middle;	border: none;	margin-right: 8px;	width: calc(100% - 60px);}
.form-holder .input-holder input:focus{outline: none;}
.form-holder .input-holder textarea{width: 100%;	max-width: 100%;	border:none;}
.form-holder .input-holder.isfocus{border-color: #faa61a;}
.form-holder .input-holder.isfocus i{color: #faa61a;}
.struct-holder{margin: 60px 0 40px 0;	text-align: center;}
.struct-holder .boxes{float: right;	width: calc((100% / 5) - 5px);	text-align: center;	color: #6b6b6b;	overflow: hidden;}
.struct-holder .boxes i{  font-size: 78px;    color: #808080;}
.struct-holder .boxes h3{font-size: 18px;    font-family: arial;}
.struct-holder .boxes h4{   font-size: 17px;}
.struct-holder .link-btn{display: block;	width: 97px;	margin: 25px auto;	padding: 5px 0 7px 0;	font-size: 12px;	color: #6b6b6b;	border: dotted 1px #bbbbbb;	transition: all 0.3s ease;}.struct-holder .link-btn:hover{background: #faa61a;	color: #fff;	border: dotted 1px #faa61a;	transition: all 0.3s ease;}
.Client-box {margin-bottom: 50px;	text-align: center;}
.Client-box .boxes{float: right;	width: calc((100% / 5) - 40px);	margin: 0px 20px; 	text-align: center;    display: flex;    align-items: center;    cursor: pointer;}
.Client-box .boxes .img-holder{width: 100%;	text-align: center;}
.Client-box .boxes .img-holder img{max-width: 100%;	max-height: 100%;	opacity: 0.4;    transition: all 0.3s ease;}
.Client-box .boxes:hover img{opacity: 1;    transition: all 0.3s ease;}
.mb-0{margin-bottom: 0px !important;}
.gray-titlebox{width: 85%;	padding: 15px 10px;	background: #ececec;	text-align: center;	font-size: 11px;	color: #1a1a1a;	margin: auto;	font-weight: bold;}
.gray-titlebox a{color: #ed1c24;}
.helper-holder{margin-bottom: 30px;}
.helper-holder img{display: inline-block;	vertical-align: middle;}
.helper-holder .desc{display: inline-block;    vertical-align: top;    width: calc(100% - 213px);    font-size: 12px;    font-weight: bold;    text-align: justify;    margin-right: -70px;    line-height: 27px;    color: #6b6b6b;    margin-top: 177px;}
.service-places{padding-top: 75px;}
.service-places .box{position: relative;	height: 300px;	display: block;}
.service-places .box .overlay{display: flex;	align-items: center;	position: absolute;	top: 50%;	right: 50%;	left: 50%;	bottom: 50%;	background: rgba(0,0,0,0.6);    overflow: hidden;    transition: all 0.5s ease;}
.service-places .box .overlay h3{width: 100%;	text-align: center;	margin:0px;	color: #fff; 	font-size: 0px;	transition: all 0.5s ease;}

.service-places .box:hover .overlay{top: 0%;	right: 0%;	left: 0%;	bottom: 0%;	transition: all 0.5s ease;}
.service-places .box:hover .overlay h3{font-size: 21px;	transition: all 0.5s ease;}
.fwa-package-tabs .table-detail th{text-align: center;}
.fwa-package-tabs .table-detail td:first-child .arrow-box{width: auto;min-width:140px;min-height:42px;}
.fwa-package-tabs .table-detail td{  padding: 10px 10px;}
.fwa-package-tabs .table-detail td:last-child{padding: 0px;	border: none;	border-right: solid 1px #d2d2d2;width:142px }
.fwa-package-tabs button,.fwa-package-tabs .btn.btn-danger {  border-radius: 2px;    color: #fff;    font-size: 17px;    background-color: #5a5a5a;    line-height: 2.5;    width: 130px;    height: 46px;    border: none;    outline: none;    transition: all 0.5s ease;    -o-transition: all 0.5s ease;    -ms-transition: all 0.5s ease;    -moz-transition: all 0.5s ease;    -webkit-transition: all 0.5s ease;}
.fwa-package-tabs button:hover,.fwa-package-tabs .btn.btn-danger:hover{   background-color: #ed1c24;}
.package-tabs .table-detail.f4 td:first-child .arrow-box{height:32px;}
.fwa-package-tabs .table-detail.f4 td:first-child .arrow-box{width: auto;min-width:140px;min-height:32px;}
.fwa-package-tabs .table-detail.f4 td{  padding: 0px 10px;}
.fwa-package-tabs .table-detail.f4 td:last-child{width:42px }
.fwa-package-tabs .btn.btn-danger{width:32px;height:32px;text-align:center;color: #5a5a5a; background-color: #FFF; border: solid 1px #d2d2d2;padding:6px; }
.fwa-package-tabs .btn.btn-danger:hover{color:#FFF;}
.domain-info { text-align: center; }	
.domain-info > ul { padding-right: 0; }	
.domain-info > ul li > .dname,
.domain-info > ul li > .dprice {display: inline-block;min-width: 210px;border: 1px solid #ccc;border-radius: 2px;padding: 10px;margin:3px 10px;direction: ltr;font-size: 17px;color: #939393;}
.domain-info > ul li.first > div.title {display: inline-block;text-align: right;font-size: 14px;min-width: 210px;color: #0095da; margin: 0 13px;}
.domain-info > ul li.first > div.space {width: 130px;display: inline-block;}
.domain-info > ul li > .dname { position: relative; }
.domain-info > ul li > .dname:after {position: absolute;content: ''; width: 15px; height: 15px; left: -13px;top: 50%; transform: rotate(45deg) translateY(-50%);background-color: #fff; border-left: 1px solid #ccc; border-bottom: 1px solid #ccc;}
.domain-info > ul li > button {border-radius: 2px;color: #fff;font-size: 17px;background-color: #5a5a5a;line-height: 2.5;width: 130px;height: 46px;border: none;outline: none;transition: all 0.5s ease;-o-transition: all 0.5s ease;-ms-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-webkit-transition: all 0.5s ease;}	
.domain-info > ul li > button:hover { background-color: #ed1c24; }

.mobileVersionMenuButton { display: none; }
.bread-crumb { direction: rtl; border-top: 1px solid #ccc; height: 50px; overflow: hidden; }
.bread-crumb a { position: relative; line-height: 3; margin-left: 25px; color: #ccc; }
.bread-crumb a:hover { color: #333; }
.bread-crumb a:last-child:after { display: none; }
.bread-crumb a:after {content: ''; height: 10px; width: 10px; position: absolute; left: -21px;top: 50%; border-left: 1px solid #ccc;  border-bottom: 1px solid #ccc;transform: rotate(45deg) translateY(-50%);}
#contcatb{border-bottom:1px solid #cccccc;margin-bottom:0px; padding-top:20px;}
#contcatb .features-list li span{margin-bottom: 7px;}
#contcatb .features-holder h3.title{ color: #1a1a1a; font-size: 18px;line-height: 37px; margin-bottom: 15px;text-align: right;color:#6e6e70}
.slider4_item_img.borderi{border:1px solid #CCC;}
.title1.borderi{border-bottom:1px solid #ddd; font-size:13px; padding:10px 0;}
.slider4_item  p{text-align:justify;color:#888; direction:rtl; font-size:12px;}
.listTable { border: 1px solid #CCCCCC; border-collapse: separate !important; border-spacing: 0;font-size:12px; width: 100% !important;}
.listTable tr, .listTable tr.odd, .listTable tr:nth-child(2n+1) {background-color: #EEEEEE;border: medium none;color: #666666;}
.listTable tr.even, .listTable tr:nth-child(2n) { background-color: #DDDDDD;border-width: 0;color: #666666;}
.listTable tr:hover { background-color: #23afef; border-width: 0;color: #FFFFFF;}
.listTable th { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; background-color: #CCCCCC; border-color: #FFFFFF #FFFFFF #999999; border-image: none;border-style: solid;border-width: 1px; color: #333333;font-weight: bold; padding: 5px;text-align: center;}
.listTable td {border: 1px solid #FFFFFF; padding: 2px;  font-size:13px;}
.listTable td p{padding:0px;margin:0px;}
.information {padding: 5px 0px;margin-bottom: 10px;background: #D6EEEE;border: 1px solid #567EAE;/*-moz-border-radius:5px;*/text-align: center;color: #006699;}
.success {padding: 5px 0px;margin-bottom: 10px;background: #E4F1C9;border: 1px solid #A5BD71;text-align: center;color: #111;}
.warning {padding: 5px 0px;margin-bottom: 10px;background: #FFDFE0;border: 1px solid #FF9999;color: #111;}
.wait {padding: 5px 0px;margin-bottom: 10px;background: #FFF;border: 1px solid #C2C2C2;text-align: center;direction: rtl;}
.required {color: #FF0000;font-weight: bold;direction: rtl;text-align: right;}
.error {color: #FF0000;display: block;direction: rtl;text-align: right;}
.pagination {margin-top: 30px;display: inline-block;width: 100%; text-align:center}
.pagination .links, .pagination .results {padding: 9px;}
.pagination .links {}
.pagination .links a {border: 1px solid #E7010B;padding: 1px 7px;text-decoration: none;color: #FFFFFF;background:#E7010B;}
.pagination .links b,.pagination .links a:hover {border: 1px solid #f89f16;padding: 1px 7px;text-decoration: none;color: #FFFFFF;background:#f89f16;}
.pagination .results {float: right;}
.bread{ background:#c2c2c2; margin-top:0px; color:#323232; font-size:11px;transition: all 0s ease;	-o-transition: all 0s ease;	-ms-transition: all 0s ease;	-moz-transition: all 0s ease;	-webkit-transition: all 0s ease;}
.bread a{color:#323232;transition: all 0s ease;	-o-transition: all 0s ease;	-ms-transition: all 0s ease;	-moz-transition: all 0s ease;	-webkit-transition: all 0s ease;}
.bread a:hover{color:#ED212B;}
/* Breadcrumbs from http://bootsnipp.com/snippets/featured/triangle-breadcrumbs-arrows */
.btn-breadcrumb .btn:after {content: " ";display: block;width: 0;height: 0;border-top: 14px solid transparent;border-bottom: 14px solid transparent;border-right: 8px solid #c2c2c2;position: absolute;top: 50%;margin-top: -14px;right: 100%;z-index: 3;}
.btn-breadcrumb .btn:before {content: " ";display: block;width: 0;height: 0;border-top: 14px solid transparent;border-bottom: 14px solid transparent;border-right: 8px solid #D6D6D6;position: absolute;top: 50%;margin-top: -14px;margin-right: 1px;right: 100%;z-index: 3;}
.btn-default{background:#c2c2c2; border-color:#c2c2c2;white-space: nowrap}
.btn-default:hover{border-color:#D6D6D6}
.btn-breadcrumb .btn {padding:3px 15px 3px 15px;line-height:22px;}
.btn-breadcrumb .btn:first-child {padding:3px 15px 3px 15px;}
.btn-breadcrumb .btn:last-child {padding:3px 15px 3px 15px;}
/** Default button **/
.btn-breadcrumb .btn.btn-default:after {border-right: 7px solid #c2c2c2;}
.btn-breadcrumb .btn.btn-default:before {border-right: 7px solid #D6D6D6;}
.btn-breadcrumb .btn.btn-default:hover:after {border-right: 7px solid #D6D6D6;}
.btn-breadcrumb .btn.btn-default:hover:before {border-right: 7px solid #c2c2c2;}
/* The responsive part */
.btn-breadcrumb > * > div { white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis; font-size:12px;   }
.btn-breadcrumb > *:nth-child(n+2) {display:none;}
#mobwifi{/* height:300px; overflow-y:scroll;padding-bottom:30px;margin-bottom:25px; */}
#shiva{ width: 150px;height: 150px;background: none; border:1px solid #FFF;-moz-border-radius: 50%;-webkit-border-radius:50%;border-radius: 50%;margin:20px auto; text-align:center; font-size:30px;}
.count{  line-height: 150px;  color:white;  text-align:center;   font-size:60px;}
.conutf{  line-height: 190px; color:white;font-size:20px;}
/* === For phones =================================== */
@media (max-width: 767px) {  .btn-breadcrumb > *:nth-last-child(-n+2) {      display:block;  } .btn-breadcrumb > * div {      max-width: 60px;  }}
/* === For tablets ================================== */
@media (min-width: 768px) and (max-width:991px) {  .btn-breadcrumb > *:nth-last-child(-n+4) {      display:block;  } .btn-breadcrumb > * div {      max-width: 100px;  }}
/* === For desktops ================================== */
@media (min-width: 992px) {  .btn-breadcrumb > *:nth-last-child(-n+6) {      display:block;  }  .btn-breadcrumb > * div {      max-width: 170px;  }
}


/*------------------------------- Responsive ---------------------------*/
/*------------------------------- Responsive ---------------------------*/
@media screen and (max-width:1199px) {	
.features-sec  .feature {  }	
.anim-slider { height: 500px; }
footer{width:100%;}
}
@media screen and (max-width:992px) {	
.bannercontainer{margin-top:63px;}
footer .foot-col { width: calc(25% - 40px); }	
.features-sec  .feature { }	
.navbar-left { display: none; }	
.anim-slider { height: 400px; }	
#ban{margin-top:50px;}	
#fr{display:none;}	
.navbar-brand > img{width:119px;}
.navbar-header{width:auto;}	
#moa,.nav-sections,#tour-main-nav{display:none;}
.moa{display:block}
.mobileVersionMenuButton { display: inline-block;width: 100%; cursor: pointer;padding: 0 15px; }
.mobileVersionMenuButton #mmobile{height:300px; overflow-y:scroll;margin:0 14px 0 0px}
#cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a,#cssmenu #menu-button {display:none;direction:rtl;margin: 0; padding: 0; border: 0; list-style: none; line-height: 1; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#cssmenu:after,
#cssmenu > ul:after {content: "."; display: none; clear: both; visibility: hidden; line-height: 0; height: 0;}
#cssmenu #menu-button {display: none;}
#cssmenu {width: auto;line-height: 1;}
#menu-line {position: absolute;top: 0;left: 0;height: 3px;background: #da1f26;-webkit-transition: all 0.25s ease-out;-moz-transition: all 0.25s ease-out;-ms-transition: all 0.25s ease-out;-o-transition: all 0.25s ease-out;transition: all 0.25s ease-out;}
#cssmenu > ul > li {float: left;}
#cssmenu > ul > li > a {padding: 10px;text-decoration: none;text-transform: uppercase;color: #000000;-webkit-transition: color .2s ease;-moz-transition: color .2s ease;-ms-transition: color .2s ease;-o-transition: color .2s ease;transition: color .2s ease;}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {color: #da1f26;}
#cssmenu > ul > li.has-sub > a {padding-right: 25px;}
#cssmenu > ul > li.has-sub > a::after {position: absolute;top: 21px;right: 10px;width: 4px;height: 4px;border-bottom: 1px solid #000000;border-right: 1px solid #000000;content: "";-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);-webkit-transition: border-color 0.2s ease;-moz-transition: border-color 0.2s ease;-ms-transition: border-color 0.2s ease;-o-transition: border-color 0.2s ease;transition: border-color 0.2s ease;}
#cssmenu > ul > li.has-sub:hover > a::after {border-color: #da1f26;}
#cssmenu ul ul {position: absolute;left: -9999px;}
#cssmenu li:hover > ul {left: auto;}
#cssmenu ul ul ul {margin-left: 100%;top: 0;}
#cssmenu ul ul li {padding-right:15px;height: 0;-webkit-transition: height .2s ease;-moz-transition: height .2s ease;-ms-transition: height .2s ease;-o-transition: height .2s ease;transition: height .2s ease;}
#cssmenu ul li:hover > ul > li {height: 32px;}
#cssmenu ul ul li a {padding: 10px 20px;width: 160px;font-size: 12px;background: #333333;text-decoration: none;color: #dddddd;-webkit-transition: color .2s ease;-moz-transition: color .2s ease;-ms-transition: color .2s ease;-o-transition: color .2s ease;transition: color .2s ease;}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {color: #ffffff;}
#cssmenu ul ul li.has-sub > a::after {position: absolute;top: 13px;right: 10px;width: 4px;height: 4px;border-bottom: 1px solid #dddddd;border-right: 1px solid #dddddd;content: "";-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);-webkit-transition: border-color 0.2s ease;-moz-transition: border-color 0.2s ease;-ms-transition: border-color 0.2s ease;-o-transition: border-color 0.2s ease;transition: border-color 0.2s ease;}
#cssmenu ul ul li.has-sub:hover > a::after {border-color: #ffffff;}

#cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a,#cssmenu #menu-button{display:block}
#cssmenu {width: 100%;}
#cssmenu ul {width: 100%;clear:both;display: none;}
#cssmenu.align-center > ul,
#cssmenu.align-right ul ul {text-align: left;}
#cssmenu ul li,
#cssmenu ul ul li,
#cssmenu ul li:hover > ul > li {width: 100%;height: auto;border-top: 1px solid rgba(120, 120, 120, 0.15);}
#cssmenu ul li a,
#cssmenu ul ul li a {width: 100%;}
#cssmenu > ul > li,
#cssmenu.align-center > ul > li,
#cssmenu.align-right > ul > li {float: none;display: block;}
#cssmenu ul ul li a {padding: 10px 20px 10px 30px;font-size: 12px;color: #000000;background: none;}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {color: #000000;}
#cssmenu ul ul ul li a {padding-left: 40px;}
#cssmenu ul ul,
#cssmenu ul ul ul {position: relative;left: 0;right: auto;width: 100%;margin: 0;}
#cssmenu > ul > li.has-sub > a::after,
#cssmenu ul ul li.has-sub > a::after {display: none;} 
#menu-line {display: none;}
#cssmenu #menu-button {width: 30px; height: 24px; position: relative; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .5s ease-in-out; -moz-transition: .5s ease-in-out; -o-transition: .5s ease-in-out; transition: .5s ease-in-out; cursor: pointer; 
display: block;padding: 17px;color: #000000;cursor: pointer;border-radius:3px;border:0px solid #706F6F;margin-left:10px;margin-top:15px; float:left;font-size: 12px;text-transform: uppercase;}
#cssmenu .submenu-button{position: absolute;z-index: 10;left: 0;top: 0;display: block;border-right: 1px solid rgba(120, 120, 120, 0.15);height: 32px;width: 32px;cursor: pointer;}
#cssmenu .submenu-button::after{content: '';position: absolute;top: 11px;left: 16px;display: block;width: 1px;height: 11px;background: #706F6F;z-index: 99;}
#cssmenu .submenu-button::before{content: '';position: absolute;left: 11px;top: 16px;display: block;width: 11px;height: 1px;background: #706F6F; z-index: 99;}
#cssmenu .submenu-button.submenu-opened:after{display: none;}
#cssmenu.mobileVersionMenuButton ul.open{padding-top:15px;}


#menu-button span {display: block; position: absolute; height: 9px; width: 100%; background: #d3531a; border-radius: 9px; opacity: 1; left: 0; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .25s ease-in-out; -moz-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out;}
#menu-button span {display: block; position: absolute; height: 5px; width: 50%; background: #e30613; opacity: 1; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .25s ease-in-out; -moz-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out;}
#menu-button span:nth-child(even) {left: 50%; border-radius: 0 9px 9px 0;}
#menu-button span:nth-child(odd) {left:0px; border-radius: 9px 0 0 9px;}
#menu-button span:nth-child(1), #menu-button span:nth-child(2) {top: 0px;}
#menu-button span:nth-child(3), #menu-button span:nth-child(4) {top: 9px;}
#menu-button span:nth-child(5), #menu-button span:nth-child(6) {top: 18px;}
#menu-button.menu-opened span:nth-child(1),#menu-button.menu-opened span:nth-child(6) {-webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);}
#menu-button.menu-opened span:nth-child(2),#menu-button.menu-opened span:nth-child(5) {-webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg);}
#menu-button.menu-opened span:nth-child(1){left: 2px; top: 5px;}
#menu-button.menu-opened span:nth-child(2) {left: calc(50% - 5px); top: 5px;}
#menu-button.menu-opened span:nth-child(3) {left: -50%; opacity: 0;}
#menu-button.menu-opened span:nth-child(4) {left: 100%; opacity: 0;}
#menu-button.menu-opened span:nth-child(5) {left: 2px; top: 15px;}
#menu-button.menu-opened span:nth-child(6) {left: calc(50% - 5px); top: 15px;}
.menuButtonText {float: left; margin: 10px 0 10px 0; width: 50%; height: 24px; line-height: 24px; text-align: left;}
.menuButtonText p { font-size: 16px;font-weight: bold;font-style: normal;}
}
@media screen and (max-width:767px) {	
.top-slider { margin-top: 50px; }	
footer .foot-col,footer .foot-col-40 { width: 48%; }	
footer img.enamad { margin: 0 auto; }	
.navbar-brand > img { width: 100px; }	
.nav-main.stucked .navbar-brand > img { width: 100px; }	
.nav-main .navbar-nav > li > a { line-height: 20px; }	
.nav-main .navbar-nav > li > a:after { content: ''; }	
.features-sec  .feature { }	
.anim-slider .anim-arrows-next,	.anim-slider .anim-arrows-prev { width: 30px; height: 30px; }
#tour-main-nav{float:left}
.navbar-header{float:right}
nav.nav-secondary {top:55px;}
#ie7_slider{margin-top:51px;}
#shiva{ width: 70px;height: 70px;background: none; border:1px solid #FFF;-moz-border-radius: 50%;-webkit-border-radius:50%;border-radius: 50%;margin:20px auto; text-align:center; font-size:20px;}
.count{  line-height: 70px;  color:white;  text-align:center;   font-size:30px;}
.conutf{  line-height: 110px; color:white;font-size:16px;}
}
@media screen and (max-width:499px) {	
footer .foot-col,footer .foot-col-40 { width:95%; }	
.features-sec  .feature { }	
.carousel-sec .carousel-name,.tioy{ display: none; }	
.carousel-sec .carousel-caption p { display: none; }	/*.carousel-sec .carousel:hover .carousel-caption { transform: translateY(-40%); }*/	
.carousel-sec .sliderTxt > span { font-size: 20px; }
.nav.navbar-nav.nav-sections li {padding:0px;background:none;}
.nav-main .navbar-nav > li::after{padding:0px;background:none;font-size:0px;}
.nav.navbar-nav.nav-sections li a{padding:0 1px;background:none;}
.navbar-brand { margin-left: 0px !important;padding: 0px;}
#tour-main-nav{padding:0px;}
.nav-main .navbar-nav > li > a{font-size:13px;}
.navbar-header {  min-width: auto;}
.navbar-nav{margin:0px;}
/* #mobwifi{display:none} */
.conutf{  line-height: 110px; color:white;font-size:10px;}
.domain-info ul li.first{ display: none; }	
.domain-info{ border:0px; }	
.table-responsive {
    width:100%;
    overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}
}