

/* the container */
.parallax_mouseinteraction {position:relative; direction: ltr;}
.parallax_mouseinteraction img {max-width:none;max-height:none;}
.parallax_mouseinteraction_list {margin:0;padding:0;list-style:none;display:none;}
.parallax_mouseinteraction .contentHolderVisibleWrapper {position:absolute;overflow:hidden;}
.parallax_mouseinteraction .contentHolder {position:absolute;}
.parallax_mouseinteraction .contentHolderUnit {float:left;display:block;overflow:hidden;}
.mycanvas {position:absolute;top:8px;right:10px;z-index:10;}
.myloader {background:url(skins/mouseinteraction/loader.gif);width:37px;height:37px;position:absolute;left:49%;top:49%;z-index:5;}
.fixedBackground {position:absolute;z-index:0;}


.parallax_mouseinteraction.bullets .bottomNavLeft {position:absolute;width:0px;display:none;background:#F00;height:24px;bottom:5px;z-index:3;}
.parallax_mouseinteraction.bullets .bottomNavRight {position:absolute;width:0px;display:none;height:24px;background:#F00;bottom:5px;z-index:3;}
.parallax_mouseinteraction.bullets .bottomOverThumb {position:absolute;width:88px;height:95px;background:none;bottom:25px;margin-left:-44px}
.parallax_mouseinteraction.bullets .innerBottomOverThumb {position:relative;width:80px;height:80px;margin:4px 0 0 4px;overflow:hidden;}
.parallax_mouseinteraction.bullets .bottomOverThumb img {}
.parallax_mouseinteraction.bullets .playOver {position:absolute;width:73px;height:73px;display:none;z-index:4;cursor: pointer;}
.parallax_mouseinteraction.bullets .playOver:hover {background:url(images/play_overON.png) 0 0 no-repeat;display:none;z-index:4;cursor: pointer;}

.parallax_mouseinteraction.bullets .bottomNav {-moz-border-radius-topright: 5px;
-webkit-border-top-right-radius: 5px;
border-top-right-radius: 5px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-right-radius: 5px;
border-bottom-right-radius: 5px; height:355px;direction: ltr;position:absolute;top:10%;left:0px;z-index:101;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);opacity:0.9}
.parallax_mouseinteraction.bullets .bottomNavButtonOFF {cursor: pointer;border-bottom:1px solid #e8e8e8;font-size:18px;font-family:"WebYekan";background:#fff;overflow:hidden;text-decoration:none;*zoom:1;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFFFFFFF', endColorstr='#FFF2F2F2');background-image:-webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));background-image:-webkit-linear-gradient(left, #ffffff, #f2f2f2);background-image:-moz-linear-gradient(left, #ffffff, #f2f2f2);background-image:-o-linear-gradient(left, #ffffff, #f2f2f2);background-image:linear-gradient(left, #ffffff, #f2f2f2);-webkit-transition-property:letters-pacing, padding, font-size;-moz-transition-property:letters-pacing, padding, font-size;-o-transition-property:letters-pacing, padding, font-size;transition-property:letters-pacing padding font-size;-webkit-transition-duration:0.2s;-moz-transition-duration:0.2s;-o-transition-duration:0.2s;transition-duration:0.2s;-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;height:41px;display:block;padding-left:45px;line-height:40px;color:transparent;letter-spacing:-18px;text-indent:0;width:0;font-size:0}

.parallax_mouseinteraction.bullets .bottomNavButtonOFF .icon{cursor: pointer;z-index:11;top:0;left:0;display:block;position:absolute;width:45px;height:40px;margin-right:15px;background:url(images/nav/main-nav-bg.png) no-repeat;
}
.parallax_mouseinteraction.bullets .bottomNavButtonOFF:hover{letter-spacing:0;font-size:16px;padding-right:15px;padding-left:55px;width:auto;color:#2679b5;
-moz-border-radius-topright:3px;-webkit-border-top-right-radius:3px;border-top-right-radius:3px;-moz-border-radius-bottomright:3px;-webkit-border-bottom-right-radius:3px;border-bottom-right-radius:3px;-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px -1px;-moz-box-shadow:rgba(0,0,0,0.2) 0 1px -1px;box-shadow:rgba(0,0,0,0.2) 0 1px -1px	
}
.parallax_mouseinteraction.bullets .bottomNavButtonON {}
.parallax_mouseinteraction .bottomNav .bottomNavButtonOFF:first-child .icon{background-position:0 0;background:url(images/nav/main-nav-bg.png) no-repeat;
-moz-border-radius-topright:3px;-webkit-border-top-right-radius:3px;border-top-right-radius:3px}

.parallax_mouseinteraction .bottomNav .bottomNavButtonOFF:first-child .icon:hover {background-position:-45px 0}

.parallax_mouseinteraction .bottomNav .bottomNavButtonOFF:first-child:first-child + .bottomNavButtonOFF .icon{background:url(images/nav/main-nav-bg.png) no-repeat;
 background-position:0 -51px; top:41px; }
.parallax_mouseinteraction .bottomNav .bottomNavButtonOFF:first-child:first-child + .bottomNavButtonOFF .icon:hover{
 background-position:-45px -51px }
.parallax_mouseinteraction .bottomNav .bottomNavButtonOFF:first-child + .bottomNavButtonOFF + .bottomNavButtonOFF .icon{background:url(images/nav/main-nav-bg.png) no-repeat;
 background-position:0 -103px; top:83px;}
.parallax_mouseinteraction .bottomNav .bottomNavButtonOFF:first-child + .bottomNavButtonOFF +.bottomNavButtonOFF .icon:hover{
 background-position:-45px -103px}
.parallax_mouseinteraction .bottomNav .bottomNavButtonOFF:first-child + .bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF .icon{background:url(images/nav/main-nav-bg.png) no-repeat;
 background-position:0 -155px;top:125px; }
.parallax_mouseinteraction .bottomNav .bottomNavButtonOFF:first-child + .bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF .icon:hover{
 background-position:-45px -155px }
.parallax_mouseinteraction .bottomNav .bottomNavButtonOFF:first-child:first-child + .bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF .icon{background:url(images/nav/main-nav-bg.png) no-repeat;
background-position:0 -207px;top:167px;}
.parallax_mouseinteraction .bottomNav .bottomNavButtonOFF:first-child:first-child + .bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF .icon:hover{
background-position:-45px -207px }
.parallax_mouseinteraction .bottomNav .bottomNavButtonOFF:first-child + .bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF .icon{background:url(images/nav/main-nav-bg.png) no-repeat;
background-position:0 -259px;top:209px;}
.parallax_mouseinteraction .bottomNav .bottomNavButtonOFF:first-child + .bottomNavButtonOFF +.bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF .icon:hover{
background-position:-45px -259px}
.parallax_mouseinteraction .bottomNav .bottomNavButtonOFF:first-child + .bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF+ .bottomNavButtonOFF .icon{background:url(images/nav/main-nav-bg.png) no-repeat;
 background-position:0 -311px;top:251px}
.parallax_mouseinteraction .bottomNav .bottomNavButtonOFF:first-child + .bottomNavButtonOFF +.bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF .icon:hover{
background-position:-45px -311px;}
 .parallax_mouseinteraction .bottomNav .bottomNavButtonOFF:first-child + .bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF+ .bottomNavButtonOFF .icon{background:url(images/nav/main-nav-bg.png) no-repeat;
 background-position:0 -361px;top:291px}
.parallax_mouseinteraction .bottomNav .bottomNavButtonOFF:first-child + .bottomNavButtonOFF +.bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF .icon:hover{
background-position:-45px -361px;}
 
  .parallax_mouseinteraction .bottomNav .bottomNavButtonOFF:first-child + .bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF+ .bottomNavButtonOFF+ .bottomNavButtonOFF .icon{background:url(images/nav/main-nav-bg.png) no-repeat;
 background-position:0 -421px;top:341px}
.parallax_mouseinteraction .bottomNav .bottomNavButtonOFF:first-child + .bottomNavButtonOFF +.bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF+ .bottomNavButtonOFF .icon:hover{
background-position:-45px -421px;}
 /*.parallax_mouseinteraction .bottomNav .bottomNavButtonOFF:first-child + .bottomNavButtonOFF +.bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF + .bottomNavButtonOFF .icon:hover{
background-position:0px -360px;}*/

 
/***bullets SKIN***/
.parallax_mouseinteraction.bullets .bannerControls {position:absolute;left:0;top:0;/*z-index:1;*/z-index:9999995;width:100%;}
.parallax_mouseinteraction.bullets .leftNav {position:absolute;left:60px;width:26px;height:82px;background:url(skins/mouseinteraction/thumbs/leftNavOFF.png) 0 0 no-repeat;cursor: pointer;}
.parallax_mouseinteraction.bullets .leftNav:hover {background:url(skins/mouseinteraction/thumbs/leftNavON.png) 0 0 no-repeat;}
.parallax_mouseinteraction.bullets .rightNav {position:absolute;right:50px;	width:26px;height:82px;background:url(skins/mouseinteraction/thumbs/rightNavOFF.png) 0 0 no-repeat;cursor: pointer;}
.parallax_mouseinteraction.bullets .rightNav:hover {background:url(skins/mouseinteraction/thumbs/rightNavON.png) 0 0 no-repeat;}
.bottomNavButtonON{z-index:99999999999999}

/***thumbs SKIN***/
.parallax_mouseinteraction.thumbs .bannerControls {position:absolute;left:0;top:0;/*z-index:1;*/
	z-index:5;width:100%;}
.parallax_mouseinteraction.thumbs .leftNav {position:absolute;left:18px;	width:26px;height:82px;background:url(skins/mouseinteraction/thumbs/leftNavOFF.png);cursor: pointer;}
.parallax_mouseinteraction.thumbs .leftNav:hover {background:url(skins/mouseinteraction/thumbs/leftNavON.png) 0 0 no-repeat;}
.parallax_mouseinteraction.thumbs .rightNav {position:absolute;right:18px;width:26px;height:82px;background:url(skins/mouseinteraction/thumbs/rightNavOFF.png) 0 0 no-repeat;cursor: pointer;}
.parallax_mouseinteraction.thumbs .rightNav:hover {background:url(skins/mouseinteraction/thumbs/rightNavON.png) 0 0 no-repeat;}
.parallax_mouseinteraction.thumbs .bottomNav {position:absolute;width:0px;height:24px;bottom:-35px;z-index:3;padding-left:9px;}
.parallax_mouseinteraction.thumbs .bottomNavButtonOFF {float:left;display:block;width:14px;height:14px;background:url(skins/mouseinteraction/thumbs/bottomNavOFF.png) 0 0 no-repeat;padding-left:9px;cursor: pointer;}
.parallax_mouseinteraction.thumbs .bottomNavButtonON {float:left;display:block;width:14px;height:14px;padding-left:9px;background:url(skins/mouseinteraction/thumbs/bottomNavON.png) 0 0 no-repeat;cursor: pointer;}
.parallax_mouseinteraction.thumbs .bottomNavLeft {position:absolute;width:0px;display:none;background:#F00;height:51px;bottom:5px;z-index:3;}
.parallax_mouseinteraction.thumbs .bottomNavRight {position:absolute;width:0px;display:none;height:51px;background:#F00;bottom:5px;z-index:3;}
.parallax_mouseinteraction.thumbs .bottomOverThumb {position:absolute;width:61px;height:41px; padding-left:10px;background:url(skins/mouseinteraction/thumbs/bottomOverThumbBg.png) 0px 0px no-repeat;bottom:0px;margin-left:-44px;}
.parallax_mouseinteraction.thumbs .innerBottomOverThumb {position:relative;width:80px;height:80px;margin:4px 0 0 4px;overflow:hidden;}
.parallax_mouseinteraction.thumbs .bottomOverThumb img {}
.parallax_mouseinteraction.thumbs .playOver {position:absolute;width:73px;height:73px;background:none;display:none;z-index:4;cursor: pointer;}
.parallax_mouseinteraction.thumbs .playOver:hover {background:url(skins/mouseinteraction/thumbs/play_overON.png) 0 0 no-repeat;display:none;z-index:4;cursor: pointer;}
/* thumbs */
.parallax_mouseinteraction.thumbs .thumbsHolderWrapper {position:absolute;height:135px;width:100%;overflow:hidden;padding:0;z-index:999999;}
.parallax_mouseinteraction.thumbs .thumbsHolderVisibleWrapper {position:absolute;width:100%;height:135px;overflow:hidden;}
.parallax_mouseinteraction.thumbs .thumbsHolder {position:absolute;	}
.parallax_mouseinteraction.thumbs .thumbsHolder_ThumbOFF {float:left;display:block;width:51px; height:41px;cursor: pointer;}
.parallax_mouseinteraction.thumbs .thumbsHolder_ThumbOFF img {position:relative;}
.parallax_mouseinteraction.thumbs .thumbsHolder_ThumbON {background:url(skins/mouseinteraction/thumbs/thumbActiveArrow.png) center 0px no-repeat;}
.parallax_mouseinteraction.thumbs .thumbsHolder_ThumbON img {position:relative;}

.parallax_mouseinteraction.thumbs .carouselLeftNav {position:absolute;width:16px;height:135px;background:url(skins/mouseinteraction/thumbs/carouselLeftNavOFF.png) 0 0 no-repeat;cursor: pointer;}
.parallax_mouseinteraction.thumbs .carouselLeftNav:hover {background:url(skins/mouseinteraction/thumbs/carouselLeftNavON.png) 0 0 no-repeat;}
.parallax_mouseinteraction.thumbs .carouselLeftNavDisabled {background:url(skins/mouseinteraction/thumbs/carouselLeftNavDisable.png) 0 0 no-repeat;cursor:default;}.parallax_mouseinteraction.thumbs .carouselLeftNavDisabled:hover {background:url(skins/mouseinteraction/thumbs/carouselLeftNavDisable.png) 0 0 no-repeat;}
.parallax_mouseinteraction.thumbs .carouselRightNav {position:absolute;width:16px;height:135px;background:url(skins/mouseinteraction/thumbs/carouselRightNavOFF.png) 0 0 no-repeat;cursor: pointer;}
.parallax_mouseinteraction.thumbs .carouselRightNav:hover {background:url(skins/mouseinteraction/thumbs/carouselRightNavON.png) 0 0 no-repeat;}
.parallax_mouseinteraction.thumbs .carouselRightNavDisabled {background:url(skins/mouseinteraction/thumbs/carouselRightNavDisable.png) 0 0 no-repeat;cursor:default;}.parallax_mouseinteraction.thumbs .carouselRightNavDisabled:hover {background:url(skins/mouseinteraction/thumbs/carouselRightNavDisable.png) 0 0 no-repeat;}









/***********Text Styles***********/
.parallax_mouseinteraction_texts {position:absolute;z-index:2;/*display: none;*/
	width:100%;}.parallax_mouseinteraction_text_line {position:absolute;display: none;}

/****thumbs Texts***/

.textElement11_thumbs {xwidth: 25%;font: bold 32px/38px 'Droid Sans', Verdana, Helvetica, sans-serif;text-transform:uppercase;color:#FFFFFF;}
.textElement11_thumbs a {font: 'Droid Sans', Verdana, Helvetica, sans-serif;color:#FFFFFF;text-decoration:none;}
.textElement11_thumbs a:hover {text-decoration:underline;}

.textElement12_thumbs {font: 14px/20px 'Droid Sans', Verdana, Helvetica, sans-serif;color:#ffffff;width:23%;}

.textElement12_thumbs a {font: 'Droid Sans', Verdana, Helvetica, sans-serif;color:#FFFFFF;text-decoration:underline;}
.textElement12_thumbs a:hover {color:#d7151e;text-decoration:underline;}

.textElement30_thumbs {font: bold 24px/32px 'Lato', Verdana, Helvetica, sans-serif;text-transform:uppercase;color:#d51220;}
.textElement31_thumbs {font: bold 60px/66px 'Lato', Verdana, Helvetica, sans-serif;text-transform:uppercase;color:#FFFFFF;}
.textElement31_thumbs a {font: 'Lato', Verdana, Helvetica, sans-serif;color:#FFFFFF;text-decoration:none;}
.textElement31_thumbs a:hover {text-decoration:underline;}
.textElement32_thumbs {font: 14px/21px 'Droid Sans', Verdana, Helvetica, sans-serif;text-transform:uppercase;color:#ffffff;width:26%;}



.slogan { color: #FFFFFF; line-height:45px; font-size: 45px;font-family:'WebYekan'; text-shadow: 0 0 5px #000000;DIRECTION:RTL;}
.counterHolder {background: url("images/trans4.png") repeat scroll 0 0 rgba(0, 0, 0, 0); color: #F6F6F6; display: inline-block;font-family:'WebYekan'; font-size: 26px;margin-top:10px;  padding: 5px 10px;}


/****thumbsFullWidth Texts***/

.textElement11_thumbsFW {xwidth: 25%;font: bold 48px/53px 'Droid Sans', Verdana, Helvetica, sans-serif;text-transform:uppercase;color:#FFFFFF;}
.textElement11_thumbsFW a {font: 'Droid Sans', Verdana, Helvetica, sans-serif;color:#FFFFFF;text-decoration:none;}
.textElement11_thumbsFW a:hover {text-decoration:underline;}
.textElement12_thumbsFW {font: 24px/32px 'Droid Sans', Verdana, Helvetica, sans-serif;color:#ffffff;xwidth:23%;}
.textElement12_thumbsFW a {font: 'Droid Sans', Verdana, Helvetica, sans-serif;color:#FFFFFF;text-decoration:underline;}
.textElement12_thumbsFW a:hover {color:#d7151e;text-decoration:underline;}
.textElement30_thumbsFW {font: bold 28px/38px 'Lato', Verdana, Helvetica, sans-serif;text-transform:uppercase;color:#d51220;}
.textElement31_thumbsFW {font: bold 77px/84px 'Lato', Verdana, Helvetica, sans-serif;text-transform:uppercase;color:#FFFFFF;}
.textElement31_thumbsFW a {font: 'Lato', Verdana, Helvetica, sans-serif;color:#FFFFFF;text-decoration:none;}
.textElement31_thumbsFW a:hover {text-decoration:underline;}
.textElement32_thumbsFW {font: 25px/34px 'Droid Sans', Verdana, Helvetica, sans-serif;text-transform:uppercase;color:#ffffff;width:24%;}.hideElement {display:none;}
