@charset 'utf-8';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	font-family:Tahoma;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
ul {
	list-style: none;
}
li {
	font-size:0px;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}
input, textarea, select, a {outline:0px;}
textarea {resize:none; overflow:auto;}

aside, article, footer, header, nav, section {display:block;}

/* defaults end */
html, body {height:100%; direction:rtl}
body {}
body, a {font-family:Tahoma, Arial,; font-size:12px; color:#333;}
	

.clearboth {width:100%; height:0px; line-height:0px; display:block; clear:both; overflow:hidden; font-size:0px;}


a {text-decoration:none; font-family:Tahoma}
a:hover {text-decoration:none}

h3 {font-size:12px; line-height:14px; }

/* ===================================================================== */

.radius { -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px; border-radius:5px; }
.clear {clear:both}


#header {
	width:100%;
	height:80px;
	background-color:#ffffff;

	margin:auto;
	color:#eaeaea;
	
	-webkit-box-shadow:0 4px 12px rgba(0,0,0,.176); 
-ms-box-shadow:0 4px 12px rgba(0,0,0,.176); 
 box-shadow:0 4px 12px rgba(0,0,0,.176)
}

.tsearch {display:inline; margin-right:10px}
.tsearch input[type="text"] {width:490px; height:33px; color:#e6e6e6; background:#dddddd; border:none; color:#333; font-family:Tahoma; padding:0 7px 0 7px}
.tsearch input[type="button"] {display:inline-block; background:url(../images/sbicon.png); width:24px; height:24px; border:none; margin: 7px -30px 0 0; position:absolute; cursor:pointer}

.menu_top { width:950px; margin:auto; display:block }
.menu_top .right_menu {float:right; text-align:right; width:709px; height:100%; margin-top:15px}
.button {height:32px; width:auto; border:1px solid #999; display:inline-block; margin:2px; color:#fff; font-weight:bold; line-height:32px; padding:0 4px 0 8px; background:#65019b; cursor:pointer}
.button:hover {
-webkit-box-shadow: inset 0px 0px 21px 0px rgba(52,3,87,1);
-moz-box-shadow: inset 0px 0px 21px 0px rgba(52,3,87,1);
box-shadow: inset 0px 0px 21px 0px rgba(52,3,87,1)
}
.button:hover > .cat_menu { visibility:visible }
.cat_menu {   width:366px; height:300px; display:block; visibility:hidden; margin:0 -7px 0 0; position:absolute; z-index: 100000;}
.cat_menu .cat_m_content { border:1px solid #cbcbcb; height:200px; background:#FFF; color:#999; margin-top:10px; display:block; padding:10px}
.ul1 {float:right}
.ul2 {float:right; margin-right:5px; border-right:1px solid #e5e5e5; border-style:dotted; padding-right:4px}


.cat_m_content a {color:#FFF}
.cat_m_content li {width:100px; height:30px; line-height:30px; display:block; margin:3px 0; padding:0 4px; text-align:center;  border-bottom:1px solid #e5e5e5; border-style:dotted;}
.cat_m_content li:hover {background:#f1f1f1; color:#65019b  }
.cat_m_content li a { color:#666;  width:100px; height:30px; display:block}
.cat_m_content li:hover > a {color:#65019b;  }


.logo { background:url(../images/images.png) no-repeat; width:241px; height:65px; float:left; margin-top:8px }

.icon { background:url(../images/images.png) no-repeat;}


.cat, .man, .reg {background-position:0 -64px; width:16px; height:16px; display:block; float:right; margin:8px 2px 0 5px }
.man {background-position:0 -81px;}
.reg {background-position:0 -98px;}

.arrow {background-position:0 -288px; width:16px; height:7px; display:block; margin:4px 15px 0 0; position:absolute}

.user {background-position:0 -116px; height:42px; width:42px; display:block; float:right; }
.dl {background-position:0 -205px; display:block; width:16px; height:16px; float:right; margin:12px 8px 0 4px}

.fb, .tt, .gp {height:16px; width:16px; display:block; margin:12px}
.fb {background-position:0 -222px;}
.gp {background-position:0 -239px;}
.tt {background-position:0 -257px;}

.like, .dislike {height:22px; width:22px; display:block; margin:10px 11px 0 0  }
.like {background-position:0 -160px;}
.dislike {background-position:0 -182px;}

.eye {background-position:0 -273px; display:block; width:16px; height:16px; float:right; margin:12px 8px 0 4px}



#main {width:980px; padding:10px; margin:auto; margin-top:5px;}

.side_left { width:330px; height:100%; float:left; border-right:1px solid #e8e8e8; padding-right:5px}
.side_l_menu { height:30px; background:#fcfcfc; border:1px solid #c3c3c3; color:#717171; line-height:30px; padding-right:7px; font-weight:bold; font-size:13px}

.side_left li {width:100%; height:90px; display:block; padding:7px 0; border-bottom:1px solid #e5e5e5}

.side_left li span {line-height:18px }
.side_left li a {text-decoration:none; color:#999; width:100%; height:100%; display:block}
.side_left li img {float:right; margin-left:4px}
.side_left li:hover {background:#f9eff8 }
.side_left li h3 {overflow:hidden; max-height:50px; font-weight:bold; text-align:right; color:#333; width:auto; margin:0; font-size:13px; line-height:15px; }
.side_left li:first-child {padding-top:0}
.side_left li:last-child{border-bottom:none}


.side_left li .duration, .side_full li .duration {position:relative; line-height:15px; color:#FFF; top:60px; left:200px; display:inline;background:url(../images/images.png) repeat-x transparent; padding:5px; float:left; background-position:0 -296px}

.side_main { float:right; display:block; margin:0; width:637px}
.side_main h1 {font-family:Arial; }

.video_des {width:100%; height:auto; margin:17px 0 10px 0; }
.video_des h1 {font-family:Arial; }
.video_des p { margin:10px 40px 0 0; font-size:14px; line-height:18px }

.video_info {width:100%; height:107px;}

.video_info_left, .video_info_right {float:left; background:#e5e4e4; border:1px solid #b7b6b6; margin-top:10px}
.video_info_right { float:right }
.video_info_left a {color:#616060}

.social a, .video_view {width:40px; height:40px; display:block; float:left; border-right:1px solid #b7b6b6;}
.social a:hover, .video_view:hover { background:#d4b7d2}

.user_info {float:right; height:42px; overflow:hidden; width:100%; display:block;  border-bottom:1px solid #e5e5e5;border-top:1px solid #e5e5e5; padding:7px 0}
.user_info a {line-height:18px; margin:2px 3px 0 0; font-weight:bold; }

.video_view {width:auto; line-height:40px; font-weight:bold; border-right:none; padding-left:10px}
.video_view b {color:#000}
.video_view span {color:#616060}

.side_full {clear:both; width:980px; display:block; margin:auto;  padding:10px 0; }
.side_full li { float:right; display:block; margin-left:8px; width:180px; padding:4px 4px 7px 4px }
.side_full li:hover {background:#f0e0ee }
.side_full li h3 {overflow:hidden; max-height:45px; font-weight:bold; text-align:right; color:#333; width:180px; margin:5px 0 3px 0; display:block }
.side_full li img { margin-top:-25px}
.side_full li .duration {top:85px; left:7px }


.menu_content { clear:both}
.menu_content h2 {border-bottom:2px solid #e5e5e5; margin-bottom:7px;}
.menu_content .title {border-bottom:2px solid #65019b; margin-bottom:-2px; line-height:35px; display:inline-block;}
.menu_content .title a{ font-size:18px}
.menu_content .more {margin-bottom:-2px; line-height:35px; text-align:left; direction:ltr; float:left}
.menu_content .more a { font-size:14px; color:#65019b}

.tag_video {}
.tag_video a{border:1px solid #b7b6b6; border-right:7px solid #4297d8; display:inline-block; height:25px; line-height:25px; padding:0 7px}
.tag_video a:hover { border-color:#65019b}
.tag_video a strong {font-weight:normal; font-size:12px}
.tag_video .t {border-right:5px solid #92c3e8;}

#footer {
	width:980px;
	height:50px;
	background-color:#f1f1f1;
	border-top:1px solid #e5e5e5;
	margin:auto;
	color:#333;
	text-align:center; 
	direction:ltr;
	margin-top:30px;
	clear:both;
	display:block
}