/*Beta Feedback form*/
body#ent-downloads-beta select#product{
width:318px;
margin-left:93px;
}

body#ent-downloads-products select#product
{
width:318px;
}

div#disabled, 
div#innercontent, 
div#hiddenbox{
display:none;
}