/* 
Styling for the navigation section.
Author: Steve Ganz, Nathan Colgate Clark, Manikandan Rajasekaran, Ramanand Yadwadkar, Premkumar Balakrishnan
*/

div#navigation {
	background: #fff;
}

form#global-search  {
	float: right;
	font-size: .7em;
	background:none !important;
	padding:0 0 0 0;	
	margin:15px 96px 0 0;
	_margin:15px 31px 0 0;
	position:relative;
}

form#global-search input.button{
	border-left:1px solid #c6c4c0;
	border-right:1px solid #c6c4c0;
	border-top:none;
	border-bottom:none;
	height:19px;
	color:#7b7e7d;
	background:  url(/images/search_button_back.jpg) repeat-x bottom left;
	cursor: pointer;
	text-transform:uppercase;
}

form#global-search label{
	display:none;
}
input#global-search-field{
	width:8.2em;
	float:left;
	color:#7b7e7d;
	height:14px;
	padding:2px 4px 0 4px;
	margin:0 5px 0 0;
	font-size:10px !important;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border-top:2px solid #c6c4c0;
	border-left:2px solid #c6c4c0;
	border-bottom:1px solid #c6c4c0;
	border-right:1px solid #c6c4c0;
}

body#advancedsearch input#global-search-field{
	height:13px !important;
}

body#advancedsearch input#global-search-field,
body#site-search-results input#global-search-field,
body#thr-search-results input#global-search-field,
body#thr-search input#global-search-field{
	height:13px !important;
	margin:0 3px 0 0;
	*margin:0 3px 0 0;
	}



/* style changed for util nav  */


ul#utility-navigation {
	position:relative;
	left:0;
	padding:0;
	z-index:7000;
	float:right;
	margin-top:8px;
	*margin-bottom:-6px;
	_margin-bottom:-6px;
        margin-right:74px;
        _margin-right:38px;
}

ul#utility-navigation a.en{
	display: block;
	padding:13px 9px 0px 13px;
	margin:0 0px 0 0px;
	color: #FFF;	
	text-decoration: none;
	font-size:12px;
	font-weight:normal;
	background:none;
}

ul#utility-navigation li.en{
	margin: 0px 0px 0px 12px;
}

ul#utility-navigation a{
	display: block;
	padding:1px 9px 6px 13px;
	margin:0 0px 0 0px;
	color: #7b7e7d;	
	text-decoration: none;
	font-size:10px;
	font-weight:normal;
	background:url(/images/arrow_red_utility.gif) no-repeat 2px 4px;
}

ul#utility-navigation li{
	margin-left:0;
	margin-right:0;
}
ul#utility-navigation li#global-nav{
	margin-right:5px;
	_margin-right:2px;
       width: 165px;

}
/*ul#utility-navigation li ul#section-threatnav li#util_top{
	background-image:none !important; 
	border-top:#c6c4c0 solid 1px; 
	width:42px; 
	position:relative;
	left:100px;
	top:-7px;
	height:1px !important;
	_margin-bottom:-25px;
}*/

ul#utility-navigation li ul#section-storenav li#util_top{
	background-image:none !important; 
	border-top:#c6c4c0 solid 1px; 
	width:96px; 
	_width:95px; 
	position:relative;
	left:46px;
	top:-7px;
	height:1px !important;
	_margin-bottom:-25px;
}


/*ul#utility-navigation li ul#section-helpnav li#util_top{
	background-image:none !important; 
	border-top:#c6c4c0 solid 1px; 
	width:60px; 
	position:relative;
	left:84px;
	top:-7px;
	height:1px !important;
	_margin-bottom:-25px; 
}*/

ul#utility-navigation li ul#section-supportnav li#util_top{
	background-image:none !important; 
	border-top:#c6c4c0 solid 1px; 
	width:83px; 
	_width:81px; 
	position:relative;
	left:60px;
	top:-7px;
	height:1px !important;
	_margin-bottom:-25px;
}

ul#utility-navigation li ul#section-globalnav li#util_top{
	background-image:none !important; 
	border-top:#c6c4c0 solid 1px; 
	width:75px;
	_width:75px; 
	position:relative;
	left:160px;
	top:-7px;
	height:1px !important;
	_margin-bottom:-25px;
}

ul#utility-navigation li ul li a {
	color:#37556a;
}

ul#utility-navigation li ul li.util_2nd  {
	margin-top:-7px; 
	_margin-top:-3px;
}
ul#utility-navigation li ul li.util_2nd:hover  {margin-top:-7px; }
ul#utility-navigation a:hover{
	color:#cc0033;
	background:url(/images/arrow_red_utility_hover.gif) no-repeat 2px 5px;
	border-bottom:none; *background-image:none !important;

}
ul#utility-navigation a.en:hover{
	color:#cc0033;
	background:none;
	border-bottom:none; *background-image:none !important;

}
ul#utility-navigation li {
	float: left;
	padding:0;
	list-style:none; 
}
ul#utility-navigation li:hover {border:#c6c4c0 solid 1px;}
ul#utility-navigation li {border:transparent solid 1px; _border:#fff solid 1px;/*filter: chroma(color=#fff); */padding:2px 1px 2px 1px}
ul#utility-navigation .uhover {border:#c6c4c0 solid 1px; *background:url(/images/arrow_red_utility_hover.gif) no-repeat 2px 5px;}
ul#utility-navigation .uhover .uhover{_border:none}
ul#utility-navigation li ul li{border:none; margin-left:12px !important; _margin-left:10px !important;}
ul#utility-navigation li ul li:hover{border:none }

ul#utility-navigation li ul {
	display: none;
	position: absolute;
	font-weight: normal;
	margin:0;
	padding:0;
	padding:0px 5px 15px 7px;
	width:160px;
	_width:163px !important;
	background:url(/images/util_menu.png)  no-repeat right bottom;
	_background:url(/images/util_menu.gif)  no-repeat right bottom;margin-left:-6px !important; _margin-left:-13px !important;
}

ul#utility-navigation li ul.en {
	display: none;
	position: absolute;
	font-weight: normal;
	margin:0;
	padding:0;
	padding:0px 5px 15px 7px;
	width:160px;
	_width:163px !important;
	top: -445px;
	background:url(/images/util_menu.png)  no-repeat right bottom;
	_background:url(/images/util_menu.gif)  no-repeat right bottom;margin-left:-6px; _margin-left:-13px !important;
}

@supports (-webkit-appearance:none) { ul#utility-navigation li ul.en { top: -435px; } }

ul#utility-navigation li ul#section-globalnav {
	width:257px; _width:260px;
	background:url(/images/util_menu_global.png)  no-repeat right bottom;
	_background:url(/images/util_menu_global.gif) no-repeat right bottom;
	
}


ul#utility-navigation li ul#section-globalnav{
	}
ul#utility-navigation li:hover ul#section-globalnav, ul#utility-navigation li.hover ul#section-globalnav,
ul#utility-navigation li:hover ul, ul#utility-navigation li.uhover ul {
	display: block;
	margin:0;
	padding:6px 0 18px 0;
}
ul#utility-navigation li ul li {
	clear:left;
	padding:1px 0 1px 0;
	margin:0;
	width:135px;
	display: block;
	background:url(/images/utility_bullet.gif) no-repeat 8px 6px; 
}
ul#utility-navigation li ul#section-globalnav li{
	width:250px; _padding-left:0px; _width:237px;
}

ul#utility-navigation li ul li a:hover{background:none; border:none; padding-left:14px}
ul#utility-navigation li ul li.uhover{background:url(/images/utility_bullet_hover.gif) no-repeat 8px 6px;}
ul#utility-navigation li ul li:hover {
	clear:left;
	padding:1px 0 1px 0;
	margin:0;
	width:135px;
	display: block;
	background:url(/images/utility_bullet_hover.gif) no-repeat 8px 6px;
}



ul#utility-navigation li ul li:hover, ul#utility-navigation li ul li.uhover {
	display:block;
}
 
ul#utility-navigation li li a {
	font-size:11px;
	font-weight: normal;
	color: #0d6c98;
	background:none;
	padding:0 0 0 14px;
}
ul#utility-navigation li li a:hover{	
	color:#cc0033;
	text-decoration:none;
} 

/*utility for partner*/
body.par ul#utility-navigation {
	margin-left:auto;
	float:right;
}


/* body.par form#global-search{
	margin:15px 10px 0 0 !important;
	_margin:15px 4px 0 0 !important;

}*/




/* style changed for util nav OVER */

ul#nav-section{
	display:none;
}

/* ---- BREADCRUMB NAV. ---- */
div#nav-breadcrumb {
	float: left;
}
div#nav-group {
	height:145px;
	*height:40px;
	display:block;
	margin:0;
	width:962px;
}
div#nav-group-ufb {
        height:78px;
        *height:40px;
        display:block;
        margin:0;
        width:962px;
}

div#breadcrumb {
	position:absolute;
	padding: 3px 10px 5px 10px;
	margin:0 auto;
	top:13.2em;
	/**top:13.5em;*/
	left:0;
	clear:left;
	color: #7b7e7d;
	display:none;
	font-size:9px;
}
div#breadcrumb a{
	padding: 0 ;
	color: #7b7e7d;
	font-size:9px;
	font-weight:bold !important;
}
div#breadcrumb a.selected{
	color: #aa0828;
}
div#breadcrumb a:hover{
	color: #aa0828;
	text-decoration:none;
}

div#breadcrumb-app {
	padding:13px 10px 5px 8px;
	margin:0 auto;
	left:0;
	clear:left;
	color: #7b7e7d;
	font-size:9px;
}
div#breadcrumb-app a{
	padding: 0 ;
	color: #7b7e7d;
	font-size:9px;
	font-weight:bold !important;

}
div#breadcrumb-app a.selected{
	color: #aa0828;
}
div#breadcrumb-app a:hover{
	color: #aa0828;
	text-decoration:none;
}




/*********************************************/
ul#segment-navigation {
	margin:32px 0 0 auto;
	*margin:42px 0 0 auto;
	left:0px;
	width:962px;
	font: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight:bold;
	z-index:5000;
	float:left;
	border-bottom:3px solid #9ba3a7;
}
ul#segment-navigation li {
	margin: 0;
	display: inline;
	float:left;
	cursor: pointer;
	}

ul#segment-navigation li a {
        display:block;
        color: #000;
        text-decoration: none;
        padding:5px 9px 10px 13px;
        cursor: pointer;
        border-top:1px solid #fff;
        border-left:1px solid #fff;
        border-right:1px solid #fff;
        background-color:#fff;
        }

	
ul#segment-navigation li a#menulink1{
	background-image:none;
	padding-left:8px;
	}

ul#segment-navigation li a.select, ul#segment-navigation li a#menulink1.select {
	cursor: pointer;
	color:#000 !important;
	border-top:1px solid #c6c4c0;
	border-left:1px solid #c6c4c0;
	border-right:1px solid #c6c4c0;
	position:relative;
	z-index:100000;
	}

ul#segment-navigation li a.select:hover, ul#segment-navigation li a#menulink1.select:hover {
	cursor: pointer;
	color: #AA0828 !important;
	border-top:1px solid #c6c4c0;
	border-left:1px solid #c6c4c0;
	border-right:1px solid #c6c4c0;
	position:relative;
	z-index:100000;
	}

ul#segment-navigation li.selected a {	
	color: #AA0828 !important;
	}

ul#segment-navigation li ul{
	position:absolute;
	margin:-1px 0 0 0px;
	clear:left;
	font-weight: normal;
	z-index: 2000;
	width:279px ;
	padding:0px 0px 12px 0px;
	_padding:0px 0px 4px 0px;
	float:left;
	background: url(/images/menu_back_shadow.png) no-repeat bottom left;
	_background:url(/images/menu_back_shadow_gf.gif) no-repeat bottom left;	
	}

ul#segment-navigation li ul li#desc-hho,
ul#segment-navigation li ul li#desc-sma,
ul#segment-navigation li ul li#desc-med,
ul#segment-navigation li ul li#desc-ent,
ul#segment-navigation li ul li#desc-par,
ul#segment-navigation li ul li#desc-abo{
	background-color:#fff;
}
ul#segment-navigation li ul li{
	clear:left;
	list-style:none;
	background-image:none;
	background-color:#e7ebee;
	margin:0 0 0 1px;
	padding:0px 10px 2px 15px;
	cursor: default;	
	width:247px;
	_width:249px;
	line-height: 10px;
}
ul#segment-navigation li ul li a{
	position:relative;
	font-weight: normal;
	font-size: 11px;
	color: #37556A !important;
	padding:4px 0 2px 7px !important;
	cursor:pointer;
	border:none;
	background-color:transparent;
	background: url(/images/utility_bullet.gif) no-repeat 0px 7px;
}
ul#segment-navigation li ul li a:hover{
	color: #aa0828 !important;	
}
ul#segment-navigation li ul li.selected {
	background-image:none;
	background-color:#e7ebee;
}
ul#segment-navigation li.selected ul li a{
	color: #37556A !important;
}
ul#segment-navigation li.selected ul li a:hover{
	color: #aa0828 !important;
}
ul#segment-navigation li ul li.selected a{
	color: #37556A !important;
}
ul#segment-navigation li ul li.selected a:hover{
	color: #aa0828 !important;
}

ul#segment-navigation li.selected ul li.selected a{
	color: #37556A !important;
}
ul#segment-navigation li.selected ul li.selected a:hover{
	color: #aa0828 !important;
}


ul#segment-navigation li ul li.firstlink{
	background:#e7ebee url(/images/menu_link_back.jpg) repeat-x 0 0 !important;
	padding-top:8px;
}

ul#segment-navigation li ul li.lastlink{	
	padding-bottom:10px;
}
ul#segment-navigation li ul li.top{
	border-top:1px solid #c6c4c0;	
	width:247px;
	_width:249px;
}

ul#segment-navigation li ul li p{
	color:#000;
	padding: 0;
	margin-left:0;
	font-size: 11px;
	color: #7B7E7D;
	line-height: 16px;
}
ul#segment-navigation li ul li p span{
	font-weight:bold;
	display:block;
	color: #000;
}

#menutab1, #menutab2, #menutab3, #menutab4, #menutab5, #menutab6 {
	display:none;
}


/* ---- PERSONAL NAV. ---- */
ul#nav-personal {
	text-align: right;
	float: right;
	padding: 5px;
	_padding: 6px 5px;
}
ul#nav-personal li {
	display: inline;
	color: #0d6c98;
	font: bold 78% Verdana, Arial, Helvetica, sans-serif;
}
ul#nav-personal li.empty {
	/*background: url(/images/cart-empty.gif) no-repeat left center;*/
	padding: 0 9px 0 24px;
}
ul#nav-personal li.full {
	/*background: url(/images/cart-full.gif) no-repeat left center;*/
	padding: 0 9px 0 24px;
}
ul#nav-personal li#Login {
	/*background: url(/images/slash-blue.gif) no-repeat left center;*/
	padding: 0 9px 0 12px;
}
ul#nav-personal li.selected {
	background-color: #e9e9e9;
}
ul#nav-personal li a {
	color: #0d6c98;
	text-decoration: none;
}
/* ---- PAGE NAV. ---- */

/* ---- PAGE NAV. ---- */

ul#nav-page { 
	clear: left; 
	float: left; 
	width: 24%!important;
	*width: 23% !important;
	margin-right: 0px; 
	background-color:#fff; 
	margin: -1px 0 0 2px;
}

ul#nav-page a{
	color:#000; 
	font-size:11px; 
	font-family:verdana;
/*font-weight:normal;*/
}
ul#nav-page a:hover {
	color:#aa0828
}
ul#nav-page li { 
	font-size: 88%; 
	font-weight: bold !important;
	margin: 0px 0px 0px 0px; 
	border:1px solid #fff;
	list-style-position: outside; 
	list-style-type: none; 
	display: none;
}
ul#nav-page li#products, ul#nav-page li#services, ul#nav-page li#downloads,ul#nav-page li#solutions,ul#nav-page li#service_providers, ul#nav-page li#support{
	background:url(/images/grad_leftnav.gif) repeat-x 0px 0px; 
	*background:url(/images/grad_leftnav.gif) repeat-x 0px 1px; 
	_background:url(/images/grad_leftnav.gif) repeat-x 0px 0px; 
	padding-top:8px; 
	*padding-top:6px;
	_padding-top:9px !important;
	_height:40px
}
ul#nav-page li ul li#products{
	background:none !important;
	padding-top: 2px !important; 
	_height:auto !important;
}
ul#nav-page li ul{
	margin-top:15px
}
ul#nav-page li ul li ul{
	margin-top:0px
}
ul#nav-page li a { 
	padding: 4px 2px 4px 29px; 
	_padding: 2px 2px 2px 29px; 
	display: block; 
}
ul#nav-page li ul li a { 
	padding: 4px 2px 4px 17px; 
	_padding: 2px 2px 2px 17px;
	*padding: 1px 2px 2px 17px;
	background: url(/images/nav_right.gif) no-repeat 0 .75em !important; 
	font-weight:normal;
} 
ul#nav-page li ul li a:hover { 
	background: url(/images/nav_down.gif) no-repeat 0 .75em !important; 

} 
ul#nav-page li ul li.selected ul a:hover { 
	 cursor: pointer !important;
} 
ul#nav-page li { 
	border-left-width: 5px; 
} 
ul#nav-page li ul { 
	margin-left: -5px; 
} 
ul#nav-page li ul li { 
	border-left-width: 15px; 
} 
ul#nav-page li ul li ul { 
	margin-left: -15px; 
}
ul#nav-page li ul li ul li { 
	border-left-width: 30px;
} 

ul#nav-page li ul li ul li a { 
	padding-left: -3px !important;
} 


ul#nav-page li ul li ul li ul { 
	margin-left: -25px; 
} 
ul#nav-page li ul li ul li ul li { 
	border-left-width: 35px; 
} 
ul#nav-page li ul li ul li ul li ul { 
	margin-left: -35px; 
} 
/*----- HANDLE THE EMPHASIZED CLASS ----*/ 
ul#nav-page li.highlighted { color:#aa0828; } 
ul#nav-page li.highlighted ul li { 
	color:#aa0828;
}
 /*----- HANDLE THE SELECTED CLASS -----*/ 
ul#nav-page li ul li.selected a { 
	color:#aa0828 !important; 
} 
ul#nav-page li ul li.selected ul {  
	margin-bottom: 0; 
	_margin-bottom: 0; 
} 
ul#nav-page li ul li.selected ul li a{
		color:#000 !important; 
}
ul#nav-page li ul li.selected ul li.selected a,
ul#nav-page li ul li.selected ul li.selected ul li.selected a { 
		 color:#aa0828;
} 
/*----- HANDLE THE EXPANDED CLASSES-----*/ 
ul#nav-page li.expanded { display: block; font-weight:normal !important; } 

ul#nav-page li#products, ul#nav-page li#services, ul#nav-page li#downloads,ul#nav-page li#solutions,ul#nav-page li#service_providers, ul#nav-page li#support{
	font-weight:bold !important;
}

ul#nav-page li.expanded ul li.expanded a, 
ul#nav-page li.expanded ul li.expanded ul li.expanded a { 
	background: url(/images/nav_down.gif) no-repeat 0px 6px !important;	
	} 
ul#nav-page li.expanded ul li.expanded a:hover, 
ul#nav-page li.expanded ul li.expanded ul li.expanded a:hover { 
	background: url(/images/nav_down.gif) no-repeat 0px 6px !important; 
} 
ul#nav-page li.expanded ul, 
ul#nav-page li.expanded ul li.expanded ul, 
ul#nav-page li.expanded ul li.expanded ul li.expanded ul { 
	display: block; 
}
ul#nav-page li.expanded ul li, 
ul#nav-page li.expanded ul li.expanded ul li, 
ul#nav-page li.expanded ul li.expanded ul li.expanded ul li { 
	display: block; 
} 
ul#nav-page li.expanded ul li a, 
ul#nav-page li.expanded ul li.expanded ul li a,
ul#nav-page li.expanded ul li.expanded ul li.expanded ul li a { 
	background: url(/images/nav_right.gif) no-repeat 0px 7px !important; 
} 
ul#nav-page li.expanded ul li a:hover,  
ul#nav-page li.expanded ul li.expanded ul li.expanded ul li a:hover { 
	background: url(/images/nav_right.gif) no-repeat 0px 7px !important; 
}
ul#nav-page li.expanded ul li a:hover{
	background: url(/images/nav_down.gif) no-repeat 0px 7px !important; 
}
ul#nav-page li.expanded ul li ul, 
ul#nav-page li.expanded ul li.expanded ul li ul, 
ul#nav-page li.expanded ul li.expanded ul li.expanded ul li ul { 
	display: none; 
}
ul#nav-page li.expanded ul li.expanded ul li.selected a{

	margin-top:0px
}
ul#nav-page li.expanded ul li.expanded ul li a{
	margin-top:0px
}
ul#nav-page li.expanded ul li.expanded ul li{
	padding-left:2px
}
ul#nav-page li.expanded ul li.expanded ul li.expanded ul li a{
	background:url(/images/utility_bullet_hover.gif) 8px 9px no-repeat !important; 
	color:#7b7e7d !important;
}
ul#nav-page li.expanded ul li.expanded ul li.expanded ul li a:hover{
	background:url(/images/utility_bullet_hover.gif) 8px 9px no-repeat !important; 
	color:#aa0828 !important;
}
ul#nav-page li ul li.selected ul li.selected ul li.selected a { 
	color:#aa0828;        
} 
ul#nav-page .selected a{
cursor: pointer !important;
}



/* ---- TAB NAV. ---- */


ul#nav-tabs {
	margin: 30px 12px 0 12px !important;
	padding: 0 !important;
	clear: both;
	height: 30px;		
}
ul#nav-tabs li {
	margin: 0 2px;
	display: block;
	float: left;	
	text-align: left;
	width: 25%;	
}
ul#nav-tabs li a {
	margin: 0;
	display: block;
	padding: 5px 0 0 7px;
	height: 31px;	
	border-top: 1px solid #c6c4c0;
	border-right: 1px solid #c6c4c0;
	border-left: 1px solid #c6c4c0;
	text-decoration: none;
	background: url(/images/bg_tabs_ver3.gif) repeat-x top center !important;	
	font: bold 9px Verdana;
	color: aa0828 !important;	
}
ul#nav-tabs li a:link {
	background: #f5f5f5;
}
ul#nav-tabs li a.selected {	
	background: #fff !important;
	height: 32px;
	border: 1px solid #c6c4c0;
	border-bottom: none;
	font-weight: bold;
	cursor: default;	
	padding-left: 7px;
	position: relative;
	top: 0px;
	color: #aa0828;
	}
ul#nav-tabs li a.selected:hover {
	color: #aa0828;
	text-decoration:none;	
	border: 1px solid #ccc;
	border-bottom: none;	
}
ul#nav-tabs li a:hover {
	border-top: 1px solid #c6c4c0;
	border-right: 1px solid #c6c4c0;
	border-left: 1px solid #c6c4c0;
}
ul#nav-tabs .oftwo {
	width: 49%;
	_width: 48.7%;
}
ul#nav-tabs .ofthree {
	width: 32.33%;
	*width: 32.24% !important;
	_width: 32.22% !important;
}


ul#nav-tabs .offour {
	width: 24% !important;
	*width: 23.9% !important;
}


ul#nav-tabs .offive {
	width: 20%;
	_width: 19.95%;
}
ul#nav-tabs .ofsix {
	width: 15.8%;
	_width: 15.8%;
	}

ul#nav-tabs .ofseven { 
	width: 13.7%; 
	_width: 13.4%; 
}		
		
div#tab2, div#tab3, div#tab4, div#tab5, div#tab6, div#tab7 {
	display: none;
}
div#tab-content {
	margin: 7px 12px 20px 14px;	
	*margin: -11px 12px 20px 16px;
	padding: 20px 0 10px 0;	
	border-top: 1px solid #c6c4c0;	
	width:93.8%;	
	_width:93.2%;
}

.wpn ul#nav-tabs .ofthree {
	width: 32.33%;
	*width: 32.4%;
	_width: 32.22% !important;
}
.wpn ul#nav-tabs .offour {
	width: 24% !important;
	*width: 24.2% !important;
	_width: 24.03% !important;
}
.wpn div#tab-content {
	margin: 7px 12px 20px 14px;	
	*margin: -11px 12px 20px 14px;
	_margin: -11px 12px 20px 16px;
	padding: 20px 0 10px 0;	
	border-top: 1px solid #c6c4c0;	
	width:94.9%;
	_width:94.6%;

}
.wpnasb div#tab-content{
	*margin: -11px 12px 20px 14px;
	_margin: -11px 12px 20px 16px;
	*width:93.7%;	
	_width:93.1%;
}
#site-search-results li.last {
_width: 16%;
}

/* Tabs line fix for evetnts page*/
body#abo-events-indexhtml div#tab-content{
	width:94.8%;
	*width:94.5%;	
	_width:94.3%;
	*margin-left:14px;
	_margin-left:16px;
}


/* ---- FOOTER NAV. ---- */
div#footer { 
	clear: both;
	float: left;
	padding-top: 2px;
	padding-bottom: 1em;
	color: #fff;
	font-size:10px;
        line-height:12px;
	background-color:#5d666F;
	width:962px;
	}

div#footer-ufb {
        clear: both;
        float: left;
        padding-top: 2px;
        padding-bottom: 1em;
        color: #fff;
        font-size:10px;
        line-height:12px;
        width:962px;
        }

div#mobile-footer {
        background: url(/images/footer_bg.jpg) repeat-x;
        clear: both;
        float: left;
        padding-top: 2px;
        padding-bottom: 1em;
        color: #fff;
        font-size:10px;
        width:962px;
        height:320px;
}

div#mobile-footer div.footer-sr {
        color: #fff;
        margin:40px 10px 10px 80px;
        *margin:15px 10px 10px 80px;
        width:760px;
}

div#mobile-footer div.footer-sr h3 {
        color: #fff;
        font: 18px Verdana;
        margin-left: 0px;
}

div#mobile-footer div.footer-sr h4 {
        margin-top:8px;
}

div#mobile-footer div.footer-sr p#mlegal {
        color: #c6c4c0;
        margin: 25px 5px 10px 0px;
        width:101%;
        text-align: left;
}

div#mobile-footer div.footer-sr p#modified-versions {
        color: #c6c4c0;
        margin: 0px 5px 10px 0px;
        width:101%;
        text-align: left;
}

div#mobile-footer div.footer-sr p#modified-versions a {
        color: #c6c4c0;
        text-decoration:underline;
}

ul#nav-footer {
	float:left;
	width: 690px;
	margin:5px 0 0 10px;
	_margin:5px 0 0 5px;	
	} 
	
ul#nav-footer li {
	display: inline;
	background: url(/images/footer_dark_gray_arrow.gif) no-repeat 0em .25em;
	padding: 0 0 0 11px;
	margin: 0 8px 0 0 !important;
	white-space: nowrap;
}
ul#nav-footer li.first {
	
}
ul#nav-footer li a {
	color: #c6c4c0;
	text-decoration: none;
}
ul#nav-footer li a:hover {
	color: #45484A !important;
}
p#legal { 
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
	color: #c6c4c0;
	float:right;
	width:225px;
	text-align:right;
	margin:5px 10px 10px 0;
	_margin:5px 10px 10px 0;
        font-size:10px;
}

p#legal-ufb {
    color: #333333;
    float: right;
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: 10px;
    margin-right: 45px !important;
    margin-top:-6px;
    text-align: right;
    width: 850px;
}

p#legal a {
       color: #AA0828 !important;
       text-decoration: none;
}

p#legal-ufb a {
       color: #4681A5 !important;
       text-decoration: underline !important;
}

p#legal a:hover {
        color: #45484A !important;
}

p#legal-ufb a:hover {
        color: #AA0828 !important;
        text-decoration: none !important;
}

div#hacker-safe{
	margin:0;
	padding: 6px 0 10px 0 !important;
	position:absolute;
	top:8px;	
	display:none;
	/*background-color:#fff;*/
        left: 890px;
}

/*
div#hacker-safe{
        display: block;
        margin:0;
        padding: 10px 0 10px 0 !important;
        position: absolute;
        left: 890px;
         
}
*/

div.wnone{
	padding-left:5px !important;
}
/*body.ent div#sidebar-main h3.redstripe,
body.ent div#sidebar-main div#global-threat-medium-high,
body.ent div#sidebar-main .gtc-learn-more,
body.ent div#sidebar-main div .minimalist,
body.ent div#sidebar-main div p,
body.ent div#sidebar-main div a.toggle,
body.ent div#sidebar-main div .threatcard{
	display:none !important;
}
body.med div#sidebar-main h3.redstripe,
body.med div#sidebar-main div#global-threat-medium-high,
body.med div#sidebar-main .gtc-learn-more,
body.med div#sidebar-main div .minimalist,
body.med div#sidebar-main div p,
body.med div#sidebar-main div a.toggle,
body.med div#sidebar-main div .threatcard{
	display:none !important;
}
body.sma div#sidebar-main h3.redstripe,
body.sma div#sidebar-main div#global-threat-medium-high,
body.sma div#sidebar-main .gtc-learn-more,
body.sma div#sidebar-main div .minimalist,
body.sma div#sidebar-main div p,
body.sma div#sidebar-main div a.toggle,
body.sma div#sidebar-main div .threatcard{
	display:none !important;
}*/
