/*
Theme Name: iDownloadBlog 2.0
Theme URI: http://www.idownloadblog.com
Description: Built exclusively for iphone download blog
Version: 2.0
Author: Rob Rhyne
Author URI: http://www.robertrhyne.com

*/

/* -- GENERAL -- */

body {font-size: 62.5%; font-family: Helvetica Neue, Arial, Helvetica, sans-serif;color: #000;width: 100%;margin: 0;padding: 0;position: relative;background-color:#f0f0f0;}

a {color:#0090ff;text-decoration: none;}
a:hover {text-decoration: underline;}
a:visited {color:#0090FF;}
a img {border: none;}

h1, h1 a, h1 a:hover, #headerimg .description {text-decoration: none;}
h2, h2 a, h2 a:hover,h3, h3 a, h3 a:hover,  #sidebar h2, #wp-calendar caption, cite {text-decoration: none;line-height: 120%;}
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited{color:#0090FF;}

h1, h2, h3, h4 {font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial,  sans-serif;}
h1 {font-size: 24px;margin-top: .25em;margin-bottom: 0.5em;}
h2 {font-size: 1.8em;margin-top: 0.5em;margin-bottom: .3em;}
h3 {font-size: 16px;margin-top: 0.5em;margin-bottom: .15em;}
h4 {font-size: 12px;line-height: 10px;margin-top: 0.5em;margin-bottom: .10px;}

code {font: 13px 'Courier New', Courier, Fixed;}
pre {font: 13px 'Courier New', Courier, Fixed;}
acronym, abbr, span.caps {font-size: 9px;letter-spacing: .07em;cursor: help;}
small {font-size: 10px;line-height: 1.8em;margin-top: 1.8em;margin-bottom: 1.8em;}
blockquote {border-left: 5px solid #ddd;margin: 15px 30px 0 10px;padding-left: 20px;}
blockquote cite {margin: 5px 0 0;display: block;}

acronym, abbr {border-bottom: 1px dashed #999;}

p {font-size: 15px;line-height: 150%;text-align: left}

ol {font-size:15px;text-align:left;}
ol li {margin-left: 0em;padding: 0 10px .5em 0;}

select {width: 130px;}

.clearjz {clear:both;}

.wp-caption {border: 1px solid #ddd;background-color: #f3f3f3;-moz-border-radius: 3px;-khtml-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;text-align: center;padding-top: 4px;margin: 10px;}
.wp-caption img {border: 0 none;margin: 0;padding: 0;}
.wp-caption p.wp-caption-text {font-size: 11px;line-height: 17px;padding: 0 4px 5px;margin: 0;}

.thread-alt {background-color: #f8f8f8;}
.thread-even {background-color: white;}

/*PressLabs - height: auto;*/ 
p img {padding: 0;max-width: 100%;height: auto;}
img.centered {display: block;margin-left: auto;margin-right: auto;}
img.alignright {padding: 4px;margin: 0 0 2px 7px;display: inline;}
img.alignleft {padding: 4px;margin: 0 7px 2px 0;display: inline;}

.alignright {float: right;}
.alignleft {float: left}
.center {text-align: center;}
.hidden {display: none;}

hr {display: none;}

.aligncenter,div.aligncenter {display: block;margin-left: auto;margin-right: auto;}

.konaBasicBox {top: 0px !important;}

/* -- HEADER -- */
#header {width: 100%;position:relative;}
#header h2 {margin-bottom: 0em;}

#logo_banner {position:relative;width:950px;margin:3px auto;height:125px;z-index:2;}
#logo {float:left;display:inline;width:215px;height:125px;}
#logo a {display:block;width:215px;height:125px;overflow:hidden;text-indent:-9999px;background:url('images/sprite.png?v15')  -35px 0 no-repeat;}

#top_banner{float:right;display:inline;width:728px;margin-top:5px;}

#nav_container {width:950px;margin:0 auto;}
#top_nav {position:relative;z-index:1;float:left;width:100%;margin:-10px 0 10px 0;height:44px;background: #7f7f7f;background: -webkit-gradient(linear, 0 0, 0 bottom, from(#7f7f7f), to(#5c635c));background: -moz-linear-gradient(#7f7f7f, #5c635c);background: linear-gradient(#7f7f7f, #5c635c);behavior: url('PIE.php');}


.sf-menu, .sf-menu * {margin:0;padding:0;list-style:none;}
.sf-menu {line-height:1.0;margin-top:8px;margin-left:150px;}
.sf-menu ul {position:absolute;top:-999em;width:10em;}
.sf-menu ul li {width:100%;}
.sf-menu li:hover {visibility:inherit;}
.sf-menu li {float:left;position:relative;}
.sf-menu a {display:block;position:relative;}
.sf-menu li:hover ul,.sf-menu li.sfHover ul {left:0;top:2em;z-index:99;}
ul.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul {top:-999em;}
ul.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul {left:10em; top:0;}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {top:-999em;}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {left:10em;top:0;}

.sf-menu {float:left;margin-bottom:1em;}
.sf-menu li li {background:#555;border-top:1px solid #333;margin-left:0 !important;padding-left:0;}
.sf-menu li li a {font-size:.5em;padding:0 5px 0 5px;}
.sf-menu li li li {background:#555;}

.sf-menu a.sf-with-ul {padding-right: 2.25em;min-width:1px;}
.sf-sub-indicator {position:absolute;display:block;right:.75em;top:1.05em;width:10px;height:10px;text-indent:-999em;overflow:hidden;background:none;}
a > .sf-sub-indicator {top:.8em;}

a:focus > .sf-sub-indicator,a:hover > .sf-sub-indicator,a:active > .sf-sub-indicator,li:hover > a > .sf-sub-indicator,li.sfHover > a > .sf-sub-indicator {background-position: -10px -100px;}

.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
.sf-menu ul a:focus > .sf-sub-indicator,.sf-menu ul a:hover > .sf-sub-indicator,.sf-menu ul a:active > .sf-sub-indicator,.sf-menu ul li:hover > a > .sf-sub-indicator,.sf-menu ul li.sfHover > a > .sf-sub-indicator {background-position: -10px 0;}
.sf-shadow ul.sf-shadow-off {background: transparent;}


#top_nav ul {height:44px;margin:0 0 0 35px !important;padding:0 !important;}
#top_nav ul ul {margin-left:0 !important;}
#top_nav ul li {float:left;list-style:none;font-size:1.8em;font-family:Helvetica, Arial, sans-serif;line-height:44px !important;height:44px !important;margin:0; padding:0;}
#top_nav ul ul li {line-height:normal !important; height:auto !important;padding:10px;}
#top_nav ul li a {color:#fff;text-decoration:none;padding-right:28px;}
#top_nav ul li.last a {padding-right:0;}
#top_nav ul li a:hover {text-decoration: none;color:#4eb2ff;}

#featured_posts {background:#fff;height:78px;margin:0 5px 10px 5px;padding:0px;overflow:hidden}


#featured_posts li{float:left;width:235px;height:78px;border-right:1px solid #ececec;list-style:none;margin:0px;}
#featured_posts li:last-child{border:0px;}

#featured_posts div {padding:10px 7px 10px 7px;}

.featured_thumbnail {float:left;display:inline;width:55px;height:55px;}
.featured_thumbnail img {border:1px solid #ececec;height:55px;width:55px;}

.featured_title {float:left;display:inline;width:140px;}	
.featured_title h2 {font-size:1.2em;margin:-3px 0 0 0;padding:0;}
.featured_title h2 a {line-height:1.3em !important;color:#444;}
.featured_title h2 a:hover {color:#0090ff;}

/* -- MAIN -- */
#page {position: relative;margin: 0;padding: 0;padding-bottom:10px;width: 100%;}

#skip {position: absolute;top: -500px;width: 1px;height: 1px;overflow: hidden;}

#wrapper{haslayout:true;}

#content{overflow:hidden;}

.title { font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial,  sans-serif;}

span.author_link a {color:#000 !important;font-weight:bold;}
.post_subhead{font-size:12px;border-bottom:5px #d2d2d2 solid;height:22px;}
.post_subhead span{height:25px;}
.post_subhead .right{float:right;}

.postmetadata {text-align: left;margin: 30px 0;clear: both;}
.postmetadata ul, .postmetadata li {display: inline;list-style-type: none;list-style-image: none;}

.entry{margin-top:15px;}

#entry_extra div {padding-left:10px;padding-right:10px;}

.single .entry {margin:15px 0 20px 0;}

.entry p {margin-bottom:15px !important;}
.entry ul{font-size:15px;margin-left: 40px;padding: 0;list-style:square;}
.entry li {margin-left: 0em;padding: 0 1em .5em 0;}
.entry ol {padding: 0 0 0 35px;margin: 0;}
.entry ol li {margin: 0;padding: 0 1em .5em 0;}
.entry form { text-align:center;}

.index_thumb{text-align:left;float:left;margin-right:13px;margin-bottom:10px;}

.attachment-featured-thumbnail{margin-left:0px;}
.attachment {margin: 5px 0px;}

.more-link{margin-top:20px;padding:8px 20px;background-color:#CC3333;color:#fff;font-size:16px;font-weight:bold;font-family:"Droid Sans", "Helvetica Neue", Helvetica, Arial,  sans-serif;float:right;background: #d72e01;background-image:url('images/read_more_bg.jpg');}
.more-link:visited{color:#fff;}

.smallattachment {text-align: center;float: left;width: 128px;margin: 5px 5px 5px 0px;}

.attachment {text-align: center;}

.tags_list{font-size:15px;margin-top:0px !important;}

.post {background:#fff;margin: 0 0 15px 0;padding:5px 13px 13px 13px;}

.ad{border-bottom:1px #ebebeb dashed;}

.archives{padding:20px;}
.archives ul{margin-left: 0;margin-right: 0;padding: 0 0 10px 0;list-style: none;list-style-image:none;}
.archives li{margin: 0em;padding: 1em 1em .6em 0;border-bottom:1px #d2d2d2 solid;}
.archives li:last-child{border-bottom:0px;}

#single_wrap.grid_16{width:620px;background:#fff;}
#single_wrap .post{margin: 0;}
#single_wrap .entry{margin-bottom: 0;}

.h_list{margin:0px;padding:0px;list-style:none;}
.h_list li{display:inline;float:left;padding-right:10px;}
.h_list li.comment_bubble a {background:url('images/sprite.png?v15') -426px 0 no-repeat;height:7px;width:10px;padding:0 0 0 12px;}
.h_list li.facebook_list {width:60;margin-top:-2px;}
.h_list li.twitter_list {width:100px;margin-top:-2px;}

.h_list li.twitter_list_bottom {width:65px;margin-top:-2px;}
.h_list li.facebook_list_bottom {width:75;margin-top:-2px;}
.h_list li.gplus_list_bottom {width:75px;margin-top:-2px;}

#first_ad{background:#eee;width:300px;height:250px;}

.special ul{margin-left: 0;margin-right: 0;padding: 0 5px 0 10px;list-style: none;list-style-image:url('images/list-bullit.gif')}
.special li{font-size:1.5em;margin-left: 0em;padding: 0 1em .5em 0;}


.commentlist {padding: 0;text-align: justify;}
.commentlist li, #commentform input, #commentform textarea {font-size: 13px;font-family:Arial, Helvetica, sans-serif;}
.comment-author-meta{font-size:12px;}
.comment-body{padding:10px;padding-top:0px;border-bottom:4px solid #d8d8d8;}
.commentlist li {font-weight: bold;margin: 15px 0 5px;padding: 5px 5px 5px 10px;list-style: none;}
.commentlist cite, .commentlist cite a {font-weight: bold;font-style: normal;font-size: 12px;}
.commentlist p {font-weight: normal;line-height: 150%;text-transform: none;}
.commentlist li ul li { margin-right: -5px;margin-left: 10px;}
.commentlist p {margin: 10px 5px 10px 0;}

#comments{padding: 5px 5px 5px 5px;background-color:#fff;-webkit-box-shadow: #666 0px 2px 3px;-moz-box-shadow: #666 0px 2px 3px;box-shadow: #666 0px 2px 3px;behavior: url('PIE.php');}
#comment_form{background-color:#484848;color:#fff;padding: 10px 5px;border-bottom-right-radius  : 5px;border-bottom-left-radius  : 5px;-webkit-border-bottom-right-radius: 5px;-webkit-border-bottom-left-radius: 5px;-moz-border-radius-bottomright : 5px;-moz-border-radius-bottomleft : 5px;-webkit-box-shadow: #666 0px 2px 3px;-moz-box-shadow: #666 0px 2px 3px;box-shadow: #666 0px 2px 3px;behavior: url('PIE.php');}
#comment_form_header{padding: 5px 5px;background-color:#ff3000;-webkit-box-shadow: #666 0px 2px 3px;-moz-box-shadow: #666 0px 2px 3px;box-shadow: #666 0px 2px 3px;behavior: url('PIE.php');}
#comment_form_header h3{color: #fff;}
#comment_form .alignleft{margin:10px 5px 10px 0px;}
#comment_form p {color: #fff;margin: 5px 0;}
#comment_form .text_input {width: 178px;}
#commentform {margin: 5px 10px 0 0;}
#commentform textarea {width: 100%;padding: 2px;}
#commentform #submit {margin: 0 0 5px auto;float: right;}

#respond:after {content: ".";display: block; height: 0; clear: both; visibility: hidden;}

.avatar{float:left;margin-right:10px;width:65px;text-align:center;}

.comment-body{float:left;width: 75%;}

.logged-in-as{float:right;}

.alt {margin: 0;padding: 10px;}

.children {padding: 0;margin-left:5px;}

.nocomments {text-align: center;margin: 0;padding: 0;}

/* End Comments */

.share_bar {border-top:1px solid #ddd;border-bottom:1px solid #ddd;margin:10px 0 10px 0;padding:3px 0 3px 0;}
.share_bar div.bar_icon {float:left;display:inline;width:164px !important;margin-top:1px;}
.share_bar div.bar_icon.bar_sharethis {width:89px !important;float:right;margin-top:0;}


.single_share_bar {border-top:1px solid #ddd;border-bottom:1px solid #ddd;margin:10px 0 10px 0;padding:5px 0 5px 0;height:22px;line-height:22px;}
.single_share_bar div {display:inline;}
.single_share_bar .follow_right {float:right;}
.single_share_bar .share_left .single_share_option {width:85px;margin-top:3px;background:#ddd;}
.single_share_bar .share_text {font-size:1.2em !important;line-height:26px !important;margin-right:5px;}
.single_share_bar .share_left .share_text {margin-right:0;}
.single_share_bar li {font-size:1.4em;line-height:18px;}
.single_share_bar li.twitter_list {width:75px !important;}
.single_share_bar li.twitter_list, .single_share_bar li.facebook_list {margin-top:0 !important;}

.ad300x600 {width:600px;}
.ad300x600 div {margin:0 auto !important;text-align:center;}

/* -- MISC-- */

small, #sidebar ul ul li, #sidebar ul ol li, .nocomments, .postmetadata, blockquote, strike {color: #777;}

.archives li{font-size:13px;}

/* BuySellAds Code for ads */
body div.bsap_1251628 {float:left; width:160px;}

/* Contact Form Styling */
#wpcf label {clear: both;display: block;float: left;width: 150px;}
#wpcf input {float: left;width: 200px;padding: 1px;margin: 2px 5px 2px 0;}
#wpcf textarea {width: 350px;height: 100px;padding: 1px;margin: 0 5px 10px 0;}
#wpcf #contactsubmit {margin-left: 250px;width: 100px;}

.vert_ads{width:355px;padding:10px 0 10px 0;}
.vert_ads a{margin-left:10px;margin-right:10px;}
.vert_ads ins{float:left; padding-bottom:10px;margin-bottom:10px;}

.ad_panel{background-color:#fff;width:320px;margin-top:10px;padding-bottom:5px;}

.white_round{margin-bottom:10px;}

.white_square{background: #fff;padding:10px 5px;margin-bottom:10px;-webkit-box-shadow: #666 0px 2px 3px;-moz-box-shadow: #666 0px 2px 3px;box-shadow: #666 0px 2px 3px;behavior: url('PIE.php');}

.single_white {background:#fff;padding:10px;}
.single_white_round{background: #fff;padding:10px 5px;margin-bottom:0px;}

.wp-pagenavi {clear: both;}
.wp-pagenavi {color:#666666;margin-bottom:10px;}
.wp-pagenavi a, .wp-pagenavi span {text-decoration: none;border: 1px solid #fff;padding: .5em .5em;margin: 2px;font-size:1.5em;background:#fff;}
.wp-pagenavi a:hover, .wp-pagenavi span.current {border-color: #fff;}
.wp-pagenavi span.current {font-weight: bold;}

#search{padding:0;margin-bottom:10px;}

#searchform {margin: 10px auto;padding: 5px 3px;text-align: left;font-size:14px;}

.single #single_comments  {padding:13px !important;}
.single #single_comments {font-size:1.3em;}
.single #single_ad {margin-left:-1px;}
.single #related_posts {padding-top:5px !important;}


.top_posts h2{margin-top:0px;}

#top_side_ad {margin-bottom:3px;}
#top_side_ad iframe {padding-top:10px !important;}

.red_header{background-color:#ff3000}

.dark_grey_bg{background-color:#484848;}

/* Author Page */
#author_box {background:#fff;padding:10px;margin-bottom:10px;}
#author_box h3 {font-size: 24px;margin-top:0;padding-top:0;}
#author_box div {margin-top:8px;}
#author_box #author_image {width:80px;float:left;}
#author_box #author_image img.avatar {width:72px;height:72px;}
#author_box #author_bio p {text-align:top;margin-top:-2px;}

.related_post{margin-left:0 !important;padding-left:0 !important;}
.related_post li {list-style:none;float:left;display:inline;width:273px;height:60px;margin-bottom:10px;}
.related_post li img {float:left;margin:3px 10px 0 0;}
.related_post li a {color:#444;font-weight:bold;font-size:.85em;vertical-align:top !important;}
.related_post li a:hover {color:#0090FF;text-decoration:none !important;}
.related_post {height:140px;width:600px;}

/* -- SIDEBAR -- */
#sidebar {text-align: left;overflow:hidden;}
#sidebar #stay_connected h3, #sidebar .most_recent_posts h3 {font-weight:400;height:38px;color:#fff;line-height:38px;font-size:1.6em;background: #7f7f7f;background: -webkit-gradient(linear, 0 0, 0 bottom, from(#7f7f7f), to(#5c635c));background: -moz-linear-gradient(#7f7f7f, #5c635c);background: linear-gradient(#7f7f7f, #5c635c);behavior: url('PIE.php');margin:0 !important;padding: 0 0 0 20px !important;}

#facebook_box{padding:10px 0 10px 0 !important;}
#square_ad_box {padding:10px !important;}

#stay_connected {margin-bottom:10px;}

#side_search {height:28px;background:#fff;margin-bottom:10px;padding:6px 5px 5px 7px;}

#share_links {background:#fff;padding:15px 0 15px 15px;}

.most_recent_posts {margin:10px 0 10px 0;}
.most_recent_posts  .most_recent_list {background:#fff;padding:15px 0 15px 15px;}
.most_recent_posts .recent_thumb {float:left;display:inline;width:55px;margin-right:10px;}
.most_recent_posts .recent_title {float:left;display:inline;width:220px;}
.most_recent_posts .most_recent_post {float:left;clear:both;margin-bottom:10px;}
.most_recent_posts .most_recent_post.last {margin-bottom:0;}
.most_recent_posts h4 {font-size:1.3em;line-height:normal !important;vertical-align:top;margin:-3px 0 0 0 !important;padding:0 !important;}
.most_recent_posts h4 a {color:#444;}
.most_recent_posts h4 a:hover {color:#0090ff;text-decoration:none !important;}


#share_icons {height:25px;}

.share_outside {float:left;display:inline;}
.share_outside#fb_button {width:50px;}
.share_outside#tw_button {width:155px;margin-left:27px;}
.share_outside#p1_button {float:right;width:32px;margin-right:15px;}

#share_left {float:left;display:inline;width:138px;}
#share_right {float:left;display:inline;width:138px;margin-left:20px;}
.share_option {float:left;border-top:1px dashed #bbb;margin-top:8px;padding-top:10px;}
.share_icon {float:left;display:block;width:29px;height:25px;background:url('images/sprite.png?v15') no-repeat;}
.share_text {float:left;display:inline;margin-left:5px;width:100px;}
.share_text h4, p {margin:0;padding:0;}
.share_text h4 {font-size:1.4em;margin-top:2px;}
.share_text h4 a, .share_text h4 a:visited {color:#3056a3;}
.share_text p {font-size:.9em;line-height:16px;}
.share_text p a {color:#5c645c;}

.share_icon#rss_icon {background-position: 0 -25px;} 
.share_icon#youtube_icon {background-position: 0 -50px;} 
.share_icon#twitter_icon {background-position: 0 -75px;} 
.share_icon#newsletter_icon {background-position: 0 -100px;height:24px} 
.share_icon#tip_icon {background-position: 0 -125px;} 

#side_search div {height:27px;line-height:27px;width:305px;margin:0 auto;}
#side_search input.text {float:left;display:inline;height:23px;border:1px solid #ddd;width:223px !important;}
#side_search input#search_submit {float:left;display:inline;width:78px;}

#wp-calendar {empty-cells: show;margin: 10px auto 0;width: 155px;}
#wp-calendar #prev a, #wp-calendar #next a {font-size: 9pt;}
#wp-calendar a {text-decoration: none;display: block;}
#wp-calendar caption {font: bold 13px;text-align: center;width: 100%;}
#wp-calendar th {font-style: normal;text-transform: capitalize;}
#wp-calendar td.pad:hover { /* Doesn't work in IE */background-color: #fff;}
#wp-calendar #next a {padding-right: 10px;text-align: right;}
#wp-calendar #prev a {padding-left: 10px;text-align: left;}
#wp-calendar td {padding: 3px 0;text-align: center;}


.ad_panel_header h2, .ad_panel_header h3{margin:0 5px 5px 5px;}

@-moz-document url-prefix() {
    #side_search input.text {width:225px !important;}
}

@media only screen and (device-width: 768px) {
 #side_search input.text {width:214px !important;}
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  #side_search input.text {width:214px !important;}
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
   #side_search input.text {width:214px !important;}
}

.sidebar_white_round{background: #fff;padding:10px 5px;margin-bottom:10px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;-webkit-box-shadow: #666 0px 2px 3px;-moz-box-shadow: #666 0px 2px 3px;box-shadow: #666 0px 2px 3px;behavior: url('PIE.php');}
.sidebar_white_round2{background: #fff;padding:10px 5px;margin-bottom:5px;margin-top:10px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;-webkit-box-shadow: #666 0px 2px 3px;-moz-box-shadow: #666 0px 2px 3px;box-shadow: #666 0px 2px 3px;behavior: url('PIE.php');}

#sidebar #searchform #s {width: 180px;padding: 7px;}
#sidebar #searchsubmit {padding: 1px;}

.wpp-comments{display:block;font-size:1.2em;}

.tag_cloud{margin-top:20px;margin-bottom:20px;}


#google_search {display:block;float:right;height:27px;background: url('images/button-search.gif?v02') repeat-x;color:#fff;font-size:1.4em;font-weight:bold;width:78px;text-align:center;cursor:pointer;}
#google_search:hover {text-decoration:none;}

@-moz-document url-prefix() { 
  #google_search {
     width:76px;
  }
}



#search_input {color: #9c9c9c !important;}


/* -- FOOTER -- */
#footer {margin: 1px 0 0 0;width:100%;float:left;padding-bottom:30px;background-color:#7b7c7c;border: none;}
#footer a:hover {text-decoration: none;color:#0099ff;}

/*
.footer_wrap {height:375px;background: url('images/sprite.png?v15') 0 -158px no-repeat;width:837px;}
*/

#footer_logo {padding:30px 0;}
#footer_logo a {width:172px;height:101px;display:block;text-indent:-9999px;background: url('images/sprite.png?v15') -251px 0 no-repeat;}

#footer_content{margin-top:40px;}
#footer_content .menu li{float:left;list-style:none;margin-left:40px;}
#footer_content .menu a{font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial,  sans-serif;font-size: 2.2em;margin-top: 0.5em;margin-bottom: .6em;color:#000000;font-weight:bold;}
#footer_content ul{margin-left:0px;padding-left:0px;}
#footer_content .sub-menu li{float:none;padding:0px;padding-left:0px;margin-left:20px;}
#footer_content .sub-menu a{font-family: "Helvetica Neue", Helvetica, Arial,  sans-serif;font-size: 1.4em;margin-top: 0.5em;margin-bottom: .3em;color:#000000;line-height:180%;}

#copyright{padding:5px;text-align:center;}



/* Retina Displays */
@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {


	#logo a,
	.h_list li.comment_bubble a,
	.share_icon#facebook_icon, 
	.share_icon#rss_icon, 
	.share_icon#youtube_icon,
	.share_icon#twitter_icon,
	.share_icon#newsletter_icon,
	.share_icon#tip_icon,
	#footer_logo a
	{
		/* Reference the @2x Sprite */
		background-image: url('images/sprite@2x.png?v22');
		/* Translate the @2x sprite's dimensions back to 1x */
		background-size: 800px 155px;
	}
	
}

