.cms-promo-banner {
    width: 759px;
    height: 286px;
    margin: 47px auto 70px auto;
    background: #e6e6e6;
    padding:4px;
    border: 1px solid #bbbbbb;
    border-top: 2px solid #fbfbfb;
    display: block;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}

.cms-promo-banner img {
    width: 759px;
    height: 286px;
}