div.contact-bar {
   background-color: #fe7c00; font-size:16pt; color:#FFFFFF; text-align:center;
}
/* CONTACT CONTAINER */
div#contact-container, div#partner-container {
    background-color: #F7F7F7;
    padding: 41px;
    position: relative;
    border:1px solid #ddd;
}
    div#partner-container .partner_arrow { background: url("../images/partner_arrow.png"); width: 77px; height: 124px; position: absolute; right: 100px; top: 83px; }
    div#partner-container h1 { font-family:"DINCompPro-CondMedium", Arial, Helvetica; font-size: 92px; color: #333; text-transform: uppercase; text-align: center; font-weight: normal; }
    html[lang="fr"] div#partner-container h1, html[lang="es"] div#partner-container h1, html[lang="cs"] div#partner-container h1 { font-size: 80px; line-height: 120px; }
    html[lang="pt"] div#partner-container h1 { font-size: 71px; line-height: 125px; }
    div#partner-container h3 { font-family:"DINCompPro-CondMedium", Arial, Helvetica; font-size: 48px; color: #858585; margin-top: -36px; margin-bottom: 20px; text-transform: uppercase; text-align: center; font-weight: normal; }
    div#partner-container form { float: left; width: 100%; box-sizing: border-box; }
    div#partner-container form h4 { font-family:"DINCompPro-CondMedium", Arial, Helvetica; margin-left: -45px; padding-top: 30px; font-size: 34px; color: #658e14; text-transform: uppercase; text-align: center; font-weight: normal; }
    div#partner-container form h4 span.number { float: left; width: 45px; height: 45px; background: #658e14; color: #fff; }
    div#partner-container form h4 span.title { float: left; margin-left: 10px; margin-top: 5px; }
    div#partner-container form .s1 { background: #fff !important; border-top: 1px solid #e3e3e3; }
    div#partner-container form .inputs { padding: 0px 0px 45px 45px; border-bottom: 1px solid #e3e3e3; border-left: 1px solid #e3e3e3; border-right: 1px solid #e3e3e3; position: relative; background: rgb(248,248,248); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(255,255,255,1) 41%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,248,248,1)), color-stop(41%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(255,255,255,1) 41%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(255,255,255,1) 41%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(255,255,255,1) 41%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(248,248,248,1) 0%,rgba(255,255,255,1) 41%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
 }
    div#partner-container form .inputs .personal_details { background: url("../images/personal_details.png"); position: absolute; right: 0; bottom: -29px; width: 494px; height: 483px; z-index: 1; }
    div#partner-container form .inputs .social_networks { background: url("../images/social_networks.png"); position: absolute; right: 0; bottom: -30px; width: 508px; height: 527px; z-index: 1; }
    div#partner-container form input[type="text"], div#partner-container form select, div#partner-container form textarea { float: left; clear: both; margin-top: 23px; padding-left: 15px; background: #fff; -moz-box-shadow: inset 0 0 7px #e1e1e1;
                    -webkit-box-shadow: inset 0 0 7px #E1E1E1;
                    box-shadow: inset 0 0 7px #E1E1E1;
    font-size: 16px; font-family: Arial; font-weight: normal;box-sizing: border-box; width: 380px; height: 46px; border: 1px solid #d9d9d9; }
    div#partner-container form .inputs .select-bg { width: 380px; margin-top: 23px;
    height: 46px;
    overflow: hidden;
    background: url(../images/vw_tatakafeedback/select.gif) no-repeat; }
    div#partner-container form select { background: transparent; margin-top: 0px; width: 400px; }
    div#partner-container form select.validation-failed { width: 380px; }
    div#partner-container form textarea { width: 815px; height: 250px; box-sizing: border-box; padding-top: 15px; resize: vertical; }
    div#partner-container form .inputs .file-bg { cursor: pointer; width: 177px; margin-top: 13px; float: right; margin-right: 45px; position: relative;
    height: 34px;
    overflow: hidden;
    background: #b4b4b4; }
    div#partner-container form .file-bg input[type="file"] { cursor: pointer; background: transparent; margin-top: 0px; width: 200px; height: 34px; box-shadow: none; border: none; padding-left: 180px; position: relative; z-index: 1; }
    div#partner-container form .file-bg span { cursor: pointer; color: #fff; font-size: 18px; font-family:"DINCompPro-CondMedium", Arial, Helvetica; font-weight: normal; position: absolute; left: 0; width: 177px; line-height: 37px; text-align: center; }
    div#partner-container form .button-background { width: 300px; height: 180px;
    margin: 52px auto 22px auto;
    position: relative;
    background: url('../images/sok-gfx/button.png') no-repeat; }
    div#partner-container form .button-background #send-application { display: block; background-image: none; width: 278px;  top: 118px; height: 55px; padding-top: 0px; position: absolute; left: 10px; line-height: 63px; text-align: center; }
    div#partner-container form .button-background #send-application span { display: inline-block; white-space: nowrap; text-transform: uppercase; font-family: "DINCompPro-CondMedium"; color: white; font-size: 40px; }
    div#partner-container form .button-background-ms { text-align: center; margin-top: 50px; }
    div#partner-container form .button-background-ms .send-partner { text-transform: uppercase; font-family:"DINCompPro-CondMedium", Arial, Helvetica; font-weight: normal; font-size: 34px; line-height: 60px; margin-top: 10px; box-shadow:none; border:none; width:249px; height:55px; background-image: url('../images/send-partner.png'); padding-bottom:4px; background-color: transparent; cursor: pointer; color:#fff; }
    div#partner-container form .button-background-ms .send-partner:hover { background-image: url('../images/send-partner.png'); background-position: bottom; }
    div#partner-container form h4 span.thx { font-size: 29px; margin-left: 0px; float: none; }

    div.contact-container-inner {
        border:1px solid #e1e1e1;
        background-color:#FFFFFF;
        margin-top: 63px;
    }
        div.contact-container-inner .popup-msg {
            background: url("../images/contact-us/desc-middle.jpg") repeat-y scroll 0 0 #D5EBF2;
            bottom: 50px;
            left: 220px;
            width: 599px;
        }
            div.contact-container-inner .popup-msg-answear {
                margin-bottom: 2px;
                margin-left: 221px;
            }
            div.contact-container-inner .top-desc-inner {
                background: url("../images/contact-us/description.jpg") no-repeat scroll 0 0 transparent;
                color: #628990;
                font-family: Arial,Helvetica,sans-serif;
                font-size: 16px; line-height:1.4;
                min-height: 60px;
                padding: 20px 22px;
            }
                div.contact-container-inner .top-desc-bottom {
                    background: url("../images/contact-us/desc-bottom.jpg") no-repeat scroll 0 0 transparent;
                    height: 41px;
                }
                div.contact-container-inner .desc-pin {
                    background: url("../images/contact-us/pin.png") no-repeat scroll 0 0 transparent;
                    bottom: 8px;
                    height: 21px;
                    left: -8px;
                    width: 13px;
                }
            div.contact-container-inner .desc-item {
                display: none;
            }
            div.contact-container-inner .desc-item.active {
                display: block;
            }
                div.contact-container-inner .desc-item-first { font-size:26px; padding: 10px 0 0 20px; }
div.loader {
    opacity:0; display:none;
    background: url('../images/loading.gif') no-repeat center center;
    background-color: rgba(255, 255, 255, 0.8);
    width:100%;height:100%;
    top:0;left:0;
    z-index:2;
}

    div#contact-container .content, div.answear-options {
        margin-top:50px;
        min-height: 300px;
        background: url("../images/contact-us/logo-bottom.jpg") no-repeat 20px bottom transparent;
        padding: 0;
    }
        div.answear-options { margin-top: 0; }
            div.answear-options .options {
                max-width: 100% !important;
                padding-bottom: 22px;
            }
        div.answear-label {
            font-size: 14px;
            margin: 0 0 10px 242px;
        }

    div#contact-container .options {
        margin:0 auto;
        max-width:460px;
    }
        div#contact-container .order-options, div.answear-options {
            display:none;
        }
        div#contact-container .options div.option-group {
            width:100%;
            display: none;
            margin-bottom: 26px;
        }
            div#contact-container .options div.option-group-answear .option-wrapper {
                width:100%;
            }
        div#contact-container .options div.option-group div.option-wrapper,
        div#contact-container .options div.option-group-answear div.option-wrapper {

        }
            div#contact-container .options div.option-group div.option-wrapper div.select-wrapper {

            }
                div#contact-container .options div.option-group div.option-wrapper div.select-wrapper > select,
                div.answear-options select
                {
                    background-color:#fff !important;
                    border: 1px solid #e1e1e1;
                    padding: 5px 6px 5px 15px;
                    width: 460px;
                    -webkit-border-radius: 2px;
                    -moz-border-radius: 2px;
                    border-radius: 2px;
                    -moz-box-shadow: inset 0 0 5px #e1e1e1;
                    -webkit-box-shadow: inset 0 0 5px #E1E1E1;
                    box-shadow: inset 0 0 5px #E1E1E1;
                }
                    div.answear-options select {
                        width: 262px;
                    }
        div#contact-container .option-order > .order-bottom {
            width: 100%;
        }
                div#contact-container .option-order > .order-bottom a {
                    color: #000000;
                    display: block;
                    text-align: right;
                }
        div#contact-container .options div.option-group div.option-wrapper input.order {
            width: 445px;
            background-color:#fff !important;
            border: 1px solid #e1e1e1; padding: 5px 0 5px 15px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            -moz-box-shadow: inset 0 0 5px #e1e1e1;
            -webkit-box-shadow: inset 0 0 5px #E1E1E1;
            box-shadow: inset 0 0 5px #E1E1E1; height:20px;
        }
            div#contact-container  .option-order-list {
                bottom:0px; left:0px;
                display:none;
                min-width:462px;
                max-height:150px;
            }
                div#contact-container .order-list-inner {
                    background:#FFF;
                    border:1px solid #CCC;
                    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
                    padding: 5px;
                    overflow: scroll;
                    overflow-x: hidden;
                    height: 207px;
                }
                div#contact-container .table-list {
                    width:100%;
                }
                div#contact-container .table-list tr {
                    cursor:pointer;
                }
                    div#contact-container .table-list td,  div#contact-container .table-list th {
                        padding: 3px;
                    }
                div#contact-container .table-list tr.stripped {
                    background-color: #f4f4f4;
                }
                div#contact-container .table-list td.order-date {
                    padding-left:5px;
                }
        div#contact-container .options div.option-group div.icon {
            width:60px; height: 50px;
            background: url('../images/contact-us/king-ico.jpg') no-repeat left center;
        }

    div#contact-container .html {
        max-width:500px;
        color:#FE0000;
    }

    div#contact-links {
        display:none;
        margin-left: 75px;
    }
    div#contact-links .links-inner {
        margin:10px 0;
        color: #333333; font-weight:normal;
        text-align: right;
        font-family: Arial, sans-serif;
        }
            div#contact-links .links-inner a { color:#333333; text-decoration:none; }
            div#contact-links .links-inner a.popup-trigger { cursor:pointer; }

    div#contact-links .contact-popup {
        display:none;opacity:0;
        max-width:110px;
        background-color:#FFFFFF;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
        border:1px solid #CCC;
        padding: 10px; z-index:1;
        top:-130px; right:-15px;
    }
        div#contact-links .contact-popup > .arrow_popup {
            /*
            left:47px;
            top: 88px !important;
            */
            left: 47px;
            position: absolute;
            top:auto; bottom: -19px !important;
        }
    div#contact-links table.links-chat td.links-content {
        padding-left:5px;
    }
        div#contact-links td.links-content a {
            font-size:14px; color:#363636;
            margin-right: 5px;
        }
        div#contact-links td.links-description {
            font-size:9px;
        }

    div#contact-links .links-inner .links-box {
        max-width:100px; padding:10px;
        background-color: #FFF; border:1px solid #cccccc;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
        margin-right:10px;
    }
        div#contact-links .links-inner .links-box > a.links-info {
            display: block;
            font-size: 9px;
            line-height: 16px;
            text-align: center;
            text-decoration: none;
            width: 100%;
        }
    div.payments-mail-box, div.payments-livechat-box {
        border: 1px solid #CCCCCC;
        margin-right: 2px;
        padding: 12px;
        width: 110px;
    }
        div.payments-livechat-box {margin-right:0;}
        div.payments-mail-box table.links-email td.links-description,
        div.payments-livechat-box table.links-chat td.links-description {
            font-size: 9px;
            color:#363636;
        }
        div.payments-mail-box table.links-email td.links-content,
        div.payments-livechat-box table.links-chat td.links-content
        {
            font-size: 14px;
            color:#363636;
            height: 22px;
        }
        div.contact-text-links {
            display: none;
            width:290px;
            margin:0 auto;
        }
            div.contact-text-links div.payments-mail-box {background: #FFFFFF; float:left;}
            div.contact-text-links div.payments-livechat-box {background: #FFFFFF; float: right;}
    div.spacer-1 {width:100%;height:1px; background-color:#CCC; margin:5px auto;}
    div.content div.spacer-1 {margin:45px 0;}
/* CONTACT MENU */

div.contact-menu {
    height: 62px;
    position: absolute;
    z-index:1 ;
    margin-top:1px
}
    div.contact-menu-container {
        margin:0 auto;
    }
    div.contact-menu > ul > li {
        display: block; position:relative;
        float: left;
        height: 62px;
        min-width: 123px;
        border:1px solid #e2e2e2;
        border-bottom:none;
        background: #fcfcfc; /* Old browsers */
        background: -moz-linear-gradient(top,  #fcfcfc 0%, #efefef 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #fcfcfc 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #fcfcfc 0%,#efefef 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #fcfcfc 0%,#efefef 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #fcfcfc 0%,#efefef 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */

    }
        div.contact-menu > ul > li:hover, div.contact-menu > ul > li.active {
            /*
            background-image: none;
            background-color:#FFFFFF !important;
            */
            background: #FFFFFF !important;
            border-bottom: none !important;

            z-index:10;

        }
        div.contact-menu > ul > li.contact-item {
            margin: 0 0 0 4px;
        }
            div.contact-menu > ul > li.contact-item.first {
                margin:0;
            }

    div.contact-menu > ul > li > a {
        font-family: "DINCompPro-CondMedium","Trebuchet MS",Arial,Helvetica,sans-serif;
        color:#666666;
        font-size: 13pt;
        width:100%;
        height:62px;
        line-height:110%;
        cursor:pointer;
        text-align:center;
        display:table;
}
html[lang="de"] div.contact-menu > ul > li > a { font-size: 10pt; }

        div.contact-menu > ul > li > a:hover {
            text-decoration: none;
        }
    div.contact-menu > ul > li > a > span {
        display: table-cell;
        height:62px;
        width:100%;
        vertical-align: middle;
    }
    /* INFO */
    .informations { display:none; margin:0 auto; padding:10px; background-color: #FFFFFF;}
    .informations.error { display:block; margin:0 auto; padding:10px; background-color: rgba(255, 24, 0, 0.24); color:#FFFFFF;}
    .contact-payments { display:none; width: 800px; margin:0 auto}
    .informations .contact-left-menu {
        float:left;
        width:155px;
        border:1px solid #cccccc;
    }
        .informations .contact-left-menu li a { display:block; padding:3px 5px; color:#9F9F9F; font-size:12px; cursor:pointer;}
        .informations .contact-left-menu li a.active { background-color: #d4d4d4}

    .informations .contact-content {
        max-width: 540px;
    }
        .informations .contact-content > .content-item {
            display:none;
        }
        .informations .contact-content > .content-visible {
            background-color:#FFF;
            display: block;
        }
        .informations .contact-content .contact-content-description {
            background: #FFF;
            padding:10px;
        }
        .informations .contact-content .contact-content-description img {
            max-width:100%; height:auto;
        }

        .contact-select-top {
            background: none repeat scroll 0 0 #FFFFFF;
            border-bottom: 1px solid #E1E1E1;
            padding: 10px 10px 15px;
        }

        .payments-list {
            width:100%;
            height:400px;
            padding:15px 0 15px 15px;
        }
        .payments-content, .preorders-content {
            width: 555px;
            background: none repeat scroll 0 0 #FFFFFF;
            /*max-width: 510px;*/
            padding: 10px 0 0 6px;
        }
            .payments-content .country-select-wrapper {
                border-bottom: 1px solid #e1e1e1;
                padding: 15px 13px;
            }

        .payments-content h3 { padding:20px; background:url('../images/contact-us/payments_bar.jpg') no-repeat right center #ececec;}
        .payments-content .payment-box {
            border: 3px solid #959595;
            height: 60px;
            margin: 4px;
            text-align: center;
            width: 114px;
        }

        .payments-content .payment-box a { display: block; width:100%; height: 100%; cursor: pointer; }
        .payments-content .payment-box a > img {
            height: 60px;
            width: 114px;
        }

        .payment-popup-desc {
            display: none;
            max-width: 275px;
            background:#FFFFFF;
            -moz-box-shadow:  0 0 5px #000000;
            -webkit-box-shadow:  0 0 5px #000000;
            box-shadow:  0 0 5px #000000;
            top:0;left:0;
            position: absolute;
            padding:15px;
            opacity:0;
        }
        .payment-popup-desc .links-content .support-mail, .contact-popup .links-content .support-mail{
        background-image: url('../images/general-sprites.png');
        background-position: -34px -179px;
        width: 28px;
        height: 23px;
        background-repeat: no-repeat;
        float:left;
        }

       .payment-popup-inner {
                padding:10px;
            }
            .payment-popup-arrow {
                width:18px; height:36px;
                top:50%; right: -18px; margin-top:-16px;
                background:url('../images/contact-us/right-arrow.png') no-repeat transparent;
                position: absolute;
            }
        .payment-box .payment-text {
            display:none;
        }
        .payment-description-container {
            display:none;
            max-width:300px;
        }
        .payment-description-container div.option-wrapper {
            background: url('../images/contact-us/box-bg.jpg') repeat-y #afdef8;
            padding:12px; border:3px solid #bce7fd; border-radius: 3px;
            margin-left:15px;
        }

        /* PREORDERS */
        .preorders-answers {}
        .preorders-answers .answer-container {display: none;}
        .preorders-answers .answer-container.active {display: block;}
        .preorders-answers .answer-container .preorder-action a {
            cursor:pointer;
        }
    /* POPUP */
    .bubbleInfo1 .popup1 { width: 152px; padding: 10px 10px 7px 10px; }
    .contact-center {}
    .contact-center td.info-text { padding-left:5px; }
    .become-a-partner { border-top: 1px solid #d3d3d3; margin-top: 7px; padding-top: 7px; }
    .become-a-partner span { float: left; }
    .become-a-partner span a { padding-left:4px; font-size: 12px; }
    .become-a-partner span.icon { background: url("../images/partner-icon.png"); width: 23px; height: 19px; }

    ul.dashmenu li.contact-tab {
        background: url("../images/mail.png") no-repeat scroll 10px center rgba(0, 0, 0, 0);
    }
	
	html[lang="ja"] ul.dashmenu li.contact-tab {
		text-indent: 30px;
	}
	
        ul.dashmenu li.contact-tab a {
            padding: 8px 20px 8px 40px;
        }
/* COMMON */
    .contactus-index-index .set-left {
        float:left
    }
    .contactus-index-index .set-right {
        float:right
    }
    .contactus-index-index .set-rel {
        position:relative;
    }
    .contactus-index-index .set-abs {
        position:absolute;
    }
    .contactus-index-index .set-clear {
        width:100%;
        height:0;
        clear:both;
    }

.payments-list .jspContainer
{
    overflow: hidden;
    position: relative;
}

.payments-list .jspPane
{
    position: absolute;
}

.payments-list .jspVerticalBar
{
    position: absolute;
    top: 0;
    right: 16px;
    width: 22px;
    height: 100%;
}

.payments-list .jspHorizontalBar
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
}

.payments-list .jspCap
{
    display: none;
}

.payments-list .jspHorizontalBar .jspCap
{
    float: left;
}

.payments-list .jspTrack
{
    background: #f1f1f1;
    position: relative;
}

.payments-list .jspDrag
{
    background: #d1d1d1;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.payments-list .jspHorizontalBar .jspTrack,
.payments-list .jspHorizontalBar .jspDrag
{
    float: left;
    height: 100%;
}

.payments-list .jspArrow
{
    text-indent: -20000px;
    display: block;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.payments-list .jspArrow.jspDisabled
{
    cursor: default;
    background: #80808d;
}

.payments-list .jspVerticalBar .jspArrow
{
    height: 22px;
}
    .payments-list .jspVerticalBar .jspArrow.jspArrowUp {
        background: url('../images/contact-us/scroll-up.jpg') no-repeat;
    }
    .payments-list .jspVerticalBar .jspArrow.jspArrowDown {
        background: url('../images/contact-us/scroll-down.jpg') no-repeat;
    }
.payments-list .jspHorizontalBar .jspArrow
{
    width: 16px;
    float: left;
    height: 100%;
}

.payments-list .jspVerticalBar .jspArrow:focus
{
    outline: none;
}

.payments-list .jspCorner
{
    background: #eeeef4;
    float: left;
    height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
    margin: 0 -3px 0 0;
}