.fdbk-customer span span, .feed-tooltip .tool-feed .feed span span, .country_flag span {
    background-image: url('../images/sprite-flags.png');
    background-repeat: no-repeat;
    display: inline-block;
    margin-right:4px;
}
.fdbk-customer span span { float:left }

span[title="AD"] span {
    width: 16px;
    height: 11px;
    background-position: -5px -5px;
}

span[title="AE"] span {
    width: 16px;
    height: 11px;
    background-position: -31px -5px;
}

span[title="AF"] span {
    width: 16px;
    height: 11px;
    background-position: -57px -5px;
}

span[title="AG"] span {
    width: 16px;
    height: 11px;
    background-position: -83px -5px;
}

span[title="AI"] span {
    width: 16px;
    height: 11px;
    background-position: -109px -5px;
}

span[title="AL"] span {
    width: 16px;
    height: 11px;
    background-position: -135px -5px;
}

span[title="AM"] span {
    width: 16px;
    height: 11px;
    background-position: -161px -5px;
}

span[title="AN"] span {
    width: 16px;
    height: 11px;
    background-position: -187px -5px;
}

span[title="AO"] span {
    width: 16px;
    height: 11px;
    background-position: -213px -5px;
}

span[title="AR"] span {
    width: 16px;
    height: 11px;
    background-position: -239px -5px;
}

span[title="AS"] span {
    width: 16px;
    height: 11px;
    background-position: -265px -5px;
}

span[title="AT"] span {
    width: 16px;
    height: 11px;
    background-position: -291px -5px;
}

span[title="AU"] span {
    width: 16px;
    height: 11px;
    background-position: -317px -5px;
}

span[title="AW"] span {
    width: 16px;
    height: 11px;
    background-position: -343px -5px;
}

span[title="AX"] span {
    width: 16px;
    height: 11px;
    background-position: -5px -26px;
}

span[title="AZ"] span {
    width: 16px;
    height: 11px;
    background-position: -31px -26px;
}

span[title="BA"] span {
    width: 16px;
    height: 11px;
    background-position: -57px -26px;
}

span[title="BB"] span {
    width: 16px;
    height: 11px;
    background-position: -83px -26px;
}

span[title="BD"] span {
    width: 16px;
    height: 11px;
    background-position: -109px -26px;
}

span[title="BE"] span {
    width: 16px;
    height: 11px;
    background-position: -135px -26px;
}

span[title="BF"] span {
    width: 16px;
    height: 11px;
    background-position: -161px -26px;
}

span[title="BG"] span {
    width: 16px;
    height: 11px;
    background-position: -187px -26px;
}

span[title="BH"] span {
    width: 16px;
    height: 11px;
    background-position: -213px -26px;
}

span[title="BI"] span {
    width: 16px;
    height: 11px;
    background-position: -239px -26px;
}

span[title="BJ"] span {
    width: 16px;
    height: 11px;
    background-position: -265px -26px;
}

span[title="BM"] span {
    width: 16px;
    height: 11px;
    background-position: -291px -26px;
}

span[title="BN"] span {
    width: 16px;
    height: 11px;
    background-position: -317px -26px;
}

span[title="BO"] span {
    width: 16px;
    height: 11px;
    background-position: -343px -26px;
}

span[title="BR"] span {
    width: 16px;
    height: 11px;
    background-position: -5px -47px;
}

span[title="BS"] span {
    width: 16px;
    height: 11px;
    background-position: -31px -47px;
}

span[title="BT"] span {
    width: 16px;
    height: 11px;
    background-position: -57px -47px;
}

span[title="BV"] span {
    width: 16px;
    height: 11px;
    background-position: -83px -47px;
}

span[title="BW"] span {
    width: 16px;
    height: 11px;
    background-position: -109px -47px;
}

span[title="BY"] span {
    width: 16px;
    height: 11px;
    background-position: -135px -47px;
}

span[title="BZ"] span {
    width: 16px;
    height: 11px;
    background-position: -161px -47px;
}

span[title="CA"] span {
    width: 16px;
    height: 11px;
    background-position: -187px -47px;
}

.sprite-catalonia {
    width: 16px;
    height: 11px;
    background-position: -213px -47px;
}

span[title="CC"] span {
    width: 16px;
    height: 11px;
    background-position: -239px -47px;
}

span[title="CD"] span {
    width: 16px;
    height: 11px;
    background-position: -265px -47px;
}

span[title="CF"] span {
    width: 16px;
    height: 11px;
    background-position: -291px -47px;
}

span[title="CG"] span {
    width: 16px;
    height: 11px;
    background-position: -317px -47px;
}

span[title="CH"] span {
    width: 11px;
    height: 11px;
    background-position: -343px -47px;
}

span[title="CI"] span {
    width: 16px;
    height: 11px;
    background-position: -5px -68px;
}

span[title="CK"] span {
    width: 16px;
    height: 11px;
    background-position: -31px -68px;
}

span[title="CL"] span {
    width: 16px;
    height: 11px;
    background-position: -57px -68px;
}

span[title="CM"] span {
    width: 16px;
    height: 11px;
    background-position: -83px -68px;
}

span[title="CN"] span {
    width: 16px;
    height: 11px;
    background-position: -109px -68px;
}

span[title="CO"] span {
    width: 16px;
    height: 11px;
    background-position: -135px -68px;
}

span[title="CR"] span {
    width: 16px;
    height: 11px;
    background-position: -161px -68px;
}

.sprite-cs {
    width: 16px;
    height: 11px;
    background-position: -187px -68px;
}

span[title="CU"] span {
    width: 16px;
    height: 11px;
    background-position: -213px -68px;
}

span[title="CV"] span {
    width: 16px;
    height: 11px;
    background-position: -239px -68px;
}

span[title="CX"] span {
    width: 16px;
    height: 11px;
    background-position: -265px -68px;
}

span[title="CY"] span {
    width: 16px;
    height: 11px;
    background-position: -291px -68px;
}

span[title="CZ"] span {
    width: 16px;
    height: 11px;
    background-position: -317px -68px;
}

span[title="DE"] span {
    width: 16px;
    height: 11px;
    background-position: -343px -68px;
}

span[title="DJ"] span {
    width: 16px;
    height: 11px;
    background-position: -5px -89px;
}

span[title="DK"] span {
    width: 16px;
    height: 11px;
    background-position: -31px -89px;
}

span[title="DM"] span {
    width: 16px;
    height: 11px;
    background-position: -57px -89px;
}

span[title="DO"] span {
    width: 16px;
    height: 11px;
    background-position: -83px -89px;
}

span[title="DZ"] span {
    width: 16px;
    height: 11px;
    background-position: -109px -89px;
}

span[title="EC"] span {
    width: 16px;
    height: 11px;
    background-position: -135px -89px;
}

span[title="EE"] span {
    width: 16px;
    height: 11px;
    background-position: -161px -89px;
}

span[title="EG"] span {
    width: 16px;
    height: 11px;
    background-position: -187px -89px;
}

span[title="EH"] span {
    width: 16px;
    height: 11px;
    background-position: -213px -89px;
}

.sprite-england {
    width: 16px;
    height: 11px;
    background-position: -239px -89px;
}

span[title="ER"] span {
    width: 16px;
    height: 11px;
    background-position: -265px -89px;
}

span[title="ES"] span {
    width: 16px;
    height: 11px;
    background-position: -291px -89px;
}

span[title="ET"] span {
    width: 16px;
    height: 11px;
    background-position: -317px -89px;
}

.sprite-europeanunion {
    width: 16px;
    height: 11px;
    background-position: -343px -89px;
}

.sprite-fam {
    width: 16px;
    height: 11px;
    background-position: -5px -110px;
}

span[title="FI"] span {
    width: 16px;
    height: 11px;
    background-position: -31px -110px;
}

span[title="FJ"] span {
    width: 16px;
    height: 11px;
    background-position: -57px -110px;
}

span[title="FK"] span {
    width: 16px;
    height: 11px;
    background-position: -83px -110px;
}

span[title="FM"] span {
    width: 16px;
    height: 11px;
    background-position: -109px -110px;
}

span[title="FO"] span {
    width: 16px;
    height: 11px;
    background-position: -135px -110px;
}

span[title="FR"] span {
    width: 16px;
    height: 11px;
    background-position: -161px -110px;
}

span[title="GA"] span {
    width: 16px;
    height: 11px;
    background-position: -187px -110px;
}

span[title="GB"] span {
    width: 16px;
    height: 11px;
    background-position: -213px -110px;
}

span[title="GD"] span {
    width: 16px;
    height: 11px;
    background-position: -239px -110px;
}

span[title="GE"] span {
    width: 16px;
    height: 11px;
    background-position: -265px -110px;
}

span[title="GF"] span {
    width: 16px;
    height: 11px;
    background-position: -291px -110px;
}

span[title="GH"] span {
    width: 16px;
    height: 11px;
    background-position: -317px -110px;
}

span[title="GI"] span {
    width: 16px;
    height: 11px;
    background-position: -343px -110px;
}

span[title="GL"] span {
    width: 16px;
    height: 11px;
    background-position: -5px -131px;
}

span[title="GM"] span {
    width: 16px;
    height: 11px;
    background-position: -31px -131px;
}

span[title="GN"] span {
    width: 16px;
    height: 11px;
    background-position: -57px -131px;
}

span[title="GP"] span {
    width: 16px;
    height: 11px;
    background-position: -83px -131px;
}

span[title="GG"] span {
    width: 16px;
    height: 11px;
    background-position: -109px -131px;
}

span[title="GR"] span {
    width: 16px;
    height: 11px;
    background-position: -135px -131px;
}

span[title="GS"] span {
    width: 16px;
    height: 11px;
    background-position: -161px -131px;
}

span[title="GT"] span {
    width: 16px;
    height: 11px;
    background-position: -187px -131px;
}

span[title="GU"] span {
    width: 16px;
    height: 11px;
    background-position: -213px -131px;
}

span[title="GW"] span {
    width: 16px;
    height: 11px;
    background-position: -239px -131px;
}

span[title="GY"] span {
    width: 16px;
    height: 11px;
    background-position: -265px -131px;
}

span[title="HK"] span {
    width: 16px;
    height: 11px;
    background-position: -291px -131px;
}

span[title="HM"] span {
    width: 16px;
    height: 11px;
    background-position: -317px -131px;
}

span[title="HN"] span {
    width: 16px;
    height: 11px;
    background-position: -343px -131px;
}

span[title="HR"] span {
    width: 16px;
    height: 11px;
    background-position: -5px -152px;
}

span[title="HT"] span {
    width: 16px;
    height: 11px;
    background-position: -31px -152px;
}

span[title="HU"] span {
    width: 16px;
    height: 11px;
    background-position: -57px -152px;
}

span[title="ID"] span {
    width: 16px;
    height: 11px;
    background-position: -83px -152px;
}

span[title="IE"] span {
    width: 16px;
    height: 11px;
    background-position: -109px -152px;
}

span[title="IL"] span {
    width: 16px;
    height: 11px;
    background-position: -135px -152px;
}

span[title="IN"] span {
    width: 16px;
    height: 11px;
    background-position: -161px -152px;
}

span[title="IO"] span {
    width: 16px;
    height: 11px;
    background-position: -187px -152px;
}

span[title="IQ"] span {
    width: 16px;
    height: 11px;
    background-position: -213px -152px;
}

span[title="Iran"] span {
    width: 16px;
    height: 11px;
    background-position: -239px -152px;
}

span[title="IR"] span {
    width: 16px;
    height: 11px;
    background-position: -265px -152px;
}

span[title="IT"] span {
    width: 16px;
    height: 11px;
    background-position: -291px -152px;
}

span[title="JM"] span {
    width: 16px;
    height: 11px;
    background-position: -317px -152px;
}

span[title="JO"] span {
    width: 16px;
    height: 11px;
    background-position: -343px -152px;
}

span[title="JP"] span {
    width: 16px;
    height: 11px;
    background-position: -5px -173px;
}

span[title="KE"] span {
    width: 16px;
    height: 11px;
    background-position: -31px -173px;
}

span[title="KG"] span {
    width: 16px;
    height: 11px;
    background-position: -57px -173px;
}

span[title="KH"] span {
    width: 16px;
    height: 11px;
    background-position: -83px -173px;
}

span[title="KI"] span {
    width: 16px;
    height: 11px;
    background-position: -109px -173px;
}

span[title="KM"] span {
    width: 16px;
    height: 11px;
    background-position: -135px -173px;
}

span[title="KN"] span {
    width: 16px;
    height: 11px;
    background-position: -161px -173px;
}

span[title="KP"] span {
    width: 16px;
    height: 11px;
    background-position: -187px -173px;
}

span[title="KR"] span {
    width: 16px;
    height: 11px;
    background-position: -213px -173px;
}

span[title="KW"] span {
    width: 16px;
    height: 11px;
    background-position: -239px -173px;
}

span[title="KY"] span {
    width: 16px;
    height: 11px;
    background-position: -265px -173px;
}

span[title="KZ"] span {
    width: 16px;
    height: 11px;
    background-position: -291px -173px;
}

span[title="LA"] span {
    width: 16px;
    height: 11px;
    background-position: -317px -173px;
}

span[title="LB"] span {
    width: 16px;
    height: 11px;
    background-position: -343px -173px;
}

span[title="LC"] span {
    width: 16px;
    height: 11px;
    background-position: -5px -194px;
}

span[title="LI"] span {
    width: 16px;
    height: 11px;
    background-position: -31px -194px;
}

span[title="LK"] span {
    width: 16px;
    height: 11px;
    background-position: -57px -194px;
}

span[title="LR"] span {
    width: 16px;
    height: 11px;
    background-position: -83px -194px;
}

span[title="LS"] span {
    width: 16px;
    height: 11px;
    background-position: -109px -194px;
}

span[title="LT"] span {
    width: 16px;
    height: 11px;
    background-position: -135px -194px;
}

span[title="LU"] span {
    width: 16px;
    height: 11px;
    background-position: -161px -194px;
}

span[title="LV"] span {
    width: 16px;
    height: 11px;
    background-position: -187px -194px;
}

span[title="LY"] span {
    width: 16px;
    height: 11px;
    background-position: -213px -194px;
}

span[title="MA"] span {
    width: 16px;
    height: 11px;
    background-position: -239px -194px;
}

span[title="MC"] span {
    width: 16px;
    height: 11px;
    background-position: -265px -194px;
}

span[title="MD"] span {
    width: 16px;
    height: 11px;
    background-position: -291px -194px;
}

span[title="ME"] span {
    width: 16px;
    height: 12px;
    background-position: -317px -194px;
}

span[title="MG"] span {
    width: 16px;
    height: 11px;
    background-position: -343px -194px;
}

span[title="MH"] span {
    width: 16px;
    height: 11px;
    background-position: -5px -215px;
}

span[title="MK"] span {
    width: 16px;
    height: 11px;
    background-position: -31px -215px;
}

span[title="ML"] span {
    width: 16px;
    height: 11px;
    background-position: -57px -215px;
}

span[title="MM"] span {
    width: 16px;
    height: 11px;
    background-position: -83px -215px;
}

span[title="MN"] span {
    width: 16px;
    height: 11px;
    background-position: -109px -215px;
}

span[title="MO"] span {
    width: 16px;
    height: 11px;
    background-position: -135px -215px;
}

span[title="MP"] span {
    width: 16px;
    height: 11px;
    background-position: -161px -215px;
}

span[title="MQ"] span {
    width: 16px;
    height: 11px;
    background-position: -187px -215px;
}

span[title="MR"] span {
    width: 16px;
    height: 11px;
    background-position: -213px -215px;
}

span[title="MS"] span {
    width: 16px;
    height: 11px;
    background-position: -239px -215px;
}

span[title="MT"] span {
    width: 16px;
    height: 11px;
    background-position: -265px -215px;
}

span[title="MU"] span {
    width: 16px;
    height: 11px;
    background-position: -291px -215px;
}

span[title="MV"] span {
    width: 16px;
    height: 11px;
    background-position: -343px -215px;
}

span[title="MW"] span {
    width: 16px;
    height: 11px;
    background-position: -5px -236px;
}

span[title="MX"] span {
    width: 16px;
    height: 11px;
    background-position: -31px -236px;
}

span[title="MY"] span {
    width: 16px;
    height: 11px;
    background-position: -57px -236px;
}

span[title="MZ"] span {
    width: 16px;
    height: 11px;
    background-position: -83px -236px;
}

span[title="NA"] span {
    width: 16px;
    height: 11px;
    background-position: -109px -236px;
}

span[title="NC"] span {
    width: 16px;
    height: 11px;
    background-position: -135px -236px;
}

span[title="NE"] span {
    width: 16px;
    height: 11px;
    background-position: -161px -236px;
}

span[title="NF"] span {
    width: 16px;
    height: 11px;
    background-position: -187px -236px;
}

span[title="NG"] span {
    width: 16px;
    height: 11px;
    background-position: -213px -236px;
}

span[title="NI"] span {
    width: 16px;
    height: 11px;
    background-position: -239px -236px;
}

span[title="NL"] span {
    width: 16px;
    height: 11px;
    background-position: -265px -236px;
}

span[title="NO"] span {
    width: 16px;
    height: 11px;
    background-position: -291px -236px;
}

span[title="NP"] span {
    width: 9px;
    height: 11px;
    background-position: -317px -236px;
}

span[title="NR"] span {
    width: 16px;
    height: 11px;
    background-position: -336px -236px;
}

span[title="NU"] span {
    width: 16px;
    height: 11px;
    background-position: -5px -257px;
}

span[title="NZ"] span {
    width: 16px;
    height: 11px;
    background-position: -31px -257px;
}

span[title="OM"] span {
    width: 16px;
    height: 11px;
    background-position: -57px -257px;
}

span[title="PA"] span {
    width: 16px;
    height: 11px;
    background-position: -83px -257px;
}

span[title="PE"] span {
    width: 16px;
    height: 11px;
    background-position: -109px -257px;
}

span[title="PF"] span {
    width: 16px;
    height: 11px;
    background-position: -135px -257px;
}

span[title="PG"] span {
    width: 16px;
    height: 11px;
    background-position: -161px -257px;
}

span[title="PH"] span {
    width: 16px;
    height: 11px;
    background-position: -187px -257px;
}

span[title="PK"] span {
    width: 16px;
    height: 11px;
    background-position: -213px -257px;
}

span[title="PL"] span {
    width: 16px;
    height: 11px;
    background-position: -239px -257px;
}

span[title="PM"] span {
    width: 16px;
    height: 11px;
    background-position: -265px -257px;
}

span[title="PN"] span {
    width: 16px;
    height: 11px;
    background-position: -291px -257px;
}

span[title="PR"] span {
    width: 16px;
    height: 11px;
    background-position: -317px -257px;
}

span[title="PS"] span {
    width: 16px;
    height: 11px;
    background-position: -343px -257px;
}

span[title="PT"] span {
    width: 16px;
    height: 11px;
    background-position: -5px -278px;
}

span[title="PW"] span {
    width: 16px;
    height: 11px;
    background-position: -31px -278px;
}

span[title="PY"] span {
    width: 16px;
    height: 11px;
    background-position: -57px -278px;
}

span[title="QA"] span {
    width: 16px;
    height: 11px;
    background-position: -83px -278px;
}

span[title="RE"] span {
    width: 16px;
    height: 11px;
    background-position: -109px -278px;
}

span[title="RO"] span {
    width: 16px;
    height: 11px;
    background-position: -135px -278px;
}

span[title="RS"] span {
    width: 16px;
    height: 11px;
    background-position: -161px -278px;
}

span[title="RU"] span {
    width: 16px;
    height: 11px;
    background-position: -187px -278px;
}

span[title="RW"] span {
    width: 16px;
    height: 11px;
    background-position: -213px -278px;
}

span[title="SA"] span {
    width: 16px;
    height: 11px;
    background-position: -239px -278px;
}

span[title="SB"] span {
    width: 16px;
    height: 11px;
    background-position: -265px -278px;
}

span[title="SC"] span {
    width: 16px;
    height: 11px;
    background-position: -291px -278px;
}

.sprite-scotland {
    width: 16px;
    height: 11px;
    background-position: -317px -278px;
}

span[title="SD"] span {
    width: 16px;
    height: 11px;
    background-position: -343px -278px;
}

span[title="SE"] span {
    width: 16px;
    height: 11px;
    background-position: -5px -299px;
}

span[title="SG"] span {
    width: 16px;
    height: 11px;
    background-position: -31px -299px;
}

span[title="SH"] span {
    width: 16px;
    height: 11px;
    background-position: -57px -299px;
}

span[title="SI"] span {
    width: 16px;
    height: 11px;
    background-position: -83px -299px;
}

span[title="SJ"] span {
    width: 16px;
    height: 11px;
    background-position: -109px -299px;
}

span[title="SK"] span {
    width: 16px;
    height: 11px;
    background-position: -135px -299px;
}

span[title="SL"] span {
    width: 16px;
    height: 11px;
    background-position: -161px -299px;
}

span[title="SM"] span {
    width: 16px;
    height: 11px;
    background-position: -187px -299px;
}

span[title="SN"] span {
    width: 16px;
    height: 11px;
    background-position: -213px -299px;
}

span[title="SO"] span {
    width: 16px;
    height: 11px;
    background-position: -239px -299px;
}

span[title="SR"] span {
    width: 16px;
    height: 11px;
    background-position: -265px -299px;
}

span[title="ST"] span {
    width: 16px;
    height: 11px;
    background-position: -291px -299px;
}

span[title="SV"] span {
    width: 16px;
    height: 11px;
    background-position: -317px -299px;
}

span[title="SY"] span {
    width: 16px;
    height: 11px;
    background-position: -343px -299px;
}

span[title="SZ"] span {
    width: 16px;
    height: 11px;
    background-position: -5px -320px;
}

span[title="TC"] span {
    width: 16px;
    height: 11px;
    background-position: -31px -320px;
}

span[title="TD"] span {
    width: 16px;
    height: 11px;
    background-position: -57px -320px;
}

span[title="TF"] span {
    width: 16px;
    height: 11px;
    background-position: -83px -320px;
}

span[title="TG"] span {
    width: 16px;
    height: 11px;
    background-position: -109px -320px;
}

span[title="TH"] span {
    width: 16px;
    height: 11px;
    background-position: -135px -320px;
}

span[title="TJ"] span {
    width: 16px;
    height: 11px;
    background-position: -161px -320px;
}

span[title="TK"] span {
    width: 16px;
    height: 11px;
    background-position: -187px -320px;
}

span[title="TL"] span {
    width: 16px;
    height: 11px;
    background-position: -213px -320px;
}

span[title="TM"] span {
    width: 16px;
    height: 11px;
    background-position: -239px -320px;
}

span[title="TN"] span {
    width: 16px;
    height: 11px;
    background-position: -265px -320px;
}

span[title="TO"] span {
    width: 16px;
    height: 11px;
    background-position: -291px -320px;
}

span[title="TR"] span {
    width: 16px;
    height: 11px;
    background-position: -317px -320px;
}

span[title="TT"] span {
    width: 16px;
    height: 11px;
    background-position: -343px -320px;
}

span[title="TV"] span {
    width: 16px;
    height: 11px;
    background-position: -5px -341px;
}

span[title="TW"] span {
    width: 16px;
    height: 11px;
    background-position: -31px -341px;
}

span[title="TZ"] span {
    width: 16px;
    height: 11px;
    background-position: -57px -341px;
}

span[title="UA"] span {
    width: 16px;
    height: 11px;
    background-position: -83px -341px;
}

span[title="UG"] span {
    width: 16px;
    height: 11px;
    background-position: -109px -341px;
}

span[title="UM,U.S."] span {
    width: 16px;
    height: 11px;
    background-position: -135px -341px;
}

span[title="US"] span{
    width: 16px;
    height: 11px;
    background-position: -161px -341px;
}

span[title="UY"] span {
    width: 16px;
    height: 11px;
    background-position: -187px -341px;
}

span[title="UZ"] span {
    width: 16px;
    height: 11px;
    background-position: -213px -341px;
}

span[title="VA"] span {
    width: 16px;
    height: 11px;
    background-position: -239px -341px;
}

span[title="VC"] span {
    width: 16px;
    height: 11px;
    background-position: -265px -341px;
}

span[title="VE"] span {
    width: 16px;
    height: 11px;
    background-position: -291px -341px;
}

span[title="VG"] span {
    width: 16px;
    height: 11px;
    background-position: -317px -341px;
}

span[title="VI"] span {
    width: 16px;
    height: 11px;
    background-position: -343px -341px;
}

span[title="VN"] span {
    width: 16px;
    height: 11px;
    background-position: -369px -5px;
}

span[title="VU"] span {
    width: 16px;
    height: 11px;
    background-position: -369px -26px;
}

.sprite-wales {
    width: 16px;
    height: 11px;
    background-position: -364px -47px;
}

span[title="WF"] span {
    width: 16px;
    height: 11px;
    background-position: -369px -68px;
}

span[title="WS"] span {
    width: 16px;
    height: 11px;
    background-position: -369px -89px;
}

span[title="YE"] span {
    width: 16px;
    height: 11px;
    background-position: -369px -110px;
}

span[title="YT"] span {
    width: 16px;
    height: 11px;
    background-position: -369px -131px;
}

span[title="ZA"] span {
    width: 16px;
    height: 11px;
    background-position: -369px -152px;
}

span[title="ZM"] span {
    width: 16px;
    height: 11px;
    background-position: -369px -173px;
}

span[title="ZW"] span {
    width: 16px;
    height: 11px;
    background-position: -369px -194px;
}
