div.livechat_button > a {
    line-height: 13px;
}

.popup1 div.livechat_button > a {
    margin-top: 5px;
}

div.livechat_button > a:hover {
    text-decoration: none;
}

div.livechat_button span {
    float: none;
}

div.livechat_button > a > span.lc-label {
    font-size: 14px;
}

div.livechat_button > a > span.lc-label:hover {
    text-decoration: underline;
}

body.vendor-helpdeskultimate-customer-index div.block-content.support-right
    span.support_new_mail:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
    clear: both;
}

body.vendor-helpdeskultimate-customer-index div.block-content.support-right
    span.livechat-section > img.livechat_image {
        float: left;
        margin: 0 0 0 19px;
        cursor: pointer;
}

body.vendor-helpdeskultimate-customer-index div.block-content.support-right
    span.livechat-section > div.livechat_button {
        float: left;
        margin: 3px 0 0 0;
        height: 37px;
}

body.vendor-helpdeskultimate-customer-index div.block-content.support-right
    span.livechat-section > div.livechat_button > a {
        margin: 0 0 0 18px;
        font-family: "DINCompPro-CondMedium", Verdana, Geneva, sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        line-height: 1;
}

body.vendor-helpdeskultimate-customer-index div.block-content.support-right
    span.livechat-section > div.livechat_button > a > span.status {
        display: block;
        margin: 2px 0 0 16px;
        font-family: Verdana;
        font-size: 12px;
        text-transform: none;
}

body.vendor-helpdeskultimate-customer-index div.block-content.support-right
    span.livechat-section > div.livechat_button > a:hover > span.status {
        text-decoration: none;
}

body.vendor-helpdeskultimate-customer-index div.block-content.support-right
    span.livechat-section > div.livechat_button > a > span.lc-label {
        font-size: 18px;
}

body.vendor-helpdeskultimate-customer-index div.block-content.support-right
    div.livechat_separator {
    width: 100%;
    height: 1px;
    margin: 8px 0px 9px 0px;
    border-top: 1px solid #d3d3d3;
}

body.contactus-index-index table.chat div.livechat_button a span.status {
    display: block;
    font-size: 9px;
}

body.contactus-index-index table.chat div.livechat_button a span.status {
    display: block;
    font-size: 9px;
}

body.contactus-index-index span.lc-label:hover {
    text-decoration: underline;
}

.live_chat_footer { width:990px; position:relative; margin:0 auto; z-index: 1; }
@media (max-width: 1300px) { .live_chat_footer  { display:none } }
.live_chat_footer .livechat_footer_bg { background: url('../images/livechat/livechat_footer_bottom.png') no-repeat; display: block; width: 121px; height: 22px; position: fixed; margin-left: 1010px; bottom: 0px }
.live_chat_footer .livechat_footer_bg span { text-align: left; width: 90px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color:#fff; font-size: 14px; float: left; margin: 2px 0px 0px 30px; font-family: "DINCompPro-CondMedium", Arial, Helvetica; cursor: default; }
.live_chat_footer .live_chat_footer_popup { display: none; background: url('../images/livechat/livechat_footer_kinguin_default.png') no-repeat; width: 188px; height: 86px; position: fixed; margin-left: 986px; bottom: 21px; z-index: 9; padding-bottom: 6px }
.live_chat_footer .live_chat_footer_popup .text_top { width: 95px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block; text-align: left; font-size: 21px; line-height: 21px; color: #666666; font-family: Arial, Helvetica, sans-serif; margin: 22px 0px 2px 11px; cursor: pointer; }
.live_chat_footer .live_chat_footer_popup .text_customer_support { width: 97px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display:block; text-align: left; font-size:10px; color:#666666; line-height: 10px; font-family: Arial, Helvetica, sans-serif; margin: 0px 0px 0px 12px; cursor: pointer; }
.live_chat_footer img {position:fixed;margin-left: 11px; bottom: 46px; z-index: 9; padding-bottom: 6px }
