a.mv-avatars-header img { margin: -8px 7px 0px 0px; border: solid 1px #ddd; width: 30px; height: 30px; }

body .user-avatar { position: relative; cursor: pointer; }
body .user-avatar .layer { position: absolute; top: 0px; left: 0px; width: 100px; height: 100px; background: url('../images/general-sprites.png') no-repeat 0px -958px; }
body .user-avatar .ajax-loader { position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; }
body .user-avatar .ajax-loader img { display: block; margin: 0px auto; }
body .user-avatar #avatars {
    position: absolute;
    z-index: 1;
    top: 99px;
    left: 0px;
    border: 1px solid #c9c6c1;
    background: white;
    box-shadow: 0px 1px 20px #dbdbdb;
    width: 418px;
    padding: 10px;
    cursor: default;
}
body .user-avatar #avatars ul {  list-style: none; }
body .user-avatar #avatars ul:after { content: "."; display: block; visibility: hidden; height: 0; line-height: 0; clear: both; }
body .user-avatar #avatars label { margin: 0; }
body .user-avatar #avatars ul li img { float: left; margin-right: 9px; margin-bottom: 9px; border: 1px solid gray; opacity: 1; }
body .user-avatar #avatars ul li.last-in-row img { margin-right: 0px; }
body .user-avatar #avatars ul li img.selected { opacity: 0.1; }
body .user-avatar #avatars ul li img:hover { opacity: 1; cursor: pointer; }

body #avatars .uploadify { float: right; margin-bottom: 0px; }
body #avatars .uploadify:after { content: "."; display: block; visibility: hidden; height: 0; line-height: 0; clear: both; }
body #avatars .uploadify-button {
    background-color: transparent;
    background-image: none;
    border: none;
    padding: 0;
    display: inline;
    cursor: pointer;
}
body #avatars .uploadify-button span {
    text-shadow: none;
    color: black;
    font-weight: normal;
    font-family: Arial;
}
body #avatars .uploadify:hover .uploadify-button {
    background-color: transparent;
    background-image: none;
}
body #avatars .uploadify-queue > div#SWFUpload_0_0 { margin: 27px auto 0px auto; }
 #avatars .uploadify-queue > div { margin-top: 5px auto 0px auto; }

body #image-cropper .layer { position: fixed; z-index: 1000; top: 0px; bottom: 0px; right: 0px; left: 0px; opacity: 0.8; background: black; }
body #image-cropper .cropper { width: 700px; margin-left: -350px; position: absolute; z-index: 1001; left: 50%; top: 100px; border: 10px solid #ebebeb; border-radius: 15px; background: #ececec; }
body #image-cropper .cropper .image > div { margin: 0px auto; }
body #image-cropper .cropper .preview {
    width: 100px; height: 100px;
    overflow: hidden; top: 0px;
    right: -120px; top: 30px;
    position: absolute; border: 10px solid #ebebeb;
    border-left: 0px;
}
body #image-cropper .cropper .actions .cancel-crop { display: inline-block;; float: left; background: url(../images/mv_avatars/close_inactive.png) no-repeat 1px 1px; width: 9px; height: 9px; margin-top: 8px; }
body #image-cropper .cropper .actions .cancel-crop:hover { background: url(../images/mv_avatars/close_active.png) no-repeat 1px 1px; }
body #image-cropper .cropper .actions .cancel-crop span { display: none; }
body #image-cropper .cropper .actions {
    background: white;
    height: 25px;
    padding: 0 10px;
    line-height: 25px;
    text-align: right;
}
