.pricecomparison-container {
    display:none;
}
.pricecomparison-popup {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid #EBEBEB;
    left: 50%;
    margin-left: -295px;
    margin-top: -160px;
    position: fixed;
    top: 50%;
    width: 590px;
    height: 340px;
    z-index: 9999;
}
    .pricecomparison-popup > .pricecomparison-content {
        background: url("../images/pricecomparison/popup-big.jpg") no-repeat scroll 240px bottom rgba(0, 0, 0, 0);
        height: 188px;
        padding: 45px;
        position: relative;
        width: 500px;
    }
        .pricecomparison-popup > .pricecomparison-content p {
            color: #666666;
            font-size: 16px;
        }
    .pricecomparison-content .pricecomparison-redirect-wrapper {
        position: absolute;
        right: 40px;
        top: 126px;
        color: #666666;
        font-size: 16px;
    }
    .pricecomparison-content .pricecomparison-redirect {
        background: none repeat scroll 0 0 #FE7C00;
        color: #FFFFFF;
        font-family: Arial,sans-serif;
        font-size:15px;
        padding: 5px 20px;
        display: inline-block;
        overflow-x: hidden;
        text-align: center;
        text-transform: uppercase;
        max-width: 160px;
        text-overflow: ellipsis;
    }
    .pricecomparison-content .redirect-countdown {
        background: url('../images/pricecomparison/pricecomparison-loader.gif') no-repeat left center;
        padding: 0 0 0 20px;
    }
    .pricecomparison-popup .pricecomparison-close {
        background: none repeat scroll 0 0 #9F9F9F;
        color: #FFFFFF;
        font-family: Arial,sans-serif;
        font-size: 15px;
        left: 51px;
        padding: 5px 19px;
        position: absolute;
        text-align: center;
        top: 150px;
    }
        .pricecomparison-popup .pricecomparison-close:hover, .pricecomparison-content .pricecomparison-redirect:hover {color:#FFFFFF;}
.pricecomparison-overlay {
    background: none repeat scroll 0 0 #000000;
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;
}

.pricecomparison-popup-title {
    background: url('../images/pricecomparison/popup-small.png') no-repeat scroll 475px bottom #ECECEC;
    height: 65px;
    position: relative;
}
.pricecomparison-popup-title h2,
.pricecomparison-popup-title span.title {
    color: #666666;
    float: left;
    font-family: "DINCompPro-CondMedium",Arial,Helvetica,sans-serif;
    font-size: 36px;
    margin-left: 52px;
    margin-top: 10px;
}
.pricecomparison-popup-title a.close {
    position: absolute;
    left: 10px;
    top:10px;
    cursor:pointer;
}

.pricecomparison-wrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #D9D9D9;
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
    float: right;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    width: 739px;
}
    .pricecomparison-wrapper ul.content_menu { top:0; left:0; }
    .pricecomparison-wrapper .quick_stats {
        margin-left: 70px;
        margin-top: 35px;
    }
        .pricecomparison-wrapper .quick_stats .dateRangee {
            float:none;
        }

    .pricecomparison-wrapper div.chart-wrapper {
        clear:both;
    }
.price-comparison-recent .box-head {
    width:100%;
    height:80px;
}
.price-comparison-recent .comparison-list-wrapper {
    padding: 10px;
    min-height: 300px;
}
.price-comparison-recent .price-comparison-table {
    border:0 !important;
    width:100%;
}
    .price-comparison-recent .price-comparison-table tbody tr.odd {
        background: none repeat scroll 0 0 #F3F3F3;
        border-bottom: 1px solid #E9E9E9;
        border-top: 1px solid #E9E9E9;
        height: 26px;
    }
    .price-comparison-recent .price-comparison-table tbody tr td
    {
        vertical-align: middle;
    }
    .price-comparison-recent .price-comparison-table tbody tr td.product-name {
        color: #373737;
        font-family: Verdana;
        font-size: 10px;
        font-weight: bold;
        height: 20px;
        padding-left: 10px;
    }
    .price-comparison-recent .price-comparison-table tbody tr.product-total td {
        border-top:1px solid #1dcc07;
    }

    .price-comparison-recent .price-comparison-table tbody tr td.total-label {
        color: #000000;
        font-weight: bold;
        padding-left: 10px;
        padding-top: 5px;
    }

    .price-comparison-recent .price-comparison-table tbody tr td.product-name a.title {
        font-size: 9px;
        position: relative;
        top: 1px;
    }
    .price-comparison-recent .block-content .sorter-search-form {
        left: 10px;
        position: absolute;
        top: 11px;
        width: auto;
    }

.pricecomparison-infobar {
    background: none repeat scroll 0 0 #F3F3F3;
    border-radius: 3px;
    height: 50px;
    margin-top: 40px;
    position: relative;
}
    .pricecomparison-infobar .addfound-button {
        position: absolute;
        right:10px; top:10px;
    }

    .pricecomparison-infobar .budget {
        position: absolute;
        left:10px; top:10px;
        color:#000000;
        font-family: "DINCompPro-CondMedium",Arial,Helvetica,sans-serif;
        font-size: 20px;
    }
        .pricecomparison-infobar span.label.green {
            color:#a5cd13;
        }
        .pricecomparison-infobar span.label.gray {
            color: #999999;
        }
    .pricecomparison-infobar .pricecomparison-infocpc {
        position: absolute;
        left:380px; top:10px;
        color:#000000;
        font-family: "DINCompPro-CondMedium",Arial,Helvetica,sans-serif;
        font-size: 20px;
    }
.price-comparison-table thead tr {height: 45px;}
.price-comparison-table thead tr th {vertical-align:middle;}
.price-comparison-table thead tr th a {
    color:#000000;
}
    .comparison-form-wrapper {
        background:#FFF;
    }
        .comparison-form-wrapper .feed-link {
            padding: 40px 10px 10px;
        }
            .comparison-form-wrapper .feed-link input
            {
                border: 1px solid #E6E6E6;
                border-radius: 3px;
                height: 28px;
                padding: 0 10px;
                width: 287px;
            }
        .comparison-form-wrapper .feed-currency {
            border-bottom: 1px solid #CCCCCC;
            border-top: 1px solid #CCCCCC;
            height: 50px;
            padding: 0;
            position: relative;
        }
            .comparison-form-wrapper .feed-currency label {
                left: 12px;
                position: absolute;
                top: 14px;
            }
                .comparison-form-wrapper label {
                    color: #000000;
                    display: block;
                    font-family: Verdana;
                    font-size: 12px;
                    font-weight: bold;
                    margin: 0 0 8px;
                }
            .comparison-form-wrapper .feed-currency select {
                position: absolute;
                right: 10px;
                top: 10px;
            }
        .comparison-form-wrapper .feed-button {
            clear: both;
            height: 48px;
            position: relative;
        }
        .comparison-form-wrapper button {
            position: absolute;
            right: 10px;
            top: 10px;
        }
        .comparison-form-wrapper button > span, .addfound-button button > span {
            background: none repeat scroll 0 0 #A5CD14;
            border-radius: 3px;
            color: #FFFFFF;
        }

        div.pricecomparison-reset {
            margin-top: 35px;
            margin-right: 10px;
        }
            div.pricecomparison-reset a {
                background: none repeat scroll 0 0 #A5CD14;
                border-radius: 3px;
                color: #FFFFFF;
                display: block;
                padding: 3px 8px;
            }


/* STORE CHOOSER */

.comparison-form-wrapper div.store-select {
    padding:12px;
}
.comparison-form-wrapper div.store-select label.store-flag {
    display:block;
    width: 60px;
    line-height:10px;
}


/*.vendor-list .table .external-vendor .fav .external-store {
>>>>>>> hotfix-4.4.2
    background: none repeat scroll 0 0 #FEB101;
    border-radius: 3px;
    color: #FFFFFF;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 100%;
    padding: 4px;
}
.vendor-list .table .external-vendor .fav .external-store:hover {
    background: #ff7e00;
    text-decoration:none;
}*/

.pricecomparison-pagination {
    min-height: 30px;
    margin-top: 15px;
    text-align: center;
}
    .pricecomparison-pagination ul li {
        display: inline;
    }
        .pricecomparison-pagination ul li a {
            padding: 3px 5px 2px;
            margin: 0 1px;
        }

        .pricecomparison-pagination ul li.active a,
        .pricecomparison-pagination ul li.arrow-left a.arrow,
        .pricecomparison-pagination ul li.arrow-right a.arrow {
            border:1px solid #cccccc;
            border-radius:2px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
        }
        .pricecomparison-pagination ul li a.active,
        .pricecomparison-pagination ul li a.arrow {
            background-color: #f3f3f3;
            font-weight:bold;
        }
        .pricecomparison-pagination ul li.item a:hover {
            background-color: #f3f3f3;
            border:1px solid #cccccc;
            border-radius:2px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            margin: 0;
        }
        .pricecomparison-pagination ul li a.arrow {
            padding: 3px 8px 4px 10px;
        }
            .pricecomparison-pagination ul li a.arrow:hover {opacity:0.7;}
        .pricecomparison-pagination ul li.arrow-left a.arrow {
            background: url('../images/pricecomparison/arrows.png') no-repeat 4px 5px transparent;
            margin-right: 10px;
        }
        .pricecomparison-pagination ul li.arrow-right a.arrow {
            background: url('../images/pricecomparison/arrows.png') no-repeat -15px 5px transparent;
            margin-left: 10px;
        }

/* GRAPH */

.pricecomparison-setting-index .plot-container {
    box-sizing: border-box;
    width: 720px;
    height: 200px;
    padding: 10px 10px 25px;
    background: #fff;
    margin-top:20px;
    position: relative;
}
.plot-container.small {
    height: 120px;
    padding: 0 0 10px;
    width: 310px;
    margin-top:0;
}
.plot-placeholder, .plot-placeholder-small {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
}
.plot-tooltip {
    background-color: #FFFFFF;
    -moz-box-shadow: 0 0 3px 0px #e8e5e5; -webkit-box-shadow: 0 0 3px 0px #e8e5e5; box-shadow: 0 0 3px 0px #e8e5e5;
    border: 1px solid #e8e5e5;
    display: none;
    padding: 2px;
    position: absolute;
    width: 115px;
    z-index: 2;
}
.plot-tooltip table.graph-tooltip {
    width:100%;
    font-family: Verdana,sans-serif;
    font-size: 9px;
}
.plot-tooltip table.graph-tooltip td {
    height: 5px;
    line-height: 20px;
}
.plot-tooltip table.graph-tooltip td .tool-conv-value, .plot-tooltip table.graph-tooltip td .tool-clicks-value {
    font-weight: bold;
}
.plot-tooltip .tool-label {

}
.plot-tooltip .tool-label > div.circle {
    border: 3px solid #A5CD14;
    border-radius: 5px;
    height: 5px;
    width: 5px;
    float:left;
    margin:5px;
}
.plot-tooltip .tool-label > div.circle.conv {
    border: 3px solid #6F6F6F;
}
.plot-placeholder td.legendColorBox div {

    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
.plot-placeholder td.legendColorBox > div { width:10px; }
.plot-placeholder td.legendColorBox > div > div { width:0px !important; }
.plot-placeholder td.legendColorBox { vertical-align: middle;}
.plot-placeholder td.legendLabel a { margin-left: 5px; }

/* DATE RANGES */

.pricecomparison-setting-index .dateRange-plot-container {
    position: absolute;
    top:120px;
    left:10px;
    z-index: 2;
}


/* common */
.pricecomparison-setting-index .set-left {
    float:left;
}
.pricecomparison-setting-index .set-right {
    float:right;
}
.pricecomparison-setting-index .clearfix {
    width: 100%;
    height:0;
    clear: both;
}
