#socialconnect:after { content: "."; display: block; visibility: hidden; height: 0; line-height: 0; clear: both; }
#socialconnect > div { width: 31px; height: 31px; float: left; margin-right: 12px; cursor: pointer; }
#socialconnect > div:last-of-type { margin-right: 0; }
#socialconnect > div.connect[rel="facebook-connect"] { background: url(../images/general-sprites.png) no-repeat -209px -80px; }
#socialconnect > div.connect[rel="yahoo"] { background: url(../images/general-sprites.png) no-repeat -82px -80px; }
#socialconnect > div.connect[rel="twitter"] { background: url(../images/general-sprites.png) no-repeat -253px -80px; }
#socialconnect > div.connect[rel="linkedin"] { background: url(../images/general-sprites.png) no-repeat -123px -80px; }
#socialconnect > div.connect[rel="gplus"] { background: url(../images/general-sprites.png) no-repeat -166px -80px; }

#registerForm .socialconnect-container,
#loginForm .socialconnect-container {
    text-align: center; margin: 30px 0 0 0;
}

#registerForm .socialconnect-container > p,
#loginForm .socialconnect-container > p {
    margin: 0; color: #656565;
}

#registerForm .socialconnect-container #socialconnect,
#loginForm .socialconnect-container #socialconnect {
    display: inline-block; text-align: center; border-bottom: 1px solid #ececec; padding-bottom: 13px; margin: 10px 0 10px 0;
}

#registerForm .buttons-set-login > div.buttons.socialconnect,
#loginForm .buttons-set-login > div.buttons.socialconnect {
    width: 265px; text-align: right; margin: 0 auto;
}

#registerForm .buttons-set-register > div.buttons.socialconnect,
#loginForm .buttons-set-register > div.buttons.socialconnect {
    width: 265px; text-align: right; margin: 0 auto;
}

.customer-account-login .col-1.new-users .socialconnect-container { text-align: center; margin: 0px 0 0 0; }
.customer-account-login .col-1.new-users .socialconnect-container > p { margin: 0; color: #656565; }
.customer-account-login .col-1.new-users .socialconnect-container > p.separator { margin-bottom: 10px }
.customer-account-login .col-1.new-users .socialconnect-container #socialconnect { display: inline-block; text-align: center; border-bottom: 1px solid #ececec; margin: 10px 0 10px 0; }

.account-login .col-1.new-users .content h2 { margin-bottom: 8px; }