div#mvFav > div.layer {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 9999;
}
div#mvFav > div.mvFav-box {
  position: fixed;
  width: 695px;
  left: 50%;
  margin-left: -347.5px;
  background: white;
  border: 3px solid #ebebeb;
  z-index: 10000;
  top: 200px;
  width: 396px;
  margin-left: -198px;
}
div#mvFav > div.mvFav-box > div.popup-title {
  position: relative;
  height: 56px;
  background: #ebebeb;
  overflow: hidden;
}
div#mvFav > div.mvFav-box > div.popup-title > h4 {
  font-family: "DINCompPro-CondMedium", "Trebuchet MS", Arial, Helvetica;
  font-weight: normal;
  font-size: 34px;
  color: #666666;
  position: absolute;
  top: 13px;
  left: 40px;
}
div#mvFav > div.mvFav-box > div.popup-title > div.kinguin {
  position: absolute;
  left: 562px;
  bottom: 0px;
  width: 59px;
  height: 56px;
  background: url(../../images/scss/modules/_popups/kinguin_popup.png);
}
div#mvFav > div.mvFav-box > div.popup-title > div.close {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 10px;
  height: 9px;
  cursor: pointer;
}
div#mvFav > div.mvFav-box > div.popup-content {
  padding: 60px 60px 45px 60px;
  background: white;
}
div#mvFav > div.mvFav-box > div.popup-actions {
  background: white;
}
div#mvFav > div.mvFav-box > div.popup-title > div.kinguin {
  left: 300px;
}
div#mvFav > div.mvFav-box > div.popup-title > h4 {
  display: none;
}
div#mvFav > div.mvFav-box > div.popup-content {
  padding: 20px 10px;
  font-family: "DINCompPro-CondMedium", Arial, Helvetica;
  font-size: 22px;
  text-align: center;
}
div#mvFav > div.mvFav-box > div.popup-actions {
  text-align: center;
}
div#mvFav > div.mvFav-box > div.popup-actions > a {
  float: left;
  display: block;
  padding: 5px 9px 5px 9px;
  width: 120px;
  min-height: 18px;
  color: white;
  font-size: 14px !important;
  border: none;
}
div#mvFav > div.mvFav-box > div.popup-actions > a.continue_shopping {
  margin-right: 10px;
  background: #FF7E00;
  margin-left: 50px;
}
div#mvFav > div.mvFav-box > div.popup-actions > a.go-to-favs {
  margin-bottom: 20px;
  background: #999999;
}

html[store-theme-schema="dark"] div#mvFav > div.mvFav-box {
  background: #252525;
  color: #d0d0d0;
  border: 3px solid #404040 !important;
}
html[store-theme-schema="dark"] div#mvFav > div.mvFav-box > div.popup-title {
  background: #2a2a2a;
}
html[store-theme-schema="dark"] div#mvFav > div.mvFav-box > div.popup-content {
  background: #252525;
}
