div#mvInStock > div.layer {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 9999;
}
div#mvInStock > div.mvInStock-box {
    position: fixed;
    width: 695px;
    left: 50%;
    margin-left: -347.5px;
    background: white;
    border: 3px solid #ebebeb;
    z-index: 10000;
    top: 200px;
    width: 396px;
    margin-left: -198px;
}
div#mvInStock > div.mvInStock-box > div.popup-title {
    position: relative;
    height: 56px;
    background: #ebebeb;
    overflow: hidden;
}
div#mvInStock > div.mvInStock-box > div.popup-title > div.kinguin {
    position: absolute;
    left: 562px;
    bottom: 0px;
    width: 59px;
    height: 56px;
    background: url(../../images/scss/modules/_popups/kinguin_popup.png);
}
div#mvInStock > div.mvInStock-box > div.popup-title > div.close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 10px;
    height: 9px;
    cursor: pointer;
}
div#mvInStock > div.mvInStock-box > div.popup-content {
    padding: 60px 60px 45px 60px;
    background: white;
}
div#mvInStock > div.mvInStock-box > div.popup-actions {
    background: white;
    margin-bottom: 20px;
}
div#mvInStock > div.mvInStock-box > div.popup-title > div.kinguin {
    left: 300px;
}
div#mvInStock > div.mvInStock-box > div.popup-content {
    padding: 20px 20px;
    font-family: "DINCompPro-CondMedium", Arial, Helvetica;
    font-size: 18px;
    text-align: left;
}
div#mvInStock > div.mvInStock-box > div.popup-actions {
    text-align: center;
}
div#mvInStock > div.mvInStock-box > div.popup-actions > a {
    display: block;
    padding: 5px 9px 5px 9px;
    margin-bottom: 20px;
    width: 120px;
    min-height: 18px;
    color: white;
    font-size: 14px !important;
    border: none;
}
div#mvInStock > div.mvInStock-box > div.popup-actions > a.continue_shopping {
    margin-right: 10px;
    background: #FF7E00;
    margin-left: 50px;
    float: right;
    margin-right: 20px;
}
div#mvInStock > div.mvInStock-box > div.popup-actions > a.unsubscribe {
    background: #999999;
    float: left;
    margin-left: 20px;
}
html[store-theme-schema="dark"] div#mvInStock > div.mvInStock-box {
    background: #252525;
    color: #d0d0d0;
    border: 3px solid #404040 !important;
}
html[store-theme-schema="dark"] div#mvInStock > div.mvInStock-box > div.popup-title {
    background: #2a2a2a;
}
html[store-theme-schema="dark"] div#mvInStock > div.mvInStock-box > div.popup-content {
    background: #252525;
}

#mvInStock h3 { margin-top:14px; font-family: "DINCompPro-CondMedium", Arial, Helvetica; font-size: 24px; color: #555; text-align: left; padding-left: 20px; }