body.l77-tournament { text-align: left; color: #695844; /*background: url(../images/tournament/bg.png) center center repeat-y;*/ }
body.l77-tournament .d-table { display: table; }
body.l77-tournament .d-table-cell { display: table-cell; }
body.l77-tournament .va-middle { vertical-align: middle; }
body.l77-tournament .main-container { /*background: url(../images/tournament/gbgg.png) no-repeat center 176px;*/ }
body.tournament-index-matches .main-container { /*background: url(../images/tournament/gbgg-matches.png) no-repeat center 176px;*/ }
body.l77-tournament.blog .header-container { /*background: url(../images/tournament/gbgg.png) no-repeat center 386px;*/ }
body.l77-tournament.blog .main-container { background: none; }
body.l77-tournament.blog .col-main { background-image: none; }
body.l77-tournament .main-container .main {  padding-top: 0px; }
body.l77-tournament .tournament-bg { position: absolute; z-index: -1; top: 186px; width: 100%; height: 768px; background: url(../images/tournament/gbgg.png) no-repeat 225px; }

body.l77-tournament .header-container { background: url(../images/tournament/bkg-tmp.png) repeat-x; }
/*body.l77-tournament fieldset { border-top: 1px solid #ebebeb; }*/
body.l77-tournament fieldset legend { display: block; font-family: "DINCompPro-CondMedium", Arial, Helvetica, sans-serif; text-transform: uppercase; font-size: 18px; margin-left: 428px; padding: 0 7px; }

.tournament-section-header { position: absolute; height: 18px; line-height: 18px; top: -23px; left: -2px; padding: 0 2px; font-family: "DINCompPro-CondMedium", Arial, Helvetica, sans-serif; text-transform: uppercase; font-size: 14px; }
body.l77-tournament.cms .left-section > .page-title { margin: 0px; }
body.l77-tournament.cms .left-section > .page-title > h1 {
    background: #7b7b7b;
    color: white;
    position: absolute; height: 18px; line-height: 18px; top: -19px; left: -1px; padding: 0 2px; font-family: "DINCompPro-CondMedium", Arial, Helvetica, sans-serif; text-transform: uppercase; font-size: 14px; }

.tournament-footer { padding-top: 68px; height: 150px; background: url(../images/tournament/bg_footer.png) repeat-x center top; }
body.l77-tournament .tournament-footer-container .tournament-section-header { top: -13px; }
body.l77-tournament .tournament-footer-container .sponsors .tournament-section-header { background: #a78c58; }
.tournament-footer-container { width: 987px; height: 148px; margin: 0 auto; position: relative; }
.tournament-footer-container .frog { position: absolute; top: -95px; right: -145px; width: 131px; height: 127px; background: url(../images/tournament/frog.png); }
.tournament-footer-container > div { position: relative; float: left; }
.tournament-footer-container > div .separator { position: absolute; top: 33px; left: -2px; width: 3px; height: 98px; background: url(../images/tournament/separator.png); }
.tournament-footer-container .sponsors { width: 167px; height: 148px; }
.tournament-footer-container .sponsors .d-table { width: 100%; height: 148px; }
.tournament-footer-container .sponsors .d-table-cell { padding-left: 25px; }
.tournament-footer-container .follow-us-social { width: 370px; height: 148px; }
.tournament-footer-container .follow-us-social ul { margin-top: 57px; margin-left: 38px; }
.tournament-footer-container .follow-us-social ul li { list-style: none; float: left; margin-right: 31px; }
.tournament-footer-container .follow-us-social ul li a.active { display: none; }
.tournament-footer-container .follow-us-social ul li:hover a.active { display: block; }
.tournament-footer-container .follow-us-social ul li:hover a.inactive { display: none; }
.tournament-footer-container .kinguin { height: 148px; }
.tournament-footer-container .kinguin .d-table { height: 148px; margin-left: 40px; }
.tournament-footer-container .kinguin .d-table-cell {  }
.tournament-footer-container .kinguin > p { font-size: 15px; font-family: "DINCompPro-CondMedium", Arial, Helvetica, sans-serif; text-transform: uppercase; position: absolute; top: 73px; left: 218px; color: #977853; width: 300px; }

body.l77-tournament.blog .tournament-header { margin-top: 39px; }
.tournament-header { width: 992px; height: 209px; background: url(../images/tournament/top.png) no-repeat top center; margin: 9px auto 0 auto; position: relative; }
.tournament-header .watch-the-stream { position: absolute; left: 671px; top: -9px; }
.tournament-header .tournament-menu { position: absolute; top: 124px; right: 97px; }
.tournament-header .tournament-menu ul { list-style: none; width: 391px; }
.tournament-header .tournament-menu ul li {  float: left; height: 21px; margin-left: 23px; padding-right: 29px; }
.tournament-header .tournament-menu ul li.last { border-right: 0px; padding-right: 0px; }
.tournament-header .tournament-menu ul li a { text-transform: uppercase; font-family: "DINCompPro-CondMedium", Arial, Helvetica, sans-serif; text-transform: uppercase; font-size: 21px; color: #ffcc00; text-shadow: 1px 1px 2px #010101; }
body.l77-tournament .incoming-match { float: right; margin-bottom: 32px; }
body.l77-tournament .incoming-match img { margin-left: 4px; margin-top: 4px; }
body.l77-tournament .incoming-match .game-logo { float: left; width: 581px; height: 152px; }
body.l77-tournament .incoming-match .game-logo .d-table { width: 100%; height: 152px; }
body.l77-tournament .incoming-match .game-logo .d-table-cell { text-align: center; }
body.l77-tournament .incoming-match .game-logo .d-table-cell img { margin-top: 10px;}
body.l77-tournament .incoming-match .match { background: url(../images/tournament/incoming.png); position: relative; width: 407px; height: 154px; float: right; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.31); }
body.l77-tournament .incoming-match .match .tournament-section-header { left: 0px; top: -18px; background: #a78c58; color: white; }
body.l77-tournament .incoming-match .match .date { height: 38px; line-height: 38px; margin: 11px 18px 0px 18px; text-align: center; text-transform: uppercase; font-family: "DINCompPro-CondMedium", Arial, Helvetica, sans-serif; font-size: 18px; }
body.l77-tournament .incoming-match .match .date .dndm { color: #000; }
body.l77-tournament .incoming-match .match .date .hm { color: #7b7b7b; }
body.l77-tournament .incoming-match .match .teams { margin-top: -8px; }
body.l77-tournament .incoming-match .match .team .d-table { height: 107px; width: 100%; }
body.l77-tournament .incoming-match .match .team .d-table-cell { text-align: center; }
body.l77-tournament .incoming-match .match .team.a { float: left; width: 197px; padding-left: 10px; box-sizing: border-box; }
body.l77-tournament .incoming-match .match .team.b { float: right; width: 210px; padding-right: 10px; box-sizing: border-box; }
body.l77-tournament .incoming-match .match .vs { width: 28px; height: 27px; background: url(../images/tournament/vs.png); position: absolute; left: 183px; top: 78px; display: none; }
body.l77-tournament .incoming-match .match .team img { max-width: 150px; max-height: 70px; }
.tournament-header .kinguin-tournament-header { position: absolute; left: 215px; top: 36px; }

#tab-1 { display: block; }
#tab-2, #tab-3 { display: none; }
body.l77-tournament .tabs-header { background: transparent !important; left: -3px !important; }
body.l77-tournament .tabs-header a { float: left; background: #c5bfb1; padding: 0px 6px; margin-right: 1px; text-decoration: none; color: #fff; }
body.l77-tournament .tabs-header a.active { background: #a78c58; }

body.l77-tournament .tournament-content { margin-top: 30px; }
body.l77-tournament .tournament-content > .left-section { float: left; position: relative; width: 531px; margin-top: 391px; padding: 20px; background: rgba(116,50,0,0.07); border: 1px solid #cdb082; }
body.l77-tournament.blog .tournament-content > .left-section { margin-top: 0; }
body.tournament-index-media .tournament-content .left-section { margin-top: 0; }
body.l77-tournament .tournament-content > .right-section { border: 1px solid #cdb082; float: right; position: relative; width: 383px; padding: 0px 12px 10px 8px; background: rgba(116,50,0,0.07); }
body.l77-tournament .tournament-content > .right-section p { margin-bottom: 0px; }
body.l77-tournament .tournament-content > .right-section img { margin-top: 8px; }
body.l77-tournament .tournament-section-header { color: white; top: -19px; left: -1px; background: #a78c58; }
body.l77-tournament .tournament-content > .one-col { float: left; position: relative; width: 947px; }
body.l77-tournament .tournament-content > .one-col:after { content: "."; display: block; visibility: hidden; height: 0; line-height: 0; clear: both; }
body.l77-tournament .tournament-content .twitch { position: absolute; left: 0; top: -392px; width: 572px; height: 357px; display: block; background: url(../images/tournament/twitch.png); padding-left: 6px; padding-top: 6px; box-sizing: border-box; }

body.l77-tournament .tournament-content .post { margin: 0 0 52px 0; }
body.l77-tournament .tournament-content .post.last { margin: 0 0 0 0; }
body.l77-tournament .tournament-content .post .title {  font-family: "DINCompPro-CondMedium", Arial, Helvetica, sans-serif; font-size: 28px; color: #4b3d2c; margin: 0 0 10px 0; }
body.l77-tournament .tournament-content .post .thumbnail { float: left; }
body.l77-tournament .tournament-content .post .thumbnail img { max-width: 227px; max-height: 131px; border: 1px solid #c5ad81; }
body.l77-tournament.blog .tournament-content .post .thumbnail img { max-width: 530px; max-height: none; margin-bottom: 15px; }
body.l77-tournament .tournament-content .post .thumbnail-content img { max-width: 227px; max-height: 131px; float: left; border: 1px solid #c5ad81; margin-top: 5px; margin-right: 15px; margin-bottom: 10px; }
body.l77-tournament .tournament-content .post .content { float: left; margin-top: 0px; color: #695844; width: 290px; margin-left: 7px; }
body.l77-tournament.blog .tournament-content .post .content { width: auto; font-size: 12px !important; text-align: left !important; margin-left: 0px; }
body.l77-tournament.blog .tournament-content .post .content p { font-size: 12px !important; text-align: left !important; }
body.tournament-index-media .tournament-content .post .content { width: auto; }
body.l77-tournament .tournament-content .post .read-more a { display: block; text-transform: lowercase; font-size: 14px; background: url(../images/tournament/read_more_button.png); width: 68px; height: 21px; line-height: 21px; color: white; font-family: "DINCompPro-CondMedium", Arial, Helvetica, sans-serif; text-align: center; float: right; }
body.l77-tournament .tournament-content .post .read-more a:hover { text-decoration: none; }
body.l77-tournament .tournament-content .post .properties { color: #848484; border-bottom: 1px solid #c3aa7e; border-top: 1px solid #c3aa7e; margin-top: 21px; font-family: Arial; font-size: 11px; }
body.l77-tournament .tournament-content .post .properties span.value { font-weight: bold; display: inline-block; margin-right: 10px; }
body.l77-tournament .tournament-content .post .properties > div { float: right; margin: 5px 10px 5px 0; border-right: 1px solid #c3aa7e; color: #775e3a; font-weight: bold; }
body.l77-tournament .tournament-content .post .properties > div span.label { color: #967e5b; font-weight: normal; }
body.l77-tournament .tournament-content .post .properties > div.last { border-right: 0; }
body.l77-tournament .tournament-content .post .properties:after { content: "."; display: block; visibility: hidden; height: 0; line-height: 0; clear: both; }
body.l77-tournament .tournament-content .post .post-content:after { content: "."; display: block; visibility: hidden; height: 0; line-height: 0; clear: both; }
body.l77-tournament .tournament-content .post .post-content { position: relative; }
body.l77-tournament .tournament-content .post .post-content .read-more { position: absolute; right: 0; bottom: -15px; }

.tournament-index-matches fieldset.matches { padding-top: 15px; margin-bottom: 60px; }
.tournament-index-matches fieldset.matches .game-logo { float: left; width: 581px; height: 152px; }
.tournament-index-matches fieldset.matches .game-logo .d-table { width: 100%; height: 152px; }
.tournament-index-matches fieldset.matches .game-logo .d-table-cell { text-align: center; }
.tournament-index-matches fieldset.matches .game-logo .d-table-cell img { margin-top: 10px;}
.tournament-index-matches fieldset.matches .match { position: relative; width: 296px; height: 128px; float: left; background: white; border: 4px solid #ebebeb; margin-right: 17px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.31); }
.tournament-index-matches fieldset.matches .match.last { margin-right: 0px; }
.tournament-index-matches fieldset.matches .match .tournament-section-header { background: url(../images/tournament/bg_incoming_repeat_x.png); color: white; }
.tournament-index-matches fieldset.matches .match .date { height: 38px; line-height: 40px; margin: 0 18px; text-align: center; border-bottom: 1px solid #ebebeb; text-transform: uppercase; font-family: "DINCompPro-CondMedium", Arial, Helvetica, sans-serif; font-size: 18px; }
.tournament-index-matches fieldset.matches .match .date .dndm { color: #000; }
.tournament-index-matches fieldset.matches .match .date .hm { color: #7b7b7b; }
.tournament-index-matches fieldset.matches .match .team .d-table { height: 90px; width: 100%; }
.tournament-index-matches fieldset.matches .match .team .d-table-cell { text-align: center; }
.tournament-index-matches fieldset.matches .match .team.a { float: left; width: 146px; background: url(../images/tournament/bg_vs.jpg); }
.tournament-index-matches fieldset.matches .match .team.b { float: right; width: 146px; }
.tournament-index-matches fieldset.matches .match .vs { width: 28px; height: 27px; background: url(../images/tournament/vs.png); position: absolute; left: 131px; top: 71px; }

.tournament-index-matches fieldset.matches-tree legend { margin-left: 461px; }

.tournament-index-matches #tournament-ladder { width: 990px; height: 600px; overflow: scroll; position: relative; background: rgba(116,50,0,0.07) url(../images/tournament/matches-bg.png); border: 1px solid #cdb082; }
.tournament-index-matches #tournament-ladder .inner { position: relative; width: 1000px; height: 927px; background: url(../images/tournament/brackets.png); }

.tournament-index-matches .bracket { width: 162px; height: 28px; position: absolute; color: white; top: 600px; left: 600px; }
.tournament-index-matches .bracket .d-table { width: 162px; height: 28px; text-align: center; font-weight: bold; }

.tournament-index-matches .bracket.round-1 { left: -4px; }
.tournament-index-matches .bracket.round-1.match-1.team-a { top: 3px; }
.tournament-index-matches .bracket.round-1.match-1.team-b { top: 51px; }
.tournament-index-matches .bracket.round-1.match-2.team-a { top: 124px; }
.tournament-index-matches .bracket.round-1.match-2.team-b { top: 172px; }
.tournament-index-matches .bracket.round-1.match-3.team-a { top: 243px; }
.tournament-index-matches .bracket.round-1.match-3.team-b { top: 291px; }
.tournament-index-matches .bracket.round-1.match-4.team-a { top: 363px; }
.tournament-index-matches .bracket.round-1.match-4.team-b { top: 411px; }
.tournament-index-matches .bracket.round-1.match-5.team-a { top: 484px; }
.tournament-index-matches .bracket.round-1.match-5.team-b { top: 532px; }
.tournament-index-matches .bracket.round-1.match-6.team-a { top: 604px; }
.tournament-index-matches .bracket.round-1.match-6.team-b { top: 652px; }
.tournament-index-matches .bracket.round-1.match-7.team-a { top: 726px; }
.tournament-index-matches .bracket.round-1.match-7.team-b { top: 774px; }
.tournament-index-matches .bracket.round-1.match-8.team-a { top: 846px; }
.tournament-index-matches .bracket.round-1.match-8.team-b { top: 894px; }
.tournament-index-matches .bracket.round-1.match-9.team-a { top: 1321px; }
.tournament-index-matches .bracket.round-1.match-9.team-b { top: 1384px; }
.tournament-index-matches .bracket.round-1.match-10.team-a { top: 1484px; }
.tournament-index-matches .bracket.round-1.match-10.team-b { top: 1546px; }
.tournament-index-matches .bracket.round-1.match-11.team-a { top: 1655px; }
.tournament-index-matches .bracket.round-1.match-11.team-b { top: 1717px; }
.tournament-index-matches .bracket.round-1.match-12.team-a { top: 1817px; }
.tournament-index-matches .bracket.round-1.match-12.team-b { top: 1879px; }
.tournament-index-matches .bracket.round-1.match-13.team-a { top: 1979px; }
.tournament-index-matches .bracket.round-1.match-13.team-b { top: 2041px; }
.tournament-index-matches .bracket.round-1.match-14.team-a { top: 2141px; }
.tournament-index-matches .bracket.round-1.match-14.team-b { top: 2203px; }
.tournament-index-matches .bracket.round-1.match-15.team-a { top: 2313px; }
.tournament-index-matches .bracket.round-1.match-15.team-b { top: 2375px; }
.tournament-index-matches .bracket.round-1.match-16.team-a { top: 2475px; }
.tournament-index-matches .bracket.round-1.match-16.team-b { top: 2537px; }

.tournament-index-matches .bracket.round-2 { left: 191px; }
.tournament-index-matches .bracket.round-2.match-1.team-a { top: 66px; }
.tournament-index-matches .bracket.round-2.match-1.team-b { top: 114px; }
.tournament-index-matches .bracket.round-2.match-2.team-a { top: 307px; }
.tournament-index-matches .bracket.round-2.match-2.team-b { top: 355px; }
.tournament-index-matches .bracket.round-2.match-3.team-a { top: 547px; }
.tournament-index-matches .bracket.round-2.match-3.team-b { top: 595px; }
.tournament-index-matches .bracket.round-2.match-4.team-a { top: 789px; }
.tournament-index-matches .bracket.round-2.match-4.team-b { top: 837px; }
.tournament-index-matches .bracket.round-2.match-5.team-a { top: 1351px; }
.tournament-index-matches .bracket.round-2.match-5.team-b { top: 1513px; }
.tournament-index-matches .bracket.round-2.match-6.team-a { top: 1685px; }
.tournament-index-matches .bracket.round-2.match-6.team-b { top: 1847px; }
.tournament-index-matches .bracket.round-2.match-7.team-a { top: 2009px; }
.tournament-index-matches .bracket.round-2.match-7.team-b { top: 2171px; }
.tournament-index-matches .bracket.round-2.match-8.team-a { top: 2343px; }
.tournament-index-matches .bracket.round-2.match-8.team-b { top: 2505px; }

.tournament-index-matches .bracket.round-3 { left: 382px; }
.tournament-index-matches .bracket.round-3.match-1.team-a { top: 187px; }
.tournament-index-matches .bracket.round-3.match-1.team-b { top: 235px; }
.tournament-index-matches .bracket.round-3.match-2.team-a { top: 669px; }
.tournament-index-matches .bracket.round-3.match-2.team-b { top: 717px; }
.tournament-index-matches .bracket.round-3.match-3.team-a { top: 1432px; }
.tournament-index-matches .bracket.round-3.match-3.team-b { top: 1765px; }
.tournament-index-matches .bracket.round-3.match-4.team-a { top: 2090px; }
.tournament-index-matches .bracket.round-3.match-4.team-b { top: 2423px; }

.tournament-index-matches .bracket.round-4 { left: 572px; }
.tournament-index-matches .bracket.round-4.match-1.team-a { top: 427px; }
.tournament-index-matches .bracket.round-4.match-1.team-b { top: 475px; }
.tournament-index-matches .bracket.round-4.match-2.team-a { top: 669px; }
.tournament-index-matches .bracket.round-4.match-2.team-b { top: 717px; }

.tournament-index-matches .bracket.round-5 { left: 756px; }
.tournament-index-matches .bracket.round-5.match-1.team-a { top: 427px; }
.tournament-index-matches .bracket.round-5.match-1.team-b { top: 475px; }


.tournament-index-matches .bracket.tournament-winner { left: 774px; top: 449px; }

.tournament-index-matches .table-container { margin-top: 44px; }
.tournament-index-matches .table-container > div { float: left}
.tournament-index-matches .table-container > div.incoming-matches-content { margin-left: 21px; }
.tournament-index-matches .table-container > div > p.legend { font-size: 15px; font-family: "DINCompPro-CondMedium", Arial, Helvetica, sans-serif; text-transform: uppercase; margin: 0 0 2px 0; }

.tournament-index-matches table.played-matches { border: 1px solid #dedede; }
.tournament-index-matches table.played-matches tr.odd { background: #f5f5f5;  }
.tournament-index-matches table.played-matches th { background: #dedede; font-weight: bold; }
.tournament-index-matches table.played-matches th,
.tournament-index-matches table.played-matches td { height: 30px; vertical-align: middle; padding-left: 12px; border-right: 1px solid #d2d2d2; }
.tournament-index-matches table.played-matches th.date { width: 121px; }
.tournament-index-matches table.played-matches td.date { font-style: italic; }
.tournament-index-matches table.played-matches td.date span { color: #828282; }
.tournament-index-matches table.played-matches th.teams { width: 261px; }
.tournament-index-matches table.played-matches th.winner { width: 126px; border-right: 0px; }
.tournament-index-matches table.played-matches td.winner { border-right: 0px; }

.tournament-index-matches table.incoming-matches { border: 1px solid #dedede; }
.tournament-index-matches table.incoming-matches tr.odd { background: #f5f5f5;  }
.tournament-index-matches table.incoming-matches th { background: #dedede; font-weight: bold; }
.tournament-index-matches table.incoming-matches th,
.tournament-index-matches table.incoming-matches td { height: 30px; vertical-align: middle; padding-left: 12px; border-right: 1px solid #d2d2d2; }
.tournament-index-matches table.incoming-matches th.date { width: 121px; }
.tournament-index-matches table.incoming-matches td.date { font-style: italic; }
.tournament-index-matches table.incoming-matches td.date span { color: #828282; }
.tournament-index-matches table.incoming-matches th.teams { width: 230px; border-right: 0px; }
.tournament-index-matches table.incoming-matches td.teams { border-right: 0px; }

.tournament-index-matches fieldset.incoming-matches { margin-top: 44px;}

#register-team-form { width:390px; margin: 20px 0px;}
#register-team .buttons-set-login { margin: 0 0 20px 0}
#register-team-form .form-list { margin-left:53px; width:260px; margin-bottom: 10px;  }
#register-team-form .form-list label { font-size: 14px; position:static; font-family: Arial, Helvetica, sans-serif; font-weight: normal; padding:0px; margin:0px; margin-bottom: 4px; }
#register-team-form .form-list input[type="text"],
#register-team-form .form-list input[type="password"]
 { background-color:#fff !important; border: 1px solid #e1e1e1; padding: 5px 3px; -webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
-moz-box-shadow: inset 0 0 5px #e1e1e1;
-webkit-box-shadow: inset 0 0 5px #E1E1E1;
box-shadow: inset 0 0 5px #E1E1E1; height:20px; }
#register-team-form .form-list .team_member_content { width: 255px; margin: 0 0 11px 0; }
#register-team-form .form-list .team_member_content.last { margin-bottom: 0px; }

#register-team-inner.box_position { position: absolute; top: 120px; }

#register-team-form .file input[type="file"].new_file {
    font-size: 20px;
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    opacity: 0.01;
    cursor: pointer;
    height: 36px;
    position: absolute;
    left: 0px; top: 0px;
    z-index: 2;
}

#register-team-form .validation-advice { padding-left: 0px; }
#register-team-form .file .validation-advice { float: none; margin-bottom: 4px; }
#register-team-form .team_member_content .validation-advice { margin-bottom: 10px; }

#register-team-form .rules label a { text-decoration: underline; }
#register-team-form .file .new_file { width: 255px; cursor: pointer; }
#register-team-form .file .comment { font-size: 11px; color: #aaa; }
#register-team-form .file .styled_file { cursor: pointer; height: 45px; }
#register-team-form .file .styled_file:after { content: "."; display: block; visibility: hidden; height: 0; line-height: 0; clear: both; }
#register-team-form .file .styled_file input[type="text"] { width: 182px; position: absolute; left: 0px; top: 7px;}
#register-team-form .file .styled_file span {
    position: absolute;
    top: 6px;
    left: 193px;
    float: left;
    cursor: pointer;
    font-size: 80%;
    padding: 0 10px;
    height: 32px;
    width: 47px;
    line-height: 32px;
    background-color: black;
    border: none;
    z-index: 1;
    color: white;
    display: inline-block;
    vertical-align: bottom;
    margin-top: 1px;
    font-family: "DINCompPro-CondMedium", Arial, Helvetica, sans-serif;
    border-radius: 2px;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    text-shadow: 1px 1px #959595;
    background: #a6a6a6; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E2YTZhNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiZmJmYmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #a6a6a6 0%, #bfbfbf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a6a6a6), color-stop(100%,#bfbfbf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a6a6a6 0%,#bfbfbf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a6a6a6 0%,#bfbfbf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a6a6a6 0%,#bfbfbf 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #a6a6a6 0%,#bfbfbf 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6a6a6', endColorstr='#bfbfbf',GradientType=0 ); /* IE6-8 */
}

.l77-tournament .col-main > ul.messages { overflow: visible; margin-bottom: 39px !important; display: block; }
.l77-tournament .col-main > ul.messages span { display: block; margin-left: 10px; }
.l77-tournament .col-main > ul.messages .error-msg { padding-left: 30px !important; }

.l77-tournament .box_position { width: 380px; margin-left: -190px; }
.l77-tournament #register-team .login-form-title img { margin-right: 0px; }
.l77-tournament #register-team .login-form-title h2 { margin-left: 106px; margin-top: 15px; }
.l77-tournament #register-team .buttons-set-login button.button span { text-transform: uppercase; padding: 6px 36px; font-family: "DINCompPro-CondMedium", Arial, Helvetica, sans-serif; font-size: 18px; line-height: 22px; }

.track3 {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    -moz-transition: background 250ms linear;
    -o-transition: background 250ms linear;
    -ms-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track3:hover, .track3.dragging {
    background: #d9d9d9;
    background: rgba(0, 0, 0, 0.15);
}

.handle3 {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    -moz-transition: width 250ms;
    -o-transition: width 250ms;
    -ms-transition: width 250ms;
    transition: width 250ms;
}

.track3:hover .handle3, .track3.dragging .handle3 { width: 10px; }

.track4 {
    height: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    -moz-transition: background 250ms linear;
    -o-transition: background 250ms linear;
    -ms-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track4:hover, .track4.dragging {
    background: #d9d9d9;
    background: rgba(0, 0, 0, 0.15);
}

.handle4 {
    height: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    -moz-transition: width 250ms;
    -o-transition: width 250ms;
    -ms-transition: width 250ms;
    transition: width 250ms;
}

.track4:hover .handle4, .track4.dragging .handle4 { height: 10px; }

#tournament-ladder .d-table-cell { line-height: 1; font-family: "DINCompPro-CondMedium", Arial, Helvetica, sans-serif; text-transform: uppercase; font-size: 14px; font-weight: normal; text-shadow: 1px 1px 2px #010101; }
#tournament-ladder .d-table { margin-top: 2px; }
#ladder-placeholder > img { margin-top: -53px; }

body.tournament-index-tv .col-main .twitch:after { content: "."; display: block; visibility: hidden; height: 0; line-height: 0; clear: both; }
body.tournament-index-tv .col-main .advertisements.top.tv { margin-bottom: 15px; }
body.tournament-index-tv .col-main .advertisements.bottom.tv { margin-top: 15px; }
body.tournament-index-tv .col-main .advertisements.bottom.tv img.first { margin-right: 27px; }
body.tournament-cms-template .col-main .content:after { content: "."; display: block; visibility: hidden; height: 0; line-height: 0; clear: both; }
body.tournament-cms-template .col-main .advertisements.top.tv { margin-bottom: 15px; }
body.tournament-cms-template .col-main .advertisements.bottom.tv { margin-top: 15px; }
body.tournament-cms-template .col-main .advertisements.bottom.tv img.first { margin-right: 27px; }

.l77-tournament #footer-payment-methods { display: none; }
#ladder-placeholder { height: 620px; }
#register-team-inner .login-form-title img { right: 0px; }
.l77-tournament #social { background: rgba(116,50,0,0.07); border: 1px solid #cdb082; }
.l77-tournament #social .facebook .fb-like-box, .l77-tournament #googleplus_widget1, .l77-tournament #googleplus_widget1 span, .l77-tournament #social .twitter { border-color: #bfac86 !important; }
#googleplus_widget1 span .blank { background: transparent !important; }
#widget_bounds { border: none !important; }
.pluginBoxDivider { border-color: #bfac86 !important; }