.vat_region #more-vat-region img { width: 16px; height: 11px; }
.vat_region { float:left; position:relative; top: 34px; }
.header_bar .vat_region { float: right; top: 0px; }
.vat_region .vat_region_top { float:left; font-family: Verdana, sans-serif; font-size: 12px }
.vat_region .vat_region_title { font-family: "DINCompPro-CondMedium", Arial, Helvetica; font-size:14px; }
.vat_region .vat_region_top span {margin-left: 13px; position: relative }
#vat_eu_country_selected .text-vat-region span {margin-left: 0}
.header_bar .vat_region .vat_region_top .vat_region_title,
.header_bar .currency #topplus .currency_title { float: left; -webkit-font-smoothing: antialiased; height: 24px; line-height: 1.8; font-size: 14px; color: #999999; font-family: "DINCompPro-CondMedium", Arial, Helvetica; font-size: 14px; }
.vat_region .arrow-region { position: absolute !important; z-index: 2;  }
.vat_region a{ border:1px solid #dedede }
.vat_region  span { float: left; }

#vat_switcher_Form span, #vat_regulations_Form span { display: block; margin: 30px auto; font-size: 13px; line-height: 130%; width: 290px; text-align: left }
#vat_switcher_Form #yes, #vat_regulations_Form #yes { float: left; padding: 0px 13px; margin:-11px 7px 30px 48px; color: #fff; background: #a4cd0f; font-size: 14px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px }
#vat_switcher_Form #yes:hover, #vat_regulations_Form #yes:hover { text-decoration: none; background:#90B30D; cursor:pointer }
#vat_regulations_Form { width:600px; margin-left:-300px }
#vat_regulations_Form span { width:504px }
#vat_regulations_Form strong { margin-bottom: -10px; display: block }
#vat_regulations_Form #yes { margin-top:0px }

.buttons-set button.button.disabled { background: none; cursor: auto }

.vat_region .vat_region_top { position: relative }
.vat_region .vat_region_top .text-vat-region { float: left; color: #616161; border: 1px solid #ddd; margin-left: 4px; font-family: "DINCompPro-CondMedium", Arial, Helvetica; font-size:12pt; line-height: 100%; height: 15px; padding: 3px 0px 0px 0px; width:63px; text-align:center }
.header_bar .vat_region .vat_region_top .text-vat-region { line-height: 1.7; }
.header_bar .vat_region .vat_region_top .text-vat-region { float: right; width: auto; height: 24px; border-top: none; border-bottom: none; border-left: 1px solid transparent; border-right: 1px solid transparent; padding: 0px 22px 0px 6px; text-transform: uppercase; color: #545454; z-index: 101; }
.header_bar .vat_region .vat_region_top .text-vat-region .procent { margin: 0; line-height: 1.7; }
.header_bar .vat_region .vat_region_top .text-vat-region .arrow-region { width: 10px; height: 11px; background: url('../images/general-sprites.png'); background-position: right -1140px; left: auto; right: 7px; top:6px; }
html[store-theme="default-red"] .header .vat_region .vat_region_top .text-vat-region, html[store-theme="default-green"] .header .vat_region .vat_region_top .text-vat-region, html[store-theme="default-blue-2"] .header .vat_region .vat_region_top .text-vat-region, html[store-theme="default-blue"] .header .vat_region .vat_region_top .text-vat-region { border: 1px solid #bbb }

.vat_region .vat_region_top .text-vat-region:hover  { background:#fff; -webkit-transition: background-color 0.3s; cursor:pointer }
.vat_region .vat_region_top .text-vat-region .country-tax {  margin-left: 0px; float:none }
.vat_region .vat_region_top .text-vat-region .procent {  margin-left:4px; float:none }
.vat_region .vat_region_top .text-vat-region-active { background:#fff }
.header_bar .vat_region .vat_region_top .text-vat-region-active { border-right: 1px solid #ddd; border-left: 1px solid #ddd; height: 25px; }

a.text-vat-region { border:none !important }

#vat_eu_country_selected { float:left }
.header_bar #vat_eu_country_selected { float:right; }
.tax-icon { float: left; margin: 3px 0px 0px 5px; border: none !important; }
.header_bar .tax-icon { margin: 6px 0px 0px 5px; width: 11px; height: 11px; background: url('../images/general-sprites.png'); background-position: -156px -1158px }
.header_bar .tax-icon:hover { background-position: -168px -1158px }
#more-vat-region {  display: none; z-index: 100; width: 372px; display: none; position: absolute; top: 19px !important; text-align:left;   right: -302px; background: #fff url('../images/tax/arrow.png') no-repeat top 0px left 27px; border: 1px solid #dddddd; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box }
.header_bar #more-vat-region { top: 24px !important; right:0; background: #fff; -moz-border-radius-topleft: 3px;
                                                                                 -webkit-border-top-left-radius: 3px;
                                                                                 border-top-left-radius: 3px;
                                                                                 -moz-border-radius-bottomleft: 3px;
                                                                                 -webkit-border-bottom-left-radius: 3px;
                                                                                 border-bottom-left-radius: 3px;
                                                                                 -moz-border-radius-bottomright: 3px;
                                                                                 -webkit-border-bottom-right-radius: 3px;
                                                                                 border-bottom-right-radius: 3px; }
.more-vat-region-visible { display:block }
#more-vat-region .choose_country { font-family: "DINCompPro-CondMedium", Arial, Helvetica; font-size:14px; text-transform: uppercase; margin-bottom:3px; float:none; display:block; margin-left:0px; padding:11px 11px 0px 11px; line-height:16px; height:16px; }
#vat_eu_country_out { font-family: Verdana, sans-serif; font-size:10px; border-bottom: 1px solid #ddd; padding-bottom: 5px; /* width:243px; */ height:16px; line-height:16px }
#vat_eu_country_out img { float:left; margin:2px 3px 0px 11px }
#vat_eu_country_out .country_name { margin-left:0px; float:left; display:block; width: 90px;}
html[lang="fr"] #vat_eu_country_out .country_name { margin-left:0px; float:left; display:block; width:134px }
html[lang="de"] #vat_eu_country_out .country_name { margin-left:0px; float:left; display:block; width:113px }

#vat_eu_countries_list { background:#fff; position:relative; z-index:101; width: 185px; border-right:1px solid #ddd; padding:5px 0px }
.header_bar #vat_eu_countries_list { background: transparent; }
#vat_eu_countries_list div, #vat_eu_countries_list_more div { font-family: Verdana; font-size:10px; padding-bottom: 5px; padding: 3px 0px 3px 0px; /* width:233px; */ height: 16px; line-height: 16px }
.vat_eu_country { padding: 1px 0px 3px 0px }
#vat_eu_countries_list div img, #vat_eu_countries_list_more div img { margin-top:2px; float:left; margin-right:3px }
#vat_eu_countries_list div .country_name, #vat_eu_countries_list_more div .country_name { margin-left:0px; float:left; display:block; width:105px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
html[lang="de"] #vat_eu_countries_list div .country_name, html[lang="de"] #vat_eu_countries_list_more div .country_name { width:114px }
html[lang="ru"] #vat_eu_countries_list div .country_name, html[lang="ru"] #vat_eu_countries_list_more div .country_name { width:114px }
html[lang="fr"] #vat_eu_countries_list div .country_name, html[lang="fr"] #vat_eu_countries_list_more div .country_name { width:114px }
html[lang="bg"] #vat_eu_countries_list div .country_name, html[lang="bg"] #vat_eu_countries_list_more div .country_name { width:114px }

#vat_eu_countries_list div:hover, #vat_eu_countries_list_more div:hover, #vat_eu_country_out div:hover { background:#eeeeee; cursor:pointer }
#vat_eu_countries_list div.selected, #vat_eu_countries_list_more div.selected, #vat_eu_country_out div.selected { background: #ddefc9 }
#vat_eu_countries_list div.selected:after, #vat_eu_countries_list_more div.selected:after { background: url('../images/general-sprites.png') no-repeat; background-position: -23px -1157px; content: " "; display: block; position: relative; width:14px; height:14px; top: -15px; right: -167px; }
#vat_eu_country_out div.selected:after { background: url('../images/general-sprites.png') no-repeat; background-position: -23px -1157px; content: " "; display: block; position: relative; width:14px; height:14px; top: 33px; right: 6px; }
.header_bar #vat_eu_country_out div.selected:after { height: auto; }
html[lang="ru"] #vat_eu_countries_list div.selected:after, html[lang="ru"] #vat_eu_countries_list_more div.selected:after { right: -169px }
html[lang="fr"] #vat_eu_countries_list div.selected:after, html[lang="fr"] #vat_eu_countries_list_more div.selected:after { right: -169px }
html[lang="bg"] #vat_eu_countries_list div.selected:after, html[lang="bg"] #vat_eu_countries_list_more div.selected:after { right: -169px }

#vat_eu_countries_list div.location:after, #vat_eu_countries_list_more div.location:after { background: url('../images/general-sprites.png') no-repeat; background-position: -43px -1157px; content: " "; display: block; position: relative; width:14px; height:14px; top: -15px; right: -167px; }
html[lang="de"] #vat_eu_countries_list div.location:after, html[lang="de"] #vat_eu_countries_list_more div.location:after { right: -169px }
html[lang="ru"] #vat_eu_countries_list div.location:after, html[lang="ru"] #vat_eu_countries_list_more div.location:after { right: -169px }
html[lang="fr"] #vat_eu_countries_list div.location:after, html[lang="fr"] #vat_eu_countries_list_more div.location:after { right: -169px }
html[lang="bg"] #vat_eu_countries_list div.location:after, html[lang="bg"] #vat_eu_countries_list_more div.location:after { right: -169px }

html[store-theme-schema="dark"] #vat_eu_countries_list div:hover, html[store-theme-schema="dark"] #vat_eu_countries_list_more div:hover, html[store-theme-schema="dark"] #vat_eu_country_out div:hover { background: #000; }
html[store-theme-schema="dark"] #vat_eu_countries_list div.location, html[store-theme-schema="dark"] #vat_eu_countries_list_more div.location { background: #000; }

/* background sprites */

#more-vat-region .flag { padding:0; float:left; background-image: url('../images/sprite-flags.png'); background-repeat: no-repeat; display: block; height: 11px; width: 16px; margin-top: 2px;
margin-right: 3px; overflow:hidden;}

#more-vat-region #vat_eu_country_out .vat_eu_country .flag { background-position: -343px -89px; }
#more-vat-region .vat_eu_country_ES .flag { background-position: -291px -89px; }
#more-vat-region .vat_eu_country_GR .flag { background-position: -135px -131px; }
#more-vat-region .vat_eu_country_SE .flag { background-position: -5px -299px; }
#more-vat-region .vat_eu_country_PT .flag { background-position: -5px -278px; }
#more-vat-region .vat_eu_country_IT .flag { background-position: -291px -152px; }
#more-vat-region .vat_eu_country_CZ .flag { background-position: -317px -68px; }
#more-vat-region .vat_eu_country_NL .flag { background-position: -265px -236px; }
#more-vat-region .vat_eu_country_BE .flag { background-position: -135px -26px;  }
#more-vat-region .vat_eu_country_DK .flag { background-position: -31px -89px; }
#more-vat-region .vat_eu_country_FR .flag { background-position: -161px -110px; }
#more-vat-region .vat_eu_country_DE .flag { background-position: -343px -68px; }
#more-vat-region .vat_eu_country_PL .flag { background-position: -239px -257px; }
#more-vat-region .vat_eu_country_GB .flag { background-position: -213px -110px; }
#more-vat-region .vat_eu_country_AT .flag { background-position: -291px -5px; }
#more-vat-region .vat_eu_country_BG .flag { background-position: -187px -26px; }
#more-vat-region .vat_eu_country_HR .flag { background-position: -5px -152px; }
#more-vat-region .vat_eu_country_CY .flag { background-position: -291px -68px; }
#more-vat-region .vat_eu_country_EE .flag { background-position: -161px -89px; }
#more-vat-region .vat_eu_country_FI .flag { background-position: -31px -110px; }
#more-vat-region .vat_eu_country_HU .flag { background-position: -57px -152px; }
#more-vat-region .vat_eu_country_IE .flag { background-position: -109px -152px; }
#more-vat-region .vat_eu_country_LV .flag { background-position: -187px -194px; }
#more-vat-region .vat_eu_country_LT .flag { background-position: -135px -194px; }
#more-vat-region .vat_eu_country_LU .flag { background-position: -161px -194px; }
#more-vat-region .vat_eu_country_MT .flag { background-position: -265px -215px; }
#more-vat-region .vat_eu_country_RO .flag { background-position: -135px -278px; }
#more-vat-region .vat_eu_country_SK .flag { background-position: -135px -299px; }
#more-vat-region .vat_eu_country_SI .flag { background-position: -83px -299px; }

#vat_eu_countries_more { font-family: "DINCompPro-CondMedium", Arial, Helvetica; font-size:14px; padding:20px 0px 8px 0px; text-align:center; position:relative; z-index:101; border-right:1px solid #ddd; width:243px; line-height:16px; height:16px; background: white; }
#vat_eu_countries_more span { margin: 0 auto; width: auto; float:none; padding-right:15px; background: url('../images/tax/country_more.png') no-repeat top 1px right 5px; }
#vat_eu_countries_less { font-family: "DINCompPro-CondMedium", Arial, Helvetica; font-size:14px; padding:20px 0px 8px 0px; text-align:center; position:relative; z-index:101; border-right:1px solid #ddd; width:243px; line-height:16px; height:16px; display:none; background: white; }
#vat_eu_countries_less span { margin: 0 auto; width: auto; float:none; padding-left:15px; background: url('../images/tax/country_less.png') no-repeat top 1px left 5px }
#vat_eu_countries_more:hover, #vat_eu_countries_less:hover { cursor: pointer }

#vat_eu_countries_list_more { position:absolute; padding: 5px 0px; top: 51px; left: 186px; z-index: 100; width: 185px; text-align:left; background: #fff; border: 1px solid #dddddd; border-left:none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box }
.header_bar #vat_eu_countries_list_more { background: transparent; }

#vat_switcher_Form span { display: block; margin: 30px auto; font-size: 13px; line-height: 130%; width: 290px; text-align: left }
#vat_switcher_Form #yes { float: left; padding: 0px 13px; margin:-11px 7px 30px 48px; color: #fff; background: #a4cd0f; font-size: 14px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px }
#vat_switcher_Form #yes:hover { text-decoration: none; background:#90B30D; cursor:pointer }

.vat_popup { display: none; z-index: 9999; position: relative }

.buttons-set button.button.disabled { background: none; cursor: auto }

#vat_regulation_bar { background: #545454; color:#fff; font-family: Verdana, sans-serif; font-size: 12px; padding:13px 0px 15px 0px; position:relative; display: none }
#vat_regulation_bar .attention { color:#ffa830; font-weight: bold; text-transform:uppercase; margin-right:8px }
#vat_regulation_bar .attention_img { margin-right: 9px; margin-top: 5px }
#vat_regulation_bar .tax_regulations { text-decoration: underline }
#vat_regulation_bar .tax_regulations:hover { cursor:pointer }
#vat_regulation_bar .choose_region { color:#ffa830; font-weight: bold; margin-left:7px }
#vat_regulation_bar .close-button { display:inline-block; background: url('../images/tax/close.png'); width:20px; height:20px; position:relative; margin-left:100px; top:4px }
#vat_regulation_bar .close-button:hover { cursor:pointer }
#vat_regulation_bar .arrow_bootom { background: url('../images/tax/arrow_down.png'); width:23px; height:8px; position:absolute; bottom:-8px; left:50%; margin-left:-68px; z-index: 20  }

.vat-message { width:873px; float:left; border: 2px solid #efab60; font-size:14px; padding:15px 14px 12px 58px; margin-bottom:25px; background: url('../images/tax/warning.png') no-repeat center left 20px }
.vat-billing-message { width:475px; float:left; border: 2px solid #efab60; padding:15px 14px 12px 58px; margin: 10px 0px; background: url('../images/tax/warning.png') no-repeat center left 20px }
.edit-address-form-inner .vat-billing-message { width:460px }

html[store-theme-schema="dark"] #more-vat-region { background: #171717 url('../images/tax/arrow_dark.png') no-repeat top 0px left 27px; border: 1px solid #464646; color:#d0d0d0 }
html[store-theme-schema="dark"] #vat_eu_countries_list { background: #171717; color:#d0d0d0; border-right: 1px solid #464646 }
html[store-theme-schema="dark"] #vat_eu_countries_list_more { background: #171717; border: 1px solid #464646; border-left: none }
html[store-theme-schema="dark"] #vat_eu_countries_list div:hover, html[store-theme-schema="dark"] #vat_eu_countries_list_more div:hover { background:#000 }
html[store-theme-schema="dark"] #vat_eu_countries_more { border-right: 1px solid #464646 }
html[store-theme-schema="dark"] #vat_eu_countries_less { border-right: 1px solid #464646 }
html[store-theme-schema="dark"] #vat_eu_country_out { border-bottom: 1px solid #464646 }
html[store-theme-schema="dark"] #vat_eu_countries_list div.selected, html[store-theme-schema="dark"] #vat_eu_countries_list_more div.selected, html[store-theme-schema="dark"] #vat_eu_country_out div.selected { background:#000 }
html[store-theme-schema="dark"] #vat_eu_countries_list div.selected, html[store-theme-schema="dark"] #vat_eu_countries_list_more div.selected { background: #000  }
html[store-theme-schema="dark"] #vat_regulation_bar .arrow_bootom { margin-left: 100px }
html[store-theme-schema="dark"] .header .vat_region .vat_region_top .text-vat-region { border: 1px solid #464646; color: #ccc }
html[store-theme-schema="dark"] .header .vat_region .vat_region_top .text-vat-region:hover, html[store-theme-schema="dark"] .header .vat_region .vat_region_top .text-vat-region-active { background: #000 }
html[store-theme-schema="dark"] .header .vat_region .arrow-region { background: url('../images/tax/arrow_dark.png'); }
html[store-theme-schema="dark"] #phone_wrapper_input, html[store-theme-schema="dark"] #address_wrapper_input,  html[store-theme-schema="dark"]#phone_wrapper_code { background:#171717 }
html[store-theme-schema="dark"] #phone_wrapper_input .styled-select { border-right: 1px solid #464646; background: url('../images/dashboard2/content/arrow_show.png') no-repeat right center }
html[store-theme-schema="dark"] #phone_wrapper_input .styled-select select { border: 1px solid #464646; color: #ccc }
html[store-theme-schema="dark"] #phone_wrapper_input input, html[store-theme-schema="dark"] #address_wrapper_input input, html[store-theme-schema="dark"] #phone_wrapper_code input { border: 1px solid #464646; color: #ccc; background:none }
html[store-theme-schema="dark"] #phone_wrapper_code { background: #171717 url('../images/tax/sms_code.png') no-repeat left 118px center }
html[store-theme-schema="dark"] #phone_country option { background: #171717; color:#ccc }

#not_verified, #vat_cartinfo_Form { padding:20px 30px }
.box_position_sms { width:544px; margin-left:-272px; text-align:left; border:2px solid #ececec; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box }
.box_position_sms .title { background: url('../images/tax/warning.png') no-repeat center left 0px; padding: 16px 14px 12px 34px; font-family: "DINCompPro-CondMedium", Arial, Helvetica; font-size: 24px;
    color: #666666 }

#popup_phone_verified, #popup_address_verified { padding:20px 30px; text-align: center; }
#popup_phone_verified .title, #popup_address_verified .title { background: url('../images/tax/vat_success.png') no-repeat center left 0px; display: inline-block; }
#popup_phone_verified .continue, #popup_address_verified .continue, #vat_cart_continue { display: inline-block; background-color: #ff7d01; padding: 4px 8px 4px 12px; font-family: Verdana, sans-serif; font-size: 10px; color:#fff; margin:20px 9px 20px 0px; -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px; -moz-border-radius-topleft: 3px; -moz-border-radius-bottomleft: 3px; border-top-left-radius: 3px; border-bottom-left-radius: 3px; position:relative }
#vat_cart_continue { float:right; margin:15px 9px 10px 0px }
#popup_phone_verified .continue:hover, #popup_address_verified .continue:hover, #vat_cart_continue:hover { cursor: pointer; background:#e8580c }
#popup_phone_verified .continue .arrow-right, #popup_address_verified .continue .arrow-right, #vat_cart_continue .arrow-right { width: 0; height: 0; border-top: 12px solid transparent; border-bottom: 11px solid transparent; border-left: 10px solid #ff7d01; position: absolute; right: -10px; top: 0px }
#popup_phone_verified .continue .arrow-right-hover, #popup_address_verified .continue .arrow-right-hover, #vat_cart_continue .arrow-right-hover { border-left: 10px solid #e8580c }

#address_id p, #phone_input_normal, #address_input_normal, #phone_code_normal, #phone_code_mismatch { font-size:13px; margin-bottom: 20px }
#vat_cartinfo p { font-size:13px; margin-top:10px; font-family: Verdana, sans-serif; }
#phone_code_mismatch_info { margin-top:10px }
#phone_code_mismatch_info a { color:#ff7d01 }
#address_mismatch_info { margin-top:10px }
#address_mismatch_info a { color:#ff7d01 }
#phone_code_mismatch .not_match { color:#ff7d01 }

#phone_wrapper_input, #address_wrapper_input, #phone_wrapper_code { background:#f3f3f1; text-align: center; padding:20px; height:30px; }
#phone_wrapper_code { padding-left:30px; background: #f3f3f1 url('../images/tax/sms_code.png') no-repeat left 118px center }
#phone_wrapper_input input { border:1px solid #e1e1e1; padding:6px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; top: -12px; height: 16px; position: relative; box-shadow: inset 1px 1px 9px rgba(0, 0, 0, 0.05); width:172px; text-align:center; color:#000 }
#address_wrapper_input input { border:1px solid #e1e1e1; padding:6px !important; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; box-shadow: inset 1px 1px 9px rgba(0, 0, 0, 0.05); }
#phone_wrapper_code input { border:1px solid #e1e1e1; padding:6px !important; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; box-shadow: inset 1px 1px 9px rgba(0, 0, 0, 0.05); margin-top:2px; margin-left:30px }

#phone_number::-webkit-input-placeholder { font-style:italic; text-align: center }
#phone_number::-moz-placeholder { font-style:italic; text-align: center }
#phone_number:-ms-input-placeholder { font-style:italic; text-align: center }
#phone_number input:-moz-placeholder { font-style:italic; text-align: center }
#phone_code::-webkit-input-placeholder { font-style:italic; text-align: center }
#phone_code::-moz-placeholder { font-style:italic; text-align: center }
#phone_code:-ms-input-placeholder { font-style:italic; text-align: center }
#phone_code input:-moz-placeholder { font-style:italic; text-align: center }

#phone_number:focus::-webkit-input-placeholder { color:transparent; }
#phone_number:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
#phone_number:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
#phone_number:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

#cancel_button, #change_button_sms, #change_button_doc { background-color: #777777; padding: 4px 12px; font-family: Verdana, sans-serif; font-size: 10px; float:left; color:#fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; margin:20px 10px 20px 0px }
#vat_cart_goto { background-color: #777777; padding: 4px 12px; font-family: Verdana, sans-serif; font-size: 10px; float:right; color:#fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; margin:15px 10px 10px 0px }

#cancel_button:hover, #change_button_sms:hover, #change_button_doc:hover, #vat_cart_goto:hover { cursor:pointer; background:#444444 }
#verify_button { float:right; background-color: #ff7d01; padding: 4px 8px; font-family: Verdana, sans-serif; font-size: 10px; color:#fff; margin:20px 9px 20px 0px; -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px; -moz-border-radius-topleft: 3px; -moz-border-radius-bottomleft: 3px; border-top-left-radius: 3px; border-bottom-left-radius: 3px; position:relative }
#verify_button:hover { cursor: pointer; background:#e8580c }
#verify_button .arrow-right { width: 0; height: 0; border-top: 12px solid transparent; border-bottom: 11px solid transparent; border-left: 10px solid #ff7d01; position: absolute; right: -10px; top: 0px }
#verify_button .arrow-right-hover { border-left: 10px solid #e8580c }

#phone_wrapper_input .styled-select { width: 126px; border-right:1px solid #e1e1e1; overflow: hidden; background: white url('../images/dashboard2/content/arrow_show.png') no-repeat scroll right center; margin-right: 9px; display:inline-block; float:none }
#phone_wrapper_input .styled-select select { width: 144px; height:30px; border:1px solid #e1e1e1; padding:6px !important; font-size: 12px; border: 1px solid #e1e1e1; -webkit-appearance: none; background: transparent; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; box-shadow: inset 1px 1px 9px rgba(0, 0, 0, 0.05); }

#address_id .nice .NFI-button  { float:right !important; background: #777777; color:#fff; padding: 7px 8px; font-family: Verdana, sans-serif; font-size: 10px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
    border-radius: 3px; margin: 0px 0px 0px 10px }
#address_id .nice .NFI-button:hover { cursor:pointer; background:#444444 }
#address_id .nice .NFI-filename { width: 320px }
html[lang="pt"] #address_id .nice .NFI-filename { width: 300px }
html[lang="de"] #address_id .nice .NFI-filename { width: 300px }
html[lang="fr"] #address_id .nice .NFI-filename { width: 280px }
html[lang="es"] #address_id .nice .NFI-filename { width: 280px }

.country_select { display:inline-block }
.country_select dd, .country_select dt, .country_select ul { margin:0px; padding:0px; font-family: Verdana, sans-serif }
.country_select dd { position:relative; }
.country_select div, .country_select div:visited { color:#000; text-decoration:none; outline:none; float: left; width: 113px }
.country_select dt div { text-align:left; background: #fff; display:block; padding:5px; padding-right:10px; border:1px solid #e1e1e1; width: 80px;  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; box-shadow: inset 1px 1px 9px rgba(0, 0, 0, 0.05);}
.country_select dd ul { border:1px solid #e1e1e1; color:#000; display:none; left:0px; position:absolute; top:31px; width:auto; min-width:123px; list-style:none; height: 200px; overflow: scroll; overflow-x: hidden; float: left; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; box-shadow: inset 1px 1px 9px rgba(0, 0, 0, 0.05); }
.country_select span.value { display:none;}
.country_select dd ul li div { padding:5px; display:block; background:#fff }
html[store-theme-schema="dark"] .country_select dt div { background:#171717; color:#ccc; border: 1px solid #464646 }
html[store-theme-schema="dark"] .country_select dd ul li div { background:#171717; color:#ccc }
html[store-theme-schema="dark"] .country_select dd ul  { background:#171717; color:#ccc; border: 1px solid #464646  }

.country_select dt .country_name, .country_select dd ul .country_name { float:left; margin-left:5px }
.country_select dt .prefix, .country_select dd ul .prefix { float: right }
.country_select dt .prefix:before, .country_select dd ul .prefix:before { content: "+"; margin-right: 1px; }
.country_select .country_select_text { text-align: left; margin-left:5px }

#checkoutSteps { min-height:389px }

.total_switcher { text-align: center; margin: 11px auto 0px auto; padding-bottom: 5px; width: 200px; border-bottom: 1px solid #ddd }
.total_switcher span { font-family: "DINCompPro-CondMedium", Arial, Helvetica; font-size: 15px; color: #b9b9b9; display: inline-block;
    -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none }
.total_switcher span:hover { cursor:pointer }
.total_switcher span.hide_total_switcher span { padding-right:15px; background: url('../images/tax/arrow_totals.png') no-repeat top; width:10px; height:6px; display: inline-block; top: -2px;
    position: relative; }
.total_switcher span.show_total_switcher span { padding-right:15px; background: url('../images/tax/arrow_totals.png') no-repeat bottom; width:10px; height:6px; display: inline-block; top: -2px;
    position: relative; }

#co-billing-bottom .vat_region_top #vat_eu_country_selected .text-vat-region {width: auto; padding-right: 40px}

@media only screen and (max-width: 640px) {
    .checkout-onepage-index .wrapper { min-width: 0px; }
    .checkout-onepage-index #header_bar_container,
    .checkout-onepage-index .header-container .header,
    #yammer-feedback,
    #payment-method-head-banner { display: none; }
    .checkout-onepage-index .header-container .main-container .main { width: 100%; }
    .checkout-onepage-index #checkoutSteps { width: 100%; text-align: left; }
    .checkout-onepage-index #checkoutSteps > li { float: left; width: 25%; }
    .checkout-onepage-index #checkoutSteps > li .step-title { width: auto; margin-left: 0px; margin-right: 0px; width: 100%; height: 75px; padding: 0 !important; }
    .checkout-onepage-index #checkoutSteps > li .step-title h2 { line-height: 25px; padding: 13px 0 !important; font-size: 15px; }
    .checkout-onepage-index #checkoutSteps > li .step { width: 100%; top: 75px; padding: 22px 0px !important; box-sizing: border-box; }
    #checkout-step-billing, .checkout-billing-load { width: 100%; float: left; }
    .form-list li.wide .input-box { width: 100%; }
    .payment-methods { width: 100% !important; }
    .review-left, #checkout-progress .status-info { width: 100%; }
    #checkout-progress table.progress > tbody > tr > td,
    #checkout-progress table.progress > tbody > tr > td > table,
    .status-info,
    #checkout-review-table { width: 100% !important; float: left; }
    #checkout-progress table.progress > tbody > tr > td:first-child { margin-bottom: 20px; }
    #opc-review .review-right { right: 50% !important; margin-right: -118px !important; }
}





