div#joboffer
{
	width:982px;border:1px solid #e3e3e3;background:#f9f9f9
}

div#joboffer:after
{
	display:block;content:".";clear:both;font-size:0;line-height:0;height:0;overflow:hidden
}

div#joboffer>img#joboffer-logo
{
	display:block;margin:0 auto
}

div#joboffer>h2
{
	font-family:"DINCompPro-CondMedium", "Trebuchet MS", Arial, Helvetica;font-weight:normal;font-size:102px;color:#373737;text-align:center;text-transform:uppercase;line-height:1;margin:34px 0 0 0
}

div#joboffer>h3
{
	font-family:"DINCompPro-CondMedium", "Trebuchet MS", Arial, Helvetica;font-weight:normal;font-size:48px;color:#989898;text-align:center;line-height:1;margin:-9px 0 25px 0
}

div#joboffer>div.box
{
	position:relative;width:900px;margin:0 auto 0 auto;padding:7px;border-radius:8px
}

div#joboffer>div.box>.container
{
	padding:0 0 15px 0;background:#fefefe;overflow:hidden
}

div#joboffer>div.box>.container>.headerUnderImage:before
{
	left: 0px;
}

div#joboffer>div.box>.container>.headerUnderImage
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;

}

div#joboffer .jobsHeader
{
	font-family:"DINCompPro-CondMedium", "Trebuchet MS", Arial, Helvetica;font-weight:normal;font-size:40px;color:#649111;width:100%;
	padding:26px 0 21px;margin:0;text-align:center;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}

div#joboffer>div.box>.container>.headerUnderImage > h2
{
	font-family:"DINCompPro-CondMedium", "Trebuchet MS", Arial, Helvetica;font-weight:normal;font-size:40px;color:#649111;width:100%;padding:26px 0 21px;margin:0;text-align:center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	border-top: 1px solid #dcdcdc;
}

div#joboffer>div.box>.container>.headerUnderImage:after
{
	right: 0px;
}

div#joboffer>div.box>.container>.headerUnderImage:before,
div#joboffer>div.box>.container>.headerUnderImage:after
{
	content: "";
	position: absolute;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dcdcdc), to(transparent));
	background-image: -webkit-linear-gradient(#dcdcdc, transparent);
	background-image: -moz-linear-gradient(#dcdcdc, transparent);
	background-image: -o-linear-gradient(#dcdcdc, transparent);
	background-image: linear-gradient(#dcdcdc, transparent);
	top: -1px;
	bottom: -1px;
	width: 1px;
}

div#joboffer>div.box>.container>.headerUnderImage hr
{
	width: 605px;
	margin: 0 auto;
	border: 0;
	border-top: 1px solid #dcdcdc;
}

div#joboffer>div.box>.container>div.text-container
{
	min-height:100px;margin:20px 0 19px 0;
	/*background:url(../../images/vw_joboffer/arrows_box.png) no-repeat center 10px*/
}

div#joboffer>div.box>.container>div.text-container>h3
{
	font-family:"DINCompPro-CondMedium", "Trebuchet MS", Arial, Helvetica;font-weight:normal;font-size:30px;color:#4f4f4f;line-height:1;text-align:center;
	padding: 15px 0 25px;
}

div#joboffer>div.box>.container>div.text-container>div.text
{
	width:100%;line-height:22px;font-family:Arial;font-size:17px;color:#808285;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	padding: 0 35px;
}

div#joboffer>div.shadow
{
	display:block;width:934px;height:14px;content:" ";background:url(../../images/vw_joboffer/shadow.png);margin:-2px auto 0 auto
}

div#joboffer>div.job-offers-list
{
	width:895px;margin:18px auto 30px auto
}

div#joboffer>div.job-offers-list>ul
{
	list-style:none
}

div#joboffer>div.job-offers-list>ul:after
{
	display:block;content:".";clear:both;font-size:0;line-height:0;height:0;overflow:hidden
}

div#joboffer>div.job-offers-list>ul>li
{
	float:left;width:415px;height:78px;position:relative;padding-top:20px;padding-left:20px;border-bottom:1px solid #d9d9d9
}

div#joboffer>div.job-offers-list>ul>li>h4
{
	font-family:"DINCompPro-CondMedium", "Trebuchet MS", Arial, Helvetica;font-weight:normal;font-size:22px;color:#4a4a4a;margin:0
}

div#joboffer>div.job-offers-list>ul>li>span
{
	font-family:"DINCompPro-CondMedium", "Trebuchet MS", Arial, Helvetica;font-weight:normal;font-size:18px;color:#4a4a4a
}

div#joboffer>div.job-offers-list>ul>li>div.arrow
{
	position:absolute;top:38px;right:20px;width:11px;height:25.5px;background:url(../../images/vw_joboffer/arrows.png) no-repeat
}

div#joboffer>div.job-offers-list>ul>li.first
{
	border-top:1px solid #d9d9d9
}

div#joboffer>div.job-offers-list>ul>li.odd
{
	margin-right:24px
}

div#joboffer>div.job-offers-list>ul>li:hover
{
	background:white;cursor:pointer
}

div#joboffer>div.job-offers-list>ul>li:hover>div.arrow
{
	background:url(../../images/vw_joboffer/arrows.png) no-repeat 0px -26.5px
}

div#joboffer>div.job-offers-list>ul>li:hover>h4
{
	color:#7fa63d
}

div#joboffer>div.job-offers-list>ul>li:hover:after
{
	display:block;position:absolute;top:0px;bottom:0px;left:0px;right:0px;border-left:1px solid #d9d9d9;border-right:1px solid #d9d9d9;content:" "
}

div#joboffer>div.job-offer-popups>div#offerjob-popup-layer
{
	position:fixed;z-index:999;width:100%;top:0px;bottom:0px;left:0px;right:0px;background:rgba(0,0,0,0.5)
}

div#joboffer>div.job-offer-popups>div.job-offer
{
	position:absolute;z-index:1000;top:700px;width:695px;left:50%;margin-left:-347.5px;background:white;
}

div#joboffer>div.job-offer-popups>div.job-offer>div.popup-title
{
	position:relative;
	min-height:65px;
	background: transparent url(../../images/vw_joboffer/job_offer_popup_header_bg.jpg);
	background-size: cover;
}

div#joboffer>div.job-offer-popups>div.job-offer>div.popup-title>h4
{
	font-family:"DINCompPro-CondMedium", "Trebuchet MS", Arial, Helvetica;
	font-weight:normal;
	font-size:32px;
	position:relative;
	padding: 15px 0 10px 40px;
	color: #fff;
	width: 60%;
	text-transform: uppercase;
}

div#joboffer>div.job-offer-popups>div.job-offer>div.popup-title>div.kinguin
{
	position:absolute;
	right:27px;
	bottom:0px;
	width:99px;
	height:88px;
	background: transparent url(../../images/vw_joboffer/job_offer_popup_kinguin_bg.png);
}

div#joboffer>div.job-offer-popups>div.job-offer>div.popup-title>div.close
{
	position:absolute;
	top:8px;
	left:8px;
	width:7px;
	height:7px;
	background:url(../../images/vw_joboffer/close_box.png);
	cursor:pointer;
}

div#joboffer>div.job-offer-popups>div.job-offer>div.popup-content
{
	padding: 40px 45px 45px;background:white
}

div#joboffer>div.job-offer-popups>div.job-offer>div.popup-actions
{
	background:white
}

div#joboffer>div.job-offer-popups>div.job-offer>div.popup-content>span.ref-nr
{
	display:block
}

div#joboffer>div.job-offer-popups>div.job-offer>div.popup-content>span.city
{
	display:block;margin:0 0 11px 0
}

div#joboffer>div.job-offer-popups>div.job-offer>div.popup-content>div.offer-content
{
	margin:30px 0 42px 0
}

div#joboffer>div.job-offer-popups>div.job-offer>div.popup-content>div.clause
{
	line-height:10px;font-size:10px
}

div#joboffer>div.map
{
	position:relative
}

div#joboffer>div.map>img
{
	display:block;margin:0 auto
}

div#joboffer>div.map>span
{
	font-family:"DINCompPro-CondMedium", "Trebuchet MS", Arial, Helvetica;font-weight:normal;font-size:32px;color:#898989;position:absolute;left:70px;bottom:20px
}

div#offerjob-image{width:627px;height:32px;margin:-7px 0 0 198px; }
/*
div#offerjob-image a#start-selling { background: url('../../images/page-top-en.jpg'); width: 629px; height: 32px; display: block; }
html[lang='en'] div#offerjob-image a#start-selling { background: url('../../images/top_banner_cashback/page-top-en.jpg'); }
html[lang='de'] div#offerjob-image a#start-selling { background: url('../../images/top_banner_cashback/page-top-de.jpg'); }
html[lang='cn'] div#offerjob-image a#start-selling { background: url('../../images/top_banner_cashback/page-top-cn.jpg'); }
html[lang='cz'] div#offerjob-image a#start-selling { background: url('../../images/page-top-cz.jpg'); }
html[lang='fr'] div#offerjob-image a#start-selling { background: url('../../images/top_banner_cashback/page-top-fr.jpg'); }
html[lang='ja'] div#offerjob-image a#start-selling { background: url('../../images/top_banner_cashback/page-top-jp.jpg'); }
html[lang='es'] div#offerjob-image a#start-selling { background: url('../../images/top_banner_cashback/page-top-es.jpg'); }
html[lang='it'] div#offerjob-image a#start-selling { background: url('../../images/top_banner_cashback/page-top-it.jpg'); }
html[lang='pl'] div#offerjob-image a#start-selling { background: url('../../images/page-top-pl.jpg'); }
html[lang='pt'] div#offerjob-image a#start-selling { background: url('../../images/top_banner_cashback/page-top-pt.jpg'); }
html[lang='ru'] div#offerjob-image a#start-selling { background: url('../../images/page-top-ru.jpg'); }
html[lang='ar'] div#offerjob-image a#start-selling { background: url('../../images/top_banner_cashback/page-top-ar.jpg'); }
html[lang='sv'] div#offerjob-image a#start-selling { background: url('../../images/page-top-sv.jpg'); }
*/
div#offerjob-image a.forcharity { background: url('../../images/forcharity.jpg') !important; width: 629px; height: 32px; display: block; }

/* Kinguin Mafia - HomePage: START */
div#offerjob-image a#start-selling { background: url('../../images/kinguin_mafia/kinguin_mafia_en.jpg'); width: 629px; height: 32px; display: block; }
html[lang='de'] div#offerjob-image a#start-selling { background: url('../../images/kinguin_mafia/kinguin_mafia_de.jpg'); }
html[lang='zh'] div#offerjob-image a#start-selling { background: url('../../images/kinguin_mafia/kinguin_mafia_cn.jpg'); }
html[lang='fr'] div#offerjob-image a#start-selling { background: url('../../images/kinguin_mafia/kinguin_mafia_fr.jpg'); }
html[lang='ja'] div#offerjob-image a#start-selling { background: url('../../images/kinguin_mafia/kinguin_mafia_jp.jpg') !important; }
html[lang='es'] div#offerjob-image a#start-selling { background: url('../../images/kinguin_mafia/kinguin_mafia_es.jpg'); }
html[lang='it'] div#offerjob-image a#start-selling { background: url('../../images/kinguin_mafia/kinguin_mafia_it.jpg'); }
html[lang='pl'] div#offerjob-image a#start-selling { background: url('../../images/kinguin_mafia/kinguin_mafia_pl.jpg'); }
html[lang='pt'] div#offerjob-image a#start-selling { background: url('../../images/kinguin_mafia/kinguin_mafia_pt.jpg'); }
html[lang='ru'] div#offerjob-image a#start-selling { background: url('../../images/kinguin_mafia/kinguin_mafia_ru.jpg'); }
html[lang='ar'] div#offerjob-image a#start-selling { background: url('../../images/kinguin_mafia/kinguin_mafia_ae.jpg'); }
html[lang='br'] div#offerjob-image a#start-selling { background: url('../../images/kinguin_mafia/kinguin_mafia_br.jpg'); }
html[lang='el'] div#offerjob-image a#start-selling { background: url('../../images/kinguin_mafia/kinguin_mafia_gr.jpg'); }
html[lang='nl'] div#offerjob-image a#start-selling { background: url('../../images/kinguin_mafia/kinguin_mafia_nl.jpg'); }
html[lang='cs'] div#offerjob-image a#start-selling { background: url('../../images/kinguin_mafia/kinguin_mafia_en.jpg'); } 
html[lang='sv'] div#offerjob-image a#start-selling { background: url('../../images/kinguin_mafia/kinguin_mafia_en.jpg'); } 
html[lang='tr'] div#offerjob-image a#start-selling { background: url('../../images/kinguin_mafia/kinguin_mafia_tr.jpg'); }
html[lang='sk'] div#offerjob-image a#start-selling { background: url('../../images/kinguin_mafia/kinguin_mafia_sk.jpg'); }
/* Kinguin Mafia - HomePage: END */

div#offerjob-image a#kwr { background: url('../../images/page-top-kwr.png') center no-repeat; width: 632px; height: 49px; display: block; }

/*# sourceMappingURL=vw_joboffer.css.map */
.three-steps { width: 894px;
margin: 0 auto 49px auto;
padding: 7px;
border-radius: 8px;
padding-top: 26px; }
.three-steps h2 { font-family:"DINCompPro-CondMedium", "Trebuchet MS", Arial, Helvetica;font-weight:normal;font-size:26px; color:#646464; font-size: 24px;
padding-left: 3px; }
.three-steps .step-container { border:1px solid #dcdcdc; background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f5f5f5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f5f5f5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
 box-sizing: border-box;
height: 325px;
padding-top: 7px;
}

.step-1, .step-2, .step-3 { float:left; height:308px; width:283px; display:block;
    border:1px solid #d7d7d7;
    background:#fff;
    margin-left:9px;
}
.step-1 .text, .step-2 .text, .step-3 .text { width: 100%;
float: left;
line-height: 110%;
font-size: 24px;
padding: 20px 6px;
color: #649015;
text-align: center;
text-transform: uppercase;
font-family: "DINCompPro-CondMedium", "Trebuchet MS", Arial, Helvetica;
font-weight: normal;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;  }

/* new jobs offer design */
div#joboffer > h2
{
	font-size: 56px;
	color: #619744;
	margin: 0;
}
	div#joboffer > h2 span
	{
		font-size: 62px;
	}

div#joboffer > h3
{
	font-size: 40px;
	color: #619744;
	margin: 69px 0 0 0;
}

div#joboffer .headerSubtextDescription
{
	font-size: 30px;
	color: #808285;
	margin: 10px 0 40px 0;
}

div#joboffer > div.job-offers-list
{
	width: 100%;
	padding: 18px 33px 376px 33px;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #f9f9f9 url(../../images/vw_joboffer/jobs_offers_bg.png) no-repeat;
	background-position: center bottom;
}

	div#joboffer > div.job-offers-list > div
	{
		padding-left: 0;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

		div#joboffer > div.job-offers-list .jobOfferArrow
		{
			margin: 0 15px;
			opacity: 0.5;
		}

		div#joboffer > div.job-offers-list .jobOfferArrow,
		div#joboffer > div.job-offers-list h4
		{
			display: inline-block;
		}

		div#joboffer > div.job-offers-list .jobOfferHeader
		{
			font-family: "DINCompPro-CondMedium", Arial, Helvetica;
			font-size: 26px;
			color: #666;
			padding-left: 1.8em;
			padding-bottom: 15px;
		}

			div#joboffer > div.job-offers-list .jobOfferHeader .jobOfferLocation
			{
				font-size: 22px;
				padding-left: 29px;
				color: #808285;
			}

		div#joboffer > div.job-offers-list .expandJobOffer
		{
			height: auto !important;
		}

		div#joboffer > div.job-offers-list .jobOfferContent
		{
			padding: 34px 2.2em;
			overflow: hidden;
			position: relative;
		}

		div#joboffer > div.job-offers-list .jobOfferContent .jobOfferContentMain
		{
			width: 575px;
			padding-left: 20px;
		}
                
                body div#joboffer > div.job-offers-list .jobOfferContent .jobOfferContentMain,
                body div#joboffer > div.job-offers-list .jobOfferContent .jobOfferContentMain span,
                body div#joboffer > div.job-offers-list .jobOfferContent .jobOfferContentMain p {
                        font-family: "DINCompPro-CondMedium",Arial,Helvetica !important;
                        font-size: 16px !important;
                        color: #222 !important;
                }

			div#joboffer > div.job-offers-list .jobOfferContent .jobOfferContentMain p
			{
				padding-left: 0px;
			}

			div#joboffer > div.job-offers-list .jobOfferContent .jobOfferContentMain ul
			{
				padding-left: 20px;
			}
                        
                        div#joboffer > div.job-offers-list .jobOfferContent .jobOfferContentMain h3
			{
				font-size: 18px;
			}

		div#joboffer > div.job-offers-list .jobOfferContent .jobOfferContentActions
		{
			position: absolute;
			top: 45px;
			right: 51px;
		}

			div#joboffer .jobOfferActionButton
			{
				font-family: "DINCompPro-CondMedium", Arial, Helvetica;
				font-size: 20px;
				background: #bcbec0;
				padding: 12px 16px 9px;
				color: #fff;
				border-radius: 5px;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				display: inline-block;
				line-height: 26px;
			}

			div#joboffer .jobOfferApply
			{
				background: #74b743;
				position: relative;
				padding-right: 10px;
				margin-left: 13px;
			}

				div#joboffer .jobOfferApply .jobOfferActionButtonTitle
				{
					position: relative;
					z-index: 9;
				}

				div#joboffer .jobOfferApply .jobOfferOuterArrow
				{
					overflow: hidden;
					width: 60px;
					height: 100%;
					position: absolute;
					top: 0px;
					right: -22px;
					display: inline-block;
				}

					div#joboffer .jobOfferApply .jobOfferOuterArrow .jobOfferArrowStyle
					{
						transform: rotate(45deg);
						-ms-transform: rotate(45deg);
						-webkit-transform: rotate(45deg);
						-o-transform: rotate(45deg);
						-moz-transform: rotate(45deg);
						background-color: #74b743;
						width: 50px;
						height: 50px;
						border-radius: 5px;
						-webkit-border-radius: 5px;
						-moz-border-radius: 5px;
						-o-border-radius: 5px;
						-ms-border-radius: 5px;
						display: inline-block;
					}

div#joboffer > div.box.gradient
{
	width: 100%;
	padding: 0 33px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: -34px;
	border-radius: 0;
}

    div#joboffer > div.box.gradient .container
    {
        background: transparent url(../../images/vw_joboffer/header_under_image_bg.png) no-repeat;
    }

div#joboffer > .box > .container > .text-container h3
{
	font-family: "DINCompPro-CondMedium", "Trebuchet MS", Arial, Helvetica;
	font-size: 24px;
	font-weight: normal;
	color: #414042;
	width: 100%;
	clear: both;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div#joboffer > div#job-benefits
{
    margin: 0;
    border: 0;
    color: #858585;
    font-family: "DINCompPro-CondMedium", Arial, Helvetica;
    font-size: 22px;
    text-transform: uppercase;
    width: 100%;
    padding: 0px 29px 20px 29px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #f9f9f9;
}

div#joboffer > div#job-benefits > div#jobs-promotion-video {
    padding: 30px 0 40px;
}

    div#joboffer > div#job-benefits > .jobBenefits
    {
        border: 1px solid #dcdcdc;
        position: relative;

    }

    div#joboffer > div#job-benefits > .jobBenefits > ul
    {
        margin: 0;
        padding: 0;
        border: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        background: transparent;
        cursor: pointer;
    }

        div#joboffer > div#job-benefits > .jobBenefits > ul li
        {
            border-top: 0;
            border-left: 0;
            border-bottom: 1px solid #dcdcdc;
            margin: 0;
            background: #feffff;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 230px;
            height: 220px;
            padding: 20px
        }

            div#joboffer > div#job-benefits > .jobBenefits > ul li a
            {
                padding: 0;
				width: 190px;
                height: 160px;
                position: relative;
				text-align: center;
            }

			div#joboffer > div#job-benefits > .jobBenefits > ul li .benefitText
			{
				width: 190px;
				height: 25px;
				text-align: center;
			}

                div#joboffer > div#job-benefits > .jobBenefits > ul li a img
                {
                    padding-bottom: 20px;
                    margin: 0 auto;
                }

				div#joboffer > div#job-benefits > .jobBenefits > ul li:last-of-type a img
				{
					position: absolute;
					bottom: 0;
					left: 10px;
				}

                div#joboffer > div#job-benefits > .jobBenefits > ul li a span
                {
                    width: 100%;
                    text-align: center;
					color: #858585;
                }

            div#joboffer > div#job-benefits > .jobBenefits > ul li:first-of-type,
            div#joboffer > div#job-benefits > .jobBenefits > ul li.ui-state-active:first-of-type
            {
				width: 231px;
                border-left: 0;
            }

            div#joboffer > div#job-benefits > .jobBenefits > ul li:last-of-type,
            div#joboffer > div#job-benefits > .jobBenefits > ul li.ui-state-active:last-of-type
            {
                border-right: 1px solid #dcdcdc;
				width: 231px;
            }

            div#joboffer > div#job-benefits > .jobBenefits > ul li.ui-state-active
            {
                border-top: 1px solid #dcdcdc;
                border-right: 1px solid #dcdcdc;
                border-bottom: 1px solid #feffff;
                -webkit-box-shadow: 0px 5px 10px 1px rgba(108, 107, 107, 0.35);
                -moz-box-shadow:    0px 5px 10px 1px rgba(108, 107, 107, 0.35);
                box-shadow:         0px 5px 10px 1px rgba(108, 107, 107, 0.35);
                z-index: 99;
                margin-top: -5px;
                height: 225px;
                position: relative;
            }

            div#joboffer > div#job-benefits > .jobBenefits .benefitHint
            {
                font-family: Arial;
                font-size: 17px;
                text-transform: none;
                background: #feffff;
                color: #858585;
                z-index: 100;
                position: relative;
                top: 0px;
                left: 0;
                width: 824px;
                -webkit-box-shadow: 0px 10px 10px 1px rgba(108, 107, 107, 0.35);
                -moz-box-shadow:    0px 10px 10px 1px rgba(108, 107, 107, 0.35);
                box-shadow:         0px 10px 10px 1px rgba(108, 107, 107, 0.35);
                padding: 43px 49px;
            }

			div#joboffer .teamWrapper hr
			{
				border: 0;
				border-top: 1px solid #dcdcdc;
				margin-top: 37px;
			}

				div#joboffer .teamWrapper > .itemTeam
				{
					float: left;
					width: 410px;
				}

					div#joboffer .teamWrapper > .itemTeam .itemTeamLogo
					{
						height: 145px;
						text-align: center;
						padding-bottom: 36px;
					}

					div#joboffer .teamWrapper > .itemTeam:nth-of-type(1) img
					{
						padding-top: 40px;
						padding-right: 50px;
					}

						div#joboffer .teamWrapper > .itemTeam p
						{
							font-family: Arial;
							font-size: 14px;
							line-height: 18px;
							padding: 0 50px 0 0;
						}

						div#joboffer .teamWrapper > .itemTeam:nth-of-type(2n) img
						{
							padding-left: 50px;
						}

						div#joboffer .teamWrapper > .itemTeam:nth-of-type(2n) p
						{
							padding: 0 0 0 50px;
						}

			div#joboffer .headerSpecial
			{
				padding: 20px 70px 35px;
			}

		div#joboffer .jobsProductsWrapper
		{
			padding: 24px;
			background: rgb(255, 255, 255);
			background:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiIHgxPSI1MCUiIHgyPSI1MCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9Ii4zNSIgc3RvcC1jb2xvcj0iI2ZmZiIvPjxzdG9wIG9mZnNldD0iLjciIHN0b3AtY29sb3I9IiNmNWY1ZjUiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZzEpIi8+PC9zdmc+');
			background: -moz-linear-gradient(90deg, rgb(255, 255, 255) 35%, rgb(245, 245, 245) 70%);
			background: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 35%, rgb(245, 245, 245) 70%);
			background: -o-linear-gradient(90deg, rgb(255, 255, 255) 35%, rgb(245, 245, 245) 70%);
			background: -ms-linear-gradient(90deg, rgb(255, 255, 255) 35%, rgb(245, 245, 245) 70%);
			background: linear-gradient(180deg, rgb(255, 255, 255) 35%, rgb(245, 245, 245) 70%);
			border: 1px solid #dcdcdc;
		}

			div#joboffer .jobsProductsWrapper a
			{
				float: left;
				width: 161px;
				/*height: 300px;*/
				overflow: hidden;
				position: relative;
				background: #fff;
				padding: 20px;
				border-bottom: 1px solid #dcdcdc;
				margin-right: 20px;
			}

			div#joboffer .jobsProductsWrapper a:last-of-type
			{
				margin: 0;
			}

			div#joboffer .jobsProductsWrapper a .productItemBg
			{
				width: 161px;
				height: 115px;
				overflow: hidden;
			}

			div#joboffer .jobsProductsWrapper a:before,
			div#joboffer .jobsProductsWrapper a:after {
				content: "";
				position: absolute;
				background:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9InRyYW5zcGFyZW50Ii8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjZGNkY2RjIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2cxKSIvPjwvc3ZnPg==');
				background-image: -webkit-gradient(linear, 0 0, 0 50%, from(transparent), to(#dcdcdc));
				background-image: -webkit-linear-gradient(transparent, #dcdcdc);
				background-image: -moz-linear-gradient(transparent, #dcdcdc);
				background-image: -ms-linear-gradient(transparent, #dcdcdc);
				background-image: -o-linear-gradient(transparent, #dcdcdc);
				background-image: linear-gradient(transparent, #dcdcdc);
				bottom: -1px;
				width: 1px;
				height: 140px;
			}

			div#joboffer .jobsProductsWrapper a:before
			{
				left: 0;
			}

			div#joboffer .jobsProductsWrapper a:after
			{
				right: 0;
			}

				div#joboffer .jobsProductsWrapper a img
				{
					opacity: 0.4;
				}

				div#joboffer .jobsProductsWrapper a:hover img
				{
					opacity: 1;
				}

				div#joboffer #kfc_product .productItemBg
				{
					background: transparent url(../../images/vw_joboffer/kfc_bg.png) no-repeat left top;
				}

				div#joboffer #kfc_product:hover .productItemBg
				{
					background: transparent url(../../images/vw_joboffer/kfc_bg.png) no-repeat -159px top;
				}

				div#joboffer #kinguin_pro .productItemBg
				{
					width: 100px;
					background: transparent url(../../images/vw_joboffer/kpl_bg.png) no-repeat left top;
					margin: -10px auto 10px;
				}

				div#joboffer #kinguin_pro:hover .productItemBg
				{
					background: transparent url(../../images/vw_joboffer/kpl_bg.png) no-repeat -101px top;
				}

				div#joboffer #kinguin_academy .productItemBg
				{
					width: 104px;
					background: transparent url(../../images/vw_joboffer/ka_bg.png) no-repeat left top;
					margin: -6px auto 6px;
				}

				div#joboffer #kinguin_academy:hover .productItemBg
				{
					background: transparent url(../../images/vw_joboffer/ka_bg.png) no-repeat -106px top;
				}

				div#joboffer #tataka .productItemBg
				{
					width: 126px;
					background: transparent url(../../images/vw_joboffer/tataka_bg.png) no-repeat left top;
					margin: 40px auto -41px;
				}

				div#joboffer #tataka:hover .productItemBg
				{
					background: transparent url(../../images/vw_joboffer/tataka_bg.png) no-repeat -128px top;
				}

				div#joboffer .jobsProductItem span
				{
					font-size: 14px;
					line-height: 16px;
					display: inline-block;
				}

				div#joboffer .jobsProductItem span.desc
				{
					padding-top: 47px;
					padding-bottom: 25px;
					height: 100px;
				}

				div#joboffer .jobsProductItem hr
				{
					border: 0;
					border-top: 1px solid #dcdcdc;
					margin-bottom: 13px;
				}

				div#joboffer .jobsProductItem .triangle
				{
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 4.5px 0 4.5px 8px;
					border-color: transparent transparent transparent #bcbec0;
					margin-left: 12px;
				}

				div#joboffer .jobsProductsWrapper a:hover .triangle
				{
					border-color: transparent transparent transparent #619744;
				}

				div#joboffer .jobsProductsWrapper a:hover .jobsProductItemLink
				{
					color: #619744;
				}

/* application form */

div#joboffer .job-offer-popups .form-list li
{
	margin: 0 0 12px;
}

div#joboffer .job-offer-popups .input-box
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

div#joboffer .job-offer-popups .input-box input,
div#joboffer .job-offer-popups .input-box textarea
{
	width: 100%;
}

div#joboffer .job-offer-popups textarea
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	resize: none;
}

div#joboffer .job-offer-popups label
{
	font-size: 14px;
}

div#joboffer .job-offer-popups .requiredFields
{
	margin-bottom: 10px;
}

	div#joboffer .job-offer-popups .requiredFields label
	{
		width: 100%;
	}

	div#joboffer .job-offer-popups .input-box label em
	{
		position: relative;
		top: auto;
		right: auto;
		float: none;
		display: inline-block;
		padding-left: 2px;
	}

div#joboffer .job-offer-popups .nameField,
div#joboffer .job-offer-popups .surnameField,
div#joboffer .job-offer-popups .emailField
{
	float: left;
	width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	clear: none;
	margin-bottom: 20px;
	padding-right: 10px;
}

div#joboffer .job-offer-popups .surnameField
{
	padding-left: 10px;
	padding-right: 0;
}

div#joboffer .job-offer-popups .nameField input,
div#joboffer .job-offer-popups .surnameField input,
div#joboffer .job-offer-popups .emailField input
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 36px;
}

div#joboffer .job-offer-popups .fulltimeRow
{
	float: left;
	width: 56%;
	clear: none;
	padding-top: 15px;
}

div#joboffer .job-offer-popups .salaryRow
{
	float: left;
	width: 44%;
	clear: none;
}

div#joboffer .job-offer-popups .fulltimeField,
div#joboffer .job-offer-popups .salaryField
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

div#joboffer .job-offer-popups .fulltimeField input,
div#joboffer .job-offer-popups .salaryField input
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 36px;
}

div#joboffer .job-offer-popups .fulltimeRow label
{
	width: 60%;
}

div#joboffer .job-offer-popups .fulltimeRow .switch
{
	float: none;
	margin-left: 10px;
}

div#joboffer .job-offer-popups hr
{
	border: 0;
	border-top: 1px solid #dcdcdc;
	margin-bottom: 30px;
}

/* yes/no switch */
div#joboffer .job-offer-popups .switch
{
	width: 105px;
	height: 30px;
	text-align: center;
	margin: 0;
	background: #82be55;
	transition: all 0.2s ease;
	border-radius: 20px;
	border: 2px solid #619744;
	position: relative;
	display: inline-block;
	float: right;
}

	div#joboffer .job-offer-popups .switch	span
	{
		position: absolute;
		width: 20px;
		height: 4px;
		top: 50%;
		left: 50%;
		margin: -2px 0 0 -4px;
		background: white;
		display: block;
		transform: rotate(-45deg);
		transition: all 0.2s ease;
	}

	div#joboffer .job-offer-popups .switch	span:after
	{
		content: "";
		display: block;
		position: absolute;
		width: 4px;
		height: 12px;
		margin-top: -8px;
		background: white;
		transition: all 0.2s ease;
	}

	div#joboffer .job-offer-popups input[type="radio"]
	{
		display: none;
	}

	div#joboffer .job-offer-popups .switch label
	{
		cursor: pointer;
		color: rgba(0,0,0, 0.2);
		width: 60px;
		line-height: 35px;
		transition: all 0.2s ease;
		font-family: "DINCompPro-CondMedium", Arial, Helvetica;
		font-size: 20px;
		text-transform: uppercase;
	}

	div#joboffer .job-offer-popups .switch label.yes
	{
		position: absolute;
		left: -5px;
		height: 20px;
	}

	div#joboffer .job-offer-popups .switch label.no
	{
		position: absolute;
		right: -5px;
	}

		div#joboffer .job-offer-popups .input-box .switchNo
		{
			background: #f15539;
			border: 2px solid #d74c32;
		}

		div#joboffer .job-offer-popups .input-box .switchNo span
		{
			background: white;
			margin-left: -8px;
		}

			div#joboffer .job-offer-popups .input-box .switchNo span:after
			{
				background: white;
				height: 20px;
				margin-top: -8px;
				margin-left: 8px;
			}

			div#joboffer .job-offer-popups .input-box .switchYes label.yes
			{
				color: white;
			}

			div#joboffer .job-offer-popups .input-box .switchYes label.no
			{
				color: rgba(0,0,0, 0.2);
			}

			div#joboffer .job-offer-popups .input-box .switchNo label.yes
			{
				color: rgba(0,0,0, 0.2);
			}

			div#joboffer .job-offer-popups .input-box .switchNo label.no
			{
				color: white;
			}

div#joboffer .job-offer-popups .uploadFileField label
{
	padding-bottom: 10px;
}

div#joboffer .job-offer-popups .buttons
{
	width: 100%;
	position: relative;
        top: 32px;
}

div#joboffer .job-offer-popups .buttons .jobOfferApply
{
	text-transform: uppercase;
	margin-right: 22px;
}

div#joboffer .job-offer-popups .buttons > button
{
	float: right;
}

div#joboffer .job-offer-popups .buttons > .jobOfferRequiredFields
{
	position: absolute;
	top: -32px;
	right: 9px;
	color: #808285;
}

div#joboffer .job-offer-popups .buttons .jobOfferApply > .jobOfferOuterArrow
{
	width: 67px;
}

div#joboffer .job-offer-popups .buttons .jobOfferApply:hover
{
	background: #81ca4b;
	cursor: pointer;
}

div#joboffer .job-offer-popups .buttons .jobOfferApply:hover .jobOfferArrowStyle
{
	background: #81ca4b;
	cursor: pointer;
}

div#joboffer .job-offer-popups .jobOfferButton
{
	float: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: "DINCompPro-CondMedium", Arial, Helvetica;
	font-size: 16px;
	text-transform: uppercase;
	background: #bcbec0;
	border-bottom: 1px solid #909295;
	padding: 4px 16px 0px;
	color: #fff;
}

div#joboffer .job-offer-popups .jobOfferButton:hover
{
	background: #d1d2d3;
	text-decoration: none;
}

/* option switch for office locations */

div#joboffer .job-offer-popups .optionSwitch
{
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

	div#joboffer .job-offer-popups .optionSwitch .optionItem
	{
		margin-right: 14px;
		text-transform: uppercase;
	}

	div#joboffer .job-offer-popups .optionSwitch .optionItem:hover
	{
		cursor: pointer;
	}

	div#joboffer .job-offer-popups .optionSwitch .optionItem:hover span
	{
		background: #fafafa;
		border: 2px solid #eee;
	}

	div#joboffer .job-offer-popups .optionSwitch .optionItem span
	{
		width: 30px;
		height: 30px;
		margin-right: 10px;
		display: inline-block;
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		border-radius: 50px;
		border: 2px solid #dcdcdc;
		background: #fff;
		vertical-align: middle;
		position: relative;
		overflow: hidden;
		transition: all 0.2s ease;
		margin-left: 10px;
	}

		div#joboffer .job-offer-popups .optionSwitch .optionItem span:before
		{
			content: "";
			position: absolute;
			top: 40%;
			left: 42%;
			width: 20px;
			height: 4px;
			background: #fff;
			transform: rotate(-45deg);
		}

		div#joboffer .job-offer-popups .optionSwitch .optionItem span:after
		{
			content: "";
			display: block;
			position: absolute;
			top: 13px;
			left: 10px;
			width: 4px;
			height: 12px;
			background: #fff;
			transform: rotate(-45deg);
		}

	div#joboffer .job-offer-popups .optionSwitch .itemSwitchActive span
	{
		overflow: visible;
	}

	div#joboffer .job-offer-popups .optionSwitch .itemSwitchActive span,
	div#joboffer .job-offer-popups .optionSwitch .itemSwitchActive:hover span
	{
		background: #82be55;
		border-color: #73a84b;
	}