div#tatakafeedback-cloud {
    position: fixed;
    top: 330px;
    right: 0px;
    height: 138px;
    width: 44px;
    cursor: pointer;
    background: url(../images/vw_tatakafeedback/bookmarks/en.gif);
    z-index: 22;
}

div#tatakafeedback-cloud > a {
    display: block;
    height: 138px;
    width: 44px;
}

div#tatakafeedback-cloud > a * {
    display: none;
}

html[lang="es"] div#tatakafeedback-cloud {
    background: url(../images/vw_tatakafeedback/bookmarks/es.gif);
    height: 173px;
}

html[lang="pl"] div#tatakafeedback-cloud {
    background: url(../images/vw_tatakafeedback/bookmarks/pl.gif)
}

html[lang="it"] div#tatakafeedback-cloud {
    background: url(../images/vw_tatakafeedback/bookmarks/it.gif)
}

html[lang="de"] div#tatakafeedback-cloud {
    background: url(../images/vw_tatakafeedback/bookmarks/de.gif)
}

html[lang="pt"] div#tatakafeedback-cloud {
    background: url(../images/vw_tatakafeedback/bookmarks/pt.gif)
}

html[lang="br"] div#tatakafeedback-cloud {
    background: url(../images/vw_tatakafeedback/bookmarks/br.gif)
}

html[lang="cs"] div#tatakafeedback-cloud {
    background: url(../images/vw_tatakafeedback/bookmarks/cz.gif)
}

html[lang="ru"] div#tatakafeedback-cloud {
    background: url(../images/vw_tatakafeedback/bookmarks/ru.gif)
}

html[lang="ar"] div#tatakafeedback-cloud {
    background: url(../images/vw_tatakafeedback/bookmarks/ar.gif)
}

html[lang="sv"] div#tatakafeedback-cloud {
    background: url(../images/vw_tatakafeedback/bookmarks/se.gif)
}

/* Yammer Feedback FIX */
#yammer-feedback .bookmark {
    height: 233px;
}