@charset "UTF-8";
.modparts-sprite { background-image: url('/_shared/images/root/common/modparts.png'); background-repeat: no-repeat; }

.modtab-sprite { background-image: url('/_shared/images/root/common/modtab.png'); background-repeat: no-repeat; }

.boarding-sprite { background-image: url('/_shared/images/root/common/boarding.png'); background-repeat: no-repeat; }

/**/
/*-----------------------------------------------------
タブ設定
------------------------------------------------------*/
.ie-lt7 .module { position: relative; z-index: 90 !important; }
.ie-lt7 .module #module-dom, .ie-lt7 .module #module-int, .ie-lt7 .module #module-domtour, .ie-lt7 .module #module-inttour, .ie-lt7 .module #module-amc { background: #fff; z-index: 90 !important; }
.ie-lt7 .module .module-cont { position: absolute; left: 90px; top: 0; background: #fff; }
.ie-lt7 .module .mod-after { display: block; }
.ie-lt7 .module .link-area { left: 660px; }
.ie-lt7 .module .ttl_2em, .ie-lt7 .module .ttl_4em, .ie-lt7 .module .ttl_6em { display: block; min-height: 1px; }
.ie-lt7 .module .ttl_2em:after, .ie-lt7 .module .ttl_4em:after, .ie-lt7 .module .ttl_6em:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.ie-lt7 .module .ttl_2em dt, .ie-lt7 .module .ttl_2em dd, .ie-lt7 .module .ttl_4em dt, .ie-lt7 .module .ttl_4em dd, .ie-lt7 .module .ttl_6em dt, .ie-lt7 .module .ttl_6em dd { float: left; display: block; }
.ie-lt7 .module .ttl_2em dd, .ie-lt7 .module .ttl_4em dd, .ie-lt7 .module .ttl_6em dd { width: 200px; }
.ie-lt7 .js-default-hide, .ie-lt7 .js-int-first-hide { display: block; }
.ie-lt7 .js-default-btnArea { display: none; }
.ie-lt7 .mod-option { z-index: 99; }
.ie-lt7 .item-num-set { position: relative; }
.ie-lt7 .ttl_2em, .ie-lt7 .ttl_4em, .ie-lt7 .ttl_6em { display: block; }
.ie-lt7 .ttl_2em dt, .ie-lt7 .ttl_2em dd, .ie-lt7 .ttl_4em dt, .ie-lt7 .ttl_4em dd, .ie-lt7 .ttl_6em dt, .ie-lt7 .ttl_6em dd { display: block; }
.ie-lt7 .item-num-set { display: block; }
.ie-lt7 .item-num-set > li { display: block; }
.ie-lt7 .mod-modal-cont.int:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.ie-lt7 .mod-modal-cont.int .int-reslut-box { width: 580px; float: left; }

.calendar-module iframe { position: absolute; }

.ie-lt9 .check-group li { position: relative; }
.ie-lt9 .check-group li input { position: absolute; top: 10px; left: 10px; }

.ie8 .item-input { min-height: 30px !important; height: auto; height: 42px; }
.ie8 .item-val { height: 42px !important; }
.ie8 .module { position: relative; z-index: 58; }
.ie8 .module .title-tab li.current { background: none; }
.ie8 .module.current .title-tab, .ie8 .module.current .module-cont { background: #fff; }
.ie8 .module .link-area { height: 358px; min-height: 358px !important; }
.ie8 .module .tab_cont .mod-first, .ie8 .module .tab_cont .mod-item-02, .ie8 .module .tab_cont .mod-item-03, .ie8 .module .tab_cont .link-area { min-height: 203px !important; }
.ie8 #module-amc .tab_cont { min-height: 296px; }

.module { position: relative; line-height: 1.2; }
.module.current .title-tab, .module.current .module-cont { background: #fff; }
.module #module-dom, .module #module-int, .module #module-domtour, .module #module-inttour, .module #module-amc { position: absolute; top: 30px; z-index: 58 !important; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.module .btn-search { background: #eb7308; color: #fff; cursor: pointer; text-align: center; vertical-align: middle; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; font-size: 128.57143%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.module .btn-search:hover { background: #b36309; }
.module input[type="text"] { background: #fff; }

.title-tab { background: url(/_shared/images/root/common/bg_whte_opacity9.png) left top repeat; overflow: hidden; width: 90px; height: 400px; border-top: 1px solid #ddd; border-left: 1px solid #ddd; border-bottom: 1px solid #ddd; position: absolute; left: 0; top: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-border-radius: 4px 0 0 4px; -webkit-border-radius: 4px; border-radius: 4px 0 0 4px; }
.title-tab li { text-align: center; background: #333333; color: #ddd; font-weight: normal; margin-top: 2px; cursor: pointer; height: 98px; width: 90px; zoom: 1; font-size: 85.71429%; }
.title-tab li:first-child { margin-top: 0; }
.title-tab li.current { background: rgba(255, 255, 255, 0); color: #333; }
.title-tab li.current span:after { content: " "; }
.title-tab li span { display: block; width: 90px; vertical-align: middle; position: relative; padding-top: 56px; }
.title-tab li span:after { content: ""; display: block; position: absolute; }
.title-tab li.ticket span:after { background-image: url('/_shared/images/root/common/modtab.png'); background-position: 0 0; height: 14px; width: 22px; top: 29px; left: 34px; }
.title-tab li.ticket.current span:after { background-position: 0 -14px; }
.title-tab li.tabisaku span:after { background-image: url('/_shared/images/root/common/modtab.png'); background-position: 0 -28px; height: 19px; width: 28px; top: 29px; left: 29px; }
.title-tab li.tabisaku.current span:after { background-position: 0 -47px; }
.title-tab li.hotel span { padding-top: 58px; }
.title-tab li.hotel span:after { background-image: url('/_shared/images/root/common/modtab.png'); background-position: 0 -66px; height: 21px; width: 18px; top: 29px; left: 34px; }
.title-tab li.hotel.current span:after { background-position: 0 -87px; }
.title-tab li.car span:after { background-image: url('/_shared/images/root/common/modtab.png'); background-position: 0 -108px; height: 12px; width: 26px; top: 29px; left: 31px; }
.title-tab li.car.current span:after { background-position: 0 -120px; }
.title-tab li.pgtour span:after { background-image: url('/_shared/images/root/common/modtab.png'); background-position: 0 -132px; height: 21px; width: 28px; top: 29px; left: 31px; }
.title-tab li.pgtour.current span:after { background-position: 0 -153px; }
.title-tab li.privilege span { padding-top: 65px; }
.title-tab li.privilege span:after { background-image: url('/_shared/images/root/common/modtab.png'); background-position: 0 -174px; height: 21px; width: 18px; top: 30px; left: 35px; }
.title-tab li.privilege.privilege-en span { padding-top: 55px; }
.title-tab li.privilege.privilege-en span:after { top: 20px; left: 35px; }
.title-tab li.privilege.current span:after { background-position: 0 -195px; }
.title-tab li.mile span { padding-top: 65px; }
.title-tab li.mile span:after { background-image: url('/_shared/images/root/common/modtab.png'); background-position: 0 -216px; height: 20px; width: 16px; top: 31px; left: 36px; }
.title-tab li.mile.current span:after { background-position: 0 -236px; }
.title-tab li.coin span:after { background-image: url('/_shared/images/root/common/modtab.png'); background-position: 0 -256px; height: 24px; width: 26px; position: absolute; top: 18px; left: 31px; }
.title-tab li.coin.current span:after { background-position: 0 -280px; }
.title-tab li.store span:after { background-image: url('/_shared/images/root/common/modtab.png'); background-position: 0 -304px; height: 20px; width: 20px; top: 21px; left: 33px; }
.title-tab li.store.current span:after { background-position: 0 -324px; }
.title-tab li.store span:after { background-image: url('/_shared/images/root/common/modtab.png'); background-position: 0 -304px; height: 20px; width: 20px; top: 21px; left: 33px; }
.title-tab li.store.current span:after { background-position: 0 -324px; }
.title-tab li.member span:after { background-image: url('/_shared/images/root/common/modtab.png'); background-position: 0 -345px; height: 20px; width: 19px; top: 21px; left: 36px; }
.title-tab li.member.current span:after { background-position: 0 -365px; }
.title-tab li.pc span:after { background-image: url('/_shared/images/root/common/modtab.png'); background-position: 0 -385px; height: 17px; width: 23px; top: 21px; left: 33px; }
.title-tab li.pc.current span:after { background-position: 0 -402px; }
.title-tab.col03 li { height: 132px; }
.title-tab.col03 li:first-child { height: 130px; }
.title-tab.col03 li span { padding-top: 74px; }
.title-tab.col03 li span:after { top: 43px; }

.module-shadow-box { position: relative; padding-left: 90px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-border-radius: 0 4px 4px 0; -webkit-border-radius: 0; border-radius: 0 4px 4px 0; }

.module .module-cont { /*  position:absolute; left:90px;
margin-left: 90px;*/ display: none; -moz-border-radius: 0 4px 4px 0; -webkit-border-radius: 0; border-radius: 0 4px 4px 0; }
.module .module-cont.module-current { display: block; }

.module .mod-first { padding: 0px 20px; width: 330px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; float: left; position: relative; /*top: 0;
left: 0;*/ }
.module .mod-first:before { content: ""; display: block; height: 20px; }
.module .mod-first:after { content: ""; display: block; height: 20px; }

.mod-item-02, .mod-item-03 { width: 329px; padding: 20px; background: #fff; float: left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.module .mod-after, .module .mod-after-show { float: left; width: 658px; min-height: 398px; display: none; -moz-border-radius: 0 4px 0 0; -webkit-border-radius: 0; border-radius: 0 4px 0 0; }

.module .tab_cont .mod-after, .module .tab_cont .mod-after-show, .module .tab_cont .mod-after-show02 { min-height: 333px; }

.module .mod-after-show { display: block; }

.module .module-cont .module-box { position: relative; min-height: 398px; min-width: 330px; position: relative; border-top: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; background: url(/_shared/images/root/common/bg_whte_opacity9.png) left top repeat; -moz-border-radius: 0 4px 4px 0; -webkit-border-radius: 0; border-radius: 0 4px 4px 0; }
.module .module-cont .module-box .btnArea-bottom { bottom: 20px; position: absolute; }
.module .module-cont .module-box:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.module .module-cont .module-box .btn-close { position: absolute; bottom: 0; right: 0; background: #555555; color: #fff; text-align: center; padding: 6px 0; width: 90px; z-index: 5; font-weight: normal; margin-top: 30px; -moz-border-radius: 4px 0 4px 0; -webkit-border-radius: 4px; border-radius: 4px 0 4px 0; }

.module .btnArea-bottom li { float: left; width: 140px; margin-left: 10px; text-align: center; font-weight: normal; padding: 15px 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.module .btnArea-bottom li:first-child { margin-left: 0px; }
.module .btnArea-bottom li.btn-search { padding: 13px 10px; width: 160px; }
.module .btnArea-bottom li.btn-add { background: #fff; border: 1px solid #ddd; padding: 9px 10px 8px 39px; position: relative; font-weight: normal; width: 120px; text-align: left; font-size: 85.71429%; }
.module .btnArea-bottom li.btn-add:after { background-image: url('/_shared/images/root/common/modparts.png'); background-position: 0 0; content: ""; display: block; height: 20px; width: 20px; position: absolute; top: 50%; left: 10px; margin-top: -10px; }
.module .btnArea-bottom li.btn-add:hover { background-color: #eff0f4; }
.module .btnArea-bottom li p { padding: 0; }

.tab_cont .link-area { min-height: 333px; top: -65px; }

.link-area { background: #f0f1f4 !important; min-height: 398px; padding: 20px; width: 329px; position: absolute; right: 0; top: 0; z-index: 2; -moz-border-radius: 0 4px 4px 0; -webkit-border-radius: 0; border-radius: 0 4px 4px 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.link-area ul.module-bnr-box li { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; line-height: 1.5; margin-bottom: 10px; border: 1px solid #dddddd; background: #fff; }
.link-area ul.module-bnr-box li .note { font-size: 85.71429%; }
.link-area ul.module-bnr-box li a { display: block; position: relative; padding: 13px 25px 13px 20px; }
.link-area ul.module-bnr-box li a:before { position: absolute; content: ""; display: block; background: url(/_shared/images/root/common/ico_arrow_001.png) left top no-repeat; width: 8px; height: 13px; margin-top: -6px; top: 50%; right: 10px; }
.link-area .line-box { border-bottom: 1px solid #ddd; margin-bottom: 20px; padding-bottom: 20px; }

.mod-cont-head, .mod-head-max { max-height: 65px; overflow: hidden; -moz-border-radius: 0 4px 0 0; -webkit-border-radius: 0; border-radius: 0 4px 0 0; }
.mod-cont-head:after, .mod-head-max:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }

.mod-cont-head { position: absolute; top: 0; }

.tab.tab-only { width: 330px; padding: 10px 0 9px 20px; float: left; font-size: 85.71429%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.tab.tab-only:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }

.tab.tab-only li { background: #e2e8f7; position: relative; color: #082559; margin-bottom: 10px; width: 140px; float: left; margin-left: 50px; text-align: center; display: table; width: 140px; height: 46px; margin: 0; margin-left: 10px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; /*&:after { content: ""; display: block; position: absolute; background: url(/_shared/images/root/common/ico_arrow_001.png) left top no-repeat; width: 8px; height: 13px; margin-top: -6px; top: 50%; right: 10px;
}*/ }
.tab.tab-only li:first-child { margin-left: 0px; }
.tab.tab-only li:hover { background: #c3d4ef; }
.tab.tab-only li a:hover { text-decoration: none; }
.tab.tab-only li.current { background: #0f2e5d; border: 1px solid #fff; color: #fff; position: relative; /*&:before { border-color: rgba(255, 255, 255, 0); border-top-color: #fff; border-width: 11px; margin-left: -11px;
}*/ }
.tab.tab-only li.current:after, .tab.tab-only li.current:before { top: 92%; left: 50%; border: solid transparent; content: ""; height: 0; width: 0; position: absolute; pointer-events: none; }
.tab.tab-only li.current:after { border-color: rgba(15, 46, 93, 0); border-top-color: #0f2e5d; border-width: 10px; margin-left: -10px; }
.tab.tab-only li.current a { color: #fff; text-decoration: none !important; }
.tab.tab-only li a { display: table-cell; vertical-align: middle; padding: 5px 10px; color: #082559; }

.module .tab_cont { position: relative; }
.module .tab_cont .content_wrap:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }

.module .tab_cont .mod-first, .module .tab_cont .mod-item-02, .module .tab_cont .mod-item-03 { top: 0; }

.module .tab_cont .mod-item-02 { left: 0; }

.module .tab_cont .mod-item-03 { /* left: 330px; position: absolute;*/ -moz-border-radius: 0 4px 4px 0; -webkit-border-radius: 0; border-radius: 0 4px 4px 0; }

ul.module-bnr-box:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }

.mod-cont-head .mod-after-show, .mod-cont-head .module-bnr-box { padding: 10px 0 0 25px; position: relative; width: 659px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.mod-head-col01, .mod-head-col02 { position: absolute !important; top: 0; min-height: 1px !important; background: #555; padding: 10px 0 0 25px; max-height: 65px; overflow: hidden; -moz-border-radius: 0 4px 0 0; -webkit-border-radius: 0; border-radius: 0 4px 0 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.module .mod-head-col01 { width: 329px; }

.module .mod-head-col02 { width: 659px; }

.mod-head-col02 .mod-link-list:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.mod-head-col02 .mod-link-list li { background: #fff; border: 1px solid #D1D1D1; position: relative; margin-bottom: 10px; width: 330px; float: left; margin-left: 50px; text-align: center; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; font-size: 85.71429%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.mod-head-col02 .mod-link-list li:first-child { margin-left: 0px; }
.mod-head-col02 .mod-link-list li:after { content: ""; display: block; position: absolute; background: url(/_shared/images/root/common/ico_arrow_001.png) left top no-repeat; width: 8px; height: 13px; margin-top: -6px; top: 50%; right: 10px; }
.mod-head-col02 .mod-link-list li a { display: block; padding: 15px 20px 15px 5px; }

.mod-head-max .mod-after, .mod-head-max .mod-after-show { min-height: 66px; /*position: absolute;
top: 0;*/ }

.mod-after-show .mod-col02 { padding-left: 25px; padding-top: 20px; width: 610px; }

.mod-after-show02 { width: 328px; float: left; }

.btn-search-area { clear: both; width: 988px; position: relative; padding: 20px; background: #fff; margin-left: -330px; bottom: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-border-radius: 0 0 0 5px; -webkit-border-radius: 0; border-radius: 0 0 0 5px; }
.btn-search-area.no-margin { margin-left: 0; }
.btn-search-area.col1 { width: auto; margin-left: 0; padding: 20px 0 0; bottom: 0; background: none; }
.btn-search-area.col1 .btn-search { width: 100%; }
.btn-search-area.col2 { width: auto; margin-left: 0; margin-top: 0; width: 660px; margin-left: -330px; bottom: 0px; right: 0; }
.btn-search-area.col2.inner { padding-top: 20px; width: 660px; margin-left: -350px; right: auto; position: absolute; }
.btn-search-area ul { margin: 0 auto; display: table; clear: both; }
.btn-search-area ul li { display: table-cell; vertical-align: top; text-align: left; }
.btn-search-area ul .btn-sales { padding-right: 10px; padding-top: 11px; text-align: right; }
.btn-search-area .btn-search { width: 280px; text-align: center; font-weight: normal; border: none; padding: 10px; position: relative; display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 128.57143%; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; cursor: pointer; }
.btn-search-area .btn-search button { display: block; width: 100%; height: 100%; background: none; border: none; position: absolute; top: 0; left: 0; }
.btn-search-area .btn-arrow-right { min-width: 200px; text-align: left; }

.btn-award { background: #13448f; text-align: left; color: #fff; font-weight: normal; position: relative; }
.btn-award:hover { background-color: #2c579b; }
.btn-award a { color: #fff; display: block; padding: 14px 20px; cursor: pointer; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.btn-award a:before { position: absolute; content: ""; display: block; background: url(/_shared/images/root/common/ico_arrow_007.png) left top no-repeat; width: 8px; height: 13px; margin-top: -6px; top: 50%; right: 10px; }
.btn-award a:hover { text-decoration: none; }

.js-default-hide, .js-int-first-hide { display: none; }

.item-input { padding: 5px 35px 5px 19px; min-height: 42px; line-height: 30px; background: #fff; border: 1px solid #dddddd; position: relative; font-weight: bold; cursor: pointer; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; position: relative; }
.item-input:focus { border: 1px solid #13448f; }
.item-input .item-val { display: block; position: absolute; left: 0; top: 0; padding-left: 19px; padding-top: 5px; padding-right: 35px; font-size: 14px !important; width: 100%; height: 100%; overflow: hidden; font-weight: normal; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.item-input .item-val-02 { display: block; position: absolute; left: 0; top: 0; padding-left: 19px; padding-top: 5px; padding-right: 35px; font-size: 14px !important; width: 100%; height: 35px; overflow: hidden; font-weight: normal; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.item-input .item-val-03 { display: block; position: absolute; left: 0; top: 0; padding-left: 19px; padding-top: 5px; padding-right: 35px; font-size: 14px !important; width: 100%; height: 100%; overflow: hidden; font-weight: normal; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.item-input .item-val-04 { display: block; position: absolute; left: 0; top: 0; padding-left: 19px; padding-top: 5px; padding-right: 35px; font-size: 14px !important; width: 100%; height: 100%; overflow: hidden; font-weight: normal; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.item-input select { position: absolute; top: 0; left: 0; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; z-index: 999; width: 100%; height: 100%; }

.item-disabled { padding: 5px 20px; height: 42px; line-height: 30px; background: #f0f1f5; border: 1px solid #dddddd; position: relative; cursor: default !important; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

input.input-text { padding: 5px; height: 42px; line-height: 30px; background: #fff; border: 1px solid #dddddd; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.select-arr, .select-dep { width: 184px; }

.select-dep, .select-dep-02 { position: relative; }
.select-dep:after, .select-dep-02:after { background-image: url('/_shared/images/root/common/modparts.png'); background-position: 0 -92px; content: ""; display: block; height: 11px; width: 18px; position: absolute; top: 50%; right: 10px; margin-top: -5px; }

.select-arr, .select-arr-02 { position: relative; }
.select-arr:after, .select-arr-02:after { background-image: url('/_shared/images/root/common/modparts.png'); background-position: 0 -20px; content: ""; display: block; height: 11px; width: 18px; position: absolute; top: 50%; right: 10px; margin-top: -5px; }

#regist-area-block .regist-area { font-size: 85.71429%; border-bottom: 1px solid #ddd; margin-bottom: 20px; }
#regist-area-block .regist-area:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
#regist-area-block .regist-area li { float: left; margin-right: 0px; margin-bottom: 20px; border: 1px solid #ddd; background: #fff; width: 139px; text-align: center; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
#regist-area-block .regist-area li:first-child { margin-right: 10px; }
#regist-area-block .regist-area li a { padding: 10px; display: block; }

.select-wrap { position: relative; padding: 0; }
.select-wrap .mod-customSelect > li { height: 40px; }
.select-wrap:before { background-image: url('/_shared/images/root/common/modparts.png'); background-position: 0 -193px; height: 7px; width: 9px; position: absolute; top: 50%; right: 15px; margin-top: -3px; content: ""; z-index: 0; }
.select-wrap .mod-customSelect { display: block; width: 100%; height: 100%; }

.item-map { display: table; width: 100%; }
.item-map li { display: table-cell; vertical-align: middle; }
.item-map .left { width: 65%; padding-right: 10px; }

.select-map { position: relative; }
.select-map:after { background-image: url('/_shared/images/root/common/modparts.png'); background-position: 0 -119px; content: ""; display: block; height: 16px; width: 11px; position: absolute; top: 50%; right: 10px; margin-top: -8px; }

.input-text-area { position: relative; padding: 4px 14px 5px 14px; height: 42px; line-height: 30px; background: #fff; border: 1px solid #dddddd; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.input-text-area .ttl { font-weight: bold; position: absolute; left: 19px; top: 6px; }
.input-text-area input { border: none; display: block; height: 100%; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.item-childAdd { margin-bottom: 10px; cursor: pointer; }
.item-childAdd:hover span { text-decoration: underline; }
.item-childAdd span { position: relative; display: block; padding-left: 20px; }
.item-childAdd span:after { background-image: url('/_shared/images/root/common/modparts.png'); background-position: 0 -77px; content: ""; display: block; height: 15px; width: 14px; position: absolute; top: 50%; left: 0; margin-top: -8px; }

.ticket-box { position: relative; /*  .select-dep { margin-bottom: 8px; }*/ }
.ticket-box .fright { position: absolute; right: 0; top: 0; background: #fff; border: 1px solid #dddddd; text-indent: -9999px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.ticket-box .fright a { display: block; width: 26px; height: 90px; position: relative; }
.ticket-box .fright a:after { background-image: url('/_shared/images/root/common/modparts.png'); background-position: 0 -175px; content: ""; display: block; height: 18px; width: 9px; position: absolute; top: 50%; left: 50%; margin-top: -9px; margin-left: -4px; }

.ticket-box.int dl.ttl_block { display: table; width: 100%; margin-bottom: 10px; }
.ticket-box.int dl.ttl_block dt { display: table-cell; vertical-align: middle; padding-right: 1em; width: 4em; text-align: right; }
.ticket-box.int dl.ttl_block dd { display: table-cell; vertical-align: middle; border: 1px solid #dddddd; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.ticket-box.int dl.ttl_block dd.text { border-right: none; -moz-border-radius: 4px 0 0 4px; -webkit-border-radius: 4px; border-radius: 4px 0 0 4px; }
.ticket-box.int dl.ttl_block dd.btn-change { width: 45px; text-indent: -9999px; background: #f0f1f5; cursor: pointer; -moz-border-radius: 0 4px 4px 0; -webkit-border-radius: 0; border-radius: 0 4px 4px 0; }

.ico_calender:after { background-image: url('/_shared/images/root/common/modparts.png'); background-position: 0 -31px; content: ""; display: block; height: 16px; width: 16px; position: absolute; top: 50%; right: 10px; margin-top: -9px; height: 17px !important; }

.people span { background: url(/_shared/images/root/common/ico_mod_ticket_005.png) right center no-repeat; }

.item-num-set { display: table; width: 100%; cursor: pointer; background: #fff; height: 42px; border: 1px solid #dddddd; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.item-num-set > li { border-left: 1px  solid #ddd; cursor: pointer; display: table-cell; text-align: center; vertical-align: middle; position: relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.item-num-set > li:first-child { border-left: none; }
.item-num-set > li.item-num-down, .item-num-set > li.item-num-up { width: 42px; color: #13448f; background: #f0f1f5; overflow: hidden; }
.item-num-set > li.item-num-down { -moz-border-radius: 4px 0 0 4px; -webkit-border-radius: 4px; border-radius: 4px 0 0 4px; }
.item-num-set > li.item-num-up { -moz-border-radius: 0 4px 4px 0; -webkit-border-radius: 0; border-radius: 0 4px 4px 0; }
.item-num-set > li.item-num-val .mod-customSelect { display: block; }
.item-num-set > li.item-num-val .mod-customSelect > li { height: 40px; }
.item-num-set > li.item-num-val .mod-customSelect > li > span.item-val { vertical-align: middle; line-height: 40px; }
.item-num-set > li select { position: absolute; top: 0; left: 0; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; z-index: 999; width: 100%; height: 100%; }

.mod-customSelect ul.mod-option { border-top: 1px solid #ddd; display: none; position: absolute; top: 100%; left: 0; width: 100%; background: #fff; z-index: 10; max-height: 200px; overflow: auto; }
.mod-customSelect ul.mod-option li { display: block; float: none; padding: 10px; font-weight: normal; border: 1px solid #ddd; border-top: none; line-height: 1.2; text-align: left; }
.mod-customSelect ul.mod-option li:after { content: "."; height: 0; display: block; line-height: 0; visibility: hidden; }
.mod-customSelect ul.mod-option li.mod-current { background: #e9eef4; }
.mod-customSelect ul.mod-option .mod-option { background: #E09596; }

.select-half { display: table; width: 100%; margin-bottom: 5px; height: 42px; table-layout: fixed; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.select-half > li { display: table-cell; vertical-align: middle; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.select-half > li.txt { text-align: center; width: 10%; }

.radio-group { display: table; width: 100%; margin-bottom: 20px; overflow: hidden; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; border: 1px solid #ddd; background: #fff; }
.radio-group li { display: table-cell; width: 50%; text-align: center; vertical-align: middle; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.radio-group li label { display: block; margin-top: 10px; font-weight: bold; padding: 40px 10px 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.radio-group li label:first-child { border-right: 1px solid #ddd; }
.radio-group .ico-radio input[type="radio"] + label { padding: 40px 10px 10px; margin-top: 0; display: block; width: 100%; height: 100%; }
.radio-group .ico-radio input[type="radio"] + label:before { left: 50%; top: 20px; margin-left: -10px; }
.radio-group .ico-radio input[type="radio"]:checked + label { background-color: #f0f1f4; }

.ie8 .radio-group .ico-radio { position: relative; }
.ie8 .radio-group .ico-radio input[type="radio"] { position: absolute; left: 50%; margin-left: -8px; top: 10px; z-index: 2; }
.ie8 .select-half .item-input { padding-top: 0; padding-bottom: 0; height: auto !important; min-height: 1px; }

.ie9 .select-half li.item-input { height: 42px; }
.ie9 .select-wrap:after { top: 18px; }

.ie .select-half li { height: 100%; }

.check-group { width: 100%; margin-bottom: 10px; border: 1px solid #ddd; border-right: none; background: #fff; overflow: hidden; min-height: 1px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.check-group:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.check-group li { float: left; width: 25%; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.check-group li.long { width: 50%; border-bottom: none; }
.check-group .ico-checkbox input[type="checkbox"] + label { padding: 10px 5px 10px 29px; display: block; }
.check-group .ico-checkbox input[type="checkbox"] + label:before { left: 10px; }

.normal-radio-group li { float: left; margin-right: 20px; }
.normal-radio-group li.link { float: right; margin-right: 0; padding-left: 10px; background: url(/_shared/images/root/common/ico_arrow_003.png) left center no-repeat; }

h2.ttl, .mod-block dt.ttl { font-weight: bold; padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px dotted #bbb; }

.ttl_block dt { margin-bottom: 10px; }

.ttl_2em, .ttl_4em, .ttl_6em { display: table; width: 100%; margin-bottom: 10px; }
.ttl_2em dt, .ttl_2em dd, .ttl_4em dt, .ttl_4em dd, .ttl_6em dt, .ttl_6em dd { display: table-cell; vertical-align: middle; }
.ttl_2em dt, .ttl_4em dt, .ttl_6em dt { width: 2em; text-align: right; padding-right: 1em; }

.ttl_4em dt { width: 4em; }

.ttl_6em dt { width: 6em; }

.set-depDate { margin-bottom: 0 !important; }
.set-depDate .item-input { border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px; border-radius: 4px 4px 0 0; }

.set-arrDate .item-input { -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0; border-radius: 0 0 4px 4px; }

.list-arrow-bdr .ico_mod_help, .ico_mod_help { position: relative; padding-left: 20px; }
.list-arrow-bdr .ico_mod_help:after, .ico_mod_help:after { background-image: url('/_shared/images/root/common/modparts.png'); background-position: 0 -103px; content: ""; display: block; height: 16px; width: 16px; position: absolute; top: 50%; left: 0px; margin-top: -8px; }
.list-arrow-bdr .ico_mod_help:hover, .ico_mod_help:hover { background-color: none; }
.list-arrow-bdr .ico_mod_help:hover:after, .ico_mod_help:hover:after { background-color: none; background-image: url('/_shared/images/root/common/modparts.png'); background-position: 0 -103px; content: ""; display: block; height: 16px; width: 16px; position: absolute; top: 50%; left: 0px; margin-top: -8px; }

.anasales img.poweredtxt { position: absolute; bottom: 8px; right: 106px; z-index: 3; }

/*.anasales:before { content: " "; display: block; width: 113px; height: 12px; position: absolute; right: 106px; bottom: 8px; z-index: 2; background-image: url(/_shared/images/root/common/ico_mod_anasales.png); background-repeat: no-repeat; background-position: left top;
}*/
/* =========================================================
◆地図から探す
========================================================= */
.mod-map-col1 ul.map-btn li, .mod-map-col2 ul.map-btn li { background-color: #ffc600; cursor: pointer; float: none; position: absolute; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.mod-map-col1 ul.map-btn li.btn-link:after, .mod-map-col2 ul.map-btn li.btn-link:after { content: ""; display: block; position: absolute; width: 8px; height: 13px; top: 50%; right: 10px; background: url(/_shared/images/root/common/ico_arrow_002.png) no-repeat; margin-top: -6px; }
.mod-map-col1 ul.map-btn li:before, .mod-map-col2 ul.map-btn li:before { content: ""; height: 100%; vertical-align: middle; width: 0px; }
.mod-map-col1 ul.map-btn li a, .mod-map-col2 ul.map-btn li a { color: #212025; display: block; padding: 10px 25px 10px 10px; vertical-align: middle; }
.mod-map-col1 ul.map-btn li:hover, .mod-map-col2 ul.map-btn li:hover { background-color: #ffdd67; }
.mod-map-col1 ul.map-btn li:hover a, .mod-map-col2 ul.map-btn li:hover a { text-decoration: none; }

.mod-map-col1 { float: left; width: 329px; padding: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative !important; }
.mod-map-col1.domtour-map { background: url(/_shared/images/root/common/mod_map_dom_002.png) 10px 20px no-repeat; min-height: 320px; }
.mod-map-col1.inttour-map { background: url(/_shared/images/root/common/mod_map_int_002.png) left top no-repeat; }
.mod-map-col1.inttour-map ul.map-btn li a { min-width: 105px; }
.mod-map-col1 ul.map-btn li { font-size: 85.71429%; }
.mod-map-col1 ul.map-btn li a { min-width: 75px; }
.mod-map-col1 .map-hokkaido { right: 25px; top: 50px; }
.mod-map-col1 .map-hokkaido-ski { right: 25px; top: 95px; }
.mod-map-col1 .map-tohoku { left: 57px; top: 115px; }
.mod-map-col1 .map-kanto { top: 167px; right: 25px; }
.mod-map-col1 .map-hokuriku { top: 227px; right: 25px; }
.mod-map-col1 .map-shikoku { left: 26px; top: 159px; }
.mod-map-col1 .map-kansai { left: 69px; top: 242px; }
.mod-map-col1 .map-kyusyu { left: 26px; top: 287px; }
.mod-map-col1 .map-okinawa { left: 26px; top: 20px; }
.mod-map-col1 .europe { left: 10px; top: 48px; }
.mod-map-col1 .america { right: 10px; top: 20px; }
.mod-map-col1 .china { left: 10px; top: 93px; }
.mod-map-col1 .hawaii { right: 10px; top: 122px; }
.mod-map-col1 .guam { right: 10px; top: 167px; }
.mod-map-col1 .asia { left: 10px; top: 138px; }
.mod-map-col1 .asia-resort { left: 10px; top: 138px; }
.mod-map-col1 .africa { top: 208px; left: 10px; }
.mod-map-col1 .oceania { right: 10px; top: 212px; }

.mod-map-col2 { width: 659px; position: relative; float: left; min-height: 333px; }
.mod-map-col2.domtour-map { background: url(/_shared/images/root/common/mod_map_dom_001.png) right top no-repeat; width: 689px; }
.mod-map-col2.inttour-map { background: url(/_shared/images/root/common/mod_map_int_001.png) left top no-repeat; }
.mod-map-col2 ul.map-btn li a { min-width: 125px; padding: 12px 25px 12px 10px; }
.mod-map-col2 .map-hokkaido { right: 283px; top: 36px; }
.mod-map-col2 .map-hokkaido-ski { right: 52px; top: 73px; }
.mod-map-col2 .map-tohoku { right: 123px; top: 112px; }
.mod-map-col2 .map-kanto { top: 176px; right: 87px; }
.mod-map-col2 .map-hokuriku { bottom: 170px; right: 315px; }
.mod-map-col2 .map-shikoku { right: 399px; top: 186px; }
.mod-map-col2 .map-kansai { bottom: 58px; right: 235px; }
.mod-map-col2 .map-kyusyu { bottom: 38px; right: 460px; }
.mod-map-col2 .map-okinawa { right: 480px; top: 36px; }
.mod-map-col2 .europe { left: 20px; top: 20px; }
.mod-map-col2 .america { right: 20px; top: 20px; }
.mod-map-col2 .china { left: 179px; top: 68px; }
.mod-map-col2 .hawaii { right: 140px; top: 122px; }
.mod-map-col2 .guam { right: 140px; top: 176px; }
.mod-map-col2 .asia { left: 179px; top: 122px; }
.mod-map-col2 .asia-resort { left: 90px; top: 215px; }
.mod-map-col2 .africa { bottom: 20px; left: 20px; }
.mod-map-col2 .oceania { right: 140px; top: 228px; }

/* =========================================================
◆航空券タブ
========================================================= */
#module-ticket {     /*#calImg2.item-input { border-top: none;
 @include border-radius(0 0 4px 4px); }*/ }
#module-ticket .mod-first { padding: 0 20px; }
#module-ticket .mod-first:before { content: ""; display: block; height: 9px; }
#module-ticket .mod-first:after { content: ""; display: block; height: 9px; }
#module-ticket .ttl-disabled dt { color: #999; }
#module-ticket .item-disabled span { font-size: 0 !important; }
#module-ticket .item-disabled span:after { display: none; }
#module-ticket .js-child-hide { display: none; }
#module-ticket .module-box .btnArea-bottom { position: relative; bottom: 0 !important; }

/* =========================================================
◆国内線のみ
========================================================= */
#module-dom { /*#module-ticket { .mod-first { min-height: 398px; }
}*/ }
#module-dom #module-hotel .btn-search-area { bottom: -1px; }

.mod-hotel-link { text-align: left; }
.mod-hotel-link:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.mod-hotel-link ul.list-arrow-bdr { margin: 0; margin-right: 10px; display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; }
.mod-hotel-link .ico_mod_help { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; }

/* =========================================================
◆国際線のみ
========================================================= */
#module-int { /*.btn-search-area.int-ticket { top: 355px; position: relative; margin-left: -355px; padding-bottom: 20px;
}*/ }
#module-int #module-ticket {     /*#calImg2.item-input { border-top: none;
 @include border-radius(0 0 4px 4px); }*/ }
#module-int .autocomplete-wrapper { position: relative; z-index: 99999; }
#module-int .autocomplete-wrapper a.clear { background: transparent url("/common-ver1/images/module/btn_suggest_delete.gif") no-repeat scroll 0 0; cursor: pointer; display: block; height: 18px; right: 8px; overflow: hidden; position: absolute; text-indent: -99999px; top: 10px; width: 18px; z-index: 99999; }
#module-int .icon-worldselect { position: relative; width: 100%; height: 40px; }
#module-int .icon-worldselect:after { background-image: url('/_shared/images/root/common/modparts.png'); background-position: 0 -200px; content: ""; display: block; height: 16px; width: 16px; position: absolute; top: 50%; left: 13px; margin-top: -8px; }
#module-int .input-text { background: #fff none repeat scroll 0 0; padding-right: 1.5em; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
#module-int .input-text input { border: medium none; font-size: 14px; height: 40px; line-height: 40px; outline: 0 none black; width: 100% !important; padding-left: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#module-int .autocomplete.targ { background-color: #fff; border: 1px solid #5973b3; left: 0; margin-top: 1px; position: absolute; }
#module-int .autocomplete.targ.right { left: -258px; }
#module-int .autocomplete.targ .result-data { background: transparent url("/common-ver1/images/cmn/line_dot_bk.gif") repeat-x scroll 0 bottom; color: #2b7aba; display: block; font-weight: bold; line-height: 1.3; padding: 4px; }
#module-int .autocomplete.targ .result-list li { border: medium none; cursor: pointer; display: block; float: none; line-height: 1.3; }
#module-int .autocomplete.targ .result-list li.active a { background: #e8e8e8; }
#module-int .autocomplete.targ .result-list li a { display: block; padding: 5px 4px 4px; width: 450px; }
#module-int .autocomplete.targ .result-list li a:hover { background: #e8e8e8; }
#module-int .textoverlay { background-color: white; font-style: normal; font-variant: normal; height: 40px; left: 0px; line-height: 40px; overflow: hidden; position: absolute; right: 0px; text-overflow: ellipsis; top: 0px; padding-left: 10px; white-space: nowrap; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
#module-int .item-input-hidden .mod-modal-cont { top: 36px; z-index: 99999; }
#module-int #module-tabisaku .select-arr, #module-int #module-tabisaku .select-dep { width: 100%; }

#module-int .autocomplete-wrapper .cover { position: absolute; width: 100%; height: 100%; background: blue; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; top: 0; left: 0; z-index: 99999; }

.ie8 .module #module-int .module-cont .module-box .btnArea { bottom: 0; }

/* =========================================================
◆国内ツアーのみ
========================================================= */
#module-domtour #module-hotel .btn-search-area { bottom: 0; }

/* =========================================================
◆海外ツアーのみ
========================================================= */
#module-inttour { /*  .input-text-area { padding: 4px 5px 5px 103px; }*/ }
#module-inttour li.hotel span { padding-top: 70px; }
#module-inttour li.hotel span:after { background-image: url('/_shared/images/root/common/modtab.png'); background-position: 0 -66px; content: ""; display: block; height: 21px; width: 18px; position: absolute; top: 36px; left: 34px; }
#module-inttour li.hotel.current span:after { background-image: url('/_shared/images/root/common/modtab.png'); background-position: 0 -87px; content: ""; display: block; height: 21px; width: 18px; }
#module-inttour #module-tabisaku .select-arr, #module-inttour #module-tabisaku .select-dep { width: 100%; }
#module-inttour #module-pgtour .mod-after-show { min-height: 327px; }

/* =========================================================
◆AMC
========================================================= */
#module-amc .members-module-list li.disp-upgrademember { display: none; }
#module-amc .tab_menu { float: left; width: 330px; padding: 0 0 20px 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#module-amc .tab_menu p.ttl { text-align: center; padding-right: 25px; font-weight: bold; font-size: 114.28571%; margin-bottom: 20px; }
#module-amc .tab_menu ul.tab li { cursor: pointer; border: 1px solid #dddddd; padding: 15px 20px 15px 20px; margin-bottom: 10px; width: 290px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#module-amc .tab_menu ul.tab li.current { background-color: #eff0f4; width: 311px; position: relative; z-index: 20; border-right: none; padding-right: 46px; -moz-border-radius: 4px 0 0 4px; -webkit-border-radius: 4px; border-radius: 4px 0 0 4px; }
#module-amc .tab_menu ul.tab li a { display: block; padding: 15px 30px 15px 30px; width: 285px; height: 100%; text-decoration: none; }
#module-amc .tab_menu ul.countrytax_tab li { cursor: pointer; border: 1px solid #dddddd; padding: 15px 20px 15px 20px; margin-bottom: 10px; width: 285px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#module-amc .tab_menu ul.countrytax_tab li.countrytax { padding: 0; position: relative; }
#module-amc .tab_menu ul.countrytax_tab li.countrytax a { padding-left: 20px; width: auto; }
#module-amc .tab_menu ul.countrytax_tab li.countrytax a:after { background: transparent url("/_shared/images/root/common/ico_arrow_001.png") no-repeat scroll left top; content: ""; display: block; height: 13px; margin-top: -6px; position: absolute; right: 15px; top: 50%; width: 8px; }
#module-amc .tab_menu ul.countrytax_tab li.current { background-color: #eff0f4; width: 306px; position: relative; z-index: 20; border-right: none; -moz-border-radius: 4px 0 0 4px; -webkit-border-radius: 4px; border-radius: 4px 0 0 4px; }
#module-amc .tab_menu ul.countrytax_tab li a { display: block; padding: 15px 30px 15px 30px; width: 285px; height: 100%; text-decoration: none; }
#module-amc .tab_menu ul.ps li { margin-left: 20px; }
#module-amc .tab_menu ul.ps li a { background: url(/_shared/images/root/common/ico_arrow_003.png) left center no-repeat; padding-left: 15px; }
#module-amc .tab_cont { margin-top: 20px; margin-bottom: 50px; padding: 20px 20px 10px; float: left; width: 640px; min-height: 328px; background: #eff0f4; border: 1px solid #dddddd; position: static; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#module-amc .content_wrap { min-height: 101px; }
#module-amc dt { font-weight: bold; font-size: 114.286%; margin-bottom: 20px; float: left; /*&.mileage-list { border-top: 1px solid #ddd; padding-top: 20px; width: 100%; margin-top: 10px;
}*/ }
#module-amc dt.top_10px { padding-top: 10px; }
#module-amc dt.caption { float: none; clear: both; font-weight: normal; font-size: 93.33333%; margin-bottom: 10px; }
#module-amc .mod-list ul.ps { float: right; }
#module-amc .mod-list ul.ps li { margin-left: 40px; float: left; }
#module-amc .mod-list ul.ps li a { background: url(/_shared/images/root/common/ico_arrow_003.png) left center no-repeat; padding-left: 15px; }
#module-amc .mod-list ul.ps.calender { float: left; margin-bottom: 20px; }
#module-amc .mod-list ul.ps.calender li { margin-left: 0; margin-right: 58px; }
#module-amc .mod-list ul.ps_01 { padding-bottom: 20px; }
#module-amc .mod-list ul.ps_01 li { margin: 0; }
#module-amc .mod-list ul.ps_01 li a { background: url(/_shared/images/root/common/ico_arrow_003.png) left center no-repeat; padding-left: 15px; }
#module-amc h2 { clear: both; font-size: 114.286%; margin-bottom: 20px; padding-bottom: 0; border: none; }
#module-amc h2.caution { padding: 20px; border: 1px solid #dddddd; background: #fff; font-weight: normal; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
#module-amc dd { clear: both; }
#module-amc .mileage-list { border-top: 1px solid #ddd; padding-top: 20px; margin-top: 20px; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#module-amc .members-module-list { clear: both; margin-right: -24px; min-width: 622px; margin-bottom: 10px; /*&.mileage-list { border-top: 1px solid #ddd; padding-top: 20px; margin-top: 10px;
}*/ }
#module-amc .members-module-list.colover { margin-bottom: 0; }
#module-amc .members-module-list:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
#module-amc .members-module-list li { border: 1px solid #dddddd; float: left; background: #fff; display: table; table-layout: fixed; position: relative; margin-right: 10px; width: 193px; min-width: 193px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#module-amc .members-module-list li.col-last { margin-bottom: 10px; }
#module-amc .members-module-list li a { display: table-cell; vertical-align: middle; padding: 15px 30px 15px 20px; }
#module-amc .members-module-list li a:after { background: transparent url("/_shared/images/root/common/ico_arrow_001.png") no-repeat scroll left top; content: ""; display: block; height: 13px; margin-top: -6px; position: absolute; right: 15px; top: 50%; width: 8px; }
#module-amc .members-module-list_01 li { float: left; }
#module-amc .module-list { border: 1px solid #dddddd; background: #fff; display: table; width: 188px; height: 83px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; margin-bottom: 9px; margin-right: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#module-amc .module-list:nth-child(3n) { margin-bottom: 10px; }
#module-amc .module-list a { display: table-cell; vertical-align: middle; position: relative; padding: 15px 30px 15px 20px; }
#module-amc .module-list a:after { background: transparent url("/_shared/images/root/common/ico_arrow_001.png") no-repeat scroll left top; content: ""; display: block; height: 13px; margin-top: -6px; position: absolute; right: 15px; top: 50%; width: 8px; }
#module-amc .module-cal { background: url(/_shared/images/root/common/ico_arrow_003.png) left center no-repeat; padding-left: 15px; }
#module-amc .mod-list-sub { margin-right: -10px; }
#module-amc .mod-list-sub:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
#module-amc .mod-list-sub li { float: left; margin-bottom: 10px; margin-right: 10px; width: 288px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#module-amc .mod-list-sub li a { background: url(/_shared/images/root/common/ico_paper_001.png) left 0.1em no-repeat; padding-left: 20px; }
#module-amc #module-coin ul.ps { padding-top: 10px; }
#module-amc #module-coin ul.ps li { margin-left: 0; }
#module-amc #module-store div.ttl { background-color: #13448F; width: 250px; padding: 20px; margin-bottom: 20px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
#module-amc #module-store div.ttl p { position: relative; padding-top: 10px; padding-right: 10px; font-size: 12px; }
#module-amc #module-store div.ttl p a { color: #FFF; }
#module-amc #module-store div.ttl p:after { background: transparent url("/_shared/images/root/common/ico_arrow_016.png") no-repeat scroll left top; content: ""; display: block; height: 13px; position: absolute; right: -5px; top: 10px; width: 8px; }
#module-amc #module-store div.ttl img { border-bottom: 1px solid #FFF; padding: 0 33px 15px; }
#module-amc #module-store .mod-list dl dd p { margin-bottom: 20px; font-size: 85.71429%; }
#module-amc #module-store .mod-list dl dd p.caution { margin-bottom: 0; font-size: 12px; padding-top: 10px; }
#module-amc #module-store .mod-list dl dd p.caution01 { margin-bottom: 0; font-size: 12px; padding-left: 1em; text-indent: -1em; }
#module-amc #module-store .mod-list dl dd p.caution02 { margin-bottom: 0; font-size: 12px; padding-left: 1em; text-indent: -1em; padding-bottom: 10px; }

.upgrademember #module-amc .members-module-list li.disp-upgrademember { display: table; }

/* =========================================================
◆モジュール内JS
========================================================= */
.modal-shrink { overflow-y: scroll !important; }

.modal-background { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #000; opacity: 0.7; z-index: 150 !important; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }

.mod-modal { position: relative; }

/*.select-map.mod-modal.modal-active { &:before { right: -2px; }
}*/
/*.select-wrap.mod-modal.modal-active { &:before { right: -3px; }
}*/
.mod-modal-cont { width: 1000px; height: 508px; overflow-x: hidden; overflow-y: hidden; background: #fff; position: absolute; left: 20px; top: 100%; z-index: 160 !important; display: none; line-height: 1.5; font-weight: normal; border: 1px solid #ddd; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.mod-modal-cont h2 { background: #13448f; color: #fff; padding: 25px 30px; position: relative; font-weight: bold; border-bottom: 1px solid #ddd; text-align: left; font-size: 171.42857%;   /*&.day { background: #fff; color: #333;
 a { background: url(/_shared/js/colorbox/images/close.png) left top no-repeat; } }
 &.day02 { background: #eff0f4; color: #333;
 a { background: url(/_shared/js/colorbox/images/close.png) left top no-repeat; } }
 &.dep { background: #ddd; color: #333;
 a { background: url(/_shared/js/colorbox/images/close.png) left top no-repeat; } }
 &.dep02 { background: #666; color: #fff; }
 &.arr { background: #333; color: #fff; }*/ }
.mod-modal-cont h2 a { color: #333; text-indent: -9999px; background: url(/_shared/images/root/common/ico_close_001.png) left top no-repeat; }
.mod-modal-cont h2 a.mod-modal-close { position: absolute; width: 20px; height: 20px; top: 30px; right: 30px; }
.mod-modal-cont .mod-modal-continnner { background: #fff; width: 1000px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.mod-modal-cont ul.modal-list-single li { background: url(/_shared/images/root/common/ico_arrow_003.png) 30px center no-repeat; padding: 10px 45px 10px 45px; display: block; cursor: pointer; border-bottom: 1px dotted #bbb; }
.mod-modal-cont ul.modal-list-single li.line { background: none; display: block; cursor: default; text-align: left; padding: 10px 10px 10px 30px; }
.mod-modal-cont ul.modal-list-single li.line hr { border-color: #666; width: 180px; margin-left: 0; margin-right: 0; display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; }
.mod-modal-cont ul.modal-list-single li:hover { text-decoration: underline; }
.mod-modal-cont .cat-box { float: left; width: 332px; height: 420px; overflow-y: auto; background: #ddd; padding-right: 1px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.mod-modal-cont .cat-box ul { background: #f0f1f4; height: 420px; }
.mod-modal-cont .cat-box li { padding: 10px 20px; display: block; cursor: pointer; border-bottom: 1px dotted #bbb; position: relative; }
.mod-modal-cont .cat-box li.current { background: #fff; }
.mod-modal-cont .cat-box li.current:before { background: #f0f1f4; width: 10px; height: 100%; content: ""; display: block; position: absolute; left: 0; top: 0; }
.mod-modal-cont .cat-box li.current:after { background: #fff; width: 3px; height: 100%; content: " "; display: block; position: absolute; right: -1px; top: 0; }
.mod-modal-cont .reslut-box, .mod-modal-cont .cat-box2 { float: left; overflow-y: auto; max-height: 420px; height: 420px; width: 665px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.mod-modal-cont .cat-box2 li { background: url(/_shared/images/root/common/ico_arrow_003.png) 30px center no-repeat; padding: 10px 0 10px 45px; display: block; cursor: pointer; border-bottom: 1px dotted #bbb; }
.mod-modal-cont .column2list:after, .mod-modal-cont .column3list:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; position: absolute; }
.mod-modal-cont .column3list .cat-box { background: #ddd; padding-right: 1px; overflow-y: auto; }
.mod-modal-cont .column3list .cat-box ul { background: #e0e1e5; }
.mod-modal-cont .column3list .cat-box li.current { background: #f0f1f4; }
.mod-modal-cont .column3list .cat-box li.current:before { background: #e0e1e5; width: 10px; height: 100%; content: ""; display: block; position: absolute; left: 0; top: 0; }
.mod-modal-cont .column3list .cat-box li.current:after { background: #f0f1f4; width: 3px; height: 100%; content: " "; display: block; position: absolute; right: -1px; top: 0; }
.mod-modal-cont .column3list .cat-box2 { height: 421px; width: 332px; overflow-y: auto; background: #f0f1f4; }
.mod-modal-cont .column3list .cat-box2 li { position: relative; }
.mod-modal-cont .column3list .cat-box2 li.current { background: url(/_shared/images/root/common/ico_arrow_003.png) 30px center no-repeat #fff; border-right: #fff; }
.mod-modal-cont .column3list .cat-box2 li.current:before { background: #f0f1f4; width: 10px; height: 100%; content: ""; display: block; position: absolute; left: 0; top: 0; }
.mod-modal-cont .column3list .reslut-box { height: 421px; width: 332px; overflow-y: auto; }
.mod-modal-cont.int { height: 640px; }
.mod-modal-cont.int .cat-box { height: 550px; }
.mod-modal-cont.int .cat-box ul { height: 550px; }
.mod-modal-cont.int .int-reslut-box { float: left; overflow-y: auto; height: 550px; width: 665px; padding: 35px 40px 0; background: #fff; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.mod-modal-cont.int .int-reslut-box h3 { font-weight: bold; padding: 0 5px 10px; margin-bottom: 10px; border-bottom: 1px dotted #bbb; }
.mod-modal-cont.int .int-reslut-box ul { margin-bottom: 35px; }
.mod-modal-cont.int .int-reslut-box ul:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.mod-modal-cont.int .int-reslut-box ul li { background: url(/_shared/images/root/common/ico_arrow_003.png) left 1em no-repeat #fff; padding: 8px 15px; cursor: pointer; display: inline-block; vertical-align: top; width: 32%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.mod-modal-cont.int .int-reslut-box ul li:hover { text-decoration: underline; }

/* ======================================================
　calendar module
======================================================= */
.calendar-module { position: absolute; left: -5px; width: 1000px; z-index: 999999999 !important; font-size: 0; line-height: 0; height: 0 !important; }

#module-calendar { background: #fff; border: 1px solid #ddd; width: 1010px; text-align: left; font-size: 14px; line-height: 1.3; position: relative; z-index: 1000000 !important; height: 467px; overflow: hidden; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

#module-calendar .calendar-title { background: #13448f; color: #fff; padding: 25px 30px; position: relative; font-weight: bold; border-bottom: 1px solid #ddd; font-size: 171.42857%; }

#module-calendar #calendar-wrap { padding: 20px 80px 20px 60px; overflow: hidden; height: 325px; width: 1010px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

#module-calendar .calendar-box { float: left; *display: inline; width: 266px; margin-left: 20px; }

* + html #module-calendar .calendar-box { height: 238px; }

* html #module-calendar .calendar-box { height: 242px; }

#module-calendar .monthly { position: relative; height: 26px; line-height: 1.3; }

#module-calendar .monthly .month { font-weight: bold; vertical-align: baseline; text-align: center; }

#module-calendar .monthly .month span { font-size: 20px; }

#module-calendar .monthly .this-month { display: none; }

#module-calendar .tbl-calendar { width: 100%; border-collapse: separate; margin-top: 15px; table-layout: fixed; }

#module-calendar .tbl-calendar th { padding: 0 0 2px; border-bottom: 1px solid #ddd; *zoom: 1; text-align: center; }

#module-calendar .tbl-calendar td { border: 2px solid #fff; color: #bdbdbd; height: 34px; line-height: 34px; text-align: center; vertical-align: middle; }

#module-calendar .tbl-calendar td a { display: block; color: #333; height: 34px; line-height: 34px; overflow: hidden; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

#module-calendar .tbl-calendar td.sun a, #module-calendar .tbl-calendar td.holiday a { color: #da0303; }

#module-calendar .tbl-calendar td.sat { border-right: none; }

#module-calendar .tbl-calendar td.sat a { color: #134490; }

#module-calendar .tbl-calendar td.today a { border: 2px solid #ddd; }

#module-calendar .tbl-calendar td.select a { background: #ffc600 !important; }

#module-calendar .tbl-calendar td.first_select a { background: #ffc600 !important; }

#module-calendar .tbl-calendar td.duration a { background-color: #ffdd66 !important; }

#module-calendar .tbl-calendar td.last_select a { background: #ffc600 !important; }

#module-calendar .tbl-calendar td.cursor a { border: 1px solid #13448f; }

#module-calendar .calendar-nav { padding: 0 0 15px; display: inline-block; }

#module-calendar .calendar-nav li { border: 1px solid #ddd; width: 30px; line-height: 1.2; text-align: center; overflow: hidden; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

#module-calendar .calendar-nav li a { display: block; padding: 12px 12px; color: 333; }

#module-calendar .calendar-nav li.current { width: auto; margin: 0 0 0 25px; }
#module-calendar .calendar-nav li.current a { padding: 10px 20px; }

#module-calendar .calendar-nav li.prev { position: absolute; left: 27px; top: 210px; text-indent: -9999px; background: url(/_shared/images/root/common/ico_arrow_014.png) center center no-repeat; }

#module-calendar .calendar-nav li.next { position: absolute; right: 27px; top: 210px; text-indent: -9999px; background: url(/_shared/images/root/common/ico_arrow_001.png) center center no-repeat; }

#module-calendar .btn-close { background: none; top: 20px; position: absolute; right: 20px; height: 40px; text-align: right; width: 40px; font-size: 0; cursor: pointer; }

#module-calendar .btn-close a { color: #134490; background: url(/_shared/images/root/common/ico_close_001.png) 10px 10px no-repeat; display: block; width: 100%; height: 100%; }

/* =========================================================
◆module英語
========================================================= */
.module.en .module-shadow-box { padding-left: 0; }
.module.en #module-dom .module-cont, .module.en #module-int .module-cont { margin-left: 0; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.module.en #module-dom .module-cont .module-box, .module.en #module-int .module-cont .module-box { min-width: 360px; border: 1px solid #ddd; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.module.en #module-dom .module-cont .module-box .mod-first, .module.en #module-int .module-cont .module-box .mod-first { width: 359px; }
.module.en #module-dom .module-cont .module-box .mod-first .btnArea-bottom li, .module.en #module-int .module-cont .module-box .mod-first .btnArea-bottom li { width: 170px; }
.module.en #module-dom .module-cont .module-box .mod-first .btnArea-bottom li.btn-add, .module.en #module-int .module-cont .module-box .mod-first .btnArea-bottom li.btn-add { width: 139px; }
.module.en #module-dom .mod-after, .module.en #module-dom .mod-after-show, .module.en #module-int .mod-after, .module.en #module-int .mod-after-show { width: 718px; }
.module.en #module-dom .mod-after02, .module.en #module-int .mod-after02 { float: left; width: 358px; display: none; }
.module.en #module-dom .mod-item-02, .module.en #module-dom .mod-item-03, .module.en #module-dom .link-area, .module.en #module-int .mod-item-02, .module.en #module-int .mod-item-03, .module.en #module-int .link-area { width: 358px; }
.module.en .select-arr, .module.en .select-dep { width: 213px; }
.module.en .item-input .dep-date { padding-left: 150px; }
.module.en .ttl_6em { display: table; width: 100%; margin-bottom: 10px; }
.module.en .ttl_6em dt, .module.en .ttl_6em dd { display: table-cell; vertical-align: middle; }
.module.en .ttl_6em dt { width: 7em; padding-right: 1em; }
.module.en .ticket-box.int dl.ttl_block dd.text { width: auto; }
.module.en .normal-radio-group { font-size: 85.71429%; }
.module.en #regist-area-block li { width: 154px; }

.ie-lt7 .module.en #module-dom .mod-after02, .ie-lt7 .module.en #module-int .mod-after02 { display: block; }
