@charset "UTF-8";
.modparts-sprite { background-image: url('/_shared/images/root/common/modparts.png'); background-repeat: no-repeat; }

.modtab-sprite { background-image: url('/_shared/images/root/common/modtab.png'); background-repeat: no-repeat; }

.boarding-sprite { background-image: url('/_shared/images/root/common/boarding.png'); background-repeat: no-repeat; }

/**/
/* =========================================================
◆Link Style
========================================================= */
/**:focus { background-color: #ccffcc !important;
}
*/
a { color: #333333; text-decoration: none; }

a:hover { color: #354f88; text-decoration: underline; }

/* =========================================================
◆Wrap
========================================================= */
body { color: #333; font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ","Meiryo",verdana,"ＭＳ Ｐゴシック",Osaka,sans-serif; font-size: 14px; }

#Wrap { position: relative; min-width: 1100px; margin: 0 auto; }
#Wrap.en { font-family: Arial,Helvetica,sans-serif,Verdana,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Meiryo","メイリオ","ＭＳ Ｐゴシック","MS PGothic",Osaka,Sans-Serif; }

/* =========================================================
◆header上　イレギュラーパーツ
========================================================= */
#SpMode { background: #fff; text-align: center; position: relative; z-index: 20; border-bottom: 1px solid #ddd; }
#SpMode a { text-indent: -9999px; background: url(/_shared/images/root/common/header_for_sp.gif) center top no-repeat; width: 100%; height: 120px; display: block; }

#EmergencyNotice { position: relative; z-index: 20; padding: 10px 0; background: #ffc600; font-weight: bold; }
#EmergencyNotice dl { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#EmergencyNotice dl dt { background: url(/_shared/images/root/common/ico_notice_001.png) left center no-repeat; padding-left: 25px; margin-bottom: 10px; color: #da0303; }
#EmergencyNotice dl dd a { font-weight: bold; color: #333; }

/* =========================================================
◆header　ログイン前
========================================================= */
header { position: relative; }

header:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }

/*追従時*/
#HeadFixed { display: none; position: fixed; top: 0; width: 100%; height: 56px; margin: 0 auto; background-color: #fff; border-bottom: 1px #ddd solid; z-index: 61; min-width: 1080px; }
#HeadFixed h1 { padding: 15px 0 15px; float: left; }
#HeadFixed h1 a { display: block; }
#HeadFixed .head-right { float: right; padding: 10px 0; }
#HeadFixed .head-right > ul > li { display: inline-block; vertical-align: middle; cursor: pointer; margin-left: 10px; height: 35px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#HeadFixed .head-right > ul > li span { padding: 0 20px; display: inline-block; vertical-align: middle; height: 35px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#HeadFixed .head-right > ul > li span > * { vertical-align: middle; display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; }
#HeadFixed .head-right > ul > li span:after { content: ""; height: 100%; vertical-align: middle; width: 0px; display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; }
#HeadFixed .head-right > ul > li.head-support { font-size: 85.71429%; position: relative; background: url(/_shared/images/root/common/ico_arrow_009.png) right center no-repeat; }
#HeadFixed .head-right > ul > li.head-support span { padding-right: 12px; color: #333; }
#HeadFixed .head-right > ul > li.head-support:before { top: 33px; }
#HeadFixed .head-right > ul > li.head-support:after { top: 35px; }
#HeadFixed .head-right > ul > li.btn { cursor: pointer; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
#HeadFixed .head-right > ul > li.btn span { padding: 0 20px; }

/*展開*/
#HeadOpen { background: #fff; min-width: 1080px; height: 138px; margin: auto; }
#HeadOpen .head-top { padding: 0 0 21px; min-height: 1px; }
#HeadOpen .head-top .basic-inner { position: relative; /*&:after { @include cFix;
}*/ }
#HeadOpen h1 { padding-top: 17px; }
#HeadOpen .head-right-wrap { position: absolute; right: 0; top: 0; border-top: 17px solid #fff; display: table; }
#HeadOpen .head-right-wrap .inner { display: table-cell; text-align: right; vertical-align: middle; }
#HeadOpen .head-right-wrap .inner .top { font-size: 85.71429%; margin-bottom: 8px; padding-right: 20px; }
#HeadOpen .head-right-wrap .inner .top ul { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; vertical-align: baseline; margin-right: 16px; }
#HeadOpen .head-right-wrap .inner .top ul.mod-customSelect { position: relative; }
#HeadOpen .head-right-wrap .inner .top ul.mod-customSelect .mod-option { display: none; position: absolute; z-index: 20; top: 100%; left: 0; text-align: left; }
#HeadOpen .head-right-wrap .inner .top ul.mod-customSelect .mod-option .mod-current { background: #fff; padding: 5px 10px; display: block; }
#HeadOpen .head-right-wrap .inner .top ul li { position: relative; display: inline-block; vertical-align: middle; height: 15px; }
#HeadOpen .head-right-wrap .inner .top ul li.language-language { padding-right: 10px; border-right: 1px #ddd solid; background: url(/_shared/images/root/common/head_ico_lang.png) left center no-repeat; }
#HeadOpen .head-right-wrap .inner .top ul li.language-language a { padding-left: 20px; }
#HeadOpen .head-right-wrap .inner .top ul li.language-open { background: url(/_shared/images/root/common/ico_arrow_015.png) right center no-repeat; cursor: pointer; }
#HeadOpen .head-right-wrap .inner .top ul li.language-open a { padding-right: 17px; padding-left: 10px; }
#HeadOpen .head-right-wrap .inner .top ul.tour li { border: none; padding-right: 0; margin-right: 0; }
#HeadOpen .head-right-wrap .inner .top ul.tour li > p { padding-left: 20px; }
#HeadOpen .head-right-wrap .inner .top .search-box { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; vertical-align: middle; position: relative; }
#HeadOpen .head-right-wrap .inner .top .search-box #search { background: #f0f1f4; padding: 3px 26px 3px 5px; width: 230px; height: 24px; border: 1px solid #ddd; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#HeadOpen .head-right-wrap .inner .top .search-box #btnG { position: absolute; right: 5px; top: 5px; }
#HeadOpen .head-right-wrap .inner .btm { font-size: 85.71429%; padding-right: 20px; }
#HeadOpen .head-right-wrap .inner .btm ul { text-align: right; }
#HeadOpen .head-right-wrap .inner .btm ul:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
#HeadOpen .head-right-wrap .inner .btm ul li { display: inline-block; vertical-align: middle; position: relative; border-left: 1px solid #333; padding: 0 10px; cursor: pointer; height: 15px; }
#HeadOpen .head-right-wrap .inner .btm ul li:first-child { border-left: none; padding-left: 0; }
#HeadOpen .head-right-wrap .inner .btm ul li.support-support { position: relative; background: url(/_shared/images/root/common/ico_arrow_015.png) right center no-repeat; padding-right: 0; }
#HeadOpen .head-right-wrap .inner .btm ul li.support-faq > span { position: relative; background: url(/_shared/images/root/common/ico_arrow_015.png) right center no-repeat; padding-right: 17px; }
#HeadOpen .head-right-wrap .inner .btm ul li.support-support a, #HeadOpen .head-right-wrap .inner .btm ul li.support-support span { padding-right: 17px; }
#HeadOpen .head-right-wrap .inner .btm ul li a { display: block; }
#HeadOpen .head-right-wrap .inner.head-login-btn { background-color: #f0f1f4; text-align: center; cursor: pointer; position: relative; padding-right: 10px; /*&:after { content: ""; background: url(/_shared/images/root/common/ico_arrow_008.png) right center no-repeat; display: block; width: 12px; height: 7px; top: 50%; right: 10px; margin-top: -4px; position: absolute;
}*/ }
#HeadOpen .head-right-wrap .inner.head-login-btn:hover { background-color: #e3e4e9; }
#HeadOpen .head-right-wrap .inner.head-login-btn span { display: block; position: relative; padding: 10px 10px 10px 0; width: 95px; height: 100%; background: url(/_shared/images/root/common/ico_arrow_008.png) right center no-repeat; }
#HeadOpen.first { overflow: hidden !important; }
#HeadOpen.first .triangle:before { content: ' '; position: absolute; top: -23px; right: 40px; border-bottom: 13px #f0f1f4 solid; border-right: 9px transparent solid; border-left: 9px transparent solid; }
#HeadOpen.close { overflow: hidden !important; }
#HeadOpen.close .head-login-btn { background-color: #ffc600 !important; }
#HeadOpen.close .head-login-btn:after { content: ' '; }
#HeadOpen.close .head-login-btn span { background: url(/_shared/images/root/common/ico_arrow_006.png) right center no-repeat !important; }
#HeadOpen.max .head-btm .triangle:after, #HeadOpen.open .head-btm .triangle:after { content: '    '; position: absolute; top: -23px; right: 40px; border-bottom: 13px #f0f1f4 solid; border-right: 9px transparent solid; border-left: 9px transparent solid; }
#HeadOpen .head-btm { position: relative; background: #f0f1f4; padding: 10px 0 10px; height: 131px; border-top: 1px #ddd solid; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#HeadOpen .head-btm .basic-inner { position: relative; }
#HeadOpen #head-bnr-amc { position: absolute; }
#HeadOpen #head-bnr-amc a { display: block; background-color: #fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
#HeadOpen #head-bnr-amc a.top { margin-bottom: 11px; }
#HeadOpen #head-bnr-amc a img { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
#HeadOpen #head-bnr-amc a:hover img { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }
#HeadOpen #login-area { position: absolute; right: 0; width: 735px; }
#HeadOpen #login-area .top { padding-bottom: 7px; }
#HeadOpen #login-area .login-input { margin-bottom: 5px; height: 36px; }
#HeadOpen #login-area .login-input:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
#HeadOpen #login-area .login-input li { float: left; vertical-align: middle; margin-right: 20px; position: relative; }
#HeadOpen #login-area .login-input li input[type="text"], #HeadOpen #login-area .login-input li input[type="password"] { border: none; border: 1px solid #ddd; padding-left: 14px; width: 210px; height: 36px; line-height: 36px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#HeadOpen #login-area .login-input li input.input-select + span { display: none; }
#HeadOpen #login-area .login-input li span.cus-place, #HeadOpen #login-area .login-input li span.pass-place { top: 0 !important; font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Meiryo","メイリオ",Arial,Helvetica,sans-serif,Verdana,"ＭＳ Ｐゴシック","MS PGothic",Osaka,Sans-Serif; }
#HeadOpen #login-area .login-input li.btn-parts { margin-right: 10px; min-width: 105px; }
#HeadOpen #login-area .login-input li.btn-parts p { padding: 0; height: 36px; line-height: 36px; position: relative; z-index: 0; }
#HeadOpen #login-area .login-input li.btn-parts .btn-login { border: none; padding: 0; display: block; margin: 0; width: 100%; cursor: pointer; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 85.71429%; }
#HeadOpen #login-area .login-input li.btn-parts .btn-login span { display: block; padding: 10px 20px; }
#HeadOpen #login-area .login-input li.btn-parts .btn-login::-moz-focus-inner { border-width: 0 !important; border: none; }
#HeadOpen #login-area .login-input li.btn-parts .btn-other { font-size: 85.71429%; }
#HeadOpen #login-area .login-input li.btn-parts .btn-other p { padding: 0 18px; }
#HeadOpen #login-area .login-input li.last { margin-right: 0; }
#HeadOpen #login-area .btm { font-size: 85.71429%; padding-bottom: 10px; min-height: 1px; }
#HeadOpen #login-area .btm .list-arrow { border-bottom: 1px solid #dddddd; padding-bottom: 9px; margin-bottom: 9px; }
#HeadOpen #login-area .btm .list-arrow li { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; vertical-align: middle; margin-right: 9px; margin-bottom: 0; width: 210px; }
#HeadOpen #login-area .btm .list-arrow li input { margin-right: 5px; }
#HeadOpen #login-area .other-login { float: right; }
#HeadOpen #login-area .other-login li { display: inline-block; margin-right: 10px; }
#HeadOpen #login-area .other-login li a, #HeadOpen #login-area .other-login li #snsOpenBtn { padding: 8px 20px; width: auto; }
#HeadOpen #login-area .other-login li.last-box { margin-right: 0; display: inline-block; }
#HeadOpen #login-area .other-login li.last-box #snsOpenBtn { position: relative; padding-right: 33px; }
#HeadOpen #login-area .other-login li.last-box #snsOpenBtn:after { content: ""; background: url(/_shared/images/root/common/ico_arrow_010.png) left top no-repeat; display: block; width: 7px; height: 5px; position: absolute; margin-top: -2px; top: 50%; right: 10px; }
#HeadOpen #login-area .skeyOuter { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; padding-top: 8px; width: auto; }
#HeadOpen #login-area .skeyOuter a { background: url(/_shared/images/root/common/ico_Keyboard_001.png) left center no-repeat; padding-left: 30px; }

.login #HeadOpen .head-right-wrap .top, .login #HeadOpen .head-right-wrap .btm { padding-right: 0; }

/*********************************
◎一般（AMC）会員　ここから
*********************************/
.login { /* アップグレート出しわけ */ /*********************************
◎一般（AMC）会員　ここまで
*********************************/   /*********************************
◎ACH会員　ここから
*********************************/ /*********************************
◎ダイヤモンド会員　ここまで
*********************************/ /*********************************
◎ダイヤモンド会員　ここから
*********************************/ /*********************************
◎ダイヤモンド会員　ここまで
*********************************/ /*********************************
◎プラチナ会員　ここから
*********************************/ /*********************************
◎プラチナ会員　ここまで
*********************************/ /*********************************
◎ブロンズ会員　ここから
*********************************/ /*********************************
◎ブロンズ会員　ここまで
*********************************/ /*********************************
◎SFC会員　ここから
*********************************/ }
.login #point-area .point-list li.upgrade { display: table-cell; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.login #point-area .point-list .point-data-year { display: none; }
.login.upgrademember #point-area .point-list li.upgrade { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.login.upgrademember #point-area .point-list li.upgrade .point-data-year { display: none; }
.login.upgradeyear #point-area .point-list li.upgrade .point-data-year { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; }
.login #HeadOpen .login-name-area .disp-dia, .login #HeadOpen .login-name-area .disp-plt, .login #HeadOpen .login-name-area .disp-sfc, .login #HeadOpen .login-name-area .disp-brz, .login #HeadOpen .login-name-area .disp-ach { display: none; }
.login.card #HeadOpen .login-name-area .disp-dia, .login.card #HeadOpen .login-name-area .disp-plt, .login.card #HeadOpen .login-name-area .disp-brz, .login.card #HeadOpen .login-name-area .disp-sfc, .login.card #HeadOpen .login-name-area .disp-amc { display: none; }
.login.card #HeadOpen .login-name-area .disp-ach { display: block; }
.login.card.sfc #HeadOpen .login-name-area .disp-dia, .login.card.sfc #HeadOpen .login-name-area .disp-plt, .login.card.sfc #HeadOpen .login-name-area .disp-brz, .login.card.sfc #HeadOpen .login-name-area .disp-sfc, .login.card.sfc #HeadOpen .login-name-area .disp-ach, .login.card.sfc #HeadOpen .login-name-area .disp-amc { display: none; }
.login.card.sfc #HeadOpen .login-name-area .disp-sfc { display: block; }
.login.card.dia #HeadOpen .login-name-area .disp-dia, .login.card.dia #HeadOpen .login-name-area .disp-plt, .login.card.dia #HeadOpen .login-name-area .disp-brz, .login.card.dia #HeadOpen .login-name-area .disp-sfc, .login.card.dia #HeadOpen .login-name-area .disp-ach { display: none; }
.login.card.dia #HeadOpen .login-name-area .disp-dia { display: block; }
.login.dia #HeadOpen .login-name-area .disp-plt, .login.dia #HeadOpen .login-name-area .disp-brz, .login.dia #HeadOpen .login-name-area .disp-sfc, .login.dia #HeadOpen .login-name-area .disp-amc { display: none; }
.login.dia #HeadOpen .login-name-area .disp-dia { display: block; }
.login.dia.sfc #HeadOpen .login-name-area .disp-plt, .login.dia.sfc #HeadOpen .login-name-area .disp-brz, .login.dia.sfc #HeadOpen .login-name-area .disp-sfc, .login.dia.sfc #HeadOpen .login-name-area .disp-amc { display: none; }
.login.dia.sfc #HeadOpen .login-name-area .disp-dia { display: block; }
.login.plt #HeadOpen .login-name-area .disp-dia, .login.plt #HeadOpen .login-name-area .disp-brz, .login.plt #HeadOpen .login-name-area .disp-sfc, .login.plt #HeadOpen .login-name-area .disp-ach, .login.plt #HeadOpen .login-name-area .disp-amc { display: none; }
.login.plt #HeadOpen .login-name-area .disp-plt { display: block; }
.login.plt.sfc #HeadOpen .login-name-area .disp-dia, .login.plt.sfc #HeadOpen .login-name-area .disp-brz, .login.plt.sfc #HeadOpen .login-name-area .disp-sfc, .login.plt.sfc #HeadOpen .login-name-area .disp-ach, .login.plt.sfc #HeadOpen .login-name-area .disp-amc { display: none; }
.login.plt.sfc #HeadOpen .login-name-area .disp-plt { display: block; }
.login.brz #HeadOpen .login-name-area .disp-dia, .login.brz #HeadOpen .login-name-area .disp-plt, .login.brz #HeadOpen .login-name-area .disp-sfc, .login.brz #HeadOpen .login-name-area .disp-ach, .login.brz #HeadOpen .login-name-area .disp-amc { display: none; }
.login.brz #HeadOpen .login-name-area .disp-brz { display: block; }
.login.brz.sfc #HeadOpen .login-name-area .disp-dia, .login.brz.sfc #HeadOpen .login-name-area .disp-plt, .login.brz.sfc #HeadOpen .login-name-area .disp-brz, .login.brz.sfc #HeadOpen .login-name-area .disp-ach, .login.brz.sfc #HeadOpen .login-name-area .disp-amc { display: none; }
.login.brz.sfc #HeadOpen .login-name-area .disp-sfc { display: block; }
.login.sfc #HeadOpen .login-name-area .disp-dia, .login.sfc #HeadOpen .login-name-area .disp-plt, .login.sfc #HeadOpen .login-name-area .disp-brz, .login.sfc #HeadOpen .login-name-area .disp-ach, .login.sfc #HeadOpen .login-name-area .disp-amc { display: none; }
.login.sfc #HeadOpen .login-name-area .disp-sfc { display: block; }

/*********************************
◎SFC会員　ここまで
*********************************/
/* =========================================================
◆headerログイン前（SSL,他社IDログイン切り替え部分）
========================================================= */
#snsOpenBtn { display: none; }

#HeadOpen .other-login li > div { display: none; }

#HeadOpen .other-login li.isHttps { display: none !important; }

.dom #HeadOpen .other-login li .disp-dom { display: block; }
.dom #snsOpenBtn.disp-dom { display: block; }

.int #HeadOpen .other-login li .disp-int { display: inline-block; }
.int #snsOpenBtn.disp-int { display: block; }

.amc #HeadOpen .other-login li .disp-amc { display: inline-block; }
.amc #snsOpenBtn.disp-amc { display: block; }

.domtour #HeadOpen .other-login li .disp-domtour { display: inline-block; }
.domtour #snsOpenBtn.disp-domtour { display: block; }

.inttour #HeadOpen .other-login li .disp-inttour { display: inline-block; }
.inttour #snsOpenBtn.disp-inttour { display: block; }

/* =========================================================
ログインモーダル
========================================================= */
#login-module-wrapper { margin: 0 auto; min-width: 1080px; position: relative; }

.loginHelp-wrap { display: none; }

#loginHelp .loginHelp-area { padding: 30px; background-color: #eff0f4; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
#loginHelp .loginHelp-area:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
#loginHelp .loginHelp-area h2 { padding-bottom: 30px; width: 100%; color: #333; font-weight: normal; font-size: 171.42857%; }
#loginHelp .loginHelp-area h3 { line-height: 20px; margin-bottom: 30px; text-align: center; font-size: 142.85714%; }
#loginHelp .loginHelp-left { float: left; width: 700px; padding-right: 20px; }
#loginHelp .loginHelp-left .txt { margin-bottom: 30px; color: #da0303; text-align: center; }
#loginHelp .loginHelp-left .card-area { text-align: center; }
#loginHelp .loginHelp-left .card-area ul.card-area-list { text-align: center; }
#loginHelp .loginHelp-left .card-area .card-area-list li { padding-left: 20px; display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; }
#loginHelp .loginHelp-left .card-area .card-area-list li span { display: block; margin-top: 10px; font-size: 85.71429%; }
#loginHelp .loginHelp-left .card-area .card_02 { padding-top: 34px; }
#loginHelp .loginHelp-left .card-area .small { clear: both; color: #666; padding: 20px 0 40px 0; font-size: 85.71429%; }
#loginHelp .loginHelp-left .loginHelp-list:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
#loginHelp .loginHelp-left .loginHelp-list li { float: left; background: #13448f; display: table; width: 100%; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#loginHelp .loginHelp-left .loginHelp-list li.panel_loginHelp { border: 1px #ddd solid; background: #fff; left: 0; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#loginHelp .loginHelp-left .loginHelp-list li.close { border: 1px #ddd solid; background: #fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#loginHelp .loginHelp-left .loginHelp-list li a, #loginHelp .loginHelp-left .loginHelp-list li span { display: table-cell; height: 67px; vertical-align: middle; color: #fff; padding: 15px 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#loginHelp .loginHelp-left .loginHelp-list li span { cursor: pointer; color: #333; position: relative; /*&:after { position: absolute; content: ""; display: block; background: url(/_shared/images/root/common/ico_arrow_006.png) left top no-repeat; width: 2px; height: 7px; margin-top: -3px; top: 50%; right: 15px;
}*/ }
#loginHelp .loginHelp-left ul.loginHelp-list { position: relative; }
#loginHelp .loginHelp-left li.loginHelp-list_btn { width: 310px; position: relative; }
#loginHelp .loginHelp-left li.loginHelp-list_btn a { padding: 25px !important; height: auto !important; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
#loginHelp .loginHelp-left li.loginHelp-list_btn a:before { position: absolute; content: ""; display: block; background: url(/_shared/images/root/common/ico_arrow_007.png) left top no-repeat; width: 8px; height: 13px; margin-top: -6px; top: 50%; right: 15px; }
#loginHelp .loginHelp-left li.loginHelp-list_btn a:hover { text-decoration: none; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
#loginHelp .loginHelp-left li.loginHelp-list_btn:hover { background-color: #2b589b; }
#loginHelp .loginHelp-left li.panel_loginHelp { width: 310px; position: relative; }
#loginHelp .loginHelp-left li.panel_loginHelp:before { display: block; position: absolute; content: ""; background: url(/_shared/images/root/common/ico_arrow_006.png) left top no-repeat; right: 15px; top: 50%; margin-top: -3px; width: 12px; height: 7px; }
#loginHelp .loginHelp-left li.panel_loginHelp.close span { margin-left: 20px; }
#loginHelp .loginHelp-left li.panel_loginHelp.open { border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px; border-radius: 4px 4px 0 0; }
#loginHelp .loginHelp-left li.panel_loginHelp.open:before { content: " "; background: url(/_shared/images/root/common/ico_arrow_008.png) left top no-repeat; }
#loginHelp .loginHelp-left li.panel_loginHelp.open:after { display: block; position: absolute; content: ""; width: 310px; left: 0px; top: 100%; height: 10px; border-left: 1px solid #ddd; border-right: 1px solid #ddd; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#loginHelp .loginHelp-left section { padding: 30px; background-color: #fff; margin-bottom: 30px; overflow: hidden; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
#loginHelp .loginHelp-left section h3 { margin-bottom: 30px; font-size: 142.85714%; text-align: center; line-height: 20px; font-weight: normal; }
#loginHelp .loginHelp-left section span { padding: 25px; }
#loginHelp .loginHelp-left .loginHelp-open-area { display: none; line-height: 1.5; -moz-border-radius: 4px 0 4px 4px; -webkit-border-radius: 4px; border-radius: 4px 0 4px 4px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#loginHelp .loginHelp-left .loginHelp-open-area .open-inner { border: 1px #ddd solid; padding: 30px 30px; background-color: #eff0f4; text-align: left; width: 100%; margin-top: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-border-radius: 4px 0 4px 4px; -webkit-border-radius: 4px; border-radius: 4px 0 4px 4px; }
#loginHelp .loginHelp-left .loginHelp-open-area .open-inner dl dt { display: block; border-bottom: 1px #bbb dotted; padding-bottom: 10px; margin-bottom: 10px; font-weight: bold; }
#loginHelp .loginHelp-left .loginHelp-open-area .open-inner dl .txt { line-height: 1.5em; margin-top: 10px; color: #333; text-align: left; margin-bottom: 30px; }
#loginHelp .loginHelp-left .loginHelp-open-area .open-inner dl .txt_01 { line-height: 1.5em; margin-top: 10px; color: #333; text-align: left; margin-bottom: 30px; }
#loginHelp .loginHelp-left .loginHelp-open-area .open-inner dl .inner_txt_1 { line-height: 1.5em; margin-top: 10px; color: #333; text-align: left; margin-bottom: 30px; }
#loginHelp .loginHelp-left .loginHelp-open-area .open-inner dl .link { text-align: center; margin: 0 auto; }
#loginHelp .loginHelp-left .loginHelp-open-area .open-inner dl .link a { padding: 15px 40px 15px 20px; display: inline-block; position: relative; color: #fff; background-color: #13448f; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
#loginHelp .loginHelp-left .loginHelp-open-area .open-inner dl .link a:hover { text-decoration: none; background-color: #2b589b; }
#loginHelp .loginHelp-left .loginHelp-open-area .open-inner dl .link a:after { display: block; position: absolute; content: ""; background: url(/_shared/images/root/common/ico_arrow_007.png) left top no-repeat #13448f; right: 10px; top: 50%; margin-top: -5px; width: 7px; height: 11px; }
#loginHelp .loginHelp-left .btm { margin-top: 20px; }
#loginHelp .loginHelp-right { float: right; width: 300px; background-color: #fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
#loginHelp .loginHelp-right p { border-bottom: 1px dotted #ddd; line-height: 1.5em; padding: 30px 0; text-align: center; font-size: 114.28571%; }
#loginHelp .loginHelp-right li { border-top: 1px dotted #ddd; }
#loginHelp .loginHelp-right li:first-child { border-top: none; }
#loginHelp .loginHelp-right li a { display: block; padding: 20px 55px; position: relative; }
#loginHelp .loginHelp-right li a:before { content: ""; display: block; position: absolute; background: url(/_shared/images/root/common/ico_question_001.png) left top no-repeat; width: 22px; height: 24px; margin-top: -12px; top: 50%; left: 20px; }
#loginHelp .loginHelp-right li a:after { content: ""; display: block; position: absolute; background: url(/_shared/images/root/common/ico_arrow_001.png) left top no-repeat; width: 8px; height: 13px; margin-top: -6px; top: 50%; right: 20px; }

@media screen and (-webkit-min-device-pixel-ratio: 0) { #loginHelp .loginHelp-area .loginHelp-left section li.panel_loginHelp.open:after { left: -1px; } }
/* サポート */
.support-cont ul { margin-right: -20px; overflow: hidden; }

.support-cont ul li.sup-none { display: none; }

.qtip-fixed .support-cont ul li.sup-none { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; vertical-align: top; }

.support-cont { position: relative; width: 448px; overflow: hidden; display: none; background: #fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.support-cont h1 { text-align: left; color: #fff; padding: 15px 20px; float: none; background: #134490; position: relative; font-weight: normal; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px; border-radius: 4px 4px 0 0; font-size: 114.28571%; }
.support-cont h1:after { content: ' '; position: absolute; top: 0; right: 218px; border-bottom: 12px #134490 solid; border-right: 9px transparent solid; border-left: 9px transparent solid; }
.support-cont h1 .sup-close { position: absolute; right: 0; top: 0; padding: 15px !important; color: #fff !important; cursor: pointer; display: none; }
.support-cont .inner { padding: 5px 20px 20px 20px; background: #fff; }
.support-cont ul:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.support-cont ul li { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; width: 49%; padding-right: 20px; padding-top: 15px; vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.support-cont ul li a { display: block; padding-left: 15px; position: relative; }
.support-cont ul li a:before { content: ""; background: url(/_shared/images/root/common/ico_arrow_003.png) left center no-repeat; position: absolute; top: 5px; left: 0; width: 5px; height: 7px; }

/* ログイン後サポートのみ位置修正 */
.login .support-support.active-arrow:before, .login .support-support.active-arrow:after { top: 15px; right: 10px; }

.language-wrap { display: none; background: #fff; }
.language-wrap h1 { float: none; padding: 15px 20px; }

.language-cont { display: block !important; position: relative; width: 265px; overflow: hidden; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.language-cont h1 { text-align: left; color: #fff; padding: 15px 20px; float: none; background: #134490; position: relative; font-weight: normal; font-size: 114.28571%; }
.language-cont h1:after { content: ' '; position: absolute; top: 0; right: 218px; border-bottom: 12px #134490 solid; border-right: 9px transparent solid; border-left: 9px transparent solid; }
.language-cont h1 .small-cont { display: block; margin-bottom: 5px; font-size: 85.71429%; }
.language-cont h1 .sup-close { display: none; }
.language-cont .inner { width: 265px; padding: 20px; background: #fff; text-align: left !important; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.language-cont ul { display: block !important; }
.language-cont ul:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.language-cont ul li a { display: block; padding-left: 15px; position: relative; }
.language-cont ul li a:before { content: ""; background: url(/_shared/images/root/common/ico_arrow_003.png) left center no-repeat; position: absolute; top: 5px; left: 0; width: 5px; height: 7px; }

/* -------------------------------------------------- [ SNS AREA ] -------------------------------------------------- */
#snsLoginBtnArea, .login #HeadOpen #login-detaile .otherid { position: relative; text-align: center; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.qtip-content #snsLogin_area { display: block !important; }

#snsLogin_area { background: #fff; width: 272px; text-align: center; margin: 0; padding: 0;   /*&:before { content: ' '; position: absolute; top: -13px; right: 60px; border-bottom: 13px #ddd solid; border-right: 9px transparent solid; border-left: 9px transparent solid; }
 &:after { content: ' '; position: absolute; top: -11px; right: 60px; border-bottom: 13px #134490 solid; border-right: 9px transparent solid; border-left: 9px transparent solid; }
 h1::after { border-bottom: 12px solid #134490; border-left: 9px solid transparent; border-right: 9px solid transparent; content: " "; position: absolute; top: 0; }*/ }
#snsLogin_area .inner { padding: 20px 20px 10px; min-height: 91px; }
#snsLogin_area h1 { background: #134490 none repeat scroll 0 0; border-radius: 4px 4px 0 0; color: #fff; float: none; padding: 15px 20px; text-align: left; position: relative; font-weight: normal; font-size: 114.28571%; }
#snsLogin_area .snsLoginTxtNav { line-height: 1.5; color: #333; font-weight: normal; padding: 0; margin: 0 auto; min-width: 230px; padding-bottom: 7px; clear: both; text-align: center; }
#snsLogin_area span.sup-close { display: none; right: 0; top: 0; }

div#componentDiv_login { margin: auto; text-align: center; padding: 0; font-size: 85.71429%; line-height: 1.3; color: #f00; }

div#componentDiv_login.componentDiv_login_message { margin-top: -10px; }

/* =========================================================
◆header　ログイン後
========================================================= */
.login #tooltip { position: absolute; z-index: 100; }

.login #HeadFixed .head-right > ul > li { cursor: pointer; float: left; height: 35px; margin-right: 10px; }

.login .help-non { display: none; }
.login #HeadOpen { height: auto; overflow: visible !important; /*一般(AMC)　会員*/ }
.login #HeadOpen .head-top { min-height: 64px; }
.login #HeadOpen .head-top .inner.btn a { background: #f0f1f4; display: block; padding: 10px 20px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.login #HeadOpen .head-top .inner.btn.first { padding-right: 10px; }
.login #HeadOpen .head-btm { padding: 0; height: auto; }
.login #HeadOpen #login-data { height: 80px; /* 閉じるボタン*/ }
.login #HeadOpen #login-data:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.login #HeadOpen #login-data .login-name-area { padding-top: 10px; float: left; width: 718px; }
.login #HeadOpen #login-data .status-icon { width: 95px; height: 60px; float: left; margin-right: 20px; }
.login #HeadOpen #login-data .login-personal-info { float: left; margin-right: 15px; width: 430px; }
.login #HeadOpen #login-data .login-name { font-weight: bold; margin-bottom: 3px; padding-top: 2px; font-size: 157.14286%; }
.login #HeadOpen #login-data .personal-info { display: table-cell; height: 28px; vertical-align: middle; font-size: 85.71429%; }
.login #HeadOpen #login-data .basic-inner { position: relative; padding-bottom: 10px; }
.login #HeadOpen #login-data .basic-inner:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.login #HeadOpen #login-data #toggle-btn { position: absolute; bottom: 0; right: 0; background: #fff; padding: 13px; width: 117px; text-align: center; cursor: pointer; font-size: 85.71429%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px; border-radius: 5px 5px 0 0; }
.login #HeadOpen #login-data #toggle-btn:after { content: "マイル残高"; text-align: center; display: block; padding-right: 10px; background: url(/_shared/images/root/common/ico_arrow_006.png) right center no-repeat; }
.login #HeadOpen #login-data #toggle-btn.open:after { content: "閉じる"; display: block; padding-right: 10px; background: url(/_shared/images/root/common/ico_arrow_008.png) right center no-repeat; }
.login #HeadOpen .head_btn_list { float: right; }
.login #HeadOpen .head_btn_list .btn { height: 60px; text-align: center; display: table; margin-right: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;         /*& > * { vertical-align: middle;
 @include inline-block; }
 &:before { content: ""; height: 100%; vertical-align: middle; width: 0px;
 @include inline-block; }*/ }
.login #HeadOpen .head_btn_list .btn.btn-mymenu { background: #ffc600; border: 1px solid #fff; margin-right: 0; text-align: left; font-weight: normal; width: 155px; font-size: 114.28571%; }
.login #HeadOpen .head_btn_list .btn.btn-mymenu:hover { text-decoration: none; background-color: #ffdd67; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.login #HeadOpen .head_btn_list .btn.btn-mymenu a { background: url(/_shared/images/root/common/ico_mymenu_001.png) 20px 15px no-repeat; background-size: 11px; padding-left: 40px; color: #333; cursor: pointer; display: table-cell; vertical-align: middle; }
.login #HeadOpen .head_btn_list .btn.btn-mymenu span { font-weight: normal; font-size: 75%; }
.login #HeadOpen #login-detaile { float: right; padding-top: 10px; color: #fff; width: 350px; font-size: 85.71429%; }
.login #HeadOpen #login-detaile .time { padding-right: 20px; text-align: right; }
.login #HeadOpen #login-detaile .reload { position: absolute; text-indent: -9999px; top: 10px; right: 0; }
.login #HeadOpen #login-detaile .reload a { width: 12px; height: 14px; background: url(/_shared/images/root/common/ico_reload_001.png) left top no-repeat; display: block; }
.login #HeadOpen #login-detaile .reload a:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }
.login #HeadOpen #login-detaile .list-inline { position: absolute; bottom: 10px; }
.login #HeadOpen #login-detaile .list-inline a { color: #fff; }
.login #HeadOpen #login-detaile .otherid { background: url(/_shared/images/root/common/ico_arrow_004.png) left center no-repeat; padding-left: 15px; }
.login #HeadOpen #login-detaile .otherid p:hover { text-decoration: underline; }
.login #HeadOpen #login-detaile .logout { background: url(/_shared/images/root/common/ico_logout_001.png) right center no-repeat; margin-right: 0; padding-right: 20px; text-align: center; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.login #HeadOpen #login-data { background: url(/_shared/images/root/common/head_bg_amc.png) center top no-repeat; }
.login #point-area { background: #fff; display: none; }
.login #point-area .point-list { padding: 10px 0; display: table; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; /* .linkBox .pointnum a:after { display: block; content: ""; position: absolute; top: 50%; right: 10px; margin-top: -6px; width: 8px; height: 13px; background: url(/_shared/images/root/common/ico_arrow_001.png) left top no-repeat; }*/ }
.login #point-area .point-list li { border-left: 1px solid #dddddd; display: table-cell; width: 180px; vertical-align: middle; padding: 0 10px 0 20px; position: relative; cursor: pointer; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.login #point-area .point-list li.premium-point { width: 360px; }
.login #point-area .point-list li.upgrade { width: auto; }
.login #point-area .point-list li dt { margin-bottom: 5px; font-size: 85.71429%; }
.login #point-area .point-list li dd { font-weight: bold; color: #13448f; font-size: 114.28571%; }
.login #point-area .point-list li dd a { color: #13448f; }
.login #point-area .point-list .pointnum { word-break: break-all; word-wrap: break-word; display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; }
.login #point-area .pointnum a { background: url(/_shared/images/root/common/ico_arrow_001.png) right center no-repeat; padding-right: 15px; }
.login #point-area .upgrade { padding-right: 0 !important; }
.login #point-area .upgrade dl, .login #point-area .upgrade .point, .login #point-area .upgrade .point-data-year { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; cursor: pointer; vertical-align: middle; }
.login #point-area .upgrade dl { width: 174px; }
.login #point-area .upgrade .point-data-year { background: #e9eef4; padding: 10px 0; width: 160px; text-align: center; cursor: pointer; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; font-size: 85.71429%; }
.login #point-area .upgrade .point-data-year .pointnum { font-weight: bold; color: #13448f; }
.login #HeadFixed { position: fixed; top: 0; width: 100%; background: #fff; height: 56px; }
.login #HeadFixed .head-right { position: relative; }
.login #HeadFixed .head-right:before { content: ""; display: block; width: 2000px; height: 56px; top: 0; left: -10px; position: absolute; background: url(/_shared/images/root/common/head_bg_fixed_amc.png) center left no-repeat; }
.login #HeadFixed .head-right > ul > li.head-support { background: url("/_shared/images/root/common/ico_arrow_013.png") right center no-repeat; position: relative; }
.login #HeadFixed .head-right > ul > li { cursor: pointer; float: left; height: 35px; }
.login #HeadFixed .head-right > ul > li.head-support span, .login #HeadFixed .head-right > ul > li.support-contact a { color: #fff; padding-right: 12px; }
.login #HeadFixed .head-right > ul > li.head-support span:hover, .login #HeadFixed .head-right > ul > li.support-contact a:hover { text-decoration: underline; }
.login.card { /*ACH　会員*/ }
.login.card #HeadOpen #login-data { background: url(/_shared/images/root/common/head_bg_ach.png) center top no-repeat; }
.login.card #HeadFixed .head-right:before { content: ""; display: block; width: 2000px; height: 56px; top: 0; left: -10px; position: absolute; background: url(/_shared/images/root/common/head_bg_fixed_ach.png) center left no-repeat; }
.login.dia, .login.dia.card { /*ダイアモンド　会員*/ }
.login.dia #HeadOpen #login-data, .login.dia.card #HeadOpen #login-data { background: url(/_shared/images/root/common/head_bg_dia.png) center top no-repeat !important; }
.login.dia #HeadFixed .head-right:before, .login.dia.card #HeadFixed .head-right:before { content: ""; display: block; width: 2000px; height: 56px; top: 0; left: -10px; position: absolute; background: url(/_shared/images/root/common/head_bg_fixed_dia.png) center left no-repeat !important; }
.login.plt, .login.plt.card { /*プラチナ　会員*/ }
.login.plt #HeadOpen #login-data, .login.plt.card #HeadOpen #login-data { background: url(/_shared/images/root/common/head_bg_plt.png) center top no-repeat !important; }
.login.plt #HeadFixed .head-right:before, .login.plt.card #HeadFixed .head-right:before { content: ""; display: block; width: 2000px; height: 56px; top: 0; left: -10px; position: absolute; background: url(/_shared/images/root/common/head_bg_fixed_plt.png) center left no-repeat !important; }
.login.brz, .login.brz.card { /*ブロンズ　会員*/ }
.login.brz #HeadOpen #login-data, .login.brz.card #HeadOpen #login-data { background: url(/_shared/images/root/common/head_bg_brz.png) center top no-repeat; }
.login.brz #HeadFixed .head-right:before, .login.brz.card #HeadFixed .head-right:before { content: ""; display: block; width: 2000px; height: 56px; top: 0; left: -10px; position: absolute; background: url(/_shared/images/root/common/head_bg_fixed_brz.png) center left no-repeat; }
.login.sfc, .login.sfc.card { /*SFC　会員*/ }
.login.sfc #HeadOpen #login-data, .login.sfc.card #HeadOpen #login-data { background: url(/_shared/images/root/common/head_bg_sfc.png) center top no-repeat; }
.login.sfc #HeadFixed .head-right:before, .login.sfc.card #HeadFixed .head-right:before { content: ""; display: block; width: 2000px; height: 56px; top: 0; left: -10px; position: absolute; background: url(/_shared/images/root/common/head_bg_fixed_sfc.png) center left no-repeat; }

/* =========================================================
◆Gnav
========================================================= */
#Gnav { text-align: center; position: relative; background: #13448f; border-top: 1px solid #fff; min-width: 1080px; }
#Gnav > ul { min-height: 1px; width: 1080px; margin: 0 auto; position: relative; }
#Gnav > ul:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
#Gnav > ul > li { width: 180px; float: left; background: #13448f; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#Gnav > ul > li > a { display: block; padding: 20px 0; position: relative; z-index: 10; color: #fff; cursor: pointer; }
#Gnav > ul > li > a:hover { text-decoration: none; background: #2b579a; }
#Gnav > ul > li.current { background: #0f2e5d; }
#Gnav > ul > li.current > a { z-index: 21; top: 100%; left: 0; width: 100%; padding-top: 15px; padding-bottom: 25px; position: relative; }
#Gnav > ul > li.current > a:after { content: ""; background: url(/_shared/images/root/common/ico_arrow_011.png) center center no-repeat #13448f; position: absolute; display: block; left: 20px; padding-left: 20px; width: 140px; height: 14px; line-height: 32px; font-size: 85.71429%; color: #fff; text-align: left; cursor: pointer; bottom: 0; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px; border-radius: 4px 4px 0 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#Gnav > ul > li.current > a:hover { background: #0f2e5d; }
#Gnav > ul > li.current > a:hover:after { background: url(/_shared/images/root/common/ico_arrow_011.png) center center no-repeat #2b579a; }
#Gnav > ul > li.current.open .toggle { display: block; }
#Gnav > ul > li.current.open .toggle:after { background: url(/_shared/images/root/common/ico_arrow_012.png) right 10px center no-repeat #2b579a; }
#Gnav > ul > li.travel { padding: 10px 0 10px 10px; }
#Gnav > ul > li.travel a { background: #4269a5; padding: 10px 0; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
#Gnav > ul > li.travel a:hover { background-color: #5578ae; }
#Gnav > ul > li .gnavTab { display: none; width: 1080px; position: absolute; left: 0; top: 57px; z-index: 59; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#Gnav > ul > li .gnavTab .gnavBg { background: #13448f; padding: 20px; -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0; border-radius: 0 0 5px 5px; }
#Gnav > ul > li .gnavTab .inner { margin-bottom: 0; position: relative; background: #f0f1f4; text-align: left; padding: 30px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
#Gnav > ul > li .gnavTab .inner:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
#Gnav > ul > li .gnavTab .inner .close { content: ''; background: url(/_shared/images/root/common/gnav_ico_close.png) no-repeat; width: 20px; height: 20px; position: absolute; top: 30px; right: 40px; cursor: pointer; }
#Gnav > ul > li .gnavTab .inner h1 { position: relative; padding-bottom: 10px; border-bottom: 1px solid #dddddd; margin-bottom: 20px; font-weight: normal; font-size: 157.14286%; }
#Gnav > ul > li .gnavTab .inner h1 span { font-size: 63.63636%; display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; padding-left: 20px; font-weight: normal; }
#Gnav > ul > li .gnavTab .inner h1 span a { background: url(/_shared/images/root/common/ico_arrow_003.png) left center no-repeat; padding-left: 10px; }
#Gnav > ul > li .gnavTab .inner .left { width: 460px; padding-right: 30px; float: left; }
#Gnav > ul > li .gnavTab .inner .left.bdr-none { border: none; }
#Gnav > ul > li .gnavTab .inner .left.tour-left { padding-right: 20px; width: 486px; }
#Gnav > ul > li .gnavTab .inner .left.tour-left .inner div { width: 253px; }
#Gnav > ul > li .gnavTab .inner .left.tour-left .inner div .megamenu-list { margin-right: 33px; }
#Gnav > ul > li .gnavTab .inner .left.amc-left { width: 220px; }
#Gnav > ul > li .gnavTab .inner .left .inner { margin-right: -20px; padding: 0; }
#Gnav > ul > li .gnavTab .inner .left .inner div { width: 240px; float: left; }
#Gnav > ul > li .gnavTab .inner .left .inner .megamenu-list .ttl { font-size: 114.28571%; font-weight: normal; border-bottom: 1px solid #13448f; padding-bottom: 10px; position: relative; }
#Gnav > ul > li .gnavTab .inner .left .inner .megamenu-list .ttl a { display: block; padding-right: 25px; }
#Gnav > ul > li .gnavTab .inner .left .inner .megamenu-list .ttl a:after { background: url("/_shared/images/root/common/ico_arrow_001.png") left top no-repeat; content: ""; display: block; height: 13px; margin-top: -14px; position: absolute; right: 10px; top: 50%; width: 8px; }
#Gnav > ul > li .gnavTab .inner .left .inner .megamenu-list .ttl_01 { font-size: 114.28571%; font-weight: normal; border-bottom: 1px solid #13448f; padding: 30px 0 10px 0; position: relative; }
#Gnav > ul > li .gnavTab .inner .left .inner .megamenu-list .ttl_01 a { display: block; padding-right: 25px; }
#Gnav > ul > li .gnavTab .inner .left .inner .megamenu-list .ttl_01 a:after { background: url("/_shared/images/root/common/ico_arrow_001.png") left top no-repeat; content: ""; display: block; height: 13px; margin-top: 1px; position: absolute; right: 10px; top: 50%; width: 8px; }
#Gnav > ul > li .gnavTab .inner .left .inner .megamenu-list li { background: none; padding-top: 15px; margin-bottom: 0; position: relative; }
#Gnav > ul > li .gnavTab .inner .left .inner .megamenu-list li:before { content: ""; display: block; position: absolute; background: url(/_shared/images/root/common/ico_arrow_003.png) left center no-repeat; width: 5px; height: 7px; top: 20px; left: 0; }
#Gnav > ul > li .gnavTab .inner .right { width: 460px; float: left; padding-left: 29px; border-left: 1px solid #dddddd; }
#Gnav > ul > li .gnavTab .inner .right.tour-right { padding-left: 0; }
#Gnav > ul > li .gnavTab .inner .right.tour-right .inner div { width: 254px; }
#Gnav > ul > li .gnavTab .inner .right.tour-right .inner div.tour-right-cont { width: 220px; }
#Gnav > ul > li .gnavTab .inner .right.tour-right .inner div .megamenu-list { margin-right: 34px; }
#Gnav > ul > li .gnavTab .inner .right.dom-tour-right, #Gnav > ul > li .gnavTab .inner .right.int-tour-right { /*padding-right: 20px;*/ width: 454px; border-left: none; }
#Gnav > ul > li .gnavTab .inner .right.amc-right { width: 700px; }
#Gnav > ul > li .gnavTab .inner .right.amc-right .inner div { width: 240px; float: left; }
#Gnav > ul > li .gnavTab .inner .right .inner { margin-right: -20px; padding: 0; }
#Gnav > ul > li .gnavTab .inner .right .inner div { width: 240px; float: left; }
#Gnav > ul > li .gnavTab .inner .right .inner .megamenu-list .ttl { font-size: 114.28571%; font-weight: normal; border-bottom: 1px solid #13448f; padding-bottom: 10px; position: relative; }
#Gnav > ul > li .gnavTab .inner .right .inner .megamenu-list .ttl a { display: block; padding-right: 25px; }
#Gnav > ul > li .gnavTab .inner .right .inner .megamenu-list .ttl a:after { background: url("/_shared/images/root/common/ico_arrow_001.png") left top no-repeat; content: ""; display: block; height: 13px; margin-top: -14px; position: absolute; right: 10px; top: 50%; width: 8px; }
#Gnav > ul > li .gnavTab .inner .right .inner .megamenu-list .ttl_01 { font-size: 114.28571%; font-weight: normal; border-bottom: 1px solid #13448f; padding: 30px 0 10px 0; position: relative; }
#Gnav > ul > li .gnavTab .inner .right .inner .megamenu-list .ttl_01 a { display: block; padding-right: 25px; }
#Gnav > ul > li .gnavTab .inner .right .inner .megamenu-list .ttl_01 a:after { background: url("/_shared/images/root/common/ico_arrow_001.png") left top no-repeat; content: ""; display: block; height: 13px; margin-top: 1px; position: absolute; right: 10px; top: 50%; width: 8px; }
#Gnav > ul > li .gnavTab .inner .right .inner .megamenu-list li { background: none; padding-top: 15px; margin-bottom: 0; position: relative; }
#Gnav > ul > li .gnavTab .inner .right .inner .megamenu-list li:before { content: ""; display: block; position: absolute; background: url(/_shared/images/root/common/ico_arrow_003.png) left center no-repeat; width: 5px; height: 7px; top: 20px; left: 0; }
#Gnav > ul > li .gnavTab .inner dl { width: 220px; margin-right: 20px; float: left; }
#Gnav > ul > li .gnavTab .inner dl dt.txt { font-size: 114.28571%; font-weight: normal; padding-bottom: 5px; margin-bottom: 15px; border-bottom: 1px solid #13448f; position: relative; }
#Gnav > ul > li .gnavTab .inner dl dt.txt a { display: block; padding-right: 25px; }
#Gnav > ul > li .gnavTab .inner dl dt.txt a:after { background: url("/_shared/images/root/common/ico_arrow_001.png") left top no-repeat; content: ""; display: block; height: 13px; margin-top: -11px; position: absolute; right: 10px; top: 50%; width: 8px; }
#Gnav > ul > li .gnavTab .inner dl dt.txt_01 { font-size: 114.28571%; font-weight: normal; border-bottom: 1px solid #13448f; padding: 30px 0 10px 0; position: relative; margin-bottom: 15px; }
#Gnav > ul > li .gnavTab .inner dl dt.txt_01 a { display: block; padding-right: 25px; }
#Gnav > ul > li .gnavTab .inner dl dt.txt_01 a:after { background: url("/_shared/images/root/common/ico_arrow_001.png") left top no-repeat; content: ""; display: block; height: 13px; margin-top: 1px; position: absolute; right: 10px; top: 50%; width: 8px; }
#Gnav > ul > li .gnavTab .inner dl dt.img { background-color: #13448f; text-align: center; margin-bottom: 20px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
#Gnav > ul > li .gnavTab .inner dl dt.img.ico-chair { background: url(/_shared/images/root/common/gnav_ico_chair.png) center 20px no-repeat #13448f; }
#Gnav > ul > li .gnavTab .inner dl dt.img.ico-pen { background: url(/_shared/images/root/common/gnav_ico_pen.png) center 20px no-repeat #13448f; }
#Gnav > ul > li .gnavTab .inner dl dt.img.ico-card { background: url(/_shared/images/root/common/gnav_ico_card.png) center 20px no-repeat #13448f; }
#Gnav > ul > li .gnavTab .inner dl dt.img a { color: #fff; display: block; padding: 70px 20px 20px 20px; font-size: 114.28571%; }
#Gnav > ul > li .gnavTab .inner dl dd ul li { background: url(/_shared/images/root/common/ico_arrow_003.png) left 0.4em no-repeat; padding-left: 10px; padding-bottom: 15px; margin-bottom: 15px; border-bottom: 1px dotted #999; }
#Gnav > ul > li .gnavTab .inner dl dd .last_txt { background: url(/_shared/images/root/common/ico_arrow_003.png) left 0.4em no-repeat; padding-left: 10px; padding-bottom: 15px; margin-bottom: 0; border-bottom: 1px dotted #999; }
#Gnav > ul > li .gnavTab .bnr-area ul { margin-right: -20px; margin-top: 20px; }
#Gnav > ul > li .gnavTab .bnr-area ul:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
#Gnav > ul > li .gnavTab .bnr-area ul li { width: 248px; float: left; margin-right: 16px; }
#Gnav > ul > li .gnavTab .bnr-area ul li a { display: block; background-color: #fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
#Gnav > ul > li .gnavTab .bnr-area ul li a img { border: 1px solid #ddd; max-width: 100%; height: auto; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#Gnav > ul > li .gnavTab .bnr-area ul li a:hover img { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; max-width: 100%; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

#Gnav > ul > li.open .gnavTab { display: block; }

#gnavOverBg { position: fixed; width: 100%; height: 100%; background: #000; z-index: 19; top: 0; left: 0; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }

/* =========================================================
◆Main
========================================================= */
#Main { position: relative; line-height: 1.5; }

/* =========================================================
◆SnsArea
========================================================= */
.sns-area { padding: 40px 0; }
.sns-area .basic-inner { min-height: 1px; overflow: hidden; }
.sns-area .basic-inner:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.sns-area .sns-list { width: 528px; text-align: center; vertical-align: middle; padding-right: 40px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.sns-area .sns-list ul { margin-bottom: 20px; }
.sns-area .sns-list ul:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.sns-area .sns-list ul li { float: left; width: 60px; margin-left: 47px; }
.sns-area .sns-list ul li:first-child { margin-left: 0; }
.sns-area .sns-list ul li a { display: block; background-color: #fff; }
.sns-area .sns-list ul li a img:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }
.sns-area .sns-txt { text-align: center; padding-left: 15px; }
.sns-area .aside-info { vertical-align: middle; border-left: 1px solid #dddddd; padding-left: 40px; }
.sns-area .aside-info .bnr-area { margin-right: -24px; margin-bottom: 20px; }
.sns-area .aside-info .bnr-area:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.sns-area .aside-info .bnr-area li { float: left; margin-right: 15px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.sns-area .aside-info .bnr-area li a { display: block; background-color: #fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.sns-area .aside-info .bnr-area li a img { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; border: 1px solid #ddd; height: auto; box-sizing: content-box; }
.sns-area .aside-info .bnr-area li a:hover img { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }
.sns-area .aside-info .list-arrow-bdr { margin-right: -24px; }
.sns-area .aside-info .list-arrow-bdr:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.sns-area .aside-info .list-arrow-bdr li { float: left; width: 248px; margin-right: 15px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.sns-area .aside-info .list-arrow-bdr li:hover { background-color: #f0f1f5; }
.sns-area .aside-info .list-arrow-bdr li:hover a { text-decoration: none; }
/* bnrとlistの組み合わせul */
.sns-area .aside-info .list-arrow-bdr li.bnr-link { overflow: hidden; }
.sns-area .aside-info .list-arrow-bdr li.bnr-link:hover { background-color: #fff; }
.sns-area .aside-info .list-arrow-bdr li.bnr-link a:hover img { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }

/* =========================================================
◆pageTop
========================================================= */
.pageTop { clear: both; margin-bottom: 40px; text-align: right; }

/* =========================================================
◆footer
========================================================= */
footer { background: #333333; color: #fff; position: relative; min-width: 1080px; }
footer a, footer a:hover { color: #fff; }
footer .foot-top { width: 1080px; margin: 0 auto; /*padding: 40px 0;*/ min-height: 1px; padding: 60px 0 40px 0; }
footer .foot-top:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
footer .foot-top .foot-left { float: left; width: 529px; }
footer .foot-top .foot-right { float: right; width: 510px; }
footer .foot-top .bnr-anahd { text-align: left; }
footer .foot-top .bnr-anahd h2 { font-size: 150%; border-bottom: 1px solid #fff; font-weight: normal; padding-bottom: 20px; margin-bottom: 30px; }
footer .foot-top .bnr-anahd h2 a:hover { text-decoration: none; }
footer .foot-top .bnr-anahd h2 span { background: url(/_shared/images/root/common/ico_newwin_002.png) right center no-repeat; padding-right: 30px; }
footer .foot-top .bnr-anahd ul { margin-bottom: 0; }
footer .foot-top .bnr-anahd ul li { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; margin-right: 30px; background: url(/_shared/images/root/common/ico_arrow_004.png) left center no-repeat; padding-left: 17px; margin-bottom: 20px; }
footer .foot-top .bnr-anahd table { margin-top: 20px; }
footer .foot-top .bnr-anahd table th { vertical-align: middle; }
footer .foot-top .bnr-anahd table td { vertical-align: middle; padding-left: 20px; }
footer .foot-top .box-whatsup { border: 1px solid #fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; padding: 20px; }
footer .foot-top .box-whatsup h2 { border-bottom: 1px dotted #666; width: 285px; float: right; padding: 0 0 10px 0; }
footer .foot-top .box-whatsup article:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
footer .foot-top .box-whatsup .thumb { float: left; }
footer .foot-top .box-whatsup .thumb img { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
footer .foot-top .box-whatsup .innertext { float: right; width: 285px; }
footer .foot-top .box-whatsup p.text { line-height: 1.6em; padding: 10px 0; }
footer .foot-top .box-whatsup p.date { font-weight: bold; }
footer .foot-btm { width: 1080px; margin: 0 auto; /*padding: 40px 0;*/ min-height: 1px; padding: 0 0 40px 0; }
footer .foot-btm:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
footer .foot-btm .foot-left { float: left; width: 529px; }
footer .foot-btm .foot-right { float: right; width: 510px; }
footer .foot-btm .fivestar { display: table; vertical-align: middle; width: 100%; }
footer .foot-btm .fivestar dt, footer .foot-btm .fivestar dd { display: table-cell; vertical-align: middle; line-height: 1.5; }
footer .foot-btm .fivestar dt { width: 70px; }
footer .foot-btm .olympic_banner { text-align: right; margin-bottom: 30px; }
footer .foot-btm .olympic_banner a { display: block; background: #fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
footer .foot-btm .olympic_banner a:hover img { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }
footer .foot-btm .olympic_banner img { border: 1px solid #ddd; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
footer .foot-btm .en_olympic_banner { text-align: right; width: 510px; }
footer .foot-btm .en_olympic_banner a { display: block; background: #fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
footer .foot-btm .en_olympic_banner a:hover img { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }
footer .foot-btm .en_olympic_banner img { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; border: 1px solid #ddd; }
footer .foot-btm .star-alliance { padding-top: 10px; text-align: right; }
footer .foot-aside { font-size: 85.71429%; line-height: 1; min-height: 60px; background: #1f1f1f; line-height: 1.5; }
footer .foot-aside .inner { width: 1080px; margin: 0 auto; padding: 22px 60px 22px 0; position: relative; min-height: 1px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
footer .foot-aside .inner:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
footer .foot-aside .inner .page-top { position: absolute; right: 0; top: 0; background: #000000; }
footer .foot-aside .inner .page-top:hover { background-color: #333; }
footer .foot-aside .inner .page-top a { background: url(/_shared/images/root/common/pagetop.png) center center no-repeat; text-indent: -9999px; width: 60px; height: 60px; display: block; }
footer .foot-aside #copy { float: left; line-height: 1.5; }
footer .foot-aside .footer-nav { float: right; max-width: 888px; text-align: right; }
footer .foot-aside .footer-nav li { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; line-height: 1.5; vertical-align: top; position: relative; border-left: 1px solid #FFFFFF; padding: 0 22px; }
footer .foot-aside .footer-nav li:first-child { border-left: none; }

#login-module-wrapper .close { cursor: pointer; position: absolute; top: 20px; right: 30px; font-size: 214.28571%; }
#login-module-wrapper .close:hover { text-decoration: none; }
