@charset "Shift_JIS";
/* 
=== Top Page =======================================

	 /*ソフトウェアキーボード 140623*/
==================================================== */
#login-area #software-keybord.login-field li.software-key .input-box {
  _display: block!important;
}
.fleft {
  float:left;
  margin:0;
  padding:0;
}
.spl11 {
  margin-left:11px!important;
}
.spl32 {
  margin-left:32px!important;
}
.cf {
  *zoom: 1;
}
.cf:after {
  content: "";
  display: block;
  clear: both;
}

.w93 {width:93px;}
.w95 {width:95px;}
.w185 {width:185px;}
.w187 {width:187px;}

.skey-ib {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align:top;
  cursor:pointer;
}

.input-select {
  background:#c3e3ef;
}
.software-key,
.input-box {
  margin:0;
  line-height:0;
  font-family: "メイリオ", "Meiryo", verdana, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka !important;
  text-align:left;
}
.software-key a{
  text-decoration:none!important;
}
.software-key a img {
  border:none;
}

.software-key ul,
.software-key li {
list-style:none;
}
.skeyOuter {
position: relative;
width:92px;
height:23px;
}

.skey-text {
  background:url(/common-ver1/keyboard/images/icon_arrow_blue.gif) no-repeat 0 8px;
  font-size:12px;
  line-height:24px;
  margin-left:8px;
  padding-left:8px;
  text-decoration:underline;
  cursor:pointer;
  color:#023ba8;
}

.skey-textstyle {
  font-size:12px;
  line-height:24px;
  margin-left:8px;
  cursor:default;
}
.software-key-box {
  position: absolute;
  top:0;
  /* left: -326px; */
  background:#fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-box-shadow: rgba(204, 204, 204, 0.4) 2px 3px 3px;
  -moz-box-shadow: rgba(204, 204, 204, 0.4) 2px 3px 3px;
  box-shadow: rgba(204, 204, 204, 0.4) 2px 3px 3px;
  border:3px solid #54b0d2;
  width:515px;
  /* height:316px; */
  z-index: 9999999;
  margin:0;
  padding:0;
}
.software-key-box .software-key-head {
  position:relative;
  background: #e1e1e1;
  background: -moz-linear-gradient(top,  #ffffff 20%, #e1e1e1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#ffffff), color-stop(100%,#e1e1e1));
  background: -webkit-linear-gradient(top,  #ffffff 20%,#e1e1e1 100%);
  background: -o-linear-gradient(top,  #ffffff 20%,#e1e1e1 100%);
  background: -ms-linear-gradient(top,  #ffffff 20%,#e1e1e1 100%);
  background: linear-gradient(to bottom,  #ffffff 20%,#e1e1e1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1',GradientType=0 );
  *background:url(/common-ver1/keyboard/images/tab_head_bg.gif) repeat-x left bottom;
  border-bottom:1px solid #54b0d2;
  width:515px;
  height:36px;
}

.software-key-box .software-key-close {
  position: absolute;
  top: 7px;
  right: 15px;
  width: 59px;
  height: 24px;
  margin:0;
  padding:0;
  font-size:0;
  line-height:0;
}
.software-key-box .software-key-close p {
  margin:0;
  padding:0;
  font-size:0;
  line-height:0;
  cursor:pointer;
}

.software-key-box .software-key-tab {
  position: absolute;
  top: 8px;
  left: 100px;
  width:320px;
  margin:0;
  padding:0;
  word-spacing: -1em;
  display: table;
}

.software-key-box .software-key-tab li {
  word-spacing: normal;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width:143px;
  height:27px;
  line-height:29px!important;
  background:#fff;
  border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  border:1px solid #54b0d2;
  border-bottom:none;
  margin-right:5px;
}

.software-key-box .software-key-tab p {
  border-bottom:1px solid #54b0d2;
  display:block;
  overflow:hidden;
  width:143px;
  height:27px;
  font-size:12px;
  color:#54b0d2;
  text-align:center;
  line-height:29px!important;
  text-decoration:none!important;
  margin:0!important;
  cursor:pointer;
}

.software-key-box .software-key-tab a:link,
.software-key-box .software-key-tab a:visible,
.software-key-box .software-key-tab a:active,
.software-key-box .software-key-tab a:hover {
  text-decoration:none!important;
}



.software-key-box .software-key-tab li p.software-tab-num-en {
  background:url(/common-ver1/keyboard/images/tab_arrow.gif) no-repeat 26px center;
}
.software-key-box .software-key-tab li p.software-tab-pw-en {
  background:url(/common-ver1/keyboard/images/tab_arrow.gif) no-repeat 36px center;
}

.software-key-box .software-key-tab li p.software-tab-num-jp {
  background:url(/common-ver1/keyboard/images/tab_arrow.gif) no-repeat 34px center;
}
.software-key-box .software-key-tab li p.software-tab-pw-jp {
  background:url(/common-ver1/keyboard/images/tab_arrow.gif) no-repeat 34px center;
}

.software-key-box .software-key-tab li.select p.software-tab-num-en,
.software-key-box .software-key-tab li.select p.software-tab-pw-en,
.software-key-box .software-key-tab li.select p.software-tab-num-jp,
.software-key-box .software-key-tab li.select p.software-tab-pw-jp {
  background-image:none;
  background:#54b0d2;
}

.software-key-box .software-key-tab li.select {
  background:#54b0d2;
}

.software-key-box .software-key-tab li.select p {
  background:none;
  color:#fff;
}

.software-key-box .software-key-tab li.select p span {
  background:none;
}



.software-key-box .software-key-area {
  padding:0 15px;
  height:200px;
  margin-top:22px;
  overflow:hidden;
}


.software-key-box .software-key-type {
  background:#e0e0e0;
  padding:2px 0px 2px 8px;
  margin:0;
  color:#333;
  font-size:12px;
  line-height:1.3!important;
}

.software-key-box .software-key-btn {
  padding:4px 0 0!important;
  margin:0 0 0 -2px!important;
  height:176px;
  overflow:hidden;
  *zoom:1;
}

.software-key-box .software-key-btn li {
  float:left!important;
  *display:inline;
  width:29px;
  height:29px;
  margin-top:3px;
  margin-left:2px;
  *zoom:1;
}

.software-key-box .software-key-btn li p {
  background:url(/common-ver1/keyboard/images/btn_key.gif) no-repeat 0 0!important;
  display:block;
  width:29px;
  height:29px;
  line-height:29px!important;
  font-size:12px;
  font-weight:bold;
  text-align:center;
  color:#333;
  margin:0!important;
  cursor:pointer;
}

.software-key-box .software-key-btn li a:link,
.software-key-box .software-key-btn li a:visible,
.software-key-box .software-key-btn li a:active,
.software-key-box .software-key-btn li a:hover {
  text-decoration:none!important;
}

.software-key-box .disable .software-key-type {
  background:#f6f6f6;
  color:#c2c2c2;
}

.software-key-box .disable .software-key-btn li p {
  background:url(/common-ver1/keyboard/images/btn_key_disable.gif) no-repeat 0 0;
  color:#c2c2c2;
  cursor:default;
}

.software-key-box .software-utility-btn {
  border-top:1px solid #aeaeae;
  word-spacing: -1em;
  display: table;
  width:485px;
  height:59px;
  margin:0 15px 0!important;
  padding:0!important;
  text-align:center;
  overflow:hidden;
}
.software-key-box .software-utility-btn li {
  word-spacing: normal;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width:109px;
  height:29px;
  padding:13px 6px 16px!important;
  margin:0!important;
  text-align:center;
 
}
.software-key-box .software-utility-btn li p {
  background:url(/common-ver1/keyboard/images/btn_key_blue.gif) no-repeat 0 0;
  display:block;
  width:109px;
  height:29px;
  line-height:30px!important;
  font-size:14px;
  font-weight:bold;
  text-align:center;
  color:#333;
  margin:0!important;
  cursor:pointer;
}

/* AMC */
#amc-wrapper .software-key-box {
  top:30px;
  left: -291px;
}

/* 会員専用機能へのログイン */
.software-key.members-login .software-key-box {
  top:108px;
  left: 0;
}
.software-key.members-login .skeyOuter {
  width:auto;
  margin-top:-4px;
}
/* その他ページデフォルト */
.software-key.default {
  margin-top:4px;
}
.software-key.default .skeyOuter {
  width:224px;
  margin-top:-4px;
}
.software-key.default p {
  color:#023ba8;
}