@charset "UTF-8";
.modparts-sprite { background-image: url('/_shared/images/root/common/modparts.png'); background-repeat: no-repeat; }

.modtab-sprite { background-image: url('/_shared/images/root/common/modtab.png'); background-repeat: no-repeat; }

.boarding-sprite { background-image: url('/_shared/images/root/common/boarding.png'); background-repeat: no-repeat; }

/**/
/* =========================================================
◆base
========================================================= */
* { zoom: 1; }

/* =========================================================
◆parts
========================================================= */
#Cont .weightNormal { font-weight: normal !important; }

#Cont .blue { color: #1E49B9; }

#Cont .pink { color: #EC6F91; }

#Cont .yellow { color: #ecd60c; }

#Cont .orange { color: #ff6500; }

#Cont .red { color: #da0303; }

img { vertical-align: middle; max-width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.ie8 img { max-width: none; }

.disnon { display: none; }

/* =========================================================
◆共通コンテンツ用
========================================================= */
/*-----------------------------------------------------
特別なお知らせ
------------------------------------------------------*/
.top-cont { position: relative; top: -40px; margin-bottom: 20px; }

.special-info { background: #f0f1f4; border-top: 4px solid #ffc600; border-bottom: 1px solid #ffc600; margin-bottom: 40px; position: relative; z-index: 52; }
.special-info .basic-inner { position: relative; }
.special-info h2 { position: absolute; top: -40px; padding: 10px 20px 10px 40px; line-height: 1.2; font-weight: normal; background: url(/_shared/images/root/common/ico_notice_002.png) 14px center no-repeat #ffc600; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px; border-radius: 4px 4px 0 0; }
.special-info ul li { border-top: 1px dotted #bbb; position: relative; padding: 15px 10px 15px 40px; line-height: 1.5; }
.special-info ul li:first-child { border-top: none; }
.special-info ul li img { position: absolute; left: 16px; top: 18px; }
.special-info ul li a { position: relative; display: block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.special-info ul li.hasLink { padding: 0; }
.special-info ul li.hasLink:hover { background-color: #e3e4e9; }
.special-info ul li.hasLink:hover a { text-decoration: none; }
.special-info ul li.hasLink a { position: relative; display: block; padding: 15px 40px 15px 40px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.special-info ul li.hasLink a:after { background: url(/_shared/images/root/common/ico_arrow_001.png) left top no-repeat; right: 20px; top: 50%; margin-top: -6px; width: 8px; height: 13px; content: ""; display: block; position: absolute; }

.dom .en .special-info ul li.hasLink a, .int .en .special-info ul li.hasLink a, .amc .en .special-info ul li.hasLink a { word-wrap: break-word; }

/*-----------------------------------------------------
お知らせ
------------------------------------------------------*/
.info-area { padding-top: 60px; padding-bottom: 60px; }
.info-area .topics .list-info li span.date, .info-area .notice .list-info li span.date { display: none; }
.info-area .tab_cont { position: relative; padding-bottom: 41px; }
.info-area .tab_col03 { border-bottom: 3px solid #13448f; }
.info-area .tab_col03 li { padding: 12px 10px; background: #fff; color: #333; font-weight: normal; border: 1px #ddd solid; border-bottom: 0; border-left: 0; font-size: 114.28571%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.info-area .tab_col03 li:hover { background-color: #f0f1f5; }
.info-area .tab_col03 li:first-child { -moz-border-radius: 5px 0 0 0; -webkit-border-radius: 5px; border-radius: 5px 0 0 0; border-left: 1px #ddd solid; }
.info-area .tab_col03 li.last { -moz-border-radius: 0 5px 0 0; -webkit-border-radius: 0; border-radius: 0 5px 0 0; }
.info-area .tab_col03 li .topics { background-image: url(/_shared/images/root/common/ico_notice_003.png); background-position: left center; background-repeat: no-repeat; padding-left: 25px; display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; }
.info-area .tab_col03 li.current { color: #fff; border-color: #13448f; background: #13448f; }
.info-area .tab_col03 li.current .ico-notice { background: url(/_shared/images/root/common/ico_notice_003_02.png) left center no-repeat; }
.info-area .tab_col03 li.current .topics { background-image: url(/_shared/images/root/common/ico_notice_003_02.png); }
.info-area .list-info { margin-bottom: 20px; }
.info-area .list-info.top { margin-bottom: 0; border-bottom: none; }
.info-area .list-info li { border-bottom: 1px dotted #bbbbbb; padding: 15px 20px 15px 60px; line-height: 1.5; position: relative; }
.info-area .list-info li:hover { background-color: #f0f1f5; }
.info-area .list-info li:hover a { text-decoration: none; }
.info-area .list-info li .info-wrap { display: table; width: 100%; }
.info-area .list-info li span.date { display: table-cell; padding-right: 10px; margin-bottom: 5px; vertical-align: top; width: 4em; }
.info-area .list-info li.new:after { background: #13448f; text-align: center; position: absolute; top: 15px; left: 10px; content: "NEW"; margin-bottom: 5px; padding: 3px 8px; color: #fff; vertical-align: middle; display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; font-size: 71.42857%; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.info-area .list-info li p { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; }
.info-area .list-info li a[target="_blank"] span.title { background: url(/_shared/images/root/common/ico_newwin_001.png) right center no-repeat; padding-right: 20px; }
.info-area .list-info li.hasLink { padding: 0; }
.info-area .list-info li.hasLink a { display: block; padding: 15px 40px 15px 60px; position: relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.info-area .list-info li.hasLink a:after { content: url(/_shared/images/root/common/ico_arrow_001.png); position: absolute; top: 15px; right: 20px; }
.info-area .list-info li.hasLink a:hover { color: #354f88; }
.info-area .btn-info { position: absolute; right: 0; }
.info-area .btn-info li { border: 1px solid #dddddd; background: #fff; position: relative; float: left; margin-left: 20px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.info-area .btn-info li:first { border-left: none; }
.info-area .btn-info li a { text-decoration: none; padding: 10px 45px 10px 20px; display: block; color: #333; }
.info-area .btn-info li a:before { background: url(/_shared/images/root/common/ico_arrow_001.png) left top no-repeat; content: ""; display: block; width: 8px; height: 13px; position: absolute; top: 45%; margin-top: -5px; right: 15px; }
.info-area .btn-info li:hover { background-color: #f0f1f5; }
.info-area .btn-info li:hover a { text-decoration: none; color: #333; }

/* =========================================================
◆common section
========================================================= */
.basic-inner { width: 1080px; margin: 0 auto; }

/* =========================================================
◆box
========================================================= */
/*2カラム*/
.bnr_col2 { min-height: 1px; }
.bnr_col2:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.bnr_col2 li { width: 530px; float: left; margin-left: 18px; }
.bnr_col2 li:first-child { margin-left: 0; }

/*3カラム*/
.col3 { min-height: 1px; }
.col3:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.col3 > li, .col3 > .item { width: 348px; float: left; margin-left: 18px; }
.col3 > li:first-child, .col3 > .item:first-child { margin-left: 0; }
.col3 > li .info, .col3 > .item .info { margin-top: 5px; line-height: 1.5; }
.col3 > .item:fitst-of-type { margin-left: 0; }
.col3 > li a { display: block; background-color: #fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.col3 > li a img { height: auto; border: 1px solid #ddd; max-width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.col3 > li a:hover img { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; max-width: 100%; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.slider-bnr { min-height: 1px; }
.slider-bnr li a { display: block; background-color: #fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.slider-bnr li a img { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; height: auto; width: 100%; border: 1px solid #ddd; }
.slider-bnr li a:hover { text-decoration: none; color: #333; }
.slider-bnr li a:hover img { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }
.slider-bnr li .info { margin-top: 10px; text-align: left; }

/* テーブルセルに*/
.table-wrap { display: table; }
.table-wrap .table-item { display: table-cell; }

/* =========================================================
◆btn
========================================================= */
.btn { cursor: pointer; position: relative; line-height: 1.2; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.btn a:hover { text-decoration: none; }
.btn button, .btn [type="submit"] { background: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none; display: block; z-index: 10; }
.btn .btn-txt-min { font-size: 85.71429%; }

.btn-submit, .btn-submit-lg { background: #13448f; text-align: center; color: #fff; font-weight: normal; padding: 5px; }
.btn-submit p, .btn-submit a, .btn-submit-lg p, .btn-submit-lg a { color: #fff; display: block; padding: 10px 20px; cursor: pointer; }
.btn-submit:hover, .btn-submit-lg:hover { text-decoration: none; background-color: #2b589b; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.btn-reserve { background: #13448f; text-align: center; color: #fff; font-weight: normal; border: 1px solid #fff; cursor: pointer; color: #fff; display: block; }
.btn-reserve:hover { text-decoration: none; background-color: #2b589b; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.btn-submit-lg { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; font-size: 128.57143%; }
.btn-submit-lg p, .btn-submit-lg a { padding: 10px 40px; }

.btn-submit-02 { background: #13448f; text-align: center; color: #fff; font-weight: normal; }
.btn-submit-02:hover { background-color: #2c579b; }
.btn-submit-02 p, .btn-submit-02 a { color: #fff; display: block; padding: 15px 20px; cursor: pointer; }
.btn-submit-02 p:hover, .btn-submit-02 a:hover { text-decoration: none; }

.btn-login { background: #ffc600; text-align: center; color: #333; font-weight: normal; }
.btn-login:hover { background-color: #ffdd67; }
.btn-login p, .btn-login a { color: #333; display: block; padding: 15px 20px; cursor: pointer; }
.btn-login p:hover, .btn-login a:hover { text-decoration: none; }

.btn-logout { background: #ffc600; text-align: center; color: #333; font-weight: normal; margin-top: 1px; }
.btn-logout:hover { background-color: #ffdd67; }
.btn-logout p, .btn-logout a { color: #333; display: block; padding: 10px 20px; cursor: pointer; }
.btn-logout p:hover, .btn-logout a:hover { text-decoration: none; }

.btn-other { background: #13448f; text-align: center; color: #fff; font-weight: normal; }
.btn-other:hover { background-color: #2c579b; }
.btn-other p, .btn-other a { color: #fff; display: block; padding: 10px 20px; width: 160px; cursor: pointer; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.btn-other p:hover, .btn-other a:hover { text-decoration: none; }

.btn-arrow-right { background: #fff; text-align: center; font-weight: normal; border: 1px solid #ddd; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.btn-arrow-right p, .btn-arrow-right a { color: #333; display: block; padding: 10px 20px; cursor: pointer; position: relative; }
.btn-arrow-right p:after, .btn-arrow-right a:after { position: absolute; content: ""; display: block; background: url(/_shared/images/root/common/ico_arrow_001.png) left top no-repeat; width: 8px; height: 13px; margin-top: -6px; top: 50%; right: 10px; }
.btn-arrow-right p:hover, .btn-arrow-right a:hover { text-decoration: none; }

/* 検索する（オレンジ） */
.btn-search { background: #eb7308; color: #fff; font-weight: normal; font-size: 128.57143%; }
.btn-search:hover { background: #b36309; }

.btn-inline { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; }

/* =========================================================
◆form
========================================================= */
/*基本設定*/
input[type="text"], input[type="password"] { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

button { vertical-align: middle; }

/* IEの記号消し */
input::-ms-clear { visibility: hidden; }

input::-ms-reveal { visibility: hidden; }

/*セレクトボックス*/
.frm-select { position: relative; overflow: hidden; line-height: 1; display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; background: #fff; border: 1px solid #d1d1d1; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.frm-select:after { background: url(/_shared/images/root/common/ico_arrow_005.png) left top no-repeat; content: ""; display: block; width: 9px; height: 7px; position: absolute; top: 50%; margin-top: -3px; right: 15px; }
.frm-select select { -moz-appearance: none; -webkit-appearance: none; display: block; width: 130%; height: 100%; padding: 13px 95px 13px 20px; border: none; background: #fff; }
.frm-select select option { padding: 5px; display: block; }

/*テキスト継承されないので追加*/
input, textarea, button { font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ","Meiryo",verdana,"ＭＳ Ｐゴシック",Osaka,sans-serif; }

.en input, .en textarea, .en button { font-family: Arial,Helvetica,sans-serif,Verdana,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Meiryo","メイリオ","ＭＳ Ｐゴシック","MS PGothic",Osaka,Sans-Serif; }

/*半角入力のみ*/
.imemode { ime-mode: disabled; }

/*ラジオボタン・チェックボックス基本*/
/*IE8含む*/
.ico-radio input[type=radio], .ico-radio input[type=checkbox], .ico-checkbox input[type=radio], .ico-checkbox input[type=checkbox] { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; vertical-align: middle; margin-right: 0; padding: 0; }
.ico-radio input[type=radio] + label, .ico-radio input[type=checkbox] + label, .ico-checkbox input[type=radio] + label, .ico-checkbox input[type=checkbox] + label { position: relative; cursor: pointer; vertical-align: middle; display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; }

/*IE8以上のもの　※メディアクエリがきくか効かないかでブラウザ判定*/
@media (min-width: 1px) { .ico-radio input[type=radio], .ico-radio input[type=checkbox], .ico-checkbox input[type=radio], .ico-checkbox input[type=checkbox] { display: none; margin: 0; }
  .ico-radio input[type=radio] + label, .ico-checkbox input[type=radio] + label { padding: 0 0 0 30px; }
  .ico-radio input[type=checkbox] + label, .ico-checkbox input[type=checkbox] + label { padding: 0 0 0 19px; }
  .ico-radio input[type=radio] + label::before, .ico-radio input[type=checkbox] + label::before, .ico-checkbox input[type=radio] + label::before, .ico-checkbox input[type=checkbox] + label::before { background-image: url('/_shared/images/root/common/modparts.png'); content: ""; display: block; position: absolute; top: 50%; left: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .ico-radio input[type=radio] + label::before, .ico-checkbox input[type=radio] + label::before { background-position: 0 -135px; height: 20px; width: 20px; margin-top: -10px; }
  .ico-radio input[type=checkbox] + label::before, .ico-checkbox input[type=checkbox] + label::before { background-position: 0 -47px; height: 15px; width: 15px; margin-top: -7.5px; }
  .ico-radio input[type=radio]:checked + label::before, .ico-checkbox input[type=radio]:checked + label::before { background-position: 0 -155px; }
  .ico-radio input[type=checkbox]:checked + label::before, .ico-checkbox input[type=checkbox]:checked + label::before { background-position: 0 -62px; } }
/*ラベル*/
.frm-link { overflow: hidden; line-height: 1; background: #fff; border: 1px solid #d1d1d1; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; }
.frm-link a { display: block; width: 130%; height: 100%; padding: 15px 95px 15px 20px; border: none; background: #fff; -moz-appearance: none; -webkit-appearance: none; }

/* =========================================================
◆tab
========================================================= */
.tab_col03 { margin-bottom: 15px; }
.tab_col03 li { width: 15%; text-align: center; display: table-cell; cursor: pointer; }

#Cont.amc_cont .tab_col03 { border-bottom: 3px solid #13448f; display: table; width: 100%; table-layout: fixed; }
#Cont.amc_cont .tab_col03 li { width: 360px; display: table-cell; }

.tab_col05:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.tab_col05 li { width: 19%; text-align: center; float: left; margin-right: 1%; cursor: pointer; }

/* =========================================================
◆list
========================================================= */
.list-arrow li { background: url(/_shared/images/root/common/ico_arrow_003.png) left center no-repeat; padding-left: 10px; margin-bottom: 10px; }
.list-arrow.inline li { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; margin-right: 10px; margin-bottom: 0; }

.list-arrow-bdr li { border: 1px solid #dddddd; background: #fff; position: relative; cursor: pointer; line-height: 1.5; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.list-arrow-bdr li:first { border-left: none; }
.list-arrow-bdr li a { color: #333; display: block; padding: 10px 30px 10px 20px; }
.list-arrow-bdr li:hover { background-color: #f0f1f5; }
.list-arrow-bdr li:hover a { text-decoration: none; color: #333; }
.list-arrow-bdr li:hover:after { background: url(/_shared/images/root/common/ico_arrow_001.png) left top no-repeat; }
.list-arrow-bdr li:after { background: url(/_shared/images/root/common/ico_arrow_001.png) left top no-repeat; content: ""; display: block; width: 8px; height: 13px; position: absolute; top: 48%; margin-top: -6px; right: 15px; }
.list-arrow-bdr.inline li { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; margin-right: 10px; margin-bottom: 0; }
/* bnrとlistの組み合わせul */
.list-arrow-bdr li.bnr-link:after { content: none; }
.list-arrow-bdr li.bnr-link a { padding: 0; }
.list-arrow-bdr li.list-link a { height: 65px; }
.list-arrow-bdr li.list-link .txt-1_line { display: block; padding-top: 21px; }
.list-arrow-bdr li.list-link .txt-2_line { display: block; padding-top: 11px; }

.list-link-bnr li { background: url(/_shared/images/root/common/ico_arrow_003.png) left center no-repeat; padding-left: 10px; margin-bottom: 10px; }
.list-link-bnr.inline li { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; margin-right: 10px; margin-bottom: 0; }

.list-inline li { float: left; margin-right: 20px; }

li.no-ico { background: none; padding-left: 0; }

/* =========================================================
◆ico
========================================================= */
.ico-rss { background: url(/_shared/images/root/common/ico_rss_001.png) left center no-repeat; padding-left: 20px; }

.ico-arrow { background: url(/_shared/images/root/common/ico_arrow_003.png) left center no-repeat; padding-left: 10px; }

.ico-newwin03 { background: url(/_shared/images/root/common/ico_newwin_003.png) right center no-repeat !important; padding-right: 14px !important; }
.ico-newwin03:hover { background: url(/_shared/images/root/common/ico_newwin_003.png) right center no-repeat !important; padding-right: 14px !important; }

.ico-notice { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; background: url(/_shared/images/root/common/ico_notice_003.png) left center no-repeat; padding-left: 25px; }

.ie8 .ico-notice { padding-top: 4px; }

/* =========================================================
◆tooltip
========================================================= */
.tooltip-cont { display: none; }

.active-arrow { position: relative; z-index: 101; }
.active-arrow:before { content: ' '; position: absolute; top: 13px; right: -6px; border-bottom: 13px #ddd solid; border-right: 9px transparent solid; border-left: 9px transparent solid; }
.active-arrow:after { content: ' '; position: absolute; top: 15px; right: -6px; border-bottom: 13px #134490 solid; border-right: 9px transparent solid; border-left: 9px transparent solid; }

/* =========================================================
◆accordion
========================================================= */
.panel_row { display: none; }

/* =========================================================
◆modal
========================================================= */
#mod-modal-bg { position: fixed; top: 0; left: 0; z-index: 52; width: 100%; height: 100%; min-height: 100%; background: #000000; cursor: pointer; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }

#mod-modal { position: absolute; z-index: 9999; left: 50%; }

.mod-modal-cont { /* モーダルの幅を指定 */ }

/* =========================================================
tooltip
========================================================= */
/* qTip2 - Pretty powerful tooltips - v2.2.1 http://qtip2.com  Copyright (c) 2014 Released under the MIT licenses http://jquery.org/license  Date: Sat Sep 6 2014 11:12 GMT+0100+0100 Plugins: tips modal viewport svg imagemap ie6 Styles: core basic css3 */
.qtip { position: absolute; left: -28000px; top: -28000px; display: none; max-width: 448px; min-width: 265px; direction: ltr; box-shadow: none; padding: 0; background: #134490; border: 1px solid #ddd; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.qtip-content { position: relative; overflow: hidden; text-align: left; word-wrap: break-word; }

* html .qtip-titlebar .qtip-close { top: 16px; }

/* IE fix */
.qtip-titlebar .ui-icon, .qtip-icon .ui-icon { display: block; text-indent: -1000em; direction: ltr; background: none; }

.qtip-icon, .qtip-icon .ui-icon { height: 50px; width: 50px; text-decoration: none; text-indent: 0; }

/* Applied to 'focused' tooltips e.g. most recently displayed/interacted with */
/* Applied on hover of tooltips i.e. added/removed on mouseenter/mouseleave respectively */
/* Default tooltip style */
.qtip-default .qtip-icon { background: none; color: #fff; font-size: 114.28571%; display: block; font-weight: bold; }
.qtip-default .qtip-icon:hover { text-decoration: none; }

.qtip-close { position: absolute; right: 0; top: 0; text-align: center; z-index: 11; cursor: pointer; outline: medium none; background: none; color: #fff; text-indent: 0; line-height: 46px; font-size: 114.28571%; width: 50px; height: 50px; }

.qtip-fixed { position: fixed; }

/* jQuery TOOLS Tooltip style */
.qtip-jtools { background: #232323; background: rgba(0, 0, 0, 0.7); background-image: -webkit-gradient(linear, left top, left bottom, from(#717171), to(#232323)); background-image: -moz-linear-gradient(top, #717171, #232323); background-image: -webkit-linear-gradient(top, #717171, #232323); background-image: -ms-linear-gradient(top, #717171, #232323); background-image: -o-linear-gradient(top, #717171, #232323); border: 2px solid #ddd; border: 2px solid #f1f1f1; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: 0 0 12px #333; -moz-box-shadow: 0 0 12px #333; box-shadow: 0 0 12px #333; }

/* IE Specific */
.qtip-jtools .qtip-titlebar { background-color: transparent; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#4A4A4A); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#4A4A4A)"; }

.qtip-jtools .qtip-content { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A,endColorstr=#232323); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A,endColorstr=#232323)"; }

.qtip-jtools .qtip-titlebar, .qtip-jtools .qtip-content { background: transparent; color: white; border: 0 dashed transparent; }

.qtip-jtools .qtip-icon { border-color: #555; }

.qtip-jtools .qtip-titlebar .ui-state-hover { border-color: #333; }

/* Tipped style */
.qtip-tipped { border: 3px solid #959FA9; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; background-color: #F9F9F9; color: #454545; font-weight: normal; font-family: serif; }

.qtip-tipped .qtip-titlebar { border-bottom-width: 0; color: white; background: #3A79B8; background-image: -webkit-gradient(linear, left top, left bottom, from(#3A79B8), to(#2E629D)); background-image: -webkit-linear-gradient(top, #3A79B8, #2E629D); background-image: -moz-linear-gradient(top, #3A79B8, #2E629D); background-image: -ms-linear-gradient(top, #3A79B8, #2E629D); background-image: -o-linear-gradient(top, #3A79B8, #2E629D); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8,endColorstr=#2E629D); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8,endColorstr=#2E629D)"; }

.qtip-tipped .qtip-icon { border: 2px solid #285589; background: #285589; }

/* IE9 fix - removes all filters */
.qtip:not(.ie9haxors) div.qtip-content, .qtip:not(.ie9haxors) div.qtip-titlebar { filter: none; -ms-filter: none; }

.qtip .qtip-tip { margin: 0 auto; overflow: hidden; z-index: 10; }

/* Opera bug #357 - Incorrect tip position
https://github.com/Craga89/qTip2/issues/367 */
x:-o-prefocus, .qtip .qtip-tip { visibility: hidden; }

.qtip .qtip-tip, .qtip .qtip-tip .qtip-vml, .qtip .qtip-tip canvas { position: absolute; color: #123456; background: transparent; border: 0 dashed transparent; }

.qtip .qtip-tip canvas { top: 0; left: 0; }

.qtip .qtip-tip .qtip-vml { behavior: url(#default#VML); display: inline-block; visibility: visible; }

#qtip-overlay { position: fixed; left: 0; top: 0; width: 100%; height: 100%; }

/* Applied to modals with show.modal.blur set to true */
#qtip-overlay.blurs { cursor: pointer; }

/* Change opacity of overlay here */
#qtip-overlay div { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: black; opacity: 0.7; filter: alpha(opacity=70); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; }

.qtipmodal-ie6fix { position: absolute !important; }
