@charset "UTF-8";
.modparts-sprite { background-image: url('/_shared/images/root/common/modparts.png'); background-repeat: no-repeat; }

.modtab-sprite { background-image: url('/_shared/images/root/common/modtab.png'); background-repeat: no-repeat; }

.boarding-sprite { background-image: url('/_shared/images/root/common/boarding.png'); background-repeat: no-repeat; }

/**/
/*-----------------------------------------------------
mainVis
------------------------------------------------------*/
.ie8 #mainVis { /*.bx-default-pager,
.bx-default-pager * { position: relative; z-index: 57;
}*/ }
.ie8 #mainVis .bx-controls { background: url(/_shared/images/root/common/bg_whte_opacity9.png) left top repeat; }

#mainVis { min-width: 1080px; }
#mainVis .bx-wrapper { margin: 0 auto; }
#mainVis ul.slider { height: 530px; overflow: hidden; min-width: 1080px; width: 100%; margin: 0 auto; }
#mainVis ul.slider > li { height: 530px; overflow: visible; position: relative; color: #fff; text-align: center; z-index: 2 !important; }
#mainVis ul.slider > li .thumb { text-align: center; width: 1080px; margin: 0 auto; }
#mainVis ul.slider > li .thumb img { display: block; margin: 0 -180px; width: 1440px; max-width: 1440px; }

#mainVis ul.slider > li > a { color: #13448f; display: inline-block; width: 100%; height: 100%; }
#mainVis ul.slider > li a .inner { position: relative; }
#mainVis ul.slider > li a .inner .btn-block { position: absolute; top: 315px; right: 0; }
#mainVis ul.slider > li a .inner .btn-block .btn { cursor: pointer; }
#mainVis ul.slider > li a .inner .btn-block .btn.btn-color01 { background: #fff; color: #13448f; }
#mainVis ul.slider > li a .inner .btn-block .btn.btn-color01:after { background: url(/_shared/images/root/common/ico_arrow_001.png) no-repeat; }
#mainVis ul.slider > li a .inner .btn-block .btn.btn-color02 { background: #13448f; color: #fff; }
#mainVis ul.slider > li a .inner .btn-block .btn.btn-color02:after { background: url(/_shared/images/root/common/ico_arrow_007.png) no-repeat; }
#mainVis ul.slider > li a:hover { text-decoration: none; }
#mainVis ul.slider > li a:hover .inner .btn { cursor: pointer; }
#mainVis ul.slider > li a:hover .inner .btn.btn-color01 { background-color: #f0f1f5; }
#mainVis ul.slider > li a:hover .inner .btn.btn-color02 { background-color: #2b589b; }
#mainVis ul.slider > li a .inner { text-align: right; position: relative; top: -530px; z-index: 2; width: 1080px; margin: 0 auto; }
#mainVis ul.slider > li a .inner .text { padding-top: 70px; margin: 0 auto; position: absolute; right: 0; top: 0; width: 620px; height: 322px; }

#mainVis ul.slider > li .inner { text-align: right; position: relative; top: -530px; z-index: 2; width: 1080px; margin: 0 auto; }
#mainVis ul.slider > li .inner .text { padding-top: 70px; margin: 0 auto; position: absolute; right: 0; top: 0; width: 620px; height: 322px; }
#mainVis ul.slider > li .inner .text h1 { font-size: 242.85714%; line-height: 1.2; margin-bottom: 10px; font-weight: bold; }
#mainVis ul.slider > li .inner .text p.text-sub { font-size: 157.14286%; line-height: 1.4; margin-bottom: 20px; font-weight: bold; }
#mainVis ul.slider > li .inner .text p.text-departure { font-size: 114.28571%; line-height: 1.2; margin-bottom: 5px; font-weight: bold; }
#mainVis ul.slider > li .inner .text p.text-price { font-size: 314.28571%; line-height: 1.2; margin-bottom: 10px; font-weight: bold; }
#mainVis ul.slider > li .inner .text p.text-annotation { font-size: 100%; line-height: 1.5; margin-bottom: 20px; }
#mainVis ul.slider > li .inner .text.text-left h1, #mainVis ul.slider > li .inner .text.text-left p { text-align: left; }
#mainVis ul.slider > li .inner .text.text-color01,
#mainVis ul.slider > li .inner .text.text-color01 a{ color: #fff; }
#mainVis ul.slider > li .inner .text.text-color02,
#mainVis ul.slider > li .inner .text.text-color02 a{ color: #13448f; }
#mainVis ul.slider > li .inner .btn { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; cursor: default; padding: 15px 40px 15px 20px; display: block; }
#mainVis ul.slider > li .inner .btn.btn-link:after { content: ""; display: block; position: absolute; width: 8px; height: 13px; top: 50%; right: 10px; background: url(/_shared/images/root/common/ico_arrow_007.png) no-repeat; margin-top: -6px; }

#mainVis ul.slider > li .topoffer .inner { color: #13448f; display: inline-block; vertical-align: top; position: relative; width: 100%; height: 100%; }
#mainVis ul.slider > li .topoffer .inner .btn-block { position: absolute; top: 330px; right: 0; }
#mainVis ul.slider > li .topoffer .inner .btn-block .btn { cursor: pointer; }
#mainVis ul.slider > li .topoffer .inner .btn-block .btn.btn-color01 { background: #fff; color: #13448f; }
#mainVis ul.slider > li .topoffer .inner .btn-block .btn.btn-color01:after { background: url(/_shared/images/root/common/ico_arrow_001.png) no-repeat; }
#mainVis ul.slider > li .topoffer .inner .btn-block .btn.btn-color02 { background: #13448f; color: #fff; }
#mainVis ul.slider > li .topoffer .inner .btn-block .btn.btn-color02:after { background: url(/_shared/images/root/common/ico_arrow_007.png) no-repeat; }
#mainVis ul.slider > li .topoffer .inner { text-align: right; position: relative; top: -545px; z-index: 2; width: 1080px; margin: 0 auto; }
#mainVis ul.slider > li .topoffer .inner .text { height: 292px; }
#mainVis ul.slider > li .topoffer .inner .text > a { position: absolute; top: 70px; left: 0; display:block; width: 100%; height: 307px; color: #fff; outline: none; /* IE hac */ background: #fff; opacity: 0; z-index: 10; }
.ie8 #mainVis ul.slider > li .topoffer .inner .text > a { background: url(/_shared/images/root/common/spacer.gif) repeat left top; }
#mainVis ul.slider > li .topoffer .inner .text a:hover { text-decoration:none; }
#mainVis ul.slider > li .topoffer .inner .text a:hover + .text-inner .btn { cursor: pointer; }
#mainVis ul.slider > li .topoffer .inner .text a:hover + .text-inner .btn.btn-color01 { background-color: #f0f1f5; }
#mainVis ul.slider > li .topoffer .inner .text a:hover + .text-inner .btn.btn-color02 { background-color: #2b589b; }
#mainVis ul.slider > li .topoffer .inner.topoffer-2col a:hover + .text-inner .btn.btn-color01 { background-color: #fff; }
#mainVis ul.slider > li .topoffer .inner.topoffer-2col a:hover + .text-inner .btn.btn-color02 { background-color: #13448f; }
#mainVis ul.slider > li .topoffer .inner .text.topoffer-col-left { left: 150px; top: 0; width: 300px; }
#mainVis ul.slider > li .topoffer .inner .text.topoffer-col-left a:hover + .text-inner .btn.btn-color01 { background-color: #f0f1f5; }
#mainVis ul.slider > li .topoffer .inner .text.topoffer-col-left a:hover + .text-inner .btn.btn-color02 { background-color: #2b589b; }
#mainVis ul.slider > li .topoffer .inner .text.topoffer-col-right { right: 0; top: 0; width: 300px; }
#mainVis ul.slider > li .topoffer .inner .text.topoffer-col-right a:hover + .text-inner .btn.btn-color01 { background-color: #f0f1f5; }
#mainVis ul.slider > li .topoffer .inner .text.topoffer-col-right a:hover + .text-inner .btn.btn-color02 { background-color: #2b589b; }

#mainVis ul.slider > li .inner .btn.btn-link:after { content: ""; display: block; position: absolute; width: 8px; height: 13px; top: 50%; right: 10px; background: url(/_shared/images/root/common/ico_arrow_007.png) no-repeat; margin-top: -6px; }
#mainVis ul.slider > li .inner .btn.btn-link:hover { cursor: pointer; }
#mainVis ul.slider > li .inner .btn.btn-link.btn-color01:hover { background-color: #f0f1f5; }
#mainVis ul.slider > li .inner .btn.btn-link.btn-color02:hover { background-color: #2b589b; }
#mainVis ul.slider > li .inner .topoffer-info { overflow:hidden; width:450px; position:absolute; top:320px; left:-40px; text-align:left; padding-bottom: 10px; z-index: 11; }
#mainVis ul.slider > li .inner .topoffer-info-inner { position:relative; left:-30px; width:450px; background-color:rgba(255,255,255,0.9); -webkit-transform: skew(-25deg); -ms-transform: skew(-25deg); transform: skew(-25deg); box-shadow:3px 4px 5px rgba(0,0,0,0.1); }
.ie8 #mainVis ul.slider > li .inner .topoffer-info { background: url(/_shared/images/root/common/bg_whte_opacity9.png) left top repeat; }
#mainVis ul.slider > li .inner .topoffer-info:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
#mainVis ul.slider > li .inner .topoffer-info .topoffer-info-link { display:block; padding:15px 15px 15px 50px; color:#333333 !important; -webkit-transform: skew(25deg); -ms-transform: skew(25deg); transform: skew(25deg); }
#mainVis ul.slider > li .inner .topoffer-info .topoffer-info-link:after { position: absolute; top: 50%; right: 30px; display: inline-block; content: ""; width: 8px; height: 13px; margin-top: -4px; margin-right: -4px; background: url(/_shared/images/root/common/ico_arrow_001.png) no-repeat; }
#mainVis ul.slider > li .inner .topoffer-info .topoffer-info-img { float:left; width:64px; margin-right:15px;}
#mainVis ul.slider > li .inner .topoffer-info .topoffer-info-link:hover .topoffer-info-img img { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }
#mainVis ul.slider > li .inner .topoffer-info .topoffer-info-link .topoffer-info-ttl { font-size:20px; font-weight:bold; }
#mainVis ul.slider > li .inner .topoffer-info .topoffer-info-link:hover .topoffer-info-ttl { text-decoration:underline; }

#mainVis .controls-wrap { position: relative; width: 1080px; margin: 0 auto; }
#mainVis .bx-controls { background: rgba(255, 255, 255, 0.8); border-radius: 4px; padding: 10px 20px 10px 63px; position: absolute; right: 0; top: -138px; z-index: 57; }
#mainVis .bx-controls .bx-pager { width: 100%; height: 100%; }
#mainVis .bx-controls .bx-pager:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
#mainVis .bx-controls .bx-pager .bx-pager-item { width: 17px; height: 17px; margin-left: 10px; float: left; display: block; text-align: center; background: url(/_shared/images/root/common/sld_pager.png) right top no-repeat; }
#mainVis .bx-controls .bx-pager .bx-pager-item:first-child { margin: 0; }
#mainVis .bx-controls .bx-pager .bx-pager-item a { position: relative; display: block; width: 17px; height: 17px; outline: none; color: #fff; font-size: 10px; text-indent: -9999px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
#mainVis .bx-controls .bx-pager .bx-pager-item a:after { display: block; width: 17px; height: 17px; content: ""; top: 0; left: 0; position: absolute; z-index: 2; }
#mainVis .bx-controls .bx-pager .bx-pager-item a.active { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; background: none; color: #13448f; }
#mainVis .bx-controls .bx-pager .bx-pager-item a.active:after { background: url(/_shared/images/root/common/sld_pager.png) left top no-repeat; display: block; width: 17px; height: 17px; content: " "; top: 0; left: 0; position: absolute; z-index: 2; }
#mainVis .bx-controls .bx-controls-auto { position: absolute; top: 0; left: 0; }
#mainVis .bx-controls .bx-controls-auto:after { content: ""; width: 1px; height: 17px; background: #13448f; position: absolute; left: 46px; top: 10px; }
#mainVis .bx-controls .bx-controls-auto-item { text-align: left; font-size: 10px; font-size: 2px; }
#mainVis .bx-controls .bx-start { width: 47px; height: 37px; display: block; color: #13448f; position: relative; text-indent: -9999px; }
#mainVis .bx-controls .bx-start:after { content: ""; background: url(/_shared/images/root/common/sld_start.png) center no-repeat; width: 10px; height: 17px; display: block; position: absolute; top: 10px; left: 19px; }
#mainVis .bx-controls .bx-start.active { display: none; }
#mainVis .bx-controls .bx-stop { width: 47px; height: 37px; display: block; color: #13448f; position: relative; text-indent: -9999px; }
#mainVis .bx-controls .bx-stop:after { content: " "; background: url(/_shared/images/root/common/sld_stop.png) center no-repeat; width: 10px; height: 17px; display: block; position: absolute; top: 10px; left: 19px; }
#mainVis .bx-controls .bx-stop.active { display: none; }

/*-----------------------------------------------------
3カラム
------------------------------------------------------*/
.top-modules { /*
.svc-box { padding: 0 0 1px;
}
*/ /* .mod-modal-cont h2 { text-align: left; background: #4269a5; }*/ }
.top-modules .col3 > section { float: left; margin-left: 18px; width: 348px; position: relative; z-index: 52; }
.top-modules .col3 > section.first { margin-left: 0; }
.top-modules .item { background: #e9eef4; border: 1px solid #b9cadf; overflow: hidden; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.top-modules .item.flight-search { overflow: visible; }
.top-modules .item .inner { padding: 20px 20px 10px; border-top: 1px solid #b9cadf; }
.top-modules .item .inner p { line-height: 1.4; }
.top-modules .item.item-other .list-arrow-bdr li { border: none; padding: 0; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }
.top-modules .item.item-other .list-arrow-bdr li:first-child a { border-top: none; }
.top-modules .item.item-other .list-arrow-bdr li a { background: #e9eef4; border-top: 1px solid #b9cadf; display: block; padding: 22px 40px; }
.top-modules .item.item-other .list-arrow-bdr li a:hover { background-color: #2c579b; color: #fff; }
.top-modules .item.item-other .list-arrow-bdr li:after { content: ""; display: block; position: absolute; background: url(/_shared/images/root/common/ico_arrow_001.png) left top no-repeat; width: 8px; height: 13px; margin-top: -6px; top: 50%; right: 20px; }
.top-modules .item.item-other .list-arrow-bdr li:hover:after { content: " "; background: url(/_shared/images/root/common/ico_arrow_007.png) left top no-repeat; }
.top-modules h2 { text-align: center; color: #13448f; font-weight: normal; padding: 25px 0; border-bottom: 1px solid #b9cadf; font-size: 128.57143%; }
.top-modules h3 { text-align: center; color: #13448f; font-weight: normal; padding: 15px 0 15px; font-size: 114.28571%; }
.top-modules .svc-box-contents { background: #e9eef4; }
.top-modules .svc-bnr.inline li { float: left; }
.top-modules .svc-bnr li { background: #fff; border-top: 1px solid #b9cadf; position: relative; margin-bottom: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;       /*> * { vertical-align: middle; @include inline-block; }
 &:before { content: ""; height: 100%; vertical-align: middle; width: 0px; @include inline-block; }*/ }
.top-modules .svc-bnr li:hover { background-color: #2c579b; }
.top-modules .svc-bnr li:hover a { color: #fff; text-decoration: none; }
.top-modules .svc-bnr li:first-child { border-top: none; }
.top-modules .svc-bnr li:after { content: ""; display: block; position: absolute; background: url(/_shared/images/root/common/ico_arrow_001.png) left top no-repeat; width: 8px; height: 13px; margin-top: -6px; top: 50%; right: 20px; }
.top-modules .svc-bnr li:hover:after { content: " "; background: url(/_shared/images/root/common/ico_arrow_007.png) left top no-repeat; }
.top-modules .svc-bnr li a { display: block; padding: 22px 40px; }
.top-modules .svc-bnr-02 li { border-top: 1px solid #b9cadf; position: relative; margin-bottom: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.top-modules .svc-bnr-02 li:hover { background-color: #2c579b; }
.top-modules .svc-bnr-02 li:hover a { color: #fff; text-decoration: none; }
.top-modules .svc-bnr-02 li:first-child { border-top: none; }
.top-modules .svc-bnr-02 li:after { content: ""; display: block; position: absolute; background: url(/_shared/images/root/common/ico_arrow_001.png) left top no-repeat; width: 8px; height: 13px; margin-top: -6px; top: 50%; right: 20px; }
.top-modules .svc-bnr-02 li:hover:after { content: " "; background: url(/_shared/images/root/common/ico_arrow_007.png) left top no-repeat; }
.top-modules .svc-bnr-02 li.bdr-top-none { border-top: none; }
.top-modules .svc-bnr-02 li a { display: block; padding: 22px 40px; }
.top-modules .svc-bnr-02 li a span { font-size: 85.71429%; }
.top-modules .boarding-info-box01 { border-top: 1px solid #b9cadf; padding: 20px 0; display: block; padding: 20px 0 6px 30px; position: relative; }
.top-modules .boarding-info-box01.tour-boarding-info { border-top: 0; }
.top-modules .boarding-info-box01:before { content: ""; display: block; position: absolute; background: url(/_shared/images/root/common/ico_arrow_003.png) left center no-repeat; width: 5px; height: 7px; top: 24px; left: 20px; }
.top-modules .boarding-info-box02 { padding: 20px 0; display: block; padding: 6px 0 20px 30px; position: relative; }
.top-modules .boarding-info-box02:before { content: ""; display: block; position: absolute; background: url(/_shared/images/root/common/ico_arrow_003.png) left center no-repeat; width: 5px; height: 7px; top: 10px; left: 20px; }
.top-modules .svc-bnr-other { background: #fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.top-modules .svc-bnr-other > li > a, .top-modules .svc-bnr-other > li > span { display: block; padding: 22px 40px; position: relative; cursor: pointer; }
.top-modules .svc-bnr-other > li > a:hover, .top-modules .svc-bnr-other > li > span:hover { color: #fff; background-color: #2c579b; }
.top-modules .svc-bnr-other > li > a:hover:before, .top-modules .svc-bnr-other > li > span:hover:before { background: url(/_shared/images/root/common/ico_arrow_011.png) left top no-repeat; }
.top-modules .svc-bnr-other > li > a:before, .top-modules .svc-bnr-other > li > span:before { content: ""; display: block; position: absolute; background: url(/_shared/images/root/common/ico_arrow_006.png) left top no-repeat; width: 12px; height: 13px; margin-top: -4px; top: 50%; right: 20px; }
.top-modules .svc-bnr-other > li .open > a:before, .top-modules .svc-bnr-other > li.open > span:before { content: " "; background-image: url(/_shared/images/root/common/ico_arrow_008.png); }
.top-modules .svc-bnr-other > li.open > span:hover:before { background-image: url(/_shared/images/root/common/ico_arrow_012.png); }
.top-modules .svc-bnr-other .panel_row { display: none; border-top: 1px solid #b9cadf; background-color: #e8eef4; }
.top-modules .text-box { line-height: 1.5; border-top: 1px solid #b9cadf; border-bottom: 1px solid #b9cadf; padding: 20px; }
.top-modules .text-box p { margin-bottom: 10px; }
.top-modules .text-box .notes { font-size: 85.71429%; padding-left: 1em; text-indent: -1em; }
.top-modules .login-area { display: none; }
.top-modules .login-area-list { margin-bottom: 10px; }
.top-modules .login-area-list:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.top-modules .login-area-list li { float: left; text-align: center; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.top-modules .login-area-list .btn-login { background-color: #fac634; width: 170px; }
.top-modules .login-area-list .btn-login.btn-link { position: relative; }
.top-modules .login-area-list .btn-login.btn-link:after { content: ""; display: block; position: absolute; width: 8px; height: 13px; top: 50%; right: 10px; background: url(/_shared/images/root/common/ico_arrow_002.png) no-repeat; margin-top: -6px; }
.top-modules .login-area-list .btn-login a { padding: 15px 20px; text-align: left; }
.top-modules .login-area-list .btn-login:hover { background-color: #ffdd67; }
.top-modules .login-area-list .btn-login:hover a { text-decoration: none; }
.top-modules .login-area-list .btn-login span { display: block; font-size: 10px; }
.top-modules .login-area-list .btn-white { background: #fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; border: 1px solid #ddd; width: 116px; height: 59px; float: right; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.top-modules .login-area-list .btn-white:hover { background-color: #2c579b; }
.top-modules .login-area-list .btn-white:hover a { color: #fff; }
.top-modules .login-area-list .btn-white a { display: block; padding: 20px; }
.top-modules #flight-route, .top-modules #flight-number { padding: 20px; background: #d1dfef; }
.top-modules .flight-search-bnr { text-align: center; display: table; width: 100%; overflow: hidden; }
.top-modules .flight-search-bnr li { width: 50%; padding: 13px 0; background: #fff; display: table-cell; cursor: pointer; background: #fff; vertical-align: middle; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.top-modules .flight-search-bnr li:hover { color: #fff; background-color: #2c579b; }
.top-modules .flight-search-bnr li.current { background: #d1dfef; color: #333; }
.top-modules .flight-submit { width: 100%; margin-bottom: 10px; font-size: 0; }
.top-modules .flight-submit li { vertical-align: middle; display: inline-block; font-size: 14px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.top-modules .flight-submit li.item-input { width: 207px; margin-bottom: 0; }
.top-modules .flight-submit li.btn { width: 90px; float: right; background: #13448f; padding: 0 0; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.top-modules .flight-submit li.btn:hover { background-color: #2c579b; }
.top-modules .flight-submit li.right-min { width: 90px !important; float: right; }
.top-modules .flight-num-input { width: 100%; display: table; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.top-modules .flight-num-input dt { display: table-cell; vertical-align: middle; width: 40%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.top-modules .flight-num-input dd { width: 60%; display: table-cell; vertical-align: middle; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.top-modules .flight-num-input dd input.item-text { background: #fff none repeat scroll 0 0; border: 1px solid #dddddd; height: 42px; line-height: 30px; padding: 5px; display: block; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.top-modules .flight-num-input dd.btn { width: 90px; background: #13448f; padding: 2px 0; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.top-modules .flight-num-input dd.btn:hover { background-color: #2c579b; }
.top-modules .flight-num-input dd.right-min { width: 90px !important; }
.top-modules .flight-num-input .btn-submit p, .top-modules .flight-num-input .btn-submit a { padding: 10px 0; }
.top-modules .flight-link-area:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.top-modules .flight-link-area li { float: left; margin-left: 10px; background: #fff; border: 1px solid #b9cadf; text-align: center; vertical-align: middle; width: 146px; display: table; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; font-size: 85.71429%; }
.top-modules .flight-link-area li:first-child { margin-left: 0; }
.top-modules .flight-link-area li p, .top-modules .flight-link-area li a { display: table-cell; padding: 15px 19px; cursor: pointer; height: 58px; vertical-align: middle; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.top-modules .flight-link-area li p:hover, .top-modules .flight-link-area li a:hover { color: #fff; text-decoration: none; background-color: #2c579b; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.top-modules .flight-route-input .select-dep, .top-modules .flight-route-input .select-arr { width: 200px; }
.top-modules .flight-route-input li.item-input { width: 270px; }
.top-modules .flight-search-box { border-bottom: 1px solid #b9cadf; }
.top-modules .flight-search-box .btn-submit input, .top-modules .flight-search-box .btn-submit-02 input { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.top-modules #boarding-info ul li { height: auto; }
.top-modules #boarding-info > div { border-bottom: 1px solid #b9cadf; }
.top-modules .ico-boarding-01 > a, .top-modules .ico-boarding-01 > span { position: relative; padding-left: 60px !important; }
.top-modules .ico-boarding-01 > a:after, .top-modules .ico-boarding-01 > span:after { background-image: url('/_shared/images/root/common/boarding.png'); background-position: 0 0; content: ""; display: block; height: 30px; width: 30px; position: absolute; left: 20px; top: 50%; margin-top: -15px; }
.top-modules .ico-boarding-02 > a, .top-modules .ico-boarding-02 > span { position: relative; padding-left: 60px !important; }
.top-modules .ico-boarding-02 > a:after, .top-modules .ico-boarding-02 > span:after { background-image: url('/_shared/images/root/common/boarding.png'); background-position: 0 -30px; content: ""; display: block; height: 30px; width: 30px; position: absolute; left: 20px; top: 50%; margin-top: -15px; }
.top-modules .ico-boarding-03 > a, .top-modules .ico-boarding-03 > span { position: relative; padding-left: 60px !important; }
.top-modules .ico-boarding-03 > a:after, .top-modules .ico-boarding-03 > span:after { background-image: url('/_shared/images/root/common/boarding.png'); background-position: 0 -60px; content: ""; display: block; height: 30px; width: 30px; position: absolute; left: 20px; top: 50%; margin-top: -15px; }
.top-modules .ico-boarding-04 > a, .top-modules .ico-boarding-04 > span { position: relative; padding-left: 60px !important; }
.top-modules .ico-boarding-04 > a:after, .top-modules .ico-boarding-04 > span:after { background-image: url('/_shared/images/root/common/boarding.png'); background-position: 0 -90px; content: ""; display: block; height: 30px; width: 30px; position: absolute; left: 20px; top: 50%; margin-top: -15px; }
.top-modules .ico-boarding-05 > a, .top-modules .ico-boarding-05 > span { position: relative; padding-left: 60px !important; }
.top-modules .ico-boarding-05 > a:after, .top-modules .ico-boarding-05 > span:after { background-image: url('/_shared/images/root/common/boarding.png'); background-position: 0 -120px; content: ""; display: block; height: 30px; width: 30px; position: absolute; left: 20px; top: 50%; margin-top: -15px; }
.top-modules .ico-boarding-06 > a, .top-modules .ico-boarding-06 > span { position: relative; padding-left: 60px !important; }
.top-modules .ico-boarding-06 > a:after, .top-modules .ico-boarding-06 > span:after { background-image: url('/_shared/images/root/common/boarding.png'); background-position: 0 -150px; content: ""; display: block; height: 31px; width: 31px; position: absolute; left: 20px; top: 50%; margin-top: -15px; }
.top-modules .ico-boarding-07 > a, .top-modules .ico-boarding-07 > span { position: relative; padding-left: 60px !important; }
.top-modules .ico-boarding-07 > a:after, .top-modules .ico-boarding-07 > span:after { background-image: url('/_shared/images/root/common/boarding.png'); background-position: 0 -181px; content: ""; display: block; height: 31px; width: 31px; position: absolute; left: 20px; top: 50%; margin-top: -15px; }
.top-modules .ico-boarding-08 > a, .top-modules .ico-boarding-08 > span { position: relative; padding-left: 60px !important; }
.top-modules .ico-boarding-08 > a:after, .top-modules .ico-boarding-08 > span:after { background-image: url('/_shared/images/root/common/boarding.png'); background-position: 0 -212px; content: ""; display: block; height: 31px; width: 31px; position: absolute; left: 20px; top: 50%; margin-top: -15px; }
.top-modules .ico-boarding-09 > a, .top-modules .ico-boarding-09 > span { position: relative; padding-left: 60px !important; }
.top-modules .ico-boarding-09 > a:after, .top-modules .ico-boarding-09 > span:after { background-image: url('/_shared/images/root/common/boarding.png'); background-position: 0 -243px; content: ""; display: block; height: 31px; width: 31px; position: absolute; left: 20px; top: 50%; margin-top: -15px; }
.top-modules .ico-boarding-10 > a, .top-modules .ico-boarding-10 > span { position: relative; padding-left: 60px !important; }
.top-modules .ico-boarding-10 > a:after, .top-modules .ico-boarding-10 > span:after { background-image: url('/_shared/images/root/common/boarding.png'); background-position: 0 -274px; content: ""; display: block; height: 30px; width: 30px; position: absolute; left: 20px; top: 50%; margin-top: -15px; }
.top-modules .ico-boarding-11 > a, .top-modules .ico-boarding-11 > span { position: relative; padding-left: 60px !important; }
.top-modules .ico-boarding-11 > a:after, .top-modules .ico-boarding-11 > span:after { background-image: url('/_shared/images/root/common/boarding.png'); background-position: 0 -304px; content: ""; display: block; height: 30px; width: 30px; position: absolute; left: 20px; top: 50%; margin-top: -15px; }
.top-modules .ico-boarding-12 > a, .top-modules .ico-boarding-12 > span { position: relative; padding-left: 60px !important; }
.top-modules .ico-boarding-12 > a:after, .top-modules .ico-boarding-12 > span:after { background-image: url('/_shared/images/root/common/boarding.png'); background-position: 0 -334px; content: ""; display: block; height: 30px; width: 30px; position: absolute; left: 20px; top: 50%; margin-top: -15px; }
.top-modules .ico-boarding-13 > a, .top-modules .ico-boarding-13 > span { position: relative; padding-left: 60px !important; }
.top-modules .ico-boarding-13 > a:after, .top-modules .ico-boarding-13 > span:after { background-image: url('/_shared/images/root/common/boarding.png'); background-position: 0 -364px; content: ""; display: block; height: 30px; width: 30px; position: absolute; left: 20px; top: 50%; margin-top: -15px; }
.top-modules .ico-boarding-14 > a, .top-modules .ico-boarding-14 > span { position: relative; padding-left: 60px !important; }
.top-modules .ico-boarding-14 > a:after, .top-modules .ico-boarding-14 > span:after { background-image: url('/_shared/images/root/common/boarding.png'); background-position: 0 -394px; content: ""; display: block; height: 30px; width: 30px; position: absolute; left: 20px; top: 50%; margin-top: -15px; }
.top-modules .ico-boarding-15 > a, .top-modules .ico-boarding-15 > span { position: relative; padding-left: 60px !important; }
.top-modules .ico-boarding-15 > a:after, .top-modules .ico-boarding-15 > span:after { background-image: url('/_shared/images/root/common/boarding.png'); background-position: 0 -424px; content: ""; display: block; height: 30px; width: 30px; position: absolute; left: 20px; top: 50%; margin-top: -15px; }
.top-modules .ico-boarding-16 > a, .top-modules .ico-boarding-16 > span { position: relative; padding-left: 60px !important; }
.top-modules .ico-boarding-16 > a:after, .top-modules .ico-boarding-16 > span:after { background-image: url('/_shared/images/root/common/boarding.png'); background-position: 0 -454px; content: ""; display: block; height: 30px; width: 30px; position: absolute; left: 20px; top: 50%; margin-top: -15px; }
.top-modules .ico-boarding-17 > a, .top-modules .ico-boarding-17 > span { position: relative; padding-left: 60px !important; }
.top-modules .ico-boarding-17 > a:after, .top-modules .ico-boarding-17 > span:after { background-image: url('/_shared/images/root/common/boarding.png'); background-position: 0 -484px; content: ""; display: block; height: 30px; width: 30px; position: absolute; left: 20px; top: 50%; margin-top: -15px; }
.top-modules .ico-boarding-18 > a, .top-modules .ico-boarding-18 > span { position: relative; padding-left: 60px !important; }
.top-modules .ico-boarding-18 > a:after, .top-modules .ico-boarding-18 > span:after { background-image: url('/_shared/images/root/common/boarding.png'); background-position: 0 -514px; content: ""; display: block; height: 31px; width: 31px; position: absolute; left: 20px; top: 50%; margin-top: -15px; }
.top-modules .ico-boarding-19 > a, .top-modules .ico-boarding-19 > span { position: relative; padding-left: 60px !important; }
.top-modules .ico-boarding-19 > a:after, .top-modules .ico-boarding-19 > span:after { background-image: url('/_shared/images/root/common/boarding.png'); background-position: 0 -545px; content: ""; display: block; height: 30px; width: 30px; position: absolute; left: 20px; top: 50%; margin-top: -15px; }
.top-modules .ico-boarding-20 > a, .top-modules .ico-boarding-20 > span { position: relative; padding-left: 60px !important; }
.top-modules .ico-boarding-20 > a:after, .top-modules .ico-boarding-20 > span:after { background-image: url('/_shared/images/root/common/boarding.png'); background-position: 0 -575px; content: ""; display: block; height: 30px; width: 30px; position: absolute; left: 20px; top: 50%; margin-top: -15px; }
.top-modules .ico-boarding-21 > a, .top-modules .ico-boarding-21 > span { position: relative; padding-left: 60px !important; }
.top-modules .ico-boarding-21 > a:after, .top-modules .ico-boarding-21 > span:after { background-image: url('/_shared/images/root/common/boarding.png'); background-position: 0 -605px; content: ""; display: block; height: 30px; width: 30px; position: absolute; left: 20px; top: 50%; margin-top: -15px; }

.ie9 .top-modules .flight-num-input dd input.item-text { width: 165px; }

/*-----------------------------------------------------
旅割75
------------------------------------------------------*/
#tabiwari-data-box, #tabisaku-sale-box { overflow: hidden; }

.tabiwari75 { background: #f0f1f4; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding-top: 60px; padding-bottom: 60px; position: relative; }
.tabiwari75 header { background: none; margin-bottom: 40px; }
.tabiwari75 h2 { background: url(/_shared/images/root/common/ttl_tabiwari_001.png) left center no-repeat; padding-left: 70px; font-size: 214.28571%; font-weight: normal; float: left; }
.tabiwari75 .tabiwari-fare { float: right;    /* dt { color: #fff; padding: 10px 20px; border: 1px solid #fff; float: left; margin-right: 10px; }
 dd { float: left; }*/ }
.tabiwari75 .note { display: block; text-align: right; margin-top: 15px; color: #666666; font-size: 85.71429%; }

.btn-fare { text-align: center; margin-top: 20px; margin-bottom: 50px; }
.btn-fare .btn-submit { background-color: #13348f; padding: 0; display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; }
.btn-fare .btn-submit.btn-link { position: relative; }
.btn-fare .btn-submit.btn-link:hover { background-color: #2C579B; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.btn-fare .btn-submit.btn-link:after { content: ""; display: block; position: absolute; width: 8px; height: 13px; top: 50%; right: 10px; background: url(/_shared/images/root/common/ico_arrow_007.png) no-repeat; margin-top: -6px; }
.btn-fare .btn-submit a { padding: 15px 40px 15px 20px; line-height: 14px; }

.tabiwari-data-list { min-height: 1px; margin-right: -40px; }
.tabiwari-data-list:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.tabiwari-data-list a:hover { text-decoration: none; }
.tabiwari-data-list li { cursor: pointer; width: 520px; float: left; margin-right: 40px; margin-bottom: 30px; text-align: left; opacity: 0; transition: opacity ease-in .5s; }
.tabiwari-data-list li:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.tabiwari-data-list li .thumb { float: left; }
.tabiwari-data-list li .thumb a { display: block; }
.tabiwari-data-list li .thumb a img { -moz-border-radius: 80px; -webkit-border-radius: 80px; border-radius: 80px; }
.tabiwari-data-list li .thumb .thumb_arr { -moz-border-radius: 80px; -webkit-border-radius: 80px; border-radius: 80px; width: 150px; height: 150px; float: left; overflow: hidden; background-repeat: no-repeat; background-position: left top; }
.tabiwari-data-list li .thumb.AKJ .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_AKJ.jpg); }
.tabiwari-data-list li .thumb.AOJ .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_AOJ.jpg); }
.tabiwari-data-list li .thumb.AXT .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_AXT.jpg); }
.tabiwari-data-list li .thumb.CTS .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_CTS.jpg); }
.tabiwari-data-list li .thumb.FKS .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_FKS.jpg); }
.tabiwari-data-list li .thumb.FSZ .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_FSZ.jpg); }
.tabiwari-data-list li .thumb.FUJ .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_FUJ.jpg); }
.tabiwari-data-list li .thumb.FUK .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_FUK.jpg); }
.tabiwari-data-list li .thumb.HAC .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_HAC.jpg); }
.tabiwari-data-list li .thumb.HIJ .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_HIJ.jpg); }
.tabiwari-data-list li .thumb.HKD .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_HKD.jpg); }
.tabiwari-data-list li .thumb.HND .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_HND.jpg); }
.tabiwari-data-list li .thumb.HSG .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_HSG.jpg); }
.tabiwari-data-list li .thumb.IKI .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_IKI.jpg); }
.tabiwari-data-list li .thumb.ISG .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_ISG.jpg); }
.tabiwari-data-list li .thumb.ITM .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_ITM.jpg); }
.tabiwari-data-list li .thumb.IWJ .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_IWJ.jpg); }
.tabiwari-data-list li .thumb.IWK .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_IWK.jpg); }
.tabiwari-data-list li .thumb.KCZ .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_KCZ.jpg); }
.tabiwari-data-list li .thumb.KIJ .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_KIJ.jpg); }
.tabiwari-data-list li .thumb.KIX .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_KIX.jpg); }
.tabiwari-data-list li .thumb.KKJ .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_KKJ.jpg); }
.tabiwari-data-list li .thumb.KMI .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_KMI.jpg); }
.tabiwari-data-list li .thumb.KMJ .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_KMJ.jpg); }
.tabiwari-data-list li .thumb.KMQ .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_KMQ.jpg); }
.tabiwari-data-list li .thumb.KOJ .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_KOJ.jpg); }
.tabiwari-data-list li .thumb.KUH .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_KUH.jpg); }
.tabiwari-data-list li .thumb.MBE .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_MBE.jpg); }
.tabiwari-data-list li .thumb.MMB .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_MMB.jpg); }
.tabiwari-data-list li .thumb.MMY .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_MMY.jpg); }
.tabiwari-data-list li .thumb.MYJ .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_MYJ.jpg); }
.tabiwari-data-list li .thumb.NGO .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_NGO.jpg); }
.tabiwari-data-list li .thumb.NGS .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_NGS.jpg); }
.tabiwari-data-list li .thumb.NRT .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_NRT.jpg); }
.tabiwari-data-list li .thumb.NTQ .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_NTQ.jpg); }
.tabiwari-data-list li .thumb.OBO .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_OBO.jpg); }
.tabiwari-data-list li .thumb.OIT .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_OIT.jpg); }
.tabiwari-data-list li .thumb.OKA .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_OKA.jpg); }
.tabiwari-data-list li .thumb.OKJ .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_OKJ.jpg); }
.tabiwari-data-list li .thumb.ONJ .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_ONJ.jpg); }
.tabiwari-data-list li .thumb.SDJ .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_SDJ.jpg); }
.tabiwari-data-list li .thumb.SHB .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_SHB.jpg); }
.tabiwari-data-list li .thumb.SYO .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_SYO.jpg); }
.tabiwari-data-list li .thumb.TAK .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_TAK.jpg); }
.tabiwari-data-list li .thumb.TKS .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_TKS.jpg); }
.tabiwari-data-list li .thumb.TOY .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_TOY.jpg); }
.tabiwari-data-list li .thumb.TSJ .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_TSJ.jpg); }
.tabiwari-data-list li .thumb.TTJ .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_TTJ.jpg); }
.tabiwari-data-list li .thumb.UBJ .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_UBJ.jpg); }
.tabiwari-data-list li .thumb.UKB .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_UKB.jpg); }
.tabiwari-data-list li .thumb.WKJ .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_WKJ.jpg); }
.tabiwari-data-list li .thumb.YGJ .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_YGJ.jpg); }
.tabiwari-data-list li .thumb.RIS .thumb_arr { background-image: url(/top-operat-ver2/images/dom/fare_thumb/thumb_RIS.jpg); }
.tabiwari-data-list li .text { width: 340px; float: right; margin-left: 28px; }
.tabiwari-data-list li .text span { color: #da0303; }
.tabiwari-data-list li .text .route { padding-top: 40px; display: block; border-bottom: 1px dotted #bbb; margin-bottom: 10px; padding-bottom: 10px; color: #333; font-size: 114.28571%; }
.tabiwari-data-list li .text .route_dep, .tabiwari-data-list li .text .route_arr { color: #333; }
.tabiwari-data-list li .text .price { font-size: 242.85714%; color: #da0303; }
.tabiwari-data-list li .text .price > .type { display: none; padding-left: 80px; background: left center no-repeat; background-size: 30%; }
.ie8 .tabiwari-data-list li .text .price > .type { padding-left: 100px; }
.tabiwari-data-list li .text .price > .type.tabi21 { background-image: url(/common-operation/recommend_tabiwari/images/ttl_21_2.png); }
.tabiwari-data-list li .text .price > .type.tabi28 { background-image: url(/common-operation/recommend_tabiwari/images/ttl_28_2.png); }
.tabiwari-data-list li .text .price > .type.tabi45 { background-image: url(/common-operation/recommend_tabiwari/images/ttl_45_2.png); }
.tabiwari-data-list li .text .price > .type.tabi55 { background-image: url(/common-operation/recommend_tabiwari/images/ttl_55_2.png); }
.tabiwari-data-list li .text .price > .type.tabi75 { background-image: url(/common-operation/recommend_tabiwari/images/ttl_75_2.png); }
.tabiwari-data-list li .text .price > .type.lowest { display: inline-block; }
.tabiwari-data-list li .text .price > .hide { display: none; }
.tabiwari-data-list li:hover .text > span.route { text-decoration: underline; }
.tabiwari-data-list li .text .price .yen { font-size: 41.17647%; }
.tabiwari-data-list li .text .price .yen:hover { text-decoration: none !important; }
.tabiwari-data-list li:hover .thumb .thumb_arr { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }
.tabiwari-data-list li:hover .text > span.route { text-decoration: underline; }
.tabiwari-data-list li:hover .text > span.price { border-bottom: 1px solid #da0303; }

.errorBox { line-height: 1.5; }
.errorBox .notes { color: #999; margin-top: 10px; font-size: 85.71429%; }

#tabiwari-bnr-box .col3 > li img { /*  border: 1px solid #ddd;*/ }

/*-----------------------------------------------------
国内線サービス
------------------------------------------------------*/
.ie8 .service-area .box-service { background: url(/_shared/images/root/common/bg_whte_opacity9.png) left top repeat; }

.service-area { background: url(/_shared/images/root/dom/bg_service_001.jpg) center top no-repeat #161c1c; padding-top: 60px; padding-bottom: 60px; }
.service-area h2 { color: #fff; font-weight: normal; margin-bottom: 30px; text-align: center; font-size: 214.28571%; }
.service-area .service-info-area { color: #fff; margin-bottom: 230px; }
.service-area .service-info-area dl { text-align: center; }
.service-area .service-info-area dl dt { font-size: 142.85714%; line-height: 1.5; margin-bottom: 15px; }
.service-area .service-info-area dl dd { text-align: left; margin-bottom: 20px; }
.service-area .service-info-area dl dd a { display: block; background-color: #fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.service-area .service-info-area dl dd a img { border: 1px solid #ddd; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.service-area .service-info-area dl dd a img:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }
.service-area p { text-align: center; line-height: 1.5em; margin-bottom: 20px; font-weight: normal; color: #fff; font-size: 214.28571%; }
.service-area p:hover { text-decoration: underline; }
.service-area .service-area-textlink ul li { background-color: #fff; margin: 0 20px 20px 0; display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; letter-spacing: 0; vertical-align: top; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.service-area .service-area-textlink ul li:hover { background-color: #2c579b; }
.service-area .service-area-textlink ul li:hover a { text-decoration: none; color: #fff; }
.service-area .service-area-textlink ul li:hover a:before { background: url(/_shared/images/root/common/ico_arrow_004.png) left top no-repeat; }
.service-area .service-area-textlink ul li a { display: block; padding-left: 16px; position: relative; }
.service-area .service-area-textlink ul li a:before { content: ""; display: block; position: absolute; background: url(/_shared/images/root/common/ico_arrow_003.png) left top no-repeat; width: 5px; height: 7px; margin-top: -5px; top: 50%; left: 0; }
.service-area .box-service { background: url(/_shared/images/root/common/bg_whte_opacity9.png) left top repeat; padding: 39px 0; min-height: 1px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.service-area .box-service:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.service-area .box-service dl { float: left; border-left: 1px solid #dddddd; width: 189px; padding: 0 40px; }
.service-area .box-service dl:first-of-type { border-left: none; }
.service-area .box-service dl:last-of-type { border-right: none; }
.service-area .box-service dl dt { font-size: 128.57143%; line-height: 1.5em; margin-bottom: 15px; }
.service-area .box-service dl dt a:hover { text-decoration: none; }
.service-area .box-service dl dd { line-height: 1.5; }
.service-area .box-service dl dd ul li { margin-bottom: 10px; background: url(/_shared/images/root/common/ico_arrow_003.png) left 6px no-repeat; padding-left: 15px; }
.service-area .box-service dl dd ul li a:hover { color: #354f88; }
.service-area .box-service .bnr-area { padding: 40px; padding-bottom: 0; clear: both; }
.service-area .box-service .bnr-area:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.service-area .box-service .bnr-area li { margin-bottom: 0; margin-left: 20px; float: right; }
.service-area .box-service .bnr-area a { color: #2c579b; display: block; background-color: #fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.service-area .box-service .bnr-area a:before { background: url(/_shared/images/root/common/ico_arrow_003.png) left top no-repeat; }
.service-area .box-service .bnr-area a img { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; border: 1px solid #ddd; }
.service-area .box-service .bnr-area a:hover img { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }

.service-bnr-btm { background-color: #ddd; padding: 20px; }
.service-bnr-btm ul { text-align: center; }
.service-bnr-btm ul li { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; margin-left: 20px; }
.service-bnr-btm ul li:first-child { margin-left: 0; }
.service-bnr-btm ul li a { display: block; background-color: #fff; }
.service-bnr-btm ul li a:hover img { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }
