.transitionP2, .user-follow, .profile-box .ppe-list .people, .favorites-item .fi-trigger, .favorites-item .fi-image, .favorites-item .fi-image img, .favorites-item .fi-right, .favorites-item .fi-right .mail-bt .mb-off, .favorites-item .fi-list {
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.textOverflow, .profile-top .p-nav .profile-details .username, .profile-top .p-nav .profile-details .area, .p-watched .pw-content .pw-title, .p-watched .pw-content .pw-name, .p-review .pr-right .pr-title, .p-review .pr-right .pr-name, .my-link .my-left .ml-name, .ff-list .ff-box .ffb-user, .ff-list .ff-box .area, .favorites-item .fi-right .serie, .favorites-item .fi-list .fil-item .link, .favorites-item .fi-list .fil-item .date, .feed-left .flu-right .user, .feed-left .flu-right .back, .feed-left .flu-right .area {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Profile Container */
.feed-container,
.profile-container {
    width: 1040px;
    margin: 0 auto;
}

.profile-top {
    width: 100%;
    height: 320px;
    float: left;
    position: relative;
}

.profile-top .cover {
    width: 100%;
    height: 280px;
    float: left;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#181818, #0c0c0c);
}

.profile-top .cover img {
    width: 100%;
}

.profile-top .p-nav {
    width: 100%;
    height: 50px;
    float: left;
    background: #1e1e1e;
    border-radius: 0 0 3px 3px;
    position: relative;
    z-index: 9;
}

.profile-top .profile-image {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 15px;
    margin-left: -75px;
}

.profile-top .profile-image .chartDrop {
    width: 150px;
    position: absolute;
    right: -170px;
    background: rgba(255, 255, 255, 0.05);
    padding: 4px 10px;
    font-weight: 600;
    letter-spacing: -0.5px;
    font-size: 12px;
    color: #999999;
    top: 10px;
    border-radius: 0 3px 3px 3px;
    -webkit-transform: perspective(300px) rotateY(90deg);
    -ms-transform: perspective(300px) rotateY(90deg);
    -moz-transform: perspective(300px) rotateY(90deg);
    transform: perspective(300px) rotateY(90deg);
    transform-origin: 0 40px;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
}

.profile-top .profile-image .chartDrop.active {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition-delay: .8s;
    /* Safari */
    transition-delay: .8s;
}

.profile-top .profile-image .chartDrop:before {
    border: solid transparent;
    border-right-color: rgba(255, 255, 255, 0.05);
    border-width: 5px;
    left: -10px;
    top: 5px;
    content: '';
    position: absolute;
    height: 0;
    width: 0;
}

.profile-top .profile-image .chartDrop ul li {
    width: 100%;
    margin: 1px 0;
    float: left;
    text-shadow: 1px 1px #000;
    color: #999 !important;
    position: relative;
}

.profile-top .profile-image .chartDrop ul li:before {
    width: 6px;
    height: 6px;
    float: left;
    content: ' ';
    border-radius: 50%;
    margin: 5px 5px 0 0;
}

.profile-top .profile-image .chartDrop ul li:nth-child(1):before {
    background: #d93d59;
}

.profile-top .profile-image .chartDrop ul li:nth-child(2):before {
    background: #4b76c4;
}

.profile-top .profile-image .chartDrop ul li:nth-child(3):before {
    background: #4f8c81;
}

.profile-top .profile-image .chartDrop ul li:nth-child(4):before {
    background: #f29544;
}

.profile-top .profile-image .chartDrop ul li:nth-child(5):before {
    background: #d95436;
}

.profile-top .profile-image .chartDrop ul li:nth-child(6):before {
    background: #23b4a6;
}

.profile-top .profile-image .chartDrop ul li:nth-child(7):before {
    background: #68b465;
}

.profile-top .profile-image .pimg {
    width: 142px;
    height: 142px;
    position: absolute;
    left: 4px;
    top: 4px;
    border-radius: 50%;
    background: #a6a6a6;
    z-index: 99;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.profile-top .profile-image .pimg img {
    width: 100%;
}

.profile-top .profile-image .pi-bar-overflow {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    border-radius: 50%;
    background: #a6a6a6;
    border-radius: 50%;
}

.profile-top .profile-image .pi-bar-overflow .pi-bar {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #e1184f;
}

.profile-top .profile-image .level-percentage {
    width: 33px;
    height: 24px;
    position: absolute;
    left: 3px;
    bottom: -5px;
    background: url("../img/profile-level-percentage.png");
    color: #fff;
    line-height: 24px;
    text-align: center;
    padding-right: 8px;
    font-size: 9px;
}

.profile-top .profile-image .level-main {
    width: 33px;
    height: 24px;
    position: absolute;
    right: 3px;
    bottom: -5px;
    background: url("../img/profile-level-main.png");
    color: #fff;
    line-height: 24px;
    text-align: center;
    padding-left: 8px;
    font-size: 9px;
}

.profile-top .profile-details {
    width: 100%;
    position: absolute;
    left: 0;
    top: 170px;
    text-align: center;
    bottom: 60px;
}

.profile-top .profile-details .username {
    width: auto;
    height: 28px;
    display: inline-block;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: -0.7px;
    color: #fff;
    max-width: 100%;
}

.profile-top .profile-details .username.verified:before {
    width: 22px;
    height: 22px;
    float: right;
    background: url("../img/verified.png");
    content: ' ';
    margin: 3px 0 0 5px;
}

.profile-top .profile-details .area {
    width: 100%;
    height: 12px;
    line-height: 12px;
    float: left;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.7);
}

.profile-top .profile-details .area:before {
    width: 10px;
    height: 10px;
    float: left;
    background: url("../img/profile-area.png");
    content: ' ';
    margin: 1px 2px 0 0;
}

.profile-top .profile-details p {
    width: 100%;
    max-height: 16px;
    float: left;
    overflow: hidden;
    line-height: 16px;
    padding: 0 100px;
    color: rgba(255, 255, 255, 0.7);
}

.profile-top .profile-f {
    width: 100%;
    height: 16px;
    position: absolute;
    left: 0;
    top: 200px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.profile-top .profile-f a {
    color: rgba(255, 255, 255, 0.5);
}

.profile-top .profile-f a:hover {
    text-decoration: underline;
}

.profile-top .p-nav .profile-bts {
    width: 100%;
    height: 30px;
    position: absolute;
    left: 0;
    bottom: 75px;
    text-align: center;
}

.profile-top .p-nav .profile-bts > a,
.profile-top .p-nav .profile-bts > div {
    margin: 0 5px;
    float: none;
    display: inline-block;
}

.profile-top .p-nav .profile-bts .more {
    width: 30px;
    height: 30px;
    position: relative;
}

.profile-top .p-nav .profile-bts .more .more-trigger {
    width: 30px;
    height: 30px;
    float: left;
    background: url("../img/profile-more-bt.png") #000000 top;
    border-radius: 2px;
    cursor: pointer;
    opacity: .5;
}

.profile-top .p-nav .profile-bts .more .more-trigger:hover {
    opacity: 1;
}

.profile-top .p-nav .profile-bts .more .more-drop {
    width: 120px;
    position: absolute;
    right: 0;
    top: 40px;
    background: #fff;
    border-radius: 2px;
    display: none;
    padding: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.profile-top .p-nav .profile-bts .more .more-drop:before {
    border: solid transparent;
    border-bottom-color: #fff;
    border-width: 5px;
    right: 10px;
    top: -9px;
    content: '';
    position: absolute;
    height: 0;
    width: 0;
}

.profile-top .p-nav .profile-bts .more .more-drop ul li {
    width: 100%;
    height: auto;
    float: left;
}

.profile-top .p-nav .profile-bts .more .more-drop ul li a {
    width: 100%;
    height: auto;
    float: left;
    padding: 5px 7px;
    color: #666666;
    font-size: 12px;
}

.profile-top .p-nav .profile-bts .more .more-drop ul li a:hover {
    background: #f1f1f1;
}

.profile-top .p-nav .profile-bts .more.active .more-trigger {
    opacity: 1;
    background-position: bottom;
    background-color: #fff;
}

.profile-top .p-nav .profile-bts .more.active .more-drop {
    display: block;
}

.profile-top .p-nav .profile-bts .settings {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url("../img/profile-settings-bt.png") #000000 top;
    border-radius: 2px;
    cursor: pointer;
    opacity: .5;
}

.profile-top .p-nav .profile-bts .settings:hover {
    opacity: 1;
}

.profile-top .p-nav .user-message {
    width: auto;
    height: 30px;
    float: left;
    background: #414141;
    border-radius: 2px;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    font-size: 13px;
    padding: 0 10px 0 30px;
}

.profile-top .p-nav .user-message:hover {
    background: #363636;
}

.profile-top .p-nav .user-message:before {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 8px;
    top: 7px;
    background: url("../img/user-message.png");
    content: ' ';
}

.profile-top .p-nav .profile-menu {
    width: 100%;
    height: 50px;
    float: left;
    text-align: center;
}

.profile-top .p-nav .profile-menu > ul {
    width: auto;
    display: inline-block;
}

.profile-top .p-nav .profile-menu > ul li {
    width: auto;
    height: 50px;
    float: left;
}

.profile-top .p-nav .profile-menu > ul li a {
    width: auto;
    height: 50px;
    float: left;
    color: #BBB;
    font-size: 15px;
    letter-spacing: -0.3px;
    line-height: 50px;
    padding: 0 10px;
}

.profile-top .p-nav .profile-menu > ul li a:hover {
    background: #181818;
    color: #fff;
}

.profile-top .p-nav .profile-menu > ul li.active a {
    color: #fff;
    background: none;
}

.profile-top .p-nav .profile-menu .more {
    width: auto;
    height: 50px;
    float: right;
}

.profile-top .p-nav .profile-menu .more .more-trigger {
    width: auto;
    height: 20px;
    line-height: 20px;
    float: left;
    position: relative;
    margin: 15px 10px;
    padding-right: 15px;
    color: #bbb;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.profile-top .p-nav .profile-menu .more .more-trigger:before {
    border: solid transparent;
    border-top-color: #B7B7B7;
    border-width: 3px;
    right: 4px;
    top: 10px;
    content: '';
    position: absolute;
    height: 0;
    width: 0;
}

.profile-top .p-nav .profile-menu .more .more-trigger:hover {
    color: #fff;
    cursor: pointer;
}

.profile-top .p-nav .profile-menu .more .more-drop {
    width: 120px;
    position: absolute;
    right: 2px;
    top: 40px;
    background: #fff;
    border-radius: 2px;
    display: none;
    padding: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.profile-top .p-nav .profile-menu .more .more-drop:before {
    border: solid transparent;
    border-bottom-color: #fff;
    border-width: 5px;
    right: 10px;
    top: -9px;
    content: '';
    position: absolute;
    height: 0;
    width: 0;
}

.profile-top .p-nav .profile-menu .more .more-drop ul li {
    width: 100%;
    height: auto;
    float: left;
}

.profile-top .p-nav .profile-menu .more .more-drop ul li a {
    width: 100%;
    height: auto;
    float: left;
    padding: 5px 7px;
    color: #666666;
    font-size: 12px;
}

.profile-top .p-nav .profile-menu .more .more-drop ul li a:hover {
    background: #f1f1f1;
}

.profile-top .p-nav .profile-menu .more.active .more-drop {
    display: block;
}

.user-follow {
    width: auto;
    height: 30px;
    float: left;
    background: #e1184f;
    border-radius: 2px;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    font-size: 13px;
    padding: 0 10px 0 30px;
}

.user-follow:hover {
    background: #c8184f;
}

.user-follow:before {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 8px;
    top: 7px;
    background: url("../img/user-follow-before.png");
    content: ' ';
}

.user-follow.active {
    opacity: .7;
}

.user-follow.active span {
    display: none;
}

.user-follow.active span.p1 {
    display: block;
}

.user-follow.active:before {
    background: url("../img/user-following-before.png");
}

.user-follow.active:hover {
    opacity: 1;
    background: #999999;
}

.user-follow.active:hover:before {
    background: url("../img/user-unfollow-before.png");
}

.user-follow.active:hover span {
    display: block;
}

.user-follow.active:hover span.p1 {
    display: none;
}

.profile-left {
    width: 300px;
    height: auto;
    float: left;
}

.profile-right {
    width: 720px;
    float: right;
}

.profile-box {
    width: 100%;
    height: auto;
    float: left;
    background: #1e1e1e;
    margin: 10px 0;
    position: relative;
    border-radius: 2px;
    padding: 10px;
}

.profile-box .pb-title {
    width: 100%;
    float: left;
    font-size: 14px;
    color: #fff;
    letter-spacing: -0.5px;
}

.profile-box .pb-title a {
    float: right;
    color: #999999;
    font-size: 11px;
}

.profile-box .pb-title.border {
    font-size: 16px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #333333;
}

.profile-box .limited-text {
    width: 100%;
    float: left;
    color: #999999;
    font-size: 11px;
    letter-spacing: -0.2px;
    max-height: 84px;
    line-height: 14px;
    overflow: hidden;
}

.profile-box .limited-text a {
    color: #999999;
    text-decoration: underline;
}

.profile-box .limited-text a:hover {
    text-decoration: none;
}

.profile-box .pfav-list {
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}

.profile-box .pfav-list .pl-serie {
    width: 75px;
    height: 110px;
    float: left;
    margin-right: 5px;
}

.profile-box .pfav-list .pl-serie img {
    width: 75px;
    height: 110px;
}

.profile-box .pfav-list .pl-serie:last-child {
    margin-right: -35px;
}

.profile-box .pfav-list .pl-all {
    width: 40px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    color: #fff;
    padding-top: 40px;
}

.profile-box .pfav-list .pl-all:before {
    width: 100px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -100px;
    content: ' ';
    box-shadow: 0 0 70px 43px #1e1e1e;
}

.profile-box .pfav-list .pl-all span {
    z-index: 9;
    position: relative;
}

.profile-box .ppe-list {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.profile-box .ppe-list .people {
    width: 66px;
    height: 66px;
    float: left;
    margin: 0 5px 5px 0;
    overflow: hidden;
    border-radius: 50%;
    background: #181818;
    text-align: center;
    padding-top: 18px;
    color: #fff;
    position: relative;
}

.profile-box .ppe-list .people:nth-child(4n) {
    margin-right: 0;
}

.profile-box .ppe-list .people:hover {
    background: #222222;
}

.profile-box .ppe-list .people img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.profile-box .p-comment {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.profile-box .p-comment .pc-image {
    width: 38px;
    height: 38px;
    float: left;
    overflow: hidden;
}

.profile-box .p-comment .pc-image img {
    width: 100%;
    margin-top: -10px;
}

.profile-box .p-comment .pc-right {
    margin-left: 48px;
}

.profile-box .p-comment .pc-name {
    width: 100%;
    float: left;
    color: #bdbdbd;
    font-size: 13px;
}

.profile-box .p-comment .pc-name:hover {
    text-decoration: underline;
}

.profile-box .p-comment .pc-text {
    width: 100%;
    height: auto;
    float: left;
    background: #181818;
    padding: 7px;
    border-radius: 2px;
    color: #999999;
    position: relative;
    margin-top: 7px;
}

.profile-box .p-comment .pc-text:before {
    border: solid transparent;
    border-bottom-color: #181818;
    border-width: 5px;
    left: 10px;
    top: -9px;
    content: '';
    position: absolute;
    height: 0;
    width: 0;
}

.profile-box .pb-user {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.profile-box .pb-user .pbu-image {
    width: 40px;
    height: 40px;
    float: left;
    overflow: hidden;
    border-radius: 50%;
}

.profile-box .pb-user .pbu-image img {
    width: 100%;
}

.profile-box .pb-user .pbu-right {
    margin-left: 50px;
    font-size: 13px;
    color: #999999;
}

.profile-box .pb-user .pbu-right a:hover {
    text-decoration: underline;
}

.profile-box .pb-user .pbu-right .white {
    color: #fff;
}

.profile-box .pb-user .pbu-right .date {
    line-height: 14px;
    color: #666666;
    font-size: 11px;
}

.profile-box .pb-user .pbu-right .date:before {
    width: 14px;
    height: 14px;
    float: left;
    background: url("../img/profile-clock.png");
    content: ' ';
    margin-right: 1px;
    margin-top: 2px;
}

.profile-box .pb-bottom {
    width: 100%;
    float: left;
    margin-top: 10px;
    padding-top: 8px;
    border-top: 1px solid #2c2c2c;
    color: #666;
}

.profile-box .pb-bottom .pbb-comment,
.profile-box .pb-bottom .pbb-like {
    width: auto;
    height: 14px;
    float: left;
    line-height: 15px;
    font-size: 12px;
    margin-right: 15px;
    cursor: pointer;
}

.profile-box .pb-bottom .pbb-comment:Before,
.profile-box .pb-bottom .pbb-like:Before {
    width: 10px;
    height: 10px;
    float: left;
    content: '';
    margin: 2px 3px 0 0;
    background: url("../img/not-type-like.png");
}

.profile-box .pb-bottom .pbb-comment:hover,
.profile-box .pb-bottom .pbb-like:hover {
    color: #7c7c7c;
    text-decoration: underline;
}

.profile-box .pb-bottom .pbb-comment.active,
.profile-box .pb-bottom .pbb-like.active {
    color: #e1184f;
}

.profile-box .pb-bottom .pbb-comment.active:before,
.profile-box .pb-bottom .pbb-like.active:before {
    background: url("../img/not-type-like-active.png");
}

.profile-box .pb-bottom .pbb-comment:before {
    background: url("../img/not-type-comment.png");
}

.profile-box .pb-bottom .pbb-trigger {
    line-height: 14px;
    color: #666;
    height: 14px;
    cursor: pointer;
    float: right;
    padding: 0 5px;
}

.profile-box .pb-bottom .pbb-trigger span {
    margin-left: 15px;
}

.profile-box .pb-bottom .pbb-trigger span:first-child {
    margin-left: 0;
}

.profile-box .pb-bottom .pbb-trigger:hover {
    color: #999;
    background: #262626;
}

.profile-box .pb-comments {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.profile-box .pb-comments .pb-create {
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #232323;
}

.profile-box .pb-comments .pb-create .pbc-image {
    width: 40px;
    height: 40px;
    float: left;
    overflow: hidden;
}

.profile-box .pb-comments .pb-create .pbc-image img {
    width: 100%;
}

.profile-box .pb-comments .pb-create .pbc-right {
    margin-left: 50px;
}

.profile-box .pb-comments .pb-create .pbc-textarea {
    width: 100%;
    height: 40px;
    float: left;
    color: #999;
    padding: 10px;
    font-size: 13px;
    border: 1px solid #292929;
    background-color: #171717;
    /* firefox 19+ */
    /* ie */
}

.profile-box .pb-comments .pb-create .pbc-textarea::-webkit-input-placeholder {
    color: #666;
}

.profile-box .pb-comments .pb-create .pbc-textarea::-moz-placeholder {
    color: #666;
}

.profile-box .pb-comments .pb-create .pbc-textarea:-ms-input-placeholder {
    color: #666;
}

.profile-box .pb-comments .pb-create .pbc-textarea:-moz-placeholder {
    color: #666;
}

.profile-box .pb-comments .pb-item {
    width: 100%;
    height: auto;
    float: left;
    margin-top: 10px;
    padding-bottom: 10px;
}

.profile-box .pb-comments .pb-item .pbi-image {
    width: 40px;
    height: 40px;
    float: left;
    overflow: hidden;
}

.profile-box .pb-comments .pb-item .pbi-image img {
    width: 100%;
}

.profile-box .pb-comments .pb-item .pbi-right {
    margin-left: 50px;
}

.profile-box .pb-comments .pb-item .pbi-user {
    font-size: 13px;
    color: #999;
    font-weight: 600;
    letter-spacing: -0.3px;
}

.profile-box .pb-comments .pb-item .pbi-user:hover {
    color: #fff;
}

.profile-box .pb-comments .pb-item p {
    width: 100%;
    float: left;
    color: #666;
    margin-top: 5px;
}

.profile-box .pb-comments .pbi-all {
    width: 100%;
    height: auto;
    float: left;
    padding-top: 5px;
    color: #4c4c4c;
    cursor: pointer;
    text-align: center;
    border-top: 1px solid #232323;
}

.profile-box .pb-comments .pbi-all:hover {
    cursor: pointer;
    color: #636363;
    text-decoration: underline;
}

/* Profile Container */
/* Profile Watched */
.p-watched {
    width: 100%;
    height: auto;
    float: left;
    background: #232323;
}

.p-watched .pw-image {
    width: 150px;
    height: 120px;
    float: left;
    overflow: hidden;
    position: relative;
}

.p-watched .pw-image img {
    width: 100%;
    margin-top: -30px;
}

.p-watched .pw-image:before {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px;
    background: url("../img/pw-image-before.png");
    content: ' ';
    z-index: 9;
}

.p-watched .pw-image:after {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    content: ' ';
}

.p-watched .pw-content {
    padding: 10px 0;
    position: relative;
    height: 120px;
    margin-left: 160px;
}

.p-watched .pw-content .pw-title {
    width: 100%;
    float: left;
    height: 26px;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -0.5px;
}

.p-watched .pw-content .pw-title:hover {
    opacity: .8;
}

.p-watched .pw-content .pw-episode {
    width: 100%;
    float: left;
    color: #fff;
    font-size: 13px;
}

.p-watched .pw-content .pw-episode:hover {
    text-decoration: underline;
}

.p-watched .pw-content .pw-name {
    width: 100%;
    float: left;
    color: rgba(255, 255, 255, 0.61);
    font-size: 11px;
}

.p-watched .pw-content .pw-name:hover {
    text-decoration: underline;
}

.p-watched .pw-content .vid-details {
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    line-height: 20px;
    color: #666666;
    bottom: 10px;
}

.p-watched .pw-content .vid-details .site {
    width: auto;
    height: 20px;
    opacity: .6;
    margin-right: 7px;
    color: #fff;
    float: left;
}

.p-watched .pw-content .vid-details .site .favicon {
    width: 20px;
    height: 20px;
    float: left;
    background: #fff;
    padding: 2px;
    line-height: 14px;
    margin-right: 7px;
}

.p-watched .pw-content .vid-details .site .favicon img {
    width: 16px !important;
    height: 16px !important;
}

.p-watched .pw-content .vid-details .site:hover {
    opacity: .8;
}

.p-watched.right .pw-content {
    float: left;
    margin: 0;
    padding-left: 10px;
}

.p-watched.right .pw-content .vid-details {
    left: 10px;
}

.p-watched.right .pw-image {
    float: right;
}

.p-watched.list {
    background: none;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #292929;
}

/* Profile Watched */
/* Profile Following */
.p-follow {
    width: 100%;
    float: left;
}

.p-follow .pf-box {
    width: 91px;
    height: 115px;
    margin: 0 10px 10px 0;
    float: left;
}

.p-follow .pf-box .pfb-img {
    width: 91px;
    height: 91px;
    float: left;
    overflow: hidden;
}

.p-follow .pf-box .pfb-img img {
    width: 100%;
}

.p-follow .pf-box .user-follow {
    width: 100%;
    height: 24px;
    text-align: center;
    padding: 0;
    text-indent: 15px;
    font-size: 12px;
    border-radius: 0 0 2px 2px;
    line-height: 24px;
}

.p-follow .pf-box .user-follow:Before {
    left: 6px;
    top: 4px;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
}

/* Profile Following */
/* Profile Comment */
.p-comment {
    width: 100%;
    height: auto;
    float: left;
}

.p-comment.list {
    background: none;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #292929;
}

.p-comment .pcEpisode {
    color: #fff;
    font-size: 13px;
}

.p-comment .pcEpisode:hover {
    text-decoration: underline;
}

.p-comment .pcName {
    color: rgba(255, 255, 255, 0.61);
    font-size: 11px;
}

.p-comment .pcName:hover {
    text-decoration: underline;
}

.p-comment .pcComment {
    width: 100%;
    height: auto;
    float: left;
    background: #232323;
    padding: 10px;
    font-size: 12px;
    border-radius: 2px;
    color: #999999;
    position: relative;
    margin-top: 7px;
}

.p-comment .pcComment:before {
    border: solid transparent;
    border-bottom-color: #232323;
    border-width: 5px;
    left: 10px;
    top: -10px;
    content: '';
    position: absolute;
    height: 0;
    width: 0;
}

/* Profile Comment */
/* Provile Review */
.p-review {
    width: 100%;
    float: left;
}

.p-review.list {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #292929;
}

.p-review .pr-image {
    width: 75px;
    height: 112px;
    float: left;
    overflow: hidden;
}

.p-review .pr-image img {
    width: 100%;
}

.p-review .pr-right {
    margin-left: 85px;
}

.p-review .pr-right .pr-title {
    width: 100%;
    float: left;
    height: 26px;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -0.5px;
}

.p-review .pr-right .pr-title:hover {
    opacity: .8;
}

.p-review .pr-right .pr-episode {
    width: 100%;
    float: left;
    color: #fff;
    font-size: 13px;
}

.p-review .pr-right .pr-episode:hover {
    text-decoration: underline;
}

.p-review .pr-right .pr-name {
    width: 100%;
    float: left;
    color: rgba(255, 255, 255, 0.61);
    font-size: 11px;
}

.p-review .pr-right .pr-name:hover {
    text-decoration: underline;
}

.p-review .pr-right .vid-details {
    width: 100%;
    float: left;
    line-height: 20px;
    margin-top: 5px;
    color: #666666;
}

.p-review .pr-right .vid-details .site {
    width: auto;
    height: 20px;
    opacity: .6;
    margin-right: 7px;
    color: #fff;
    float: left;
}

.p-review .pr-right .vid-details .site .favicon {
    width: 20px;
    height: 20px;
    float: left;
    background: #fff;
    padding: 2px;
    line-height: 14px;
    margin-right: 7px;
}

.p-review .pr-right .vid-details .site .favicon img {
    width: 16px !important;
    height: 16px !important;
}

.p-review .pr-right .vid-details .site:hover {
    opacity: .8;
}

.p-review .pr-right .point-stars {
    margin-top: 10px;
    width: auto;
    float: left;
}

.p-review .pr-right .point-stars .star {
    width: 15px;
    height: 15px;
    float: left;
    cursor: pointer;
    background: url("../img/big-point-star.png");
}

.p-review .pr-right .point-stars .star.pink {
    background: url("../img/big-point-star-pink.png");
}

/* Provile Review */
/* Profile Favorites */
.p-favs {
    width: 100%;
    height: auto;
    float: left;
}

.p-favs .pf-item {
    width: 108px;
    height: 162px;
    float: left;
    position: relative;
    margin-right: 10px;
}

.p-favs .pf-item:nth-child(6) {
    margin-right: 0;
}

.p-favs .pf-item .pfi-img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

.p-favs .pf-item .pfi-img img {
    width: 100%;
}

.p-favs .pf-item .pfi-cts {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}

.p-favs .pf-item .pfi-cts .cs-follow {
    width: 26px;
    height: 26px;
    position: absolute;
    right: 5px;
    top: 5px;
    border: 2px solid #fff;
    content: ' ';
    background: url("../img/follow-before.png") center center;
    border-radius: 50%;
    cursor: pointer;
}

.p-favs .pf-item .pfi-cts .cs-follow.active {
    opacity: .5px;
    background: url("../img/follow-active-before.png") center center;
}

.p-favs .pf-item .pfi-cts .cs-follow.active:hover {
    opacity: .8;
}

.p-favs .pf-item .pfi-cts .pfi-name {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    text-align: center;
    padding: 7px;
}

.p-favs .pf-item .pfi-cts .pfi-name:hover {
    text-decoration: underline;
}

/* Profile Favorites */
/* My Link Box */
.my-link {
    width: 100%;
    float: left;
    padding: 7px 0;
    border-bottom: 1px solid #2e2e2e;
}

.my-link .my-left {
    width: auto;
    float: left;
    max-width: 60%;
}

.my-link .my-left a:hover {
    text-decoration: underline;
}

.my-link .my-left .ml-episode {
    width: 100%;
    float: left;
    color: #fff;
    font-size: 13px;
}

.my-link .my-left .ml-name {
    width: 100%;
    float: left;
    color: rgba(255, 255, 255, 0.61);
    font-size: 11px;
}

.my-link .my-right {
    margin-top: 5px;
    width: auto;
    float: right;
}

.my-link .my-right .point {
    float: right;
    line-height: 20px;
    font-size: 13px;
    color: #999999;
}

.my-link .my-right .point span {
    color: #03ef45;
}

.my-link .my-right .site {
    width: auto;
    height: 20px;
    float: right;
    opacity: .6;
    line-height: 20px;
    margin-left: 7px;
    color: #fff;
}

.my-link .my-right .site .favicon {
    width: 20px;
    height: 20px;
    float: left;
    background: #fff;
    padding: 2px;
    line-height: 14px;
    margin-right: 7px;
}

.my-link .my-right .site .favicon img {
    width: 16px !important;
    height: 16px !important;
}

.my-link .my-right .site:hover {
    opacity: .8;
}

/* My Link Box */
/* Following List */
.ff-list {
    width: 100%;
    float: left;
}

.ff-list .ff-box {
    width: 345px;
    height: 70px;
    float: left;
    border-radius: 35px 2px 2px 35px;
    padding: 4px;
    margin: 0 10px 10px 0;
    background: #181818;
}

.ff-list .ff-box:nth-child(2n) {
    margin-right: 0;
}

.ff-list .ff-box .ffb-image {
    width: 64px;
    height: 64px;
    float: left;
    overflow: hidden;
    border-radius: 50%;
}

.ff-list .ff-box .ffb-image img {
    width: 100%;
}

.ff-list .ff-box .ffb-center {
    width: 210px;
    height: 64px;
    float: left;
    margin-left: 10px;
    padding-top: 15px;
}

.ff-list .ff-box .ffb-user {
    width: 100%;
    float: left;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}

.ff-list .ff-box .area {
    width: 100%;
    height: 12px;
    line-height: 12px;
    float: left;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.7);
}

.ff-list .ff-box .area:before {
    width: 10px;
    height: 10px;
    float: left;
    background: url("../img/profile-area.png");
    content: ' ';
    margin: 1px 2px 0 0;
}

/* Following List */
/* WatchList */
.watchlist-left {
    width: 150px;
    float: left;
    margin: -10px;
}

.watchlist-left:before {
    left: 0;
    top: 0;
    position: absolute;
    bottom: 0;
    background: #272727;
    border-radius: 2px 0 0 2px;
    width: 150px;
    content: ' ';
}

.watchlist-left .wl-title {
    width: 100%;
    float: left;
    border-bottom: 1px solid #2F2F2F;
    color: #666666;
    position: relative;
    padding: 7px;
}

.watchlist-left .wl-title .wl-edit {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    background: url("../img/profile-settings-bt.png");
    z-index: 9;
    opacity: .2;
    cursor: pointer;
}

.watchlist-left .wl-title .wl-edit:hover {
    opacity: .5;
}

.watchlist-left .wl-title .wl-edit.check {
    background: url("../img/profile-check-bt.png");
    opacity: .6;
}

.watchlist-left .wl-title .wl-edit.check:hover {
    opacity: 1;
}

.watchlist-left ul {
    width: 100%;
    float: left;
    position: relative;
    z-index: 8;
    left: 0;
    top: 0;
}

.watchlist-left ul.edit li {
    border-bottom: 1px solid #2F2F2F;
}

.watchlist-left ul li {
    width: 100%;
    height: auto;
    position: relative;
    float: left;
}

.watchlist-left ul li a {
    width: 100%;
    height: auto;
    float: left;
    padding: 7px 10px;
    color: #fff;
    font-size: 17px;
    font-weight: 300;
}

.watchlist-left ul li.active,
.watchlist-left ul li:hover a {
    background: #1e1e1e;
}

.watchlist-left ul li.anp a {
    color: #999999;
    font-size: 12px;
}

.watchlist-left ul li.anp a:before {
    width: 12px;
    height: 12px;
    float: left;
    background: url("../img/watchlist-add.png");
    content: ' ';
    margin: 3px 5px 4px 3px;
}

.watchlist-left ul li .wl-edit-input {
    width: 100%;
    height: 34px;
    float: left;
    padding: 7px 10px;
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    font-family: "open sans", trebuched MS, Arial, Helvetica, sans-serif;
    background: none;
    border: none;
    outline: none;
    background-color: #272727;
    box-shadow: inset 0 0 10px rgba(4, 4, 4, 0.4);
}

.watchlist-left ul li .delete {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 2px;
    top: 2px;
    background: url("../img/profile-remove-bt.png") #000000;
    z-index: 9;
    opacity: .8;
    cursor: pointer;
}

.watchlist-left ul li .delete:hover {
    opacity: 1;
}

.new-watchlist {
    z-index: 9;
    position: relative;
    width: 100%;
    float: left;
    padding: 5px;
}

.new-watchlist .wl-new-input {
    width: 100%;
    height: 34px;
    float: left;
    padding: 7px 10px;
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    font-family: "open sans", trebuched MS, Arial, Helvetica, sans-serif;
    background: none;
    border: none;
    outline: none;
    background-color: #272727;
    box-shadow: inset 0 0 10px rgba(4, 4, 4, 0.4);
}

.new-watchlist .add {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 7px;
    top: 7px;
    background: url("../img/profile-check-bt.png") #161616;
    z-index: 9;
    opacity: .8;
    cursor: pointer;
}

.new-watchlist .add:hover {
    opacity: 1;
}

.watchlist-right {
    margin-left: 160px;
}

/* WatchList */
/* Watchlist Item */
.wl-item {
    width: 100%;
    height: 70px;
    float: left;
    padding: 10px 0;
    position: relative;
    border-bottom: 1px solid #2e2e2e;
}

.wl-item .wli-image {
    width: 50px;
    height: 50px;
    float: left;
    overflow: hidden;
}

.wl-item .wli-image img {
    width: 100%;
    margin-top: -15px;
}

.wl-item .wli-center {
    width: 410px;
    float: left;
    margin-left: 10px;
    padding-top: 15px;
}

.wl-item .wli-center .serie {
    color: #fff;
    font-size: 16px;
    letter-spacing: -0.5px;
    font-weight: 300;
}

.wl-item .wli-remove {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 22px;
    background: url("../img/profile-remove-bt.png");
    cursor: pointer;
    opacity: .7;
}

.wl-item .wli-remove:hover {
    opacity: 1;
    background-color: #171717;
}

.wl-item .wli-set {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 30px;
    top: 22px;
    background: url("../img/profile-settings-bt.png");
    cursor: pointer;
    opacity: .7;
}

.wl-item .wli-set:hover {
    opacity: 1;
    background-color: #171717;
}

/* Watchlist Item */
/* Favorites Item */
.favorites-item {
    width: 100%;
    height: auto;
    float: left;
    padding: 10px 0;
    position: relative;
    border-bottom: 1px solid #2e2e2e;
}

.favorites-item .fi-trigger {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 35px;
    cursor: pointer;
    border-radius: 2px;
    background: #1e1e1e;
    z-index: 99;
}

.favorites-item .fi-trigger:hover {
    background: #303030;
}

.favorites-item .fi-trigger:before {
    border: solid transparent;
    border-top-color: #666666;
    border-width: 5px;
    right: 11px;
    top: 14px;
    content: '';
    position: absolute;
    height: 0;
    width: 0;
}

.favorites-item .fi-image {
    width: 80px;
    height: 80px;
    float: left;
    overflow: hidden;
}

.favorites-item .fi-image img {
    width: 100%;
    margin-top: -15px;
}

.favorites-item .fi-right {
    margin-left: 90px;
}

.favorites-item .fi-right .serie {
    width: 100%;
    height: 30px;
    float: left;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -0.5px;
}

.favorites-item .fi-right .serie:hover {
    opacity: .8;
}

.favorites-item .fi-right .mail-bt {
    width: 35px;
    height: 16px;
    float: left;
    background: #3E3E3E;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
}

.favorites-item .fi-right .mail-bt .mb-off {
    width: 27px;
    height: 16px;
    float: left;
    position: relative;
    background: url("../img/mb-off-bg.png");
}

.favorites-item .fi-right .mail-bt .mb-off:before {
    width: 10px;
    height: 10px;
    position: absolute;
    right: -5px;
    top: 3px;
    background: #fff;
    content: ' ';
    border-radius: 5px;
}

.favorites-item .fi-right .mail-bt .mb-on {
    width: 27px;
    height: 16px;
    float: left;
    background: url("../img/mb-on-bg.png");
    margin-right: -27px;
}

.favorites-item .fi-right .mail-bt.active {
    background: #e1184f;
}

.favorites-item .fi-right .mail-bt.active .mb-off {
    margin-left: -19px;
}

.favorites-item .fi-right .rating {
    width: auto;
    height: 16px;
    float: left;
    font-size: 13px;
    line-height: 16px;
    margin-left: 7px;
    color: #666666;
}

.favorites-item .fi-right .rating span {
    color: #e1184f;
}

.favorites-item .fi-list {
    width: 100%;
    height: 0;
    float: left;
    margin-top: 10px;
    overflow: hidden;
}

.favorites-item .fi-list .fil-item {
    width: 100%;
    height: 23px;
    float: left;
    line-height: 22px;
    border-bottom: 1px solid #2e2e2e;
    padding-left: 25px;
    position: relative;
}

.favorites-item .fi-list .fil-item:last-child {
    border: none;
}

.favorites-item .fi-list .fil-item .epCheck {
    margin: 0;
    position: absolute;
    left: 2px;
    top: 2px;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
}

.favorites-item .fi-list .fil-item .link {
    width: 70%;
    float: left;
    height: 22px;
}

.favorites-item .fi-list .fil-item .link a {
    color: #999999;
    font-size: 12px;
}

.favorites-item .fi-list .fil-item .link a:hover {
    text-decoration: underline;
}

.favorites-item .fi-list .fil-item .date {
    width: 29%;
    float: right;
    height: 22px;
    text-align: right;
    color: #999999;
}

.favorites-item.open .fi-image {
    width: 170px;
    height: 170px;
}

.favorites-item.open .fi-image img {
    margin-top: -47px;
}

.favorites-item.open .fi-right {
    margin-left: 180px;
}

.favorites-item.open .fi-list {
    height: 115px;
}

.favorites-item.open .fi-trigger {
    top: 20px;
}

.favorites-item.open .fi-trigger:before {
    border: solid transparent;
    border-bottom-color: #666666;
    border-width: 5px;
    top: 7px;
}

/* Favorites Item */
/* Feed */
.feed-left {
    width: 200px;
    float: left;
}

.feed-left .fl-user {
    width: 100%;
    height: auto;
    float: left;
    padding: 10px 0;
    border-bottom: 1px solid #0f0f0f;
    margin-bottom: 10px;
}

.feed-left .flu-image {
    width: 60px;
    height: 60px;
    float: left;
    overflow: hidden;
}

.feed-left .flu-image img {
    width: 100%;
}

.feed-left .flu-right {
    margin-left: 70px;
}

.feed-left .flu-right .user {
    width: 100%;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    float: left;
}

.feed-left .flu-right .user:hover {
    color: #e4e4e4;
}

.feed-left .flu-right .back {
    width: 100%;
    color: #999999;
    font-size: 12px;
    float: left;
}

.feed-left .flu-right .back:hover {
    color: #e4e4e4;
}

.feed-left .flu-right .area {
    width: 100%;
    height: 12px;
    line-height: 12px;
    float: left;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.7);
}

.feed-left .flu-right .area:before {
    width: 10px;
    height: 10px;
    float: left;
    background: url("../img/profile-area.png");
    content: ' ';
    margin: 1px 2px 0 0;
}

.feed-left .flu-title {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fff;
}

.feed-left .flu-links {
    width: 100%;
    float: left;
}

.feed-left .flu-links li {
    width: 100%;
    float: left;
    padding: 5px;
}

.feed-left .flu-links li a {
    color: #999999;
    font-size: 13px;
}

.feed-left .flu-links li a:hover {
    text-decoration: underline;
}

.feed-right {
    margin-left: 220px;
}

/* Feed */
/* Settings Table */
.settings-table {
    width: 100%;
    margin: 5px 0 15px 0;
    float: left;
}

.settings-table tr td {
    padding: 7px 5px;
    color: #fff;
}

.settings-table .settings-cover {
    width: 100%;
    float: left;
    overflow: hidden;
}

.settings-table .settings-cover img {
    width: 100%;
}

.settings-table .settings-profile {
    width: 140px;
    height: 140px;
    float: left;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 50%;
}

.settings-table .settings-profile img {
    width: 100%;
}

.settings-table .text {
    width: 100%;
    height: auto;
    float: left;
    color: #666666;
    margin: 10px 0;
}

.settings-table .settings-upload {
    width: auto;
    height: 30px;
    float: left;
    background: #282828;
    border-radius: 2px;
    cursor: pointer;
    color: #fff;
    padding: 0 12px;
    line-height: 30px;
}

.settings-table .settings-upload:hover {
    opacity: .9;
}

/* Chart */
.chart {
    width: 180px;
    height: 180px;
    float: left;
    margin: -15px;
}

.pieTip {
    position: absolute;
    float: left;
    min-width: 30px;
    max-width: 300px;
    padding: 5px 18px 6px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.97);
    color: #444;
    font-size: 19px;
    text-shadow: 0 1px 0 #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3;
    letter-spacing: .06em;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
    -webkit-transform: all 0.3s;
    -moz-transform: all 0.3s;
    -ms-transform: all 0.3s;
    -o-transform: all 0.3s;
    transform: all 0.3s;
    pointer-events: none;
}

.pieTip:after {
    position: absolute;
    left: 50%;
    bottom: -6px;
    content: "";
    height: 0;
    margin: 0 0 0 -6px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 6px solid rgba(255, 255, 255, 0.95);
    line-height: 0;
}

.chart path {
    cursor: pointer;
}

/* Chart */
@media (max-width: 1100px) {
    .feed-container,
    .profile-container {
        width: 100%;
    }
    .profile-top .p-nav .profile-menu .more {
        display: none;
    }
    .profile-top {
        height: auto;
    }
    .profile-right {
        width: auto;
        float: none;
        margin-left: 320px;
    }
    .p-watched.right .pw-image {
        float: left;
    }
    .p-watched.right .pw-content {
        float: none;
        margin-left: 160px;
        padding: 10px 0;
    }
    .ff-list .ff-box {
        width: 49%;
        margin-right: 1%;
    }
    .ff-list .ff-box .ffb-center {
        width: auto;
        float: none;
        margin-left: 75px;
    }
}

@media (max-width: 1000px) {
    .profile-top .p-nav .profile-f {
        display: none;
    }
    .profile-container {
        width: 100%;
    }
    .profile-top .p-nav .profile-menu .more {
        display: none;
    }
    .profile-top {
        height: auto;
    }
    .profile-top .p-nav .profile-image {
        bottom: 70px;
    }
    .profile-top .p-nav {
        padding-left: 0;
    }
    .profile-top .p-nav .profile-menu > ul {
        width: 100%;
        text-align: center;
    }
    .profile-top .p-nav .profile-menu > ul li {
        float: none;
        display: inline-block;
    }
}

@media (max-width: 900px) {
    .feed-left,
    .profile-left,
    .profile-top .p-nav .profile-details p,
    .profile-top .p-nav .profile-details .area {
        display: none;
    }
    .profile-top .p-nav .profile-details {
        bottom: 110px;
    }
    .profile-top .cover img {
        width: 150%;
        margin-left: -25%;
    }
    .feed-right,
    .profile-right {
        width: 100%;
        margin-left: 0;
        float: left;
    }
}

@media (max-width: 800px) {
    .profile-top .p-nav .profile-menu > ul li a {
        font-size: 13px;
        padding: 0 7px;
    }
}

@media (max-width: 700px) {
    .wl-item .wli-center {
        width: auto;
        float: none;
        margin-left: 60px;
        padding-right: 60px;
    }
    .favorites-item.open .fi-image {
        width: 100px;
    }
    .favorites-item.open .fi-image img {
        margin: 0;
    }
    .favorites-item.open .fi-right {
        margin-left: 110px;
    }
}

@media (max-width: 600px) {
    .profile-top .p-nav .profile-menu {
        height: 80px;
        background: #1e1e1e;
        overflow: hidden;
    }
    .profile-top {
        margin-bottom: 40px;
    }
    .profile-top .p-nav .profile-menu > ul li {
        height: 40px;
    }
    .profile-top .p-nav .profile-menu > ul li a {
        height: 40px;
        line-height: 40px;
    }
    .profile-top .p-nav .profile-image {
        width: 88px;
        height: 88px;
        left: 50%;
        bottom: 145px;
        margin-left: -44px;
    }
    .profile-top .p-nav .profile-image .pimg {
        width: 80px;
        height: 80px;
        background-size: 80px !important;
    }
    .profile-top .p-nav .profile-image .pi-bar-overflow {
        width: 88px;
        height: 88px;
    }
    .profile-top .p-nav .profile-image .level-percentage {
        left: -20px;
    }
    .profile-top .p-nav .profile-image .level-main {
        right: -20px;
    }
    .profile-top .p-nav .profile-details {
        bottom: 110px;
        width: 100%;
        left: 0;
        text-align: center;
    }
    .profile-top .p-nav .profile-details .username {
        float: none;
        display: inline-block;
    }
    .profile-top .cover img {
        width: 200%;
        margin-left: -50%;
    }
    .profile-top .p-nav .profile-bts > a,
    .profile-top .p-nav .profile-bts > div {
        float: none !important;
        display: inline-block;
    }
}

@media (max-width: 600px) {
    .profile-top .profile-details p {
        padding: 0 20px;
    }
    .profile-top {
        margin-top: 10px;
    }
    .profile-top .cover img {
        width: 300%;
        margin-left: -100%;
    }
    .p-watched .pw-image {
        width: 80px;
    }
    .p-watched .pw-image img {
        margin-top: 0;
    }
    .p-watched.right .pw-content,
    .p-watched .pw-content {
        margin-left: 90px;
    }
    .p-watched.right .pw-content .vid-details {
        left: 0;
    }
    .my-link .my-right,
    .my-link .my-left {
        width: 100%;
        float: left;
        max-width: 100%;
    }
    .my-link .my-right .point,
    .my-link .my-right .site {
        float: left;
        margin-left: 0;
        margin-right: 5px;
    }
    .ff-list .ff-box {
        width: 100%;
        margin-right: 0;
    }
    .wl-item .wli-remove,
    .wl-item .wli-set {
        display: none;
    }
    .wl-item .wli-center {
        padding: 0;
    }
    .wl-item {
        height: auto;
    }
    .favorites-item .fi-list .fil-item .link {
        width: 100%;
    }
    .favorites-item .fi-list .fil-item .date {
        display: none;
    }
    .favorites-item .fi-image {
        width: 60px;
    }
    .favorites-item .fi-right {
        margin-left: 70px;
    }
    .favorites-item .fi-image img {
        margin: 0;
    }
    .favorites-item.open .fi-image {
        width: 80px;
    }
    .favorites-item.open .fi-right {
        margin-left: 90px;
    }
    .profile-top .profile-image .chartDrop {
        display: none;
    }
}
