.portlet-login .form fieldset {
  border-width: 0;
  margin-bottom: 0;
  padding: 0; }
.portlet-login .form .button-holder, .portlet-login .form .form-column {
  margin-bottom: 10px; }
.portlet-login .facebook-login-button .button-content {
  background: url(http://static.yota.ru/webapps/yota-theme/images/login/facebook_login_button.png) no-repeat scroll 0 50%;
  padding: 5px 5px 5px 30px; }
.portlet-login .facebook-login-button .button-input {
  background: transparent none;
  border-width: 0;
  color: #FFF;
  font-family: "lucida grande", Tahoma, Verdana, Arial, sans-serif;
  padding: 0;
  text-shadow: none; }
.portlet-login .navigation {
  background: #eee;
  border-top: 1px solid #BFBFBF;
  padding: 10px; }
.portlet-login .signed-in {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

