body
{
	background: #FFFFFF;
	color: #000000;
	font: 10pt Verdana,Arial,Helvetica,sans-serif;
	margin: 5px 10px 10px 10px;
	padding: 0px;
}
a:link, body_alink
{
	color: #22229C;
}
a:visited, body_avisited
{
	color: #22229C;
}
a:hover, a:active, body_ahover
{
	color: #FF3300;
}
.page
{
	background: #FFFFFF;
	color: #000000;
	border:0px
}
.tborder
{
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #0B198C;
}
.tcat
{
	background: #354F81 url(https://lqo-thequestionsnetw.netdna-ssl.com/questions/images/gradients/gradient_tcat.gif) repeat-x top left;
	color: #FFFFFF;
	font-weight: bold;
}
.tcat a:link, .tcat_alink
{
	color: #ffffff;
	text-decoration: none;
}
.tcat a:visited, .tcat_avisited
{
	color: #ffffff;
	text-decoration: none;
}
.tcat a:hover, .tcat a:active, .tcat_ahover
{
	color: #FFFF66;
	text-decoration: underline;
}
.thead
{
	background: #354F81 url(https://lqo-thequestionsnetw.netdna-ssl.com/questions/images/gradients/gradient_thead.gif) repeat-x top left;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
}
.thead a:link, .thead_alink
{
	color: #FFFFFF;
}
.thead a:visited, .thead_avisited
{
	color: #FFFFFF;
}
.thead a:hover, .thead a:active, .thead_ahover
{
	color: #FFFF00;
}
.tfoot
{
	background: #3E5C92;
	color: #E0E0F6;
}
.tfoot a:link, .tfoot_alink
{
	color: #E0E0F6;
}
.tfoot a:visited, .tfoot_avisited
{
	color: #E0E0F6;
}
.tfoot a:hover, .tfoot a:active, .tfoot_ahover
{
	color: #FFFF66;
}
.alt1, .alt1Active
{
	background: #E6E6E6;
	color: #000000;
	font-size: 10pt;
	padding:3px;
}
.alt2, .alt2Active
{
	background: #CFD9FF;
	color: #000000;
	font-size: 10pt;
	padding:3px;
}
.inlinemod
{
	background: #FFFFCC;
	color: #000000;
}
.wysiwyg
{
	background: #F5F5FF;
	color: #000000;
	font-size: 10pt;
}
textarea, .bginput
{
	font-size: 10pt;
}
.bginput option, .bginput optgroup
{
	font-size: 10pt;
}
.button
{
	font-size: 11px;
}
select
{
	font-size: 11px;
}
option, optgroup
{
	font-size: 11px;
}
.smallfont
{
	font-size: 11px;
}
.time
{
	color: #666686;
}
.navbar
{
	font-size: 11px;
}
.highlight
{
	color: #FF0000;
	font-weight: bold;
}
.fjsel
{
	background: #3E5C92;
	color: #E0E0F6;
}
.fjdpth0
{
	background: #F7F7F7;
	color: #000000;
}
.panel
{
	background: #E6E6E6;
	color: #000000;
	border: 2px outset;
}
.panelsurround
{
	background: #D5D8E5;
	color: #000000;
}
legend
{
	color: #22229C;
	font-size: 11px;
}
.vbmenu_control
{
	background: #354F81 url(https://lqo-thequestionsnetw.netdna-ssl.com/questions/images/gradients/gradient_tcat.gif) repeat-x top left;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	padding: 3px 6px 3px 6px;
	white-space: nowrap;
}
.vbmenu_control a:link, .vbmenu_control_alink
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_control a:visited, .vbmenu_control_avisited
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_control a:hover, .vbmenu_control a:active, .vbmenu_control_ahover
{
	color: #FFFFFF;
	text-decoration: underline;
}
.vbmenu_popup
{
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #0B198C;
}
.vbmenu_option
{
	background: #BBC7CE;
	color: #000000;
	font-size: 11px;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_option a:link, .vbmenu_option_alink
{
	color: #22229C;
	text-decoration: none;
}
.vbmenu_option a:visited, .vbmenu_option_avisited
{
	color: #22229C;
	text-decoration: none;
}
.vbmenu_option a:hover, .vbmenu_option a:active, .vbmenu_option_ahover
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_hilite
{
	background: #8A949E;
	color: #FFFFFF;
	font-size: 11px;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_hilite a:link, .vbmenu_hilite_alink
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_hilite a:visited, .vbmenu_hilite_avisited
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_hilite a:hover, .vbmenu_hilite a:active, .vbmenu_hilite_ahover
{
	color: #FFFFFF;
	text-decoration: none;
}
/* ***** styling for 'big' usernames on postbit etc. ***** */
.bigusername { font-size: 12pt; }

/* ***** small padding on 'thead' elements ***** */
td.thead, div.thead { padding: 4px; }

/* ***** basic styles for multi-page nav elements */
.pagenav a { text-decoration: none; }
.pagenav td { padding: 2px 4px 2px 4px; }

/* ***** define margin and font-size for elements inside panels ***** */
.fieldset { margin-bottom: 6px; }
.fieldset, .fieldset td, .fieldset p, .fieldset li { font-size: 11px; }

/* ***** don't change the following ***** */
form { display: inline; }
label { cursor: default; }
.normal { font-weight: normal; }
.inlineimg { vertical-align: middle; }
ul.lqrightmenu a{text-decoration:none;font-size:10pt}
ul.lqrightmenu{padding-left:10px;margin-left:10px;font-size:4pt}
div.lqitemlabel{font-size:12pt;font-weight:bold}
.lqvsmallfont{font-size:8pt}
.alt1 .bbcodeblock{background-color:#CFD9FF}
.alt2 .bbcodeblock{background-color:#E6E6E6}

td.lqtags{font-size:8pt}