/*
Theme Name: FilmesOnlineHD1
Author: FilmesOnlineHD1
Author URI: FilmesOnlineHD1 
Version: 1.3.5.9
License: Aplicacion Simple - FOHD1
Tags: Filmes Online HD, Filmes em HD, Filmes HD 720p, Filmes HD 1080, Séries Online HD
*/
body {
    margin:0;
    padding:0;
    font-family:'Helvetica Neue', 'Helvetica', arial, sans-serif;
    font-size:13px;
    color:#636363;
    background:#212122
	
}
ul, li, ol, h1, h2, h3, h4 {
    margin:0;
    margin:0;
    list-style:none;
    list-style-type:none;
    -webkit-padding-start:0
}
a {
    text-decoration:none
}
#luces {
    background-color:black;
    opacity:0.9;
    position:fixed;
    height:100%;
    width:100%;
    z-index:1;
    display:none
}
#SLEsDUElk {
  position: absolute;
  z-index: 2;
  display: block!important;
  top: 0;
  left: 0;
  float: left;
  width: 100%;
}
#footer {
    width:1000px;
    margin:20px 0;
    float:left;
    color:#5C5C5C
}
#footer span.copyright {
    float:right;
    font:normal 11px helvetica, arial, sans-serif;
    text-shadow:0px 1px 0px #000
}
#footer span.copyright a {
    color:#646464
}
#footer span.copyright a:hover {
    color:#FFF
}
#footer span.texto {
    float:left;
    font:normal 11px helvetica, arial, sans-serif;
    text-shadow:0px 1px 0px #000
}
#header {
    margin:0
}
#header .top {
    width:100%;
    margin:8px auto;
    float:left
}
#header .top .menu {
    width:1000px;
    margin:0 auto
}
#header .top .menu ul {
    float:left;
    margin:4px 0
}
#header .top .menu li {
    float:left;
    border-left:1px solid #8C0000;
    border-right:1px solid #000
}
#header .top .menu li:first-child {
    border-left:0
}
#header .top .menu li:last-child {
    border-right:0
}
#header .top .menu li a {
    text-decoration:none;
    font-size:12px;
    color:#676767;
    text-shadow:0 1px 0px rgba(0, 0, 0, 0.46);
    margin:0 7px
}
#header .top .menu li a:hover {
    color:#FFF
}
#header .top .menu .social {
    float:right;
    margin:0
}
#header .top .menu .social span.total {
    float:left;
    padding:4px 0;
    font-size:13px;
    font-weight:bold;
    margin-right:10px;
    padding-left:25px;
    padding-right:5px;
    background:url(images/filme.png) no-repeat 4px 2.9px;
    color:#BABABA;
    text-shadow:0px 1px #000;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px
}
#header .top .menu .social a {
    width:67px;
    float:left;
    text-align:center;
    padding:5px 0;
    color:rgba(255, 255, 255, 0.98);
    font-size:11px;
    font-weight:700;
    transition:all .2s ease-in-out 0
}
#header .top .menu .social a:hover {
    opacity:0.9
}
#header .top .menu .social .facebook {
    background:#7092B6;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px
}
#header .top .menu .social .twitter {
    background:#00d1d8
}
#header .top .menu .social .google {
    background:#ff634f;
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-right-radius:3px;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomright:3px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px
}
#header .navegador {
    /*
	width:100%;
    margin:0 auto;
    float:left;
    background-color:transparent;
    background-image:-moz-linear-gradient(#141414, #0E0E0E);
    background-image:-webkit-linear-gradient(#141414, #0E0E0E);
    background-image:linear-gradient(#141414, #0E0E0E);
    background-repeat:repeat-x;
    -moz-box-shadow:0px 1px 10px -4px #000;
    -webkit-box-shadow:0px 1px 10px -4px #000;
    box-shadow:0px 1px 10px -4px #000
	*/
}
#header .navegador .caja {
    /*
	width:1000px;
    height:55px;
    margin:0 auto
	*/
}
#header .navegador .caja .logo {
    float:left;
    margin-right:20px;
    padding:11px 0
}
.menudown {
   /* float:right*/
}
.menudown ul {
}
.menudown li {
    float:left;
    margin:11px 0;
    background-color:transparent;
    background-image:-moz-linear-gradient(#CD0C0C, #0B60A5);
    background-image:-webkit-linear-gradient(#CD0C0C, #0B60A5);
    background-image:linear-gradient(#8C0000, #CD0C0C);
    background-repeat:repeat-x;
    border-right:solid 1px rgba(0, 0, 0, 0.11);
    border-left:solid 1px rgba(255, 255, 255, 0.12)
}
.menudown li:hover {
    background-color:transparent;
    background-image:-moz-linear-gradient(#FF2626, #0B60A5);
    background-image:-webkit-linear-gradient(#1E41B3, #0B60A5);
    background-image:linear-gradient(#FF2626, #FF2626);
    background-repeat:repeat-x
}
.menudown li:first-child {
    -webkit-border-top-left-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-topleft:4px;
    -moz-border-radius-bottomleft:4px;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border-left:0
}
.menudown li:last-child {
    border-right:0;
    -webkit-border-top-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-radius-topright:4px;
    -moz-border-radius-bottomright:4px;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px
}
.menudown li a {
    padding:10px 19px;
    float:left;
    color:rgba(255, 255, 255, 0.8);
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.14);
    text-transform:uppercase;
    text-decoration:none;
    font-size:11px;
    font-weight:bold
}
.menudown li a:hover {
    color:rgba(255, 255, 255, 1)
}
#contenedor {
    margin:0
}
#contenedor .contenido {
    width:1000px;
    margin:0 auto
}
#contenedor .contenido .no_contenido {
    background:#131313;
    border:solid 1px #0C0C0C;
    -moz-box-shadow:0px 1px 10px -4px #000;
    -webkit-box-shadow:0px 1px 10px -4px #000;
    box-shadow:0px 1px 10px -4px #000;
    width:958px;
    padding:120px 20px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    float:left;
    margin-bottom:40px;
    margin-top:40px;
    font-size:35px;
    color:#BEBEBE;
    text-shadow:0px 1px #000;
    text-align:center
}
#contenedor .contenido .no_contenido_home {
    text-align:center;
    font-size:35px;
    color:#BEBEBE;
    padding:120px 0
}
#contenedor .contenido .box {
    float:left;
   margin: 30px 0px 20px 0px;
    background:#131313;
    -moz-box-shadow:0px 1px 10px -4px #000;
    -webkit-box-shadow:0px 1px 10px -4px #000;
    box-shadow:0px 1px 10px -4px #000;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px
}
#contenedor .contenido .header {
    width:980px;
    margin:0 10px;
    margin-bottom:0px;
    height: 35px;
    float:left
}
#contenedor .contenido .header h1 {
    float:left;
    margin:14px 5px;
    margin-right:10px;
    font-size:20px;
    color:#B8B8B8
}
#contenedor .contenido .header span.desc {
    font-size:13px;
    color:#6D6D6D;
    border-left:solid 1px #101010;
    float:left;
    margin:16px 0;
    padding:2px 10px
}
#contenedor .contenido .header ul {
    float:right;
    padding:2px 0
}
#contenedor .contenido .header li {
    float:left;
    margin:9px 5px
}
#contenedor .contenido .header li a {
    float:left;
    font-size:12px;
    padding:7px 15px;
    border:1px solid #000;
    color:#4D4D4D;
    font-weight:bold;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background-color:transparent;
    background-image:-moz-linear-gradient(#F0F0F0, #E2E2E2);
    background-image:-webkit-linear-gradient(#F0F0F0, #E2E2E2);
    background-image:linear-gradient(#1A1A1A, #020202);
    background-repeat:repeat-x
}
#contenedor .contenido .header li a:hover {
    color:#fff;
    border:1px solid #131313;
    text-shadow:none;
    background-color:transparent;
    background-image:-moz-linear-gradient(#1F2023, #131B1E);
    background-image:-webkit-linear-gradient(#1F2023, #131B1E);
    background-image:linear-gradient(#1F2023, #131B1E);
    background-repeat:repeat-x
}
#contenedor .contenido .header .buscador {
    float:right;
    padding-left:20px;
    padding:0 10px;
    margin-left:7px;
    border-left:solid 1px #151515
}
#contenedor .contenido .header .buscador input {
    background:#8C0000 url(images/search.png) 5% 50% no-repeat;
    box-shadow:0 0px 5px rgba(0, 0, 0, 0.42) inset;
    color:#FFF;
    width:180px;
    height:16px;
    line-height:20px;
    text-indent:20px;
    padding:9px 10px;
    border:0;
    margin:7px 0;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    font-size:13px
}
#contenedor .contenido .box_item {
	  float: left;
	  width: 980px;
	  margin: 10px;
}
#contenedor .contenido .box_item .peliculas {
    width: 990px;
	float: right;
	margin: auto;
	padding: 5px 0;
}
#contenedor .contenido .box_item .peliculas .item_cat {
    width:750px;
    float:left;
    margin-bottom:10px;
    padding-bottom:11px;
    border-bottom:1px solid #ddd
}
#contenedor .contenido .box_item .peliculas .item_cat .imagen_cat {
    width:90px;
    height:90px;
    margin:0;
    margin-right:20px;
    float:left;
    border-bottom:2px solid #fff;
    -moz-box-shadow:0px 7px 10px -7px #000;
    -webkit-box-shadow:0px 7px 10px -7px #000;
    box-shadow:0px 7px 10px -7px #000
}
#contenedor .contenido .box_item .peliculas .item_cat .imagen_cat img {
    width:90px;
    height:auto
}
#contenedor .contenido .box_item .peliculas .item_cat .info_cat {
    width:640px;
    float:left
}
#contenedor .contenido .box_item .peliculas .item_cat .info_cat h2 {
    font-size:17px;
    width:100%;
    float:left;
    color:#4D5061
}
#contenedor .contenido .box_item .peliculas .item_cat .info_cat span.year {
    margin:5px 0;
    float:left;
    color:#797D8F;
    width:100%
}
#contenedor .contenido .box_item .peliculas .item_cat .info_cat span.imdb {
    padding:5px 12px;
    float:left;
    margin-right:3px
}
#contenedor .contenido .box_item .peliculas .item_cat .info_cat span.promedio {
    background:#89ABDD;
    color:#fff;
    font-weight:bold;
    padding:9px 12px

}
#contenedor .contenido .box_item .peliculas .item {
width: 150px;
  height: 252px;
  float: left;
  margin-left: 14.5px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  -moz-box-shadow: 0px 7px 10px -7px #000;
  -webkit-box-shadow: 0px 7px 10px -7px #000;
  box-shadow: 0px 7px 10px -7px #000;
}
#contenedor .contenido .box_item .peliculas .item h2 {
    display:none
}
contenedor .contenido .box_item .peliculas .item span.idioma {
    position: absolute;
    top: 4px;  
    right: 4px;  
    padding: 2px 5px; 
    background: #DD1E35;  color: #fff; 
    font-size: 11px;
    font-weight: bold;      
}
#contenedor .contenido .box_item .peliculas .item span.imdb {
    position: absolute;
    top: 202px;
    left: 4px;
    padding: 2px 7px;
    background: #8C0000;
    font-size: 11px;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #000000;
    opacity:0.85
}
#contenedor .contenido .box_item .peliculas .item span.imdb b {
    color: #F8C907;
    text-shadow: 0 1px 0 #000000;
}
#contenedor .contenido .box_item .peliculas .item span.calidad {
    background:#8C0000;
    color:#fff;
    top:4px;
    left:4px;
    padding:2px 10px;
    float:right;
    font-size:11px;
    text-align:center;
    position:absolute;
}
#contenedor .contenido .box_item .peliculas .item span.anio {
   background:#8C0000;
    color:#fff;
	top: 202px;
	right: 4px;
    padding: 2px 5px;
    float:right;
    font-size:11px;
    width:auto;
    text-align:center;
    position:absolute;
    opacity:0.85	
}

#contenedor .contenido .box_item .peliculas .item .peli {
    float:left;
    width:150px;
    height:222px;
    background-color:#fff
}
#contenedor .contenido .box_item .peliculas .item .peli span.player {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    right:0;
    transition:none
}
#contenedor .contenido .box_item .peliculas .item .peli span.player:hover {
	background: rgba(0, 0, 0, 0.62) url(images/play_hover.png) no-repeat 50% 50%;
}
#contenedor .contenido .box_item .peliculas .item .peli span.playerA {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    right:0;
    transition:none
}
#contenedor .contenido .box_item .peliculas .item .peli span.playerA:hover {
	background: rgba(0, 0, 0, 0.62) url() no-repeat 50% 50%;
}
#contenedor .contenido .box_item .peliculas .item .peli img {
    width:150px;
    height:222px
}
#contenedor .contenido .box_item .lateral {
    width:210px;
    float:left;
    padding:5px 0
}
#contenedor .contenido .box_item .lateral .categorias {
    background:#141414;
    border-bottom:3px solid rgba(0, 0, 0, 0.23);
    width:180px;
    padding:10px;
    float:left;
    -webkit-border-radius:3px;
    -moz-border-radius:4px;
    border-radius:3px
}
#contenedor .contenido .box_item .lateral .categorias ul {
    font-size:13px
}
#contenedor .contenido .box_item .lateral .categorias li {
    float:left;
    width:180px;
    padding-bottom:10px;
    margin-bottom:10px;
    border-bottom:1px solid rgba(255, 255, 255, 0.04)
}
#contenedor .contenido .box_item .lateral .categorias li.current-cat a {
    color:#FFF58D
}
#contenedor .contenido .box_item .lateral .categorias li:last-child {
    border-bottom:0;
    margin-bottom:0;
    padding-bottom:5px
}
#contenedor .contenido .box_item .lateral .categorias li a {
    color:rgba(255, 255, 255, 0.43);
    text-shadow:0 0px 1px rgba(0, 0, 0, 0.5);
    padding-left:12px;
    background-image:url('images/flecha.png');
    background-repeat:no-repeat;
    background-position:left center;
    line-height:16px;
    font-weight:bold;
    float:left;
    transition:all .3s ease-in-out 0
}
#contenedor .contenido .box_item .lateral .categorias li a:hover {
    color:#FFBF00
}
#contenedor .contenido .box_item .lateral .categorias li span {
    background:rgba(0, 0, 0, 0.5);
    font-size:10px;
    padding:2px 6px;
    float:right;
    color:#fff;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border-top:1px solid rgba(0, 0, 0, 0.6);
    border-bottom:1px solid rgba(255, 255, 255, 0.18)
}
#single_grifus {
    width:1000px;
    float:left;
    margin-top:20px
}
#single_grifus .info_caja {
    background:#131313;
    border:solid 1px #212121;
    -moz-box-shadow:0px 1px 10px -4px #000;
    -webkit-box-shadow:0px 1px 10px -4px #000;
    box-shadow:0px 1px 10px -4px #000;
    width:958px;
    padding:20px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    float:left;
    margin-bottom:25px
}
#single_grifus .info_caja h3.relacionado {
    text-align:center;
    font-size:15px;
    font-weight:normal;
    color:#BFC4CA;
    text-shadow:0 1px 0 #FFF
}
#single_grifus .info_caja .relacionados {
    float:left;
    width:120px;
    height:178px;
    margin-right:15px;
    margin:0 8px;
    border-bottom:2px solid #fff;
    -moz-box-shadow:0px 7px 10px -7px #000;
    -webkit-box-shadow:0px 7px 10px -7px #000;
    box-shadow:0px 7px 10px -7px #000
}
#single_grifus .info_caja .relacionados img {
    width:120px;
    height:178px
}
#single_grifus .info_caja .izquierda {
    width:150px;
    float:left;
    margin-right:20px
}
#single_grifus .info_caja .izquierda a.trailer {
    background:#8C0000;
    color:#fff;
    padding:10px 0;
    font-size:10px;
    margin-top:10px;
    float:left;
    width:150px;
    text-align:center;
    text-shadow:0 1px 0 rgba(0, 0, 0, 0.17);
    font-weight:bold;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    border-bottom:solid 2px rgba(0, 0, 0, 0.17);
    letter-spacing:1px;
    text-transform:uppercase;
    position:relative
}
#single_grifus .info_caja .izquierda a.trailer span {
    font-size:20px;
    position:absolute;
    top:6px;
    left:4px
}
#single_grifus .info_caja .izquierda .caratula {
    width:150px;
    height:223px;
    float:left;
    border-bottom:2px solid #000;
    -moz-box-shadow:0px 7px 10px -7px #000;
    -webkit-box-shadow:0px 7px 10px -7px #000;
    box-shadow:0px 7px 10px -7px #000;
    position:relative
}
#single_grifus .info_caja .izquierda .caratula span.like {
    position:absolute;
    bottom:0px;
    left:0px;
    background:#ED9900;
    padding:3px 5px;
    font-size:13px
}
#single_grifus .info_caja .izquierda .caratula span.like a {
    color:#FFF
}
#single_grifus .info_caja .izquierda .caratula img {
    width:150px;
    height:223px
}
#single_grifus .info_caja .meta_datos {
    float:left;
    width:788px;
    padding:5px 0
}
#single_grifus .info_caja .meta_datos span.like {
    float:left;
    background:#A084BD;
    -webkit-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 1);
    box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 1);
    padding:9px 10px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    font-size:21px;
    margin-right:10px
}
#single_grifus .info_caja .meta_datos span.like a {
    color:#fff;
    text-shadow:0 1px 0 rgba(0, 0, 0, 0.4);
    font-weight:bold
}
#single_grifus .info_caja .meta_datos h1 {
    font-size:20px;
    color:#F7F7F7;
    text-shadow:0px 1px #000
}
#single_grifus .info_caja .meta_datos .misc {
    color:#8d8d8d;
    font-size:11px;
    font-weight:bold;
    padding:10px 0;
    border-bottom:#1F1F1F solid 1px
}
#single_grifus .info_caja .meta_datos .misc a {
    font-weight:bold;
    color:rgba(255,255,255,0.7);
    text-decoration:none
}
#single_grifus .info_caja .meta_datos.misc a:hover {
    color:#9C3
}
#single_grifus .info_caja .meta_datos .misc span {
    border:solid 1px #1B1B1B;
    background:#1F1F1F;
    border-radius:3px;
    color:#484848;
    display:inline-block;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    font-weight:bold;
    overflow:hidden;
    padding:2px 5px;
    position:relative;
    vertical-align:middle;
    width:auto;
    top:-1px;
    text-transform:uppercase
}
.score {
    padding:10px 0;
    border-bottom:#1F1F1F solid 1px;
    margin-bottom:10px
}
.rank {
    background-color:#141414;
    border-radius:3px 3px 3px 3px;
    color:#fff;
    font-size:24px;
    font-weight:bold;
    height:39px;
    line-height:40px;
    text-align:center;
    width:45px;
    display:inline-block;
    vertical-align:top;
    -webkit-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.86), 0 1px 0 rgba(0, 0, 0, 1);
    box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.86), 0 1px 0 rgba(0, 0, 0, 1)
}
.stars {
    display:inline-block;
    vertical-align:top;
    padding:0 0 0 10px
}
.abc-c {
    display:block;
    width:112px;
    height:22.5px;
    background:url(images/estrellas.png) 0 0
}
.abc-c .abc-r {
    display:block;
    height:22.5px;
    background:url(images/estrellas.png) 0 -22.7px
}
#single_grifus .info_caja .meta_datos .views {
    color:#8d8d8d;
    font-size:11px;
    font-weight:bold;
    padding:3px 0 0 0
}
#single_grifus .info_caja .meta_datos .views i {
    color:#ddd
}
#single_grifus .info_caja .meta_datos .views a {
    color:#FDFDFD
}
#single_grifus .info_caja .meta_datos .views a:hover {
    color:#9C3
}
#single_grifus .info_caja .meta_datos .actores a {
    color:#F5F5F5;
    font-size:11px;
    font-weight:bold
}
#single_grifus .info_caja .meta_datos .actores a:hover {
    color:#7F8E9C
}
#single_grifus .info_caja .meta_datos p {
    font-size:14px;
    margin:10px 0;
    line-height:18px;
    color:rgba(255,255,255,0.7);
}
#single_grifus .info_caja .meta_datos a {
    color:#C0C0C0
}
#single_grifus .info_caja .meta_datos a:hover {
    color:#09C
}
#player {
    width:100%;
    float:left;
	margin-bottom: 0px;
}
#player .header_p {
    width:968px;
    height:49px;
    position:relative;
    background:#131313;
    padding:0px 15px;
    border:1px solid;
    border-color:#0D0D0D #000 #0D0D0D;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    margin-bottom:10px;
    float:left
}
#player .header_p ul.idTabs {
    float:left;
    font-size:12px
}
#player .header_p ul.idTabs li {
    float:left;
    padding:5px 2px;
}
#player .header_p ul.idTabs li a {
	  background: #676767;
	  -webkit-border-radius: 3px;
	  -moz-border-radius: 3px;
	  border-radius: 3px;
	  cursor: pointer;
    padding:10px 20px;
    padding-left:24px;
    margin:4px 0;
    font-size:11px;
    font-weight:bold;
    color:#FFFFFF;
    float:left;
    display:block;
    position:relative
}
#player .header_p ul.idTabs li a span {
    font-size:15px;
    position:absolute;
    top:8px;
    left:6px
}
#player .header_p ul.idTabs li a.selected {
    color:#FFF;
    background:#8C0000;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    cursor:default
}
#player .header_p ul.idTabs li a.selected:hover {
    color:#FFF;
    background:#FF2626;
    cursor:default
}
#player .header_p ul.idTabs li a:hover {
	background: #4A4949;
    color:#FFFFFF
}
#player .cuerpo {
    width:100%;
    float:left;
    margin-bottom:25px
}
#player .cuerpo .embed {
width: 100%;
  height: 563px;
  float: left;
  background: #000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  position: relative;
}
#player .cuerpo .embed div {
    display:none;
    margin:0
}
#player .cuerpo .embed iframe {
    width: 100%;
	height: 563px;
}
#player .cuerpo .lateral {
    width:150px;
    padding:4px;
    border:1px solid;
    border-color:#111;
    margin-left:15px;
    float:left;
    background:#141414;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    position:relative
}
#player .cuerpo .lateral .miniatura {
    float:left;
    width:140px;
    height:140px;
    margin:4px;
    margin-bottom:10px;
    border-bottom:2px solid #fff;
    -moz-box-shadow:0px 7px 10px -7px #000;
    -webkit-box-shadow:0px 7px 10px -7px #000;
    box-shadow:0px 7px 10px -7px #000
}
#player .cuerpo .lateral .miniatura img {
    width:140px;
    height:140px
}
#player .cuerpo .lateral span.views {
    margin:5px;
    color:#808080;
    font-weight:bold;
    padding:7px 10px;
    background:#151515;
    -webkit-box-shadow:inset 0 1px 8px rgba(0, 0, 0, 0.88), 0 1px 0 rgba(43, 43, 43, 0.37);
    box-shadow:inset 0 1px 8px rgba(0, 0, 0, 0.88), 0 1px 0 rgba(43, 43, 43, 0.37);
    float:left;
    width:118px;
    text-align:center;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px
}
#player .cuerpo .lateral a {
    width:139px;
    margin:5px;
    float:left;
    text-align:center;
    padding:10px 0;
    color:rgba(255, 255, 255, 0.98);
    text-shadow:0 1px 0 rgba(0, 0, 0, 0.17);
    font-size:13px;
    font-weight:700;
    transition:all .2s ease-in-out 0;
    background:#ddd;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    border-bottom:solid 2px rgba(0, 0, 0, 0.17)
}
#player .cuerpo .lateral .trailer {
    background:#F00;
    padding:5px 0;
    margin-bottom:28px
}
#player .cuerpo .lateral .facebook {
    background:#425F9B
}
#player .cuerpo .lateral .twitter {
    background:#5EA9DD
}
#player .cuerpo .lateral .google {
    background:#8C0000
}
#player .cuerpo .lateral .facebook:hover {
    background:#486BB6
}
#player .cuerpo .lateral .twitter:hover {
    background:#26CFF8
}
#player .cuerpo .lateral .google:hover {
    background:#EE604F
}
a.apagar {
    position:absolute;
    z-index:2;
    top:11px;
    right:10px;
    background:url(images/luces_on.png);
    color:#FFF;
    cursor:pointer;
    text-indent:-666em;
    width:49px;
    height:28px
}
a.apagar:hover {
    background:url(images/luces_off.png)
}
a.tooltips {
    position:relative;
    display:inline
}
a.tooltips span {
    position:absolute;
    width:100px;
    color:#FFF;
    background:#000;
    height:30px;
    line-height:30px;
    text-align:center;
    visibility:hidden;
    border-radius:6px;
    font-weight:normal
}
a.tooltips span:after {
    content:'';
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-8px;
    width:0;
    height:0;
    border-right:8px solid #000;
    border-top:8px solid transparent;
    border-bottom:8px solid transparent
}
a:hover.tooltips span {
    visibility:visible;
    opacity:0.5;
    left:100%;
    top:50%;
    margin-top:-15px;
    margin-left:15px;
    z-index:999
}
#ads {
    margin:0
}
#ads .player_falso {
    width:825px;
    height:396px;
    background:#000;
    float:left;
    display:block!important;
    position:relative;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background-size:825px;
    background-repeat:no-repeat;
    box-shadow:0 0 150px rgba(0, 0, 0, 1) inset
}
#ads .player_falso span.titulo {
    position:absolute;
    color:#fff;
    text-shadow:0px 0px 8px rgba(0, 0, 0, 1);
    font-weight:bold;
    font-size:20px;
    top:25px;
    left:25px
}
#ads .player_falso span.year {
    position:absolute;
    color:#FFF;
    text-shadow:0px 0px 8px rgba(0, 0, 0, 1);
    font-size:14px;
    font-weight:bold;
    top:49px;
    left:25px
}
#ads .player_falso span.tiempo {
    position:absolute;
    color:#fff;
    text-shadow:0 1px 0 rgba(0, 0, 0, 0.6);
    background:#000;
    padding:3px 10px;
    font-size:13px;
    font-weight:normal;
    opacity:0.7;
    top:27px;
    right:25px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px
}
#ads .player_falso span.mega {
    width:90px;
    position:absolute;
    color:#fff;
    text-shadow:0 1px 0 rgba(0, 0, 0, 0.6);
    background:#000 url(images/mega.png) no-repeat 10px 9px;
    padding:15px 10px;
    padding-left:45px;
    font-size:13px;
    font-weight:normal;
    opacity:0.8;
    top:27px;
    right:25px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    text-align:left
}
#ads .player_falso span.mega a {
    color:#fff;
    font-weight:bold
}
#ads .player_falso span.mega a:hover {
    color:#858585
}
#ads .player_falso span.controles {
    width:508px;
    height:56px;
    position:absolute;
    background:url(images/player_control.png);
    top:300px;
    right:158.5px;
    opacity:0.8
}
#ads .player_falso span.controles:hover {
    background:url(images/player_control_hover.png);
    opacity:1
}
.black_overlay {
    display:none;
    position:fixed;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    background-color:black;
    z-index:1001;
    -moz-opacity:0.9;
    opacity:0.9;
    filter:alpha(opacity=90)
}
.white_content {
    display:none;
    position:absolute;
    top:25%;
    left:33%;
    width:562px;
    height:344px;
    padding:0;
    z-index:1002;
    overflow:auto
}
.white_content iframe {
    width:560px;
    height:315px
}
.white_content a.cerrar {
    color:#fff;
    background:#F00;
    padding:2px 10px;
    float:left;
    margin-top:5px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px
}
.ads_728 {
    text-align:center;
    width:980px;
    padding-bottom:15px;
    border-bottom:1px solid #151515;
    margin-bottom:20px
}
.ads_200 {
    width:200px;
    margin-top:10px;
    float:left
}
#sub_contenido {
    width:1000px;
    float:left
}
#sub_contenido .contenido {
    width:960px;
    float:left;
    background:#131313;
    border:solid 1px #1B1B1B;
    -moz-box-shadow:0px 1px 10px -4px #000;
    -webkit-box-shadow:0px 1px 10px -4px #000;
    box-shadow:0px 1px 10px -4px #000;
    padding:20px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px
}
#sub_contenido .contenido .comentarios {
    float:left;
    width:100%;
    margin-bottom:15px
}
#sub_contenido .contenido .comentarios a {
    color:#F8C907
}
#sub_contenido .contenido .infodatos {
    float:left;
    width:638px;
    margin-bottom:15px
}
#sub_contenido .contenido .infodatos p {
    width:618px;
    float:left;
    padding:5.5px 10px;
    background:#212121;
    margin-bottom:5px;
}
#sub_contenido .contenido .infodatos p span.a {
    width:170px;
    float:left;
    font-weight:bold;
    color:rgba(255,255,255,0.7);
    text-shadow:0 1px 0 #000
}
#sub_contenido .contenido .infodatos p span.b {
    float:left;
    width:448px;
    color:rgba(168, 167, 167, 1)
}
#sub_contenido .contenido .infodatos p span.b a {
    color:#D3D3D3;
    font-weight:bold;
    line-height: 20px;
}
#sub_contenido .contenido .sinopsis .social {
    float:right;
    margin:0;
    margin-bottom:13px
}
#sub_contenido .contenido .sinopsis .social a {
    width:67px;
    float:left;
    text-align:center;
    padding:5px 0;
    color:rgba(255, 255, 255, 0.98);
    font-size:11px;
    font-weight:700;
    transition:all .2s ease-in-out 0
}
#sub_contenido .contenido .sinopsis .social .facebook {
    background:#425F9B;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px
}
#sub_contenido .contenido .sinopsis .social .twitter {
    background:#5EA9DD
}
#sub_contenido .contenido .sinopsis .social .google {
    background:#8C0000;
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-right-radius:3px;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomright:3px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px
}
#sub_contenido .contenido .sinopsis span {
    font-size:16px;
    color:#8C0000;
    font-weight:bold
}
#sub_contenido .contenido .hr {
    border-bottom:1px solid #383838;
    box-shadow:0 1px 0 0 #0E0E0E;
    float:left;
    width:100%
}
#sub_contenido .sidebar {
    width:300px;
    margin-left:20px;
    float:left
}
#sub_contenido .sidebar .buscador {
    width:300px;
    margin:0;
    float:left;
    margin-bottom:15px
}
#sub_contenido .sidebar .buscador input {
    background:#8C0000 url(images/search.png) 5% 50% no-repeat;
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.1) inset;
    color:#FFF;
    width:280px;
    border:0;
    height:16px;
    line-height:20px;
    text-indent:20px;
    padding:9px 10px;
    margin:0;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    font-size:13px
}
#sub_contenido .sidebar .ads {
    width:300px;
    margin-bottom:15px;
    float:left
}
#sub_contenido .contenido h2 {
    margin-bottom:10px;
    font-size:16px;
    color:#FFF
}
#sub_contenido .contenido .rating {
    float:left;
    width:638px;
    margin-bottom:15px
}
#sub_contenido .contenido .rating .estrellas {
    padding:15px 18px;
    background:#8C0000;
    border-bottom:solid 1px #111;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    width:160px;
    float:left;
    margin-left:4px;
    color:transparent;
    font-size:0;
    float:right
}
#sub_contenido .contenido .rating .r_data {
    float:left;
    width:130px;
    text-align:center;
    margin:0 3px;
    padding:6.8px 0;
    background:#181818;
    border-bottom:solid 1px rgba(0, 0, 0, 0.16);
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px
}
#sub_contenido .contenido .rating .r_data b {
    width:130px;
    float:left;
    text-align:center;
    font-size:20px;
    color:rgba(255, 255, 255, 0.9);
    text-shadow:0 1px 0 rgba(53, 60, 68, 0.55)
}
#sub_contenido .contenido .rating .r_data b:hover {
    color:#FFF
}
#sub_contenido .contenido .rating .r_data span {
    width:130px;
    float:left;
    text-align:center;
    font-size:10px;
    text-transform:uppercase;
    color:rgba(255, 255, 255, 0.5);
    margin-top:3px
}
#sub_contenido .contenido .sinopsis {
    width:638px;
    float:left;
    margin-bottom:15px
}
#sub_contenido .contenido .sinopsis p {
    font-size:13px;
    line-height:18px;
    text-shadow:0 1px 0 #0A0A0A;
    color:rgba(255,255,255,0.7);
    float:left
}
#sub_contenido .sidebar .mas_votado {
    margin-bottom:15px;
    float:left;
    -moz-box-shadow:0 1px 5px #aaa
}
#sub_contenido .sidebar .mas_votado h3 {
    color:#7986A0;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.61);
    font-size:18px;
    margin:0;
    border-bottom:2px solid #BBC4D5;
    margin-bottom:10px;
    width:300px;
    padding:0 0 20px
}
#sub_contenido .sidebar .mas_votado h3 span {
    width:290px;
    font-size:12px;
    float:left;
    color:#BBC4D5;
    font-weight:400
}
#sub_contenido .sidebar .mas_votado .item {
    width:280px;
    float:left;
    padding:10px 10px;
    border-bottom:1px dotted #131313
}
#sub_contenido .sidebar .mas_votado .item:last-child {
    border-bottom:none;
    margin-bottom:0
}
#sub_contenido .sidebar .mas_votado .item span.puesto {
    float:left;
    color:#FFF;
    font-weight:700;
    font-size:13px;
    text-shadow:none;
    padding:1px 5px;
    margin-right:10px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(0, 0, 0, 0.38);
    box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(0, 0, 0, 0.38);
    font-style:normal;
    text-align:center;
    width:20px
}
#sub_contenido .sidebar .mas_votado .item span.ac_10 {
    background:#8C0000
}
#sub_contenido .sidebar .mas_votado .item span.ac_9 {
    background:#8C0000
}
#sub_contenido .sidebar .mas_votado .item span.ac_8 {
    background:#8C0000
}
#sub_contenido .sidebar .mas_votado .item span.ac_7 {
    background:#8C0000
}
#sub_contenido .sidebar .mas_votado .item span.ac_6 {
    background:#8C0000
}
#sub_contenido .sidebar .mas_votado .item span.ac_5 {
    background:#8C0000
}
#sub_contenido .sidebar .mas_votado .item span.ac_4 {
    background:#8C0000
}
#sub_contenido .sidebar .mas_votado .item span.ac_3 {
    background:#8C0000
}
#sub_contenido .sidebar .mas_votado .item span.ac_2 {
    background:#8C0000
}
#sub_contenido .sidebar .mas_votado .item span.ac_1 {
    background:#8C0000
}
#sub_contenido .sidebar .mas_votado .item span.titulo {
    font-weight:700;
    font-size:12px;
    text-shadow:0 1px 0 rgba(0, 0, 0, 0.61);
    width:160px;
    float:left
}
#sub_contenido .sidebar .mas_votado .item span.titulo a {
    color:#7C7C7C
}
#sub_contenido .sidebar .mas_votado .item span.titulo a:hover {
    color:#FFF
}
#sub_contenido .sidebar .mas_votado .item span.votos {
    float:right;
    color:#FFC500;
    font-size:11px;
    font-weight:700;
    text-shadow:0 1px 0 rgba(0, 0, 0, 0.61);
    padding-top:3px;
    width:44px;
    text-align:right;
    padding:2px 0
}
#sub_contenido .sidebar .mas_votado .item span.promedio_top {
    float:right;
    color:#FFF;
    font-size:11px;
    font-weight:700;
    padding-top:3px;
    width:25px;
    background:#000;
    text-align:center;
    margin-right:8px;
    padding:2px 0;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px
}
#sub_contenido .sidebar .mas_votado .header_top {
    width:280px;
    padding:10px;
    color:#FFF;
    text-shadow:0 1px 0 rgba(53, 60, 68, 0.55);
    margin-bottom:2px;
    float:left;
    font-size:12px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background-color:#000
}
#sub_contenido .sidebar .mas_votado .header_top span.a {
    width:75px;
    float:left;
    font-weight:bold
}
#sub_contenido .sidebar .mas_votado .header_top span.b {
    width:100px;
    float:left;
    text-align:center
}
#sub_contenido .sidebar .mas_votado .header_top span.c {
    float:left;
    width:60px;
    text-align:center
}
#sub_contenido .sidebar .mas_votado .header_top span.d {
    float:left;
    width:45px;
    text-align:right
}
#paginador {
	clear: both;
	width: auto;
	margin: auto;
}
.wp-pagenavi {
	clear: both;
	margin: auto;
	text-align: center;
	width: 100%;
}

#paginador .paginado {
    font-size:12px;
    line-height:20px;
    font-weight:700
}
#paginador .paginado a, .pag-nav span {
    color:#555;
    margin:0 4px 4px;
    border:1px solid #0D0D0D;
    -webkit-border-radius:3px;
    border-radius:3px;
    display:inline-block;
    padding:4px 8px;
    background-color:transparent;
    background-image:-ms-linear-gradient(top, #171717, #171717);
    background-image:-moz-linear-gradient(top, #171717, #171717);
    background-image:-o-linear-gradient(top, #171717, #171717);
    background-image:-webkit-gradient(linear, left top, left bottom, from(#171717), to(#171717));
    background-image:-webkit-linear-gradient(top, #171717, #171717);
    background-image:-linear-gradient(top, #171717, #171717);
    -webkit-box-shadow:inset 0 1px 0 #1D1C1C, 0 1px 1px rgba(24, 24, 24, 1);
    box-shadow:inset 0 1px 0 #1D1C1C, 0 1px 1px rgba(24, 24, 24, 1)
}
#paginador .paginado span {
    color:#555;
    margin:0 4px 4px;
    border:1px solid #CCC;
    -webkit-border-radius:3px;
    border-radius:3px;
    display:inline-block;
    padding:4px 8px;
    background-color:#E7E7E7;
    background-image:-ms-linear-gradient(top, #EEE, #E7E7E7);
    background-image:-moz-linear-gradient(top, #EEE, #E7E7E7);
    background-image:-o-linear-gradient(top, #EEE, #E7E7E7);
    background-image:-webkit-gradient(linear, left top, left bottom, from(#EEE), to(#E7E7E7));
    background-image:-webkit-linear-gradient(top, #EEE, #E7E7E7);
    background-image:-linear-gradient(top, #EEE, #E7E7E7);
    -webkit-box-shadow:inset 0 1px 0 #fff, 0 1px 1px rgba(0, 0, 0, .1);
    box-shadow:inset 0 1px 0 #fff, 0 1px 1px rgba(0, 0, 0, .1)
}
#paginador .paginado .current {
    color:#FFF;
    background:#3C3C3C;
    border:1px solid #161616;
    -webkit-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.25), 0 1px 0 #000;
    box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.25), 0 1px 0 #000
}
#paginador .paginado a {
    margin:3px;
    color:#808391;
    text-decoration:none;
    font-size:12px
}
#paginador .paginado a:hover {
    background-color:transparent;
    border:1px solid #000;
    color:#FFF;
    text-decoration:none;
    -webkit-box-shadow:inset 0 1px 0 #383838, 0 1px 3px rgba(0, 0, 0, 0.55);
    box-shadow:inset 0 1px 0 #383838, 0 1px 3px rgba(0, 0, 0, 0.55)
}
#admin {
    width:960px;
    padding:10px 20px;
    margin:0;
    margin-top:20px;
    float:left;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow:0px 1px 10px -4px #000;
    -webkit-box-shadow:0px 1px 10px -4px #000;
    box-shadow:0px 1px 10px -4px #000;
    background-color:transparent;
    background-image:-moz-linear-gradient(#485060, #2F3643);
    background-image:-webkit-linear-gradient(#485060, #2F3643);
    background-image:linear-gradient(#485060, #2F3643)
}
#admin .grifus {
    float:left;
    margin-right:15px;
    font-size:21px;
    font-weight:bold;
    color:#FFF;
    text-shadow:0 1px 1px rgba(0, 0, 0, 1)
}
#admin .menu {
    width:650px;
    float:left
}
#admin .menu ul {
    font-size:12px
}
#admin .menu ul li {
    float:left;
    margin:4px 0
}
#admin .menu ul li a {
    padding:5px 15px;
    border:solid 1px #222935;
    background-color:transparent;
    background-image:-moz-linear-gradient(#343F50, #222935);
    background-image:-webkit-linear-gradient(#343F50, #222935);
    background-image:linear-gradient(#343F50, #222935);
    background-repeat:repeat-x;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    margin-right:10px;
    color:#D4D4D4
}
#admin .menu ul li a:hover {
    color:#2EDFFF;
    background-color:transparent;
    background-image:-moz-linear-gradient(#222935, #343F50);
    background-image:-webkit-linear-gradient(#222935, #343F50);
    background-image:linear-gradient(#222935, #343F50);
    background-repeat:repeat-x
}
#admin .lateral {
    float:right;
    padding:3px;
    font-size:13px
}
#admin .lateral a {
    color:#E0E0E0
}
#admin .lateral a:hover {
    color:#2EDFFF
}
.page {
    margin-top:25px
}
.page p {
    font-size:15px;
    line-height:20px;
    text-shadow:0 1px 0 #000;
    color:#979797;
    margin-bottom:15px
}
.page a {
    color:#FFF;
    font-weight:bold;
    text-shadow:0 1px 0 #000
}
.page a:hover {
    color:#6A99E4
}
.page h1 {
    font-size:20px;
    padding-bottom:10px;
    margin-bottom:10px;
    border-bottom:1px dashed #171717;
    color:#FFF;
    text-shadow:0 1px 0 #171717
}
.page blockquote {
    padding-left:40px;
    background:url(images/quote.png) no-repeat top left;
    margin-bottom:15px
}
.page blockquote p {
    font-size:14px;
    font-style:italic;
    line-height:20px;
    margin:0
}
.page ul {
    font-size:15px
}
.page li {
    list-style:square;
    margin-left:30px;
    color:#6F777C;
    line-height:20px
}
.page hr {
    border:0;
    border-bottom:solid 1px #181818;
    background:#313131;
    height:1px
}
#resultados .resultado {
    width:632px;
    float:left;
    padding-bottom:15px;
    margin-bottom:15px;
    border-bottom:dashed 1px #1C1C1C
}
#resultados .resultado .imagen {
    width:110px;
    height:163px;
    float:left;
    position:relative;
    margin-right:20px;
    -moz-box-shadow:0px 7px 10px -7px #000;
    -webkit-box-shadow:0px 7px 10px -7px #000;
    box-shadow:0px 7px 10px -7px #000
}
#resultados .resultado .imagen span.imdb {
    position: absolute;
    top: 144px;
    left: 2px;
    padding: 3px 7px;
    background: #8C0000;
    font-size: 11px;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #000000;
    opacity:0.85  
}
#resultados .resultado .imagen span.imdb b {
    color:#F8C907;
    text-shadow:0 1px 0 #000
}
#resultados .resultado .imagen img {
    width:110px;
    height:163px
}
#resultados .resultado .datos {
    float:left;
    width:500px
}
#resultados .resultado .datos span.titulo {
    font-size:17px;
    font-weight:bold;
    width:500px;
    float:left;
    margin:4px 0;
    color:#648CAC
}
#resultados .resultado .datos span.anio {
    float:left;
    width:33px;
    margin-bottom:10px
}
#resultados .resultado .datos span.anio a {
    font-weight:normal;
    font-size:11px;
    color:#8BADDE;
    width:530px
}
#resultados .resultado .datos p {
    width:500px;
    float:left;
    font-size:12px;
    line-height:16px;
    color:#9F9F9F;
    margin-bottom:7px
}
#resultados .resultado .datos .ratio {
    width:500px;
    float:left
}
#resultados .resultado .datos .ratio .ac {
    width:60px;
    float:left;
    margin-right:10px;
    background:#1B1B1B;
    color:#BAC1D0;
    -webkit-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.37), 0 1px 0 #FFF;
    box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.37), 0 1px 0 #141414;
    padding:5px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px
}
#resultados .resultado .datos .ratio .ac b {
    width:60px;
    text-align:center;
    float:left;
    font-size:14px;
    margin-bottom:2px;
    color:#F8C907
}
#resultados .resultado .datos .ratio .ac span {
    width:60px;
    float:left;
    font-size:11px;
    text-align:center;
    color:#4E4E4E
}
#resultados .resultado .datos .abc-c {
    display:block;
    width:65px;
    height:13px;
    background:url(images/star-rating-sprite_dark.png) 0 0;
    float:left;
    margin-bottom:10px
}
#resultados .resultado .datos .abc-c .abc-r {
    display:block;
    height:13px;
    background:url(images/star-rating-sprite_dark.png) 0 -13px
}
#resultados .erick {
    float:left;
    margin-bottom:15px
}
#resultados .erick input {
    background:#161515 url(images/search.png) 1% 50% no-repeat;
    box-shadow:0 0px 6px rgba(0, 0, 0, 1) inset;
    color:#FFF;
    width:980px;
    height:31px;
    line-height:20px;
    text-indent:20px;
    padding:7px 9px;
    border:0;
    margin:7px 0;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    font-size:14px
}
#resultados .sin_resultados {
    width:632px;
    text-align:center;
    margin:70px 0;
    float:left;
    font-size:23px;
    color:#C9C9C9
}
#sub_contenido .contenido .descargas {
    width:100%;
    float:left;
    margin:15px 0
}
#sub_contenido .contenido .descargas .pver {
    float:left
}
#sub_contenido .contenido .descargas .pver li {
    float:left;
    border-bottom:1px solid #000;
    background-image:url(images/icpl.png);
    background-repeat:no-repeat;
    background-position:10px center
}
#sub_contenido .contenido .descargas .desx li {
    background-image:url(images/icpl_.png)
}
#sub_contenido .contenido .descargas .pver li a {
    font-weight:bold;
    color:#747474;
    text-shadow:0 1px 0 #000;
    font-size:12px
}
#sub_contenido .contenido .descargas .pver li a span {
    float:left;
    width:138px;
    padding:8px 10px;
    border-left:1px solid #000
}
#sub_contenido .contenido .descargas .pver li a .op {
    border:0px;
    width:124px;
    padding:8px 0px 8px 36px;
    color:#FFF
}
#sub_contenido .contenido .descargas .pver li:hover {
    background-image:url(images/icpl_.png)
}
#sub_contenido .contenido .descargas .pver li a:hover {
    color:#6D6D6D
}
#sub_contenido .contenido .descargas .pver li a:hover span {
    border-color:000
}
#sub_contenido .contenido .descargas .desx li:hover {
    background-image:url(images/icdw_.png)
}
#sub_contenido .contenido .descargas .pver li:hover {
    border-color:#1E1E1E
}
#sub_contenido .contenido .descargas .pver .bg-a {
    background-color:#eee
}
#sub_contenido .contenido .descargas .pver .ver {
    background:#8C0000;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    border-color:#000
}
#sub_contenido .contenido .descargas .pver .ver span {
    color:#fff;
    float:left;
    width:138px;
    padding:8px 10px;
    border-left:1px solid #030303;
    font-weight:bold
}
#sub_contenido .contenido .descargas .pver .ver .opci {
    border:0px;
    width:124px;
    padding:8px 0px 8px 36px
}
#sub_contenido .contenido .descargas .pver .ver:hover {
    background:#000;
    border-color:#000
}
.years {
    width:1000px;
    padding:7px 0;
    background:#1C1C1C;
    float:left;
    border-bottom:1px solid #0B0B0B;
    */;
    border-top:1px solid #0B0B0B;
    */
}
.years span {
    float:left;
    margin-right:10px;
    font-size:13px;
    padding:2px;
    font-weight:bold
}
.years a.ito {
    padding:3px 10px;
    margin-left:1.8px;
    float:left;
    font-size:12px;
    color:#7F7F7F;
    text-shadow:0px 1px 0px #000;
    transition:all .2s ease-in-out 0
}
.years a.ito:hover {
    background:#000;
    color:#FFF;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px
}
#categoria {
    margin:0!important;
    width:1000px!important;
    margin-top:20px!important
}
#categoria .item {
    width:150px;
    height:222px;
    float:left;
    margin-left:14.5px;
    margin-bottom:20px;
    overflow:hidden;
    position:relative;
    -moz-box-shadow:0px 7px 10px -7px #000;
    -webkit-box-shadow:0px 7px 10px -7px #000;
    box-shadow:0px 7px 10px -7px #000
}
#categoria .item h2 {
    display:none
}
#categoria .item .peli {
    width:150px;
    height:222px
}
#categoria .item .peli img {
    width:150px;
    height:222px
}
#categoria .item span.calidad {
    background:#8C0000;
    color:#fff;
    top:4px;
    left:4px;
    padding:2px 10px;
    float:right;
    font-size:11px;
    text-align:center;
    position:absolute;
}
#categoria .item span.anio {
    background:#8C0000;
    color:#fff;
    top:202px;
    right:4px;
    padding:2px 0;
    float:right;
    font-size:11px;
    width:33px;
    text-align:center;
    position:absolute;
    opacity:0.85
}
#categoria .item .peli {
    float:left;
    width:150px;
    height:222px;
    background-color:#fff
}
#categoria .item .peli span.player {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    right:0;
    transition:none
}
#categoria .item .peli span.player:hover {
	background: rgba(0, 0, 0, 0.62) url(images/play_hover.png) no-repeat 50% 50%;
}

#categoria .item .peli span.playerA {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    right:0;
    transition:none
}
#categoria .item .peli span.playerA:hover {
	background: rgba(0, 0, 0, 0.62) url() no-repeat 50% 50%;
}
#categoria .item span.imdb {
    position: absolute;
    top: 202px;
    left: 4px;
    padding: 3px 7px;
    background: #8C0000;
    font-size: 11px;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #000000;
    opacity:0.85  
}
#categoria .item span.imdb b {
    color: #F8C907;
    text-shadow: 0 1px 0 #000000;
}
.contenido .formulario {
    margin:0
}
.contenido .formulario fieldset {
    border:none;
    padding:0;
    margin:5px 0
}
.contenido .formulario fieldset .cajon_texto {
    border:1px solid #0A0A0A;
    color:#FFF;
    font-size:15px;
    border-radius:3px;
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.1) inset;
    background:#171717;
    outline:none;
    padding:10px 12px;
    margin:5px;
    font-family:'Helvetica Neue', 'Helvetica', arial, sans-serif
}
.contenido .formulario fieldset .medio {
    width:280px
}
.contenido .formulario fieldset.blak {
    background:#fff;
    padding:20px;
    width:584px;
    margin:0 5px
}
.contenido .formulario fieldset .maximo {
    width:600px
}
.contenido .formulario fieldset .texto {
    height:60px;
    font-weight:100
}
.contenido .formulario fieldset span {
    margin:5px;
    float:left;
    color:#FFF;
    font-weight:bold;
    font-size:15px
}
.contenido .formulario fieldset .boton {
    background-color:#0C0C0C;
    -webkit-box-shadow:0 2px 0 #000;
    box-shadow:0 2px 0 #000;
    position:relative;
    border:none;
    border-radius:4px;
    color:#fff;
    cursor:pointer;
    display:inline-block;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:14px;
    line-height:1.5;
    margin:6px;
    padding:5px 0;
    text-align:center;
    width:300px
}
.contenido .formulario h1 {
    color:#808391;
    font-size:25px;
    margin:0;
    padding:0;
    margin-left:5px
}
.contenido .formulario p {
    color:#808391;
    font-size:14px;
    margin-left:5px;
    line-height:18px;
    -webkit-margin-before:0em;
    -webkit-margin-after:1em
}
#recaptcha_response_field {
    border-color:#E4E2E2 !important;
    background-color:#FFF !important;
    color:#BABABA;
    font-size:20px !important;
    font-weight:bold;
    border-radius:3px;
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.1) inset;
    outline:none;
    padding:8px 12px;
    width:300px!important
}
.recaptchatable {
    border:0!important
}
form.wp-advanced-search .label-container {
    color:#FEB400;
    font-weight:bold;
    text-shadow:0 1px 0 rgba(0, 0, 0, 0.95);
    margin-bottom:5px
}
form.wp-advanced-search input[type="text"] {
    width:278px;
    margin:5px 0;
    padding:10px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    border:1px solid #000;
    background:#141414;
    color:#ddd
}
form.wp-advanced-search input[type="checkbox"] {
    cursor:pointer;
    margin-right:5px;
    margin-bottom:5px
}
form.wp-advanced-search input[type="submit"] {
    width:300px;
    margin:11px 0;
    cursor:pointer;
    padding:9px 0;
    border:0;
    color:rgba(0, 0, 0, 0.41);
    font-weight:bold;
    background-color:transparent;
    background-image:-moz-linear-gradient(#8C0000, #8C0000);
    background-image:-webkit-linear-gradient(#8C0000, #8C0000);
    background-image:linear-gradient(#8C0000,#8C0000);
    background-repeat:repeat-x;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px
}
form.wp-advanced-search select {
    width:300px;
    margin:5px 0;
    margin-bottom:10px;
    padding:5px 10px;
    color:#8E8E8E;
    font-weight:bold;
    font-size:12px;
    border:1px solid #000;
    background:#141414
}
a.busqueda_avanzada {
    float:right;
    padding:5px 20px;
    background:#8C0000;
    margin:4px 0;
    color:#fff;
    text-shadow:none;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    font-size:12px
}
a.busqueda_avanzada:hover {
    color:#fff
}
form.wp-advanced-search .wpas-field {
    width:300px;
    float:left
}
form.wp-advanced-search .wpas-field .wpas-checkbox-container {
    width:100px;
    float:left;
    margin:2px 0;
    padding:0;
    color:#818181;
    font-weight:bold;
    font-size:12px
}
form.wp-advanced-search .wpas-field .field-container {
    margin-bottom:10px;
    width:300px;
    float:left
}
#sinopsis h2, h3, h4, h5, h6 {
    margin-top:15px
}
a.ui-corner-all {
    color:#fff!important;
    font-size:11px
}
a.ui-corner-all:hover {
    background:transparent!important;
    border:0!important;
    color:#00CCFF!important
}
li.ui-menu-item:hover {
    background:transparent!important
}
ul.ui-autocomplete {
    background:#000;
    opacity:0.9;
    margin-top:15px!important;
    -webkit-border-bottom-right-radius:3px!important;
    -webkit-border-bottom-left-radius:3px!important;
    -moz-border-radius-bottomright:3px!important;
    -moz-border-radius-bottomleft:3px!important;
    border-bottom-right-radius:3px!important;
    border-bottom-left-radius:3px!important
}
.ui-widget-content {
    border:0!important
}
#noticias {
    float:left;
    width:100%
}
#noticias .item {
    width:50%;
    float:left;
    margin-bottom:10px;
    padding-bottom:10px;
    border-bottom:1px dotted #C3C9D1
}
#noticias .item .imagen {
  width: 190px;
  height: 107px;
  position: relative;
  left: 20px;
  float: left;
  margin-right: 5px;
  border-bottom: 1px solid #fff;
  -moz-box-shadow: 0px 7px 10px -7px #000;
  -webkit-box-shadow: 0px 7px 10px -7px #000;
  box-shadow: 0px 7px 10px -7px #000;
}
#noticias .item .imagen span.notita {
    position:absolute;
    font-size:12px;
    bottom:5px;
    left:6px;
    padding:2px 8px;
    background:#000;
    color:#fff;
    opacity:0.7
}
#noticias .item .imagen img {
    width:190px;
    height:107px
}
#noticias .item .datos {
  width: 440px;
  float: left;
  padding-top: 10px;
  padding-left: 18px;
}
#noticias .item .datos h2 {
    font-size:15px;
    color:#697881;
    float:left;
    width:433px;
    line-height:17px
}
#noticias .item .datos h2 a {
    color:#005ea8
}
#noticias .item .datos span {
    color:#B8BBC2;
    font-size:12px;
    width:433px;
    float:left;
    margin-bottom:5px
}
#noticias .item .datos p {
    font-size:12px;
    line-height:17px
}
#sub_contenido .contenido img {
    max-width:638px;
    height:auto
}
.contenido span.date {
    float:left;
    color:#FFF
}
.contenido span.autor {
    float:right;
    color:#FFF
}
.metadato {
    width:100%;
    float:left;
    margin-bottom:20px
}
.botones-sociales {
    width:638px;
    float:left;
    margin-bottom:15px;
    padding-bottom:15px;
    border-bottom:1px solid #474646
}
.botones-sociales a.botons {
    width:300px;
    float:left;
    text-align:center;
    text-shadow:none;
    color:#fff;
    padding:10px 0;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px
}
.botones-sociales a.facebook {
    background:#31599E;
    margin-right:38px
}
.botones-sociales a.facebook:hover {
    background:#4472BF
}
.botones-sociales a.twitter {
    background:#34A3E3
}
.botones-sociales a.twitter:hover {
    background:#5FBDF3
}
/*comentarios*/
.total-comments {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: bold;
    float: left;
    margin-bottom: 15px;
}
.cnumber { color: #2DB2EB }
#comments {
    padding: 0;
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 50px;
}
#commentsAdd {
    padding: 20px 3% 3%;
    background-color: #161616;
    width: 94%;
    float: left;
    clear: both;
    border: 0;
}
#comments .avatar {
    float: left;
    margin-right: 20px;
    -webkit-border-radius: 4px;  -moz-border-radius: 4px;  border-radius: 4px;
    width: 50px;
    height: auto;
    border: #3A3A3A solid 2px;
}
#comments .avatar img {}

.comment time {
    color: #999999;
    font-size: 12px;
}
ul.children .commentImageLeft {
    width: 60px;
    height: 90px;
    border-left: 1px solid #c1bbb6;
    border-bottom: 1px solid #c1bbb6;
    position: absolute;
    top: -50px;
    left: -70px;
}
input.text-input, #commentform input { padding: 11px }
input#author, input#email, input#url {
    width: 300px;
    border: none;
    -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.33);
    -moz-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.33);
    box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.33);
    background: #000;
    color: #fff;
    font-size: 14px;
    float: left;
    clear: both;
    max-width: 85%;
}
input#author, input#email, input#url, #comment {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.contactform input[type="text"] { width: 380px }
#cancel-comment-reply-link {
    float: right;
    line-height: 24px;
    margin-top: 0;
}
#cancel-comment-reply-link {
    font-size: 14px;
    padding: 4px 10px;
    color: white;
    cursor: pointer;
    background: #666;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
#commentform input#submit {
    text-align: center;
    background: #FDB607;
    color: #463407;
    font-weight: bold;
    text-decoration: none;
    float: right;
    cursor: pointer;
    display: inline-block;
    border: none;
    font-family: Helvetica, sans-serif;
    padding: 8px 10px;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
#commentform input#submit:hover {
    background: #F6A50B;
    color: #000;
}
ol.commentlist {
    margin-left: 0;
    margin: 0;
}
.commentlist li {
    list-style: none;
    margin: 0 0 10px 0;
    padding-left: 0;
    float: left;
    width: 100%;
}
.commentContainer {
    padding-top: 15px;
    padding-bottom: 15px;
    float: left;
    width: 100%;
}
.children .commentCInner {
    width: 93%;
    float: right;
}
.children .children .commentCInner { width: 90% }
.commentlist p {
    margin-bottom: 0;
    line-height: 18px;
    color: #606060;  
}
.commentCInner { overflow: hidden ;}
.comment_text_area {
    overflow: hidden;
    padding: 10px;
    background: #161616;
    border: solid 1px #0D0D0D;
    margin-top: 7px;
    -webkit-border-radius: 4px;  -moz-border-radius: 4px;  border-radius: 4px;
}
.children .comment_text_area { border-bottom: none !important }
.children li { position: relative }
.children li .reply-icon {
    position: absolute;
    left: 0;
    top: 20px;
    display: block;
    width: 57px;
    height: 57px;
}
.comment_date_top { margin-left: 10px;}
.fn {
    font-size: 16px;
    line-height: 1.375em;
    font-family: Signika, Arial;
    font-weight: bold;
    color: #FFC40F;
}
.fn a {
    color: #666666;
    font-size: 16px;
}
.comment-meta {
    font-size: 12px;
    font-style: italic;
}
.comment-meta a { color: #888 }
.reply {
    overflow: hidden;
    width: auto;
    float: right;
}
.reply a {
    color: rgba(205, 211, 222, 0.69);
    background: #0D0D0D;
    padding: 1px 15px;
    font-size: 11px;
    -webkit-border-radius: 2px;  
    -moz-border-radius: 2px;  
    border-radius: 2px;
    margin-top: -2px;
    float: left;
    margin-right: 5px;
}
.reply a:hover { color: #FFF;}
.commentlist .children {
    margin-left: 0%;
    margin-bottom: 0;
    margin-top: 0;
    float: left;
    width: 100%;
}
.commentlist .children li {
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.avatar { float: left }
#respond {
    float: left;
    width: 100%;
}
#respond h3 {
    margin-top: 18px;
    font-size: 18px;
    margin: 15px 0 0 0;
    padding: 0 0 20px 0;
    font-weight: normal;
}
.cancel-comment-reply a {
    float: right;
    margin-top: -8px;
    font-size: 14px;
}
.comment-awaiting-moderation {
    font-style: italic;
    font-weight: bold;
}
/*-[ Comment Form ]----------------------------*/
#commentform textarea {
    width: 96.4%;
    height: 60px;
    background: #000000;
    border: 0;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px 10px 10px;
    line-height: 25px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#commentform p {
    margin-bottom: 15px;
    float: left;
    width: 100%;
    clear: both;
}
#commentform p label {
    float: left;
    padding-bottom: 5px;
    padding-top: 5px;
}
.required {
    display: none;
    color: red;
    float: left;
    font-size: 18px;
    padding: 5px;
    padding-top: 9px;
}
.comment-notes .required {
    padding-left: 0;
    padding-top: 3px;
}
.comment-notes {
    font-style: italic;
    display: none;
}
.form-allowed-tags { display: none }
/*-[ pagination ]------------------*/
.navigation {
    width: 100%;
    margin: 5px 0;
    float: left;
}
.navigation a {
    color: #689DD0;
    font-weight: bold;
}
.navigation .alignleft {
    float: left;
}
.navigation .alignright {
    float: right;
}

.cp-title {
    text-align: center;
    width: 124px !important;
    font-size: 0.9em !important;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    left: 0;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0px 0 5px rgba(0, 0, 0, 0.9);
    line-height: 1.2em;
    padding: 8px 6px;
    top: -70px;
    transition: top 0.5s;
    -moz-transition: top 0.5s;
    -webkit-transition: top 0.5s;
    -o-transition: top 0.5s;
    -ms-transition: top 0.5s;
}
.player:hover .cp-title {
    top: 13px;
    transition: top 0.5s;
    -moz-transition: top 0.5s;
    -webkit-transition: top 0.5s;
    -o-transition: top 0.5s;
    -ms-transition: top 0.5s;
}
.playerA:hover .cp-title {
    top: 13px;
    transition: top 0.5s;
    -moz-transition: top 0.5s;
    -webkit-transition: top 0.5s;
    -o-transition: top 0.5s;
    -ms-transition: top 0.5s;
}





.cabecalho { z-index: 9000; background: #333333 url(http://www.filmesonlinehd1.com/wp-content/uploads/2015/05/4bLErqo1.fw_.png); position: relative; width: 100%; height: 70px; border-bottom: 1px solid #333; }
.cabecalho_centro{ margin: 0 auto; width: 1000px; height: 75px; display: table; position: relative; }
.cabecalho_envoltorio{ display: table-cell; vertical-align: middle; }
.logo{background:url('') no-repeat center center; margin-top: -3px; display: block; width: 225px; height: 35px; float: left;}
.logo h1{ text-indent: -99999px; margin: 0px; }
.unidade{ display: inline-block; float: left; position: relative; border-right: 1px solid #5e544d; height: 32px; margin-right: 15px; }
.unidade a span{ color: white; font-size: 11px; text-transform: uppercase; font-family: 'Raleway', Arial, sans-serif; font-weight: bold; line-height: 32px; vertical-align: middle; }
.unidade a{ text-decoration: none; margin-right: 15px; display: block; }
.select{border-bottom: 2px solid #F1352E;height:32px;}
.unidade a:hover{border-bottom: 2px solid #F1352E;}
.menu{ width: 750px; border-left: 1px solid #5e544d; margin-left: 15px; float: left; }
.menu .menu-ul{ margin: 0px; padding-left: 15px; }
.agrupador{ display: none; width: 300px; float: left; margin: 0px; border: solid 1px #dddddd; padding: 10px 0px; background-color: #ffffff; position: absolute; z-index: 9000;margin-top: 12px; margin-left: -108px; }
.submenu .agrupador ul a span{ font-size: 14px; color: #666; line-height: 28px;	display: block; letter-spacing: -0.02em; text-transform: none; font-weight: normal; vertical-align: middle; }
.submenu .agrupador ul a{ display: block; height: 28px; width: 135px; padding-left: 15px; }
.submenu .agrupador ul a:hover{ border-bottom: 0px; background: #F3F6F6; }
.formato{ background: url("http://i.imgur.com/aPrNaNS.png") 50% bottom no-repeat; display: block; position: absolute; top: -14px; left: 0; width: 100%; height: 9px; padding-top: 5px; }
.agrupador .itens{ width: 150px; float: left; padding: 0px; }
.agrupador .itens li{ list-style: none; }
.busca_btm{ display: block; width: 16px; opacity:1.0; height: 15px; float: left; background: url('http://i.imgur.com/XqL0fgR.png'); cursor: pointer; margin-top: 9px; }
.busca_btmhover{ opacity: 0.8; }
.log_area{ width: 190px; height: 32px; border-left: 1px solid #5e544d; padding-left: 15px; float: right; display: block; }
.cabecalho_busca{ display: table-cell; margin-top:10px; vertical-align: middle; display: none; }
.search_bt{ border:0px; float: left; background: transparent; margin-left: 230px; width: 500px; height: 40px; color: #999999; border-bottom: 1px solid #999999; outline: none; font-size: 21px; font-family: 'Myriad PRO', Arial; font-weight: 10; }
.submit_btm{ border: 0px; background: url('http://i.imgur.com/XqL0fgR.png'); width: 16px; height: 15px; float: left; opacity: 0.8; cursor: pointer; margin-top: 8px; }
.submit_btm:hover{ opacity: 1.0 }
.fechar-busca-dropdown{ position: absolute; right: 0; top: 20px; color: #fff; font-family: 'Raleway', Arial; cursor: pointer; font-size: 10px; text-transform: uppercase; text-decoration: none; background: url("http://i.imgur.com/EJedE6Q.png") right center no-repeat; padding: 3px 15px 3px 15px; line-height: 38px; }
.rdsocial { float: right; position:relative;font-size:12px;}
.rdsocial .botones {width: 80px;float: right;color: #fff;text-shadow: 0 1px 0 rgba(0, 0, 0, 0.17);margin: 0px 3px;padding: 5px;-webkit-border-radius: 3px;  -moz-border-radius: 3px;  border-radius: 3px;border-bottom: 1px solid rgba(0, 0, 0, 0.17);}
.rdsocial .botones span{margin-left: 20px;}
.rdsocial #compartir{background: #2d609b url('http://i.imgur.com/OFuzCsV.png') no-repeat 5px;}
.rdsocial #compartir:hover{background: #265384 url('http://i.imgur.com/OFuzCsV.png') no-repeat 5px;}
.rdsocial #twittear{background: #00c3f3 url('http://i.imgur.com/i9eTui2.png') no-repeat 5px;}
.rdsocial #twittear:hover{background: #009EC6 url('http://i.imgur.com/i9eTui2.png') no-repeat 5px;}
.rdsocial #google{background: #dd4b39 url('http://i.imgur.com/rnEi2dG.png') no-repeat 5px 6px;}
.rdsocial #google:hover{background: #D83725 url('http://i.imgur.com/rnEi2dG.png') no-repeat 5px 6px;}
.tirel {
width: 990px;
margin: 5px 0px -60px 0px;
float: left;
font-family: "Open Sans", Arial, Tahoma;
font-size: 20px;
height: 35px;
padding: 10px 0 0 5px;
line-height: 15px;
background: #transparent;
border-radius: 0px 0px 5px 5px;
position:relative;
z-index:99999;
}
.tirel h1 {
margin: 4px;
font-size: 15px;
font-weight: bold;
color: #737986;
float: left;
}
.wprc-switch{cursor: pointer !important; height: 35px !important; padding: 0px 10px 0px 40px !important;  color: #ffffff !important;  text-shadow: -1px -1px 0 #d23c3c !important;  font: bold 12px arial, verdana, tahoma !important; background: #da4646 url('//i.imgur.com/34wHOxM.jpg') no-repeat 10px center !important;  border: 2px solid #a93030 !important;  border-radius: 5px !important;  -o-border-radius: 5px !important;  -moz-border-radius: 5px !important;  -webkit-border-radius: 5px !important; width: 186px !important;
}
.wprc-content{ border-top: 4px solid #d23c3c !important; } 
.wprc-submit{background:#d23c3c !important;}
.wprc-container{ padding-top:10px !important; position:relative; margin-top:-25px !important; margin-bottom:0px!important; z-index:99; }



/* ---------------------------------------------------------
	/   ADS   /
--------------------------------------------------------- */
#titulo_bloco{ 
font-family: "Open Sans", Arial, Tahoma;
font-size: 20px;
color: #8C919B;
text-transform: uppercase;
height: 30px;
margin: 0px 0px 0px 0px;
border-bottom: 1px solid #E3E3E3;
overflow: hidden;
display: block;
clear: both;
padding: 10px 0 0 10px;
position: relative;
line-height: 20px;border-top: 1px solid #E3E3E3;
}
#titulo_bloco span{ font-family: "Open Sans", Arial, Tahoma; font-size: 20px; font-weight: bold; color: #969696; text-transform: uppercase; }
#titulo_bloco h1{ font-family: "Open Sans", Arial, Tahoma; font-size: 20px; font-weight: bold; color: #969696; text-transform: uppercase; margin: 0; }
#titulo_bloco .fio {
display: block;
width: 80px;
height: 5px;
background-color: #333;
clear: left; margin: 10px 0;
}
.trailer a {
background: #FF3131;
color: #fff;
padding: 10px 0;
font-size: 10px;
margin-top: 10px;
float: left;
width: 150px;
text-align: center;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.17);
font-weight: bold;
-webkit-border-radius: 3px;  
-moz-border-radius: 3px;  
border-radius: 3px;  
border-bottom: solid 2px rgba(0, 0, 0, 0.17);      
letter-spacing: 1px;   
text-transform: uppercase;
}
span.qualidade {
background: #53A226;
color: #fff;
top: 4px;
right: 4px;
padding: 2px 10px;
float: right;
font-size: 11px;
text-align: center;
position: absolute;
/* text-transform: uppercase; */
}
.idioma {
background: rgba(186, 4, 13, 1);
color: #fff;
top: 4px;
left: 4px;
padding: 2px 5px;
float: right;
font-size: 11px;
text-align: center;
position: absolute;
text-transform: uppercase;
}
span.imdb {
    position: absolute;
    bottom: 4px;
    left: 4px;
    padding: 3px 7px;
    background: #FFD614;
    font-size: 11px;
    color: #6F6652;
    text-shadow: 0 1px 0 #F4E6A6;        
}
span.imdb b {
    color: #000;
    text-shadow: 0 1px 0 #F4E6A6;
}
span.ano{
background: #DD1E35;
color: #fff;
top: 183px;
right: 4px;
padding: 2px 0;
float: right;
font-size: 11px;
width: 33px;
text-align: center;
position: absolute;
/* opacity: 0.85; */
}

/* ---------------------------------------------------------
	/   PUBLICIDADE RODAPE   /
--------------------------------------------------------- */
.publicidade-rodape { 
margin: auto;
display: block;
position: relative;
margin-top: -20px;text-align: center;
margin-bottom: 50px;
-moz-box-shadow: 0px 1px 10px -4px #000;
box-shadow: 0px 1px 10px -4px #333;
-moz-border-radius: 4px;
border-radius: 4px;
padding: 10px;
}
.publicidade-meio{
    width: 1000px;
    margin: 15px 0px -30px 0px;
    float: left;
    color: #5C5C5C;
}
.anos{
	position: absolute;
	top: 220px;
	right: 0px;
	background: none repeat scroll 0% 0% #111;
	color: #FFF;
	padding: 3px 7px;
	font-size: 11px;
	border-top-left-radius: 5px;
}
.imdb_vote{ float: left; }
.idi{ float: right; color: #0E0; }
.imdb_vote strong{ color: #FFD700; }
.quality{ color: #DD1E35; }
.visitas {text-align: center; display: block; color: #A7A7A7;} 
.data {
  float: left;
  color: #A7A7A7;
  font-size: 11px;
  overflow: hidden;
  background: #111111;
  box-shadow: 0px 7px 7px -8px rgba(0, 0, 0, .1);
  width: 140px;
  margin: 0;
  padding: 2px 5px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.play-title {
    text-align: center;
    width: 135px !important;
    font-size: 0.9em !important;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    left: 0;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0px 0 5px rgba(0, 0, 0, 0.9);
    line-height: 1.2em;
    padding: 15px 8px;
    top: -70px;
    transition: top 0.5s;
    -moz-transition: top 0.5s;
    -webkit-transition: top 0.5s;
    -o-transition: top 0.5s;
    -ms-transition: top 0.5s;
}
.player:hover .play-title {
    top: 13px;
    transition: top 0.5s;
    -moz-transition: top 0.5s;
    -webkit-transition: top 0.5s;
    -o-transition: top 0.5s;
    -ms-transition: top 0.5s;
}
.star-01{
  position: absolute;
  width: 55px;
  height: 11px;
  background: url(images/star-rating-sprite.png);
  background-size: 55px;
  margin-left: 2px;
  font-size: 16px;
}  
.star-02{
  display: block;
  height: 11px;
  background: url(images/star-rating-sprite.png) 0 11px;
  background-size: 55px;
}
.voting_wrapper {float: right; margin: -14px -20px 0 0;}
.voting_wrapper .down_button {background: url(images/dislike.png) no-repeat 0px 0px;background-size:32px 32px;float: left;height: 32px;width: 32px;cursor:pointer;border-top-left-radius:2px;border-bottom-left-radius:2px;}
.voting_wrapper .up_button {background: url(images/like.png) no-repeat 0px 0px;background-size:32px 32px;float: left;height: 32px;width: 32px;cursor:pointer;border-top-left-radius:2px;border-bottom-left-radius:2px;}
.voting_btn{float:left;margin-right:1px;}
.voting_btn span{font:700 15px 'open sans',sans-serif;float: left;margin:0 10px 0 0;padding:8px 4px 4px 4px;height:20px;background:#F1F1F1;border-top-right-radius:2px;border-bottom-right-radius:2px;}
