/* ===== bbpress ====== */

#subscription-toggle {
    float: right;
}
#bbpress-forums fieldset.bbp-form label {
    font-size: 11px;
}
#bbpress-forums fieldset.bbp-form input[type="text"]{
 border: 1px solid #ddd;
color: #808391;
font-weight: bold;
font-size: 15px;
border-radius: 3px;
box-shadow: 0 2px 5px rgba(0,0,0,0.1) inset;
outline: none;
padding: 10px 12px;
font-family: 'Helvetica Neue','Helvetica',arial,sans-serif;
width: 570px;
margin: 8px 0;
}
#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content {  
    color: #808391;      
    border-radius: 3px;  
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1) inset;  
    outline: none;  
    padding: 10px 12px;  
    font-family: 'Helvetica Neue','Helvetica',arial,sans-serif;    
    height: 120px;
    margin: 8px 0!important;
}
#bbp_stick_topic_select, #bbp_topic_status_select {
    padding: 7px 10px;
    color: #808391;
    width: 250px;
    border: solid 1px #ddd;
}
.quicktags-toolbar {
    border-bottom: none!important;
    -webkit-border-radius: 4px;  
    -moz-border-radius: 4px;  
    border-radius: 4px;
}

#bbp_topic_submit, #bbp_reply_submit {
    -moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
    -webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
    box-shadow:inset 0px 1px 0px 0px #a4e271;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
    background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
    background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
    background-color:#89c403;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #74b807;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528009;
}
#bbp_topic_submit, #bbp_reply_submit:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
    background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
    background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
    background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
    background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
    background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
    background-color:#77a809;
}
#bbp_topic_submit, #bbp_reply_submit:active {
    position:relative;
    top:1px;
}
.bbp-pagination-count {
    display: none;
}
#bbpress-forums #bbp-search-form #bbp_search {
    background: #FFFFFF url(images/search.png) 5% 50% no-repeat;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.17) inset;
    color: #777;
    height: 12px;
    line-height: 20px;
    text-indent: 20px;
    padding: 9px 10px;
    border: 0;
    margin: 0;
    margin-bottom: 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 13px;
}
#bbp_search_submit {
    display: none;
}
.bbp-breadcrumb {
    padding: 6px 0;
}
ul.bbp-forums {
    border: none!important;
}
#bbpress-forums li.bbp-header {
    margin-bottom: 12px;
    font-size: 11px;
    -webkit-border-radius: 4px;  
    -moz-border-radius: 4px;  
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 5px rgba(171, 178, 191, 1), 0 1px 0 #fff;
    box-shadow: inset 0 1px 5px rgba(171, 178, 191, 1), 0 1px 0 #fff;
}
ul.forum-titles li {
    font-size: 10px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #FFFFFF;
}
p.bbp-topic-meta {
    display: none;
}
li.bbp-forum-freshness, .bbp-topic-freshness a {
    font-size: 11px;
    color: #A7AEBA;
}
#bbpress-forums ul.bbp-topics {
    border: none!important;
}
#bbpress-forums fieldset.bbp-form {
    background: #fff;
    -webkit-border-radius: 4px;  
    -moz-border-radius: 4px;  
    border-radius: 4px;
}
#bbpress-forums fieldset.bbp-form legend {
    background: #eee;
    color: #8A929D;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
    -webkit-border-radius: 4px;  
    -moz-border-radius: 4px;  
    border-radius: 4px;
}
#bbpress-forums ul.bbp-replies {
    border: none!important;
}
#bbpress-forums .bbp-forum-info .bbp-forum-content {
    margin: 0px 0 5px!important;
    color: #999EA2;
    line-height: 14px;
}
.bbp-topic-title a.bbp-topic-permalink{
    background-image: url('images/foros.png');  
    background-repeat: no-repeat;  
    background-position: left center;
    padding-left: 43px;
    font-size: 13px;
    float: left;
    height: 26px;
}
ul.type-topic li.bbp-topic-voice-count {
    font-size: 12px;
    color: #9DCD5D;
    font-weight: bold;
}
ul.type-topic li.bbp-topic-reply-count {
    font-size: 12px;
    color: #FFB400;
    font-weight: bold;
}
#bbpress-forums div.bbp-reply-author img.avatar {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0px 7px 10px -7px #000;  
    -webkit-box-shadow: 0px 7px 10px -7px #000;  
    box-shadow: 0px 7px 7px -7px #000000;
}
span.bbp-reply-post-date {
    color: #70A2C3;
    font-size: 11px;
}  