/* ========== carrusel ========= */

.carousel-container {
    width: 90%;
    margin: 0 auto;
}

.thumb-carousel {
    margin: 0;
    padding-bottom: 0;
    float: left;
    width: 1000px;
    margin-top: 30px;
}

.thumb-carousel.width-25 {
    width: 25%;
}

.thumb-carousel.width-50 {
    width: 50%;
}

.thumb-carousel.width-75 {
    width: 75%;
}

.thumb-carousel h2 {
    margin: 0 0 12px;
    padding: 12px 18px 0;
}

.thumb-carousel .thumb-holder {
    position: relative;
    white-space: nowrap;
}

.thumb-carousel ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.no-js .thumb-carousel ul {
    overflow: auto;
}

.thumb-carousel ul li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 110px;
    height: 163px;
    margin-right: 13px;    
}
.thumb-carousel ul li img {
    width: 110px;
    height: 163px;
    -webkit-border-radius: 4px;  
    -moz-border-radius: 4px;  
    border-radius: 4px;
}
.thumb-carousel.variable-heights ul li {
    height: auto;
    text-align: left;
    white-space: normal;
    line-height: 18px;
}

.thumb-carousel.variable-heights ul li h3,
.thumb-carousel.variable-heights ul li p {
    padding: 0 12px;
}

.thumb-carousel.variable-heights ul li p {
    text-transform: none;
}

.thumb-carousel.wider-thumbs ul li {
    width: 292px;
}

.thumb-carousel.narrower-thumbs ul li {
    width: 92px;
    height: 110px;
    line-height: 110px;
}

.csstransitions .thumb-carousel ul li:first-child {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.thumb-carousel ul li:last-child {
    margin-right: 0;
}

.thumb-nav {
    position: absolute;
    z-index: 100000;
    top: 0;
    margin: 0;
    height: 163px;
    width: 40px;
    background: rgba(0, 0, 0, 0.79);    
    cursor: pointer;
    -webkit-backface-visibility: hidden;
}

.variable-heights .thumb-nav {
    top: 50%;
    height: 60px;
    margin-top: -30px;
}

.csstransitions .thumb-nav {
    -webkit-transition: opacity .2s ease-in-out, background .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out, background .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, background .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out, background .2s ease-in-out;
    transition: opacity .2s ease-in-out, background .2s ease-in-out;
}

.no-touch .thumb-nav {
    opacity: 0;
    color: #FFFFFF;
}

.thumb-carousel:hover .thumb-nav {
    opacity: .9;
}

.thumb-carousel:hover .thumb-nav:hover {
    opacity: 1;
}

.thumb-carousel:hover .thumb-nav:active {
    background: #212122;
}

.thumb-nav:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    font-size: 40px;
    line-height: 156px;
    text-align: center;
}

.variable-heights .thumb-nav:before {
    line-height: 50px;
}

.narrower-thumbs .thumb-nav:before {
    line-height: 110px;
}

.thumb-nav.right-side {
    right: 0;
}

.thumb-nav.right-side:before {
    content: "»";
}

.thumb-nav.left-side {
    left: 0;
}

.thumb-nav.left-side:before {
    content: "«"; 
}

.thumb-carousel .inactive .thumb-nav,
.thumb-carousel .beginning .thumb-nav.left-side,
.thumb-carousel .end .thumb-nav.right-side {
    opacity: 0;
    cursor: none;
    pointer-events: none;
}