html
{
	margin: 0;
	padding: 0;
	height:100%;
	position:relative;
}

body {
	min-height:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	position:relative;
	line-height:1.4;
	padding: 54px 0 0 0;
	margin:0;
	background-color: black;
	color: rgb(225, 242, 245);
	font-size: 13px
}

#wrapper
{
	min-width: 1024px;
	min-height: 100%;
	position: relative;
}

#main-menu {
	border:none;
	border-bottom:1px solid #555555;
	position:fixed;
	width:100%;
	top:0;
	z-index:11000;
	padding:0 5px;
	font-size:14px;
	height:52px;
}

#main-menu a { font-size:14px !important; }

#main-menu ul { z-index:11000; }
.right { float:right !important; }

#header-image {
	padding-top:5px
}

.tagline {
	font-family: Avenir, Arial, sans-serif;
	font-size:12px;
	margin-top:-15px;
	margin-left:5px;
	float:left;
}

a:link, a:visited, .link-color {
    color: rgb(70, 197, 255);
    text-decoration: none
}

body.swagger-section {
	background: #fff !important;
	color:black !important;
	padding-top:54px !important;
}

body, .ui-widget {
	font-family: Avenir, Arial, sans-serif !important;
}

#content {
	width:1024px;
	margin: 10px auto;
	position:relative;
}

.responsive #content {
	width:auto;
	max-width:1024px;
	padding-left:10px; padding-right:10px;
}

.responsive #content.uncapped {
	max-width:initial;
	padding-left:0; padding-right:0;margin:10px 0;
}

.dialog-block {
	background: none #001020 !important;
	margin-bottom:1em;
	border:1px solid #555555;
}

body:not(.swagger-section) h2 {
	font-weight:100;
	font-size:20px;
	text-shadow: 1px 1px 1px #000;
}

.dialog-title {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#161616), to(#0A0A0A));
	background: -webkit-linear-gradient(top, #161616, #0A0A0A);
	background: -moz-linear-gradient(top, #161616, #0A0A0A);
	background: -o-linear-gradient(top, #161616, #0A0A0A);
	background: -ms-linear-gradient(top, #161616, #0A0A0A);
	background: linear-gradient(top, #161616, #0A0A0A);
	-moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);
	text-shadow: 1px 1px 1px #000;
	padding-left:1em;
	color: rgb(225, 242, 245);
	font-weight:100;
	font-size:20px;
	line-height:1.6;
	border-bottom:1px solid #555555;
}

.dialog-table {
	margin: 10px auto;
}

.dialog-content {
	padding: 5px !important;
}

input:disabled { opacity: 0.4 }

input, select, textarea {
	font: inherit !important;
	line-height: 1.3 !important;
}

.ui-state-error {
	background: none #200000 !important;
	color: rgb(225, 242, 245) !important;
	border-color: #800000 !important;
}

#dialog-confirm {
	background: black !important;
}

.ui-dialog-buttonset .ui-button, .ui-dialog-titlebar-close {
	outline-style: none !important;
}

input:focus, textarea:focus { outline: none !important;}

input, textarea, select { background-color: rgb(225, 242, 245) !important; color: black !important;
	border:1px solid black; border-radius:5px !important; padding-left:5px; line-height:1.4!important }

#searchfield { opacity: 0.8; font-size:14px !important }

input[type=button], input[type=submit] {
	border-radius: 5px !important;
	background-color: rgb(102, 153, 204) !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(102, 153, 204)), to(rgb(70, 121, 172)));
	background: -webkit-linear-gradient(top, rgb(102, 153, 204), rgb(70, 121, 172));
	background: -moz-linear-gradient(top, rgb(102, 153, 204), rgb(70, 121, 172));
	background: -o-linear-gradient(top, rgb(102, 153, 204), rgb(70, 121, 172));
	background: -ms-linear-gradient(top, rgb(102, 153, 204), rgb(70, 121, 172));
	background: linear-gradient(top, rgb(102, 153, 204), rgb(70, 121, 172));
	font-size:12px !important;
	font-family: Avenir, Arial, sans-serif;
	color: rgb(225, 242, 245) !important;
	border: none;
	margin: 0 2px;
	padding:2px 10px;
	height:25px;
	box-sizing:border-box;
	cursor:pointer;
}

input[type=file]::-webkit-file-upload-button
{
	border-radius: 10px !important;
	background: -webkit-linear-gradient(top, rgb(0, 32, 48), rgb(0, 64, 80));
	font-size:12px !important;
	font-family: Avenir, Arial, sans-serif;
	color: rgb(225, 242, 245) !important;
	border: none;
	margin: 1px 0;
}

input[type=button]:hover:enabled, input[type=submit]:enabled:hover, input[type=file]:hover::-webkit-file-upload-button
{
	background-color: rgb(94, 145, 196) !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(94, 145, 196)), to(rgb(62, 113, 164)));
	background: -webkit-linear-gradient(top, rgb(94, 145, 196), rgb(62, 113, 164));
	background: -moz-linear-gradient(top, rgb(94, 145, 196), rgb(62, 113, 164));
	background: -o-linear-gradient(top, rgb(94, 145, 196), rgb(62, 113, 164));
	background: -ms-linear-gradient(top, rgb(94, 145, 196), rgb(62, 113, 164));
	background: linear-gradient(top, rrgb(94, 145, 196), rgb(62, 113, 164));
}

#footer-spacer { height:50px; clear:both }

#footer {
	position:absolute;
	bottom: 0; left:0; right: 0;
	font-size:12px;
	padding:15px 0;
	text-align:center;
	color: #aaaaaa;
	background: none !important;
	border: none !important;
}

#footer > a:link, #footer > a:visited
{
	color: #aaaaaa;
}

.ui-autocomplete { text-shadow:none; font: inherit; z-index: 100000 !important; background: black !important }
.ui-autocomplete * { border: 0 !important; }
.ui-menu-item-wrapper:hover, .ui-menu-item-wrapper.ui-state-active { color:white; background: #000040 !important; }
.ui-menu-item-wrapper { font-size:14px; padding:3px; }
.dialog-content
{
	min-height:630px;
}

.responsive .dialog-content {
	min-height:30vh;
}

.anbu {
	color:black; /* Laravel's DB Profiler Bar */
}

.bnet-image {
	width:100%; box-sizing:border-box; margin-top:15px; border:1px solid #a0a0a0;
}

.bnet-tab {
	float:left;
	padding:3px;
	min-width:63px;
	border:1px solid #a0a0a0;
	color: #a0a0a0 !important;
	background-color:black;
	text-align:center;
	margin-bottom:2px;
}

.bnet-tab:not(:last-child) {
	margin-right:5px;
}

a.bnet-tab:hover {
	color: white !important;
	background-color: #000040;
}

.dt-buttons { text-align:right; padding-top:5px; }
.dt-button { color:white!important }

.Boss { color: #B4BDFF !important }
.Boss-bg { background-color: #B4BDFF !important }
.Boss:hover { color: #FFCDFF !important }

.NPC { color: #84BDF8 !important }
.NPC-bg { background-color: #84BDF8 !important }
.NPC:hover { color: #A4DDFF !important }

.Pet { color: #64BDC8 !important }
.Pet-bg { background-color: #64BDC8 !important }

.title-yellow { color: #ff8; }

.bnet-char-tab { float:left; width:180px; border:1px solid #a0a0a0 !important; padding:1px; margin:4px; line-height:1.3; background-color:black; }
.bnet-char-tab:hover { background-color: #000040 }
.bnet-char-pic { width:48px; height:48px; float:left; margin-right:7px; }
.bnet-char-name-container { display: block; margin-top: 5px; overflow:hidden;white-space:nowrap;text-overflow:ellipsis }
.bnet-char-name { font-size: 16px; font-weight:bold; }

.ellipsize { white-space: nowrap; text-overflow:ellipsis; overflow:hidden }

.ui-menu-item > a.ui-state-focus { background: #000040 !important; color: rgb(70, 197, 255) !important; }

.main-table-percent {
	display:inline-block;
	text-align:right;
	width:50px;
}

.active-percent, .uptime-percent, .num { text-align: right; white-space:nowrap }

.summary-table { cursor: default }

.rank-table { font-size:13px; line-height:20px; width:100% }
.rank-inset { margin: 1em }

.main-table-number, .main-table-miss {
	text-align:right;
}

.main-table-name {
	min-width:90px;
	padding-left: 1px !important;
}

.icons-present {
	padding-left: 1px !important;
}

.icon-not-found {
	padding-left: 22px !important;
}

#graph-loading {
	position:absolute; top:170px; left:25%; right:25%; text-align:center; z-index:100; background-color: #141414; border-radius:2px; border: 1px solid #333;
}

#event-killer {
	opacity: 0;
	z-index:1000;
	position:absolute;
	top:200px; left:0; right:0; bottom:0;
}

#table-wrapper { overflow:hidden; margin-bottom:0 } /* FIXME: Remove once tables converted. */
.table-wrapper { overflow:hidden; margin-bottom:0 }

.dataTable th { background-image:none !important; }

.DataTables_sort_icon { display: none !important }
.fg-toolbar { display:none !important; }
th { outline-style: none !important; cursor: default; padding: 2px }
.summary-table { border-collapse: collapse; background-color: black; border-radius:0; font-size:13px; line-height:20px; }
.tpd-tooltip .summary-table { font-size:inherit; line-height:inherit }
.summary-table td { padding: 2px 6px 2px; border: 1px solid #333333; }
.summary-table th { padding: 2px 6px 2px;  }
tr.even { background-color: #101010; }
tr.totals td { background-image: none !important; background-color: #202020 !important; border:1px solid #333333 !important; }
tr.odd:hover td, tr.even:hover td, tr.selected { background-color:#002040 !important; }

.rank { text-align:right; width:35px; max-width:35px; min-width:35px }
.not-best { font-style: italic }
.artifact { color: rgb(229, 204, 128) !important }
.legendary { color: rgb(255, 128, 0) !important }
.epic { color: rgb(163, 53, 238) !important }
.rare { color: rgb(0, 112, 255) !important }
.uncommon { color: rgb(30, 255, 0) !important }
.common { color: #666 !important }
.artifact-bg { background-color: rgb(250, 200, 234) !important; }
.legendary-bg { background-color: rgb(255, 128, 0) !important }
.epic-bg { background-color: rgb(163, 53, 238) !important }
.rare-bg { background-color: rgb(0, 112, 255) !important }
.uncommon-bg { background-color: rgb(15, 128, 0) !important }
.common-bg { background-color: #cccccc !important }
.exploit { background-color: rgb(42,41,10) !important }
.exploit-fg { color: rgb(104,102,30) !important; }
.banned { background-color: rgb(42,0,0) !important }
.banned-fg { color: rgb(154,0,0) !important; }

.filter-bar .menu .dropdown_1column, .filter-bar .menu .col_1
{
	min-width:100%;
}

.table-icon { width: 20px; height:20px; float:left; margin-right:6px; }


.kill { color: rgb(50%, 90%, 40%) !important }
.kill:hover { color: rgb(65%, 90%, 55%) !important }

.wipe { color: rgb(90%, 50%, 40%) !important }
.wipe:hover { color: rgb(90%, 65%, 55%) !important }

.estimate {
	color: #ff8;
}

#report-rankings-export { 
	font-size:10px;
	margin: 1em 1em 3em;
}

/* Physical */
.school-1 {
	color: rgb(229, 204, 128) !important;
}

/* Holy */
.school-2 {
	color: rgb(100%, 100%, 56%) !important;
}

/* Fire */

.school-4 {
	color: rgb(92%, 27%, 38%) !important; 
}

/* Nature */
.school-8 {
	color: rgb(82%, 98%, 60%) !important;
}

/* Frost */

.school-16 {
	color: rgb(29%, 50%, 100%) !important;
}

/* Shadow */

.school-32 {
	color: rgb(72%, 66%, 94%) !important;
}

/* Arcane */
.school-64 {
	color: rgb(56%, 95%, 100%) !important;
}

/* Chaos */
.school-127, .school-124, .school-126, .school-125 {
	color: rgb(163, 48, 201) !important;
}

/* Earth in FF */
.school-128 {
	color: rgb(80%, 44%, 9%) !important;
}

/* Limit Break in FF */
.school-256 {
	color: #2599be !important;
}

/* Air in FF */
.school-512 {
	color: rgb(75%, 75%, 75%) !important;
}


/* Physical */
.school-1-bg {
	background-color: rgb(229, 204, 128) !important
}

/* Holy */
.school-2-bg {
	background-color: rgb(100%, 100%, 56%) !important;
}

/* Fire */

.school-4-bg {
	background-color: rgb(92%, 27%, 38%) !important; 
}

/* Nature */
.school-8-bg {
	background-color: rgb(82%, 98%, 60%) !important;
}

/* Frost */

.school-16-bg {
	background-color: rgb(29%, 50%, 100%) !important;
}

/* Shadow */

.school-32-bg {
	background-color: rgb(72%, 66%, 94%) !important;
}

/* Arcane */
.school-64-bg {
	background-color: rgb(56%, 95%, 100%) !important;
}

/* Chaos */
.school-127-bg, .school-124-bg {
	background-color: #a330c9 !important;
}

/* Earth in FF */
.school-128-bg {
	background-color: rgb(80%, 44%, 9%) !important;
}

.school-256-bg {
	background-color: #2599be !important;
}

/* Air in FF */
.school-512-bg {
	background-color: rgb(75%, 75%, 75%) !important;
}

/* Physical */
.school-1-behind-text {
	background-color: rgb(50%, 32%, 8%) !important;
}

/* Holy */
.school-2-behind-text {
	background-color: rgb(50%, 50%, 28%) !important;
}

/* Fire */

.school-4-behind-text {
	background-color: rgb(46%, 13%, 19%) !important; 
}

/* Nature */
.school-8-behind-text {
	background-color: rgb(41%, 49%, 30%) !important;
}

/* Frost */

.school-16-behind-text {
	background-color: rgb(14%, 25%, 50%) !important;
}

/* Shadow */

.school-32-behind-text {
	background-color: rgb(36%, 33%, 47%) !important;
}

/* Arcane */
.school-64-behind-text {
	background-color: rgb(28%, 47%, 50%) !important;
}

/* Chaos */
.school-127-behind-text, .school-124-behind-text {
	background-color: #631089 !important;
}

/* Earth in FF */
.school-128-behind-text {
	background-color: rgb(40%, 22%, 4%) !important;
}

.school-256-behind-text {
	background-color: #125580 !important;
}

/* Air in FF */
.school-512-behind-text {
	background-color: rgb(37%, 37%, 37%) !important;
}

.Count-bg { background-color:rgb(220, 220, 220); }

.darken-bg { background-color:rgba(0,0,0,0.5); }

.primary {
	color: rgb(82%, 98%, 60%)
}

#summary { position:relative; z-index: 1; max-width:1024px }

.filter-bar, .caption-miniature {
	font-weight: normal;
	margin:0;
	padding:0;
}

.caption-miniature {
	border:1px solid #555;
	margin-bottom:-1px;
}

.filter-bar.miniature, .caption-miniature {
	background-color: rgb(20, 20, 60);
	background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(12, 12, 40)), to(rgb(18, 18, 50)));
	background: -webkit-linear-gradient(bottom, rgb(12, 12, 40), rgb(18, 18, 50));
	background: -moz-linear-gradient(bottom, rgb(12, 12, 40), rgb(18, 18, 50));
	background: linear-gradient(bottom, rgb(12, 12, 40), rgb(18, 18, 50));
	font-size:13px;
	padding:5px;
	border-bottom:1px solid #555;
}

.filter-bar-menu {
	padding:0;
}

.filter-bar-menu li {
	font-size:12px !important
}

#advanced-filter {
	float:right;
	line-height:21px; padding-top: 6px; margin-right:10px;
}

#advanced-filter { color: white }

#advanced-filter:hover {
	color: rgb(70, 197, 255)
}

.filter-item { color: rgb(225, 242, 245) !important }
.filter-item:hover { color: rgb(70, 197, 255) !important }

#top-banner { border-bottom: 1px solid #555555; text-align:center;padding-top:4px; padding-bottom:4px; }
#bottom-banner { border-top: 1px solid #555555; border-bottom: 1px solid #555555; margin-bottom:5px; padding-top:4px; padding-bottom:4px; text-align:center; clear:both; }

.silver { color: silver !important }
.gold { color: gold !important  }
.platinum { color: #ff8 !important  }
.white { color: white !important  }

#login-menu { margin-top:10px }
#searchfield-menu { min-width:35%; margin-top:10px }
.searchfield-mini-wrapper { width:100%; border:1px solid #606060 !important; color:white; background-color:#404040 !important; color:white; vertical-align:middle; position:relative; z-index:0;padding-right:29px; }
.searchbutton-mini { position:absolute; right:0; top:0; bottom:0; vertical-align:middle; width:28px; background-color: #002040; border-left:1px solid #555555; }
.searchbutton-mini-image { height:100%; }

.searchfield-mini { width:calc(100% - 9px); height:30px; margin-top:-3px; border:none !important; background:none!important; margin-right:0; color:inherit !important }

#searchfield-compact-menu { display:none; padding: 0!important; margin-top:10px }
#searchfield-compact-menu a { padding:0!important }
#searchfield-compact-image { height:36px; display:block; margin-top:-3px; }

#searchfield-mobile-wrapper { display:none; max-width:50%; margin-left: 5px; margin-right:5px }
#searchfield-mobile-wrapper.open { display:block }

.compact-search #searchfield-menu {
	display:none
}
	
.compact-search #searchfield-compact-menu { display:block; }

#lang-switcher-menu { margin-top:10px }

@media (max-width: 500px) {
	#searchfield-mini-wrapper, #home-menu, #lang-switcher-text {
		display:none
	}
	
	#searchfield-mobile-wrapper {
		max-width:initial;
	}
	
	#searchfield-compact-menu { display:block }
	
	#footer { font-size:8px !important; }
}

.ui-autocomplete { border-radius:0!important; }

#home-menu a { padding-top:0 !important; padding-bottom:0 !important }
#home-logo { width:42px; margin-top:5px }

#zones-and-realms-toggle {
  float:left;
  overflow:hidden;
  margin: 16px 16px 5px 6px;
  width: 20px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#zones-and-realms-toggle  span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#zones-and-realms-toggle.open { top:-1px }

#zones-and-realms-toggle span:nth-child(1) {
  top: 0px;
}

#zones-and-realms-toggle span:nth-child(2) {
  top: 7px;
}

#zones-and-realms-toggle span:nth-child(3) {
  top: 14px;
}

#zones-and-realms-toggle.open span:nth-child(1) {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  left:2px;
  top:16px;
}

#zones-and-realms-toggle.open span:nth-child(2) {
   -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

#zones-and-realms-toggle.open span:nth-child(3) {
  left:-2px;
  top:16px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.sidebar {
  visibility:hidden;
  position: fixed;
  background: #141414;
  height: calc(100% - 53px);
  top: 53px;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  z-index: 100000;
  overflow-y: auto;
  overflow-x: hidden;
  font-size:15px;
}

.sidebar.open { visibility: visible }

.sidebar.top-bar {
	position:fixed;
	left:2px;
	right:2px;
	top:53px;
	background: transparent;
	overflow:visible
}

.login-button, #lang-switcher-text { color:white !important }

.sidebar-item { clear:both; }
.sidebar-line { clear:both; position:relative; padding:10px; margin-bottom:2px; cursor:pointer }

.sidebar-line:hover { background-color:#002040 !important; color:white }

.sidebar-item-toggle { float:left; margin-right:7px; visibility:hidden }


.sidebar-item.open .sidebar-item-toggle, .sidebar-item:hover .sidebar-item-toggle { visibility: visible }

.sidebar ul { margin:0; padding:0; list-style:none; }
.sidebar ul ul { margin-left:25px !important; }

.sidebar-list {  position:relative }

.sidebar-submenu-contents { overflow:hidden; height:0; transition: height;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms; margin-left:14px !important; 
}
 
.sidebar-line.open + .sidebar-submenu-contents { height:auto; }

.sidebar-line .sidebar-item-toggle > .zmdi-plus { display:inline }
.sidebar-line .sidebar-item-toggle > .zmdi-minus { display:none }

.sidebar-line.open .sidebar-item-toggle > .zmdi-plus { display:none }
.sidebar-line.open .sidebar-item-toggle > .zmdi-minus { display:inline }

.sidebar.left-bar {
  width: 400px;
  max-width:100%;
  left:0;
  -webkit-transform: translate3d(-110%, 0, 0); transform: translate3d(-110%, 0, 0);
  box-shadow: 0 0 30px #0E1215;
}

.sidebar.right-bar {
	width: 400px;
	max-width:100%;
	right:0;
    -webkit-transform: translate3d(110%, 0, 0);
    transform: translate3d(110%, 0, 0);
    box-shadow: 0 0 30px #0E1215;
}

.sidebar.open {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

@media (max-width: 768px) {
	.sidebar { width:100% !important; }
}

.sidebar-header { position:relative; clear:both; font-size:16px; color:white; padding:5px 15px; }

#content-and-footer { transition: opacity;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
}
 
#content-and-footer.open { opacity:0.4 }

.sidebar-line { color: rgb(174, 187, 192) !important; transition: color;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms; }

.sidebar-line.has-image { padding-right:20%; }

.sidebar-line:hover { color:white !important }

.sidebar-line-bg { background-position:100% 50%; background-repeat: no-repeat; position:absolute;top:0; bottom:0; right:0; width:20%; opacity:0.75 }
.boss-line-bg { background-position: 0 0; background-size:100% auto }

.sidebar-line:hover .sidebar-line-bg { opacity: 0.99 }

.sidebar-line { display:block; }
.sidebar-line-contents { position:relative; }
.sidebar-line-options { float:right; margin-right:2px }
.sidebar-line-option { margin: 0 4px; font-size:14px; color: inherit !important;  }
.sidebar-line-option:hover { transform:scale(1.6) }


.profile-image { height:42px; margin-top:5px; border-radius:50%; overflow:hidden; display:block; }
#acc-toggle { cursor: pointer; padding:0 5px }
#acc-toggle:hover { background-color:#002040 }

.sidebar-profile { padding:5px; background-color:#202020; position:relative; line-height:1.6; border-bottom:1px solid #555555 }
.sidebar-profile-image { border-radius:50%; width:52px; float:left; margin-right:10px }
.sidebar-profile-name { font-size:18px; }
.sidebar-guild-options { position:absolute; color: white; margin: 5px 10px; right:0; }
.sidebar-profile-options { top:0; }
.sidebar-guild-options { bottom: 0; }
.sidebar-profile-options { font-size:19px }
.sidebar-profile-option, .sidebar-guild-option { float:left; margin-right:10px; cursor:pointer; color:white!important; }
.sidebar-profile-option { margin-top: 2px }
.sidebar-profile-option:hover { transform:scale(1.6); }

.sidebar-guilds, .sidebar-characters { border-bottom:1px solid #555555; }

.sidebar-guild-bg { background-size: auto 85% !important; background-position:center center !important; }

.sidebar-guild-commands { float:right; margin-top:6px; }
.logout-button, .sidebar-guild-command { font-size:13px; padding:6px; color:white !important; border-left:1px solid #555555; border-top:1px solid #555555; background-color:#252525;  }
.sidebar-guild-command { float:left; margin-left:-1px; }

.sidebar-report-details { font-size:12px; color:#808080; }

.logout-button { position:absolute;bottom:0; right:0; }
.logout-button:hover, .sidebar-guild-command:hover { background-color:#002040 }

.sidebar-report-description { display:inline-block; white-space:nowrap; overflow:hidden; max-width:100%; text-overflow:ellipsis }

.sidebar-character-class { font-size:13px }

.ff-character { color:#a0a0a0; }

@media (max-width:340px) {
	.sidebar-line { padding-right:0 !important }
	.sidebar-line-bg { display:none }
}

.dashboard-container {
	margin-top:15px; background-color:rgba(0,0,0,0.7);
}

#report-header-bar { font-size:18px; background-color:#001520; border-bottom:1px solid #555555; }
#report-header-bar-inset { max-width:1024px; margin:auto; position:relative;  }

.large-icon { width: 32px; height:32px; float:left; margin-right:6px; }
.tiny-icon { width:14px; height:14px; margin-right:5px; vertical-align:-2px }
.disclosure { float:right; margin:0; font-size:18px !important; color:white; padding-left:12px }

// Shared by comparison searches in reports and by rankings.
td.guild-name, td.server-name { padding-left:2px !important }
.talents-and-gear { margin:10px; padding:5px; background-color:black }
.rankings-talents, .rankings-gear { float:left; min-width:200px }
.rankings-talents-header, .rankings-gear-header { font-size:24px; margin-bottom:10px; }
.rankings-talent-image, .rankings-gear-image { width:20px; height:20px; float:left; margin-right:8px; margin-bottom:5px }
.rankings-talent-row, .rankings-gear-row { line-height:20px; clear:left; border:none!important; }
.rankings-profile-image { float:left; width:64px; height:64px; margin-right:25px }

.brackets-table { font-size:11px; border-spacing: 3px; border-collapse: collapse; }
.brackets-table td { border: 1px solid #555555; padding:2px 4px; text-align:center; min-width:45px; white-space: nowrap !important }
.brackets-table td a { white-space: nowrap !important }
.brackets-table td:hover { background-color: #002040; }
.affix-bracket-icon { width:18px; height:18px; margin-right:2px; margin-left:2px }
