/*
---------------------------------------------------------------
  Note that styles you apply to the main menu items are inherited by the sub menus items too.
  If you'd like to avoid this, you could use child selectors (not supported by IE6) - for example:
  .sm-simple > li > a { ... } instead of .sm-black a { ... }
---------------------------------------------------------------*/


/* Menu box
===================*/

	.sm-black,
	.sm-black ul {
		font-size:13px;
		background:#161616;
		border:1px solid #555555;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#161616), to(#0A0A0A));
		background: -webkit-linear-gradient(top, #161616, #0A0A0A);
		background: -moz-linear-gradient(top, #161616, #0A0A0A);
		background: -o-linear-gradient(top, #161616, #0A0A0A);
		background: -ms-linear-gradient(top, #161616, #0A0A0A);
		background: linear-gradient(top, #161616, #0A0A0A);
		-moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);
		-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);
		box-shadow:0 1px 1px rgba(0,0,0,0.2);
		text-shadow: 1px 1px 1px #000
	}


/* Menu items
===================*/

	.sm-black a {
		padding:6px 12px;
		color: #AEBBC0;
		font-size:13px;
		line-height:17px;
		font-family:Avenir, sans-serif;
		text-decoration:none;
	}
	.sm-black a:hover, .sm-black a:focus, .sm-black a:active,
	.sm-black a.highlighted {
		background:#002040;
		color: rgb(70, 197, 255);
	}
	/* current items - add the class manually to some item or check the "markCurrentItem" script option */
	.sm-black a.current, .sm-black a.current:hover, .sm-black a.current:focus, .sm-black a.current:active {
		color: rgb(70, 197, 255);
	}
	.sm-black a.has-submenu {
		padding-right:25px;
	}
	
	.sm-black-vertical a,
 	.sm-black ul a {
		padding:6px 12px;
	}
	
 	.sm-black ul a.has-submenu,
	.sm-black-vertical a.has-submenu {
		padding-right:40px;
	}

/* Separators */

.sm-black li.separator {
	border-bottom:1px solid #333333 !important;
	margin-right: 10px !important;
	margin-top: 2px !important;
	margin-bottom: 2px !important;
	min-width: 100% !important;
}

/* Sub menu indicators
===================*/
	.sm-black.hidearrow a span.sub-arrow {
		display:none !important;
	}

	.sm-black a span.sub-arrow {
		position:absolute;
		right:12px;
		top:50%;
		margin-top:-1px;
		/* we will use one-side border to create a triangle so that we don't use a real background image, of course, you can use a real image if you like too */
		width:0;
		height:0;
		overflow:hidden;
		border-width:4px; /* tweak size of the arrow */
		border-style:solid dashed dashed dashed;
		border-color:white transparent transparent transparent;
	}
	.sm-black-vertical a span.sub-arrow,
 	.sm-black ul a span.sub-arrow {
		right:15px;
		top:50%;
		margin-top:-5px;
		border-width:5px;
		border-style:dashed dashed dashed solid;
		border-color:transparent transparent transparent white;
	}

/* Scrolling arrows containers for tall sub menus - test sub menu: "Sub test" -> "more..." -> "more..." in the default download package
===================*/

	.sm-black span.scroll-up, .sm-black span.scroll-down {
		position:absolute;
		display:none;
		visibility:hidden;
		overflow:hidden;
		border:solid #bbb;
		border-width:1px 0;
		background:black;
		height:20px;
		/* width and position will be automatically set by the script */
	}
	.sm-black span.scroll-up-arrow, .sm-black span.scroll-down-arrow {
		position:absolute;
		top:-2px;
		left:50%;
		margin-left:-8px;
		/* we will use one-side border to create a triangle so that we don't use a real background image, of course, you can use a real image if you like too */
		width:0;
		height:0;
		overflow:hidden;
		border-width:8px; /* tweak size of the arrow */
		border-style:dashed dashed solid dashed;
		border-color:transparent transparent white transparent;
	}
	.sm-black span.scroll-down-arrow {
		top:6px;
		border-style:solid dashed dashed dashed;
		border-color:white transparent transparent transparent;
	}

