body {
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
  /*-webkit-font-smoothing: antialiased;*/
}

a,
a:hover {
  color: #0088cc;
}
a:focus {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}

.container:before {
  content: " ";
  display: table;
}
.container:after {
  content: " ";
  display: table;
  clear: both;
}

.tl_page_head {
  margin-bottom: 0;
}
.navbar-tg .navbar-inner {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-bottom: 1px solid #e8e8e8;
}
.navbar-tg .nav a {
  color: #0088cc;
  -webkit-transition: padding-bottom .2s ease-in-out, box-shadow .2s ease-in-out;
  -moz-transition: padding-bottom .2s ease-in-out, box-shadow .2s ease-in-out;
  -ms-transition: padding-bottom .2s ease-in-out, box-shadow .2s ease-in-out;
}
.navbar-tg .nav a:hover,
.navbar-tg .nav .active a {
  color: #0088cc;
}
.navbar-tg .nav .active a {
  box-shadow: 0px 3px 0px 0px #179cde;
  -webkit-box-shadow: 0px 3px 0px 0px #179cde;
  padding-bottom: 13.5px;
}
.navbar-tg .nav li a:hover {
  box-shadow: 0px 3px 0px 0px #179cde;
  -webkit-box-shadow: 0px 3px 0px 0px #179cde;
  padding-bottom: 13.5px;
}
.navbar-tg .nav a,
.navbar-tg .nav a:hover,
.navbar-tg .nav a:focus {
  background-color: transparent;
}

.nav {
  color: #a2a2a2;
  font-size: 15px;
}


.caret {
  display: inline-block;
  background: url(../img/dropdown_1x.png) -2px -5px no-repeat;
  border: 0;
  width: 14px;
  height: 6px;
  margin-left: 2px;
  vertical-align: middle;
}


.nav-pills > li > a {
  font-size: 15px;
  padding: 8px 17px;
  border-radius: 0;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #f0f6fa;
  text-decoration: none;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  box-shadow: none;
  background-color: #1e98d4;
  color: #FFF;
  border: 0;
}

.nav .open > a .caret,
.nav .open > a:hover .caret,
.nav .open > a:focus .caret {
  background-position: -2px -15px;
}

.dropdown-menu {
  min-width: 177px;
  padding: 0;
  margin: 7px 0 0 0;
  list-style: none;
  font-size: 13px;
  text-align: left;
  background-color: #fff;
  border-radius: 0;
  border: 1px solid rgba(29,92,123,0.3);
  box-shadow: 0 1px 1px rgba(20,60,83,0.1);
  -webkit-box-shadow: 0 1px 1px rgba(20,60,83,0.1);
}
.dropdown-menu > li > a {
  padding: 8px 18px;
  margin: 0 -1px;
  color: #08c;
}
.dropdown-menu > li > a:first-child {
  margin-top: -1px;
  padding-top: 9px;
}
.dropdown-menu > li > a:last-child {
  margin-bottom: -1px;
  padding-bottom: 9px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li.active > a {
  text-decoration: none;
  color: #FFF;
  background-color: #1e98d4;
}

#dev_page_content > ul:not(.nav) {
  list-style-type: none;
  padding-left: 10px;
}
#dev_page_content > ul:not(.nav) li {
  background-image: url(../img/bullet.png?2);
  background-repeat: no-repeat;
  background-position: 0px 8px;
  padding-left: 20px;
}



.breadcrumb > li {
  text-shadow: none;
}
.breadcrumb > li > .divider {
  color: #c1d3e4;
}

pre, code {
  border: 0;
}
pre {
  font-size: 13px;
  color: #546172;
  background: #ecf3f8;
  border-radius: 0;
}
code {
  background: #feeae4;
  color: #c61717;
  padding: 3px 5px;
  border-radius: 0;
}
blockquote {
  border-left-color: #179cde;
}
blockquote p {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 10px;
}
.table td, .table th {
  border-top-color: #eee;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 20px 0 10px 0;
  position: relative;
}
h1 {
  font-size: 20px;
  margin-top: 32px;
  margin-bottom: 12px;
}
h2 {
  font-size: 20px;
  margin-top: 32px;
  margin-bottom: 12px;
}
h3 {
  font-size: 20px;
  margin-top: 32px;
  margin-bottom: 10px;
}
h4 {
  font-size: 16px;
  margin-top: 29px;
  margin-bottom: 7px;
}
h5 {
  font-size: 16px;
  margin-top: 29px;
  margin-bottom: 7px;
}

a.btn,
button.btn {
  border-radius: 0;
}

.form-control {
  border-radius: 0;
  box-shadow: none;
}


a.anchor {
  text-decoration: none;
  line-height: 1;
  margin-left: -22px;

  cursor: default;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  border-top: 10px solid transparent;
  margin-top: -10px;
  -webkit-background-clip:padding-box;
  -moz-background-clip:padding;
  background-clip:padding-box;
  outline: 0;
}

a.anchor i.anchor-icon {
  display: inline-block;
  width: 18px;
  height: 20px;
  margin-top: 2px;
  line-height: 14px;
  vertical-align: text-top;
  background: url(../img/link-icon.png) 0 0 no-repeat;
  background-size: 17px 18px;
  opacity: 0;

  cursor: pointer;
  padding: 0;
  position: relative;
  z-index: 10;

  -webkit-transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -ms-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}

h1 a.anchor i.anchor-icon {margin-top: 2px;}
h2 a.anchor i.anchor-icon {margin-top: 2px;}
h3 a.anchor i.anchor-icon {margin-top: 2px;}
h4 a.anchor i.anchor-icon {margin-top: 0px;}


h1:hover a.anchor i.anchor-icon,
h2:hover a.anchor i.anchor-icon,
h3:hover a.anchor i.anchor-icon,
h4:hover a.anchor i.anchor-icon,
h5:hover a.anchor i.anchor-icon,
h6:hover a.anchor i.anchor-icon {
  opacity: 0.6;
}
i.anchor-icon:hover {
  opacity: 1 !important;
}

.breadcrumb {
  background-color: #ecf3fa;
}
.breadcrumb {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.breadcrumb li {
  display: inline-block;
  float: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.breadcrumb > li + li:before {
  padding: 0;
  content: "";
}
.icon-breadcrumb-divider {
  display: inline-block;
  background: url(../img/breadcrumb_divider_1x.png) 0 50% no-repeat;
  width: 5px;
  height: 18px;
  line-height: 18px;
  margin: 0 8px;
  vertical-align: top;
}

.slightly-pull-right {
  float: right;
}
.slightly-pull-left {
  float: left;
}


.back_to_top_wrap {
  display: block;
  pointer-events: none;
  cursor: default;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  outline: none;
  box-shadow: none;
  opacity: 0;
  /*display: none;*/
  transition: opacity ease-in-out 0.2s;
  -webkit-transition: opacity ease-in-out 0.2s;
}
.back_to_top_wrap.back_to_top_shown {
  cursor: pointer;
  pointer-events: all;
  /*display: block;*/
  opacity: 1;
}
.back_to_top_wrap:hover {
  text-decoration: none;
}
.back_to_top {
  font-size: 15px;
  width: 120px;
  text-align: center;
  padding: 18px 15px 18px 7px;
  transition: background ease-in-out 0.2s;
  -webkit-transition: background ease-in-out 0.2s;
}
.back_to_top_wrap:hover .back_to_top {
  background: #ecf3f8;
  background: rgba(174, 198, 215, 0.2);
}
.icon-to-top {
  display: inline-block;
  background: url(../img/back_to_top_1x.png) 0 50% no-repeat;
  width: 16px;
  height: 7px;
  margin-right: 12px;
  margin-top: 7px;
  vertical-align: text-top;
}


.navbar-tg .navbar-twitter a {
  padding-top: 14.5px;
  padding-bottom: 14.5px;
}

.tl_main_page_container {
  padding: 0;
}

.tl_main_wrap {
  margin-top: 17px;
}
.tl_main_wrap h3 {
  color: #222222;
  font-size: 23px;
  font-weight: 500;
}
.tl_main_award {
  width: 100px;
  height: 100px;
  display: block;
  background: url(../img/SiteAward.gif) 0 0 no-repeat;
  margin: 2px;
}

.no_access_wrap {
  color: #999;
  padding: 100px 40px;
  text-align: center;
  font-size: 18px;
}

.side_blog_wrap {
  background: #ecf3fa;
  padding: 15px 20px 20px;
  font-size: 12px;
  width: 180px;
}
.side_blog_header {
  display: block;
  color: #0088cc;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
}
a.side_blog_entry {
  display: block;
  margin-top: 10px;
}
a.side_blog_entry:hover {
  text-decoration: none;
}
.side_blog_date {
  color: #000;
  font-weight: bold;
}
.side_blog_title {
  color: #0088cc;
}
a.side_blog_entry:hover .side_blog_title {
  text-decoration: underline;
}
.side_tour_entry .side_blog_title {
  font-size: 14px;
}

.tl_main_bottom_blog,
.tl_blog_bottom_blog {
  display: none;
}
.tl_main_side_blog {
  position: relative;
}
.tl_main_side_blog .side_blog_wrap {
  position: absolute;
  margin-top: 20px;
  right: 137px;
}
.tl_main_bottom_blog {
  margin: 0px 15px 20px;
}
.side_blog_wrap {
  background: none;
  padding: 5px 17px;
  margin: 0 0 17px 26px;
  border-left: 5px solid #179cde;
}
.tl_blog_bottom_blog .side_blog_wrap {
  margin: 0 0 0 10px;
}
.tl_blog_side_blog {
  position: relative;
}
.tl_blog_side_blog .side_blog_wrap {
  position: absolute;
  margin-top: 50px;
  right: -200px;
}



.tl_main_logo_wrap {
  max-width: 315px;
  margin: 0 auto;
  padding: 20px 0 20px;
}
a.tl_main_logo {
  display: block;
  line-height: 0;
  text-decoration: none !important;
}
img.tl_main_logo {
  display: block;
  width: 128px;
  height: 128px;
  margin: 0 auto;
}
.tl_main_logo_title,
.tl_main_logo_title:hover {
  font-size: 34px;
  color: #222222;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 6px;
  font-weight: normal;
  letter-spacing: -2px;
}
.tl_main_logo_title_image {
  width: 144px;
  height: 36px;
  background: url(../img/Telegram_1x.png) 0 0 no-repeat;
  margin: 18px auto 6px;
}
.tl_main_logo_lead {
  font-size: 20px;
  line-height: 148%;
  max-width: 285px;
  margin: 0 auto;
  color: #8c8c8c;
  text-align: center;
  padding: 1px 0 10px;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Light", Helvetica, Arial , Verdana, sans-serif;
  font-weight: 300;
}


.tl_main_head_download {
  margin: 6px auto 35px;
  max-width: 798px;
  text-align: center;
}
.tl_main_download_btn {
  display: inline-block;
  color: #FFF;
  font-size: 16px;
  background: #a19481;
  border-radius: 4px;
  padding: 10px 15px;
  line-height: 35px;
  overflow: hidden;
  width: 220px;
  margin: 5px 8px;
  text-align: center;
}
.tl_main_download_btn:hover {
  background-color: #a99d8b;
  color: #FFF;
  text-decoration: none;
}
.tl_main_download_btn:active {
  background-color: #998e7e;
}

.tl_main_download_mobile {
  text-align: center;
  max-width: 1028px;
  margin: 20px auto 20px;
  margin: 0 auto;
}
.tl_main_download_link {
  text-align: center;
  display: inline-block;
  height: 290px;
  padding-top: 250px;
  padding-bottom: 20px;
  margin: 40px 0;
  font-size: 15px;
  max-width: 100%;
  -webkit-transition: box-shadow .2s ease-in-out;
  -moz-transition: box-shadow .2s ease-in-out;
  -ms-transition: box-shadow .2s ease-in-out;
}
.tl_main_download_link:hover {
  text-decoration: none;
  box-shadow: 0px 3px 0px 0px #179cde;
}
.tl_main_download_link_android {
  width: 28.21%;
  min-width: 245px;
  background: url(../img/SiteAndroid.jpg?1) 50% 0 no-repeat;
}
.tl_main_download_link_ios {
  width: 42.9961%;
  min-width: 350px;
  background: url(../img/SiteiOs.jpg?1) 50% 0 no-repeat;
}
.tl_main_download_link_wp {
  width: 28.793774%;
  min-width: 245px;
  background: url(../img/SiteWP.jpg?2) 50% 0 no-repeat;
}
.tl_main_download_link_tdesktop {
  display: none;
  min-width: 320px;
  background: url(../img/SiteTDesktop.png) 50% 0 no-repeat;
}




.tl_main_download_more_btn {
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 0;
  white-space: nowrap;
  padding: 10px 16px;
  font-size: 15px;
  line-height: 1.33;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ffffff;
  background-color: #318fd3;
  margin-top: 5px;
  display: none;
  border-radius: 3px;
}
.tl_main_download_more_btn:hover {
  color: #FFF;
}
.icon-arrow-more {
  display: inline-block;
  vertical-align: baseline;
  width: 6px;
  height: 11px;
  background: url(../img/tl_arrow.png) 0 0 no-repeat;
  margin-left: 10px;
}

.tl_main_download_desktop_header {
  text-align: center;
}
.tl_main_download_desktop_wrap1 {
  height: 291px;
  overflow: hidden;
}
.tl_main_download_desktop_wrap {
  position: absolute;
  left: 0;
  right: 0;
}
.tl_main_download_desktop {
  position: absolute;
  left: 0;
  right: 0;
  min-width: 804px;
  background: url(../img/SiteDesktop.jpg?1) 50% 19px no-repeat;
  /*overflow: hidden;*/
}



.tl_main_download_desktop_links {
  width: 804px;
  margin: 0 auto;
}
.tl_main_download_desktop_link {
  text-align: center;
  display: inline-block;
  padding: 270px 0 20px;
  font-size: 15px;
  vertical-align: top;
  -webkit-transition: box-shadow .2s ease-in-out;
  -moz-transition: box-shadow .2s ease-in-out;
  -ms-transition: box-shadow .2s ease-in-out;
}
.tl_main_download_desktop_link:hover {
  text-decoration: none;
  box-shadow: 0px 3px 0px 0px #179cde;
}
.tl_main_download_link_web {
  width: 29.5%;
}
.tl_main_download_link_osx {
  width: 38.4%;
  padding-left: 20px;
  padding-right: 20px;
}
.tl_main_download_link_td {
  width: 32.1%;
}
.tl_main_body {
  margin-top: 40px;
  padding-top: 5px;
}
.tl_main_body_header {
  text-align: center;
  margin-top: 0;
  padding-top: 20px;
}

.icon-android,
.icon-ios,
.icon-wp {
  display: inline-block;
  vertical-align: text-top;
  width: 25px;
  height: 30px;
  background: url(../img/SiteLogos.png) 0 0 no-repeat;
  margin-right: 10px;
}

.icon-ios {
  background-position: 0 0px;
  height: 26px;
  margin-top: -5px;
}
.icon-android {
  background-position: 0 -46px;
  height: 23px;
  margin-top: -3px;
}
.icon-wp {
  background-position: 0 -90px;
  height: 20px;
  margin-top: -1px;
}

.icon {
  display: inline-block;
}
.icon-twitter {
  width: 21px;
  height: 17px;
  vertical-align: text-top;
  background: url(../img/twitter.png) 0 0 no-repeat;
  opacity: 0.9;
}
a:hover .icon-twitter {
  opacity: 0.99;
}



.tl_main_cards {
  max-width: 950px;
  margin: 18px auto 0;
  padding: 0;
}
.tl_main_card_cell,
.tl_main_card_cell_last {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .tl_main_card_cell,
  .tl_main_card_cell_last {
    width: 50%;
    float: left;
  }
  .tl_main_card_cell_last {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .tl_main_card_cell,
  .tl_main_card_cell_last {
    width: 33.33333%;
  }
}

.tl_main_card_wrap {
  max-width: 260px;
  margin: 0 auto;
  padding: 20px 0 9px;
}
.tl_main_card {
  background: url(../img/tl_card_fast.gif) 0 0 no-repeat;
  background-size: 160px 160px;
  width: 160px;
  height: 160px;
  margin: 0 auto;
}

.tl_main_card_fast {
  background-image: url(../img/tl_card_fast.gif);
}
.tl_main_card_powerful {
  background-image: url(../img/tl_card_powerful.gif);
}
.tl_main_card_free {
  background-image: url(../img/tl_card_free.gif);
}
.tl_main_card_secure {
  background-image: url(../img/tl_card_secure.gif);
}
.tl_main_card_cloud {
  background-image: url(../img/tl_card_cloud.gif);
}
.tl_main_card_private {
  background-image: url(../img/tl_card_private.gif);
}
.tl_main_card_decentralized {
  background-image: url(../img/tl_card_decentralized.gif);
}
.tl_main_card_open {
  background-image: url(../img/tl_card_open.gif);
}
.tl_main_card_wecandoit {
  background-image: url(../img/tl_card_wecandoit.gif);
}

.tl_main_card_connect {
  background-image: url(../img/tl_card_connect.gif);
}
.tl_main_card_coordinate {
  background-image: url(../img/tl_card_coordinate.gif);
}
.tl_main_card_synchronize {
  background-image: url(../img/tl_card_synchronize.gif);
}
.tl_main_card_build {
  background-image: url(../img/tl_card_build.gif);
}
.tl_main_card_encrypt {
  background-image: url(../img/tl_card_encrypt.gif);
}
.tl_main_card_send {
  background-image: url(../img/tl_card_send.gif);
}
.tl_main_card_process {
  background-image: url(../img/tl_card_process.gif);
}
.tl_main_card_destruct {
  background-image: url(../img/tl_card_destruct.gif);
}
.tl_main_card_store {
  background-image: url(../img/tl_card_store.gif);
}

h3.tl_main_card_header {
  color: #a19679;
  text-align: center;
  margin: 15px 0 6px;
  font-size: 26px;
  font-weight: normal;
  letter-spacing: -1px;
}

.tl_main_card_lead {
  font-size: 15px;
  line-height: 158%;
  text-align: center;
}

.tl_main_share {
  margin: 24px auto 40px;
  /*padding-bottom: 30px;*/
  max-width: 330px;
  text-align: center;
}
.tl_main_noshare {
  height: 50px;
}
.tl_main_twitter_widget_wrap {
  /*float: left;*/
  display: inline-block;
}
.tl_main_facebook_widget_wrap {
  /*float: left;*/
  margin-right: 20px;
  display: inline-block;
}
.fb_iframe_widget span {
  vertical-align: baseline !important;
}

.tl_main_gplus_widget_wrap {
  /*float: left;*/
  display: inline-block;
}

.tl_twitter_share_btn {
  display: inline-block;
  border-radius: 15px;
  background-color: #54a9eb;
  cursor: pointer;
  margin-right: 15px;
  padding: 7px 15px;
  color:#FFF;
  font-weight: bold;
}
.tl_twitter_share_btn:hover,
.tl_twitter_share_btn:active,
.tl_twitter_share_btn:focus {
  text-decoration: none;
  color: #FFF;
  outline: none;
}
.tl_twitter_share_cnt {
  display: none;
  color: #c4e3fb;
}


.footer_wrap {
  border-top: 1px solid #e8e8e8;
  max-width: 925px;
  margin: 10px auto 0;
  padding: 28px 0 34px;
}
.footer_mobile {
  display: none;
}
.footer_columns_wrap {
  padding-left: 0;
  padding: 0 0 0 63px;
  margin: 0;
}
.footer_column {
  float: left;
  padding-right: 78px;
}
.footer_column_telegram {
  width: 290px;
  padding-right: 50px;
}
.footer_column:last-child {
  padding-right: 0;
}
.footer_column:first-child {
  padding-left: 0;
}
.footer_column h5 {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 9px;
}
.footer_column h5 a {
  color: inherit;
}
.footer_column ul,
.footer_column ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer_column ul li {
  font-size: 14px;
  line-height: 23px;
}
.footer_privacy_description {
  padding-top: 3px;
  font-size: 13px;
  line-height: 160%;
}
.footer_privacy_description p {
  margin-bottom: 6px;
}
.footer_telegram_description {
  font-size: 13px;
}



.tl_mission_wrap #dev_page_content,
.tl_mission_wrap #dev_page_content p  {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Light", Helvetica, Arial , Verdana, sans-serif;
  font-weight: 300;
  line-height: 160%;
  font-size: 16px;
}

/* Core / dev */

.dev_page {
  background: #FFF;
  min-height: 500px;
}
#dev_page_content_wrap {
  padding: 20px 0;
  max-width: 800px;
  margin: 0 auto;
}
#dev_page_content,
#dev_page_content p {
  font-size: 14px;
  line-height: 1.5;
}
.dev_page_bread_crumbs .breadcrumb {
  margin-bottom: 10px;
  border-radius: 0;
}
#dev_page_title {
  position: static;
}

.dev_page_head {
  margin-bottom: 0;
}
.dev_page_head .dev_page_head_logo {
  margin-left: 0;
}
#dev_page_content_wrap blockquote {
  padding: 5px 17px;
}
#dev_page_content_wrap pre {
  overflow-x: auto;
  border-radius: 0;
}

#dev_page_content_wrap pre::-webkit-scrollbar {
  visibility: visible;
  display: block;
  height: 15px;
}
#dev_page_content_wrap pre::-webkit-scrollbar-track:horizontal {
  background: rgba(93, 144, 177, 0.2);
  border-radius: 0;
  height: 15px;
}
#dev_page_content_wrap pre::-webkit-scrollbar-thumb:horizontal {
  background: rgba(93, 144, 177, 0.4);
  border-radius: 0;
  height: 15px;
}

#dev_page_content_wrap .richcode {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  color: #546172;
  background: #ecf3f8;

  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}
#dev_page_content_wrap .richcode code {
  background: #FFF;
}
.richcode p:last-child {
  margin-bottom: 0;
}

#dev_page_content_wrap pre code {
  overflow-wrap: normal;
  white-space: pre;
}
#dev_page_content_wrap a.current_page_link {
  color: #468847;
  text-decoration: underline;
}

#dev_page_content_wrap a.nonexisting_page_link {
  color: #FF0000;
  text-decoration: underline;
}

.dev_side_image {
  max-width: 200px;
  float: right;
  padding: 0 0 0 20px;
}
.dev_side_image img {
  max-width: 180px;
}


#dev_page_content_wrap pre.page_scheme {
  margin: 20px 0 30px;
}
.dev_page_edit_form {
  border-top: 1px solid #DDD;
  padding-top: 50px;
  max-width: 800px;
  margin: 30px auto 0;
}
.dev_page_edit_form .CodeMirror {
  font-size: 14px;
  line-height: 20px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  border: 1px solid #eee;
  height: auto;
  position: relative;

  margin-bottom: 9px;
  color: #555555;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

.dev_page_edit_form .CodeMirror-focused {
 border-color: rgba(82, 168, 236, 0.8);
 outline: 0;
 outline: thin dotted \9;

 -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
         box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.dev_page_edit_form .CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.dev_page_edit_form .CodeMirror pre {
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

.table-msg-schema td {
  text-align: center;
}
.table-msg-schema>thead>tr>th,
.table-msg-schema>tbody>tr>th,
.table-msg-schema>tfoot>tr>th,
.table-msg-schema>thead>tr>td,
.table-msg-schema>tbody>tr>td,
.table-msg-schema>tfoot>tr>td {
  border: 1px solid #d5d5d5;
}

#dev_upload_btn {
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.dev_upload_input {
  cursor: pointer;
  font-size: 72px !important;
  opacity: 0.01;
  position: absolute;
  z-index: 100;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
}


.app_edit_page {
  width: 700px;
  margin: 40px auto;
}
.app_lock_tt {
  padding: 3px;
  display: inline-block;
}
.app_lock_text {
  font-size: 13px;
}

.tg-table-stats {
  font-size: 12px;
}
.tg-table-stats th a.active {
  color: inherit;
}

.dev_side_nav_wrap {
  position: relative;
}
.dev_side_nav {
  position: absolute;
  right: 0;
  width: 200px;
  right: -200px;
}
.dev_side_nav > ul {
  width: 200px;
  background: none;
  padding: 10px 0 10px;
}
.dev_side_nav > ul::-webkit-scrollbar {
  display: none;
}
.dev_side_nav > ul.affix-top {
  position: relative;
}
.dev_side_nav > ul.affix {
  position: fixed;
  top: 0;
  max-height: 100%;
  overflow-y: scroll;
}
.dev_side_nav > ul.affix-bottom {
  position: relative;
  height: auto;
  overflow-y: scroll;
}
.dev_side_nav li {
  float: none !important;
}
.dev_side_nav li a {
  border-left: 2px solid transparent;
  padding: 10px 10px;
  background: none !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dev_side_nav li a {
  display: block;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 500;
  padding-left: 18px;
  font-weight: 700;
  background-color: transparent;
}
.dev_side_nav li li a {
  padding-left: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: 400;
}
.dev_side_nav li a:hover {
  border-left: 2px solid rgba(23, 156, 222, 0.6);
}
.dev_side_nav li.active > a {
  border-left: 2px solid #179cde;
}
.dev_side_nav li ul {
  display: none;
}
.dev_side_nav li.active ul {
  display: block;
}


/* Core / dev end*/



/* Support */
.support_wrap {
  max-width: 800px;
  background: #FFF;
  margin: 0 auto;
  padding: 20px 0;
}
.support_submit {
}


/* FAQ */
.twitter_timeline_wrap {
  width: 300px;
  padding-top: 14px;
}

.dev_lang_select {
  padding: 2px 0 0;
  margin: 24px 0 0;
  width: 130px;
}
.dev_layer_select .dropdown-menu,
.dev_lang_select .dropdown-menu {
  right: 0;
  left: auto;
}
.dev_lang_select .dropdown {
  float: none;
}
.dev_lang_select .dropdown-toggle {
  display: block;
  text-align: center;
  font-size: 14px;
}
.dev_lang_select .dropdown-menu {
  width: 130px;
  min-width: 130px;
}
.dev_lang_select .dropdown-menu li a {
  font-size: 13px;
  /*padding: 7px;*/
}
.is_rtl .dev_layer_select .dropdown-menu,
.is_rtl .dev_lang_select .dropdown-menu {
  right: auto;
  left: 0;
}

.is_rtl {
  direction: rtl;
}

.is_rtl blockquote {
  padding: 0 15px 0 0;
  margin: 0 0 20px;
  border-left: 0;
  border-right: 5px solid #eeeeee;
}

.is_rtl .pull-right,
.is_rtl .slightly-pull-right {
  float: left;
}
.is_rtl .pull-left,
.is_rtl .slightly-pull-left {
  float: right;
}

.is_rtl .anchor {
  left: auto;
  right: 0;
}

.dev_page_nav_wrap > p > a:first-child {
  color: #333;
}

#dev_page_content .dev_page_nav_wrap ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 20px;
}
#dev_page_content .dev_page_nav_wrap ul + h4 {
  margin-top: 4px;
}
#dev_page_content .dev_page_nav_wrap ul li {
  background: none;
  padding-left: 0;
  padding-top: 1px;
  padding-bottom: 2px;
}

.dev_page_image {
  display: block;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 0px 5px;
}
.tl_contest_page_wrap .dev_page_image {
  max-width: 600px;
}

/* Contest */

.tl_contest_page_wrap {
  padding: 0 0 20px;
  max-width: 600px;
  margin: 0 auto;
}
.tl_contest_intro {
  margin: 0;
}
.tl_contest_side_image_wrap {
  position: relative;
}
.tl_contest_side_image {
  margin: 50px 0 0 -180px;
  width: 160px;
  height: 160px;
  position: absolute;
}
.tl_contest_side_image2 {
  margin-top: 0px;
}
.tl_contest_side_image3 {
  margin-top: 10px;
}
.tl_contest_page_wrap .tl_main_share {
  margin: 0 0 20px;
  text-align: left;
}
.tl_contest_page_wrap #dev_page_title {
  font-size: 24.5px;
  line-height: 33px;
  margin: 20px 0 10px 0;
}
.tl_contest_dl_btn {
  padding: 0;
}
#traffic_log_wrap {
  min-height: 300px;
  /*max-height: 600px;*/
  /*overflow: auto;*/
  overflow-wrap: normal;
  white-space: pre;
}

.tl_contest_log {
  padding-top: 10px;
}
.tl_contest_log h3 {
  margin-top: 0;
}

/* Blog */
.blog_side_image_wrap {
  position: relative;
}
.blog_side_image {
  margin: -41px 0 0 -180px;
  width: 160px;
  height: 160px;
  position: absolute;
}

.tlb_blog_page .blog_side_image_wrap {
  position: static;
}
.tlb_blog_page .blog_side_image {
  display: block;
  margin: 20px auto;
  width: 160px;
  height: 160px;
  position: static;
}

.blog_wide_image img {
  width: 100%;
  padding-bottom: 20px;
}
.blog_image_wrap {
  width: 185px;
  margin: 10px auto 20px;
}
.blog_image_wrap a {

}
.blog_image_wrap img {
  width: 185px;
  padding: 10px 5px;
}
#dev_page_content .blog_image_wrap p,
.tlb_page_wrap .tl_contest_page_wrap #dev_page_content .blog_image_wrap p {
  text-align: center;
  color: #808080;
  font-size: 12px;
  margin: 10px 0 0;
  line-height: 150%;
  padding: 0 10px;
}

.blog_2images_wrap,
.blog_3images_wrap {
  width: 384px;
  margin: 20px auto 20px;
}
.blog_3images_wrap {
  width: 575px;
}
.blog_2images_wrap:before,
.blog_2images_wrap:after,
.blog_3images_wrap:before,
.blog_3images_wrap:after {
  content: " ";
  display: table;
}
.blog_2images_wrap:after,
.blog_3images_wrap:after {
  clear: both;
}
.blog_2images_wrap .blog_image_wrap,
.blog_3images_wrap .blog_image_wrap {
  float: left;
  margin-left: 0;
  margin-right: 14px;
}
.blog_3images_wrap .blog_image_wrap {
  margin-right: 10px;
}
.blog_2images_wrap .blog_image_wrap:last-child,
.blog_3images_wrap .blog_image_wrap:last-child {
  margin-right: 0;
}



/* My page */
.my_page_wrap {
  margin-top: 50px;
  font-size: 14px;
  line-height: 20px;
}
.my_page_wrap .container {
  max-width: 570px;
}

.my_page_wrap .tl_main_card {
  margin: 0;
}
#my_login_form_wrap {
  max-width: 400px;
}
.my_login_form_details {
  margin: 10px 0 20px;
}


#my_login_form_wrap .btn {
  box-shadow: none;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border: 0;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-shadow: none;
}
#my_login_form_wrap .btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
#my_login_form_wrap .btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
#my_login_form_wrap .btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.modal-header h4 {
  position: static;
}

.my_email_confirmation_result_wrap {
  margin-top: 40px;
}
.my_email_confirmation_result_text {
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}


.smartphone_video_player_wrap {
  width: 270px;
  height: 555px;
  margin: 20px auto;
  position: relative;
  background: #000 url(../img/iPhone6.png) 0 0 no-repeat;
  background-size: 270px 555px;
}
.smartphone_video_player_iphone {
  position: absolute;
  margin-top: 69px;
  margin-left: 18px;
  border-radius: 3px;
  overflow: hidden;
  line-height: 0;
}
video.smartphone_video_player {
  cursor: pointer;
  width: 234px;
  height: 416px;
  line-height: 0;
  margin: 0;
  vertical-align: top;
}


.smarphone_device_nexus {
  margin: 40px auto;
  padding: 45px 14px 45px 14px;
  width: 290px;
  height: 514px;
  background: #1e1e1e;
  border-radius: 18.125px;
  display: block;
  position: relative;
  box-sizing: content-box;
}
.smarphone_device_nexus:before {
  -webkit-border-radius: 540px / 45px;
  border-radius: 540px / 45px;
  background: inherit;
  content: '';
  top: 0;
  position: absolute;
  height: 103.1%;
  width: calc(100% - 23px);
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
}
.smarphone_device_nexus .top-bar {
  width: calc(100% - 7px);
  height: calc(100% - 5px);
  position: absolute;
  top: 3px;
  left: 4px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  background: #181818;
  box-sizing: content-box;
}
.smarphone_device_nexus .top-bar:before {
  -webkit-border-radius: 540px / 45px;
  border-radius: 540px / 45px;
  background: inherit;
  content: '';
  top: 0;
  position: absolute;
  height: 103.0%;
  width: calc(100% - 26px);
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
}
.smarphone_device_nexus .bottom-bar{
  display: none;
  box-sizing: content-box;
}
.smarphone_device_nexus .sleep {
  width: 3px;
  position: absolute;
  left: -3px;
  top: 99px;
  height: 90px;
  background: inherit;
  -webkit-border-radius: 2px 0px 0px 2px;
  border-radius: 2px 0px 0px 2px;
  box-sizing: content-box;
}
.smarphone_device_nexus .volume {
  width: 3px;
  position: absolute;
  right: -3px;
  top: 63px;
  height: 45px;
  background: inherit;
  -webkit-border-radius: 0px 2px 2px 0px;
  border-radius: 0px 2px 2px 0px;
  box-sizing: content-box;
}
.smarphone_device_nexus .camera {
  background: #3c3d3d;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 18px;
  left: 50%;
  z-index: 3;
  margin-left: -5px;
  border-radius: 100%;
  box-sizing: content-box;
}
.smarphone_device_nexus .camera:before {
  background: #3c3d3d;
  width: 6px;
  height: 6px;
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: -90px;
  z-index: 3;
  border-radius: 100%;
  box-sizing: content-box;
}
.smarphone_device_nexus .screen {
  position: relative;
  box-sizing: content-box;
}
.smarphone_device_nexus video {
  display: block;
  width: 290px;
  height: 514px;
  margin: 0 auto;
}


/* Telegram Me */
.tgme_page_wrap {
  font-family: 'Roboto', sans-serif;;
  color: #575757;
}
.tgme_page_wrap a,
.tgme_page_wrap a:hover,
.tgme_page_wrap a:active {
  color: #3ca2d9;
}

.tgme_head_wrap {
  background: #FFF;
  height: 60px;
  padding: 16px 18px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
}
.tgme_logo {
  display: inline-block;
  background: url(/img/tgme/Logo_1x.png) 0 0 no-repeat;
  width: 122px;
  height: 28px;
  background-size: 122px 28px;
}
a.tgme_head_dl_button {
  display: none;
  font-size: 16px;
  line-height: 100%;
  color: #FFF;
  background: #5eb7e5;
  padding: 2px 15px 0 16px;
  height: 45px;
  line-height: 43px;

  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.15);
  box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.15);
}
a.tgme_head_dl_button:hover,
a.tgme_head_dl_button:active {
  color: #FFF;
  background: #5eb7e5;
  text-decoration: none;
}
.tgme_icon_arrow {
  float: right;
  display: inline-block;
  background: url(/img/tgme/Arrow_1x.png) 0 0 no-repeat;
  width: 8px;
  height: 12px;
  background-size: 8px 12px;
  vertical-align: top;
  margin-top: 15px;
}

.tgme_page {
  margin: 82px auto 50px;
  max-width: 424px;
}
.tgme_page_icon {
  text-align: center;
  margin-bottom: 20px;
}
.tgme_icon_user {
  display: inline-block;
  width: 40px;
  height: 39px;
  background: url(/img/tgme/Web1x.png?1) -2px -38px no-repeat;
  background-size: 44px 177px;
}
.tgme_icon_group {
  display: inline-block;
  width: 44px;
  height: 28px;
  background: url(/img/tgme/Web1x.png?1) 0 0 no-repeat;
  background-size: 44px 177px;
}
.tgme_icon_stickers {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(/img/tgme/Web1x.png?1) -2px -87px no-repeat;
  background-size: 44px 177px;
}
.tgme_icon_share {
  display: inline-block;
  width: 44px;
  height: 23px;
  background: url(/img/tgme/Web1x.png?1) 0 -137px no-repeat;
  background-size: 44px 177px;
}
.tgme_page_description {
  font-size: 17px;
  line-height: 27px;
  text-align: center;
  max-width: 340px;
  padding: 0 10px;
  margin: 0 auto;
}
a.tgme_username_link,
a.tgme_username_link:hover,
a.tgme_username_link:active {
  text-decoration: none;
}
.tgme_page_action {
  text-align: center;
  margin-top: 25px;
  line-height: 0;
}
a.tgme_action_button {
  font-size: 13px;
  font-weight: bold;
  line-height: 100%;
  color: #FFF;
  background: #5dc390;
  border-radius: 3px;
  overflow: hidden;
  display: inline-block;
  padding: 15px 27px 13px;
  text-transform: uppercase;
}
a.tgme_action_button:hover,
a.tgme_action_button:active {
  color: #FFF;
  background: #4bbc87;
  text-decoration: none;
}

.tgme_footer {
  margin: 0 auto;
  border-top: 1px solid #e0e0e0;
  max-width: 424px;
  padding-top: 38px;
}

.tgme_footer_description {
  font-size: 17px;
  line-height: 27px;
  text-align: center;
  max-width: 330px;
  padding: 0 10px;
  margin: 0 auto 0;
}
.tgme_footer_action {
  text-align: center;
  margin-top: 28px;
  line-height: 0;
}
a.tgme_footer_dl_button {
  background: #54b3e6;
}
a.tgme_footer_dl_button:hover,
a.tgme_footer_dl_button:active {
  background: #43a7dd;
}


#tgme_frame_cont {
  position: absolute;
  left: -10000px;
  top: -10000px;
}

/* New mobile blog */
.tlb_page_wrap {
  font-family: 'Roboto', sans-serif;;
}
.tlb_page_wrap a,
.tlb_page_wrap a:hover,
.tlb_page_wrap a:active {
  color: #1497d9;
}
.tlb_page_head {
  background: #FFF;
  height: 47px;
  padding: 12px 12px;
}
.tlb_blog_logo {
  display: inline-block;
  background: url(/img/blog/BlogLogo1x.png) 0 0 no-repeat;
  width: 144px;
  height: 24px;
  background-size: 144px 24px;
  line-height: 0;
}
.tlb_head_home {
  float: right;
  display: inline-block;
  line-height: 24px;
  height: 24px;
  vertical-align: top;
  font-size: 14px;
}
a.tlb_blog_head_more_link {
  display: block;
  font-size: 15px;
  color: #FFF;
  background: #3faee8;
  padding: 0 15px 0 15px;
  height: 42px;
  line-height: 42px;
}
a.tlb_blog_head_more_link:hover,
a.tlb_blog_head_more_link:active {
  color: #FFF;
  background: #3faee8;
  text-decoration: none;
}

a.tlb_blog_head_more_link .tlb_head_more_active,
.tlb_blog_head_recent_active a.tlb_blog_head_more_link .tlb_head_more_inactive,
.tlb_head_more_entries {
  display: none;
}
.tlb_blog_head_recent_active a.tlb_blog_head_more_link .tlb_head_more_active,
.tlb_blog_head_recent_active .tlb_head_more_entries {
  display: block;
}
.tlb_head_more_icon_wrap {
  float: right;
  vertical-align: top;
  margin-top: 15px;
  line-height: 0;
}
.tlb_head_more_icon {
  display: inline-block;
  border: 2px solid #FFF;
  border-left: 0;
  border-bottom: 0;
  width: 10px;
  height: 10px;

  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);

  /*-webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;*/
}
.tlb_blog_head_recent_active .tlb_head_more_icon_wrap {
  margin-top: 18px;
}
.tlb_blog_head_recent_active .tlb_head_more_icon {
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.tlb_page_wrap .side_blog_wrap {
  margin: 22px 0 0 16px;
  padding: 0 10px 0 15px;
  font-size: 13px;
  border-width: 4px;
  border-color: #3faee8;
}
.tlb_page_wrap .tl_blog_bottom_blog .side_blog_wrap {
  margin-left: 0;
  padding: 0 0 0 15px;
}

.tlb_page_wrap .side_blog_header {
  font-size: 15px;
  font-weight: bold;
}
.tlb_page_wrap .side_blog_entry {
  margin-top: 12px;
}
.tlb_page_wrap .side_blog_date {
  color: #444;
  font-size: 14px;
}
.tlb_page_wrap .side_blog_title {
  margin-top: 2px;
  font-size: 15px;
}



.tlb_page_wrap #dev_page_title a,
.tlb_page_wrap #dev_page_title a:hover,
.tlb_page_wrap #dev_page_title a:active {
  color: #444;
}
.tlb_page_wrap .tl_contest_page_wrap #dev_page_title {
  text-align: center;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.tlb_page_wrap .tl_contest_page_wrap #dev_page_title,
.tlb_page_wrap .tl_contest_page_wrap h4 {
  color: #444;
  font-size: 18px;
  line-height: 25px;
}

.tlb_page_wrap .tl_contest_page_wrap #dev_page_content,
.tlb_page_wrap .tl_contest_page_wrap #dev_page_content p {
  color: #333333;
  font-size: 15px;
}
.tlb_page_wrap .tl_contest_page_wrap #dev_page_content p {
  margin-bottom: 15px;
}
.tlb_page_wrap .tl_contest_page_wrap #dev_page_content blockquote p:last-child {
  margin-bottom: 0;
}

.tlb_page_wrap a.tl_twitter_share_btn {
  background: #3faee8;
  color: #FFF;
  font-size: 14px;
  line-height: 18px;
  border-radius: 17px;
  padding-top: 8px;
}
.tlb_page_wrap span.tl_twitter_share_cnt {
  color: #c2eaff;
}
.tlb_page_wrap a.tl_twitter_share_btn:hover,
.tlb_page_wrap a.tl_twitter_share_btn:active {
  color: #c2eaff;
}


.tl_telegram_share_btn {
  display: inline-block;
  border-radius: 15px;
  background-color: #54a9eb;
  cursor: pointer;
  line-height: 22px;
  margin-right: 15px;
  padding: 5px 12px 5px 5px;
  color: #FFF;
  font-weight: bold;
}
.tl_telegram_share_btn:hover,
.tl_telegram_share_btn:active,
.tl_telegram_share_btn:focus {
  text-decoration: none;
  color: #FFF;
  outline: none;
}
i.tl_telegram_share_icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(/img/share_logo.png) 0 0 no-repeat;
  background-size: 22px 22px;
  margin-right: 7px;
  vertical-align: top;
}
.tl_telegram_share_label {
  line-height: 21px;
  vertical-align: top;
  display: inline-block;
  /*margin-top: 1px;*/
}

.tlb_page_wrap a.tl_telegram_share_btn {
  background: #3faee8;
  color: #FFF;
  font-size: 14px;
  border-radius: 17px;
  padding: 6px 12px 5px 6px;
}
.tlb_page_wrap a.tl_telegram_share_btn:hover,
.tlb_page_wrap a.tl_telegram_share_btn:active {
  color: #c2eaff;
}


/* Telegram Desktop */
.td_btn_hidden,
.td_all_shown .td_show_all_platforms {
  display: none;
}
.td_all_shown span.td_btn_hidden {
  display: inline;
}
.td_all_shown div.td_btn_hidden {
  display: block;
}
.td_content_wrap {
  width: 600px;
  margin: 0 auto;
  font-size: 16px;
}
.td_screenshot {
  background: url(../img/td_screen.png) 50% 0 no-repeat;
  background-size: 320px 157px;
  height: 157px;
}
.td_screenshot_macos {
  background: url(../img/macos_screen.png?1) 50% 0 no-repeat;
  background-size: 372px 217px;
  height: 217px;
}
.td_download_wrap,
.td_download_wrap_low {
  margin: 0 -40px;
  width: 680px;
  text-align: center;
}
.td_download_wrap_low {
  margin-bottom: 30px;
}
.td_download_icon {
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 30px;
  background: url(../img/td_icons.png) 0 2px no-repeat;
  background-size: 25px 105px;
  margin: -2px 5px 0 0;
}
.td_osx .td_download_icon {
  background-position: 0 -33px;
}
.td_linux .td_download_icon {
  background-position: 0 -68px;
}
.td_download_add_wrap {
  width: 680px;
  margin: 0 -40px 10px;
  text-align: center;
}
.td_download_add {
  width: 280px;
  padding: 0 15px 20px;
  margin: 5px 10px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.td_download_btn {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  border-color: #357ebd;
  padding: 10px 14px;
  width: 280px;
  font-size: 15px;
  line-height: 2;
  border-radius: 6px;
  background-color: #318fd3;
  margin: 5px 10px;
  display: inline-block;
}

.td_download_btn:hover {
  outline: 0px;
  text-decoration: none;
  color: #fff;
  background-color: #3071a9;
  border-color: #285e8e;
}
.td_download_btn:active,
.td_download_btn:focus {
  outline: 0px;
  text-decoration: none;
  color: #fff;
}
.td_about_license {
  text-align: center;
  margin-bottom: 30px;
  line-height: 170%;
}

#td_versions {
  opacity: 1;
  -webkit-transition: opacity 200ms linear;
  -moz-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}
#td_versions.td_hidden {
  opacity: 0.1;
}

#td_about_osx {
  font-size: 20px;
  color: #525252;
  padding: 9px 0 5px;
  font-weight: normal;
}
#td_about_osx {
  position: absolute;
  width: 600px;
  opacity: 0;
  margin-top: -32px;
  text-align: center;
  -webkit-transition: opacity 200ms linear;
  -moz-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}
#td_about_osx.td_shown {
  opacity: 1;
}
.td_changelog_wrap {
  padding: 0 15px;
}
.td_changelog_wrap #dev_page_title {
  font-size: 20px;
  color: #525252;
  padding: 9px 0 5px;
  font-weight: normal;
}
.td_changelog_wrap h3 {
  margin-top: 20px;
  font-size: 16px;
  font-weight: normal;
}
.td_changelog_wrap h3 strong {
  color: #999;
  font-size: 14px;
  font-weight: normal;
}








@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  .tl_main_logo_title_image {
    background-image: url(../img/Telegram_2x.png);
    background-size: 144px 36px;
  }
  .caret {
    background-image: url(../img/dropdown.png);
    background-size: 18px 26px;
  }
  .icon-twitter {
    background-image: url(../img/twitter_2x.png);
    background-size: 21px 17px;
  }
  .icon-breadcrumb-divider {
    background-image: url(../img/breadcrumb_divider.png);
    background-size: 5px 10px;
  }
  .icon-to-top {
    background-image: url(../img/back_to_top.png);
    background-size: 16px 7px;
  }
  .tl_main_award {
    background-image: url(../img/SiteAward_2x.gif);
    background-size: 100px 100px;
  }
  .icon-arrow-more {
    background-image: url(../img/tl_arrow_2x.png);
    background-size: 6px 11px;
  }
  .tl_main_download_desktop {
    background-image: url(../img/SiteDesktop_2x.jpg?1);
    background-size: 1246px 260px;
  }
  .icon-android,
  .icon-ios,
  .icon-wp {
    background-image: url(../img/SiteLogos_2x.png);
    background-size: 21px 120px;
  }

  .tl_main_download_link_android {
    background-image: url(../img/SiteAndroid_2x.jpg?1);
    background-size: 290px 270px;
  }
  .tl_main_download_link_ios {
    background-image: url(../img/SiteiOs_2x.jpg?1);
    background-size: 442px 270px;
  }
  .tl_main_download_link_wp {
    background-image: url(../img/SiteWP_2x.jpg?2);
    background-size: 296px 270px;
  }
  .tl_main_download_link_tdesktop {
    background-image: url(../img/SiteTDesktop_2x.jpg);
    background-size: 320px 157px;
  }

  #dev_page_content > ul:not(.nav) li {
    background-image: url(../img/bullet_2x.png?2);
    background-size: 7px 7px;
  }

  i.tl_telegram_share_icon {
    background: url(/img/share_logo_2x.png) 0 0 no-repeat;
    background-size: 22px 22px;
  }

  .tgme_logo {
    background: url(/img/tgme/Logo_2x.png) 0 0 no-repeat;
    background-size: 122px 28px;
  }
  .tgme_icon_arrow {
    background-image: url(/img/tgme/Arrow_2x.png);
  }
  .tgme_icon_user {
    background-image: url(/img/tgme/Web2x.png?1);
    background-size: 44px 177px;
  }
  .tgme_icon_group {
    background-image: url(/img/tgme/Web2x.png?1);
    background-size: 44px 177px;
  }
  .tgme_icon_stickers {
    background-image: url(/img/tgme/Web2x.png?1);
    background-size: 44px 177px;
  }

  .tlb_blog_logo {
    background-image: url(/img/blog/BlogLogo2x.png);
    background-size: 144px 24px;
  }
}

@media (max-width: 1200px) {
  .dev_side_nav_wrap {
    display: none;
  }
}

/* Mobile */
@media (max-width: 1000px) {
  a.anchor {
    margin-left: -19px;
  }
  .footer_wrap {
    padding: 16px 0 16px;
  }
  .footer_desktop {
    display: none;
  }
  .footer_mobile {
    display: block;
  }
  .footer_columns_wrap {
    text-align: center;
    padding: 0;
  }
  .footer_column {
    display: inline-block;
    float: none;
    width: auto;
    padding: 0 8px;
  }
  .footer_column h5 {
    color: #08c;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
  }

  .blog_side_image_wrap {
    position: static;
  }
  .blog_side_image {
    display: block;
    margin: 20px auto;
    width: 160px;
    height: 160px;
    position: static;
  }

  .tl_blog_side_blog {
    display: none;
  }
  .tl_blog_bottom_blog {
    display: block;
  }
  .tl_main_side_blog .side_blog_wrap {
    position: static;
    margin: 22px 0 0 16px;
    padding: 0 10px 0 15px;
    border-width: 4px;
    border-color: #3faee8;
  }
  .side_blog_wrap {
    width: auto;
  }

  .tl_main_side_blog .side_blog_header {
    font-size: 14px;
  }
  .tl_main_side_blog a.side_blog_entry {
    margin-top: 12px;
  }
  .tl_main_side_blog .side_blog_date {
    color: #444;
    font-size: 13px;
  }
  .tl_main_side_blog .side_blog_title {
    font-size: 14px;
    margin-top: 2px;
  }

}

@media (max-width: 640px) {
  a:hover {
    text-decoration: none;
  }
  h1 {
    font-size: 19px;
  }
  h2 {
    font-size: 19px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
  .dropdown-menu {
    min-width: 210px;
  }
  .dropdown-menu > li > a {
    white-space: normal;
  }
  .tl_main_body {
    margin-top: 25px;
    padding-top: 5px;
  }
  .tl_main_body_header {
    font-size: 20px;
  }
  .tl_main_download_link {
    width: auto;
    min-width: 0;
    display: block;
    padding-top: 165px;
    margin-top: 20px;
    margin-bottom: 30px;
    height: 190px;
  }
  .tl_main_download_link .icon {
    display: none;
  }
  .tl_main_download_link_android {
    background-size: 196px 183px;
  }
  .tl_main_download_link_ios {
    background-size: 300px 183px;
  }
  .tl_main_download_link_wp {
    background-size: 201px 167px;
    background-position: 50% 14px;
  }
  .tl_main_download_link_tdesktop {
    display: block;
    padding-top: 156px;
    height: 188px;
  }
  .tl_main_download_desktop_section {
    display: none;
  }
  .tl_main_download_more_btn {
    display: inline-block;
  }

  .dev_page_bread_crumbs .breadcrumb {
    margin-bottom: 15px;
  }
  #dev_page_content_wrap {
    padding-top: 12px;
  }
  #dev_page_title {
    margin-top: 10px;
    margin-bottom: 21px;
  }
  .nav-pills > li > a {
    padding: 8px 10px;
  }
  .dev_lang_select {
    margin-top: 1px;
    margin-right: -4px;
    width: auto;
  }
  .dev_lang_select .dropdown-toggle {
    padding-left: 16px;
  }
  .dev_page_nav_wrap {
    margin-top: 25px;
  }
  .dev_page_nav_wrap > p {
    margin-bottom: 3.5px;
  }
  .dev_page_nav_wrap > p > a:first-child {
    font-size: 15px;
  }
  #dev_page_content .dev_page_nav_wrap ul li {
    padding: 3px 0 4px;
  }
  #dev_page_content .dev_page_nav_wrap ul li a:first-child {
    font-size: 14px;
    display: inline-block;
    line-height: 22px;
    padding: 2px 6px 1px;
    margin-left: -6px;
  }
  #dev_page_content .dev_page_nav_wrap ul li a:first-child:hover {
    border-radius: 2px;
    background: #e6f1f7;
  }
  #dev_page_content .dev_page_nav_wrap hr {
    display: none;
  }
  .dev_faq_page h4 {
    font-size: 15px;
    line-height: 140%;
    margin-top: 26px;
    margin-bottom: 5px;
  }
  .dev_page_image,
  .tl_contest_page_wrap .dev_page_image {
    max-width: 100%;
    max-height: 400px;
    margin: 0 auto;
  }
  .dev_page_image img,
  .tl_contest_page_wrap .dev_page_image img {
    max-width: 100%;
    max-height: 400px;
  }

  .tl_main_download_link:hover,
  .tl_main_download_desktop_link:hover {
    box-shadow: none;
  }

  .dev_side_image {
    width: auto;
    max-width: none;
    float: none;
    text-align: center;
    padding: 0;
  }
  .dev_side_image img {
    display: block;
    margin: 20px auto;
    width: 180px;
  }
}

@media (max-width: 480px) {
  .navbar-tg .container {
    padding: 0;
  }
  a.anchor {
    margin-left: -19px;
  }
  .tl_main_award {
    display: none;
  }
  .tl_main_logo_wrap {
    padding-top: 10px;
    padding-bottom: 2px;
  }
  img.tl_main_logo {
    width: 85px;
    height: 85px;
  }
  .tl_main_logo_title,
  .tl_main_logo_title:hover {
    font-size: 23px;
    margin-top: 15px;
    margin-bottom: 5px;
    letter-spacing: -1px;
  }
  .tl_main_logo_lead {
    font-size: 16px;
    max-width: 224px;
  }

  .tl_main_head_download {
    margin-bottom: 10px;
  }
  .tl_main_download_btn {
    max-width: 200px;
    width: auto;
    padding: 6px 9px;
    line-height: 20px;
    font-size: 13px;
    margin: 5px 10px;
  }

  .tl_main_cards {
    margin-top: 10px;
  }

  .tl_main_card_header {
    margin: 10px 0 6px;
    font-size: 21px;
    font-weight: normal;
    letter-spacing: -1px;
  }

  .tl_main_card_lead {
    font-size: 15px;
  }
  .smartphone_video_player_wrap {
    /*display: none;*/
  }

  .td_content_wrap {
    width: 320px;
    font-size: 14px;
  }
  .td_download_wrap,
  .td_download_wrap_low {
    margin: 0 auto;
    width: 320px;
  }
  .td_download_wrap_low {
    margin-bottom: 30px;
  }
  .td_download_add_wrap {
    width: 320px;
    margin: 0 auto 10px;
  }
  #td_about_osx {
    width: 320px;
    font-size: 16px;
  }
  .td_about_osx_team {
    display: none;
  }
  .td_about_license {
    font-size: 12px;
  }


  /* Telegram.me */
  .tgme_head_wrap {
    background: #FFF;
    height: 60px;
    padding: 16px 18px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  a.tgme_head_dl_button {
    display: block;
  }
  .tgme_page {
    margin-top: 52px;
  }
  .tgme_icon_user {
    width: 30px;
    height: 30px;
    background: url(/img/tgme/Mobile1x.png?1) -2px -31px no-repeat;
    background-size: 33px 148px;
  }
  .tgme_icon_group {
    width: 32px;
    height: 18px;
    background: url(/img/tgme/Mobile1x.png?1) 0 0 no-repeat;
    background-size: 33px 148px;
  }
  .tgme_icon_stickers {
    width: 28px;
    height: 28px;
    background: url(/img/tgme/Mobile1x.png?1) -2px -70px no-repeat;
    background-size: 33px 148px;
  }
  .tgme_icon_share {
    width: 31px;
    height: 17px;
    background: url(/img/tgme/Mobile1x.png?1) 0 -108px no-repeat;
    background-size: 33px 148px;
  }

  .tgme_footer {
    display: none;
  }

  .blog_2images_wrap,
  .blog_3images_wrap,
  .blog_image_wrap,
  .blog_image_wrap img {
    width: auto;
    max-width: 185px;
  }
  .blog_2images_wrap,
  .blog_3images_wrap {
    margin: 20px auto 20px;
  }
  .blog_2images_wrap .blog_image_wrap,
  .blog_3images_wrap .blog_image_wrap {
    float: none;
    margin: 20px 0 20px;
  }
}

.tl_contest_page_wrap + .pager_wrap {
  max-width: 600px;
  margin: 0 auto;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 480px), only screen and (-o-min-device-pixel-ratio: 3/2) and (max-width: 480px), only screen and (min--moz-device-pixel-ratio: 1.5) and (max-width: 480px), only screen and (min-device-pixel-ratio: 1.5) and (max-width: 480px) {

  .tgme_icon_user,
  .tgme_icon_group,
  .tgme_icon_stickers {
    background-image: url(/img/tgme/Mobile2x.png?1);
  }
}
