
/************************************************************************************
Slidebars 結構
*************************************************************************************/

/* ----------------------------
 * 001 - Box Model, Html & Body
 */

html, body, #sb-site, .sb-slidebar {
	/* Set box model to prevent any user added margins or paddings from altering the widths or heights. */
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html, body {
	width: 100%;
	overflow-x: hidden; /* Stops horizontal scrolling. */
}

html {
	height: 100%; /* Site is as tall as device. */
}

body {
	min-height: 100%;
	height: auto;
	position: relative; /* Required for static Slidebars to function properly. */
}

html.sb-scroll-lock.sb-active:not(.sb-static) {
	overflow: hidden; /* Prevent site from scrolling when a Slidebar is open, except when static Slidebars are only available. */
}

b {
	font-weight: bolder; color:#111;
}

.clear{ clear:both;}

/* ----------
 * 002 - Site
 */

#sb-site {
	/* You may now use class .sb-site-container instead of #sb-site and use your own id. However please make sure you don't set any of the following styles any differently on your id. */
	width: 100%;
	position: relative;
	z-index: 0; /* Site sits above Slidebars */
	background-color: #eee; /* Default background colour, overwrite this with your own css. I suggest moving your html or body background styling here. Making this transparent will allow the Slidebars beneath to be visible. */
}

/* ---------------
 * 003 - Slidebars
 */

.sb-slidebar {
	height: 100%;
	overflow-y: auto; /* Enable vertical scrolling on Slidebars when needed. */
	position: fixed;
	top: 0;
	z-index: 0; /* Slidebars sit behind sb-site. */
	display: none; /* Initially hide the Slidebars. Changed from visibility to display to allow -webkit-overflow-scrolling. */
	background-color: #222222; /* Default Slidebars background colour, overwrite this with your own css. */
	-webkit-transform: translate(0px); /* Fixes issues with translated and z-indexed elements on iOS 7. */
}


.sb-right {
	right: 0; /* Set Slidebar to the right. */
}

.sb-static .sb-slidebar,
.sb-slidebar.sb-static {
	position: absolute; /* Makes Slidebars scroll naturally with the site, and unfixes them for Android Browser < 3 and iOS < 5. */
}

.sb-slidebar.sb-active {
	display: block; /* Makes Slidebars visibile when open. Changed from visibility to display to allow -webkit-overflow-scrolling. */
}

.sb-style-overlay {
	z-index: 99999; /* Set z-index high to ensure it overlays any other site elements. */
}

.sb-momentum-scrolling {
	-webkit-overflow-scrolling: touch; /* Adds native momentum scrolling for iOS & Android devices. */
}

/* Slidebar widths for browsers/devices that don't support media queries. */
	.sb-slidebar {
		width: 30%;
	}
	
	.sb-width-thin {
		width: 15%;
	}
	
	.sb-width-wide {
		width: 45%;
	}


/* ---------------
 * 004 - Animation
 */

.sb-slide, #sb-site, .sb-slidebar {
	-webkit-transition: -webkit-transform 400ms ease;
	   -moz-transition: -moz-transform 400ms ease;
	     -o-transition: -o-transform 400ms ease;
	        transition: transform 400ms ease;
	-webkit-transition-property: -webkit-transform, left, right; /* Add left/right for Android < 4.4. */
	-webkit-backface-visibility: hidden; /* Prevents flickering. This is non essential, and you may remove it if your having problems with fixed background images in Chrome. */
}

/* --------------------
 * 005 - Helper Classes
 */
 
.sb-hide { 
	display: none; /* Optionally applied to control classes when Slidebars is disabled over a certain width. */
}

#sb-site {
	padding: 15px 0 0 0;
}

.sb-slidebar {
	padding: 15px;
}

.sb-active #sb-site, .sb-toggle-left, .sb-toggle-right, .sb-open-left, .sb-open-right, .sb-close {
	cursor: pointer;
}

.topthree{display:none;float:left; }

.topthree ol li{float:left; clear:none; margin-right:15px;}
/*.topthree ol li:hover{color:#FFA200;}*/

.topthree ol li a{color:#111;}
.topthree ol li a:hover{
	background-color:#ffde2e}

/* Fixed position examples */
#sb-site.top-padding {
	padding-top: 80px; 
	overflow: hidden;
}

#fixed-top {
	position: fixed;
	top: 0; right: 0;
	width: 100%;
	height: 60px;
	background-color:#FFF;
	z-index: 99999;
	filter: Alpha(Opacity= 95);
	-moz-opacity:0.95; 
	opacity: 0.95; 
}


#fixed-top .sb-toggle-right {
	float: right;
	color: #000;
	padding: 20px 5px 15px 15px;
}



/* openNav Button */
.openNav { 	
  width: 34px;
  height: 28px;
  top: -5px;
  left: 0;
  position: relative; 
  text-decoration: none;
/*  -moz-border-radius: 4px;
  border-radius: 4px; */
  background-color: #FFF;
/*  border:#CCC 1px solid;*/
  
 
  float:left;
  
}
.openNav:hover {	
  color: #b2b2b2 ;
  background:#f0f0f0;
  cursor: pointer;
}

.openNav .icon {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #888;
  margin: 13px 7px;
}
.openNav .icon:before,
.openNav .icon:after {
  background-color: #888;
  position: absolute;
  content: "";
  width: 20px;
  height: 2px;

}
.openNav .icon:before {
  top: -7px;
}
.openNav .icon:after {
  top: 7px;
}

/** top logo **/
#top{		
   position: relative;
   margin: 0 auto;
}

.logo {	
   padding: 8px 0 0 10px;
   position: absolute; 
   float: left;
   width:120px; 
}


/** 右側選單 **/
#cd-lateral-nav {
  position:absolute;

  height: 100%;
  right: 0;
  top: 0;
  /* the secondary navigation is covered by the main element */
  z-index: 1;
  width: 100%;
  overflow-y: auto; 
}

#cd-lateral-nav li{
  

}

#cd-lateral-nav a{
  display: block;  
  color: #aab5b7;
  padding: 15px 10px 15px 10px;  /* 欄等高設定 */ 
  font-size: 1em;  /* 字級相同設定 */
}

#cd-lateral-nav a:hover {
  color: #FFF;
}

.home-box {
  display: block;
  padding: 15px 12px 8px 13px;
  font-size: 1.2em; 
  color: #fff;

  }
.home-box a{
  display: block;
  padding: 15px 10px 15px 10px;  /* 欄等高設定 */ 
  color: #fff;
  cursor: pointer;
}
.home-box:hover{
  display: block;
  filter: Alpha(Opacity= 70);
  -moz-opacity:0.7; 
  opacity: 0.7;  
}  
.home-box .menu-close {
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/nav_close.png) center center no-repeat;
}
.cd-navigation {

}
.sub-menu {
  display: none;
  font-size: 0.9em; 
  color: #FFF; 
}

.sub-menu a{
  display: block;
  padding: 22px;
  color: #FFF;
  -webkit-transition:  background 0.3s ease-in-out;
  -moz-transition:  background 0.3s ease-in-out;
  -ms-transition:  background 0.3s ease-in-out;
  -o-transition:  background 0.3s ease-in-out;
  transition:  background 0.3s ease-in-out;  
}

.sub-menu li a:hover, .sub-menu li a.current {
  background: #333;

}

.no-touch #cd-lateral-nav a:hover {
  color: #FFF;
}

/* style menu items which have no submenu  */
#cd-lateral-nav .item-no-children{ 
  margin: 0 15px;
  border-bottom:1px solid #333;
  font-weight:bold;
}
/* style menu items which have a submenu  */
#cd-lateral-nav .item-has-children{ 
  margin: 0 15px;
  border-bottom:1px solid #333;
}
  
#cd-lateral-nav .item-has-children > a {
  position: relative;
  font-weight: 600;
  /* this is the right arrow to show that the item has a submenu  */
}
#cd-lateral-nav .item-has-children > a::after {
  content: '';
  display: block;
  height: 11px;
  width: 8px;
  position: absolute;
  top: 50%;  right: 0.5em; 
  margin-left: 1em;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  background: url("../images/cd-arrow.svg") no-repeat center center;
  background-size: 8px 11px;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
#cd-lateral-nav .item-has-children > a.submenu-open::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
  -moz-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  -o-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}


/** 右側搜尋列 **/
#search-box{
  position: relative;
  margin: 10px 10px 5px 10px;
}

#search-form {
  height: 40px;
  border: 0;
  background-color: #f2f2f2;
  overflow: hidden;
}

#search-text {
  font-size: 0.9em; 
  color: #222;
  border-width: 0;
  background: transparent;
}

#search-box input[type="text"]{   
  position: absolute; 
  width: 97%; 
  padding: 11px 0 12px 0.4em;
  color: #333;
  outline: none;
}

#search-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: url(../images/nav_search.png) center center no-repeat;
  font-size: 0.9em;
  color: #fff;
  text-align: center;
  border-width: 0;
  background-color: #999;
  cursor: pointer;
  -webkit-transition:  background 0.3s ease-in-out;
  -moz-transition:  background 0.3s ease-in-out;
  -ms-transition:  background 0.3s ease-in-out;
  -o-transition:  background 0.3s ease-in-out;
  transition:  background 0.3s ease-in-out;
}

#search-button:hover {
  color: #aab5b7;
  background-color: #333;
}



/** 右側TopMaker **/
#topmaker-box {
  color: #fff;	
  padding: 0 15px;
}
#topmaker-box ul {

}
#topmaker-box li a{
  color: #fff;	
  background-color: #333;
  -webkit-transition:  background 0.3s ease-in-out;
  -moz-transition:  background 0.3s ease-in-out;
  -ms-transition:  background 0.3s ease-in-out;
  -o-transition:  background 0.3s ease-in-out;
  transition:  background 0.3s ease-in-out;
}

#topmaker-box li a:hover{
  color: #aab5b7;
  background-color: #444;
}
.line {
  border-bottom:1px solid #222;
}

/** 右側服務功能 **/
#project-box {
  color: #7b7b7b;	
  margin: 15px 0;
}

#project-box a{ 
  color: #7b7b7b; 
}

#project-box a:hover{ 
  color: #aab5b7;
}

#project-box img{ width: auto; height: 100%; }

/************************************************************************************
影音區塊 結構
*************************************************************************************/
/** Promo **/

.promo {
   position:relative;  
   background-color: #FFF;
   margin-bottom: 20px;
   padding: 0px;
   cursor: pointer; 
   display: block;  
   min-height: 210px; 	
}

/** 每個topic的高 **/	
.height {
   height: 470px; 	
}

.promo a{
    color: #111;  
    max-height: 225px;
    overflow: hidden;
    display: block;
}
@media screen and (min-width: 325px) and (max-width: 400px){
.promo a { max-height: 265px;}
}
@media screen and (min-width: 401px) and (max-width: 640px){
.promo a { max-height: 294px;}
}

.promo:hover a{
	background-color:#ffde2e;  
}


.promo-title {
	letter-spacing:1px;	
    font-family:  "微軟正黑體", "標楷體", "新細明體", Arial, Helvetica, sans-serif;
    font-size: 24px; line-height: 32px;
    color: #333;
    margin: 15px 20px 10px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.promo-box {
  position: relative;  

}

.promo-time {
	display:none;
	position: absolute;
	bottom: 0; right: 0;
    background-color: #000;
    font-family: Arial, sans-serif, Helvetica, "微軟正黑體", "標楷體", "細明體";
	font-size: 11px; 
    color: #fff;      
    padding: 4px; margin: 0;
	filter: Alpha(Opacity= 70);
	-moz-opacity:0.7; /* Moz FF 透明度%*/
	opacity: 0.7; /* 支持CSS3的瀏覽器（FF 1.5也支持）透明度%*/
}
.promo-time span{
    -webkit-transform:scale(0.91); display:inline-block;
}

.promo p {  
    font-family:  "微軟正黑體", "標楷體", "新細明體", Arial, Helvetica, sans-serif;
    font-size: 15px; line-height: 22px;
    color: #999;
    margin: 0px 20px 15px;
	vertical-align: top;
}

/** Promo1 **/

.promo1 {
	position: relative;
	height: 420px;
    margin-bottom: 20px;
    padding: 15 5px;
    cursor: pointer; 
    display: block;
	background-color:#fff;
}

.promo1 a{
    color: #333;  
}

.promo1 a:hover{  
   display: block;	
   color: #ffcc00;
}

.promo1 p {  
    font-family:  "微軟正黑體", "標楷體", "新細明體", Arial, Helvetica, sans-serif;
    font-size: 15px; line-height: 22px;
    color: #666;
    margin: 0 15px; 
/*	padding-bottom: 48px;*/
	vertical-align: top;
	
}

/** 5 item **/
.hot {
	position: absolute;  
	bottom: -4px; left: 20px;

}

.new {
	position: absolute;  
	bottom: -4px; left: 20px;

}

.list{
	position: absolute;  
	bottom: -4px; left: 20px;

}

.quiz{
	position: absolute;  
	bottom: -4px; left: 20px;

}

.watched {
	position: absolute;
	top: 0px; right: 0px;


}

/** social-info **/
.social{
	position: absolute;
    bottom: 0px;
    width: 100%; height: 20px;
    font-family: Arial, sans-serif, Helvetica, "微軟正黑體", "標楷體", "細明體";
    font-size: 12px;
    color: #999;
    margin: 15px 0px;
}

.promo-social-icons ul{
  	display: inline-block; 
}
.promo-social-icons li{
	width: 25%;
	float: left;
  	display: block;
	text-align:center;
}

.promo-social-icons span {
	margin-left: 10px;
}
	
.pv-info{
	background: url(../images/promo-social-icons.png) no-repeat 0px 0px;
	height: 20px; 
}
.soc-info{
	background: url(../images/promo-social-icons.png) no-repeat 0px -21px;
	height: 20px; 
}
.comment-info{
	background: url(../images/promo-social-icons.png) no-repeat 0px -42px;
	height: 20px; 
}

day-info {
	width: 100%; 
	float: right;
}

/*#gotop{display:none;}*/


/*Smooth Page Scroll to Top */
.scrollup {
	width: 40px;
	height: 50px;
	text-indent: -9999px;
	opacity: 0.85;
	position: fixed;
	bottom: 35px;
	right: 5%;
	display: none;
	background: url(../images/icon_top.png) no-repeat center top #000;
	z-index:999999;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}


/** for sb-slidebar **/
@media (max-width: 480px) { /* Slidebar widths on extra small screens. */
    /** 右側選單滑出區塊 **/
	.sb-slidebar {
		width: 70%;
	}
	
	.sb-width-thin {
		width: 55%;
	}
	
	.sb-width-wide {
		width: 85%;
	}
	.rg-image{	
	    display:table-cell; vertical-align:middle; text-align:center;
	}
	.height {
   height: 420px; 	
}

}

/** for sb-slidebar **/
@media (min-width: 481px) { /* Slidebar widths on small screens. */

    /** 右側選單滑出區塊 **/
	.sb-slidebar {
		width: 55%;
	}
	
	.sb-width-thin {
		width: 40%;
	}
	
	.sb-width-wide {
		width: 70%;
	}
		

}
/*句式只在viewport 寬度374px-376px才生效*/
@media only screen and (min-device-width: 374px) and (max-device-width: 376px){ 
.height {
      height: 450px;
   }
}
/*句式只在viewport 寬度413px-415px才生效*/
@media only screen and (min-device-width: 413px) and (max-device-width: 415px) { 
.height {
      height: 470px;
   }
}


/*句式只在viewport 寬度不小於600px才生效*/
@media screen and (min-width: 600px) {

#top {		
  width: 100%;
} 

    /** 右側選單滑出區塊 **/
	.sb-slidebar {
		width: 45%;
	}
	
	.sb-width-thin {
		width: 30%;
	}
	
	.sb-width-wide {
		width: 60%;
	}
	
   .topthree{display:block;}


   /** 每個topic的高 **/	
   .height {
      height: 425px;
   }


/** 相簿幻燈片 **/
.rg-image{
    width: auto;
	height: 450px; 
}

.rg-image img{position: absolute;}	


}


/*句式只在viewport 寬度不小於750px才生效*/
@media screen and (min-width: 750px) {

#top {		
  width: 100%;

} 
    /** 右側選單滑出區塊 **/
	.sb-slidebar {
		width: 30%;
	}
	
	.sb-width-thin {
		width: 15%;
	}
	
	.sb-width-wide {
		width: 45%;
	}

	#search-box input[type="text"]{   
  	width: 97.1%; 
	}
	

   /** 每個topic的高 **/	
   .height {
      height: 415px;
   }	

}


@media screen and (min-width: 751px) and (max-width: 959px){

   /** 每個topic的高 **/	
   .height {
      height: 435px;
   }

}


/*句式只在viewport 寬度不小於960px才生效*/
@media screen and (min-width: 960px) {
	 
#top {		
  width: 1002px;

}
    /** 右側選單滑出區塊 **/
	.sb-slidebar {
		width: 25%;
	}
	
	.sb-width-thin {
		width: 10%;
	}
	
	.sb-width-wide {
		width: 40%;
	}
	
	#search-box input[type="text"]{   
		width: 97.5%; 
	}
		


       .logo {
		padding-left:0px;
	}
   /** 每個topic的高 **/	
   .height {
      height: 405px;
   }
}



/*句式只在viewport 寬度不小於1440px才生效*/
@media screen and (min-width: 1440px) {
#top {		
  width: 1002px;
} 

	.sb-slidebar {
		width: 16%;
	}
	
	.sb-width-thin {
		width: 6%;
	}
	
	.sb-width-wide {
		width: 30%;
	}

	#search-box input[type="text"]{   
  	width: 97.5%; 
	}

#gotop{display:block;}

}
