﻿/* Import other css */
@import url('header.css');
@import url('footer.css');
@import url('reset.css');



@charset "utf-8";
/* CSS Document */

/*--------------------------------------reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, /*p,*/ blockquote, pre,
/*a,*/ abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;

	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* outline-off */
  a {	outline: none; /* for Firefox Google Chrome  */
	behavior:expression(this.onFocus=this.blur()); /* for IE */
	}

	a:link {text-decoration: none; }
 	a:visited {text-decoration: none; }
	a:hover {text-decoration: none; }
	a:active {text-decoration: none; } 


/* GENERAL ------------------------------------------------------------*/



.clearfix:after,
.clearfix:before {
	content:"";
    display:table;
}   
    
.clearfix:after {
	clear:both;
}

.clearfix {
    zoom:1;
}




/*这行代码对于大多数嵌入网页的图片+视频有效，所以可以写成*/
img, object { max-width: 100%; border:0;}

/*老版本的IE不支持max-width，所以只好写成*/
img { width: 100%; border:0;}
img { -ms-interpolation-mode: bicubic; border:0;}


/************************************************************************************
STRUCTURE 結構
*************************************************************************************/


@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);


body {
	font-family: "微軟正黑體", "Microsoft JhengHei", "PMingLiU", "新細明體", "MingLiU", "標楷體", "DFKai-sb", Arial, Helvetica, FreeSans, sans-serif;
	padding: 0px;
	margin:0 auto;	
	margin-left: 0px;
	margin-right: 0px;
	background-color: #ececec;
}


/** H1-H6 **/

h1, h2, h3, h4, h5, h6 {
    font-family: "微軟正黑體", "標楷體", "新細明體", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 26px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 22px;
}




/************************************************************************************
影音 結構
*************************************************************************************/

#container {	
  	padding-right: 10px; padding-left: 10px; margin-right: auto; margin-left: auto;

}

#container-fluid {
	padding-right: 10px; padding-left: 10px; margin-right: auto; margin-left: auto;
}


.row { 	
  margin-right: -10px;
  margin-left: -10px;
}


/** topic **/

.col-md-3 {
  width: 100%; height: auto;
  min-height: 1px; 
  float: left;
}


/************************************************************************************
loading
*************************************************************************************/
#loading-box {  

}
#loading {
position: relative;
bottom: 0px;
  margin-left: 50%;
  margin-right: 50%;	
  text-align:center;	
  padding: 15px;
　height: 100px;
}
.videoplayY {
    
    position: absolute;
   display: block;
   background: url(/images/videoplay.png);
   height: 50px;
   width: 72px;
   top: 87px;
   left: 123px;
  
    z-index: 88;

}
.videoplay {
    
    position: absolute;
   display: block;
   background: url(/images/videoplay.png) center center no-repeat;
   height: 64px;
   width: 64px; 
    top: 50%;
   left: 50%; 
    margin-top: -32px;
  margin-left: -32px;
    z-index: 88;
    opacity: 0.9;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('/images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}
.snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
    color: #FFFFFF;
    user-select: none;
    z-index: 1000;
}
.snowflake:hover {
    cursor: default;
}