﻿/* Import other css */
@import url('header.css');
@import url('elastislide.css');
@import url('footer.css');
@import url('reset.css');

body {
	font-size: 1em ;
	font-family:Arial, "微軟正黑體", "Microsoft JhengHei", "新細明體", Helvetica, sans-serif;
	background-color:#ececec;
	color: #111;
	margin:0 auto;
	line-height:1.4em;
}
a {text-decoration: none;cursor:pointer;}
ul, li {list-style-type:none;}

a:hover {text-decoration: none;}
h1 {display: none;}
h2 {
	margin:10px 0px 15px;
	color:#111;
	font-size: 1.875em;
	line-height:1.2em;
	letter-spacing:1px;
}
h3 {
	margin:0 0 10px 0;
	font-size: 1.4em;
	line-height:1.7em;
	font-weight:600;
}
.text-orange{color:#ffa200;}
/*.button-orange{
	color:#fff; 
	background-color:#ffa200;
	font-size: .875em ; 
	padding:5px 20px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	cursor: pointer; 
}*/

.button-orange {
	-moz-box-shadow:inset 0px 1px 0px 0px #fffce8;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fffce8;
	box-shadow:inset 0px 1px 0px 0px #fffce8;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffa200), color-stop(1, #ff8c00) );
	background:-moz-linear-gradient( center top, #ffa200 5%, #ff8c00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa200', endColorstr='#ff8c00');
	background-color:#ffa200;
	-webkit-border-top-left-radius:2px;
	-moz-border-radius-topleft:2px;
	border-top-left-radius:2px;
	-webkit-border-top-right-radius:2px;
	-moz-border-radius-topright:2px;
	border-top-right-radius:2px;
	-webkit-border-bottom-right-radius:2px;
	-moz-border-radius-bottomright:2px;
	border-bottom-right-radius:2px;
	-webkit-border-bottom-left-radius:2px;
	-moz-border-radius-bottomleft:2px;
	border-bottom-left-radius:2px;
	text-indent:0px;
	display:inline-block;
	color:#ffffff;
	font-size: .875em ;
	font-weight:normal;
	font-style:normal;
	padding:5px 20px;
	
	text-decoration:none;
	text-align:center;
}
.button-orange:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff8c00), color-stop(1, #ffa200) );
	background:-moz-linear-gradient( center top, #ff8c00 5%, #ffa200 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8c00', endColorstr='#ffa200');
	background-color:#ff8c00;
}.button-orange:active {
	position:relative;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */



/*.button-gray{
	color:#fff; 
	background-color:#666;
	font-size: .875em ; 
	padding:5px 10px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	cursor: pointer; 
}*/

.button-gray {
	-moz-box-shadow:inset 0px 1px 0px 0px #b3b3b3;
	-webkit-box-shadow:inset 0px 1px 0px 0px #b3b3b3;
	box-shadow:inset 0px 1px 0px 0px #b3b3b3;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #888), color-stop(1, #666) );
	background:-moz-linear-gradient( center top, #888 5%, #666 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#888', endColorstr='#666');
	background-color:#888;
	-webkit-border-top-left-radius:2px;
	-moz-border-radius-topleft:2px;
	border-top-left-radius:2px;
	-webkit-border-top-right-radius:2px;
	-moz-border-radius-topright:2px;
	border-top-right-radius:2px;
	-webkit-border-bottom-right-radius:2px;
	-moz-border-radius-bottomright:2px;
	border-bottom-right-radius:2px;
	-webkit-border-bottom-left-radius:2px;
	-moz-border-radius-bottomleft:2px;
	border-bottom-left-radius:2px;
	text-indent:0px;
	display:inline-block;
	color:#ffffff;
	
	font-weight:normal;
	font-style:normal;
	font-size: .875em ; 
	padding:5px 10px;
	text-decoration:none;
	text-align:center;
}
.button-gray:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #666), color-stop(1, #888) );
	background:-moz-linear-gradient( center top, #666 5%, #888 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#666', endColorstr='#888');
	background-color:#666;
}.button-gray:active {
	position:relative;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */


.iamhere{clear:both;}
/*图片的自适应（fluid image）*/

/*这行代码对于大多数嵌入网页的图片+视频有效，所以可以写成*/
img, object { max-width: 100%; border:0;}

/*老版本的IE不支持max-width，所以只好写成*/
img { width: 100%;
border:0;}
img { -ms-interpolation-mode: bicubic; border:0;}
/************************************************************************************
STRUCTURE 結構
*************************************************************************************/

#pagewrap {
	width: 100%;
	margin: 0 auto;
	position: relative;
}
#main {
	width: 100%;
	margin: 0 auto;
	position: relative;
	
}
#content-side{
	width: 95%;
    padding-left:2.5%;
	position: relative;
	float:left;
	
	word-wrap: break-word;/*英文左右齊行*/
    word-break: break-all;/*英文左右齊行*/
	
	
}
#recommend-topic{
	display:none;
}
#content{
	padding:20px;
	background-color:#fff;
	-moz-box-shadow:0px 0px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow:0px 0px 0px rgba(0,0,0,0.1);
    box-shadow:0px 0px 0px rgba(0,0,0,0.1);
	
}
.article img{
	width:auto;
}
.describe{
	font-size: 1.125em ;
	line-height:1.75em;
}
.social-box{
	border-top:1px solid #ccc;
}
.content-info{
	border-bottom:1px solid #ccc;
	color:#666;
	font-size: .85em ;
	line-height:1.75em;
	padding:2% 0;
}
.content-info img{
	width: auto;
	}
.date-box{display:inline;margin-right:15px;}
.date-pic{display:inline;}
.date-date{display:inline; vertical-align:super;}

.author-box{display:inline;margin-right:15px;}
.author-pic{display:inline;}
.author-name{display:inline; vertical-align:super; 
}
.fb-like{display:inline;margin-right:15px;vertical-align:super;}
.weibo-like{display:inline;margin-right:15px;vertical-align:super;}

/*social-network-reference*/
.social-network-reference{ width:70%;
padding:15px 0px 5px;
display:inline-block;
}
.social-network-reference ul li{ width:60px; float:left; margin-right:10px;}
.social-network-reference ul li a{
    display:block;
	width:100%;
	height:35px;
}
.social-network-reference  .sprite-01_o a{
	background: url("../images/socialmedia/facebook.png") no-repeat center center #3b5998;
}
.social-network-reference  .sprite-02_o a{
	background: url("../images/socialmedia/google-plus.png") no-repeat center center #c92228;
}
.social-network-reference  .sprite-03_o a{
	background: url("../images/socialmedia/line.png") no-repeat center center #00c400;
}
.social-network-reference  .sprite-04_o a{
	background: url("../images/socialmedia/link.png") no-repeat center center #333333;
}
.share-count{ 
   display:block;
   font-size: .75em ; 
   width:40px; 
   text-align:center;
   color:#999;
}


.subscribe{ 
	float:right; 
	/*margin:-15% 0 2.5% 0;  社群變兩排用*/
	margin-top:7%; 
}

/*主文章內容*/
.article p{
	font-size:1.125em;
	line-height:1.75em;
	padding:0.5em 0;
}

.article p img{
	vertical-align:bottom;
}
/*垂直圖片置中*/
/*.article .main-image{
	margin:0 auto;
     text-align: center;
     background: #ececec;
	 
}
.article .main-image img{
	max-width:100%;
	 max-height:100%;
	  width: auto;
	 height: auto;
	 vertical-align: middle;
	 text-align: center; 
	 
}	*/


.video-box{
	position:relative;
	}
.click-play img{
	width:auto;}
	
.click-play	{ z-index:2; position:absolute; margin-top:25%; margin-left:38%;}


.utube {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;

}
.utube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



/*series-select*/
.series-select{
	padding:2% 0;
	background-color:#fff;
	position:relative;
	margin-bottom:20px;
}

.series-select-box-area{
	position:relative;
	padding:0 35px;
	height:9.25em;
	overflow:hidden;
	}
.series-select-box-area .new{width: 40px;}
.series-select-box-area .hot{width: 40px;}
.series-select-box-area .list{width: 40px;}
.series-select-box-area .quiz{width: 40px;}
.series-select-box-area:before{  
    content: url(../images/pre.png);  
    position: absolute; 
	left:0;
	top:40%;
	cursor: pointer; 
	
}  
.series-select-box-area:after{  
    content: url(../images/next.png);
    position: absolute;  
	right:0;
	top:40%;
	cursor: pointer; 
}
.series {width:50%; float:left; }
.series .promo{margin-bottom:0;}
.series .promo-title{font-size:1em; line-height:1.3em;  margin:5px 0 ; }
.series .watched {top: 35%; left: 17%;	width:65%;}

/*相關影音related-topic */
.related-topic{
	background-color:#fff;
	position:relative;
	margin-bottom:0px;
}
.related-topic-title{
	color:#111;
	background-color:#ffde2e;
	text-align:center;
	padding:15px 0;
	font-size:1.25em;
	margin-bottom:20px;
	letter-spacing:1px;
}
.related {width:46%; height:280px; float:left; margin:auto; padding:0px 2% 3%;}
.related .promo{margin-bottom:1%;}
.related .promo-title{font-size:1.125em; line-height:1.3em;  margin:10px 0 ;}


/*留言*/
.discussion{margin-bottom:20px;background-color:#fff;}
.fb-discussion-title{
	color:#FFF;
	background-color:#4965b5;
	text-align:center;
	padding:15px 0;
	font-size:1.25em;
	width:100%;
	float:left;
	letter-spacing:1px;
	
}
.sinaweibo-discussion-title{
	color:#FFF;
	background-color:#e22020;
	text-align:center;
	padding:5px 0;
	font-size:1.25em;
	width:50%;
	float:right;
}
.discussion-line{
	border-top:#4965b5 solid 3px;/*藍*/
	/*border-top:#e22020 solid 3px;*//*紅*/
}

/* FB留言版 */
#comment-box.fbcomments, #comment-box.fb_iframe_widget, #comment-box.fb_iframe_widget[style], #comment-box.fb_iframe_widget iframe[style], #comment-box.fbcomments iframe[style], #comment-box.fb_iframe_widget span {
    width: 100% !important;
}

#pageshare{display:none;}



/*民調 OPINION */
.opinion{display:none;}


/*-----------------QUIZ-------------------------*/
.quiz-3, .quiz-2, .quiz-text {
	padding:2.5%;
	margin:2.5% 0;
	background-color: #ececec;
    color: #111;
	font-size:18px;
}
.col-3, .col-2, .col-1{
	background-color:#fff;
	margin:2%;
	padding:5px 2% 15px;
	width:92%;
	cursor:pointer;
}
.col-2{
	padding:1.5%;
}
@media screen and (-webkit-min-device-pixel-ratio:0){ .col-2{
	padding:2%;
} } 
/*.col-3:hover, .col-2:hover, .col-1:hover{background-color:#fffaac; color:#000;}*/

.hover{background-color:#ffde2e; color:#000;}


.check{background-color:#ffde2e;}
.nonecheck{  
  filter: Alpha(Opacity= 50);
  -moz-opacity:0.5; 
  opacity: 0.5;  
 }
 
/*垂直圖片置中*/
.quiz-image{
	 position:relative;
	line-height: 0px;
	text-align:center;
	 background: #ececec;
  vertical-align:middle;
	 
}
.quiz-image img{
	max-width:100%;
	max-height:100%;
    width: auto;
	height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
	
	 
}
 
.quiz-info, .quiz-info2 {
	padding-top:3%;
	font-size:.9375em;
} 
 
.checkboxbox {width: 12%;float:left;padding-top:15px;}
.checkboxdescrib {width: 88%; float:left;padding-top:15px;}
 
.resultbutton{
	width: 80%;
	margin: 10px auto;
	position: relative;}
	
.resultbutton .button-orange {
	display:block;
	color:#ffffff;
	font-size: 1.3em ;
	font-weight:normal;
	font-style:normal;
	padding:10px 20px;
	
	text-decoration:none;
	text-align:center;
}	
.resultbox{
/*	border:1px solid #f2f2f2;
	padding:2%;*/
}
.resulttext a{
	float:right;
	width:100px;
	font-weight:600;
	display:block;
	color:#111;
	margin:20px auto 10px;
	background:url("../images/refresh.png");
	background-repeat:no-repeat;
	background-position:left top;
	padding-left:20px;
	line-height:20px;
	opacity:0.7}
.resulttext a:hover{
	opacity:1}
.resultbox p{font-size:0.975em;}

.resultshare {
	width: 100%;
	margin-top:2%;
	border-top:1px solid #f2f2f2;
	position: relative;
	
}
.resultbox p{font-size:1.1em; padding:5px 0;}

.resultbox .social-network-reference{ float:left; padding: 0;}

	.fb-share, .google-share{
		cursor:pointer;
		letter-spacing:1px;
		color:#fff;
		text-align:center;
		font-size:18px;
		line-height:45px;
		height:45px;
		width:100%;
		margin-bottom:15px;
	}
	.fb-share img, .google-share img{
		width:auto;
		vertical-align:middle;
	}
	.fb-share{
		background-color:#4f67a4;
	}
	.google-share{
		background-color:#f63e28;
	}
	
/*------------------privacy-------------------------*/
#privacy-main {
	width: 90%;
	margin: 0 auto;
	position: relative;
	
}
#privacy-title{
	text-align:center;
	padding:2% 0;
}
#privacy-title h2{
	color:#333;
	font-size:1.5em;
    font-weight:normal;
}
#privacy-text{
	padding:5%;
	color:#333;
	background-color:#FFFFFF;
	font-size:1em;
}
.fw_bd {
font-weight: bold;
}
.pdb10 {
padding-bottom: 20px;
}
/*.pdl20 {
padding-left: 20px;
}*/
.ls_none, .ls_none li {
list-style: none;
}
#privacy-text h3{
	font-size:1.4em;
	color:#333;
}
/*------------------serielist-------------------------*/
.serielist{
	letter-spacing:1px;
	width:100%;}
.serielist a {
	font-size:15px;
	line-height:24px;
	margin-bottom:6px;
	display:block;
	color:#111;
}
.serielist ul a:hover{
	background-color:#ffde2e;
}

.moreseries {
	float:right;
	text-align:right;
	font-size:15px;
	font-weight:600;
	margin-top:0px;
	border-bottom:3px solid #fff;
}
.moreseries:hover{
	background-color:#fff;
	border-bottom:3px solid #ffde2e;
	background:none;
}
.serielist .plus{
	color:#ffde2e;
	font-size:20px;
	vertical-align:bottom
}

.serielist h2{
	font-weight:600;
	font-size:15px;
	line-height:30px;
	border-bottom:1px solid #d1d1d1;
}
.serielist h2 span{
	padding-bottom:4px;
	border-bottom:3px solid #ffde2e;
}
.serielist ul li .dot{
	width:3%;
	display:inline-block;
	vertical-align:top;
}
.serielist ul li p{
	width:97%;
	display:inline-block;
}
.serielist .moreserie{
	float:right;
	text-align:right;
	font-size:10px;
	line-height:20px;
	margin-top:3px;
	margin-bottom:0px;
	width:auto;
	border-bottom:3px solid #fff;
}
.serielist .moreserie:hover{
	border-bottom:3px solid #ffde2e;
	background:none;
}
/*------------------serielist-------------------------*/
/*------------------seriepage-------------------------*/
/*
.wrapper {
  max-width: 940px;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.wrapper--demo {
  overflow: visible;
  margin-top: 60px;
}

.wrapper--demo:after, .wrapper--demo:before {
  content: "";
  position: absolute;
  width: 800px;
  height: 100%;
  top: 0px;
  left: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 2;
}
.wrapper--demo:before {
  left: -800px;
}
*/

.wrapper {
  max-width: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.wrapper--demo {
  overflow: visible;
  margin-top: 30px;
}

.carousel {
  width: 100%;
  position: relative;
}
.carousel .carousel__content {
  width: auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transition: translate3d(0, 0, 0);
}
.carousel .carousel__content .item {
  display: block;
  float: left;
  width: 100%;
  position: relative;
}
.carousel .carousel__content .item .title {
  position: absolute;
  bottom:10%;
  left: 0px;
  margin:0;
  padding: 0;
  font-size: 50px;
  width: 100%;
  text-align: center;
  letter-spacing: 3px;
  color: #FFF;
}
#div_seriesList .title {
  position: absolute;
  bottom:15%;
  left: 0px;
  margin:0;
  padding: 0;
  font-size: 50px;
  width: 100%;
  text-align: center;
  letter-spacing: 3px;
  color: #FFF;
  z-index: 999;
}
.carousel .carousel__content .item .title--sub {
  margin-top: 20px;
  font-size: 1.2em;
  opacity: .5;
}
.carousel .carousel__content .item img {
  width: 100%;
  max-width: 100%;
  display: block;
}
.carousel .carousel__nav {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -17px;
  left: 0;
  z-index: 1;
}
.carousel .carousel__nav .nav {
  position: absolute;
  top: 0;
  color: #000;
  background: #FFF;
  padding: 8px 12px;
  font-weight: bold;
  text-decoration: none;
  font-style:24px;
  transition: padding .25s ease;
}
.carousel .carousel__nav .nav:hover {
  padding: 8px 20px;
}
.carousel .carousel__nav .nav--left {
  border-radius: 0px 3px 3px 0px;
}
.carousel .carousel__nav .nav--right {
  right: 0;
  border-radius: 3px 0px 0px 3px;
}
.serielist-art{
	width:1200px;
	margin:auto;
	margin-top:10px;}

/*------------------seriepage-------------------------*/
	
/* Note: Design for mobile*/

@media only screen and (max-width: 414px) {
/*social-network-reference*/
.social-network-reference{ width:57%;
padding:15px 3% 0px 0px;
display:inline-block;
}
.social-network-reference ul li{ width:25%; float:left; margin-right:0px;}

.socialmedia-box .social-network-reference{
	width:57%;
	padding:0px;}
.ebcbuzz-fanspage-like{
	float:left;
	margin-top:10px;
	}
.serielist ul li .dot{
	width:6%;
}
.serielist ul li p{
	width:94%;
}
.carousel .carousel__content .item .title {
  font-size: 32px;
}
.carousel .carousel__nav .nav {
  padding: 4px 6px;
}
.carousel .carousel__nav .nav:hover {
  padding: 4px 10px;
}
}
	
@media only screen and (max-width: 320px) {
/*social-network-reference*/
.social-network-reference{ width:50%;
}
.carousel .carousel__content .item .title {
  font-size: 24px;
}
}

/*------------------socialmedia-box1-------------------------*/
.socialmedia-box1{
	padding-top:50px;
	padding-bottom:20px;
	position:relative;}
.socialmedia-box1 .social-network-reference{
	width:100%;
	padding:0px;}
.ebcbuzz-fanspage-like{
	width:100%;
	margin-bottom:10px;
	}
.ebcbuzz-fanspage-like p{
	font-size:18px;
	font-weight:600;
	line-height:18px;
	color:#111;
	display:inline-block;
	vertical-align:bottom;
	margin-right:10px;
	}
.ebcbuzz-fanspage-like .fb-like{
	display:inline-block;
	vertical-align:bottom;
	margin-right: 10px;
	}
.ebcbuzz-fanspage-like .yt-like{
	width:128px;
	height:24px;
	display:inline-block;
	vertical-align:bottom;
	}
/*------------------socialmedia-box1-------------------------*/
	

/*social-network-reference1*/
.social-network-reference1{
clear:both;
width:100%;
padding:0px 0px 5px;
display:inline-block;
}
.social-network-reference1 ul li{ float:left; margin-bottom:10px;}
.social-network-reference1 ul li a{
    display:block;
	height:50px;
	line-height:52px;
	padding-left:35px;
	color:#fff;
	width:100%;
}
.social-network-reference1 .social-fb-share1{
	width:50%; 
	background: url("../images/socialmedia/facebook.png") no-repeat 12px center #3b5998;
}
.social-network-reference1 .social-line-share1{
	width:25%; 
	background: url("../images/socialmedia/line.png") no-repeat 12px center #00c400;
}
.social-network-reference1 .social-link-share1{
	width:25%; 
	background: url("../images/socialmedia/link.png") no-repeat 12px center #333333;
}

/* Note: Design for mobile*/

@media only screen and (max-width: 480px) {
/*social-network-reference*/
.social-network-reference1{ 
width:100%;
padding:15px 3% 0px 0px;
display:inline-block;
}
.social-network-reference1 ul li{ width:25%; float:left; margin-right:0px;}
.social-network-reference1 ul li a{ font-size:15px;}
.socialmedia-box1 .social-network-reference1{
	padding:0px;}
.serielist ul li .dot{
	width:6%;
}
.serielist ul li p{
	width:94%;
}
.social-network-reference1 .social-fb-share1{
	width:100%; 
}
.social-network-reference1 .social-line-share1{
	width:100%; 
}
.social-network-reference1 .social-link-share1{
	display:none;
}
.ebcbuzz-fanspage-like p{
	line-height:24px;
	margin-right:10px;
	margin-bottom:5px;
	}
.ebcbuzz-fanspage-like .fb-like{
	vertical-align:top;
	}
.ebcbuzz-fanspage-like .yt-like{
	vertical-align:top;
	}
}
	
@media only screen and (max-width: 413px) {
.serielist .morearticle{
	font-size:12px;
}
}

.article strong {
	font-weight: bold;
}