/* Page */
body,html,div,blockquote,img,label,p,h1,h2,h3,h4,h5,h6,pre,ul,ol,li,dl,dt,dd,form,a,fieldset,input,th,td{border:0;outline:none;margin:0;padding:0;}
ul{list-style:none;}

/* Demo Page Styles */
/*body {font: normal 13px Arial, sans-serif;}*/
h2 {font: normal 26px Arial, sans-serif; padding: 20px 0; margin: 0 0 30px 0;}
.wrap {width: 960px; margin: 0 auto;}
.demo-container {/*padding: 20px 0;*/ float: left;}
.demo-container.right {float: right;}
.demo-container h4 {font-size: 14px; margin: 0 0 5px 0;}
.clear {clear: both;}

/* Vertical Mega Menu Styles */
.mega-menu{
 
position: relative; /* Required */
}
.mega-menu li a {
display: block; 
color: #fff;      padding: 10px; /************/
}
.mega-menu li a:hover, .mega-menu li.mega-hover a {
background-color: #fff; 
color: #000; 
background-image:url(../../servicesite-default/images/homenav_li_bg_over.png) no-repeat;
border-top:1px solid #999;
border-bottom:1px solid #999;margin-left:-5px!important;z-index:200000;position:relative;
}
.mega-menu li a.dc-mega {
position: relative;
}


/* Mega menu container */
.mega-menu li .sub-container {
position: absolute; /* Required */
background-color: #fff;
border-top: solid 1px #999;
padding: 10px 10px 10px 10px; 
border-left: none;
border: solid 1px #999;
z-index:-1000;
top:41px;
padding-left:17px !important;
margin-right:4px;

}
.mega-menu li .sub-container .sub {}

.mega-menu li .sub .row {
width: 100%; overflow: hidden; /* Clear floats */
}
/****sub li**/
.mega-menu li .sub li {
float: none; 
width: 150px; 
background-image:none!important;
}
.mega-menu li .sub li.mega-hdr {
float: left; /* Required */
/*margin: 0 5px 10px 5px;
*/}
/********sub li a ********/

.mega-menu li .sub a, .mega-menu.left li .sub a {
background-image:none;border:none;text-transform:none;font-weight:normal ; padding-top:1px!important;padding-bottom:0!important;
font-size:90%;color:#666; 
}

/*******sub title**********/
.mega-menu li .sub li.mega-hdr a.mega-hdr-a {border-bottom:1px solid #999!important;color:#D73C00;font-weight:bold;font-size:110%;
margin-bottom:10px; height:25px;    padding-left:4px;
/******padding sub title********/
/*margin-left:-10px!important;*/

}
.mega-menu li .sub li.mega-hdr a.mega-hdr-a:hover {
color: #000; 
text-shadow: none;
}
.mega-menu .sub li.mega-hdr li a {
/*padding: 4px 5px 4px 20px; 
*//*background: url(images/arrow_white.png) no-repeat 5px 8px; 
*/font-weight: normal;
}
.mega-menu .sub li.mega-hdr li a:hover {
color: #a32403; 
/*background: #efefef url(images/arrow_on.png) no-repeat 5px 8px;
*/}
.mega-menu .sub ul li {
padding-right: 0;
}
/* Styling for menu items with only 2 levels */
.mega-menu li .sub-container.non-mega .sub {
padding: 10px;}
.mega-menu li .sub-container.non-mega li {
padding: 0; 
margin: 0;
width: 150px;
}
.mega-menu li .sub-container.non-mega li a {
padding: 7px 5px 7px 22px; 
background: url(images/arrow_white.png) no-repeat 7px 10px;
}
.mega-menu li .sub-container.non-mega li a:hover {
color:#C30;
}

.curve8{border-radius: 0px!important;
	-moz-border-radius: 0px!important;
	-webkit-border-radius:0px!important;
	behavior:none!important;}.mega-menu li{padding:0px;width:273px!important;}
	
#mega-4.mega-menu li.curve8 div.sub-container ul.sub div.row li.curve8 ul li.curve8 a{padding-left:5px!important;}	
	
=============================================card======================================================	
.premium-card{width:500px;padding-bottom:5px; border-bottom:1px solid #999;margin-bottom:13px;}
.premium-card a{font-weight:bold!important;color:#d73c00!important;font-size:110% !important;margin-top:5px!important;padding-left:5px!important;}
.card-request{width:555px;padding-bottom:5px; border-bottom:1px solid #999!important;margin-top:10px!important;margin-bottom:10px!important; font-size:14px!important;color:#333!important; font:Arial !important;margin-left:5px;}
.card-request-div a{font-size:14px!important;color:#333!important; font:Arial !important;}
.card-request-div{font-size:14px!important;color:#333!important; font:Arial !important;}
.nairacard-title a{background:none!important;margin-top:10px!important;font-weight:bold!important;height:25px;font-size:110%!important;color:#d73c00!important;/*padding:0!important;*/}

.premium{width:560px;padding-bottom:5px; border-bottom:1px solid #999!important;margin-bottom:10px;color:#D73C00!important;font-weight:bold!important;font-size:110%!important;height:0px;}

.none{float:none;}
.card1{background-image:url(../../servicesite-default/images/nav_card1.jpg);width:243px;height:148px;
background-repeat:no-repeat; float:left;padding-bottom:10px;}
.card2{background-image:url(../../servicesite-default/images/nav_card2.jpg);width:243px;height:148px;
background-repeat:no-repeat; float:left;padding-bottom:10px;}
.card3{background-image:url(../../servicesite-default/images/nav_card3.jpg);width:243px;height:148px;
background-repeat:no-repeat; float:left;padding-bottom:10px;margin-top:5px; }
.card-title{width:243px;height:20px;}
.card-title a{ background:none !important; border:none !important; text-transform:uppercase !important;/*font-size:110%!important;color:#000!important;font-weight:bold!important;*/}
.mastercard{clear:both;width:600px;}
.mleft{margin-left:40px;}
.oleft{margin-left:0px;}
.second-level{clear:both;padding-top:20px;height:210px;}
.other-cards{padding:0!important;width:200px;margin-left:30px!important;margin-top:10px!important;}
.other-cards a{background:none!important;padding:0!important;border-bottom:1px solid #999!important;margin:0!important;font-weight:bold!important;height:25px;font-size:110%!important; width:250px !important;}
.other-cards ul li{width:200px!important;background:none!important;margin-left:0px;}
.other-cards ul li a{text-transform:none!important;color:#666!important;padding:0!important;font-weight:normal!important;font-size:11px;background:none!important;border:none!important;font-size:90%!important;height:auto;}
.sub-others {color:#D73C00!important;font-weight:bold;font-size:14px!important; text-transform:none;border:none!important;background-image:none!important;padding:0!important;margin:0!important;margin-bottom:10px!important; margin-left:-5px !important; border-bottom: solid 1px #999 !important; margin-top:0px !important; padding-bottom:10px !important; width:250px !important;}
.niara-card{width:263px;height:auto;}
.other-card-line{height:0; border-bottom:1px solid #999;width:245px;margin-left:5px;}


=============================================personal======================================================

.pb-header{width:230px;padding-bottom:5px; border-bottom:1px solid #999!important;margin-bottom:10px;color:#D73C00 !important;font-weight:bold!important;font-size:140% !important;}

.pb-header a{width:230px !important;padding-bottom:5px; border-bottom:1px solid #999;margin-bottom:15px;color:#D73C00 !important;font-size:110% !important; background:none !important; text-transform:none!important; border-top:none !important;font-weight:bold!important;margin-top:10px; /********/padding-left:4px!important;}

.pbimg1{ background:url(../../servicesite-default/images/personal.jpg);width:242px;height:112px;}
.pbtxt1 {width:242px;height:auto; margin-top:10px !important;}
.pbimg2{ background:url(../../servicesite-default/images/private.jpg);width:242px;height:112px;}
.pbtxt2 {width:242px;height:auto; margin-top:10px !important;}


=============================================business======================================================

.biz1{ width:222px !important; height:auto; background:none !important; float:left !important;}

.biz-header a{width:222px !important;padding-bottom:5px; border-bottom:1px solid #999;margin-bottom:15px;color:#D73C00 !important;font-size:110% !important; background:none !important; text-transform:none!important; border-top:none !important;font-weight:bold!important;margin-top:10px;/******/padding-left:5px!important;}

.biz1{ width:222px !important; height:auto; background:none !important; float:right !important;}

.bizimg1{ background:url(../../servicesite-default/images/corporate.jpg);width:236px;height:112px;}
.biztxt1 {width:236px;height:auto; margin-top:10px !important;}
.bizleft{margin-left:40px;}

.bizright{ width:222px !important; height:auto;  float:right !important; margin-right:30px !important;}
.bizleft{ width:222px !important; height:auto;  float:left !important; margin-left:10px !important;}
.bizimg2{ background:url(../../servicesite-default/images/commercial.jpg);width:236px;height:112px;}
.biztxt2 {width:236px;height:auto; margin-top:10px !important;}
.bizimg3{ background:url(../../servicesite-default/images/sme.jpg);width:236px;height:112px;}
.biztxt3 {width:236px;height:auto; margin-top:10px !important;}
.empty{clear:both;width:550px;}


=============================================customer service======================================================

.cust-header{width:200px;padding-bottom:5px; border-bottom:1px solid #999;margin-bottom:10px;color:#D73C00 !important;font-weight:bold;font-size:140% !important;}

.cust-header a{width:200px !important;padding-bottom:5px; border-bottom:1px solid #999;margin-bottom:15px;color:#D73C00 !important;font-size:110% !important; background:none !important; text-transform:none!important; border-top:none !important;font-weight:bold!important;margin-top:10px;}
.cust-txt1 a {width:236px;height:auto; margin-top:10px !important; background:none !important; border-bottom:none !important; border-top:none !important;}
.cust-txt1 ul li a{text-transform:none!important;color:#666!important;padding:0!important;font-weight:normal!important;font-size:98%;background:none!important;border:none!important; padding-left:10px !important; font:Arial!important;}
.cust-txt1 ul li{text-transform:none!important;color:#666!important;padding:0!important;font-weight:normal!important;font-size:98%;background:none!important;border:none!important;}

.cust-txt2{ padding-top:10px !important}
.cust-txt2 a {width:236px;height:auto; margin-top:10px !important; background:none !important; border-bottom:none !important; border-top:none !important;}
.cust-txt2 ul li a{text-transform:none!important;color:#666!important;padding:0!important;font-weight:normal!important;font-size:98%;background:none!important;border:none!important;  padding-left:10px !important;}
.cust-txt2 ul li{text-transform:none!important;color:#666!important;padding:0!important;font-weight:normal!important;font-size:98%;background:none!important;border:none!important;}

.cust-txt3{ padding-top:10px !important}
.cust-txt3 a {width:236px;height:auto; margin-top:10px !important; background:none !important; border-bottom:none !important; border-top:none !important;}
.cust-txt3 ul li a{text-transform:none!important;color:#666!important;padding:0!important;background:none!important;border:none!important;  padding-left:10px !important; font-size:98%;}

.cust-txt3 ul li a:hover{text-transform:none!important; color:#C30!important;padding:0!important;background:none!important;border:none!important;  padding-left:10px !important; font-size:98%;}

.cust-txt1 ul li a:hover{text-transform:none!important; color:#C30!important;padding:0!important;background:none!important;border:none!important;  padding-left:10px !important; font-size:98%;}

.cust-txt2 ul li a:hover{text-transform:none!important; color:#C30!important;padding:0!important;background:none!important;border:none!important;  padding-left:10px !important; font-size:98%;}
.cust-txt3 ul li{text-transform:none!important;color:#666!important;padding:0!important;font-weight:normal!important;font-size:98%;background:none!important;border:none!important;}

/*=============================================subsidairies======================================================*/
.subsidairies ul li{ padding-top: 15px !important;}
.subsidairies ul li a:hover{color:#C30!important;}
.subsi .sub-container {top:144px !important;}

