*{
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif !important;
}

#SideBar div.moduletable_related.mmre ul li{line-height:1.5;}
#SideBar div.moduletable_related.mmre ul li li a{ font-weight:normal !important;  }
#SideBar div.moduletable_related.mmre ul li.deeper.parent{ background:none !important}
#SideBar div.moduletable_related.mmre ul li.deeper.parent a{ font-weight:bold;  }

body{
	margin:0;
	/*position:relative;*/
	font-size: 100%;
	color: #666;
	background-color:#EBEBEB;
	height:100%;
}


a{
	color:#dd4f05;
	text-decoration:none !important;
}

a.pathway{
	color:#EB5800 !important;}

a:hover{

}

ul,ul li{
	list-style:none;
}

.left{
	float:left;
}

.right{
	float:right;
}

.tib{
	background:#666;
}

.down{ list-style:none !important;}

.tib tr td a{
	color:#fff;
}

.contxt{
	color:#F30;
}

.tbody ul li a{ color:#FFF;}

.noborder{
  border:none !important;
}

.nopadding{
	padding:0px !important;
}

.nomargin{
	margin:0px !important;
}

.nopadright{
	padding-right:0px !important;
}

.nomargright{
	margin-right:0px !important;
}

.nopadleft{
	padding-left:0px !important;
}

.nomargleft{
	margin-left:0px !important;
}


header,
footer,
article,
section,
hgroup,
nav,
figure{display: block;}


img{border:0; background:none !important;}

h1 {
    font-size: 2em/1.5em; /* 22px/33px */
}
h2 {
    font-size: 1.5em/1.5em; /* 16.5px/24.75px */
}
h3 {
    font-size: 1.333em/1.5em; /* 14.66px/22px */
}
h4 {
    font-size: 1.166em/1.5em; /* 12.83px/19.24px */
}
h5 {
    font-size: 1em/1.5em; /* 11px/16px */
}
h6 {
    font-size: 1em/1.5em; /* 11px/16px */
}

p, td{
	line-height: 160%;
}



#Super{
	width:1012px;
	margin:auto;
	background-image:url('../images/body_bg.png');
	background-repeat:repeat-y;
	background-position:center;
	min-height:100%;
    position:relative;
	font:0.75em/1.333em Arial; /* Default is 11px/16px (font-size/line-height) */
}

/** Curve Edges **/
.curve8{
	border-radius: 8px !important;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	behavior: url(/gtbank/pie.php);
	
}

.curve5{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	behavior: url(/gtbank/pie.php);
}

.curve15
{
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	behavior: url(/gtbank/pie.php);
}

.curve10{
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	behavior: url(/gtbank/pie.php);
}


/* Header */
header,#MediaHeader{
	width:auto;
	margin-left:20px;
	margin-right:20px;
	overflow:hidden;
	height:123px;
	padding-top:0px;
	padding:10px 0px 0 0px;
}



header ul{
	list-style:none;
}

header .topnav{
	width:80%;
}

header .topnav ul li{
	float:left;  
}
header .topnav ul li.item-144{
	display:none;
}

header .topnav ul li a{
	color:#666;
	border-right:1px solid #666;
	padding:0 10px 0 10px;
	font-size:90%;
}

header .topnav ul li.active a{
	color:#EB5800;
}

header .logo,#MediaHeader .logo{
	width:127px;
	margin:0px 0px auto; 
	overflow:hidden;
	
}

header .logo a,#MediaHeader .logo a{
	display:block;
	width:127px;
	height:122px;
	background:url(../images/inner_logo.png) no-repeat;
	overflow:hidden;
	text-indent:-99999px;
}
.date{
	font-size:11px;
	width:200px;
	margin-top:40px;
	margin-left:5px;
}

#Search{
width:290px;
overflow:hidden;
margin-top:5px;
margin-left:0px;
}

#Search a{
	display:block;
	width:290px;
	height:30px;
	overflow:hidden;
	text-indent:-99999px;
	background:url(../images/searchbar.png) no-repeat;
}


#SubMenu{
width:auto;
padding:0 10px 0 10px;
background-color:#E4E4E4;

min-height:36px;
}

#SubMenu h3{
	float:right;
	padding:12px 20px 8px 20px;
	background-color:#333;
	color:#fff;
	text-transform:uppercase;
}

#SubMenu h3 span{
	color:#999;
}



#BreadCrumb{
clear:both;
padding:5px 10px 10px;
font-size:90%;
margin-left:20px;
margin-right:20px;
margin-bottom:10px;

}

#User2,#FooterToolsPane{
	background: transparent url('../images/black-trans-bg.png') repeat 0 0; 
}

#FooterAccordion{
	margin-top:25px;
	clear:both;
}

.explorePane{
	margin-left:10px;
	margin-right:10px;
	margin-top: 15px;
	min-height:20px;
}
	
.explore{
	background-image:url('../images/toolbar_bg.jpg') !important;
	background-position:top;
	background-repeat:repeat-x;
	background-color:transparent !important;
	height: 15px;
	border:1px solid #D8D8D8 !important;
	width:auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	behavior: url(/gtbank/pie.php);
	margin-left:10px;
	margin-right:10px;
	padding-left: 10px;
	padding-top:7px;
	padding-bottom:15px;
	-webkit-box-shadow: #ccc 2px 2px 1px;
	-moz-box-shadow: #ccc 2px 2px 1px;
	box-shadow: #ccc 2px 2px 1px;
	behavior: url(/gtbank/pie.htc);	
}

.explore:hover{cursor:pointer;}


.explore h4{font-size: 110%; 
background-repeat:no-repeat;
background-position:0px 0px;padding-top:5px;padding-bottom:10px;padding-left:30px;}

.explorePane .ui-state-default h4{background-image:url('../images/explore_title_bg.png');}
.explorePane .ui-state-active h4{background-image:url('../images/explore_title_open_bg.png');}

.explore h4 span{font-weight: normal;}

.explore .title{
	background-image:url('../images/explore_down.png');
	background-position:99%;
	background-repeat:no-repeat;
	padding-bottom:10px;
	height:15px;
}

.explorePane .ui-state-default .title {background-image:url('../images/explore_up.png');}
.explorePane .ui-state-active .title {background-image:url('../images/explore_down.png');}

.explorePane .content{clear:both;
	margin-left:10px;
	margin-right:10px;
	padding-left: 10px;
	padding-top:20px;
	margin-top:0px;
}

.explorePane .content ul li{background-image:url('../images/bullet.jpg');
	background-repeat:no-repeat;
	background-position:left 6px;
	padding-left:15px;
	padding-bottom:5px;
}
.explorePane .content p{margin-bottom:10px;}

.facebook a{
	background-image:url('../images/facebook-icon.png');
}

.twitter a{
	background-image:url('../images/twitter-icon.png');
}

.youtube a{
	background-image:url('../images/youtube-icon.png');
}

.google a{
	background-image:url('../images/google-icon.png');
}

.flicker a{
	background-image:url('../images/flicker-icon.png');
}

.blocator a{
	background-image:url('../images/blocator-icon.png');
}

.alocator a{
	background-image:url('../images/alocator-icon.png');
}

.downloads a{
	background-image:url('../images/downloads-icon.png');
}

/*.plocator a{
	background-image:url('../images/plocator-icon.png');
}*/

.ndani a{
	background:url(../images/ndani-icon.png);
}

.complaint a{
	background-image:url('../images/complaint-icon.png');
}

.news a{
	background-image:url('../images/news-icon.png');
	width:130px !important;
	padding-right:3px !important;
	float:left;
	margin-left:-15px !important;
}
.chat a{
	background-image:url('../images/chat.png');
}


-----

.ifacebook a{
	background-image:url(../images/facebook-icon-in.png);
	
}

.itwitter a{
	background-image:url('../images/twitter-icon-in.png');
}

.iyoutube a{
	background-image:url('../images/youtube-icon-in.png');
}

.igoogle a{
	background-image:url('../images/google-icon-in.png');
}

.flicker a{
	background-image:url('../images/flicker-icon.png');
}

.iblocator a{
	background-image:url('../images/blocator-icon-in.png');
}

.ialocator a{
	background-image:url('../images/alocator-icon-in.png');
}

.idownloads a{
	background-image:url('../images/downloads-icon-in.png');
}

/*.plocator a{
	background-image:url('../images/plocator-icon.png');
}*/

.indani a{
	background:url(../images/ndani-icon-in.png);
}

.idegz a{
	background:url(../images/facebook.png);
}
.icomplaint a{
	background-image:url('../images/complaint-icon-in.png');
}

.inews a{
	background-image:url('../images/news-icon-in.png');
	width:120px !important;
}

-------


#SideBar .moduletable_howdoi,#SideBar .moduletable_howtos,
#SideBar .moduletable_userguide{
background-color:#f5f5f5 !important;
padding:12px;
width:240px;
}


#SideBar .moduletable_howdoi h3,#SideBar .moduletable_howtos h3,
#SideBar .moduletable_userguide h3{
	padding-left:0px;
}

#SideBar .moduletable_howdoi ul li,#SideBar .moduletable_howtos ul li{
	padding-bottom:5px;
	padding-top:5px;
}

#SideBar .moduletable_howdoi ul li a,#SideBar .moduletable_howtos ul li a,
#SideBar .moduletable_userguide ul li a,
#SideBar .moduletable_howtos p a {
	color:#666;
}

#SideBar .moduletable_howtos{
	background-color:#fff !important;
}


#SideBar .moduletable_howtos h3{
	background-image:url('../images/howto_bg.png');
	background-repeat:no-repeat;
	padding-left:45px;
	border-bottom:1px solid #ccc;
	background-position:0px 0px;
	line-height:100%;
}

#SideBar .moduletable_howtos h4{
	font-size:110%;
	line-height:250%;
	font-weight:bold;
}

#SideBar .moduletable_howtos ul{
	margin-bottom:10px;
}

#SideBar .moduletable_howtos ul li{
	background-image:url('../images/video-icon.png');
	background-repeat:no-repeat;
	padding-left:25px;
	background-position:0px 5px;
}

#SideBar .moduletable_userguide ul li{
	padding-bottom:3px;
	padding-top:3px;
	border:none;
}

#SideBar .moduletable_userguide{
	background-color:#fff;
}

#SideBar .moduletable_userguide h3{
	background-image:url('../images/howto_bg.png');
	background-repeat:no-repeat;
	padding-left:45px;
	border-bottom:1px solid #ccc;
	background-position:0px 0px;
	line-height:100%;
	margin-bottom:5px;
}

#SideBar .moduletable_userguide ul{
	margin-bottom:10px;
}

#SideBar .moduletable_userguide h6{
font-size:100%;font-weight:normal;
margin-left:-10px;
background-image:url('../images/video-icon.png');
padding-left:25px;
background-position:0px 5px;
background-repeat:no-repeat;
padding-bottom:3px;
padding-top:3px;}


#SideBar .moduletable_contact{
	background-image:url('../images/contactus_title_bg.jpg') !important;
	background-repeat:no-repeat;
	background-position:5% 50%;
	padding-left:45px;
	background-color:#fff;
	min-height: 40px;
	width:213px;
}

#SideBar .moduletable_contact h3{
	font-size:160%;
	font-weight:normal;
	padding-bottom:5px;
	padding-top:5px;
}

#SideBar .moduletable_contact span a{
	color:#666;
	padding-left:5px;
	font-size:110%;
}


#SideBar .moduletable_related{
background-color:#f5f5f5 !important;
width:251px;
margin-top:6px;
}

#SideBar .moduletable_related h3{
font-size:140%;
}

#SideBar .moduletable_related ul{
margin-left:5px;
}

#SideBar .moduletable_related ul li{
	padding-bottom:5px;
	padding-left:12px;
	background-image:url('../images/bullet.jpg');
	background-repeat:no-repeat;
	background-position:left 5px;
}

#SideBar .moduletable_related ul li a{
	color:#666;
}


#SideBar .moduletable_compare{
	padding:0px;
	width:264px;
	text-align:center;
}


#SideBar .moduletable_ibanking{
	background-color:#D73C00 !important;
}

#SideBar .moduletable_ibanking h3{
	border-bottom:1px solid #722000 !important;
}

#SideBar .moduletable_ibanking ul li{
	background: rgb(114, 32,0) !important;
	background:rgba(114, 32, 0, 0.8) !important;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#722000, endColorstr=#722000)!important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#722000, endColorstr=#722000)" !important;
}

#SideBar .moduletable_gaps{
	background-color:#722000 !important;
}

#SideBar .moduletable_gaps h3{
	border-bottom:1px solid #D73C00 !important;
}

#SideBar .moduletable_gaps ul li{
	background: rgb(215, 60,0) !important;
	background:rgba(215, 60, 0, 0.4) !important;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#D73C00, endColorstr=#D73C00)!important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D73C00, endColorstr=#D73C00)" !important;
}



#SideBar .ibox{
	padding:7px !important;
	padding-bottom:0px !important;
	margin-bottom:10px;
	overflow:auto;
	height:auto;
	border:none !important;
}

#SideBar .ibox ul{
	list-style:none;
	margin:auto;
	margin-top:7px;
	margin-bottom: 0px;
	padding-bottom:6px;
}

#SideBar .ibox ul li{
	display:inline;
	padding:4px;
	margin-left:4px; 
	margin-right:4px;
	padding-left:9px;
	padding-right:9px;
}

#SideBar .moduletable_gaps ul li a,
#SideBar .moduletable_ibanking ul li a{
	color:#EB4000;
	font-size:80%;
}

#SideBar .ibox h3{
	color:#fff;
	padding-bottom:5px;
	text-transform: uppercase;
	font-size:120%;
	font-weight:bold;
}

#DisplayText h3{
font-size:140%;
color:#333;
font-weight:normal;
line-height:250%;
color:#666;
}

#DisplayText ul,#DisplayText ol{margin-top:10px;}

#DisplayText table td,#DisplayText table th{padding:5px;}

footer ul li.item-131 a,#FooterLinks  ul li.item-131 a {border:none;padding-right:0px;}

/*
footer ul li.item-407,footer ul li.item-424,
#FooterLinks ul li.item-407, #FooterLinks ul li.item-424{display:none;}*/


/*.cfdiv_text input, .cfdiv_text label { float: left; }*/

		 
		 
#xmap ul li a{font-size:90%;}
#xmap ul.level_0 li a{color:#EB5800;font-weight:bold;}
#xmap ul.level_0 li ul.level_1 li a{color:#666;font-weight:bold;}
#xmap ul.level_0 li ul.level_1 li ul.level_2 li a{font-weight:normal;}
#xmap div {width:100%!important;float:none!important;}
#xmap div ul.level_0 li{width:100%;float:left; border-bottom:1px dotted #eb5800;}
#xmap div ul.level_0 li ul.level_1 li{float:left;width:auto;padding-right:10px;border:none;}
#xmap div ul.level_0 li ul.level_1 li ul.level_2 li{float:none;display:block;border:none;}

div.limit {
margin-top: 5px;
margin-left: 10px; float:left;
}
#listform_3_mod_fabrik_list_174 .pagination {
margin-left: 5px;
padding-right: 5px; float:left;
}
#br_pagnav{float:left; border-radius:5px; border:1px solid gray; padding-right:10px ; margin-left:10px; }
#br_pagnav ul{margin-top:0 !important}
#br_pagnav ul li{ float:left !important; background-image:none !important; padding-top:4px; padding-bottom:0 !important }
#br_pagnav ul li a{color:#F60; font-weight:bold}
#br_pagnav ul li.active a{color:gray !important}
#br_pagnav ul li.disabled a{color:gray !important}
.gtbranch ul li.fabrik_view{ background-image:none !important; border:1px solid gray !important; border-radius:5px; 
margin-top:-8px; padding-right:5px; padding-top:5px; padding-bottom:0px !important; padding-left:9px !important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc'); 
background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc) );
background: -moz-linear-gradient(top, #eee, #ccc);
background: -o-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
background: -ms-linear-gradient(top, #eeeeee 0%, #cccccc 100%);

}
.gtbranch tr.fabrik___heading{
background: -moz-linear-gradient(center top , #F3F3F3, #D7D7D7) repeat scroll 0 0 #E7E7E7;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D7D7D7', endColorstr='#F3F3F3');
background: -webkit-gradient(linear, left top, left bottom, from(#F3F3F3), to(#D7D7D7) );
background: -o-linear-gradient(top, #F3F3F3 0%, #D7D7D7 100%);
background: -ms-linear-gradient(top, #F3F3F3 0%, #D7D7D7 100%);
}

.popform{position:absolute;top:500px; right:0; margin-right:15px; transition:top 3s; display:none; z-index:10; } .popclose{ width:22px; height:21px; position:absolute; right:0; cursor:pointer; z-index:999} .popchat{position:absolute; /*bottom:118px; right:0;transition:right 3s;*/bottom:0;transition:bottom 3s; display:none; } .popchat img.pop_img{width:0px;transition:width 3s;}

