/* Home Right side*/
aside{
width:275px;
height:auto;
margin-right:20px;
margin-top:10px;
margin-bottom:10px;
height:auto;
}

#Aside{position:absolute;float:right;right:0px;z-index:15;
  position:relative;
  background:none;
  /*overflow:hidden;*/}

/*#Slides{width:600px;left:36.5%;bottom:17%;position:absolute;overflow:hidden; float:left; }
#slidecaption h2{display:none !important}*/

#Slides{width:600px;left:36.5%;bottom:17%;position:absolute;/*overflow:hidden;*/ float:left; }
#slidecaption{ top:80px !important; margin-left:0px !important;}

#slidecaption{
  /*text-shadow:#000 1px 1px 2px;*/
  
}

#
/*#slidecaption img{ background-color:none !important; background:none !important; margin-top:25px !important;

}  */


#slidecaption h2 {display:block !important;  margin:0 0 0 -50px !important; padding:0 !important; margin-left:-50px !important }
#slidecaption h2 a{font-size:12px; padding:5px 10px; background:#009900 !important; border-radius:20px 20px; font-weight:bold;}
#slidecaption h2 a:hover{color:#000 !important}
#slidetext{ margin-top:12px; }




ul#slide-list{
  margin:0;padding:0;
  
}

#homesearch{
width:180px;
overflow:hidden;
margin-top:0px;
margin-left:0px;
float:left !important;
height:22px;
}



#homeSearch a{
  display:block;
  width:220px;
  height:22px;
  overflow:hidden;
  text-indent:-99999px;
  background:url(../../global-resources/images/homesearchbar.png) no-repeat;
}


/* Navigation */
nav{
  min-height: 150px;
  margin-bottom:2px;
  float:right;
}

nav ul{
  list-style:none;
}

nav ul li,#User2,footer{
  background: transparent url('../../global-resources/images/black-trans-bg.png') repeat 0 0;
}

nav ul li{
  margin-bottom:5px;
  width:250px;  
  padding:12px;
  padding-top:0px;
  padding-bottom:0px;
}

nav ul li.item-101{
  display:none;
}

nav ul li:hover{
  cursor:pointer;
}

nav ul li a{
  background-image:url('../images/homenav_li_bg.png');
  background-repeat:no-repeat;
  background-position:right;
  padding:10px;
  padding-left:0px;
  padding-right:50px;
  display:block;
}

nav ul li a:hover{
  background-image:url('../images/homenav_li_bg_over.png');
}

nav ul li a{
  color:#ccc;
  font-size:120%;
  font-weight:bold;
  text-transform: uppercase;
}

nav ul li a:hover,nav ul li:hover a{
  color:#fff;
}

#User1{
  margin-bottom:7px;
  background-color:#722000;
  width:274px;
  float:right;
}

#User2{
  padding-left:20px;
  padding-right:20px;
  padding-bottom:5px;
  padding-top:5px;
  margin-bottom:0px;
  overflow:auto;
  height:auto;
  clear:both;
  float:right;
  width:234px;
  min-height: 30px;
   

}

#User2 ul li{
padding-top:3px;
padding-bottom:3px;
color:#fff;
border-bottom:1px solid #fff;
padding-left:3px;
}

#User2 ul li a{
  color:#fff;
  font-size:120%;
  font-weight:bold;
}

#User2 ul li a:hover{
  color:#EB5800;
}
/** Footer **/

html,
body {
   height:100%;
}

#Super{margin-bottom: -120px;}

#body{
  
}
.clearfooter {
height: 120px;
clear: both;
}


#BaseFooter{
  height:120px;
  position: relative;
    width:100%;
    overflow:hidden;
    font:0.75em/1.333em Arial; /* Default is 11px/16px (font-size/line-height) */
}

footer {
  clear:both;
  height:75px;
  padding:10px;
  width:100%;  
}

#GTCommunity{width:19%;}

#Locators{width:40%;}
/*#SharePrice{width:15%;}*/

#GTCommunity{
/*border-right:1px solid #999;*/
overflow:auto;
height:auto;
padding-bottom:10px;
padding-top:5px;
min-width:240px;
/*width:300px;*/
padding-left:20px;

}

/*#GTCommunity.left{
width:300px !important;

}*/

#nuGTCommunity{
/*border-right:1px solid #999;*/
overflow:auto;
height:auto;
padding-bottom:10px;
padding-top:5px;
/*width:300px;*/
padding-left:6%;
float:left;
width:200px;

}

#GTCommunity h3{
  padding-bottom:10px;
  color:#fff;
  text-transform: uppercase;
  margin-left:27%;
}

#GTCommunity ul li,#Locators ul li{
  float:left;
}

#GTCommunity ul li{
  /*margin-left:10px;
  margin-right:10px;*/
  width:20%;
}

#GTCommunity ul li a{
  width:100%;
  height:45px;
  background-repeat:no-repeat;
  overflow:hidden;
  text-indent:-99999px;
  display:block;
}



#Locators{
/*border-right:1px solid #999;*/
overflow:auto;
height:auto;
padding-top:5px;
/*width:40%;*/
padding-bottom:0px;
/*padding-left:10px;*/
padding-right:10px;
}

/*#Locators.left{
width:44%;
}

#Locators ul li{width:15%;}
*/

#Locators{
width:48%;
}

#Locators ul li{width:12%;}

#Locators ul li{
/*margin-left:20px;
margin-right:20px;*/
}


#Locators ul li a{
  /*width:93px;*/
  width:109px;
  height:24px;
  background-repeat:no-repeat;
  overflow:hidden;
  text-align:center;
  display:block;
  padding-top:48px;
  background-position:50% 0%;
  color:#ccc;
  font-size:70%;
  padding-left:2px;
  padding-right:2px;

}



#SharePrice{
  background-color:#fff !important;
  width:310px;
  margin-right:30px;
  padding:5px;
  padding-top:10px;
  padding-bottom:10px;
  overflow:hidden;
  height:55px;
}

#SharePrice h3{
background-image:url('../../global-resources/images/shareprice_header_bg.png');
background-repeat:no-repeat;
/*padding:20px;*/
padding-bottom:10px;
float:left;
display:block;
margin-top:10px;
/*padding-right:70px;*/
width:30%;
height:50px;
}

#SharePrice div.custom{width:70%;float:left;}

#SharePrice ul{
  margin-top:10px;
}

#SharePrice ul li{
background-repeat:no-repeat;
background-position:5px 3px;
float:left;
/*padding-left:15px;  
padding-bottom:10px;
padding-top:4px;*/
padding:4px 10px 10px 40px;
font-size:125%;
font-weight:bold;
border-left:1px solid #eee;
/*width:50px;*/
/*width:30%;*/
padding-right:10px;
}

#SharePrice ul li.nse{
  background-image:url('../../global-resources/images/nse-icon.png');
}

#SharePrice ul li.lse{
  background-image:url('../../global-resources/images/lse-icon.png');
}

#SharePrice ul li span{font-size:80%;}
#price_nse{font-size:100% !important}

.subsi .sub-container{margin-top:-145px !important}

.popform{position:absolute;top:500px; right:0; margin-right:15px; transition:top 3s; display:none; z-index:10; }
.popclose{ width:22px; height:21px; position:absolute; right:0; cursor:pointer; z-index:999}
.popchat{position:absolute; /*bottom:118px; right:0;transition:right 3s;*/bottom:0;transition:bottom 3s; display:none; }
.popchat img.pop_img{width:0px;transition:width 3s;}

/* Added By Rex_quadry for social icons */
#GTCommunity ul.m_social_list{list-style: none;}
#GTCommunity ul.m_social_list li{width: 16%;margin-right:4%;}
#GTCommunity ul.m_social_list li a{width: 100%;height: auto;background: transparent;}
#GTCommunity ul.m_social_list li a img{width: 100%;height: auto;display: block;border-radius: 30%;}

#GTCommunity ul.m_social_list_inner{list-style: none;}
#GTCommunity ul.m_social_list_inner li{width: 14%;margin-right:2.6%;}
#GTCommunity ul.m_social_list_inner li a{width: 100%;height: auto;background: transparent;}
#GTCommunity ul.m_social_list_inner li a img{width: 100%;height: auto;display: block;border-radius: 25%;}


.mega-menu li .sub-container{right:100% !important;}