.program-table__body {
	overflow:hidden;
	height: 633px;
}

.program-table__outer{
	position: relative;
	overflow-x: hidden;
}

.program-table__channel-wrapper{
	overflow: hidden;
	margin-left: 32px;
	border-left: 1px solid #dfdfdf;
}
.program-table__channel-outer{
	position: relative;
	width: 3000px;
	padding-left: 0;
	margin-left: -1px;
}
.program-table__channel .name{
	position: relative;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.program-table__channel .name img{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.program-table-header{
}
.program-table-header__list-outer{
	overflow: hidden;
}
.program-table-header__list{
	position: relative;
	width: 3000px;
	height:52px;
	overflow:hidden;
}

.program-table__hour {
	position: absolute;
	top: 0;
	overflow:hidden;
	z-index: 1;
	left: 0;
}
.program-table__hour .item .item__num {
	position: relative;
}

.program-table__hour-scroll {
	position: relative;
}

.program-table__items {
	position: relative;
	width: 3000px;
	overflow: hidden;
	margin-left: 32px;
  /* 番組表調整のため追加 */
  font-size: 12px;
  line-height: 1.45;
}
.program-table__items .item {
	margin:0 !important;
}

.program-table__items .item .contents{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height:100%;
	padding:4px 4px 0 4px;
} 

.program-table__items .item .contents .back{
	height:100%;
}

.program-table__items .item--past .back{
	background-color: #fdf2f2;
}

.program-table__items .item--future .back{
	background-color: #e2f4f9;
}

.program-table__items .item .scrollContents{
	 position: relative;
}

.page-default .program-table__items .item--onair .contents .back {
  background-color: #00a7e9;  
}
.page-timeshift .program-table__items .item--onair .contents .back {
  background-color: #e73c64; 
}


.top-slider__list .item {
    box-shadow: none;
}

.header__banner a {
	display: none;
}
.header__banner .current-banner {
	display: block;
}

.tools-hero__btns {
	z-index: 0;
}

.header, .player-area {
	z-index: 1000;
}

.did-you-mean {
	font-weight: bold;
	margin-top: 30px;
	font-size: 16px;
}

.did-you-mean .result {
	font-size: 28px;
	text-decoration: underline;
}

.suggest-dropdown {
	display: none;
	background-color: rgb(248, 248, 248);
	position: absolute;
	z-index: 3;
	border: 1px solid rgb(166, 166, 166);
	padding: 8px;
	cursor: pointer;
}

.suggest-dropdown div:hover {
	color: #b3b3b3;
}

#search-form .suggest-dropdown {
	width: 222px;
}

.search-result #search-form .suggest-dropdown {
	width: 180px;
}

#global-header-search-form .suggest-dropdown {
	width: 146px;
}

.top-search__form #search-form .suggest-dropdown {
	width: 302px;
}

.focus {
	color: #b3b3b3;
}

#colorbox--share .timelimit {
	text-align: center;
}

.timelimit {
	text-align: right;
	height: 29px;
}

.timelimit span {
	font-size: 15px;
	margin-left: 5px;
	vertical-align: middle;
}

.timelimit i {
	background: url(../images/timelimit.png) no-repeat;
	width: 18px;
	height: 20px;
}

.timelimit i.over {
	background: url(../images/timelimit_over.png);
}

.item--onair .timelimit i {
	background-image: url(../images/timelimit2.png);
}

.item--onair .timelimit i.over {
	background-image: url(../images/timelimit_over2.png);
}

.timeout {
	width: 100%;
	height: 67px;
	background: transparent url("/apps/images/timeout.png") no-repeat;
}

.balloon {
	position: absolute;
	background-color: white;
	box-shadow: #aaa 1px 2px 15px;
	top: -77px;
	padding: 10px 23px;
	font-size: 18px;
	border-radius: 2px;
	left: 20%;
	display: none;
	width: 85px;
}

.balloon .arrow {
	content: "";
	position: absolute;
	bottom: -9px;
	left: 50%;
	margin-left: -5px;
	display: block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 9px 5px 0 5px;
	border-color: white transparent transparent transparent;
}

#f_seo {
    border-top: 1px solid #454343;
    padding-top: 22px;
    margin-top: 22px;
    font-size: 11px;
}

.link_title {
    color: #fff;
    margin-top: 10px;
}

.link_table {
    display: table;
}

.link_table_td {
    display: table-cell;
    padding: 0px 10px;
}

.link_region_name {
    color: #fff;
    font-weight: bold;
}

.link_table_td a {
    font-size: 10px;
}

.header__menu .item--search input {
	width: 200px;
}

.top-info__title {
    position: relative;
}

.top-info__title span {
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 5px;
}

.page-default .player-area {
	border-color: #00a7e9;
}

.page-default .icon--play-02 {
	background-position: -46px -401px;
}

.page-default .icon--stop {
	background-position: -429px -299px;
}

.page-default .icon--volume-btn {
	background-position: -242px -441px;
}

.page-default .player-area .volume-bar .bar {
	background-color: #00a7e9;
}

.page-default .icon--volume {
	background-position: -314px -305px;
}

#player-area.page-timeshift .player-area {
	border-color: #e73c64;
}

#player-area.page-timeshift .icon--play-02 {
	background-image: url(../images/sprite.png);
	background-position: -429px -342px;
	width: 41px;
	height: 40px;
}

#player-area.page-timeshift .icon--stop {
	background-image: url(../images/sprite.png);
	background-position: -429px -256px;
	width: 40px;
	height: 43px;
}

#player-area.page-timeshift .icon--volume {
	background-image: url(../images/sprite.png);
	background-position: -284px -284px;
	width: 21px;
	height: 20px;
}

#player-area.page-timeshift .player-area .volume-bar .bar {
	background-color: #e73c64;
}

#player-area.page-timeshift .icon--volume-btn {
	background-image: url(../images/sprite.png);
	background-position: -256px -441px;
	width: 14px;
	height: 14px;
}

#player-area.page-timeshift .icon--seek-btn {
	background-image: url(../images/sprite.png);
	background-position: -283px -441px;
	width: 13px;
	height: 12px;
}

#topic-list img {
	width: 32px;
	height: 32px;
}

.header--not-login .header__station-list ul {
	width: 872px;
}

.header__station-list li {
	font-size: 13px;
}

.header--not-login .header__station-list .btn {
	width: 128px;
	height: 50px;
	font-size: 18px;
	margin-top: 0;
}

.header--not-login .header__station-list .btn a {
	line-height: 48px;
}

.top-main-slider__list .item {
	width: auto;
	height: auto;
}

.top-main-slider__list .top-slider__nav {
	z-index: 1;
	top: 218px;
}

.top-main-slider__list .top-slider__nav .item--prev {
	z-index: 1;
	left: 36px;
}

.top-main-slider__list .top-slider__nav .item--next {
	right: 36px;
}

.top-main-slider__list a {
	width: 100%;
}

.live-detail__failed {
	padding: 20px 0;
}

.live-detail__description {
	margin-top: 0;
}

p.invalid-station {
	margin-top: 20px;
	font-size: 15px;
	font-weight: bold;
	background-color: #f2f2f2;
	padding: 24px;
}

.page-timeshift p.live-detail__plan.invalid-station {
	margin-top: 20px;
	color: #e73c64;
	font-size: 14px;
	font-weight: bold;
	background-color: #f2f2f2;
	padding: 24px;
}

.page-timeshift p.live-detail__plan {
	color: #e73c64;
}

p.live-detail__plan.invalid-station {
	margin-top: 20px;
	color: #00a7e9;
	font-size: 14px;
	font-weight: bold;
	background-color: #f2f2f2;
	padding: 24px;
}

.alert {
	z-index: 1;
}

.btn--recochoku {
	height: 27px;
}

.header__nav-container {
	height: 120px;
}

.icon--stop-03 {
	vertical-align: -2px;
}

.cnt-text {
	height: 88px;
	line-height: 88px;
}

.contents-front {
	position: relative;
	z-index: 100;
}

.contents-back {
	position: relative;
	z-index: 1;
}

#play i.on {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity: 0.5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.icon--link-arrow {
	background: url(../images/i_arrow.png) no-repeat;
	width: 20px;
	height: 20px;
	margin-top: -4px;
}
