@charset "utf-8";
/* ---------------------------------------- materials sidebar list01 */
.b-materials-sidebar-list01 {padding:0 18px 0 18px}

.b-materials-sidebar-list01 ul {list-style-type:none}
.b-materials-sidebar-list01 ul li {margin:0 0 30px 0}

.b-materials-sidebar-list01__title {font-size:14px;line-height:15px}
.b-materials-sidebar-list01__title a {color:#555}
.b-materials-sidebar-list01__title a:hover {color:#c5382e}

.b-materials-sidebar-list01__date {font-size:11px;color:#8f8e8e;line-height:16px;margin:0 0 10px 0;position:relative}
.b-materials-sidebar-list01__date span {margin:0 17px 0 0}
.b-materials-sidebar-list01__date img {vertical-align:middle;margin:0 5px 0 0}

/* ---------------------------------------- materials sidebar list02 */

.b-materials-sidebar-list02 {padding:0 0 0 18px}

.b-materials-sidebar-list02 ul {list-style-type:none}
.b-materials-sidebar-list02 ul li {min-height:100px;position:relative;margin:0 0 20px 0;overflow:hidden}

.b-materials-sidebar-list02__title {font-size:14px;line-height:15px;padding:0 0 15px 91px}
.b-materials-sidebar-list02__img {width:80px;height:80px;position:absolute;top:0;left:0;background:#ccc}

.b-materials-sidebar-list02__date {font-size:11px;color:#8f8e8e;line-height:16px;padding:0 0 0 91px}
.b-materials-sidebar-list02__date span {margin:0 17px 0 0}
.b-materials-sidebar-list02__date img {vertical-align:middle;margin:0 5px 0 0}

.b-materials-sidebar-list02 ul li.news {min-height:auto;position:relative}
.b-materials-sidebar-list02 ul li.news .b-materials-sidebar-list02__title {padding:0 0 15px 0}
.b-materials-sidebar-list02 ul li.news .b-materials-sidebar-list02__date  {padding:0}

/* ---------------------------------------- materials ribbon list01 */

.b-ribbon-materials-list01 {padding:0 30px;margin:0 0 30px 0}
.b-ribbon-materials-list01__header {font-family:georgia;font-size:18px;line-height:19px;font-weight:700;text-transform:uppercase;color:#3c5b59;margin:0 0 12px 0}
.b-ribbon-materials-list01__header a {color:#3c5b59}

.b-ribbon-materials-list01__header_soe a {color:#ccc}

.b-ribbon-materials-list01 ul {list-style-type:none}
.b-ribbon-materials-list01 ul li {position:relative;border-bottom:2px solid #8eb7b9;padding:12px 0}
.b-ribbon-materials-list01_soe ul li {border-bottom:2px solid #ccc}
.b-ribbon-materials-list01 ul li:last-child {border:none}
.b-ribbon-materials-list01__title {padding:142px 0 0 0;margin:0 0 15px 0;font-size:14px;line-height:16px}
.b-ribbon-materials-list01__title a {color:#fff}
.b-ribbon-materials-list01__title a:hover {}
.b-ribbon-materials-list01__title a:hover img {-webkit-filter:grayscale(0%);-moz-filter: grayscale(0%);filter: grayscale(0%)}

.b-ribbon-materials-list01__img {width:180px;height:132px;position:absolute;top:12px;left:0;background:#ccc;-webkit-filter:grayscale(0%);-moz-filter: grayscale(0%);filter: grayscale(0%)}

.b-ribbon-materials-list01__date-and-content {font-size:11px;color:#3c5b59;line-height:16px;position:relative}
.b-ribbon-materials-list01__date-and-content_soe {color:#ccc}
.b-ribbon-materials-list01__date-and-content span {margin:0 17px 0 0}
.b-ribbon-materials-list01__date-and-content img {vertical-align:middle;margin:0 5px 0 0}





/* ---------------------------------------- ArticlesListType1 - боковой список для статей и новостей */

.ArticlesListType1 {background:#fff;padding:15px 17px 30px 17px;margin:0 0 11px 0}
.ArticlesListType1 hr {height:7px;border:0;margin:0 0 14px 0;*margin:-7px 0 7px}

.ArticlesListType1 .SelectionTitle {font:normal 17px/18px 'pt serif';margin:0 0 23px 0}
.ArticlesListType1 .SelectionTitle a {color:#ce2125}

.ArticlesListType1 ul {list-style-type:none}
.ArticlesListType1 ul li {width:206px;min-height:100px;position:relative;margin:0 0 20px 0;border-bottom:1px solid #e3e3e3;overflow:hidden}

.ArticlesListType1 ul li.Last {margin:0;border:none}

.ArticlesListType1 .Title {font:normal 14px/14px 'pt serif';padding:0 0 15px 91px}
.ArticlesListType1 .Image {width:80px;height:80px;position:absolute;top:0;left:0;background:#ccc}

.ArticlesListType1 .DateAndContent {font-size:11px;color:#b6b6b6;line-height:16px;padding:0 0 0 91px;margin:0 0 20px 0}
.ArticlesListType1 .DateAndContent span {margin:0 15px 0 0}
.ArticlesListType1 .DateAndContent img {vertical-align:middle;margin:0 5px 0 0}

.ArticlesListType1 ul li.News {min-height:44px;position:relative}
.ArticlesListType1 ul li.News .Title {padding:0 0 15px 0}
.ArticlesListType1 ul li.News .DateAndContent {padding:0}

.ArticlesListType1 .AllLink {font-size:11px}
.ArticlesListType1 .AllLink a {color:#ce2125}

.ArticlesListType1 .AllLink2 {font-size:11px;margin:0 0 20px 0}
.ArticlesListType1 .AllLink2 a {color:#ce2125}


/* ---------------------------------------- ArticlesListType2 - список статей в материалах */

.ArticlesListType2 {}

.ArticlesListType2 ul {list-style-type:none}
.ArticlesListType2 ul li {margin:0 0 30px 0;position:relative}

.ArticlesListType2 .Title {font:normal 14px/14px 'pt serif';margin:0 10px 10px 0}

.ArticlesListType2 .DateAndContent {font-size:11px;line-height:16px}
.ArticlesListType2 .DateAndContent span {margin:0 17px 0 0;color:#b6b6b6}
.ArticlesListType2 .DateAndContent img {vertical-align:middle;margin:0 5px 0 0}

/* ---------------------------------------- LinksListType1 - боковой список ссылок */

.LinksListType1 {background:#fff;padding:15px 17px 30px 17px;margin:0 0 11px 0}
.LinksListType1 hr {height:7px;border:0;margin:0 0 14px 0;*margin:-7px 0 7px}

.LinksListType1 ul {list-style-type:none}
.LinksListType1 ul li {margin:0 15px;position:relative;overflow:hidden}

.LinksListType1 .Title {margin:0 0 15px 0}
.LinksListType1 .Title a {color:#ce2125}

/* ---------------------------------------- LinksListType2 - боковой список ссылок */

.LinksListType2 {background:#fff;padding:15px 17px 30px 17px;margin:0 0 11px 0}
.LinksListType2 hr {height:7px;border:0;margin:0 0 14px 0;*margin:-7px 0 7px}

.LinksListType2 ul {list-style-type:none}
.LinksListType2 ul li {position:relative;margin:0 0 20px 0;border-bottom:1px solid #e3e3e3}

.LinksListType2 ul li.Last {margin:0;border:none}

.LinksListType2 .Title {font:normal 17px/18px 'pt serif'}
.LinksListType2 .Desc {font:normal 13px/14px 'pt serif';color:#6d6d6d;padding:4px 0 0 0}
.LinksListType2 .Link {padding:14px 0 0 0;margin:0 0 20px 0}
.LinksListType2 .Link a {color:#ce2125}

/* ---------------------------------------- SingleMaterialType1 - один материал в боковой колонке */

.SingleMaterialType1 {background:#fff;padding:15px 17px 30px 17px;margin:0 0 11px 0}
.SingleMaterialType1 hr {height:7px;border:0;margin:0 0 14px 0;*margin:-7px 0 7px}

.SingleMaterialType1 .Material {width:206px;min-height:100px;position:relative;margin:0 0 20px 0}

.SingleMaterialType1 .Title {font:normal 17px/18px 'pt serif';padding:166px 0 15px 0}
.SingleMaterialType1 .Image {width:206px;height:150px;position:absolute;top:0;left:0;background:#ccc}

.SingleMaterialType1 .DateAndContent {font-size:11px;color:#b6b6b6;line-height:16px;padding:0;margin:0 0 10px 0}
.SingleMaterialType1 .DateAndContent span {margin:0 17px 0 0}
.SingleMaterialType1 .DateAndContent img {vertical-align:middle;margin:0 5px 0 0}

.SingleMaterialType1 .Desc {font-size:12px;line-height:18px;color:#6a6a6a}

.SingleMaterialType1 .AllLink {font-size:11px}
.SingleMaterialType1 .AllLink a {color:#ce2125}

/* ---------------------------------------- MediaListType1 - боковой список для медиа */

.MediaListType1 {background:#fff;padding:15px 17px 30px 17px;margin:0 0 11px 0}
.MediaListType1 hr {height:7px;border:0;margin:0 0 14px 0;*margin:-7px 0 7px}

.MediaListType1 ul {list-style-type:none}
.MediaListType1 ul li {width:206px;min-height:105px;position:relative;margin:0 0 20px 0;border-bottom:1px solid #e3e3e3;overflow:hidden}

.MediaListType1 ul li.Last {margin:0;border:none}

.MediaListType1 .Title {font:normal 14px/14px 'pt serif';padding:101px 0 0 0;margin:0 0 20px 0}
.MediaListType1 .Image {width:117px;height:85px;position:absolute;top:0;left:0;background:#ccc}

.MediaListType1 .Date {font-size:11px;color:#b6b6b6;position:absolute;top:76px;left:128px}
.MediaListType1 .Duration {font-size:11px;color:#717171;position:absolute;top:58px;left:128px}

/* ---------------------------------------- MediaListType2 - универсальный список для всех медиа */

.MediaListType2 {margin:0 0 8px 0}
.MediaListType2 ul {list-style-type:none}
.MediaListType2 ul li {width:236px;height:300px;background:#333;margin:0 11px 32px 0;float:left;position:relative}

.MediaListType2 ul li.Last {margin:0 0 32px 0}

.MediaListType2 .Title {padding:190px 0 15px 0;margin:0 10px 0 64px;font:normal 14px/15px 'pt serif'}
.MediaListType2 .Title a {color:#fff}
.MediaListType2 .Image {width:236px;height:172px;position:absolute;top:0;left:0;background:#ccc}

.MediaListType2 .MediaData {position:relative}

.MediaListType2 .Date {font-size:11px;color:#767676;line-height:16px;margin:0 0 0 64px;margin:0 0 0 64px;}

.MediaListType2 .ViewCount {padding:0 0 0 20px;font-size:11px;color:#767676;line-height:16px;position:absolute;top:0;right:15px}
.MediaListType2 .ViewCount i {width:16px;height:16px;display:block;background:url(/img3/ListsIcons.png) 0 0 no-repeat;position:absolute;top:0;left:0}

.MediaListType2 .Type {width:36px;height:36px;position:absolute;top:188px;left:18px;background:url(/img3/MediaIcons.png) 0 0 no-repeat;text-indent:-10000px}
.MediaListType2 .Video {background-position:0 0}
.MediaListType2 .Infographics {background-position:-36px 0}
.MediaListType2 .Gallery {background-position:-72px 0}
.MediaListType2 .Audio {background-position:-108px 0}

.MediaListType2 .Exclusive {width:24px;height:31px;display:block;background:url(/img3/Shield2.png) 0 0 no-repeat;position:absolute;top:0px;right:10px;text-indent:-10000px}

.MediaListType2 .AllLink {font-size:12px;line-height:16px}
.MediaListType2 .AllLink a {position:relative;color:#ce2125}
.MediaListType2 .AllLink a i {width:21px;height:16px;display:block;background:url(/img3/Arrows.png) -21px -16px no-repeat;position:absolute;top:-2px;right:-31px}

/* ---------------------------------------- MediaListType3 - дополнительный список для поиска */

.MediaListType3 {margin:0 0 32px 0;border-bottom:1px solid #d9d9d9}

.MediaListType3 ul {list-style-type:none}
.MediaListType3 ul li {width:236px;height:200px;margin:0 11px 20px 0;float:left;position:relative}

.MediaListType3 ul li.Last {margin:0 0 20px 0}

.MediaListType3 .Title {padding:130px 0 15px 0;margin:0 10px 0 3px;font:normal 17px/18px 'pt serif'}
.MediaListType3 .Image {width:156px;height:114px;position:absolute;top:0;left:0;background:#ccc}

.MediaListType3 .Duration {height:25px;display:block;position:absolute;top:89px;background:#ce2125;font-size:11px;line-height:25px;color:#fff;padding:0 14px}

.MediaListType3 .MediaData {position:relative;width:236px;font-size:11px;color:#b6b6b6}

.MediaListType3 .Date {display:none}
.MediaListType3 .ViewCount {display:none}
.MediaListType3 .ViewCount i {}

.MediaListType3 .AllLink {margin:0 0 20px 0;font-size:11px}
.MediaListType3 .AllLink a {color:#ce2125}

/* ---------------------------------------- MaterialsListType1 - универсальный список для всех материалов */

.MaterialsListType1 {min-height:504px}
.MaterialsListType1 ul {list-style-type:none}
.MaterialsListType1 ul li {width:236px;height:220px;margin:0 11px 32px 0;float:left;position:relative}

.MaterialsListType1 ul li.Last {margin:0 0 32px 0}

.MaterialsListType1 .Title {padding:130px 0 15px 0;margin:0 10px 0 3px;font:normal 14px/15px 'pt serif'}
.MaterialsListType1 .NewsTitle {padding:0 0 15px 0;margin:0 10px 0 3px;font:normal 14px/15px 'pt serif'}
.MaterialsListType1 .Image {width:156px;height:114px;position:absolute;top:0;left:0;background:#ccc}

.MaterialsListType1 .DateAndContent {font-size:11px;color:#b6b6b6;line-height:16px;margin:0 0 10px 3px}
.MaterialsListType1 .DateAndContent span {margin:0 17px 0 0}
.MaterialsListType1 .DateAndContent img {vertical-align:middle;margin:0 5px 0 0}

.MaterialsListType1 .Exclusive {width:24px;height:31px;display:block;background:url(/img3/Shield2.png) 0 0 no-repeat;position:absolute;top:0px;left:122px;text-indent:-10000px}

/* ---------------------------------------- MaterialsListType2 - универсальный список для всех материалов c описанием (сюжеты) */

.MaterialsListType2 {min-height:453px}
.MaterialsListType2 ul {list-style-type:none}
.MaterialsListType2 ul li {width:236px;height:420px;margin:0 11px 40px 0;float:left;position:relative;border-bottom:1px solid #d9d9d9}

.MaterialsListType2 ul li.Last {margin:0 0 40px 0}

.MaterialsListType2 .Title {padding:130px 0 15px 0;margin:0 10px 0 3px;font:normal 17px/18px 'pt serif'}
.MaterialsListType2 .NewsTitle {padding:0 0 15px 0;margin:0 10px 0 3px;font:normal 17px/18px 'pt serif'}
.MaterialsListType2 .Image {width:156px;height:114px;position:absolute;top:0;left:0;background:#ccc}

.MaterialsListType2 i {width:156px;height:114px;position:absolute;top:0;left:0}
.MaterialsListType2 .TypeVideo {width:156px;height:114px;background:url(/img3/MaterialTypeVideo.png) 0 0 no-repeat}
.MaterialsListType2 .TypeInfographics {width:156px;height:114px;background:url(/img3/MaterialTypeInfographics.png) 0 0 no-repeat}
.MaterialsListType2 .TypeGallery {width:156px;height:114px;background:url(/img3/MaterialTypeGallery.png) 0 0 no-repeat}
.MaterialsListType2 .TypeAudio {width:156px;height:114px;background:url(/img3/MaterialTypeAudio.png) 0 0 no-repeat}

.MaterialsListType2 .DateAndContent {font-size:11px;color:#b6b6b6;line-height:16px;padding:0 0 10px 0;margin:0 0 0 3px}
.MaterialsListType2 .DateAndContent span {margin:0 17px 0 0}
.MaterialsListType2 .DateAndContent img {vertical-align:middle;margin:0 5px 0 0}

.MaterialsListType2 .Desc {font-size:12px;line-height:18px;color:#6a6a6a;margin:0 17px 0 3px}

/* ---------------------------------------- MaterialsListType3 - боковой список для обсуждаемых тем */

.MaterialsListType3 {background:#fff;padding:15px 17px 30px 17px;margin:0 0 11px 0}
.MaterialsListType3 hr {height:7px;border:0;margin:0 0 14px 0;*margin:-7px 0 7px}
.MaterialsListType3 ul {list-style-type:none}
.MaterialsListType3 ul li {width:206px;min-height:105px;position:relative;margin:0 0 20px 0;border-bottom:1px solid #e3e3e3;overflow:hidden}
.MaterialsListType3 ul li.Last {margin:0;border:none}
.MaterialsListType3 .Title {font:normal 14px/14px 'pt serif';padding:101px 0 0 0;margin:0 0 20px 0}
.MaterialsListType3 .Image {width:117px;height:85px;position:absolute;top:0;left:0;background:#ccc}
.MaterialsListType3 .Date {font-size:11px;color:#b6b6b6;position:absolute;top:76px;left:128px}
.MaterialsListType3 .Duration {font-size:11px;color:#717171;position:absolute;top:58px;left:128px}
.MaterialsListType3 ul li.News {min-height:44px;position:relative}
.MaterialsListType3 ul li.News .Title {padding:13px 0 15px 0;margin:0}
.MaterialsListType3 ul li.News .Date {padding:0;position:static;top:0;left:0}


/* ---------------------------------------- CompoundListType1 - совмещенный список в обвесах материалов */
.CompoundListType1 {margin:0 0 40px 0}
.CompoundListType1 .MediaListType2 {margin:0}
.CompoundListType1 .AllLink {font-size:12px;line-height:16px}
.CompoundListType1 .AllLink a {position:relative;color:#ce2125}
.CompoundListType1 .AllLink a i {width:21px;height:16px;display:block;background:url(/img3/Arrows.png) -21px -16px no-repeat;position:absolute;top:-2px;right:-31px}

/* ---------------------------------------- CompoundListType2 - совмещенный список в обвесах материалов */
.CompoundListType2 {margin:0 0 40px 0}
.CompoundListType2 .AllLink {font-size:12px;line-height:16px}
.CompoundListType2 .AllLink a {position:relative;color:#ce2125}
.CompoundListType2 .AllLink a i {width:21px;height:16px;display:block;background:url(/img3/Arrows.png) -21px -16px no-repeat;position:absolute;top:-2px;right:-31px}

/* ---------------------------------------- AdaptiveColumn - правая адаптивная колонка */

.AdaptiveColumn {position:absolute;top:11px;right:-137px;display:none}

/* ---------------------------------------- AdaptiveColumnList  */

.AdaptiveColumnList {width:126px;background:none;padding:0;margin:0 0 11px 0}
.AdaptiveColumnList hr {height:7px;border:0;margin:0 0 14px 0}
.AdaptiveColumnList ul {list-style-type:none}
.AdaptiveColumnList ul li {width:126px;min-height:105px;position:relative;margin:0 0 20px 0;border-bottom:1px solid #e3e3e3;overflow:hidden}
.AdaptiveColumnList ul li.Last {margin:0;border:none}
.AdaptiveColumnList .Title {font:normal 13px/13px 'pt serif';padding:108px 0 0 0;margin:0 0 20px 0}
.AdaptiveColumnList .Image {width:126px;height:92px;position:absolute;top:0;left:0;background:#ccc}
.AdaptiveColumnList .Date {font-size:11px;line-height:16px;margin:0 0 10px 0;color:#b6b6b6;position:static}
.AdaptiveColumnList .Duration {font-size:11px;color:#717171;position:absolute;top:58px;left:128px}
.AdaptiveColumnList ul li.News {min-height:44px;position:relative}
.AdaptiveColumnList ul li.News .Title {padding:13px 0 15px 0;margin:0}
.AdaptiveColumnList ul li.News .Date {padding:0;position:static;top:0;left:0}

@keyframes RuNet {
0% { transform: rotateY(0deg); }
5% { transform: rotateY(0deg); filter: none; }
15% { transform: rotateY(0deg); filter: saturate(150%) brightness(150%) contrast(90%); }
20% { transform: rotateY(0deg); filter: none; }
50% { transform: rotateY(0deg); }
80% { transform: rotateY(360deg); }
100% { transform: rotateY(360deg); }
}
@-webkit-keyframes RuNet {
0% {-webkit-transform: rotateY(0deg);}
5% { -webkit-transform: rotateY(0deg); -webkit-filter: none; }
15% { -webkit-transform: rotateY(0deg); -webkit-filter: saturate(150%) brightness(150%) contrast(90%); }
20% { -webkit-transform: rotateY(0deg); -webkit-filter: none; }
50% {-webkit-transform: rotateY(0deg);}
80% {-webkit-transform: rotateY(360deg);}
100% {-webkit-transform: rotateY(360deg);} 
}
#fancybox-overlay {z-index:100020 !important}
#fancybox-content {z-index:100025 !important}
#fancybox-wrap {z-index: 100026 !important;}
#fancybox-left, #fancybox-right  {z-index: 100027  !important;}
#fancybox-close {z-index: 100028 !important} 
/*animations*/
/*
.b-logo:before {content:'';display:block;
	width:53px; height:53px;position:absolute;left:10px;top:10px;
	background-image:url(/img/misc/earth_sp_1.gif);background-position:center;
	background-repeat:no-repeat;background-size:56px;box-sizing:border-box;border-radius:50%;box-shadow:0 0 3px #069 inset;
	border:2px solid rgba(50,120,250,0.75);
box-shadow:0 0 5px; z-index:3;
filter: brightness(180%);
-webkit-filter: brightness(180%);
animation:30s appear linear infinite;-webkit-animation:30s appear linear infinite
}
.b-logo {color:rgba(255,255,255,0.35);transition:all 0.5s ease-in-out}
.b-logo:hover {color:#fff}
@keyframes appear {
	0% {opacity:0}
	20% {opacity:0;transform:scale(0.1)}
	25% {opacity:1;transform:scale(1)}
	80% {opacity:1;transform:scale(1)}
	95% {opacity:0; transform:scale(1.1)}
	100% {opacity:0}
}

@-webkit-keyframes appear {
	0% {opacity:0}
	20% {opacity:0;-webkit-transform:scale(0.1)}
	25% {opacity:1;-webkit-transform:scale(1)}
	80% {opacity:1;-webkit-transform:scale(1)}
	95% {opacity:0; -webkit-transform:scale(1.1)}
	100% {opacity:0}
}
.b-logo:after {content:'';width:95px;height:95px;left:-11px;top:-11px;display:block;position:absolute;z-index:2;background-image:url(/img/misc/rocket.png);
	background-position: left;background-repeat: no-repeat;background-size: auto 32px;
animation:30s Orbita linear infinite;-webkit-animation:30s Orbita linear infinite}
@keyframes Orbita {
	0% {opacity:0;transform:rotate(0deg)}
	20% {opacity:0;}
	25% {opacity:1;}
	80% {opacity:1;}
	95% {opacity:0;}
	100% {opacity:0;transform:rotate(720deg)}
}
@-webkit-keyframes Orbita {
	0% {opacity:0;-webkit-transform:rotate(0deg)}
	20% {opacity:0;}
	25% {opacity:1;}
	80% {opacity:1;}
	95% {opacity:0;}
	100% {opacity:0;-webkit-transform:rotate(1080deg)}
}
*/
/*dg2016*/
/*
.b-logo:after{
	display:block;
	content:'';
	position:absolute;
	top:0;
	right:0;
	z-index:1;
	background-image:url(/img/misc/dg2016.gif);
	background-repeat:no-repeat;
	height:100%;
	width:100%;
	animation:15s fromRight linear infinite;
	-webkit-animation:15s fromRight linear infinite;
	opacity:0;
}
@-webkit-keyframes fromRight {
	0% {-webkit-transform:translate(-50%,0);transform:translate(100%,0)}
23% {-webkit-transform:translate(-50%,0);transform:translate(100%,0); opacity:0}
	25% {-webkit-transform:translate(0,0);transform:translate(0,0); opacity:1}
	95% {-webkit-transform:translate(0,0);transform:translate(0,0); opacity:1}
	100% {-webkit-transform:translate(100%,0);transform:translate(0,0); opacity:0}
}
@keyframes fromRight {
	0% {-webkit-transform:translate(-50%,0);transform:translate(100%,0)}
23% {-webkit-transform:translate(-50%,0);transform:translate(100%,0); opacity:0}
	25% {-webkit-transform:translate(0,0);transform:translate(0,0); opacity:1}
	95% {-webkit-transform:translate(0,0);transform:translate(0,0); opacity:1}
	100% {-webkit-transform:translate(100%,0);transform:translate(0,0); opacity:0}
}

.b-logo:before {content:'';
background-image:url(/img/misc/ball-01.png);
background-repeat:no-repeat;
	position:absolute;
	top:0;left:0;
	height:73px;
	width:73px;
	z-index:2;
	animation:15s comeIn linear infinite;
	-webkit-animation:15s comeIn linear infinite;
	opacity:0;
	border-radius:50%;
	background-color:#215eac
}
@-webkit-keyframes comeIn {
	0% {opacity:0;-webkit-transform:scale(0,0);transform:scale(0,0)}
15% {opacity:0;-webkit-transform:scale(0,0);transform:scale(0,0)}
	25% {opacity:1;-webkit-transform:scale(1,1) rotate(-360deg);transform:scale(1,1) rotate(-360deg)}
	30% {background-color:#215eac}
	60% {background-color:#215eac}
	65% {background-color:#fff}
	95% {opacity:1;-webkit-transform:scale(1,1) rotate(720deg);transform:scale(1,1) rotate(720deg);background-color:#fff}
	100% {opacity:0;-webkit-transform:scale(0,0);transform:scale(0,0);background-color:#fff}
}
@keyframes comeIn {
	0% {opacity:0;-webkit-transform:scale(0,0);transform:scale(0,0)}
15% {opacity:0;-webkit-transform:scale(0,0);transform:scale(0,0)}
	25% {opacity:1;-webkit-transform:scale(1,1) rotate(-360deg);transform:scale(1,1) rotate(-360deg)}
	30% {background-color:#215eac}
	60% {background-color:#215eac}
	65% {background-color:#fff}
	95% {opacity:1;-webkit-transform:scale(1,1) rotate(720deg);transform:scale(1,1) rotate(720deg);background-color:#fff}
	100% {opacity:0;-webkit-transform:scale(0,0);transform:scale(0,0);background-color:#fff}
}
*/
/*helloween*/
/*
.b-logo {display:block}
.b-logo:before {content:'';display:block;width:76px;height:76px;left:0;top:0;position:absolute;top:0;left:0;background-color:#420;border-radius:50%;background-image:url(/img/i/hw.svg);background-size:90% auto;background-position:center;
-webkit-animation:Hello 12s ease-in-out infinite;
        animation:Hello 12s ease-in-out infinite;
		box-shadow:0 0 15px rgba(255,255,255,0.3) inset, 0 0 4px rgba(0,0,0,0.5);
border: 1px solid rgba(0,0,0,0.3);
box-sizing: border-box;
background-repeat: no-repeat;
}

@-webkit-keyframes Hello {
	0% {opacity:0}
	20% {opacity:0;-webkit-transform:rotate(-20deg);transform:rotate(-20deg) scale(0.8)}
	25% {-webkit-transform:rotate(20deg) scale(0.8);transform:rotate(20deg) scale(0.8)}
	35% {-webkit-transform:rotate(-20deg) scale(0.8);transform:rotate(-20deg) scale(0.8);background-color:#710;opacity:1}
	45% {-webkit-transform:rotate(20deg) scale(0.8);transform:rotate(20deg) scale(0.8)}
	55% {-webkit-transform:rotate(-20deg);transform:rotate(-20deg); background-color:#d10}
	65% {-webkit-transform:rotate(20deg);transform:rotate(20deg);background-color:#710;opacity:1}
	75% {;-webkit-transform:rotate(-20deg);;transform:rotate(-20deg)}
	80% {-webkit-transform:rotate(20deg);transform:rotate(20deg);}
	85% {-webkit-transform:rotate(-20deg);transform:rotate(-20deg);background-color:#d10}
	80% {-webkit-transform:rotate(0deg) scale(1.3);transform:rotate(0deg) scale(1.3);opacity:1}
	95% {opacity:1;-webkit-transform:rotate(0deg) scale(0.8);transform:rotate(0deg) scale(0.8);}
	100% {opacity:0;-webkit-transform:rotate(0deg) scale(0.8);transform:rotate(0deg) scale(0.8);}
}
@keyframes Hello {
	0% {opacity:0}
	20% {opacity:0;-webkit-transform:rotate(-20deg);transform:rotate(-20deg) scale(0.8)}
	25% {-webkit-transform:rotate(20deg) scale(0.8);transform:rotate(20deg) scale(0.8)}
	35% {-webkit-transform:rotate(-20deg) scale(0.8);transform:rotate(-20deg) scale(0.8);background-color:#710;opacity:1}
	45% {-webkit-transform:rotate(20deg) scale(0.8);transform:rotate(20deg) scale(0.8)}
	55% {-webkit-transform:rotate(-20deg);transform:rotate(-20deg); background-color:#d10}
	65% {-webkit-transform:rotate(20deg);transform:rotate(20deg);background-color:#710;opacity:1}
	75% {;-webkit-transform:rotate(-20deg);;transform:rotate(-20deg)}
	80% {-webkit-transform:rotate(20deg);transform:rotate(20deg);}
	85% {-webkit-transform:rotate(-20deg);transform:rotate(-20deg);background-color:#d10}
	80% {-webkit-transform:rotate(0deg) scale(1.3);transform:rotate(0deg) scale(1.3);opacity:1}
	95% {opacity:1;-webkit-transform:rotate(0deg) scale(0.8);transform:rotate(0deg) scale(0.8);}
	100% {opacity:0;-webkit-transform:rotate(0deg) scale(0.8);transform:rotate(0deg) scale(0.8);}
}

*/