@charset "UTF-8";

/* adunit */
.adunit_rectangle {width:100%; text-align:center; clear:both; overflow:hidden; padding:0 0 20px 0;}
.adunit_leaderboard {width:100%; float:left; text-align:center; clear:both; overflow:hidden; padding:20px 0;}
.adunit_leaderboard > div {width:1280px; margin:0 auto; text-align:center;}
.adunit_leaderboard #article_center_middle5_computer {width:100%; margin:0 auto; text-align:center;}

#adunit_video {width:100%; float:left; overflow:hidden;}
#adunit_video > div {margin:0 auto;}
.adunit_leaderboard_phone { width: 320px; margin: 0 auto; text-align: center;}

/* rectangle */
#adunit_main_right_top_computer {}
#adunit_main_right_middle1_computer {}
#adunit_main_right_middle2_computer {}
#adunit_article_right_top_computer {}
#adunit_article_right_middle1_computer {}
#adunit_article_right_middle2_computer {}
#adunit_article_center_middle1_computer {width:320px!important; clear:left; margin-right:20px; float:left;}
#adunit_article_center_middle2_computer {width:50%!important; clear:none; float:left;}
#adunit_article_center_middle3_computer {width:50%!important; clear:none; float:left;}
#adunit_article_center_middle16_computer {width:50%!important; clear:none; float:left;}
#adunit_article_center_middle4_computer {}
#adunit_section_right_top_computer {}
#adunit_section_right_middle1_computer {}
#adunit_section_right_middle2_computer {}

/* leaderboard */
#adunit_main_center_bottom_computer {}
#adunit_article_center_top_computer {padding-top:0!important;}
#adunit_article_center_bottom_computer {}
#adunit_section_center_top_computer {padding-top:0!important;}
#adunit_section_center_bottom_computer {}

/* mobile ad */
.adunit_rectangle_phone {width:100%; float:left; text-align:center; clear:both; display:block; overflow:hidden; margin:0 auto; padding:20px 0;}

#adunit_article_center_top_phone, #adunit_section_center_top_phone {padding:80px 0 20px;}
#adunit_article_center_phone {}
#adunit_article_center_middle1_phone {}
#adunit_article_center_middle2_phone {}
#adunit_article_center_middle3_phone {}
#adunit_article_center_middle4_phone {}
#adunit_article_center_middle5_phone {width:90%; float:left; text-align:center; clear:both; display:block; overflow:hidden; margin:20px 5%;}

#adunit_article_center_middle6_phone {width:90%; float:left; text-align:center; clear:both; display:block; overflow:hidden; margin:20px 5%;}
#adunit_article_center_middle7_phone {width:100%; float:left; text-align:center; clear:both; display:block; overflow:hidden; margin:0 auto; padding:10px 0;}
#adunit_article_center_bottom_phone {width:100%; position:fixed; bottom:-5px; text-align:center; clear:both; display:block; overflow:hidden; margin:0 auto;}

/* video_slide */
#adunit_video_slide {width:100%; float:left; overflow:hidden;}


@media screen and (max-width:1280px) {
.adunit_leaderboard > div {width:1000px;}
}
@media screen and (max-width:728px) {
.adunit_leaderboard {display:none;}
}

/* special */
.bk-tlounge .t-hdline .box2 > div.adunit_rectangle {padding:0;}

/* sticky */
.sticky-right {
    position: fixed;
    width:400px;
    background-color: #eee!important;
    z-index: 1000000;
}
.sticky-center {
    position: fixed;
    z-index: 1000000;
}