.disclaimer-age-verification {
    display: none;
    width: 509px;
    background: rgba(0, 0, 0, 0.4);
    padding: 3px 7px;
    margin-left: -60px;
}

.country-ru .disclaimer-age-verification { display: block; }

.disclaimer-age-verification span {
    font-size: 15px;
    color: #A8A8A8;
    margin: 15px 0px 7px;
    display: block;
}

.age-verification {
    width: 330px;
    margin: auto;
    padding-bottom: 15px;
    text-align: left;
}

.age-verification input[type="text"] {
    padding: 3px 7px;
    width: 42px;
    border: 1px solid #000;
    text-align: center;
}

.age-verification .input-select-country {
    width: 135px;
    border: 1px solid #000;
    float: right;
    padding: 3px 7px 4px;
}

.disclaimer-age-verification.verification-error span {
    font-family: latobold;
    color: #FF0054;
}

.disclaimer-age-verification.verification-error .age-verification input[type="text"] {
    border-color: #FF0054;
}

.disclaimer-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.65);
    overflow-x: hidden;
    display: none;
}

.disclaimer-overlay div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -104px;
    margin-left: -230px;
    font-size: 28px;
    font-family: latoregular;
    color: #FF005A;
    background-color: #FFF;
    width: 450px;
    height: 207px;
    padding: 15px;
}

.disclaimer-overlay div p {
    margin: 35px;
    line-height: 1em;
    text-align: center;
    font-weight: bold;
}

.disclaimer-overlay .disclaimer-goback {
    background: #51dbff;
    color: #000;
    padding: 17px 29px 14px;
    font-size: 21px;
    margin: auto;
    border: none;
    display: block;
    cursor: pointer;
}

.disclaimer-overlay .disclaimer-goback:hover { background: #35cbff; }

.disclaimer-overlay .overlay-close {
    cursor: pointer;
    color: #a1a1a1;
    float: right;
    display: block;
    font-size: 11px;
}

::-webkit-input-placeholder { /* Chrome */
    color: #000;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #000;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #000;
    opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
    color: #000;
    opacity: 1;
}
