/* .als-container {
	position: relative;
    width: 100%;
    margin: 0px auto;
    clear: both;
} */
.als-viewport {
	position: relative;
	overflow: hidden;
	margin: 0px auto;
}
.als-wrapper {
	position: relative;
	list-style: none;
	margin-left: 5px;
}
/* .als-item {
	position: relative;
	display: block;
	cursor: pointer;
	float: left;
	margin: 15px 24px 0 1px;
	min-height: 30px;
	// min-width: 100px;
} */
.season-item {
	text-align: center;
	margin: 8px 9px 0 9px;
}
.als-prev, .als-next {
	position: absolute;
	cursor: pointer;
	clear: both;
}
.als-item img {
	position: relative;
	display: block;
	vertical-align: middle;
}
.als-prev, .als-next {
	top: 38%;
}
/* .als-prev {
	left: -60px;
}
.als-next {
	right: -60px;
}
.arrow-left-img {
	background-image: url(/resources/image/arrow_normal_80.png);
	background-position: center center;
	width: 60px;
	height: 60px;
}
.arrow-right-img {
	background-image: url(/resources/image/arrow_normal_80_left.png);
	background-position: center center;
	width: 60px;
	height: 60px;
}
.arrow-left-img:hover {
	background-image: url(/resources/image/arrow_hover_80.png);
	background-position: center center;
	width: 60px;
	height: 60px;
}
.arrow-right-img:hover {
	background-image: url(/resources/image/arrow_hover_80_left.png);
	background-position: center center;
	width: 60px;
	height: 60px;
}
.recommend-img {
	width: 274px;
	height: 168px;
	box-shadow: 0px 0px 10px 1px #999;
}
.recommend-img:hover {
	box-shadow: 0px 0px 6px 3px #4f2463;
}
.poster-img {
	width: 155px;
	height: 218px;
	box-shadow: 0px 0px 6px 1px #aaa;
	background-position: center center;
	display: block;
}
.poster-img.horizontal {
	width: 215px;
	height: 121px;
	box-shadow: 0px 0px 6px 1px #aaa;
	background-position: center center;
	display: block;
	position: relative;
}
.poster-img.horizontal span {
	border-radius: 4px;
  	font-size: 15px;
  	padding: 0 5px;
  	background: rgba(0,0,0,0.6);
  	bottom: 4px;
  	position: absolute;
 	right: 4px;
  	color: #fff;
  	text-shadow: 1px 1px 3px #000;
} */
.player-poster-block:hover {
	box-shadow: 0px 0px 6px 3px #4f2463;
}
.player-poster-block{
	position: relative;
}
.related-img {
	width: 209px;
	height: 118px;
	box-shadow: 0px 0px 6px 1px #aaa;
	background-position: center center;
}
.related-img:hover {
	box-shadow: 0px 0px 6px 3px #4f2463;
}
/* .detailholder {
   bottom: 0;
   width: 155px;
   margin-top: 7px;
   position: relative;
   font-size: 14px;
   height: 50px;
} */
.detailholder-related {
   bottom: 0;
   width: 209px;
}
.detailholder-related > .showbiz-title,
.showbiz-title a,
.showbiz-title a:visited,
.showbiz-title a:hover {
	font-size: 16px;
	display: block;
	height: 22px;
}
/* .showbiz-title,
.showbiz-title a,
.showbiz-title a:visited,
.showbiz-title a:hover {
	display: inline-block;
   font-size: 17px;
   text-decoration: none;
   width: 100%;
   height: 22px;
	overflow: hidden;
} */
.showbiz-title.movie_showbiz,
.showbiz-title.movie_showbiz a,
.showbiz-title.movie_showbiz a:visited,
.showbiz-title.movie_showbiz a:hover {
    width: 77%;
}
/* .showbiz-score,
.showbiz-score a,
.showbiz-score a:visited,
.showbiz-score a:hover {
	color: #f5690a;
   font-size: 18px;
   text-transform: uppercase;
   height: 22px;
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: #efefef;
	padding-left: 6px;
}
.detailholder p {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 0;
    height: 22px;
    line-height: 22px;
    margin-top: -6px;
    font-size: 14px;
}
.showbiz-season,
.showbiz-season a,
.showbiz-season a:visited,
.showbiz-season a:hover {
   display: inline-block;
   overflow: hidden;
	padding: 2px 8px;
	background-color: #dfdfdf;
	border: 1px solid #dfdfdf;
	width: 115px;
} */