@charset "utf-8";
/* CSS Document */
#fichaFull .saltodelinea{
	clear:both;
	margin-top:5px;
	margin-bottom:5px;
}
#fichaFull .title{
	background-image:url(fichaFull/sbl_cine.png);
	background-repeat:no-repeat;
	padding-left:28px;
	padding-top:4px;
	color:#039;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}
#fichaFull .subtitle{
	color:#333;
	font-size:13px;
	font-weight:bold;
}
#fichaFull .cartilla{
	width:640px;
	margin-top:10px;
}
#fichaFull .cartilla .left{
	float:left;
	border:2px solid #309;
}
#fichaFull .cartilla .right{
	float:left;
	padding-left:10px;
	width:375px;
}
#fichaFull .cartilla .right .btn_more, #fichaFull .cartilla .right .btn_min{
	float:left;
	background-repeat:no-repeat;
	padding-left:22px;
	padding-top:2px;
	height:26px;
}
#fichaFull .cartilla .right .btn_more{
	background-image:url(fichaFull/BackgrounMasOpcion.gif);
	background-position: 0px 1px;
}
#fichaFull .cartilla .right .btn_min{
	background-image:url(fichaFull/BackgrounMasOpcion.gif);
	background-repeat: no-repeat;
	background-position: 0px -27px;
	height: 25px;
}
#fichaFull .cartilla .right .btn_more .txt, #fichaFull .cartilla .right .btn_min .txt{
	width:290px;
	height:19px;
	padding-top:3px;
	padding-left:7px;
	font-weight:bold;
	font-size:13px;
	color:#666;
}
#fichaFull .titleAp{
	background-color:#FAFAFA;
	border:1px solid #d7d7d7;
	padding:4px;
	width:260px;	
}
#fichaFull .titleAp h1{
	color:#ff6800;
	font-size:18px;	
}
#fichaFull .titleAp h2{
	color:#309;
	font-size:17px;
	padding:0px;
	margin:0px;
	width:auto;
}
#fichaFull .cartilla .right #titleImg h2{
	background-image:url(fichaFull/sbl_camara.png);
	background-repeat:no-repeat;
	padding-left:34px;
	padding-top:5px;
	height:25px;
}
#fichaFull #titleSnp h2{
	background-image:url(fichaFull/sbl_paper.png);
	background-repeat:no-repeat;
	padding-left:30px;
	padding-top:2px;
	height:28px;
}
#fichaFull .clipData {
	background-image:url(fichaFull/sbl_paper.png);
	background-repeat:no-repeat;
	padding-left:35px;
	padding-top:2px;
	color: #333;
	clear: both;
	border: 1px solid #d7d7d7;
	margin-bottom: 10px;
	background-position: 5px 3px;
}

#fichaFull #titleDes h5{
	background-image:url(fichaFull/sbl_box.png);
	background-repeat:no-repeat;
	padding-left:30px;
	padding-top:2px;
	height:28px;
}
#fichaFull .cartilla .right .photos{
	padding-top:4px;
	padding-bottom:4px;
}
#fichaFull .cartilla .right .photos img{
	max-width:130px;
	max-height:100px;
	margin:2px;
}
#fichaFull .links{
	padding:5px;
	width:285px;
	height:20px;
	padding-top:29px;
	padding-left:10px;
}
#fichaFull .links:hover {
	padding:5px;
	width:285px;
	height:20px;
	padding-top:29px;
	padding-left:10px;
	background-repeat: no-repeat;
	background-position: -300px 0px;
}
#fichaFull .links .txt{
	display:block;
	color:#33F;
	width:275px;
	height:16px;
	overflow:hidden;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
}
#fichaFull .links .txt:hover {
	color: #00C;
}

#fichaFull #link_dd{
	background-image:url(fichaFull/dd.gif);
	background-repeat:no-repeat;
	margin-top:4px;
	height: 20px;
	width: 285px;
}
#fichaFull #link_tt{
	background-image:url(fichaFull/tt.gif);
	background-repeat:no-repeat;
	margin-top:4px;
	height: 20px;
	width: 285px;
}
#fichaFull #link_em{
	background-image:url(fichaFull/em.gif);
	background-repeat:no-repeat;
	margin-top:4px;
	height: 22px;
	width: 285px;
}
#fichaFull #link_on{
	background-image:url(fichaFull/on.gif);
	background-repeat:no-repeat;
	margin-top:4px;
	height: 20px;
	width: 285px;
}
#fichaFull .sinopsis{
	color:#000;
	padding-top:8px;
	padding-bottom:8px;
	text-align:left;
	margin:5px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 16px;
}
#fichaFull .descAdicionales{
	float:left;
	margin-top: 20px;
}
#fichaFull .ads1{
	margin-left:3px;
	float:left;
}
#fichaFull .moreOptions{
	clear:both;
	padding:0px;
	background-color:#F3F3F3;
	width:289px;
	margin-left:0px;
	font-size:12px;
	line-height:20px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #E3E3E3;
	border-right-color: #E3E3E3;
	border-bottom-color: #E3E3E3;
	border-left-color: #E3E3E3;
	margin-top: -3px;
	color: #333;
}
#fichaFull a{
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333;
}
#fichaFull a:hover{
	text-decoration:underline;
}
.box #moreOptions .Opciones_Alertasfull {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	display: block;
	padding-left: 20px;
	background-image: url(imgs/mini_iconos.gif);
	background-position: 3px -37px;
	background-repeat: no-repeat;
	padding-top: 1px;
	height: 20px;
	width: 270px;
	padding-bottom: 2px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #F3F3F3;
	border-right-color: #CCC;
	border-bottom-color: #F3F3F3;
	border-left-color: #CCC;
}
.box #moreOptions .Opciones_Alertasfull:hover {
	color: #222;
	background-position: 5px -37px;
	background-color:#EBEBEB;
	text-decoration:none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #E3E3E3;
	border-right-color: #E3E3E3;
	border-bottom-color: #E3E3E3;
	border-left-color: #E3E3E3;
}
.categoriaFicha {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	display: block;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
}
.categoriaFicha:hover {
	text-decoration:underline;
}
.categoriaFichaNo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	display: block;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
}
.categoriaFichaNo:hover {
	text-decoration:underline;
}

.opcionesTrailer{
	text-align:center;
	color:#06C;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

.opcionesTrailer .btnReportar{
	text-align:center;
	color:#06C;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	}
