* {
  font-family: "Trebuchet MS",Helvetica,Arial,Trebuchet,Verdana,sans-serif;
  font-size:14px;
}
body {
	margin: 0px;
	max-width:1000px;
	min-width:880px;
}

.resize{
	max-width:984px;
	min-width:880px;
	width:expression(document.body.clientWidth > 984 ? "984px":( document.body.clientWidth < 880? "880px" : "100%" ));
}
p {
  margin: 12px 0px 12px 0px; padding: 1px 0px;
  _margin: 19px 0px;_padding: 0px;
}
div.boite4 {
  background:#ffffff url(http://img.ke.orange.fr/I/orange/ba1.gif) top left repeat;
  width:745px;
  height:220px;
  padding : 10px 0px 0px 10px;
  margin-left: 25px;
}
div.boite1Header {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.3em;
 	padding: 15px 0px 0px 15px;
 	margin:0px;
	display:block;
} 
.bbody p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
} 
div.boite1Header h3{
	color: #FF6600;  
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	font-size:26px;
	padding-left:20px;
	vertical-align: bottom;
	line-height:50px;
	margin:0px 0px 0px 5px;
}
div.boite1Header img{
  float:left;
  margin: 10px 30px 100px 0px;
}
div.bbody {margin:0px;padding: 0px; border:0px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  font-weight:normal;
  line-height: 15px;
  color : #444444;  
  
}
div.ba1 {
  background:#ffffff url(http://img.ke.orange.fr/I/orange/ba1.gif) top left repeat;
  width:620px; height:10px;
}
div.ba1b {
  background:#ffffff url(http://img.ke.orange.fr/I/orange/ba1.gif) top left repeat;
  width:10px;float:left;
  height:inherit;
}
div.bbody {
  background-color:#FFFFFF;
  padding-left:10px;
  width:720px;
  float:left;
  height:200px;
  border:1px solid #D6D6D6;
}
div.bb {
  float:left;
  position:relative;
}
div.bb1 {
  background:#ffffff url(http://img.ke.orange.fr/I/orange/bb1.gif) top left no-repeat;
  height: 6px; width:9px;

}
div.bb2 {
  background:#ffffff url(http://img.ke.orange.fr/I/orange/bb2.gif) top left repeat;
  width:9px;
  height: 195px;
  _height:208px;
}
div.bc1 {
  line-height: 9px;
  background:#ffffff url(http://img.ke.orange.fr/I/orange/bc1.gif) top left no-repeat;
  width: 20px; height:9px;float: left;
}
div.bc2 {
  float: left;
  line-height: 9px;
  height: 9px;
  width:712px;
  _width:700px;
  background:#ffffff url(http://img.ke.orange.fr/I/orange/bc2.gif) top left repeat-x;
}
div.bc3 {
  float: left;
  background:#ffffff url(http://img.ke.orange.fr/I/orange/bc3.gif) top left no-repeat;
  width: 9px; height: 9px;line-height: 9px; 
}

/*  page d'erreur ou zero reponses  */
#colSpons {
	width:135px;
}
#colSpons .heado {
/*  font-family:"Arial"; */
	height:22px;
	padding:0px 0px 0px 4px;
	margin:0px 0px 6px 0px; border-bottom: 1px solid #DDDDDD; width: 130px;
}
#colSpons .titleo {
	padding:0px 2px 0px 0px;
	margin:0;
	text-align:left;
	font-size:12px;
	font-weight:bold;
	color:#333333;
}
#colSpons .content {
	margin:0;
	padding:0 0px 0px 4px;
	vertical-align:middle;
	text-align:left;
	font-size:11px;
	font-weight:normal;
}
#colSpons ul {
  padding:0px;
  margin:0px;
}
#colSpons li {
  line-height: 17px;
  padding:0 0 0 0;
  margin:0 0 0 0px;
  list-style-type:none;
  color : #FF6600;
  font-weight: bold;
  font-size: 12px;
  font-family: "Trebuchet MS",Helvetica,Arial,Trebuchet,Verdana,sans-serif;
}
#colSpons a, #colSpons a:visited, #colSpons a:hover {
	color:#333333; font-size: 0.9em;font-weight: normal;
	text-decoration:none;
}
.err_colSponsbox {
  margin-left: 20px;
}
.err_desc {
	text-align: left;

	padding: 30px 10px 12px 0px;
	font-size: 12px;
  font-family: "Trebuchet MS",Helvetica,Arial,Trebuchet,Verdana,sans-serif;
	font-weight: bold;
	color : #333333;
}




/**********************************************
 ********** DIV FOOTER
 *********************************************/

#o_footer ul				{	margin: 0px; margin-top:10px;	padding:3px;		border-top:5px solid #FF6600}
#o_footer ul li				{	float:left;		list-style: none;	display: block;line-height: 14px;}
#o_footer ul li.logo		{	width:100px;	padding-left:10px;	}
#o_footer ul li.grey666666	{	color:#666666;	font-size:10px;	padding-right:4px;	padding-top:2px;	}

#o_footer a					{	text-decoration:none;}
#o_footer a:hover			{	text-decoration:underline;}
#o_footer a.withLeftBorder	{	color:#000000;	padding-right:4px;	padding-left:4px;	border-left:1px solid #FF6600;	font-size:10px;	}

.searchFormTxtAutoS {
  font-family: 'courrier new', sans-serif;
  font-size: 12px;
  width: 340px;
  height: 20px;
  padding:0px;
  margin-left:0px;
  background-color:#EEEEEE;
  color:#000000;
  border-bottom:1px solid #CCCCCC;
  border-right:1px solid #CCCCCC;
  margin-top:4px;
  }
.table_mots td {
  vertical-align: top;
}
