/* Menu portales - Footer */

.zone-footer .menu-name-menu-logos-portales-eu {
  background: #f7f7f7 url("/sites/all/themes/eluniverso/images/barraPortales/sep_footer.gif") no-repeat scroll center top;
  padding: 20px 0 10px 0;
  float: left;
  width: 100%;
  overflow: hidden;
 }

.zone-footer .menu-name-menu-logos-portales-eu ul.menu { list-style:none; clear:both; float:left; position:relative; left:50%; text-align:center; }

.zone-footer .menu-name-menu-logos-portales-eu li.leaf, .zone-footer .menu-name-menu-logos-portales-eu li.expanded { color:#666; list-style:none; display:block; float:left; position:relative; right:50%; }
.zone-footer .menu-name-menu-logos-portales-eu li.leaf span { display:none; visibility:hidden; }
.zone-footer .menu-name-menu-logos-portales-eu li.leaf a { display:block; padding:0 7px; text-indent:-10000px; }
.zone-footer .menu-name-menu-logos-portales-eu li.leaf a.eluniverso { width:90px; height:20px; background:url('../images/barraPortales/logos_portales.png') no-repeat 0 0; }
.zone-footer .menu-name-menu-logos-portales-eu li.leaf a.eluniverso:hover { background-position:0 -18px; }
.zone-footer .menu-name-menu-logos-portales-eu li.leaf a.marcador { width:90px; height:22px; background:url('../images/barraPortales/logos_portales.png') no-repeat 0 -40px; }
.zone-footer .menu-name-menu-logos-portales-eu li.leaf a.marcador:hover { background-position:0 -63px; }
.zone-footer .menu-name-menu-logos-portales-eu li.leaf a.larevista { width:90px; height:22px; background:url('../images/barraPortales/logos_portales.png') no-repeat 0 -86px; }
.zone-footer .menu-name-menu-logos-portales-eu li.leaf a.larevista:hover { background-position:0 -108px; }
.zone-footer .menu-name-menu-logos-portales-eu li.leaf a.sambo { width:90px; height:25px; background:url('../images/barraPortales/logos_portales.png') no-repeat 0 -128px; }
.zone-footer .menu-name-menu-logos-portales-eu li.leaf a.sambo:hover { background-position:0 -158px; }
.zone-footer .menu-name-menu-logos-portales-eu li.leaf a.club { width:90px; height:28px; background:url('../images/barraPortales/logos_portales.png') no-repeat 0 -184px; }
.zone-footer .menu-name-menu-logos-portales-eu li.leaf a.club:hover { background-position:0 -214px; }
.zone-footer .menu-name-menu-logos-portales-eu li.leaf a.autos { width:90px; height:28px;background:url('../images/barraPortales/logos_portales.png') no-repeat 0 -240px; }
.zone-footer .menu-name-menu-logos-portales-eu li.leaf a.autos:hover { background-position:0 -269px; }
.zone-footer .menu-name-menu-logos-portales-eu li.leaf a.interbarriales { width:90px; height:23px; background:url('../images/barraPortales/logos_portales.png') no-repeat 0 -327px; }
.zone-footer .menu-name-menu-logos-portales-eu li.leaf a.interbarriales:hover { background-position:0 -300px; }
.zone-footer .menu-name-menu-logos-portales-eu li.leaf a.doctorTecno { width:90px; height:32px; background:url('../images/barraPortales/logos_portales.png') no-repeat 0 -385px; }
.zone-footer .menu-name-menu-logos-portales-eu li.leaf a.doctorTecno:hover { background-position:0 -352px; }
.zone-footer .menu-name-menu-logos-portales-eu li.leaf a.laredso { width:90px; height:40px; background:url('../images/barraPortales/logos_portales.png') no-repeat 0 -460px; }
.zone-footer .menu-name-menu-logos-portales-eu li.leaf a.laredso:hover { background-position:0 -421px; }
.zone-footer .menu-name-menu-logos-portales-eu li.leaf a.fundacion { width:90px; height:22px; background:url('../images/barraPortales/logos_portales.png') no-repeat 0 -63px; }
.zone-footer .menu-name-menu-logos-portales-eu li.leaf a.fundacion:hover { background-position: 0 -38px; }
.zone-footer .menu-name-menu-logos-portales-eu li.leaf a.radiocity { width: 90px;height: 34px;background: transparent url("../images/barraPortales/logos_portales.png") no-repeat scroll 0px -537px; }
.zone-footer .menu-name-menu-logos-portales-eu li.leaf a.radiocity:hover { background-position: 0 -502px; }
.zone-footer li.expanded .nolink { display: none; visibility: hidden; }
