@charset "UTF-8";


img.mb-car-logo-menu
{
    width: 20px !important;
    margin-right: 5px;
    margin-top: -4px;
}

/* tags */
.mb-car-relative
{
    padding-top: 10px;
    padding-bottom: 10px;
    background: #F3F6FB;
}

.mb-car-relative-title
{

}

.mb-car-relative-tags a
{
    color: #E88B35;
    border: 1px dashed #d7d7d7;
    background: #FFF;
    display: inline-block;
    padding: 4px 7px;
    margin: 3px 0px;
    font-size: 17px;
    white-space: nowrap;
}

.fa-icon-unicode
{
    font-family: 'FontAwesome', Helvetica;
}

img.mb-car-img-logo
{
    height: 75%;
    /*margin-left: 30px;*/
}

.mb-car-breadcrumb
{
    border: 1px solid #E9EAED;
    margin: 5px auto;
}

.mb-car-breadcrumb ul
{
    list-style-type: none;
    background: url('/wp-content/themes/xehoiviet/images/nav_menu.png') repeat-x;
    overflow: hidden;
    padding: 0px 3px;
    height: 42px;
    margin: 0px auto;
}

.header
{
	text-align: left !important;
}

.mb-car-breadcrumb li
{
    color: #E88B35;
    float: left;
    background-image: url('/wp-content/themes/xehoiviet/images/line_nav.png');
    background-repeat: no-repeat;
    background-position: right center;
    padding: 6px 25px 12px 10px;
}

.mb-car-breadcrumb li a
{
    color: #E88B35;
    padding: 0px 3px;
    white-space: nowrap;
}
/* mmenu */
.mm-menu {
    /*background: #440011 !important;*/
    background: #4C4C4C !important;
    display: none;
    width: 300px !important;
    color: #e8e8e8 !important;
}
.mm-navbar {
    text-align: center;
    position: relative;
    border-bottom: none !important;
}
.mm-navbar:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 1px;
}
.mm-navbar > * {
    display: inline-block !important;
    vertical-align: middle;
}
.mm-navbar .mm-title {
    width: 99%;
    text-transform: uppercase;
    color: #e8e8e8 !important;
}
.mm-navbar .avatar img {
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 60px;
    width: 60px;
    height: 60px;
    padding: 1px;
    margin: 0 10px;
    background: #efefef;
}
.mm-navbar .avatar {
    width: 80px;
}
.mm-navbar .full-name, .mm-navbar .username {
    text-align: center;
    text-align: left;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mm-navbar .user-info {
    width: 210px;
    color: #e8e8e8 !important;
}
/*            .mm-navbar a {
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 40px;
    color: rgba(255, 255, 255, 0.6) !important;
    font-size: 16px !important;
    line-height: 40px;
    width: 40px;
    height: 40px;
    padding: 0;
}*/
.mm-navbar a:hover {
    border-color: #fff;
    color: #fff !important;
}
.mm-listview {
    text-transform: uppercase;
    font-size: 12px;
}
.mm-listview li:last-child:after {
    content: none;
    display: none;
}
.mm-listview li:after {
    left: 20px !important;
    right: 20px !important;
}
.mm-listview a {
    /*text-align: center;*/
    padding: 10px 0 10px 45px !important;
}
ul.main-parent > li > a {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.mm-listview a,
.mm-listview .fa {
    color: #aaa;
}
.mm-listview a:hover,
.mm-listview a:hover .fa {
    color: #fff;
}
.mm-listview .fa, .mm-listview li a img  {
    position: absolute;
    left: 20px;
}
.main-parent.mm-listview > li > a > span.fa {
    top: 22px;
}
.mm-listview .mm-next:before {
    border-left: none !important;
}
.mm-listview > li > .submenu-counter {
    padding: 0 10px 0 20px;
    text-transform: normal;
}
span.submenu-counter-right {
    position: absolute;
    right: 24px;
    color: grey;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2999;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
    box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
}
.login-page-tools > a {
    padding: 5px 10px;
    color: #fff !important;
    border: 1px solid #fff;
    margin: 0 5px;
    border-radius: 4px;
    display: inline-block;
    width: 120px;
}
.login-page-tools > a:nth-child(2) {
    background: #fff;
    color: #4c4c4c !important;
}
/* mmenu */


/* list width theo % */
.toggle-topbar {

}

/* line 4,  */

.car-width-1 {
    width: 1% !important;
}


/* line 4,  */

.car-width-2 {
    width: 2% !important;
}


/* line 4,  */

.car-width-3 {
    width: 3% !important;
}


/* line 4,  */

.car-width-4 {
    width: 4% !important;
}


/* line 4,  */

.car-width-5 {
    width: 5% !important;
}


/* line 4,  */

.car-width-6 {
    width: 6% !important;
}


/* line 4,  */

.car-width-7 {
    width: 7% !important;
}


/* line 4,  */

.car-width-8 {
    width: 8% !important;
}


/* line 4,  */

.car-width-9 {
    width: 9% !important;
}


/* line 4,  */

.car-width-10 {
    width: 10% !important;
}


/* line 4,  */

.car-width-11 {
    width: 11% !important;
}


/* line 4,  */

.car-width-12 {
    width: 12% !important;
}


/* line 4,  */

.car-width-13 {
    width: 13% !important;
}


/* line 4,  */

.car-width-14 {
    width: 14% !important;
}


/* line 4,  */

.car-width-15 {
    width: 15% !important;
}


/* line 4,  */

.car-width-16 {
    width: 16% !important;
}


/* line 4,  */

.car-width-17 {
    width: 17% !important;
}


/* line 4,  */

.car-width-18 {
    width: 18% !important;
}


/* line 4,  */

.car-width-19 {
    width: 19% !important;
}


/* line 4,  */

.car-width-20 {
    width: 20% !important;
}


/* line 4,  */

.car-width-21 {
    width: 21% !important;
}


/* line 4,  */

.car-width-22 {
    width: 22% !important;
}


/* line 4,  */

.car-width-23 {
    width: 23% !important;
}


/* line 4,  */

.car-width-24 {
    width: 24% !important;
}


/* line 4,  */

.car-width-25 {
    width: 25% !important;
}


/* line 4,  */

.car-width-26 {
    width: 26% !important;
}


/* line 4,  */

.car-width-27 {
    width: 27% !important;
}


/* line 4,  */

.car-width-28 {
    width: 28% !important;
}


/* line 4,  */

.car-width-29 {
    width: 29% !important;
}


/* line 4,  */

.car-width-30 {
    width: 30% !important;
}


/* line 4,  */

.car-width-31 {
    width: 31% !important;
}


/* line 4,  */

.car-width-32 {
    width: 32% !important;
}


/* line 4,  */

.car-width-33 {
    width: 33% !important;
}


/* line 4,  */

.car-width-34 {
    width: 34% !important;
}


/* line 4,  */

.car-width-35 {
    width: 35% !important;
}


/* line 4,  */

.car-width-36 {
    width: 36% !important;
}


/* line 4,  */

.car-width-37 {
    width: 37% !important;
}


/* line 4,  */

.car-width-38 {
    width: 38% !important;
}


/* line 4,  */

.car-width-39 {
    width: 39% !important;
}


/* line 4,  */

.car-width-40 {
    width: 40% !important;
}


/* line 4,  */

.car-width-41 {
    width: 41% !important;
}


/* line 4,  */

.car-width-42 {
    width: 42% !important;
}


/* line 4,  */

.car-width-43 {
    width: 43% !important;
}


/* line 4,  */

.car-width-44 {
    width: 44% !important;
}


/* line 4,  */

.car-width-45 {
    width: 45% !important;
}


/* line 4,  */

.car-width-46 {
    width: 46% !important;
}


/* line 4,  */

.car-width-47 {
    width: 47% !important;
}


/* line 4,  */

.car-width-48 {
    width: 48% !important;
}


/* line 4,  */

.car-width-49 {
    width: 49% !important;
}


/* line 4,  */

.car-width-50 {
    width: 50% !important;
}


/* line 4,  */

.car-width-51 {
    width: 51% !important;
}


/* line 4,  */

.car-width-52 {
    width: 52% !important;
}


/* line 4,  */

.car-width-53 {
    width: 53% !important;
}


/* line 4,  */

.car-width-54 {
    width: 54% !important;
}


/* line 4,  */

.car-width-55 {
    width: 55% !important;
}


/* line 4,  */

.car-width-56 {
    width: 56% !important;
}


/* line 4,  */

.car-width-57 {
    width: 57% !important;
}


/* line 4,  */

.car-width-58 {
    width: 58% !important;
}


/* line 4,  */

.car-width-59 {
    width: 59% !important;
}


/* line 4,  */

.car-width-60 {
    width: 60% !important;
}


/* line 4,  */

.car-width-61 {
    width: 61% !important;
}


/* line 4,  */

.car-width-62 {
    width: 62% !important;
}


/* line 4,  */

.car-width-63 {
    width: 63% !important;
}


/* line 4,  */

.car-width-64 {
    width: 64% !important;
}


/* line 4,  */

.car-width-65 {
    width: 65% !important;
}


/* line 4,  */

.car-width-66 {
    width: 66% !important;
}


/* line 4,  */

.car-width-67 {
    width: 67% !important;
}


/* line 4,  */

.car-width-68 {
    width: 68% !important;
}


/* line 4,  */

.car-width-69 {
    width: 69% !important;
}


/* line 4,  */

.car-width-70 {
    width: 70% !important;
}


/* line 4,  */

.car-width-71 {
    width: 71% !important;
}


/* line 4,  */

.car-width-72 {
    width: 72% !important;
}


/* line 4,  */

.car-width-73 {
    width: 73% !important;
}


/* line 4,  */

.car-width-74 {
    width: 74% !important;
}


/* line 4,  */

.car-width-75 {
    width: 75% !important;
}


/* line 4,  */

.car-width-76 {
    width: 76% !important;
}


/* line 4,  */

.car-width-77 {
    width: 77% !important;
}


/* line 4,  */

.car-width-78 {
    width: 78% !important;
}


/* line 4,  */

.car-width-79 {
    width: 79% !important;
}


/* line 4,  */

.car-width-80 {
    width: 80% !important;
}


/* line 4,  */

.car-width-81 {
    width: 81% !important;
}


/* line 4,  */

.car-width-82 {
    width: 82% !important;
}


/* line 4,  */

.car-width-83 {
    width: 83% !important;
}


/* line 4,  */

.car-width-84 {
    width: 84% !important;
}


/* line 4,  */

.car-width-85 {
    width: 85% !important;
}


/* line 4,  */

.car-width-86 {
    width: 86% !important;
}


/* line 4,  */

.car-width-87 {
    width: 87% !important;
}


/* line 4,  */

.car-width-88 {
    width: 88% !important;
}


/* line 4,  */

.car-width-89 {
    width: 89% !important;
}


/* line 4,  */

.car-width-90 {
    width: 90% !important;
}


/* line 4,  */

.car-width-91 {
    width: 91% !important;
}


/* line 4,  */

.car-width-92 {
    width: 92% !important;
}


/* line 4,  */

.car-width-93 {
    width: 93% !important;
}


/* line 4,  */

.car-width-94 {
    width: 94% !important;
}


/* line 4,  */

.car-width-95 {
    width: 95% !important;
}


/* line 4,  */

.car-width-96 {
    width: 96% !important;
}


/* line 4,  */

.car-width-97 {
    width: 97% !important;
}


/* line 4,  */

.car-width-98 {
    width: 98% !important;
}


/* line 4,  */

.car-width-99 {
    width: 99% !important;
}


/* line 4,  */

.car-width-100 {
    width: 100% !important;
}


/* các class liên quan đến padding và margin */


/* line 12,  */

.no-padding {
    padding: 0 !important;
}
/* footer */
footer {
    border-top: 5px solid #ddd;
    font-size: 14px;
    margin-top: 10px;
}
/* footer */

