html,
body{
    height:100%;
}

body{
    background:#f6f2f9;
    font-family:'Lato';
}

body.noscroll{
    overflow-y:hidden;
}

.fsitewidth,
.sitewidth{
    position:relative;
    margin:0 auto;
    height:100%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;    
}

#page{
    position:relative;
    min-height:100%;
}

.static-container{
    position:relative;
    min-height:53px;
}

.flying-container{
    width: 100%;
    opacity: 1;
    background:#7b6aa3
}

.pushing .flying-container{
    position:fixed;
    top:0;left:0;
    z-index:10000000;
}

.hiding .flying-container{
    position:fixed;
    opacity:0;
    transition: opacity .3s ease-out;
}

#header{
    position:relative;
    width:100%;
    height:50px;
    background:#fafaf6;
    border-bottom:3px solid #7b6aa3;    
    z-index:19999;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */       
    -webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

#header.slim{
    position:fixed;
    top:-53px;
    border-bottom:3px solid rgba(123, 106, 163, .7);
    
}

#header.slim.visible{
    top:0;
    -webkit-transition: top 0.3s ease-in-out;    
    -moz-transition: top 0.3s ease-in-out;    
    transition: top 0.3s ease-in-out;        
}

#header .logo{
    position:absolute;
    top:0;
    left:0;
    width:182px;
    height:47px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.30s ease-in-out;    
    z-index:1000;
    background:url(http://www.giallozafferano.it/style/images/logo.png) 0 0 no-repeat;
    background-size:100% 100%;
}

#header .logo a{
    display:block;
    width:100%;
    height:100%;
    text-indent:-9999em;
}

#header .logo img{
    display:block;
    max-width:100%;
}

#header menu{
    float:right;
    margin:0;
    padding:0;
    height:100%;
    background:#fafaf6;
    position:relative;
    z-index:1000;
}

#header menu ul{
    height:100%;
    padding-left:50px;
    background:#fafaf6;
}

#header menu li{
    float:right;
    margin:6px 0 0;
    padding:0 20px;
    height:38px;
    border-left:1px solid #e2dfe7;
}

/* SEARCH */

#header .searchMe{
    border:0 none;
    position:relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;        
}

#header .searchMe .handle{
    position:absolute;
    top:-4px;
    right:20px;
    width:22px;
    height:50px;
    background:url(http://www.giallozafferano.it/style/images/search_submit_white.png) center center no-repeat;
    text-indent:-9999em;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;     
    z-index:1; 
    opacity:1;
}

#header .searchMe .qs{
    position:absolute;
    top:0;
    right:20px;
    padding:0 45px 0 10px;
    width:225px;
    background:#fff;
    border:1px solid #e2dfe7;
    border-radius:2px;
    -webkit-transition: width 0.3s ease-in-out, top 0.3s ease-in-out, opacity 0.1s ease-in;
    -moz-transition: width 0.3s ease-in-out, top 0.3s ease-in-out, opacity 0.1s ease-in;
    transition: width 0.3s ease-in-out, top 0.3s ease-in-out, opacity 0.1s ease-in;
    z-index:2; 
}

#header .searchMe .qs input{
    margin:0;
    padding:0;
    width:100%;
    height:36px;
    font-size:93.75%;
    line-height:36px; 
    color:#54437e;  
    background:transparent;
    border:0 none;
}

#header .searchMe .trigger{
    position:absolute;
    top:-1px;
    right:30px;
    width:22px;
    height:40px;
    -webkit-transition: width 0.3s ease-in-out, top 0.3s ease-in-out, opacity 0.1s ease-in;
    -moz-transition: width 0.3s ease-in-out, top 0.3s ease-in-out, opacity 0.1s ease-in;
    transition: width 0.3s ease-in-out, top 0.3s ease-in-out, opacity 0.1s ease-in;
    z-index:3; 
}

#header .searchMe .trigger input{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    background:url(http://www.giallozafferano.it/style/images/search_submit.png) center center no-repeat;
    border:0 none;    
    cursor:pointer;
}

/* SHARE */

#header .shareMe{
    width:87px;   
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;      
    position:relative;
}

#header .shareMe a{
    display:block;
    margin-left:-1px;
    width:87px;
    height:100%;
    background:url(http://www.giallozafferano.it/style/images/header-social.png) center center no-repeat;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;      
    overflow:hidden;
    text-indent:-9999em;
}

#header.slim .shareMe a{
    margin-top:13px;
    width:0;
}

/* USER */

#header .iAmTheUser{
    width:21px;   
    background:url(http://www.giallozafferano.it/style/images/header-user.png) 0 center no-repeat;
    position:relative;
}

#header .iAmTheUser.loggedin{
    background-position:right center;
}

/* HAMBURGER */

#header .browseMe{
    width:0;   
    padding:0;
    border-width:0;
    background:url(http://www.giallozafferano.it/style/images/hamburger.png) center center no-repeat;
    position:relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;      
}

#header.slim .browseMe,
#header .leafContent .browseMe{
    width:26px;
    padding:0 20px;
    border-width:1px;
    position:relative;
}

#header .browseMe a{
    display:block;
    width:100%;
    height:100%;
    text-indent:-9999em;
}

#header .browseMe span{
    display:none;
}

#header.slim .browseMe span{
    display:block;
}

/* MENU HEADER: DEFINIZIONI CONDIVISE */

#header.slim .shareMe{
    width:0;
    padding:0;
    border-width:0;
}

#header .iAmTheUser a.handle{
    display:block;
    width:100%;
    height:100%;
    text-indent:-9999em;
}

#header .browseMe span,
#header .shareMe span,
#header .iAmTheUser span{
    display:none;
    position:absolute;
    top:60px;
    left:calc(50% - 10px);
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 7px solid #fafaf6;    
    z-index:1000;
    -webkit-transition: top 0.3s ease-in-out;
    -moz-transition: top 0.3s ease-in-out;
    transition: top 0.3s ease-in-out;    
}

#header .browseMe.sel span,
#header .shareMe.sel span,
#header .iAmTheUser.sel span{
    display:block;
    top:calc(100% + 4px);
    bottom:auto;
}

#header.slim .browseMe span,
#header.slim .shareMe span,
#header.slim .iAmTheUser span{
    top:36px;
}

#header.slim .browseMe.sel span,
#header.slim .shareMe.sel span,
#header.slim .iAmTheUser.sel span{
    top:calc(100% + 4px);
}

/* UTILITIES TENDINE: posizione / evita la sovrapposizione tendine-header */

#header .dock{
    position:relative;
}

#header .cover{
    position:absolute;
    top:0;
    right:0;
    background:#fafaf6;
    width:70%;
    height:100%;
    z-index:999;
}

/* generali */

#header .channel,
#header .signin,
#header .socialnets,
#header .slimnav{
    display:none;
    position:absolute;
    top:40px;
    right:0;
    width:340px;
    background:#7a6da4;
    opacity:0;
    -webkit-transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
    z-index:10;
}

#header .slimnav{
    top:40px;
    padding-bottom:40px;
}

#header .channel.open,
#header .signin.open,
#header .socialnets.open{
    top:50px;
    opacity:1;
}

#header.slim .signin{
    top:40px;
}

#header.slim .signin.open,
#header .slimnav.open{
    top:50px;
    opacity:1;
}

#header .channel h2,
#header .signin h2,
#header .socialnets h2,
#header #ssCont h2,
#header #smCont h2,
#header #sfCont h2{
    font:normal 16px/50px 'Lato';
    font-style:italic;
    color:#d7ccee;
    background:#3c3458;
    border-bottom:1px solid #64528d;
    text-align:center;
}

#header .signin h2 a{
    color:#d7ccee;
    text-decoration:underline;
}

#header .signin h2 a:hover{
    color:#f7972c;
    text-decoration:none;
}

#header .signin h2,
#header .socialnets h2{
    padding:0 20px;
    text-align:left;
}

#header #ssCont h2,
#header #smCont h2,
#header #sfCont h2{
    display:none;
}

/* SHARE */

#header .socialnets{
    padding-bottom:40px;
}

#header .socialnets ul{
    padding:0 20px;
    overflow:hidden;
}

#header .socialnets li,
#header #ssCont li{
    float:left;
    padding:3% 1.5%;
    width:97%;
    height:69px;    
    color:#888;
    border-bottom:1px solid #9488b5;
    position:relative;
}

#header .socialnets li.fb iframe,
#header #ssCont li.fb iframe{
    height:20px;
}

#header .socialnets li .sant,
#header #ssCont li .sant{
    float:left;
    margin-right:12px;
    width:69px;
    height:69px;
    background:url(http://www.giallozafferano.it/style/images/santinisocial.png) 0 0 no-repeat;
}

#header .socialnets li .sant.due,
#header #ssCont li .sant.due{
    background-position:0 -99px;
}

#header .socialnets li .sant.tre,
#header #ssCont li .sant.tre{
    background-position:0 -202px;
}

#header .socialnets li .sant.quattro,
#header #ssCont li .sant.quattro{
    background-position:0 -305px;
    border-radius:50%;
}

#header .socialnets li .sant.cinque,
#header #ssCont li .sant.cinque{
    border-radius:50%;
    background-position:0 -403px;
}

#header .socialnets li .sant.sei,
#header #ssCont li .sant.sei{
    border-radius:50%;
    background-position:0 -508px;
}

#header .socialnets li .sant.sette,
#header #ssCont li .sant.sette{
    border-radius:50%;
    background-position:0 -611px;
}

#header .socialnets .sn,
#header #ssCont .sn{
    display:block;
    margin-bottom:7px;
    font:bold 13px 'lato';   
    color:#d7ccee;
    text-decoration:none;
    text-transform:uppercase;
}

#header .socialnets .sn:before,
#header #ssCont .sn:before{
    display:block;
    margin:6px 0 2px;
    content:attr(data-sn);
    font:italic 9px 'lato';
    color:#d7ccee;
}

#header .socialnets .sn:hover,
#header #ssCont .sn:hover,
#header .socialnets .sn:hover:before,
#header #ssCont .sn:hover:before{
    color:#f6973c;
}

#header .socialnets .sn-vaia,
#header #ssCont .sn-vaia{
    display:none;
    position:absolute;
    top:0;
    right:0;
    width:30px;
    height:100%;
    background:url(http://www.giallozafferano.it/style/images/sn-vaia.png) center center no-repeat;
}

#header .socialnets .over .sn-vaia,
#header #ssCont .over .sn-vaia,
#header #ssCont li:hover .sn-vaia{
    display:block;
}

/* LOGIN */
#header .signin input[type=submit]{
    float:none;
    margin-top:10px;
    padding:0 10px;
    font:bold 14px/43px 'Lato';
    color:#FFF;
    font-style:normal;
    background:#f7972c;
    text-decoration:none;
    text-transform:uppercase;
    border:0 none;
    border-radius:3px;
    text-shadow:0px 1px 1px rgba(0, 0, 0, 0.2);
}

#header .signin input[type=submit]:hover{
    background:#3c3458;
}

#header .signin form{
    display:block;
    padding:10px 20px 30px;
    background:#7a6da4;
    position:relative;
}

#header .signin input[type=text],
#header .signin input[type=password]{
    float:left;
    margin:15px 0;
    padding:0 0 0 3%;
    width:97%;
    height:42px;
    font-size:14px;
    line-height:42px;
    color:#888888;
    border:0 none;
    border-radius:3px;
}

#header .signin input#pwd,
#header .signin input[type=password]{
    margin:0 0 10px;
}

#header .signin input[type=submit]{
    display:block;
    margin:0 auto;
    width:206px;
    height:43px;
}

#header .signin form a{
    display:block;
    clear:both;
    margin:0 0 20px;
    font-size:11px;
    color:#d7ccee;    
    text-align:right;
}

#header .signin form a:hover{
    color:#f7972c;
}

#header .signin a.gedaut,
#header .signin form a.reg{
    display:inline-block;    
    margin:0;
    height: auto;
    font-size:16px;
    font-style:normal;
    color:#f7972c;
    text-transform: uppercase;
}

#header .signin a.gedaut{
    display:block;
    clear:both;
    margin:15px 0 20px;
    text-align:center;
}

#header .signin a.gedaut:hover,
#header .signin form a.reg:hover{
    color:#d7ccee;
}

 #header .signin p{
    margin-top:15px;
    padding-top:15px;
    font-size:15px;
    font-style:italic;
    color:#d7ccee;
    text-align:center;
    border-top:1px solid #9488b5;
 }

 #header .signin ul{
    margin:0 20px;
 }

 #header.slim .signin{
    top:40px;
 }

 #header.slim .signin.open{
    top:47px;
 }

/* NAVIGAZIONE SLIM/MOBILE */

#header .slimnav{
    overflow-y:auto;
}

#header .signin li,
#header .slimnav li{
    float:left;
    width:100%;
    border-bottom:1px solid #9488b5;
}

#header .signin li{
    float:none;
}

#header .signin li a,
#header .slimnav li a,
#header .slimnav li strong{
    display:block;
    font:bold 14px/46px 'Lato';
    color:#FFF;
    text-transform:uppercase;
    text-decoration:none;
}

#header .signin li .ig-count a,
#header .slimnav li .ig-count a{
    font-size:9px;
    line-height:normal;
}

#header .slimnav li a.child{
    margin-top:-5px;
    margin-bottom:15px;
    padding-left:15px;
    line-height:23px;
    text-transform:none
}

#header .signin li a:hover,
#header .slimnav li a:hover{
    color:#d7ccee;
}

#header .slimnav li ul{
    display:none;
}

#header .slimnav li#mn-vog,
#header .slimnav li#mn-spe{
    display:none;
}

#header .slimnav .sHandle{
    float:left;
    height:50px;
    background-color:#3c3458;
    background-position:center center;
    background-repeat:no-repeat;    
    text-align:center;
}

#header .slimnav .sHandle.active{
    background-color:#7a6da4;
}

#header .slimnav .slimmenu,
#header .slimnav .slimsocial{
    width:50%;
}

#header .slimnav .slimmenu{
    line-height:50px;
    font-style:italic;
    color:#d7ccee;
    text-decoration:none;
}

#header .slimnav .slimsocial{
    background-image:url(http://www.giallozafferano.it/style/images/header-social-white.png);   
}

#header .slimnav #smCont,
#header .slimnav #ssCont{
    display:none;
    padding:0 20px;
}

#header .slimnav #smCont .reg{
    display:none;
}

#header .slimnav #ssCont li a.sn-vaia{
    padding-left:0;
}

#header .slimnav #smCont.oopen,
#header .slimnav #ssCont.oopen{
    display:block;
}

/* foglia */
#header .leafContent{
    position:fixed;
    top:-75px;
    left:0;
    width:100%;
    height:50px;
    background:#fafaf6;
    z-index:10000000;
    -webkit-transition: top 0.3s ease-in-out;
    -moz-transition: top 0.3s ease-in-out;
    transition: top 0.3s ease-in-out;       
}

#header .leafContent ul{
    float:left;
    width:100%;
}

#header .leafContent li{
    float:left;
}

#header .leafContent .soc{
    float:left;
    margin:6px 12px 0 0;
    width:38px;
    height:38px;
}

#header .leafContent .fb{
    margin-left:30px;
    background:#4a65b6 url(http://www.giallozafferano.it/style/images/box-social-fb.png) center center no-repeat
}

#header .leafContent .tw{
    background:#02a9e9 url(http://www.giallozafferano.it/style/images/box-social-tw.png) center center no-repeat;
}

#header .leafContent .com{
    text-align:center;
    font:700 12px 'Roboto Slab';
    line-height:38px;
    color:#9b1602;
    text-decoration:none;
    background:#eb4026 url(http://www.giallozafferano.it/style/images/bg-com.png) -1px -1px no-repeat;
    position:relative;
}

#header .leafContent p{
    font-size:16px;
    font-family:'Roboto Slab';
    line-height:50px;
    color:#54437e;
}

#header .leafContent p#artTit{
    font-weight:bold;    
    font-size:18px;
}

#header .leafContent p a{
    margin-right:5px;
    font-weight:normal;
    color:#54437e;
    letter-spacing:-1px;
}

#header.leafSlim .leafContent{
    top:0;
    border-bottom:3px solid rgba(123, 106, 163, .7)
}

#header .leafContent li.browseMe,
#header .leafContent li.iAmTheUser,
#header .leafContent li.searchMe{
    float: right;
    margin: 6px 0 0;
    padding: 0 20px;
    height: 38px;
    border-left: 1px solid #e2dfe7;
}

#header .leafContent li.searchMe{
    padding:0 20px 0 0;
    width:22px;
    height:45px;
    border:0 none;
}

#header .leafContent .searchMe .handle{
    opacity:1;
}    

#header .leafContent .searchMe .qs,
#header .leafContent .searchMe .trigger{
    right:10px;
    width:0;
    padding:0;
    opacity:0;
    overflow:hidden;
}

#header .leafContent .searchMe .trigger{
    top:0;
    right:20px;
}    

#header .leafContent .searchMe .handle{
   background:url(http://www.giallozafferano.it/style/images/search_submit_mobile.png) center 12px no-repeat;
    background-size:21px auto;
}

#header .leafContent .searchMe .trigger input{
    background:url(http://www.giallozafferano.it/style/images/search_submit_mobile_orange.png) center 7px no-repeat;
    background-size:21px auto;        
}

#header .leafContent .searchMe.open{
    width:auto;
}

#header .leafContent .searchMe.open .qs{
    padding:0 45px 0 10px;
    width:225px;
    opacity:1;
}

#header  .leafContent .searchMe.open .trigger{
    width:22px;
    opacity:1;
 }

#header .leafContent .searchMe .handle{
    opacity:1;
}    

#header .leafContent .searchMe.open .handle,
#header.slim .searchMe.open .handle{
    opacity:0;
 }    

#header .progressbar{
    position:absolute;
    top:-70px;
    left:0;
    width:100%;
    height:5px;
    background: rgba(0, 0, 0, 0.2);
    z-index:10000000000;
}

#header.leafSlim.off{
    height:60px;
}

#header.leafSlim .base{
    display:none;
}

#header.leafSlim .progressbar{
    top:65px;
}

#header.leafSlim .progress{
    position:absolute;
    top:0;
    left:0;
    width:0%;
    height:5px;
    background:#e35b49;
}

#header.slim .shareMe span{
    display:none;
}

/* NAVIGAZIONE */

#mainnav{
    height:40px;
    background:#7b6aa3;
}

#mainnav li{
    float:left;
    font-weight:bold;
    font-size:15px;
    position:relative;
}

#mainnav li.home{
    width:50px;
}

#mainnav li a{
    display:block;
    padding:0 15px;
    line-height:40px;
    height:40px;
    color:#FFF;
    text-transform:uppercase;
    text-decoration:none;
}

#mainnav li.home a{
    background:url(http://www.giallozafferano.it/style/images/home.png) center -5px no-repeat;
    text-indent:-9999em;
}

#mainnav li.home a:hover,
#mainnav li.home a.here{
    background:url(http://www.giallozafferano.it/style/images/home.png) center -55px no-repeat;
}

#mainnav li.mn-shop a{
    padding-left:43px;
    background:url(http://www.giallozafferano.it/style/images/gzshop-carrello.png) 15px 0 no-repeat;   
}

#mainnav li.mn-shop a:hover{
    background-position:15px bottom;   
}


#mainnav li a.here,
#mainnav li a:hover{
    color:#d7ccee;
}

#mainnav li#mn-all a.over,
#mainnav li#mn-vid a.over,
#mainnav li#mn-vog a.over,
#mainnav li#mn-scu a.over,
#mainnav li#mn-spe a.over,
#mainnav li#mn-tList a.over,
#mainnav li#mn-all a.over:hover,
#mainnav li#mn-vid a.over:hover,
#mainnav li#mn-vog a.over:hover,
#mainnav li#mn-scu a.over:hover,
#mainnav li#mn-spe a.over:hover,
#mainnav li#mn-tList a.over:hover{
    color:#fff;
    background-color:#9586b2;
}

#mainnav li#mn-vog a#anc-vog{
    cursor:default;
}

#mainnav li ul{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    background:#fff7ed;
    border-bottom:2px solid #dbd1d9;
    z-index:10000;
}

#mainnav li ul li{
    float:none;
    border-right:2px solid #dbd1d9;
    border-left:2px solid #dbd1d9;
}

#mainnav li ul li a{
    margin:0;
    padding:18px 0 14px;
    height:auto;
    line-height:normal;
    font:bold 13px 'lato';
    color:#3d3257;
    font-style:italic;
    text-align:center;
}

#mainnav li ul li:after{
    content:'';
    display:block;
    margin:0 auto;
    width:56px;
    height:1px;
    background:#dbd1d9;
}

#mainnav li ul li.ls:after{
    display:none;
}

#mainnav li.reg{
    float:right;
}

#mainnav li.reg a{
    margin-top:6px;
    padding:0 12px;
    height:auto;
    font:bold 14px/28px 'lato';
    color:#FFF;
    text-transform:uppercase;
    background:#ff9713;    
    border-radius:2px;
}

#mainnav li.reg a:hover{
    background:#3c3458;    
}

/** SECONDARY NAV **/
#secnav{
    margin-bottom:15px;
    height:40px;
    background:#FFF;   
}

/*
#secnav ul:before{
    float:left;
    content:'Link rapidi:';
    margin:15px 15px 0 0;
    font-size:13px;
    color:#ada4bd;    
}
*/

#secnav li{
    float:left;
    margin-right:15px;
    font-weight:bold;
}

#secnav li:first-child{
    margin-left: 15px;
}

#secnav li a{
    display:block;
    padding:14px 0 0 0;
    color:#4b4164;
    font-size:14px;
    text-decoration:none;
}

#secnav li a.ur{
    padding-left:27px;
    background:url(http://www.giallozafferano.it/style/images/secnav-icons.png) 0 -200px no-repeat;
}

#secnav li a.rpb{
    padding-left:26px;
    background:url(http://www.giallozafferano.it/style/images/secondarynav-bambini.png) 0 0 no-repeat;
}

#secnav li a.nat{
    padding-left:26px;
    background:url(http://www.giallozafferano.it/style/images/natale.png) 0 11px no-repeat;
}

#secnav li a.gen{
    padding-left:21px;
    background:url(http://www.giallozafferano.it/style/images/ic-secnav-gen.png) 0 0 no-repeat;
}

#secnav li a.ur:hover{
    background-position:0 0;    
}

#secnav li a.rpb:hover{
    background-position:0 -34px;
}

#secnav li a.nat:hover{
    background:url(http://www.giallozafferano.it/style/images/natale.png) 0 -28px no-repeat;
}

#secnav li a.gen:hover{
    background:url(http://www.giallozafferano.it/style/images/ic-secnav-gen.png) 0 -30px no-repeat;
}

/* sidebar */

#content .sidebar{
    float:right;
    width:31.57894736842105%; /* 360 / 1140 */
}

#content .sidebar .adv{
    margin:0 8.333333333333333% 20px;
}

#content .sidebar .adv.sticky{
    position:fixed;
    top:75px;
    margin-left:30px;
}

#content .sidebar .adv.stickyleaf{
    position:fixed;
    top:80px;
    margin-left:30px;
}

#content .sidebar .box,
#content .sidebar .blog,
.threecols .blog,
.threecols .box{
    margin:0 auto 30px;
    width:83.33333333333333%; /* 300 / 360 */
    overflow:hidden;
}

.threecols .box,
.threecols .blog{
    margin-bottom:26px;
    width:100%;
}

.threecols .box.speciali{
    margin-bottom:0;
}

#content .sidebar .blog,
.threecols .blog{
    margin-bottom:30px;
    background:#f8f6fc;
    border-radius:2px;
}

#content .sidebar .box dt,
#content .threecols .box dt,
#content .mobcont .box dt,
#content .sidebar .blog h4,
.threecols .blog h4,
.threecols .social dt{
    margin-bottom:19px;
    font:28px/34px 'Cookie';
    color:#6f5c91;    
    text-align:center;
    background:url(http://www.giallozafferano.it/style/images/bg-h3-sez.png) 0 0 repeat-x;
}

#content .sidebar .blog h4,
.threecols .blog h4{
    margin:12px 50px 13px;
    background:url(http://www.giallozafferano.it/style/images/bg-tit-blog.png) 0 0 repeat-x;
}

#content .sidebar .box.cook dt{
    position:relative;
    color:#cf3a20; 
    background:url(http://www.giallozafferano.it/style/images/bg-tit-cook.png) 0 bottom repeat-x;    
}

#content .sidebar .box dt:before,
#content .threecols .box dt:before,
#content .mobcont .box dt:before,
#content .sidebar .blog h4:before,
.threecols .blog h4:before,
.threecols .social dt:before{
    display:block;
    margin:0 auto;
    content:attr(data-title);
    width:160px;
    background:#FFF;
}

#content .sidebar .box.altre dt:before{
    content:'';
    display:none;
}

#content .sidebar .box.altre dt span{
    display:block;
    margin:0 auto;
    min-width:160px;
    max-width:260px;
    color:#6f5c91; 
    background:#FFF;    
}

#content .sidebar .box.cook dt{
    padding-bottom:20px;
}

#content .sidebar .box.cook dt:after{
    position:absolute;
    content:'.';
    top:28px;
    left:calc(50% - 70px);
    width:140px;
    height:15px;
    color:transparent;
    background:#FFF url(http://www.giallozafferano.it/style/images/logo-cook.png) center 0 no-repeat;   
}

#content .sidebar .blog h4:before,
.threecols .blog h4:before{
    background:#f8f6fc;
}

#content .sidebar .box dd,
#content .mobcont .box dd,
.threecols .social dd,
.threecols .box dd{
    float:left;
    margin-bottom:30px;
    width:100%;
}

#content .sidebar .box dd:last-of-type,
#content .threecols .box dd:last-of-type{
    margin-bottom:0;
}

#content .threecols .box.speciali dd:last-of-type{
    float:none;
    margin-bottom:26px;
    overflow: hidden
}

#content .sidebar .box.classifica dd{
    position:relative;    
}

#content .sidebar .box.cook dd.ls{
    margin-bottom:10px;
}

#content .sidebar .box.classifica dd:after{
    content:attr(data-pos);
    position:absolute;
    top:0;
    left:52%;
    width:28px;
    height:28px;
    font:bold 13px/28px 'Roboto Slab';
    color:#FFF;
    background:#766998;
    border-radius:14px;
    text-align:center;
}

#content .sidebar .i,
#content .mobcont .i,
#content .threecols .i{
    float:left;
    margin-right:12px;
    width:48%;
}

#content .sidebar .box.cook .i{
    position:relative;
}

#content .sidebar .box.cook .i span{
    position:absolute;
    bottom:10px;
    right:10px;
    width:37px;
    height:37px;
    background:url(http://www.giallozafferano.it/style/images/ico-video-cook.png) 0 0 no-repeat;
}

#content .sidebar .i img,
#content .sidebar .s img,
#content .mobcont .i img,
#content .mobcont .s img,
#content .threecols .s img{
    display:block;
    max-width:100%;
}

#content .threecols .i img{
    display:block;
    width:100%;
}

#content .sidebar .c{
    display:block;
    margin-top:10px;
    font:22px 'Cookie';
    color:#f6973c;
}

#content .sidebar .classifica .c{
    margin-top:34px;
}

#content .sidebar .t,
#content .threecols .t{
    display:block;
    float:left;
    width:48%;
    font:bold 16px/18px 'Roboto Slab';
    color:#3d3257;
}

#content .sidebar .cook .t{
    color:#8e2816;
}

#content .sidebar .altre .t:after{
    display:block;
    margin:3px 0 0;
    content:'Leggi la ricetta';
    font:11px 'lato';
    text-transform:uppercase;
}

#content .sidebar .cook .t:after{
    display:block;
    margin:3px 0 0;
    content:'Guarda la video ricetta';
    font:11px 'lato';
    text-transform:uppercase;
}

#content .sidebar .s:before,
#content .mobcont .s:before,
#content .threecols .s:before{
    display:block;
    margin:10px 0 2px;
    content:'Sponsored by';
    font:9px 'lato';
    color:#6f5c91;
    text-transform:uppercase;
}

#content .sidebar .sant,
.threecols .sant{
    float:left;
    margin-right:12px;
    width:69px;
    height:69px;
    background:url(http://www.giallozafferano.it/style/images/santinisocial.png) 0 0 no-repeat;
}

#content .sidebar .sant.due,
.threecols .sant.due{
    background-position:0 -99px;
}

#content .sidebar .sant.tre,
.threecols .sant.tre{
    background-position:0 -202px;
}

#content .sidebar .sant.quattro,
.threecols .sant.quattro{
    background-position:0 -305px;
    border-radius:50%;
}

#content .sidebar .sant.cinque,
.threecols .sant.cinque{
    border-radius:50%;
    background-position:0 -403px;
}

#content .sidebar .sant.sei,
.threecols .sant.sei{
    border-radius:50%;
    background-position:0 -508px;
}

#content .sidebar .sant.sette,
.threecols .sant.sette{
    border-radius:50%;
    background-position:0 -611px;
}

#content .sidebar .sn,
.threecols .sn{
    display:block;
    margin-bottom:7px;
    font:bold 13px 'lato';   
    color:#3d3257;
    text-transform:uppercase;
    text-decoration:none;
}

#content .sidebar .sn:before,
.threecols .sn:before{
    display:block;
    margin:6px 0 2px;
    content:attr(data-sn);
    font:italic 9px 'lato';
    color:#3d3257;
}

#content .sidebar .sn:hover,
.threecols .sn:hover{
    text-decoration:underline;
}

#content .sidebar .blog h3,
.threecols .blog h3{
    display:block;
    margin:17px 20px 21px;
    font:bold 18px/18px 'Roboto Slab';
    color:#3d3257;
    background:0 none;
}

.threecols .blog h3{
    text-align:left;
}

.threecols .blog h3:before{
    display:none;
}

#content .sidebar .blog h3 a,
.threecols .blog h3 a{
    color:#3d3257;
}

#content .sidebar .blog a.vai,
.threecols .blog a.vai{
    display:block;
    padding:9px 0;
    font:bold 13px 'lato';
    color:#54437e;
    text-transform:uppercase;
    text-align:center;
    border-top:1px solid #FFF;
}

#content .sidebar .blog a,
.threecols .blog a{
    text-decoration:none;
}

#content .sidebar .blog a:hover,
.threecols .blog a:hover{
    text-decoration:underline;
}

#content .sidebar .blog img{
    display:block;
    max-width:100%;
}

.threecols .blog img{
    display:block;
    width:100%;
}

#content .sidebar .vaiacat,
#content .sidebar .vaiacook{
    display:block;
    float:left;
    font:bold 13px 'lato';
    text-transform:uppercase;
    color:#8e2816;
    margin:0 0 40px 30px;
    width:83.33333333333333%; /* 300 / 360 */    
}

#content .sidebar .vaiacat{
    margin-left:0;
    color:#6f5c91;
}

#content .sidebar a{
    text-decoration:none;
}

#content .sidebar a:hover{
    text-decoration:underline;
}

/****/
.expanding{
    clear: both;
    margin:0 auto; padding:0 !important;
    text-align:center;
    background:transparent !important;
}
/*.expanding.rendered{
    padding:5px 0!important;
}*/

/* meride*/
.expanding.rendered{
    padding:0!important;
}

#content{
    padding-bottom: 890px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; 
}

.nogzfooter #content{
    padding-bottom: 381px;
}

.sitewidth .format{
    padding:2% 2.5% 2.5%;
    background-color:#FFF;
    overflow:hidden;
}

.piedone{
    float:left;
    width:100%;
}

.piedone div{
    margin:0 auto;
    width:980px;
}

#piedone{
    padding:0 0 25px;
    background:#FFF;
}

#piedone div{
    margin:0 auto;
    width:980px;
}

#footer{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:890px;
    overflow:hidden;
    background:#FFF;
}

.nogzfooter #footer{
    height:375px;
    border-top:6px solid #7d6aa3;
}

#gzshop-prefooter{
    height:515px;
    background:url(http://www.giallozafferano.it/style/images/gzshop-prefooter-bg.png) center bottom no-repeat;
    background-size:cover;
    border-bottom:6px solid #7d6aa3;
}

#gzshop-prefooter .sitewidth{
    position:relative;
}

#gzshop-prefooter .gzshop-prefooter-gag{
    position:absolute;
    top:0; left:0;
    width: 120px;
    height: 142px;
    background:url(http://www.giallozafferano.it/style/images/gzshop-prefooter-gag.png) 0 0 no-repeat;
    text-indent:-9999em;
}

#gzshop-prefooter .gzshop-prefooter-content{
    margin:0 auto;
    padding-top:40px;
    width:690px;
}

#gzshop-prefooter .gzshop-prefooter-title{
    display:block;
    font:700 24px/28px 'Roboto Slab';
    color: #3e3a62;
    text-align:center;
    text-decoration:none;
    height:auto;
}

#gzshop-prefooter a.gzshop-prefooter-title span{
    display:block;
    padding-top:25px;
    border-top:1px solid #c9cbd5;
}

#gzshop-prefooter .gzshop-prefooter-title:before{
    content:'Nasce';

    display:inline-block;
    padding-right:175px;
    padding-bottom:10px;
    font:300 44px/85px 'Lato';
    background:url(http://www.giallozafferano.it/style/images/logo-footer-gzshop.png) right 5px no-repeat;
    color: #8c89a1;
}

#gzshop-prefooter .gzshop-prefooter-more{
    margin:25px auto 0;
    width:550px;
    overflow:hidden;
}

#gzshop-prefooter .gzshop-prefooter-more a{
    float:left;
    margin-left:48px;
    width: 200px;
    height: 64px;
    color: #f5953b;
    font-family: "Roboto Slab";
    font-size: 20px;
    font-weight: 700;
    line-height: 64px;
    text-align:center;
    text-decoration:none;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid #f5953b;
    border-radius: 32px;
}

#gzshop-prefooter .gzshop-prefooter-more p{
    float:right;
    width:275px;
    margin:0;
    padding:0;
    height:auto;
    color: #8c89a1;
    font-family: Lato;
    font-size: 18px;
    line-height:normal;
    font-style: italic;    
    text-align:left;
}

#gzshop-prefooter .biglink{
    position:absolute;
    top:0; left:0;
    width:100%; height:100%;
}

#gzshop-prefooter:hover .gzshop-prefooter-more a{
    color:#FFF;
    background-color:#f5953b;
    border: 1px solid #f5953b;
}

#footer dl{
    float: left;
    margin:50px 3% 15px 0;
    width:13.4%;    
    font-size:12px;
    border-right:1px solid #e6e1eb;    
}

#footer dl.ls{
    margin-right:0;
    width:17.4%;    
    border-right:0 none;
}

#footer dt{
    height:48px;
    color: #593e76;
    font-size:14px;
    font-weight:700;
    color:#7b6aa3;
    text-decoration: none;
    text-transform: uppercase;
}

#footer dt a{
    color:#7b6aa3;
    text-decoration: none;    
}

#footer dt a:hover{
    text-decoration:underline;
}

#footer dd{
    padding-bottom:6px;    
}

#footer dd a{
    color:#000;
    text-decoration:none;
}

#footer dd a:hover{
    text-decoration:underline;
}

#footer p{
    clear:both;
    margin-top:25px;
    padding-top:10px;
    height:94px;
    font-size:75%;
    line-height:47px;
    color:#333;
}

#footer p a.fLogo{
    float:left;
    margin-right:15px;
    width:166px;
    height:28px;
    text-indent:-9999em;
    background:url(http://www.giallozafferano.it/style/images/fLogo.png) 0 0 no-repeat;
}

#footer p strong{
    color:#7d6aa3;
}

.banzaiLogoContainer{
    position: fixed;
    bottom: 50px;
    right: 0px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    z-index: 15000;
}

.banzaiLogoContainer img{
    position: absolute;
    top: 13px;
    right: 13px;
    -webkit-transform-origin: 95.5% 19.5%;
    -webkit-transform: rotate(-145deg);
    -moz-transform-origin: 95.5% 19.5%;
    -moz-transform: rotate(-145deg);
    transform-origin: 95.5% 19.5%;
    transform: rotate(-145deg);
    transition:all 300ms 300ms;      
    -moz-transition:all 300ms 300ms;       
    -webkit-transition:all 300ms 300ms;
}

.banzaiLogoContainer.gira img,
.banzaiLogoContainer:hover img{
    -webkit-transform:rotate(0deg) scale(0.5, 0.5);
    -moz-transform:rotate(0deg) scale(0.5, 0.5);
    transform:rotate(0deg) scale(0.5, 0.5);
}

.gzcard_boxSb { margin:0 auto 20px;width: 300px; height:145px; display: block; overflow: hidden; background: url(http://www.giallozafferano.it/style/images/GZclub_sfondoboxSb.png) no-repeat scroll 0 0; }
.gzcard_boxSb p { margin-bottom: 7px;  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.26); color: #ffffff; font-size: 20px; line-height: 22px;  }
.gzcard_boxSb a { border-top: 1px solid #fac13f; border-bottom: 1px solid #f68725; text-shadow: 0px -1px 1px rgba(17, 17, 17, 0.40); font-size: 12px; font-weight: bolder; text-decoration: none; background-color:#f8a22f;  background: linear-gradient(180deg, rgb(248, 162, 47) 30%, rgb(246, 135, 36) 70%); width: 135px; text-align:center; display: block; overflow: hidden; color: #fff; text-transform: uppercase; padding: 9px 0; border-radius: 2px;filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8a02f', endColorstr='#f68324',GradientType=0 ); /* IE6-8 */ }
.gzcard_boxSb a:hover { background-color: #f49c26; background: linear-gradient(180deg, rgb(246, 135, 36) 30%, rgb(248, 162, 47) 70%) !important;  border-bottom: 1px solid #fac13f; border-top: 1px solid #f68725;filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f68324', endColorstr='#f8a02f',GradientType=0 ); /* IE6-8 */}
.gzcard_boxSb .gzcard_boxSb_ebook {background: url(http://www.giallozafferano.it/style/images/GZclub_ebookboxSb.png) no-repeat scroll -2px 26px;padding: 60px 0 22px 113px;border-bottom: 1px solid #a4887a;margin: 0 10px 10px;display: block;overflow: hidden; }
.gzcard_boxSb .gzcard_boxSb_card { background: url(http://www.giallozafferano.it/style/images/GZclub_cardboxSb.png) no-repeat scroll 150px 0;padding: 0 0 20px;margin: 0 0 0 10px;display: block;overflow: hidden;}
.gzcard_boxSb .gzcard_boxSb_card p { width: 140px; margin: 5px 0 7px; }

/* modale */
.shadowlogin{
    position:fixed;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    z-index:100000;
}

.modalelogin,
.deleterecepy{
    position:absolute;
    top:-250px;
    left:50%;
    margin-top:-180px;
    margin-left:-350px;
    padding:30px 50px;
    width:600px;
    height:300px;
    background:#FFF;
    border-radius:7px;
    z-index:100001;
    transition:top 300ms 300ms;      
    -moz-transition:top 300ms 300ms;       
    -webkit-transition:top 300ms 300ms;
}

.modalelogin.deleteme{
    height:392px;
}

.modalelogin.in,
.deleterecepy.in{
    top:50%;
}

.modalelogin .modchiudi,
.deleterecepy .modchiudi{
    border: 2px solid #999999;
    border-radius: 43px;
    position: absolute;
    width: 43px;
    height: 43px;
    top: -20px;
    right: -20px;
    background:#000 url(http://www.giallozafferano.it/style/images/close-login.png) center center no-repeat;
    text-indent:-9999em;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
}

.modalelogin .modchiudi:hover,
.deleterecepy .modchiudi:hover{
    border-color:#6f5c91;
    background-color:#6f5c91;
}

.modalelogin h2,
.deleterecepy h2{
    margin-bottom:24px;
    font-size:24px;
    font-weight:400;
    line-height:68px;
    color:#54437e;
    text-align:right;
    border-bottom:1px solid #cbc6d8;
    background:url(http://www.giallozafferano.it/style/images/reg/logo-modale.png) 0 0 no-repeat;
}

.modalelogin h2 b{
    font-weight:700;
}

.modalelogin .registratiOra{
    padding: 47px 0;
    float: left;
    width: 301px;
    border-right: 1px solid #cbc6d8;
}

.modalelogin .registratiOra p{
    margin: 0 auto;
    width: 200px;
    font-size:18px;
    line-height: 24px;
    color:#54437e;
    text-align: center;
}

.modalelogin .registratiOra a,
.modalelogin .loginbutton,
.deleterecepy .dammiconferma a{
    display: block;
    margin:21px auto 0;
    padding: 13px 0;  
    width:200px;  
    font-size: 15px;
    font-weight: bold;
    color: #fff;    
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #9a86c9;
    text-transform: uppercase;
    background:#f8982c;
    border-radius: 3px;    
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;     
}

.modalelogin .registratiOra a:hover,
.modalelogin .loginbutton:hover,
.deleterecepy .dammiconferma a:hover{
    background:#7b6aa3;
}

.modalelogin form{
    float:right;
    padding-top:18px;
    width:248px;
}

.modalelogin form.not-the-same{
    float:none;
    display:block;
    padding:0 20px;
    width:auto;
}

.modalelogin form.not-the-same .pwd{
    float: left;
    margin-bottom:25px;
    padding: 0 20px;
    width:calc(100% - 42px);
    height: 46px;
    line-height: 46px;
    font: 400 14px 'Lato';
    color: #54437e;
    background-color: #e2dbee;
    border: 1px solid #d4cedc;
    border-radius: 4px;
}    

.modalelogin .logininput{
    margin:0 0 15px;
    padding:0 10px;
    width:226px;
    height:44px;
    font-size:14px;
    color:#54437e;
    line-height:44px;
    background:#e2dbee;
    border:1px solid #d4cfdd;
    border-radius:3px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;      
}

.modalelogin .logininput.active{
    background:#ffeaba;
}

.modalelogin .loginbutton{
    margin:0;
    padding:13px 26px;
    width:auto;
    border:0 none;
}

.modalelogin .pw_remember{
    float:right;
    width:130px;
    font-size:11px;
    line-height:43px;
    color:#54437e;
}

.modalelogin .pw_remember #cb_cookieuser_navbar{
    float:left;
    margin:1px 3px 0 0;
}

.modalelogin .pw_remember a{
    display:block;
    clear:both;
    color:#54437e;
    text-decoration:none;
}

.modalelogin .pw_remember a:hover{
    text-decoration:underline;
}

.deleterecepy .dammiconferma{
    text-align:center;
}

.deleterecepy .dammiconferma p{
    margin-top:20px;
    line-height:28px;
}

.deleterecepy .dammiconferma strong{
    display:block;
    color:#f6973c;
}

.deleterecepy .dammiconferma a{
    display:inline-block;
    width:245px;
}

.modalelogin p.del{
    padding:0 20px 15px;
    font-size:16px;
    line-height: 22px;
    color:#54437e;
}


.modalelogin p.ins{
    padding:0 0 3px;
    font-size:13px;
    color:#54437e;
}

.modalelogin .dela{
    display:block;
    margin:0 auto;
    width:270px;
    font: bold 14px/43px 'Lato';
    color: #FFF;
    font-style: normal;
    background: #f7972c;
    text-decoration: none;
    text-transform: uppercase;
    text-align:center;
    border: 0 none;
    border-radius: 3px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-input-placeholder{color:#54437e;opacity:1;}
:-moz-placeholder{color:#54437e;opacity:1;}
::-moz-placeholder{color:#54437e;opacity:1;}
:-ms-input-placeholder{color:#54437e;opacity:1;}

/* 404 */

#content .notfound{
    float:left;
    width:65.78947368421053%; /* 750 / 1140 */
    position:relative;
}

#content .notfound h1{
    margin-top:30px;
    font:700 40px 'Roboto Slab';
    color:#54437e;
}

#content .notfound h2{
    position:absolute;
    top:-4px;
    left:0;
    font: 30px 'Cookie';
    color: #f6973c;
}

#content .notfound p{
    margin-top:15px;
    color: #241e35;
    line-height: 24px;
}

#content .notfound p.nd{
    margin-top:7px;
}

#content .notfound a{
    font-weight: bold;
    color: #7a6da4;
    text-decoration: underline;    
}

#content .notfound a:hover{
    color: #f6973c;
    text-decoration: none;    
}

.side-lancio-gzshop{
    margin:30px auto 40px;
    padding-bottom:20px;
    width:300px;
    position:relative;
    border-bottom:1px solid #d5d5d5;
}

.side-lancio-gzshop.hp{
    margin-bottom:0;
}

.side-lancio-gzshop figure{
    margin-top:10px;
    height:110px;
    overflow:hidden;
    position:relative;
}

.side-lancio-gzshop figure img{
    position:absolute;
    top:50%;
    width:300px;
    transform:translate(0, -50%);
}

.side-lancio-gzshop .gagliardo{
    position:absolute;
    top:-10px;
    left:10px;
    width:66px; height:62px;
    background:url(http://www.giallozafferano.it/style/images/gzshop-gagliardetto-sidebar.png);
}

.side-lancio-gzshop a.ctype{
    display:block;
    margin:11px 0 6px;
    font:12px 'Lato';
    color:#ff9713;
    text-transform:uppercase;
    text-align:center
}

.side-lancio-gzshop a.ctype:hover{
    color:#4b4164;
    text-decoration:none !important;
}

.side-lancio-gzshop .gspe-tit{
    display:block;
    font:bold 26px/30px 'Roboto Slab';
    color:#4b4164;
    text-align:center;
}

.side-lancio-gzshop a.scopri{
    display:block;
    margin:15px auto 0;
    padding-left:30px;
    width: 80px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    font-weight: 700;
    color: #f5963c;
    text-align: center;
    background: url(http://www.giallozafferano.it/style/images/gzshop-carrello-slider.png) 10px center no-repeat;
    border: 1px solid #f5963c;
    border-radius: 22px;
    z-index: 4;
}

.side-lancio-gzshop a.scopri:hover{
    color: #fff;
    background-color:#f5963c;
    text-decoration:none !important;
}

/* start: badge instagram */
.ig-b-,
#header .slimnav li a.ig-b- { 
    display: inline-block; 
}

.ig-b- img { 
    visibility: hidden; 
}

.ig-b-:hover { 
    background-position: 0 -60px; 
} 

.ig-b-:active { 
    background-position: 0 -120px; 
}

.ig-b-v-24 { 
    width: 137px; 
    height: 24px; 
    background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; 
}
/* end: badge instagram */

@media only screen and (min-width: 1540px) and (max-width: 5000px){

    body{
        background-size:1750px auto;
    }

    .fsitewidth,
    .sitewidth,
    .expanding{
        max-width:1200px;
    }

}

@media only screen and (min-width: 801px) and (max-width: 1539px){
    
    .fsitewidth,
    .sitewidth,
    .expanding{
        max-width:1000px;
    }

    #header .leafContent li.avanti{
        margin-right:25px;
    }

    #header .leafContent .fb{
        margin-left:25px;
    }

    #mainnav li a{
        padding:0 10px;
    }

    #mainnav li.mn-shop a {
        padding-left: 38px;
        background-position:10px 0;
    }    

    #mainnav li.mn-shop a:hover {
        background-position:10px bottom;
    }        

    #content .sidebar .adv,
    #content .sidebar .adv.sticky,
    #content .sidebar .adv.stickyleaf{
        margin:0 0 20px;
    }  

    #content .sidebar .box,
    #content .sidebar .blog{
        width:100%; /* 280/300 */
    }

    #content .sidebar .i{
        width:120px;
    }    

    #content .sidebar .c{
        margin:0;
    }

    #content .sidebar .speciali .t{
        margin-top:5px;
    }

    #content .sidebar .t{
        width:148px;
    }    

    #content .threecols .t{
        width:144px;
    }    

    #content .sidebar .box.classifica dd:after{
        left:132px;    
    }

    #content .sidebar .vaiacook{
        margin-left:0;
    }

}

@media only screen and (max-width: 900px){
    
    #header,
    #header.slim{
        height:50px;
        border-bottom:3px solid #7b6aa3;
    }

    #header .logo{
        top:0;
        left:20px;
        width:182px;
        height:50px;
    }

    #header.slim .logo{
        height:50px;
    }

    #header .browseMe span,
    #header .shareMe span,
    #header .iAmTheUser span,
    #header.slim .shareMe span,
    #header.slim .iAmTheUser span    {
        top:37px;
    }

    #header .browseMe.sel span,
    #header .shareMe.sel span,
    #header .iAmTheUser.sel span{
        top:calc(100% + 4px);
    }    

    #header .shareMe{
        width:0;
        padding:0;
        border-width:0;
    }

    #header .shareMe a{
        margin-top:13px;
        width:0;
    }    
    
    #header .browseMe{
        width:26px;
        padding:0 20px;
        border-width:1px;
    }

    #header .browseMe span{
        display:block;
    }    

    #header .signin{
        top:40px;
    }

    #header .signin.open{
        top:53px;
    }

    #header .leafContent .fb{
        margin-left:12px;
    }

    .expanding{
        margin:0 auto;
    }

    #content{
        /*padding-bottom:135px;*/
        padding-bottom:650px;
    }

    #footer{
        /*height:135px;*/
        height:650px;
    }

    #gzshop-prefooter{
        background-color:#f2f5f8;
        background-position:center bottom;
        background-size:100% auto;
    }

    #gzshop-prefooter .gzshop-prefooter-gag{
        width: 101px;
        height: 120px;
        background-size:100% 100%;
    }

    #footer p{
        margin-top:10px;
        margin-left:0;
        padding:20px 2.5% 0;
        width:95%;
        line-height:normal;
        text-align:center;
    }

    #footer p a{
        display:block;
        margin:0 auto 15px;
        height:71px;
    }

    #footer p a.fLogo{
        float:none;
        display:block;
        margin:10px auto;
        width:166px;
        height:28px;
        text-indent:-9999em;
        background:url(http://www.giallozafferano.it/style/images/fLogo.png) 0 0 no-repeat;
    }    

    .banzaiLogoContainer,
    #header .shareMe span,
    #mainnav,
    #secnav,
    #content .sidebar,
    #footer dl{
        display:none;
    }       

    #footer dl.ls{
        text-align: center;
        display: block;
        width: 95%;
        margin: 10px 2.5% 20px;
    }

    #footer dl.ls > dt{
        display: none;
    }

    #footer dl.ls dd{
        display: inline-block;
    }

    #footer dl.ls dd:before{
        content: "|";
        margin: 0 5px;
    }

    #footer dl.ls > dt + dd:before{
        content: "";
        margin: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px){

    .fsitewidth,
    .sitewidth{
        min-width:768px;
    }    

}

@media only screen and (max-width: 670px){

    #page{
        padding-top:0;
    }

    .expanding{
        display:none;
    }

    .strip-mobile{
        position:fixed;
        bottom:0;
        width:100%;
        height:50px;
        background:#fff;
        box-shadow: 0px -3px 3px 0px rgba(50, 50, 50, 0.75);
        z-index:1000;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;        
    }

    .expanding.dabbasso{
        bottom:-53px;
    }    

    /*#header,
    #header.slim{
        position:absolute;
        top:0; left:0;
    }*/

    #header .logo,
    #header.slim .logo{
        left:5px;
        background-size:170px auto;
        background-position:0 center;
    }

    #header menu{
        background:transparent;
    }

    #header menu ul{
        padding-left:0;
    }

    #header .iAmTheUser,
    #header.slim .iAmTheUser{
        padding:0 12px;
    }

    #header .iAmTheUser{
        background:url(http://www.giallozafferano.it/style/images/header-user-mob.png) center center no-repeat;
        background-size:21px auto;
    }

    #header .iAmTheUser.loggedin{
        background:url(http://www.giallozafferano.it/style/images/header-user-mob-logged.png) center center no-repeat;
        background-size:21px auto;
    }

    #header .leafContent .iAmTheUser{
        display:none;
    }

    #header .browseMe,
    #header.slim .browseMe,
    #header .leafContent li.browseMe{
        padding:0 15px;
        width:20px;
    }

    #header .searchMe{
        padding:0 20px 0 0;
        width:22px;
        height:45px;
    }

    #header .searchMe .handle{
        opacity:1;
    }    

    #header .searchMe .qs,
    #header .searchMe .trigger{
        right:10px;
        width:0;
        padding:0;
        opacity:0;
        overflow:hidden;
    }

    #header .searchMe .trigger{
        top:0;
        right:20px;
    }    

    #header .searchMe .handle{
        right:10px;
        background:url(http://www.giallozafferano.it/style/images/search_submit_mobile.png) center 12px no-repeat;
        background-size:21px auto;
    }

    #header .searchMe .trigger input{
        background:url(http://www.giallozafferano.it/style/images/search_submit_mobile_orange.png) center 7px no-repeat;
        background-size:21px auto;        
    }
    
    #header .searchMe.open{
        width:auto;
    }

    #header .searchMe.open .qs{
        padding:0 45px 0 10px;
        width:225px;
        opacity:1;
    }

    #header .searchMe.open .trigger{
        width:22px;
        opacity:1;
     }

    #header .searchMe .handle{
        opacity:1;
    }    

    #header .searchMe.open .handle,
    #header.slim .searchMe.open .handle{
        opacity:0;
     }    

    #header.slim .signin.open,
    #header .slimnav.open{
        top:50px;
    }

    #header .signin,
    #header .slimnav{
        width:100%;
    }    

    #header .slimnav .slimmenu,
    #header .slimnav .slimsocial{
        width:50%;
    }

    #header .slimnav #smCont.oopen,
    #header .slimnav #ssCont.oopen{
        display:block;
        overflow:scroll;
        height:calc(100% + 200px);
    }    

    #header .leafContent p#artTit{
        display:none;
    }

    #header .leafContent li:first-of-type{
        margin-left:6px;
    }

    #header .leafContent .soc{
        margin-right:6px;
    }    

    #header .leafContent .fb{
        margin-left:0;
    }

    #header .leafContent li.avanti{
        margin-right:3.125%;
    }

    #header .leafContent li.avanti a:before{
        content:'Successiva';
    }   

    #gzshop-prefooter{
        background:url(http://www.giallozafferano.it/style/images/gzshop-prefooter-bg-mob.png) center bottom no-repeat;
        background-size:cover
    }

    #gzshop-prefooter .gzshop-prefooter-gag{
        margin-left:-35px;
        left:50%;

        width:70px; height:65px;
    }    

    #gzshop-prefooter .gzshop-prefooter-content{
        padding-top:80px;
        width:245px;
    }

    #gzshop-prefooter .gzshop-prefooter-title{
        font-size:20px;
        line-height:24px;
    }

    #gzshop-prefooter a.gzshop-prefooter-title span{
        padding-top:10px;    
    }
    
    #gzshop-prefooter .gzshop-prefooter-title:before{
        padding-bottom:0;
        padding-right:130px;
        font-size:34px;
        line-height:60px;
        background:url(http://www.giallozafferano.it/style/images/logo-footer-gzshop-mob.png) right 0 no-repeat;
    }

    #gzshop-prefooter .gzshop-prefooter-more{
        width:100%;
        overflow:visible;
    }

    #gzshop-prefooter .gzshop-prefooter-more a{
        float:none;
        display:block;
        margin:-120px auto 0;
        width:180px;
        height:50px;
        line-height:50px;
        border-radius:25px;
    }

    #gzshop-prefooter .gzshop-prefooter-more p{
        float:none;
        padding-top:56px;
        display:block;
        text-align:center;
        width:100%;
        font-size:15px;
    }    

    #footer dl.ls{
        width: 64%;
        margin: 10px 17% 20px;
    }

    #footer dl.ls dd:nth-child(5):before{
        content: "";
        margin: 0 5px 0 0;
    }
}

@media only screen and (max-width: 320px){

    #header .signin input[type="submit"]{
        padding:0 7px;
    }    

    #header .slimnav li.slimfather{
        width:49.6%;
    }

    #footer dl.ls{
        width: 70%;
        margin: 10px 15% 20px;
    }

}

.la{
  position: relative;
}

.lancio{
  position:absolute;
  display:block;
  top:-180px;
  left:50%;
  margin-left:-197px;
  width:216px;
  height:144px;
  background:url() 0 0 no-repeat;
  background-size:216px auto;
  border:10px solid #FFF;
  border-radius:3px;
  -moz-box-shadow:0 0 25px #a0a0a0;
  -webkit-box-shadow:0 0 25px #a0a0a0;
  box-shadow:0 0 25px #a0a0a0;
  z-index:20000;   
}

.lancio:after{
  content:'';
  position:absolute;
  top:155px;
  left:50%;
  margin-left:-10px;
  width:0;
  height:0;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  border-top:10px solid #FFF;
}

.loop .lancio{
  margin-left:0;
  top:-10px;
  left:-10px;
}

.loop .lancio:after{
  display:none;
}

.chart {
  position:relative;
  display:block;
  margin:17px auto 0;
  width:110px;
  height:110px;
  background:rgba(0,0,0,0.5);
  border-radius:50%;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

.chart span {
  position:absolute;
  top:0;
  left:0;
  width:110px;
  font:60px/110px 'Roboto Slab';
  color:#FFF;
  text-align:center;
}

.chart canvas {
  position:absolute;
  left:0;
  top:0;
  z-index:2;
}        

.videoFrameSheet{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(123,106,163,0.7);
  z-index:20000;
  opacity:0;
  -webkit-transition:opacity 0.5s ease-in-out;
  -moz-transition:opacity 0.5s ease-in-out;
  transition:opacity 0.5s ease-in-out;
}

.videoFrameSheet.visible{
  opacity:1;
}

.contVideoFrame{
  position:absolute;
  top:50%;
  left:50%;
  margin:-245px 0 0 -390px;
  padding:65px 70px 65px;
  width:640px;
  height:360px;
  z-index:100000;
  background:#FFF;
}

.videoFrameTitle{
    position: absolute;
    margin: -225px 0 0 -320px;
    top: 50%;
    left: 50%;
    width: 640px;
    font: 700 24px/28px 'Roboto Slab';
    color:#3d3257;
    z-index: 100001;
    text-align: center;
    text-decoration:none;
} 

.videoFrameTitle:hover{
    text-decoration:underline;
}

.videoFrame{
  margin:0 auto;
  width:640px;
  height:360px;
  border:0 none;
  background:#202020;
}

.videoFrameGoto{
  position:absolute;
  top:50%;
  left:50%;
  margin:195px 0 0 -150px;
  width:300px;
  border:0 none;
  z-index:100000;
  text-align:center;
  font:bold 16px/29px 'Lato';
  color:#f49747;          
  text-decoration:none;
  text-transform:uppercase;
  background-color:#FFF;
  border:3px solid #edebf2;
  border-radius:44px;
}        

.videoFrameGoto:hover{
  color:#FFF;
  background:#f49747;
  border:4px solid #f49747;
}

.videoFrameClose{
  position:absolute;
  margin:-170px 0 0 280px;
  top:50%;
  left:50%;
  width:30px;
  height:30px;
  border:0 none;
  z-index:100001;
  background:rgba(0,0,0,0.3);
  border-radius:15px;
}  

.videoFrameClose:after{
  height:2px;
  width:15px;
  background:#fff;
  content:'';
  display:block;
  position:absolute;
  top:45%;
  left:50%;
  margin-left:-7px;
  -webkit-transform-origin:50% 50%;
  transform-origin:50% 50%;
  transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
}

.videoFrameClose:before{
  height:2px;
  width:15px;
  background:#fff;
  content:'';
  display:block;
  position:absolute;
  top:45%;
  left:50%;
  margin-left:-8px;
  -webkit-transform-origin:50% 50%;
  transform-origin:50% 50%;
  transform:rotate(45deg);
  -webkit-transform:rotate(45deg)    
}

@media only screen and (max-width: 1539px){

  .loop .lancio{
    width:180px;
    height:120px;
    background-size:180px auto;
  }

  .loop .chart{
    margin-top:5px;
  }

}  

/* BARILLA */

.barilla #secnav{
    margin-bottom:10px;
}

#secnav li a.bpasta{
    padding-left:31px;
    background:url(http://www.giallozafferano.it/style/images/secnav-icons.png) 0 -278px no-repeat;
}

#secnav li a.bpasta:hover{
    background-position:0 -78px;    
}

.barilla .expanding{
    margin-bottom:10px;
    padding:0;
    background:transparent;
}

.barilla #contenitore-sito-x-adv{
    display:none;       
}

.bhomeintro{
    padding:57px 0 0;
    background:#FFF;
    position:relative;
}

.bhomeheader{
    position:relative;
    padding:26px 3% 25px;
    overflow:hidden;
}

.bhomeheader h1{
    font:700 54px/54px 'Roboto Slab';
    color:#183f68;
    letter-spacing:-1px;
}

.bhomeheader h1 a{
    color:#183f68;
    text-decoration:none;
}

.bhomeheader h1 a:hover{
    text-decoration:underline;
}

.bhomeheader h2,
#content header.bhomeheader .rkat{
    position:absolute;
    top:0;
    left:3%;
    font:30px 'Cookie';
    text-decoration:none;
    color: #f6973c;
}

.bhomeheader .heading-spons{
    position:absolute;
    bottom:28px;
    right:6%;
    text-align:center;
}

.bhomeheader .icogz{
    display:inline-block;
    width:95px;
    height:26px;
    background:url(http://www.giallozafferano.it/style/images/logo.png) 0 0 no-repeat;
    background-size:auto 26px;
    text-indent:-9999em;

}

.bhomeheader .icobarilla{
    display:inline-block;     
    width:52px;
    height:26px;    
    background:url(http://www.giallozafferano.it/style/images/barilla/header-barilla.png) 0 0 no-repeat;
    background-size:52px 26px;
    text-indent:-9999em;
}

.bhomeheader .icohide{
    display:inline-block;
    width:7px;
    text-indent:-9999em;
}

.bhomeheader .line{
    display:block;
    font:italic 12px 'Lato';
    color:#54437e;
}

.bhomeheader .line.fs{
    margin-top:7px;
}

.bhomeheader .line a{
    font-weight:700;
    font-style:normal;
    color:#54437e;
    text-decoration:none;
}

.bhomeheader .heading-spons .barilla-spons{
    text-decoration: none;
}

.btestata{
    position:absolute;
    top:0;
    left:0;
    margin:5px 5px 0;
    width:calc(100% - 10px);
    height:33px;
    background:#183f68; 
}

.btestata li{
    float:left;
    margin-left:2%;
    font:700 13px/33px 'Lato';
    text-transform:uppercase;
}

.btestata li a{
    display:inline-block;
    color:#FFF;
    text-decoration:none;
}

.btestata li.grandiclassici{
    margin-left:2.521008403361345%;
}

.btestata li.nuoviclassici{
    float:right;
    margin-right:2.521008403361345%;
    line-height:27px;
}

.btestata li.nuoviclassici a{
    margin-top:3px;
    padding:0 10px;
    background:#ee3834;
    border-radius:2px;
}

.btestata li.bfilters{
    position:relative;
    z-index:10;
}

.btestata li.bfilters > a{
    padding-right:15px;
    background:url(http://www.giallozafferano.it/style/images/barilla/arrow-bfilters.png) right top no-repeat;
    position:relative;
}

.btestata li.bfilters > a.over{
    padding-right:15px;
    background:url(http://www.giallozafferano.it/style/images/barilla/arrow-bfilters.png) right bottom no-repeat;
    position:relative;
}

.btestata #bfilters_list{
    display:none;
    position:absolute;
    top:100%;
    left:-1.25%;
    width:200px;
    background:#183f68;
}

.btestata #bfilters_list li{
    float:none;
    text-transform:none;
}

#mobbfilters{
    display:none;
}

h3.bsez{
    margin:11px 0 34px;
    font:30px/34px 'Cookie';
    color:#f6973c;
    text-align:center;
    background:url(http://www.giallozafferano.it/style/images/bg-h3-sez.png) center center repeat-x;
    position:relative;
}

h3.bsez span{
    display:inline-block;
    margin:0 auto;
    padding:0 20px;
    min-width:180px;
    text-align:center;
    font:30px/24px 'Cookie';
    color:#f6973c;
    text-align:center;
    background:#FFF;    
}

#content .sidebar .box.barilla dt{
    color:#f6973c;
}

#content .sidebar .box.barilla .c{
    line-height:21px;
}

#content .sidebar .box.barilla .c:before{
    content:'da ';
    color:#766998;
}

#content .sidebar .tutte{
    display:block;
    margin:10px auto 40px;
    width:230px;
    font:700 14px/40px 'Lato';
    color:#183f68;
    text-align:center;
    text-transform:uppercase;
    border:1px solid #e0dfe5;
    border-radius:2px;
}

#content .sidebar .bsocial{
    margin-bottom:40px;
    padding:3px;
    border:1px solid #dfddea;
    position:relative;
}


#content .sidebar .bsocial:before{
    content:'Seguici su';
    font: 28px/34px 'Cookie';
    color:#f6973c;
    text-align: center;    
    position:absolute;
    top:-17px;
    left:50%;
    margin-left:-61px;
    padding:0 20px;
    background:#FFF;
}

#content .sidebar .bsocial-cont{
    padding:20px;
    border:1px solid #bfb9d1;
}

#content .sidebar .bsocial-cont .bsocial-item{
    margin:20px 0 0;
    padding:0 0 20px 70px;
    height:43px;
    background:url(http://www.giallozafferano.it/style/images/barilla/bsocial.png) 0 2px no-repeat;
    border-bottom:1px solid #dfddea;
}

#content .sidebar .bsocial-cont .bsocial-item.tw{
    background-position:0 -59px;
}

#content .sidebar .bsocial-cont .bsocial-item.is{
    background-position:0 -118px;
}

#content .sidebar .bsocial-cont .bsocial-item.yt{
    background-position:0 -179px;
    border-bottom:0 none;   
}

#content .sidebar .bsocial-cont .bsocial-item a{
    display:block;
    color:#183f68    
}

#content .sidebar .bsocial-cont .bsocial-item.fb a,
#content .sidebar .bsocial-cont .bsocial-item.tw a{
    margin-bottom:3px;
}

.barilla #content .sidebar .c:hover{
    text-decoration:none
}

.barilla .l-adsense{
    display:none;
}

.bhomeheader .break{
    display: none;
}

@media only screen and (max-width: 1539px){
    .btestata li{
        font-size:12px;
    }
}
    

@media only screen and (max-width: 900px){
    .barilla .l-adsense{
        display:block;
    }

    .barilla .expanding div{
        display:none;
    }    

    .btestata li.tablethide{
        display:none;
    }
}

@media only screen and (max-width: 800px){

    .btestata li{
        margin-left:15px;
    }

    .bhomeheader .heading-spons{
        right:0;
    }  

    .btestata li.bfilters{
        position: static;
    }        

    .btestata #bfilters_list{
        left:auto;
        right:0;
        width:250px;
        background:#183f68;
    }  

    .nogzfooter #content{
        padding-bottom:236px;
    }

    .nogzfooter #footer {
        height: 236px;
        border-top: 6px solid #7d6aa3;
    }         

}

@media only screen and (max-width: 670px){
    
    .btestata{
        display:none;
    }

    .barilla .expanding{
        display:none;
    }    

    #content header.bhomeheader{
        padding:85px 0 14px;
        overflow:visible;
    }

    .bhomeheader h2,
    #content header.bhomeheader .rkat{
        top:63px;
        font-size:26px;
    }

    .bhomeheader .heading-spons{
        position:absolute;
        top:-34px;
        left:0;
        bottom:auto;
        right:auto;
        width:100%;
        text-align:center;
    }    

    .bhomeheader .icogz{
        width:124px;
        height:34px;
        background-size:124px 34px;
    }

    .bhomeheader .icobarilla{
        width:68px;
        height:34px;    
        background-size:68px 34px;
    }    

    .bhomeheader .line{
        display: inline-block;
        font-size: 13px;
    }

    .bhomeheader .line.fs{
        margin-top:8px;
    }

    .bhomeheader .break{
        display: block;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .ig-b-v-24 { 
        background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); 
        background-size: 160px 178px; 
    } 
}