@charset "utf-8";

/* table_list */
.table01n_list{ margin-top:10px; border-top:2px solid #5d8bca; text-align:center}
.table01n_list th{ padding:7px 0 5px 0; border-bottom:1px solid #cedcef; background:#f5f8fc url(/images/board/background/bg_table01_list.gif) right 10px no-repeat}
.table01n_list th.end{ background-image:none}
.table01n_list td{ padding:6px 0 4px 0; border-bottom:1px solid #f2f2f2}
.table01n_list td.left{ padding-left:5px; text-align:left}
.table01n_list td a{ color:#494949}
.table01n_list td a:hover, .table01_list td a:focus, .table01_list td a:active{ color:#1552a6; text-decoration:none}
.table01n_list tr:hover { background:#f5f8fc}



/* table_list */
.table01_list{ margin-top:10px; border-top:2px solid #5d8bca; text-align:center}
.table01_list th{ padding:7px 0 5px 0; border-bottom:1px solid #cedcef; background:#f5f8fc url(/images/board/background/bg_table01_list.gif) right 10px no-repeat}
.table01_list th.end{ background-image:none}
.table01_list td{ padding:6px 0 4px 0; border-bottom:1px solid #f2f2f2}
.table01_list td span{ font-weight:bold; color:#1552a6;}
.table01_list td.left{ padding-left:5px; text-align:left}
.table01_list td a{ color:#494949}
.table01_list td a:hover, .table01_list td a:focus, .table01_list td a:active{ color:#1552a6; text-decoration:none}
.hoverstyle{ background:#f5f8fc}
.outstyle{ background:#fff}

/* text_list */
.text01_list{ overflow:hidden; height:100%; margin-bottom:20px; padding:20px 0 11px 20px; background:#f7fafe; border:1px solid #cedcef}
.text01_list p{ height:75px; float:left; margin-right:15px; padding-right:15px; border-right:1px solid #cedcef}
.text01_list p img { margin-top:5px;}
.text01_list dl{ float:left; width:490px; line-height:1.6em}
.text01_list dl dt{ position:relative; padding:0 0 3px 8px; background:url(/images/common/background/bg01_text.gif) no-repeat left 6px; color:#1552a6;}
.text01_list dl dt span{ position:absolute; top:0; right:0; color:#494949}
.text02_list{ margin-top:-18px; color:#c03500; letter-spacing:-1px}

/* view */
.view01{ position:relative}
.view01 h3{ margin-bottom:4px; font-size:1.5em}
.view01 li{ display:inline; padding:0 6px 0 10px; background:url(/images/common/background/bg01_clmn.gif) left 0px no-repeat; font-size:0.917em}
.view01 li.first{ padding-left:0; background:none}
.view01 p{ position:absolute; top:0px; right:3px}
.view01 p a{ display:block; width:92px; height:21px; padding-top:4px; vertical-align:top; font-size:0.917em; color:#1552a6; text-align:center; background:url(/images/common/btn/btn01_clmn.gif) left top no-repeat;border:0px solid}


.view01 p a:hover{ text-decoration:none}
.view02{ /*clear:both; */ clear:left; margin-top:30px; padding:14px 14px 14px 14px; border-top:2px solid #5d8bca; border-right:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; border-left:1px solid #e5e5e5; }
.view02 p{ padding-bottom:20px; line-height:1.7em}
.view01 li.cozs{ color:#1552a6;}

.view02 img {max-width:100%; }

.view02 td {text-align:left}
.view01 h4{ width:545px; margin-bottom:4px; font-size:1.4em}

/*게시판보기 view zenda wooki*/
.board_view01{ position:relative}
.board_view01 h3{ width:660px; padding-left:3px; font-size:1.4em; line-height:130%;}
.board_view01 ul { border:0px solid red; display:block;}
.board_view01 ul li{ float:left; padding:0 6px 0 10px; background:url(/images/common/background/bg01_clmn.gif) left 3px no-repeat; font-size:0.917em; border:0px solid red;}
.board_view01 ul li.first{ padding-left:0; background:none}
.board_view01 p{ position:absolute; top:0px; right:3px}
.board_view01 p a { display:block; width:75px; height:21px;vertical-align:top;}

.board_view01 li.last { float:right; border:none; background:none !important; padding:0px; margin:0px; }
.board_view01 li.noright {border-right:none; }

.board_view01 .bbssns{ position:relative; float:right;  border:1px solid #CCC;  }
.board_view01 .bbssns:after {display: block;content: "";clear: both;}
.board_view01 .bbssns li{ float:left; padding:3px; margin:0px; border:none !important; background:none !important;}
.board_view01 .bbssns li a{ float:left; padding:0px; margin:0px;}

/* add for sns, 2011.07.21, position for a tags */
.board_view01 ul li.icons{ float:right; position:relative; display:block; padding:0; margin:0; width:71px; height:24px; background:url(/images/sns/iconbox.gif) left 0px no-repeat; border:0px solid red;}
.board_view01 ul li.icons ol { margin:0; padding:0; display:block;}
.board_view01 ul li.icons ol li { display:inline; float:left; list-style:none; background:none; margin:0; padding:0;}
.board_view01 ul li.icons ol li.icon_facebook a { display:block; position:absolute; left:6px; top:4px; width:16px; height:16px;  background:url(/images/sns/icon_facebook.gif) left 0px no-repeat; text-indent:-5000px;  border:0px solid red;}
.board_view01 ul li.icons ol li.icon_twitter a { display:block; position:absolute; left:27px; top:4px; width:16px; height:16px; background:url(/images/sns/icon_twitter.gif) left 0px no-repeat; text-indent:-5000px;  border:0px solid red;}
.board_view01 ul li.icons ol li.icon_printer a { display:block; position:absolute; left:52px; top:4px; width:14px; height:14px;  background:url(/images/sns/icon_printer.gif) left 0px no-repeat; text-indent:-5000px;  border:0px solid red;}



/*
.board_view01 li.icons{ float:right; padding:0; background:none;}
.board_view01 .snsbox { width:46px; height:24px; float:right; background:url(/images/sns/snsbox.gif) left 0px no-repeat;}
.board_view01 .icon_facebook { display:inline-block; width:16px; height:16px; margin:4px 0 0 5px; background:url(/images/sns/icon_facebook.gif) left 0px no-repeat; text-indent:-5000px; }
.board_view01 .icon_twitter { display:inline-block; width:16px; height:16px; margin:4px 0 0 0px; background:url(/images/sns/icon_twitter.gif) left 0px no-repeat; text-indent:-5000px; }
.board_view01 .printerbox { width:24px; height:24px; float:left; background:url(/images/sns/printerbox.gif) left 0px no-repeat; margin-right:3px;}
.board_view01 .icon_printer { display:inline-block; width:14px; height:14px; margin:5px 0 0 5px; background:url(/images/sns/icon_printer.gif) left 0px no-repeat; text-indent:-5000px; }
*/

.board_view01 p a:hover{ text-decoration:none}
.board_view02 { clear:both; margin-top:10px; padding:14px 14px 14px 14px; border-top:2px solid #5d8bca; border-right:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; border-left:1px solid #e5e5e5}
.board_view02 p{ padding-bottom:20px; line-height:1.7em}
.board_view01 li.cozs{ color:#1552a6;}

.board_view02 td {text-align:left}



/* text_view */
.text01_view{ position:relative; margin-top:18px;border:0px solid #eee;}
.text01_view dl{ overflow:hidden; height:100%;}
.text01_view dl dt{ float:left; width:57px; padding-left:18px; color:#c03500}
.text01_view dl dd{ float:left;}
.text01_view dl dd a{ color:#494949; font-weight:bold; font-size:0.917em}
.text01_view dl dd a:hover{ color:#1552a6; text-decoration:none}
.text01_view .btn_list{ position:absolute; top:0; right:0}



.text01_view .btn_list a, .btn_list02 a{ display:block; width:75px; padding:4px 0 2px 0; border:1px solid #789ed3; background:#5d8bca; color:#fff; text-align:center; text-decoration:none}
.btn_list02{ margin-top:18px; text-align:right}
.btn_list02 a{ display:inline-block!important}
.btn_list02 a:hover, .btn_list02 a:focus, .btn_list02 a:active{ text-decoration:none}

.text02_view{ margin-top:18px; padding:0 10px; border:1px solid #cedcef; background:#f7fafe}
.text02_view li{ position:relative; padding:7px 0 5px 13px; background:url(/images/board/background/bg01_view.gif) repeat-x left bottom}
.text02_view li.end{ background:none}
.text02_view li span{ display:inline-block; width:33px}
.text02_view li em{ position:absolute; top:7px; right:10px}
.text02_view li strong{ color:#1552a6;}

/*with0207*/
.with0207_view{ width:100%;margin-top:18px; padding:0 0px; border:1px solid #cedcef; background:#f7fafe}
.with0207_view li{ position:relative; padding:7px 0 5px 13px; background:url(/images/board/background/bg01_view.gif) repeat-x left bottom}
.with0207_view li.end{ background:none}
.with0207_view li span{display:inline-block; width:33px;height:14px;font-size:11px;color:#333;overflow:hidden;}
.with0207_view li span.w100{ display:inline-block; width:110px;font-size:11px;color:#333}
.with0207_view li span.w380{ font-size:12px; width:380px;overflow:hidden;}

.with0207_view li em{ position:absolute; top:7px; right:15px;font-size:11px;color:#333}
.with0207_view li strong{ color:#1552a6;}
.with0207_view li a { color:#494949 ;width:380px}
.with0207_view li a:hover, .with0207_view li a:focus, .with0207_view li a:active { color:#1552a6; text-decoration:none}

.text03_view{ clear:both; overflow:hidden; float:left; height:100%;  margin:18px 0 0 0 !important; padding:0 10px; border:1px solid #cedcef; background:#f7fafe}
.text03_view .bg_btm{ border-top:1px dotted #cedcef; }
.text03_view dt{ clear:left; float:left; width:70px; padding:7px 0 5px 5px}
.text03_view dt span{ padding-left:18px; background:url(/images/board/background/bg_next.gif) no-repeat left 3px}
.text03_view dt.bg_btm span{ background:url(/images/board/background/bg_prev.gif) no-repeat left 3px}
.text03_view dd{ float:left; width:563px; padding:7px 0 5px 0}


.text02_view li a, .text03_view dd a{ color:#494949}
.text02_view li a:hover, .text02_view li a:focus, .text02_view li a:active, .text03_view dd a:hover, .text01_view dd a:focus, .text01_view dd a:active{ color:#1552a6; text-decoration:none}


.text04_view{ position:relative; margin-top:18px; padding:0 10px 10px 10px; border:1px solid #cedcef; background:#f7fafe}
.text04_view .text01{ position:relative; height:100%; padding:7px 0 3px 10px; background:url(/images/board/background/bg01_view.gif) repeat-x left bottom; color:#1552a6;}
.text04_view .text01 span{ padding-left:10px; background:url(/images/board/background/bg02_view.gif) no-repeat left 5px}
.text04_view .text01 em{ position:absolute; top:6px; right:30px; color:#494949}
.text04_view dl{ overflow:hidden; height:100%; padding-bottom:10px;}
.text04_view dl dt{ float:left; width:90px; padding:7px 0 5px 20px}
.text04_view dl dd{ float:left; width:528px; padding:7px 0 5px 0}
.text04_view dl dd em{ color:#999}
.text04_view #area01{ width:520px; height:75px; margin-bottom:8px}
.text04_view span{ display:block}
.text04_view .btn01{ position:absolute; bottom:8px; right:12px}
.text04_view .btn01_t10{ position:absolute; right:12px; bottom:8px;}
.text04_view .btn01 input, .text04_view .btn01_t10 input{ width:77px; height:26px; border:1px solid #789ed3; background:#5d8bca; color:#fff; cursor:pointer}
/*.text04_view .bg_btm{ background:url(/images/board/background/bg01_view.gif) repeat-x left bottom}*/
/* 2011.07.21 for board comment */
.text04_view .bg_btm{ clear:both; height:2px; line-height:2px; font-size:1px; background:url(/images/board/background/bg01_view.gif) repeat-x left bottom}

.text04_view ul { clear:both; padding:0; margin:0; margin-top:5px; }
.text04_view li { float:left; }
.text04_view li.name { width:90px; padding:0px 0 5px 20px }
.text04_view li.commenttxt { width:528px; }
.text04_view dl { clear:both; }
/* -- 2011.07.21 --*/



/* 열린게시판 view 용*/
.btn_list02_free { clear:both; padding-top:18px; text-align:right; display:block; border:0px solid red;}
.btn_list02_free a:link, .btn_list02_free a:visited  {  display:inline-block!important; width:75px;  padding:4px 0 2px 0; border:1px solid #789ed3; background:#5d8bca; color:#fff; text-align:center; text-decoration:none}
.btn_list02_free a:hover, .btn_list02_free a:focus, .btn_list02_free a:active{ text-decoration:none}


/* table_write */
.table01_write{ padding:12px 0 10px 0; background-color:#f7f7f7; border-top:2px solid #5d8bca; border-bottom:1px solid #cedcef}

.table01_write th{ padding:13px 0 10px 0; color:#1552a6; ;width:80px}
.table01_write .c_th{ vertical-align:top}
.table01_write td{ padding:5px 0 8px 0}

.table01_write .txt01{ width:536px; height:18px; border:1px solid #f4f3f1}
.table01_write .txt01_zn{ width:540px; height:18px; border:1px solid #f4f3f1}
.table01_write .txta01{ width:536px; height:230px; border:1px solid #f4f3f1; overflow:hidden}
.table01_write .txta01_zn { width:540px; height:230px; border:1px solid #f4f3f1; overflow:hidden}
.table01_write .txta02{ width:96%; height:230px}

.txta01_zn { width:10px; height:230px; border:1px solid #f4f3f1; overflow:hidden}

/* btn_write */
.btn01_write{ margin-top:20px; text-align:right}
.btn01_write ul li, .btn02_write li{ display:inline}
.btn01_write ul li input, .btn02_write li input{ width:77px; height:26px; border:1px solid #789ed3; background:#5d8bca; color:#fff; cursor:pointer}
.btn01_write span{ float:left; padding:4px 0 5px 11px; color:#c03500; vertical-align:top}
.btn02_write{ margin-top:20px; text-align:center}

/* search */
.search01{ text-align:right}
.search01 .select01{ width:130px; height:22px; padding:1px 0; border:1px solid #ddd}
.search01 .select02{ width:70px; height:22px; padding:1px 0; border:1px solid #ddd}
.search01 .sech{ width:123px; height:18px; border:1px solid #ddd}
.search01 .btn01, .search01 .btn02{ height:22px; border:1px solid #ddd; background:url(/images/board/background/bg_button.gif) repeat-x; color:#494949; font-size:0.917em; cursor:pointer}
.search01 .btn01{ width:64px; margin-left:-5px}
.search01 .btn02{ width:64px}




/* paging */
.paging{ position:relative}
.paging ul{ margin-top:18px; text-align:center}
.paging ul li{ display:inline; margin:0 5px}
.paging ul li.li01{ margin:0 3px}
.paging ul li strong{ font-size:1.083em; text-decoration:underline}
.paging ul li a{ color:#4b4b4b}
.paging ul li a:hover{ color:#1552a6; text-decoration:none}
.paging .btn_write{ position:absolute; top:-5px; right:10px}
.paging .btn_write a{ display:block; width:75px; padding:4px 0 2px 0; border:1px solid #789ed3; background:#5d8bca; color:#fff; text-align:center; text-decoration:none}



/* 게시물 제목 색상 */
.titlecolor1 {color:#4587EB;}
.titlecolor2 {color:#6E9CF2;}
.titlecolor3 {color:#8394CF;}
.titlecolor4 {color:#7B8493;}
.titlecolor5 {color:#4B4B4B;}

.titlecolor6 {color:#2EB8C7;}
.titlecolor7 {color:#69C2D2;}
.titlecolor8 {color:#97ADD2;}
.titlecolor9 {color:#94A5B6;}
.titlecolor10 {color:#8C66D9;}

.titlecolor11{color:#44be1e;}
.titlecolor12{color:#93CC4B;}
.titlecolor13{color:#B4B4B4;}
.titlecolor14{color:#A28AB5;}
.titlecolor15{color:#C08BD7;}

.titlecolor16{color:#B0BC2D;}
.titlecolor17{color:#CCC05D;}
.titlecolor18{color:#BEB297;}
.titlecolor19{color:#DA9B9B;}
.titlecolor20{color:#F06280;}

.titlecolor21{color:#DEC200;}
.titlecolor22{color:#E6A11B;}
.titlecolor23{color:#F3672A;}
.titlecolor24{color:#F62D2D;}
.titlecolor25{color:#D2423C;}


/* 답변 */

.replydepth1 { padding-left:10px !important; }
.replydepth2 { padding-left:20px !important; }
.replydepth3 { padding-left:30px !important; }
.replydepth4 { padding-left:40px !important; }
.replydepth5 { padding-left:50px !important; }
.replydepth6 { padding-left:60px !important; }
.replydepth7 { padding-left:70px !important; }




/* 파일업로드 */
#bf_filewrapper {
  border:1px solid #bbccff;
}

#bf_filewrapper .filelist {
  background-color:#fff;
  line-height:20px;
}

#bf_filewrapper .uploadbutton
{
  line-height:20px;
  background-color:#f1f4ff;
  padding:5px;
}

#bf_filewrapper .filelist ul li {
  float:left;
}


#bf_filewrapper .progressWrapper {
}

#bf_filewrapper .progressContainer {
  margin: 0px;
  padding: 3px 5px;
  border-bottom: 1px solid #E8E8E8;
  overflow: hidden;
}

#bf_filewrapper .spanButtonPlaceHolder { width:100px; height:20px; }

/* Message */
.message {
  background-color: #FFFFCC;
  overflow: hidden;
}
/* Error */
.red {
  background-color: #FFEBEB;
}

/* Current */
.green {
  background-color: #EBFFEB;
}

/* Complete */
.blue {
  background-color: #F0F5FF;
}

#bf_filewrapper .filename {
  font-size: 8pt;
  color: #555;
  width: 300px;
  height: 18px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  border:0px solid red;
  float:left;
}

#bf_filewrapper .filesize {
  font-size: 8pt;
  color: #555;
  width: 60px;
  height: 18px;
  text-align: right;
  margin-right:10px;
  white-space: nowrap;
  overflow: hidden;
  border:0px solid red;
  float:left;
}

#bf_filewrapper .progressErrMsg {
  background-color:#fff;
  height:12px;
  width:102px;
  float:left;
  margin:-1px 10px 0 0;
}


#bf_filewrapper .progressBarBorder {
  border:1px solid #999;
  background-color:#fff;
  height:12px;
  width:102px;
  float:left;
  margin:3px 10px 0 0;
}

#bf_filewrapper .progressBarEmpty {
  background-color:#fff;
  height:12px;
  width:102px;
  float:left;
  margin:3px 10px 0 0;
}


#bf_filewrapper .progressBarInProgress,
#bf_filewrapper .progressBarComplete,
#bf_filewrapper .progressBarError {
  font-size: 0;
  width: 0%;
  height: 10px;
  background-color: #6787E3;
  margin: 1px;
}

#bf_filewrapper .progressBarComplete {
  width: 100px;
  background-color: green;
  visibility: hidden;
}

#bf_filewrapper .progressBarError {
  width: 100px;
  background-color: red;
}

#bf_filewrapper .progressBarStatus {
  margin-top: 2px;
  width: 300px;
  font-size: 7pt;
  text-align: left;
  white-space: nowrap;
  border:0px solid red;
}

#bf_filewrapper .progressButton {
  margin-top:2px;
  height: 16px;
  width: 120px;
  float: right;
  line-height:16px;
  vertical-align:top;
  text-align:right;
  margin-right:3px;
  overflow:hidden;
  border:0px solid red;
  color:#678dd9;
  font-size:11px;
}

.goodfilebox { border:1px solid #bbccff; border-top:none; padding:5px; }

#bf_filewrapper .uploadbutton ul { list-style:none; margin:0; padding:0; }

/* file uploading */
.uploading { display:none; background:url(../images/common/loader.gif) 0px 0px no-repeat !important; padding-left:22px;  }