/* This stylesheet is used to style the public view of the plugin. */
/* CSS Document */

#carousel {
    position:relative;
    width: 100%;
    background:#000 url(../images/slider-bg-dark.png) top center no-repeat;
    margin:0 auto;
    color:#fff;
}

#carousel .slider-wrapper {
    padding: 0px;
    margin: 0 auto;
}

#carousel .carousel-prev, .carousel-next {
	display: none;
    position:absolute;
    width:25px;
    height:25px;
    top:40%;
    cursor:pointer;
    z-index: 25;
}
#carousel:hover .carousel-prev, #carousel:hover .carousel-next {
	display: block;
}
#carousel .carousel-prev {
    left:0px;
}
#carousel .carousel-next {
    right:0px;
}
#carousel .carousel-prev, .slide-pager-prev {
    background: transparent url(../images/left-arrow.png) no-repeat scroll center center;
}
#carousel .carousel-next, .slide-pager-next {
    background: transparent url(../images/right-arrow.png) no-repeat scroll center center;
}

#carousel .slider-wrapper > ul.slider {
    overflow: hidden; 
    height: 180px;
    padding: 0;
    margin: 10px;
    list-style-type: none;
}
#carousel .slider-wrapper ul.slider li {
    width:100%;
	padding:5px 0;
    list-style-type: none;
    background:none;
}
#carousel .slider-wrapper > ul.slider li .slide-graphic {
    width:50%;
    float:left;
}
#carousel .slider-wrapper ul.slider li .slide-graphic img {
    width:100%;
	height:auto;
	border:1px solid #666;
	background-color:#000;
	padding:2px;
}

#carousel .slider-wrapper ul.slider li .slide-text {
    float:left;
    width:50%;
}
#carousel .slider-wrapper ul.slider li .slide-text .slide-description {
    padding:5px 10px 5px 20px;
	font-weight:bold;
}
#carousel .slider-wrapper ul.slider li .slide-text .slide-description h3 {
	margin-top:0;
	color:#639ec8;
	font-size:1.2em;
}
#carousel .slider-wrapper ul.slider li .slide-text .slide-description h3 a, .slider-wrapper ul.slider li .slide-text .slide-description h3 a:hover {
	text-decoration:none;
}
#carousel .slider-wrapper ul.slider li .slide-text .slide-description p {	
	font-size:.9em;
	color:#DEDEDE;
	line-height:1.5em;
}
#carousel .slider-wrapper ul.slider li .slide-text .slide-description a {
	color:#56A0D3;
}
#carousel .slider-wrapper ul.slider-controls {
    text-align: center;
}

#carousel .slide-pager {
    margin: 0 auto;
}

#carousel .slide-pager ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    clear: both;
}


#carousel .slide-pager ul li {
    margin-right: 10px;
    background:none;
}
#carousel .slide-pager ul li img {
    border:1px solid #555;
    opacity:.5;
	width:78px;
	height:60px;
	padding:2px;
}
#carousel .slide-pager ul li img:hover {
    opacity:1;
}

#carousel .slide-pager ul li img { display: block;}

#carousel .slide-pager-wrapper {
    width: 49%;
    margin: 0 auto;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index:100;
    padding:0 0 10px;
}	

#carousel .slide-pager-prev, .slide-pager-next {
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 25%;
    cursor:pointer;

}
#carousel .slide-pager-prev {
    left:5px;
}
#carousel .slide-pager-next {
    right:15px;
}

#carousel .slide-pager ul li.activeSlide img {
    border: 1px solid #fff;
    opacity:1;
}

#carousel .slide-direct {
    display:none;
}
#carousel .slide-pager-prev.disabled, .slide-pager-next.disabled {
    visibility:hidden;
}