
.citi_ban {
	/*background-color: #f37026;
	width: 100%;*/
	background: url("/images/citi/bg.png") repeat-x;
	background-color: #4f416e;
	border-collapse: collapse;
	height: 80px;
	border-radius: 10px;
	margin: 5px;
	padding: 0 10px;
}

.citi_ban a {
	text-decoration: none;
}



.citi_goods {
	float: left;
	clear: right;
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.citi_goods td  {
	vertical-align: middle;

}

.citi_goods td div {
	padding: 0 5px;
	min-width: 150px;
	max-width: 340px;
	background: #fff;
	border-radius: 10px;
	max-height: 75px;
	float: right;
	opacity: 0.9;
	font-size: 0.9em;

}
.citi_goods td div:first-child {
	border: 1px solid #000dff;
	min-width: 300px;
}


.citi_logo {
	background: url("/images/citi/logo.png") no-repeat 10% !important;
	width: 127px;
	height: 74px;
	/*width: 127px;
	height: 74px;*/
}

.citi_free {
	background: url("/images/citi/citifree.png") no-repeat 10% !important;
	width: 124px;
	height: 74px;
}
.citi_free span {
	margin-left: -15px;
}

.citi_goods td img {
	margin: 2px 10px;
	float: left !important;
}

.citi_goods td:first-child {
}

.citi_goods em {
	color: #f26e33;
	font-style: normal;
	font-weight:bold;
	font-size: 1.1em;
}

.citi_goods span:not(.over-hiddenlink-html):not(.over-hiddenlink) {
	display: inline-block;
	margin-top: 5px;
}
