/* focus */
.focus {
    position: relative;
    width: 970px;
    height: 335px;
    margin-bottom: 10px;
    padding: 10px 0 0 0;
    _overflow: hidden;
}
.focus .col {
    float: left;
    margin-right: 10px;
    _display: inline;
}
.focus a {
    position: relative;
    display: block;
    margin-bottom: 10px;
    /*border-radius: 6px;*/
}
.focus img {
    display: block;
    border-radius: 5px;
    /*transition: opacity 0.5s linear 0s;*/
}
.focus em {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #000;
    opacity: 0;

    *display: none;
}
.focus span {
    display: none;
    position: absolute;
    left: -3px;
    top: -3px;
    z-index: 100;
}
.focus span img {
    box-shadow: 0 0 10px #999;
}
.focus a:hover span {
    display: block;
    *display: none;
}
.focus .topCol {
    position: relative;
    height: 100%;
}
.focus .topCol a {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
}
.focus .topCol ul {
    position: absolute;
    right: 5px;
    bottom: 15px;
    z-index: 1100;
}
.focus .topCol li {
    float: left;
    width: 6px;
    height: 6px;
    margin-left: 4px;
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-transition: 0.4s background;
    transition: 0.4s background;
    overflow: hidden;
}
.focus .topCol li.now {
    background: #fff;
}



.slider {
    margin-bottom: 10px;
}
.slider img {
    width: 960px;
    height: 350px;
    border-radius: 5px;
}

.icon-slides{
    display: inline-block;
    width: 41px;
    height: 69px;
    text-indent: -9999em;
    overflow: hidden;
    background-image: url("//img03.mifile.cn/webfile/images/2014/cn/icon/icon-slides.png");
    background-repeat: no-repeat;
    _filter: alpha(opacity=40);
}
.icon-slides:focus{
    outline:0;
}
.icon-slides-prev {
    background-position: -84px center;
}
.icon-slides-prev:hover{
    background-position:0 center;
}
.icon-slides-next {
    background-position: -125px center;
}
.icon-slides-next:hover{
    background-position:-42px center;
}

.xm-slider {
    position: relative;
    height: 350px;
    border-radius: 5px;
    overflow: hidden;
    _zoom: 1;
}
.xm-slider-pagination {
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 10;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.xm-slider-pagination .xm-slider-pagination-item {
    display: inline;
    margin-left: 10px;
}
.xm-slider-pagination .xm-slider-pagination-item a {
    display: inline-block;
    width: 28px;
    line-height: 18px;
    border: 1px solid #f3f3f3;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 12px;
    text-align: center;
    color: #fff;
    color: rgba(255, 255, 255, .9);
    background: #c3c3c3;
    background: rgba(0, 0, 0, .3);
}
.xm-slider-pagination .xm-slider-pagination-item a:hover,
.xm-slider-pagination .xm-slider-pagination-item a.active {
    background: #6d6d6d;
    background: rgba(0, 0, 0, .6);
}
.xm-slider-navigation {
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 10;
}
.xm-slider-previous {
    left: 0;
}
.xm-slider-next {
    right: 0;
}


/* top line */
.topLine { /*dl*/
    color: #bebdbd;
    font-size: 12px;
    overflow: auto;
}
.topLine a {
    color: #667ebd;
}
.topLine h2 {
    height: 60px;
    line-height: 60px;
    font-size: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.topLine h2 a {
    color: #434a54;
}
.topLine h2 a:hover {
    color: #f60;
}
.topLine dt a {
    display: block;
    height: 175px;
    width: 300px;
}
.topLine img {
    display: block;
}
.topLine dd {
    float: right;
    width: 288px;
    line-height: 16px;
    margin-top: -175px;
    overflow: auto;
}
.topLine span {
    float: right;
}
.topLine span em,
.topLine span a {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    margin-left: 5px;
    padding-left: 22px;
    background: url("../images/comm_v2/newsIcon.png") no-repeat;
    color: #aab2bd;
}
.topLine span a:hover {
    color: #656d78;
}
.topLine span .views {
    background-position: 0 0;
}
.topLine span .views:hover {
    /*background-position: 0 -18px;*/
}
.topLine span .replies {
    background-position: 0 -36px;
}
.topLine span .replies:hover {
    background-position: 0 -54px;
}
.topLine span .share {
    background-position: 0 -72px;
}
.topLine span .share:hover {
    background-position: 0 -90px;
}
.topLine p {
    margin-top: 25px;
    line-height: 24px;
    color: #706f6f;
    font-size: 14px;
}
.topLine p a {
    float: right;
    margin-left: 15px;
    font-size: 12px;
    *float: none;
}

/* sub top line*/
.subTopLine { /*ul*/
    width: 620px;
    margin-top: 25px;
    margin-left: -10px;
    padding-bottom: 30px;
    background: url("../images/index_v2/newsLine.gif") center bottom no-repeat;
    color: #bebebe;
    overflow: auto;
}
.subTopLine a {
    color: #667ebd;
}
.subTopLine li {
    float: left;
    width: 145px;
    margin-left: 10px;
    _display: inline;
}
.subTopLine img {
    display: block;
}
.subTopLine h3 {
    height: 44px;
    line-height: 22px;
    margin-top: 5px;
    overflow: hidden;
}
.subTopLine h3 a {
    color: #434a54;
}
.subTopLine h3 a:hover {
    color: #ff603d;
}
.subTopLine span {
    display: block;
    height: 18px;
    margin-top: 5px;
    font-size: 12px;
    white-space: nowrap;
}
.subTopLine span em,
.subTopLine span a {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    padding-left: 22px;
    background: url("../images/comm_v2/newsIcon.png") no-repeat;
    color: #aab2bd;
}
.subTopLine span a:hover {
    color: #656d78;
}
.subTopLine span .views {
    float: left;
    background-position: 0 0;
}
.subTopLine span .views:hover {
    /*background-position: 0 -18px;*/
}
.subTopLine span .replies {
    background-position: 0 -36px;
}
.subTopLine span .replies:hover {
    background-position: 0 -54px;
}
.subTopLine span .share {
    float: right;
    background-position: 0 -72px;
}
.subTopLine span .share:hover {
    background-position: 0 -90px;
}


/* other */

/* location */
.location {
    margin-bottom: 10px;
}
.location div {
    margin: 0 40px 0 -13px;
    padding: 8px 0;
    overflow: auto;
    _width: 933px;
}
.location div a {
    float: left;
    width: 50px;
    height: 26px;
    line-height: 26px;
    margin-left: 53px;
    color: #878787;
    font-size: 12px;
    _display: inline;
}

/* links */
.links {}
.links .topLink {
    margin: 15px 15px 0;
    overflow: auto;
}
.links .topLink a {
    float: left;
    margin-right: 10px;
}
.links .link {
    margin: 0 15px 10px 5px;
    padding: 10px 0 15px;
    overflow: hidden;
    _height: 56px;
    _clear: both;
}
.links .link a {
    color: #878787;
    font-size: 12px;
    height: 14px;
    line-height: 28px;
    margin-left: -1px;
    padding: 0 9px;
    border-left: 1px solid #878787;
    white-space: nowrap;
}

