/* ///////////////////////////////////////////////////////////////////// 
// first batch of RTE Styles for the editor.  This spreadsheet is managed in the template rather
than being included in template-basepage-rd.head because they have to be 'picked up' by 
commonspot to be available in the RTE.  There is another file, commonspotRTE_body.css, that is placed
in the template-basepage-rd.head because its style declarations need to come after
the main nps.css declarations are done
/////////////////////////////////////////////////////////////////////*/
  
.section_title { /* added for Commonspot*/
  color: #333;
  font-size: 1.625rem !important;
  font-weight: 700;
  line-height: 1.2 !important;
  text-rendering: optimizeLegibility;
  /* margin: 2.5rem 0 .625rem; 
  display:block;*/
}
.content .section_title a { /* added for Commonspot */
  font-size: 1.625rem !important;
}
.subheading { /* added for Commonspot */
  font-size: 1.5rem !important;
  font-weight: 400;
  color: #555;
  /* margin: 2.5rem 0 .625rem; 
  display:block;*/
}
.content .subheading a { /* added for Commonspot */
  font-size: 1.5rem !important;
}

/* ///////////////////////////////////////////////////////////////////// 
//  RTE Styles for the editor
/////////////////////////////////////////////////////////////////////*/
body.commonspotRTE {
  background: transparent;
    float: left;
  margin-left:5px;
    margin-top: 12px;
    position: relative;
    width: 746px;
    z-index: 1;
	font: 14px/1.42857 arial,helvetica,sans-serif;
}
body.commonspotRTE  {
    background: transparent url("/common/commonspot/templates/images/chrome/bg/content.png") repeat-y left top;
    color: #464646;
    position: relative;
    width: 570px;
}
body.commonspotRTE .section_title a { /* added for Commonspot */
  font-size: 1.625rem;
}

body.commonspotRTE  .subheading a { /* added for Commonspot */
  font-size: 1.5rem;
}

body.commonspotRTE  strong, body.commonspotRTE  b {
  font-weight:bold;
}

body.commonspotRTE  p {
  margin-bottom: 16px;
}
body.commonspotRTE  ul {
  margin: 0 0 16px 18px;
}
body.commonspotRTE  li {
  /* list-style-type: disc; */
  list-style-position: outside;
}
body.commonspotRTE  ol  li { 
  /* list-style-type: decimal; */
  list-style-position: inside;  
  margin-bottom: 10px;
}
body.commonspotRTE  form ul {
  margin-left: 0 !important;
}
body.commonspotRTE  form li {
  margin-bottom: 10px;
  list-style-type: none !important;
}
body.commonspotRTE  label {
     color: #647630;
     display: block;
     float: left;
     font-size: 14px;
     line-height: 28px;
     margin-right: 18px;
     text-align: right;
     width: 230px;
}
body.commonspotRTE  input,
body.commonspotRTE  textarea {
     border: 1px solid #c9c9c9;
     font-weight: bold;
     height: 16px;
     line-height: 16px;
     padding: 6px 8px;
     width: 256px;
}
body.commonspotRTE  input[type="checkbox"],
body.commonspotRTE  input[type="submit"] { 
  border: none; 
  height: auto;
  padding: 0;  
  vertical-align: text-top;
  width: auto;
}
body.commonspotRTE  input[type="submit"] { 
  padding: 0;
  width: auto;
}
body.commonspotRTE  textarea {
     height: 48px;
     float: left;
}

/* Show/Hide Controls */
body.commonspotRTE  .show-hide  {
    clear: both;
    margin: 14px 0;
    padding-left: 3px;
}
body.commonspotRTE  .show-hide a {
  display: block;
  padding-left: 16px;
}
body.commonspotRTE  .read-less {
  background: url("/common/commonspot/templates/images/bg/show-hide.png") no-repeat scroll 0 -18px transparent;
}
body.commonspotRTE  .read-more {
  background: url("/common/commonspot/templates/images/bg/show-hide.png") no-repeat scroll 0px 5px transparent;
}
body.commonspotRTE  .link-list {
    border-top: 1px solid #D8D8D8;
    margin-bottom: 26px;
    margin-top: 7px;
    padding-left: 3px;
    padding-top: 19px;
}
body.commonspotRTE  .link-list ul {
  margin: 0;  
}
body.commonspotRTE  .link-list li {
  list-style: none outside none;
}
body.commonspotRTE  .tiles {
  margin: 0px;
  width: 100%;
}
body.commonspotRTE  .info-details {
    margin-bottom: 10px;
    padding-top: 8px;
}
body.commonspotRTE  .fact {
  background: url("/common/commonspot/templates/images/bg/divider.png") no-repeat scroll center top transparent;
  clear: both;
    color: #7f7565;
    padding: 16px 0;
}
body.commonspotRTE  a, body.commonspotRTE  a:link , body.commonspotRTE  a:active, body.commonspotRTE  a:focus, body.commonspotRTE  a:visited{
  color: #b28000 !important;
  text-decoration: none;  
}
iframe body.commonspotRTE  a, iframe body.commonspotRTE  a:link , iframe body.commonspotRTE  a:active, iframe body.commonspotRTE  a:focus, iframe  body.commonspotRTE  a:visited{
  color: #b28000 !important;
  text-decoration: none;  
}
body.commonspotRTE  a.more:after {
  content: '\A0\BB';
}
body.commonspotRTE  a.back:before {
  content: '\00AB\A0';
}
body.commonspotRTE  a:hover{
  color: #B17F00;
  text-decoration: underline;
} 
body.commonspotRTE  li a, body.commonspotRTE  li a:link, body.commonspotRTE  li a:active, body.commonspotRTE  li a:focus, body.commonspotRTE  li a:visited{
  color: #b28000 !important;;
  text-decoration: none;
}
body.commonspotRTE  li a.more:after {
  content: '\A0\BB';
}
body.commonspotRTE  li a.back:before {
  content: '\00AB\A0';
}
body.commonspotRTE  li a:hover{
  color: #B17F00;
  text-decoration: underline;
} 

body.commonspotRTE  pre {width:400px;}

body.commonspotRTE blockquote {
    border-left: 4px solid #ccc;
    font-family: Georgia,Times,Times New Roman,serif;
    color: #000;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
}