/***********Begin Of Header - NZ**************/
#header {
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px; 
	FLOAT: left; 
	BACKGROUND-IMAGE: url(/static/start/view/img/hdr-tile.gif); 
	WIDTH: 100%; 
	BACKGROUND-REPEAT: repeat-x
}

#topNavWrap { WIDTH: 930px}

#header UL {
	PADDING: 0px 0px 0px 0px; 
	MARGIN: 0px; 
	LIST-STYLE-TYPE: none
}

#header LI {
	BACKGROUND: url(/static/start/view/img/hdr-vt-lt-lt.gif ) no-repeat right top; 
	PADDING: 0px 0px 0px 0px; 
	margin: 0px;
	FLOAT: left; 
}

#header LI A:link {
	 DISPLAY: block; 
	 FLOAT: left; 
	 PADDING: 5px 15px 7px 4px;  
	 TEXT-DECORATION: none; 
	 COLOR: #fff; 
}
#header LI A:visited {
	DISPLAY: block; 
	FLOAT: left; 
	PADDING: 5px 15px 7px 4px; 
	TEXT-DECORATION: none; 
	COLOR: #fff; 
}
#header LI A:hover {
	DISPLAY: block; 
	FLOAT: left; 
	PADDING: 5px 15px 7px 4px; 
	TEXT-DECORATION: none; 
	COLOR: #FFCC00
}

#header .open {
	BACKGROUND-IMAGE: url(/static/start/view/img/hdr/right-img-on_n.gif); 
	PADDING-RIGHT: 7px; PADDING-BOTTOM: 1px;
}

#header .beforeOpen {
	BACKGROUND-IMAGE: url(/static/start/view/img/hdr-vt-lt-drk.gif);
	PADDING-BOTTOM: 1px;
	PADDING-right: 2px; 
	BACKGROUND-REPEAT: no-repeat; 
}

#brandLogo { FLOAT: left; }
#header .open A:link {COLOR: #fff; TEXT-DECORATION: none; }
#header .open A:visited {COLOR: #fff; TEXT-DECORATION: none;}
#header .open A:hover {COLOR: #FFCC00;}

#spacefiller {background-color: #325696;}	

#breadcrumb-bg {
 	float:left;
    width:100%;
	background-image:  url(/static/start/view/img/nav/brdcrmbs_bckg_n.gif);
	background-repeat: repeat-x;
	}

#breadcrumb-image{
	margin: 0;
	padding: 0;
	border: 0;
	float: right;
 }
/***********End Of Header - NZ**************/	

.error{ color: red; font-weight: bold; padding: 5px; 
	/* border:1px #f00 solid; background: #fff; */ }

/* front door sub-footer/info sections */
#footerFD td{ font-family: Arial; font-size: 10px; font-weight:bold;color: #939393; }
#footerFD a{ color:#004182; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:10px; font-weight:normal; }
#footerFD p{ margin:0; margin-bottom:8px; }
	