h1 {
  color: #e74c3c;
  font-size: 23px;
  font-weight: bold;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-reset li {
  display: inline-block;
}
.list-reset li + li {
  margin-left: 0;
}
.list-reset .ie8 li a {
  font-size: 16px;
}
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#comments_with_shopper:before,
#comments_with_shopper:after {
  content: " ";
  display: table;
}
#comments_with_shopper:after {
  clear: both;
}
#comments_with_shopper * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#comments_with_shopper .title {
  font-size: 23px;
  font-weight: bold;
  color: #e74c3c;
  text-align: center;
}
#comments_with_shopper .inner {
  float: left;
  width: 50%;
  margin-top: 40px;
}
#comments_with_shopper .inner-bordered {
  border-right: 1px solid #ddd;
}
#comments_with_shopper .inner ul.comment {
  list-style: none;
  margin: 0;
  padding: 0;
}
#comments_with_shopper .inner ul.comment li {
  display: inline-block;
}
#comments_with_shopper .inner ul.comment li + li {
  margin-left: 0;
}
#comments_with_shopper .inner ul.comment .ie8 li a {
  font-size: 16px;
}
#comments_with_shopper .inner ul.comment li {
  width: 100%;
  margin-bottom: 15px;
  padding-right: 30px;
}
#comments_with_shopper .inner ul.comment li:before,
#comments_with_shopper .inner ul.comment li:after {
  content: " ";
  display: table;
}
#comments_with_shopper .inner ul.comment li:after {
  clear: both;
}
#comments_with_shopper .inner ul.comment img {
  display: block;
  float: left;
  margin-right: 15px;
  overflow: hidden;
}
#comments_with_shopper .inner ul.comment .text p {
  padding-top: 0;
  font-size: 13px;
  line-height: 20px;
  font-style: italic;
  color: #5d5d5d;
  text-align: left;
}
#comments_with_shopper .inner ul.comment .text span {
  display: inline-block;
  width: 100%;
  font-size: 13px;
  font-style: italic;
  color: #9a9a9a;
  text-align: right;
}
#comments_with_shopper .shopperapproved_widget {
  padding-left: 15px;
}
