@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic,700,700italic);
/*@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700);*/

/* NORMALIZZAZIONE */
button,input,optgroup,select,textarea {color: inherit; /* 1 */font: inherit; /* 2 */margin: 0; /* 3 */padding:0;border:none;background:transparent;}
button:focus,input:focus,optgroup:focus,select:focus,textarea:focus{outline:none;}
button {overflow: visible;}
button,select {text-transform: none;}
button,html input[type="button"], /* 1 */input[type="reset"],input[type="submit"] {-webkit-appearance: button; /* 2 */cursor: pointer; /* 3 */border:none;}
button[disabled],html input[disabled] {cursor: default;}
button::-moz-focus-inner,input::-moz-focus-inner {border: 0;padding: 0;}

*{margin:0;padding:0;}
img{border:0;}
body{margin:0;background:#fff;}
ul{list-style-type:none;}
fieldset{border:0;}
h1, h2, h3, h4, h5, h6, p, pre, blockquote {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;font: inherit;vertical-align: baseline;}

/* TABELLE */
table { border-collapse: collapse; width:100%; font-size: 1em; }
td { vertical-align: top; }
caption, th { text-align: left; }

/* LINK */
a {color:#000;text-decoration:none;outline:none;}
a img {border: none;}
a:hover{color: #016ca2;text-decoration:none;}
.nascosto {display: none;}
.stirare:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
* html .stirare             { zoom: 1; } /* IE6 */
*:first-child+html .stirare { zoom: 1; } /* IE7 */
article, aside, footer, header, hgroup, main, nav, section, form {display: block;}

/* PAGINAZIONE */
.paginazione {width: 157px;background-color: #fafafa;border: 1px solid #dbdbdb;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;height: 22px;padding: 3px;}
.inalto {padding-bottom: 10px;}
.inalto .paginazione {float: left;}
.paginazione .bottone {width: 20px;height: 20px;float: right;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;display: block;font: bold 15px/20px Arial, Helvetica, Garuda, sans-serif;text-align: center;border: 1px solid #fafafa;}
.paginazione .attivo {background-color: #28b3e0;color: #fff;}
.paginazione .attivo:hover {background-color: #000;color: #fff;}
.paginazione .inattivo {background-color: #eee;color: #ebebeb;text-shadow: 1px 1px 0 #fff;}
.paginazione .inattivo:hover {cursor: text;}
.paginazione select {width: 110px;float: left;display: inline-block;margin: 0;border: none;font: normal 11px/14px Tahoma, Arial, Helvetica, Garuda, sans-serif;background-color: #fafafa;height: 22px;padding: 2px 4px 2px 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
.inbasso {border-top: 1px solid #bbb;padding: 7px 0 0 0;margin: 10px 0 0 0;}
/* FINE PAGINAZIONE */

.contenitore_principale {position:absolute;margin:0 auto;left:0;right:0;width: 1000px;clear: both;border-left: 1px solid #ebebeb;border-right: 1px solid #ebebeb;z-index: 1;background:#fff;}
.contenitore_principale_blocco_2 {width: 1000px;margin:0 auto;clear: both;border-left: 1px solid #ebebeb;border-right: 1px solid #ebebeb;}

.pulire {clear:both;font-size: 1px;line-height: 1px;height:1px;font-weight: normal;}

.adv-pushbar-box {text-align:center;padding:0 0 10px 0;margin:0 10px;/*border-bottom: 1px solid #cecece*/;}
.adv-pushbar-bottom {text-align:center;margin:0 10px 10px;}
.nel_footer .publi728_diariodelweb {margin: 0 3px 10px 10px;background-position: 970px 6px;width: 991px!important;}
.adv-ldb1 {text-align:center;display:block;padding:10px 0 10px;margin:0 10px;border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;/*background:#fafafa;border:1px solid #dfdfdf;*/}
.publi840_diariodelweb {margin: 10px -9px 15px 0; background: transparent url(/icone/varie/pubblicita_verticale_destra.png) no-repeat 831px 0;}
.publi300_diariodelweb{margin:0 0 20px;text-align:center;border-top: 1px solid #ebebeb;border-bottom: 1px solid #ebebeb;padding: 12px 0 10px;background: #fff url(/icone/varie/pubblicita_orizzontale.png) no-repeat 160px 3px;;clear:both;}
.publi300_diariodelweb object,.publi300_diariodelweb iframe,.publi300_diariodelweb img,.publi300_diariodelweb div {margin: 0 auto!important;}
.publi220_diariodelweb {background: transparent url(/icone/varie/pubblicita_verticale_destra.png) no-repeat 223px 6px;margin: 0 10px 0 0;padding: 0 4px 0 0;height: 90px;width: 230px!important;float: right;}
.publi120_diariodelweb {border-top: 1px solid #ddd;padding-top: 11px;background: transparent url(/icone/varie/pubblicita_orizzontale.png) no-repeat 22px 2px;width: 120px;margin: 17px 0 0 0;}
.publi120t_diariodelweb {border-top: 1px solid #ddd;padding-top: 11px;background: transparent url(/icone/varie/pubblicita_orizzontale.png) no-repeat 22px 2px;width: 120px;margin: 0 0 10px 0;}
.publi560_diariodelweb {padding-top: 12px;background: transparent url(/icone/varie/pubblicita_orizzontale.png) no-repeat 242px 3px;border-top: 1px solid #ebebeb;clear: both;margin:20px 0 20px 0;}

#eplayerHolder{margin:0 0 20px;text-align:center;border-top: 1px solid #ebebeb;border-bottom: 1px solid #ebebeb;padding: 12px 0 10px;clear:both;}

/* ============================================================================ SUPER EVIDENZIATA A 3 COLONNE */
.allegato_evidenziato_3_col {background-color: #fff;padding-bottom: 1px;}
.allegato_evidenziato_3_col .contenitore_super_evidenziato {width: 980px;padding: 0 10px 10px 10px;}
.allegato_evidenziato_3_col .contenitore_super_evidenziato .article {padding-bottom: 10px;margin-bottom: 10px;}

/* ================= CASSA */
.cassa {border: 1px solid #ebebeb;margin: 0 0 20px 0;padding: 10px;border-top:1px solid #000;}
.cassa h3 a,.cassa h3 .senza_link {font: bold 12px Arial,Helvetica,Garuda,sans-serif;text-transform:uppercase;padding: 0px 8px 5px 0;display: inline-block;display: block;color:#000;}
.cassa h3 a:hover {color: #999;}
.cassa .article {padding: 10px 0 0 0;}
.cassa .article:first-child {margin: 0;}
.cassa h4 {font: bold 16px/22px 'Roboto Condensed',Arial, Helvetica, Garuda, sans-serif;margin-bottom: 3px;}
.cassa h4 a {padding: 2px 0 2px 0;color: #000;}
.cassa h4 a:hover {color: #666;}
.cassa .miniatura .foto p {color: #bbb;}
.cassa .article .firma_commenti {color: #999;font: normal 10px/16px Tahoma, Arial, Helvetica, Garuda, sans-serif;}
.cassa .article .firma_commenti a {color: #aaa;}
.cassa .article .firma_commenti a:hover {color: #000;}
.cassa .article .firma_commenti .data {border-left: 1px solid #999;}
.cassa p {font: normal 12px/18px Georgia,Arial,Helvetica,Garuda,sans-serif;margin: 4px 0 0 0;color:#333;}
.cassa a.guardadipiu {display: block;font-weight: bold;font-size: 11px;line-height: 19px;font-family: 'Roboto Condensed', sans-serif;padding: 10px 0 0 0;text-align: right;color: #666;}
.cassa a.guardadipiu:hover {color: #000;}
.cassa .evidenziata .article {padding: 0;}
.cassa .evidenziata .foto img {width: 378px;height: auto;}
.cassa .evidenziata .miniatura {margin: 4px 0 0 0;}
.cassa .evidenziata .miniatura img {width: 140px;}
.cassa .evidenziata .article h4 {font: bold 22px/27px 'Roboto Condensed',Arial,Helvetica,Garuda,sans-serif;margin: 5px 0 4px 0;}

.colonna_secondaria .cassa .article.blog {margin-bottom:10px;}

/* ================= BREVI */
.colonna_secondaria .brevi {margin: 0 0 20px 0;}
.colonna_secondaria .brevi .article {border: 1px solid #e0ded5;padding: 0 0 0 10px;margin: 10px 0 0 0;clear: both;}
.colonna_secondaria .brevi .occhiello {margin: 7px 0 0 0;}
.colonna_secondaria .brevi .occhiello a {font: bold 10px/10px "Trebuchet MS", Arial, Helvetica, Garuda, sans-serif;margin: 0;padding: 0 0 6px 0;background-color: #fff;text-transform: uppercase;display: block;color: #016ca2;}
.colonna_secondaria .brevi .occhiello a .bolillo {width: 20px;height: 7px;display: inline-block;margin: 0 6px 0 0;font-size: 1px;background-color: #016ca2;}
.colonna_secondaria .brevi .cultura .occhiello a {color: #de2a70;}
.colonna_secondaria .brevi .cultura .occhiello a .bolillo {background-color: #de2a70;}
.colonna_secondaria .brevi .cinema .occhiello a {color: #de2a70;}
.colonna_secondaria .brevi .cinema .occhiello a .bolillo {background-color: #de2a70;}
.colonna_secondaria .brevi .musica .occhiello a {color: #c30000;}
.colonna_secondaria .brevi .musica .occhiello a .bolillo {background-color: #c30000;}
.colonna_secondaria .brevi .arte .occhiello a {color: #009a95;}
.colonna_secondaria .brevi .arte .occhiello a .bolillo {background-color: #009a95;}
.colonna_secondaria .brevi .occhiello a:hover {color: #666;}
.colonna_secondaria .brevi .occhiello a:hover .bolillo {background-color: #666;}
.colonna_secondaria .brevi .miniatura {background-color: #fff;margin: 10px 0 5px 0;}
.colonna_secondaria .brevi h4 {font: bold 15px/20px 'Roboto Condensed',Arial, Helvetica, Garuda, sans-serif;margin: -3px 0 3px 0;padding: 0 10px 0 0;}
.colonna_secondaria .brevi h4 a {color: #000;padding: 2px 0 2px 0;}
.colonna_secondaria .brevi h4 a:hover {color: #666;}
.colonna_secondaria .brevi .firma_commenti {font: normal 10px/14px Tahoma, Arial, Helvetica, Garuda, sans-serif;}
.colonna_secondaria .brevi p {font: normal 12px/17px Arial, Helvetica, Garuda, sans-serif;margin: 3px 0 0 0;padding: 0 10px 10px 0;color: #444;}
.colonna_secondaria .brevi .article .sostegni {margin: 0;padding: 5px 0 10px 0;border-top: 1px solid #f0f0f0;border-left: 1px solid #f0f0f0;}
.colonna_secondaria .brevi .article .sostegni ul li {background: transparent url(/icone/varie/correlati_505050.png) no-repeat 10px 6px;padding-left: 22px;padding-right: 10px;line-height: 16px;list-style-type: none;}
.colonna_secondaria .brevi .article .sostegni ul li a {color: #666;text-shadow: #fff 1px 1px 0;}
.colonna_secondaria .brevi .article .sostegni ul li a:hover {color: #000;}

/* ================= CASSA SEZIONI */
.colonna_secondaria .diariotv h3 {border-top:3px solid #016ca2;}
.colonna_secondaria .cassa.blog {border-top:1px solid #ebebeb;}
.colonna_secondaria .cassa.esteri {border-top:3px solid #000;}
.colonna_secondaria .cassa.italia {border-top:3px solid #000;}
.colonna_secondaria .cassa.politica {border-top:3px solid #000;}
.colonna_secondaria .cassa.economia {border-top:3px solid #000;}
.colonna_secondaria .cassa.sport {border-top:3px solid #000}
.colonna_secondaria .cassa.scitech {border-top:3px solid #000;}
.colonna_secondaria .cassa.cultura {border-top:3px solid #000;}
.colonna_secondaria .cassa.donna {border-top:3px solid #000;}
.colonna_secondaria .cassa.motori {border-top:3px solid #000;}
.colonna_secondaria .cassa.gusto {border-top:3px solid #000;}
.colonna_secondaria .cassa.isr {border-top:3px solid #000;}
.colonna_secondaria .cassa.fiere {border-top:3px solid #9b345d;}

/* CASSA I PIU VISTI */
.colonna_secondaria .i_piu_visti {margin: 0 0 20px 0;padding: 0 9px 9px;border-top-color: #000;}
.colonna_secondaria .i_piu_visti h3 {width: 280px;float: left;padding-bottom: 10px;}
.colonna_secondaria .i_piu_visti h3 a,.colonna_secondaria .i_piu_visti h3 .senza_link {border-left-color: #000;color: #000;font: bold 11px/18px Tahoma, Arial, Helvetica, Garuda, sans-serif;padding-top: 5px;margin-bottom: 0;}
.i_piu_visti a.guardadipiu {width: 45px;padding: 2px 10px 3px 7px;display: block;float: right;font: normal 11px/19px Tahoma, Arial, Helvetica, Garuda, sans-serif;color: #fff;text-shadow: 1px 1px 0 #694f4d;background-color: #000;border: 1px solid #444;border-top: none;}
.colonna_secondaria .i_piu_visti h3 a:hover {color: #000;}
.i_piu_visti a.guardadipiu:hover {background-color: #777;border-color: #c2c2c2;text-shadow: 1px 1px 0 #999;color: #fff;}
.i_piu_visti .etichette {background-color: #dbdbdb;padding: 7px 0 0 0;margin: 0 0 10px;width: 380px;-moz-border-radius-topleft: 3px;-moz-border-radius-topright: 3px;-webkit-border-top-left-radius: 3px;-webkit-border-top-right-radius: 3px;border-top-left-radius: 3px;border-top-right-radius: 3px;clear: both;}
.i_piu_visti .etichette ul {font: bold 11px/13px Tahoma, Arial, Helvetica, Garuda, sans-serif;padding-left: 13px;}
.i_piu_visti .etichette ul li {display: block;float: left;margin: 0 0 0 7px;}
.i_piu_visti .etichette ul li a {display: block;padding: 5px 12px;height: 13px;float: left;text-decoration: none;color: #f7f7f7;background-color: #b4b4b4;-moz-border-radius-topleft: 2px;-moz-border-radius-topright: 2px;-webkit-border-top-left-radius: 2px;-webkit-border-top-right-radius: 2px;border-top-left-radius: 2px;border-top-right-radius: 2px;}
.i_piu_visti .etichette ul li.attivo a {color: #000;background-color: #fff;}
.i_piu_visti .etichette ul li a:hover {color: #fff;background-color: #c6c6c6;}
.i_piu_visti .etichette ul li.attivo a:hover {background-color: #fff;color: #000;cursor: text;}
.i_piu_visti .contenuto {clear: both;}
.i_piu_visti ol {margin: 0;}
.i_piu_visti ol li {padding: 4px 0 5px 0;border-top: 1px solid #efefef;list-style-type: none;}
.i_piu_visti ol li .numero {display: block;float: left;width: 15px;margin: 0 5px 0 0;font: normal 13px/20px Tahoma, Arial, Helvetica, Garuda, sans-serif;color: #999;text-align: right;}
.i_piu_visti ol li a {padding: 0 0 0 10px;font: bold 12px/19px Arial, Helvetica, Garuda, sans-serif;color: #333;display: inline-block;width:348px;}
.i_piu_visti ol li a:hover {color: #777;}
.i_piu_visti ol li .video,.i_piu_visti ol li .foto {display: block;width: 20px;height: 13px;float: left;border: none;margin: 3px 6px 0 0;padding: 0;vertical-align: middle;text-indent: -9000px;overflow: hidden;}
.i_piu_visti ol li .video {background: transparent url(/icone/varie/ipiuvisti_video.png) no-repeat 0 0;}
.i_piu_visti ol li .foto {background: transparent url(/icone/varie/ipiuvisti_foto.png) no-repeat 0 0;}
.i_piu_visti ol li a:hover .video,.i_piu_visti ol li a:hover .foto {opacity: 0.4;filter: alpha(opacity=40);}

/* ULTIME NOTIZIE */
.cassa_ultime_notizie{position:relative;}
.cassa_ultime_notizie h3{border-bottom-style: dotted;border-bottom-color:#e0e0e0;}
.cassa_ultime_notizie a.guardadipiu{color:#1F1F1F;display:inline-block;line-height:30px;padding:0;position:absolute;top:0;right:10px;}
.cassa_ultime_notizie a.guardadipiu:hover{opacity:.8;}
.cassa_ultime_notizie .guardadipiu:after{content:'>';}
.cassa_ultime_notizie .article{border-top-style: dotted;border-top-color:#e0e0e0;padding-bottom:5px;}
.cassa_ultime_notizie .guardadipiu + .article{border-top:none;margin-top:0;}
.cassa_ultime_notizie .miniatura {float: right;width: 140px;margin-left:10px;}
.cassa_ultime_notizie .article p{color:#666666;}

/* MINIATURE E DIDASCALIE FOTO */
.miniatura {float: left;width: 150px;}
.miniatura .foto {width: 140px;}
.miniatura .foto img {display: block;}
.miniatura .foto p,.colonna_principale .article .miniatura .foto p,.colonna_secondaria .article .miniatura .foto p{border-bottom: none;font: normal 9px/10px Arial, Helvetica, Garuda, sans-serif;padding: 0;margin: 0;text-align: right;color: #bbb;overflow: hidden;}
.article .grande .foto p,.article .sinistra .foto p,.article .destra .foto p,.article .centro .foto p {font: normal 11px/15px Tahoma, Arial, Helvetica, Garuda, sans-serif;padding: 4px 0 5px 0;margin: 0;color: #888;border-bottom: 1px dotted #ebebeb;}
.article .firma_commenti {font: normal 11px/16px Arial, Helvetica, Garuda, sans-serif;color: #757575;}
.article .firma_commenti .autore {text-transform: uppercase;margin-right: 5px;}
.article .firma_commenti .autore a,.article .firma_commenti .data a {color: #757575;}
.article .firma_commenti .autore a:hover,.article .firma_commenti .data a:hover {border-bottom: 1px dotted #757575;}
.article .firma_commenti .data {border-left: 1px solid #757575;margin-right: 5px;padding: 0 0 0 6px;}
.article .grande .foto img {display: block;}
.article .grande .foto a:hover img{opacity: 0.8;filter: alpha(opacity=80);}
.article .miniatura .foto img {display: block;}
.article .miniatura .foto a:hover img{opacity: 0.8;filter: alpha(opacity=80);}

a.posizionatore {position: relative; display: block;}
.pulsante_video {display: block;position: absolute;width: 65px;height: 35px;left: 15px;bottom: 15px;}
.pulsante_video:hover {cursor: pointer;}
.miniatura .pulsante_video {width: 35px;height: 25px;left: 10px;bottom: 10px;background-image: url(/icone/varie/pulsante_video_miniatura_piccolo.png);}

/* cassa promozione statica */
.cassa_statica {margin-bottom: 20px;}
.cassa_statica a:hover img {opacity: 0.7; filter: alpha(opacity=70);}

/* carosello_evidenza */
.carosello_evidenza {border-top: 6px solid #f5f4ea;clear: both;background: #e9e8dd url(/icone/sfondi/carosello_evidenza.png) no-repeat 0 0 ;margin: 0 0 30px 0;padding: 0;}
.carosello_evidenza .fila {border-bottom: 1px solid #ebebeb;}
.carosello_evidenza .article {width: 140px;float: left;padding: 14px 14px 10px 14px;margin: 0;border-top: 1px solid #fff;}
.carosello_evidenza .article:first-child {width: 139px;}
.carosello_evidenza .article .occhiello {height: auto;border-top: none;text-align: left;font-size: 1px;border-bottom: 1px solid #cac8bb;margin: 0 0 5px 0;padding: 0 0 3px 0;}
.carosello_evidenza .article .occhiello .contenuto {background-color: transparent;margin: 0;position: static;padding: 0;color: #77736b;font: normal 11px/14px Arial, Helvetica, Garuda, sans-serif;text-transform: uppercase;}
.carosello_evidenza .article .occhiello .contenuto a {color: #77736b;}
.carosello_evidenza .article .occhiello .contenuto a:hover {color: #333;}
.carosello_evidenza .article h2 {font: bold 13px/18px Tahoma, Arial, Helvetica, Garuda, sans-serif;margin: 0;padding: 0 0 5px 0;}
.carosello_evidenza .opinion h2 {font: italic bold 15px/19px Georgia, "Times New Roman", Times, serif;letter-spacing: -1px;}
.carosello_evidenza .article h2 em {font: italic bold 15px/19px Georgia, "Times New Roman", Times, serif;letter-spacing: -1px;}
.carosello_evidenza .article h2 a {color: #000;padding: 2px 0 2px 0;}
.carosello_evidenza .article h2 a:hover {color: #666;}
.carosello_evidenza .article .miniatura {width: 140px;height: auto;float: none;margin: 0 0 8px 0;}
.carosello_evidenza .article .firma_commenti {font: normal 10px/14px Tahoma, Arial, Helvetica, Garuda, sans-serif;}
.carosello_evidenza .article .firma_commenti a.comentarios {background-position: 0 2px;}
.carosello_evidenza .article .foto p {color: #b1ae9d;margin: 0 0 -10px 0;}
.carosello_evidenza .article p {font: normal 12px/17px Arial, Helvetica, Garuda, sans-serif;margin: 3px 0 6px;}
/* ============================================================================ fine carosello_evidenza */

/* barra speciale */
.contenuto_principale > .urgente, .contenuto_principale > .speciale {background: #fff;padding: 0 0 10px 0;margin: 0 10px 10px;border-bottom: 1px solid #F0F0F0;font-family: 'Roboto Condensed', sans-serif;}
.intervista .allerta {background: #016ca2;}
.diretta .allerta {background: #016ca2;}
.urgente .allerta {background: #DD1111;}
.documento .allerta {background: #016ca2;}
.speciale .allerta {background: #DD1111;}
.allerta .tipo {float: left;width: 85px;font-weight: bold;font-size: 11px;line-height: 14px;font-family: 'Roboto Condensed', sans-serif;text-transform: uppercase;color: #fff; padding: 5px;}
.urgente .allerta .tipo {-webkit-animation: blinkea 1s infinite;-moz-animation: blinkea 1s infinite;-o-animation: blinkea 1s infinite;animation: blinkea 1s infinite;}
@-webkit-keyframes blinkea {0% {opacity: 1;}100% {opacity: .0;}}
@-moz-keyframes blinkea {0% {opacity: 1;}100% {opacity: .0;}}
@-o-keyframes blinkea {0% {opacity: 1;}100% {opacity: .0;}}
@keyframes blinkea {0% {opacity: 1;}100% {opacity: .0;}}
.allerta .contenuto {display: inline-block;background: #fff;width: 885px;}
.allerta .contenuto p {font-weight: normal;font-size: 14px;line-height: 20px;padding: 4px 10px 4px 10px;min-height: 30px;}
.allerta .contenuto p strong {font-weight: bold;text-transform: uppercase;}
.allerta .contenuto p a {color: #202020;padding: 2px 0 2px 0;}
.allerta .contenuto p a:hover, .allerta .contenuto p a:hover strong {color: #999;}
.allerta .miniatura {margin: 0 10px 0 0;width: 80px;}
.allerta .miniatura .foto {width: 80px;}
.allerta .miniatura .foto img {width: 80px;height: auto;}
.allerta .miniatura .foto p {font-weight: normal;font-size: 9px;line-height: 8px;color: #fff;margin: 0 0 3px 0;}

/* ================= BLOCCO VIDEO */
.blocco_video .evidenziata:first-child .article {margin-top: 0;}
.blocco_video h3 + .article, .blocco_video .evidenziata .article {border-top: none;}
.colonna_secondaria .blocco_video {background-color: #343f43;border: 1px solid #343f43;padding: 0 0 10px 10px;}
.colonna_secondaria .blocco_video h3 {margin-bottom: 0;}
.colonna_secondaria .blocco_video h3 .bolillo {width: 0;}
.colonna_secondaria .blocco_video h3 a {background: transparent url(/icone/loghi/diario_tv_logo_mini.png) no-repeat 0 10px;border-left: none;margin: 0 0 5px 0;text-indent: -9999px;white-space: nowrap;overflow: hidden;padding-bottom: 25px;}
.colonna_secondaria .blocco_video h3 a:hover {opacity: 0.5;filter: alpha(opacity=50);}
.blocco_video .article {padding: 10px 0 10px 10px;margin: 0 1px 1px 0;width: 178px;float: left;background-color: #2a3336;border-top: none;border-bottom: 1px solid #252c2f;height: 170px;}
.blocco_video .evidenziata .article {border: none;padding: 0;margin: 8px 0 10px 0;float: none;width: auto;height: auto;background-color: transparent;}
.blocco_video .article .contenuto {margin: 0 10px 0 0;padding: 4px 0 10px 0;background-color: #2a3336;}
.blocco_video .article .grande iframe,.blocco_video .article .grande object {display: block;}
.blocco_video .article .grande .foto p {color: #777;margin: 0 10px 0 0;padding: 3px 5px 5px 10px;background-color: #2a3336;border-bottom: 1px solid #343f43;}
.blocco_video .article .grande .foto p.figcaption a {color: #00b4f4 !important;}
.blocco_video .article .grande .foto p.figcaption a:hover {color: #fff !important;}
.blocco_video .article .grande .foto p .firma, .blocco_video .article .grande .foto p .titulo {color: #547885;}
.blocco_video .evidenziata .article h4 {font: bold 20px/25px 'Roboto Condensed',Arial, Helvetica, Garuda, sans-serif;margin: 0 0 0 10px;padding: 0 10px 6px 0;border-bottom: 1px dotted #343f43;border-top: none;}
.blocco_video .evidenziata .article h4 a {color: #fff;}
.blocco_video .evidenziata .article h4 a:hover {color: #547885;}
.blocco_video p {font: normal 14px/19px Georgia,'Roboto Condensed',Arial, Helvetica, Garuda, sans-serif;margin: 5px 0 5px 0;color: #999;padding: 0 10px 0 10px;}
.blocco_video .miniatura,.blocco_video .article .miniatura .foto {float: none;margin: 0;}
.blocco_video .article .miniatura .foto a {display: block;width: 177px;border-left: 1px solid #1d2224;border-top: 1px solid #1d2224;background: #22282b url(/icone/varie/icona_video_play_hover.png) no-repeat 146px 6px;}
.blocco_video .article .miniatura .foto a:hover {background: #1c2123 url(/icone/varie/icona_video_play.png) no-repeat 146px 6px;}
.blocco_video .article .miniatura .foto a:hover img {opacity: 0.5;filter: alpha(opacity=50);}
.blocco_video h4 {font: bold 15px/18px 'Roboto Condensed',Tahoma, Arial, Helvetica, Garuda, sans-serif;border-top: 1px solid #224c5c;margin: 0;padding: 5px 7px 0 0;}
.blocco_video h4 a {color: #fff;padding: 2px 0 2px 0;}
.blocco_video h4 a:hover {color: #c9d2d8;}
.blocco_video .pulsante_video,.blocco_video .miniatura .foto p {display: none;}
.blocco_video .evidenziata .pulsante_video {display: block;}
.blocco_video .data {display: none;}

.blocco_foto {background-color: #1c1c1c;border: 0px;position:relative;margin-top:10px;}
.blocco_foto .evidenziata{padding-bottom:10px;}
.blocco_foto h4 a{color:#fff;}
.blocco_foto p{color:#999;}
.blocco_foto h2 {font-size:14px;font-family:'Roboto Condensed',tahoma,arial;position: absolute;top: -16px;right: 20px;padding: 16px 12px;color: #fff;background: #000;-webkit-border-radius: 5px;border-radius: 5px;text-transform:uppercase;}
.blocco_foto h2 a{color: #fff;}
.blocco_foto h2.multimedia {overflow: hidden;}

.colonna_principale .blocco_foto {background-color: #f8f8f8;border:1px solid #e0e0e0;}
.colonna_principale .blocco_foto h4 a{color:#000;text-shadow: 1px 1px 0 #fff;}
.colonna_principale .blocco_foto h4 a:hover{color:#555;text-shadow: 1px 1px 0 #fff;}
.colonna_principale .blocco_foto p{color:#000;}
.colonna_principale .blocco_foto .article {border-top: 0px;}
.colonna_principale .blocco_foto .article .grande .foto img {width: 398px; height: auto;}

.colonna_secondaria .blocco_foto {margin-top:35px;}

/*---CASSA SOCIAL---*/
.widget-tt {text-align:center;margin:0 0 15px 0;}
.widget-fb {text-align:center;margin:0 0 20px 0;background-color:#f8f8f8;padding:10px 0 10px;}
.widget-fb .fb_testata {margin: 0 0 3px 0;}
.widget-fb .fb_testata h3 a {display: inline-block;float: left;font-weight: bold;font-size: 15px;line-height: 19px;font-family: 'Roboto Condensed', sans-serif;text-transform: uppercase;text-shadow: 1px 1px 0 #fff;color: #333;padding: 7px 0 3px 10px;margin: -1px 0 10px;text-decoration: none;}
.widget-fb .fb_testata h3 a span{background:#000;color:#fff;font-size:30px;padding:0 7px;line-height:30px;text-shadow: 1px 1px 0 #000;margin-right:3px;}
.widget-fb .fb_testata h3 a:hover {text-decoration: none;color: #666;}
.widget-fb .fb-like-box{background-color:#fff;border: 1px solid #ebebeb;}

/*---MI PIACE OVERLAYER---*/
.mipiace_overlayer {background:url("/icone/varie/fb_like_overlayer.png") no-repeat 0px 0px;width: 500px;height: 500px;z-index: 99999;position: fixed;margin:0 0 0 -225px;top: 16%;left: 50%;overflow: hidden;}
.mipiace_overlayer iframe { float: left; margin: 314px 0px 0px 0px; overflow: hidden; width: 80px !important; }
.mipiace_overlayer div.mipiace_overlayer_testo { margin: 312px 8px 0px 114px; width: 185px; float: left; overflow: hidden; font-family:Tahoma,Arial;font-size: 15px; }
/*.mipiace_overlayer a.mipiace_close {overflow: hidden; display: block; width: 20px; height: 20px; margin: 292px 0px 0px 0px; position:absolute; right:95px; }*/
.mipiace_overlayer .close{opacity:0;overflow: hidden; display: block; width: 20px; height: 20px; margin: 229px 0px 0px 0px; position:absolute; right:92px;font-family:Tahoma,Arial;font-weight:bold;font-size:21px;}
.mipiace_overlayer iframe {border:none; overflow:hidden; width:450px; height:90px;}

/*---FOOTER---*/
.footer {width: 980px;margin:0 auto;font-family:'Roboto Condensed',Tahoma,Arial;}

.footer .chi_siamo_contenitore {width: 980px;margin:0 auto;background: #000;}
.footer .chi_siamo_contenitore .chi_siamo {overflow: hidden;padding: 40px 20px 0px;}
.footer .chi_siamo_contenitore .chi_siamo .section_footer_chi_siamo_indirizzo {width:614px;float:left;padding-right:110px;}
.footer .chi_siamo_contenitore .chi_siamo .section_footer_chi_siamo_indirizzo .copyrightHolder {display: block;color: #fff;font-size: 18px;line-height:22px;margin-bottom:5px;}
.footer .chi_siamo_contenitore .chi_siamo .section_footer_chi_siamo_indirizzo .copyrightInfo {display: block;color: #fff;font-size: 15px;line-height:20px;font-weight:400;}
.footer .chi_siamo_contenitore .chi_siamo .section_footer_chi_siamo_indirizzo p {margin-top: 10px;border-top: 1px solid #999;}
.footer .chi_siamo_contenitore .chi_siamo .section_footer_chi_siamo_indirizzo p span {display: block;margin: 10px 0 30px 0;}
.footer .chi_siamo_contenitore .chi_siamo .section_footer_chi_siamo_indirizzo p span.copyright {color: #999;font-size:14px;margin:10px 0 0 0;}
.footer .chi_siamo_contenitore .chi_siamo .section_footer_chi_siamo_indirizzo p span.p-iva {color: #999;font-size:13px;}

.footer .chi_siamo_contenitore .chi_siamo .section_footer_chi_siamo_link {position: relative;width:212px;float:left;text-align:right;}
.footer .chi_siamo_contenitore .chi_siamo .section_footer_chi_siamo_link .copyrightWho {color: #fff;font-size:14px;line-height:25px;}
.footer .chi_siamo_contenitore .chi_siamo .section_footer_chi_siamo_link ul {position: relative;list-style: none;float: left;width: 100%;}
.footer .chi_siamo_contenitore .chi_siamo .section_footer_chi_siamo_link ul li{line-height:21px;font-size:14px;}
.footer .chi_siamo_contenitore .chi_siamo .section_footer_chi_siamo_link ul a{color:#999;}
.footer .chi_siamo_contenitore .chi_siamo .section_footer_chi_siamo_link ul a:hover{color:#fff;}

/* COOKIE BAR BY RICCARDO MEL - TARGETWEB.IT -------------------------------------------------- */
#box-cookie{font-family:'Roboto condensed',Tahoma,Arial;text-align:center; color:#fff;padding: 10px 0px 20px 0px;background: rgba(0,0,0,0.8);width: 100%;position: absolute; left: 0px; top: 0px;font-size: 14px;border-bottom: 2px solid #474747; 
    /*-webkit-box-shadow: 0px -1px 5px 0px rgba(50, 50, 50, 0.75); 
    -moz-box-shadow:    0px -1px 5px 0px rgba(50, 50, 50, 0.75); 
    box-shadow:         0px -1px 5px 0px rgba(50, 50, 50, 0.75); */
    display: none;
    z-index: 800;
}

.container-cookie{width: 980px; max-width: 100%; margin: 0 auto; padding:0px;}
.row-cookie{overflow: hidden;}
.text-cookie{float: left; width: 70%;}
.buttons-cookie{text-align: right;float: right; width: 30%;}
.adv .buttons-cookie{padding-top: 1.5%;}
.base .buttons-cookie{padding-top: 2.5%;}
.close-cookie{}
.cookie-policy-text{margin:3px 0px 0px 0px; font-size: 12px;font-style: italic;}
.chiudicookiepolicy{color: #fff;cursor: pointer;background: #23a2f2!important;}
#box-cookie span{background:#000; color: #fff; text-transform: uppercase; font-weight:bold;  padding:10px; margin:0px; position: relative; top: 3px; font-size: 12px;}
#box-cookie a{color: #fff; text-decoration: none;}