﻿.ar-detail 
{
	display: block;
	position:relative;
	width: 600px;
	margin: 0 auto!important;
}

/* ****************************** ARTICLE HEADER ***************************** */
.ar-detail h1
{
	font-weight: normal;
	font-weight: 400;
	color: #d42226;
	font-size: 36px;
	position: relative;
	line-height: 120%;
	margin-top: 12px!important;
}

.ar-detail h1 a
{
	text-decoration: none;
}

.ar-detail .ar-info
{
	margin-top: 20px!important;
	font-size: 14px;
	font-weight: bold;
	font-weight: 400;
	color: #484848;
}

.ar-detail .ar-info .ar-date
{
	color: #d42226;
}

.ar-detail .ar-info .ar-author,
.ar-detail .ar-info .ar-author a 
{
	color: #484848;
	text-decoration: none;
}

.ar-detail .ar-info .ar-author a:hover
{
	text-decoration: underline;
}

.ar-detail .ar-perex
{
	display: block;
	position:relative;
	margin: 20px auto 0!important;
	text-align: center;
	padding: 0px!important;
	display: block;
	position: relative;
	width: 600px;
	height: 300px;
	background: #d9d9d9;
}

.ar-detail .ar-perex-invisible
{
	display: none;
}

.ar-detail .ar-perex-clip .ar-perex img
{
	max-width: 600px;
	max-height: 300px;
}

.ar-detail .ar-annotation
{
	font-weight: bold;
	font-weight: 400; 
	color: #000; /*333*/
	font-size: 18px;
	line-height: 165%;
	margin-top: 20px!important;
}

.ar-detail .ar-annotation ul,
.ar-detail .ar-annotation ol
{
	margin-left: 16px!important;
}

/* ****************************** ARTICLE SOCIETY ROW ***************************** */
.ar-detail .ar-society-networks
{
	font-weight: normal;
	font-weight: 300;
	color: #484848;
	font-size: 15px;
	margin-top: 20px!important;
	position: relative;
	display: block;
	height: 60px;
	text-align: center;
}

.ar-detail .ar-society-networks .ar-society-networks-wrapper
{
	background: #fff;
	width: 600px;
	margin: 0 auto;
	text-align: right;
	display: block;
	height: 60px;
}

.ar-detail .ar-society-networks .ar-society-info
{
	display: none;
	text-align: center;
	height: 35px;
	line-height: 20px;
	font-weight: bold;
	font-weight: 700;
	color: #484848;
	float: left;
	position: relative;
}

.ar-detail .ar-society-networks .ar-society-info a
{
	color: #484848;
	text-decoration: none
}

.ar-detail .ar-society-networks .ar-society-info a:hover
{
	text-decoration: underline;
}

.ar-detail .ar-society-networks .ar-society-info label
{
	display: block;
	float: left;
	margin-right: 10px;
	color: #bdbdbd;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
}

.ar-detail .ar-society-networks .ar-society-info label a
{
	color: #bdbdbd;
}

.ar-detail .ar-society-networks .ar-link-next
{
	float: right;
	text-align: left;
	width: 100%;
	max-width: 180px;
	overflow: hidden;
	padding-right: 35px;
}

.ar-detail .ar-society-networks .ar-society-link
{
	display: inline-block;
	width: auto;
	height: 29px;
	margin-right: 4px!important;
	background: transparent url('../img/sprites/sprite-society.png?v=2015.0.003') no-repeat;
	padding-left: 30px!important;
	margin-top: 16px!important;
}

.ar-detail .ar-society-networks .ar-society-link a
{
	display: inline-block;
	width: auto;
	height: 29px;
	line-height: 29px;
	padding-right: 10px!important;
	background: transparent url('../img/sprites/sprite-society.png?v=2015.0.003') no-repeat;
	color: #fff;
	text-decoration: none;
	font-size: 10px;
	font-weight: bold;
	font-weight: 700;
}

.ar-detail .ar-society-networks .ar-link-next a.btn
{
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 29px;
	height: 29px;
	line-height: 29px;
	font-size: 22px;
	color: #fff!important;
	background: #d42226;
	text-decoration: none!important;
}

.ar-detail .ar-society-networks .ar-link-next a.btn-inverted
{
	background: #fff;
	color: #d42226!important;
}

.ar-detail .ar-society-networks .ar-link-next a.ar-next
{
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 17px;
	line-height: 29px;
}

.ar-detail .ar-society-networks .ar-link-next-no-label label
{
	display: none;
}

.ar-detail .ar-society-networks .ar-link-next-no-label a.ar-next
{
	font-size: 20px;
}

.ar-detail .ar-society-networks .ar-link-next a.btn:hover
{
	text-decoration: none!important;
}

.ar-detail .ar-society-networks .ar-society-link-fb
{
	background-position: 0px 0px;
}

.ar-detail .ar-society-networks .ar-society-link-fb a
{
	background-position: 100% -29px;
}

.ar-detail .ar-society-networks .ar-society-link-tw
{
	background-position: 0px -58px;
}

.ar-detail .ar-society-networks .ar-society-link-tw a
{
	background-position: 100% -87px;
}

.ar-detail .ar-society-networks .ar-society-link-dis
{
	background-position: 0px -116px;
	margin-right: 0px!important;
}

.ar-detail .ar-society-networks .ar-society-link-dis a
{
	background-position: 100% -145px;
}

.ar-detail .ar-society-networks .ar-info
{
	float: left;
	font-size: 15px;
	line-height:20px;
	margin-right: 6px!important;
	margin-top: 8px!important;
	width: 245px;
	text-align: left;
}

.ar-detail .ar-society-networks .ar-info .ar-date
{
	color: #484848;
	display:block;
}

.ar-detail .ar-society-networks .ar-pr .ar-date
{
	display:inline-block;
	line-height: 45px;
}

.ar-detail .ar-society-networks .ar-info .ar-author,
.ar-detail .ar-info .ar-author a 
{
	color: #d42226;
}

.ar-detail .ar-society-networks .ar-pr .ar-author
{
	padding: 5px 10px;
	color: #666;
	background: #e8e8e8
}

.ar-detail .ar-society-networks .ar-info .ar-author img
{
	float: left;
	height: 55px;
	margin-right: 7px;
	width: 45px;
	margin-top: -11px!important;
}

.ar-detail .ar-society-networks .ar-info-multiple {
	margin-top: 0px!important;
}

.ar-detail .ar-society-networks .ar-info-multiple::before {
	content: "";
	float: left;
	display: block;
	height: 60px;
	width: 0px;
}



/* ****** fixed state ********* */
.ar-detail .ar-society-networks.fixed
{
	top: 0;
	left: 0;
	margin-top: 0px!important;
	position: fixed;
	width: 100%;
	z-index: 10000;
	height: 41px;
}

.ar-detail .ar-society-networks.fixed .ar-info
{
	display: none;
}

.ar-detail .ar-society-networks.fixed .ar-society-info
{
	display: block;
}

.ar-detail .ar-society-networks.fixed .ar-society-networks-wrapper
{
	width: 1015px;
	padding-top:5px!important;
	padding-bottom:5px!important;
	border-bottom: 1px solid #bdbdbd;
	height:35px;
	text-align: left;
}

.ar-detail .ar-society-networks-border.fixed .ar-society-networks-wrapper
{
	border-bottom: 2px solid #000;
}

.ar-detail .ar-society-networks-shadow.fixed .ar-society-networks-wrapper
{
	-webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
}

.ar-detail .ar-society-networks.fixed .ar-society-networks-wrapper .ar-society-link
{
	margin-top: 0px!important;
}

.ar-detail .ar-society-networks.fixed .ar-society-networks-wrapper .ar-society-link-fb
{
	margin-left: 35px!important;
}

.ar-detail .ar-society-networks.fixed .ar-society-networks-wrapper .ar-link-next
{
	padding-right: 0px!important;
}

.ar-detail .ar-society-networks.fixed .ar-society-networks-wrapper .ar-link-next  a.btn
{
	right: 13px!important;
}

/* ****************************** ARTICLE CHAPTERS ***************************** */
.ar-chapters
{
	font-weight: normal;
	font-weight: 400;
	color: #000; /*333*/
	font-size: 16px;
	line-height: 185%;
	margin-top: 0px!important;
	padding-top: 20px!important;
	border-top: 0px solid #bdbdbd!important;
}


.ar-detail .ar-chapters + .ar-content {
	border-top: 0px solid #bdbdbd!important;
	margin-top: 0px !important;
}

.ar-chapters label
{
	font-weight: normal;
	font-weight: 400;
	color: #d42226;
	margin-bottom: 20px!important;
	font-size: 24px;
}

.ar-chapters a
{
	color: #000; /*333*/
	text-decoration: none;
	font-weight: bold;
	font-weight: 700;
	font-size: 15px;
}

.ar-chapters ul
{
	margin-left: 30px!important;
}

.ar-chapters li,
.ar-chapters li a
{
	font-size: 16px;
	font-weight: bold;
	font-weight: 400;
}

.ar-chapters li a
{
	color: #d42226;
}

.ar-chapters a:hover
{
	text-decoration: underline;
}

.ar-chapters a.ar-btn,
.ar-chapters .ar-btn-comments,
.ar-chapters .ar-btn-comments a
{
	color: #000;
}

.ar-chapters a.ar-btn .ar-btn-arrow
{
	color: #fff !important;
	display: inline-block;
	float: right;
	font-size: 22px;
	height: 41px;
	line-height: 41px;
	text-align: center;
	text-decoration: none!important;
	width: 42px;
	margin-left: 10px!important;
	background: #d42226;
}

.ar-chapters a.ar-btn .ar-btn-arrow:hover
{
    text-decoration: none!important;
}

.ar-chapters .chapter-current,
.ar-chapters .chapter-next
{
	display: inline-block;
	font-size: 17px;
	height: 41px;
	line-height: 39px;
	width: 270px;
	overflow: hidden;
	float: right;
	text-align: left;
}

.ar-chapters .chapter-next
{
	text-align: right;
}


/* ****************************** ARTICLE CHAPTERS QUICK ***************************** */
.ar-chapters-quick .chapter-current,
.ar-chapters-quick .chapter-next
{
	float: left;
}

.ar-chapters-quick .chapter-current
{
	width: 330px;
}

.ar-chapters-quick .ar-sel-wrapper
{
	background: #fafafa;
	border: 1px solid #ddd;
	height: 39px;
	margin: 0 auto!important;
	overflow: hidden;
	width: 328px;
	text-align: left;
	position: relative;
}

.ar-chapters-quick .ar-sel-wrapper select
{
	background: transparent;
	border: 0 none;
	border-radius: 0;
	font-size: 15px;
	height: 39px;
	position: absolute;
	top: 0;
	padding: 0px 8px!important;
	text-overflow: ellipsis;
	width: 328px;
}

/* ****************************** ARTICLE CONTENT ***************************** */
.ar-detail .ar-content
{
	font-weight: normal;
	font-weight: 400;
	color: #000; /*333*/
	font-size: 16px;
	line-height: 155%;
	margin-top: 20px!important;
	padding-top: 20px!important;
	border-top: 1px solid #bdbdbd!important;
}

.ar-detail .ar-content p,
.ar-detail .ar-content h2,
.ar-detail .ar-content h3,
.ar-detail .ar-content h4,
.ar-detail .ar-content h5,
.ar-detail .ar-content h6,
.ar-detail .ar-content ul,
.ar-detail .ar-content ol,
.ar-detail .ar-content table,
.ar-detail .ar-content .twitter-tweet,
.ar-detail .ar-content .fb_iframe_widget
{
	margin-bottom: 20px!important;
}

.ar-detail .ar-content ul,
.ar-detail .ar-content ol
{
	margin-left: 30px!important;
}

.ar-detail .ar-content ul {
    list-style-image: url("/Client.Images/ul-square.gif");
}

.ar-detail .ar-content ol li
{
	list-style-type: decimal;
}

.ar-detail .ar-content hr
{
	background: #cc0000 none repeat scroll 0 0;
	border: 0 solid;
	color: #cc0000;
	height: 1px;
	margin: 0 0 20px!important;
	padding: 0;
}

.ar-detail .ar-content p:empty
{
	display: none;
}

.ar-detail .ar-content a
{
	text-decoration: underline;
	color: #d42226!important;
}
.ar-content .ar-tags
{
	color: #000!important;
}
.ar-content .ar-tags a
{
	color: #000!important;
	text-decoration: none!important;
}
.ar-content .ar-tags-top
{
	color: #a1a1a1!important;
}
.ar-content .ar-tags-top a
{
	color: #a1a1a1!important;
}

.ar-detail .ar-content a:hover
{
	text-decoration: underline;
}
.ar-content .ar-tags a:hover
{
	color: #d42226!important;
	text-decoration: none!important;
}

.ar-content .bx-btn a:hover {
	color: #fff !important;
	text-decoration: none!important;
}

.ar-detail .ar-content h2,
.ar-detail .ar-content h3,
.ar-detail .ar-content h4
{
	font-weight: normal;
	font-weight: 400;
	color: #d42226;
}

.ar-detail .ar-content h3
{
	font-size: 30px;
	line-height: 130%;
	margin-top: 25px!important;
}

.ar-detail .ar-content h4
{
	font-size: 24px;
}

.ar-detail .ar-content h6
{
	font-size: 13px;
	text-align: center;
	font-weight: bold;
	font-weight: 700;
}

.ar-detail .ar-content img
{
	border: 1px solid #e8e8e8;
}

/* ****************************** ARTICLE LINK TO ANOTHER ***************************** */
.ar-link-to-another
{
	display: block;
	position:relative;
}
.ar-link-to-another:after {
	clear: both;
	content: "";
	display: block;
	height: 1px;
	width: 100%;
	margin-bottom:20px!important;
}

/* ************ image ******************* */
.ar-link-to-another .ar-img
{
	display: block;
	position:relative;
	float: left;
	width: 200px;
	height: 100px;
	background: #ececec;
	padding: 1px;
	margin-right: 20px;
}

.ar-link-to-another .ar-img a
{
	display: inline-block;
	position:relative;
	width: 200px;
	height: 100px;
	background: #fff;
	text-align: center;
	text-decoration: none;
}

.ar-link-to-another .ar-img a:hover
{
	text-decoration: none!important;
}

.ar-link-to-another .ar-img a img
{
	display: inline-block;
	vertical-align: middle;
}

.ar-link-to-another .ar-txt h3
{
	line-heigth: 140%;
}

/* ************ text ******************* */

.ar-link-to-another .ar-txt h3
{
	font-size: 22px;
	font-weight: bold;
	font-weight: 400;
	color: #d42226!important;
	line-height: auto;
	margin-top: 0px!important;
	margin-bottom: 0px!important;
}
.ar-link-to-another .ar-txt h3 a
{
	text-decoration: underline;
}
.ar-link-to-another .ar-txt h3 a:visited
{
	color: #666;
}
.ar-link-to-another .ar-txt h3 a:hover,
.ar-link-to-another .ar-txt h3 a:visited:hover
{
	color: #d42226!important;
	text-decoration: underline!important;
}

/* ****************************** ARTICLE TABLES ***************************** */
.ar-detail .article-macro-table,
.ar-detail .article-macro-table-1,
.ar-detail .article-macro-table-2,
.ar-detail .article-macro-table-3,
.ar-detail .article-macro-table-4
{
	border: 3px solid #ccc;
	border-collapse: collapse;
	margin-bottom: 20px!important;
	clear:both;
	float: none;
}

.ar-detail .article-macro-table tr th,
.ar-detail .article-macro-table-1 tr th,
.ar-detail .article-macro-table-2 tr th,
.ar-detail .article-macro-table-3 tr th,
.ar-detail .article-macro-table-4 tr th
{
	background: #d42226; 
	color: #ffffff; 
	font-weight: bold;
	font-weight: 700;
	line-height: 130%;
}

.ar-detail .article-macro-table tr td,
.ar-detail .article-macro-table-1 tr td,
.ar-detail .article-macro-table-2 tr td,
.ar-detail .article-macro-table-3 tr td,
.ar-detail .article-macro-table-4 tr td
{
	font-weight: bold;
	font-weight: 400;
	line-height: 130%;
}

.ar-detail .article-macro-table tr td,
.ar-detail .article-macro-table tr th
{
	border: 1px solid #ccc;
	padding: 2px 4px!important;
	font-size: 14px!important;
}

.ar-detail .article-macro-table-4 tr td,
.ar-detail .article-macro-table-4 tr th
{
	border: 1px solid #ccc;
	padding: 2px 4px!important;
	font-size: 15px!important;
}

.ar-detail .article-macro-table-3 tr td,
.ar-detail .article-macro-table-3 tr th
{
	border: 1px solid #ccc;
	padding: 2px 4px!important;
	font-size: 14px!important;
}

.ar-detail .article-macro-table-2 tr td,
.ar-detail .article-macro-table-2 tr th
{
	border: 1px solid #ccc;
	padding: 2px 4px!important;
	font-size: 13px!important;
}

.ar-detail .article-macro-table-1 tr td,
.ar-detail .article-macro-table-1 tr th
{
	border: 1px solid #ccc;
	padding: 2px 4px!important;
	font-size: 11px!important;
}


/* ****************************** ARTICLE INFO BOXES ***************************** */
.ar-detail .infobox
{
	background: #f4f4f4 none repeat scroll 0 0;
	border-left: 5px solid #d42226;
	color: #000;/*333*/
	display: block;
	height: auto!important;
	padding: 20px!important;
	margin-right: 17px!important;
	text-align: left;
	font-size: 14px;
}
.ar-detail .infobox .infobox-data h3
{
	color: #000;/*333*/
	font-size: 25px;
	line-height: auto;
	margin-top: 0px!important;
}
.ar-detail .infobox.infobox-0
{
	float: left;
	margin-right: 20px!important;
}
.ar-detail .infobox.infobox-1 {
	float: right;
	margin-left: 20px!important;
}

.ar-detail .infobox .infobox-data p:last-child
{
	margin-bottom: 0px!important;
}

.ar-detail .infobox-2
{
	margin-bottom: 20px!important;
}

.ar-detail .infobox-3
{
	margin-bottom: 20px!important;
}


/* ****************************** ARTICLE SPEECH ***************************** */
.ar-detail .vykrik {
    clear: both;
    display: block;
    margin-bottom: 20px!important;
    position: relative;
}

.ar-detail .vykrik .vykrik-head {
    background: url("../img/article/vykrik-head.png") no-repeat scroll left bottom;
    display: block;
    height: 15px;
    overflow: hidden;
    padding-left: 51px;
    position: relative;
}
.ar-detail .vykrik .vykrik-foot {
    background: url("../img/article/vykrik-foot.png") no-repeat scroll left top;
    display: block;
    height: 15px;
    overflow: hidden;
    padding-left: 51px;
    position: relative;
}
.ar-detail .vykrik .vykrik-data {
	background: url("../img/article/vykrik-data.png") repeat-y scroll left top;
	color: #cc0000;
	display: block;
	font-family: Times New Roman;
	font-size: 30px!important;
	line-height: 140%!important;
	padding-left: 51px;
	position: relative;
}
.ar-detail .vykrik .vykrik-data p {
    margin: 0!important;
    padding: 20px 0!important;
}

/* ****************************** ARTICLE TIPS ***************************** */
.ar-detail div.tip {
    clear: both;
    display: block;
    position: relative;
}
.ar-detail div.tip .tip-data {
    display: block;
    padding-left: 28px;
    position: relative;
}
.ar-detail div.tip.tip-0 .tip-data p {
    background: url("../img/article/tip-pozor.png") no-repeat scroll 0 7px;
    text-indent: 40px;
}
.ar-detail div.tip.tip-1 .tip-data p {
    background: url("../img/article/tip-doporucujeme.png") no-repeat scroll 0 7px;
    text-indent: 85px;
}
.ar-detail div.tip.tip-2 .tip-data p {
    background: url("../img/article/tip-neprehlednete.png") no-repeat scroll 0 7px;
    text-indent: 85px;
}
.ar-detail div.tip.tip-3 .tip-data p {
    background: url("../img/article/tip-tip.png") no-repeat scroll 0 7px;
    text-indent: 26px;
}

/* ****************************** ARTICLE HCE ***************************** */
.ar-detail .hce-link-1
{
	display: block;
	padding:5px 0px!important;
	font-size: 90%;
}

.ar-detail .hce-link-1 .hce-alzapromo
{
	display:block;
	position:relative;
	height:84px;
	width:200px;
	float:right
}
.ar-detail .hce-link-1 .hce-buy
{
	display: inline;
	background: url("../img/article/hce-alza.png")  center left no-repeat;
	color: #fff!important;
	text-decoration: none;
	padding: 6px 10px 6px 30px!important;
	border: 1px solid #fa2500;
	text-transform: uppercase;
	font-weight: bold;
	font-weight: 400;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
}

.ar-detail .hce-link-1 .hce-buy:hover
{
  	color: #fff!important;
  	text-decoration: underline;
}

/* ********************* ROZKLIKAVACI TISKOVKY ******************* */
.ar-detail .press-release-frame
{
	margin-bottom: 20px!important;
	text-align:center;
}
.ar-detail .press-release
{
	display:inline-block;
	color:#fff;
	padding:6px 24px!important;
	text-decoration:none;
	background: #d42226;
	width: 179px;
}

.ar-detail .press-release:hover {
	color:#fff!important;
}


.ar-detail .press-release-data {
	background-color: #F3F3F3;
    	padding: 5px 15px!important;
	text-align:left!important;
	margin-top: 20px!important;
}

.ar-detail .ar-content .bx-btn-reload a
{
	background: #d42226!important;
	color: #fff!important;
	text-decoration: none!important;
}
.ar-detail .ar-content .bx-btn-reload a:hover
{
	background: #d42226!important;
	color: #fff!important;
	text-decoration: underline!important;
}

/* ********************* YOUTUBE ******************* */
.video-container
{
	position: relative;
	width: 600px;
	height: 367px;
	display: block;
	margin-bottom: 20px!important;
}

.video-wrapper
{
	padding: 5px!important;
	background: #f3f3f3;
	width: 590px;
	height: 357px;
	position: relative;
	overflow: hidden;
}

.ar-perex-video .video-container
{
	margin-bottom: 0px!important;
	margin-top: 20px!important;
}

/* ** PREPLAY ** */
.video-preplay img
{
	width: 590px;
	height: 357px;
	position: absolute;
	z-index: 1;
	border: 0px solid!important;
}

.video-preplay a
{
	width: 590px;
	height: 357px;
	position: absolute;
	z-index: 2;
	background: #000 url("../img/article/video-loading.png") center center no-repeat;
}

.video-preplay a.loaded
{
	background-image: url("../img/article/video-preplay.png");
	background-color: transparent;
}


/* ** FLOW AD ** */
.video-ad
{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
}
.flowplayer-hack
{ 	
	background-color: #f3f3f3;
	height: 5px;
	left: 5px;
	position: absolute;
	top: 362px;
	width: 590px;
	z-index: 2;
}

.flowplayer 
{ 	width: 590px;
	height: 357px;
	background-color: #000; 
	background-size: cover; 
	text-align:center; 
	cursor: pointer;
}
.flowplayer.is-playing, .flowplayer.is-paused-in-play, .flowplayer.is-finished 
{ 
	background-color: #000!important; 
	background-image:none!important
}
.flowplayer .fp-fullscreen,
.flowplayer .fp-speed
{
	display:none;
}
a.ad-skipper 
{
	text-decoration:none!important; 
	position: absolute; 
	height: 20px; 
	border-radius: 5px 5px 5px 5px; 
	background: rgb(255,0,0); 
	background: rgba(255,0,0,0.4); 
	color: #ffffff!important; 
	padding: 3px 8px; 
	width: 180px; 
	margin: 0 auto; 
	top: 10px;
	z-index:10; 
	line-height: 20px; 
	font-family: Tahoma, Arial; 
	font-size: 9px; 
	font-weight: bold; 
	cursor: default;
}
a.ad-skipper-enabled
{
	background: rgb(255,0,0);
	background: rgba(255,0,0,0.7); 
	cursor:pointer;
}
a.ad-skipper:hover
{
	text-decoration: none!important
}


/* ** VIDEO ** */
.video-bookmarks-disabled
{
	display: none;
}

.video-clip
{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
}

/* ** RESIZZER ** */
.video-resizer
{
	text-align: right;
	height: 20px;
	font-size: 14px;
	display: block;
	position: absolute;
	bottom: 5px;
	right: 5px;
	line-height: 19px;
}

.video-resizer a
{
	text-decoration: none;
	font-weight: bold;
	font-weight: 700;
}

.video-resizer a span
{
	float: right;
	height: 20px;
	width: 20px;
	background: #d42226 url("../img/article/video-size-full.png") center center no-repeat;
	margin-left: 10px!important
}

.video-resizer a.fullscreen span
{
	background-image: url("../img/article/video-size-default.png");
}

/* ********************* ANKETY ******************* */
.bx-inquiry-wrapper
{
	text-align: center;
}

.bx-inquiry
{
	background: #d42226;
	padding: 20px!important;
	width: 190px;
	float: right;
	color: #fff;
}

.bx-inquiry-left
{
	float: left;
	margin: 0 20px 0 0!important;
}

.bx-inquiry-right
{
	float: right;
	margin: 0 0 0 20px!important;
}

.bx-inquiry-center
{
	float: none;
	width: 560px;
	margin: 20px auto!important;
	text-align: left;
}

.bx-inquiry:before
{
	content: "";
	clear: both;
	display: block;
	width: 100%;
	height: 1px;
}

.bx-inquiry-center:after
{
	content: "";
	clear: both;
	display: block;
	width: 100%;
	height: 1px;
}

.bx-inquiry-center:after
{
	content: "";
	clear: both;
	display: block;
	width: 100%;
	height: 1px;
}

.bx-inquiry .bx-cnt,
.bx-inquiry .bx-head
{
	padding: 0 0!important;
}

.bx-inquiry .bx-head h2
{
	color: #fff;
	font-size: 17px;
}

.bx-inquiry .bx-cnt
{
	font-size: 14px;
	font-weight: bold;
	font-weight: 400;
}

.bx-inquiry .bx-cnt .inquiry-row
{
	margin-bottom: 10px!important;
	cursor: pointer;
	color: #fff;
}

.bx-inquiry .bx-cnt .inquiry-row label
{
	display: block;
	clear: both;
	cursor: pointer;
}

.bx-inquiry .bx-cnt .inquiry-row .inquiry-votes
{
	line-height: 20px;
	text-align: right;
	display: block;
	clear: both;
}

.bx-inquiry .bx-cnt .inquiry-row .inquiry-votes span
{
	display: block;
	float: left;
	background: #fff;
	height: 20px;
}

.bx-inquiry .bx-cnt .inquiry-row:hover
{
	color: #fff;
}
.bx-inquiry .bx-cnt .inquiry-row:hover label
{
	text-decoration: underline;
}
.bx-inquiry .bx-cnt .inquiry-row:hover .inquiry-votes span
{
	background: #aaa;
}

.bx-inquiry .bx-foot
{
	color: #fff;
    	font-size: 12px;
	margin-top: 20px!important;
}

/* ********************* TESTY ******************* */
.ar-tests .ar-content,
.ar-tests .ar-chapters
{
	padding-top: 0px!important;
}

.ar-tests .ar-chapters
{
	margin-top: 0px!important;
	border-top: 0px solid!important;
}
pre, code
{
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-x: auto;
	overflow-y: hidden;
}

/* ********************* GALERIE V CLANKU ******************* */
.ar-perex-gallery
{
	height:	379px!important;
	overflow: hidden!important;
}
.ar-perex-gallery .gallery-nav {display:block;position:absolute;top:0;bottom:0;width:60px;height:300px;z-index:3;}
.ar-perex-gallery .gallery-nav:hover {}
.ar-perex-gallery .gallery-nav-prev {left:0;background:url("../img/gallery/image-prev.png") no-repeat center center rgba(30,30,30,0.6);}
.ar-perex-gallery .gallery-nav-next {right:0;background:url("../img/gallery/image-next.png") no-repeat center center rgba(30,30,30,0.6);}

/* ---------- */
.ar-perex-roller
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 300px;
	overflow: hidden;
	background: #1e1e1e;
	transform: translate3d(0px, 0px, 0px);
    	transition: all 0.5s ease 0s;
}
.ar-perex-roller a
{
	display: block;
	width: 600px;
	height: 300px;
	vertical-align:middle;
	text-align: center;
	overflow: hidden;
	float: left;
	background:url("../img/gallery/image-load.svg") no-repeat center center;
}

.ar-perex-roller a:after {
    content: "";
    display: inline-block;
    height: 300px;
    vertical-align: middle;
}

.ar-perex-roller a img {
    vertical-align: middle;
}


/* ---------- */
.ar-perex-info
{
	display: block;
	position: absolute;
	top: 300px;
	left: 0px;
	width: 600px;
	height: 79px;
	overflow: hidden;
	background: #fff;
}
.ar-perex-info a
{
	display: inline-block;
	width: 130px;
	height: 65px;
	margin: 10px 10px 0;
	padding: 1px;
	border: 1px solid #ccc;
	vertical-align:middle;
	text-align: center;
	overflow: hidden;
}
.ar-perex-info a.gallery-thumb-0
{
	margin-left: 0px;
}
.ar-perex-info a.gallery-thumb-1,
.ar-perex-info a.gallery-thumb-2
{
	margin-left: 11px;
	margin-left: 12px;
}
.ar-perex-info a.gallery-thumb-3
{
	margin-right: 0px;
}

.ar-perex-info a:after {
    content: "";
    display: inline-block;
    height: 65px;
    vertical-align: middle;
}

.ar-perex-info a.info
{
	display: block;
	position: absolute;
	right: 2px;
	top: 12px;
	bottom: 2px;
	font-size: 14px;
	font-weight: bold;
	font-weight: 600;
	text-decoration: none!important;
	text-align: right;
	padding: 3px 3px 15px 36px;
	height: 47px;
	margin: 0;
	width: auto;
	border: 0px solid;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

}

.ar-perex-info a.info span.gallery-count
{
	font-size: 24px;
	font-weight: 700;
}
.ar-perex-info a.info span.gallery-link
{
	font-size: 13px;
	color: #666;
	display: block;
	font-weight: 600;
}

/* ********************* LISTOVACI CLANKY ******************* */
.ar-detail .ar-content .article-template-spliter {
	background-color: #e6e6e6;
	display: block;
	height: 55px;
	text-align: center;
	position: relative;
	font-size: 18px;
	overflow: hidden;
}
.ar-detail .ar-content .article-template-spliter-first {
	margin-bottom: 1em!important;
}
.ar-detail .ar-content .article-template-spliter-last {
	margin-top: 1em!important;
}
.ar-detail .ar-content .article-template-spliter div {
	display: inline-block;
	height: 55px;
	overflow: hidden;
	text-align: center;
	position: absolute;
	left: 75px;
	right: 75px;
	top: 0;
	bottom: 0;
}
.ar-detail .ar-content .article-template-spliter div span {
	display: block;
	height: 55px;
	text-align: center;
}
.ar-detail .ar-content .article-template-spliter a {
	display: inline-block;
	height: auto;
	width: 50px;
	height: 55px;
	line-height: 55px;
	text-decoration: none;
	color: #000!important;
	font-weight: normal!important;
	vertical-align: middle;
	overflow: hidden;
	text-decoration:none!important;
}
.ar-detail .ar-content .article-template-spliter a.active {
	color: #fff!important;
	background-color:#d42226;
}
.ar-detail .ar-content .article-template-spliter a.arrow {
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #d42226;
	color: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 55px;
}
.ar-detail .ar-content .article-template-spliter a.arrow:hover {
	background-color: #d42226;
}
.ar-detail .ar-content .article-template-spliter a.arrow-prev {
	left: 0;
	background-image:url("../img/gallery/image-prev.png");
}
.ar-detail .ar-content .article-template-spliter a.arrow-next {
	right: 0;
	background-image:url("../img/gallery/image-next.png");
}

/* ********************* DALSI PODOBNE CLANKY ******************* */
strong.ar-related-title {
	font-weight: 400;
	font-size: 36px;
	color: #d42226;
}