/*
    Only CSS Sprite Image Positions
    Created with http://tr.spritegen.website-performance.org/
    Zip file contains all of these css sprite source image
Settings:
    * Build Direction: Horizontal
    * Yatay Dikey Aralık 1 px
    To find a specific position for a select image into sprite image file use this online tool: http://www.spritecow.com/
    For "ÜBERCOMPRESS" png file https://tinypng.com/
*/
.privacy{
    background: url("/image/data/icons/comodo_secure_seal_100x85_transp.png");
}
.sprite {
    background: url("../image/sprites/csg-54c689bcee5e53.gif");
    background-repeat: no-repeat;
}

.sprite-x {
    background: url("../image/sprites/sprite-gradient-x.png");
    background-repeat: repeat-x;
}

.sprite-special-links {
    background: url("../image/sprites/sprite-special-links.png");
    background-repeat: no-repeat;
}

/* Static Images */
.sprite-button-agree{ background-position: 0 0; width: 16px; height: 15px; }
.sprite-button-disagree{ background-position: -17px 0; width: 16px; height: 15px; }
.sprite-button-read-reply{ background-position: -34px 0; width: 13px; height: 13px; }
.sprite-button-search{ background-position: -48px 0; width: 32px; height: 32px; }
.sprite-button-write-reply{ background-position: -81px 0; width: 16px; height: 15px; }
.sprite-cart-arrow-selected{ background-position: -98px 0; width: 12px; height: 8px; }
.sprite-cart-arrow{ background-position: -111px 0; width: 12px; height: 8px; }
.sprite-credit_cards{ background-position: -124px 0; width: 221px; height: 25px; }
.sprite-de{ background-position: -346px 0; width: 16px; height: 11px; }
.sprite-delivery-icon{ background-position: -363px 0; width: 30px; height: 28px; }
.sprite-en{ background-position: -394px 0; width: 16px; height: 11px; }
.sprite-ft-icon-app-store{ background-position: -411px 0; width: 92px; height: 32px; }
.sprite-ft-icon-google-play{ background-position: -504px 0; width: 93px; height: 33px; }
.sprite-ft-icon-mobile-site{ background-position: -598px 0; width: 136px; height: 26px; }
.sprite-haberdar_ol_eser{ background-position: -735px 0; width: 145px; height: 50px; }
.sprite-haberdar_ol_urun{ background-position: -881px 0; width: 145px; height: 50px; }
.sprite-icon-grid-selected{ background-position: -1027px 0; width: 18px; height: 18px; }
.sprite-icon-grid{ background-position: -1046px 0; width: 18px; height: 18px; }
.sprite-icon-list-selected{ background-position: -1065px 0; width: 18px; height: 18px; }
.sprite-icon-list{ background-position: -1084px 0; width: 18px; height: 18px; }
.sprite-installment_credit_cards{ background-position: -1103px 0; width: 388px; height: 25px; }
.sprite-ky_header_m3_klavye{ background-position: -1492px 0; width: 28px; height: 13px; }
.sprite-library-icon-selected{ background-position: -1521px 0; width: 30px; height: 35px; }
.sprite-library-icon{ background-position: -1552px 0; width: 31px; height: 36px; }
.sprite-myos-icon{ background-position: -1584px 0; width: 104px; height: 85px; }
.sprite-next-disabled{ background-position: -1689px 0; width: 8px; height: 13px; }
.sprite-next-enabled{ background-position: -1698px 0; width: 8px; height: 13px; }
.sprite-offered_product{ background-position: -1707px 0; width: 20px; height: 20px; }
.sprite-orange-minus-icon{ background-position: -1728px 0; width: 13px; height: 13px; }
.sprite-orange-plus-icon{ background-position: -1742px 0; width: 13px; height: 13px; }
.sprite-prev-disabled{ background-position: -1756px 0; width: 8px; height: 13px; }
.sprite-prev-enabled{ background-position: -1765px 0; width: 8px; height: 13px; }
.sprite-privacy_policy{  width: 100px; height: 70px; margin-top: -15px }
.sprite-product_purchased_by_customer{ background-position: -1855px 0; width: 36px; height: 15px; }
.sprite-green-ribbon-left{ background-position: -1892px 0; width: 10px; height: 37px; }
.sprite-green-ribbon-right{ background-position: -1903px 0; width: 30px; height: 31px; }
.sprite-sinav1{ background-position: -1934px 0; width: 115px; height: 140px; }
.sprite-sinav2{ background-position: 0 -141px; width: 115px; height: 140px; }
.sprite-sinav3{ background-position: -116px -141px; width: 115px; height: 140px; }
.sprite-sinav4{ background-position: -232px -141px; width: 116px; height: 140px; }
.sprite-sinav5{ background-position: -349px -141px; width: 115px; height: 140px; }
.sprite-sofortuberweisung{ background-position: -465px -141px; width: 138px; height: 23px; }
.sprite-special-link-always-read{ background-position: -604px -141px; width: 90px; height: 124px; }
.sprite-special-link-authors-reading{ background-position: -695px -141px; width: 90px; height: 124px; }
.sprite-special-link-magazine-list{ background-position: -786px -141px; width: 90px; height: 124px; }
.sprite-special-link-most-gifted{ background-position: -877px -141px; width: 90px; height: 124px; }
.sprite-special-link-most-reviewed{ background-position: -968px -141px; width: 90px; height: 124px; }
.sprite-special-link-nobel-list{ background-position: -1059px -141px; width: 90px; height: 124px; }
.sprite-special-link-oscar-list{ background-position: -1150px -141px; width: 90px; height: 124px; }
.sprite-special-link-upcoming-books{ background-position: -1241px -141px; width: 90px; height: 124px; }
.sprite-special_discount{ background-position: -1332px -141px; width: 70px; height: 15px; }
.sprite-split{ background-position: -1403px -141px; width: 1px; height: 16px; }
.sprite-stars-0{ background-position: -1405px -141px; width: 60px; height: 11px; }
.sprite-stars-1{ background-position: -1466px -141px; width: 60px; height: 11px; }
.sprite-stars-2{ background-position: -1527px -141px; width: 60px; height: 11px; }
.sprite-stars-3{ background-position: -1588px -141px; width: 60px; height: 11px; }
.sprite-stars-4{ background-position: -1649px -141px; width: 60px; height: 11px; }
.sprite-stars-5{ background-position: -1710px -141px; width: 60px; height: 11px; }
.sprite-tab{ background-position: -1771px -141px; width: 1px; height: 30px; }
.sprite-tr{ background-position: -1773px -141px; width: 16px; height: 11px; }


/* Gradients Vertical Align */
.sprite-big-ribbon-middle{ background-position: 0 0; width: 1px; height: 42px; }
.sprite-column-ribbon-middle-green{ background-position: 0 -43px; width: 1px; height: 32px; }
.sprite-column-ribbon-middle-orange{ background-position: 0 -76px; width: 1px; height: 32px; }
.sprite-column-ribbon-middle-red{ background-position: 0 -109px; width: 1px; height: 32px; }
.sprite-gray-ribbon-middle{ background-position: 0 -142px; width: 1px; height: 36px; }
.sprite-orange-ribbon{ background-position: 0 -179px; width: 1px; height: 31px; }
.sprite-ribbon-green-x{ background-position: 0 -211px; width: 1px; height: 26px; }
.sprite-small-ribbon-middle-orange{ background-position: 0 -243px; width: 1px; height: 27px; }


/* Special Links */
.sprite-dergi {
    width: 102px;
    height: 140px;
    background-position: -1px -1px;
}
.sprite-hepokunanlar-k6 {
    width: 102px;
    height: 140px;
    background-position: -105px -1px;
}
.sprite-nobel {
    width: 102px;
    height: 140px;
    background-position: -209px -1px;
}
.sprite-oscar {
    width: 102px;
    height: 140px;
    background-position: -313px -1px;
}
.sprite-ozelsayfalar-6 {
    width: 102px;
    height: 140px;
    background-position: -1px -143px;
}
.sprite-ozelsayfalar-7 {
    width: 102px;
    height: 140px;
    background-position: -105px -143px;
}
.sprite-product-most-liked {
    width: 102px;
    height: 140px;
    background-position: -209px -143px;
}
.sprite-sinav1 {
    width: 115px;
    height: 140px;
    background-position: -313px -143px;
}
.sprite-sinav2 {
    width: 115px;
    height: 140px;
    background-position: -1px -285px;
}
.sprite-sinav3 {
    width: 115px;
    height: 140px;
    background-position: -118px -285px;
}
.sprite-sinav4 {
    width: 116px;
    height: 140px;
    background-position: -235px -285px;
}
.sprite-sinav5 {
    width: 115px;
    height: 140px;
    background-position: -353px -285px;
}
.sprite-sinav6 {
    width: 115px;
    height: 140px;
    background-position: -417px -1px;
}
.sprite-yayinlanacak {
    width: 102px;
    height: 140px;
    background-position: -430px -143px;
}
.sprite-yazarlarin_okuduklari {
    width: 102px;
    height: 140px;
    background-position: -470px -285px;
}

