@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 300;
  src: local('Jura Light'), local('Jura-Light'), url(https://fonts.gstatic.com/s/jura/v7/oL0FwdEAnOsXjuRkZKgehQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 400;
  src: local('Jura Regular'), local('Jura-Regular'), url(https://fonts.gstatic.com/s/jura/v7/BaRU3GSISDJW2nIqbysbmg.ttf) format('truetype');
}
