



.url{

	color: #4211df;
	font-size: 12px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}

.resultBody{
	padding-bottom:1%;
}


.resultSummary
{
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}
.previousLink
{

cursor: pointer;
}

.nextLink
{
cursor: pointer;
}

.navigationLink
{
cursor: pointer;
margin:4px;

}
.navigationHTML {
	text-decoration: none;
	color: #15B;
	
	
}
.contentType {
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: normal;
	color: #4211df;
}

.title {
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #4211df;
	font-weight: normal;
}

.content {
	width: 100%;	
	font-size: 13px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	margin: 0;
	word-wrap:break-word;
}


.result {
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	width: 100%;
	border-bottom: 1px dotted #a1a1a1;
	display: block;
}

.pageDetails {
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

.totalresult {
	color: #722C78;
	font-size: 11px;
	font-weight: normal;
	line-height: 13px;
}

.query {
	color: #6E0078;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
}


.absentResultBody {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}

.spellCheckerMain {
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.spellChecker {
	font-family: Arial, Helvetica, sans-serif;
	color:#000000;
}
.spellCheckSuggestion{
	color:#FF0000;
	text-decoration:underline;
	CURSOR: pointer;
}

.feedbackImg {
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
	border: 1px solid;
	border-color: #1E90FF;
	height: 14px;
	width: 14px;
}
.docDate
{
}

.currentLink{
	color: #000000;
	font-weight: bold;
}
em {
	font-style: normal;
        font-weight: bold;
}
