/* MODEL BOX */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

IMG {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-ms-interpolation-mode: bicubic;
}



/* LAYOUT GŁOWNEJ - dawny s.css */

body {
	margin: 0;
	padding: 0;
	background: url(http://joemonster.org/images/bgray.png);
	overflow: auto !important;
}

.sprite {
	background-image: url('/images/spritesheet.png');
	background-repeat: no-repeat;
	/*display: block;*/
}

.sprite-bigMinus {
	width: 34px;
	height: 34px;
	background-position: -3px -3px;
}

.sprite-jm_fb {
	width: 24px;
	height: 24px;
	background-position: -43px -3px;
}

.sprite-jm_instagram {
	width: 24px;
	height: 24px;
	background-position: -73px -3px;
}

.sprite-jm_powiadomienia {
	width: 21px;
	height: 25px;
	background-position: -103px -3px;
}

.sprite-jm_snapchat {
	width: 24px;
	height: 24px;
	background-position: -130px -3px;
}

.sprite-jm_user {
	width: 24px;
	height: 24px;
	background-position: -160px -3px;
}

.sprite-jm_wiadomosci {
	width: 24px;
	height: 18px;
	background-position: -190px -3px;
}

.sprite-joe_logo {
	width: 220px;
	height: 35px;
	background-position: -3px -43px;
}

.sprite-lajk {
	width: 33px;
	height: 39px;
	background-position: -3px -84px;
}

.sprite-menu {
	width: 28px;
	height: 20px;
	background-position: -42px -84px;
}

.sprite-minus {
	width: 24px;
	height: 24px;
	background-position: -76px -84px;
}

.sprite-plus {
	width: 25px;
	height: 24px;
	background-position: -106px -84px;
}

.sprite-search {
	width: 28px;
	height: 27px;
	background-position: -137px -84px;
}

.sprite-talk {
	width: 32px;
	height: 32px;
	background-position: -173px -84px;
}
.sprite-views {
	width: 20px;
	height: 12px;
	background-position: 0px -128px;
}
.sprite-small-lajk {
	width: 15px;
	height: 15px;
	background-position: -21px -125px;
}
.sprite-comments {
	width: 17px;
	height: 15px;
	background-position: -40px -125px;
}

.sprite-jm_official_user_big {
	width: 24px;
	height: 24px;
	background-position: -59px -118px;
	display: inline-block;
	margin-bottom: -4px;
}

.sprite-jm_official_user_medium {
	width: 18px;
	height: 18px;
	background-position: -84px -120px;
	display: inline-block;
	margin-bottom: -4px;
}

.sprite-jm_official_user_small {
	width: 14px;
	height: 14px;
	background-position: -102px -122px;
	display: inline-block;
	margin-bottom: -2px;
}

.sprite-pencil {
	width: 18px;
	height: 18px;
	background-position: -162px -120px;
}

.sprite-bigger_player {
	width: 25px;
	height: 18px;
	background-position: -2px -145px;
}
.sprite-smaller_player {
	width: 25px;
	height: 18px;
	background-position: -32px -145px;
}

.sprite-autoplay_on {
	width: 30px;
	height: 18px;
	background-position: -60px -145px;
}
.sprite-autoplay_off {
	width: 30px;
	height: 18px;
	background-position: -92px -145px;
}
.sprite-only_on_jm {
	width: 24px;
	height: 18px;
	background-position: -132px -120px;
	display: inline-block;
	margin-right: 5px;
	position: relative;
	top: 3px;
}

.user-edit-image-icon {
	position: absolute;
	top: 5px;
	left: 5px;
}

.user-edit-image-icon, a.remove {
	display: none;
}

.user-banner:hover .user-edit-image-icon,
.user-banner:hover a.remove {
	display: block
}

#user_banner_delete {
	width: 144px;
	float: left;
	margin-top: -3px;
}

#change-banner-content {
	margin: 20px;
}

.page-change-banner #main #main_article {
    width: inherit;
	margin: 0;
}

#userMiniMenu {
	right: 0;
	position: absolute;
	text-align: right;
	z-index: 12;
}

#userMiniMenu A {
	text-decoration: none !important;
}

#topHeader .logo {
	position: absolute;
	top: 5px;
	left: 0;
	width: 272px;
}

#topHeader .logo a {
	display: block;
}

#topHeader {
	height: 60px;
	position: relative;
	text-align: left;
	background-color: white;
}

#mainJMMenu TD {
	background: url('/images/bg-yellow.gif');
}

H1 {
	font-size: 30px;
	line-height: 1.5em;
}

H2 {
	font-size: 18px;
	color: #333;
	line-height: 1.5em;
}

H2, H3 {
	line-height: 1.5em;
}

HR {
	margin: 12px 0;
}

h2 A {
	text-decoration: none;
	color: #c00;
}

hr.dotted {
	border-top: 1px dotted;
}

#bopowaga {
	position: absolute;
	top: 0px;
	left: 290px;
	font: bold 20px arial;
	letter-spacing: -2px;
	color: #eee;
	z-index: 5;
}

#wyszukiwaraGoogle {
	position: absolute;
	bottom: 15px;
	right: 35px;
	z-index: 10;
}

#wyszukiwaraGoogle 	FORM {
	margin: 0;
	padding: 0;
}

#wyszukiwaraGoogle 	INPUT {
	font-size: 10px;
	margin: 0;
	padding: 0;
}

#wyszukiwaraGoogle 	#q {
	width: 200px;
	margin-right: 5px;
}

.subHead {
	border-bottom: 1px solid  black;
	background-color: red;
}

.BoxBorder {
	background-color: yellow;
}

.BoxTitle, .BoxTitle A:link, .BoxTitle A:active {
	color: white;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	padding: 4px;
	text-shadow: 1px 1px 1px #666;
	background-color: #ee0000;
	border-bottom: 1px solid #BE0000;
	border-right: 1px solid #BE0000;
	border-top: 1px solid #FC8585;
	border-left: 1px solid #FC8585;
	text-shadow: 1px 1px 1px #666;
}

.BoxTitle2, TD.BoxTitle2 A:link, TD.BoxTitle2 A:active {
	background-color: #FFCD00;
	color: black;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	border-bottom: 1px solid orange;
	border-right: 1px solid orange;
	border-top: 1px solid yellow;
	border-left: 1px solid yellow;
}

.BoxContent {
	background-color: #ffdc00;
	padding: 5px;
}

A, A:link {
	color: black;
	outline: none;
}

A:hover {
	color: red;
	text-decoration: underline;
}

.BoxContent A,  .BoxContent A:link {
	text-decoration: none;
}

.BoxContent A:hover {
	text-decoration: underline;
}

#prawa_glowna .BoxContent .miniGame img {
	max-width: 270px;
}

.morelink {
	font-size: 11px;
	margin-top: 7px;
}

#title, .title, a.title, a.title:hover {
	font-family: Arial,"Times New Roman", helvetica;
	font-size: 29px;
 /*22 bylo*/
	text-decoration: none;
	line-height: 130%;
	word-spacing: -.3px;
	letter-spacing: -1px;
	margin: 0px;
	margin-bottom: 5px;
	display: block;
	color: red;
}

.tiny {
	font-family: verdana,arial;
	font-size: 9px;
}

.large {
	font-size: 14px;
	line-height: 150%;
}

.odstep {
	font-size: 4px;
}

A.dntitle {
	font-family: Arial,"Times New Roman", helvetica;
	font-size: 14px;
	color: #cc0000;
	font-weight: bold;
}

#text, .text, td {
	line-height: 140%;
	font-size: 12px;
	font-family: Arial;
}

.text h1 {
	line-height: 100%;
}

td, div {
	font-family: Arial;
	font-size: 14px;
}

#arcik span.text, #arcik DIV, #arcik span.text DIV, .redactor_editor {
	font-size: 16px !important;
	line-height: 140%;
}

.auto-resizable-iframe {
	margin: 0px 45px auto;
}

.auto-resizable-iframe > div {
	position: relative;
	padding-bottom: 56%;
	height: 0px;
}

.auto-resizable-iframe iframe {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

#main_article .title {
	font-size: 31px;
	line-height: 120%;
}

INPUT, TEXTAREA {
	font-size: 12pt;
	font-family: Arial;
	padding: 3px;
	font-weight: normal;
}

TT {
	line-height: 17px;
	font-size: 12px;
}

#s {
	font-family: Arial;
	font-size: 10px;
	color: #035D8A;
}

.s, .s A {
	font-family: Arial;
	font-size: 12px;
	color: #035D8A;
}

.sh {
	font-family: Verdana,Arial;
	font-size: 9px;
	font-weight: bold;
}

A.topicLink {
	font-family: Arial;
	font-weight: bold;
	font-size: 10px;
	color: #999;
	text-decoration: none;
}

A.topiclLink:hover {
	text-decoration: none;
}

.art-details {
	font-size: 11px;
	font-weight: bold;
	color: #777;
	margin-bottom: 10px;
}
.art-details .art-numbers {
	margin-left: 10px;
}
.art-details a {
	text-decoration: none;
	color: #777;
}

.article_with_baner .art-details a {
    color: #eee;
}

.art-details .views-count,
.art-details .positive-votes-count,
.art-details .comments-count {
	display: inline-block;
	margin-bottom: -2px;
}

#mm A {
	font-size: 12px;
	text-decoration: none;
}

#mainmenu {
	width: 100%;
	font: normal 12px arial;
	-moz-box-sizing: padding-box;
	box-sizing: padding-box;
}

#mainmenu a {
	width: 140px;
	display: block;
	-moz-box-sizing: padding-box;
	box-sizing: padding-box;
	line-height: 16px;
	padding: 3px 5px 3px 5px;
	color: #505050;
	text-decoration: none;
	border-bottom: 1px solid #d0d0d0;
}

#mainmenu BR {
	display: none;
}

#mainmenu a:hover {
	color: black;
	background: #ffdc00;
}

#mainmenu .kreska {
	border-bottom: 1px solid #d0d0d0;
}

#wt, .wt, A.wt {
	color: #eeeeee;
}

A.men {
	font-size: 12px;
	font-family: arial,tahoma,verdana;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
}

A.men:hover {
	color: black;
	text-decoration: none;
}

#title2 {
	color: red;
	font-weight: bold;
	font-style: italic;
	font-family: arial narrow, times new roman;
	font-size: 24px;
}

A.adminLink {
	font-size: 9px;
	font-weight: bold;
	color: red;
}

.kreska TD {
	border-bottom: 1px solid #d8e0e0;
}

.bottomBorder {
	height: 32px;
	border-bottom: 1px solid #ccc;
	display: inline-block;
}

#mtvMenu {
	padding-top: 5px;
}
#mtvMenu .bottomBorder.left {
	width: 10px;
}
#mtvMenu .bottomBorder.right {
	width: 338px;
}

div#main {
	margin: 0;
	background-color: #fff;
	text-align: left;
	position: relative;
	display: block;
}

#main #userProfileContent #editProfile {
	font-size: 12px;
	padding: 5px;
}

#userProfileContainer #userProfileContent {
	padding: 10px;
	position: relative;
}
#userProfileContainer .bottomBorder {
	width: 191px;
}
#userProfileContainer #userProfileContent .leftTeam {
	left: 36px;
}
/*----------MENU Z BOOTSTRAPA------------*/
div#main .nav {
	display: block;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
div#main .nav > li {
	position: relative;
	display: block;
}
div#main .nav > li > a {
	position: relative;
	display: block;
	padding: 4px 7px 5px 7px;
}
div#main .nav > li > a:hover,
div#main .nav > li > a:focus {
	text-decoration: underline;
	color: #cc0000;
}
div#main .nav-tabs {
	display: inline-block;
	margin: 0;
}
div#main .nav-tabs > li {
	float: left;
	margin-bottom: -1px;
}
div#main .nav-tabs > li > a {
	line-height: 1.42857143;
	border: 1px solid #ddd;
	border-radius: 5px 5px 0 0;
	box-shadow: none;
	text-decoration: none !important;
	color: #666;
	background-color: #f0f0f0;
	font-weight: normal;
	font-family: Arial;
	font-size: 14px;

}
div#main .nav-tabs > li.active {
	background: none;
}
div#main .nav-tabs > li.active > a {
	color: #333;
	background: #fff;
	border-bottom: 0;
}
/*---------KONIEC MENU Z BOOTSTRAPA------*/

div#main755 {
	margin: 0;
	width: 755px;
	background: #fff;
	text-align: left;
}

div#lewa_glowna {
	width: 230px;
	margin: 5px 0px;
	border-top-width: 0;
	float: left;
	text-align: left;
}

.page-home #lewa_glowna {
	width: 240px;
	position: absolute;
	left: 0;
}

#lewa_glowna .BoxTitle:nth-of-type(1) {	 /*bez nagłowka MTV*/
	display: none;
}


#prawa_glowna {
	width: 300px;
	position: absolute;
	border-top-width: 0;
	overflow: hidden;
	text-align: left;
	top: 50px;
	right: 0;
}

div#spacer {
	width: 40px;
	margin: 0px;
	float: left;
	display: inline;
}

#main_glowna {
	overflow: hidden;
	padding: 0 320px 10px 260px;
	text-align: left;
	background: #fff;
	width: auto;
}

div#main_billboard {
	width: 950px;
	font-size: 0px;
	text-align: left;
	margin: 5px auto;
}

div#billboard {
	width: 750px;
	padding: 0px;
	margin: 0 0 0 10px;
	text-align: center;
	float: center;
	background: #f0f;
}

div#footer {
	float: center;
	width: inherit;
	clear: both;
}

div#footer755 {
	clear: both;
	float: center;
	width: 100%;
}

#main_article {
	width: 100%;
	margin: 10px;
	background: #fff;
}

#main_article .art-wrapper .next_box_art {
	height: 28px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	position: relative;
	margin-bottom: 10px;
}
#main_article .art-wrapper .next_box_art a {
	display: block;
	font-weight: bold;
	text-decoration: none;
	padding: 5px 0;
	color: #999;
}

#main_article .art-wrapper .next_box_art .n-art {
	position: absolute;
	left: 0;
	top: 0;
}
#main_article .art-wrapper .next_box_art:nth-of-type(1) {
	width: 300px;
	right: 0;
	position: absolute;
}
#main_article .art-wrapper .next_box_art .st-art {
	position: absolute;
	right: 0;
	top: 0;
}
#main_article .art-wrapper .next_box_art .st-los {
	position: absolute;
	right: 45%;
	top: 0;
}
#main_article .art-wrapper .art-footer {
	font-size: 12px;
	margin: 15px 5px;
	margin-bottom: 5px;
	line-height: 150%;
	text-align: left;
	line-height: 170%;
}

.page-article div#prawa_glowna {
	top: 40px;
}
.page-article .homepage-only {
	display: none;
}

#main_main {
	padding: 5px 19px;
	text-align: left;
	background: #fff;
	overflow: hidden;
	margin: 0;
	line-height: 150%;
	margin-left: 190px;
}

#main_forum {
	width: 735px;
	__padding: 4px 0 0 0;
	float: left;
	text-align: left;
	background: #fff;
	display: inline;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-table;
}

#user_right {
	position: absolute;
	right: 0;
	text-align: left;
	background-color: #ffde00;
	border-left: 2px solid #FFA900;
	width: 360px;
	padding: 0;
	top: 0;
}

div#user_right img:first-child {
	width: 100%;
}

div#user_left {
	float: left;
	width: 60%;
	background-color: #f0f0f0;
}

div#user_main {
	width: 1020px;
	min-height: 1020px;
	text-align: left;
}

#mvidform textarea, #mvidform input[type=text] {
	width: 490px;
}

#mtvTopMenu A.selected {
	font-weight: bold;
	text-decoration: none;
	color: #c00;
}


/* koniec s.css*/

.BoxTitle, TD.BoxTitle {
	padding: 8px;
}

OL.nointend LI, UL.nointend LI {
	margin-left: -12px;
	margin-bottom: 3px;
}

OL.nointend,UL.nointend {
	margin-top: 5px;
	margin-bottom: 5px;
}

.small {
	font-size: 11px;
}

.gray {
	color: #ccc;
}

.ramka {
	padding: 8px;
	border: 1px solid gray;
	background-color: #f8f8f8;
	margin-bottom: 5px;
}

.kreskiPoziome TD {
	border-bottom: 1px solid #ccc;
}

/* BLOG */
.blogInput {
	width: 440px;
}

TEXTAREA.bloginput {
	font-size: 10pt;
	line-height: 140%;
}

#blogMain LI {
	list-style-type: none;
	margin-bottom: 2px;
}

#blogAutoreklama {
	clear: both;
}

#blogRightColumn {
	width: 200px;
	float: left;
	margin-left: 10px;
	overflow: hidden;
}

#blogMain {
	float: left;
	width: 550px;
	margin: 0 25px;
}

#blogLeftColumn li {
	list-style-type: none;
	margin-left: -35px;
	padding-bottom: 5px;
}

#blogLeftColumn li A {
	text-decoration: none;
}

#blogLeftColumn li A:hover {
	text-decoration: underline;
}

#blogRightColumn li {
	list-style-type: none;
	margin-left: -30px;
	padding: 0 0 5px 20px;
	background: url(/images/blog-bul.gif) no-repeat top left;
}

#blogMain A, #blogMain A:link {
	color: #690036;
}

#blogTop IMG {
	-moz-box-sizing: padding-box;
	box-sizing: padding-box;
}

/* bottom table */
.bottomDotted, .bottomDotted TD {
	border-bottom: 1px dotted gray;
}

.bottomSolid, .bottomSolid TD {
	border-bottom: 1px solid black;
}

.bold {
	font-weight: bold;
}

/* MTV NOWA */

/* lista najnowszych*/

.mtvBigThumb {
	border: 1px solid #ccc;
	padding: 2px;
	width: 256px;
}

#mtvPrawaKolumna {
	display: inline;
	float: right;
	width: 310px;
	margin-left: 10px;
}

/* opis strony z filmem */
#mtv_main {
	padding: 5px;
	float: left;
	width: 650px;
}

#mtv_main_swf {
	text-align: center;
	position: relative;
	display: inline-block;
	width: 100%;
	transition:width 0.5s;
	-webkit-transition:width .5s;
	-moz-transition: width 0.5s;
}

#mtv_main_swf .mtv-player-wrapper video {
	max-height: 100%;
}

#mtv_main_swf.videoNarrow {
	width: calc(100% - 330px);
	transition:width 0.5s;
	-webkit-transition:width .5s;
	-moz-transition: width 0.5s;
}

#mtv_main_swf .mtv-player-wrapper {
	transition:height 0.5s;
	-webkit-transition:height .5s;
	-moz-transition: height 0.5s;
}

#mtv_main_swf  .fbut {
	position: absolute;
	left: 400px;
	margin-top: 30px !important;
}

#mtv_main_swf .video-player-resize-button {
	float: right;
	margin-top: 3px;
	cursor: pointer;
}

#mtv_right {
	text-align: left;
	padding: 5px;
	float: right;
	width: 350px;
}

#rightFileColumn legend,
#mtv_right legend {
	color: #777;
	font-size: 14px;
	font-weight: bold;
	margin-top: 2px;
	padding: 2px 5px;
}

#mtvDescription {
	font-size: 16px;
	overflow: hidden;
	text-align: left;
	padding: 5 10px;
	margin: 10px 0px 10px -5px;
	line-height: 140%;
}

.graDescription {
	padding: 10px;
	max-width: 600px;
	margin: 5px auto;
	border: 2px solid #ccc;
	border-color: #ccc #999 #999 #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#mtv_right fieldset {
	padding: 5px 0;
	border: 2px solid #FCD000;
	border-width: 2px 0 0 0;
	margin-top: 15px;
}

.podobne #relatedShow a, .niepodobne #relatedShow a {
	text-decoration: none;
	margin-right: 10px;
	color: #555;
	font-size: 12px;
}

.mtv-video-details {
	margin-top: 20px;
	margin-left: 8px;
	color: #777;
	position: relative;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
}
.mtv-video-details .tags {
	font-weight: normal;
}
.mtv-video-details a {
	color: #777 !important;
	text-decoration: none;
}
.mtv-video-details .art-details {
	float: right;
}
.mtv-item-not-working {
	position: absolute;
	right: 0;
	top: 22px;
}
.mtv-video-details img {
	float: left;
	margin-right: 5px;
}

.mtv-duplicated-item {
	position: absolute;
	right: 70px;
	top: 22px
}

/* responsywne mtv START*/
.mtvRightColumn {
	display: inline;
	float: right;
	width: 310px;
	margin-left: 10px;
	z-index: 1;
}

.mtvRightColumn .fb_mtv_plugin {
	margin: 5px;
}

.mtvLeftColumn {
	float: left;
	width: 690px;
	position: relative;
}

/*** MTV  RESPONSYWNE ***/

@media screen and (max-width: 1019px) {

	.page-monstertv-list .mtvRightColumn,
	.page-monstertv-video .mtvRightColumn {
		position: absolute;
		right:0;
	}

	.page-monstertv-list .mtvRightColumn {
		top: 35px;
	}

	.page-monstertv-list .mtvLeftColumn,
	.page-monstertv-video .mtvLeftColumn {
		width: auto;
		float: none;
		padding: 5px;
		padding-right: 320px
	}

	div#main_article .art-wrapper .next_box_art:nth-of-type(1) {
		width: auto;
		position: relative;
	}

	.page-article div#prawa_glowna {
		top: 0
	}
}

@media screen and (max-width: 800px) {

	.page-monstertv-list .mtvRightColumn,
	.page-monstertv-video .mtvRightColumn {
		display: none;
	}

	.page-monstertv-list .mtvLeftColumn,
	.page-monstertv-video .mtvLeftColumn {
		padding: 5px;
	}

	div#main_article .art-wrapper .next_box_art:nth-of-type(1) {
		width: auto;
		position: relative;
	}

	.page-article div#prawa_glowna {
		top: 0
	}
}

@media screen and (max-width: 500px) {

	.page-monstertv-list .mtv-thumb {
		position: relative;
		width: auto;
	}

	.page-monstertv-list .mtv-thumb img {
		width: 100%;
		height: auto;
	}

	.page-monstertv-list .mtv-thumb-img {
		position: relative;
		width: auto;
	}

	.page-monstertv-list .mtv-desc {
		padding-left: 0;
	}
}
/* responsywne mtv END */

/* poczekalnia */


.mtvPoczekalniaFilm {
	margin-bottom: 10px;
	height: 215px;
	width: 31%;
	float: left;
	overflow: hidden;
	margin-right: 2%;
	position: relative;
}

.mtvPoczekalniaFilm.kolejka {
	height: 195px;
}

.mtvPoczekalniaFilm a.titulo {
	display: block;
	height: 145px;
	overflow: hidden;
	position: relative;
	border: 1px solid #333;
}

.mtvPoczekalniaFilm a.titulo:link {
	text-decoration: none;
	color: orange;
}

.mtvPoczekalniaFilm a.titulo:hover {
	color: #ff6100;
}

.mtvPoczekalniaFilm h2 {
	clear: both;
	margin: 0;
	padding: 3px 0;
	margin-left: 0;
	text-decoration: none;
	font: bold 15px arial;
	line-height: 140%;
	max-height: 45px;
	overflow: hidden;
}

.mtvPoczekalniaFilm .mtvDane, .mtvPoczekalniaFilm .mtvDane a {
	font: normal 11px arial;
	margin:5px 0;
	color: #666;
}

.mtvPoczekalniaOk {
	position: absolute;
	width: 34px;
	height: 112px;
	margin-right: 5px;
	background: url(http://joemonster.org/i/2015/05/ok-poczek2.png) no-repeat;
	padding-top: 35px;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	color: #584201;
	text-decoration: none;
	right: 0;
	top: 0;
	z-index: 1;
}

div#mt0 {
	margin-top: 10px;
}

.mtvHomeV IMG {
	width: 100%;
}

.mtvHomeV {
	display: block;
	position: relative;
}

.mtv-play {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	background: url("/images/icons/over-video.png") no-repeat scroll 50% 50% transparent;
	z-index: 2;
}


/* adminowo */
div.adminedit {
	width: 40px;
	position: absolute;
	top: 45px;
	right: 16px;
	z-index: 10;
}

DIV.adminedit span {
	display: none;
}

DIV.adminedit:hover SPAN {
	display: block;
}

DIV.adminedit A {
	font: normal 10px arial;
	color: gray;
	display: block;
	width: 55px;
	height: 20px;
	margin-bottom: 2px;
	background-color: white;
	opacity: 0.9;
}

/* duze i małe miniaturki - pokazuj? się w css */
#generatedThumbs A {
	display: block;
	float: left;
	position: relative;
}

#generatedThumbs A span {
	display: none;
	position: absolute;
	font-size: 22px;
	left: 0;
	right: 0;
	z-index: 22;
}

#generatedThumbs A:hover span {
	display: block;
}

.mtvMore {
	margin-top: 20px;
}

.mtvMore a, .mtvMore a:link {
	display: inline-block;
	margin-bottom: 2px;
	padding: 3px 5px;
	text-align: center;
	border: 1px solid gray;
	white-space: nowrap;
	text-decoration: none;
	color: #666;
}

.mtvMore a:hover {
	color: orange;
	border-color: orange;
}

/* zwijacz do tlumy podobnych*/
#moreRelated {
	display: none;
}

/* na głownej - BOX z najnowszymi z galerii */

#galeriabox {
	margin-left: -3px;
	margin-top: -5px;
	background: black;
	overflow: hidden;
	display: block;
	padding-left: 2px;
}

#galeriabox a {
	display: block;
	float: left;
}

#galeriabox img {
	width: 98px;
	height: 68px;
	border: 0;
	margin-right: 1px;
	margin-bottom: 1px;
}

#galeriabox a:hover img {
	box-shadow: 0 0 1px 2px black;
	-webkit-transition: all 0.2s;
	-webkit-transform: rotate(0deg) scale(1.1) skew(0) translate(0);
	-moz-transition: all 0.2s;
	-moz-transform: rotate(0deg) scale(1.1) skew(0) translate(0);
	-o-transition: all 0.2s;
	-o-transform: rotate(0deg) scale(1.1) skew(0) translate(0);
}

.contentMG:before {
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;
	display: block;
	background-size: cover;
	width: 100%;
	height: 100%;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

.zobaczThumb {
	float: left;
	width: 137px;
	height: 131px;
	text-align: left;
	font-size: 12px;
	overflow: hidden;
	margin-right: 10px;
}

.zobaczThumbImg {
	height: 88px;
	width: 100%;
	overflow: hidden;
	margin-bottom: 4px;
	border: 1px solid #444;
}

.zobaczThumbImg img {
	width: 100%;
	margin-top: -10px;
}

fieldset.podobne, fieldset.niepodobne {
	padding: 5px 0 10px 10px;
	margin-top: 20px;
}

.zobaczThumb  A {
	text-decoration: none;
}

.infoBoxTV2 {
	width: 410px;
	text-align: left;
}

/* box w ktorym jest lista opisujaca plik oraz dodawanie do ulubionych etc. */
.infoBox {
	border: 1px solid #e8e8e8;
	background-color: #f0f0f0;
	text-align: center;
	color: black;
	padding: 5px;
	clear: both;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.infoBoxTV {
	border: 1px solid #e8e8e8;
	background-color: #FFF;
	text-align: center;
	color: black;
	padding: 5px;
	width: 480px;
	clear: both;
}

/* lista bojowników  z obrazkami 128x96 */
.avatar {
	float: left;
	width: 135px;
	height: 135px;
	text-align: center;
	overflow: hidden;
	position: relative;
}

.avatar96 {
	float: left;
	width: 135px;
	height: 135px;
	text-align: center;
	overflow: hidden;
	position: relative;
}

/* lista bojowników  z obrazkami 30x30 */
.avatar30 {
	float: left;
	width: 175px;
	height: 55px;
	text-align: left;
	overflow: hidden;
	position: relative;
}
.avatar30 img {
	float: left;
	margin-right: 5px;
}

/* znikaj?ce menu admina */
DIV.avatar DIV.avatar30 DIV.avatar96 DIV.miniAdminMenu {
	top: -20px;
}

.item45 {
	border-bottom: 1px dotted #ccc;
	overflow: hidden;
	min-height: 50px;
	width: 100%;
}

.avatar A {
	font-size: 11px;
	text-decoration: none;
	color: #c00;
	font-weight: bold;
}

.avatar30 A {
	font-size: 12px;
	text-decoration: none;
	color: #666;
	font-weight: bold;
}

.avatar96 A {
	font-size: 11px;
	text-decoration: none;
	color: #c00;
	font-weight: bold;
}

#userbox {
	font-size: 12px;
}

#userbox A {
	text-decoration: underline;
}

.userlink {
	text-decoration: none;
	color: #09f !important;
}

/* formularze */

LABEL {
	cursor: pointer;
	cursor: hand;
}



/* ALBUMY obrazki */
.albumThumbs IMG {
	border: 3px solid #444;
	margin: 0 3px 3px 0;
}

.albumThumbs A:hover IMG {
	border-color: #fd0;
}

.topthumb {
	width: 128px;
	height: 96px;
	vertical-align: top;
	margin: 0 5px 5px 0;
}

ol.topka img {
	width: 128px;
	height: 96px;
	vertical-align: top;
	margin: 0 5px 5px 5px;
}

/* numerki dla pagingu encyklopedii */
.navEnc {
	float: center;
	border: 1px solid #e8e8e8;
	background-color: #d0d0d0;
	text-align: center;
	color: black;
	padding: 5px;
	clear: both;
}
/* ULUBIONE CSSS */
.addfav {
	display: inline;
}

INPUT.shadow {
	background: transparent url(/images/tlo-input.gif) no-repeat top left;
}

#bar_back {
/* pasek podstepu*/
	background: #f0f0f0;
	border: 1px solid #e0e0e0;
	display: block;
	font-weight: bold;
	margin: 0 0 0 0;
	width: 100%;
}

#bar {
/* pasek podstepu*/
	background: url('orange.png') #ffcd00;
	border: 2px solid #FFD73E;
	text-align: left;
	color: black;
	font-weight: bold;
}

/* Nawigacja i stronicowanie */
#pagerNav {
	border: 0;
	text-align: center;
	clear: both;
	padding: 10px;
}

#pagerNav A, .square {
	padding: 2px 5px 2px 5px;
	height: 16px;
	border: 1px solid #c0c0c0;
	text-decoration: none;
	background-color: #fff;
	margin-right: 5px;
	width: 22px;
	font-size: 12px;
	font-family: Arial;
}

#pagerNav .highlight {
	padding: 2px 5px 2px 5px;
	font-weight: bold;
	margin-right: 5px;
	width: 22px;
	border: 1px solid #fdc000;
	background-color: #fdc000;
	color: white;
}

/* komentarze */
.commentHeader {
	border-bottom: 2px solid orange;
	background-color: #ffdc00;
	font-size: 20px;
	font-weight: bold;
	padding: 6px;
	text-align: left;
	margin: 5px 0 2px 0;
}

/* ok w komentarzach */
.commok {
	background: url(/images/ok_kom_bg.png);
	width: 19px;
	height: 37px;
	margin-top: 23px;
	float: right;
	text-align: center;
	font-size: 9px;
	margin-right: 5px;
	margin-left: 5px;
}

.commok A, .commok A:link {
	text-decoration: none;
	font-weight: bold !important;
	padding-top: 22px;
	display: block;
	line-height: 100%;
}

/* nie ok w komentarzach */

.commok2 {
	background: url(/images/ok_kom_bg2.png);
	width: 19px;
	height: 37px;
	margin-top: 23px;
	float: right;
	text-align: center;
	font-size: 9px;
}

.commok2 A, .commok2 A:link {
	text-decoration: none;
	font-weight: bold !important;
	padding-top: 22px;
	display: block;
	line-height: 100%;
}

#comments-show-all {
	margin: 20px;
}

#comments-show-all a {
	text-decoration: none;
	padding: 5px;
	border: 1px solid #ccc;
	color: #666;
}

#comments-show-more {
  margin: 15px 0 30px;
}

#comments-show-more a {
	text-decoration: none;
	padding: 5px;
	border: 1px solid #ccc;
	color: #666;
}

/* ok na forum */

.postok-action {
	float: left;
}

.postok-action A {
	font-weight: bold;
}

.favnum {
	display: inline;
}

.forum-reply-ok {
	float: right;
}

.forum-reply-ok A {
	text-decoration: none;
}

.postok {
	background: url(/images/ok_kom_bg.png);
	width: 40px;
	height: 20px;
	text-align: center;
	font-size: 9px;
	float: left;
	margin-top: 5px;
}

.postok A, .postok A:link {
	text-decoration: none;
	font-weight: bold !important;
	padding-left: 15px;
	display: block;
	padding-top: 1px;
}

.commentBox {
	padding: 5px 5px 10px 5px;
	text-align: left;
	background-color: #fdfdfd;
	width: 100%;
	position: relative;
	top: 5px;
}

.commentBox_reply {
	padding: 5px 5px 20px 87px;
	text-align: left;
	background-color: #fdfdfd;
	position: relative;
	top: 5px;
}

.commentBox_reply .commentBox {
	padding: 0px 0px 0px 0px;
	text-align: left;
	background-color: #fdfdfd;
	width: 100%;
	position: relative;
	top: 0px;
}

.best_comment {
	padding: 5px;
	text-align: left;
	background-color: #fdfdfd;
}

.unamelink {
	color: #333 !important;
	text-decoration: none;
	font-size: 12px;
}

.goodComment {
	background-color: #fefcdd;
}

.commentAvatar {
	width: 90px;
	height: 60px;
	float: left;
	display: table-cell;
	text-align: center;
}

.commentAvatar img {
	max-width: 90px;
}

.commentDesc {
	font-size: 14px;
	color: #444;
	padding: 2px;
	margin: 0 0 5px 90px;
	min-height: 30px;
	line-height: 150%;
}

.commentDesc span {
	display: block;
}

.expandText {
	cursor: pointer;
	font-size: 11px;
	line-height: 24px;
	color: hsla(204, 60%, 60%, 1);
	text-align: center;
	background: #e6e6e6;
}

.commentBoxHeader {
	font-size: 11px;
	color: gray;
	padding: 2px;
	margin: 0 0 5px 90px;
	border-bottom: 1px solid #e8e8e8;
}

.commentDesc :link, .commentDesc :visited {
	color: gray;
}

/*   wyswietlanie listy u?ytkownik?w, kt?rzy.... */

#userContainer {
	border: 1px solid #a0a0a0;
	padding: 10px;
	position: relative;
}

#userContainer H3 {
	margin-top: 0;
}

#userContainer .userBox {
	width: 90px;
	height: 80px;
	display: block-inline;
	float: left;
	margin: 2px;
	overflow: hidden;
	text-align: center;
	font-size: 11px;
}

/*  KLUB */
.teamMain {
	text-align: left;
	padding: 0 5px;
	margin-left: 220px;
	overflow: hidden;
	min-height: 540px;
}

.klub_th A,.klub_th A:link {
	text-decoration: none;
}

.klub_th TD {
	background-color: #c00;
	color: white;
	text-align: center;
}

.klub_tr TD {
	border-bottom: 1px solid #d0d0d0;
	text-align: center;
}

.klub_tr1 TD {
	border-bottom: 1px solid #d0d0d0;
	text-align: center;
}

.klub_tr2 TD {
	border-bottom: 1px solid #d0d0d0;
	background-color: #f0f0f0;
	text-align: center;
}

.klub_tr1 A, .klub_tr2 A {
	text-decoration: none;
}

.klubMenu {
	padding: 2px;
}

.teamHeader {
	font-size: 16px;
	display: block;
	padding: 10px 10px 3px 10px;
	color: #cc0000;
	overflow: hidden;
	background-color: transparent;
	background-image: url(/i/forum-topek.gif);
	background-repeat: no-repeat;
}

.teamBox {
	width: 175px;
	height: 200px;
	float: left;
	padding: 5px;
	margin: 5px;
	background: url(/i/team-bg.gif) no-repeat;
	font-size: 11px;
	text-align: center;
	overflow: hidden;
}

.teamBox160 {
	width: 160px;
	height: 200px;
	float: left;
	padding: 5px;
	margin: 5px;
	background: url(/i/team-bg2.gif) no-repeat;
	font-size: 11px;
	text-align: center;
	overflow: hidden;
}

.thumbContainer {
	height: 114px;
	width: 100%;
	overflow: hidden;
}

.thumbContainer IMG {
	padding: 5px;
	border: 1px solid #f0f0f0;
}

.leftTeam {
	width: 200px;
	position: absolute;
	overflow: hidden;
	left: 0;
}

.rightTeam {
	min-height: 1400px;
	margin-left: 220px;
}

#teamMenu {
	margin-bottom: 3px;
}

/*  SZAFFA */
.wtext {
	width: 350px;
}

.more {
	clear: both;
	text-align: right;
	font-size: 11px;
	height: 17px;
}

TD.more {
	border: 1px solid #ccc;
}

.more A {
	padding: 2px 12px;
	text-decoration: none;
}

.more A:hover {
	background-color: #fc0;
	color: #c00;
	text-decoration: none;
}

.szafaAlbum {
	background: url(/images/szafa-album-bg.gif) center top no-repeat;
	padding: 17px 13px;
	height: 155px;
	font-size: 12px;
	overflow: hidden;
}

/* mini admin menu */
.miniAdminMenu {
	position: absolute;
	right: 10%;
	top: 0;
	font-size: 11px;
	width: 45px;
	background-color: #ccc;
	color: white;
}

.miniAdminMenu SPAN {
	display: none;
	position: absolute;
	left: 0px;
	top: 13px;
	padding: 5px;
	white-space: nowrap;
	text-align: left;
}

.miniAdminMenu SPAN A {
	color: white;
	margin-bottom: 5px;
	text-decoration: none;
}

.miniAdminMenu SPAN A:hover {
	text-decoration: underline;
	color: white;
}

.iehover SPAN {
	display: block;
	background-color: #cc0000;
}


/* MENU ADMINISTRACYJNE USERA */

#szaffaMenu {
	line-height: 27px;
	overflow: hidden;
}

#szaffaMenu UL {
	margin: 0;
	margin-left: -25px;
	padding-top: 3px;
}

#szaffaMenu LI {
	display: inline;
	list-style-type: none;
}

#szaffaMenu LI A {
	float: left;
	padding-right: 8px;
	color: #777;
	text-decoration: none;
}

#szaffaMenu LI SPAN {
	float: left;
	color: orange;
	margin-right: 8px;
}

#szaffaMenu LI A IMG {
	vertical-align: top;
	padding: 5px 2px 5px 5px;
}

#szaffaMenu LI A:hover {
	color: black;
}


/* Poprawka na max-width:dla IE*/
.szBox {
	float: left;
	max-width: 156px;
	height: 140px;
	overflow: hidden;
}

.szBox A {
	text-decoration: none;
	font-weight: bold;
	color: #c00;
}

.thBox {
	float: left;
	margin: 2px;
	overflow: hidden;
}

.szBox img {
	border-color: black;
	border: 1px solid #777;
}

.imprezaBox {
	width: 175px;
	height: 210px;
	float: left;
	padding: 5px;
	margin: 5px;
	font-size: 11px;
	overflow: hidden;
	background: url(http://joemonster.org/images/imp-bg.gif) left top no-repeat;
}

.imprezaBox A {
	text-decoration: none;
	font-weight: bold;
	color: #c00;
}

.imprezaMain {
	width: auto;
	margin: 0 20px;
	font-size: 14px;
	font-family: tahoma;
	line-height: 150%;
	min-height: 650px;
	margin-right: 220px;
}

.imprezaMain .fieldset {
	background-color:#c00;
	color:white;
	padding:5px;
}
.imprezaMain .fieldset A {
	color:white;
}
.imprezaMain .legend {
	background-color:#a00;
	padding:5px;
	color:white;
}
.imprezaMain .main input#Submit_file0 {
	font-size:14px;
	padding:2px;
	margin:5px;
}
.imprezaMain .main textarea {
	width:500px
}
.imprezaMain .filesThumbs.small {
	padding:10px 5px;
}
.imprezaMain .filesThumbs textarea {
	width:700px;
	height:150px;
}
.imprezaMain img {
	max-width: 100%;
}
.imprezaLeft {
	width: 200px;
	position: absolute;
	overflow: hidden;
	right: 0;
}

#older_files IMG {
	padding: 2px;
}

#fileFile IMG {
	padding: 3px;
	border: 1px solid #ddd;
	max-width: 100%;
}

.szafaFile {
	padding: 12px;
}

/* Edycja profilu i admina */

.adminEdit, A.adminEdit, .adminEdit A, .adminEdit A:link {
	color: red;
	font-weight: bold;
	font-family: verdana;
	font-size: 9px;
}

.editTitle {
	width: 220px;
	padding: 2px 20px;
	border: 1px solid gray;
	margin-bottom: 2px;
	background-color: #fc0;
	padding: 2px 20px;
	color: black;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	cursor: hand;
}

DIV.editTitle:hover {
	background-color: #fd3;
}

.active {
	background: url(/images/icons/acc_right.gif) no-repeat right #fd3;
}

.editContent {
	border: 1px solid #fc0;
	margin-bottom: 2px;
	position: absolute;
	width: 670px;
	left: 230px;
	top: 0px;
	display: none;
	background-color: white;
}

#accordionList {
	position: relative;
	height: 920px;
}

.saver {
	margin: 10px;
	text-align: right;
}


/* ogolne skracacze*/
div.fl {
	float: left;
}

div.fc {
	float: center;
}

div.fr {
	float: right;
}

/* userMenu */
#userMenu A {
	text-decoration: none;
	white-space: nowrap;
	color: black;
}

#userMenu A:hover {
	text-decoration: underline;
	color: #cc0000;
}

/* głowna */

.retroArt .title, .retroArt .title:hover {
	color: gray;
}

.retroArt  A.topicLink, .retroArt  .s, .retroArt  .s A {
	color: gray;
}

.retroArt {
	padding: 5px;
	overflow: hidden;
	background-color: #f8f8f8;
	background: url(http://joemonster.org/i/ac/old-paper.jpg) #faf4e6;
}

/***  idTabs ***/

.idTabs {
	padding: 0;
	margin: 0;
	list-style-type: none;
	width: 100%;
	overflow: hidden;
	font-size: 12px;
}

.idTabs LI {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.idTabs LI A.selected {
	padding: 0;
	margin: 0;
	border: 0;
}

.selected {
	border: 0;
}

.idTabs LI {
	float: left;
	margin-right: 1px;
	padding: 0;
}

.idTabs LI A {
	line-height: 27px;
	display: block;
	margin: 0;
	border: 0;
	padding: 0 10px;
	-moz-outline: none;
}

.idTabs LI A.selected {
	line-height: 27px;
	margin: 0;
	padding: 0 10px;
	background: #ffc200;
}

.idTabs A, .idTabs A:link {
	text-decoration: none;
}

.idTabs A:hover, .idTabs A.selected {
	text-decoration: none;
}

div[id^=tab-a] A {
	margin-left: 55px;
	display: block;
	line-height: 130%;
}

.hidden {
	display: none;
}
/*  NOWE MENU */

#menuJM2 {
	width: 100%;
	height: 47px;
	background: url('/images/bg-yellow3.gif') repeat-x #ffdc00;
	border-top: 2px solid #FFED86;
	border-bottom: 1px solid #c00;
	position: relative;
	/*overflow: hidden;*/
}
/* pierwszy poziom */
#menuJM2 A.men:hover {
	background: transparent;
	color: white;
}

#menuJM2 LI {
	background: url(http://joemonster.org/images/jmMenuBG1.gif) repeat-x;
}

#menuJM2 A.men {
	text-decoration: none;
	font-weight: bold;
	background: url(http://joemonster.org/images/jmMenuBG3.gif) right top repeat-x;
	color: #666;
}

#menuJM2 LI.menuJMSelected A.men,
.iehover A.men,
.menuJMSelected A.men {
	background: transparent;
	color: white;
	text-shadow: 1px 1px #A00;
}

#menuJM2 .menuJMSelected UL {
	z-index: 1;
}

#menuJM2 .menuJMunselected UL {
	z-index: 2;
}

.iehover {
	display: block;
}

#menuJM2 UL.mainMenu {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#menuJM2 LI {
	float: left;
	list-style-type: none;
	margin: 0;
}

#menuJM2 LI A.men {
	display: block;
	font-size: 14px;
	letter-spacing: -1px;
	padding: 5px 12px 4px;
}

/* drugi poziom */
#menuJM2 UL UL {
	margin: 0 10px;
	padding: 0;
	position: absolute;
	z-index: 3;
	left: 0px;
	top: 25px;
	text-align: center;
	height: 19px;
	display: none;
	list-style-type: none;
	background: url(/images/jmMenuBG2a.gif) repeat-x;
}

#menuJM2 UL UL LI {
	display: inline;
	font-weight: bold;
	height: 17px;
	margin: 0;
	background: url(/images/jmMenuBG2.gif) top right no-repeat;
}

#menuJM2 UL UL LI A {
	font-size: 12px;
	display: block;
	color: #eee;
	text-shadow: 1px 1px #c00;
	letter-spacing: 0;
	padding: 2px 6px;
	text-decoration: none;
	white-space: nowrap;
}

.menuJMSelected LI A.men ,
#menuJM2 LI.iehover A.men {
	background: transparent;
	color: #fff;
	text-shadow: 1px 1px #A00;
}

#menuJM2 UL UL LI A:hover {
	color: #fff;
}

#menuJM2 UL LI.ieHover UL,
#menuJM2 LI A.men:hover UL,
#menuJM2 UL LI:hover UL,
#menuJM2 UL LI.menuJMSelected UL {
	display: block;
}

#menuJM2 UL LI.menuJMSelected UL {
	display: block;
}

#polecMenu {
	position: absolute;
	width: 110px;
	z-index: 5;
	padding: 5px;
	right: 0;
	font: bold 14px Arial;
}

#polecMenu UL {
	position: absolute;
	text-align: left;
	left: 0;
	top: 20px;
	display: none;
	border: 1px solid black;
	border-width: 0 1px 1px 0;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#polecMenu UL LI {
	float: none;
	width: 126px;
	border: 1px solid black;
	border-width: 1px 0 0 1px;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#polecMenu UL LI A {
	display: block;
	font: normal 11px arial;
	color: black;
	width: 126px;
	padding: 3px;
	background: url(/images/jmMenuBG3.gif) white;
	text-decoration: none;
}

#polecMenu UL LI A:hover {
	background-color: #ccc;
	color: red;
}

#polecMenu:hover, #polecMenu.iehover  UL {
	display: block;
}


/* stary skoczek */

DIV#skoczek {
	position: relative;
	width: 160px;
	line-height: 16px;
	z-index: 20;
}

#skoczek ul {
	width: 484px;
	display: none;
	position: absolute;
	right: 0px;
	top: 18px;
	margin: 0;
	padding: 0;
	border: 1px solid black;
	border-width: 1px 3px 3px 1px;
	border-color: #ccc #888 #888 #ccc;
	background: white;
}

#skoczek:hover ul, #skoczek.iesux ul {
	display: block;
}

#skoczek li {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	text-align: left;
	font-weight: bold;
}

#skoczek A {
	font: bold 11px arial;
	display: block;
	height: 20px;
	width: 160px;
	overflow: hidden;
	padding: 3px 5px;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #eee;
	color: black;
	text-decoration: none;
}

#skoczek a:hover {
	background: #FFCC00;
}

#skoczek .kreska {
	border-bottom: 1px solid #808080;
}/* MODEL BOX */


.mtvHome {
	position: relative;
	height: 100px;
	margin: 0;
	padding: 0;
}

.mtvIMG {
	margin: 0 auto;
	height: 100px;
	overflow: hidden;
	z-index: 1;
	display: block;
	position: relative;
}

.mtvHome img {
	position: absolute;
	z-index: 1;
	width: 100%;
	min-width: 180px;
	top: 0;
	height: auto;
	left: 0;
}

.mtvHome a {
	padding: 0;
	margin: 0;
	width: auto;
	height: auto;
}

.mtvHome a:hover {
	text-decoration: none;
	color: black;
}

.mtvHomeTitle {
	margin-bottom: 10px;
}

.mtvHomeTitle a {
	background: #222;
	color: white;
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
	display: block;
}

.mtvIMG:hover {
	opacity: 0.9;
}

.separator {
	margin: 0 auto;
	height: 10px;
	width: 188px;
}

.mtv-cannot-play {
	color: #aaa;
	font-size: 35px;
	margin: 100px auto;
}

/* mtv kategoria*/

.mtvKategoria {
	width: 185px;
	height: 175px;
	overflow: hidden;
	text-align: center;
	float: left;
}

.mtvNextMovieBox {
	overflow: hidden;
	margin: 0 2px 20px 0;
	text-align: left;
	font-size: 14px;
	padding: 5px 0 10px 10px;
}
.mtv-autoplay {
	overflow: hidden;
	margin: 0 5px -5px 0;
}
.mtv-autoplay .mtv-autoplay-switch {
	float: right;
	margin-left: 5px;
	cursor: pointer;
}
.mtv-autoplay .mtv-autoplay-label {
	color: #999;
	display: inline-block;
	margin-top: 1px;
	float: right;
}

.mtvTopLista {
	float: left;
	width: 300px;
	overflow: hidden;
    margin: 5px 0 10px 0;
	text-align: left;
	font-size: 14px;
}

.mtvTopLista img, .mtvNextMovieBox img {
    width: 110px;
    margin-right: 5px;
    float: left;
}
/* nowy skoczek */

#menuContainer {
	z-index: 10;
	margin-bottom: 10px;
}

#skoczekMenu {
	z-index: 20;
	top: 26px;
	position: absolute;
	right: 0;
	display: none;
}

#skoczekMenu ul {
	margin: 0;
	padding: 0;
	border-color: #ccc #888 #888 #ccc;
	border: 1px solid black;
	border-width: 1px 3px 3px 1px;
	width: 854px;
	height: 149px;
	list-style-type: none;
	background: #fff;
}

#skoczekMenu  UL LI {
	list-style-type: none;
	margin: 0;
	float: left;
}

#skoczekMenu A {
	display: block;
	text-align: left;
	overflow: hidden;
	width: 170px;
	height: 29px;
	padding: 7px;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #eee;
	color: #444;
	overflow: hidden;
	font: bold 15px arial;
	text-decoration: none;
	background: url(/images/blank.gif) white;
}

#skoczekMenu A:hover {
	background: #FFCC00;
}


/*   Style forumowe    */

#main_forum {
	width: 735px;
	margin: 0 8px;
	text-align: left;
	background: #fff;
}

.postHeader, .postContent {
	font-family: Tahoma, Verdana,Helvetica;
	font-size: 12px;
	line-height: 150%;
	clear: both;
}

.postContent {
	line-height: 170%;
}

.postBox {
	text-align: left;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 9pt;
	line-height: 150%;
	clear: both;
	padding: 5px;
}

#main_forum TEXTAREA {
	font-family: Verdana,  Arial, Helvetica;
	font-size: 10pt;
	width: 500px;
}

.forum_title {
	font-family: "Trebuchet MS", Verdana, Geneva, Arial, sans-serif;
	font-size: 18px;
}

.forum {
	font-family: Tahoma,  Arial, Helvetica;
	font-size: medium;
}

.forum_reply, .forum_reply A, .forum_reply A:link {
	font-family: verdana;
	font-size: 10px;
	color: #555;
	line-height: 140%;
}

.forum_reply A, .forum_reply A:link {
	text-decoration: underline;
}

.sygnaturka {
	max-height: 73px;
	overflow: hidden;
	display: block;
	color: gray;
}

#main_forum .nav A, #main_forum .nav A:link {
	text-decoration: none;
}

#main_forum .nav A:hover {
	text-decoration: underline;
}

#forum_list A,#forum_list A:link {
	text-decoration: none;
}

#forum_list A:hover {
	text-decoration: underline;
}

#forum_list span.thread-closed {
	text-shadow: 1px 2px #ddd;
	margin-right: 4px;
}

html>body #forum_list TD {
	border-bottom: 1px dotted #ccc;
}

TR.przyklejon TD {
	font-weight: bold;
	font-size: 10pt;
}

#skoczek {
	position: relative;
}

#personalizujFora {
	text-align: left;
	background-color: #fff;
	border: 1px solid #ddd;
	border-top: 0;
	overflow: hidden;
}

#personalizujFora UL {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#personalizujFora LI {
	border: 1px solid white;
}

#personalizujFora LI SPAN {
	display: block;
	padding: 2px 2px 2px 10px;
	border-bottom: 1px solid #ddd;
	text-decoration: none;
}

#personalizujFora LI SPAN:hover {
	background-color: #f0f0f0;
}

#forumFora {
	text-align: left;
	background-color: #fff;
	border: 1px solid #ddd;
	border-top: 0;
	overflow: hidden;
}

#forumBestTopics {
	border: 0;
	text-align: left;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}

#forumRight {
	position: absolute;
	width: 200px;
	text-align: left;
	padding-top: 2px;
	margin: 0 2px;
	right: 0px;
	top: 0px;
}

#forumLeft {
	width: auto;
	overflow: hidden;
	margin-right: 220px;
	min-height: 1330px;
}

forumLeft #editor {
	width: 100%;
	background: rgba(255,255,255,0.5);
	border: 1px solid #eee;
}

.forumMenu {
	text-align: right;
	margin: 5px;
}

.forumMenu a {
	text-decoration: none;
	color: #555;
}

#phorum-feed IMG {
	height: auto;
	max-width: 600px;
}

#phorum-feed .phorum-post-title {
	max-width: 350px;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
}

.feed-reply {
	margin: 5px 0;
	display: block;
	font-size: 12px;
}

.feed-post {
	width: 630px;
	max-height: 800px;
	overflow: hidden;
	margin-bottom: 20px;
	position: relative;
}

#forumFora UL, #forumBestTopics ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#forumBestTopics ul {
	list-style-type: square;
	list-style-position: inside;
}

#forumFora LI {
	border: 1px solid white;
}

#forumFora LI A {
	display: block;
	padding: 2px 2px 2px 10px;
	border-bottom: 1px solid #ddd;
	text-decoration: none;
}

#forumBestTopics li a {
	border-bottom: 1px solid #ddd;
	padding: 4px 2px 4px 2px;
	text-decoration: none;
	display: block;
}

#forumFora LI A:hover, #forumBestTopics li a:hover {
	background-color: #f0f0f0;
}

.forumBoxHeader {
	font-size: 16px;
	display: block;
	padding: 9px 0 3px 12px;
	color: #cc0000;
	border-bottom: 1px solid #ddd;
	font-weight: bold;
	border-radius: 5px 5px 0 0;
	background: url(/i/forum-topek.gif) no-repeat;
	min-height: 33px;
}

.forumBoxHeader A, .forumBoxHeader A:link {
	color: #cc0000;
	text-decoration: none;
}

.forumBoxHeader A:hover {
	border-bottom: 1px dotted #cc0000;
}

.forumBox, .postBox,.postHeader,.postContent {
	overflow: hidden;
	clear: none;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 13px;
}

.forumBox {
	font-family: Arial;
	font-size: 12px;
	padding: 5px 0 0 5px;
}

.nav a {
	text-decoration: none;
}

.nav a:hover {
	text-decoration: underline;
}

.nav,.nav A.nav:link, A:active.nav, A.nav:visited {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

.nav A:hover {
	text-decoration: underline;
}

.fbread {
	text-align: left;
	padding: 2px 5px;
	font-weight: bold;
}

.fbread A {
	text-decoration: none;
}

.forum_reply, .forum_reply A, .forum_reply A:link {
	font-size: 10px !important;
	color: #888;
}

/* forum bojownik, forum data i odp. i subject*/
.fb {
	font-size: 13px;
}

.fd {
	color: #888;
	font-size: 10px;
}

.fs, .fs A {
}

A:link.fl,.fl {
	font-size: 12px !important;
	font-weight: bold;
	line-height: 12px;
	height: 12px;
}
/* fl = last post*/

.przyklejon .fs {
	font-size: 12px !important;
}


/* Profil usera */

#profilMain {
	min-height: 610px;
	margin-left: 10px;
	background: #fff;
	margin-top: 6px;
	margin-right: 320px;
}

.profilLeft {
	line-height: 150%;
	padding: 5px;
	overflow: hidden;
}

.profilLeft dl {
	display: inline-block;
	width: 100%;
}

.profilLeft dt {
	float: left;
	clear: both;
	font-weight: bold;
}

.profilLeft dt:after {
	content: ":";
}

.profilLeft dd {
	float: left;
	margin: 0 0 0 0.4em;
}

#profilMain LI {
	list-style-type: none;
	margin-bottom: 2px;
	margin-left: -35px;
}

#profilColumn {
	width: 310px;
	position: absolute;
	right: 10px;
	background: #fff;
	margin-top: 5px;
	top: 0;
}

.nickibig {
	font-size: 28px;
	text-decoration: none;
	margin: 5px 0 10px;
	display: block;
	text-shadow: 0 0 3px rgba(0,0,0,.8);
}

#profil LI {
	list-style-type: none;
	margin-bottom: 2px;
}

a.remove {
	opacity: 0.8;
	background-color: red;
	font-weight: bold;
	color: white;
	position: absolute;
	display: block;
	min-width: 15px;
	min-height: 17px;
	right: 5px;
	bottom: 5px;
	cursor: pointer;
	text-align: center;
}

.profilePhoto128 {
	width: 128px;
	text-align: center;
	margin: 0 auto;
}

.subhead, TD.subhead {
	background-color: #f00;
}
/* admin */
.smallButton {
	padding: 0;
	margin-left: 10px;
	font-size: 10px;
}

.adinputy INPUT {
	padding: 2px;
	font-size: 11px;
	width: 200px;
}

/* Lajt box JQUERY*/

#lightbox {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
}

#lightbox a img {
	border: none;
}

#outerImageContainer {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}

#imageContainer {
	padding: 10px;
}

#loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}

#hoverNav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}

#imageContainer>#hoverNav {
	left: 0;
}

#hoverNav a {
	outline: none;
}

#prevLink, #nextLink {
	width: 49%;
	height: 100%;
	background: transparent url(/images/blank.gif) no-repeat;
	/* Trick IE into showing hover */
	display: block;
}

#prevLink {
	left: 0;
	float: left;
}

#nextLink {
	right: 0;
	float: right;
}

#prevLink:hover, #prevLink:visited:hover {
	background: url(http://joemonster.org/images/lightbox-btn-prev.gif) left 15% no-repeat;
}

#nextLink:hover, #nextLink:visited:hover {
	background: url(http://joemonster.org/images/lightbox-btn-next.gif) right 15% no-repeat;
}

#imageDataContainer {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
}

#imageData {
	padding: 0 10px;
	color: #666;
}

#imageData #imageDetails {
	width: 70%;
	float: left;
	text-align: left;
}

#imageData #caption {
	font-weight: bold;
}

#imageData #numberDisplay {
	display: block;
	clear: left;
	padding-bottom: 1.0em;
}

#imageData #bottomNavClose {
	width: 66px;
	float: right;
	margin: 1.0em;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
	background-color: #000;
}

/* tabele z danymi */
.lsth TD {
	font-weight: bold;
	background-color: #000080;
	padding: 5px;
	color: white;
}

.lstd TD,.lstd2 TD {
	font-size: 11px;
	border-bottom: 1px solid #ccc;
}

.lstd TD A,.lstd2 TD A {
	text-decoration: none;
}

.lstd TD.tit {
	font-size: 12px;
}

.lstd2 TD {
	opacity: 0.2;
}

.lstt {
	border: 1px solid #bbb;
	margin-left: 50px;
}


/* kalendarz i inne edycje */
.calendar {
	background: url(http://joemonster.org/images/icons/calendar_view_month.png) no-repeat 5px;
	width: 120px;
	padding-left: 25px;
}

.calendar_time {
	background: url(http://joemonster.org/images/icons/time.png) no-repeat 5px;
	width: 75px;
	padding-left: 25px;
}



/* Podoba mi się - nowy boksik  - wycentrowany */
.podoba {
	background: url(/images/podoba-bg.gif) no-repeat;
	width: 156px;
	height: 60px;
	position: relative;
	margin: 5px auto;
}

.podoba #glosow {
	font: bold 28px arial;
	position: absolute;
	left: 66px;
	bottom: 12px;
	width: 60px;
	text-align: center;
}

.podoba #link SPAN {
	font: bold 12px arial;
	position: absolute;
	left: 56px;
	top: 42px;
	width: 86px;
	height: 19px;
	text-align: center;
}

.podoba #link A {
	color: #0059fd;
	text-decoration: none;
	width: 150px;
	left: 0;
	top: 0;
	position: absolute;
	cursor: pointer;
	cursor: hand;
}

.podoba #link A:hover {
	color: #f00;
	text-decoration: underline;
	background: url(/images/podoba-over.gif) 10px 5px no-repeat;
}


/* Podoba mi się - nowy boksik  MAŁY Z OPCJ. GŁOSOWANIA */
#podoba2 {
	background: url(http://joemonster.org/images/ok-poczek.gif) no-repeat;
	width: 35px;
	height: 70px;
	position: relative;
	margin: 5px auto;
	float: left;
}

#podoba2 #glosow {
	font: bold 14px arial;
	position: absolute;
	left: 0;
	top: 37px;
	width: 35px;
	text-align: center;
}

#podoba2 #link SPAN {
	font: bold 9px verdana;
	position: absolute;
	left: 0;
	top: 40px;
	width: 35px;
	text-align: center;
}

#podoba2 #link A {
	color: #0059fd;
	text-decoration: none;
	width: 35px;
	left: 0;
	top: 20px;
	position: absolute;
	font-size: 5px;
	cursor: pointer;
	cursor: hand;
}

#podoba2 #link A:hover {
	color: #f00;
	text-decoration: underline;
}


/* boks reklamowy */
#sponsorowane-glowna .BoxTitle {
	background: transparent;
	border-color: #ccc;
	background-color: #ccc! important;
}

#sponsorowane-glowna .BoxContent {
	background-color: white !important;
}

/* jqModal base Styling courtesy of;
	Brice Burgess <bhb@iceburg.net> */

.jqmWindow {
	display: none;
	position: fixed;
	top: 12%;
	left: 50%;
	margin-left: -300px;
	width: 700px;
	background-color: #EEE;
	color: #333;
	border: 1px solid black;
	padding: 12px;
	z-index: 200 !important;
}

.jqmOverlay {
	background-color: #000;
	z-index: 199 !important;
}

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

/* Fixed posistioning emulation for IE6
Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
	position: absolute;
}

/* ze starego pliku file960.css - teraz 1 request mniej */

#mainFileBody {
	clear: both;
	margin: 0 auto;
	text-align: left;
	font: normal 10pt Georgia;
	line-height: 150%;
}

#fileMenu {
	margin: 5px;
}

#rightFileMenu {
	width: 250px;
	float: right;
}

#title {
	clear: right;
	width: 100%;
	font: 20pt bold Georgia;
}
/* fieldsety w menu */
FIELDSET {
	border: 1px solid #d0d0d0;
	padding: 10px 15px;
}

FIELDSET UL, FIELDSET OL {
	margin-top: 3px;
	margin-bottom: 10px;
}

FIELDSET LI {
	margin-bottom: 5px;
}

IMG {
	border-color: black;
}

A.edit {
	font: bold 9px verdana;
	color: #cc0000;
}

#menuFile {
	clear: right;
	padding: 4px;
}

#albumTitle {
	font: bold 9pt georgia;
	margin: 5px 50px;
}

#thumbnailsContainer {
	padding: 2px;
	border: 1px solid gray;
}

#rightFileColumn {
	width: 300px;
	position: absolute;
	margin-right: 5px;
	right: 0;
	top: 32px;
}


/* menu pic sizes */
DIV.SZmenu {
	position: relative;
	z-index: 100;
}

.SZmenu UL LI A {
	font: normal 9px verdana;
}

.SZmenu ul {
	display: none;
	position: absolute;
	left: 12px;
	top: 14px;
	margin: 0;
	padding: 0;
	border: 1px solid gray;
}

.iesux ul {
	display: block;
	background-color: white;
}

.SZmenu li {
	list-style: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #f8f8f8;
	text-align: left;
	clear: both;
}

.SZmenu ul li a {
	display: block;
	padding: 5px 6px;
	color: gray;
	text-decoration: none;
	width: 80px;
}

.SZmenu ul li a:hover {
	background: #ffcd00;
	color: black;
}

.SZmenuSzerokie ul li A {
	width: 250px;
}

#fileFooter {
	clear: both;
	width: 50%;
	border-top: 2px solid #444;
	padding: 4px 0;
	text-align: center;
}

.inside {
	margin: 10px;
}

.tagsList {
	margin-left: 10px;
}

/* UPLOADER SPECYFICZNE */

#generation_status {
	width: 100%;
	display: none;
	min-height: 132px;
}

#form_div {
	width: 100%;
}

#form_div FORM {
	margin: 0;
}

#container {
	width: 100%;
	text-align: center;
	padding: 20px;
	display: none;
	clear: both;
}

#failed_status {
	display: none;
	text-align: center;
}

#failed_status FIELDSET {
	padding: 10px;
}

#ok_status {
	text-align: center;
	display: none;
}

#ok_status FIELDSET {
	border: 1px solid gray;
	padding: 10px;
	text-align: center;
}

.ficon {
	margin-right: 2px;
}

.systemMessage, #systemMessage {
	clear: both;
	margin: 10px;
	padding: 0 5px 7px 5px;
	background-color: white;
}

.systemMessage, #systemMessage h2 {
	color: #666;
}

/* STRONY Z MINIATURKAMI*/

.filesTitle {
	font: 18pt bold italic;
	font-family: Arial;
	margin: 10px 50px 0px 10px;
	clear: both;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.filesSectionTitle {
	background: #ffcd00;
	font: bold 10pt Arial;
	color: #444;
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	border-bottom: 2px solid #f01400;
	text-align: left;
	clear: both;
}

.filesSectionTitle A {
	float: right;
	font-size: 11px;
	font-weight: bold;
	margin: 2px 5px;
	display: block;
}

/* nowy wygl?d wy?wietlania albumu */
#albumThumbs IMG {
	border: 3px solid #444;
	margin: 0 3px 3px 0;
}

#albumThumbs IMG.thumbCur {
	border-color: #fd0;
}

div#leftScroll {
	float: left;
	width: 36px;
	background: #f0f0f0;
	text-align: center;
	height: 200px;
}

div#rightScroll {
	float: left;
	width: 36px;
	background: #f0f0f0;
	text-align: center;
	height: 200px;
}

.filesThumbs {
	text-align: center;
	padding: 0 0 10px 0;
	overflow: hidden;
}

.page-szaffa-home .filesThumbs {
	height: 115px;
}

.filesThumbs TD {
	vertical-align: top;
	text-align: center;
}

.filesDescription {
	margin: 5px 50px;
	clear: both;
}

.thumb30 {
	display: inline;
}

A.thumbCur IMG {
	border-color: #fc0;
}

/* STRONA z opisem uploadów */
.extended {
	display: none;
}

DIV.extended DIV.inputy {
	display: inline;
}

DIV.inputy {
	margin-left: 200px;
}

/*.threepxfix class below:
Targets IE6- ONLY. Adds 3 pixel indent for multi-line form contents.
to account for 3 pixel bug: http://www.positioniseverything.net/explorer/threepxtest.html
*/
* html .threepxfix {
	margin-left: 3px;
}

FORM DIV.thumb {
	float: left;
}

A.abutton {
	padding: 2px 5px;
	margin: 2px;
	background: url(http://joemonster.org/images/gradbut.png);
	border: 1px solid #eee;
	border-color: #eee #ccc #aaa #eee;
	font-size: 11px;
	text-decoration: none;
}

A.abutton A:hover {
	border-color: #fdc000;
}

/*CZESKI*/
.pmessages {
	width: 100%;
}

A.redaktor {
	color: green;
}

.demotivator td {
	padding-left: 3px;
}

.pmessages_header {
	background: #ffdc00;
	color: #000;
	text-align: center;
	font-weight: bold;
}

div .message_layout {
	width: 100%;
	border: 1px solid gray;
	margin-bottom: 5px;
	padding-right: 5px;
}

div .message_content {
	float: left;
}

div .message_buttons {
	float: right;
	margin-right: 25px;
}

#reply_pm_form {
	padding-left: 130px;
	max-width: 900px;
	margin: 0 auto;
}

.pm_reply_text {
	width: 100%;
	height: 200px;
}

.pm_blink {
	text-decoration: blink !important;
	color: red;
}

#threads_nav {
	float: right;
	display: none;
}

.thread_nav_txt {
	color: #eee !important;
	cursor: text;
}

.thread_nav_txt:hover {
	color: #eee;
	cursor: text;
}

.calendar {
	padding-right: 5px;
}

.left_column {
	width: 130px;
	text-align: right;
	vertical-align: top;
}

.hidden_bar {
	width: 100%;
	height: 30px;
	background: #212121;
	margin-bottom: 5px;
}

.hidden_bar_reply {
	width: 670px;
	margin-left: 80px;
}

.hidden_bar_text {
	padding: 6px;
	color: #888888;
	font-size: 11px;
}

.pmessages_list td {
	border-bottom: 1px solid #f0f0f0;
	padding: 2px;
}

.calendar_new {
	margin-right: 5px;
}

#user_favourites img {
	width: 30px;
	height: 30px;
}

.socialContainer {
	position: relative;
	margin-bottom: 15px;
	overflow: hidden;
}

#sprytad {
	color: white;
	font: bold 10px Arial;
	margin-left: -3px;
	padding: 2px 5px;
	width: 188px;
	position: absolute;
	z-index: 100;
	opacity: 0.2;
}

#mgpromo {
	text-align: center;
	padding: 5px;
	background: red url("/images/bg-red.gif") bottom repeat-x;
	color: yellow;
}

#skyLeft.off-screen,  #skyRight.off-screen {
	position: absolute;
	top: 20px;
	margin-top: 0;
}

.page-monstertv-video .sky-wrapper,
.page-games-single .sky-wrapper {
	float: left;
	height: auto;

	/* nadpisuję regułę z ogólnego .sky-wrapper */
	margin-left: 0;
	margin-top: 0;
}

.page-monstertv-video .sky-wrapper > .wrapper,
.page-games-single .sky-wrapper > .wrapper {
	float: left;
}

.mg_skyWrapper {
	float: left;
	height: 1px;
}

.mg_skyWrapper > .wrapper {
	float: left;
}

#skyLeft, #skyRight {
	/*	top: 20px;*/
	width: 160px;
	height: 600px;
	position: absolute;
	display: block;
	float: left;
}

#skyRight {
	right: 50%;
	margin-right: -685px;
}

#skyLeft {
	left: 50%;
	margin-left: -685px;
}

.page-monstertv-video .sky.left,
.page-games-single .sky.left {
	margin-left: -225px;
}

#skyRightStatic {
	margin-right: 225px;
}

.mg_skyWrapper #skyLeft {
	top: 110px;
	position: fixed;
	margin-left: -565px;
}

.mg_skyWrapper #skyRight {
	top: 20px !important;
	position: absolute !important;
	margin-right: -565px;
}

.sky-wrapper {
	margin-left: 49px;
	margin-top: 800px;
}

#bigSkyAd {
	margin: 25px 0 0 5px;
}

#main_glowna IMG, .redactor_editor IMG {
	max-width: 100%;
	height: auto;
}

.dblrect {
	margin-left: 2px;
	margin-top: 15px;
}
.onerect {
	width: 48%;
	display: inline-block;
}

/*    WIDE ARTICLE - 920px! */

.wide-article {
	position: relative;
}

.wide-article #main_article {
	width: 940px !important;
	margin: 0 30px;
}

.wide-article #prawa_glowna {
	position: absolute;
	right: 0;
	display: none;
}

.wide-article #prawa_glowna iframe {
	background: white;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.wide-article fieldset {
	max-width: 645px;
	margin: 0 auto;
}

.fbframe {
	margin: 20px auto;
	width: 620px;
}

.prawa-wlacz {
	position: absolute;
	right: 10px;
	top: 30px;
	cursor: pointer;
	display: none;
}

.wide-article .prawa-wlacz {
	display: block;
}

.wide-article #main_article .art-wrapper .next_box_art:nth-of-type(1) {
	top: -10px;
}

/* nowa poczekalnia MTV*/
a.titulo {
	display: block;
	height: 136px;
	overflow: hidden;
	position: relative;
	border: 1px solid #333;
}

a.titulo img {
	width: 100%;
	height: auto;
	display: block;
}

a.titulo h2 {
	position: absolute;
	bottom: 0;
	left: -39px;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.8);
	padding: 2px 7px;
	color: white;
	width: 100%;
	font-size: 14px;
}

a.titulo:hover img {
	opacity: 0.9;
}


/* nowy widok główny MTV */

.mtv-row {
	margin-top: 20px;
	overflow: hidden;
}

.mtv-thumb {
	width: 265px;
	position: absolute;
	overflow: hidden;
	max-height: 200px;
}

.mtv-thumb img {
	width: 100%;
}

.mtv-thumb-img {
	max-height: 170px;
	overflow: hidden;
	border: 1px solid black;
}

.mtv-thumb-img img {
	border: 0
}

.mtv-desc {
	padding-left: 280px;
	overflow: hidden;
	min-height: 160px;
}

.mtv-desc-text  {
	padding-bottom: 5px;
	font-size: 16px;
	line-height: 130%;
	max-height: 101px;
	overflow: hidden;
	color: #333;
}

.mtv-thumb A:hover img {
	opacity: 0.9;
}

#mtv-poczekalnia-header {
	background: #E6E4F7;
	margin-bottom: 10px;
	padding: 5px;
	color: #888;
}

#mtv-poczekalnia-header SPAN {
	color: #666;
}

#mtv-poczekalnia-container {
	overflow: hidden;
	margin-left: 15px;
}

.wide-article #arcik img:not(.width-set) {
	max-width: 936px;
	height: auto;
}

.width-set {
	display: inline-block;
}

.width-already-set {
	display: inline-block;
}

#arcik.wideArticle  img {
	max-width: 958px !important;
	height: auto;
}

#arcik img {
	max-width: 98% !important;
	height: auto;
}

#arcik img:not(.width-set) {
	max-width: 620px;
	height: auto;
}

.wide-article .art-wrapper, .wide-article #main_article #commentsFormContainer {
	padding-right: 0;
}

.art-wrapper, #main_article #commentsFormContainer {
	padding-right: 330px;
}

#fileFile {
	clear: both;
	text-align: center;
}

#mainFileColumn {
	margin: 0 320px 0 5px;
	text-align: left;
}

.filesTitle {
	font: 18pt bold italic;
	font-family: Arial;
	margin: 10px 50px 0px 10px;
	clear: both;
}

UL.horizontalMenu {
	margin-left: 5px;
	padding: 0;
}

#menuContainer~DIV[id^=bmone] {
	margin: 15px 0;
}

.prawa-wlacz {
	position: absolute;
	right: 10px;
	top: 30px;
	cursor: pointer;
	display: none;
}

.wide-article .prawa-wlacz {
	display: block;
}

.topcommentsheader {
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	color: #555;
	margin-top: 10px;
	margin-left: 5px;
}

.galeria-link A {
	text-decoration: none;
	padding: 5px;
	display: block;
}

.fb_iframe_widget {
	background: #fff;
}

.placeholder {
	max-width: 600px;
	border: 1px solid #666;
	text-align: center;
	font-size: 125%;
	font-weight: bold;
	margin: 0 auto;
	padding: 20% 20px;
}

.nsfwswitch {
	position: absolute;
	right: 20px;
	top: 46px;
	font-size: 11px;
	z-index: 11;
}

.art-thumb {
	width: 120px;
	float: left;
}

.art-thumb img {
	width: 120px;
}

.art-intro {
	margin-left: 140px;
	overflow: hidden;
	clear: right;
	height: auto !important;
}

.art-intro .title {
	font-size: 20px !important;
	line-height: 26px !important;
}

#arcik {
	counter-reset: numerek-obrazka;
}

#arcik span.licznik1, #arcik span.licznik2 {
	position: relative;
}

#arcik span.licznik1::before {
	counter-increment: numerek-obrazka;
	content: "#" counter(numerek-obrazka) ".";
	padding: 10px;
	width: 25px;
	color: #d00;
	position: relative;
	left: 0px;
	margin: 1px;
	font-size: 18px;
	font-weight: bold;
	display: block;
}

#arcik span.licznik2::before {
	counter-increment: numerek-obrazka;
	content: counter(numerek-obrazka);
	padding: 10px;
	width: 25px;
	background: #ccc;
	position: absolute;
	left: 0px;
	margin: 1px;
	opacity: 0.3;
	font-size: 16px;
	font-weight: bold;
}

#arcik span.licznik2:hover::before {
	opacity: 1;
}

.autoinfo {
	position: fixed;
	bottom: 50px;
	left: 50px;
	padding: 20px;
	background: #eee;
	border: 1px solid #ccc;
	color: #666;
}

.phorum_post td {
	border-bottom: 1px solid #666;
	line-height: 150%;
}

#phorum-feed A {
	text-decoration: none;
}

.feedSort {
	float: left;
	font-size: 11px;
}

.phorum-post-title {
	font-size: 15px;
	line-height: 140%;
}



.toggleVisible {
	float: left;
	padding: 5px;
}

#phorum-feed blockquote IMG {
	max-width: 560px;
	height: auto;
}

/* style forów */

A[class^="forum-link-"] {
	display: block;
	width: 50px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background: #eee;
	padding: 2px 5px;
	border-radius: 5px;
	margin-left: 10px;
	font-size: 11px;
}

A.forum-link-f1 {
	color: #FFFFFF;
	background-color: #f0000;
}

A.forum-link-f10 {
	color: white;
	background-color: #0000B0;
}

A.forum-link-f11 {
	color: #2a2a2a;
	background-color: #ffc802;
}

A.forum-link-f12 {
	color: white;
	background-color: #7800B4;
}

A.forum-link-f13 {
	color: white;
	background-color: green;
}

A.forum-link-f14 {
	color: #FFFFFF;
	background-color: red;
}

A.forum-link-f15 {
	color: #FFFFFF;
	background-color: #cc0000;
}

A.forum-link-f16 {
	color: #FFFFFF;
	background-color: #17CEFD;
}

A.forum-link-f17 {
	color: white;
	background-color: #000099;
}

A.forum-link-f18 {
	color: #000000;
	background-color: #FFEA55;
}

A.forum-link-f21 {
	color: #FFFFFF;
	background-color: #C252C1;
}

A.forum-link-f22 {
	color: white;
	background-color: #1D3971;
}

A.forum-link-f23 {
	color: #FFFFFF;
	background-color: #F00000;
}

A.forum-link-f24 {
	color: #FFFFFF;
	background-color: #000080;
}

A.forum-link-f25 {
	color: #FFFFFF;
	background-color: #FFE653;
}

A.forum-link-f26 {
	color: white;
	background-color: #FF5500;
}

A.forum-link-f27 {
	color: #FFFFFF;
	background-color: #000080;
}

A.forum-link-f28 {
	color: #FFFFFF;
	background-color: #000080;
}

A.forum-link-f29 {
	color: #FFFFFF;
	background-color: #E1C872;
}

A.forum-link-f3 {
	color: #FFFFFF;
	background-color: #000080;
}

A.forum-link-f30 {
	color: #FFFFFF;
	background-color: #000080;
}

A.forum-link-f31 {
	color: white;
	background-color: #3200FE;
}

A.forum-link-f32 {
	color: #FFFFFF;
	background-color: #666666;
}

A.forum-link-f33 {
	color: #FFFFFF;
	background-color: #cc0000;
}

A.forum-link-f34 {
	color: #FFFFFF;
	background-color: #00A5F9;
}

A.forum-link-f35 {
	color: #FFFFFF;
	background-color: #000080;
}

A.forum-link-f36 {
	color: #f7f2b2;
	background-color: #4a1a2c;
}

A.forum-link-f37 {
	color: #FFFFFF;
	background-color: #0400ea;
}

A.forum-link-f38 {
	color: #FFFFFF;
	background-color: #000080;
}

A.forum-link-f39 {
	color: #f5f6d4;
	background-color: #493f0b;
}

A.forum-link-f4 {
	color: #FFFFFF;
	background-color: #000080;
}

A.forum-link-f40 {
	color: #f8ff9d;
	background-color: #670000;
}

A.forum-link-f41 {
	color: #f8ff9d;
	background-color: #670000;
}

A.forum-link-f42 {
	color: #ffd000;
	background-color: #0e3b4a;
}

A.forum-link-f43 {
	color: #ffd000;
	background-color: #0e3b4a;
}

A.forum-link-f5 {
	color: #FFFFFF;
	background-color: #f0000;
}

A.forum-link-f7 {
	color: #FFFFFF;
	background-color: #f0000;
}

.arttable A.title {
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
}

.editors_table td {
	text-align: right;
	border-bottom: 1px solid #ccc;
}

.karmnikLinks {
	text-align: center;
}

/* FEED END */

.podobne.show {
	position: absolute;
	left: 5px;
	right: 10px;
	transition:right 0.5s;
	-webkit-transition:right .5s;
	-moz-transition: right 0.5s;
	top: 42px;
	background: white;
	box-shadow: 10px 10px 10px;
	z-index: 1;
}
.podobne.show.narrow {
	right: 332px;
	transition:right 0.5s;
	-webkit-transition:right .5s;
	-moz-transition: right 0.5s;
}

.podobne.show legend {
	background: white;
}

.podobne.show .zobaczThumb img {
	width: 150px;
	height: 120px;
}

.podobne.show  .zobaczThumb {
	width: 150px;
	height: 138px;
	margin-bottom: 5px;
}

.podobne.show #autoplay-timer {
	font-size: 20px;
	margin: 20px 140px;
}
.podobne.show #autoplay-timer #autoplay-cancel {
	color: #ddd;
	text-decoration: none;
	margin-left: 10px;
}

.podobne.poczekalnia.show {
	position: absolute;
	left: 5px;
	top: 75px;
	width: 580px;
	min-height: 355px;
	background: white;
	padding: 20px !important;
	box-shadow: 10px 10px 10px;
	z-index: 1;
}

.podobne.poczekalnia.show legend {
	background: white;
}

.podobne.poczekalnia.show .zobaczThumb img {
	width: 150px;
	height: 120px;
}

.podobne.poczekalnia.show  .zobaczThumb {
	width: 180px;
	height: 138px;
	margin-bottom: 5px;
}

.sizeXL #mainFileColumn {
	float: none;
}

.sizeXL #fileComments {
	width: 600px;
	float: left;
}

.PostStory {
	background-color: white;
}

.HistoryBox {
	background-color: white;
	padding-bottom: 63px;
}


/*STARY DEFAULT2 */
/* drugi plik - tamten czasem ucina siďż˝ */


/* LIGHTBOX 0.5 **********************************
	http://github.com/krewenki/jquery-lightbox/tree/master/css/lightbox.css
*/

#lightbox {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
}

#lightbox a img {
	border: none;
}

#outerImageContainer {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}

#imageContainer {
	padding: 10px;
}

#loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}

#hoverNav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}

#imageContainer>#hoverNav {
	left: 0;
}

#hoverNav a {
	outline: none;
}

#prevLink, #nextLink {
	width: 49%;
	height: 100%;
	background: transparent url(../images/blank.gif) no-repeat;
	/* Trick IE into showing hover */
	display: block;
}

#prevLink {
	left: 0;
	float: left;
}

#nextLink {
	right: 0;
	float: right;
}

#prevLink:hover, #prevLink:visited:hover {
	background: url(../images/prev.gif) left 50% no-repeat;
}

#nextLink:hover, #nextLink:visited:hover {
	background: url(../images/next.gif) right 50% no-repeat;
}

/*** START : next / previous text links ***/
#nextLinkText, #prevLinkText {
	color: #FF9834;
	font-weight: bold;
	text-decoration: none;
}

#nextLinkText {
	padding-left: 20px;
}

#prevLinkText {
	padding-right: 20px;
}
/*** END : next / previous text links ***/
/*** START : added padding when navbar is on top ***/

.ontop #imageData {
	padding-top: 5px;
}

/*** END : added padding when navbar is on top ***/

#imageDataContainer {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
}

#imageData {
	padding: 0 10px;
}

#imageData #imageDetails {
	width: 70%;
	float: left;
	text-align: left;
}

#imageData #caption {
	font-weight: bold;
}

#imageData #numberDisplay {
	display: block;
	clear: left;
	padding-bottom: 1.0em;
}

#imageData #bottomNavClose {
	width: 66px;
	float: right;
	padding-bottom: 0.7em;
}

#imageData #helpDisplay {
	clear: left;
	float: left;
	display: block;
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
	background-color: #000;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
	display: none;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.bold {
	font-weight: bold;
}

* html>body .clearfix {
	display: inline-block;
	width: 100%;
}

* html .clearfix {
	/* Hides from IE-mac \*/
	height: 1%;
	/* End hide from IE-mac */;
}

/* adminownia */
input[name=propagate] {
	font-size: 11px;
	padding: 0;
}

.bonart {
	width: 220px;
	height: 200px !important;
	text-align: Center;
	float: left;
}

.bonart IMG {
	width: 200px;
}

div.text {
	overflow: hidden;
	width: 100%;
}


/* fileFile.tpl */

INPUT.jeditable {
	font-size: 18px;
}

TEXTAREA.jeditable {
}

UL.horizontalMenu {
	margin: 0px;
}

.horizontalMenu LI {
	display: inline;
	list-style-type: none;
	float: left;
}

.horizontalMenu LI A {
	font-size: 9px;
	color: gray;
	text-decoration: none;
}

.horizontalMenu LI .addfav,
.horizontalMenu LI A {
	font-size: 9px;
	color: gray;
	text-decoration: none;
}

.horizontalMenu IMG {
	margin: 0 5px;
}

.floatRight LI {
	display: inline;
	list-style-type: none;
	float: right;
}

#artPreview {
	width: 622px;
}

.widearticle #artpreview {
	width: 925px;
	margin: 0 auto;
	border: 1px solid #EEE;
	padding: 0 10px;
	box-sizing: border-box;
}

.text blockquote, .redactor_editor  blockquote {
	padding: 5px 15px 2px 10px;
	margin: 10px 5px;
	border-left: 10px solid #09f;
	color: #444444;
	line-height: 150%;
}

A.nounder, A.nounder:link {
	text-decoration: none;
}


/*artownia*/

.st_zatwierdzony {
	background-color: green;
	padding: 3px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

#kolejkadiv {
	background-color: #f8f8f8;
	border: 1px solid #c00;
	padding: 5px;
	text-align: Center;
	margin-bottom: 5px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.comnotok {
	margin-top: 10px;
	font-size: 11px;
	opacity: 0;
	margin-left: 92px;
	overflow: hidden;
	height: 14px;
	min-height: 14px;
}

.comnotok A {
	text-decoration: none;
	color: #444;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-border-radius: 10px;
}

.comnotok A:hover {
	color: red;
}

.comDisabled {
	height: 25px;
	overflow: hidden;
	margin-bottom: 20px;
}

.comrules_violation {
	position: absolute;
	top: 0;
	right: 5px;
	display: none;
}

.comDisabled .comrules_violation {
	display: none;
}

#listazgloszen {
	max-width: 900px;
	overflow: hidden;
}

.jmshare {
	position: absolute;
	left: 5px;
	top: 25px;
	height: 25px;
	width: 186px;
}

.jmsharemg {
	width: 290px;
}

.jmshare A {
	display: block;
	float: left;
	text-decoration: none;
	margin-right: 5px;
}

/* sharer nowy*/
A#sh-ec {
	background: url(http://joemonster.org/images/shareicons.png) repeat scroll 0 0 transparent;
	height: 21px;
	width: 98px;
}

A#sh-fb {
	background: url(http://joemonster.org/images/shareicons.png) repeat scroll -102px 0 transparent;
	height: 21px;
	width: 98px;
}

A#sh-nk {
	background: url(http://joemonster.org/images/shareicons.png) repeat scroll -205px 0 transparent;
	height: 21px;
	width: 21px;
}

A#sh-tw {
	background: url(http://joemonster.org/images/shareicons.png) repeat scroll -230px 0 transparent;
	height: 21px;
	width: 21px;
}

A#sh-gg {
	background: url(http://joemonster.org/images/shareicons.png) repeat scroll -255px 0 transparent;
	height: 21px;
	width: 21px;
}


/* gry nowe */
#katalog-pokaz {
	width: 110px;
	padding-left: 10px;
	text-decoration: none;
	font-size: 18px;
	color: #cc0000;
	display: block;
	background-color: #e0e0e0;
}

#categContainer {
	position: absolute;
	background: none repeat scroll 0% 0% white;
	border: 2px solid rgb(204, 204, 204);
	display: none;
	box-shadow: 5px 5px 10px gray;
	-moz-box-shadow: 5px 5px 10px gray;
}

.gra-item A {
	text-decoration: none;
}
/* EOF STARY DEFAULT2 */

.paginator {
	margin-top: 20px;
	font-size: 1em;
	width: 700px;
}

.paginator table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
}

.paginator table td {
	padding: 0;
	white-space: nowrap;
	text-align: center;
}

.paginator span {
    /*display:block;*/
	padding: 3px 0;
	color: #fff;
}

.paginator span .unsel {
	border: 1px solid #eee;
}

.paginator span strong,
.paginator span a {
	padding: 2px 6px;
}

.paginator span strong {
	background: #FFDC00;
	font-style: normal;
	font-weight: normal;
}

.paginator .scroll_bar {
	width: 100%;
	height: 20px;
	position: relative;
	margin-top: 10px;
}

.paginator .scroll_trough {
	width: 100%;
	height: 3px;
	background: #ccc;
	overflow: hidden;
}

.paginator .scroll_thumb {
	position: absolute;
	z-index: 2;
	width: 0;
	height: 3px;
	top: 0;
	left: 0;
	font-size: 1px;
	background: #CC0000;
}

.paginator .scroll_knob {
	position: absolute;
	top: -5px;
	left: 50%;
	margin-left: -10px;
	width: 20px;
	height: 20px;
	overflow: hidden;
	background: url(http://joemonster.org/modules/message/paginator3000/slider_knob.gif) no-repeat 50% 50%;
	cursor: pointer;
	cursor: hand;
}

.paginator .current_page_mark {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 0;
	height: 3px;
	overflow: hidden;
	background: #ff6c24;
}

.fullsize .scroll_thumb {
	display: none;
}

.paginator_pages {
	width: 600px;
	text-align: right;
	font-size: 0.8em;
	color: #808080;
	margin-top: -10px;
}

/* EOF PAGINATOR 3000 */

.redactor_editor div.picture, .picture {
	margin-bottom: 30px !important;
}

.before {
	margin-bottom: 10px;
}

.after {
	margin-top: 10px;
}

/* Gallery Editor */
#galleryEditorContainer {
	left: 50%;
	margin-left: -625px;
	position: absolute;
	top: 800px;
	background-color: white;
	overflow: hidden;
	width: 1250px;
	z-index: 50;
}

#galleryPreview {
	text-align: left;
	margin-left: 10px;
	float: left;
	margin-top: 10px;
	width: 620px;
	padding: 5px;
    /* border: 1px solid #ccc */;
}

#galleryEditForms {
	margin-left: 10px;
	margin-top: 10px;
	width: 590px;
	float: left;
	border: 1px solid grey;
	padding: 5px;
}

#galleryEditForms .h2 {
	font-size: 20px;
	border: 0;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	background: transparent;
}

.pictureAfter, .pictureBefore, .videoUrl, .pictureTitle {
	width: 520px;
}

.singlepic {
	position: relative;
	margin-bottom: 15px;
}

.up {
	top: 15px;
	padding: 10px;
}

.down {
	top: 87px;
	padding: 10px;
}

.poz {
	top: 50px;
	padding: 10px;
	left: 25px;
}

.galleryMiniature {
    /* float: left;*/
	max-width: 120px;
	height: auto;
	max-height: 120px;
	margin-top: 20px;
}

.data {
	margin-left: 20px;
}

.controls {
	margin-left: 70px;
}

.edition {
	position: relative;
	margin-bottom: 50px;
}

.positionControls {
	position: absolute;
	cursor: pointer;
	left: 1px;
}

.addPictureToGallery {
	position: absolute;
	left: 10px;
	overflow: hidden;
	direction: ltr;
	display: block;
	width: 120px;
	padding: 7px 0;
	text-align: center;
	background: #eee;
	border-bottom: 1px solid #ddd;
}

.galleryButton {
	position: absolute;
	overflow: hidden;
	direction: ltr;
	display: block;
	width: 120px;
	padding: 7px 0;
	text-align: center;
	background: #eee;
	border-bottom: 1px solid #ddd;
}

.editionSelects {
	padding-bottom: 10px;
	margin-left: 10px;
}

.addPicFromUrl, .closeGalleryEditor, .saveGalleryAndAll {
	position: absolute;
	right: 0px;
	top: 0px;
	font-family: Arial;
	font-size: 118px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	opacity: 0;
}

textarea.specialText {
	margin-left: 20px;
	width: 520px;
	background: transparent;
	border: 0;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
	line-height: 140%;
}

#galleryEditForms .pictureBefore, #galleryEditForms .pictureAfter {
	background: transparent;
	border: 0;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
	line-height: 140%;
}

#imgPreviewWithStyles {
	background: #222;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 15px;
	z-index: 999;
	border: none;
}
/* EOF Gallery Editor */

/* notes */


.adminNotes {
	padding: 5px;
	position: absolute;
	right: 0px;
	width: 280px;
	overflow: hidden;
	font-size: 11px;
	top: 100px;
	z-index: 2;
}

.notesDisplay {
	font-size: 12px;
	line-height: 140%;
	box-shadow: 2px 2px 2px #ccc;
	margin-bottom: 10px;
	padding: 5px;
	border: 1px solid #eee;
	background: #f8f8f8;
	max-height: 1000px;
	overflow: auto;
}

#notesBox {
	width: 100%;
	height: 20px;
	font-size: 11px;
}

#notesSend {
	font-size: 12px;
}

/* EOF notes */
#submissions IMG {
	max-height: 200px;
	width: auto;
}

/* galleryEditor modal */

/* MODAL */
#gallery_modal_overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50000;
	margin: auto;
	width: 100%;
	height: 100%;
	background-color: #333 !important;
	opacity: 0.50;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#gallery_modal {
	text-align: left;
	position: fixed;
	top: 50%;
	left: 180px;
	z-index: 50001;
	padding: 0;
	border-radius: 3px;
	background: #f5f5f5;
	box-shadow: 0px 5px 60px #000;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	font-size: 12px !important;
	font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
	width: 500px;
	height: 300px;
}

#gallery_modal header {
	padding: 11px 30px 0 15px;
	border-radius: 3px 3px 0 0;
	font-weight: bold;
	font-size: 12px;
	display: block !important;
}

#gallery_modal section {
	padding: 20px 30px;
}

#gallery_modal_close {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 20px;
	height: 20px;
	color: #777;
	font-size: 20px;
	cursor: pointer;
}

#gallery_modal_close:hover {
	color: #000;
}

#gallery_modal label {
	display: block !important;
	float: none !important;
	margin: 10px 0 3px 0 !important;
	padding: 0 !important;
	font-size: 12px !important;
}

#gallery_modal textarea {
	margin-left: 20px;
	margin-right: 20px;
	padding: 1px 2px;
	border: 1px solid #ccc;
	border-radius: 1px;
	background-color: white;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
	color: #333;
	font-size: 13px;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	line-height: 1;
	-webkit-transition: border 0.3s ease-in;
	-moz-transition: border 0.3s ease-in;
	-ms-transition: border 0.3s ease-in;
	-o-transition: border 0.3s ease-in;
	transition: border 0.3s ease-in;
	width: 470px;
	height: 212px;
	line-height: 140%;
}

.gallery_input {
	width: 99%;
	font-size: 14px;
}

.gallery_modal_box {
	overflow: auto;
	margin-bottom: 10px;
	height: 350px;
}

#gallery_image_box {
	overflow: auto;
	margin-bottom: 10px;
	height: 270px;
}

#gallery_image_box_select {
	display: block;
	margin-bottom: 15px !important;
	width: 200px;
}

#gallery_image_box img {
	margin-right: 10px;
	margin-bottom: 10px;
	max-width: 100px;
	cursor: pointer;
}

#gallery_modal footer {
	padding: 9px 30px 20px 30px;
	border-radius: 0 0 3px 3px;
	text-align: right;
}

#gallery_modal input[type="radio"],
#gallery_modal input[type="checkbox"] {
	position: relative;
	top: -1px;
}

#gallery_modal input[type="text"],
#gallery_modal input[type="password"],
#gallery_modal input[type="email"] {
	position: relative;
	z-index: 2;
	margin-left: 20px;
	padding: 1px 2px;
	height: 23px;
	border: 1px solid #ccc;
	border-radius: 1px;
	background-color: white;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
	color: #333;
	font-size: 13px;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	line-height: 1;
	-webkit-transition: border 0.3s ease-in;
	-moz-transition: border 0.3s ease-in;
	-ms-transition: border 0.3s ease-in;
	-o-transition: border 0.3s ease-in;
	transition: border 0.3s ease-in;
}

#gallery_modal textarea {
	line-height: 1.4em;
	position: relative;
	z-index: 2;
	margin-left: 20px;
	margin-right: 20px;
	padding: 1px 2px;
	border: 1px solid #ccc;
	border-radius: 1px;
	background-color: white;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
	color: #333;
	font-size: 13px;
	font-family: Helvetica, Arial, Tahoma, sans-serif;
	line-height: 1;
	-webkit-transition: border 0.3s ease-in;
	-moz-transition: border 0.3s ease-in;
	-ms-transition: border 0.3s ease-in;
	-o-transition: border 0.3s ease-in;
	transition: border 0.3s ease-in;
}

#gallery_modal input:focus,
#gallery_modal textarea:focus {
	outline: none;
	border-color: #5ca9e4;
	box-shadow: 0 0 0 2px rgba(70, 161, 231, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}

.gallery_modal_btn {
	position: relative;
	display: inline-block;
	margin-left: 20px;
	margin-bottom: 10px;
	padding: 6px 16px 5px 16px;
	outline: none;
	border: 1px solid #ccc;
	border-bottom-color: #aaa;
	border-radius: 4px;
	background-color: #f3f3f3;
	background-image: -moz-linear-gradient(top, #ffffff, #e1e1e1);
	background-image: -ms-linear-gradient(top, #ffffff, #e1e1e1);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e1e1e1));
	background-image: -webkit-linear-gradient(top, #ffffff, #e1e1e1);
	background-image: -o-linear-gradient(top, #ffffff, #e1e1e1);
	background-image: linear-gradient(top, #ffffff, #e1e1e1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	color: #000;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0px #ffffff;
	font-weight: normal;
	font-size: 12px;
	font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
	line-height: 1;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e1e1', GradientType=0);
	cursor: pointer;
}

.lastEdited {
	font-size: 11px;
	opacity: 0.4;
}

img.vimeo-thmb {
	width: 200px;
	height: 130px;
	border-width: 1px;
	float: left;
	margin-left: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
}

a.titulo-vimeo img {
	width: 300px;
	height: auto;
	margin-top: 0px !important;
	display: block;
	margin-left: -2px !important;
}


#comments {
	width: 100%;
	margin: 5px 0;
}

video {
	background: black;
	width: 100% !important;
	height: auto !important;
	max-height: 450px;
}

#hashid-tooltip {
	position: absolute;
	display: none;
	border: 1px solid #ffd800;
	border-radius: 3px;
	padding: 5px;
	background-color: #fff1a8;
	min-width: 150px;
	max-width: 300px;
	min-height: 150px;
	max-height: 300px;
	overflow: hidden;
}

.hashid-picture {
	max-width: 250px;
	max-height: 250px;
}

span.hashid-action {
	color: #4A97CC;
}

.editform_box {
	padding: 5px;
	margin: 3px 3px 3px 3px;
}

a.itemTitle {
	font-family: Arial,"Times New Roman", helvetica;
	font-size: 18px;
	text-decoration: none;
	line-height: 140%;
	margin: 0px;
	display: block;
	color: #555;
}

.item-row {
	margin-bottom: 30px;
	overflow: hidden;
	margin-right: 310px;
}

@media screen and (max-width: 800px) {
	.item-row {
		margin-right: 0px;
	}
}

.item-thumb {
	width: 37%;
	height: 140px;
	margin-right: 15px;
	float: left;
	border: 1px solid #aaa;
	overflow: hidden;
	background-size: cover !important;
}

@media screen and (max-width: 515px) {
	.item-thumb {
		width: 190px;
	}
}

.item-desc {
	width: 60%;
	display: inline-block;
	overflow: hidden;
}

@media screen and (max-width: 515px) {
	.item-desc {
		width: 100%;
	}
}

.item-points {
	font-size: 11px;
	color: #999;
	text-decoration: none;
	font-weight: bold;
	margin-top: 5px;
}

.item-row.forum {
	height: auto;
	margin-bottom: 10px;
}

.item-thumb A {
	display: block;
	width: 250px;
	height: 136px;
	overflow: hidden;
	position: relative;
	border: 1px solid #333;
}

.item-thumb a img {
	width: 256px;
	height: auto;
	margin-top: -5px !important;
	display: block;
	margin-left: -8px !important;
}

.item-thumb A:hover img {
	opacity: 0.9;
}

.itemBigThumb {
	border: 1px solid #ccc;
	padding: 2px;
	width: 256px;
}

IMG.searchThumb {
	padding: 3px;
	border: 1px solid #e0e0e0;
}

#nse-main {
	width: 940px;
}

#searchpage h2 a {
	text-decoration: none;
	color: #c00 !important;
}

div.hide-image {
	display: inline-block;
	position: relative;
}

IMG.hide-image {
	border: 1px solid #111;
	opacity: 0.1;
}

DIV.hide-image:before {
	font-size: 20px;
	font-family: arial;
	font-weight: bold;
	background-color: rgba(0,0,0,0.5);
	z-index: 200;
	box-sizing: border-box;
	color: white;
	width: 360px;
	height: 40px;
	padding: 10px;
	top: calc(50% - 30px);
	left: calc( 50% - 180px );
	position: absolute;
	content: "Kliknij, żeby zobaczyć obrazek";
}

IMG.hide-image.hide-image-noopacity {
	opacity: 1.0;
}

#search-params-action {
	margin: 20px auto;
	width: 620px;
}

#search-params-action select {
	padding: 5px;
}

#search-params-action input {
	font-size: 12px;
	padding: 5px;
	width: 260px;
	margin-right: 6px;
}

#search-params-action button[type=submit] {
	padding: 5px;
	width: 60px;
	color: white;
	border-color: #c00;
	border-width: 1px;
	background-color: #f00;
}

.zobatez {
	margin-bottom: 15px;
	width: 150px;
	display: inline-block;
	vertical-align: top;
	line-height: 150%;
	padding: 0 15px;
	max-height: 210px;
	overflow: hidden;
}

.zobatez IMG {
	margin-bottom: 8px;
}

.zobatez A {
	text-decoration: none;
	font-size: 14px;
}

.ncWidget.showImages.titleNextToImage img + .ncwText .ncwTitle {
	line-height: 140% !important;
}

.showCaption .ncwCaption {
	display: none!important;
}

#scrollUp {
	background-image: url("/images/icons/top.png");
	bottom: 20px;
	right: 20px;
	width: 38px;
	/* Width of image */
	height: 38px;
	/* Height of image */;
}

.lm_float {
	display: block;
	position: absolute;
	right: 10px;
	top: 80px;
}

#commentsContainer .comments_sort_order {
	text-decoration: none;
	color: #777;
}

#commentsContainer .comments_sort_order.selected {
	color: #444;
	border-bottom: 1px solid #444;
}

#commentsContainer img {
	max-width: 100%;
	max-height: 800px;
}

.answerbox-action textarea {
	height: 80px;
	width: 100%;
	margin-bottom: 5px;
}

.answerbox-action .form_reply_button,
.answerbox-action .form_cancel_button {
	float: left;
	margin-right: 5px;
}

.comment-more-replies-acc {
	display: none;
}

.comment-more-replies A {
	color: #666;
}

.comment-more-replies {
	margin: 5px 0 15px 87px;
	color: #666;
	text-align: left;
}

#bg {
	margin: 0 auto;
	width: 1020px;
	background: #fff;
}

@media screen and (max-width: 1020px) {
	div#main, div#bg {
		width: auto !important;
	}
	#menuContainer {
		width: 100%;
		overflow: hidden;
	}
	#menuJM2 {
		min-width: 860px;
	}
	div#lewa_glowna {
		width: 180px !important;
	}
	div#main_glowna {
		padding: 10px 320px 10px 190px;
	}
}

@media screen and (max-width: 800px) {
	div#lewa_glowna {
		width: 29% !important;
	}
	div#prawa_glowna {
		display: none;
	}
	div#main_glowna {
		width: 100%;
		padding: 10px 15px 10px 32%;
	}
	#pagerNav {
		width: 225px;
	}
	.cookieInfoContainer {
		width:518px !important;
		margin-left:-259px !important;
	}
    #main_billboard {
		display:none !important;
	}
    #polecMenu {
		display:none !important;
	}
	.title {
		font-size: 25px !important;
	}
	.art-wrapper {
		padding-right: 0;
	}
}

@media screen and (max-width: 518px) {
	.logo {
		top: 16px;
	}
	.logo IMG {
		width:80%;
		margin-top: 5px;
	}
	#topHeader {
		height: 60px !important;
	}
	.cookieInfoContainer {
		width:auto !important;
		margin-left:-220px;
		left:58% !important;
	}
	#wyszukiwaraGoogle {
		right: 5px;
	}
	#wyszukiwaraGoogle input[type=text] {
		display: none;
	}
	#userMiniMenu {
		font-size: 11px;
	}
	div#main_glowna {
		padding: 10px 5px;
	}
	.page-unknown div#lewa_glowna {
		display: none;
	}
	.page-unknown div#main_main {
		width: auto;
		margin: 0;
	}
}

/*** ARTY RESPONSYWNE START ***/
@media screen and (max-width: 1019px) {

	.page-article div#prawa_glowna {
		position: absolute;
		right:0; top:0;
	}

	.page-article div#main_article {
		width: auto;
		padding: 5px;
	}

	.page-article div#main_article {
		float: none;
	}

	.page-article .wide-article #main_article {
		width: auto !important;
		margin: 0 10px
	}

	.art-wrapper {
		padding-right: auto !important;
	}
}

@media screen and (max-width: 800px) {

	.page-article div#main_article,
	#main_article #commentsFormContainer {
		width: auto;
		padding: 5px;

	}

	#mtv_main_swf .video-player-resize-button {
		display: none;
	}
	#mtv_main_swf .mtv-player-wrapper, #mtv_main_swf.videoNarrow .mtv-player-wrapper {
		height: 340px;
	}
	#mtv_main_swf.videoNarrow {
		width: 100%;
	}
}

@media screen and (max-width: 620px) {
	.page-article .fbframe {
		display: none;
	}
	.onerect:first-child {
		display: none;
	}
	.Nextclick_Widget_Container {
		display: none;
	}

	.page-article commentBoxHeader span {
		display: none;
	}
	#mtv_main_swf .mtv-player-wrapper, #mtv_main_swf.videoNarrow .mtv-player-wrapper {
		height: 239px;
	}
}
/*** ARTY RESPONSYWNE END ***/

/*** .page-czesiek BEGIN ***/
.page-czesiek div#lewa_glowna {
	display: none;
}

.page-czesiek div#main_main {
	width: auto;
	max-width: 900px; margin: 0 auto;
}

.page-czesiek div#spacer {
	display: none;
}
/*** .page-czesiek END ***/


/*** Responsywne Forum BEGIN ***/
@media screen and (max-width: 720px) {
	#forumLeft {
		margin: 0;
	}
	#forumRight {
		position: relative;
		padding-top: 20px;
		min-height: 300px;
		width: auto;
	}
	.phorum-post-title {
		font-size: 12px;
	}
}


@media screen and (max-width: 500px) {
	#bopowaga {
		display: none;
	}
}

#ForumLeft .postContent img {
	max-width: 100%;
}
/*** Responsywne Forum END ***/


/*** LOGOWANIE RESPONSYWNE START ***/
@media screen and (max-width: 650px) {
	div#user_left {
		display: none;
	}
	div#user_main {
		width: 100%;
	}
}
/*** LOGOWANIE RESPONSYWNE END ***/

.page-login .systemMessage {
	margin-right: 400px;
}

.in_video_ad {
	margin-bottom: 10px;
}

.bg-narrow {
	max-width: 755px !important;
	background: white;
}

.user-nav {
	height: 31px;
	position: absolute;
	bottom: -2px;
	left: 160px;
    min-width: 610px;
}


.user-banner {
	height: 195px;
	position: relative;
	border-bottom: 1px solid #ccc;
}

.user-banner.user-banner-default {
	height: 116px;
	background: url(/i/2015/11/grad.png) left bottom repeat-x;
}

.user-nick {
	position: absolute;
	left: 160px;
	bottom: 42px;
}

.user-banner .user-nick,
.user-banner .user-nick a {
	color: white;
	text-shadow: 0 0 3px rgba(0,0,0,.8);
}

user-banner .user-nick a {
    color: white;
}

.user-thumb {
	text-align: center;
	position: absolute;
	z-index: 2;
	bottom: 10px;
	left: 13px;
}

.user-fan {
	margin: 2px;
	padding: 5px;
	font-weight: bold;
	border: 1px solid #ccc;
	width: 108px;
	bottom: -16px;
	position: absolute;
	left: 21px;
	background: white;
	z-index: 2;
}

.user-fan a {
	background: url(/images/star.gif) 5px -33px no-repeat;
	padding-left: 25px;
	display: block;
	font-weight: bold;
	text-decoration: none;
}

.user-fan a.user-unliked {
	background: none;
	padding-left: 0;
}

.user-item-wrapper .user-item-favcount {
	width: 13px;
	height: 15px;
	border: 0;
	vertical-align: bottom;
}

.user-item-wrapper .user-item-comments {
	width: 16px;
	height: 16px;
	border: 0;
	vertical-align: bottom;
}

.user-item-wrapper .user-item-description {
	padding-bottom: 5px;
}

.page-user-items .user-item-wrapper {
	line-height: 120%;
	margin-left: 25px;
}

.page-user-items #main_article {
	width: inherit;
	margin: 0;
}

.page-user-items .user-items-title {
	margin: 25px;
}

.page-user-items #main_main {
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
}

h3.user-items-title  {
	margin-top: 20px;
}

h2.user-items-title  {
	color: #c00;
}

.user-items-more-link {
	margin-left: 35px;
}

#history_film ul,
#history_art ul,
#history_links ul {
	padding: 0;
}

.user-created-item .user-link-thumb {
	float: left;
	position: relative;
}

.user-created-item .userLinkShow {
	margin-left: 160px
}

.user-created-item .linkTitle {
	font-weight: bold;
}

.user-created-item .link-thumb {
	border: none;
}


.page-user-items .user-created-item {
	margin-left: 20px;
}

#prawa_glowna .latest-articles-box {
	line-height: 145%;
}
#prawa_glowna .latest-articles-box ul {
	margin: 0 0 0 -20px;
}

.fb-title {
	color: #2AA2CA;
}
.art-details .on-fb-date {
	color: #777;
}

#przedluz-waznosc-konta,
#przedluz-waznosc-konta a {
	background-color: #c00;
	color: #fff;
}

.has-banner-enabled {
	color: #2F8A09;
	font-weight: bold;
}
.has-exclusive-enabled {
	color: #c00;
	font-weight: bold;
}
.has-adult-enabled {
	color: pink;
	font-weight: bold;
}
.is-on-facebook {
	color: #09f;
	font-weight: bold;
}
.has-premium-enabled {
	color: blue;
	font-weight: bold;
}

#fb-like-box {
	position: absolute;
	left: 365px;
	top: 25px;
}

.BoxContent.matchedContent {
	width: 300px;
	height: 460px;
	overflow: hidden;
}

.short-joke {
	font-size: 26px;
	padding: 30px;
	font-weight: bold;
	font-family: roboto slab;
	color: #555;
}

.indexart {
	border-bottom: 5px solid #e8e8e8;
	padding-bottom: 12px;
	margin-bottom: 12px;
}

.indexart a.title {
	font-weight: bold;
}

table.first-td-colon td:first-child:not(:empty)::after {
	content: ":";
}

.commentBox .userBox,
.commentBox_reply .userBox {
	position: absolute;
	z-index: 1;
	width: 380px;
	left: 75px;
	display: none;
}

.commentBox_reply .userBox {
	left: 154px;
}

.commentBox .userBox:after,
.commentBox_reply .userBox:after {
	content: '';
	position: absolute;
	bottom: -7px;
	left: 35px;
	width: 12px;
	height: 12px;
	background: #fff;
	transform: rotate(45deg);
	border-right: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
}

.userBox .hiddenUserText {
	text-align: center;
}

.userBox .commentUserBox {
	max-height: 95%;
	background: #fff;
	box-shadow: 0px 0px 31px -10px #000;
	border-radius: 2px;
	overflow: hidden;
	border: 1px solid #c0c0c0;
}

.userBox .commentUserBox > div:not(.userBox_header) {
	width: 95%;
	margin: auto;
	border-bottom: 1px solid #ebebeb;
}

.userBox .commentUserBox .userBox_header {
	width: 100%;
	min-height: 75px;
	background: -webkit-linear-gradient(#e7e7e7, #a3a3a3);
	background: -ms-linear-gradient(#e7e7e7, #a3a3a3);
	background: linear-gradient(#e7e7e7, #a3a3a3);
	background-size: cover;
	margin-bottom: 29px;
}

.commentUserBox .header_info {
	padding-top: 10px;
	position: relative;
	width: 95%;
	margin: 0 auto;
	min-height: 75px;
}

.commentUserBox .header_info img {
	height: 75px;
	border: 1px solid;
	position: absolute;
}

.commentUserBox .header_info a {
	margin: 0;
	font-weight: bold;
	color: #fff;
}

.commentUserBox .nickibig {
	font-size: 19px;
}

.commentUserBox .header_info .user_info {
	margin: 20px 0 0 112px;
	width: 243px;
	text-shadow: 0 0 2px rgba(0, 0, 0, .8);
}

.commentUserBox .header_info .user_subinfo {
	color: #fff;
	font-size: 12px;
	text-transform: capitalize;
	line-height: 17px;
}

.commentUserBox .header_info .user_subinfo .user_status {
	display: inline-block;
	white-space: nowrap;
	max-width: 131px;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: top;
}

.commentUserBox .header_info .user_comments_count {
	font-size: 13px;
	color: #909092;
	padding: 0px 0 8px 116px;
	position: absolute;
	bottom: -30px;
	width: 100%;
	border-bottom: 1px solid #ebebeb;
}

.commentUserBox .user_options {
	padding: 9px 0;
}

.commentUserBox .user_options .user_send_czesiek {
	text-decoration: none;
	display: inline-block;
	border: 1px solid #d7d7d7;
	background: #f8f8f8;
	padding: 7px;
	font-size: 12px;
	width: 125px;
	text-align: center;
}

.commentUserBox .user_options .user_ignore {
	float: right;
	text-decoration: none;
	padding: 8px 0;
	color: #7f7e81;
	font-size: 12px;
	position: relative;
}

.commentUserBox .user_options .user_ignore:before {
	position: absolute;
	left: -18px;
	top: 8px;
	content: '';
	background-image: url('/images/spritesheet.png');
	background-position: -140px -148px;
	width: 10px;
	height: 12px;
}

.commentUserBox .user_bottom_menu {
	padding: 8px 0;
	font-size: 12px;
}

.commentUserBox .user_bottom_menu a:nth-child(1) {
	margin-right: 4px;
}

.video-time {
	padding: 0 4px;
	font-size: 11px;
	background-color: #000;
	color: #fff;
	height: 14px;
	width: 30px;
	display: inline-block;
	opacity: .75;
}
.mtv-thumb-img .video-time {
	right: 0px;
	bottom: 16px;
	position: absolute;
}
.mtvPoczekalniaFilm .video-time {
	left: 281px;
	bottom: 14px;
	position: relative;
}
.adminFilm .video-time {
	right: 0px;
	margin-top: 248px;
	position: absolute;
}
.mtvPoczekalniaFilm .auto-remove {
	position: absolute;
	left: 134px;
	height: 17px;
	background-color: black;
	z-index: 1;
	color: white;
	border: none;
}