@charset "utf-8";
/* CSS Document */
div.destination_box{}

/*destination search begin*/
div.destination_search{width: 736px;padding: 0 17px;height:70px;background: #219bd9;margin: 0 auto;margin-top: 10px;border-radius: 10px;overflow: hidden}
div.destination_search_lt{width: 370px;float: left;margin-top: 17px;}
div.destination_search_lt input{width: 304px;float:left;background: #90cdec;color: #fff;font-size:14px;height: 36px;line-height: 36px;text-indent: 10px;border-bottom-left-radius: 10px;border-top-left-radius: 10px;}
div.destination_search_lt a{display: block;width:66px;float: left;text-align:center;height:36px;line-height:36px;background: #f1a400;font-size:16px;color: #fff;border-bottom-right-radius: 10px;border-top-right-radius: 10px;}
div.destination_search_rg{width: 325px;float: right;margin-top: 12px;}
div.destination_search_rg a{font-size: 13px;color: #fff;margin-right: 10px;line-height: 20px;}
/*destination search end*/

/*destination recommend begin*/
div.destination_recommend{width: 1170px;margin: 0 auto;margin-top: 30px;}
div.destination_title{text-align: center;color:#666}
div.destination_title h4{font-size: 26px;font-weight: normal;margin: 15px 0 27px 0}
div.destination_title p{font-size: 14px;margin-top: -14px;}
div.destination_reco_cont{overflow: hidden}
div.destination_reco_cont_lt{float: left;width: 282px;}
div.destination_reco_cont_lt h4{width: 218px;height: 48px;line-height: 48px;text-align: center; color: #fff;background: #90cdec;border-radius: 10px;margin: 0 auto}
div.destination_reco_calendar_line{width: 89px;height: 15px;border-right: 6px solid #219bd9;border-left: 6px solid #219bd9;margin: 0 auto}
ul.destination_reco_calendar_box{background: #219bd9;overflow: hidden;zoom: 1;}
ul.destination_reco_calendar_box li{float: left;width: 93px;text-align: center;height: 50px;line-height: 50px;font-size: 16px;border-left: 1px solid #38a5dd;border-bottom: 1px solid #38a5dd}
ul.destination_reco_calendar_box li a{display:block;width: 50px;height: 50px;color: #fff;margin: 0 auto}
ul.destination_reco_calendar_box li a:hover{background: #f1a400;border-radius: 50px;}
ul.destination_reco_calendar_box li.des_calendar_selected a{background: #f1a400;border-radius: 50px;}
div.destination_reco_cont_rg{float: right;width: 888px;}
div.destination_reco_cont_rg ul li{float: left;width:280px;margin-left: 16px;_margin-left:12px;background: #f4f4f4}
div.destination_reco_cont_rg ul li h4{height: 65px;margin-bottom: 5px;font-weight: normal}
div.destination_reco_cont_rg ul li h4 p.destination_reco_cont_rg_month{float: left;width: 80px;text-align: center;margin-right:10px;height:65px;background: #219bd9;color: #fff}
div.destination_reco_cont_rg ul li h4 p.destination_reco_cont_rg_month span{display: block;font-size: 20px;padding-top: 5px}
div.destination_reco_cont_rg ul li h4 p.destination_reco_cont_rg_month span b{font-size: 24px;}
div.destination_reco_cont_rg ul li h4 p.destination_reco_cont_rg_month em{font-style: normal;font-size: 16px;text-transform: uppercase}
div.destination_reco_cont_rg ul li h4 p.destination_reco_cont_rg_title a{color: #666;font-size: 18px;display: block;padding-top: 10px;}
div.destination_reco_cont_rg ul li h4 p.destination_reco_cont_rg_title span{color: #999;font-size: 14px;line-height: 25px;}
div.destination_reco_cont_rg_info{font-size: 14px;color: #999;padding:11px 0;_padding:13px 0;overflow: hidden;zoom: 1}
div.destination_reco_cont_rg_info p{float: left;height:35px;margin-left:12px;background:url("../images/destination_icon.png") no-repeat 0 3px;line-height: 35px;padding-left:38px;}
div.destination_reco_cont_rg_info span{display: block;float: left;height:35px;background:url("../images/destination_icon.png") no-repeat -5px -35px;line-height: 35px;margin-left: 30px;padding-left:28px;}

/*destination recommend end*/

/*destination hot begin*/
div.destination_hot{margin-top: 30px;margin-bottom: 25px;}
div.destination_list{margin-top: 40px;}
div.destination_list ul li{width: 578px;float: left;overflow: hidden}
div.destination_list ul li.destination_list_rg{margin-left: 14px;}
div.destination_list ul li div{position:relative;margin-bottom: 14px;}
div.destination_list ul li div.destination_list_big{clear: both;height: 228px;}
div.destination_list ul li div img{position: relative}
div.destination_list ul li div p{position: absolute;left: 0;bottom: 0;color: #fff;font-size: 14px;padding: 10px}
div.destination_list ul li div p span{display: block;font-size: 24px;line-height: 40px;}
div.destination_list div.destination_list_cover{position: absolute;width:100%;height:228px;top:0;left:0;display: none}
div.destination_list div.destination_list_cover div.destination_list_cover_bg{position:absolute;width: 100%;height: 100%;background: #333;opacity: .6;filter:alpha(opacity=60);z-index: 99 }
div.destination_list div.destination_list_cover_cont{position:absolute;width:228px;left:50%;margin-left: -114px;top:50px;z-index: 999}
div.destination_list div.destination_list_cover_cont dl{overflow: hidden}
div.destination_list div.destination_list_cover_cont dl dd{float: left;color: #fff;}
div.destination_list div.destination_list_cover_cont dl dd span{display:block;width:49px;height:49px;}
div.destination_list div.destination_list_cover_cont dl dd.destination_hot_line span{background: url("../images/destination_icon.png") no-repeat -2px -76px;}
div.destination_list div.destination_list_cover_cont dl dd.destination_hot_mate{margin:0 40px;}
div.destination_list div.destination_list_cover_cont dl dd.destination_hot_mate span{background: url("../images/destination_icon.png") no-repeat -2px -150px;}
div.destination_list div.destination_list_cover_cont dl dd.destination_hot_master span{background: url("../images/destination_icon.png") no-repeat -2px -227px;}
div.destination_list div.destination_list_cover_cont dl dd h6{font-weight: normal}
div.destination_list div.destination_list_cover_cont a{display: block;width: 66px;height: 36px;background:#f1a400;margin:0 auto;margin-top:20px;border-radius:10px;font-size:16px;line-height: 36px;color: #fff;text-align: center}


div.destination_list div.destination_list_cover_cont dl dd em{display: block;font-style:normal;line-height: 35px;text-align: center}
/*destination hot end*/

/*destination place begin*/
div.destination_place{width: 100%;background: #f4f4f4;padding-bottom: 40px;}
div.destination_area_title{color: #666;margin-top: 28px;}
div.destination_area_title hr{border-bottom: 1px solid #eee;margin-top: 10px;}
div.destination_area_title span{display:block;width:70px;font-size:20px;background:#f4f4f4;margin:0 auto;margin-top: -15px;text-align: center}
div.destination_area_china ul li{overflow: hidden;margin-bottom: 10px;zoom: 1}
div.destination_area_china ul li span{display:block;float: left;background: #f1a400;height:35px;line-height:35px;font-size: 20px;color: #fff;padding:0 10px;border-radius: 10px;}
div.destination_area_china ul li div{float: left;width:1000px;padding-left:40px;border-bottom:1px dashed #eee;}
div.destination_area_china ul li div a{color:#666;height:35px;line-height: 35px;margin-right: 30px;}
div.destination_area_china ul li div a:hover{color: #f1a400}
div.destination_area_abroad h4{margin: 10px 0;}
div.destination_area_abroad h4 span{background:#219bd9;font-size: 20px;color: #fff;font-weight: normal;padding: 5px 20px;border-radius: 10px;}
div.destination_area_abroad ul{float: left;margin:0 70px 0 16px;}
div.destination_area_abroad ul li {line-height: 45px;}
div.destination_area_abroad ul li a{font-size: 14px;color: #666}
div.destination_area_abroad ul li a:hover{color:#219bd9}
/*destination place end*/



/*--------destination detail css begin--------*/
div.destination_detail{background: #f4f4f4}
div.destination_detail_box{width: 1170px;margin: 0 auto}
div.destination_detail_top{width: 872px;margin: 0 auto;text-align: center;padding: 30px 0;}
div.destination_detail_top p{font-size: 16px;color: #999;line-height: 30px;}
div.destination_detail_top div.explain{margin: 20px 0;}
div.destination_detail_top div.recommend ul{font-size: 14px;text-align:left;padding: 30px;background: #999;border: 10px solid #bbb;}
div.destination_detail_top div.recommend ul li{overflow: hidden;zoom: 1;margin-bottom: 10px;}
div.destination_detail_top div.recommend ul li p{font-size: 14px;color: #fff;float: left}
div.destination_detail_top div.recommend ul li p img{margin-right: 15px;}
div.destination_detail_top div.recommend ul li div{float: left;width:485px;margin-left: 32px;}
div.destination_detail_top div.recommend ul li div p span{margin-right: 20px;}

div.destination_detail_cont{overflow: hidden;zoom: 1}
div.destination_detail_cont div.focus{overflow: hidden;zoom: 1;}
div.destination_detail_cont div.focus div.fl{width: 64px;height: 58px;background: #219bd9;border-bottom-left-radius: 48px;border-top-left-radius: 48px;margin-top: 60px;}
div.destination_detail_cont div.focus div.fl span{display: block;width: 48px;height: 48px;background: url("../images/destination_icon.png") no-repeat -2px -227px;margin: 5px 0 0 5px;}

div.destination_detail_cont div.fr{width: 1042px;float: left;padding-bottom:30px;margin-bottom:30px;background: #fff}
div.dest_det_title h4{font-size: 26px;color: #666;font-weight: normal;text-align: center;padding: 34px 0 24px 0;}
div.dest_det_title div.title{position:relative;width: 100%;height: 50px;}
div.dest_det_title div.title div.line{width: 370px;height: 24px;border-bottom: 1px solid #eee;float: left;}
div.dest_det_title div.title div.title_info{width: 300px;font-size:14px;color:#999;height: 48px;float:left;border: 1px solid #eee;line-height: 48px;text-align: center}
div.dest_det_title div.title div.title_info b{font-size: 24px;color: #666;padding: 0 10px;}
div.dest_det_title div.title a{display: block;position:absolute;top:12px;right:10px;width: 76px;height: 24px;background:#fff;color:#999;text-align:center;border: 1px solid #eee;line-height: 24px;}
div.dest_det_title div.title a:hover{background: #f1a400;border:1px solid #f1a400;color: #fff}
div.focus_pic ul{width: 872px;overflow:hidden;zoom:1;margin: 30px auto;}
div.focus_pic ul li{position: relative;float: left;margin-bottom: 10px;}
div.focus_pic ul li.left{margin-right: 10px;}
div.focus_pic ul li p{position: absolute;left:20px;bottom:20px;font-size: 20px;color: #fff;text-shadow: 1px 1px 1px #333;}

div.destination_detail_cont div.mate{overflow: hidden;zoom: 1;}
div.destination_detail_cont div.mate div.fl{width: 64px;height: 58px;background: #219bd9;border-bottom-left-radius: 48px;border-top-left-radius: 48px;margin-top: 60px;}
div.destination_detail_cont div.mate div.fl span{display: block;width: 48px;height: 48px;background: url("../images/destination_icon.png") no-repeat -2px -151px;margin: 5px 0 0 5px;}
div.destination_detail_cont div.mate div.mate_box{width: 875px;margin: 0 auto;margin-top: 30px;}
div.destination_detail_cont div.mate div.mate_box ul.mate_list li{margin: 0 22px 30px 0;}
div.destination_detail_cont div.mate div.mate_box ul.mate_list li.last{margin-right: 0;}
div.destination_detail_cont div.mate div.mate_box ul.mate_list li .con .usercon{height: auto}
div.userpic{float: left}
div.userinfo{float: left;width: 120px;}
div.userinfo em{margin-top: 6px;}
div.calender_box{width: 60px;height: 60px;float:right;text-align:center;color:#fff;background: url("../images/calendar.png") no-repeat}
div.calender_select_box{background: url("../images/calendar_hover.png") no-repeat}
div.calender_box p{font-size: 20px;font-weight: bold;padding-top: 8px;}
div.calender_box span{display: block;font-size: 14px;}

div.destination_detail_cont div.activity{overflow: hidden;zoom: 1;}
div.destination_detail_cont div.activity div.fl{width: 64px;height: 58px;background: #219bd9;border-bottom-left-radius: 48px;border-top-left-radius: 48px;margin-top: 60px;}
div.destination_detail_cont div.activity div.fl span{display: block;width: 48px;height: 48px;background: url("../images/destination_icon.png") no-repeat -2px -77px;margin: 5px 0 0 5px;}
div.destination_detail_cont div.activity div.user_uncollect_box{margin:30px 0 0 30px;}
div.destination_detail_cont div.activity ul{width: 832px;margin: 0 auto;overflow: hidden;zoom: 1;margin-bottom: 10px;}
div.destination_detail_cont div.activity ul li{position:relative;border: 1px solid #eee;width:376px;margin-right: 35px;margin-bottom: 20px;}
div.destination_detail_cont div.activity ul li p.sign{position: absolute;  top: 8px;  right: -9px;  width: 60px;  height: 34px;  color: #fff;  font-size: 14px;  line-height: 25px;  text-align: center;  background: url("../images/sign_bg.png") no-repeat; z-index: 999;}


div.destination_detail_cont div.focus div.club_recommend{width: 792px;margin: 0 auto;margin-top: 30px;}
div.destination_detail_cont div.focus div.club_recommend ul li{margin: 0 40px 30px 0}
div.destination_detail_cont div.focus div.club_recommend ul li.last{margin-right: 0;}
div.destination_detail_cont div.topic{overflow: hidden;zoom: 1;}
div.destination_detail_cont div.topic div.fl{width: 64px;height: 58px;background: #219bd9;border-bottom-left-radius: 48px;border-top-left-radius: 48px;margin-top: 60px;}
div.destination_detail_cont div.topic div.fl span{display: block;width: 48px;height: 48px;background: url("../images/destination_icon.png") no-repeat -2px -299px;margin: 5px 0 0 5px;}
div.destination_detail_cont div.topic div.club_topic_list{width: 872px;margin: 0 auto;margin-top: 30px;}
div.destination_detail_cont div.topic div.club_topic_list li{background: #f4f4f4;}
div.destination_detail_cont div.topic div.club_topic_list li .tag{background: url(../images/tag_c.png) no-repeat;}
/*-------destination detail css end----------*/





/*--------line detail css begin---------*/
div.line_detail_box{position: relative}
div.line_detail_box_lt{width: 847px;margin-top: 20px;float: left;_overflow: hidden}
div.line_detail_title{overflow: hidden;zoom: 1}
div.line_detail_title_sign{float: left}
div.line_detail_title_cont{width: 568px;float: left;margin-left: 10px;}
div.line_detail_title_cont h4{font-size: 24px;font-weight: normal;color: #333}
div.line_detail_title_cont p{color: #999;font-size: 14px;overflow: hidden;zoom: 1;margin-top: 10px;}
div.line_detail_title_cont p span{display: block;line-height: 35px;padding-left: 20px;}
div.line_detail_title_cont p span.line_detail_title_location{float: left;background: url("../images/location_mark.png") no-repeat 0px;margin-right: 20px;}
div.line_detail_title_cont p span.line_detail_title_like{float:left;}

div.line_detail_title_cont span.line_detail_title_go{text-align: left;color: #999;height: 35px;line-height: 35px;padding-left: 21px;}

div.line_detail_title ul{overflow: hidden;zoom: 1;margin-top: 10px;}
div.line_detail_title ul li{float: left;margin-right: 22px;}


div.line_detail_title_code{float: right;margin-top: 15px;text-align: center}
div.line_detail_title_code p{font-size: 14px;color: #999;line-height: 30px;}

div.line_org{overflow: hidden;margin-top: 15px;}
div.line_collect_btn{float: left;font-size: 14px;background: url("../images/line_icon.png") no-repeat -4px -168px; margin-top: 5px;margin-left: 25px;}
div.yellow_xin{background: url("../images/yellow_xin.png") no-repeat 0 center;}
div.line_collect_btn a{display:block;color: #999;padding-left: 30px;}
div.line_collect_btn a span{display: block}

div.line_detail_organizer{float:right;width:731px;background: #eee;overflow: hidden;zoom: 1;}
div.line_detail_organizer_lt{float: left;width: 365px;color: #999;text-align: center;padding: 15px 0;}

div.line_detail_organizer_lt h4{font-size:16px;font-weight: normal;color: #666;}




div.line_detail_organizer_rg{width: 365px;float: right;border-left:1px solid #fff;text-align: center;padding: 15px 0;}

div.line_detail_organizer_rg h4{font-size:16px;font-weight: normal;color: #666;}


div.line_detail_info{margin-top: 15px;word-wrap:break-word;/*word-break:break-all*/line-height: 30px}

div.line_detail_info p{padding: 0 8px;text-align: left}

div.line_detail_info p img{max-width:100%}

div.line_detail_info_top{overflow: hidden;zoom: 1}
div.line_detail_info_top ul li{float:left;width: 120px;margin-right: 1px;text-align: center  }
div.line_detail_info_top ul li.line_detail_list_selected a{background: #27aeec;border-radius: 10px;color: #fff;}
div.line_detail_info_top ul li a{font-size:16px;color: #666;display: block;height: 48px;line-height:48px;border-bottom:2px solid #27aeec}
div.line_detail_info_cont div.section-wrapper{padding-top:50px;overflow: hidden;zoom: 1;}
div.line_detail_info_cont div#huodong{padding-top: 0;}
div.line_detail_info_cont div.section-wrapper h2{border-bottom: 1px solid #f4f4f4;height: 22px;}
div.line_detail_info_cont div.section-wrapper h2 span{display:block;width:94px;height:45px;line-height:45px;text-align:center;background: #219bda;font-size: 16px;font-weight: normal;color: #fff;border-radius: 10px;}
div.line_detail_info_cont div.section-wrapper div.section{padding-left:120px;padding-top:23px;font-size: 14px;color:#666;line-height: 30px;}
div.line_detail_info_cont div#huodong div.section{margin-top: 0}

div.line_detail_info_cont div.section-wrapper div.section p{text-align: left;}
div.line_detail_info_cont div.section-wrapper div.section img{margin: 15px 0}
div.line_detail_info_cont div#section-3 div.section img{margin: 0}
div.line_detail_info_cont div.section-wrapper div.routing{height:auto!important; height:100px; min-height:100px;margin-top: 22px;margin-left:45px;padding:30px 0;border-left:2px solid #f4f4f4;}

div.line_detail_info_cont div.section-wrapper div.routing h4{height:60px;font-size: 20px;color: #333;font-weight: normal;clear:both}
div.line_detail_info_cont div.section-wrapper div.routing h4 span{display: block;float:left;width: 60px;height: 60px;font-size:20px;color:#fff;text-align:center;line-height:60px;background: #219bda;border-radius: 60px;margin-left: -30px;}
div.line_detail_info_cont div.section-wrapper div.routing div.section{padding-left: 80px;}
div.line_detail_info_cont div.section-wrapper div.routing h4 p{width: 720px;line-height:60px;float: right}

div.line_detail_yinan{clear: both;overflow: hidden;zoom: 1;margin-bottom:15px}
div.line_detail_yinan div.line_detail_yinan_up{overflow: hidden;zoom: 1;margin:10px 0;}

div.line_detail_yinan div.line_detail_yinan_up div.line_detail_yinan_up_lt{float: left;}
div.line_detail_yinan div.line_detail_yinan_up div.line_detail_yinan_up_lt img{vertical-align: bottom;border-radius: 80px;}
div.line_detail_yinan div.line_detail_yinan_up div.line_detail_yinan_up_rg{width:610px;float: left;margin: 10px 0 0 15px}
div.line_detail_yinan div.line_detail_yinan_up div.line_detail_yinan_up_rg p{font-size:14px;line-height:25px;overflow: hidden;zoom: 1}
div.line_detail_yinan div.line_detail_yinan_up div.line_detail_yinan_up_rg p span{display:block;float: left;color: #666;}
div.line_detail_yinan div.line_detail_yinan_up div.line_detail_yinan_up_rg p em{display:block;float: right;font-style:normal;color: #999;}
div.line_detail_yinan div.line_detail_yinan_up div.line_detail_yinan_up_rg p.line_detail_yinan_up_rg_pro{font-size: 16px;display: inline;}
div.line_detail_yinan div.line_detail_yinan_up div.line_detail_yinan_up_rg p.line_detail_yinan_up_rg_pro em{display: block;float:left;color: #f1a400;font-weight: bold;font-size: 24px;}


div.line_detail_yinan_down{overflow: hidden;clear: both;margin-bottom: 15px;}
div.line_detail_yinan_down_lt{float: left;width:445px;margin-left:95px;_margin-left:40px;background: #f4f4f4;border-radius: 10px;padding: 10px;}
div.line_detail_yinan_down_lt p{float: left}
div.line_detail_yinan_down_lt div{float: right;margin-right: -20px}
div.line_detail_yinan_down_rg{display:block;width:110px;float: right;height:45px;line-height:45px;text-align:center;background: #219bd9;color:#fff;border-radius: 10px;}

div.line_detail_yinan_page{overflow: hidden;zoom: 1;margin: 25px 0;}
div.line_detail_yinan_page ul{float: right}
div.line_detail_yinan_page ul li{float: left;font-size: 14px;width: 45px;height:45px;line-height: 45px;margin-left: 10px;text-align: center;}
div.line_detail_yinan_page ul li a{display: block;background: #f4f4f4;color: #999;}
div.line_detail_yinan_page ul li a:hover{background: #219bd9;color: #fff;}
div.line_detail_yinan_page ul li.line_detail_page_selected a{background: #219bd9;color: #fff;}
div.line_detail_yinan_txt{overflow: hidden;zoom: 1;margin-bottom: 20px;/*height:130px;*/position:relative;margin-left: 55px;}
div.line_detail_yinan_txt textarea{width: 584px;height: 108px;float: left;border:1px solid #f4f4f4;padding:10px;border-radius: 10px;color: #999;font-size: 14px;resize: none}

div.line_detail_yinan_txt input{cursor:pointer;font-size:16px;border:0;background: #219bd9;color: #fff;height: 45px;line-height: 45px;margin-top:10px;padding: 0 15px;/*position:absolute;top:83px;left:630px;*/border-radius: 10px;}

div.line_detail_long_nav{position: fixed;display:none;width:100%;background: #000;left: 0;overflow: hidden;padding-top: 9px;text-align: center;top: 0;opacity: .7;filter:alpha(opacity=70)}
#line_nav {width: 840px;margin: 0 auto}
#line_nav li {width: 120px;float: left;height: 60px;line-height: 60px}
#line_nav a {background: #000;color: #fff;display: block;}
#line_nav a:hover {background: none;color: #dedede;}
#line_nav .current a {background: #fff;color: #000;}

div.line_detail_other h2{height: 10px;border-bottom: 1px solid #f4f4f4;margin: 20px 0}
div.line_detail_other h2 span{display: block;width:240px;text-align:center;font-size: 16px;color:#666;font-weight: normal;background:#fff;margin: 0 auto}
div.line_detail_other ul{width:878px;overflow: hidden;margin-right:8px;}
div.line_detail_other ul li{float: left;position: relative;width:267px;margin-bottom: 10px;}
div.line_detail_other ul li div.index_line_pic img{width: 267px;}
div.line_detail_other ul li p.line_cover_bg{display:none;position: absolute;left:0;top:0;width: 100%;height: 134px;background: #333;opacity:.6;filter:alpha(opacity=60);z-index: 99}
div.line_detail_other ul li p.line_cover_txt{display:none;position: absolute;left:0;top:0;width: 267px;height: 98px;color:#fff;text-align: center;z-index: 990;padding-top: 40px;}
div.line_detail_other ul li p.line_cover_txt span{display: block}
div.line_detail_other ul li p.line_cover_txt span a{color: #fff;text-decoration: none;display: block;width: 100%;}
div.line_detail_other ul li p.line_cover_txt span.line_entry_btn{width:135px;height:32px;line-height:32px;border:1px solid #fff;margin:0 auto;border-radius: 5px;margin-bottom: 10px;}
div.line_detail_other ul li p.line_cover_txt span img{width: 20px;margin: -2px 5px 0 0;}
div.line_detail_other ul li.center_list{margin: 0 21px;}
div.line_detail_other ul li a.index_line_title{display:block;color: #333;line-height:35px;}
div.line_detail_other ul li a:hover{text-decoration: underline}
div.line_detail_other ul li p.sign_bg{position:absolute;top:8px;right:-9px;width: 60px;height: 34px;color:#fff;font-size:14px;line-height:25px;text-align:center;background: url("../images/sign_bg.png") no-repeat;z-index: 999}
div.line_detail_other p.index_line_price{position:absolute;right:0;top:96px;width: 95px;height: 38px;text-align: center;line-height: 38px;color: #fff;background: #333;opacity: .6;filter:alpha(opacity=60);}

div.line_detail_other p.line_detail_other_like{position:absolute;left:10px;top:100px;width: 95px;height: 38px;text-align: center;line-height: 38px;color: #fff;background:url("../images/line_icon.png") no-repeat -4px -245px;}

div.line_detail_box_rg{position:relative;width: 302px;height:1000px;float: right;}
div.line_detail_box_rg_bg{position:fixed;_display:none;width: 302px;height:500px;background: #000;border-radius: 10px;opacity: .7;filter:alpha(opacity=70);top:75px}
div.line_detail_box_rg_box{position:fixed;width: 262px;_height:500px;padding: 0 15px;top:100px;_background:#4d4d4d;}
div.line_detail_box_rg_box p{font-size: 13px;color: #f1a400;text-align: right}
div.line_detail_rg_top{overflow: hidden;zoom: 1;margin: 22px 0}

/**线路评论**/
div.line_detail_comment_box{float:left;margin-top:30px;width:847px;}

div.line_detail_rg_top div.line_detail_rg_top_lt{float: left}
div.line_detail_rg_top div.line_detail_rg_top_lt h4{font-size:20px;font-weight: normal;color: #fff;line-height: 40px;}
div.line_detail_rg_top div.line_detail_rg_top_lt ul li{float: left}

div.line_detail_rg_top_rg{float: right;color: #f1a400;text-align: right}
div.line_detail_rg_top_rg h4{font-size: 30px;}
div.line_detail_rg_top_rg p{font-size: 20px;text-decoration: line-through}
div.line_detail_rg_address{overflow: hidden;zoom:1;margin: 20px 0}
div.line_detail_rg_address div.line_detail_rg_address_lt{float: left;width: 114px;height: 74px;border:1px solid #f1a400;border-radius: 10px;}
div.line_detail_rg_address div.line_detail_rg_address_lt h4{font-size:14px;color:#fff;font-weight:normal;text-align:center;height: 34px;line-height: 34px;background: #f1a400;border-top-left-radius: 9px;border-top-right-radius: 9px;}
div.line_detail_rg_address div.line_detail_rg_address_lt h4 span{background: url("../images/line_icon.png") no-repeat -4px -108px;padding: 0 15px;}
div.line_detail_rg_address div.line_detail_rg_address_lt p{text-align: center;line-height: 40px;font-size: 16px;}
div.line_detail_rg_address div.line_detail_rg_address_center{float: left;width: 20px;height:37px;border-bottom: 1px dashed #f1a400}
div.line_detail_rg_address div.line_detail_rg_address_rg{float: left;width: 114px;height: 74px;border:1px solid #f1a400;border-radius: 10px;}
div.line_detail_rg_address div.line_detail_rg_address_rg h4{font-size:14px;color:#fff;font-weight:normal;text-align:center;height: 34px;line-height: 34px;background: #f1a400;border-top-left-radius: 9px;border-top-right-radius: 9px;}
div.line_detail_rg_address div.line_detail_rg_address_rg h4 span{background: url("../images/line_icon.png") no-repeat -4px -108px;padding: 0 15px;}
div.line_detail_rg_address div.line_detail_rg_address_rg p{text-align: center;line-height: 40px;font-size: 16px;}

div.line_contact{position: fixed;_position:static;width: 300px;height: 78px;background: #f4f4f4;border: 1px solid #eee;;border-right:0;bottom: 60px;}
div.line_contact ul li{float: left;width: 129px;padding:20px 10px;height:38px;text-align: center;border-right: 1px solid #eee}
div.line_contact ul li img{float: left}

div.line_contact ul li a{display: block;width:80px;font-size:14px;color:#999;float: left;height: 36px;}
div.line_detail_num{overflow: hidden;zoom: 1;}
div.line_detail_num div.line_detail_num_lt{width: 182px;height: 10px;background: #636363;border-bottom-left-radius: 10px;border-top-left-radius: 10px;float: left;margin-top: 14px;}
div.line_detail_num div.line_detail_num_lt p{width: 60%;background:#f1a400;height: 10px;_overflow:hidden;border-radius: 10px; }
div.line_detail_num div.line_detail_num_lt p span{display:block;float:right;width:30px;height:30px;line-height:30px;text-align:center;background:#f1a400;color: #fff;font-size: 14px;border-radius: 30px;margin-top: -10px;}
div.line_detail_num div.line_detail_num_rg{float: right;width: 80px;height: 35px;line-height:35px;text-align: center;font-size: 16px;color: #fff;background: #f1a400;border-radius: 10px;}
div.line_detail_rg_form ul li{height: 36px;line-height: 36px;font-size: 14px;margin-bottom: 18px;}
div.line_detail_rg_form ul li span{display: block;float: left;color: #fff;width:65px;}
div.line_detail_rg_form ul li span.period-date{width:85px;}
div.line_detail_rg_form ul li em{float:left;font-style: normal;margin-right:0px;}
div.line_detail_rg_form ul li input{width:160px;height:34px;line-height:34px;color:#fff;background:none;border:1px solid #fff;border-radius: 5px;padding-left: 10px;}

div.line_detail_rg_form div.selectnav{background: none;width: auto}
div.line_detail_rg_form div.selectnav h4{font-weight: normal;overflow: hidden}
div.line_detail_rg_form div.selectnav p{float: left;  color: #fff;  margin-right: 20px;}
div.line_detail_rg_form div.selectnav cite{width: 140px;padding-right:20px;  height: 34px; line-height: 34px;  color: #fff;  border: 1px solid #fff;  border-radius: 5px; float: left;margin-left: 6px;background: url(../images/jt.png) no-repeat 148px 9px;}
div.line_detail_rg_form div.selectnav ul{border: 0;margin-left: 64px;}
div.line_detail_rg_form div.selectnav ul li{background: #fff;margin: 0;width:156px;}
div.line_detail_rg_form div.selectnav ul li a{width: 134px;}
div.line_detail_rg_form div.selectnav ul li p{color: #666;margin: 0;width:146px;}
div.line_detail_rg_form div.selectnav ul li p span{color: #666}
div.line_detail_rg_form div.selectnav ul li div{color: #666;clear: both}

div.line_detail_rg_form ul li div.line_detail_rg_date{position: relative;float: left}
div.line_detail_rg_form ul li div.line_detail_rg_date h4{width:150px;height:34px;color:#fff;font-weight:normal;border:1px solid #fff;overflow:hidden;border-radius: 5px;padding-left: 10px;}
div.line_detail_rg_form ul li div.line_detail_rg_date h4 span{display: inline;float: inherit;padding-left: 10px;}
div.line_detail_rg_form ul li div.line_detail_rg_date dl{display:none;position:absolute;width:160px;background: #fff;z-index:1000;}
div.line_detail_rg_form ul li div.line_detail_rg_date dl dd{border-bottom: 1px solid #e5e5e5}
div.line_detail_rg_form ul li div.line_detail_rg_date dl dd p,div.line_detail_rg_form ul li div.line_detail_rg_date dl dd div{text-align: center;color: #666;height: 34px;line-height: 34px}
div.line_detail_rg_form ul li div.line_detail_rg_date dl dd p span,div.line_detail_rg_form ul li div.line_detail_rg_date dl dd div span{color: #666;display: inline;float: none;padding-left: 10px;}

div.line_detail_rg_form ul li div.line_detail_rg_help{position: relative;float: right;top:-36px;left:10px;}
div.line_detail_rg_form ul li div.line_detail_rg_help a{display:block;width:27px;height: 27px;background: url('../images/line_icon.png') no-repeat -4px -138px;margin-top: 5px;}
div.line_detail_rg_form ul li div.line_detail_rg_help a:hover{background: url('../images/line_icon.png') no-repeat -37px -138px;}
div.line_detail_rg_form ul li div.line_detail_rg_help p{display:none;position: absolute;width:152px;height:48px;right:0;top:40px;background:#219bda;text-align:center;line-height:48px;color:#fff;z-index: 999}

div.line_detail_people{overflow: hidden;color: #fff;zoom:1;margin: 22px 0}
div.line_detail_people span{display: block;float: left;color: #fff;margin-right: 22px;font-size: 14px;line-height: 36px;}
div.line_detail_people ul{border: 1px solid #fff;height:34px;border-radius: 5px;overflow: hidden}
div.line_detail_people ul li{float: left}
div.line_detail_people ul li a{display: block;color:#fff;width:40px;text-align:center;float: left}
div.line_detail_people ul li input{width:110px;border: 0;text-align: center;border-left:1px solid #fff;border-right:1px solid #fff;border-radius: 0}
div.line_detail_box_rg_box div.line_detail_rg_form p{text-align: center;}
div.line_detail_btn input{width: 100%;font-size:20px;color:#fff;height: 40px;line-height: 40px;border-radius:10px;cursor:pointer;background: #f1a400;text-align: center;margin-top: 22px;}
div.line_detail_btn input.apply_disabled{background: #ccc;cursor: default}

/*--------line detail css end---------*/

/*--------user css begin---------*/

div.user_info_box{width: 1170px;margin: 0 auto;}
div.user_box_lt{position:relative;width: 276px;height: 984px;margin-top: -240px;_margin-top:-280px;float: left;margin-bottom: 100px;}
div.user_box_lt_bg{position:absolute;width:100%;height:984px;background: #000;opacity:.7;filter:alpha(opacity=70);border-radius: 10px;top:50px;}
div.user_box_lt_cont{position:absolute;width:100%;}
div.user_box_lt_header{text-align: center;}
div.user_box_lt_header img{width: 140px;height: 140px;border-radius: 140px;}
div.user_box_lt_header h4{font-size: 16px;color: #f4f4f4;font-weight: normal;line-height: 50px;}
div.user_box_lt_header h4 img{width: 20px;height: 20px;margin: -2px 0px 0px 10px;}
div.user_level{width:258px;margin:0 auto;overflow: hidden;zoom: 1}
div.user_level div.user_level_lt{float: left;margin-top: 13px;}
div.user_level div.user_level_rg{float: left;font-size:16px;color:#fff;width: 79px;height: 35px;line-height:35px;background: #f1a400;text-align: center;border-radius: 10px;}
div.user_level_lt_top{width: 179px;height: 10px;background: #636363;border-bottom-left-radius: 10px;border-top-left-radius: 10px;}
div.user_level_lt_top h4{width:60%;height:10px;overflow:hidden;background: #f1a400;border-bottom-left-radius: 10px;border-top-left-radius: 10px;}
div.user_level_lt_bottom{padding: 20px 0;}
div.user_level_lt_bottom p{font-size: 16px;color: #f4f4f4;float: left}
div.user_level_lt_bottom a{margin-left: 15px;}
div.user_box_lt_cont ul{width:255px;margin: 0 auto;margin-top: 30px;}
div.user_box_lt_cont ul li{width: 255px;height:50px;border-bottom: 1px dashed #5a5a5a;line-height: 50px;vertical-align: bottom}
div.user_box_lt_cont ul li.user_left_current a{background: #219bd9}
div.user_box_lt_cont ul li a{display: block;font-size: 16px;color: #fff;padding-left: 75px;}
div.user_box_lt_cont ul li a:hover{background: #219bd9}

div.user_box_rg{width: 850px;float: right;margin-top: 20px;padding-bottom: 50px;}
div.user_box_rg div.set_con{padding: 0}
div.user_box_rg div.set_con dl dd a.change_btn{padding: 6px 14px 10px 14px; color:#fff;background: #ccc;margin-left: 15px;border-radius:10px;}
div.user_box_rg div.set_con dl dd a.change_btn:hover{background: #f1a400}
/*user info begin*/

div.user_box_rg div.content {padding: 40px }
form.user_info_form ul li{min-height: 36px;_height:36px;clear: both;margin-bottom: 20px;}
form.user_info_form ul li.club,form.user_info_form ul li.cover,form.user_info_form ul li.profile{height: 120px;}
form.user_info_form ul li span{display: block;float: left;margin-right: 15px;}
form.user_info_form ul li span.user_info_form_lt{width: 120px;color:#666;height:36px;line-height:36px;text-align: right}
form.user_info_form ul li span.user_info_form_rg{width: 600px}
form.user_info_form ul li span.user_info_form_rg em{font-size: 13px;color: #999;font-style: normal;padding-left: 10px;}
form.user_info_form ul li span.user_info_form_rg div.selectnav{width: 110px;float: left;margin-right: 10px;}
form.user_info_form ul li span.user_info_form_rg div.selectnav h4{width: 110px;height:36px;line-height:36px;font-size: 14px;font-weight: normal;color: #999;background: #fff}
form.user_info_form ul li span.user_info_form_rg div.selectnav h4 p{float: left;height: 30px;line-height: 30px;margin-top: 3px;padding: 0 5px;border-right: 1px solid #eee;}
form.user_info_form ul li span.user_info_form_rg div.selectnav h4 cite{float:left;width:78px;padding-left:5px;}
form.user_info_form ul li span.user_info_form_rg div.selectnav ul li{margin: 0}
form.user_info_form ul li span.user_info_form_rg div.selectnav ul li a{font-size:14px;background: #fff;width: 80px;color: #999;padding:0;padding-left:10px;margin: 0}
form.user_info_form ul li span.user_info_form_rg div.selectnav ul li a:hover{background: #ccc;color: #666}
form.user_info_form ul li span input{width: 230px;height: 36px;line-height: 36px;}
form.user_info_form ul li span a{margin-left:10px;font-size: 16px;color: #fff;background: #ccc;padding: 5px 10px;}
form.user_info_form ul li a.add_pic{display:block;width: 120px;  height: 120px;  background: url(../images/add_pic.png);float:left;padding:0;margin: 0}
form.user_info_form ul li span.add_pic_need{font-size: 13px;color: #999;float: left;padding-top: 100px}
form.user_info_form ul li span textarea{width: 440px;height: 36px;line-height: 36px;resize: none}
form.user_info_form ul li span textarea.club_profile{width:420px;height: 90px;color: #999;font-size: 14px;padding: 10px;}
form.user_info_form ul li.user_form_address span p{width: 440px;font-size:13px;color: #999;line-height: 25px;padding-top: 10px;}
form.user_info_form ul li.user_form_love dl{width:620px;overflow: hidden;zoom: 1}
form.user_info_form ul li.user_form_love dl dd{float: left;margin:0px 40px 15px 0px;cursor:pointer;text-align:center;font-size: 14px;color: #666;padding: 6px 6px 4px 6px;border:1px solid #f4f4f4}
form.user_info_form ul li.user_form_love dl dd.user_form_select{border:1px solid #f1a400}
form.user_info_form ul li.user_form_love dl dd p{line-height: 30px;}
form.user_info_form a.user_form_btn{clear:both;display:block;width: 178px;font-size:16px;height: 36px;line-height: 36px;background: #219bd9;text-align:center;color: #fff;margin-left: 135px;cursor: pointer}
form.user_info_form a.user_form_btn:hover{background:#f1a400;}
form.user_info_form ul li.user_form_sex input{width: 18px;height: 18px;margin-right: 6px;}
form.user_info_form ul li.user_form_sex label{margin-right: 20px;}

form.user_info_form ul li.user_form_city center{width: 110px;float: left;margin-right: 10px;}
form.user_info_form ul li.user_form_city center h4{font-size:14px;font-weight:normal;background: #fff;height: 36px;line-height: 36px;}
form.user_info_form ul li.user_form_city center h4 p{color: #ccc;width: 34px;height:28px;margin-top:4px;line-height:28px;border-right: 1px solid #f4f4f4;float: left;}
form.user_info_form ul li.user_form_city center dl{position:absolute;display:none;width:108px;height: 165px;background:#fff;overflow-y: scroll;}
form.user_info_form ul li.user_form_city center dl dd{font-size:14px;color:#ccc;height: 32px;text-align:left;line-height:32px;border-bottom: 1px dashed #f4f4f4;cursor: pointer;padding: 0 6px;}
form.user_info_form ul li.user_form_city center dl dd.user_form_city_selected{background: #ccc;color: #666;}
/*user info end*/

/*user header begin*/
div.user_header{padding-top: 40px;}
div.user_header_top{width: 440px;margin: 0 auto;text-align: center}
div.user_header_top img{width: 140px;height: 140px;border: 10px solid #eee}
div.user_header_top p{color: #999;font-size: 14px;line-height: 40px;}
div.user_header_top a.btn_blue{margin: 0 auto;margin-top: 30px;}

div.user_header_top input{width: 179px;height: 36px;margin-top: -36px;opacity: 0;filter:alpha(opacity=0);cursor: pointer}

div.user_header_bottom{margin-top: 60px;overflow: hidden;zoom: 1}
div.user_header_bottom_lt{float: left}
div.user_header_bottom_rg{float: left;margin: 50px 0px 0px 50px;_margin:50px 0px 0px 30px;}
div.user_header_bottom_rg ul li{float: left;height: 140px;margin-right: 20px}
div.user_header_bottom_rg ul li img{vertical-align: bottom}
div.user_header_bottom_rg ul li.user_header_big img{width: 140px;height: 140px;}
div.user_header_bottom_rg ul li.user_header_medium img{width: 120px;height: 120px;margin-top: 20px;}
div.user_header_bottom_rg ul li.user_header_small img{width: 80px;height: 80px;margin-top: 60px;}
div.user_header_bottom_rg ul li.user_header_smaller img{width: 48px;height: 48px;margin-top: 92px;}
div.user_header_bottom_pic{overflow: hidden}
div.user_header_bottom_btn{clear: both;overflow: hidden;zoom: 1;text-align: center;margin-top: 30px;margin-left: 285px;}
div.user_header_bottom_btn a{float: left}
div.user_header_bottom_btn a.btn_gray{margin-left: 25px;}

/*user header end*/


/*user account begin*/
body#user{background: #f4f4f4;position: relative}
div.user_account{padding: 40px;}
div.user_account ul li a{float:left;margin-left: 10px;}
div.user_account ul li.user_account_unbind{overflow: hidden;zoom: 1;margin-bottom: 20px;font-size: 16px;}
div.user_account ul li.user_account_unbind span{display:block;width:140px;float:left;text-align:right;color: #666;height: 36px;line-height: 36px;}
div.user_account ul li.user_account_unbind input{width: 230px;float: left;margin-left: 25px;height: 36px;line-height: 36px;}

div.user_account ul li.user_account_bind{overflow: hidden;zoom: 1;margin-bottom: 20px;font-size: 14px;color: #666}
div.user_account ul li.user_account_bind span{display:block;width:140px;font-size: 16px;float:left;text-align:right;color: #666;height: 36px;line-height: 36px;}
div.user_account ul li.user_account_bind p{float: left;width: 230px;margin-left: 25px;height: 36px;line-height: 36px;}
div.user_account ul li.user_account_bind div{float: left;margin-left: 10px;}
div.user_account ul li.user_account_bind div img{margin-right: 10px;}

div.user_account_phone_form ul li{overflow: hidden;zoom: 1;margin-bottom: 20px}
div.user_account_phone_form ul li span{display:block;width:140px;float:left;text-align:right;color: #666;height: 36px;line-height: 36px;}
div.user_account_phone_form ul li input{width: 230px;float: left;margin-left: 25px;height: 36px;line-height: 36px;}
div.user_account_phone_form ul li p{font-size: 13px;color: #999;padding: 2px 0px 15px 165px;}

div.user_account_phone_form ul li a.count_down{display: none}
div.user_account_phone_btn a{float: left}
div.user_account_phone_btn a.bind_btn{margin-left: 165px;_margin-left:82px}
div.user_account_phone_btn a.cancel_btn{margin-left: 20px;}

div.user_account_sign{display:none;position:absolute;left:50%;margin-left:-200px;top:50%;text-align:center;margin-top:-100px;width: 400px;height: 300px;background: #fff;z-index: 1999;}
div.user_account_sign h4{height: 30px;margin-bottom: 25px;}
div.user_account_sign h4 img{float: right;cursor: pointer}
div.user_account_sign p{color: #999;font-size: 14px;margin-top: 25px;}
div.user_account_sign input{width: 178px;font-size:16px;height: 36px;line-height: 36px;background: #219bd9;color: #fff;margin-top: 40px;}

div.user_account_bind_box{display:none;position:absolute;left:50%;margin-left:-200px;top:50%;text-align:center;margin-top:-100px;width: 400px;height: 300px;background: #fff;z-index: 1999;}
div.user_account_bind_box h4{height: 30px;margin-bottom: 25px;}
div.user_account_bind_box h4 img{float: right;cursor: pointer}
div.user_account_bind_box p{color: #999;font-size: 14px;margin-top: 25px;}
div.user_account_bind_box input{width: 178px;font-size:16px;height: 36px;line-height: 36px;background: #219bd9;color: #fff;margin-top: 40px;}
/*user account end*/

/*user password begin*/

div.user_box_rg div.user_password{padding: 40px;}
div.user_password h4{font-size:13px;color: #999;font-weight: normal;}
div.user_password h4 img{margin-right: 20px;}
div.user_password ul{margin-top: 40px;}
div.user_password ul li{overflow: hidden;zoom: 1;margin-bottom: 20px;}
div.user_password ul li span{font-size: 16px;height:36px;line-height:36px;color: #666;display: block;width: 120px;float: left;text-align: right;margin-right: 26px;}
div.user_password ul li input{width: 230px;height: 36px;line-height: 36px;background: #fff;}
div.user_password ul li a{margin: 20px 0px 0px 149px;}
div.user_password p{font-size: 16px;color:#666;padding: 35px 0}
div.user_password div.user_pw_phone{display: block;width:100px;font-size: 13px;color: #999;}
div.user_password div.user_pw_phone a{display:block;width: 80px;height: 80px;background: url("../images/user_pw_phone.jpg") no-repeat;}
div.user_password div.user_pw_phone a:hover{background: url("../images/user_pw_phone_hover.png") no-repeat}
div.user_password div.user_pw_phone span{display: block;line-height: 30px;}

/*user password end*/

/*user pay begin*/
div.user_pay_box{padding: 30px 40px;}
div.user_pay_status h4{overflow: hidden;zoom: 1;font-size: 16px;color: #666;font-weight: normal;line-height: 80px}
div.user_pay_status h4 img{float: left}
div.user_pay_status h4 p{float: left;margin-left: 26px;font-size: 16px;color: #666;}
div.user_pay_status h4 p span{margin-left: 50px;}
div.user_pay_status p{font-size: 13px;color: #999;margin-left: 106px;}
div.user_pay_status a{margin: 40px 0px 0px 106px;}

div.user_pay_btn{overflow: hidden;zoom: 1}
div.user_pay_btn a{float: left}
div.user_pay_btn a.get_back_link{background: none;color: #999;font-size: 13px;line-height: 36px;margin-left: 10px;}

div.user_pay_set ul li{overflow: hidden;zoom: 1;font-size:16px;color:#666;margin-bottom: 20px;height: 36px;line-height: 36px;}
div.user_pay_set ul li span{display:block;width:120px;float:left;text-align:right;margin-right: 10px;}
div.user_pay_set ul li input{width: 190px;padding-left: 10px;height: 36px;line-height: 36px;float: left;}
div.user_pay_set ul li div{float: left;}
div.user_pay_set ul li div img{float: left;margin: 0 15px;}
div.user_pay_set ul li div em{font-style: normal;}
div.user_pay_set ul li p{float: left;width: 200px;margin-right: 10px;}
div.user_pay_set ul li a.get_code{float:left;margin-left: 10px;}

div.user_pay_set ul li div.count_down{width: 425px;height:36px;font-size: 14px;}
div.user_pay_set ul li div.count_down a{float:left;}

div.user_pay_set a{margin-left: 130px;}

div.user_pay_back h4{overflow: hidden;zoom: 1;font-size: 16px;color: #666;font-weight: normal;line-height: 80px}
div.user_pay_back h4 img{float: left}
div.user_pay_back h4 p{float: left;margin-left: 26px;font-size: 16px;color: #666;}
div.user_pay_back ul{overflow: hidden;zoom: 1}
div.user_pay_back ul li{margin-bottom: 20px;font-size: 16px;color: #666;height: 36px;line-height: 36px;}
div.user_pay_back ul li span{display:block;width:100px;float:left;text-align:left;}
div.user_pay_back ul li p{font-size: 14px;float: left;width: 200px;}
div.user_pay_back ul li a.get_code{display: block;float:left;width: 178px;height: 36px;font-size: 16px;color: #fff;text-align: center;background: #219bd9;border-radius: 10px;margin-left: 10px;}
div.user_pay_back ul li a.get_code:hover{background:#f1a400}
div.user_pay_back ul li div{overflow: hidden;zoom: 1;display: none}
div.user_pay_back ul li div a{display:block;float:left;width: 178px;height: 36px;font-size: 16px;color: #fff;text-align: center;background: #219bd9;border-radius: 10px;margin-left: 10px; }
div.user_pay_back ul li div a:hover{background:#f1a400}
div.user_pay_back ul li div img{float: left;margin: 0 20px;}
div.user_pay_back ul li div p{float: left;width: auto}
div.user_pay_back ul li input{width: 190px;height: 36px;padding-left: 10px;}
div.user_pay_back a.submit_btn{margin-left: 100px;}

div.user_pay_back ul.user_code_success span{width: 120px;text-align: right;margin-right: 10px;}
div.user_pay_back a.modify_success_btn{margin-left: 130px;}
div.user_pay_back a.code_success_submit{margin-left: 130px;}


/*user pay end*/

/*user focus begin*/
div.user_focus_title ul{overflow: hidden;zoom:1}
div.user_focus_title ul li{float: left;width: 410px;height: 60px;line-height: 60px;text-align:center;background: #ccc;margin-right: 10px;}
div.user_focus_title ul li.selectTag{background: #f1a400}
div.user_focus_title ul li a{font-size:20px;color: #fff;}
div.user_focus_title ul li{}
div.user_focus_content div.tagContent{display: none;padding: 40px;}
div.user_focus_content div.selectTag{display: block}
div.user_focus_uncollect{text-align: center}
div.user_focus_uncollect div.usera_focus_uncollect_sign{padding: 20px 0 60px 0}
div.user_focus_uncollect p{font-size: 16px;color: #666;line-height: 30px;}
div.user_focus_uncollect h4{font-size: 16px;color: #666;font-weight: normal}
div.user_focus_uncollect ul{width:674px;margin:0 auto;margin-top:30px;overflow: hidden;zoom: 1}
div.user_focus_uncollect ul li{margin-right: 100px;float: left;text-align: center}
div.user_focus_uncollect ul li.user_focus_last{margin-right: 0;}
div.user_focus_uncollect ul li{position: relative}
div.user_focus_uncollect ul li div.user_focus_header img{width: 120px;height: 120px;border-radius: 120px;}
div.user_focus_uncollect ul li div.user_focus_sex{position: absolute;right: 20px;top:95px;}
div.user_focus_uncollect ul li p{font-size: 16px;color: #666;line-height: 40px;}
div.user_focus_btn{width:157px;overflow: hidden;zoom: 1}
div.user_focus_btn a{display:block;width:74px;height:22px;line-height:22px;font-size: 14px;color: #f4f4f4;background: #219bd9;border-radius: 5px;}
div.user_focus_btn a:hover{background: #f1a400}
/*-------我关注的户外达人------*/
div.user_focus_huwai ul{width:674px;margin:0 auto;margin-top:30px;overflow: hidden;zoom: 1}
div.user_focus_huwai ul li{margin-right: 100px;float: left;text-align: center}
div.user_focus_huwai ul li.user_focus_last{margin-right: 0;}
div.user_focus_huwai ul li{position: relative;margin-bottom: 35px;}
div.user_focus_huwai ul li div.user_focus_header img{width: 120px;height: 120px;border-radius: 120px;}
div.user_focus_huwai ul li div.user_focus_sex{position: absolute;right: 20px;top:95px;}
div.user_focus_huwai ul li p{font-size: 16px;color: #666;line-height: 40px;}
div.user_focus_huwai div.user_focus_btn{width:157px;overflow: hidden;zoom: 1}
div.user_focus_huwai div.user_focus_btn a{display:block;width:74px;height:22px;line-height:22px;font-size: 14px;color: #f4f4f4;background: #219bd9;border-radius: 5px;}
div.user_focus_huwai div.user_focus_btn a:hover{background: #f1a400}
/*-------我关注的旅友*/
div.user_focus_lvyou ul{overflow: hidden;zoom: 1}
div.user_focus_lvyou ul li{float: left;margin-right:70px;margin-bottom: 30px;overflow: hidden;zoom:1}
div.user_focus_lvyou ul li.user_focus_last{margin-right: 0}
div.user_focus_lvyou ul li div.user_focus_lvyou_header{float: left}
div.user_focus_lvyou ul li div.user_focus_lvyou_header img{width: 80px;height: 80px;border-radius: 80px;}
div.user_focus_lvyou ul li div.user_focus_lvyou_info{float: left;margin-left: 12px;}
div.user_focus_lvyou ul li div.user_focus_lvyou_info h4{font-size: 16px;color: #666;font-weight: normal;padding-top: 5px;}
div.user_focus_lvyou ul li div.user_focus_lvyou_info p{font-size: 16px;color: #666;padding-top: 10px;}
div.user_focus_lvyou ul li div.user_focus_lvyou_info p span{margin-left: 20px;}
div.user_focus_lvyou ul li div.user_focus_lvyou_info a{display:block;width:74px;height:22px;line-height:22px;text-align:center;margin-top:20px;font-size: 14px;color: #f4f4f4;background: #219bd9;border-radius: 5px;}
div.user_focus_lvyou ul li div.user_focus_lvyou_info a:hover{background: #f1a400}

/*user focus end*/


/*user order begin*/
div.user_order_box{padding-top: 20px;}
div.user_order_top{min-height:36px;_height:36px;}
div.user_order_top div.user_order_date{float: left}
div.user_order_top div.user_order_date span{display: block;float: left;font-size: 16px;color: #666;height: 36px;line-height: 36px;}
div.user_order_top div.user_order_date input{width: 79px;height: 36px;float: left;background: url(../images/date_icon.png) 6px center no-repeat #fff;border-radius: 10px;line-height: 36px;margin-left: 10px;padding-left: 30px;border:0;}
div.user_order_status{float: left;margin-left: 30px;}
div.user_order_status div{width: 125px;float: left;height: 36px;background: #fff}
div.user_order_status span{display: block;float: left;font-size: 16px;color: #666;height: 36px;line-height: 36px;}
div.user_order_status div.user_order_status_select{width: 110px;height: 36px;float: left;background: url(../images/user_select.png) 80px center no-repeat #fff;border-radius: 10px;line-height: 36px;margin-left: 10px;overflow: hidden}

div.user_order_status input{width: 180px;float:left;padding-left: 10px;border-radius: 10px;height: 36px;line-height: 36px;background: #fff;color: #666;margin-left: 10px;}

div.user_order_status a{display: block;width: 66px;color:#fff;border-radius:10px;height: 36px;line-height: 36px;background: #219bd9;text-align: center;float: left;margin-left: 10px;}
div.user_order_status a:hover{background: #f1a400}
div.user_order_status div.selectnav ul{width: 125px;height: 102px;}
div.user_order_status div.selectnav ul a{font-size: 14px;color: #999;width:98px;margin-left: 0; background: none;  text-align: left; border-radius: 0;  float: inherit;  height: 34px;  line-height: 34px;}
div.user_order_status div.selectnav ul a:hover{background: #ccc;color: #666;}
div.user_order_bottom ul li{float: left;}
div.user_order_title{background: #fff;padding: 0 20px;margin:22px 0 10px 0;}
div.user_order_title ul{overflow: hidden;zoom: 1}
div.user_order_title ul li{font-size:16px;color:#999;height: 60px;line-height: 60px;}
div.user_order_info{background: #fff;border:1px solid #fff;overflow: hidden;zoom: 1;margin-bottom: 10px;}
div.user_order_title ul li.user_order_list_one{width: 308px;}
div.user_order_title ul li.user_order_list_two{width: 100px;}
div.user_order_title ul li.user_order_list_three{width: 135px;}
div.user_order_title ul li.user_order_list_four{width: 115px;}
div.user_order_title ul li.user_order_list_five{width: 148px;text-align: right}
ul.user_order_info_t{overflow: hidden;zoom: 1;padding:0 20px;border-bottom: 1px solid #eee}
ul.user_order_info_t li{font-size: 14px;color: #999;height: 40px;line-height: 40px;}
ul.user_order_info_t li.user_order_info_one{width: 308px;}
ul.user_order_info_t li.user_order_info_two{width: 350px;}
ul.user_order_info_t li.user_order_info_three{width: 148px;text-align: right}
ul.user_order_info_t li.user_order_info_three span{display: block;float: right;width: 11px;height: 13px;padding:10px;background-image: url("../images/user_order_delete.png");background-repeat:no-repeat;margin-top:15px;cursor: pointer}
ul.user_order_info_c{overflow: hidden;zoom: 1;padding: 20px;font-size: 14px;color: #666}
ul.user_order_info_c li.user_order_pic{width: 308px;}
ul.user_order_info_c li.user_order_num{width: 100px;}
ul.user_order_info_c li.user_order_price{width: 135px;}
ul.user_order_info_c li.user_order_pay_status{width: 115px;color: #219bd9;}
ul.user_order_info_c li.user_order_pic img{float: left;margin-right: 13px;}
ul.user_order_info_c li.user_order_pic p{width: 140px;float: left;}
ul.user_order_info_c li.user_order_inf_btn{overflow: hidden;zoom: 1;}
ul.user_order_info_c li.user_order_inf_btn div{margin-left: 64px;text-align:center;}

ul.user_order_info_c li.user_order_inf_btn div a{color: #666}
ul.user_order_info_c li.user_order_inf_btn div a.btn_short_blue{color: #fff}


/*user order end*/


/*user order detail begin*/
div.user_order_d{padding-top: 15px;}
div.user_order_d_crumb{font-size: 14px;color: #999}
div.user_order_d_id{font-size: 16px;color: #666;font-weight: bold;padding: 0 20px;background: #fff;height: 60px;line-height: 60px;margin:25px 0 10px 0}
div.user_order_d_info{background: #fff;}
div.user_order_d_info_top{font-size:14px;color:#666;height: 77px;line-height: 77px;border-bottom: 1px solid #eee;padding: 0 20px;}
div.user_order_d_info_top p{float: left;margin-right: 70px;}
div.user_order_d_info_top p span{color: #219bd9}
div.user_order_d_info_top a{margin-top:20px;float: right;}

div.user_order_d_info_bottom{padding:0 20px 20px 20px;}
div.user_order_d_info_bottom h4{border-left: 3px solid #219bd9;font-size: 20px;color: #999;font-weight:normal;margin:20px 0;padding-left: 10px;}
div.user_order_d_info_bottom p{font-size:14px;color:#219bd9;padding-bottom: 20px;}
div.user_order_d_info_bottom p.user_order_remark{font-size:13px;color: #999;line-height: 20px;}
table.user_order_form{width: 100%;border-bottom: 1px solid #eee;border-right: 1px solid #eee}
table.user_order_form tr td{width: 20%;font-size:14px;color:#666;text-align: center;height: 40px;line-height: 40px;border: 1px solid #eee;border-bottom: 0;border-right: 0}

table.user_traveler_form{width: 100%;border-bottom: 1px solid #eee;border-right: 1px solid #eee;margin-bottom: 10px;}
table.user_traveler_form tr td{font-size:14px;color:#666;text-align: left;height: 40px;line-height: 40px;border: 1px solid #eee;text-indent:10px;border-bottom: 0;border-right: 0}

table.user_contact_form{width: 100%;margin-bottom: 20px}
table.user_contact_form tr td{font-size: 16px;color: #666}

div.user_order_d_btn{overflow: hidden;zoom: 1;padding: 20px 0}
div.user_order_d_btn a{width: 178px;float: left;margin-right: 10px;}


/*user order detail end*/


/*user guest begin*/
div.user_guest{padding-top: 15px;}

div.user_guest_title{font-size: 16px;color: #666;font-weight: bold;padding: 0 20px;background: #fff;height: 60px;line-height: 60px;margin:25px 0 10px 0}
div.user_guest_search{overflow: hidden;zoom: 1;margin: 20px 0}
div.user_guest_search input{width: 430px;height: 36px;line-height: 36px;padding-left:10px;font-size: 14px;color: #999;float: left;margin-right: 10px;}
div.user_guest_search a{float: left;margin-right: 20px;}
div.user_guest_search a.user_guest_search_btn{width: 66px;}

div.user_guest_form{padding: 20px;background: #fff}
div.user_guest_form h4{border-left: 3px solid #219bd9;font-size: 20px;color: #999;font-weight:normal;margin:20px 0;padding-left: 10px;}
div.user_guest_form table{width: 100%;border-bottom: 1px solid #eee;border-right: 1px solid #eee}
div.user_guest_form table tr td{font-size:14px;color:#666;text-align: left;height: 40px;line-height: 40px;border: 1px solid #eee;text-align:center;border-bottom: 0;border-right: 0}
div.user_guest_form table tr td a{color: #219bd9;padding-right: 10px;}
div.user_guest_form table tr.user_guest_last td{text-align: left;}
div.user_guest_form table tr.user_guest_last td input{margin-left: 7px;}
div.user_guest_form table tr.user_guest_last td span,div.user_guest_form table tr.user_guest_last td a{margin-left: 25px}
/*user guest end*/


/*user guest edit begin*/
div.user_guest_title span{font-size: 13px;color: #999;font-weight: normal;padding-left: 50px;}
div.user_guest_edit{padding:15px 20px;}
div.user_guest_edit div.set_con{padding: 0}
div.user_guest_edit div.set_con dl dt{width: 100px;margin-left: -110px}
div.user_guest_edit div.set_con dl{padding-left: 110px;}
div.user_guest_edit h4{border-left: 3px solid #219bd9;font-size: 20px;color: #999;font-weight:normal;margin:20px 0;padding-left: 10px;}
div.user_guest_ed_people ul li{overflow: hidden;zoom: 1;margin-bottom: 25px;}
div.user_guest_ed_people ul li span{display: block;float: left;width: 100px;height:36px;line-height:36px;font-size: 16px;color: #666;text-align: right;margin-right: 25px;}
div.user_guest_ed_people ul li span sup{font-size: 13px;color: #f1a400}
div.user_guest_ed_people ul li input{width: 230px;height: 36px;line-height: 36px;background: #fff;float: left}
div.user_guest_ed_people ul li label{float: left;line-height: 36px;margin:0 10px;}
div.user_guest_ed_people ul li.user_guest_ed_sex input{width: 18px;height: 18px;margin-top: 9px;}

div.user_guest_ed_paper{height: 36px;}
div.user_guest_ed_paper div.user_guest_lt{float: left}
div.user_guest_ed_paper div.user_guest_lt span{display: block;width:100px;text-align:right;float: left;font-size: 16px;color: #666;height: 38px;line-height: 30px;margin-right: 12px;}
div.user_guest_ed_paper div.user_guest_lt span sup{font-size: 13px;color: #f1a400}
div.user_guest_ed_paper div.user_guest_lt div.selectnav{width: 110px;float: left;font-size: 14px;color: #666;background:#fff;}
div.user_guest_ed_paper div.user_guest_lt div.selectnav cite{background:url(../images/jt.png) no-repeat 88px 9px;}
div.user_guest_ed_paper div.user_guest_lt div.selectnav ul{width:108px;position:absolute;display:none;background:#fff;height: 170px;overflow-y: scroll;border: 1px solid #f1a400}
div.user_guest_ed_paper div.user_guest_lt div.selectnav ul li{margin:0;height: 33px;line-height: 33px;color: #ccc;border-bottom: 1px dashed #f3f3f3}
div.user_guest_ed_paper div.user_guest_lt div.selectnav ul li a{padding: 0;padding-left:10px;width: 80px}
div.user_guest_ed_paper div.user_guest_lt div.selectnav ul li a:hover{background:#ccc;color:#666;}

div.user_guest_paper_id{width: 267px;height: 34px;font-size:14px;color:#999;line-height:34px;background: #fff;border: 1px solid #ccc;float:left;margin-left: 10px;}
div.user_guest_paper_id span{display:block;float: left;height: 30px;border-right: 1px solid #f3f3f3;padding: 0px 10px;margin-top: 2px;line-height: 30px}
div.user_guest_paper_id input{margin-left: 10px;float: left;height: 34px;line-height: 34px;color: #999}

div.user_guest_paper_date{width: 187px;height: 34px;font-size:14px;color:#999;line-height:34px;background: #fff;border: 1px solid #ccc;float:left;margin-left: 10px;}
div.user_guest_paper_date span{display:block;float: left;height: 30px;border-right: 1px solid #f3f3f3;padding: 0px 10px;margin-top: 2px;line-height: 30px}
div.user_guest_paper_date input{margin-left: 10px;float: left;height: 34px;line-height: 34px;color: #999;width: 100px}
div.user_guest_paper_btn{float: left;margin-left: 10px;}
div.user_guest_paper_btn a{display:block;width:66px;height:36px;line-height:36px;text-align:center;ifont-size: 16px;color: #fff;background: #ccc;}
div.user_guest_paper_btn a:hover{background: #f1a400}

div.user_guest_paper_add{overflow: hidden;zoom: 1;margin: 20px 0px 0px 125px;}
div.user_guest_paper_add a{display: block;width: 36px;height: 36px;background: #219bd9;font-size:34px;color: #fff;text-align: center;line-height: 32px;border-radius: 10px;float: left}
div.user_guest_paper_add a:hover{background: #f1a400}
div.user_guest_paper_add span{display: block;float: left;font-size: 14px;color: #999;height: 36px;line-height: 36px;margin-left: 10px}

div.user_guest_ed_save{overflow: hidden;zoom: 1;margin: 20px 0px 0px 145px;}

/*user guest edit end*/

/*user community begin*/
div.user_community{padding: 20px;}
div.user_community_my{width: 720px;margin:0 auto;overflow: hidden;zoom: 1}
div.user_community_my_left{width:445px;float: left}
div.user_comm_my_top{overflow: hidden;zoom: 1}
div.user_comm_my_top p{font-size: 20px;color: #666;}
div.user_comm_my_top p span{font-size: 24px;font-weight: bold}

div.user_comm_my_bottom{overflow: hidden;zoom: 1;margin-top: 25px;}
div.user_comm_my_bottom div{float: left}
div.user_comm_my_degree_di p,div.user_comm_my_degree_gao p{width: 80px;height: 36px;line-height: 36px;background: #f1a400;color: #fff;font-size: 16px;border-radius: 10px;text-align: center}
div.user_comm_my_degree_di span,div.user_comm_my_degree_gao span{display:block;width:80px;text-align:center;font-size: 16px;color: #666;line-height: 36px;}

div.user_comm_my_degree_guodu{width: 280px;}
div.user_comm_my_degree_guodu p{width: 100%;height: 10px;background: #636363;margin-top:13px;}
div.user_comm_my_degree_guodu p span{display:block;width: 70%;height:10px;background: #f1a400;}
div.user_comm_my_degree_guodu em{display: block;font-size: 14px;color: #999;font-style:normal;line-height: 50px;width: 80%;text-align: right}

div.user_community_my_right{float: right}
div.user_community_my_right a{margin-top: 80px;}

div.user_commu_form_title{margin: 10px 0}
div.user_commu_form_title ul{overflow: hidden;zoom: 1}
div.user_commu_form_title ul.tab li{width: 262px;margin: 0}
div.user_commu_form_title ul.tab li a{width: 262px}
div.user_commu_form_title ul li.center{margin: 0 12px;}

div.user_comm_form{padding: 20px;background: #fff}

div.user_comm_form table{width: 100%;border-bottom: 1px solid #eee;border-right: 1px solid #eee}
div.user_comm_form table tr td{font-size:14px;color:#666;text-align: center;height: 40px;line-height: 40px;border: 1px solid #eee;border-bottom: 0;border-right: 0}
div.user_comm_form table tr td a{color: #219bd9;padding-right: 10px;}
div.user_comm_form table tr td span{color: #999}



/*user community end*/

/*user coupon begin*/
div.user_coupon{padding-top: 20px;}
div.user_coupon_title{overflow: hidden;zoom: 1}
div.user_coupon_title p{float:left;font-size: 16px;color: #666}
div.user_coupon_title p span{font-size: 24px;color: #f1a400;font-weight: bold}
div.user_coupon_title a{display:block;float:left;margin-left:40px;font-size: 14px;color: #999;padding-top: 10px;}
div.user_coupon_title a:hover{color: #f1a400}
div.user_coupon_box{overflow: hidden;zoom: 1;margin-top: 30px;}
div.user_coupon_box_tab ul{overflow: hidden;zoom: 1}
div.user_coupon_box_tab ul li{width: 270px;font-size:20px;text-align:center;float:left;height: 60px;line-height: 60px;margin-right: 12px}
div.user_coupon_box_tab ul li a{display:block;color: #fff;background: #ccc;}
div.user_coupon_box_tab ul li.selectTag a{background: #f1a400}
div.user_coupon_box_tab ul li a:hover{background: #f1a400}

div.user_coupon_box_cont{margin-top: 10px;}
div.user_coupon_box_cont div.tagContent{display: none}
div.user_coupon_box_cont div.selectTag{display: block}
div.user_coupon_form ul{width: 98%;background: #fff;border:1px solid #fff;overflow: hidden;zoom: 1;margin-bottom: 10px;}
div.user_coupon_form ul li{width:14%;float: left;text-align: center;}
div.user_coupon_form ul.user_coupon_form_title li{font-size: 16px;color: #999;height: 60px;line-height: 60px;font-weight: normal;}

div.user_coupon_form ul.user_coupon_form_cont li{font-size:14px;height:53px;color:#666;padding: 22px 0 23px 0;line-height: 53px;}
div.user_coupon_form ul.user_coupon_form_cont li p{line-height: 25px}
div.user_coupon_form ul.user_coupon_form_cont li span{color: #219bd9}


div.user_coupon_form_yiyong ul{width: 98%;background: #fff;border:1px solid #fff;overflow: hidden;zoom: 1;margin-bottom: 10px;}
div.user_coupon_form_yiyong ul li{width:14%;float: left;text-align: center;}
div.user_coupon_form_yiyong ul li.last{width: 42%;}
div.user_coupon_form_yiyong ul li.last p{text-align: left;width: 80%;margin: 0 auto}
div.user_coupon_form_yiyong ul li.last span{display: block;text-align:left;line-height: 20px;width: 80%;margin: 0 auto}
div.user_coupon_form_yiyong ul.user_coupon_form_title li{font-size: 16px;color: #999;height: 60px;line-height: 60px;font-weight: normal;}

div.user_coupon_form_yiyong ul.user_coupon_form_cont li{font-size:14px;height:53px;color:#666;padding: 22px 0 23px 0;line-height: 53px;}
div.user_coupon_form_yiyong ul.user_coupon_form_cont li p{line-height: 25px}
div.user_coupon_form_yiyong ul.user_coupon_form_cont li span{color: #219bd9}
div.user_coupon_form_yiyong ul.user_coupon_form_cont li div{background:#f1a400;color:#fff;width: 107px;margin:0 auto;height:53px;border-radius: 10px;text-align: center}
div.user_coupon_form_yiyong ul.user_coupon_form_cont li div.invalid{background: #ccc}
div.user_coupon_form_yiyong ul.user_coupon_form_cont li div h4{height: 22px;font-weight:normal;border-bottom: 1px solid #ffae00;line-height: 22px;}
div.user_coupon_form_yiyong ul.user_coupon_form_cont li div.invalid h4{border-bottom: 1px solid #fff}
div.user_coupon_form_yiyong ul.user_coupon_form_cont li div p{font-size: 24px;font-weight: bold;line-height: 30px;}

/*user coupon end*/

/*user collect begin*/
div.user_collect{width: 100%;overflow: hidden;zoom: 1}

div.user_collect_cont{padding: 0 20px;overflow: hidden;zoom: 1}
div.user_uncollect{padding-top: 70px;text-align: center;}
div.user_uncollect p{font-size: 16px;color: #666;line-height: 30px;}
div.user_uncollect div.user_focus_uncollect_sign{margin-top: 20px;}
div.user_uncollect_box{margin-top: 75px;font-size: 16px;overflow: hidden;zoom: 1}
div.user_uncollect_box h4{color: #666;font-weight: normal;line-height: 30px;margin-bottom: 30px;}
div.user_uncollect_box ul{margin-left: 10px;}
div.user_uncollect_box ul li{float: left;width:376px;background: #fff;margin-right: 20px}
div.user_uncollect_box ul li div.user_uncollect_txt{padding: 0px 12px;text-align: left;color: #999;}
div.user_uncollect_box ul li a{display: block;color: #333;line-height: 30px;}
div.user_uncollect_box ul li a:hover{text-decoration: underline}
div.user_uncollect_box ul li div{overflow: hidden;zoom: 1;padding: 10px 0;}
div.user_uncollect_box ul li div p{float: left;font-size: 14px;line-height: 40px;}
div.user_uncollect_box ul li div span{display: block;float: right;font-size: 30px;font-weight: bold}
div.user_collect_hou ul{width: 100%}
div.user_collect_hou ul li{width:97%;overflow: hidden;zoom: 1;background: #fff;padding: 12px 20px;border: 1px solid #fff;margin-bottom: 10px;}
div.user_collect_hou ul li div.user_collect_huo_left{float: left}
div.user_collect_hou ul li div.user_collect_huo_left img{padding: 8px 0;}
div.user_collect_hou ul li div.user_collect_huo_right{float: left;width:665px;color: #999;font-size:14px;margin-left: 12px;text-align: left}
div.user_collect_hou ul li div.user_collect_huo_right a{display:block;font-size: 16px;color: #666}
div.user_collect_hou ul li div.user_collect_huo_right a:hover{text-decoration:underline}
div.user_collect_hou ul li div.user_collect_huo_right div.btn{overflow: hidden;zoom: 1}
div.user_collect_hou ul li div.user_collect_huo_right div.btn span{display: block;float: right;width: 11px;height: 13px;background-image: url("../images/user_order_delete.png");background-repeat:no-repeat;cursor: pointer}
div.user_collect_hou ul li div.user_collect_huo_right dl{overflow: hidden;zoom: 1;}
div.user_collect_hou ul li div.user_collect_huo_right dl dd{float: left;width:160px;height:30px;line-height:30px;color:#666;text-align: right}
div.user_collect_hou ul li div.user_collect_huo_right dl dd.location{width: 310px;text-align: left;color: #999}
div.user_collect_hou ul li div.user_collect_huo_right dl dd.price{width:191px;text-align:center;font-size: 24px;color: #666;font-weight: bold;}
div.user_collect_hou ul li div.user_collect_huo_right dl dd img{width: 9px;margin:0 14px 0 1px;}
div.user_collect_hou ul li div.user_collect_huo_right p{font-size: 14px;color: #999}
div.user_collect_hou ul li div.user_collect_huo_right span.author{background: url("../images/user_icon.png") no-repeat -4px -1px;padding-left:25px; }
div.user_collect_hou ul li div.user_collect_huo_right span.date{background: url("../images/user_icon.png") no-repeat -4px -22px;padding-left:25px;margin-left: 50px;}
div.user_collect_hou div.user_comm_more{margin-top: 80px;}


/*----话题----*/
div.user_uncollect_box ul.user_uncollect_hua{overflow: hidden;zoom: 1;}
div.user_uncollect_box ul.user_uncollect_hua li{width:400px;background: none;margin-right: 0}
div.user_uncollect_box ul.user_uncollect_hua li a{font-size: 18px;color: #666;text-align: left;}
div.user_hua_box{overflow: hidden;zoom: 1;}
div.user_hua_box div{float: left}
div.user_hua_box div.user_hua_right{width:250px;margin-left: 20px;}
div.user_hua_box div.user_hua_right div{float:none;overflow: hidden;zoom: 1;}
li div.user_hua_box div.user_hua_right i{display: block;width: 16px;height: 15px;float:left;background: url("../images/line_icon.png") no-repeat -4px -3px;margin-right: 2px;}
div.user_hua_box div.user_hua_right i.empty{background: url("../images/line_icon.png") no-repeat -4px -287px}
div.user_hua_box div.user_hua_right p{float: none;text-align: left;line-height: 30px;padding-left: 20px;}
div.user_hua_box div.user_hua_right p.location{background: url("../images/c_icon01.png") no-repeat 0px 8px;}
div.user_hua_box div.user_hua_right p.date{background: url("../images/user_icon.png") no-repeat -4px -18px;}
div.user_hua_box div.user_hua_right p.author{background: url("../images/user_icon.png") no-repeat -4px 4px;}

div.user_collect_hua{padding: 20px;background: #fff}

div.user_collect_hua table{width: 100%;border-bottom: 1px solid #eee;border-right: 1px solid #eee}
div.user_collect_hua table tr td{font-size:14px;color:#666;text-align: left;text-indent:10px;height: 40px;line-height: 40px;border: 1px solid #eee;border-bottom: 0;border-right: 0}
div.user_collect_hua table tr td a{color: #219bd9;padding-right: 10px;}
div.user_collect_hua table tr td span{color: #999}


/*俱乐部*/
div.user_collect_ju{overflow: hidden;zoom: 1}
div.user_collect_ju ul li{float: left;width: 354px;height: 178px;border: 1px solid #f4f4f4;float: left;overflow: hidden;zoom: 1;padding: 10px;margin: 0 10px 10px 10px;}
div.user_collect_ju ul li div.user_ju_title{overflow: hidden;zoom: 1;margin: 10px 0}
div.user_collect_ju ul li div.user_ju_title a{display: block;float: left;font-size: 18px;color: #666;margin-right: 10px;}
div.user_collect_ju ul li div.user_ju_title div.user_ju_sign{float: left}
div.user_collect_ju ul li div.user_ju_title div.user_ju_sign img{width: 30px;margin-right: 2px;}
div.user_collect_ju ul li div.user_ju_title span{display: block;float: right;width: 11px;height: 13px;cursor: pointer}
div.user_collect_ju div.user_hua_box div.user_hua_right{width:209px;}
div.user_collect_ju div.user_hua_box div.user_hua_right div{padding: 8px 0}
div.user_collect_ju div.user_hua_box div.user_hua_right p{font-size: 14px;}

/*目的地*/
div.user_uncollect_box ul li div.user_mu_title{width:240px;overflow: hidden;zoom: 1;margin:0 auto;font-size: 14px;color: #999;line-height: 40px;}
div.user_uncollect_box ul li div.user_mu_title p{float: left;background:url("../images/destination_icon.png") no-repeat 0px 2px;padding-left: 40px;}
div.user_uncollect_box ul li div.user_mu_title span{display: block;font-weight:normal;font-size:14px;float: right;background: url("../images/destination_icon.png") no-repeat 0px -32px;padding-left: 40px;}
div.user_collect_mu ul{overflow: hidden;zoom: 1}
div.user_collect_mu ul li{position: relative;float: left;width:376px;margin:0 10px;background: #fff;border: 1px solid #f4f4f4;margin-bottom: 30px;}
div.user_collect_mu ul li a{display: block;}
div.user_collect_mu ul li p{font-size: 24px;color: #fff;position: absolute;left: 10px;top:150px;}
div.user_collect_mu ul li div{padding: 10px 0;font-size: 14px;color: #999;overflow: hidden;zoom: 1}
div.user_collect_mu ul li div span{display: block;float: left;height:30px;line-height:30px;padding-left: 40px;margin: 0 10px;}
div.user_collect_mu ul li div span.line{background:url("../images/destination_icon.png") no-repeat 0px 0px;}
div.user_collect_mu ul li div span.like{background: url("../images/destination_icon.png") no-repeat 0px -37px;}
div.user_collect_mu ul li div span.delete{display: block;float: right;width: 11px;height: 13px;background-image: url("../images/user_order_delete.png");background-repeat:no-repeat;cursor: pointer;padding: 0;margin-top: 9px}

/*游记*/
div.user_collect_you ul{width: 100%}
div.user_collect_you ul li{width:97%;overflow: hidden;zoom: 1;background: #fff;padding: 12px 20px;border: 1px solid #fff;margin-bottom: 10px;}
div.user_collect_you ul li div.user_collect_huo_left{float: left}
div.user_collect_you ul li div.user_collect_huo_left img{padding: 8px 0;}
div.user_collect_you ul li div.user_collect_huo_right{float: left;width:665px;color: #999;font-size:14px;margin-left: 12px;text-align: left}
div.user_collect_you ul li div.user_collect_huo_right a{display:block;font-size: 16px;color: #666}
div.user_collect_you ul li div.user_collect_huo_right a:hover{text-decoration:underline}
div.user_collect_you ul li div.user_collect_huo_right div.btn{overflow: hidden;zoom: 1}
div.user_collect_you ul li div.user_collect_huo_right div.btn span{display: block;float: right;width: 11px;height: 13px;background-image: url("../images/user_order_delete.png");background-repeat:no-repeat;cursor: pointer}
div.user_collect_you ul li div.user_collect_huo_right dl{overflow: hidden;zoom: 1;}
div.user_collect_you ul li div.user_collect_huo_right dl dd{float: left;line-height:30px;margin-right: 30px;}

div.user_collect_you ul li div.user_collect_huo_right p{font-size: 14px;color: #999;line-height: 25px;}
div.user_collect_you ul li div.user_collect_huo_right p span{padding-left:40px;line-height: 30px;}
div.user_collect_you ul li div.user_collect_huo_right span.view{background: url("../images/club_icon02.png") no-repeat 4px -435px; }
div.user_collect_you ul li div.user_collect_huo_right span.review{background: url("../images/club_icon02.png") no-repeat -60px -436px;margin-left: 50px;}
div.user_collect_you ul li div.user_collect_huo_right span.like{background: url("../images/club_icon02.png") no-repeat -120px -436px;margin-left: 50px;}


/*user collect end*/


/*user coin begin*/
/*交易明细*/
div.user_coin_title h4{font-size: 20px;color:#666;font-weight: normal}
div.user_coin_title h4 span{font-weight: bold;color:#f1a400;padding-left: 10px;}
div.user_coin_title p{font-size: 14px;color: #999;width: 485px;line-height: 20px;padding: 15px 0;}

div.user_coin_tab{overflow: hidden;zoom: 1;margin: 20px 0 15px 0;}
div.user_coin_tab ul li{width: 270px;margin: 0}
div.user_coin_tab ul li.center{margin:0 20px;}
div.user_coin_tab ul li a{width: 270px}
div.user_coin_cont div.user_comm_form table tr td p{line-height: 25px}

/*兑换记录*/
div.user_coin_unchange{width: 100%;background: #fff;text-align: center;padding-bottom:100px;}
div.user_coin_unchange div{padding: 50px 0 30px 0;}
div.user_coin_unchange p{font-size: 16px;color: #666;line-height: 30px}
div.user_coin_unchange a{margin: 0 auto;margin-top:50px;}

div.user_change_form{position:relative;background: #fff;height:100%;padding: 20px;}
div.user_change_form ul{width:808px;overflow: hidden;zoom: 1;border: 1px solid #eee;border-bottom: 0;}
div.user_change_form ul.last{border-bottom: 1px solid #eee}
div.user_change_form ul.select{border:1px solid #f1a400}
div.user_change_form ul.select li{border-left: 1px solid #fff}
div.user_change_form ul li{float: left;width:150px;border-left:1px solid #eee;height:38px;line-height:38px;text-align: center;font-size: 14px;color: #666;}

div.user_change_form ul li a{color: #219bd9}
div.user_change_form ul li a:hover{color:#f1a400 }
div.user_change_form ul li.first{text-align: left;text-indent: 10px;width: 355px;border-left: 0;}

div.user_change_form div.user_change_detail{display:none;position: absolute;height:400px;top:60px;left: 20px}
div.user_change_form div.user_change_detail ul{width:810px;background: #f1a400;border: 0;}
div.user_change_form div.user_change_detail ul li{border: 0;color: #fff}
div.user_change_form div.user_change_detail ul li.btn{cursor: pointer}
div.user_change_form div.user_change_detail div.user_change_detail_cont{font-size:14px;color:#666;border: 1px solid #f1a400;background: #f4f4f4;padding: 15px;}
div.user_change_form div.user_change_detail div.user_change_detail_cont p{line-height: 40px;}
div.user_change_detail_top{border-bottom: 1px solid #fff;overflow: hidden;zoom: 1;}
div.user_change_detail_top div.fr{text-align: center;color: #219bd9;padding-top: 25px;}
div.user_change_detail_top div dl{padding: 10px 15px;}
div.user_change_detail_top div dl dd{overflow: hidden;zoom: 1;}
div.user_change_detail_top div dl dd p{text-align: left;}
div.user_change_detail_top div dl dd p.fl{width: 380px;}
div.user_change_detail_bottom{overflow: hidden;zoom: 1;}
div.user_change_detail_bottom dl{padding: 10px 15px;}
div.user_change_detail_bottom dl dd{overflow: hidden;zoom: 1;}
div.user_change_detail_bottom dl dd p{line-height: 40px;}
div.user_change_detail_bottom dl dd p.fl{width: 380px;}
/*user coin end*/

/*user news begin*/
div.user_news_box ul li{padding: 20px;background: #fff;margin-bottom: 10px;font-size: 14px;color: #666;}
div.user_news_box ul li div{padding: 10px;overflow: hidden;zoom: 1}
div.user_news_box ul li div p{float: left}
div.user_news_box ul li div i{float: right;font-style: normal;line-height: 30px;color: #999}
div.user_news_box ul li div.line{border: 1px solid #eee;}
div.user_news_box ul li div.btn{padding: 0;}
div.user_news_box ul li div.btn span{display: block;float: right;width: 11px;height: 13px;background-image: url("../images/user_order_delete.png");background-repeat:no-repeat;cursor: pointer}
div.user_news_box ul li p{color: #999;line-height: 30px;padding-left: 10px;}
div.user_news_box ul li p span{color: #219bd9}
/*user news end*/

/*user system begin*/
div.user_system_box ul li{background: #fff;border: 1px solid #fff;overflow: hidden;zoom: 1;padding: 10px 20px;margin-bottom:10px;cursor: pointer}
div.user_system_box ul li div.fl{width: 36px;margin:10px 15px 0px 0px;}
div.user_system_box ul li div.txt{float:left;width:740px;font-size: 14px;color: #999;}
div.user_system_box ul li div.btn{overflow: hidden;zoom: 1;}
div.user_system_box ul li div.btn span{display: block;float: right;width: 11px;height: 13px;background-image: url("../images/user_order_delete.png");background-repeat:no-repeat;cursor: pointer}

div.user_system_box ul li div.txt div.title{overflow: hidden;zoom: 1;}
div.user_system_box ul li div.txt div.title h4{font-size: 16px;color: #666;font-weight:normal;float: left;}
div.user_system_box ul li div.txt div.title span{display: block;float: right;line-height: 30px;}
div.user_system_box ul li div.open span{display: block;width: 13px;height: 7px;overflow:hidden;background-image: url("../images/open_icon.png");background-position: 0px -2px;background-repeat: no-repeat;margin: 0 auto}
/*user system end*/

/*user private begin*/
div.user_private_box ul li{background: #fff;border: 1px solid #fff;overflow: hidden;zoom: 1;padding: 10px 20px;margin-bottom:10px;cursor: pointer}
div.user_private_box ul li div.fl{width: 36px;margin:10px 15px 0px 0px;}
div.user_private_box ul li div.txt{float:left;width:535px;font-size: 14px;color: #999;}
div.user_private_box ul li div.txt p{line-height: 30px;}
div.user_private_box ul li div.txt p span{padding: 0 20px 0 10px;}
div.user_private_box ul li div.status{width: 110px;float:left;text-align: center}
div.user_private_box ul li div.status p{font-size: 14px;line-height: 90px;}
div.user_private_box ul li div.status p.status_red{color: #666}
div.user_private_box ul li div.status p.status_unred{color: #219bd9}
div.user_private_box ul li div.btn{float: right}
div.user_private_box ul li div.btn span{display: block;float:right;width: 11px;height: 13px;background-image: url("../images/user_order_delete.png");background-repeat:no-repeat;cursor: pointer;margin-bottom: 15px;}
div.user_private_box ul li div.btn a{display: block;clear:both;font-size:14px;width: 86px;height: 36px;line-height: 36px;text-align: center;background:#219bd9;border-radius: 10px;color: #fff;margin-top: 15px;}
div.user_private_box ul li div.btn a:hover{background:#f1a400}
/*user private end*/


/*user money begin*/
ul.user_money_platform{width:768px;margin:0 auto;overflow: hidden;zoom: 1}
ul.user_money_platform li{float: left;margin:10px 20px;_margin:10px;}
ul.user_money_platform li a{display: block;border: 3px solid #f4f4f4;}
ul.user_money_platform li.select a{border: 3px solid #f1a400;background: #fff}

ul.user_money_bank{width:768px;overflow: hidden;zoom: 1;margin: 0 auto}
ul.user_money_bank li{float: left;margin:10px 20px;_margin:10px;}
ul.user_money_bank li a{display: block;border: 3px solid #f4f4f4;}
ul.user_money_bank li.select a{border: 3px solid #f1a400;background: #fff}

div.user_money_save a{margin: 20px 0px 0px 45px;}

div.user_money_fill{font-size:20px;color:#666;padding:15px 0;overflow: hidden;zoom: 1;border-bottom: 1px solid #eee}
div.user_money_fill span{display:block;float:left;padding: 0 20px;width: 280px;text-align: right}
div.user_money_fill input{width: 220px;padding-left:10px;height: 36px;float: left;}
div.user_money_fill p{float: left;}
div.user_money_fill p span{width: auto}
div.user_money_fill p em{display:block;clear:both;line-height:40px;font-size: 14px;font-style: normal;}
div.user_money_fill ul{overflow: hidden;zoom: 1;background: #fff;font-size: 14px;padding: 10px 20px;line-height: 30px;}

div.user_money_balance{font-size: 20px;color: #666;}
div.user_money_balance span{font-size: 24px;color: #f1a400;font-weight: bold}
div.user_money_link{overflow: hidden;zoom: 1}
div.user_money_link ul{float: right;padding: 10px 0;overflow: hidden;zoom: 1}
div.user_money_link ul li{float: left;margin-left: 10px;}

div.user_money_detail h4 img{margin-left: 40px;}
div.user_money_detail div{background: #fff;border: 1px solid #eee;padding: 10px 20px;margin-top: -1px;_margin-top:-5px;}
div.user_money_detail div p{line-height: 30px;}
div.user_money_type{min-height: 36px;_height:36px;margin: 15px 0;}
div.user_money_type span{display:block;float: left;height: 36px;line-height: 36px;font-size: 14px;color: #999}
div.user_money_type div.selectnav{width: 230px;float: left;background: #fff}
div.user_money_type div.selectnav cite{background: url(../images/jt.png) no-repeat 210px 9px; }
div.user_money_type div.selectnav ul li a{width: 200px}
div.user_money_form{padding: 20px;background: #fff}
div.user_money_form table{width: 100%;border-bottom: 1px solid #eee;border-right: 1px solid #eee;border-collapse: collapse}
div.user_money_form table tr td{font-size:14px;color:#666;text-align: left;height: 40px;line-height: 40px;border: 1px solid #eee;text-align:center;border-bottom: 0;border-right: 0;}
div.user_money_form table tr td span{color: #f1a400;}
div.user_money_form table tr td span p{line-height: 15px;padding-bottom: 10px;}
div.user_money_bank_manage{overflow: hidden;zoom: 1}
div.user_money_bank_manage h4{font-size: 20px;color: #999;padding: 20px 0;font-weight: normal;padding-left: 20px;}
div.user_money_bank_manage ul{overflow: hidden}
div.user_money_bank_manage ul li{position:relative;width:210px;height:106px;float: left;margin: 10px 20px;border: 1px solid #f4f4f4}
div.user_money_bank_manage ul li p{width: 210px;height: 48px;font-size:16px;color:#666;background: #fff;text-align: center;line-height: 48px;margin-top: -8px;}
div.user_money_bank_manage ul li a.delete{display: none;position: absolute;right: 10px;top:10px;}
div.user_money_bank_manage ul li.last a{display: block;width: 210px;height: 106px;background: url("../images/add_bank.png") no-repeat;font-size: 16px;color: #999;text-align: center;line-height: 106px;text-indent: 40px;}
div.user_money_bank_manage ul li.last a:hover{background: url("../images/add_bank_hover.png") no-repeat;color: #fff;}

div.user_add_bank{display:none;border: 3px solid #ccc;margin-top:20px;padding-bottom: 50px;}
div.user_add_bank h4{text-align: right;margin-bottom: 20px;}
ul.user_bank_form{width: 768px;overflow: hidden;zoom: 1;margin: 0 auto;margin-top: 30px;}
ul.user_bank_form li{margin-bottom: 20px; height: 36px;line-height: 36px;margin-left: 20px;}
ul.user_bank_form li span{display: block;float: left;font-size: 16px;margin-right: 10px;}
ul.user_bank_form li input{float: left;width: 218px;font-size: 14px;height: 34px;line-height:34px;border: 1px solid #ccc;padding-left: 10px;margin-right: 10px}
ul.user_bank_form li p{font-size: 13px;color: #999;}
div.user_add_bank a.user_bank_sure{margin-left: 150px;}

/*user money end*/

/*-------user css end---------*/

/*--------club manage begin---------*/
div.club_manage_box{width: 100%;overflow: hidden;zoom: 1;background: #f4f4f4;}
div.club_manage_box div.head_nav_bg{background: #000}

div.club_manage_cont{width: 1170px;margin: 0 auto;}
/*div.club_manage_cont div.club_manage_left{width: 256px;float:left;background: #494949;padding: 15px 10px;text-align: center;margin-bottom: 40px;margin-top: 20px;}*/
div.club_manage_cont div.club_manage_left{width: 200px;height: 100%;position: fixed;z-index: 21;top: 70px;left: 0;background: #494949;text-align: center;}
div.club_manage_cont div.club_manage_left div.club_logo{margin: 35px 0 70px 0;}
div.club_manage_cont div.club_manage_left div.club_logo h4{font-size: 20px;font-weight: normal;color: #fff;line-height: 40px;}
div.club_manage_cont div.club_manage_left ul li{font-size: 16px;height: 50px;line-height:50px;border-bottom: 1px dashed #5a5a5a}
div.club_manage_cont div.club_manage_left ul li a{display:block;color: #fff;}
div.club_manage_cont div.club_manage_left ul li.current{background: #219bd9}
div.club_manage_cont div.club_manage_left ul li a:hover{background: #219bd9}
/* below by yufangcheng */
div.club_manage_cont div.club_manage_left ul li {
    font-size: 14px;
    text-align: left;
    text-indent: 65px;
}
div.club_manage_cont div.club_manage_left ul li.onOff {
    display: none;
}
div.club_manage_cont div.club_manage_left ul li:hover {
    background: #219bd9
}
div.club_manage_cont div.club_manage_left ul li.menu-node {
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    display: block;
    text-indent: 0;
}
div.club_manage_cont div.club_manage_left ul li.menu-node .node-mark {
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-right: 5px;
    margin-left: 35px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
div.club_manage_cont div.club_manage_left ul li.menu-node a {
    height: 20px;
    line-height: 20px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
/* above by yufangcheng */
div.club_manage_right{width: 100%;height: 100%;position: fixed;z-index: 20;top: 0;left: 0;overflow-x: hidden;overflow-y:scroll}
div.club_manage_right ul.tab li{width: 270px;}
div.club_manage_right ul.tab li a{width: 270px;}
/**线路发布第三部线路活动**/
div.club_manage_right .set_con_box{margin-bottom:20px;overflow: hidden;}
#period-container{width:88%;float:left;}
.set_con_box .add-period-btn-box{float:left;margin-left:10%;}


div.club_manage_right div.set_con{margin-top: 30px;padding: 0}
div.club_manage_right div.set_con .set_con_applytime{float:left;width:10%;height:100%;}

div.club_mg_activity_form{padding-bottom:25px;overflow:hidden;margin-top: 25px;}
div.club_mg_activity_form ul {height:36px;margin-bottom: 20px;float: left}
div.club_mg_activity_form ul li{float: left;margin-right: 10px;line-height: 36px;_margin-right:0;}
div.club_mg_activity_form ul li span{display: block;width:auto;float:left;font-size: 16px;color: #666;text-align: left;margin-right: 10px;}
div.club_mg_activity_form ul li div{float: left;width: 190px;background: #fff;}
div.club_mg_activity_form ul li input{width: 190px;font-size:14px;color:#999;height: 36px;text-indent: 10px;line-height: 36px;}
div.club_mg_activity_form ul li em{color: #666;padding: 0 10px;font-style: normal}
div.club_mg_activity_form div.selectnav ul{height: 108px}
div.club_mg_activity_form div.selectnav ul li{margin: 0}
div.club_mg_activity_form div.btn_box{margin:0 auto;overflow: hidden;zoom: 1;float: left}
div.club_mg_activity_form div.btn_box a{display:block;width: 66px;color:#fff;text-align:center;height: 36px;line-height: 36px;float: left;}
div.club_mg_activity_form div.btn_box a.search_btn{background:#219bd9;margin-right: 20px;}
div.club_mg_activity_form div.btn_box a.reset_btn{background:#ccc }
div.club_mg_activity_form div.btn_box a:hover{background: #f1a400;}

div.club_manage_table{clear:both;overflow: hidden;zoom: 1;background: #fff;padding: 10px 10px 15px 10px;}
div.club_manage_table a.export_btn{display:block;width: 76px;height: 24px;float:left;color: #999;font-size: 14px;line-height: 24px;text-align:center;border: 1px solid #eee;background: #fff;margin: 10px 0 20px 0;}
div.club_manage_table a.btn_blue{margin: 10px 0 20px 0;}
div.club_manage_table a.export_btn:hover{background:#f1a400;border:1px solid #f1a400;color:#fff}
div.club_manage_table a.add_btn{display:block;width:24px;height: 24px;float:left;color: #999;font-size: 20px;line-height: 20px;text-align:center;border: 1px solid #eee;background: #fff;margin: 10px 0 20px 10px;}
div.club_manage_table a.add_btn:hover{background:#f1a400;border:1px solid #f1a400;color:#fff}
div.club_manage_table table{width: 100%;border-bottom: 1px solid #eee;border-right: 1px solid #eee}
div.club_manage_table table thead tr td{background: #f4f4f4}
div.club_manage_table table tr td{font-size:14px;color:#666;text-align: center;height: 40px;border: 1px solid #eee;border-bottom: 0;border-right: 0}
div.club_manage_table table tr td input{margin: 0 7px;}
div.club_manage_table table tr td p{line-height: 25px;text-align:left;}
div.club_manage_table table tr td a{display:block;color: #219bd9;text-align: center;display: inline-block;*zoom: 1;*display: inline;}
div.club_manage_table table tr td a:hover{color: #f1a400}
div.club_manage_table table tr.manage_last td{text-align: left}
div.club_manage_table table tr.manage_last td a{display: inline;padding-left:10px;}
div.manage_money{overflow: hidden;zoom: 1}
div.manage_money a{float: left;margin-right:10px;}
div.manage_money a.current{background:#f1a400}
div.manage_money_detail{background: #fff;margin: 10px 0;padding: 10px;border: 1px solid #eee}
div.manage_money_detail p{font-size: 16px;color: #666;line-height: 25px;}
div.manage_money a.btn_blue{width:128px;}

/*--------club manage end---------*/


