#digibanner {
	background-color:rgba(255,255,255,0.6);
	position:fixed;
	bottom:-350px;
	width:100%;
	padding:0;
	z-index: 8000;
}
.cq-wcm-edit #digibanner {
	position:relative;
}
.closebannerdigibende {
	cursor:pointer;
	position: absolute;right: 0;
}
#digibanner .digiinner {
	max-width:940px;
	margin:43px auto;
	background-color:#189B98;
	height:157px;
}
#digibanner .digiinner img.van {
	float:left;
	margin-right:50px;
}
#digibanner .digiinner .forcopy {
	float:left;
	margin-right:20px;
	width:37%; 
	margin-top:20px;
}
#digibanner .digiinner .forcopy p {
	color:#fff;
	font-size:40px;
	font-family: 'OmnesSemiBold', Arial, sans-serif;
	margin:10px 0;
    line-height: 45px;
}
@media only screen and (max-width: 960px) {
	#digibanner .digiinner {
		margin-bottom:0;
	}
	#digibanner .digiinner .forcopy p {
		font-size:30px;
		margin:30px 0 10px 0;
	}
}
@media only screen and (max-width: 767px) {
	#digibanner {display:none;}
}