/*  ECO OPCIONES */
/* Importamos fuente Ubuntu de google-fonts  */
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

/*Fix para elemento seleccionado. Eliminar si procede en producción*/
::selection {
background: none;
color: inherit;
}

/*Ajuste margin modulo social*/
.ecoopciones #mod-social {
margin: 22px 0 22px 4px;
}





#wrapper-3 #main #seccion-ecoopciones {
	position: relative;
	float: left;
	clear: both;
	width: 938px;
	margin: 0 0 0 4px;
	font-size: 13px;
	-webkit-font-smoothing: antialiased;
}

#wrapper-3 #main #seccion-ecoopciones p{
	font-size: 14px;
	color: #4d4d4d;
	line-height: 18px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock{
	position: relative;
	float: left;
	width: 938px;
	margin: 25px 0 0 0;
	padding: 0;
	background-color: #f3f3f3;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock.first{
	margin: 0;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock .home-image{
	position: relative;
	float: left;	
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock .home-image img{
	position: relative;
	float: left;	
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock .logo-ecoopciones{
	position: absolute;
	width: 109px;
	height: 109px;
	top: 8px;
	left: 11px;
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/logo-ecoopciones.png);
	background-repeat: no-repeat;
	background-position: 0 ;
}
#wrapper-3 #main #seccion-ecoopciones .ecoblock .main-home{
	position: absolute;
	width: 475px;
	height: 425px;
	top: 0;
	right: 0;
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/logo-casa.png);
	background-repeat: no-repeat;
	background-position: 80px 105px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock .main-home ul{
	position: relative;
	float: left;
	margin: 42px 0; 
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock .main-home ul li{
	position: relative;
	display: inline-block;
	float: left;
	width: 86px;
	height: 86px;
	margin-right:13px;
	background-repeat: no-repeat;
	background-position: 0 0;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock .main-home ul li.hogar-sano{
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/logo-hogar-sano_Off.png);
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock .main-home ul li.ahorro-agua{
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/logo-ahorro-agua_Off.png);
	top: 60px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock .main-home ul li.ahorro-energia{
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/logo-ahorro-energia_Off.png);
	margin-right: 30px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock .main-home ul li.bosque-sostenible{
	top: 60px;
	margin-right:0;
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/logo-bosque-sostenible_Off.png);
}


#wrapper-3 #main #seccion-ecoopciones .ecoblock .main-home ul li.hogar-sano:hover{
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/logo-hogar-sano_On.png);
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock .main-home ul li.ahorro-agua:hover{
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/logo-ahorro-agua_On.png);
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock .main-home ul li.ahorro-energia:hover{
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/logo-ahorro-energia_On.png);
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock .main-home ul li.bosque-sostenible:hover{
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/logo-bosque-sostenible_On.png);
}




#wrapper-3 #main #seccion-ecoopciones .ecoblock .main-home ul li a{
	display: block;
	float: left;
	width: 100%;
	height: 100%;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock .main-home p{
	position: absolute;
	bottom: 15px;
	left: 0;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif !important;
	font-weight: bold;
	font-size: 48px;
	line-height: 30px;
	color: #fff;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock .main-home p span{
	font-size: 30px;
	line-height: 40px;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif !important;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock .home-text{
	float: left;
	width: 938px;
	background-color: #7dbc39;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock .home-text p{
	float: left;
	margin: 0;
	padding: 20px 2px 15px 10px;
	color: #fff;
}


/* nav menu */
#wrapper-3 #main #seccion-ecoopciones .ecoblock.menu{
	float: left;
	width: 100%;
	min-height: 380px;
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/bg-ecoopcionesnav.png);
	background-repeat: repeat-x;
	background-position: 0 0;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock.secciones{
	min-height: 0;
}


#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-nav{
	float: left;
	margin-left: 26px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-nav li{
	position: relative;
	display: inline-block;
	float: left;
	width: 221px;
	min-height: 410px;
	margin-left: 1px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock.secciones ul.ecoopciones-nav li{
	min-height: 160px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-nav li .logo{
	position: relative;
	display: inline-block;
	float: left;
	width: 221px;
	height: 160px;
	border-bottom-width: 10px;
	border-bottom-style: solid;
	background-color: #7dbc39;
	background-repeat: no-repeat;
	background-position: 0 0;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock.secciones ul.ecoopciones-nav li .logo{
	background-color: #d8ebc3;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock.secciones ul.ecoopciones-nav li.selected .logo{
	background-color: #7dbc39;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock.secciones ul.ecoopciones-nav li.ahorro-agua .logo{ border-bottom-color: #84d2ff; }
#wrapper-3 #main #seccion-ecoopciones .ecoblock.secciones ul.ecoopciones-nav li.ahorro-energia .logo{ border-bottom-color: #ffd572; }
#wrapper-3 #main #seccion-ecoopciones .ecoblock.secciones ul.ecoopciones-nav li.hogar-sano .logo{ border-bottom-color: #68cec1; }
#wrapper-3 #main #seccion-ecoopciones .ecoblock.secciones ul.ecoopciones-nav li.bosque-sostenible .logo{ border-bottom-color: #c38d6f; }


#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-nav li.ahorro-agua .logo,
#wrapper-3 #main #seccion-ecoopciones .ecoblock.secciones ul.ecoopciones-nav li.ahorro-agua.selected .logo{
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/logo-ahorro-agua-nav.png);
	border-bottom-color: #84d2ff;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-nav li.ahorro-energia .logo,
#wrapper-3 #main #seccion-ecoopciones .ecoblock.secciones ul.ecoopciones-nav li.ahorro-energia.selected .logo{
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/logo-ahorro-energia-nav.png);
	border-bottom-color: #ffd572;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-nav li.hogar-sano .logo,
#wrapper-3 #main #seccion-ecoopciones .ecoblock.secciones ul.ecoopciones-nav li.hogar-sano.selected .logo{
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/logo-hogar-sano-nav.png);
	border-bottom-color: #68cec1;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-nav li.bosque-sostenible .logo,
#wrapper-3 #main #seccion-ecoopciones .ecoblock.secciones ul.ecoopciones-nav li.bosque-sostenible.selected .logo{
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/logo-bosque-sostenible-nav.png);
	border-bottom-color: #c38d6f;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-nav li.ahorro-agua:hover .logo{ border-bottom-color: #84d2ff; background-color: #84d2ff;}
#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-nav li.ahorro-energia:hover .logo{ border-bottom-color: #ffd572; background-color: #ffd572;}
#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-nav li.hogar-sano:hover .logo{ border-bottom-color: #68cec1; background-color: #68cec1;}
#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-nav li.bosque-sostenible:hover .logo{ border-bottom-color: #c38d6f; background-color: #c38d6f;}


#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-nav li .logo a{
	position: relative;
	display: block;
	width: 221px;
	height: 160px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-nav li h2{
	display: block;
	float: left;
	margin: 25px 0 0 10px;
	height: 24px;
	line-height: 24px;
	padding: 0;
}
#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-nav li h2 a{
	font-size: 22px;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif !important;
	font-weight: bold;
	color: #333;
	text-decoration: none;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-nav li h2 a:hover{
	text-decoration: none!important;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-nav li p,
#wrapper-3 #main #seccion-ecoopciones .ecoblock .menu-content-secciones p{
	float: left;
	margin: 20px 5px 0 10px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-nav li p a{
	color: #666;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-nav li p a:hover{
	text-decoration: none!important;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-nav li .eco-masinfo{
	position: absolute;
	bottom: 20px;
	left: 10px;
	font-size: 12px;
	color: #0099ff;
	text-decoration: underline;
}
#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-nav li .eco-masinfo:hover{
	text-decoration: none!important;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock .menu-content-secciones{
	float: left;
	margin-left: 26px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock .menu-content-secciones h1{
	margin: 25px 15px 0 10px;
	height: 24px;
	font-size: 24px;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif !important;
	font-weight: bold;
	color: #333;
	line-height: 24px;
	padding: 0;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock .menu-content-secciones p{
	margin: 0 35px 30px 10px;
	padding-top: 20px;
}


#wrapper-3 #main #seccion-ecoopciones .ecoblock .menu-content-secciones p a{
	color: #09F;
	text-decoration: none;
	line-height: 20px;
	padding-bottom: 1px;
	border-bottom: 1px solid #09F;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock .menu-content-secciones p a:hover{
	text-decoration: none!important;
}


/* opcion mes */
#wrapper-3 #main #seccion-ecoopciones .opcionmes{
	min-height: 465px;
}

#wrapper-3 #main #seccion-ecoopciones .opcionmes .lista{
	position: relative;
	float: left;
	width: 300px;
	min-height: 465px;
}

#wrapper-3 #main #seccion-ecoopciones .opcionmes .lista ul{
	float: left;
}

#wrapper-3 #main #seccion-ecoopciones .opcionmes .lista ul li{
	float: left;
	width: 300px;
	height: 150px;
	text-align: center;
	background-repeat: no-repeat;
}

#wrapper-3 #main #seccion-ecoopciones .opcionmes .lista ul li.ecoopciones-mes{
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/logo-ecoopciones-mes.png);
	background-position: 135px 30px;
	margin-top: 150px;
}

#wrapper-3 #main #seccion-ecoopciones .opcionmes .lista ul li.ecoopciones-encuentra{
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/logo-ecoopciones-encuentra.png);
	background-position: 135px 30px;
}

#wrapper-3 #main #seccion-ecoopciones .opcionmes .lista ul li.ecoopciones-bioclimatica{
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/logo-ecoopciones-bioclimatica.png);
	background-position: 135px 30px;
}

#wrapper-3 #main #seccion-ecoopciones .opcionmes .lista ul p,
#wrapper-3 #main #seccion-ecoopciones .opcionmes .lista ul a{
	display: block;
	margin: 80px 0 10px 0;
	font-size: 24px;
	font-weight: bold;
	color: #333;
	padding: 0 20px;
	text-decoration: none;
}

#wrapper-3 #main #seccion-ecoopciones .opcionmes .lista ul a:hover{
	text-decoration: none!important;
}

#wrapper-3 #main #seccion-ecoopciones .opcionmes .lista ul span{
	color:#0099ff;
	font-size: 14px;
}

#wrapper-3 #main #seccion-ecoopciones .opcionmes .main{
	position: relative;
	float: left;
	width: 300px;
	background-color: #7dbc39;
	min-height: 465px;
}

#wrapper-3 #main #seccion-ecoopciones .opcionmes .main .pointer{
	position: absolute;
	width: 10px;
	height: 20px;
	top: 220px;
	left: -10px;
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/arrow-green-left.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

#wrapper-3 #main #seccion-ecoopciones .opcionmes .main p{
	display: inline-block;
	margin: 20px 25px 0 25px;
	font-size: 12px;
	line-height: 14px;
	color: #fff;
}

#wrapper-3 #main #seccion-ecoopciones .opcionmes .main p.main-title{
	margin: 40px 25px 0 25px;
	font-size: 20px;
	line-height: 25px;
	font-weight: bold;
}

#wrapper-3 #main #seccion-ecoopciones .opcionmes .main ul{
	float: left;
	margin: 20px 0 0 25px;
}

#wrapper-3 #main #seccion-ecoopciones .opcionmes .main ul li{
	float: left;
	width: 125px;
	height: auto;
	min-height: 90px;
	margin: 10px 12px 0 0;
	cursor: pointer;
}

#wrapper-3 #main #seccion-ecoopciones .opcionmes .main ul li a {
	float: left;
	width: 105px;
	height: 61px;
	background-color: #FFF;
}

#wrapper-3 #main #seccion-ecoopciones .opcionmes .main ul li .overlay-li{
	display: none;
	position: absolute;
	width: 105px;
	height: 61px;
	top: 0;
	left: 0;
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/bg-overlay-li.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

#wrapper-3 #main #seccion-ecoopciones .opcionmes .main ul li.selected .overlay-li{
	display: block;
}

#wrapper-3 #main #seccion-ecoopciones .opcionmes .main ul li p {
	display: inline-block;
	margin: 8px 0 0 0;
	font-size: 12px;
	line-height: 14px;
	color: #4d4d4d;
}
#wrapper-3 #main #seccion-ecoopciones .opcionmes .main ul li p strong{
	clear: both;
}

#wrapper-3 #main #seccion-ecoopciones .opcionmes .detalle{
	position: relative;
	float: left;
	min-height: 465px;
	width: 338px;
}

#wrapper-3 #main #seccion-ecoopciones .opcionmes .detalle .item-detalle{
	display: none;
}

#wrapper-3 #main #seccion-ecoopciones .opcionmes .detalle .item-detalle.selected{
	display: block;
}

#wrapper-3 #main #seccion-ecoopciones .opcionmes .detalle .item-detalle .wrap-img{
	display: block;
	width: 280px;
	height: 150px;
	margin: 100px 0 0 30px;
	border: 1px solid #e1e1e1;
	background-color: #fff;
	text-align: center;
}

#wrapper-3 #main #seccion-ecoopciones .opcionmes .detalle .item-detalle .wrap-img img{
	max-width: 280px;
}

#wrapper-3 #main #seccion-ecoopciones .opcionmes .detalle .item-detalle h3,
#wrapper-3 #main #seccion-ecoopciones .opcionmes .detalle .item-detalle p{
	display: block;
	margin: 10px 10px 0 30px;
	font-size: 15px;
	line-height: 17px;
	color: #000;
}

#wrapper-3 #main #seccion-ecoopciones .opcionmes .detalle .item-detalle p{
	color: #666;
}

#wrapper-3 #main #seccion-ecoopciones .opcionmes .detalle .item-detalle ul{
	float: left;
	margin: 10px 10px 0 30px;
}

#wrapper-3 #main #seccion-ecoopciones .opcionmes .detalle .item-detalle ul li{
	float: left;
	width: 100%;
	margin: 5px 0 0 0;
	padding-left: 10px;
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/bg-li-bull.png);
	background-repeat: no-repeat;
	background-position: 0 4px;
}

#wrapper-3 #main #seccion-ecoopciones .opcionmes .detalle .item-detalle .link-masinfo {
	float: left;
	clear: both;
	margin: 15px 0 0 30px;
	font-size: 14px;
	color: #09F;
	text-decoration: underline;
}

#wrapper-3 #main #seccion-ecoopciones .opcionmes .detalle .item-detalle .link-masinfo:hover {
	text-decoration: none!important;
}


/* bloque certificados */

#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-certificaciones{
	float: left;
	margin-left: 26px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-certificaciones li{
	position: relative;
	display: inline-block;
	float: left;
	width: 221px;
	min-height: 300px;
	margin-left: 1px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-certificaciones li.cert01{
	width: 260px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-certificaciones li.cert02{
	width: 360px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-certificaciones li.cert03{
	width: 288px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-certificaciones li .logo{
	position: relative;
	display: inline-block;
	float: left;
	width: 100%;
	height: 160px;
	background-repeat: no-repeat;
	background-position: 0 0;
}


#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-certificaciones li.cert01 .logo{
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/logo-cert-01.png);
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-certificaciones li.cert02 .logo{
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/logo-cert-02.png);
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-certificaciones li.cert03 .logo{
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/logo-cert-03.png);
}


#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-certificaciones li .logo a{
	position: relative;
	display: block;
	width: 100%;
	height: 160px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-certificaciones li p{
	float: left;
	margin: 20px 40px 20px 20px;;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-certificaciones li.cert02 p{
	margin: 20px 50px 20px 20px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock ul.ecoopciones-certificaciones li.cert02 p{
	margin: 20px;;
}

/* comunes secciones */
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto{
	position: relative;
	left: -20px;
	float: left;
	width: 978px;
	margin: 0;
	padding: 0;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .titulo-producto{
	float: left;
	margin: 15px 55px 0 55px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .titulo-producto h2,
body.ecoopciones .wrapper-lightview-ecoopciones .wrap-carousel-lightview h2{
	font-size: 30px;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif !important;
	font-weight: bold;
	color: #1e90ca;
	line-height: 30px;
	padding: 0;
	margin: 0 0 35px 0;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .titulo-producto p{
	padding: 0;
	margin: 0 0 35px 0;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto{
	float: left;
	margin: 0;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto{
	position: relative;
	float: left;
	width: 978px;
	height: 910px;
	margin: 0;
	padding: 0;
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/bg-carosel.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto ul.list-eco-carousel-producto{
	float: left;
	padding: 0;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto ul.list-eco-carousel-producto li{
	position: relative;
	display: block;
	float: left;
	width: 978px;
	height: 870px;
	margin: 0;
	padding: 0;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto ul.list-eco-carousel-producto li.bosque-sostenible-certificados{
	height: 930px;
}
/*
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto ul.list-eco-carousel-producto li.ahorro-agua-jardin{
	background-color: #ff4;
}
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto ul.list-eco-carousel-producto li.ahorro-agua-lluvia{
	background-color: #666;
}
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto ul.list-eco-carousel-producto li.ahorro-agua-casa{
	background-color: #999;
}
*/

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-prev,
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-next,
body.ecoopciones .wrapper-lightview-ecoopciones .wrap-carousel-lightview .eco-lightview-prev,
body.ecoopciones .wrapper-lightview-ecoopciones .wrap-carousel-lightview .eco-lightview-next{
	position: absolute;
	top:610px;
	width: 18px;
	height: 26px;
	background-repeat: no-repeat;
	background-position: 0 0;
}

body.ecoopciones .wrapper-lightview-ecoopciones .wrap-carousel-lightview .eco-lightview-prev,
body.ecoopciones .wrapper-lightview-ecoopciones .wrap-carousel-lightview .eco-lightview-next{
	top:375px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-prev,
body.ecoopciones .wrapper-lightview-ecoopciones .wrap-carousel-lightview .eco-lightview-prev{
	left: 20px;
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/bg-eco-prev.png);
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-next,
body.ecoopciones .wrapper-lightview-ecoopciones .wrap-carousel-lightview .eco-lightview-next{
	right: 20px;
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/bg-eco-next.png);
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-prev.disabled,
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-next.disabled,
body.ecoopciones .wrapper-lightview-ecoopciones .wrap-carousel-lightview .eco-lightview-prev.disabled,
body.ecoopciones .wrapper-lightview-ecoopciones .wrap-carousel-lightview .eco-lightview-prev.disabled{
	display: none!important;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .pagination,
body.ecoopciones .wrapper-lightview-ecoopciones .wrap-carousel-lightview .pagination{
	position: relative;
	float: left;
	width: 100%;
	height: 70px;
	margin: 0;
	padding: 0;
	text-align: center
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .pagination a,
body.ecoopciones .wrapper-lightview-ecoopciones .wrap-carousel-lightview .pagination a{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-top: 20px;
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/carousel-item.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .pagination a.selected,
body.ecoopciones .wrapper-lightview-ecoopciones .wrap-carousel-lightview .pagination a.selected{
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/carousel-item-selected.png);
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .pagination a span,
body.ecoopciones .wrapper-lightview-ecoopciones .wrap-carousel-lightview .pagination a span{
	display: none;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .item-ilustracion{
	position: absolute;
	width: 150px;
	height: 40px;
	left: 0;
	top: 0;
	font-size: 14px;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif !important;
	font-weight: bold;
	color: #4D4D4D;
	line-height: 18px;
	margin: 0;
	padding: 115px 0 0 0;
	text-decoration: underline;
	text-align: center;
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/eye-off.png);
	background-repeat: no-repeat;
	background-position: 0 0;

	/*background-color: #999;
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter: alpha(opacity=50); *//* IE */
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .item-ilustracion:hover{
	text-decoration: none !important;
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/eye-on.png);
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .overlay-eco-main-producto,
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel{
	display: none;
	position: absolute;
	top:0;
	left: 0;
	width: 978px;
	height: 910px;
	margin: 0;
	padding: 0;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .overlay-eco-main-producto{
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/bg-carosel.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.95;
	-moz-opacity: 0.95;
	filter: alpha(opacity=95); /* IE */
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-nav,
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-content{
	position: relative;
	float: left;
	width: 333px;
	height: 100%;
}
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-content{ width: 645px;}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-nav > img{
	position: relative;
	float: left;
	z-index: 10;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-nav .menu-nav{
	position: relative;
	float: left;
	width: 233px;
	height: 816px;
	margin: -5px 0 0 63px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-nav .menu-nav > ul{
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-nav .menu-nav  > ul.oRelacionado{
	margin: 20px 0 0 0;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-nav .menu-nav > ul > li{
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	background-color: #a5d8f3;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-nav .menu-nav > ul > li h3{
	display: block;
	padding: 15px 20px;
	font-size: 14px;
	font-weight: normal;
	color: #4d4d4d;
	line-height: 18px;
	border-bottom: 1px solid #e8ebed;
	cursor: pointer;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-nav .menu-nav > ul.oRelacionado > li.first-title h3{
	font-weight: bold;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-nav .menu-nav > ul > li h3 span{
	display: inline-block;
	margin-left:5px;
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/icono-arrow-up.png);
	background-repeat: no-repeat;
	background-position: 0 -20px;
	width: 10px;
	height: 10px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-nav .menu-nav > ul > li.active h3 span{
	background-position: 0 0;
}

/*
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-nav .menu-nav > ul > li.active{
	background-color: #a5d8f3;
}
*/
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-nav .menu-nav > ul > li ul{
	display: none;
	margin: 0;
	padding: 0;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-nav .menu-nav > ul.oMain > li ul{
	display: block;
}


#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-nav .menu-nav > ul > li ul li{
	position: relative;
	display: block;
	height: auto;
	margin: 0;
	padding: 10px 20px 10px 22px;
	-moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
	border-bottom: 1px solid #92c9e5;
	background-color: #49a5d4;
	cursor: pointer;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-nav .menu-nav > ul > li ul li a{
	color: #fff;
	text-decoration: none;
}


#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-nav .menu-nav > ul > li ul li a:hover{
	/*text-decoration: none!important;*/
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-nav .menu-nav > ul > li ul li span{
	position: absolute;
	top: 0;
	left:0;
	height: 100%;
	width: 10px;
	background-color: #49a5d4;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-nav .menu-nav > ul > li ul li.selected span{
	background-color: #7dbc39;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-close,
body.ecoopciones .wrapper-lightview-ecoopciones .eco-contenido-lightview-close{
	position: absolute;
	top: 45px;
	right: 25px;
	width: 35px;
	height: 35px;
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/eco-segundo-nivel-close.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

body.ecoopciones .wrapper-lightview-ecoopciones .eco-contenido-lightview-close{
	top: -25px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-content .ficha-ecoopciones{
	position: relative;
	float: left;
	width: 100%;
	margin-top: 95px;
	height: 750px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-content .ficha-mTop{
	margin-top: 130px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-content .ficha-ecoopciones-modulo{
	position: relative;
	float: left;
	width: 312px;
	margin-right: 1px;
	height: 100%;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-content .ficha-ecoopciones-modulo h4{
	margin: 30px 0 0 0;
	font-size: 24px;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif !important;
	font-weight: bold;
	color: #4d4d4d;
	line-height: 26px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-content .ficha-ecoopciones-modulo p{
	display: block;
	margin: 15px 30px 0 0;
	font-size: 12px;
	line-height: 16px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-content .ficha-ecoopciones-modulo .title{
	display: block;
	margin: 40px 0 20px 0;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-content .ficha-ecoopciones-modulo .title p{
	margin: 15px 0px 0 0;
	font-weight: bold;
	font-size: 14px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-content .ficha-ecoopciones-modulo .title p a,
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-content .ficha-ecoopciones-modulo .link-a-producto{
	font-weight: normal;
	font-size: 14px;
	margin-left: 20px;
	color: #09F;
	text-decoration: underline;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-content .ficha-ecoopciones-modulo .link-a-producto{
	margin-left: 0;
	margin-top: 20px;
	display: inline-block;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-content .ficha-ecoopciones-modulo .title p a:hover,
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-content .ficha-ecoopciones-modulo .link-a-producto:hover{
	text-decoration: none!important;
}



#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-content .ficha-ecoopciones-modulo .ficha-ecoopciones-image{
	position: relative;
	float: left;
	width: 260px;
	height: 260px;
	margin: 70px 0 20px 14px;
	border: 2px solid #7dbc39;
	border-radius: 130px;
}
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-content .ficha-ecoopciones-modulo .ficha-ecoopciones-image img{
	position: relative;
	float: left;
	width: 260px;
	background-color: #fff;
	border-radius: 130px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-content .ficha-ecoopciones-modulo .sello-ahorro-agua,
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-content .ficha-ecoopciones-modulo .sello-ahorro-energia,
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-content .ficha-ecoopciones-modulo .sello-hogar-sano,
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-content .ficha-ecoopciones-modulo .sello-bosque-sostenible{
	position: absolute;
	top: 62px;
	right: 5px;
	width: 120px;
	height: 61px;
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/sello-ahorro-agua.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-content .ficha-ecoopciones-modulo .sello-ahorro-energia{
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/sello-ahorro-energia.png);
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-content .ficha-ecoopciones-modulo .sello-hogar-sano{
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/sello-hogar-sano.png);
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-content .ficha-ecoopciones-modulo .sello-bosque-sostenible{
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/sello-bosque-sostenible.png);
}


#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-content .ficha-ecoopciones-modulo .ficha-ecoopciones-contenido{
	display: block;
	margin: 40px 0 20px 14px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-content .ficha-ecoopciones-modulo p.secc{
	font-weight:bold;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-content .ficha-ecoopciones-modulo p.nombre{
	font-weight:bold;
	font-size: 18px;
	line-height: 20px;
	margin: 2px 30px 0 0;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .eco-segundo-nivel .eco-segundo-nivel-content .ficha-ecoopciones-modulo p.ref{
	margin: 1px 30px 0 0;
}

/* #### seccion ahorro agua ### */

/* seccion ahorro agua casa */
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-01{ 
	left: 85px;
	top: 333px;
	background-position: 110px 40px; 
}
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-02{ 
	left: 248px;
	top: 170px;
	padding: 111px 0 0 0;
	background-position: 7px 45px; 
}
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-03{ 
	left: 462px;
	top: 123px;
	padding: 111px 0 0 0;
	background-position: 0px 47px;
	width: 117px;
}
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-04{ 
	left: 522px;
	top: 290px;
	padding: 111px 0 0 0;
	background-position: 12px 39px;
}
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-05{ 
	left: 715px;
	top: 229px;
	padding: 114px 0 0 0;
	background-position: 12px 45px;
}

/* seccion ahorro agua jardin*/
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-11{ 
	left: 49px;
	top: 310px;
	padding: 113px 0 0 0;
	background-position: 107px 40px;
	width: 140px;
}
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-12{ 
	left: 123px;
	top: 162px;
	padding: 111px 0 0 0;
	background-position: 118px 39px;
	width: 167px;
}
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-13{ 
	left: 346px;
	top: 35px;
	padding: 112px 0 0 0;
	background-position: 110px 38px;
	width: 140px;
}
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-14{ 
	left: 561px;
	top: 97px;
	padding: 111px 0 0 0;
	background-position: 107px 57px;
	width: 137px;
}
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-15{ 
	left: 800px;
	top: 176px;
	padding: 111px 0 0 0;
	background-position: 1px 66px;
	width: 117px;
}
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-16{ 
	left: 769px;
	top: 703px;
	padding: 117px 0 0 0;
	background-position: 54px 0px;
	width: 130px;
}

/* seccion ahorro agua lluvia*/
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-21{ 
	left: 181px; 
	top: 268px;
	padding: 111px 0 0 0;
	background-position: 0px 47px;
	width: 117px; 
}
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-22{ 
	left: 489px; 
	top: 262px;
	padding: 111px 0 0 0;
	background-position: 0px 47px;
	width: 117px;
}
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-23{ 
	left: 720px; 
	top: 269px;
	padding: 111px 0 0 0;
	background-position: 0px 47px;
	width: 117px;
}



/* #### seccion ahorro energia ### */

/* seccion ahorro energia eficiencia */
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-31{ 
	left: 82px;
	top: 359px;
	padding: 120px 0 0 0;
	background-position: 38px 88px;
	width: 107px;
}
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-32{ 
	left: 43px;
	top: 122px;
	padding: 120px 0 0 0;
	background-position: 73px 89px;
	width: 177px;
}
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-33{ 
	left: 490px;
	top: 12px;
	padding: 123px 0 0 0;
	background-position: 76px 91px;
	width: 177px;
}
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-34{ 
	left: 795px;
	top: 54px;
	padding: 114px 0 0 0;
	background-position: 20px 75px;
	width: 142px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-35{ 
	left: 796px;
	top: 230px;
	padding: 118px 0 0 0;
	background-position: 53px 88px;
	width: 137px;
	height: 20px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-36{ 
	left: 774px;
	top: 385px;
	padding: 118px 0 0 0;
	background-position: 79px 90px;
	width: 186px;
}


/* seccion ahorro energia autonoma */
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-51{ 
	left: 78px;
	top: 135px;
	padding: 122px 0 0 0;
	background-position: 79px 90px;
	width: 186px;
	height: 60px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-52{ 
	left: 423px;
	top: 55px;
	padding: 121px 0 0 0;
	background-position: 79px 87px;
	width: 186px;
}
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-53{ 
	left: 769px;
	top: 51px;
	padding: 118px 0 0 0;
	background-position: 63px 90px;
	width: 156px;
}


/* #### seccion hogar sano ### */
/* seccion hogar sano aire*/
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-71{ 
	left: 94px;
	top: 712px;
	padding: 114px 0 0 0;
	background-position: 141px 26px;
	width: 216px;
	height: 20px;
}
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-72{ 
	left: 44px;
	top: 320px;
	padding: 112px 0 0 0;
	background-position: 124px 41px;
	width: 166px;
}
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-73{ 
	left: 65px;
	top: 165px;
	padding: 118px 0 0 0;
	background-position: 54px 90px;
	width: 136px;
}
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-74{ 
	left: 796px;
	top: 280px;
	padding: 116px 0 0 0;
	background-position: 67px 87px;
	width: 156px;
}
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-75{ 
	left: 75px;
	top: 367px;
	padding: 109px 0 0 0;
	background-position: 50px 80px;
	width: 124px;
}
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-76{ 
	left: 780px;
	top: 700px;
	padding: 120px 0 0 0;
	background-position: 49px 0;
	width: 136px;
	height: 20px;
}





/* seccion hogar sano agua*/
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-81{ 
	left: 29px;
	top: 112px;
	padding: 120px 0 0 0;
	background-position: 80px 89px;
	width: 181px;
	height: 40px;
}
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-82{ 
	left: 169px;
	top: 680px;
	padding: 115px 0 0 0;
	background-position: 91px 12px;
	width: 123px;
	height: 40px;
}
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-83{ 
	left: 602px;
	top: 19px;
	padding: 126px 0 0 0;
	background-position: 54px 90px;
	width: 136px;
	height: 40px;
}
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-84{ 
	left: 816px;
	top: 21px;
	padding: 120px 0 0 0;
	background-position: 38px 89px;
	width: 106px;
	height: 40px;
}
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-85{ 
	left: 774px;
	top: 677px;
	padding: 110px 0 0 0;
	background-position: 19px 35px;
	width: 166px;
	height: 40px;
}


/* #### seccion bosque-sostenible ### */
/* seccion bosque-sostenible certificados*/
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-101{ 
	left: 87px;
	top: 324px;
	padding: 125px 10px 0 10px;
	background-position: 39px 88px;
	width: 83px;
	height: 40px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-102{ 
	left: 145px;
	top: 763px;
	padding: 106px 0 0 0;
	background-position: 102px 46px;
	width: 132px;
	height: 37px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-103{ 
	left: 91px;
	top: 155px;
	padding: 110px 20px 0 20px;
	background-position: 70px 79px;
	width: 64px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-104{ 
	left: 648px;
	top: 37px;
	padding: 122px 0 0 0;
	background-position: 64px 88px;
	width: 155px;
	height: 60px;
}
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-105{ 
	left: 827px;
	top: 38px;
	padding: 124px 0 0 0;
	background-position: 39px 93px;
	width: 112px;
	height: 60px;
}
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .main-producto .wrap-carousel-producto .eco-link-106{ 
	left: 834px;
	top: 356px;
	padding: 121px 0 0 0;
	background-position: 37px 88px;
	width: 104px;
	height: 20px;
}


/* Taller producto  */
#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .taller-producto{
	position: relative;
	float: left;
	width: 100%;
	height: 128px;
	background-image: url(/dam/templating-kit/themes/popLM/img/ecoopciones/bg-taller.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .taller-producto h2{
	margin: 27px 0 0 59px;
	font-size: 24px;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif !important;
	font-weight: bold;
	color: #4d4d4d;
	line-height: 26px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .taller-producto p{
	margin: 10px 0 0 59px;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblockproducto .taller-producto p span{
	color: #1e90ca;
	font-weight: bold;
}



/* consejos */
#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos{
	display: block;
	float: left;
	width: 858px;
	margin: 30px 40px;
}

#wrapper-3 #main #seccion-ecoopciones .eco-consejos h2{
	font-size: 30px;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif !important;
	font-weight: bold;
	color: #1E90CA;
	line-height: 26px;
	padding: 0;
	margin: 0;
}

#wrapper-3 #main #seccion-ecoopciones .eco-consejos p{
	margin: 30px 0 0 0;
}

#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .block-grafica{
	display: block;
	float: left;
	width: 100%;
	text-align: center;
}

#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .oLeft{}

#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .block-grafica p{
	font-size: 16px;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif !important;
	font-weight: bold;
	line-height: 18px;
	padding: 0;
	margin: 30px 0 0 0;
	/*text-align: center;*/
}

#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .eco-consejos-acordeon{
	float: left;
	width: 100%;
}
#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .wrap-content-bloque-econsejo{
	position: relative;
	float: left;
	width: 100%;
	margin: 15px 0 0 0;
}
#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .bloque-econsejo-tittle{
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	padding: 15px 20px;
	background-color: #7dbc39;
	position: relative;
	background-image: url('/dam/templating-kit/themes/popLM/img/ecoopciones/eco-arrow-acordion-up.png');
	background-position: 820px 22px;
	background-repeat: no-repeat;
	cursor: pointer;
}
#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .bloque-econsejo-tittle.on{
	background-color: #7dbc39;
	background-image: url('/dam/templating-kit/themes/popLM/img/ecoopciones/eco-arrow-acordion-down.png');
}

#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .bloque-econsejo-contenido{
	display: none;
	position: relative;
}

#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .bloque-econsejo-contenido .econsejo-box{
	position: relative;
	float: left;
	width: 430px;
	height: 206px;
	background-color: #fff;
	margin: 9px 9px 0 0;
}

#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .bloque-econsejo-contenido .special-box1{
	width: 419px;
	margin: 9px 0 0 0;
}

#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .bloque-econsejo-contenido .econsejo-box p{
	margin: 10px 10px 5px 20px;
}

#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .bloque-econsejo-contenido .econsejo-box p.main{
	margin: 20px 5px 0 20px;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}

#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .bloque-econsejo-contenido .econsejo-box p.specialTop{
	margin-top: 20px;
}

#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .bloque-econsejo-contenido .econsejo-box .green-box{
	position: relative;
	float: right;
	width: 206px;
	height: 206px;
	margin-left: 20px;
	background-color: #7dbc39;
	background-image: url('/dam/templating-kit/themes/popLM/img/ecoopciones/eco-green-box-marker.png');
	background-position: 0 0 ;
	background-repeat: no-repeat;
}

#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .bloque-econsejo-contenido .special-box-main{
	width: 858px;
	background-color: transparent;
}

#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .bloque-econsejo-contenido .special-box-main img{
	float: left;
}

#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .bloque-econsejo-contenido .econsejo-box .white-box{
	position: relative;
	float: right;
	width: 206px;
	height: 206px;
	background-color: #fff;
}

#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .bloque-econsejo-contenido .econsejo-box .white-box p{
	margin-right: 10px;
}

#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .bloque-econsejo-contenido .special-box2{
	width: 214px;
	margin-right: 10px;
}

#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .bloque-econsejo-contenido .special-box3{
	width: 205px;
	margin: 9px 0 0 10px;
}

#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .bloque-econsejo-contenido .special-box4{
	width: 418px;
	margin: 9px 0 0 0;
	background-color: transparent;
}

#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .bloque-econsejo-contenido .special-box5,
#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .bloque-econsejo-contenido .special-box6,
#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .bloque-econsejo-contenido .special-box7,
#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .bloque-econsejo-contenido .special-box8{
	width: 100%;
	margin: 9px 0 0 0;
	height: auto;
}

#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .bloque-econsejo-contenido .special-box6 p{
	margin-top:60px;
}

#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .bloque-econsejo-contenido .special-box7 p{
	margin-top:25px;
}

#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .bloque-econsejo-contenido .special-box5 .green-box{
	height: 340px;
}

#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .bloque-econsejo-contenido .special-box5 .green-box img{
	margin-top: 70px;
}

#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .bloque-econsejo-contenido .special-box8 .green-box{
	height: 280px;
}

#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .bloque-econsejo-contenido .special-box8 .green-box img{
	margin-top: 0px;
}

#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .bloque-econsejo-contenido .econsejo-box p a{
	color: #2492cb;
	text-decoration: underline;
	font-size: 14px;
}

#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .bloque-econsejo-contenido .econsejo-box p.main a{
	font-size: 16px;
}

#wrapper-3 #main #seccion-ecoopciones .eco-consejos .wrapper-ecoconsejos .bloque-econsejo-contenido .econsejo-box a:hover{
	text-decoration: none!important;
}


/*light box */
body.ecoopciones .overlay-ecoopciones{
	display: none;
	position: fixed;
	width: 978px;
	height: 100%;
	background-color: #fff;
	opacity: 0.93;
	-moz-opacity: 0.93;
	filter: alpha(opacity=93); /* IE */
	z-index: 100;
	cursor: pointer;
}

body.ecoopciones .wrapper-lightview-ecoopciones{
	display: none;
	position: fixed;
	width: 938px;
	height: 800px;
	top: 110px;
	left:0;
	z-index: 1000;
}

body.ecoopciones .wrapper-lightview-ecoopciones .contenido-lightview{
	position: relative;
	float: left;
	width: auto;
	height: auto;
}

#wrapper-3 #main #seccion-ecoopciones .ecoblock .contenido-lightview{
	display: none;
}

body.ecoopciones .wrapper-lightview-ecoopciones .wrap-carousel-lightview{
	position: relative;
	float: left;
	width: 938px;
	height: auto;
	margin: 0;
	padding: 0;
}

body.ecoopciones .wrapper-lightview-ecoopciones .wrap-carousel-lightview ul{
	position: relative;
	width: 938px;
	height: auto;
	margin: 0;
	padding: 0;
}

body.ecoopciones .wrapper-lightview-ecoopciones .wrap-carousel-lightview ul li{
	position: relative;
	float: left;
	width: 938px;
	height: 720px;
	margin: 0;
	padding: 0;
}

body.ecoopciones .wrapper-lightview-ecoopciones .wrap-carousel-lightview h2{
	margin: 20px 0 35px 40px;
}

body.ecoopciones .wrapper-lightview-ecoopciones .wrap-carousel-lightview p{
	margin: 0 40px 5px 40px;
	font-size: 14px;
	color: #4D4D4D;
	line-height: 20px;
}

body.ecoopciones .wrapper-lightview-ecoopciones .wrap-carousel-lightview .lBloque{
	position: relative;
	float: left;
	margin: 0;
	width: 100%;
	margin-top: 40px;
}

body.ecoopciones .wrapper-lightview-ecoopciones .wrap-carousel-lightview .medio{
	width: 50%;
}

body.ecoopciones .wrapper-lightview-ecoopciones .wrap-carousel-lightview .lBloque .lBoque-title{
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif !important;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
}

body.ecoopciones .wrapper-lightview-ecoopciones .wrap-carousel-lightview .lBloque .lBoque-title span.sBigText{
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif !important;
	font-size: 35px;
	line-height: 35px;
}
body.ecoopciones .wrapper-lightview-ecoopciones .wrap-carousel-lightview .lBloque .lBoque-title span.sColorOrange{
	color: #fc8c30;
}
body.ecoopciones .wrapper-lightview-ecoopciones .wrap-carousel-lightview .lBloque .lBoque-title span.sColorBlue{
	color: #0b7baf;
}



body.ecoopciones .wrapper-lightview-ecoopciones .wrap-carousel-lightview .lBloque img{
	margin-left: 40px;
}


/* preload ecoopciones*/
#wrapper-3 #main .text div .loader-ecoopcoiones {
	width: 32px;
	height: 32px;
	margin: 100px auto;
	background-color: #FFF;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-moz-box-shadow: 0 0 6px #333;
	-webkit-box-shadow: 0 0 6px #333;
	box-shadow: 0 0 6px #333;
}

#wrapper-3 #main .text div .loader-ecoopcoiones .loader {
	position: relative;
	top: 8px;
	left: 8px;
	width: 16px;
	height: 16px;
	background: url(/dam/templating-kit/themes/popLM/img/preload-small.gif) no-repeat top left;
}


/* bloque menu fixed */
#wrapper-3 #main #seccion-ecoopciones .wrapper-menu-eco-fixed{
	display: none;
	position: relative;
	left: 0;
	width: 890px;
	height: 110px;
	overflow: hidden;
	margin-left: 1px;
}

#wrapper-3 #main #seccion-ecoopciones .wrapper-menu-eco-fixed.fixed{
	display: inline-block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 90;
	width: 890px;
}

#wrapper-3 #main #seccion-ecoopciones .menu-eco-fixed{
	display: none;
	position: relative;
	top: -110px;
	width: 887px;
	margin: 0;
	height: 110px;
	background-color: transparent;
}

#wrapper-3 #main #seccion-ecoopciones .fixed .menu-eco-fixed{
	display: inline-block;
	background-color: #fff;
}

#wrapper-3 #main #seccion-ecoopciones .menu-eco-fixed ul.ecoopciones-nav {
	width: 887px;
	margin-left: 0;
}

#wrapper-3 #main #seccion-ecoopciones .menu-eco-fixed ul.ecoopciones-nav li {
	min-height: 65px;
}

#wrapper-3 #main #seccion-ecoopciones .menu-eco-fixed ul.ecoopciones-nav li.first {
	margin-left: 0;
}

#wrapper-3 #main #seccion-ecoopciones .menu-eco-fixed ul.ecoopciones-nav li.last {
	margin-right: 0;
}

#wrapper-3 #main #seccion-ecoopciones .menu-eco-fixed ul.ecoopciones-nav li .logo {
	height: 55px;
	background-size: contain;
	background-position: center;
	background-color: #D8EBC3;
}
#wrapper-3 #main #seccion-ecoopciones .menu-eco-fixed ul.ecoopciones-nav li.selected .logo {
	border-bottom-width: 11px;
	background-color: #72B526;
}

#wrapper-3 #main #seccion-ecoopciones .menu-eco-fixed ul.ecoopciones-nav li .logo a {
	height: 65px;
}

#wrapper-3 #main #seccion-ecoopciones .menu-eco-fixed .menu-eco-fixed-nav{
	display: inline-block;
	position: relative;
	top: 0;
	width: 887px;
	margin: 0;
	height: 44px;
}

#wrapper-3 #main #seccion-ecoopciones .menu-eco-fixed .menu-eco-fixed-nav p.menu-fixed-title {
	display: inline-block;
	min-width: 195px;
	margin: 0 15px;
	height: 44px;
	line-height: 44px;
	font-size: 24px;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif !important;
	font-weight: bold;
	color: #333;
	padding: 0;
}

#wrapper-3 #main #seccion-ecoopciones .menu-eco-fixed .menu-eco-fixed-nav ul {
	display: inline-block;
	
}

#wrapper-3 #main #seccion-ecoopciones .menu-eco-fixed .menu-eco-fixed-nav ul li{
	display: inline-block;
	margin: 0 15px 0 0
}

#wrapper-3 #main #seccion-ecoopciones .menu-eco-fixed .menu-eco-fixed-nav ul li a{
	display: inline-block;
	font-size: 18px;
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif !important;
	color: #333;
	padding: 3px 6px;
	text-decoration: none !important;
	border-radius: 5px;
}

/*Ahorro agua*/
#wrapper-3 #main #seccion-ecoopciones .menu-eco-fixed .menu-eco-fixed-nav.ahorro-agua{
	background-color: #84D2FF;
}

#wrapper-3 #main #seccion-ecoopciones .menu-eco-fixed .menu-eco-fixed-nav.ahorro-agua ul li a.active,
#wrapper-3 #main #seccion-ecoopciones .menu-eco-fixed .menu-eco-fixed-nav.ahorro-agua ul li a:hover{
	background-color: #3c5f73;
	color:  #84D2FF;
}

/*Ahorro energía*/
#wrapper-3 #main #seccion-ecoopciones .menu-eco-fixed .menu-eco-fixed-nav.ahorro-energia{
	background-color: #FFD572;
}

#wrapper-3 #main #seccion-ecoopciones .menu-eco-fixed .menu-eco-fixed-nav.ahorro-energia ul li a.active,
#wrapper-3 #main #seccion-ecoopciones .menu-eco-fixed .menu-eco-fixed-nav.ahorro-energia ul li a:hover{
	background-color: #BC8605;
	color:  #FFD572;
}

/*Hogar sano*/
#wrapper-3 #main #seccion-ecoopciones .menu-eco-fixed .menu-eco-fixed-nav.hogar-sano{
	background-color: #68CEC1;
}

#wrapper-3 #main #seccion-ecoopciones .menu-eco-fixed .menu-eco-fixed-nav.hogar-sano ul li a.active,
#wrapper-3 #main #seccion-ecoopciones .menu-eco-fixed .menu-eco-fixed-nav.hogar-sano ul li a:hover{
	background-color: #038978;
	color:  #68CEC1;
}


/*bosque-sostenible*/
#wrapper-3 #main #seccion-ecoopciones .menu-eco-fixed .menu-eco-fixed-nav.bosque-sostenible{
	background-color: #C38D6F;
}

#wrapper-3 #main #seccion-ecoopciones .menu-eco-fixed .menu-eco-fixed-nav.bosque-sostenible ul li a.active,
#wrapper-3 #main #seccion-ecoopciones .menu-eco-fixed .menu-eco-fixed-nav.bosque-sostenible ul li a:hover{
	background-color: #845034;
	color:  #C38D6F;
}



/* capa contenedora de fichas*/
.wrapper-contenido-fichas{
	display: inline-block;
	height: 1px;
	overflow: hidden;
}




/*Nuevo banner guia eficiencia*/
#wrapper-3 #main #seccion-ecoopciones .guia-eficiencia{
	background: url(/dam/templating-kit/themes/popLM/img/preload-small.gif) no-repeat top left;
}

#wrapper-3 #main #seccion-ecoopciones .guia-eficiencia a.btn {
	position: absolute;
	top: 378px;
	left: 141px;
	background: none;
	background-color: #97BE1F;
	font-weight: bold;
	text-decoration: none !important;
	padding: 8px 22px;
	border: 1px solid #FFF;
	background-color: #97be1f;
	-webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
	box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
	text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

#wrapper-3 #main #seccion-ecoopciones .guia-eficiencia a.btn:hover{
	text-decoration: none !important;
	background-color: #4E731E;
	background: -webkit-gradient(linear, left top, left bottom, from(#79B932), to(#4E731E));
	background: -moz-linear-gradient(top, #79B932, #4e731e);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79B932', endColorstr='#4e731e');
}



