#edna-recommendations {
    font-family: 'Roboto', sans-serif;
    color: #333333;
    line-height: 1.5;
    font-size: 14px;
    position: relative;
    height: 100%;
    display: block;
    overflow: hidden;
}
#edna-recommendations.edna-home {width: 680px;}
#edna-recommendations section {z-index: 10;}
#edna-recommendations.edna-home.edna-sponsored {height: 362px;}
#edna-recommendations h2 {
    margin-top: 0;
    font-weight: 300;
    font-size: 26px;
    margin-bottom: 15px;
    line-height: 1;
}
#edna-recommendations p {
    font-weight: 400;
    font-size: 15px;
    margin: 0;
}
#edna-recommendations a {
    color: #5a5bbb;
    text-decoration: none;
}
#edna-recommendations a:hover {color: #000;}
/*#edna-recommendations .edna-rec-input ul li:before {content: "";}*/
#edna-recommendations .edna-rec-input ul, #edna-recommendations .edna-rec-input ul li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
}
.edna-messaging {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    max-width: 400px;
}
.edna-search-form .edna-messaging {
    margin-top: 10px;
    margin-left: 0;
}
.edna-messaging p {margin: 0;}
.edna-messaging a { margin-top: 0;}
.btn-edna {cursor: pointer;}
.edna-rec-input {display: none;}
.edna-rec-input ul {margin: 20px 0;}
.edna-home .edna-rec-input ul {
    width: 100%;
    padding-left: 0;
    text-align: center;
}
.edna-search-form .edna-rec-input ul {
    margin: 20px 0 0;
    padding-left: 0;
}
.edna-rec-input .btn-dimension {text-align: center;}
.edna-home .edna-rec-input .btn-dimension {
    font-weight: bold;
    margin-right: 22px;
}
.edna-search-form .edna-rec-input .btn-dimension {margin-right: 7px;}
.edna-search-form .edna-rec-input .btn-dimension:nth-child(3n) {margin-right: 0;}
/*.edna-rec-input ul li.btn-dimension {
    list-style: none;
    list-style-type: none;
    list-style-image: url(data:0);
}*/
.edna-rec-input ul li:last-child {margin-right: 0 !important;}
.edna-rec-input .btn-dimension img {
    border: solid 4px transparent;
    display: block;
}
.edna-search-form .edna-rec-input .btn-dimension img {width: 85px;}
/*.edna-rec-input .btn-dimension.active {background-image: url('/content/dam/interactive_ads/edna/recommendations/btn-radio-active.jpg');}*/
.edna-rec-input .btn-dimension.active img {border-color: #33a2c4;}
.btn-dimension span {
    display: block;
    width: 100%;
    height: 25px;
}
.edna-search-form .btn-dimension span {
    font-size: 11px;
    font-weight: 600;
}
.btn-dimension.active span {
    background: #33a2c4;
    color: #fff;
}
#edna-recommendations .btn-primary {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    padding: 7px 14px;
    line-height: 1.5;
    margin-left: 5px;
    border: solid 1px transparent;
    white-space: nowrap;
    /*border-radius: 3px;*/
    font-weight: 300;
    background: #ff7500;
    color: #fff;
    /*box-shadow: 0 2px 0 0 rgba(0,0,0,.1);*/ /* add once regional sales button styles have been updated */
}
#edna-recommendations .btn-primary:hover, #edna-recommendations .btn-primary:active, #edna-recommendations .btn-primary:focus {
    background: #d7680d;
    color: #fff;
}
#edna-recommendations .btn-disabled {
    background: #ff8f1c;
    color: #fff;
    border-color: transparent;
    opacity: .65;
    cursor: not-allowed;
    box-shadow: none;
}
#edna-recommendations .btn-disabled:hover, #edna-recommendations .btn-disabled:active, #edna-recommendations .btn-disabled:focus {
    background: #ff8f1c;
    color: #fff;
    border-color: transparent;
    opacity: .65;
    cursor: not-allowed;
    box-shadow: none;
}
.btn-view-rec {position: relative;}
/*.edna-home .btn-view-rec {
    position: relative;
    right: 7px;
}*/
/*.edna-search-form .btn-view-rec {right: 4px;}*/
#edna-recommendations.edna-search-form .btn-view-rec {
    white-space: normal;
    width: 55px;
    line-height: 1.3;
    margin: 4px;
    padding: 24px 14px;
}
.btn-previous {
    display: none;
    cursor: pointer;
    margin-right: 10px;
    /*border: solid 1px #c2c2c2;
    padding: 8px 14px;*/
}
.btn-previous {margin-right: 0; margin-left: 10px;}
.msg-make-selection {
    display: none;
    /*background: #fde5e3;
    border: solid 1px #fccdd3;*/
    color: #a13d39;
    padding: 7px 0;
}
.edna-search-form .msg-make-selection {
    font-size: 14px;
    font-weight: normal;
}
.msg-make-selection * {vertical-align: middle;}
.msg-make-selection svg {
    position: relative;
    bottom: 2px;
}
.msg-make-selection svg path {fill: #a92726;}
.edna-rec-inventory {
    display: none;
    position: relative;
    z-index: 20;
}
/*.button-row {text-align: right;}*/
.button-row {text-align: left}
.edna-search-form .button-row {margin: 10px 0 30px;}
.button-row * {vertical-align: middle;}
.edna-search-form .edna-rec-input p:first-child,
.edna-search-form .edna-rec-inventory p:first-child {min-height: 44px;}
.edna-home .edna-modal-link {float: right;}
.edna-home .edna-slider-container {
    width: 620px;
    overflow: hidden;
    position: relative;
    left: 30px;
}
.edna-card-container {
    margin: 14px 0;
    width: 3000px;
    position: relative;
    right: 0;
}
.edna-card-container ul {
    padding: 0;
    margin: 0;
}
.edna-slider-controls {
    width: 100%;
    position: relative;
    bottom: 140px;
}
.btn-edna-slider {
    width: 23px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0.8;
}
.edna-slider-prev {
    left: 0;
    background: url(http://autotrader-stage.adobecqms.net/content/dam/interactive_ads/edna/recommendations/chevron-left.svg) no-repeat;
}
.edna-slider-next {
    right: 0;
    background: url(http://autotrader-stage.adobecqms.net/content/dam/interactive_ads/edna/recommendations/chevron-right.svg) no-repeat;
}
/*.edna-slider-controls[data-page="1"] .edna-slider-prev,*/
.edna-slider-controls .edna-slider-prev.disabled,
/*.edna-slider-controls[data-page="4"] .edna-slider-next,*/
.edna-slider-controls .edna-slider-next.disabled,
.edna-slider-controls.disabled .btn-edna-slider {
    cursor: default;
    opacity: 0.2;
}
/*.edna-card-container .bx-wrapper {margin-bottom: 0;}
.edna-card-container a.bx-prev {left: -40px;}
.edna-card-container a.bx-next {right: -40px;}*/
/* STYLES FOR AFTER USER TEST */
/*.edna-card-model {
    width: 122px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}*/
/* END STYLES FOR AFTER USER TEST */
.col {
    display: inline-block;
    vertical-align: top;
    width: 40%;
}
.edna-card {position: relative;}
.edna-home .edna-card {
    width: 145px;
    height: 205px;
    margin: 0 5px;
}
.edna-search-form .edna-card {
    width: 100%;
    margin-bottom: 10px;
    font-size: 0;
}
.edna-card:last-child {
    margin-right: 0;
    margin-bottom: 0;
}
.edna-card a {text-decoration: none;}
.edna-card-img {
    text-align: center;
    background: #333;
}
.edna-home .edna-card-img {height: 122px;}
.edna-search-form .edna-card-img {
    display: inline-block;
    width: 33%;
    height: 80px;
    vertical-align: top;
}
/*.edna-card-srp .edna-card-img {background: #fff;}
.edna-card-inventory .edna-card-img {background: #333;}*/
.edna-card-img:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.edna-card img {
    max-width: 90%;
    max-height: 90%;
    display: inline-block;
    vertical-align: middle;
}
.edna-card-details {
    background: #f0f0f0;
    padding: 8px;
    border: solid 1px transparent;
}
.edna-home .edna-card-details {min-height: 65px;}
.edna-search-form .edna-card-details {
    display: inline-block;
    width: 61%;
    height: 62px;
    vertical-align: top;
    /*right: 3px;
    position: relative;
*/}
/*.edna-rec-inventory[data-dimension="weirdness"] .edna-card[data-sponsor="true"] .edna-card-details {background: #fef6e1;}*/
/*.edna-rec-inventory[data-dimension="toughness"] .edna-card-details {border: solid 1px transparent;}*/
/*.edna-rec-inventory[data-dimension="toughness"] .edna-card[data-sponsor="true"] {
    border-color: #20aa97;
}*/
.edna-card[data-sponsor="true"] .edna-card-details {
    background: #fff;
    border-color: #6882ac;
}
.edna-card-details p {margin: 0;}
#edna-recommendations .edna-card-model, #edna-recommendations .edna-card-model a {
    color: #333333;
    font-size: 14px;
}
.edna-card-price {color: #8c8c8c;}
#edna-recommendations .edna-card-close {
    cursor: pointer;
    display: inline-block;
    float: right;
    color: #5a5bbb;
}
#edna-recommendations .edna-card-sponsor {
    display: none;
    font-weight: bold;
    font-size: 12px;
    color: #7a7a7a;
    margin-top: 3px;
}
#edna-recommendations .edna-card-sponsor,
#edna-recommendations .edna-card-close {text-align: right;}
#edna-recommendations .edna-card[data-sponsor="true"] .edna-card-sponsor {display: block;}
#edna-recommendations .edna-card[data-sponsor="true"] .edna-card-close {display: none;}
.edna-feedback {
    background: #c2c2c2;
    padding: 8px;
    text-align: center;
}
[class^="edna-feedback-"] {
    cursor: pointer;
    width: 30%;
    display: inline-block;
}
.edna-home .edna-card.reset {
    width: 129px;
    height: 189px;
    background: #f0f0f0;
    padding: 8px;
}
.edna-card.reset .btn-modify {
    display: block;
    width: 85px;
    background: #fff;
    border: solid 1px #c2c2c2;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0px 2px 1px #c2c2c2;
    margin-bottom: 15px;
}
.edna-card.reset p {line-height: 1.2;}
.edna-sponsor {
    color: #666;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 98%;
    height: 42px;
    background: #e5e5e5;
    padding: 6px 1%;
    display: none;
}
.edna-sponsored .edna-sponsor {display: block;}
.edna-search-form .edna-sponsor {
    position: relative;
    margin-top: 10px;
}

.edna-sponsoredBy {
    position: absolute;
    top: -17px;
    left: 6px;
    font-size: 10px;
}
/*.edna-home .edna-sponsor {width: 656px;}*/
/*.edna-sponsor img:first-child {
    margin-right: 15px;
    vertical-align: middle;
}*/
.edna-sponsor > div {
    display: inline-block;
    vertical-align: middle;
}
.edna-sponsor img {
    vertical-align: middle;
    max-height: 42px;
}
.edna-sp-logo {margin-right: 5px;}
.edna-home .edna-sp-logo {
    width: 130px;
    height: 42px;
}
.edna-search-form .edna-sp-logo {
    width: 68px;
    height: 46px;
}
.edna-sp-logo img {
    width: 100%;
    height: auto;
}
.edna-home .edna-sp-logo img {
    max-width: 130px;
    max-height: 42px;
}
.edna-search-form .edna-sp-logo img {
    max-width: 68px;
    max-height: 46px;
}
.edna-sp-text {
    display: inline-block;
    width: 67%;
}
/*.edna-sp-messaging {
    display: inline-block;
    vertical-align: middle;
}*/
.edna-home .edna-sp-messaging {
    width: 184px;
    height: 42px;
}
.edna-search-form .edna-sp-messaging {
    width: 215px;
    /*height: 42px;*/
}
.edna-home .edna-sp-cta-internal {margin-left: 14px;}
.edna-home .edna-sp-cta-external {margin-right: 14px;}
.edna-home .edna-sp-model {
    display: inline-block;
    width: 125px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.edna-home .edna-sp-model img {max-width: 114px;}
.edna-loading {
    /*display: none;*/
    text-align: center;
    position: absolute;
    width: 100%;
    height: 80%;
    left: 0;
}
.edna-search-form .edna-loading {
    position: relative;
    height: 320px;
}
.edna-home .edna-loading img {margin: 13% auto;}
.edna-search-form .edna-loading img {margin-top: 45%;}
.edna-modal {
    display: none;
    position: absolute;
    top: 0;
    left: 680px;
    width: 100%;
    background: #e5e5e5;
    z-index: 30;
    height: 244px;
    box-sizing: border-box;
}
.edna-home .edna-modal {padding: 50px 65px;}
.edna-search-form .edna-modal {
    height: 445px;
    padding: 70px 25px;
}
.btn-modal-close {
    cursor: pointer;
    z-index: 100;
    /*background-image: url('http://media.autotrader.com/interactive_ads/plugins/fancybox/fancybox_atc_close.gif') !important;
    background-size: 50px 50px !important;*/
    width: 11px;
    height: 32px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.btn-modal-close path {fill: #575757;}
.edna-modal .btn-modify {
    margin-top: 25px;
    display: block;
}
.edna-modal-bg {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 20;
}

#edna-recommendations .beta-box {
    border: 1px solid #ccc;
    vertical-align: 4px;
    margin-left: 5px;
    padding: 0 3px;
    color: #ccc;
    font-size: 12px;
}

.speedyHomepageLayout #edna-recommendations.edna-home {
    width: 564px;
    min-height: 300px;
}

.speedyHomepageLayout .edna-home .edna-rec-input .btn-dimension {margin-right: 3px;}

.speedyHomepageLayout .edna-home .edna-card {width: 115px;}

.speedyHomepageLayout .edna-home .edna-card-details {min-height: 85px;}

.speedyHomepageLayout .edna-home .edna-sp-model {width: 97px;}

.speedyHomepageLayout .edna-home .edna-slider-container {width: 504px;}

.speedyHomepageLayout .edna-home .edna-modal {height: 277px;}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* removes bullets in list items for IE11*/
    /* You may need the next line: #page_bonds #videos li */
/*    #edna-recommendations ul li {
        list-style-position: outside;
        list-style: none;
        overflow: hidden;
    }*/
}