.topgoods-img {border-color:#d6d6d6;}

.bottom-goods-bar {height: 28px;}
.bottom-goods-bar table { width: 100%; height: 100%; }
.bottom-goods-bar td {
    vertical-align: top;
    height: 100%;
    line-height: 100%;
    white-space: nowrap;
}

.goods-bar-section  {
    border-left: 1px solid #ccc;
    border-right: 1px solid #fff;
    width:150px;
    height: 28px;
    cursor: pointer;
    font: normal 12px arial;
    text-align:center;
    color:#333;
    padding: 0;
    text-shadow: 0 1px 0 #fff;
	padding-left: 15px;
}
.goods-bar-section:hover {background: url('/img/bg-bottom-menu-2.gif') repeat-x;}

.bottom-goods-bar .section-disabled:hover {background: none;}
.bottom-goods-bar .goods-bar-section b {border-bottom: 1px dashed #333;}
.bottom-goods-bar .section-disabled {color:#999;}
.bottom-goods-bar .section-disabled b {border-bottom: 1px dashed #999;}

.bottom-goods-bar .section-selected {
    color:#fff;
    text-shadow: 0 -1px 0 #333;
    -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.25), 0 1px 0 white;
            box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.25), 0 1px 0 white;
    background: url('/img/bg-bottom-menu-3.gif') repeat-x center left;
}
.bottom-goods-bar .section-selected b {border-bottom: 1px dashed #fff;}

.goods-bar-section .bar-arrow{display: inline-block; _display: inline; margin-left:4px; width:10px; height:10px;}
.bottom-goods-bar .section-disabled:hover .bar-arrow {background: none!important;}
.bottom-goods-bar .goods-bar-section:hover .bar-arrow {background: url('/img/bottom-model-arr-2.gif') no-repeat 1px 4px;}
.bottom-goods-bar .section-selected .bar-arrow,
.bottom-goods-bar .section-selected:hover .bar-arrow {background: url('/img/bottom-model-arr-1.gif') no-repeat 1px 4px;}

.goods-bar-section sub { position:relative; top:2px; left:5px;}

.goods-bar-closed, .goods-bar-opened { width:25px; height: 28px;}
.goods-bar-opened {cursor: pointer;background:url('/img/side-panel-close-1.png') no-repeat 3px 8px;}
.goods-bar-opened:hover {background: url('/img/side-panel-close-21.png') no-repeat 1px 6px;}

.bottom-goods-menu {
    position:fixed; left:0; right:0;
    background:#e2e2e2 url('/img/bg-bottom-menu-1.gif') repeat-x;
    border-top: 1px solid #cfcfcf; z-index:100000;
}
.nt .bottom-goods-menu { bottom: 0; }
.t { padding-top: 35px;}
.t .bottom-goods-menu {
    top:0;
    -webkit-box-shadow: 0 10px 10px -6px #999;
            box-shadow: 0 10px 10px -6px #999;
}

.topgoods-img {border-color:#c6c6c6}

.bottom-goods-content .side-list-block {
    float:left; text-align: left;
    width:90px; height: 100px;
    padding-top: 12px; padding-right: 0; padding-left: 6px;
    margin-right: 0;
}
.bottom-goods-content .side-list-label {
    margin-left: 0;
    white-space: normal!important;
	width: 80px;
	line-height:120%;
	height: 28px;
	overflow: hidden;
}

.bottom-goods-menu .side-list-block .visited {color:#666 !important;}

.arr-back, .arr-next, .arr-back-disabled, .arr-next-disabled {width: 33px;height: 64px;}
.arr-back {background: url("/img/bottom-model-menu-arr-111.png") no-repeat 0 8px;}
.arr-next {background: url("/img/bottom-model-menu-arr-211.png") no-repeat 0 8px;}
.arr-back:hover {background: url("/img/bottom-model-menu-arr-131.png") no-repeat 0 8px;}
.arr-next:hover {background: url("/img/bottom-model-menu-arr-231.png") no-repeat 0 8px;}
.arr-back-disabled {cursor:default!important;background: url("/img/bottom-model-menu-arr-121.png") no-repeat 0 8px;}
.arr-next-disabled {cursor:default!important;background: url("/img/bottom-model-menu-arr-221.png") no-repeat 0 8px;}


/*.arr1-back, .arr1-next, .arr1-back-disabled, .arr1-next-disabled {width: 46px; height: 37px; background-image:url("/img/rec-arr-13.png"); background-repeat:no-repeat; position:relative; top: 4px; left:5px;}*/
/*.arr1-back {background-position:  6px -35px; position:relative;}*/
/*.arr1-next {background-position:  5px -114px;}*/
/*.arr1-back:hover {background-position:  0 -209px;}*/
/*.arr1-next:hover {background-position:  0 -159px;}*/
/*.arr1-back-disabled {cursor:default!important;background-position:  6px 5px; position:relative;}*/
/*.arr1-next-disabled {cursor:default!important;background-position:  5px -74px;}*/

.gt-right-arr {text-align:right; padding: 0 12px; width: 1px; visibility: hidden;}
.gt-left-arr {padding: 0 12px; width: 1px; visibility: hidden;}

.bottom-goods-content {
	border-top: 1px solid #f9f9f9;
    height:115px;
    background:#efefef;
    width:100%;
}
.goods-menu-mask {
    height: 107px;
    width: 100%;
    position: relative;
    overflow:hidden;
    margin:0 auto;
}

.gt-dots {text-align: center;width:100%;border-right:1px solid #fff;overflow: hidden;}
.gt-dots .dot, .gt-dots .dot-selected {float:left;margin-top:1px;height:20px;width:20px;}
.gt-dots .dot {background: url('/img/dot-1.png') no-repeat center center;}
.gt-dots .dot:hover {background-image: url('/img/dot-1-hover.png');}
.gt-dots .dot-selected {background: url('/img/dot-1-selected.png') no-repeat center center;}
.gt-dots .dot-selected:hover {background-image: url('/img/dot-1-selected.png');}

.gt-dots-container {
    margin: 0 10px;
    overflow: hidden;
    height: 28px;
    padding: 2px 0 0;
    display:inline-block;
    _display:inline;
}

#bar_bm_compared:before { content:''; width: 16px; height: 16px; display: inline-block; position: relative; top:0; left:-1px;
    background: url('/img/bottom-bar-sprite.5.png') no-repeat; }
#bar_bm_visited:before,  #bar_bm_marked:before {
    content:''; width: 16px; height: 16px; display: inline-block;
    position: relative; top:5px; left:2px;
    background: url('/img/bottom-bar-sprite.5.png') no-repeat;
}

#bar_bm_visited:before { background-position: -2px -60px; top:6px;}
#bar_bm_visited.section-selected:before { background-position: -2px -80px; }
#bar_bm_visited.section-disabled:before { background-position: -2px -100px; }

#bar_bm_marked:before { background-position: -2px -0px; top:4px; }
#bar_bm_marked.section-selected:before { background-position: -2px -20px; }
#bar_bm_marked.section-disabled:before { background-position: -2px -40px; }

#bar_bm_compared:before {background-position: 0 -140px; top:5px; }
#bar_bm_compared.section-selected:before { background-position: 0 -180px; }
#bar_bm_compared.section-disabled:before { background-position: 0 -160px; }

.bottom-goods-menu .panel-item-close {position: absolute;top: 2px;right: -5px;width: 17px;height: 17px;z-index: 10000;}
.bottom-goods-menu .hover-first .panel-item-close {right: -13px;}
.bottom-goods-menu .hover-last .panel-item-close {right: 0;}

.gt-shadow {display: none;position:absolute;top:-10px;left:-30px;width:150px;height:150px;background: grey;}

.bottom-goods-menu .mark-favorite {display:none;}
.gt-compare-button {display: none; padding: 0 30px; float:right;}
.gt-compare-button .orange-but {
    border-radius: 2em;
    font-size:11px; padding: 2px 30px 4px;
    position: relative;
    top:2px;
    text-decoration: none;
}

.side-list-block {position: relative; overflow: visible!important; text-decoration: none; display:block; padding:6px 16px 0 0; text-align: right; /*overflow: hidden;*/ height:90px;}
/* при наведении - увеличенные звезды */
.nt a.side-list-block:hover .star-off, .nt a.side-list-block:hover .star-on { display: block; }
.nt a.side-list-block:hover .star-on { background: url('/img/favorites-icon-91.png') no-repeat -1px -1px; }
.nt a.side-list-block:hover .star-on:hover { background: url('/img/favorites-icon-922.png') no-repeat -1px -1px; }
.nt .side-list-block:hover .panel-item-close { background: url('/img/user-content-del-1.png') no-repeat;}
.nt .side-list-block .panel-item-close:hover {cursor: pointer;background: url('/img/user-content-del-2.png') no-repeat;}

.star-off { background: url('/img/favorites-icon-94.png') no-repeat -1px -1px;}
.nt .star-off:hover { background: url('/img/favorites-icon-93.png') no-repeat -1px -1px;}

.side-list-block:visited .side-list-label {color:#765296;}
.side-list-block .img-container { width:62px; height: 62px;text-align: center; position: relative;vertical-align: middle; padding: 3px; background-color:#fff; border:1px solid #d6d6d6;border-radius: 0.4em;margin-bottom:3px;}
.side-list-block img {border: 0;vertical-align: middle;}
.side-list-label {clear:both; white-space:nowrap!important;margin: 0 0 10px 14px;font-size:11px;color:#555;overflow: hidden;width: 120px;}

.gt-help {background: url('/img/bottom-bar-sprite.12.png') no-repeat 0 -120px;width: 18px;height: 18px;margin: 6px 10px 0;}
.nt .gt-help:hover {background: url('/img/bottom-bar-sprite.12.png') no-repeat 0 -140px;}

/* стиль для блымающей закладки */
.bottom-goods-menu .bottom-goods-bar .num-action {
    color:#333;
    text-shadow: 0 1px 0 white;
    -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.25),0 1px 0 white;
            box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.25),0 1px 0 white;
    background: url('/img/bg-bottom-menu-2.gif') repeat-x;
}

/* toggle-on(off) sae: не менять и ничего сюда не добавлять! */
.toggle-on .on, .toggle-off .off {display: ''!important}
.toggle-on .off, .toggle-off .on {display: none!important}

.block-selected .img-container {border: 2px solid #ff8d02 !important; border-radius: 0.4em;}
.block-selected .side-list-label {color:#ff8d02!important}
.block-selected .star-on, .block-selected .star-off {top:-11px!important;left:-10px!important;}
.block-selected div {color: #ff8d02;}

.big-star-on, .big-star-off, .big-compare-on, .big-compare-off  {height: 24px;padding: 4px 0 6px 26px; font: normal 12px arial; color: #555; margin-right: 30px; cursor: pointer;}

/* большие звезды fav */
.big-star-on {background: url('/img/favorites-icon-91.png') no-repeat 0 0;}
.nt .big-star-on:hover {background: url('/img/favorites-icon-922.png') no-repeat 0 0; color:#ff8d02}

.big-star-off {background: url('/img/favorites-icon-94.png') no-repeat 0 0;}
.nt .big-star-off:hover {background: url('/img/favorites-icon-93.png') no-repeat 0 0; color:#ff8d02}

/* большие иконки сравнения */
.big-compare-on {background: url('/img/compare-ic-11.png') no-repeat 1px 3px;}
.nt .big-compare-on:hover {background: url('/img/compare-ic-17.png') no-repeat 1px 3px; color:#ff8d02}

.big-compare-off {background: url('/img/compare-ic-12.png') no-repeat 1px 3px;}
.nt .big-compare-off:hover {background: url('/img/compare-ic-13.png') no-repeat 1px 3px; color:#ff8d02}

/* звезды в списке товаров */
.list-img-star { position: absolute; cursor: pointer; top:-10px; z-index:15; left:-10px; width:23px; height: 22px; }
/* серая невключенная звезда - скрыта */
.list-img-star .big-star-off{display: none}
/* при наведении на большой блок невключенная звезда - видна */
.nt .model-short-block:hover .big-star-off {display: block;}

/* без наведения на звезду - тексты скрыты */
.list-img-star em {visibility: hidden;}
.nt .list-img-star:hover em {
    visibility: visible;color:#777; border-bottom: 1px dashed #777;
	filter:alpha(opacity=80); opacity: 0.8;
	background-color: #fff;
}
/* END ---------------- звезды в списке товаров */

/* группы в сравнении */

.gt-compared-katalogs {
    vertical-align: top;
	width:120px;
	height: 100px;
	text-decoration:none;
	text-align:left;
	color:#777;
	background: url(/img/bg-compare-group.gif) no-repeat 5px 5px;
	font-size:11px;
	margin: 5px 0 0;
    overflow: hidden;
}
.gt-compared-katalogs sub {position:relative; top: 3px;}

.gt-compared-katalogs-img {
   width:62px;
   height: 62px;
   text-align: center;
   position: relative;
   vertical-align: middle;
   padding: 3px;
   background-color: #fff;
   border: 1px solid #d6d6d6;
   margin-bottom:11px;
   background-repeat: no-repeat;
   background-position: center center;
}

.nt .gt-compared-katalogs:hover .gt-compared-katalogs-img {
    border: 1px solid #ff8d02;
}

.body-side-closed #stripe_stripe_menu {display: none;}