.ui-autocomplete {
	display:none;
	position:absolute;
	margin:0;
	padding:0;
	height:auto;
	min-width:108px;
	background-color:#fff;
}

.ui-autocomplete .ui-menu-item {
	list-style:none;
	padding:0;
	margin:0;
	font-family:tahoma;
	font-size:11px;
	color:#333;
	cursor:pointer;
}

.ui-autocomplete .ui-menu-item .ui-corner-all {
	float:left;
	padding:5px 5%;
	margin:0;
	width:90%;
	text-decoration:none;
	color:#333;
	line-height:16px;
}

.ui-autocomplete .ui-menu-item .ui-corner-all.ui-state-hover { background-color:#ddd; }
