	
@font-face {
		font-family: 'allerbold';
		src: url('ff/aller_bd-webfont.woff2') format('woff2'),
			 url('ff/aller_bd-webfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	
	}
	
	@font-face {
		font-family: 'allerregular';
		src: url('ff/aller_rg-webfont.woff2') format('woff2'),
			 url('ff/aller_rg-webfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}
	
	/* tipografia */
	.main-header, .main-header p{ font-family:'allerregular', san-serif;}

	.clima .act,
	.clima .temps .cdad,
	.a-hora,
	#main-nav > ul.menu > li a,  #sec-nav
	{ font-family:'allerbold', san-serif; font-weight:100}
	
body {background-color:#f2f2f2;}


h1, h2, h3, h4, h5, h1 a, h2 a, h3 a, h4 a, h5 a {font-family: Georgia, "Times New Roman", Times, serif; font-style: normal!important; }



.logo {position:relative; float: left; margin: 0 0 0 0; top: auto; left: auto;margin-top:33px}

.datos {display: inline-block;width: 100%;position: relative;margin: 0px 0px 0px 0px;padding:0px;background:#b62027 none;}
.datos .contenedor {background-color: transparent;}
.datos .contenedor .cont-menu {position: relative; margin-top: -20px}
h3 {font: normal 15px/15px sans-serif;}
h5 {font-weight: normal; font-size: 18px; line-height: 22px;}


.box ul li span.sec {font: normal 11px/18px  Georgia, "Times New Roman", Times, serif;}
.ranking ul.tabs li {font: normal 11px/24px Georgia, "Times New Roman", Times, serif;}


.masboton {background-color: #81161C; font:bold 12px arial, helvetica, sans-serif !important; color:#fff; padding: 5px !important; border-radius: 3px;
    margin: 0 10px 0 0; display: inline-block;}
.masboton:hover { color:#fff !important; background-color: #006}
.masboton.activo {background-color: #fff !important; color:#81161C;}

.herramientas {
	width: 175px;
	float: right;
	padding: 0;
	margin: 0px;
}

.buscador {float: right;background-color: #fff;position: relative;width: 220px;margin: 10px 0px 0px 0px;clear: both; border:solid 1px #ccc; color:#444; border-radius: 0;}
.busqueda {background: none;border: none;padding: 3px;color: #444;width: 140px;float: left; font:12px arial, helvetica, sans-serif;}
.busqueda:focus{
    outline:0px;
}

.registro {float: right; margin:0px;width:100%; height:auto}
.registro a {color: #fff; font:12px arial, helvetica, sans-serif; text-transform: uppercase;}
.registro a img {position:relative; top:2px; margin:0 5px 0 0 ;}
.registro .usuario {float: left; margin:0 18px 0 0 ;}
.registro .registrarse {float: left; padding: 0;}
.registro a:hover {color:#EB8B91;}


.cabeceraInterna .logo {margin: 0px; width: 330px; text-align: center;}

.seccionInterna {float: left; border-top:solid 1px rgba(0,0,0,0.3); border-bottom:solid 1px rgba(0,0,0,0.3); font: 60px/60px "fuente", arial, helvetica, sans-serif; color:#fff;
padding: 0px 0px; position: relative; text-align: center; height: 60px; margin:25px 0 0 0px; width: 330px}
.seccionInterna span {position: absolute; top: -12px; left:97px; padding: 2px 3px; font-size: 16px; line-height: 16px;
    text-align: center; letter-spacing: 1px; background-color: #B62027; width: 130px;}
.seccionInterna a {font:bold 30px/60px "Palatino Linotype",arial, helvetica, sans-serif; color:#fff; text-transform: uppercase;}
.seccionInterna#dosrenglones {height: 60px; padding: 10px 0;}
.seccionInterna#dosrenglones a {line-height: 30px}
.seccionInterna a:hover { color:#EB8B91;}
.redes {margin:0px 0px 0 0;}


ul.menu > li:hover > a {background:transparent none;}
.cont-menu {margin-top: -20px; z-index: 500;}
ul.menu {
    background: transparent url(/a/plantillas/1/p/31/imgs/bg-menu.jpg) repeat-x top center; border-radius: 0px;  width: 980px;
    /*min-height: 40px;*/
}
ul.menu > li a:hover, .menu > li .activo {background:#b62027 none; color:#fff;}
img.menu-left {position:absolute; left:-180px; top :0;}
img.menu-right {position:absolute; right:-180px; top :0;}





ul.sub-flotante {background-color:transparent; top:40px;}
ul.sub-flotante li {border-bottom: solid 1px #4496DF;width: 100%; background-color: #194E80;}
ul.sub-flotante li a {color:#fff; background-image: none; width: 134px;}
ul.sub-flotante li:hover a, ul.sub-flotante li .subactivo {background-color:#B62027;}



.avatar {
width: 28px;
height: 45px;
float: left;
margin-right: 10px;
padding-right: 10px;
border-right:solid 1px  #ccc; 
}
.avatar img {padding: 7px 0 0 0; position: relative;}
.redes {margin:0px 0px 0 0;}
.redes a {margin:0 5px 0 0;}

.tabs940 a .tabs940_tit {position: absolute;z-index: 500;font: bold 12px Arial, helvetica, sans-serif;color: #fff;bottom: 5px;left: 5px;
	padding: 10px;background-color: rgba(30, 110, 181, 0.7);width: 150px;letter-spacing: 0px;min-height: 32px;}

.tabs940 a.current .tabs940_tit, ul.tabs a.current:hover .tabs940_tit, ul.tabs li.current a .tabs940_tit {background-color:rgba(30, 110, 181, 1)}
.tabs940 a:hover .tabs940_tit {background-color: rgba(30, 110, 181, 1);}

.flecha_destacada { position:absolute; left:-22px; top:0px; display:none; z-index:1000; background:url(/a/plantillas/1/p/31/imgs/flecha_desatacada.png) no-repeat center center; width:23px; height:52px;}

.tabs940_titNota {
font: 30px/32px Georgia, "Times New Roman", Times, serif; color: #006;padding: 0px 0px 10px 0px; display:inline-block;}
.tabs940_bajada {color:#666;}

.svg-triangle polygon { fill:rgba(30, 110, 181, 1); stroke:#65b81d; stroke-width:0; }

a:hover { color: #b62027; }


.seccion {position: relative;width: 940px;padding: 20px 19px 0px 19px;display: inline-block;background-color: #fff; border-left:solid 1px #ccc; border-right:solid 1px #ccc;}
.volanta {margin-bottom: 2px;color: #b62027; font: bold 11px/14px "Trebuchet MS",Tahoma,Verdana; text-transform: uppercase;}


.box ul li span.hora, .ranking .panes ul li span.hora, #comentarios .tit, .comentarios a {color: #b62027;}
.puntos a:hover, .puntos a.active {background-color: #000;}



.bannersHomeAnunciante em { font: 11px Arial, helvetica, sans-serif; color: #035b88; position: relative; }
.bannersHomeAnunciante:hover a.vermas {background-color:#06aaff; color:#fff;}

ul.tabs_anunciante a:hover, ul.tabs_anunciante a.current { color: #035b88; background-color: #fff; border-bottom: solid 1px #fff; }
.recorrido a { font: 12px "Trebuchet MS",Arial,Helvetica,sans-serif; color: #444; float: left; padding: 0px 5px 0px 0px; margin: 0px 5px 0px 0px; border-right: solid 1px #444; }


.tematica a:hover {border: 2px solid #1f362c;}
.editor80 {position:absolute; right: 10px; top: 0px;}

.ocupado { text-align: center; padding: 15px; font:bold 12px Arial, helvetica, sans-serif; color: #000; border: solid 1px #06aaff; width: 590px; margin-bottom: 10px; }

.actualizado { background-color:#ccc; color:#444; padding:0px 5px; font:bold 11px Arial, helvetica, sans-serif; margin:0px 5px 0px 0px;}

.pie {position: relative; z-index: 800;}
.pie-banda { background-color: #b62027; margin:0 0 20px 0; padding: 0 0 30px 0;}
.pie-banda .datos_contacto { font: bold 14px Georgia, "Times New Roman", Times, serif; float: left; width: 300px; margin:30px 20px 0 20px; text-align: center;}
.datos_contacto a {color:#fff; font:bold 11px arial, helvetica, sans-serif; float: none; margin:0 0 10px 0;}
.pie-banda .datos_contacto img {position: relative;top: 0px;left: 0px;margin: 0px 0px 0px 0px;}
.datos_contacto a.logo-pie {margin:30px 0 30px 8px;}
.pie-banda .contenido {background-color:transparent; padding:0 10px}
.pie-datos {background-color: #164978; position: absolute; bottom: -50px;}
.pie-datos p { color: #fff; font:bold  12px arial, helvetica, sans-serif; }
.pietitulo {font: bold 12px Georgia, "Times New Roman", Times, serif;}
.pielinks.secciones {width: 260px;margin:15px 40px 20px 0;}
.pielinks.secciones .f-left {width: 110px; margin:0px 15px 0 0;}
.pielinks.secciones a {color: #fff;font:bold 11px Arial, Helvetica, sans-serif; text-transform:uppercase;padding: 0px 0px 5px 0px; margin: 0px 0px 5px 0px; float: left;position: relative;border-bottom: solid 1px #db9093; width: 90px;display: inline-block;}
.pielinks {margin: 15px 0 0 0}
.pielinks img {margin:0px; top:0;}
.redespie { float: left; border-bottom:solid 1px #db9093; border-top:solid 1px #db9093; margin:30px 0px 0 0; padding: 15px 0; width: 150px; text-align: center}
.redespie a { display:inline-block; border-bottom:none; margin:0 5px 5px 5px; width: auto; float:none;}
.qr {float: right; position:relative;}
.auspicio_pie {margin:12px 0 0 0; width:120px; text-align:center; float: right;}
.auspicio_pie img {position: relative; margin:0 0 15px 0;}



a.browse {background-image: url(/a/plantillas/1/p/31/imgs/flechitas.png); top:-27px;}
.ampliar a {color:#b87821; font-weight: bold;}
.box {background-color: #f9f9f9}
.box #un-300 {}
.box #un-300 li {margin-bottom: 9px; padding-bottom: 10px }

.scrollable300Home a.browse {background-image: url(../imgs/flechas-clima.png);}
.btn_gral:hover { background-color:#b62027; color:#fff;}

.caja .cabezal {font: 12px Georgia, "Times New Roman", Times, serif;}

.scrollable300Home .navi a {background-image: url(/a/plantillas/1/p/31/imgs/dotsHome.png);}


/*CABEZALES */


.cabezal, .cabezal620, .cabezal940{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b40320+0,8d0218+100 */
background: #b40320; /* Old browsers */
background: -moz-linear-gradient(top,  #b40320 0%, #8d0218 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #b40320 0%,#8d0218 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #b40320 0%,#8d0218 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b40320', endColorstr='#8d0218',GradientType=0 ); /* IE6-9 */
}


.cabezal620 a {color:#fff;}
.cabezal620 a:hover {color:#000;}

.cabezal620modulo {background: url(../imgs/bg-cabezal620.jpg)no-repeat left top; padding:9px 10px 12px 10px;
	font:bold 14px Arial, helvetica, sans-serif; margin:0; position: relative; color:#fff; z-index: 800;}

a.ampliar {color:#fff; text-transform: uppercase;}




.publicidad-top {background-color: #fff}

.publicidad-cabecera { display: none; }
.notaint h3 {color:#000;}


/*PERSONALIZACION NOTAS PORTADA*/
#catastrofe {position: relative;}
#catastrofe h1 { position:absolute; background: rgba(255,255,255, 0.4) none; padding: 20px; z-index: 500; width: 900px}
#catastrofe h1 a {font:bold 50px/45px Georgia, "Times New Roman", Times, serif; color:#fff; text-shadow:0 0 10px #000, 0 0 5px #000 ;}
#catastrofe .epigrafe {display: none;}
.nota460 {position:relative;}
.nota460 .volanta {position:absolute; z-index:1; top:10px; right: 10px; color:#fff; font:bold 11px arial, helvetica, sans-serif; text-transform: uppercase; background-color: #b62027; padding: 5px 10px; }
.nota460 h1 {position:absolute; background: rgba(255,255,255, 0.4) none; padding: 20px;  z-index: 500; width: 420px; text-align: center;}
.medio460 {top:80px !important;}
.abajo460 {bottom:10px !important;}
.medio940 {top:120px !important;}
.abajo940 {bottom:0px !important;}

.nota460 h1 a {font:26px/26px Georgia, "Times New Roman", Times, serif; color:#fff; text-shadow:0 0 10px #000, 0 0 5px #000 ;}
.nota460 .epigrafe, .nota460 p {display: none;}

.slide940_5noticias .scrollable940 .items > div > a {box-shadow: 0px 3px 5px #999}
.titularslide940_5noticias { background-color: #1F6DB5; color:#fff; border:solid 1px #1F6DB5;}
.slide940_5noticias ul.navi {display: none;}

.tematica_titulo {font:bold 20px/20px Georgia, "Times New Roman", Times, serif; color:#fff;}

.slide940_5noticias .cabezal940 {background-image: url(/a/plantillas/1/p/31/imgs/fondo5noticias.png); background-repeat: no-repeat; background-position: top right; }
.slide940_5noticias a.browse {background-image: url(/a/plantillas/1/p/31/imgs/flechitas2.png);}
.slide940_5noticias a.left { left:880px;}
.slide940_5noticias a.right {right:20px;}

.moduloTematico {background: #000 url(/a/plantillas/1/p/31/imgs/modulo-tematico.jpg) no-repeat top center;}
.moduloTematico .espacioCabecera {height: 80px}


/*ENCUESTA SEMANAL*/
.encuestasemanal {}
.encuestasemanal .box {background-color: #eaeadd; border: solid 1px #d4d4c8;}
.encuestasemanal .cabezal{ text-indent: -999px; background: #ebe9da url(/a/plantillas/1/p/31/imgs/encuesta-semanal.jpg) no-repeat top center; height: 99px;}
.encuestasemanal .cabezal a{ display: none;}
.encuestasemanal .box p {font: bold italic 18px/20px Georgia, "Times New Roman", Times, serif;letter-spacing: -1px;color: #2b478a;text-align: center;padding: 0px 0px 10px 0px;margin: 0px 0px 5px 0px;border-bottom: solid 1px #d4d4c8;}
.encuestasemanal .votarYresultados {margin:5px 0 0 0; padding: 5px 0 0 0; border-top: solid 1px #d4d4c8; display: inline-block; width: 100%}
.encuestasemanal .votarYresultados a { background: #e5801d none; border: solid 1px #bf6b18; width: 100%; padding: 5px 0; display: inline-block; border-radius: 0; margin:0 0 10px 0;
 padding: 7px 0px; font: bold italic 16px Georgia, "Times New Roman", Times, serif; color: #2b478a;}
 .encuestasemanal .votarYresultados a:hover {background-color: #975411; color:#fff;}



    /*MODULO 100% ESPECTACULO */
.primera100 {margin-top: -20px !important;}
.especial100 {margin-top: -41px;}
.especial100.espec100 {background: #9D0305 url(/a/plantillas/1/p/31/imgs/bg-espectaculos.jpg) no-repeat top center;}
.especial100.espec100 .nota1 h2 a, .especial100.espec100 .nota2 h3 {color:#fff;}
.especial100.espec100 .volanta100, .especial100.espec100 .nota3 .caja { background-color: #fa9900; color:#000;}
.especial100.espec100 p {color:#fff; opacity: 0.8;}
.especial100.espec100 .nota3 .caja p {color:#222;}
.especial100.espec100 .titular {color:#000;}
.especial100 .nota3 h3 {color:#000;}


    /*MODULO 100% DEPORTE */
.especial100.dep100 {background: #50BA40 url(/a/plantillas/1/p/31/imgs/bg-deportes.jpg) no-repeat top center;}
.especial100.dep100 .nota1 h2 a, .especial100.dep100 .nota2 h3 {color:#132D0F;}
.especial100.dep100 .volanta100 { background-color: #1C4316 !important}
.especial100.dep100 .titular {color:#fff;}
.especial100.dep100 h3 {color:#fff;}
.especial100.dep100 p {color:#000;}
.especial100.dep100 .nota3 .caja p {color:#21ff10;}
.especial100.dep100 .nota3 .caja {background-color: #357c2a}
.especial100.dep100 img {border:solid 1px #357c2a;}


    /*MODULO 100% POLICIAL */
.especial100.policial {background: #202E6F url(/a/plantillas/1/p/31/imgs/bg-policiales.jpg) no-repeat top center;}
.especial100.policial .nota1 h2 a {color:#f1ff59;}
.especial100.policial .nota2 h3 {color:#A8AC5B;}
.especial100.policial .volanta100 { background-color: #f1ff59 !important; color:#202e6e;}
.especial100.policial .titular {color:#fff;}
.especial100.policial h3 {color:#202e6e;}
.especial100.policial p {color:#fff;}
.especial100.policial .nota3 .caja p {color:#fff;}
.especial100.policial .nota3 .caja {background-color: #A8AC5B}
.especial100.policial img {border:solid 1px #A8AC5B;}


    /*MODULO 100% TECNO */
.especial100.tecno {background: #0078B5 url(/a/plantillas/1/p/31/imgs/bg-tecno.jpg) no-repeat top center; background-size: 100% 100%;}
.especial100.tecno .nota1 h2 a {color:#71EDFF;}
.especial100.tecno .nota2 h3 {color:#04dfff;}
.especial100.tecno .volanta100 { background-color: #fff !important; color:#0080BF; border:solid 1px #0080BF;}
.especial100.tecno .titular {color:#fff;}
.especial100.tecno h3 {color:#202e6e;}
.especial100.tecno p {color:#000;}
.especial100.tecno .nota3 .caja p {color:#006895;}
.especial100.tecno .nota3 .caja {background-color: #71EDFF}
.especial100.tecno img {border:solid 1px #04dfff;}





/*RANKING*/
.nro1 { background: url(/a/plantillas/1/p/31/imgs/1.jpg) no-repeat 12px 4px; margin-left:-1px;}
.nro2 { background: url(/a/plantillas/1/p/31/imgs/2.jpg) no-repeat 12px 4px; margin-left:-1px;}
.nro3 { background: url(/a/plantillas/1/p/31/imgs/3.jpg) no-repeat 12px 4px; margin-left:-1px;}
.nro4 { background: url(/a/plantillas/1/p/31/imgs/4.jpg) no-repeat 12px 4px; margin-left:-1px;}
.nro5 { background: url(/a/plantillas/1/p/31/imgs/5.jpg) no-repeat 12px 4px; margin-left:-1px;}


/*GALERIA VIDEOS */
.cont_video620 {border: solid 0px #000; background: #7b161a url(/a/plantillas/1/p/31/imgs/bg-video-cuerpo-620.jpg) no-repeat top center;}
.cont_video620 .cab_videos {position:relative; margin:-10px 0 10px -10px; background:#b62127 url(/a/plantillas/1/p/31/imgs/bg-video-titulo-620.jpg) no-repeat bottom center;
    height: 45px; width: 620px; text-align: left}
.cont_video620 .cab_videos a {font:bold 20px/45px "fuente",arial, helvetica, sans-serif; color:#fff; padding: 0 0 0 20px}
.cont_video620 .videos620_thumb ul li .tit {font: 12px arial, helvetica, sans-serif;}
.cont_video620 .videos620_thumb ul li:hover { background-color: #3c0b0d; }
.cont_video620 .videos620_thumb ul li:hover .tit { color: #fff; }

/*TEMATICA*/
#cont_topicos {border-top: solid 1px #1e6eb5;border-bottom: solid 1px #1e6eb5;}
#cont_topicos .topico-menu {background: url(/a/plantillas/1/p/31/imgs/topico-menu.png) no-repeat left center;}

#not3-slideApaisado-940.concolor .prev.browse.left {position: absolute;left: 10px;top: 35px;width: 20px;height: 60px;background-image: url(/a/plantillas/1/p/31/imgs/flechitas2.png);background-position: left bottom;background-repeat: no-repeat;z-index: 1000;cursor: pointer;}
#not3-slideApaisado-940.concolor .next.browse.right {position: absolute;right: 10px;top: 35px;width: 20px;height: 60px;background-image: url(/a/plantillas/1/p/31/imgs/flechitas2.png);background-position: right bottom;background-repeat: no-repeat;z-index: 1000;cursor: pointer;}

.listado160-220 .titulo {
font: bold italic 16px bold arial, helvetica, sans-serif;
background: url(/a/plantillas/1/p/31/imgs/bg-listado160-220.png) no-repeat bottom center;
color: #fff;
padding: 15px 5px;
text-align: center;
height: 30px;
}



    /*MODULO 100% MUNCIAL */
.especial100.mundial_brasil_2014 {background: #8fbeff url(/a/plantillas/1/p/31/imgs/bg-mundial.jpg) no-repeat top center;}
.especial100.mundial_brasil_2014 .nota1 h2 a, .especial100.espec100 .nota2 h3 {color:#273D58;}
.especial100.mundial_brasil_2014 .volanta100 { background-color: #273D58}
.especial100.mundial_brasil_2014 .titular {color:#000;}
.especial100.mundial_brasil_2014 p, .especial100.mundial_brasil_2014 h3 {color:#000;}
.especial100.mundial_brasil_2014 .nota3 .caja {background-color: #466b9f}
.especial100.mundial_brasil_2014 .nota3 .caja h3, .especial100.mundial_brasil_2014 .nota3 .caja p {color:#fff;}
.especial100.mundial_brasil_2014 img {border: solid 1px #273D58}


    /*MODULO 100% JUVENTUD ANTONIANA =   espec100  */ 
.especial100.j_a {background: #eee url(/a/plantillas/1/p/31/imgs/bg-juventud.jpg) no-repeat top center;}
.especial100.j_a .nota1 h2 a, .especial100.espec100 .nota2 h3 {color:#3135A0;}
.especial100.j_a .volanta100 { background-color: #3135A0}
.especial100.j_a .titular {color:#60462F;}
.especial100.j_a p {color:#fff;}
.especial100.j_a h3 {color:#000;}
.especial100.j_a .nota3 .caja {background-color: #3135A0}
.especial100.j_a .nota3 .caja h3, .especial100.j_a .nota3 .caja p {color:#fff;}
.especial100.j_a img {border: solid 1px #273D58}


    /*MODULO 100% GIMNASIA Y TIRO   */ 
.especial100.g_t {background: #0ea0ca url(/a/plantillas/1/p/31/imgs/bg-gimnasia.jpg) no-repeat top center;}
.especial100.g_t .nota1 h2 a, .especial100.espec100 .nota2 h3 {color:#095C75;}
.especial100.g_t .volanta100 { background-color: #0ea0ca}
.especial100.g_t .titular {color:#000;}
.especial100.g_t p {color:#000;}
.especial100.g_t h3 {color:#000;}
.especial100.g_t .nota3 .caja {background-color: #095C75}
.especial100.g_t .nota3 .caja h3, .especial100.g_t .nota3 .caja p {color:#fff;}
.especial100.g_t img {border: solid 1px #273D58}


    /*MODULO 100% CENTRAL NORTE   */ 
.especial100.c_n {background: #000 url(/a/plantillas/1/p/31/imgs/bg-central.jpg) no-repeat top center;}
.especial100.c_n .nota1 h2 a, .especial100.espec100 .nota2 h3 {color:#fff;}
.especial100.c_n .volanta100 { background-color: #f1be0a; color:#000;}
.especial100.c_n .titular {color:#f1be0a;}
.especial100.c_n p {color:#fff;}
.especial100.c_n h3 {color:#fff;}
.especial100.c_n .nota3 .caja {background-color: #fff}
.especial100.c_n .nota3 .caja h3, .especial100.c_n .nota3 .caja p {color:#000;}
.especial100.c_n img {border: solid 1px #273D58}


    /*MODULO 100% ATLETICO TUCUMAN   */ 
.especial100.a_t {background: #02ACFA url(/a/plantillas/1/p/31/imgs/bg-atletico.jpg) no-repeat top center;}
.especial100.a_t .nota1 h2 a, .especial100.espec100 .nota2 h3 {color:#0A3D52;}
.especial100.a_t .volanta100 { background-color: #BD933D; color:#000;}
.especial100.a_t .titular {color:#BD933D;}
.especial100.a_t p {color:#0A3D52;}
.especial100.a_t h3 {color:#fff;}
.especial100.a_t .nota3 .caja {background-color: #fff}
.especial100.a_t .nota3 .caja h3, .especial100.a_t .nota3 .caja p {color:#000;}
.especial100.a_t img {border: solid 1px #273D58}


    /*MODULO 100% SAN MARTIN TUCUMAN   */ 
.especial100.s_m {background: #DC2625 url(/a/plantillas/1/p/31/imgs/bg-sanmartin.jpg) no-repeat top center;}
.especial100.s_m .nota1 h2 a, .especial100.espec100 .nota2 h3 {color:#000;}
.especial100.s_m .volanta100 { background-color: #fff; color:#DC2625;}
.especial100.s_m .titular {color:#DC2625;}
.especial100.s_m p {color:#000;}
.especial100.s_m h3 {color:#fff;}
.especial100.s_m .nota3 .caja {background-color: #fff}
.especial100.s_m .nota3 .caja h3, .especial100.s_m .nota3 .caja p {color:#000;}
.especial100.s_m img {border: solid 1px #273D58}


    /*MODULO 100% SAN JORGE   */ 
.especial100.s_j {background: #09933D url(/a/plantillas/1/p/31/imgs/bg-sanjorge.jpg) no-repeat top center;}
.especial100.s_j .nota1 h2 a, .especial100.espec100 .nota2 h3 {color:#000;}
.especial100.s_j .volanta100 { background-color: #D6231F; color:#fff;}
.especial100.s_j .titular {color:#DC2625;}
.especial100.s_j p {color:#000;}
.especial100.s_j h3 {color:#fff;}
.especial100.s_j .nota3 .caja {background-color: #D6231F}
.especial100.s_j .nota3 .caja h3, .especial100.s_j .nota3 .caja p {color:#fff;}
.especial100.s_j img {border: solid 1px #273D58}


    /*MODULO 100% CALLES DE SALTA   */ 
.especial100.callesSalta {background: #7F71EC url(/a/plantillas/1/p/31/imgs/bg-callesdesalta.jpg) no-repeat top center;}
.especial100.callesSalta .nota1 h2 a, .especial100.espec100 .nota2 h3 {color:#000;}
.especial100.callesSalta .volanta100 { background-color: #5649DF; color:#fff;}
.especial100.callesSalta .titular {color:#fff;}
.especial100.callesSalta p {color:#000;}
.especial100.callesSalta h3 {color:#fff;}
.especial100.callesSalta .nota3 .caja {background-color: #5649DF}
.especial100.callesSalta .nota3 .caja h3, .especial100.callesSalta .nota3 .caja p {color:#fff;}
.especial100.callesSalta img {border: solid 1px #273D58}
.especial100 {z-index: 800;}
.datos {background:#b62027  url(/a/plantillas/1/p/31/imgs/bg-diferentes_portadas.png) no-repeat center 10px;}
.diferentes_portadas {float: left; width: 310px; padding:0 12px; height: 45px; position:relative;}
.diferentes_portadas .elegi { float: left;}
.diferentes_portadas .elegi span { float: left; width: 60px; font:bold 10px/9px arial, helvetica, sans-serif !important; display: inline-block;}
.diferentes_portadas .elegi .pregunta {float: right; background-color: #b62027; border:solid 1px #c73a4c; padding: 0px 3px; margin:1px 0 0 0 ; font:bold 11px arial, helvetica, sans-serif; color:#fff;}
.diferentes_portadas .boton {background-color: #fff; border:solid 1px #fff; padding: 3px 5px; font:bold 12px arial, helvetica, sans-serif; 
    display: inline-block; margin:10px 10px 0 0; float: left; position: relative}
.diferentes_portadas .boton.salta {color:#8a1225; padding-right: 30px; background: #fff url(/a/plantillas/1/p/31/imgs/bg-icon-salta1.png) no-repeat 50px 3px;}
.diferentes_portadas .boton.tucuman {color:#eb7f00; margin-right: 0; padding-right: 28px; background:#fff  url(/a/plantillas/1/p/31/imgs/bg-icon-tucuman1.png) no-repeat 70px 1px;}
.diferentes_portadas .boton.argentina {color:#0080FF; padding-right: 28px; background:#fff  url(/a/plantillas/1/p/31/imgs/bg-icon-argentina1.png) no-repeat 80px 0px;}
.diferentes_portadas .boton:hover {color:#fff; background-color: #540e12; border:solid 1px #540e12;}
.diferentes_portadas .boton.argentina:hover {background: #b62027 url(/a/plantillas/1/p/31/imgs/bg-icon-argentina2.png) no-repeat 80px 1px;}
.diferentes_portadas .boton.salta:hover {background: #b62027 url(/a/plantillas/1/p/31/imgs/bg-icon-salta2.png) no-repeat 50px 2px;}
.diferentes_portadas .boton.tucuman:hover {background:#b62027  url(/a/plantillas/1/p/31/imgs/bg-icon-tucuman2.png) no-repeat 70px 2px;}
.diferentes_portadas .boton .toolstip {background-color: #f9edbe; font:bold 9px/9px arial, helvetica, sans-serif; color:#222222; border:solid 1px #f0c36d;
    padding: 5px 10px; position: absolute; top: 25px; left:-1px; z-index: 500; text-align: center; display: none; }
.diferentes_portadas .boton:hover .toolstip {display: block;}
.slide620 .navi {display: none}
#portadasociales {background: #151515 url(/a/aps/fotografias/imgs/bg-portada-sociales.jpg) repeat-y top right;position:relative;display: inline-block;width: 910px; padding: 15px;clear: both;}
#portadasociales .col1 {width: 600px;}
#portadasociales .col2 {width: 270px; padding: 0px 0px 20px 15px;}
#portadasociales .col1 h2 a {font:400 24px/22px "Times New Roman", Times, serif; color:#fff !important;}
#portadasociales .col1 .nota p {    font: 12px/16px Arial,Helvetica,sans-serif; color:#999;}
#portadasociales .nota {margin:0 0 20px 0; width: 100%; border-bottom: dotted 1px #666;}
#portadasociales .nota .wl400 {width: 400px;}
#portadasociales .col2 h2 a {font:700 11px/16px Arial, Helvetica, sans-serif; color:#fff !important; letter-spacing: 0;}
#portadasociales .col2 .nota p {    font: 11px/16px Arial,Helvetica,sans-serif; color:#999;}
#portadasociales .fotoNota {float: left; margin:0 15px 0 0;}
#portadasociales .col1 p span.hora {color:#42b1ff;}
#portadasociales .col2 p span.hora {color:#fff;}

/************************************************PORTADA 1*/
.datos {background: #b62027 none;}

.diferentes_portadas {height: auto; margin:0 0 0px 0;}
.diferentes_portadas .boton {margin: 8px 5px 0 0; width: 18px; height: 25px; padding: 0; border:none;}
.diferentes_portadas .boton.argentina { padding:0; color:#0080FF; background:  url(/a/plantillas/1/p/31/imgs/bg-icon-argentina1.png) no-repeat center center;}
.diferentes_portadas .boton.salta { padding:0; color:#8a1225;  background:  url(/a/plantillas/1/p/31/imgs/bg-icon-salta1.png) no-repeat center center;}
.diferentes_portadas .boton.tucuman { padding:0; color:#B36200; margin-right: 0; background:  url(/a/plantillas/1/p/31/imgs/bg-icon-tucuman1.png) no-repeat center center;}
.botonportadas {background-color: #b62027 ; font:bold 10px arial, helvetica, sans-serif;  padding: 2px 10px; float: left; margin:2px 10px 3px 0; color:#fff;}

.boton {background: none !important; width: auto !important; font-weight: bold !important; font-size: 11px; height: auto !important; 
     color:#2D5099 !important; border-right: solid 1px #2D5099 !important; padding: 0 5px 0 0 !important;}
.boton .toolstip {top:17px !important;}


.diferentes_portadas .boton.argentina:hover {background: #b62027 url(/a/plantillas/1/p/31/imgs/bg-icon-argentina2.png) no-repeat center center; border:none;}
.diferentes_portadas .boton.salta:hover {background: #b62027 url(/a/plantillas/1/p/31/imgs/bg-icon-salta2.png) no-repeat center center; border:none;}
.diferentes_portadas .boton.tucuman:hover {background:#b62027  url(/a/plantillas/1/p/31/imgs/bg-icon-tucuman2.png) no-repeat center center; border:none;}

.registro a {text-transform: none; font-weight: bold}
.buscador { width: 163px;}

.busqueda {padding: 0 3px; width: 105px; margin:5px 0 0 0;}

.cont-menu {margin-top: -25px;}

.seccion {padding: 10px 19px 0px 19px;}


.bn_flotante_li  {left:-150px;top: -180px;}
.bn_flotante_ld  {right:-151px;top: -180px;}
.cabeceraInterna .logo {margin: 5px 0 0 0; width: 430px;}
ul.sub-flotante {top:34px;}

/********************************************PORTADA CORTADA*/
body {background-color: #fff;}

.herramientas {
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}
.cabeceraInterna .logo {margin: 5px 0 40px 40px; width: auto;}
.seccionInterna { margin:35px 0 0 20px;}

.encuestasemanal.detalle .cabezal620 {text-indent: -999px; background: #ebe9da url(/a/aps/encuestas/imgs/bg-encuesta-semanal.jpg) repeat-x top center;
 height: 112px; text-indent: 10px; font:bold italic 40px/100px Georgia, "Times New Roman", Times, serif; color:#fff; text-align: center; margin: 0;}


.compartir_face {background: url(/a/plantillas/1/p/31/imgs/compartir_face.png); }
.compartir_twt {background: url(/a/plantillas/1/p/31/imgs/compartir_twt.png); }
.compartir_plus {background: url(/a/plantillas/1/p/31/imgs/compartir_plus.png); }


.notaint #cont_topicos {height: auto; display: inline-block; width: 620px; padding: 5px 0 0 0;}
.notaint #cont_topicos ul {width: 450px !important;}
.notaint #cont_topicos .topicos-home-list li a {text-transform: uppercase;}

.copyrightnoticia {border-color:#0D278C;}

/* Agregado el 26/01/2016 -------------------- */

.nota_compartir2{background-image:none; background-color:#E7E7E7; height:auto}
.iconosSocial{background-color:#FFFFFF; }

a.portada-nacional{
	color: #2B4C92;
	font-size: 12px;
	display: block;
	float: left;
	margin-left: 19px;
	line-height: 16px;
	font-weight: bold;
	padding-top:4px
}
a.portada-nacional:hover{color:#A41B2D}
a.portada-nacional svg{width:12px; height:12px; fill: currentColor;float:left; margin-right:4px; margin-top:1px}


ul.menu > li{padding:0}
ul.menu > li > a{
	padding-top: 10px;
	padding-right: 9px;
	padding-left: 9px;
	padding-bottom: 10px;
	font-size: 12px;
	text-transform: uppercase
}
ul.menu li:last-child,ul.menu li:last-child a{background-image:none}
ul.menu li.ultimas-noticias a{color:#F8BE00}
ul.menu li.ultimas-noticias a:hover{color:#FFF}


/* arreglo del  12/4/2016 */

.notaint p, .notaint, #txtcontenido {
	color: #444;
	font-size: 14px;
	line-height: 1.4em;
}


/* nueva cabecera 23-05-16 ================================ */ 
/*


*/
	/* tipografia */
	.main-header, .main-header p{ font-family:'allerregular', san-serif;}

	.clima .act,
	.clima .temps .cdad,
	.a-hora,
	#main-nav > ul.menu > li a,  #sec-nav
	{ font-family:'allerbold', san-serif; font-weight:100}

	
/*hacks*/
.main-header *, 
#main-nav	 *, 
#sec-nav 	 * {  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

* a:hover{opacity: 1!important;}
h2.tituloM{font-weight:100}
.registrarse{padding:0}

.main-header {width:100%; display:block;}

.col3_cont{border-left:0; border-right:0}

/* top ----------- */

.main-header .top{padding-top:25px; padding-bottom:12px;
background: #ffffff; /* Old browsers */	background: -moz-linear-gradient(top,  #ffffff 30%, #d1d2d7 100%); /* FF3.6-15 */	
background: -webkit-linear-gradient(top,  #ffffff 30%,#d1d2d7 100%); /* Chrome10-25,Safari5.1-6 */	
background: linear-gradient(to bottom,  #ffffff 30%,#d1d2d7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1d2d7',GradientType=0 ); /* IE6-9 */}

.portada-nacional{text-transform:uppercase; font-size:12px; font-family:'allerbold'}


.main-header .redes li a{display:block; float:left; width:22px; height:20px;
background-image:url(/a/plantillas/1/p/31/imgs/header-sprite-redes.png); 
background-repeat:no-repeat;
}

.main-header .redes li.ico-yt a{background-position:0 0; width:50px}
.main-header .redes li.ico-fb a{background-position: -50px 0;}
.main-header .redes li.ico-tw a{background-position: -72px 0;}
.main-header .redes li.ico-in a{background-position: -93px 0;}
.main-header .redes li.ico-ig a{background-position: -116px 0;}
.main-header .redes li.ico-gp a{background-position: -138px 0;}


/* central ---------- */

#logo-principal{float:left; margin-left:45px; margin-top:16px}
.main-header .central{background-image:url(/a/plantillas/1/p/31/imgs/header-bg.jpg);background-position:center;  width:100%; height:140px; padding-top:28px}

	.clima{ height:85px; width:270px; float:left; margin-top:0; background-image:none;padding-top:0}
	.clima a.ico, .clima .temps, .clima li{float:left;display:block;}	
	.clima a.ico {margin-top:10px}
	.clima .temps li {width:33%; padding-left:10px; padding-right:10px}
	.clima .temps {display:block; margin-left:35px;margin-top:3px ; text-align:center; font-size:18px; color:#2B4C92}		
	.clima .temps span{display:block; clear:both;font-size:10px; }
	.clima .act{font-size:30px;}


	/* actual */
	
	.clima .act span{text-transform:uppercase}

	/* max y min */
	.clima .max, .clima .min{padding-top:15px}
	.clima .temps .cdad{clear:both; color:#B40320; text-transform:uppercase; font-size:14px;  width:100%; text-align:left; padding-top:3px;
	padding-bottom:3px; border-top:solid 1px #2B4C92; border-bottom:solid 1px #2B4C92; margin-top:3px}
	
	
	/* herramientas en cabecera (buscador, registrarse...) */
	
	.header-tools{ float:right; width:160px}
	.header-tools .acceso {float:left; width:100%}
	.header-tools .acceso a{float:left; font-size:12px; display:block; padding-left:18px; font-weight:100; background-repeat:no-repeat; background-position:0 3px; 
	height:18px; line-height:18px;  background-size:13px; margin-bottom:5px}
	.header-tools .acceso .ingresar{background-image:url(/a/plantillas/1/p/31/imgs/ico-ingresar.svg)}
	.header-tools .acceso .registrarse{background-image:url(/a/plantillas/1/p/31/imgs/ico-registrarse.svg); margin-left:10px}
	
	/*buscador*/
	.header-buscador{margin-bottom:3px}
	.header-buscador, .header-buscador .input-buscador {width:100%; position:relative; float:left}
	.header-buscador .input-buscador {border:0; background-color:#e3e4e6; height:33px; line-height:33px; padding-left:12px}
	.header-buscador .buscador-btt{position:absolute; top:5px; right:10px; display:block}

	/*fecha*/
	.header-tools .fecha-y-hora{display:block; text-align:center; color:#2B4C92; font-size:14px; float:left; width:100%; line-height:1em}
	.header-tools .a-hora{display:block; color:#B40320}
	

/* Menu ---------- */
		
/* principal */

#main-nav{background: #173374; background: -moz-linear-gradient(top,  #173374 0%, #395094 100%); background: -webkit-linear-gradient(top,  #173374 0%,#395094 100%); background: linear-gradient(to bottom,  #173374 0%,#395094 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#173374', endColorstr='#395094',GradientType=0 );}
#main-nav{display: block;width: 100%;border-top: 1px solid #686fa6;border-bottom: 1px solid #686fa6;}
#main-nav ul.menu{float:none; margin-left:auto; margin-right:auto}
ul.menu > li a{background-image:url(/a/plantillas/1/p/31/imgs/main-menu-separa.png)/*<- rayita separadora*/}


/* distribucion */
#main-nav ul.menu 		 {display:table; }
#main-nav ul.menu > li 	 { display:table-cell; text-align:center; float:none}
#main-nav ul.menu > li a { display:block; text-align:center; float:none}


/* secundario */
#sec-nav {background-color:#dddddd;}	
#sec-nav ul{width:980px; margin-left:auto; margin-right:auto; float:none;text-align:center;}
#sec-nav ul li {display:inline;}
#sec-nav ul li a {padding:10px;font-size:11px; line-height:12px; color:#000000; border-right:solid 1px #bebcbd; display:inline-block;}
#sec-nav ul li:last-child  a{ border-right:0}
#sec-nav ul li a:hover{color:#B40320}
ul.sub-flotante{width:auto}
ul.menu  ul.sub-flotante li  a{background-image:none}		


/* todofoto --- */


.todofoto .volanta{top: 10px;right: 10px;color: #fff;font: bold 11px arial, helvetica, sans-serif;text-transform: uppercase;background-color: #b62027;padding: 5px 10px;}
.nota .TitImagen{background: rgba(255,255,255, 0.4) none;text-shadow: 0 0 10px #000, 0 0 5px #000;}
.nota .TitImagen h2{color:rgba(255,255,255,1.00); text-align:center; letter-spacing:normal}
	
/* titulo separador */

.titulo-separador {

    margin-bottom: 20px;
    display: block;
    clear: both;
    width: 100%;
    float: left;
    height: 35px;
 
  background-image: url(/a/plantillas/1/p/31/imgs/fondo5noticias.png);
    background-repeat: no-repeat;
    background-position: top right;
     background-color: #B40320;

 
}

.titulo-separador:after,.titulo-separador h2:before{display:none}

.titulo-separador h2 {
    margin: 0;
    background-color: rgba(0,0,0,0.1);
    color: #FFF;
    font-size: 16px;
    line-height: 35px;
    letter-spacing: normal;
    display: inline-block;
    float:left;
    padding-top: 0;
    padding-bottom: 0;
}

.titulo-separador h2,
.cabezal940,
.cabezal, .cabezal620, .cabezal940{font-family: 'allerbold', san-serif;}

.sombra-img{box-shadow: none;-moz-box-shadow: none;-o-box-shadow: none;-webkit-box-shadow: none;}