/* 
This CSS resource incorporates links to font software which is 
the valuable copyrighted property of WebType LLC, The Font Bureau 
and/or their suppliers. You may not attempt to copy, install, 
redistribute, convert, modify or reverse engineer this font 
software. Please contact WebType with any questions: www.webtype.com
*/

body:after { content: ''; background-image: url(//pls.webtype.com/v.gif?ct=10105,10105,10105&r=2447&p=1812&h=CtIPu8zPxo0jEqI4oRJH1g%3d%3d); }

@font-face {
 font-family: "Shag";
 src: url("//cloud.webtype.com/webtype/ff/2/8c992178-2bfe-48ba-8c4a-ac87ba8a07ac");
 src:  url("//cloud.webtype.com/webtype/ff/2/8c992178-2bfe-48ba-8c4a-ac87ba8a07ac#iefix")  format("embedded-opentype"),
  url("//cloud.webtype.com/webtype/ff/3/3df22e9b-4f37-4333-a9b7-8ef992db8657") format("woff"),
  url("//cloud.webtype.com/webtype/ff/1/989f8612-1720-45d2-9c59-cf244350a2fc") format("truetype");
 font-style: normal;
 font-weight: normal;
}
