.feedContainer { clear: both; float: left; font-size: 116.7%; line-height: 137%; position: relative; width: 938px; display:block; }
.newsfeedContainer, .eventContainer { position:relative; display:block; 
}
.newsfeedContainer h6, .eventContainer h6 { position:relative; display:block; font-size:70%; font-weight:normal; margin:0px; padding:0px 0px 0px 15px; text-transform:uppercase; color:#000000;
}
.newsfeedContainer h6 a, .newsfeedContainer h6 a:visited, 
.eventContainer h6 a, .eventContainer h6 a:visited { position:relative; display:inline-block; font-weight:normal; margin:0px; padding:10px 0px 0px; color:#333333;
}
.newsfeedContainer, .eventContainer { position:relative; display:block;
}
#newsfeed, #eventfeed { position:relative; display:block; margin:0px 10px 0px 15px; background-color:#f3f3f3; margin-bottom:14px; height:156px; overflow:hidden;
}
#newsfeed .feed, #eventfeed .event { position:relative !important;
}
#newsfeed .feed article, #eventfeed .event article { font-size:90%; margin:0px !important; padding:5px 12px; border-top:1px dotted #c2c2c2;
}
#newsfeed .feed article:first-of-type, #eventfeed .event article:first-of-type { border-top:0px dotted #c2c2c2 !important;
}
#newsfeed .feed article:hover, #eventfeed .event article:hover { background-color:#e3e3e3;
}
#newsfeed .feed h4, #eventfeed .event h4 { font-size:88%; font-weight:normal; padding-top:5px; line-height:107%; height:14px; overflow:hidden; text-transform:none !important;
}
#newsfeed .feed a, #eventfeed .event a { color:#E56600 !important;
}
#newsfeed .feed p, #eventfeed .event p { font-size:70% !important;
}
#eventfeed {margin-left:18px;
}
.eventContainer h6 {padding-left:18px;
}
.w100 #newsfeed { margin:0px 18px 0px 15px !important;
}