	/*
  	Flaticon icon font: Flaticon
  	Creation date: 12/05/2016 15:25
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-size: 20px;
	font-style: normal;
}

.flaticon-android2:before { content: "\f100"; }
.flaticon-apple19:before { content: "\f101"; }
.flaticon-arrow483:before { content: "\f102"; }
.flaticon-arrows:before { content: "\f103"; }
.flaticon-arrows-1:before { content: "\f104"; }
.flaticon-arrows-2:before { content: "\f105"; }
.flaticon-arrows-3:before { content: "\f106"; }
.flaticon-arrows-4:before { content: "\f107"; }
.flaticon-back36:before { content: "\f108"; }
.flaticon-black75:before { content: "\f109"; }
.flaticon-call37:before { content: "\f10a"; }
.flaticon-category:before { content: "\f10b"; }
.flaticon-circle:before { content: "\f10c"; }
.flaticon-clock:before { content: "\f10d"; }
.flaticon-close11:before { content: "\f10e"; }
.flaticon-cloud:before { content: "\f10f"; }
.flaticon-communication:before { content: "\f110"; }
.flaticon-email103:before { content: "\f111"; }
.flaticon-facebook12:before { content: "\f112"; }
.flaticon-folder5:before { content: "\f113"; }
.flaticon-geometric:before { content: "\f114"; }
.flaticon-google116:before { content: "\f115"; }
.flaticon-interface:before { content: "\f116"; }
.flaticon-interface-1:before { content: "\f117"; }
.flaticon-interface-2:before { content: "\f118"; }
.flaticon-keyboard50:before { content: "\f119"; }
.flaticon-left14:before { content: "\f11a"; }
.flaticon-magnifier12:before { content: "\f11b"; }
.flaticon-man457:before { content: "\f11c"; }
.flaticon-money:before { content: "\f11d"; }
.flaticon-moon:before { content: "\f11e"; }
.flaticon-mountain35:before { content: "\f11f"; }
.flaticon-open131:before { content: "\f120"; }
.flaticon-pause27:before { content: "\f121"; }
.flaticon-play:before { content: "\f122"; }
.flaticon-play-button:before { content: "\f123"; }
.flaticon-play-right-arrow-symbol-in-circular-multimedia-button:before { content: "\f124"; }
.flaticon-play12:before { content: "\f125"; }
.flaticon-plus-black-symbol:before { content: "\f126"; }
.flaticon-printer67:before { content: "\f127"; }
.flaticon-right133:before { content: "\f128"; }
.flaticon-rss8:before { content: "\f129"; }
.flaticon-search:before { content: "\f12a"; }
.flaticon-shape:before { content: "\f12b"; }
.flaticon-shapes:before { content: "\f12c"; }
.flaticon-simple18:before { content: "\f12d"; }
.flaticon-simple23:before { content: "\f12e"; }
.flaticon-sky:before { content: "\f12f"; }
.flaticon-sky-1:before { content: "\f130"; }
.flaticon-sky-2:before { content: "\f131"; }
.flaticon-social:before { content: "\f132"; }
.flaticon-social-media:before { content: "\f133"; }
.flaticon-social-media-1:before { content: "\f134"; }
.flaticon-social19:before { content: "\f135"; }
.flaticon-storage20:before { content: "\f136"; }
.flaticon-summer:before { content: "\f137"; }
.flaticon-summer-1:before { content: "\f138"; }
.flaticon-tags2:before { content: "\f139"; }
.flaticon-technology:before { content: "\f13a"; }
.flaticon-technology-1:before { content: "\f13b"; }
.flaticon-video:before { content: "\f13c"; }
.flaticon-video-1:before { content: "\f13d"; }
.flaticon-weather:before { content: "\f13e"; }
.flaticon-weather-1:before { content: "\f13f"; }
.flaticon-weather-2:before { content: "\f140"; }
.flaticon-youtube17:before { content: "\f141"; }
.flaticon-youtube18:before { content: "\f142"; }