.innerBorder {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.absCenter {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.footer {
  clear: both;
  position:relative;
}
.footer .snb {
  padding-top: 22px;
  padding-left: 15px;
  margin-bottom: 19px;
  border-top: 1px solid #dddddd;
}
.footer .snb .division:after {
  margin: 0 8px 0 0;
}
.footer .snb ul li {
  line-height: 12px;
  *line-height:14px;
  font-weight: bold;
  float: left;
}
.footer .snb ul li.division {
  margin-right: 8px;
  padding-right: 8px;
}
.footer .row {
  border-bottom: 1px solid #dddddd;
}
.footer .row.row1 .addressBox-wrapper {
  padding-left: 15px;
  line-height: 20px;
}
.footer .row.row1 .addressBox-wrapper .addressBox {
  float: left;
  padding-left: 19px;
}
.footer .row.row1 .addressBox-wrapper .addressBox:first-child {
  padding-left: 0;
  border-left: none;
}
.footer .row.row1 .addressBox-wrapper .addressBox .title {
  margin-bottom: 15px;
  font-weight: bold;
}
.footer .row.row1 .addressBox-wrapper .addressBox .title span {
  font-weight: normal;
}
.footer .row.row1 .addressBox-wrapper .addressBox.editing-addressBox {
  width: 282px;
}
.footer .row.row1 .addressBox-wrapper .addressBox.editing-addressBox .notice {
  color: #ff0000;
}
.footer .row.row1 .addressBox-wrapper .addressBox.store-addressBox {
  width: 239px;
  border-left: 1px dotted #dddddd;
  border-right: 1px dotted #dddddd;
}
.footer .row.row1 .addressBox-wrapper .addressBox.store-addressBox .notice {
  color: #0099ff;
}
.footer .row.row1 .addressBox-wrapper .addressBox.cs-addressBox {
  width: 322px;
}
.footer .row.row1 .addressBox-wrapper .addressBox.cs-addressBox .title {
  line-height: 12px;
}
.footer .row.row1 .addressBox-wrapper .addressBox.cs-addressBox .title .division {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 12px;
  margin-right: 8px;
  padding-right: 8px;
}
.footer .row.row1 .addressBox-wrapper .addressBox.cs-addressBox .phoneNumberBox {
  padding-top:5px;
}
.footer .row.row1 .addressBox-wrapper .addressBox.cs-addressBox .phoneNumberBox .phoneNumber {
  padding-bottom: 5px;
}
.footer .row.row1 .addressBox-wrapper .addressBox.cs-addressBox .phoneNumberBox .phoneNumber span {
  font-weight: bold;
  vertical-align:top;
}
.footer .row.row1 .addressBox-wrapper .addressBox.cs-addressBox .phoneNumberBox .phoneNumber span.number {
  font-size: 18px;
  font-family: 'Doppio One', "gulim";
  font-weight: normal;
}
.footer .row.row1 .addressBox-wrapper .addressBox.cs-addressBox .phoneNumberBox .phoneNumber span.phoneNumber_click {color:#ace5cf; background:#0d8355; font-size:11px; text-align:center; padding:2px 5px 0 4px; display:inline-block; height:20px; line-height:20px; margin-top:-3px; margin-left:4px;}
.footer .row.row1 .addressBox-wrapper .addressBox.cs-addressBox .phoneNumberBox .phoneNumber span.phoneNumber_click strong {color:#fff;}
.footer .row.row1 .addressBox-wrapper .addressBox.cs-addressBox .phoneNumberBox .subDescription {
  color: #b2b2b2;
  margin-bottom: 11px;
}
.footer_social ul li {display:inline-block; margin:0px 1px 16px 0; text-align:center; line-height:30px; font-size:14px;}
.footer_social ul li p {padding-left:9px; padding-right:9px}
.footer_social ul li .instagram {border:1px solid #5185a6; font-family:"Doppio One"; color:#5185a6; font-weight:normal}
.footer_social ul li .facebook {border:1px solid #3c5a9a; font-family:"Doppio One"; color:#3c5a9a; font-weight:normal}
.footer_social ul li .twitter {border:1px solid #00abf0; font-family:"Doppio One"; color:#00abf0; font-weight:normal}
.footer .row.row1 .addressBox-wrapper .addressBox.cs-addressBox .notice {
  font-weight: bold;
}
.footer .row.row1 .global-notice {
  width: 705px;
  margin: 19px 0 21px 15px;
  padding: 0 13px;
  line-height: 37px;
  font-weight: bold;
  border: 1px solid #f00;
  color: #ff0000;
}
.footer .row.row2 {
  padding-top: 23px;
}
.footer .row.row2 .box {
  margin-left: 14px;
  color: #b2b2b2;
}
.footer .row.row2 .box .title {
  color: #000000;
}
.footer .row.row2 .box.copyright-box {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 14px;
}
.footer .row.row2 .box.copyright-box a {
  color: #000000;
  font-weight: bold;
}
.footer .row.row2 .box.copyright-box .title {
  height: 26px;
  font-size: 14px;
  font-family: 'Doppio One', "gulim";
}
.footer .row.row2 .box.authentication-box {
  padding-top: 20px;
  margin-bottom: 17px;
}
.footer .row.row2 .box.authentication-box .authentication {
  color: #000000;
  font-size: 18px;
  font-family: 'Doppio One', "gulim";
}
.footer .row.row2 .box.authentication-box .description {
  color: #000000;
  font-weight: bold;
  margin-top: 8px;
}
.footer .row.row2 .box.authentication-box .address {
  margin-top: 20px;
  float: left;
}
.footer .row.row2 .box.authentication-box .imageBox {
  width: 160px;
  margin-left: 823px;
}
.footer .row.row2 .box.authentication-box .imageBox a:first-child img {
  margin-right: 15px;
}
.footer .row.row3 .title {
  padding-left: 19px;
  color: #b2b2b2;
  line-height: 36px;
  font-size: 13px;
  font-family: 'Doppio One', "gulim";
  background-color: #000000;
}
.footer .row.row3 .title span {
  color: #ffffff;
}
.footer .row.row2 .box.copyright-box a.bottom_top_btn {position:absolute; right:20px; bottom:195px; font-weight:normal; vertical-align:bottom;}
.switch_mobile {padding:10px; text-align: center; color:#666; font-weight:bold}
.txt_scroll_footer {font:18px 'Doppio One'}
.txt_arrow_footer {font-family:gulim; line-height:28px}

/* recruit Cnt */
.recruitCnt {font-size:16px; font-family:gulim; font-weight:bold; padding:20px; border-top:1px solid #ddd;}
.recruitCnt em {font-style:normal; color:#09f;}
.recruitCnt a {text-decoration:underline;}
.contentDescription {position:relative;}
.contentDescription .recruitCnt {position:absolute; right:20px; top:0; padding:0; border:0;}