#footer_wrapper {
    position: relative;
	display: block;
	width: 100%;
    min-width: 600px;
    max-width: 1920px;
    font-family: Futura, arial, sans-serif;
    font-size: 12px;
    color: #fff;
	background: #000;
	padding: 20px 0;
    margin: 53px auto 0 auto;
}
#footer_wrapper > p {
    padding: 0 20px;
    margin: 20px 0;
    font-size: 12px;
    font-weight: lighter;
}
#footer_wrapper a {
    display: inline-block;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}
#footer_social {
    margin: 27px 0 20px 0;
}
#footer_social h1 {
    margin: 0 0 50px 0;
    font-size: 24px;
    text-transform: uppercase;
}
#footer_social ul.social-icons {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
#footer_social ul.social-icons li {
    display: inline-block;
    width: 110px;
    height: 110px;
    padding: 0;
    margin: 5px;
    background: url(/ns/images/cs-master-sprite.png) no-repeat;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#footer_social ul.social-icons br {
    display: none;
}
#footer_social ul.social-icons li:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
#footer_social ul.social-icons li.email { background-position: -130px -120px ; }
#footer_social ul.social-icons li.facebook { background-position: -250px -120px ; }
#footer_social ul.social-icons li.twitter { background-position: -10px -120px ; }
#footer_social ul.social-icons li.instagram { background-position: -10px -240px ; }
#footer_social ul.social-icons li.youtube { background-position: -130px -240px ; }
#footer_social ul.social-icons li.pintrest { background-position: -250px -240px ; }
#footer_social ul.social-icons li.email { background-position: -130px -120px ; }
#footer_social ul.social-icons li a {
    display: block;
    height: 100%;
}
#footer_vip {
    padding-bottom: 20px;
    border-bottom: 1px solid #1e1e1e;
}
#footer_vip h1 {
    font-size: 48px;
    text-transform: uppercase;
}
#footer_vip h1 span {
    color: #b2906a;
}
#footer_vip p {
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 20px;
}
#footer_vip a.button {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    border-radius: 2px;
}
#footer_big_links {
    margin: 30px 0;
}
#footer_big_links ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 1440px;
    text-align: center;
}
#footer_big_links ul li {
    display: inline-block;
    width: 198px;
    padding: 20px;
    vertical-align: top;
    text-align: left;
}
#footer_big_links h3 {
    text-transform: uppercase;
    color: #b2906a;
}
#footer_big_links p {
    font-size: 12px;
    margin: 10px 0 20px 0;
}
#footer_big_links a {
    color: #b2906a;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
#footer_big_links a:hover {
    color: #e5bb8a;
}
#footer_big_links a span {
    font-size: 14px;
    color: #fff;
}
#footer_big_links a img {
    display: block;
    margin-bottom: 20px;
    height: 40px;
}
#footer_links {
    padding: 0 20px;
    margin-top: 20px;
}
#footer_links a {
    border-right: 1px solid #fff;
    font-weight: lighter;
    padding: 0 5px 2px 5px;
    margin: 10px 0;
}
#footer_links a:last-child {
    border-right: none;
}
#footer_links a:hover {
    color: #b2906a;
}
#footer_wrapper .we-know-game img {
    display: block;
    padding: 20px 0;
    margin: 0 auto;
    max-width: 50%;
    opacity: 0.5;
}
#footer_partners {
	max-width: 1440px;
    padding-top: 20px;
	margin: 0 auto 100px auto;
}
#footer_partners .footer-icons {
	display: inline-block;
	margin: 0 1%;
	vertical-align: baseline;
}

/*back to mobile*/
#back_to_mobile_container {
	width: 100%;
    padding: 0 0 2% 0;
}
#back_to_mobile {
	color: #000 !important;
    background-color: #eee;
    width: 150px;
    margin: 0 auto;
    height: 16px;
    padding: 1%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px !important;
    border-radius: 3px;
    text-align: center;
	display: block;
}

@media screen and (max-width: 980px) {
	#footer_big_links ul li {
		width: 22%;
        padding: 0;
        margin: 0 1%;
	}
}
@media screen and (max-width: 767px) {
    #footer_social ul.social-icons br {
        display: block;
    }
	#footer_big_links ul li {
        display: block;
		width: 100%;
        padding: 20px 0;
        margin: 0 auto;
        text-align: center;
	}
    #footer_big_links a img {
        margin: 0 auto 10px auto;
    }
}