/*
$Last Update: 2016-03-29 $
$By:          skoepp
$Revision:    75107 $
*/

.formContainer {
  text-align:left;
  float: left;
}

.formContainer h1 {
 font-size:19px;
 line-height:20px;
 margin-bottom:7px;
 font-weight:normal;
 color:#0091cd;
}

.formContainer p {
  color:#666666;
  line-height:15px;
  width:560px;
}
.formContainer .teaserContainer p {
  width: auto;
}

.formFieldset fieldset,
.formTeaser fieldset{
  clear:both;
  margin-bottom:18px;
}
.formFieldset fieldset.positionRelative {
  position:relative;
}

.formFieldset fieldset fieldset {
  margin-bottom:0;
  clear:none;
}

.formFieldset fieldset fieldset label,
.formFieldset.dpicker label {
  height: 16px;
  overflow: visible;
}

.inputRegular {
  width: 165px;
}
.rightPageCol .formTeaser .inputRegular{
  width: 240px;
}
.rightPageCol .formTeaser #filtertype{
  width: 252px;
}

.inputMedium {
  width: 98px;
}
.inputSmall      { width:  48px; }
.inputWide       { width: 410px; }
.input100Percent { width: 560px;  }

.normalradiobutton {
  float: left;
  margin: 0px 38px 10px 0px;
}
.normalradiobutton input {
  float: left;
  margin: 4px 0px 4px 2px;
}
.normalradiobutton label {
  float: left;
  margin-left: 8px;
  padding-top:4px;
}
.internationalSelection {
  float: left;
  margin: 0 38px 0 0;
}

.fieldlabeltop       { height: 22px; padding-right: 5px; overflow: visible; }

.fieldlabelleft	{
  float: left;
  padding: 4px 5px 4px 2px;
  height: 16px;
  width: 104px;
  overflow: visible;
}

.fieldlabelleftsmall { 
  width: 30px;
  height: 16px;
  padding: 4px 5px 4px 2px;
  float: left;
  overflow: visible;
}

.fieldlabelright { 
  float: left;
  padding: 4px 5px 4px 2px;
  height: 16px;
  width: 76px;
  overflow: visible;
}

.fieldlabeltop label {
  display: inline;
  margin: 5px 0 5px 0;
}
.fieldlabelleft label      { display: inline; line-height: 16px; }
.fieldlabelleftsmall label { display: inline; line-height: 16px; }
.fieldlabelright label     { display: inline; line-height: 16px; }


.formFieldset fieldset.floatLeft .fakeSelectBox{
  float: left;
  position: relative;
}

.formFieldset fieldset.floatLeft.marginBottom{
 margin-bottom:8px;
}

.datepicker {
 width: 113px!important;
 height:23px;
 padding-left:8px;
 background:url(../images/websiteelemente/background_datepicker_input.png) no-repeat;
 cursor:pointer;
}
.datepicker[disabled] {
 background:url(../images/websiteelemente/background_datepicker_input_disabled.png) no-repeat;
 cursor: default;
}

.formContainer .formWrapper .buttonContainer {
  margin: 0 0 10px 0;
}

.formContainer .copyText {
  display:block;
  margin-bottom:10px;
}
.formContainer .copyText span {
  color: #0091CD;
}

/* form teaser ------------------------ */
.formTeaser h2{
  color:#0092CC;
  font-size: 12px;
}

.formTeaser {
	background-image:url(../images/websiteelemente/form_teaser_bg.gif);
  background-repeat: repeat-x;
  background-color:#f2f2f2;
  float:left;
  width:296px;
  margin-bottom:20px;
}

.formTeaser .formTeaserHeadline {
  height:39px;
  border-bottom:1px dotted #0091cd;
  margin-bottom: 12px;
}

.formTeaser .formTeaserHeadline h2 {
  color: #0091cd;
  display: block;
  font-size: 16px;
  padding: 14px 0 0 14px;
  font-weight: normal;
}

.formTeaser .formTeaserHeadline .infoIcon {
  margin-top:15px;
}

.formTeaser .formTeaserHeadline h2.withArrow {
	background-image: url(../images/websiteelemente/sprite.png);
  background-position: -17px -183px;
  background-repeat: no-repeat;
  padding: 14px 0 0 32px;
}

.formTeaser .formTeaserContent .copyText {
  display:block;
  width:auto;
  margin:0 15px 15px 15px;
  color: #666666;
  line-height: 15px;
}
.formTeaser .formTeaserContent .copyText span {
  font-weight:normal;
  color: #0091cd;
}

.formTeaser .formTeaser.formTeaserContent ul{
  list-style:none;
  padding-left:0px;
  margin-top:2px;
  margin-bottom:4px;
  display:block;
  width: 100%;
}
.formTeaser .formTeaserContent li{
  float:left;
  width:83px;
}
.formTeaser .formTeaserContent .measureResult li{
  width:60px;
}
.formTeaser .formTeaserContent li.small{
  width:20px;
  padding-left:4px;
  padding-top:4px;
}

.formTeaser .formTeaserContent div.floatLeft{
  width:auto;
  margin:5px 16px 15px 20px;
}
.formTeaser .formTeaserContent .measureResult p{
  width:auto;
  margin:7px 0 4px 0px;
}
.formTeaser .formTeaserContent .measureResult div.floatLeft{
  margin-left:0px;
  margin-right:0px;
  margin-bottom:22px;
}
.formTeaser .formTeaserContent #enterDimension .parcelDimensions{
  margin: 0 0 15px 0;
  width:161px;
  height:96px;
  background: url(../images/websiteelemente/measure_parcel.png) no-repeat;
}

.formTeaser .buttonContainer {
  margin: 0 15px 20px 15px;
}
.rightPageCol .formTeaser .formTeaserContent div.floatLeft,
.rightPageCol .formTeaser .buttonContainer {
  margin: 0 0 20px 0;
}

#enterDimension{
  border-bottom:1px solid #ccd1d5;
  overflow:hidden;
}
.measureResult {
	background-color: #F9F9F9;
	padding: 8px 8px 0px 20px;
	overflow: hidden;
}
.formTeaser .measureResult .buttonContainer {
  margin: 20px 0 5px 0;
  float:left;
}

.measureResult #calculate_classname {
  width:120px;
}

/* login form taeser */
.formTeaser .loginFormTeaser .form_error {
  display:block;
  margin: 5px 15px 0 15px;
}
.formTeaser .loginFormTeaser .textLink {
  display:block;
  margin: 0 0 20px 15px;
}
.formTeaser .loginFormTeaser fieldset {
  margin-bottom: 15px;
}
.formTeaser .loginFormTeaser .fieldlabelleft {
  padding: 4px 10px 4px 15px;
  width: 90px;
}
.formTeaser .loginFormTeaser .inputRegular {
  width: 154px;
}
.formTeaser .loginFormTeaser .inputUsername{
  margin-top: 16px;
}
.formTeaser .loginFormTeaser .inputPassword {
  margin-bottom: 15px;
}
.formTeaser .loginFormTeaser .checkboxRememberMe {
  margin: 0 16px 15px 15px;
  float: left;
}


/* disclaimer checkbox ------------------------ */
.disclaimer {
}
.disclaimer input {
  float:left;
}
.disclaimer label {
  display:block;
  margin:0 0 10px 22px;
}

/* delete form inputs ------------------------ */
.deleteFormContainer {
  margin-bottom:10px;
}


/* hint text under forms ------------------------ */
.hintText {
  float:left;
  background-color:#ffffff;
  width: 620px;
}
.hintText span{
  display:block;
  margin-top:8px;
  font-size: 11px;
}

/* form errors message ------------------------ */
.formErrors {
  background-color: #F2F2F2;
  background-image: url(../images/websiteelemente/form_teaser_bg.gif);
  background-repeat: repeat-x;
  float: left;
  width:616px;
  margin-bottom:20px;
}

.formErrors span {
  display:block;
  margin: 20px 10px 20px 10px;
  color:#E00B30;
}

.formErrors p {
  display:block;
  margin: 0px 10px 5px 10px;
  color:#E00B30;
}

/* forgot password form ------------------------ */
#forgotPasswordForm .fieldlabelleft	{
  width: 130px;
}


/* parcel confirmation ------------------------ */
#parcelConfirmation .formFieldset.paketShop {
  padding:20px 16px 10px 16px;
}
.paketShopImage {
  float: left;
  height: 57px;
  margin-right: 10px;
  width: 53px;
  background: url(../images/websiteelemente/h_paket_shop.jpg) no-repeat;
}

#parcelConfirmation .buttonCopy {
  display:block;
  margin-bottom:10px;
}


/* registration data page ------------------------ */
.formData {
  clear: both;
  margin-bottom: 16px;
}
.formData.lastChild {
  margin-bottom: 16px;
}
.fieldLabel {
  float: left;
  padding: 0 5px 0 2px;
  width: 252px;
}
.fieldData {
  padding: 0 5px 0 2px;
  width: 310px;
  color:#333333;
}


.errorMsg {
	padding: 0px 0px 0px 0px;
	margin-bottom: 15px;
	color: #AA4400;
}
.infoMsg {
	padding: 0px 0px 0px 0px;
	margin-bottom: 15px;
	color: #0091CD;
}

.formSection{
  height:auto;
  float: left;
  margin-bottom: 21px;
}

.formSection .teaserContainer {
  margin-top: -40px;
}

.formWrapper{
  float:left;
  margin-right:21px;
}

.formContainer .formWrapper {
  width:616px;
}

.tableContainer .formWrapper {
  width:936px;
	margin-right:1px;
}

.formHeader {
  background-color:#0591CC;
  background-image:url(../images/websiteelemente/sprite.png);
  background-position: 0 -560px;
  background-repeat:repeat-x;
  
  height:40px;
  -moz-border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  -khtml-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
}

.formContainer .formHeader {
  width:620px;
}
.tableContainer .formHeader {
  width: 940px;
}

.formHeader span,
.formHeader h2,
.teaserWrapper .formHeader h2{
  color:#f7f7f7;
}
.formHeader > span,
.formHeader > h2,
.teaserWrapper .formHeader > h2{
  padding:10px 0 0 19px;
  font-size:15px;
  display:block;
  font-weight: normal;
  margin: 0;
  border: 0px none;
}
.formHeader > h2 a,
.teaserWrapper .formHeader > h2 a{
  color:#f7f7f7;
  font-size:15px;
}
.formHeader .buttonContainer {
	margin-left: 78px !important;	
}
.formSection div.inactive {
 background-color:  #9A9A9A;
 background-position: 0 -1006px;
}

#lightBoxDialog,
#unknownAddressLightBox,
#lightBoxDialog_tab1,
.lightBoxDialog_tab3,
#lightBoxDialog_edit_description,
#errorLightBox,
#lightBoxDialog_ShipmentTracing,
#emptyPhoneNumberLightBox,
#captchaLightbox,
#lightBoxDialog_tab3_AddressConfirm {
  width:400px;
  text-align:left;
}

#lightBoxDialogComplete {
  width:280px;
  text-align:left;
}

#customsPrivateLightBox {
  width:600px;
  text-align:left;
}
#lightBoxDialog .toolTipMid .buttonContainer,
#unknownAddressLightBox .toolTipMid .buttonContainer,
#errorLightBox .toolTipMid .buttonContainer,
#customsPrivateLightBox .toolTipMid .buttonContainer,
#lightBoxDialog_tab1 .toolTipMid .buttonContainer,
.lightBoxDialog_tab3 .toolTipMid .buttonContainer,
#lightBoxDialog_edit_description .toolTipMid .buttonContainer,
#emptyPhoneNumberLightBox .toolTipMid .buttonContainer,
#captchaLightbox .toolTipMid .buttonContainer,
#lightBoxDialogComplete .toolTipMid .buttonContainer {
  margin: 10px 10px 20px 10px;
}

#lightBoxDialog_tab3_AddressConfirm .toolTipMid .buttonContainer {
	margin: 10px;
}


#lightBoxDialog_edit_description .sendung_umbenennen{
	float:left;
	width:100%;
	clear:both;
	margin-bottom:20px;
}

#lightBoxDialog_edit_description .sendungsID{
	float:left;
	width:60%;
}

#lightBoxDialog_edit_description .auftragsNr{
	float:left;
	width:40%;
}

#lightBoxDialog_edit_description .strong,
#lightBoxDialog_edit_description .strong{
	font-weight:bold;
	display:block;
}

#lightBoxDialog_edit_description .description_box{
	float:left;
	width:52%;
	clear:both;
}

#lightBoxDialog_edit_description .description_box label{
	font-weight:bold;
	padding-bottom:5px;
    display:block;
}

#lightBoxDialog_edit_description .description_box .inputRegular{
	width:182px;
}

#lightBoxDialog_edit_description .description_box .small{
	font-size:10px;
	display:block;
	padding-left: 6px;
}

#lightBoxDialog_edit_description .sendung_check{
	float:left;
	width:30%;	
}

#lightBoxDialog_edit_description .sendung_safe_text{
	float:left;
	width:70%;	
}

#lightBoxDialog_ShipmentTracing .toolTipMid .buttonContainer {
  margin: 0px 5px 20px 5px;
  width:36%;
}


#lightBoxDialog_ShipmentTracing .loginOrRegister{
	float:left;
	width:100%;
	clear:both;
	margin-bottom:20px;
	margin-top:20px;
}

#lightBoxDialog_ShipmentTracing .login_box{
	float:left;
	width:50%;
}

#lightBoxDialog_ShipmentTracing .registration_box{
	float:left;
	width:50%;
}

#lightBoxDialog_ShipmentTracing .strong,
#lightBoxDialog_ShipmentTracing .strong{
	font-weight:bold;
	display:block;
}

#lightBoxDialog_ShipmentTracing .login_input_box{
	float:left;
	width:95%;
	clear:both;
	margin-top:10px;
}

#lightBoxDialog_ShipmentTracing .login_input_box label{
	font-weight:bold;
	padding-bottom:5px;
    display:block;
}

#lightBoxDialog_ShipmentTracing .login_input_box .inputRegular{
	width:160px;
}

#lightBoxDialog_ShipmentTracing .login_input_box #rememberMeCB_lightbox{
    float: left;
    margin: 5px 5px 0 0;
}

#lightBoxDialog_ShipmentTracing .login_input_box #rememberMeCB_lightbox_label{
    font-weight: normal;
    margin: 3px 0 0 0;
}

.form_error,
.form_error span {
	color: #E00B30!important;
}
.form_error a.inlineLink {
  text-decoration:underline;
}
.inputEntity {
	line-height: 24px;
	padding-left: 5px;
}

.oneofthree { /* 33,3% of witdh */
	display: block;
	width: 191px;
}

.formFieldset,
.formFieldsetData,
.formFieldsetJS {
  background-color:#F2F2F2;
  padding:20px 16px 8px 16px;
  width:584px;
  border-top:1px solid #ccd1d5;
  float:left;
}
.formFieldsetData {
  padding: 20px 16px 17px 16px;
}
.jsError {
  width:904px;
  padding: 20px 16px 17px 16px;
}

.formFieldset.firstChild {
  background-image:url(../images/websiteelemente/form_fieldset_bg.gif);
  background-repeat: repeat-x;
  border-top: none;
}
.formFieldset.firstChildSmall {
  background-image:url(../images/websiteelemente/form_fieldset_small_bg.gif);
  background-repeat: repeat-x;
  border-top: none;
}

.technicalErrorRight {
  background-color:#F2F2F2;
  padding:20px 16px 8px 16px;
  border-top:1px solid #ccd1d5;
  float:left;
}

.technicalErrorRight.firstChildSmall {
  background-image:url(../images/websiteelemente/form_fieldset_small_bg.gif);
  background-repeat: repeat-x;
  border-top: none;
}

.smallGradientBg {
  background-image: url(../images/websiteelemente/form_teaser_bg.gif);
  background-repeat: repeat-x;
}

.cell_baggage_type,
.cell_baggage_type_title{ width: 122px; }
.cell_baggage_price,
.cell_baggage_price_title { width: 64px; }
.cell_baggage_amount,
.cell_baggage_amount_title { width: 136px; }
.cell_baggage_additional_fee,
.cell_baggage_additional_fee_title { width: 132px; }
.cell_baggage_sum,
.cell_baggage_sum_title { width: 59px; }


/* styles for contact explanation form --------- */
#contact_form .formWrapper{
	float:left;
	margin-bottom:25px;
}


#contact_form .formWrapper .formFieldset{
	background:url(../images/websiteelemente/form_fieldset_small_bg.gif) repeat-x #f2f2f2;
	margin-bottom:7px;
	float:left;
	padding:15px 14px 15px 14px;
	position:relative;
}

#contact_answer{
    margin-top: 15px;
}

#contact_answer h2.headline{
	border:0px;
	color: #0091CD;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 11px;
	margin-left:24px;
    margin-right: -14px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 14px;
    padding-right: 0;
    padding-top: 0;
}

#contact_answer .buttonContainer{
	float:right;
}

#contact #contactForm .textarea-sign{
	margin-left:110px;
	font-size:9px;
}



/* styles for duty explanation form --------- */
.addArticle {
  width:618px;
  float: left;
}
.addArticleContainer      {
  border: 1px solid #BABFC3;
  width:618px;
  height:35px;
  float: left;
  display:block;
}
.addArticleIcon {
  width: 20px;
  height: 20px;
  margin: 7px 12px;
  background-image: url(../images/websiteelemente/sprite.png);
  background-repeat: no-repeat;
  background-position: 0px -1130px;
  float: left;
  cursor: pointer;
}
.addArticleIcon:hover {
  background-position: 0px -1150px;
}

.deleteArticleIcon {
  width: 19px;
  height: 19px;
  background-image: url(../images/websiteelemente/sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -342px;
  float: right;
  cursor: pointer;
  display:block;
  margin: 0 5px 5px 0;
}
.deleteArticleIcon:hover {
  background-position: -19px -342px;
}

.addArticleDescription {
  margin-top: 11px;
  float: left;
}
.deleteFormInputCopy {
  width:300px;
  float:left;
  display:block;
}

.dutyInputLabelTop {
  display: block;
  width: 235px;
}
.dutyInputLabelTop input{
  width: 200px;
}

.articleCountrySelect {
  width:300px;
}

.articleCountrySelectText {
  width: 270px;
  display:block;
  margin-top:25px;
  padding-bottom: 1px;
}


/* expandable table */
.expandable-icon {
 background-image: url(../images/websiteelemente/sprite.png);
 background-repeat: no-repeat;
 background-position: 0 -361px;
 width:19px;
 height:19px;
 float:right;
 margin-right:5px;
 display: block;
}
.expandable-icon:hover {
 background-position: -19px -361px; 
}

.packageSelection a.active {
  background-position: 0 -342px;
}
.packageSelection a.active:hover {
  background-position: -19px -342px;
}


.expandedControls {
  background-image: url(../images/websiteelemente/form_fieldset_small_bg.gif);
  background-repeat: repeat-x;
  border-top: medium none;
  background-color: #F2F2F2;
  float: left;
  padding: 13px 4px 10px 14px;
  width: 598px;
}

.expandable-icon-open,
.expandable-icon-close {
  float:right;
  margin:0 0 0 20px;
}

.expandable-icon-open span.icon {
  background-image: url(../images/websiteelemente/sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -361px;
  width:19px;
 height:19px;
 display:block;
 margin:-2px 0 0 5px;
}
.expandable-icon-open:hover span.icon {
   background-position: -19px -361px;
}

.expandable-icon-close span.icon {
  background-image: url(../images/websiteelemente/sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -342px;
  width:19px;
 height:19px;
 display:block;
 margin:-2px 0 0 5px;
}
.expandable-icon-close:hover span.icon {
  background-position: -19px -342px;
}

.expandable-icon-open span.linkText,
.expandable-icon-close span.linkText,
.expandable-icon-open span.icon,
.expandable-icon-close span.icon{
    float:left;
}


/*baggage/bicycle*/
#to_zip_is_island_note,
#from_zip_is_island_note{
 font-size: 10px;
 width: 185px;
 display:none;
}

#to_zip_is_island_note b,
#from_zip_is_island_note b{
 color: #E00B30!important;
 font-weight:bold;
}

.cell_baggage_type .infoIcon{
 margin:-2px 17px 0 7px;
}

.cell_baggage_amount fieldset .infoIcon{
 margin-left:10px;
}

.cell_baggage_additional_fee_title .infoIcon{
 margin:-3px 0 0 5px;
}



/* grey footer -------------- */
.footerGrey {
  width: 582px;
  padding: 15px 25px 17px 13px; 
  text-align: right;
  background-color: #b7bcc0;
  overflow: hidden;
}

.totalCosts {
  float: right;
}

.packageErrorMsg {
  width: 290px;
  padding-left: 30px;
  color: #fff;
  text-align: left;
  background-image: url(../images/websiteelemente/icon_warning.png);
  background-repeat: no-repeat;
  float: left;
  display:none;
}





/* package table ------------------------ */
.col1 {
  width: 101px;
  padding: 19px 10px 13px 8px;
  background-image: url(../images/websiteelemente/form_expanded_content_white_bg.gif);
  background-repeat: repeat-x;
  background-color: #f9f9f9;
}

.col2 {
  width: 165px;
  padding: 19px 10px 0 8px;
}
.col2 .infoIcon {
	margin: -17px 46px 0 10px;
	float: right;
}
.col3 {
  width: 186px;
  padding: 19px 10px 0 8px;
  border-right: 1px solid #ccd1d5;
  border-left: 1px solid #ccd1d5;
}

.col4 {
  width: 90px;
  padding: 19px 10px 0 8px;
}

.formWrapper.packageTable {
  width: 620px;
  margin-right: 20px;
}

.formWrapper table {
  background-image: url(../images/websiteelemente/form_expanded_content_grey_bg.gif);
  background-repeat: repeat-x;
  background-color: #f2f2f2;
}

.formWrapper table td {
  vertical-align: top;
  background-color: #f2f2f2;
}

.packageTableHeader {
  width: 620px;
  border-bottom: 1px solid #ccd1d5;
}

.packageTableHeader table {
  height: 50px;
  margin-left: 1px;
  display: block;
}

.packageTableHeader tr {
  height: 50px;
}

.packageTableHeader td {
  height: 35px;
  padding: 10px 10px 5px 8px;
}

.packageTableHeader td span.packageTitel {
  margin-top:5px;
}

.packageSelection {
  width: 607px;
  padding: 10px 0 5px 11px;
  border-right: 1px solid #ccd1d5;
  border-bottom: 1px solid #ccd1d5;
  border-left: 1px solid #ccd1d5;
  overflow: hidden;
  cursor: pointer;
}

.packageSelectionBorder{
  border-bottom: 1px solid #ccd1d5;
}

.expandedTable {
  width: 620px;
  border-bottom: 1px solid #ccd1d5;
  display: none;
}

.expandedTable.hasChild {
  border-bottom: none;
}
.expandedTable.hasChild .packageSelection {
  padding: 5px 0 2px 35px;
  background-image: url(../images/websiteelemente/faq_expanded_head_bg.gif);
  background-repeat: repeat-x;
}
.expandedTable.hasChild .expandedTable.hasChild .packageSelection {
  padding: 5px 0 2px 60px;
}
.expandedTable table {
  display: block;
  width:618px;
}

.expandedTable fieldset {
  margin-bottom: 18px;
  border: none;
}

.expandedTable label {
  margin: -19px 0 0 23px;
  display: block;
}

.expandedTable .infoIconContainer {
  padding: 3px 0 15px 65px;
}




.bulkAmount {
  margin-left: 17px;
}

.packageTitel {
  color: #0091cd;
  float: left;
}

.packageSelection .packageTitel {
	font-size: 14px;
    font-weight: normal;
}
.packageSelection .packageSize {
	font-size: 10px;
  font-weight: normal;
  margin-left: 8px;
}

div.active {
  display: block!important;
}

.detailsLink {
  text-decoration: underline;
  margin-bottom: 13px;
}

div.package {
  background-image: url(../images/websiteelemente/icon_packages.gif);
  background-repeat: no-repeat;
  margin-bottom: 7px;
}

.package_xs {
  width: 45px;
  height: 45px;
  background-position: 0px 0px;
}

.package_s {
  width: 45px;
  height: 45px;
  background-position: 0px -45px;
}
.package_s span{
  font-size:17px;
  color:#0090cc;
  display:block;
  padding:13px 0 0 50px;
}

.package_m {
  width: 55px;
  height: 55px;
  background-position: 0 -90px;
}

.package_l {
  width: 63px;
  height: 63px;
  background-position: 0 -145px;
}

.package_xl {
  width: 73px;
  height: 73px;
  background-position: 0 -208px;
}

.package_xxl {
  width: 81px;
  height: 81px;
  background-position: 0 -281px;
}

.package_plus {
  width: 45px;
  height: 45px;
  background-position: 0px -362px;
}

/** Format Bilder **/
.package_XS {
  width: 45px;
  height: 45px;
  background-position: 0px 0px;
}

.package_S {
  width: 45px;
  height: 45px;
  background-position: 0px -45px;
}
.package_S span{
  font-size:17px;
  color:#0090cc;
  display:block;
  padding:13px 0 0 50px;
}

.package_M {
  width: 55px;
  height: 55px;
  background-position: 0 -90px;
}

.package_L {
  width: 63px;
  height: 63px;
  background-position: 0 -145px;
}

.package_XL {
  width: 73px;
  height: 73px;
  background-position: 0 -208px;
}

.package_XXL {
  width: 81px;
  height: 81px;
  background-position: 0 -281px;
}

.package_SMALL_PACKAGE {
  width: 45px;
  height: 45px;
  background-position: 0px -362px;
}
/** Format Bilder **/

.col1 .infoIcon {
  margin: 0;
}

.expandedTable .col1 .toolTipWrapper {
  left: 50px;
}




.baggageTable {
  width: 620px;
}

.baggageTable table {
  display: block;
}

.baggageTable td {
  padding: 19px 10px 13px 8px;
  border-bottom: 1px solid #ccd1d5;
}

.baggageTable .baggageGroup td {
  border-bottom: none;
}

.baggageTable .col1 {
  width: 122px;
}

.baggageTable .col1 span.floatLeft {
  width: 100px;
}

.baggageTable .col2 {
  width: 64px;
  border-left: 1px solid #ccd1d5;
}

.baggageTable .col3 {
  width: 153px;
  border-right: none;
  border-left: 1px solid #ccd1d5;
}

.baggageTable .col4 {
  width: 114px;
  border-left: 1px solid #ccd1d5;
}

.baggageTable .col5 {
  width: 67px;
  border-left: 1px solid #ccd1d5;
}

.baggageContent .col1 {
  background-image: none;
}

.baggageContent .col1 .infoIcon {
  float: right;
}

.baggageContent .col5 span {
  color: #0091cd;
}

.packageHint {
  width: 95px;
  margin-left: 10px;
  float:left;
}
.packageHint span {
  color: #0091CD;
}
.disabledText {
  color: #b9b8b8;
}



.baggageZipWarning {
  position: absolute;
  left: 76px;
  top: 31px;
  width: 214px;
}

.baggageZipWarning span.copytext span {
  color: #0091CD;
}

.dpicker fieldset label {
  cursor: default;
}
.dpicker fieldset input {
	margin-top: 2px;
}
.dpicker fieldset,
.dpicker .dpicker_info { 
	float: left;
}

.dpicker .dpicker_info {
  margin-left: 10px;
}


/* pages width 2 colunms */
#registrationConfirmation,
#forgotPassword,
#registration,
#registrationChange,
#registrationData,
#parcelConfirmation,
#baggageShipping,
#ebayAdressImport,
#csvAdressImport,
#csvAdressImportConfirmation,
#dutyExplanation,
.formSectionContainer {
  width: 640px;
}

/* Adress import */
#fileName {
  width:309px;
}

.csvImportLable {
  width: 134px;
}

.niceUpload {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
  height:20px;
  margin:2px 0 0 10px;
}
.formContainer .formWrapper .niceUpload .buttonContainer {
  cursor: pointer;
  display: inline-block;
  margin-bottom:0px;
}

.niceUpload input {
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  -moz-opacity:0 ;
  filter:alpha(opacity: 0);
  opacity: 0;
  font-size: 100px;
}

/* swiss commercial invoice */
#swissCommercialInvoice .formFieldset ul{
	width:610px;
}

#swissCommercialInvoice .formFieldset ul li{
	float: left;
	width: 90px;
	margin-bottom: 6px;
	position: relative;
}
#swissCommercialInvoice .formFieldset ul li.next_01{
	width: 112px;
}
#swissCommercialInvoice .formFieldset ul li.next_02{
	width: 128px;
}
#swissCommercialInvoice .formFieldset ul li.next_03{
	width: 125px;
}
#swissCommercialInvoice .formFieldset ul li.next_04{
	width: 132px;
}

#swissCommercialInvoice .formFieldset ul li.next p{
	margin-right:25px;
}
#swissCommercialInvoice .formFieldset ul li.next span.next_step{
	background: url(../images/websiteelemente/com_invoice_next_arrow.png) no-repeat 0 0;
	width: 36px;
	height: 167px;
	position: absolute;
	right:0;
	top:42px;
}
#swissCommercialInvoice .formFieldset ul li span{
	background-image: url(../images/websiteelemente/sprite.png);
	background-repeat: no-repeat;
	width: 55px;
	height: 62px;
	/*float: left;*/
	display:block;
}
#swissCommercialInvoice .formFieldset ul li span.step_01{
	background-position: 0px -1264px;
}
#swissCommercialInvoice .formFieldset ul li span.step_02{
	background-position: 0px -1336px;
}
#swissCommercialInvoice .formFieldset ul li span.step_03{
	background-position: 0px -1408px;
}
#swissCommercialInvoice .formFieldset ul li span.step_04{
	background-position: 0px -1480px;
}
#swissCommercialInvoice .formFieldset ul li span.step_05{
	background-position: 0px -1552px;
}
#swissCommercialInvoice .formFieldset ul li span.step_06{
	background-position: 0px -1624px;
}

#swissCommercialInvoice .formFieldset ul li p{
	width: auto;
	padding-top: 11px;
	margin-top: 10px;
}

/* login account */
.formSectionContainer {
  float: left;
  text-align: left;
}

.memorisedMessageError {
	background: url(../images/websiteelemente/myhermes_se_hinzufuegen_kreuz.png) no-repeat 0 0;
	padding-left: 35px;
}

.memorisedMessageSuccess {
	background: url(../images/websiteelemente/myhermes_se_hinzufuegen_haken.png) no-repeat 0 0;
	padding-left: 30px;
	padding-top: 3px;
}

.memorisedMessageUnknown {
	background: url(../images/websiteelemente/myhermes_se_hinzufuegen_fragezeichen.png) no-repeat 0 0;
	padding-left: 30px;
	padding-top: 3px;
}

.memorisedMessage {
	width: 450px;
}

.formContainer .formHeader {
    width: 620px;
}

#registrationChangeForm .textarea-sign {
    font-size: 9px;
    margin-left: 110px;
}

#contactForm #country {
	width:178px;
}

#contactForm #street, 
#contactForm #postalCode,
#contactForm #areaCodePhoneNo,
#contactForm #mobileAreaCodePhoneNo {
	margin-right: 4px;
}

.formWrapper.packagingPrice table td {
	vertical-align: middle;
	background-color: #f2f2f2;
}

.formWrapper.packagingPrice .first{
	width:70%;
}

.formWrapper.packagingPrice .second{
	width:30%;
}

.formWrapper.packagingPrice img {
	border: medium none;
	vertical-align: inherit;
}

.formWrapper.packagingPrice .h3Style {
 	color: #0091cd;
    font-family: open_sansregular,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;  
	display:inline-block;
	vertical-align: middle;
}

.formWrapper.packagingPrice .info {
	display: inline-block;
	vertical-align: middle;
}

.formWrapper.packagingPrice .infoIcon {
	vertical-align: inherit !important;
	padding: 0 5px;
}

.formWrapper.packagingPrice .price {
	color: #0091cd;
}

.formWrapper.packagingPrice .formHeaderWhite {
	background-color: #f2f2f2;
    background-image: url("../images/websiteelemente/form_expanded_content_grey_bg.gif");
    background-repeat: repeat-x;
}

.formWrapper.packagingPrice .formHeaderWhite h2{
	border-bottom: 1px dotted #0091cd;
    color: #0091cd;
    font-size: 16px;
    font-weight: normal;
    padding: 15px 0 9px 14px;
}

.formWrapper.packagingPrice .formHeaderWhite table {
	background:none;
}

#internationalPriceOverview .countrySelectDiv,
#myhermesPackageLabel .countrySelectDiv {
	float: left; 
	padding-top: 3px;
}

#internationalPriceOverview .countrySelectHint,
#myhermesPackageLabel .countrySelectHint {
	float: left; 
	width: 375px; 
	margin-left: 25px;
}

#internationalPriceOverview .countrySelectHint span,
#myhermesPackageLabel .countrySelectHint span {
	font-size: 0.8em; 
	line-height: 0;
}

#captchaLightbox .toolTipContent fieldset {
    margin-bottom: 15px;
}

#captchaLightbox .toolTipContent .inputUsername {
    margin-top:10px;
}