/* FV - Thoughtful Comments */
.tc_highlight {
	background: red;
	color: white;
	padding: 3px;
}
.tc_highlight_spam {
	background: brown;
	color: white;
	padding: 3px;
}
.tc-frontend {
	font-size: 80%;
}
.tc-frontend a {
	margin-right: 6px;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: 	none !important;
	box-shadow: 		none !important;
	text-decoration: none !important;
	border-bottom: none !important;
}
.tc-frontend a:before {
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font: normal 20px/1 'dashicons';
	vertical-align: middle;
}
.tc-frontend span[id$="-approve"] a:before {
	content: "\f147";	
}
.tc-frontend a.fv-tc-del:before {
	content: "\f182";
}
.tc-frontend a.fv-tc-ban:before {
	content: "\f227";
}
.tc-frontend a.fv-tc-delthread:before {
	content: "\f117";
}
.tc-frontend a.fv-tc-banthread:before {
	content: "\f335";
}

#fv_tc_ticker.floating {
  background: white;
  margin: 20px;
  padding: 20px;
  z-index: 100;
}

/*
 * Live updating comments
 */

.fv_tc_voting {
	line-height: 12px;
}
.fv_tc_voting_like {
	border-right: 2px solid #ebebeb;
	padding: 0 5px 0 0;
}
.fv_tc_voting_dislike {
	padding: 0 0 0 5px;
}
div.fv_tc_voting_box {
	margin: 0 0 10px;
	padding: 5px 0;
	min-width: 100px;
}
.fv_tc_voting {
	color: #bebebe;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
}
.fv_tc_voting:hover {
	color: #959595;
}
.fv_tc_voting_box i:before {
	content: "";
	width: 12px;
	height: 8px;
	display: inline-block;
	background: url("images/voting-arrows.png") no-repeat left top;
	margin: 0 3px;
}
.fv_tc_voting_box .fv_tc_voting_dislike i:before {
	background-position: left bottom;
}
.fv_tc_voting_box .fv_tc_voting_like:hover i:before {
	background-position: right top;
}
.fv_tc_voting_box  .fv_tc_voting_dislike:hover i:before {
	background-position: right bottom;
}
div.fv_tc_voting_box > div.fv_tc_voting,
div.fv_tc_voting_box > div.fv_tc_voting_count {
  float:left;
  margin:0 5px;
}
div.fv_tc_voting_box > div.fv_tc_voting > span {
  margin: 0 5px;
}
div.fv_tc_voting_box > div.fv_tc_voting_count {
  line-height: 25px;
}
div.fv_tc_voting_box > div.fv_tc_voting {
  cursor: pointer;
}

.fv_cp_hidden > article > .comment-content, .fv_cp_hidden > article > .reply,
.fv_cp_hidden > .comment-body, .fv_cp_hidden > article > .reply,
.fv-cp-comment-show,
body.logged-in .fv_cp_hidden > article > .fv-cp-comment-hide,
body.logged-in .fv_cp_hidden > .fv-cp-comment-hide {
  display: none;
}

body.logged-in .fv-cp-comment-show {
  display: none;
  float: right;
}
body.logged-in .fv-cp-comment-hide {
  float: right;
  display: block;
}

body.logged-in .fv_cp_hidden > article > .fv-cp-comment-show,
body.logged-in .fv_cp_hidden > .fv-cp-comment-show {
  display: block;
}
.fv_tc_reports {
	border-top: 3px solid #bf0000;
	margin-bottom: 5px;
	padding: 5px;
}
.fv_tc_reports ul {
	margin: 0;
}
.fv_tc_reports ul li {
	margin: 0 !important;  
	padding: 5px 54px 5px 0;
	list-style-type: none;
	border-top: 1px solid #ddd;
	position: relative;
}
.fc-tc-closereport {
	position: absolute;
	font-size: 80%;
	text-transform: lowercase;
	right: 0;
	top: 7px;
	color: #aaa;
}
.fc-tc-closereport:before {
	font: normal 20px/1 'dashicons';
	content: "\f335";
	vertical-align: middle;
}
.comment_report_wrap {
	display: block;
	clear: both;
	padding: 0 5px;
	text-align: left;
}
.comment_report_wrap p {
	margin: 0;
}
.comment_report_wrap input {
	margin-bottom: 2px;
	padding: 6px;
	width: 98%;
	border: 1px solid #999;
	box-shadow: none;
}
.comment_report_wrap .report_button {
	background-color: #666;
	color: #fff;
	border: none;
	padding: 5px;
}
.comment-has-report .comment-body {
  background: #fff8f8;
}
