@font-face {
	font-family: 'Open Sans Condensed';
    src: url('../fonts/OpenSans-CondBold-webfont.eot');
    src: url('../fonts/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-CondBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-CondBold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-CondBold-webfont.svg#OpenSansCondensedBold') format('svg');
	font-weight: bold;
	font-style: normal;
	unicode-range: U+0000-017F,U+01A0-01A1,U+01AF-01B0,U+0300-0301,U+0303,U+0309,U+030F,U+0323,U+0384-03CE,U+0400-0513,U+1EA0-1EF9,U+2013-2014,U+2018-201A,U+201C-201E,U+2022,U+2039-203A,U+20AB-20AC;
}
@media screen and (-webkit-max-device-pixel-ratio:1.4) {
@font-face {
	font-family: 'Open Sans Condensed';
	src: url('../fonts/OpenSans-CondBold-webfont.woff') format('woff'),
		 url('../fonts/OpenSans-CondBold-webfont.svg') format('svg');
	font-weight: 700;
	unicode-range: U+0000-017F,U+01A0-01A1,U+01AF-01B0,U+0300-0301,U+0303,U+0309,U+030F,U+0323,U+0384-03CE,U+0400-0513,U+1EA0-1EF9,U+2013-2014,U+2018-201A,U+201C-201E,U+2022,U+2039-203A,U+20AB-20AC;
}
@font-face {
	font-family: 'Open Sans Condensed';
	font-weight: 700;
	src: local(sans-serif);
	unicode-range: U+0180-019F,U+01A2-01AE,U+01B1-02FF,U+0302,U+0304-0308,U+030A-030E,U+0310-0322,U+0324-0383,U+03CF-03FF,U+0514-1E9F,U+1EFA-2012,U+2015-2017,U+201B,U+201F-2021,U+2023-2038,U+203B-20AA,U+20AD-FFFF;
}
}
/* === Reset === */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	/*vertical-align: baseline;*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	/*font-size: 75%;*/
	font-family:sans-serif;
	-webkit-font-smoothing: antialiased;
	line-height: 1;
	color: #222;
}
input[type="text"],
textarea {
	font-family:sans-serif;
	-webkit-font-smoothing: antialiased;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}
sup {
	vertical-align:text-top;
	font-size:smaller;
	line-height:1;
}
/*
a, area, input, select, textarea, button, iframe, object, embed {
	outline:none;
}
*/
*:focus {
	outline:none;
}
.pressTabkey *:focus {
	outline:1px dotted invert;
}

/************************** ga2012 class *****************************/

/* skip link setting */
.ga2012_skipLink{
	position:absolute;
	left:-9999em;
	top:0;
}

/* font setting */
div#ga2012_header,
div#ga2012_mainNavigation,
div.ga2012_breadcrumbs,
div#ga2012_mainContent,
p#ga2012_pageTop,
div#ga2012_bottomLink,
div#ga2012_footer{
	font-size:75%;
	color:#222;
}
div#ga2012_header em,
div#ga2012_mainNavigation em,
div.ga2012_breadcrumbs em,
div#ga2012_mainContent em,
div#ga2012_bottomLink em,
div#ga2012_footer em{
	font-weight:bold;
	font-style:normal;
}

/* link setting */
div#ga2012_header a:link,
div#ga2012_mainNavigation a:link,
div#ga2012_bottomLink a:link,
div#ga2012_footer a:link,
div#ga2012_header a:visited,
div#ga2012_bottomLink a:visited,
div#ga2012_footer a:visited{
	color:#455470;
	text-decoration:none;
}
div#ga2012_header a:hover,
div#ga2012_mainNavigation a:hover,
div#ga2012_bottomLink a:hover,
div#ga2012_footer a:hover,
div#ga2012_header a:active,
div#ga2012_bottomLink a:active,
div#ga2012_footer a:active{
	color:#455470;
	text-decoration:underline;
}
div.ga2012_breadcrumbs a:link,
div.ga2012_breadcrumbs a:visited{
	color:#455470;
	text-decoration:none;
}
div.ga2012_breadcrumbs a:hover,
div.ga2012_breadcrumbs a:active{
	color:#455470;
	text-decoration:underline;
}
div#ga2012_mainContent a:link,
p#ga2012_pageTop a:link{
	color:#3e6fcf;
	text-decoration:none;
}
div#ga2012_mainContent a:visited,
p#ga2012_pageTop a:visited{
	color:#800080;
	text-decoration:none;
}
div#ga2012_mainContent a:hover,
p#ga2012_pageTop a:hover{
	color:#3e6fcf;
	text-decoration:underline;
}
div#ga2012_mainContent a:active,
p#ga2012_pageTop a:active{
	color:#3e6fcf;
	text-decoration:underline;
}
div#ga2012_mainNavigation a:link{
	color:#737b82;
	text-decoration:none;
}
div#ga2012_mainNavigation a:visited{
	color:#800080;
	text-decoration:none;
}
div#ga2012_mainNavigation a:hover{
	color:#737b82;
	text-decoration:underline;
}
div#ga2012_mainNavigation a:active{
	color:#737b82;
	text-decoration:underline;
}

/* outline */
div#ga2012_header,
div#ga2012_mainNavigation,
div.ga2012_breadcrumbs,
div#ga2012_content,
div#ga2012_content.ga2012_top .wrapper,
div#ga2012_bottomLink,
div#ga2012_footer{
	width:967px;
	margin:0 auto;
}

/** #ga2012_mainNavigation **/
div#ga2012_mainNavigation{
	margin:0 auto;
	width:967px;
}

/** .ga2012_mainNavigationNw **/
div#ga2012_mainNavigation div.ga2012_mainNavigationNw{
	border:1px solid #e5e5e5;
	background-color:#fff;
	background-image:url(/common/images/ga2012_mainmenu_nw_bg.gif);
	background-repeat:repeat-x;
	background-position:left bottom;
}
div#ga2012_mainNavigation div.ga2012_mainNavigationNw ul li{
	float:left;
	border-left:1px solid #e5e5e5;
}
div#ga2012_mainNavigation div.ga2012_mainNavigationNw ul li.first-child{
	border-left:none;
	margin-left:0;
	padding-left:0;
}
div#ga2012_mainNavigation div.ga2012_mainNavigationNw ul li a,
div#ga2012_mainNavigation div.ga2012_mainNavigationNw ul li em{
	display:block;
	padding:0.3em 10px;
	color:#465471;
}
div#ga2012_mainNavigation div.ga2012_mainNavigationNw ul li a.active,
div#ga2012_mainNavigation div.ga2012_mainNavigationNw ul li em{
	background-color:#0a5ac1;
	background-image:url(/common/images/ga2012_mainmenu_nw_bg_active.gif);
	background-repeat:repeat-x;
	background-position:left bottom;
	color:#fff;
	font-weight:bold;
}

/** .ga2012_mainNavigationBiz **/
div#ga2012_mainNavigation div.ga2012_mainNavigationBiz{
	overflow:hidden;
	border-top:1px solid #e5e5e5;
	background-color:#fff;
	background-image:url(/common/images/ga2012_mainmenu_biz_bg.gif);
	background-repeat:repeat-x;
	background-position:left top;
	width:947px;
	margin-bottom:1em;
	padding:1em 10px 0;
}
div#ga2012_mainNavigation div.ga2012_mainNavigationBiz p{
	float:left;
	margin-top:0;
	margin-right:100px;
	margin-bottom:0;
	color:#737b82;
	font-size:117%;
	font-weight:bold;
}
div#ga2012_mainNavigation div.ga2012_mainNavigationBiz p a:link,
div#ga2012_mainNavigation div.ga2012_mainNavigationBiz p a:visited,
div#ga2012_mainNavigation div.ga2012_mainNavigationBiz p a:hover,
div#ga2012_mainNavigation div.ga2012_mainNavigationBiz p a:active{
	color:#737b82;
}
div#ga2012_mainNavigation div.ga2012_mainNavigationBiz ul{
	float:right;
}
div#ga2012_mainNavigation div.ga2012_mainNavigationBiz ul li{
	float:left;
	border-left:1px solid #e5e5e5;
	margin-left:5px;
	padding-left:5px;
}
div#ga2012_mainNavigation div.ga2012_mainNavigationBiz ul li.first-child{
	border-left:none;
	margin-left:0;
	padding-left:0;
}
div#ga2012_mainNavigation div.ga2012_mainNavigationBiz ul li a:link,
div#ga2012_mainNavigation div.ga2012_mainNavigationBiz ul li a:visited,
div#ga2012_mainNavigation div.ga2012_mainNavigationBiz ul li a:hover,
div#ga2012_mainNavigation div.ga2012_mainNavigationBiz ul li a:active{
	color:#3e6fcf;
}
div#ga2012_mainNavigation div.ga2012_mainNavigationBiz ul li a.active{
	font-weight:bold;
	color:#222;
}

/** .ga2012_mainNavigationSupport **/
div#ga2012_mainNavigation div.ga2012_mainNavigationSupport{
	overflow:hidden;
	border-top:1px solid #e5e5e5;
	background-color:#fff;
	background-image:url(/common/images/ga2012_mainmenu_biz_bg.gif);
	background-repeat:repeat-x;
	background-position:left top;
	width:947px;
	margin-bottom:0.4em;
	padding:0.4em 10px 0;
}
div#ga2012_mainNavigation div.ga2012_mainNavigationSupport p{
	float:left;
	margin-top:0;
	margin-right:100px;
	margin-bottom:0;
	color:#737b82;
	font-size:117%;
	font-weight:bold;
}
div#ga2012_mainNavigation div.ga2012_mainNavigationSupport p a:link,
div#ga2012_mainNavigation div.ga2012_mainNavigationSupport p a:visited,
div#ga2012_mainNavigation div.ga2012_mainNavigationSupport p a:hover,
div#ga2012_mainNavigation div.ga2012_mainNavigationSupport p a:active{
	color:#737b82;
}
div#ga2012_mainNavigation div.ga2012_mainNavigationSupport ul{
	float:right;
}
div#ga2012_mainNavigation div.ga2012_mainNavigationSupport ul li{
	float:left;
	border-left:1px solid #e5e5e5;
	margin-left:5px;
	padding-left:5px;
}
div#ga2012_mainNavigation div.ga2012_mainNavigationSupport ul li.first-child{
	border-left:none;
	margin-left:0;
	padding-left:0;
}
div#ga2012_mainNavigation div.ga2012_mainNavigationSupport ul li.first-child strong{
	font-weight:normal;
}
div#ga2012_mainNavigation div.ga2012_mainNavigationSupport ul li a:link,
div#ga2012_mainNavigation div.ga2012_mainNavigationSupport ul li a:visited,
div#ga2012_mainNavigation div.ga2012_mainNavigationSupport ul li a:hover,
div#ga2012_mainNavigation div.ga2012_mainNavigationSupport ul li a:active{
	color:#3e6fcf;
}
div#ga2012_mainNavigation div.ga2012_mainNavigationSupport ul li a.active{
	font-weight:bold;
	color:#222;
}

/* .ga2012_breadcrumbs */
div.ga2012_breadcrumbs p{
	padding:1em 0 1em;
}
div.ga2012_breadcrumbs p img{
	margin-right:2px;
	vertical-align:middle;
}

/* #ga2012_content */
div#ga2012_content{
	padding-bottom:1em;
}
div#ga2012_content .clearfix {
	zoom:1;
}
div#ga2012_content .clearfix:after {
	content:"";
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
}
div#ga2012_content img {
	vertical-align:bottom;
}

/* #ga2012_mainContent */
div#ga2012_mainContent{
	float:right;
	width:770px;
}
div.ga2012_wide div#ga2012_mainContent{
	float:none;
	width:auto;
}

/** #ga2012_pageTop **/
p#ga2012_pageTop{
	width:967px;
	margin:0 auto 2em;
	line-height:1.4;
	text-align:right;
}

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer {
	overflow: hidden;
	position: relative;
}

.jspPane {
	position: absolute;
}

.jspVerticalBar {
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
	background: red;
}

.jspHorizontalBar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}

.jspVerticalBar *,
.jspHorizontalBar * {
	margin: 0;
	padding: 0;
}

.jspCap {
	display: none;
}

.jspHorizontalBar .jspCap {
	float: left;
}

.jspTrack {
	background: #dde;
	position: relative;
}

.jspDrag {
	background: #bbd;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
	float: left;
	height: 100%;
}

.jspArrow {
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled {
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow {
	height: 16px;
}

.jspHorizontalBar .jspArrow {
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus {
	/*outline: none;*/
}

.jspCorner {
	background: #eeeef4;
	float: left;
	height: 100%;
}

/************************** generic class *****************************/

body {
	background: #e3e3e3 url(../images/bg-overall-shadow-dark.gif) repeat-y center top!important;
	font-family:sans-serif;
	/*-webkit-touch-callout:none;*/
}
body > img {
	position:absolute;
}
#page {
	max-width: 1200px;
	min-width: 980px;
	margin: 0 auto;
	background: #f6f6f6;
	overflow:hidden;
}
html.touch-device body {
	min-width:1000px;
	min-height:1200px;
}
html.touch-device #page {
	min-width:1000px;
}
.rwd {
	display:none;
}
.container {
	max-width: 976px;
	margin: 0 auto;
	padding: 0 2px 0 2px;
	position:relative;
}
.copyguard {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-webkit-pointer-events: none;
}

/************************** globalheader *****************************/

#globalheader {
	background: #474747 url(../images/img-nav-global-1px.png) repeat-x;
	zoom:1;
}
#globalheader:after {
	content: "";
	display: block;
	clear: both;
	height:0;
	overflow:hidden;
}
#globalheader .container {
}
#brandlogo {
	float: left;
	width : 170px;
	height : 70px;
	background-position : left top;
	background-repeat : no-repeat;
	font-size: 1px;
	margin-left: -12px;
}
#brandlogo a,
#brandlogo span {
	display: block;
	width : 170px;
	height : 70px;
	font-size: 0px;
}
#globalheader-nav {
	margin:0 140px 0 160px;
	font-size:0;
	text-align:center;
}
#globalheader-nav nav {
	display:inline-block;
}
#globalheader-nav .main_menu {
	margin-top:28px;
	overflow:hidden;
	zoom:1;
}
#globalheader-nav .main_menu li {
	display:inline-block;
	margin-left:35px;
	height:42px;
	text-align:center;
}
#globalheader-nav .main_menu li:first-child {
	margin-left:0;
}
#globalheader-nav .main_menu li a {
	display:inline-block;
	font-family: 'Open Sans Condensed' , sans-serif;
	font-size: 16px;
	color: #b6b6b6;
	font-weight: bold;
	text-decoration: none;
	text-shadow: -1px -1px 1px #000000;
	text-shadow: -1px -1px 1px #222;
	padding:1px 0;
}
#globalheader-nav .main_menu li a:hover,
#globalheader-nav .main_menu li.active a {
	color: #fff;
	text-shadow: none;
}
#globalheader-nav .main_menu li.active {
	background:url(../images/icn-nav-global-arrow-top.png) no-repeat 50% 100%;
}
.toggleMenu {
	display: none;
}
#nav-menu-mob {
	display: none;
}
#globalheader-utils {
	float: right;
	position:relative;
}
#globalheader-secondarynav {
	position:absolute;
	right:0;
	top:0;
	margin: 7px 0 0;
	display: block;
	text-align:right;
	min-width:400px;
	font-size:0;
}
#globalheader-secondarynav ul {
	display:inline-block;
}
#globalheader-secondarynav ul.main > li {
	display:inline-block;
	padding-left:7px;
	margin-left:7px;
	border-left: 1px solid #767676;
}
#globalheader-secondarynav ul.main > li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #e0e0e0;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
}
#globalheader-secondarynav ul.main > li a.lang {
	color:#00a0c6;
}
#globalheader-secondarynav ul.main > li > a {
	text-transform: uppercase;
}
#globalheader-secondarynav ul.main > li a:hover {
	color: #fff;
}
#globalheader-secondarynav ul.main > li:first-child {
	border:none;
}
#globalheader-secondarynav ul.main > li.withlistmenu {
	position:relative;
}
#globalheader-secondarynav ul.main .listmenu {
	position:absolute;
	right:-3px;
	background-color:#393939;
	margin:9px 0 13px;
	z-index:1100;
	display:none;
	text-align:left;
	behavior: url(/common/global-libs/css/PIE.htc);
	border-radius:3px;
	-pie-border-radius: 3px;
	box-shadow:1px 1px 2px 0 rgba(0,0,0,0.5);
	-webkit-box-shadow:1px 1px 2px 0 rgba(0,0,0,0.5);
	-moz-box-shadow:1px 1px 2px 0 rgba(0,0,0,0.5);
	-o-box-shadow:1px 1px 2px 0 rgba(0,0,0,0.5);
	-ms-box-shadow:1px 1px 2px 0 rgba(0,0,0,0.5);
	-pie-box-shadow:1px 1px 2px 0 rgba(0,0,0,0.5);
}
#globalheader-secondarynav ul.main .listmenu.col1 {
	width:161px;
}
#globalheader-secondarynav ul.main .listmenu.col2 {
	width:323px;
}
#globalheader-secondarynav ul.main .listmenu.col3 {
	width:485px;
}
#globalheader-secondarynav ul.main .listmenu:before {
	content:"";
	display:block;
	background:url(/common/global-libs/images/img-globalheader-listmenu-cap-top.png) no-repeat top right;
	height:9px;
	margin-top:-9px;
}
#globalheader-secondarynav ul.main .listmenu:after {
	content:"";
	display:block;
	height:0;
	overflow:hidden;
	clear:both;
}
#globalheader-secondarynav ul.main .listmenu ul {
	margin:10px 0;
	padding:0 15px;
	float:left;
	width:131px;
	border-right:1px solid #4f4f4f;
}
#globalheader-secondarynav ul.main .listmenu ul:last-child {
	border-right:none;
}
#globalheader-secondarynav ul.main .listmenu li {
	padding:5px 0;
}
#globalheader-secondarynav ul.main .modalmenu {
	display:none;
}
#modalmenu-box-wrapper {
	width:100%;
	top:50px;
	height:0;
	position:fixed;
	z-index:1000;
}
#modalmenu-box-bg {
	margin:0 auto;
	width:300px;
	background-color:#fff;
	border-radius:3px;
	behavior: url(/common/global-libs/css/PIE.htc);
	-pie-border-radius: 3px;
	position:relative;
}
#modalmenu-box-bg .btn-close {
	position:absolute;
	display:block;
	top:3px;
	right:3px;
	width:28px;
	height:26px;
	cursor:pointer;
	overflow:hidden;
}
#modalmenu-box {
	padding:5px;
	text-align:center;
}
#modalmenu-box dl dt {
	padding:30px 15px 15px;
	font-family: 'Open Sans Condensed' , sans-serif;
	font-size: 20px;
	line-height:24px;
	color: #1f1f1f;
	font-weight: bold;
}
#modalmenu-box dl dd {
	padding:10px 0;
	border-top:1px solid #e9e9e9;
}
#modalmenu-box dl dd a {
	font-size: 13px;
	color: #1f1f1f;
}
#modalmenu-box dl dd a:hover {
	color:#00a0c6;
}
#modalmenu-box .notes {
	padding:20px 0;
	border-top:1px solid #e9e9e9;
	font-size:11px;
	line-height:14px;
	color:#606060;
}
#globalheader-utils #searchformhead {
	clear: right;
	float: right;
	width: 123px;
	padding-left:7px;
	margin-top:30px;
	background:url(../images/img-nav-global-search-cap-left.png) no-repeat;
	position:relative;
}
#globalheader-utils #searchformhead:after {
	content:"";
	position:absolute;
	display:block;
	width: 16px;
	height: 26px;
	right:0;
	z-index:1;
	background:url(../images/img-nav-global-search-cap-right-bg.png) no-repeat;
}
#globalheader-utils #searchformhead label {
	display: none;
}
#globalheader-utils #searchformhead input[type=text] {
	background: url(../images/img-nav-global-search-1px.png);
	float:left;
	width: 107px;
	height:16px;
	padding: 6px 0 4px;
	margin: 0;
	border: none;
	border-radius:0;
	font-family: 'Open Sans Condensed' , sans-serif;
	font-size: 7.8pt;
	font-weight: bold;
	color: #ffffff;
	line-height:1;
}
#globalheader-utils #searchformhead input[type=submit] {
	border: none;
	border-radius:0;
	width: 16px;
	height: 26px;
	font-size: 1px;
	text-indent: -99999px;
	float: right;
	background:url(../images/img-nav-global-search-cap-right.png) no-repeat;
	cursor: pointer;
}
#globalheader-utils #searchformhead input.submit {
	border: none;
	border-radius:0;
	float: right;
	position:relative;
	z-index:10;
}
#globalheader-utils #searchformhead.no-submitform input.submit {
	opacity:0.3;
	filter:alpha(opacity = 30);
	cursor:default;
}

/************************** navmenucat *****************************/

#navmenucat {
	background: url(../images/img-nav-expanded.jpg) no-repeat center top gray;
	font-size:0;
}
#navmenucat .hide {
	height: 276px;
	display: none;
}
#navmenucats a {
	font-family: 'Open Sans Condensed' , sans-serif;
	font-size: 13px;
	color: #b6b6b6;
	font-weight: bold;
	line-height: 17px;
	text-decoration:none;
}
#navmenucats  a:hover {
	color: #fff;
}
#navmenucats .panhead {
	height: 40px;
	margin: 0 auto;
	border-bottom:1px solid #636363;
}
#navmenucats .inbread {
	margin-top: 15px;
	float: left;
}
#navmenucats .inbread span {
	font-family: 'Open Sans Condensed' , sans-serif;
	font-size: 13px;
	color: #fff;
	font-weight: bold;
	line-height: 17px;
	display:inline-block;
	margin-right:10px;
}
#navmenucats .inbread span a {
	background:url(../images/icn-nav-global-arrow-right.gif) no-repeat 100% 50%;
	padding-right:17px;
}
#navmenucats .closeit {
	float: right;
}
#navmenucats .closeit a {
	display: block;
	width : 9px ;
	height : 9px ;
	margin-top: 15px;
	line-height: 1;
}
#navmenucats .parrays {
	position:relative;
	width:992px;
	height:169px;
	margin:20px auto 0;
	text-align:center;
}
#navmenucats .parrays ul {
	position:absolute;
	left:0;
	font-size:0;
	width:992px;
	text-align:center;
}
#navmenucats .parrays li {
	display:inline-block;
	margin-left:1px;
	text-align: center;
	vertical-align:top;
	width:123px;
}
#navmenucats .parrays ul > li:first-childf {
	margin-left:0px;
}
#navmenucats .parrays li a {
	display:inline-block;
}
#navmenucats .parrays li .img-element {
	display: block;
	padding-bottom:15px;
}
#navmenucats .parbase .text-element {
	width: 123px;
	height:92px;
	margin: 20px 0 0 0;
}
#navmenucats .parbase .text-element span {
	margin-bottom:0.2em;
	display:block;
}
#navmenucats .parbase .text-element span a {
	font-size:11px;
}
#navmenucats .parbase .text-element {
}
#navmenucats .parrays li .catname {
	display: block;
	padding:0 3px;
}
#navmenucats .parrays li ul .parbase {
	display:none;
}
#navmenucats .panfoot {
	height: 47px;
	font-family: 'Open Sans Condensed' , sans-serif;
	font-size: 13px;
	color: #b6b6b6;
	font-weight: bold;
	line-height: 17px;
	border-top:1px solid #636363;
}
#navmenucats .panfoot .browseall {
	margin-top:15px;
	float:right;
}
#navmenucats .panfoot .browseall a {
	display:inline-block;
	background:url(../images/icn-browse-products.png) no-repeat 0 50%;
	padding-left:21px;
}

/************************** navmenucat megapannel *****************************/

#navmenucat.megapannel-container {
	background-color:#333;;
}
#navmenucat.megapannel-container .hide {
	height:auto;
}
#navmenucat .megapannel.noimage {
	background-color:#333;
}
#navmenucat .megapannel a,
#navmenucat .megapannel li > span {
	font-family: 'Open Sans Condensed', 'Arial', sans-serif;
	font-size: 13px;
	color: #b6b6b6;
	font-weight: bold;
	line-height: 17px;
	text-decoration:none;
}
#navmenucat .megapannel  a:hover {
	color: #fff;
}
#navmenucat .megapannel .panhead {
	height: 40px;
	margin: 0 auto;
	border-bottom:1px solid #636363;
}
#navmenucat .megapannel .inbread {
	margin-top: 15px;
	float: left;
}
#navmenucat .megapannel .inbread span {
	font-family: 'Open Sans Condensed', 'Arial', sans-serif;
	font-size: 13px;
	color: #fff;
	font-weight: bold;
	line-height: 17px;
	display:inline-block;
	margin-right:10px;
}
#navmenucat .megapannel .inbread span a {
	background:url(../images/icn-nav-global-arrow-right.gif) no-repeat 100% 50%;
	padding-right:17px;
}
#navmenucat .megapannel .closeit {
	float: right;
}
#navmenucat .megapannel .closeit a {
	display: block;
	width : 9px ;
	height : 9px ;
	margin-top: 15px;
}
#navmenucat .megapannel .parrays {
	position:relative;
	width:992px;
	/*height:169px;*/
	margin:20px auto 0;
	text-align:center;
	padding-bottom:20px;
}
#navmenucat .megapannel .parrays ul,
#navmenucat .megapannel .parrays div.wrapper-noimage {
	font-size:0;
	width:992px;
}
#navmenucat .megapannel .parrays ul {
	text-align:center;
	min-height:145px;
}
#navmenucat .megapannel .parrays li > ul,
#navmenucat .megapannel .parrays li > div.wrapper-noimage {
	position:absolute;
	left:0;
	display:none;
}
#navmenucat .megapannel div.wrapper-noimage li > ul {
	display:block;
}
#navmenucat .megapannel .parrays li > ul {
}
#navmenucat .megapannel .parrays li {
	display:inline-block;
	margin-right:1px;
	text-align: center;
	vertical-align:top;
	width:123px;
}
#navmenucat .megapannel .parrays ul > li:last-child {
	margin-right:0px;
}
#navmenucat .megapannel .parrays li a {
	display:inline-block;
}
#navmenucat .megapannel .parrays li .img-element {
	display: block;
	padding-bottom:15px;
}
#navmenucat .megapannel .parrays li .catname {
	display: block;
	padding:0 3px;
}
#navmenucat .megapannel .parrays li ul .parbase {
	display:none;
}
#navmenucat .megapannel .parrays div.wrapper-noimage .noimage-container {
	min-height:145px;
	text-align:center;
}
#navmenucat .megapannel .parrays div.wrapper-noimage .noimage-container:after {
	content:"";
	display:block;
	overflow:hidden;
	height:0;
	clear:both;
}
#navmenucat .megapannel .parrays li > div.wrapper-noimage .noimage-container > .parbase {
	display:none;
}
#navmenucat .megapannel .parrays > div.wrapper-noimage .noimage-container > .parbase {
	display:inherit;
}
#navmenucat .megapannel .parrays div.wrapper-noimage .column-3 {
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	width:25%;
	padding:0 8px;
	display:inline-block;
	vertical-align:top;
}
#navmenucat .megapannel .parrays div.wrapper-noimage ul {
	position:static;
	width:auto;
	text-align:left;
	min-height:0;
}
#navmenucat .megapannel .parrays div.wrapper-noimage a + ul,
#navmenucat .megapannel .parrays div.wrapper-noimage ul + ul {
	padding-top:3px;
}
#navmenucat .megapannel .parrays div.wrapper-noimage li {
	display:block;
	margin-right:0;
	margin-top:2px;
	text-align: left;
	width:auto;
}
#navmenucat .megapannel .parrays div.wrapper-noimage li > ul {
	padding-left:12px;
	padding-bottom:3px;
}
#navmenucat .megapannel .parrays div.wrapper-noimage li > ul > li > a,
#navmenucat .megapannel .parrays div.wrapper-noimage li > ul > li > span {
	/*font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:11px;*/
	font-size:12px;
}

#navmenucat .megapannel .panfoot {
	height: 47px;
	font-family: 'Open Sans Condensed', 'Arial', sans-serif;
	font-size: 13px;
	color: #b6b6b6;
	font-weight: bold;
	line-height: 17px;
	border-top:1px solid #636363;
}
#navmenucat .megapannel .panfoot .browseall {
	margin-top:15px;
	float:right;
}
#navmenucat .megapannel .panfoot .browseall a {
	display:inline-block;
	background:url(../images/icn-browse-products.png) no-repeat 0 50%;
	padding-left:21px;
}

/************************** browsebar *****************************/

#browsebar-wrapper {
	height:48px;
}
#browsebar {
	position:relative;
}
#browsebar:after {
	content:"";
	display:block;
	height:0;
	clear:both;
}
#browsebar.fix {
	position:fixed;
	width:100%;
	max-width:1200px;
	margin: 0 auto;
	top:0;
	z-index:1000;
}
#browsebar-in {
	height:47px;
    border-top: 1px solid #362f2f;
	background:url(../images/img-bar-tittle-1px.gif) repeat-x;
	position:relative;
}
#browsebar-in:after {
	content:"";
	display:block;
	overflow:hidden;
	height:0;
	clear:both;
}
#browsebar .container {
}
#browsebar-name {
	margin-top:15px;
	float:left;
}
#browsebar-name:after {
	content:"";
	display:block;
	height:0;
	clear:both;
}
#browsebar-name .name {
	float:left;
    font-family: 'Open Sans Condensed', "ＭＳ ゴシック", "MS Gothic" , 'Arial' , sans-serif;
    font-size: 16px;
	font-weight:bold;
	text-height:font-size;
	color:#fff;
}
#browsebar-name .name a {
	color:#fff;
	text-decoration:none;
}

/************************** sectionContents *****************************/

#sectionContents {
	background-color:#fff;
}
#sectionContents:before,
#sectionContents:after{
	content:"";
	display:table;
	height:0;
	visibility:hidden;
	clear:both;
}


/************************** support *****************************/

.pagesection.support_bg {
	background-color:#d2d2d2;
	color:#1f1f1f;
}
.support_bg .sectionContents {
	padding:45px 0;
}
.support-title {
	text-align:center;
}
.support-title h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:30px;
	font-weight:bold;
	line-height:36px;
}
.support-title h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:20px;
	font-weight:bold;
	line-height:24px;
	margin-top:10px;
}
.support-btn {
	margin-top:35px;
	text-align:center;
	font-size:0;
}
.support-btn a {
	display:inline-block;
	height:45px;
	margin:0 11px 0 28px;
	background:url(../images/btn-support-1px.png) repeat-x;
}
.support-btn a:before,
.support-btn a:after {
	content:"";
	display:inline-block;
	height:45px;
	background-image:url(../images/spr-global-product.png);
	background-repeat:no-repeat;
	vertical-align:middle;
}
.support-btn a:before {
	width:28px;
	margin-left:-28px;
	background-position : -509px -72px ;
}
.support-btn a:after {
	width:11px;
	margin-right:-11px;
	background-position : -544px -72px ;
}
.support-btn a span {
	padding:2px 1px 0;
	display:inline-block;
	vertical-align:middle;
	font-size:13px;
	font-weight:bold;
	color:#00a0c6;
}
.supportUtilities {
}
.supportUtilities .supportUtilities-parent {
	padding:0 1px;
}
.supportUtilities .supportUtilities-parent:after {
	content:"";
	display:table;
	height:0;
	clear:both;
}
.supportUtilities .supportUtilities-parent > .supportUtilities-span {
	float:left;
	width:190px;
	margin-left:6px;
}
.supportUtilities .supportUtilities-parent .supportUtilities-span:first-child {
	margin-left:0;
}
.supportUtilities .supportUtilities-parent .supportUtilities-item {
	height:49px;
	background-color:#f5f5f5;
	margin-top:6px;
}
.supportUtilities .supportUtilities-parent .supportUtilities-item:first-child {
	margin-top:0;
}
.supportUtilities .supportUtilities-parent .supportUtilities-item > a,
.supportUtilities .supportUtilities-parent .supportUtilities-item.inc_lists > span {
	display:block;
	padding:9px;
	height:31px;
	font-size:0;
	color:#1f1f1f;
}
.supportUtilities .supportUtilities-parent .supportUtilities-item.inc_lists > span {
	padding-bottom:0;
}
.supportUtilities .supportUtilities-parent .supportUtilities-item > a:before,
.supportUtilities .supportUtilities-parent .supportUtilities-item.inc_lists > span:before {
	content:"";
	display:inline-block;
	height:100%;
	vertical-align:middle;
}
.supportUtilities .supportUtilities-parent .supportUtilities-item > a > span,
.supportUtilities .supportUtilities-parent .supportUtilities-item.inc_lists > span > span {
	display:inline-block;
	vertical-align:middle;
}
.supportUtilities .supportUtilities-parent .supportUtilities-item > a > span.title,
.supportUtilities .supportUtilities-parent .supportUtilities-item.inc_lists > span > span.title {
	font-size:14px;
	line-height:17px;
	max-width:132px;
}
.supportUtilities .supportUtilities-parent .supportUtilities-item > a > span.icon,
.supportUtilities .supportUtilities-parent .supportUtilities-item.inc_lists > span > span.icon {
	margin-right:9px;
}
.supportUtilities .supportUtilities-parent .supportUtilities-item.inc_lists > ul {
	padding:0 9px;
}
.supportUtilities .supportUtilities-parent .supportUtilities-item.inc_lists > ul li {
	margin-top:2px;
}
.supportUtilities .supportUtilities-parent .supportUtilities-item.inc_lists > ul li a {
	font-size:12px;
	line-height:17px;
	color:#1f1f1f;
}
 .supportUtilities .supportUtilities-parent .rowspan2 > .supportUtilities-item {
	height:104px;
}
.supportUtilities .supportUtilities-parent .rowspan2 > .supportUtilities-item > a {
	height:86px;
}
.supportUtilities .supportUtilities-parent .rowspan2 > .supportUtilities-item > a:before {
	display:none;
}
.supportUtilities .supportUtilities-parent .rowspan2 > .supportUtilities-item > a > span {
	text-align:center;
	display:block;
}
.supportUtilities .supportUtilities-parent .rowspan2 > .supportUtilities-item > a > span.title {
	max-width:none;
}
.supportUtilities .supportUtilities-parent .rowspan2 > .supportUtilities-item > a > span.icon {
	margin:5px 0 8px;
}

/************************** ga2012_bottomLink *****************************/

#bottomlink {
	background-color: #434343;
	color: #c5c5c5;
	border-top: #616161 solid 1px;
	max-width: 1200px;
	min-width: 976px;
	margin: 0 auto;
	padding-bottom:1.5em;
	padding-top:0.5em;
}
#bottomlink a {
	color: #fff!important;
	text-decoration: none;
}
#bottomlink a:hover {
	text-decoration:underline;
}
#bottomlink #ga2012_bottomLinkB {
	font-size:12px;
}
#bottomlink #ga2012_bottomLinkB li.mainLink {
	margin-top:1em;
	zoom:1;
}
#bottomlink #ga2012_bottomLinkB li.mainLink a,
#bottomlink #ga2012_bottomLinkB li.mainLink > span {
	float:left;
}
#bottomlink #ga2012_bottomLinkB li.mainLink > span {
	color: #fff!important;
}
#bottomlink #ga2012_bottomLinkB li.mainLink ul {
	margin-left:16em;
	zoom:1;
}
#bottomlink #ga2012_bottomLinkB li.mainLink ul li {
	float:left;
	padding-bottom:0.5em;
	padding-left:1.5em;
}
#bottomlink #ga2012_bottomLinkB li.mainLink ul li a {
	float:none;
	/*display:inline-block;140512*/
	font-weight:normal;
	*white-space:nowrap;
}
#bottomlink #ga2012_bottomLinkB li.staticLink {
	border-top: #616161 solid 1px;
	margin-top:1em;
	padding-top:1.5em;
}
#bottomlink #ga2012_bottomLinkB li.staticLink ul {
	zoom:1;
}
#bottomlink #ga2012_bottomLinkB li.staticLink ul li {
	float:left;
	padding-right:1.5em;
}
#bottomlink #ga2012_bottomLinkB li.mainLink:after,
#bottomlink #ga2012_bottomLinkB li.mainLink ul:after,
#bottomlink #ga2012_bottomLinkB li.staticLink ul:after {
	content:"";
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
}

/************************** footer start *****************************/

#globalfooter {
	background-color: #434343;
	color: #c5c5c5;
	border-top: #616161 solid 1px;
	padding-bottom: 10em;
	/*max-width: 1200px;
	min-width: 976px;
	margin: 0 auto;*/
}
#globalfooter a {
	color: #fff!important;
	text-decoration: none;
}
#globalfooter-nav {
	zoom:1;
}
#globalfooter-nav:after {
	content:".";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
}
#globalfooter-nav a {
	font-family: 'Open Sans Condensed' , sans-serif;
	font-size:13px;
	font-weight:bold;
}

#globalfooter-nav .print {
	width:312px;
	margin-right:20px;
	float:left;
}
.no-opacity #globalfooter-nav .print{
	visibility:hidden;
}


#globalfooter-nav .print a {
	display:inline-block;
	padding:18px 0 18px 20px;
	background:url(../images/icn-print.gif) no-repeat 0 50%;
}
#globalfooter-nav .links {
	float:right;
	font-size:0;
}
#globalfooter-nav .links li {
	margin-left:35px;
	display:inline-block;
	vertical-align:top;
}
#globalfooter-nav .links li a {
	margin:0 -10px;
	padding:18px 10px 18px;
	display:inline-block;
}
#globalfooter-nav .links li a.active {
	background-color:#616161;
}
#globalfooter-nav .pagetop {
	padding-top:8px;
	text-align:center;
	width:312px;
	float:left;
	clear:none;
	margin:0;
}
#globalfooter-nav .pagetop a {
	display:inline-block;
	padding:10px 0 0 0;
	background:url(../images/icn-footer-arrow-up.gif) no-repeat top center;
}

#globalfooter-terms {
	padding-top:10px;
	font-size: 11px;
}
#globalfooter-terms .copyright {
	text-align:center;
}
#globalfooter-terms .links {
	margin-top:5px;
	text-align:center;
	font-size: 0;
}
#globalfooter-terms .links li {
	display:inline-block;
	border-left:1px solid #c5c5c5;
	padding:0 5px;
}
#globalfooter-terms .links li:first-child {
	border-left:none;
}
#globalfooter-terms .links li a {
	font-size: 11px;
}

#globalfooter-socialmedia {
	margin-top:30px;
	font-size:0;
	text-align:center;
}
#globalfooter-socialmedia li {
	display:inline-block;
	padding:0 5px;
}

#globalfooter-expanded {
}
#globalfooter-expanded .hide {
	display:none;
}
#globalfooter-expanded .inpannel {
	height:400px;
	border-bottom:1px solid #616161;
	border-top:1px solid #616161;
	margin-bottom:20px;
}
#globalfooter-expanded .panhead {
	margin-top:15px;
	overflow:hidden;
	zoom:1;
}
#globalfooter-expanded .panhead .closeit {
	float:right;
}

#globalfooter-expanded #contactus {
	margin-top:80px;
	display:none;
}
#globalfooter-expanded #contactus .contacol {
	float:left;
	width:229px;
	margin-left:104px;
}
#globalfooter-expanded #contactus .contacol:first-child {
	margin-left:0;
}
#globalfooter-expanded #contactus h3 {
	margin-bottom:15px;
	font-family: 'Open Sans Condensed' , sans-serif;
	font-size:30px;
	font-weight:bold;
	line-height:1.3;
	color:#fff;
}
#globalfooter-expanded #contactus p.link a {
	font-size:12px;
	font-weight:bold;
	line-height:14px;
}
#globalfooter-expanded #contactus p.text {
	min-height:40px;
	margin-bottom:15px;
	font-size:11px;
	line-height:14px;
}
#globalfooter-expanded #contactus p.link a:hover {
	text-decoration:underline;
}


#globalfooter-expanded #areacountry {
	margin-top:20px;
	display:none;
}
#globalfooter-expanded #areacountry .area-country-menu {
	margin-bottom:25px;
	font-size:0;
}
#globalfooter-expanded #areacountry .area-country-menu form {
	display:none;
}
#globalfooter-expanded #areacountry .area-country-menu  ul {
	margin:0 -6px;
	zoom:1;
}
#globalfooter-expanded #areacountry .area-country-menu  ul:after {
	content:"";
	display:block;
	height:0;
	clear:both;
}
#globalfooter-expanded #areacountry .area-country-menu li {
	height:46px;
	float:left;
	vertical-align:top;
}
#globalfooter-expanded #areacountry .area-country-menu li div {
	padding:4px 0 8px;
	display:inline-block;
	background:url(../images/tab-footer-off-1px.png) repeat-x;
}
#globalfooter-expanded #areacountry .area-country-menu li a {
	display:block;
	border-left:1px solid #838383;
	padding-top:11px;
	width:161px;
	height:23px;
	text-align:center;
	font-family: 'Open Sans Condensed' , sans-serif;
	font-weight:bold;
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	/*outline:none;*/
}
#globalfooter-expanded #areacountry .area-country-menu li:first-child {
	background:url(../images/tab-footer-off-cap-left.png) no-repeat;
	padding-left:16px;
}
#globalfooter-expanded #areacountry .area-country-menu li:first-child a {
	border-left:none;
	margin-left:-8px;
}
#globalfooter-expanded #areacountry .area-country-menu li:last-child {
	background:url(../images/tab-footer-off-cap-right.png) no-repeat 100% 0;
	padding-right:16px;
}
#globalfooter-expanded #areacountry .area-country-menu li.last-child {
	background:url(../images/tab-footer-off-cap-right.png) no-repeat 100% 0;
	padding-right:16px;
}
#globalfooter-expanded #areacountry .area-country-menu li:last-child a {
	margin-right:-8px;
}
#globalfooter-expanded #areacountry .area-country-menu li.last-child a {
	margin-right:-8px;
}
#globalfooter-expanded #areacountry .area-country-menu li:hover div,
#globalfooter-expanded #areacountry .area-country-menu li.ui-tabs-active div {
	background-image:url(../images/tab-footer-on-1px.png);
}
#globalfooter-expanded #areacountry .area-country-menu li:hover a,
#globalfooter-expanded #areacountry .area-country-menu li.ui-tabs-active a,
#globalfooter-expanded #areacountry .area-country-menu li.ui-state-active a  {
	color: #b9b9b9;
}
#globalfooter-expanded #areacountry .area-country-menu li:first-child:hover,
#globalfooter-expanded #areacountry .area-country-menu li:first-child.ui-tabs-active {
	background-image:url(../images/tab-footer-on-cap-left.png);
}
#globalfooter-expanded #areacountry .area-country-menu li:last-child:hover,
#globalfooter-expanded #areacountry .area-country-menu li:last-child.ui-tabs-active {
	background-image:url(../images/tab-footer-on-cap-right.png);
}
#globalfooter-expanded #areacountry .area-country-menu li.last-child:hover,
#globalfooter-expanded #areacountry .area-country-menu li.last-child.ui-tabs-active {
	background-image:url(../images/tab-footer-on-cap-right.png);
}
#globalfooter-expanded #areacountry .area-country-list {
	height:210px;
	overflow:hidden;
}
#globalfooter-expanded #areacountry .area-country-list ul {
	margin-right:-20px;
}
#globalfooter-expanded #areacountry .area-country-list li {
	width: 136px;
	height:27px;
	margin: 0 20px 10px 0;
	padding-left:10px;
	float: left;
	font-size: 12px;
}
#globalfooter-expanded #areacountry .area-country-list li a:hover {
	text-decoration: underline;
}
#global_site_link {
	margin-top:30px;
	text-align: right;
	font-size: 13px;
}
#global_site_link a {
	padding-left:10px;
	background:url(../images/icn-footer-arrow-right.gif) no-repeat 0 50%;
}
#global_site_link a:hover {
	text-decoration: underline;
}

@media only screen and (min-width:641px){
	
	#globalheader-utils {
		display:block!important;
	}
}
@media only screen and (max-width:640px) and (max-device-width:1280px){
	
	img, iframe,
	object { max-width : 100%; }
	img {
		width:auto;
		height:auto;
	}
	
	/************************** ga2012 class *****************************/
		
	/* outline */
	div#ga2012_header,
	div#ga2012_mainNavigation,
	div.ga2012_breadcrumbs,
	div#ga2012_content,
	div#ga2012_content.ga2012_top .wrapper,
	div#ga2012_bottomLink,
	div#ga2012_footer{
		width:auto;
	}
	
	/** #ga2012_mainNavigation **/
	div#ga2012_mainNavigation{
		width:auto;
	}
	
	/** .ga2012_mainNavigationBiz **/
	div#ga2012_mainNavigation div.ga2012_mainNavigationBiz{
		width:auto;
	}
	
	/* #ga2012_mainContent */
	div#ga2012_mainContent{
		width:auto;
	}
	/** #ga2012_pageTop **/
	p#ga2012_pageTop{
		width:auto;
	}

	/************************** generic class *****************************/
	.rwd {
		display:inherit;
	}

	html {
		/*font-size:118%;*/
		font-size:100%;
	}
	body {
		font-size: 100%;
		-webkit-text-size-adjust: none;
	}
	#page {
		min-width: 320px;
		min-height:0;
	}
	html.touch-device body{
		min-width:320px;
		min-height:0;
	}
	html.touch-device #page {
		min-width:320px;
		min-height:0;
	}
	.container {
		padding:0;
	}
	.sectiontoggle, #nav-menu-mob {
		display: block;
	}
	div.ga2012_breadcrumbs {
		display:none;
	}

	
	/************************** globalheader *****************************/
	
	#globalheader {
		background-image:url(../images/img-nav-global-1px-m-1x.png);
		background-color:#3b3b3b;
	}
	#globalheader:after {
		content: "";
		display: block;
		clear: both;
		height:0;
		overflow:hidden;
	}
	#brandlogo {
		width : 128px;
		height : 44px;
		margin-left:0;
	}
	#brandlogo a,
	#brandlogo span {
		width : 128px;
		height : 44px;
		background:url(../images/lgo-nav-global-panasonic-m-2x.png) no-repeat;
		background-size:contain;
	}
	#brandlogo img:first-child {
		display:none;
	}
	#globalheader-nav {
		display:none;
	}
	#globalheader .toggleMenu {
		display: block;
		float:right;
		width:44px;
		height:44px;
		border-left:1px solid #727272;
	}
	#globalheader .toggleMenu a {
		display: block;
		width:14px;
		height:13px;
		padding:15px 15px 16px;
		border-left:1px solid #2e2e2e;
		background:url(../images/icn-nav-global-menu-m-2x.png) no-repeat center;
		background-size:14px 13px;
	}
	#globalheader-utils {
		float:none;
		clear:both;
		display:none;
	}
	#globalheader-secondarynav {
		display:none;
	}
	#modalmenu-box-wrapper {
		top:10px;
	}
	#modalmenu-box-bg .btn-close {
		width:28px;
		height:28px;
		background-size:28px 28px;
	}
	#modalmenu-box dl dt {
		padding:20px 35px;
		font-size: 0.938rem;
		line-height:1.063rem;
	}
	#modalmenu-box dl dd {
		padding:8px 0;
	}
	#modalmenu-box dl dd a {
		font-size: 0.625rem;
	}
	#modalmenu-box .notes {
		font-size:0.563rem;
		line-height:0.688rem;
	}
	#globalheader-utils > .wrapper {
		/*padding-right:44px;
		background:url(../images/img-nav-global-shadow-h-1px-m-1x.png) repeat-y right;*/
	}
	#globalheader-utils .search {
		display:block;
		background:url(../images/bg-nav-global-search-1px-m-1x.png) repeat-x;
		padding:9px 10px;
		clear:both;
	}
	#globalheader-utils .search-in {
		background: url(../images/img-nav-global-search-1px.png);
		margin-left:7px;
		margin-right:16px;
	}
	#globalheader-utils .search-in:after {
		content:"";
		display:block;
		height: 0;
		overflow:hidden;
		clear:both;
	}
	#globalheader-utils .search-in:before {
		content:"";
		float:left;
		width:7px;
		height:26px;
		margin-left:-7px;
		background:url(../images/img-nav-global-search-cap-left.png) no-repeat;
	}
	#globalheader-utils #searchformhead {
		float: none;
		width: 100%;
		padding-left:0;
		margin-top:0;
		background:none;
	}
	#globalheader-utils #searchformhead:after {
		top:0;
		right:-16px;
	}
	#globalheader-utils #searchformhead label {
		display: none;
	}
	#globalheader-utils #searchformhead input[type=text] {
		background: none;
		float:none;
		width: 90%;
		font-size:15px;
	}
	#globalheader-utils #searchformhead input[type=submit] {
		margin-right:-16px;
	}
	#globalheader-utils #searchformhead input.submit {
		margin-right:-16px;
	}
	#nav-menu-mob {
		display: block;
	}
	#nav-menu-mob li a {
		display:block;
		padding:10px 15px 10px 20px;
		min-height:14px;
		font-family: 'Open Sans Condensed' , sans-serif;
		font-size:14px;
		font-weight:bold;
		color:#fff;
		/*outline:none;*/
	}
	#nav-menu-mob li a.lang {
		color:#00a0c6;
	}
	#nav-menu-mob li a.accordion-head {
	}
	#nav-menu-mob li a.accordion-head:after {
		content:"";
		float:right;
		height:14px;
		width:9px;
		background:url(../images/icn-nav-global-dpdown-arrow-m-2x.png) no-repeat;
		background-size:9px 5px;
		background-position:center;
	}
	#nav-menu-mob li:first-child > a {
		border-top:none;
	}
	#nav-menu-mob li:last-child > a {
		border-bottom:none;
	}
	#nav-menu-mob > ul > li > a {
		background:url(../images/img-nav-global-dpdown-1px-m-1x.png) repeat-x #1d1d1d top;
		border-bottom:1px solid #181818;
		border-top:1px solid #504f4f;
	}
	#nav-menu-mob > ul > li ul {
		background:url(../images/img-nav-global-dpdown-shadow-1px-m.png) repeat-x top;
		background-size:1px 5px;
	}
	#nav-menu-mob > ul > li > ul > li > a {
		border-bottom:1px solid #2d2d2d;
		border-top:1px solid #626161;
	}
	#nav-menu-mob > ul > li > ul > li > ul {
		background-color:#626262;
	}
	#nav-menu-mob > ul > li > ul > li > ul > li > a {
		border-bottom:1px solid #545454;
		border-top:1px solid #787878;
	}
	#nav-menu-mob > ul > li > ul > li > ul > li > ul {
		background-color:#8d8d8d;
	}
	#nav-menu-mob > ul > li > ul > li > ul > li > ul > li > a {
		border-bottom:1px solid #6d6d6d;
		border-top:1px solid #a4a3a3;
	}
	
	/************************** navmenucat *****************************/
	
	#navmenucat {
		display:none;
	}
	
	/************************** browsebar *****************************/
	
	#browsebar-wrapper {
		height:auto;
		background-color:#434343;
	}
	#browsebar {
		position:relative;
	}
	#browsebar:after {
		content:"";
		display:block;
		height:0;
		clear:both;
	}
	#browsebar.fix {
		position:static;
	}
	#browsebar-in {
		background:url(../images/img-nav-global-dpdown-shadow-1px-m-1x.png) repeat-x top;
		padding:10px 10px 10px;
		position:relative;
		height:auto;
	}
	#browsebar-in:after {
		content:"";
		display:block;
		overflow:hidden;
		height:0;
		clear:both;
	}
	#browsebar .container {
	}
	#browsebar-name {
		margin-top:0;
	}
	#browsebar-name .name {
		font-size: 1rem;
		line-height:1.125rem;
		word-wrap:break-word;
	}
		
	/************************** sectionContents *****************************/
	
	#sectionContents {
		background-color:#fff;
	}

	/************************** support *****************************/
	
	.support_bg .sectionContents {
		padding:25px 0;
	}
	.supportUtilities {
		padding:0 10px;
	}
	.supportUtilities .supportUtilities-parent.pc {
		display:none;
	}
	.supportUtilities .supportUtilities-parent {
		padding:0;
	}
	.supportUtilities .supportUtilities-parent > .supportUtilities-span {
		float:none;
		width:100%;
		margin-left:0;
		display:box;
		display:-webkit-box;
		display:-moz-box;
		display:-o-box;
		display:-ms-box;
		display:-ms-flexbox;
		display:flex;
		margin-top:2px;
	}
	.supportUtilities .supportUtilities-parent > .supportUtilities-span:first-child {
		margin-top:0;
	}
	.supportUtilities .supportUtilities-parent .supportUtilities-item {
		height:auto;
		margin-top:0;
		display:box-flex;
		display:-webkit-box-flex;
		display:-moz-box-flex;
		display:-o-box-flex;
		display:-ms-box-flex;
		width:49.6%;
		width:calc(50% - 1px);
		width:-webkit-calc(50% - 1px);
	}
	.supportUtilities .supportUtilities-parent .supportUtilities-item:first-child {
		margin-right:2px;
	}
	.supportUtilities .supportUtilities-parent .colspan2 .supportUtilities-item {
		width:100%;
		margin-right:0;
	}
	.supportUtilities .supportUtilities-parent .supportUtilities-item > a,
	.supportUtilities .supportUtilities-parent .supportUtilities-item.inc_lists > span {
		display:table;
		padding:5px;
		height:auto;
	}
	.supportUtilities .supportUtilities-parent .supportUtilities-item.inc_lists > span {
		padding-bottom:0;
	}
	.supportUtilities .supportUtilities-parent .supportUtilities-item > a > span,
	.supportUtilities .supportUtilities-parent .supportUtilities-item .inc_lists> span > span {
		display:table-cell;
	}
	.supportUtilities .supportUtilities-parent .supportUtilities-item > a > span.title,
	.supportUtilities .supportUtilities-parent .supportUtilities-item.inc_lists > span > span.title {
		font-size:0.75rem;
		line-height:0.875rem;
		max-width:none;
	}
	.supportUtilities .supportUtilities-parent .supportUtilities-item > a > span.icon,
	.supportUtilities .supportUtilities-parent .supportUtilities-item.inc_lists > span > span.icon {
		margin-right:0;
		width:25px;
		padding-right:5px;
	}
	.supportUtilities .supportUtilities-parent .supportUtilities-item.inc_lists > ul {
		padding:0 5px 5px 25px;
	}
	.supportUtilities .supportUtilities-parent .supportUtilities-item.inc_lists > ul li a {
		font-size:0.75rem;
		line-height:0.875rem;
	}

	/************************** ga2012_bottomLink *****************************/
	
	#bottomlink {
		display:none;
	}
	
	/************************** footer start *****************************/
	
	#globalfooter {
	}
	#globalfooter-nav {
		zoom:1;
	}
	#globalfooter-nav:after {
		content:".";
		display:block;
		height:0;
		visibility:hidden;
		clear:both;
	}
	#globalfooter-nav a {
	}
	#globalfooter-nav .print {
		display:none;
	}
	#globalfooter-nav .links {
		float:none;
		font-size:0;
		text-align:center;
		padding:20px 0 0;
		overflow:hidden;
	}
	#globalfooter-nav .links li {
		margin-left:0;
		width:33%;
	}
	#globalfooter-nav .links li:first-child {
		float:left;
	}
	#globalfooter-nav .links li:last-child {
		float:right;
	}
	#globalfooter-nav .links li a {
		margin:0 0;
		padding:10px 0 10px 0;
		width:100%;
		font-size:0.75rem;
	}
	#globalfooter-nav .pagetop {
		padding-top:10px;
		float:none;
		width:100%;
	}
	#globalfooter-nav .pagetop a {
		font-size:0.75em;
	}
	#globalfooter-terms {
		padding-top:20px;
		font-size: 0.625rem;
	}
	#globalfooter-terms .links li {
		margin-bottom:5px;
	}
	#globalfooter-terms .links li a {
		font-size: 0.625rem;
	}
	
	
	#globalfooter-expanded .inpannel {
		height:auto;
	}
	#globalfooter-expanded .panhead {
		margin-top:15px;
		overflow:hidden;
		zoom:1;
	}
	#globalfooter-expanded .panhead .closeit {
		display:none;
	}
	
	#globalfooter-expanded #contactus {
		margin:25px 10px 0;
		display:none;
		overflow:hidden;
	}
	#globalfooter-expanded #contactus .contacol {
		float:none;
		width:auto;
		margin-left:0;
		padding-bottom:20px;
	}
	#globalfooter-expanded #contactus h3 {
		font-size: 0.938rem;
		margin-bottom:5px;
	}
	#globalfooter-expanded #contactus p.text {
		font-size:0.625rem;
		line-height:0.75rem;
		min-height:0;
		margin-bottom:5px;
	}
	#globalfooter-expanded #contactus p.link a {
		font-size:0.625rem;
		line-height:0.75rem;
	}
	#globalfooter-expanded #contactus p.link a:hover {
		text-decoration:underline;
	}
	
	
	#globalfooter-expanded #areacountry {
		margin:25px 10px 0 10px;
		padding-bottom:20px;
		display:none;
		text-align:center;
	}
	#globalfooter-expanded #areacountry .area-country-menu {
		margin-bottom:25px;
		font-size:0;
	}
	#globalfooter-expanded #areacountry .area-country-menu  ul {
		display:none;
	}
	#globalfooter-expanded #areacountry .area-country-menu form {
		display:block;
		height:32px;
		width:240px;
		margin:0 auto;
	}
	#globalfooter-expanded #areacountry .area-country-menu form > div {
		display:inline-block;
		height:32px;
		position:relative;
		background:url(../images/btn-footer-dpdown-1px-m-1x.png) repeat-x;
		text-align:left;
	}
	#globalfooter-expanded #areacountry .area-country-menu form > div:before,
	#globalfooter-expanded #areacountry .area-country-menu form > div:after {
		content:"";
		width:11px;
		height:32px;
		background-image:url(../images/spr-global-nav-m-1x.png);
		background-repeat:no-repeat;
		display:inline-block;
		vertical-align:middle;
	}
	#globalfooter-expanded #areacountry .area-country-menu form > div:before {
		margin-left:-11px;
		background-position : left top ;
	}
	#globalfooter-expanded #areacountry .area-country-menu form > div:after {
		margin-right:-11px;
		background-position : -17px top ;
	}
	#globalfooter-expanded #areacountry .area-country-menu .area-country-text {
		font-family: 'Open Sans Condensed' , sans-serif;
		font-size:0.688rem;
		font-weight:bold;
		color:#fff;
		display:inline-block;
		vertical-align:middle;
		width:218px;
		background:url(../images/btn-footer-dpdown-arrow-m-2x.png) no-repeat 100% 50%;
		background-size:13px 8px;
		height:16px;
	}
	#globalfooter-expanded #areacountry .area-country-menu form select {
		width:100%;
		height:32px!important;
		margin:0 11px;
		position:absolute;
		top:0;
		left:-11px;
		opacity:0;
		font-size:18px;
	}
	#globalfooter-expanded #areacountry .area-country-list {
		height:auto;
	}
	#globalfooter-expanded #areacountry .area-country-list ul {
		margin-right:0;
	}
	#globalfooter-expanded #areacountry .area-country-list li {
		width: auto;
		height:27px;
		margin: 0 0 10px 0;
		padding-left:0;
		float: none;
		font-size:0.75em;
	}
	#global_site_link {
		font-family: 'Open Sans Condensed' , sans-serif;
		font-size:0.688rem;
		font-weight:bold;
	}
	
}

@media print {
	html,
	body{
		min-width:0!important;
		width:980px!important;
	}
}

/*global140604*/
/************************** Search-autocomplete *****************************/

/* #search-normal */
#search-normal {
	position:absolute;
	top:30px;
	right:2px;
}
#search-normal #searchformhead {
	width:130px;
	height:25px;
	position:relative;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	background-color:#c1c1c1;
	border-radius:2px;
	behavior: url(/etc/designs/panasonic/common-clientlibs/css/PIE.htc);
	-pie-border-radius:2px;
}
#search-normal #searchformhead label {
	display: none;
}
#search-normal #searchformhead input[type=text] {
	margin:0;
	padding:0;
	border:none;
	background:none;
	-webkit-appearance:none;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	padding:0 20px 0 6px;
	width:100%;
	height:100%;
	font-family: 'Open Sans Condensed', 'Arial', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #1f1f1f;
	line-height:1;
}
.no-opacity #search-normal #searchformhead input[type=text] {
	padding-top:6px;
}
#search-normal #searchformhead button.submit {
	margin:0;
	padding:0;
	border:none;
	background:none;
	-webkit-appearance:none;
	z-index:10;
	position:absolute;
	top:6px;
	right:6px;
	cursor:pointer;
}
#search-normal #searchformhead.no-submitform button.submit {
	opacity:0.5;
	filter:alpha(opacity = 50);
	cursor:default;
}

/* #search-autocomplete */
#search-autocomplete {
	position:absolute;
	top:30px;
	width:130px;
	height:25px;
	right:0;
	text-align:right;
}
#search-autocomplete .search-autocomplete-label {
	display:inline-block;
	height:100%;
	background-color:#c1c1c1;
	border-radius:2px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	padding:0 7px;
	cursor:pointer;
	behavior: url(/common/global-libs/css/PIE.htc);
	-pie-border-radius:2px;
	position:relative;
}
#search-autocomplete .search-autocomplete-label:before {
	content:"";
	display:inline-block;
	height:100%;
	vertical-align:middle;
}
#search-autocomplete .search-autocomplete-label:after {
	content:"";
	background:url(/common/global-libs/searchautocomplete-clientlibs/images/spr-searchautocomplete.png) no-repeat;
	background-position:0 0;
	display:inline-block;
	vertical-align:middle;
	margin-left:7px;
	font-size:0;
	width:13px;
	height:13px;
}
#search-autocomplete .search-autocomplete-label > span {
	display:inline-block;
	vertical-align:middle;
	color:#000;
	font-family: 'Open Sans Condensed';
	font-weight:bold;
	font-size:13px;
}
#search-autocomplete .search-autocomplete-label:hover,
#search-autocomplete.active .search-autocomplete-label {
	background-color:#393939;
}
#search-autocomplete.active .search-autocomplete-label {
	border-radius:2px 2px 0 0;
	-pie-border-radius:2px 2px 0 0;
}
#search-autocomplete .search-autocomplete-label:hover:after {
	background-position:-13px 0;
}
#search-autocomplete.active .search-autocomplete-label:after {
	background-position:-26px 0;
}
.no-opacity #search-autocomplete.active .search-autocomplete-label:after {
	content:"  ";
}
#search-autocomplete .search-autocomplete-label:hover > span,
#search-autocomplete.active .search-autocomplete-label > span {
	color:#FFF;
}

#search-autocomplete .gcse-box {
	position:absolute;
	right:0;
	width:519px;
	background-color:#393939;
	height:0;
	overflow:hidden;
	transition:height 0.3s;
	z-index:1000;
}
#search-autocomplete.active .gcse-box {
	height:47px;
}
#search-autocomplete .gcse-box-in {
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	padding:8px 10px;
}
#search-autocomplete .gcse-box form,
#search-autocomplete .gcse-box .gsc-search-box {
	margin-bottom:0;
}

@media only screen and (max-width:640px) and (max-device-width:1280px){
	
	#search-autocomplete,
	#search-normal {
		position:static;
		top:auto;
		right:auto;
		width:44px;
		height:44px;
		float:right;
		border-left:1px solid #727272;
	}
	/* #search-normal */
	#search-normal .search-normal-box {
		height:0;
		overflow:hidden;
		width:100%;
		position:absolute;
		top:44px;
		left:0;
		transition:all 0.3s;
		z-index:1;
	}
	#search-normal .search-normal-box-in {
		background:-webkit-linear-gradient(#d5d5d5, #c1c1c1);
		background:linear-gradient(#d5d5d5, #c1c1c1);
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		padding:9px 10px;
	}
	#search-normal.active .search-normal-box {
		height:44px;
	}
	#search-normal #searchformhead {
		width:100%;
		height:26px;
		background-color:#a5a5a5;
		box-shadow:0 2px 3px 0 rgba(0,0,0,0.15) inset;
	}
	#search-normal #searchformhead input[type=text] {
		font-size:16px;
	}
	#search-normal #searchformhead button.submit {
		width:14px;
		height:14px;
		background:url(/common/global-libs/searchautocomplete-clientlibs/images/icn-search@2x.png) no-repeat;
		-webkit-background-size:contain;
		background-size:contain;
	}
	#search-normal #searchformhead button.submit img {
		display:none;
	}
	#search-normal .search-normal-mobile-label {
		height:100%;
	}
	#search-normal .search-normal-mobile-label:before {
		content:"";
		height:100%;
		display:inline-block;
		vertical-align:middle;
	}
	#search-normal .search-normal-mobile-label:after {
		content:"";
		display:inline-block;
		vertical-align:middle;
	}
	#search-autocomplete .search-autocomplete-label,
	#search-normal .search-normal-mobile-label {
		display:block;
		background:none!important;
		border-radius:0;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		text-align:center;
		border-left:1px solid #2e2e2e;
	}
	#search-autocomplete.active .search-autocomplete-label,
	#search-normal.active .search-normal-mobile-label {
		background:#393939!important;
	}
	#search-autocomplete .search-autocomplete-label:before,
	#search-normal .search-normal-mobile-label:before {
		width:0;
		background-image:url(/common/global-libs/searchautocomplete-clientlibs/images/icn-search-close-m.png);
		background-position:-15px;
	}
	#search-autocomplete .search-autocomplete-label:after,
	#search-normal .search-normal-mobile-label:after {
		content: ""!important;
		background-position:0 0!important;
		margin-left:0;
		height:17px;
		width:17px;
		background:url(/common/global-libs/searchautocomplete-clientlibs/images/icn-search-w@2x.png) no-repeat;
		background-position:center;
		background-size:contain;
	}
	#search-autocomplete.active .search-autocomplete-label:after,
	#search-normal.active .search-normal-mobile-label:after {
		background-image:url(/common/global-libs/searchautocomplete-clientlibs/images/icn-search-close-m.png);
		background-size:auto;
	}
	#search-autocomplete .search-autocomplete-label > span {
		display:none;
	}
	#search-autocomplete .gcse-box {
		right:auto;
		left:0;
		width:100%;
	}
}
