body{min-width: 1200px;}
body, input{font: 14px/1.2em "Microsoft Yahei","宋体",Helvetica,Arial,sans-serif;background-color: #fff;}
textarea{resize: none;}
/* clearfix */
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-block;}
/* Hide from IE Mac */
.clearfix {display: block;}
/* End hide from IE Mac */
/* clearfix__end */
/*common*/
.mt0{margin-top: 0 !important;}
.mr0{margin-right: 0 !important;}
.mb0{margin-bottom: 0 !important;}
.ml0{margin-left: 0 !important;}
/*footer*/
.footer{width: 100%;margin-top: 60px;background-color: #f9f9f9;}
.footer-cont{width: 1180px;padding: 30px 10px;margin: 0 auto;}
.footer a:hover{text-decoration: underline;}
.footer-left{float: left;width: 182px;padding-right: 30px;border-right: 1px solid #ececec;}
.footer-left dt{width: 182px;height: 53px;background: url(/Public/images/index/footer_logo.png) 0 0 no-repeat;margin-bottom: 15px;}
.footer-left dd img{float: left;width: 34px;height: 32px;}
.footer-left dd span{float: left;width: 140px;font-size: 12px;color: #999;line-height: 16px;}
.footer-left dd span i{color: #ff5500;font-weight: bold;}
.footer-right{float: left;margin-left: 30px;font-size: 12px;color: #999;width: 790px;}
.footer-right p{line-height: 24px;margin-bottom: 10px;}
.footer-right div{height: 14px;line-height: 14px;margin-bottom: 10px;}
.footer-right div a{float: left;font-size: 14px;color: #0073ff;padding: 0 10px;border-left: 1px solid #0073ff;}
.footer-right div a:first-child{border-left: 0;padding-left: 0;}
.footer-right span a{color: #0073ff;}
/*footer__end*/
/*pages*/
.pages{text-align: center;padding: 40px 0 80px 0;color: #666;font-size: 0;}
.pages a,.pages span{display: inline-block;padding: 0 10px;color: #666;margin-right: 3px;height: 29px;line-height: 29px;font-size: 14px;}
.pages a{border: 1px solid #ccc;
    transition: background-color .1s ease-out;
    -moz-transition: background-color .1s ease-out; /* Firefox 4 */
    -webkit-transition: background-color .1s ease-out; /* Safari Ã¥â€™Å’ Chrome */
    -o-transition: background-color .1s ease-out; /* Opera */
}
.pages span i{font-weight: bold;font-style: normal;}
.pages a:hover{background-color: #fff4e5;color: #ff5500;text-decoration: none;border-color: #ffd2a6;}
.pages .curr{background-color: #ff5500;color: #fff;border: 1px solid #ff5500;}
.pages form{display: inline-block;_zoom:1;*display:inline;font-size: 14px;}
.pages input[type="text"]{width: 44px;height: 29px;border: 1px solid #ccc;margin-right: 10px;padding: 5px;height: 19px;line-height: 19px;}
.pages input[type="submit"]{color: #666;background: none;font-size: 14px;cursor: pointer;}
.pages input[type="submit"]:hover{color: #007eff;}
/*breadcrumbs*/
.breadcrumbs{width: 100%;margin-bottom: 20px;font-size: 12px;font-family: "宋体","Arial";color: #999;padding-bottom: 10px;border-bottom: 1px solid #ececec;}
.breadcrumbs i{padding-left: 15px;background: url(/Public/images/common/crumbs.png) 0 center no-repeat;}
.breadcrumbs i,.breadcrumbs a{color: #666;}
.breadcrumbs i,.breadcrumbs a,.breadcrumbs span{font-family: "Microsoft Yahei";}
.breadcrumbs a{padding: 0 6px;}
.breadcrumbs span{padding-left: 5px;color: #ff5500;}
/*breadcrumbs__end*/
/*header*/
.header{width: 100%;height: 32px;background-color: #f9f9f9;line-height: 32px;border-bottom: 1px solid #ddd;}
.header-cont{width: 1180px;padding: 0 10px;margin: 0 auto;}
.header-left{float: left;}
.header-right{float: right;}
/*header-home*/
.header-home{font-size: 12px;color: #666;float: left;margin-right: 10px;padding-left: 23px;background: url(/Public/images/common/header_icon.png) 0 7px no-repeat;}
.header-home:hover{text-decoration: none;background-position: 0 -49px;color: #666;}
/*header-share*/
.header-share{float: left;}
.header-share-qq,.header-share-sina,.header-share-weixin{float: left;}
.header-share-qq,.header-share-sina,.header-share-weixin span{width: 33px;height: 32px;background-image: url(/Public/images/common/header_icon.png);background-repeat: no-repeat;border-left: 1px solid #f9f9f9;border-right: 1px solid #f9f9f9;}
.header-share-qq:hover,.header-share-sina:hover,.header-share-weixin span:hover,.header-share-weixin:hover span{background-color: #fff;border-left: 1px solid #ddd;border-right: 1px solid #ddd;padding-bottom: 1px;}
.header-share-qq{background-position:11px -222px;}
.header-share-sina{background-position: 8px -278px;}
.header-share-weixin span{background-position: 8px -334px;display: block;}
.header-share-qq:hover{background-position: 11px -390px;}
.header-share-sina:hover{background-position: 8px -446px;}
.header-share-weixin:hover span,.header-share-weixin span:hover{background-position: 8px -502px;}
.header-share-weixin{position: relative;}
.header-share-weixin:hover div{display: block;}
.header-share-weixin div{position: absolute;left: 0;top: 33px;width:132px;height:132px;background-color: #fff;border: 1px solid #ddd;display: none;border-top: 0;}
.header-share-weixin div img{width:132px;height:132px;}
/*header-right*/
.header-right{border-left: 1px solid #fff;border-right: 1px solid #ddd;}
.header-user,.header-nav,.header-fav{float: left;}
.header-user,.header-navIcon,.header-fav{display: block;width: 34px;height: 32px;background-image: url(/Public/images/common/header_icon.png);background-repeat: no-repeat;border-left: 1px solid #ddd;border-right: 1px solid #fff;}
.header-user{background-position: 9px -105px;}
.header-fav{background-position: 9px -557px;}
.header-nav{position: relative;}
.header-navIcon{background-position: 9px -164px;}
/*header-user*/
.header-user:hover .header-userCont{display: block;}
/*header-nav*/
.header-nav:hover .header-navIcon{background-color: #fff;padding-bottom: 1px;}
.header-nav:hover .header-navCont{display: block;}
.header-navCont{position: absolute;right: -1px;top: 33px;background-color: #fff;border: 1px solid #ddd;width: 924px; display: none; border-top: 0;z-index: 4;}
.header-navCont li{float: left;border-left: 1px dotted #ddd;padding: 30px 20px 0 30px;}
.header-navCont li:first-child{border-left: 0;}
.header-navCont div{height: 150px;width: 180px;margin-bottom: 30px;}
.header-navCont h3{font-size: 16px;color: #ff5500;font-weight: bold;height: 18px;line-height: 20px;margin-bottom: 15px;clear: both;}
.header-navCont a{float: left;color: #666;font-size: 14px;height: 18px;line-height: 18px;margin-bottom: 12px;width: 90px;overflow: hidden;}
.header-navCont a:hover{color: #ff5500;text-decoration: underline;}
.header-navCont a.hot{font-weight: bold;color: #333;}
.header-navCont a.hot:hover{color: #ff5500;}
/*header__end*/
/*friendLink*/
.friendLink{width: 100%;padding: 30px 0;background-color: #f9f9f9;border-top: 1px solid #ff6a00;border-bottom: 1px solid #ddd;}
.friendLink a:hover{text-decoration: underline;}
.friendLink-cont{width: 1180px;padding: 0 10px;margin: 0 auto;}
.friendLink-title{border-bottom: 1px solid #ddd;line-height: 30px;height: 30px;margin-bottom: 20px;}
.friendLink-title h2{font-size: 18px;color: #414648;float: left;border-bottom: 1px solid #858585;line-height: 30px;padding-right: 30px;}
.friendLink-link{margin-left: -34px;}
.friendLink-link a{margin: 0 0 12px 34px;float: left;color: #666;width: 100px;}
/*bbs 畅言*/
.bbs{margin:30px 0 0 0;position: relative;}
.bbs-reminder{font-size: 16px;color: #666;/*position: absolute;left: 0;top: 65px;padding-left: 22px;*/background: url(/Public/images/bbs/reminder.png) 0 27px no-repeat; margin:0!important;border-top: 1px solid #ececec; padding:20px 0 0 22px}
.bbs-reminder i{color: #ff5500;padding: 0 5px;}
/*畅言*/
.bbs #SOHUCS, .bbs #SOHUCS #SOHU_MAIN, .bbs #SOHUCS #SOHU_MAIN #SOHU-comment-main{font-family: "Microsoft Yahei","\5B8B\4F53";}
.bbs #SOHUCS #SOHU_MAIN .section-cbox-w .post-wrap-b{border: 1px solid #ececec;border-radius: 0;}
.bbs #SOHUCS #SOHU_MAIN .section-cbox-w button.btn-fw{background: #0acc8b;margin: -2px -1px 0 0;border-radius: 0;line-height: 42px;font-size: 16px;color: #fff;font-family: "Microsoft Yahei","\5B8B\4F53";}
.bbs #SOHUCS #SOHU_MAIN .section-cbox-w button.btn-fw:hover{background: #20da9b;}
.bbs #SOHUCS #SOHU_MAIN .section-cbox-w .login-wrap-b{border-color: #ececec;}
.bbs #SOHUCS #SOHU_MAIN .section-cbox-w .login-wrap-w a .wrap-name-b, .bbs #SOHUCS #SOHU_MAIN .section-cbox-w .login-wrap-w a:hover .wrap-name-b{color: #999;}
.bbs #SOHUCS #SOHU_MAIN .section-list-w .list-comment-empty-w .empty-prompt-w .prompt-null-b{background-color: #fff4e5;color: #999;}
.bbs #SOHUCS #SOHU_MAIN .section-title-w .join-wrap-w .wrap-name-w{font-size: 20px;}
.bbs #SOHUCS #SOHU_MAIN .section-title-w .join-wrap-w strong.wrap-name-b{color: #0fcb8b;margin-right: 10px;}
.bbs #SOHUCS #SOHU_MAIN .section-title-w .join-wrap-w span.wrap-join-b{color: #999;}
.bbs #SOHUCS #SOHU_MAIN .section-title-w .join-wrap-w span.wrap-join-w em.join-strong-bg{color: #0fcb8b;}
.bbs #SOHUCS #SOHU_MAIN .section-cbox-w .textarea-bf{color: #999;}
/*.bbs #SOHUCS #SOHU_MAIN .section-cbox-w .head-img-w, .bbs #SOHUCS #SOHU_MAIN .section-cbox-w .head-img-w img{width: 50px;height: 50px;}*/
/*.bbs #SOHUCS #SOHU_MAIN .section-cbox-w .head-gold-w{width: 50px;}*/
/*.bbs #SOHUCS #SOHU_MAIN .section-title-w{padding: 0 0 20px 0;height: 24px;border-bottom: 1px solid #ececec;margin-bottom: 60px;}*/
.bbs #SOHUCS #SOHU_MAIN .section-cbox-w .head-gold-w{background: url(/Public/images/bbs/gold.png) 0 0 no-repeat;}
.bbs #SOHUCS #SOHU_MAIN .section-cbox-w .head-gold-w a, .bbs #SOHUCS #SOHU_MAIN .section-cbox-w .head-gold-w a:hover{padding: 0 0 0 17px;}
.bbs #SOHUCS #SOHU_MAIN #powerby_sohu, #SOHUCS #SOHU_MAIN #powerby_sohu .section-service-w, #SOHUCS #SOHU_MAIN #powerby_sohu .section-service-w .service-wrap-w, #SOHUCS #SOHU_MAIN #powerby_sohu .section-service-w .service-wrap-w a{display: none !important;}
.bbs #SOHUCS #SOHU_MAIN .section-title-w .user-wrap-w .wrap-menu-bd,.bbs #SOHUCS #SOHU_MAIN .section-title-w .user-wrap-e{border: 1px solid #ddd;}
.bbs #SOHUCS #SOHU_MAIN .section-title-w .title-user-w .user-wrap-e .wrap-menu-dw{left: -1px;}
.bbs #SOHUCS #SOHU_MAIN .section-title-w .title-user-w{margin-top: 2px;}
.bbs #SOHUCS #SOHU_MAIN .section-cbox-w .textarea-fw{font-family: "Microsoft Yahei","\5B8B\4F53";}
.bbs #SOHUCS #SOHU_MAIN .section-list-w .wrap-build-gw .build-floor-gw{border: 1px solid #ececec;background-color: #f9f9f9;}
.bbs #SOHUCS #SOHU_MAIN a{color: #ff5500;}
/*bbs__end*/