@charset "utf-8";

* html{
filter: expression(document.execCommand("BackgroundImageCache", false, true));
}

#gnb-container{
width:100%;
height:35px;
min-width:960px;
font-family:"ＭＳ Ｐゴシック", Verdana, Osaka, "ヒラギノ角ゴ Pro W3";
background:url(../gnbimg/bg_gnb_w.png) repeat-x;
}
#gnb-container img{
border:none;
}

#gnb2{
position:relative;
margin:0 auto;
width:100%;
height:35px;
min-width:960px;
z-index:30000;
}

#gnb2 #gnb-logo{
position:absolute;
top:0;
left:20px;
width:75px;
height:35px;
}
#gnb2 #gnb-logo a{
display:block;
width:75px;
height:35px;
white-space:nowrap;
text-indent:120%;
overflow:hidden;
background:url(../gnbimg/logo_gnb_w.png) no-repeat 0 12px !important;
}
#gnb2 #gnb-logo a:hover{
background-position:0 12px !important;
}

/* #gnb-announce ///////////////////////////////////////////////////////////////////////////////////////////////*/
#gnb2 #gnb-announce{
position:absolute;
top:0;
left:115px;
height:35px;
line-height:35px !important;
}
#gnb2 #gnb-announce a{
color:#0aa0d2 !important;
font-family:"ＭＳ Ｐゴシック", Verdana, Osaka, "ヒラギノ角ゴ Pro W3" !important;
font-size:12px !important;
font-weight:bold !important;
text-decoration:underline !important;
line-height:35px !important;
}
#gnb2 #gnb-announce a:hover{
text-decoration:none !important;
}
#gnb2 #gnb-icon-new{
display:inline-block;
width:35px;
height:16px;
background:url(../gnbimg/icon_new_blink_w.gif) no-repeat left top;
margin-right:5px;
height:16px;
vertical-align:-4px;
}
#gnb2 #gnb-icon-hot{
display:inline-block;
width:35px;
height:16px;
background:url(../gnbimg/icon_hot_blink.gif) no-repeat left top;
margin-right:5px;
height:16px;
vertical-align:-4px;
}
#gnb2  #gnb-announce a strong span{
position:absolute;
left:-9999px;
}

#gnb2 #gnb-banner{
z-index:1;
position:absolute;
width:386px;
height:0px;/*148*/
padding:0;
left:130px;
top:2px;
overflow:hidden;
}

#gnb2 #gnb-banner a{
display:block;
position:absolute;
left:0;
bottom:16px;
background-repeat:no-repeat;
background-position:left 2px !important;
width:386px;
height:132px;
text-indent:110%;
white-space:nowrap;
overflow:hidden;
}

#gnb2 #gnb-banner-close{
display:block;
position:absolute;
z-index:2;
bottom:0;
left:5px;
background:url(../gnbimg/btn_gnb_banner_close.png) no-repeat left top;
width:54px;
height:19px;
text-indent:100%;
white-space:nowrap;
overflow:hidden;
cursor:pointer;
}



/* #gnb-menu ///////////////////////////////////////////////////////////////////////////////////////////////*/
#gnb2 #gnb-menu{
position:absolute;
top:0px;
right:20px;
margin:0;
padding:0;
width:112px;
height:34px;
z-index:0;
box-sizing:border-box;
}
#gnb2 #gnb-menu {
border-left:solid 1px #b5b5b5;
border-right:solid 1px #b5b5b5;	
}
#gnb2 #gnb-menu.open {
background-color:#393936;
}
#gnb2 #gnb-menu #gnb-menu-btn{
position:relative;
z-index:1;
}
#gnb2 #gnb-menu #gnb-menu-btn a{
display:block;
width:110px;
height:34px;
white-space:nowrap;
text-indent:120%;
overflow:hidden;
box-sizing:border-box;
}
#gnb2 #gnb-menu #gnb-menu-btn a {
background:url(../gnbimg/btn_gnb_menu_w.png) no-repeat 0 0 !important;
}
#gnb2 #gnb-menu #gnb-menu-btn a:hover{
height:35px;
background-position:0 -34px !important;
}
#gnb2 #gnb-menu.open #gnb-menu-btn a{
height:35px;
background-position:0 -34px !important;
}
#gnb2 #gnb-menu.open #gnb-menu-list{
display:block;
}

#gnb2 #gnb-menu #gnb-menu-list{
display:none;
position:absolute;
top:33px;
right:0;
margin:0;
padding-bottom:3px;
width:110px;
z-index:0;
text-align:left;
background:url(../gnbimg/bg_gnb_menu_btm_140806.png) no-repeat center bottom;
}
#gnb2 #gnb-menu #gnb-menu-list ul{
margin:0;
padding:0;
width:110px;
background:url(../gnbimg/bg_gnb_menu_140806.png) repeat-y center top;
}
#gnb2 #gnb-menu #gnb-menu-list ul li{
list-style-type:none;
font-family:Arial,'メイリオ','ＭＳ Ｐゴシック',sans-serif;
font-size:12px;
font-weight:bold;
line-height:32px;
border-top:solid 1px #484849;
border-bottom:solid 1px #191916;
border-left:solid 1px #191916;
border-right:solid 1px #191916;
}
#gnb2 #gnb-menu #gnb-menu-list ul li:first-child{
border-top:none;
}
#gnb2 #gnb-menu #gnb-menu-list ul li a{
display:block;
padding-left:18px;
width:109px;
height:32px;
color:#fff;
line-height:32px;
text-decoration:underline;
white-space:nowrap;
box-sizing:border-box;
background: url(../gnbimg/icon_gnb_menu_list_161116.png) no-repeat 9px top;
}


#gnb2 #gnb-menu #gnb-menu-list ul li a:hover{
color:#0aa0d2;
text-decoration:none;
background-position:9px -35px;
}




/* #gnb-login-id ///////////////////////////////////////////////////////////////////////////////////////////////*/
#gnb2 #gnb-login-id{
position:absolute;
top:0px;
right:132px;
margin:0;
padding:0;
height:34px;
z-index:0;
border-left:solid 1px #b5b5b5;
background:url(../gnbimg/btn_gnb_menu_hover_right_w.png) no-repeat right top;
}
#gnb2 #gnb-login-id:after {
position: absolute;
top:0px;
left:-2px;
content: '';
border-left: 1px solid #fff;
width: 1px;
height: 34px;
}

/* #gnb-dispid ************************************************************************************************/
#gnb2 #gnb-login-id #gnb-dispid{
position:relative;
z-index:1;
padding:0 14px;
color:#343330;
font-family:Arial,'メイリオ','ＭＳ Ｐゴシック',sans-serif;
font-size:12px;
font-weight:bold;
line-height:34px;
text-align:right;
white-space:nowrap;
}
#gnb2 #gnb-login-id #gnb-dispid a{
color:#343330;
text-decoration:underline;
}
#gnb2 #gnb-login-id #gnb-dispid a:hover{
text-decoration:none;
}

/* #gnb-login-btn ************************************************************************************************/
#gnb2 #gnb-login-btn{
position:relative;
z-index:1;
}
#gnb2 #gnb-login-btn a{
display:block;
width:113px;
height:34px;
white-space:nowrap;
text-indent:120%;
overflow:hidden;
}
#gnb2 #gnb-login-btn a {
background:url(../gnbimg/btn_gnb_login_w.png) no-repeat 0 0;
}
#gnb2 #gnb-login-btn a:hover{
background-position:0 -34px !important;
}

