.top-nav {
  font-size: 17px;
}

.avenir-light {
  letter-spacing: 0em;
  font-family: 'Avenir LT W01 35 Light', 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  font-style: normal; }
  .avenir-light b, .avenir-light strong {
    font-weight: 500; }

.avenir-regular, .top-nav, .top-nav-link, .dropdown-link {
  letter-spacing: 0em;
  font-family:  'Avenir LT W01 35 Light', 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal; }
  .avenir-regular b, .top-nav b, .top-nav-link b, .avenir-regular strong, .top-nav strong, .top-nav-link strong {
    font-weight: 500; }

/* Search Input styles in header */
.top-nav .dropdown-btn,
.header-map-home .dropdown-btn {
  padding-bottom: 6px;
}

.top-nav .dropdown-btn:after {
  top: 18px;
}

.side-nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  border: 1px solid #efefef;
  border-top: none;
  background-color: white; }

.side-nav-title {
  margin: 0;
  padding: 0.5166666667em;
  font-size: 0.9375em;
  line-height: 1.55em;
  background-color: #f8f8f8;
  border-top: 1px solid #efefef; }

.side-nav-link, .dropdown-link {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5166666667em 2.5em 0.5166666667em 0.5166666667em;
  font-size: 0.875em;
  line-height: 1.55em;
  color: #6e6e6e !important;
  background-color: white;
  border-top: 1px solid #efefef;
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
  cursor: pointer; }
  .side-nav-link:after, .dropdown-link:after {
    content: "»";
    opacity: 0;
    position: absolute;
    right: 0;
    top: .5em;
    padding: 0 0.3875em;
    -webkit-transition: all 150ms linear;
    transition: all 150ms linear; }
  .side-nav-link:hover, .dropdown-link:hover {
    text-decoration: none;
    color: #828282 !important; }
    .side-nav-link:hover:after, .dropdown-link:hover:after {
      opacity: 1; }
  .side-nav-link.is-active, .is-active.dropdown-link {
    background-color: #d2e9f9;
    font-weight: inherit !important; }

.dropdown-link {
  white-space: nowrap; }

.dropdown-title {
  cursor: default;
  background-color: #fbfbfb;
}

.dropdown-title:after {
  content: "";
}

.top-nav {
  border-bottom: 1px solid #efefef; }
  .top-nav .esri-logo {
    margin-top: 1em; }
  .top-nav .sign-in {
    padding-top: 1.55em; }

.top-nav-title {
  font-size: 1em;
  line-height: 1.55em;
  float: left;
  margin-right: 2em;
  padding-top: 1.1625em;
  padding-bottom: 1.1625em;
  line-height: 1.5em;
  color: #4c4c4c; }
  .top-nav-title:hover {
    color: #3b8fc4;
    background: url('../images/top-nav-ie9.gif') repeat-x bottom left transparent;
    text-decoration: none; }
  .top-nav-title.icon-ui-menu:before {
    vertical-align: -1px;
    padding-right: .5em; }

.top-nav-list {
  padding: 0;
  float: left; }
  .top-nav-list .top-nav-link + .top-nav-link {
    margin-left: .75em; }

.top-nav-link {
  font-size: 0.9375em;
  line-height: 1.55em;
  color: #4c4c4c !important;
  padding: 1.1625em 0;
  line-height: 1.5em;
  display: inline-block; }
  .top-nav-link:hover, .top-nav-link:focus {
    color: #3b8fc4 !important;
    background: url('../images/top-nav-ie9.gif') repeat-x bottom left transparent;
    text-decoration: none; }
    .top-nav-link:hover a, .top-nav-link:focus a {
      color: #3b8fc4; }
  .top-nav-link:focus {
    outline: none; }
  .top-nav-link.is-active {
    background: url('../images/top-nav-ie9.gif') repeat-x bottom left transparent;}
  .top-nav-link a {
    color: #4c4c4c; }
    .top-nav-link a:hover {
      text-decoration: none; }

.top-nav-link.dropdown-btn {
    padding-right: 1em; }
    .top-nav-link.dropdown-btn:after {
      right: 0; }

.sign-in {
  float: right;
  margin-top: -0.7em; }

.user-nav-name {
  padding: 0.3875em; }

.user-nav-image {
  width: 1.55em;
  height: 1.55em;
  margin-right: 0.3875em;
  vertical-align: -0.3875em; }

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;}

.gutter-left-half {
  padding-left: 0.5em; }

.gutter-right-half {
  padding-right: 0.5em; }

.gutter-left-0 {
  padding-left: 0em; }

.gutter-right-0 {
  padding-right: 0em; }

.gutter-left-1 {
  padding-left: 1em; }

.gutter-right-1 {
  padding-right: 1em; }

.gutter-right-2 {
  padding-right: 2em; }

/* Right to left styles */
.esriRtl .left { float: right; }
.esriRtl .right { float: left; }
.esriRtl .top-nav-title {float: right; }
.esriRtl .top-nav-link {float: right; }
.esriRtl .top-nav-list {float: right; }
.esriRtl .top-nav-link + .top-nav-link { margin-left: 0; margin-right: .75em; }
.esriRtl .gutter-left-half { padding-right: 0.5em; }
.esriRtl .gutter-right-half { padding-left: 0.5em; }
.esriRtl .gutter-left-0 { padding-right: 0em; }
.esriRtl .gutter-right-0 { padding-left: 0em; }
.esriRtl .gutter-left-1 { padding-right: 1em; }
.esriRtl .gutter-right-1 { padding-left: 1em; padding-right: 0.5em;}
.esriRtl .gutter-right-2 { padding-left: 2em; }
.esriRtl .top-nav-link.dropdown-btn:after { left: 0; right: auto; padding-right: 0.5166666667em; padding-left: 0; }
.esriRtl .top-nav-link.dropdown-btn { padding-left: 1em; padding-right: 0; }
.esriRtl .side-nav-link:after, .esriRtl .dropdown-link:after { left: 0; right: auto; }
.esriRtl .side-nav-link, .esriRtl .dropdown-link { padding: 0.5166666667em 0.5166666667em 0.5166666667em 2.5em; }
.esriRtl [class^="icon-ui-"]:before, .esriRtl [class*=" icon-ui-"]:before { padding-right: 0; padding-left: 0.5166666667em; }

/* Calcite Styles - END */

/* Logo Styles */
.site_logo {
  color: #333333 !important;
  font-family: "Avenir LT W01 65 Medium", Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding-top: .75em;
  padding-bottom: 0;
}

.site_logo span { font-family: "Avenir LT W01 85 Heavy", Arial, Helvetica, sans-serif; }
.site_logo:focus { outline: none; }
.site_logo.dropdown-btn:after { top: 16px; }

/* Fixes */
#logged-out-navigation a:hover {
  border-bottom: none;
}

.site-search {
  margin-top: 0.85em;
  margin-right: 1em;
}

.toggle-site-navigation {
  margin-top: 1.1em;
  margin-right: .25em;
}