@charset "UTF-8";

#header{
	width:1050px;
	margin:0 auto;
	background:fff;
    border-top: 3px solid #00b8f4;
}
#header .bgimg{
	background:url(../images/header/bg_illust.gif) no-repeat scroll 500px 9px / 550px auto;
}
#header .box{
	width:1050px;
	margin:0 auto;
	clear:both;
	color:#333;
}
#header .member{
	padding-right:10px;
}
#header .member p{
	float:right;
	padding-left:15px;
}
#header .member p span{
	font-weight:bold;
}
#header .line01{
	height:25px;
	overflow:hidden;
}
#header .line01 p{
	padding:5px 0 0 10px;
}
#header .line02{
	height:50px;
	overflow:hidden;
}
#header .line02 .w25th_logo /* walker25th */{
	float:left;
	padding: 0 0 0 10px;
}
#header .line02 h1,
#header .line02 .h1,
#header .line02 .logo{
	float:left;
	padding:0 0 0 10px;
}
#header .line02 .logo img{
	float:left;
}
#header .line02 .logo p{
	float:left;
	margin:14px 0 0 12px;
	font-size:18px;
	border-left:1px solid #ddd;
	padding-left:10px;
}
#header .line02 .area{
	float:left;
	margin:8px 12px 0 2px;
	border:1px solid #333;
	border-radius:3px;
	box-shadow: 0px 0px 6px #fff;
	-moz-box-shadow: 0px 0px 6px #fff;
	-webkit-box-shadow: 0px 0px 6px #fff;
}
#header .line02 .area p{
	padding:6px 8px 4px 8px;
	line-height:1em;
	font-size:21px;
	font-weight:bold;
	text-shadow: 0px 0px 6px #fff , 0px 0px 2px #fff;
}
#header .line02 .fst{
	float:left;
	width:143px;
	padding-top:26px;
	line-height:1.3em;
	font-size:11px;
/*	text-shadow: 0px 0px 5px #fff , 0px 0px 2px #fff;*/
}
#header .line02 .sp_bnr{
	float:left;
	width:140px;
}
#header .line02 .search{
	float:right;
	width:240px;
}
#header .line02 .search .sf{
	margin:0 15px 0 0;
}
#header .line02 .search .sf form, input {
	margin: 0;
}
#header .line02 .search .sf form {
	position: relative;
}
#header .line02 .search .sf input[type="text"] {
	background-color: #eee;
	border: 0;
	height: 24px;
	width: 180px;
	padding: 0 10px; 
	position: absolute;
	left: 0;
	top: 0;
	font-size:14px;
	box-sizing: content-box;outline: none;
}
#header .line02 .search .sf input[type="image"] {
	border: 0;
	padding: 0;
	width: 24px;
	height: 24px;
	position: absolute;
	left: 200px;
	top: 0;
}



#header .line03{
	border-bottom:2px solid #00B8F4;
	background-color:#f9f9f9;
	border-top:1px solid #eee;
}
#header .line03 ul{
	overflow:hidden;
	height:40px;
}
#header .line03 ul li{
	float:left;
	font-weight:bold;
	
}

#header .line03 ul li a:hover{
	text-decoration:none;
}
#header .line03 ul li p{
	color:#333;
	display:table-cell;
	height:40px;
	font-size:14px;
	vertical-align:middle;
}
#header .line03 ul li a:hover p,
#header .line03 ul li.select a p{
	color:#fff;
	background:url(../images/header/gmenubg.png) no-repeat right top #00B8F4;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.3);
}
#header .line03 ul li.top p{
	width:50px;
	background:url(../images/header/home_b.png) no-repeat center #f9f9f9;
}
#header .line03 ul li.top a:hover p{
	background:url(../images/header/home_w.png) no-repeat center #00B8F4;
}
#header .line03 ul li p span{
	padding:0 37px 0 33px;
	background:url(../images/header/bluedot.png) no-repeat 22px center;
}

#header .line04{
	height:30px;
}
/*-----------------------------------------------
 ▼LINE04追記　20141106
-----------------------------------------------*/

#header .line04 ul li{
	float:left;
	font-size:13px;
	border-right:1px solid #ccc;
	padding:1px 8px 0 8px;
	margin:8px 0;
	font-weight:bold;
}
#header .line04 ul li:last-child{
	border-right:none;
	padding:1px 0px 0 8px;
}
#header .line04 ul li a{
	color:#333;
}
#header .line04 ul li a.child{
	padding-left:17px;
	font-weight:normal;
	color:#09f;
	background:url(http://www.walkerplus.com/images/header/h_point.png) no-repeat 10px 7px;
}
#header .line04 ul li a.first{
	padding-left:7px;
	font-weight:normal;
	color:#09f;
	background:url(http://www.walkerplus.com/images/header/h_point.png) no-repeat 0px 7px;
}
#header .line04 .openarea{
	cursor:pointer;
}
#header .line04 .openarea span{
	padding-right:2px;
}
#header .line04 .openarea .up{
	display:none;
}
/*-----------------------------------------------
 ▲LINE04追記　20141106
-----------------------------------------------*/

#header .clrbdr{
	clear:both;
	border-bottom:1px solid #ddd;
}
/*-----------------------------------------------
 ▼areaselect追記　20141204
-----------------------------------------------*/
#header .areabox{
	margin-bottom:15px;
	background-color:#f8f8f8;
	padding:15px;
}
#header .areabox .ttlsp{
	padding:5px 0;
	border-bottom:3px solid #0098D9;
	margin-bottom:10px;
}
#header .areabox .hd_close{
	text-align:center;
	font-size:14px;
	cursor:pointer;
	padding:5px 0 0 0;
}
#header .areabox .hd_close span{
	background:url(../images/common/close.png) no-repeat 0px 3px;
	padding-left:18px;
}
#header .areabox .ttlsp .hd_close{
	float:right;
	line-height:1.3em;
	padding:3px 0 0 0;
}
#header .areabox .attl{
	float:left;
	font-size:18px;
	line-height:1.3em;
	font-weight:bold;
	padding-right:20px;
}
#header .areabox .alnk{
	float:left;
	font-size:12px;
	line-height:1.3em;
	padding-top:5px;
}
#header .areabox .alst{
	font-size:12px;
	line-height:1.5em;
	border-bottom:1px dotted #ddd;
	margin-bottom:5px;
}
#header .areabox .alst .barea{
	float:left;
	font-weight:bold;
	white-space:nowrap;
	width:150px;
	padding:0 0 5px 0;
}
#header .areabox .alst .barea a{
	color:#333;
}
#header .areabox .alst .sarea{
	float:right;
	width:780px;
}
#header .areabox .alst .sarea li{
	float:left;
	width:150px;
	padding:0 5px 5px 0;
}
#header .w950{
	width:950px;
	margin:0 auto;
}
/*-----------------------------------------------
 ▲areaselect追記　20141204
-----------------------------------------------*/