@charset "shift_jis";
/* MEMO
[z-index range] = 0 - 99
[cache control] = ?ver=20161001
[colors]
basic border color = #d2d6db
.home    = #dc1c26    rgb(220, 28, 38)        dark #9a141b
.kabu    = #528fcc    rgb(82, 143, 204)       dark #3a648f
.fuop    = #e65d8b    rgb(230, 93, 139)       dark #a14162
.fxneo   = #e6a82e    rgb(230, 168, 46)       dark #a17620
.fxop    = #e6a82e    rgb(230, 168, 46)       dark #a17620
.c365    = #e6a82e    rgb(230, 168, 46)       dark #a17620
.cfd     = #1f1f99    rgb(31, 31, 153)        dark #16166b
.fbond   = #52a3cc    rgb(82, 163, 204)       dark #3a728f
.maneo   = #328e37    rgb(50,142,55)          dark #236326
.mypage  = #53b324    rgb(83, 179, 36)        dark #3a7e19
[comment]
Webkit focus off
Webkit Mobile Safari
++++++++++++++++++++++++++++++++++++++++ */

body, .header *, .footer * {
	padding: 0;
	margin: 0;
}
/* header
++++++++++++++++++++++++++++++++++++++++ */
.header {
	width: 100%;
	height: 88px;
  	background: url(../images/header_bg.png?ver=20161001) repeat-x; /* X-UA-Compatible IE8 */
	background: url(../images/header_bg.svg?ver=20161001) repeat-x rgba(0,0,0,0);
	min-width: 1080px; /* FIX Background */
}
.header.general {
	height: 56px;
	background: none;
}
.header, .header input {
	font-family: "Hiragino Kaku Gothic Pro", Meiryo, Verdana, "MS PGothic", sans-serif;
}
.header .box {
	position: relative;
	margin: 0 auto;
	width: 1080px;
	height: 100%;
}
.header .logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 48px;
	background: url(../images/header_logo.png?ver=20161001) no-repeat; /* X-UA-Compatible IE8 */
	background: url(../images/header_logo.svg?ver=20161001) no-repeat rgba(0,0,0,0);  
	text-indent: -9999px;
}
.header .logo a {
	display: block;
	height: 100%;
	text-indent: -9999px;
}
.header .status {
	padding-top: 5px;
	height: 14px;
	width: 1080px;
	text-align: right;
	font-size: 10px;
	line-height: 1em;
	color: #80561a;
	overflow: hidden;
}
.header .status span {
	margin-left: 20px;
}
/* header-tab
[tab]:hover
[tab]
[tab] on
[tab] disabled
[tab] bdl
++++++++++++++++++++++++++++++++++++++++ */
.header .header-tab {
	overflow: hidden;
	margin-left: 208px;
	height: 33px;
}
.header .header-tab li {
	float: left;
	list-style-type: none;
	width: 78px;
	height: 32px;
	/* Preload */
	background: url(../images/header_tab.png?ver=20161001) 480px 0 no-repeat; /* X-UA-Compatible IE8 */
	background: url(../images/header_tab.svg?ver=20161001) 480px 0 no-repeat rgba(0,0,0,0);
	text-indent: -9999px; /* case non-link */
}
.header .header-tab li a {
	display: block;
	height: 33px;
}
/* [tab]:hover */
/* .hv is JS dropdown menu */
.header .header-tab .home:hover,
.header .header-tab .home.hv {
	background-position: 0 -33px;
}
.header .header-tab .kabu:hover,
.header .header-tab .kabu.hv {
	background-position: -78px -33px;
}
.header .header-tab .fuop:hover,
.header .header-tab .fuop.hv {
	background-position: -156px -33px;
}
.header .header-tab .fxneo:hover,
.header .header-tab .fxneo.hv {
	background-position: -234px -33px;
}
.header .header-tab .fxop:hover,
.header .header-tab .fxop.hv {
	background-position: -312px -33px;
}
.header .header-tab .c365:hover,
.header .header-tab .c365.hv {
	background-position: -390px -33px;
}
.header .header-tab .cfd:hover,
.header .header-tab .cfd.hv {
	background-position: -468px -33px;
}
.header .header-tab .fbond:hover,
.header .header-tab .fbond.hv {
	background-position: -546px -33px;
}
.header .header-tab .maneo:hover,
.header .header-tab .maneo.hv {
	background-position: -624px -33px;
}
.header .header-tab .mypage:hover,
.header .header-tab .mypage.hv {
	background-position: -702px -33px;
}
/* [tab] on */
.header .header-tab .on {
	height: 33px;
}
.header .header-tab .home, 
.header .header-tab .home.on, 
.header .header-tab .home.disabled {
	background-position: 0 0;
}
.header .header-tab .kabu, 
.header .header-tab .kabu.on, 
.header .header-tab .kabu.disabled {
	background-position: -78px 0;
}
.header .header-tab .fuop, 
.header .header-tab .fuop.on, 
.header .header-tab .fuop.disabled {
	background-position: -156px 0;
}
.header .header-tab .fxneo, 
.header .header-tab .fxneo.on, 
.header .header-tab .fxneo.disabled {
	background-position: -234px 0;
}
.header .header-tab .fxop, 
.header .header-tab .fxop.on, 
.header .header-tab .fxop.disabled {
	background-position: -312px 0;
}
.header .header-tab .c365, 
.header .header-tab .c365.on, 
.header .header-tab .c365.disabled {
	background-position: -390px 0;
}
.header .header-tab .cfd, 
.header .header-tab .cfd.on, 
.header .header-tab .cfd.disabled {
	background-position: -468px 0;
}
.header .header-tab .fbond, 
.header .header-tab .fbond.on, 
.header .header-tab .fbond.disabled {
	background-position: -546px 0;
}
.header .header-tab .maneo,
.header .header-tab .maneo.on,
.header .header-tab .maneo.disabled {
	background-position: -624px 0;
}
.header .header-tab .mypage, 
.header .header-tab .mypage.on, 
.header .header-tab .mypage.disabled {
	background-position: -702px 0;
}
/* [tab] disabled */
.header .header-tab .disabled {
	opacity: 0.25;
}
/* [tab] bdl */
.header .header-tab .bdl a {
	border-left: 1px solid #d2d6db;
}
/* loginout
++++++++++++++++++++++++++++++++++++++++ */
.header .login, .header .logout {
	position: absolute;
	top: 22px;
	right: 0;
	width: 68px;
	height: 22px;
	background: url(../images/header_loginout.png?ver=20161001) 0 0 no-repeat; /* X-UA-Compatible IE8 */
	background: url(../images/header_loginout.svg?ver=20161001) 0 0 no-repeat rgba(0,0,0,0);
}
.header .login a, .header .logout a {
	display: block;
	text-indent: -9999px;
	line-height: 22px;
	border-radius: 12px;
}
.header .login {
	background-position: 0 0;
}
.header .login:hover {
	background-position: 0 -22px;
}
.header .logout {
	background-position: -68px 0;
}
.header .logout:hover {
	background-position: -68px -22px;
}
/* navi
++++++++++++++++++++++++++++++++++++++++ */
.header .navi {
	position: absolute;
	left: 0;
	top: 62px;
	width: 100%;
	height: 26px;
	font-size: 13px;
}
.header .navi li {
	float: left; /* Case of navi only */
	width: auto;
	list-style-type: none; /* Case of navi only */
	text-indent: 0;
	height: 24px;
}
.header .navi li a {
	display: block; /* Case of navi only */
	width: auto;
	margin: 0 16px 0 0;
	height: 22px; /* Case box-sizing: border-box then 24px */
	line-height: 24px;
	text-align: center;
	font-size: 13px;
}
.header .navi li a:link,
.header .navi li a:visited {
	color: #10367e;
	text-decoration: none;
}
.header .navi li a:hover {
	color: #528fcc;
}
.header .navi .disabled {
	line-height: 24px;
	opacity: 0.25;
	margin: 0 16px 0 0;
}
/* navi-general
++++++++++++++++++++++++++++++++++++++++ */
.header .navi-general {
	position: absolute;
	left: 0;
	top: 62px;
	width: 100%;
	height: 26px;
	font-size: 13px;
}
.header .navi-general li {
	float: left;
	width: auto;
	list-style-type: none;
	text-indent: 0;
	height: 24px;
}
.header .navi-general li a {
	display: block;
	width: auto;
	margin: 0 16px 0 0;
	height: 22px; /* Case box-sizing: border-box then 24px */
	line-height: 24px;
	text-align: center;
}
.header .navi-general li a:link,
.header .navi-general li a:visited {
	color: #10367e;
	text-decoration: none;
}
.header .navi-general li a:hover {
	color: #528fcc;
}
.header .navi-general .on a {
	border-bottom: 2px solid #10367e;
	color: #10367e;
}
/* btn-tool, btn-platinumchart
++++++++++++++++++++++++++++++++++++++++ */
.header .btn-tool,
.header .btn-platinumchart {
	margin-left: 0;
}
.header .btn-tool a,
.header .btn-platinumchart a {
 	padding: 0 8px;
	border-radius: 3px;
	vertical-align: middle;
}
/* btn-tool color
++++++++++++++++++++++++++++++++++++++++ */
.header .btn-tool a {
	background: #53b324;
}
.header .btn-tool a:hover {
	background: #86ca65;
}
/* btn-platinumchart color
++++++++++++++++++++++++++++++++++++++++ */
.header .btn-platinumchart a {
	background: #4c89af;
}
.header .btn-platinumchart a:hover {
	background: #81acc7;
}

/* btn- link, visited, active
++++++++++++++++++++++++++++++++++++++++ */
.header .btn-tool a:link,
.header .btn-tool a:visited,
.header .btn-platinumchart a:link,
.header .btn-platinumchart a:visited {
	color: #fff !important;
}
.header .btn-tool a:active,
.header .btn-platinumchart a:active {
	color: #528fcc !important;
}
/* site-search
++++++++++++++++++++++++++++++++++++++++ */
.empty {
	color: #808080;
}
.header .site-search {
	padding-left: 132px;
	margin-top: -2px;
}
.header .site-search input[type="text"] {
	margin: 0;
	padding: 0 0 0 24px;
	width: 172px;
	height: 20px;
	border: 1px solid #d2d6db;
	vertical-align: middle;
	font-size: 12px;
	line-height: 23px;
	background: url(../images/header_loupe.png) 0 0 no-repeat #f1f1f1; /* X-UA-Compatible IE8 */
	background: url(../images/header_loupe.svg) 0 0 no-repeat rgba(241,241,241,1); /* #f1f1f1 */
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-webkit-appearance: none; /* Webkit Mobile Safari */
}
.header .site-search input[type="submit"] {
	margin: 0 0 0 -7px;
	padding: 0;
	width: 48px;
	height: 22px;
	border: 1px solid #d2d6db;
	background: #fff;
	vertical-align: middle;
	color: #10367e;
	letter-spacing: 2px;
	cursor: pointer;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-webkit-appearance: none; /* Webkit Mobile Safari */
}
.header .site-search input[type="text"]:focus,
.header .site-search input[type="submit"]:focus {
	outline: 0; /* Webkit focus off */
}
/* btn-demo-account
++++++++++++++++++++++++++++++++++++++++ */
.header .btn-demo-account {
	display: inline-block;
	position: absolute;
	top: 22px;
	right: 96px;
}
.header .btn-demo-account a {
	display: block;
	padding: 0 8px;
	height: 20px;
	border: 1px solid #d2d6db;
	background: #e0e8f1;
	text-decoration: none;
	line-height: 22px;
	color: #315499;
	border-radius: 3px;
	text-align: center;
}
.header .btn-demo-account a:hover {
	background: #ebf0f5;
}
/* home
++++++++++++++++++++++++++++++++++++++++ */
.header .home .navi .on a,
.header .home .navi .on a:link,
.header .home .navi .on a:visited {
	border-bottom: 2px solid #dc1c26;
	color: #dc1c26;
}
/* kabu
++++++++++++++++++++++++++++++++++++++++ */
.header .kabu .navi .on a,
.header .kabu .navi .on a:link,
.header .kabu .navi .on a:visited {
	border-bottom: 2px solid #528fcc;
	color: #528fcc;
}
/* fuop
++++++++++++++++++++++++++++++++++++++++ */
.header .fuop .navi .on a,
.header .fuop .navi .on a:link,
.header .fuop .navi .on a:visited {
	border-bottom: 2px solid #e65d8b;
	color: #e65d8b;
}
/* fxneo
++++++++++++++++++++++++++++++++++++++++ */
.header .fxneo .navi .on a,
.header .fxneo .navi .on a:link,
.header .fxneo .navi .on a:visited {
	border-bottom: 2px solid #e6a82e;
	color: #e6a82e;
}
/* fxop
++++++++++++++++++++++++++++++++++++++++ */
.header .fxop .navi .on a,
.header .fxop .navi .on a:link,
.header .fxop .navi .on a:visited {
	border-bottom: 2px solid #e6a82e;
	color: #e6a82e;
}
/* c365
++++++++++++++++++++++++++++++++++++++++ */
.header .c365 .navi .on a,
.header .c365 .navi .on a:link,
.header .c365 .navi .on a:visited {
	border-bottom: 2px solid #e6a82e;
	color: #e6a82e;
}
/* cfd
++++++++++++++++++++++++++++++++++++++++ */
.header .cfd .navi .on a,
.header .cfd .navi .on a:link,
.header .cfd .navi .on a:visited {
	border-bottom: 2px solid #1f1f99;
	color: #1f1f99;
}
/* fbond
++++++++++++++++++++++++++++++++++++++++ */
.header .fbond .navi .on a,
.header .fbond .navi .on a:link,
.header .fbond .navi .on a:visited {
	border-bottom: 2px solid #52a3cc;
	color: #52a3cc;
}
/* maneo
++++++++++++++++++++++++++++++++++++++++ */
.header .maneo .navi .on a,
.header .maneo .navi .on a:link,
.header .maneo .navi .on a:visited {
	border-bottom: 2px solid #328e37;
	color: #328e37;
}
/* mypage
++++++++++++++++++++++++++++++++++++++++ */
.header .mypage .navi .on a,
.header .mypage .navi .on a:link,
.header .mypage .navi .on a:visited {
	border-bottom: 2px solid #53b324;
	color: #53b324;
}
/* demo-fxneo
++++++++++++++++++++++++++++++++++++++++ */
.header .demo-fxneo .navi .on a,
.header .demo-fxneo .navi .on a:link,
.header .demo-fxneo .navi .on a:visited {
	border-bottom: 2px solid #e6a82e;
	color: #e6a82e;
}
/* demo-fxop
++++++++++++++++++++++++++++++++++++++++ */
.header .demo-fxop .navi .on a,
.header .demo-fxop .navi .on a:link,
.header .demo-fxop .navi .on a:visited {
	border-bottom: 2px solid #e6a82e;
	color: #e6a82e;
}
/* demo-cfd
++++++++++++++++++++++++++++++++++++++++ */
.header .demo-cfd .navi .on a,
.header .demo-cfd .navi .on a:link,
.header .demo-cfd .navi .on a:visited {
	border-bottom: 2px solid #1f1f99;
	color: #1f1f99;
}
/* active
++++++++++++++++++++++++++++++++++++++++ */
.header .header-tab a:active,
.header .navi a:active,
.header .navi-general a:active,
.header .login a:active,
.header .logout a:active,
.header .btn-demo-account a:active,
.header .navi input[type="submit"]:active {
	background-color: rgba(0,0,0,0.1) !important;
}
/* start
++++++++++++++++++++++++++++++++++++++++ */
.header .btn-start {
	position: absolute;
	top: 64px;
	right: 0;
}
.header .btn-start a {
	display: block;
	width: 192px;
	height: 18px;
	/* Preload */
	background: url(../images/header_start.png?ver=20161001) 0 480px no-repeat; /* X-UA-Compatible IE8 */
	background: url(../images/header_start.svg?ver=20161001) 0 480px no-repeat rgba(0,0,0,0);
	text-indent: -9999px;
}
.header .btn-start.kabu a {
	background-position: 0 0;
}
.header .btn-start.fuop a {
	background-position: 0 -18px;
}
.header .btn-start.fxneo a {
	background-position: 0 -36px;
}
.header .btn-start.fxop a {
	background-position: 0 -54px;
}
.header .btn-start.c365 a {
	background-position: 0 -72px;
}
.header .btn-start.cfd a {
	background-position: 0 -90px;
}
.header .btn-start.fbond a {
	background-position: 0 -108px;
}
header .btn-start.maneo a {
	background-position: 0 -144px;
}
/* btn-open
++++++++++++++++++++++++++++++++++++++++ */
.header .btn-open {
	position: absolute;
	top: 64px;
	right: 0;
}
.header .btn-open a {
	display: block;
	width: 192px;
	height: 18px;
	/* Preload */
	background: url(../images/header_start.png?ver=20161001) 0 480px no-repeat; /* X-UA-Compatible IE8 */
	background: url(../images/header_start.svg?ver=20161001) 0 480px no-repeat rgba(0,0,0,0);
	text-indent: -9999px;
}
.header .btn-open.account a {
	background-position: 0 -126px;
}
/* dropdown
++++++++++++++++++++++++++++++++++++++++ */
.header .dropdown {
	position: relative;
	top: -37px;
	left: 0;
	width: 1080px;
	height: auto;
	margin: 0 auto;
}
.header .dropdown ul {
	position: absolute;
	padding: 12px;
	width: 212px; /* box-sizong: content-box 212 + padding 12 + border 2 */
	background-color: #fff;
	border: 1px solid #d2d6db;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 4px 6px rgba(0,0,0,0.4);
}
.header .dropdown ul li {
	list-style: none;
	border-top: 1px solid #d8e4f0;
	letter-spacing: 1px;
}
.header .dropdown ul li:first-child {
	border-top: none;
}
.header .dropdown ul li a {
	display: block;
	padding: 6px 4px 6px 16px;
	background: url(../images/header_arrow.png) no-repeat 0 9px; /* X-UA-Compatible IE8 */
	background: url(../images/header_arrow.svg) no-repeat 0 9px rgba(0,0,0,0);
	line-height: 1em; /* IE7, IE8, IE9 */
	text-decoration: none;
	color: #005bb0;
	font-size: 12px;
}
.header .dropdown ul li a:hover {
	background-position: -4px -11px;
	background-color: #005bb0;
	text-decoration: none;
	color: #fff;
}
.header .dropdown ul li a:active {
	background-color: #dfebf7;
	color: #005bb0;
}
.header .dropdown ul.kabu {
	left: 285px;
}
.header .dropdown ul.fuop {
	left: 363px;
}
.header .dropdown ul.fxneo {
	left: 441px;
}
.header .dropdown ul.fxop {
	left: 519px;
}
.header .dropdown ul.c365 {
	left: 597px;
}
.header .dropdown ul.cfd {
	left: 675px;
}
.header .dropdown ul.fbond {
	left: 753px;
}
.header .dropdown ul.maneo {
	left: 831px;
}
.header .dropdown ul.mypage {
	left: 841px;
}
/* footer
++++++++++++++++++++++++++++++++++++++++ */
.footer {
	clear: both;
	margin-top: 40px;
	height: 160px;
	font-size: 11px;
	line-height: 1.8em;
	color: #9999a3;
	font-family: "Hiragino Kaku Gothic Pro", Meiryo, Verdana, "MS PGothic", sans-serif;
}
.footer .box {
	margin: 0 auto;
	width: 1080px;
}
.footer ul {
	height: 20px;
}
.footer ul li {
	float: left;
	margin-right: 12px;
	list-style-type: none;
}
.footer ul li a {
	display: block;
	text-decoration: none;
	color: #666670;
}
.footer ul li a:link, .footer ul li a:visited {
	text-decoration: none;
}
.footer ul li a:hover {
	text-decoration: underline;
}
.footer ul li a:active {
	/* same */
}
.footer .copyright {
	margin-top: 20px;
}
