/* Hero-header */

#c40093-1 .csc-firstHeader {padding-left:20px;}

.panel-inverse.panel-default {
  border-radius: 3px;
  float: right;
}
.panel-inverse.panel-default a {
  text-decoration: none;
}

.panel-inverse.panel-default .panel-heading {
  background: none;
  padding: 20px;
  position: relative;
  border-color: #ddd;
}

.panel-inverse.panel-default .panel-heading p {
  /*padding-right: 15px;*/
  color: #4a4a4a;
  font-size: 15px;
}

/* .panel-inverse.panel-default .panel-heading:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 15px;
  width: 10px;
  height: 19px;
  background: url('/fileadmin/images/general/icon-chevron-right.png') no-repeat;
} */

.panel-inverse.panel-default .panel-body {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 0 0 3px 3px;
}

.panel-inverse.panel-default .panel-body .btn {
  width: 30%;
  border-radius: 2px;
  border: none;
  margin-bottom: -4px;
}
.panel-inverse.panel-default .panel-body #btn-group-8249 {
  text-align: justify;
  position: relative;
  line-height: 0;
}

.panel-inverse.panel-default .panel-body #btn-group-8249 .btn {
  z-index: 1;
  position: relative;
}

.panel-inverse.panel-default .panel-body #btn-group-8249:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.panel-inverse.panel-default .panel-title {
  font-family: 'HelveticaNeueW02-75Bold', 'HelveticaNeueW10-75Bold';
  font-size: 32px;
  color: #000;
  margin-bottom: 10px;
}

h1 {font-family: 'HelveticaNeueW02-75Bold', 'HelveticaNeueW10-75Bold';}
h1 em {font-family: 'HelveticaNeueW02-45Ligh', 'HelveticaNeueW10-45Ligh'; font-style:normal; white-space: nowrap;}

.main_pd10-slide h1 {color: #fff; font-size:36px; margin-top: 0;}

.main_pd10-slide:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 60px;
  background: #fefefe;
  box-shadow: inset 0 40px 46px -13px #ccc, 0 0 40px rgba(0,0,0,.5);
  left: 0;
  bottom: 0;
  z-index: -1;
}

/*.hero-header {box-shadow: 0 0 20px rgba(0,0,0,.5);}*/

/*.main_pd10-slide {
  background: url('/fileadmin/images/general/CPA_Main/new-theme/main_mac-hero-11.png') no-repeat top left;
  padding-bottom: 60px;
}*/

@media only screen and (max-width: 991px) {
  /*.panel-inverse.panel-default {
    max-width:540px; 
  }*/
  .main_pd10-slide h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  /*.main_pd10-slide {padding-bottom: 90px; background-position-y: 45px;}*/
  .panel-inverse.panel-default .panel-title {font-size: 24px;}
}


@media only screen and (max-width: 600px) {
  .main_pd10-slide {background:0; padding-bottom: 60px;}
  .panel-inverse.panel-default .panel-body .btn {
    display: block;
    margin: 0 0 5px;
    width: 100%;
  }
}

.main_pd10-slide a[href="https://www.youtube.com/embed/7KbFYF4hLMM"] em.video {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    margin-top: -40px;
}

@media (min-width: 768px) {
  .main_pd10-slide, .main_pd10-slide > div {
    height: 400px;
    overflow: hidden;
  }
}


/* Sections */
.section {
  box-shadow: inset 0 15px 8px -10px rgba(0,0,0,.25);
  position: relative;
  overflow: hidden;
}
.section > .Inner > .container {
  background-size: auto 320px;
  background-position: center right;
  background-repeat: no-repeat;
  padding: 60px 15px;
}

/* All Products Section */
.section-allproducts {
  background-color: #d92231;
  color: #fff;
}
.section-allproducts p {
  margin: 20px 0;
  text-align: center;
}
.section-allproducts .chevron-right:after {
  display: none;
}
.section-allproducts p:after {
  content: '';
  display: inline-block;
  margin: -5px 20px;
  width: 10px;
  height: 19px;
  background: url('/fileadmin/images/general/icon-chevron-right-white.png') no-repeat;
}

/* Odin Section */
.section-odin {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
}
.section-odin p {
  margin: 0;
}
.section-odin .chevron-right:after {
  background: url('/fileadmin/images/general/icon-chevron-right-white.png') no-repeat;
  right: 15px;
}
.section-odin .col-xs-12 {
  max-width: 380px;
  margin: auto;
  display: block;
  float: none;
}
[lang="br"] .section-odin .col-xs-12 {max-width: 500px;}
[lang="de"] .section-odin .col-xs-12 {max-width: 420px;}
[lang="es"] .section-odin .col-xs-12 {max-width: 485px;}
[lang="fr"] .section-odin .col-xs-12 {max-width: 575px;}
[lang="it"] .section-odin .col-xs-12 {max-width: 425px;}
[lang="jp"] .section-odin .col-xs-12 {max-width: 440px;}
.section-odin .col-xs-12 > div {padding-right: 20px;}
.section-odin a {text-decoration: none;}

@media only screen and (max-width: 370px) {
  .section-odin .csc-textpic-imagewrap {float: none;}
  .section-odin .csc-textpic-imagewrap img {margin: 0 auto 8px;}
  .section-odin .csc-textpic-text {margin-left: 0;}
  .section-odin .col-xs-12 > div {padding-right: 0;}
  .section-odin .chevron-right:after {
    right: 50%;
    margin-right: -65px;
    top: 19px;
  }
}

/* PDB Section */
.section-pdb {background: #f8f8f8;}
.section-pdb > .Inner > .container {
  background-image: url('/fileadmin/images/general/CPA_Main/new-theme/main_PDB-bg.png');
}
/* RAS Section */
.section-ras {background: #fff;}
.section-ras > .Inner > .container {
  background-image: url('/fileadmin/images/products/ras/screens/PAR_RAS_Devices.png');
  background-size: auto 290px;
}
/* PMM Section */
.section-pmm {background: #fff;}
.section-pmm > .Inner > .container {
  background-image: url('/fileadmin/images/general/CPA_Main/new-theme/main_PMM-bg.png');
}
.section-pmm .col-xs-12 > * {max-width: 540px;}

/* PAX Section */
.section-pax .col-white {
  max-width: 320px;
  border: none;
  border-radius: 5px;
  padding: 20px;
  color: #4a4a4a;
}
.section-pax {
  background: url('/fileadmin/images/general/CPA_Main/new-theme/home-pax-parallax.jpg') no-repeat;
  background-size: cover;
  box-shadow: none;
  background-attachment: fixed;
  background-position: center center;
}

.section-pax .col-white h2 {margin-top: 0;}

@media only screen and (max-width: 1199px) {
/* PDB Section */
.section-pdb > .Inner > .container {background-position: right -60px center;}
/* RAS Section */
.section-ras > .Inner > .container {background-position: right -20px center;}
/* PMM Section */
.section-pmm > .Inner > .container {background-position: right -110px center;}
}
@media only screen and (max-width: 1130px) and (min-width: 992px) {
    .section-pmm .col-xs-12 > * {max-width: 480px;}
    .section-pdb .col-xs-12 > * {max-width: 500px;}
    .section-ras .col-xs-12 > * {max-width: 445px;}
}

@media only screen and (max-width: 991px) {
  .section:before {
    content: "";
    width: 100%;
    height: 200%;
    display: block;
    position: absolute;
    background-color: rgba(255,255,255,.8);
    top: 0;
  }
  .section{box-shadow: inset 0 15px 8px -10px rgba(0,0,0,.5);}
  .section-pax:before {display: none;}
  .section-pax {box-shadow: none;}
  .section > .Inner > .container {
    padding: 30px 15px;
    background-size: auto 80%;
  }
  .section-pmm .col-xs-12 > * {max-width: none;}
  .section-pdb .col-xs-12 > * {max-width: none;}
}

.section p {max-width: 600px;}

h2 {
  font-family: 'HelveticaNeueW02-75Bold', 'HelveticaNeueW10-75Bold'; 
  color: #000;
  margin-bottom: 20px;
}
h2 em {font-family: 'HelveticaNeueW02-45Ligh', 'HelveticaNeueW10-45Ligh'; font-style: normal;}

.btn {border-radius: 2px;}

.btn-info-light {
  color: #fff;
  background-color: #56c0e0;
  border-color: #49bcde;
}
.btn-info-light:hover {
  background-color: #49bcde;
  border-color: #3ab5da;
}

.bg-gray-lighter {background: #f8f8f8;}

.chevron-right:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 30px;
  width: 10px;
  height: 19px;
  background: url('/fileadmin/images/general/icon-chevron-right.png') no-repeat;
}

.main_big-btns .col-white {border-radius: 5px; padding: 20px;}
.main_big-btns a:first-child > div > div {
  border-radius: 5px; 
  padding: 20px;
  background: #d92231;
  color: #fff;
}
.main_big-btns a:not(:first-child):after {
  background: url('/fileadmin/images/general/icon-chevron-right-white.png') no-repeat;
}


.main_big-btns p {margin:0; font-size: 17px;}
.main_big-btns a:first-child p {margin-top: 7px;}
.main_big-btns .col-white p {max-width: 270px;}

.main_big-btns .row > a > [class*="col-"] > div {
  min-height: 75px;
  padding-right: 30px;
  line-height: 1;
}

#carousel-40092 h1.panel-title a .glyphicon {font-size:20px;}

#carousel-40092 .item:nth-child(2) h1 {
  font-family: HelveticaNeueW02-UltLt,HelveticaNeueW10-25UltL,"Helvetica Neue",Helvetica,Arial,Tahoma,sans-serif;
  color: #4a4a4a;
  font-size: 600%;
  margin-top: 0;
}

 
#carousel-40092 .item:nth-child(2) h2 {
  font-family: HelveticaNeueW02-UltLt,HelveticaNeueW10-25UltL,"Helvetica Neue",Helvetica,Arial,Tahoma,sans-serif;
  color: #4a4a4a;
  font-size: 32px;
}

#carousel-40092 .item:nth-child(2) h1 strong, 
#carousel-40092 .item:nth-child(2) h2 strong {
  font-family: HelveticaNeueW02-75Bold,HelveticaNeueW10-75Bold,"Helvetica Neue",Helvetica,Arial,Tahoma,sans-serif;
  font-weight: 400;
}

#carousel-40092 .item:nth-child(2) p {
  color: #4a4a4a;
}

#carousel-40092 a.carousel-control {
    background: none;
    opacity: 1;
    border: none;
    top: 50%;
    right: 15px;
    width: 20px;
    height: 48px;
    margin-top: -24px;
    background: url('/fileadmin/images/general/arrow-right-dark.png') no-repeat;
}

#carousel-40092 a.left.carousel-control {
    left: 15px;
    right: auto;
    background: url('/fileadmin/images/general/arrow-left-dark.png') no-repeat;
}

#carousel-40092 a.carousel-control span.glyphicon:before {
    content: none;
    display: none;
}

#carousel-40092 a.carousel-control span.glyphicon {
    display: none;
}

@media (min-width: 1200px) {
#carousel-40092 a.left.carousel-control {
    left: 50%;
    margin-left: -600px;
}

#carousel-40092 a.right.carousel-control {
    right: 50%;
    margin-right: -600px;
}
}

/*div#carousel-40092.carousel .item.active {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    opacity: 1;
}

div#carousel-40092.carousel .carousel-inner {
    display: table;
    width: 100%;
    table-layout: fixed;
}

div#carousel-40092.carousel .item {
    opacity: 0;
    width: 0;
}*/