@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icomoon-mas-close:before {
	content: "\e600";
}
.icomoon-ibe-manage:before {
	content: "\e601";
}
.icomoon-ibe-holidays:before {
	content: "\e602";
}
.icomoon-ibe-flight-status:before {
	content: "\e603";
}
.icomoon-ibe-check-in:before {
	content: "\e604";
}
.icomoon-ibe-book:before {
	content: "\e605";
}
.icomoon-ibe-return-trip:before {
	content: "\e606";
}
.icomoon-ibe-oneway-trip:before {
	content: "\e607";
}
