/* CSS Document */
a {
font:13px Arial, Helvetica, sans-serif;
color:#000000;
line-height:22px;
text-decoration:none;
}
a:hover {
font:13px Arial, Helvetica, sans-serif;
color:#000000;
line-height:22px;
text-decoration:underline;
}
.lf a {
font:13px Arial, Helvetica, sans-serif;
color:#000000;
line-height:18px;
text-decoration:underline;
}
.lf a:hover {
font:13px Arial, Helvetica, sans-serif;
color:#000000;
line-height:18px;
text-decoration:none;
}
.more a {
font:13px Arial, Helvetica, sans-serif;
color:#D60500;
line-height:18px;
text-decoration:underline;
font-weight:bold;
}
.more a:hover {
font:13px Arial, Helvetica, sans-serif;
color:#D60500;
line-height:18px;
text-decoration:none;
font-weight:bold;
}
.more_b a {
font:13px Arial, Helvetica, sans-serif;
color:#005DB6;
text-decoration:none;
}
.more_b a:hover {
font:13px Arial, Helvetica, sans-serif;
color:#005DB6;
text-decoration:underline;

}
/*.nav1 a {
font:13px Arial, Helvetica, sans-serif;
color:#000000;
line-height:18px;
text-decoration:none;
border-bottom:1px dotted #000000;
background:url(../images/leftnav/bullet1.jpg) left no-repeat;
padding-left:22px;
display:block;
}
.nav1 a:hover {
font:13px Arial, Helvetica, sans-serif;
color:#000000;
line-height:18px;
text-decoration:none;
border-bottom:1px dotted #000000;
background:url(../images/leftnav/bullet1.jpg) left no-repeat;
padding-left:22px;
display:block;
}*/
#nav1 {
width:175px;
height:37px;
background:url(../images/leftnav/1a.jpg) top no-repeat;
font:18px Verdana, Arial, Helvetica, sans-serif;
line-height:37px;
padding-left:15px;
}
#nav1a {
width:175px;
height:4px;
background:url(../images/leftnav/1b.jpg) top no-repeat;
}
#nav1b {
border-left:1px solid #83C6FF;
border-right:1px solid #83C6FF;
padding-left:15px;
padding-right:15px;
}
#_nav1 {
width:157px;
/*margin:0 auto;*/
}
#_nav1 ul {
margin:0;
padding:0;
list-style:none;
float:left;

}
#_nav1 ul li {
float:left;
list-style:none;
width:157px;
height:24px;
line-height:24px;
}
#_nav1 li a {
font:13px Arial, Helvetica, sans-serif;
color:#000000;
text-decoration:none;
border-bottom:1px dotted #000000;
background:url(../images/leftnav/bullet1.jpg) left no-repeat;
display:block;
padding-left:22px;
line-height:24px;
}
#_nav1 li a:hover {
font:13px Arial, Helvetica, sans-serif;
color:#000000;
text-decoration:none;
border-bottom:1px dotted #000000;
background:url(../images/leftnav/bullet1.jpg) left no-repeat;
padding-left:22px;
display:block;
line-height:24px;
}
/*-------------nav2----------------*/
#nav20 {
width:175px;
height:55px;
background:url(../images/leftnav/20a.jpg) top no-repeat;
font:18px Verdana, Arial, Helvetica, sans-serif;
padding-left:15px;
line-height:20px;
}
#nav2 {
width:175px;
height:37px;
background:url(../images/leftnav/2a.jpg) top no-repeat;
font:20px Verdana, Arial, Helvetica, sans-serif;
line-height:37px;
padding-left:15px;
}
#nav2a {
width:175px;
height:4px;
background:url(../images/leftnav/2b.jpg) top no-repeat;
}
#nav2b {
border-left:1px solid #FF897B;
border-right:1px solid #FF897B;
padding-left:15px;
padding-right:15px;
}
#_nav2 {
width:157px;
margin:0 auto;
}
#_nav2 ul {
margin:0;
padding:0;
list-style:none;
}
#_nav2 ul li {
float:left;
list-style:none;
width:157px;
height:24px;
line-height:24px;
}
#_nav2 li a {
font:13px Arial, Helvetica, sans-serif;
color:#000000;
text-decoration:none;
border-bottom:1px dotted #000000;
background:url(../images/leftnav/bullet2.jpg) left no-repeat;
display:block;
padding-left:22px;
line-height:24px;
}
#_nav2 li a:hover {
font:13px Arial, Helvetica, sans-serif;
color:#000000;
text-decoration:none;
border-bottom:1px dotted #000000;
background:url(../images/leftnav/bullet2.jpg) left no-repeat;
padding-left:22px;
display:block;
line-height:24px;
}
/*--------------nav3---------------------*/
#nav3 {
width:175px;
height:37px;
background:url(../images/leftnav/3a.jpg) top no-repeat;
font:18px Verdana, Arial, Helvetica, sans-serif;
line-height:37px;
padding-left:15px;
}
#nav3a {
width:175px;
height:4px;
background:url(../images/leftnav/3b.jpg) top no-repeat;
}
#nav3b {
border-left:1px solid #A3D8A4;
border-right:1px solid #A3D8A4;
padding-left:15px;
padding-right:15px;
}
#_nav3 {
width:157px;
margin:0 auto;
}
#_nav3 ul {
margin:0;
padding:0;
list-style:none;
}
#_nav3 ul li {
float:left;
list-style:none;
width:157px;
height:24px;
line-height:24px;
}
#_nav3 li a {
font:13px Arial, Helvetica, sans-serif;
color:#000000;
text-decoration:none;
border-bottom:1px dotted #000000;
background:url(../images/leftnav/bullet3.jpg) left no-repeat;
display:block;
padding-left:22px;
line-height:24px;
}
#_nav3 li a:hover {
font:13px Arial, Helvetica, sans-serif;
color:#000000;
text-decoration:none;
border-bottom:1px dotted #000000;
background:url(../images/leftnav/bullet3.jpg) left no-repeat;
padding-left:22px;
display:block;
line-height:24px;
}
/*-------------nav4------------------*/
#nav4 {
width:175px;
height:37px;
background:url(../images/leftnav/4a.jpg) top no-repeat;
font:18px Verdana, Arial, Helvetica, sans-serif;
line-height:37px;
padding-left:15px;
}
#nav4a {
width:175px;
height:4px;
background:url(../images/leftnav/4b.jpg) top no-repeat;
}
#nav4b {
border-left:1px solid #BDBDBD;
border-right:1px solid #BDBDBD;
padding-left:15px;
padding-right:15px;
}
#_nav4 {
width:157px;
margin:0 auto;
}
#_nav4 ul {
margin:0;
padding:0;
list-style:none;
}
#_nav4 ul li {
float:left;
list-style:none;
width:157px;
height:24px;
line-height:24px;
}
#_nav4 li a {
font:13px Arial, Helvetica, sans-serif;
color:#000000;
text-decoration:none;
border-bottom:1px dotted #000000;
background:url(../images/leftnav/bullet4.jpg) left no-repeat;
display:block;
padding-left:22px;
line-height:24px;
}
#_nav4 li a:hover {
font:13px Arial, Helvetica, sans-serif;
color:#000000;
text-decoration:none;
border-bottom:1px dotted #000000;
background:url(../images/leftnav/bullet4.jpg) left no-repeat;
padding-left:22px;
display:block;
line-height:24px;
}
/*-----------carea---------------------*/
#c_nav {
width:175px;
height:37px;
background:url(../images/a1.jpg) top no-repeat;
font:18px Verdana, Arial, Helvetica, sans-serif;
line-height:37px;
padding-left:15px;
}
#c_nav1 {
width:300px;
height:37px;
background:url(../images/a1.jpg) top no-repeat;
font:18px Verdana, Arial, Helvetica, sans-serif;
line-height:22px;
padding-left:15px;
}
#c_nav2 {
width:300px;
height:50px;
background:url(../images/a1a.jpg) top no-repeat;
font:18px Verdana, Arial, Helvetica, sans-serif;
line-height:18px;
padding-left:15px;
}
#c_nava {
width:175px;
height:4px;
background:url(../images/a2.jpg) top no-repeat;
}
#c_navb {
border-left:1px solid #DBDADA;
border-right:1px solid #DBDADA;
padding-left:15px;
padding-right:15px;
}
#_c_nav {
width:310px;
margin:0 auto;
}
#_c_nav ul {
margin:0;
padding:0;
list-style:none;
}
#_c_nav ul li {
float:left;
list-style:none;
width:310px;
height:24px;
line-height:24px;
}
#_c_nav li a {
font:13px Arial, Helvetica, sans-serif;
color:#000000;
text-decoration:none;
border-bottom:1px dotted #000000;
background:url(../images/bullet.jpg) left no-repeat;
display:block;
padding-left:22px;
line-height:24px;
}
#_c_nav li a:hover {
font:13px Arial, Helvetica, sans-serif;
color:#000000;
text-decoration:none;
border-bottom:1px dotted #000000;
background:url(../images/bullet.jpg) left no-repeat;
padding-left:22px;
display:block;
line-height:24px;
}
#_c_nav1 {
border-bottom:1px dotted #000000;
background:url(../images/bullet.jpg) left no-repeat;
height:22px;
line-height:22px;
text-align:lef;
padding-left:24px;
width:100%;
}
#fasy {
width:137px;
border-bottom:1px dotted #000000;
height:22px;
text-align:left;
background:url(../images/leftnav/bullet1.jpg) left no-repeat;
padding-left:20px;
line-height:22px;
}
#fasy1 {
width:137px;
border-bottom:1px dotted #000000;
height:22px;
text-align:left;
background:url(../images/leftnav/bullet2.jpg) left no-repeat;
padding-left:20px;
line-height:22px;
}
#fasy2 {
width:137px;
border-bottom:1px dotted #000000;
height:22px;
text-align:left;
background:url(../images/leftnav/bullet3.jpg) left no-repeat;
padding-left:20px;
line-height:22px;
}
#fasy3 {
width:137px;
border-bottom:1px dotted #000000;
height:22px;
text-align:left;
background:url(../images/leftnav/bullet4.jpg) left no-repeat;
padding-left:20px;
line-height:22px;
}
#fasy4 {
width:100%;
border-bottom:1px dotted #000000;
height:22px;
text-align:left;
background:url(../images/bullet.jpg) left no-repeat;
padding-left:20px;
line-height:22px;
}
#fasy6 {
width:70%;
border-bottom:1px dotted #000000;
height:22px;
text-align:left;
background:url(../images/bullet.jpg) left no-repeat;
padding-left:20px;
line-height:22px;
}
#fasy5 {
width:30%;
border-bottom:1px dotted #000000;
height:22px;
text-align:left;
line-height:22px;
}
#heading1 {
font:20px Verdana, Arial, Helvetica, sans-serif;
}
#border_lr {
border-left:1px solid #DBDADA;
border-right:1px solid #DBDADA;
}
.red {
font:13px Arial, Helvetica, sans-serif;
color:#D60500;
line-height:22px;
text-decoration:none;
font-weight:bold;
}
.red a {
font:13px Arial, Helvetica, sans-serif;
color:#D60500;
line-height:22px;
text-decoration:none;
font-weight:bold;
}
.red a:hover {
font:13px Arial, Helvetica, sans-serif;
color:#D60500;
line-height:22px;
text-decoration:underline;
font-weight:bold;
}