/*-----------------------------------------------------------------------------
Landing Page w/ Accordion Style Sheet
version:   1.0
author:    Daniel Cottner
e-mail:    daniel.cottner@capitalone.com
-----------------------------------------------------------------------------*/

#page-content {
	margin-top: 19px;
}
#page-content #section-1 {
	height: 340px;
	margin-bottom: 25px;
}

/* =Accordion Container
----------------------------------------------------------------------------------------------------*/
#section-2 {
	background-color: #fff;
	border: 1px solid #6689a9;
	height: 325px;
	line-height: 1.3;
	margin: 0 !important;  /* Overwrites the margins applied by the "row" class */
	overflow: hidden;
	padding: 9px 9px 4px;
	position: absolute;
	right: 13px;
	width: 180px;
	top: 0;
}
#section-2 .genericA {
	margin: 0 0 5px;
}
#section-2 .genericB {
	background: transparent url(/assets/img/global/bg/accordion-section-btm.gif) repeat-x 0 100%;
	display: none;
	height: 217px;
	margin-bottom: 5px;
	padding: 0 5px 13px;
}
#section-2 h2 {
	background: #426e9f url(/assets/img/global/bg/sprite/accordion-heading.gif) repeat-x 0 0;
	border: 1px solid #003a6f;
	font-size: 1.15em;
	font-weight: normal;
}
#section-2 h2 a,
#section-2 h2 span {
	color: #fff;
	display: block;
	padding: 2px 6px;
	cursor: pointer;
}
#section-2 h3 {
	font-size: 1em;
	font-weight: bold;
	line-height: 1.3;
	margin-bottom: 0;
	padding-top: 5px;
}
#section-2 .genericB span {
	display: block;
	padding-bottom: 10px;
}
#section-2 .list .genericA h2 span a{
	background-image:none !important;
	padding:0px !important;
}

/* Assumes JavaScript is not enabled and styles the open section and section heading anchors accordingly */
#section-2 .first .genericB,
#section-2 .opened .genericB {
	display: block;
}
#section-2 .opened h2 {
	background: #404040 url(/assets/img/global/bg/sprite/accordion-heading.gif) repeat-x 0 -23px;
	border: 1px solid #555;
}

/* If JavaScript is enabled, the below styles are applied to overwrite the preceding section */
#js-enabled #section-2 h2 a,
#js-enabled #section-2 h2 span {
	background: transparent url(/assets/img/global/icon/sprite/accordion-expand-collapse.gif) no-repeat 0 0;
	padding-left: 22px;
}
#js-enabled #section-2 h2 a:focus,
#js-enabled #section-2 h2 a:hover,
#js-enabled #section-2 h2 a:active {
	text-decoration: none;
}
#js-enabled #section-2 .opened h2 a,
#js-enabled #section-2 .opened h2 span {
	background-position: 0 -30px;
	cursor: default;
}
