/*------------------------------------------ Section Siamkeela TV--------------------------------------------------*/
.tclip{ width:672px; height:32px; background:url(images10/bg-t-clip.gif) repeat-x; margin-bottom:3px; }
.tclipde{ margin:0 auto; border:1px solid #CCCCCC; width:670px; padding:0px; margin-bottom:10px; }
.clipbg{ float:left; background: url(images10/bg-clipde.gif) repeat-x bottom #020202; width:661px; padding:5px 0px 5px 5px; border-left:#FFFFFF solid 2px;  border-right:#FFFFFF solid 2px;  border-top:#FFFFFF solid 2px; }
.clipbcon{ float:left; background:url(images10/bg-clipfade.gif) repeat-x top #000000; width:325px;padding:3px; }

.sssclipde{ float:left; width:160px; margin-right:1px; padding:0px; padding-bottom:6px; }
.ssspicclip{ float:left; padding:1px 1px; background:#000000; }
.ssscliptx{ float:left; width:146px; height:26px; overflow:hidden; padding:3px; background:#000000; text-align:left; position:absolute; z-index:1; margin-left:0px; margin-top:74px;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); opacity:.8; filter: alpha(opacity = 80); -moz-opacity: 0.8; -khtml-opacity: 0.8; }
.btnplays{ position:absolute; z-index:1; width: 22px; height:22px; margin-left:127px; margin-top:45px;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30); opacity:.3; filter: alpha(opacity = 30); -moz-opacity: 0.3; -khtml-opacity: 0.3; }

.btnplaybig{ position:absolute; z-index:1; width: 60px; height:50px; margin-left:260px; margin-top:120px;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30); opacity:.3; filter: alpha(opacity = 30); -moz-opacity: 0.3; -khtml-opacity: 0.3; }
.clipbtx{ float:left; width:315px; padding:0px 5px; height:92px; line-height:14pt; }

.cliptab{ float:left; background:#000000; padding:0px 5px 5px 5px; width:656px; border-left:#FFFFFF solid 2px;  border-right:#FFFFFF solid 2px;  border-bottom:#FFFFFF solid 2px; }

.clippro{ float:left; width:305px; padding:5px; height:35px; background:url(images10/bg-tvpro.gif) repeat-x; }
.clipprotx{ float:left; width:180px; padding:0px; height:21px; background:#CBCBCB; font-size:12px; font-weight:bold; color:#000000; text-align:center; padding-top:6px; margin-right:5px; }
.clipprobox{ float:left; width:176px; border:1px solid #666666; padding:0px 0px 0px ; margin-left:0px; }

/*------------------------------------------ Section FootBall Thai --------------------------------------------------*/
.tfbthai{ width:672px; height:32px; background:url(../images10/bg-thleague.gif) repeat-x; margin-bottom:3px; }
.fbtnews{ float:left; width:325px; padding:3px 3px; background:#E8FFE6; margin-bottom:5px; }
.leaguetxtpl{ float:left; width:315px; height:80px; padding: 5px 5px; }
.tfbt{ float:left; width:331px; height:32px; background:url(../images10/bg-thleague.gif) repeat-x; margin-bottom:3px; margin-top:10px; }
.fbtnewsoth{ float:left; width:325px; padding:3px 3px; margin-bottom:5px; background:#F3F3F3; }

.fbtpic{ float:left; width:165px; }
.fbtbg{ float:left; width:290px; padding:5px; margin-bottom:10px; background-color:#F3F3F3; }
.fbttx{ float:left; width:152px; padding-left:7px; padding-top:3px; }
.fbtcol{ float:left; width:300px; height:28px; background:url(../images10/bg-thleague02.gif) repeat-x; }
.fbtlist{ float:left; width:270px; padding:0px 5px; }

.fbtbgtab{ float:left; width:294px; padding:5px 3px 0px; background-color:#DDDDDD; }
.fbtclipcon{ float:left; width:282px; padding:15px 0px 0px 18px; border:0px solid #000000; margin-bottom:10px; background-color:#F3F3F3; }
.fbtclipde{ float:left; width:140px; margin-left:0px; padding:0px; padding-bottom:7px; }
.fbtpicclip{ float:left; width:120px;}
.fbtcliptx{ float:left; width:114px; height:26px; overflow:hidden; padding:3px; text-align:left; }
.fbtclipbar{ float:left; width:120px; }
