﻿.form-customizer input:not(old){
  width     : 2em;
  font-size : 1em;
  opacity   : 0;
  display   : none;
}

.form-customizer input:not(old) + label{
  display      : inline-block;
  line-height  : 1.5em;
}

.form-customizer input:not(old) + label > span.label{
  color: #000;
  display: block;
  font-size: 14px;
}

.form-customizer input:not(old) + label > span.fake{
  display          : inline-block;
  width            : 16px;
  height           : 16px;
  margin           : 4px 8px 4px 4px;
  border           : 1px solid rgb(192,192,192);
  border-radius    : 8px;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : middle;
}

.form-customizer input:not(old):checked + label > span.fake{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}

.form-customizer input:not(old):checked + label > span.label{
  font-weight: bold;
  font-weight: 700;
}

.form-customizer input[type=checkbox]:not(old):checked + label > span.fake:before{
  content     : '✓';
  display     : block;
  width       : 1em;
  color       : rgb(153,204,102);
  font-size   : 0.875em;
  line-height : 1em;
  text-align  : center;
  text-shadow : 0 0 0.0714em rgb(115,153,77);
  font-weight : bold;
}

.form-customizer input[type=radio]:not(old):checked +  label > span.fake > span{
  display          : block;
  width            : 6px;
  height           : 6px;
  margin           : 4px;
  border           : 1px solid rgb(212,34,38);
  border-radius    : 4px;
  background       : rgb(212,34,38);
}

.form-customizer{
    border-bottom: 1px solid #e9e9e9!important;
    margin-bottom: 20px!important;
    padding-bottom: 10px!important;
}

.form-customizer .form-float-button{
	display: inline-block;
	width: 95px;
	text-align: center;
}

.form-customizer .form-float-button-last{
	margin-right: 0px;
}

.form-customizer .form-float-button label{
	display: block;
	margin-top: 10px;
}
