/*
Theme Name: Let's Review
Theme URI: http://codecanyon.net/user/cubell
Author: Cubell
Author URI: http://codecanyon.net/user/cubell
Description: 
Version: 1.0.0
License: http://codecanyon.net/licenses/regular_extended
License URI: http://codecanyon.net/licenses/regular_extended
*/
/*------------------------------------------------------------------
[Table of contents]
	1. General
	2. Review Base Output
	3. Design 1 - Minimalist
	4. Design 2 - Bold
	5. Design 3 - Modern
	6. Design Top Small Version
	7. Animations
	8. Widget
	9. Ext

[Responsive: @media min-width: 481px]
	10. Design Top Small Version

[Responsive: @media min-width: 768px]
	11. Design 1 - Minimalist
	
[Responsive: @media min-width: 1020px]
	12. Review Base Output
	13. Ext
[Responsive: @media min-width: 1200px]
	14. Top Half-Width

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[1. General]

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
.cb-clearfix {
  zoom: 1;
}

.cb-clearfix:before, .cb-clearfix:after {
  content: "";
  display: table;
}

.cb-clearfix:after {
  clear: both;
}

/*------------------------------------------------------------------
[2. Review Base Output ]
*/
.cb-skin-base {
  position: relative;
  z-index: 1;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size: 15px;
  overflow: hidden;
}
.cb-skin-base * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cb-skin-base a {
  font-size: 15px;
}
.cb-skin-base .cb-review-block {
  color: #181818;
}
.cb-skin-base .cb-review-block a, .cb-skin-base .cb-review-block a:visited {
  color: #181818;
}
.cb-skin-base .cb-review-block .cb-lr-img, .cb-skin-base .cb-review-block .cb-lr-img:visited {
  color: transparent;
}
.cb-skin-base img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cb-skin-base .cb-review-pad {
  padding: 20px;
}
.cb-skin-base .cb-review-pad-no-top {
  padding: 0 20px 20px;
}
.cb-skin-base .cb-score-titles-wrap {
  width: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cb-skin-base .cb-pros-cons-block .cb-pros-cons {
  padding-left: 10px;
  margin-bottom: 5px;
}
.cb-skin-base .cb-pros-cons-block .cb-pro:before {
  content: "+ ";
  margin-left: -10px;
}
.cb-skin-base .cb-pros-cons-block .cb-con:before {
  content: "- ";
  margin-left: -10px;
}
.cb-skin-base .cb-bar {
  font-weight: 700;
}
.cb-skin-base .cb-bar .cb-overlay {
  display: block;
  width: 100%;
}
.cb-skin-base .cb-bar .cb-overlay span {
  height: 100%;
  display: block;
}
.cb-skin-base .cb-user-rating-block .cb-bar {
  margin: 0;
}
.cb-skin-base .cb-score-box {
  position: relative;
  padding: 20px 0;
  overflow: hidden;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.cb-skin-base .cb-review-title {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}
.cb-skin-base .cb-final-score {
  font-size: 50px;
  line-height: 1;
  width: 100%;
  display: block;
  text-align: center;
}
.cb-skin-base .cb-score-subtitle {
  margin-top: 10px;
  font-weight: 700;
  line-height: 1;
  width: 100%;
  display: block;
  text-align: center;
  text-transform: uppercase;
}
.cb-skin-base .cb-aff-block .cb-aff-button a {
  box-shadow: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  height: 45px;
  line-height: 45px;
  text-align: center;
  display: inline-block;
  letter-spacing: 1px;
  padding-left: 20px;
  margin-bottom: 30px;
  min-width: 190px;
  overflow: hidden;
  position: relative;
}
.cb-skin-base .cb-aff-block .cb-aff-button a:hover {
  text-decoration: none !important;
}
.cb-skin-base .cb-aff-block .cb-icon-wrap {
  display: inline-block;
  height: 100%;
  float: right;
  width: 50px;
  margin-left: 20px;
  position: relative;
}
.cb-skin-base .cb-aff-block .cb-aff-button:last-child a {
  margin-bottom: 0;
}
.cb-skin-base .cb-aff-block .cb-aff-button i {
  line-height: inherit;
  letter-spacing: 0;
  height: 100%;
  width: 100%;
}
.cb-skin-base .cb-aff-block .cb-button-ani-1 {
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
}
.cb-skin-base .cb-aff-block .cb-button-ani-1-hid {
  position: absolute;
  top: -100%;
  right: 0;
}
.cb-skin-base .cb-aff-block .cb-aff-button a:hover .cb-button-ani-1 {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
.cb-skin-base .cb-review-gallery a {
  float: left;
  width: 60px;
  margin: 0 10px 20px;
  color: transparent;
  margin-bottom: 20px;
}
.cb-skin-base .cb-review-gallery a img {
  width: 100%;
  margin: 0;
  border-radius: 50%;
}
.cb-skin-base .cb-review-gallery a:first-child {
  margin-left: 0;
}
.cb-skin-base .cb-gallery-block-center {
  text-align: center;
}
.cb-skin-base .cb-gallery-block-center a {
  float: none;
  display: inline-block;
}
.cb-skin-base .cb-round-fi .cb-review-fi {
  line-height: 0;
}
.cb-skin-base .cb-round-fi .cb-review-fi img {
  border-radius: 50%;
  margin: 0;
}
.cb-skin-base .cb-img-ani-1 {
  position: relative;
  display: inline-block;
}
.cb-skin-base .cb-img-ani-1 img {
  -webkit-transition: 0.35s ease opacity;
  transition: 0.35s ease opacity;
}
.cb-skin-base .cb-img-ani-1:hover img {
  opacity: 0.35;
}
.cb-skin-base .cb-img-ani-1:hover:before {
  opacity: 1;
}
.cb-skin-base .cb-img-ani-1:before {
  content: '\f067';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'FontAwesome';
  opacity: 0;
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
  z-index: 1;
  color: #181818;
}
.cb-skin-base .cb-review-in-title .cb-title, .cb-skin-base .cb-block-header {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.cb-aff-standalone-button {
  margin: 10px 0;
}
.cb-aff-standalone-button a, .cb-aff-standalone-button a:visited {
  color: #000;
}
.cb-aff-standalone-button i {
  color: #fff;
}

.cb-aff-standalone-button.cb-border-on a {
  border: 2px solid #000 !important;
}

.cb-aff-standalone-button.cb-aff-ta-left {
  display: inline-block;
}
.cb-aff-standalone-button.cb-aff-ta-left div {
  display: inline-block;
  text-align: left;
}
.cb-aff-standalone-button.cb-aff-ta-left .cb-aff-button {
  margin: 0 !important;
}

.cb-location-1, .cb-location-3 {
  margin: 30px 0;
}

.cb-skin-version-1 .cb-bar {
  background: #f2f2f2;
}

.cb-skin-version-white .cb-bar {
  background: #fff;
}

.cb-skin-version-2 .cb-review-block {
  color: #fff;
}
.cb-skin-version-2 .cb-review-block a, .cb-skin-version-2 .cb-review-block a:visited {
  color: #fff;
}
.cb-skin-version-2 .cb-img-ani-1:before {
  color: #fff;
}
.cb-skin-version-2 .cb-criteria-block, .cb-skin-version-2 .cb-bar {
  background: inherit;
}

.cb-user-rating-block {
  background: inherit;
}
.cb-user-rating-block .cb-votes-count {
  margin-left: 10px;
  color: #B5B5B5;
}
.cb-user-rating-block .cb-bar {
  cursor: pointer;
}
.cb-user-rating-block span {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.cb-voting span {
  opacity: 0.4;
}

.cb-fs-voting {
  opacity: 0.4;
}

.cb-score-type-1 .cb-criteria-score:after {
  content: '%';
}
.cb-score-type-1 .cb-final-score:after {
  content: '%';
  font-size: 0.4em;
  display: inline-block;
  margin-left: 3px;
}
.cb-score-type-1 .cb-score-- .cb-final-score:after {
  content: '';
}

.cb-trigger-zero {
  width: 0 !important;
}

.cb-out-of-5 .cb-trigger-zero {
  width: 100% !important;
}
.cb-out-of-5 .cb-bar i {
  font-size: 18px;
}
.cb-out-of-5 .cb-bar img {
  max-width: 20px;
}
.cb-out-of-5 .cb-bar .cb-overlay {
  display: inline-block;
  width: auto;
  float: right;
  position: relative;
  background: inherit !important;
  height: 100% !important;
}
.cb-out-of-5 .cb-bar .cb-overlay span {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.75;
}
.cb-out-of-5 .cb-criteria-block .cb-bar .cb-overlay span {
  background: inherit !important;
}
.cb-out-of-5 .cb-score-titles-wrap {
  background: inherit;
}
.cb-out-of-5 .cb-final-score {
  color: #fff;
  background: inherit;
}
.cb-out-of-5 .cb-final-score i {
  color: #fff;
}
.cb-out-of-5 .cb-final-score .cb-bar {
  background: inherit;
  margin: 0;
}
.cb-out-of-5 .cb-final-score .cb-bar .cb-overlay span {
  background: inherit;
}
.cb-out-of-5 .cb-final-score .cb-bar .cb-overlay {
  float: none;
}
.cb-out-of-5 .cb-final-score img {
  max-width: 20px;
}
.cb-out-of-5 .cb-score-subtitle {
  margin-top: 15px;
}
.cb-out-of-5 .cb-overlay > i, .cb-out-of-5 .cb-overlay > img {
  margin: 0 2px;
}
.cb-out-of-5 .cb-criteria-score {
  display: none;
}
.cb-out-of-5 .cb-user-rating-block .cb-bar {
  cursor: auto;
}
.cb-out-of-5 .cb-user-rating-block .cb-overlay {
  cursor: pointer;
}
.cb-out-of-5 .cb-rated .cb-overlay {
  cursor: auto;
}

/*------------------------------------------------------------------
[3. Design 1 - Minimalist ]
*/
.cb-design-1 .cb-review-block {
  background: #f2f2f2;
  border-top: 5px solid #fff;
}
.cb-design-1 .cb-review-fi {
  float: left;
  margin-right: 30px;
}
.cb-design-1 .cb-review-fi img {
  width: 40px;
}
.cb-design-1 .cb-score-box {
  margin: 0 auto;
  width: 140px;
  height: 140px;
  color: #fff;
}
.cb-design-1 .cb-pros-cons-block {
  text-align: center;
}
.cb-design-1 .cb-pros-cons-block > div {
  width: 50%;
  float: left;
  padding: 0px 10px;
}
.cb-design-1 .cb-bar {
  width: 100%;
  margin: 0 0 25px 0;
  position: relative;
  letter-spacing: 2px;
  font-size: 12px;
  float: left;
}
.cb-design-1 .cb-bar .cb-overlay {
  height: 15px;
  margin-top: 5px;
  background: #fff;
}
.cb-design-1 .cb-bar .cb-overlay span {
  background: #f8d92f;
}
.cb-design-1 .cb-bar .cb-criteria-score {
  float: right;
}
.cb-design-1 .cb-review-conclusion {
  margin: 0 0 30px 0;
}
.cb-design-1 .cb-block-header {
  padding-bottom: 30px;
}
.cb-design-1 .cb-pros-cons-block .cb-block-header {
  padding-bottom: 10px;
}
.cb-design-1 .cb-aff-block {
  text-align: center;
}
.cb-design-1 .cb-aff-block .cb-aff-button a {
  border: 2px solid #000;
  background: #fff;
  line-height: 41px;
}

.cb-design-1.cb-skin-version-2 .cb-aff-button a {
  border: 0;
  background: #222;
  line-height: 45px;
  -webkit-transition: 0.35s ease background;
  transition: 0.35s ease background;
}
.cb-design-1.cb-skin-version-2 .cb-aff-block .cb-aff-button a:hover {
  background: #2a2a2a;
}
.cb-design-1.cb-skin-version-2 .cb-review-block {
  background: #181818;
  border-top: 2px solid #333;
}

.cb-design-1.cb-skin-version-1 .cb-aff-block .cb-aff-button a:hover {
  box-shadow: 3px 3px 0 #181818;
}

/*------------------------------------------------------------------
[4. Design 2 - Bold ]
*/
.cb-design-2 div {
  background: inherit;
}
.cb-design-2 .cb-aff-block .cb-aff-button {
  margin: 0 30px;
}
.cb-design-2 .cb-aff-block .cb-aff-button a {
  border: 2px solid #000;
  background: #fff;
  line-height: 41px;
}
.cb-design-2 .cb-review-block {
  background: #f2f2f2;
}
.cb-design-2 .cb-review-fi {
  float: left;
  margin-right: 30px;
}
.cb-design-2 .cb-review-fi img {
  width: 40px;
}
.cb-design-2 .cb-block-header {
  padding-bottom: 30px;
}
.cb-design-2 .cb-pros-cons-block .cb-block-header {
  padding-bottom: 10px;
}
.cb-design-2 .cb-bar {
  width: 100%;
  position: relative;
  letter-spacing: 1px;
  font-size: 16px;
  float: left;
  border-bottom: 2px solid transparent;
}
.cb-design-2 .cb-bar .cb-overlay {
  height: 50px;
}
.cb-design-2 .cb-bar .cb-overlay span {
  background: inherit;
}
.cb-design-2 .cb-bar .cb-criteria {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 10px;
  z-index: 2;
}
.cb-design-2 .cb-bar .cb-criteria-score {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  margin-right: 10px;
  z-index: 2;
}
.cb-design-2 .cb-title-block {
  background: #E9E9E9;
}
.cb-design-2 .cb-score-box {
  float: right;
  width: 140px;
  height: 140px;
  color: #fff;
}
.cb-design-2 .cb-review-conclusion {
  float: left;
  width: calc(100% - 140px);
  padding-right: 30px;
}
.cb-design-2 .cb-review-conclusion-title {
  float: left;
  padding-bottom: 10px;
}
.cb-design-2 .cb-criteria-block-wrap {
  padding-top: 2px;
}
.cb-design-2 .cb-review-gallery a img {
  border-radius: 50%;
}
.cb-design-2 .cb-pros-cons-block {
  text-align: center;
}
.cb-design-2 .cb-pros-cons-block > div {
  width: 50%;
  float: left;
  padding-right: 10px;
}
.cb-design-2 .cb-aff-block {
  text-align: center;
}

.cb-design-2.cb-skin-version-2 .cb-criteria-block-wrap {
  color: #fff;
}
.cb-design-2.cb-skin-version-2 .cb-user-rating-block {
  color: #fff;
}
.cb-design-2.cb-skin-version-2 .cb-aff-button a {
  border: 0;
  background: #222;
  line-height: 45px;
  -webkit-transition: 0.35s ease background;
  transition: 0.35s ease background;
}
.cb-design-2.cb-skin-version-2 .cb-review-block {
  background: #181818;
}
.cb-design-2.cb-skin-version-2 .cb-aff-block {
  background: #111;
}
.cb-design-2.cb-skin-version-2 .cb-conclusion-block {
  background: #111;
}
.cb-design-2.cb-skin-version-2 .cb-title-block {
  background: #181818;
}
.cb-design-2.cb-skin-version-2 .cb-bar {
  border-bottom-color: transparent;
}
.cb-design-2.cb-skin-version-2 .cb-bar .cb-overlay {
  background: #232323;
}
.cb-design-2.cb-skin-version-2 .cb-user-rating-block .cb-votes-count {
  color: #fff;
}
.cb-design-2.cb-skin-version-2 .cb-aff-block .cb-aff-button a:hover {
  background: #2a2a2a;
}

.cb-design-2.cb-skin-version-1 .cb-user-rating-block .cb-votes-count {
  color: #181818;
}
.cb-design-2.cb-skin-version-1 .cb-aff-block .cb-aff-button a:hover {
  box-shadow: 3px 3px 0 #181818;
}
.cb-design-2.cb-skin-version-1 .cb-conclusion-block {
  background: #e9e9e9;
}
.cb-design-2.cb-skin-version-1 .cb-bar {
  border-bottom-color: transparent;
}
.cb-design-2.cb-skin-version-1 .cb-bar .cb-overlay {
  background: #e9e9e9;
}

.cb-design-2.cb-out-of-5 .cb-pros-cons-block {
  text-align: left;
}
.cb-design-2.cb-out-of-5 .cb-criteria-block-wrap {
  padding-top: 20px;
  background: #E9E9E9;
  color: #181818;
}
.cb-design-2.cb-out-of-5 .cb-criteria-block-wrap .cb-bar {
  padding: 0 20px;
}
.cb-design-2.cb-out-of-5 .cb-user-rating-block {
  padding-top: 20px;
}
.cb-design-2.cb-out-of-5 .cb-user-rating-block .cb-bar {
  padding: 0 20px;
}
.cb-design-2.cb-out-of-5 .cb-title-block {
  color: #fff;
}
.cb-design-2.cb-out-of-5 .cb-bar {
  margin-bottom: 25px;
  background: inherit;
}
.cb-design-2.cb-out-of-5 .cb-bar .cb-criteria {
  margin-left: 0;
}
.cb-design-2.cb-out-of-5 .cb-final-score .cb-bar {
  margin: 0;
}

.cb-design-2.cb-out-of-5.cb-skin-version-2 .cb-criteria-block-wrap {
  background: #181818;
  color: #fff;
}

/*------------------------------------------------------------------
[5. Design 3 - Modern ]
*/
.cb-design-3 .cb-review-block {
  color: #fff;
}
.cb-design-3 .cb-review-block a, .cb-design-3 .cb-review-block a:visited {
  color: #fff;
}
.cb-design-3 .cb-review-block {
  background: rgba(20, 20, 20, 0.8);
}
.cb-design-3 .cb-review-fi {
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.cb-design-3 .cb-pros-cons-block {
  text-align: center;
}
.cb-design-3 .cb-pros-cons-block > div {
  width: 50%;
  float: left;
  padding-right: 10px;
}
.cb-design-3 .cb-review-title {
  text-align: center;
  margin-bottom: 30px;
}
.cb-design-3 .cb-fi-block {
  margin-top: 30px;
}
.cb-design-3 .cb-score-box {
  background: #181818;
  border: 7px solid transparent;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin: 0 auto;
}
.cb-design-3 .cb-score-box:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.cb-design-3 .cb-conclusion-block {
  text-align: center;
  padding-bottom: 30px;
}
.cb-design-3 .cb-img-ani-1:before {
  color: #fff;
}
.cb-design-3 .cb-score-titles-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.cb-design-3 .cb-block-header {
  margin-bottom: 20px;
}
.cb-design-3 .cb-aff-block {
  text-align: center;
  padding-top: 0;
}
.cb-design-3 .cb-aff-block .cb-aff-button a {
  background: #fff;
  color: #222;
}
.cb-design-3 .cb-review-gallery img {
  border-radius: 50%;
}

.cb-design-3.cb-out-of-5 .cb-final-score {
  margin: 1em 0 0;
  font-size: 22px;
}
.cb-design-3.cb-out-of-5 .cb-final-score .cb-bar {
  font-size: 22px;
}
.cb-design-3.cb-out-of-5 .cb-final-score .cb-bar .cb-overlay {
  background: #181818 !important;
}

.cb-design-3.cb-out-of-5.cb-review-box-top-fs .cb-final-score {
  margin: 1em 0 0;
  font-size: 15px;
}
.cb-design-3.cb-out-of-5.cb-review-box-top-fs .cb-final-score .cb-bar {
  font-size: 15px;
}

.cb-design-3.cb-no-fi .cb-review-block {
  background: #181818;
}

.cb-rated .cb-bar {
  cursor: auto;
}

.cb-design-list-1 .cb-list-entry > div {
  float: left;
}
.cb-design-list-1 .cb-review-fi {
  width: 50px;
}
.cb-design-list-1 .cb-review-fi img {
  width: 100%;
}
.cb-design-list-1 .cb-review-summary {
  width: 30%;
}

.cb-aff-list img {
  margin: 0 !important;
}
.cb-aff-list .cb-pros-cons-block {
  padding-top: 20px;
}
.cb-aff-list .cb-countdown {
  display: inline-block;
}
.cb-aff-list .cb-review-pad {
  padding: 0 !important;
}
.cb-aff-list .cb-aff-block {
  padding-top: 20px !important;
}
.cb-aff-list .cb-review-block {
  background: transparent;
}
.cb-aff-list .cb-review-title {
  text-align: left;
}
.cb-aff-list .cb-list-entry {
  position: relative;
  float: left;
  width: 100%;
}
.cb-aff-list .cb-full-review {
  display: block;
  margin-top: 10px;
  text-decoration: none;
}
.cb-aff-list .cb-full-review i {
  margin-left: 10px;
}

.cb-aff-list.cb-design-1 .cb-countdown {
  display: inline-block;
  background: #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #fff;
  margin-right: 20px;
  line-height: 40px;
}
.cb-aff-list.cb-design-1 .cb-review-title {
  margin-bottom: 30px;
}
.cb-aff-list.cb-design-1 .cb-review-fi img {
  width: 100%;
}
.cb-aff-list.cb-design-1 .cb-review-text-summary {
  padding-bottom: 20px;
}
.cb-aff-list.cb-design-1 .cb-list-entry {
  padding: 30px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.cb-aff-list.cb-design-1 .cb-score-box {
  float: none;
}

.cb-aff-list.cb-design-3 .cb-countdown {
  background: white;
  display: inline-block;
  color: #000;
  padding: 0 15px;
  margin-right: 15px;
}
.cb-aff-list.cb-design-3 .cb-review-text-summary {
  padding-bottom: 20px;
}
.cb-aff-list.cb-design-3 .cb-list-entry {
  margin-bottom: 10px;
  padding: 30px;
}
.cb-aff-list.cb-design-3 .cb-review-fi:after {
  content: '';
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*------------------------------------------------------------------
[6. Design Top Small Version ]
*/
.cb-review-box-top-fs {
  margin: 0 0 30px 0;
  width: 100%;
  text-align: center;
  background: #f2f2f2;
  overflow: visible;
}
.cb-review-box-top-fs .cb-score-box {
  width: 140px;
  height: 140px;
  color: #fff;
  float: none !important;
  margin: 0 auto;
}
.cb-review-box-top-fs .cb-block-header {
  letter-spacing: 0;
}

/*------------------------------------------------------------------
[7. Animations]
*/
.cb-ani-type-1 .cb-bar .cb-overlay .cb-trigger {
  animation: cb-ani-type-1 2s;
  -webkit-animation: cb-ani-type-1 2s;
}
.cb-ani-type-1 .cb-bar .cb-overlay .cb-5-trigger {
  animation: cb-ani-type-2 2s;
  -webkit-animation: cb-ani-type-2 2s;
}

@keyframes cb-ani-type-1 {
  from {
    width: 0;
  }
}
@-webkit-keyframes cb-ani-type-1 {
  from {
    width: 0;
  }
}
@-moz-keyframes cb-ani-type-1 {
  from {
    width: 0;
  }
}
@keyframes cb-ani-type-2 {
  from {
    width: 100%;
  }
}
@-webkit-keyframes cb-ani-type-2 {
  from {
    width: 100%;
  }
}
@-moz-keyframes cb-ani-type-2 {
  from {
    width: 100%;
  }
}
@-moz-keyframes cb-ani-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes cb-ani-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes cb-ani-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.cb-ani-type-2 .cb-bar .cb-overlay span {
  opacity: 0;
  -webkit-transition: opacity 0.75s linear;
  transition: opacity 0.75s linear;
}
.cb-ani-type-2 .cb-bar .cb-overlay .cb-trigger {
  opacity: 1;
}
.cb-ani-type-2 .cb-bar .cb-overlay .cb-5-trigger {
  opacity: 0.75;
  background: inherit;
}

/*------------------------------------------------------------------
[8. Widget]
*/
.cb-full-overlay {
  width: 100%;
  height: 100%;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  line-height: 0;
}

.cb-widget-design-base .cb-format-1:after {
  margin-left: 2px;
  content: '%';
}
.cb-widget-design-base .cb-title {
  margin: 0;
  line-height: 1.5;
  font-size: 15px;
}

.cb-widget-design-1 {
  margin-bottom: 30px;
}
.cb-widget-design-1 .cb-score {
  float: right;
  font-weight: 700;
  color: #000;
  line-height: 1.5;
  font-size: 15px;
}
.cb-widget-design-1 .cb-score-bar {
  width: 100%;
  height: 15px;
  background: #fff;
  margin-top: 10px;
  clear: both;
  float: left;
}
.cb-widget-design-1 .cb-score-bar .cb-score-overlay {
  background: #f8d92f;
  height: 100%;
}
.cb-widget-design-1 .cb-title {
  float: left;
}

.cb-widget-design-2 {
  position: relative;
  margin-bottom: 1px;
  background: #000;
}
.cb-widget-design-2 .cb-meta {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  text-align: center;
}
.cb-widget-design-2 .cb-meta .cb-title a {
  color: #fff;
}
.cb-widget-design-2 .cb-meta .cb-title a:hover {
  color: #fff;
}
.cb-widget-design-2 .cb-format-1:after {
  font-size: 0.5em;
}
.cb-widget-design-2 .cb-mask {
  line-height: 0;
}
.cb-widget-design-2 img {
  opacity: 0.7;
  -webkit-transition: 0.3s opacity ease-in-out;
  transition: 0.3s opacity ease-in-out;
}
.cb-widget-design-2:hover img {
  opacity: 0.5;
}
.cb-widget-design-2 .cb-title {
  text-transform: uppercase;
}
.cb-widget-design-2 .cb-countdown {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  color: #000;
  height: 50px;
  width: 50px;
  line-height: 50px;
}
.cb-widget-design-2 .cb-final-score {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
}
.cb-widget-design-2 .cb-final-score .cb-score {
  font-size: 20px;
  line-height: inherit;
  height: 100%;
  z-index: 5;
  position: relative;
  font-weight: 700;
  color: #fff;
}
.cb-widget-design-2 .cb-final-score .cb-score-subtitle {
  font-size: 9px;
  z-index: 5;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.cb-widget-design-2 .cb-no-sub .cb-score {
  line-height: 70px;
  height: 70px;
}

.cb-widget-design-2.cb-fi-off {
  height: 240px;
  background: #222;
}
.cb-widget-design-2.cb-fi-off:before {
  font-family: 'FontAwesome';
  content: '\f005';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #fff;
}

.cb-widget-design-3 {
  margin-bottom: 20px;
}
.cb-widget-design-3 .cb-mask {
  position: relative;
  float: left;
  margin-right: 20px;
}
.cb-widget-design-3 .cb-meta {
  float: left;
}
.cb-widget-design-3 .cb-final-score {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  width: 40px;
  height: 40px;
}
.cb-widget-design-3 .cb-score {
  font-size: 12px;
  line-height: 40px;
  color: #fff;
  z-index: 5;
  position: relative;
  font-weight: 700;
}

.cb-widget-design-3.cb-fi-off .cb-mask, .cb-widget-design-4.cb-fi-off .cb-mask {
  height: 60px;
  width: 90px;
  background: #222;
}
.cb-widget-design-3.cb-fi-off .cb-mask:before, .cb-widget-design-4.cb-fi-off .cb-mask:before {
  font-family: 'FontAwesome';
  content: '\f005 ';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #fff;
}

.cb-widget-design-4 {
  margin-bottom: 20px;
}
.cb-widget-design-4 .cb-mask {
  position: relative;
  float: left;
  margin-right: 20px;
}
.cb-widget-design-4 .cb-meta {
  float: left;
}
.cb-widget-design-4 .cb-overlay {
  display: inline-block;
  width: auto;
  float: left;
  position: relative;
  background: inherit !important;
  height: 100% !important;
  margin-top: 5px;
}
.cb-widget-design-4 .cb-overlay span {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.75;
  background: #fff;
  height: 100%;
}
.cb-widget-design-4 i {
  margin-right: 2px;
  font-size: 18px;
}

.cb-score-bg {
  opacity: 0.9;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

/*------------------------------------------------------------------
[9. Ext]
*/
/* 
 * Tipper v3.1.0 - 2014-11-25 
 * A jQuery plugin for simple tooltips. Part of the formstone library. 
 * http://formstone.it/tipper/ 
 * 
 * Copyright 2014 Ben Plum; MIT Licensed 
 */
.tipper {
  width: 1px;
  height: 1px;
  position: absolute;
  top: -999px;
  left: -999px;
  z-index: 100;
  margin-top: 20px;
  opacity: 0;
  pointer-events: none;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 10px;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.tipper * {
  -webkit-transition: none;
  transition: none;
}

.tipper,
.tipper * {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.tipper.visible {
  opacity: 1;
}

.tipper .tipper-content {
  background: #161616;
  border-radius: 3px;
  color: #ffffff;
  display: block;
  float: left;
  margin: 0;
  padding: 10px 15px;
  position: relative;
  white-space: nowrap;
}

.tipper .tipper-caret {
  width: 0;
  height: 0;
  content: '';
  display: block;
  margin: 0;
  position: absolute;
}

.tipper.right .tipper-content {
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.35);
}

.tipper.right .tipper-caret {
  top: 0;
  left: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #111111;
}

.tipper.left .tipper-content {
  box-shadow: -1px 0 5px rgba(0, 0, 0, 0.35);
}

.tipper.left .tipper-caret {
  top: 0;
  right: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #111111;
}

.tipper.top .tipper-caret,
.tipper.bottom .tipper-caret {
  display: block;
  float: none;
  margin: 0 auto;
}

.tipper.top .tipper-content {
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.35);
}

.tipper.top .tipper-caret {
  bottom: -5px;
  left: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #111111;
}

.tipper.bottom .tipper-content {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
}

.tipper.bottom .tipper-caret {
  top: -5px;
  left: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #111111;
}

/*! Swipebox v1.3.0 | Constantin Saguin csag.co | MIT License | github.com/brutaldesign/swipebox */
html.swipebox-html.swipebox-touch {
  overflow: hidden !important;
}

#swipebox-overlay img {
  border: none !important;
}

#swipebox-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999 !important;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#swipebox-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#swipebox-slider {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  white-space: nowrap;
  position: absolute;
  display: none;
  cursor: pointer;
}

#swipebox-slider .slide {
  height: 100%;
  width: 100%;
  line-height: 1px;
  text-align: center;
  display: inline-block;
}

#swipebox-slider .slide:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px;
}

#swipebox-slider .slide img,
#swipebox-slider .slide .swipebox-video-container,
#swipebox-slider .slide .swipebox-inline-container {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  vertical-align: middle;
}

#swipebox-slider .slide .swipebox-video-container {
  background: none;
  max-width: 1140px;
  max-height: 100%;
  width: 100%;
  padding: 5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#swipebox-slider .slide .swipebox-video-container .swipebox-video {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
}

#swipebox-slider .slide .swipebox-video-container .swipebox-video iframe {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}

#swipebox-slider .slide-loading {
  background: url(../img/loader.gif) no-repeat center center;
}

#swipebox-bottom-bar,
#swipebox-top-bar {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  left: 0;
  z-index: 999;
  height: 50px;
  width: 100%;
}

#swipebox-bottom-bar {
  bottom: -50px;
}

#swipebox-bottom-bar.visible-bars {
  -webkit-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, -50px, 0);
}

#swipebox-top-bar {
  top: -50px;
}

#swipebox-top-bar.visible-bars {
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
}

#swipebox-title {
  display: block;
  width: 100%;
  text-align: center;
}

#swipebox-prev,
#swipebox-next,
#swipebox-close {
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  border: none !important;
  text-decoration: none !important;
  cursor: pointer;
  width: 50px;
  height: 50px;
  top: 0;
}

#swipebox-arrows {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 50px;
}

#swipebox-prev {
  background-position: -32px 13px;
  float: left;
}

#swipebox-next {
  background-position: -78px 13px;
  float: right;
}

#swipebox-close {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 9999;
  background-position: 15px 12px;
}

.swipebox-no-close-button #swipebox-close {
  display: none;
}

#swipebox-prev.disabled,
#swipebox-next.disabled {
  opacity: 0.3;
}

.swipebox-no-touch #swipebox-overlay.rightSpring #swipebox-slider {
  -webkit-animation: rightSpring 0.3s;
  animation: rightSpring 0.3s;
}

.swipebox-no-touch #swipebox-overlay.leftSpring #swipebox-slider {
  -webkit-animation: leftSpring 0.3s;
  animation: leftSpring 0.3s;
}

.swipebox-touch #swipebox-container:before, .swipebox-touch #swipebox-container:after {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  content: ' ';
  position: absolute;
  z-index: 999;
  top: 0;
  height: 100%;
  width: 20px;
  opacity: 0;
}

.swipebox-touch #swipebox-container:before {
  left: 0;
  -webkit-box-shadow: inset 10px 0px 10px -8px #656565;
  box-shadow: inset 10px 0px 10px -8px #656565;
}

.swipebox-touch #swipebox-container:after {
  right: 0;
  -webkit-box-shadow: inset -10px 0px 10px -8px #656565;
  box-shadow: inset -10px 0px 10px -8px #656565;
}

.swipebox-touch #swipebox-overlay.leftSpringTouch #swipebox-container:before {
  opacity: 1;
}

.swipebox-touch #swipebox-overlay.rightSpringTouch #swipebox-container:after {
  opacity: 1;
}

@-webkit-keyframes rightSpring {
  0% {
    left: 0;
  }
  50% {
    left: -30px;
  }
  100% {
    left: 0;
  }
}
@keyframes rightSpring {
  0% {
    left: 0;
  }
  50% {
    left: -30px;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes leftSpring {
  0% {
    left: 0;
  }
  50% {
    left: 30px;
  }
  100% {
    left: 0;
  }
}
@keyframes leftSpring {
  0% {
    left: 0;
  }
  50% {
    left: 30px;
  }
  100% {
    left: 0;
  }
}
@media screen and (min-width: 800px) {
  #swipebox-close {
    right: 10px;
  }

  #swipebox-arrows {
    width: 92%;
    max-width: 800px;
  }
}
/* Skin 
--------------------------*/
#swipebox-slider {
  height: calc(100% - 100px);
  top: 50px;
  cursor: auto;
}

#swipebox-overlay {
  background: rgba(255, 255, 255, 0.9);
}

#swipebox-top-bar {
  line-height: 50px;
}

#swipebox-prev,
#swipebox-next,
#swipebox-close {
  cursor: pointer;
  width: 50px;
  height: 50px;
  top: 0;
  background: none;
  color: #181818;
  display: inline-block;
  font: normal normal normal 40px/50px FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

#swipebox-close {
  margin-right: 10px;
}

#swipebox-close:after {
  content: "\f105";
  margin-left: -24px;
}

#swipebox-close:before {
  content: "\f104";
}

#swipebox-prev:after {
  content: "\f104";
}

#swipebox-next:after {
  content: "\f105";
}

#swipebox-prev.disabled, #swipebox-next.disabled {
  opacity: 0.6;
}

#swipebox-slider .slide-loading {
  background: none;
}

#swipebox-slider .slide-loading:after {
  margin: 0 auto;
  border: 3px solid rgba(255, 255, 255, 0);
  border-bottom: 3px solid #000;
  border-left: 3px solid #000;
  -webkit-animation: cb-ani-rotate 1s infinite linear;
  animation: cb-ani-rotate 1s infinite linear;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: block;
  content: "";
}

#swipebox-bottom-bar.visible-bars {
  -ms-transform: translate3d(0, -50px, 0);
}

#swipebox-top-bar.visible-bars {
  -ms-transform: translate3d(0, 50px, 0);
}

@media only screen and (max-width: 480px) {
  .cb-aff-list.cb-design-1 .cb-review-fi {
    width: 30px;
    margin-right: 20px;
  }
  .cb-aff-list.cb-design-1 .cb-pros-cons-block {
    padding-left: 0 !important;
  }
  .cb-aff-list.cb-design-1 .cb-review-summary {
    float: none !important;
  }
}
@media only screen and (min-width: 481px) {
  /*------------------------------------------------------------------
  [10. Design Top Small Version ]
  */
  .cb-review-box-top-fs {
    float: left;
    margin: 0 30px 30px 0;
    min-width: 40%;
    width: auto;
  }
}
@media only screen and (min-width: 768px) {
  /*------------------------------------------------------------------
  [11. Design 1 - Minimalist ]
  */
  .cb-design-1 .cb-score-box {
    float: right;
  }
  .cb-design-1 .cb-pros-cons-block {
    width: calc(100% - 140px);
    float: left;
    text-align: left;
  }
}
@media only screen and (max-width: 1019px) {
  .cb-aff-list.cb-design-1 .cb-aff-block {
    float: left;
    width: 100%;
  }
  .cb-aff-list.cb-design-1 .cb-pros-cons-block {
    padding-left: 20px;
  }
  .cb-aff-list.cb-design-1 .cb-review-summary {
    float: left;
  }
}
@media only screen and (min-width: 1020px) {
  /*------------------------------------------------------------------
  [12. Review Base Output ]
  */
  .cb-skin-base .cb-review-pad {
    padding: 30px;
  }
  .cb-skin-base .cb-review-title {
    font-size: 24px;
  }

  .cb-design-3 .cb-review-pad {
    padding: 60px 30px;
  }
  .cb-design-3 .cb-review-pad-no-top {
    padding: 0 30px 60px;
  }
  .cb-design-3 .cb-gallery-block {
    padding-bottom: 30px;
  }
  .cb-design-3 .cb-aff-block {
    padding-top: 0;
  }

  .cb-design-2 .cb-title-block {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .cb-design-2.cb-out-of-5 .cb-criteria-block .cb-bar {
    padding: 0 30px;
  }
  .cb-design-2.cb-out-of-5 .cb-criteria-block-wrap {
    padding-top: 30px;
  }
  .cb-design-2.cb-out-of-5 .cb-user-rating-block {
    padding-top: 25px;
  }
  .cb-design-2.cb-out-of-5 .cb-user-rating-block .cb-bar {
    padding: 0 30px;
  }

  .cb-aff-list.cb-design-3 .cb-pros-cons-block {
    text-align: left;
  }
  .cb-aff-list.cb-design-3 .cb-pros-cons-block .cb-cons, .cb-aff-list.cb-design-3 .cb-pros-cons-block .cb-pros {
    width: 50%;
    float: left;
  }
  .cb-aff-list.cb-design-3 .cb-review-summary {
    width: 50%;
    float: left;
  }
  .cb-aff-list.cb-design-3 .cb-review-text-summary {
    width: 50%;
    float: left;
    padding-bottom: 0;
  }

  .cb-aff-list.cb-design-1 .cb-review-fi {
    width: 140px;
    margin-right: 30px;
  }
  .cb-aff-list.cb-design-1 .cb-pros-cons-block {
    text-align: left;
    width: 50%;
  }
  .cb-aff-list.cb-design-1 .cb-pros-cons-block .cb-cons, .cb-aff-list.cb-design-1 .cb-pros-cons-block .cb-pros {
    width: 50%;
    float: left;
  }
  .cb-aff-list.cb-design-1 .cb-review-summary {
    width: 140px;
    float: left;
  }
  .cb-aff-list.cb-design-1 .cb-aff-block {
    width: 50%;
    float: left;
  }
  .cb-aff-list.cb-design-1 .cb-pros-cons-on .cb-aff-block {
    text-align: left;
  }
  .cb-aff-list.cb-design-1 .cb-pros-cons-off .cb-aff-block {
    text-align: right;
  }
  .cb-aff-list.cb-design-1 .cb-review-text-summary {
    width: calc( 100% - 310px );
    padding-right: 30px;
    float: left;
    padding-bottom: 0;
  }
  .cb-aff-list.cb-design-1 .cb-review-aff-summary {
    float: left;
    width: 100%;
  }

  /*------------------------------------------------------------------
  [13. Ext]
  */
  #swipebox-close:before {
    font-size: 40px;
  }

  #swipebox-close:after {
    font-size: 40px;
    margin-left: -24px;
  }

  #swipebox-close {
    margin-right: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  /*------------------------------------------------------------------
  [14. Top half-width design]
  */
  .cb-location-5 {
    width: 50%;
    float: left;
    margin-right: 30px;
  }

  .cb-location-5.cb-design-1 .cb-pros-cons-block {
    width: 100%;
    float: none;
    text-align: center;
  }
  .cb-location-5.cb-design-1 .cb-pros-cons-block > div {
    padding-right: 0;
  }
  .cb-location-5.cb-design-1 .cb-score-box {
    float: none;
    margin: 20px auto 0;
  }
  .cb-location-5.cb-design-1 .cb-user-rating-block {
    text-align: center;
  }
  .cb-location-5.cb-design-1 .cb-user-rating-block .cb-criteria {
    position: relative;
    display: block;
  }
  .cb-location-5.cb-design-1 .cb-user-rating-block .cb-overlay {
    float: none;
  }

  .cb-location-5.cb-design-2 .cb-score-box {
    float: none;
    margin: 0 auto 20px;
  }
  .cb-location-5.cb-design-2 .cb-review-pad {
    padding: 20px;
  }
  .cb-location-5.cb-design-2 .cb-review-conclusion {
    width: 100%;
    padding-right: 0;
  }
  .cb-location-5.cb-design-2 .cb-review-fi {
    margin-right: 15px;
  }
  .cb-location-5.cb-design-2 .cb-pros-cons-block {
    text-align: center;
  }

  .cb-location-5.cb-design-2.cb-out-of-5 .cb-user-rating-block {
    text-align: center;
  }
  .cb-location-5.cb-design-2.cb-out-of-5 .cb-user-rating-block .cb-criteria {
    position: relative;
    display: block;
  }
  .cb-location-5.cb-design-2.cb-out-of-5 .cb-user-rating-block .cb-overlay {
    float: none;
  }
}
