/* *************************************************** */
/* Remove padding/margin of empty < p > elements       */
/* *************************************************** */
.article.body
> p:empty {
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0 !important; }

/* *************************************************** */
/* Virool Ad Player 'Advertisment' Element CSS Tweaks  */
/* *************************************************** */
#lifezette_embed_ad ~ div {
  margin: 0; }
  #lifezette_embed_ad ~ div > p {
    /*margin-bottom: 0.5em; */
    text-transform: uppercase;
    font-size: 10px !important;
    color: #5e5e5e;
    width: 598px; }
    #lifezette_embed_ad ~ div > p + iframe {
      /*margin: 0;*/ }

/* *************************************************** */
/* Related Items 'Box'                                 */
/* *************************************************** */
ul.lifezette-related-items, .lifezette-related-items {
  font-family: UtopiaStd-Bold, Georgia, serif;
  font-size: 1.5em;
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul.lifezette-related-items:before, .lifezette-related-items:before {
    font-family: UtopiaStd-Bold, Georgia, serif;
    content: attr(data-header);
    padding: 1.47em 2.125em 1.5em;
    font-size: 0.65em;
    font-weight: bold;
    color: #000000;
    letter-spacing: 0.072em;
    line-height: 1.47em;
    line-height: 0.9em;
    border-top: 3px solid #1a1a1a;
    background-image: url("../i/icon-link/icon-link-18x20-b.png");
    background-position: 0 0.72em;
    background-repeat: no-repeat;
    display: block; }
  ul.lifezette-related-items:after, .lifezette-related-items:after {
    content: "";
    border-top: 1px solid #EAEAEA;
    display: block; }
  ul.lifezette-related-items > li, .lifezette-related-items > li {
    list-style-type: none;
    padding: 0 1.47em 0.87em; }
    ul.lifezette-related-items > li:last-child, .lifezette-related-items > li:last-child {
      background-color: 'inherit'; }
    ul.lifezette-related-items > li h5,
    ul.lifezette-related-items > li h5 > a,
    ul.lifezette-related-items > li .lifezette-related-items-head, .lifezette-related-items > li h5,
    .lifezette-related-items > li h5 > a,
    .lifezette-related-items > li .lifezette-related-items-head {
      font-family: inherit;
      font-style: normal;
      font-weight: bold;
      font-size: 0.975em;
      /* color: #000000 */
      line-height: 1.25em; }
    ul.lifezette-related-items > li h6,
    ul.lifezette-related-items > li h6 > a,
    ul.lifezette-related-items > li .lifezette-related-items-subhead, .lifezette-related-items > li h6,
    .lifezette-related-items > li h6 > a,
    .lifezette-related-items > li .lifezette-related-items-subhead {
      font-family: inherit;
      font-style: italic;
      font-size: 0.975em;
      /* color: #666666 ! important; */
      line-height: 1.1em; }
  ul.lifezette-related-items.pull-right, .lifezette-related-items.pull-right {
    margin-left: 30px; }
  ul.lifezette-related-items.pull-center, ul.lifezette-related-items.pull-middle, .lifezette-related-items.pull-center, .lifezette-related-items.pull-middle {
    margin-right: auto;
    margin-left: auto; }
  ul.lifezette-related-items.pull-left, .lifezette-related-items.pull-left {
    margin-right: 30px !important; }
  ul.lifezette-related-items.header-right:before, .lifezette-related-items.header-right:before {
    background-position-x: right;
    text-align: right; }

/* *************************************************** */
/* lz_third_party Styles                               */
/* *************************************************** */
.lz_third_party {
  margin: 15px 0; }
  .lz_third_party .lz-tp-header {
    padding: 9px 5px;
    line-height: 16px;
    font-family: Utopia !important;
    font-size: 20px !important;
    font-style: italic !important; }
  .lz_third_party .lz-tp-caption {
    font-size: 13px;
    font-family: Arial, Georgia, "Times New Roman", Times;
    padding: 9px 5px;
    line-height: 16px;
    border-bottom: 1px solid #eee; }
  .lz_third_party .lz-tp-footnote {
    font-size: 11px;
    color: gray;
    font-family: Arial, Georgia, "Times New Roman", Times;
    padding-top: 9px;
    line-height: 12px;
    text-align: left;
    font-style: italic; }

.lz_third_party.pull-left .lz-tp-header,
.lz_third_party.pull-right .lz-tp-header {
  max-width: 285px !important; }
.lz_third_party.pull-left .lz-tp-caption,
.lz_third_party.pull-right .lz-tp-caption {
  max-width: 285px !important; }
.lz_third_party.pull-left .lz-tp-footnote,
.lz_third_party.pull-right .lz-tp-footnote {
  max-width: 285px !important; }
