﻿div.menu-container {
    float: left;
    min-height: 68px;
    width: auto;
    font-family: 'open_sanssemibold';
}

    div.menu-container ul {
        text-decoration: none;
        list-style: none;
    }

    div.menu-container > ul > li {
        cursor: pointer;
    }

    div.menu-container > ul {
        padding: 0;
        margin: 0;
    }

    div.menu-container .menu-items-level-1 {
        float: left;
        border-left: 1px solid #d0d4d7;
        font-size: 15px;
        line-height: 48px;
        position: relative;
        padding: 10px 0;
    }

        div.menu-container .menu-items-level-1:first-child {
            border-left: 0 solid transparent !important;
        }

        div.menu-container .menu-items-level-1.all-products > a {
            color: #47434b !important;
        }

            div.menu-container .menu-items-level-1.all-products > a:hover {
                color: #000000 !important;
            }

        div.menu-container .menu-items-level-1.all-products:hover .menu-items-container {
            display: block !important;
        }

        div.menu-container .menu-items-level-1.all-products .fa {
            padding-left: 10px;
        }

        div.menu-container .menu-items-level-1 > a {
            color: #6b676f;
            text-decoration: none;
            padding: 0 30px;
        }

        div.menu-container .menu-items-level-1.lvl1-sponsor {
        }

            div.menu-container .menu-items-level-1.lvl1-sponsor > a {
                display: block;
                height: 48px;
            }

                div.menu-container .menu-items-level-1.lvl1-sponsor > a > span {
                    display: none;
                }

        div.menu-container .menu-items-level-1 .menu-items-container {
            display: none;
        }


        div.menu-container .menu-items-level-1 .menu-items-container {
            background-color: #fff;
            border-bottom: 1px solid #d3d3d3;
            border-left: 1px solid #d3d3d3;
            -ms-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 0 5px #afafaf;
            -ms-box-shadow: 0 0 5px #afafaf;
            box-shadow: 0 0 5px #afafaf;
            left: 0;
            padding: 9px;
            position: absolute;
            top: 65px;
        }

            div.menu-container .menu-items-level-1 .menu-items-container::before {
                -moz-border-bottom-colors: none;
                -moz-border-left-colors: none;
                -moz-border-right-colors: none;
                -moz-border-top-colors: none;
                border-color: transparent transparent #ffffff;
                -webkit-border-image: none;
                -moz-border-image: none;
                -ms-border-image: none;
                -o-border-image: none;
                border-image: none;
                border-style: solid;
                border-width: 7px;
                content: "";
                left: 147px;
                position: absolute;
                top: -12px;
            }

            div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 {
                background-color: #eceded;
                padding: 30px 0;
            }

                div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 > ul {
                    padding: 0 0 0 5px;
                    margin: 0;
                }

                    div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 > ul > li {
                        padding: 5px 10px;
                        line-height: 20px;
                    }

                        div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 > ul > li:hover,
                        div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 > ul > li.active {
                            background-color: #6b676f;
                            color: #ffffff;
                            -ms-border-radius: 3px 0 0 3px;
                            border-radius: 3px 0 0 3px;
                        }

                        div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 > ul > li > a {
                            font-size: 12px;
                            color: #6b676f;
                            text-decoration: none;
                            width: 175px;
                            display: block;
                            position: relative;
                        }

                        div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 > ul > li:hover > a,
                        div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 > ul > li.active > a {
                            color: #ffffff;
                        }

                        div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 > ul > li > a > i {
                            display: none;
                            position: absolute;
                            right: 5px;
                            top: 1px;
                            font-size: 18px;
                        }

                        div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 > ul > li:hover > a > i,
                        div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 > ul > li.active > a > i {
                            color: #ffffff;
                            display: inline-block;
                        }

                        div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 > ul > li.new-year {
                            width: 150px;
                            height: 39px;
                            background:transparent url("/Content/teknosa/menu/images/new-year-menu.png") no-repeat center 10px;
                            display: block;
                            text-indent: -77777px;
                            margin-top: 0;
                        }

                        div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 > ul > li.new-year a {
                            height: 39px;
                        }

                        div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 > ul > li.new-year i {
                            display: none;
                        }


                        div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 > ul > li.valentine-day {
                            width: 151px;
                            height: 43px;
                            background:transparent url("/Content/teknosa/menu/images/valentine-day.png") no-repeat center 10px;
                            display: block;
                            text-indent: -77777px;
                            margin-top: 0;
                        }


                        div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 > ul > li.disney {
                            width: 90px;
                            height: 44px;
                            background:transparent url("/Content/teknosa/menu/images/disney-logo.png") no-repeat center 10px;
                            display: block;
                            text-indent: -77777px;
                            margin-top: 0;
                        }

                        div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 > ul > li.valentine-day a {
                            height: 43px;
                        }

                        div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 > ul > li.valentine-day i {
                            display: none;
                        }


                div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 .style1 {
                    width: 215px !important;
                }

                div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 .style2 {
                    width: 449px !important;
                }

                div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 .style3 {
                    width: 270px !important;
                }

                div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 .style1.style2 {
                    width: 644px !important;
                }

                div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 .style1.style3 {
                    width: 465px !important;
                }

                div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 .style2.style3 {
                    width: 699px !important;
                }

                div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 .style1.style2.style3 {
                    width: 884px !important;
                }

                div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 .menu-items-level-3 {
                    background-color: #fff;
                    border-color: #d3d3d3 #d3d3d3 #d3d3d3;
                    -ms-border-radius: 0 5px 5px 0;
                    border-radius: 0 5px 5px 0;
                    border-style: solid;
                    border-width: 0 1px 1px 0;
                    -webkit-box-shadow: 3px 0 5px #afafaf;
                    -ms-box-shadow: 3px 0 5px #afafaf;
                    box-shadow: 3px 0 5px #afafaf;
                    display: none;
                    left: 205px;
                    min-height: 100%;
                    overflow: hidden;
                    position: absolute;
                    top: 0;
                }

                div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 > ul > li:hover .menu-items-level-3,
                div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 > ul > li.active .menu-items-level-3 {
                    display: block !important;
                }

                div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 .menu-items-level-3 > div {
                    padding: 10px;
                }

                div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 .menu-items-level-3 .sponsors {
                    width: 240px;
                }

                div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 .menu-items-level-3 .menu-item-list {
                    width: 195px;
                }

                    div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 .menu-items-level-3 .menu-item-list ul {
                        padding: 10px;
                    }

                        div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 .menu-items-level-3 .menu-item-list ul > li {
                            height: 30px;
                        }

                    div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 .menu-items-level-3 .menu-item-list > ul > li > a {
                        color: #6b676f;
                        font-size: 13px;
                        display: block;
                        padding: 0;
                        text-decoration: none;
                    }

                    div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 .menu-items-level-3 .menu-item-list > ul > li:hover > a {
                        color: #ef7e20 !important;
                    }

                div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 .menu-items-level-3 .image-menu-item-list {
                    width: 429px;
                    margin-top: 10px;
                }

                    div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 .menu-items-level-3 .image-menu-item-list ul {
                        padding: 10px;
                    }

                        div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 .menu-items-level-3 .image-menu-item-list ul > li.image-link {
                            float: left;
                            width: 124px;
                            margin: 0 10px 0 0;
                            text-align: center;
                            font-size: 11px;
                            height: 150px;
                        }

                            div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 .menu-items-level-3 .image-menu-item-list ul > li.image-link:hover > a > div {
                                border: 1px solid #ef7e20;
                            }

                        div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 .menu-items-level-3 .image-menu-item-list ul > li > a > div {
                            border: 1px solid #e9e9e9;
                            -ms-border-radius: 3px;
                            border-radius: 3px;
                            margin-bottom: 5px;
                        }

                        div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 .menu-items-level-3 .image-menu-item-list ul > li img {
                            width: 122px;
                            display: block;
                        }

                    div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 .menu-items-level-3 .image-menu-item-list > ul > li > a {
                        color: #6b676f;
                        font-size: 11px;
                        display: block;
                        padding: 0;
                        text-decoration: none;
                        line-height: 15px;
                    }

                    div.menu-container .menu-items-level-1 .menu-items-container .menu-items-level-2 .menu-items-level-3 .image-menu-item-list > ul > li:hover > a {
                        color: #ef7e20 !important;
                    }


    div.menu-container .firsat-urunleri {
        color: #e11a00;
        background-image: url("/Content/teknosa/menu/images/firsat-menu-icon.png");
        background-position: 7px 3px;
        background-repeat: no-repeat;
        padding-left: 24px;
    }

        div.menu-container .firsat-urunleri a {
            color: #e11a00 !important;
        }
