body 
{
  margin: 0;
  padding: 0;
	color: black;
 	font-family: Arial, Verdana, sans-serif;
	font-size: 9pt;
  background: #FFFFFF;
}
td
{
 	font-family: Arial, Verdana, sans-serif;
	font-size: 9pt;
	padding:0;
	border:0;
}
input 
{
 	font-family: Arial, Verdana, sans-serif;
	font-size: 9pt;
}

table
{
  border-collapse: collapse;
}

hr
{
	color: #FFA80D;
	width: 100%;
	height: 1px;
	background: #FFA80D;
	border-style: solid;
}

.grayHR
{
	color: #D8DADF;
	background: #D8DADF;
	border-style: solid;
}

img
{
	border:0;
}


a:link,
a:visited,
a:active
{
  color:blue;
  background:transparent;
  text-decoration:underline;
}

a:hover
{
  color:blue;
  background:transparent;
  text-decoration:none;
}

.accordion
{
  position: absolute;
	width: 135px;
	max-width: 134px;
	background: #FFFFFF;
  cursor:pointer;
  border-right:1px solid #CECFCE;
}

.accordionHeader
{
	padding-left: 15px;
  border-top:1px solid #CECFCE;
  border-left:1px solid #CECFCE;
}

.accordionContent
{
	margin-left: 5px;
	margin-right: 5px;
	background: #FFFFFF;
	color: #636B80;
	width: 124px;
	padding-bottom:10px;
}
.accordionContent a:link,
.accordionContent a:visited,
.accordionContent a:active
{
  text-decoration:none;
}
.accordionContent a:hover
{
  text-decoration:underline;
}
.accordionContent img
{
	margin-right: 5px;
}
.accordionContentPanel
{
	overflow: hidden;
	display: none;
}
.sectionalHeader
{
	background: #353F53;
	color: #FFFFFF;
 	font-family: Hallmarke Condensed Light, Arial, Verdana, sans-serif;
	font-size: 12pt;
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
  border-left:3px solid #FFA80D;
}

.sectionalHeader a:link,
.sectionalHeader a:visited,
.sectionalHeader a:active
{
  color:#FFFFFF;
}

.sectionalHeader a:hover
{
  color:#FFFFFF;
}

.header
{
	color: #1A1A1A;
 	font-family: Hallmarke Condensed Light, Arial, Verdana, sans-serif;
	font-size: 13pt;
	font-weight: bold;
}

.header a:link,
.header a:visited,
.header a:active,
.header a:hover
{
  color:#353F53;
}

.subHeader1
{
	color: #353F53;
 	font-family: Arial, Verdana, sans-serif;
	font-size: 12pt;
	font-weight: bold;
}

.subHeader2
{
 	font-family: Arial, Verdana, sans-serif;
	font-size: 12pt;
}

.smallHeader
{
	color: #353F53;
	font-weight: bold;
}

.boxSummaryStats2
{
  background: #F9FAFB;
  color : #555555;
  padding : 2px;
  margin: 2px;
  border-color : silver;
  border-style : solid;
  border-width : 1px;
}
#footerContent
{
	font-size: 8pt;
}

.greyBackgroundHeader
{
	background: #E7E8EC;
	color: #353F53;
 	font-family: Arial, Verdana, sans-serif;
	font-size: 11pt;
	padding: 2px;
	padding-left: 5px;
}

.errortext
{
	font-weight: bold;
	color: red;
}

.codeshareIndicator
{
	font-weight: bold; 
	font-size:11pt; 
	color:#000000;
}

.bulletedList
{
	type:disc; 
	margin:0; 
	margin-left:0; 
	padding:0;
}

.bulletedList li
{
	margin-bottom:5px;
	padding-bottom:0px;
}
.contactEmail img
{
	vertical-align:middle;
}
