
/* START: Accessability shortcut keys style*******************************************************************************/
.access_keys {
	position: absolute;
	left: -1000px;
	top: -1000px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
/* END: Accessability shortcut keys style*******************************************************************************/
/* START: DEFAULT*******************************************************************************/
html {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	position: relative;
}
body {
	background: #ffffff;
	margin: 0;
	padding: 0;
	color: #fff;
	font-family:  Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 12px;
}
#body_wrap {
	background: #e5e5e5;
	position: relative;
	height: 100%;
	padding: 0;
}
/* END: DEFAULT*******************************************************************************/
/* START: CET HEADER*******************************************************************************/
#crRibbon {
	background: #ffffff;
	border-bottom: 1px solid #1f1f1f;
	font-family: Tahoma,"Lucida Grande CE",lucida,sans-serif;
	color: #000000;
	font-size: 11px;
	height: 22px;
	margin: 0;
	padding: 0;
	min-width: 1000px;
	width: 100%;
}
#crRibbon .clear {
	height: auto;
	line-height: 0;
}
#ribbonProject {
	margin: 3px 0 0 10px;
	padding: 0;
	height: 19px;
	float: left;
}
#ribbonProject li {
	margin: 0 8px 0 0;
	padding: 0;
	display: block;
	float: left;
}
#ribbonProject li a {
	display: block;
	margin: 0;
	padding: 1px 0 0 18px;
	height: 15px;
	background: url(/static/cz/shared/img/ribbon_icons.png?r=160001) no-repeat;
	color: #000;
	text-decoration: none;
}

#ribbonProject li#ribbonTn a { background-position: 0 0; padding-left: 22px; }
#ribbonProject li#ribbonRednews a { background-position: 0 -160px; }
#ribbonProject li#ribbonFanda a { background-position: 0 -240px; padding: 1px 0 0 21px; }
#ribbonProject li#ribbonNova a { background-position: 0 -16px; }
#ribbonProject li#ribbonVoyo a { background-position: 0 -32px; }
#ribbonProject li#ribbonBlog a { background-position: 0 -48px;  }
#ribbonProject li#ribbonGalerie a { background-position: 0 -64px; }
#ribbonProject li#ribbonDoma a { background-position: 0 -80px; }
#ribbonProject li#ribbonKrasna a { background-position: 0 -96px; }
#ribbonProject li#ribbonPokerfan a { background-position: 0 -112px; }
#ribbonProject li#ribbonDobyvatel a { background-position: 0 -128px; }
#ribbonProject li#ribbonVybereme a { background-position: 0 -144px; }
#ribbonProject li#ribbonICQ a {	background-position: 0 -176px; }
#ribbonProject li#ribbonCinema a {	background-position: 0 -206px; }
#ribbonProject li#ribbonPrask a {	background-position: 0 -224px; }
#ribbonProject li#ribbonMediafax a {	background-position: 0 -259px; padding-left: 20px; }
#ribbonProject li#ribbonNovaPlus a {	background: url(/static/cz/shared/img/ribbon_ico_novaplus.gif) 0 1px no-repeat; }

#ribbonProject li.new a {	padding: 1px 44px 0 18px; }

#ribbonProject li.new {
	background: url(/static/cz/shared/img/ribbon_icons.png?r=160001) 100% -192px no-repeat;
}

#ribbonProject a.active, .ribbonActive a {
	font-weight: bold;
}

#ribbonProject li a span {
	text-decoration: underline;
}
#ribbonProject li a:hover span {
	text-decoration: none;
}

#crRibbon .login_status {
	margin: 4px 10px 0 0;
	padding: 0;
	height: 18px;
	float: right;
	text-align: right;
}
#crRibbon .login_status a {
	padding: 0;
	color: #000000;
	text-decoration: underline;
}
#crRibbon .login_status a:hover {
	text-decoration: none;
}
#crRibbon .login_status .raquo {
	color: #0d9521;
	font-weight: bold;
	font-family:  Verdana, Geneva, Helvetica, sans-serif;
	font-size: 9px;
	display: inline;
}
#crRibbon .user_display_when_loggedin .raquo {
	color: #c20018;
}
/* END: CET HEADER*******************************************************************************/

/* START: NOVA HEADER*******************************************************************************/
#nova_header {
	width: 1000px;
	margin: 0 auto;
	text-align: left;
	color: #b6b6b6;
	position: relative;
	z-index: 150;
}
#header_items_wrap {
	width: 100%;
	height: 57px;
	position: relative;
  background: #f2f2f2;
  background: -moz-linear-gradient(top,  #ffffff 0%, #dfdfdf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dfdfdf));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#dfdfdf 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#dfdfdf 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#dfdfdf 100%);
  background: linear-gradient(top,  #ffffff 0%,#dfdfdf 100%);

  -webkit-box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, 0.5);
}
#nova_header .adv_wrap {
	background: none;
	margin: 0 0 5px;
}
#nova_header .adv_wrap .reklama {
  color:#999999;
  height:11px;
  font-size: 11px;
  line-height:11px;
  overflow:hidden;
  padding:1px 6px 0 0;
  text-align:right;
}
#nova_header .logo {
	float: left;
	height: 57px;
	width: 136px;
}
#nova_header .logo a {
	background: url(/static/cz/microsites/default/img/sp_header_footer.png?r=135487) no-repeat;
	display: block;
	height: 35px;
	width: 112px;
	margin: 10px 0 0 22px;
}

#nova_header .logo a strong {
  display: block;
}
 winter header
#nova_header .logo a {
  position: relative;
}
#nova_header .logo a strong {
	position: absolute; left: 38px; top: -12px;
  background: url('/static/cz/microsites/default/img/nova.png') 0 0 no-repeat;
  width: 50px;
  height: 58px;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-decoration: none;
  text-indent: -9999px;
}
 /*/winter header */

/*
#nova_header .random_main_news {
  width: 355px;
  float: right;
  overflow: hidden;
  margin: 12px 0 6px;
  padding: 4px 4px 4px 10px;
}
#nova_header .random_main_news .site_link {
  display: block;
  width: 86px;
  height: 61px;
  float: left;
  margin: 0 10px 0 0;
}
#nova_header .random_main_news .site_51000 {
	background: transparent url(/static/cz/microsites/default/img/btn_main_news_link_51000.png) right top no-repeat;
}
#nova_header .random_main_news .site_30 {
	background: transparent url(/static/cz/microsites/default/img/btn_main_news_link_30.png) right top no-repeat;
}
#nova_header .random_main_news .image {
  padding: 5px 0 0;
  width: 92px;
  height: 56px;
  float: left;
  margin: 0 10px 0 0;
  overflow: hidden;
}
#nova_header .random_main_news .image img {
  width: 90px;
  border: 1px solid #c6d4ff;
}
#nova_header .random_main_news h4 {
  padding: 5px 0 0;
  font-size: 13px;
  font-weight: normal;
  float: left;
  width: 155px;
  overflow: hidden;
}
#nova_header .random_main_news h4 a {
  color: #ffffff;
  text-decoration: none;
}
#nova_header .random_main_news h4 a span {
  text-decoration: underline;
}
#nova_header .random_main_news h4 a:hover span {
  text-decoration: none;
}
#nova_header .random_main_news h4 .raquo {
  color: #e31e26;
  text-decoration: none;
}
*/

#nova_header .search_form {
	width: 160px;
	height: 25px;
	float: right;
	margin: 16px 12px 0 0;
	display: inline;
	position: relative;
	z-index: 2;
  background: #ffffff;
  border: 1px solid #909090;
}
#nova_header .search_form .input_text {
	width: 120px;
	height: 25px;
  line-height: 25px;
	padding: 0 0 0 7px;
	border: 0;
	font-size: 14px;
	color: #888888;
	float: left;
	display: inline;
}
#nova_header .search_form .input_text_focus {
	width: 120px;
	height: 25px;
  line-height: 25px;
	padding: 0 0 0 7px;
	border: 0;
	font-size: 14px;
	color: #888888;
	float: left;
	display: inline;
}
#nova_header .search_form .input_submit {
	width: 29px;
	height: 25px;
	border: 0;
	background: url(/static/cz/microsites/default/img/sp_header_footer.png?r=135487) -600px -100px no-repeat;
	cursor: pointer;
	display: inline;
	float: right;
}
#nova_header ul#nova_menu {
	list-style: none;
  padding: 20px 0 0;
  font-size: 15px;
  color: #b6b6b6;
  text-align: right;
  margin: 0 200px 0 0;
}
#nova_header #nova_menu li {
  display: inline;
  text-align: left;
}
#nova_header #nova_menu li a {
  color: #005e9a;
  text-decoration: none;
/*	font-family: 'NovaticaLightRegular', Arial, Verdana, Geneva, sans-serif;  */
	font-family: 'NovaticaRegular', Arial, Verdana, Geneva, sans-serif;
  padding:0 0 3px 0;
}
#nova_header #nova_menu li.superstar a,
#nova_header #nova_menu li .red{
  color: #bf1815;
	font-family: 'NovaticaMediumRegular', Arial, Verdana, Geneva, sans-serif;
}
#nova_header #nova_menu li span {
  padding: 0 1px;
}
#nova_header #nova_menu li a img {
  border: 0;
}

#nova_header #nova_menu li .rel 							{ position: relative; }
#nova_header #nova_menu li .bubble 						{ visibility: hidden; opacity: 0; position: absolute; left: -198px; top: 22px; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -ms-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
#nova_header #nova_menu li .bubble a					{ display: block; }
#nova_header #nova_menu li:hover .bubble,
#nova_header #nova_menu li .bubble.visible 		{ visibility: visible; opacity: 1; }
#nova_header #nova_menu li .bubble .close			{ position: absolute; right: 10px; top: 23px; width: 11px; height: 11px; background-color: transparent; border: 0; outline: 0; margin: 0; padding: 0; cursor: pointer; background: url("/static/cz/shared/img/transparent.gif") 0 0 repeat; }

#nova_header #drop_submenu {
  display: none;
  position: absolute;
  top: 41px;
  left: 0;
  z-index: 100;
  width: 1000px;
  height: 540px;
  padding-top: 0 !important;
}
#nova_header #drop_submenu .drop_submenu_prewrap {
  width: 1000px;
  height: 522px;
  padding-top: 16px;
}
#nova_header #drop_submenu .drop_submenu_wrap {
  border: 1px solid #989898;
  background: #dddddd;
  padding: 20px 0 0 25px;
  position: relative;
  height: 500px;
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #e4e4e4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e4e4e4));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#e4e4e4 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#e4e4e4 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#e4e4e4 100%);
  background: linear-gradient(top,  #ffffff 0%,#e4e4e4 100%);
}
#nova_header #drop_submenu .pointer {
  position: absolute;
  top: -17px;
  left: 185px;
  width: 31px;
  height: 18px;
	background: url(/static/cz/microsites/default/img/sp_header_footer.png?r=150000) -800px -100px no-repeat;
}
#nova_header #drop_submenu .channels {
  height: 56px;
  margin: 0 0 15px;
	background: url(/static/cz/microsites/default/img/sp_header_footer.png?r=150000) 0 -200px no-repeat;
}
#nova_header #drop_submenu .channels li {
  height: 56px;
  width: 150px;
  float: left;
}
#nova_header #drop_submenu .channels li a {
  height: 40px;
  display: block;
}
#nova_header #drop_submenu .channels span {
  display: none;
}
#nova_header #drop_submenu .channels .all {
  width: 166px;
}
#nova_header #drop_submenu .channels .all span {
  display: block;
  padding: 9px 0 0 20px;
  font-size: 14px;
  font-weight: bold;
  color: #0071b9;
}
#nova_header #drop_submenu .channels .nova_cz { width: 120px; }
#nova_header #drop_submenu .channels .nova_cinema { width: 135px; }
#nova_header #drop_submenu .channels .fanda { width: 85px; }
#nova_header #drop_submenu .channels .smichov { width: 125px; }
#nova_header #drop_submenu .channels .telka { width: 93px; }
#nova_header #drop_submenu .channels .nova_sport { width: 125px; }
#nova_header #drop_submenu .channels .mtv { width: 95px; }

#nova_header #drop_submenu .shows_col {
 float: left;
 font-size: 14px;
 font-weight: bold;
 margin: 0px 30px 0 0;
 width: 213px;
}
#nova_header #nova_menu #drop_submenu .shows_col li {
  margin: 0 0 4px;
  display: block;
}
#nova_header #nova_menu #drop_submenu .shows_col ul {
  margin: 0 0 8px;
}
#nova_header #nova_menu #drop_submenu .shows_col li a {
	font-family:  Arial, Verdana, Geneva, Helvetica, sans-serif;
  color: #727783;
}
#nova_header #nova_menu #drop_submenu .shows_col li span  {
  display: block;
  padding: 0;
  color: #000000;
  font-size: 20px;
  margin: 0 0 5px;
  border-bottom: 1px solid #000;
}
#nova_header #nova_menu #drop_submenu li a strong {
	font-family:  Arial, Verdana, Geneva, Helvetica, sans-serif;
  color: #0b70da;
}

/* star */
#nova_header #drop_submenu_promo_star_image {
    cursor:pointer;cursor:hand;
}

#nova_header #drop_submenu_promo_star {
  display: none;
  position: absolute;
  top: 50px;
  right: 12px;
  z-index: 100;
  width: 380px;
  height: 86px;
  padding-top: 0 !important;
}
#nova_header #drop_submenu_promo_star .drop_submenu_prewrap {
  width: 380px;
  height: 70px;
  padding-top: 16px;
}
#nova_header #drop_submenu_promo_star .drop_submenu_wrap {
  border: 1px solid #989898;
  background: #dddddd;
  padding: 10px 10px 6px 10px;
  position: relative;
  min-height: 54px;
  background: #e4e4e4;
  background: -moz-linear-gradient(top,  #ffffff 0%, #e4e4e4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e4e4e4));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#e4e4e4 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#e4e4e4 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#e4e4e4 100%);
  background: linear-gradient(top,  #ffffff 0%,#e4e4e4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e4e4',GradientType=0 );
}
#nova_header #drop_submenu_promo_star .pointer {
  position: absolute;
  top: -17px;
  left: 107px;
  width: 31px;
  height: 18px;
	background: url(/static/cz/microsites/default/img/sp_header_footer.png?r=135487) -800px -100px no-repeat;
}
#nova_header #drop_submenu_promo_star .item{
  min-height: 60px;
}
#nova_header #drop_submenu_promo_star .item_51000 {
	background: url(/static/cz/microsites/default/img/logo_doma_promo.png) 5px 30px no-repeat;
}
#nova_header #drop_submenu_promo_star .text {
  display: block;
  padding: 4px 15px 0 0;
  width: 85px;
  height: 46px;
  font-size: 16px;
  font-weight: bold;
  color: #797979;
  text-align: right;
  text-decoration: none;
  float: left;
	font-family:  Arial, Verdana, Geneva, Helvetica, sans-serif;
}
#nova_header #drop_submenu_promo_star img {
  width: 90px;
  height: 50px;
  float: left;
  margin: 0 8px 0 0;
}
#nova_header #drop_submenu_promo_star h4 {
  font-size: 12px;
  width: 150px;
  float: left;
  font-weight: normal;
}
#nova_header #drop_submenu_promo_star h4 span {
  padding: 0;
}
#nova_header #drop_submenu_promo_star h4 a {
  color: #000000;
  text-decoration: underline;
	font-family:  Arial, Verdana, Geneva, Helvetica, sans-serif;
}
#nova_header #drop_submenu_promo_star h4 a:hover {
  text-decoration: none;
}
#nova_header #drop_submenu_promo_star h4 .raquo {
  color: #b70b00;
  margin: 0 0 0 2px;
}
#nova_header #drop_submenu_promo_star #drop_submenu_promo_star_close {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 11px;
  height: 11px;
	background: url(/static/cz/microsites/default/img/btn_close_red_small.png) no-repeat;
}

/*SUBMENU*******************************/


/* END: NOVA HEADER*******************************************************************************/
img#redotimg {
	position: absolute;
}
img#usertrack_image {
	display: none;
}
img#print_logo {
	display: none;
	height: 0;
}

/* START: Registration
#registration {
	width: 600px;
	background: #ffffff;
	color: #3a3a3a;
	border: 15px solid #ffffff;
	z-index: 2000;
}
#registration a {
	text-decoration: none;
	color: #0071b9;
}
#registration a:hover {
	text-decoration: underline;
}
#registration .links {
	padding: 8px 0;
	text-align: right;
}
#registration .links ul {
  display: inline;
}
#registration .links li {
	display: inline;
	border-right: 1px solid #b6b6b6;
	padding: 0 6px 0 0;
	margin: 0 3px 0 0;
}
#registration .links .close {
  display: inline;
}
#registration .links .close a {

}
#registration .content {
	background: #ffffff;
	margin: 0;
	padding: 10px 0;
	width: auto;
	font-size: 14px;
}
#registration .content form {
	background: #f8f8f8;
	margin: 0 0 20px;
	padding: 18px 18px 20px;
  -webkit-box-shadow:  0px 0px 8px 1px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 0px 8px 1px rgba(0, 0, 0, 0.5);
}
#registration .content label {
  display: block;
  width: 400px;
  float: left;
  clear: both;
  margin: 0 0 8px;
}
#registration .content label span {
  display: block;
  width: 150px;
  float: left;
  line-height: 24px;
  font-size: 16px;
}
#registration .content label input {
  display: block;
  width: 200px;
  float: left;
  border: 1px solid #cfcfcf;
  background: #ffffff;
  padding: 3px 5px;
}
#registration .content .submit {
  display: block;
  width: 140px;
  float: right;
  text-align: right;
  font-size: 18px;
}
#registration .content .submit a {
  padding: 0 12px 0 0;
  background: url(/static/cz/microsites/nova/img/btn_arrow_blue.png) 100% 50% no-repeat;
}
#registration .content p {
	margin: 0 0 15px 0;
}
#registration .content p.hint {
	font-weight: bold;
	border-bottom: 1px dotted #616162;
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
}
#registration .content span {
	display: inline;
}
#registration .content span a {
	font-weight: bold;
}
#registration .content input {
  display: block;
  width: 200px;
  float: left;
  border: 1px solid #cfcfcf;
  background: #ffffff;
  padding: 3px 5px;
}
#registration .content #invalidEmail {
  display: none;
  color: red;
}
 END: Registration */

/* START: NovaIE popup */
#novaie_popup {
	background: #616162;
	width: 430px;
  font-size: 13px;
	color: #000000;
	border: 10px solid #000000;
	z-index: 2000;
}
#novaie_popup .hdr a {
	text-decoration: underline;
	color: #ffffff;
}
#novaie_popup a:hover {
	text-decoration: none;
}
#novaie_popup .hdr {
	padding: 8px;
}
#novaie_popup .hdr .ttl {
	float: left;
	color: #fff;
}
#novaie_popup .hdr .close {
	float: right;
}
#novaie_popup .hdr .close a {
	background: transparent url(/static/cz/main/img/buttons/registration_close.gif) no-repeat scroll right;
	text-decoration: none;
	padding: 0 15px 0 0;
}
#novaie_popup .hdr .close a:hover {
	text-decoration: underline;
}
#novaie_popup .content {
	margin: 0 1px 1px 1px;
	padding: 100px 12px 25px 12px;
  line-height: 1.8;
	background: #ffffff url(/static/cz/main/img/backgrounds/novaie_popup.gif) no-repeat;
}
#novaie_popup .content p {
	margin: 0 0 15px 0;
}
#novaie_popup .content p .novaie_browser {
  font-size: 14px;
  color: #444444;
}
#novaie_popup .content a {
  display: block;
  width: 275px;
  height: 52px;
	background: url(/static/cz/main/img/buttons/novaie_download_popup.gif) no-repeat;
}
/* END: NovaIE popup */

/*************style for mini-player*****************/
.miniplayer {
	position: relative;
}
#miniplayer_flv {
	width: 290px;
	margin-bottom: 10px;
	height: 202px;
	position: relative;
}
#miniplayer_flv img {
	position: relative;
	cursor: pointer;
}
.miniplayer span.lista {
	display: block;
	background: url(/static/cz/microsites/nova/img/bg_bottom_mini_player.gif) left bottom no-repeat;
	height: 41px;
	width: 290px;
	position: absolute;
	bottom: 0px;
	left: 0;
	cursor: pointer;
}
.miniplayer.flowplayer span.lista {
   height: 45px;
   background: url(/static/cz/shared/img/flowplayer_control_290.gif) left bottom no-repeat;
}
/********top banner*******/
/* article player */
.content .media_box .player .embed {
	position: relative;
}
.content .media_box .player .embed .player_overlay {
	position: absolute;
	width: 71px;
	height: 61px;
	right: 14px;
	bottom: 31px;
	z-index: 100;
	cursor: pointer;
	background: url(/static/cz/shared/img/btn_lentilka.png) no-repeat;
}
/* box */
.content .img_overlay {
	display: block;
	position: relative;
	overflow: hidden;
}
.content a .img_overlay {
	cursor: pointer;
}
.content .img_overlay_600x338 {
	width: 600px;
}
.content .img_overlay_448x248 {
	width: 440px;
}
.content .img_overlay_365x205 {
	width: 365px;
}
.content .img_overlay_298x166 {
	width: 298px;
}
.content .img_overlay_250x140 {
	width: 250px;
}
.content .img_overlay_200x113 {
	width: 200px;
}
.content .img_overlay_180x100 {
	width: 180px;
}
.content .img_overlay_150x85 {
	width: 150px;
}
.content .img_overlay_144x81 {
	width: 144px;
}
.content .img_overlay_120x67 {
	width: 120px;
}
.content .img_overlay_90x50 {
	width: 90px;
}
.content .img_overlay_55x31 {
	width: 55px;
}
.content .img_overlay_btn {
	position: absolute;
	width: 600px;
	height: 338px;
	right: 9px;
	bottom: 8px;
	z-index: 100;
	background: url(/static/cz/shared/img/btn_play_small.png) no-repeat;
	font-size: 0;
	line-height: 0;
	text-decoration: none !important;
}
.content a:hover .img_overlay_btn {
	text-decoration: none !important;
}
.content .img_overlay_600x338 .img_overlay_btn {
	position: absolute;
	width: 600px;
	height: 338px;
	right: 0px;
	top: 0px;
	z-index: 100;
	background: url(/static/cz/shared/img/btn_play_big.png) 526px 247px no-repeat;
}
.content .img_overlay_440x248 .img_overlay_btn {
	position: absolute;
	width: 440px;
	height: 248px;
	right: 0px;
	top: 0px;
	z-index: 100;
	background: url(/static/cz/shared/img/btn_play_big.png) 366px 175px no-repeat;
}
.content .img_overlay_365x205 .img_overlay_btn {
	position: absolute;
	width: 365px;
	height: 205px;
	right: 0px;
	top: 0px;
	z-index: 100;
	background: url(/static/cz/shared/img/btn_play_big.png) 291px 114px no-repeat;
}
.content .img_overlay_298x166 .img_overlay_btn {
	position: absolute;
	width: 298px;
	height: 166px;
	right: 0px;
	top: 0px;
	z-index: 100;
	background: url(/static/cz/shared/img/btn_play.png) 243px 116px no-repeat;
}
.content .img_overlay_250x140 .img_overlay_btn {
	position: absolute;
	width: 250px;
	height: 140px;
	right: 0px;
	top: 0px;
	z-index: 100;
	background: url(/static/cz/shared/img/btn_play.png) 195px 78px no-repeat;
}
.content .img_overlay_200x113 .img_overlay_btn {
	position: absolute;
	width: 200px;
	height: 113px;
	right: 0px;
	top: 0px;
	z-index: 100;
	background: url(/static/cz/shared/img/btn_play.png) 145px 64px no-repeat;
}
.content .img_overlay_150x85 .img_overlay_btn {
	position: absolute;
	width: 150px;
	height: 85px;
	right: 0px;
	top: 0px;
	z-index: 100;
	background: url(/static/cz/shared/img/btn_play.png) 96px 36px no-repeat;
}
.content .img_overlay_144x81 .img_overlay_btn {
	position: absolute;
	width: 144px;
	height: 81px;
	right: 0px;
	top: 0px;
	z-index: 100;
	background: url(/static/cz/shared/img/btn_play.png) 91px 34px no-repeat;
}
.content .img_overlay_120x67 .img_overlay_btn {
	position: absolute;
	width: 120px;
	height: 67px;
	right: 0px;
	top: 0px;
	z-index: 100;
	background: url(/static/cz/shared/img/btn_play_small.png) 80px 32px no-repeat;
}
.content .img_overlay_90x50 .img_overlay_btn {
	position: absolute;
	width: 90px;
	height: 50px;
	right: 0px;
	top: 0px;
	z-index: 100;
	background: url(/static/cz/shared/img/btn_play_smallest.png) 57px 22px no-repeat;
}
.content .img_overlay_55x31 .img_overlay_btn {
	position: absolute;
	width: 55px;
	height: 31px;
	right: 0px;
	top: 0px;
	z-index: 100;
	background: url(/static/cz/shared/img/btn_play_smallest.png) 15px 5px no-repeat;
}
/* START: FOOTER*******************************************************************************/
#nova_footer_wrap {
	position: relative;
	z-index: 50;
	width: 100%;
	bottom: 0;
	left: 0;
	text-align: center;
	min-width: 1000px;
	padding: 13px 0 40px;
  background: #e5e5e5;
}
#nova_footer {
	width: 1000px;
	margin: 0 auto;
	text-align: left;
	overflow: hidden;
	background: #fff;
  -webkit-box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, 0.5);
}
#nova_footer .footer_box {
	padding: 16px 0 32px 100px;;
	color: #7b7b7b;
	font-size: 12px;
	text-transform: uppercase;
	background: #ffffff url(/static/cz/microsites/default/img/bg_footer.jpg?r=92670) center top no-repeat;
}
#nova_footer .footer_box ul {
	width: 195px;
  float: left;
}
#nova_footer .footer_box ul li {
  list-style-type: none;
  height: 22px;
}
#nova_footer .footer_box a {
	color: #7b7b7b;
  text-decoration: none;
}
#nova_footer .footer_box a:hover {
  text-decoration: underline;
}
#nova_footer .footer_box li.rss {
	height: 40px;
}
#nova_footer .footer_box li.rss a {
	line-height: 30px;
	padding: 8px 0 8px 42px;
	background: url(/static/cz/microsites/default/img/sp_header_footer.png?r=135487) -200px -100px no-repeat;
}
#nova_footer .footer_box li.write_us {
	height: 60px;
}
#nova_footer .footer_box li.write_us a {
	line-height: 23px;
	padding: 4px 0 4px 42px;
	background: url(/static/cz/microsites/default/img/sp_header_footer.png?r=135487) -400px -100px no-repeat;
}
#nova_footer .footer_box li.nova_hd {
	height: 20px;
}
#nova_footer .footer_box li.nova_hd a {
  display: block;
  width: 87px;
	height: 20px;
	background: url(/static/cz/microsites/default/img/sp_header_footer.png?r=135487) 0 -100px no-repeat;
}
#nova_footer .footer_box li.nova_hd span {
  display: none;
}


/* END: FOOTER*******************************************************************************/
/* START: CET cross banner------------------------------------------------------------------------------- */
#cet_cross_banner {
	width: 1000px;
	background: #fff;
}
#cet_cross_banner .cross_banner_content {
	padding: 11px 0 23px 0;
}
#cet_cross_banner .item {
	width: 200px;
	padding-left: 8px;
	margin: 0 22px 0 16px;
	display: inline;
	float: left;
/*	border-left: 1px solid #e0e0e0; */
}
#cet_cross_banner .item a {
	text-decoration: none;
	color: #000;
}
#cet_cross_banner .item a.image {
  display: block;
}
#cet_cross_banner .item.tn a.logo {
	width: 78px;
	height: 22px;
	display: block;
	margin-bottom: 11px;
}
#cet_cross_banner .item.sport a.logo {
	width: 80px;
	height: 24px;
	display: block;
	margin-bottom: 9px;
}
#cet_cross_banner .item.doma a.logo {
	width: 118px;
	height: 22px;
	display: block;
	margin-bottom: 11px;
}
#cet_cross_banner .item.rednews a.logo {
	width: 121px;
	height: 22px;
	display: block;
	margin-bottom: 11px;
}
#cet_cross_banner .item.tn,
#cet_cross_banner .item.sport,
#cet_cross_banner .item.doma,
#cet_cross_banner .item.magazines,
#cet_cross_banner .item.magazines_exc_chata{
	     background: url(/static/cz/shared/img/sprites_global_footer_promo.gif?r=143770) left top no-repeat;
}

#cet_cross_banner .item.tn {
	background-position: -1130px 0;
}
#cet_cross_banner .item.sport {
	background-position: -750px 0;
}
#cet_cross_banner .item.doma {
	background-position: -374px 0;
}
#cet_cross_banner .item.magazines_exc_chata,
#cet_cross_banner .item.magazines {
	background-position: 9px 0;
}
#cet_cross_banner .item.rednews {
	background: url(/static/cz/shared/img/logo-fanda-cross-promo.png) 9px 4px no-repeat;
}
#cet_cross_banner .item.nova a.logo {
    background: url("/static/cz/shared/img/logo_novacz.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 22px;
    margin-bottom: 11px;
    width: 95px;
}
#cet_cross_banner .item.voyo-beta a.logo, #cet_cross_banner .item.voyo a.logo {
    background: url("/static/cz/shared/img/logo_voyo_v2.png?r=2") no-repeat scroll 0 0 transparent;
    display: block;
    height: 29px;
    margin-bottom: 4px;
    margin-top: 0;
    width: 105px;
}
#cet_cross_banner .item.mtv a.logo {
    background: url("/static/cz/shared/img/logo_mtv.png?r=50325") no-repeat scroll 0 0 transparent;
    display: block;
    height: 24px;
    margin-bottom: 9px;
    width: 105px;
}
#cet_cross_banner .item.prask a.logo {
    background: url("/static/cz/shared/img/logo_prask.png?r=160000") no-repeat scroll 0 0 transparent;
    display: block;
    height: 23px;
    margin: 0 0 9px;
    width: 105px;
}
#cet_cross_banner .item.pokerfan a.logo {
    background: url("/static/cz/shared/img/logo_pokerfan.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 34px;
    margin-bottom: 0;
    margin-top: 0;
    width: 142px;
}
#cet_cross_banner .item.ulice a.logo {
    background: url("/static/cz/shared/img/logo_ulice.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 30px;
    margin-bottom: 3px;
    width: 105px;
}
#cet_cross_banner .item.krasna a.logo {
    background: url("/static/cz/shared/img/logo_krasnacz.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 29px;
    margin-bottom: 3px;
    margin-top: 0;
    width: 105px;
}
#cet_cross_banner .item.smichov a.logo {
    background: url("/static/cz/shared/img/smichov_crosspromo_logo.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 29px;
    margin-bottom: 3px;
    margin-top: 0;
    width: 114px;
}

#cet_cross_banner .item a:hover {
	text-decoration: underline;
}
#cet_cross_banner .item img {
	width: 200px;
	height: 113px;
	overflow: hidden;
	border: 0;
}
#cet_cross_banner .item h3.main_article_title {
	padding: 10px 0 13px 0;
	margin: 0;
}
#cet_cross_banner .item h3.main_article_title a {
	font-weight: bold;
	font-size: 14px;
}
#cet_cross_banner .item h5 {
	padding: 0 0 0 10px;
	margin: 0 0 5px 0;
	background: url("/static/cz/shared/img/bg_cross_bullet.gif") no-repeat scroll 0 3px transparent;
}
#cet_cross_banner .item h5 a {
	font-size: 12px;
	font-weight: normal;
	line-height: 16px;
}

#cet_cross_banner .item.novaplus a.logo {
    background: url("/static/cz/main/img/backgrounds/logo_novaplus_forfree.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 23px;
    margin-bottom: 9px;
    margin-top: 0;
    width: 200px;
}
#cet_cross_banner .item.novaplus a.image {
  display: block;
  width: 200px;
  position: relative;
}
#cet_cross_banner .item.novaplus a.image i {
  display: block;
  width: 200px;
  height: 113px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(/static/cz/microsites/avod/img/btn_play.png) 50% 30px no-repeat;
}
#cet_cross_banner .item.novaplus a.image:hover i {
  background: url(/static/cz/microsites/avod/img/btn_play.png) 50% -470px no-repeat;
}
#cet_cross_banner .item.novaplus h3.main_article_title a {
  display: block;
  padding: 0 0 36px;
  background: url(/static/cz/main/img/backgrounds/btn_novaplus_forfree.png) 0 100% no-repeat;
}

/* END: CET cross banner------------------------------------------------------------------------------- */
/*** START: share video box ***/
.media_box .player .clear {
	font-size: 0;
	height: 0;
	overflow: hidden;
}
.box_share_video {
	color: #efefef;
	width: 365px;
	position: relative;
	overflow: hidden;
}
.box_share_video_w600 {
	width: 600px;
}
.box_share_video_w440 {
	width: 440px;
}
.box_share_video .bsv_body {
	background: #585858 url(/static/cz/microsites/default/img/bg-video-share-body.png) !important;
	padding: 0 0 0px;
}
.box_share_video .bsv_btm {
	height: 3px;
	font-size: 1px;
	background: url(/static/cz/microsites/default/img/bg-video-share-btm.png) no-repeat !important;
}
.box_share_video_w600 .bsv_btm {
	background: url(/static/cz/microsites/default/img/bg-video-share-btm-600.png) no-repeat !important;
}
.box_share_video_w440 .bsv_btm {
	background: url(/static/cz/microsites/default/img/bg-video-share-btm-440.png) no-repeat !important;
}
.box_share_video h4 {
	font-size: 12px;
	padding: 0 0 0 7px;
	position: relative;
}
.box_share_video .video_box_voting {
	position: absolute;
	top: 4px;
	right: 120px;
	padding: 0;
	width: 320px;
	height: 16px;
	z-index: 50;
}
.box_share_video .video_box_voting .thx_text_wrap {
	width: 232px;
	height: 16px;
	float: left;
	font-size: 10px;
	line-height: 16px;
	text-align: right;
}
.box_share_video .video_box_voting .thx_text {
	padding: 0 6px 0 0;
	background: #585858 url(/static/cz/microsites/default/img/bg-video-share-body.png) !important;
}
.box_share_video .controls {
	position: absolute;
	top: 5px;
	left: 252px;
	padding: 0;
}
.box_share_video_w600 .controls {
	left: 486px;
	padding: 0;
}
.box_share_video_w440 .controls {
	left: 326px;
}
.box_share_video .controls .btn_help {
	float: left;
	width: 46px;
	height: 15px;
	background: url(/static/cz/microsites/default/img/btn-video-share-help.gif) no-repeat;
  display: none;
}
.box_share_video .controls .btn_share_video_more {
	float: left;
	width: 50px;
	height: 15px;
	background: url(/static/cz/microsites/default/img/btn-video-share-more.gif) no-repeat 0 -15px;
	margin: 0 8px 0 0;
}
.box_share_video .controls .collapsed {
	background-position: 0 0;
}
.box_share_video ul {
	margin: 6px 0 0 5px;
	position: relative;
}
.box_share_video_w600 ul {
	position: relative;
	width: 600px;
	left: 15px;
	top: 5px;
}
.box_share_video_w440 ul {
	margin-left: 60px;
}
.box_share_video li {
	float: left;
	list-style-type: none;
	width: 109px;
	margin: 0 10px 4px 0;
}
.box_share_video li a {
	display: block;
	height: 22px;
	padding-left: 25px;
	padding-top: 3px;
	font-weight: bold;
	text-decoration: none;
	color: #fff !important;
}
.box_share_video li a:hover {
	text-decoration: underline;
}
.box_share_video li a span {
	display: inline;
}
.box_share_video li.blog {
	background: url(/static/cz/microsites/default/img/blog.gif) no-repeat;
}
.box_share_video li.linkuj {
	background: url(/static/cz/microsites/default/img/linkuj.gif) no-repeat;
}
.box_share_video li.facebook {
	background: url(/static/cz/microsites/default/img/facebook.gif) no-repeat;
}
.box_share_video li.delicious {
	background: url(/static/cz/microsites/default/img/delicious.gif) no-repeat;
}
.box_share_video li.jagg {
	background: url(/static/cz/microsites/default/img/jagg.gif) no-repeat;
}
.box_share_video li.vybralisme {
	background: url(/static/cz/microsites/default/img/vybralisme.gif) no-repeat;
}
.box_share_video li.pridat {
	background: url(/static/cz/microsites/default/img/pridat.gif) no-repeat;
}
.box_share_video li.google {
	background: url(/static/cz/microsites/default/img/google.gif) no-repeat;
}
.box_share_video li.digg {
	background: url(/static/cz/microsites/default/img/digg.gif) no-repeat;
}
.box_share_video li.yahoo {
	background: url(/static/cz/microsites/default/img/yahoo.gif) no-repeat;
}
.box_share_video li.yahoo a {
	padding-left: 31px;
}
.box_share_video li.furl {
	background: url(/static/cz/microsites/default/img/furl.gif) no-repeat;
}
.box_share_video li.myspace {
	background: url(/static/cz/microsites/default/img/myspace.gif) no-repeat;
}
.box_share_video li.newsvine {
	background: url(/static/cz/microsites/default/img/newsvine.gif) no-repeat;
}
.box_share_video li.reddit {
	background: url(/static/cz/microsites/default/img/reddit.gif) no-repeat;
}
.box_share_video li.stumbleupon {
	background: url(/static/cz/microsites/default/img/stumbleupon.gif) no-repeat;
}
.box_share_video .clear, .box_share_video li.list_clear {
	display: block;
	font-size: 0;
	line-height: 0;
	margin: 0;
	height: 0;
	float: none;
	width: auto;
	clear: both;
	padding: 0 0 3px;
}
.share_help_box {
	padding: 15px 0;
}
.share_help_box h4 {
	font-size: 16px;
}
.share_help_box p {
	line-height: 17px;
}

/*** END: share video box ***/

.ssid_clanek .content .article_wrap .article .article_mdl .date {
  display: none;
}
.sid_12210 .ssid_clanek .content .article_wrap .article .article_mdl .date {
  display: block;
}

body .content .top_article .body .article_text .date {
  display: none;
}

#control_box .follow {
   display: none;
}
/* sklik */
.box_sklik {
  margin: 0 0 15px 13px;
}
/* fb lb */
#facebook_like_button {
  margin: 0 0 15px 15px;
}

/* skyscraper */
#show {
   position: relative;
}

.skyscraper_wrap {
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   display: none;
   z-index: 900;
}

#adtech_banner_skyscraper1,
#adtech_banner_skyscraper2 {
   position: absolute;
   top: 0;
   left: 1000px;
   text-align: right;
   z-index: 999;
}

.skyscraper_wrap .ad_caption {
   font-size: 11px;
   color: #C0C0C0;
}

/* Skyscraper move */
#adtech_banner_skyscraper1 {
    padding-right: 8px;
}
#adtech_banner_skyscraper2 {
    padding-left: 8px;
}

/* CSS for jQuery Lightbox plugin */
/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:99999; overflow:hidden;}
#cboxOverlay{position:fixed; width:1000%; height:1000%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/*
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(/static/cz/shared/img/colorbox-overlay.png) repeat 0 0;}
#colorbox{}
    #cboxTopLeft{width:21px; height:21px; background:url(/static/cz/shared/img/colorbox-controls.png) no-repeat -100px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(/static/cz/shared/img/colorbox-controls.png) no-repeat -129px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(/static/cz/shared/img/colorbox-controls.png) no-repeat -100px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(/static/cz/shared/img/colorbox-controls.png) no-repeat -129px -29px;}
    #cboxMiddleLeft{width:21px; background:url(/static/cz/shared/img/colorbox-controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(/static/cz/shared/img/colorbox-controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(/static/cz/shared/img/colorbox-border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(/static/cz/shared/img/colorbox-border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff; overflow:hidden;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-top:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(/static/cz/shared/img/colorbox-controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious.hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(/static/cz/shared/img/colorbox-controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext.hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url(/static/cz/shared/img/colorbox-loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(/static/cz/shared/img/colorbox-loading.gif) no-repeat center center;}
        #cboxClose{position:absolute; top:0; right:0; background:url(/static/cz/shared/img/colorbox-controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose.hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7+ replaces a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}
/* END of CSS for jQuery Lightbox plugin */

/* START: Breaking News Banner
-------------------------------------------------------------- */
#breaking-news-banner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: 998px;
  height: 82px;
  z-index: 100000;
}
#breaking-news-banner #bnb-start {
  float: left;
  width: 180px;
  height: 82px;
  background: url(/static/cz/microsites/default/img/breaking-news-tncz.png) 8px 0 no-repeat;
}
#breaking-news-banner #bnb-start a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
#breaking-news-banner #bnb-content {
  height: 82px;
  margin-right: 40px;
  overflow: hidden;
}
#breaking-news-banner #bnb-content a {
  color: #fff;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
  font-size: 30px;
  line-height: 66px;
}
#breaking-news-banner #bnb-content a:hover {
  text-decoration: underline;
}
#breaking-news-banner #bnb-end {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 48px;
  height: 66px;
  z-index: 90;
}
#breaking-news-banner #bnb-end a.bn-link {
  display: inline-block;
  width: 100%;
  height: 100%;
}
#breaking-news-banner #bnb-end a.close {
 background: url("/static/cz/microsites/default/img/breaking-news-sprite.png?r=72275") 2px -215px no-repeat;
 display: block;
 width: 55px;
 height: 20px;
 position: absolute;
 right: 47px;
 top: 0;
 z-index: 100;
 padding-bottom: 3px;
}
#breaking-news-banner #bnb-end a.close:hover {
 background-position: 2px -248px;
}

#breaking-news-banner .tncz {
  position: relative;
  background: url(/static/cz/microsites/default/img/breaking-news-tncz.png) 0 -82px repeat-x;
}
#breaking-news-banner .tncz #bnb-content a {
  line-height: 92px;
}
#breaking-news-banner .tncz #bnb-end a.close {
  background: url(/static/cz/microsites/default/img/breaking-news-tncz.png) 0 100% no-repeat;
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 10px;
  top: auto;
  bottom: 40px;
  z-index: 100;
  padding-bottom: 0;
}
#breaking-news-banner .tncz #bnb-end a.close:hover {
  background-position: 100% 100%;
}

#breaking-news-banner .voyo_divadlo									{ margin-top: -8px; }
#breaking-news-banner .voyo_divadlo #bnb-start 			{ height: 90px; background: url("/static/cz/microsites/default/img/breaking-news-voyo-divadlo.png?r=117948") 0 0 no-repeat #000000; width: 470px; }
#breaking-news-banner .voyo_divadlo #bnb-content		{ height: 90px; background: #000000 none; margin-right: 33px; }
#breaking-news-banner .voyo_divadlo #bnb-content a	{ padding-top: 12px; height: 78px; line-height: normal; text-transform: uppercase; text-decoration: none; font-family: 'NovaticaMediumRegular', sans-serif; color: #00d2ff; text-align: left; }
#breaking-news-banner .voyo_divadlo #bnb-content .level1	{ font-size: 30px; }
#breaking-news-banner .voyo_divadlo #bnb-content .level2	{ font-size: 22px; }
#breaking-news-banner .voyo_divadlo #bnb-end				{ height: 90px; background: url("/static/cz/microsites/default/img/breaking-news-voyo-right.png") 0 0 no-repeat; width: 33px; }

#breaking-news-banner .voyo_sport									{ margin-top: -8px; }
#breaking-news-banner .voyo_sport #bnb-start 			{ height: 90px; background: url("/static/cz/microsites/default/img/breaking-news-voyo-sport.png") 0 0 no-repeat #000000; width: 470px; }
#breaking-news-banner .voyo_sport #bnb-content		{ height: 90px; background: #000000 none; margin-right: 33px; }
#breaking-news-banner .voyo_sport #bnb-content a	{ padding-top: 12px; height: 78px; line-height: normal; text-transform: uppercase; text-decoration: none; font-family: 'NovaticaMediumRegular', sans-serif; color: #00d2ff; text-align: left; }
#breaking-news-banner .voyo_sport #bnb-content .level1	{ font-size: 30px; }
#breaking-news-banner .voyo_sport #bnb-content .level2	{ font-size: 22px; }
#breaking-news-banner .voyo_sport #bnb-end				{ height: 90px; background: url("/static/cz/microsites/default/img/breaking-news-voyo-right.png") 0 0 no-repeat; width: 33px; }

#breaking-news-banner .voyo_koncert									{ margin-top: -8px; }
#breaking-news-banner .voyo_koncert #bnb-start 			{ height: 90px; background: url("/static/cz/microsites/default/img/breaking-news-voyo-koncert.png") 0 0 no-repeat #000000; width: 470px; }
#breaking-news-banner .voyo_koncert #bnb-content		{ height: 90px; background: #000000 none; margin-right: 33px; }
#breaking-news-banner .voyo_koncert #bnb-content a	{ padding-top: 12px; height: 78px; line-height: normal; text-transform: uppercase; text-decoration: none; font-family: 'NovaticaMediumRegular', sans-serif; color: #00d2ff; text-align: left; }
#breaking-news-banner .voyo_koncert #bnb-content .level1	{ font-size: 30px; }
#breaking-news-banner .voyo_koncert #bnb-content .level2	{ font-size: 22px; }
#breaking-news-banner .voyo_koncert #bnb-end				{ height: 90px; background: url("/static/cz/microsites/default/img/breaking-news-voyo-right.png") 0 0 no-repeat; width: 33px; }

#breaking-news-banner .voyo_film									{ margin-top: -8px; }
#breaking-news-banner .voyo_film #bnb-start 			{ height: 90px; background: url("/static/cz/microsites/default/img/breaking-news-voyo-film.png") 0 0 no-repeat #000000; width: 470px; }
#breaking-news-banner .voyo_film #bnb-content			{ height: 90px; background: #000000 none; margin-right: 33px; }
#breaking-news-banner .voyo_film #bnb-content a		{ padding-top: 12px; height: 78px; line-height: normal; text-transform: uppercase; text-decoration: none; font-family: 'NovaticaMediumRegular', sans-serif; color: #00d2ff; text-align: left; }
#breaking-news-banner .voyo_film #bnb-content .level1	{ font-size: 30px; }
#breaking-news-banner .voyo_film #bnb-content .level2	{ font-size: 22px; }
#breaking-news-banner .voyo_film #bnb-end					{ height: 90px; background: url("/static/cz/microsites/default/img/breaking-news-voyo-right.png") 0 0 no-repeat; width: 33px; }

/* END: Breaking News Banner
-------------------------------------------------------------- */

/* Mini Breaking News === */
.MBN											{ width: 285px; margin-left: 63px; position: fixed; z-index: 11000; left: 18px; text-align: left; height: 53px; background: rgb(0,78,160); background: rgba(0,78,160,0.9); }
.MBN:after                { position: absolute; left: -63px; bottom: 0; display: block; width: 63px; height: 53px; content: url(/static/cz/shared/img/mbn_logo_tncz.png); }
.MBN h2										{ position: relative; z-index: 11010; padding: 3px 2px 0 8px; color: #9ecdfe; font-size: 11px; font-weight: bold; }
.MBN .close								{ float: right; width: 11px; height: 11px; border: 0; padding: 0; margin: 0; text-indent: -10000px; background: transparent url("/static/cz/shared/img/mbn-close.png?r=002") left top no-repeat; cursor: pointer; position: relative; top: -2px; right: -1px }
.MBN .close:hover					{ background-position: left bottom; }
.MBN .title								{ z-index: 11010; padding: 3px 60px 0 8px; color: #ffffff; font-size: 12px; font-weight: bold; overflow: hidden; }
.MBN .title span					{ display: block; position: absolute; width: 60px; right: 10px; top: 16px; bottom: 4px; }
.MBN .title span a				{ display: block; position: absolute; bottom: 0; left: 0; width: 100%; text-align: right; font-size: 11px; color: #9ecdfe; font-weight: bold; text-decoration: underline; }
.MBN .title span a:hover	{ text-decoration: none; }
/* === Mini Breaking News */

/* START: jsSplash
-------------------------------------------------------------- */

.main_news {
  width: 600px;
  height: 412px;
  overflow: hidden;
}
.main_news #ticker_content {
  width: 600px;
  height: 338px;
  position: relative;
  overflow: hidden;
}
.main_news #ticker_content #ticker_image a {
  display: block;
  width: 600px;
  height: 338px;
  position: absolute;
  top: 0;
  left: 0;
}
.main_news #ticker_content .video_button_overlay {
	position: absolute;
	width: 71px;
	height: 61px;
	right: 13px;
	top: 247px;
	background: url(/static/cz/shared/img/btn_play_big.png) no-repeat;
}
.main_news #ticker_content .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 190px;
  height: 256px;
	background: url(/static/cz/microsites/default/img/bg_ticker_content.png);
}
.main_news #ticker_content .text .sponsoring {
  padding: 10px 0 0;
  width: 190px;
  text-align: center;
}
.main_news #ticker_content .text .sponsoring a {
  margin: 0 auto;
}
.main_news #ticker_content #ticker_summary {
  position: absolute;
  bottom: 30px;
  left: 11px;
  width: 170px;
  font-size: 11px;
}
.main_news #ticker_content #ticker_summary #ticker_splash_title {
  font-size: 20px;
}
.main_news #ticker_content #ticker_title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 236px;
  height: 82px;
  font-size: 26px;
}
.main_news #ticker_content #ticker_title .longtext {
  font-size: 20px;
}
.main_news #ticker_content #ticker_title a {
  display: block;
  width: 236px;
  height: 70px;
  overflow: hidden;
	background: url(/static/cz/microsites/default/img/btn_ticker_title.png) 204px 36px no-repeat;
  text-decoration: none;
}
.main_news #ticker_content #ticker_title span {
  display: block;
  position: absolute;
  bottom: 16px;
  right: 42px;
  width: 183px;
}
.main_news #ticker_content #ticker_title a:hover span {
  text-decoration: underline;
}
.main_news .ticker_items_wrap {
  width: 600px;
  height: 74px;
  position: relative;
}
.main_news #ticker_items {
  width: 603px;
  height: 74px;
  position: absolute;
  top: 0;
  left: -1px;
  z-index: 100;
}
#ticker_items li {
  width: 200px;
  height: 74px;
  margin: 0 1px 0 0;
  float: left;
  position: relative;
}
#ticker_items li a {
  display: block;
  width: 200px;
  height: 74px;
  padding: 12px 0 0;
  position: absolute;
  top: -12px;
  left: 0;
  text-decoration: none;
}
#ticker_items li a:hover {
  text-decoration: none;
}
#ticker_items li a span.selected_arr {
  width: 200px;
  height: 0px;
  position: absolute;
  bottom: 74px;
  left: 0;
  font-size: 0;
  line-height: 0;
}
#ticker_items li a.selected span.selected_arr {
  height: 12px;
}
#ticker_items li .item_wrap{
  display: block;
  width: 180px;
  height: 60px;
  padding: 8px 10px 6px;
  overflow: hidden;
}
#ticker_items li img {
  width: 75px;
  float: left;
}
#ticker_items li .title {
  display: block;
  width: 97px;
  height: 60px;
  overflow: hidden;
  font-size: 12px;
  float: right;
  line-height: 120%;
}

/* END: jsSplash
-------------------------------------------------------------- */

#right .most_popular_video .article_video {
    position: relative;
}
#right .most_popular_video .article_video span.voyo_button_small {
    display: block;
    background: url("/static/cz/shared/img/voyo_video_icon_small.png") no-repeat scroll 0 0 transparent;
    position: absolute;
    left: 60px;
    top: 19px;
    width: 27px;
    height: 29px;
}

#most_watched_videos .videos_body.entry-content li {
    position: relative;
}
#most_watched_videos .videos_body.entry-content span.voyo_button_small {
    display: block;
    background: url("/static/cz/shared/img/voyo_video_icon_small.png") no-repeat scroll 0 0 transparent;
    position: absolute;
    width: 27px;
    height: 29px;
    top: 18px;
    right: 5px;
}

#right #most_watched_videos .videos_body.entry-content li {
    position: relative;
}
#right #most_watched_videos .videos_body.entry-content span.voyo_button_small {
    left: 75px;
    top: 20px;
}
#catchup_videos.catchup_videos .items .item .image {
    position: relative;
}
#catchup_videos.catchup_videos .items .item .image span.voyo_button_medium {
    display: block;
    background: url("/static/cz/shared/img/voyo_video_icon_medium.png") no-repeat scroll 0 0 transparent;
    position: absolute;
    right: 13px;
    bottom: 24px;
    width: 39px;
    height: 46px;
}

/* PR tip ad override for alternative image sizes */
html #right .box.pr_banner .cz_ad_pr img, #right .box.pr_banner .cz_ad_pr_img {
	width: auto;
	height: auto;
	margin-right: 7px;
	background: transparent none;
}
html #right .box.pr_banner .ad_pr a {
	margin-left: 0;
	width: auto;
	height: auto;
}
html #right .pr_banner .cz_ad_pr_txt, html #right .pr_banner .cz_ad_pr_text { float: none; background: transparent none; display: block; }
html .pr_banner .ad_pr img { width: auto; height: auto; }
html #right .pr_banner #pr_banner_1 .cz_ad_pr_txt, html #right .pr_banner #pr_banner_1 .cz_ad_pr_text,
html #right .pr_banner #pr_banner_2 .cz_ad_pr_txt, html #right .pr_banner #pr_banner_2 .cz_ad_pr_text,
html #right .pr_banner #pr_banner_3 .cz_ad_pr_txt, html #right .pr_banner #pr_banner_3 .cz_ad_pr_text,
#right .pr_banner #pr_banner_1 .cz_ad_pr_img, html #right .pr_banner #pr_banner_2 .cz_ad_pr_img, html #right .pr_banner #pr_banner_3 .cz_ad_pr_img { background: transparent none; }

#facebook_box {
  overflow: hidden;
}

/* ICQ --- */

#icqBar #icqP {
	background: url("/static/cz/shared/img/icq-signin-bg.png") repeat-x scroll 0 0 #ffffff;
	text-align: left;
}

/* ICQ Align Hack */
html #icqP, html #cloneicqP { margin: 0; }

/* --- ICQ */

#nova_footer .footer_box .disclaimer	{ font-size: 9px; padding-top: 1em; clear: both; }
#nova_footer .footer_box .copyright	{ margin-bottom: 1em; }

/* pr article default */

.article .reclameSpaceRibbon {
  margin: 0 0 10px;
}
.article .reclameSpaceRibbon .reclameSpaceText {
  background: #585858;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 3px 5px;
  text-align: left;
}
.article .reclameSpace {
  height: 25px;
}
.article .reclameSpace .reclameSpaceText {
  background: #585858;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 3px 7px;
  text-align: left;
  float: left;
}

/* nova_cookie_disclaimer */
#nova_cookie_disclaimer {
  background: transparent none repeat scroll 0 0;
  bottom: 0;
  height: auto;
  left: 0;
  position: fixed;
  text-align: left;
  width: 100%;
  z-index: 10000;
}
#nova_cookie_disclaimer div {
  background: #0071b9;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  overflow: hidden;
  bottom: -400px;
}
#nova_cookie_disclaimer div p {
  padding: 20px 180px 20px 100px;
  color: #ffffff;
  font-size: 14px;
	background: url('/static/cz/microsites/std/img/ico_info.png') 45px 50%  no-repeat;
}
#nova_cookie_disclaimer div a {
  color: #ffffff;
  text-decoration: underline;
}
#nova_cookie_disclaimer button {
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 14px;
  margin-top: -11px;
  padding: 3px 10px;
  display: block;
  position: absolute;
  right: 70px;
  top: 50%;
  cursor: pointer;
  background: transparent;
  font-family: Arial,sans-serif;
  outline: 0 none;
  box-sizing: content-box;
}
