body{background:url(/images/hbg.gif) repeat-x;font-family:Verdana,sans-serif;font-size:10pt;margin:0;padding:0;min-width:800px}
.colored{color:#d02425 !important}
.a{border-bottom:1px solid #000;}
.a:hover{border:none}
a{color:#000}
a img{border:none}
h1{margin:0;padding:0;font-size:large}
#headerbox, .headerbox{background:url(/images/headerbg.gif) repeat-x;line-height:35px;border:1px solid #c4c496;margin:1em 0 0 0}
#headerbox h1, .headerbox h1{margin:0;padding:0 0 0 .5em;font-size:large;}
#header{margin:0;padding:0 1em 0 0;height:80px;}
#logo{position:absolute;top:32px;margin:0 0 0 1.2em;}
#search{position:absolute;right:1em;top:100px;}
#topsearchbar{border:1px solid #2c3a57;width:500px;height:30px;font-size:18px;}
.searchbutton{border:1px solid #2c3a57;background:#fff;color:#333;}
#nav{position:absolute;right:1em;top:50px;font-size:12pt;padding:.2em;}
#nav ul{list-style:none;margin:0;padding:0 .2em 0 0em;}
#nav li{float:left;border-right:1px solid #2c3a57}
#nav a{margin:0;text-decoration:none;padding:0 .4em;color:#2c3a57}
#nav ul ul{display:none;position:absolute;left:-20px;z-index:100;padding:0;float:none;border:1px solid #303e5b;border-top:1px solid #303e5b;background:#fff}
#nav ul ul li{float:none;border:none;}
#nav ul ul a{width:7em;line-height:1.35em;padding:0 .4em;color:#000;display:block}
#nav ul ul a:hover{background:#f1f1f1}
#subtext{margin:0 1em 0 2.3em;position:absolute;top:160px;left:160px;font-size:9pt}
#subtext h1{font-size:9pt;font-weight:normal}
#categories, #about{position:relative;margin:0;}
#categories a , #about a{display:block;}
#categories:hover ul, #about:hover ul, #searchoptions:hover ul{display:block;}
#nav .clear{clear:left;}
#body{margin:120px 1em;}
#body h1 {font-size:20px; color:#333}
#body h2{font-size:16px; color:#3d4d81}
#cloud{text-align:center;padding:1em;}
#cloud a{color:#000;padding-left:.3em;text-decoration:none}
#cloud a:hover{color:#d02425 !important}
#search_suggestions a:hover{color:#d02425 !important}
#sidebanner{margin-top:.2em}
table{border-collapse:collapse;border:1px solid #ccc}
td{border:1px solid #ccc;padding:.2em .2em .2em .2em}
td a{text-decoration:none}
td small{font-weight:bold}
th{background:url(/images/th.png) repeat-x;padding:.3em;text-align:left;color:#ccc;font-weight:normal;border:1px solid #ccc}
th img{margin-right:.4em}
th a{font-weight:bold}
tr:hover{background:#e9e9e9;}
.tdark{background:#f1f1f1}
#binary td, #bits td{padding:.3em;border:1px solid #fff !important;border-bottom:1px solid #e6e9f3 !important}
#binary tr:hover, #bits tr:hover{background:none !important}
#bits a{text-decoration:underline}
#bits a:hover{text-decoration:none}
.verified{float:right;margin-right:.2em}
.comments{float:right}
.comments img{vertical-align:middle;margin-right:.2em}
.right{text-align:right}
.center{text-align:center}
#pagination{margin:2em 0 0 0;text-align:center;}
#pagination a{border:1px solid #666;margin:0 .2em 0 .2em;padding:.3em .5em .3em .5em;text-decoration:none;color:#666}
#pagination a:hover{border:1px solid #000}
.noborder{border:none !important}
.selected{font-weight:bold}
#footer *{border:none;background:#fff;vertical-align:top}
#footer h2{font-size:large;padding:0;margin:0; color:#666;}
#footer{margin:3em 0 0 0;padding:.5em;border-top:1px solid #ccc;color:#666;}
#footer a{color:#666}
#bottomlogo{position:absolute;right:1em;background:url(/images/bottomlogo.gif) no-repeat;width:105px;height:92px}
p{margin:1em 0;}
label{float:left;width:10em;}
#whoIsYou{position:absolute;right:1em;top:.3em;margin:0;padding:0;color:red;padding-right:120px;background:url(/images/whoislogo.gif) no-repeat 100% .1em;line-height:30px;}
#whoIsYou a{color:#fff}
#downloadbox{background:url(/images/downloadbox.gif) no-repeat .5em 50%;padding:.5em .5em .5em 4em;background-color:#f1f1f1;border:1px solid #666;}
#downloadbox h1{font-size:large;margin:0;padding:0}
#downloadbox a{color:#000}
#downloadbox a:hover{text-decoration:none}
#verifiedbox{line-height:20px;margin:.5em 0 0 0;padding:.2em .2em .2em 4em;background:url(/images/ver.gif) no-repeat 1.5em 50%;background-color:#f3f3f3;border:1px solid #aaa;}
#tabs{margin:2em 0 1em 0;padding:0 0 .4em 0;border-bottom:1px solid #666}
#tabs ul{list-style-type:none;display:inline;margin:0;padding:0}
#tabs li{display:inline;}
#tabs li a{background:url(/images/tabsbg.gif) repeat-x;border-left:1px solid #c4c496;border-right:1px solid #c4c496;border-top:1px solid #c4c496;padding:.4em;color:#666;text-decoration:none}
#tabs li a:hover{color:#000;border-color:#aaa}
#tabs .current{color:#000;border-color:#666}
#description{border:1px dashed #c5c5c5;padding:.5em}
.dark{border:1px solid #666;background:#fff;padding:1em;margin:0 0 1em 0}
.light{border:1px solid #ccc;padding:1em;margin:0 0 1em 0}
.moderator{border:1px solid #ccc;background:#e1ffe5;padding:1em;margin:0 0 1em 0}
.moderator hr{height:1px;background:#00b515 !important;color:#00b515 !important;border:none}
.uploader{border:1px solid #ff6c00;background:#fdf4ee;padding:1em;margin:0 0 1em 0}
.uploader hr{height:1px;background:#f0be99 !important;color:#f0be99 !important;border:none}
.light hr, .dark hr{height:1px;background:#ccc !important;color:#ccc !important;border:none}
#suggestion{margin-top:.1em;float:right;display:none;position:absolute;z-index:50;line-height:1.35em;background-color:#fff;border-bottom:1px solid #828282;border-top:1px solid #828282;}
#suggestion a{color:#000;font-family:verdana;font-size:10pt;background-color:#fff;display:block;text-decoration:none;white-space:nowrap;overflow:hidden;padding:0 3px 0 0;border-left:1px solid #828282;border-right:1px solid #828282;}
#suggestion a.hovered{color:#000;background-color:#f1f1f1;text-decoration:none}
#blogbar{margin:1em 0 1em 0;background:#e9ebef;padding:.3em;border-bottom:1px solid #435ea2}
#blogbar a{text-decoration:underline}
#blogbar a:hover{text-decoration:none}
#bookmarks{margin-top:2.2em}
.dlbg-l{background:url(/images/dlboxleft.png) top left no-repeat;height:70px;}
.dlbg-r{background:url(/images/dlboxright.png) top right no-repeat;height:70px;}
.dlbg-content{padding:.5em 0 0 6em}
#dlbg{background:url(/images/dlboxbg.png) repeat-x;height:70px;margin:1em 0 0 0;}
#dlbg h1{margin:0;padding:0}
#unxbg{background:#eaffe1;border:1px solid #80c177;line-height:30px;margin:.5em 0 1em 0;padding:0 0 0 1em;}
#unxbg a{text-decoration:none}
#review {background:#3d4d81; text-align:center; line-height:30px;margin:.5em 0 1em 0;padding:0.3em; clear: both; }
#review a{text-decoration:none; color:white; font:bold 16px Tahoma}
#review a:hover{text-decoration:underline;}

.topInfo{height:250px;}
.imageHolder{float:left;height:200px;text-align:center;width:0px}
.downloadMenu{float:left;height:180px;margin-left:0;width:100%; display: block}
.freeDirect{background-color:#E5F5FA;border:1px solid #B7E3F1;float:left;height:130px;margin-left:0px;margin-top:10px;padding-top:10px;width:290px}
.downloadTorrent{background-color:white;border:1px solid white;float:left;height:130px;margin-left:10px;margin-top:10px;padding-top:10px;width:auto}
.directStreaming{background-color:#FCE5E5;border:1px solid #F8B7B7;float:left;height:130px;margin-left:10px;margin-top:10px;padding-top:10px;width:290px}
.directStreaming.holder{background:url("../images/arrow_direct.png") no-repeat scroll 50% 100% transparent;border:0 none;height:66px;padding-top:0}
.directStreaming.child{border:1px solid #B7E3F1;margin-left:0;margin-top:0;padding-top:10px}
.directStreamingText{color:#333;float:left;font:11px Verdana;margin-left:10px;margin-top:10px;width:232px}
.dMenuIcon{float:left;height:40px;margin-left:5px;margin-right:10px;width:40px}
.spanFreeDirect{color:#333;font:bold 16px Tahoma}
.spanDirectDownload{color:#333;font:bold 16px Tahoma}
.spanFaster{color:#F60;font:italic 13px Tahoma}
.spanDownload{color:#00A500;font:bold 36px Tahoma;margin-right:30px}
.spanMagnet{color:#4682B4;font:bold 36px Tahoma;margin-right:30px}
.spanThisTorrent{color:#333;font:bold 16px Tahoma}
.spanDirectStreaming{color:#333;font:bold 16px Tahoma;margin-right:30px}
.spanStreaming{color:#333;font:bold 16px Tahoma}
.addMenu{float:left;height:50px;margin-bottom:10px;margin-left:10px;margin-top:10px;text-align:center;width:474px}
.addMenuTop{background-color:#333;color:#FFF;float:left;font:bold 16px Tahoma;height:25px;padding-top:5px;width:100%}
.aReviewVeryAware{color:#FFF;text-decoration:none}
.addMenuBottom{float:left;height:20px;width:100%}
.addMenuBottom a{color:#333;text-decoration:none}
.addMenuBottomBGray{background-color:#D9D9D9;border:1px solid #CCC;color:#333;float:left;font:11px Tahoma;height:18px;padding-top:2px;width:156px}
.addMenuBottomGray{background-color:#E5E5E5;border:1px solid #CCC;color:#333;float:left;font:11px Tahoma;height:18px;padding-top:2px;width:156px}
.torrentTitle{font:bold 20px Tahoma}
.leftSideHolder{float:left;margin-left:0px;width:100%;height:100%}
.dMenuSub{float:left;height:90px;background-color:rgb(183,227,241);margin-top:5px;padding-top:5px;padding-left:5px;color:rgb(51,51,51);font:12px Tahoma;width:210px}
.normalText{float:left}
.highlightText{font-weight:bold;float:left;margin-top:5px}


.tableAd {
	width: 300px;
	border: 0;
	padding: 0;
}