.slink 
{
 font-family: arial; font-size: 9px; font-weight: normal; color: #3366FF; text-decoration: underline ;
}

.black_head 
{
  font-family: arial; font-size: 16px; color: #000000; font-weight: bold; text-decoration: underline;
}

.new_leftnav_lnk 
{
  font-family: arial; font-size: 12px; color: #3366FF; text-decoration: underline; font-weight: normal;
}
.info 
{  
	font-family: arial; font-size: 11px; font-style: normal; color: #53456D;
}
.new_midnav_subhead 
{
  font-family: arial; font-size: 12px; font-weight: bold; color: #666666; text-decoration: none;
}

.new_midnav_subhead_normal 
{
 font-family: arial; font-size: 12px; font-weight: normal; color: #333333; text-decoration: none;
}

.new_midnav_tiny_normal 
{
 font-family: arial; font-size: 9px; font-weight: normal; color: #333333; text-decoration: none;
}

.black_head_no_underline 
{
 font-family: arial; font-size: 16px; color: #000000; font-weight: bold; text-decoration: none;
}

.top_nav_links 
{
  font-family: arial; font-size: 12px; font-weight: bold; color: #333333; text-decoration: none;
}

.form_items 
{
 font-family: arial; font-size: 10px; font-weight: normal; color: #666666;
}

.top_nav_links_lite 
{
 font-family: arial; font-size: 12px; font-weight: bold; color: #003399; text-decoration: none ;
}

.red_head 
{
 font-family: arial; font-size: 16px; color: #CC0000; font-weight: bold; text-decoration: underline ;
}

.new_midnav_subhead_red 
{
 font-family: arial; font-size: 12px; font-weight: bold; color: #339900; text-decoration: none;
}

.new_midnav_subhead_normal_red 
{
 font-family: arial; font-size: 12px; font-weight: normal; color: #CC0000; text-decoration: none;
}
.you 
{
  font-family: arial; font-size: 12px; color: #666666; text-decoration: none; font-weight: bold;
}

.pay 
{
  font-family: arial; font-size: 12px; color: #FF6633; font-weight: bold;
}

.save 
{
  font-family: arial; font-size: 12px; color: #000000; text-decoration: none; font-weight: bold;
}

.new_midnav_tiny_normal_desc 
{
 font-family: arial; font-size: 9px; font-weight: normal; color: #666666; text-decoration: none ;
}

.new_leftnav_lnk_author 
{
 font-family: arial; font-size: 11px; color: #003366; text-decoration: underline; font-weight: normal;
}

.datefont
{
    COLOR: #666666;
    FONT-FAMILY: Arial;
    FONT-SIZE: 11px;
	FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
.smalllink 
{
 font-family: arial; font-size: 9px; font-weight: normal; color: #3366FF; text-decoration: underline ;
}
.topnavlink
{
    COLOR: #FFFFFF;
    FONT-FAMILY: Arial;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none;
}
TD
{
	TEXT-ALIGN: MIDDLE;
}
.topnavbgcolor
{
    background: #9DA2C8;
}
.feedtext
{
	font-family: arial; font-size: 12px; color: #3366FF; text-decoration: underline; font-weight: normal;
}

.ts1
{
 font-family: arial; font-size: 10px; font-weight: normal; color: #666666;
}
.bs1
{
 font-family: arial; font-size: 10px; font-weight: normal; color: #666666;
}
.whitefont
{
    COLOR: #FFFFFF;
    FONT-FAMILY: Arial;
    FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
    TEXT-DECORATION: none;
}
.hashbgcolor
{
    background: #0858A2;
}
.fs4
{
    FONT-FAMILY: Arial;
    FONT-SIZE: 12px;
    FONT-WEIGHT: normal;
}
.copytext
{
    COLOR: #000000;
    FONT-FAMILY: Arial;
    FONT-SIZE: 10px;
	FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}