@charset "utf-8";
/* CSS Document */
.box_match { margin-bottom:20px;}
.left_side_match { width:310px; float:right;} .right_side_match { width:310px; float:left;}
.left_side_match .logo_equipe { width:70px; float:right;} .right_side_match .logo_equipe { width:70px; float:left;}
.left_side_match .titr_equipe { margin-bottom:5px; width:200px; height:64px; background:#005985; float:right; color:#fff; text-align:center; font-family:kufi,roboto; line-height:64px;} .right_side_match .titr_equipe { margin-bottom:5px; line-height:64px; color:#fff; text-align:center; font-family:kufi,roboto; width:200px; height:64px; background:#005985; float:left;}
.left_side_match .score { width:40px; height:40px; background:#ec0000; float:right; font-family:kufi,roboto_bold; color:#fff; font-size:24px; text-align:center; line-height:40px;} .right_side_match .score {  font-family:roboto_bold; width:40px; height:40px; background:#ec0000; float:left;  color:#fff; font-size:24px; text-align:center; line-height:40px;}
.info_match_in { display:none;}
.left_side_match .buteur { font-size:14px;font-family:kufi,roboto; line-height:26px;} .right_side_match .buteur { line-height:26px; font-size:14px; text-align:left;font-family:kufi,roboto;}
.arbitre { color:#878787; text-align:center; font-family:kufi,roboto;}
.box_info_match { margin-top: 7px; background:#eee; -moz-border-radius: 4px; border-radius: 4px; padding:7px;}
.info_match {  padding:0 15px 0;}
.info_match .catch_info  { margin-bottom:5px; margin-top:0;}.info_match .entet1_dtlpdt  { background: url(../image/gif/dot.gif) left top repeat-x; margin-bottom:0; padding:10px 0 0 0;}
.info_match_active { padding:10px 15px 10px; background:#fff;} .info_match_active .arbitre { padding:10px 0 8px; } .ouvr_match { background:url(../image/gif/ouvre_match.gif) center top no-repeat; width:149px; height:18px; color:#fff; text-align:center; display:block; font-family:kufi,roboto; text-transform:uppercase; font-size:11px; margin:auto; }
.classment_match { background:#58646f; padding:10px; position:relative;}
.titr_classment {text-transform: uppercase;color: #fff;font-family: kufi,roboto_bold;font-size: 1.387em;}
.stitr_classment {text-transform: uppercase;color: #fff;font-family: kufi,roboto;font-size: 1.217em; margin-bottom:10px;}
.liste_classement li { background:#fff; border-bottom:#f4f4f4 solid 5px; padding-bottom:2px; padding-top:5px; padding-left:5px; font-family:kufi,roboto; margin-bottom:1px;}
.nbr_cls { background:#005985; color:#fff; text-align:center; width:20px; height:20px; display:block; float:right; margin-left:10px;}
.equipe_cls { color:#0b2850; font-size:14px; font-family:roboto_bold; text-transform:uppercase;vertical-align:middle}
.point_cls { float:left; width:20px; height:20px; display:block; background:#f4f4f4; text-align:center;}
.ouvr_match_active { background-position:center bottom}
.tab_match { background:#fff;}  
.tab_match tr td { background:#f4f4f4; border-left:#fff solid 1px; font-family:kufi,roboto; font-size:0.917em; text-transform:uppercase; padding:2px 5px 3px;}
.tab_match tr td.last { background:#fff; color:#58646f;}
.link_match { background: url(../image/gif/puce_blan.gif) right 2px no-repeat; display:inline-block; width:12px; height:12px; position:absolute; left: 10px; top: 17px; text-indent:-9999em;}
.liste_classement li img{ vertical-align:middle}