/* css cho dropdown sort... */
 a.mb-car-dropdown-link
 {
 	font-size: 13px;
 	color: #555;
 }

.mb-car-sort-list
{
	float: left;
	margin-right: 15px;
}


.mb-car-dropdown-list
{
}

.mb-car-dropdown-icon
{
	margin: 0 3px 0 -20px;
}

.mb-car-dropdown-limit
{
	height: 300px;
	overflow: scroll;
}

.mb-car-dropdown-list ul
{
	list-style-type: none;
	margin: 0px;
	padding-left: 5px;
}

.mb-car-dropdown-list li
{

}

.mb-car-dropdown-list li a
{
	padding: 8px 10px 8px 20px;
	display: block;
    font-size: 14px;
}

/* line 7,  */
.mb-car-list-empty
{
	background: #F3F6FB;
	padding-top: 10px;
	padding-left: 10px;
	font-size: 20px;
}


.mb-car-item
{
	font-size: 13px;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.mb-car-item:nth-child(2n+1) {
    background: #F3F6FB;
    font-size: 13px;
}


/* line 12,  */

.mb-car-item-title
{
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #337ab7;
    font-weight: bold;
    margin-bottom: 3px;
}

.mb-car-item-title a {
    color: #337ab7;
    font-weight: bold;
}

.mb-car-img {
    float: left;
    overflow: hidden;
    max-height: 50px;
    height: 50px;
    margin-top: 2px;
}

.mb-car-info {
    width: auto;
    padding-left: 1rem;
    margin-left: 56px;
    padding-left: 0px !important;
}
.mb-car-info > div:nth-child(3) {
	color: #9c9c9c;
	font-size: 12px;
}
.mb-car-info > div:nth-child(2) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* line 19,  */

.mb-car-item-info {
    font-size: 13px;
}


/* line 24,  */

.mb-car-item-price {
    color: #5d9617;
    /*color: #109d59;*/
}


/* line 29,  */

.mb-car-item-info span {
    color: #9D9D9D;
}


/* line 34,  */

.mb-car-item-date {
    color: #9D9D9D;
}

.mb-car-item-all-info img {
    clear: both;
    width: 50px !important;
    height: 50px;
}

img.post-stars {
    height: 15px;
    width: auto !important;
    vertical-align: top;
    margin-right: 5px;
}
.car-item-no-padding .columns
{

}

.mb-car-paging
{
	padding: 0 !important;
}

.mb-car-paging ul
{
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0.5rem;
}

.mb-car-paging li
{
	float: left;
}

.mb-car-paging li a
{
	margin-bottom: 0.3rem;
	color: #E88B35;
	border: 1px solid #E1E1E1;
	background: #FFF;
	padding: 0.3rem 0.6rem;
}

.mb-car-paging li a:hover
{
	background: #E88B35 !important;
	color: #FFF !important;
	border: 1px solid #E88B35 !important;
}


.mb-car-paging-active
{
	background: #E88B35 !important;
	color: #FFF !important;
	border: 1px solid #E88B35 !important;
}

.mb-car-relative
{
	margin: 5px 0px;
}