/* RadMenu Default skin */

.RadMenu_Custom
{
    text-align: left;
}

.RadMenu_Custom_rtl
{
    text-align: right;
}

.RadMenu_Custom .rmRootGroup
{
    border-bottom-width: 0;
    background-color: transparent;
}
.RadMenu_Custom ul.rmHorizontal
{
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 1px dotted #808080 !important;
}
.RadMenu_Custom ul.rmHorizontal li.rmItem
{
    padding-bottom: 0;
    margin-bottom: 0;
}
.RadMenu_Custom_Context
{
    background: none;
    border: 0;
}

.RadMenu_Custom .rmLink, .RadMenu_Custom .rmTemplate
{
    line-height: 24px;
    text-decoration: none;
    color: #fff;
}

.RadMenu_Custom .rmLink:focus, .RadMenu_Custom .rmFocused
{
    outline: 0;
}

.RadMenu_Custom .rmExpanded
{
    z-index: -1;
    position: relative;
}

.RadMenu_Custom_rtl .rmExpanded
{
    position: static;
}

.RadMenu_Custom .rmLink:hover, .RadMenu_Custom .rmItem .rmExpanded
{
    background-color: #fff;
    color: #333;
    font-weight: bold;
}

.RadMenu_Custom .rmLink, .RadMenu_Custom .rmTemplate
{
    color: #f1eff0;
    font: bold 11px Arial, sans-serif;
}

.RadMenu_Custom .rmGroup
{
    background: #f1eff0;
}

.RadMenu_Custom .rmGroup .rmLink, .RadMenu_Custom .rmGroup .rmTemplate
{
    text-decoration: none;
    color: #333;
}

.RadMenu_Custom_rtl .rmGroup .rmLink
{
    text-align: right;
}

.RadMenu_Custom .rmGroup .rmLink:hover, .RadMenu_Custom .rmGroup .rmFocused, .RadMenu_Custom .rmGroup .rmExpanded
{
    background: #dfdfdf;
    color: #6b6b6b;
}

.RadMenu_Custom .rmText
{
    padding: 3px 20px 5px;
}

.RadMenu_Custom .rmGroup .rmLink .rmText
{
    font-size: 11px;
    padding: 4px 37px 5px 20px;
}

.RadMenu_Custom_rtl .rmGroup .rmLink .rmText
{
    padding: 4px 20px 5px 37px;
}

/* <expand arrows styling> */

.RadMenu_Custom .rmGroup .rmLink .rmExpandRight
{
    background: transparent url(Menu/ArrowExpand.gif) no-repeat right -1px;
}

.RadMenu_Custom .rmGroup .rmLink .rmExpandLeft
{
    background: transparent url(Menu/ArrowExpandRTL.gif) no-repeat left -1px;
}

.RadMenu_Custom .rmGroup .rmLink:hover .rmExpandRight, .RadMenu_Custom .rmGroup .rmFocused .rmExpandRight, .RadMenu_Custom .rmGroup .rmExpanded .rmExpandRight
{
    background-image: url(Menu/ArrowExpandHovered.gif);
}

.RadMenu_Custom .rmGroup .rmLink:hover .rmExpandLeft, .RadMenu_Custom .rmGroup .rmFocused .rmExpandLeft, .RadMenu_Custom .rmGroup .rmExpanded .rmExpandLeft
{
    background-image: url(Menu/ArrowExpandHoveredRTL.gif);
}

/* </expand arrows styling> */

.RadMenu_Custom .rmHorizontal .rmItem
{
    padding-bottom: 1px;
}
.RadMenu_Custom .rmHorizontal .rmLast
{
    border-right: 0;
}

.RadMenu_Custom .rmVertical .rmItem
{
    border-bottom: 1px solid #353535;
}
.RadMenu_Custom .rmVertical .rmLast
{
    border-bottom: 0;
    padding-bottom: 1px;
}

.RadMenu_Custom_rtl .rmHorizontal .rmItem
{
    border-left: 0;
}

.RadMenu_Custom .rmRootGroup .rmGroup .rmItem, .RadMenu_Custom_Context .rmGroup .rmItem
{
    border-right: 0;
    border-bottom: 0;
    padding-bottom: 0;
}

.RadMenu_Custom .rmRootGroup .rmGroup .rmItem, .RadMenu_Custom .rmRootGroup .rmGroup .rmLink
{
    background: transparent;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}
.RadMenu_Custom .rmGroup
{
    background-color: #f1eff0;
}

.RadMenu_Custom .rmGroup .rmExpanded
{
    z-index: -1;
}

.RadMenu_Custom .rmTopArrow, .RadMenu_Custom .rmBottomArrow
{
    height: 10px;
    width: 100%;
    background: #fff url(Menu/ArrowScrollUpDown.gif) no-repeat top center;
}

.RadMenu_Custom .rmBottomArrow
{
    background-position: center -18px;
}

.RadMenu_Custom .rmLeftArrow, .RadMenu_Custom .rmRightArrow
{
    width: 10px;
    height: 100%;
    margin-top: -1px;
    background: #fff url(Menu/ArrowScrollLeftRight.gif) no-repeat left center;
}

.RadMenu_Custom .rmRightArrow
{
    background-position: -18px center;
}

.RadMenu_Custom .rmItem .rmDisabled .rmText
{
    color: #999;
}

.RadMenu_Custom .rmRootGroup .rmItem .rmDisabled
{
    background: none;
}

.RadMenu_Custom .rmGroup .rmItem .rmDisabled
{
    background-color: #fff;
}

.RadMenu_Custom .rmRootGroup .rmSeparator, .RadMenu_Custom .rmGroup .rmSeparator
{
    background: #8f8f8f;
    border-top: 1px solid #676767;
    border-bottom: 0;
}

.RadMenu_Custom .rmSeparator .rmText
{
    display: none;
}

.RadMenu_Custom .rmHorizontal .rmSeparator
{
    height: 20px;
    width: 1px;
    line-height: 20px;
    border: 0;
}

.RadMenu_Custom .rmVertical .rmSeparator
{
    height: 1px;
    margin: 3px 0;
    border: 0;
    line-height: 1px;
}

.RadMenu_Custom .rmLeftImage
{
    margin: 2px;
}

.RadMenu_Custom .rmSlide
{
    margin: -1px 0 0 -1px !important;
}

.RadMenu_Custom .rmHorizontal .rmSlide
{
    margin-top: -2px !important;
}

.RadMenu_Custom_rtl .rmSlide
{
    margin-left: 0 !important;
    margin-right: -1px !important;
}

.RadMenu_Custom .rmGroup .rmSlide
{
    margin: 0 !important;
}

.RadMenu_Custom .rmItem .rmDisabled:hover
{
    background: none;
}
.RadMenu_Custom a.rmLink
{
    color: #706e6f !important;
}
