@charset "UTF-8";
@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

/*
 *
 *  Copyright (c) David Bushell | http://dbushell.com/
 *
 */
/* normalize.css v2.0.1 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  color: #333;
  position: relative;
  width: 100%;
  min-width: 20em;
}

.highlight {
  background: #fff699;
  padding: 0 0.5em;
}

.prose ul, .prose ol {
  list-style: outside disc;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}
.prose p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}
.prose p.small {
  color: #666;
  font-size: 0.8125em;
  line-height: 1.84615em;
  margin-bottom: 1.84615em;
}
.prose p.medium {
  color: #666;
  font-size: 0.875em;
  line-height: 1.71429em;
  margin-bottom: 1.71429em;
}
.prose p:last-child {
  margin-bottom: 0;
}
.prose h1 {
  font-size: 1.875em;
  line-height: 1.2em;
  margin-bottom: 0.4em;
}
.prose h2 {
  font-size: 1.5em;
  line-height: 1.25em;
  margin-bottom: 0.5em;
}
.prose a {
  color: #6d7173;
  border-bottom: 1px solid #a1cfe5;
  text-decoration: none;
  outline: none;
}
.prose a:focus, .prose a:hover {
  color: #4ab336;
  border-bottom-color: #77b36b;
}

.block {
  position: relative;
  margin: 0 auto;
  padding: 1.5em 1.25em;
  max-width: 60em;
}

.close-btn {
  display: block;
  width: 39px;
  height: 45px;
  padding: 0;
  border: 0;
  outline: none;
  background: #333333 url("../images/close-icon.png") left top no-repeat;
  background-size: 39px 45px;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.no-svg .close-btn {
  background-image: url("../img/close-btn.png");
}
.close-btn:focus, .close-btn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.nav-btn {
  display: block;
  /*width: 2.625em;
  height: 2.25em;*/
  padding: 0;
  border: 0;
  outline: none;
  background: #333333 url("../images/menu-button.png") left center no-repeat;
  background-size: 1.875em 1.5em;
  overflow: hidden;
  white-space: nowrap;
  /*text-indent: 100%;*/
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.no-svg .nav-btn {
  background-image: url("../img/nav-icon.png");
}
.nav-btn:hover, .nav-btn:focus {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

#outer-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
}

#nav {
  z-index: 200;
  position: relative;
  overflow: hidden;
  width: 100%;
  color: #fff;
}
#nav .close-btn {
  display: none;
}
#nav .block-title {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
#nav .block {
  z-index: 2;
  position: relative;
  padding: 0.75em 1.25em;
}
#nav ul {
  *zoom: 1;
  display: block;
}
#nav ul:before, #nav ul:after {
  content: "";
  display: table;
}
#nav ul:after {
  clear: both;
}
#nav li {
  display: block;
}
#nav li a {
  background-color: #EFEFEF;
  display: block;
  color: #363636;
  font-family: "HelveticaNeueW01-57Cn", Helvetica, Verdana, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.0em;
  outline: none;
  text-transform: uppercase;
}
#nav li.gray a {
  background-color: #363636;
  color: #FFF;
}
/*#nav li a:focus, #nav li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}*/
#nav li.is-active a {
  color: #fff;
}

#top {
  z-index: 100;
  position: relative;
  color: #fff;
  background: #333333;
}
#top .block-title {
  margin: 0;
  font-size: 1.875em;
  line-height: 1.2em;
  text-align: center;
  white-space: nowrap;
}
#top .nav-btn {
  position: absolute;
  top: 1.5em;
  left: 1.875em;
}

#main {
  background: #fff;
}
#main .block {
  padding: 2.625em 1.875em;
}

footer[role="contentinfo"] {
  background: #ddd;
}

@media screen and (min-width: 768px) {
  #top .nav-btn {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  #nav .close-btn {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  #nav .block-title {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  #nav ul {
    text-align: center;
    white-space: nowrap;
  }
  #nav li {
    display: inline-block;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
  #nav li:last-child {
    border-right: none;
  }
  #nav li a {
    padding: 0.42857em 0.85714em;
  }
}
@media only screen and (max-width: 767px) {

#inner-wrap {
  position: relative;
  width: 100%;
}

  #nav {
    display: block;
    padding-top: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  #nav:not(:target) {
    z-index: 1;
    height: 0;
  }
  #nav:target .close-btn {
    display: block;
  }
  #nav .close-btn {
    position: absolute;
    top: 0;
    left: 0;
  }
  #nav .block {
    position: relative;
    padding: 45px 0 0 0;
  }
  #nav li {
    position: relative;
    border-top: 1px solid #D2D2D2;
  }
  #nav li:last-child {
    border-bottom: 1px solid #D2D2D2;
  }
  #nav li.is-active:after {
    z-index: 50;
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: -0.03125em;
    margin-top: -0.625em;
    border-top: 0.625em transparent solid;
    border-bottom: 0.625em transparent solid;
    border-right: 0.625em white solid;
  }
  #nav li a {
    padding: 20px;
  }
  #nav li.arrow a {
      background: #EFEFEF url('../images/mobile-nav-arrow-gray.png') no-repeat 215px 20px;
      padding-right: 50px;
  }
  #nav li.gray.arrow a {
     background: #363636 url('../images/mobile-nav-arrow.png') no-repeat 215px 20px;  
  }
   #nav li.arrow a.active {
      background: #EFEFEF url('../images/mobile-nav-arrow-gray-down.png') no-repeat 215px 20px;
      padding-right: 50px;
  }
  #nav li.gray.arrow a.active {
     background: #363636 url('../images/mobile-nav-arrow-down.png') no-repeat 215px 20px;  
  }
  
  .js-ready #nav {
    height: 100%;
    width: 78%;
    background: #333333;
    -webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
  }
  .js-ready #nav .block {
    background: #FFF;
  }
  .js-ready #nav .close-btn {
    display: block;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    z-index: 300;
  }
  .js-ready #nav .close-btn:focus, .js-ready #nav .close-btn:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  .js-ready #nav {
    left: -78%;
  }
  .js-ready #inner-wrap {
    left: 0;
  }

  .js-nav #inner-wrap {
    left: 78%;
  }
  /* darken the main body of the page when nav appears */
  .csstransforms3d.csstransitions.js-ready header, .csstransforms3d.csstransitions.js-ready #body, .csstransforms3d.csstransitions.js-ready footer {
      opacity: 1.0;
    /*  -webkit-transition: opacity 300ms 100ms, -webkit-transform 500ms ease;
    -webkit-transition-delay: ease, 0s;
    -moz-transition: opacity 300ms 100ms ease, -moz-transform 500ms ease;
    -o-transition: opacity 300ms 100ms ease, -o-transform 500ms ease;
    transition: opacity 300ms 100ms ease, transform 500ms ease;*/
      
  }
  .csstransforms3d.csstransitions.js-nav header, .csstransforms3d.csstransitions.js-nav #body, .csstransforms3d.csstransitions.js-nav footer {
        opacity: 0.4;
  }
  
  .csstransforms3d.csstransitions.js-ready #nav {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .csstransforms3d.csstransitions.js-ready #inner-wrap {
    left: 0 !important;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .csstransforms3d.csstransitions.js-nav #inner-wrap {
    -webkit-transform: translate3d(78%, 0, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(78%, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(78%, 0, 0) scale3d(1, 1, 1);
    -o-transform: translate3d(78%, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(78%, 0, 0) scale3d(1, 1, 1);
  }

  .csstransforms3d.csstransitions.js-ready #nav .block {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 300ms 100ms, -webkit-transform 500ms ease;
    -webkit-transition-delay: ease, 0s;
    -moz-transition: opacity 300ms 100ms ease, -moz-transform 500ms ease;
    -o-transition: opacity 300ms 100ms ease, -o-transform 500ms ease;
    transition: opacity 300ms 100ms ease, transform 500ms ease;
    -webkit-transform: translate3d(78%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -moz-transform: translate3d(78%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -ms-transform: translate3d(78%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -o-transform: translate3d(78%, 0, 0) scale3d(0.9, 0.9, 0.9);
    transform: translate3d(78%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }

  .csstransforms3d.csstransitions.js-nav #nav .block {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  /*SECOND LEVEL NAV*/
  #nav ul li ul {
      background-color: #FFF;
      margin-top: 0;
  }
  #nav ul li.gray {
    background-color: #666;
  }
  #nav ul li.gray ul {
      background-color: #FFF;
      margin: 0 auto;
      width: 100%;
  }
  
  #nav ul li.gray ul {
      background-color: #666;
      border-top:  1px solid #D2D2D2;
  }
  #nav ul li ul li {
      width: 100%;
      margin: 0 auto;
  }
  #nav ul li.gray ul li {
      width: 80%;
  }
  #nav ul li ul li, #nav ul li ul li:last-child {
      border: 0;
  }
  
  #nav ul li ul li a {
      background-color: #FFF;
      border-top: #EFEFEF;
      font-size: 16px;
      padding: 8px 10px 8px 20px;
      text-transform: uppercase;
  }
   #nav ul li.arrow ul li a, #nav ul li.gray.arrow ul li a {
      background-image: none;
   }
   #nav ul li.arrow ul li a {
      background-color: #FFF;
      border-top: 1px solid #EFEFEF;
   }
   #nav ul li.gray.arrow ul li a {
      background-color: #666;
      border-top: 1px solid #EFEFEF;
      padding: 20px 0;
   }
   #nav ul li.gray.arrow ul li:first-child a {
       border-top: 0;
   }

}