@media (min-width: 1001px) {
  table td.left_side {position: relative; z-index:3; width: 160px;}
  table td.left_side#left_col_show { position: relative !important; top: 0 !important; padding: 0 !important; width: 160px; left: 0 !important;}
}

@media (max-width: 1000px) {
  #main {width: 910px; position: relative;}
	#addocean_top {width: 910px !important;}
	#container {width: 910px !important;}
  #header .inner_wrap, #main {width: 910px;}
  table td.left_side {display: none;}
  table td.content.video_content{border-left: 10px !important;}
  table td.content {border-left: none; width: 600px !important;}
  #header #top_head_nav {width: 435px; position: relative; overflow: visible;}
  .head_nav.right { margin: 10px 0 0 0;}
  #top_head_nav #menu_block { 
    display: none;
  	position: absolute;
  	top: 32px;
  	right: 5px;
  	width: 160px;
  	height: auto;
  	background: #fff;
  	z-index: 10000;
  	border-radius: 5px;
  	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	padding: 5px 0;
  }
  #top_head_nav #menu_block:after {
  	bottom: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #fff;
		border-width: 5px;
		margin-left: -5px;
  }
  #top_head_nav #menu_block a {/*display: block; */margin: 3px 0; float: none; height:22px; line-height: 22px;}
  #top_head_nav #menu_block a span {color: #000; line-height: 22px; text-align: left; padding-left: 20px;}
  #top_head_nav #menu_block a:hover span {color: #ff8400;}
  #show_menu { display: inline-block; margin-left: 10px;}
  #show_menu span { display: inline-block; background: url("../images/horisontal_dots.png") no-repeat center center; width: 24px; height: 39px; line-height: 39px;}
  #show_menu:hover span {background: url("../images/horisontal_dots_active.png") no-repeat center center;}


  #menu_block2 {
    display: none;
  	position: absolute;
  	top: 28px;
  	right: -33px;
  	width: 160px;
  	height: auto;
  	background: #fff;
  	z-index: 10000;
  	border-radius: 5px;
  	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	padding: 5px 0;
  }
  #menu_block2:after {
   	bottom: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: #fff;
		border-width: 5px;
		margin-left: -5px;
  }
  a#show_menu_small {display: none;}
  #inner_menu_block {display: block; position: static; padding: 0;}
  #menu_block2 a {display: block; float: none; color: #000; margin: 5px 0 5px 20px;} 
  #show_menu2 {display: inline-block; margin-left: 10px; background: url("../images/horisontal_dots.png") no-repeat center center; width: 24px; height: 30px; line-height: 30px; padding: 0 4px; text-align: center;}
  #show_menu2:hover {background: url("../images/horisontal_dots_active.png") no-repeat center center;}
  .icons_toolbar .small_nav {width: 380px; float: left; height: 29px; position: relative;}
  #header #show_leftcol {display: block; position: relative;}
  /*#header #show_leftcol:hover { background: url("../images/vertical_dots_active.png") no-repeat center center;}*/
  #show_leftcol #tip_menu {
    position: absolute;
    display: none;
    width: 200px;
    height: 30px;
    line-height: 30px;
    background: #fff;
    text-align: center;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    left: 25px;
    top: -3px;
    box-shadow: 1px 1px 5px #000;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
  }
  #show_leftcol #tip_menu:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 5px;
    margin-top: -5px;
  }
  .toolbar_container.small {width: 910px; margin: 0 auto 10px; background: url("../images/bar_bg_line_tv_small.png") no-repeat left bottom !important;}
  .toolbar_container.small marquee {padding-left: 10px; width: 720px !important;}
  td.mega_news_box .rounded_container {width: 908px !important; margin: 0 auto 10px;}
  #svp_stripe {width: 910px; overflow: hidden;}
  .svp_stripe_box a {margin: 0 18px;}
  table td.left_side#left_col_show {
    display: block;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0px;
    padding: 10px 10px 0;
    background: #000;
    box-shadow: 1px 1px 5px #000;
  }
  .rounded_container.team_details .team_games {
    width: 420px;
  }
  .team_details {width: 910px !important;}
  .video_right_side {border-left: 0; width: 300px !important;}
  .rounded_container.team_details .team_games .previous_game p {width:260px;}
  .rounded_container.team_details table.team_info_container .team_info {width: 225px;}
}
