@media only screen and (max-width: 399px) {
  body {
    font-size: 14px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 499px) {
  body {
    font-size: 16px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 599px) {
  body {
    font-size: 21px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 699px) {
  body {
    font-size: 23px;
  }
}
@media only screen and (min-width: 700px) and (max-width: 769px) {
  body {
    font-size: 28px;
  }
}
@media only screen and (max-width: 769px) {
  body {
    line-height: 1.35;
  }
  .col-4 {
    width: 100%;
  }
  .hide,
  .asideCalendar,
  .replicaDay,
  .layoutColumnWrapper_index .layoutColumnLeft .bannerReaction,
  .bannerMagazine,
  .bannerPartnerlower,
  .blockEchoMsk,
  .socialWidget,
  .g-blockBend,
  #zend-developer-toolbar,
  .navigationContainer,
  .randomQuotation,
  .h-eventNotifiers,
  body .navigationBar .navigationBarForm__login,
  body .navigationBar .navigationBarForm__password,
  body .navigationBar .m-navbar-toggle,
  body .navigationBar .g-search,
  body .h-pageBlockRow .pageBlock dd .pageBlock__shadow,
  body .h-pageBlockRow .pageBlock dd .pageBlock__content .pageBlock__text a br,
  .h-blockRightNow,
  .themeBlock,
  .entryBodyBreadcrumb,
  .entryFeatures,
  .columnistsSocial,
  .textSize,
  .snobLike,
  .partnersNews,
  .columnistsHeader,
  .entryBody .g-blockCommentator,
  article .h-paginationControl,
  body .blogEntryBody .navigation-entry,
  body .blogEntryBody p.g-viewsCounter,
  body .stuff-comments .comment-it dl,
  body .stuff-comments .tab-control-coment,
  body .stuff-comments .show-all,
  .blogHeader__featured,
  .blogHeader__header h1,
  .blogHeader__controls,
  .manageBar dt:first-child,
  body.division-storage .blogAnons,
  body.division-storage .storageTitle__moderator,
  body.division-storage .g-blockCommentator,
  body.division-storage .g-commentsCount,
  body .widget.widget_shadow_round_s,
  body .widget.widget_stamp,
  .widget__head h2,
  .widget .widget__content__rulesHandler,
  .widget_with_pill .widget__head:after,
  body .entryList .g-rulesHandler,
  body .entryList.entryList_size_s .entryList__item .views-count,
  body .entryList.entryList_size_s .entryList__item .position,
  body.division-storage .h-paginationControl {
    display: none;
  }
  .g-dsp {
    display: none!important;
  }
  .visible-desktop {
    display: none!important;
    visibility: hidden;
  }
  .mainLayout .content.right {
    float: none;
    width: 100%;
  }
  body .banner {
    background: #000;
    text-align: center;
    font-size: 0;
    line-height: 0;
  }
  body .banner > div {
    display: inline-block;
    font-size: 0;
    line-height: 0;
  }
  body .banner [id^="adriver_banner"] > * {
    padding: 10px 0;
  }
  body .bannerWide {
    max-width: 100%!important;
    overflow: hidden!important;
  }
  body .h-topBanner {
    overflow: hidden;
    min-width: 100%;
  }
  body .h-topBanner .topBanner__contentPad > *,
  body .h-topBanner .topBanner__contentPad img {
    max-width: 100%!important;
    width: 100%!important;
    height: auto!Important;
  }
  body .g-moreAll-mag {
    font-size: 1em;
    line-height: 1.26;
  }
  body .searchBody .searchRow {
    padding: 23px 3.125%;
  }
  body .searchBody .searchRow form {
    padding: 0 23px;
  }
  body .searchBody .searchRow form .searchInput {
    width: 70%;
  }
  body .searchBody .searchRow form .searchInput input {
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    line-height: 1.35;
    padding-top: .25em;
    padding-bottom: .25em;
  }
  body .searchBody .searchRow form .searchButton {
    width: 30%;
  }
  body .searchBody .searchRow form .searchButton input {
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    line-height: 1.35;
    padding-top: .25em;
    padding-bottom: .25em;
  }
  .layoutColumnLeft,
  .layoutColumnRight,
  .entryList_gray {
    float: none!important;
  }
  /*.layoutColumnRight{float:none!important;}*/
  body .mainLayout {
    padding: 18px 0 0 0;
  }
  body .mainLayout .content {
    float: none;
  }
  body .mainLayout .content.left {
    width: 100%;
  }
  body .mainLayout .content.wide-left {
    width: 100%;
  }
  body .mainLayout .content.right {
    float: none;
    width: 100%;
  }
  body .two-column {
    width: 100%;
  }
  body .two-column > aside {
    width: 100%;
  }
  body.division-profile_blog-entry .profileContent.column,
  body .profileContent.column {
    width: 100%;
    margin: 0;
    float: none;
    border: 0;
  }
  .m-footer {
    font: bold normal 0.8214em / 4em "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .m-footer a {
    cursor: pointer;
    color: #07345e;
  }
  .m-footer .footer__up {
    float: left;
    margin-left: 3.125%;
  }
  .m-footer .footer__up span {
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .m-footer .footer__desktop {
    float: right;
    margin-right: 3.125%;
  }
  body footer {
    padding: 30px 7.125% 4em;
    text-align: center;
    height: auto;
  }
  body footer .footer__conditionsMenu {
    margin: 0;
    padding: 27px 0 0;
    top: auto;
    width: 50%;
    float: right;
    color: #b7b7b7;
    text-align: left;
  }
  body footer .footer__conditionsMenu li {
    padding: 0;
    font: normal normal 0.5715em / 1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  body footer .footer__subscribe {
    background-image: none;
    background: #8f8e8e;
    display: block;
    width: 100%;
    position: relative;
    left: -10%;
    top: 0;
    height: 40px;
    padding: 10px 0 0 9.5%;
    font-size: 1em;
    text-align: left;
  }
  body footer .footer__subscribe .footer__subscribeText {
    font: bold normal 0.8214em / 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  body footer .footer__subscribe .footer__subscribeButton {
    font: bold normal 0.5357em / 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 5px 0 0 10px;
  }
  body footer .footer__subscribe:after {
    position: absolute;
    content: "";
    display: block;
    right: -15px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 15px;
    border-color: transparent transparent transparent #8f8e8e;
  }
  body footer > .clear {
    clear: none;
  }
  body .footer__copy {
    font: normal normal 0.5715em / 1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    padding: 27px 0 0;
    float: left;
  }
  body .h-wrapper-count {
    position: relative;
    height: 0px;
  }
  body .h-wrapper-count .count-2 {
    height: 0;
    overflow: hidden;
  }
  body .mainMenu_footer {
    padding: 0;
    float: none;
    margin: 0 0 55px 0;
    text-align: left;
  }
  body .mainMenu_footer li {
    border-left: 1px solid #fff;
    padding: 0 2.5%;
  }
  body .mainMenu_footer li:first-child {
    padding-left: 0;
  }
  body .mainMenu_footer li:last-child {
    padding-right: 0;
  }
  body .mainMenu_footer li a {
    color: #fff;
    font: bold normal 0.7857em / 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  body .mainMenu_footer li a:hover {
    color: #fff;
    font-weight: bold;
  }
  body .navigationBar {
    height: auto;
    background-image: none;
    background-color: #000;
    box-shadow: none;
    min-width: 100%;
    padding: 2% 3.125%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  body .navigationBar .navigationUser {
    position: absolute;
  }
  body .navigationBar .navigationBarForm {
    padding: 0;
    font: normal normal 0.7142em / 1 "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-height: 52px;
    float: left;
    position: relative;
  }
  body .navigationBar .navigationBarForm input[type="text"],
  body .navigationBar .navigationBarForm input[type="password"] {
    display: none;
  }
  body .navigationBar .navigationBarForm input[type="submit"] {
    display: block;
    color: #b5b5b5;
    padding: 0;
    padding-right: 8px;
    font-size: 1em;
    line-height: 1;
  }
  body .navigationBar .navigationBarForm__registration {
    border-left: 1px solid #fff;
    padding: 0 0 0 7px;
    font-size: 1em;
    color: #eee;
    font-weight: normal;
  }
  body .navigationBar .m-age {
    display: inline-block;
    position: relative;
    top: 1px;
    float: right;
    font: normal normal 0.7143em / 1 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
  }
  body .navigationBar_isLogged a,
  body .navigationBar_isLogged p,
  body .navigationBar_isLogged span {
    color: #fff;
  }
  body .navigationBar_isLogged a {
    border-left: 1px solid #fff;
  }
  body .navigationBar_isLogged .navigationUser {
    line-height: 0.7142;
  }
  body .navigationBar_isLogged .navigationUser a {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    float: none;
  }
  body .navigationBar_isLogged .navigationUser .g-dsp {
    display: none;
  }
  body .navigationBar_isLogged .navigationUser .navigationBar__greet {
    margin: 0;
    float: none;
  }
  body .navigationBar_isLogged .navigationUser .navigationBar__greet,
  body .navigationBar_isLogged .navigationUser a {
    font-size: 0.7142em;
    line-height: 1;
    display: inline-block;
  }
  body .navigationBar_isLogged .navigationUser .navigationBar__logout {
    display: inline-block;
    padding-left: 3px;
  }
  body .navigationBar_isLogged .navigationUser a.navigationBar__user {
    color: #fff;
    margin-left: -3px;
    border: 0;
    display: inline-block;
    font-style: italic;
  }
  .h-layoutNarrow,
  .layoutColumnLeft {
    width: 100%;
  }
  .m-navbar-toggle {
    display: block;
    position: relative;
    margin: 18px 0 0 0;
    padding: 23px 23px 26px;
    border: 0;
    background: none;
    float: left;
    z-index: 10001;
  }
  .m-navbar-toggle.active {
    background-color: #ebebeb;
  }
  .m-navbar-toggle_search {
    width: 33px;
    height: 33px;
    cursor: pointer;
    float: right;
    margin: 18px 0 0 0;
    background: url('/i/mobile/search.png') no-repeat;
    background-origin: content-box;
    padding: 17px 23px 26px;
  }
  body .h-mainMenu {
    float: none;
    clear: both;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  body header {
    margin: 0 3.125% 20px 3.125%;
    position: relative;
    border: 0;
    width: auto;
    height: auto;
    text-align: center;
    overflow: visible;
  }
  body header .logo {
    width: 198px;
    padding: 0;
    float: none;
    position: absolute;
    left: 50%;
    margin: 1.5625% 0 0 -99px;
    display: block;
  }
  body header .logo img {
    width: 100%;
    height: auto;
  }
  body header .g-search {
    position: relative;
    clear: both;
    right: auto;
    z-index: 101;
    width: 100%;
    height: auto;
    margin: 0 0 0 -3.125%;
    padding: 0 3.125%;
    background: none;
    background-color: #ebebeb;
  }
  body header .g-search__input {
    display: block;
    float: left;
    width: 70%;
    font: normal normal 0.8214em / 1 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
    padding: 14px 12px 10px;
    margin: 22px 20px 22px 0;
    background-color: #fff;
  }
  body header .g-search__button {
    background: transparent;
    display: block;
    float: left;
    margin: 35px 0 22px;
    padding-top: 0.2em;
    width: auto;
    height: auto;
    font: bold normal 0.7143em / 1 "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #07345e;
    text-indent: initial;
  }
  body header .h-mainMenu {
    margin: 1em auto 0 auto;
    text-align: center;
    clear: both;
  }
  body header .h-mainMenu .mainMenu {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 23px;
  }
  body header .h-mainMenu .mainMenu li {
    /*padding: 0 0 0 2.75%;
      margin-right: 2.75%;*/
    /*padding: 0 0 0 3%;
      margin-right: 3%;*/
    padding: 0 0 0 2.5vw;
    margin-right: 2.5vw;
    border-left: 2px solid #000;
  }
  body header .h-mainMenu .mainMenu li:first-child {
    padding-left: 0;
  }
  body header .h-mainMenu .mainMenu li:last-child {
    margin-right: 0;
  }
  body header .h-mainMenu .mainMenu li a {
    font-size: 3.32vw;
    line-height: 1;
    font-weight: bold;
  }
  .h-goToBlog-profile-m {
    top: 87px;
    margin-top: 4%;
    padding-top: 0.7em;
    position: absolute;
  }
  .h-goToBlog-profile-m .goToBlog_header {
    top: 0;
    margin-top: 0;
  }
  .sr-only-focusable:active,
  .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
  .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .nav > li {
    position: relative;
    display: block;
  }
  .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
  }
  .nav > li > a:hover,
  .nav > li > a:focus {
    text-decoration: none;
    background-color: #eee;
  }
  .nav > li.disabled > a {
    color: #777;
  }
  .nav > li.disabled > a:hover,
  .nav > li.disabled > a:focus {
    color: #777;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
  }
  .nav .open > a,
  .nav .open > a:hover,
  .nav .open > a:focus {
    background-color: #eee;
    border-color: #428bca;
  }
  .nav .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }
  .nav > li > a > img {
    max-width: none;
  }
  .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: 340px;
  }
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
  }
  .navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
  }
  .navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
  }
  .navbar-brand:hover,
  .navbar-brand:focus {
    text-decoration: none;
  }
  .navbar-toggle:focus {
    outline: 0;
  }
  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
  }
  .navbar-form {
    padding: 10px 15px;
    margin-top: 8px;
    margin-right: -15px;
    margin-bottom: 8px;
    margin-left: -15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .navbar-btn {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .navbar-btn.btn-sm {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .navbar-btn.btn-xs {
    margin-top: 14px;
    margin-bottom: 14px;
  }
  .navbar-text {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
  }
  .navbar-default .navbar-brand {
    color: #777;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
  }
  .navbar-default .navbar-text {
    color: #777;
  }
  .navbar-default .navbar-nav > li > a {
    color: #777;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-default .navbar-nav > .disabled > a,
  .navbar-default .navbar-nav > .disabled > a:hover,
  .navbar-default .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
  .navbar-default .navbar-toggle {
    border-color: #ddd;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #ddd;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #e7e7e7;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-default .navbar-link {
    color: #777;
  }
  .navbar-default .navbar-link:hover {
    color: #333;
  }
  .navbar-default .btn-link {
    color: #777;
  }
  .navbar-default .btn-link:hover,
  .navbar-default .btn-link:focus {
    color: #333;
  }
  .navbar-default .btn-link[disabled]:hover,
  fieldset[disabled] .navbar-default .btn-link:hover,
  .navbar-default .btn-link[disabled]:focus,
  fieldset[disabled] .navbar-default .btn-link:focus {
    color: #ccc;
  }
  .auth-wrapper .top {
    background: #ebebeb;
    padding: 0 3.125% 1.75em;
  }
  .auth-wrapper .top .left {
    padding: 1.65em 23px 0;
  }
  .auth-wrapper .bottom {
    border-top: 1px solid #c4c4c4;
    padding: 1.75em 3.125%;
    background: #b5b5b5;
  }
  .auth-wrapper .bottom .benefits {
    display: block;
    margin: 0 23px;
    font: bold normal 0.8571em / 1.35 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #07345e;
  }
  .auth-wrapper h2 {
    padding: 0 0 .65em;
    font: bold normal 1.1428em / 1.35 Georgia, Times, "Times New Roman", serif;
  }
  .auth-wrapper h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 1em;
    line-height: 1.35;
    font-weight: normal;
    margin: 0 0 0.65em;
  }
  .auth-wrapper input[type="text"],
  .auth-wrapper input[type="password"] {
    width: 78%;
    box-sizing: border-box;
    color: #b5b5b5;
    font-size: 0.8571em;
    line-height: 1.67;
    padding: .25em .35em;
    margin-bottom: .65em;
  }
  .auth-wrapper input[type="submit"] {
    font: bold normal 0.8571em / 1.35 "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    border: 0;
    background: transparent;
    color: #07345e;
    margin: .65em 0;
  }
  .auth-wrapper .button {
    float: left;
  }
  .auth-wrapper .remind {
    float: right;
    margin: .65em 0;
    font: normal normal 0.8571em / 1.35 "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-right: 22%;
  }
  .auth-wrapper .helpme {
    clear: both;
    margin-top: 2em;
  }
  .auth-wrapper .helpme p {
    font-size: 0.8571em;
    line-height: 1.35;
    color: #575757;
  }
  .auth-wrapper_sorry .attention {
    font-size: 1.2174em;
    line-height: 1.35;
    font-style: italic;
  }
  .auth-wrapper_sorry .special {
    display: block;
    margin-top: 1.5em;
    font: bold normal 1.2174em / 1 "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: underline;
  }
  .auth-wrapper_sorry .helpme,
  .auth-wrapper_sorry .login-form {
    margin: 0 23px;
  }
  .auth-wrapper_sorry .helpme p {
    clear: both;
  }
  body.division-error-page404 header,
  body.division-basement header,
  body.division-benefit header {
    background: #fff;
    height: auto;
  }
  body.division-error-page404 header .mainMenu li a,
  body.division-basement header .mainMenu li a,
  body.division-benefit header .mainMenu li a {
    color: #000!important;
  }
  body.division-error-page404 .left-column,
  body.division-basement .left-column,
  body.division-benefit .left-column,
  body.division-error-page404 .snob-header,
  body.division-basement .snob-header,
  body.division-benefit .snob-header,
  body.division-error-page404 .realFooterContainer,
  body.division-basement .realFooterContainer,
  body.division-benefit .realFooterContainer {
    display: none;
  }
  body.division-error-page404 .right-column,
  body.division-basement .right-column,
  body.division-benefit .right-column {
    float: none;
    width: auto;
    padding: 0 23px;
  }
  body .searchBody .search__panel {
    padding: 1em 23px;
  }
  body .searchBody .search__panel__filters {
    padding-bottom: 1em;
  }
  body .searchBody .search__panel__filters .input-group {
    font-size: 0.8571em;
    margin: 1em 1em 0 0;
  }
  body .searchBody .search__panel__count {
    padding: 1em 0;
  }
  body .searchBody .search__panel__sort {
    padding: 0 0 1em;
  }
  body .searchBody .search__panel__sort .btn-flat {
    font-size: 0.7em;
    padding: 0.583em 0.7em;
  }
  body .searchBody .searchRow {
    padding: 23px 3.125%;
  }
  body .overlay-popup.popup-participation li {
    margin: 0 0 1.3em;
  }
  body #addressBook_CC {
    background: #575757;
  }
  body .popupBallon {
    background: #575757;
    width: 80%;
    box-sizing: border-box;
    left: 10%;
    padding: 1em;
  }
  body .popupBallon ul li.active .c.r,
  body .popupBallon ul li.active .c.l,
  body .popupBallon .c {
    display: none;
  }
  body .popupBallon .canvas {
    width: auto;
  }
  body .popupBallon .opb {
    float: none;
  }
  body .popupBallon #searchResult {
    width: auto;
  }
  body .popupBallon input {
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    line-height: 1;
  }
  body .popupBallon .controll {
    margin: 0;
  }
  body .popupBallon .controll .btn {
    width: auto;
    padding: .5em;
    background: #07345e;
    font: bold normal 0.8571em / 1 "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #fff;
    padding: 0.7em;
  }
  body .popupBallon .controll .btn b {
    background: none;
  }
  body .popupBallon .twobtn {
    margin: 0.7em 0 0;
  }
  body .popupBallon .twobtn .controll {
    margin-right: 0.7em;
  }
  body .popupBallon ul li {
    padding: 0 0 0.7em 0;
  }
  body .popupBallon i,
  body .popupBallon label {
    font-size: 0.7em;
    line-height: 1;
    margin-bottom: .25em;
  }
  body .blackRC {
    width: auto;
    padding: 0;
  }
  body .blackRC a.close-button {
    font-size: 1em;
    line-height: 1;
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1.25;
    width: 1.25em;
    height: 1.25em;
    top: 1.6em;
    right: 1em;
    text-align: center;
    color: #d7d7d7;
    background: #fff;
    border-radius: 50%;
    top: 0.25em;
    right: 0;
    color: #575757;
  }
  body .blackRC .content {
    padding: 0;
    font-size: 1em;
    line-height: 1.35;
    background: #575757;
  }
  body .blackRC .cn {
    display: none;
  }
  body .pageBlockSix {
    width: 100%;
    margin: 0 auto 10%;
  }
  body .pager {
    display: none;
  }
  body .h-pageBlockRow {
    width: 100%;
    float: none;
  }
  body .h-pageBlockRow .pageBlock {
    float: none;
    width: 100%;
    height: auto;
    margin: 0 0 4%;
    box-shadow: 0 7px 20px -4px rgba(0, 0, 0, 0.85);
  }
  body .h-pageBlockRow .pageBlock dd .pageBlock__coverLink {
    width: 100%;
    height: 100%;
  }
  body .h-pageBlockRow .pageBlock dd .pageBlock__content {
    background-image: none;
    height: 100%;
  }
  body .h-pageBlockRow .pageBlock dd .pageBlock__content .pageBlock__text {
    position: absolute;
    bottom: 0;
    padding: 3% 5% 5% 7%;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.7);
  }
  body .h-pageBlockRow .pageBlock dd .pageBlock__content .pageBlock__text a:first-child {
    display: block;
  }
  body .h-pageBlockRow .pageBlock dd .pageBlock__content .pageBlock__text a {
    font-size: 1.2857em;
    line-height: 1.2;
  }
  body .h-pageBlockRow .pageBlock dd .pageBlock__content .pageBlock__text .userInSubject {
    font-size: 1em;
    line-height: 1.5;
  }
  body .h-pageBlockRow .pageBlock dd .pageBlock__content .pageBlock__text .ico_lock {
    left: 4px;
    position: absolute;
    width: 26px;
    height: 23px;
  }
  body .h-pageBlockRow .pageBlock dd .pageBlock__content .pageBlock__text .ico_lock.ico_lock_closed {
    background-position: 0 0;
  }
  body .h-pageBlockRow .pageBlock dd .pageBlock__content .pageBlock__text .ico_lock.ico_lock_opened {
    background-position: 0 -23px;
  }
  body .h-pageBlockRow .pageBlock dd .pageBlock__content .pageBlock__cover {
    position: relative;
  }
  body .h-pageBlockRow .pageBlock dd .pageBlock__content .pageBlock__cover > span:after {
    clear: both;
    display: table;
    content: "";
  }
  body .h-pageBlockRow .pageBlock dd .pageBlock__content .pageBlock__cover span {
    display: block;
    line-height: 0;
  }
  body .h-pageBlockRow .pageBlock dd .pageBlock__content .pageBlock__cover span > span {
    width: 100%!important;
    height: auto!important;
  }
  body .h-pageBlockRow .pageBlock dd .pageBlock__content .pageBlock__cover img {
    width: 100%;
    display: block;
  }
  body .h-pageBlockRow .pageBlock.default dd .pageBlock__content .pageBlock__text {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
  body .h-pageBlockRow .pageBlock.default dd .pageBlock__content .pageBlock__text a {
    color: #fff!important;
  }
  body .h-pageBlockRow .pageBlock.theme dd .pageBlock__content .pageBlock__text h4 {
    font-size: 1em;
    line-height: 1.5;
    font-weight: normal;
    padding: 0.2em 11px;
    position: absolute;
    top: -1.95em;
    left: 0;
    height: 1.5em;
  }
  body .h-pageBlockRow .pageBlock.theme dd .pageBlock__content .pageBlock__text h4 a {
    font-weight: normal;
    line-height: 1.5;
  }
  body .h-pageBlockRow .pageBlock.theme dd .pageBlock__content h2 {
    width: auto;
  }
  body .h-pageBlockRow .pageBlock.nocover dd .pageBlock__content {
    height: auto;
    background: linear-gradient(45deg, #eeeeee 0%, #e2e2e2 100%);
    /* W3C */
    padding: 58% 2% 0% 0;
  }
  body .h-pageBlockRow .pageBlock.author.nocover dd .pageBlock__content {
    padding-top: 58%;
    background: linear-gradient(45deg, #eeeeee 0%, #dedede 100%);
    /* W3C */
  }
  body .h-pageBlockRow .pageBlock.author dd .pageBlock__content {
    padding-top: 0;
    height: 100%;
  }
  body .h-pageBlockRow .pageBlock.author dd .pageBlock__content .pageBlock__text {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
  body .h-pageBlockRow .pageBlock.author dd .pageBlock__content .pageBlock__text a,
  body .h-pageBlockRow .pageBlock.author dd .pageBlock__content .pageBlock__text a span {
    color: #fff!important;
  }
  body .h-pageBlockRow .pageBlock.author dd {
    position: relative;
  }
  body .h-pageBlockRow .pageBlock__label {
    box-sizing: border-box;
  }
  body .h-pageBlockRow .pageBlock__label__title {
    display: inline-block;
    font-size: 1.4em;
    line-height: 1.46;
  }
  body .h-pageBlockRow .pageBlock__label_oskorblenie-chuvstv:before,
  body .h-pageBlockRow .pageBlock__label_cultura_povsednevnosti:before {
    top: 1px;
  }
  body .h-pageBlockRow .pageBlock__label_partnerski_material:before {
    top: 3px;
  }
  body .h-pageBlockRow .pageBlock__label_test:before,
  body .h-pageBlockRow .pageBlock__label_chto-bylo-dalshe:before,
  body .h-pageBlockRow .pageBlock__label_pryamaya-translyatsiya:before,
  body .h-pageBlockRow .pageBlock__label_istoriya-odnoy-borby:before,
  body .h-pageBlockRow .pageBlock__label_foto-dnya:before {
    top: 0;
  }
  body .h-pageBlockRow .pageBlock__label_istoriya-zla {
    font-size: 100%;
  }
  body .h-pageBlockRow .pageBlock__label:before {
    margin-right: 4px;
    vertical-align: baseline;
  }
  .h-pageBlockRow {
    margin: 0;
  }
  .layoutColumnRight {
    float: none;
  }
  body article ul.social-likes {
    position: fixed;
    top: 0;
    width: 93.75%;
    background: #ebebeb;
    float: none;
    z-index: 99999;
    left: 0;
    padding: 3.125%;
    margin: 0;
    display: none;
    justify-content: space-around;
  }
  body article ul.social-likes.visible {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  body article ul.social-likes .clear {
    display: none;
  }
  body article ul.social-likes li {
    margin: 0;
    /*&.social-likes__widget_surfingbird{
      margin-right: 0;
    }
    &:first-child{
      margin-left:23px;
    }*/
  }
  body article ul.social-likes li .social-likes__counter {
    display: none;
  }
  body .entryBody {
    border: 0;
    margin: 0 3.125%;
    padding: 0;
  }
  body .entryBody .meta {
    max-width: 90%;
  }
  body .entryBody .meta__author,
  body .entryBody .meta time {
    display: block;
    font-size: 1em;
    line-height: 1.174;
    color: #000000;
  }
  body .entryBody h1 {
    font-size: 1.4em;
    line-height: 1.2;
    margin: 0.75em 0 0.25em;
    padding: 0;
    letter-spacing: 0;
  }
  body .entryBody h1 .userInSubject {
    font-size: 1em;
    line-height: 1.2;
  }
  body .entryBody .media.image {
    margin: 0 0 0.8em;
    padding: 0 0.3571rem;
  }
  body .entryBody .media.image dd {
    border: 0;
    margin: 0;
  }
  body .entryBody .media.image dd img {
    width: 100%;
    height: auto;
  }
  body .entryBody .media.image dt.source {
    text-align: left;
    margin: 0;
  }
  body .entryBody .media.image dt {
    font-size: 0.783em;
    line-height: 1.35;
  }
  body .entryBody .media.image.alignLeft dt,
  body .entryBody .media.image.alignRight dt {
    margin: 0;
  }
  body .entryBody .content p {
    text-align: left;
    margin-bottom: 0.8em;
  }
  body .entryBody .content ul li,
  body .entryBody .content ol li {
    font-size: 1em;
    line-height: 1.391;
  }
  body .entryBody .content h2 {
    font-size: 1.2em;
    line-height: 1.35;
  }
  body .entryBody .content h3 {
    font-size: 1.1em;
    line-height: 1.35;
  }
  body .entryBody .content .liveCommentators span,
  body .entryBody .content .liveCommentators__user {
    font-size: 1em;
    line-height: 1.35;
  }
  body .entryBody .content .liveBlockHead__user {
    margin-left: 19px;
    margin-top: 0;
    font-size: 1em;
    line-height: 30px;
  }
  body .entryBody .content .liveBlockEntry {
    position: relative;
    width: auto;
  }
  body .entryBody .content .liveBlockEntry time {
    position: absolute;
  }
  body .entryBody .content .liveBlockEntry__content {
    width: auto;
    float: none;
    padding-left: 50px;
  }
  body .entryBody .content .liveBlockEntry__content p {
    line-height: 1.391;
  }
  body .entryBody .content .liveBlockEntry__content dl.media.video iframe[src^="https://www.youtube"] {
    width: auto;
    height: auto;
  }
  body .entryBody .content .liveBlockEntry__content .gallery_article {
    width: auto;
  }
  body .entryBody .content .liveBlockEntry_starred {
    padding: 0;
    margin: 3px 0 0 18px!important;
  }
  body .entryBody .content .liveBlockEntry_starred time {
    position: relative;
  }
  body .entryBody .content .liveBlockEntry_starred .liveBlockHead__user {
    margin-left: 8px;
  }
  body .entryBody .content .poll {
    padding: 0 0.3571rem;
  }
  body .entryBody .content .poll fieldset h3 {
    font-size: 1.2174em;
    line-height: 1.3;
  }
  body .entryBody .content .poll.pollBig fieldset,
  body .entryBody .content .poll.variants li {
    width: auto;
  }
  body .entryBody .content .poll.variants li {
    font-size: 0.7826em;
    line-height: 1;
  }
  body .entryBody .content table tr td {
    padding: 0.6em;
    width: 33%;
  }
  body .entryBody .tag {
    font-size: 1.22em;
    line-height: 1.35;
  }
  body .entryBody .entryLinkContainer {
    margin-top: 2em;
    position: relative;
  }
  body .entryBody .entryLinkContainer a.prevEntryLink,
  body .entryBody .entryLinkContainer a.nextEntryLink,
  body .entryBody .entryLinkContainer .entryLink {
    font-size: 0.7em;
    line-height: 1.35;
  }
  body .entryBody .entryLinkContainer .nextEntryLink {
    width: auto;
  }
  body .entryBody .entryLinkContainer .prevEntryLinkContainer {
    width: 28%;
    margin: 0;
  }
  body .entryBody .entryLinkContainer .entryLink {
    width: 44%;
    text-align: center;
  }
  body .entryBody .entryLinkContainer .nextEntryLink {
    margin: 0;
    float: right;
  }
  body .entryBody .popupImageGallery > a > img {
    max-width: 100%;
  }
  ul.social-likes {
    float: none;
  }
  body .blogEntryBody {
    font-size: 1em;
    line-height: 1.35;
    border: 0;
    margin: 2em 3.125% 0;
    padding: 0;
  }
  body .blogEntryBody .meta {
    margin: 0 0 0 0.3571rem;
    font-size: 1em;
    line-height: 1.174;
    color: #000000;
  }
  body .blogEntryBody h1 {
    width: auto;
    font-size: 1.4em;
    line-height: 1.2;
    margin: 0.75em 0 0.25em;
    padding: 0;
    letter-spacing: 0;
  }
  body .blogEntryBody .media.image {
    margin: 0 0 0.8em;
    padding: 0 0.3571rem;
  }
  body .blogEntryBody .media.image dd {
    border: 0;
    margin: 0;
  }
  body .blogEntryBody .media.image dd img {
    width: 100%;
    height: auto;
  }
  body .blogEntryBody .media.image dt {
    text-align: left;
    margin: 0;
    font-size: 0.783em;
    line-height: 1.35;
  }
  body .blogEntryBody .text p {
    color: #000;
    text-align: left;
    margin-bottom: 0.8em;
  }
  body .blogEntryBody .text h2 {
    font-size: 1.2em;
  }
  body .blogEntryBody .text h3 {
    font-size: 1.1em;
  }
  body .blogEntryBody .text .gallery_article {
    height: auto;
    /*  .blueimp-gallery > .slides > .slide > .slide-content{margin:0;}*/
  }
  body .blogEntryBody .text .gallery_article .g-blockBend {
    display: none;
  }
  body .blogEntryBody .text .gallery_article .gallery__controls_article {
    top: 50%;
    margin-top: -15px;
  }
  body .blogEntryBody .text .gallery_article .gallery__source {
    font-size: 0.7826em;
    line-height: 1.2;
    color: #b5b5b5;
    margin: 0.25em 0;
  }
  body .blogEntryBody .text .poll.pollBig fieldset,
  body .blogEntryBody .text .poll.variants li {
    width: auto;
  }
  body .blogEntryBody .tag {
    font-size: 1.22em;
    line-height: 1.35;
  }
  body .blogEntryBody .entryLinkContainer {
    margin-top: 2em;
    position: relative;
  }
  body .blogEntryBody .entryLinkContainer a.prevEntryLink,
  body .blogEntryBody .entryLinkContainer a.nextEntryLink,
  body .blogEntryBody .entryLinkContainer .entryLink {
    font-size: 0.7em;
    line-height: 1.35;
  }
  body .blogEntryBody .entryLinkContainer .nextEntryLink {
    width: auto;
  }
  body .blogEntryBody .entryLinkContainer .prevEntryLinkContainer {
    width: 28%;
    margin: 0;
  }
  body .blogEntryBody .entryLinkContainer .entryLink {
    width: 44%;
    text-align: center;
  }
  body .blogEntryBody .entryLinkContainer .nextEntryLink {
    margin: 0;
    float: right;
  }
  body .semiAccess {
    margin: 0;
  }
  body .semiAccess .wrapper {
    background-size: 20%;
    background-position: 23px 23px;
    padding: 22px 0.3571rem 0 30%;
  }
  body .semiAccess .additionInfo {
    padding: 0;
  }
  body .h-entryBattle {
    border-top: 2px DOTTED #dadada;
    padding: 26px 0 0;
  }
  body .h-entryBattle:nth-child(2) {
    border: 0;
    padding: 0;
  }
  body .h-entryBattle .entryBattle__swords {
    margin: 1.25em auto 1.5em;
  }
  body .h-entryBattle .h-entryBattleTotal .entryBattleTotal {
    width: 30%;
  }
  body .h-entryBattle .h-entryBattleTotal .entryBattleTotal__number {
    font-size: 1.5em;
  }
  body .h-entryBattle .h-entryBattleTotal .entryBattleTotal__score {
    text-align: center;
    width: 40%;
    letter-spacing: 1px;
    font-size: 1.25em;
  }
  body .h-entryBattle .h-entryBattleTotal .entryBattleTotal__separator {
    width: 6px;
  }
  body article hgroup {
    padding: 0 0.3571rem;
  }
  body article hgroup h3.lead {
    font-size: 1.1428em;
    line-height: 1.25;
  }
  body article .content h2,
  body article .content h3 {
    padding: 0 0.3571rem;
    /*todo: relative!*/
  }
  body article .content > div > p {
    font-size: 1.1428em;
    line-height: 1.375;
    padding: 0 0.3571rem;
    /*todo: relative!*/
  }
  body article .gallery_article {
    height: auto;
    min-height: 160px;
    z-index: 100;
  }
  body article .gallery_article .blueimp-gallery {
    min-height: 160px;
    display: block;
  }
  body article .gallery_article .gallery__controls__next,
  body article .gallery_article .gallery__controls__prev {
    display: none;
  }
  body article .gallery_article .g-blockBend {
    display: none;
  }
  body article .gallery_article .gallery__description {
    margin: 0 0.3571rem 16px;
  }
  body article .gallery_article .gallery__source + .gallery__description {
    margin: -8px 0.3571rem 16px;
  }
  body article .gallery_article .gallery__description {
    font-size: 0.7826em;
    line-height: 1.2;
    margin-bottom: 16px;
  }
  body article .gallery_article .gallery__source {
    font-size: 0.7826em;
    line-height: 1.2;
    color: #b5b5b5;
    margin: 0.25em 0 16px 0.3571rem;
  }
  body article dl.media.video iframe[src^="https://www.youtube"] {
    width: 100%;
  }
  body .stuff-comments__statement {
    width: 80%;
    margin: 0;
    padding: 2em 0 0 0.3571rem;
  }
  body .stuff-comments__button {
    margin: 1em 0 2em 0.3571rem;
  }
  body .stuff-comments .right-control span,
  body .stuff-comments .right-control .separator {
    display: none;
  }
  body .stuff-comments .right-control .stuff-comments-header a {
    font-size: 0.7826em;
    line-height: 1;
  }
  body .stuff-comments .stuff-comments-content .stuff-comments-header {
    padding: 0.5em 3.125%;
  }
  body .stuff-comments .stuff-comments-content .stuff-comments-header .comments-count {
    font-size: 1em;
  }
  body .stuff-comments .comment-content {
    padding: 0.5em 3.125%;
  }
  body .stuff-comments .comment-content .comment-foto-author img {
    height: auto;
  }
  body .stuff-comments .comment-content .text-comment .wrapper-content-comment {
    padding: 0.5em;
  }
  body .stuff-comments .comment-content .text-comment .wrapper-content-comment .link {
    display: none;
  }
  body .stuff-comments .comment-content .text-comment .wrapper-content-comment .author,
  body .stuff-comments .comment-content .text-comment .wrapper-content-comment .comment-management a {
    font-size: 1em;
    line-height: 1;
  }
  body .stuff-comments .comment-content .text-comment .wrapper-content-comment .text-comment-time {
    font-size: 0.7826em;
    line-height: 1;
  }
  body .stuff-comments .comment-content .text-comment .wrapper-content-comment .wrapper-text h5 {
    font-size: 1.1em;
    line-height: 1.35;
  }
  body .stuff-comments .comment-content .text-comment .wrapper-content-comment .wrapper-text p {
    font-size: 1em;
    line-height: 1.35;
  }
  body .stuff-comments .comment-content .text-comment .comment-management a {
    font-size: 0.7826em;
    line-height: 1.3;
  }
  body .stuff-comments .comment-content .text-comment .comment-promotion .text-comment-promotion {
    font-size: 0.7826em;
    line-height: 1;
  }
  body .stuff-comments .level-3 {
    margin-left: 88px;
  }
  body .stuff-comments form {
    background: #d7d7d7;
  }
  body .stuff-comments form .avatar {
    display: none;
  }
  body .stuff-comments form .close {
    font-size: 1em;
    line-height: 1;
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1.25;
    width: 1.25em;
    height: 1.25em;
    top: 1.6em;
    right: 1em;
    text-align: center;
    color: #d7d7d7;
    background: #fff;
    border-radius: 50%;
  }
  body .stuff-comments form .wrapper-form-comment h3 {
    font-size: 1.2174em;
    line-height: 1;
    color: #000000;
    margin-bottom: 0.75em;
  }
  body .stuff-comments form .subject input {
    font-size: 0.8571em;
    line-height: 1;
    height: 0.8571em;
    padding: 0.8571em;
    margin-bottom: 1.25em;
  }
  body .stuff-comments form .snob2Skin table.mceLayout td.mceToolbar {
    padding: 0 0 .85em;
  }
  body .stuff-comments form .snob2Skin .mceButton {
    display: block;
    width: auto;
    height: 30px;
    margin-right: 30px;
  }
  body .stuff-comments form .snob2Skin span.mceIcon {
    background-position: left top !important;
    width: 31px;
    height: 30px;
  }
  body .stuff-comments form .snob2Skin span.mce_link {
    background: url(/i/entry/comments/m_link.png) no-repeat;
  }
  body .stuff-comments form .snob2Skin span.mce_snobimg {
    background: url(/i/entry/comments/m_img.png) no-repeat;
    width: 35px;
  }
  body .stuff-comments form .snob2Skin span.mce_snobembed {
    width: 63px;
    height: 27px;
    background: url(/i/entry/comments/m_code.png) no-repeat;
  }
  body .stuff-comments form .snob2Skin span.mce_snobuser {
    background: url(/i/entry/comments/m_user.png) no-repeat;
  }
  body .stuff-comments form .snob2Skin span.mce_snobvideo {
    width: 32px;
    background: url(/i/entry/comments/m_vid.png) no-repeat;
  }
  body .stuff-comments form .textarea {
    margin-bottom: .5em;
  }
  body .stuff-comments form .cc {
    margin-left: 16%;
    font-size: 0.8571em;
    line-height: 1;
    height: 0.8571em;
    padding: 0.8571em;
  }
  body .stuff-comments form .cc label {
    background-color: #fff;
    left: -18.7%;
    display: block;
    text-align: center;
    width: 18.7%;
    top: 0;
    font-size: 0.94em;
    line-height: 1;
    text-decoration: underline;
    padding: 0.8571em 0;
  }
  body .stuff-comments form .control {
    margin-top: 0.7826em;
  }
  body .stuff-comments form .submit input {
    border: 0;
    background: #07345e;
    font: bold normal 0.8571em / 1 "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #fff;
    padding: 0.7em;
    box-sizing: border-box;
    width: 60%;
    max-width: 360px;
    text-align: center;
  }
  body .stuff-comments .comment-item.edit .submit input {
    width: auto;
  }
  body .formWrap .wrapper-form-comment {
    padding: 1.2174em 23px;
  }
  body .level-1 .formWrap {
    padding-left: 49px;
  }
  body .level-2 .formWrap,
  body .level-3 .formWrap,
  body .level-4 .formWrap {
    padding-left: 43px;
  }
  body .level-3,
  body .level-4,
  body .level-5,
  body .level-6,
  body .level-7 {
    margin-left: 88px;
  }
  body.photogallery .gallery_d {
    min-height: 0;
  }
  body.photogallery .gallery_d .blueimp-gallery {
    background: #fff;
    margin-bottom: 0;
  }
  body.photogallery .gallery_d .slides > .slide {
    background: #fff;
    overflow: hidden;
  }
  body.photogallery .gallery_d .slides > .slide > .slide-content {
    width: 100%;
    max-width: none;
    height: auto;
    max-height: none;
  }
  body.photogallery .gallery_d .gallery__source_layout {
    width: auto;
    font-size: 0.7826em;
    line-height: 1;
    margin: 0.75em 0 0.75em 0.3571rem;
  }
  body.photogallery .gallery_d .gallery__description_layout {
    width: auto;
    font-size: 1em;
    line-height: 1.4;
    color: #000000;
    margin: 1em 0 1.5em 0.3571rem;
  }
  body.photogallery .gallery_d .gallery__controls {
    position: relative;
    top: auto;
    float: none;
    bottom: auto;
    background: #000;
    width: 100%;
    padding: 20px 0;
    margin: 0;
    text-align: center;
  }
  body.photogallery .tag {
    margin-left: 0.3571rem;
  }
  body.photogallery.entry_108801 .gallery_d .slides > .slide > .slide-content {
    height: 100% !important;
    width: auto !important;
  }
  body .entryBody .content .quiz .picture img {
    width: 60%;
    max-width: 300px;
  }
  body .entryBody .content .quiz .quiz__line {
    margin: 0 0 1.25em;
    padding: .75em 0 0;
  }
  body .entryBody .content .quiz .quiz__line li {
    display: none;
  }
  body .entryBody .content .quiz .quiz__line li.current {
    display: block;
    text-align: center;
  }
  body .entryBody .content .quiz .quiz__line li.current span {
    font-size: 1.4em;
    line-height: 1;
  }
  body .entryBody .content .quiz .quiz__header h3 {
    font-size: 1em;
    line-height: 1.09;
  }
  body .entryBody .content .quiz .quiz__header .quiz__question p {
    text-align: center;
    font-size: 1em;
    line-height: 1.09;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-style: italic;
    font-weight: bold;
  }
  body .entryBody .content .quiz__answerResult ul {
    margin: 1em 0 1em -3.125%;
    width: 106.25%;
  }
  body .entryBody .content .quiz__answerResult ul li label {
    transition: background-color 300ms linear;
    text-align: center;
  }
  body .entryBody .content .quiz__answerResult ul li label.selected {
    background-color: #ebebeb;
  }
  body .entryBody .content .quiz__answerResult ul li label p {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  body .entryBody .content .quiz__answerResult .quiz__answer-descr {
    margin: 1em 0 1.5em;
  }
  body .entryBody .content .quiz__answerResult p {
    padding: 0 0.3571rem;
    text-align: center !important;
  }
  body .entryBody .content .quiz__answerResult-final .quiz__answer span p {
    display: inline;
    padding: 0;
  }
  body .entryBody .content .quiz__answerResult-final .quiz__number {
    font-size: 1em;
  }
  body .entryBody .content .quiz a.quiz__arrow {
    font-size: 1em;
  }
  body .entryBody .content .quiz .quiz__summary {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-style: italic;
    font-weight: bold;
    padding: 0 0.3571rem;
  }
  body .entryBody .content .quiz .quiz__summary p {
    text-align: center;
  }
  body .entryBody .content .quiz .answer__image {
    width: 100%;
    height: auto;
  }
  .magazine .entryBody .meta__issue {
    font-size: 1em;
    line-height: 1.174;
  }
  body .buyIssue {
    text-align: center;
  }
  body .buyIssue__text {
    margin: .75em;
  }
  body .buyIssue__text p {
    font-size: 12px;
    line-height: 14px;
  }
  body .buyIssue__rate {
    display: inline-block;
  }
  body .buyIssue__code {
    padding-bottom: 1em;
    display: inline-block;
  }
  body .modal_small .modal-dialog {
    box-sizing: border-box;
    width: 70%;
    height: auto;
    left: 50%;
    margin: 0 0 0 -35%;
    background-color: #ebebeb;
  }
  body .modal_small .close {
    font-size: 30px;
    font-weight: normal;
    line-height: 0.5;
  }
  body .modal_read form {
    text-align: center;
  }
  body .modal_read input[type="text"],
  body .modal_read input[type="submit"] {
    width: 80%;
    box-sizing: border-box;
  }
  body .blogHeader__recent {
    float: none;
    width: auto;
    display: block;
    padding: 0.8em 23px;
    background: url('/i/new/magazine/dotted.gif') repeat-x 0 100%;
    margin-bottom: 10px;
  }
  body .blogHeader__recent .meta {
    font: bold normal 1em / 1.174 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #575757;
  }
  body .blogHeader__recent h2 {
    font: bold normal 1.4em / 1.21 "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: visible;
  }
  body .blogHeader__recent__author {
    color: #333333;
    font: bold italic 1.2em / 1 Georgia, Times, "Times New Roman", serif;
  }
  body .blogHeader__recent__author a {
    color: #000000;
  }
  body .blogHeader__recent__lead {
    font-size: 1em;
    line-height: 1.26;
    color: #575757;
    margin: 0;
  }
  body .blogHeader__recent .image img {
    display: block;
    width: 100%;
    height: auto;
  }
  body.division-profile_blog {
    background: url('/i/new/magazine/dotted.gif') repeat-x 0 0%;
  }
  body.division-profile_blog .blogHeader {
    background: transparent;
    border: 0;
    padding: 0;
  }
  body.division-profile_blog .blogHeader__sort {
    float: none;
    margin: -20px 0% 30px 230px;
  }
  body.division-profile_blog .h-columnWrapper {
    width: auto;
  }
  body.division-profile_blog .person-blog {
    padding: 0 3.125%;
    box-sizing: border-box;
  }
  body.division-profile_blog .two-column > aside {
    float: none;
    width: auto;
  }
  body .profileAbout {
    padding: 0 3.125% 1.25em;
  }
  body .profileAbout.profileAbout-Vcard {
    padding: 0 3.125%;
  }
  body .profileAbout.profileAbout-Vcard p {
    font-size: 1em;
    line-height: 1.4;
  }
  body .profileAbout dl dt {
    font-size: 1em;
    line-height: 1;
    float: none;
    width: auto;
    padding: 1.1em 23px 0;
  }
  body .profileAbout dl dd {
    font-size: 1em;
    line-height: 1.4;
    padding: 1em 23px 1.4em;
    margin-left: 0;
    border-top: 0;
    word-break: break-word;
  }
  body .person-ribbon-title {
    padding: 0 23px;
  }
  body .ribbon-filter {
    position: relative;
    top: -1px;
  }
  body .two-column .profileContent {
    width: 100%;
    margin-top: 1.75em;
  }
  body .h-layoutWide_logged .profile-header__avatar,
  body .h-layoutWide_logged .profile-header .fi {
    margin-top: 7.5em;
  }
  body .blogHeader__header__sort {
    margin-bottom: 1em;
  }
  body .subscriberStatus {
    background-position: 95% center;
  }
  body .subscriberStatus a.g-extend {
    margin-top: 6px;
  }
  body .entryList .storageItem {
    padding: 0.8em 23px;
  }
  body .entryList .storageItem time {
    font: bold normal 1em / 1.174 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #575757;
  }
  body .entryList .storageItem h2 {
    font: bold normal 1.4em / 1.21 "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: visible;
  }
  body .entryList .storageItem__author {
    color: #333333;
    font: bold italic 1.2em / 1 Georgia, Times, "Times New Roman", serif;
  }
  body .entryList .storageItem__author a {
    color: #000000;
  }
  body .entryList .storageItem__lead {
    font-size: 1em;
    line-height: 1.26;
    color: #575757;
    margin: 0;
  }
  body .entryList .storageItem .image img {
    display: block;
    width: 100%;
    height: auto;
  }
  body .entryList .storageItem.less {
    padding: 0.8em 23px;
    min-height: auto;
  }
  body .entryList .storageItem.less .image {
    position: relative;
    left: auto;
    top: auto;
  }
  body .entryList.entryList-blog .storageItem time a span {
    font-size: 1.217em;
  }
  body .entryList.entryList-blog .storageItem .storageItem__author {
    display: none;
  }
  body.division-storage .storageTitle {
    padding: 0;
  }
  body.division-storage .storageTitle-simple .inner {
    height: auto;
  }
  body.division-storage .storageTitle-simple h1 {
    padding: 0;
  }
  body.division-storage .storageTitle h1 {
    float: none;
    margin: 0;
  }
  body.division-storage .storageTitle h1 strong {
    margin: 0 0 0 23px;
    font: bold normal 1.4em / 1.1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  body.division-storage .storageTitleFilter__pages {
    padding-left: 0;
    font-size: 1em;
  }
  body.division-storage .h-paginationControl {
    width: 100%;
  }
  body.division-storage .content.left {
    padding: 0 3.125%;
    box-sizing: border-box;
  }
  body .paginationControl__more {
    display: block;
    background: #07345e;
    padding: 32px 0;
    color: #fff;
    font-size: 1.1428em;
    text-align: center;
    width: 106.7%;
    margin-left: -3.35%;
  }
  body .paginationControl__more_article {
    background: #ebebeb;
    color: #000;
    font-weight: bold;
  }
  body .paginationControl__more_article .loading-bar .round {
    color: #000;
  }
  body .paginationControl__more_article:active {
    background: #d1d1d1;
  }
  .loading-bar {
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
    display: inline-block;
  }
  .loading-bar .round {
    -webkit-animation: 0.8s ease 0s normal none infinite running spin;
    animation: 0.8s ease 0s normal none infinite running spin;
    color: #fff;
    display: inline-block;
    line-height: 20px;
    margin: 0 -4px;
    text-align: center;
    vertical-align: middle;
    width: 24px;
  }
  .loading-bar .round:before {
    content: "•";
  }
  .loading-bar .round + .round {
    -webkit-animation-delay: 0.15s;
  }
  .loading-bar .round + .round + .round {
    -webkit-animation-delay: 0.3s;
  }
  @-webkit-keyframes spin {
    0% {
      font-size: 10px;
    }
    50% {
      font-size: 56px;
    }
    100% {
      font-size: 10px;
    }
  }
  .division-magazine .issueTitle {
    border-bottom: 2px dotted #575757;
  }
  .division-magazine .issueTitle h1 {
    background: none;
    margin-bottom: 0.75em;
  }
  .division-magazine .issueTitle h1 strong {
    font-size: 1.4em;
    line-height: 1;
  }
  .division-magazine .issueTitle h3 {
    margin-top: 0.25em;
    font-size: 1em;
    line-height: 1;
  }
  .division-magazine .magazineNavigation2 .listWrapper {
    width: auto;
  }
  .division-magazine .entryList .storageItem {
    background: none;
    border-bottom: 2px dotted #575757;
  }
  .division-magazine .entryList .storageItem__author {
    display: none;
  }
  body .block_relatedEntries {
    border: 0;
  }
  body .block_relatedEntries .block__head {
    display: none;
  }
  body .block_blogPeek .block__head .user {
    font-size: 1.4em;
    line-height: 1;
  }
  body .block_blogPeek .block__head__onSnob {
    font-size: 1.4em;
    line-height: 1;
  }
  body .block_blogPeek .blogPeek__more {
    display: none;
  }
  .widget__head {
    border: 0;
    background: none;
  }
  .widget__pill {
    border: 0;
    height: auto;
    width: auto;
  }
  .widget__pill__item {
    height: auto;
    width: 40%;
    padding: 3% 0;
    box-sizing: border-box;
    border: 1px solid #b5b5b5;
    border-bottom: 1px solid #b5b5b5;
    border-right: 0;
    border-left: 0;
    margin-top: 3.725%;
    font-size: 1em;
    line-height: 1;
    box-shadow: inset 3px -3px 12px -2px rgba(0, 0, 0, 0.27);
  }
  .widget__pill__item:before {
    content: none;
  }
  .widget__pill__item.active:last-child {
    border-right: 0;
    border-left: 1px solid #b5b5b5;
  }
  .widget__pill__item.active {
    width: 60%;
    height: auto;
    margin: 0;
    padding: 5% 0 3% 0;
    border-right: 1px solid #b5b5b5;
    border-top: 1px solid #b5b5b5;
    border-bottom: 0;
    color: #a30000;
    font-size: 1.14286em;
    line-height: 1.28;
    box-shadow: none;
  }
  .widget__pill__item.active a {
    width: auto;
    font-weight: bold;
  }
  .widget__pill__item a[href="#lastEntries"] {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .widget__content {
    border: 0;
    margin: 6px 0 0 0;
    padding: 0;
  }
  body .entryList.entryList_size_s {
    padding: 0 3.5%;
  }
  body .entryList.entryList_size_s:after,
  body .entryList.entryList_size_s .entryList__item:before {
    display: block;
    content: "";
    width: 100%;
    border-top: 1px solid #b5b5b5;
    border-bottom: 1px solid #fff;
    margin-bottom: 15px;
    visibility: visible;
  }
  body .entryList.entryList_size_s:after {
    margin: 15px 0 0;
  }
  body .entryList.entryList_size_s .entryList__item {
    padding: 20px 0 0 0;
    border: 0;
    margin: 0;
    min-height: 0;
  }
  body .entryList.entryList_size_s .entryList__item > a {
    width: 13%;
    margin: 0 3.125% 0 0;
    display: inline-block;
  }
  body .entryList.entryList_size_s .entryList__item > a img {
    position: static;
    display: inline-block;
    margin: 0;
    width: 100%;
    height: auto;
  }
  body .entryList.entryList_size_s .entryList__item .entry__head {
    width: 80%;
    float: none;
    display: inline-block;
    font-size: 1em;
    line-height: 1.35;
    vertical-align: top;
    margin: 0;
  }
  body .entryList.entryList_size_s .entryList__item .entry__head a {
    color: #07345e;
  }
  body .entryList.entryList_size_s .entryList__item .entry__head .userInSubject {
    color: #000000;
  }
  body .entryList.entryList_size_s .entryList__item .entry__head .entry__author {
    font-size: 1em;
    line-height: 1.35;
    color: #000000;
  }
  body .entryList.entryList_size_s .entryList__item:first-child:before,
  body .entryList.entryList_size_s .entryList__item.first:before {
    content: none;
  }
  body .entryList.entryList_size_s .entryList__item:first-child {
    margin: 20px 0 0 0;
    padding: 0;
  }
  body .entryList.entryList_size_s .entryList__item:first-child .entry__head {
    font-weight: normal;
  }
  body .entryList.entryList_size_s.entryList_news .entryList__item:first-child {
    border: 0;
  }
  body .entryList.entryList_size_s.entryList_news .entryList__item .entry__head {
    width: 95%;
    line-height: 1.35;
  }
  body .entryList.entryList_size_s.entryList_news .entryList__item time {
    font-size: 0.60844444em;
    line-height: 14px;
  }
  body .entryList_gray {
    width: 93%;
    margin-bottom: 0;
  }
  body .entryList_gray .entryList__item br {
    display: none;
  }
  body .entryList_gray .entryList__head {
    font: bold normal 1.142em / 1 "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: -3.7%;
  }
  body .entryList_gray .entryList__head span:first-child {
    padding-bottom: 5px;
  }
  body .entryList_gray.entryList_feat .entryList__item {
    /*border-bottom: 1px solid #d7d7d7;
    border-top: 1px solid #fff;
    padding: 20px 0;
    margin: 0;*/
  }
  body .entryList_gray.entryList_feat .entryList__item:after {
    display: none;
  }
  body .entryList_gray.entryList_feat .entryList__item.first {
    border-top: 0;
  }
  body .entryList_gray.entryList_feat .entryList__item.first .entry__cover {
    width: 13%;
    height: auto;
  }
  body .entryList_gray.entryList_feat .entryList__item.first .entry__head {
    margin: 0;
    width: 76%;
  }
  body .entryList_gray.entryList_feat .entryList__item:last-child {
    padding-bottom: 20px;
  }
  .entryList.entryList_gray.entryList_position_s {
    padding-bottom: 15px;
  }
  .entryList.entryList_gray.entryList_feat {
    border-bottom: 1px solid #b5b5b5;
    margin-bottom: 15px;
  }
  .entryList.entryList_gray.entryList_feat:after {
    display: none;
  }
  .entryList_gray.entryList_cover_upic .entry__cover {
    width: 15%;
    height: auto;
    margin-right: 2.5%;
  }
  body .h-layoutWide .entryList_size_m .entryList__item {
    display: block;
    width: auto;
    min-height: 0;
  }
  body .h-layoutWide .entryList_size_m .entry__cover {
    display: inline-block;
    width: 28%;
    height: auto;
    vertical-align: top;
  }
  body .h-layoutWide .entryList_size_m .entry__cover img {
    display: block;
    width: 100%;
  }
  body .h-layoutWide .entryList_size_m .entry__head {
    margin: 0 0 0 0.2em;
    display: inline-block;
    width: 69%;
  }
  body .h-layoutWide .entryList_size_m .entry__lead {
    display: none;
  }
  body .entryList_size_m.entryList_relatedEntries {
    margin: 1em 3.125%;
  }
  body .entryList_size_m.entryList_relatedEntries .entryList__item {
    padding: 0.75em 0 1em 0;
    border: 0;
    border-bottom: 1px dashed #595959;
  }
  body .entryList_size_m.entryList_relatedEntries .entry__head a.userInSubject {
    color: #333333;
    font: bold italic 1.22em / 1.35 Georgia, Times, "Times New Roman", serif;
  }
  body .entryList_size_m.entryList_relatedEntries .entry__head a {
    font-size: 1.4em;
    line-height: 1.187;
  }
  body .block_blogPeek .block__head {
    margin-left: 3.125%;
    padding-bottom: 1.4em;
  }
  body .block_blogPeek .entryList_size_m.entryList_blogPeek {
    padding: 0 3.125%;
  }
  body .block_blogPeek .entryList_size_m.entryList_blogPeek .entryList__item {
    margin: 0 0 0.9em;
    padding-bottom: 0.9em;
    border-bottom: 1px dashed #585858;
  }
  body .block_blogPeek .entryList_size_m.entryList_blogPeek .entryList__item:last-child {
    border: 0;
    margin-bottom: 1.5em;
  }
  /* TABS */
  body .subscription {
    /* Index */
  }
  body .subscription .subscription_header {
    height: auto;
  }
  body .subscription .subscription_tabs {
    float: none;
    height: auto;
  }
  body .subscription .subscription_tabs li {
    display: block;
    width: 29%;
    padding: 0 2%;
    height: 3.5em;
    vertical-align: middle;
    font-size: 0.75em;
    line-height: 1.2;
  }
  body .subscription .subscription_tabs li.leftSh {
    background-position: 100% 100%;
  }
  body .subscription .subscription_tabs li.rightSh {
    background-position: 0 100%;
  }
  body .subscription .subscription_tabs li.active {
    background: #eee;
  }
  body .subscription .subscription_tabs li a {
    margin-top: 0.5em;
    display: inline-block;
  }
  body .subscription .subscription_tab {
    background: #ebebeb;
  }
  body .subscription .subscription_body .subscription_btop {
    padding: 1.2em 23px;
    margin: 0 3.125%;
  }
  body .subscription .subscription_body .subscription_btop sup {
    font-size: 1em;
    line-height: 1.25;
    vertical-align: baseline;
    color: #ff0000;
  }
  body .subscription .subscription_body .subscription_btop sup a {
    color: #f00;
    text-decoration: underline;
  }
  body .subscription .subscription_body .subscription_btop .btop_subinfo > p {
    font-size: 1em;
    line-height: 1.25;
    margin-bottom: 1.2em;
  }
  body .subscription .subscription_body .subscription_btop .btop_subinfo img {
    width: 100%;
  }
  body .subscription .subscription_body .subscription_btop .btop_subinfo .do_selector p {
    margin-bottom: 0.5em;
  }
  body .subscription .subscription_body .subscription_btop .btop_subinfo .do_selector label {
    width: 85%;
  }
  body .subscription .subscription_body .subscription_btop .btop_subinfo .do_selector select {
    width: 100%;
    font-size: 1em;
  }
  body .subscription .subscription_body .subscription_btop .btop_subinfo .app_store {
    display: block;
  }
  body .subscription .subscription_body .subscription_btop .btop_subinfo .download,
  body .subscription .subscription_body .subscription_btop .btop_subinfo .app_store {
    float: none;
    margin-bottom: 10px;
  }
  body .subscription .subscription_body .subscription_btop .btop_subinfo .download {
    transform: scale(0.75, 0.75);
    transform-origin: 0 0;
  }
  body .subscription .subscription_body .subscription_ipad .btop_subinfo .download {
    transform: scale(0.6, 0.6);
  }
  body .subscription .subscription_body .btop_subinfo h2,
  body .subscription .subscription_body .subscription_mainside h2 {
    font-size: 1.4em;
    line-height: 1.2;
    background: none;
    padding: 0;
    margin-bottom: 1em;
  }
  body .subscription .subscription_body .subscription_join .subscription_btop:before {
    background-image: none;
  }
  body .subscription .subscription_bmid {
    padding: 0 23px 1.4em ;
    margin: 0 3.125%;
  }
  body .subscription .subscription_bmid table {
    width: 100%;
  }
  body .subscription_name p {
    margin-bottom: 7.5%;
  }
  body .subscription_name label {
    width: 24%;
    font-size: 1em;
    line-height: 1.35;
    padding-top: 8px;
  }
  body .subscription_name input {
    width: 48%;
    padding: 8px 3%;
    font-size: 1em;
    line-height: 1.35;
    float: right;
  }
  body .subsIndexAction {
    overflow: hidden;
  }
  body .subsIndexAction__term select {
    font-size: 1em;
  }
  body .subsIndexAction__sum {
    float: left;
    width: 50%;
    font-size: 2em;
    line-height: 1;
    vertical-align: bottom;
  }
  body .subsIndexAction__currency {
    clear: none;
    float: right;
    width: 50%;
    text-align: right;
  }
  body .subsIndexAction__currency li {
    font-size: 1em;
    line-height: 1.3;
    padding-top: 0.7em;
    border-bottom: 1px dashed #666;
  }
  body .subsIndexAction__currency li.active {
    border-color: #000;
  }
  body .subsIndexAction__currency li a {
    vertical-align: bottom;
  }
  body .subsIndexAction__prolong {
    width: 240px;
    margin: .65em 0;
    clear: both;
  }
  body .subsIndexAction__action {
    float: none;
    margin-top: 0.5rem;
  }
  body .subscription_buttons .redButton,
  body .subsIndexAction .redButton {
    transform: scale(0.65, 0.65);
    transform-origin: 0 0;
    float: none;
  }
  /* step2 */
  body .subscription_step2 .subscription_tab {
    background: none;
  }
  body .subscription_step2 .subscription_header {
    display: none;
  }
  body .subscription_step2 .subscription_body {
    background: none;
  }
  body .subscription_step2 dt.subform_tab {
    width: 40%;
    font-size: 0.7826em;
    padding: 0.6087em;
    box-sizing: border-box;
  }
  body .subscription_step2 dt.subform_tab:first-child {
    width: 55%;
  }
  body .subscription_step2 dt.subform_tab label {
    padding: 0;
  }
  body .subscription_step2 dt.subform_tab label input {
    min-height: 1.75em;
  }
  body .subscription_step2 dt.subform_tab label input,
  body .subscription_step2 dt.subform_tab label span {
    display: block;
    float: left;
  }
  body .subscription_step2 dt.subform_tab label span {
    width: 80%;
    padding-left: 5%;
  }
  body .subscription_step2 .subpay {
    padding-bottom: 12px;
    margin-top: 1em;
    padding-top: .25em;
  }
  body .subscription_step2 .subpay p {
    display: block;
    padding: 0.75em 0 0;
    margin: 0 0 0.75em;
  }
  body .subscription_step2 .pSecurity {
    padding: 0.75em 0 0;
    font-size: 0.7826em;
  }
  body .subscription_step2 .dollars {
    margin: 1.5em 0;
  }
  body .subscription_step2 .subscription_bmid .subscription_buttons > a {
    float: left;
  }
  body .subscription_step2 .subscription_bmid .subscription_buttons > input[type="submit"] {
    float: right;
  }
  body .subscription_bmid .subscription_buttons {
    position: relative;
  }
  body .subscription_bmid .subscription_buttons > a {
    display: inline-block;
    transform-origin: 0 0;
  }
  body .subscription_bmid .subscription_buttons > a,
  body .subscription_bmid .subscription_buttons > input[type="submit"] {
    transform: scale(0.4, 0.4);
  }
  body .subscription_bmid .subscription_buttons .subscription__button_next {
    position: absolute;
    right: 0;
    transform-origin: 100% 0;
  }
  body .subform_tab_inner,
  body .subform_delivery {
    padding: 0;
  }
  body .subform_delivery p,
  body .subform_tab_inner p {
    position: relative;
    color: #757575;
    font-size: 0.7826em;
  }
  body .subform_tab_inner p {
    min-height: 2em;
    margin: 0 0 0.5em;
  }
  body .subform_tab_inner p.intro {
    margin-top: 1em;
  }
  body .subform_fields select,
  body .subform_fields input {
    box-sizing: border-box;
    width: 48%;
    float: right;
    border: 0;
    border-top: 1px solid #bfbfbf;
    padding: 0 5px;
  }
  body .subform_fields input,
  body .subform_fields label {
    font-size: 1em;
    line-height: 2;
  }
  body .subform_fields p > em {
    float: none;
    clear: both;
    padding-left: 52%;
  }
  body .chzn-container {
    float: right;
  }
  body .chzn-container .chzn-results {
    width: 95%;
  }
  body .chzn-container-single .chzn-search input {
    line-height: 1.5;
  }
  body .chzn-container-single .chzn-search input {
    float: none;
  }
  body .subform_fields .chzn-container-single .chzn-single {
    border-top: 1px solid #bfbfbf;
    padding: 0 5px;
    font-size: 1em;
    line-height: 2;
    height: 2em;
  }
  body p.error em.error {
    display: block;
  }
  body .subform_fields P.selector_2:after,
  body .subform_fields P.selector_2 .after,
  body .subform_fields P:after,
  body .subform_fields P .after {
    right: -20px;
  }
  body DD.subform_tab,
  body .subform_delivery {
    background: transparent;
  }
  body .subform_delivery,
  body dd.subform_tab {
    position: relative;
  }
  body .subform_delivery:before,
  body dd.subform_tab:before {
    content: "";
    display: block;
    position: absolute;
    left: -3.125%;
    top: 0;
    width: 106.5%;
    height: 100%;
    background-color: #eee;
    padding: 0 23px;
    margin-left: -23px;
  }
  body .subform_delivery {
    color: #757575;
  }
  body .subform_delivery p,
  body .subform_delivery h3 {
    position: relative;
  }
  body .subform_delivery h3 {
    font-size: 1.2174em;
    padding: .5em 0 .25em;
    margin: 0;
  }
  body .subscription_corporate .buttonAdd {
    right: auto;
    top: auto;
    position: relative;
    float: right;
  }
  body .pseudoFirstCorporateStep {
    background-position: center bottom;
    padding: 0 0  0;
    background-size: contain;
  }
  body .pseudoFirstCorporateStep .subscription_buttons {
    margin-top: 112%;
  }
  body .subscription_body .agreement,
  body .subscription_body .agreement label {
    font-size: 1em;
    line-height: 1.35;
  }
  body form.step-two p,
  body table.orderTable tr.sum td strong {
    font-size: 1em;
    line-height: 1;
  }
  body dl.info dt {
    width: 36%;
  }
  body dl.info dt,
  body dl.info dd,
  body table.orderTable thead tr td,
  body table.orderTable tr.sum td,
  body table.orderTable tr td {
    font-size: 0.7em;
    line-height: 1;
  }
  body .card-header {
    margin: 0;
  }
  body .card-header .logo {
    margin: .75em 0 .75em 3.125%;
    padding-left: 23px;
  }
  body .card-header .card__sublogo.card__sublogo_dialogues {
    width: 136px;
    padding-right: 0;
    margin-top: 1.5em;
  }
  body .card-header .card__sublogo {
    margin: .75em 3.125% .75em 0;
    padding-right: 23px;
  }
  body .card .card__item {
    background-size: auto 100%;
  }
  body .card .card__item_nothing {
    background-position: center center;
  }
  body .card .card__item_nothing .card__item__title {
    margin: .75em 0;
    font-size: 2em;
  }
  body .card .card__item__lead {
    padding: 0 23px;
    font-size: 1em;
    line-height: 1.39;
    max-height: 4.2em;
    overflow: hidden;
  }
  body .card .card__item__title {
    padding: 0 23px;
    font-size: 1.4em;
    line-height: 1.09;
    margin: 0 auto .5em;
    padding-top: 2em;
  }
  body .card .card-shadow {
    top: auto;
    bottom: -910px;
  }
  body .card .card__item__closeAll,
  body .card .card-more {
    position: relative;
    display: block;
    background: url(/i/cards/cards_more.png) no-repeat;
    width: 18px;
    height: 24px;
    cursor: pointer;
    margin: 0.8571em auto 0;
    padding: 0 0 0.8571em;
  }
  body .card .card__item__closeAll {
    background-position: -18px 0;
  }
  body .card__item__body .meta {
    padding-top: 1em;
    margin: 0 0 8px 23px;
  }
  body .card_talks .card__item__buy .goToEventButton {
    margin: .5em auto;
  }
  body .card .card__item__buy__timepad {
    margin-top: 10px;
  }
  body .card .card__item__buy__timepad,
  body .card .card__item__buy__ponominalu {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
    position: relative;
    right: 10px;
  }
}
@media only screen and (max-width: 769px) and (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}
@media only screen and (max-width: 769px) and (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}
@media only screen and (max-width: 769px) and (min-width: 990px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}
@media only screen and (max-width: 769px) and (max-width: 480px) and (orientation: landscape) {
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: 200px;
  }
}
@media only screen and (max-width: 769px) and (min-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
@media only screen and (max-width: 769px) and (min-width: 768px) {
  .navbar-static-top {
    border-radius: 0;
  }
}
@media only screen and (max-width: 769px) and (min-width: 768px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0;
  }
}
@media only screen and (max-width: 769px) and (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}
@media only screen and (max-width: 769px) and (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}
@media only screen and (max-width: 769px) and (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media only screen and (max-width: 769px) and (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
}
@media only screen and (max-width: 769px) and (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
  }
}
@media only screen and (max-width: 769px) and (min-width: 768px) {
  .navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .navbar-form .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .navbar-form .input-group .input-group-addon,
  .navbar-form .input-group .input-group-btn,
  .navbar-form .input-group .form-control {
    width: auto;
  }
  .navbar-form .input-group > .form-control {
    width: 100%;
  }
  .navbar-form .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .radio,
  .navbar-form .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .radio label,
  .navbar-form .checkbox label {
    padding-left: 0;
  }
  .navbar-form .radio input[type="radio"],
  .navbar-form .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .navbar-form .has-feedback .form-control-feedback {
    top: 0;
  }
}
@media only screen and (max-width: 769px) and (max-width: 767px) {
  .navbar-form .form-group {
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 769px) and (min-width: 768px) {
  .navbar-form {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-form.navbar-right:last-child {
    margin-right: -15px;
  }
}
@media only screen and (max-width: 769px) and (min-width: 768px) {
  .navbar-text {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
  }
  .navbar-text.navbar-right:last-child {
    margin-right: 0;
  }
}
@media only screen and (max-width: 769px) and (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
@media only screen and (max-width: 769px) and (min-width: 450px) {
  body .entryBody ul.social-likes .social-likes__button,
  body .entryBody ul.social-likes i.lj {
    background-image: url("/i/entry/social-m.png");
    background-repeat: no-repeat;
    width: 51px;
    height: 51px;
  }
  body .entryBody ul.social-likes .social-likes__button_twitter {
    background-position: -51px 0;
  }
  body .entryBody ul.social-likes .social-likes__button_vkontakte {
    background-position: -102px 0;
  }
  body .entryBody ul.social-likes .social-likes__button_odnoklassniki {
    background-position: -153px 0;
  }
  body .entryBody ul.social-likes .social-likes__button_surfingbird {
    background-position: -306px 0;
  }
  body .entryBody ul.social-likes .social-likes__button_plusone {
    background-position: -255px 0;
  }
  body .entryBody ul.social-likes .social-likes__button_whatsapp {
    background-position: -357px 0;
  }
  body .entryBody ul.social-likes .social-likes__button_viber {
    background-position: -407px 0;
  }
  body .entryBody ul.social-likes i.lj {
    background-position: -204px 0;
  }
}
@media only screen and (max-width: 321px) {
  body .mainMenu_footer li {
    line-height: .75;
  }
  body .mainMenu_footer li a {
    color: #fff;
    font: bold normal 0.67em / 1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}
@media only screen and (max-width: 399px) {
  body div.profileMenuWrapper {
    top: 1em;
  }
  body div.h-goToBlog-profile-m {
    top: 65px;
  }
  body .profile-header .fi a .ico {
    width: 22px;
  }
  body .profile-header .fi a .ico_subscr {
    margin: 0 2px 0 0;
    top: .3em;
  }
  body a.prevEntryLink,
  body a.nextEntryLink {
    text-indent: -9999px;
  }
  body .m-navbar-toggle {
    margin: 5px 0 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  body .m-navbar-toggle_goToBlog .icon-bar {
    width: 16px;
    height: 2px;
  }
  body .m-navbar-toggle_goToBlog .icon-bar + .icon-bar {
    margin-top: 2px;
  }
  body .m-navbar-toggle_search {
    background-size: 100%;
    width: 18px;
    height: 18px;
    margin: 3px 0 0;
  }
  body header .logo {
    margin: 4% 0 0 -47px;
    width: 99px;
  }
  body header .h-mainMenu {
    margin-top: 4px;
  }
  body footer .footer__subscribe {
    height: 15px;
    padding: 0 0 5px 9.5%;
  }
  body footer .footer__subscribe:after {
    right: -7px;
    border-width: 10px 0 10px 7px;
  }
  body .h-layoutWide .entryList_size_m .entry__head {
    margin: 0 0 0 0.1em;
  }
  body .entryBody ul.social-likes {
    padding: 6.25% 3.125%;
  }
  body .subscription_step2 dl.subform_tabs dt.subform_tab:first-child {
    width: 55%;
  }
  body .subscription_step2 dl.subform_tabs,
  body .subscription_step2 .subform_delivery {
    width: 106.5%;
    margin-left: -3.125%;
  }
  body .subscription .subscription_body .subscription_btop .btop_subinfo .do_selector select {
    font-size: 0.7em;
  }
  body .subsIndexAction__term select {
    font-size: .65em;
  }
  body .subsIndexAction__currency li {
    font-size: 0.7826em;
    padding: .9rem 0 0;
    margin-right: 2px;
  }
  body .subsIndexAction__sum {
    font-size: 1.5em;
    padding: 0.5rem 0 0;
  }
  body .stuff-comments .comment-content .comment-foto-author img {
    width: 40px;
  }
  body .level-1 .comment-foto-author {
    width: 49px;
    height: 40px;
    background: none;
  }
  body .level-1 img.stamp {
    width: 21px !important;
    height: 21px !important;
    position: absolute;
    bottom: -7px;
    left: -8px;
    display: block !important;
    z-index: 60;
  }
  body .level-1 .text-comment,
  body .level-2 {
    margin-left: 49px;
  }
  body .stuff-comments form .snob2Skin .mceButton {
    margin-right: 15px;
    height: 20px;
  }
  body .stuff-comments form .snob2Skin span.mceIcon {
    background-size: 100%;
    height: 21px;
    width: 20px;
  }
  body .stuff-comments form .snob2Skin span.mce_snobembed {
    width: 40px;
  }
  body .card .card__item {
    background-size: auto 100%;
  }
  body .card .card__item_nothing {
    background-size: 300% auto;
  }
  body .card .card__item_nothing .card__item__title {
    padding: 45px 5px;
  }
  .division-cards-talks .card-header .logo {
    padding-left: 0;
  }
  .division-cards-talks .card-header .card__sublogo {
    margin-top: 20px;
    width: 50%;
    padding-right: 0;
  }
  body .entryBody .liveBlockHead__pic img {
    width: 30px;
    height: auto;
  }
  body .entryBody .content .liveBlockEntry_starred {
    margin: 35px 0 6px 50px!important;
    float: none;
  }
  body .entryBody .content .liveBlockEntry_starred time {
    margin-left: 10px;
  }
  body .entryBody .liveBlockEntry_starred .liveBlockEntry__content {
    padding-left: 10px;
  }
  body .entryBody div.liveBlockEntry_starred:before,
  body .entryBody div.liveBlockEntry_starred:after {
    top: 5px;
  }
  body .people dl.tabs dd.letter a {
    margin-right: 2px;
  }
  body .people .list ul {
    margin: 0 10px 0 35px;
  }
}
@media (min-width: 361px) and (max-width: 500px) {
  body header .logo {
    margin: 1.5625% 0 0 -86px;
    width: 172px;
  }
}
/*
@media @m600d700{
  body .profile-header{
    &_beautiful .profile-header__avatar{
      width: 40%;
      max-width: 40%;
    }

  }
}*/
@media only screen and (min-width: 700px) and (max-width: 769px) {
  /* body header .mainMenu li,
   body footer .mainMenu li{
     padding: 0 0 0 1.5%;
     margin-right: 1.5%;

   }*/
  body .profile-header_beautiful .profile-header__avatar {
    width: 40%;
    max-width: 40%;
  }
  body footer .footer__subscribe .footer__subscribeText {
    font-size: 0.7142em;
  }
  body footer .footer__subscribe .footer__subscribeButton {
    font-size: 0.5715em;
  }
}
@media only screen and (min-width: 400px) and (max-width: 769px) {
  body .stuff-comments-header span.right-control a i {
    background-image: url("/i/new/thread/ic-comment-big.png");
    width: 21px;
    height: 18px;
  }
  body header .mainMenu li a {
    font-size: 3.6vw;
  }
  body .stuff-comments .comment-content .text-comment .comment-management a {
    min-height: 23px;
  }
  body .stuff-comments .comment-content .text-comment .comment-management .comment-promotion {
    background-image: url("/i/new/thread/ic-comment-promotion-big.png");
    padding-left: 26px;
  }
  body .stuff-comments .comment-content .text-comment .comment-management .comment-reply {
    background-image: url("/i/new/thread/ic-comment-reply-big.png");
    padding-left: 26px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 769px) {
  body .subscription .subscription_tabs li {
    width: 21.3%;
    padding: 0 6%;
  }
  body .pseudoFirstCorporateStep {
    background-position: center 104%;
  }
  body .entryBody .gallery_article .gallery__source,
  body .entryBody .gallery_article .gallery__description {
    font-size: 0.7em;
  }
  body .h-layoutNarrow-profile .profile-header__avatar,
  body .h-layoutNarrow-profile .profile-header .fi {
    margin-top: 10em;
  }
}
@media only screen and (min-width: 500px) and (max-width: 769px) {
  body .subscription_buttons input[type="submit"],
  body .do_subscribe input[type="submit"],
  body .subscription_buttons a,
  body .subsIndexAction .subsIndexAction__action,
  body .subscription .subscription_body .subscription_ipad .btop_subinfo .download {
    transform: none;
  }
  body .subscription_bmid .subscription_buttons > a,
  body .subscription_bmid .subscription_buttons > input[type="submit"] {
    transform: scale(0.75, 0.75);
  }
  body .h-pageBlockRow .pageBlock__label_vopros-dnya:before {
    width: 16px;
    height: 28px;
  }
  body .h-pageBlockRow .pageBlock__label_sobytiya:before {
    width: 28px;
    height: 25px;
  }
  body .h-pageBlockRow .pageBlock__label_voskresnyy-rasskaz:before,
  body .h-pageBlockRow .pageBlock__label_literatura-po-pyatnitsam:before {
    width: 28px;
    height: 19px;
  }
  body .h-pageBlockRow .pageBlock__label_onlayn-festival-koroche:before {
    width: 28px;
    height: 20px;
  }
  body .h-pageBlockRow .pageBlock__label_posle-velikoy-pobedy:before {
    width: 20px;
    height: 28px;
  }
  body .h-pageBlockRow .pageBlock__label_zavtraki-s-Sokolovoi:before {
    width: 28px;
    height: 26px;
    top: 0px;
  }
  body .h-pageBlockRow .pageBlock__label_pryamaya-translyatsiya:before {
    width: 23px;
    height: 28px;
  }
  body .h-pageBlockRow .pageBlock__label_luchshie-blogi:before {
    width: 28px;
    height: 21px;
  }
  body .h-pageBlockRow .pageBlock__label_biblioteka:before {
    width: 28px;
    height: 27px;
    top: 0px;
  }
  body .h-pageBlockRow .pageBlock__label_monologi-o-90-kh:before {
    width: 28px;
    height: 27px;
    top: 0;
  }
  body .h-pageBlockRow .pageBlock__label_biznes-lanch-s-kseniey-sobchak:before {
    width: 28px;
    height: 28px;
  }
  body .h-pageBlockRow .pageBlock__label_poedinok:before {
    width: 28px;
    height: 28px;
  }
  body .h-pageBlockRow .pageBlock__label_cultura_povsednevnosti:before {
    width: 18px;
    height: 28px;
    top: 1px;
  }
  body .h-pageBlockRow .pageBlock__label_foto-dnya:before {
    width: 29px;
    height: 23px;
  }
  body .h-pageBlockRow .pageBlock__label_test:before {
    top: 0;
    width: 28px;
    height: 27px;
  }
  body .h-pageBlockRow .pageBlock__label_premiya-prosvetitel:before {
    width: 28px;
    height: 25px;
  }
  body .h-pageBlockRow .pageBlock__label_partnerski_material:before {
    width: 28px;
    height: 28px;
  }
  body .h-pageBlockRow .pageBlock__label_vechnoe:before {
    width: 32px;
    height: 19px;
  }
  body .h-pageBlockRow .pageBlock__label_oskorblenie-chuvstv:before {
    width: 28px;
    height: 24px;
  }
  body .h-pageBlockRow .pageBlock__label_istoriya-zla:before {
    width: 72px;
    height: 19px;
  }
  body .entryBody p .snob_s {
    background-position: 3px -23px;
    width: 20px;
    height: 16px;
  }
}
@media only screen and (min-width: 700px) and (max-width: 769px) {
  body .subscription_bmid .subscription_buttons > a,
  body .subscription_bmid .subscription_buttons > input[type="submit"] {
    transform: none;
  }
  body .entryBody p .snob_s {
    background-position: 3px 0;
    width: 30px;
    height: 23px;
  }
}
@media only screen and (max-width: 700px) {
  body.division-community .projectHelp {
    position: relative;
    right: auto;
    top: auto;
    width: 150px;
    margin: 0 auto;
  }
  body.division-community .peopleSearch {
    position: relative;
    top: auto;
    left: 50%;
    margin: 20px 0 20px -87px;
  }
  body.division-community .people dl.tabs {
    height: 102px;
  }
  body.division-community .people dl.tabs dd.letter.second {
    top: 85px;
    background: none;
  }
}
@media only screen and (min-width: 300px) and (max-width: 349px) {
  body .h-pageBlockRow .pageBlock dd .pageBlock__content .pageBlock__text {
    height: 52%;
    padding: 2% 5% 5% 7%;
  }
}
