@charset "utf-8";

#allCategoryList {
	position: relative;
	z-index: 99999;
}

#allCategoryList .allCategoryListInner {
	display: none;
	position: absolute;
	left: 0;
	top: 29px;
	background-color: #ffffff;
	z-index: 99999;
}

#allCategoryList .categoryBaseNav {
	padding: 0 0 4px;
	background: url(/resource/images/shared/bg/category-base-nav-bg.gif) no-repeat left bottom;
}

#allCategoryList .categoryBaseNav #officeTab li,
#allCategoryList .categoryBaseNav #alphaTab li {
	border-left: 1px solid #c1c1c1;
	border-right: 1px solid #49a2fe;
}

#allCategoryList .categoryBaseNav #officeTab li.first-child,
#allCategoryList .categoryBaseNav #alphaTab li.first-child {
	border-left: 1px solid #49a2fe;
	border-right: 0px solid #c1c1c1;
}

#allCategoryList .categoryBaseNav li {
	margin: 0;
	padding: 0;
}

#alphaList,
#alphaTab {
	display: none;
}

#allCategoryList .categoryBaseNav ul {
	position: relative;
	z-index: 99999;
}

#allCategoryList .categoryBaseNav .categories .iconListItem {
	width: 100%;
	border-top: 1px solid #49a2fe;
	border-right: 1px solid #49a2fe;
	border-left: 1px solid #49a2fe;
	font-size: 1.2em;
	line-height: 1.1666;
	position: relative;
	z-index: 99999;
	vertical-align: top;
	width: 174px;
}

#allCategoryList .categoryBaseNav .categories .iconListItem a {
	padding: 0 0 0 30px;
	display: block;
	background-image: url(/resource/images/shared/megadrop.png);
	background-repeat: no-repeat;
	background-position: 162px -130px;
	cursor: pointer;
}

#allCategoryList .categoryBaseNav .categories .iconListItem a div {
	cursor: pointer;
}

#allCategoryList .categoryBaseNav .categories .iconListItem .icon {
	margin-left: -30px;
	display: inline-block;
	vertical-align: middle;
	/display: inline;
	/zoom: 1;
}

#allCategoryList .categoryBaseNav .categories .iconListItem .iconText {
	padding: 0 15px 0 5px;
	display: inline-block;
	vertical-align: middle;
	/display: inline;
	/zoom: 1;
}

#allCategoryList .categoryBaseNav .categories .iconListItem ul.subListItemOuter {
	display: none;
	position: absolute;
	background-color: #ffffff;
	z-index: 99999;
	width: 754px;
	border-bottom: 1px solid #ccc;
}

#allCategoryList .categoryBaseNav .categories .iconListItem ul.subListItemOuter li.subListItemInner {
	width: 250px;
	display: inline-block;
	/display: inline;
	/zoom: 1;
	vertical-align: top;
}

#allCategoryList .categoryBaseNav .categories .iconListItem ul.subListItemOuter li.left {
	border-left: 1px dotted #4ba4ff;
	border-right: 1px dotted #4ba4ff;
}

#allCategoryList .categoryBaseNav .categories .iconListItem ul.subListItemOuter li.center {
	border-right: 1px dotted #4ba4ff;
}

#allCategoryList .categoryBaseNav .categories .iconListItem ul.subListItemOuter li.right {
	border-right: 1px dotted #4ba4ff;
}

#allCategoryList .categoryBaseNav .categories .iconListItem ul.subListItemOuter li.largeCategory {
	color: #1B72E9;
	background-color: #dfebf7;
	border-top: 1px solid #4ba4ff;
	border-bottom: 1px solid #4ba4ff;
	font-size: 90%;
}

#allCategoryList .categoryBaseNav .categories .iconListItem ul.subListItemOuter li.largeCategory a {
	padding: 6px 0 5px 10px;
	margin: 0 0 0 5px;
	display: block;
	background: url(/resource/images/shared/icn/b-arrow-mkr.gif) no-repeat 3px 50%;
}

#allCategoryList .categoryBaseNav .categories .iconListItem ul.subListItemOuter li.middleCategory {
	background-color: #ffffff;
	font-size: 90%;
}

#allCategoryList .categoryBaseNav .categories .iconListItem ul.subListItemOuter li.odd {
	background-color: #f7f7f7;
}

#allCategoryList .categoryBaseNav .categories .iconListItem ul.subListItemOuter li.middleCategory a {
	padding: 5px 0 5px 10px;
	margin: 0 0 0 8px;
	display: block;
	background: url(/resource/images/shared/icn/b-arrow-mkr.gif) no-repeat 3px 50%;
}

#allCategoryList .categoryBaseNav a:link,
#allCategoryList .categoryBaseNav a:visited {
	color: #666;
	text-decoration: none;
}

#allCategoryList .categoryBaseNav a:hover,
#allCategoryList .categoryBaseNav a:active {
	color: #1B72E9;
	background-color: #dfebf7;
}

#allCategoryList .categoryBaseNav a:hover .iconText {
	text-decoration: underline;
}
