@media all {
  .mod-embedcode .embed-form {
    font-size: 1em;
    margin: 0 auto;
    max-width: 555px;
  }
  .mod-embedcode .embed-form p {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 20px;
  }
  .mod-embedcode .embed-form p a {
    text-decoration: underline;
  }
  .mod-embedcode .embed-form .standard-format {
    width: 55px;
    height: 30px;
    margin: 10px 0 20px;
    background-color: #e9e9e9;
    border: 1px solid #999999;
  }
  .mod-embedcode .embed-form .custom-format {
    display: block;
    width: 200px;
    height: 100px;
    margin: 10px 0 30px;
    padding: 20px 15px;
    background-color: #e9e9e9;
    border: 1px solid #999999;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .mod-embedcode .embed-form .custom-format li {
    display: block;
    height: 30px;
    margin-left: 0;
    font-size: .9em;
  }
  .mod-embedcode .embed-form .custom-format li div {
    line-height: 22px;
    text-align: right;
  }
  .mod-embedcode .embed-form .custom-format li span {
    display: block;
    float: left;
  }
  .mod-embedcode .embed-form .custom-format li .custom-format-label {
    float: left;
    width: 55px;
    margin-top: 3px;
    margin-right: 10px;
    text-align: right;
  }
  .mod-embedcode .embed-form .custom-format li .custom-format-width,
  .mod-embedcode .embed-form .custom-format li .custom-format-height {
    float: left;
    width: 40px;
    margin: 0;
  }
  .mod-embedcode .embed-form .custom-format li .custom-format-height {
    text-align: center;
    margin-top: 4px;
  }
  .mod-embedcode .embed-form .custom-format li .text-dimmed {
    margin-top: 3px;
  }
  .mod-embedcode .embed-form .custom-format li .format {
    padding: 0 5px 0 20px;
  }
  .mod-embedcode .embed-form .iframe-info {
    width: 555px;
    max-width: 100%;
  }
  .mod-embedcode .embed-form .iframe-info .iframe-text {
    width: 100%;
    max-width: 555px;
    height: 90px;
    margin-bottom: 20px;
    padding: .4em .3076em;
    font-size: .9em;
    line-height: 1.2;
    border: 1px solid #757575;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
  }
  .mod-embedcode .embed-form .iframe-info .iframe-clipboard {
    float: right;
    margin: 0 0 0 0.8em;
    padding: 0.4em 0.8em;
    font-size: 1em;
    line-height: 1.1em;
    color: #454545;
    background: #f5f5f5;
    border: 1px solid #757575;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .mod-embedcode .embed-form .iframe-info .iframe-clipboard:hover,
  .mod-embedcode .embed-form .iframe-info .iframe-clipboard.hover {
    color: #757575;
    border: 1px solid #dc0018;
    outline: none;
    cursor: pointer;
  }
}

@media all {
  .mod-imagesbundesrat {
    width: 100%;
    margin-top: .3em;
  }
  .mod-imagesbundesrat .img-wrapper {
    margin: 0;
    padding-left: 0;
  }
  .mod-imagesbundesrat .img-wrapper li {
    float: left;
    margin-left: 0;
    list-style: none;
  }
  .mod-imagesbundesrat .img-wrapper li img {
    margin-top: 0;
  }
  .mod-imagesbundesrat .img-wrapper li figcaption {
    color: black;
    padding-right: 10px;
    text-align: center;
    word-wrap: break-word;
  }
  .mod-imagesbundesrat .img-count-1 li {
    width: 100%;
  }
  .mod-imagesbundesrat .img-count-2 li {
    width: 50%;
  }
  .mod-imagesbundesrat .img-count-3 li {
    width: 33.33333333%;
  }
  .mod-imagesbundesrat .img-count-4 li {
    width: 25%;
  }
  .mod-imagesbundesrat .img-count-5 li {
    width: 20%;
  }
  .mod-imagesbundesrat .img-count-6 li {
    width: 16.66666667%;
  }
  .mod-imagesbundesrat .img-count-7 li {
    width: 14.28571429%;
  }
  .mod-imagesbundesrat .img-count-8 li {
    width: 12.5%;
  }
}
@media all and (max-width: 767px) {
  .mod-imagesbundesrat figcaption {
    display: none;
  }
}

@media all {
  .mod-mediaconferenceteaser .linkliste {
    list-style: disc outside;
  }
  .mod-mediaconferenceteaser .linkliste li {
    margin-left: 1em;
  }
  .mod-mediaconferenceteaser .linkliste li a {
    max-height: 4.6em;
    margin-top: 0.5em;
    line-height: 1.5em;
    overflow: hidden;
  }
}

@media all {
  .mod-mediarelations section {
    margin-top: 0;
  }
  .mod-mediarelations .list-group-header {
    margin-bottom: 0;
  }
  .mod-mediarelations address {
    border-top: none;
    padding: 0;
    width: auto;
    display: block;
    margin-bottom: 30px;
  }
  .mod-mediarelations address strong,
  .mod-mediarelations address b {
    font-family: 'Frutiger Neue Bold', Arial, sans-serif;
    font-weight: 700;
    display: inline;
  }
  .mod-mediarelations p {
    font-size: 1em;
    margin: 0;
    padding-top: 11px;
  }
  .mod-mediarelations address p:first-child {
    padding-top: 0;
  }
  .mod-mediarelations address.well {
    padding: 10px;
  }
}

@media all {
  .mod-newsabo.loading {
    position: relative;
    min-height: 300px;
  }
  .mod-newsabo.loading:before {
    background-color: #fff;
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 0.5;
  }
  .mod-newsabo.loading:after {
    position: absolute;
    content: "\f021";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 2em;
    color: #454545;
    top: 50%;
    left: 50%;
    margin-left: -14px;
    margin-top: -14px;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
    z-index: 11;
  }
  .mod-newsabo form {
    margin-top: 1.5em;
  }
  .mod-newsabo form .newsabo-form-info {
    margin-top: .75em;
  }
  .mod-newsabo .table > tbody th {
    color: black;
  }
  .mod-newsabo .newsabo-navigation {
    margin-bottom: 22px;
  }
  .mod-newsabo .newsabo-abos .table > tbody > tr > td:first-child {
    width: 47%;
  }
  .mod-newsabo .newsabo-abos .table > tbody > tr > td:last-child {
    width: 15%;
  }
  .mod-newsabo .newsabo-user-data .naud-mail {
    display: inline-block;
    margin-right: 1em;
  }
  .mod-newsabo .newsabo-preview {
    margin-top: 22px;
  }
  .mod-newsabo .expand-all {
    margin-bottom: 1em;
  }
  .mod-newsabo .btn {
    margin-bottom: 0.3em;
  }
}

@media all {
  .mod-survey div[class*=col-] {
    margin-bottom: 1em;
  }
  .mod-survey .form-group label.col-sm-3 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .mod-survey select {
    width: 100%;
  }
  .mod-survey .survey-result.loading {
    position: relative;
    min-height: 300px;
  }
  .mod-survey .survey-result.loading:before {
    background-color: #fff;
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 0.5;
  }
  .mod-survey .survey-result.loading:after {
    position: absolute;
    content: "\f021";
    font: normal normal normal 18px/1 FontAwesome;
    color: #454545;
    top: 150px;
    left: 50%;
    margin-left: -14px;
    margin-top: -14px;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
    z-index: 11;
  }
  .mod-survey .survey-result .table {
    margin-bottom: 12px;
  }
  .mod-survey .survey-result .table th,
  .mod-survey .survey-result .table td {
    padding: 3px 8px 3px 0;
  }
  .mod-survey .survey-result .table th {
    width: 25%;
  }
  .mod-backtooverview .survey-backtooverview {
    margin-right: .5em;
  }
  .survey-details .icon--pdf {
    margin-right: .5em;
  }
}
@media screen and (max-width: 767px) {
  .mod-survey .survey-wrapper .form-group {
    margin-bottom: 0;
  }
  .mod-survey .survey-wrapper .form-group button {
    margin-top: 19px;
  }
  .mod-survey .survey-wrapper fieldset legend {
    padding-top: 19px;
    margin-bottom: 10px;
  }
  .mod-survey .survey-wrapper fieldset:first-child legend {
    padding-top: 0;
  }
}

@media all {
  .mod-table .appspace .sorter-false:after {
    content: "";
  }
}

@media all {
  .mod-textimage figure.span2 {
    width: auto;
  }
}

@media all {
  .mod-videoarchive .videoarchiv-mediaconference-container {
    min-height: 120px;
    margin-bottom: 1.5em;
  }
  .mod-videoarchive .videoarchiv-mediaconference-container .mediaconference-title h3 {
    padding-left: 0;
  }
  .mod-videoarchive .videoarchiv-mediaconference-container img {
    display: block;
    float: left;
    width: 160px;
    height: 90px;
    margin: 1.3em .8em 1.3em 0;
  }
  .mod-videoarchive .videoarchiv-mediaconference-container h3 {
    margin: .8em 0 0 0;
  }
  .mod-videoarchive .videoarchiv-mediaconference-container ul {
    clear: left;
    margin: .8em 0;
    padding-left: 0;
    list-style: none;
  }
  .mod-videoarchive .videoarchiv-mediaconference-container ul li {
    margin-left: 0;
  }
  .mod-layout .mod-archivemonthly .mod-videoarchive ul li a.external-link {
    display: inline-block;
  }
}

