﻿body {
}

.mini_story_cycler ul {
    margin: 0px auto;
    overflow-x: hidden;
    width: 85%;
}

.mini_story_cycler li {
    clear: both;
    margin: 0px auto 15px;
}

.mini_story_cycler .expand_slides {
    color: #990610;
    display: none;
    font-size: 0.8em;
    position: absolute;
    right: 0px;
    top: 0px;
}

.mini_story_cycler .item_content {
    margin: 5px 0px 5px 80px;
}

.mini_story_cycler .item_image {
    float: left;
}

.mini_story_cycler .item_image img {
    background-color: #fff;
    border: solid 1px #CECECE;
    margin: 0px 0px 0px 0px;
    padding: 3px;
    color: #000000;
}

.mini_story_cycler .item_more {
    margin: 0px 0px 0px 80px;
}

.mini_story_cycler .item_more a {
    background-image: url('/include/images/home/red_arrow.png');
    background-position: left center;
    background-repeat: no-repeat;
    padding: 0px 0px 0px 12px;
}

.mini_story_cycler .item_title {
    margin-left: 80px;
}

.mini_story_cycler .item_title a {
    font-size: 1.2em;
}

.mini_story_cycler .items_container {
    position: relative;
}

.mini_story_cycler .slide_control {
    display: none;
}

.mini_story_cycler .slide_left, .mini_story_cycler .slide_right {
    position: absolute;
    top: 20px;
}

.mini_story_cycler .slide_left {
    left: 0px;
}

.mini_story_cycler .slide_right {
    right: 0px;
}

.module
{
    margin: 0px 0px 0px 0px;
    position: relative;
    line-height: 1.3em;
}

.module_mftlcontrol
{
    bottom: 0px;
    min-height: 64px;
    top: 0px;
}

.module_mftlcontrol_image
{
    bottom: 0px;
    float: left;
    position: relative;
    margin: 0px 0px 0px 0px;
    top: 0px;
    width: 64px;
}

.module_mftlcontrol_content
{
    bottom: 0px;
    margin: -2px 0px 0px 0px;
    padding: 0px 0px 0px 85px;
    position: relative;
    top: 0px;
}

.module_mftlcontrol a:link, .module_mftlcontrol a:visited
{
    color: Black;
    text-decoration: none;
}

.module_pssm
{
    text-align: center;
    width: 100%;
}

.more_centered, .more_left, .more_right {
    display: block;
}

.more_centered {
    text-align: center;
}

.more_left {
    text-align: left;
}

.more_right {
    text-align: right;
}

.story_image_cycler {
    margin: 10px 0px 0px;
    padding: 0px;
}

.story_image_cycler h3 {
    font-size: 2.5em;
    font-weight: normal;
    line-height: 1em;
}

.story_image_cycler .description {
    background-image: url('/include/images/home/slide_box_fade.png');
    background-repeat: repeat;
    padding:  15px 10px 20px 20px;
    position: relative;
    top: 50px;
    width: 190px;
}

.story_image_cycler .description .item_media {
    margin:  20px 0px 0px;
}

.story_image_cycler .description .item_more a {
    background-image: url('/include/images/home/red_arrow1.gif');
    background-position: left center;
    background-repeat: no-repeat;
    color: #fff;
    font-weight: bold;
    padding: 0px 0px 0px 10px;
    text-decoration: underline;
}

.story_image_cycler .description a:hover {
    background-image: url('/include/images/home/beige_arrow.gif');
    text-decoration: none;
}

.story_image_cycler .description_content {
    float: left;
    height: 500px;
    position: relative;
    width: 100%;
}

.story_image_cycler .description_left {
    float: left;
    margin-left: 15px;
}

.story_image_cycler .description_right {
    float: right;
    margin-right: 15px;
}

.story_image_cycler .items_container {
    height: 400px;
    overflow: hidden;
    position: relative;
    width: 960px;
}

.story_image_cycler .items_container {
    background-color: #333;
    position: relative;
    color: #000000;
}

.story_image_cycler .items_container ul {
    z-index: 1;
}

.story_image_cycler .item_descriptions {
    color: #fff;
    left: 0px;
    position: absolute;
    text-align: left;
    top: 0px;
    z-index: 2;
}

.story_image_cycler .item_content {
    margin: 5px 0px 0px;
}

.story_image_cycler ul.items_pager {
    height: 73px;
    overflow: hidden;
    text-align: left;
    width: 970px;
}

.story_image_cycler ul.items_pager li {
    background-color: #000;
    border-top: solid 10px #fff;
    display: block;
    float: left;
    height: 63px;
    overflow: hidden;
    width: 120px;
    color: #000000;
}

.story_image_cycler ul.items_pager li img {
    border-left: solid 1px #000;
    filter: alpha(opacity = 30);
    opacity: 0.3;
}

.story_image_cycler ul.items_pager li img.slide_thumb_0 {
    border-left: none;
}

.story_image_cycler ul.items_pager li.activeSlide {
    border-top-color: #C7C7C7;
}

.story_image_cycler ul.items_pager li.activeSlide img {
    filter: alpha(opacity = 100);
    opacity: 1;
}





