﻿.module-multiple .module-multiple-title {
    color: #084371;
    float: left;
    font-size: 26px;
    padding-bottom: 11px;
    padding-left: 0;
    width: 80%;
}

    .module-multiple .module-multiple-title a {
        color: #084371;
        text-decoration: none;
    }

.module-multiple .module-multiple-body {
    border-bottom: 1px solid #dadada;
    border-top: 1px solid #dadada;
    padding: 10px 0;
}

    .module-multiple .module-multiple-body .left,
    .module-multiple .module-multiple-body .right {
        position: relative;
    }


    .module-multiple .module-multiple-body .module-product {
        margin: 0;
    }

        .module-multiple .module-multiple-body .module-product .module-product-body {
            margin: 0;
            padding: 0;
            border-bottom: 0;
            border-top: 0;
        }
