.MWVideoBlockPreviewImgContainer{
  position: relative;
}
.MWVideoBlockPreviewImgContainer.wait{
	cursor: wait;
}
.MWVideoBlockPreviewImgContainer .play_btn,
.MWVideoBlockPreviewImgContainer .play_btn_hover{
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  position: absolute;
  top: 42%;
  left: 50%;
  background: url('../img/play_100x100.png');
  transition-duration: 0.3s;
 -webkit-transition-duration: 0.3s;
 -moz-transition-duration: 0.3s;
 -ms-transition-duration: 0.3s;
 -o-transition-duration: 0.3s;
}
.MWVideoBlockPreviewImgContainer .play_btn_hover{
  background: url('../img/play_100x100_hover.png');
  opacity: 0;
}
.MWVideoBlockPreviewImgContainer:hover .play_btn{
  opacity: 0;
}
.MWVideoBlockPreviewImgContainer:hover .play_btn_hover{
  opacity: 1;
}



.goa-advideo .goa-closeButton {
  border: 3px solid rgba(255, 255, 255, 0.5);
  bottom: 15px;
  cursor: pointer;
  height: 24px;
  line-height: 24px;
  padding: 0 17px;
  position: absolute;
  right: 15px;
  background-color: rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 0.7);
  font-family: Verdana,Arial,sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 3px #000;
  text-align: center;
  transition-duration: 0.3s;
   -webkit-transition-duration: 0.3s;
   -moz-transition-duration: 0.3s;
   -ms-transition-duration: 0.3s;
   -o-transition-duration: 0.3s;
}
.goa-advideo .goa-closeButton.disabled {
  cursor: default;
}
.goa-advideo .goa-closeButton.disabled:hover {
  background-color: rgba(0, 0, 0, 0.25);
  color: rgba(255, 255, 255, 0.7);
}
.goa-advideo .goa-closeButton:hover {
  background-color: rgba(0, 0, 0, 0.37);
  color: rgba(255, 255, 255, 0.9);
}