ul.treeview{
	background:#f1f1f1;float:left;
}

ul.treeview label.option{
	color:#008eb1;
	font-size: 11px;
	font-weight: bold;
}

ul.treeview label.option.ochild{
	color:#000;
	font-weight:normal;
	font-size:11px;
}

.treeview li.voc-parent{
	background:none !important;
	cursor: pointer;
	width:250px;
	float: left;
}
#selectAllVocs span{
	cursor:pointer;
}
span.select-all-children,span.select-sub-children {
    background-image: url("../../../contrib/taxonomy_manager/images/select-all-children-bw.png");
    background-repeat: no-repeat;
    height: 16px;
    text-decoration: none;
    width: 16px;
    display:inline-block;
}

span.select-all-children:hover,span.select-sub-children:hover {
	background-image: url("../../../contrib/taxonomy_manager/images/select-all-children.png");
}
span.deselect-all-children:hover,span.deselect-sub-children:hover {
	background-image: url("../../../contrib/taxonomy_manager/images/deselect-all-children.png")
}
span.deselect-all-children,span.deselect-sub-children {
    background-image: url("../../../contrib/taxonomy_manager/images/deselect-all-children-bw.png");
    background-repeat: no-repeat;
    height: 16px;
    text-decoration: none;
    width: 16px;
    display:inline-block;
}
.voc-parent span.select-sub-children,.voc-parent span.deselect-sub-children{
	display: none;float: right;
}
.voc-parent:hover span.select-sub-children,.voc-parent:hover span.deselect-sub-children{
	display:block;
}
.treeview li.voc-child{
	padding:0 0 0 15px;
	background: url("../../../contrib/taxonomy_manager/images/tv-item.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	float: left;width: 100%;
}

.form-check-related-voc {
    float: left;
    margin-top: 2px;
}

li.voc-child.is{
	_display: none;
}

li.voc-child.isChecked{
	display: block;
}