@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext");
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden; }

.elofizetes_button_am,
.elofizetes_button_vg,
.elofizetes_button_lk,
.elofizetes_button_megyei {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 340px;
  height: 50px;
  display: block;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  line-height: 50px;
  font-family: Arial;
  font-size: 18px;
  border: 1px solid #000000;
  border-radius: 3px; }

.elofizetes_button_am:after,
.elofizetes_button_vg:after,
.elofizetes_button_lk:after,
.elofizetes_button_megyei:after {
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  content: "";
  background-size: cover;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

.elofizetes_button_am {
  color: #000000;
  border: 1px solid #e8c600; }

.elofizetes_button_am:after {
  background: url(../img/am_button_bg.jpg) center no-repeat;
  background-color: #ffdc00; }

.elofizetes_button_am:hover:after {
  opacity: 0.75; }

.elofizetes_button_lk {
  color: #ffffff;
  border: 1px solid #21112a; }

.elofizetes_button_lk:after {
  background: url(../img/lk_button_bg.jpg) center no-repeat;
  background-color: #473551; }

.elofizetes_button_lk:hover:after {
  opacity: 0.85; }

.elofizetes_button_vg {
  color: #ffffff;
  border: 1px solid #005636;
  font-family: Georgia; }

.elofizetes_button_vg:after {
  background: url(../img/vg_button_bg.jpg) center no-repeat;
  background-color: #32916c; }

.elofizetes_button_vg:hover:after {
  opacity: 0.85; }

.elofizetes_button_megyei {
  color: #ffffff;
  border: 1px solid #700000; }

.elofizetes_button_megyei:after {
  background: url(../img/megyei_button_bg.jpg) center no-repeat;
  background-color: #ae1b14; }

.elofizetes_button_megyei:hover:after {
  opacity: 0.85; }

.temporary_frame {
  width: 970px;
  display: block;
  position: absolute; }

.elofizetes_content {
  width: 100%;
  font-family: Arial;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px; }
  .elofizetes_content h1 {
    font-family: Arial;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    padding: 0px;
    margin: 30px 0;
    color: #000; }
  .elofizetes_content h2 {
    font-family: Arial;
    font-weight: 400;
    font-size: 25;
    color: #333333;
    margin: 0px;
    padding: 0px;
    text-align: center; }
  .elofizetes_content .block_print,
  .elofizetes_content .block_digital {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 50%;
    margin-top: 50px;
    min-width: 300px;
    min-height: 250px;
    padding-right: 10px;
    padding-bottom: 20px;
    background: url("") left top no-repeat;
    overflow: visible; }
    .elofizetes_content .block_print .price_line,
    .elofizetes_content .block_digital .price_line {
      float: right;
      margin-top: 50px;
      margin-bottom: 5px;
      margin-left: 250px;
      padding-bottom: 7px;
      border-bottom: 1px solid #d2d2d2;
      width: 235px; }
      .elofizetes_content .block_print .price_line .period,
      .elofizetes_content .block_digital .price_line .period {
        float: left;
        font-size: 14px;
        line-height: 18px;
        vertical-align: bottom;
        color: #7e7e7e; }
      .elofizetes_content .block_print .price_line .price,
      .elofizetes_content .block_digital .price_line .price {
        float: right;
        font-size: 18px;
        line-height: 18px;
        vertical-align: bottom;
        color: #333333; }
  .elofizetes_content .block_digital {
    background: url("") left top no-repeat; }
  .elofizetes_content .button {
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    display: block;
    float: right;
    background-color: #ae1b14;
    border: 1px solid #700000;
    border-radius: 3px;
    height: 50px;
    width: 140px;
    margin-left: 5px;
    margin-right: 10px;
    line-height: 50px;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    text-decoration: none; }
  .elofizetes_content .button:hover {
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    background-color: rgba(174, 27, 20, 0.8); }

.mw_shopmodule {
  background-color: #e4e4e4;
  overflow: hidden; }
  .mw_shopmodule div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Open Sans"; }
  .mw_shopmodule .container {
    width: 978px;
    margin: 0 auto; }
    @media (min-width: 1218px) {
      .mw_shopmodule .container {
        width: 1218px; } }
  .mw_shopmodule .title {
    color: #545567;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 26px;
	text-align: left;
    padding: 25px 0 20px 0; }
  .mw_shopmodule .row_products {
    padding-bottom: 30px; }
  .mw_shopmodule .block_imageproduct {
    float: left;
    margin-left: 30px;
    width: 222px;
    height: 262px;
    background-color: #9c9ca5;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    @media (min-width: 1218px) {
      .mw_shopmodule .block_imageproduct {
        width: 282px;
        height: 332px; } }
    .mw_shopmodule .block_imageproduct .product_title {
      border: 1px solid white;
      margin: 92px 10px;
      height: 78px;
      width: 202px;
      position: absolute;
      z-index: 10;
      display: table;
      transition-duration: 0.5s;
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -ms-transition-duration: 0.5s;
      -o-transition-duration: 0.5s; }
      @media (min-width: 1218px) {
        .mw_shopmodule .block_imageproduct .product_title {
          margin: 127px 15px;
          width: 252px; } }
      .mw_shopmodule .block_imageproduct .product_title .wrapper {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 400;
        color: #ffffff;
        padding: 0 10px;
        text-transform: uppercase; 
        line-height: 24px;}
        .mw_shopmodule .block_imageproduct .product_title .wrapper .price {
          display: block;
          text-align: center;
          font-weight: 700; 
          font-size: 18px;
        }
    .mw_shopmodule .block_imageproduct .product_footer {
      background-color: #545567;
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: 400;
      color: #ffffff;
      line-height: 14px;
      padding: 10px;
      opacity: 0;
      width: 100%;
      position: absolute;
      z-index: 10;
      bottom: -100px;
      transition-duration: 0.5s;
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -ms-transition-duration: 0.5s;
      -o-transition-duration: 0.5s; }
      .mw_shopmodule .block_imageproduct .product_footer .highlight {
        font-weight: 700;
        text-align: center;
        display: block;
        margin-bottom: 5px; }
      .mw_shopmodule .block_imageproduct .product_footer .highlight:last-child {
        margin: 0px; }
    .mw_shopmodule .block_imageproduct .product_image {
      width: 100%;
      height: 100%;
      position: absolute;
      background-size: cover !important;
      background-repeat: no-repeat;
      opacity: 0.7;
      z-index: 8;
      transition-duration: 1s; }
    .mw_shopmodule .block_imageproduct .product_image_overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(84, 85, 103, 0.5);
      z-index: 9;
      opacity: 1;
      transition-duration: 0.5s;
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      -ms-transition-duration: 0.5s;
      -o-transition-duration: 0.5s; }
  .mw_shopmodule .block_imageproduct:first-child {
    margin-left: 0px; }
  .mw_shopmodule .block_imageproduct:hover .product_title {
    margin-top: 15px;
    background-color: rgba(84, 85, 103, 0.6);
    border: 0; }
  .mw_shopmodule .block_imageproduct:hover .product_footer {
    opacity: 1;
    height: auto;
    bottom: 0px; }
  .mw_shopmodule .block_imageproduct:hover .product_image {
    transform: scale(1.1, 1.1); }
  .mw_shopmodule .block_imageproduct:hover .product_image_overlay {
    opacity: 0; }
  .mw_shopmodule .block_textproduct {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-decoration: none;
    box-sizing: border-box;
    float: left;
    display: table;
    background-color: #e4e4e4;
    border: 2px solid #afafc5;
    height: 113px;
    width: 222px;
    margin-left: 30px;
    cursor: pointer;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s; }
    @media (min-width: 1218px) {
      .mw_shopmodule .block_textproduct {
        width: 282px;
        height: 90px; } }
    .mw_shopmodule .block_textproduct .wrapper {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      width: 100%;
      height: 100%;
      padding: 0 15px;
      font-family: "Open Sans";
      font-size: 16px;
      color: #3e3f51;
      line-height: 20px; }
    .mw_shopmodule .block_textproduct:hover {
      background-color: #d7d7d7;
      border: 2px solid #545567; }
  .mw_shopmodule .block_textproduct:first-child {
    margin-left: 0px; }