.main_left_g {
	float:left;
	width:716px;
}
.main_left {
	float:left;
	width:349px;
	margin-right:5px;
}
.main_center {
	float:left;
	width:362px;
}
.main_right {
	float:left;
	width:250px;
	margin-left:5px;
}

.sly_cz_especial {
	width:700px;
	margin-bottom:20px;
}
.espc_pretitle {
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#666666;
	font-size:12px;
	font-weight:bold;
	margin-bottom:6px;
	padding-right:10px;
	text-transform:uppercase;
}
.espc_title {
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#000000;
	font-size:42px;
	margin-bottom:8px;
	padding-right:10px;
}
.espc_title a {
	color:#000;
	text-decoration:none;
}
.espc_title a:hover {
	text-decoration:underline;
}
.espc_summary {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
	font-size:12px;
	padding-right:10px;
	line-height:15px;
	margin-bottom:20px;
}
.espc_post_title {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
	font-size:12px;
	margin-bottom:10px;
	text-transform:uppercase;
}
.espc_post_title_especial {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
	font-size:14px;
	margin-bottom:10px;
	text-transform:uppercase;
}
.topleftmain_imagen {
	margin-bottom:7px;
}
.topleftmain_pretitulo {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	font-weight:bold;
	color:#666666;
	text-transform:uppercase;
	margin-bottom:2px;
}
.topleftmain_postitulo {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	margin-bottom:10px;
	text-transform:uppercase;
}
.topleftmain_titulo {
	margin-bottom:7px;
}
.topleftmain_titulo a {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:22px;
	color:#000000;
	text-decoration:none;
}
.topleftmain_titulo a:hover {
	text-decoration:underline;
}
.topleftmain_titulo_1ra {
	margin-bottom:7px;
}
.topleftmain_titulo_1ra a {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:28px;
	color:#000000;
	text-decoration:none;
}
.topleftmain_titulo_1ra a:hover {
	text-decoration:underline;
}
.topleftmain_relacionate {
	font-family:Georgia, "Times New Roman", Times, serif !important;
	font-size:12px !important;
	margin-left:5px;
	margin-top:9px;
}
.topleftmain_relacionate a {
	background-image:url(/dr2/img/main/icorelacionados.jpg) !important;
	background-position:left 5px !important;
	padding-left:10px !important;
	background-repeat:no-repeat !important;
	color:#000000 !important;
	text-decoration:none !important;
}
.topleftmain_relacionate a:hover {
	color:#FF9900 !important;
}
.topleftmain_relacionate_especiales {
	font-family:Georgia, "Times New Roman", Times, serif !important;
	font-size:18px;
	margin-left:30px;
	margin-top:3px;
	text-align:left;
}
.topleftmain_relacionate_especiales a {
	background-image:url(/dr2/img/main/icorelacionados_especial.jpg) !important;
	background-position:left 5px !important;
	padding-left:20px !important;
	background-repeat:no-repeat !important;
	color:#000000 !important;
	text-decoration:none !important;
}
.topleftmain_relacionate_especiales a:hover {
	color:#FF9900 !important;
}
.topleftmain_sumario {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	line-height:15px;
}
.topcentermain_titulo {
	margin-bottom:7px;
}
.topcentermain_titulo a {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:17px;
	color:#000000;
	text-decoration:none;
}
.topcentermain_titulo a:hover {
	text-decoration:underline;
}
.topcentermain_titulo_1ra {
	margin-bottom:7px;
}
.topcentermain_titulo_1ra a {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:17px;
	color:#000000;
	text-decoration:none;
}
.topcentermain_titulo_1ra a:hover {
	text-decoration:underline;
}
.topcentermain_titulo_r2 {
	margin-bottom:5px;
}
.topcentermain_titulo_r2 a {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	color:#000000;
	text-decoration:none;
}
.topcentermain_titulo_r2 a:hover {
	text-decoration:underline;
}
.topleftmain_img {
	margin-right:6px;
	margin-bottom:4px;
}
.top_center {
	border-bottom:1px dashed #CCCCCC;
	padding-bottom:5px;
	margin-bottom:5px;
}
.resumen {
	margin-left:5px;
	margin-right:5px;
}
.resumen_cpt_sly {
	background-image:url(/dr2/img/main/ppt_sly1.jpg);
	background-position:top;
	height:1px;
	background-repeat:repeat-x;
	font-size:0;
	margin-top:7px;
	margin-bottom:10px;
}
.resumen_titulo a {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	color:#000000;
	text-decoration:none;
}
.resumen_titulo a:hover {
	text-decoration:underline;
}
.ultimomemento_sly {
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FFFFFF;
	width:835px;
	background-image:url(/dr2/img/article/ultimomomento.jpg);
	background-position:top;
	background-repeat:no-repeat;
	margin:0 auto;
	padding:14px;
	padding-top:4px;
	padding-left:130px;
	display:block;
	text-decoration:none;
}
.ultimomemento_sly:hover {
	text-decoration:underline;
}
.fp_tsl_sly3_zon {
	padding-top:0;
}
.fp_tsl_sly3_temas_zn {
	margin-right:0;
}
.fp_tsl_sly3_temas {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-size:20px;
	color:#333333;
	padding-bottom:5px;
	margin-top:13px;
	background-image:url(/dr2/img/main/ppt_sly1.jpg);
	background-position:bottom;
	background-repeat:repeat-x;
	margin-bottom:6px;
}
.fp_right_tabs {
	cursor:pointer;
	background-position:top;
	background-repeat:no-repeat;
	height:30px;
	font-size:0;
}



.bg_nw_sly3 {
	color:#333333;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	background-image:url(/dr2/img/main/bg_nw_sly3.jpg);
	background-position:top;
	background-repeat:repeat-x;
	background-color:#E8EEF2;
}
.bg_nw_sly3 a {
	text-decoration:none;
	color:#333333;
}
.bg_nw_sly3 a:hover {
	text-decoration:underline;
}
.bv_nw_sly3 {
	background-image:url(/dr2/img/main/bv_nw_sly3.jpg);
	background-position:top;
	background-repeat:no-repeat;
	font-size:0;
	width:140px;
	height:24px;
	cursor:pointer;
}
.cpt_nw_sly3 {
	background-image:url(/dr2/img/main/cpt_nw_sly3.jpg);
	background-position:top;
	background-repeat:repeat-x;
	width:100px;
	height:24px;
}
.nw_link_sly3_list {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:13px;
	margin-left:5px;
	margin-right:5px;
}
.nw_link_sly3_list a {
	background-image:url(/dr2/img/main/bullet_sly3_list.jpg);
	background-position:left 5px;
	background-repeat:no-repeat;
	padding-left:10px;
	text-decoration:none;
	color:#000000;
}
.nw_link_sly3_list a:hover {
	text-decoration:underline;
}
.nw_cpt_sly3_list {
	background-image:url(/dr2/img/main/ppt_sly1.jpg);
	background-position:bottom;
	background-repeat:repeat-x;
	height:1px;
	font-size:0;
	margin-bottom:10px;
	margin-top:10px;
	margin-left:5px;
	margin-right:5px;
}
.fp_tsl_sly4_temas {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#333333;
	background-image:url(/dr2/img/main/ppt_sly1.jpg);
	background-position:bottom;
	background-repeat:repeat-x;
	margin-top:5px;
	margin-bottom:6px;
	width:260px;
}
.sly5_vmblogers_cpt {
	height:10px;
	font-size:0;
}
.sly5_bs1_top {
	background-image:url(/dr2/img/main/sly5_bs1_top.jpg);
	background-position:top;
	background-repeat:no-repeat;
	width:271px;
	height:7px;
	font-size:0;
	margin:0 auto;
	margin-right:15px;
}
.sly5_bs1_bg {
	background-image:url(/dr2/img/main/sly5_bs1_bg.jpg);
	background-position:top;
	background-repeat:repeat-y;
	margin:0 auto;
	width:271px;
	margin-right:15px;
}
.sly5_bs1_bottom {
	background-image:url(/dr2/img/main/sly5_bs1_bottom.jpg);
	background-position:top;
	background-repeat:no-repeat;
	width:271px;
	height:7px;
	font-size:0;
	margin:0 auto;
	margin-right:15px;
	margin-bottom:7px;
}
.sly5_bs1_bg_ins {
	background-image:url(/dr2/img/main/sly5_bs1_bg_ins.jpg);
	background-position:top;
	background-repeat:repeat-x;
	width:261px;
	margin:0 auto;
}
.sly5_bs1_bg_ins2 {
	padding:10px;
	padding-top:5px;
}
.sly5_temp_banner {
	background-color:#E6E6E6;
	width:160px;
	height:802px;
	text-align:center;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}
.sly5_bs1_ins_tex1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#333333;
	padding-bottom:5px;
	background-image:url(/dr2/img/main/ppt_sly1.jpg);
	background-position:bottom;
	background-repeat:repeat-x;
}
.sly5_bs1_ins_tex2 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-size:12px;
	color:#000000;
	margin-top:8px;
}
.sly5_bs1_ins_tex2 a {
	text-decoration:none;
	color:#000000;
}
.sly5_bs1_ins_tex2 a:hover {
	text-decoration:underline;
}
.zc_yoreporto {
	background-image:url(/dr2/img/main/yoreporto.jpg);
	background-position:top;
	background-repeat:no-repeat;
	width:268px;
	height:40px;
	font-size:0;
	margin-left:2px;
}
.yoreporto_vmas {
	float:right;
	padding:8px;
	padding-top:15px;
	padding-right:12px;
}
.yoreporto_vmas a {
	color:#000000;
	text-decoration:none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-size:11px !important;
	float:right;
}
.yoreporto_vmas a:hover {
	text-decoration:underline;
}
.zc_yor_bg {
	background-image:url(/dr2/img/main/yor_bg.jpg);
	background-position:top;
	background-repeat:repeat-y;
	width:268px;
	margin-left:2px;
}
.zc_yor_bottom {
	background-image:url(/dr2/img/main/yor_bottom.jpg);
	background-position:top;
	background-repeat:no-repeat;
	width:268px;
	height:7px;
	margin-left:2px;
}
.zc_yor_bg_inside1 {
	color:#000000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-size:12px;
	padding:10px;
	padding-left:15px;
	padding-right:15px;
}
.zc_yor_bg_inside1 a {
	color:#000000;
	text-decoration:none;
}
.zc_yor_bg_inside1 a:hover {
	text-decoration:underline;
}
.zc_bg_agenda {
	background-image:url(/dr2/img/main/bg_agenda.jpg);
	background-position:top;
	background-repeat:no-repeat;
	width:268px;
	height:56px;
	font-size:0;
	margin-left:2px;
	margin-top:5px;
}
.zc_bg_cell_agenda {
	background-image:url(/dr2/img/main/bg_cell_agenda.jpg);
	background-position:top;
	background-repeat:repeat-y;
	width:268px;
	margin-left:2px;
}
.zc_bg_bottom_agenda {
	background-image:url(/dr2/img/main/bg_bottom_agenda.jpg);
	background-position:top;
	background-repeat:no-repeat;
	width:268px;
	height:13px;
	margin-left:2px;
}
.zc_bg_text1_agenda {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-size:20px;
	color:#999999;
	padding-left:93px;
	padding-top:14px;
}
.zc_bg_text2_agenda {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-size:12px;
	color:#999999;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
}
.zc_bg_text2_agenda a {
	color:#000000;
	text-decoration:none;
	padding-right:30px;
	background-image:url(/dr2/img/main/zc_agenda_bullet.jpg);
	background-position:right;
	background-repeat:no-repeat;
	padding-left:15px;
}
.zc_bg_text2_agenda a:hover {
	text-decoration:underline;
}
.ed_img_top {
	background-image:url(/dr2/img/main/ed_img_top.jpg);
	background-position:top;
	background-repeat:no-repeat;
	width:256px;
	height:7px;
	font-size:0;
	margin:0 auto;
}
.ed_img_bg {
	background-image:url(/dr2/img/main/ed_img_bg.jpg);
	background-position:top;
	background-repeat:repeat-y;
	width:256px;
	margin:0 auto;
}
.ed_img_bottom {
	background-image:url(/dr2/img/main/ed_img_bottom.jpg);
	background-position:top;
	background-repeat:no-repeat;
	width:256px;
	height:7px;
	font-size:0;
	margin:0 auto;
}
.ed_bg_inside_1 {
	background-image:url(/dr2/img/main/ed_bg_inside_1.jpg);
	background-position:top;
	background-repeat:repeat-x;
	width:244px;
	margin:0 auto;
}
.ed_text_1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#333333;
	padding-left:8px;
	padding-top:8px;
	padding-right:8px;
	padding-bottom:10px;
}
.enc_sly_bginterno {
	background-color:#EBEEF3;
	background-image:url(/dr2/img/main/enc_sly_bginterno.jpg);
	background-position:top;
	background-repeat:repeat-x;
	margin:0 auto;
}
.ed_bg_nw_1 {
	background-image:url(/dr2/img/main/ed_bg_nw_1.jpg);
	background-position:top;
	background-repeat:repeat-x;
	width:222px;
	margin:0 auto;
}
.ed_text_nw_zc {
	padding:8px;
	padding-bottom:8px;
	padding-top:8px;
	background-image:url(/dr2/img/main/bg_encuentro_actual.jpg);
	background-position:top;
	background-repeat:repeat-x;
}
.ed_text_nw_zc2 {
	padding-top:10px;
	padding-bottom:5px;
}
.ed_text_nw_1 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	color:#333333;
}
.ed_text_nw_1 a {
	color:#333333;
	text-decoration:none;
}
.ed_text_nw_1 a:hover {
	text-decoration:underline;
}
.ed_mnb_bg1 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	color:#333333;
	background-color:#EBEFF2;
	background-image:url(/dr2/img/main/ed_mnb_bg1.jpg);
	background-position:top;
	background-repeat:repeat-x;
}
.ed_mnb_bg1 a {
	color:#000000;
	text-decoration:none;
}
.ed_mnb_bg1 a:hover {
	text-decoration:underline;
}
.ed_mnb_bg1_new {
	width:114px;
	height:60px;
	padding-top:6px;
	float:left;
	margin-left:6px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	color:#333333;
	background-color:#EBEFF2;
	background-image:url(/dr2/img/main/ed_mnb_bg1.jpg);
	background-position:top;
	background-repeat:repeat-x;
}
.ed_mnb_bg1_new a {
	color:#000000;
	text-decoration:none;
}
.ed_mnb_bg1_new a:hover {
	text-decoration:underline;
}
.amc_text1 {
	font-size:30px;
	color:#999999;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	padding-right:5px;
}
.amc_text2 {
	font-size:8px;
	color:#999999;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.amc_text3 {
	font-size:11px;
	color:#000000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-left:5px;
}
.amc_text3 a {
	color:#000000;
	text-decoration:none;
}
.amc_text3 a:hover {
	text-decoration:underline;
}
.content_sly6 {
	width:1003px;
	margin:0 auto;
	background-color:#FFFFFF;
	padding-bottom:11px;
}
.cpt_bloq_top_sly6 {
	background-image:url(/dr2/img/main/cpt_bloq_top_sly6.jpg);
	background-position:top;
	background-repeat:no-repeat;
	width:1000px;
	height:12px;
	font-size:0;
	margin-bottom:10px;
}
.ct_sly6_text1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#333333;
	margin-bottom:10px;
}
.sly6_sw_dep_zc {
	padding-left:13px;
}
.content_sly7 {
	width:1003px;
	margin:0 auto;
	padding-bottom:10px;
	background-color:#FFFFFF;
}
.cpt_bloq_ptext_sly7 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#333333;
	padding-bottom:12px;
	padding-left:15px;
}
.fp_tsl_sly6_temas {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#333333;
	padding-bottom:5px;
	background-image:url(/dr2/img/main/ppt_sly1.jpg);
	background-position:bottom;
	background-repeat:repeat-x;
	margin-bottom:6px;
	margin-right:13px;
}
.fp_tsl_sly6_cz {
	margin-right:13px;
	margin-left:16px;
}
.fp_tsl_sly6_lk_t1 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:17px;
	color:#000000;
}
.fp_tsl_sly6_lk_t1 a {
	color:#000000;
	text-decoration:none;
}
.fp_tsl_sly6_lk_t1 a:hover {
	text-decoration:underline;
}
.fp_tsl_sly6_lk_t2 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	margin-top:5px;
	line-height:15px;
    display:none;
}
.fp_tsl_sly6_lk_t2 p {
	margin:0;
}
.fp_tsl_sly6_lk_t3 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:13px;
	color:#000000;
}
.fp_tsl_sly6_lk_t3 a {
	color:#000000;
	text-decoration:none;
	background-image:url(/dr2/img/main/sly6_bullet.jpg);
	background-position:left 6px;
	background-repeat:no-repeat;
	padding-left:10px;
}
.fp_tsl_sly6_lk_t3 a:hover {
	text-decoration:underline;
}
.fp_tsl_sly6_lk_cpt {
	background-image:url(/dr2/img/main/ppt_sly1.jpg);
	background-position:top;
	background-repeat:repeat-x;
	height:1px;
	font-size:0;
	margin-bottom:8px;
	margin-top:8px;
}

.twtr-hd {
	background-color:#00CC66 !important;
	height:1px !important;
	line-height:1px !important;
	display:none !important;
}
.twtr-ft {
	display:none !important;
}
.especial_mundial {
	width:360px;
	background-color:#F1F1F1;
	margin-bottom:5px;
	margin-top:6px;
}
.mundial_pretitulo {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	font-weight:bold;
	color:#D3333C;
	text-transform:uppercase;
	margin-bottom:2px;
	padding-left:10px;
	padding-right:10px;
}
.mundial_postitulo {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	margin-bottom:10px;
	text-transform:uppercase;
	padding-left:10px;
	padding-right:10px;
}
.mundial_titulo {
	margin-bottom:4px;
	padding-left:10px;
	padding-right:10px;
}
.mundial_titulo a {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:22px;
	line-height:22px;
	color:#000000;
	text-decoration:none;
}
.mundial_titulo a:hover {
	text-decoration:underline;
}
.mundial_sumario {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	line-height:15px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}
