.left_block{
    display: inline-block;
    vertical-align: top;
    width: 300px;
    padding: 20px 0 20px 20px;
}
.ms_hidden{
    display: none;
}
.news_big_block .img_wrap_fix{
    display: block;
    height: 160px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.news_big_block .img_wrap_fix img{
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: none;
}
.news_big_block .caption h4 {
    font-size: 14px!important;
}
.news_big_block .left_block .caption{
    padding: 7px 0 0 0;
}
.news_big_block .left_block .caption .meta{
    margin: 10px 0;
}
.right_block{
    display: inline-block;
    vertical-align: top;
    width: 618px;
    margin-left: 18px;
}
.caption_fix{
    padding: 15px 20px 10px 0;
    overflow: hidden!important;
    font-size: 12px;
    line-height: 20px;
    height: 100%;
}
.news_menu_big_block{
    /*border-bottom: 1px solid #dce2e6;*/
    margin-bottom: 11px;
}
.news_menu_big_block li{
    float: left;
    line-height: inherit;
    height: inherit;
    margin-right: 20px;
    color: #737373;
    position: relative;
    padding-bottom: 5px;
    font-size: 10px;
    text-transform: uppercase;
    padding-top: 2px;
}
.news_menu_big_block li.active,
.news_menu_big_block li:hover {
    color: #4393ca;
    cursor: pointer;
}
.news_menu_big_block li:after{
    /*content: ' ';
    background: #4393ca;
    height: 2px;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 0;
    transition: all 0.3s ease-in 0s;*/
}
.news_menu_big_block li.active:after,
.news_menu_big_block li:hover:after {
    width: 100%;
}
.news_menu_big_block .more{
    font-size: 10px;
    text-transform: uppercase;
}
.news_big_block .date{
    color: #737373;
    text-transform: uppercase;
}
.news_big_block .rss{
    color: #737373;
    text-transform: uppercase;
    font-size: 10px;
}
.news_big_block .news_data p span:first-child{
    margin-right: 15px;
}
.news_big_block .caption p.thumbnail_label{
    margin-bottom: 5px;
}
.news_big_block .more{
    position: relative;
    padding: 2px 10px 0 0;
}
.news_big_block .all_date{
    text-align: right;
    color: #737373;
}
.news_big_block .news_data p{
    margin-bottom: 14px;
}
.more{
    cursor: pointer;
}
.mini_more{
    display: none;
}
.dnone{
    display: none;
}
@media only screen and (max-width: 1128px) {
    .left_block{
        display: none;
    }
    .right_block{
        margin-left: 0;
    }
    .caption_fix{
        padding: 10px 20px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 949px) {
    .thumbnail.col_12_of_16.news_big_block, .right_block{
        width: 300px!important;
    }
    .m_h{
        display: none;
    }
    .mini_more{
        display: block;
    }
}
@media only screen and  (max-width: 639px) {
    .thumbnail.col_12_of_16.news_big_block, .right_block{
        width: 300px!important;
        height: auto;
    }
    .m_h{
        display: none;
    }
    .mini_more{
        display: block;
    }
}