.no-js {
  display: block;
  position: static;
}

.no-js .accessibility-mode,
.no-js .accordion > p:before,
.no-js .btn-top-menu,
.no-js .definition-panel,
.no-js .dialog,
.no-js .js,
.no-js .menu a.sub:after,
.no-js .modal,
.no-js .nav-top-menu,
.no-js .nav-mobile-toggles,
.no-js .tabs > ul,
.no-js [id="vertical-tabs"]>ul,
.no-js .toggle-block > a:after,
.no-js .toggle-link > a:before,
.no-js .utility-bar {
  display: none;
}

.no-js .hide {
  display: block;
}

.no-js .accordion,
.no-js .tabs,
.no-js [id="vertical-tabs"] {
  visibility: visible;
}

.no-js .accordion > p a:link {
  background-color: transparent;
  border: 1px solid #333;
  border-width: 1px 0;
  color: #333;
  cursor: text;
  font-weight: 700;
  padding-left: 0;
}

.no-js .accordion > div {
  display: block;
}

.no-js .tabs .no-js,
.no-js [id="vertical-tabs"] .no-js {
  clear: both;
  display: block;
  font-size: 1em;
  margin: 0;
}

.no-js .tabs > div {
  display: block;
}

.no-js [id="vertical-tabs"]>div {
  background: #fff;
  border: none;
  display: block;
  margin: 0 0 1em;
  min-height: 1em;
  padding: 0;
  position: static;
}

.no-js .toggle-block > a,
.no-js .toggle-link > a {
  background-image: none;
  border: none;
  color: #333;
  font-weight: 700;
  cursor: text;
  padding: 0;
  text-decoration: none;
}

.no-js .toggle-link > div,
.no-js .toggle-block > div {
  display: block;
  padding: .5em 0;
}

.no-js .menu ul a.sub {
  color: #333;
  cursor: text;
}

.no-js .menu ul ul {
  display: block;
}

@media (min-width: 50em) {
  .no-js .nav-top-menu {
    display: block;
  }
}
