.content-holder#productsPage { background: none repeat scroll 0 0 #ffffff; overflow: hidden; position: relative; float: left; width: 100%; }
#productsPage .aside { float: left; padding: 20px 0 50px 5px; width: 185px; }
#productsPage .aside .menu { list-style: none outside none; margin: 0; overflow: hidden; padding: 0; width: 100%; }
#productsPage .aside .menu li { border-top: 1px solid #c7cbd6; font: 11px/14px Tahoma, Arial, Helvetica, sans-serif; overflow: hidden; padding: 3px 18px 6px 8px; vertical-align: top; position: relative; width: 90%; }
#productsPage .aside .menu ul { margin: 0; float: left; width: 100%; }
#productsPage .aside .menu ul li { border-top: 1px solid #e6eaf6; padding: 5px 10px 4px 10px; width: 100%; }
#productsPage .aside .menu li a { color: #808388; float: left; }
#productsPage .aside .menu li span.open-close { display: none; }
#productsPage .aside .menu li.current-menu-item>a,  #productsPage .aside .menu li.current_page_item>a { color: #009cff; font-weight: 800; text-decoration: none; }
#productsPage .aside .menu li.menu-item-has-children { padding-bottom: 9px; }
#productsPage .aside .menu li.menu-item-has-children>span.open-close { background: url(../images/plus_minus.gif) no-repeat 100% 0 transparent; right: 5px; top: 4px; height: 9px; margin: 3px -2px 0 0; outline: 0 none; overflow: hidden; position: absolute; text-indent: -9999px; width: 9px; cursor: pointer; display: block; }
#productsPage .products .text-holder h4 { color: #009cff; font: bold 11px/16px Tahoma, Arial, Helvetica, sans-serif; margin: 0 0 6px; }
#productsPage .products .text-holder p,  #productsPage .products .gallery .text-holder p { font-size: 11px; line-height: 16px; margin: 0; }
#productsPage .products .text-holder { font-size: 11px; line-height: 16px; padding: 10px 12px 0; padding: 10px 12px 0 140px; }
#productsPage .products ul { list-style: none outside none; margin: 0 -30px 0 -7px; overflow: hidden; padding: 0 0 30px 0; width: 637px; float: left; }
#productsPage .products li { display: inline-block; margin: 0; min-height: 233px; position: relative; vertical-align: top; width: 308px; padding: 20px 0 28px; float: left; }
#productPage_segmentsDiv a.bluebutton,  #productsPage .products li a.bluebutton { float: left;  width: auto;  font-size: 14px; padding: 2px 20px; text-align: center; color: #ffffff; margin-left: 20px; text-decoration: none; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.3); -moz-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.3); box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.3); background-image: -ms-linear-gradient(top, #0199FC 0%, #235FBA 100%); background-image: -moz-linear-gradient(top, #0199FC 0%, #235FBA 100%); background-image: -o-linear-gradient(top, #0199FC 0%, #235FBA 100%); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0199FC), color-stop(1, #235FBA)); background-image: -webkit-linear-gradient(top, #0199FC 0%, #235FBA 100%); background-image: linear-gradient(to bottom, #0199FC 0%, #235FBA 100%);  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#0199FC', EndColorStr='#235FBA');
}
#productsPage .products .product img,  #productsPage .gallery .product img { float: left; width: auto; }
#productsPage .products .product { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); float: left; padding: 0; width: 294px; min-height: 175px; margin: 0; cursor: pointer; }
#productsPage .aside .products-block img { vertical-align: top; }
#productsPage .aside .menu li.menu-item-has-children>span.open-close.minus { background-position: 100% -9px; }
#productsPage #twocolumns { float: right; padding: 0 11px 0 20px; width: 784px; }
#productsPage .twocolumns-holder { float: left; padding: 20px 30px 0 0; position: relative; width: 572px; left: 5px; }
#productsPage .products-block { line-height: 24px; margin: 0 -30px 0 0; padding: 0 30px 0 0; position: relative; width: 572px; float: left; }
#productsPage .products-block h1 { color: #000; font: 24px/24px Tahoma, Arial, Helvetica, sans-serif; margin: 0 0 26px; text-align: left; }
#productsPage .products-heading { border-top: 1px solid #b1b1b1; cursor: pointer; float: left; overflow: hidden; padding: 8px 11px 12px 3px; position: relative; width: 588px; }
#productsPage .products .open-close { background: url(../images/large_plus_minus.gif) no-repeat 0 0 transparent; color: #7d818c; cursor: pointer; float: right; height: 16px; margin: 5px 0 0; overflow: hidden; text-indent: -9999px; width: 16px; position: absolute; right: 10px; top: 10px; z-index: 999; }
#productsPage .products .open-close.minus { background-position: 0 -16px; }
#productsPage .products { margin: 0; overflow: hidden; position: relative; width: 602px; }
#productsPage .products h2 { color: #000; float: left; font: 18px/24px Tahoma, Arial, Helvetica, sans-serif; margin: 0; }
#productsPage .products-block .block { position: relative; width: 100%; }
#productsPage .fancybox_content { display: none; }
.fancybox_content p { padding: 10px 20px 0 23px; width: 607px; margin-bottom: 10px; float: left; }
.fancybox_content .wversion span { padding-left: 10px; position: relative; top: -2px; }
.fancybox_content .wversion span, .fancybox_content p, .fancybox_content input[type="radio"] { color: #373e4e; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 14px; margin: 0 0 8px; }
.fancybox_content h3 { padding: 15px 20px 22px 23px; background: none repeat scroll 0 0 #000; margin: 0 0 35px; width: 607px; color: #fff; font: 24px/28px Tahoma, Arial, Helvetica, sans-serif; margin: 0; text-align: left; }
.fancybox-skin { padding: 0!important; }
.fancybox_content .freetrialbutton { cursor: pointer; margin-left: 25px; margin-top: 20px; float: left; }
.fancybox_content .btnLeft { -moz-background-inline-policy: continuous; background: url(../images/left_cap.png) no-repeat scroll center center transparent; float: left; height: 35px; width: 21px; }
.fancybox_content .btnMid { -moz-background-inline-policy: continuous; background: url(../images/middle_span.png) repeat-x scroll center center transparent; color: #ffffff; float: left; font-family: Arial; font-size: 1.3em; height: 35px; line-height: 35px; }
.fancybox_content .btnRight { -moz-background-inline-policy: continuous; background: url(../images/right_cap.png) no-repeat scroll center center transparent; float: left; font-size: 13px; height: 35px; width: 21px; }
.fancybox_content p.disclaim { color: #888; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 14px; margin: 0 0 8px; padding-bottom: 18px; }
.fancybox_content .wversion { float: left; padding: 15px 20px 22px 23px; }
.fancybox_content table { margin-left: 22px; float: left; }
.fancybox_content table td { float: left; width: 120px; text-align: left; }
#productsPage .allProductsMenuNav, .allProductsContainer .allProductsMenuNav { float: left; background: url(../images/line_blue.gif) repeat-x 0 55px transparent; padding-bottom: 12px; }
#productsPage .advertisment { width: 160px; float: right; margin-top: 25px; }
#productsPage .advertisment li { list-style: none!important; }
#productsPage .advertisment a { float: left; margin-bottom: 20px; }
#productsPage #sidebar-right .widget { margin: 0; }
.page-template-template-products-category-php .aside .menu .sub-menu, .page-template-template-free-trials-php .aside .menu .sub-menu { display: none; }
.subnav .current-menu-item a { background: url(../images/bg-tabs.gif) no-repeat scroll 0 0; color: #dcdcdc; text-decoration: none; }
.allProductsMenuNav .subnav li.current-menu-item { background: url(../images/arrow-tabs.gif) no-repeat scroll 50% 100%; }
.subnav .current-menu-item span { background: url(../images/bg-tabs.gif) no-repeat scroll 100% -38px; }
/** Product Support **/
/*.bottom_side a,*/
.blue_button { background: #009cff; text-align: center; display: block; width: 200px; height: 40px; color: #f2f2f2; font-size: 14px; line-height: 40px; text-transform:uppercase;}
.blue_button.right_align { margin-right: 65px; margin-bottom: 24px; }
.has_questions .blue_button.right_align { margin-right: 20px; }
.blue_button.bottom_align { margin-bottom: 24px; }
/*.bottom_side a:hover,*/
.blue_button:hover { color: #fff; }
.product_support { padding: 20px; }
.product_support p { font-size: 12px; }
.product_support .self_serve_items,  .product_support .self_serve_support,  .product_support .product_head { width: 100%; }
.product_support .product_head ul { margin-bottom: 15px; }
.product_support .product_head h3 { margin: 0; }
.product_support .product_head .left_side { width: 708px; }
.product_support .product_head .right_side { float: right; width: 225px; }
.product_support .product_head .right_side img { max-width: 190px; }
.product_support .product_head .right_side .blue_button { margin-bottom: 10px; }
.product_support .self_serve_support h2 { font-size: 18px; }
.product_support .bboxContent p,  .product_support .bboxContent h6 { margin-bottom: 7px; letter-spacing: 0px; }
.product_support .bboxContent p { line-height: 16px; }
.product_support .self_serve_items { margin-bottom: 30px; display: inline-block;width:100%;}
.product_support .self_serve_items .serve_item { width: 170px; margin-right: 20px; border: 1px solid #c6cbd6; background: #eef2fd; min-height: 205px; cursor: pointer; padding-bottom: 8px; display:inline-block;float:left;}
.product_support .self_serve_items .serve_item:hover h3 { text-decoration: underline; }
.product_support .serve_item .top_item { background: url(../images/sprite.png) center 0 no-repeat #fff; width: 100%; height: 95px; float: left; }
.product_support .serve_item h3 { width: 90%; margin: 0; margin-left: 10px; font-size: 14px; color: #009cff; }
.product_support .serve_item ul { float: left; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 15px; margin-bottom: 0; margin-left: 22px; width: 85%; list-style-type: disc; }
.product_support .serve_item ul li { list-style-type: disc; }
.product_support .serve_item.last_item { margin: 0; }
.product_support .serve_item.download .top_item { background-position: center -651px; }
.product_support .serve_item.download:hover .top_item { background-position: center -560px; }
.product_support .serve_item.search .top_item { background-position: center -96px; }
.product_support .serve_item.search:hover .top_item { background-position: center 0px; }
.product_support .serve_item.learn .top_item { background-position: center -463px; }
.product_support .serve_item.learn:hover .top_item { background-position: center -374px; }
.product_support .serve_item.activate .top_item { background-position: center -836px; }
.product_support .serve_item.activate:hover .top_item { background-position: center -740px; }
.product_support .serve_item.account .top_item { background-position: center -1011px; }
.product_support .serve_item.account:hover .top_item { background-position: center -922px; }
.product_support .quiq_question { float: left; width: 100%; background: #ccc; height: 40px; margin-bottom: 35px; }
.product_support .quiq_question p { color: #494d56; font-size: 12px; font-family: Tahoma, Arial, Helvetica, sans-serif; font-weight: bold; text-align: center; line-height: 40px; }
.product_support .quiq_question a { color: #00a8eb; text-decoration: underline; }
.product_support .bottom_side {margin-top: 15px; }
.product_support .has_questions { width: 55%; border-right: 1px solid #cccccc; padding-right: 20px; margin-bottom: 30px; float: left; }
.product_support .most_asked_questions { float: right; width: 40%; }
.product_support .most_asked_questions ul { list-style: none; padding: 0; margin: 0; }
.product_support .most_asked_questions p { margin-bottom: 15px; }
.product_support .bottom_side h3 { font-size: 18px; font-family: Tahoma, Arial, Helvetica, sans-serif; margin-bottom: 10px; width: 100%; }
.product_support .bottom_side p { font-size: 12px; font-family: Tahoma, Arial, Helvetica, sans-serif; line-height: 15px; width: 100%; margin-bottom: 0; padding-bottom: 24px; }
.product_support hr { border-top: 1px solid #ccc; width: 100%; margin-top: 0; }
#products_list { width: 654px; display: none; }
#products_list h4,  #products_list p { width: 90%; }
#products_list h3 { color: #fff; background: #000; font-size: 24px; padding-left: 2%; float: left; width: 100%; }
#products_list .main_list { padding: 15px; }
#products_list table { margin: 0; padding: 10px; }
/** Start All Products Template **/
#all_products_container { padding-top: 33px; padding-bottom: 10px; float: left; width: 100%; }
.all_products_row { float: left; margin-left: 20px; width: 220px; }
.all_products_row ul,  .all_products_row li { list-style-type: none; margin: 0; padding: 0; }
.all_products_row li a,  .all_products_row li h4 { font: bold 12px/16px Tahoma, Arial, Helvetica, sans-serif; margin: 0; color: #000; float: left; }
.all_products_row li { padding-top: 10px; float: left; width: 100%; }
.all_products_row li ul { margin: 5px 0; float: left; width: 100%; }
.all_products_row li ul li { padding-top: 0; padding-bottom: 6px; }
.all_products_row li ul li h4,  .all_products_row li ul li a { color: #009cff; font-weight: normal; }
.all_products_row h3,  .all_products_row .cat_title { color: #000000; font: 18px/20px Tahoma, Arial, Helvetica, sans-serif; width: 100%; float: left; margin-bottom: 0; padding-top: 10px; padding-bottom: 10px; min-height: 60px; border-bottom: 1px solid #ccc; }
/** Start Product Page Template **/
#productPage_segmentsDiv .text-holder { padding-bottom: 0px; margin-bottom: 0px; overflow: hidden; width: 380px; }
#productPage_segmentsDiv div.visual { margin-bottom: 0px; }
#productPage_segmentsDiv .visual ul li { margin-right: 5px; }
#productPage_segmentsDiv .item .visual { float: left; margin-bottom: 0 !important; overflow: hidden; width: 238px; }
#productPage_segmentsDiv .item .text-holder .wrapper .btn { font-size: 14px; line-height: 24px; }
#productPage_segmentsDiv .item .text-holder .wrapper a:hover { text-decoration: none; }
div.odanPopup .container p { color: #5A5A5A; font-size: 12px; line-height: 14px; text-align: left; }
#productPage_segmentsDiv .item .visual { float: left; margin-bottom: 16px; overflow: hidden; width: 238px; }
#productPage_segmentsDiv h1#productDisplayName { margin-bottom: 8px; line-height:26px; }
#productPage_segmentsDiv .item .area { float: left; padding: 30px 20px 10px; width: 620px; }
#productPage_segmentsDiv .item .area .text-holder h1 { color: #000000 !important; font-family: Tahoma, Arial, Helvetica, sans-serif !important; font-size: 24px !important; font-weight: normal !important; }
#productPage_segmentsDiv .item .area .text-holder h2 { color: #494d56 !important; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 14px !important; font-weight: normal !important; }
#productPage_segmentsDiv .item .area .text-holder h2 { line-height: 17px; margin-bottom: 18px; }
#productPage_segmentsDiv .item h2 { color: #494d56; font: 14px/24px Tahoma, Arial, Helvetica, sans-serif; margin: 0 0 14px; }
#productPage_segmentsDiv .item .area .text-holder h2 { line-height: 17px; margin-bottom: 18px; }
#productPage_segmentsDiv div#productPage_advantages { margin-bottom: 20px; width: 100%; font: 12px/16px Tahoma, Arial, Helvetica, sans-serif; }
#productPage_segmentsDiv .advantages ul { list-style: none outside none; margin: 0; padding: 0; }
#productPage_segmentsDiv .advantages li { background: url("../images/bullet.gif") no-repeat scroll 0 5px rgba(0, 0, 0, 0); padding: 0 0 2px 14px; }
#productPage_segmentsDiv div#productPage_advantages div.advantages { margin: 0px; }
#productPage_contentTabsDiv,  #productPage_segmentsDiv { padding: 0 0 0 20px!important; width: 974px !important; }
#productPage_segmentsDiv { background: none; }
#productPage_segmentsDiv .section p { margin: 0 0 24px; }
#productPage_segmentsDiv .box { float: right; font-size: 11px; line-height: 23px; width: 314px; }
#productPage_segmentsDiv .box-list { list-style: none outside none; margin: 0; overflow: hidden; padding: 0; width: 96%; }
#supportPagePriceLI { width: 288px; }
#productPage_segmentsDiv .box-list li { padding: 10px; border-top: 1px solid #fff; max-width: 280px; }
#productPage_segmentsDiv .box-list li#supportPagePriceLI { margin: -1px 0 0; overflow: hidden; padding: 12px 11px 5px 16px; }
#productPage_segmentsDiv #supportProductPageTable { float: left; text-align: left; }
#productPage_box .box-list td { font-family: Tahoma, Arial, Helvetica, sans-serif !important; }
#supportProductPageTable td { vertical-align: top!important; padding: 0; }
#supportProductPageTable td span { font-family: Tahoma, Arial, Helvetica, sans-serif !important; font-size: 11px; }
#supportProductPageTable .inclVAT { color: #494d56; font-size: 11px; line-height: 14px !important; }
#productPage_segmentsDiv a.bluebutton { padding: 0px 25px; margin: 0; }
#productPage_box .box-list label,  #productPage_box .box-list input { color: #494d56; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 11px !important; line-height: 14px !important; }
#supportPagePriceLI .submit-holder { float: left; }
#productPage_contentTabsDiv .tabset { list-style: none outside none; margin: 0; overflow: hidden; padding: 9px 15px 12px 0; width: 944px; }
#productPage_contentTabsDiv .tabset li { float: left; line-height: 24px; padding: 0 9px 9px 0; }
#productPage_contentTabsDiv .tabset a.tabButt { float: left; height: 22px; width: auto; margin-top: 5px; font-size: 14px; line-height: 21px; padding: 0 15px; text-align: center; color: #ffffff; margin-right: 16px; text-decoration: none; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; -webkit-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.3); -moz-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.3); box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.3); background-colo: #ffffff; color: #494d56; border: 1px solid #999999; }
#productPage_contentTabsDiv .tabset a.tabButt:hover,  #productPage_contentTabsDiv .tabset a.tabButt.active { color: #ffffff; background-image: -ms-linear-gradient(top, #343C4B 0%, #060606 100%); background-image: -moz-linear-gradient(top, #343C4B 0%, #060606 100%); background-image: -o-linear-gradient(top, #343C4B 0%, #060606 100%); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #343C4B), color-stop(1, #060606)); background-image: -webkit-linear-gradient(top, #343C4B 0%, #060606 100%); background-image: linear-gradient(to bottom, #343C4B 0%, #060606 100%);  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#343C4B', EndColorStr='#060606');
}
/** End Product Page Template **/
#sidebar-left .widget { padding: 10px 0 0 5px!important; border: none; }
#sidebar-left .widget.widget_image_widget:first-child { margin-top: 0; padding-top: 0; }
.planBlock { width: 746px; float: left; border: 1px solid #ccc; margin-bottom: 20px; box-shadow: 1px 1px 1px #ccc; border-radius: 3px; }
.planBlockTop { width: 746px; height: 16px; }
.planBlockBody a { font-size: 14px; cursor: pointer; }
.planBlockBody table, .planBlockBody p, .planBlockBody h4 { margin: 0 }
.planBlockBody { width: 706px; padding: 0 20px 15px 20px; }
.planBlockBottom { width: 746px; height: 15px; }
.planBlockBody tr:first-child .col1 { text-align: center; }
.planBlockBody .col1 { border-bottom: 1px solid #CCCCCC; text-align: left; }
.planBlockBody .col2 { border-bottom: 1px solid #CCCCCC; background: #f6f9ff; text-align: center; }
.planBlockBody .col3 { border-bottom: 1px solid #CCCCCC; background: #eff4ff; text-align: center; }
.planBlockBody .col4 { border-bottom: 1px solid #CCCCCC; background: #E2EDFE; text-align: center; }
/* Error Pages */
#error_page img.errorBanner { float: left; width: 100%; height: auto; }
#error_page .errorHolder { background-color: #1b253f; padding: 15px 15px 70px; float: left; width: 100%; height: auto; text-align: center; }
#error_page .errorHolder p { font-size: 17px; line-height: 24px; color: #cccccc; }
#error_page .errorHeading { font-size: 45px; color: #5be4ea; }
#error_page .logo-holder { margin: 0; padding: 0; position: relative; z-index: 5; }
#error_page .logos-list { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); height: 1%; list-style: none outside none; margin: 0 auto; padding: 0; text-align: center; width: 965px; }
#error_page .logos-list li:first-child, #error_page .logos-list .first-child { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); }
#error_page .logos-list li { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); border: 1px solid #26364b; display: inline-block; margin: 0; position: relative; vertical-align: top; text-align: center; float: left; width: 185px; }
#error_page .logos-list a { display: block; padding: 0; float: left; }
#error_page .logos-list .logo-hover, #error_page .logos-list li:hover .img-logo { display: none; }
#error_page .logos-list a img { vertical-align: top; float: left; }
#error_page .logos-list li:hover .logo-hover { display: inline; }
#error_page .errMiddle { background-color: #ffffff; float: left; padding: 40px; width: 974px; }
#error_page .errMiddle>img { display: block; margin: 0 auto; width: 68px; }
#error_page .errMiddle>p { text-align: center; font-size: 17px; line-height: 20px; color: #1b253f; }
#error_page .errMiddle>p.errTerms { font-size: 13px; color: #494d56; }
#error_page .errMiddle>p.errTerms a { color: #009cff; text-decoration: none; }
#error_page .errMiddle>div { float: left; padding-right: 30px; font-size: 13px; }
#error_page .errMiddle .firstSec { color: #494d56; width: 325px; }
#error_page .errMiddle .secondSec { color: #494d56; }
#error_page .errMiddle .secondSec p,  #error_page .errMiddle .thirdSec p { line-height: 24px; }
#error_page .errMiddle .thirdSec { color: #777b85; }
#error_page .errMiddleII { padding: 15px; background-color: #009cff; float: left;  width: 974px; text-align: center; }
#error_page .errMiddleII h2 { font-size: 45px; color: #ffffff; }
#error_page .errMiddleII p { font-size: 17px; line-height: 20px; color: #ffffff; }
#error_page .errMiddleII span { font-size: 10px; color: #cccccc; }
/* Support Page Template */
#supportPageHeader .supportMiddleBoxes { margin-bottom: 10px; }
#supportPageHeader .supportMiddleBoxes a { cursor: pointer; display: table-cell; padding: 0; vertical-align: middle; margin: 0; text-align: center; }
#supportPageHeader .supportMiddleBoxes .boxHover { display: none; }
#supportPageHeader .supportMiddleBann { float: left; width: 98%; }
#supportPageHeader .supportMiddleBoxes { background-color: #494D56; height: 78px; display: table; }
#supportPageHeader .supportMiddleBoxes, #supportPageHeader .supportBottomBoxes { float: left; width: 100%; margin: 20px 0; }
#supportPageHeader .supportBottomBoxes .boxThird { width: 31.33%; margin-left: 3%; float: left; }
#supportPageHeader .boxSingle { float: left; width: 100%; }
#supportPageHeader .boxSingle>a { float: left; width: 50%; }
#supportPageHeader .boxSingle>img { margin-right: 25px; }
#supportPageHeader .boxSingle>img, #supportPageHeader .boxSingle .bboxContent { float: left; }
#supportPageHeader .supportBottomBoxes .boxThird:first-child { margin: 0; }
#supportPageHeader .supportMiddleBann { padding: 5px 10px; text-align: center; background-color: #ccc; }
#supportPageHeader .left_side p,  #supportPageHeader .supportMiddleBann p { margin: 0; }
#supportPageHeader .supportMiddleBoxes a.allProds { background-color: #494d56; background-image: url("../images/alln1.jpg"); display: block; float: right; height: 78px; text-decoration: none; width: 120px; }
/* Roxio Page Template */
.topMenuSelectBlBck { background: url("../images/navOffSpacer.png") repeat-x scroll center center transparent; height: 29px; line-height: 29px; padding: 3px 0 2px; width: 974px !important; }
.topMenuSelectBlBck select { float: right; margin-right: 20px; margin-top: 4px; }
#roxioContent { padding-top: 20px; border-top: 1px solid #cccccc; }
#select-yout-product label { margin-right: 15px; }
#select-yout-product select { border: 1px solid #7f9db9; padding: 5px 3px 5px 5px; width: 294px; margin-bottom: 20px; }
#select-yout-product .select-link { background: linear-gradient(to bottom, #009cff, #245fb9) repeat scroll 0 0 rgba(0, 0, 0, 0); border: 1px solid #245fb9; border-radius: 6px; color: #ffffff; cursor: pointer; display: block; font-size: 14px !important; font-weight: normal; margin: 0 0 0 72px; padding: 8px; text-align: center; vertical-align: middle; width: 100px; }
#supportPageHeader #bottom-lists { border-top: 1px solid #cccccc; float: left; width: 100%; margin-top: 20px; }
#supportPageHeader .select-link:hover { color: #c1e7fa; cursor: pointer; text-decoration: none; }
#select-yout-product { padding: 20px; width: 370px; height: 220px; position: relative; text-align: left; margin: 0 auto; border: 1px solid #eee; box-shadow: 1px 1px 1px 1px #cccccc; border-radius: 4px; }
/* IE 7 product template fix */
#footer { position: relative; }
.mcafeeLink { border-radius: 3px; bottom: 10%; position: absolute; right: 15%; z-index: 10; }
#footer-area .widget_nav_menu li { border: none!important; }
/* Horizontal Ad Banner under main menu */
#horizontalAdBanner { float: left; width: 100%; margin: 0; list-style-type: none; }
#horizontalAdBanner li { margin: 0; }
#horizontalAdBanner li img { width: 100%; max-width: 100%; }
