#title_page {
    background:#333333;
    color:white;
    padding:15px 0px 15px 15px;
}

#title_page h1 {
    font-size:1.4em;
}



.global_contener_padding {
    padding:35px;
    float:left;
    overflow: hidden;
}

/* CONTACT PAGE */
#contact_left_contener {
    overflow:hidden;
    border-right:1px solid #e5e5e5;
}

#contact_right_contener {
    float:right;
    width:350px;
    border-left:1px solid #e5e5e5;
    margin-left:-1px;
}

#contact_right_contener p, #contact_left_contener p.sub_title{
    font-size:1.2em;
    color:#333333;
    font-weight:bold;
    margin-bottom:15px;
}

#contact_right_contener .padding_image {
    overflow: hidden;
    padding:10px;
    border:1px solid #e5e5e5;
    margin-bottom:15px;
}

#contact_right_contener .padding_image img {
    display:block;
    width:100%;
}

#contact_right_contener .reseau_div {
    overflow: hidden;
}

#contact_right_contener a.facebook, #contact_right_contener a.twitter, #contact_right_contener a.google {
    line-height:36px;
    color:white;
    margin-bottom:15px;
    overflow: hidden;
    display: block;
}

#contact_right_contener a.facebook {
    background-color:rgba(59, 89, 152, 1) ;
}

#contact_right_contener a.facebook:hover {
    background-color:rgba(59, 89, 152, 0.8);
}

#contact_right_contener a.facebook:active {
    background-color:rgba(59, 89, 152, 0.6);
}

#contact_right_contener a.twitter {
    background-color:rgba(0, 176, 237, 1) ;
}

#contact_right_contener a.twitter:hover {
    background-color:rgba(0, 176, 237, 0.8);
}

#contact_right_contener a.twitter:active {
    background-color:rgba(0, 176, 237, 0.6);
}

#contact_right_contener a.google {
    background-color:rgba(209, 63, 45, 1);
}

#contact_right_contener a.google:hover {
    background-color:rgba(209, 63, 45, 0.8);
}

#contact_right_contener a.google:active {
    background-color:rgba(209, 63, 45, 0.6);
}

#contact_right_contener a.facebook span, #contact_right_contener a.twitter span, #contact_right_contener a.google span {
    float:left;
    width:36px;
    height:36px;
    margin-right:15px;
    background-color:rgba(1, 1, 1, 0.3);
}

#contact_right_contener a.facebook span {
    background:rgba(1, 1, 1, 0.3) url(//static.dealabs.com/images/header/icon_all_facebook_white.png) no-repeat center;
}

#contact_right_contener a.twitter span {
    background:rgba(1, 1, 1, 0.3) url(//static.dealabs.com/images/header/icon_all_twitter_white.png) no-repeat center;
}

#contact_right_contener a.google span {
    background:rgba(1, 1, 1, 0.3) url(//static.dealabs.com/images/header/icon_all_google_white.png) no-repeat center;
}

#contact_left_contener p.sub_desc {
    font-size:1em;
    color:#777777;
    margin-bottom:30px;
}

#contact_left_contener p.sub_desc a:hover {
    text-decoration: underline;
}

#contact_left_contener .form_contener {
    float:left;
    width:100%;
}

#contact_left_contener .separate_right {
    float:right;
    width:50%;
    margin-bottom:15px;
}

#contact_left_contener .separate_left {
    overflow:hidden;
    margin-bottom:0px;
}

/* Le code des champs se trouve dans global.css */
/* CONTACT PAGE */

/* FAQ PAGE */
#faq_left_contener {
    float:left;
    width:250px;
    position: relative;
    min-height: 150px;
}

#floating_left_menu {
    float:left;
    width:250px;
    position: relative;
}

#floating_left_menu.fixed {
    float: none;
    position: fixed;
    top: 0;
}

#faq_right_contener {
    overflow:hidden;
    background:white;
}

#faq_left_contener .menu_div_faq {
    background-color:#f5f5f5;
    float:left;
    width:100%;
}
#faq_left_contener .menu_div_faq div.div_tab_selector {
    padding:15px;
    background-color:#f5f5f5;
    color:#777777;
    cursor:pointer;
    overflow:hidden;
}

#faq_left_contener .menu_div_faq div.div_tab_selector:hover {
    background-color:white;
    padding:15px 15px 15px 12px;
    border-left:3px solid #02a5c1;
    color:#02a5c1;
}

#faq_left_contener .menu_div_faq div.div_tab_selector.active {
    background-color:white;
    padding:15px 15px 15px 12px;
    border-left:3px solid #02a5c1;
    color:#02a5c1;
}

#faq_left_contener .menu_div_faq div.div_tab_selector p {
    font-size:1.2em;
    font-weight:bold;
    float:left;
    width:100%;
}

#faq_left_contener .other_option {
    float:left;
    width:100%;
    margin-top:40px;
    margin-bottom:40px;
}

#faq_left_contener .padding_other_option {
    padding:0px 25px;
}

#faq_left_contener .button_div {
    float:right;
}

#faq_left_contener .input_div {
    margin-right:15px;
}

#faq_left_contener .search_button {

    margin:4px 0px 0px 0px;
    float:right;
    height:30px;
    width:30px;
    border-top:1px solid #d9d9d9;
    border-bottom:1px solid #d9d9d9;
    border-left:none;
    border-right:1px solid #d9d9d9;
    background-image:url(//static.dealabs.com/images/header/search_icone.png);
    background-repeat:no-repeat;
    background-position:center;
}

#faq_left_contener .input_search
{
    float:left;
    border-bottom:1px solid #d9d9d9;
    border-top:1px solid #d9d9d9;
    border-right:1px solid #d9d9d9;
    border-left:1px solid #d9d9d9;
    padding:7px;
    outline: none;
    height:16px;
    display:block;
    width:100%;
}

#faq_left_contener .input_search:focus
{
    border-bottom:1px solid #808080;
    border-top:1px solid #808080;
    border-right:1px solid #808080;
    border-left:1px solid #808080;
}

#faq_left_contener .padding_other_option p {
    color:#777777;
    float:left;
    text-align:justify;
    margin-top:15px;
    font-size:0.9em;
}

#faq_left_contener .padding_other_option p a {
    color:#02a5c1;
}

#faq_left_contener .padding_other_option p a:hover {
    text-decoration:underline;
}

#faq_right_contener .content_faq {
    display:none;
    float:left;
    width:100%;
}

#faq_right_contener .content_faq .padding_content_faq {
    float:left;
    padding:0px 25px 25px 25px;
}

#faq_right_contener .content_faq .padding_content_faq a {
    color: #02a5c1;
}

#faq_right_contener .content_faq .padding_content_faq a:hover {
    text-decoration: underline;
}

#faq_right_contener .content_faq .padding_content_faq h2{
    color:#02a5c1;
    padding-top:30px;
    margin-top:0px;
    margin-bottom:0;
}

#faq_right_contener .content_faq .padding_content_faq p.question{
    color:#333333;
    margin-top:30px;
    font-size:1.2em;
    font-weight:bold;
}

#faq_right_contener .content_faq .padding_content_faq p.reponse{
    color:#6a6a6a;
    overflow: hidden;
    margin-top:15px;
    margin-top:30px;
    font-size:1em;
    text-align:justify;
}

#faq_right_contener .content_faq .padding_content_faq span{
    background-color: #69c03c;
}
/* FAQ PAGE */


/* ADVANCED SEARCH */

#search_page_contener {
    padding:50px;
    border-bottom:1px solid #c5c5c5;
}

.contener_part{
    margin-bottom:40px;
}

.left_part_div {
    float:left;
    width:150px;
}

.content_part_div {
    overflow:hidden;
    border-left:1px solid #02a5c1;
}

.content_part_div.custom {
    border-left: none;
}

.separate_div_ligne {
    overflow:hidden;
    margin-bottom:10px;
}

.separate_div_ligne:last-child {
    margin-bottom:0px;
}

.content_part_div .left_param_part {
    float:left;
    width:55%;
    margin-left:50px;
    margin-right:50px;
}

.content_part_div.custom .left_param_part {
    float:left;
    width:50%;
    margin-left:5px;
    margin-right:15px;
}

.content_part_div .left_param_part > div:first-child {
    float:left;
    width:200px;
}

.content_part_div .left_param_part > div:first-child p {
    font-weight:bold;
    line-height:36px;
}

.content_part_div.custom .left_param_part > div:first-child {
    float:left;
    width:120px;
}

.content_part_div.custom .left_param_part > div:first-child p {
    font-weight:normal;
    line-height:36px;
}

.content_part_div .left_param_part > div:last-child {
    overflow:hidden;
    padding-right:20px;
}

.content_part_div .left_param_part > div.button_field {
    float:right;
}

.content_part_div .left_param_part > div.button_field a {
    display: block;
    width: auto;
    padding:0px 8px;
    line-height: 34px;
    text-align: center;
    border-top: 1px solid #C5C5C5;
    border-right: 1px solid #C5C5C5;
    border-bottom: 1px solid #C5C5C5;
    color:#828282;
}

.content_part_div .left_empty_part {
    float:left; 
    width:120px; 
    margin-left:5px; 
    height:30px;    
}

.content_part_div .left_param_part div.other {
    overflow:hidden;
    padding-right:0px !important;
}

.content_part_div .left_param_part div.other_button {
    overflow:hidden;
    padding-right:2px !important;
}

.content_part_div .left_param_part div.other > div:first-child {
    float:left;
    width:40%;
    padding-right:20px;
    margin-right:20px;
}

.content_part_div .left_param_part div.other > div:last-child {
    overflow:hidden;
    padding-right:20px;
}


.content_part_div .right_param_part {
    overflow:hidden;
}

.content_part_div .right_param_part div.merchant {
    float:left; 
    margin-bottom:5px; 
    line-height:30px;
    background:#02a5c1; 
    padding-left:8px; 
    color:white; 
    margin-right:8px;
}

.content_part_div .right_param_part div.merchant a {
    float:right; 
    margin-left:8px; 
    background:#017387; 
    color:white; 
    line-height:30px;
    padding:0px 8px; 
    display:inline-block;
}

.content_part_div .right_param_part p {
    font-style:italic;
    line-height:36px;
}

.content_part_div .left_param_part div.border_expired_choice_div
{
    border:1px solid #c5c5c5;
    float:left;
    width:100%;
    padding-right:0px !important;
    margin-top: 2px;

}

.content_part_div .left_param_part a.expired_choice_div
{
    float:right;
    width:100%;
    background:white;
    padding-right:0px !important;
    display: block;

}

.content_part_div .left_param_part a.expired_choice_div .yes_part,
.content_part_div .left_param_part a.expired_choice_div .no_part
{
    float:left;
    width:50%;
    text-align:center;
    padding:7px 0px;
    line-height: 22px;
    color:#404040;
    display: block;
    margin: 0px;
    border:none; 
}

.content_part_div .left_param_part a.expired_choice_div .yes,
.content_part_div .left_param_part a.expired_choice_div .no
{
    color:white !important;
    background:#60b35c;
}

.left_part_div p {
    font-size:1.4em;
    font-weight:bold;
    line-height:36px;
}

#validate_div {
    padding:15px 0px;
    overflow:hidden;
    text-align:center;
}

#validate_div a {
    text-align:center;
    color:white;
    font-weight:normal;
    display: inline-block;
    font-size:1.1em;
    padding:10px 25px;
}

.content_part_div.custom #validate_div {
    padding:0px;
    overflow:hidden;
    text-align:center;
}

.content_part_div.custom #validate_div a {
    text-align:center;
    color:white;
    display: inline-block;
    font-weight:normal;
    font-size:1.1em;
    padding:8px 25px;
}

/* ADVANCED SEARCH */

/* ERROR PAGE */
#error_page_content {
    float:left;
    width:100%;
    padding:80px 0px;
}

#error_page_content .content_global {
    display: table;
    table-layout: fixed;
    width: 100%;
    /*background:green url(../images/other_pages/404.png) no-repeat center;*/
}

#error_page_content .content_global .part {
    display: table-cell;
    vertical-align: top;
}

#error_page_content .content_global .part.image {
    width: 50%;
}

#error_page_content .content_global .part.image.page_404 {
    background: url(//static.dealabs.com/images/other_pages/error/404.png) no-repeat center;
}

#error_page_content .content_global .part.image.page_400 {
    background: url(//static.dealabs.com/images/other_pages/error/400.png) no-repeat center;
}

#error_page_content .content_global .part.image.page_500 {
    background: url(//static.dealabs.com/images/other_pages/error/500.png) no-repeat center;
}

#error_page_content .content_global .part.image.page_403 {
    background: url(//static.dealabs.com/images/other_pages/error/403.png) no-repeat center;
}

#error_page_content .content_global .part.image.page_410 {
    background: url(//static.dealabs.com/images/other_pages/error/410.png) no-repeat center;
}

#error_page_content .part.content {
    width: 50%;
}

#error_page_content .part.content a.deal_hot_24 {
    display: block;
    float: left;
    width: 100%;
    background-color: white;
    margin-top: 10px;
}

#error_page_content .part.content a.deal_hot_24 div.image_part_deal {
    float: left;
    width: 70px;
    height: 70px;
    margin-right: 15px;
    text-align: center;
    margin-top: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

#error_page_content .part.content a.deal_hot_24 div.image_part_deal img {
    display: inline-block;
}

#error_page_content .part.content a.deal_hot_24 div.title_part_deal {
    overflow: hidden;
    width: auto;
    float: none;
}

#error_page_content .part.content a.deal_hot_24 div.title_part_deal p {
    /*margin-top: 10px;*/
}

#error_page_content .part.content a.deal_hot_24:hover div.title_part_deal p {
    text-decoration: underline;
}

#error_page_content .content h1 {
    font-size: 3em;
    margin:0px 0px 15px 0px;
    font-weight: bold;
}

#error_page_content .content p {
    font-size: 1.4em;
}

#error_page_content .content p a:hover {
    text-decoration: underline;
}

#error_page_content .content div {
    margin-top: 15px;
    float: left;
    width: 100%;
}

#error_page_content .content div.search_div {
    float: left;
}


#error_page_content div.search_div .search_button {

    float:left;
    height:34px;
    width:34px;
    border-top:1px solid #d9d9d9;
    border-bottom:1px solid #d9d9d9;
    border-left:none;
    border-right:1px solid #d9d9d9;
    background-image:url(//static.dealabs.com/images/header/search_icone.png);
    background-repeat:no-repeat;
    background-position:center;
}

#error_page_content div.search_div .input_search
{
    float:left;
    border-bottom:1px solid #d9d9d9;
    border-top:1px solid #d9d9d9;
    border-right:1px solid #d9d9d9;
    border-left:1px solid #d9d9d9;
    padding:9px;
    width:320px;
    outline: none;
    height:16px;
}

#error_page_content div.button_div {
    /*nothing*/
    float: left;
    margin-bottom: 10px;
}

#error_page_content div.button_div a.lien {
    float: left;
    padding:0px 15px;
    line-height: 34px;
    color:white;
    font-size: 1em;
    margin-right: 10px;
}

#error_page_content div.button_div a.lien.retour {
    background-position: 10px;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/other_pages/icone_arrow_return.png);
    padding:0px 15px 0px 40px;
}

#error_page_content div.button_div a.lien.accueil {
    background-position: 10px;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/other_pages/icone_home.png);
    padding:0px 15px 0px 35px;
}

/* ERROR PAGE */

/* PAGE ANNEXE INSCRIPTION ... */
.contener_waiting_subscribing {
    float: left;;
    margin-top: 10px;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
}

.contener_waiting_subscribing .right {
    float:right;
    width: 50%;
    margin-bottom: 10px;
}

.contener_waiting_subscribing .left {
    float:left;
    width: 50%;
    border-right: 1px solid #d9d9d9;
    margin-left: -1px;
    margin-bottom: 10px;
}

.contener_waiting_subscribing .inner {
    overflow: hidden;
    margin: 15px 25px 25px 25px;
}

.contener_waiting_subscribing .inner h2 {
    font-size: 1.35em;
    font-weight: bold;
}

.contener_waiting_subscribing .inner p {
    margin-top: 15px;
}

.contener_waiting_subscribing .inner a {
    text-decoration: underline;
}

.contener_waiting_subscribing .inner a.grey_button {
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
}

.contener_waiting_subscribing a.button {
    color:white;
    display: inline-block;
    padding:12px 24px;
    text-decoration: none;
}
.contener_waiting_subscribing p.indication_button {
    display: inline-block;
    text-decoration: none;
    margin-left: 15px;
    line-height: 40px;
}

.contener_waiting_subscribing p.indication_button a:hover {
    text-decoration: underline;
}

.contener_waiting_subscribing .inner .new_ligne_input {
    width: 280px;
}

.contener_waiting_subscribing .inner .avatar_contener {
    float:left;
    width:100%;
    margin-top: 25px;
}

.contener_waiting_subscribing .inner .avatar_contener .left {
    float:left;
    border: none;
    width: 45%;
    margin-right: 5%;
    margin-bottom: 0px;
    margin-left: 0px;
}

.contener_waiting_subscribing .inner .avatar_contener .right {
    float:none;
    border: none;
    width:auto;
    margin: 37px 0 0 0;
    overflow: hidden;
}

.contener_waiting_subscribing .inner .avatar_contener .right div {
    background-color:rgba(242, 242, 242, 1);
    border:1px solid #d9d9d9;
    padding: 8px;
}

.contener_waiting_subscribing .inner .avatar_contener .right div input[type="checkbox"] {
    float: left;
    margin-top: 2px;
    margin-right: 5px;
}

.contener_waiting_subscribing .inner .avatar_contener .right div label {
    cursor: pointer;
    line-height: 16px;
}


.contener_waiting_subscribing .inner .avatar_contener .left .avatar_part {
    overflow: hidden;
    border: 1px solid #d9d9d9;
    padding: 8px;
}

.contener_waiting_subscribing .inner .avatar_contener .left .avatar_part p {
    overflow: hidden;
    text-align: justify;
    margin-top: 20px;
}

.contener_waiting_subscribing .inner .avatar_contener .left .avatar_part img {
    float: left;
    display: block;
    width: 90px;
    height: 90px;
    border: none;
    margin-right: 8px;
}
/* PAGE ANNEXE INSCRIPTION ... */

/* bienvenue */
.padding_content_bienvenue {
    padding: 15px;
    overflow: hidden;
}

.padding_content_bienvenue .separate_border {
    margin-bottom: 30px;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 30px;
    overflow: hidden;
}

.padding_content_bienvenue h2 {
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}

.padding_content_bienvenue h3 {
    padding: 0;
    margin: 0;
    font-size: 1.1em;
    font-weight: bold;
    padding-bottom: 10px;
}

.padding_content_bienvenue p {
    color: #6a6a6a;
    overflow: hidden;
    font-size: 1em;
    margin-top:10px; 
    text-align: justify;
}

.padding_content_bienvenue a:hover {
    text-decoration: underline;
}
/* bienvenue */


/* Applications */
#social_share {
    position: absolute;
    margin-left: -156px;
    width: 136px;
}

#social_share a {
    width: 34px;
    height: 34px;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
}

#social_share a.facebook {
    background-image: url(//static.dealabs.com/images/all/icon_all_facebook_white.png);    
}

#social_share a.twitter {
    background-image: url(//static.dealabs.com/images/all/icon_all_twitter_white.png);    
}

#social_share a.google {
    background-image: url(//static.dealabs.com/images/all/icon_all_google_white.png);    
}

#social_share a.mail {
    background-image: url(//static.dealabs.com/images/all/icon_all_messages.png);    
}

#header_applications {
    float: left;
    width: 100%;
    height: 330px;
    background-image: url(//static.dealabs.com/images/other_pages/applications/bcg_apps_city.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}

#header_applications h1 {
    font-size: 3.45em;
    color: white;
    text-align: left;
    margin-top: 50px;
    margin-left: 40px;
    font-family: ProximaNovaSemibold;
}

#header_applications h2 {
    font-size: 2.3em;
    color: white;
    text-align: left;
    margin-top: 5px;
    margin-left: 40px;
    font-family: ProximaNovalight;
}

#link_store_div {
    background-color: rgba(0, 110, 129, 0.5);
    float: left;
    margin-left: 40px;
    padding: 10px;
    margin-top: 78px;
}

#link_store_div a {
    float: left;
    display: block;
}

#link_store_div a:first-child{
    margin-right: 10px;
}

#link_store_div a img {
    display: block;
}

#content_applications {
    float:left;
    width:100%;
}

#smartphone_div {
    position: relative;
    float: right;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: -154px;
    width: 380px;
    height: 456px; /* Taille de l'image nexus */
    display: block;
}

#smartphone_div #android_model {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 882;
}

#smartphone_div #ios_model {
    position: absolute;
    z-index: 883;
    left: 0;
    bottom: 0;
}

#smartphone_div .screen {
    position: absolute;
    top:0;
}

#smartphone_div #android_model .screen {
    width: 208px;
    /*height: 376px;*/

    margin-top: 42px;
    margin-left: 14px;
}

#smartphone_div #android_model .screen img {
    width: 208px;
    /*height: 376px;*/

    display: block;
}

#smartphone_div #ios_model .screen {
    width:164px;
    /*height:296px;*/

    margin-top: 52px;
    margin-left: 14px;
}

#smartphone_div #ios_model .screen img {
    width:164px;
    /*height:296px;*/

    display: block;
}

#text_div {
    overflow: hidden;
    margin-left: 40px;
    margin-top: 40px;
}

#text_div h1,
#content_others h1 {
    font-family: ProximaNovaSemibold;
    font-size: 2.3em;
}

#text_div p,
#content_others p {
    font-size: 1.1em;
    text-align: justify;
}

#text_div #switcher {
    position: relative;
    overflow: hidden;
    margin: 20px 0px 30px 0px;
}

#text_div #switcher .circle {
    float: left;

    margin-right: 8px;

    width: 10px;
    height: 10px;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -khtml-border-radius: 8px; 
    border-radius: 8px;

    border: 2px solid rgba(2, 165, 193, 1);
}

#text_div #switcher .circle.full {
    background-color: rgba(2, 165, 193, 1);
}

#text_div #switcher .circle.empty {
    background-color: rgba(2, 165, 193, 0);
}

#content_others {
    float:left;
    width:100%;
}

#content_others > div {
    overflow: hidden;
    margin: 40px 40px 0px 40px;
    padding: 40px 0px;
    border-top: 1px solid #cacaca;
}

#content_others > div #forum_part {
    float: right;
    width: 280px;
    height: 180px;
    border: 1px solid #cacaca;
    margin-left: 40px;
    margin-bottom: 40px;
    padding:20px;

    background-position: right 10px bottom 10px;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/other_pages/applications/icon_apps_forum.png);
}

#content_others > div #forum_part p {
    color: #02a5c1;
    font-size: 2.3em;
    font-family: ProximaNovaSemibold;
    text-align: center;
    margin-bottom: 20px;
}

#content_others > div #forum_part a {
    color: white;
    /*background-color: #339db0;*/
    font-size: 1.4em;
    font-family: ProximaNovalight;
    display: block;
    line-height: 36px;
    width: 180px;
    text-align: center;

    margin-bottom: 10px;
}

#content_others > div #faq_part {
    overflow: hidden;
}

#content_others > div #faq_part p.question {
    color: #333333;
    margin-top: 30px;
    font-size: 1.2em;
    font-weight: bold;

}

#content_others > div #faq_part p.reponse {
    color: #777777;
    overflow: hidden;
    margin-top: 15px;
    margin-top: 30px;
    font-size: 1em;
    text-align: justify;
}

/* Applications */

/* Shoop */
#shoop {
}

#shoop #body {
}

#shoop .header {
    position: relative;
    float: left;
    width: 100%;
    height: 286px;
    background: url(//static.dealabs.com/images/other_pages/shoop/shoop_logo.png) no-repeat center,
    url(//static.dealabs.com/images/other_pages/shoop/shoop_bcg.png) no-repeat center top;

    border-bottom: 6px solid #5522cc;
}

#shoop .header .breadcrumb {
    position: absolute;
    left: 40px;
    top: 26px;
}

#shoop .header .breadcrumb img {
    display: block;
    float: left;
    margin-right: 5px;
}

#shoop .header .breadcrumb p {
    display: block;
    float: left;

    color: white;
    font-family: RobotoRegular;
    font-size: 1.5em;

    margin-top: 6px;
}

#shoop .padding {
    display: block;
    overflow: hidden;
    padding: 0px 40px;
}

#shoop .content {
    float: left;
    width: 100%;
    height: auto;
}

#shoop .content p.sub_title,
#shoop .content a.sub_title {
    width: 100%;
    text-align: center;
    font-family: RobotoBold;
    color:#5522cc;
    font-size: 1.7em;
    margin: 64px 0px 50px 0px;
}

#shoop .content a.sub_title {
    display: block;
}

#shoop .content a.sub_title img {
    display: inline-block;
    margin-right: 10px;
}

#shoop .content a.sub_title img.rotate {

    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -khtml-transform: rotate(90deg); 
    transform: rotate(90deg);
}

#shoop .inscription p.white_text {
    float: left;
    width: 100%;

    font-family: RobotoRegular;
    text-align: center;
    color: white;
    font-size: 1.2em;
}

#shoop .content .part1,
#shoop .content .part2,
#shoop .content .part3 {
    float: left;
    width: 33.33%;
    height: 220px;
}

#shoop .content .part1 {
    background: url(//static.dealabs.com/images/other_pages/shoop/icon_browse.png) no-repeat center top;
}

#shoop .content .part2 {
    background: url(//static.dealabs.com/images/other_pages/shoop/icon_shop.png) no-repeat center top;
}

#shoop .content .part3 {
    background: url(//static.dealabs.com/images/other_pages/shoop/icon_wallet.png) no-repeat center top;
}

#shoop .content .part1 p,
#shoop .content .part2 p,
#shoop .content .part3 p {
    width: 100%;
    text-align: center;

    font-family: RobotoRegular;
    color: #777777;
    font-size: 1.2em;

    margin-top: 120px;
}

#shoop .content .sub_part {
    float: left;
    width: 100%;
}

#shoop .separator {
    overflow: hidden;
    margin: auto;
    width: 27%;
    height: 2px;
    background-color: #e8e8e8;
}

#shoop .content p.grey_text {
    float: left;
    width: 100%;
    height: auto;

    font-family: RobotoRegular;
    text-align: justify;
    color: #777777;
    font-size: 1.2em;
}

#shoop .content.partenariat  p.grey_text {
    display: none;
}

#shoop .inscription {
    float: left;
    width: 100%;
    height: auto;
    background-color: #22bbaa;
    margin-top: 64px;
    padding: 0px 0px 64px 0px;
}

#shoop .inscription p.sub_title {
    float: left;
    width: 100%;
    text-align: center;
    font-family: RobotoBold;
    color:white;
    font-size: 1.7em;
    margin: 64px 0px 50px 0px;
}

#shoop .inscription p.underline_text {
    float: left;
    width: 100%;
    text-align: center;
    font-family: RobotoRegular;
    color:white;
    text-decoration: underline;
    font-size: 1.4em;
    margin: 30px 0px 30px 0px;
}

#shoop .inscription .circles {
    float: left;
    width: 100%;
    height: 140px;
    position: relative;
}

.popup_center_signalement.shoop .circles {
    float: left;
    width: 100%;
    height: 140px;
    position: relative;
}

#shoop .inscription .circles_center {
    margin: auto;
    width: 245px;
    height: 100%;
    position: relative;
}

.popup_center_signalement.shoop .circles_center {
    margin: auto;
    width: 245px;
    height: 100%;
    position: relative;
}

#shoop .inscription .circles .circle_notmember,
.popup_center_signalement.shoop .circle_notmember {
    position: absolute;

    margin-top: 12px;

    width: 110px;
    height: 110px;

    right: 0;


    -moz-border-radius: 55px;
    -webkit-border-radius: 55px;
    -o-border-radius: 55px;
    -ms-border-radius: 55px;
    -khtml-border-radius: 55px; 
    border-radius: 55px;

    -moz-border: 3px solid white;
    -webkit-border: 3px solid white;
    -o-border: 3px solid white;
    -ms-border: 3px solid white;
    -khtml-border: 3px solid white; 
    border: 3px solid white;

    align-content: center;
}

.popup_center_signalement.shoop .circle_notmember {
    -moz-border: 3px solid #22bbaa;
    -webkit-border: 3px solid #22bbaa;
    -o-border: 3px solid #22bbaa;
    -ms-border: 3px solid #22bbaa;
    -khtml-border: 3px solid #22bbaa; 
    border: 3px solid #22bbaa;
}

#shoop .inscription .circles .circle_notmember p.first,
.popup_center_signalement.shoop .circle_notmember p.first {
    margin-top: 23px; /* (110 - 16 - 48)/2 */

    float: left;
    width: 100%;
    text-align: center;

    line-height: 16px;

    font-family: RobotoRegular;
    color:white;
    font-size: 1em;
}

.popup_center_signalement.shoop .circle_notmember p.first {
    color:#22bbaa;
}

#shoop .inscription .circles .circle_notmember p.second,
.popup_center_signalement.shoop .circle_notmember p.second {
    float: left;
    width: 100%;
    text-align: center;

    line-height: 48px;

    font-family: RobotoRegular;
    color:white;
    font-size: 4em;
}

.popup_center_signalement.shoop .circle_notmember p.second {
    color:#22bbaa;
}

#shoop .inscription .circles .circle_member,
.popup_center_signalement.shoop .circle_member {
    position: absolute;
    width: 140px;
    height: 140px;
    background-color: white;

    left: 0;

    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    -o-border-radius: 70px;
    -ms-border-radius: 70px;
    -khtml-border-radius: 70px; 
    border-radius: 70px;
}

.popup_center_signalement.shoop .circle_member {
    background-color: #22bbaa;
}

#shoop .inscription .circles .circle_member p.first,
.popup_center_signalement.shoop .circle_member p.first {
    margin-top: 33px; /* (140 - 18 - 56)/2 */

    float: left;
    width: 100%;
    text-align: center;

    line-height: 18px;

    font-family: RobotoRegular;
    color:#22bbaa;
    font-size: 1em;
}

.popup_center_signalement.shoop .circle_member p.first {
    color:white;
}

#shoop .inscription .circles .circle_member p.second,
.popup_center_signalement.shoop .circle_member p.second {
    float: left;
    width: 100%;
    text-align: center;

    line-height: 56px;

    font-family: RobotoRegular;
    color:#22bbaa;
    font-size: 5em;
}

.popup_center_signalement.shoop .circle_member p.second {
    color:white;
}

#shoop .inscription .button {
    float: left;
    width: 100%;
    height: auto;
    text-align: center;
}

#shoop .inscription .button a {
    display: inline-block;
    margin-top: 30px;
    text-align: center;
    font-family: RobotoRegular;
    color: rgba(34, 187, 170, 1);
    font-size: 1.2em;

    padding: 0px 30px;

    line-height: 45px;

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -khtml-border-radius: 6px; 
    border-radius: 6px;

    background-color: rgba(255, 255, 255, 1);
}

#shoop .inscription .button a:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

#shoop .inscription .button a:active {
    background-color: rgba(255, 255, 255, 0.8);
}

#shoop .content a.question {
    display: block;
    text-align: left;
    color:#777777;
    font-family: RobotoBold;
    font-size: 1.2em;

    line-height: 16px;

    margin-bottom: 20px;
}

#shoop .content a.question.selected {
    color:#5522cc;
}

#shoop .content a.question img {
    display: block;
    float: left;
    margin-right: 4px;
}

#shoop .content a.question img.rotate {

    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -khtml-transform: rotate(90deg); 
    transform: rotate(90deg);
}

#shoop .content p.reponse {
    display: none;
    overflow: hidden;
    text-align: justify;
    color:#777777;
    font-family: RobotoRegular;
    font-size: 1.2em;

    padding: 0px 20px 20px 20px;
}

#shoop .content p.text_end {
    width: 100%;
    text-align: center;
    font-family: RobotoRegular;
    color:#5522cc;
    font-size: 1.5em;
    margin: 50px 0px 0px 0px;
}

#shoop .content .button_forum {
    float: left;
    width: 100%;
    height: auto;
    text-align: center;
}

#shoop .content .button_forum a {
    display: inline-block;
    margin-top: 15px;
    text-align: center;
    font-family: RobotoRegular;
    color: white;
    font-size: 1.2em;

    padding: 0px 30px 0px 64px;

    line-height: 45px;

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -khtml-border-radius: 6px; 
    border-radius: 6px;

    background-color: rgba(85, 34, 204, 1);

    background-position: left 30px center;
    background-repeat:no-repeat;
    background-image: url(//static.dealabs.com/images/other_pages/shoop/icon_forum.png);
}

#shoop .content .button_forum a:hover {
    background-color: rgba(85, 34, 204, 0.9);
}

#shoop .content .button_forum a:active {
    background-color: rgba(85, 34, 204, 0.8);
}


#shoop .extension {
    float:left;
    width: 100%;
    height: auto;
    background-color: #5522cc;

    padding:34px 0px;

    background-image: url(//static.dealabs.com/images/other_pages/shoop/shoop_browser.png);
    background-position: left bottom;
    background-repeat: no-repeat;
}

#shoop .extension .text {
    float:left;
    width: 100%;
    margin-left: 213px;
}

#shoop .extension .text p {
    font-size: 1.2em;
    color: white;
    margin-bottom: 20px;
    font-family: RobotoRegular;
}

#shoop .extension .text p span {
    font-size: 0.9em;
    color: #c2a8ff;
}

#shoop .extension .text p span a {
    text-decoration: underline;
    color: #c2a8ff;
}

#shoop .extension .text > a {
    float: left;
    display:block;
    font-family: RobotoRegular;
    font-size: 1.2em;
    color: #5522cc;
    padding: 0px 10px 0px 40px;
    line-height: 32px;
    background-color: rgba(255, 255, 255, 1);

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px; 
    border-radius: 5px;
}

#shoop .extension .text a.chrome {
    background-image: url(//static.dealabs.com/images/other_pages/shoop/icon_chrome.png);
    background-position: center left 10px;
    background-repeat: no-repeat;
}

#shoop .extension .text a.mozilla {
    background-image: url(//static.dealabs.com/images/other_pages/shoop/icon_firefox.png);
    background-position: center left 10px;
    background-repeat: no-repeat;
}

#shoop .extension .text a.incompatible {
    background-image: url(//static.dealabs.com/images/other_pages/shoop/icon_cross.png);
    background-position: center left 10px;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.8);
}

#shoop .extension .text a.incompatible:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#shoop .extension .text > a:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

#shoop .extension .text > a:active {
    background-color: rgba(255, 255, 255, 0.8);
}


.popup_center_signalement.shoop .header_popup
{
    background-image: url(//static.dealabs.com/images/other_pages/shoop/picture_bonus_shoop.png);
    background-position: right top;
    background-repeat: no-repeat;
}

.popup_center_signalement.shoop p.text
{
    float: left;
    width: 100%;
    color: #777777;
    text-align: center;
    font-family: RobotoRegular;

    margin-top:20px;
}

.popup_center_signalement.shoop a.button
{
    display: inline-block;
    padding: 0px 24px;
    line-height: 40px;
    background-color: #5522cc;
    color: white;
    font-family: RobotoRegular;
    margin-top: 20px;

}
/* Shoop */


/* dealivreasy */
#dealivreasy {
}

#dealivreasy #body {
}

#dealivreasy .header {
    position: relative;
    float: left;
    width: 100%;
    height: 572px;
    background: url(//static.dealabs.com/images/other_pages/dealivreasy/dealivreasy_bcg.png) no-repeat center top;
}

#dealivreasy .header div.logo {
    float: left;
    width: 100%;
    height: 60px;
    margin-top: 72px;
    background: url(//static.dealabs.com/images/other_pages/dealivreasy/dealivreasy_logo.png) no-repeat center;
}

#dealivreasy .header .breadcrumb {
    float: left;
    margin-left: 40px;
    margin-top: 26px;
}

#dealivreasy .header .breadcrumb img {
    display: block;
    float: left;
    margin-right: 10px;
}

#dealivreasy .header .breadcrumb p {
    display: block;
    float: left;

    color: white;
    font-family: RobotoRegular;
    font-size: 1.5em;

    margin-top: 6px;
}

#dealivreasy .header a.forum-link {
    float: right;
    margin-right: 40px;
    margin-top: 34px;
    display: block;
    float: right;

    color: white;
    font-family: RobotoRegular;
    font-size: 1.1em;
}

#dealivreasy .header a.forum-link:hover {
    text-decoration: underline;
}

#dealivreasy .header a.forum-link img {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: -5px;
}

#dealivreasy .header .header_field {
    overflow: hidden;
    margin: auto;
    width: 310px;

    color: white;

    height: 113px;
}

#dealivreasy .header .header_field .input_left {
    overflow: hidden;
    padding-right: 32px;
}

#dealivreasy .header .header_field .input_left input[type="text"] {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -khtml-border-radius: 6px; 
    border-radius: 6px;

    border: 1px solid white;

    outline: none;
    margin: 0;
    padding: 0 15px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: inline-block;
    background: #fff;
    height: 44px;
    line-height: 18px;
}

#dealivreasy .header .header_field .input_left input[type="text"]:focus {
    outline: none;
    border: 1px solid white !important;
}

#dealivreasy .header .header_field a.button_see_deals {
    position:relative;
    overflow: hidden;
    display: block;
    font-family: RobotoBold;
    font-size: 1.2em;
    width: 100%;
    line-height: 50px;
    text-align: center;
    color: white;

    background-color: #02a5c1;

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -khtml-border-radius: 6px; 
    border-radius: 6px;


    -moz-box-shadow: 0px 3px 0px #017387;
    -webkit-box-shadow: 0px 3px 0px #017387;
    -o-box-shadow: 0px 3px 0px #017387;
    -ms-box-shadow: 0px 3px 0px #017387;
    -khtml-box-shadow: 0px 3px 0px #017387; 
    box-shadow: 0px 3px 0px #017387;
}

#dealivreasy .header .header_field a.button_see_deals:active {
    top: 2px;

    -moz-box-shadow: 0px 1px 0px #017387;
    -webkit-box-shadow: 0px 1px 0px #017387;
    -o-box-shadow: 0px 1px 0px #017387;
    -ms-box-shadow: 0px 1px 0px #017387;
    -khtml-box-shadow: 0px 1px 0px #017387; 
    box-shadow: 0px 1px 0px #017387;
}

#dealivreasy p.title {
    float: left;
    width: 100%;
    text-align: center;
    font-family: RobotoBold;
    font-size: 2.1em;
}

#dealivreasy p.title.white {
    color: white;
}

#dealivreasy p.title.black {
    color: black;
}

#dealivreasy p.text {
    float: left;
    width: 100%;
    text-align: center;
    font-family: RobotoRegular;
    font-size: 1.2em;
}

#dealivreasy p.text.white {
    color: white;
}

#dealivreasy p.text.grey {
    color: #777777;
}

#dealivreasy p.text.grey a {
    text-decoration: none;
    color: #02a5c1;

}

#dealivreasy p.text.grey a:hover {
    text-decoration: underline;
}

#dealivreasy p.text.grey a:active {
    text-decoration: underline;
}

#dealivreasy .padding {
    display: block;
    overflow: hidden;
    padding: 0px 40px;
}

#dealivreasy .content {
    float: left;
    width: 100%;
    height: auto;
    padding: 60px 0px;
}

#dealivreasy .content .merchants {
    overflow: hidden;
    margin: auto;
    width: 100%;
    height: auto;
    text-align: center;
}

#dealivreasy .content .merchand {
    width: 164px;
    height:164px;

    margin: 0px 10px;

    background-color: white;
    display: inline-block;
    text-align: center;

    -moz-border-radius: 82px;
    -webkit-border-radius: 82px;
    -o-border-radius: 82px;
    -ms-border-radius: 82px;
    -khtml-border-radius: 82px; 
    border-radius: 82px;

    -moz-border: 1px solid #dcdcdc;
    -webkit-border: 1px solid #dcdcdc;
    -o-border: 1px solid #dcdcdc;
    -ms-border: 1px solid #dcdcdc;
    -khtml-border: 1px solid #dcdcdc; 
    border: 1px solid #dcdcdc;
}

#dealivreasy .content .merchand.aiexpress {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/other_pages/dealivreasy/icon_aliexpress.png);
}

#dealivreasy .content .merchand.routeducommerce {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/other_pages/dealivreasy/icon_route_du_commerce.png);
}

#dealivreasy .content .merchand.decathcour {
    -moz-border: 1px solid #00adee;
    -webkit-border: 1px solid #00adee;
    -o-border: 1px solid #00adee;
    -ms-border: 1px solid #00adee;
    -khtml-border: 1px solid #00adee; 
    border: 1px solid #00adee;

    background-position: center;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/other_pages/dealivreasy/icon_dectathcour.png);
}

#dealivreasy .content .merchand.nocebe {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/other_pages/dealivreasy/icon_nocébé.png);
}

#dealivreasy .content.record_time {
    float: left;
    width: 100%;
    height: auto;
    padding: 60px 0px;

    height:361px;
    background: url(//static.dealabs.com/images/other_pages/dealivreasy/time_bcg.png) no-repeat left top;
}

#dealivreasy .content.tracking {
    float: left;
    width: 100%;
    height: auto;
    padding: 172px 0px;

    height:86px;
    background: url(//static.dealabs.com/images/other_pages/dealivreasy/tracking_bcg.png) no-repeat right top;
}

#dealivreasy .content .abonnements {
    overflow: hidden;
    margin: auto;
    width: 100%;
    height: auto;
    text-align: center;
}

#dealivreasy .content .abonnement {
    width: 130px;
    height:130px;

    margin: 0px 55px;

    /*margin: 0px 10px;*/
    display: inline-block;
    text-align: center;

    -moz-border-radius: 65px;
    -webkit-border-radius: 65px;
    -o-border-radius: 65px;
    -ms-border-radius: 65px;
    -khtml-border-radius: 65px; 
    border-radius: 65px;
}

#dealivreasy .content .abonnements .ou {
    position:absolute; 
    display: inline-block; 
    text-align: center; 
    line-height: 130px; 
    top:0;
    font-family: RobotoBold;
    font-size: 2.2em;
    width: 40px;
    text-align: center;

    margin-left: -20px;
}

#dealivreasy .content .abonnement.unit {
    background-color: #60b35c;
}

#dealivreasy .content .abonnement.unit p.first {
    margin-top:23px; /* (130 - 18 - 18 - 56)/2 */

    float: left;
    width: 100%;
    text-align: center;

    line-height: 18px;

    font-family: RobotoBold;
    color:#175c13;
    font-size: 1.2em;
}

#dealivreasy .content .abonnement.unit p.second {
    float: left;
    width: 100%;
    text-align: center;

    line-height: 48px;

    font-family: RobotoRegular;
    color:white;
    font-size: 4.2em;
}

#dealivreasy .content .abonnement.unit p.third {
    float: left;
    width: 100%;
    text-align: center;

    line-height: 18px;

    font-family: RobotoRegular;
    color:white;
    font-size: 1em;
}

#dealivreasy .content .abonnement.engagement {
    background-color: #5c89b3;
}

#dealivreasy .content .abonnement.abonnement p.first {
    margin-top:23px; /* (130 - 18 - 18 - 56)/2 */

    float: left;
    width: 100%;
    text-align: center;

    line-height: 18px;

    font-family: RobotoBold;
    color:#0a243d;
    font-size: 1.2em;
}

#dealivreasy .content .abonnement.abonnement p.second {
    float: left;
    width: 100%;
    text-align: center;

    line-height: 48px;

    font-family: RobotoRegular;
    color:white;
    font-size: 4.2em;
}

#dealivreasy .content .abonnement.abonnement p.third {
    float: left;
    width: 100%;
    text-align: center;

    line-height: 18px;

    font-family: RobotoRegular;
    color:white;
    font-size: 1em;
}

#dealivreasy .footer {
    float:left; 
    width:100%; 
    position:relative;
}

#dealivreasy .footer .left {
    float:left; 
    width:50%;
}

#dealivreasy .footer .right {
    float:right; 
    width:50%;
}

#dealivreasy .footer .block {
    overflow: hidden;
    border: 1px solid #d9d9d9;
    background-color: #f7f7f7;
    padding:36px 0px;
}

#dealivreasy .footer .left .block {
    margin-right: 20px;
}

#dealivreasy .footer .right .block {
    margin-left: 20px;
}

#dealivreasy .footer .block .circle {
    width: 146px;
    height:146px;

    margin-bottom: 36px;

    /*margin: 0px 10px;*/
    display: inline-block;
    text-align: center;

    -moz-border-radius: 73px;
    -webkit-border-radius: 73px;
    -o-border-radius: 73px;
    -ms-border-radius: 73px;
    -khtml-border-radius: 73px; 
    border-radius: 73px;

}

#dealivreasy .footer .left .block .circle {
    background: url(//static.dealabs.com/images/other_pages/dealivreasy/icon_biker.png) no-repeat center;
}

#dealivreasy .footer .right .block .circle {
    background: url(//static.dealabs.com/images/other_pages/dealivreasy/icon_merchants.png) no-repeat center;
}


#dealivreasy .dealivreasy-order .circle-div {
    float: left;
    width: 100%;
    text-align: center;
}

#dealivreasy .dealivreasy-order .circle-form {
    display: inline-block;
    margin-top: 55px;
}

#dealivreasy .dealivreasy-order .circle-form .contener-circle {
    display: inline-block;
    width: 150px;
    text-align: center;
}

#dealivreasy .dealivreasy-order .circle-form .circle {
    width: 86px;
    height:86px;

    background-color: white;

    display: inline-block;

    -moz-border-radius: 43px;
    -webkit-border-radius: 43px;
    -o-border-radius: 43px;
    -ms-border-radius: 43px;
    -khtml-border-radius: 43px; 
    border-radius: 43px;
}

#dealivreasy .dealivreasy-order .circle-form .circle.first {
    background-color: #02a5c1;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(//static.dealabs.com/images/other_pages/dealivreasy/icon_address.png);
}

#dealivreasy .dealivreasy-order .circle-form .circle.second {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(//static.dealabs.com/images/other_pages/dealivreasy/icon_get_biker.png);
}

#dealivreasy .dealivreasy-order .circle-form .circle.third {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(//static.dealabs.com/images/other_pages/dealivreasy/icon_location_biker.png);
}

#dealivreasy .dealivreasy-order .circle-form .contener-circle p {
    text-align: center;
    margin-top: 12px;
    font-family: RobotoRegular;
    color: white;
    font-size: 1.1em;
}

#dealivreasy .dealivreasy-order .sub-breadcrumb {
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    height: auto;
    background-color: #414141;
}

#dealivreasy .dealivreasy-order .sub-breadcrumb p {
    text-align: left;
    color: white;
    font-size: 1em;
    padding: 17px 40px;
    line-height: 18px;
    font-family: RobotoRegular;
}

#dealivreasy .dealivreasy-order .sub-breadcrumb p a {
    text-align: left;
    color: #d9d9d9;
    font-size: 1em;
    line-height: 18px;
    font-family: RobotoRegular;
}

#dealivreasy .dealivreasy-order .sub-breadcrumb p a img {
    display: block;
    float: left;
    padding-right: 10px;
}

#dealivreasy .dealivreasy-order .form-div-padding {
    padding: 40px;
    overflow: hidden;
}

#dealivreasy .dealivreasy-order .form-div {
    float: left;
    width: 100%;
}

#dealivreasy .dealivreasy-order .form-div .right {
    float: right;
    width: 390px;
    margin-left: 40px;
}

#dealivreasy .dealivreasy-order .form-div .left {
    overflow: hidden;
}

#dealivreasy .dealivreasy-order .form-div .right .deal-form-padding {
    padding: 20px;
    overflow: hidden;
    border: 1px solid #d9d9d9;
    background-color: #f7f7f7;
}

#dealivreasy .dealivreasy-order .form-div .right .deal-form {
    float: left;
    width: 100%;
}

#dealivreasy .dealivreasy-order .form-div .right .deal-form p {
    font-size: 1em;
    text-align: left;
    font-family: RobotoRegular;
}

#dealivreasy .dealivreasy-order .form-div .right .deal-form p.black {
    color: black;
}

#dealivreasy .dealivreasy-order .form-div .right .deal-form p.grey{
    color: #777777;
}

#dealivreasy .dealivreasy-order .form-div .left .separate_right {
    float:right;
    width:50%;
    margin-bottom:15px;
}

#dealivreasy .dealivreasy-order .form-div .left .separate_left {
    overflow:hidden;
    margin-bottom:0px;
}

#dealivreasy #waiting {
    display: none;
}
/* dealivreasy */

/* reglespublication */
#reglespublication .header {
    overflow: hidden;
    padding: 40px;
    background-color: #333333;
    background-position: bottom right 40px;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/other_pages/reglespublication/image_books.png);
}

#reglespublication .header h1 {
    text-align: left;
    font-family: RobotoRegular;
    color: white;
    font-size: 2.2em;
    margin-bottom: 40px;
}

#reglespublication .header p {
    text-align: left;
    font-family: RobotoRegular;
    color: #b9b9b9;
    font-size: 1.3em;
}

#reglespublication .message {
    overflow: hidden;
    padding: 10px 40px;
    line-height: 30px;
    background-color: #fafafa;
    text-align: left;
    font-family: RobotoRegular;
    color: #777777;
    font-size: 1em;
    border-bottom: 1px solid #e0e0e0;
}

#reglespublication .message a {
    float: right;
    font-family: RobotoRegular;
    color: #777777;
    line-height: 28px;
    border: 1px solid #e0e0e0;
    padding: 0px 20px;
    background-color: #f4f4f4;
}

#reglespublication .message a:hover,
#reglespublication .message a:active {
    text-decoration: underline;
}


#reglespublication .content {
    overflow: hidden;
    padding: 0px 40px 40px 40px;
}

#reglespublication .content div.regle {
    text-align: left;
    color: #777777;
    font-family: RobotoRegular;
    font-size: 1.1em;
    margin-top: 40px;
    line-height: 18px;
}

#reglespublication .content div.regle p {
    overflow: hidden;
    text-align: left;
    color: #777777;
    font-family: RobotoRegular;
    font-size: 1.1em;
    margin-top: 40px;
    line-height: 20px;
}

#reglespublication .content div.regle p a {
    text-decoration: underline;
    color: #777777;
}

#reglespublication .content div.regle a.counter {
    display: block;
    background-color: #333333;
    height: 20px;
    width: 20px;
    line-height: 20px;
    float: left;
    font-size: 0.9em;
    text-align: center;
    color: white;
    margin-right: 20px;
}

#reglespublication .content div.example_div {
    overflow: hidden;
    padding: 20px;
    background-color: #e5f6f9;
    color: #02a5c1;
    text-align: left;
    font-family: RobotoRegular;
    font-size: 1.1em;
    margin-top: 20px;
    line-height: 20px;
}

#reglespublication .content div.example_div p.bold {
    font-family: RobotoBold;
    margin-bottom: 20px;
}

#reglespublication .content div.example_div p.example {
    font-family: RobotoRegular;
}

#reglespublication .content div.footer_page {
    float: left;
    width: 100%;
    margin-top: 40px;
    background-color: #fafafa;
    border: 1px solid #e0e0e0;
    height: 50px;
    text-align: center;
}

#reglespublication .content div.footer_page p {
    text-align: center;
    line-height: 50px;
    color: #777777;
    font-size: 1em;
    font-family: RobotoRegular;
}

#reglespublication .content div.footer_page p a {
    color: #02a5c1;
    text-decoration: underline;
}
/* reglespublication */

/* A propos + followdeals */
.page_content_content .header {
    overflow: hidden;
    padding: 40px;
    background-color: #333333;
    background-repeat: no-repeat;
}

#apropos .page_content_content .header {
    background-position: bottom right;
    background-image: url(//static.dealabs.com/images/other_pages/apropos/image_about.png);
}

#followdeals .page_content_content .header {
    background-position: bottom -20px right 40px;
    background-image: url(//static.dealabs.com/images/other_pages/followdeals/image_page_megaphone.png);
}

.page_content_content .header h1 {
    text-align: left;
    font-family: RobotoRegular;
    color: white;
    font-size: 2.2em;
    margin-bottom: 40px;
}

.page_content_content .header p {
    text-align: left;
    font-family: RobotoRegular;
    color: #b9b9b9;
    font-size: 1.3em;
}

.page_content_content .message {
    overflow: hidden;
    padding: 10px 40px;
    line-height: 30px;
    background-color: #fafafa;
    text-align: left;
    font-family: RobotoRegular;
    color: #777777;
    font-size: 1em;
    border-bottom: 1px solid #e0e0e0;
}

.page_content_content .content {
    overflow: hidden;
    padding: 40px 40px 40px 40px;
}

.page_content_content .content p {
    color: #777777;
    font-family: RobotoRegular;
    font-size: 1.1em;
    line-height: 20px;
    text-align: justify;
}

.page_content_content .team_contener {
    overflow: hidden;
    padding: 40px 20px 0px 20px;
    text-align: center;

    /* pour les espaces batards */
    letter-spacing: -0.31em; /* webkit */
    *letter-spacing: normal; /* reset IE < 8 */
    word-spacing: -0.43em; /* IE < 8 && gecko */
}

.page_content_content .team_contener .member_contener {
    text-align: center;
    width: 33.33%;
    width: calc(100% / 3);
    height: auto;

    /* pour les espaces batards */
    display: inline-block;
    zoom: 1; *display: inline; /* IE < 8: fake inline-block */
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
}

.page_content_content .team_contener .member {
    overflow: hidden;
    margin: 0px 20px 40px 20px;
}

.page_content_content .team_contener .member div.avatar {
    float: left;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.page_content_content .team_contener .member div.avatar img {
    text-align: center;

    width: 70px;
    height: 70px;

    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    -o-border-radius: 35px;
    -ms-border-radius: 35px;
    -khtml-border-radius: 35px; 
    border-radius: 35px;
}

.page_content_content .team_contener .member div.name {
    float: left;
    width: 100%;
    text-align: center;
    color: #333333;
    font-size: 1.1em;
    font-family: RobotoBold;

    margin-top: 20px;
}

.page_content_content .team_contener .member div.name span {
    color: #777777;
    font-family: RobotoRegular;
}

.page_content_content .team_contener .member div.name a {
    color: #02a5c1;
    text-decoration: underline;
    font-family: RobotoRegular;
}

.page_content_content .team_contener .member p.description {
    float: left;
    width: 100%;
    text-align: justify;
    font-family: RobotoRegular;
    font-size: 1em;
    color: #777777;

    margin-top: 20px;
}


.page_content_content .footer_apropos {
    float: left;
    width: 100%;
    text-align: center;
    font-family: RobotoRegular;
    font-size: 1em;
    color: #777777;
    background-color: #fafafa;
    border-top:#e0e0e0 1px solid;
    border-bottom:#e0e0e0 1px solid;


    line-height: 50px;
}

.page_content_content .footer_apropos a {
    text-decoration: underline;
    color: #02a5c1; 
}


#followdeals .page_content_content .card_content {
    overflow: hidden;
    padding-right: 40px;
    padding-top: 40px;
}

#followdeals .page_content_content .sub_card_content {
    float:left;
    width: 33.33%;
    width: calc(100% / 3);
}

#followdeals .page_content_content .sub_card_content_double {
    float:left;
    width: 66.66%;
    width: calc(200% / 3);
}

#followdeals .page_content_content .card {
    overflow: hidden;
    margin-left: 40px;
    margin-bottom: 40px;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px; 
    border-radius: 5px;

    border:1px solid #e0e0e0;
}

#followdeals .page_content_content .card .header_card {
    overflow: hidden;
    padding: 20px;

    height:97px; /* a voir si c'est bien */
}

#followdeals .page_content_content .card .header_card .logo {
    float: left;
}

#followdeals .page_content_content .card .header_card .logo p {
    color: white;
    font-size: 1.2em;
    line-height: 29px;
    font-weight: bold;
}

#followdeals .page_content_content .card .header_card .stats {
    float: right;
}

#followdeals .page_content_content .card .header_card .stats p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.2em;
    line-height: 29px;
    font-weight: bold;
}

#followdeals .page_content_content .card .header_card .description {
    float: right;
    width: 100%;
    margin-top: 20px;
}

#followdeals .page_content_content .card .header_card .description p {
    color: white;
    font-size: 1.1em;
    font-weight: normal;
}


#followdeals .page_content_content .card .body_card {
    overflow: hidden;
    padding: 20px;
}

#followdeals .page_content_content .card .body_card p {
    color: #777777;
    font-size: 1.1em;
    font-weight: normal;
    height: 96px;
}

#followdeals .page_content_content .card .body_card p a {
    color: #777777;
}

#followdeals .page_content_content .card .body_card p a:hover,
#followdeals .page_content_content .card .body_card p a:active {
    text-decoration: underline;    
}

#followdeals .page_content_content .card .body_card a.button {
    line-height: 30px;
    display: block;
    text-align: center;
    width: 100%;
    font-size: 0.9em;

    margin-top: 20px;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px; 
    border-radius: 3px;
}

#followdeals .page_content_content .card .body_card div.button_field {
    float: left;
    width: 100%;
    margin-top: 20px;
}

#followdeals .page_content_content .card .body_card div.button_field div.field {
    overflow: hidden;
    padding-right: 20px;
}

#followdeals .page_content_content .card .body_card div.button_field div.button_right {
    float: right;
}

#followdeals .page_content_content .card .body_card div.button_field div.button_right a {
    line-height: 32px;
    display: block;
    text-align: center;
    width:100px ;
    font-size: 0.9em;

    -moz-border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -o-border-top-right-radius: 3px;
    -ms-border-top-right-radius: 3px;
    -khtml-border-top-right-radius: 3px; 
    border-top-right-radius: 3px;

    -moz-border-bottom-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -o-border-bottom-right-radius: 3px;
    -ms-border-bottom-right-radius: 3px;
    -khtml-border-bottom-right-radius: 3px; 
    border-bottom-right-radius: 3px;
}

#followdeals .page_content_content .card .body_card div.button_field div.field input[type="text"] {
    outline: none;
    margin: 0;
    padding: 0 9px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: inline-block;
    background: #fff;
    height: 32px;
    line-height: 16px;



    -moz-border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -o-border-top-left-radius: 3px;
    -ms-border-top-left-radius: 3px;
    -khtml-border-top-left-radius: 3px; 
    border-top-left-radius: 3px;

    -moz-border-bottom-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -o-border-bottom-left-radius: 3px;
    -ms-border-bottom-left-radius: 3px;
    -khtml-border-bottom-left-radius: 3px; 
    border-bottom-left-radius: 3px;
}






#followdeals .page_content_content .card.facebook .header_card {
    background-color: #3b5998;
}

#followdeals .page_content_content .card.facebook .header_card .logo p {
    background-position: center left;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/other_pages/followdeals/icon_page_facebook.png);
    padding-left: 49px;
}

#followdeals .page_content_content .card.facebook .body_card a.button {
    color:#3b5998;
    border: 1px solid #3b5998;
}

#followdeals .page_content_content .card.facebook .body_card a.button:hover {
    color:white;
    background-color: #3b5998; 
}



#followdeals .page_content_content .card.twitter .header_card {
    background-color: #00b0ed;
}

#followdeals .page_content_content .card.twitter .header_card .logo p {
    background-position: center left;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/other_pages/followdeals/icon_page_twitter.png);
    padding-left: 57px;
}

#followdeals .page_content_content .card.twitter .body_card a.button {
    color:#00b0ed;
    border: 1px solid #00b0ed;
}

#followdeals .page_content_content .card.twitter .body_card a.button:hover {
    color:white;
    background-color: #00b0ed; 
}



#followdeals .page_content_content .card.google .header_card {
    background-color: #d13f2d;
}

#followdeals .page_content_content .card.google .header_card .logo p {
    background-position: center left;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/other_pages/followdeals/icon_page_google.png);
    padding-left: 67px;
}

#followdeals .page_content_content .card.google .body_card a.button {
    color:#d13f2d;
    border: 1px solid #d13f2d;
}

#followdeals .page_content_content .card.google .body_card a.button:hover {
    color:white;
    background-color: #d13f2d; 
}



#followdeals .page_content_content .card.whatsapp .header_card {
    background-color: #0c6157;
}

#followdeals .page_content_content .card.whatsapp .header_card .logo p {
    background-position: center left;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/other_pages/followdeals/icon_page_whatsapp.png);
    padding-left: 49px;
}

#followdeals .page_content_content .card.whatsapp .body_card a.button {
    color:#0c6157;
    border: 1px solid #0c6157;
}

#followdeals .page_content_content .card.whatsapp .body_card a.button:hover {
    color:white;
    background-color: #0c6157; 
}

#followdeals .page_content_content .card.whatsapp .body_card p#text_registration {
    display: none;
}



#followdeals .page_content_content .card.rss .header_card {
    background-color: #f88b02;
}

#followdeals .page_content_content .card.rss .header_card .logo p {
    background-position: center left;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/other_pages/followdeals/icon_page_rss.png);
    padding-left: 49px;
}

#followdeals .page_content_content .card.rss .body_card a.button {
    color:#f88b02;
    border: 1px solid #f88b02;
}

#followdeals .page_content_content .card.rss .body_card a.button:hover {
    color:white;
    background-color: #f88b02; 
}



#followdeals .page_content_content .card.alerte .header_card {
    background-color: #8276b9;
}

#followdeals .page_content_content .card.alerte .header_card .logo p {
    background-position: center left;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/other_pages/followdeals/icon_page_dealabs.png);
    padding-left: 47px;
}

#followdeals .page_content_content .card.alerte .body_card a.button {
    color:#8276b9;
    border: 1px solid #8276b9;
}

#followdeals .page_content_content .card.alerte .body_card a.button:hover {
    color:white;
    background-color: #8276b9; 
}



#followdeals .page_content_content .card.apps .header_card {
    background-color: #333333;
}

#followdeals .page_content_content .card.apps .header_card .logo p {
    background-position: center left;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/other_pages/followdeals/icon_page_apps.png);
    padding-left: 136px;
}

#followdeals .page_content_content .card.apps .body_card a.button {
    color:#333333;
    border: 1px solid #333333;
}

#followdeals .page_content_content .card.apps .body_card a.button:hover {
    color:white;
    background-color: #333333; 
}



#followdeals .page_content_content .card.newsletter .header_card {
    background-color: #60b35c;
}

#followdeals .page_content_content .card.newsletter .header_card .logo p {
    background-position: center left;
    background-repeat: no-repeat;
    background-image: url(//static.dealabs.com/images/other_pages/followdeals/icon_page_newsletter.png);
    padding-left: 56px;
}

#followdeals .page_content_content .card.newsletter .body_card a {
    color:#60b35c;
    border-top: 1px solid #60b35c;
    border-right: 1px solid #60b35c;
    border-bottom: 1px solid #60b35c;
}

#followdeals .page_content_content .card.newsletter .body_card a:hover {
    color:white;
    background-color: #60b35c; 
}

#followdeals .page_content_content .card.newsletter .body_card div.button_field div.field input[type="text"] {
    border: 1px solid #60b35c !important;
}
#followdeals .page_content_content .card.newsletter .body_card div.button_field div.field input[type="text"]:focus {
    border: 1px solid #60b35c !important;
}
/* A propos + followdeals */
