@charset "utf-8";
/*----------pages----------*/




.footer {
    text-align:center;
}
    .footer p { color:#727171; margin-top:18px;
    }
        .footer p a { color:#727171; margin:0 12px;
        }



/*----------custom----------*/

/****************************** index-内页 *****************************/
.page_left { float:left; width:25%;
}
.page_left_bg { background:#141414;
}
.page_right { float:right; width:74%; background:#222121; padding-left:1%;
}
.page_right_main { width:86%; margin:0 auto;
}
.page_right_dqwz { height:74px; line-height:74px; border-bottom:2px solid #0c0c0c; font-size:24px; color:#c2a672; font-family:微软雅黑; font-weight:bold; background:#282828;
}
    .page_right_dqwz span { float:right; color:#8d8d8d; font-size:12px; font-weight:normal;
    }
        .page_right_dqwz span a { color:#fff;
        }
.page_ny_m { background:#2d2d2d; min-height:1464px;
}
.page_ny_m h2 { color:#ebebeb; font-size:21px; font-weight:normal;
}
.page_ny_m .p1 { color:#8d8d8d;
}
    .page_ny_m .p1 a { color:#ebebeb;
    }
.page_ny_xq { background:#262626; text-align:center;
}
    .page_ny_xq span { display:inline-block; color:#bab9b9; width:33.33%; margin-top:20px;
    }
    .page_ny_xq input { vertical-align:middle; margin-right:6px;
    }
.page_ny_xq_zk { height:42px; line-height:42px; text-align:center; font-size:14px; color:#bab9b9; font-weight:bold; cursor:pointer;
}
.page_ny_xq_zhm { height:67px; line-height:67px; text-align:center; background:#262626; color:#fff; font-size:14px; font-weight:bold;
}
    .page_ny_xq_zhm input { vertical-align:middle; width:40%; height:24px; line-height:24px; border:none; text-indent:5px;
    }
    .page_ny_xq_zhm a { display:inline-block; vertical-align:middle; width:78px; height:26px; line-height:26px; background:url(../img/page_ny_hqjhm.png) no-repeat; font-size:12px; color:#e2d7c2; margin-left:6px;
    }
.page_ny_sylc h4 { color:#ebebeb; font-size:14px;
}
.page_ny_sylc p { color:#bab9b9; margin-top:13px;
}
.page_ny_sylc .h41 { color:#bab9b9; margin-top:23px;
}
.page_ny_sylc img { margin-top:13px;
}



/***********************************************************************/
.page_xwzx_m ul li { height:47px; line-height:47px; border-top:1px dashed #575757;
}
.page_xwzx_m ul .first { border-top:none;
}
    .page_xwzx_m ul li a { color:#8d8d8d;
    }
    .page_xwzx_m ul li span { float:right; color:#8d8d8d;
    }
.page_count { text-align:center;
}
    .page_count a { color:#8d8d8d; margin:0 10px; vertical-align:middle;
    }
    .page_count .a1 { margin:0 5px;
    }
    .page_count input { vertical-align:middle; width:44px; height:14px; line-height:14px; border:none; text-indent:3px; margin-left:5px;
    }
.banner1.banner_sp img { border:none;
}
.banner1.banner_sp { position:relative;
}
.banner_sp p { position:absolute; bottom:13px; left:0; width:100%; color:#ebebeb; font-size:14px; text-align:left; text-indent:26px;
}
    .banner_sp p img { vertical-align:middle;
    }
    .banner_sp p a { margin-left:6px;
    }
.page_l_fwqxz { background:#141414;height:310px;
}
    .page_l_fwqxz .div_title { margin-left:15px;
    }