/*
Default style for WP-PageNavi plugin

http://wordpress.org/extend/plugins/wp-pagenavi/
*/

.wp-pagenavi {
	clear: both;
	margin: 20px 0;
}

.wp-pagenavi a, .wp-pagenavi span {
	color: #FFF;
	text-decoration: none;
	padding: 5px 8px;
	background:	#C61800;
	margin: 2px;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
	background: #000;
}

.wp-pagenavi span.current {
}

.wp-pagenavi span.pages,
.wp-pagenavi span.extend {
	background: none;
	color: #444;
}