
@media print {
html, body {
	background: #ffffff;
}
.lay-barra {
	display: none;
}
#lay-header {
	display: none;
}
	
#lay-main > .left {
	display: none;
}

#lay-main > .center > .title {
	display: none;
}

#lay-footer {
	display: none;
}

#lay-site-shadow {
	width: auto;
	background: none;
}

#lay-all, #lay-site, #lay-main-bg, #lay-main, .home #lay-main {
	background: none;
}

#lay-main > .center {
	float: none;
	padding-right: 0;
}
.share {
	display: none;
}
.article-tools {
	display: none;
}

.article-link-buttons {
	display: none;
}

.article-comments {
	display: none;
}

}