.zave-os-btn,.zave-os-btn i{
	background: url('http://g.delfi.ee//mj/m/zv/zave_sisuplokk_btn_arrow.png');
}
.zave-os-btn {
	position: relative;
	float: left;
	width: 140px;
	height: 34px;
	font: 11px arial, Helvetica, sans-serif bold;
	font-weight: bold;
	text-align: center;
	line-height: 34px;
	color: white;
	padding-right: 14px;
}
.zave-os-btn i{
	position: absolute;
	display: block;
	width: 8px;
	height: 16px;
	top: 8px;
	right: 8px;
	background-position: 0 100%;
}
