body {
	background-color: #efefef;
}

#inner_container {
	margin: 15px auto;
	background-color: #ffffff;
	padding: 15px;
	border: 1px solid #D5D5D5;
}

@media ( max-width : 767px) {
	h1,.h1 {
		font-size: 22px;
	}
	h2,.h2 {
		font-size: 18px;
	}
	h3,.h3 {
		font-size: 14px;
	}
	h4,.h4 {
		font-size: 12px;
	}
	h5,.h5 {
		font-size: 12px;
	}
	h6,.h6 {
		font-size: 12px;
	}
}

.errors li{
	color: #ff0000;	
}

#sectionNavigation {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    font-size: 85%;
    border: 1px solid #eeeeee;
}
#sectionNavigation li {
    display: inline-block;
}
#sectionNavigation a {
    display: inline-block;
    padding: 5px;
}
#sectionNavigation li.active > a,
#sectionNavigation li.active > a:hover,
#sectionNavigation li.active > a:focus {
    background-color: #f0ad4e;
}