#lightbox_sa img{ border: none; clear: both;}

#lightbox_sa{
	/* background-color:#eee; */
	/*margin-bottom: 10px;*/
	padding: 0px; /*10px*/
	border-bottom: 0px solid #666; /*2px*/
	border-right: 0px solid #666; /*2px*/
/* background-image: url(/library/websites/com/brgnet/img/lbox/overlay.png); */
}
/*
* html #lightbox_sa{
	background-color: #fff;
	back\ground-color: transparent;
	background-image: url(blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/library/brgnet/img/lbox/overlay.png", sizingMethod="scale");
}
*/
#lightboxDetails_sa{
	font-size: 1.2em;
	padding: 0px;
	/*padding-top: 0.4em;*/
}
#lightboxCaption_sa{ float: left; }
#keyboardMsg_sa{ float: right; }
#closeButton_sa{ top: 21px; right: 20px; }

#overlay_sa img{ border: none; }

#overlay_sa{ padding: 0px; background-image: url(/library/websites/com/brgnet/img/lbox/overlay.png); }

* html #overlay_sa{
	background-color: #333;
	back\ground-color: transparent;
	background-image: url(blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/library/brgnet/img/lbox/overlay.png", sizingMethod="scale");
}

/**/
#lightboxImage_sa{
	/*background-color:#ff0000;
	padding: 0px; /*10px*/
	border-bottom: 0px solid #666; /*2px*/
	border-right: 0px solid #666; /*2px*/
	/*background-image: url(/library/websites/com/brgnet/img/lbox/overlay.png);*/
}


* html #lightboxImage_sa{
	background-color: #fff;
	back\ground-color: transparent;
	background-image: url(blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/library/brgnet/img/lbox/overlay.png", sizingMethod="scale");
}




kbd {
    background-color: #DDDDDD;
    border-bottom-color: #CCCCCC;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #CCCCCC;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    color: #555555;
    font-family: inherit;
    font-size: inherit;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 3px;
    padding-top: 0;
}
