/***********************************************
socialmix  1.3.1
jQuery Socialmix Timeline 
Copyright (c) Andrea Di Toro 
http://kodiga.com/jquery-socialmix-timeline/ 
***********************************************/
/***********
FONT & GENERIC
*********/
/******
DROPDPWN 
*******/
/******
SCROLLTOP BTN
*****/
/*****
TIMELINE
*****/
/**************
CARD 
***********/
/****************
BUTTONS AND DROPDOWN 
****************/
.sm-container {
  background-color: #fff;
}
.sm-container .sm-filter-container .sm-dropdown-btn {
  background-color: #313335;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 4px;
}
.sm-container .sm-filter-container .sm-dropdown-content {
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.sm-container .sm-filter-container .sm-dropdown-content a {
  color: black;
  border-bottom: 1px solid #efefef;
}
.sm-container .sm-filter-container .sm-dropdown-content a:hover {
  background-color: #eee;
}
.sm-container .sm-card-container .sm-scrollToTop {
  border-radius: 100%;
  color: #eee;
  background-color: #666;
}
/*******************
TIMELINE
*******************/
.sm-container .sm-card-container .sm-timeline {
  background-color: #313335;
}
.sm-container .sm-card-container .sm-timeline:after,
.sm-container .sm-card-container .sm-timeline:before {
  border-color: #313335;
  background-color: #fff;
}
/*******************
CARD
*******************/
.sm-container .sm-card-container .sm-card {
  min-width: 150px;
  /*************************
    CARD HEADER
    *************************/
  /*****************
    CARD INNER
    ******************/
}
.sm-container .sm-card-container .sm-card .sm-share-facebook,
.sm-container .sm-card-container .sm-card .fa-facebook-square {
  color: #22407f;
}
.sm-container .sm-card-container .sm-card .sm-share-twitter,
.sm-container .sm-card-container .sm-card .fa-twitter-square {
  color: #55acee;
}
.sm-container .sm-card-container .sm-card .sm-share-gplus,
.sm-container .sm-card-container .sm-card .fa-google-plus-square {
  color: #dd4b39;
}
.sm-container .sm-card-container .sm-card .sm-share-linkedin,
.sm-container .sm-card-container .sm-card .fa-linkedin-square {
  color: #0077b5;
}
.sm-container .sm-card-container .sm-card .sm-show-more {
  background-color: #313335;
}
.sm-container .sm-card-container .sm-card .sm-show-more:hover {
  background: #8ca3af;
}
.sm-container .sm-card-container .sm-card .sm-card-header {
  background-color: #313335;
}
.sm-container .sm-card-container .sm-card .sm-card-header:before {
  background-color: #313335;
}
.sm-container .sm-card-container .sm-card .sm-card-header .sm-date {
  color: #fff;
  font-size: 14px;
}
.sm-container .sm-card-container .sm-card .sm-card-header .sm-btn {
  color: #666;
  border-radius: 3px;
  padding: 0 5px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.sm-container .sm-card-container .sm-card .sm-card-header .sm-btn:hover {
  background: #eeeeee;
}
.sm-container .sm-card-container .sm-card .sm-card-header .sm-share-box {
  border: 2px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
}
.sm-container .sm-card-container .sm-card .sm-time-point {
  border-color: #313335;
  background-color: #fff;
}
.sm-container .sm-card-container .sm-card .sm-time-point:before,
.sm-container .sm-card-container .sm-card .sm-time-point:after {
  background-color: #fff;
}
.sm-container .sm-card-container .sm-card .sm-card-inner {
  background-color: #fff;
  border-color: #fff;
  border-width: 1px;
}
.sm-container .sm-card-container .sm-card .sm-card-inner .sm-card-body .sm-title a {
  color: #313335;
}
.sm-container .sm-card-container .sm-card .sm-card-inner .sm-card-footer .sm-user .sm-avatar:before,
.sm-container .sm-card-container .sm-card .sm-card-inner .sm-card-footer .sm-user .sm-avatar:after {
  background-color: #e8e8e8;
}
.sm-container .sm-card-container .sm-card .sm-card-inner .sm-card-footer .sm-like-box .sm-like {
  border-color: #e8e8e8;
  color: #444;
}
.sm-container .sm-card-container .sm-card .sm-card-inner .sm-card-footer .sm-users-box .sm-user .sm-avatar {
  border-radius: 0;
}
.sm-container .sm-card-container .sm-card .sm-source {
  background-color: transparent;
}
.sm-container .sm-right-side .sm-source {
  right: 10px;
  bottom: 4px;
}
.sm-container .sm-left-side .sm-source {
  left: 10px;
  bottom: 4px;
}
.sm-one-column-small .sm-card-container .sm-card {
  box-shadow: none;
}
/******************
  FONTS
*****************/
.sm-container {
  font-family: inherit;
  font-size: 14px;
  color: #444;
}
.sm-container a {
  color: #313335;
}
.sm-container .sm-small-font {
  font-size: 12px;
}
.sm-container .sm-large-font {
  font-size: 18px;
  line-height: 20px;
}
.sm-container .sm-icon:after,
.sm-container .sm-icon {
  font-size: 14px;
}
.sm-container .sm-large-icon,
.sm-container .sm-large-icon:after {
  font-size: 26px;
}

/* Fixes */
.sm-container h1, .sm-container h2, .sm-container h3, .sm-container h4, .sm-container h5,
.sm-container .sm-card-container .sm-card .sm-card-header .sm-date {
  font-family: "Noto Kufi Arabic", 'Open Sans', sans-serif;
}

.sm-container .sm-card .sm-card-inner {
  padding: 10px 2px;
}
.sm-container .sm-card .sm-card-inner .sm-card-body .sm-image-box .sm-image-item {
  margin: 0;
}
.sm-container .sm-card .sm-card-inner .sm-card-body .sm-title {
  margin-bottom: 15px;
}
.sm-container .sm-card .sm-card-inner .sm-card-body .sm-loaded img {
  border-radius: 0;
}
.sm-container .sm-card .sm-card-inner .sm-card-body .sm-image-box .sm-image-item {
  background: transparent;
}
.sm-container .sm-card .sm-card-inner .sm-card-body .sm-loaded .sm-single-img {
  width: 100%;
}

/*RTL fixes*/

html[dir="rtl"] .sm-container .sm-left-side .sm-card-header {
  text-align: left;
}
html[dir="rtl"] .sm-container .sm-right-side .sm-card-header {
  text-align: right;
}

html[dir="rtl"] .sm-two-column .sm-card-container .sm-left-side {
  right: 0;
  left: 50%;
  margin-right: 0;
  margin-left: 40px;
}
html[dir="rtl"] .sm-two-column .sm-card-container .sm-right-side {
  left: 0;
  right: 50%;
  margin-left: 0;
  margin-right: 40px;
}

html[dir="rtl"] .sm-two-column .sm-card-container .sm-left-side .sm-time-point {
  right: auto;
  left: -52px;
}
html[dir="rtl"] .sm-two-column .sm-card-container .sm-right-side .sm-time-point {
  left: auto;
  right: -52px;
}

html[dir="rtl"] .sm-container .sm-right-side .sm-card-header::before {
  right: -8px;
  left: auto;
}
html[dir="rtl"] .sm-container .sm-left-side .sm-card-header::before {
  left: -8px;
  right: auto;
}

html[dir="rtl"] .sm-one-column .sm-card-container .sm-card {
  margin-left: 0;
  margin-right: 30px;
}
html[dir="rtl"] .sm-one-column .sm-card-container .sm-right-side .sm-time-point {
  left: auto;
  right: -40px;
}

html[dir="rtl"] .sm-container .sm-card .sm-card-inner .sm-card-body .sm-loaded .sm-video::before {
  content: "فيديو";
}