div.why-us .why-pads .pad {
    /*width : 327px;*/
    width : 31%;
    margin: 8px 6px 0 0;
}

.spriteWhyOVH {
    background-image: url('../../../images/sprites/spriteWhyOVH.png');
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-data {
    width: 327px;
    height: 174px;
    background-position: -5px -5px;
}

.sprite-network{
    width: 327px;
    height: 174px;
    background-position: -5px -189px;
}

.sprite-support {
    width: 327px;
    height: 174px;
    background-position: -5px -373px;
}

.sprite-components {
    width: 327px;
    height: 174px;
    background-position: -342px -5px;
}

.sprite-security {
    width: 327px;
    height: 174px;
    background-position: -342px -189px;
}

.sprite-dev {
    width: 327px;
    height: 174px;
    background-position: -342px -373px;
}


/*@media screen and (min-width : 972px) and (max-width : 1799px) {
    div.why-us .why-pads .pad:nth-child(odd) {
        margin-left : 15%;
    }
}*/
