a {
color: #43A27C;
text-decoration: none;
}
a strong{
color: #43A27C;
}

li{
color: #696969;
}

strong{
    color: #000;
}
.red{
color: Red;
}
.green{
color: Green;
}
#logo a{
    color: Black;   
}

.rss a{
color: #fff;
background-color: #FF6226;
}
#nobackg{
    background-color: #000;  
}
#nobackg a{
color: #878787;
}

.ad{
background: #F5F5F5;
}

#form h2{
color: Black;
}

#photonav{
color: #878787;
}

body{
    background-color: #fff;
    font-family: Georgia, Times New Roman, Times, serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

h1{  
    font-size: 22px;
    color: Black;
    margin: 0;
    padding: 0;
    
    
    letter-spacing: 2px;
}
h2{   
        font-size: 19px;
    font-weight: normal;
    margin: 30px 5px 0 0;
    padding: 0;
    color: #808080;
    
}
h3{   
        font-size: 19px;
        line-height: 26px;
    font-weight: normal;
    padding: 30px 0 5px 0;
   margin: 0;
    clear: both;
    color: #4D4B4B;
}

h3 img{
    border: none;
    margin: 0px;
    padding: 0px;
    clear: both;
}


h4{
    
    font-size: 19px;
    padding: 0;
    margin: 15px 0px;
    font-weight: normal;
    clear: both;
    color: #808080;
}
h6{
    
    font-size: 11px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #a9a9a9;
}
.here{
    font-size: 20px;
    font-weight: normal;
    margin: 0;
}

img{
    border: none;
}

input, select, textarea, form{
    font-size: 17px;
    font-family: Georgia, Times New Roman, Times, serif;
    margin: 0;
    padding: 0;
}

li{   
    margin: 6px 0;
}

p{   
    margin: 5px 0 10px 0;
    color: #696969;
    text-align: justify;
}

#centro ul, #derecha ul{
    margin: 5px 0;
    padding:0 ;
}
#centro ul li, #derecha ul li{
    list-style: none;
    padding-left: 10px;    
}

.bloque{
    margin: 3px 0 6px 0;
    padding: 10px 0;
    display: block;
}
.center{
    text-align: center;
}

.noborder{
    border: none;
}

.red{

font-weight: bold;
}
.green{

font-weight: bold;
}
#contenedor{
    width: 960px;
    margin: 0 auto;
    position: relative;
}
#cabecera{
    
    width: 960px;
    margin: 30px 0 0 0;
    padding: 0 0 50px 0;
    border-bottom: 1px solid #dcdcdc; 
}
#pie{
font-size: 18px;
width: 960px;
    margin: 40px 0 0 0;
    padding: 25px 0 60px 0;
    border-top: 1px solid #dcdcdc;
    clear: both;    
}
#pie ul{
margin: 0;
padding: 0;
}
#pie li{
display: inline;
margin: 0 40px 0 0;
}
#pie_l{
width: 480px;
float:left;
}
#pie_r{
width: 480px;
text-align: right;
float: left;
}

#logo{
    width: 330px;
    float: left;  
    margin-left: 5px;   
}

#nav{
    width: 480px;  
    font-size: 18px;
    float: left;
    
}
#nav li{
display: inline;
margin: 0 40px 0 0;
}
#nav ul{
margin: 0;
padding: 0;
text-align: right;
}
#nav input{
border: 1px solid #dcdcdc;
background: #fff;
}

#search_form{
float: left;
padding: 0;
margin: 0;
}
#search_form input
{
width: 110px;
font-size: 15px;
box-shadow: 0;
margin: 0;
padding:2px 2px 2px 25px;
border: 1px solid #cecece;
border-radius: 3px;
background: url(http://kindgirls.com/graf/buscar.png) no-repeat 5px #fcfcfc;
line-height: 20px;
}
#izquierda{
    margin: 0 0 15px 5px;
    float: left;
    width: 530px;
}
#centro{
    float: left;
    width: 390px;
    margin: 0 0 0 30px;
}

#derecha{    
    margin: 0 0 15px 15px;
    float: left;
        width: 170px;
    overflow-x: hidden;
}

#date{
    padding: 5px 0;
    margin: 5px 0;
    clear: both;
} 
#date h4{
    color: #2F2F2F;
    font-size: 15px;
    font-weight: normal;
    margin: 7px 0;
    padding: 5px 0;
    text-align: left;
}

#pb3 h4{
    margin: 10px;
    padding: 15px;
    text-align: center;
}
#photo{
        text-align: center;
}
#photo img{
    
    margin: auto;    
}
#photo h2{
margin: 8px 0 4px 0;
}
#photo h3{
margin: 14px 0;
}

#pub2{
    text-align: center;
}

#pub2 img{
    border: 1px solid #D3D3D3;
    margin: auto;
    padding: 1px;
}
.ad{
text-align: center;
margin: 0 0 10px 0;
padding: 10px 0 0 0;
}

.video_list{
    width: 300px;
    height: 260px;
    text-align: center;
    float: left;
    margin: 10px;
    font-size: 15px;
}
.gal_list{
width: 300px;
height: 360px;
text-align: center;
float: left;
font-size: 15px;
margin: 10px;
}
.gal_list img{
max-width:300px; 
max-height:300px;
}
.model_list{
width: 150px;
height: 200px;
text-align: center;
float: left;
font-size: 15px;
margin: 10px 20px;
}

.model_list img{
max-width:150px; 
max-height:150px;
}
.gallery_list, .gallery_list2, .gallery_list3{
   width: 124px;
    height: 165px;
    text-align: center;
    float: left;
    margin-top: 10px;
    font-size: 12px;
}
.gallery_list4{
 width: 170px;
 float: left;
 padding: 10px 10px 0 0;
}
.gallery_list2{
 width: 122px;
 height: 135px;
}
.gallery_list3{
width: 154px;
 height: 185px;
}
.gallery_list3 img{
max-width:150px; 
max-height:150px;
*width: 100px;

}
.bloq_daily{
    width: 185px;
    height: 300px;
    text-align: center;
    float: left;
}
.paginar{
    clear: both;
    display: block;
    padding:0;
    margin: 30px 0;
    font-size: 18px;    
}
.pag,.pag_select{
width: 50px;
height: 50px;
text-align: center;
border: 1px solid #cecece;
/*para Firefox*/
-moz-border-radius: 25px 25px 25px 25px;
/*para Safari y Chrome*/
-webkit-border-radius: 25px 25px 25px 25px;
border-radius: 25px 25px 25px 25px;
margin: 0 5px;
padding: 10px 17px;
font-size: 20px;
}
.pag_select{
background-color: #43A27C;
border-color:  #43A27C;
color: #fff;
}
#gallery_up{
width: 960px;
clear: both;

}
#up_izq, #down_izq{
width: 50%;
float: left;
height: 80px;
}
#up_der, #down_der{
text-align: right;
float: left;
width: 50%;
height: 80px;

}
#down_izq, #down_der{
font-size: 18px;
height: 60px;
}
#up_der form{
display: inline;
}
#gallery_down{
clear: both}
#nav_gal_down{
float: left;
width: 300px;
}

#minicont{
position:relative;     
width:600px;  
margin: 100px auto 0 auto;
}

#minicont input{
font-size: 18px;
margin: 4px 0 10px 0;
font-family: Georgia, Times New Roman, Times, serif;
}

#form  {
margin: 10px 0;
padding: 15px;
}

#form h2{
margin: 0 0 10px 0;
}

#minicont h1 a{
color: black;
letter-spacing: 2px;
}

#randon, #updates{
clear: both;
}

#randonl, #randonr, #columna1, #columna2{
width: 180px;
float:left;
margin: 0 10px 0 0;
}

#randon img, #updates img{
margin:  0 0 5px 0;
padding: 0;
}

#abc{
font-size: 21px;
width: 100%;
letter-spacing: 9px;
padding: 30px 0;
}
#abc li{
display: inline;
width: 36px;
}
#abc ul{
padding: 0;
width: 100%;
}

#model_photo{
float: left;
padding:0 15px 15px 0;
}
#model_info{
height: 140px;
float: left;
padding:0 0 15px 0;
}
#model_info h3{
margin: 0 0 5px 0;
}
#photonav{
width: 700px;
display: inline;
height: 30px;
text-align: center;
}
#photopre, #photonext{
width: 150px;
display: inline;
height: 30px;}
.nota{
background-color: #f5f5f5;
padding: 20px;
}
iframe{
border: none;
overflow: inherit;
margin: 0 0 0 23px;}
.pub{
font-size: 30px;
margin:  20px 0;
line-height: 35px;
padding: 20px 0;
clear:both;
text-align: center;
}
.pub strong{
display: block;
font-size: 70px;
line-height: 80px;
padding-left: 30px;
}
.more{
font-size: 20px;
margin: 20px 0 30px 0;
}
.up{
font-family: sans-serif;}
#text{
padding: 0 80px;
font-size: 21px;
line-height: 34px;
}
#text h3{
font-size: 27px;
padding: 30px 0 17px 0;
}
.photo_pag{
width: 100%;
}
.photo_pag ul{
text-align: center;
padding: 0;
margin:  15px 0;
}
.photo_pag li{
padding: 0 40px;
display: inline;
}
#jwp,#vid{
clear: both;
}
#gform select{
 margin: 30px 0 5px 0;
   
}
.email{
font-size: 26px;
}
.note{
background-color: #fffaa9;
padding: 20px; 

}