/* start statistics new layout */

.alt_text {
	display: none;
}

.rounded_container.dark_border.toolbar_container {
	position: relative;
	height: 29px;
	XXXz-index: 9999;
}

		.rounded_container.dark_border.toolbar_container .stat_toolbar {
			float: right;
			clear: none;
			width: 480px;
			padding: 5px 5px 0 0;
		}

				.rounded_container.dark_border.toolbar_container .stat_toolbar .combo_box {
					float: right;
					display: inline;
					background: transparent url(../images/select_box.gif) no-repeat -5px -5px;
					height: 19px;
					width: 168px;
					margin: 0 0 0 5px;
				}

				.rounded_container .stat_toolbar #season_combo .combo_box ,
				.rounded_container .stat_toolbar #sports_combo2 .combo_box ,
				.rounded_container .stat_toolbar #phase_combo .combo_box {
					background: transparent url(../images/select_box_medium.gif) no-repeat -5px -5px;
					width: 120px;
				}
				.rounded_container .stat_toolbar #sports_combo .combo_box {
					background: transparent url(../images/select_box_small.gif) no-repeat -5px -5px;
					width: 83px;
				}

		.rounded_container.dark_border.toolbar_container .icons_toolbar {
			background-image: none;
			height: 29px;
		}

		.rounded_container.dark_border.toolbar_container .icons_toolbar span.text {
			float: left;
			clear: none;
			width: 118px;
			padding: 8px 10px;
			color: #ea0202;
			text-transform: uppercase;
			font-weight: bold;
			margin-right: 20px;
		}

		/*.rounded_container.dark_border.toolbar_container .stat_toolbar .combo_box ul {
			overflow-y: scroll;
			overflow-x: hidden; 
		}*/

				.rounded_container.dark_border.toolbar_container .icons_toolbar .nav_link.text_only {
					float: left;
					font-family:Verdana,sans-serif;
					width: auto;
					height: auto;
					padding: 0;
					margin: 8px 0 0 7px;
					background: transparent none no-repeat;
					font-size: 11px;
				}

				.rounded_container.dark_border.toolbar_container .icons_toolbar .nav_link.text_only:hover,
				.rounded_container.dark_border.toolbar_container .icons_toolbar #active_icon.text_only {
					color: #fe850c;
				}

.rounded_container.team_details {
	width: 100%;
	background-color: #262626;
	z-index: 0;
}

		.rounded_container.team_details .team_details_container {
			height: 70px;
			padding: 10px;
		}

		.rounded_container.team_details .team_games {
			float: left;
			width: 560px;
			margin: 3px 10px 3px 10px;
		}

				.rounded_container.team_details .team_games .team_name {
					padding-right: 19px;
					width: 35%;
				}

				.rounded_container.team_details .team_games .team_name h2 {
					font-family: Arial, sans-serif;
					font-size: 14px;
					font-weight: bold;
					color: #fe850c;
					padding-bottom: 4px;
				}

				.rounded_container.team_details .team_games .team_name h2 a {
					color: #fe850c;
				}

				.rounded_container.team_details .team_games .previous_game,
				.rounded_container.team_details .team_games .next_game,
				.rounded_container.team_details .team_games .game_date {
					position: relative;
					height: 31px;
					text-align: center;
					background-color: #333333;
					font-size: 11px;
				}
				.rounded_container.team_details .team_games .previous_game p {
					width: 317px;
				}

				.rounded_container.team_details .team_games .game_date {
					width: 64px;
					padding: 0 9px;
					border-left: 2px solid #2a2a2a;
				}

				.rounded_container.team_details .team_games th {
					height: 2px;
				}

				.rounded_container.team_details .team_games p {
					padding-bottom: 3px;
				}

				.rounded_container.team_details .team_games span {
					color: #a6a6a6;
					font-weight: normal;
				}

		.rounded_container.team_details table.team_info_container {
			float: left;
			height: 70px;
		}

				.rounded_container.team_details table.team_info_container .team_info {
					font-weight: bold;
					margin-left: 15px;
					width: 275px;
					line-height: 10px;
					font-size: 11px;
				}

						.rounded_container.team_details table.team_info_container .team_info td {
							padding-bottom: 3px;
							vertical-align: top;
						}

						.rounded_container.team_details table.team_info_container .team_info .label_td {
							font-weight: normal;
							padding-right: 10px;
							width: 62px;
							color: #999;
							font-size: 11px;
						}

		.rounded_container.team_details .team_pic {
			float: left;
			height: auto;
		}

				.rounded_container.team_details .team_pic img,
				.rounded_container.team_details .team_pic span {
					background-color: #333333;
					float: left;
					width: 49px;
					height: 64px;
					margin: 0 1px 0 0;
					border: 3px solid #585858;
				}
		.rounded_container.team_details .team_logo {
			height: 70px;
			width: 70px;
		}
		.rounded_container.team_details .team_logo img {
			height: 70px;
			width: 70px;
			padding: 0;
			border: 1px solid #585858;
		}
		.rounded_container.team_details .team_logo span {
			background-color: #333333;
			border: 1px solid #585858;
			height: 70px;
			width: 70px;
		}

		.rounded_container.team_details .statistic_nav {
			background-color: #1A1A1A;
			height: 11px;
			padding: 9px 10px 11px;
		}
				.rounded_container.team_details .statistic_nav a {
					color: #a6a6a6;
					font-size: 11px;
					margin-right: 5px;
					text-decoration: none;
				}
					.rounded_container.team_details .statistic_nav a:hover {
						text-decoration: none;
						color: #ff8400;
				}

						.rounded_container.team_details .statistic_nav a.active_link {
							color: #ff8400;
						}
/* end statistics new layout */


/* betfair ratio box in news */
.bet_1_box {
	position: relative;
	padding: 7px 9px 20px;
	height: 85px;
	width: 269px;
	margin: 10px 10px 0 0;
	font-size: 10px;
	overflow: hidden;
	float: left;
	background: url(../images/bet_1_box.png) no-repeat 0 0;
	line-height: 1;
}
.bet_1_box .shadow {
	background: url(../images/betfair_box_shadow.png) no-repeat bottom center;
	height: 106px;
}
.bet_1_box .teams {
	font-weight: bold;
	padding-bottom: 2px;
}
.bet_1_box .date {
	color: #a6a6a6;
}
.bet_1_box .bets {
	position: absolute;
	top: 56px;
	right: 10px;
	overflow: hidden;
}
.bet_1_box .bets div {
	float: left;
	width: 38px;
	margin-left: 11px;
	display: inline;
	text-align: center;
}
#news_text_inner a.ratio {
	color: #fff;
}
#news_text_inner a.ratio:hover {
	text-decoration: underline;
}
.bet_1_box .bet_link {
	top: 48px;
	display: block;
	height: 22px;
	left: 0;
	position: absolute;
	width: 110px;
}