body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 15px;
    background: url(images/bg.png);
    color: #666666;
}
a {
    text-decoration: none;
    color: #137488;
}
img { border: none }
#content {
    width: 1008px;
    margin: -200px auto 0;
}
#header {
    background: url(images/top_bg.png);
    height: 213px;
}
.logo { padding: 0px 210px 0 0px }
#navigation { float: right }
#twitter-widget-0 { width: 100% }
.nav {
    list-style: none;
    line-height: 18px;
    padding-top: 12px;
    font-size : 13px;
    font-weight: bold;
    text-shadow: -1px -1px #148aa2;
}
.nav li {
    float: left;
    padding-left: 26px;
}
.nav li a {
    float: left;
    display: block;
    text-decoration: none;
    color: #FFF;
}
.nav li a span {
    float: left;
    display: block;
    padding: 5px 16px 5px 16px;
}
.nav li.current a, .nav li a:hover {
    color: #fff; /*left tab image path*/
    text-shadow: -1px -1px #e2bc10;
}
.nav li.current a span, .nav li a:hover span {
    color: #fff; /*right tab image path*/
    text-shadow: -1px -1px #e2bc10;
    background-color: #F4CF44;
    -moz-border-radius: 25px;
    border-radius: 30px;
    border: 5px solid #11849B;
    margin: -5px;
}
.page {
    background: #fcfcfc;
    min-height: 600px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.3);
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    margin-top: 10px;
    padding: 1px;
}
.all {
    -moz-box-shadow: inset 0 0 15px #eee;
    -webkit-box-shadow: inset 0 0 15px #eee;
    box-shadow: inset 0 0 15px #eee;
    padding: 15px 0 0 15px;
    min-height: 600px;
}
.highlight {
    background: #fdfdfd;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #e1e1e1;
    width: 968px;
    padding: 8px 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03);
}
.login {
    text-align: right;
    font-style: italic;
    margin-right: 10px;
}
.login a { color: #137488 }
.login a:hover { text-decoration: underline }
.socialb {
    text-align: left;
    margin: auto auto 2px 5px;
}
.info {
    color: #137488;
    text-align: center;
    font-size: 32px;
    text-shadow: 1px 1px 0px #fff, 2px 2px 0px #eee;
    letter-spacing: -1px;
    height: 180px;
    padding: 10px 0 0 0;
    font-family: 'Abel', sans-serif;
    -webkit-font-smoothing: antialiased;
}
.banner {
    float: right;
    margin-top: 6px;
}
.watch { margin-top: 15px }
.shadow {
    display: block;
    background: url(images/shadow.png) 0 0 no-repeat;
    height: 28px;
}
.buttons { margin: -25px 0 0 0px }
.main { margin-top: 20px }
.sizeinfo, .mirrorinfo {
    font-size: 12px;
    color: #aaa;
}
.additional {
    color: #137488;
    font-size: 12px;
    text-decoration: underline;
    background: url(images/plus.png) 0 0 no-repeat;
    padding: 0 22px;
}
.expanded {
    color: #137488;
    font-size: 12px;
    text-decoration: underline;
    background: url(images/minus.png) 0 0 no-repeat;
    padding: 0 22px;
}
.options input, .url, .userform input, .usertable input {
    z-index: 0;
    padding: 6px 0;
    color: #888;
    font-size: 14px;
    border: 1px solid #D9D9D9;
    outline: none;
    display: inline-block;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    height: 21px;
}
.filearea input {
    z-index: 0;
    padding: 6px 0;
    color: #666;
    font-size: 14px;
    border: 1px solid #D9D9D9;
    outline: none;
    display: inline-block;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    height: 21px;
}
.options input:hover, .url:hover, .userform input:hover, .usertable input:hover, .filearea input:hover {
    background: #fcfcfc;
    border: 1px solid #bbb !important;
}
.options input:focus, .url:focus, .userform input:focus, .usertable input:focus, .filearea input:focus {
    background: #fff;
    border: 1px solid #209DB7 !important;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1),0 1px 0px rgba(0, 171, 183, 0.25);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1),0 1px 0px rgba(0, 171, 183, 0.25);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1),0 1px 0px rgba(0, 171, 183, 0.25);
    color: #333;
}
.left {
    float: left;
    margin: 0 0 0 65px;
}
.right { margin: 0 55px 0 0 }
.addinfo { margin: 15px 0 0 0 }
.hosts1 {
    text-align: center;
    font-size: 16px;
}
.hosts2 {
    text-align: left;
    margin: 0px 0 0 60px;
}
.term {
    font-size: 12px;
    background: #FFFBEF;
}
.term a {
    color: #137488;
    text-decoration: underline;
}
.term span {
    color: #C40000;
    font-size: 13px;
}
.separator {
    background: url(images/separator.png) 0 0 no-repeat;
    height: 42px;
    margin: 20px 0;
    clear: both;
}
.girl { text-align: left }
.features {
    float: right;
    font-size: 12px;
    margin: 0 15px 0 0;
}
/*.features .first { background:url(images/first.png) 0 0 no-repeat; padding: 0 10px; color: #FFF; text-shadow: -1px -1px #148aa2; width: 242px;height: 18px!important;}
.second { background:url(images/second.png) 0 0 no-repeat; padding: 10px; color: #FFF; text-shadow: -1px -1px #148aa2; width: 100px;}
.third{ background:url(images/third.png) 0 0 no-repeat; padding: 10px; color: #FFF; text-shadow: -1px -1px #148aa2; width: 100px;}
.fourth{ background:url(images/fourth.png) 0 0 no-repeat; padding: 10px; color: #FFF; text-shadow: -1px -1px #148aa2; width: 98px;}
.leftcell { font-weight: bold;font-size: 13px; text-align: left; padding: 12px; background: #fcfcfc; border-left: 1px solid #eee; border-bottom: 1px solid #e3e3e3; border-right: 1px solid #e3e3e3;}
.procell {  font-weight: bold;font-size: 14px; color: #1c7d94; background: #fcfcfc;  border-bottom: 1px solid #e3e3e3;  border-right: 1px solid #e3e3e3;}
.regcell {  background: #fcfcfc;  border-bottom: 1px solid #e3e3e3;  border-right: 1px solid #e3e3e3;}
.nonregcell { background:url(images/border.png) 117px 0 no-repeat;  background: #fcfcfc; border-right: 1px solid #e3e3e3;  border-bottom: 1px solid #e3e3e3;}
.odd { background: #f5f5f5; padding: 22px 10px;}*/
.featured {
    padding: 0 25px 30px 0;
    margin-left: -20px;
}
.featured ul { list-style: none }
.featured li { display: inline }
.footerbg {
    background: url(images/bg_footer.png) 0 0 repeat-x;
    height: 280px;
    margin-top: -50px;
}
#footer {
    text-align: center;
    width: 1008px;
    margin: 0 auto;
    line-height: 22px;
}
#footer a {
    font-size: 12px;
    color: #ccc;
    text-shadow: -1px -1px 1px #094754;
    font-weight: bold;
}
#footer a:hover {
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0 0 5px #005D7A, 0 0 20px rgba(255, 255, 255, 0.6);
}
.rightlist {
    text-align: left;
    float: left;
}
.foothead {
    color: #f2c53a;
    font-weight: bold;
    font-size: 13px;
    text-shadow: -1px -1px 1px #094754;
}
ul { list-style: none }
.footerlogo {
    float: right;
    padding: 20px 20px 0 0;
}
#copyright {
    float: right;
    text-align: right;
    line-height: 120%;
    font-size: 9px;
    color: #d3d3d3;
    padding-top: 10px;
    text-shadow: -1px -1px 1px #094754;
}
#foot_logo {
    color: #f7f7f7;
    background: url(images/f_logo.png)  0px 0px no-repeat;
    padding: 0 0 0 51px;
    height: 45px;
    text-align: left;
}
#foot_logo:hover {
    background: url(images/f_logo.png)  0px -45px no-repeat;
    color: #f2c53a;
}
#mirrors1 {
    text-align: right;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: -1px;
    text-shadow: -1px -1px 1px #094754;
}
#mirrors2 {
    color: #d3d3d3;
    font-size: 16px;
    padding: 5px 0 0 5px;
    text-shadow: -1px -1px 1px #094754;
    letter-spacing: 2px;
}
.section { overflow: auto }
.rightcol table { margin: 0 0 0 -30px }
label.checkbox {
    color: #286374;
    font-weight: bold;
}
label.checkbox span.holder {
    height: 72px;
    background: url(images/chk.png) 0 -0px no-repeat;
}
label.radio span.holder { height: 61px }
label.checkbox:hover span.holder, label.radio:hover span.holder { top: 0px !important }
label.checked span.holder, label.checked span.holder, label.checked:hover span.holder, label.checked:hover span.holder { top: -19px !important }
label.list {
    display: block;
    padding: 0.5em;
    padding-left: 26px;
    background-position: 8px center;
    background-repeat: no-repeat;
    clear: both;
    cursor: pointer;
    text-align: left;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
}
input.hiddenCheckbox {
    position: absolute;
    left: -10000px;
}
label.prettyCheckbox span.holderWrap {
    display: block;
    float: left;
    position: relative;
    margin-right: 8px;
    overflow: hidden;
}
label.prettyCheckbox span.holder {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.maxsize {
    font-size: 9px;
    color: #817f7f;
}
.page h2 {
    text-align: left;
    color: #137488;
    line-height: 0px;
}
.userform { padding: 40px 0 10px }
.userform table { margin-left: 160px }
.userform a, .loginoptions a, .linksarea a {
    color: #137488;
    text-decoration: underline;
}
.loginoptions ul {
    list-style: none;
    margin-right: 50px;
}
.loginoptions li {
    display: inline;
    font-size: 12px;
    padding: 0 20px;
    font-style: italic;
}
.lock { background: url(images/lock.png) 0 0 no-repeat }
.register { background: url(images/register.png) 0 0 no-repeat }
.resend { background: url(images/resend.png) 0 0 no-repeat }
.forget { background: url(images/forget.png) 0 0 no-repeat }
.registertable  table { margin-left: 0 }
.tips {
    font-size: 10px;
    color: #a8a8a8;
}
.already a { padding: 5px 550px 30px 0 }
.error {
    padding: 90px 0 0 150px;
    color: #049000;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    width: 700px;
}
.success h3 {
    color: #049000;
    padding: 10px;
    background: url(images/ok.png)  200px 6px no-repeat;
}
.begin {
    line-height: 0px;
    padding-bottom: 35px;
}
.downlinks {
    text-align: left;
    padding: 20px 0;
    line-height: 24px;
}
.downlinks span{
font-size : 12px;
color : #aaa;
border : none;
}
.downlinks span a{
font-size : 12px;
-moz-border-radius: 2px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #137488;
	    color: #137488;
		padding  : 3px;
	}
.download {
    background: url(images/down.png)  0px 0px no-repeat;
    padding: 2px 0 5px 25px;
    font-style: italic;
    margin: 0 0 7px 20px;
}
.short {
    background: url(images/short.png)  0px 0px no-repeat;
    padding: 2px 0 5px 25px;
    font-style: italic;
    margin: 20px 0 7px 20px;
}
.adfly {
    background: url(images/adfly.png)  0px 0px no-repeat;
    padding: 2px 0 5px 25px;
    font-style: italic;
    margin: 20px 0 7px 20px;
}
.linksarea {
    padding: 15px;
    z-index: 0;
    border: 1px solid #D9D9D9;
    outline: none;
    display: inline-block;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    width: 92%;
    margin-left: 20px;
}
.linksarea a:link {
    text-decoration: none;
    font-size : 16px;
    font-weight: bold;
}
.linksarea a:hover {
    text-decoration: none;
    border-bottom: 1px Dotted #13798e;
}
.linksarea span {
    color: #aaa;
    font-size: 13px;
    font-weight: bold;
}
.userinfo {
    background-color: #FFFFE0;
    height: 30px;
    width: 94%;
    margin: 20px 0 7px 20px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
    border: 1px solid #E6DB55;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.infodisplay {
    background: url(images/info.png)  0px 0px no-repeat;
    padding: 5px 0 15px 45px;
    font-style: italic;
    margin: 0 0 3px 15px;
}
#pronotify1 {
    padding: 16px;
    margin-bottom: 60px;
    background-color: #FDFFE5;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px dotted #e7ecac;
    width: 940px;
    text-shadow: 1px 1px #fff;
}
#pronotify2 {
    background: url(images/info.png)  0px 0px no-repeat;
    padding-left: 45px;
    margin-left: 5px;
    line-height: 120%;
    text-align: left;
    color: #BD732D;
}
#pronotify2 li {
    color : #333;
    font-weight: bold;
    font-size: 12px;
    list-style-type: circle;
}
.file h3 {
    color: #137488;
    font-size: 21px;
}
.filearea {
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #e7e7e7;
    width: 642px;
    padding: 0 0 10px 0;
    margin: 0 0 30px 0;
    min-height: 240px;
}
.downloadarea {
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #e7e7e7;
    width: 974px;
    padding: 0;
    margin: 0 0 25px 0;
}
.downloadarea table { margin-top: -32px }
.downloadarea td {
    text-align: center;
    border: 1px dotted #eeeeee;
}
.downloadarea th {
    text-align: center;
    color: #137488;
    font-weight: bold;
}
.rightad {
    float: right;
    margin-right: 20px;
}
.heading {
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 0 5px #e1e0e0;
    -webkit-box-shadow: 0 0 5px #e1e0e0;
    box-shadow: 0 0 5px #e1e0e0;
    width: 642px;
    padding: 5px 0;
    background: #f3f4f4; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#f3f4f4'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#f3f4f4)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #fbfbfb,  #f3f4f4); /* for firefox 3.6+ */
}
.linkstable { padding: 20px 0 0 15px }
.heading span {
    margin-left: 10px;
    color: #137488;
    font-weight: bold;
}
.ask { font-style: italic }
.ask h3 {
    color: #137488;
    line-height: 0px;
    font-size: 19px;
}
.abuse {
    padding: 5px 10px 10px 30px;
    background: url(images/abuse.png)  0px 0px no-repeat;
    color: #af0000;
    font-size: 10px;
    font-weight: bold;
}
.links { width: 965px }
.starthere {
    float: left;
    width: 425px;
    height: 185px;
    line-height: 250%;
    margin: 3px 0 0 8px;
    background: url(images/start_here.jpg);
}
.starthere span {
    color: #137488;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -1px;
    text-shadow: 0.1em 0.1em #fff;
}
.clear { clear: both }
.startlist {
    float: left;
    text-align: left;
    color: #1c7d94;
    font-weight: bold;
    width: 530px;
    letter-spacing: -1px;
}
.startlist li {
    background: url(images/good.png)  0px 0px no-repeat;
    padding: 2px 10px 7px 30px;
}
.spacer { margin-top: 25px }
.menu { text-align: left }
.menu a { color: #555555 }
.menu  ul {
    list-style: none;
    padding: 0 50px 20px 0;
}
.menu  li {
    display: inline;
    padding: 10px;
    background: #f6f6f6;
    border: 1px solid #CCC;
}
.menu  li  a:hover { color: #137488 }
li.lisummary { border-right: 0px }
li.lifile { border-right: 0px }
li.lisetting { border-right: 0px }
li.liupgrade { border-right: 0px }
li.lispace { border-left: 0px }
li.lisummary  span {
    background: url(images/summary.png)  0px 0px no-repeat;
    padding: 2px 10px 0 30px;
    height: 23px;
}
li.lisummary  span:hover { background: url(images/summary.png)  0px -23px no-repeat }
li.lifile  span {
    background: url(images/file.png)  0px 0px no-repeat;
    padding: 2px 10px 0 30px;
    height: 23px;
}
li.lifile  span:hover { background: url(images/file.png)  0px -23px no-repeat }
li.lisetting  span {
    background: url(images/setting.png)  0px 0px no-repeat;
    padding: 2px 10px 0 30px;
    height: 23px;
}
li.lisetting  span:hover { background: url(images/setting.png)  0px -23px no-repeat }
li.liupgrade  span {
    background: url(images/upgrade.png)  0px 0px no-repeat;
    padding: 2px 10px 4px 30px;
    font-weight: bold;
    font-style: italic;
    height: 23px;
}
li.liupgrade  span:hover { background: url(images/upgrade.png)  0px -23px no-repeat }
li.lilogout  span {
    background: url(images/logout.png)  0px 0px no-repeat;
    padding: 2px 20px 0 30px;
    height: 23px;
}
li.lilogout span:hover { background: url(images/logout.png)  0px -23px no-repeat }
li.lispace  span { padding: 2px 10px 0 80px }
.maintitle {
    background: url(images/title.png) repeat-x;
    color: #FFF;
    text-shadow: 0.1em 0.1em 0.1em #116779;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    border-width: 0 1px 1px 1px;
    border-color: #207b8e;
    border-style: solid;
    text-align: left;
}
.leftmenu {
    float: left;
    width: 235px;
    padding-top: 12px;
}
.menuhighlight {
    padding: 5px;
    width: 223px;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-color: #e7e7e7;
}
.menuhighlight ul, .menuhighlight table {
    margin: 0;
    padding: 0;
}
.menuhighlight li {
    padding: 7px;
    background-color: #f3f3f3;
    margin: 7px 2px 7px 2px;
}
.menuhighlight a { text-decoration: none }
.menuhighlight a:hover { text-decoration: underline }
.usercontent {
    float: right;
    width: 722px;
    padding: 12px 17px 0 0;
}
.freead {
    line-height: 20px;
    background: url(images/freead.png) repeat-x;
    color: #FFF;
    padding: 5px;
    font-size: 13px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-radius: 4px;
    border-width: 0 1px 0 1px;
    border-color: #efe357;
    border-style: solid;
    text-shadow: -1px -1px #e2bc10;
}
.freead a {
    color: #fff;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}
.userdata { width: 714px }
.usertable {
    text-align: left;
    font-weight: bold;
}
.usertable span, .summary span {
    color: #137488;
    font-weight: normal;
}
.usertable a {
    color: #137488;
    font-style: italic;
}
.backit { background-color: #F3F3F3 }
.listacc {
    background-color: #F3F3F3;
    font-size: 12px;
}
.usertip {
    font-size: 12px;
    font-weight: normal;
    padding: 10px;
}
.accounts { text-align: center }
.edit {
    float: right;
    color: #fff;
    padding: 4px 20px 0 10px;
    text-shadow: 0.1em 0.1em 0.1em #116779;
    font-style: italic;
    text-decoration: underline;
}
.summary { text-align: left }
.ground {
    background-color: #FFF!important;
    font-style: italic;
    margin: 0;
}
.banner_upgrade { padding: 20px 5px 20px 20px }
td.package {
    width: 300px;
    height: 321px;
    margin: 0;
    padding: 0;
}
.package h4 {
    font-size: 18px;
    padding: 0px 15px 0px 15px;
    line-height: 7px;
    margin-top: 0;
}
.package h3 {
    margin: 0;
    padding: 0;
    font-size: 25px;
}
.package h1 {
    font-size: 38px;
    line-height: 6px;
    padding-top: 18px;
}
.package h5 { padding-bottom: 10px }
.package form { padding-bottom: 27px }
.package span {
    font-size: 11px;
    padding: 7px 10px 10px 30px;
    background: url(images/paylock.png)  0px 0px no-repeat;
}
td.package { background: url(images/package1.png) }
td.packageb { background: url(images/package2.png) }
td.packagec { background: url(images/package3.png) }
.package h4, .package h1 { color: #014845 }
.packageb h4, .packageb h1 { color: #480b01 }
.packagec h4, .packagec h1 { color: #0b3e01 }
.package h3 { color: #e1eefa }
.packageb h3 { color: #f7f7d0 }
.packagec h3 { color: #d1fdc7 }
.pakageinfo {
    text-align: left;
    font-style: italic;
    color: #bbbbbb;
    font-size: 12px;
    padding: 8px;
    width: 940px;
    margin: 0 0 20px 5px;
}
.pakageinfo span {
    color: #9a0000;
    line-height: 160%;
}
.extra {
    text-align: left;
    width: 965px;
    margin-top: -20px;
}
.extra h3 {
    color: #137488;
    padding-top: 25px;
    line-height: 0;
}
.extra span { font-size: 13px }
.icon {
    float: left;
    padding: 5px;
}
.rightcell {
    width: 470px;
    text-shadow: 0 0 0.1em #ccc;
    padding: 5px;
}
.facebook {
    background: url(images/fb.png)  0px 0px no-repeat;
    padding: 2px 0 5px 25px;
    height: 22px;
}
.facebook:hover { background: url(images/fb.png)  0px -22px no-repeat }
.twitter {
    background: url(images/tw.png)  0px 0px no-repeat;
    padding: 2px 0 5px 25px;
    height: 22px;
}
.twitter:hover { background: url(images/tw.png)  0px -22px no-repeat }
#file_uploadQueue { text-align: center }
#pick li { display: inline }
.filemanager { padding: 20px 0 80px 130px }
.pages_con {
    text-align: justify;
    padding: 15px;
    font-size: 13px;
    line-height: 150%;
    width: 940px;
}
.pages_con a {
    color: #137488;
    text-decoration: underline;
}
p#vtip {
    display: none;
    position: absolute;
    padding: 10px;
    left: 5px;
    font-size: 0.8em;
    background-color: white;
    border: 1px solid #a6c9e2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    z-index: 9999;
}
p#vtip #vtipArrow {
    position: absolute;
    top: -10px;
    left: 5px;
}
#start_up {
    display: inline-block;
    width: 347px;
    height: 61px;
    background: url(images/start_uploading_h.png) no-repeat 0 0;
    outline: 0;
}
#start_up:hover { background: url(images/start_uploading_h.png) no-repeat 0 -61px }
#life_h {
    display: inline-block;
    width: 237px;
    height: 66px;
    background: url(images/life_h.png) no-repeat 0 0;
    outline: 0;
}
#life_h:hover { background: url(images/life_h.png) no-repeat 0 -66px }
#ghacks_h {
    display: inline-block;
    width: 260px;
    height: 66px;
    background: url(images/ghacks_h.png) no-repeat 0 0;
    outline: 0;
}
#ghacks_h:hover { background: url(images/ghacks_h.png) no-repeat 0 -66px }
#makeus_h {
    display: inline-block;
    width: 224px;
    height: 66px;
    background: url(images/makeus_h.png) no-repeat 0 0;
    outline: 0;
}
#makeus_h:hover { background: url(images/makeus_h.png) no-repeat 0 -66px }
#crenk_h {
    display: inline-block;
    width: 190px;
    height: 66px;
    background: url(images/crenk_h.png) no-repeat 0 0;
    outline: 0;
}
#crenk_h:hover { background: url(images/crenk_h.png) no-repeat 0 -66px }
#chip_h {
    display: inline-block;
    width: 190px;
    height: 66px;
    background: url(images/chip_h.png) no-repeat 0 0;
    outline: 0;
}
#chip_h:hover { background: url(images/chip_h.png) no-repeat 0 -66px }
/*
a#upgrade_pro_h {
	display: inline-block;
	width: 357px;
	height: 40px;
	background: url(images/upgrade_pro_h.png) no-repeat 0 0 ;
	outline: 0;
}
a#upgrade_pro_h:hover {
	background:  url(images/upgrade_pro_h.png) no-repeat 0 -40px ;
	}
#girl_h {
	display: inline-block;
	width: 357px;
	height: 334px;
	background:  url(images/upgrade_to_pro_.jpg) no-repeat 0 0 ;
	outline: 0;
        } */
#banner_h {
    display: inline-block;
    width: 531px;
    height: 182px;
    background: url(images/feature.png) no-repeat 0 0;
    outline: 0;
    float: right;
}
a#watch_video {
    display: inline-block;
    width: 359px;
    height: 40px;
    background: url(images/watch_h.png) no-repeat 0 0;
    outline: 0;
}
a#watch_video:hover { background: url(images/watch_h.png) no-repeat 0 -40px }
#pc_up_h {
    display: inline-block;
    width: 251px;
    height: 35px;
    background: url(images/pc_h.png) no-repeat 0 0;
    outline: 0;
}
#pc_up_h:hover { background: url(images/pc_h.png) no-repeat 0 -35px }
#remote_up_h {
    display: inline-block;
    width: 262px;
    height: 35px;
    background: url(images/remote_h.png) no-repeat 0 0;
    outline: 0;
}
#remote_up_h:hover { background: url(images/remote_h.png) no-repeat 0 -35px }
#faq_content { text-align: justify }
#faq_content a { font-weight: bold }
.topad {
    background: #fcfcfc;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-style: dotted;
    border-width: 1px;
    border-color: #bbb;
    width: 728px;
    height: 90px;
    padding: 2px;
    margin: auto;
}
#abuselink {
    background: #FFFFE0;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #EDEDD0;
    padding: 10px;
    text-align: justify;
    line-height: 170%;
    width: 920px;
}
ul.abuselist {
    list-style-type: square;
    font-size: 13px;
}
#redirectlink {
    width: 700px;
    font-size: 15px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #eee;
    padding: 15px;
    text-align: center;
    line-height: 180%;
    margin: 25px auto;
    font-weight: bold;
}
#redirectlink a { color: #137588 }
#redirectlink a:hover {
    background: #137588;
    color: #fcfcfc;
}
#redirectlink span {
    font-size: 11px;
    color: #EB7D16;
    font-weight: normal;
    background: #FFFFE0;
}
.sharetext {
    color: #555;
    font-weight: bold;
    font-size: 13px;
}
.alive {
    color: green;
    font-weight: bold;
    font-size: 12px;
    float: left;
    margin-left: 170px;
    background: url(images/alive.png) no-repeat;
    padding-left: 20px;
}
.dead {
    color: red;
    font-weight: bold;
    font-size: 12px;
    float: left;
    margin-left: 170px;
    background: url(images/dead.png) no-repeat;
    padding-left: 20px;
}
.beginScan {
    margin: 0 170px 35px 170px;
    padding: 5px;
    background: #FEFEE0;
    border: 1px solid #F4EFA5 !important;
    -webkit-box-shadow: inset 0 1px 2px rgb(254, 255, 232),0 1px 0px rgb(254, 255, 232);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1),0 1px 0px rgb(254, 255, 232);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1),0 1px 0px rgb(254, 255, 232);
}
.beginScan a {
    background: url(images/virustotal.png)  0px 0px no-repeat;
    padding: 0 25px;
}
.redirecturl {
    text-align: center;
    color: #bbbbbb;
    font-size: 13px;
    padding: 8px;
    width: 670px;
    margin: 0 0 5px 5px;
}
.faqquestion {
    font-weight: bold;
    color: #137488;
    padding: 5px;
    cursor: pointer;
}
.faqanswer {
    border-left: solid 3px #ddd;
    margin: 5px;
    padding-left: 10px;
}
.expandall {
    background-color: #F1F1F1;
    padding: 5px;
    text-align: center;
    color: #555;
    font: 10px "helvetica neue", helvetica, arial, sans-serif;
    text-shadow: 0 1px 0 #fff;
    border: 1px dotted #EEE;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}
.expandall:hover {
    background-color: #EEE;
    color: #444;
    border: 1px dotted #E1E1E1;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}
#easyNotification {
    padding: 10px 5px;
    font-size : 13px;
    font-weight: bold;
    background: #fffed0;
    border: 1px solid #d4d287;
    color: #333;
    position: relative;
}
#easyNotification span { display: none }