@import url("style-base.css");
::-webkit-input-placeholder {color: #666;}
:-moz-placeholder {color: #666;}
::-moz-placeholder {color: #666;}
:-ms-input-placeholder {color: #666;}
body {color: #666; background: #fff;}
a {color: #487905;
	transition: all 0.1s ease;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;	
}
a:hover {color: #b70124;}
/* header */
div.header {height: 175px;}
div.logo {top: 10px; left: 50%; margin-left: -220px;}
div.mholder {
	height: 36px;
	background: #f2f2f2;
}
ul.topmenu li a {border-left: 1px solid #ddd; padding: 0 10px; color: #555;}
ul.topmenu li a:hover {color: #000;}
ul.topmenu li a.first {padding-left: 0; border-left: none;}
/* search field */
div.search {background: #fff; border-color: #d3d3d3;}
div.search input.sf {color: #000;}
div.search button.sb {
	background: #72be00; /* Old browsers */
	background: -moz-linear-gradient(top,  #72be00 0%, #569300 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #72be00 0%,#569300 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #72be00 0%,#569300 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72be00', endColorstr='#569300',GradientType=0 ); /* IE6-9 */
	right: -1px;
	top: -1px;
	width: 48px;
	height: 44px;
}
div.search button.sb:after {color: #fff; left: 15px; top: 12px;}
.autocomplete-suggestions {border-color: #d3d3d3; background: #fff;}
.autocomplete-suggestion {color: #666;}
.autocomplete-selected {background: #f0f0f0; color: #444;}
.autocomplete-suggestions strong {color: #b70124;}
/* lang selector */
#lngselect {background:url("http://static.webclicks24.com/images/select-arrow-b.png") no-repeat 100% 50%;}
#lngselect strong {color: #000;}
#lngselect.down:after {border-bottom-color: #d3d3d3; top: 32px;}
#lngselect ul {background-color: #fafafa; border-color: #d3d3d3; top: 40px;}
#lngselect ul li a {color: #666;}
#lngselect ul li a:hover {color: #000;}
div.main {background: #f2f2f2; padding-bottom: 10px;}
/* headers */
h1,h2,div.h {color: #000;}
h1,h2 {font-size: 24px; font-weight: 400; text-align: center;}
div.h h1, div.h h2 {border: none; background: none;}
h2 {border-bottom: 1px solid #f2f2f2;}
div.tbookshare {right: -5px;}
div.rc {
	border-bottom: 1px solid #ddd;
	box-shadow: 0 1px 0 #fff;
	text-shadow: 0 1px 0 #fff;
}
/* buttons */
div.sort a, div.durgrp a, div.timerange a, div.pages a {border: 1px solid #fff; background: #fff;}
div.sort a:hover, div.durgrp a:hover, div.timerange a:hover, div.pages a:hover {}
div.sort a.current, div.durgrp a.current, div.timerange a.current, div.pages a.current {background: #f2f2f2; border: 1px solid #ddd; color: #000; font-weight: normal;}
div.nav.top div.sort a, div.nav.top div.durgrp a, div.nav.top div.timerange a {border-bottom: none;}
div.nav.bottom div.sort a, div.nav.bottom div.durgrp a, div.nav.bottom div.timerange a {border-top: none;}
div.main div.related {border-bottom: 1px solid #ddd;}
a#showMore {
	display: block;
	width: 300px;
	margin: 5px auto 0 auto;
	padding: 15px 0;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	color: #222;
	text-shadow: 0 1px 0 #fff;
	background: #fcfcfc; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfcfc 0%, #f8f8f8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fcfcfc 0%,#f8f8f8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fcfcfc 0%,#f8f8f8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */
	border: 1px solid #d3d3d3;
	border-radius: 3px;
}
a#showMore:hover {
	border: 1px solid #bbb;
	color: #b70124;
}
div#loading {width: 50px; margin: 5px auto; text-align: center;}
div#loading img {width: 16px; height: 11px;}
/* content and thumb categories */
ul.content li, ul.tcats li, ul.relatedthumbs li {border-color: #fff; background: #fff;}
ul.content li h3 {}
ul.content li span.add, ul.content li span.src {padding-left: 0;}
ul.content li span.add:after, ul.content li span.src:after, ul.content li span.tl:after {display: none;}
ul.content li span.tl {border-top: 1px solid #f0f0f0; text-indent: 0;}
ul.content li span.tl span {}
ul.content li span.tl a {color: #666; border-bottom: 1px dotted #888;}
ul.content li span.tl a:hover {color: #b70124; border-bottom: 1px dotted #b70124;}
ul.content li span.tl a.c {}
ul.content li span.hdlabel {}
ul.content li span.dur {background:#5a9200; text-shadow: 0 1px 1px #426a01; font-weight: normal; font-size: 13px; width: 55px;}
/* icons */
ul.content li h3:after, ul.content li span.add:after, ul.content li span.src:after, ul.content li span.tl:after, div.related a:after, ul.relatedthumbs li h3:after {color: #aaa;}
div.related a:after {color: #828282;}
div.az ul li:after {color: #aaa;}
/* text categories */
div.az ul li {padding-left: 2px;}
div.az ul li:after {display: none;}
div.az ul li a {font-size: 13px;}
div.az ul li.letter {background: none; color: #222; border-bottom: 1px solid #f8f8f8;}
/* back to top button */
#back_to_top a#back-to-top {background: #aaa;}
/* banners */
.ads3b {border-color: #d3d3d3; background: #fafafa;}
/* toplist */
div.tradeindex div.cont div.timg img {border: 1px solid #000;}
div.tradeindex div.cont div.timg a:hover img {border: 1px solid #000;}
ul.globaltop li {border-bottom:1px solid #f0f0f0; font-size: 13px;}



@media all and (max-width: 1000px) {
	h1,h2 {font-size: 20px; line-height: 30px;}
	ul.content li, ul.tcats li, ul.relatedthumbs li, ul.content li:hover, ul.tcats li:hover, ul.relatedthumbs li:hover {border-color: #f2f2f2;}
	ul.topmenu {left: 5px;}
	div.sort, div.durgrp, div.timerange, div.pages {border-spacing: 0;}
	div.az ul li {padding-left: 15px;}
	div.az ul li:after {display: block;}
	div.az ul li a {font-size: 14px;}
}
@media all and (max-width: 767px) {
	ul.content li a.report {color: #aaa;}
}
@media all and (max-width: 479px) {
	h1,h2 {font-size: 16px;}
	div.header {height: 140px;}
	div.logo {width: 300px; margin-left: -150px;}
	div.logo a img {width: 300px; height: auto;}
	div.search.top {top: 70px;}
	div.sort a, div.durgrp a, div.timerange a, div.pages a {border: 1px solid #fcfcfc; background: #fcfcfc;}
	div.sort a.current, div.durgrp a.current, div.timerange a.current, div.pages a.current {border: 1px solid #ddd; background: #f2f2f2;}
	div.nav.top div.sort a.current, div.nav.top div.durgrp a.current, div.nav.top div.timerange a.current {border-bottom: 1px solid #ddd;}
	#lngselect.down:after {top: 35px;}
	#lngselect ul {top: 43px;}
}

