@font-face {
  font-family: 'gogoanime';
  src: url('../fonts/MyriadPro-Regular.eot');
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro-Regular.woff') format('woff'),
  url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
  url('../fonts/MyriadPro-Regular.svg#JennaSueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'gogoanime_bold';
  src: url('../fonts/MyriadPro-Semibold.otf');
}

html { background: #000; color: #fff; font-size: 14px; font-family: 'gogoanime'; }

.wrapper { background: #1b1b1b; margin: 0 auto; }

.sub-wrapper { margin: 0 auto; }

.fr { float: right; }

.clr { clear: both; }

ul { padding: 0; margin: 0; }
ul li { list-style: none; }

a { text-decoration: none; }
a:hover { transition: all 0.3s linear 0s; -webkit-transition: all 0.3s linear 0s; -moz-transition: all 0.3s linear 0s; -o-transition: all 0.3s linear 0s; }

figure { margin: 0 auto; }

select,
textarea { background: #101010; color: #7d7d7d; border: none; outline: none; }
button,
input[type=submit] { outline: none; }

.navigation { color: #a1a1a1; text-align: right; font-size: 13px; position: relative; padding-top: 10px; padding-bottom: 10px; }
.navigation a { color: #a1a1a1; padding: 0 2px; }
.navigation a:hover { color: #ffc119; }
.sub-navigation { background: #00a651; position: absolute; top: 30px; right: 0; z-index: 1; padding: 10px; display: none; }
.sub-navigation a { color: #fff; }

#menu ul li a { color: #fff; text-transform: uppercase; }
#menu ul li.selected a,
#menu ul li a:hover { color: #ffc119; border-bottom: 2px solid #ffc119; }

.search { background: #101010; border: 1px solid #7d7d7d; position: relative; }
.search input[type=text] { width: 85%; padding: 5px; }
.search button { background: none; color: #ffc119; border: none; position: absolute; top: 5px; right: 0; }

h1 { color: #1b1b1b; font-size: 14px; font-family: 'gogoanime_bold'; text-transform: uppercase; padding: 10px 0 10px 60px; margin: 0; }
h2 { color: #1b1b1b; font-size: 14px; font-family: 'gogoanime_bold'; text-transform: uppercase; padding: 10px 0 10px 60px; margin: 0; }
h3 { color: #ffc119; font-size: 14px; font-family: 'gogoanime_bold'; text-transform: uppercase; margin: 0; border-bottom: 1px solid #000; padding-bottom: 5px; }
h4 { color: #ffc119; font-size: 14px; font-weight: lighter; margin: 0; }
h4 a { color: #48bf82; }
h5 { color: #48bf82; font-size: 14px; font-family: 'gogoanime_bold'; text-transform: uppercase; margin: 0; }
h6 { color: #1b1b1b; font-size: 14px; font-family: 'gogoanime_bold'; text-transform: uppercase; margin: 0; }

.title { color: #ffc119; width: 100%; text-overflow: ellipsis; display: inline-block; overflow: hidden; white-space: nowrap; }
.title:hover { color: #fff; }

.episode { color: #fff; }
.episode:hover { color: #ffc119; }

.filter { margin: 15px 10px; }
.filter a { text-transform: uppercase; color: #fff; font-size: 12.5px; padding: 3px 7px; }
.filter a:nth-of-type(1) { color: #ffc119; }
.filter a:hover { background: #00a651; }

.col1 { position: relative; border: 1px solid #a1a1a1;}
.col1 h2 { background: #ffc119 url('../images/bg-recent-release.png') right no-repeat; }
.col1 .header { position: absolute; top: -19px; }
.col1 .item { text-align: center; }
.col1 .title { height: 20px; margin-top: 15px; }
.col1 .episode { margin-bottom: 15px; }
.col1 .type { color: #fff; text-transform: uppercase; text-shadow: -1px -1px 0 #000, -1px -1px 0 #000, -1px 0px 0 #000, -1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, -1px -1px 0 #000, -1px 0px 0 #000, -1px 1px 0 #000, -1px 1px 0 #000, 0px -1px 0 #000, 0px -1px 0 #000, 0px 0px 0 #000, 0px 1px 0 #000, 0px 1px 0 #000, 1px -1px 0 #000, 1px -1px 0 #000, 1px 0px 0 #000, 1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, 1px -1px 0 #000, 1px 0px 0 #000, 1px 1px 0 #000, 1px 1px 0 #000; margin-top: -20px; }
.col1 figure { width: 100%; height: 0; padding-bottom: 130%; overflow: hidden; }
.col1 .thumb { width: 100%; }

.col2 { position: relative; border: 1px solid #a1a1a1; padding-bottom: 20px; }
.col2 h2 { background: #ffc119 url('../images/bg-popular.png') right no-repeat; }
.col2 .header { position: absolute; top: -23px; }
.col2 .item { padding-bottom: 10px; }
.col2 figure { width: 30%; height: 0; padding-bottom: 40%; overflow: hidden; float: left; }
.col2 .thumb { width: 100%; }
.col2 .info { width: 67%; float: right; }
.col2 .title { margin-bottom: 5px; }
.col2 .genres { color: #898989; }
.col2 .genres a { color: #898989; }
.col2 .genres a:hover { color: #fff; }
.col2 .latest { color: #898989; }

.col3 { position: relative; border: 1px solid #a1a1a1; margin-bottom: 30px; }
.col3 h2 { background: #ffc119 url('../images/bg-ongoing.png') right no-repeat; }
.col3 .header { position: absolute; top: -19px; }
.col3 .items { margin: 15px 20px; }
.col3 .items .title { margin-bottom: 5px; }

.col4 { position: relative; border: 1px solid #a1a1a1; }
.col4 h2 { background: #ffc119 url('../images/bg-genre.png') right no-repeat; }
.col4 .header { position: absolute; top: -16px; }
.col4 .items { margin: 15px 20px; }
.col4 .items .title { width: 45%; float: left; padding-bottom: 10px; border-right: 1px solid #555; }
.col4 .items a:nth-of-type(2n) .title { border-right: none; margin-left: 9%; }

.col5 { position: relative; border: 1px solid #a1a1a1; margin-bottom: 30px; }
.col5 h2 { background: #ffc119 url('../images/bg-adverting.png') right no-repeat; }
.col5 .header { position: absolute; top: -17px; }

.col6 { position: relative; border: 1px solid #a1a1a1; padding-bottom: 30px; }
.col6 h1 { background: #ffc119 url('../images/bg-list.png') right no-repeat; }
.col6 .header { position: absolute; top: -19px; }
.col6 .items { margin: 15px; }
.col6 .item { margin: 5px 0; }
.col6 span.name { color: #fff; text-overflow: ellipsis; display: inline-block; overflow: hidden; white-space: nowrap; width: 90%; }
.col6 .tooltip { background: #030303; color: #898989; border: 1px solid #949494; display: none; z-index: 1; position: absolute; top: 50px; left: 25px; overflow: hidden; padding: 16px; }
.col6 .tooltip figure { width: 40%; height: 0; padding-bottom: 50%; overflow: hidden; float: left; margin-right: 16px; }
.col6 .tooltip .thumb { width: 100%; }
.col6 .tooltip .info { width: 55%; float: left; }
.col6 .tooltip span { color: #00a651; }

.col7 { position: relative; border: 1px solid #a1a1a1; }
.col7 h2 { background: #ffc119 url('../images/bg-ongoing-.png') right no-repeat; }
.col7 .header { position: absolute; top: -19px; }
.col7 ul { margin: 20px; }
.col7 li { margin: 10px 0; }
.col7 figure { width: 35%; height: 0; padding-bottom: 25%; overflow: hidden; float: left; }
.col7 .thumb { width: 100%; }
.col7 .info { width: 60%; float: right; }

.col8 { position: relative; border: 1px solid #a1a1a1; }
.col8 h1 { background: #ffc119 url('../images/bg-list.png') right no-repeat; }
.col8 .header { position: absolute; top: -31px; }
.col8 .item { text-align: center; }
.col8 .title { margin: 10px 0; min-height: 21px;}
.col8 figure { width: 100%; height: 0; padding-bottom: 130%; overflow: hidden; }
.col8 .thumb { width: 100%; }

.col9 { position: relative; border: 1px solid #a1a1a1; }
.col9 h1 { background: #ffc119 url('../images/bg-view.png') right no-repeat; }
.col9 .header { position: absolute; top: -20px; }
.col9 .title { text-transform: uppercase; }
.col9 .info { line-height: 1.8; }
.col9 .info span { color: #00a651; }
.col9 .info a { color: #fff; }
.col9 .info a:hover { color: #ffc119; }
.col9 .info .bookmark { color: #ff0000; }
.col9 .info .bookmark span { color: #ff0000; }
.col9 .info .bookmark:hover { color: #ff0000; }
.col9 .favorite { position: absolute; bottom: 10px; right: 10px; color: #000; font-size: 20px; cursor: pointer; }
.col9 .favorite:hover { color: red; }
.col9 figure { position: relative; }
.col9 .thumb { width: 100%; }
.col9 .col10 { margin: 2%; }
.col9 .col10 { border: none; padding-bottom: 0; }
.col9 .col10 .episodes { margin-left: 0; margin-right: 0; }
.col9 .col10 .summary { margin-left: 0; margin-right: 0; }

.col10 { margin-top: 30px; padding-bottom: 20px; position: relative; border: 1px solid #a1a1a1; }
.col10 h2 { background: #ffc119 url('../images/bg-episode.png') right no-repeat; padding-left: 75px; }
.col10 .header { position: absolute; top: -20px; }
.col10 .episodes { padding-top: 10px; margin-left: 2%; margin-right: 2%; }
.col10 .eps a{ color: #ffc119; cursor: pointer; margin-right: 15px; float: left; border-bottom: 1px solid #1b1b1b; margin-bottom: 10px; }
.col10 .eps.current a,
.col10 .eps:hover a{ border-bottom: 1px solid #ffc119; }
.col10 .summary { display: none; margin-left: 2%; margin-right: 2%; }
.col10 .summary.current { display: inherit; }
.col10 .summary li { background: #363636; font-size: 12px; text-transform: uppercase; text-align: center; padding: 10px 0; margin-bottom: 1%; float: left; }
.col10 .summary li span:nth-of-type(1) { color: #fefefe; border-right: 1px solid #737373; padding-right: 5px; }
.col10 .summary li span:nth-of-type(2) { color: #fefefe; opacity: 0.5; }
.col10 .summary li.selected,
.col10 .summary li:hover { background: #ffc119; }

.col11 { position: relative; border: 1px solid #a1a1a1; }
.col11 h1 { background: #ffc119 url('../images/bg-list.png') right no-repeat; padding-left: 75px; }
.col11 .header { position: absolute; top: -24px; }
.col11 .video { text-align: center; margin: 2%;}
.col11 .video .cat a { color: #ffc119; }
.col11 .video .cat a:hover { color: #fff; }
.col11 .video .note { color: #ffc119; }
.col11 .video .note a { color: #48bf82; }
.col11 .video .report { color: #48bf82; margin-bottom: 10px; cursor: pointer; }
.col11 .video .download { margin: 10px 0; }
.col11 .video .download a { background: #ffc119; color: #fff; padding: 5px 10px; }
.col11 .video .iframe-name { text-align: left; margin-bottom: 5px; }
.col11 .video .iframe-name span { background: #48bf82; color: #fff; padding: 5px 10px; }
.col11 .posi a { color: #ffc119; font-size: 12px; }
.col11 .posi a:hover { color: #fff; }
.col11 .posi a:nth-of-type(1) { float: left; }
.col11 .posi a:nth-of-type(2) { float: right; }
.col11 .comments { text-align: left; margin-top: 10px; }

.col12 { position: relative; border: 1px solid #a1a1a1; }
.col12 h1 { background: #ffc119 url('../images/bg-login.png') right no-repeat; padding-left: 55px; }
.col12 .header { position: absolute; top: -18px; }
.col12 .content { margin: 2%; }
.col12 .content a { color: #00a651; }
.col12 .content .facebook { background: #3b5998; padding: 5px 50px; position: relative; height: 20px; }
.col12 .content .facebook a { color: #fff; }
.col12 .content .fa-facebook { background: #2f477a; font-size: 15pt; padding-top: 5px; width: 40px; height: 25px; text-align: center; position: absolute; top: 0; left: 0; }
.col12 .content .google { background: #dd4b39; padding: 5px 50px; position: relative; height: 20px; }
.col12 .content .google a { color: #fff; }
.col12 .content .fa-google-plus { background: #b13c2e; font-size: 15pt; padding-top: 5px; width: 40px; height: 25px; text-align: center; position: absolute; top: 0; left: 0; }
.col12 .content .twitter { background: #0c7abf; padding: 5px 50px; position: relative; height: 20px; }
.col12 .content .twitter a { color: #fff; }
.col12 .content .fa-twitter { background: #0966a0; font-size: 15pt; padding-top: 5px; width: 40px; height: 25px; text-align: center; position: absolute; top: 0; left: 0; }
.col12 .content input[type=text],
.col12 .content input[type=email],
.col12 .content input[type=password],
.col12 .content select,
.col12 .content textarea { width: 98%; padding: 5px 1%; border: 1px solid #7d7d7d; }
.col12 .content button { background: #ffc119; border: 1px solid #a1a1a1; color: #1b1b1b; text-transform: uppercase; font-family: 'gogoanime_bold'; padding: 5px 10px; }
.col12 .content table { border-spacing: 0; border-padding: 0; width: 100%; }
.col12 .content table th { background: #ffc119; color: #1b1b1b; text-transform: uppercase; text-align: left; padding: 7px; }
.col12 .content table th:nth-of-type(2) { width: 80px; }
.col12 .content table td { border-bottom: 1px solid #a1a1a1; padding: 10px 0; }
.col12 .content table td .title { margin-bottom: 10px; }
.col12 .content table td .desc { margin-bottom: 10px; }
.col12 .content table td .unwatched { color: #fea501; }
.col12 .content table td .remove { color: #d30b0c; }
.col12 .content table td .watched { color: #009bc3; }

footer { background: url('../images/ic-footer.png') top no-repeat; color: #959595; font-size: 12px; position: relative; margin-top: 20px; padding-top: 20px; }
footer a { color: #959595; margin-right: 10px; }
footer a:hover { color: #ffc119; }
footer .copyright { padding: 15px 0; }
#myvideo { margin-bottom: 20px; }
.iframe-video { background: #000; width: 100%; height: 0; padding-bottom: 56.25%; overflow: hidden; margin-bottom: 20px; position: relative; }
.ads-video { width: 100%; position: absolute; left: 0; z-index: 999; }
.ads-content { width: 300px; height: 0; overflow: hidden; margin: 0 auto; }
.close-ads { background: rgba(255,255,255,0.4); width: 300px; padding: 1px 0; margin: 0 auto; cursor: pointer; }

.iframe-video-1 { background: #000; width: 100%; height: 0; padding-bottom: 56.25%; overflow: hidden; margin-bottom: 20px; position: relative; }
.ads-video-1 { width: 100%; position: absolute; left: 0; z-index: 999; cursor: pointer; }

.iframe-video-2 { background: #000; width: 100%; height: 0; padding-bottom: 56.25%; overflow: hidden; margin-bottom: 20px; position: relative; }
.ads-video-2 { width: 100%; position: absolute; left: 0; z-index: 999; cursor: pointer; }

.ads-contentjs { width: 300px; height: 0; overflow: hidden; margin: 0 auto; }
.iframe-videojs { background: #000; width: 100%; height: 0; padding-bottom: 56.25%; overflow: hidden; margin-bottom: 20px; position: relative; }
.ads-videojs { width: 100%; position: absolute; left: 0; z-index: 999; cursor: pointer;}
.close-adsjs { background: #000; border: 1px solid #fff; width: 300px; padding: 1px 0; margin: 0 auto; cursor: pointer; }

.ads-300 { width: 100%; overflow: hidden; }

.ads-728 { margin: 25px 0; width: 100%; overflow: hidden; }

.pagination { position: absolute; top: 10px; right: 1%; }
.pagination a { color: #000; padding: 2px 8px; margin-right: 2px; }
.pagination li { float: left; }
.pagination li:hover a,
.pagination li.selected a { background: #00a651; color: #fff; }

.back-to-top { background: url('../images/ic-back-to-top.png') left no-repeat; text-transform: uppercase; position: absolute; top: 15px; right: 0; padding: 12px 0 12px 45px; cursor: pointer; }

#header_search_autocomplete_body{border:1px solid #a1a1a1;width:100%;padding:5px 10px;background-color:#0C0C0C;float:left;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-mos-box-sizing:border-box}
.list_search_ajax{float:left;width:100%;margin:5px 0; text-overflow: ellipsis; display: inline-block; overflow: hidden; white-space: nowrap;}
.list_search_ajax a{color:#ffc119;font-size:12px;}.list_search_ajax a:hover{color:#fff}.list_search_ajax.focused,.list_search_ajax.focused a,.list_search_ajax a:focus{color:#fff}.thumbnail-recent_search{width:30px;height:34px;background-size:100% auto!important;background-position:center center;background-repeat:repeat!important;float:left;margin-right:10px}.list_search ul{float:left;width:100%;margin:0;padding:0;margin-top:20px;margin-left:13px}.list_search ul li{float:left;list-style:none}.list_search ul li a{color:#fff;display:block;width:25px;padding:4px 0;text-align:center}.list_search ul li a:hover{background-color:#00a651}.list_search ul li a.active{color:#ffc119}.tooltip{border:solid 1px #949494;padding:12px;background-image:url(images/tooltip.png);background-repeat:repeat}
#header_search_autocomplete {position: absolute; z-index: 100000; width: 100%;}

.bg { display: none; background: rgba(0,0,0,0.9); position: fixed; top: 0; left: 0; width: 100%; height: 100%; }

.login-popup { display: none; background: rgba(236, 235, 238, 0.9); border: 1px solid #7d7d7d; z-index: 9999; position: fixed; top: 50px; left: 0; right: 0; max-width: 300px; width: 100%; margin: auto; }
.login-popup form { margin: 5%; }
.login-popup h6 { text-align: center; }
.login-popup a { color: #000; }
.login-popup a:hover { color: #00a651; }
.login-popup .facebook { background: #3b5998; padding: 5px 50px; position: relative; height: 20px; }
.login-popup .facebook a { color: #fff; }
.login-popup .fa-facebook { background: #2f477a; font-size: 15pt; padding-top: 5px; width: 40px; height: 25px; text-align: center; position: absolute; top: 0; left: 0; }
.login-popup .google { background: #dd4b39; padding: 5px 50px; position: relative; height: 20px; }
.login-popup .google a { color: #fff; }
.login-popup .fa-google-plus { background: #b13c2e; font-size: 15pt; padding-top: 5px; width: 40px; height: 25px; text-align: center; position: absolute; top: 0; left: 0; }
.login-popup .twitter { background: #0c7abf; padding: 5px 50px; position: relative; height: 20px; }
.login-popup .twitter a { color: #fff; }
.login-popup .fa-twitter { background: #0966a0; font-size: 15pt; padding-top: 5px; width: 40px; height: 25px; text-align: center; position: absolute; top: 0; left: 0; }
.login-popup input[type=email],
/*.login-popup input[type=password] { width: 98%; background: #fff; padding: 5px 1%; border: 1px solid #7d7d7d; }*/
/*.login-popup button { background: #ffc119; border: 1px solid #a1a1a1; color: #1b1b1b; text-transform: uppercase; font-family: 'gogoanime_bold'; width: 100%; padding: 5px 10px; }*/

#disqus_thread a { color: #ffc119; }

.no-result { margin: 1.33%; }
#content_video_ima-ad-container { z-index: 0 !important;}

.auth0-lock.auth0-lock .auth0-lock-header {height: 70px !important;}
.auth0-lock.auth0-lock .auth0-lock-header-bg {height: 70px !important;}
.auth0-lock-header-logo {
  width: 40% !important;
  height: 100% !important;
}