body {
    /*padding-top: 20px;*/
    padding-bottom: 20px;
}

@font-face {
    font-family: "JakobC";
    src: url('/fonts/JakobC.otf');
}

.bg_top {
    background: url(/images/bg.png) repeat-x;
    height: 190px;
    margin: 0;
    padding: 0;

}

.bg_t {
    background: url(/images/bg-top.png) no-repeat;
    width: 1340px;
    height: 190px;
    margin-bottom: 0;
    padding: 70px 0 0 265px;
}

.bg_t a {
    text-decoration: none;
    font-family: JakobC;
}

.bg_t h1 {
    float: left;
    font-size: 65px;
    margin-top: -23px;
    padding: 0;
}

.bg_t h2 {
    font-size: 35px;
    margin: 5px 0 0 445px;
    padding: 0;
}

footer {
    text-align: center;
}

.navbar-inner > .container {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

form .nav {
    margin-top: -10px;
    margin-bottom: -15px;
}

.form-actions {
    margin-top: 20px;
}

.badges {
    margin-bottom: 10px;
}

.nav > li.nav-header > a {
    cursor: default !important;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 0px;
    padding-top: 15px;
    padding-bottom: 0;
}

.file-info {
    font-size: 12px;
    color: #979797;
    text-align: right;
}

.file-description {
    max-width: 480px;
    /*word-wrap: break-word;*/

    overflow-wrap: break-word; /* не поддерживает IE, Firefox; является копией word-wrap */
    word-wrap: break-word;
    word-break: keep-all; /* не поддерживает Opera12.14, значение keep-all не поддерживается IE, Chrome */
    line-break: auto; /* нет поддержки для русского языка */
    hyphens: manual; /* не поддерживает IE, Opera12.14, значение auto не поддерживается Chrome */
}

.clear {
    clear: both;
}

.container-fluid {
    /* min-width: 1200px !important;*/
}

.panel img, .container-fluid img {
    max-width: 100%;
}

.myvideo {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    border: 1px solid #ccc;
}

.myvideo iframe, .myvideo object, .myvideo embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 28px;
}

.nav .menu_item {
    padding-left: 35px;
}

.menu_astronomiya {
    background: url('/icons/astronomiya.png') 8px no-repeat;
}

.active .menu_astronomiya {
    background: url('/icons/white/astronomiya_w.png') 8px no-repeat;
}

.menu_biologiya {
    background: url('/icons/biologiya.png') 8px no-repeat;
}

.active .menu_biologiya {
    background: url('/icons/white/biologiya_w.png') 8px no-repeat;
}

.menu_geografiya {
    background: url('/icons/geografiya.png') 8px no-repeat;
}

.active .menu_geografiya {
    background: url('/icons/white/geografiya_w.png') 8px no-repeat;
}

.menu_informatika {
    background: url('/icons/informatika.png') 8px no-repeat;
}

.active .menu_informatika {
    background: url('/icons/white/informatika_w.png') 8px no-repeat;
}

.menu_matematika {
    background: url('/icons/matematika.png') 8px no-repeat;
}

.active .menu_matematika {
    background: url('/icons/white/matematika_w.png') 8px no-repeat;
}

.menu_himiya {
    background: url('/icons/himiya.png') 8px no-repeat;
}

.active .menu_himiya {
    background: url('/icons/white/himiya_w.png') 8px no-repeat;
}

.menu_fizika {
    background: url('/icons/fizika.png') 8px no-repeat;
}

.active .menu_fizika {
    background: url('/icons/white/fizika_w.png') 8px no-repeat;
}

.menu_russkiyYazik {
    background: url('/icons/russkiyYazik.png') 8px no-repeat;
}

.active .menu_russkiyYazik {
    background: url('/icons/white/russkiyYazik_w.png') 8px no-repeat;
}

.menu_angliiskiyYazik {
    background: url('/icons/angliiskiyYazik.png') 8px no-repeat;
}

.active .menu_angliiskiyYazik {
    background: url('/icons/white/angliiskiyYazik_w.png') 8px no-repeat;
}

.menu_istoriya {
    background: url('/icons/istoriya.png') 8px no-repeat;
}

.active .menu_istoriya {
    background: url('/icons/white/istoriya_w.png') 8px no-repeat;
}

.menu_obschestvoznanie {
    background: url('/icons/obschestvoznanie.png') 8px no-repeat;
}

.active .menu_obschestvoznanie {
    background: url('/icons/white/obschestvoznanie_w.png') 8px no-repeat;
}

.menu_literatura {
    background: url('/icons/literatura.png') 8px no-repeat;
}

.active .menu_literatura {
    background: url('/icons/white/literatura_w.png') 8px no-repeat;
}

.menu_muzika {
    background: url('/icons/muzika.png') 8px no-repeat;
}

.active .menu_muzika {
    background: url('/icons/white/muzika_w.png') 8px no-repeat;
}

.menu_tehnologiyam {
    background: url('/icons/tehnologiyam.png') 8px no-repeat;
}

.active .menu_tehnologiyam {
    background: url('/icons/white/tehnologiyam_w.png') 8px no-repeat;
}

.menu_fizkultura {
    background: url('/icons/fizkultura.png') 8px no-repeat;
}

.active .menu_fizkultura {
    background: url('/icons/white/fizkultura_w.png') 8px no-repeat;
}

.menu_izo {
    background: url('/icons/izo.png') 8px no-repeat;
}

.active .menu_izo {
    background: url('/icons/white/izo_w.png') 8px no-repeat;
}

.menu_obzh {
    background: url('/icons/obzh.png') 8px no-repeat;
}

.active .menu_obzh {
    background: url('/icons/white/obzh_w.png') 8px no-repeat;
}

.menu_nachalniyeKlassi {
    background: url('/icons/nachalniyeKlassi.png') 8px no-repeat;
}

.active .menu_nachalniyeKlassi {
    background: url('/icons/white/nachalniyeKlassi_w.png') 8px no-repeat;
}

.menu_vneurochka, .menu_corect {
    background: url('/icons/vneurochka.png') 8px no-repeat;
}

.active .menu_vneurochka, .active .menu_corect {
    background: url('/icons/white/vneurochka_w.png') 8px no-repeat;
}

.menu_directoru {
    background: url('/icons/directoru.png') 8px no-repeat;
}

.active .menu_directoru {
    background: url('/icons/white/directoru_w.png') 8px no-repeat;
}

.menu_nemeckiy {
    background: url('/icons/nemeckiy.png') 8px no-repeat;
}

.active .menu_nemeckiy {
    background: url('/icons/white/nemeckiy_w.png') 8px no-repeat;
}

.menu_zavuchu {
    background: url('/icons/zavuchu.png') 8px no-repeat;
}

.active .menu_zavuchu {
    background: url('/icons/white/zavuchu_w.png') 8px no-repeat;
}

.menu_klassnomuRukovoditeliu {
    background: url('/icons/klassnomuRukovoditeliu.png') 8px no-repeat;
}

.active .menu_klassnomuRukovoditeliu {
    background: url('/icons/white/klassnomuRukovoditeliu_w.png') 8px no-repeat;
}

.menu_tehnologiyad {
    background: url('/icons/tehnologiyad.png') 8px no-repeat;
}

.active .menu_tehnologiyad {
    background: url('/icons/white/tehnologiyad_w.png') 8px no-repeat;
}

.menu_vsemUchitelam {
    background: url('/icons/vsemUchitelam.png') 8px no-repeat;
}

.active .menu_vsemUchitelam {
    background: url('/icons/white/vsemUchitelam_w.png') 8px no-repeat;
}

.menu_prochee {
    background: url('/icons/prochee.png') 8px no-repeat;
}

.active .menu_prochee {
    background: url('/icons/white/prochee_w.png') 8px no-repeat;
}

.menu_psihologu {
    background: url('/icons/psihologu.png') 8px no-repeat;
}

.active .menu_psihologu {
    background: url('/icons/white/psihologu_w.png') 8px no-repeat;
}

.menu_ork {
    background: url('/icons/ork.png') 8px no-repeat;
}

.active .menu_ork {
    background: url('/icons/white/ork_w.png') 8px no-repeat;
}

.menu_mhk {
    background: url('/icons/mhk.png') 8px no-repeat;
}

.active .menu_mhk {
    background: url('/icons/white/mhk_w.png') 8px no-repeat;
}

.menu_doshkolnoeObrazovanie {
    background: url('/icons/doshkolnoeObrazovanie.png') 8px no-repeat;
}

.active .menu_doshkolnoeObrazovanie {
    background: url('/icons/white/doshkolnoeObrazovanie_w.png') 8px no-repeat;
}

.menu_logopediya {
    background: url('/icons/logopediya.png') 8px no-repeat;
}

.active .menu_logopediya {
    background: url('/icons/white/logopediya_w.png') 8px no-repeat;
}
.scrollbar-inner > .scroll-element.scroll-y {
    width : 14px !important;
}
