@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?clhluv');
	src:url('fonts/icomoon.eot?#iefixclhluv') format('embedded-opentype'),
		url('fonts/icomoon.ttf?clhluv') format('truetype'),
		url('fonts/icomoon.woff?clhluv') format('woff'),
		url('fonts/icomoon.svg?clhluv#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
	content: "\e61e";
}
.icon-twitter:before {
	content: "\e605";
}
.icon-youtube:before {
	content: "\e601";
}
.icon-instagram:before {
	content: "\e61a";
}
.icon-flickr:before {
	content: "\e61d";
}
.icon-rss:before {
	content: "\e642";
}
.icon-lupe:before {
	content: "\e616";
}
.icon-sprache:before {
	content: "\e607";
}
.icon-quicklinksmenu:before {
	content: "\e622";
}
.icon-navi-close:before {
	content: "\e626";
}
.icon-navi-open:before {
	content: "\e625";
}
.icon-mainmenue:before {
	content: "\e627";
}
.icon-menu-up:before {
	content: "\e629";
}
.icon-menu-down:before {
	content: "\e628";
}
.icon-quick-studienpoint:before {
	content: "\e60b";
}
.icon-quick-lesung:before {
	content: "\e60e";
}
.icon-quick-univis:before {
	content: "\e60a";
}
.icon-quick-biblio:before {
	content: "\e612";
}
.icon-quick-person:before {
	content: "\e60c";
}
.icon-quick-fakultaeten:before {
	content: "\e611";
}
.icon-quick-webmail:before {
	content: "\e609";
}
.icon-quick-intranet:before {
	content: "\e610";
}
.icon-quick-kontakt:before {
	content: "\e60f";
}
.icon-quick-zid:before {
	content: "\e608";
}
.icon-faq:before {
	content: "\e61c";
}
.icon-Information:before {
	content: "\e61b";
}
.icon-camera:before {
	content: "\e643";
}
.icon-Presse:before {
	content: "\e614";
}
.icon-news:before {
	content: "\e615";
}
.icon-Termine:before {
	content: "\e606";
}
.icon-kartenkontakte:before {
	content: "\e618";
}
.icon-professuren:before {
	content: "\e613";
}
.icon-shop:before {
	content: "\e624";
}
.icon-Login:before {
	content: "\e617";
}
.icon-user:before {
	content: "\e604";
}
.icon-blog:before {
	content: "\e621";
}
.icon-zitat:before {
	content: "\e623";
}
.icon-quicklinks:before {
	content: "\e60d";
}
.icon-extern:before {
	content: "\e61f";
}
.icon-download:before {
	content: "\e620";
}
.icon-vergroesserung:before {
	content: "\e603";
}
.icon-video:before {
	content: "\e602";
}
.icon-left:before {
	content: "\e630";
}
.icon-internlink:before {
	content: "\e619";
}
.icon-first:before {
	content: "\e640";
}
.icon-last:before {
	content: "\e641";
}
