@import url("style-base.css");
::-webkit-input-placeholder {color: #888;}
:-moz-placeholder {color: #888;}
::-moz-placeholder {color: #888;}
:-ms-input-placeholder {color: #888;}
body {color: #acacac; background: url("/images/tb.png") top left repeat-x #111;}
a {color: #ef5110;}
a:hover {color: #eed862;}
div.header {height:105px;}
div.logo {top:35px;}
ul.topmenu li a {color: #ccc;}
ul.topmenu li a:hover {color: #fff;}
/* search field */
div.search {background: #000; border-color:#252525; border-bottom-color: #3a3a3a; top: 40px; border-radius: 5px;}
div.search input.sf {color: #ddd;}
div.search button.sb:after {color: #e3c43e;}
.autocomplete-suggestions {border-color: #3a3a3a; background:#000;}
.autocomplete-suggestion {color: #ccc;}
.autocomplete-selected {background: #202020; color: #eee;}
.autocomplete-suggestions strong {color: #eed862;}
/* lang selector */
#lngselect {background:url("http://static.webclicks24.com/images/select-arrow-w.png") no-repeat 100% 50%;}
#lngselect strong {color: #fff;}
#lngselect.down:after {border-bottom-color: #3a3a3a;}
#lngselect ul {background-color: #202020; border-color: #3a3a3a;}
/* headers */
h1,h2,div.h {color: #ddd;
	border: 1px solid #282828; border-top: 1px solid #222;
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 0%, #181818 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#181818)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000000 0%,#181818 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 0%,#181818 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 0%,#181818 100%); /* IE10+ */
	background: linear-gradient(top,  #000000 0%,#181818 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#181818',GradientType=0 ); /* IE6-9 */
}
h1,h2 {font-size: 20px; font-weight: 400; padding: 0 10px;}
div.h h1, div.h h2 {background: none; border: none;}
div.tbookshare {right: -5px;}
/* buttons */
div.sort a, div.durgrp a, div.pages a {
	background: #444444; /* Old browsers */
	background: -moz-linear-gradient(top,  #444444 0%, #222222 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(100%,#222222)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #444444 0%,#222222 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #444444 0%,#222222 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #444444 0%,#222222 100%); /* IE10+ */
	background: linear-gradient(top,  #444444 0%,#222222 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
	border: 1px solid #000;
	text-shadow: 0 -1px 1px #222;
}
div.sort a:hover, div.durgrp a:hover, div.pages a:hover {}
div.sort a.current, div.durgrp a.current, div.pages a.current {color:#fff; background: #000; border: 1px solid #333;}
/* content and thumb categories */
ul.tcats li h3 {text-shadow: 0 -1px 0 #000; text-transform: uppercase;}
ul.content li, ul.tcats li {border-color: #272727; background: #272727;}
ul.content li h3 {color: #acacac; background-color: #202020; border-bottom: 1px solid #202020; text-shadow: 0 -1px 0 #000;}
ul.content li span.add {color: #888;}
ul.content li span.src {}
ul.content li span.src a {color: #888; text-shadow: 0 -1px 0 #000;}
ul.content li span.src a:hover {color: #eed862;}
ul.content li span.tl {border-top: 1px solid #202020;}
ul.content li span.tl a,ul.content li span.tl span {color: #ef5110; text-shadow: 0 -1px 0 #000;}
ul.content li span.tl a:hover {color: #eed862;}
ul.content li span.tl a.c {color: #ccc;}
/* icons */
ul.content li h3:after, ul.content li span.add:after, ul.content li span.src:after, ul.content li span.tl:after, div.related a:after {color: #606060;}
div.az ul li:after, div.related a:after {color: #707070;}
/* text categories */
div.az ul li.letter {background: #000; border-radius: 3px; color: #ddd; border-bottom: 1px solid #282828;}
/* back to top button */
#back_to_top a#back-to-top {background: #d3a711;}
/* banners */
.ads3b {border-color: #272727; background: #272727;}



@media all and (max-width: 1000px) {
	h1,h2 {font-size: 20px;}
	ul.content li, ul.tcats li, ul.content li:hover, ul.tcats li:hover {border-color: #111;}
}
@media all and (max-width: 767px) {
	div.header {height: 100px; background: none;}
	div.search {top:auto;}
	div.logo {top: 5px;}
	ul.content li a.report {color: #707070;}
	ul.content li h3 {color: #ef5110;}
}
@media all and (max-width: 479px) {
	h1,h2 {font-size: 16px;}
}

