.bvatrack_popup { font-size: 18px; padding: 0; margin: 0; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

#popup_bva{
	position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.bvatrack_popup {
	font-family: Arial, "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	position: absolute !important;
    top: 50% !important;
    left: 50% !important;
	
	max-width: 480px!important;
	min-width: 250px;
	height: auto;
	z-index: 2000;
	font-family: Arial, "Helvetica Neue", sans-serif;	
	/*visibility: hidden;*/
	background: #FFFFFF;
	border: 1px solid #c7c7c7;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	bottom: initial;
}


.bvatrack_popup b {
	font-weight:bold;
}

.bvatrack_popup a, .bvatrack_popup input, .bvatrack_popup a:link {

 text-decoration:none; 
 	
}

.bvatrack_popup input {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 5px;
    display: inline-block;
    margin: 0 5px 15px 5px;
    width: 45%;
	border:none;
	font-family: Arial, "Helvetica Neue", sans-serif;
	font-size: 18px;
	color: #73556b;
}

.bvatrack_popup input:focus,
.bvatrack_popup select:focus,
.bvatrack_popup textarea:focus,
.bvatrack_popup button:focus {
    outline: none;
}

.bvatrack_popup button {
	border: 3px solid #FFF;
	padding: 0.6em 1.2em;
	background: transparent;
	color: #FFF;
	font-family: Arial, "Helvetica Neue", sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 2px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.bvatrack_popup button:hover {
	background: #FFF;
	color: #f65283;
}

.bvatrack_popup a.logo {
	display: block;
	width: 182px;
	margin: 0 auto;
}

.bvatrack_popup p.intro {
	font-family: Arial, "Helvetica Neue", sans-serif;
	color:#f65283;
	font-weight: 300;
	font-style: italic;
	font-size: 23px;
	margin: 0 auto 50px;
}

.bvatrack_popup .popup-button {
	margin-bottom: 60px;
}

.bvatrack_popup img {
	max-width: 100%;
}

.bvatrack_popup .show {
	visibility: visible;
}

.bvatrack_popup .overlay {
	position: fixed;
	width: 100%;
	height: 100%;

	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.bvatrack_popup .show ~ .overlay {
	opacity: 1;
	visibility: visible;
}

.bvatrack_popup .popup-content {
	color: #484848;
	position: relative;
	border-radius: 3px;
	margin: 0 auto;
	padding: 3% 5%;
}

.bvatrack_popup .popup-content h3 {
	margin: 0;
	color:#ad1c72;
	text-align: center;
	font-size: 1.25em;
	font-weight: 300;
	position: relative;
	padding:15px 0;
}

.bvatrack_popup .popup-content h3:before {
	position: absolute;
	width: 47px;
	height: 38px;
	content: "";
	top: 18px;
	left: 0px;
}

.bvatrack_popup .popup-content .contentext {
	font-family: Arial, "Helvetica Neue", sans-serif;
	color: #555555;
	margin-bottom: 10px;
	padding:0 10px;
	text-align: justify;
}

.bvatrack_popup .popup-content .contentextmentions {
	font-family: Arial, "Helvetica Neue", sans-serif;
	color: #555555;
	margin-top: 10px;
	margin-bottom: 30px;
	padding:0 10px;
	text-align: justify;
	font-style:italic;
	font-size:0.75em;
}

.bvatrack_popup .popup-content > div {
	padding: 0px;
	margin: 0;
	font-weight: 300;
	font-size: 0.82em;
}

.bvatrack_popup .popup-content > div p {
	margin: 0;
	padding: 10px 0;
}

.bvatrack_popup .popup-content > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
}

.bvatrack_popup .popup-content > div ul li {
	padding: 5px 0;
}

.bvatrack_popup .popup-content button {
	display: block;
	margin: 0 auto;
	font-size: 0.8em;
}

.bvatrack_popup .close {
	background: url(../img/close.png) no-repeat;
	height: 49px;
	width: 49px;
	position: absolute;
	right: -34px;
	top: -36px;
	z-index: 9999;
	cursor: pointer;
	opacity: 1;
	-webkit-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	transition: all ease-in-out 0.3s;
}

.bvatrack_popup .close:hover {
	opacity: 0.2;
}

.bvatrack_popup .submitNO {
	color: #ad1c72;
	background:white;
	font-family: Arial, "Helvetica Neue", sans-serif;
	font-size: 1.6em;
		font-weight:bold;
	opacity: 1;
	cursor: pointer;
	-webkit-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	transition: all ease-in-out 0.3s;
	border:1px solid #ad1c72;
}

.bvatrack_popup .submitNO:hover {
	opacity: 0.5;
}

.bvatrack_popup .submitYES {
	color: white;
	background:#ad1c72;
	font-family: Arial, "Helvetica Neue", sans-serif;
	font-size: 1.6em;
		font-weight:bold;
	opacity: 1;
	cursor: pointer;
	-webkit-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	transition: all ease-in-out 0.3s;
		border:1px solid #ad1c72;
}

.bvatrack_popup .submitYES:hover {
	opacity: 0.5;
}


/* Effet blur */
.bvatrack_popup .show.blur-effect ~ .overlay {
	background: rgba(123,53,92,0.4);
}

.bvatrack_popup .show.blur-effect ~ .container, .show.blur-effect ~ .bgall{
	-webkit-filter: blur(30px);
	-moz-filter: blur(30px);
	filter: blur(30px);
}

.bvatrack_popup .blur-effect .popup-content {


}

.bvatrack_popup .show.blur-effect ~ .container,
.bvatrack_popup .blur-effect .popup-content, .bvatrack_popup .show.blur-effect ~ .bgall {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.bvatrack_popup .show.blur-effect .popup-content {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}

.bvatrack_popup .mentions{
/*	position:fixed;
	bottom:0;
	*/right:0;
	
	text-align:right;
	float:right;
	font-size:0.8em;
	font-weight:300;
	color:#ad1c72;
	padding-right:15px !important;
}

.bvatrack_popup .logo{
	text-align:center;
	max-width:100%;
	height:auto;
	}


/* Media queries */
@media only screen and (max-width : 480px) {	
	.bvatrack_popup #popup.modal {
	position: fixed;
	top:50%;
	left: 50%;
	width: 80%;/*
	max-width: 480px!important;*/
	min-width: 250px;
	height: auto;
	z-index: 2000;
	font-family: Arial, "Helvetica Neue", sans-serif;
	/*visibility: hidden;*/
	background: #FFFFFF;
	border: 1px solid #c7c7c7;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);	
	bottom: initial;
}	
	.bvatrack_popup .popup-content h3 {
		font-size: 1em;
	}
	.bvatrack_popup .close {
		right: 1px;
		top: 1px;
	}
	
	.bvatrack_popup .popup-content > div {
    padding: 0px;
    margin: 0;
    font-weight: 300;
    font-size: 0.8em;
}

.bvatrack_popup input {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 5px;
    display: block;
    margin: 0 auto 20px;
    width: 75%;
	border:none;
	font-family: Arial, "Helvetica Neue", sans-serif;
	font-size: 18px;
	color: #73556b;
	
}

.bvatrack_popup input:focus,
.bvatrack_popup select:focus,
.bvatrack_popup textarea:focus,
.bvatrack_popup button:focus {
    outline: 0;
}

.bvatrack_popup .submitNO {
	color: #ad1c72;
	background:white;
	font-family: Arial, "Helvetica Neue", sans-serif;
	font-size: 1.3em;
		font-weight:bold;
	opacity: 1;
	cursor: pointer;
	-webkit-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	transition: all ease-in-out 0.3s;
	border:1px solid #ad1c72;     
	}

.bvatrack_popup .submitYES {
	color: white;
	background:#ad1c72;
	font-family: Arial, "Helvetica Neue", sans-serif;
	font-size: 1.3em;
		font-weight:bold;
	opacity: 1;
	cursor: pointer;
	-webkit-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	transition: all ease-in-out 0.3s;
		border:1px solid #ad1c72;
}

}

@media (max-width : 768px){
	.bvatrack_popup {
		top: 20%;
		left: 20%;
	}
}

@media (max-width : 481px){
	.bvatrack_popup {
		top: 10%;
		left: 10%;
	}
}

.bvatrack_popup .popup-content .logo img{
	text-align:center;
	max-width:80%;
	height:auto;
	background-position:center top;
    display: block;
    margin: 0 auto;
	background-repeat:no-repeat;
}
