@charset "UTF-8";
.navi {
  display: none; }

#bg {
  min-width: 320px; }

.mobile,
.mobile #container {
  min-height: 0; }

#footer_box .footer_left,
#footer_box .footer_right,
#footer_box .footer_center {
  display: none; }

#footer_box {
  padding: 22px 0 124px;
  margin: 0 auto; }

#footer_box .f_design {
  display: block;
  width: 196px;
  height: 80px;
  margin: 0 auto;
  background: url(../../img/home/top-product-fd.svg) no-repeat center center;
  text-indent: -9999px;
  overflow: hidden; }

#footer_box:after {
  content: "見たこともない最高をつくるデザインスタジオ";
  color: #7c7c7c;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  display: block;
  margin-top: -10px; }

html {
  width: 100%;
  height: 100%; }

body {
  background: #245c90;
  width: 100%;
  height: 100%; }

#container {
  padding: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  position: relative; }

#bg {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 150%; }

#bg div {
  position: absolute;
  left: 0;
  margin-top: 10.1%;
  width: 100%;
  height: 100%;
  background: url(../../img/home/top-feature-back-sleipnir-mobile.png) no-repeat #245c90;
  background-position: 50% 0;
  background-size: 720px auto; }

#scroll {
  background: url(../../img/home/top-product-dim.png) repeat-x left top, url(../../img/home/top-product-dim_repeat.png) repeat-x left 480px; }

#title {
  width: 100%;
  height: 100%; }

#title h1 {
  width: 100%;
  height: 210px;
  margin: 0 auto;
  background: url(../../img/home/top-feature-front-sleipnir-mobile-sp.png) no-repeat;
  background-size: 100% auto;
  text-indent: -9999px;
  overflow: hidden;
  position: relative;
  top: 17.7%; }

#product {
  margin-top: -114px;
  width: 100%;
  padding: 0 14px;
  box-sizing: border-box; }

#product h1 {
  font-size: 14px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6);
  line-height: 22px;
  height: 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.42); }

#product ul {
  letter-spacing: -0.40em;
  margin: 0 auto;
  padding-bottom: 20px;
  font-size: 0; }

#product ul li {
  margin: 0 auto;
  letter-spacing: normal;
  height: 257px;
  display: block;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.42); }

#product ul li:last-child {
  border: none; }

#product ul li a {
  width: 282px;
  height: 257px;
  margin: 0 auto;
  overflow: hidden;
  display: block;
  box-sizing: border-box; }

#product ul li a .product_icon {
  width: 282px;
  height: 152px;
  display: block; }

#product ul li a .product_msg {
  margin: -8px 0 0;
  width: 282px;
  height: 106px;
  display: block; }

#product ul li:hover {
  background: url(../../img/home/top-product-hovered.png) no-repeat center center; }

footer {
  background: #fff;
  margin-top: 0; }

#fbg {
  width: 100%;
  height: 300%;
  display: block;
  position: fixed;
  top: 100%;
  background: #fff;
  z-index: 0; }
