/*****************************************/
/* fix sigma teaser in slider for FF ESR */
/*****************************************/

@media screen and (min-width: 480px) {

    .sigma.slideshow .slideshow__slide {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;

        -webkit-box-flex: 0!important;
        -ms-flex: 0 0 auto!important;
        flex: 0 0 auto!important;

        width: calc(50% - 1.5rem);
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .sigma.slideshow .slideshow__slide {
        -webkit-box-flex:1!important;
        -ms-flex: 1!important;
        flex: 1!important;
    }
}

/*************************************************/
/* z-index for content-navigation on productpage */
/*************************************************/

.content-navigation__select {
   z-index: auto!important;
}

.content-navigation .select,
.content-navigation .select__trigger{
    z-index: 15!important;
}

/************************************************/
/* z-index for onsite-navigation on productpage */
/************************************************/

.onsite-navigation__index-list {
    z-index: 1!important;
}

/*********************************************/
/* badge images in IE and FF                 */
/* (origin/bugfix/EXTSII-139-lsg-badge-ie11) */
/*********************************************/


.stage .badge .badge__content {
    max-width: initial!important;
    max-height: initial!important;
    height: 66%!important;
    width: 50%!important;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
}


.stage .badge .badge__content img[src*=".svg"] {
    margin: 0!important;
    width: auto!important;
    height: 100%!important;
}

/* FIX for IE11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .stage .badge .badge__content img[src$=".svg"] {
        width: 100%!important;
    }
}

/*********************************************/
/* margin on responsive images               */
/*********************************************/

.responsive-image--margin-bottom img {
    margin-bottom: 1rem;
}

/*********************************************/
/* recalculate correct paddings on sections  */
/*********************************************/

.section {
    /* 5rem - (1.5rem * 2) for .col and .col-content top and bottom */
    margin-bottom: 2rem !important;
}

@media screen and (min-width: 480px) {

    .section {
        /* 8rem - (1.75rem *2 ) for .col and .col-content top and bottom */
        margin-bottom: 4.5rem !important;
    }
}

/************************************/
/* add cursor to video player-item  */
/************************************/

.video-player {
    cursor: pointer;
}
