/* Link colors */
A:link			{ text-decoration: none; color: #0000AA; font-size:8pt;}
A:visited		{ text-decoration: none; color: #0000AA; font-size:8pt;}
A:active		{ text-decoration: none; color: #000050; font-size:8pt;}
A:hover			{ text-decoration: underline; color: #0000AA; font-size:8pt;}

/* Link2 colors */
A.link2:link			{ text-decoration: none; color: #FFFFFF; font-size:8pt;}
A.link2:visited		{ text-decoration: none; color: #FFFFFF; font-size:8pt;}
A.link2:active		{ text-decoration: none; color: #FFFFFF; font-size:8pt;}
A.link2:hover			{ text-decoration: underline; color: #FFFFFF; font-size:8pt;}

/* Define BODY style */
.main_body {
	font-size:8pt;
	font-family: Verdana;
	background-image: url(images/NB-Epic_bkg.gif);
	background-repeat: repeat-x;
	background-position: top;
	background-color: #006496;
}	
TD { font-size:8pt; font-family: Verdana; }	
H1 { font-size:8pt; font-family: Verdana; }	

/* DEFINE THE EXPAND CROSS LOCATION IN TORRENTTABLE */
.showthecross{ margin-top: 0px; margin-right: 0px; margin-left: 2px; float: left;}

/* TORRENTTABLE() */
.ttable_headouter { border-collapse: collapse; }
.ttable_headinner {	border-collapse: collapse; border:1px solid #9999CC; }
.ttable_head { font-family: 'Verdana'; color: #000000; font-size: 8pt; background: #66CCFF; text-align: center;}
.ttable_col1 { font-family: 'Verdana'; border:1px solid #9999CC; font-size: 8pt; background: #F7F7F7; }
.ttable_coltype { font-family: 'Verdana'; border:1px solid #9999CC; font-size: 8pt; background: #F7F7F7; }
.ttable_col2 { font-family: 'Verdana'; border:1px solid #9999CC; font-size: 8pt; background: #ffffff; }
.ttable_colx { font-family: 'Verdana'; border:1px solid #9999CC; font-size: 8pt; background: #ECECEC; }

/* Define Other Tables */
.table_table { border: #000000; border-style: border-style; border-width: 1px; border-collapse:collapse; }
.table_head { font-family: 'Verdana'; border:1px solid #666699; font-size: 8pt; background: #66CCFF; color: #000000; }
.table_col1 { font-family: 'Verdana'; border:1px solid #666699; font-size: 8pt; background: #F7F7F7; }
.table_col2 { font-family: 'Verdana'; border:1px solid #666699; font-size: 8pt; background: #ffffff; }
.table_col3 { font-family: 'Verdana'; border:1px solid #666699; font-size: 8pt; background: #ffffff; }


/* BLOCK STYLE */
.block{
	padding-right: 3px;
	padding-left: 3px;
}
.btl{ width: 10px; background-image: url(images/NB-Epic_tl.gif); }
.bcapbar{ 
	background-repeat: repeat-x;
	font-size: 12px;
	color: #FFFFFF;
	font-family: verdana, tahoma, arial, sans-serif;
	background-image: url(images/NB-Epic_tm.gif);
	vertical-align: text-top;
	padding-top: 12px;
	text-align: center;
	font-weight: bold;
}
.btr{ width: 10px; background-image: url(images/NB-Epic_tr.gif); }
.bml{ width: 6px; background-repeat: repeat-y; background-image: url(images/NB-Epic_ml.gif); }
.bmmain{ width: 100%; background-image: url(images/NB-Epic_mmain.gif); padding: 4px 5px 5px 4px; font-size: 10px; color: #000; font-family: verdana, tahoma, arial, sans-serif; vertical-align:top; }
.bmr{ width: 6px; background-repeat: repeat-y; background-image: url(images/NB-Epic_mr.gif); }
.bbl{ width: 6px; background-image: url(images/NB-Epic_bl.gif); }
.bbm{ width: 100%; background-repeat: repeat-x; background-image: url(images/NB-Epic_bm.gif);}
.bbr{ width: 6px; background-image: url(images/NB-Epic_br.gif); }

/* FRAME STYLE */
.frame{
	padding-right: 5px;
	padding-left: 5px;
}
.ftl{ width: 10px; background-image: url(images/NB-Epic_tl.gif); }
.fcapbar{ 
	background-repeat: repeat-x;
	font-size: 12px;
	color: #FFFFFF;
	font-family: verdana, tahoma, arial, sans-serif;
	background-image: url(images/NB-Epic_tm.gif);
	vertical-align: text-top;
	padding-top: 12px;
	text-align: center;
	font-weight: bold;
}
.fcapbar1{ 
	background-repeat: repeat-x;
	font-size: 12px;
	color: #FFFFFF;
	font-family: verdana, tahoma, arial, sans-serif;
	background-image: url(images/NB-Epic_tm.gif);
	vertical-align: text-top;
	padding-top: 12px;
	text-align: right;
	font-weight: bold;
}

.ftr{ width: 10px; background-image: url(images/NB-Epic_tr.gif); }
.fml{ width: 6px; background-repeat: repeat-y; background-image: url(images/NB-Epic_ml.gif); }
.fmmain{ width: 100%; background-image: url(images/NB-Epic_mmain.gif); padding: 4px 5px 5px 4px; font-size: 10px; color: #000; font-family: verdana, tahoma, arial, sans-serif; vertical-align:top; }
.fmr{ width: 6px; background-repeat: repeat-y; background-image: url(images/NB-Epic_mr.gif); }
.fbl{ width: 6px; background-image: url(images/NB-Epic_bl.gif); }
.fbm{ width: 100%; background-repeat: repeat-x; background-image: url(images/NB-Epic_bm.gif);}
.fbr{ width: 6px; background-image: url(images/NB-Epic_br.gif); }
/* top navigation bar bg*/
td.subnav{
	background-image:url(images/NB-Epic_05-07.gif);
	height:26px;
	padding-top: 3px;
	color: #FFFFFF;
	padding-bottom: 5px;
}
.login {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	padding-right: 20px;
}


/* Torrents-details download box*/
#downloadbox {
	padding: .75em;
	background-color: #eff3fb;
	border: 1px solid #8ba7cd;
}

/*DEFINE THE SHOUTBOX CSS */
.shoutbox_body { font-family: verdana; color: black; float: middle; background-color: White; }
.shoutbox_contain { border: 0; height: 150; width: 100%; overflow: auto; align: middle; }
.shoutbox_history { border: 0;height: 100%;width: 100%;align: middle; }
.shoutbox_messageboxback { background-color: White; }
.shoutbox_noalt { background-color: White; }
.shoutbox_alt { background-color: AliceBlue; }
.shoutbox_msgbox { width: 100%; font-size: 12px; background-color: AliceBlue;border: 1px solid black; }
.shoutbox_shoutbtn { font-size: 12px; background-color: AliceBlue;border: 1px solid black; font-weight: bold; }
.shoutbox_error { color: red;font-size: 13px; }
.frame table{ width:100%;}
