#mainmenu_tantum{width:982px;height:31px;margin:0 10px;position:absolute;top:200px;_top:201px;z-index:800;}
#mainmenu_tantum li{
    /*04.06.2014 - edited*/
    display: inline-block;
    overflow:hidden
}
/*04.06.2014 - added*/
#mainmenu_tantum ul{font-size: 0;}
#mainmenu_tantum li a{outline-style:none;float:left;width:190px;height:0;padding-top:32px;overflow:hidden;}
#mainmenu_tantum li a {background:url("menu_tantum.png") no-repeat;}
#mainmenu_tantum li div.icons {background:url("menu_tantum.png") no-repeat; outline-style:none;float:left;height:0;padding-top:32px;overflow:hidden; border-radius:0 10px 8px 0;}
#mainmenu_tantum li#menu_item_sr{
    width: 149px;
    border-right: 1px solid #bbb;
}
#mainmenu_tantum li#menu_item_sr>a{position:relative;overflow:hidden;border-left:1px solid #bbb;}
#mainmenu_tantum li#menu_item_sr a.tmp_class2 input.edit{width:187px;color: #222 !important;text-shadow: 0 1px 0 #DDDDDD !important;
background:url("menu_tantum.png") no-repeat scroll -384px -117px !important;}
#mainmenu_tantum li#menu_item_sr a.tmp_class2{background-position:-731px -110px;}
#mainmenu_tantum li#menu_item_sr input.edit{
    -webkit-opacity:0.6;
    -moz-opacity:0.6;
    -khtml-opacity:0.6;
    opacity:0.6;
    padding:0 5px;
    _padding:3px 5px 0 5px;
    background: url("menu_tantum.png") no-repeat scroll -444px -117px transparent;
    border-radius: 5px 5px 5px 5px;
    color: #4A4A4A;
    display: block;
    font: 12px Tahoma;
    height: 23px;
    /*04.06.2014 - edited*/
    right: 7px;
    position: absolute;
    text-shadow: 0 1px 0 #F3F3F3;
    top: 5px;
    width: 128px;
    z-index: 10;}
#mainmenu_tantum li#menu_item_sr input.submit{height: 25px;
    position: absolute;
    right: 5px;
    _right:10px;
    top: 3px;
    width: 25px;
    z-index: 20;cursor:pointer;}
#mainmenu_tantum li#menu_item_sr input{background:transparent;}

#mainmenu_tantum li#menu_logo a{background-position:0px 0;width:86px;}
#mainmenu_tantum li#menu_logo a:hover{background-position:0px -74px !important;width:86px;}
#mainmenu_tantum li#menu_logo a:active{background-position:0px -37px !important;width:86px;_margin-top:1px}

#mainmenu_tantum li#menu_video a{background-position:-87px 0;width:129px;}
#mainmenu_tantum li#menu_video a:hover{background-position:-87px -74px !important;width:129px;}
#mainmenu_tantum li#menu_video a:active{background-position:-87px -37px !important;width:129px;_margin-top:1px}

#mainmenu_tantum li#menu_news a{background-position:-216px 0;width:132px;}
#mainmenu_tantum li#menu_news a:hover{background-position:-216px -74px !important;width:132px;}
#mainmenu_tantum li#menu_news a:active{background-position:-216px -37px !important;width:132px;_margin-top:1px}

#mainmenu_tantum li#menu_prog a{background-position:-350px 0;width:129px;}
#mainmenu_tantum li#menu_prog a:hover{background-position:-350px -74px !important;width:129px;}
#mainmenu_tantum li#menu_prog a:active{background-position:-350px -37px !important;width:129px;_margin-top:1px}

/** Игры меню */
#mainmenu_tantum li#menu_item_gm a{background-position:-458px 0;width:71px;}
/** ТНТ-Comedy меню */
#mainmenu_tantum li#menu_item_tv a{background-position:-569px 0;width:124px;}
/** пункт меню TrueLove **/
#mainmenu_tantum li#menu_item_true a{background-position:-461px 0;width:108px;}

#mainmenu_tantum li#menu_item_sr a{background-position:-774px -110px;width:149px;text-decoration:none;}

#mainmenu_tantum li#menu_soc div.icons {
    background-position: -833px 0;
    text-decoration: none;
    /*04.06.2014 - edited*/
    width: 139px;
}

#mainmenu_tantum li#menu_tantum a{background-position:-479px 0;width:115px;}
#mainmenu_tantum li#menu_tantum a:hover{background-position:-479px -74px !important;width:115px;}
#mainmenu_tantum li#menu_tantum a:active{background-position:-479px -37px !important;width:115px;_margin-top:1px}

#mainmenu_tantum li#menu_item3.tmp_class a{background-position:-645px 0;}

#mainmenu_tantum li#menu_item_gm a:hover{background-position:-458px -74px !important;width:71px;}
#mainmenu_tantum li#menu_item_tv a:hover{background-position:-569px -74px !important;width:124px;}
/** пункт меню TrueLove **/
#mainmenu_tantum li#menu_item_true a:hover{background-position:-461px -74px !important;width:108px;}

#mainmenu_tantum li#menu_item_gm a:active{background-position:-458px -37px !important;width:71px;_margin-top:1px}
/** пункт меню Сокро **/
#mainmenu_tantum li#menu_item_skoro a{background-position:-461px 0;width:132px;}
#mainmenu_tantum li#menu_item_skoro a:hover{background-position:-461px -74px !important;width:132px;}
#mainmenu_tantum li#menu_item_skoro a:active{background-position:-461px -37px !important;width:132px;_margin-top:1px}

/** пункт меню ТНТ4 **/
#mainmenu_tantum li#menu_item_tnt4 a{background-position:-594px 0;width:99px;}
#mainmenu_tantum li#menu_item_tnt4 a:hover{background-position:-594px -74px !important;width:99px;}
#mainmenu_tantum li#menu_item_tnt4 a:active{background-position:-594px -37px !important;width:99px;_margin-top:1px}

.icons .container {position:absolute;top:6px; display:block;  width:130px; height:20px;}
.icons .container .icon {position:relative; display:block; margin-right:3px; margin-left:3px; width:20px; height:20px; float:left; overflow:hidden;}

#mainmenu_tantum .rt { background-position:-657px -110px!important;}
#mainmenu_tantum .rt:hover { background-position:-657px -130px!important;}

#mainmenu_tantum .vk { background-position:-697px -110px!important;}
#mainmenu_tantum .vk:hover { background-position:-697px -130px!important;}

#mainmenu_tantum .fb { background-position:-616px -110px!important;}
#mainmenu_tantum .fb:hover { background-position:-616px -130px!important;}

#mainmenu_tantum .twitt { background-position:-636px -110px!important;}
#mainmenu_tantum .twitt:hover { background-position:-636px -130px!important;}

#mainmenu_tantum .youtube{ background-position:-658px -110px!important;}
#mainmenu_tantum .youtube:hover { background-position:-658px -130px!important;}

#mainmenu_tantum .instagram{ background-position:-678px -110px!important;}
#mainmenu_tantum .instagram:hover { background-position:-678px -130px!important;}
