@charset "UTF-8";
/* PC共通
---------------------------------------------------------- */
#contentArea {
  margin-top: -90px;
  max-width: none;
}

.topBox {
  margin: 0 auto;
  max-width: 960px;
}
.topBox.fullW {
  max-width: 100%;
}
.topBox > a:hover .linkbtn01 .btn {
  background: #0F67BA;
  border: solid 1px #0F67BA;
  text-decoration: none;
}
.topBox > a.topMvBtn {
  -webkit-tap-highlight-color: transparent;
}

.linkbtn01 a, .linkbtn01 span, .linkbtn04 a, .linkbtn04 span {
  padding: 16px 20px;
  display: inline-block;
  border: solid 1px #FFF;
  line-height: 1;
  font-size: 16px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-tap-highlight-color: transparent;
}
.linkbtn01 a:hover, .linkbtn01 span:hover, .linkbtn04 a:hover, .linkbtn04 span:hover {
  background: #0F67BA;
  border: solid 1px #0F67BA;
  text-decoration: none;
}

.linkbtn02 a {
  padding: 16px 20px;
  display: inline-block;
  border: solid 1px #C8CFD7;
  line-height: 1;
  font-size: 16px;
  color: #191E28;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-tap-highlight-color: transparent;
}
.linkbtn02 a:hover {
  background: #0F67BA;
  border: solid 1px #0F67BA;
  text-decoration: none;
  color: #FFF;
}

.linkbtn03 a {
  padding: 8px 10px;
  display: inline-block;
  border: solid 1px #C8CFD7;
  line-height: 1;
  font-size: 12px;
  color: #191E28;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-tap-highlight-color: transparent;
}
.linkbtn03 a:hover {
  background: #0F67BA;
  border: solid 1px #0F67BA;
  text-decoration: none;
  color: #FFF;
}

/* タブレット共通
---------------------------------------------------------- */
@media only screen and (max-width: 768px) {
  #contentArea {
    margin: 0;
    padding: 0;
  }

  .linkbtn01 a:hover {
    background: transparent;
    border: solid 1px #FFF;
    text-decoration: none;
  }
  .linkbtn01 a.hover {
    background: #0F67BA;
    border: solid 1px #0F67BA;
    text-decoration: none;
  }

  .topBox > a:hover .linkbtn01 .btn {
    background: transparent;
    border: solid 1px #FFF;
    text-decoration: none;
  }
  .topBox > a.hover .linkbtn01 .btn {
    background: #0F67BA;
    border: solid 1px #0F67BA;
    text-decoration: none;
  }

  .linkbtn02 a:hover {
    background: transparent;
    border: solid 1px #C8CFD7;
    text-decoration: none;
    color: #27323B;
  }
  .linkbtn02 a.hover {
    background: #0F67BA;
    border: solid 1px #0F67BA;
    text-decoration: none;
    color: #FFF;
  }

  .linkbtn03 a:hover {
    background: transparent;
    border: solid 1px #C8CFD7;
    text-decoration: none;
    color: #263239;
  }
  .linkbtn03 a.hover {
    background: #0F67BA;
    border: solid 1px #0F67BA;
    text-decoration: none;
    color: #FFF;
  }

  .linkbtn04 a {
    border: solid 1px #C8CFD7;
    color: #323740;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-tap-highlight-color: transparent;
  }
  .linkbtn04 a:hover {
    background: transparent;
    border: solid 1px #C8CFD7;
    color: #323740;
    text-decoration: none;
  }
  .linkbtn04 a.hover {
    background: #0F67BA;
    border: solid 1px #0F67BA;
    text-decoration: none;
    color: #FFF;
  }
}
/* スマートフォン共通
---------------------------------------------------------- */
@media only screen and (max-width: 640px) {
  .linkbtn01 a, .linkbtn02 a, .linkbtn03 a, .linkbtn04 a {
    padding: 12px 19px;
    font-size: 14px;
  }
}
/* PC
---------------------------------------------------------- */
/* サイトトップ */
#siteTop .noticeArea {
  padding: 14px 0;
  width: 100%;
  position: absolute;
  top: 90px;
  left: 0;
  z-index: 500;
  background: rgba(255, 255, 255, 0.85);
}
#siteTop .noticeArea .notice {
  margin: 0 auto;
  width: 960px;
  position: relative;
}
#siteTop .noticeArea .notice p {
  margin-top: 0;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1;
  font-size: 12px;
  font-weight: 500;
  color: #191E28;
}
#siteTop .noticeArea .notice dl {
  margin-top: 14px;
  padding-left: 70px;
  font-size: 0;
}
#siteTop .noticeArea .notice dl:nth-child(2) {
  margin-top: 0;
}
#siteTop .noticeArea .notice dl dt {
  margin-right: 20px;
  width: 90px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  line-height: 1;
  font-size: 12px;
  color: #323741;
}
#siteTop .noticeArea .notice dl dd {
  width: 745px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  line-height: 1;
  font-size: 12px;
}
#siteTop .noticeArea .notice .closeBtn {
  width: 13px;
  height: 12px;
  position: absolute;
  right: 0;
  top: 0;
}
#siteTop .noticeArea .notice .closeBtn a {
  display: block;
  line-height: 1;
  opacity: 1;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-tap-highlight-color: transparent;
}
#siteTop .noticeArea .notice .closeBtn a:hover {
  opacity: 0.5;
}
#siteTop .service .viImg, #siteTop .company .viImg, #siteTop .recruit .viImg {
  margin-left: -720px;
  height: 580px;
  overflow: hidden;
  position: relative;
  left: 50%;
}
#siteTop .service .viCont, #siteTop .company .viCont, #siteTop .recruit .viCont {
  position: relative;
}
#siteTop .service {
  max-height: 580px;
  position: relative;
  overflow: hidden;
  background: #000A14;
}
#siteTop .service > ul {
  margin-top: 0;
}
#siteTop .service > ul li {
  margin-top: 0;
  display: block;
  position: relative;
}
#siteTop .service .bx-viewport {
  left: 0;
  border: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#siteTop .service .bx-viewport ul {
  margin-top: 0;
}
#siteTop .service .bx-viewport ul li {
  margin-top: 0;
}
#siteTop .service .viImg .imgSp {
  display: none;
}
#siteTop .service .viImg:after {
  content: '';
  width: 100%;
  height: 70%;
  position: absolute;
  bottom: -1px;
  left: 0;
  z-index: 1;
  display: block;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMGExNCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDBhMTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(0, 10, 20, 0) 0%, #000a14 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 10, 20, 0)), color-stop(100%, #000a14));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 10, 20, 0) 0%, #000a14 100%);
  /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(top, rgba(0, 10, 20, 0) 0%, #000a14 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000a14', endColorstr='#000a14',GradientType=0 );
  /* IE6-8 */
}
#siteTop .service .viCont {
  margin: auto;
  width: 960px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
#siteTop .service .viCont h2 {
  margin-top: 0;
  position: absolute;
  width: 100%;
  bottom: 260px;
  text-align: center;
  text-shadow: 0 0 60px #000;
  line-height: 1.8;
  font-size: 32px;
  font-weight: 200;
  color: #FFF;
}
#siteTop .service .viCont .linkbtn01 {
  position: absolute;
  width: 100%;
  bottom: 180px;
  text-align: center;
}
#siteTop .service .viCont .logoList {
  font-size: 0;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 60px;
}
#siteTop .service .viCont .logoList ul {
  max-width: 975px;
  margin: 0 auto;
  position: relative;
  left: -5px;
}
#siteTop .service .viCont .logoList ul li {
  font-size: initial;
  margin: 0 0 0 5px;
  display: inline-block;
}
#siteTop .service .viCont .logoList ul li a {
  display: block;
  position: relative;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}
#siteTop .service .viCont .logoList ul li a:before, #siteTop .service .viCont .logoList ul li a:after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-tap-highlight-color: transparent;
}
#siteTop .service .viCont .logoList ul li a:before {
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  -webkit-transform: translate(-101%, 0);
  -moz-transform: translate(-101%, 0);
  -ms-transform: translate(-101%, 0);
  -o-transform: translate(-101%, 0);
  transform: translate(-101%, 0);
}
#siteTop .service .viCont .logoList ul li a:after {
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
  -webkit-transform: translate(0, -101%);
  -moz-transform: translate(0, -101%);
  -ms-transform: translate(0, -101%);
  -o-transform: translate(0, -101%);
  transform: translate(0, -101%);
}
#siteTop .service .viCont .logoList ul li a:hover:before {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
#siteTop .service .viCont .logoList ul li a:hover:after {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
#siteTop .service .viCont .logoList ul li img {
  max-width: 100%;
  height: auto;
}
#siteTop .service .viCont .logoList.logoList01 ul li {
  width: 180px;
  height: 90px;
}
#siteTop .media {
  margin-top: 60px;
}
#siteTop .media h2 {
  margin: 0 auto;
  width: 274px;
  line-height: 1;
}
#siteTop .media h2 img {
  width: 100%;
}
#siteTop .media .tbList {
  margin: 30px auto 0;
  width: 960px;
}
#siteTop .media .tbList h3 {
  margin: 0 auto;
  line-height: 1.8;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #d20078;
}
#siteTop .media .tbList ul {
  margin-top: 15px;
  letter-spacing: -.40em;
}
#siteTop .media .tbList ul li {
  width: 300px;
  margin: 30px 30px 0 0;
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
}
#siteTop .media .tbList ul li:nth-child(3n) {
  margin-right: 0;
}
#siteTop .media .tbList ul li a {
  display: block;
  line-height: 1.5;
  font-size: 16px;
  color: #191E28;
}
#siteTop .media .tbList ul li a .picDate {
  line-height: 1;
  font-size: 10px;
  color: #DCE2E8;
}
#siteTop .media .tbList ul li a .picTxt {
  color: #d20078;
}
#siteTop .media .tbList ul li a .picImg {
  position: relative;
  opacity: 1;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-tap-highlight-color: transparent;
}
#siteTop .media .tbList ul li a .picImg:after {
  content: '';
  width: 100%;
  height: 50%;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMGExNCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDBhMTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(0, 10, 20, 0) 0%, #000a14 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 10, 20, 0)), color-stop(100%, #000a14));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 10, 20, 0) 0%, #000a14 100%);
  /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(top, rgba(0, 10, 20, 0) 0%, #000a14 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000a14', endColorstr='#000a14',GradientType=0 );
  /* IE6-8 */
}
#siteTop .media .tbList ul li a .picImg img {
  width: 100%;
}
#siteTop .media .tbList ul li a:hover {
  text-decoration: none;
}
#siteTop .media .tbList ul li a:hover .picImg {
  opacity: 0.8;
}
#siteTop .media .linkbtn02 {
  margin-top: 30px;
  text-align: center;
}
#siteTop .news {
  margin-top: 40px;
  padding: 60px 0;
  background: #EBF0F5;
}
#siteTop .news .newsDtl {
  margin: 50px auto 0;
  width: 960px;
  position: relative;
}
#siteTop .news .newsDtl:first-child {
  margin-top: 0;
}
#siteTop .news .newsDtl h3 {
  margin-top: 0;
  padding-right: 160px;
  line-height: 1.8;
  font-size: 16px;
  font-weight: 500;
  color: #191E28;
}
#siteTop .news .newsDtl .linkbtn03 {
  position: absolute;
  top: -2px;
  right: 0;
}
#siteTop .news .newsDtl .listStyle01 .icon {
  background: transparent;
}
#siteTop .company .viCont {
  margin: -580px auto 0;
  min-height: 580px;
  width: 960px;
}
#siteTop .company .viCont h2 {
  margin-top: 0;
  padding-top: 150px;
  line-height: 1.8;
  font-size: 32px;
  font-weight: 200;
  color: #FFF;
}
#siteTop .company .viCont p {
  margin-top: 20px;
  line-height: 1.8;
  font-size: 14px;
  color: #FFF;
}
#siteTop .company .viCont .linkbtn04 {
  margin-top: 35px;
}
#siteTop .recruit .viCont {
  margin: -580px auto 0;
  min-height: 580px;
  width: 960px;
}
#siteTop .recruit .viCont h2 {
  margin-top: 0;
  padding: 160px 0 0 480px;
  line-height: 1.8;
  font-size: 32px;
  font-weight: 200;
  color: #FFF;
}
#siteTop .recruit .viCont p {
  margin: 20px 0 0 480px;
  line-height: 1.8;
  font-size: 14px;
  color: #FFF;
}
#siteTop .recruit .viCont .linkbtn04 {
  margin: 35px 0 0 480px;
}
#siteTop .bnrArea {
  background-color: #DCE2E8;
  margin: auto;
  padding: 20px 0 40px;
  overflow: hidden;
}
#siteTop .bnrArea #bnrPc {
  max-width: 960px;
  margin: 30px auto 0;
}
#siteTop .bnrArea #bnrPc ul {
  font-size: 0;
  margin-left: -20px;
}
#siteTop .bnrArea #bnrPc ul li {
  font-size: inherit;
  text-align: center;
  vertical-align: top;
  width: 225px;
  margin: 20px 0 0 20px;
  display: inline-block;
}
#siteTop .bnrArea #bnrPc ul li img {
  max-width: 100%;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  -ms-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}
#siteTop .bnrArea #bnrPc ul li a:hover img {
  opacity: 0.8;
}
#siteTop .bnrArea #bnrTb,
#siteTop .bnrArea #bnrSp {
  display: none;
}

/* タブレット
---------------------------------------------------------- */
@media only screen and (max-width: 768px) {
  /* サイトトップ */
  #siteTop .noticeArea {
    position: static;
    background: white;
  }
  #siteTop .noticeArea .notice {
    width: 90.625%;
  }
  #siteTop .noticeArea .notice dl dt {
    width: 120px;
  }
  #siteTop .noticeArea .notice dl dd {
    margin-top: -2px;
    width: 68.96552%;
    line-height: 1.4;
  }
  #siteTop .noticeArea .notice .closeBtn a:hover {
    opacity: 1;
  }
  #siteTop .noticeArea .notice .closeBtn a.hover {
    opacity: 0.5;
  }
  #siteTop .service .viImg, #siteTop .company .viImg, #siteTop .recruit .viImg {
    margin: 0;
    height: auto;
    overflow: visible;
    position: static;
  }
  #siteTop .service .viCont, #siteTop .company .viCont, #siteTop .recruit .viCont {
    position: static;
  }
  #siteTop .service {
    padding-bottom: 11.06771%;
  }
  #siteTop .service .viImg {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
  }
  #siteTop .service .viImg img {
    width: 100%;
  }
  #siteTop .service .viCont {
    width: 90.625%;
    height: 100%;
    position: absolute;
  }
  #siteTop .service .viCont h2 {
    bottom: 28.01724%;
    font-size: 28px;
  }
  #siteTop .service .viCont .linkbtn01 {
    bottom: 10.05747%;
  }
  #siteTop .service .viCont .logoList {
    display: none;
  }
  #siteTop .media .tbList {
    width: 90.625%;
  }
  #siteTop .media .tbList ul li {
    width: 31.89655%;
    margin: 2.15517% 2.15517% 0 0;
  }
  #siteTop .media .tbList ul li a:hover .picImg {
    opacity: 1;
  }
  #siteTop .media .tbList ul li a.hover .picImg {
    opacity: 0.8;
  }
  #siteTop .news .newsDtl {
    width: 90.625%;
  }
  #siteTop .company .viCont {
    margin: 0 auto;
    min-height: 0;
    width: 90.625%;
  }
  #siteTop .company .viCont h2 {
    margin-top: 30px;
    padding: 0;
    line-height: 1.6;
    color: #191E28;
  }
  #siteTop .company .viCont p {
    margin-top: 20px;
    color: #191E28;
  }
  #siteTop .company .viCont .linkbtn04 {
    margin-top: 35px;
  }
  #siteTop .recruit {
    margin-top: 45px;
    padding-bottom: 45px;
  }
  #siteTop .recruit .viCont {
    margin: 0 auto;
    min-height: 0;
    width: 90.625%;
  }
  #siteTop .recruit .viCont h2 {
    margin-top: 30px;
    padding: 0;
    line-height: 1.6;
    color: #191E28;
  }
  #siteTop .recruit .viCont p {
    margin: 20px 0 0;
    color: #191E28;
  }
  #siteTop .recruit .viCont .linkbtn04 {
    margin: 35px 0 0;
  }
  #siteTop .bnrArea {
    padding-bottom: 65px;
  }
  #siteTop .bnrArea #bnrTb {
    margin: 0 auto;
    max-width: auto;
    width: 90.625%;
    display: block;
  }
  #siteTop .bnrArea #bnrTb ul {
    font-size: 0;
  }
  #siteTop .bnrArea #bnrTb ul li {
    font-size: inherit;
    text-align: center;
    width: 30.98955%;
    margin: 18px 0 0 0;
    display: inline-block;
  }
  #siteTop .bnrArea #bnrTb ul li img {
    max-width: 100%;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    -ms-transition: opacity 0.25s ease;
    -o-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }
  #siteTop .bnrArea #bnrTb ul li a:hover img {
    opacity: 0.8;
  }
  #siteTop .bnrArea #bnrTb .bx-wrapper {
    margin-bottom: 0;
  }
  #siteTop .bnrArea #bnrTb .bx-wrapper .bx-viewport {
    left: 0;
    border: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }
  #siteTop .bnrArea #bnrTb .bx-wrapper .bx-viewport ul {
    margin-top: 0;
  }
  #siteTop .bnrArea #bnrTb .bx-wrapper .bx-viewport ul li {
    height: 100%;
    margin-top: 0;
    font-size: 0;
  }
  #siteTop .bnrArea #bnrTb .bx-wrapper .bx-viewport ul li a {
    margin-top: 20px;
    display: block;
  }
  #siteTop .bnrArea #bnrTb .bx-wrapper .bx-pager {
    bottom: -40px;
  }
  #siteTop .bnrArea #bnrTb .bx-wrapper .bx-pager .bx-pager-link {
    margin: 2px 8px;
    background-color: #535861;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
  }
  #siteTop .bnrArea #bnrTb .bx-wrapper .bx-pager .bx-pager-link.active {
    margin: 0 8px;
    border: solid 2px #4de4ff;
    background-color: transparent;
  }
  #siteTop .bnrArea #bnrPc,
  #siteTop .bnrArea #bnrSp {
    display: none;
  }
}
/* スマートフォン
---------------------------------------------------------- */
@media only screen and (max-width: 640px) {
  /* サイトトップ */
  #siteTop .noticeArea .notice {
    margin: 0 auto;
    width: 89.375%;
    position: relative;
  }
  #siteTop .noticeArea .notice dl {
    padding-left: 0;
  }
  #siteTop .noticeArea .notice dl dt {
    margin-right: 0;
    display: block;
  }
  #siteTop .noticeArea .notice dl dd {
    margin-top: 14px;
    width: 100%;
    display: block;
  }
  #siteTop .noticeArea .notice dl:nth-child(2) dt {
    margin: 0 0 0 70px;
  }
  #siteTop .service {
    padding: 0;
  }
  #siteTop .service .viImg .imgPc {
    display: none;
  }
  #siteTop .service .viImg .imgSp {
    display: block;
  }
  #siteTop .service .viImg:after {
    height: 90%;
  }
  #siteTop .service .viCont {
    width: 89.84375%;
  }
  #siteTop .service .viCont h2 {
    bottom: 34.78261%;
    line-height: 1.6;
    font-size: 18px;
  }
  #siteTop .service .viCont .linkbtn01 {
    bottom: 12.17391%;
  }
  #siteTop .media {
    margin-top: 20px;
  }
  #siteTop .media h2 {
    width: 140px;
    line-height: 1.6;
    font-size: 18px;
  }
  #siteTop .media .tbList {
    margin: 0 auto;
    width: 100%;
  }
  #siteTop .media .tbList h3 {
    margin-top: 15px;
    font-size: 12px;
  }
  #siteTop .media .tbList ul {
    margin-top: 20px;
  }
  #siteTop .media .tbList ul li {
    width: 100%;
    margin: 0;
    position: relative;
  }
  #siteTop .media .tbList ul li a {
    color: #FFF;
  }
  #siteTop .media .tbList ul li a .picDate {
    position: absolute;
    top: 20px;
    right: 10px;
    color: #d20078;
  }
  #siteTop .media .tbList ul li a .picTxt {
    width: 88.75%;
    position: absolute;
    bottom: 20px;
    left: 18px;
    line-height: 1.5;
    font-size: 16px;
    color: #FFF;
  }
  #siteTop .media .linkbtn02 {
    margin-top: 20px;
  }
  #siteTop .news {
    margin-top: 20px;
    padding: 35px 0;
  }
  #siteTop .news .newsDtl {
    margin-top: 25px;
    padding-bottom: 60px;
    width: 88.75%;
  }
  #siteTop .news .newsDtl .linkbtn03 {
    width: 100%;
    position: absolute;
    top: auto;
    bottom: 0;
    text-align: center;
  }
  #siteTop .news .newsDtl h3 {
    padding: 0;
    text-align: center;
  }
  #siteTop .news .newsDtl .listStyle01 {
    margin-top: 15px;
  }
  #siteTop .company .viCont h2 {
    margin-top: 20px;
    font-size: 18px;
  }
  #siteTop .company .viCont p {
    margin-top: 10px;
    color: #191E28;
  }
  #siteTop .company .viCont .linkbtn04 {
    margin-top: 20px;
    text-align: center;
  }
  #siteTop .recruit {
    margin-top: 30px;
    padding-bottom: 30px;
  }
  #siteTop .recruit .viCont h2 {
    margin-top: 20px;
    font-size: 18px;
  }
  #siteTop .recruit .viCont p {
    margin-top: 10px;
    color: #191E28;
  }
  #siteTop .recruit .viCont .linkbtn04 {
    margin-top: 20px;
    text-align: center;
  }
  #siteTop .bnrArea {
    padding: 20px 0 40px 0;
  }
  #siteTop .bnrArea #bnrPc,
  #siteTop .bnrArea #bnrTb {
    display: none;
  }
  #siteTop .bnrArea #bnrSp {
    width: 90.625%;
    margin: 0 auto;
    padding: 20px 0 0;
    display: block;
  }
  #siteTop .bnrArea #bnrSp ul {
    margin-top: 0;
  }
  #siteTop .bnrArea #bnrSp ul li {
    height: 100%;
    margin-top: 0;
    font-size: 0;
  }
  #siteTop .bnrArea #bnrSp ul li a {
    margin-top: 20px;
    display: block;
  }
  #siteTop .bnrArea #bnrSp .bx-wrapper {
    margin-bottom: 0;
  }
  #siteTop .bnrArea #bnrSp .bx-wrapper .bx-viewport {
    left: 0;
    border: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }
  #siteTop .bnrArea #bnrSp .bx-wrapper .bx-pager {
    bottom: -40px;
  }
  #siteTop .bnrArea #bnrSp .bx-wrapper .bx-pager .bx-pager-link {
    margin: 2px 8px;
    background-color: #535861;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
  }
  #siteTop .bnrArea #bnrSp .bx-wrapper .bx-pager .bx-pager-link.active {
    margin: 0 8px;
    border: solid 2px #4de4ff;
    background-color: transparent;
  }
}
