/* TV Program */
.tv-program {
  background:#fff;
  box-shadow:0 0 7px rgba(120, 138, 148, 0.3);
}
.tv-program h3 {
  margin:15px 0;
  font-size:2rem;
  line-height:24px;
  color:#fc7438;
}
.tv-program .options {
  margin:0 10px 10px;
}
.tv-program .options.open {
  margin:0 -1px 10px;
}
.tv-controls {
  display:none;
}
.tv-program .tabwrapper {
  max-height:280px;
  border-top:1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  overflow-y:scroll;
  overflow-x:hidden;
  -webkit-overflow-scrolling:touch;
}
.tv-program .empty {
  padding:15px 20px;
}
.tv-program li.broadcast {
  position:relative;
  list-style:none;
  padding:15px 70px 15px 20px;
  border-top:1px solid #e1e1e1;
  line-height:16px;
}
.tv-program li.broadcast:first-child {
  border:0;
}
.broadcast .title {
  margin:0 0 2px;
  font-size:1.5rem;
  font-weight:bold;
}
.broadcast .league {
  margin:0 0 2px;
  font-size:1.2rem;
  font-family:'Roboto Slab',serif;
  color:#818181;
}
.broadcast .channel {
  font-size:1.2rem;
  color:#fc7438;
}
.broadcast .time {
  position:absolute;
  top:16px;
  right:20px;
  font-size:1.3rem;
  color:#878787;
}
.broadcast .icon {
  position:absolute;
  bottom:15px;
  right:20px;
  width:20px;
}
.tv-program .more {
  display:block;
  margin:10px;
  padding:5px 10px;
  border:2px solid #e1e1e1;
  border-radius:4px;
  text-align:center;
  background:#fff;
  color:#33393d;
  -webkit-transition:0.3s;
  transition:0.3s;
}
body:not(.touch) .tv-program .more:hover {
  border-color:#2f2f2f;
  background:#2f2f2f;
  color:#fff;
}

@media screen and (max-width:969px) {
  .tv-program {
    position:relative;
  }
  .tv-program h3 {
    margin:15px 20px;
  }
  .tv-program .options {
    margin:0;
    border:0;
  }
  .tv-program .options .current {
    position:relative;
    z-index:1;
    float:right;
    margin:-43px 122px 0 12px;
    border:1px solid #e1e1e1;
    border-radius:3px;
    background:#ededed;
  }
  .tv-program .options.open {
    margin:0 -1px;
  }
  .tv-program .options li {
    padding:0 20px;
  }
  .tv-controls {
    display:block;
    position:absolute;
    top:0;
    right:0;
    z-index:1;
  }
  .tv-controls li {
    position:relative;
    float:left;
    list-style:none;
    width:54px;
    height:54px;
    border-left:1px solid #e1e1e1;
    text-indent:-9999px;
    overflow:hidden;
    cursor:pointer;
  }
  .tv-controls li.disabled {
    cursor:default;
  }
  .tv-controls li:before {
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    width:20px;
    height:11px;
    margin:-5px 0 0 -10px;
    background:url(../../images/sprite.svg) -264px -212px no-repeat;
  }
  .tv-controls li.down:before {
    background-position:-243px -212px;
  }
  .tv-controls li.disabled:before {
    background-position:-306px -212px;
  }
  .tv-controls li.disabled.down:before {
    background-position:-285px -212px;
  }
  .tv-program .tabwrapper {
    max-height:450px;
    overflow:hidden;
  }
  .tv-program .tab-content.active {
    -webkit-transition:0.3s margin;
    transition:0.3s margin;
  }
}

@media screen and (max-width:700px) {
  .tv-program h3 {
      margin:15px 20px;
      font-size:2rem;
      line-height:24px;
  }
}

@media screen and (max-width:650px) {
  .tv-program h3 {
    font-size:1.6rem;
    line-height:18px;
  }
  .tv-program .options {
    padding:0 0 10px;
    background:none;
  }
  .tv-program .options .current {
    float:none;
    margin:0 8px;
  }
  .tv-program .open .current {
    margin:0 -1px -1px;
    border-radius:0;
  }
  .tv-controls {
    position:static;
    border-top:1px solid #e1e1e1;
    overflow:hidden;
  }
  .tv-controls li {
    width:50%;
    height:34px;
    border:0;
  }
  .tv-program .tabwrapper {
    max-height:385px;
  }
}
