/* uksuggest.css */

.sg_results {
	margin: 0;
	z-index: 2;
}

.qsg_results {
    padding: 0;
    border: 1px solid #aaa;
    background-color: #fff;
    overflow: hidden;
}

.qsg_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.qsg_results iframe {
    display:none;
    display/**/:block;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    filter:mask();
    width:3000px;
    height:3000px;
}

.qsg_results li {
    margin: 0;
    padding: 3px 5px;
    cursor: pointer;
    display: block;
    width: 100%;
	font-family: Arial, "ＭＳ Ｐゴシック", sans-serif;
    font-size: 14px;
    overflow: hidden;
}

.qsg_results li.qsg_over {
    background-color: #eee;
}

.dsg_cate {
	font-size: 14px;
    color: #888888;
    margin: 0;
    padding: 2px 5px 2px 0;
}
.dsg_line {
	font-size: 14px;
	color: #0000ff;
	text-decoration: underline;
}
.dsg_item {
	color: #0000ff;
	font-weight: bold;
}
.dsg_hidden {
	visibility: hidden;
}

.msg_cate {
	font-size: 14px;
    color: #888888;
    margin: 0;
    padding: 2px 5px 2px 0;
}
.msg_hidden {
	visibility: hidden;
}

.psg_results {
    padding: 0px;
    border: 1px solid #aaa;
    background-color: #fff;
    overflow: hidden;
}

.psg_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.psg_results iframe {
    display:none;
    display/**/:block;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    filter:mask();
    width:3000px;
    height:3000px;
}

.psg_results li {
    margin: 0px;
    padding: 2px 5px;
    display: block;
    width: 100%;
	font-family: Arial, "ＭＳ Ｐゴシック", sans-serif;
    font-size: 14px;
    overflow: hidden;
}

.psg_over {
    background-color: Highlight;
    color: HighlightText;
}

.psg_area {
	border:none;
	width:400px;
	overflow: hidden;
}

.psg_image {
	float:left;
	border:none;
	display:table-cell;
	width:100px;
	height:100px;
	text-align:center;
	vertical-align:middle;
}
.psg_image img {
	width: 75px;
	height:75px;
	vertical-align:middle;
}

.psg_list {
	margin-left: 10px;
	float:left;
	width:250px;
	border:none;
}
.psg_list a {
    color: #333333;
}
.psg_list a:link {
	text-decoration: underline;
}
.psg_list li {
    font-size: 14px;
	vertical-align: middle;
}
.psg_list img {
	width: 16px;
	height: 20px;
	vertical-align: middle;
}
.psg_list p {
	margin:0px;
}
.psg_list span {
	vertical-align: middle;
	font-size: 10px;
	line-height:20px;
}
