@font-face {
    font-family: 'Dingit Player';
    src:    url('playerjs/icomoon.eot?vsnd3o');
    src:    url('playerjs/icomoon.eot?vsnd3o#iefix') format('embedded-opentype'),
        url('playerjs/icomoon.ttf?vsnd3o') format('truetype'),
        url('playerjs/icomoon.woff?vsnd3o') format('woff'),
        url('playerjs/icomoon.svg?vsnd3o#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
.video-js {
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
}
.video-js.dingit-player-ready {
  visibility: visible;
  opacity: 1;
}
.video-js.no_ads #ima-ad-container {
  z-index: -1 !important;
}
.video-js #ima-ad-container {
  overflow: hidden;
}
.video-js #ima-controls-div,
.video-js #ima-controls-div * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.video-js.vjs-default-skin .vjs-control-bar {
  height: 43px;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.3) 80%, rgba(0,0,0,0.5) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(50%, rgba(0,0,0,0)), color-stop(80%, rgba(0,0,0,0.3)), color-stop(100%, rgba(0,0,0,0.5)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.3) 80%, rgba(0,0,0,0.5) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.3) 80%, rgba(0,0,0,0.5) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.3) 80%, rgba(0,0,0,0.5) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.3) 80%, rgba(0,0,0,0.5) 100%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
}
.video-js .vjs-live-display {
  display: none !important;
}

.video-js.vjs-default-skin .vjs-control:before {
  font-size: 21px;
  line-height: 42px;
}

.video-js.vjs-default-skin .vjs-control {
  height: 43px;
  width: 20px;
  font-size: 21px;
}
.video-js .vjs-menu-button-inline:before {
  width: 23px;
}

.video-js.vjs-default-skin .vjs-control:focus:before, 
.video-js.vjs-default-skin .vjs-control:hover:before, 
.video-js.vjs-default-skin .vjs-control:focus {
  text-shadow: none;
  opacity: 1;
}
.video-js.vjs-default-skin .vjs-play-control:before,
.vjs-icon-volume-mute:before,
.video-js .vjs-control.vjs-mute-control.vjs-vol-0:before,
.video-js .vjs-control.vjs-volume-menu-button.vjs-vol-0:before,
.vjs-icon-fullscreen-enter:before,
.video-js .vjs-fullscreen-control:before,
.video-js.vjs-fullscreen .vjs-icon-fullscreen-enter:before,
.video-js.vjs-fullscreen .vjs-fullscreen-control:before,
.vjs-icon-volume-high:before,
.video-js .vjs-control.vjs-mute-control:before,
.video-js .vjs-control.vjs-volume-menu-button:before,
.vjs-icon-volume-mid:before,
.video-js .vjs-control.vjs-mute-control.vjs-vol-2:before,
.video-js .vjs-control.vjs-volume-menu-button.vjs-vol-2:before,
.vjs-icon-volume-low:before,
.video-js .vjs-control.vjs-mute-control.vjs-vol-1:before,
.video-js .vjs-control.vjs-volume-menu-button.vjs-vol-1:before,
.video-js .vjs-big-play-button:before,
.video-js #ima-controls-div #ima-play-pause-div:before,
.video-js #ima-controls-div #ima-mute-div:before, 
.video-js #ima-controls-div #ima-fullscreen-div:before {
  font-family: 'Dingit Player';
}
.video-js.vjs-default-skin .vjs-play-control:before,
.video-js #ima-controls-div #ima-play-pause-div.ima-paused:before  {
  content: "\e905";
}
.video-js.vjs-default-skin .vjs-play-control.vjs-playing:before,
.video-js #ima-controls-div #ima-play-pause-div.ima-playing:before {
  content: "\e904";
}
.vjs-icon-volume-mute:before,
.video-js .vjs-control.vjs-mute-control.vjs-vol-0:before,
.video-js .vjs-control.vjs-volume-menu-button.vjs-vol-0:before,
.video-js #ima-controls-div #ima-mute-div.ima-muted:before {
  content: "\e902";
}
.vjs-icon-volume-mute:before,
.video-js .vjs-control.vjs-mute-control.vjs-vol-0:before,
.video-js .vjs-control.vjs-volume-menu-button.vjs-vol-0:before {
  font-size: 16px;
}
.vjs-icon-fullscreen-enter:before,
.video-js .vjs-fullscreen-control:before,
.video-js #ima-controls-div #ima-fullscreen-div.ima-non-fullscreen:before {
  content: "\e903";
}
.video-js.vjs-fullscreen .vjs-icon-fullscreen-enter:before,
.video-js.vjs-fullscreen .vjs-fullscreen-control:before,
.video-js.vjs-fullscreen #ima-controls-div #ima-fullscreen-div:before,
.video-js #ima-controls-div #ima-fullscreen-div.ima-fullscreen:before {
  content: "\e908";
}
.vjs-icon-volume-high:before,
.video-js .vjs-control.vjs-mute-control:before,
.video-js .vjs-control.vjs-volume-menu-button:before,
.vjs-icon-volume-mid:before,
.video-js .vjs-control.vjs-mute-control.vjs-vol-2:before,
.video-js .vjs-control.vjs-volume-menu-button.vjs-vol-2:before,
.vjs-icon-volume-low:before,
.video-js .vjs-control.vjs-mute-control.vjs-vol-1:before,
.video-js .vjs-control.vjs-volume-menu-button.vjs-vol-1:before,
.video-js #ima-controls-div #ima-mute-div.ima-non-muted:before {
  content: "\e909";
}
.vjs-icon-volume-high:before,
.video-js .vjs-control.vjs-mute-control:before,
.video-js .vjs-control.vjs-volume-menu-button:before,
.vjs-icon-volume-mid:before,
.video-js .vjs-control.vjs-mute-control.vjs-vol-2:before,
.video-js .vjs-control.vjs-volume-menu-button.vjs-vol-2:before,
.vjs-icon-volume-low:before,
.video-js .vjs-control.vjs-mute-control.vjs-vol-1:before,
.video-js .vjs-control.vjs-volume-menu-button.vjs-vol-1:before {
  font-size: 16px;
}

.video-js #ima-controls-div #ima-play-pause-div, 
.video-js #ima-controls-div #ima-mute-div, 
.video-js #ima-controls-div #ima-slider-div, 
.video-js #ima-controls-div #ima-fullscreen-div {
  line-height: 29px;
}
.video-js #ima-controls-div #ima-mute-div:before,
.video-js #ima-controls-div #ima-play-pause-div:before,
.video-js #ima-controls-div #ima-fullscreen-div:before {
  font-size: 16px;
}
.video-js #ima-controls-div #ima-slider-div {
  right: 45px;
  height: 9px;
}
.video-js #ima-controls-div #ima-mute-div {
  right: 92px;
}
.video-js #ima-controls-div #ima-seek-bar-div,
.video-js #ima-controls-div #ima-progress-div {
  height: 4px;
}
.video-js .vjs-big-play-button {
  border: none;
  border-radius: 0;
  background: rgba(0,0,0,0.7);
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%, -50%);
  -moz-transform    : translate(-50%, -50%);
  -o-transform      : translate(-50%, -50%);
  -ms-transform     : translate(-50%, -50%);
  transform         : translate(-50%, -50%);
  line-height: 100px;
  font-size: 40px;
  color: #fff;
  opacity: 0.8;
}
.video-js .vjs-big-play-button:before {
  content: "\e905";
  line-height: 100px;
}
.video-js.vjs-default-skin .vjs-control .vjs-control-text {
  clip: auto;
  display: none;
  height: 26px;
  width: auto;
  position: absolute;
  top: -39px;
  overflow: visible;
  font-size: 12px;
  line-height: 23px;
  font-family: 'Lato', Arial;
  padding: 0 17px;
  left: 50%;
  background: #000;
  background: rgba(0,0,0,0.8);
  color: #fff;
  white-space: nowrap;
  -webkit-transform : translate(-50%,0);
  -moz-transform    : translate(-50%,0);
  -o-transform      : translate(-50%,0);
  -ms-transform     : translate(-50%,0);
  transform         : translate(-50%,0);
}
.video-js.vjs-default-skin .vjs-control:hover .vjs-control-text {
  display: inline-block;
}
.video-js.vjs-default-skin .vjs-control.vjs-progress-control:hover .vjs-control-text,
.video-js.vjs-default-skin .vjs-menu-button-inline .vjs-menu  .vjs-control-text {
  display: none;
}
.video-js.vjs-default-skin .vjs-control .vjs-control-text:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  height: 0;
  width: 0;
  border-top: 5px solid #000;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
.vjs-menu-button-inline .vjs-menu {
  width: 114px;
  left: 27px;
}
.video-js.vjs-default-skin .vjs-progress-control {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 39px;
  height: 15px;
  opacity: 1
}
.video-js.vjs-default-skin .vjs-progress-holder .vjs-play-progress,
.video-js.vjs-default-skin .vjs-progress-holder .vjs-load-progress {
  height: 100%;
}
.video-js.vjs-default-skin .vjs-progress-holder .vjs-load-progress {
  background: rgba(255,255,255,0.2);
}
.video-js.vjs-default-skin .vjs-progress-holder .vjs-play-progress {
  background: #e22630;
}
.video-js.vjs-default-skin .vjs-progress-control .vjs-progress-holder,
.video-js.vjs-default-skin .vjs-progress-control:hover .vjs-progress-holder {
  font-size: 23px;
}
.video-js.vjs-default-skin .vjs-progress-control .vjs-progress-holder {
  height: 4px;
}
.video-js.vjs-default-skin .vjs-progress-control:hover .vjs-progress-holder {
  height: 7px;
}
.video-js.vjs-default-skin .vjs-play-progress:before {
  position: absolute;
  top: -6px;
  right: -10px;
  font-size: 0px;
  color: #e22630;
  background: #e22630;
  width: 0; 
  height: 0; 
  border-radius: 50%;
  opacity: 0;
}
.video-js.vjs-default-skin .vjs-progress-control:hover .vjs-play-progress:before {
  font-size: 0px;
  width: 18px; 
  height: 18px; 
  opacity: 1;
}
.video-js.vjs-default-skin .vjs-menu-button-inline .vjs-menu {
  display: block;
  opacity: 1;
}
.video-js.vjs-default-skin .vjs-menu-button-inline,
.video-js.vjs-default-skin .vjs-menu-button-inline.vjs-slider-active,
.video-js.vjs-default-skin.vjs-no-flex .vjs-menu-button-inline {
  width: 150px;
}
.video-js.vjs-default-skin .vjs-menu-button-inline.vjs-volume-menu-button-horizontal {
  position: absolute;
  left: 110px;
  overflow: visible;
}
.video-js.vjs-default-skin .vjs-menu-button-inline.vjs-volume-menu-button-horizontal .vjs-control-text {
  left: 14px;
}
.video-js.vjs-default-skin .vjs-slider {
  margin: 0 20px;
}
.video-js .vjs-mouse-display:after,
.video-js .vjs-play-progress:after {
  font-size: 11px;
  padding: 0 5px;
  line-height: 22px;
}
.video-js .vjs-progress-control:hover .vjs-mouse-display:after,
.video-js .vjs-progress-control:hover .vjs-play-progress:after {
  font-size: 11px;
}

.video-js .vjs-volume-level:before {
  font-size: 0;
}
.vjs-slider-horizontal .vjs-volume-level {
  height: 100%;
}
.vjs-volume-bar.vjs-slider-horizontal {
  width: 114px;
  height: 9px;
  margin: 0 !important;
  top: 16px;
}
.video-js .vjs-mute-control, 
.video-js .vjs-volume-menu-button {
  opacity: 1;
}
.video-js .vjs-control.vjs-fullscreen-control {
  position: absolute;
  right: 20px;
  width: 30px;
}
.video-js .vjs-control.vjs-fullscreen-control:before {
  font-size: 20px;
}
.video-js .vjs-remaining-time.vjs-time-control.vjs-control {
  font-size: 12px;
  margin: 0 20px;
  line-height: 43px;
  width: auto;
}





.icon-bigpause:before {
    content: "\e900";
}
.icon-bigplay:before {
    content: "\e901";
}
/*.icon-disablesound:before {
    content: "\e902";
}
.icon-fullscreen:before {
    content: "\e903";
}*/
/*.icon-pause:before {
    content: "\e904";
}*/
/*.icon-play:before {
    content: "\e905";
}*/
.icon-qualityselector:before {
    content: "\e906";
}
.icon-report:before {
    content: "\e907";
}
/*.icon-smalscreen:before {
    content: "\e908";
}*/
/*.icon-sound:before {
    content: "\e909";
}*/
.icon-theatremode:before {
    content: "\e90a";
}
.icon-tipexample:before {
    content: "\e90b";
}

@media (max-width: 450px) {
  .vjs-menu-button-inline .vjs-menu {
    width: 77px;
  }
}