@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

.header-container {
    width: 1170px;
    position: relative;
}

@media (min-width: 992px) {
    .header-container {
      width: 970px;
    }
}
@media (min-width: 1200px) {
    .header-container {
      width: 1170px;
    }
}

#page-header {
    z-index: 100000;
    position: relative;
    padding: 0 0;
    width: 100%;
    background-color: #0e629e;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    border-bottom: 1px rgba(0,0,0,0.2) solid;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    text-align: left;
}

#page-header .header-dropdown-content a,
#page-header .header-dropdown-content a:hover,
#page-header .header-dropdown-content a:active,
#page-header .header-dropdown-content a:focus {
    color: #33779E;
    text-decoration: none;
}

#page-header .header-form-control:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.header-container {
    line-height: 1.428571429;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.header-content {
  padding: 12px 0;
}

#header-tophat {
  padding: 2px 0;
  background: #121212;
  background: rgba(0,0,0,0.8);
  position: relative;
  z-index: 4;
}

#de-header-main {
  position: relative;
  z-index: 3;
}

#de-header-search {
  position: relative;
  z-index: 2;
}

#header-tophat a {
    color: #7fb0d3;
    text-decoration: none;
    font-size: 13px;
    margin-right: 12px;
}

#header-tophat a:hover {
  text-decoration: none;
  color: #ccc;
}

.dropdown-menu {
  display: none;
}

#de-logo img {
    width: 216px;
}

#main-navigation {
    margin: 0;
    padding: 12px 0 0 18px;
}

#main-navigation > li {
    float: left;
    list-style: none;
    margin: 0 0 0 0;
    padding: 5px 12px;
    position: relative;
    cursor: pointer;
    -webkit-transition: background 0.3s ease-out;
    -moz-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
    transition: background 0.3s ease-out;
    border-radius: 4px;
}

@media (min-width: 300px) {
    .main-nav-short-text {
        display: block;
    }
    .main-nav-full-text {
        display: none;
    }
    .main-nav-no-wrap{
        white-space: nowrap;
    }
}

@media (min-width: 992px) {
    .main-nav-short-text {
        display: block;
    }
    .main-nav-full-text {
        display: none;
    }
    .main-nav-no-wrap{
        white-space: nowrap;
    }
}

@media (min-width: 1200px) {
    .main-nav-short-text {
        display: none;
    }
    .main-nav-full-text {
        display: block;
    }
}

#main-navigation > li:hover {
    background: #094170;
}

#main-navigation > li > a {
    color: #f4f4f4;
    font-size: 1.15em;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    text-decoration: none;
    position: relative;
}

#main-navigation li.main-nav-item {
    float: left;
    position: relative;
}

#main-navigation .header-dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    padding: 40px 0 0 0;
}

#main-navigation .active .header-dropdown-menu {
    display: block;
}

#main-navigation .header-dropdown-menu ul {
    padding: 3px 0;
    width: 230px;
    list-style: none;
}

.header-dropdown-content {
    box-shadow: 0 0 56px rgba(0,0,0,0.4);
    background: #fff;
    position: relative;
}

#main-navigation .header-dropdown-menu a {
    padding: 6px 12px;
    display: block;
}

#main-navigation .header-dropdown-menu .sub-nav-item > a:hover,
#main-navigation .header-dropdown-menu .sub-nav-item.sub-active > a {
    background: #0e4071;
    color: #fff;
    text-decoration: none;
}

#main-navigation .sub-nav-content a:hover {
    background: #0e4071;
    color: #fff;
    text-decoration: none;
}

#main-navigation .nav-aro {
    width: 19px;
    height: 9px;
    position: absolute;
    top: 24px;
    left: 10px;
    display: none;
}

#main-navigation .active .header-dropdown-menu .nav-aro {
    display: block;
}

#main-navigation .sub-nav-content {
  position: absolute;
  right: -230px;
  top: 0px;
  display: none;
  background: #fff;
  min-height: 180px;
  border-left: 1px #ddd solid;
  border-left: 1px rgba(0,0,0,0.2) solid;
}

#main-navigation .sub-active .sub-nav-content {
  display: block;
}

.main-navigation-subtitle {
  position: absolute;
  top: -14px;
  left: 12px;
  color: #9ec7ea;
  font-weight: normal;
  font-size: 0.9em;
  width: 100%;
}

#page-header form {
    display: block;
    margin-top: 0em;
    position: relative;
}

#de-login-helper {
  position: absolute;
  bottom: -30px;
  right: 30px;
  background: rgba(0,0,0,0.2);
  padding: 3px 12px 3px 6px;
  border-radius: 4px;
  color: #ddd;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  font-size: 11px;
}

#de-login-helper img {
  position: absolute;
  right: -8px;
  bottom: 1px;
}





#page-header .header-form-control {
    line-height: normal;
    border: 0;
    padding: 0;
    outline: none;
}

#page-header .header-form-control {
  -webkit-appearance: textfield;
  padding: 1px;
  background-color: white;
  border: 2px inset;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;
}

#page-header .header-form-control {
margin: 0em;
font: -webkit-small-control;
color: initial;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: start;
}

:before, :after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

#page-header .header-form-control {
font-family: inherit;
font-size: inherit;
line-height: inherit;
}

#page-header .header-form-control {
color: inherit;
font: inherit;
margin: 0;
}


#page-header .header-form-control {
    display: block;
    width: 100%;
    height: 26px;
    padding: 0px 6px;
    font-size: 14px;
    /*line-height: 1.42857143;*/
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#page-header .header-form-inline .header-form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}


#page-header .header-form-control:focus {
border-color: #66afe9;
outline: 0;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.sr-only {
  display: none;
}


#page-header .header-form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
#page-header .header-form-control:-ms-input-placeholder {
  color: #999;
}
#page-header .header-form-control::-webkit-input-placeholder {
  color: #999;
}




.header-form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.header-form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.header-form-inline .input-group > .form-control {
    width: 100%;
}
.header-form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
}
.header-form-inline .radio,
.header-form-inline .checkbox {
    display: inline-block;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
}
.header-form-inline .radio input[type="radio"],
.header-form-inline .checkbox input[type="checkbox"] {
    float: none;
    margin-left: 0;
}
.header-form-inline .has-feedback .form-control-feedback {
    top: 0;
}


.header-btn {
    display: inline-block;
    background: #ccc;

    padding: 3px 10px;
    background: #37b1ff;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}

.header-btn:focus,
.header-btn:active:focus,
.header-btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.header-btn:hover,
.header-btn:focus {
  color: #fff;
  background: #15a4ff;
  text-decoration: none;
}
.header-btn:active,
.header-btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.header-btn.disabled,
.header-btn[disabled],
fieldset[disabled] .header-btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.header-pull-right {
  float: right !important;
}
.header-pull-left {
  float: left !important;
}

#header-tophat .btn-continue {
    background: #428bca;
    border-color: #357ebd;
    color: #f4f4f4;
    padding: 3px 7px;
}

#header-tophat .btn-continue:hover {
    color: #fff;
    background: #357ebd;
}

#header-tophat .btn-continue .glyphicon-chevron-right {
  color: #fff;
}

#btn-nav-collapse {
  padding: 2px 8px 5px;
  margin: 0 12px 0 0;
}

#events {
  margin-right: 10px;
}

@media (max-width: 473px) {
  #events {
    margin-top: 10px;
  }
}

/*footer*/

#footer-default {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #555;
  font-size: 14px;
  text-align: left;
}

#footer-linkset1 {
  background: #555;
  text-align: center;
  border-top: 1px #464646 solid;
  border-bottom: 1px #464646 solid;
  font-size: 1.1em;
}

#footer-linkset1 a {
  color: #ccc;
  text-decoration: none;
  display: inline-block;
  margin: 0 0 0 -4px;
  padding: 10px 10px;
  border-right: 1px #444 solid;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#footer-linkset1 a:hover {
  color: #fff;
  background: rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.2);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.2);

}

#footer-linkset1 a:last-of-type {
    border-right: none;
}


#footer-linkset2 {
    padding: 0 0 18px 0;
    font-size: 13px;
}

#footer-linkset2 .footer-item {
    width: 19%;
    padding: 18px 8px 0 0;
}


#footer-linkset2 ul {
  margin: 12px 0 0 0;
  padding: 0;
}


#footer-linkset2 li {
  list-style: none;
}

#footer-linkset2 a {
  color: #ccc;
  border-radius: 4px;
  text-decoration: none;
  padding: 0 6px;
  line-height: 28px;
  display: block;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#footer-linkset2 a:hover {
  color: #fff;
  background: rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.2);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.2);

}

#footer-copyright {
    text-align: center;
    padding: 36px 0;
    background: #444;
    background: rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0px 0px 4px rgba(0,0,0,0.3);
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.3);
    font-size: 1.2em;
    color: #ccc;
    line-height: 26px;
}

.footer-link-main {
  font-size: 1.2em;
}

.accessible-anchors {
  display: none;
}

.header-sm {
    display: none;
}

.user-status {
    color: #999;
}

.user-status strong {
    color: #ccc;
}

.user-status span {
    color: #555;
    padding: 0 10px;
}

#header-login-form {
  position: relative;
}

#header-error {
  position: absolute;
  top: 35px;
  right:0;
  background: #fff;
  width: 240px;
  border-radius: 4px;
  box-shadow: 0 0 14px rgba(0,0,0,0.8);
  padding: 12px;
  line-height: 22px;

}

#header-error ul {
  border-top: 1px  #f4f4f4 solid;
  padding: 16px 0 0 0;
  margin: 0;
  list-style: none;
  font-size: 0.95em;
}

/*overwrites*/
#page-header #de-search {
  right: 14px;
  bottom: -32px;
}

/*overwrites*/
#page-header #de-search #de-search-input input {
  width: 100%;
}

#globalBase #main-navigation .nav-aro {
  top: 31px;
}

/*Some pages outside of www.de.com rely on these global styles*/
.clear {
  clear:both;
}

#de-header, #footer-default,#bCrumbs {
  font-size:11px;
  color:#323232;
  font-family: Arial,Verdana,sans-serif,"Lucida Grande","Lucida Sans Unicode";
  line-height:1;
}



body,html {
  margin:0;
  padding:0;
}

#globalBase {
  width:100%;
  height:100%;
}

#globalStage {
  width:980px;
}

#shell-top-links a,
div.fBot a {
  font-weight:normal;
}

#bCrumbs {
  font-size:11px;
}

#de-content {
  position:relative;
}




