.smartbanner-show .vsc__header:not(.vsc__header--tiny) {
	top: 80px;
}

.smartbanner-android {
	background: #000;
}

.smartbanner-android .smartbanner-button {
	color: #fff;
	box-shadow: none;
}

.smartbanner-android .smartbanner-button-text{
	background: #88b131;
	text-transform: uppercase;
}

.smartbanner-android .smartbanner-info {
	color: #fff;
}

.smartbanner-android .smartbanner-close {
	background: transparent;
	box-shadow: none;
	font-family: Arial;
	color: #777;
}