/*
 * waterfall
 */
.item {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 250px;
    height: 350px;
    overflow:hidden;
    padding: 0px;
    line-height: 1.5;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
    margin-bottom:20px;

}

.item:hover {
    box-shadow: 0 1px 1px rgba(34, 25, 25, .8);
    -moz-box-shadow: 0 1px 1px rgba(34, 25, 25, .8);
    -webkit-box-shadow: 0 1px 1px rgba(34, 25, 25, .8);
}



.item a:hover{text-decoration:none;}

.item:hover
{
	-webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.item .v_text {background-color:red;}
.item .i_text {background-color:blue;}
.item .a_text {background-color:green;}
.v_text, .i_text, .a_text{position:absolute; top:0; right:0; padding: 3px 15px; color:White; font-size:12px;}


.pinImage{border-radius:3px 3px 0 0; width:250px; height:200px;}
.pinTitleDesc{ overflow:hidden; height:138px;}
.pinTitle{font-size:18px; padding:5px 12px; overflow:hidden; max-height:46px; line-height:25px; font-weight:bold; margin:0;}
.pinDesc{font-size:14px; color:#888; padding:0 12px 5px;}
.pinOther{border-top:1px solid #e7e7e7; font-size:10px; height:22px; line-height:22px; position:absolute; bottom:0; width:100%;}
.pinOther .o_type{ float:left; color:#999; padding-left:12px; }
.pinOther .o_hits{ float:right; color:#999; padding-right:12px; }

