
/* TOPページ スライド */
.welcome-slide{
	width: 736px;
	height: 400px;
	display: none;
	margin: 0 0 1em;
	border: 1px solid #ccc;
}
.welcome-slide .slide-panel {
	background: #000;
}
.welcome-slide .slide-panel img {
	position: absolute;
}
.welcome-slide .slide-panel img.vlong-img {
  top: -45px;
  left: 12%;
  width: 76%;
}
.welcome-slide .slide-text {
	position: relative;
	margin: 338px 0 0;
	padding: .7em 1em .8em;
	background: rgba(255,255,255,0.8);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#99ffffff,EndColorStr=#99ffffff);
}
.welcome-slide .slide-category {
	background: #555;
	border-radius: .4em;
	color: #fff;
	font-family: 'Droid Serif', serif;
	font-weight: normal;
	padding: .1em .5em;
}
.welcome-slide a:hover .slide-category,
.welcome-slide a:focus .slide-category,
.welcome-slide a:active .slide-category {
	background: #f39;
}
.welcome-slide .slide-title {
	margin: 0;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.welcome-slide .slide-comment {
	display: block;
	margin: .2em .5em 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.welcome-slide .slidesjs-navigation {
	position: absolute;
	opacity: .5;
	display: block;
	width: 52px;
	height: 40px;
	text-align: center;
	z-index: 50;
}
.welcome-slide a.slidesjs-navigation:link,
.welcome-slide a.slidesjs-navigation:visited {
	color: #aaa;
}
.welcome-slide a.slidesjs-navigation:hover,
.welcome-slide a.slidesjs-navigation:active {
	color: #f39;
}
.welcome-slide .slidesjs-previous {
	margin-top: -250px;
	margin-left: 0;
}
.welcome-slide .slidesjs-next {
	margin-top: -250px;
	margin-left: 685px;
}

/*　TOPページ センタータブ　*/
.welcome-center {
	border: #ccc 1px solid;
	width: 735px;
}
.welcome-center-tab {
  width: 725px;
	padding: .3em !important;
	margin: 0;
}
.welcome-center-tab li {
  float: left;
	list-style: none;
  margin: .1em .03em;
}
.welcome-center-tab li a {
  display: block;
  text-align: center;
	cursor: pointer;
  padding: .2em .6em;
}
.welcome-center-tab .selected {
  background-color: #ddd;
  border-radius: .6em;
}
.center-tab-box {
  width: 712px;
  line-height: 1.8em;
  padding: .4em 1em .6em;
	display: none;
}
.center-tab-box a {
  text-decoration: none;
}
.center-tab-box .topic-link {
	text-align: right;
	margin: -2.6em 1em 0;
}
.center-tab-box .center-tab-list {
	display: inline-block;
	width: 540px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
  min-height: 230px;
}
.center-tab-box .center-tab-thumb {
	display: inline-block;
  vertical-align: top;
  width: 120px;
  height: 180px;
  overflow: hidden;
  margin: .3em 0 0 1.4em;
  border: 1px solid #ccc;
  padding: .6em .8em;
  text-align: center;
}
.center-tab-thumb .title {
	margin: -.2em .3em -.1em;
  line-height: 1.5em;
  font-weight: normal;
  text-align: left;
  word-break: break-all;
}
.center-tab-thumb .date {
	margin: 0;
}

/* TOPページ カテゴリー */
.welcome-category .category-panel {
	margin: 0 .3em 1em;
}
.welcome-category .section-title {
	color: #555;
	font-family: 'Droid Serif', serif;
	border-bottom: 1px solid #ccc;
  margin-right: .5em;
  padding: 0 0 .2em .3em;
}
.welcome-category .sub-title {
	font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
	position: absolute;
  margin: .6em 0 0 .6em;
}
.welcome-category li {
	display: inline-block;
	width: 350px;
	vertical-align: top;
	margin: 0 .3em 1.4em;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
}
.welcome-category .pickup-panel {
	margin: 0 .4em;
}
.welcome-category .pickup {
	width: 165px;
	border: none;
	margin-bottom: 0;
}
.welcome-category .pickup .title {
	margin: 0;
}
.welcome-category .topic-pickup .topic-thumb {
	width: 120px;
	display: inline-block;
}
.welcome-category .topic-pickup .topic-text {
	width: 220px;
	display: inline-block;
	margin-left: .2em;
	vertical-align: top;
}
.welcome-category .topic-pickup .topic-title {
	margin: 0;
  word-break: break-all;
	/*font-weight: normal;*/
}
.welcome-category .topic-pickup .topic-headline {
	display: block;
 	line-height: 1.7em;
 	margin: .3em 0;
	word-break: break-all;
}
.welcome-category .pickup-link {
	margin: 0 1.5em 1.6em;
	text-align: right;
}
.welcome-category .blog-list {
	width: 740px;
	line-height: 1.8em;
	border: none;
	margin: 0 .5em;
}
.welcome-category .blog-row-magazine {
	display: inline-block;
	width: 180px;
}
.welcome-category .blog-row-model {
	display: inline-block;
	width: 160px;
}
.welcome-category .blog-row-topic {
	display: inline-block;
	width: 390px;
}
.inline-section {
	display: inline-block;
	width: 370px;
	vertical-align: top;
}
.welcome-category .inline-list {
	width: 330px;
	border: none;
	margin: 0 .3em .3em;
}
.welcome-category .button-padding {
	padding: .3em .6em;
}
.welcome-category .topic-list .topic-title {
	/*font-weight: normal;*/
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 1.8em;
}
.welcome-category .topic-link {
	text-align: right;
	margin-top: .3em;
}
.welcome-category .category-title {
	color: #fff;
	display: inline-block;
	font-family: 'Droid Serif', serif;
	background: #444;
	padding: .15em .35em .1em;
	margin: 0 0 .5em;
}
.welcome-category .category-kana {
	color: #555;
	display: inline-block;
	font-weight: bold;
}
