.widget_recent_comments_widget ul#theme1 li {
    list-style-type: none;
    background-color: #F0F6F7;
    margin: 15px 0;
    padding: 5px;
    line-height: 21px;
}

.widget_recent_comments_widget ul#theme1 li img.avatar {
    width: 32px;
    height: 32px;
    border: 0px;
    margin: 0px;
    padding: 0px 3px 3px 0px;
    border-radius: 100px;
}

.widget_recent_comments_widget ul#theme1 li .header {
    margin-bottom: 20px;
}

.widget_recent_comments_widget ul#theme1 li .header span {
    position: relative;
    top: 20px;
}




.widget_recent_comments_widget ul#theme2 li {
    list-style-type: none;
    padding: 10px 0;
    border-bottom: 2px solid #ccd9e4;
    font-size: 12px;
    color: black;
    line-height: 1.3;
}

.widget_recent_comments_widget ul#theme2 li img.avatar {
    width: 32px;
    height: 32px;
    border: 0px;
    margin: 0px;
    padding: 0px 3px 3px 0px;
    border-radius: 100px;
}

.widget_recent_comments_widget ul#theme2 li strong {
    font-weight: bold;
}