
/*.msg-info{
    background: url("../images/icons/small/info.png") no-repeat scroll right center #FAFAAA;
    border: 1px solid #53B2F8;
    color: #777777;
    display: block;
    margin: 0.15em auto 1.2em;
    padding: 5px 20px;
    text-align: right;
}*/
#warningContainer .warning{
    background: url("/image/system/box/warning.png") no-repeat scroll right center #FFC;    
	border: 1px solid #FC0;
    display: block;
    margin: 0.15em auto 1.2em;
    padding: 5px 20px;
    text-align: right;
}


#formErrorContainer .error{
	background: url("/image/system/box/error.png") no-repeat scroll right center #FEE;        
    border: 1px solid #F00;    
    display: block;
    margin: 0.15em auto 1.2em;
    padding: 5px 20px;
    text-align: right;
}

#errorContainer .error{    
    background: url("/image/system/box/error.png") no-repeat scroll right center #FEE;        
    border: 1px solid #F00;    
    display: block;
    margin: 0.15em auto 1.2em;
    padding: 5px 20px;
    text-align: right;
}
#infoContainer .info{              
    background: url("/image/system/box/success.png") no-repeat scroll right center #F4FDEF;        
    border: 1px solid #ACDFA7;
    color: #384F34;    
    display: block;
    margin: 0.15em auto 1.2em;
    padding: 5px 20px;
    text-align: right;
}
