/*! xda.css
*   Copyright 2015
*/
/* BEGIN General Styles */
html {
    margin-top: 0!important;
    padding-bottom:30px!important;
    margin-bottom:30px!important;
    overflow-x:hidden;
}

html body
{
    font-size: 17px;
}

body {
    font-size: 17px;
    background: #FDFDFD;
}

body.tag {
    color: initial;
}

#wpadminbar {
	bottom: 0;
	top: auto;
	position: fixed;
}

#wpadminbar .ab-sub-wrapper {
    top:auto;
    bottom:0;
}

#wpadminbar > div.quicklinks > ul > li > .ab-sub-wrapper {
	bottom: 32px;
	top: auto;
}

#wpadminbar #wp-admin-bar-my-account.with-avatar>a img {
	position: relative;
	top: 10px;
	right: 5px;
}

.responsive-text-show {
    display: none;
    visibility: hidden;
}

#footer {
    background-color:#444!important;  /* this is silly but ya know */
}

/*
END General Styles
BEGIN Header Styles
*/
#header-logo img {
    position:relative;
    left:1px;
}

.container {
    margin-top:55px;
}

#login-remember {
    position:relative;
    top:9px;
}

.header_analysis_subheader_moreicon {
    /* margin-top:-3px; */
}

#header .header-dropdown .header_analysis_subheader,
#header .header-dropdown .header_analysis_subheader_link {
    /* 
    padding:10px 0 10px 10px!important; 
    */ 
} 

#header > #navigation-responsive.header-dropdown .header_analysis_subheader,
#header > #navigation-responsive.header-dropdown .header_analysis_subheader_link {
    padding: 15px 0 8px 10px!important;
}

.portal-header #search_results_container .ui-autocomplete {
    margin-bottom:-10px!important;
}

#header .vbmenu_option {
    white-space: nowrap;
}

#header #header_search_wrapper {
    top: 10px!important;
    right:241px!important;
}

.header-algolia-search-button {
    top: -2px!important;
}

button#header_search_btn {
    top:2px!important;
}

/*#header,*/
/*#navigation {
    font: 13px 'Hind', sans-serif;
}*/

/*#header,
#header *,
#header *:before,
#header *:after,*/
/*#navigation,
#navigation *,
#navigation *:before,
#navigation *:after{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    animation: none !important;
}*/

/*.new-button {
    font-size: 13px;
    display: inline-block;
    max-width: 135px;
    text-align: left;
    float: left;
    margin-right: 10px;
    white-space: nowrap;
}

.new-button, INPUT[type="submit"], INPUT[type="reset"], INPUT.button, BUTTON {
    border: 1px solid #D8D8D8;
    background-color: #F9F9F9;
    color: #454545 !important;
    padding: 8px 10px;
    font-size: 13px;
    cursor: pointer;
}

.new-button:hover, INPUT[type="submit"]:hover, INPUT[type="reset"]:hover, INPUT.button:hover, BUTTON:hover {
    border: 1px solid #D8D8D8;
    color: #454545;
    background-color: #EBEBEB;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}*/

/*#searchsubmit {
    background-color: #F85050;
    border:none;
    padding: 8px 10px;
    color: #fff!important;
}

#header #advancedsearch I {
    top: 7px!important;
}

#login-submit {
    height:38px!important;
    box-sizing:border-box!important;
}

#login-submit i {
    position:relative;
    top:2px;
}

.mobile-search-control {
    display:none;
    visibility:hidden;
}

.mobile-body .mobile-search-control {
    display:inline-block;
    visibility: visible;
}

#gsc-input {
    font-size:16px;
    background-color: transparent;
}

#gsc-input:focus {
    border: 1px solid #A9A9A9;
}

.device-suggest::-webkit-input-placeholder,
#gsc-input::-webkit-input-placeholder {
    color: #454545;
}
.device-suggest:-moz-placeholder,
#gsc-input:-moz-placeholder {
    color: #454545;
}
.device-suggest::-moz-placeholder,
#gsc-input::-moz-placeholder {
    color: #454545;
}
.device-suggest:-ms-input-placeholder,
#gsc-input:-ms-input-placeholder {
    color: #454545;
}

.mobile-body .device-suggest::-webkit-input-placeholder,
.mobile-body #gsc-input::-webkit-input-placeholder {
    color: #FFF;
}
.mobile-body .device-suggest:-moz-placeholder,
.mobile-body #gsc-input:-moz-placeholder {
    color: #FFF;
}
.mobile-body .device-suggest::-moz-placeholder,
.mobile-body #gsc-input::-moz-placeholder {
    color: #FFF;
}
.mobile-body .device-suggest:-ms-input-placeholder,
.mobile-body #gsc-input:-ms-input-placeholder {
    color: #FFF;
}*/

/*i.forum-sprite {
    background-position-y: 0;
}

a#portal_link {
    -moz-box-shadow: inset 0 -3px 0 #FFBD2D;
    -webkit-box-shadow: inset 0 -3px 0 #FFBD2D;
    -o-box-shadow: inset 0 -3px 0 #FFBD2D;
    box-shadow: inset 0 -3px 0 #FFBD2D;
}

i.news-sprite {
    background-position-y: -24px;
}*/

/*.desktop-body .mobile-show {
    display:none;
    visiblity:hidden;
}*/

/*#mobile-search-close i, #login-close-responsive i {
    position: relative;
    top: 6px;
    color: #FFBD2D;
}*/

/*
END Header Styles
BEGIN Homepage Block Styles
*/

#home-header-tag-list {
    display:flex;
    padding: 0;
}

#home-header-tag-list li {
    display:inline;
    flex-grow:1;
    font-size:16px;
    text-align: center;
}

#home-header-tag-list li a:before {
    content: '#';
}

.widget .widget_title h3 {
    background-color:#FDFDFD;
    height: 16px;
}

.layout_post_2 .item_content h4 {
    margin-bottom:5px;
}

.layout_post_2 .item_content .item_meta {
    margin-top: 10px;
}

.panel_title div h4  {
/*     background-color: #F9F9F9; */
    background-color:#FDFDFD;
    height: 25px;
}

.panel_title div, .widget .widget_title {
    background-color:transparent;
    border-bottom:2px solid #FFBE3C;
}

.thumb_meta .category,
.thumb_meta span.comments:before {
    display:none;
}

.thumb_meta span.comments {
    padding-left:10px;
}

.popup_link {
    display:block;
    width:100%;
    text-align:center;
    background-color: #444;
}

.popup_link img {
    max-height:298px;
    width:auto!important;
}

.item_meta span.meta_comments:before, .item_meta span.meta_author:before {
    display:none;
}

.item_meta span.meta_comments a {
    color: #666;
    font-weight:900;
}

.item_meta span.meta_comments .dsq-postid {
    margin-right:0;}


.item_meta span.meta_comments a:before {
    content: "\f0e5";
    font-family: "FontAwesome";
    margin: 0 4px 0 0px;
    float:left;
}

.item_meta span:before {
    margin-right:1px;
}

.item_meta span.meta_author a {
    color:#222;
}

.item_meta span.meta_author a .fa {
    margin-right:5px;
    color: #666;
}

.item_meta span.meta_external_link, .full_meta span.meta_external_link {
    float:right;
}

.item_meta span.meta_external_link a {
    color: #999;
}

/*
END Homepage Block Styles
BEGIN Homepage Pagenav Styles
*/

.page-numbers {
    font-size:16px;
}

ul.page-numbers li a {
    padding: 0 10px;
    min-width: 25px;
    width: auto;
}

ul.page-numbers li a:hover {
    background-color: #FFBD2D;
}

.page-numbers .pagenav-curpage {
    line-height: 23px;
    height: 25px;
    min-width: 25px;
    padding: 0 10px;
    display: inline-block;
    text-align: center;
    color: #222;
    border: 1px solid #FFBD2D;
}
/*
END Homepage Pagenav Styles
BEGIN Single Post Styles
*/
H1.entry_title a i.fa {
    font-size:12px;
    position:relative;
    top: -2px;
}

.post-share {
    margin-bottom:5px;
    float:left;
}

.post-share a.reddit {
    background-color: #5f99cf;
}

.xda-discuss {
    float: right;
    margin: 10px 0;
    border: 1px solid #eee;
    padding: 5px;
    color: #666;
    clear: right;
}

.full_meta {
    /* white-space: nowrap; */
    /* overflow:hidden; */
    height: auto;
}

.full_meta span {
    margin-right:0;
    margin-left:10px;
}

.full_meta span.meta_comments:before {
    float:left;
}

.full_meta span.meta_comments .dsq-postid {
    margin-left:0;
}

.full_meta span.meta_format {
    margin-left:0;
    margin-right:0;
}

.full_meta span.meta_external_link {
    margin-left:10px;
    margin-right:10px;
}

.full_meta span.meta_external_link a .fa {
    color: #F85050;
    margin-right:3px;
}

.xda-tip {
    margin:0 0 20px 0;
    font-style: italic;
    font-size:15px;
    clear: left;
}

.xda-tip a {
    font-weight:900;
    color: #FFBD2D;
}

.et_monarch .et_social_inline_bottom {
    border-top: 1px solid #eee;
    border-bottom:1px solid #eee;
    padding: 5px 30px 0 0;
    float:left;
    margin-bottom:10px;
    margin-top: 0!important;
    white-space:nowrap;
    width:75%;
    width:calc(100% - 175px);
}

.et_monarch .et_social_inline_bottom .et_social_networks:before {
    content: "Share this post:";
    font-size:14px;
    float:left;
    margin-right:5px;
    margin-top: 10px;
}

.et_monarch .et_social_inline_bottom .et_social_networks {
    float: left;
}

 .et_monarch .et_social_inline_bottom .et_social_networks li {
    margin-top: 0!important; /* needed for mobile possibly */
}

.xda-post-related {
    clear:both;
}

/*
END Single Post Styles
BEGIN Post Listing Styles
*/
.post-type-archive .layout_post_1 .item_thumb .thumb_hover {
    height:390px;
    width:390px;
}
.post-type-archive .layout_post_1 .item_thumb img {
    height:390px!important;
    width:390px!important;
}

/*
END Post Listing Styles
BEGIN Widget Styles
*/

.tb_widget_posts_big .item .item_content p {
    font-size:14px;
}

.tb_widget_top_rated .item img {
    width:auto!important;
}

.tb_widget_about_author .author_box {
    margin-bottom:10px;
    font-size:14px;
}

.tb_widget_about_author .author_box a.bio {
    font-size:18px;
}

.tb_widget_about_author .author_avatar_social {
    float:left;
    margin: 0;
    padding: 0;
}

.tb_widget_about_author .author_box img {
    float:none;
}

.tb_widget_about_author .author_box p {
    margin:0;
}

.tb_widget_about_author .author_box .posts {
    white-space:nowrap;
}

.tb_widget_about_author .author_social {
    display:flex;
    margin-right: 20px;
    margin: 5px 20px 0 0;
    padding: 0;
}

.tb_widget_about_author .author_social li {
    border:none;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: initial;
}

.tb_widget_about_author .author_social li a,
.author_box .social_icons li a {
    display:block;
    min-width:23px;
}

/* .tb_widget_about_author .author_social li img {
    height: 15px!important;
    margin: 0;
    display:none;
} */

.tb_widget_about_author .author_social li.author-xda a,
.author_box .social_icons li.author-xda a  {
    background-image: url(../images/xda-author-social.png);
    height:15px;
    width:26px;
    display:inline-block;
    margin-top:3px;
}

.author_box .social_icons li {
    margin-right:5px;
}

.author_box .social_icons li.author-xda a {
    position:relative;
    top:1px;
}

.tb_widget_about_author .author_social li.author-xda a:hover,
.author_box .social_icons li.author-xda a:hover {
    background-image: url(../images/xda-author-social-hover.png);
    color: #FFBD2D;
}

.tb_widget_about_author .author_social li.author-google a:hover,
.author_box .social_icons li.author-google a:hover {
    color: #c6381d;
}

.tb_widget_about_author .author_social li.author-facebook a:hover,
.author_box .social_icons li.author-facebook a:hover {
    color: #3b5998;
}

.tb_widget_about_author .author_social li.author-twitter a:hover,
.author_box .social_icons li.author-twitter a:hover {
    color: #55acee;
}

.tb_widget_about_author .author_social li.author-youtube a:hover,
.author_box .social_icons li.author-youtube a:hover {
    color: #55acee;
}

.tb_widget_about_author .author_social li.author-dribble a:hover,
.author_box .social_icons li.author-dribble a:hover {
    color: #55acee;
}

.tb_widget_top_rated .item img {
    border:none;
    margin:3px;
}

.tb_widget_top_rated .item .item_thumb {
    background-color:transparent;
}

#gallery-2 {
    margin-bottom:20px!important;
}

.list_posts .post .item_content {
    height: 80px;
}

.list_posts .post .item_content .item_meta {
    margin-top: 0;
    line-height:1.5em
}

.list_posts .post .item_content h4 {
    margin-bottom: 0px;
}

.xda_swappa_widget .item_content a {
    display: inline-block;
    font-size: 13px;
    background-color: #F85050;
    padding: 5px;
    color: #FFF;
    position:absolute;
    bottom:20px;
    left:70px;
}

.xda_swappa_widget .item_content a.xda_swappa_widget_sell_link {
    background-color: #43AF70;
    left:185px;
}

/* END Widget Styles */

@media all and (max-width: 1390px) {
    .f-links {
        margin-left:20px;
    }
}

@media all and (max-width: 1200px) {
    .xda_swappa_widget .responsive-text-show {
        display:inline;
        visibility: visible;
    }

    .xda_swappa_widget .responsive-text-hide {
        display:none;
    }

    .xda_swappa_widget .item_content a {
        left:65px;
    }
    .xda_swappa_widget .item_content a.xda_swappa_widget_sell_link {
        left:150px;
    }

    .search-expanded #header #header_search_wrapper {
        top:63px!important;
    }

    .search-expanded #header #header_search {
        top:0!important;
    }

    .search-expanded #header_search_btn {
        top:2px!important;
    }

    #mobile-search-wrapper .header-algolia-search-button {
        top:0!important;
    }
}

@media all and (max-width: 1060px) {
/*    .container {
        margin-top:45px;
    }*/

    .responsive-text-hide, #home-header-tag-list li.responsive-text-hide {
        display: none;
        visibility: hidden;
    }

    .responsive-text-show {
        display: inline;
        visibility: visible;
    }

/*    #header-logo IMG {
        max-width:initial!important;
        height:28px!important;
    }*/


}

@media all and (max-width: 800px) {
    #header #xda_logged_in {
        top:19px!important;
    }

    #header #xda_logged_in .header-dropdown .xda-popup {
        top:44px!important;
    }
}

@media all and (max-width: 992px) and (min-width: 769px) {
    .latest-news-4 .col,
    .xda-archive-container .main-content .col {
        width:50%;
        display:block;
        clear:none;
        float:left;
    }

    .xda-post-related .col {
        width: 33.333333%;
        display: block;
        clear: none;
        float: left;
    }
}

@media all and (max-width: 768px) {
    .latest-news-4 .col,
    .xda-archive-container .main-content .col {
        width:50%;
        display:block;
        clear:none;
        float:left;
    }

    .xda-post-related .col {
        width: 33.333333%;
        display: block;
        clear: none;
        float: left;
    }

    .layout_post_2 .item_thumb {
        float: left;
        width: 35%;
    }

    .layout_post_2 .item_content {
        overflow:initial;
    }
}

@media all and (max-width: 640px) {
/*     .full_meta span.meta_format {
        display:none;
        visibility:hidden;
    }

    .full_meta {
        padding-left:10px;
    } */

    .latest-news-2 .col,
    .latest-news-4 .col,
    .xda-archive-container .main-content .col {
        width:100%;
        display:block;
        clear:both;
/*         float:left; */
    }

    .latest-news-2 .col .layout_post_2 .item_thumb,
    .latest-news-4 .col .layout_post_1 .item_thumb,
    .xda-archive-container .main-content .col .layout_post_1 .item_thumb {
        float:left;
        width:150px;
        margin-right:10px;
        margin-top: 10px;
    }

    .latest-news-2 .col .layout_post_2 .item_content,
    .latest-news-4 .col .layout_post_1 .item_content,
    .xda-archive-container .main-content .col .layout_post_1 .item_content {
/*         margin-left:160px */
    }

    .xda-post-related .col {
        width: 100%;
        display: block;
        clear: both;
        margin-bottom:15px;
    }

    .xda-post-related .item_thumb {
        float:left;
        width:150px;
        margin-right:10px;
        margin-top: 10px;
    }

    .xda-post-related .item_content {
        margin-left:160px;
    }

    .et_monarch .et_social_inline_bottom .et_social_networks:before {
        content:'';
    }

    .et_monarch .et_social_inline_bottom {
        float:none;
        /* border:none; */
    }

    .et_monarch .et_social_inline_bottom  .et_social_networks {
        width:100%;
        float: none;
    }

    .et_monarch .et_social_inline_bottom  .et_social_networks .et_social_icons_container li {
        margin-bottom:5px!important;
    }
}

@media all and (max-width: 360px) {


}

div.ad-tag
{
    margin-bottom: 10px;
}

.brilliant-comments h5 {
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 0;
}
.brilliant-body {
    font-size: 14px;
    line-height: 16px;
}
.brilliant-body p {
    margin-bottom: 0;
}
.brilliant-quote {
    font-family: Georgia, serif;
    display: block;
    font-size: 36px;
    background-color: rgb(253, 253, 253);
    color: #222;
    position: absolute;
    float: left;
    padding-top: 5px;
    font-weight: 600;
}
#brilliant_template {
    display: none;
}
.brilliant-wrapper {
    margin-left: 24px;
}
.brilliant-comments .item_content:hover,
.brilliant-comments .item_content:hover .brilliant-quote {
    background-color: #e5e5e5 !important;
}
.brilliant-wrapper a:hover {
    color: #222;
}
#brilliant_write > a {
    font-size: 12px;
    font-weight: bold;
}
#brilliant_write {
    text-align: right;
}
.brilliant-comments .tb_widget_recent_list .item {
    border-bottom: 0;
}

.see-posts {
    font-weight: bold;
    font-size: 12px;
}