@charset "utf-8";
/*@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400);*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Raleway');

/*-------------------------------------------------- 
/* body
/*-------------------------------------------------- */
body{
	font-family:"Segoe UI", Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:1.7em;
	color:#000000;
	background:#ffffff;
	margin:0;
	padding:0;
}

header{
	background:#fff;
}

#subheader{
	background: url(../ea/img/bg-blur-1.jpg) center no-repeat fixed; 
	padding:30px 0 30px 0;
	border-bottom:solid 1px #eee;
}
#subheader h1{
	letter-spacing:-2px;
	float:left;
	--border-right:solid 1px #555;
	padding-right:40px;
	margin-right:40px;
}
#subheader span{
	display:inline-block;
	padding-top:20px;
	font-size:16px;
}





/*-------------------------------------------------- 
/* heading
/*-------------------------------------------------- */
h1,h2{font-weight:lighter;}
h3,h4,h5,h6{font-weight:300; color:#4778a6;}
footer h3, footerh4, footerh5, footer h6{font-weight:500; color:#fff;}
h1.h1-style{
	letter-spacing:-2px;
	font-weight:lighter;
}
h3.title{
	font-size:20px;
	font-weight:600;
	border-bottom:solid 1px #ccc;
	padding-bottom:10px;
	margin-bottom:20px;
}
h2{
	font-size:38px;
	color:#04468e;
	letter-spacing:-2px;
	line-height:inherit;
	margin-top:0;
}
h3.title-property{margin:0;}
h3{
	letter-spacing:-1px;
	margin-top:0;
}

.subheading{ display:block; margin-bottom:10px;}

a.btn-submit{
	display:block;
	width:80%;
}

a{
	color:#000000;
}
a:hover{
	color:#000000;
}

/*-------------------------------------------------- 
/* logo background-color:#e9e9e9;
/*-------------------------------------------------- */
#logo{
	text-align:center;	
	background-color:#f4f4f4;
}
#logo .inner{
	margin:25px 0 25px 0;
	display:inline-block;
}


/*-------------------------------------------------- 
/* content
/*-------------------------------------------------- */
#content{
	padding:20px 0 20px 0;
	padding:0;
	--text-shadow: 1px 1px #fff;
}


.feature{
	text-align:center;
}
.feature i{
	display:inline-block;
	margin-bottom:20px;
	float:none;
	color:#555;
	-webkit-box-shadow: inset 1px 1px 1px 1px rgba(00, 00, 00, .1);
	box-shadow: inset 1px 1px 1px 1px rgba(00, 00, 00, .1); 	
	border-radius:10px;
	text-align:center;
	padding:20px;
	background:#e4d1a3;
}

/*-------------------------------------------------- 
/* small-list property
/*-------------------------------------------------- */
.small-list{ background:#fff; height:128px; margin-bottom:20px;
-webkit-box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.1);
-moz-box-shadow:    1px 1px 1px rgba(50, 50, 50, 0.1);
box-shadow:         1px 1px 1px rgba(50, 50, 50, 0.1);
}
.small-list img{position:absolute;}
.small-list h2{font-size:16px; margin:0; line-height:normal;}
.small-list .info{ padding:10px; padding-left:185px;}
.small-list .arrow{ float:right; margin-top:100px; background:url(../ea/img/small-arrow-right.png) center no-repeat; width:30px; height:16px; display:block;}
.small-list .label{position:absolute; z-index:100; margin:10px 0 0 10px;}
.small-list span{display:block;}
.small-list .price{display:inline-block; font-size:16px; margin:2px 0 2px 0;}
.small-list:hover{background:#f2f2f2;}


/*-------------------------------------------------- 
/* booking
/*-------------------------------------------------- */
#booking{
	background:#4778a6;
	padding:40px 0 40px 0;
}
#booking input{
	width:97%;
}


#booking span{ color:#fff; font-size:16px; padding-top:5px;}
#booking select{ border: solid 1px #fff;}
.span2 select{width:100%;}

.booking-form input{
	width:97%;
}

.booking-form select{
	width:102%;
}

.booking-form .span3{
	margin-bottom:10px;
}

.booking-form i{
	margin-right:8px;
	color:#6a4a3d;
}

.btn-book-submit{
	margin-top:30px;
}

/*-------------------------------------------------- 
/* room
/*-------------------------------------------------- */
.room-features{ margin:10px 0; padding:0; list-style:none;}
.room-features li{line-height:1.6em;font-weight:300;}
.room-features li i{margin-right:15px; color:#4778a6;}

.list-features{margin-bottom:40px;}

.description{
	font-weight:300;
}

.descriptionFooter{
	font-weight:300;
	font-size:12px;
}

.room-description{
	margin-bottom:20px;
}

.btn-book-container{
	position:relative;
	width:auto;
	text-align:right;
}
.btn-book{
	position:absolute;
	color:#474747;
	background:#fddc73;
	width:50px;
	height:50px;
	padding:16px 10px 4px 10px;
	text-align:center;
	line-height:1.2em;
	text-transform:uppercase;
	margin-top:-17px;
	right:-17px;
	z-index:100;
	text-shadow:none;
	border-radius:60px; -moz-border-radius:60px; -webkit-border-radius:60px;
	border:solid 6px #f5f5f5;
	text-decoration:none;
	font-weight:bold;
	font-size:16px;
}
.btn-book:hover{
	background:#333;
	color:#fff;
	text-decoration:none;
}
.price{
	font-weight:600;
	font-size:24px;
}
.price-info {
	text-shadow:none;
	display:inline-block;
	background:#fff;
	border:solid 1px #ddd;
	padding:5px 10px 0px 10px;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
	-webkit-box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    1px 1px 1px rgba(50, 50, 50, 0.2);
	box-shadow:         1px 1px 1px rgba(50, 50, 50, 0.2);

}

.room-list{
}
.room-list .room{
	margin-bottom:60px;
}

.room{margin-top:40px;}
.btn-primary{
	background:#ec6841;
	text-shadow:none;
	background: rgb(249,198,103); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(249,198,103,1) 0%, rgba(247,150,33,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,198,103,1)), color-stop(100%,rgba(247,150,33,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f79621',GradientType=0 ); /* IE6-9 */
}
.btn-primary:hover{
	background:#d35c3a;
}

/*-------------------------------------------------- 
/* menu, navigation
/*-------------------------------------------------- */

#subHeaderHome-container{background:#ffc2fa;width:100%;height:53px;}

#mainmenu-container{
	background:#ffffff;
	--border-top:solid 1px #eee;
	--text-align:center;
	width:100%;
	height:42px;
}
#mainmenu {
  color:#000;
  font-weight:bold;
  font-size:16px;
  letter-spacing:0px;
  display:inline-block;
  text-align:left;
  --text-transform:uppercase;
  letter-spacing:0px;
  
}

#mainmenu ul {
  float:right;
  margin:0px 0px;
  padding:0px 0px;
  height:20px;
}

#mainmenu li {
  margin:0px 0px;
  padding:0px 0px;
  float:left;
  display:inline;
  list-style:none;
  position:relative;
}

#mainmenu a {
  display:block;
  padding:10px 10px 14px 10px;
  text-decoration:none;
  color:#000000;
}

#mainmenu a:hover{
	--color:#fff;
}

#mainmenu li li {
	font-size:14px;
}

#mainmenu li li a{
	padding:10px 15px 10px 15px;
	background:#665048;
	border-top:none;
	text-transform:none;
	letter-spacing:normal;
}

#mainmenu li li a:hover{
	border-top:none;
}

#mainmenu li li a:hover {
	color:#fff;
 	background:#665048;
}

#mainmenu li ul {
  width:170px;
  height:auto;
  position:absolute;
  top:100%;
  left:0px;
  z-index:10;
  display:none;
}

#mainmenu li li {
  display:block;
  float:none;
}

#mainmenu li:hover > ul {
  display:block;
}

#mainmenu li ul ul {
  left:100%;
  top:0px;
}

#mainmenu li:hover a {
	--color:#fff;
	--background:#58453F;
}

#mainmenu select {padding:10px; height:36px; font-size:14px; border:none; background:#ff4200; color:#fff;}
#mainmenu select option{padding:10px;}



.selectnav{display:none;}



/*-------------------------------------------------- 
/* footer
/*-------------------------------------------------- */
footer{
	background:#e9e9e9;
	color:#000;
	padding:20px 0 20px 0;
}
footer a{
	color:#000;
}
footer h3{font-size:20px;font-weight:300;}


/*-------------------------------------------------- 
/* subfooter
/*-------------------------------------------------- */
.subfooter{
	margin:40px 0 -20px 0;
	background:#4778a6;
	padding:20px 0 20px 0;
}
.subfooter ul{
	margin:0;
	padding:0;
	float:right;
}
.subfooter li{
	display:inline;
	padding:0 10px 0 0;
	
}
.subfooter a{color:#fff;}

/*-------------------------------------------------- 
/* list news
/*-------------------------------------------------- */
.list-news{padding:0; margin:0;}
.list-news img{position:absolute;}
.list-news .text{ padding-left:70px;}
.list-news li{list-style:none; min-height:60px; margin-bottom:20px;}
 .list-news li h5{margin-bottom:0; font-weight:600;}
/*-------------------------------------------------- 
/* toTop
/*-------------------------------------------------- */
#toTop { z-index:1555; display:none;text-decoration:none;position:fixed;bottom:50px;right:10px;overflow:hidden;width:51px;height:51px;border:none;text-indent:-999px;	background:url(/ea/img/ui.totop.png) no-repeat left top;}
#toTopHover {background:url(/ea/img/ui.totop.png) no-repeat left -51px;width:51px;height:51px;display:block;overflow:hidden;float:left;}
#toTop:active, #toTop:focus {outline:none;}


/*-------------------------------------------------- 
/* twitter
/*-------------------------------------------------- */
#twitter {margin:0; padding:0;}
#twitter li{ list-style:none; padding-left:50px; background:url(/ea/img/twitter-bird.png) top left no-repeat; padding-bottom:10px; min-height:60px;}
#twitter a{color:#fff; text-decoration:underline;}


/*-------------------------------------------------- 
/* agent-details
/*-------------------------------------------------- */
.agent-details h5{ font-weight:bold; margin-bottom:0;}
.agent-details{padding:10px; background:#eee; min-height:100px;}
.agent-details img{position:absolute;}
.agent-details .info{ padding-left:120px;}
.agent-details span{ display:block;}


/*-------------------------------------------------- 
/* widget
/*-------------------------------------------------- */
.widget{margin-bottom:40px; border-bottom:solid 1px #ddd; padding-bottom:40px;}
.widget h4.title{ padding-bottom:10px;}
.widget ul{list-style:none; margin:0;}
.widget_category li { margin-bottom:5px;}
.widget_category li i{margin-right:10px;}
.widget_recent_post li { padding-left:20px; background:url(../images/list-arrow.png) left 2px no-repeat; border-bottom:solid 1px #ddd; padding-bottom:7px; margin-bottom:5px;}
.widget_recent_post li a{color:#555;}
.widget .comments li { padding-left:20px; background:url(../images/list-arrow.png) left 2px no-repeat; border-bottom:solid 1px #ddd; padding-bottom:7px; margin-bottom:5px;}
.widget_tags li{display:inline-block; margin-right:0px; margin-bottom:11px;}
.widget_tags li a{ text-decoration:none; border:solid 1px #ccc; text-shadow:none; border-radius:2px; margin-bottom:5px; -moz-border-radius:2px; -webkit-border-radius:2px; background:#fff; padding:5px 10px 5px 10px;}
.widget_tags li a:hover{background:#d35c3a; color:#fff; }

/*-------------------------------------------------- 
/* map
/*-------------------------------------------------- */
.map{margin-top:40px;}
.map iframe{width:100%; height:320px; border:solid 1px #ccc; padding:2px; background:#fff;}

#map-container iframe{width:100%; height:360px;}


/*-------------------------------------------------- 
/* label
/*-------------------------------------------------- */
.label{text-shadow:none;}
.rent{ background:#F90; color:#fff; padding:5px 10px 5px 10px;}
.sale{ background:#33CC00; color:#fff; padding:5px 10px 5px 10px;}
.text-label{ display:block; margin-bottom:10px;}


blockquote {
  background: #f9f9f9;
  margin: 1.5em 10px;
  padding: 30px;
  font-family:Georgia, "Times New Roman", Times, serif;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
    content: "\201C";

}
blockquote p {
  display inline;
}
blockquote span{
	font-family:"Open Sans", Arial;
	display:block;
	margin-top:10px;
}

/*-------------------------------------------------- 
/* related-property
/*-------------------------------------------------- */
.related-property{margin-top:40px; padding-top:40px; border-top:solid 1px #ccc;}


/*-------------------------------------------------- 
/* blog */
/*-------------------------------------------------- */
.blog-list{ margin-top:-10px; margin:0; padding:0;}
.blog-list li{margin-bottom:20px; list-style:none;  background:url(../ea/img/dotwhite50.png);  line-height:1.7em; padding-bottom:40px;}
.blog-header .by{display:inline-block; float:left;  background:url(../images/icon-user.png) left center no-repeat; padding-left:24px;}
.blog-header .cat{ display:inline-block; float:left; background:url(../images/icon-folder.png) left center no-repeat; padding-left:24px;}
.blog-header .news-date{ display:inline-block; float:left; background:url(../images/icon-folder.png) left center no-repeat; padding-left:24px;}
/* blog list */
.blog-list li{margin-bottom:40px;}
.blog-list .info{position:absolute; width:60px; }
.blog-list .date{ text-shadow:none;text-shadow:none; text-align:center; padding:10px 0 10px 0;}
.blog-list .date h4{font-size:40px;}
.blog-list .date span{letter-spacing:8px; padding-left:5px;}
.blog-list a.readmore{ display:block; width:60px; height:40px; background:url(../images/arrow-2.png) right center no-repeat #555;}
.blog-list a.readmore:hover{ background:url(../images/arrow-2.png) left center no-repeat #E1704B;}
.blog-list .preview{padding-left:80px; line-height:1.6em;}
.blog-list .meta-info{margin:10px 0 0 80px; font-size:13px; padding:5px 0 5px 0; border-top:dotted 1px #ccc; border-bottom:dotted 1px #ccc;}
.blog-list .meta-info span{ padding:0 10px 0 10px; color:#ccc;}
.blog-list .preview img{padding-bottom:10px; width:100%;}
.blog-list .callbacks_container{margin-bottom:-35px;}

/*-------------------------------------------------- 
/* blog single */
/*-------------------------------------------------- */
.blog-read{ margin-top:-10px; margin:0; padding:0;}
.blog-read{margin-bottom:20px; list-style:none;  background:url(../ea/img/dotwhite50.png);  line-height:1.7em; padding-bottom:40px;}
.blog-header .by{display:inline-block; float:left;  background:url(../images/icon-user.png) left center no-repeat; padding-left:24px;}
.blog-header .cat{ display:inline-block; float:left; background:url(../images/icon-folder.png) left center no-repeat; padding-left:24px;}
.blog-header .news-date{ display:inline-block; float:left; background:url(../images/icon-folder.png) left center no-repeat; padding-left:24px;}
/* blog list */
.blog-read {margin-bottom:40px;}
.blog-read .info{position:absolute; width:60px; }
.blog-read .date{ text-shadow:none;text-shadow:none; text-align:center; padding:10px 0 10px 0;}
.blog-read .date h4{font-size:40px;}
.blog-read .date span{letter-spacing:8px; padding-left:5px;}
.blog-read a.readmore{ display:block; width:60px; height:40px; background:url(../images/arrow-2.png) right center no-repeat #555;}
.blog-read a.readmore:hover{ background:url(../images/arrow-2.png) left center no-repeat #E1704B;}
.blog-read .preview{padding-left:80px; line-height:1.6em;}
.blog-read .meta-info{margin:10px 0 0 80px; font-size:13px; padding:5px 0 5px 0; border-top:dotted 1px #ddd; border-bottom:dotted 1px #ddd;}
.blog-read .meta-info span{ padding:0 10px 0 10px; color:#ccc;}
.blog-read .preview img{padding-bottom:10px; width:100%;}
.blog-read .callbacks_container{margin-bottom:-35px;}



/* blog comment */
#blog-comment{ margin-left:70px;}
#blog-comment h5{margin-bottom:10px;}
#blog-comment ul, #blog-comment li{list-style:none; margin-left:-30px; padding-left:0;}
#blog-comment li{min-height:70px; padding-bottom:10px; margin-bottom:10px; padding-bottom:20px; border-bottom: solid 1px #eee;}
#blog-comment li .avatar{position:absolute; margin-top:5px; width:60px; height:60px;}
#blog-comment .comment{ margin-left:85px; }
#blog-comment li{min-height:70px; font-size:14px; line-height:1.6em; }
#blog-comment li li{ margin-left:55px; padding-bottom:0px; margin-top:20px; padding-top:10px; border-top: solid 1px #eee; border-bottom:none;}
#blog-comment li li .avatar{position:absolute; }
#blog-comment li li .comment{ }
.comment-info {margin-left:85px; margin-bottom:5px;}
.comment-info span{}
.comment-info .c_name{ display:block; font-weight:700; color:#555;}
.comment-info .c_reply{  padding-left:20px; margin-left:20px; border-left:solid 1px #ddd; font-size:12px;}
.comment-info .c_date{  font-size:12px;}

/* comment form */
#commentform label{ display:block;}
#commentform input{width:290px;}
#commentform input:focus{border:solid 1px #999; background:#fff;}
#commentform textarea{width:97%; padding:5px; height:150px;}
#commentform textarea:focus{border:solid 1px #999; background:#fff;}
#commentform input.btn{ width:auto;}

#slider{
	text-align:center;
	height:100%;
}
#slider img{
}
.slider-info{
	width:100%;
	height:100%;
	position:absolute;  
	z-index:10;
}
.callbacks_nav.prev{ left:0;}
.callbacks_nav.next{ right:0;}
.slider-info h1{background:#fff; display:inline-block; padding:10px 20px 10px 20px; letter-spacing:-2px; position:relative; top:40%;}
.slider-info .text1{background:#333; color:#fff; padding:10px 20px 10px 20px; font-size:14px;}

/*-------------------------------------------------- 
/* contact */
/*-------------------------------------------------- */
.error { --width:280px; background:#FCD8DC; padding:2px 10px 2px 10px; --display: none;color:#C03;

}
.success { display: none; padding:2px 10px 2px 10px; background:#E5EAD4; color:#555; width:280px;  font-size:12px;}
.error img { vertical-align:top; }
.full{ width:98%;}

.page-not-found { display:block; padding:100px 0 100px 0; text-align:center; font-size:20px;}
.page-not-found h1{ font-size:160px; margin-bottom:60px; font-weight:bold; color:#ccc;}

.blue{ background:#3bb6df; padding:15px;}
.red{ background:#F36; padding:15px;}
.orange{ background:#F90; padding:15px;}
.green{ background:#3C0; padding:15px;}

#gallery .item{
	text-align:center;
	margin-bottom:30px;
	background:#f5f5f5;
	padding-bottom:15px;
	font-size:12px;
}
#gallery .item h4{
	font-size:16px;
	margin-bottom:0;
}

/* -------------------------------------------------- 
	isotope
/* -------------------------------------------------- */
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

#filters{padding:0; margin:0; margin-bottom:20px;}
#filters li{display:inline-block; margin-right:3px;  margin-bottom:20px; }
#filters a{color:#fff; padding:5px 10px 5px 10px; color:#555; border:solid 1px #ddd; text-decoration:none;}
#filters a:hover{ border:solid 1px #96C277;}
#filters a.selected{ background:#96C277; border:solid 1px #96C277; color:#FFF;}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

#flickr-photo-stream img{ width:50px; height:auto; margin:0 12px 12px 0; float:left;}
#flickr-photo-stream a img {border:solid 3px #fff;}
#flickr-photo-stream a:hover img {border:solid 3px #96C277;}

#call-to-action{
	background:url(../ea/img/bg-blur-2.jpg) bottom center;
	padding:40px 0 40px 0;
}
.call-to-action{
	padding:20px 0 15px 0;
}
.call-to-action h3{margin-top:0;}

.social-icons img{margin:0 5px 5px 0;}
footer .social-icons img{margin:0 0;}


.hr{
	border:none;
	height:1px;
	--background:url(../ea/img/divider-1.png) center no-repeat;
	background-color:#d4d4d4;
	margin-top:40px;
	margin-bottom:80px;
}

.mb40{margin-bottom:40px;}
.mt60{margin-top:60px;}
.txtac{text-align:center}

.menuviolet {
	color:#ffffff !important;
	background-color:#ff58f1;
	padding:3px 5px 2px 5px !important;
	margin-top:6px !important;
	border:solid 1px #000;
	height:24px;
}

.menuvioletSub{
	color:#ffffff !important;
	background-color:#ff58f1;
	padding:3px 5px 2px 5px !important;
	margin-top:6px !important;
	border:solid 1px #000;
	height:30px;
	font-weight:bold;
	font-size:18px;
}

.menuvioletSubPro{
	color:#ffffff !important;
	background-color:#ef3ea7;
	padding:3px 5px 2px 5px !important;
	border:solid 0px #000;
	height:30px;
	font-weight:bold;
	font-size:18px;
}

.menuvioletSubR{
	color:#ff58f1 !important;
	background-color:#ffffff;
	padding:3px 5px 2px 5px !important;
	margin-top:6px !important;
	border:solid 1px #000;
	height:30px;
	font-weight:bold;
	font-size:18px;
}

#call2action {
	position:absolute !important;
	text-align:left; 
	margin-top:0px;
	width:320px;
	min-height:330px;
	background-color:#fff;
	z-index:10;
	left:57.4%;
	color:#333333;
	margin-top:20px;
	padding-left:10px;
	padding-right:10px;
}

#call2actionRece {
	--position:absolute !important;
	text-align:left; 
	margin-top:0px;
	width:320px;
	min-height:330px;
	--background-color:#fff;
	z-index:10;
	--left:57.4%;
	color:#333333;
	margin-top:20px;
	padding-left:10px;
	padding-right:10px;
	background-image:url(/ea/img/bg-rece.png);
	float:right;
}

#formcall {
	--background-image:url(/ea/img/bg-rece.png);
	background-color:#fff;
	color:#000;
	height:50%;
	text-align:center;
	
}

#formcallRece {
	--background-image:url(/ea/img/bg-rece.png);
	--background-color:#fff;
	color:#000;
	height:50%;
	text-align:center;
	
}
.formcallTitolo{font-size:24px;line-height:48px;padding-top:5px;padding-bottom:10px;color:#333;}
.contentRight {padding:30px;}
#call2actionA{display:block;}
#call2actionB{display:none;}
.ProfileImgLeft1
{
	float:left;
	width:220px;
	--background-color:red;
	font-size:24px;
	--line-height:50.5px;
	font-weight:300;
	margin-left:25px;
	margin-bottom:15px;
}
.ProfileImgLeft2
{
	float:left;
	width:220px;
	--background-color:green;
	font-size:24px;
	--line-height:50.5px;
	font-weight:300;
	margin-bottom:15px;
}

.ProfileLeft
{
	float:left;
	width:50%;
	font-size:21px;
	line-height:52px;
	
}

.ProfileRight
{
	float:left;
	width:50%;
	font-size:21px;
	line-height:52px;
	
}

.ProfileLeftNotif
{
	float:left;
	width:5%;
	font-size:18px;
	line-height:52px;
	
}

.ProfileRightNotif
{
	float:left;
	width:95%;
	font-size:18px;
	line-height:52px;
	
}

.ProfileTextE
{
	font-size:21px;
	line-height:52px;
}

.ProfileLeftE
{
	float:left;
	width:35%;
	font-size:21px;
	line-height:52px;
	--font-weight:100;
	
}

.ProfileRightE
{
	float:left;
	width:65%;
	font-size:21px;
	line-height:52px;
	font-weight:100;
	text-align:left;
}
.ProfileText
{
	width:280px !important;
	height:34px !important;
	margin:0 !important;
}
.ProfileTextarea
{
	width:280px !important;
	height:100px !important;
	margin:0 !important;
	margin-top:10px !important;
}
.ProfileTextareaE
{
	width:99% !important;
	height:100px !important;
	margin:0 !important;
	margin-top:10px !important;
}
.ProfileSelect
{
	width:280px !important;
	height:38px !important;
	margin:0 !important;
	padding-top:5px;
}

.ProfileSelectDate
{
	width:90px !important;
	height:38px !important;
	margin:0 !important;
	padding-top:5px;
}

.ProfileDate
{
	float:left;border:solid 1px #c8c8c8;margin-right:10px;height:31px;
	margin-top:10px;line-height:20px;padding-top:7px;padding-left:2px;padding-right:2px;
	-webkit-border-radius: 4px; -moz-border-radius: 4px;border-radius: 4px;
}

.CorniceBadge
{
	width:92%;margin-top:20px;border:solid 1px #FF58F1;
}
.CorniceBadge img
{
	width:200px;
	padding:2.5px;
}
.w70p{width:70%;}
.w60p{width:60%;}
.fr2fl{float:right;}
.w52pxTO100p{width:52px;}

.divFormCerca{float:left;padding-top:20px;padding-bottom:20px;font-size:24px;padding-left:40px;}
.divFormImg{float:left;}
.w320{width:300px !important;}
.mr10{margin-right:10px;}
.submitGreen{color:#fff;height:34px;margin-bottom:10px;font-size:19px;background-color:#1cb51c;border-radius:3px;border:0;}
.Profilo-InfoEACoin{padding-left:25px;width:350px;float:left;line-height:16px;}
.TitoloInner{font-size:30px;font-weight:300;border-bottom:solid 5px #000;margin-top:0px;margin-left:0px;}
.TitoloInnerContainer{margin-top:-30px;}
.span9_Style{margin-top:6px;padding-top:30px;padding-right:0px;border-top:solid 1px #a5a5a5;-moz-box-sizing:border-box;padding-left:0px;-webkit-box-sizing: border-box;box-sizing:border-box;font-size:17px;font-weight:300;line-height:24px;padding-right:30px;}
.span9b_Style{margin-top:6px;padding-top:30px;border-top:solid 1px #a5a5a5;-moz-box-sizing:border-box;-webkit-box-sizing: border-box;box-sizing:border-box;padding-right:20px;}
.span9E_Style_old{margin-top:15px;padding-top:30px;border-top:solid 1px #a5a5a5;-moz-box-sizing:border-box;-webkit-box-sizing: border-box;box-sizing:border-box;--padding-right:20px;}
.span9E_Style{margin-top:6px;padding-top:30px;border-top:solid 1px #a5a5a5;-moz-box-sizing:border-box;-webkit-box-sizing: border-box;box-sizing:border-box;--padding-right:20px;font-size:17px;font-weight:300;line-height:24px;}
.span3_Style{border-top:solid 1px #a5a5a5;border-left:solid 1px #a5a5a5;-moz-box-sizing:border-box;-webkit-box-sizing: border-box;box-sizing:border-box;margin-top:6px;margin-left:0px;padding-left:30px;width:270px;padding-top:30px;}
.span3E_Style{border-top:solid 0px #a5a5a5;border-left:solid 0px #a5a5a5;-moz-box-sizing:border-box;-webkit-box-sizing: border-box;box-sizing:border-box;margin-top:15px;margin-left:0px;padding-left:30px;width:270px;padding-top:0px;}
.text_num{border:0 !important;width:110px !important;font-size:19px !important;margin-bottom:0px !important;margin-left:0px !important;box-shadow:0 0 0px #fff !important;}
.text_num_home{border:0 !important;width:188px !important;font-size:19px !important;margin-bottom:0px !important;margin-left:0px !important;box-shadow:0 0 0px #fff !important;}
.divPhotoE{background-color:#f4f4f4;padding:20px;}
.TitoloProfiloE{font-family:'Segoe UI';color:#5a5a5a;float:left;text-rendering: optimizelegibility;font-size:24px;font-weight:800;margin-right:10px;line-height:18px;letter-spacing:-1px}
.TitoloProfiloE02{float:left;margin-right:5px;line-height:14px;font-size:13px;color:#5a5a5a; font-family:'Arial';}
.TitoloProfiloE03{font-size:20px;font-weight:700;height:35px;background-color:#547d9c;color:#fff;border-top-left-radius:10px;border-top-right-radius:10px;padding-top:8px;padding-left:20px; padding-right:20px;}
.btnFileE{font-size:14px;cursor:pointer;color:#888888;border-color:#818181;background-color: #ffffff;border:1px solid #818181;font-weight:400;text-align:center;}

#num::-webkit-input-placeholder { font-size:15px !important;}
#num::-moz-placeholder { font-size:15px !important;}
#num::-ms-input-placeholder { font-size:15px !important;}
.selectReview{width:298px;}
.fs35{font-size:35px;line-height:35px;}
.w300{width:300px !important;}
.ylvBtn{
	background-color: #fc0;
	background-image: linear-gradient(to bottom, #ffe9c9 0px, #fc0 100%);
	border-color: #ffc000 #f8ba00 #e5ab00 #f2b600 !important;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	font-size: 1.4em;
	font-weight: bold;
	height: 20px;
	--line-height: 30px;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 3px;
	padding-bottom: 7px;
	text-align: center;
}
.ylvBtn:hover{
	background-color: #fec100;
    background-image: linear-gradient(to bottom, #f9d050 0px, #fec100 100%);
    border-color: #ffb300 #f3ab00 #de9c00 #f5ac00 !important;
}
.grayBtn{
	background-color: #fff;
	border-color: #9a9a9a;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	color:#222222;
	font-size:20px;
	line-height:28px;
	padding-left:5px;
	padding-right:5px;
	height:30px;
}
.pinkBtn{
	background-color: #ff58f1;
	border-color: #9a9a9a;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	color:#fff;
	font-size:20px;
	line-height:28px;
	padding-left:5px;
	padding-right:5px;
	height:30px;
}

.fs36{font-size:36px;}
.fs17{font-size:17px;}
.mr20{margin-right:0px;}
.w339{width:339px;}
.addToPref{
	background: #fff url('/ea/img/heart.png') no-repeat 0px 2px;
    padding-left:25px;
    height:25px;
	border:0;
	font-size:16px;
}

.removeFromPref{
	background: #ff58f1 url('/ea/img/w-heart.png') no-repeat 0px 2px;
    padding-left:25px;
    height:25px;
	border:0;
	font-size:16px;
	color:#fff;
}
.sendMsg{
	background: #fff url('/ea/img/mail.png') no-repeat 0px 2px;
    padding-left:25px;
    height:25px;
	border:0;
	font-size:16px;
}

.sendMsgUser{
	background: #fff url('/ea/img/mailUser.png') no-repeat 0px 0px;
    padding-left:25px;
	border:0;
	font-size:14px;
}
.abs2rel{
	position:absolute;
}
.w320to280h241toAuto{width:320px;height:241px;margin-bottom:13px;}
.ProfileService2
{
	float:left;border:solid 0px #ff58f1;margin-right:10px;
	/*height:21px;*/
	margin-top:5px;line-height:20px;padding-bottom:1px;padding-left:4px;padding-right:2px;
	-webkit-border-radius: 4px; -moz-border-radius: 4px;border-radius: 4px;background-color:#fff;
	font-size:15px;font-weight:100;width:47%;
}
.ProfileService3
{
	float:left;border:solid 0px #ff58f1;margin-right:10px;height:21px;
	margin-top:5px;line-height:20px;padding-bottom:1px;padding-left:4px;padding-right:2px;
	-webkit-border-radius: 4px; -moz-border-radius: 4px;border-radius: 4px;background-color:#fff;
	font-size:13px;font-weight:100;width:30%;
}
.w33to100
{
	width:auto;
}
.w50to100
{
	width:50%;
}
.mt-110{margin-top:-110px;margin-right:40px;}
.fs30to{font-size:28px;margin-bottom:40px;}
.shopA
{
	text-align:center;background-color:#3781ba;color:#fff;margin-left:10px;margin-right:10px;font-weight:bold;font-family:Arial;line-height:30px;
    font-size:13px;padding-top:20px;padding-bottom:20px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;
    background:linear-gradient(to bottom, #78b5e4, #3781ba);
}
.shopB
{
	background-color:#2277b9;margin:10px 25px 10px 25px;border-radius:5px;padding:10px;font-family:Segoe UI;
}
.shopC
{
	background-color:#bc265d;border-radius:5px;font-size:22px;padding:6px;background:linear-gradient(to bottom, #e96092, #bc265d);
}
.box4e-style{margin-left:20px;margin-top:-480px;}
.box4e-w33{width:33.333333%;float:left;text-align:center;}
.box4e-w50{width:50%;float:left;margin-bottom:20px;}
.box4e-w33 img{margin-bottom:20px;margin-top:20px;}
.box4e-w33-titolo{font-size:20px;font-weight:600;margin-bottom:15px;}
.box4e-w33-testo{padding:10px;line-height:16px;}
.box4e-w50-left{float:left;width:10%;margin-left:5%;}
.box4e-w50-right{float:left;width:82%;padding-left:3%;}
.box4e-w50-titolo{font-size:20px;font-weight:600;margin-bottom:10px;}
.box4e-w50-testo{line-height:16px;}
.footerEscortText{padding-right:20px;font-size:14px;color:#F00F89;}
.footerEscortText a{text-decoration:underline;color:#F00F89;}
.reviews{padding:0px;font-size:16px;}
.reviewsInner{float:left;padding-right:15px;text-align:center;margin-bottom:20px;}
.pr60to0{padding-right:60px;}
.btn-search{width:45px !important;border:0;background-color:#f5f5f5;color:#8c8c8c;height:45px;font-size:20px;font-weight:bold;}
.btn-search-side{width:45px !important;border:0;background-color:#cdcdcd;color:#474747;height:45px;font-size:20px;font-weight:bold;}
.btn-search:hover, .btn-search-side:hover{background-color:#FF58F1;color:#fff;}
.btn-search-active{width:45px !important;border:0;background-color:#FF58F1;color:#fff;height:45px;font-size:20px;font-weight:bold;cursor:default !important;}
.noMobileNav{display:inline-block;}
.onlyMobile{display:none;}
.noMobile{display:block;}
.w468To100p{width:468px;}
.w15to50{width:15%;}
.w20to50{width:20%;}
.w35to50{width:35%;}
.w35to100{width:35%;}
.w15to100{width:15%;}
.w25to100{width:25%;}
.w30to100{width:30%;}
.divCopy{border:2px solid #e6e6e6;margin-top:10px;padding-left:10px;padding-right:10px;padding-bottom:10px;font-size:14px;line-height:16px;}
.divCopy h2{font-size:17px;color:#000;font-weight:bold;letter-spacing:0px;margin-top:10px;}
.w48to100fl{width:48%;float:left;}
.w48to100fr{width:48%;float:right;}
.pt15to5{padding-top:15px;}
.sondaggio{float:left;margin-top:170px;margin-left:-250px;clear:none;}
.sondaggioB{float:left;margin-top:210px;margin-left:-192px;border:solid 1px #000;position:relative;z-index:10;}

@media (max-width: 980px) {
	#logo{margin:0 auto; width:100%; text-align:center;}
	#logo .inner{ display:block; width:100%; height:auto; margin:20px 0 20px 0;}
	#slider{background:none; padding:0;display:none;}
  	#booking input,#booking select{width:100%; margin-bottom:10px;}
	#mainmenu{display:none;}
	.selectnav{display:block; margin:0 auto; --margin-top:40px; margin-bottom:20px; width:100%}
	#featured .item{width:270px; margin:0 auto; margin-bottom:20px;}
	#featured{background-position:top;}
	
	header,#content,footer,#subheader,#booking{padding-left:2px; padding-right:2px;}
	header,#mainmenu-container{background:none; border:none;}
	#mainmenu-container{height:30px;}
	#subheader h1{ border:none; margin-bottom:0px;}
	.subfooter{background:none;}
	.subfooter ul{ float:left;}
	.slider-info h1{font-size:20px; letter-spacing:normal; top:30%}
	#booking input{
	width:97%;
	}
	#booking select{
		width:100%;
	}
	a.btn-submit{
		width:95%;
	}
	#call2action {left:20px;background-color:#fff;position:relative !important;}
	#call2actionRece {--left:20px;--background-color:#fff;position:relative !important;margin-right:20px;}
	.span3,.span12{--padding-left:20px;--padding-right:20px;}
	.contentRight {padding:20px;}
	.TitoloInner{font-size:14px;font-weight:bold;border-bottom:solid 1px #000;margin-top:0px;margin-left:0px;}
	.TitoloInnerContainer{margin-top:0px;}
	.mr20{margin-right:20px;}
	.span9_Style{padding-right:0px;}
	.ProfileService2, .ProfileService3{width:100%;}
	.span3E_Style{padding-left:0px;}
	.span9E_Style{padding-right:0px;}
	.mt-110{margin-top:-35px;margin-right:10px;margin-bottom:20px;}
	.fs30to{font-size:16px;margin-bottom:20px;}
	.box4e-style{margin-left:0px;margin-top:0px;background-color:#000;padding:2%;width:96%;margin-bottom:15px;}
	.box4e-w33{width:100%;}
	.box4e-w50{width:100%;}
	.noMobileNav{display:none;}
	.w468To100p{width:100%;font-size:12px;}
	.w15to100{width:100%;}
	.w25to100{width:100%;}
	.w30to100{width:100%;}
	.TitoloProfiloE03{font-size:16px;line-height:14px;}
	.w48to100fl{width:100%;float:left;}
	.w48to100fr{width:100%;float:left;}
	.pt15to5{padding-top:3px;}
	.sondaggio{float:left;margin-top:-30px;margin-left:0px;clear:both;}
}


.test-column{
	background: rgb(249,198,103); /* Old browsers */
	color:#fff;
	text-align:center;
	padding:20px 0 20px 0;
	margin-bottom:30px;
}



address span{
    display:block;
}
address span strong{
    display:inline-block;
    width:60px;
}

.light30{
	font-size:30px;
	font-weight:300;
}
.light18{
	font-size:18px;
	font-weight:300;
}
.light18s{
	font-size:18px;
	font-weight:bold;
}
.light18sStar{
	font-size:18px;
	font-weight:500;
	float:left;
	width:220px;
	margin-top:8px;
}
.pd5 {
	padding-top:5px;
}
.sezioniStar
{
	width:80px;float:left;margin-top:5px;
}
#sb_toLogin_s{display:none;}
#sb_toRegister_s{display:none;}

.BoxEscort
{
	box-sizing:border-box;
	width:300px;
	margin-left:0px;
	border:solid 2px #b4b4b4;
	font-size:14px;
    font-weight:300;
	margin-bottom:10px;
	min-height:300px;
	height:auto !important;
	height:300px;
	overflow:hidden;
	
}
.titoloBoxEscort
{
	padding-left:15px;
	padding-right:15px;
	padding-top:12px;
	padding-bottom:12px;
	font-size:25px;
	font-weight:700;
	color:#696969;
	background-image:url(/ea/img/bg-box-escort.jpg);
	background-repeat:repeat-x;
	background-position:center center;
}
.testoBoxEscort
{
	padding:15px;
}

@media (max-width: 480px) {
#sb_toLogin_b{display:none;}
#sb_toLogin_s{display:block;}
#sb_toRegister_b{display:none;}
#sb_toRegister_s{display:block;}
#call2action {width:280px;padding-top:0px;background-color:#fff;min-height:300px;padding-left:0px;padding-right:0px;} /* 330 */
#call2actionRece {width:270px;padding-top:0px;--background-color:#fff;min-height:300px;padding-left:0px;padding-right:0px;margin-right:20px;margin-left:20px;} /* 330 */
#logo .inner{margin-top:0px;margin-bottom:0px;}
.formcallTitolo{font-size:20px;line-height:20px;padding-top:5px;padding-bottom:5px;}


.light18sStar{width:240px;}
.ProfileLeft, .ProfileLeftE{width:100%;line-height:35px;}
.ProfileRight, .ProfileRightE{width:100%;text-align:left;line-height:15px;margin-bottom:15px;}
.ProfileTextE{line-height:28px;margin-bottom: 15px;}
.w70p{width:100%;}
.w60p{width:100%;}
.span3_Style{width:100%;--padding-left:0px;border:0;}
.fr2fl{float:left;}
.w52pxTO100p{width:100%;}

.divFormImg{float:none;text-align:center;}
.divFormCerca{padding-left:20px;}
.w320{width:280px !important; float:left;}
.mr10{margin-right:0px;}
.Profilo-InfoEACoin{width:260px;}
.BoxEscort{width:280px;margin:auto;margin-bottom:10px;}
.ProfileSelect, .ProfileTextarea, .ProfileText{width:90% !important;}
.selectReview{width:230px;}
.fs35{font-size:15px;line-height:15px;}
.w300{width:230px !important;}
.fs36 {font-size:30px;}
.fs17{font-size:15px;}
.text_num_home{width:117px !important;}
.w339{width:268px;}
.abs2rel{position:relative;}
.w320to280h241toAuto{width:280px;height:auto;}
.w33to100{width:91%;}
.w50to100{width:100%;}
.shopA{font-size:11px;}
.reviews{padding:20px;}
.TitoloInner{border-bottom:solid 0px #000;}
.reviews img{--max-width:100px;}
.reviewsInner{width:40%;float:left;padding-right:15px;text-align:center;margin-bottom:20px;font-size:17px;}
.onlyMobile{display:block;}
.noMobile{display:none;}
.TitoloProfiloE{font-size:20px;margin-bottom:5px;}
.TitoloProfiloE02{font-size:11px;}
.TitoloProfiloE03{font-size:14px;line-height:16px;height:40px;padding-left:15px;padding-right:15px;}
.divPhotoE{padding:15px;}


}

@media (max-width: 320px) {
#call2actionA{--display:none;}
#call2actionB{--display:block;}	
.pr60to0{padding-right:0px;}
.w15to50{width:50%;}
.w20to50{width:50%;}
.w35to50{width:50%;}
.w35to100{width:100%;}
.btnFileE{font-size:12px;width:85%;margin-bottom:10px;}

}
.set {
    cursor: pointer;
    display: block;
    font-size: 91%;
    height: 25px;
    line-height: 25px;
    margin: 0 0 10px 5px;
    padding: 0 10px;
	width:80px;
	float:right;
}
.btngray{color:#444;text-shadow:#fff 1px 1px 1px;border-radius:3px;box-shadow:#f1f1f1 0 1px 0 inset;border:1px solid #d3d3d3;background-color:#e9e9e9;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#d0d0d0), to(#e9e9e9));background:-webkit-linear-gradient(top, #e9e9e9, #d0d0d0);background:-moz-linear-gradient(top, #e9e9e9, #d0d0d0);background:-ms-linear-gradient(top, #e9e9e9, #d0d0d0);background:-o-linear-gradient(top, #e9e9e9, #d0d0d0)}
.btngray:hover{text-decoration:none;color:#444;background-color:#e1e1df;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#c6c5c4), to(#e1e1df));background:-webkit-linear-gradient(top, #e1e1df, #c6c5c4);background:-moz-linear-gradient(top, #e1e1df, #c6c5c4);background:-ms-linear-gradient(top, #e1e1df, #c6c5c4);background:-o-linear-gradient(top, #e1e1df, #c6c5c4)}
.btngray:active{text-decoration:none;color:#444;background-color:#d0d0d0;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#e9e9e9), to(#d0d0d0));background:-webkit-linear-gradient(top, #d0d0d0, #e9e9e9);background:-moz-linear-gradient(top, #d0d0d0, #e9e9e9);background:-ms-linear-gradient(top, #d0d0d0, #e9e9e9);background:-o-linear-gradient(top, #d0d0d0, #e9e9e9)}

.iconHome
{
	width:45px;float:left;margin-bottom:20px;
}
.iconHomeText
{
	width:69px;float:left;font-size:13px;padding-left:5px;line-height:17px;
}
.btn_escort
{
	color:#ff58f1;
	text-align:center;
	font-size:18px;
	font-weight:bold;
    background-color:#dadada;
	border:solid 1px #ff58f1;
	line-height:30px;
}
.btn_nostyle
{
	width:100%;
	margin:0;
	border:0;
	font-family:Segoe ui;
	text-align:center;
	text-decoration:underline;
	line-height:14px !important;
	padding:2px;
}

.btn_E_Attivazione, btn_E_Attivazione a, btn_E_Attivazione a:hover
{
	font-size:20px;
	color:#fff !important;
	border-radius:5px;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	background:url('/ea/img/bg_escort_rinnovo.png');
	background-position:center center;
	background-repeat:repeat-x;
	font-weight:600;
	text-decoration:none !important;
}

.btn_E_Commenti, btn_E_Commenti a, btn_E_Commenti a:hover
{
	font-size:20px;
	color:#fff !important;
	border-radius:5px;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	background:url('/ea/img/bg_escort_commenti.png');
	background-position:center center;
	background-repeat:repeat-x;
	font-weight:600;
	text-decoration:none !important;
}

div.tooltipPro div {
    z-index:10;display:none; 
	padding:14px 20px;
    margin-bottom:30px; 
	margin-left:0px;
    width:200px;
	background-image:url(/ea/img/escort/bg-tooltip.png);
	color:#fff;
	border-radius:5px;
	line-height:16px;
	font-family:Arial;
	font-size:12px;
}
div.tooltipPro:hover div{display:block;position:absolute;}
