/* Utility Bar*/
h1,
h2,
h3,
h4{font-size:13px;font-size:1em\9;color:#2b68b7;margin:0;padding:0}
h1.helpful-links{position:absolute;top:0;left:-500em}
h4{font-size:17px;font-size:1.3em\9}
fieldset{border:none;padding:0}
ul,
li{margin:0;padding:0;list-style:none}
.i{display:block}
.hide{position:absolute;top:0;left:-500em}
body{margin: 0px auto}
a{text-decoration: none}
@font-face {
    font-family: tescoregular;
    src: url(/global/fonts/tesco.eot?#iefix);
    src: url(/global/fonts/tesco.eot?#iefix) format('embedded-opentype'),url(/global/fonts/tesco.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}
span.sl-error-message {
    display: none;
}

@font-face {
    font-family: tescobold;
    src: url(/global/fonts/tescob.eot?#iefix);
    src: url(/global/fonts/tescob.eot?#iefix) format('embedded-opentype'),url(/global/fonts/tescob.ttf) format('truetype');
    font-weight: 700;
    font-style: normal
}

/* Utility Bar*/
@font-face {
    font-family: TescoIcons;
    src: url(/global/fonts/tesco-icons.eot?#iefix);
    src: url(/global/fonts/tesco-icons.eot?#iefix) format('embedded-opentype'),url(/global/fonts/tesco-icons.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: tescoitalic;
    src: url(/global/fonts/tescoi-hinted.eot?#iefix);
    src: url(/global/fonts/tescoi-hinted.eot?#iefix) format('embedded-opentype'),url(/global/fonts/tescoi-hinted.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
  }

.utility{z-index:21;position:relative;height:32px;background-color:#00294f;border-bottom: 4px solid #00539f;left: 0;right: 0;top: 0;font: 14px tescoregular,arial;margin: 0 auto;box-sizing:content-box;}
.utility_wrapper{ margin: 0px auto;height: 32px; width:100%; max-width: 960px; border-right: 1px solid #3E5A75;}
.utility_section{float:right; margin:0px; padding:0px;}

.utility_option {display: inline; float: left; height: inherit; border-left: 1px solid #3E5A75;}
.utility_option> a {padding-left: 23px;padding-top: 8px;padding-bottom: 10px;  display: inline-block;  color: #fff;  font-weight: 200;  cursor: pointer;}
.utility_option> a:active{color:#fff;}
.utility_option> a span.sl-text{border-bottom: 1px solid transparent;transition: border .3s;}
.utility_option> a span{border-bottom: 1px solid transparent;transition: border .3s;}
.utility_option:hover> a span.sl-text {border-bottom: 1px solid white;}
.utility_option:focus> a span,.utility_option:hover> a span,.utility_option a:focus> span{border-bottom: 1px solid white;color: #ffffff;outline: none;}
.utility_option> li{ border-right:none; }
.utility_option:focus> a span.sl-icon,.utility_option:hover> a span.sl-icon{border-bottom: 1px solid transparent}
.utility_option li a span{border-bottom: 1px solid transparent; transition: border .3s;}
.utility_option li a:hover span{border-bottom: 1px solid white;}
.utility_option:hover .arrowdown:after{ transform : rotate(180deg); transition-duration: 0.3s;transition: transform .3s,-webkit-transform .3s}
.utility_option_link{padding-right: 24px;}

.dropdown-content{opacity: 0;overflow: hidden;max-height: 0px; position: absolute; background-color: #00294f; margin-top: -2px;box-shadow: 0 1px 3px 0px rgba(0,0,0,0.3); border-top: 1px solid #00539f;display: block;transition: max-height 0.3s, opacity 0s linear 1s, padding 0s linear 0.25s;}
.dropdown-content> ul> li> a{padding: 11.5px 12px 12.5px 12px;display: block;float: none;color:#ffffff;text-decoration:none;}
.dropdown-content> ul> li> a:hover,
.dropdown-content> ul> li> a:active,
.dropdown-content> ul> li> a:focus{color: #ffffff;outline: none;}
.dropdown-content> ul> li{ display: block; float: none; color:#ffffff; text-decoration:none; border-bottom: 1px solid #335472;}
.dropdown-content> ul> li:hover, .dropdown-content> ul> li> a:focus{ background-color:#0C3357; }
.dropdown-content> ul> li:last-child{border:none;margin-bottom:8px;}
.dropdown-content> ul> li:first-child{margin-top:8px;}
/*.login_links + span + .dropdown-content {
    padding: 8px 12px;
}*/
input#address.error-searchBox {
    border: 1px solid #c33;
}

.sl-icon:before{
    -webkit-font-smoothing: antialiased;
    -webkit-transform-origin: 50% 42%;
    content: "\E020";
    display: inline-block;
    font-family: TescoIcons;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    height: 15px;
    margin-left: -2px;
    margin-right: 6px;
    text-decoration: none;
    text-transform: none;
    -ms-transform-origin: 50% 42%;
    transform-origin: 50% 42%;
    transition: -webkit-transform .3s;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    vertical-align: bottom;
}
#sign_in_links.dropdown1:hover .dropdown-content, #sign_in_links.dropdown1.focusD .dropdown-content{padding: 0px 12px;}
.dropdown1:hover .dropdown-content, .dropdown1>a:focus ~ .dropdown-content{ opacity:1;z-index:999;display:block;overflow: hidden;left:auto;}
.dropdown1:hover .dropdown-height, .dropdown1>a:focus ~ .dropdown-height{ max-height: 400px;transition: max-height 0.5s;}
.dropdown1:hover .sl-dropdown-height, .dropdown1>a:focus ~ .sl-dropdown-height{ max-height: 400px;transition: max-height 1s;}
.store_locator_search{ padding: 20px 13px 20px 20px;}
.store_locator_search> input{  padding:10px;}
.store_locator_search> button {background-color: #fff;
    border: none;
    color: #00539f;
    margin-left: 9px;
    border-radius: 24px;
    padding: 0px 20px;
    font: 16px tescobold;
    text-align: center;
    outline: none;
    transition: box-shadow .2s;
    height: 40px;
}
span.drop-down-btn-text {
    border-bottom: 1px solid transparent;
    transition: border 0.3s;
}

#storeLocatorbtn:hover span{
            border-bottom: 1px solid #00539f;
    }
.store_locator_search> button:hover{ cursor: pointer;  box-shadow: 0 0 0 4px rgba(255,255,255,0.6) }
.store_locator_search> button:focus{ cursor: pointer;  box-shadow: 0 0 0 4px rgba(255,255,255,0.6) }

.arrowdown{ padding-left: 5.5px; padding-right: 24px;text-decoration:none;}
.arrowdown:after{
    -webkit-font-smoothing: antialiased;
    -webkit-transform-origin: 50% 42%;
    color: #fff;
    content: "\E010";
    display: inline-block;
    font-family: TescoIcons;
    font-size: 11px;
    /* font-style: normal; */
    /* font-variant: normal; */
    /* font-weight: 400; */
    /*height: 7px;*/
    /* margin-left: 8px; */
    text-decoration: none;
    text-transform: none;
    -ms-transform-origin: 50% 42%;
    transform-origin: 50% 42%;
    transition: -webkit-transform .3s;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    vertical-align: middle;
    width: 11px;
}
.pin{ width: 10px; height: 13px; padding-right: 8px;box-sizing: content-box;    vertical-align: top;}

#address {
    display: inline;
    margin: 0;
    padding: 10.5px 0px 10.5px 10px;
    font: 16px tescoregular;
    color: #666666;
    border: 1px solid transparent;
    background-color: #ffffff;
    width: 174px;
    box-sizing: content-box;
    transition: box-shadow 0.3s;
}
.drop-down-search-box::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:#666;
  font-family: tescoitalic;
}
.drop-down-search-box::-moz-placeholder { /* Firefox 19+ */
    color:#666;
    font-family: tescoitalic;
}
.drop-down-search-box:-ms-input-placeholder { /* IE 10+ */
    color:#666;
  font-family: tescoitalic;
}
.drop-down-search-box:-moz-placeholder { /* Firefox 18- */
    color:#666;
  font-family: tescoitalic;
}
#address:focus{
    color: #333;
    background-color: #ffffff;
    outline: none;
    border-color:#008dc8;
    box-shadow: 0 0 0 4px #99d1e8;
}
#address.drop-down-search-box.error-searchBox:focus {
    box-shadow: 0 0 0 4px #ebadad;
}
span.sl-error-message.desktop-error-active {
    display: block;
    margin-top: -16px;
    color: #ebadad;
    padding: 6px 0px 17px 19px;
    line-height: 14px;
    font-family: tescoregular;
    font-weight: 400;
    letter-spacing: -.03em;
    font-size: 14px;
    outline: none;
}

.focusD div{opacity:1;z-index:999;display:block;overflow: hidden;max-height: 400px;left:auto;}
.focusD .arrowdown:after{ transform : rotate(180deg); transition-duration: 0.3s;}


#s1-a:focus span.sl-text{outline: none; border-bottom: 1px solid white;}
#s1-a:focus span.sl-icon{border-bottom: none;}
.utility_option_link:focus{outline: none;}
.siteSearch{top:24px;}