﻿/* #1E408A, #088FDA; #002770*/
.content {
    margin: 15px 20px 0;
}
.contad {
	background: #8CB4BC;
	border: none;
	margin: 10px 0 5px;
}
.contadtext {
	color: #EEE;
}
.contad .contad_line {
	height: 250px;
}
.contad_line object, .contad_line div, .contad_line img {
	margin: 0;
}
.section {
	margin-top: 0px;
	position: relative;
}
.focus p {
	font-size: 15px;
	line-height: 23px;
}
.section p, .othernews p {
	font-size: 13px;
	line-height: 19px;
	height: 76px;
}
.feature header, .gallerylist header, .latest header, .events header {
	border-bottom: #CCC 1px solid;
	line-height: 22px;
	margin-bottom: 8px;
	padding-bottom: 2px;
	position: relative;
}
.feature header, .gallerylist header, .events header {
	overflow: hidden;
}
#sidebar .searchbar {
	margin: 0;
	#height: 60px;
}
#sidebar .searchbox {
	background: #FFF;
	padding: 0;
}
.searchbar .search-input {
	padding: 4px;
	width: 240px;
}
#sidebar .searchbar .searchbox .search-button {
	background: url("../images/button.png") -2px -60px repeat-x;
    padding: 3px 8px;
    top: -1px;
}
#sidebar .searchbar p {
	color: #808080;
	padding-top: 4px;
	text-align: left;
}
#sidebar .searchbar p a {
	padding-right: 8px;
	text-decoration: underline;
}
.sidelink {
	font-size: 13px;
    margin: 12px 0;
}
#sidebar .sidead {
    margin: 0 0 10px;
}
#sidebar .searchbar+.sidead div, #sidebar .searchbar+.sidead object,
#sidebar .sidead:first-child div, #sidebar .sidead:first-child object {
    border: #404040 1px solid;
}
#sidebar .sidelink:last-child {
    margin: 12px 0 0;
}
.sidelink .right a {
    display: inline-block;
    margin-top: 5px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
/* Safari and Chrome rules here */
.searchbox .search-button {padding: 5px 10px;;top:0}
#sidebar .search-input {width: 240px;}
}
/* #0986CC */
.headline {
	background-color: #002770;
	font-size: 13px;
	line-height: 28px;
	margin-bottom: 8px;
	padding-right: 8px;
	text-align: right;
	height: 30px;
	position: relative;
	overflow: hidden;
}
.headline h4 {	
	color: #FFF;
	padding: 2px 8px 0;
	position: absolute;
	top: 0;
	left: 5px;
}
.headline h4 span {
	font-size: 12px;
	padding-left: 6px
}
.headline a {
	color: #FFF;
	font-size: 13px;
}
.headline_link a, aside .hotnews a {
	background: url("../images/gray_line.gif") 2px 3px no-repeat;
	padding: 0 5px 0 8px;
}
.headline_link a:first-child {
    background: none repeat scroll 0 0 transparent;
}
.headad {
	background: url("../images/button-bg.png") repeat-x 0 14px;
	border: #CCC 1px solid;
	height: 32px;
	overflow: hidden;
}
.guidethemead {
    margin: 10px 0 0px;
    width: 640px;
	overflow: hidden;
}
.contbody .hotnews {
	font-size: 15px;
	float: right;
	width: 375px;
}
.contbody .hotnews p {
	display: inline-block;
	margin: 4px 5px;
	text-align: center;
	width: 180px;
}
.contbody .hotnews p:first-child {
	margin-left: 0px;
}
.hotbrand {
	background: url("../images/linebg_2.gif") right 3px no-repeat;
	float: left;
	width: 245px;
	padding: 1px;
}
.hotbrand span {
	display: inline-block;
	font-size: 11px;
	line-height: 14px;
	padding: 1px 5px;
	width: 30px;
}
.hotbrand li {
	float: left;
}
.hotbrand li:first-child {
	margin: 1px -4px 0 0;
}
.hotbrand li img {
	padding: 3px;
	height: 24px;
}
.focus {
    margin: 10px 0 -6px;
}
.focus .head_photo {
	border-right: #CCC 1px solid;
	float: left;
	padding-right: 12px;
	width: 302px;
	position: relative;
}
.focus .head_photo img, .feature .container img, .sectionphoto img {
	border: #404040 1px solid;
}
.focus .highlight {
	float: right;
	width: 312px;
}
.focus h1 {
    font-size: 20px;
	font-weight: bold;
    line-height: 22px;
    margin: 10px 0 5px;
}
.focus h1 strong {
	display: block;
    font-size: 16px;
}
.focus .head_news {
	margin-bottom: -2px;
}
.top_focus {
	display: none;
	height: 332px;
	overflow: hidden;
}
.top_focus.active {
    display: block;
}
.othernews {
	padding: 5px 0 2px;
	overflow: hidden;
}
.highlight .othernews:first-child {
	border: none;
	margin-top: -4px;
	padding-top: 0;
}
.topstory_nav {
    padding: 7px 0 0;
	height: 30px;
    overflow: hidden;
}
.topstory_nav li {
	font-size: 14px;
	float: left;
	padding-left: 2px;
	position: relative;
}
.topstory_nav li:first-child {
	padding-left: 0px;
}
.topstory_nav li span {
	background-color: #FFD700;
	border-left: #FFF 1px solid;
	color: #000;
	cursor: pointer;
	display: inline-block;
	padding: 4px 6px 6px 5px;
	width: 147px;
	white-space: nowrap;
	position: relative;
	overflow: hidden;
}
.topstory_nav li:first-child span {
	border-left: none;
	padding: 4px 4px 6px 5px;
}
.topstory_nav li span:hover {
	background-color: #001B68;
	color: #FFF;
}
.topstory_nav .selected, .topstory_nav .selected:hover {
	background-color: #001B68;
	color: #FFF;
	overflow: visible;
}
.topstory_nav li span em {
	background: url("../images/small_icon.gif") -54px -111px no-repeat;
	padding-right: 9px;
}
.topstory_nav li span:hover em, .topstory_nav .selected em {
	background-position: -54px -128px;
}
.topstory_nav li span.selected:after {
    content: url("../images/point.gif");
    position: absolute;
    right: 44%;
    top: -12px;
}
.topstory_nav li span.planning {
	background-color: #C90000;
	color: #FFF;
}
.topstory_nav li span.planning:hover {
	background-color: #C90000;
}
.topstory_nav .planning.selected, .topstory_nav .planning.selected:hover {
	background-color: #C90000;
}
.topstory_nav li span.planning em {
	background-position: -54px -128px;
}
.topstory_nav li span.planning.selected:after {
    content: url("../images/point.png");
}
.section.listnews .clearfix .othernews {
	float: right;
	margin: 0;
	width: 312px;
}
.section.listnews .clearfix .othernews:nth-child(odd) {
	float: left;
}
.section.listnews .clearfix:first-child .othernews, .contad+.clearfix .othernews {
	border: none;
}
.section.listnews .container .clearfix:last-child .othernews {
	padding-bottom: 5px;
}
.othernews h2 {
	font-size: 15px;
	font-weight: 600;
	line-height: 18px;
	margin: 3px 0 2px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}
.othernews h2 a {
	background-color: #DEDEDE;
	display: block;
	padding: 4px 4px 2px;
}
.othernews h2+a {
	border: #404040 1px solid;
	float: left;
	display: block;
	margin: 3px 6px 0 0;
	position: relative;
	width: 120px;
	height: 72px;
	overflow: hidden;
}
.othernews img {
	width: 120px;
}
.section.latest {
	border: 3px solid #CCC;
	margin: 0 20px;
}
.section.latest header h2, .gallerylist header h2 {
    display: inline;
	line-height: 24px;
}
.section.latest header em, .gallerylist header em, .feature header em {
	border-left: #CCC 1px solid;
	display: inline-block;
	line-height: 15px;
	margin-left: 5px;
	padding-left: 5px;
}
.section.latest .headline_link {
	font-size: 13px;
	float: right;
	margin-top: 12px
}
.section.latest .container {
	padding: 0 2px;
	width: 950px;
}
.home_channel {
    border-left: #E0E0E0 1px solid;
    float: left;
    margin: 10px 0 15px;
	padding: 0 12px;
    width: 212px;
    height: 375px;
    overflow: hidden;
}
.latest .home_channel:first-child {
	border: none;
}
.coverstory h3 {
    border-bottom: 1px dotted #CCCCCC;
	font-size: 15px;
	font-weight: bold;
    line-height: 18px;
    margin-bottom: 6px;
    padding: 6px 0 3px;
	overflow: hidden;
}
.coverstory h3 strong {
	display: block;
    font-size: 13px;
}
.sectionphoto {
    position: relative;
}
.sectionphoto img {
    width: 210px;
}
.coverstory h4 {
	line-height: 18px;
    padding-top: 5px;
}
.contbody .feature header {
	border: none;
	margin: 0;
	padding: 0;
}
.contbody .feature header h2 {
	float: left;
	line-height: 32px;
	width: 150px;
}
.contbody .feature header nav {
	float: right;
	width: 490px;
}
.contbody .feature .feature_tab {
	display: table;
	width: 100%;
	position: relative;
}
.contbody .feature .feature_tab li {
	display: table-cell;
	width: 33.3%;
	overflow: hidden;
}
.feature ul.feature_tab li span {
	border: #CCC 1px solid;
	border-left: none;
	cursor: pointer;
	display: block;
	font-size: 14px;
	line-height: 34px;
}
.feature ul.feature_tab li:first-child span {
	border-left: #CCC 1px solid;
}
.contbody .feature .top_focus {
	border-top: #CCC 1px solid;
	margin-top: -1px;
	padding-top: 10px;
	height: 202px;
}
.contbody .feature .top_focus a.thumb {
	display: block;
	float: left;
	position: relative;
}
.contbody .feature .top_focus a.thumb .ribbon {
	background-color: #C90000;
	color: #FFF;
	border-radius: 20px;
	display: inline-block;
	font-size: 12px;
	line-height: 38px;
	text-align: center;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 5px;
	left: 5px;
}
.contbody .feature .main {
	float: right;
	width: 330px;
}
.contbody .feature h3 {
	font-weight: bolder;
	line-height: 20px;
	margin-bottom: 3px;
}
.contbody .feature hr {
	border-top: 1px dotted #AAA;
	margin: 8px 0;
}
.main_news li {
	background: url("../images/list_icon.gif") 0 6px no-repeat;
	font-size: 13px;
	line-height: 16px;
	padding: 0 0 8px 8px;
	white-space: nowrap;
	overflow: hidden;
}
.home_channel .main_news li:nth-child(3) {
	border-bottom: #CCC 1px dotted;
	margin-bottom: 8px;
}
.contbody .feature, .gallerylist {
	margin: 10px 0px 15px 0px;
	position: relative;
	overflow: hidden;
}
.gallerylist {
	margin: 10px 20px 20px;
}
.gallerylist .headerlink .more {
	position: absolute;
	right: 0px;
	top: 6px;
}
.gallery ul {
	padding: 0 4px;
	width: 950px;
}
.gallery li {
	float: left;
	margin: 0 5px;
	text-align: center;
	width: 180px;
	position: relative;
	overflow: hidden;
}
.gallery li:after {
	background: url("../images/photo.png") 0 0 no-repeat;
	content: "";
	width: 22px;
	height: 18px;
	position: absolute;
	top: 102px;
	left: 0px;
}
.gallery li:hover:after {
	background: url("../images/photo.png") 0 -18px no-repeat;
}
.gallery li > a {
    display: block;
    position: relative;
}
.gallery li img {
	width: 180px;
}
.gallery li h5 {
	background-color: #EEE;
	color: #333;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
	padding: 4px 5px 6px;
	width: 172px;
	height: 48px;
}
.gallery li h5 a {
	display: block;
	color: #333;
}
.gallery li:hover h5, .gallery li:hover h5 a {
	background-color: #FFD700;
	color: #000;
	text-decoration: none;
}
#usedcar {
	background-color: #EBEBEB;
	margin-top: -3px;
	padding: 6px 5px 8px;
}
#usedcar .headline {
    color: #FFF;
}
#usedcar .hotusedcar li, #usedcar .hotsale li {
    float: left;
    padding-left: 3px;
}
#usedcar .hotusedcar li:first-child, #usedcar .hotsale li:first-child {
    padding-left: 1px;
}
#usedcar .hotusedcar li a img {
    border: #000 1px solid;
}
#usedcar .hotusedcar li a:hover {
    color: #C90000;
    text-decoration: none;
}
#usedcar .hotusedcar li a:hover img {
    border: #C90000 1px solid;
}
#usedcar .hotusedcar li p {
    line-height: 16px;
    text-align: center;
    width: 100px;
    //height: 32px;
    overflow: hidden;
}
#usedcar .hotusedcar li p span {
    color: #000;
    display: block;
    position: absolute;
    bottom: 8px;
    margin: 0 auto;
    text-align: center;
    width: 100px;
}
#usedcar .hotusedcar li p span em:before {
    content: url("../images/articletag_bg.gif");
    padding: 4px 2px 0 3px;
    position: relative;
    top: 1px;
}
#usedcar .subnav {
    font-size: 13px;
    height: 28px;
    overflow: hidden;
}
#usedcar .subnav p {
    float: left;
}
#usedcar .hotsale {
    float: right;
}
#usedcar em {
	color: #FF0000;
}
#usedcar em.hot {
    background-position: -270px 0;
}
/* side */
.searchby {
	background-color: #EFEFEF;
	border: #DDD 1px solid;
	border-top: none;
	margin-bottom: 12px;
	padding: 8px 8px 6px;
	text-align: center;
}
.searchby select {
	padding: 3px;
	width: 106px
}
.searchby input.button {
	padding: 1px 10px;
}
.side_sale {
    font-size: 13px;
}
.side_sale .topnav {
    margin: 8px 0 0;
}
.side_sale .topnav li {
    float: left;
}
.side_sale .topnav li a, .feature ul.feature_tab li span {
    background: url("../images/tophot_bg.gif") 0 0 repeat-x #FFF;
    color: #404040;
    text-align: center;
}
.side_sale .topnav li a {
	border: #CCC 1px solid;
    display: block;
    font-size: 12px;
    line-height: 30px;
    width: 148px;
}
.side_sale .topnav li:first-child a {
	border-right: none;
	width: 149px;
}
.side_sale .topnav li a.selected, .side_sale .topnav li a.selected:hover,
.feature .feature_tab span.selected, .feature .feature_tab li span.selected:hover {
    background: #FFF;
	border-bottom: #FFF 1px solid;
	box-shadow: none;
	color: #000;
}
.side_sale .topnav li a:hover, .feature ul.feature_tab li span:hover {
    background: #F2F2E8;
	color: #000;
	box-shadow: 0 0 3px #BBB inset;
    text-decoration: none;
}
.side_sale > div {
	border-top: #CCC 1px solid;
	margin-top: -1px;
}
.side_sale div ul li {
    border-bottom: #CCC 1px dotted;
    line-height: 15px;
	padding: 5px 0;
	position: relative;
    overflow: hidden;
}
.side_sale ul span {
	background-color: #E6E6E6;
	color: #001B68;
	display: inline-block;
	font-family: Georgia;
	font-size: 11px;
	float: left;
	margin-right: 6px;
	line-height: 15px;
	text-align: center;
	width: 16px;
	height: 16px;
}
.side_sale ul li:first-child span, .side_sale ul li:first-child+li span, .side_sale ul li:first-child+li+li span {
	background-color: #001B68;
	color: #FFF;
}
.side_sale div ul li em {
    display: inline-block;
    float: right;
}
#sidebar .fastbrand .form_row {
	float: left;
	padding: 0 0 0 8px;
	width: 160px;
}
#sidebar .fastbrand .btn_box {
	float: right;
	margin-top: 10px;
}
#sidebar .newcarsearch {
	border: #CCC 1px solid;
	background-color: #EBEBEB;
	font-size: 13px;
	margin: 6px 0 10px;
    padding: 8px;
}
.newcarsearch header h2 {
    background-color: #C90000;
    color: #FFFFFF;
    float: left;
    line-height: 100%;
    padding: 5px 5px 3px;
    text-align: center;
    width: 40px;
}
.newcarsearch header h2.left {
	text-align: left;
}
#sidebar .newcarsearch a.hot {
	color: #C90000;
}
#sidebar .newcarsearch select {
	margin: 2px 0;
    padding: 2px;
    width: 110px;
}
#sidebar .newcarsearch .button {
    padding: 3px 12px;
}
.guide .container {
	float: right;
	width: 224px;
}
#sidebar .guide select {
	width: 180px;
}

#upgrade {
	display: none;
}

.home-segment-menu {
	width: 160px;
	background-color: #FFFFFF;
	font-family: Verdana, Microsoft JhengHei, "微軟正黑體", LiHei Pro, "儷黑體", PMingliu, "新細明體", Tahoma, Arial, sans-serif;
	text-align: center;
	margin: 20px;
	padding: 10px 0px 2px 0px;
	}
.home-segment-menu-group {
	width: 144px;
}
.home-segment-menu-group-title {
	width: 134px;
	background-color: #C90000;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: -1px;
	font-weight: bold;
	text-align: left;
	margin: 5px 7px 0px 8px;
	padding: 4px 5px;
	line-height: 20px;
}
.home-segment-menu-group-list {
	width: 144px;
	font-size: 15px;
	letter-spacing: -1px;
	font-weight: normal;
	text-align: left;
	margin: 6px 0px 12px 10px;
}
.home-segment-menu-group-list ul {
	margin: 0;
	list-style-type: none;
}
.home-segment-menu-group-list ul li	{
	margin: 0;
	line-height:24px;
}
.home-segment-menu-group-list ul li a {
	text-decoration:none;
	color:#000000;
}
.home-segment-menu-group-list ul li a:hover {
	text-decoration:underline;
	color:#0000FF;
}

.stickyad {
	z-index: 1;
	color: #FFF;
	display: block;
	margin-left: 501px;
	width: 160px;
	height: 600px;
	position: fixed;
	top: 70px;
	left: 50%;
}