﻿.content {
	background: url("../images/content_bg.jpg") 650px 0 repeat-y;
	margin: 0 19px 25px;
	position: relative;
}
.content p {
	text-align: justify;
	text-justify: distribute;
}
.contbody {
	float: left;
	width: 640px;
	position: relative;
}
.date {
	color: #AAA;
	font-size: 12px;
}
/* topbar */
em.hot {
	background: url("../images/small_icon.gif") -236px 0 no-repeat;
	color: #FFF;
	display: inline-block;
	font: normal 11px/17px PMingliu, "新細明體", sans-serif;
	margin-right: 3px;
	padding: 3px 6px 2px 5px;
}
.searchbar {
	margin: 16px 18px;
	#height: 34px;
	overflow: hidden;
}
.searchbar img {
	float: left;
}
.searchbox {
	background-color: #CCC;
	padding: 4px 5px 5px;
	text-align: right;
}
.search-input {
	margin-right: -6px;
	padding: 3px;
	width: 240px;
}
.search-button {
	background: url("../images/button-bg.png") 0px -20px repeat-x;
	padding: 3px 8px 1px;
	text-shadow: 1px 0 1px #FFF;
	position: relative;
	top: 1px;
}
.searchbox .search-button, .fastsort .container .search-button {
	border: #808080 1px solid;
}
.content .search-button {
	border: #FA0 1px solid;
}
#sidebar .searchbar+.sidelink {
	margin: 5px 0;
}
/* topbar end */
.articleheadtitle {
	background: url("../images/subtitle_bg.jpg") 0 0 repeat-x;
	border: #808080 1px solid;
	color: #000;
	font-weight: bolder;
	margin-bottom: 10px;
	padding: 5px;
	text-align: center;
}
/* side */
#sidebar {
	float: right;
	width: 300px;
	min-height: 1990px;
}
#sidebar p {
	font-size: 13px;
	line-height: 19px;
}
#sidebar .articleheadtitle {
	margin-bottom: 0;
}
.sidelink {
	margin: 18px 0;
	position: relative;
}
#sidebar .sidelink:first-child {
	margin: 0 0 18px 0;
}
.sidenewlist {
	font-size: 13px;
	line-height: 19px;
	padding-top: 8px;
}
.sidenewlist li {
	background: url("../images/list_icon.gif") 0 14px no-repeat;
	padding: 7px 0 0 10px;
}
.sidenewlist li:first-child {
	background: url("../images/list_icon.gif") 0 8px no-repeat;
	padding: 0 0 0 10px;
}
.sidenewlist li em {
	padding-right: 3px;
}
.sidenewlist li.hot, .sidenewlist li.hot a {
	color: #C00000;
}
/* side pop news */
.highlightarea {
	padding-top: 5px;
}
.sidelink .highlightarea:first-child {
	padding-top: 0;
}
/* top 10 */
.side_top ul {
	font-size: 13px;
	margin-top: 5px;
}
.side_top ul li {
	padding: 5px 0;
	position: relative;
}
.side_top ul li:first-child strong {
	display: table;
	font-size: 15px;
	float: right;
	line-height: 18px;
	vertical-align: middle;
	width: 260px;
	height: 35px;
}
.side_top ul li:first-child strong a {
	display: table-cell;
	vertical-align: middle;
}
.side_top ul li:after {
	content: ".";
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}
.side_top ul span {
	background-color: #E6E6E6;
	color: #001B68;
	display: inline-block;
	font-family: Georgia;
	font-size: 10px;
	float: left;
	margin-right: 4px;
	line-height: 15px;
	text-align: center;
	width: 15px;
	height: 15px;
}
.side_top ul li.strong span {
	background-color: #001B68;
	color: #FFF;
}
.side_top ul li:first-child span {
	background-color: #001B68;
	color: #FFF;
	font-size: 15px;
	line-height: 34px;
	width: 34px;
	height: 34px;
}
.side_top ul em {
	color: #555;
	font-size: 11px;
	position: absolute;
	top: 7px;
	right: 0;
}
/* top end */
.errorinfo {
	background-color: #FFF6ED;
	border: #C90000 1px solid;
	font-size: 13px;
	padding: 6px 0;
	margin: 15px auto;
	text-align: center;
	width: 80%;
}
.explain {
	background: #F0F0F0;
	color: #404040;
	font-size: 13px;
	line-height: 21px;
	margin: 10px 0 25px;
	padding: 6px;
}
.button {
	padding: 4px 5px;
}
.morelink {
	clear: both;
	margin-top: 5px;
	text-align: right;
}
a.more {
	color: #555;
	font-size: 12px;
}
.offbox {
	background-color: #000;
	color: #FFF;
	font-size: 13px;
	text-align: right;
	padding: 10px;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 102;
}
.showall, .hideall {
	border: #555 1px solid;
	cursor: pointer;
	display: inline-block;
	margin-left: 10px;
	position: relative;
	z-index: 100;
}
.showall {
	background: url("../images/small_icon.gif") -23px 7px no-repeat;
	margin-right: 10px;
	padding: 2px 15px 3px 5px;
}
.hideall {
	background: url("../images/off_btn.gif") 60px 4px no-repeat #222;
	padding: 2px 24px 3px 5px;
	right: 50px;
}
/* ad */
.top {
	margin: 16px 15px;
}
.topad {
	float: left;
}
.topad > div {
    border: 1px solid #404040;
}
.toptextad {
	float: left;
	width: 115px;
}
.toptextad p {
	font-size: 15px;
	margin-top: 18px;
	text-align: center;
	white-space: nowrap;
	width: 115px;
	overflow: hidden;
}
.bottom_ad {
	position: relative;
	top: -1px;
	left: -4px;
}
.contad {
	background-color: #F0F0F0;
	border: #DDD 1px solid;
	margin: 20px 0;
	padding: 0 18px 18px;
	position: relative;
}
.contad_line {
	background-color: white;
	border: #FFF 1px solid;
	width: 600px;
}
.contad_line object, .contad_line div, .contad_line img {
	margin-top: -1px;
}
.contadtext {
	color: #808080;
	font-size: 13px;
	text-align: right;
}
.contad_half {
	background-color: #F5F5F5;
	float: right;
	padding: 0 14px 0 0;
	width: 300px;
	position: relative;
}
.contad .contad_half:first-child {
	float: left;
	padding: 0 0 0 14px;
}
.contad .contad_half .contadtext {
	width: 20px;
	position: absolute;
	right: -3px;
}
.contad .contad_half:first-child .contadtext {
	left: -3px;
}
.postlist .contad {
	margin: -1px 0 6px;
}
.postlist .article.listview+.contad {
	margin: 18px 0 10px;
}
.sidead {
	margin-bottom: 15px;
}
.sidebottomad {
	position: absolute;
	bottom: 0;
}
.bigad {
	border: #CCC 1px solid;
	margin: -5px 18px 20px;
	padding: 0 17px;
}
.bigad .bigad_line div {
	text-align: center;
}
.sidead_text {
	background-color: #FFF;
	border: #CCC 1px solid;
	margin: 18px 0;
	padding: 2px 8px;
}
.textad_cont {
	background: url("../images/small_icon.gif") 0 -160px no-repeat;
	display: inline-block;
	font-size: 13px;
	line-height: 17px;
	padding: 6px 0 8px 10px;
}
.sidead_text .textad_cont:hover {
	color: #000;
	text-decoration: none;
}
.textad_cont strong {
	color: #0000FF;
	display: block;
	font-size: 14px;
	padding-bottom: 3px;
}
.textad_cont:hover strong {
	text-decoration: underline;
}
.contad_text {
	background-color: #F3F3F3;
	border: #808080 1px solid;
	padding: 12px 270px 10px 15px;
}
.sidead_text .textad_cont, .contad_text .textad_cont {
	color: #404040;
}
.sidead_text hr, .contad_text hr {
	background: url("../images/dotted_bg.gif") 0 0 repeat-x;
	border: none;
	margin: 0;
	height: 1px;
}