#upgrade {
	background: url("../images/bg_blank_60.png") 0 0 repeat;
	display: block;
	padding: 15px;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	outline: medium none;
    overflow-x: auto;
    overflow-y: hidden;
}
#upgrade .outline {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
}
#upgrade .inner {
	display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
#upgrade .container {
	background-color: #FFD700;
	display: inline-block;
	margin: 20% auto 0 auto;
	padding: 30px 25px 25px;
	width: 620px;
	position: relative;
}
#upgrade .container h2 {
	font-weight: 600;
}
#upgrade .container p {
	font-size: 15px;
	line-height: 25px;
	margin: 18px 0;
}
#upgrade .container #off_btn {
	background: url("../images/off_btn.gif") 5px 5px no-repeat;
	cursor: pointer;
	text-indent: -999em;
	width: 24px;
	height: 24px;
	position: absolute;
	right: 5px;
	top: 5px;
}
#upgrade .container .browser {
	margin: 25px auto 15px;
	text-align: center;
	width: 100%;
}
#upgrade .container .browser li {
	float: left;
	padding: 0 5px;
	width: 195px;
}
#upgrade .container .browser a {
	background: url("../images/button.png") -2px -54px no-repeat;
	border: #FF9A00 1px solid;
	border-radius: 5px;
	color: #333;
	display: block;
	line-height: 36px;
	padding: 0 10px;
	height: 36px;
}
#upgrade .container .browser a:hover {
	background-position: -2px -6px;
	border: #333 1px solid;
	color: #FFF;
	text-decoration: none;
}
#upgrade .container .browser img {
	float: left;
	padding: 2px 0 0 0;
}