﻿/* CSS Reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	outline: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
fieldset, img, object {
	border: none;
	display: block;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
address, caption, code, dfn, em, strong, var {
	font-weight: normal;
	font-style: normal;
}
caption, th {
	text-align: left;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content: none;
}
ul, ol {
	list-style: none;
}
a {
	outline: none;
}
hr {
	border: none;
	border-top: 1px solid #CCC;
	height: 1px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
/* Safari and Chrome rules here */
h1, h2, h3, h4, h5, h6 {font-weight: 100;}
}
/*end*/

body {
	background-color: #A0A0A0;
	/*#background-color: #2b384b;*/
	font-family: Tahoma, LiHei Pro, "儷黑體", Microsoft JhengHei, "微軟正黑體", PMingliu, "新細明體", sans-serif;
	font-size: 100%;
	width: 100%;
}
a:link, a:visited {
	color: #0000FF;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1, h2, h3, h4, h6 {
	font-family: Arial, Microsoft JhengHei, "微軟正黑體", LiHei Pro, "儷黑體", PMingliu, "新細明體", sans-serif;
	font-weight: 400;
}
h1 {font-size: 24px;}
h2 {font-size: 20px;}
h3 {font-size: 16px;}
h4 {font-size: 15px;}
h5 {font-size: 15px;}
h6 {font-size: 14px;}
strong {font-weight: 700;}
form input[type="text"], form select, form button, select {
	font-family: Arial, LiHei Pro, "儷黑體", PMingliu, "新細明體", sans-serif;
}
.wrapper {
	margin: 0px auto 8px;
	text-align: center;
    position: relative;
    max-width: 1366px;
}
.maincontent {
	background: #FFF;
	padding-bottom: 15px;
	text-align: left;
	position: relative;
	width: 997px;
	margin: 0 auto;
}
/* HEADER */
#header {
	background: url("../images/title-bottom.jpg") 0 100% no-repeat #FFD700;
	font-size: 13px;
	height: 70px;
}
#header h1 {
	background: #001B68;
	float: left;
	font-size: 2em;
	padding-left: 7px;
	width: 240px;
}
#header h1 a.logo {
	background: url("../images/title-left.jpg") 0 0 no-repeat;
	display: block;
	text-indent: -9999em;
	width: 240px;
	height: 61px;
	position: relative;
}
.navigator {
	background: url("../images/title-righ-bottom.jpg") 0 100% no-repeat;
	color: #FFF;
	float: left;
	width: 750px;
	height: 61px;
}
.navigator a {
	color: #FFF;
}
.topmenu {
	background: url("../images/title-righ-top.jpg") no-repeat;
	color: #FFF;
	font-size: 12px;
	padding: 5px 5px 0 0;
	height: 22px;
	overflow: hidden;
}
.usite {
	float: left;
}
.member {
	float: right;
}
/* ON CHANNEL */
.navigator ul {
	background: url("../images/tf_bg.gif") 0 100% repeat-x #D4D0C8;
	padding: 3px 0 0 7px;
}
.navigator li {
	float: left;
}
.navigator li a {
    background: url("../images/mainnav_bg.gif?20150721") 0 0 no-repeat #D4D0C8;
	display: block;
	text-indent: -9999em;
	width: 34px;
	height: 31px;
}
.navigator li a.tf_home {
	background-position: 0 0;
}
.navigator li a.tf_home:hover {
	background-position: 0 -31px;
}
.navigator .tf_home.select, .navigator .tf_home:hover.select {
	background-position: 0 -62px;
}
.navigator li a.tf_newcar {
	background-position: -34px 0;
}
.navigator li a.tf_newcar:hover {
	background-position: -34px -31px;
}
.navigator .tf_newcar.select, .navigator .tf_newcar:hover.select {
	background-position: -34px -62px;
}
.navigator li a.tf_buy {
	background-position: -68px 0;
}
.navigator li a.tf_buy:hover {
	background-position: -68px -31px;
}
.navigator .tf_buy.select, .navigator .tf_buy:hover.select {
	background-position: -68px -62px;
}
.navigator li a.tf_usedcar {
	background-position: -102px 0;
	width: 46px;
}
.navigator li a.tf_usedcar:hover {
	background-position: -102px -31px;
}
.navigator .tf_usedcar.select, .navigator .tf_usedcar:hover.select {
	background-position: -102px -62px;
}
.navigator li a.tf_news {
	background-position: -148px 0;
}
.navigator li a.tf_news:hover {
	background-position: -148px -31px;
}
.navigator .tf_news.select, .navigator .tf_news:hover.select {
	background-position: -148px -62px;
}
.navigator li a.tf_promotion {
	background-position: -182px 0;
}
.navigator li a.tf_promotion:hover {
	background-position: -182px -31px;
}
.navigator .tf_promotion.select, .navigator .tf_promotion:hover.select {
	background-position: -182px -62px;
}
.navigator li a.tf_roadtest {
	background-position: -216px 0;
}
.navigator li a.tf_roadtest:hover {
	background-position: -216px -31px;
}
.navigator .tf_roadtest.select, .navigator .tf_roadtest:hover.select {
	background-position: -216px -62px;
}
.navigator li a.tf_mook {
	background-position: -250px 0;
}
.navigator li a.tf_mook:hover {
	background-position: -250px -31px;
}
.navigator .tf_mook.select, .navigator .tf_mook:hover.select {
	background-position: -250px -62px;
}
.navigator li a.tf_feature {
	background-position: -284px 0;
}
.navigator li a.tf_feature:hover {
	background-position: -284px -31px;
}
.navigator .tf_feature.select, .navigator .tf_feature:hover.select {
	background-position: -250px -62px;
}
.navigator li a.tf_gallery {
	background-position: -318px 0;
}
.navigator li a.tf_gallery:hover {
	background-position: -318px -31px;
}
.navigator .tf_gallery.select, .navigator .tf_gallery:hover.select {
	background-position: -250px -62px;
}
.navigator li a.tf_classroom {
	background-position: -352px 0;
}
.navigator li a.tf_classroom:hover {
	background-position: -352px -31px;
}
.navigator .tf_classroom.select, .navigator .tf_classroom:hover.select {
	background-position: -352px -62px;
}
.navigator li a.tf_racing {
	background-position: -386px 0;
}
.navigator li a.tf_racing:hover {
	background-position: -386px -31px;
}
.navigator .tf_racing.select, .navigator .tf_racing:hover.select {
	background-position: -386px -62px;
}
.navigator li a.tf_tv {
	background-position: -420px 0;
}
.navigator li a.tf_tv:hover {
	background-position: -420px -31px;
}
.navigator .tf_tv.select, .navigator .tf_tv:hover.select {
	background-position: -420px -62px;
}
.navigator li a.tf_am {
	background-position: -454px 0;
}
.navigator li a.tf_am:hover {
	background-position: -454px -31px;
}
.navigator .tf_am.select, .navigator .tf_am:hover.select {
	background-position: -454px -62px;
}
.navigator li a.tf_technology {
	background-position: -488px 0;
}
.navigator li a.tf_technology:hover {
	background-position: -488px -31px;
}
.navigator .tf_technology.select, .navigator .tf_technology:hover.select {
	background-position: -488px -62px;
}
.navigator li a.tf_audio {
	background-position: -522px 0;
	width: 38px;
}
.navigator li a.tf_audio:hover {
	background-position: -522px -31px;
}
.navigator .tf_audio.select, .navigator .tf_audio:hover.select {
	background-position: -526px -62px;
}
.navigator li a.tf_watch {
	background-position: -560px 0;
}
.navigator li a.tf_watch:hover {
	background-position: -560px -31px;
}
.navigator .tf_watch.select, .navigator .tf_watch:hover.select {
	background-position: -560px -62px;
}
.navigator li a.tf_wine {
	background-position: -594px 0;
}
.navigator li a.tf_wine:hover {
	background-position: -594px -31px;
}
.navigator .tf_wine.select, .navigator .tf_wine:hover.select {
	background-position: -594px -62px;
}
.navigator li a.tf_forum {
	background-position: -627px 0;
	width: 46px;
}
.navigator li a.tf_forum:hover {
	background-position: -627px -31px;
}
.navigator .tf_forum.select, .navigator .tf_forum:hover.select {
	background-position: -627px -62px;
}
.navigator li a.tf_member {
	background-position: -674px 0;
}
.navigator li a.tf_member:hover {
	background-position: -674px -31px;
}
.navigator .tf_member.select, .navigator .tf_member:hover.select {
	background-position: -674px -62px;
}
.navigator li a.tf_family {
	background-position: -708px 0;
}
.navigator li a.tf_family:hover {
	background-position: -708px -31px;
}
.navigator .tf_family.select, .navigator .tf_family:hover.select {
	background-position: -708px -62px;
}
.navigator li a.tf_shop {
	background-position: -708px 0;
}
.navigator li a.tf_shop:hover {
	background-position: -708px -31px;
}
.navigator .tf_shop.select, .navigator .tf_shop:hover.select {
	background-position: -708px -62px;
}
.beta img {
	width: 28px;
	height: 10px;
	position: absolute;
	top: 4px;
	right: 1px;
}
/*page here*/
.pagination {
	font-size: 13px;
	margin: 15px auto 0;
	text-align: center;
}
.pagination div {
	float: left;
	text-align: center;
}
.pagination .page a, .pagination .page .noaction, .pagination .page .select {
	border: #333 1px solid;
	color: #333;
	display: inline-block;
	line-height: 25px;
	margin: 0 2px;
	padding: 0px 2px;
	text-align: center;
	min-width: 24px;
	max-width: 32px;
	height: 26px;
	vertical-align: middle;
}
.pagination .page a:hover {
	background-color: #808080;
	border: #808080 1px solid;
	color: #FFF;
	text-decoration: none;
}
.pagination .page .noaction, .pagination .page .select {
	background-color: #333;
	border: #333 1px solid;
	color: #FFF;
}
.pagination .prepage, .pagination .nextpage {
	color: #808080;
	line-height: 26px;
	text-align: left;
	width: 30px;
	height: 26px;
}
.pagination .nextpage {
	text-align: right;
}
.pagination .page a.long {
    min-width: 60px;
    max-width: 60px;
    position: relative;
}
/*page end*/
.footer {
    border-top: 1px solid #808080;
    color: #A0A0A0;
    font-family: Microsoft JhengHei,"微軟正黑體",LiHei Pro,"儷黑體",PMingliu,"新細明體",sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin: 0 20px;
    padding: 10px 0 0;
    text-align: right;
}
.copyright {
    font: normal 14px/18px Tahoma,Microsoft JhengHei, "微軟正黑體", LiHei Pro, "儷黑體", PMingliu, "新細明體", sans-serif ;
	color: #666;
	text-align: right;
    overflow: hidden;
}
.copyright img {
    float: left;
}
.gototop{
	position: absolute;
	z-index: 1;
}
.gototop a {
	background: url("../images/small_icon.gif") -136px 13px no-repeat #333;
	color: #FFF;
	display: block;
    margin-left: 498px;
	font-size: 12px;
	text-indent: -9999em;
	width: 36px;
	height: 36px;
	position: fixed;
    bottom: 22px;
    left: 50%;

}
@media screen and (-webkit-min-device-pixel-ratio:0) {
/* Safari and Chrome rules here */
.gototop a {margin-left: 499px;}
}
/*end*/
.gototop a:hover {
	background-color:#FC0;
	color: #333;
	background-image: none;
	line-height: 36px;
	text-indent: 0;
	text-align: center;
	text-decoration: none;
}
/**/
.navigator header, nav.sitelink header, .searchbar header, .themehead > header, .main > header, article .review header {display: none;}
.small {
	font-size: 13px;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.clear {
	clear: both;
}
.clearfix:after {
	content: ".";
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}