@media screen and (min-width: 1341px) {
  .mh-container, .header-widget, .mh-two-sb .mh-container, .mh-two-sb .header-widget {
    width: 1220px !important;
  }
  
  .mh-content, .hp-content {
    width: 860px !important;
  }

  .sb-widget .flexslider {
  	width: auto !important;
  }
  
  .hp-home-8, .hp-home-9, .hp-home-10 {
  	width: 380px !important;
  }
    
  .hp-home-8 .cp-thumb-xl img, .hp-home-9 .cp-thumb-xl img, .hp-home-10 .cp-thumb-xl img {
    width: 100%;
  }

  .single-post .post .post-thumbnail {
    width: 70%;
    margin-left: 15%;
    ..height: 0;
    ..padding-bottom: 45%;
    overflow: hidden;
    max-height: 400px;
  }
  
  .single-post .post .post-thumbnail img {
    display: block;
    width: 100% !important;
  }

  
}


.slide-wrap {
  height: 0;
  padding-bottom: 45%;
}

.content-ad .adsbygoogle.responsive  { width: 260px; height: 220px; }
@media(min-width: 420px) { .content-ad .adsbygoogle.responsive  { width: 350; height: 250px; } }


.adsbygoogle.responsive  { width: 260px; margin: 0px auto; }
@media(min-width: 420px) { .adsbygoogle.responsive  { width: 320px;  } }
@media(min-width: 520px) { .adsbygoogle.responsive  { width: 420px; } }
@media(min-width: 620px) { .adsbygoogle.responsive  { width: 488px;  } }
@media(min-width: 768px) { .adsbygoogle.responsive  { width: 488px; } }
@media(min-width: 1000px) { .adsbygoogle.responsive  { width: 488px;  } }
@media(min-width: 1340px) { .adsbygoogle.responsive  { width: 860px; } }