/*整体共公样式*/
*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑", "Lucida Grande", "Lucida Sans", Helvetica, Arial, Sans;
}
/*防止主题样式更改ie下背景*/
input{
	background:#fff;
}
input:focus {outline: none;}
select:focus {outline: none;}
textarea:focus {outline: none;}
textarea{resize: none;}

a{
	text-decoration: none;
}
a:focus {
    outline:none;
}
img{
	border: none;
}
b{
	font-weight:normal; 
}
ul{
	list-style: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.ff{
	font-family:"微软雅黑", "Lucida Grande", "Lucida Sans", Helvetica, Arial, Sans;
}
.fz_12{
	font-size:12px;
}
.fz_13{
	font-size:13px;
}
.fz_14{
	font-size:14px;
}
.fz_16{
	font-size:16px;
}
.fz_18{
	font-size:18px;
}
.fz_red{
	color:red;
	font-weight:normal;
}
.fc_red{
	font-size: 12px;
	color: red;
}
.fc_blue{
	color: #1892e8;
}
.fc_yellow{
	font-size: 12px;
	color: #fd9904;
}
.fc_green{
	font-size: 12px;
	color: #3ea406;
}
.fc_gray{
	font-size: 12px;
	color: #999;
}
.mr10{
	margin-right:10px;
}
.pt14{
	padding-top: 14px;
}
/*公用清除浮动样式*/
.clear{
   clear: both;	
}
.clearfloat:after{
	clear: both;
	display:block;
	content:"";
	overflow: hidden;
	height:0px;
}
.clearfloat{
	zoom:1;
}
.radius{
	border-radius: 5px;
}
.bds{
	box-shadow: 0 0 5px #cccccc;
	-webkit-box-shadow: 0 0 5px #cccccc;
	-moz-box-shadow: 0 0 5px #cccccc;
	-ms-box-shadow: 0 0 5px #cccccc;
}
a.text_line{
	text-decoration: underline;
}
a.a_t_line:hover{
	text-decoration: underline;
}
.indet_10{
	text-indent: 10px;
}
.t_d_18{
	text-indent: 18px;
}
.t_d_12{
	text-indent: 12px;
}
.t_d_10{
	text-indent: 10px;
}
.t_d_8{
	text-indent: 8px;
}
.t_d_6{
	text-indent: 6px;
}
.t_d_5{
	text-indent: 5px;
}
.pointer{
	cursor: pointer;
}
.dis-none{
	display: none;
}
.dis-block{
	display: block;
}
/* 遮罩层 */
#wrapper{
	width: 100%;
	background: #000;
	opacity: 0;
	filter:alpha(opacity=0);
	position: absolute;
	z-index: 100;
	left: 0;
	top: 0;
}