
@font-face {font-family: "wallstreetcn_web";
  src: url('iconfont.eot?t=1479785264009'); /* IE9*/
  src: url('iconfont.eot?t=1479785264009#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1479785264009') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1479785264009') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1479785264009#wallstreetcn_web') format('svg'); /* iOS 4.1- */
}

.wallstreetcn_web {
  font-family:"wallstreetcn_web" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before { content: "\e77d"; }

.icon-xinfeng:before { content: "\e61c"; }

.icon-jubao:before { content: "\e6a2"; }

.icon-lingying:before { content: "\e61d"; }

.icon-tongyongcanyuhuati:before { content: "\e615"; }

.icon-gonggaolaba:before { content: "\e685"; }

.icon-arrowfold:before { content: "\e600"; }

.icon-arrowmore:before { content: "\e601"; }

.icon-collect:before { content: "\e602"; }

.icon-collected:before { content: "\e603"; }

.icon-quotation:before { content: "\e604"; }

.icon-search:before { content: "\e605"; }

.icon-share:before { content: "\e606"; }

.icon-time:before { content: "\e607"; }

.icon-wechat:before { content: "\e608"; }

.icon-weibo:before { content: "\e609"; }

.icon-chacha3:before { content: "\e60a"; }

.icon-refresh:before { content: "\e60f"; }

.icon-vacation:before { content: "\e60c"; }

.icon-qq1:before { content: "\e610"; }

.icon-success:before { content: "\e612"; }

.icon-unvisible:before { content: "\e613"; }

.icon-visible:before { content: "\e614"; }

.icon-interestrate:before { content: "\e611"; }

.icon-recommend:before { content: "\e60b"; }

.icon-comment:before { content: "\e60e"; }

.icon-calendar:before { content: "\e60d"; }

.icon-livenews-copy:before { content: "\e616"; }

.icon-quotation1:before { content: "\e619"; }

.icon-shouji:before { content: "\e618"; }

.icon-report:before { content: "\e61a"; }

.icon-fankui:before { content: "\e61b"; }

.icon-tag:before { content: "\e617"; }

.icon-zuihouyiye:before { content: "\e69e"; }

.icon-shangyiye:before { content: "\e69f"; }

.icon-xiayiye:before { content: "\e6a0"; }

.icon-diyiye:before { content: "\e6a1"; }

.icon-xiaoxi:before { content: "\e6a3"; }

.icon-guanzhu:before { content: "\e6a4"; }

.icon-remenliulan:before { content: "\e641"; }

.icon-zuijiahuifu:before { content: "\e642"; }

.icon-remenyonghu:before { content: "\e643"; }

