@charset "UTF-8";

/* untitled-font-1 */
@font-face {
  font-family: "untitled-font-1";
  src:url("https://file.myfontastic.com/izpqsZpnpALCvZXL529ZGR/fonts/1482158208.eot");
  src:url("https://file.myfontastic.com/izpqsZpnpALCvZXL529ZGR/fonts/1482158208.eot?#iefix") format("embedded-opentype"),
    url("https://file.myfontastic.com/izpqsZpnpALCvZXL529ZGR/fonts/1482158208.woff") format("woff"),
    url("https://file.myfontastic.com/izpqsZpnpALCvZXL529ZGR/fonts/1482158208.ttf") format("truetype"),
    url("https://file.myfontastic.com/izpqsZpnpALCvZXL529ZGR/fonts/1482158208.svg#1482158208") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\62";
}
.icon-google-plus:before {
  content: "\63";
}
.icon-rss:before {
  content: "\64";
}
.icon-chevron-left:before {
  content: "\66";
}
.icon-chevron-right:before {
  content: "\67";
}
.icon-playback-play:before {
  content: "\69";
}
.icon-laptop-1:before {
  content: "\6a";
}
.icon-torsos-male-female:before {
  content: "\6b";
}
.icon-gamepad:before {
  content: "\6d";
}
.icon-book-open:before {
  content: "\6e";
}
.icon-globe:before {
  content: "\6f";
}
.icon-search-2:before {
  content: "\70";
}
.icon-three-bars:before {
  content: "\65";
}
.icon-clock-o:before {
  content: "\68";
}
.icon-tag:before {
  content: "\71";
}
.icon-arrows-out:before {
  content: "\72";
}
.icon-arrows-in:before {
  content: "\73";
}
.icon-twitter:before {
  content: "\61";
}
.icon-edit:before {
  content: "\74";
}
.icon-chatbox-working:before {
  content: "\75";
}
.icon-ellipsis-v:before {
  content: "\6c";
}
.icon-down-dir:before {
  content: "\76";
}
.icon-cancel:before {
  content: "\77";
}
.icon-check:before {
  content: "\78";
}
.icon-check-circle:before {
  content: "\79";
}
.icon-linkedin:before {
  content: "\41";
}
.icon-email:before {
  content: "\43";
}
.icon-social-reddit:before {
  content: "\44";
}
.icon-social-whatsapp:before {
  content: "\7a";
}
.icon-plus:before {
  content: "\42";
}
.icon-envelope:before {
  content: "\45";
}
.icon-stumbleupon:before {
  content: "\46";
}
.icon-angle-double-down:before {
  content: "\47";
}
.icon-angle-double-up:before {
  content: "\48";
}
.icon-ios-arrow-forward:before {
  content: "\49";
}
