* { padding: 0; margin: 0; list-style: none; }
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html { font-family: 'Hind', Arial, "Helvetica Neue", Helvetica, sans-serif; line-height: 1.3; }
body { min-width: 320px; overflow-x: hidden; }
img { max-width: 100%; height: auto; }
@media \0screen { img { width: auto; } }
button:focus, input:focus, select:focus, textarea:focus { outline: 0; }
label { cursor: pointer; }
header, section, footer { display: block; clear: both; }

a { text-decoration: none; color: #000000; }
a:hover { text-decoration: underline; transition: .3s ease; -moz-transition: .3s ease; -webkit-transition: .3s ease; -o-transition: .3s ease; }

.container { width: 1230px; margin: 0 auto; }
.blank {height:50px; width:100%; float:left;}

.bk-contents { clear: both; width: 100%; padding: 0.625em 0; }
.bk-contents:before, .bk-contents:after { content: ""; display: table; }
.bk-contents:after { clear: both; }
.bk-body { width: 66.26%; float: left; }
.bk-side { width: 30.89%; float: right; }
.bk-body-sub { width: 65.04%; float: left; }
.bk-side-sub { width: 32.52%; float: right; }

.shadow { clear: both; width: 100%; height: 100%; display: block; position: absolute; bottom: 0; left: 0; z-index: 1; -webkit-box-shadow: inset 1px -1px 0px 0px rgba(255, 255, 255, 0.3); -moz-box-shadow: inset 1px -1px 0px 0px rgba(255, 255, 255, 0.3); box-shadow: inset 1px -1px 0px 0px rgba(255, 255, 255, 0.3); background: -moz-linear-gradient(top, rgba(14, 34, 61, 0) 0, rgba(14, 34, 61, 0.9) 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, rgba(14, 34, 61, 0) 0, rgba(14, 34, 61, 0.9) 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, rgba(14, 34, 61, 0) 0, rgba(14, 34, 61, 0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e223d', endColorstr='#0e223d',GradientType=0 ); /* IE6-9 */ }
.shadow:before, .shadow:after { content: ""; display: table; }
.shadow:after { clear: both; }
.shadow2 { clear: both; width: 100%; height: 100%; display: block; position: absolute; bottom: 0; left: 0; z-index: 1; background: -moz-linear-gradient(right, rgba(14, 34, 61, 0) 0%, #0e223d 70%); /* FF3.6-15 */ background: -webkit-linear-gradient(right, rgba(14, 34, 61, 0) 0%, #0e223d 70%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to left, rgba(14, 34, 61, 0) 0%, #0e223d 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e223d', endColorstr='#0e223d',GradientType=0 ); /* IE6-9 */ }
.shadow2:before, .shadow2:after { content: ""; display: table; }
.shadow2:after { clear: both; }
.shadow3 { clear: both; width: 100%; height: 100%; display: block; position: absolute; bottom: 0; left: 0; z-index: 1; background: -moz-linear-gradient(top, rgba(14, 34, 61, 0) 0, #0e223d 80%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, rgba(14, 34, 61, 0) 0, #0e223d 80%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, rgba(14, 34, 61, 0) 0, #0e223d 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e223d', endColorstr='#0e223d',GradientType=0 ); /* IE6-9 */ }
.shadow3:before, .shadow3:after { content: ""; display: table; }
.shadow3:after { clear: both; }

.i-cover { overflow: hidden; background: #000; position: relative; line-height: 0; width: 100%; }
a:hover .i-cover img { transform: scale(1.05) rotate(0.01deg); -moz-transform: scale(1.05) rotate(0.01deg); -webkit-transform: scale(1.05) rotate(0.01deg); -o-transform: scale(1.05) rotate(0.01deg); -ms-transform: scale(1.05) rotate(0.01deg); opacity: 1; }
.i-cover img, .photo img { width: 100%; transition: .5s ease; -moz-transition: .5s ease; -webkit-transition: .5s ease; -o-transition: .5s ease; overflow: hidden; }
.photo { line-height: 0; position: relative; }
.photo:hover img { opacity: 0.9; -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1); box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1); }
.clear { clear: both; }

.art-title { font-size: 25px; font-size: 1.5625rem; line-height: 1.2; font-weight: 600; }
.art-title2 { font-size: 30px; font-size: 1.875rem; line-height: 1.2; font-weight: 600; }
.art-title3 { font-size: 20px; font-size: 1.25rem; line-height: 1.2; font-weight: 600; }
.art-title4 { font-size: 16px; font-size: 1rem; line-height: 1.2; font-weight: 600; }
.t-title { font-size: 30px; font-size: 1.875rem; line-height: 1.2; font-weight: 300; }
.t-title2 { font-size: 20px; font-size: 1.25rem; line-height: 1.2; font-weight: 300; }
.t-title3 { font-size: 18px; font-size: 1.125rem; line-height: 1.2; font-weight: 300; }
.caty { font-size: 0.813em; color: #29aba5; text-transform: uppercase; font-weight: 600; margin-bottom: 0.5em; }
.by { font-size: 0.750em; color: #a0a0a0; margin-top: 0.5em; font-weight: 500; }
.summary { font-size: 0.875em; line-height: 1.4em; color: #666666; margin-top: 0.5em; }

.time { font-size: 0.750em; color: #bbb; font-weight: 600; text-transform: uppercase; margin-top: 0.938em; }
.time em { color: #257594; font-style: normal; }

.sec-title { width: 100%; clear: both; border-top: #0e223d 5px solid; position: relative; color: #0e223d; }
.sec-title:before, .sec-title:after { content: ""; display: table; }
.sec-title:after { clear: both; }
.sec-title i { font-size: 1.6em; display: inline-block; padding: 0.3em 0.5em 0; border-right: #0e223d 1px solid; }
.sec-title h4 { font-size: 1.875em; font-weight: 700; padding: 0.2em 0.4em; display: inline-block; }
.sec-title .more { text-transform: uppercase; position: absolute; top: 0; right: 0; font-size: 0.750em; font-weight: 600; padding: 1.0em 0.3em; color: #888; }
.sec-title .more em { font-style: normal; color: #257594; }

.sec-title2 { width: 100%; clear: both; position: relative; text-transform: uppercase; }
.sec-title2:before, .sec-title2:after { content: ""; display: table; }
.sec-title2:after { clear: both; }
.sec-title2 i { border-top: #257594 5px solid; display: inline-block; width: 75px; position: absolute; top: 0; left: 0; }
.sec-title2 h4 { font-size: 1.875em; padding: 0.4em 0; color: #257594; font-weight: 700; }

.sec-title3 { width: 100%; clear: both; border-top: #0e223d 5px solid; color: #0e223d; text-transform: uppercase; padding: 0.6em 0.4em 0.5em;}
.sec-title3:before, .sec-title3:after { content: ""; display: table; }
.sec-title3:after { clear: both; }
.sec-title3 h4 { font-size: 1.875em; font-weight: 700; display: inline-block; }
.sec-title3 .more { font-size: 0.875em; font-weight: 600; color: #888; display: inline-block; margin-left: 0.5em; }
.sec-title3 .more a { margin: 0 0.3em; color: #888; }

.sec-page {width:100%; float:left; clear:both; text-align:center; margin:20px 0;}
.sec-page a.num {width:35px; height:35px; font-size:1.3rem; line-height:2.5rem; display:inline-block; text-align:center; margin:5px 5px;}
.sec-page a.num:hover {background:#f5f5f5; text-decoration: none;}
.sec-page a.on {color:#1b7bb8; font-weight:700; text-decoration: none;}

.admark {width:105px; height:25px; font-weight:600; line-height:26px; text-align:center; font-size:11px; background:#ffffff; text-transform:uppercase; opacity:.85; color:#061426; position:absolute; top:5px; left:5px; z-index:1000}

.ad-sample { width: 100%; clear: both;}
.ad-sample:before, .ad-sample:after { content: ""; display: table; }
.ad-sample:after { clear: both; }
.ad-sample span {text-align: center; font-size: 0.688em; text-transform: uppercase; color: #ddd; margin-bottom: 0.625em; display: block; clear: both; }
.ad-sample2 { width: 100%; clear: both; padding: 1.250em 0; text-align: center; }
.ad-sample2:before, .ad-sample2:after { content: ""; display: table; }
.ad-sample2:after { clear: both; }
.ad-sample3 { width: 320px; float: left; margin-right: 1.250em; margin-bottom: 1.250em; background: #eee; text-align: center; padding: 10px 0; clear: left; }
#adunit_article_center_middle1_computer { width: 320px; float: left; margin-right: 1.250em; text-align: center; clear:left; }
.ad-sample4 { width: 100%; clear: both; margin-bottom: 1.875em; }
.ad-sample4:before, .ad-sample4:after { content: ""; display: table; }
.ad-sample4:after { clear: both; }
.ad-sample4 div { width: 50%; float: left; text-align: center; }

input, button, select { box-sizing: border-box; height: 1.8em; padding: 0 0.6em; vertical-align: middle; }
.lt-ie9 input, .lt-ie9 button, .lt-ie9 select { line-height: 1.8em; }
input, textarea, select { background: #fff; border: 1px solid #e5e5e5; }

/* subscribe popup */
.bk-subscribe-popup { width: 100%; height: 100%; overflow: hidden; position: fixed; top: 0; left: 0; z-index: 99999; background: rgba(255, 255, 255, 0.7); }
.bk-subscribe-popup .wrap-popup { width: 630px; position: absolute; top: 30%; left: 50%; margin-left: -315px; background: #0e223d; padding: 90px 5% 70px; text-align: center; }
.bk-subscribe-popup .wrap-popup .cls { color: #bdc0c4; position: absolute; top: 20px; right: 20px; width: 28px; height: 28px; display: inline-block; font-size: 1.5em; border: #bdc0c4 1px solid; cursor: pointer; }
.bk-subscribe-popup .wrap-popup .cls:hover { text-decoration: none; }
.bk-subscribe-popup .wrap-popup .grid-1 img { height: 38px; }
.bk-subscribe-popup .wrap-popup .grid-2 { color: #bdc0c4; font-size: 1.125em; padding: 1.0em 0 2.0em; }
.bk-subscribe-popup .wrap-popup .grid-3 input { padding: 0 1.0em; border: none; font-size: 0.938em; height: 3.125em; }
.bk-subscribe-popup .wrap-popup .grid-3 .input { width: 50%; color: #555; }
.bk-subscribe-popup .wrap-popup .grid-3 .input::-webkit-input-placeholder { color: #ccc; }
.bk-subscribe-popup .wrap-popup .grid-3 .input:-moz-placeholder { color: #ccc; }
.bk-subscribe-popup .wrap-popup .grid-3 .input::-moz-placeholder { color: #ccc; }
.bk-subscribe-popup .wrap-popup .grid-3 .input:-ms-input-placeholder { color: #ccc; }
.bk-subscribe-popup .wrap-popup .grid-3 .input:focus::-webkit-input-placeholder { opacity: 0.5; }
.bk-subscribe-popup .wrap-popup .grid-3 .input:focus:-ms-input-placeholder { opacity: 0.5; }
.bk-subscribe-popup .wrap-popup .grid-3 .input:focus::-moz-placeholder { opacity: 0.5; }
.bk-subscribe-popup .wrap-popup .grid-3 .input:focus:-moz-placeholder { opacity: 0.5; }
.bk-subscribe-popup .wrap-popup .grid-3 .btn { background: #2fdba8; color: #0e223d; text-transform: uppercase; font-weight: 600; cursor: pointer; }
.bk-subscribe-popup .wrap-popup .grid-4 { font-size: 0.813em; margin-top: 1.0em; }
.bk-subscribe-popup .wrap-popup .grid-4 a { color: #bdc0c4; text-decoration: underline; }

/* header */
.bk-header { clear: both; width: 100%; height: 130px; background: #0e223d; color: #fff; margin-bottom: 0.625em; }
.bk-header:before, .bk-header:after { content: ""; display: table; }
.bk-header:after { clear: both; }
.bk-header a { color: #fff; }
.bk-header a:hover { color: #fff; }
.bk-header .container { position: relative; }
.bk-header .ic-nav { float: left; padding: 0.5em 0.5em 0; margin:2.2em 1em 0 0; text-align: center; display: inline-block; }
.bk-header .ic-nav i { font-size: 2.2em; }
.bk-header .ic-nav span { display: block; font-size: 0.750em; }
.bk-header .ic-nav:hover { text-decoration: none; }
.bk-header a.ic-nav:hover, .bk-header .current { background: #fff; color: #0e223d; }
.bk-header a.current:hover { color: #0e223d; }
.bk-header .logo { float: left; margin-top: 2.6em; }
.bk-header .hd-sns { position: absolute; top: 1.2em; right:0.7em; }
.bk-header .hd-sns .sns { float: left; }
.bk-header .hd-sns .sns li { float: left; font-size: 1.25em; text-transform: uppercase; padding: 0.1em 0.2em; }
.bk-header .hd-sns .sns a:hover { text-decoration: none; }
.bk-header .hd-sns .sns .txt { font-size: 0.750em; margin: 0.4em 0.6em 0 0; }
.bk-header .hd-sns .srch { float: left; width: 6.6em; }
.bk-header .hd-sns .srch .input { background: transparent; border: none; color: #fff; width: 6.0em; }
.bk-header .hd-sns .srch .input::-webkit-input-placeholder { color: #fff; }
.bk-header .hd-sns .srch .input:-moz-placeholder { color: #fff; }
.bk-header .hd-sns .srch .input::-moz-placeholder { color: #fff; }
.bk-header .hd-sns .srch .input:-ms-input-placeholder { color: #fff; }
.bk-header .hd-sns .srch .input:focus::-webkit-input-placeholder { opacity: 0.5; }
.bk-header .hd-sns .srch .input:focus:-ms-input-placeholder { opacity: 0.5; }
.bk-header .hd-sns .srch .input:focus::-moz-placeholder { opacity: 0.5; }
.bk-header .hd-sns .srch .input:focus:-moz-placeholder { opacity: 0.5; }
.bk-header .hd-sns .srch button { background: transparent; border: none; font-size: 1.125em; color: #fff; cursor: pointer; }
.bk-header .menu { float: right; font-size: 1.125em; font-weight: 600; text-transform: uppercase; margin-top: 3.4em; }
.bk-header .menu li { float: left; }
.bk-header .menu a { display: inline-block; padding: 0.55em 0; margin: 0 0.8em; }
.bk-header .menu a:hover { text-decoration: none; }
.bk-header .menu .m1:hover, .bk-header .menu .selected .m1 { border-bottom: #2fdba8 5px solid; }
.bk-header .menu .m2:hover, .bk-header .menu .selected .m2 { border-bottom: #97bbff 5px solid; }
.bk-header .menu .m3:hover, .bk-header .menu .selected .m3 { border-bottom: #98a942 5px solid; }
.bk-header .menu .m4:hover, .bk-header .menu .selected .m4 { border-bottom: #f24c27 5px solid; }
.bk-header .menu .m5:hover, .bk-header .menu .selected .m5 { border-bottom: #f2921f 5px solid; }
.bk-header .menu .m6:hover, .bk-header .menu .selected .m6 { border-bottom: #0074d9 5px solid; }
.bk-header .menu .m7:hover, .bk-header .menu .selected .m7 { border-bottom: #ff8598 5px solid; }

.hd-fixed { height: 60px; position: fixed; top: 0; left: 0; z-index: 9999; }
.hd-fixed .ic-nav { width: auto; padding: 0.5em 0.5em 0; margin: 0.2em 0.7em 0 0; }
.hd-fixed .ic-nav i { font-size: 1.8em; }
.hd-fixed .logo { margin-top: 1.0em; }
.hd-fixed .logo img { width: 235px; -webkit-transition: margin-top 0.5s ease, width 0.5s ease; transition: margin-top 0.5s ease, width 0.5s ease; }
.hd-fixed .hd-sns { position: relative; top: 17px; right: auto; float: right; }
.hd-fixed .hd-sns .txt { display: none; }
.hd-fixed .menu { float: left; margin-top: 0; margin-left: 0.5em; line-height: 2.6em; }
.hd-fixed .menu a { padding: 0.5em 0 0; margin: 0 1.0em; }

/* tlounge header */
.bk-header-tlounge { clear: both; width: 100%; color: #fff; }
.bk-header-tlounge:before, .bk-header-tlounge:after { content: ""; display: table; }
.bk-header-tlounge:after { clear: both; }
.bk-header-tlounge a { color: #fff; }
.bk-header-tlounge a:hover { color: #fff; }
.bk-header-tlounge .container { position: relative; }
.bk-header-tlounge .grid-1 { clear: both; width: 100%; height: 45px; background: #0e223d; text-align: right; }
.bk-header-tlounge .grid-1:before, .bk-header-tlounge .grid-1:after { content: ""; display: table; }
.bk-header-tlounge .grid-1:after { clear: both; }
.bk-header-tlounge .grid-1 .logo { float: right; margin-top: 0.7em; }
.bk-header-tlounge .grid-1 .logo img { height: 15px; }
.bk-header-tlounge .grid-1 .menu { float: right; margin: 0.5em 0.5em 0; }
.bk-header-tlounge .grid-1 .menu li { float: left; font-size: 0.750em; text-transform: uppercase; padding: 0.5em 0.4em; }
.bk-header-tlounge .grid-1 .hd-sns { float: right; margin-top: 0.5em; }
.bk-header-tlounge .grid-1 .hd-sns .sns { float: left; }
.bk-header-tlounge .grid-1 .hd-sns .sns li { float: left; font-size: 1.25em; text-transform: uppercase; padding: 0.1em 0.2em; }
.bk-header-tlounge .grid-1 .hd-sns .sns a:hover { text-decoration: none; }
.bk-header-tlounge .grid-1 .hd-sns .srch { float: left; }
.bk-header-tlounge .grid-1 .hd-sns .srch .input { background: transparent; border: none; color: #fff; width: 6.0em; }
.bk-header-tlounge .grid-1 .hd-sns .srch .input::-webkit-input-placeholder { color: #fff; }
.bk-header-tlounge .grid-1 .hd-sns .srch .input:-moz-placeholder { color: #fff; }
.bk-header-tlounge .grid-1 .hd-sns .srch .input::-moz-placeholder { color: #fff; }
.bk-header-tlounge .grid-1 .hd-sns .srch .input:-ms-input-placeholder { color: #fff; }
.bk-header-tlounge .grid-1 .hd-sns .srch .input:focus::-webkit-input-placeholder { opacity: 0.5; }
.bk-header-tlounge .grid-1 .hd-sns .srch .input:focus:-ms-input-placeholder { opacity: 0.5; }
.bk-header-tlounge .grid-1 .hd-sns .srch .input:focus::-moz-placeholder { opacity: 0.5; }
.bk-header-tlounge .grid-1 .hd-sns .srch .input:focus:-moz-placeholder { opacity: 0.5; }
.bk-header-tlounge .grid-1 .hd-sns .srch button { background: transparent; border: none; font-size: 1.125em; color: #fff; cursor: pointer; }
.bk-header-tlounge .grid-2 { clear: both; width: 100%; height: 75px; background: #142c4e; }
.bk-header-tlounge .grid-2:before, .bk-header-tlounge .grid-2:after { content: ""; display: table; }
.bk-header-tlounge .grid-2:after { clear: both; }
.bk-header-tlounge .grid-2 .container { height: 120px; }
.bk-header-tlounge .grid-2 .ic-nav { height: 120px; float: left; text-align: center; display: inline-block; position: absolute; top: -45px; left: 0; }
.bk-header-tlounge .grid-2 .ic-nav:hover { text-decoration: none; }
.bk-header-tlounge .grid-2 .ic-nav .btn { width: 40px; height: 120px; font-size: 2.0em; padding: 1.45em 0; background: #0b1c35; display: inline-block; float: left; -webkit-box-shadow: inset -1px 0px 1px 0px rgba(31, 66, 114, 0.8); -moz-box-shadow: inset -1px 0px 1px 0px rgba(31, 66, 114, 0.8); box-shadow: inset -1px 0px 1px 0px rgba(31, 66, 114, 0.8); }
.bk-header-tlounge .grid-2 .ic-nav .lg { width: 130px; height: 120px; background: #0e223d; display: inline-block; float: left; }
.bk-header-tlounge .grid-2 .menu { padding-left: 170px; }
.bk-header-tlounge .grid-2 .menu li { float: left; border-right: #2a4467 1px solid; }
.bk-header-tlounge .grid-2 .menu li a { font-size: 1.125em; padding:1.45em 2.85em 0.95em; display: inline-block; text-transform: uppercase; border-right: #111a26 1px solid; border-bottom: #142c4e 0.5em solid; }
.bk-header-tlounge .grid-2 .menu li a:hover { text-decoration: none; }
.bk-header-tlounge .grid-2 .menu li .m1:hover { border-bottom-color: #a31842; }
.bk-header-tlounge .grid-2 .menu li .m2:hover { border-bottom-color: #ff770d; }
.bk-header-tlounge .grid-2 .menu li .m3:hover { border-bottom-color: #eca000; }
.bk-header-tlounge .grid-2 .menu li .m4:hover { border-bottom-color: #8938ff; }
.bk-header-tlounge .grid-2 .menu li .m5:hover { border-bottom-color: #bf3f37; }
.bk-header-tlounge .grid-2 .menu li .m6:hover { border-bottom-color: #269069; }
.bk-header-tlounge .grid-2 .menu li .m7:hover { border-bottom-color: #75b101; }

.slideshows { background:#ebebeb; border-bottom:#c3c3c3 3px solid; padding:10px; margin-bottom: 20px;}
.slideshows .bx1, .slideshows .bx2 { position:relative}
.slideshows .bx1 .title { font-size: 1.05em; color:#444444; line-height:1.4em; font-weight:600; padding:5px 125px 10px 0 }
.slideshows .bx1 .arrow { text-decoration:none; font-size: 1.4em; color:#0693e3; top:5px; position:absolute; z-index:105}
.slideshows .bx1 .arrow.left { right:38px;}
.slideshows .bx1 .arrow.right { right:8px;}
.slideshows .bx1 .count { font-weight:600; color:#444444; right:72px; top:7px; position:absolute; z-index:105}
.slideshows .bx2 { background:#ebebeb; width:100%; text-align:center}
.slideshows .bx2 .arrow-navy { font-size:1.4em; color:#ffffff; width:2.0em; text-decoration:none; padding:0.9em 0 0 0; height:2.7em; text-align:center; display: inline-block; background:#0e223d; bottom:105px; position:absolute; z-index:105}
.slideshows .bx2 .arrow-navy:active {background:rgba(36, 51, 99, 1);}
.slideshows .bx2 .arrow-navy.left {left:10px}
.slideshows .bx2 .arrow-navy.right {right:10px}
.slideshows .bx2 .thumbnail { width:85px; height:60px; border:#0e223d 1px solid; bottom:35px; position:absolute; z-index:105}
.slideshows .bx2 .thumbnail.left {left:10px}
.slideshows .bx2 .thumbnail.right {right:10px}
.slideshows .bx3 { font-size:0.8em; line-height:1.2em; color:#444444; padding:10px 0 0 0}
.slideshows .bx3 .credit { display:block; font-size:0.8em; padding:5px 0 0 0}
.slideshows .blue { color:#2f4ab4;}


/* footer */
.bk-footer { width: 100%; clear: both; color: #fff; }
.bk-footer:before, .bk-footer:after { content: ""; display: table; }
.bk-footer:after { clear: both; }
.bk-footer a { color: #fff; }
.bk-footer .f-con { width: 100%; clear: both; background: #243363; padding: 1.8em 0 2.5em; }
.bk-footer .f-con:before, .bk-footer .f-con:after { content: ""; display: table; }
.bk-footer .f-con:after { clear: both; }
.bk-footer .f-con .sec-title { border-top: none; color: #fff; }
.bk-footer .f-con .sec-title .more { color: #fff; }
.bk-footer .f-con .wp-slide { width: 100%; clear: both; position: relative; }
.bk-footer .f-con .wp-slide:before, .bk-footer .f-con .wp-slide:after { content: ""; display: table; }
.bk-footer .f-con .wp-slide:after { clear: both; }
.bk-footer .f-con .wp-slide .arr { text-decoration: none; position: absolute; top:38%; left: 0; z-index: 3; display: inline-block; color: #fff; font-size: 1.8em; width:0.8em; height:1.2em; text-align: center;}
.bk-footer .f-con .wp-slide .next { left: auto; right: 0; }
.bk-footer .f-con .wp-slide .slide { clear: both; position: relative; }
.bk-footer .f-con .wp-slide .slide:before, .bk-footer .f-con .wp-slide .slide:after { content: ""; display: table; }
.bk-footer .f-con .wp-slide .slide:after { clear: both; }
.bk-footer .f-con .wp-slide .slide li { float: left;}
.bk-footer .f-con .wp-slide .slide .photo { width:120px; float: left; margin-right: 0.938em; }
.bk-footer .f-con .wp-slide .bxslider2 li>div {float: left; width: 22%; margin: 0.3em 1.5% 0 0;}
.bk-footer .f-con .wp-slide .bxslider2 li>div:first-child {padding-left:2.5em; width:25% !important}
.bk-footer .f-con2 { width: 100%; clear: both; padding: 2.0em 0; background: #0e223d; }
.bk-footer .f-con2:before, .bk-footer .f-con2:after { content: ""; display: table; }
.bk-footer .f-con2:after { clear: both; }
.bk-footer .f-con2 .grid-col { float: left; }
.bk-footer .f-con2 .grid-col .t1 { font-size: 0.938em; }
.bk-footer .f-con2 .grid-col .t1 a { margin: 0 0.3em; }
.bk-footer .f-con2 .grid-col .t2 { font-size: 0.688em; color: #bbb; margin-top: 0.8em; }
.bk-footer .f-con2 .grid-col .t2 a { margin: 0 0.3em; color: #bbb; }
.bk-footer .f-con2 .grid-col2 { float: left; margin-left: 3.125em; border-left: #2c3c6b 1px solid; padding: 0 1.563em; }
.bk-footer .f-con2 .grid-col2 .sns { float: left; }
.bk-footer .f-con2 .grid-col2 .sns li { float: left; font-size: 1.25em; text-transform: uppercase; padding: 0.1em 0.2em; }
.bk-footer .f-con2 .grid-col2 .sns a:hover { text-decoration: none; }
.bk-footer .f-con2 .grid-col2 .sns .txt { font-size: 0.750em; margin: 0.4em 0.6em 0 0; }
.bk-footer .f-con2 .grid-col2 .srch { float: left; width: 8.0em; }
.bk-footer .f-con2 .grid-col2 .srch .input { background: transparent; border: none; color: #fff; width: 69%; }
.bk-footer .f-con2 .grid-col2 .srch .input::-webkit-input-placeholder { color: #fff; }
.bk-footer .f-con2 .grid-col2 .srch .input:-moz-placeholder { color: #fff; }
.bk-footer .f-con2 .grid-col2 .srch .input::-moz-placeholder { color: #fff; }
.bk-footer .f-con2 .grid-col2 .srch .input:-ms-input-placeholder { color: #fff; }
.bk-footer .f-con2 .grid-col2 .srch .input:focus::-webkit-input-placeholder { opacity: 0.5; }
.bk-footer .f-con2 .grid-col2 .srch .input:focus:-ms-input-placeholder { opacity: 0.5; }
.bk-footer .f-con2 .grid-col2 .srch .input:focus::-moz-placeholder { opacity: 0.5; }
.bk-footer .f-con2 .grid-col2 .srch .input:focus:-moz-placeholder { opacity: 0.5; }
.bk-footer .f-con2 .grid-col2 .srch button { background: transparent; border: none; font-size: 1.125em; color: #fff; cursor: pointer; }
.bk-footer .f-con2 .grid-col3 { float: right; }
.bk-footer .f-con2 .grid-col3 .logo img { width: 160px; }
.bk-footer .f-con2 .grid-col3 .copy { font-size: 0.688em; color: #bbb; margin-top: 0.5em; }

/* navigation */
.bk-nav { width: 250px; top: 130px; backface-visibility: hidden; background: #0e223d; position: fixed; z-index:9999; bottom: 0; left: 0; -webkit-overflow-scrolling: touch; overflow-x: hidden; text-align: left; -webkit-transform: translate(-100000px, -100000px); -ms-transform: translate(-100000px, -100000px); transform: translate(-100000px, -100000px); font-size: 0.95em; color: #fff; text-align: right; padding: 1.0em 0; }
.bk-nav a { color: #fff; display: block; padding:0.45em 2.0em 0.15em;}
.bk-nav .ttl { text-transform: uppercase; background: #1a4174; }
.bk-nav .t1 a { color: #cdd7de; }

.nav-fixed { top: 60px; }
.nav-fixed2 { top: 130px; }
.nav-fixed3 { top: 120px; }

.nav-show { -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); }
.nav-show-tlounge { -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); position: absolute;}

/* sidebar */
.s-con { width: 100%; clear: both; margin-bottom: 1.250em; text-align: center; }
.s-con:before, .s-con:after { content: ""; display: table; }
.s-con:after { clear: both; }
.s-con .photo { position: relative; }
.s-con .t1 { font-size: 1.000em; line-height: 1.1; border: #2fdba8 3px solid; color: #2fdba8; display: block; padding: 5px 8px; text-transform: uppercase; font-weight: 600; position: absolute; top: 10px; left: 10px; z-index: 2; }
.s-con i { font-size: 4.0em; color: #2fdba8; position: absolute; top: 40%; left: 40%; z-index: 2; }
.s-con h3 { margin-top: 0.6em; }

.s-con2 { width: 100%; clear: both; margin-bottom: 1.250em; }
.s-con2:before, .s-con2:after { content: ""; display: table; }
.s-con2:after { clear: both; }
.s-con2 .list { width: 100%; clear: both; margin-bottom: 1px; }
.s-con2 .list:before, .s-con2 .list:after { content: ""; display: table; }
.s-con2 .list:after { clear: both; }
.s-con2 .list .photo { width: 150px; float: left; position: relative; margin-right: 1.000em; }
.s-con2 .list .num { width: 3.125em; height: 3.125em; display: block; background: #0e223d; color: #fff; font-size: 1.125em; line-height: 3.2em; font-weight: 700; text-align: center; position: absolute; top: 0; left: 0; z-index: 2; }
.s-con2 .list2 { width: 100%; clear: both; border-bottom: #e5e5e5 1px solid; padding-bottom: 0.625em; margin-bottom: 0.625em; }
.s-con2 .list2:before, .s-con2 .list2:after { content: ""; display: table; }
.s-con2 .list2:after { clear: both; }
.s-con2 .list2 .t1 { font-size: 0.750em; font-weight: 600; margin-top: 0.5em; color: #bbb; }
.s-con2 .list2 .t1 em a { font-style: normal; color: #257594; }

.s-nwletter { width: 100%; clear: both; margin-bottom: 1.250em; background: #e5e5e5; padding: 5%; }
.s-nwletter:before, .s-nwletter:after { content: ""; display: table; }
.s-nwletter:after { clear: both; }
.s-nwletter .grid-col { position: relative; clear: both; }
.s-nwletter .grid-col:before, .s-nwletter .grid-col:after { content: ""; display: table; }
.s-nwletter .grid-col:after { clear: both; }
.s-nwletter .grid-col .t2 { font-size: 0.875em; font-weight: 600; color: #888; margin-top: 0.2em; }
.s-nwletter .grid-col .view { font-size: 0.750em; font-weight: 600; color: #257594; position: absolute; bottom: 0; right: 0; }
.s-nwletter .grid-col2 { clear: both; margin-top: 0.8em; }
.s-nwletter .grid-col2:before, .s-nwletter .grid-col2:after { content: ""; display: table; }
.s-nwletter .grid-col2:after { clear: both; }
.s-nwletter .grid-col2 .input { font-size: 0.750em; border: none; color: #888; font-style: normal; padding: 20px 15px; float: left; width: 70%; }
.s-nwletter .grid-col2 .input::-webkit-input-placeholder { color: #ddd; font-style: italic; }
.s-nwletter .grid-col2 .input:-moz-placeholder { color: #ddd; font-style: italic; }
.s-nwletter .grid-col2 .input::-moz-placeholder { color: #ddd; font-style: italic; }
.s-nwletter .grid-col2 .input:-ms-input-placeholder { color: #ddd; font-style: italic; }
.s-nwletter .grid-col2 .input:focus::-webkit-input-placeholder { opacity: 0.5; }
.s-nwletter .grid-col2 .input:focus:-ms-input-placeholder { opacity: 0.5; }
.s-nwletter .grid-col2 .input:focus::-moz-placeholder { opacity: 0.5; }
.s-nwletter .grid-col2 .input:focus:-moz-placeholder { opacity: 0.5; }
.s-nwletter .grid-col2 .btn { background: #0e223d; border: none; color: #fff; font-size: 0.875em; font-weight: 600; padding: 12px 15px 28px; float: left; width: 30%; cursor: pointer; }
.s-nwletter .nw_comment { font-size: 0.750em; color: #888; margin-top: 0.5em; }

/* home */
.mainslide { clear: both; width: 100%; margin-bottom: 1.563em; position: relative; }
.mainslide:before, .mainslide:after { content: ""; display: table; }
.mainslide:after { clear: both; }
.mainslide img { opacity: 0.9; }
.mainslide .arr { position: absolute; top: 50%; left: 0; z-index: 3; display: inline-block; color: #0e223d; font-size: 1.8em; line-height: 4.0em; width: 2.0em; height: 3.5em; margin-top: -2.0em; text-align: center; background: rgba(255, 255, 255, 0.3); }
.mainslide .arr:hover { text-decoration: none; background: rgba(255, 255, 255, 0.7); }
.mainslide .next { left: auto; right: 0; }
.mainslide .ttl { position: absolute; bottom: 0; left: 0; z-index: 2; width: 100%; padding: 5%; color: #fff; line-height: 1.2; text-shadow: 1px 1px 0 #000; }
.mainslide .ttl .t1 { font-size: 0.813em; color: #2fdba8; text-transform: uppercase; font-weight: 600; margin-bottom: 0.4em; }
.mainslide .ttl .t2 { font-size: 0.750em; color: #ddd; margin-top: 0.2em; }
.mainslide .ttl h2 { font-weight: 600; font-size: 1.250em; }
.mainslide .wp-slide { clear: both; width: 100%; }
.mainslide .wp-slide:before, .mainslide .wp-slide:after { content: ""; display: table; }
.mainslide .wp-slide:after { clear: both; }
.mainslide .wp-slide .grid-col1 { width: 44.4%; float: left; }
.mainslide .wp-slide .grid-col1 h2 { font-size: 1.875em; line-height: 1.1; }
.mainslide .wp-slide .grid-col2 { width: 27.80%; float: left; }
.mainslide .wp-slide .grid-col2 .list { clear: both; width: 100%; }
.mainslide .wp-slide .grid-col2 .list:before, .mainslide .wp-slide .grid-col2 .list:after { content: ""; display: table; }
.mainslide .wp-slide .grid-col2 .list:after { clear: both; }
.mainslide .wp-slide2 { clear: both; width: 100%; }
.mainslide .wp-slide2:before, .mainslide .wp-slide2:after { content: ""; display: table; }
.mainslide .wp-slide2:after { clear: both; }
.mainslide .wp-slide2 .grid-col1 { width: 27.80%; float: left; }
.mainslide .wp-slide2 .grid-col1 .list { clear: both; width: 100%; }
.mainslide .wp-slide2 .grid-col1 .list:before, .mainslide .wp-slide2 .grid-col1 .list:after { content: ""; display: table; }
.mainslide .wp-slide2 .grid-col1 .list:after { clear: both; }
.mainslide .wp-slide2 .grid-col2 { width: 44.4%; float: left; }
.mainslide .wp-slide2 .grid-col2 .list { width: 50%; float: left; }
.mainslide .wp-slide2 .grid-col2 .ttl { padding: 5% 7%; }

.m-con { width: 100%; clear: both; }
.m-con:before, .m-con:after { content: ""; display: table; }
.m-con:after { clear: both; }
.m-con .grid-col { width: 42.0%; float: left; }
.m-con .grid-col2 { width: 55.95%; float: right; text-align: center; margin-bottom: 1.563em; }
.m-con .grid-col2 .photo { margin-bottom: 0.7em; width: 100%; float: left; clear: both; }
.m-con .list { width: 100%; clear: both; margin-bottom: 1.563em; }
.m-con .list:before, .m-con .list:after { content: ""; display: table; }
.m-con .list:after { clear: both; }

.m-con2 { width: 100%; clear: both; background: #0e223d; margin-bottom: 1.875em; position: relative; }
.m-con2:before, .m-con2:after { content: ""; display: table; }
.m-con2:after { clear: both; }
.m-con2 .i-cover { text-align: right; }
.m-con2 img { width: auto; }
.m-con2 .ttl { position: absolute; top: 0; left: 0; z-index: 2; width: 57%; padding: 5%; color: #fff; line-height: 1.2; text-shadow: 1px 1px 0 #000; }
.m-con2 a:hover .ttl h3 { text-decoration: underline; }
.m-con2 .t1 { font-size: 1.000em; border: #2fdba8 3px solid; color: #2fdba8; display: inline-block; margin-bottom: 0.5em; padding: 5px 8px; text-transform: uppercase; font-weight: 600; }

.m-con3 { width: 100%; clear: both; margin-bottom: 0.625em; }
.m-con3:before, .m-con3:after { content: ""; display: table; }
.m-con3:after { clear: both; }
.m-con3 .grid-col { width: 66.25%; float: left; margin-bottom: 1.250em; }
.m-con3 .grid-col .photo { margin-bottom: 0.625em; }
.m-con3 .grid-col2 { width: 30.67%; float: right; }
.m-con3 .grid-col2 .list li { padding-bottom: 1.250em; margin-bottom: 1.250em; border-bottom: #e5e5e5 1px solid; }
.m-con3 .grid-col2 .list li:last-child { border-bottom: none; }
.m-con3 .grid-col2 .list2 { width: 100%; clear: both; margin-bottom: 1.250em; }
.m-con3 .grid-col2 .list2:before, .m-con3 .grid-col2 .list2:after { content: ""; display: table; }
.m-con3 .grid-col2 .list2:after { clear: both; }
.m-con3 .grid-col2 .list2 .photo { margin-bottom: 0.625em; }

.m-con4 { width: 100%; clear: both; margin-bottom: 0.625em; }
.m-con4:before, .m-con4:after { content: ""; display: table; }
.m-con4:after { clear: both; }
.m-con4 .list { width: 31.3%; float: left; margin-right: 3%; margin-bottom: 1.250em; }
.m-con4 .list:nth-of-type(3n) { margin-right: 0; }
.m-con4 .list:nth-of-type(3n+1) {clear: left;}
.m-con4 .list .photo { margin-bottom: 0.625em; }

.m-con5 { width: 100%; clear: both; margin-bottom: 0.625em; }
.m-con5:before, .m-con5:after { content: ""; display: table; }
.m-con5:after { clear: both; }
.m-con5 .list { width: 48%; float: left; margin-bottom: 1.250em; }
.m-con5 .list:nth-of-type(2n) { float: right; }
.m-con5 .list:nth-of-type(2n+1) {clear: left;}
.m-con5 .list .photo { float: left; margin-right: 1.250em; margin-bottom: 0.625em; }
.m-con5 .list .by { font-size: 1.000em; margin-bottom: 0.625em; }
.m-con5 .list .more { font-weight: 600; color: #257594; text-decoration: underline; font-size: 0.750em; }

/* section */
div.sec-list { width: 100%; clear: both; }
div.sec-list:before, div.sec-list:after { content: ""; display: table; }
div.sec-list:after { clear: both; }
div.sec-list .list { width: 100%; clear: both; margin-bottom: 1.563em; }
div.sec-list .list:before, div.sec-list .list:after { content: ""; display: table; }
div.sec-list .list:after { clear: both; }
div.sec-list .list .photo { margin-bottom: 0.938em; }
div.sec-list .list2 { width: 100%; clear: both; margin-bottom: 1.563em; }
div.sec-list .list2:before, div.sec-list .list2:after { content: ""; display: table; }
div.sec-list .list2:after { clear: both; }
div.sec-list .list2 .photo { width: 250px; float: left; margin-right: 0.938em; }

.load-more { width: 100%; clear: both; margin: 1.250em 0; text-align: center; font-size: 1.250em; font-weight: 700; }
.load-more:before, .load-more:after { content: ""; display: table; }
.load-more:after { clear: both; }
.load-more a { color: #0e223d; display: block; padding: 0.5em 0; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,eaeaea+100 */ background: #f9f9f9; /* Old browsers */ background: -moz-linear-gradient(top, #f9f9f9 0%, #eaeaea 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, #f9f9f9 0%, #eaeaea 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, #f9f9f9 0%, #eaeaea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */ -webkit-box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.2); -moz-box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.2); box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.2); }

.bk-video { width: 100%; clear: both; }
.bk-video:before, .bk-video:after { content: ""; display: table; }
.bk-video:after { clear: both; }
.bk-video .grid-1 { width: 100%; clear: both; margin-bottom: 1.250em; text-align: center; overflow: hidden; }
.bk-video .grid-1:before, .bk-video .grid-1:after { content: ""; display: table; }
.bk-video .grid-1:after { clear: both; }
.bk-video .grid-1 h1 { margin: 0.5em 0; }
.bk-video .grid-2 { width: 100%; clear: both; }
.bk-video .grid-2:before, .bk-video .grid-2:after { content: ""; display: table; }
.bk-video .grid-2:after { clear: both; }
.bk-video .grid-2 h4 { font-weight: 600; color: #555; font-size: 0.875em; text-transform: uppercase; margin-bottom: 0.8em; }
.bk-video .grid-2 .list { width: 49%; float: left; margin-bottom: 1.250em; }
.bk-video .grid-2 .list:nth-of-type(2n) { float: right; clear: right; }
.bk-video .grid-2 .list .photo { width: 150px; float: left; margin-right: 1.250em; position: relative; }
.bk-video .grid-2 .list .photo i { position: absolute; bottom: 0; right: 0; z-index: 2; width: 1.2em; height: 1.2em; display: inline-block; background: #eee; font-size: 2.4em; line-height: 1.7em; text-align: center; }

/* t-lounge */
.bk-tlounge { width: 100%; clear: both; }
.bk-tlounge:before, .bk-tlounge:after { content: ""; display: table; }
.bk-tlounge:after { clear: both; }
.bk-tlounge .wrap { width: 100%; clear: both; }
.bk-tlounge .wrap:before, .bk-tlounge .wrap:after { content: ""; display: table; }
.bk-tlounge .wrap:after { clear: both; }
.bk-tlounge .caty { font-size: 1.438em; position: absolute; top: 0; left: 0; z-index: 2; color: #fff; padding: 0.7em 1.0em; display: inline-block; }
.bk-tlounge .viewmore { width: 100%; clear: both; text-transform: uppercase; text-align: right; padding: 0.5em 0 1.5em; font-size: 0.938em; font-weight: 600; }
.bk-tlounge .viewmore:before, .bk-tlounge .viewmore:after { content: ""; display: table; }
.bk-tlounge .viewmore:after { clear: both; }
.bk-tlounge .viewmore a { color: #fff; }
.bk-tlounge .viewmore i { font-size: 0.85em; margin-left: 0.5em; }
.bk-tlounge .color-1 { background: #a31842; }
.bk-tlounge .color-2 { background: #ff770d; }
.bk-tlounge .color-3 { background: #eca000; }
.bk-tlounge .color-4 { background: #8938ff; }
.bk-tlounge .color-5 { background: #bf3f37; }
.bk-tlounge .color-6 { background: #269069; }
.bk-tlounge .color-7 { background: #75b101; }
.bk-tlounge .color-8 { background: #295eff; }
.bk-tlounge .shadow { box-shadow: none; }
.bk-tlounge .ttl { position: absolute; bottom: 0; left: 0; z-index: 2; padding: 1.5em 1.5em; color: #fff; }
.bk-tlounge .grid-col { width:49.6%; float:left}
.bk-tlounge .grid-col2 { width:49.6%; float:right}
.bk-tlounge .grid-one { width: 100%; clear: both; position: relative; margin-bottom: 0.625em; }
.bk-tlounge .grid-one:before, .bk-tlounge .grid-one:after { content: ""; display: table; }
.bk-tlounge .grid-one:after { clear: both; }
.bk-tlounge .grid-half { width: 49.16%; float: left; position: relative; margin-bottom: 0.625em; }
.bk-tlounge .t-hdline { width: 100%; clear: both; background: #222222; padding: 1.563em 0 0.625em; }
.bk-tlounge .t-hdline:before, .bk-tlounge .t-hdline:after { content: ""; display: table; }
.bk-tlounge .t-hdline:after { clear: both; }
.bk-tlounge .t-hdline .t1 { font-size: 1.0em; color: #fff; margin-bottom: 0.6em; text-transform: uppercase; }
.bk-tlounge .t-hdline .box { width: 48.33%; float: left; }
.bk-tlounge .t-hdline .box2 { width: 50%; float: right; }
.bk-tlounge .t-hdline .box2 > div { margin-bottom: 0.2em; }
.bk-tlounge .t-hdline .wp-slide { width: 100%; clear: both; position: relative; line-height: 0; }
.bk-tlounge .t-hdline .wp-slide:before, .bk-tlounge .t-hdline .wp-slide:after { content: ""; display: table; }
.bk-tlounge .t-hdline .wp-slide:after { clear: both; }
.bk-tlounge .t-hdline .wp-slide .arr { text-align: center; position: absolute; top: 50%; left: 0; margin-top: -3.5em; z-index: 3; background: rgba(0, 0, 0, 0.6); display: block; }
.bk-tlounge .t-hdline .wp-slide .arr:hover { background: rgba(0, 0, 0, 0.9); }
.bk-tlounge .t-hdline .wp-slide .arr i { width: 1.3em; height: 2.2em; font-size: 2.8em; line-height:2.3em; color: #fff; vertical-align: middle; display: inline-block; float: left; }
.bk-tlounge .t-hdline .wp-slide .next i {float: right;}
.bk-tlounge .t-hdline .wp-slide .arr .thumb { padding: 0.6em 0.6em; vertical-align: middle; display: inline-block; }
.bk-tlounge .t-hdline .wp-slide .next .thumb {float: left;}
.bk-tlounge .t-hdline .wp-slide .next { left: auto; right: 0; }
.bk-tlounge .t-hdline .wp-slide .wp-dot { position: absolute; bottom: 15px; right: 20px; z-index: 2; }
.bk-tlounge .t-hdline .wp-slide .wp-dot a { width: 12px; height: 12px; display: inline-block; margin: 0 2px; background: #b8c3c7; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; text-indent: -9999px; }
.bk-tlounge .t-hdline .wp-slide .wp-dot a:hover, .bk-tlounge .t-hdline .wp-slide .wp-dot .selected { background: #6bc3e0; }
.bk-tlounge .t-hdline .wp-slide .slide { position: relative; }
.bk-tlounge .t-contents { width: 100%; clear: both; background: #2a3f5e; padding: 1.563em 0; }
.bk-tlounge .t-contents:before, .bk-tlounge .t-contents:after { content: ""; display: table; }
.bk-tlounge .t-contents:after { clear: both; }
.bk-tlounge .t-contents .con-3 .grid-col2 div { float: right; }
.bk-tlounge .t-contents .con-1 .grid-col div:nth-of-type(2n), .bk-tlounge .t-contents .con-1 .grid-col2 div:nth-of-type(2n+1), .bk-tlounge .t-contents .con-2 .grid-col div:nth-of-type(2n), .bk-tlounge .t-contents .con-2 .grid-col2 div:nth-of-type(2n+1), .bk-tlounge .t-contents .con-3 .grid-col div:nth-of-type(2n+1), .bk-tlounge .t-contents .con-4 .grid-col div:nth-of-type(2n), .bk-tlounge .t-contents .con-4 .grid-col2 div:nth-of-type(2n+1) { float: right; }
.bk-tlounge .t-contents .con-3 .grid-col2 div:first-child { float: left; }

/* article */
.bk-article { width: 100%; clear: both; position:relative;}
.bk-article:before, .bk-article:after { content: ""; display: table; }
.bk-article:after { clear: both; }
.bk-article .at-tag { width: 100%; clear: both; font-size: 0.813em; border-bottom: #e5e5e5 1px solid; border-top: #e5e5e5 1px solid; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; display: block; margin-bottom: 0.938em; }
.bk-article .at-tag:before, .bk-article .at-tag:after { content: ""; display: table; }
.bk-article .at-tag:after { clear: both; }
.bk-article .at-tag .t1 { background: #0e223d; color: #fff; display: inline-block; padding: 0.7em 1.0em; }
.bk-article .at-tag .t2 { display: inline-block; padding: 0.7em 1.0em; color: #888; }
.bk-article .at-tag .t2 a { color: #888; padding: 0 0.4em 0 0.3em;}
.bk-article h1 { font-size: 35px; font-size: 2.1875rem; line-height: 1.2; font-weight: 700; margin-bottom: 0.4em; }
.bk-article .at-date { width: 100%; clear: both; font-size: 0.813em; color: #888; margin-bottom: 1.250em; }
.bk-article .at-date:before, .bk-article .at-date:after { content: ""; display: table; }
.bk-article .at-date:after { clear: both; }
.bk-article .at-date .t1 { color: #555; font-weight: 600; margin-left: 5px; }
.bk-article .at-date .t1 em { color: #257594; font-style: normal; }

/*social button horizontal*/
.bk-article .at-share { width: 100%; clear: both; margin-bottom: 1.35em; }
.bk-article .at-share:before, .bk-article .at-share:after { content: ""; display: table; }
.bk-article .at-share:after { clear: both; }
.bk-article .at-share .btn { width: 40px; height: 40px; display: inline-block; text-align: center; color: #fff; }
.bk-article .at-share .num { float: left; border: #e5e5e5 1px solid; height: 40px; display: inline-block; padding:0px 15px; text-align: center; font-size: 1.2em; font-weight: 600; color: #0e223d; }
.bk-article .at-share .num em { font-style: normal; color: #888; text-transform: uppercase; font-size: 0.4em !important; display: block; clear: both; margin-top: -0.4em; }
.bk-article .at-share .sns { float: left; }
.bk-article .at-share .sns li { float: left; }
.bk-article .at-share .sns .ico { background: url(../images/ic-sns.jpg) no-repeat 0 0; width: 40px; height: 40px; display: inline-block; text-indent: -9999px; }
/*.ico2 {text-indent: -9999px;}*/
.bk-article .at-share .sns .ico:hover { opacity: 0.85; }
.bk-article .at-share .sns .fb { background-position: 0 0; }
.bk-article .at-share .sns .tw { background-position: -40px 0; }
.bk-article .at-share .sns .g { background-position: -80px 0; }
.bk-article .at-share .sns .in { background-position: -120px 0; }
.bk-article .at-share .sns .rd { background-position: -160px 0; }
.bk-article .at-share .sns .flip { background-position: -200px 0; }
.bk-article .at-share .sns .st { background-position: -240px 0; }
.bk-article .at-share .sns .f { background-position: -280px 0; }
.bk-article .at-share .sns .slash { background-position: -320px 0; }
.bk-article .at-share .sns .mail { background-position: -360px 0; }
.bk-article .at-share .sns .comt { background: #acb2b4; color: #fff; font-size: 0.85em; display: inline-block; height: 40px; padding: 8px 10px 0; text-align: center; }
.bk-article .at-share .sns .comt i { font-size: 1.8em; vertical-align: middle; }
.bk-article .at-share .sns .comt a { color: #fff; }

/*social button vertical*/
.bk-article .at-share-v { width:65px; position:fixed; top:282px; z-index:10000; margin-left:-73px;}
.bk-article .at-share-v:before, .bk-article .at-share-v:after { content: ""; display: table; }
.bk-article .at-share-v:after { clear: both; }
.bk-article .at-share-v .btn { width:65px; height:40px; display: inline-block; text-align: center; color: #fff; }
.bk-article .at-share-v .num { border: #e5e5e5 1px solid; height: 40px; display: inline-block; padding:0px 15px; text-align: center; font-size: 1.2em; font-weight: 600; color: #0e223d; }
.bk-article .at-share-v .num em { font-style: normal; color: #888; text-transform: uppercase; font-size: 0.4em !important; display: block; clear: both; margin-top: -0.4em; }
.bk-article .at-share-v .sns {}
.bk-article .at-share-v .sns li {}
.bk-article .at-share-v .sns .ico { background: url(../images/ic_sns_v.gif) no-repeat 0 0; width:65px; height: 40px; display: inline-block; text-indent: -9999px; }
.bk-article .at-share-v .sns .ico:hover { opacity: 0.85; }
.bk-article .at-share-v .sns .fb { background-position: 0 0; }
.bk-article .at-share-v .sns .tw { background-position: 0 -40px; }
.bk-article .at-share-v .sns .g { background-position: 0 -80px; }
.bk-article .at-share-v .sns .in { background-position: 0 -120px; }
.bk-article .at-share-v .sns .rd { background-position: 0 -160px; }
.bk-article .at-share-v .sns .flip { background-position: 0 -200px; }
.bk-article .at-share-v .sns .st { background-position: 0 -240px; }
.bk-article .at-share-v .sns .f { background-position: 0 -280px; }
.bk-article .at-share-v .sns .slash { background-position: 0 -320px; }
.bk-article .at-share-v .sns .mail { background-position: 0 -360px; }
.bk-article .at-share-v .sns .comt { background-position: 0 -400px; }

/*social button horizontal*/
.bk-article .at-share-h { width:100%;}
.bk-article .at-share-h:before, .bk-article .at-share-h:after { content: ""; display: table; }
.bk-article .at-share-h:after { clear: both; }
.bk-article .at-share-h .sns li {float:left}
.bk-article .at-share-h .sns .ico { background: url(../images/ic_sns_h.gif) no-repeat 0 0; width:40px; border-radius:100%; margin-right:3px; height:40px; display:inline-block; text-indent:-9999px}
.bk-article .at-share-h .sns .ico:hover { opacity: 0.8; }
.bk-article .at-share-h .sns .fb { background-position: 0 0; }
.bk-article .at-share-h .sns .tw { background-position: -40px 0; }
.bk-article .at-share-h .sns .g { background-position: -80px 0; }
.bk-article .at-share-h .sns .in { background-position: -120px 0; }
.bk-article .at-share-h .sns .rd { background-position: -160px 0; }
.bk-article .at-share-h .sns .flip { background-position: -200px 0; }
.bk-article .at-share-h .sns .st { background-position: -240px 0; }
.bk-article .at-share-h .sns .f { background-position: -280px 0; }
.bk-article .at-share-h .sns .slash { background-position: -320px 0; }
.bk-article .at-share-h .sns .mail { background-position: -360px 0; }
.bk-article .at-share-h .sns .comt { background-position: -400px 0; }

/*social button NEW*/
.at-sns-h { width:100%; overflow:hidden; height:44px; margin-bottom:15px;}
.at-sns-h:after { clear: both; }
.at-sns-h .bts_social li {float:left}

.at-sns-v { text-align:center; width:48px; position:fixed; top:20%; left:50%; margin-left:-670px; overflow:hidden; }
.at-sns-v .close, .at-sns-v .plus { color:#ffffff; line-height:23px; background:#0d2e5a; border-radius:100%; margin-top:2px; width:30px; height:30px; display:inline-block; padding-top:3px; cursor:pointer;}
.at-sns-v .plus .icon-plus, .at-sns-v .close .icon-cancel { font-size:23px;color:#ffffff;}

.bts_social .ico { background: url(http://assets.techtimes.com/static/common/_v0.0.1/images/social_desktop.gif) no-repeat 0 0; width:44px; border-radius:100%; border:#ffffff 2px solid; height:44px; display:inline-block; text-indent:-9999px}
.bts_social .ico:hover { opacity: 0.8; }
.bts_social .fb { background-position: 0 0;}
.bts_social .tw { background-position: -40px 0; }
.bts_social .g { background-position: -80px 0; }
.bts_social .in { background-position: -120px 0; }
.bts_social .rd { background-position: -160px 0; }
.bts_social .email { background-position: -200px 0; }
.bts_social .whats { background-position: -240px 0; }
.bts_social .stu { background-position: -280px 0; }
.bts_social .digg { background-position: -320px 0; }
.bts_social .comt { background-position: -360px 0; }

/*test social btn*/

.bk-article .at-share-v-fixed { width:65px; position:fixed; left:250px; top:170px; z-index:100;}
.bk-article .at-share-v-absolute {width:65px;position: absolute;left: -80px;top: 1000px;z-index:100;}

.bk-article .at-body {width: 100%; clear: both;}
.bk-article .at-body h1, .bk-article h1 strong {font-size:1.5em}
.bk-article .at-body h2, .bk-article h2 strong {font-size:1.2em}
.bk-article .at-photo { width: 320px; float: left; margin-right: 1.250em; margin-bottom: 1.250em; position: relative;}
.bk-article .at-photo .photo { position: relative; }
.bk-article .at-photo .photo img:hover {opacity:1 !important}
.bk-article .at-photo i { font-size: 1.6em; width: 1.8em; height: 1.8em; display: inline-block; position: absolute; bottom: 0; right: 0; z-index: 2; background: rgba(0, 0, 0, 0.3); color: #fff; text-align: center; line-height:1.95em; }
.bk-article .at-photo i:hover { cursor: pointer;}
.bk-article .caption { font-size: 0.813em; color: #888; margin-top: 0.8em; }
.bk-article p { font-size: 1.000em; line-height: 1.4em; color: #444; margin-bottom: 1.250em; }
.bk-article p a { color: #29aba5; }
.bk-article .at-related { width: 100%; clear: both; margin-bottom: 1.250em; }
.bk-article .at-related:before, .bk-article .at-related:after { content: ""; display: table; }
.bk-article .at-related:after { clear: both; }
.bk-article .at-related .sec-title2 i { border-color: #0e223d; }
.bk-article .at-related .sec-title2 h4 { color: #0e223d; }
.bk-article .at-related .list { width: 18%; float: left; margin-bottom: 0.938em; margin-right: 2%; }
.bk-article .at-related .list:last-child {margin-right: 0;}
.bk-article .at-related .list .photo { width: 100%; margin-bottom: 0.6em; }
.bk-article .at-related .list .t1 { color: #888; font-size: 0.750em; margin-top: 0.6em; }
.bk-article .at-copy { width: 100%; clear: both; font-size: 0.750em; margin-bottom: 1.250em; text-transform: uppercase; color: #888; }
.bk-article .at-copy:before, .bk-article .at-copy:after { content: ""; display: table; }
.bk-article .at-copy:after { clear: both; }
.bk-article .at-like { width: 100%; clear: both; margin-bottom: 1.875em; }
.bk-article .at-like:before, .bk-article .at-like:after { content: ""; display: table; }
.bk-article .at-like:after { clear: both; }
.bk-article .at-like a { width: 49%; color: #fff; text-align: center; text-transform: uppercase; font-weight: 600; font-size: 1.0em; padding: 0.6em 0; display: inline-block; }
.bk-article .at-like .like-fb { background: #3b5998; float: left; }
.bk-article .at-like .like-tw { background: #55acee; float: right; }

.bk-article p .imcredit{font-size: 1.000em;line-height: 1.4em;color: #444;}

.at-con { width: 100%; clear: both; margin-bottom: 1.875em; overflow: hidden; }
.at-con:before, .at-con:after { content: ""; display: table; }
.at-con:after { clear: both; }
.at-con .ttl { background: #626262; color: #fff; font-size: 1.125em; font-weight: 600; text-align: center; display: block; padding: 0.6em 0; margin-bottom: 0.625em; }

.at-comt { width: 100%; clear: both; margin-bottom: 1.250em; overflow: hidden; }
.at-comt:before, .at-comt:after { content: ""; display: table; }
.at-comt:after { clear: both; }

/* pokemon go */
.pmg-wrap { width: 100%; overflow: hidden; margin-top: -0.625em; }
.pmg-wrap:before, .pmg-wrap:after { content: ""; display: table; }
.pmg-wrap:after { clear: both; }
.pmg-wrap .pmg-top { width: 100%; height: 185px; background: #000 url(../images/pokemongo-bg.jpg)no-repeat center center; overflow: hidden; }
.pmg-wrap .pmg-top h1 {font-family: 'Open Sans Condensed', sans-serif; font-weight: 700; font-size: 3.438em; color: #fff; text-transform: uppercase; padding: 1.0em 0.5em 0; text-shadow: 0 0 2px #000;}
.pmg-body .container {padding: 1.875em 0;}
.pmg-body .caty {font-size: 0.875em; line-height: 1.1; font-weight: 600; padding: 0.625em 0 0.3em; color: #000;}
.pmg-body .caty em { text-transform: uppercase; color: #ff8502; font-style: normal; }
.pmg-body .title {font-size: 1.250em; line-height: 1.2; font-weight: 600;}
.pmg-body .hdline {width: 100%; overflow: hidden; clear: both;}
.pmg-body .hdline {width: 100%; overflow: hidden; clear: both; margin-bottom: 2.500em;}
.pmg-body .hdline .photo {width: 62.6%; float: left; margin-right: 2%;}
.pmg-body .hdline h2 {font-size: 2.000em; font-weight: 600;}
.pmg-body .grid-third { width: 100%; overflow: hidden; clear: both; }
.pmg-body .grid-third .list {width: 31.7%; float: left; margin-right: 2.43%; margin-bottom: 2.500em;}
.pmg-body .grid-third .list:nth-of-type(3n) {margin-right: 0;}
.pmg-body .grid-third .list:nth-of-type(3n+1) {clear: left;}
.pmg-body .grid-third .ttl { position: absolute; bottom: 0; left: 0; z-index: 2; width: 100%; padding: 5%; color: #fff; text-shadow: 1px 1px 0 #000; }
.pmg-body .grid-half { width: 100%; overflow: hidden; clear: both; }
.pmg-body .grid-half .list {width: 48.78%; float: left; margin-bottom: 2.500em;}
.pmg-body .grid-half .list:nth-of-type(2n) {float: right;}
.pmg-body .grid-popular {width: 100%; overflow: hidden; clear: both; margin-bottom: 2.500em;}
.pmg-body .grid-popular .ttl {width: 100%; overflow: hidden; clear: both; position: relative;  text-align: center;}
.pmg-body .grid-popular h4 {font-size: 1.875em; text-transform: uppercase; color: #243363;}
.pmg-body .grid-popular .num {position: absolute; top: 5px; right: 0; font-size: 0.875em; font-weight: 500;}
.pmg-body .grid-popular .slide {width: 100%; padding: 0 2%; overflow: hidden; clear: both; position: relative;}
.pmg-body .grid-popular .slide .arr {position: absolute; top: 20%; left: 0; z-index: 3; font-size: 2.0em; line-height: 1.6em; color: #243363; width: 1.8em; height: 1.8em; display: inline-block; text-align: center; border: #243363 5px solid; border-radius: 100%; -webkit-border-radius: 100%; -moz-border-radius: 100%; background: rgba(255,255,255,0.7);}
.pmg-body .grid-popular .slide .next {left: auto; right: 0;}
.pmg-body .grid-popular .slide .arr:hover {text-decoration: none;}
.pmg-body .grid-popular .slide li {width: 12.6%; margin: 1.0em 2%; float: left;}
.pmg-body .grid-popular .slide h3 {margin-top: 0.5em; font-size: 0.875em; font-weight: 500;}

/* aboutus */
.bk-aboutus { width: 100%; clear: both; }
.bk-aboutus:before, .bk-aboutus:after { content: ""; display: table; }
.bk-aboutus:after { clear: both; }
.bk-aboutus .top-img { width: 100%; clear: both; margin-bottom: 1.250em; }
.bk-aboutus .top-img:before, .bk-aboutus .top-img:after { content: ""; display: table; }
.bk-aboutus .top-img:after { clear: both; }
.bk-aboutus .grid-left { width:22%; float: left; }
.bk-aboutus .grid-left .menu li a { display:block; padding:0.8em 0 0.5em 0.8em; font-size:0.938em; font-weight:600; margin-bottom:1px }
.bk-aboutus .grid-left .menu li a:hover, .bk-aboutus .grid-left .menu li a.selected { background: #257594; color: #fff; }
.bk-aboutus .grid-right { width:75%; float: right; font-size: 0.875em; line-height: 1.5; color: #888; }
.bk-aboutus .grid-right .sec-title { border-top: none; border-bottom: #0e223d 5px solid; margin-bottom: 1.250em; text-transform: uppercase; }
.bk-aboutus .grid-right .photo { float: left; margin-right: 1.250em; margin-bottom: 1.250em; }
.bk-aboutus .grid-right .ttl { font-size: 1.5em; font-weight: 600; text-transform: uppercase; color: #257594; margin-bottom: 1.250em; }
.bk-aboutus .grid-right .sttl { font-size: 1.3em; font-weight: 600; color: #0e223d; }
.bk-aboutus .grid-right .txt { margin-bottom: 1.250em; }
.bk-aboutus .grid-right .txt a { color: #257594; }

.about-hd { width:100%; float:left; height:318px; position:relative}
.about-hd.img1 { background:#0a2b4e url(../images/about-hd-img1.jpg) center top no-repeat}
.about-hd.img2 { background:#0a2b4e url(../images/about-hd-img2.jpg) center top no-repeat}
.about-hd.img3 { background:#0a2b4e url(../images/about-hd-img3.jpg) center top no-repeat}
.about-hd.img4 { background:#0a2b4e url(../images/about-hd-img4.jpg) center top no-repeat}
.about-hd .bk-header { opacity:.9}
.about-left {width:22%; float:left; margin-top:25px}
.about-left a { display:block; text-decoration:none; border-bottom:#e5e5e5 1px solid; line-height:45px; font-size:18px; color:#646464; text-indent:14px;}
.about-left a:hover { color:#00a4e4;}
.about-left a.selected { color:#00a4e4; font-weight:700; background:url(../images/arrow-r-thin-gr.gif) right center no-repeat}
.about-right {width:73%; float:right; margin-top:25px}
.about-right h3 { font-size:32px; color:#003e5b; border-bottom:#003e5b solid 4px; padding-bottom:20px; margin-bottom:30px}
.about-right p { font-size:16px; line-height:23px; font-weight:400; color:#76777b; margin-bottom:20px;}
.about-right b { color:#000000; font-weight:400}
.about-right a { color:#00a4e4}
.about-right .division { border-bottom:#e5e5e5 solid 1px; margin:35px 0; clear:both}
.about-right h4 { font-size:23px; color:#00699a; margin-bottom:20px;}
.about-right p .f-bluegreen { color:#00699a;}
.about-right .list { clear:both; width:100%; float:left; margin-bottom:30px;}
.about-right .list ul { float:left; width:25%;}
.about-right .list ul li { line-height:25px; background:url(../images/dot-navy.gif) left center no-repeat; padding-left:13px}
.about-right .list2 { clear:both; width:100%; float:left; margin-bottom:30px;}
.about-right .list2 ul { float:left; width:33%;}
.about-right .list2 ul li { padding:0 0 25px 0;}



/* video thumbnails */
.vod-thumb {clear:both; position:relative; text-align:center; margin:0 0 30px 0}
.vod-thumb .btn { position:absolute; top:0; z-index:99; background:#0e223d; width:40px; height:82px; text-align:center; color:#ffffff; padding:33px 0 0 0; cursor:pointer}
.vod-thumb .btn.left { left:0;}
.vod-thumb .btn.right { right:0;}
.vod-thumb li { display:inline-block; width:123px; margin:0; text-align:left; font-size:13px; line-height:16px; position:relative}
.vod-thumb li a:hover { color:#8d9192}
.vod-thumb li img { margin:0 0 7px 0; height:82px}
.vod-thumb li .nowplaying {font-weight:600; position:absolute; top:57px; left:0; background:#2fdba8; text-align:center; font-size:12px; width:123px; line-height:25px;}

/* rss */
.rss_ttl { font-size: 1.125em; font-weight: 600; margin-bottom: 1.250em; clear: both; }
.rss_txt { font-size: 0.875em; color: #888; margin-bottom: 1.250em; }
.rss_list { width: 25%; float: left; margin-bottom: 1.250em; }
.rss_list li {padding: 0.2em 0; }
.rss_list a {color: #888;}
.rss_faq { clear: both; width: 100%; float: left; border-top: #eee 1px solid; padding: 1.0em 0; margin-top: 1.0em;}

/* promoted by */
.promoted-by.align-c {text-align:center; margin:5px 0 0 0; display: inline-block}
.promoted-by.align-r {text-align:right;}
.promoted-by.fixed {position:absolute; top:0; right:10px; z-index:100}
.promoted-by .p-blue { font-size:0.7rem; color:#0074d9; font-weight:600; display:block}
.promoted-by .p-logo { display:block;}
.p-jade { font-size:0.7rem; color:#2fdba8; font-weight:600}

/* sponsor intro */
.sponsor-intro { clear:both; width:100%; border-top:#dcdbdb 1px solid; border-bottom:#dcdbdb 1px solid; padding:1% 0; float:left; position:relative}
.sponsor-intro .logo { float:left; width:120px; margin:0 0 0 15px; }
.sponsor-intro .logo img {border-radius:100px; border:#dcdbdb 1px solid; width:101px; height:101px;}
.sponsor-intro h6 { display:inline-block; background:#e6f5ff; color:#0074d9; font-size:12px; margin:10px 0 10px 0; padding:4px 7px;}
.sponsor-intro h3 { font-size:1.2rem; line-height:1.25rem; color:#0e223d;}
.sponsor-intro h4 { font-size:0.875em; line-height:1.4em; color:#666666; margin-top:0.5em; font-weight:normal}
.sponsor-intro .twitter { position:absolute; top:13px; right:0; display:inline-block}

/* from our sponsor */
.fromoursponsor { clear:both; width:100%; float:left; margin-bottom:1.250em;}
.fromoursponsor img { float:left; margin-right:25px;}

/* sponsor label */
.sponsor-label { padding:10px 0 0 0;}
.sponsor-label img { float:left; margin-right:10px; border:#d4d4d4 1px solid}
.sponsor-label h6 { background:#ff6300; color:#ffffff; display:inline-block; letter-spacing:1px; padding:0 10px; height:23px; line-height:25px;}
.sponsor-label h4 { font-size:20px; color:#0e223d; padding-top:3px;}

/* review */
.review { clear:both; width:100%}
.review h4 {font-size:1.6em; font-weight:700; color:#0e223d; margin:0 0 10px 0}
.review .left { float:left; width:83%}
.review .right { float:right; width:15%;}
.review .percentage { width:100%; float:left; margin:0 0 10px 0}
.review .percentage .bar { float:left; width:95%;}
.review .percentage .bar h5 { color:#9a9a9a; font-size:13px;}
.review .percentage .bar .gray { width:100%; background:#e4e4e4; height:11px;}
.review .percentage .bar .jade { background:#4daaab; height:11px;}
.review .percentage .number { font-weight:700; float:right; width:5%; color:#0e223d; padding:10px 0 0 0; text-align:right}
.review .overall { color:#0e223d; margin:0 0 10px 0; text-align:center; margin:10px 0 0 0}
.review .overall h1 {font-size:3.0em; line-height:1.0em;}
.review .overall h3 {font-size:1.2em; line-height:0.8em; margin:0 0 12px 0}
.review .description { clear:both; background:#f3f3f3; width:100%;}
.review .description .arrow { background:#fff url(images/arrow_top_gray.gif) 5% 0 no-repeat; height:12px}
.review .description .text-wrap { padding:25px 15px 25px 23px}
.review .description p { color:#6f6f6f; font-size:14px;}
.review .description p .ttl {font-weight:700; color:#0e223d;}

.bk-article .at-share .num a.atc_s.addthis_button_compact{width:0px; height:0px;}
/*.addthis_button_expanded { display: none !important; }*/

.addthis_counter .addthis_button_expanded, .addthis_counter .atc_s {background:none !important; width: auto !important; height: auto !important;}
.addthis_counter .addthis_button_expanded { width:auto !important; height:auto !important; line-height:auto !important; padding-bottom:0px !important; margin-bottom:0px !important; text-align: center !important; font-size:100%; !important}

#iframe-stmblpn-widget-2{position: absolute !important;
  left: 50%;
  margin-left: -10px;
  top: 50%;
  margin-top: -10px;
  transform: scale(1.5);
  opacity: 0.001;}

  .bts_social .stu{position: relative;}

  #iframe-stmblpn-widget-1 {position: absolute !important;
    left: 50%;
    margin-left: -10px;
    top: 50%;
    margin-top: -10px;
    transform: scale(1.5);
    opacity: 0.001;}


@media screen and (max-width: 1280px) { .container { width: 1000px; }
  .bk-header .logo { margin-top: 2.9em; }
  .bk-header .logo img { width: 360px; }
  .bk-header .menu { margin-top: 4.3em; font-size: 0.95em; }
  .bk-header .menu a { margin: 0 0.5em; }
  .hd-fixed .logo { margin-top: 1.0em; }
  .hd-fixed .logo img { width: 235px; }
  .hd-fixed .menu { float: left; margin-top: 0; line-height: 3.05em;}
  .bk-header-tlounge .grid-2 .menu li a { font-size: 1.0em; padding: 1.9em 1.22em 1.1em; }
  .bk-tlounge .caty { font-size: 1.2em; }
  iframe {width: 100%!important;}
  .at-sns-v {top:20%; left:50%; margin-left:-555px;}
}