@media(min-width: 690px){
	.captcha {
		margin-left: 195px;
	}
}
@media(max-width: 960px){
	body { margin-top: 80px; }
}
@media (max-width: 1920px){

	.webmedia .content .wrapper{
		width:1024px;
		margin:0 auto;
	}
	.webmedia .content .wrapper .category_content{
		width:70%;
		float:left;
		padding:20px;
	}
	
	.webmedia .content .wrapper .ads-web{
		width:30%;
		float:right;
	}
	.webmedia .content .topoBanner{
		display:none;
	}
}
@media (max-width: 1240px){	

.webmedia .content .wrapper{
		width:1024px;
		margin:0 auto;
	}
		.webmedia .content .wrapper .category_content{
		width:60%;
		float:left;
		padding:20px;
	}
	
	.webmedia .content .wrapper .ads-web{
		width:40%;
		float:right;
	}
	
	.webmedia .banner-top { left: 1%; }
	
	nav div .btn-close-nav i { background: none; }
	header .logo{margin-left: 32px;}
	header ul li{font-size: 40px;}
	header ul li a{line-height: 1.2;}
	header ul li:first-child a span{left: -30px;}
	header ul li a span{
		top: 40px;
		left: -26px;
	}
	.info-parc a h1{font-size: 28px;}
	.info-parc a h2{font-size: 22px;}
	.info-parc a{font-size: 14px; padding-left: 30px;}
	.info-parc a p{line-height: 1.4;}
	footer{
		border-bottom: 1px solid #CCCCCC;
		bottom: auto;
		height: auto;
	}
	footer .copy{
		display: none;
	}	
	footer .info { padding-right: 80px; }
	footer .info div {
			background-position: -11px -53px;
			height: 50px;
			top: 0;
			width: 63px;
	}
	#resbarrauol-header.resbarrauol-toolbar {
		top: -80px;
	}
	/*footer .copy p{
		text-align: center;
		float: none;
		clear: left;
		padding-left: 0;
		margin-left: 0;
	}*/
	.info-parc{
		width: 100%;
		bottom: 140px;
	}
	.info-parc a{padding-left: 30px;}
	.webmedia .top .title{font-size: 25px; width: 65%; padding-left: 30px;}
	.webmedia .top .categoria{font-size: 25px; width: 35%;}
	.webmedia .top .categoria div{width: 35%;}
	.webmedia .content{padding-left: 30px;}
	.shopping{
		padding-left: 30px;
		margin-bottom: 120px;
	}
	.quem-somos .wrap-text{width: 60%;}
}


@media (max-width: 1080px){

	.webmedia .content .wrapper{
		width:900px;
		margin:0 auto;
	}
	.ads-1{display: block;}
	.webmedia .top .title{font-size: 20px; width: 60%;}
	.webmedia .top .categoria{font-size: 20px; width: 40%;}
	.webmedia .top .categoria div{width: 40%;}
	#resbarrauol-header.resbarrauol-toolbar {top: -50px;}
	
	footer form[name="search"] { float: right; margin-right: 1%; }
	
	.webmedia a.partner { display: none; }
}

@media (max-width: 930px){
	.webmedia .content .wrapper{
		width:700px;
		margin:0 auto;
	}
	header ul li{font-size: 30px;}
	header ul li a{line-height: 1.4; padding-right: 30px;}
	header ul li:first-child a span{left: -30px;}
	header ul li a span{font-size: 0.38em; top: 27px; left: -14px;}
	header ul li:first-child a span{
		left: -26px;
		top: 33px;
	}
	.footer .info p {}
	.webmedia .top .title{font-size: 16px; width: 55%;}
	.webmedia .top .categoria{font-size: 16px; width: 45%;}
	.webmedia .top .categoria div{width: 45%;}
	.webmedia .top .categoria div ul li{width: 50%;}
	.webmedia .content ul li a h2{font-size: 16px;}
	.webmedia .partner {width: 45%;}
	.webmedia .partner h3 {font-size: 16px;}
	.quem-somos .wrap-text{width: 70%;}/*
	.barrauol-bg #barrauol2011.buol2011 { width: auto !important; }
	.barrauol-bg #barrauol2011.buol2011 ul li.barracanal { display: none; }*/
	#resbarrauol-header.resbarrauol-toolbar {
		top: -80px;
	}

	/*Barra de Busca*/

	footer form {
		clear: both;
		height: 0;
		line-height: 27px;
		width: 100%;
	}
	footer form[name="search"] { float: none; margin-right: 0; }
	
	.search-area {
		width: 100%;
	}
	.search-bt {
		top: 5px;
	}
}
@media (max-width: 760px){
	
	.webmedia .content .wrapper{
		width:640px;
		margin:0 auto;
	}
	.webmedia .content .wrapper .category_content{
		width:53%;
		float:left;
		padding:20px;
	}
	
	.webmedia .content .wrapper .ads-web{
		width:45%;
		float:right;
	}
	header .logo{
		float: none;
		margin: 20px auto;
		display: inline-block;
	}
	header ul{float: none;}
	header ul li{font-size: 30px; width: 33.3333%; margin-right: 0; padding-left: 3px;}
	header ul li:first-child{padding-left: 0;}
	.info-parc{
		float: none;
		position: relative;
		top: 10px;
		width: 100%;
	}
	.info-parc a{font-size: 12px; padding: 20px;}
	.info-parc a h1{font-size: 20px;}
	.info-parc a h2{font-size: 16px;}
	.info-parc a p{line-height: 1.4;}
	.webmedia{padding-top: 20px;}
	.webmedia .top { margin-top: 80px; }
	.webmedia .top .title{font-size: 16px; width: 100%; text-align: center;}
	.webmedia .top .categoria{font-size: 16px; width: 100%;padding-left: 0; padding-top: 1px;}
	.webmedia .top .categoria div{position: relative; width: 100%; top: 1px; padding-left: 0;}
	.webmedia .top .categoria div ul li{width: 33.33%;}
	.webmedia .content {padding-left: 20px;}
	.webmedia .content ul{margin-right: 20px;}
	.quem-somos .content{padding: 20px;}
	.quem-somos .wrap-text{width: 100%; font-size: 13px;}
}


@media (max-width: 690px){
	.webmedia .content .wrapper{
		width:650px;
		margin:0 auto;
	}
	.webmedia .content .wrapper .category_content{
		width:80%;
		float:left;
		padding:20px;
	}
	
	.webmedia .content .wrapper .ads-web{
		width:66%;
		float:left;
		padding-left:10px;
	}
	.btn-close {
		margin: 0 97px;
	}
	.form-default {width: 320px;}
	.form-default .content-form{
		width: 320px;
		padding: 0 10px;
	}
	.form-default .content-form h3{
		font-size: 24px;
	}
	.form-default .content-form p{
		font-size: 15px;
	}
	.form-default .content-form .arrow-form{
		margin-bottom: 10px;
	}
	.form-default .content-form .line{
		height: 54px;
		margin-bottom: 10px;
		width: 300px;
	}
	.form-default .content-form .line label{
		text-align: left;
		line-height: 22px;
		width: auto;
	}
	.form-default .content-form .line input[type='text'], .form-default .content-form .line input[type='password'], .form-default .content-form .line select, .form-default .content-form .line textarea {
		margin: 0;
		max-width: none;
		width: 100%;
	}
	.form-default .content-form .captcha{
		margin-bottom: 5px;
		width: 300px;
	}
	.form-default .content-form form .btn-default{
		margin: 20px 0 50px;
		width: 300px;
	}
	.form-login .bottom-login .wrap-btns{
		width: 300px;
		padding-top: 15px;
		font-size: 35px;
	}
	.form-login .bottom-login .wrap-btns a{
		display: block;
		margin-bottom: 10px;
		width: 300px;
	}
	/*CAPTCHA FORCE*/
	.captcha #recaptcha_area, .captcha #recaptcha_table {
		width: 300px !important;
	}
	.captcha .recaptchatable .recaptcha_r1_c1 {
		background-position: -9px -63px;
	}
	.form-default .content-form .captcha-input{
		margin-bottom: 25px;
	}
	/**/

	.clearfix .login {
		background: url('../img/sprite.png') no-repeat scroll -552px 10px rgba(0, 0, 0, 0.75);
		line-height: 40px;
		padding-right: 10px;
		text-align: right;
		top: 91px;
		width: 80px;
		margin: 0;
		right: 0;
		position: absolute;
	}
	.clearfix .login:hover { background: url('../img/sprite.png') no-repeat scroll -458px 10px rgba(255, 255, 255, 0.9); }

	header .logo {
		display: inline-block;
		margin: 0 0 10px 10px;
		position: relative;
		top: 10px;
	}
	.webmedia .partner {
		padding: 0 0 2px;
		position: relative;
		top: 0;
		width: 100%;
	}
	.webmedia .partner h3 {
		font-size: 14px;
	}
}

@media (max-width: 600px){
	.webmedia .content .wrapper{
		width:550px;
		margin:0 auto;
	}
	
	.clearfix .login {
		background: url('../img/sprite.png') no-repeat scroll -552px 10px rgba(0, 0, 0, 0.75);
		line-height: 40px;
		padding-right: 10px;
		float: right;
		text-align: right;
		top: 123px;
		width: 80px;
		margin: 0;
		position: absolute;
	}
		.webmedia .content .ads-web .hideMobile{
		display: none;
	}
	.webmedia .content .topoBanner{
		display:block;
	}
	.webmedia .content .topoBanner .ads_topo{
		float: left;
	}
}

@media (max-width: 570px){
.webmedia .content .wrapper{
		width:550px;
		margin:0 auto;
	}
	
	footer{
		font-size: 9px;
	}
	.webmedia .top .categoria div ul li{width: 50%;}
	.shopping{margin-bottom: 90px;}
}

@media (max-width: 500px){
	.webmedia .content .wrapper{
		width:450px;
		margin:0 auto;
	}
	
	header .logo{
		background: transparent url('../img/sprite-logo-mobile.png') left center no-repeat;
		width: 115px;
		height: 44px;
	}
	header .logo-2{background-position: left -44px;}
	header .logo-3{background-position: left -88px;}
	header ul li{font-size: 20px;}
	header ul li a{line-height: 1.4; height: 78px; padding-top: 12px;}
	header ul li:first-child a, header ul li:last-child a{padding: 12px 0 0 20px;}
	header ul li a span{
		font-size: .55em;
		left: -15px;
		top: 33px;
	}

	.webmedia .top .title{font-size: 16px;}
	.webmedia .top .categoria{font-size: 16px;}

	nav div .btn-close-nav i { background: url('../img/sprite.png') no-repeat scroll -10px -62px rgba(0, 0, 0, 0);}
	nav div ul {
		margin-top: 15px;
		font-size: 14px;
	}
	nav ul a { line-height: 25px; }
	.webmedia .top .categoria div ul{
		height: 200px;
		overflow-y: auto;
		overflow-x: hidden;
	}
	.webmedia .top .categoria div {
		margin-right: 20px;
	}
	.webmedia .top .categoria div ul li{width: 100%;}
	.webmedia .content {padding: 15px;}
	.webmedia .content ul{margin-right: 15px;}
	.quem-somos .content{padding: 15px;}

	footer {
		background-position: -300px -48px;
	}
	footer .btn-nav{
		background: #fff;
		/*border-top: 1px solid #ccc;*/
		position: absolute;
		top: 0px;
	}
	footer .info {
		float: none;
		height: 50px;
		line-height: 15px;
		padding: 18px 12px 0 140px;
		text-align: right;
		width: 100%;
	}
	footer .info div{display: none;}
	footer .copy p span{display: block; line-height: 18px; padding-bottom: 10px;}
	footer .copy p b{display: none;}

	
}

@media (max-width: 400px){
	.webmedia .content .wrapper{
		width:350px;
		margin:0 auto;
	}
	
	.webmedia .top .title{
		line-height: 20px;
		font-size: 18px;
		padding: 10px 0;
	}
	.webmedia .top .title p span{
		display: block;
	}
	.subtitlewebmedia {
		font-size: 18px;
	}

	.barrauol-bg #barrauol2011.buol2011 ul li.busca { display: none; }

	footer .info { padding: 10px 12px 0 140px; }
	footer .info p {
		font-size: 12px;
	}

}
@media (max-width: 321px){
	.webmedia .content .wrapper{
		width:300px;
		margin:0 auto;
	}
	
	.webmedia .content .ads-web{
		margin: 10px;
	}
	.webmedia .content{
		background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
		margin-bottom: 4px;
		overflow: auto;
		padding: 20px 0 20px 20px;
		width: 100%;
		position: relative;
	}
	
}
