/* --- Resets --- */
*{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html{font-size: 100%;}
body{
	font-family: Arial,sans-serif;
	margin-top: 0;
}
a{outline: 0; color: #fff; text-decoration: none;}
a:hover{text-decoration: none;}
ul{list-style: none;}
fieldset{border: none;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	fieldset
	{
		padding-bottom:1px;
	}
}
textarea{resize: none;}

/* --- Uteis --- */
.hide{
	display: none;
}


/* --- Fontface---*/


/* --- Clearfix --- */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

/* --- Full BG --- */

.fullBg {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: inherit;
}

/* --- HEADER --- */

header .logo{
	display: inline-block;
	float: left;
	width: 213px;
	height: 81px;
	position: relative;
	background: transparent url('../img/sprite-logo.png') 0 -80px no-repeat;
	text-indent: -5555px;
	overflow: hidden;
	margin: 20px 0 0 62px;
}

header .logo-2{
	background: transparent url('../img/sprite-logo.png') left -81px no-repeat;
}

header .logo-3{
	background: transparent url('../img/sprite-logo.png') left -162px no-repeat;
}

.btn-top{
	background: url("../img/sprite.png") no-repeat scroll 44px 26px rgba(0, 0, 0, 0);
	width: 105px;
	height: 40px;
	font-size: 16px;
	line-height: 28px;
	text-align: center;
	position: relative;
	font-family: 'Fredoka One', cursive;
	margin: 0 auto;
}

.btn-top:hover{
	background-image: url("../img/sprite.png");
	background-position: -90px 26px;
}

.btn-default{
	background-color: rgba(0,0,0, 0.75);
	color: #fff;
	display: block;
}

.btn-default:hover{
	background-color: rgba(255,255,255, 0.9);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
	color: #000;
	text-shadow: none !important;
}

.btn-close {
	background-image: url("../img/sprite.png");
	background-position: -245px 10px;
	line-height: 38px;
	margin: 0 293px;
	padding-left: 20px;
	position: fixed;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
}
.btn-close:hover{
	background-position: -354px 10px;
}

header ul{
	float: right;
	margin-top: 10px;
	position: relative;
}

header ul li{
	float: left;
	float: left;
	margin-right: 5px;
	font-size: 47px;
}

header ul li a{
	font-size: 1em;
	line-height: 1.2em;
	font-family: 'Fredoka One', cursive;
	text-transform: uppercase;
	padding: 0 60px 0 10px;
	text-shadow: 2px 2px 3px rgba(0,0,0, .75);
	position: relative;
}

header ul li a:hover{
	background: rgba(255,255,255, .75);
	color: #000;
}

header ul li a span{
	display: block;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
	display: block;
	font-size: 0.32em;
	left: -22px;
	line-height: 1.2em;
	position: absolute;
	text-align: right;
	text-transform: capitalize;
	top: 34px;
}

header ul li:first-child a span{
	left: -36px;
	top: 48px;
}

header ul li:last-child{margin-right: 0;}
header ul li:last-child a, header ul li:first-child a{padding-left: 22px;}

/* --- BOX PARCEIROS --- */

.info-parc{
	width: 46%;
	position: absolute;
	bottom: 110px;
	word-wrap: break-word;
}

.info-parc a{
	padding: 20px 20px 20px 70px;
	font-size: 16px;
}

.info-parc a h1{
	font-size: 32px;
	font-family: 'Fredoka One', cursive;
	font-weight: normal;
	margin-bottom: 10px;
}

.info-parc a h2{
	font-size: 25px;
	font-family: 'Fredoka One', cursive;
	font-weight: normal;
}

.info-parc .wrap-text{
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
	display: block;
}

/* --- ADS --- */

.ads{
	margin-top: 30px;
	float: right;
	/*margin-bottom: 70px;*/
}
.ads p{
	text-transform: uppercase;
	font-size: 8px;
	color: #fff;
	text-align: right;
}

.ads p span{
	background: #000;
	padding: 0 3px;
}

/* --- ADS-1 --- */

.ads-1{
	margin-top: 30px;
	float: right;
	margin-bottom: 70px;
	display: none;
}
.ads-1 p{
	text-transform: uppercase;
	font-size: 8px;
	color: #fff;
	text-align: right;
}

.ads-1 p span{
	background: #000;
	padding: 0 3px;
}

.ads-1 .banner{
	width: 120px;
	height: 290px;
	background: #ccc;
	text-align: center;
	line-height: 290px;
}

/* --- FOOTER --- */

footer{
	border-bottom: 1px solid #CCCCCC;
	bottom: auto;
	height: auto;
	top: 44px;
	/*height: 50px;*/
	box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.15);
	position: absolute;
	background: url("../img/sprite.png") no-repeat scroll -290px -48px #FFFFFF;
	/*bottom: 0;*/
	width: 100%;
	font-size: 10px;
	line-height: 50px;
}

footer .btn-nav{
	display: block;
	height: 50px;
	width: 50px;
	float: left;
	padding: 10px;
	border-right: 1px solid #ccc;
}

.hot-dog span{
	background: #ff5e00;
	border-radius: 5px;
	margin-bottom: 3px;
	display: block;
	height: 8px;
}

footer .btn-nav .tooltip{
	position: absolute;
	background: rgba(0,0,0, .75);
	padding: 0 4px;
	font-family: 'Fredoka One', cursive;
	font-size: 13px;
	top: -34px;
	line-height: 22px;
	border: 1px solid #000;
	display: none;
}

footer .btn-nav .tooltip:before{
	display: block;
	position: absolute;
	border-width: 5px;
	border-color: rgba(0,0,0, .75) transparent transparent transparent;
	border-style: solid;
	content: "";
	top: 22px;
	left: 15px;
}

footer .btn-nav:hover .tooltip{
	/*display: block;*/
}

.copy{
	text-transform: uppercase;
}

.copy p{
	float: left;
	margin-left: 20px;
	padding-left: 50px;
}
.copy p a{
	color: #ff5e00;
}

.copy p a img{
	vertical-align: middle;
	margin-right: 20px;
}

.copy p a:hover{
	color: inherit;
}

footer .info{
	float: right;
	position: relative;
	padding-right: 80px;
	/*padding-right: 120px;*/
}
footer .info div{
	position: absolute;
	width: 63px;
	/*width: 99px;*/
	height: 50px;
	/*height: 77px;*/
	right: 0;
	top: 0px;
	/*top: -27px;*/
	background: url("../img/sprite.png") no-repeat scroll -11px -53px rgba(0, 0, 0, 0);
	/*background: url("../img/sprite.png") no-repeat scroll -81px -27px rgba(0, 0, 0, 0);*/
}

footer .info p{
	font-family: 'Fredoka One', cursive;
	font-size: 13px;
	color: #ff7701;
}

/* --- MENU OVERLAY NAVEGACAO --- */

nav{
	/*background: rgba(255,255,255, .85);*/
	position: fixed;
	height: 100%;
	transition: all 0.5s ease 0s;
	top: 0;
	width: 0;
	bottom: 0;
	z-index: 990;
}

nav:before{
	content: '';
	background: #fff;
	width: 320px;
	bottom: 0;
	top: 0;
	transition: all 0.3s ease 0s;
	left: -320px;
	position: fixed;
	z-index: 990;
}

nav div{
	width: 320px;
	left: -320px;
	overflow: hidden;
	transition: all 0.3s ease 0s;
	z-index: 1000;
	position: relative;
}

nav div .btn-close-nav{
	display: block;
	position: relative;
	height: 50px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
	background: url("../img/sprite.png") no-repeat scroll -320px -50px rgba(0, 0, 0, 0);
}

nav .btn-close-nav .hot-dog{
	width: 50px;
	padding: 10px;
	margin-left: -20px;
}

nav div .btn-close-nav i{
	position: absolute;
	width: 64px;
	height: 42px;
	display: block;
	bottom: 0;
	right: 0;
	background: url("../img/sprite.png") no-repeat scroll -10px -62px rgba(0, 0, 0, 0);
}

nav div ul{
	margin-top: 35px;
	font-family: 'Fredoka One', cursive;
	font-size: 16px;
	position: relative;
	width: auto;
	padding: 0 35px;
}

nav.open{
	width: 100%;
}

nav.open:before{
	left: 0;
	box-shadow: 1px 1px 20px #000000;
}

nav.open div{
	width: 320px;
	left: 0;
}

nav ul a{color: #000; line-height: 33px; display: block;}

nav ul a:hover{color: #ff7701;}


.overlay{
	background: rgba(255,255,255, .85);
	position: fixed;
	height: 100%;
	transition: all 0.5s ease 0s;
	top: 0;
	width: 100%;
	bottom: 0;
	z-index: 980;
	text-align: center;
}

/* --- FORM DEFAULT --- */

.form-default{
	position: relative;
	text-align: center;
	z-index: 990;
	height: 100%;
	width: 690px;
	margin: 0 auto;
}

.form-default .content-form {
	background: none repeat scroll 0 0 #FFFFFF;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.35);
	margin: 0 auto;
	position: relative;
	width: 690px;
}

.form-login .form-default .content-form {
	height: auto;
}

.form-default .content-form h3{
	font-size: 32px;
	font-family: 'Fredoka One', cursive;
	font-weight: normal;
	margin-bottom: 10px;
	padding-top: 60px;
}

.form-default .content-form p{
	font-size: 19px;
}

.form-default .content-form .arrow-form{
	margin: 10px 0 20px;
}

.form-default .content-form .line{
	clear: both;
	margin-bottom: 15px;
	/*height: 34px;*/
}

.form-default .content-form .line label{
	display: block;
	float: left;
	line-height: 34px;
	width: 195px;
	padding-right: 15px;
	font-family: 'Fredoka One', cursive;
	font-size: 15px;
	text-align: right;
}

.form-default .content-form .line input[type="text"], .form-default .content-form .line input[type="password"], .form-default .content-form .line select, .form-default .content-form .line textarea {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #ACAEAF;
	font-size: 15px;
	margin-right: 177px;
	max-width: 318px;
	padding: 6px 8px;
	width: 318px;
}

.form-default .content-form .line span{
	color: #f00;
	font-size: 75%;
	text-align: left;
}


.form-default .content-form .captcha{
	margin-bottom: 15px;
}

.form-default .content-form .recaptchav2{
    width: 305px;
    margin: 4% auto;
    padding-left: 1.5%;
}

.form-default .content-form .captcha-input{
	height: 68px;
	margin: 0 auto 30px;
	position: relative;
	width: 300px;
}

.form-default .content-form .captcha-input label{
	text-align: center;
	width: 300px;
}

.form-default .content-form .captcha-input label{
	float: none;
}

.form-default .content-form form p{
	font-family: 'Fredoka One', cursive;
	font-size: 12px;
}

.form-default .content-form form p a{
	color: #000;
	text-decoration: underline;
}

.form-default .content-form form p a:hover{
	color: #ff5e00;
}

.form-default .content-form form .btn-default {
	border: 1px solid #ACAEAF;
	font-family: 'Fredoka One',cursive;
	font-size: 26px;
	height: 55px;
	margin: 25px 177px 50px 195px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
	width: 318px;
	cursor: pointer;
}

.form-login form{padding-top: 70px;}

.form-login .bottom-login {
	background: url("../img/bg-bottom-login.png") repeat-x scroll left top rgba(0, 0, 0, 0);
	padding: 30px 0;
	position: relative;
	text-align: center;
	z-index: 990;
}

.form-login .bottom-login h4{
	font-family: 'Fredoka One', cursive;
	font-size: 20px;
	font-weight: normal;
}

.form-login .bottom-login .wrap-btns{
	width: 700px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Fredoka One', cursive;
	text-transform: uppercase;
	font-size: 42px;
	padding-top: 30px;
}
.form-login .bottom-login .wrap-btns a{
	display: inline-block;
	border: 1px solid #ACAEAF;
	padding: 13px;
	text-shadow: 2px 2px 3px rgba(0,0,0, .75);
}

.form-login, .form-html, .form-blog, .form-contato, .form-senha{
	position: absolute;
	width: 100%;
	top: 0;
	display: none;
}

.form-login.open, .form-html.open, .form-blog.open, .form-contato.open, .form-senha.open{
	display: block;
	height: 100%;
}

.form-login .overlay, .form-html .overlay, .form-blog .overlay, .form-senha .overlay{
	height: 0;
	overflow: hidden;
	transition: all 0.3s ease 0s;
}

.form-login.open .overlay, .form-html.open .overlay, .form-blog.open .overlay, .form-senha.open .overlay{
	height: 100%;
	transition: all 0.3s ease 0s;
}

/* --- WEBMEDIA --- */

.webmedia{
	padding-top: 113px;
	position: relative;
}

.webmedia .banner-top { position: absolute; top: 62px; left: 6%; }

.webmedia .top{
	color: #FFFFFF;
	height: 65px;
	padding-bottom: 2px;
	line-height: 62px;
	position: relative;
	margin-top: 51px;
}

.webmedia .top .title{
	float: left;
	font-family: 'Fredoka One', cursive;
	width: 70%;
	padding-left: 70px;
	font-size: 32px;
	background-color: rgba(0, 0, 0, 0.75);
}
.webmedia .top .categoria{
	width: 30%;
	padding-left: 4px;
	float: left;
	text-align: center;
	font-size: 32px;
	font-family: 'Fredoka One', cursive;
}

.webmedia .top .categoria a{
	background-image: url("../img/arrow-btn-top.png");
	background-position: center 48px;
	background-repeat: no-repeat;
}

.webmedia .top .categoria div{
	display: none;
	position: absolute;
	right: 0;
	padding-left: 4px;
	width: 30%;
	top: 62px;
	z-index: 9999;
}

.webmedia .top .categoria ul{
	font-size: 13px;
	padding: 10px 0 20px 4px;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
	text-align: left;
	font-family: Arial,sans-serif;
}

.webmedia .top .categoria:hover div{
	display: block;
}

.webmedia .top .categoria ul li{
	float: left;
	line-height: 20px;
	width: 33.33%;
}

.webmedia .top .categoria ul li a{
	display: block;
	padding: 5px 10px;
}

.webmedia .top .categoria ul li a:hover{color: #ff7701;}

.webmedia .content{
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
	margin-bottom: 4px;
	overflow: auto;
	padding: 20px 0 20px 70px;
	width: 100%;
	position: relative;
}


.webmedia .content .ads-web .ads{
	margin: 0;
}

.webmedia .content ul{
	padding-right: 30px;
	/* height: 500px; */
	overflow-x: none;
	overflow-y: auto;
}

.webmedia .content ul li{
	padding: 20px 0 0 0;
	width: 80%;
}

.webmedia .content ul li a{
	color: #000;
}

.webmedia .content ul li a:hover{
	color: #ff7701;
}

.webmedia .content ul li a h2{
	font-size: 18px;
}

.webmedia .content ul li a h3{
	font-size: 12px;
}

.webmedia .partner {
	color: #ffffff;
	display: block;
	font-family: 'Fredoka One',cursive;
	font-weight: normal;
	padding-left: 4px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 54px;
	width: 30%;
}

.webmedia .partner h3 {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 42px;
}

.webmedia .partner h3:hover {
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
	color: #000000;
	text-shadow: none !important;
}


.shopping{
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.75);
	overflow: hidden;
	margin-bottom: 70px;
	position: relative;
	text-align: center;
}
.shopping p{
	font-size: 20px;
	font-family: 'Fredoka One', cursive;
	color: #fff;
}

.shopping ul{
	margin-top: 10px;
	height: 125px;
	width: 2000px;
	overflow: hidden;
}
.shopping ul li{
	float: left;
	margin-left: 10px;
}
.shopping ul li:first-child{
	margin-left: 0;
}

/* --- CORPORATE --- */

.corporate .title{
	width: 100% !important;
}
.corporate .wrap-text{
	/*width: 55%;*/
	font-size: 15px;
	/*float: left;*/
	/* height: 500px; */
	overflow: hidden;
}
.corporate .wrap-text p{
	margin-bottom: 10px;
}
#barrauol2011.buol2011 { height: auto !important; }

.corporate .content ul { height: auto; }

.corporate ul li {
	list-style: disc outside none;
	margin: 10px 14px 0;
	padding: 0 !important;
}

.corporate strong { font-size: 1.3em; }

.mini-text {
	font-size: 10px;
	margin-right: 177px;
	text-align: right;
}

.banner { border: 1px solid #CCCCCC; }

.banner:first-of-type { margin-bottom: 10px; }

.s300x250 {
	width: 302px;
	height: 252px ;
	margin-bottom:10px;
}

.s300x600 {
	width: 302px;
	height: 602px ;
}

#recaptcha_widget {}

.wrap-text a { color: #FF7701; }

.search-area {
	margin: 0 auto;
	position: relative;
	width: 250px;
}
.search {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.07) inset;
	box-sizing: border-box;
	color: #FF7701;
	font-family: arial;
	font-size: 13px;
	font-weight: bold;
	margin: 0;
	outline: medium none;
	padding: 6px 30px 6px 9px;
	position: relative;
	width: 100%;
	z-index: 670;
}
.search-bt {
	background: url("../img/sprite.png") no-repeat scroll -721px 0 rgba(0, 0, 0, 0);
	border: medium none;
	color: rgba(0, 0, 0, 0);
	cursor: pointer;
	display: inline-block;
	font: 0px/0 serif;
	height: 21px;
	position: absolute;
	right: 6px;
	text-shadow: none;
	top: 14px;
	width: 21px;
	z-index: 671;
}
.search-bt:hover{
	background: url("../img/sprite.png") no-repeat scroll -656px 0 rgba(0, 0, 0, 0)
}
.gsc-search-button, .gsc-search-button:hover, .gsc-search-button:focus, .gsc-inline-block {
	box-sizing: content-box;
}
.gsc-control-cse .gsc-option-selector {
	border-color: #909090 rgba(0, 0, 0, 0) !important;
	border-style: solid !important;
	border-width: 4px 4px 0 !important;
	height: 0 !important;
	margin-left: -2px !important;
	margin-top: -2px !important;
	padding: 0 !important;
	position: absolute !important;
	right: 10px !important;
	top: 50% !important;
	width: 0 !important;
}

.subtitlewebmedia {
	font-family: 'Fredoka One',cursive;
	font-size: 22px;
}

#resbarrauol-header.resbarrauol-toolbar {
	top: -50px;
}

.img-responsive{
	display:block;
	max-width:100%;
	height:auto; 
	margin-bottom:20px;
}
.content .category_content{
		float:left;
		
	}
	
	.youtubeWrapper, .vimeoWrapper, .instagramWrapper {
    position: relative;
    padding-top: 30px; height: 0; overflow: hidden;
}


.youtubeWrapper, .vimeoWrapper {
    padding-bottom: 56.25%;      
}

.instagramWrapper {
  padding-bottom: 120%;
}
    
  
.youtubeWrapper iframe,
.youtubeWrapper object,
.youtubeWrapper embed,
.vimeoWrapper iframe,
.vimeoWrapper object,
.vimeoWrapper embed,
.instagramWrapper iframe,
.instagramWrapper object,
.instagramWrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.webmedia img {
	display: block;
	max-width: 100%;
	height: auto;
}
.webmedia .content p, .webmedia .content h3 {
	font-family: inherit;
	line-height: 1.2;
	margin-bottom:1em;
	text-rendering: optimizeLegibility
}
.webmedia .content .wrapper .category_content a{
		color: #000000;
}
.webmedia .content .wrapper .category_content a:link {
	color: #000000;
}
