@charset 'utf-8';

/* ------------------------------------------------------------
 * Name      : default.css
 * Created   : 2014/04/23 HYJ
 ------------------------------------------------------------ */
*{margin:0;padding:0;}
html{width:100%;height:100%;overflow-y:scroll;}
body{width:100%;height:100%;font-family:'굴림',gulim,Sans-serif;font-size:12px;line-height:18px;color:#333;}
h1,h2,h3,h4,h5,h6{font-size:12px;text-align:left;}
img,fieldset,iframe{vertical-align:top;border:0 none;}
ol,ul,li{list-style:none;}
em,address{font-style:normal;}
hr,legend,caption{display:none;}
input,select,textarea{vertical-align:middle;}
em,address{font-style:normal;}
label{cursor:pointer;vertical-align:middle;}
table{width:100%;border-collapse:collapse;}
a:link{text-decoration:none;color:#333;}
a:visited{text-decoration:none;color:#333;}
a:active{text-decoration:none;color:#333;}
a:hover{text-decoration:underline;color:#333;}
select,input,textarea{font-family:Dotum,Gulim,AppleGothic,Sans-serif;font-size:12px;color:#333;}
ul,li{*zoom:1;}
ul:after,li:after{display:block;clear:both;content:'';}
.clear{display:block;clear:both;position:relative;}
.clear:after{display:block;clear:both;content:'';}
.fleft{float:left;}
.fright{float:right;}
.cursor{cursor:pointer;}
.no_cursor,.cursor_no{cursor:default;}
.hidden{position:absolute;width:0;height:0;overflow:hidden;font-size:0;}

/* 차지하는 공간과 컨텐츠를 안보이게 함 */
.space{visibility:hidden;}

/* 차지하는 공간은 보이지만 컨텐츠는 보이지 않음 */
.none,.access,.accessibility{display:none;}
.v-hidden{visibility:hidden;}
.clearfix{zoom:1;    /* For IE 6/7 (trigger hasLayout) */}
.clearfix:after{display:block;clear:both;visibility:hidden;height:0;content:' ';}
.ellipsis,.ellipsis-hover{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.ellipsis-hover:HOVER{overflow:visible;}
.ellipsis_line2,.ellipsis_line3,.ellipsis_line4{word-break:break-all;}
.img:BEFORE{display:block;position:absolute;content:' ';background:url(http://image.news1.kr/system/resource/news1_www/images/common/img_no_type2.gif);}
.btn{clear:both;margin-top:30px;text-align:center;}
.btn p{font-size:14px;font-weight:bold;margin-bottom:20px;letter-spacing:-1px;color:#111;}
.btn_r{clear:both;margin-top:20px;text-align:right;}
.btn_l{float:left;}
.btn_t{float:right;margin-top:-20px;padding-right:10px;}
.col1 > *{width:100%!important;}
.col2 > *{width:50%!important;}
.col3 > *{width:33.3%!important;}
.col4 > *{width:25%!important;}
.col5 > *{width:20%!important;}
.col6 > *{width:16.6%!important;}
.col7 > *{width:14%!important;}
.col8 > *{width:12.5%!important;}

/* 최상단 공통바 */
.bar_area{z-index:1100;clear:both;position:relative;height:31px;font-family:Dotum;font-size:11px;background:url(http://image.news1.kr/system/resource/news1_www/images/common/bg_header_top.gif) 0 0 repeat-x;}
.bar_area .set{float:left;padding:7px 0;}
* + html body .bar_area .set > li{float:left;}
.bar_area .set li{display:inline-block;margin-left:6px;padding-left:13px;color:#777;background:url(http://image.news1.kr/system/resource/news1_www/images/common/bu_stick.gif) 0 3px no-repeat;}
.bar_area .set li:first-child{margin-left:0;padding-left:0;background:0;}
.bar_area .set li a{color:#777;}
.bar_area .set li.bookmark{padding-left:17px;background:url(http://image.news1.kr/system/resource/news1_www/images/common/ico_bookmark.gif) 0 -1px no-repeat;}
.bar_area .set li.homepage a{display:inline-block;position:relative;width:27px;height:17px;overflow:hidden;top:-1px;vertical-align:middle;text-indent:-9999px;}
.bar_area .set li.homepage a.on{background:url(http://image.news1.kr/system/resource/news1_www/images/common/ico_on.gif) 0 0 no-repeat;}
.bar_area .set li.homepage a.off{background:url(http://image.news1.kr/system/resource/news1_www/images/common/ico_off.gif) 0 0 no-repeat;}
.bar_area .set li.today{color:#000;}
.bar_area .set li.weather{position:relative;margin-left:10px;padding-left:0;background:0;}
.bar_area .svc{float:right;letter-spacing:-1px;}
.bar_area .svc .member{display:inline-block;font-family:Gulim;margin:5px 0;border:1px solid #e1e1e1;background:#fff;}
.bar_area .svc .member a{display:inline-block;padding:0 5px 0 8px;color:#777;background:url(http://image.news1.kr/system/resource/news1_www/images/common/bu_stick.gif) 0 3px no-repeat;}
.bar_area .svc .member a:first-child{background:none;}
.bar_area .svc .allmenu{display:inline-block;margin-left:5px;border-right:1px solid #d9dadc;border-left:1px solid #d9dadc;}
.bar_area .svc .allmenu a{display:block;line-height:18px;padding:6px 20px 4px 8px;color:#565656;background:url(http://image.news1.kr/system/resource/news1_www/images/common/ico_arrow_allmenu.gif) 85px 9px no-repeat;}
.bar_area .svc .allmenu a span{color:#ed4a1f;}
.bar_area .svc .allmenu a:hover{text-decoration:none;}

/* backup 
.bar_area .fms {float:left; border-left:1px solid #dadada;}
.bar_area .fms li {float:left; border-right:1px solid #dadada;}
.bar_area .svc {float:right; padding:5px 0;}
.bar_area .svc li {float:left; font-size:11px; letter-spacing:-1px; background:url(http://image.news1.kr/system/resource/news1_www/images/common/bu_stick.gif) 0 3px no-repeat; padding-left:5px; margin-left:5px;}
.bar_area .svc li:first-child {background:none;}
.bar_area .svc li a {color:#666; padding:5px;}
.bar_area .svc li.map a {color:#e34820; background:url(http://image.news1.kr/system/resource/news1_www/images/common/ico_arrow_b2.gif) right 7px no-repeat; padding-right:10px;}
*/
.animate_layout{-webkit-transition:max-height .3s ease-out;-moz-transition:max-height .3s ease-out;-o-transition:max-height .3s ease-out;transition:max-height .3s ease-out;}

/*20151222 추가 웹접근성*/
#accessibility{z-index:9999;position:absolute;width:100%;top:0;left:0;text-align:left;}
#accessibility a{display:block;z-index:500;position:absolute;width:100%;top:-1000px;left:0;text-align:center;}
#accessibility a:focus,#accessibility a:active{z-index:1000;position:absolute;height:40px;top:0;font:bold 12px dotum;line-height:40px;color:#fff;background:#000;}
.svc.ed_border > a{display:block;float:left;height:26px;overflow:hidden;min-width:73px;padding-top:2px;text-align:center;border-left:1px solid #d9dadc;}

/*.svc.ed_border >a:first-child{display: none;} */
#footer .inner .policy a{display:inline-block;font-size:12px;font-weight:600;padding:13px 20px 13px 12px;color:#888;background:url(http://image.news1.kr/system/resource/news1_www/images/common/footer_line.gif) right center no-repeat;}
#footer .etc{margin-right:173px;padding:0;text-align:center;}
#footer .etc a{font-weight:600;color:#888;}
.ir{display:block;overflow:hidden;text-indent:-9999px;}
.ir_add{display:block;position:absolute;overflow:hidden;left:-900px;text-indent:-9999px;}

/*banner*/
.banner_kff_01{position:relative;height:60px;background:url(http://image.news1.kr/system/resource/news1_www/images/banner/topbanner_kff_01.png) no-repeat;}
.banner_kff_01 .btn_news{display:block;position:absolute;width:57px;height:20px;overflow:hidden;top:38px;left:172px;background:url(http://image.news1.kr/system/resource/news1_www/images/banner/topbanner_kff_01.png) no-repeat -172px -38px;}
.banner_kff_01 .btn_join{display:block;position:absolute;width:57px;height:20px;overflow:hidden;top:38px;left:232px;background:url(http://image.news1.kr/system/resource/news1_www/images/banner/topbanner_kff_01.png) no-repeat -232px -38px;}
.banner_kff_top{position:relative;width:230px;height:75px;background:url(http://image.news1.kr/system/resource/news1_www/images/banner/topbanner_kff_top.png) no-repeat;}
.banner_kff_top .btn_news{display:block;position:absolute;width:57px;height:20px;overflow:hidden;top:48px;left:91px;background:url(http://image.news1.kr/system/resource/news1_www/images/banner/topbanner_kff_top.png) no-repeat -91px -48px;}
.banner_kff_top .btn_join{display:block;position:absolute;width:57px;height:20px;overflow:hidden;top:48px;left:154px;background:url(http://image.news1.kr/system/resource/news1_www/images/banner/topbanner_kff_top.png) no-repeat -154px -48px;}
.ir{display:block;overflow:hidden;text-indent:-9999px;}
.ir{display:block;overflow:hidden;text-indent:-9999px;}
.ir_add{display:block;position:absolute;overflow:hidden;left:-900px;text-indent:-9999px;}

/*weather*/
.bar_area .wrap_weather{display:block;z-index:1000;float:left;position:relative;width:160px;height:26px;overflow:hidden;left:8px;background:#f9f9f9;}
.bar_area .time{display:block;float:left;font-size:12px;padding: 8px 6px 6px 6px;}
.bar_area .time:before{display:block;position:absolute;width:20px;height:12px;top:9px;left:80px;content:'';border-right:1px solid #aaa;}
.bar_area .set.new{width:148px;overflow:hidden;padding:4px 0;}
.bar_area .set.set.new .weather{display:block;height:20px;overflow:hidden;font-size:12px;margin-left:10px;color:#000;outline:none;}
.bar_area .set.set.new .weather span{float:left;height:20px;line-height:20px;padding:0;outline:none;}
.bar_area .set.set.new .weather .rain{background:url(http://image.news1.kr/system/resource/news1_www/images/weather/ico_rain.png ) 0 0 no-repeat;}
.bar_area .set.set.new .slick-prev,.bar_area .set.set.new .slick-next{display:none!important;}
.bar_area .set.set.new .slick-prev:focus,.bar_area .set.set.new .slick-next:focus{display:block!important;}
.bar_area .set_location.on{top:-2px;opacity:1;background:#f9f9f9;visibility: visible;}
.bar_area .set_location{z-index:100;float:left;position:absolute;width:130px;height:27px;top:-260px;left:102px;font-size:12px;padding:0;transition:.3s cubic-bezier(.4,0,.2,1);color:#fff;visibility: hidden;background:transparent;}
.bar_area .set_location .now_location{display:block;z-index:110;position:relative;height:30px;box-sizing:border-box;padding:5px 18px 5px 3px;text-align:center;text-decoration:none;border:none;background:#f9f9f9;}
.bar_area .set_location .now_location:before{display:block;float:right;position:relative;width:7px;height:20px;top:-1px;content:'';transition:.4s;transform:rotate(180deg);background:url(http://image.news1.kr/system/resource/news1_www/images/common/ico_zoom_in.gif) 0 center no-repeat;}
.bar_area .wrap_weather:before{display:block;position:absolute;width:8px;height:8px;top:6px;right:23px;padding:3px;content:'';transition:.4s;transform:rotate(180deg);/* border:1px  solid #999; */background:url(http://image.news1.kr/system/resource/news1_www/images/common/ico_zoom_in.gif)  center no-repeat;}
.bar_area .wrap_weather.on:before{transform:rotate(0deg);background:url(http://image.news1.kr/system/resource/news1_www/images/common/ico_zoom_out.gif) center no-repeat;}
.bar_area .set_location.on .now_location:before{transform:rotate(0deg);background:url(http://image.news1.kr/system/resource/news1_www/images/common/ico_zoom_out.gif) 0 center no-repeat;}
.bar_area .set_location.on .local{/* height:auto; *//* top:0; */visibility: visible;}
.bar_area .set_location .local{position:relative;overflow:hidden;/* top:-230px; */padding:5px 9px;transition:.4s;transition:.4s;text-align:left;border:1px solid #eee;border-bottom:0;background:#fff;/* float: left; *//* display: block; */visibility: hidden;}
.bar_area .set_location .local div.on,.bar_area .set_location .local div:hover,.bar_area .set_location .local div:focus{font-weight:bold;}
.bar_area .set_location .local div a{line-height:1.5;text-decoration:none;}
.bar_area .weather_link{display:block;clear:both;position:relative;width:100%;font-size:12px;font-weight:bold;box-sizing:border-box;padding:0 9px 4px 9px;transition:.2s;text-decoration:none;letter-spacing:0;border:1px solid #eee;border-top:none;background:#fff;}

/*날씨 이미지*/
.ico-sprite,.ico_weather_1,.ico_weather_10,.ico_weather_11,.ico_weather_12,.ico_weather_13,.ico_weather_2,.ico_weather_3,.ico_weather_4,.ico_weather_5,.ico_weather_6,.ico_weather_7,.ico_weather_8,.ico_weather_9{margin-top:-2px;margin-left:8px;}
.ico-sprite,.ico_weather_1,.ico_weather_10,.ico_weather_11,.ico_weather_12,.ico_weather_13,.ico_weather_2,.ico_weather_3,.ico_weather_4,.ico_weather_5,.ico_weather_6,.ico_weather_7,.ico_weather_8,.ico_weather_9{background:url(http://image.news1.kr/system/resource/news1_www/images/weather/ico_weather.png );background-repeat:no-repeat;}
.ico_weather_1{width:21px;height:21px;background-position:0 0;}
.ico_weather_10{width:21px;height:21px;background-position:0 -31px;}
.ico_weather_11{width:21px;height:21px;background-position:0 -62px;}
.ico_weather_12{width:21px;height:21px;background-position:0 -93px;}
.ico_weather_13{width:21px;height:21px;background-position:0 -124px;}
.ico_weather_2{width:21px;height:21px;background-position:0 -155px;}
.ico_weather_3{width:21px;height:21px;background-position:0 -186px;}
.ico_weather_4{width:28px;height:21px;background-position:0 -217px;}
.ico_weather_5{width:21px;height:21px;background-position:0 -248px;}
.ico_weather_6{width:21px;height:21px;background-position:0 -279px;}
.ico_weather_7{width:21px;height:21px;background-position:0 -310px;}
.ico_weather_8{width:21px;height:21px;background-position:0 -341px;}
.ico_weather_9{width:21px;height:21px;background-position:0 -372px;}

/*날씨 이미지 35px*/
.weather35-sprite,.ico_weather2_1,.ico_weather2_10,.ico_weather2_11,.ico_weather2_12,.ico_weather2_13,.ico_weather2_2,.ico_weather2_3,.ico_weather2_4,.ico_weather2_5,.ico_weather2_6,.ico_weather2_7,.ico_weather2_8,.ico_weather2_9{float:right!important;background-image:url('http://image.news1.kr/system/resource/news1_www/images/weather/weather35.png');background-repeat:no-repeat;}
.ico_weather2_1{width:35px;height:35px;background-position:0 0;}
.ico_weather2_10{width:35px;height:35px;background-position:0 -35px;}
.ico_weather2_11{width:35px;height:35px;background-position:0 -70px;}
.ico_weather2_12{width:35px;height:35px;background-position:0 -105px;}
.ico_weather2_13{width:35px;height:35px;background-position:0 -140px;}
.ico_weather2_2{width:35px;height:35px;background-position:0 -175px;}
.ico_weather2_3{width:35px;height:35px;background-position:0 -210px;}
.ico_weather2_4{width:35px;height:35px;background-position:0 -245px;}
.ico_weather2_5{width:35px;height:35px;background-position:0 -280px;}
.ico_weather2_6{width:35px;height:35px;background-position:0 -315px;}
.ico_weather2_7{width:35px;height:35px;background-position:0 -350px;}
.ico_weather2_8{width:35px;height:35px;background-position:0 -385px;}
.ico_weather2_9{width:35px;height:35px;background-position:0 -420px;}

/*banner_weather*/
.wrap_banner_weather{height:38px;/* border: 1px solid #e1e1e1; *//* box-sizing: border-box; */}
.banner_weather{display:block;width:300px;height:38px;overflow:hidden;border:1px solid #e1e1e1;background:#f9f9f9;}
.banner_weather .page{width:300px;height:36px;line-height:36px;outline:none;/* border: 1px solid #e1e1e1; */}
.banner_weather .page a{display:block;height:38px;overflow:hidden;line-height:38px;}
.banner_weather .page span{display:inline-block;float:left;font-family:Dotum;font-size:13px;font-weight:bold;line-height:38px;padding-left:18px;color:#000;}
.banner_weather .page  .ico_weather{box-sizing:border-box;margin-right:20px;}
.banner_weather .page  .degree{font-size:21px;font-weight:bold;padding-left:16px;}
.banner_weather button{height:0;}
#wrap_banner_weather .banner_weather{width:300px;border:1px solid #e1e1e1;}
.banner_weather .page .degree{font-family:Dotum;font-size:21px;padding-left:5px;}
.banner_weather .page span.local{width:165px;font-family:Dotum;}

/*header_new_1608*/
.top_bar_area .link_area{float:left;overflow:hidden;}
.top_bar_area .btn_link{display:block;float:left;position:relative;height:30px;font-size:12px;line-height:30px;padding:0 9px;}
#wrap.main .top_bar_area .btn_link.not_main{display:none;}
.top_bar_area .btn_link:after{display:block;float:right;position:relative;position:absolute;width:1px;height:10px;top:10px;right:0;content:'';border-right:1px solid  #c6c6c6;}
.top_bar_area .btn_link.mark_01{font-weight:bold;padding-left:25px;}
.top_bar_area .btn_link.mark_01:before{display:block;position:absolute;width:12px;height:12px;top:9px;left:10px;content:'';background:url(http://image.news1.kr/system/resource/news1_www/images/common/header_bar.png) no-repeat;background-position:-8px -35px;}
.top_bar_area .btn_link_main{display:block;width:50px;height:30px;}
.top_bar_area .btn_link_main a:before{overflow:hidden;    /* padding-right: 0px; */}
.top_bar_area .link_area a:last-child:after{border:none;}
.top_bar_area .btn_link_main:before{display:block;position:absolute;width:50px;height:28px;top:0;left:10px;content:'';background:url(http://image.news1.kr/system/resource/news1_www/images/common/header_bar.png) no-repeat;background-position:-9px -5px;}
.top_bar_area .btn_area{position:absolute;width:100px;height:30px;right:0;margin-left:10px;}
.top_bar_area .btn_area .btn_op_menu{display:block;/* font-weight: bold; */width:100px;height:30px;overflow:hidden;font-family:dotum;font-size:12px;line-height:30px;transition:.4s;text-decoration:none!important;letter-spacing:-1px;}
.top_bar_area .btn_area .btn_op_menu strong{font-size:12px;font-weight:normal;padding-left:3px;color:#ed4a1f;}
.top_bar_area.on .btn_area .btn_op_menu{transform:rotateY(0deg);}
.top_bar_area.on .btn_area .btn_op_menu:after{background-position:-61px -12px;}
.top_bar_area .btn_area .btn_op_menu:after{display:block;position:absolute;width:15px;height:15px;top:7px;right:-1px;content:'';content:'';transition:.1s;background:url(http://image.news1.kr/system/resource/news1_www/images/common/header_bar.png) no-repeat;background-position:-61px -30px;}
.top_bar_area .section_area .section{position:absolute;width:96px;height:auto;font-family:dotum;box-sizing:border-box;margin:0;padding-top:15px;padding-left:11px;border:1px solid #ddd;border-top:0;border-bottom:0;background:none;}
.top_bar_area .section_area .section.v01{height:100%;/* float: left; */left:-1px;}
.top_bar_area .section_area .section.v02{float:none;height:135px;left:94px;}
.top_bar_area .section_area .section.v03{height:134px;top:136px;left:94px;border-top:1px solid #ddd;}
.top_bar_area .section_area .section.v04{height:100%;left:189px;}
.top_bar_area .section_area .section.v02 h3{background-position:0 -16px;}
.top_bar_area .section_area .section.v03 h3{background-position:0 -32px;}
.top_bar_area .section_area .section.v04 h3{background-position:0 -48px;}
.top_bar_area .section_area .section h3{height:16px;font-size:12px;line-height:16px;margin-bottom:5px;padding:0;color:#000;border:none;background:url(http://image.news1.kr/system/resource/news1_www/images/common/header_bar_txt.png) no-repeat;}
.top_bar_area .section_area .section ul{clear:both;margin:0;padding-left:0;}
.top_bar_area .section_area .section li{height:18px;line-height:18px;margin:0;background:none;}
.top_bar_area .section_area .section li a{font-size:12px;color:#7f7f7f;}
.top_bar_area .section_area .section.v05{width:176px;right:2px;border:0;}
.top_bar_area .section_area .section.v05 .social_area{overflow:hidden;padding-bottom:21px;}
.top_bar_area .social_area a:last-child{margin-right:0;}
.top_bar_area .social_area a{display:block;float:left;width:36px;height:36px;margin-right:5px;background:url(http://image.news1.kr/system/resource/news1_www/images/common/header_bar.png) no-repeat;}
.top_bar_area .section_area .section.v05 li{margin:4px 0;}
.top_bar_area .section_area  .btn_sitemap{display:block;font-size:11px;margin-top:97px;padding-left:5px;color:#7f7f7f;}
.top_bar_area.on .section_area{display:block;height:270px;overflow:visible;top:30px;opacity:1;visibility: visible;}
.top_bar_area.on .section_area:after{display:block;z-index:100000;position:absolute;width:20px;height:13px;top:-9px;left:430px;content:'';background:url(http://image.news1.kr/system/resource/news1_www/images/common/header_bar_txt.png) no-repeat;background-position:-12px  -64px;}
.top_bar_area .section_area{float:right;position:absolute;width:468px;height:270px;height:0;overflow:visible;overflow:hidden;top:30px;right:0;transition:.2s;transition-timing-function:ease-in-out;opacity:0;border:1px solid #ddd;border-top:0;background:#fff;visibility: hidden;}
.top_bar_area .section_area .social_area .ico_facebook{background-position:0 -52px;}
.top_bar_area .social_area .ico_twitter{background-position:-40px -52px;}
.top_bar_area .social_area .ico_kakao_story{background-position:-80px -52px;}
.top_bar_area .social_area .ico_insta{background-position:-120px -52px;}
.top_bar_area{float:right;margin-right:120px;}
.top_bar_area.on{height:30px;overflow:hidden;}
.new_h .bar_area .set_location{display:none;z-index:100;float:left;position:absolute;width:130px;height:27px;top:-260px;left:102px;font-size:12px;padding:0;transition:.3s cubic-bezier(.4,0,.2,1);color:#fff;background:transparent;}
.new_h .bar_area .wrap_weather:before{display:none;position:absolute;width:8px;height:8px;top:6px;right:23px;padding:3px;content:'';transition:.4s;transform:rotate(180deg);/* border:1px  solid #999; */background:url(http://image.news1.kr/system/resource/news1_www/images/common/ico_zoom_in.gif)  center no-repeat;}

/*sns*/
.sns_btn_bg > a:hover,.sns_sub  a:hover{text-decoration:none;}
.sns_btn_bg .more{display:none!important;}
/*content_box*/
.content_box{width:670px;font-family:돋움;font-size:15px;box-sizing:border-box;margin-bottom:20px;color:#666;border:1px solid #d0d0d0;}
.wrap_h3{height:18px;line-height:18px;padding:10px 20px;border-bottom:1px solid #d0d0d0;background:#f3f3f3;}
.wrap_h3 h3{float:left;width:90%;font-size:13px;font-weight:bold;letter-spacing:-3px;}
.content_box .btn_more{float:right;width:16px;height:16px;text-indent:-999px;background:url(http://image.news1.kr/system/resource/news1_www/images/common/ico_more2.gif) no-repeat;}
.wrap_h3 strong{letter-spacing:-1px;color:#ec0033;}
.content_box ul{padding:8px 5px 0 10px;}
.content_box li{margin-bottom:8px;}
.content_box li:before{float:left;width:10px;font-size:11px;padding-left:10px;content:'- ';color:#aaa;}
.content_box li a{display:block;width:95%;overflow:hidden;white-space:nowrap;letter-spacing:-1px;text-overflow:ellipsis;}
.content_box li a:hover{color:#2a73cc;}