/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block}
body {
    line-height: 1}
ol, ul {
    list-style: none}
blockquote, q {
    quotes: none}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none}
table {
    border-collapse: collapse;
    border-spacing: 0}


body {
    background: #fff;
    font: 14px/21px 'Roboto Slab', serif;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

h1, h2 {
    color: #181818;
    font-family: 'Roboto Slab', serif;
    font-weight: normal}
h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px}

p { margin: 0 0 20px 0}

em { font-style: italic}
strong { font-weight: bold; color: #333}
small { font-size: 80%}

a, a:visited { color: #333; text-decoration: underline; outline: 0}
a:hover, a:focus { color: #000}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    border: 1px solid #ccc;
    padding: 6px 4px;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    width: 170px;
    max-width: 100%;
    display: block;
    background: #fff;
    margin-right: 10px}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 1px solid #aaa;
    color: #444;
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
    box-shadow:  0 0 3px rgba(0,0,0,.2)}
textarea {
    min-height: 60px}
input[type="checkbox"] {
    display: inline}
label span,
legend span {
    font-weight: normal;
    font-size: 13px;
    color: #444}
input[type="submit"]{
    background:#f8a642;
    border-radius: 3px;
    border: none;
    padding: 8px 10px;
    margin: 0;
    color: #fff;
}

@media only screen and (min-width: 1300px) {
    .container, .container .sixteen.columns {
        width: 1300px;
    }
    .row .container .eight.columns {
        width: 50%;
        margin: 0;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .container, .container .sixteen.columns {
        width: 1100px;
    }
    .row .container .eight.columns {
        width: 50%;
        margin: 0;
    }
}

@media only screen and (max-width: 1099px) {
    .container {
        max-width: 960px;
    }
}
@media only screen and (max-width: 959px) {
    .hero img {
        width: 90%;
    }

    .container, .container .sixteen.columns {
        width: 950px;
    }
    .eight.columns.info i {
        padding: 20px 0 0;
    }
}

@media only screen and (min-width: 960px) {
    .container, .container .sixteen.columns {
        min-width: 960px;
    }
}

@media only screen and (min-width: 768px){
    h1 {
        padding: 30px 0 0;
    }
}

@media only screen and (max-width: 767px) {
    .header h1 {
        font-size: 24px;
        line-height: 33px;
        margin-top:10px;
    }
    .header h2 {
        font-size: 16px;
        line-height: 28px;
        width: 80%;
        margin: 0 auto;
    }
    .opacity .avatars {
        background-size: 500px;
        height: 88px;
    }
    header, .calltoaction > .container > img {
        display: none;
    }
    .header .logowhite {
        display: inline-block;
        width: 200px;
        padding-top: 6px;
    }
    .header .already {
        display: inline-block;
        color: #fff;
        padding: 5px;
        margin-bottom: 15px
    }

    .eight.columns {
        text-align: center
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

@media only screen and (max-width: 479px) {
    .calltoaction > .container > img {
        display: none;
    }
    .container .info i {
        font-size: 50px;
        padding: 15px 0 0;
    }
    .container .info h3 {
        font-size: 20px;
    }
    .container .info p {
        font-size: 14px;
    }
    .container .info img {
        width: 50px;
        padding: 0;
    }
    .info.card img {
        width: 100%;
    }
    .dark .container .eight.columns.info i.fa-comments {
        padding: 0;
    }
    .teaser {
        text-align: center;
    }
    .teaser .eight.columns h3 {
        font-size: 25px;
        line-height: 30px;
    }
    .row.calltoaction h3 {
        font-size: 40px;
        line-height: 50px;
    }
}


.italy {
    text-align: center;
    font-size: 10px;
    color: #33abdf;
}
    .italy div {
        height:3px;
        background:#fff;
    }
    .italy .green {background:#319400}
    .italy .red {background:#de2110}

header {
    background: #fff;
}

header {
    background: #fff;
}

.logowhite {
    display: none;
}

.regForm {
  width:400px;
  margin:40px auto;
}

input.registerBtn {
  box-sizing: border-box;
  margin:10px 0;
  padding:16px 40px;
  border:none;
  font-size:26px;
  -webkit-transition:0.3s;
          transition:0.3s;
  border-bottom: 3px solid #BD7926;
  font-weight: 600;
  background:#f8a642;
  color:#fff;
  border-radius:3px;
  line-height:22px;
    width: 100%;
  max-width: 350px;
}
.loginBtn { cursor:pointer }
input.registerBtn:hover {
    background:#fff;
    color:#f8a642;
    border-bottom:3px solid #f8a642;
}
input.registerBtn:focus {
  border:none;
}
.claim {margin-bottom:40px}
    .claim b {font-weight:bold}

header.row{
    margin-bottom: 0;
    padding: 20px 0;
}

.connecting .fblogin{
    display: none;
}
.connecting .wait{
    display: inline;
}

.wait {
    display: none
}

.logo {
    width: 150px;
    float: left;
}

.login {
    float: right;
    margin-top: -5px
}

.login span {
    font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.login input {
    display: inline-block;
    float: none;
    width: auto;
    font-size: inherit;
}

.container.header {
    padding: 20px 0 0;
}

@-webkit-keyframes bgscroll {
    from {background-position:0 0;}
    to {background-position:0 1097px;}
}
@-moz-keyframes bgscroll {
    from {background-position:0 0;}
    to {background-position:0 1097px;}
}
@keyframes bgscroll {
    from {background-position:0 0;}
    to {background-position:0 1987px;}
}

.bgScroll {
  background: url(../../../images/actionpage/home/bg.jpg);
  color:#ecf2f9;
  text-align:center;
  /*-webkit-animation:bgscroll 15s linear infinite;
  -moz-animation:bgscroll 15s linear infinite;
  -o-animation:bgscroll 15s linear infinite;
  animation:bgscroll 15s linear infinite;*/
  box-sizing:border-box;
  background-color: #33abdf;
}

.opacity {
    background: url(../../../images/actionpage/home/opacity.png);
    line-height: 0;
}

.avatars {
    background: url(../../../images/actionpage/home/avatars.png);
    height: 173px;
    background-position: center;
    background-repeat: repeat-x;
}

h1 {
    font-size: 50px;
    padding:10px 0 0px;
    font-weight: bold;
    color: #fff;
    line-height: 60px;
}

h2 {
    font-size: 30px;
    color: #fff;
}

.fbConn {
  background: #3b5998;
}

.gpConn {
  background: #dd4b39;
}

.header .fbConn {
    margin-top:40px;
}

.header .gpConn {
    margin-top:10px;
}

.buttonsWrp{margin:0 auto}
  .connecting .wait{font-size:0}
    .connecting .wait i{font-size:20px}

.buttonLogin {
    text-shadow:none;
    color: #fff;
    border-radius: 5px;
    border: 3px solid #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: normal;
    padding: 10px 20px;
    margin: 0 10px 10px;
    cursor:pointer;
    display:inline-block;
    min-width:90px;
}

.buttonLogin img {
    height: 30px;
    vertical-align: sub;
}

.buttonLogin span{display: none}

.already {
    background: #f8a642;
    border-radius: 3px;
    color:#fff;
    box-sizing: border-box;
    padding: 6px 10px;
    border: none;
    text-decoration: none;
    transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
}
    .already:hover{
      background: #fff;
      color: #f8a642;
      border: 3px solid #f8a642;
    }

.info {
    text-align: center;
}

.info h3{
    color: #f8a642;
    font-weight: bold;
}

.info img {
    padding: 10px;
}

.info p {
    color: #757575;
    font-size: 16px;
}

.info i {
    font-size: 100px;
    padding: 50px 0 20px;
    color: #757575;
}

.light, .dark {
    padding: 20px 0;
}

.dark {
    background-image: url(../../../images/actionpage/home/logobit.png);
    background-color: #33abdf;
}

.dark .info p, .dark .info i{
    color: #fff;
}

.hero {
    text-align: center;
    padding: 20px 0;
}

.teaser {
    padding: 30px 0;
}

.teaser h3 {
    font-size: 38px;
    color: #f8a642;
    font-weight: bold;
    line-height: 60px;
}

.teaser p {
    font-size: 20px;
    color: #757575;
    line-height: 25px;
}

.calltoaction {
    text-align: center;
    background-color: #f5f5f5;
    padding: 40px 0;
}

.calltoaction h3 {
    color: #33abdf;
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
}

.calltoaction > .container > img {
    vertical-align: bottom;
}

footer {
    text-align: center;
    padding: 20px;
}

footer img {
    width: 70px;
}


/* #Base 960 Grid
================================================== */

    .container                                  { position: relative; margin: 0 auto; padding: 0 10px;box-sizing: border-box}
    .container .column,
    .container .columns                         { float: left; display: inline; margin-left: 0; margin-right: 0}
    .row                                        { margin-bottom: 20px}

    .container .eight.columns                   { width: 460px}



/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px}
        .container .column,
        .container .columns                         { margin-left: 0; margin-right: 0}

        .container .eight.columns                   { width: 364px}

        .buttonLogin {
          padding: 10px 15px;
          font-size: 16px;
        }
        .buttonLogin img {
          height:20px;
        }
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        input.registerBtn {font-size:22px}
        .container { width: 300px}
        .container .columns,
        .container .column { margin: 0}

        .container .eight.columns { width: 300px}

        .regForm, div.or {
          width:100%
        }
        .buttonLogin img {
          padding-right:0;
          margin-right:0;
          border-right:0 !important;
        }
        
        .container.change {
          overflow: hidden;
        }
        .container.change, .container.change .eight.columns{
        	 width: 100%;
        }
        .container.change .eight.columns.hero {
          width: 1159px;
          overflow: hidden;
          padding: 0;
          position: relative;
          left: -20%;
        }
        .container.change .eight.columns.hero img {
          width: auto;
          margin-top:0;
          height: 300px;
        }
    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px}
        .container .columns,
        .container .column { margin: 0}

        .container .eight.columns { width: 420px}
    }

/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden}

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0}
    .row:after,
    .clearfix:after {
      clear: both}
    .row,
    .clearfix {
      zoom: 1}

footer .wrp {
    width: 90%;
}

.wrp {
    width: 960px;
    margin: 0 auto;
    position: relative;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
    background: transparent;
    box-sizing: border-box;
    outline: 0;
}
img {
    max-width: 100%;
    height: auto;
}
footer a:hover { text-decoration: none;}

*{-webkit-font-smoothing: antialiased}

input:focus {
    outline: none;
}

.hero img {
    margin-top: 70px;
}
.regForm {
    margin:20px auto 0 auto;
}

.header .fbConn, .header .gpConn {
    margin-top:0;
}
.or {margin-bottom:20px}

.already {color:#fff !important;}
.already:hover {color:#f8a642 !important;}

.regForm {display:none;height: 200px;margin-top: 60px}
.g-recaptcha {margin:0 auto 30px auto;width:302px;display: block;height:78px;overflow:hidden}