@charset "utf-8";
/* CSS Document */

div.item 
{
	border-bottom:solid 1px #97bedd; 
	width:547px; 
	padding:3px; 
	clear:both; 
	height:16px;
	font-size:11px;
}
div.item:hover
{
	background-color:#f1fefc;
	border-bottom:solid 1px #a8b4be;
	cursor:pointer;	
}
div.item.right:hover
{
	border-bottom:0; 
	background-color:#ddf7f2;
	cursor:default;
}
div.item.right
{
	border-bottom:0; 
	height:540px;
	width:216px;
}
div.item.full
{
	width:780px; 
}
div.item.full.admin
{
	border-bottom:solid 1px #d46c6c; 
}
div.item.full.void:hover,
div.item.full.void
{
	width:780px; 
	background-color:#ddf7f2;
	border-bottom:solid 1px #97bedd; 
	cursor:default;
	height:16px;
	font-size:12px;
}
div.item.full.admin.void:hover,
div.item.full.admin.void
{
	background-color:#f5d5d5;
	color:#5d1313;
	border-bottom:solid 1px #d46c6c; 
	font-size:12px;
}
div.areaBtn
{
	border-top:solid 1px #97bedd; 
	width:553px;
	clear:both; 
	height:22px;
}
div.areaBtn.right
{
	width:222px; 
	height:22px;
}
div.areaBtn.full
{
	width:786px; 
	height:22px;
}
div.areaBtn span.btn
{
	border-right:solid 1px #97bedd; 
	padding:3px 5px 3px 3px; 
	display:inline-block;
	background-color:transparant;
	font-size:11px;
}
div.areaBtn span.btn.right
{
	float:right;
	border-right:0; 
	border-left:solid 1px #97bedd; 
}
div.areaBtn span.btn:hover
{
	background-color:#FFF;
	cursor:pointer;
}
div.areaBtn span.btn.focus
{
	background-color:#FFF;
}