/* CSS Document */
.Style1 {
}
.popper {
	position : absolute;
	z-index : 99;
	visibility : hidden;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
}

.Style2 {
	color: #FF0000
}

img.google {
	position: absolute;
	left: 920px;
	top: 48px;
} 

img.facebook {
	 position: absolute;
	left: 880px;
	top: 48px;
}

div.headerimg {
	position:relative
}

div.cropme {
  border: 0px solid red;
  height: 90px;
  overflow:hidden;
}
div.cropme img {
  margin-bottom: -10px;
}

