/* CSS Document */
img
{
	border:0px;
}
dl.newsArchiveList
{
	display:block;
	width:90% !important;
	width:350px;
	margin:20px !important;
	margin-left:20px;
	margin:20px;
}


dl.newsArchiveList dt
{
	margin-left: 0px;
	display:block;
	background-color:#FFF;
	border-bottom:#ddeaf7 solid 1px;
	list-style:none;
	padding:2px;
	margin-bottom:3px;
	cursor:pointer;
}

dl.newsArchiveList dt:hover
{
	border-bottom:#97bedd solid 1px;
}
dl.newsArchiveList dt div.left
{
	color:#000;
	float:left;
}
dl.newsArchiveList dt div.right
{
	float:right;
	color:#AAA;
	font-style:italic;
	font-size:11px;
}
dl.newsArchiveList dt div.clear
{
	clear:both;
}
dl.newsArchiveList dt div.hide
{
	display:none;
}
dl.newsArchiveList dt:hover div.left
{
	color:#4c86b4;
}
dl.newsArchiveList dd
{
	margin-left: 0px;
	display:block;
	background-color:#ddeaf7;
	border-bottom:#FFF solid 1px;
	list-style:none;
	padding:2px;
	margin-bottom:10px;
}

span.pagging
{
	display:block;
	padding:3px;
	margin:5px;
	color:#666;	
}
span.pagging a
{
	background-color:#FFF;
	border:#999 solid 1px;
	padding:1px 3px 1px 3px;	
	cursor:pointer;
}
span.pagging a:hover
{
	color:#97bedd;
	border:#97bedd solid 1px;
	cursor:pointer;
}
span.pagging a.currentPage
{
	background-color:#97bedd;
	border:#FFF solid 1px;
	color:#FFF;
	cursor:default;
}

img.google {
	position: absolute;
	left: 920px;
	top: 48px;
} 

img.facebook {
	 position: absolute;
	left: 880px;
	top: 48px;
}

img.twitter {
	 position: absolute;
	left: 840px;
	top: 48px;
}


div.headerimg {
	position:relative
}

div.cropme {
  border: 0px solid red;
  height: 90px;
  overflow:hidden;
}
div.cropme img {
  margin-bottom: -10px;
}

