﻿.SponsorIsland
{
	background-color:#520000;
	margin-bottom: 1em;
}
.SponsorIsland .Header
{
	background-color:#390000;
	color: Silver;
	text-align:center;
	font-size:0.7em;
	padding:0.1em;
}
.SponsorIsland .avnAdds
{
	clear:both;
	background-color:#601414;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:5px;
}
.SponsorIsland .banners
{
	background-color:#601414;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:5px;	
}
.SponsorIsland A
{
	color:Yellow;
}
.tBannerAdd
{
	text-align:center;
}
DIV.BannersBorder
{
	border: solid 1px #cc0000;
	width: 988px;
	height:auto;
	background-color:#ffdddd;
	margin-top: 1em;
}
DIV.container 
{
	float: left;
	border: none; 
	margin: 0; 
	padding: 0; 
	width: 300px;
	text-align:center;
	padding: 4px;
}
DIV.right-container 
{
	float: left;
	border: none; 
	margin: 0; 
	padding: 0; 
	width: 30%;
	text-align:center;
	padding: 4px;
}
DIV.BannerMainText A
{
	color:#666666;
	font-size: smaller;
	text-decoration:none;
	text-align:center;
}
DIV.BannerSmallLink A
{
	color:#008000;
	text-decoration:none;
	text-align:center;
}

