﻿#AppearanceHead
{
	font-size:12px;
	color:#ccc;
	height:40px; 
	clear:both;
	background-color:#980000;
}
#AppearanceHead .Item
{
	float:left; 
	padding-top:20px; 
	text-align:center
}
#AppearanceHead .Item A
{
	color:White;
}
#Appearances
{
	max-width:540px;
	width:540px;
	padding: 10px 10px 0 10px;
	float:left;
}
#Appearances .Heading
{
	font-size:12px;
}
.Appearance
{
	clear:both;
}
.AppearanceMain
{
	border-bottom: solid 1px #999999;
	width:540px;
	max-width:540px;	
}
.AppearanceMain .Icon
{
    margin-top:5px;
	float:left;
}
.AppearanceMain .Link
{
	margin-left:0.5em;
	padding-top:5px;
	font-size:0.9em;
	width: 321px;
	float:left;
	font-weight:normal;
	text-decoration:none;
	color:#000;
}
.AppearanceMain .Link A
{
	font-weight:normal;
}
.AppearanceMain .Date
{
	padding-top:5px;
	font-size:0.8em;
	float:left;
}
.AppearanceMain .Age
{
	padding-top:5px;
	font-size:0.8em;
	float:right;
	padding-right:1em;
}
.AppearanceMain .Nudity
{
	margin-top:5px;
	float:right;
}
.AppearanceAdditional
{
	display:block;
	width:540px;
	max-width:540px;	
	font-size:0.8em;
	margin-bottom:3em;	
}
.AppearanceAdditional .AppearanceFirstPictures
{
	padding: 5px 10px 0 10px;
}
.AppearanceAdditional .AppearanceFirstPictures A
{
	font-weight: bold;
	font-size: 0.7em;
	color: #444;
}
.AppearanceAdditional .AppearanceFirstPictures img
{
	padding:3px;
}
.AppearanceAdditional .AppearanceContextLinks
{
	background-color:#eee;
	border-top:solid 1px #ddd;
	border-bottom:solid 1px #999;
	height:25px;
	padding-top:5px;
	padding-right:0px;
}
.AppearanceAdditional .AppearanceContextLinks A
{
	padding: 0 0 0 5px;
}
.AppearanceAdditional .AppearanceDescription
{
	background-color:#eee;
	padding:5px;
	border-bottom: solid 1px #ddd;
}
.AppearanceAdditional .AppearancePicture
{
	display:none;
	visibility:hidden;	
	padding: 5px 10px 0 10px;
}
.AppearanceAdditional .AppearancePicture img
{
	padding:3px;
}
.AppearanceAdditional .AppearancePicture A
{
	font-weight: bold;
	font-size: 0.7em;
	color: #444;
}
.AppearanceAdditional .AppearanceMorePictures
{
	padding: 3px 0 0 0;
	line-height:25px;
	text-align:center;
}
.AppearanceAdditional .AppearanceMorePicturesAtMrSkin
{
	padding: 3px 0 10px 10px;
	line-height:25px;
}
.SmallAppearanceLinks A
{
	font-size:10px;
}
.CelebInfo
{
	background-color:#520000;
	margin-bottom:1em;
	padding-bottom:5px;
}
.CelebInfo .Header
{
	background-color:#390000;
	color:White;
	text-align:center;
	font-size:0.9em;
	padding:0.1em;
	font-weight:bold;
}
.CelebInfo .Island
{
	color:#cccccc;
	font-size:0.8em;
	clear:both;
	padding:5px;
}
.CelebInfo .Island .HeaderIsland
{
	text-align:center;
	font-weight:bold;
	border-bottom: solid 1px #ccc;
}
.CelebInfo .Island .Item
{
	color:#ccc;
}
/* Rating */
.UserRating 
{
	clear:both;
}
.UserRating div
{
	float:left; 
	height:20px; 
	padding-right:5px;	
}
.UserRating .RatingVoteStart
{
	padding-top:3px; 
	width:70px;	
}
.UserRating .RatingVoteEnd
{
	padding-top:3px; 
}
.rating
{
	padding-right:0px;
	margin-right:0px;
}
.ratingStar {
    font-size: 0pt;
    width: 19px;
    height: 20px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
}

.filledRatingStar {
    background-image: url(../images/FilledStar.gif);
}

.emptyRatingStar {
    background-image: url(../images/EmptyStar.gif);
}

.savedRatingStar {
    background-image: url(../images/SavedStar.gif);
}
.CelebLinks {}
.CelebLinks a
{
	padding-left:10px;
}
#CelebHeader
{
	background-color:#980000;
	height:85px;
	border-bottom: solid 4px #ad3333;	
}
#CelebHeader #CelebRating
{
	position:relative;
	top:-56px;
	height:65px;
	min-width:275px;
	float:right;
}
#CelebHeader #CelebIcons
{
	font-size:10px;
	color:#ccc;
	float:right;
	padding:8px 10px 0 0;
}
#CelebHeader #CelebIcons A
{
	color:#fff;
}
#CelebHeader #CelebRatingImage
{
}
#CelebHeader #CelebName
{
	float:left;
	background-color:#980000;
	width:715px;
}
#CelebHeader #CelebName A
{
	color:#fff;
}
H3
{
	font-size:2.5em;
	background-color:#980000;
	color:#d59898;
	padding-left:30px;
	height:1.4em;
	padding-top:0.25em;
	margin-bottom:0px;
	display:inline;
}
.NewAppearance
{
	font-size:0.7em;
	font-weight:bolder;
	color:#cc0000;
	font-family:Arial;
}
#AmazonContent
{
	padding:5px;
}
#AmazonContent #Item
{
	width:100px;
	height:190px;
	float:left;
	padding:2px;
	border:solid 1px Grey;
	margin:2px;
}
#AmazonContent #Item A
{
	font-size:10px;
	color:Blue;
	font-weight:normal;
}
#AmazonContent #Item #Image
{
	text-align:center;
	padding:2px;
	margin:0;
}
#AmazonContent #Item #Title
{
	height:35px;
	text-align:center;
	padding:2px;
}
#AmazonContent #Item #Actors
{
	text-align:center;
	padding:2px;
}
.CelebNudeFacts
{
	font-size:12px;
}
.CelebNudeFacts #Heading
{
	border-bottom:solid 1px #980000;
	font-size:14px;	
}
.CelebNudeFacts ul
{
	margin-top:0;
}
.WasSheNude
{
	height:29px;

}
.WasSheNude .LeftSide
{
	width:10px;
		height:29px;
	float:left;
	background-image: url(../images/AreThereNudePicturesLeft.gif);
}
.WasSheNudeText
{
	height:29px;
	font-size:17px;
	vertical-align:middle;
	background-image: url(../images/AreThereNudePicturesBg.gif);
	background-repeat: repeat-x;
}
.WasSheNude .RightSide
{
	float:right;
	height:29px;
	width:10px;
	background-image: url(../images/AreThereNudePicturesRight.gif);
}
.GrayLink
{
	color:#222;
}