﻿html{
	background-image: url(images/background.gif);
	background-repeat: repeat;
	background-position: top left;
}
body 
{
	font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
}
h1, h2, h3, h4, h5, h6 
{
	font-weight: normal;
}
a
{
	color:#cc0000;
}
a:visited
{
	color:#660000;
}
#MainColumn 
{
	padding-top:1em;
    width: 990px;
    text-align: left;
    margin: 0 auto;
    background-color: #FFF;
    border:solid 1px black;
}
#MainMenu
{
	border-bottom: solid 6px #d59898;
	height:36px;
	font-family: Arial, Verdana, sans-serif;	
}
#MainMenu .MenuItem
{
	float:left;
}
#MainMenu .MenuItem A
{
	padding-top:17px;
	padding-bottom:3px;
	float:left;
	font-size:14px;
	font-weight:bold;
	color:#cc0000;
	text-decoration:none;
}
#MainMenu .MenuItem A:hover
{
	border-bottom: solid 6px #cc0000;
}
.AddStoryLink
{
	float:right;
	margin-top:20px;
	margin-right:10px;
}
.AddStoryLink A
{
	color:White;
	font-weight:bold;
}
#Search
{
	padding-left:65px;
	padding-top:20px;
	vertical-align:bottom;
	height:25px;
	padding-bottom:15px;
}
#Search A
{
	font-size:14px;
	color:#cc0000;
}
#Search .Go
{
	text-decoration:none;
	font-weight:bold;
	font-size:18px;
	border: 0px;
	border-style: none;
	background: white;
	color: #cc0000;
	cursor: hand;
	cursor: pointer;
	padding: 0px;	
	margin-right:20px;
}
#Search #Date
{
	float:right;
	font-size:10px;
	font-weight:bold;
	color:#000;
	padding-top:13px;
	padding-right:30px;
	vertical-align:bottom;
}
H1
{
	font-size:2em;
	background-color:#980000;
	color:#d59898;
	padding-left:30px;
	height:1.4em;
	padding-top:0.25em;
	margin-bottom:0px;
}
#HeaderLinks
{
	border-bottom: solid 4px #ad3333;
	height:19px;
	background-color:#980000;	
	padding-left:5em;
	clear:both;
}
#HeaderLinks .Link
{
	float:left;
	padding-left:2em;
}
#HeaderLinks .Link A
{
	padding-bottom:3px;
	float:left;
	font-size:0.8em;
	font-weight:bolder;
	color:#fff;
	text-decoration:none;
}
#HeaderLinks .Link A:hover
{
	border-bottom: solid 4px #fff;
}
.RedDivSpacer
{
	background-color:#980000;
}
#MainContent
{
	background-image: url(images/Main_bg.gif);
	background-repeat: repeat-y;	
	background-position:right;
}
#RightSide
{
	width:255px;
	display:inline;
	float:left;
}
#RightSide A
{
	font-size:14px;
	margin-top:10px;
	color:#222;
	font-weight:bold;
}
#RightSide A:visited
{
	color:#777;
}
#RightSideBanner
{
	width: 165px;
	float: left;
	max-width: 165px;
}
#RightSideBannerContent
{
	padding:0 5px 0 5px;
	text-align:center;
}
.Island
{
	margin-bottom:1em;
	padding-bottom:5px;
	font-size:12px;
}
.Island .Header
{
	background-color:#980000;
	color:White;
	text-align:center;
	font-weight:bold;
	font-size:1.2em;
	padding: 3px 0 3px 0;
}
.Island .Item
{
	padding: 0 5px 0 5px;
}
.Island .Item .Line
{
	clear:both;
	text-align:left;
	background-color:#c0c0c0;
	height:1px;
	margin-left:5px;
	margin-right:5px;
}
.Island .Source
{
	text-align:left;
	font-size:13px;
	font-weight:bold;
	color:#000;
}
.Island .Month
{
	text-align:left;
	font-size:12px;
	color:#222;
}
.Island .Nudity
{
	text-align:left;
	font-size:12px;
	color:#222;
}
.Island #IslandLinks
{
	margin:10px;
	font-size:13px;
	color:#222;
}
#MainColumnWide
{
	max-width:695px;
	width:695px;
	float:left;
	padding: 20px 10px 0 10px;
	line-height: 20px;
	font-size: 0.8em;	
}
#News
{
	max-width:540px;
	width:540px;
	float:left;
	padding: 0 10px 0 10px;
	line-height: 20px;
	font-size: 0.8em;	
}
#News #Date
{
	background-color: #ecedef;
	font-size: 0.9em;
	font-weight: bold;
	padding:2px;	
	padding-left:10px;
}
h2
{
	font-size: 1.5em;
}
#News #Body
{
	border-top:dotted 1px #ccc;
	color: black;
	padding-right: 1em;
	padding-top: 5px;
	padding-bottom: 5px;	
}
#News #Pictures
{
	padding-right: 1em;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top:dotted 1px #ccc;
}
#News #Links
{
	font-size:0.9em;
	padding-bottom:5em;
	padding-left:1em;
}
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
#Top100
{
	max-width:540px;
	width:540px;
	float:left;
	margin: 10px 10px 0 10px;
	font-size:0.8em;
}
#Top100 A
{

}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */
#copyright
{
	padding-top:2em;
	margin:30px;
	text-align:center;
	clear:both;
	font-size:small;
	color:#555;
}
.Top100Head
{
	font-size:12px;
	color:#ccc;
	background-color:#980000;
}
.Top100Head .AttributeTitle
{
	float:left; 
	padding-top:20px; 
	text-align:center
}
.LeftSide
{
	max-width:630px;
	width:630px;
	float:left;
	margin-top:10px;
	padding-left:10px;
	line-height: 20px;
	font-size: 0.8em;		
}
.HighlightsHeader
{
	border-bottom: solid 1px #980000;
}
.LeftSide img
{
	padding:5px;
}
.LeftSide .Pictures
{
	max-width:630px;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top:dotted 1px #ccc;
}
.Comments
{
	font-weight:bold;
	font-size:1.2em;
	border-bottom:solid 1px #980000;
}
.CommentHeader
{
	margin-top:1em;
	font-size:0.9em;
	font-weight:bold;
	border-bottom:dotted 1px #ccc;
}
.Comment
{
	font-size:0.9em;
}
h4
{
	border-bottom:solid 1px #ccc;
}
h5
{
	border-bottom:solid 1px #980000;
}
#h1Additional
{
	font-size:12px;
	color:#ccc;
	height:40px; 
	clear:both;
	background-color:#980000;
}
#AZ_Alphabet
{
	margin:5px;
}
#AZ_Alphabet div
{
	width:23px;
	text-align:center;
	float:left;
}
#AZ_Alphabet A
{
	width:23px;
	display:block;
	text-align:center;
	float:left;
	padding-bottom:2px;
	color:White;
}
#AZ_Alphabet A:hover
{
	background-color:White;
	color:Black
}
.AZ_CountriesCombo
{
	background-color: #980000; 
	color:White;
}
#AZ_Alphabet .selectedLetter
{
	background-color: White; 
	color:Black;
	padding-bottom:2px;
}
.SearchHeader
{
	padding-top:2em;
	padding-bottom:0.3em;
	font-size:1.1em;
	font-weight:bold;
}
.BottomContextLinks
{
	background-color:#eee;
	border-top:solid 1px #ccc;
	border-bottom:solid 1px #999;
	height:25px;
	padding-top:5px;
	margin-top:1.5em;
	margin-bottom:2em;
}
.BottomContextLinks A
{
	padding: 0 10px 0 10px;
}