@charset "utf-8";
/* Pengpeng Global v2.0 CSS Document - 12.06.01 */
@import "ui.css?20160302";


/************************************************** 全局样式 **************************************************/

body, form, img, ul, ol, li, dl, dt, dd, table, th, td, p, h1, h2, h3, h4, h5, h6{margin:0; padding:0;}
body{color:#181818; font-size:14px; font-family:Arial, Helvetica, sans-serif; background-color:#fff;}
ul, li{list-style-type:none; l}
img{vertical-align:middle; border:none;}
p { word-break:break-all; word-wrap:break-word;}
h5 { font-size:12px; font-weight:normal;}
a{color:#5E5E5E;text-decoration:none;}
a:hover{text-decoration:none;}
pre { padding:0; margin:0;}
i,em { font-style:normal;}
.link_ul a:hover{ text-decoration:underline;}


/* 链接
----------------------------------*/
a{color:#5E5E5E; text-decoration:none; outline:none; hlbr:expression(this.onFocus=this.blur());}

/* 控制浮动、对齐
----------------------------------*/
.fl_l{float:left;}
.fl_r{float:right;}
.fl_clear{clear:both;}
.clear_r{clear:right;}
.clear_l{clear:left;}
.clear_li{height:1px; clear:both; float:left;}
.blank_0{clear:both;content:' ';display:block;font-size:0;line-height:0;width:0;height:0;visibility:hidden;zoom:0.02;}
.blank_5{clear:both;display:block;overflow:hidden;height:5px;font-size:5px;}

.al_l{text-align:left;}
.al_r{text-align:right;}
.al_c{text-align:center; }

.block5{margin:0;padding:0; height:5px; overflow:hidden;clear:both}
.block6{margin:0;padding:0; height:6px; overflow:hidden;clear:both}
.block8{margin:0;padding:0; height:8px; overflow:hidden;clear:both}
.block10{margin:0;padding:0; height:10px; overflow:hidden;clear:both}
.block12{margin:0;padding:0; height:12px; overflow:hidden;clear:both}
.block15{margin:0;padding:0; height:15px; overflow:hidden;clear:both}
.block30{margin:0;padding:0; height:30px; overflow:hidden;clear:both}


/* 按钮样式
----------------------------------*/
.botNew {height:29px;  display: inline-block; background:url(../../images/bottom_bg.png) no-repeat 0 0;font-size:14px; font-weight:bold; line-height:29px;text-align:center; cursor:pointer;}
.botNew:hover { text-decoration:none;}
/*绿色宽*/
.botGreW{ height:29px; width:97px;  color:#FFF; font-size:14px; font-weight:bold; line-height:29px; text-align:center; margin-left:8px;}
.botGreW:hover{ background-position:0 -40px;}
/*绿色窄*/
.botGrW{ width:67px; background-position:0 -80px; color:#fff;margin-left:8px;}
.botGrW:hover{ background-position:0 -117px;}
/*灰色窄*/
.botGre{ width:67px; background-position:0 -400px; color:#7f7f7f;margin-left:8px;}
.botGre:hover{ background-position:0 -440px;}
/*灰色宽*/
.botGraW{ width:97px; background-position:0 -320px; color:#7f7f7f;margin-left:8px;}
.botGraW:hover{ background-position:0 -360px;}
/*橙色窄*/
.botOra{ width:67px; background-position:0 -240px; color:#FFF; margin-left:8px;}
.botOra:hover{ background-position:0 -280px; color:#fff;}
/*橙色宽*/
.botOraW{ width:97px; background-position:0 -160px; color:#FFF; margin-left:8px;}
.botOraW:hover{ background-position:0 -200px;}

/*按钮
-------------------------------*/
.bot_pingb { display: inline-block; height:50px; padding:0 18px;  font-size:18px; line-height:50px; text-align:center;  color:#FFF; font-family:"Microsoft Yahei",Tahoma,Geneva;background:#ff7052; border-radius:6px;}
.bot_pingb:hover { background:#ef4522;}

/*按钮实心小-橘
-------------------------------*/
.bot_pingbS { display: inline-block; height:27px; padding:0 12px; font-size:14px; line-height:27px; text-align:center; color:#FFF; font-family:"Microsoft Yahei",Tahoma,Geneva;background:#ff7052; border-radius:6px;}
.bot_pingbS:hover { background:#ef4522;}
/*按钮实心小-黄
-------------------------------*/
.bot_pingbS_h { display: inline-block; height:27px; padding:0 12px; font-size:14px; line-height:27px; text-align:center; color:#FFF; font-family:"Microsoft Yahei",Tahoma,Geneva;background:#FFB96D; border-radius:6px;}
.bot_pingbS_h:hover { background:#FF9B2F;}
/*按钮实心小-蓝
-------------------------------*/
.bot_pingbS_l { display: inline-block; height:27px; padding:0 12px; font-size:14px; line-height:27px; text-align:center; color:#FFF; font-family:"Microsoft Yahei",Tahoma,Geneva;background:#59C1C2; border-radius:6px;}
.bot_pingbS_l:hover { background:#48AFB0;}


/*按钮空心-橘
-------------------------------*/
.bot_pingbSK { display: inline-block; height:25px;padding:0 12px;  font-size:14px; line-height:25px;border-radius:6px; text-align:center; font-family:"Microsoft Yahei",Tahoma,Geneva;border: 1px solid #ff7052;background: #FFF;color: #ff7052;}
.bot_pingbSK:hover { border:1px solid #ff7052; background:#ff7052; color:#FFF;} 

/*按钮空心-蓝
-------------------------------*/
.bot_pingbSK_l { display: inline-block; height:25px;padding:0 12px;  font-size:14px; line-height:25px;border-radius:6px; text-align:center; font-family:"Microsoft Yahei",Tahoma,Geneva;border: 1px solid #CAE8E8;background: #FFF;color: #118586;}
.bot_pingbSK_l:hover { border:1px solid #CAE8E8; background:#eaffff; color:#118586;} 

/*按钮
-------------------------------*/
.bot_sixin { display: inline-block; height:20px;line-height:20px; width:58px; border:1px solid #989898;  font-size:12px;  text-align:center; color:#7c7c7c; font-family:"Microsoft Yahei",Tahoma,Geneva;background:#FFF; border-radius:6px;}
.bot_sixin:hover {border:1px solid #989898; background:#ff7052; color:#FFF;}


.playall-btn{display:inline-block; font-family:"Microsoft Yahei",Tahoma,Geneva;width:auto; height:36px; line-height:36px; background:url(../../images/re_bg01.jpg) repeat-x left bottom;border:1px solid #5c5c5c;margin:0; padding:0 10px; text-align:center; text-decoration:none; background-color:#fff; vertical-align:middle; cursor:pointer;}
span.i-btn input{border:none; cursor:pointer; padding:0 10px;height:25px; line-height:25px;font-size:14px; background:url(../../images/re_bg01.jpg) repeat-x left bottom;}
span.i-btn{border:1px #BFBFBF solid; padding:0; background:none; margin:0 2px;}

.new_ora { height:39px;  width:100%; border:1px solid #FF6F51; background:#FF6F51; border-radius:6px; float:right; text-align:center; line-height:41px; font-size:16px; font-family:"Microsoft Yahei",Tahoma,Geneva;color:#FFF;font-weight:bold; float:left; }
.new_ora:hover { background:#ef4522;}

.new_gra { height:39px;  width:100%; border:1px solid #E8E8E8; background:#FFF; border-radius:6px; float:right; text-align:center; line-height:41px; font-size:16px; font-family:"Microsoft Yahei",Tahoma,Geneva;color:#939393;font-weight:bold; float:left; }
.new_gra:hover { color:#505050;}

.new_kong { height:39px;  width:145px; border:1px solid #FF6F51; background:#FFF; border-radius:6px; float:right; text-align:center; line-height:41px; font-size:16px; font-family:"Microsoft Yahei",Tahoma,Geneva;color:#FF6F51;font-weight:bold; float:left; }
.new_kong:hover { background:#FF6F51; color:#FFF;}
/* 栏目块
----------------------------------*/
.col_l{float:left;}
.col_m{float:left; margin:0 15px;}
.col_r{float:right;}

.col_100{width:100%;}
.col_1100{width:1100px; margin:0 auto;}
.col_210{width:210px;}
.col_250{width:250px;}
.col_240{width:240px;}
.col_310{width:310px;}
.col_340{width:340px;}
.col_365{width:365px;}
.col_580{width:580px;}
.col_686{width:686px;}
.col_695{width:695px;}
.col_700{width:700px;}
.col_710{width:710px;}
.col_780{width:780px;}
.col_960{width:960px;}
.col_688{width:688px;}
.col_263{width:263px;}
.col_cen{ float:left; padding-left:15px;}

/* 文字大小
----------------------------------*/
.f_12{font-size:12px;}
.f_14{font-size:14px;}
.f_16{font-size:16px;}
.f_18{font-size:18px;}
.f_20{font-size:20px;}
.f_24{font-size:24px;}
.f_32{font-size:32px;}
.f_yh{font-family:"Microsoft Yahei",Tahoma,Geneva;}
.f_bd{ font-weight:bold;}

/* 文字颜色
----------------------------------*/
.f_white{color:#fff;}
.f_black{color:#000;}
.f_red{color:#e60012;}
.f_blue{color:#0088de;}
.f_orange{color:#ff7200;}
.f_green{color:#0f820d;}
.f_yellow{ color:#fffda7;}
.f_33{ color:#333;}
.f_5e{ color:#5E5E5E;}
.f_9b{ color:#9B9B9B;}
.f_76{ color:#767676;}

.f_uline{ text-decoration:underline;}

.mlr5{ margin:0 5px;}
.mlt5{ margin-bottom:5px;}
.mlr10{ margin:0 10px;}
.ml10{ margin:0 0 0 10px;}
.mtb10{ margin:10px 0;}
.ptb5{ padding:5px 0;}
.plr5{ padding:0 5px;}
.pt20{padding:20px 0 0 0;}
/* 头部
----------------------------------*/
.headys .head_tp { border-bottom:1px solid #d5d5d5; background:#f2f2f2;}
.headys .head_tpin { height:32px; width:1100px; margin:0 auto; line-height:32px;}
.headys .head_tpin .link_id { display:block; float:left; height:32px; padding-left:26px; background:url(../../images/zc_ys/head_tp.png) no-repeat 0px 7px;}
.headys .head_tp a { color:#949393;}
.headys .head_tp a:hover { color:#e60012;}
.headys .nav_r { color:#949393; float:right; height:32px;}
.headys .nav_r a { color:#949393; display:inline-block; }
.headys .nav_r i { color:#d8d8d8; display:inline-block; padding:0 8px;}

.headys .nav_tap  { float:right; height:32px; padding-left:28px;}
.headys .nav_tap li  { float:left; height:32px; width:32px; position:relative;}
.headys .nav_tap li.on a  {background:#FFF url(../../images/zc_ys/head_tp.png) 3px -47px no-repeat; border:1px solid #E6E6E6; z-index:9999; margin-bottom:-1px; height:32px; width:30px;}
.headys .nav_tap li a  { display:block; height:32px; width:32px; margin:0 auto; background:url(../../images/zc_ys/head_tp.png) 4px -46px no-repeat; margin-right:0px;}
.headys .nav_tap li.li02 a { background-position:4px -96px;}
.headys .nav_tap .li02.on a  { background-position:3px -97px;}
.headys .nav_tap li .list   { display:none; position:absolute;border:1px solid #E6E6E6;z-index:99999; right:0;}
.headys .nav_tap li .list p{ text-align:center; margin-top:5px; line-height:22px;}
.headys .nav_tap li .list .list_in  {height:auto; width:95px; padding:8px; background:#Fff; margin-top:-1px;z-index:99999999;}
.headys .nav_tap li .list .list_in a { display: block; height:25px; width:75px; margin:0 auto; line-height:28px; background:#ea544a; color:#FFF; border-radius:5px; font-size:12px; border:none; text-align:center;}



.headys {width:100%; background:url(../../images/2015home/pub_bg.png) 0 113px repeat-x;}
.headys .xiala { z-index:111;}
.headys .head_in { height:80px; width:1100px; margin:0 auto; border-bottom:4px solid #E60012; }
.headys .logo { height:80px; width:193px;float:left;}
.headys .logo a { display:block; height:60px; margin:20px 0 0 10px; width:183px;  line-height:400px; overflow:hidden; background:url(../../images/zc_ys/zclogo.png) no-repeat;}
.headys .load {height:80px; width:150px;  float:right;}
.headys .load_in {height:70px; width:70px; padding:10px 0 0 0; float:right; line-height:70px;}
.headys .load_in span.shu { padding:0 5px;}
.headys .loaded { width:260px; float:right;height:65px; padding-top:15px; position:relative; }
.headys .loaded .loaded_in2 { width:120px;float:right;}
.headys .loaded .loaded_in2 a.firstA {padding-right:26px; height:65px; display:block; line-height:65px; font-family:"宋体"; font-size:14px;  background:url(../../images/2015home/pub_bg.png) no-repeat -80px -671px; text-overflow: ellipsis;overflow: hidden;white-space: nowrap; text-align: center;}
.headys .loaded .loaded_in2.on .firstA { background-position: 100px -671px;  }
.headys .loaded .loaded_in2.on { background:url(../../images/2015home/pub_bg.png) no-repeat 41px -733px}
.headys .loaded .loaded_in2 div.list  { display:none; width:129px; margin-left:-13px; margin-top:4px;border:1px solid #E5E5E5;border-bottom:none;}
.headys .loaded .loaded_in2 div.list a { font-size:15px; display:block; width:129px; text-align:center; height:33px; line-height:33px; border-bottom:1px solid #E5E5E5; background:#f5f5f5;font-family:"Microsoft Yahei",Tahoma,Geneva; }
.headys .loaded .loaded_in2 div.list a:hover { color:#e60012; background:#FFF;}
.headys .loaded .loaded_in2 div.list a i { padding:0 2px; font-weight:bold;}

.headys .nav {height:80px; width:600px; padding-left:6px; float:left;}
.headys .nav a {font-family:"Microsoft Yahei",Tahoma,Geneva;}
.headys .nav ul { height:65px; padding-top:15px; position:relative;}
.headys .nav .menu { width:120px; text-align:center; float:left; margin:0px; padding:0 12px 0 0; position:relative;  }
.headys .nav .menu .new { display:block; position:absolute;  width:29px; height:10px; background:url(../../images/index/new.png); right:5px; top:12px;}
.headys .nav .menu .firstA { display:block; height:65px; line-height:65px;  font-size:18px; overflow:hidden; }
.headys .nav .menu a:hover { color:#e60012;}
.headys .nav .menu.active a { color:#e60012;}



/* 头部
----------------------------------*/
.header {width:100%; background:url(../../images/2015home/pub_bg.png) 0 80px repeat-x;}
.header .xiala { z-index:111;}
.header .head_in { height:80px; width:1100px; margin:0 auto; border-bottom:4px solid #E60012; }
.header .logo { height:80px; width:150px;float:left;}
.header .logo a { display:block; height:60px; margin:20px 0 0 10px; width:140px;  line-height:400px; overflow:hidden; background:url(../../images/2015home/logo.png) no-repeat;}
.header .load {height:80px; width:150px;  float:right;}
.header .load_in {height:70px; width:70px; padding:10px 0 0 0; float:right; line-height:70px;}
.header .load_in span.shu { padding:0 5px;}

.header .loaded { width:260px; float:right;height:65px; padding-top:15px; position:relative; }
.header .loaded .loaded_in1{ width:80px; float:right;}
.header .loaded .loaded_in1 .firstA{ padding-left:40px; height:65px; display:block; line-height:65px; font-family:"宋体"; font-size:14px;  background:url(../../images/2015home/pub_bg.png) no-repeat 13px -825px; text-overflow: ellipsis;overflow: hidden;white-space: nowrap; text-align:left; color:#9b9b9b;}
.header .loaded .active .firstA{ background-position:-167px -825px; color:#e60012;}

.header .loaded .loaded_in2 { width:120px;float:right;}
.header .loaded .loaded_in2 a.firstA {padding-right:26px; height:65px; display:block; line-height:65px; font-family:"宋体"; font-size:14px;  background:url(../../images/2015home/pub_bg.png) no-repeat -80px -671px; text-overflow: ellipsis;overflow: hidden;white-space: nowrap; text-align: center;}
.header .loaded .loaded_in2.on .firstA { background-position: 100px -671px;  }
.header .loaded .loaded_in2.on { background:url(../../images/2015home/pub_bg.png) no-repeat 41px -733px}
.header .loaded .loaded_in2 div.list  { display:none; width:129px; margin-left:-13px; margin-top:4px;border:1px solid #E5E5E5;border-bottom:none;}
.header .loaded .loaded_in2 div.list a { font-size:15px; display:block; width:129px; text-align:center; height:33px; line-height:33px; border-bottom:1px solid #E5E5E5; background:#f5f5f5;font-family:"Microsoft Yahei",Tahoma,Geneva; }
.header .loaded .loaded_in2 div.list a:hover { color:#e60012; background:#FFF;}

.header .nav {height:80px; width:600px; padding-left:6px; float:left;}
.header .nav a {font-family:"Microsoft Yahei",Tahoma,Geneva;}
.header .nav ul { height:65px; padding-top:15px; position:relative;}
.header .nav .menu { width:80px; text-align:center; float:left; margin:0px; padding:0 12px 0 0;  }
.header .nav .menu .firstA { display:block; height:65px; line-height:65px;  font-size:18px; overflow:hidden; }
.header .nav .menu2.on { background:url(../../images/2015home/pub_bg.png) no-repeat 36px -733px}
.header .nav .menu2 .firstA { display:block; height:65px; line-height:65px;  font-size:18px; overflow:hidden; background:url(../../images/2015home/pub_bg.png) no-repeat -120px -671px;  }
.header .nav .menu2.on .firstA { background-position: 60px -671px;  }
.header .nav .menu2 div.list  { display:none; width:129px; margin-left:-23px; margin-top:4px;border:1px solid #E5E5E5;border-bottom:none;}
.header .nav .menu2 div.list a { font-size:15px; display:block; width:129px; height:33px; line-height:33px; border-bottom:1px solid #E5E5E5; background:#f5f5f5; }
.header .nav .menu2 div.list a:hover { color:#e60012; background:#FFF;}



/* 边框
----------------------------------*/
.bor_e5e { border:1px solid #e5e5e5;}
.bor_dcd { border:1px solid #dcdcdc;}

.table_border1{width:100%;margin: 0 auto;border-collapse: collapse;border-spacing: 0;}
.table_border1 td{border:1px solid #ccc;padding:5px;line-height:25px; color:#7f7f7f; background:#FFF;}
.table_border1 .tabHead { font-size:16px; font-family:"微软雅黑"; color:#181818;}
.table_border1 .tabList li {margin: 25px 30px 5px 30px;}
.table_border1 thead{background:#f7f7f7;color:#7f7f7f;text-align:center;}
.table_border1 thead td {background:#f7f7f7;}
.table_border3{margin:0 10px;border-collapse: collapse;border-spacing: 0;}
.table_border3 td{border:1px solid #ccc;padding:0 10px;line-height:25px;}
.table_border3 thead{background:#f7f7f7;color:#7f7f7f;text-align:center;}
.table_border2{width: 100%;margin: 0 auto 10px auto;border-collapse: collapse;border-spacing: 0;}
.table_border2 thead{background:#fec51a;color:#5d4601;text-align:center;}
.table_border2 thead td{border:1px solid #a87e00;}
.table_border2 td{border:1px solid #ccc;padding:0 5px;line-height:25px;text-align:center;}


/* 分页器
----------------------------------*/
.paginator{clear:both; line-height:24px; padding:5px 0; color:#181818; font-weight:bold; text-align:center;}
.paginator span{height:24px; line-height:24px;}
.paginator a{display:inline-block; height:24px; line-height:24px; padding:0 8px; color:#999; text-decoration:none; vertical-align:middle; background-color:#fff; border:1px #999 solid;}
.paginator a:hover{text-decoration:none; color:#fff; background-color:#181818; border:1px #181818 solid;}
.paginator .this-page{display:inline-block; padding:0 10px; color:#fff; vertical-align:middle; background-color:#181818; border:1px #181818 solid;}

/*固定块
----------------------------------*/
.mouseover{ position:relative;}
.mouseover .con{height:27px;line-height:27px;position:absolute; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; bottom:0; left:0; z-index:1; width:100%; }
.mouseover .con > a,.mouseover .con > span{text-overflow:ellipsis; overflow:hidden;color:#fff;height:27px;line-height:27px; width:100%; display:block; text-indent:5px;background:#181818;-moz-opacity:0.7; opacity:0.7; filter:alpha(opacity=70);}
.mouseover .con label{text-overflow:ellipsis; overflow:hidden;color:#fff;height:27px;line-height:27px; width:100%; display:block; text-indent:5px; position:absolute;top:0;left:0;}
.mouseover .con a:hover{color:#fff;-moz-opacity:0.8; opacity:0.8; filter:alpha(opacity=80);}
.mouseover .con a:hover .play{*filter:alpha(opacity=80);}


.list_dot li { height:25px; padding-left:18px; background:url(../../images/2015home/dot.png) no-repeat 6px 12px;}
.list_dot li a { line-height:25px;} 

.dian  { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; display: block; }
.t_sp { display:inline-block; height:18px; width:18px; background:#FFA318; font-size:14px; font-weight:bold; text-align:center; line-height:18px; color:#FFF; margin-right:5px; border-radius:9px;}

.mini-footer{clear:both; width:960px; height:84px; margin:0 auto; padding:5px 0; color:#666; text-align:center; background-color:#fff; border-top:1px #ddd solid;}
.mini-footer { width:100%;}
.mini-footer ul{margin:0 auto;}
.mini-footer ul li{display:inline; margin-right:10px; line-height:25px;}
.mini-footer ul li a{color:#666; text-decoration:underline;}
.mini-footer p{line-height:24px;}


<!--各种弹框-->
.dia_fgw  { width:312px; height:;padding:10px 0px; margin:0 auto}
.dia_fgw  p.top_p { height:20px; line-height:20px; padding-top:10px; color:#5F5F5F;}
.dia_fgw  p.top_ph { line-height:20px; padding:10px 0; color:#939393;padding-bottom:10px; font-size:14px}
.dia_fgw  p.p_asklink { padding-top:10px;}
.dia_fgw  p.p_asklink .t_sp { line-height:22px; background:#D5D5D5;}
.dia_fgw  p.bot_p { padding-bottom:10px;}
.dia_fgw  p.inp { padding:6px 0;  overflow:hidden;}
.dia_fgw  p.pts { margin-top:-5px; padding-bottom:5px;}
.dia_fgw  p.spbold { padding:4px 0;  }
.dia_fgw  p.psuccess { padding:45px 0; text-align:center;  }
.dia_fgw  p.spgray { padding:4px 0; line-height:19px;}
.dia_fgw  p.inp input { height:39px; width:298px; padding:0 6px 0 6px; line-height:39px; color:#939393; font-size:14px; border:1px solid #CCC;  }
.dia_fgw  p.inp_dx input {  width:157px; float:left;}
.dia_fgw  p.inp_dx .yzm { height:41px;  width:120px; float:right; background:#CCC;}
.dia_fgw p.inp_dx .yzm img { height:41px;  width:120px; }
.dia_fgw p.inp_dx .bot { height:39px;  width:118px; border:1px solid #FF6F51; border-radius:6px; float:right; text-align:center; line-height:41px; font-size:16px; font-family:"Microsoft Yahei",Tahoma,Geneva;color:#FF6F51;font-weight:bold; }
.dia_fgw p.inp_dx .bot01 { height:39px;  width:145px; border:1px solid #FF6F51; background:#FF6F51; border-radius:6px; float:right; text-align:center; line-height:41px; font-size:16px; font-family:"Microsoft Yahei",Tahoma,Geneva;color:#FFF;font-weight:bold; float:left; }
.dia_fgw p.inp_dx .bot02 { height:39px;  width:145px; border:1px solid #E0E0E0; border-radius:6px; float:right; text-align:center; line-height:41px; font-size:16px; font-family:"Microsoft Yahei",Tahoma,Geneva;color:#939393;font-weight:bold; float:right;}
.dia_fgw p.inp_dx .csbot {  border:1px solid #e0e0e0; background:#e0e0e0;  color:#767676; }
.dia_fgw p.inp_mm input { background-position:8px -150px;}
.dia_fgw .dxp { height:33px; font-size:14px; line-height:33px;font-family:"Microsoft Yahei",Tahoma,Geneva;color:#505050;}
.dia_fgw .dxp label { margin-right:27px; }
.dia_fgw .dxp input { height:19px;vertical-align:text-top;margin-top:0;}
.dia_fgw .botp  { padding:14px 0;  }
.dia_fgw .botp a { width:144px;  }
.dia_fgw .botp a.new_gra { float:right;}


.dia_sj01 .botp a { width:100%; }
.dia_sj03 .botp a { width:100%; }
.dia_sj02 .botp a.fl-r { float:right;}

.dia_fgw .con_box { margin:0 auto; width:auto; width:312px; padding:10px 0px 10px 0;}
.dia_fgw .con_box .stap { float:right; position:relative; width:122px; height:50px; margin-left:-0px;}
.dia_fgw .con_box .stap.first { width:60px;}

.dia_fgw .con_box .stap span { display:block; position: absolute;}
.dia_fgw .con_box .stap .sp01 { background:#DDE1E7; height:2px; width:120px; right:38px; top:38px;}
.dia_fgw .con_box .stap .sp02 { height:16px; width:16px; border:2px solid #FFF;right:22px; top:28px; border-radius:9px; background:#D5D5D5; text-align:center; line-height:34px; color:#373737; font-size:16px; font-family:Arial, Helvetica, sans-serif; font-weight:bold;}
.dia_fgw .con_box .stap .sp03 { width:60px; height:32px; line-height:32px; right:5px; top:0px; color:#939393; text-align:center; font-size:12px;}
.dia_fgw .con_box .stap.hover .sp01  { background:#FF6F51;}
.dia_fgw .con_box .stap.hover .sp02  { background:#FF6F51; color:#FFF; border-color:#FFF;}
.dia_fgw .con_box .stap.hover .sp03  { color:#FF6F51;}
.dia_fgw p.inp_dx .bot_ds { font-size:12px; font-weight:normal;}
.dia_fgw p.tsp { color:#E50012; line-height:18px; padding:0;}
.dia_fgw p.inp_sj { position:relative;}
.dia_fgw p.inp_sj .ip_sj_lab { position:absolute; left:8px; height:39px; line-height:39px; top:8px;color: #939393;font-size: 14px; z-index:9999999;}









/**提示框**/
.zeng_msgbox_layer,
.zeng_msgbox_layer .gtl_ico_succ,
.zeng_msgbox_layer .gtl_ico_fail,
.zeng_msgbox_layer .gtl_ico_hits,
.zeng_msgbox_layer .gtl_ico_clear,
.zeng_msgbox_layer .gtl_end{display:inline-block;height:54px;line-height:54px;font-weight:bold;font-size:14px;color:#606060;background-image:url("http://assets.pengpeng.com/images/gb_tip_layer.png");_background-image:url("http://assets.pengpeng.com/images/gb_tip_layer_ie6.png");background-repeat:no-repeat;}
.zeng_msgbox_layer_wrap{width:100%;position:fixed;_position:absolute;top:46%;left:0;text-align:center;z-index:2147483646;}
.zeng_msgbox_layer{background-position:0 -161px;background-repeat:repeat-x;padding:0 18px 0 9px;margin:0 auto;position:relative;}
.zeng_msgbox_layer .gtl_ico_succ{background-position:-6px 0;left:-45px;top:0;width:45px;position:absolute;}
.zeng_msgbox_layer .gtl_end{background-position:0 0;position:absolute;right:-6px;top:0;width:6px;}
.zeng_msgbox_layer .gtl_ico_fail{background-position:-6px -108px;position:absolute;left:-45px;top:0;width:45px;}
.zeng_msgbox_layer .gtl_ico_hits{background-position:-6px -54px;position:absolute;left:-45px;top:0;width:45px;}
.zeng_msgbox_layer .gtl_ico_clear{background-position:-6px 0;left:-5px;width:5px;position:absolute;top:0;}
.zeng_msgbox_layer img{float:left;margin:19px 10px 0 5px ;}


/*众筹分享*/
.zhangz_share { display:block; }
.zhangz_share a { display: inline-block; height:26px; width:27px; background: url(../../images/my_space/u15.png) no-repeat;  }
.zhangz_share a.a1 { background-position: 3px 3px;}
.zhangz_share a.a2 { background-position: -22px 3px;}
.zhangz_share a.a3 { background-position: -47px 3px;}
.zhangz_share a.a4 { background-position: -72px 3px;}
.zhangz_share a.a5 { background-position:-97px 3px;}
.zhangz_share a.a6 { background-position:-122px 3px;}
















