@charset "utf-8";
/* Index CSS Document -11.10.11 */


/* 头部
----------------------------------*/
.header {width:100%; background:url(../../images/2015home/pub_bg.png) 0 80px repeat-x;}
.header .xiala { z-index:111;}
.header .head_in { height:80px; width:1100px; margin:0 auto; border-bottom:4px solid #E60012; }
.header .logo { height:80px; width:150px;float:left;}
.header .logo a { display:block; height:60px; margin:20px 0 0 10px; width:140px;  line-height:400px; overflow:hidden; background:url(../../images/2015home/logo.png) no-repeat;}
.header .load {height:80px; width:150px;  float:right;}
.header .load_in {height:70px; width:70px; padding:10px 0 0 0; float:right; line-height:70px;}
.header .load_in span.shu { padding:0 5px;}

.header .loaded { width:260px; float:right;height:65px; padding-top:15px; position:relative; }
.header .loaded .loaded_in1{ width:80px; float:right;}
.header .loaded .loaded_in1 .firstA{ padding-left:40px; height:65px; display:block; line-height:65px; font-family:"宋体"; font-size:14px;  background:url(../../images/2015home/pub_bg.png) no-repeat 13px -825px; text-overflow: ellipsis;overflow: hidden;white-space: nowrap; text-align:left; color:#9b9b9b;}
.header .loaded .active .firstA{ background-position:-167px -825px; color:#e60012;}

.header .loaded .loaded_in2 { width:120px;float:right;}
.header .loaded .loaded_in2 a.firstA {padding-right:26px; height:65px; display:block; line-height:65px; font-family:"宋体"; font-size:14px;  background:url(../../images/2015home/pub_bg.png) no-repeat -80px -671px; text-overflow: ellipsis;overflow: hidden;white-space: nowrap; text-align: center;}
.header .loaded .loaded_in2.on .firstA { background-position: 100px -671px;  }
.header .loaded .loaded_in2.on { background:url(../../images/2015home/pub_bg.png) no-repeat 41px -733px}
.header .loaded .loaded_in2 div.list  { display:none; width:129px; margin-left:-13px; margin-top:4px;border:1px solid #E5E5E5;border-bottom:none;}
.header .loaded .loaded_in2 div.list a { font-size:15px; display:block; width:129px; text-align:center; height:33px; line-height:33px; border-bottom:1px solid #E5E5E5; background:#f5f5f5;font-family:"Microsoft Yahei",Tahoma,Geneva; }
.header .loaded .loaded_in2 div.list a:hover { color:#e60012; background:#FFF;}

.header .nav {height:80px; width:600px; padding-left:6px; float:left;}
.header .nav a {font-family:"Microsoft Yahei",Tahoma,Geneva;}
.header .nav ul { height:65px; padding-top:15px; position:relative;}
.header .nav .menu { width:80px; text-align:center; float:left; margin:0px; padding:0 12px 0 0;  }
.header .nav .menu .firstA { display:block; height:65px; line-height:65px;  font-size:18px; overflow:hidden; }
.header .nav .menu2.on { background:url(../../images/2015home/pub_bg.png) no-repeat 36px -733px}
.header .nav .menu2 .firstA { display:block; height:65px; line-height:65px;  font-size:18px; overflow:hidden; background:url(../../images/2015home/pub_bg.png) no-repeat -120px -671px;  }
.header .nav .menu2.on .firstA { background-position: 60px -671px;  }
.header .nav .menu2 div.list  { display:none; width:129px; margin-left:-23px; margin-top:4px;border:1px solid #E5E5E5;border-bottom:none;}
.header .nav .menu2 div.list a { font-size:15px; display:block; width:129px; height:33px; line-height:33px; border-bottom:1px solid #E5E5E5; background:#f5f5f5; }
.header .nav .menu2 div.list a:hover { color:#e60012; background:#FFF;}


/* 幻灯片
----------------------------------*/

/* slider */
.DB_tab25{width:100%;min-width:1100px;height:400px;position:relative;overflow:hidden;background:#fff;text-align:center; padding-top:5px;}
.DB_tab25 .bd{width:1100px;position:absolute;left:50%;margin-left:-550px}
.DB_tab25 .bd li{width:1100px;overflow:hidden; position:relative;}
.DB_tab25 .bd li p{ position: absolute; width:auto; left:0; bottom:0; height:40px; line-height:40px; background:url(../../images/2015home/bg_p.png) no-repeat right 0; padding:0 72px 0 12px; font-size:18px;font-family:"Microsoft Yahei",Tahoma,Geneva; color:#FFF;}
.DB_tab25 .bd li img{display:block;width:1100px;height:400px;}
.DB_tab25 .tempWrap{overflow:visible !important}
.DB_tab25 .tempWrap ul{margin-left:-1100px !important;}
.DB_tab25 .hd{position:absolute;width:1100px;left:50%;z-index:1;height:15px;bottom:20px;text-align:right; margin-left:-570px;}
.DB_tab25 .hd li{display:inline-block;*display:inline;zoom:1;width:15px;height:15px;line-height:99px;overflow:hidden;background:url(../../images/2015home/btn_off.png) no-repeat;margin:0 5px;cursor:pointer;filter:alpha(opacity=60);opacity:0.6;}
.DB_tab25 .hd li.on{ background:url(../../images/2015home/btn_on.png) no-repeat;}
.DB_tab25 .pnBtn{position:absolute;z-index:1;top:0;width:100%;height:400px;cursor:pointer;z-index:1111;}
.DB_tab25 .prev{left:-50%;margin-left:-550px;}
.DB_tab25 .next{left:50%;margin-left:550px;}
.DB_tab25 .pnBtn .blackBg{display:block;position:absolute;left:0;top:5px;width:100%;height:400px;background:#FFF;filter:alpha(opacity=50);opacity:0.5;}
.DB_tab25 .pnBtn .arrow{display:;position:absolute;top:0;z-index:1;width:80px;height:80px;filter:alpha(opacity=50);opacity:0.5;}
.DB_tab25 .pnBtn .arrow:hover{filter:alpha(opacity=100);opacity:1;}
.DB_tab25 .prev .arrow{right:-100px; top:170px;background:url(../../images/2015home/btn_leftH.png) 0 0px no-repeat; }
.DB_tab25 .next .arrow{left:-100px;top:170px;background:url(../../images/2015home/btn_rightH.png) 0 0px no-repeat;}
/* col_100 公共部分
----------------------------------*/


.col_100 .col_1100  { }
.col_100 .col_1100 .head { height:76px; background:url(../../images/2015home/pub_bg.png) 0 -33px repeat-x; position:relative;}
.col_100 .col_1100 .head .thead { width:188px; height:76px; margin-left:30px; background:#FFF url(../../images/2015home/home_bg.png) no-repeat 8px -259px;}
.col_100 .col_1100 .head .sub_thead { height:50px; padding-top:25px; line-height:50px; width:280px;  position:absolute; right:5px; top:0; color:#5e5e5e; font-size:14px;}
.col_100 .col_1100 .head .sub_thead a{color:#5e5e5e; font-size:16px; float:right;font-family:"Microsoft Yahei",Tahoma,Geneva;}
.col_100 .col_1100 .head .sub_thead i {font-size:16px; padding-right:8px; color:#5e5e5e; float:right;}
.col_100 .col_1100 .head .more a{}
.col_100 .col_1100 .head .more i {font-size:16px; padding-right:8px; color:#9b9b9b;}


.col_1100 .pic_con{width:1100px;margin:0 auto;position:relative;  }
.col_1100 .pic_con .btn_change{width:56px;height:56px;position:absolute;text-indent:-9999px;cursor:pointer; z-index:111; background:url(../../images/2015home/pub_bg.png) no-repeat 0 -410px;}
.col_1100 .pic_con .left_btn{top:155px;left:-28px; display:none;  }
.col_1100 .pic_con .right_btn{top:155px;right:-28px;display:none; background-position:-100px -410px;}
.col_1100 .pic_con .left_btn:hover{ background-position:0px -310px; }
.col_1100 .pic_con .right_btn:hover{ background-position:-100px -310px;}
.col_1100 .pic_con .pic_content{overflow:hidden;height:429px;width:1100px;position:relative;}
.col_1100 .pic_con .pic_lists{float:left;height:429px; width:8888px;overflow:hidden;position:absolute;top:0px;left:0px}
.col_1100 .pic_con .pic_lists ul { height:393px;}





/* 众筹 块
---------------------------------------------*/

.block_zc { width:254px; height:; padding:0;  border:1px solid #ddd; float:left; margin-right:25px; margin-bottom:15px; overflow:hidden; position:relative; background:#FFF;	}
.block_zc .liTop { position:relative; height:254px;}
.block_zc .liTop .liBg { display:block;  position:absolute; left:0; top:0;}
.block_zc .liTop .liBg img { width:254px; height:254px; }
.block_zc .liTx {  height:29px; position:absolute; left:0px; top:0px; z-index:100;text-align:center; line-height:29px; color:#FFF; font-size:16px;font-family:"Microsoft Yahei",Tahoma,Geneva;}
.block_zc .liTx a { color:#FFF;font-size:16px;font-family:"Microsoft Yahei",Tahoma,Geneva;}
.block_zc .liTx .zt { display: inline-block; width:83px; }
.block_zc .liTx .juan {  display: inline-block;height:29px; width:29px; background:#E60012; margin-left:1px; }
.block_zc .tit {  line-height:20px; height:;padding:5px 5px;}
.block_zc .tit a { font-size:14px; color:#0f0f0f;font-family:"Microsoft Yahei",Tahoma,Geneva; display:block; height:28px; line-height:28px;}
.block_zc .tit span { display:block; height:40px; font-size:12px; line-height:19px; height:38px;}
.block_zc .tit a:hover {color:#7c7c7c;}
.block_zc .msg { height:18px; padding:5px; line-height:18px; text-align:right;}
.block_zc .msg span { display:inline-block; margin-left:12px;}
.block_zc .percent { height:5px; margin: 0px 0 0 0; width:100%; background:#D3D6D1;}
.block_zc .percent .prog {height:5px;}
.block_zc .stat { margin:0 auto; padding:8px 0;}
.block_zc .stat span { display:block; float:left; height:45px; width:60px; text-align:center; padding:0px 5px; line-height:22px; color:#9b9b9b;}
.block_zc .stat span.cen { width:98px; border:1px solid #ddd; border-width:0 1px; }
.block_zc .stat span em { font-style:normal; font-size:12px; color:#999;}
.block_zc .stat span font { font-weight:bold; color:#5e5e5e; font-size:14px; }
.block_zc.pNow .zt { background:#24aa98;}
.block_zc.pYr .zt { background:#24aa98;}
.block_zc.pEnd .zt { background:#858585;}
.block_zc.pSuccess .zt { background:#FF8636;}
.block_zc.pNow .prog { background:#24aa98;}
.block_zc.pYr .prog { background:#24aa98;}
.block_zc.pEnd .prog { background:#858585;}
.block_zc.pSuccess .prog { background:#24aa98;}
.block_zc.pYr .stat span.big { width:160px; border:1px solid #ddd; border-width:0 1px 0 0;  }
.block_zc.pYr .stat span.big font {  color:#F00; }
.block_zc.pYr span.cen { width:1px; padding:0;border:1px solid #ddd; border-width:0 1px 0 0;}
.block_02 .block_zc .tit {  line-height:20px; height:25px;padding:30px 5px 5px 5px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.block_02 .block_zc .litxbox { position:absolute; height:67px; width:243px; left:9px; top:214px;z-index:11;}
.block_02 .block_zc .lipic{ display:block; width:62px; height:67px; float:left;}
.block_02 .block_zc .lipic img{ width:60px; height:60px; border:1px solid #929292;}
.block_02 .block_zc .litxbox .litex { display:block; height:26px;line-height:26px; position:absolute; left:72px; bottom:0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width:160px; font-family:"宋体";}
 

/* block_0
----------------------------------*/
.block_01 { background:#FFF;}
.block_01 ul{ margin-right:-25px; padding-top:16px;}

.block_02 { background:#f6f6f6;}
.block_02 ul{ margin-right:-25px; padding-top:16px;}
.block_02 .col_1100 .head .thead { background:#f6f6f6 url(../../images/2015home/home_bg.png) no-repeat 8px -359px; }

/* block_3
----------------------------------*/
.block_03 { background:#f6f6f6; padding-bottom:20px;}
.block_03 ul{ }
.block_03 .col_1100 .head .thead { background:#f6f6f6 url(../../images/2015home/home_bg.png) no-repeat 8px -459px;color:#5e5e5e;}
.block_03 .col_1100 .head .thead a { color:#5e5e5e;}
.block_03 .thbody { margin:16px 0 0px 0;height:312px; width:; padding:9px; border:1px solid #ddd;overflow:hidden; background:#FFF;}
.block_03 .ltft_tap { float:left; }
.block_03 .thbody ul.tabs_01 { float:left; height:312px;}
.block_03 .tabs_01{left:0;z-index:2;width:215px;}
.block_03 .tabs_01 li a { display: block; height:78px; width:215px; background:url(../../images/2015home/pic/tap2_r1.png) no-repeat 0 0; }
.block_03 .tabs_01 li.li2 a{ background:url(../../images/2015home/pic/tap2_r2.png) no-repeat 0 0;}
.block_03 .tabs_01 li.li3 a{ background:url(../../images/2015home/pic/tap2_r3.png) no-repeat 0 0;}
.block_03 .tabs_01 li.li4 a{ background:url(../../images/2015home/pic/tap2_r4.png) no-repeat 0 0;}
.block_03 .tabs_01 li a.current{ background-position:right 0;}
.block_03 .output{width:863px;height:312px;position:relative; float:right; }
.block_03 .output .li_b{position:absolute;width:863px;height:312px;}
.block_03 .output .li_b .left_pic { display:block; float:left; width:568px; height:312px;}
.block_03 .right_list { float:right; height:312px; width:280px;  background:#fff;}
.block_03 .right_list .mouseover { height:150px; width:280px;}
.block_03 .right_list .mouseover img { height:150px; width:280px;}
.block_03 .right_list .list_dot { padding-top:8px;}
.block_03 .right_list .list_dot a:hover { text-decoration:underline;}
.block_03 .right_list p { text-align:center; height:30px; line-height:30px; background:#FAFBFB;}



/* block_4
----------------------------------*/
.block_04 .col_1100 .head .thead {width: 94px;height: 76px; background:#FFF url(../../images/2015home/home_bg.png) no-repeat 8px -559px;color:#5e5e5e;}
.block_04 .col_1100 .head .thead a { color:#5e5e5e;}
.block_04 .thbody { padding:16px 0 20px 0;}
.block_04 .thbody .l_tap {  height:360px;width:383px; margin-right:15px; float:left; border: solid #DDD; border-width:0 1px 1px 1px; position: relative;}
.block_04 .thbody .r_list {height:360px; width:300px; float:right; }
.block_04 .thbody .r_list .sub_thead,.block_04 .thbody .l_tap .sub_thead {overflow:hidden;background:#FFF url(../../images/2015home/home_bg.png) no-repeat;}


.block_04 .thbody .l_tap .sub_thead { height:80px; width:385px; background-position: 0 0; margin-bottom:-19px; position: absolute; left:-1px; top:0;}
.block_04 .thbody .tap_02 .sub_thead {  background-position: 0 -90px;}
.block_04 .thbody .l_tap .sub_thead .p1 { height:32px; line-height:32px; padding-top:10px; color:#3d3d3d; font-size:24px;}
.block_04 .thbody .l_tap .sub_thead .p2 { height:18px;  }
.block_04 .thbody .l_tap .sub_thead .p2.jz { width:310px; margin-left:13px; background:#FFF url(../../images/2015home/jz.png) no-repeat;  }
.block_04 .thbody .l_tap .sub_thead .p2 span {width:25px; text-align:center; line-height:18px;  color:#ffde00; font-size:17px; font-family:Arial, Helvetica, sans-serif;}
.block_04 .thbody .l_tap .sub_thead .p2 .sp1 {padding-left:77px;}
.block_04 .thbody .l_tap .sub_thead .p2 .sp2 {padding-left:25px;}
.block_04 .thbody .l_tap .sub_thead .p2 .sp3 {padding-left:23px;}
.block_04 .thbody .l_tap .sub_thead .p2 .sp4 {padding-left:23px;}
.block_04 .thbody .l_tap .sub_thead p span { display:block; float:left;}
.block_04 .thbody .l_tap .sub_thead .p1 .sp1 { padding-left:18px;  width:62px; }
.block_04 .thbody .l_tap .sub_thead .p1 .sp2 { padding-left:40px; }

.block_04 .thbody .l_tap .con { position:absolute; width:383px; height:290px; overflow:hidden; top:71px; left:0px;}
.block_04 .thbody .l_tap .con li { height:42px; background:#FAFBFB; border-bottom:1px solid #efefef; cursor:pointer;}
.block_04 .thbody .l_tap .con li span { display:block; height:42px; line-height:42px; font-family:"Microsoft Yahei",Tahoma,Geneva; color:#5e5e5e;}
.block_04 .thbody .l_tap .con li.top_li span ,.block_04 .thbody .l_tap .con li.top_li { height:31px; line-height:31px; color:#9a9a9a; font-family:"宋体"; border:none; background:none;}
.block_04 .thbody .l_tap .con li .sp1 { width:65px; float:left; text-align:center;}
.block_04 .thbody .l_tap .con li .sp2 { width:165px;float:left; }
.block_04 .thbody .l_tap .con li .sp3 { width:82px;float:left;  }
.block_04 .thbody .l_tap .con li .sp4 { width:70px; float:right; text-align:center; }
.block_04 .thbody .l_tap .con li .sp4 i { display:block; margin:0 auto; height:23px; width:23px; background:url(../../images/2015home/pub_bg.png) no-repeat 0 -510px; margin-top:10px; }
.block_04 .thbody .l_tap .con li:hover .sp4 i { background-position:-50px -510px;}
.block_04 .thbody .l_tap .con .bot_p { height:43px; line-height:43px; text-align:center; background:#FAFBFB;}

.block_04 .thbody .tap_03 .sub_thead { height:67px; overflow:hidden;background:#FFF url(../../images/2015home/home_bg.png) no-repeat 0 -180px;}
.block_04 .thbody .tap_03 .sub_thead .p1{ height:22px; line-height:22px; padding:28px 0 0 192px;color:#9b9b9b;}
.block_04 .thbody .tap_03 .sub_thead .p1 i {font-size:16px; padding-right:8px; color:#9b9b9b;}

.block_04 .thbody .tap_03 .con { border:1px solid #ddd; border-width:0 1px;}
.block_04 .thbody .tap_03 .con li { border-bottom:1px solid #ddd; width:286px; height:75px; padding:12px 0px 10px 12px; background:#F7F7F7;}
.block_04 .thbody .tap_03 .con li .sp1 { float:left; height:74px; width:84px; }
.block_04 .thbody .tap_03 .con li .sp1 img { height:72px; width:72px;border:1px solid #7D7D7D; }
.block_04 .thbody .tap_03 .con li p { float:left; width:195px;height:23px; }
.block_04 .thbody .tap_03 .con li p.p1 {  line-height:23px;}
.block_04 .thbody .tap_03 .con li p.p3 { padding-top:8px; overflow:hidden;  }
.block_04 .thbody .tap_03 .con li p.p3 span { display:block; height:23px; width:128px; font-size:12px; line-height:23px; float:left;}
.block_04 .thbody .tap_03 .con li p.p3 i { display:block; height:23px; width:23px; float:right; background:url(../../images/2015home/pub_bg.png) -100px -610px; margin-left:6px; cursor:pointer;}
.block_04 .thbody .tap_03 .con li p.p3 i.i1 { background-position:0 -610px;}
.block_04 .thbody .tap_03 .con li p.p3 i.i1:hover { background-position:-50px -610px;}
.block_04 .thbody .tap_03 .con li p.p3 i.i2:hover { background-position:-150px -610px;}




/* block_5
----------------------------------*/
.block_05 .ltft_tap { float:left; height:198px; width:783px; border:1px solid #ddd; overflow:hidden; }
.block_05 .right_list { float:right; height:189px; width:288px;border:1px solid #ddd; overflow:hidden;}
.block_05 .thbody { padding:15px 0 15px 0;}
.block_05 .right_list { padding:9px 0 0 10px;}
.block_05 .right_list li { height:86px; width:135px; padding:0 9px 9px 0; float: left; overflow:hidden;}
.block_05 .right_list li a { display: block; height:86px; width:135px; background:url(../../images/2015home/ad02.png) no-repeat 0 0;}

.block_05 .right_list li.li01 a:hover { background-position:0 0;}
.block_05 .right_list li.li02 a:hover { background-position:0 -90px;}
.block_05 .right_list li.li03 a:hover { background-position:0 -180px;}
.block_05 .right_list li.li04 a:hover { background-position:0 -270px;}
.block_05 .right_list li.li01 a { background-position:-140px 0;}
.block_05 .right_list li.li02 a { background-position:-140px -90px;}
.block_05 .right_list li.li03 a { background-position:-140px -180px;}
.block_05 .right_list li.li04 a { background-position:-140px -270px;}

/* block_6
----------------------------------*/
.block_06 { margin-bottom:15px;}
.block_06 .thbody {  border:1px solid #ddd; padding:9px 9px 9px 80px; background:url(../../images/2015home/link_bg.png) 9px 9px no-repeat;  }
.block_06 .thbody li { float:left; padding-left:22px; }
.block_06 .thbody li a { line-height:25px; color:#7f7f7f; }

/*banner
-------------------------------*/
.banner01 { height:90px; width:1100px; margin:20px auto;}



.OP_btn{ position:fixed; z-index:99999;top:45%;margin-top:-100px;_position:absolute;_top:expression_r(eval_r(document.documentElement.clientHeight/2+document.documentElement.scrollTop)); height:350px; width:120px; background:url(../../images/2015home/l_top.png) no-repeat; right:0;
}

.OP_btn .mainB { margin-top:283px;}
.OP_btn .mainB a { display:block; background:url(../../images/2015home/l_top.png) no-repeat; }
.OP_btn .mainB .a01 { height:32px; margin-bottom:1px; background-position:0 -362px;}
.OP_btn .mainB .a02 { height:32px;margin-bottom:3px;background-position:0 -392px;}
.OP_btn .mainB .a03 { height:34px;background-position:0 -550px;}
.OP_btn .mainB .a01:hover { background-position:0 -422px;}
.OP_btn .mainB .a02:hover { background-position:0 -452px;}
.OP_btn .mainB .a03:hover { height:34px;background-position:0 -500px;}




















