@charset "utf-8";
/* Pengpeng UI v2.0 CSS Document - 12.06.01 */


/************************************************** Utils **************************************************/

/* 栅格
----------------------------------*/
.grid{border-collapse:collapse; border-spacing:0; table-layout:fixed;}

/* 表格
----------------------------------*/
.form{width:97%; margin:0 auto; border-collapse:collapse; border-spacing:0; table-layout:fixed;}
.form tbody th{height:25px; padding:2px 5px; text-align:right; background-color:#f5f5f5; border:1px #fff solid;}
.form tbody td{height:25px; padding:2px 5px; background-color:#fff; border:1px #fff solid;}
.form tfoot td{padding-top:15px;}

/* 表格列表
----------------------------------*/
.form-list{width:97%; margin:0 auto; border-collapse:collapse; border-spacing:0;}
.form-list thead td{height:35px; padding:2px 5px; background-color:#eee; border-bottom:1px #ccc solid;}
.form-list tbody td{height:25px; padding:2px 5px; background-color:#fff; border-bottom:1px #ccc solid;}
.form-list tfoot td{padding-top:15px;}
.form-list tr.odd{background-color:#f5f5f5;}
.form-list tr.even{}
.form-list tr.hover{background-color:#ccc;}

/* 文字列表
----------------------------------*/
.text-list{width:97%; margin:0 auto; line-height:24px;}
.text-list li{text-indent:20px; background:url(../../images/icon/arrow.gif) no-repeat 2px -90px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.text-list dt{float:left; width:80%; text-indent:20px; background:url(../../images/icon/arrow.gif) no-repeat 2px -90px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.text-list dd{float:left; width:20%; color:#666; text-align:right;}

/* 图片&视频列表
----------------------------------*/
.photo-list{margin:0 auto;}
.photo-list li{float:left; text-align:center;}
.photo-list li .cover{display:table-cell;}
.photo-list li .cover i{display:inline-block; height:100%; vertical-align:middle;}
.photo-list li p{height:20px; line-height:20px; margin:0 auto; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}

.photo-pic{position:relative; width:230px; height:100px; margin:0 auto; overflow:hidden;}
.photo-pic img{position:absolute; top:0; left:0;}
.photo-pic .con{position:absolute; bottom:-25px; left:0; z-index:1; width:100%; height:25px; line-height:25px; margin:0 auto; color:#fff; text-indent:5px; background-color:#000; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; -moz-opacity:0.7; opacity:0.7; filter:alpha(opacity=70);}
.photo-pic .con.active{height:auto; text-overflow:clip; white-space:normal; overflow:auto; -moz-opacity:0.8; opacity:0.8; filter:alpha(opacity=80);}

.video-list{margin:0 auto;}
.video-list li{position:relative; float:left; width:150px; height:110px; text-align:center;}
.video-list li p{height:20px; line-height:20px; margin:0 auto; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.video-list li .player{position:absolute; right:25px; bottom:40px; z-index:1; display:block; width:24px; height:24px; background:url(../../images/icon/player.gif) no-repeat; -moz-opacity:0.6; opacity:0.6; filter:alpha(opacity=60);}

/* 64x64 */
.pv-64x64{width:900px;}
.pv-64x64 li{width:90px; height:90px;}
.pv-64x64 li .cover{height:64px;}
.pv-64x64 li p{width:64px;}

/* 110x110 */
.pv-110x110{width:900px;}
.pv-110x110 li{width:150px; height:140px;}
.pv-110x110 li .cover{height:110px;}
.pv-110x110 li p{width:110px;}

/* 120x90 */
.pv-120x90{width:900px;}
.pv-120x90 li{width:150px; height:120px;}
.pv-120x90 li .cover{height:90px;}
.pv-120x90 li p{width:120px;}
.pv-120x90 li .cover img{width:120px;border:0;}

/* 150x150 */
.pv-150x150{width:900px;}
.pv-150x150 li{width:180px; height:180px;}
.pv-150x150 li .cover{height:150px;}
.pv-150x150 li p{width:150px;}

/* 160x120 */
.pv-160x120{width:900px;}
.pv-160x120 li{width:180px; height:150px;}
.pv-160x120 li .cover{height:120px;}
.pv-160x120 li p{width:160px;}

/* 180x135 */
.pv-180x135{width:880px;}
.pv-180x135 li{width:220px; height:165px;}
.pv-180x135 li .cover{height:135px;}
.pv-180x135 li p{width:200px;}

/* 200x150 */
.pv-200x150{width:880px;}
.pv-200x150 li{width:220px; height:180px;}
.pv-200x150 li .cover{height:150px;}
.pv-200x150 li p{width:200px;}

/* 图片组合
----------------------------------*/
.photo-group{width:870px; margin:0 auto;}
.photo-group .cover{position:relative; width:290px;}
.photo-group .cover img{border:1px #ccc solid;}
.photo-group .cover img:hover{border:1px #181818 solid;}
.photo-group .cover p{position:absolute; left:1px; bottom:1px; width:290px; line-height:30px; color:#fff; font-size:14px; font-weight:bold; text-align:center; background-color:#181818; -moz-opacity:0.7; opacity:0.7; filter:alpha(opacity=70);}
.photo-group .cover p a{color:#fff;}
.photo-group .list{width:560px;}
.photo-group .list li{float:left; width:140px; height:117px; text-align:center;}
.photo-group .list li img{border:1px #ccc solid;}
.photo-group .list li img:hover{border:1px #181818 solid;}
.photo-group .list li p{width:120px; line-height:20px; margin:0 auto; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}

/* 分页器
----------------------------------*/
.paginator{clear:both; line-height:24px; padding:5px 0; color:#181818; font-weight:bold; text-align:center;}
.paginator span{height:24px; line-height:24px;}
.paginator a{display:inline-block; height:24px; line-height:24px; padding:0 8px; color:#999; text-decoration:none; vertical-align:middle; background-color:#fff; border:1px #999 solid;}
.paginator a:hover{text-decoration:none; color:#fff; background-color:#181818; border:1px #181818 solid;}
.paginator .this-page{display:inline-block; padding:0 10px; color:#fff; vertical-align:middle; background-color:#181818; border:1px #181818 solid;}

/* 缩略图项
----------------------------------*/
.thumb-item{width:320px; margin:0 auto;}
.thumb-item li{clear:both; height:80px; padding:10px;}
.thumb-item li .img{float:left; border:1px #ccc solid;}
.thumb-item li span{float:left; width:200px; padding-left:10px; line-height:18px;}
.thumb-item li .title{line-height:24px; font-size:14px; font-weight:bold; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}

/* 用户头像
----------------------------------*/
.face{position:relative; padding:3px; font-size:0; background-color:#fff; border:1px #ccc solid; overflow:hidden;}
.face .sign{position:absolute; z-index:1; right:3px; bottom:3px; text-align:right;}
.face .sign span{display:inline-block; margin-left:0; background:url(../../images/icon/face_sign.png) no-repeat;}

/* 48x48 */
.face-s{width:48px; height:48px;}
.face-s .sign{height:13px; line-height:13px;}
.face-s .sign span{width:13px; height:13px;}
.face-s .sign .ico-vip{background-position:0 -30px;}
.face-s .sign .ico-super{background-position:-30px -30px;}
.face-s .sign .ico-admin{background-position:-60px -30px;}

/* 120x120 */
.face-l{width:120px; height:120px;}
.face-l .sign{height:21px; line-height:21px;}
.face-l .sign span{width:21px; height:21px;}
.face-l .sign .ico-vip{background-position:0 0;}
.face-l .sign .ico-super{background-position:-30px 0;}
.face-l .sign .ico-admin{background-position:-60px 0;}

/* IE6升级提示
----------------------------------*/
.ie6-update{height:30px; line-height:20px; padding-top:10px; color:#666; font-size:12px; text-align:center; background-color:#fff9d7;}
.ie6-update a{display:inline-block; color:#fff; height:20px; line-height:20px; margin-left:10px; padding:0 10px; background-color:#0082CB;}

/* 日期控件
----------------------------------*/

/* 日期选择 */
.calendar{position:absolute; z-index:1099; background-color:#ffde00; border:1px #4e6380 solid; visibility:hidden;}
.calendar .body{padding:5px 0;}
.calendar .cal-prev, .calendar .cal-next{background-color:#eee; border:1px #ccc solid;}
.calendar .body table{width:100%; font-size:11px; background-color:#ffde00;}
.calendar .foot{height:25px; line-height:25px; font-weight:bold; text-align:right; border-top:1px #4e6380 solid;}
.calendar .foot span{display:inline-block; padding:0 8px; cursor:pointer;}
.calendar .foot span:hover{background-color:#cdbb40;}

.calendar-text{width:62px; height:24px; line-height:24px; padding:0 20px 0 5px; background:#fff url(../../images/icon/date.gif) 99% no-repeat; border:1px #ccc solid;}
.calendar-text.f-14{width:80px;}

/* 博客日志 */
.calendar-blog{position:absolute; z-index:10; width:250px; line-height:18px; margin:0 auto; color:#666; padding:5px; text-align:center; visibility:hidden; background-color:#fff; border:1px #ccc solid;}
.calendar-blog .head{height:30px;}
.calendar-blog .body{clear:both;}
.calendar-blog .foot{clear:both;}
.calendar-blog table{width:100%; border-collapse:collapse; border-spacing:0;}
.calendar-blog table thead td{height:30px; color:#333; font-size:14px; font-weight:bold;}
.calendar-blog table tbody td{height:30px; font-size:12px; padding:1px; background-color:#f5f5f5; border:1px #fff solid;}
.calendar-blog table tbody td a{display:block; width:100%; height:100%; line-height:30px; color:#fff; font-weight:bold; background-color:#0066CC;}
.calendar-blog .cal-prev, .calendar-blog .cal-next{display:inline-block; width:16px; height:16px; background:url(../../images/component/calendar.png) no-repeat; cursor:pointer;}
.calendar-blog .cal-prev{float:left; background-position:0 0;}
.calendar-blog .cal-prev:hover{background-position:0 -16px;}
.calendar-blog .cal-next{float:right; background-position:-16px 0;}
.calendar-blog .cal-next:hover{background-position:-16px -16px;}
.calendar-blog #idCalendarYear, #idCalendarMonth{padding:0 5px; color:#333; font-size:14px; font-weight:bold;}
.calendar-blog #idCalendar td.onToday{font-weight:bold; color:#C60;}
.calendar-blog #idCalendar td.onSelect{font-weight:bold;}

/* 走马灯
----------------------------------*/
.marquee{margin:0 auto; overflow:hidden; background-color:#eee;}
.marquee ul{width:2400px;}
.marquee li{float:left; width:240px; line-height:25px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}

/* 祝福墙
----------------------------------*/
.fs_colmun{clear:both; width:920px; height:30px; line-height:30px; margin:0 auto;}
.fs_colmun .btn{display:inline-block; width:110px; height:23px; line-height:23px; padding:0; color:#FFF; font-size:12px; font-weight:bold; text-align:center; text-decoration:none; vertical-align:middle; background:url(../../images/music/lp/btn.gif) no-repeat; border:0; cursor:pointer;}
.xy{position:relative; width:920px; height:660px; margin:0 auto; background-image:url(../../images/music/lp/bg.jpg); background-repeat:no-repeat; background-position:center;}
.xylayer{position:absolute; top:300px; left:400px; width:220px; padding:3px; background-color:#fff; border:2px #da8206 solid;/* -moz-opacity:0.85; opacity:0.85; filter:alpha(opacity=85);*/}
.xylayer table td{padding:15px 10px; color:#000; line-height:18px;}
.xylayer .btn_close{display:block; width:22px; height:22px;  background:url(../../images/music/lp/btn_close.gif) no-repeat;}
.xylayer .username{color:#da8206;}


/************************************************** Widget **************************************************/

/* 进度条
----------------------------------*/
.progress-bar{position:relative; display:inline-block; width:200px; height:8px; padding:1px; font-size:0; vertical-align:middle; background-color:#fff; border:1px #ccc solid;}
.progress-bar .bar{display:inline-block; height:8px; background-color:#ff7200; border:0;}

/* 投票条
----------------------------------*/
.vote-bar{width:150px;}
.vote-bar li{position:relative; height:8px; padding:1px; margin-bottom:10px; font-size:0; vertical-align:middle; background-color:#fff; border:1px #ccc solid;}
.vote-bar .bar{display:block; height:8px;}
.vote-bar .vb-1 .bar{background-color:#8ccf4b;}
.vote-bar .vb-2 .bar{background-color:#f82051;}
.vote-bar .vb-3 .bar{background-color:#ff7200;}
.vote-bar .vb-4 .bar{background-color:#e9ed5a;}
.vote-bar .vb-5 .bar{background-color:#52bad5;}

/* 评分条
----------------------------------*/
.rating-bar{width:140px; height:24px;}
.rating-bar li{float:left;}
.rating-bar li span{display:block; width:12px; height:24px; background:#181818 url(../../images/component/rating_bar.jpg) no-repeat; cursor:pointer;}
.rating-bar li .even{background-position:0 -24px;}
.rating-bar li .odd{background-position:-12px -24px;}
.rating-bar .active .even{background-position:0 0;}
.rating-bar .active .odd{background-position:-12px 0;}

/* 查询条
----------------------------------*/
.search-bar{display:inline;}
.search-bar .text{width:200px; height:23px; line-height:23px; margin:0; padding:0 5px; background-color:#fff; border:1px #ccc solid;}
.search-bar .btn{width:60px; height:25px; line-height:25px; margin:0; color:#fff; font-size:12px; font-weight:bold; background-color:#f79526; border:1px #f79526 solid; cursor:pointer;}

/* 搜索
----------------------------------*/
.search_box{position:relative;width:225px;}
.search_box .text{position:absolute; left:0; top:0;height:23px; line-height:23px; margin:0; padding:0 5px;width: 150px;  background-color:#fff; border:1px #ccc solid;}
.search_box .btn{ position:absolute; right:0; top:0; width:60px;}

/* 活动搜索
----------------------------------*/
.search_box{position:relative;width:225px;}
.search_box .text{position:absolute; left:0; top:0;height:23px; line-height:23px; margin:0; padding:0 5px;width: 150px;  background-color:#fff; border:1px #ccc solid;}
.search_box .btn{ position:absolute; right:0; top:0; width:60px;}

/* 按钮组合
----------------------------------*/
.toggle-button-bar{}
.toggle-button-bar li{float:left; width:60px; height:20px; line-height:20px; margin-right:5px; color:#fff; background-color:#ccc; text-align:center; cursor:pointer;} 
.toggle-button-bar li.active{background-color:#09C;}

/* Tab Box
----------------------------------*/
.tab-box{position:relative; margin:0 auto;}
.tab-box .tab{height:40px; background:url(../../images/dot.png) repeat-x bottom;}
.tab-box .tab a{float:left; display:inline-block; width:135px; height:40px; line-height:40px; margin-right:2px; font-family:"Microsoft Yahei",Tahoma,Geneva; text-align:center; text-decoration:none; background-color:#ccc; cursor:pointer;}
.tab-box .tab a.active{background-color:#fff;}
.tab-box .tb-item{display:none;}
.tab-box .tb-item.active{display:block;}
.tab-box .r-corner{position:absolute; top:5px; right:10px;}  /*右上角部分*/

.Ntab_box{position:relative; margin:0 auto;}
.Ntab_box .tab{height:36px; background:#fff url(../../images/re_bg01.jpg) repeat-x left bottom; border:1px solid #d2d2d2;}
.Ntab_box .tab a{float:left; display:inline-block; width:auto; padding:0 25px; height:36px; font-weight:700;border-right:1px solid #d2d2d2;line-height:36px; margin-right:0; font-family:"Microsoft Yahei",Tahoma,Geneva; text-align:center; text-decoration:none;cursor:pointer;}
.Ntab_box .tab a.active{ background:#fff;border-bottom:1px solid #fff;}
.Ntab_box .tb-item{display:none;}
.Ntab_box .tb-item.active{display:block;}
.Ntab_box .r-corner{position:absolute; top:7px; right:10px;}
.Ntab_box .r-corner .op_stage{width:65px;}

/* Toggle Box
----------------------------------*/
.toggle-box{}
.toggle-box .tob-item{display:none;}
.toggle-box .tob-item.active{display:block;}
.toggle-box .prev, .toggle-box .next{display:inline-block; width:16px; height:16px; margin-top:8px; background:url(../../images/component/toggle_box.png) no-repeat; cursor:pointer;}
.toggle-box .prev{background-position:0 0;}
.toggle-box .prev:hover{background-position:0 -16px;}
.toggle-box .next{background-position:-16px 0;}
.toggle-box .next:hover{background-position:-16px -16px;}

/* Option Box
----------------------------------*/
.option-box{}
.option-box .ob-item{display:none;}
.option-box .ob-item.active{display:block;}
.option-box .option{height:20px; text-align:center;}
.option-box .option span{display:inline-block; margin:0 3px; width:20px; height:20px;background:url(../../images/component/option_box.png) no-repeat -20px 0; cursor:pointer;}
.option-box .option span.active{background-position:0 0;}
.option-box .op-tab{ }
.option-box .op-tab li{cursor:pointer; background:#e7e7e7;border:1px solid #e1e1e1;height:70px; width:180px; margin:4px 0 0 0; *margin:1px 0 0 0;}
.op-tab li:first-child{margin:0;}
.option-box .op-tab li.active{ background:#ff7200; position:relative;border:1px solid #FF7000; color:#fff;}
.option-box .op-tab li.active span{ background:url(../../images/ent/arrow_yellow.png) no-repeat left center; position:absolute; display:block; width:11px; height:22px; left:-11px; top:50%; margin-top:-11px;}

/* Photo Box
----------------------------------*/
.photo-box{position:relative; width:230px; height:100px; margin:0 auto;}
.photo-box img{position:absolute; top:0; left:0;}
.photo-box .con{position:absolute; bottom:0; left:0; z-index:1; width:100%; height:25px; line-height:25px; margin:0 auto; color:#fff; text-indent:5px; background-color:#000; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; -moz-opacity:0.7; opacity:0.7; filter:alpha(opacity=70);}
.photo-box .con.active{height:auto; text-overflow:clip; white-space:normal; overflow:auto; -moz-opacity:0.8; opacity:0.8; filter:alpha(opacity=80);}

.pic160x120 li .abscenter{display: table-cell; vertical-align:middle;text-align:center;line-height:120px; height:120px; width:160px;}

.pic160x120 .mouseover .con a, .pic160x120 .mouseover .con span{width:160px;}
/*.pic160x120{ overflow:hidden;}
.pic160x120 li{float: left;width: 160px;border: 1px solid #CCC;margin: 25px 14px 5px 15px;}*/
.mouseover{ position:relative;}
.mouseover .con{height:27px;line-height:27px;position:absolute; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; bottom:0; left:0; z-index:1; width:100%; }
.mouseover .con > a,.mouseover .con > span{text-overflow:ellipsis; overflow:hidden;color:#fff;height:27px;line-height:27px; width:100%; display:block; text-indent:5px;background:#181818;-moz-opacity:0.7; opacity:0.7; filter:alpha(opacity=70);}
.mouseover .con label{text-overflow:ellipsis; overflow:hidden;color:#fff;height:27px;line-height:27px; width:100%; display:block; text-indent:5px; position:absolute;top:0;left:0;}
.video_play .mouseover .con a{width:84%;padding-right:16%;color:#EEE;-moz-opacity:0.7; opacity:0.7; filter:alpha(opacity=70);/**width:133px;*padding-right:0;*/}
.video_play .mouseover .con .play{*background:url(../../images/ent/ent_play.png) no-repeat center center #181818;*filter:alpha(opacity=70); *margin:0;}
.mouseover .con a:hover{color:#fff;-moz-opacity:0.8; opacity:0.8; filter:alpha(opacity=80);}
.mouseover .con a:hover .play{*filter:alpha(opacity=80);}
.P_100x75 li.mouseover{ float:left;margin:5px; width:100px; height:75px;*zoom:1;}
.P_100x75 .body ul{ width:220px; margin:auto; overflow:hidden;}
.P_100x75 .mouseover .con,.P_100x75 .mouseover .con a,.P_100x75 .mouseover .con span,.P_120x90 .mouseover .con,.P_120x90 .mouseover .con a,.P_120x90 .mouseover .con span{ height:23px; line-height:23px;}
.P_120x90 li.mouseover{ float:left;margin:6px 10px; width:120px; height:90px; border:1px solid #5C5C5C;}
.P_120x90 ul{ width:284px; margin:auto; overflow:hidden;}
.P_160x120 li.mouseover{ float: left;width: 160px;border: 1px solid #CCC;margin: 25px 14px 5px 15px;}


.atlasHover{overflow:hidden;width:220px;margin:0 auto;}
.atlasHover li{float:left;width:100px;height:75px;margin:5px; position:relative;}
.atlasHover .con{height:23px;line-height:23px;position:absolute; color:#eee;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;text-indent:5px; bottom:0; left:0; z-index:1; width:100%; background:#181818;-moz-opacity:0.7; opacity:0.7; filter:alpha(opacity=70);}
.atlasHover .con a{color:#eee;}
.atlasHover .con:hover{color:#fff;-moz-opacity:0.8; opacity:0.8; filter:alpha(opacity=80); }
.atlasHover .con:hover a{color:#fff;}

/* Menu Box
----------------------------------*/
.menu-box{}
.menu-box .menu{float:left; width:100px;}
.menu-box .menu li{width:68px; height:45px; line-height:45px; padding-left:25px; color:#999; background:url(../../images/icon/arrow.gif) 5px 15px no-repeat; border-right:1px #e0e0e0 solid; border-bottom:1px #e0e0e0 solid; cursor:pointer;}
.menu-box .menu li.active{color:#fff; background:#f89827 url(../../images/icon/arrow.gif) 5px -15px no-repeat; border-color:#d77808;}
.menu-box .mb-item{float:left; display:none;}
.menu-box .mb-item.active{display:block;}

/* Combo Box
----------------------------------*/
.combo-box{position:relative;}
.combo-box select{display:none;}
.combo-box .selected{width:150px; height:24px; line-height:24px; text-indent:10px; background-color:#eee; border-radius:5px; cursor:pointer;}
.combo-box .list{display:none; position:absolute; z-index:10; top:24px; left:8px; background-color:#fff; border:1px #ccc solid;}
.combo-box .list li{height:24px; line-height:24px; padding:0 10px; cursor:pointer;}
.combo-box .list li.active{background-color:#dcf4ff;}

/* Silder Box
----------------------------------*/
.slider-box{width:940px; margin:0 auto;}
.slider-box .wrap{float:left; position:relative; width:880px; height:180px; overflow:hidden;}
.slider-box .list{float:left; position:absolute; width:880px; left:880px;}
.slider-box .list li{float:left; width:220px; height:180px; text-align:center;}
.slider-box .list li.active{}
.slider-box .list li p{width:200px; height:30px; line-height:30px; margin:0 auto; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.slider-box .list.active{left:0;}
.slider-box .slider-prev, .slider-box .slider-next{float:left; display:block; width:30px; height:30px; margin-top:60px; background-color:#ccc; cursor:pointer;}

/* Thumb Box
----------------------------------*/
.thumb-box{width:220px; margin:0 auto; overflow:hidden;}
.thumb-box .list{position:relative; width:200px; height:180px; margin:0 auto; *overflow:hidden;}
.thumb-box .list li{position:absolute; top:0; left:220px; height:180px; text-align:center; *width:100%;}
.thumb-box .list li.active{left:0;}
.thumb-box .list li p{width:200px; height:25px; line-height:25px; margin:0 auto; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.thumb-box .list .player{position:absolute; right:20px; bottom:40px; z-index:1; display:block; width:24px; height:24px; background:url(../../images/icon/player.gif) no-repeat; -moz-opacity:0.6; opacity:0.6; filter:alpha(opacity=60);}
.thumb-box .prev, .thumb-box .next{float:left; display:block; width:30px; height:20px; margin-left:10px; background-color:#333; cursor:pointer;} 
.thumb-box .prev{}
.thumb-box .next{}
.thumb-box .tab{float:left; width:120px; height:20px; margin-left:10px; background-color:#ccc;}
.thumb-box .tab li{float:left; width:24px; height:20px; background-color:#ddd; cursor:pointer;}
.thumb-box .tab li.active{ background-color:#999;}

/* Dialog
----------------------------------*/
.dialog-shadow{position:fixed; z-index:998; top:0; bottom:0; left:0; right:0; width:100%; height:100%; background:url(../../images/common/diao_bg.png) repeat;}
.dialog-overlay{position: relative; z-index:999; top:0; bottom:0; left:0; right:0; width:100%;height:100%;}
.dialog{display:none; position:absolute; z-index:2147483647; width:480px; background-color:#fff; border:1px #E0E0E0 solid;}
.dialog .head{position:relative; height:40px; line-height:25px; margin:20px 20px 0 20px; border-bottom:1px solid #F5F5F5;  }
.dialog .head .title{float:left; color:#FF6F51; font-size:20px; font-weight:bold; text-indent:0px; font-family:"Microsoft Yahei",Tahoma,Geneva;}
.dialog .head .close{float:right; display:none; width:22px; height:22px; background: url(../../images/common/close_btn.png); cursor:pointer;}
.dialog .body{line-height:20px; padding:0 20px 20px 20px; overflow:hidden; }
.popup{display:none;}

/* new register guide
----------------------------------*/
#new_register{width:479px; background:url(../../images/play_arround.png) no-repeat; height:418px;}
#new_register {padding:70px 5px 20px 5px;}
#new_register .close{top:15px;}
#new_register .col li{ position:relative; height:86px; margin-bottom:5px; background:#fff;}
#new_register .col li > img{ position:absolute; left:15px;top:2px; }
#new_register .col li > img.first{top:-15px;}
#new_register .desc{margin-left:130px; padding-right:65px; width:280px;}
#new_register .play_btn{ background:url(../../images/play_btn.png) no-repeat center center; width:60px; height:56px; position:absolute;right:2px;bottom:10px;}
#new_register .desc .f-orange{ display:inline-block; line-height:30px; padding-top:10px;}
#new_register .desc .f-grey{ line-height:22px;}
.bottom_options{ height:40px; text-align:center; line-height:40px; padding-top:15px;}
.bottom_options .f-grey{margin:0 5px;}
.bottom_options .btn{border: 1px solid #5C5C5C;margin:0 20px;width: 110px; height:36px; line-height:36px; display:inline-block;}
.bottom_options .btn a{color: #181818;}

/* 成员台
---------------------------------------------*/
.cyt{}
.cyt .list{width:98%; margin:0 auto;}
.cyt .list_948{ width:948px; margin:auto;}
.cyt .list li,.cyt .list_948 li{float:left;}
.pic160x120 li .abscenter { *position:relative;}
.pic160x120 li .abscenter img{max-width: 160px;max-height: 120px; *position:absolute;*top:50%;*left:50%;*margin-top:expression(-this.offsetHeight/2);*margin-left:expression(-this.offsetWidth/2);_height:expression((this.offsetHeight > 120) ? "120px" : this.offsetHeight + "px" );}    	

/* 播放按钮
-----------------------------------------------*/
.Play_33{ background:url(../../images/common/play_btn.png) no-repeat right top; width:33px; height:33px; display:inline-block;}
.Play_33:hover{ background-position:left top;}


/*
* jQuery UI CSS Framework
* Copyright (c) 2010 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


/*
* jQuery UI CSS Framework
* Copyright (c) 2010 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Arial,sans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=6px&bgColorHeader=cc0000&bgTextureHeader=03_highlight_soft.png&bgImgOpacityHeader=15&borderColorHeader=e3a1a1&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=ffffff&bgTextureContent=01_flat.png&bgImgOpacityContent=75&borderColorContent=eeeeee&fcContent=333333&iconColorContent=cc0000&bgColorDefault=eeeeee&bgTextureDefault=04_highlight_hard.png&bgImgOpacityDefault=100&borderColorDefault=d8dcdf&fcDefault=004276&iconColorDefault=cc0000&bgColorHover=f6f6f6&bgTextureHover=04_highlight_hard.png&bgImgOpacityHover=100&borderColorHover=cdd5da&fcHover=111111&iconColorHover=cc0000&bgColorActive=ffffff&bgTextureActive=01_flat.png&bgImgOpacityActive=65&borderColorActive=eeeeee&fcActive=cc0000&iconColorActive=cc0000&bgColorHighlight=fbf8ee&bgTextureHighlight=02_glass.png&bgImgOpacityHighlight=55&borderColorHighlight=fcd3a1&fcHighlight=444444&iconColorHighlight=004276&bgColorError=f3d8d8&bgTextureError=08_diagonals_thick.png&bgImgOpacityError=75&borderColorError=cc0000&fcError=2e2e2e&iconColorError=cc0000&bgColorOverlay=a6a6a6&bgTextureOverlay=09_dots_small.png&bgImgOpacityOverlay=65&opacityOverlay=40&bgColorShadow=333333&bgTextureShadow=01_flat.png&bgImgOpacityShadow=0&opacityShadow=10&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
*/


/* Component containers
----------------------------------*/
.ui-widget { font-family: Arial,sans-serif; font-size: 12px; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Arial,sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #eeeeee; background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x; color: #333333; }
.ui-widget-content a { }
.ui-widget-header { border: 1px solid #e3a1a1; background: #cc0000 url(images/ui-bg_highlight-soft_15_cc0000_1x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #ffffff; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #d8dcdf; background: #eeeeee url(images/ui-bg_highlight-hard_100_eeeeee_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #004276; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #004276; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #cdd5da; background: #f6f6f6 url(images/ui-bg_highlight-hard_100_f6f6f6_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #111111; }
.ui-state-hover a, .ui-state-hover a:hover { color: #111111; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #eeeeee; background: #ffffff url(images/ui-bg_flat_65_ffffff_40x100.png) 50% 50% repeat-x; font-weight: bold; color: #cc0000; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #cc0000; text-decoration: none; }
.ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #fcd3a1; background: #fbf8ee url(images/ui-bg_glass_55_fbf8ee_1x400.png) 50% 50% repeat-x; color: #444444; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #444444; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cc0000; background: #f3d8d8 url(images/ui-bg_diagonals-thick_75_f3d8d8_40x40.png) 50% 50% repeat; color: #2e2e2e; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #2e2e2e; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #2e2e2e; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_cc0000_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(images/ui-icons_cc0000_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(images/ui-icons_ffffff_256x240.png); }
.ui-state-default .ui-icon { background-image: url(images/ui-icons_cc0000_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(images/ui-icons_cc0000_256x240.png); }
.ui-state-active .ui-icon {background-image: url(images/ui-icons_cc0000_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(images/ui-icons_004276_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(images/ui-icons_cc0000_256x240.png); }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }

.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px; }
.ui-corner-tr { -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; }
.ui-corner-br { -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; }
.ui-corner-top { -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px; -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; }
.ui-corner-right {  -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; }
.ui-corner-left { -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px; -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; }
.ui-corner-all { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }

/* Overlays */
.ui-widget-overlay { background: #a6a6a6 url(images/ui-bg_dots-small_65_a6a6a6_2x2.png) 50% 50% repeat; opacity: .40;filter:Alpha(Opacity=40); }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #333333 url(images/ui-bg_flat_0_333333_40x100.png) 50% 50% repeat-x; opacity: .10;filter:Alpha(Opacity=10); -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }/* Resizable
----------------------------------*/
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}/* Selectable
----------------------------------*/
.ui-selectable-helper { border:1px dotted black }
/* Accordion
----------------------------------*/
.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1; }
.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.ui-accordion .ui-accordion-header a { display: block; font-size: 1em; padding: .5em .5em .5em .7em; }
/* IE7-/Win - Fix extra vertical space in lists */
.ui-accordion a { zoom: 1; }
.ui-accordion-icons .ui-accordion-header a { padding-left: 2.2em; }
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content { padding: 1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; zoom: 1; }
.ui-accordion .ui-accordion-content-active { display: block; }/* Autocomplete
----------------------------------*/
.ui-autocomplete { position: absolute; cursor: default; }	
.ui-autocomplete-loading { background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat; }

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/* Menu
----------------------------------*/
.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
	zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}
/* Button
----------------------------------*/

.ui-button { display: inline-block; position: relative; padding: 0; margin-right: .1em; text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: visible; } /* the overflow property removes extra width in IE */
.ui-button-icon-only { width: 2.2em; } /* to make room for the icon, a width needs to be set here */
button.ui-button-icon-only { width: 2.4em; } /* button elements seem to need a little more width */
.ui-button-icons-only { width: 3.4em; } 
button.ui-button-icons-only { width: 3.7em; } 

/*button text element */
.ui-button .ui-button-text { display: block; line-height: 1.4;  }
.ui-button-text-only .ui-button-text { padding: .4em 1em; }
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: .4em; text-indent: -9999999px; }
.ui-button-text-icon .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 1em .4em 2.1em; }
.ui-button-text-icons .ui-button-text { padding-left: 2.1em; padding-right: 2.1em; }
/* no icon support for input elements, provide padding by default */
input.ui-button { padding: .4em 1em; }

/*button icon element(s) */
.ui-button-icon-only .ui-icon, .ui-button-text-icon .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon { position: absolute; top: 50%; margin-top: -8px; }
.ui-button-icon-only .ui-icon { left: 50%; margin-left: -8px; }
.ui-button-text-icon .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary { left: .5em; }
.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }

/*button sets*/
.ui-buttonset { margin-right: 7px; }
.ui-buttonset .ui-button { margin-left: 0; margin-right: -.3em; }

/* workarounds */
button.ui-button::-moz-focus-inner { border: 0; padding: 0; } /* reset extra padding in Firefox */





/* Dialog
----------------------------------*/
.ui-dialog { position: absolute; padding: .2em; overflow: hidden; }
.ui-dialog .ui-dialog-titlebar { padding: .5em 1em .3em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .2em 0; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { }
.ui-dialog .ui-dialog-content { border: 0; padding: .5em 2.5em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
/*.ui-dialog .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible; }*/
.ui-dialog .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; line-height: 1.4em; width:auto; overflow:visible; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
/* Slider
----------------------------------*/
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em;width: 300px; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }/* Tabs
----------------------------------*/
.ui-tabs { position: relative; height:330px; padding: .2em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }
/* Datepicker
----------------------------------*/
.ui-datepicker { width: 17em; padding: .2em .2em 0; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}/* Progressbar
----------------------------------*/
.ui-progressbar { height:2em; text-align: left; }
.ui-progressbar .ui-progressbar-value {margin: -1px; height:100%; }

.ui-dialog .ui-dialog-title{margin:20px 0 0 30px;}
.ui-widget-header .ui-icon{background:url(../../images/my_space/close_btn.png) no-repeat;width:18px;height:18px;cursor:pointer;}
.ui-draggable .ui-dialog-titlebar{background:url(../../images/my_space/m_block_bg_01.png) no-repeat;width:100%;border:none;padding:0;height:53px;border-radius:0;}
.ui-dialog .m_block_02.ui-dialog-content{background:url(../../images/my_space/m_block_021.png) no-repeat;padding:46px 8px 8px 8px;overflow:hidden;}
.ui-widget-header{color:#181818;font-weight:700;font-size:14px;}
.ui-dialog .ui-dialog-titlebar-close{background:none;right:20px;}
.ui-dialog .ui-dialog-titlebar-close:hover{background:none;}
.ui-widget-header .ui-state-hover{border:none;}
.ui-state-hover a, .ui-state-hover a:hover {border:none;}
.ui-dialog{padding:0;background:none;border:none;border-radius:0;}
.ui-dialog .ui-dialog-content{background:url(../../images/my_space/m_block_bg_02.png) repeat-y;}
.ui-dialog .ui-dialog-buttonpane{background:url(../../images/my_space/m_block_bg_03.png) no-repeat;padding-bottom:30px;margin:0;border:0;}
.ui-dialog .pop-con{line-height:25px;}
.ui-dialog .pop-con form > span{white-space:nowrap;}
.ui-dialog .pop-con input{margin:0 2px;}
.ui-dialog .ui-dialog-buttonpane button{}
.ui-dialog .ui-dialog-buttonpane button:first-child{background:url(../../images/my_space/btn_7.png) no-repeat left top;width:67px;height:29px;display:block;margin-top:5px;border:none;}
.ui-dialog .ui-dialog-buttonpane button:first-child:hover{background:url(../../images/my_space/btn_7H.png);}
.ui-dialog .ui-dialog-buttonpane button{background:url(../../images/my_space/btn_6.png) no-repeat left top;width:67px;height:29px;display:block;margin-top:5px;border:none;text-indent:-1000px;border-radius:0;margin-right:15px;}
.ui-dialog .ui-dialog-buttonpane button:hover{background:url(../../images/my_space/btn_6H.png);}
#dialog #tabs.ui-tabs {height:310px;background:none;border:none;overflow:hidden;padding:0;border-radius:0;}
#dialog .ui-widget {height:33px;background:none;border:none;overflow:hidden;}
.f-14{font-size:14px;}
#dialog .ui-widget-header{background:url(../../images/my_space/m_block_nav.jpg) no-repeat left top;border:none;padding:0;border-radius:0;height:37px;}
#dialog .ui-state-default a,#dialog .ui-state-default a:link,#dialog .ui-state-default a:visited{color:#a4a4a4;}
#dialog .ui-state-active a,#dialog .ui-state-active a:link,#dialog .ui-state-active a:visited{color:#ff7200;}
#dialog .ui-tabs .ui-tabs-nav li{border:none;border-radius:0;margin:0;background:none;padding:1px 1px 1px 2px;}
#dialog .ui-tabs .ui-tabs-nav li.ui-tabs-selected{background:#fff;padding:1px 1px 3px 1px;}
#dialog .ui-tabs .ui-tabs-panel{padding:1em 2.4em;}
#dialog .ui-tabs .ui-tabs-panel .star-item{width:97px;}
#dialog .star-list {	height: 200px;overflow: auto}
#dialog .star-item {float: left;	width: 120px;margin: 3px 2px;padding: 2px;overflow: hidden;}

#dialog-FaWeiXin .nane_input {height: 20px;line-height: 205px; margin:0;}
#dialog-FaWeiXin .input_blue1 {line-height: 22px;}
#dialog-FaWeiXin { padding-bottom:0;}


#tabs .ui-corner-head { height:37px; position:relative;background:url(../../images/my_space/m_block_nav1.png) no-repeat left top;}
#tabs .ui-corner-head .ui-tabs-nav { width:380px; float:left;}
#tabs .ui-corner-head .ui-widget { width:213px; float:right;}
#tabs .ui-corner-head .ui-widget .i-text { width:149px;}








