
}
@font-face  {
        font-family:  "BYekan";
        font-style:  normal;
        font-weight:  normal;
        src:  url("fonts/BYekan.eot?#") format("eot"),  url("fonts/BYekan.woff") format("woff"),  url("fonts/BYekan.ttf") format("truetype");
}
@font-face  {
        font-family:  "BYekan";
        font-style:  normal;
        font-weight:  normal;
        src:  url("fonts/BYekan.eot?#") format("eot"),  url("fonts/BYekan.woff") format("woff"),  url("fonts/BYekan.ttf") format("truetype");
}
img {  height: auto !important;  max-width: 100%;}
.widget, h3.last-comments {
    font: 14px/60px "byekan";
    text-align: center;
    text-shadow: 2px 2px #fff;
}
iframe {
  max-width: 98%;
}
h3.last-comments, .widget {
    background: rgba(0, 0, 0, 0) url("images/menus-background.jpg") no-repeat scroll 0 0;
}
.tabligh p {
    text-align: center;
}
.ads-ico span:nth-child(2) {
    color: gray;
    display: block;
    float: right;
    font-family: "byekan";
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    margin-right: 10px;
    width: 80px;
}
.ads-ico span:first-child {
    background: rgba(0, 0, 0, 0) url("images/Ad.png") no-repeat scroll 0 0;
    display: block;
    float: right;
    height: 30px;
    width: 30px;
}
.linkbox #linkbox-footer, .post #post-footer {
  background: rgba(0, 0, 0, 0) url("images/post_footer.png") repeat scroll 0 0;
  height: 20px;
}
.post #post-title {
  background: rgba(0, 0, 0, 0) url("images/post_titleJS.png") no-repeat scroll 0 0;
  width: 500px;
}
.linkbox #linkbox-title h1, .post #post-title h1 {
  font-family: Tahoma,Geneva,sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.6;
  padding: 22px 55px 0 0;
}
.post #post-info {
  background: #efff80 none repeat scroll 0 0;
  border-bottom: 1px dashed red;
  border-radius: 10px;
  border-top: 1px dashed red;
  color: #000;
  font: 12px "BYekan",Yekan,tahoma;
  margin: 17px 15px 0;
  width: 470px;
}
.post #post-info ul, .sidebar-right, .sidebar-left, .sidebar-right .category ul li ul {
  margin: 0;
}
.post #post-info ul .author {
  background: rgba(0, 0, 0, 0) url("images/author.png") no-repeat scroll right 0;
  font-size: 11px;
  padding: 1px 18px 0 0;
  width: 70px;
}
.post #post-info ul .date {
  background: rgba(0, 0, 0, 0) url("images/date.png") no-repeat scroll right 0;
  padding: 0 22px 0 0;
  width: 100px;
}
.post #post-info ul .categry {
  background: rgba(0, 0, 0, 0) url("images/category.png") no-repeat scroll right 0;
  padding: 0 20px 0 0;
}.post #post-info ul .comment-head {
  background: rgba(0, 0, 0, 0) url("images/comm.png") no-repeat scroll right 0;
  padding: 0 28px 0 0;
  width: 60px;
}
.post #post-info ul li {
  display: block;
  float: right;
  margin: 5px;
}
.clear {
  clear: both;
  font-size: 0;
  height: 0;
  line-height: 0;
}
.linkbox #content, .post #content {
  background: rgba(0, 0, 0, 0) url("images/post_bg.gif") repeat scroll 0 0;
  padding: 10px 15px;  background-size: 100% 100%;
}
.ads-ico {
    border: 1px solid #aaadaf;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 2px;
    margin-right: 0.5%;
    width: 99%;
}
.ads-wrapper {
    background: #eee none repeat scroll 0 0;
    border:  3px solid #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 3px;
    margin: 10px 1%;
    padding: 1%;
}
.ads-wrapper img {
    margin: 0 auto;
    display: block;
}
.continue:hover  {
        opacity:  0.7;
        color:  #fff;
}
.continue {
    background: #FF3D3D none repeat scroll 0% 0%;
    padding: 0px 7px 0px;
    border-radius: 5px;
    color: #FFF;
    font-family: "byekan";
    font-size: 12px;
}
.categories select  {
        display:  none;
}
.commentdata textarea  {
        min-height:  150px;
        width:  80%;
}
.commentdata input[type="text"]  {
        height:  30px;
        width:  80%;
}
#cancel_reply > a  {
        bottom:  10px;
        left:  5%;
        position:  absolute;
}
.combutton  {
        background:  #eb4b3f none repeat scroll 0 0;
        border:  0 none;
        border-radius:  3px;
        box-shadow:  none;
        color:  #fff;
        cursor:  pointer;
        float:  right;
        font-family:  "byekan";
        font-size:  12px;
        margin:  5px 0 0;
        padding:  0 5px;
}
.thdrpy a,  #cancel_reply a  {
        background:  #4e6070 none repeat scroll 0 0;
        border-radius:  3px;
        color:  #fff;
        font-family:  "byekan";
        padding:  0 5px;
}
.thdrpy a:hover,  #cancel_reply a:hover  {
        color:  #fff;
        opacity:  0.7;
}
.sidebar-right h3,  .sidebar-left h3  {
        position:  relative;
}
.search-text  {
        display:  none;
}
.inside-comment  {
        float:  right;
        width:  472px;
}
.chalt  {
        background-color:  #ebeceb;
}
.comment-childs  {
        background-color:  #fafff4;
        border:  1px solid #999;
        border-radius:  7px;
        margin:  3px 2px 1px 1px;
        padding:  1px 5px 5px;
}
.wp-pagenavi > .wp-pagenavi  {
        background:  rgba(0,  0,  0,  0) none repeat scroll 0 0;
}
.wp-pagenavi  {
        clear:  both;
        height:  30px;
        margin-top:  5px;
}
.header > h1,  .header > h3  {
        display:  none;
}
nav #pull  {
        display:  none;
}
.page-body iframe.akhbarkhoon  {
        display:  block;
        height:  250px;
        margin:  0 auto;
        width:  480px;
}
.page-body img  {
        max-width:  100%;
}
*  {
        border:  0 none;
        margin:  0;
        padding:  0;
}
.BYekan  {
        font-family:  BYekan, Tahoma;
}
body  {
        background:  #f9faf4 url("images/background.png") repeat-x scroll 0 0;
        color:  #252525;
        font:  0px/0 tahoma, sans-serif;
        margin:  0;
        padding:  0;
        text-align:  center;
}
html,  body,  div,  span,  applet,  object,  iframe,  h1,  h2,  h3,  h4,  h5,  h6,  p,  blockquote,  pre,  a,  abbr,  acronym,  address,  big,  cite,  code,  del,  dfn,  em,  font,  img,  ins,  kbd,  samp,  small,  strike,  strong,  sub,  sup,  tt,  var,  b,  u,  i,  center,  dl,  dt,  dd,  ol,  ul,  li,  fieldset,  form,  label,  legend,  table,  caption,  tbody,  tfoot,  thead,  tr,  th,  td  {
        margin:  0;
        padding:  0;
}
a  {
        color:  #001486;
        text-decoration:  none;
}
a:hover  {
        color:  #00f;
        text-decoration:  none;
}
address,  caption,  cite,  code,  dfn,  em,  th,  var  {
        border:  0 none;
        margin:  0;
        outline:  0 none;
        padding:  0;
}
img  {
        padding-bottom:  2px;
        padding-top:  5px;
}
input  {
        background:  #fff none repeat scroll 0 0;
        border-color:  #eae6e3;
        border-style:  solid;
        border-width:  1px;
        font-family:  tahoma;
}
textarea,  fieldset  {
        background:  #fff none repeat scroll 0 0;
        border-color:  #eae6e3;
        border-style:  solid;
        border-width:  1px;
        font-family:  Tahoma;
        padding:  0;
}
h1  {
        font:  bold 1.7em/1.6 Arial, sans-serif;
}
h2  {
        font:  bold 1.5em/1.6 Arial, sans-serif;
}
h3  {
        font:  bold 1.4em/1.6 Arial, sans-serif;
}
h4  {
        font:  bold 1.2em/1.6 Arial, sans-serif;
}
#warpper  {
        background:  #fff url("images/content_background.gif") repeat-y scroll center top;
        direction:  rtl;
        font:  11px/1.9 tahoma, sans-serif;
        margin:  0 auto;
        padding:  0;
        position:  relative;
        text-align:  right;
        width:  988px;
}
.header  {
        background:  transparent url("images/headefr.jpg") no-repeat scroll center top;
        height:  159px;
        margin:  0 auto;
        padding:  0;
        position:  relative;
        width:  988px;
}
.content  {
        background:  #fff none repeat scroll 0 0;
        margin:  0 8px;
}
#nav  {
        background:  rgba(0,  0,  0,  0) url("images/back_nav.png") repeat scroll 0 0;
        height:  50px;
        margin:  0 auto;
        padding:  0;
        position:  relative;
        width:  988px;
}
#nav ul  {
        list-style:  outside none none;
        margin:  0;
        padding:  0 25px 0 5px;
}
#nav ul li  {
        float:  right;
}
#nav ul li a  {
        color:  #757575;
        display:  block;
        font-family: byekan;
	font-size: 14px;
	font-weight: bold;
	line-height: 25px;
        margin:  5px 3px 0;
        padding:  0 0 5px 5px;
        text-align:  center;
}
#nav ul li a span  {
        display:  block;
        padding:  5px 10px 4px 5px;
}
#nav ul li a:hover  {
        background:  #fff url("images/nav_left.png") no-repeat scroll left top;
        font:  bold 13px/28px "B Yekan", "Yekan", tahoma, arial;
}
#nav ul li A:hover span  {
        background:  #fff url("images/nav_right.png") no-repeat scroll right top;
        color:  #f30;
}
.search  {
        float:  left;
        font-family:  Tahoma, Geneva, sans-serif;
        font-size:  10px;
        height:  25px;
        margin-left:  30px;
        margin-top:  15px;
        width:  200px;
}
.st  {
        background:  rgba(0,  0,  0,  0) none repeat scroll 0 0;
        border:  medium none;
        color:  #7800ff;
        direction:  rtl;
        float:  right;
        font-family:  Tahoma;
        font-size:  12px;
        font-weight:  normal;
        height:  20px;
        line-height:  22px;
        margin:  0;
        padding-left:  0;
        text-align:  right;
        width:  160px;
}
.sti  {
        background:  rgba(0,  0,  0,  0) none repeat scroll 0 0;
        border:  medium none;
        cursor:  pointer;
        float:  left;
        height:  29px;
        margin-right:  5px;
        width:  29px;
}
#page-content  {
        margin:  0;
        padding:  0 8px;
        text-align:  right;
}
.two-box-warpper  {
        background:  #fff none repeat scroll 0 0;
        float:  right;
        width:  728px;
}
#page-body  {
        background:  #fff none repeat scroll 0 0;
        float:  left;
        margin:  5px 0;
        width:  500px;
}
.page-body  {
        background:  #fff none repeat scroll 0 0;
        clear:  both;
        margin:  0 0 10px;
        padding:  0;
}
.linkbox  {
        margin:  0 0 10px;
        width:  500px;
}
.linkbox #linkbox-title  {
        background:  rgba(0,  0,  0,  0) url("images/linkbox_title.jpg") no-repeat scroll 0 0;
        width:  500px;
}
.linkbox .post-content ul li  {
        background:  rgba(0,  0,  0,  0) url("images/footer_arrow.gif") no-repeat scroll right 7px;
        padding:  0 12px 0 0;
}
.post .post-title  {
        background:  rgba(0,  0,  0,  0) url("images/post_titleJS.png") no-repeat scroll 0 0;
        width:  500px;
}
.post .post-info  {
        background:  #efff80 none repeat scroll 0 0;
        border-bottom:  1px dashed red;
        border-radius:  10px;
        border-top:  1px dashed red;
        color:  #000;
        font:  12px "BYekan", Yekan, tahoma;
        margin:  17px 15px 0;
        width:  470px;
}
.post .post-info:hover  {
        background:  #fee3ff none repeat scroll 0 0;
        border-bottom:  1px dashed #00f;
        border-radius:  10px;
        border-top:  1px dashed #00f;
        color:  #000;
}
.post .post-info ul a  {
        padding:  2px 1px;
}
.post .post-info ul a:hover  {
        color:  #00f;
}
.post .post-info ul li  {
        display:  block;
        float:  right;
        margin:  5px;
}
.post .post-info ul .author  {
        background:  rgba(0,  0,  0,  0) url("images/author.png") no-repeat scroll right 0;
        font-size:  11px;
        padding:  1px 18px 0 0;
        width:  auto;
}
.post .post-info ul .categry  {
        background:  rgba(0,  0,  0,  0) url("images/category.png") no-repeat scroll right 0;
        padding:  0 20px 0 0;
	width:  auto;
}
.post .post-info ul .view  {
        background:  rgba(0,  0,  0,  0) url("images/view.gif") no-repeat scroll right 0;
        padding:  0 22px 0 0;
	width:  auto;
}
.post .post-info ul .date  {
        background:  rgba(0,  0,  0,  0) url("images/date.png") no-repeat scroll right 0;
        padding:  0 22px 0 0;
        width:  auto;
}
.post .post-info ul .comment-head  {
        background:  rgba(0,  0,  0,  0) url("images/comm.png") no-repeat scroll right 0;
        padding:  0 28px 0 0;
        width:  auto;
}
.more-link  {
        background:  rgba(0,  0,  0,  0) url("images/more.png") no-repeat scroll right 0;
        display:  block;
        font-weight:  700;
        margin-top:  5px;
        padding:  0 20px 0 0;
}
.post #tags-post  {
        background:  rgba(0,  0,  0,  0) url("images/tags.gif") no-repeat scroll right 0;
        display:  block;
        float:  right;
        padding:  0 20px 0 0;
}
.paginate  {
        border-left:  2px solid #E5E5E5;
        border-right:  2px solid #E5E5E5;
        padding:  1px 8px 0;
        width:  480px;
}
.paginate-title  {
        background:  rgba(0,  0,  0,  0) url("images/paginate_title.png") no-repeat scroll 0 0;
        height:  40px;
        width:  500px;
}
.paginate-footer  {
        background:  rgba(0,  0,  0,  0) url("images/paginate_footer.png") no-repeat scroll 0 0;
        height:  40px;
        width:  500px;
}
#sidebar-right  {
        background:  #fff none repeat scroll 0 0;
        float:  right;
        margin:  5px 0 0;
        width:  220px;
}
#sidebar-left  {
        background:  #fff none repeat scroll 0 0;
        float:  left;
        margin:  5px 0 0;
        width:  220px;
}
.sidebar-box  {
        background:  #e3f4f9 none repeat scroll 0 0;
        font:  12px "BYekan", Yekan, tahoma;
        margin:  0 0 5px;
}
.sidebar-box h3  {
        height:  55px;
}
.sidebar-box-content  {
        background:  rgba(0,  0,  0,  0) url("images/sidebar_bg.png") repeat scroll 0 0;
        clear:  both;
        font:  12px "BYekan", Yekan, tahoma;
        width:  220px;
}
.sidebar-box ul  {
        font:  12px "BYekan", Yekan, tahoma;
        margin:  0;
        padding:  0 15px;
}
.sidebar-box ul li  {
    background: url(images/arrow.png) no-repeat right 8px;
    padding:  0 12px 0 0;
}
.sidebar-box-footer  {
        background:  rgba(0,  0,  0,  0) url("images/sidebar_footer.png") no-repeat scroll 0 0;
        clear:  both;
        height:  30px;
        width:  220px;
}
.sidebar-left .serial h3  {
        background:  rgba(0,  0,  0,  0) url("images/serial.jpg") no-repeat scroll 0 0;
        height:  63px;
        width:  220px;
}
.sidebar-right .category h3  {
        background:  rgba(0,  0,  0,  0) url("images/categories_title.jpg") no-repeat scroll 0 0;
        height:  63px;
        width:  220px;
}
.sidebar-right .category ul  {
        font:  12px "BYekan", Yekan, tahoma;
        margin:  0;
        padding:  0 12px 5px 10px;
}
.sidebar-right .category ul li  {
        background:  rgba(0,  0,  0,  0) url("images/tick.gif") no-repeat scroll right 5px;
        color:  #000;
        font-weight:  bold;
        padding:  0 15px 0 0;
}
.sidebar-right .category ul li ul li  {
        background:  rgba(0,  0,  0,  0) url("images/arrow_mini_left.gif") no-repeat scroll right 7px;
        font-weight:  normal;
        padding:  0 13px 0 0;
}
.sidebar-right .status h3  {
        background:  rgba(0,  0,  0,  0) url("images/stats_title.jpg") no-repeat scroll 0 0;
        height:  63px;
        width:  220px;
}
.sidebar-left .fi h3  {
        background:  rgba(0,  0,  0,  0) url("images/fi-link.jpg") no-repeat scroll 0 0;
        height:  63px;
        width:  220px;
}
.sidebar-left .playing h3  {
        background:  rgba(0,  0,  0,  0) url("images/Playing.jpg") no-repeat scroll 0 0;
        height:  63px;
        width:  220px;
}
.sidebar-right .short h3  {
        background:  rgba(0,  0,  0,  0) url("images/Shortcut.jpg") no-repeat scroll 0 0;
        height:  63px;
        width:  220px;
}
.sidebar-right .comm h3  {
        background:  rgba(0,  0,  0,  0) url("images/comments.jpg") no-repeat scroll 0 0;
        height:  63px;
        width:  220px;
}
.sidebar-left .pre-posts h3  {
        background:  rgba(0,  0,  0,  0) url("images/lastentires_title.jpg") no-repeat scroll 0 0;
        height:  63px;
        width:  220px;
}
.sidebar-left .rand-posts h3  {
        background:  rgba(0,  0,  0,  0) url("images/random_title.jpg") no-repeat scroll 0 0;
        height:  63px;
        width:  220px;
}
.sidebar-left .top h3  {
        background:  rgba(0,  0,  0,  0) url("images/topentires_title.jpg") no-repeat scroll 0 0;
        height:  63px;
        width:  220px;
}
.sidebar-left .tools h3  {
        background:  rgba(0,  0,  0,  0) url("images/emkanat.jpg") no-repeat scroll 0 0;
        height:  63px;
        width:  220px;
}
.clear  {
        clear:  both;
        font-size:  0;
        height:  0;
        line-height:  0;
}
.comment-title  {
        background:  rgba(0,  0,  0,  0) url("images/comment_title.gif") no-repeat scroll 0 0;
        height:  40px;
        width:  500px;
}
.comment-title #title  {
        padding:  15px 20px 0 0;
}
.comment-title #title h2  {
        background:  rgba(0,  0,  0,  0) url("images/add_comment.gif") no-repeat scroll right 2px;
        padding:  0 25px 0 0;
}
.comment-title .name  {
        background:  rgba(0,  0,  0,  0) url("images/comm.png") no-repeat scroll right 10px;
        color:  darkslategray;
        float:  right;
        font-weight:  bold;
        padding:  15px 30px 0;
}
.comment-title .date  {
        color:  red;
        float:  left;
        padding:  15px 0 0 20px;
}
.comment-content  {
        background:  rgba(0,  0,  0,  0) url("images/comment_content.gif") repeat scroll 0 0;
        padding:  10px 5px;
        position:  relative;
}
.id-comment  {
        font-size:  12px;
        padding:  0 10px 0 5px;
        text-align:  justify;
}
.footer-top  {
        border-top:  5px solid #ff9c00;
        font-size:  1px;
        height:  1px;
        line-height:  1px;
}
.footer  {
        background:  #F5F5F5 none repeat scroll 0 0;
        border-top:  5px solid #BBB7BD;
        margin:  5px 4px 0;
}
#right-menus  {
        float:  right;
        width:  630px;
}
#left-menus  {
        background:  #fff none repeat scroll 0 0;
        float:  right;
        margin:  10px 5px 10px 10px;
        width:  335px;
}
#left-menus #list  {
        font-size:  12px;
        padding:  10px 10px 0 5px;
}
#left-menus #list h3  {
        font-size:  15px;
        font-family:  "BYekan";
}
#left-menus #list a  {
        color:  #f00;
}
.footer #titles  {
        background:  #ffdafa url("images/bg_title_footer.png") repeat scroll 0 0;
        border-bottom:  1px dotted #ffdafa;
        border-left:  1px dotted #ffdafa;
        border-right:  1px dotted #ffdafa;
        height:  35px;
        margin-right:  5px;
        width:  620px;
}
.footer #titles h3  {
        display:  block;
        float:  right;
        margin:  5px 10px 0 0;
        width:  295px;
        font-family:  "BYekan";
}
.pages #pages  {
        background:  #fff none repeat scroll 0 0;
        border-left:  1px solid #eee;
        border-right:  1px solid #eee;
}
.tags #tags  {
        background:  #fff none repeat scroll 0 0;
        border-left:  1px solid #eee;
        border-right:  1px solid #eee;
        padding:  0 10px;
}
.copyright  {
        background:  #017DCC none repeat scroll 0 0;
        color:  #ccc;
        margin-top:  10px;
        padding:  32px;
        border-radius: 5px;		text-align: center;
}
.copyright a  {
        color:  #fff;
        padding:  2px 4px;
}
.copyright a:hover  {
        background:  #f60 none repeat scroll 0 0;
        color:  #fff;
        padding:  2px 4px;
}
#error  {
        border:  1px solid #ffa671;
        font-size:  12px;
        margin:  5px;
        padding:  15px;
}
#error h1  {
        border-bottom:  1px dashed #f60;
}
.addcomment  {
        padding:  0 4px 0 0;
}
.addcomment h3  {
        background:  rgba(0,  0,  0,  0) url("images/add_comment.gif") no-repeat scroll right center;
        border-bottom:  1px solid #e8ebeb;
        height:  35px;
        margin:  0 0 10px;
        padding:  0 0 4px;
        width:  500px;
}
.commentdata  {
        margin-right:  40px;
        width:  400px;
}
.addcomment label  {
        cursor:  pointer;
        display:  block;
        float:  right;
        font-size:  12px;
        width:  100px;
}
.addcomment #author  {
        background:  #fff url("images/author.gif") no-repeat scroll right center;
        border:  1px solid #e8e4d0;
        border-radius:  10px;
        color:  #000;
        float:  right;
        padding:  0 28px 0 5px;
        text-align:  right;
        width:  290px;
}
.addcomment #email  {
        background:  #fff url("images/email.gif") no-repeat scroll right center;
        border:  1px solid #e8e4d0;
        border-radius:  10px;
        color:  #000;
        float:  right;
        padding:  0 28px 0 5px;
        text-align:  right;
        width:  290px;
}
.addcomment #url  {
        background:  #fff url("images/website.gif") no-repeat scroll right center;
        border:  1px solid #e8e4d0;
        border-radius:  10px;
        color:  #000;
        float:  right;
        padding:  0 28px 0 5px;
        text-align:  right;
        width:  290px;
}
.addcomment #text  {
        background:  #fff none repeat scroll 0 0;
        border:  1px solid #e8e4d0;
        border-radius:  10px;
        font-family:  tahoma;
        font-size:  12px;
        height:  100px;
        margin:  0;
        padding:  5px;
        width:  313px;
}
.addcomment .combutton  {
        background:  #79bbff none repeat scroll 0 center;
        border:  1px solid #84bbf3;
        border-radius:  6px;
        color:  #fff;
        display:  inline-block;
        font-family:  Tahoma;
        font-size:  12px;
        font-weight:  700;
        margin-right:  35%;
        padding:  5px 10px;
        text-decoration:  none;
        text-shadow:  none;
        width:  90px;
}
.combutton:hover  {
        background:  #378de5 none repeat scroll 0 center;
        cursor:  pointer;
}
.combutton:active  {
        position:  relative;
        top:  1px;
}
ul,  li  {
        border:  0 none;
        list-style:  outside none none;
        margin:  0;
        padding:  0;
}
.linkbox #linkbox-title h1,  .post .post-title h1  {
        font-family:  Tahoma, Geneva, sans-serif;
        font-size:  12px;
        font-weight:  700;
        line-height:  1.6;
        padding:  22px 55px 0 0;
}
.linkbox #linkbox-title h2,  .post .post-title h2  {
        font-family:  Tahoma, Geneva, sans-serif;
        font-size:  12px;
        font-weight:  700;
        line-height:  1.6;
        padding:  22px 55px 0 0;
}
.linkbox #linkbox-title h5,  .post .post-title h5  {
        font:  bold 1.4em/1.6 Arial, sans-serif;
        padding:  22px 50px 0 0;
}
.linkbox .post-content,  .post .post-content  {
        background:  rgba(0,  0,  0,  0) url("images/post_bg.gif") repeat scroll 0 0;
        padding:  10px 15px;
}
.linkbox #right-list,  .linkbox #left-list  {
        float:  right;
        width:  235px;
}
.linkbox #linkbox-footer,  .post .post-footer  {
        background:  rgba(0,  0,  0,  0) url("images/post_footer.png") repeat scroll 0 0;
        height:  20px;
}
.post .post-info ul,  .sidebar-right,  .sidebar-left,  .sidebar-right .category ul li ul  {
        margin:  0;
}
.paginate-footer,  .comment-footer  {
        background:  rgba(0,  0,  0,  0) url("images/paginate_footer.png") no-repeat scroll 0 0;
        height:  18px;
        width:  500px;
}
.sidebar-box h3 span,  .addcomment h3 span  {
        display:  none;
}
.sidebar-left .ads h3,  .sidebar-right .ads h3  {
        background:  rgba(0,  0,  0,  0) url("images/ads_title.jpg") no-repeat scroll 0 0;
        height:  63px;
        width:  220px;
}
.sidebar-right .monthly-archive h3,  .sidebar-left .monthly-archive h3  {
        background:  rgba(0,  0,  0,  0) url("images/archives_title.jpg") no-repeat scroll center bottom;
}
.pages,  .tags  {
        float:  right;
        margin:  5px 10px 0 0;
        width:  300px;
}
.pages h4,  .tags h4  {
        background:  rgba(0,  0,  0,  0) url("images/footer_title.png") no-repeat scroll 0 0;
        height:  25px;
        width:  300px;
}
.pages h4 span,  .tags h4 span  {
        display:  none;
        height:  25px;
}
.pages .btt,  .tags .btt  {
        background:  rgba(0,  0,  0,  0) url("images/footer_bottom.png") no-repeat scroll 0 0;
        height:  20px;
        width:  300px;
}
.post,  .comment  {
        margin:  10px 0;
        width:  500px;
}
table.ncode_imageresizer_warning  {
        background:  #ffffe0 none repeat scroll 0 0;
        border:  1px solid #e6db55;
        color:  #333;
        cursor:  pointer;
}
table.ncode_imageresizer_warning td  {
        font-family:  Verdana, Geneva, sans-serif;
        font-size:  10px;
        text-align:  left;
        text-decoration:  none;
        vertical-align:  middle;
}
table.ncode_imageresizer_warning td.td1  {
        padding:  5px;
}
table.ncode_imageresizer_warning td.td1  {
        padding:  2px;
}
#wp_page_numbers ul,  #wp_page_numbers li,  #wp_page_numbers a  {
        background:  #fff none repeat scroll 0 0;
        border:  medium none;
        font-family:  Arial;
        font-size:  11px;
        font-style:  normal;
        font-variant:  normal;
        font-weight:  400;
        letter-spacing:  0;
        line-height:  12px;
        list-style:  outside none none;
        margin:  0;
        padding:  0;
        text-align:  left;
        text-decoration:  none;
        text-indent:  0;
        text-transform:  none;
        word-spacing:  0;
}
#wp_page_numbers  {
        background:  #fff none repeat scroll 0 0;
        margin-bottom:  10px;
        margin-top:  10px;
        width:  100%;
}
#wp_page_numbers ul  {
        width:  100%;
}
#wp_page_numbers li  {
        display:  block;
        float:  left;
        margin-bottom:  2px;
}
#wp_page_numbers a  {
        border:  1px solid #bfbfbf;
        color:  #333;
        display:  block;
        margin-left:  2px;
        margin-right:  2px;
        padding:  3px 5px;
}
#wp_page_numbers li a:hover  {
        border-color:  #ba0000;
}
#wp_page_numbers li.space  {
        padding:  6px 2px;
}
#wp_page_numbers li.first_last_page  {
        font-style:  italic;
}
#wp_page_numbers li.active_page a  {
        border-color:  #0075b8;
}
#wp_page_numbers li.active_page a:hover  {
        border-color:  #ba0000;
        color:  #000;
        text-decoration:  underline;
}
#wp_page_numbers li.page_info  {
        border:  1px solid #bfbfbf;
        color:  #666;
        display:  block;
        float:  left;
        font-size:  11px;
        margin-right:  2px;
        padding:  3px 5px;
}
table.ncode_imageresizer_warning  {
        background:  #ffffe0 none repeat scroll 0 0;
        border:  1px solid #e6db55;
        color:  #333;
        cursor:  pointer;
}
table.ncode_imageresizer_warning td  {
        font-family:  Verdana, Geneva, sans-serif;
        font-size:  10px;
        text-align:  left;
        text-decoration:  none;
        vertical-align:  middle;
}
table.ncode_imageresizer_warning td.td1  {
        padding:  5px;
}
table.ncode_imageresizer_warning td.td1  {
        padding:  2px;
}
#wp_page_numbers ul,  #wp_page_numbers li,  #wp_page_numbers a  {
        background:  #fff none repeat scroll 0 0;
        border:  medium none;
        font-family:  Arial;
        font-size:  11px;
        font-style:  normal;
        font-variant:  normal;
        font-weight:  400;
        letter-spacing:  0;
        line-height:  12px;
        list-style:  outside none none;
        margin:  0;
        padding:  0;
        text-align:  left;
        text-decoration:  none;
        text-indent:  0;
        text-transform:  none;
        word-spacing:  0;
}
#wp_page_numbers  {
        background:  #fff none repeat scroll 0 0;
        margin-bottom:  10px;
        margin-top:  10px;
        width:  100%;
}
#wp_page_numbers ul  {
        width:  100%;
}
#wp_page_numbers li  {
        display:  block;
        float:  left;
        margin-bottom:  2px;
}
#wp_page_numbers a  {
        border:  1px solid #bfbfbf;
        color:  #333;
        display:  block;
        margin-left:  2px;
        margin-right:  2px;
        padding:  3px 5px;
}
#wp_page_numbers li a:hover  {
        border-color:  #ba0000;
}
#wp_page_numbers li.space  {
        padding:  6px 2px;
}
#wp_page_numbers li.first_last_page  {
        font-style:  italic;
}
#wp_page_numbers li.active_page a  {
        border-color:  #0075b8;
}
#wp_page_numbers li.active_page a:hover  {
        border-color:  #ba0000;
        color:  #000;
        text-decoration:  underline;
}
#wp_page_numbers li.page_info  {
        border:  1px solid #bfbfbf;
        color:  #666;
        display:  block;
        float:  left;
        font-size:  11px;
        margin-right:  2px;
        padding:  3px 5px;
}
.sidebar-left .Ads-Text h3  {
        background:  rgba(0,  0,  0,  0) url("images/Ads-Text_title.png") no-repeat scroll 0 0;
        height:  63px;
        width:  220px;
}
@media not all,  not all  {
    .fixed  {
        position:  static !important;
}
}
.wp-pagenavi span.pages  {
        background:  #fff none repeat scroll 0 0;
        border:  1px solid #e4e4e4;
        color:  #222;
        direction:  rtl;
        font-family:  tahoma;
        margin:  2px;
        padding:  2px 12px;
        width:  95px;
}
.wp-pagenavi  {
        clear:  both;
        direction:  rtl;
        padding:  0 5px 15px;
}
.wp-pagenavi h3  {
        font-family:  tahoma;
        font-size:  12px;
        font-weight:  400;
}
.wp-pagenavi a,  .wp-pagenavi span  {
        background:  #f0f0f0 none repeat scroll 0 0;
        border-radius:  3px;
        color:  #666;
        direction:  rtl;
        float:  right;
        font-family:  "byekan";
        height:  20px;
        line-height:  22px;
        margin:  2px;
        padding:  2px 7px 4px;
        text-align:  center;
        text-decoration:  none;
        text-shadow:  1px 1px #fff;
        transition:  all 0.5s ease 0s;
}
.wp-pagenavi a:hover,  .wp-pagenavi span.current  {
        background:  #eb4b3f none repeat scroll 0 0;
        border-color:  #999;
        color:  #fff;
        text-shadow:  1px 1px #d74439;
}
@media screen and (max-width: 988px)  {
    .inside-comment  {
        width:  100%;
}
.header,  #nav,  #warpper,  #sidebar-left h3,  #sidebar-right h3,  .sidebar-box-content,  .sidebar-box-footer,  .post .post-title,  .linkbox #linkbox-footer,  .post .post-footer,  .paginate-title,  .paginate-footer,  .comment-footer,  .comment-title,  .pages .btt,  .tags .btt  {
        background-size:  100% 100%;
        width:  100%;
}
#sidebar-left  {
        width:  23%;
}
.two-box-warpper  {
        width:  76%;
}
#sidebar-right  {
        width:  30%;
}
#page-body  {
        width:  68.5%;
}
.post,  .comment,  .page-body > iframe  {
        width:  100%;
}
.post .post-info  {
        margin:  17px 2% 0;
        width:  96%;
}
.linkbox .post-content,  .post .post-content,  .comment-content  {
        background-size:  100% 100%;
}
.link  {
        height:  40px;
        line-height:  40px;
}
.page-body iframe  {
        max-width:  100%;
}
.paginate  {
        padding:  1%;
        width:  97%;
}
.footer  {
        margin:  0 auto;
        width:  100%;
}
#left-menus  {
        margin:  10px 1%;
        width:  33%;
}
#right-menus  {
        width:  64%;
}
.pages h4,  .tags h4  {
        background-size:  100% 100%;
        width:  100%;
}
.footer #titles  {
        background-size:  100% 100%;
        margin-right:  1%;
        width:  98%;
}
.pages,  .tags,  .footer #titles h3  {
        margin-right:  1%;
        width:  48%;
}
.wp-pagenavi a,  .wp-pagenavi span  {
        margin:  2px;
}
.wp-pagenavi  {
        margin:  5px auto;
        width:  100%;
}
.pages .tags  {
        width:  100%;
}
.linkbox #linkbox-title h2,  .post .post-title h2  {
        padding-right:  15%;
}
.commentdata  {
        margin-right:  8%;
        width:  85%;
}
.addcomment #author,  .addcomment #email,  .addcomment #url,  .addcomment #text  {
        padding:  0 10% 0 1%;
        width:  72%;
}
.addcomment label  {
        width:  25%;
}
.addcomment #author  {
        padding:  0 10% 0 1%;
        width:  72%;
}
.search  {
        margin-left:  3%;
        width:  20.5%;
}
#nav ul  {
        float:  right;
        padding:  0 3% 0 5px;
        width:  72%;
}
.sti  {
        margin-right:  1%;
        width:  16%;
}
.st  {
        width:  80%;
}
.page-body img  {
        height:  auto;
}
.post .post-info ul .author  {
        padding-left:  2.5%;
        padding-right:  5%;
        width:  auto;
}
.post .post-info ul .date,  .post .post-info ul .categry,  .post .post-info ul .comment-head  {
        width:  auto;
}
}
@media screen and (max-width: 800px)  {
    h3 > i  {
        background:  red none repeat scroll 0 0;
        border-radius:  20px;
        color:  yellow;
        display:  block;
        left:  8%;
        padding:  5px;
        position:  absolute;
        top:  10px;
}
.sidebar-box h3 span,  .addcomment h3 span  {
        display:  block;
        font-family:  "byekan";
        line-height:  60px;
        text-align:  center;
        text-shadow:  2px 2px #fff;
}
.sidebar-right .category h3,  .sidebar-right .monthly-archive h3,  .sidebar-left .monthly-archive h3,  .sidebar-right .status h3,  .sidebar-left .playing h3,  .sidebar-left .ads h3,  .sidebar-right .ads h3,  .sidebar-left .tools h3,  .sidebar-left .rand-posts h3,  .sidebar-left .Ads-Text h3  {
        background:  rgba(0,  0,  0,  0) url("images/menus-background.jpg") no-repeat scroll 0 0;
}
.header > h3  {
        border:  3px solid #fff;
        border-radius:  15px;
        box-shadow:  5px 5px 50px #fff;
        display:  block;
        font-family:  "BYekan";
        font-size:  14px;
        height:  70px;
        left:  2%;
        line-height:  70px;
        position:  absolute;
        top:  10px;
        width:  45%;
}
.header  {
        background:  rgba(0,  0,  0,  0) none repeat scroll 0 0;
        height:  100px;
}
.header > h1  {
        display:  block;
        font-family:  "BYekan";
        font-size:  50px;
        position:  absolute;
        right:  0;
        text-shadow:  5px 3px #eee;
        top:  0;
        width:  50%;
}
#sidebar-left,  .two-box-warpper  {
        width:  100%;
}
#sidebar-left .sidebar-box:nth-child(2n+1)  {
        float:  right;
        width:  49%;
}
#sidebar-left .sidebar-box:nth-child(2n)  {
        float:  left;
        width:  49%;
}
.sidebar-left .fi, .sidebar-right .short, .monthly-archive  {
        display:  none;
}
.sidebar-box ul li  {
        line-height:  35px;
}
#sidebar-left .sidebar-box:last-child  {
        float:  right;
}
#right-menus  {
        width:  100%;
}
#left-menus  {
        margin-right:  1%;
        width:  98%;
}
.link  {
        height:  35px;
}
}
@media screen and (max-width: 768px)  {
    .fixed-ads {
         display: none;
}
    .search-text  {
        color:  #fff;
        display:  block;
        font-size:  12px;
        font-weight:  bold;
        left:  7%;
        position:  absolute;
        top:  19px;
}
.header > h1  {
        font-size:  40px;
        width:  35%;
}
.header > h3  {
        width:  60%;
}
nav a#pull  {
        background-color:  #283744;
        color:  #fff;
        display:  block;
        float:  right;
        font-size:  12px;
        font-weight:  bold;
        height:  50px;
        line-height:  50px;
        margin-bottom:  20px;
        margin-top:  20px;
        position:  relative;
        text-align:  center;
        width:  100%;
        z-index:  9;
}
nav a#pull::after  {
        background:  rgba(0,  0,  0,  0) url("nav-icon.png") no-repeat scroll 0 0;
        content:  "";
        display:  inline-block;
        height:  30px;
        position:  absolute;
        right:  15px;
        top:  10px;
        width:  30px;
}
#nav ul  {
        display:  none;
        margin-top:  20px;
        position:  relative;
        width:  100%;
        z-index:  99;
}
.search  {
        margin-left:  0;
        width:  100%;
}
.st  {
        border:  1px solid;
        height:  35px;
        line-height:  40px;
        padding-right:  2%;
        position:  absolute;
        right:  1%;
        top:  5px;
        width:  78%;
}
.sti  {
        background:  #d83c3c none repeat scroll 0 0;
        border:  1px solid;
        height:  36px;
        left:  1%;
        position:  absolute;
        top:  5px;
        width:  17%;
}
#nav  {
        background:  #eeeaff none repeat scroll 0 0;
}
#nav ul li  {
        background:  #e0d2ff none repeat scroll 0 0;
        border-bottom:  2px solid #808080;
        border-radius:  15px;
        border-right:  2px solid gray;
        float:  right;
        margin:  10px 1%;
        width:  44%;
}
#nav ul li a span  {
        display:  block;
        padding:  5px 10px 4px 5px;
}
#nav ul li a:hover,  #nav ul li A:hover span  {
        background:  rgba(0,  0,  0,  0) none repeat scroll 0 0;
}
}
@media screen and (max-width: 640px)  {
    .header > h1  {
        font-size:  20px;
        right:  2%;
        top:  20px;
        width:  25%;
}
.header > h3  {
        width:  70%;
}
#page-body,  #sidebar-right  {
        width:  100%;
}
#sidebar-left .sidebar-box:nth-child(2n+1)  {
        width:  100%;
}
#sidebar-left .sidebar-box:nth-child(2n)  {
        width:  100%;
}
.footer #titles  {
        display:  none;
}
.pages,  .tags  {
        margin-right:  1%;
        width:  98%;
}
.wp-pagenavi  {
        width:  90%;
}
#nav ul li  {
        float:  none;
        margin:  10px auto;
        width:  95%;
}
#nav ul  {
        padding-right:  0;
}
}
@media screen and (max-width: 480px)  {
    nav ul  {
        display:  none;
}
.categories select  {
        background:  #eee none repeat scroll 0 0;
        display:  block;
        font-family:  tahoma;
        font-weight:  bold;
        height:  30px;
        margin:  0 auto;
        text-align:  center;
        width:  90%;
}
.categories select option  {
        height:  40px;
}
.search-text  {
        left:  5%;
}
.header > h1  {
        display:  none;
}
.header > h3  {
        width:  95%;
}
}
@media screen and (max-width: 441px)  {
    .wp-pagenavi  {
        height:  40px;
}
}
@media screen and (max-width: 360px)  {
    .header > h3  {
        font-size:  12px;
}
.search-text  {
        font-size:  10px;
}
}
.socialfa {
    padding-top: 8px;
    text-align: center;
}
.iconfa {
    background: rgba(0, 0, 0, 0) url("images/icons.png") repeat scroll 0 0;
    display: inline-block;
    height: 32px;
    margin: 0;
    opacity: 0.9;
    overflow: hidden;
    text-indent: 100%;
    transition: all 0.3s ease-out 0s;
    white-space: nowrap;
    width: 32px;
}
.iconfa:hover {
    opacity: 0.6;
}
.googlefa {
    background-position: -222px -501px;
}
.google_plus {
    background-position: -254px -469px;
}
.stumbleupon {
    background-position: -255px -533px;
}
.telegram {
    background-position: -223px -565px;
}
.cloob {
    background-position: -253px -597px;
}
.facenama {
    background-position: -221px -597px;
}
.twitterfa {
    background-position: -223px -533px;
}
.facebookfa {
    background-position: -222px -469px;
}
.yahoofa {
    background-position: -255px -565px;
}
.emailfa {
    background-position: -221px -629px;
}
.linkedin {
    background-position: -254px -501px;
}