.control-group.contact_cc .above_cc {
  font-size: 12px; }
  .control-group.contact_cc .above_cc .right_cc {
    right: 70px; }

.control-group.cancel_cc .above_cc {
  font-size: 12px; }
  .control-group.cancel_cc .above_cc .right_cc {
    right: 30px; }

.bottom_header .text_wrap {
  font-size: 13px; }

.downloader_insider .wrapper_downloader_insider_left a.right {
  margin-top: 18px;
  padding: 12px 0; }

.downloader_insider .wrapper_downloader_insider_left img {
  position: relative;
  bottom: 5px; }

.wrapper .offer_container .premium .green {
  font-size: 16px;
  line-height: 16px;
  padding: 6px 14px; }

.wrapper header .right {
  width: 82%; }
.wrapper header .left {
  width: 18%; }

.bottom_header .left {
  width: 32%; }

.wrapper .offer_container .basic .cell:nth-child(6), .wrapper .offer_container .standard .cell:nth-child(6) {
  line-height: 14px;
  padding: 10px 0; }

section.blocks.cache table#finished_caches tr th.right {
  padding: 20px 0 15px 10px; }

#welcome_box .text_cont {
  margin: -80px 50px 0 0; }

#error_explanation {
  top: -5px; }
