@charset "UTF-8";
/**********************************/
/* base */
/**********************************/
/**********************************/
/* Format Browser's defined style */
/**********************************/
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
.module-reset div,
.module-reset span,
.module-reset applet,
.module-reset object,
.module-reset iframe,
.module-reset h1,
.module-reset h2,
.module-reset h3,
.module-reset h4,
.module-reset h5,
.module-reset h6,
.module-reset p,
.module-reset blockquote,
.module-reset pre,
.module-reset a,
.module-reset abbr,
.module-reset acronym,
.module-reset address,
.module-reset big,
.module-reset cite,
.module-reset code,
.module-reset del,
.module-reset dfn,
.module-reset em,
.module-reset img,
.module-reset ins,
.module-reset kbd,
.module-reset q,
.module-reset s,
.module-reset samp,
.module-reset small,
.module-reset strike,
.module-reset strong,
.module-reset sub,
.module-reset sup,
.module-reset tt,
.module-reset var,
.module-reset b,
.module-reset u,
.module-reset i,
.module-reset center,
.module-reset dl,
.module-reset dt,
.module-reset dd,
.module-reset ol,
.module-reset ul,
.module-reset li,
.module-reset fieldset,
.module-reset form,
.module-reset label,
.module-reset legend,
.module-reset table,
.module-reset caption,
.module-reset tbody,
.module-reset tfoot,
.module-reset thead,
.module-reset tr,
.module-reset th,
.module-reset td,
.module-reset article,
.module-reset aside,
.module-reset canvas,
.module-reset details,
.module-reset embed,
.module-reset figure,
.module-reset figcaption,
.module-reset footer,
.module-reset header,
.module-reset hgroup,
.module-reset menu,
.module-reset main,
.module-reset nav,
.module-reset output,
.module-reset ruby,
.module-reset section,
.module-reset summary,
.module-reset time,
.module-reset mark,
.module-reset audio,
.module-reset video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
.module-reset ol,
.module-reset ul {
  list-style: none;
}
.module-reset table {
  border-collapse: collapse;
  border-spacing: 0;
}
.module-reset caption,
.module-reset th,
.module-reset td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
.module-reset q,
.module-reset blockquote {
  quotes: none;
}
.module-reset q:before,
.module-reset blockquote:before,
.module-reset q:after,
.module-reset blockquote:after {
  content: "";
  content: none;
}
.module-reset a img {
  border: none;
}
.module-reset article,
.module-reset aside,
.module-reset details,
.module-reset figcaption,
.module-reset figure,
.module-reset footer,
.module-reset header,
.module-reset hgroup,
.module-reset menu,
.module-reset main,
.module-reset nav,
.module-reset section,
.module-reset summary {
  display: block;
}
.module-reset div,
.module-reset p,
.module-reset span,
.module-reset h1,
.module-reset h2,
.module-reset h3,
.module-reset h4,
.module-reset h5,
.module-reset li,
.module-reset dt,
.module-reset dd,
.module-reset th,
.module-reset td {
  max-height: 999999px;
}
/**********************************/
/* layout */
/**********************************/
html,
body {
  height: 100%;
}
html {
  -webkit-font-smoothing: antialiased;
}
body {
  text-align: center;
  line-height: 1;
}
.device-js-off #global-wrapper {
  margin: 0 auto;
  width: 1280px;
  overflow: hidden;
}
/**********************************/
/* font */
/**********************************/
body {
  font: 12px/1 "Gotham SSm A", "Gotham SSm B";
  color: #333;
  background: #fff;
}
input,
textarea {
  font-family: "Gotham SSm A", "Gotham SSm B";
}
a {
  text-decoration: none;
  color: #000;
}
@media screen and (max-width: 750px) {
  .device-js-on body {
    font-size: 26px;
  }
}
@media screen and (max-width: 710px) {
  .device-js-on body {
    font-size: 25px;
  }
}
@media screen and (max-width: 680px) {
  .device-js-on body {
    font-size: 24px;
  }
}
@media screen and (max-width: 650px) {
  .device-js-on body {
    font-size: 23px;
  }
}
@media screen and (max-width: 620px) {
  .device-js-on body {
    font-size: 22px;
  }
}
@media screen and (max-width: 590px) {
  .device-js-on body {
    font-size: 21px;
  }
}
@media screen and (max-width: 560px) {
  .device-js-on body {
    font-size: 19px;
  }
}
@media screen and (max-width: 530px) {
  .device-js-on body {
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
  .device-js-on body {
    font-size: 17px;
  }
}
@media screen and (max-width: 470px) {
  .device-js-on body {
    font-size: 16px;
  }
}
@media screen and (max-width: 440px) {
  .device-js-on body {
    font-size: 15px;
  }
}
@media screen and (max-width: 410px) {
  .device-js-on body {
    font-size: 14px;
  }
}
@media screen and (max-width: 380px) {
  .device-js-on body {
    font-size: 13px;
  }
}
@media screen and (max-width: 350px) {
  .device-js-on body {
    font-size: 12px;
  }
}
