@charset "UTF-8";
/**********************************/
/* pc */
/**********************************/
@media screen and (min-width: 1025px), print {
  #topNavBtn {
    width: 45px;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 101;
    background-color: rgba(26,18,45,0.8);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #topNavBtn img {
    width: 100%;
    vertical-align: top;
    border: none 0;
  }
  #topNavBtn .inner:after,
  #topNavBtn .inner:before,
  #topNavBtn .vertical:after,
  #topNavBtn .vertical:before {
    content: "";
    margin-top: -3.33333%;
    margin-left: -22.22222%;
    width: 44.44444%;
    height: 6.66667%;
    position: absolute;
    left: 50%;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #topNavBtn .inner:after,
  #topNavBtn .inner:before {
    top: 50%;
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
    filter: none;
  }
  #topNavBtn .vertical:after {
    top: 33.33333%;
  }
  #topNavBtn .vertical:before {
    top: 66.66667%;
  }
  #topNavBtn.open {
    right: 240px;
  }
  #topNavBtn.open .inner:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #topNavBtn.open .inner:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #topNavBtn.open .vertical:after {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  #topNavBtn.open .vertical:before {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  #topNavBtn.close {
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }
  .mainSupport #topNavBtn {
    display: block;
  }
  .mainSupport #global-container {
    padding-right: 0;
    -webkit-transition: padding-right 0.5s ease;
    -moz-transition: padding-right 0.5s ease;
    transition: padding-right 0.5s ease;
  }
  .mainSupport #global-nav2 {
    right: -240px;
    -webkit-transition: right 0.5s ease;
    -moz-transition: right 0.5s ease;
    transition: right 0.5s ease;
  }
  .mainSupport #global-nav2.navFixed {
    right: -240px;
  }
  .mainSupport #global-wrapper {
    overflow: hidden;
  }
  .mainSupport #global-wrapper.scrolled #global-nav2,
  .mainSupport #global-wrapper.navOpen #global-nav2 {
    right: 0;
  }
  .mainSupport #global-wrapper.scrolled #global-nav2.navFixed,
  .mainSupport #global-wrapper.navOpen #global-nav2.navFixed {
    right: 0;
  }
  .mainSupport #global-wrapper.scrolled #global-container,
  .mainSupport #global-wrapper.navOpen #global-container {
    padding-right: 240px;
  }
  .mainSupport #global-wrapper.scrolled #topNavBtn {
    right: 240px;
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }
  .mainNotSupport #global-wrapper {
    overflow: visible;
  }
  .mainNotSupport #global-wrapper #global-container {
    padding-right: 240px;
  }
  .mainNotSupport #global-wrapper #global-nav2.navFixed {
    right: 0;
  }
  #global-wrapper .subTitle .module-iconBlankM01{
    width: 0.7em;
    height: 0.7em;
    margin-left: 0.3em;
  }
  #global-wrapper .subTitle .module-iconBlankM01:after{
    width: 0.7em;
    height: 0.7em;
  }
}
.device-view-pc #topNavBtn {
  width: 45px;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 101;
  background-color: rgba(26,18,45,0.8);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.device-view-pc #topNavBtn img {
  width: 100%;
  vertical-align: top;
  border: none 0;
}
.device-view-pc #topNavBtn .inner:after,
.device-view-pc #topNavBtn .inner:before,
.device-view-pc #topNavBtn .vertical:after,
.device-view-pc #topNavBtn .vertical:before {
  content: "";
  margin-top: -3.33333%;
  margin-left: -22.22222%;
  width: 44.44444%;
  height: 6.66667%;
  position: absolute;
  left: 50%;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.device-view-pc #topNavBtn .inner:after,
.device-view-pc #topNavBtn .inner:before {
  top: 50%;
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
  filter: none;
}
.device-view-pc #topNavBtn .vertical:after {
  top: 33.33333%;
}
.device-view-pc #topNavBtn .vertical:before {
  top: 66.66667%;
}
.device-view-pc #topNavBtn.open {
  right: 240px;
}
.device-view-pc #topNavBtn.open .inner:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.device-view-pc #topNavBtn.open .inner:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.device-view-pc #topNavBtn.open .vertical:after {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.device-view-pc #topNavBtn.open .vertical:before {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.device-view-pc #topNavBtn.close {
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
}
.device-view-pc .mainSupport #topNavBtn {
  display: block;
}
.device-view-pc .mainSupport #global-container {
  padding-right: 0;
  -webkit-transition: padding-right 0.5s ease;
  -moz-transition: padding-right 0.5s ease;
  transition: padding-right 0.5s ease;
}
.device-view-pc .mainSupport #global-nav2 {
  right: -240px;
  -webkit-transition: right 0.5s ease;
  -moz-transition: right 0.5s ease;
  transition: right 0.5s ease;
}
.device-view-pc .mainSupport #global-nav2.navFixed {
  right: -240px;
}
.device-view-pc .mainSupport #global-wrapper {
  overflow: hidden;
}
.device-view-pc .mainSupport #global-wrapper.scrolled #global-nav2,
.device-view-pc .mainSupport #global-wrapper.navOpen #global-nav2 {
  right: 0;
}
.device-view-pc .mainSupport #global-wrapper.scrolled #global-nav2.navFixed,
.device-view-pc .mainSupport #global-wrapper.navOpen #global-nav2.navFixed {
  right: 0;
}
.device-view-pc .mainSupport #global-wrapper.scrolled #global-container,
.device-view-pc .mainSupport #global-wrapper.navOpen #global-container {
  padding-right: 240px;
}
.device-view-pc .mainSupport #global-wrapper.scrolled #topNavBtn {
  right: 240px;
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
}
.device-view-pc .mainNotSupport #global-wrapper {
  overflow: visible;
}
.device-view-pc .mainNotSupport #global-wrapper #global-container {
  padding-right: 240px;
}
.device-view-pc .mainNotSupport #global-wrapper #global-nav2.navFixed {
  right: 0;
}
@media screen and (min-width: 1025px), print {
  #global-nav2 .globalInner header {
    display: none;
  }
  #global-nav2 .searchInputWrap .searchInputInner {
    padding-top: 0;
  }
  #global-nav2 .searchInputWrap .search {
    border-top: none 0;
  }
  #global-nav2 .languageWrap .languageOuter .languageInner {
    padding-top: 0;
  }
  #global-nav2 .languageWrap .languageOuter ul {
    border-top: none 0;
  }
}
.device-view-pc #global-nav2 .globalInner header {
  display: none;
}
.device-view-pc #global-nav2 .searchInputWrap .searchInputInner {
  padding-top: 0;
}
.device-view-pc #global-nav2 .searchInputWrap .search {
  border-top: none 0;
}
.device-view-pc #global-nav2 .languageWrap .languageOuter .languageInner {
  padding-top: 0;
}
.device-view-pc #global-nav2 .languageWrap .languageOuter ul {
  border-top: none 0;
}
@media all and (min-width: 751px), print {
  #global-footer {
    margin-top: 70px;
  }
  #main {
    padding-bottom: 56.25%;
    width: 100%;
    position: relative;
    background-color: #000;
  }
  #main .mainTitle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }
  #main .mainTitle img {
    height: auto;
  }
  #main .mainTitle .mainTitleOuter {
    width: 100%;
    height: 100%;
    display: table;
  }
  #main .mainTitle .mainTitleOuter .mainTitleInner {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
  }
  #main .mainTitle .title {
    margin: 0 auto;
    padding-top: 26.15385%;
    width: 55.38462%;
    height: 0;
    overflow: hidden;
    background: url("/en/assets/images/index/main/title_01.png") no-repeat 0 0;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
  }
  #main #mainMovieWrap {
    padding-bottom: 56.25%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  #main #mainMovieWrap .mainMovie,
  #main #mainMovieWrap .mainMovieOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #main #mainMovieWrap .mainMovie iframe {
    width: 100%;
    height: 100%;
  }
  #main #mainMovieWrap .mainMovieOverlay {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    background-color: #000;
  }
  #main #mainFadeWrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  #main #mainFadeWrap #mainFadeShow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #main #mainFadeWrap #mainFadeShow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    background-repeat: no-repeat;
    background-position: center top;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
  }
  #main #mainFadeWrap #mainFadeShow li:first-child {
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
    filter: none;
    z-index: 1;
  }
  #main #mainFadeWrap #mainFadeShow .item1 {
    background-image: url("/en/assets/images/index/slide/pic_01.jpg");
  }
  #main #mainFadeWrap #mainFadeShow .item2 {
    background-image: url("/en/assets/images/index/slide/pic_02.jpg");
  }
  #main #mainFadeWrap #mainFadeShow .item3 {
    background-image: url("/en/assets/images/index/slide/pic_03.jpg");
  }
  #main #mainFadeWrap #mainFadeShow .item4 {
    background-image: url("/en/assets/images/index/slide/pic_04.jpg");
  }
  #main #mainFadeWrap #mainFadeShow .item5 {
    background-image: url("/en/assets/images/index/slide/pic_05.jpg");
  }
  #main .pagination {
    width: 50%;
    text-align: left;
    position: absolute;
    bottom: 50px;
    left: 2.88462%;
    z-index: 4;
  }
  #main .pagination li {
    margin-right: 1.73077%;
    width: 2.69231%;
    font-size: 0;
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
  }
  #main .pagination li.stay {
    cursor: default;
    background-color: #f1c400;
  }
  #main .pagination li img {
    width: 100%;
    vertical-align: top;
  }
  #main .mainLinks {
    width: 50%;
    text-align: right;
    position: absolute;
    bottom: 50px;
    right: 2.88462%;
    z-index: 4;
  }
  #main .mainLinks .linkOuter {
    display: none;
  }
  #main .mainLinks a {
    color: #fff;
  }
  #main .mainLinks a .linkInner {
    padding-left: 2.75em;
    display: inline-block;
    position: relative;
  }
  #main .mainLinks a .arrowIcon {
    width: 2em;
    height: 2em;
    position: absolute;
    top: -0.2em;
    left: 0;
    background: url("/en/assets/images/index/main/arrow_01.png") no-repeat 0 0;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
  }
  #main .mainLinks a .text {
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
  }
  #secNewsImportant table {
    width: 100%;
  }
  #secNewsImportant table .caption {
    padding: 1em 0;
    width: 110px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    background-color: #666;
  }
  #secNewsImportant table .caption .text {
    padding-top: 1em;
    display: block;
  }
  #secNewsImportant table .detail {
    text-align: left;
    vertical-align: top;
  }
  #secNewsImportant table .detail .items .item {
    padding: 1.5em 2em;
    border-top: solid 1px #ccc;
  }
  #secNewsImportant table .detail .items .item:first-child {
    border-top: none 0;
  }
  #secNewsImportant table .detail .items .item .date,
  #secNewsImportant table .detail .items .item .text {
    line-height: 1.4;
  }
  #secNewsImportant table .detail .items .item .date {
    margin-bottom: 0.5em;
    font-size: 13px;
    display: block;
  }
  #secNewsImportant table .detail .items .item .text {
    font-size: 15px;
  }
  #secNewsImportant table .detail .items .item .listBlank {
    margin-left: 1em;
    margin-top: -2px;
  }
  #pageNav {
    background-color: #333;
  }
  #pageNav ul {
    display: block;
  }
  #pageNav ul li {
    display: inline-block;
    position: relative;
  }
  #pageNav ul li a {
    padding: 20px 26px 20px 28px;
    display: block;
  }
  #pageNav ul li a div:after {
    content: "";
    margin: auto;
    width: 0;
    height: 32.05128%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-left: solid 1px #6d6d6d;
  }
  #pageNav ul li a strong {
    font-size: 15px;
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-weight: 500;
    color: #fff;
    display: block;
  }
  #pageNav ul li:first-child a div:after {
    border-left: none 0;
  }
  #secTimes {
    background-color: #000;
  }
  #secTimes .title {
    padding: 75px 0 40px;
    font-size: 66px;
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-weight: 200;
    color: #fff;
  }
  #secTimes .items {
    display: block;
    background-color: #fff;
  }
  #secTimes .items .item {
    width: 100%;
    position: relative;
    border-bottom: solid 1px #000;
  }
  #secTimes .items .item a {
    color: #fff;
    display: block;
  }
  #secTimes .items .item a img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }
  #secTimes .items .item a .detail {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  #secTimes .items .item a .detail .leadWrap,
  #secTimes .items .item a .detail .leadOuter {
    width: 100%;
    height: 100%;
  }
  #secTimes .items .item a .detail .leadWrap {
    display: table;
  }
  #secTimes .items .item a .detail .leadOuter {
    vertical-align: middle;
    display: table-cell;
  }
  #secTimes .items .item a .detail .subTitle {
    font-size: 29px;
    font-weight: 300;
    line-height: 1.3;
  }
  #secTimes .items .item a .detail .lead {
    padding-top: 15px;
    font-size: 15px;
    line-height: 1.4;
    color: #f1c400;
  }
  #secTimes .items .item a .detail .date {
    padding-top: 15px;
    font-size: 16px;
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-weight: 400;
  }
  #secTimes .items .typeL {
    text-align: left;
  }
  #secTimes .items .typeL .leadInner {
    padding-left: 2.88462%;
  }
  #secTimes .items .typeR {
    text-align: right;
  }
  #secTimes .items .typeR .leadInner {
    padding-right: 2.88462%;
  }
  #secTimes .indexLink {
    padding: 20px 2.88462%;
    text-align: right;
  }
  #secTimes .indexLink a {
    font-size: 15px;
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-weight: 400;
    color: #fff;
  }
  #secTimes .indexLink a .linkInner {
    display: inline-block;
  }
  #secTimes .indexLink a .icon {
    background-color: #fff;
  }
  #secTimes .indexLink a .icon:before {
    border-color: #000;
  }
  #secTimes .indexLink a .text {
    margin-left: 0.5em;
  }
  #secFeatured .title {
    padding: 75px 0 40px;
    font-size: 66px;
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-weight: 200;
  }
  #secFeatured .items {
    display: block;
  }
  #secFeatured .items:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  #secFeatured .items .item {
    width: 25%;
    text-align: left;
    float: left;
    position: relative;
  }
  #secFeatured .items .item a {
    color: #fff;
    display: block;
  }
  #secFeatured .items .item a img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
  }
  #secFeatured .items .item a .detail {
    margin: auto;
    width: 85%;
    height: 85%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  #secFeatured .items .item a .detail .leadWrap,
  #secFeatured .items .item a .detail .leadOuter {
    width: 100%;
    height: 100%;
  }
  #secFeatured .items .item a .detail .leadWrap {
    display: table;
  }
  #secFeatured .items .item a .detail .leadOuter {
    display: table-cell;
  }
  #secFeatured .items .item a .detail .subTitle {
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #secFeatured .items .item a .detail .subTitle .subTitleText {
    font-size: 14px;
    line-height: 1.6;
  }
  #secFeatured .items .item a .detail .subTitle .subTitleBlank {
    margin-left: 0.5em;
  }
  #secFeatured .items .typeT .leadOuter {
    vertical-align: top;
  }
  #secFeatured .items .typeM .leadOuter {
    vertical-align: middle;
  }
  #secFeatured .items .typeB .leadOuter {
    vertical-align: bottom;
  }
  #secNews .secOuter {
    padding-top: 75px;
  }
  #secNews .secInner {
    margin: 0 auto;
    max-width: 1040px;
  }
  #secNews .secInner .newsWrap {
    margin: 0 auto;
    width: 92.30769%;
    position: relative;
  }
  #secNews .secInner .newsWrap .caption {
    font-size: 26px;
    line-height: 54px;
    font-weight: 300;
    border-bottom: solid 4px #fff;
  }
  #secNews .secInner .newsWrap .listLinks {
    padding-top: 10px;
    text-align: left;
  }
  #secNews .secInner .newsWrap .listLinks .listLink {
    margin-left: 55px;
    display: inline-block;
    white-space: nowrap;
  }
  #secNews .secInner .newsWrap .listLinks .listLink:first-child {
    margin-left: 0;
  }
  #secNews .secInner .newsWrap .listLinks .listLink .text {
    margin-left: 0.5em;
    font-size: 16px;
    vertical-align: middle;
  }
  #secNews .secInner .newsWrap .news {
    width: 46.875%;
    float: left;
  }
  #secNews .secInner .newsWrap .news .caption {
    margin-bottom: 40px;
  }
  #secNews .secInner .newsWrap .news .items {
    text-align: left;
    display: block;
  }
  #secNews .secInner .newsWrap .news .items .item {
    padding: 20px 0;
    border-bottom: solid 1px #ddd;
  }
  #secNews .secInner .newsWrap .news .items .item:first-child {
    padding-top: 0;
  }
  #secNews .secInner .newsWrap .news .items .item .detail {
    width: 100%;
    display: block;
  }
  #secNews .secInner .newsWrap .news .items .item .detail .date,
  #secNews .secInner .newsWrap .news .items .item .detail .textWrap {
    display: block;
  }
  #secNews .secInner .newsWrap .news .items .item .detail .date {
    padding-top: 0.2em;
    font-size: 14px;
    line-height: 1.4;
    color: #999;
    white-space: nowrap;
  }
  #secNews .secInner .newsWrap .news .items .item .detail .textWrap {
    width: 100%;
  }
  #secNews .secInner .newsWrap .news .items .item .detail .textWrap .text {
    font-size: 14px;
    line-height: 1.4;
  }
  #secNews .secInner .newsWrap .news .items .item .detail .textWrap .listPdf,
  #secNews .secInner .newsWrap .news .items .item .detail .textWrap .listBlank,
  #secNews .secInner .newsWrap .news .items .item .detail .textWrap .icon {
    margin-left: 1em;
    margin-top: -3px;
  }
  #secNews .secInner .newsWrap .news nav {
    display: none;
  }
  #secNews .secInner .newsWrap .event {
    width: 46.875%;
    float: right;
  }
  #secNews .secInner .newsWrap .event .caption {
    margin-bottom: 40px;
  }
  #secNews .secInner .newsWrap .event .items {
    text-align: left;
    display: block;
  }
  #secNews .secInner .newsWrap .event .items .item {
    padding: 20px 0;
    border-bottom: solid 1px #ddd;
  }
  #secNews .secInner .newsWrap .event .items .item:first-child {
    padding-top: 0;
  }
  #secNews .secInner .newsWrap .event .items .item .detail .textWrap,
  #secNews .secInner .newsWrap .event .items .item .detail .date {
    display: block;
  }
  #secNews .secInner .newsWrap .event .items .item .detail .textWrap {
    width: 100%;
  }
  #secNews .secInner .newsWrap .event .items .item .detail .textWrap .text {
    font-size: 14px;
    line-height: 1.4;
  }
  #secNews .secInner .newsWrap .event .items .item .detail .textWrap .listPdf,
  #secNews .secInner .newsWrap .event .items .item .detail .textWrap .listBlank,
  #secNews .secInner .newsWrap .event .items .item .detail .textWrap .icon {
    margin-top: -3px;
    margin-left: 1em;
  }
  #secNews .secInner .newsWrap .event .items .item .detail .date {
    padding-top: 0.2em;
    font-size: 14px;
    line-height: 1.4;
    color: #999;
    white-space: nowrap;
  }
  #secRecommended .secInner {
    margin: 0 auto;
    max-width: 1040px;
  }
  #secRecommended .title {
    padding: 75px 0 10px;
    font-size: 66px;
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-weight: 200;
  }
  #secRecommended .items {
    margin: 0 auto;
    width: 88.46154%;
    display: block;
  }
  #secRecommended .items:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  #secRecommended .items .first {
    clear: both;
  }
  #secRecommended .items .item {
    padding-top: 30px;
    width: 25%;
    float: left;
  }
  #secRecommended .items .item a {
    display: block;
  }
  #secRecommended .items .item a img {
    width: 86.95652%;
    height: auto;
    vertical-align: bottom;
  }
  #secRecommended .items .item a .subTitle {
    padding-top: 20px;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.4;
  }
}
.device-view-pc #global-footer {
  margin-top: 70px;
}
.device-view-pc #main {
  padding-bottom: 56.25%;
  width: 100%;
  position: relative;
  background-color: #000;
}
.device-view-pc #main .mainTitle {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.device-view-pc #main .mainTitle img {
  height: auto;
}
.device-view-pc #main .mainTitle .mainTitleOuter {
  width: 100%;
  height: 100%;
  display: table;
}
.device-view-pc #main .mainTitle .mainTitleOuter .mainTitleInner {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.device-view-pc #main .mainTitle .title {
  margin: 0 auto;
  padding-top: 26.15385%;
  width: 55.38462%;
  height: 0;
  overflow: hidden;
  background: url("/en/assets/images/index/main/title_01.png") no-repeat 0 0;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
}
.device-view-pc #main #mainMovieWrap {
  padding-bottom: 56.25%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.device-view-pc #main #mainMovieWrap .mainMovie,
.device-view-pc #main #mainMovieWrap .mainMovieOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.device-view-pc #main #mainMovieWrap .mainMovie iframe {
  width: 100%;
  height: 100%;
}
.device-view-pc #main #mainMovieWrap .mainMovieOverlay {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  background-color: #000;
}
.device-view-pc #main #mainFadeWrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.device-view-pc #main #mainFadeWrap #mainFadeShow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.device-view-pc #main #mainFadeWrap #mainFadeShow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  background-repeat: no-repeat;
  background-position: center top;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
}
.device-view-pc #main #mainFadeWrap #mainFadeShow li:first-child {
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
  filter: none;
  z-index: 1;
}
.device-view-pc #main #mainFadeWrap #mainFadeShow .item1 {
  background-image: url("/en/assets/images/index/slide/pic_01.jpg");
}
.device-view-pc #main #mainFadeWrap #mainFadeShow .item2 {
  background-image: url("/en/assets/images/index/slide/pic_02.jpg");
}
.device-view-pc #main #mainFadeWrap #mainFadeShow .item3 {
  background-image: url("/en/assets/images/index/slide/pic_03.jpg");
}
.device-view-pc #main #mainFadeWrap #mainFadeShow .item4 {
  background-image: url("/en/assets/images/index/slide/pic_04.jpg");
}
.device-view-pc #main #mainFadeWrap #mainFadeShow .item5 {
  background-image: url("/en/assets/images/index/slide/pic_05.jpg");
}
.device-view-pc #main .pagination {
  width: 50%;
  text-align: left;
  position: absolute;
  bottom: 50px;
  left: 2.88462%;
  z-index: 4;
}
.device-view-pc #main .pagination li {
  margin-right: 1.73077%;
  width: 2.69231%;
  font-size: 0;
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
.device-view-pc #main .pagination li.stay {
  cursor: default;
  background-color: #f1c400;
}
.device-view-pc #main .pagination li img {
  width: 100%;
  vertical-align: top;
}
.device-view-pc #main .mainLinks {
  width: 50%;
  text-align: right;
  position: absolute;
  bottom: 50px;
  right: 2.88462%;
  z-index: 4;
}
.device-view-pc #main .mainLinks .linkOuter {
  display: none;
}
.device-view-pc #main .mainLinks a {
  color: #fff;
}
.device-view-pc #main .mainLinks a .linkInner {
  padding-left: 2.75em;
  display: inline-block;
  position: relative;
}
.device-view-pc #main .mainLinks a .arrowIcon {
  width: 2em;
  height: 2em;
  position: absolute;
  top: -0.2em;
  left: 0;
  background: url("/en/assets/images/index/main/arrow_01.png") no-repeat 0 0;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
}
.device-view-pc #main .mainLinks a .text {
  vertical-align: middle;
  font-size: 18px;
  font-weight: bold;
}
.device-view-pc #secNewsImportant table {
  width: 100%;
}
.device-view-pc #secNewsImportant table .caption {
  padding: 1em 0;
  width: 110px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background-color: #666;
}
.device-view-pc #secNewsImportant table .caption .text {
  padding-top: 1em;
  display: block;
}
.device-view-pc #secNewsImportant table .detail {
  text-align: left;
  vertical-align: top;
}
.device-view-pc #secNewsImportant table .detail .items .item {
  padding: 1.5em 2em;
  border-top: solid 1px #ccc;
}
.device-view-pc #secNewsImportant table .detail .items .item:first-child {
  border-top: none 0;
}
.device-view-pc #secNewsImportant table .detail .items .item .date,
.device-view-pc #secNewsImportant table .detail .items .item .text {
  line-height: 1.4;
}
.device-view-pc #secNewsImportant table .detail .items .item .date {
  margin-bottom: 0.5em;
  font-size: 13px;
  display: block;
}
.device-view-pc #secNewsImportant table .detail .items .item .text {
  font-size: 15px;
}
.device-view-pc #secNewsImportant table .detail .items .item .listBlank {
  margin-left: 1em;
  margin-top: -2px;
}
.device-view-pc #pageNav {
  background-color: #333;
}
.device-view-pc #pageNav ul {
  display: block;
}
.device-view-pc #pageNav ul li {
  display: inline-block;
  position: relative;
}
.device-view-pc #pageNav ul li a {
  padding: 20px 26px 20px 28px;
  display: block;
}
.device-view-pc #pageNav ul li a div:after {
  content: "";
  margin: auto;
  width: 0;
  height: 32.05128%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-left: solid 1px #6d6d6d;
}
.device-view-pc #pageNav ul li a strong {
  font-size: 15px;
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-weight: 500;
  color: #fff;
  display: block;
}
.device-view-pc #pageNav ul li:first-child a div:after {
  border-left: none 0;
}
.device-view-pc #secTimes {
  background-color: #000;
}
.device-view-pc #secTimes .title {
  padding: 75px 0 40px;
  font-size: 66px;
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-weight: 200;
  color: #fff;
}
.device-view-pc #secTimes .items {
  display: block;
  background-color: #fff;
}
.device-view-pc #secTimes .items .item {
  width: 100%;
  position: relative;
  border-bottom: solid 1px #000;
}
.device-view-pc #secTimes .items .item a {
  color: #fff;
  display: block;
}
.device-view-pc #secTimes .items .item a img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
.device-view-pc #secTimes .items .item a .detail {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.device-view-pc #secTimes .items .item a .detail .leadWrap,
.device-view-pc #secTimes .items .item a .detail .leadOuter {
  width: 100%;
  height: 100%;
}
.device-view-pc #secTimes .items .item a .detail .leadWrap {
  display: table;
}
.device-view-pc #secTimes .items .item a .detail .leadOuter {
  vertical-align: middle;
  display: table-cell;
}
.device-view-pc #secTimes .items .item a .detail .subTitle {
  font-size: 29px;
  font-weight: 300;
  line-height: 1.3;
}
.device-view-pc #secTimes .items .item a .detail .lead {
  padding-top: 15px;
  font-size: 15px;
  line-height: 1.4;
  color: #f1c400;
}
.device-view-pc #secTimes .items .item a .detail .date {
  padding-top: 15px;
  font-size: 16px;
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-weight: 400;
}
.device-view-pc #secTimes .items .typeL {
  text-align: left;
}
.device-view-pc #secTimes .items .typeL .leadInner {
  padding-left: 2.88462%;
}
.device-view-pc #secTimes .items .typeR {
  text-align: right;
}
.device-view-pc #secTimes .items .typeR .leadInner {
  padding-right: 2.88462%;
}
.device-view-pc #secTimes .indexLink {
  padding: 20px 2.88462%;
  text-align: right;
}
.device-view-pc #secTimes .indexLink a {
  font-size: 15px;
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-weight: 400;
  color: #fff;
}
.device-view-pc #secTimes .indexLink a .linkInner {
  display: inline-block;
}
.device-view-pc #secTimes .indexLink a .icon {
  background-color: #fff;
}
.device-view-pc #secTimes .indexLink a .icon:before {
  border-color: #000;
}
.device-view-pc #secTimes .indexLink a .text {
  margin-left: 0.5em;
}
.device-view-pc #secFeatured .title {
  padding: 75px 0 40px;
  font-size: 66px;
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-weight: 200;
}
.device-view-pc #secFeatured .items {
  display: block;
}
.device-view-pc #secFeatured .items:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.device-view-pc #secFeatured .items .item {
  width: 25%;
  text-align: left;
  float: left;
  position: relative;
}
.device-view-pc #secFeatured .items .item a {
  color: #fff;
  display: block;
}
.device-view-pc #secFeatured .items .item a img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
.device-view-pc #secFeatured .items .item a .detail {
  margin: auto;
  width: 85%;
  height: 85%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.device-view-pc #secFeatured .items .item a .detail .leadWrap,
.device-view-pc #secFeatured .items .item a .detail .leadOuter {
  width: 100%;
  height: 100%;
}
.device-view-pc #secFeatured .items .item a .detail .leadWrap {
  display: table;
}
.device-view-pc #secFeatured .items .item a .detail .leadOuter {
  display: table-cell;
}
.device-view-pc #secFeatured .items .item a .detail .subTitle {
  width: 100%;
  font-size: 14px;
  line-height: 1.6;
  overflow: hidden;
  text-overflow: ellipsis;
}
.device-view-pc #secFeatured .items .typeT .leadOuter {
  vertical-align: top;
}
.device-view-pc #secFeatured .items .typeM .leadOuter {
  vertical-align: middle;
}
.device-view-pc #secFeatured .items .typeB .leadOuter {
  vertical-align: bottom;
}
.device-view-pc #secNews .secOuter {
  padding-top: 75px;
}
.device-view-pc #secNews .secInner {
  margin: 0 auto;
  max-width: 1040px;
}
.device-view-pc #secNews .secInner .newsWrap {
  margin: 0 auto;
  width: 92.30769%;
  position: relative;
}
.device-view-pc #secNews .secInner .newsWrap .caption {
  font-size: 26px;
  line-height: 54px;
  border-bottom: solid 4px #fff;
}
.device-view-pc #secNews .secInner .newsWrap .listLinks {
  padding-top: 10px;
  text-align: left;
}
.device-view-pc #secNews .secInner .newsWrap .listLinks .listLink {
  margin-left: 55px;
  display: inline-block;
  white-space: nowrap;
}
.device-view-pc #secNews .secInner .newsWrap .listLinks .listLink:first-child {
  margin-left: 0;
}
.device-view-pc #secNews .secInner .newsWrap .listLinks .listLink .text {
  margin-left: 0.5em;
  font-size: 16px;
  vertical-align: middle;
}
.device-view-pc #secNews .secInner .newsWrap .news {
  width: 46.875%;
  float: left;
}
.device-view-pc #secNews .secInner .newsWrap .news .caption {
  margin-bottom: 40px;
}
.device-view-pc #secNews .secInner .newsWrap .news .items {
  text-align: left;
  display: block;
}
.device-view-pc #secNews .secInner .newsWrap .news .items .item {
  padding: 20px 0;
  border-bottom: solid 1px #ddd;
}
.device-view-pc #secNews .secInner .newsWrap .news .items .item:first-child {
  padding-top: 0;
}
.device-view-pc #secNews .secInner .newsWrap .news .items .item .detail {
  width: 100%;
  display: block;
}
.device-view-pc #secNews .secInner .newsWrap .news .items .item .detail .date,
.device-view-pc #secNews .secInner .newsWrap .news .items .item .detail .textWrap {
  display: block;
}
.device-view-pc #secNews .secInner .newsWrap .news .items .item .detail .date {
  padding-top: 0.2em;
  font-size: 14px;
  line-height: 1.4;
  color: #999;
  white-space: nowrap;
}
.device-view-pc #secNews .secInner .newsWrap .news .items .item .detail .textWrap {
  width: 100%;
}
.device-view-pc #secNews .secInner .newsWrap .news .items .item .detail .textWrap .text {
  font-size: 14px;
  line-height: 1.4;
}
.device-view-pc #secNews .secInner .newsWrap .news .items .item .detail .textWrap .listPdf,
.device-view-pc #secNews .secInner .newsWrap .news .items .item .detail .textWrap .listBlank,
.device-view-pc #secNews .secInner .newsWrap .news .items .item .detail .textWrap .icon {
  margin-left: 1em;
  margin-top: -3px;
}
.device-view-pc #secNews .secInner .newsWrap .news nav {
  display: none;
}
.device-view-pc #secNews .secInner .newsWrap .event {
  width: 46.875%;
  float: right;
}
.device-view-pc #secNews .secInner .newsWrap .event .caption {
  margin-bottom: 40px;
}
.device-view-pc #secNews .secInner .newsWrap .event .items {
  text-align: left;
  display: block;
}
.device-view-pc #secNews .secInner .newsWrap .event .items .item {
  padding: 20px 0;
  border-bottom: solid 1px #ddd;
}
.device-view-pc #secNews .secInner .newsWrap .event .items .item:first-child {
  padding-top: 0;
}
.device-view-pc #secNews .secInner .newsWrap .event .items .item .detail .textWrap,
.device-view-pc #secNews .secInner .newsWrap .event .items .item .detail .date {
  display: block;
}
.device-view-pc #secNews .secInner .newsWrap .event .items .item .detail .textWrap {
  width: 100%;
}
.device-view-pc #secNews .secInner .newsWrap .event .items .item .detail .textWrap .text {
  font-size: 14px;
  line-height: 1.4;
}
.device-view-pc #secNews .secInner .newsWrap .event .items .item .detail .textWrap .listPdf,
.device-view-pc #secNews .secInner .newsWrap .event .items .item .detail .textWrap .listBlank,
.device-view-pc #secNews .secInner .newsWrap .event .items .item .detail .textWrap .icon {
  margin-top: -3px;
  margin-left: 1em;
}
.device-view-pc #secNews .secInner .newsWrap .event .items .item .detail .date {
  padding-top: 0.2em;
  font-size: 14px;
  line-height: 1.4;
  color: #999;
  white-space: nowrap;
}

.device-view-pc #secRecommended .secInner {
  margin: 0 auto;
  max-width: 1040px;
}
.device-view-pc #secRecommended .title {
  padding: 75px 0 10px;
  font-size: 66px;
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-weight: 200;
}
.device-view-pc #secRecommended .items {
  margin: 0 auto;
  width: 88.46154%;
  display: block;
}
.device-view-pc #secRecommended .items:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.device-view-pc #secRecommended .items .first {
  clear: both;
}
.device-view-pc #secRecommended .items .item {
  padding-top: 30px;
  width: 25%;
  float: left;
}
.device-view-pc #secRecommended .items .item a {
  display: block;
}
.device-view-pc #secRecommended .items .item a img {
  width: 86.95652%;
  height: auto;
  vertical-align: bottom;
}
.device-view-pc #secRecommended .items .item a .subTitle {
  padding-top: 20px;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.4;
}
/**********************************/
/* tablet */
/**********************************/
@media screen and (min-width: 1025px) and (max-width: 1133px) {
  .device-js-on #secFeatured .items .item a .detail .subTitle {
    font-size: 13px;
    line-height: 1.3;
  }  
}
@media screen and (min-width: 751px) and (max-width: 1024px) {
  .device-js-on #topNavBtn {
    display: none;
  }
  .device-js-on #secFeatured .items .item a .detail .subTitle {
    font-size: 12px;
    line-height: 1.5;
  }  
}
/**********************************/
/* sp */
/**********************************/
@media screen and (max-width: 750px) {
  .device-js-on #global-footer {
    margin-top: 12%;
  }
  .device-js-on #topNavBtn {
    display: none;
  }
  .device-js-on #main {
    padding-bottom: 177.86667%;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .device-js-on #main .mainTitle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }
  .device-js-on #main .mainTitle img {
    height: auto;
  }
  .device-js-on #main .mainTitle .mainTitleOuter {
    width: 100%;
    height: 100%;
    display: table;
  }
  .device-js-on #main .mainTitle .mainTitleOuter .mainTitleInner {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
  }
  .device-js-on #main .mainTitle .title {
    margin: 0 auto;
    padding-top: 37.86667%;
    width: 82.93333%;
    height: 0;
    overflow: hidden;
    background: url("/en/assets/images/index/main/title_01_sp.png") no-repeat 0 0;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
  }
  .device-js-on #main #mainMovieWrap {
    display: none;
  }
  .device-js-on #main #mainFadeWrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  .device-js-on #main #mainFadeWrap #mainFadeShow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .device-js-on #main #mainFadeWrap #mainFadeShow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    background-repeat: no-repeat;
    background-position: center top;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
  }
  .device-js-on #main #mainFadeWrap #mainFadeShow li:first-child {
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
    filter: none;
    z-index: 1;
  }
  .device-js-on #main #mainFadeWrap #mainFadeShow .item1 {
    background-image: url("/en/assets/images/index/slide/pic_01_sp.jpg");
  }
  .device-js-on #main #mainFadeWrap #mainFadeShow .item2 {
    background-image: url("/en/assets/images/index/slide/pic_02_sp.jpg");
  }
  .device-js-on #main #mainFadeWrap #mainFadeShow .item3 {
    background-image: url("/en/assets/images/index/slide/pic_03_sp.jpg");
  }
  .device-js-on #main #mainFadeWrap #mainFadeShow .item4 {
    background-image: url("/en/assets/images/index/slide/pic_04_sp.jpg");
  }
  .device-js-on #main #mainFadeWrap #mainFadeShow .item5 {
    background-image: url("/en/assets/images/index/slide/pic_05_sp.jpg");
  }
  .device-js-on #main .pagination {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 4%;
    left: 0;
    z-index: 4;
  }
  .device-js-on #main .pagination li {
    margin: 0 1.33333%;
    width: 3.73333%;
    font-size: 0;
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
  }
  .device-js-on #main .pagination li.stay {
    cursor: default;
    background-color: #f1c400;
  }
  .device-js-on #main .pagination li img {
    width: 100%;
    vertical-align: top;
  }
  .device-js-on #main .mainLinks {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10.66667%;
    left: 0;
    z-index: 4;
  }
  .device-js-on #main .mainLinks .linkOuter {
    display: none;
  }
  .device-js-on #main .mainLinks a {
    color: #fff;
  }
  .device-js-on #main .mainLinks a .linkInner {
    padding-left: 2.5em;
    display: inline-block;
    position: relative;
  }
  .device-js-on #main .mainLinks a .arrowIcon {
    width: 1.75em;
    height: 1.75em;
    position: absolute;
    top: -0.2em;
    left: 0;
    background: url("/ja/assets/images/index/main/arrow_01.png") no-repeat 0 0;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
  }
  .device-js-on #main .mainLinks a .text {
    vertical-align: middle;
    font-size: 116.66667%;
    font-weight: bold;
  }
  .device-js-on #secNewsImportant table {
    width: 100%;
  }
  .device-js-on #secNewsImportant table .caption {
    padding: 1em 0;
    width: 16%;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    background-color: #666;
  }
  .device-js-on #secNewsImportant table .caption img {
    width: 10%;
    height: auto;
  }
  .device-js-on #secNewsImportant table .caption .text {
    padding-top: 0.5em;
    font-size: 83.33333%;
    line-height: 1.4;
    display: block;
  }
  .device-js-on #secNewsImportant table .detail {
    text-align: left;
    vertical-align: top;
  }
  .device-js-on #secNewsImportant table .detail .items .item {
    padding: 1em;
    border-top: solid 1px #ccc;
  }
  .device-js-on #secNewsImportant table .detail .items .item:first-child {
    border-top: none 0;
  }
  .device-js-on #secNewsImportant table .detail .items .item .date,
  .device-js-on #secNewsImportant table .detail .items .item .text {
    line-height: 1.4;
  }
  .device-js-on #secNewsImportant table .detail .items .item .date {
    margin-bottom: 0.5em;
    font-size: 100%;
    display: block;
  }
  .device-js-on #secNewsImportant table .detail .items .item .text {
    font-size: 108.33333%;
  }
  .device-js-on #secNewsImportant table .detail .items .item .listBlank {
    margin-left: 1em;
  }
  .device-js-on #pageNav {
    background-color: #333;
  }
  .device-js-on #pageNav ul {
    display: block;
  }
  .device-js-on #pageNav ul li {
    display: inline-block;
    position: relative;
  }
  .device-js-on #pageNav ul li a {
    padding: 1em 0.2em 1em 0.5em;
    display: block;
  }
  .device-js-on #pageNav ul li a div:after {
    content: "";
    margin: auto;
    width: 0;
    height: 32.05128%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-left: solid 1px #6d6d6d;
  }
  .device-js-on #pageNav ul li a strong {
    font-size: 83.33333%;
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-weight: 500;
    color: #fff;
    display: block;
  }
  .device-js-on #pageNav ul li:first-child a {
    padding-left: 0;
  }
  .device-js-on #pageNav ul li:first-child a div:after {
    border-left: none 0;
  }
  .device-js-on #pageNav ul li:last-child a {
    padding-right: 0;
  }
  .device-js-on #secTimes {
    background-color: #000;
  }
  .device-js-on #secTimes .title {
    padding: 9.33333% 0;
    font-size: 325%;
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-weight: 200;
    color: #fff;
  }
  .device-js-on #secTimes .items {
    display: block;
    background-color: #fff;
  }
  .device-js-on #secTimes .items .item {
    width: 100%;
    position: relative;
    border-bottom: solid 1px #000;
  }
  .device-js-on #secTimes .items .item a {
    color: #fff;
    display: block;
  }
  .device-js-on #secTimes .items .item a img {
    width: 100%;
    vertical-align: bottom;
  }
  .device-js-on #secTimes .items .item a .detail {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .device-js-on #secTimes .items .item a .detail .leadWrap,
  .device-js-on #secTimes .items .item a .detail .leadOuter {
    width: 100%;
    height: 100%;
  }
  .device-js-on #secTimes .items .item a .detail .leadWrap {
    display: table;
  }
  .device-js-on #secTimes .items .item a .detail .leadOuter {
    vertical-align: middle;
    display: table-cell;
  }
  .device-js-on #secTimes .items .item a .detail .subTitle {
    font-size: 120%;
    line-height: 1.3;
  }
  .device-js-on #secTimes .items .item a .detail .lead {
    padding-top: 0.5em;
    font-size: 85%;
    line-height: 1.25;
    color: #f1c400;
  }
  .device-js-on #secTimes .items .item a .detail .date {
    padding-top: 0.5em;
    font-size: 116.66667%;
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-weight: 400;
  }
  .device-js-on #secTimes .items .typeL {
    text-align: left;
  }
  .device-js-on #secTimes .items .typeL .leadInner {
    padding-left: 4%;
  }
  .device-js-on #secTimes .items .typeR {
    text-align: right;
  }
  .device-js-on #secTimes .items .typeR .leadInner {
    padding-right: 4%;
  }
  .device-js-on #secTimes .indexLink {
    margin: 0 auto;
    padding: 10.66667% 0;
    width: 92%;
  }
  .device-js-on #secTimes .indexLink a {
    padding: 4.34783% 0;
    color: #fff;
    display: block;
    position: relative;
    background-color: #6c6c6c;
  }
  .device-js-on #secTimes .indexLink a .linkInner:after {
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    right: 1em;
    bottom: 0;
    width: 0.5em;
    height: 0.5em;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg) translateZ(1px);
    border-top: 4px solid #fff;
    border-right: 4px solid #fff;
  }
  .device-js-on #secTimes .indexLink a .icon {
    display: none;
  }
  .device-js-on #secFeatured .title {
    padding: 9.33333% 0;
    font-size: 325%;
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-weight: 200;
  }
  .device-js-on #secFeatured .items {
    display: block;
  }
  .device-js-on #secFeatured .items:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .device-js-on #secFeatured .items .item {
    width: 50%;
    text-align: left;
    float: left;
    position: relative;
  }
  .device-js-on #secFeatured .items .item a {
    color: #fff;
    display: block;
  }
  .device-js-on #secFeatured .items .item a img {
    width: 100%;
    vertical-align: bottom;
  }
  .device-js-on #secFeatured .items .item a .detail {
    margin: auto;
    width: 90%;
    height: 90%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .device-js-on #secFeatured .items .item a .detail .leadWrap,
  .device-js-on #secFeatured .items .item a .detail .leadOuter {
    width: 100%;
    height: 100%;
  }
  .device-js-on #secFeatured .items .item a .detail .leadWrap {
    display: table;
  }
  .device-js-on #secFeatured .items .item a .detail .leadOuter {
    display: table-cell;
  }
  .device-js-on #secFeatured .items .item a .detail .subTitle {
    width: 100%;
    font-size: 93%;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .device-js-on #secFeatured .items .typeT .leadOuter {
    vertical-align: top;
  }
  .device-js-on #secFeatured .items .typeM .leadOuter {
    vertical-align: middle;
  }
  .device-js-on #secFeatured .items .typeB .leadOuter {
    vertical-align: bottom;
  }
  .device-js-on #secNews .secOuter {
    padding-top: 9.33333%;
  }
  .device-js-on #secNews .secInner .newsWrap .items {
    margin: 0 auto;
    width: 92%;
    text-align: left;
    display: block;
  }
  .device-js-on #secNews .secInner .newsWrap .items .item {
    padding: 1.5em 0;
    border-bottom: solid 1px #ddd;
  }
  .device-js-on #secNews .secInner .newsWrap .items .item:last-child {
    border-bottom: none 0;
  }
  .device-js-on #secNews .secInner .newsWrap .items .item .detail {
    width: 100%;
    display: table;
  }
  .device-js-on #secNews .secInner .newsWrap .items .item .detail .date,
  .device-js-on #secNews .secInner .newsWrap .items .item .detail .textWrap {
    display: block;
  }
  .device-js-on #secNews .secInner .newsWrap .items .item .detail .date {
    font-size: 125%;
    line-height: 1.4;
    color: #999;
    white-space: nowrap;
  }
  .device-js-on #secNews .secInner .newsWrap .items .item .detail .textWrap {
    width: 100%;
  }
  .device-js-on #secNews .secInner .newsWrap .items .item .detail .textWrap .text {
    font-size: 116.66667%;
    line-height: 1.4;
  }
  .device-js-on #secNews .secInner .newsWrap .items .item .detail .textWrap .listPdf,
  .device-js-on #secNews .secInner .newsWrap .items .item .detail .textWrap .listBlank,
  .device-js-on #secNews .secInner .newsWrap .items .item .detail .textWrap .icon {
    margin-left: 1em;
  }
  .device-js-on #secNews .secInner .newsWrap .news .caption {
    display: none;
  }
  .device-js-on #secNews .secInner .newsWrap .news nav {
    font-size: 116.66667%;
    line-height: 1.25;
  }
  .device-js-on #secNews .secInner .newsWrap .news nav ul {
    margin-left: 2.66667%;
    width: 94.66667%;
    height: 3.5em;
    display: table;
  }
  .device-js-on #secNews .secInner .newsWrap .news nav ul li {
    width: 50%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
  }
  .device-js-on #secNews .secInner .newsWrap .news nav ul li a {
    margin: 0 4.23729%;
    height: 100%;
    display: block;
  }
  .device-js-on #secNews .secInner .newsWrap .news nav ul li a div {
    width: 100%;
    height: 100%;
    display: table;
  }
  .device-js-on #secNews .secInner .newsWrap .news nav ul li a div .caption {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 120%;
    font-weight: 400;
    display: table-cell;
  }
  .device-js-on #secNews .secInner .newsWrap .event .caption {
    display: none;
  }
  .device-js-on #secNews .secInner .openNews .newsNav a {
    color: #fff;
    background-color: #fc0;
  }
  .device-js-on #secNews .secInner .openNews .eventNav a {
    background-color: #eee;
  }
  .device-js-on #secNews .secInner .openNews .eventList {
    display: none;
  }
  .device-js-on #secNews .secInner .openEvent .newsNav a {
    background-color: #eee;
  }
  .device-js-on #secNews .secInner .openEvent .eventNav a {
    color: #fff;
    background-color: #fc0;
  }
  .device-js-on #secNews .secInner .openEvent .newsList {
    display: none;
  }
  .device-js-on #secNews .secInner .listLinks .more {
    display: none;
  }
  .device-js-on #secNews .secInner .listLinks .listLink {
    margin: 1.5em auto 0;
    width: 92%;
  }
  .device-js-on #secNews .secInner .listLinks .listLink:first-child {
    margin-top: 1em;
  }
  .device-js-on #secNews .secInner .listLinks .listLink a {
    display: block;
    position: relative;
    background-color: #005;
  }
  .device-js-on #secNews .secInner .listLinks .listLink a .module-iconArrowRL01 {
    display: none;
  }
  .device-js-on #secNews .secInner .listLinks .listLink a .text {
    padding: 2.89855%;
    font-size: 125%;
    line-height: 1.5;
    font-weight: bold;
    color: #fff;
    display: inline-block;
  }
  .device-js-on #secNews .secInner .listLinks .listLink a .text:after {
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    right: 1em;
    bottom: 0;
    width: 0.5em;
    height: 0.5em;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg) translateZ(1px);
    border-top: 4px solid #fff;
    border-right: 4px solid #fff;
  }
  .device-js-on #secRecommended .title {
    padding: 9.33333% 0 2.66667%;
    font-size: 325%;
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-weight: 200;
  }
  .device-js-on #secRecommended .items {
    display: block;
  }
  .device-js-on #secRecommended .items:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .device-js-on #secRecommended .items .item {
    padding-top: 10.66667%;
    width: 50%;
    float: left;
  }
  .device-js-on #secRecommended .items .item:nth-of-type(2n+1) {
    clear: both;
  }
  .device-js-on #secRecommended .items .item a {
    display: block;
  }
  .device-js-on #secRecommended .items .item a img {
    width: 80%;
    height: auto;
    vertical-align: bottom;
  }
  .device-js-on #secRecommended .items .item a .subTitle {
    padding-top: 1em;
    font-size: 116.66667%;
    line-height: 1.35714;
    font-weight: 500;
  }
}
/**********************************/
/* add main slide style */
/**********************************/
@media all and (min-width: 751px), print {
  #main #mainSlideWrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  #main #mainSlideWrap #mainSlideShow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  #main #mainSlideWrap #mainSlideShow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center top;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
  }
  #main #mainSlideWrap #mainSlideShow li:first-child {
    z-index: 2;
  }
  #main #mainSlideWrap #mainSlideShow .item1 {
    background-image: url("/en/assets/images/index/slide/pic_01.jpg");
  }
  #main #mainSlideWrap #mainSlideShow .item2 {
    background-image: url("/en/assets/images/index/slide/pic_02.jpg");
  }
  #main #mainSlideWrap #mainSlideShow .item3 {
    background-image: url("/en/assets/images/index/slide/pic_03.jpg");
  }
  #main #mainSlideWrap #mainSlideShow .item4 {
    background-image: url("/en/assets/images/index/slide/pic_04.jpg");
  }
  #main #mainSlideWrap #mainSlideShow .item5 {
    background-image: url("/en/assets/images/index/slide/pic_05.jpg");
  }
}
.device-view-pc #main #mainSlideWrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.device-view-pc #main #mainSlideWrap #mainSlideShow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.device-view-pc #main #mainSlideWrap #mainSlideShow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center top;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
}
.device-view-pc #main #mainSlideWrap #mainSlideShow li:first-child {
  z-index: 2;
}
.device-view-pc #main #mainSlideWrap #mainSlideShow .item1 {
  background-image: url("/en/assets/images/index/slide/pic_01.jpg");
}
.device-view-pc #main #mainSlideWrap #mainSlideShow .item2 {
  background-image: url("/en/assets/images/index/slide/pic_02.jpg");
}
.device-view-pc #main #mainSlideWrap #mainSlideShow .item3 {
  background-image: url("/en/assets/images/index/slide/pic_03.jpg");
}
.device-view-pc #main #mainSlideWrap #mainSlideShow .item4 {
  background-image: url("/en/assets/images/index/slide/pic_04.jpg");
}
.device-view-pc #main #mainSlideWrap #mainSlideShow .item5 {
  background-image: url("/en/assets/images/index/slide/pic_05.jpg");
}
@media screen and (max-width: 750px) {
  .device-js-on #main #mainSlideWrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  .device-js-on #main #mainSlideWrap #mainSlideShow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .device-js-on #main #mainSlideWrap #mainSlideShow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center top;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
  }
  .device-js-on #main #mainSlideWrap #mainSlideShow li:first-child {
    z-index: 2;
  }
  .device-js-on #main #mainSlideWrap #mainSlideShow .item1 {
    background-image: url("/en/assets/images/index/slide/pic_01_sp.jpg");
  }
  .device-js-on #main #mainSlideWrap #mainSlideShow .item2 {
    background-image: url("/en/assets/images/index/slide/pic_02_sp.jpg");
  }
  .device-js-on #main #mainSlideWrap #mainSlideShow .item3 {
    background-image: url("/en/assets/images/index/slide/pic_03_sp.jpg");
  }
  .device-js-on #main #mainSlideWrap #mainSlideShow .item4 {
    background-image: url("/en/assets/images/index/slide/pic_04_sp.jpg");
  }
  .device-js-on #main #mainSlideWrap #mainSlideShow .item5 {
    background-image: url("/en/assets/images/index/slide/pic_05_sp.jpg");
  }
}
