









 
 
 
 
  
 



/*  RESETS  */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { border: 0; outline: 0; vertical-align: baseline; background: transparent; margin: 0; padding: 0; }
pre, code { font-size: 1em; }
ul { list-style: none; }
li a:active, li a:focus, a:active, a:focus { outline: 0; border: 0; }
body { line-height: 1; font-size: 62.5%; text-align: left; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
nav ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: none; }
a { font-size: 100%; vertical-align: baseline; background: transparent; margin: 0; padding: 0; }
a img { border-style: none; border-width: 0; }
fieldset { border: 0; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: 700; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
input, select { vertical-align: middle; }
[placeholder]:focus::-webkit-input-placeholder { color: transparent; }
.clear:before, .clear:after { content: ' '; display: table; }
.clear:after { clear: both; }

/*  LAYOUT  */
body, html { height: 100%; }
body { background: #0a1720 url(http://www.runescape.com/img/microsite/body.jpg) repeat 0 0; font-family: 'museo-sans-300'; color: #b3bfc5; }
h1, h2, h3, h4, h5, h6 { font-family: 'cinzel'; font-weight: 600; color: #e1bb34; letter-spacing: -1px; }
h1 { font-size: 4.3em; }
h2 { font-size: 3.1em; margin-bottom: 5px; }
h3 { font-size: 2.5em; margin-bottom: 5px; }
h6 { font-size: 2.2em; }
h1 span, h2 span { display: block; color: #b3bfc5; }
h1 span { font-size: 0.67em; font-family: 'cinzel'; font-weight: 400; }
h2 span { font-size: 0.6em; font-family: 'cinzel'; font-weight: 400; }
.strapline { font-size: 2em; color: #fff; font-family: 'museo-sans-300'; font-weight: 300; margin: 5px 0 5px; letter-spacing: 0; margin-bottom:20px;}
.strapline strong { font-family: 'museo-sans-900'; }
p { line-height: 140%; font-size: 1.5em; }
p strong { color: #fff; font-family: 'museo-sans-900'; }
a { color: #e1bb34; text-decoration: none; }
a:hover { color: #fff2c5; }
img { max-width: 100%; height: auto; }
.outer-wrap { position: relative; width: 100%; overflow: hidden; }
.inner-wrap { position: relative; width: 100%; }
.container { width: 90%; margin: 0 auto; }
.headline, .final, .border { background: transparent url(http://www.runescape.com/img/microsite/cracks_top_480.jpg) no-repeat top center; }
.main, .header header,.list:after { background: transparent url(http://www.runescape.com/img/microsite/cracks_bottom_480.jpg) no-repeat bottom center; }
.list{position:relative;}
.list:after{content:'';position:absolute;bottom:-37px;left:0;width:100%;height:151px;z-index:-1;}
section, .final { display: table; width: 100%; position: relative; padding: 40px 0 20px; }
section { padding-bottom: 245px; }
section:before, .final:before { content: ''; display: block; width: 100%; height: 10px; background: transparent url(http://www.runescape.com/img/microsite/small_break.png) repeat-x 0 0; position: absolute; top: -3px; }
section .wrap, .final .wrap { display: table-cell; }
section .container, .final .container { overflow: hidden; }
.copy { position: relative; z-index: 2; }
.copy > a { display: block; font-size: 1.5em; font-family: 'museo-sans-900'; margin-top: 20px; }
.old-school .headline .copy { max-width: none; }
section article { max-width: 30em; margin-top: 25px; }
article h3 { color: #b3bfc5; margin: 10px 0 3px; }
article img, .support { display: block; border: 5px solid transparent; -moz-border-image: url(http://www.runescape.com/img/microsite/frame.jpg) 5 repeat; -webkit-border-image: url(http://www.runescape.com/img/microsite/frame.jpg) 5 repeat; -o-border-image: url(http://www.runescape.com/img/microsite/frame.jpg) 5 repeat; border-image: url(http://www.runescape.com/img/microsite/frame.jpg) 5 repeat;box-shadow:6px 6px 10px #000;-moz-box-shadow:6px 6px 10px #000;-webkit-box-shadow:6px 6px 10px #000; }
section .cta-wrap { clear: both; text-align: center; }
section .container > p { max-width: 29em; }
/* Splash & Promo */
.splash .banner, .promo .banner { position: relative; }
.promo .banner{overflow:hidden;}
.splash .banner .copy,.promo .banner .copy { max-width: 35em; text-align: center; margin:25px auto 0; }
.splash .logo { display: none; }
.splash h1, .promo h1{ font-size: 2.2em; color: #000; font-family: 'museo-sans-300'; font-weight:400;}
.splash h1 span,.splash h1 span { font-family: 'museo-sans-900'; color: #000; font-size: 1em; display: inline;font-weight:600; }
.decoration { margin-bottom: 10px; }
.splash .headline,.promo .headline { text-align: center; height:29em;}
.splash .headline .copy{ max-width: 65em; margin: 0 auto; }
.promo .headline .copy {max-width:79em;margin: 0 auto;}
.splash .final.list .container,.promo .final.list .container { max-width: none; text-align: left; }
.splash .articles,.promo .articles  { border-bottom: solid 1px #2a3338; }
.splash article figure,.promo article figure { display: none; }
.splash .final .container,.promo .final .container { max-width: 72em; }
.splash .final p{margin-bottom:25px;}
.promo .final p{margin-bottom:20px;}
.splash .final .cta,.promo .final .cta { margin:0 0 10px; }
.full-website { display: block; color: #b3bfc5; font-size: 1.3em; text-decoration: underline;margin-bottom:25px; }
.full-website:hover{color:#fff;}
.statement{font-size:1.3em;}
.splash section .wrap,.promo section .wrap { vertical-align: middle; }
.promo .banner .container{overflow:visible;}
.promo .banner img{margin-left:-960px;position:relative;left:50%;max-width:none;}
/* Community */
.community h2, .old-school h2 { color: #b3bfc5; }
.community .border h2, .old-school .border h2 { color: #e1bb34; }
.community .banner .rss{display:none;}
.community .list .cta {font-size:1.6em;}
/* What Is RuneScape */
.what-is-runescape .banner .strapline, .what-is-runescape .banner p, .what-is-runescape .banner p strong { color: #000; }
/* Old School */
.old-school .headline h1 { background: transparent url(http://www.runescape.com/img/microsite/logo-oldschool.png) no-repeat top left; padding-top:130px;}
/* Banner */
.banner { padding-bottom: 0; height: 36em; }
.banner:before { background: none; height: auto; }
.banner .follow { margin-top: 20px; }
/* Narrow section for headline */
.headline, .final { height: auto; padding-bottom: 25px; }
.old-school .headline { height: 23.8em; }
.headline h1 { margin-bottom: 20px; }
.headline h1 span { letter-spacing: -2px; }
/* Section with larger divide */
.border { padding: 53px 0 35px; }
.border:before { height: 53px; background-image: url(http://www.runescape.com/img/microsite/large_break.jpg); box-shadow: 0px 0px 10px 5px #000; -moz-box-shadow: 0px 0px 10px 5px #000; -webkit-box-shadow: 0px 0px 10px 5px #000; }
.border .container { padding-top: 55px; }
.border .cta { margin-top: 35px; }
/* Article List */
.list h2 { margin-bottom: 0; }
.list .articles { margin-top: 25px; border-top: solid 1px #030507; }
.list h3 { color: #e1bb34; }
.list article { float: none; min-height: auto; margin: 0; max-width: none; padding: 15px 0; overflow: hidden; border-bottom: solid 1px #030507; border-top: solid 1px #2a3338; }
.list .copy { max-width: none; margin-top: 15px; overflow:hidden;}
.list .cta-wrap { border-top: solid 1px #2a3338; }
.lt-ie8 .list article,.lt-ie8 .list figure, .lt-ie8 .list .copy{display:block;overflow:hidden;border:none;}
.lt-ie8 .list figure, .lt-ie8 .list .copy{float:left;}
/* Image and Video */
.support { position: relative; max-width: 47.2em; overflow: hidden; }
.support + .copy { margin-top: 20px; }
a.video { display: block; }
a.video:before { content: ''; position: absolute; background: transparent url(http://www.runescape.com/img/microsite/btn-video.png) no-repeat 0 0; width: 78px; height: 79px; left: 50%; top: 50%; margin-top: -40px; margin-left: -39px; }
/* Final Layout */
.final .container { text-align: center; max-width: 55em; }
.final .cta { margin: 25px 0; }
/* Mobile Warning */
.warning { display: none; text-align: center; margin-top: 35px; }
.warning h2 { background: transparent url(http://www.runescape.com/img/microsite/icon-desktop.png) no-repeat top center; padding-top: 138px; margin-top: -92px; position: relative; }
/*  MEDIA QUERIES  */
@media only screen and (min-width: 30em) { /* VERY SMALL */
  h2 { font-size: 3.5em; }
  .splash .banner .copy,.promo .banner .copy { margin-top: 50px; max-width:40em; }
  .headline, .final, .border { background-image: url(http://www.runescape.com/img/microsite/cracks_top_640.jpg); }
  .main, .header header,.list:after { background-image: url(http://www.runescape.com/img/microsite/cracks_bottom_640.jpg); }
  .list article{display:table-row;}
  .list figure,.list .copy{display:table-cell;vertical-align:middle;padding:15px 0;border-bottom: solid 1px #030507; border-top: solid 1px #2a3338;}
  .list figure{padding-right:25px;}
  .list img{max-width:none;}
}
@media only screen and (min-width: 40em) { /* SMALL */
  .splash article figure,.promo article figure { display: block; }
  .splash .banner .copy,.promo .banner .copy { margin-top: 110px; max-width:50em; }
  .headline, .final, .border { background-image: url(http://www.runescape.com/img/microsite/cracks_top_768.jpg); }
  .main, .header header,.list:after { background-image: url(http://www.runescape.com/img/microsite/cracks_bottom_768.jpg); }
  section { padding-top: 20px; padding-bottom: 20px; height: 36em; }
  section.list{height:auto;}
  .headline, .final { height: 20em; }
  .list.final{height:auto;}
  .final { padding-top: 20px; }
  .promo .final{padding-top:40px;}
  section .wrap, .final .wrap { vertical-align: middle; }
  .banner { height: 50em; padding: 0; }
  .copy { max-width: 30em; }
  .alternate .copy { float: right; }
  .alternative .support { float: right; }
  .support + .copy { float: none; max-width: none; }
  .warning h2 { margin-top: -71px; }
}
@media only screen and (min-width: 48em) { /* INTERMEDIATE */
  .splash .headline h2,.promo .headline h2 { font-size: 6em; }
  .splash .headline h2 span,.promo .headline h2 span { font-size: 0.5em; }
  .splash .banner .copy,.promo .banner .copy{max-width:55em;}
  .decoration { position: relative; padding:0 195px; }
  .promo .decoration{width:240px;margin:0 auto;}
  .decoration:before, .decoration:after { content: ''; width: 192px; height: 5px; background: transparent url(http://www.runescape.com/img/microsite/sprite.png) no-repeat -2898px 0; position: absolute; top: 50%; left: 0; }
  .decoration:after { background-position: -2898px -5px; left: auto; right: 0; }
  .headline, .final, .border { background-image: url(http://www.runescape.com/img/microsite/cracks_top_1040.jpg); }
  .main, .header header,.list:after { background-image: url(http://www.runescape.com/img/microsite/cracks_bottom_1040.jpg); }
  h1 { font-size: 6.5em; }
  .strapline,.de .strapline { font-size: 2.4em; }
  h2 { font-size: 4.5em; }
  p { font-size: 1.7em; }
  .copy { max-width: 41.7em; }
  .copy > a { font-size: 1.7em; }
  .banner .copy { max-width: 38em; }
  .old-school .banner .copy { max-width: 46em; }
  section article { float: left; margin: 25px 0 0 25px; }
  section article:first-of-type { margin-left: 0; }
  .support { width: 45%; float: right; }
  .alternate .support { float: left; }
  .support + .copy { float: left; margin-top: 10px; max-width: none; width: 50%; }
  .alternate .support + .copy { float: right; }
  .old-school .headline h1 { background-position: top right; padding:0 272px 0 0;min-height:130px;}
  .old-school .headline p{padding-right:272px;}
}
@media only screen and (min-width: 65em) { /* INTER WIDE */
  h1 { font-size: 7em; }
  .splash .primary a { padding: 18px 40px; }
  .splash .headline,.promo .headline{padding-top:50px;}
  .splash .banner .copy,.promo .banner .copy{max-width:none;margin-top: 160px;}
  .lt-ie8 .splash .banner .copy{margin-top:300px;}
  .headline, .final, .border { background-image: url(http://www.runescape.com/img/microsite/cracks_top_1366.jpg); }
  .main, .header header,.list:after { background-image: url(http://www.runescape.com/img/microsite/cracks_bottom_1366.jpg); }
  .banner { margin-top: 68px; }
  .container { width: 97em; }
  .support { width: 471px; float: right; }
  .support + .copy { margin-top: 45px; float: left; max-width: 41.7em; }
  .alternate .support + .copy { float: right; }
  .alternate .support { float: left; }
}
@media only screen and (min-width: 85.375em) { /* WIDE */
  .headline, .final, .border { background-image: url(http://www.runescape.com/img/microsite/cracks_top_1920.jpg); }
  .main, .header header,.list:after { background-image: url(http://www.runescape.com/img/microsite/cracks_bottom_1920.jpg); }
}

/*  BACKGROUND IMAGES  */
section { background-color: transparent; background-repeat: no-repeat; background-position: bottom center; }
/* Splash */
.splash .banner { background-image: url(http://www.runescape.com/img/microsite/content/splash/banner-480.jpg?1); }
.splash .headline, .promo .headline.first { background-image: url(http://www.runescape.com/img/microsite/content/splash/cave-480.jpg); background-position: bottom center; }
/* What is RuneScape */
.what-is-runescape .banner { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/banner-480.jpg?1); }
.loaded.adventure { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/adventure-480.jpg); }
.loaded.hero { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/dragon-480.jpg); }
.loaded.growing { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/dwarf-480.jpg); }
.loaded.shape { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/explosion-480.jpg); }
.loaded.browser { background-image: url(http://www.runescape.com/img/microsite/cracks_bottom_480.jpg); padding-bottom: 25px; }
.loaded.free { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/free2play-480.jpg); }
.loaded.personality { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/comedy-480.jpg); }
/* Game Features */
.game-features .banner { background-image: url(http://www.runescape.com/img/microsite/content/game-features/banner-480.jpg?1); }
.loaded.quests { background-image: url(http://www.runescape.com/img/microsite/content/game-features/quests-480.jpg); }
.loaded.dungeons { background-image: url(http://www.runescape.com/img/microsite/content/game-features/dungeons-480.jpg); }
.loaded.skills { background-image: url(http://www.runescape.com/img/microsite/content/game-features/skills-480.jpg); }
.loaded.pets { background-image: url(http://www.runescape.com/img/microsite/content/game-features/pets-480.jpg); }
.loaded.port { background-image: url(http://www.runescape.com/img/microsite/content/game-features/ports-480.jpg); }
.loaded.build { background-image: url(http://www.runescape.com/img/microsite/content/game-features/house-480.jpg); }
.loaded.citadel { background-image: url(http://www.runescape.com/img/microsite/content/game-features/clans-480.jpg); }
/* Community */
.community .banner { background-image: url(http://www.runescape.com/img/microsite/content/community/banner-480.jpg?1); }
.loaded.team { background-image: url(http://www.runescape.com/img/microsite/content/community/team_up-480.jpg); }
.loaded.clans { background-image: url(http://www.runescape.com/img/microsite/content/community/clans-480.jpg); }
.loaded.events { background-image: url(http://www.runescape.com/img/microsite/content/community/themed_events-480.jpg); }
/* Upgrades and Extras */
.upgrades-extras .banner { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/banner-480.jpg?1); }
.loaded.membership { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/membership-480.jpg); }
.loaded.loyalty { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/loyalty_programme-480.jpg); }
.loaded.runecoins { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/store-480.jpg); }
.loaded.treasure { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/squeal-480.jpg); }
.loaded.bonds { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/bonds-480.jpg); }
/* Old School */
.old-school .banner { background-image: url(http://www.runescape.com/img/microsite/content/old-school/banner-480.jpg?1); }
.loaded.god-wars { background-image: url(http://www.runescape.com/img/microsite/content/old-school/god_wars-480.jpg); }
.loaded.free-oldschool { background-image: url(http://www.runescape.com/img/microsite/content/old-school/free2play-480.jpg); }
.loaded.nightmare { background-image: url(http://www.runescape.com/img/microsite/content/old-school/nightmare_zone-480.jpg); }
/*  MEDIA QUERIES  */
@media only screen and (min-width: 30em) { /* VERY SMALL */
  /* Splash */
  .splash .banner { background-image: url(http://www.runescape.com/img/microsite/content/splash/banner-640.jpg?1); }
  .splash .headline, .promo .headline.first { background-image: url(http://www.runescape.com/img/microsite/content/splash/cave-640.jpg); }
  /* What is RuneScape */
  .what-is-runescape .banner { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/banner-640.jpg?1); }
  .loaded.adventure { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/adventure-640.jpg); }
  .loaded.hero { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/dragon-640.jpg); }
  .loaded.growing { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/dwarf-640.jpg); }
  .loaded.shape { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/explosion-640.jpg); }
  .loaded.free { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/free2play-640.jpg); }
  .loaded.personality { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/comedy-640.jpg); }
  .loaded.browser { background-image: url(http://www.runescape.com/img/microsite/cracks_bottom_640.jpg); }
  /* Game Features */
  .game-features .banner { background-image: url(http://www.runescape.com/img/microsite/content/game-features/banner-640.jpg?1); }
  .loaded.quests { background-image: url(http://www.runescape.com/img/microsite/content/game-features/quests-640.jpg); }
  .loaded.dungeons { background-image: url(http://www.runescape.com/img/microsite/content/game-features/dungeons-640.jpg); }
  .loaded.skills { background-image: url(http://www.runescape.com/img/microsite/content/game-features/skills-640.jpg); }
  .loaded.pets { background-image: url(http://www.runescape.com/img/microsite/content/game-features/pets-640.jpg); }
  .loaded.port { background-image: url(http://www.runescape.com/img/microsite/content/game-features/ports-640.jpg); }
  .loaded.build { background-image: url(http://www.runescape.com/img/microsite/content/game-features/house-640.jpg); }
  .loaded.citadel { background-image: url(http://www.runescape.com/img/microsite/content/game-features/clans-640.jpg); }
  /* Community */
  .community .banner { background-image: url(http://www.runescape.com/img/microsite/content/community/banner-640.jpg?1); }
  .loaded.team { background-image: url(http://www.runescape.com/img/microsite/content/community/team_up-640.jpg); }
  .loaded.clans { background-image: url(http://www.runescape.com/img/microsite/content/community/clans-640.jpg); }
  .loaded.events { background-image: url(http://www.runescape.com/img/microsite/content/community/themed_events-640.jpg); }
  /* Upgrades and Extras */
  .upgrades-extras .banner { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/banner-640.jpg?1); }
  .loaded.membership { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/membership-640.jpg); }
  .loaded.loyalty { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/loyalty_programme-640.jpg); }
  .loaded.runecoins { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/store-640.jpg); }
  .loaded.treasure { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/squeal-640.jpg); }
  .loaded.bonds { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/bonds-640.jpg); }
  /* Old School */
  .old-school .banner { background-image: url(http://www.runescape.com/img/microsite/content/old-school/banner-640.jpg?1); }
  .loaded.god-wars { background-image: url(http://www.runescape.com/img/microsite/content/old-school/god_wars-640.jpg); }
  .loaded.free-oldschool { background-image: url(http://www.runescape.com/img/microsite/content/old-school/free2play-640.jpg); }
  .loaded.nightmare { background-image: url(http://www.runescape.com/img/microsite/content/old-school/nightmare_zone-640.jpg); }
}
@media only screen and (min-width: 40em) { /* SMALL */
  /* Splash */
  .splash .banner { background-image: url(http://www.runescape.com/img/microsite/content/splash/banner-768.jpg?1); }
  .splash .headline, .promo .headline.first { background-image: url(http://www.runescape.com/img/microsite/content/splash/cave-768.jpg); }
  /* What is RuneScape */
  .what-is-runescape .banner { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/banner-768.jpg?1); }
  .loaded.adventure { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/adventure-768.jpg); }
  .loaded.hero { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/dragon-768.jpg); }
  .loaded.growing { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/dwarf-768.jpg); }
  .loaded.shape { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/explosion-768.jpg); }
  .loaded.free { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/free2play-768.jpg); }
  .loaded.personality { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/comedy-768.jpg); }
  .loaded.browser { background-image: url(http://www.runescape.com/img/microsite/cracks_bottom_768.jpg); }
  /* Game Features */
  .game-features .banner { background-image: url(http://www.runescape.com/img/microsite/content/game-features/banner-768.jpg?1); }
  .loaded.quests { background-image: url(http://www.runescape.com/img/microsite/content/game-features/quests-768.jpg); }
  .loaded.dungeons { background-image: url(http://www.runescape.com/img/microsite/content/game-features/dungeons-768.jpg); }
  .loaded.skills { background-image: url(http://www.runescape.com/img/microsite/content/game-features/skills-768.jpg); }
  .loaded.pets { background-image: url(http://www.runescape.com/img/microsite/content/game-features/pets-768.jpg); }
  .loaded.port { background-image: url(http://www.runescape.com/img/microsite/content/game-features/ports-768.jpg); }
  .loaded.build { background-image: url(http://www.runescape.com/img/microsite/content/game-features/house-768.jpg); }
  .loaded.citadel { background-image: url(http://www.runescape.com/img/microsite/content/game-features/clans-768.jpg); }
  /* Community */
  .community .banner { background-image: url(http://www.runescape.com/img/microsite/content/community/banner-768.jpg?1); }
  .loaded.team { background-image: url(http://www.runescape.com/img/microsite/content/community/team_up-768.jpg); }
  .loaded.clans { background-image: url(http://www.runescape.com/img/microsite/content/community/clans-768.jpg); }
  .loaded.events { background-image: url(http://www.runescape.com/img/microsite/content/community/themed_events-768.jpg); }
  /* Upgrades and Extras */
  .upgrades-extras .banner { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/banner-768.jpg?1); }
  .loaded.membership { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/membership-768.jpg); }
  .loaded.loyalty { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/loyalty_programme-768.jpg); }
  .loaded.runecoins { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/store-768.jpg); }
  .loaded.treasure { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/squeal-768.jpg); }
  .loaded.bonds { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/bonds-768.jpg); }
  /* Old School */
  .old-school .banner { background-image: url(http://www.runescape.com/img/microsite/content/old-school/banner-768.jpg?1); }
  .loaded.god-wars { background-image: url(http://www.runescape.com/img/microsite/content/old-school/god_wars-768.jpg); }
  .loaded.free-oldschool { background-image: url(http://www.runescape.com/img/microsite/content/old-school/free2play-768.jpg); }
  .loaded.nightmare { background-image: url(http://www.runescape.com/img/microsite/content/old-school/nightmare_zone-768.jpg); }
}
@media only screen and (min-width: 48em) { /* INTERMEDIATE */
  /* Splash */
  .splash .banner { background-image: url(http://www.runescape.com/img/microsite/content/splash/banner-1040.jpg?1); }
  .splash .headline, .promo .headline.first { background-image: url(http://www.runescape.com/img/microsite/content/splash/cave-1040.jpg); }
  /* What is RuneScape */
  .what-is-runescape .banner { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/banner-1040.jpg?1); }
  .loaded.adventure { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/adventure-1040.jpg); }
  .loaded.hero { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/dragon-1040.jpg); }
  .loaded.growing { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/dwarf-1040.jpg); }
  .loaded.shape { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/explosion-1040.jpg); }
  .loaded.browser { background-image: url(http://www.runescape.com/img/microsite/cracks_bottom_1040.jpg); }
  .loaded.free { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/free2play-1040.jpg); }
  .loaded.personality { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/comedy-1040.jpg); }
  /* Game Features */
  .game-features .banner { background-image: url(http://www.runescape.com/img/microsite/content/game-features/banner-1040.jpg?1); }
  .loaded.quests { background-image: url(http://www.runescape.com/img/microsite/content/game-features/quests-1040.jpg); }
  .loaded.dungeons { background-image: url(http://www.runescape.com/img/microsite/content/game-features/dungeons-1040.jpg); }
  .loaded.skills { background-image: url(http://www.runescape.com/img/microsite/content/game-features/skills-1040.jpg); }
  .loaded.pets { background-image: url(http://www.runescape.com/img/microsite/content/game-features/pets-1040.jpg); }
  .loaded.port { background-image: url(http://www.runescape.com/img/microsite/content/game-features/ports-1040.jpg); }
  .loaded.build { background-image: url(http://www.runescape.com/img/microsite/content/game-features/house-1040.jpg); }
  .loaded.citadel { background-image: url(http://www.runescape.com/img/microsite/content/game-features/clans-1040.jpg); }
  /* Community */
  .community .banner { background-image: url(http://www.runescape.com/img/microsite/content/community/banner-1040.jpg?1); }
  .loaded.team { background-image: url(http://www.runescape.com/img/microsite/content/community/team_up-1040.jpg); }
  .loaded.clans { background-image: url(http://www.runescape.com/img/microsite/content/community/clans-1040.jpg); }
  .loaded.events { background-image: url(http://www.runescape.com/img/microsite/content/community/themed_events-1040.jpg); }
  /* Upgrades and Extras */
  .upgrades-extras .banner { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/banner-1040.jpg?1); }
  .loaded.membership { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/membership-1040.jpg); }
  .loaded.loyalty { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/loyalty_programme-1040.jpg); }
  .loaded.runecoins { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/store-1040.jpg); }
  .loaded.treasure { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/squeal-1040.jpg); }
  .loaded.bonds { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/bonds-1040.jpg); }
  /* Old School */
  .old-school .banner { background-image: url(http://www.runescape.com/img/microsite/content/old-school/banner-1040.jpg?1); }
  .loaded.god-wars { background-image: url(http://www.runescape.com/img/microsite/content/old-school/god_wars-1040.jpg); }
  .loaded.free-oldschool { background-image: url(http://www.runescape.com/img/microsite/content/old-school/free2play-1040.jpg); }
  .loaded.nightmare { background-image: url(http://www.runescape.com/img/microsite/content/old-school/nightmare_zone-1040.jpg); }
}
@media only screen and (min-width: 65em) { /* INTER WIDE */
  /* Splash */
  .splash .banner { background-image: url(http://www.runescape.com/img/microsite/content/splash/banner-1366.jpg?1); }
  .splash .headline, .promo .headline.first { background-image: url(http://www.runescape.com/img/microsite/content/splash/cave-1366.jpg); }
  /* What is RuneScape */
  .what-is-runescape .banner { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/banner-1366.jpg?1); }
  .loaded.adventure { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/adventure-1366.jpg); }
  .loaded.hero { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/dragon-1366.jpg); }
  .loaded.growing { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/dwarf-1366.jpg); }
  .loaded.shape { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/explosion-1366.jpg); }
  .loaded.browser { background-image: url(http://www.runescape.com/img/microsite/cracks_bottom_1366.jpg); }
  .loaded.free { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/free2play-1366.jpg); }
  .loaded.personality { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/comedy-1366.jpg); }
  /* Game Features */
  .game-features .banner { background-image: url(http://www.runescape.com/img/microsite/content/game-features/banner-1366.jpg?1); }
  .loaded.quests { background-image: url(http://www.runescape.com/img/microsite/content/game-features/quests-1366.jpg); }
  .loaded.dungeons { background-image: url(http://www.runescape.com/img/microsite/content/game-features/dungeons-1366.jpg); }
  .loaded.skills { background-image: url(http://www.runescape.com/img/microsite/content/game-features/skills-1366.jpg); }
  .loaded.pets { background-image: url(http://www.runescape.com/img/microsite/content/game-features/pets-1366.jpg); }
  .loaded.port { background-image: url(http://www.runescape.com/img/microsite/content/game-features/ports-1366.jpg); }
  .loaded.build { background-image: url(http://www.runescape.com/img/microsite/content/game-features/house-1366.jpg); }
  .loaded.citadel { background-image: url(http://www.runescape.com/img/microsite/content/game-features/clans-1366.jpg); }
  /* Community */
  .community .banner { background-image: url(http://www.runescape.com/img/microsite/content/community/banner-1366.jpg?1); }
  .loaded.team { background-image: url(http://www.runescape.com/img/microsite/content/community/team_up-1366.jpg); }
  .loaded.clans { background-image: url(http://www.runescape.com/img/microsite/content/community/clans-1366.jpg); }
  .loaded.events { background-image: url(http://www.runescape.com/img/microsite/content/community/themed_events-1366.jpg); }
  /* Upgrades and Extras */
  .upgrades-extras .banner { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/banner-1366.jpg?1); }
  .loaded.membership { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/membership-1366.jpg); }
  .loaded.loyalty { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/loyalty_programme-1366.jpg); }
  .loaded.runecoins { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/store-1366.jpg); }
  .loaded.treasure { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/squeal-1366.jpg); }
  .loaded.bonds { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/bonds-1366.jpg); }
  /* Old School */
  .old-school .banner { background-image: url(http://www.runescape.com/img/microsite/content/old-school/banner-1366.jpg?1); }
  .loaded.god-wars { background-image: url(http://www.runescape.com/img/microsite/content/old-school/god_wars-1366.jpg); }
  .loaded.free-oldschool { background-image: url(http://www.runescape.com/img/microsite/content/old-school/free2play-1366.jpg); }
  .loaded.nightmare { background-image: url(http://www.runescape.com/img/microsite/content/old-school/nightmare_zone-1366.jpg); }
}
@media only screen and (min-width: 85.375em) { /* WIDE */
  /* Splash */
  .splash .banner { background-image: url(http://www.runescape.com/img/microsite/content/splash/banner-1920.jpg?1); }
  .splash .headline, .promo .headline.first { background-image: url(http://www.runescape.com/img/microsite/content/splash/cave-1920.jpg); }
  /* What is RuneScape */
  .what-is-runescape .banner { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/banner-1920.jpg?1); }
  .loaded.adventure { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/adventure-1920.jpg); }
  .loaded.hero { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/dragon-1920.jpg); }
  .loaded.growing { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/dwarf-1920.jpg); }
  .loaded.shape { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/explosion-1920.jpg); }
  .loaded.browser { background-image: url(http://www.runescape.com/img/microsite/cracks_bottom_1920.jpg); }
  .loaded.free { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/free2play-1920.jpg); }
  .loaded.personality { background-image: url(http://www.runescape.com/img/microsite/content/what-is-runescape/comedy-1920.jpg); }
  /* Game Features */
  .game-features .banner { background-image: url(http://www.runescape.com/img/microsite/content/game-features/banner-1920.jpg?1); }
  .loaded.quests { background-image: url(http://www.runescape.com/img/microsite/content/game-features/quests-1920.jpg); }
  .loaded.dungeons { background-image: url(http://www.runescape.com/img/microsite/content/game-features/dungeons-1920.jpg); }
  .loaded.skills { background-image: url(http://www.runescape.com/img/microsite/content/game-features/skills-1920.jpg); }
  .loaded.pets { background-image: url(http://www.runescape.com/img/microsite/content/game-features/pets-1920.jpg); }
  .loaded.port { background-image: url(http://www.runescape.com/img/microsite/content/game-features/ports-1920.jpg); }
  .loaded.build { background-image: url(http://www.runescape.com/img/microsite/content/game-features/house-1920.jpg); }
  .loaded.citadel { background-image: url(http://www.runescape.com/img/microsite/content/game-features/clans-1920.jpg); }
  /* Community */
  .community .banner { background-image: url(http://www.runescape.com/img/microsite/content/community/banner-1920.jpg?1); }
  .loaded.team { background-image: url(http://www.runescape.com/img/microsite/content/community/team_up-1920.jpg); }
  .loaded.clans { background-image: url(http://www.runescape.com/img/microsite/content/community/clans-1920.jpg); }
  .loaded.events { background-image: url(http://www.runescape.com/img/microsite/content/community/themed_events-1920.jpg); }
  /* Upgrades and Extras */
  .upgrades-extras .banner { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/banner-1920.jpg?1); }
  .loaded.membership { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/membership-1920.jpg); }
  .loaded.loyalty { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/loyalty_programme-1920.jpg); }
  .loaded.runecoins { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/store-1920.jpg); }
  .loaded.treasure { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/squeal-1920.jpg); }
  .loaded.bonds { background-image: url(http://www.runescape.com/img/microsite/content/upgrades-extras/bonds-1920.jpg); }
  /* Old School */
  .old-school .banner { background-image: url(http://www.runescape.com/img/microsite/content/old-school/banner-1920.jpg?1); }
  .loaded.god-wars { background-image: url(http://www.runescape.com/img/microsite/content/old-school/god_wars-1920.jpg); }
  .loaded.free-oldschool { background-image: url(http://www.runescape.com/img/microsite/content/old-school/free2play-1920.jpg); }
  .loaded.nightmare { background-image: url(http://www.runescape.com/img/microsite/content/old-school/nightmare_zone-1920.jpg); }
}

/*  HEADER  */
.header header { box-shadow: 0px 0px 10px 5px #000; -moz-box-shadow: 0px 0px 10px 5px #000; -webkit-box-shadow: 0px 0px 10px 5px #000; min-height:68px;}
.logo { width: 222px; margin: 0 auto; }
.logo img { padding: 0; background: none; border: none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; margin: 0; }
.navigation h3 { color: #143c4f; padding: 18px 19px; border-bottom: solid 1px #82653a; margin: 0; }
.primary a { display: block; font-family: 'cinzel'; font-size: 1.7em; color: #143c4f; font-weight: bold; letter-spacing: 0.04em; padding: 18px 17px; }
.es .primary a{padding: 18px 14px;}
.primary span { display: block; font-family: 'museo-sans-300'; font-size: 0.7em; color: #2b1e0a; font-weight: normal; letter-spacing: 0; }
.primary .active a, .primary a:hover, .primary a:focus { background: transparent url(http://www.runescape.com/img/microsite/parchment-light.jpg) repeat 0 0; -webkit-box-shadow: inset -1em 0 1.5em -0.75em rgba(0, 0, 0, 0.75); -moz-box-shadow: inset -1em 0 1.5em -0.75em rgba(0, 0, 0, 0.75); box-shadow: inset -1em 0 1.5em -0.75em rgba(0, 0, 0, 0.75); }
.primary li { border-top: solid 1px #dccdb7; border-bottom: solid 1px #82653a; }
.primary li:last-child { border-bottom: none; }
.navigation { position: absolute; top: 0; left: -20em; height: 100%; width: 20em; background: #cab394 url(http://www.runescape.com/img/microsite/parchment.jpg) repeat 0 0; -webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.55); -moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.55); box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.55); }
.block { overflow: hidden; }
.nav-show { display: block; float: left; margin-top: 25px; width: 30px; height: 23px; background: transparent url(http://www.runescape.com/img/microsite/sprite.png) no-repeat -612px 0; text-indent: -9999px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }
.nav-show:hover, .nav-show:focus { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.nav-close { display: block; width: 2.625em; height: 2.25em; text-indent: -9999px; }
.js .inner-wrap { left: 0; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-transition: -webkit-transform 500ms ease; -moz-transition: -moz-transform 500ms ease; -o-transition: -o-transform 500ms ease; transition: transform 500ms ease; }
.js-nav .inner-wrap { left: 20em; }
.csstransforms3d.csstransitions.js-nav .inner-wrap {left: 0;-webkit-transform: translate3d(20em, 0, 0) scale3d(1, 1, 1); -moz-transform: translate3d(20em, 0, 0) scale3d(1, 1, 1); -ms-transform: translate3d(20em, 0, 0) scale3d(1, 1, 1); -o-transform: translate3d(20em, 0, 0) scale3d(1, 1, 1); transform: translate3d(20em, 0, 0) scale3d(1, 1, 1); }
.header .cta-wrap { width: 314px; height: 40px; position: absolute; top: 68px; left: 50%; margin-left: -157px; overflow: hidden; }
.cta-main { display: block; height: 79%; text-align: center; background: transparent url(http://www.runescape.com/img/microsite/sprite.png) no-repeat -652px 0; z-index: 2; padding-top: 8px; font-family: 'cinzel'; font-weight: 600; font-size: 2em; text-shadow: 1px 1px 2px #fff; color: #061f2a; }
.cta-main:hover { color: #061f2a; background-position: -976px 0; }
.continue a{ position: relative; }
.continue a:after { content: ''; border-top: solid 6px transparent; border-bottom: solid 6px transparent; border-left: solid 9px #143c4f; position: absolute; right: 2px; top: 33px; }
.splash .continue a:after{right:20px;}
.es .continue a:after{display:none;}
.companionLink {font-size: 1.5em;left: 2em;position: relative;top: 1.7em;display:none;}
.splash .companionLink{display:block;}
.promo .companionLink{display:none;}
.companionLink > a {text-decoration:underline;}
/*  MEDIA QUERIES  */
@media only screen and (min-width: 48em) { /* INTER WIDE */
 .splash .companionLink{display:none;}
}
@media only screen and (min-width: 65em) { /* INTER WIDE */
  .header header { position: relative; z-index: 10; }
  .header { position: fixed; top: 0; width: 100%; z-index: 500; }
  .logo { padding-right: 10px; border-right: solid 1px #0b1317; }
  .logo, .primary { float: left; }
  .primary { border-right: solid 1px #2a3338; padding-top: 0; }
  .navigation h3 { display: none; }
  .primary a { color: #e1bb34; }
  .primary .active a, .primary a:hover { background: none; box-shadow: inset 0 0 10px 3px #000; -moz-box-shadow: inset 0 0 10px 3px #000; -webkit-box-shadow: inset 0 0 10px 3px #000;color:#fff2c5; }
  .primary a:focus{background:none;}
  .primary span { color: #b3bfc5; }
  .primary li { float: left; border-left: solid 1px #2a3338; border-right: solid 1px #0b1317; border-top: none; border-bottom: none; }
  .nav-show, .nav-close { display: none; }
  .navigation { background: none; position: relative; top: auto; left: auto; padding-top: 0; height: auto; width: auto; overflow: hidden; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }
  .js .inner-wrap { left: auto; -webkit-transform: none; -moz-transform: none; -ms-transform: none; -o-transform: none; transform: none; -webkit-transition: none; -webkit-transition-delay: none; -moz-transition: opacity none; -o-transition: none; transition: none; }
  .header .cta-wrap { top: 27px; transition: top 0.5s ease; }
  .header .cta-show, .no-js .header .cta-wrap { top: 68px; }
  .continue a:after{border-left: solid 9px #e1bb34;}
  .continue a:hover:after{border-left: solid 9px #fff2c5;}

}


/* FOOTER */
.footer { background: url(http://www.runescape.com/img/microsite/parchment.jpg); position:relative; overflow:visible; z-index:15; display: block; }
.footer:before, .footer:after { content: ''; display: block; background: transparent url(http://www.runescape.com/img/microsite/large_break.jpg) repeat-x 0 0; clear:both; }
.footer:before { height: 52px; -webkit-box-shadow:0px -4px 15px #000; -moz-box-shadow:0px -4px 15px #000; box-shadow:0px -4px 15px #000; }
.footer:after { box-shadow: inset 0px 5px 55px -10px #000; -webkit-box-shadow: inset 0px 5px 55px -10px #000; -moz-box-shadow: inset 0px 5px 55px -10px #000; height: 10px; }
.footer__inner { max-width: 1000px; margin: 10px auto; padding: 20px 10px 70px; }
.footer__jagex{ display:block; text-indent:-9999px; background:transparent url(http://www.runescape.com/img/microsite/sprite.png) no-repeat -462px 0; width:140px; height:31px; float:left;  margin: 16px 35px 10px 0; }
.footer__paragraph{ color:#2b1e0a; max-width:460px; float:left; font-family: 'museo-sans-500'; padding: 5px 0;}
@media (min-width: 45em) {
  .footer__paragraph { border-left: 1px solid #867458; padding: 0px 20px; }
}
.footer__paragraph_line{
 font-size: 0.8em;
 line-height: 150%;
}
@media (min-width: 30em) {
 .footer__paragraph_line{
  font-size: 1.1em;
 }
}
.footer__paragraph__link{
    color:#2B1E0A;
    text-decoration:underline;
}
.footer__paragraph__link:hover{
    color:#876430;
}
.footer__paragraph__link--rules{
 position: relative;
}
.footer__paragraph__link--rules:after{
 content: '|';
 display: inline-block;
 margin: 0 5px;
}
.social, .social__list { float:left; list-style: none; }
.social__list { margin: 10px 0;}
.social__list__item { float:left; margin-left: 5px; }
.social__item__link{ display:block; text-indent:-9999px; background:transparent url(http://www.runescape.com/img/microsite/sprite.png) no-repeat -1300px 0; width:42px; height:40px; }
.social__item__link:hover{ background-position: -1352px 0; }
.social__list__item--twitter .social__item__link{ background-position: -1716px 0; }
.social__list__item--twitter .social__item__link:hover{ background-position: -1768px 0; }
.social__list__item--youtube .social__item__link{ background-position: -1820px 0; }
.social__list__item--youtube .social__item__link:hover{ background-position: -1872px 0; }
.social__list__item--google .social__item__link{ background-position: -1404px 0; }
.social__list__item--google .social__item__link:hover{ background-position: -1456px 0; }
.social__list__item--rss .social__item__link{ background-position: -1612px 0; }
.social__list__item--rss .social__item__link:hover{ background-position: -1664px 0; }
.social__list__item--reddit .social__item__link{ background-position: -1508px 0; }
.social__list__item--reddit .social__item__link:hover{ background-position: -1560px 0; }
.language { float: right; margin: 10px 0; display: inline-block; background-color: #252525; border: solid 1px #5e5e5e; padding: 3px 25px 3px 5px; position: relative; -moz-box-shadow: inset 0 0 3px 2px #000; -webkit-box-shadow: inset 0 0 3px 2px #000; box-shadow: inset 0 0 3px 2px #000; border-radius: 2px; -moz-border-radius: 2px; position: relative; }
.language:after { content: ''; display: block; width: 26px; height: 30px; background: transparent url(http://www.runescape.com/img/microsite/sprite.png) no-repeat 0 0; position: absolute; right: 0; top: 0; }
.language:hover:after { background-position: -38px 0; }
.language__inner { overflow: hidden; width: 37px; position: relative; -webkit-transition: width 0.5s ease; -moz-transition: width 0.5s ease; -o-transition: width 0.5s ease; -ms-transition: width 0.5s ease; transition: width 0.5s ease; }
.language:hover .language__inner, .language__list { width: 160px; }
.es .language:hover .language__inner, .language__list { width: 200px;}
.language__item__link, .language__item__span { display: block; background: transparent url(http://www.runescape.com/img/microsite/sprite.png) no-repeat -286px 0; text-indent: -9999px; width: 34px; height: 22px; position: relative; }
.language__item__link:before, .language__item__link:after, .language__item__span:before, .language__item__span:after { content: ''; position: absolute; top: 0; bottom: 0; left: 0; right: 0; -moz-box-shadow: inset 0 0 10px 1px #000; -webkit-box-shadow: inset 0 0 10px 1px #000; box-shadow: inset 0 0 10px 1px #000; }
.language__list__item--de .language__item__link, .language__list__item--de .language__item__span { background-position: -242px 0; }
.language__list__item--fr .language__item__link, .language__list__item--fr .language__item__span { background-position: -374px 0; }
.language__list__item--pt .language__item__link, .language__list__item--pt .language__item__span { background-position: -418px 0; }
.language__list__item--es .language__item__link, .language__list__item--es .language__item__span { background-position: -330px 0; }
.language__list__item { float: left; margin-left: 5px; border: solid 1px #5c5c5c; }
.language__list__item:first-child { margin-left: 0; }

/*  BREADCRUMB  */
.breadcrumb { background: transparent url(http://www.runescape.com/img/microsite/large_break.jpg) repeat-x 0 0; box-shadow: 0px 0px 10px 5px #000; -moz-box-shadow: 0px 0px 10px 5px #000; -webkit-box-shadow: 0px 0px 10px 5px #000; overflow: hidden; position: relative; z-index: 1; padding-top: 20px; height: 3.3em; }
.breadcrumb .container { display: none; }
.breadcrumb p { font-size: 1.2em; float: left; line-height: inherit; }
.breadcrumb ul { float: left; margin-left:10px;}
.breadcrumb li { float: left; color: #fff; font-weight: bold; font-size: 1.2em; margin-left: 10px; }
.breadcrumb li:before { content: '>'; color: #b3bfc5; margin-right: 10px; }
.breadcrumb li:first-child { margin-left: 0; }
.breadcrumb li:first-child:before { content: '';margin:0; }
.breadcrumb p, .breadcrumb a { color: #b3bfc5; font-weight: normal; }
.breadcrumb a:hover { color: #e1bb34; }
.breadcrumb + section:before { background: none; height: auto; }
/*  MEDIA QUERIES  */
@media only screen and (min-width: 30em) { /* VERY SMALL */
  .breadcrumb .container { display: block; }
  .breadcrumb p, .breadcrumb li { font-size: 1.3em; }
}

/*  BUTTONS */
.cta, .cta * { display: block; background: transparent url(http://www.runescape.com/img/microsite/sprite-btn.png) no-repeat 0 0; height: 56px; }
.cta { display: inline-block; font-family: 'cinzel'; font-weight: 600; font-size: 1.8em; text-align: center; text-shadow: 1px 1px 2px #fff; padding-left: 20px; margin-top: 25px; cursor:pointer; }
.cta a { background-position: right -244px; padding-right: 20px; color: #000; }
.cta span { background-position: 0 -122px; background-repeat: repeat-x; padding: 19px 15px 0; height: 37px; }
.cta:hover { background-position: 0 -61px; }
.cta:hover a { background-position: right -304px; }
.cta:hover span { background-position: 0 -183px; }
.cta.cta-splash { display: block; width: 477px; height: 53px; text-align: center; background: transparent url(http://www.runescape.com/img/microsite/sprite.png) no-repeat -1924px 0; text-shadow: 1px 1px 2px #fff; font-family: 'cinzel'; font-weight: 600; font-size: 3.5em; color: #000; margin: 0 0 0 -239px; padding: 18px 0 0; position: absolute; bottom: -35px; left: 50%; z-index: 50; }
.cta.cta-splash:hover { background-position: -2411px 0; color: #000; }
.promo .cta.cta-splash{bottom:auto;top:-35px;}
.lt-ie8 .cta.cta-splash{bottom:0;}

/*  Carousel */
.flex-direction-nav a { position: absolute; top: 50%; left: 0; margin-top: -25px; display: block; width: 44px; height: 50px; text-indent: -9999px; background: transparent url(http://www.runescape.com/img/microsite/sprite.png) no-repeat -76px 0; z-index: 2; }
.flex-direction-nav .flex-next { background-position: -120px 0; left: auto; right: 0; }
.slides{overflow:hidden;}
.slides li { display: none; }
.no-js .slides li { display: block; }
.slides img { display: block;width:100%;}

/* Mobile Specific */
.mobile .play{ display:none; }
.mobile .warning{ display:block; }

/* Language Specific */
.fr h1{font-size:3em;}
.fr .primary a,.pt .primary a{padding:18px 8px;}
.fr .continue a:after,.pt .continue a:after{display:none;}
.de.splash h1,.fr.splash h1,.pt.splash h1,.es.splash h1{font-size:2.2em;}
.de.community .list .cta span,.fr.community .list .cta span,.pt.community .list .cta span,.es.community .list .cta span{padding-top:13px;}
@media only screen and (min-width: 30em) { /* VERY SMALL */

}
@media only screen and (min-width: 40em) { /* SMALL */
  .de.community .list .cta span,.fr.community .list .cta span,.pt.community .list .cta span,.es.community .list .cta span{padding-top:19px;}
}
@media only screen and (min-width: 48em) { /* INTERMEDIATE */
  .de.splash .headline h2,.fr.splash .headline h2,{font-size:5em;}
  .de h1{font-size:5.5em;}
  .fr h1{font-size:4em;}
  .pt h1,.es h1{font-size:5em;}
}
@media only screen and (min-width: 65em) { /* INTER WIDE */
  .fr.splash .primary a, .pt.splash .primary a,.es.splash .primary a{padding:18px 30px;}
}
@media only screen and (min-width: 85.375em) { /* WIDE */

}

/* UOL AND AX5 BAR */
@media only screen and (min-width: 65em) { /* WIDE */
  .uol .header{top:30px;}
  .ax5 .header{top:50px;}
  .uol .barrauol-bg, .ax5 .dvAxeso5Toolbar{position:fixed;width:100%;z-index:600;}
}

/* GAME FLOW */
#deployJavaPlugin{display:none;}
.gameflow{background:#000 url(/img/rs3/game/backdrop.jpg) no-repeat top center;padding-top:70px;height:92%;}
.gameflow .main{background:none;}
.gameflow h1,.gameflow h2,.gameflow h1 span,.gameflow h2 span{color:#fff;}
.gameflow h1{font-size:3.5em;color:#071b25;}
.gameflow h2{margin-bottom:20px;letter-spacing:-0.1em;}
.gameflow h2 span{font-size:0.4em;letter-spacing:0;margin-top:10px;}
.gameflow h3{color:#071b25;margin-bottom:20px;}
.de.gameflow h3{font-size:2.1em;}
.gameflow ol{list-style:none;margin-top:20px;}
.gameflow li{float:left;width:20.7em;margin:10px 10px 12px 10px;text-align:left;}
.gameflow article p{font-size:1.6em;color:#071b25;min-height:90px;}
.de.gameflow article p{min-height:120px;}
.de.gameflow .wide article p{min-height:0;}
.gameflow img{border:none;}
.gameflow p strong{color:#071b25;}
.gameflow section{display:none;height:auto;padding:0;text-align:center;}
.no-js .gameflow .java{display:block;}
.gameflow section article{max-width:31em;margin:20px auto 0;}
.gameflow section:before{background:none;display:none;}
.divider{font-size:1.8em;font-family: 'cinzel'; font-weight: 600;color:#071b25;margin:37px 0 0;}
.gameflow .wrap{min-height:100%;}
.gameflow .main{padding-bottom:60px;}
.gameflow footer{position:relative;margin-top:-60px;height:60px;clear:both;text-align:center;opacity:0.9;float:none;width:auto;}
.gameflow footer p{color:#d7dbe1;font-size:1em;}
.gameflow footer a{color:#d7dbe1;text-decoration:underline;}
.gameflow .meta{margin-top:5px;}
.gameflow .meta p,.de.gameflow .meta p{font-size:1em;min-height:0;}
.gameflow .meta a{color:#071b25;text-decoration:underline;}
.gameflow .wide article,.fr.gameflow .wide article{max-width:none;margin:25px 0 0;float:none;overflow:hidden;}
.gameflow .wide p{min-height:0;}
.gameflow .cta.play, .gameflow .cta.play *{background-image:url(http://www.runescape.com/img/microsite/sprite-btn-blue.png);}
@media only screen and (min-width: 48em) { /* INTERMEDIATE */
 .divider{background:transparent url(/img/rs3/game/dividerBackdrop.png) no-repeat center 0;float:left;height:120px;padding-top:90px;}
 .gameflow section article{margin:25px 79px 0;}
 .de.gameflow section article,.fr.gameflow section article{margin:25px 67px 0;}
 .de.gameflow .wide article{margin: 25px 30px 0;}
}

/*  PRINT  */
@media print { * { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

/* EU COOKIES */

.cookiePopup{width: 100%; background-color: #DFDFDF; color:black; border-bottom: 1px solid black;}
.cookiePopup .cookiePopupContents{width: 960px; margin: auto; display: table;}
.cookiePopup a{color: #007DB6; font-weight: bold;}
.cookiePopup a:hover{color: #00AFFF; cursor: pointer;}
.cookiePopup .dialogue{width: 87%; display: table-cell; vertical-align: middle; text-align: center; padding: 5px 0; font-size: 12px;}
.cookiePopup .closeCookieContainer{display: table-cell; vertical-align: middle; background: url(http://www.runescape.com/img/rs3/global/cookie-close.png) center right no-repeat; text-align: right; padding-right: 30px;}
.cookiePopup .closeCookieContainer:hover{cursor: pointer;}
.cookiePopup .closeCookiePopup{line-height: 50px; font-size: 14px;}
.cookie .header .cta-wrap{top: 79px; z-index: -1;}
.cookie .header .cta-show{top: 117px;}
.cookie .nav-show{margin-bottom:20px;}
@media only screen and (max-width: 1036px) {.cookiePopup .cookiePopupContents{width: 90%;} .closeCookieContainer a{display: none;}}


/* CMS PREVIEWS */
.cmsPreviewHighlight {
 display: block!important;
 margin: 0!important;
 padding: 0!important;
 position: relative!important;
 width: auto!important;
 height: auto!important;
}
.cmsBlockOverlay {
 border: none!important;
 width: 100%!important;
 height: 100%!important;
 position: absolute!important;
 top: 0!important;
 left: 0!important;
 right: auto!important;
 bottom: auto!important;
 background-color: #0f0!important;
 opacity: 0.3!important;
 display: none;
 min-height: 28px!important;
 vertical-align: baseline!important;
}
.cmsBlockOverlay p {
 background-color: #000!important;
 color: #fff!important;
 float: right!important;
 font-size: 20px!important;
 font-weight: bold!important;
 margin: 0!important;
 margin-right: 3px!important;
 padding: 0!important;
}
