.btn {
    outline: none !important;
}

a {
    outline: none !important;
}

.btn-last-visits-see-all {
    padding-left: 0px;
    padding-right: 0px;
}

.btn-health-resources,
.btn-safe-dating-tips {
    padding: 5px 0 0 0;
}

.btn-quick-search {
    display: block;
    width: 100%;
    height: 29px;
    border-radius: 5px;
    padding: 5px;
    font-size: 13px;
}

#logo {
    cursor: pointer;
}

#page-wrap.main #main-content-inner-wrap div.content-block .btn.marked {
    text-transform: none;
}

div.switcher {
    background: #beafa4;
    float: left;
    width: 48px;
    height: 20px;
    padding: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 15px;
    -moz-border-radius: 15px;
}

div.share-geo-link {
    float: left;
    padding-left: 5px;
}

div.switcher a.icon {
    color: #ffffff;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

div.inactive.switcher span.icon {
    color: #ffffff;
    width: 18px;
    height: 18px;
    cursor: default;
}

div.switcher a.turn-on {
    float: left;
    background: url(../images/turn-on.png);
}

div.switcher a.turn-off {
    float: right;
    background: url(../images/turn-off.png);
}

div.inactive.switcher span.turn-on {
    float: left;
    background: url(../images/turn-on.png);
}

div.inactive.switcher span.turn-off {
    float: right;
    background: url(../images/turn-off.png);
}

div.inactive.switcher {
    opacity: 0.42
}

div.switcher-container {
    display: inline-block;
}

div.switcher-title {
    float: left;
    line-height: 20px;
    padding-right: 25px;
}

div.switcher-title.inactive {
    text-decoration: underline;
    color: #a9a9a9;
}

div.switcher-title.active {
    text-decoration: underline;
}

div.share-geo.switcher-title {
    padding-right: 5px !important;
}

.switcher-title-section2035 {
    padding-right: 5px !important;
}

.switcher-container-wrapper {
    padding-bottom: 4px;
}

#side-nav .active {
    background-color: #ffe0af;
    border-radius: 5px;
}

#user-block a.btn:active {
    color: #914915;
}

.switcher-ad {
    color: #ff0000;
    float: left;
    padding-left: 25px;
}

.registration-browse-button {
    max-width: 110px !important;
}

textarea#ta_description,
textarea#ta_hobbies,
textarea#prodesMaxText,
textarea#promoreMaxText,
textarea#partydesMaxText {
    resize: vertical;
}

.ad-horizontal-banners {
    text-align: center;
}

.contentl span.ui-dropdownchecklist {
    line-height: 23px;
    height: 23px;
}

.contentl .ui-dropdownchecklist-item {
    line-height: 23px;
    padding: 0;
}

.contentl label.ui-dropdownchecklist-text {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #121212;
    text-decoration: none;
    border: 0;
    margin: 0;
}

.contentl .ui-dropdownchecklist-selector {
    line-height: 23px;
    height: 23px;
}

.contentl .ui-dropdownchecklist-item input {
    vertical-align: text-bottom;
    margin-left: 5px;
}

.search-opt-item {
    line-height: 25px;
    height: 25px;
}

.friend-list-item {
    min-height: 180px;
    min-width: 120px;
    max-height: 180px;
    max-width: 120px;
    height: 180px;
    width: 120px;
}

.my-friends-list-item {
    min-width: 120px;
    max-width: 120px;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0 10px 0;
}

#slide-out-div {
    z-index: 1000;
}

#slide-out-div div {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.side-block-inner.nd-last-visits .data {
    background: #f9f0e8;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5px;
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
}

.side-block-inner.nd-last-visits .data .data-part-header {
    color: #323232;
    font-size: 1em;
    padding-top: 2px;
    padding-left: 4px;
}
.side-block-inner.nd-last-visits .data .data-item {
    font-size: 0.8em;
    padding-left: 8px;
    padding-bottom: 2px;
}
.side-block-inner.nd-last-visits .data .data-item .visit-time {
    color: #e06a26;
    padding-top: 5px;
}

.side-block-inner.nd-last-visits .data .data-item .visitor-username {
    font-weight: bold;
    color: #3b5998;
}

.side-block-inner.nd-last-visits .btn.orange {
    width: 52px;
    height: 20px;
    display: block;
    font-size: 13px;
    text-transform: none;
    margin-top: 3px;
}

div.side-block-inner .btn.orange.small {
    width: 22px;
    height: 18px;
}

.choose_order .nd-order-label.nd-last-login {
    text-decoration: none;
    color: #e66d18;
}

.choose_order .nd-order-label-alt {
    text-decoration: none;
    color:#F9C92A
}

#arrow_loader {
    cursor: pointer;
}

#near_me_help .my-acc-link {
    color: black
}

.username-tooltip {
    font-size: 1.5em;
}

.tooltip-inner {
    max-width: 250px;
}

.boxleftal .itemn {
    min-height: 180px;
    min-width: 120px;
    max-height: 180px;
    max-width: 120px;
    height: 180px;
    width: 120px;
}

.page-last-visits.boxleftal {
    margin: 2px;
}

.users-date {
    font-size: 0.8em;
    margin-top: 2px;
}

.users-avatar {
    height: 110px;
}

#loginModal a {
    color: #333;
}

form#upload-photos input[type=file].form-control {
    font-size: 12px;
    height: 100%;
}

form#upload-photos td {
    padding: 8px 0;
}

.design-announce-container {
    width: 100%;
    height: auto;
    border: 1px #c2b8af solid;
    border-radius: 8px;
}
.design-announce-container p, .design-announce-container a {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;;
}
.design-announce-title {
    width: 100%;
    height: 32px;
    background-color: #f47004;
    text-align: center;
    border-radius: 8px 8px 0 0;
}
.design-announce-title p {
    color: #ffffff;
    font-size: 1.5em;
    padding-top: 4px;
}
.design-announce-body {
    text-align: left;
    line-height: 1.3;
    background-color: #fdfcfa;
    color: #000000;
    font-size: 1.1em;
    padding: 2% 5% 2% 5%;
    border-radius: 0 0 8px 8px;
}
.design-announce-body .members-address {
    font-size: 1.1em;
}
.design-announce-body .announce-text {
    text-align: justify;
}
.design-announce-body .announce-notice {
    font-size: 0.6em;
}
.design-announce-body .announce-links {
    text-align: right;
}
.design-announce-body .announce-links .announce-link-main {
    font-weight: bold;
    font-size: 1.3em;
    color:#f47004;
    text-decoration: underline;
    font-family: Helvetica Light;
}
.design-announce-body .announce-links .announce-link {
    font-weight: normal;
    text-decoration: underline;
    color: #000000;
    font-size: 1.3em;
    font-family: Helvetica Light;
}
.design-announce-body .team-sign {
    text-align: center;
    margin-top: 3%;
    font-family: Helvetica Light;
}

.nd-bg-light-orange {
    background-color: #f8b267 !important;
}

.nd-userpic-popover-wrapper {
    text-align: center;
}

.nd-fast-login-form-fields {
    margin-top: 5px;
    margin-right: 55px;
}

.nd-fast-login-form-fields .checkbox {
    margin-top: 0;
    margin-bottom: 0;
}

.nd-fast-login-form-fields .checkbox label {
    font-weight: 400;
    color: #000;
}

.nd-fast-login-form-fields .nd-box-1 {
    width: 45%;
    float: left;
}

.nd-fast-login-form-fields .nd-box-2 {
    width: 45%;
    float: left;
    padding-left: 5px;
}

.nd-fast-login-form-fields .nd-box-3 {
    width: 10%;
    float: left;
    padding-left: 5px;
}

.nd-fast-login-form-fields a {
    font-weight: 400;
    color: #000;
}

/*
ASN-757
.placeholder { color: #999; }
*/

#global-ajax-error-msg-container {
    max-width: 300px;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 100;
}

/*new color for colorblind person*/
a {
    color: #3b5998;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color: #3b5998;
}

.alert-info {
    color: #3b5998;
}

.btn-primary,
.btn-info {
    background-color: #3b5998;
    border-color: #3b5998
}

#onlineStatus {
    float: left;
}

#arrowLoaderGif {
    margin-left: 8px;
    margin-bottom: 4px;
}

/*For modal dialog*/
.ui-widget-overlay {
    background: #000 url('');
    opacity: .5;
    filter: Alpha(Opacity=50);
}

.ui-dialog .ui-dialog-titlebar-close {
    background: transparent url('../lib/jquery-ui-1.10.4.custom/css/ui-lightness/images/ui-icons_ffffff_256x240.png');
    background-position: -95px -128px;
    border: none;
}

.ui-dialog .ui-dialog-titlebar-close:focus,
.ui-dialog .ui-dialog-titlebar-close:active {
    outline: none;
}

.ui-dialog .ui-dialog-titlebar-close:hover {
    background-color: #ed9c28;
    border: 1px solid #d58512;
    border-radius: 2px;
}

.dialog-confirm,
.dialog-alert {
    margin-top: 30px;
}

.conversationMenu .profile-pic {
    text-decoration: none;
    border: none;
    float: left;
    margin: 0;
    padding: 2px;
}

.conversationMenu .username-container {
    margin-top: 2px;
    float: left;
    text-align: left;
    margin-left: 2px;
}

.conversationMenu .username-container .username-link a{
    border: none;
    float: left;
    margin-left: 4px;
    margin-bottom: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    min-width: 80px;
    white-space: nowrap;
}

.conversationMenu .username-container .username {
    color:#555555;
    font-weight: bold;
}

.conversationMenu .username-container .unclickable {
    border: none;
    float: left;
    margin-left: 8px;
}

.conversationMenu .mailbox-action-buttons {
    margin-top: 16px;
    margin-right: 13px;
}

.conversationMenu .mailbox-action-buttons > .btn {
    min-width: 70px;
}
.announcement-container {
    margin: 10px 0 5px 0;
}

.header-inner {
    max-width: 919px;
    float: left;
    display: block;
}

.header-inner .logo-main {
    margin-left: 20px;
}

.header-inner .user-block-wrap {
    min-width: 919px;
}
@media (min-width: 1200px) {
    .header-inner-wrap {
        max-width: 1226px;
        overflow: visible;
        margin: 0 auto;
        float: none;
    }

    .footer-inner-wrap {
        max-width: 1226px;
        overflow: visible;
        margin: 0 auto;
        float: none;
    }
}

.footer-inner {
    max-width: 919px;
    float: left;
    display: block;
}

.footer-inner .useful-links {
    float: left;
    width: 33%;
    border-left: none;
    margin-top: 15px;
}

.footer-inner .follow-us {
    float: left;
    width: 31%;
    margin-top: 15px;
    border-left: solid 1px #3e3e3e;
}

.footer-inner .legal {
    float: left;
    width: 35%;
    margin-top: 15px;
    border-left: solid 1px #3e3e3e;
    padding-left: 35px;
}

.ms-right {
    margin-right: 30px;
    margin-bottom: 10px;
}

.users-show-container {
    width: 100%;
    /*margin-left: 30px;*/
}

.users-show-container .nd-x-user_profile_box {
    margin: 3px;
}

#filterForm .nd-btn-reset {
    width: 65px;
    margin-right: 2px;
}

#filterForm .nd-btn-apply {
    width: 65px;
    margin-left: 2px;
}

.nd-jplayer-invisible {
    width: 0px;
    height: 0px;
}

.nd-users-show-container-wrap {
    padding-left: 13px;
    padding-right: 13px;
}

.msg-text-small-screen {
    display: none;
}

.dimensions-help {
    margin-left: 5px;
}
div.a4alive-header {
    background-color: #000000;
    color: #e66e18;
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
}

.horizontal-banners {
    display: inline-block;
}

.horizontal-banners div {
    margin-left: 20px;
    float: left;
}

.new-menu-item {
    background: url(../images/new.png) no-repeat;
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    display: inherit;
    margin-top: -2px;
    margin-right: 3px;
    float: left;
}

.underwear-link {
    display: inline-block !important;
    padding: 5px 25px 5px 3px !important;
}