@media (min-width: 1260px) {

    body {
        font-size: 14px;
    }

    #page-wrap.registration #header {
        max-width: 1280px;
        background-position: 0 0;
    }

    #page-wrap.main #header, #page-wrap.main #content, #page-wrap.main #footer-inner-wrap, #page-wrap.main #app-inner-wrap {
        max-width: 100%;
        background-position: 0 0;
    }

    #page-wrap.not-main #header, #page-wrap.registration #header {
        padding: 0 10em;
    }

    #page-wrap.not-main #content {
        padding-left: 10em;
        float:none;
        /*padding-right: 10em;*/
    }

    #page-wrap.main #logo {
    }

    #page-wrap.main #main-content-inner-wrap {
        width: 36%;
    }

    #page-wrap.main #main-content-inner-wrap div.content-block {
        text-align: center;
        margin: 0em auto 0 auto;
        float: none;
        max-width: 70%;
        padding-top: 40px;
    }

    .award-img {
        margin-left: 11.5em;
    }
}