/*GLOBAL STYLES*/

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.eot');
    src: local('HelveticaNeue'), url('../fonts/HelveticaNeue.woff') format('woff'), url('../fonts/HelveticaNeue.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica Neue Bold';
    src: local('Helvetica Neue Bold'), url('../fonts/helvetica-neue-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica Light';
    src: local('Helvetica Light'), url('../fonts/HelveticaNeueCyr-Light.otf') format('truetype');
}

@font-face {
    font-family: 'Helvetica UltraLight';
    src: local('Helvetica UltraLight'), url('../fonts/HelveticaNeueCyr-UltraLight.otf') format('truetype');
}

html, body {
    font-size: 14px;
    line-height: 1.428571429;
    padding: 0;
    margin: 0;
    height: 100%;
}


.right {
    float:right !important;
}

.navbar {
    position: inherit !important;
}

/*CENTRAL*/

.central {
    margin: 0 auto;
    float:none;
    position: relative;

    max-width: 951px;
}

/*CENTRAL END*/


/*JUSTIFY BLOCKS*/
.justify {
    padding: 0;
    margin: 0;

    text-align: justify;
    line-height: 0;
    zoom: 1;
    text-align-last: justify;

    text-justify: newspaper;
}

.justify:after {

    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;

}

.justify li {

    display: inline-block;
    text-align: left;
    line-height: normal;

    vertical-align: top;
    padding: 0;

}

/*CENTERED*/

.justify.centered {
    padding: 0;
    margin: 0;

    text-align: center;
    line-height: 0;
    zoom: 1;
    text-align-last: justify;

    text-justify: newspaper;
}

.justify.center:after {

    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    /*display: inline-block;*/

}

/*CENTERED END*/

/*JUSTIFY BLOCKS END*/

#page-wrap {
    min-width: 1226px !important;
    min-height: 100%;
    position: relative;
}

#page-wrap #page {
    min-width: 1226px !important;
}

#page-wrap.not-main {
    background: #090909;
}

/*GLOBAL STYLES END*/

/*BOOTSTRAP MODAL*/

#loginModal .modal-header {
    background: #303030;
    color: #fff;
    font-size: 18px;
    font-family: arial;
}

#loginModal .modal-content {
    width: 60%;
    min-width: 286px;
    margin: 0 auto;
}


#loginModal .white {
    color: #fff;
}

#loginModal .btn-login {
    background: #e66d18;
    color: #fff;
}

/*BOOTSTRAP MODAL END*/


/*BOOTSTRAP NAVBAR*/

#header-wrap .navbar-nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

#header-wrap .navbar-header {
    float:left !important;
}

#header-wrap .navbar-nav {
    margin:0 0 0 0px;
    float:left !important;
}

#header-wrap .navbar-nav>li {
    float:left !important;
}

#header-wrap .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

#header-wrap .navbar {
    margin:0;
}

#header-wrap .navbar-default {
    background: transparent;
    border:none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

#header-wrap .navbar-default .navbar-toggle .icon-bar {
    background: #fff;
}

#header-wrap .navbar-default .navbar-toggle {
    border-color: #fff;
}

#header-wrap .navbar-default .navbar-nav>li>a {
    font-family: "Helvetica Light";
    font-size: 1.3em;
    color: #fff;
    text-shadow: none;
    background: url(../images/shape.png) 0 50% no-repeat;
}

#header-wrap .navbar-default .navbar-nav>.open>a {
    background: inherit;
}

#header-wrap .dropdown-menu {
    background: #b25918;
    border: none;
}

#header-wrap .dropdown-menu>li>a {
    color: #fff;
}

#header-wrap .dropdown-menu>li>a:hover {
    background: #914915;
    filter: none;
}

#header-wrap .navbar-default .navbar-nav>.active>a {
    /*background: transparent;*/
    box-shadow: none;
    -webkit-box-shadow: none;

    filter: none;
}

/*BOOTSTRAP NAVBAR END*/

#page-wrap.main {
    background: #222;
}

#page-wrap.main #footer-inner-wrap,
#page-wrap.main #app-inner-wrap {
    max-width: 1280px;
    min-width: 240px;
    padding: 0 5em;
}

#page-wrap.main #header {
    max-width: 100%;
    min-width: 240px;
    padding: 0 0 0 5em;
}

#page-wrap.main #main-nav ul {
    padding-left: 0;
    margin-left: 0;
}

.nav-horizontal li {
    display: inline;
}

#header-wrap {
    background-color: #e66e18;
}

#header {
    margin: 0 auto;
}

/*#page-wrap.not-main #header {
    max-width: 1280px;
}*/

#logo {
    height: 50px;
    min-width: 250px;
    background: url(../images/logo-home.png) 0px 4px no-repeat;
    float: left;
}

.hl-logo {
    background: url(../images/adam4adam_helloween.png) 0px 4px no-repeat !important;
    background-size: 197px 45px !important;
}

.xmas-logo {
    background: url(../images/adam4adam_xmashat.png) 10px -1px no-repeat !important;
    background-size: 70% !important;
}

.stval-logo {
    background: url(../images/adam4adam_stval.png) 10px 0px no-repeat !important;
    background-size: 61% !important;
}

#page-wrap.main #logo {
    /*min-width: 192px;*/
}

/*div.main #logo {
    width: 192px;
    background: url(../images/logo-main.gif) 0 0 no-repeat;
}*/

#main-nav-wrap {
    float: left;
    width: 63%;
}

#main-nav {
    padding-top: 14px;
}

#main-nav ul {
    list-style-type: none;
    margin-left: 26px;
}

/*#main-nav li {
    font-family: 'Helvetica Light';
    font-size: 1.35em;
    padding: 0 22px 0 10px;
    background: url(../images/shape.png) 0 50% no-repeat;
    position: relative;
}*/

#main-nav li ul{

    display: none;
    position: absolute;
    width: 150px;
    z-index: 10000;
    background: #e66d18;
    top: 35px;

    -webkit-box-shadow: 0 1px 1px #000;
    -moz-box-shadow: 0 1px 1px #000;
    box-shadow: 0 1px 1px #000;
}

#main-nav li ul li{
    display: block;
    font-size: 1em;
    background: none;
    margin: 0;
    padding: 0;
    color: #fff;
}

#main-nav li ul li:hover{
    background: #b84c00;
}

#main-nav li:hover ul{
    display: block;
}

#main-nav a {
    color: #ffffff;
}

#user-block {
    float: right;
    height: 50px;
    padding-top: 13px;
    padding-left: 69px;
}

#page-wrap.main #user-block {
    padding-left: 0;
    padding-right: 0;
}

#user-block a.btn {
    color: #e66e18;
    font-family: arial;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #343434;

    padding: 1px 12px;
    border-radius: 15px;
}

#content-wrap {
    /*border-bottom: 1px solid #3E3E3E;*/
    /*padding-bottom: 147px;*/
}

#page-wrap.not-main #content-wrap {
    padding-bottom: 147px;
}

#page-wrap.main #content-wrap {
    position: relative;
    padding-bottom: 0;
    background: #222;
}

#page-wrap.not-main #content {
    width: 980px;
}

#page-wrap.not-main #content.contacting-members-page {
    width: auto;
}


#content {
    margin: 0 auto;
}

#page-wrap.main #content {
    background-image: url(../images/bg_main.jpg);
    background-repeat: no-repeat;
    background-position-x: 0;
    min-height: 620px;
    padding: 0 3em 0em 3em;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*max-width: 1280px;*/
    max-width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#page-wrap.not-main #content {
    padding-top: 3.65em;
    padding-bottom: 10em;
    color: #ffffff;
}

#page-wrap.main #content #awards-wrap {
    text-align: center;
    width: 100%;
    margin: 1em auto 5em 0;
}

#page-wrap.main #content .award {
    margin-top: 0px;
}

#page-wrap.main #content .award img {
    width: 10em;
}

#page-wrap.main #main-content-inner-wrap {
    min-width: 270px;
    max-width: 470px;

    margin: 2em 0 0 0;
    float: right;
    width: 34%;
    padding: 0;



}

#page-wrap.main #main-content-inner-wrap .content-header{
    font-family: "Helvetica UltraLight";
    font-weight: lighter;
    font-size: 5em;
    color: #ffffff;
    margin: 0;
    text-align: center;
}

#page-wrap.main #main-content-inner-wrap div.content-block {
    text-align: center;
    margin: 3em auto 0 auto;
    float: none;
}

#page-wrap.not-main div.content-block {
    font-family: "Helvetica Light";
    font-size: 1.0em;
}

#page-wrap.not-main .content-header {
    color: #cccccc;
    font-size: 2.1em;
    font-family: "Helvetica Light";
}

#page-wrap.not-main #content h2 {
    color: #ffffff;
    font-size: 1.0em;
    font-weight: bold;
}

#page-wrap.not-main div.content-block h3 {
    font-size: 1.0em;
    font-weight: bold;
    margin: 30px 0 10px;
    color: #ffffff;
}

#page-wrap.not-main #content p {
    color: #cccccc;
    font-size: 1.0em;
}

#page-wrap.not-main #content ol {
    color: #cccccc;
    font-size: 1.0em;
}

#page-wrap.not-main #content .orange {
    color: #ff9900;
}

#page-wrap.not-main div.content-block .btn.orange {
    background: #e66d18;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

#page-wrap.not-main div.content-block a.btn.orange {
    color: #333333 !important;
    font-size: 0.98em;
    font-weight: bold;
}

#page-wrap.not-main #content .nd-white {
    color: #777777;
}

#page-wrap.not-main div.content-block .btn.nd-white {
    background: #e7e7e7;
    color: #777777;
    text-align: center;
    text-decoration: none;
}

#page-wrap.not-main div.content-block a.btn.nd-white {
    color: #777777 !important;
    font-size: 0.78em;
}

#page-wrap.main #main-content-inner-wrap .block-header {
    font: normal 1.3em "Arial";
    color: #fff;
    /*text-shadow: 0 0 4px #fff;*/
    background: #303030;
    margin: 0;
    padding: 8px 0;
    border-radius: 8px 8px 0 0;
}

#page-wrap.main #main-content-inner-wrap .block-header + div {
    /*background: url(../images/opacity-app.png);
    background: rgba(163, 163, 163, 0.2);*/
    background-color: #a4a4a4;
    height: 100%;
    font-family: "Arial";
}

#page-wrap.main #main-content-inner-wrap .block-header + div + div {
    background: #848484;
    height: 100%;
    font-family: "Arial";
    border-radius: 0 0 8px 8px;
    padding-bottom: 15px;
}

#page-wrap.main #main-content-inner-wrap div.content-block .btn-wrap.orange {
    background: #e66d18;
    width: 82%;
    /*height: 45px;*/
    margin: 10px auto 0;
    border-radius: 10px;
}

#page-wrap.main #main-content-inner-wrap div.content-block .btn-wrap.nd-white {
    background: #e7e7e7;
    width: 82%;
    /*height: 40px;*/
    margin: 15px auto 0px;
    border-radius: 10px;
}

#page-wrap.main #main-content-inner-wrap div.content-block .btn.marked {
    font-weight: bold;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    padding: 0;
    text-decoration: none;
    display: block;
    line-height: 1.5;
}

#page-wrap.main #main-content-inner-wrap div.content-block .btn.nd-marked2 {
    font-weight: bold;
    font-size: 1.5em;
    color: #303030;
    padding: 7px 0 6px 0;
    text-decoration: none;
    display: block;
    line-height: 1.5;
    vertical-align: text-bottom;
}

#page-wrap.contact #content p {
    font-family: "Helvetica Light";
}

#page-wrap.main #main-content-inner-wrap div.content-block p.underline {
    padding-bottom: 0;
    color: #000;
    font-size: 22px;
    margin: 10px auto 0;
    width: 95%;
}

#page-wrap.main #main-content-inner-wrap div.content-block p.orange {
    color: #e66d18;
    font-size: 18px;
    padding-bottom: 0;
    padding-top: 5px;
    margin-bottom: 0;
}

#page-wrap.main #main-content-inner-wrap div.content-block p.white.small {
    color: #fff;
    font-size: 14px;
}

#page-wrap.main #ads-wrap {
    clear: both;
    width: 100%;
    padding: 68px 0;
    margin: 0 auto;
    /*max-width: 1280px;*/
    max-width: 100%;
    background: #000;
}

#page-wrap.main #ads-wrap .ad{
    width: 468px;
    height: 125px;
    background: #4B4B4B;
    float: left;
}

#page-wrap.main #ads-wrap .ad a img{
    width: 100%;
    height: 100%;
}

#page-wrap.main #app-wrap {
    background: url(../images/opacity-app.png);
    background: rgba(00, 00, 00, 0.77);
    clear: both;
    position: relative;
    width: 100%;

    margin: -60px 0 0 0;
    float:left;

    /*max-width: 1280px;*/
    max-width: 100%;
}

#page-wrap.main #apps {
    width: 458px;
    margin: 0 auto;
}

#page-wrap.main #app-inner-wrap:hover {
}

#page-wrap.main #app-inner-wrap #apps:hover ul {
    border: solid 1px #E66D18;
}

#page-wrap.main #app-inner-wrap #apps:hover .header {
    opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    filter: alpha(opacity=100);
}

#page-wrap.main #app-inner-wrap {
    margin: -1.4em 0 0 0;
}

#page-wrap.main #app-inner-wrap .header {
    float: none;
    margin: 0 auto;
    text-align: center;
    background: #E66D18;
    border-radius: 4px 4px 0 0;
    width: 85%;
    color: #000;
    display: block;
    opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 1;
    filter: alpha(opacity=0);
}

#page-wrap.main #apps ul{
    border-radius: 8px;
    margin: 0;
    padding: 6px;
    border: solid 1px transparent;
}

#page-wrap.main #apps ul.justify:after {
    display: block;
}

#page-wrap.main #apps ul li{
    margin: 0;
    padding: 0;

    display: inline-block;
}

#page-wrap.main #apps ul li a{
    display: block;
    height: 46px;
    width: 144px;
}

#page-wrap.main #apps ul li a.android {
    background: url(../images/app-android.png);
}

#page-wrap.main #apps ul li a.appstore {
    background: url(../images/app-store.png);
}

#page-wrap.main #apps ul li a.play {
    background: url(../images/app-play.png);
}
#page-wrap.main #apps ul li a.uncensored {
    background: url(../images/app-uncensored2.png);
}

/*FOOTER*/

#footer-wrap {
    background-color: #000;
    min-height: 147px;
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
}

#page-wrap.not-main #footer-wrap {
    min-height: 120px;
    position: relative;
    text-align: left;
    top: auto;
    bottom: auto;
    max-width: 100%;
}


#footer .legalFix {
    padding-left: 6%;
}

#page-wrap.main #footer-wrap,
#page-wrap.registration #footer-wrap,
#page-wrap #footer-inner-wrap{
    min-height: 120px;
    position: relative;
    text-align: left;
    top: auto;
    bottom: auto;
    /*max-width: 1280px;*/
    max-width: 100%;
    border-top: solid 1px #3E3E3E;
    /*padding: 0 5em;*/
}

#footer .col-md-4 {
    border-left: solid 1px #3e3e3e;
    margin-top: 15px;
    min-height: 100px;
}

#footer .col-md-4:first-child {
    border-left: none;
}

#page-wrap.main #footer .justify,
#page-wrap.not-main #footer .justify,
#page-wrap.registration #footer .justify,
#page-wrap #footer-inner-wrap #footer .justify {
    width: 100%;
}
#page-wrap.main #footer .justify li,
#page-wrap.not-main #footer .justify li,
#page-wrap.registration #footer .justify li,
#page-wrap #footer-inner-wrap #footer .justify li {

    width: auto;
}

#page-wrap.main #footer ul,
#page-wrap.not-main #footer ul,
#page-wrap.registration #footer ul,
#page-wrap #footer ul,
#page-wrap #footer-inner-wrap #footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float:left;
    width: 50%;
}

#page-wrap.main #footer li,
#page-wrap.not-main #footer li,
#page-wrap.registration #footer li,
#page-wrap #footer-inner-wrap #footer li {
    display: inline-block;
    width: 100%;
    text-align: left;
}

#page-wrap.main #footer li a,
#page-wrap.not-main #footer li a,
#page-wrap.registration #footer li a,
#page-wrap #footer-inner-wrap #footer li a {
    display: block;
    /*border-left: 1px solid #797d79;*/
    color: #797d79;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

#page-wrap.main #footer li:first-child a
#page-wrap.not-main #footer li:first-child a {
    border-left: none;
}

#page-wrap.main #footer p.copyright
#page-wrap.not-main #footer p.copyright {
    color: #797d79;
    font-size: 0.83em;
}

#footer {
    color: #666666;
    font-family: "Helvetica Light";
    font-size: 0.7em;
}

#footer.row {
    margin-left: 0;
    margin-right: 0;
}

#footer div.row {
    margin-left: 0;
    margin-right: 0;
}

#footer h3 {
    color: #999999;
    font-size: 1.5em;
    font-family: "Arial";
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: bold;
}

#footer h3.center {
    text-align: center;
}

#footer div.gr-col-1 {
    min-width: 17.3%;
}

#footer div.gr-col-2 {
    min-width: 14.3%;
}

#footer div.gr-col-3 {
    min-width: 15.3%;
}

#footer div.gr-col-4 {
    min-width: 22%;
}

#footer div.gr-col-5 {
    min-width: 25%;
}

#footer div.gr-col-4 p {
    max-width: 75%;
}

#footer ul {
    padding: 0;
    list-style-type: none;
}

#footer li a {
    color: #666666;
}

#footer span.important{
    color: #999999;
}

#footer input[type="text"] {
    color: #666666;
    background: #333333;
    border-width: 0;
    width: 140px;
    height: 25px;
    padding: 5px 10px;
    font-size: 12px;
}

#footer button {
    background: #999999;
    color: #333333;
    border-width: 0;
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 0;
    margin-left: 5px;
}

#footer a.icon {
    display: block;
    height: 46px;
    width: 44px;
    float: left;
    background: url(../images/footer-social-icons.png);
}

.social-icon {
    margin-left: 10px;
}

#footer a.icon.twitter {
    background-position: 0 0;
}

#footer a.icon.facebook {
    background-position: -57px 0;
}

#footer a.icon.blog {
    background-position: -113px 0;
}

#footer a.icon:first-child {
    margin-right: 10px;
}
/*FOOTER END*/

/*TRICKS*/

.drop-paddings {
    padding-left: 0 !important;
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
}

.drop-paddings-tb {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.drop-paddings-lr {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.drop-paddings-r {
    padding-right: 0 !important;
}

.drop-margins-lr {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/*TRICKS END*/

.award-img {
    z-index: 10;
    margin-top: 1.5em;
    margin-left: 6.5em;
    width: 10em;
}

.nd-bg-content {
    background-color: #f3e7dd;
}

.nd-bg-sidebar {
    background-color: #dfd2c8;
}

.menu-cogwheel {
    padding-right: 0 !important;
}

.modal-open {
    overflow: auto;
}

.modal {
    overflow: hidden;
}

.orange-highlight {
    color: #E66D18;
}

.underline-dotted {
    border-bottom-style: dotted;
    border-bottom-color: inherit;
    border-bottom-width: 1px;
}

div.alert1 {
    color: red;
}

.advert-box {
    padding: 12px 0;
}

.img-wrap .local-banner-container{
    width:300px;
    height: 250px;
    background-color: #e66e18;
}

.fixed-banners-right{
    width: 315px;
    height: 792px;
    position: absolute;
}

.profile-disable-ads-up-container{
    text-align: center;
    margin-left: 12px;
    margin-bottom: 6px;
}

.profile-disable-ads-bottom-container{
    text-align: center;
    margin-left: 12px;
    margin-bottom: 5px;
}

.right-section-disable-ads-up-container{
    width:300px;
    height:20px;
    text-align: center;
    margin-top:-32px;
    margin-bottom: 13px;
}

.right-section-disable-ads-bottom-container{
    width:300px;
    height:20px;
    text-align: center;
}

.profile-disable-ads-bottom-banner{
    height:20px;
    text-align: center;
    float:none;
    margin-bottom: 6px;
}

.right-section-disable-ads-bottom-container.local-site{
    margin-top:-15px;
}