/*--start clock with 876--*/

.n1_mfbb_dd_db_vr_876 li{position:absolute;width:178px;height:178px;}
.n1_mfbb_dd_db_vr_8760{left:40px;top:115px!important; height:402px;!important;}
.n1_mfbb_dd_db_vr_8761{left:246px;top:115px!important;}
.n1_mfbb_dd_db_vr_8762{left:452px;top:115px!important;}
.n1_mfbb_dd_db_vr_8763{left:658px;top:115px!important;}
.n1_mfbb_dd_db_vr_876 .dditemttl{ padding-top:6px; font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'san-serif'; font-weight:medium; color: #333333; font-size: 15px; font-size: 14px \0/IE9; overflow:hidden; text-overflow: ellipsis; display:block;text-decoration:none!important;cursor:pointer; line-height:16px;}
.n1_mfbb_dd_db_vr_876 .pri{padding-top:3px; display:block;font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'san-serif'; text-align: left; font-weight: bold; font-size:19px; color: #333333; line-height:23px;}
.n1_mfbb_dd_db_vr_876 .poff{padding-top:3px; font-size: 14px; font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'san-serif'; display:block; color: #86B817; font-weight:bold; text-align:left; line-height:15px; }
.n1_mfbb_dd_db_vr_876 a{text-decoration:none;}
.n1_mfbb_dd_db_vr_876 a:hover{text-decoration:none;}
.n1_mfbb_dd_db_vr_876 .n1_mfbb_dd_db_vr_876_img{display:block!important;line-height:normal!important;}
.n1_mfbb_dd_db_vr_876 .n1_mfbb_dd_db_vr_876_img span{display:inline;width:178px;height:178px; }
.n1_mfbb_dd_db_vr_876 .n1_mfbb_dd_db_vr_876_img,.n1_mfbb_dd_db_vr_876 .n1_mfbb_dd_db_vr_876_img span,.n1_mfbb_dd_db_vr_876 .n1_mfbb_dd_db_vr_876_img img{vertical-align:middle;text-align: center;border:0;width:178px;height:178px;}
.n1_mfbb_dd_db_vr_876_spn{height:178px;width:178px;}
.n1_mfbb_dd_db_vr_876_img_spn{width:178px;height:178px;}

.n1_mfbb_dd_db_vr_876 span.ro-text-content {
background-color:#eeeeee;
cursor: pointer;
height: 70px;
width: 168px;
width: 160px \0/IE9;
opacity: 1;
display: block;
position:absolute;
top:185px;
margin-left:4px;
margin-right:4px;
padding-left: 6px;
padding-right:2px;
}

/*--end clock with 876--*/

/*--start noclock with 876--*/
.n1_mfbb_dd_ndb_vr_876 li{position:absolute;width:178px;height:178px;}
.n1_mfbb_dd_ndb_vr_8760{left:40px;top:115px!important; height:402px;!important;}
.n1_mfbb_dd_ndb_vr_8761{left:246px;top:115px!important;}
.n1_mfbb_dd_ndb_vr_8762{left:452px;top:115px!important;}
.n1_mfbb_dd_ndb_vr_8763{left:658px;top:115px!important;}
.n1_mfbb_dd_ndb_vr_876 .dditemttl{ padding-top:6px; font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'san-serif'; font-weight:medium; color: #333333; font-size: 15px; font-size: 14px \0/IE9; overflow:hidden;display:block;text-decoration:none!important;cursor:pointer; line-height:16px; text-overflow: ellipsis;}
.n1_mfbb_dd_ndb_vr_876 .pri{padding-top:3px; display:block;font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'san-serif'; text-align: left; font-weight: bold; font-size:19px; color: #333333;  line-height:23px;}
.n1_mfbb_dd_ndb_vr_876 .poff{padding-top:3px; font-size: 14px; font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'san-serif'; display:block; color: #86B817; font-weight:bold; text-align:left; line-height:15px; }

.n1_mfbb_dd_ndb_vr_876 a{text-decoration:none;}
.n1_mfbb_dd_ndb_vr_876 a:hover{text-decoration:none;}
.n1_mfbb_dd_ndb_vr_876 .n1_mfbb_dd_ndb_vr_876_img{display:block!important;line-height:normal!important;}
.n1_mfbb_dd_ndb_vr_876 .n1_mfbb_dd_ndb_vr_876_img span{display:inline;width:178px;height:178px; }
.n1_mfbb_dd_ndb_vr_876 .n1_mfbb_dd_ndb_vr_876_img,.n1_mfbb_dd_ndb_vr_876 .n1_mfbb_dd_ndb_vr_876_img span,.n1_mfbb_dd_ndb_vr_876 .n1_mfbb_dd_ndb_vr_876_img img{vertical-align:middle;text-align: center;border:0;width:178px;height:178px;}
.n1_mfbb_dd_ndb_vr_876_spn{height:178px;width:178px;}
.n1_mfbb_dd_ndb_vr_876_img_spn{width:178px;height:178px;}

.n1_mfbb_dd_ndb_vr_876 span.ro-text-content {
background-color:#eeeeee;
cursor: pointer;
height: 70px;
width: 168px;
width: 160px \0/IE9;
opacity: 1;
display: block;
position:absolute;
top:185px;
margin-left:4px;
margin-right:4px;
padding-left: 6px;
padding-right:2px;
}
/*--end noclock with 876--*/

/*--start clock with 656--*/
.n1_mfbb_dd_db_vr_656 li{position:absolute;width:178px;height:178px;}
.n1_mfbb_dd_db_vr_6560{left:40px;top:115px!important;}
.n1_mfbb_dd_db_vr_6561{left:239px;top:115px!important;}
.n1_mfbb_dd_db_vr_6562{left:438px;top:115px!important;}
.n1_mfbb_dd_db_vr_656 .dditemttl{ padding-top:6px; font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'san-serif'; font-weight:medium; color: #333333; font-size: 15px; font-size: 14px \0/IE9; overflow:hidden;display:block;text-decoration:none!important;cursor:pointer; line-height:16px; text-overflow: ellipsis;}
.n1_mfbb_dd_db_vr_656 .pri{padding-top:3px; display:block;font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'san-serif'; text-align: left; font-weight: bold; font-size:19px; color: #333333; line-height:23px;}
.n1_mfbb_dd_db_vr_656 .poff{padding-top:3px; font-size: 14px; font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'san-serif'; display:block; color: #86B817; font-weight:bold; text-align:left; line-height:15px; }
.n1_mfbb_dd_db_vr_656 a{text-decoration:none;display:inline;}
.n1_mfbb_dd_db_vr_656 a:hover{text-decoration:none;display:inline;}
.n1_mfbb_dd_db_vr_656 .n1_mfbb_dd_db_vr_656_img{display:block!important;}
.n1_mfbb_dd_db_vr_656 .n1_mfbb_dd_db_vr_656_img span{display:inline;width:178px;height:178px;}
.n1_mfbb_dd_db_vr_656 .n1_mfbb_dd_db_vr_656_img,.n1_mfbb_dd_db_vr_656 .n1_mfbb_dd_db_vr_656_img span,.n1_mfbb_dd_db_vr_656 .n1_mfbb_dd_db_vr_656_img img{vertical-align:middle;text-align:center;border:0;width:178px;height:178px;}
.n1_mfbb_dd_db_vr_656 span.ro-text-content {
background-color:#eeeeee;
cursor: pointer;
height: 70px;
width: 168px;
width: 160px \0/IE9;
opacity: 1;
display: block;
position:absolute;
top:185px;
margin-left:4px;
margin-right:4px;
padding-left: 6px;
padding-right:2px;
}



/*--end clock with 656--*/

/*--start no clock with 656--*/

.n1_mfbb_dd_ndb_vr_656 li{position:absolute;width:178px;height:178px!important;}
.n1_mfbb_dd_ndb_vr_6560{left:40px;top:115px!important;}
.n1_mfbb_dd_ndb_vr_6561{left:239px;top:115px!important;}
.n1_mfbb_dd_ndb_vr_6562{left:438px;top:115px!important;}
.n1_mfbb_dd_ndb_vr_656 .dditemttl{ padding-top:6px; font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'san-serif'; font-weight:medium; color: #333333; font-size: 15px; font-size: 14px \0/IE9; overflow:hidden;display:block;text-decoration:none!important;cursor:pointer; line-height:16px; text-overflow: ellipsis;}
.n1_mfbb_dd_ndb_vr_656 .pri{padding-top:3px; display:block;font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'san-serif'; text-align: left; font-weight: bold; font-size:19px; color: #333333;line-height:23px;}
.n1_mfbb_dd_ndb_vr_656 .poff{padding-top:3px; font-size: 14px; font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'san-serif'; display:block; color: #86B817; font-weight:bold; text-align:left; line-height:15px; }
.n1_mfbb_dd_ndb_vr_656 a{text-decoration:none;display:inline;width:178px;height:178px;}
.n1_mfbb_dd_ndb_vr_656 a:hover{text-decoration:none;display:inline;}
.n1_mfbb_dd_ndb_vr_656 .n1_mfbb_dd_ndb_vr_656_img{display:block!important;line-height:normal!important;}
.n1_mfbb_dd_ndb_vr_656 .n1_mfbb_dd_ndb_vr_656_img span{display:inline;width:178px;height:178px;}
.n1_mfbb_dd_ndb_vr_656 .n1_mfbb_dd_ndb_vr_656_img,.n1_mfbb_dd_ndb_vr_656 .n1_mfbb_dd_ndb_vr_656_img span,.n1_mfbb_dd_ndb_vr_656 .n1_mfbb_dd_ndb_vr_656_img img{vertical-align:middle;text-align:center;border:0;width:178px;height:178px;}
.n1_mfbb_dd_ndb_vr_656_img_spn{width:178px;height:178px;}
.n1_mfbb_dd_ndb_vr_656_spn{height:178px;width:178px;}

.n1_mfbb_dd_ndb_vr_656 span.ro-text-content {
background-color:#eeeeee;
cursor: pointer;
height: 70px;
width: 168px;
width: 160px \0/IE9;
opacity: 1;
display: block;
position:absolute;
top:185px;
margin-left:4px;
margin-right:4px;
padding-left: 6px;
padding-right:2px;
}


.n1_mfbb_dd_db_optText_876{
	display: block;
	position: absolute;
	top:375px;
	left:50px;
	width: 400px;
	height: 25px; 
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'san-serif'; 
	font-weight:medium; 
	color: #333333!important;;
	font-size: 14px; text-decoration:none!important;cursor:pointer;;
	
	}
	
	
.n1_mfbb_dd_db_optText_656{
	display: block;
	position: absolute;
	top:375px;
	left:50px;
	width: 300px;
	height: 25px; 
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'san-serif'; 
	font-weight:medium; 
	color: #333333!important;;
	font-size: 14px; text-decoration:none!important;cursor:pointer;;
	
	}

.n1_mfbb_dd_db_vr_tme_876{width:244px;position:absolute;left:55px;top:50px;}
.n1_mfbb_dd_db_vr_tme_656{width:144px;position:absolute;left:56px;top:5px;}
.n1_mfbb_dd_db_vr_tme_cnt{position:absolute;}
.n1_mfbb_dd_db_vr_tme_cnt_876{position:absolute;left:3px;top:10px;}
.n1_mfbb_dd_db_vr_tme_cnt_hms_876{position:absolute;left:0px;top:15px;}
.n1_mfbb_dd_db_vr_tme_cnt_656{position:absolute;left:0px;top:55px;}
.n1_mfbb_dd_db_vr_tme_cnt_hms_656{position:absolute;left:0px;top:60px;}
.n1_mfbb_dd_db_vr_tme_cnt span{display:inline-block;font-family:'Helvetica Neue', 'Helvetica', 'Arial', 'san-serif';font-weight:medium; text-align: center;font-size:22px;color:#ffffff;width:3px;height:15px;margin-right:6px;}
.n1_mfbb_dd_db_vr_tme_cnt_hms span{display:inline-block;font-family:'Helvetica Neue', 'Helvetica', 'Arial', 'san-serif';font-weight:medium; text-align:center;font-size:12px;color:#ffffff;width:3px;height:15px;margin-right:6px;}
.n1_mfbb_dd_db_vr_tme_h2,.n1_mfbb_dd_db_vr_tme_m2, .n1_mfbb_dd_db_vr_tme_s2{margin-right:10px;}
.n1_mfbb_dd_db_vr_tme_h1{padding-left:2px}
.n1_mfbb_dd_db_vr_tme_dt_656{padding-left:14px;font-family:'Helvetica Neue', 'Helvetica', 'Arial', 'san-serif';font-weight:bold;font-size:15px;color:#ffffff;position:absolute;top:1px}
.n1_mfbb_dd_db_vr_tme_dt_876{padding-left:190px;font-family:'Helvetica Neue', 'Helvetica', 'Arial', 'san-serif';font-weight:bold;font-size:15px;color:#ffffff;position:absolute;top:1px}

#n1_mfbb_dd_db_vr_tme_m1_876{padding-left:5px; margin-left:25px;}
#n1_mfbb_dd_db_vr_tme_s1_876{margin-left:34px; }
#n1_mfbb_dd_db_vr_tme_h1_876{margin-left:45px;}

#n1_mfbb_dd_db_vr_tme_m1_656{padding-left:35px;marrgin-left:50px;}
#n1_mfbb_dd_db_vr_tme_s1_656{padding-left:35px;marign-left:30px;}
#n1_mfbb_dd_db_vr_tme_h1_656{margin-left:42px;}