#tinypass-resources-settings-form .tinypass-resource .fieldset-description .tinypass-image,
#tinypass-resources-settings-form .tinypass-resource .fieldset-description .tinypass-image img {
    background-color: #f1f1f1;
    height: 80px;
    width: 80px;
    float: left;
    margin: 0 20px 20px 0;
}

#tinypass-resources-settings-form .tinypass-resource .fieldset-description .tinypass-description {
    color: #666;
    min-height: 20px;
}

#tinypass-resources-settings-form .tinypass-resource div.description {
    margin-left: 20px;
    line-height: inherit;
}

#tinypass-resources-settings-form .tinypass-resource fieldset {
    background-color: inherit;
    border: none;
}

#tinypass-resources-settings-form .tinypass-resource fieldset .fieldset-legend {
    background: inherit;
    font-weight: normal;
    color: #666;
}

#tinypass-resources-settings-form .tinypass-terms {
    margin-bottom: -10px;
}


#tinypass-resources-settings-form .tinypass-terms * {
    padding-left: 0;
}

.tinypass-form-inline-block .form-item {
    display: inline-block;
}