/*
 * Static styles added by [DS] -- tmp workaround to to issues setting up local env
 * @todo: move into scss sheets so gulp can compile when fixed
 *
 */

/* Temp Misc Styles
  ============================= */

.col-100p.nr-comments {
  border-bottom: none !important;
}

.stripe {
  margin-bottom: 20px;
}

/* Retina Images
  ============================= */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
.nav-fixed-top .brand {
  background-image: url("../img/logo@2x.png") !important;
  }
}

/* Project #1 -- Infinite Scroll Removal
   ============================= */

/*** Blog term pager ***/

/* Layout */
.term-view-pager,
.page-turn-light {
  position: relative;
  width: 100%;
  height: 74px;
  padding: 20px 20px 20px 10px;
  border-top: 1px solid #dedede;
  border-right: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  min-width: 300px;
  margin-bottom: 40px;
}

.term-view-pager .prev:after,
.term-view-pager .next:after,
.page-turn-light .prev:after,
.page-turn-light .next:after {
  display: table;
  clear: both;
  content: '';
}

.term-view-pager:after,
.term-view-pager:before,
.page-turn-light:after,
.page-turn-light:before {
  position: absolute;
  left: -100%;
  width: 100%;
  content: '';
  border-top: 1px solid #dedede;
}

.term-view-pager:after,
.page-turn-light:after {
  top: -1px;
}

.term-view-pager:before,
.page-turn-light:before {
  bottom: -1px;
}

.term-view-pager .prev,
.term-view-pager .next,
.page-turn-light .prev,
.page-turn-light .next {
  position: relative;
  width: 100px;
}

.term-view-pager .term-name-description,
.page-turn-light .term-name-description {
  display: table-cell;
  vertical-align: middle;
}

/* Pagers */
.term-view-pager .prev,
.term-view-pager .next,
.page-turn-light .next {
  font-family: albertus_mediumregular;
  font-size: 8px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.term-view-pager .prev strong,
.term-view-pager .next strong,
.page-turn-light .next strong {
  font-size: 14px;
  line-height: 24px;
  display: block;
}

.term-view-pager .prev a:before,
.term-view-pager .next a:after,
.page-turn-light .next a:after {
  position: absolute;
  top: 50%;
  display: block;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  content: '';
  -webkit-transform: rotate(50deg) skewX(10deg);
  -ms-transform: rotate(50deg) skewX(10deg);
  transform: rotate(50deg) skewX(10deg);
}

.term-view-pager .prev a:before {
  left: 0;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}

.term-view-pager .next a:after,
.page-turn-light .next a:after {
  right: 0;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}

/* Section */
.term-view-pager.prev.next .term-name-description {
  padding: 0 10px;
}

.term-view-pager .term-name-description h3,
.page-turn-light .term-name-description h3 {
  font-family: albertus_mediumregular;
  font-size: 12px;
  margin: 0 auto 4px;
  padding: 8px 10px 6px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
}

.term-view-pager .term-name-description h4,
.page-turn-light .term-name-description h4 {
  font-family: 'Ideal Sans A', 'Ideal Sans B', Ideal Sans;
  font-size: 10px;
  font-weight: 800;
  margin: 0 auto;
  text-align: center;
}

/* Next & Prev Specific  */
.term-view-pager.next.prev,
.term-view-pager.prev {
  padding: 16px 20px 14px 14px;
}

.term-view-pager.next.prev .term-name-description h3,
.term-view-pager.next.prev .term-name-description h4 {
  margin-left: auto;
}

.term-view-pager.prev.next .term-name-description h3,
.term-view-pager.prev.next .term-name-description h4 {
  width: 120px;
}

/* Next Specific  */
.term-view-pager.next,
.page-turn-light {
  display: table;
  padding: 16px 20px;
}

.term-view-pager.next .next,
.page-turn-light .next {
  display: table-cell;
  vertical-align: middle;
}

.term-view-pager.next .term-name-description h3,
.term-view-pager.next .term-name-description h4,
.page-turn-light .term-name-description h3,
.page-turn-light .term-name-description h4 {
  margin-left: 0;
}

.term-view-pager.next .term-name-description h3,
.page-turn-light .term-name-description h3 {
  width: 120px;
}

.term-view-pager.next .term-name-description h4,
.page-turn-light .term-name-description h4 {
  width: 140px;
}

/* Prev Specific  */
.term-view-pager.prev {
  display: table;
}

.term-view-pager.prev .prev {
  display: table-cell;
  vertical-align: middle;
}

/*** Next Article Pager ***/
#nro-page-turns-next-article a {
  position: relative;
  display: table;
  width: 100%;
  color: #fff;
}

#nro-page-turns-next-article a > div {
  display: table-cell;
  height: 100px;
  background: #000;
}

#nro-page-turns-next-article a:after {
  display: block;
  content: '';
  background: #000;
}

#nro-page-turns-next-article a .text {
  padding: 18px 10px;
  vertical-align: middle;
}

#nro-page-turns-next-article a .text span {
  font-family: albertus_mediumregular;
  font-size: 7px;
  line-height: 19px;
  position: relative;
  display: inline-block;
  height: 20px;
  margin: 0 0 8px 0;
  padding: 0 4px 0 6px;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-right: 0;
  letter-spacing: .5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#nro-page-turns-next-article a .text span:after {
  position: absolute;
  top: 2px;
  right: -7px;
  width: 14px;
  height: 14px;
  content: '';
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#nro-page-turns-next-article a .text h3 {
  font-family: 'Ideal Sans A', 'Ideal Sans B', Ideal Sans;
  font-size: 12px;
  font-weight: 800;
  margin-bottom: 8px;
}

#nro-page-turns-next-article a .text h2 {
  font-family: 'Ideal Sans A', 'Ideal Sans B', Ideal Sans;
  font-size: 12px;
  font-weight: 800;
  margin-bottom: 8px;
}

#nro-page-turns-next-article a .text h4 {
  font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B', Ideal Sans;
  font-size: 11px;
  font-weight: 100;
}

#nro-page-turns-next-article a .image {
  position: relative;
  width: 90px;
  background-position: 66.666% 50%;
  background-size: cover;
}

/*** Trending Sidebar Blocks ***/
#block-nro-chartbeat-toppages-trending-nro,
#block-nro-chartbeat-toppages-trending-social {
  display: none;
}

#block-nro-chartbeat-toppages-trending-nro {
  margin: 32px 0;
}

#block-nro-chartbeat-toppages-trending-social {
  margin-bottom: 34px;
}

#block-nro-chartbeat-toppages-trending-social h1,
#block-nro-chartbeat-toppages-trending-nro h1{
  padding-top:0;
}

#block-nro-chartbeat-toppages-trending-nro h2,
#block-nro-chartbeat-toppages-trending-social h2 {
  font-family: albertus_mediumregular;
  font-size: 24px;
  padding-bottom: 15px;
  text-transform: uppercase;
  border-bottom: 3px solid #000;
  color: #1087ff;
}

#block-nro-chartbeat-toppages-trending-nro ol,
#block-nro-chartbeat-toppages-trending-social ol {
  margin: 0;
  padding: 0;
  counter-reset: section;
}

#block-nro-chartbeat-toppages-trending-nro ol li,
#block-nro-chartbeat-toppages-trending-social ol li {
  font-family: 'Ideal Sans A', 'Ideal Sans B', Ideal Sans;
  font-size: 15px;
  font-weight: 800;
  line-height: 18px;
  position: relative;
  padding: 16px 0 22px;
  border-bottom: 1px solid #dedede;
}

#block-nro-chartbeat-toppages-trending-nro ol li a,
#block-nro-chartbeat-toppages-trending-social ol li a {
  display: inline-block;
  width: 240px;
  vertical-align: middle;
}

#block-nro-chartbeat-toppages-trending-nro ol li:before,
#block-nro-chartbeat-toppages-trending-social ol li:before {
  font-family: albertus_mediumregular;
  font-size: 20px;
  line-height: 36px;
  position: relative;
  top: 3px;
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 14px;
  content: counter(section);
  counter-increment: section;
  text-align: center;
  color: #1087ff;
  border: 1px solid #dedede;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/*** Breakpoints  ***/
@media (min-width:370px) {
  /*** Next Article Pager ***/
  #nro-page-turns-next-article a .image {
    width: 180px;
  }
  /*** Blog term pager ***/
  /* Layout */
  .term-view-pager,
  .page-turn-light {
    display: table;
    padding: 16px 20px;
  }
  .term-view-pager .prev,
  .term-view-pager .next,
  .page-turn-light .next {
    display: table-cell;
    vertical-align: middle;
  }
  /* Next & Prev Specific  */
  .term-view-pager.next.prev .term-name-description h3,
  .term-view-pager.next.prev .term-name-description h4,
  .term-view-pager.prev .term-name-description h3,
  .term-view-pager.prev .term-name-description h4 {
    display: block;

  }
  .term-view-pager.next.prev .term-name-description h4,
  .term-view-pager.prev .term-name-description h4 {
    padding-left: 0;
    text-align: center;
  }
  .term-view-pager.next.prev,
  .term-view-pager.prev {
    padding-left: 10px;
  }
   /* Prev Specific  */
  .term-view-pager.prev .term-name-description h3,
  .term-view-pager.prev .term-name-description h4,
  .term-view-pager.next.prev .term-name-description h4,
  .term-view-pager.prev .term-name-description h4 {
    margin-left:auto;
    margin-right:auto;
  }
}

@media (min-width:480px) {
  /*** Next Article Pager ***/
  #nro-page-turns-next-article {
    margin-bottom: 40px;
  }
  #nro-page-turns-next-article a:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 100%;
  }
  #nro-page-turns-next-article a > div {
    overflow: hidden;
    height: 140px;
  }
  #nro-page-turns-next-article a .text {
    padding: 20px 20px 20px 10px;
  }
  #nro-page-turns-next-article a .text h3 {
    font-size: 16px;
  }
  #nro-page-turns-next-article a .text h2 {
    font-size: 16px;
  }
  #nro-page-turns-next-article a .text h4 {
    font-size: 12px;
  }
  #nro-page-turns-next-article a .image {
    width: 240px;
  }
  #nro-page-turns-next-article a .image:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 20%;
    content: '';
  }
  /*** Blog term pager ***/
  /* Section */
  .term-view-pager.next .term-name-description h3,
  .term-view-pager.next .term-name-description h4,
  .page-turn-light .term-name-description h3,
  .page-turn-light .term-name-description h4 {
    display: table;
  }
  /* Next & Prev Specific  */
  .term-view-pager.next.prev,
  .term-view-pager.prev {
    padding-right: 40px;
  }
  .term-view-pager.prev.next .term-name-description h3,
  .term-view-pager.prev.next .term-name-description h4 {
    width: 195px;
  }
  /* Next Specific  */
  .term-view-pager.next,
  .page-turn-light {
    padding-left: 10px;
  }
  .term-view-pager.next .term-name-description h3,
  .term-view-pager.next .term-name-description h4,
  .page-turn-light .term-name-description h3,
  .page-turn-light .term-name-description h4 {
    display: table-cell;
    vertical-align: middle;
  }
  .term-view-pager.next .term-name-description h4,
  .page-turn-light .term-name-description h4 {
    padding-left: 20px;
    text-align: left;
  }
  /* Prev Specific  */
  .term-view-pager.prev .term-name-description {
    padding-right: 40px;
  }
}

@media (min-width:640px) {
  /*** Next Article Pager ***/
  #nro-page-turns-next-article a > div {
    height: 180px;
  }
  #nro-page-turns-next-article a .text span {
    font-size: 9px;
    line-height: 24px;
    height: 25px;
  }
  #nro-page-turns-next-article a .text span:after {
    top: 3px;
    right: -9px;
    width: 17px;
    height: 17px;
  }
  #nro-page-turns-next-article a .text h3 {
    font-size: 22px;
  }
  #nro-page-turns-next-article a .text h2 {
    font-size: 22px;
  }
  #nro-page-turns-next-article a .text h4 {
    font-size: 13px;
  }
  #nro-page-turns-next-article a .image {
    width: 320px;
  }
  /*** Blog term pager ***/
  /* Layout */
  .term-view-pager,
  .page-turn-light {
    height: 200px;
    padding: 40px 40px 35px 30px;
  }
  .term-view-pager.next.prev,
  .term-view-pager.prev {
    padding-left: 30px;
  }
  .term-view-pager .prev,
  .term-view-pager .next,
  .page-turn-light .next {
    width: 150px;
  }
  /* Pagers */
  .term-view-pager .prev,
  .term-view-pager .next,
  .page-turn-light .next {
    font-size: 15px;
  }
  .term-view-pager .prev strong,
  .term-view-pager .next strong,
  .page-turn-light .next strong {
    font-size: 28px;
    line-height: 42px;
  }
  .term-view-pager .prev a:before,
  .term-view-pager .next a:after,
  .page-turn-light .next a:after {
    width: 44px;
    height: 44px;
    margin-top: -23px;
  }
  /* Section */
  .term-view-pager .term-name-description h3,
  .term-view-pager .term-name-description h4,
  .term-view-pager.prev .term-name-description h3,
  .term-view-pager.prev .term-name-description h4,
  .page-turn-light .term-name-description h3,
  .page-turn-light .term-name-description h4 {
    width: 220px;
    max-width: 100%;
  }
  .term-view-pager .term-name-description h3,
  .page-turn-light .term-name-description h3 {
    font-size: 22px;
    margin: 0 auto 8px;
    padding: 20px 20px 18px;
  }
  .term-view-pager .term-name-description h4,
  .page-turn-light .term-name-description h4 {
    font-size: 13px;
    line-height: 16px;
  }
  /* Prev Specific  */
  .term-view-pager.prev .term-name-description {
    padding-right: 160px;
  }
  .term-view-pager.next .term-name-description h3,
  .term-view-pager.next .term-name-description h4,
  .page-turn-light .term-name-description h3,
  .page-turn-light .term-name-description h4 {
    width: 210px;
  }
  .term-view-pager.prev,
  .page-turn-light .prev {
    padding-left: 26px;
  }
  /* Next Specific  */
  .term-view-pager.next .term-name-description h4,
  .page-turn-light .term-name-description h4 {
    padding-left: 30px;
  }
  .term-view-pager.next,
  .page-turn-light .next {
    padding-right: 26px;
    padding-left: 0;
  }
}

@media (min-width:939px) {
  /*** Next Article Pager ***/
  #nro-page-turns-next-article a > div {
    height: 220px;
  }
  #nro-page-turns-next-article a .text {
    padding-left: 0;
  }
  #nro-page-turns-next-article a .text span {
    font-size: 9px;
    line-height: 24px;
    height: 25px;
  }
  #nro-page-turns-next-article a .text span:after {
    top: 3px;
    right: -9px;
    width: 17px;
    height: 17px;
  }
  #nro-page-turns-next-article a .text h3 {
    font-size: 26px;
    margin-bottom: 12px;
  }
  #nro-page-turns-next-article a .text h2 {
    font-size: 26px;
    margin-bottom: 12px;
  }
  #nro-page-turns-next-article a .text h4 {
    font-size: 14px;
  }
  #nro-page-turns-next-article a .image {
    width: 430px;
  }
}

@media (min-width:1025px) and (max-width:1259px) {
  /*** Next Article Pager ***/
  #nro-page-turns-next-article a > div {
    height: 180px;
  }
  #nro-page-turns-next-article a .text h4 {
    font-size: 13px;
  }
  #nro-page-turns-next-article a .image {
    width: 320px;
  }
}

@media (min-width:1260px) {
  /*** Next Article Pager ***/
  #nro-page-turns-next-article a > div {
    height: 250px;
  }
  #nro-page-turns-next-article a .text {
    padding: 20px 60px 20px 0;
  }
  #nro-page-turns-next-article a .text span {
    font-size: 11px;
    line-height: 28px;
    height: 29px;
    margin-bottom: 12px;
  }
  #nro-page-turns-next-article a .text span:after {
    right: -11px;
    width: 21px;
    height: 21px;
  }
  #nro-page-turns-next-article a .text h3 {
    font-size: 32px;
  }
  #nro-page-turns-next-article a .text h2 {
    font-size: 32px;
  }
  #nro-page-turns-next-article a .text h4 {
    font-size: 16px;
  }
  #nro-page-turns-next-article a .image {
    width: 430px;
  }
  /*** Blog term pager ***/
  /* Layout */
  .term-view-pager,
  .page-turn-light {
    padding: 40px 65px 35px 10px;
  }
  .term-view-pager .prev,
  .term-view-pager .next,
  .page-turn-light .next {
    width: 190px;
  }
  /* Pagers */
  .term-view-pager .prev,
  .term-view-pager .next,
  .page-turn-light .next {
    font-size: 17px;
  }
  .term-view-pager .prev strong,
  .term-view-pager .next strong,
  .page-turn-light .next strong {
    font-size: 32px;
    line-height: 45px;
  }
  .term-view-pager .prev a:before,
  .term-view-pager .next a:after,
  .page-turn-light .next a:after {
    width: 60px;
    height: 60px;
    margin-top: -32px;
  }
  /* Section */
  .term-view-pager.prev.next .term-name-description,
  .term-view-pager.next .term-name-description,
  .page-turn-light .term-name-description {
    padding-right: 0;
  }
  .term-view-pager .term-name-description h3,
  .term-view-pager .term-name-description h4,
  .page-turn-light .term-name-description h3,
  .page-turn-light .term-name-description h4 {
    width: 250px;
  }
  .term-view-pager .term-name-description h3,
  .page-turn-light .term-name-description h3 {
    font-size: 26px;
  }
  .term-view-pager .term-name-description h4,
  .page-turn-light .term-name-description h4 {
    font-size: 16px;
    line-height: 20px;
  }
  /* Next & Prev Specific  */
  .term-view-pager.prev.next .term-name-description {
    padding-left: 0;
  }
  .term-view-pager.next.prev,
  .term-view-pager.prev {
    padding-right: 66px;
    padding-left: 10px;
  }
  .term-view-pager.next.prev .term-name-description h3,
  .term-view-pager.prev .term-name-description h3,
  .term-view-pager.next .term-name-description h3,
  .page-turn-light .term-name-description h3 {
    width: 250px;
  }
  .term-view-pager.next.prev .term-name-description h4,
  .term-view-pager.prev .term-name-description h4,
  .term-view-pager.next .term-name-description h4,
  .page-turn-light .term-name-description h4 {
    width: 270px;
  }
  /* Next Specific  */
  .term-view-pager.next .term-name-description h4,
  .page-turn-light .term-name-description h4 {
    padding-left: 50px;
  }
  .term-view-pager.next,
  .page-turn-light {
    padding-right: 60px;
  }
}

@media (max-width: 369px) {
  /*** Blog term pager ***/
  .term-view-pager.prev.next .prev {
    float: left;
  }
  .term-view-pager.prev.next .next {
    float: right;
  }
  .term-view-pager.prev.next .term-name-description {
    display: none;
  }
}

@media (max-width: 679px) {
  #nro-page-turns-next-article {
    margin: 0 0 0 -10px;
  }
}

/* PROJECT #2: Donate/Newsletter Widget
 ============================= */

/* Tabs */
.fundraise-donate-widget {
  margin: 0 -30px;
}

.donate-newsletter .tabs {
  overflow: hidden;
}
.donate-newsletter .tab {
  display: block;
  float: left;
  width: 50%;
  background: #fff;
  color: #000;
  cursor: pointer;
  font-family: 'Ideal Sans A', 'Ideal Sans B', Ideal Sans;
  font-size: 12px;
  font-weight: 800;
  border: 1px solid #dedede;
  border-bottom: 0;
  padding: 4px 8px;
  text-transform: uppercase;
  margin:0;
}
.donate-newsletter .tab.active {
  background-color: #0c74da;
  border-color: #0c74da !important;
  color: #fff;
}
.donate-newsletter .tab-content {
  background-color: #0c74da;
  color: #fff;
  padding: 20px 30px;
  height: 380px;
  overflow: hidden;
}
.donate-newsletter .tab-content:not(.active) {
  display: none;
}
/* Intro Text */
.donate-newsletter .intro-text h4 {
  font-size: 18px;
  line-height: 20px;
  font-family: 'Ideal Sans A', 'Ideal Sans B', Ideal Sans;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 5px;
}
.donate-newsletter .intro-text p {
  font-family: 'Ideal Sans A', 'Ideal Sans B', Ideal Sans;
  font-size: 13px;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  line-height: 20px;
}
.donate-newsletter .intro-text p strong {
  font-size: 12px;
  font-weight: normal;
  font-family: albertus_mediumregular;
}
/* Donate */
.tab-donate iframe {
  width: 100%;
}
/* Newsletter */
.tab-newsletter form {
  margin: 16px 0 6px 0;
}
.tab-newsletter .form-item {
  margin: 0 0 10px 0;
  position: relative;
  z-index: 20;
}
.tab-newsletter input[type="text"],
.tab-newsletter input[type="email"] {
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 14px;
  padding: 5px 8px !important;
  color: #fff;
  margin:0;
  border-radius: 0;
  font-family: 'Ideal Sans A', 'Ideal Sans B', Ideal Sans;
}
.tab-newsletter #webform-component-first-name,
.tab-newsletter #webform-component-last-name,
.tab-newsletter #webform-component-zip-code {
  float: left;
}
.tab-newsletter #webform-component-first-name,
.tab-newsletter #webform-component-zip-code {
  margin-right: 4%;
}
.tab-newsletter #webform-component-first-name,
.tab-newsletter #webform-component-last-name,
.tab-newsletter input[type="submit"],
.tab-newsletter #webform-component-zip-code {
  width: 48%;
}
.tab-newsletter .form-actions {
  margin: 0;
  position: relative;
  z-index: 10;
}
.tab-newsletter input[type="submit"] {
  background-color: #fff;
  color: #000;
  font-family: 'Ideal Sans A', 'Ideal Sans B', Ideal Sans !important;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  padding:0 8px;
  height:28px;
  cursor: pointer;
  border-radius: 0;
}
.tab-newsletter input[type="submit"]:active{
	top:0;
}
.tab-newsletter input::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}
.tab-newsletter input::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.tab-newsletter input:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
.tab-newsletter input:-moz-placeholder {
  color: #fff;
  opacity: 1;
}
/* Newsletter Form Message */
.tab-newsletter .messages {
  padding: 0;
  background: #fff;
  border: 0;
  border-left: 4px solid green;
  padding: 12px 16px;
  font-size: 13px;
  font-family: 'Ideal Sans A', 'Ideal Sans B', Ideal Sans !important;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  color: #000;
  margin: 0;
}
.tab-newsletter .messages ul {
  margin: 0;
}
.tab-newsletter .messages li {
  margin-bottom: 8px;
}
.tab-newsletter .messages li:last-child {
  margin-bottom: 0;
}
.tab-newsletter .messages.error {
  border-left: 4px solid #d90000;
}
/* Newsletter Thank You Page */
.tab-newsletter .story-container .story {
  width: 100%;
  padding-right: 0;
}
.tab-newsletter .story-container {
  max-width: 180px;
  margin: 0 auto;
}
.tab-newsletter .story-container header {
  padding: 0;
}
.tab-newsletter .story-container h1 {
  font-size: 20px;
  line-height: 20px;
  font-family: 'Ideal Sans A', 'Ideal Sans B', Ideal Sans;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 5px;
}
.tab-newsletter .story-container header + p {
  margin-top: 5px;
}
.tab-newsletter .story-container p {
  font-family: 'Ideal Sans A', 'Ideal Sans B', Ideal Sans !important;
  font-size: 14px;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  line-height: 20px;
}
.tab-newsletter .story-container p strong {
  font-size: 12px;
  font-weight: normal !important;
  font-family: albertus_mediumregular;
}
.tab-newsletter .story-container p:last-child {
  margin-bottom: 0;
}
/* Newsletter Form Throbber */
.donate-newsletter .ajax-progress-throbber {
  position: absolute;
  bottom: 7px;
  right: 8px;
}
.donate-newsletter .ajax-progress-throbber .throbber {
  background: transparent !important;
  height: 13px !important;
  display: block !important;
  width: 12px !important;
}
.donate-newsletter .ajax-progress-throbber .throbber:before {
  content: "\f021";
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
  font: normal normal normal 14px/1 FontAwesome;
  display: block;
  color: #000;
  font-size: 13px;
}
/* Throbber Animation */
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/* Outbrain */
.page-node.node-type-articles #story-slide::before,
.page-node.node-type-articles #story-slide::after {
  display: none;
}
.page-node.node-type-articles .amb-n60{
  margin-bottom:0;
}
.page-node.node-type-articles .desktop-footer {
  margin-top:20px;
  margin-bottom: 40px;
}
.page-node.node-type-articles .mobile-footer {
  margin-bottom:32px;
}

/* Sponsored Topic */
body .newsgroup--highlighted_item .cover-3:hover .highlight-header {
  min-height: auto;
  background-color: rgba(0, 0, 0, 0.75);
}

body .newsgroup--highlighted_item .cover-3 .highlight-header hr {
  display: none;
}

.channel-description {
  margin-top: 1em;
}

.channel-description a {
  color: #1087ff;
}

@media screen and (min-width: 769px) {
  .highlighted-topic-item:before,
  .newsgroup--med_item a:before,
  .highlighted-topic-feature_item a:before {
    max-height: 0;
    content: '';
    display: block;
    height: 12px;
    background-color: #1087ff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
  }

  .highlighted-topic-item:hover:before,
  .newsgroup--med_item:hover a:before,
  .highlighted-topic-feature_item:hover a:before {
    max-height: 12px;
  }
  .newsgroup--med_item:first-child a:before{
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  body .cover-2:hover,
  body .cover-3:hover {
    background: transparent;
    color: #000;
  }
  body .cover-2:hover .crop,
  body .cover-3:hover .crop {
    height: 150px;
  }
  body .cover-2:hover header,
  body .cover-5:hover header,
  body .cover-6:hover header,
  body .cover-7:hover header,
  body .cover-8:hover header,
  body .cover-9:hover header,
  body .cover-10:hover header,
  body .cover-11:hover header,
  body .cover-12:hover header,
  body .cover-13:hover header,
  body .cover-14:hover header,
  body .cover-15:hover header {
    padding-left: 0;
    padding-right: 0;
  }

  body .cover-1.tall:hover header{
    border-top:0;
  }
}
