.pullquote {
  display:block;
  width: 300px;
  max-width: 300px;
  border-left: 0;
  padding-left: 0 !important;
  font-weight: 700;
  font-size:28px;
  line-height: 1.4;
  float:left;
  clear:both;
}

blockquote.pullquote:before {
  display:none!important;
}

.pullquote .share {
  visibility: visible;
  left: initial;
  position: relative;
  text-align: right;
  right: 0;
  bottom: 0;
  font-size: .75em;
}

.pullquote .share li {
  width: auto;
  height: auto;
  padding: 0;
  background: initial;
  margin: 0 3px;
}

.pullquote .share li:last-child {
  margin-right: 0;
}

.pullquote .vl .vl-title {
  line-height: 1;
}

.pullquote i {
  text-align: center;
  width: 18px
}

.pullquote i.fa-google-plus,
.pullquote i.fa-facebook,
.pullquote i.fa-twitter {
  display: inline-block;
  width: 13px;
  padding: 4px;
  color: white;
  background-color: #78cdf0;
  font-size:12px;
}

.pullquote i.fa-twitter {
  background-color: #78cdf0;
}

.pullquote i.fa-facebook {
  background-color: #537bbd;
}

.pullquote i.fa-google-plus {
  background-color: #464646;
}

.pullquote i:hover {
  cursor: pointer;
}