
/*top*/
#tl-bar{width:100%;height:34px;background:#f9f9f9;border-bottom:1px solid #e5e5e5; font-family:Arial,"Microsoft Yahei"; position:relative; z-index:999;}
#tl-bar .tl-top-nav{width:1100px;height:34px;margin:0 auto;position: relative; z-index:99;}
#tl-bar a.index em{width: 15px;height:13px;display:inline-block;float:left;margin-top: 9px;margin-right: 6px;}
#tl-bar a.index em{background: url(http://static.yxdown.com/images/top.gif) 0px 0px no-repeat;margin-right: 5px;}
#tl-bar .tl ul li a.tl-dh em{background: url(http://static.yxdown.com/images/top.gif) -2px -42px no-repeat;}
#tl-bar a.index{padding-right: 10px;display:inline-block;float:left;color:#555;padding-right: 2px;height: 34px;line-height: 34px;}
#tl-bar a.index:hover{ color:#df0000;}

#tl-bar .tl-top-nav .tb_tr{width: 160px;float:right;zoom: 1;position: relative; z-index:99;}
#tl-bar .tl-top-nav .tb_tr ul{ width: 200px; }
#tl-bar .tl-top-nav .tb_tr ul b{font-weight:normal;color:#e0e0e0;float:left; margin:8px 14px 0px; display:inline-block;}
#tl-bar .tl-top-nav .tb_tr ul li{ float: left; overflow:hidden; zoom:1;}
#tl-bar .tl-top-nav .tb_tr ul li a{display:inline-block;float:left;color:#444;height: 34px;line-height: 34px;}
#tl-bar .tl-top-nav .tb_tr ul li a.tl-phone{ }
#tl-bar .tl-top-nav .tb_tr ul li a:hover{ color:#df0000;}
#tl-bar .tl-top-nav .tb_tr ul li a em{width: 15px;height: 15px;display:inline-block;float:left;margin-top: 9px;margin-right: 5px;background: url(http://static.yxdown.com/images/top.gif) 0px -21px no-repeat;}

#tl-bar .navBar{ }
#tl-bar .navBar .dh{padding: 8px 15px 0px 15px;display: block;position: absolute;left: 73px;height: 27px;cursor:pointer;z-index: 20; color:#555;}
#tl-bar .navBar .dh em{width: 15px;height:13px;display:inline-block;float:left;background: url(http://static.yxdown.com/images/top.gif) -2px -41px no-repeat;margin-right: 6px;}
#tl-bar .navBar .dh:hover,#tl-bar .navBar .dh.hover{background: url(http://static.yxdown.com/images/top.gif) 0px -89px no-repeat; color:#df0000;}
#tl-bar .navBar .dh:hover em,#tl-bar .navBar .dh.hover em{background: url(http://static.yxdown.com/images/top.gif) -2px -61px no-repeat;}

#tl-bar .tl-bar_box{width: 691px;height:207px;background:#fafafa;box-shadow: 0 1px 3px rgba(0,0,0,.3);-moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);position: absolute;top: 35px;left: 1px;z-index: 9999; display:none;}
#tl-bar .tl-bar_box ul{padding-left:6px;padding-top:18px;overflow: hidden;zoom: 1;height: 180px;width: 780px; text-align:left;}
#tl-bar .tl-bar_box .tb_pop{width:72px;float:left;padding-left: 24px;background: url(http://static.yxdown.com/images/sLine.png) 95px 7px no-repeat;height: 180px; position:relative; z-index:9;}
#tl-bar .tl-bar_box .tb_pop a,#tl-bar .tl-bar_box .tb_pop span{height:28px;line-height:28px;float:left;display:block;overflow:hidden;zoom:1;color: #606060;width: 70px;position: relative; z-index:9;}

#tl-bar .tl-bar_box .tb_pop a.tit,#tl-bar .tl-bar_box .tb_pop span{color:#222;font-size:14px;font-weight:bold;margin-bottom: 2px; padding-top:0px;}
#tl-bar .tl-bar_box a.h1{ color:#df0000;}
#tl-bar .tl-bar_box a.h3{}
#tl-bar .tl-bar_box .tb_pop a em{width:11px;height:11px;display: block;position: absolute;top: 2px;right: 1px; z-index:20;}
#tl-bar .tl-bar_box .tb_pop a em.h{background: url(http://static.yxdown.com/images/yx-nav-hot.gif) 0px 0px no-repeat;}
#tl-bar .tl-bar_box .tb_pop a em.n{background: url(http://static.yxdown.com/images/yx-nav-new.gif) -1px -166px no-repeat;}
#tl-bar .tl-bar_box .tb_pop a i { position: absolute; width: 0; height: 5px; background: #ff4e00; display: block; left: 0; top: 26px; -webkit-transition: all .2s ease-out; -moz-transition: all .2s ease-out;
 -ms-transition: all .2s ease-out; -o-transition: all .2s ease-out; transition: all .2s ease-out; z-index:20;}
#tl-bar .tl-bar_box .tb_pop a:hover i{ width:50px;} 

#tl-bar .tl-bar_box .tb_hot{width: 224px;float:left;padding-left: 20px;height: 168px; position:relative; z-index:20;}
#tl-bar .tl-bar_box .tb_hot a,#tl-bar .tl-bar_box .tb_hot span{height:28px;line-height:28px;float:left;display:block;zoom:1;color: #606060;padding-left: 4px;position: relative; z-index:20; font-family:Arial,"Microsoft Yahei";}
#tl-bar .tl-bar_box .tb_hot a stb_trong{ font-weight:normal; float:left; display:inline-block;}
#tl-bar .tl-bar_box .tb_hot a:hover{ color:#df0000;}

#tl-bar .tl-bar_box .tb_hot span{color:#ff4e00;font-size:14px;font-weight:bold;width: 169px;padding-bottom: 2px;}
#tl-bar .tl-bar_box .tb_hot a em{width:11px;height:11px;display: inline-block;margin-left: 3px;}
#tl-bar .tl-bar_box .tb_hot a em.h{background: url(http://static.yxdown.com/images/yx-nav-hot.gif) 0px 0px no-repeat;}
#tl-bar .tl-bar_box .tb_hot a em.n{background: url(http://static.yxdown.com/images/yx-nav-new.gif) 0px 0px no-repeat;}
#tl-bar .tl-bar_box .show{ display:block !important;}

#tl-bar .tl-bar_box .thl{width: 76px; float:left; overflow:hidden; zoom:1;}
#tl-bar .tl-bar_box .thl a b,#tl-bar .tl-bar_box .tb_hr a b{background:#ff8400;color:#fff;padding: 0px 5px;left: 0px;position: absolute;height: 22px;line-height: 22px;top: 3px;font-weight: normal; z-index:20;}
#tl-bar .tl-bar_box .thl a{width: 76px; cursor:pointer;}
#tl-bar .tl-bar_box .hr{ width:105px; float:left;}
#tl-bar .tl-bar_box .hr a{ width:90px; cursor:pointer;}
#tl-bar .tl-bar_box .tb_hot a strong{ font-weight:normal; float:left; display:inline-block;}
#tl-bar .tl-bar_box .tb_hot a{ width:102px; cursor:pointer;}

/*二维码*/
#tl-bar .tl-bar-qrcode{width:124px;height:135px;background:#fff;position: absolute;top: 34px;right: 34px;box-shadow: 0 1px 3px rgba(0,0,0,.3);-moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);display:none; z-index:9999;}
#tl-bar .tl-bar-qrcode img{ width:108px;  height:108px;}
#tl-bar .tl-bar-qrcode span{display:block;margin:0 auto;width: 108px;padding-top: 4px;}
#tl-bar .tl-bar-qrcode p{text-align:center;color:#828282;font-size:12px;display:block;overflow:hidden;zoom:1;height:20px;line-height:20px;position: absolute;top: 111px;left: 18px;}
#tl-bar .tl-bar-qrcode p font{ color:#ff7200; padding-right:6px; font-weight:bold; font-size:12px;}