    html, body, div, span,applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;}
    body {height:100%;background: #fff url(../images/background.gif) no-repeat 50% 0;-webkit-text-size-adjust:none;}
    div {text-align:left;}
    body{font:12px/1.5em "\5b8b\4f53","Arial Narrowa";color:#454545; }
    h1, h2, h3, h4, h5, h6{font-size:100%;}
    address, cite, em{font-style:normal;}
    li{list-style-type:none;}
    a{text-decoration:none;color:#08c;}
    a:hover{color:#d70000;text-decoration:none;}
    fieldset, img {border:0;}
    label,button{cursor: pointer;}
    select,input,textarea,font{font-size:12px;line-height:1.2em;}
    .clear{clear:both; line-height:0px; overflow:hidden;}

    #bdcs{float:left;display: inline;margin-top: 9px;width: 428px;}
    #bdcs-search-form-input {float: left;display: inline;width: 358px;height: 32px;background: none;border: none;margin: 0;padding: 0;background: url(http://static.yxdown.com/images/search_bg_0707.png) no-repeat -2px -4px;text-indent: 45px;color: #888;font-family: arial,"Microsoft YaHei";line-height: 32px;}
    #bdcs-search-form-submit {float: left;display: inline;width: 60px;height: 32px;background: none;border: none;margin: 0;padding: 0;background: url(http://static.yxdown.com/images/search_bg_0707.png) no-repeat -368px -4px;color: #888;font-family: arial,"Microsoft YaHei";text-indent: -999em;cursor: pointer;outline: none;}
    .bdcs-container .bdcs-search-sug-list{width: 321px !important;}
    #bdcs-search-sug{left: 38px !important;}
    
    span.bdcs-search-sug-list-item-value {margin: 0 !important; height: 30px !important; }
    li.bdcs-search-sug-list-item {line-height: 30px !important; height: 30px !important; }
	#ad_pic1{ height:120px !important;}

   
    #sy_userhome{width:100%; height:35px; background:url(http://static.yxdown.com/images/pulic_img/sy_topImg.png) repeat-x 0px -152px;position: relative;z-index:1001;margin-bottom: 49px;}
    #sytopbox{margin:0 auto; width:980px; height:50px;}
    #sytopbox .usboxleft,#sytopbox .usboxleft .hp_text,#sytopbox .usboxleft .hp_text em,#sytopbox .usboxleft .hp_text b,#sytopbox .usboxleft .gzubtn{float:left;display:inline; line-height: 35px; font-family:tahoma,arial,"Microsoft YaHei","SimSun";}
    #sytopbox .usboxleft{width: 450px;}
    #sytopbox .usboxright{float:right; display:inline;}
    #sytopbox .usboxleft .hp_text{ padding-right: 2px; width: 167px;}
    #sytopbox .usboxleft .hp_text em{width:15px; height:14px; background: url(http://static.yxdown.com/images/pulic_img/sy_topImg.png) no-repeat 0px 0px;margin-top: 10px;margin-right: 8px;}
    #sytopbox .usboxleft .hp_text b{font-weight:300; color:#777;}
    #sytopbox .usboxleft .gzubtn{width:32px; height:35px;}
    #sytopbox .usboxleft .gzubtn:hover{background:#e8e6e6;}
    #sytopbox .usboxleft .gzubtn span{float:left;display:inline; width:21px; height:18px; text-indent:-999em; background-image:url(http://static.yxdown.com/images/pulic_img/sy_topImg.png);background-repeat:no-repeat; margin-left: 6px;margin-top: 9px; overflow: hidden;}
    #qqwb span{background-position:0px -15px;}
    #lxwb span{background-position:0px -53px;}
    #qqwx span{background-position:0px -91px;}
    #qqwb:hover span{background-position:0px -33px;}
    #lxwb:hover span{background-position:0px -71px;}
    #qqwx:hover span{background-position:0px -109px;}
    #qqwx{position:relative;}
    #qqwx em{width:160px;height:160px; position:absolute; top:34px; zoom:1; left:0px; border: 1px #D8D8D8 solid;}
    #qqwx em img{width:160px; height:160px; overflow:hidden;zoom:1;}
    #qqwx em i{display:block; width:11px; height:8px; overflow:hidden;zoom:1; position:absolute; top:-8px; left: 8px; background:url(http://static.yxdown.com/images/pulic_img/sy_topImg.png) no-repeat -39px 0;}


   
    #wdl{float:right;display: inline; font-family:tahoma,arial,"Microsoft YaHei","SimSun";}
    #wdl .hi,#wdl .goregister,#wdl div{float:left;display:inline;height: 35px;line-height: 35px;}
    #wdl .hi{width: 22px;font-family:tahoma,arial,"Microsoft YaHei","SimSun";}
    #wdl div.login_box{width: 47px; background: url(http://static.yxdown.com/images/pulic_img/usertop_pl.png) no-repeat 62px 12px;text-align: center;padding-right: 17px;color:#ff4d1d;position:relative;}
    #wdl div.login_box a.qlogin{color: #FF4D1D;}
    #wdl div.login_box em{position:absolute;width:7px;height:5px;display:block; background: url(http://static.yxdown.com/images/pulic_img/user_topbg.png) -39px -2px; top: 16px;left: 48px;}
    #wdl div.login_box .lb_con{display:none;}
    #wdl div.loginhover .lb_con{display: block !important;}
    #wdl div.loginhover{background:#fff;border-left:1px #dfdfdf solid;border-right:1px #dfdfdf solid;width: 45px;}
    #wdl div.loginhover em{background: url(http://static.yxdown.com/images/pulic_img/user_topbg.png) -32px -2px; left:47px;}
    #wdl a.goregister{width:47px; text-align:center; color:#848484;}
    #wdl a.goregister:hover{color:#ff4d1d;}
    #wdl .lb_con{position:absolute; width: 215px; height: 168px; overflow:hidden; background:#fff; border-left:1px #dfdfdf solid;border-right:1px #dfdfdf solid;border-bottom:1px #dfdfdf solid; left:-1px; top: 35px;}
    #wdl .lb_con i,#wdl .lb_con b{display:block;}
    #wdl .lb_con i{width:172px; height:28px; overflow:hidden; }
    #wdl .lb_con i.lb_username{background:url(http://static.yxdown.com/images/pulic_img/user_topbg.png) no-repeat 0px -22px;margin: 20px auto 0 auto;}
    #wdl .lb_con i.lb_password{background:url(http://static.yxdown.com/images/pulic_img/user_topbg.png) no-repeat 0px -50px;margin:8px auto 0 auto;}
    #wdl .lb_con i input{ padding:0; border:none; background:none; float: left;display: inline; width: 135px; height:20px; line-height: 20px; margin: 4px 0 0 33px; font-size:12px;font-family:tahoma,arial,"Microsoft YaHei","SimSun"; outline: none; color:#aaa;}
    #wdl .lb_con i.lb_button{width:172px; height:25px; margin:9px auto 0 auto;}
    #wdl .lb_con i.lb_button input{width:172px; height:25px; margin:0;padding:0; border:none;overflow:hidden;zoom:1; background:url(http://static.yxdown.com/images/pulic_img/user_topbg.png) no-repeat 0px -78px;cursor: pointer;}
    #wdl .lb_con i.lb_button input.btnhover{background:url(http://static.yxdown.com/images/pulic_img/user_topbg.png) no-repeat 0px -103px !important;}
    #wdl .lb_con b{margin:0 auto; overflow:hidden;zoom:1; width:172px;margin-top: 4px;}
    #wdl .lb_con b strong{float:left;display:inline; color: #595959; font-weight:300;}
    #wdl .lb_con b a{width:20px; height: 32px;background-image:url(http://static.yxdown.com/images/pulic_img/logintb.png); background-repeat:no-repeat; text-indent: -999em;margin-left: 2px;margin-right: 4px;float: left;display: inline;}
    #wdl .lb_con b a.qqlogin{background-position: 0px 3px;}
    #wdl .lb_con b a.wblogin{background-position: 0px -26px;}
    #wdl .lb_con b a.yxlogin{background-position: 0px -55px;}

   
    #ydl{float:right;display: inline;font-family:tahoma,arial,"Microsoft YaHei","SimSun";}
    #ydl .username,#ydl .username span,#ydl .username em{float:left;display:inline; line-height: 35px;}
    #ydl .username span{width:22px; height:22px; overflow:hidden;zoom:1; margin-top: 6px;border-radius:3px;box-shadow: 0px 1px 0px #fff;margin-right: 8px;}
    #ydl .username span img{width:22px;height:22px; overflow:hidden;border-radius:3px;}
    #ydl .username em{color:#3990b4;}
    #ydl .username:hover em{color:#fe621e;}
    #ydl .hi,#ydl .quitlogin,#ydl div{float:left;display:inline;height: 35px;line-height: 35px;}
    #ydl .hi{width: 22px;font-family:tahoma,arial,"Microsoft YaHei","SimSun";color:#a9a9a9;}
    #ydl div.login_box{width: 15px; text-align: center;color:#ff4d1d;position:relative;margin-left: 15px;}
    #ydl div.login_box a.mailbox{ float:left;display:inline;background: url(http://static.yxdown.com/images/pulic_img/user_topbg.png) 0px -11px;width:14px; height:11px; position: relative; margin-top: 13px; overflow: hidden;}
    #ydl div.login_box a.mailbox:hover{background: url(http://static.yxdown.com/images/pulic_img/user_topbg.png) 0px 0px;}
    #ydl div.login_box a.fsbox{ float:left;display:inline; background: url(http://static.yxdown.com/images/pulic_img/sy_topImg.png) -26px -11px; width: 12px; height: 13px; position: relative; margin-top: 11px;}
    #ydl div.login_box a.fsbox i{text-indent: -999em; display:block;width: 20px; height: 11px;background-image: url(http://static.yxdown.com/images/pulic_img/user_mailmub.png);top: -5px;position: absolute;left: 6px;overflow: hidden;}
    #ydl div.login_box a.fsbox:hover{background: url(http://static.yxdown.com/images/pulic_img/sy_topImg.png) -38px -11px;}
    #ydl div.login_box a.fsbox_hover{background: url(http://static.yxdown.com/images/pulic_img/sy_topImg.png) -38px -11px !important;}
    #ydl div.login_box a.youmail{background: url(http://static.yxdown.com/images/pulic_img/user_topbg.png) 0px 0px;}
    #ydl div.login_box a.mailbox i{ display:none; width:17px; height:11px; background-image:url(http://static.yxdown.com/images/pulic_img/user_mailmub.png); background-repeat:no-repeat; position: absolute; right: -9px; top: -6px;}
    #ydl div.login_box a.youmail i{display:block;display: none;}
    #ydl div.login_box em{position:absolute;width:7px;height:5px;display:block; background: url(http://static.yxdown.com/images/pulic_img/user_topbg.png) -39px -2px; top: 15px;left: 33px;}
    #ydl div.login_box .lb_con{display:none;}
    #ydl div.loginhover .lb_con{display: block !important;}
    #ydl div.loginhover{background:#fff;border-left:1px #dfdfdf solid;border-right:1px #dfdfdf solid;width: 45px;}
    #ydl div.loginhover a.mailbox{margin-left:9px}
    #ydl div.loginhover em{background: url(http://static.yxdown.com/images/pulic_img/user_topbg.png) -32px -2px; left:32px;}
    #ydl div.login_box ul{overflow:hidden;zoom:1;padding-top: 5px;}
    #ydl div.login_box ul li,#ydl div.login_box ul li a{overflow:hidden;zoom:1; float:left;display:inline;width: 123px; }
    #ydl div.login_box ul li{padding: 4px 0px 4px 0px;}
    #ydl div.login_box ul li a span{float:left;display:inline; line-height: 20px; height:20px; width: 56px;text-align: center;padding-left: 7px;color: #7f7e7e;}
    #ydl div.login_box ul li a i{float:right;display:inline; line-height: 20px; height:20px; width: 46px;text-align: right;padding-right: 11px;font-style: normal;color: #fe621e;}
    #ydl div.login_box ul li a:hover i{text-decoration: underline;}
    #ydl a.quitlogin{width: 40px; text-align:center; color:#848484;margin-left: 3px;padding-right: 10px;background: url(http://static.yxdown.com/images/pulic_img/sytop_pl.png) no-repeat 43px 12px;}
    #ydl a.quitlogin:hover{color:#ff4d1d;}
    #ydl .lb_con{position:absolute; width: 125px; height: 98px; overflow:hidden; background:#fff; border-left:1px #dfdfdf solid;border-right:1px #dfdfdf solid;border-bottom:1px #dfdfdf solid; left:-1px; top:33px;}

    #sy_topsc{float:right;display:inline; line-height: 35px; height:35px; width: 78px; font-family:tahoma,arial,"Microsoft YaHei","SimSun";margin-left: 5px;}
    #sy_topsc em,#sy_topsc span{float:left;display:inline;color: #888;cursor: pointer;}
    #sy_topsc em{width:13px; height:12px; background:url(http://static.yxdown.com/images/pulic_img/sy_topImg.png) no-repeat -1px -129px;margin-top: 11px;margin-right: 5px;overflow: hidden;}
    #sy_topsc:hover span{color: #FF4D1D;}

    
    #jd{width:970px;overflow:hidden;zoom:1;margin: 8px auto 10px auto;}
    #jd #jd_left,#jd_middle,#jd_right{float:left;display:inline;overflow:hidden;}
       
        #jd .jd_left{width:286px; float:left; overflow: hidden;}
    
       
        #pick_img{width:287px;height: 251px;overflow:hidden;  position:relative;}
        #Focus_pic{width:287px; float:left;}
        #Focus_pic .tpic{width:287px;height:27px;display:block;margin-bottom:1px;}
        #ScrollBimg{height: 190px; padding-top:4px;  background: #f2f2f2;border: 1px #e3e3e3 solid;padding-bottom: 3px;}
        #ScrollBimg ul{width:276px; height:188px; overflow:hidden; border:1px solid #fff; position:relative; margin:0 auto }
        #ScrollBimg ul li{ display:none;}
        #ScrollBimg ul li.hover{ display:block}
        #ScrollBimg ul li b { color: #FFF; display: none;font-size: 12px;height: 24px; line-height: 24px;position: absolute;text-align: left; text-indent: 0.5em;top: 165px;width: 276px;z-index: 2;left:0;}
        #ScrollBimg ul li p {background:#000;color: #FFF;display:none; font-size: 12px;height: 24px;line-height: 24px;opacity: 0.5;position: absolute;text-align: left; top: 165px;width: 276px;z-index: 1;filter: Alpha(opacity=60);-moz-opacity:.5;opacity:0.5;left:0;}
        #ScrollSimg{height: 52px; /*background:#7fd7ee url(http://static.yxdown.com/images/banner_bottom.gif) no-repeat center bottom;*/ background: url(http://static.yxdown.com/images/pulic_img/yxd_jdImg.png) no-repeat 0px -26px;}
       
        #ScrollSimg ul{width:278px; height: 52px; overflow:hidden; margin:0 auto}
        #ScrollSimg ul li{ margin-right:6px;width:65px; height:42px; padding-top:5px; float:left; overflow:hidden; margin-top: 1px;}
        #ScrollSimg ul li.li{ margin-right:0}
        #ScrollSimg ul li.hover{background:url(http://static.yxdown.com/images/pulic_img/yxd_jdImg.png) no-repeat -346px -251px;}
       
        #ScrollSimg ul li.hover img{border: 2px solid #ff5a00; height:38px; width:61px; }
        #ScrollSimg ul li img{border:1px solid #fff; display:block; height:40px; width:63px; overflow:hidden }
    
        
        #hotnews{width:287px; overflow: hidden; margin-top: 8px;}
        #hotnews .con_top{height:3px; background: #049ae7;overflow:hidden;}
        #hotnews .con_box{width: 285px; overflow: hidden; border-left:1px #e3e3e3 solid;border-right:1px #e3e3e3 solid;border-bottom:1px #e3e3e3 solid;}
        #hotnews .con_box h3{ line-height:25px; height:25px; overflow: hidden;zoom:1; padding-left: 10px;padding-top: 6px;}
        #hotnews .con_box h3 span{ color:#2b2b2b; font-size:14px; float:left; display:inline;}
    
        .jdbox_A{overflow:hidden;zoom:1;margin-top: 10px;width: 285px;}
        .jdbox_A .hn_tw{width: 275px; overflow: hidden; padding-bottom: 13px; height: 60px; background:url(http://static.yxdown.com/images/pulic_img/xx_pl.png) repeat-x 0px 72px;margin-bottom: 12px;padding-left: 10px;}
        .jdbox_A .hn_tw .hn_img,.jdbox_A .hn_tw .hn_name,.jdbox_A span{float:left; display: inline;line-height:20px;}
        .jdbox_A .hn_tw .hn_img{width:90px; height: 60px;overflow:hidden; box-shadow:1px 1px 3px #B8B8B8;margin-right: 10px;}
        .jdbox_A .hn_tw .hn_img img{width:90px; height: 60px;overflow:hidden;}
        .jdbox_A .hn_tw .hn_name{color: #088FB6;font-weight:bold;width:170px; overflow:hidden; height: 20px;}
        .jdbox_A .hn_tw .hn_name:hover{color:#d70000;}
        .jdbox_A span{color:#888888;width:170px; overflow:hidden; height: 38px;line-height: 19px;margin-top: 2px;}
        .jdbox_A span a{color:#ea5a0b;}
        .jdbox_A span a:hover{text-decoration: underline;}
        .jdbox_A ul{ overflow:hidden;zoom;1; margin-top: -4px; padding-bottom: 5px; zoom: 1;}
        .jdbox_A ul li{ float:left;display:inline; width: 260px; overflow:hidden;line-height:25px; height: 25px; margin: 0px 5px 0px 10px; padding-left: 10px; background: url(http://static.yxdown.com/images/pulic_img/yxd_jdImg.png) no-repeat -407px -62px;}
        .jdbox_A ul li a{color:#454545;}
        .jdbox_A ul li a:hover{color:#d70000;}
    
       
/*        #hotvideo{width:287px; overflow: hidden; margin-top: 8px;}
        #hotvideo .con_top{height:3px; background: #049ae7;overflow:hidden;}
        #hotvideo .con_box{width: 285px; overflow: hidden; border-left:1px #e3e3e3 solid;border-right:1px #e3e3e3 solid;border-bottom:1px #e3e3e3 solid;}
        #hotvideo .con_box h3{ line-height:25px; height:25px; overflow: hidden;zoom:1; padding-left: 10px;padding-top: 6px;}
        #hotvideo .con_box h3 span{ color:#2b2b2b; font-size:14px; float:left; display:inline;}
    
        .jdbox_B{width:285px; overflow:hidden;margin-top: 10px;}
        .jdbox_B ul{width:285px; overflow:hidden;zoom:1;}
        .jdbox_B .hv_tw li{float:left;display:inline; width:120px; overflow:hidden; margin-left: 12px;margin-right: 8px;}
        .jdbox_B .hv_tw li a{ display:block; width:125px; overflow:hidden; position:relative; zoom: 1;}
        .jdbox_B .hv_tw li a em{display: block;width: 23px;height: 23px;position: absolute;overflow: hidden;zoom: 1;left: 5px;top: 54px;background: url(http://static.yxdown.com/images/pulic_img/video_zz_c1.png) no-repeat;}
        .jdbox_B .hv_tw li a img{width:120px; height: 81px; overflow:hidden;}
        .jdbox_B .hv_tw li a span{ margin-right: 5px; line-height: 20px; height: 20px; overflow:hidden; display: block; text-align:center; color:#454545; margin-top: 3px;}
        .jdbox_B .hv_tw li a:hover span{color:#d70000;}
    
        .jdbox_B .hv_text{ overflow:hidden;zoom;1; padding-bottom: 2px; zoom: 1; margin-top: 7px;}
        .jdbox_B .hv_text li {float:left;display:inline; width:285px; height: 29px; padding-top: 1px; background:url(http://static.yxdown.com/images/pulic_img/xx_pl.png) repeat-x 0px 0px;}
        .jdbox_B .hv_text li span{display:block; overflow:hidden; line-height: 29px; height: 29px; margin: 0px 5px 0px 10px; padding-left: 25px; background: url(http://static.yxdown.com/images/pulic_img/yxd_jdImg.png) no-repeat -393px -127px;}
        .jdbox_B .hv_text li a{color:#454545;}
        .jdbox_B .hv_text li a:hover{color:#d70000;}
        .jdbox_B .hv_text .end{ background:none;}*/
		
		/*精彩视频*/
		#hot-video{ width:285px; overflow:hidden; margin-top:8px; border:1px solid #e3e3e3;}

		#hot-video .jdbox_B { width: 265px; height: 208px; overflow: hidden; margin-left:10px; margin-top:8px; }
		#hot-video .jdbox_B ul { width:265px; margin-top: -14px; }
		#hot-video .jdbox_B li { width: 265px; height: 60px; margin-top: 10px; background: #f7f7f7; overflow: hidden; zoom: 1; }
		
		.jdbox_B li a { width: 265px; height: 64px; display: block; position: relative; overflow: hidden; zoom:1; cursor:pointer; }
		.video-inner-pic { width: 130px; height: 60px; margin-left: -20px; border-right: 3px solid #fff; float: left; overflow: hidden; /* -webkit-transform: skew(-25deg, 0deg); */ -moz-transform: skew(-25deg, 0deg); -ms-transform: skew(-25deg, 0deg);  -o-transform: skew(-25deg, 0deg); transform: skew(-25deg, 0deg); }
		.video-inner { width: 130px; height: 60px; -webkit-transform: skew(25deg, 0deg); -moz-transform: skew(25deg, 0deg); -ms-transform: skew(25deg, 0deg); -o-transform: skew(25deg, 0deg); transform: skew(25deg, 0deg); margin-left: 20px; }
		.video-inner img{ width:125px; height:60px; opacity:0.9;}
		.video-info { width: 137px; height: 45px; overflow: hidden; position: absolute; right: 0; top: 0; text-align: right; padding: 12px 10px 11px 0; }
		.video-info h2 { width: 100%; height: 20px; line-height: 20px; font-size: 15px; color: #e17400;}
		.video-info h2:hover{ color:#df0000;}
		.video-info p {width: 100%; height: 21px; line-height: 21px; color: #999; font-size: 12px;}
    
       
        #yejie{width:287px; overflow: hidden; margin-top: 8px;}
        #yejie .con_top{height:3px; background: #049ae7;overflow:hidden;}
        #yejie .con_box{width: 285px; overflow: hidden; border-left:1px #e3e3e3 solid;border-right:1px #e3e3e3 solid;border-bottom:1px #e3e3e3 solid;}
        #yejie .con_box h3{ line-height:25px; height:25px; overflow: hidden;zoom:1; padding-left: 10px;padding-top: 6px;}
        #yejie .con_box h3 span{ color:#2b2b2b; font-size:14px; float:left; display:inline;}
    
        
        #hotpl{width:287px; overflow: hidden; margin-top: 8px;}
        #hotpl .con_top{height:3px; background: #049ae7;overflow:hidden;}
        #hotpl .con_box{width: 285px; overflow: hidden; border-left:1px #e3e3e3 solid;border-right:1px #e3e3e3 solid;border-bottom:1px #e3e3e3 solid;}
        #hotpl .con_box h3{ line-height:25px; height:25px; overflow: hidden;zoom:1; padding-left: 10px;padding-top: 6px;}
        #hotpl .con_box h3 span{ color:#2b2b2b; font-size:14px; float:left; display:inline;}
    
        #hp_con{margin-top: 5px;} 
        #hp_con ul{ overflow:hidden;zoom;1; margin-top: -4px; padding-bottom: 4px; zoom: 1;}
        #hp_con ul li{ float:left;display:inline; width:285px; overflow:hidden; height: 28px; padding-bottom:1px; background:url(http://static.yxdown.com/images/pulic_img/xx_pl.png) repeat-x 0px 28px;}
        #hp_con ul li span{display:block; line-height: 28px; height: 28px; margin: 0px 5px 0px 10px; padding-left: 10px; background: url(http://static.yxdown.com/images/pulic_img/yxd_jdImg.png) no-repeat -407px -30px;}
        #hp_con ul li a{color:#454545;}
        #hp_con ul li a:hover{color:#d70000;}
        #hp_con ul .end{background:none; padding-bottom: 0px;}
    
       
        #jd_middle{width: 415px; overflow: hidden;zoom:1; float: left; display: inline; padding: 0px 9px;}
        #top_info{ overflow:hidden;zoom:1; height: 135px; padding-bottom: 13px; margin-bottom: -3px;}
        #top_info h1{ text-align:center; margin-top: 10px; padding-bottom: 4px;}
        #top_info h1 .zd{font-size:18px;  color:#d2040e; line-height: 20px;margin: 0px 2px;}
        #top_info h1 .zd:hover{ text-decoration:underline;}
        #top_info h1 span{ display: block; height: 20px; text-align: center; margin-top: 9px;}
        #top_info h1 span a{color:#555; font-weight:300; margin:0px 3px;}
        #top_info h1 span a:hover{color:#d70000;}
    
        .ifo_con1 ul{overflow:hidden;zoom:1; width: 415px;font-weight:normal;}
        .ifo_con1 ul li{float:left;width: 415px; line-height: 28px; height: 28px; font-size: 14px;}
        .ifo_con1 ul li span{float:left;width: 365px; height: 28px; overflow: hidden; padding-left: 13px; background: url(http://static.yxdown.com/images/pulic_img/yxd_jdImg.png) no-repeat -404px -88px; }
        .ifo_con1 ul li span a{color:#454545;font-family: "SimSun";text-decoration: underline;}
        .ifo_con1 ul li span a:hover{color:#d70000;}
        .ifo_con1 ul li span a:visited{color:#898989;}
        .ifo_con1 ul li em{float:right; width: 32px;height: 28px; overflow: hidden; color: #aaa;font-family:arial;text-align: right;font-size: 12px;padding-right: 5px;}
        .ifo_con1 ul .top em{color:#ff0000;}
        .ifo_con1 ul li span i{ display: block;  font-style:normal; font-family: arial;}
        .ifo_con1 ul li span .dj{padding-left: 33px;background: url(http://static.yxdown.com/images/pulic_img/yxd_jdImg.png) no-repeat -382px -160px;}
        .ifo_con1 ul li span .video{padding-left: 26px;background: url(http://static.yxdown.com/images/pulic_img/yxd_jdImg.png) no-repeat -391px -298px;}
        .ifo_con1 ul li span .tj{padding-left: 36px;background: url(http://static.yxdown.com/images/pulic_img/yxd_jdImg.png) no-repeat -938px -452px;}
    
        .ifo_con3{width: 377px; margin: 6px auto; line-height:31px; height:31px; overflow:hidden; background: url(http://static.yxdown.com/images/pulic_img/news_tjbg_g.png) no-repeat; text-align:center;font-size:14px; font-weight:bold; padding-left: 30px;text-indent: 0em;}
        .ic3_2{background-position:0px -31px;}
        .ic3_2 a{color:#cf6203 !important;}
        .ic3_3,.ic3_4{background-position:0px -62px}
        .ic3_3 a,.ic3_4 a{color:#d18600 !important;}
        .ifo_con3 a{color:#ca3f3f;}
        .ifo_con3 a:hover{text-decoration:underline;}
    
        .ifo_con2{width: 409px; overflow: hidden; padding-left: 6px;margin-top: 6px;padding-bottom: 6px;}
        .ifo_con2 ul{overflow:hidden;zoom:1; width: 435px; }
        .ifo_con2 ul li{float:left;width: 120px; display:inline;overflow:hidden; margin-right: 20px;}
        .ifo_con2 ul li a{display:block;text-align: center;margin-top: 5px;color: #777777;}
        .ifo_con2 ul li a img{width: 120px; height:80px; overflow:hidden;}
        .ifo_con2 ul li a span{display:block; line-height:20px; height:20px; overflow: hidden; color:#666;text-align:center;margin-top: 4px;}
        .ifo_con2 ul li a:hover span{color:#d70000; }

        
        #jd_right{float:right; width:250px; overflow:hidden;}
        #ads460{height:460px;width:250px; overflow:hidden;}

      
        #djgame_tj{width: 250px; overflow: hidden; margin-top: 8px;}
        #djgame_tj .djtj_tab{ overflow: hidden;}
        #djgame_tj .djtj_tab ul{height:35px;float: left;width:286px;background:#f2f2f2; border-bottom:1px #e3e3e3 solid;}
        #djgame_tj .djtj_tab ul li{float:left; line-height: 35px; font-weight:bold;font-size:14px;}
        #djgame_tj .djtj_tab ul li a{color:#777;padding: 0px 17px;display:block;text-shadow: 0px 1px 0px #FFF;font-family: "?¡é¨¨¨ª??o¨²";width: 90px;text-align: center;}
        #djgame_tj .djtj_tab ul li a:hover{color: #ea5a0b;}

        #djgame_tj .djtj_tab ul .selected {border-top: 3px #049ae7 solid;line-height: 32px; height: 33px; background:#fff;_margin-bottom:-1px; position:relative;z-index:999;}
        #djgame_tj .djtj_tab ul .selected a{color:#2b2b2b; line-height: 29px; border-left:1px #e3e3e3 solid;border-right:1px #e3e3e3 solid;padding-bottom: 4px;}
    
        .jdbox_C{width: 248px; overflow:hidden;padding-top: 10px;border-bottom: 1px #e3e3e3 solid;border-left: 1px #e3e3e3 solid;border-right: 1px #e3e3e3 solid;font-weight:normal;}
        .jdbox_C ul{width: 247px; overflow:hidden;zoom:1;}
        .jdbox_C .hv_tw li{float:left;display:inline; width: 100px; overflow:hidden; margin-left: 12px;margin-right: 9px;}
        .jdbox_C .hv_tw li a{ display:block; width: 105px; overflow:hidden; position:relative;}
        .jdbox_C .hv_tw li a img{width: 100px; height: 78px; overflow:hidden;}
        .jdbox_C .hv_tw li a span{ margin-right: 5px; line-height: 20px; height: 20px; overflow:hidden; display: block; text-align:center; color:#454545; margin-top: 3px;}
        .jdbox_C .hv_tw li a:hover span{color:#d70000;}
    
        .jdbox_C .hv_text{ overflow:hidden;zoom;1; padding-bottom: 4px; zoom: 1; margin-top: 7px; background: url(http://static.yxdown.com/images/pulic_img/yxd_jdImg.png) no-repeat 10px -88px;}
        .jdbox_C .hv_text li {float:left;display:inline; width: 248px; height: 27px; padding-top: 1px; background: url(http://static.yxdown.com/images/pulic_img/xx_pl.png) repeat-x 0px 0px;}
        .jdbox_C .hv_text li span{display:block; overflow:hidden; line-height: 27px; height: 27px; margin: 0px 5px 0px 10px; padding-left: 20px; }
        .jdbox_C .hv_text li a{color:#454545;}
        .jdbox_C .hv_text li a:hover{color:#d70000;}
        .jdbox_C .hv_text .end{ background:none;}

        
        #game_pc{width: 250px; overflow: hidden; margin-top: 8px;}
        #game_pc .con_top{height:3px; background: #049ae7;overflow:hidden;}
        #game_pc .con_box{width: 248px; overflow: hidden; border-left:1px #e3e3e3 solid;border-right:1px #e3e3e3 solid;border-bottom:1px #e3e3e3 solid;}
        #game_pc .con_box h3{ line-height:25px; height:25px; overflow: hidden;zoom:1; padding-left: 10px;padding-top: 6px;}
        #game_pc .con_box h3 span{ color:#2b2b2b; font-size:14px; float:left; display:inline;}
        
        .jdbox_D{overflow:hidden;zoom:1;margin-top: 10px;width: 248px;font-weight:normal;}
        .jdbox_D .hn_tw{width: 238px; overflow: hidden; padding-bottom: 13px; height: 60px; background:url(http://static.yxdown.com/images/pulic_img/xx_pl.png) repeat-x 0px 72px;margin-bottom: 10px;padding-left: 10px;}
        .jdbox_D .hn_tw .hn_img,.jdbox_D .hn_tw .hn_name,.jdbox_D span{float:left; display: inline;line-height:20px;}
        .jdbox_D .hn_tw .hn_img{width:90px; height: 60px;overflow:hidden; box-shadow:1px 1px 3px #B8B8B8;margin-right: 8px;}
        .jdbox_D .hn_tw .hn_img img{width:90px; height: 60px;overflow:hidden;}
        .jdbox_D .hn_tw .hn_name{color: #088FB6;font-weight:bold;width: 134px; overflow:hidden; height: 20px;}
        .jdbox_D .hn_tw .hn_name:hover{color:#d70000;}
        .jdbox_D span{color:#888888;width: 134px; overflow:hidden; height: 38px;line-height: 19px;margin-top: 2px;}
        .jdbox_D span a{color:#ea5a0b;}
        .jdbox_D span a:hover{text-decoration: underline;}
        .jdbox_D ul{ overflow:hidden;zoom;1; margin-top: -4px; padding-bottom: 4px; zoom: 1;}
        .jdbox_D ul li{ float:left;display:inline; width: 223px; overflow:hidden;line-height:25px; height: 25px; margin: 0px 5px 0px 10px; padding-left: 10px; background: url(http://static.yxdown.com/images/pulic_img/yxd_jdImg.png) no-repeat -407px -62px; zoom: 1;}
        .jdbox_D ul li a{color:#454545;}
        .jdbox_D ul li a:hover{color:#d70000;}

        /*?¨¤?¨°2???*/
        #dj_zt{width: 250px; overflow: hidden; margin-top: 8px;}
        #dj_zt .con_top{height:3px; background: #049ae7;overflow:hidden;}
        #dj_zt .con_box{width: 248px; overflow: hidden; border-left:1px #e3e3e3 solid;border-right:1px #e3e3e3 solid;border-bottom:1px #e3e3e3 solid;}
        #dj_zt .con_box h3{ line-height:25px; height:25px; overflow: hidden;zoom:1; padding-left: 10px;padding-top: 6px;}
        #dj_zt .con_box h3 span{ color:#2b2b2b; font-size:14px; float:left; display:inline;}
        #dj_zt .con_box h3 .next_btn{float:right; display:inline;width:48px; height: 18px; margin-top: 2px; margin-right: 8px;}
        #dj_zt .con_box h3 .next_btn a{display:inline;float:left;width:24px; background-image:url(http://static.yxdown.com/images/pulic_img/yxd_jdImg.png); height:18px; text-indent:-999em;}
        #dj_zt .con_box h3 .next_btn .tj_prev{background-position:-288px -33px;}
        #dj_zt .con_box h3 .next_btn .tj_next{background-position:-312px -33px;}
        #dj_zt .con_box h3 .next_btn .tj_prev:hover{background-position:-337px -33px;}
        #dj_zt .con_box h3 .next_btn .tj_next:hover{background-position:-361px -33px;}

        .zt_slider{padding: 6px 0px 7px 0px;position: relative;height: 101px;overflow: hidden;}
        .zt_slider ul{ overflow:hidden;zoom:1; position: absolute;}
        .zt_slider ul li{ overflow:hidden;float:left; width: 248px; display: inline;}
        .zt_slider a{width: 228px; margin: 0px auto; display:block;}
        .zt_slider a img{width: 228px; height: 97px;}
        .zt_slider a span{ display:block; line-height:20px; height:20px; overflow:hidden; color:#454545; text-align:center; margin-top: 4px;}
        .zt_slider a:hover span{color:#d70000;}
        


        

.conbox{width:970px; overflow:hidden;zoom:1; margin: 0 auto 10px;font-weight:normal;}
.conbox .title,.conbox .title span.left,.conbox .title span.right,.conbox .title,.conbox .title span.apple{overflow:hidden;zoom:1; height:42px;}


.conbox .title{background:url(http://static.yxdown.com/images/yxtitle_bg_t.png) repeat-x;}
.conbox .title span.left,.conbox .title span.apple{float:left;display:inline; width:260px; text-indent:-999em;}
.conbox .title span.right{float:right;display:inline; width:20px; background:url(http://static.yxdown.com/images/yxtitle_bg_t.png) no-repeat 0px -42px;}

#jd_game .title span.left{ background:url(http://static.yxdown.com/images/yxindex_bg.png) no-repeat;}

#jdgame{overflow:hidden;zoom:1; width:968px;border:1px #eee solid; margin-top: 10px; }
.jdgame_tab{background:url(http://static.yxdown.com/images/jd_bg.png) repeat-x; height:35px;}
.jdgame_tab ul{zoom:1;width: 990px;height: 35px;overflow: hidden;}
.jdgame_tab ul li{float:left;display:inline; width: 108px;text-align: center;}
.jdgame_tab ul li a{display:block; line-height: 35px; height:35px; color:#4b4b4b;padding-right: 2px;background: url(http://static.yxdown.com/images/jdtab_pl.png) no-repeat 107px 0;}
.jdgame_tab ul li a:hover{color:#ff6b00; font-weight:bold;}

.jdgame_tab ul li.hover a{color:#ff6b00; font-weight:bold;background: url(http://static.yxdown.com/images/jdtab_hover.png) repeat-x;padding-right: 0px;}

.jdgame_con{ overflow:hidden;zoom:1;font-weight:normal;}
.jdgame_left{float:left;display:inline; width: 666px; overflow:hidden;zoom: 1;margin: 18px 0px 0px 23px;}
.jdgame_left .jdg_list{overflow:hidden;zoom:1;width: 720px;border-bottom: 1px #eee solid;height: 361px;}
.jdgame_left .jdg_list li{float:left;display:inline; width: 144px;margin-right: 30px;margin-bottom: 15px;}
.jdgame_left .jdg_list li a{display:block;}
.jdgame_left .jdg_list li a img{width: 144px; height: 115px;}
.jdgame_left .jdg_list li a span,.jdgame_left .jdg_list em{display:block; line-height:20px; height:20px; overflow:hidden;zoom:1; font-size:14px; color:#494949; font-family: arial,"Microsoft YaHei";}
.jdgame_left .jdg_list li a span{margin-top: 8px;}
.jdgame_left .jdg_list li a:hover span{color:#d70000;}
.jdgame_left .jdg_list em{font-size:12px;color:#999;margin-top: 3px;}


.jdbt_box{ overflow:hidden;zoom:1; width: 732px; background: url(http://static.yxdown.com/images/jdbg_text.png) no-repeat 330px -36px; margin-top: 10px; padding-bottom: 12px;font-weight:normal;}
.jdbox_text{float:left; display:inline;width: 300px;overflow: hidden;margin-right: 63px;}
.jdbox_text ul{overflow:hidden;zoom:1; width: 300px;}
.jdbox_text ul li{float:left;width: 300px; line-height: 28px; height: 28px; font-size: 12px;}
.jdbox_text ul li span{float:left;width: 258px; height: 28px; overflow: hidden; padding-left: 6px; background: url(http://static.yxdown.com/images/yxindex_bg.png) no-repeat -461px 12px; }
.jdbox_text ul li span a{color:#454545;font-family: "SimSun";}
.jdbox_text ul li span a font{margin-left: 8px; color:#999;}
.jdbox_text ul li span a:hover{color:#d70000;}
.jdbox_text ul li em{float:right; width: 32px;height: 28px; overflow: hidden; color: #aaa;font-family:arial;text-align: right;font-size: 12px;}
.jdbox_text ul .top em{color:#ff0000;}
.jdbox_text ul li span i{ display: block;  font-style:normal; font-family: arial;}
.jdbox_text ul li span i b{color: #999;font-weight: 300;margin-left: 8px;}

.jdgame_right{float:right; display:inline; width:250px; overflow:hidden;zoom:1;font-family:arial,"Microsoft YaHei";border-left: 1px #eee solid;padding-top: 12px;padding-bottom: 12px;}
.jdgame_right .jdg_ph{height:36px; overflow:hidden;zoom:1; background: #fff url(http://static.yxdown.com/images/yxindex_bg.png) no-repeat 0 -126px;line-height: 28px;text-align: center;color: #ff7500; font-weight:bold;font-size:14px;position: relative;z-index: 99;padding-bottom: 7px;}
.phcon{ position:relative; font-family: arial,"Microsoft YaHei"; margin-top: -1px;}
.phcon ul{ overflow:hidden;zoom:1; background: url(http://static.yxdown.com/images/yxindex_bg.png) no-repeat -443px -10px;}
.phcon ul li{float:left;display:inline; width:230px;  height:32px; border-top:1px #eee solid; padding:0px 10px; }
.phcon ul li span,.phcon ul li em{float:left;display:inline; line-height: 32px;height:32px;}
.phcon ul li span {width: 150px;padding-left: 20px;overflow: hidden;}
.phcon ul li em{width: 58px; color:#fb7b00;text-align: right;}
.phcon ul li span a{color:#454545; }
.phcon ul li span a:hover{color:#fb7b00;}
.v_box .phcon ul li span{width: 210px;}

#android_game .phcon{border-left:1px #eee solid;border-right:1px #eee solid;border-bottom:1px #eee solid;padding-bottom: 7px;}


    .zt_slides_one{overflow:hidden;zoom:1;margin-top: 8px;position: relative;}
    .zt_slides_one .zs_con{width:920px;overflow:hidden; margin:0 auto; position:relative; }
    .zt_slides_one .zs_con ul{
    overflow: hidden;
    zoom: 1;
    padding-bottom: 8px !important;
    width: 9999px;
}
    .zt_slides_one .zs_con ul li,.zt_slides_one .zs_con ul li a,.zt_slides_one .zs_con ul li a img{float:left;display:inline; width:222px; height:95px; overflow:hidden;zoom:1;}
    .zt_slides_one .zs_con ul li{margin:0 5px;border-radius: 8px;box-shadow: 0px 1px 3px #777;}
    .zt_slides_one .zs_btn{width:970px; position:absolute; z-index:1; height:95px; top:0px; left:0px;}
    .zt_slides_one .zs_btn a{width:19px; height:95px; display:inline; overflow:hidden; text-indent:-999em; background-image:url(http://static.yxdown.com/images/yxindex_bg.png); background-repeat:no-repeat;}
    .zt_slides_one .zs_btn a.zs_prev{float:left; background-position:0 -170px;}
    .zt_slides_one .zs_btn a.zs_next{float:right;background-position:-19px -170px;}
    .zt_slides_one .zs_btn a.zs_prev:hover{float:left; background-position:0 -265px;}
    .zt_slides_one .zs_btn a.zs_next:hover{float:right;background-position:-19px -265px;}
    
    

#android_game .title span.left{ background: url(http://static.yxdown.com/images/yxindex_bg.png) no-repeat 0 -42px;}
#android_game .title span.apple{ background: url(http://static.yxdown.com/images/yxindex_bg.png) no-repeat 0 -376px;}


#ios_game .title span.left{ background: url(http://static.yxdown.com/images/yxindex_bg.png) no-repeat 0 -460px;}
#ios_game .title span.apple{ background: url(http://static.yxdown.com/images/yxindex_bg.png) no-repeat 0 -376px;}

.andg_con{ overflow:hidden;zoom:1; margin-top: 10px;}
.andg_con .andg_left{float:left;display:inline; width:710px; border:1px #eee solid;}
.andg_left h2{overflow:hidden;zoom:1; height:39px; background:url(http://static.yxdown.com/images/and_titlebg.png) repeat-x;}
.andg_left h2 span{display:inline; overflow:hidden;zoom:1;}
.andg_left h2 .title_left{padding-left: 3px;}
.andg_left h2 .title_left,.andg_left h2 .apple-tab{float:left;display:inline;margin-top: 9px;}
.title_left li{float:left;display:inline;overflow:hidden;zoom:1; font:14px/20px "Microsoft YaHei"; color:#3d3d3d;}
.title_left li{line-height: 20px; height: 20px;width: 120px;text-align: center;padding-bottom: 8px;margin-right: 2px;cursor: pointer;background: url(http://static.yxdown.com/images/titlepl.png) no-repeat 119px 3px;margin-left: -3px;}
.title_left li.pl{width:2px; overflow:hidden;zoom:1; background:url(http://static.yxdown.com/images/titlepl.png); height: 14px; margin: 4px 0px;padding: 0;}
.title_left li.hover{border-bottom:2px #88cf07 solid; font-weight:bold; color: #7BC200;}
#ios_game .title_left li.hover{border-bottom: 2px #00ADF9 solid; font-weight:bold; color: #00ADF9;}

.andg_left h2 span.title_right{float:right;margin-top: 11px;}
.title_right a,.title_right em{float:left;display:inline;overflow:hidden;zoom:1; font: 12px/20px "Microsoft YaHei"; color:#888;}
.title_right a{line-height: 20px; height: 20px;width: 75px;text-align: center;}
.title_right em{width:2px; overflow:hidden;zoom:1; background:url(http://static.yxdown.com/images/titlepl.png); height: 12px; margin: 4px 0px;}
.title_right a:hover{color:#fb7b00;}

    .andg_list{width:710px; overflow:hidden;}
    .andg_list ul{overflow:hidden;zoom:1;width:730px;margin: 17px 0 0 18px;position: relative;}
    .andg_list ul li,.andg_list ul li a{float:left;display:inline; width:90px; overflow:hidden;zoom:1;}
    .andg_list ul li a img{width:90px; height:90px; overflow:hidden;-moz-border-radius: 15px; border-radius: 15px;}
    .andg_list ul li{margin: 3px 26px 0px 0px;padding-bottom: 5px;}
    .andg_list ul li a b img{display:block;width:90px; height:90px; overflow:hidden;zoom:1; border-radius:8px; overflow:hidden;}
    .andg_list ul li a span{ line-height: 20px; height:20px; overflow:hidden;display:block; text-align:center;color:#282828; font-family:arial,"Microsoft YaHei"; margin-top: 7px;}
    .andg_list ul li a:hover span{color:#d70000;}

.andg_right{float:right;display:inline; width: 250px; border:1px #eee solid;font-family: arial,"Microsoft YaHei";padding-bottom: 6px;}
#android_game .andg_right{border:none;width: 252px;}
.andg_right .jdg_ph{height: 39px; overflow:hidden;zoom:1; line-height: 26px;text-align: center;color: #7BC200; font-weight:bold;font-size:14px;position: relative;z-index: 99;font-family: arial,"Microsoft YaHei";border-left: 1px #eee solid;border-right: 1px #eee solid;padding-bottom: 11px;background: #fff;}
.andg_right .jdg_ph ul{overflow:hidden;zoom:1;width:250px;background:#eee;}
.andg_right .jdg_ph ul li{float:left;display:inline;width:125px; overflow:hidden;zoom:1;height:39px;}
.andg_right .jdg_ph ul li a{display:block; line-height: 37px; height:37px; padding-top: 2px;font-size: 12px;font-weight: 300;color: #777;}
.andg_right .jdg_ph ul li.selected{background:#fff;padding-top: 0px; border-top:2px #9bd90c solid;}
.andg_right .jdg_ph ul li.selected a{padding-top: 0px;color:#87bb14;font-weight: bold;font-size: 14px;}
.apple-top{height:36px; overflow:hidden;zoom:1; background: #fff url(http://static.yxdown.com/images/yxindex_bg.png) no-repeat 0 -126px;line-height: 26px;text-align: center;color: #2fa7f7; font-weight:bold;font-size:14px;position: relative;z-index: 99;padding-bottom: 7px;margin-top: 8px;font-family: arial,"Microsoft YaHei";}
#ios_game .andg_right .jdg_ph ul li.selected{background:#fff;padding-top: 0px; border-top:2px #00ADF9 solid;}
#ios_game .andg_right .jdg_ph ul li.selected a{padding-top: 0px;color: #00ADF9;font-weight: bold;font-size: 14px;}

/*Æ»¹ûÓÎÏ·*/
.apple-tab li{float:left;display:inline;overflow:hidden;zoom:1; font:14px/20px "Microsoft YaHei"; color:#3d3d3d;}
.apple-tab li{line-height: 20px; height: 20px;width: 95px;text-align: center;padding-bottom: 8px;margin-right: 2px;cursor: pointer;}
.apple-tab li.pl{width:2px; overflow:hidden;zoom:1; background:url(http://static.yxdown.com/images/titlepl.png); height: 14px; margin: 4px 0px;padding: 0;}
.apple-tab li.hover{border-bottom: 2px #2fa7f7 solid; font-weight:bold; color: #2fa7f7;}
.applecur{width:710px; overflow:hidden;}
.applecur ul{overflow:hidden;zoom:1;width:730px;margin: 17px 0 0 18px;position: relative;}
.applecur ul li,.andg_list ul li a{float:left;display:inline; width:90px; overflow:hidden;zoom:1;}
.andg_list ul li a{height: 117px;overflow: hidden;zoom: 1;}
.applecur ul li a img{width:90px; height:90px; overflow:hidden;-moz-border-radius: 15px; border-radius: 15px;}
.applecur ul li{margin: 3px 26px 0px 0px;padding-bottom: 12px;}
.applecur ul li a b img{display:block;width:90px; height:90px; overflow:hidden;zoom:1; border-radius:8px; overflow:hidden;}
.applecur ul li a span{ line-height: 20px; height:20px; overflow:hidden;display:block; text-align:center;color:#282828; font-family:arial,"Microsoft YaHei"; margin-top: 7px;}
.applecur ul li a:hover span{color:#d70000;}

#game_per .title span.left{ background:url(http://static.yxdown.com/images/yxindex_bg.png) no-repeat 0 -84px;}

/*../images/*/
.imgbox{width:968px; border:1px #eee solid;margin-top: 10px;}
.imgbox h2{overflow:hidden;zoom:1;height: 39px;background: url(http://static.yxdown.com/images/and_titlebg.png) repeat-x;}
.imgbox h2 span{display:inline;float:left;overflow:hidden;zoom:1;font:300 16px/39px arial,"Microsoft YaHei";margin-left: 12px;}
.imgbox h2 em{display:inline; float:right; line-height: 39px; font:300 12px/39px "SimSun";color:#a8a8a8;margin-right: 12px;}

.imgbox ul{overflow:hidden;zoom:1;width: 948px; height: 391px; position: relative;margin: 12px auto;}
.imgbox ul li{ float: left; display: inline; position:absolute; overflow:hidden; zoom:1; cursor:pointer;}
.imgbox ul li .img_box{  overflow:hidden;zoom:1; position:relative;}
.imgbox ul li .text_box{  overflow:hidden;zoom:1; position:absolute; bottom:-35px;_bottom:-36px;left:0px;}
.imgbox ul li .img_box img{overflow:hidden;}
.imgbox ul li .text_box b{display:block;background: #000; filter: alpha(opacity:70); opacity: 0.7;}
.imgbox ul li .text_box a{display:block; position: absolute; top: 0px;left:0px; text-align:center; color:#fff; font-size: 14px; font-weight: 300; line-height: 35px; font-family: arial,"?¡é¨¨¨ª??o¨²";text-shadow: 0px 1px 0px #3D3D3D;}

.pc_style_1,.pc_style_1 .img_box{width: 303px; height: 391px; overflow:hidden;zoom:1;}
.pc_style_1 .text_box,.pc_style_1 .text_box b,.pc_style_1 .text_box a{width: 303px; height:35px; line-height:35px; overflow:hidden;zoom:1;}
.pc_style_2,.pc_style_2 .img_box{width: 210px; height: 245px; overflow:hidden;zoom:1;}
.pc_style_2 .text_box,.pc_style_2 .text_box b,.pc_style_2 .text_box a{width: 210px; height:35px; line-height:35px; overflow:hidden;zoom:1;}
.pc_style_3,.pc_style_3 .img_box{width: 210px; height: 141px; overflow:hidden;zoom:1;}
.pc_style_3 .text_box,.pc_style_3 .text_box b,.pc_style_3 .text_box a{width: 210px; height:35px; line-height:35px; overflow:hidden;zoom:1;}

.pc_style_1 img{width: 303px; height: 391px; overflow:hidden;zoom:1;}
.pc_style_2 img{width: 210px; height: 245px; overflow:hidden;zoom:1;}
.pc_style_3 img{width: 210px; height: 141px; overflow:hidden;zoom:1;}

.imgbox ul .m1{top:0px;left:0px;}
.imgbox ul .m2{top:0px; left: 308px;}
.imgbox ul .m3{top: 250px; left: 308px;}
.imgbox ul .m4{top:0px; left: 523px;}
.imgbox ul .m5{top: 250px; left: 523px;}
.imgbox ul .m6{top:0px; left: 738px;}
.imgbox ul .m7{top: 146px; left: 738px;}

div#yxinfo_int span { display: block;}

/*ÍøÂçÓÎÏ·*/
#web_game{margin:0 auto 10px;font-family:"Microsoft YaHei";}
#web_game .title span.left{background: url(../images/yxindex_bg.png) no-repeat 0 -502px;}
#wgc{overflow:hidden;zoom:1;border:1px #eee solid;padding: 0px 0 0 10px;margin-top: 10px;}
#wgc .wg_l,#wgc .wg_m,#wgc .wg_r{float:left;display:inline;overflow:hidden;zoom:1;}
#wgc .wg_l{width:265px;overflow:hidden;zoom:1;margin: 10px 0;}
.wgl_a,.wgl_a a,.wgl_a a img{width:265px;height:155px;display:block;position:relative;overflow:hidden;zoom:1;}
.wgl_a a em,.wgl_a a b{display:block;width:100%;height:30px;position:absolute;bottom:0px; right:0px;}
.wgl_a a em{z-index:2;background:#000;opacity:0.6;}
.wgl_a a b{z-index:3;line-height: 30px;color:#fff;text-align:center;font-size:14px; font-weight:400;}

.wgl_b{margin-top: 12px;}
.wgl_b .t{overflow:hidden;zoom:1;line-height: 20px;background: url(../images/tit_bg.gif) repeat-x 0px 30px;}
.wgl_b .t span{float:left;display:inline;font-size:16px;color:#383838;padding-bottom:10px;border-bottom:2px #ff7800 solid;padding: 0px 5px 10px;}
.wgl_b .t a.more{float:right;display:inline;font-size:12px;color:#08c;line-height: 28px;}
.wgl_b .pct{margin-top:10px;}
.wgl_b .pct,.wgl_b .pct a,.wgl_b .pct a img{width:265px; height:82px;display:block;position:relative;}
.wgl_b .pct a span{display:block;width: 160px;line-height:20px;position:absolute;left: 15px;top: 21px;z-index: 3;color:#fff;font-size:16px;font-weight:bold;}
.wgl_b .pct a span em{display:block;font-size:12px;font-weight:400;margin-top: 4px;}
.wgl_b .pct a i{display:block;width:265px;height:82px;background:url(../images/pincetop_zz.png) no-repeat;position:absolute;z-index: 2;top: 0px;left: 0px;}
.wgl_b .pct b.pf{display:block;width:60px;height:60px;position:absolute;right: 8px;top: 12px;background:url(../images/pf.png) no-repeat;line-height: 60px;text-align:center;z-index: 3;color: #fe721e;font-size: 18px;font-weight: 400;}
.wgl_b .pct b.pf_90{background-position: -900px 0px;}

.wgl_b .pc_list {padding-top:15px;background: url(../images/text_pl.png) repeat-x 0px 10px;}
.wgl_b .pc_list ul{overflow:hidden;zoom:1;}
.wgl_b .pc_list ul li{float:left;width: 265px;line-height: 28px;height: 28px;font-size: 12px;}
.wgl_b .pc_list ul li span{float:left;width: 220px;height: 28px;overflow: hidden;padding-left: 11px;background: url(../images/pince_tb.gif) no-repeat 0px 13px;}
.wgl_b .pc_list ul li span a{color: #2b2b2b;font-weight: bold;}
.wgl_b .pc_list ul li span a font{margin-left: 12px;color:#999;}
.wgl_b .pc_list ul li span a:hover{color:#d70000;}
.wgl_b .pc_list ul li span i{font-style:normal;color:#999;margin-left: 14px;}
.wgl_b .pc_list ul li em{float:right;width: 32px;height: 28px;overflow: hidden;color: #ff6130;font-family:arial;text-align: right;font-size: 12px;}

.wgl_c{margin-top: 12px;}
.wgl_c .t{overflow:hidden;zoom:1;line-height: 20px;background: url(../images/tit_bg.gif) repeat-x 0px 30px;}
.wgl_c .t span{float:left;display:inline;font-size:16px;color:#383838;padding-bottom:10px;border-bottom:2px #ff7800 solid;padding: 0px 5px 10px;}
.wgl_c .t a.more{float:right;display:inline;font-size:12px;color:#08c;line-height: 28px;}
.wgl_c .next_btn_hd{float:right;display:inline;width: 42px;height: 18px;margin-top: 3px;}
.wgl_c .next_btn_hd a{display:inline;float:left;width: 20px;background-image: url(../images/yxd_jdImg.png);height: 16px;text-indent:-999em;margin-right: 1px;}
.wgl_c .next_btn_hd .tj_prev{background-position: -288px -56px;}
.wgl_c .next_btn_hd .tj_next{background-position: -309px -56px;}
.wgl_c .next_btn_hd .tj_prev:hover{background-position: -330px -56px;}
.wgl_c .next_btn_hd .tj_next:hover{background-position: -351px -56px;}
.wgl_c .hd_slider{padding: 12px 0px 0 0px;position: relative;height: 117px;overflow: hidden;}
.wgl_c .hd_slider ul{overflow:hidden;zoom:1;width:2000px;position: absolute;height: 117px;}
.wgl_c .hd_slider ul li{overflow:hidden;float:left;width: 265px;display: inline;height: 117px;}
.wgl_c .hd_slider a{width: 265px;margin: 0px auto;display:block; position:relative;}
.wgl_c .hd_slider a img{width: 265px;height: 117px;}
.wgl_c .hd_slider a span{display:block;width: 160px;line-height:20px;position:absolute;left: 15px;top: 40px;z-index: 3;color:#fff;font-size:16px;font-weight:bold;}
.wgl_c .hd_slider a span em{display:block;font-size:12px;font-weight:400;margin-top: 4px;}
.wgl_c .hd_slider a i{display:block;width:265px;height: 117px;background: url(../images/hothd_zz.png) no-repeat;position:absolute;z-index: 2;top: 0px;left: 0px;}
.wgl_c .hd_slider a b{display:block;width:60px;height:60px;background: url(../images/hd_btn.png) no-repeat;position:absolute;z-index: 2;top: 30px;right: 16px;color: #fda62a;font-size: 18px;font-weight: normal;text-align: center;line-height: 60px;}

.wgm_c ul{overflow:hidden;zoom:1;width: 455px;}
.wgm_c ul li{margin-right: 13px;margin-top: 13px;}
.wgm_c ul li,.wgm_c ul li a,.wgm_c ul li a img{float:left;display:block;width: 186px;height: 104px;position:relative;}
.wgm_c ul li a span{line-height: 22px;width: 166px;height: 22px;position:absolute;text-align: center;z-index: 2;font-size: 12px;color: #fff;bottom: 0;left: 0px;padding: 0 10px;overflow: hidden;zoom: 1;}
.wgm_c ul li a em{line-height: 22px;width: 186px;height: 22px;position:absolute;bottom: 0px;left: 0px;z-index: 1;background: #000;opacity: 0.6;}

.wgm_b{margin-top: 12px;}
.wgm_b .t{overflow:hidden;zoom:1;line-height: 20px;background: url(../images/tit_bg.gif) repeat-x 0px 30px;}
.wgm_b .t span{float:left;display:inline;font-size:16px;color:#383838;padding-bottom:10px;border-bottom:2px #ff7800 solid;padding: 0px 5px 10px;}
.wgm_b .t a.more{float:right;display:inline;font-size:12px;color:#08c;line-height: 28px;}


#phone_game .title span.left{ background: url(http://static.yxdown.com/images/yxindex_bg.png) no-repeat 0 -418px;}
#phone_game .pgbox{overflow:hidden;zoom:1;border:1px #eee solid;margin-top: 10px;font-family: "Microsoft YaHei";/* height: 370px; */}
#phone_game .pgbox .pgl{float:left;display:inline;width: 716px;}
#phone_game .pgbox .pgr{width: 250px; float: right; border-left: 1px #eee solid;} 
#phone_game .newspic{width: 265px;float: left;display: inline;margin: 10px 0 0 10px;}
#phone_game .newspic a{ padding-bottom: 15px; display:block;}
#phone_game .newspic a img{width: 265px;height: 140px;}
#phone_game .newspic a p{ text-align:center; display:block; color: #555; margin-top: 6px; white-space: nowrap; width: 240px; text-overflow: ellipsis; overflow: hidden; font-size: 12px; line-height: 20px; height: 20px;}

#phone_game .news{float: left;margin-top: 10px;display: inline;width: 385px;margin-left: 30px;}
#phone_game .news h2 a{ color:#de2932; font-size:18px; line-height:18px; font-weight:normal; text-align:center; margin-bottom: 15px; display: block;}
#phone_game .news h2 a:hover{ color:#cf0b22; text-decoration:underline;}
#phone_game .news p{ font-size:12px; text-align:center; padding-bottom: 10px; margin-bottom: 12px; border-bottom: 1px dashed #ddd; padding-top: 2px;}
#phone_game .news p a.space{ margin-right:12px;}
#phone_game .news p a{ color:#777;}
#phone_game .news ul{ font-size:14px; padding-bottom: 16px; overflow: hidden; zoom: 1;}
#phone_game .news ul li{ height: 27px; line-height: 27px;}
#phone_game .news ul li.nli5{ padding-bottom: 16px;}
#phone_game .news ul li a{ color: #555; display: inline-block; background: url(http://static.yxdown.com/images/pulic_img/yxd_jdImg.png) no-repeat -407px -30px; padding-left: 10px; width: 340px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
#phone_game .news ul li em{ float:right; font-size:12px;}
#phone_game .news ul li em.red{ color:#f32828;}
#phone_game .news p a:hover,#phone_game .news ul li a:hover,.newspic ul li a:hover,.newspic a:hover p{ color:#cf0b22;}

.rbc_list{float: right;display:inline;wid;padding-bottom: 9px;}
.rbc_list,.rbc_list ul,.rbc_list ul li{overflow:hidden;zoom:1;width: 251px;}
.rbc_list, .rbc_list ul{margin-top:-1px;}
.rbc_list ul li{float:left;display:inline;position:relative;padding: 7px 0 8px 10px;border-top: 1px #eee solid;}
.rbc_list ul li.open .rac_a{display:none;}
.rbc_list ul li.open .rac_b{display:block;}
.rbc_list ul li.open .mub{margin-top: 26px;}
.rbc_list ul li.open {background-position: 0px 90px;}

.rb_con{margin-top: 12px;}
.rac_a,.rac_b{float:left;display:inline;width: 234px;overflow:hidden;zoom:1;}
.rac_a{height: 20px;line-height: 20px;}
.rac_a span,.rac_a em{float:left;display:inline; width: 191px;line-height: 20px;height: 20px;}
.rac_a span a{font-size: 12px; color:#666;}
.rac_a em{width: 34px;text-align:right; color:#999;margin-left: 2px;}
.rac_a em a{display:block;width:35px;height:18px;border:1px #02a7cf solid;background:#01bae4;color:#fff;text-align:center;border-radius:3px;line-height:18px;}
.rac_a em font{color:#fb7b00; margin-right:2px}

.rac_b{height: 55px; display: none}
.rac_b a.rl_img,.rac_b span.rl_name,.rac_b b.star,.rac_b b.star i,.rac_b span.fn{float:left;display:inline; overflow:hidden;zoom:1;}
.rac_b a.rl_img{margin-right:9px;}
.rac_b a.rl_img,.rac_b a.rl_img img{width: 55px; height: 55px;}
.rac_b span.rl_name{line-height: 18px; height: 18px; width: 150px;font-size: 13px;font-weight: bold;margin-bottom: 2px;}
.rac_b span.rl_name a{color:#333;}
.rac_b b.star,.rac_b b.star i{ height:14px;}
.rac_b b.star{background:url(../images/yyImg.png) no-repeat -516px -83px;width: 87px; margin-top: 3px;}
.rac_b b.star i{width:80%;background:url(../images/yyImg.png) no-repeat -516px -67px;}
.rac_b div.pf{overflow:hidden;zoom:1;float:left;display:inline;width: 150px;line-height: 20px;height: 20px;margin-top: 4px;}
.rac_b div.pf em{float:left;display:inline; font-style:normal; line-height:14px; height:14px; overflow: hidden;zoom:1; font-size:12px; color:#a2a2a1;margin-top: 3px;margin-left: 10px;}
.rac_b div.pf em font{color:#fb7b00; font-size:14px;margin-right: 2px;}
.rac_b span.fn{line-height: 18px; height: 18px; color:#8e8f8d; width: 150px;}

.wg_m{width:385px;margin-left: 30px;margin-top: 10px;}
.wgm_a{margin: 0;}
.wgm_a h3{text-align:center;padding-bottom: 20px;background: url(../images/text_pl.png) repeat-x 0px 37px;line-height: 25px;height: 25px;}
.wgm_a h3 a{font-size: 20px;color:#d2040e;margin: 0px 2px;font-weight: 400;}
.wgm_a h3 a:hover{color:#fb7b00;}
.wgm_a ul{overflow:hidden;zoom:1;width: 385px;font-weight:normal;background: url(../images/hd_img.gif) no-repeat -2px 3px;}
.wgm_a ul li{float:left;width: 385px;line-height: 30px;height: 30px;font-size: 14px;position: relative;}
.wgm_a ul li span{height: 30px;overflow: hidden;padding-left: 26px;display: block;}
.wgm_a ul li em{width:19px;height:19px;display:block;text-align:center;line-height: 20px;font-size: 30px;color:#aaa;position:absolute;top: 5px;left:0px;background: url(../images/hd_img.gif) no-repeat -2px -241px;display: none;}
.wgm_a ul li.hover em{display:block;}
.wgm_a ul li.hover_a em{display:block;}
.wgm_a ul li em i{font-size: 10px;-webkit-transform: scale(0.8);font-style: normal;display: block;text-align: center;}
.wgm_a ul li span a{color: #333;}
.wgm_a ul li span a:hover{color:#d70000;}

.wg_r{width:250px;float: right !important;border-left: 1px #eee solid;}
.wgr_a{}
.wgr_a .t_tab{overflow:hidden;zoom:1;background: url(../images/tit_tab_bg.gif) repeat-x 0px 39px;}
.wgr_a .t_tab span{float:left;display:inline;width:125px;line-height: 38px;height: 38px;text-align: center;color: #888;font-size: 14px;cursor: pointer;}
.wgr_a .t_tab span.hover{border-bottom:2px #ff8916 solid;color: #000;font-weight: bold;}

.wgra_c{width:235px; margin:0 auto;}
.wgra_c .tit_g{overflow:hidden;zoom:1;}
.wgra_c .tit_g span{float:left;display:inline;line-height: 30px;height:30px;overflow:hidden;zoom:1;color: #999;}
.wgra_c .tit_g span.wgra_1{width:30px;}
.wgra_c .tit_g span.wgra_2{width: 95px;text-indent: 7px;}
.wgra_c .tit_g span.wgra_3{width: 52px;text-align: center;}
.wgra_c .tit_g span.wgra_4{width: 33px;text-align: center;margin-left: 24px;}
.wgra_c .wgrac_g{overflow:hidden;zoom:1;background: url(../images/text_pl.png) repeat-x 0px 32px;cursor: pointer;}
.wgra_c .wgrac_g em,.wgra_c .wgrac_g span,.wgra_c .wgrac_g i,.wgra_c .wgrac_g a.dtb{float:left;display:inline;overflow:hidden;zoom:1; line-height: 33px; height:33px;}
.wgra_c .wgrac_g em{width:20px;height:17px;line-height: 17px;text-align: center;background: #eee;color: #9a9a9a;margin-top: 8px;margin-right: 8px;font-size: 12px;}
.wgra_c .wgrac_g span{}
.wgra_c .wgrac_g i{width: 52px; text-align: center; font-style: normal; color: #ff7300; }
.wgra_c .wgrac_g span{width: 97px;color:#111;}
.wgra_c .wgrac_g a.dtb{text-indent: -999em;background: url(../images/hd_img.gif) no-repeat -2px -262px;width: 33px;text-align: center;margin-left: 24px;}
.wgra_c .top em{/* background:#ff6130; */color:#fff;}
.wgra_c .wgrac_g .wg_img,.wgra_c .wgrac_g .wg_img img{display:block;width:235px; height:107px; overflow:hidden;zoom:1;}
.wgra_c .wgrac_g .wg_img{display:none;}
.wgra_c .hover .wg_img{display:block;}
.wgra_c .hover{background:#f7f7f7;}
.wgra_c .hover em{height: 33px; line-height: 33px; margin-top: 0px; width: 27px; }
.wgra_c .hover span{width: 90px;}


#qdb{width:235px; margin:0 auto;}
#qdb .tit_g{overflow:hidden;zoom:1;}
#qdb .tit_g span{float:left;display:inline;line-height: 30px;height:30px;overflow:hidden;zoom:1;color: #999;}
#qdb .tit_g span.wgra_1{width:30px;}
#qdb .tit_g span.wgra_2{width: 95px;text-indent: 7px;}
#qdb .tit_g span.wgra_3{width: 52px;text-align: center;}
#qdb .tit_g span.wgra_4{width: 33px;text-align: center;margin-left: 24px;}
#qdb .wgrac_g{overflow:hidden;zoom:1;background: url(../images/text_pl.png) repeat-x 0px 32px;cursor: pointer;}
#qdb .wgrac_g em,#qdb .wgrac_g span,#qdb .wgrac_g i,#qdb .wgrac_g a.dtb{float:left;display:inline;overflow:hidden;zoom:1; line-height: 33px; height:33px;}
#qdb .wgrac_g em{width:20px;height:17px;line-height: 17px;text-align: center;background: #eee;color: #9a9a9a;margin-top: 8px;margin-right: 8px;font-size: 12px;}
#qdb .wgrac_g span{}
#qdb .wgrac_g i{width: 52px; text-align: center; font-style: normal; color: #ff7300; }
#qdb .wgrac_g span{width: 97px;color:#111;}
#qdb .wgrac_g a.dtb{text-indent: -999em;background: url(../images/hd_img.gif) no-repeat -2px -262px;width: 33px;text-align: center;margin-left: 24px;}
#qdb .top em{background:#ff6130;color:#fff;}
#qdb .wgrac_g .wg_img,#qdb .wgrac_g .wg_img img{display:block;width:235px; height:107px; overflow:hidden;zoom:1;}
#qdb .wgrac_g .wg_img{display:none;}
#qdb .hover .wg_img{display:block;}
#qdb .hover{background:#f7f7f7;}
#qdb .hover em{height: 33px; line-height: 33px; margin-top: 0px; width: 27px; }
#qdb .hover span{width: 90px;}

/*#lhb{width:235px; margin:0 auto;}
#lhb .tit_g{overflow:hidden;zoom:1;}
#lhb .tit_g span{float:left;display:inline;line-height: 30px;height:30px;overflow:hidden;zoom:1;color: #999;}
#lhb .tit_g span.wgra_1{width:30px;}
#lhb .tit_g span.wgra_2{width: 95px;text-indent: 7px;}
#lhb .tit_g span.wgra_3{width: 52px;text-align: center;}
#lhb .tit_g span.wgra_4{width: 33px;text-align: center;margin-left: 24px;}
#lhb .wgrac_g{overflow:hidden;zoom:1;background: url(../images/text_pl.png) repeat-x 0px 32px;cursor: pointer;}
#lhb .wgrac_g em,#lhb .wgrac_g span,#lhb .wgrac_g i,#lhb .wgrac_g a.dtb{float:left;display:inline;overflow:hidden;zoom:1; line-height: 33px; height:33px;}
#lhb .wgrac_g em{width:20px;height:17px;line-height: 17px;text-align: center;background: #eee;color: #9a9a9a;margin-top: 8px;margin-right: 8px;font-size: 12px;}
#lhb .wgrac_g span{}
#lhb .wgrac_g i{width: 52px; text-align: center; font-style: normal; color: #ff7300; }
#lhb .wgrac_g span{width: 97px;color:#111;}
#lhb .wgrac_g a.dtb{text-indent: -999em;background: url(../images/hd_img.gif) no-repeat -2px -262px;width: 33px;text-align: center;margin-left: 24px;}
#lhb .top em{background:#ff6130;color:#fff;}
#lhb .wgrac_g .wg_img,#lhb .wgrac_g .wg_img img{display:block;width:235px; height:107px; overflow:hidden;zoom:1;}
#lhb .wgrac_g .wg_img{display:none;}
#lhb .hover .wg_img{display:block;}
#lhb .hover{background:#f7f7f7;}
#lhb .hover em{height: 33px; line-height: 33px; margin-top: 0px; width: 27px; }
#lhb .hover span{width: 90px;}*/

#lhb{float: right;display:inline;wid;padding-bottom: 7px;}
#lhb,#lhb ul,#lhb ul li{overflow:hidden;zoom:1;width: 251px;}
#lhb, #lhb ul{margin-top:-1px;}
#lhb ul li{float:left;display:inline;position:relative;padding: 6px 0 7px 10px;border-top: 1px #eee solid;}
#lhb ul li.open .rac_a{display:none;}
#lhb ul li.open .rac_b{display:block;}
#lhb ul li.open .mub{margin-top: 26px;}
#lhb ul li.open {background-position: 0px 90px;padding: 9px 0 9px 10px;}

.wgr_b{overflow:hidden;zoom:1;width: 235px;margin: 15px auto 0;}
.wgr_b .tit_b{line-height: 20px;height:20px;color: #222;font-size: 14px;font-weight: bold;padding-left: 23px;background: url(../images/hd_img.gif) no-repeat -9px -370px;margin-bottom: 9px;}

#phone_game .wgr_b .tit_b{background: url(../images/hd_img.gif) no-repeat -9px -408px;}
#phone_game .wgr_b .wgrb_c a.dtb{background: url(../images/hd_img.gif) no-repeat -2px -444px;}

.wgr_b .tit_g{overflow:hidden;zoom:1;background: #f7f7f7;}
.wgr_b .tit_g span{float:left;display:inline;line-height: 30px;height:30px;overflow:hidden;zoom:1;color: #999;}
.wgr_b .tit_g span.wgra_1{width: 48px;text-align: center;}
.wgr_b .tit_g span.wgra_2{width: 70px;margin-left: 10px;}
.wgr_b .tit_g span.wgra_3{width: 50px;text-align: center;}
.wgr_b .tit_g span.wgra_4{width: 33px;text-align: center;margin-left: 20px;}
.wgr_b .wgrb_c{overflow:hidden;zoom:1;background: url(../images/text_pl.png) repeat-x 0px 0;cursor: pointer;}

.wgr_b .wgrb_c em,.wgr_b .wgrb_c span,.wgr_b .wgrb_c i,.wgr_b .wgrb_c a.dtb{float:left;display:inline;overflow:hidden;zoom:1; line-height: 33px; height:33px;}
.wgr_b .wgrb_c em{width: 48px; text-align: center; }
.wgr_b .wgrb_c span{}
.wgr_b .wgrb_c i{width: 52px; text-align: center; font-style: normal; color: #ff7300; }
.wgr_b .wgrb_c span{width: 70px;margin-left: 10px;color:#111;}
.wgr_b .wgrb_c a.dtb{text-indent: -999em;background: url(../images/hd_img.gif) no-repeat -2px -331px;width: 33px;text-align: center;margin-left: 20px;}
.wgr_b .wgrb_c .wg_img,.wgr_b .wgrb_c .wg_img img{display:block;width:235px; height:107px; overflow:hidden;zoom:1;}
.wgr_b .wgrb_c .wg_img{display:none;}

#phone_game .andg_list{width: 685px;overflow:hidden;margin: 0 auto;padding-top: 7px;}
#phone_game .andg_list .t{overflow:hidden;zoom:1;line-height: 20px;background: url(../images/tit_bg.gif) repeat-x 0px 30px;margin-bottom: 15px;}
#phone_game .andg_list .t span{float:left;display:inline;font-size:16px;color:#a6a6a6;padding-bottom:10px;border-bottom: 2px #ececec solid;padding: 0px 2px 10px;cursor: pointer;}
#phone_game .andg_list .t span.hover{border-bottom:2px #01bae4 solid;color: #383838;}
#phone_game .andg_list .t a.more{float:right;display:inline;font-size:12px;color:#08c;line-height: 28px;}
#phone_game .andg_list .t .ptj_tab{float:left;display:inline;width: 210px;}
#phone_game .andg_list .t em{float:left;display:inline;width:1px;height:12px;background:#dcdcdc;overflow:hidden;zoom:1;margin: 4px 16px 0;}
#phone_game .andg_list ul{overflow:hidden;zoom:1;width: 720px;position: relative;margin: 0;}
#phone_game .andg_list ul li,#phone_game .andg_list ul li a{float:left;display:inline; width:90px; overflow:hidden;zoom:1;}
#phone_game .andg_list ul li a img{width:90px; height:90px; overflow:hidden;-moz-border-radius: 15px; border-radius: 15px;}
#phone_game .andg_list ul li{margin: 0 29px 0px 0px;}
#phone_game .andg_list ul li a b img{display:block;width:90px; height:90px; overflow:hidden;zoom:1; border-radius:8px; overflow:hidden;}
#phone_game .andg_list ul li a span{ line-height: 20px; height:20px; overflow:hidden;display:block; text-align:center;color:#282828; font-family:arial,"Microsoft YaHei"; margin-top: 7px;}
#phone_game .andg_list ul li a:hover span{color:#d70000;}

/*µ×²¿*/
#bottom{  width:100%; height: 170px; overflow:hidden;margin: 10px auto 5px;}
.bottom1{ width:970px;  display:block; margin:0px auto;  color:#999;}
.bottom1 li{ width:970px; text-align:center;  line-height:24px;color: #868686;}
.bottom1 li a{color: #003e65;margin: 0px 6px;}
.bottom1 li a:hover{color:#d70000;}
li.jiazhang {display: block;height: auto;}
li.jiazhang {display: block;height: auto;padding: 9px 0px;}

.police{margin:0 auto;width: 366px;overflow:hidden;zoom:1;padding-top: 6px;}
.police em,.police a{float:left;}
.police a.p1{background:url(http://static.yxdown.com/images/jiazhang.png) left top no-repeat;margin-right: 4px;width: 128px;height: 41px;}
.police em.p2{background:url(http://static.yxdown.com/images/18.png) left top no-repeat;width: 126px;height: 41px;margin-right: 4px;}
.police em.p3{background:url(http://static.yxdown.com/images/gongshang.png) left top no-repeat;width: 104px;height: 41px;}