@charset "UTF-8";

#snscontents-area {
	background-color:#fff;
}
.sns_contents {
	width:100%;
	display:table;
}
.sns_contents:after {
	content:"";
	display:block;
	height:0;
	overflow:hidden;
	clear:both;
}
.sns_contents li {
	text-align:center;
	vertical-align:top;
	display:table-cell;
}
.sns_contents li.yt, .sns_contents li.gp, .sns_contents li.tw {
	padding:10px 0;
}
@media screen and (max-width: 640px) and (max-device-width: 767px) and (orientation : portrait), screen and (max-width: 640px) and (max-device-width: 1440px) and (orientation : landscape){
.sns_contents {
	display:block;
}
.sns_contents li {
	display:block;
	padding:0;
}
.sns_contents li.yt, .sns_contents li.gp, .sns_contents li.tw {
	margin-top: 15px;
}
.sns_contents li.yt {
	margin-top: 5px;
}
}
