@charset "UTF-8";

.no-opacity .mobile-only {
	display:none;
}
@media only screen and (max-width:640px) and (max-device-width:1280px){
	 .pc-only {
		display:none!important;
	}
}
@media only screen and (min-width:641px), screen and (min-device-width:1281px) {
	 .mobile-only {
		display:none!important;
	}
}
h1 {
	text-indent: -9999px;
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
/************************** heros *****************************/

#hero {
	padding-bottom: 20px;
	position: relative;
	background-color: #343434;
	min-height: 500px;
}
#hero:before {
	content: "";
	display: block;
	height: 21px;
	width: 100%;
	position: absolute;
	background: url(../img/img-content-shadow-1px.png) repeat-x top;
	z-index: 2;
	top: 0;
}
#hero .style-dark {
	color: #fff;
}
#hero .style-light {
	color: #1f1f1f;
}
#hero .slider-wrapper {
}
#hero .slide-block {
	min-height: 470px;
	position: relative;
	float: left;
}
#hero .hero-image {
	height: 470px;
	text-align: center;
	overflow: hidden;
}
#hero .hero-image > .container > span {
	display: inline-block;
	margin-left: -112px;
}
#hero .hero-image > .container > span > img {
	height: 470px;
}
#hero .slide-block .container {
}
#hero .slide-controller {
	position: absolute;
	top: 210px;
	width: 100%;
	height: 0;
}
#hero .slide-controller .first-child {
	float: left;
}
#hero .slide-controller .last-child {
	float: right;
}
#hero .slide-controller .first-child a, #hero .slide-controller .last-child a {
	display: block;
	width: 37px;
	height: 47px;
	overflow: hidden;
}
#hero .slider-wrapper .paginator-wrapper {
	background: url(../img/img-content-shadow-1px.png) repeat-x top;
	padding: 20px 0 0;
	font-size: 0;
}
#hero .slider-wrapper .paginator-wrapper .paginator {
	text-align: center;
	height: 11px;
}
#hero .slider-wrapper .paginator-wrapper .paginator a {
	display: inline-block;
	padding: 0 5px;
	vertical-align: middle;
}
#hero .slider-wrapper .paginator-wrapper .paginator a span {
	display: inline-block;
	width: 11px;
	height: 11px;
	overflow: hidden;
}
#hero .slider-wrapper .slide-pause {
	position: absolute;
	width: 100%;
	top: 480px;
	text-align: right;
}
#hero .slider-wrapper .slide-pause .container {
	height: 0;
}
#hero .slide-controller .first-child a:hover, #hero .slide-controller .last-child a:hover {
	background-repeat: no-repeat;
}
#hero .slide-controller .first-child a:hover img, #hero .slide-controller .last-child a:hover img {
	opacity: 0;
	filter: alpha(opacity=0);
}
#hero .slide-controller .first-child a.btn-grey:hover {
	background-image: url(/common/global-libs/images/btn-arrow-black-left.png);
}
#hero .slide-controller .last-child a.btn-grey:hover {
	background-image: url(/common/global-libs/images/btn-arrow-black-right.png);
}
#hero .slide-controller .first-child a.btn-black:hover {
	background-image: url(/common/global-libs/images/btn-arrow-grey-left.png);
}
#hero .slide-controller .last-child a.btn-black:hover {
	background-image: url(/common/global-libs/images/btn-arrow-grey-right.png);
}

/* buttonsOnSlider */
#hero.buttonsOnSlider {
	padding-bottom: 0;
	position: relative;
	background-color: #343434;
	min-height: 470px;
}
#hero.buttonsOnSlider .slider-wrapper .paginator-thumb-control {
	position:absolute;
	bottom:10px;
	width:100%;
}
#hero.buttonsOnSlider .slider-wrapper .paginator-thumb-control .slide-pause {
	top: 0;
}

#hero.buttonsOnSlider .slider-wrapper .paginator-thumb-control .paginator-wrapper {
	background: none;
	padding:8px 0;
}
@media only screen and (max-width:640px) and (max-device-width:1280px){
	#hero {
		min-height:0!important;
	}
	#hero.buttonsOnSlider {
		padding-bottom:62px;
	}
	#hero:before {
		content:"";
		display:block;
		height:5px;
		width:100%;
		position:absolute;
		background-image:url(/13ptop/index/img/img-content-shadow-1px-m.png);
		background-size:1px 5px;
		background-repeat:repeat-x;
		z-index:2;
		top:0;
	}
	#hero .slide-block {
		min-height:0;
	}
	#hero .style-dark {
		color:#fff;
	}
	#hero .style-light {
		color:#fff;
	}
	#hero .slider-wrapper {
	}
	#hero .slide-block {
		position:relative;
		float:left;
	}
	#hero .hero-image {
		height:167px;
		text-align:center;
		overflow:hidden;
		background-color:#000;
	}
	#hero .hero-image > .container > span {
		display:inline-block;
		margin-left:-112px;
		margin-right:-112px;
	}
	#hero .hero-image > .container > span img {
		height:167px;
	}
	#hero .slide-block .container {
	}
	#hero .slide-controller {
		position:absolute;
		top:210px;
		width:100%;
		height:0;
		display:none;
	}
	#hero .slide-controller .first-child {
		float:left;
	}
	#hero .slide-controller .last-child {
		float:right;
	}
	#hero .slide-controller .first-child a, #hero .slide-controller .last-child a {
		display:block;
		width:37px;
		height:47px;
		overflow:hidden;
	}
	#hero.buttonsOnSlider .slider-wrapper .paginator-thumb-control {
		bottom:0;
	}
	#hero .slider-wrapper .paginator-wrapper {
		font-size:0;
		padding:25px 0!important;
	}
	#hero .slider-wrapper .paginator-wrapper .paginator {
		text-align:center;
		height:12px;
	}
	#hero .slider-wrapper .paginator-wrapper .paginator img {
		display:none;
	}
	#hero .slider-wrapper .paginator-wrapper .paginator a {
		display:inline-block;
		padding:0 2px;
		vertical-align:middle;
	}
	#hero .slider-wrapper .paginator-wrapper .paginator a span {
		display:inline-block;
		overflow:hidden;
		width:12px;
		height:12px;
		background-image:url(/common/global-libs/images/icn-slideshow-dot-grey-off-m.png);
		background-position :left top;
		background-size:12px 12px;
	}
	#hero .slider-wrapper .paginator-wrapper .paginator .selected span {
		background-position :left top;
		background-image:url(/common/global-libs/images/icn-slideshow-dot-grey-on-m.png);
	}
	#hero .slider-wrapper .slide-pause {
		position:absolute;
		width:100%;
		top:480px;
		text-align:right;
		display:none;
	}
	#hero .slider-wrapper .slide-pause .container {
		height:0;
	}
	#hero .slide-controller .first-child a:hover, #hero .slide-controller .last-child a:hover {
		background-repeat:no-repeat;
	}
	#hero .slide-controller .first-child a:hover img, #hero .slide-controller .last-child a:hover img {
		opacity:0;
		filter:alpha(opacity=0);
	}
	#hero .slide-controller .first-child a.btn-grey:hover {
		background-image:url(/common/global-libs/images/btn-arrow-black-left.png);
	}
	#hero .slide-controller .last-child a.btn-grey:hover {
		background-image:url(/common/global-libs/images/btn-arrow-black-right.png);
	}
	#hero .slide-controller .first-child a.btn-black:hover {
		background-image:url(/common/global-libs/images/btn-arrow-grey-left.png);
	}
	#hero .slide-controller .last-child a.btn-black:hover {
		background-image:url(/common/global-libs/images/btn-arrow-grey-right.png);
	}
}
/************************** category-nav *****************************/

#category-nav {
	background-image:url(/13ptop/index/img/navi-icn_bg.png);
}
#category-nav .area-search {
	background-color:rgba(159,159,159,0.51);
	padding-top:18px;
	padding-bottom:18px;
}
#category-nav .area-search a {
	color:#1f1f1f;
}
#category-nav .area-search a:hover {
	text-decoration:underline;
}
#category-nav .area-search .search-layout-tab {
	display:table;
	width:100%;
}
#category-nav .area-search .search-layout-tab > div {
	display:table-cell;
	vertical-align:middle;
}
#category-nav .area-search .search-layout-tab > .search-label {
	width:132px;
	text-align:center;
}
#category-nav .area-search .search-layout-tab > .search-label span {
	display:block;
	font-size:14px;
	padding:12px 0;
	border-left:1px solid #bdbdbd;
	border-right:1px solid #bdbdbd;
}
#category-nav .area-search .search-layout-tab > .search-box {
	width:497px;
	text-align:center;
	padding:0 32px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
#category-nav .area-search .search-layout-tab > .search-box .gsc-search-box {
	margin-bottom:0;
}
#category-nav .area-search .search-layout-tab > .search-suggest {
	font-size:0;
}
#category-nav .area-search .search-layout-tab > .search-suggest iframe {
	height:34px;
	overflow:hidden;
}
#category-nav .area-search .search-layout-tab > .search-suggest ul {
	height:32px;
	overflow:hidden;
}
#category-nav .area-search .search-layout-tab > .search-suggest li {
	display:inline-block;
	font-size:12px;
	padding:2px 0.5em;
}
#category-nav .area-search .search-layout-tab
#category-nav nav a {
	color: #fff;
}
#category-nav nav img {
	vertical-align: bottom;
}
#category-nav nav {
	margin-left:-15px;
	margin-right:-15px
}
#category-nav nav > ul {
	display:table;
	width:100%;
	table-layout:fixed;
}
#category-nav nav > ul > li {
	position: relative;
	text-align: center;
	display:table-cell;
	vertical-align:middle;
	padding-top:18px;
	padding-bottom:18px;
}
#category-nav nav > ul:first-child > li:first-child {
	/*border-left: 1px solid #ffffff;*/
}
#category-nav nav > ul > li > a {
	display: block;
}
#category-nav nav > ul > li > ul {
}
#category-nav nav > ul > li > ul > li {
	font-size: 0;
	line-height: 0;
}
#category-nav nav > ul > li > ul > li > a {
	display: inline-block;
}
#category-nav nav > ul > li > ul > li.nav-lastChild {
	margin-top: 11px;
}
#category-nav a:hover img {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
@media only screen and (max-width:640px) and (max-device-width:1280px){
	#category-nav {
		-webkit-background-size:cover;
		background-size:cover;
	}
	#category-nav .area-search {
		padding-top:10px;
		padding-bottom:10px;
	}
	#category-nav .area-search .search-layout-tab > .search-label span {
		padding:11px 10px;
		font-size:10px;
		white-space:nowrap;
		border-left:none;
	}
	#category-nav .area-search .search-layout-tab > .search-box {
		width:99%;
		padding:0 10px;
	}
	#category-nav .area-search .search-layout-tab > .search-suggest {
		display:none;
	}
	#category-nav {
		padding:0;
	}
	#category-nav nav {
		margin:0;
		padding:5px;
	}
	#category-nav nav > ul {
		display:block;
		font-size:0;
	}
	#category-nav nav > ul > li {
		display:inline-block;
		padding:5px;
		width:25%;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		vertical-align:top;
	}
	#category-nav nav > ul > li  a {
		display:block;
	}
	#category-nav nav > ul > li > a > img:first-child {
		height:auto;
	}
	#category-nav nav ul > li > a > span {
		display:block;
		color:#FFF;
		font-size:10px;
		text-align:center;
		line-height:1.2;
	}
	#category-nav nav > ul > li > ul > li {
		padding:6px 0;
	}
}

/**************************ptopContents *****************************/

#ptopContents {
	background-color: #ffffff;
	padding: 27px 0 54px;
}
#ptopContents a:hover img {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
@media only screen and (max-width:640px) and (max-device-width:1280px){
	#ptopContents {
		background-color: #ffffff;
		padding: 10px 0 27px;
	}
}
/**************************main-contents *****************************/
#main-contents {
	position:relative;
}
#main-contents:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}
/**************************feature-panels *****************************/

#feature-panels {
	width: 630px;
	float: left;
	margin-bottom:40px;
}


#feature-panels .notice,
#feature-panels .notice2{
	margin-bottom:15px;
}
#feature-panels .notice2{
	border:#ccc 1px solid;
	padding:15px;
}
#feature-panels .notice span,
#feature-panels .notice2 span{
	display:block;
	font-size:16px;
	line-height:1.5;
/*
	font-family: '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN','HG明朝E','ＭＳ Ｐ明朝','ＭＳ 明朝',serif;
*/
	margin-bottom:8px;
}
#feature-panels .notice a,
#feature-panels .notice2 a{
	font-size:14px;
	line-height:1.5;
}


#feature-panels > ul {
	position:relative;
	margin:0 -18px;
}
#feature-panels > ul:after {
	content: "";
	display: block;
	height: 0;
	overflow: hidden;
	clear: both;
}
#feature-panels > ul li {
	width: 184px;
	height: 200px;
	overflow:hidden;
	display: block;
	padding:0 18px;
	/*	margin-bottom:13px;*/
	float: left;
}
#feature-panels > ul li > a {
	display: block;
	color: #333333;
}
#feature-panels > ul li > a:hover h3,
#feature-panels > ul li > a:hover span {
	color: #00a6c9;
}
#feature-panels > ul li img {
	display: block;
	margin-bottom: 10px;
}
#feature-panels > ul li h3 {
	padding-left: 4px;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	/*margin-bottom:23px;*/
	margin-bottom: 18px;
}
#feature-panels > ul li span {
	padding-left: 4px;
	font-size: 12px;
	display: inline-block;
	color: #333333;
	line-height: 1.5;
}

#feature-panels > ul li span sup {
	font-size: 9px;
	vertical-align: text-top;
	line-height: 4px;
}

#feature-panels > ul li.advance-panels_4x4{
	width: 381px;
	height: 479px;
	overflow: hidden;
	display: block;
	margin-left:0;
	position:absolute;
	z-index:1000;
/*	margin-bottom:13px;*/
}
#feature-panels > ul li.advance-panels_num-02{
	top:0;
	left:197px;
}
@media only screen and (max-width:640px) and (max-device-width:1280px){
	#feature-panels {
		width: auto;
		float: none;
		padding-left:10px;
		padding-right:10px;
		margin-bottom:20px;
	}
	#feature-panels > ul {
		margin-left:-5px;
		margin-right:-5px;
	}
	#feature-panels > ul li {
		width: 33.3333333%;
		height: auto;
		margin-left: 0;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		padding-left:5px;
		padding-right:5px;
	}
	#feature-panels > ul li:nth-child(3n+1){
		clear:both;
	}
	#feature-panels > ul li > a > span {
		display:none;
	}
	#feature-panels > ul li h3 {
		color:#00a0c6;
	}
}

#sns-panels {
	width: 630px;
	float: left;
	margin-bottom:40px;
}
#sns-panels a {
	color:#1f1f1f;
}
#sns-panels a:hover {
	text-decoration:underline;
}
#sns-panels .title-area {
	overflow:hidden;
	margin-bottom:1em;
}
#sns-panels .title-area h2 {
	font-size:14px;
	float:left;
}
#sns-panels .title-area .link-sns-all {
	font-size:12px;
	float:right;
}
#snscontents-area2 ul {
	display:table;
	width:100%;
	border-collapse:collapse;
	border-spacing:0;
	overflow:hidden;
}
#snscontents-area2 ul li {
	display:table-row;
	background-color:#f0f0f0;
	border-bottom:5px solid #fff;
}
#snscontents-area2 ul li > div {
	display:table-cell;
	vertical-align:middle;
	height:36px;
}
#snscontents-area2 ul li > div.name {
	padding-left:37px;
	width:207px;
}

@media only screen and (max-width:640px) and (max-device-width:1280px){
	#sns-panels {
		width: auto;
		float: none;
		margin-bottom:0;
		padding:10px;
	}
	#sns-panels .title-area {
		overflow:hidden;
		margin-bottom:1em;
	}
	#sns-panels .title-area h2 {
		font-size:14px;
		float:left;
	}
	#sns-panels .title-area .link-sns-all {
		font-size:12px;
		float:right;
	}
	#snscontents-area2 ul li > div.name {
		padding-left:3px;
		padding-right:3px;
		width:auto;
	}
	#snscontents-area2 ul li > div.name img {
		height:24px;
	}
}

/************************** contents-panels ****************************/

#contents-panels {
	float: right;
	width: 298px;
	padding-top:20px;
}
/* renewal15 */
#contents-panels.renewal15 {
	padding-top:0;
}
@media only screen and (max-width:640px) and (max-device-width:1280px){
	#contents-panels {
		float: none;
		width: auto;
		padding:10px;
		text-align:center;
	}
}

/************************** comlink-panels *****************************/

#comlink-panels {
	position:absolute;
	left:0;
	bottom:0;
	width:578px;
	border-top: 1px solid #666666;
	padding-top:25px;
	padding-bottom:10px;
}
#comlink-panels ul {
	display:table;
	width:100%;
}
#comlink-panels ul > li {
	display:table-cell;
	text-align:center;
}
@media only screen and (max-width:640px) and (max-device-width:1280px){
	#comlink-panels {
		position:static;
		width:auto;
		border:none;
		padding:0 10px;
		margin:15px 0;
	}
	#comlink-panels ul {
		display:block;
		width:100%;
		overflow:hidden;
	}
	#comlink-panels ul > li {
		display:block;
		margin-top:10px;
	}
}

/************************** important-info ****************************/

#important-info {
	margin-bottom: 22px;
}
#important-info li a {
	/*position: relative;
	border: 1px solid #cccccc;
	height: 29px;
	color: #ff0000;
	display: block;
	text-align: center;
	border-radius: 30px;
	-pie-border-radius: 30px;
	behavior:url(/common/global-libs/css/PIE.htc);
}
#important-info li a span {
	display: inline-block;
	vertical-align: baseline;
	font-size: 13px;
	font-weight: bold;
}
#important-info li a img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;*/
}
/* renewal15 */
.renewal15 #important-info {
	margin-bottom:8px;
}
@media only screen and (max-width:640px) and (max-device-width:1280px){
	#important-info {
		margin-bottom: 0;
	}
	#important-info li a {
		border:none;
		padding:18px 0;
		height:auto;
	}
}
/************************** clubPanasonic ****************************/

#clubPanasonic {
	height: 96px;
	width: 298px;
	position: relative;
}
#clubPanasonic h2 {
	margin-top: 29px;
}
#clubPanasonic h2 img {
	display: block;
}
#clubPanasonic ul {
	display: inline-block;
	position: absolute;
	top: 17px;
	left: 182px;
}
#clubPanasonic ul li {
	margin-bottom: 13px;
}
#clubPanasonic ul li a img {
	display: block;
}
/* renewal15 */
.renewal15 #clubPanasonic {
	padding-top:12px;
	height:49px;
}
.renewal15 #clubPanasonic h2 {
	margin-top:0;
}
.renewal15 #clubPanasonic ul {
	top: 11px;
}
.renewal15 #clubPanasonic ul li {
	margin-bottom: 0;
	margin-top:16px;
}
.renewal15 #clubPanasonic ul li:first-child {
	margin-top:0;
}
@media only screen and (max-width:640px) and (max-device-width:1280px){
	#clubPanasonic h2 img {
		display:inline-block;
	}
	.renewal15 #clubPanasonic {
		padding-bottom:12px;
		height: auto;
		width: auto;
		text-align:center;
	}
	.renewal15 #clubPanasonic ul {
		position: static;
		overflow:hidden;
		margin:16px auto 0;
		display:inline-block;
	}
	.renewal15 #clubPanasonic ul li {
		margin:0 10px;!important;
		float:left;
	}
}
/************************** myMall ****************************/

#myMall {
	border-top: 1px solid #666666;
	width: 378px;
	height: 65px;
}
#myMall h2 img, #myMall span img {
	display: block;
}
#myMall > a {
	display: block;
	height: 65px;
	width: 378px;
	position: absolute;
}
#myMall h2 {
	position: relative;
	top: 15px;
	margin-bottom: 10px;
	left: 0;
}
#myMall span {
	position: absolute;
	top: 15px;
	right: 29px;
}
/* renewal15 */
.renewal15 #myMall {
	height:auto;
}
.renewal15 #myMall > a {
	position:static;
	height:auto;
}
.renewal15 #myMall h2 {
	position:static;
	margin-bottom:0;
	padding-top:11px;
	padding-bottom:4px;
}
@media only screen and (max-width:640px) and (max-device-width:1280px){
	#myMall,
	#myMall > a  {
		width: auto;
		text-align:center;
	}
	#myMall h2 img, #myMall span img {
		display: inline-block;
	}
}
/************************** campaign ****************************/

.renewal15 #campaign {
}
.renewal15 #campaign a {
	display:block;
}
.renewal15 #campaign h2 {
	padding-bottom:8px;
}
@media only screen and (max-width:640px) and (max-device-width:1280px){
	.renewal15 #campaign {
		border-top: 1px solid #666666;
		text-align:center;
	}
	.renewal15 #campaign h2 {
		padding-top:8px;
		padding-bottom:8px;
	}
}
/************************** touristModel ****************************/

#touristModel {
	border-top: 1px solid #666666;
}
#touristModel a {
	display:block;
}
#touristModel h2 {
	padding-top:8px;
	padding-bottom:8px;
}

/************************** sumaiPanasonic ****************************/

#sumaiPanasonic {
	border-top: 1px solid #666666;
	width: 378px;
	height: 150px;
	position: relative;
}
#sumaiPanasonic h2 {
	margin-top: 16px;
}
#sumaiPanasonic h2 img, #sumaiPanasonic ul img, #sumaiPanasonic ul span {
	display: block;
}
#sumaiPanasonic ul {
	position: absolute;
	left: 12px;
	top: 63px;
}
#sumaiPanasonic ul li {
	margin-bottom: 12px;
}
#sumaiPanasonic span {
	position: absolute;
	top: 16px;
	left: 260px;
}
/* renewal15 */
.renewal15 #sumaiPanasonic {
	height:auto;
	width:auto;
	overflow:hidden;
	padding-top:12px;
	padding-bottom:12px;
	min-height:70px;
}
.renewal15 #sumaiPanasonic h2 {
	margin-top: 0;
	margin-left:93px;
}
.renewal15 #sumaiPanasonic ul {
	position:static;
	margin-left:103px;
}
.renewal15 #sumaiPanasonic ul li {
	margin-bottom: 0;
	margin-top:8px;
}
.renewal15 #sumaiPanasonic span {
	top:14px;
	left:0;
}

/************************** mainVisualBnr ****************************/

#mainVisualBnr {
}
#mainVisualBnr li {
	margin-top:10px;
}
@media only screen and (max-width:640px) and (max-device-width:1280px){
	#mainVisualBnr {
		padding:10px;
		background-color:#f5f5f5;
	}
	#mainVisualBnr li:first-child {
		margin-top:0;
	}
}
/************************** cards ****************************/
#cards {
	width: 298px;
	height: 114px;
	padding-top: 21px;
}
#cards a {
	display: block;
	float: left;
	width: 145px;
	height: 54px;
	position: relative;
}
#cards a img:first-child {
	position: absolute;
	top: 0;
	left: 0;
}
#cards a img.last-child {
	position: absolute;
	top: 0;
	left: 50px;
}
#cards a img {
	display: block;
}
/* renewal15 */
.renewal15 #cards {
	border-top: none;
	width: auto;
	height: auto;
	padding-top: 0;
	padding-bottom:10px;
	overflow:hidden;
}
.renewal15 #cards li {
	float:left;
	width:50%;
	margin-top:10px;
}
.renewal15 #cards a {
	display: inline;
	float: none;
	width: auto;
	height: auto;
	position: static;
}
.renewal15 #cards a img:first-child {
	position:static;
}

/************************** strip ****************************/

#strip {
}
#strip li {
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	height: 53px;
	text-align: right;
	position: relative;
}
#strip li img {
	line-height: 1;
	font-size: 0;
}
#strip li:first-child {
	margin-bottom: 14px;
}
#strip li a {
	display: block;
	height: 53px;
}
#strip h2 {
	position: absolute;
	top: 10px;
	left: 18px;
}
#strip span {
	position: absolute;
	top: 29px;
	left: 18px;
}
#strip h2 img, #strip span img {
	display: inline-block;
}
/* renewal15 */
.renewal15 #strip {
	border-top: 1px solid #666666;
	padding-top: 10px;
	padding-bottom:10px;
	overflow:hidden;
}
.renewal15 #strip li {
	border:none;
	height: auto;
	text-align: center;
	position: static;
	margin-bottom: 0;
	float:left;
	width:50%;
}
.renewal15 #strip li a {
	display: inline;
	height: auto;
}
.renewal15 #strip h2 {
	position: static;
}
.renewal15 #strip span {
	position: static;
}

/************************** general-box ****************************/
.general-box{
	margin-top:18px;
}

.general-box li{
	margin-top:12px;
}

.general-box li:first-child{
	margin-top:0;
}

.general-box a{
	display:block;
	vertical-align:top;
}
/* renewal15 */
.renewal15 .general-box{
	margin-top:0;
}
.renewal15 .general-box li {
	margin-top:10px;
}
.renewal15 .general-box li:first-child{
	margin-top:0;
}
@media only screen and (max-width:640px) and (max-device-width:1280px){
	.renewal15 .general-box{
		margin-top:18px;
	}
}

/************************** news-info *****************************/

#news-info {
	margin-top: 27px;
	background-color: #f5f5f5;
	padding: 30px 45px 45px;
}
#news-info > div {
	margin-top: 20px;
}
#news-info > div:first-child {
	margin-top: 0;
	border-bottom: 1px solid #cccccc;
	padding-bottom: 20px;
}
#news-info .title-area h2 {
	color: #333;
	font-size: 14px;
	border: 1px solid #ccc;
	padding: 6px 13px 3px 16px;
	font-weight: bold;
	display: inline-block;
	width: 160px;
	vertical-align: bottom;
	position: relative;
}
#news-info .title-area h2 a {
	color: #333;
}
#news-info .title-area .rssLink {
	display: inline-block;
	margin-left: 35px;
	position: absolute;
}
#news-info dl {
	margin-top: 10px;
	padding: 0;
}
#news-info dl.item0 {
	margin-top: 12px;
}
#news-info dl dd, #news-info dl dt {
	font-size: 12px;
	line-height: 17px;
}
#news-info dl dt {
	float: left;
	color: #999999;
}
#news-info dl dd > a {
	color: #333333;
}
#news-info dl dd > a:hover {
	text-decoration: underline;
	color: #00a6c9;
}
#ptop-news dd {
	margin-left: 5.5em;
}
#ptop-info dd {
	margin-left: 9em;
}

#ptop-info #info_contents_ex dd {
	text-indent: -9.0em;
	margin-left: 9em;
}
@media only screen and (max-width:640px) and (max-device-width:1280px){
	#news-info {
		margin: 0 10px;
		padding: 30px 15px 45px;
	}
	#news-info .title-area h2 {
		width: auto;
	}
	#news-info .title-area .rssLink {
		display:none;
	}
	#news-info dl dt {
		float: none;
	}
	#ptop-news dd {
		margin-left: 0;
	}
	#ptop-info dd {
		margin-left: 0;
	}
}
/************************** bottom_note *****************************/

#bottom_note {
	font-size: 11px;
	color: #333333;
	line-height: 1.4;
	padding: 26px 56px 0;
}
#bottom_note dl {
	margin-top: 10px;
	padding: 0 9px;
}
#bottom_note dl.item0 {
	margin-top: 20px;
}
#bottom_note dl dt {
	float: left;
}
#bottom_note dd {
	margin-left: 2em;
}
@media only screen and (max-width:640px) and (max-device-width:1280px){
	#bottom_note {
		padding: 10px;
	}
}
/************************** support *****************************/

#support {
	overflow:hidden;
	zoom:1;
}
#support a {
	color: #2d2d2d;
}
#support .container > p {
	margin-top: 50px;
	text-align: center;
}
#support .support-links {
	overflow: hidden;
}
#support .support-links li {
	float: left;
	vertical-align: middle;
	display: inline-block;
	/*padding-top: 12px;*/
}
#support .support-links li:first-child {
	margin-right: 90px;
}
#support .support-links li a {
	display: block;
	font-size: 18px;
}
#support .support-links li img {
	vertical-align: middle;
	display: inline-block;
	margin-right: 12px;
}
#support .support-links li.last-child {
	float: right;
	padding-top: 0;
}
/*#support .support-links li dl {
	display:inline-block;
	padding:0 0 0 35px;
	width:287px;
	vertical-align:middle;
}
#support .support-links li dl dt {
	font-size:18px;
	margin-bottom:20px;
}
#support .support-links li dl dd {
	font-size:12px;
	line-height:17px;
}*/

#support .support-links li .saftyuse {
	margin-bottom: 20px;
}
#support .support-links li .saftyuse a {
	font-size: 14px;
	line-height: 1.2;
}
#support .support-links li .saftyuse img {
	vertical-align: middle;
	display: inline-block;
	margin-right: 10px;
}
#support .support-links li .saftyuse span {
	vertical-align: middle;
	display: inline-block;
}
#support .support-links li .caution-funheater {
	text-align: center;
	margin-bottom:17px;
}
#support .support-links li .caution-funheater a {
	width:435px;
	position: relative;
	display: inline-block;
	background-color: #fff;
	padding: 8px 15px;
	border-radius: 30px;
	-pie-border-radius: 30px;
	behavior: url(/common/global-libs/css/PIE.htc);
	color: #f00;
	font-size: 14px;/*	font-weight:bold;*/
}
#support a:hover img {
	opacity: 0.7;
	filter: alpha(opacity=70);
}

@media print {
.copyguard {
visibility:hidden!important;;
}
}

/* kaden 20140731*/

#support{
	height:160px;
}
#support .support-links li.bottom{
	float:none;
}


#support .left{
	float:left;
	width:500px;
	overflow:hidden;
	zoom:1;
}
#support .left p{
	margin-top:20px;
	text-align:center;
	display:block;
	font-size:14px;
}


#support .right{
	float:right;
	width:470px;
	overflow:hidden;
	zoom:1;
}
#support .right .funheater{
	margin-bottom:15px;
}

@media only screen and (max-width:640px) and (max-device-width:1280px){
#support{
	height:auto;
	text-align:center;
	padding:0 10px;
}
#support .support-links li {
	float: none;
	display: inline-block;
	margin-right: 0!important;
	margin-top:18px;
}
#support .left{
	float:none;
	width:auto;
}
#support .right{
	margin-top:20px;
	float:none;
	width:auto;
}
}

/* */

#siteenq {
	margin-top:15px;
	border-top: 1px solid #666666;
	border-bottom: 1px solid #666666;
	width: 378px;
	height: 41px;
	font-size:0.75em;
	text-align:center;
}
/* renewal15 */
.renewal15 #siteenq {
	margin-top:0;
	border-bottom:none;
}
#linkarea{
	margin-top:5px;
	padding:15px 0 0;
	width: 378px;
	text-align:center;
}

#linkarea p{
	margin-bottom:15px;
}
