@charset "gb2312";
body{background-color:#ffffff;}
#head{
	width:100%;
	margin: 0 auto;
	padding:0;
	position: relative;
	}
#mainbody{
	width:1000px;
	margin: 0 auto;
	padding:0;
	position: relative;
	background: #fff;
	}	
.main {
	width:1000px;
	margin: 0 auto;
	position: relative;
	background: #fff;
}
/*------------------------------页面元素------------------------------**/
#headMenu {
	position: relative;
	z-index: 3;
}
.toolBar {
	border-bottom: 1px solid #e8e8e8;
	background: #f8f8f8;
	position: relative;
 *z-index: 2;
}
.topNav {
	height: 34px;
	position: relative;/*z-index: 2;*/
	}
.navList li {
	float: left;
	position: relative;
	margin: 0 3px;
}
.navList li .one .icon {
	width: 7px;
	height: 5px;
	margin-left: 5px;
 *left: 3px;
 *top: -3px;
	_top: 7px;
	_margin: 9px 0 10px;
	background-position: -103px -40px;
	transform: rotate(0deg);
	transition-duration:0.3s;
	-o-transform: rotate(0deg);
	-o-transition-duration:0.3s;
}
.navList li .one a {
	border-left: 1px solid #f8f8f8;
	border-right: 1px solid #f8f8f8;
	padding: 0 8px;
	text-decoration: none;
}
.navList li .two {
	position:absolute;
	top: 35px;
	_top: 34px;
	background: #fff;
	border: 1px solid #ddd;
	border-top: 0;
	display: none;
	padding-bottom: 5px;
	z-index: 22;
	min-width:76px;
}
.navList li .two a {
	display: block;
	padding: 0 8px;
	margin: 5px 0;
	color: #666;
	white-space: nowrap;
}
.navList li.hover .one a {
	background: #fff;
	border-color: #ddd;
	border-bottom: 1px solid #fff;
	_border-bottom: 0;
}

.navList li.hover .two {
	display: block;
}
.navList li .one a, .navUser a {
	display: inline-block;
	height: 34px;
	line-height: 34px;
	color: #555;
}
.navList li.watch {
	padding-left: 20px;
	_padding-left: 17px;
}
.navList li.watch .icon {
	position: absolute;
	top: 10px;
 +top: 8px;
	_top: 1px;
	left: 0;
	width:18px;
	height: 14px;
	background-position: -129px 0;
}
.topNav a:hover, .topNav li a:hover {
	color: #d81517;
}
#jb51_topbar{float:right;}
#jb51_topbar .userbar{float:right;white-space:nowrap; background-color:white;height:30px;}
#jb51_topbar .userbar a{float:left;display:inline;margin:3px 15px 0 15px;height:20px;line-height:20px;text-decoration: none;color:#red;}
#jb51_topbar .userbar a:link,#jb51_topbar .userbar a:visited{color:#red;}
#jb51_topbar .userbar a:hover,#jb51_topbar .userbar a:active{color:#d81517;cursor:pointer;}
#jb51_topbar .userbar img {position: absolute;top: -2px;right: -15px;}
.logo {float: left;	}
.logom{padding-left:12px;BACKGROUND: #fff;VERTICAL-ALIGN: middle;OVERFLOW: hidden;HEIGHT: 72px;TEXT-ALIGN: right;LINE-HEIGHT: 72px; padding-top:6px;}
.logor{BACKGROUND: #fff;VERTICAL-ALIGN: middle;OVERFLOW: hidden;WIDTH: 380px;HEIGHT: 72px;TEXT-ALIGN: right;LINE-HEIGHT: 72px; padding-top:6px;}

.nav_top {margin: 0 auto;HEIGHT: 36px; LINE-HEIGHT: 36px; BACKGROUND: #3784cb; FONT-SIZE: 14px; OVERFLOW: hidden; clear:both}
.nav_top UL LI {padding:0; margin: 0px;DISPLAY: block; FLOAT: left; float: left; overflow: hidden; height:36px;LINE-HEIGHT: 36px;}
.nav_top UL LI A {
	padding:0 11px; display:block; float:left; HEIGHT: 36px;LINE-HEIGHT: 36px; COLOR: #ffffff; font-size:14px;
}
.nav_top UL LI.current A {
	BACKGROUND: #FF6600; COLOR: #fff; text-decoration:none; 
}
.nav_top UL LI.current A:hover {
	BACKGROUND: #06569f; COLOR: #fff; text-decoration:none; 
}
.nav_top UL A:hover {
	BACKGROUND: #2294EA; COLOR: #fff; text-shadow: #c48402 0px 1px 2px; text-decoration:none
}
.nav_top UL LI.last {
	BACKGROUND: #87c80c; FLOAT: right
}
.nav_top UL LI.last A:hover {
	BACKGROUND: #87c80c;text-decoration:none
}
.subnav{margin: 0 auto;border:1px solid #BCD5E5;LINE-HEIGHT: 35px; BACKGROUND: #F6FBFF; HEIGHT: 35px; FONT-SIZE: 12px; OVERFLOW: hidden; clear:both}
.subnav UL LI {	ZOOM: 1; DISPLAY: inline; FLOAT: left;}
.subnav UL LI A { color:#666666; margin-left:8px}
.subnav IFRAME{PADDING-RIGHT: 0;PADDING-LEFT: 0;PADDING-BOTTOM: 0;MARGIN: 0;LINE-HEIGHT: 23px;PADDING-TOP: 0;HEIGHT: 23px;}
.subnav2 UL{PADDING-RIGHT: 0;PADDING-LEFT: 0;PADDING-BOTTOM: 0;MARGIN: 0;PADDING-TOP: 0;}
.subnav2 UL LI{FLOAT: left;LINE-HEIGHT: 23px;margin-right: 10px;display: inline;}
#tonglan1{MARGIN: 0 auto;padding: 0;clear: both;}
.search{BORDER: #1C91DB 1px solid; MARGIN: 5px auto; HEIGHT: 28px; line-height:28px; border-radius: 2px 2px 2px 2px; width:298px; text-align:right; overflow:hidden; clear:both}
.key_input {BORDER: none; HEIGHT: 24px;LINE-HEIGHT: 24px; MARGIN-TOP: 3px; WIDTH: 239px; BACKGROUND: #fff; COLOR: #999; MARGIN-LEFT: 1px; FONT-SIZE: 12px;}
.c_btn {
BORDER-BOTTOM: #d9d9d9 0px; BORDER-LEFT: #d9d9d9 0px; PADDING-BOTTOM: 6px; MARGIN: 0px; PADDING-LEFT: 12px; WIDTH: 50px; PADDING-RIGHT: 12px; BACKGROUND: #1C91DB; HEIGHT: 28px; COLOR: #FFFFFF; FONT-SIZE: 12px; VERTICAL-ALIGN: top; BORDER-TOP: #d9d9d9 0px; CURSOR: pointer; BORDER-RIGHT: #d9d9d9 0px; PADDING-TOP: 6px; border-image: none; }
.NavBar{ clear:both}
.NavBar .box .icon {width: 14px;height: 12px;background-position: -100px -26px;margin: 0 3px 0 0;position: relative;top: 1px;_top: 0px;}
.tonglanad{background:url(http://img.jb51.net/images/tgbd.gif) right top no-repeat; BORDER: #BED2E4 1px solid;WIDTH: 998px;margin: 0 auto;}
.lbd{width:680px;margin:0 auto; text-align:center; margin:5px auto}
.r300{width:300px; overflow:hidden}
#txtlink{border: 1px solid #BED2E4; zoom:1;background: url(images/gg.png) no-repeat bottom right #fff;}
#tonglan3{CLEAR: both;MARGIN: 0 auto;}
#tonglan6{CLEAR: both;MARGIN: 0 auto;}
#txtlink UL{}
#txtlink LI{PADDING-LEFT: 18px;BACKGROUND: url(http://img.jb51.net/images/bgall.gif) no-repeat 8px -165px;FLOAT: left;MARGIN: 0;WIDTH: 230px;HEIGHT: 22px;LINE-HEIGHT: 22px;LIST-STYLE: none;TEXT-ALIGN: left;OVERFLOW: hidden;}
#txtlink LI A,#txtlink UL LI A:visited{color: #10326b;}
#txtlink LI A:hover{color: red;}
.dxy728{DISPLAY: inline;float: right;OVERFLOW: hidden;text-align: right;border: 1px solid #a2b7db;padding: 1px;background: #FFF;}
.dxy230{DISPLAY: inline;FLOAT: left;WIDTH: 260px;text-align: left;overflow: hidden;border: 1px solid #a2b7db;padding: 1px;}
.topimg{HEIGHT: 64px;BORDER: #aacbee 1px solid;overflow: hidden;}
.topimg ul{padding: 0;margin-top: 2px;}
.topimg ul li{margin:0 6px 0 6px;padding: 0;display: inline;float: left;}
.topimg ul li IMG{WIDTH: 237px;HEIGHT: 60px;}

#logo_m_tp,#logo_r_tp,#tonglan1_tp,#tongji{display:none}

.tese LI{FLOAT: left;MARGIN: 10px 5px 5px 5px;list-style:none}
.tese LI.search-hot{PADDING-LEFT: 5px;OVERFLOW: hidden;WIDTH: 550px;LINE-HEIGHT: 23px;HEIGHT: 23px;}
.tese LI.search-hot SPAN{COLOR: #eb6100;}
.tese LI.search-hot A{COLOR: #0472bc;MARGIN-RIGHT: 5px;}
.tese LI.search-box{margin:0; padding-left:12px; }

/*index页样式--start*/
/*--new--*/ 
#new { width:1000px; height:500px; margin:10px auto 0 auto;}
#new .left { float:left; width:300px; height:500px; overflow:hidden;}

#slide { position:relative; border:1px solid #e0e0e0; zoom:1; float:left; width:298px; overflow:hidden; background-color:#fff;}
.slide_field { position:relative; height:183px; padding:1px;}
.slide_field li  { position: absolute; left:1px; top:1px; width:296px; height:183px; overflow:hidden;}
.slide_field b { background:url(images/slide_bar.png) no-repeat;  color:#fff; height:26px; line-height:26px; position:absolute; bottom:0; left:0; padding:0 110px 0 10px; width:176px; overflow:hidden;}
.slide_field a:hover b { text-decoration:none;}
.slide_field img { width:296px; height:183px;}
.slide_nav li { background:#4e4e4e; text-indent:1000px; _text-indent:-20px;float:left; display:inline; margin-right:5px; width:12px; height:12px; line-height:12px; color:#fff; font-size:12px; font-family:arial; font-weight:bold; text-align:center; cursor:pointer;}
.slide_nav .cur {  background-color:#fa9b1f;}
.slide_nav { position:absolute; right:5px; bottom:7px; z-index:99;}
.slide_field .s1 { z-index:3;}
.slide_field .cur { z-index:9;} 

#new .news { margin-top:10px; border:1px solid #ccc; background-color:#fff; width:298px;}
#new .news .title { height:33px; line-height:33px; border-bottom:2px solid #3784cb; background:url(images/tbg_g.png) repeat-x; font-size:14px; font-weight:bold; padding-left:10px;}
#new .news .title span { float:right; font-size:12px; font-weight:normal; margin-right:10px;}
#new .news .hhh { padding:4px 10px;}
#new .news h3 { height:30px; line-height:30px; overflow:hidden; font-size:14px;}
#new .news h3 a{ color:#333;}
#new .news .hhh p { line-height:25px; color:#999; height:50px; overflow:hidden;}
#new .news .hhh p a { color:#f08620;}
#new .news ul { padding:7px 10px;}
#new .news ul li { height:28px; line-height:28px; overflow:hidden; padding-left:10px; background:url(images/li1.jpg) no-repeat 0 12px;}
#new .news ul li span { float:right; color:#999;}
.clear { clear: both; height: 0; overflow: hidden;}
#new .middle { float:left; margin-left:10px; width:428px; height:498px; overflow:hidden; border:1px solid #ccc; background-color:#fff;}
#new .middle .title { border-bottom:1px solid #ccc; height:35px; line-height:35px; background:url(images/tbg.png) repeat-x 0 1px; _overflow:hidden;}
#new .middle .title span { float:right; line-height:34px; margin-right:10px;}
#new .middle .title li{float:left; width:90px;line-height:normal;height:34px; line-height:28px; font-size:14px; font-weight:bold; font-family:Microsoft Yahei; padding:2px 0 0 0; border-right:1px solid #ccc; text-align:center;}
#new .middle .title li h2{font-size:14px;}
#new .middle .title li a{color:#333;}
#new .middle .title .cur{ background:url(images/tbt.png) no-repeat center top #fff; cursor:pointer;}

#new .middle .soft { float:left; width:415px; height:462px; margin-top:10px;}
#new .middle .soft ul { }
#new .middle .soft ul li { height:20px; line-height:20px; padding-bottom:5px; clear:both; width:415px; float:left; font-size:14px; font-family:Microsoft Yahei;}
#new .middle .soft ul li span { float:right; color:#F20B0B;}
#new .middle .soft ul li .type { float:left; padding-right:10px; height:20px; width:70px; text-align:right; background:url(images/mline.jpg) no-repeat center right; overflow:hidden;}
#new .middle .soft ul li .type a { color:#999;}
#new .middle .soft ul li .ico { float:left; margin-left:10px; width:20px; overflow:hidden;} 
#new .middle .soft ul li .ico img { width:20px; height:20px;}
#new .middle .soft ul li .tt { float:left; margin-left:10px; width:285px; height:20px; line-height:20px; overflow:hidden;}
#new .middle .soft ul li.line { background:url(images/liline.jpg) no-repeat 10px 0;}

#new .right { float:right; width:250px; height:500px; overflow:hidden;}
#new .right .title { height:35px; line-height:35px; border-bottom:1px solid #ccc; background:url(images/tbg.png) repeat-x 0 1px; font-size:14px; font-weight:bold; padding-left:10px;}
#new .right .title span { float:right; font-size:12px; font-weight:normal; margin-right:10px;}
#new .collection { border:1px solid #ccc; background-color:#fff; height:186px; overflow:hidden;}
#new .collection ul { padding:5px 0 5px 10px;}
#new .collection ul li { float:left; height:23px; margin-right:5px; line-height:23px; overflow:hidden; padding-left:10px; background:url(images/li1.jpg) no-repeat 0 10px; width:100px;}
#new .recommended { margin-top:0px; border:1px solid #ccc; background-color:#fff; width:248px; overflow:hidden;}
#new .recommended ul { padding:5px 10px;_margin-top:5px;}
#new .recommended ul li { height:30px; line-height:30px; overflow:hidden; white-space: nowrap; text-overflow: ellipsis; }
#new .recommended ul li span { width:16px; height:15px; background:url(images/top.jpg) no-repeat; display:inline-block; line-height:15px; color:#fff; cursor:pointer; text-align:center; margin-right:5px;}
#new .recommended ul li span.active { background:url(images/top_act.jpg) no-repeat; }

.con_2{overflow:hidden;margin:0 auto; width:1000px;background:#fff;}
.con_2 .listbox{float:left;width:333px; font-size:14px;}
.con_2 .img_listbox h2,.con_2 .listbox h2{height:35px;border-bottom:3px #e5e5e5 solid;font-weight:400;font-size:1pc;line-height:35px}
.con_2 .img_listbox h2 a,.con_2 .listbox h2 a{text-decoration:none}
.con_2 .listbox h2 span.block_cate{float:left;display:block;border-bottom:3px solid #3784cb}
.con_2 .img_listbox h2 span.more a,.con_2 .listbox h2 span.more a{padding-left:0;background:0 0}
.con_2 .box2 h2{border-left:0}
.con_2 .img_listbox h2 span.more,.con_2 .listbox h2 span.more{padding-right:20px;font-weight:400;font-size:9pt}
.con_2 .listbox ul{float:left;padding:15px 0 0}
.con_2 .listbox ul li{float:left;clear:both;margin-bottom:11px;width:333px;background:url(images/v1/new_list_icon.png) left 0 no-repeat;color:#888;}
.con_2 .listbox ul li a:hover{text-decoration:underline}
.con_2 .listbox ul li a:visited{border-left:4px #e7e7e7 solid;color:#999}
.con_2 .listbox ul li span{float:right;display:block;padding-right:10px}
.con_2 .listbox ul li span.date{width:35px;font-size:9pt}
.con_2 .listbox ul li span.title{overflow:hidden;height:22px;;width:270px;}

/*category*/
#category{height:40px;line-height:40px;background:#f6f6f6;border-bottom:2px solid #3784cb;margin-bottom:10px;}
#category a{color:#444}
#category h3{float:left;background:#3784cb;color:#fff;font-size:18px;font-weight:normal;padding:0 20px;}
#category h3 a{color:#fff}
#category span{float:right;margin-right:10px;color:#c5c5c5}
#category p{font-size:14px;color:#555}

/*category box*/
.bigbox{overflow:hidden;}
.bigbox .hd{margin-bottom:6px;}
.bigbox .col-left{width:716px;height:360px;margin-right:10px;float:left;padding:0 10px;border:1px solid #e5e5e5;}
.bigbox .c-1{width:386px; height:342px; padding:10px 10px 10px 0; border-right:1px solid #dedede; float:left;}
.bigbox .c-2{width:309px; padding-left:10px; float:left; overflow:hidden;}
.bigbox .top{height:30px;line-height:30px;text-align:center;overflow:hidden;}
.bigbox .top h2{font-size:16px;}
.bigbox .c-1 .top{padding-top:6px;}
.bigbox .node{margin-top:6px;}
.bigbox .node .sub {width:65px;height:256px;padding-top:40px;float:left;display:inline;margin:5px 10px 0px 0; border-right:1px solid #ddd;}
.bigbox .node .sub li{display:block;height:160px;position:relative;}
.bigbox .node .sub li u{width:53px;height:26px;line-height:26px;display:block;float: left;color:#fff;font-size:14px;text-align: center;text-decoration:none;position: relative;background: #3784cb;text-decoration: none;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.bigbox .node .sub li i{position: absolute;right: -3px;top: 11px;width: 0;height: 0;line-height: 0;border-width: 3px 0 3px 3px;border-color: transparent transparent transparent #3784cb;border-style: dashed dashed dashed solid;}
.bigbox .node .sub span{position: absolute; top:11px;  right:-4px; width:5px;height:5px;display:block;border:1px solid #ccc;background:#fff;-moz-border-radius:100px;-webkit-border-radius:100px;border-radius:100px;}
.bigbox .node .art-list{width:308px;padding-left:2px;float:left;}
.bigbox .node li.hr {height:20px;background: url(images/uline.gif) repeat-x left center;border:none;margin-top: 0px;}
.bigbox .small_pic{width:320px;margin-top:3px;padding-left:16px;}
.bigbox .small_pic li{margin-right:21px;margin-bottom:3px;}
.bigbox .big_pic{width:386px;}
.bigbox .big_pic li{margin-right:0px;margin-bottom:6px;}
.bigbox .big_pic span {height: 27px;line-height: 27px;font-size:14px;}
.bigbox .hot{border-top:1px solid #dedede;}

.bigbox2{overflow:hidden;}
.bigbox2 .content{border:1px solid #dedede;padding:0 10px;overflow:hidden;}
.bigbox2 .col-left{width:716px;height:250px;margin-right:10px;padding:10px 0;border-right:1px solid #e5e5e5;}
.bigbox2 .c-1{width:358px;float:left;}
.bigbox2 .c-2{width:358px;float:left;}
.bigbox2 .top{height:27px;overflow:hidden;}
.bigbox2 .top h2{font-size:16px;font-weight:normal;}
.bigbox2 .top h2 a{color:#008ee1}
.bigbox2 .small_pic{width:380px;margin-top:6px;padding-left:0px;}
.bigbox2 .small_pic li{margin-right:20px;margin-bottom:6px;}
.bigbox2 .col-left .art-list li{margin-left:-5px;}
.bigbox2 .col-auto .top{height:32px;line-height:32px;}
ul.pictures li {margin:0;margin-right: 2px;}

/*图片列表*/
.beauty-pic{overflow:hidden;}
.beauty-pic li{float:left;margin-bottom:10px;}
.beauty-pic li a{display:block;position:relative;}
.beauty-pic span{width:100%;height:25px;line-height:25px;text-align:center;position: absolute;left: 0;bottom: 0;;z-index: 0;color: #d4d4d4;background: rgba(0,0,0,0.6); filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;cursor: pointer;}
.beauty-pic li a:hover span{background: rgba(0,142,225,0.7); color:#fff;}

/*热门列表*/
.hot-list li{ height:31px; line-height:31px; overflow:hidden;}
.hot-list li a{font-size:14px;}
.hot-list .number{ float:left; width:16px; height:16px; line-height:16px; font-family:"宋体"; color:#fff; text-align:center;background:#3784cb;margin:8px 10px 0 0;text-decoration:none;}
.hot-list .a1{background:#f94c00;}.hot-list .a2{background:#f97500;}.hot-list .a3{background:#f99200;}

/*文章列表*/
.art-list li{overflow:hidden;}
.art-list li u{float:left; width:3px; height:3px; font-size:0; background-color:#379be9; margin:13px 10px 0 0;}
.art-list li .icon2{background-color:#ccc;}
.art-list li .date{float:right; margin-right:3px; font-size:12px; color:#818181}
.art-list li.hr{margin-top:19px;height:14px;border-top:1px dashed #d4d1c8;overflow:hidden;}

/* 通用容器 */
.box{border:1px solid #e8e8e8;border-top:3px solid #379be9;overflow:auto; padding-bottom:4px}
.box .hd{height:35px;line-height:35px;border-bottom:1px solid #e8e8e8;margin-bottom:10px;}
.box .bd{padding:0 10px; overflow:hidden;}
.box h5,.box h6{font-size:16px;font-weight:normal;padding-left:10px; float:left; position:relative}
.box h6{ margin-bottom:0}
.box .hd u{ float:left; width:3px; height:16px; font-size:0; background-color:#379be9; margin:11px 6px 0 0; }
.box .hd .tab{white-space: nowrap;padding:0 5px;overflow:hidden;}
.box .hd .tab li{float: left;padding: 0 20px;height: 35px;border-bottom: 1px #e5e5e5 solid;cursor: pointer;line-height: 34px;font-size: 14px;}
.box .hd .tab li.fb{border-bottom: 1px #379be9 solid;color: #008ee1;background: #fff;}
.box .hd span.more{display: inline-block;float: right; padding-left:3px; padding-right: 18px;background-position:19px -383px;}
.box .hd span.sub{color:#c5c5c5;float:right;}
.box .hd span.icon {background-image: url(images/v1/icon.png); background-repeat: no-repeat;}

.simbox{border:none;}
.simbox .bd{padding:0}
.simbox h5,.simbox h6{padding:0}

.tagbox,.tagbox .hd{border:none;}
.tagbox .hd h5,.tagbox .bd{padding:0}

.white,.white a{color:#fff}.blue,.blue a{color:#004499}.gray4,a.gray4{color:#999}
.red, .red a, a.red{color:red;}.green{color:#0E774A}
.f12{font-size: 12px}.f14{font-size: 14px}.f16{font-size: 16px}.f18{font-size:18px}.f20{font-size:20px}
.lh20{line-height: 20px}.lh22{line-height: 22px}.lh24{line-height: 24px}.lh26{line-height: 26px}.lh27{line-height: 27px}.lh28{line-height: 28px}.lh30{line-height: 30px}.lh32{line-height: 32px}.lh34{line-height: 34px}
.w670{width: 670px;}
/*源码素材*/

.titleMain .txt {
	float: left;
	font-size: 16px;
	font-family: 'Microsoft YaHei';
 font
}
.titleMain .more {
	float: right;
	background:#fff;
	color: #777;
	margin-right: 0;
	margin-bottom: 0;
}
.titleNavBar a:hover, .titleMain .more:hover, #footer p a:hover, .imgListLayout li a:hover p, .imgListLayout-b li a:hover p {
	color: #d81517;
}
.titleMain .moreLinkBox a {
	border: 1px solid #ddd;
	border-top:0;
	display: inline-block;
	padding: 0 5px;
}
.titleMain .moreLinkBox a.more {
	padding: 4px 8px;
	border-left: 0;
	float: none;
}
.titleMain .moreLinkBox a:hover {
	background: #6ab0f6;
	color: #fff;
	text-decoration: none;
}
.titleNavBar {
	color: #ccc;
}
.titleNavBar a {
	margin: 0 7px;
	color: #999;
}
.txtListBar li {
	position:relative;
	line-height: 28px;
	height: 28px;
	padding-left: 16px;
	font-size:14px;
	overflow: hidden;
}
.txtListBar i {
	display: block;
	position: absolute;
	overflow: hidden;
	top: 12px;
	left: 5px;
	width: 4px;
	height: 4px;
	background: #555;
}
.txtListBar-b li {
	font-size: 14px;
	line-height: 28px;
	height: 28px;
}
.txtListBar-b li.one a {
	font-weight: bold;
}
.txtListBar-c li.one {
	font-size: 14px;
	font-weight: bold;
	padding-left: 0;
	margin-bottom: 5px;
}
.imgBar .t {
	width: 100%;
	position:absolute;
	height: 30px;
	line-height: 30px;
	color: #fff;
	bottom: 0;
	left: 0;
	text-align: center;
	overflow: hidden;
	background: url(images/v1/blackBg.png) repeat;
}
.imgBar a:hover .t {
	text-decoration: underline;
}
.imgBar-a p.t {
	height: 34px;
	line-height: 34px;
	overflow: hidden;
	text-align:center;
	background: #f5f5f5;
}
.imgBatList .imgBar {
	float:left;
}
.tabTitleBar .blueTitleMain {
	border-top: 1px solid #eee;
	position:relative;
}
.tabTitleBar-blue .titleMain {
	border-top: 0!important;
	border-bottom: 1px solid #eee;
}
.tabTitleBar .titleMain {
	border-top: 1px solid #ddd;
}
.tabTitleBar .titleMain .txt {
	position:relative;
	font-size:18px;
	font-family: 'Microsoft YaHei';
	top: -1px;/**background:#369;
	color:#fff;**/
	}
.columnPageC h3, .tabTitleBar .titleMain .blue {
	border-top: 3px solid #3784cb;
}
.columnTxtRecom .titleMain .txt {
	padding: 5px 15px 0;
}
.tabTitleBar .tabred {
	border-top: 3px solid #b6262f;
	border-right: 1px solid #ddd;
}
.tabTitleBar .tabred .txt {
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-top:none;
	width:124px;
	text-align:center;
}
.tabTitleBar .tabred .cur {
	background:#fff;
	border-bottom:none;
	border-right:0;
}
.tabTitleBar .titleMain .red {
	border-top: 3px solid #b6262f;
}
.titleMain-a {
	border-bottom: 1px solid #ddd;
}
.titleMain-a .btBlue {
	position: relative;
	top: 1px;
	padding: 0 0 4px;
	border-bottom: 2px solid #3784cb;
}
.titleMain-b .txt {
	float: none;
	display: block;
	font-size: 18px;
 *zoom:1;
}
.tabTitleBar h4 {
	padding:10px 15px;
	font-size:18px;
}
.tabTitleBar .titleMain .more {
	line-height: 34px;
	padding-right:5px;
}
.imgBar, .tabSlideBar, .topicsImgTxtBar .imgTxtBar {
	position: relative;
}
.tabSlideBar .tabState {
	width: 88px;
	height: 2px;
	overflow: hidden;
	background: #b6262f;
	position: absolute;
	top: 0;
	z-index: 2;
}
.tabTitleBar-blue .tabState {
	width: 80px;
	top: 37px;
	height: 3px;
	background: #369;
}
.tabSlideBar .titleMain {
/**border-top:3px solid #B6262F;**/
	}
.tabSlideBar .titleMain .txt {
	padding: 3px 12px;
	font-size: 16px;
	cursor: pointer;
	top:0;
	background:#f9f9f9;
}
.tabSlideBar .titleMain .oneTxt {
	padding: 5px 24px 5px 0;
}
.tabTitleBar-blue .titleMain .txt {
	width: 56px;
	text-align: center;
}
.tabSlideBar .titleMain .cur {
	color: #B6262F;
	background:#fff;
}
.tabTitleBar-blue .titleMain .cur {
	color: #369;
}
.tabSlideBar .titleMain .txt em {
	position: absolute;
 *top: 5px;
	right: -1px;
	font-size: 12px;
	color: #ccc;
}
.listsHbar {
	height: 45px;
	border:1px solid #ddd;
	background:#fafafa
}
.listsHbar li {
	float: left;
	text-align: center;
	border-right: 1px solid #DDD;
	height: 45px;
	line-height: 45px;
	font-weight:600;
}
.listsHbar li.cur {
	padding-top: 1px;
	background:#fff;
	border-bottom: 0;
}
.listsHbar li a {
	font-size: 16px;
	display: inline-block;
	padding: 0 25px;
	font-family: 'Microsoft YaHei';
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}
.listsHbar li a:hover {
	text-decoration:none;
}
.listsHbar li.cur a {
	color: #468bcf;
	text-decoration:none;
}
.listsTabBar .newsListBox .txtListBar {
	display: none;
	position: absolute;
}
.tabSlideBar .newsListBar, .tabSlideBar .newsRankList {
	display: none;
}
.tabSlideBar ul.current, .listsTabBar .newsListBox .current, .tabSlideBar .current, .imgBar a, .imgTxtBar a, .imagTxtBar-a a {
	display: block;
}
.sideImgTxtBar .imgTxtBar p {
	height:auto;
	line-height:22px
}
.sideImgTxtBar h4 {
	font-size:14px;
	line-height:18px;
	padding:15px 0;
}
.sideImgTxtBar .colleRss {
	background: #3CB23F;
	color: #FFF;
	font-size:12px;
	display:inline-block;
	padding:0 2px;
}
.sideImgTxtBar h5.t {
	margin: 0 0 13px;
	font-weight: bold;
	width: 100%;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
}
.imgTxtBar .txtBox {
	padding: 10px 15px;
	background: #f8f8f8;
}
.imgTxtBar-c a {
	display: block;
	/**margin-bottom: 15px;**/
	background:#eee;
}
.imgTxtBar-c .txtBox .txt {
	height: 60px;
	width: 100%;
	overflow: hidden;
}
.imgTxtBar-c a p {
	overflow:hidden;
	font-size:13px;
	font-family:"Microsoft YaHei";
	margin:8px 6px;
	height:38px;
	overflow:hidden;
}
.imgTxtBar-c a:hover {
	background: #f90;
	color:#fff;
}
.imagTxtBar-a .txt, .imgTxtBar .txt {
	height: 60px;
	overflow: hidden;
	line-height: 20px;
}
.imgTxtBar .txt {
	color:#8c8c8c;
	line-height:22px;
}
.imgBar-a a:hover, .imgTxtBar a:hover, .imagTxtBar-a a:hover, .imgTxtBar-d a:hover, .imgListLayout li a:hover, .editShare li .one:hover, .topicsModule a:hover {
	text-decoration: none;
}
.imgTxtBar-b a.cursor {
	display: block;
	margin-top: 10px;
}
.imgTxtBar-b .txtBox {
	/***position: relative;****/
	background: none;
	padding:0 0 0 10px
}
.imagTxtBar-a a {
	padding:15px 0;
	border-bottom:1px solid #ddd;
}
.imagTxtBar-a .txt {
	height: 90px;
}
.imagTxtBar-a .txt h5 {
	height:22px;
	line-height:22px;
	font-size:16px;
	font-family:'Microsoft YaHei';
	padding-bottom:10px;
}
.imagTxtBar-a .txt h5 span {
	display:inline-block;
	margin-right:10px;
	background:#558DC3;
	color:#fff;
	padding:0 3px;
}
.imgTxtBar-b .txtBox .txt {
	height: 80px;
}
.imgTxtBar-b .txtBox h5 {
	padding: 6px 0;
	font-size: 14px;
	font-family: 'Microsoft YaHei';
}
.imgTxtBar-b .txt p {
	line-height: 22px;
}
.imgTxtBar-b .txt .scanIcon, .imgTxtBar-b .txt .replyIcon {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	color: #999 !important;
 *margin-top: 3px;
}
.imgTxtBar-b .txt .replyIcon, .imgTxtBar-b .txt .scanIcon i, .imgTxtBar-b .txt .replyIcon i {
	top: 3px;
 *top: 0;
	width: 16px;
	height: 16px;
	margin-right: 3px;
	background-position: -122px -50px;
}
.imgTxtBar-b .txt .replyIcon, .imgTxtBar-b .txt .replyIcon i {
	background-position: -122px -68px;
}
.imgTxtBar-b .txt .replyIcon {
	width: 90%;
	margin-left: 0;
}
.imgTxtBar-d a.cursor {
	display: block;
	padding: 10px 0;
	border-bottom: 1px solid #eee;
}
.imgTxtBar-d .txt p {
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	margin: 3px 0 6px;
}
.imgTxtBar .playIcon {
	position: absolute;
	width: 19px;
	height: 19px;
	background-position: -80px -25px;
	bottom: 8px;
	left: 8px;
}
.imagTxtBar-a img {
	padding: 2px;
	border: 1px solid #ddd;
}
.webRankBar {
	padding: 0 12px;
}
.newsRankList {
	padding:8px 0px;
}
.newsRankList li {
	width: 100%;
	height: 24px;
	overflow: hidden;
	font-size:14px;
	padding:6px 0;
}
.newsRankList li a {
	float: left;
	font-size: 14px;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 268px;
}
.newsRankList-in {
	padding:0 10px 10px 10px;
}
.newsRankList-in li a {
	width: 248px;
	color:#595959;
}
.newsRankList-in li a:hover {
	color:#bb4046
}
.newsRankList li em {
	color: #999999;
	height: 20px;
	float: left;
	font-size:20px;
	font-style:italic;
	font-family:"georgia", "STHeiti", "Microsoft YaHei", "simsun", "sans-serif", Arial;
	line-height: 15px;
	margin: 3px 10px 0 0;
	_margin-top: 0px;
	overflow: hidden;
	text-align: center;
	width: 20px;
}
.newsRankList li.top em {
	color: #b6262f;
}
.newsRankListA {
	padding: 0 12px 0 7px;
}
.newsRankListA li a {
	font-size: 14px;
}
.newsRankListA li em {
	color: #b6262f;
	background: none;
	font-size: 16px;
	font-style: italic;
}
.newsTxtBar .newsListBox {
	border-bottom: 0;
}
.imgTxtBar .w130, .imgTxtBar .w140, .imgTxtBar .w150, .listsTabBar {
	position: relative;
}
.listsTabNav {
	position: absolute;
	top: -33px;
	left: 100px;
}
.listsTabNav li {
	float: left;
	border-top: 2px solid #fff;
}
.listsTabNav li.current {
	border-top-color: #369;
}
.listsTabNav a {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	/**color: #888;**/
	color:#333;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
.listsTabNav a:hover {
	text-decoration: none;
}
.listsTabNav li.current a {
	color: #369;
	font-weight: bold;
	border-left-color: #eee;
	border-right-color: #eee;
	border-bottom:1px solid #fff;
}
.listsTabBar-b .listsTabNav {
	position:relative;
	top: 0;
	left: 0;
	/**border-top: 2px solid #369;
	background: #f8f8f8;**/
	background:#eee;
}
.listsTabBar-b .listsTabNav li {
	border-top: 0;
}
.listsTabBar-b .listsTabNav li a {
	font-size: 14px;
	padding: 0 16px;
	border: 0;
	height: 34px;
	line-height: 34px;
}
.listsTabBar-b .listsTabNav li.current a {
	font-weight: 500;
	background: #3784cb;
	color: #fff;
}
.listsTabBar-b .newsListBox {
	padding: 15px 0 8px;
}
.listsTabBar-b .txtListBar-b li {
	width: 360px;
	height: 28px;
	overflow: hidden;
}
.aloneNewsTxtBar .newsTxtBar {
	height: 275px;
	border: 1px solid #ddd;
	border-top: 0;
}
.aloneNewsTxtBar .listsTabBar-b .newsListBox {
	padding: 15px 15px 8px;
}
.aloneNewsTxtBar .imgBar {
	margin-right: 15px;
}
.indexNavBar .box, .indexNavBar .box a {
	color: #5170a6;
}
.indexNavBar .box .icon {
	width: 14px;
	height: 12px;
	background-position: -100px -26px;
	margin: 0 3px 0 0;
	position: relative;
	top: 1px;
	_top: 0px;
}

.slideshow {
	background: url("images/v1/g9.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
	position: relative;
}
.slideshow .image {
	color: #fff;
	height: 150px;
	overflow: hidden;
	position: relative;
	width: 260px;
}
.slideshow .image ul {
	height: 150px;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 260px;
}
.slideshow .image li {
	float: left;
	height:150px;
	overflow: hidden;
	position: relative;
	width:260px;
}
.slideshow .image a {
	display: block;
}
.slideshow .caption {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
	bottom: 0;
	color: #fff;
	line-height: 14px;
	padding: 5px;
	position: absolute;
	width: 250px;
}
.slideshow .trigger {
	bottom: 4px;
	position: absolute;
	right: 5px;
}
.slideshow .trigger li {
	background: none repeat scroll 0 0 #fff;
	color: #000;
	cursor: pointer;
	float: left;
	font-weight: bold;
	line-height: 14px;
	margin: 0 3px 0 0;
	padding: 0 3px;
	text-align: center;
}
.slideshow .trigger li {
}
.slideshow .trigger li.current {
	background: none repeat scroll 0 0 #ff7d01;
	color: #fff;
}

.webRankBar li {
	font-size: 14px;
	width: 50%;
	float: left;
	margin: 5px 0;
	height: 18px;
	overflow: hidden;
}
.webRankBar li .arry {
	margin-right: 3px;
}
.hotLabelBar .t {
	display: inline-block;
	height: 28px;
	line-height: 28px;
	color: #fff;
	background:#b6262f;
	padding: 0 15px;
	font-size: 14px;
	font-family: 'Microsoft YaHei';
}
/*.hotLabelBar .m{
	padding: 6px 20px;
	padding: 5px 20px\0;
	+padding: 4px 20px;
	_padding: 6px 20px;
	}*/
.hotLabelBar .m a {
	display: inline-block;
	margin: 4px;
}

#friendlinks{CLEAR: both;BACKGROUND: #fff;PADDING-BOTTOM: 5px;MARGIN: 0 auto;PADDING-TOP: 0;}
#friendlinks .hd{ height:36px; border-bottom:1px solid #dddddd; line-height:36px;}
#friendlinks .hd span{ display:block; float:left; width:6px; height:16px; background:#09c; margin-top:10px;}
#friendlinks .hd h2{ font-size:14px; font-family:"微软雅黑"; color:#333; font-weight:normal; padding-left:10px; display:block; float:left;}
#friendlinks .hd h2 a:link,.hd h2 a:visited{ color:#333;}
#friendlinks .hd h2 a:hover,.hd h2 a:active{ color:#fc3000;}
#friendlinks .hd font{ display:block; float:right; color:#049; font-size:12px;}
#friendlinks P{MARGIN: 10px 5px 0;OVERFLOW: hidden;COLOR: #003494;LINE-HEIGHT: 22px;TEXT-ALIGN: left;}
#friendlinks A{margin:0 8px; FONT-SIZE: 12px;PADDING: 0;}
#footer{POSITION: relative; TEXT-ALIGN: center; MARGIN: 0px auto; WIDTH: 1000px; HEIGHT: 130px; PADDING-TOP: 18px; color:#333; background:#fff; z-index:999}
#footerinfo{BORDER-TOP: #ccc 1px solid; PADDING-TOP: 12px}
#footercontent{clear:both; LINE-HEIGHT: 24px;TEXT-ALIGN: center; }
#footer .qinfo{ line-height:24px; margin:10px auto}
#footer .zz{BORDER-TOP: #ccc 1px solid; PADDING-TOP: 12px;line-height:24px; margin:10px auto}
#footer DIV A:link {PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; COLOR: #333; PADDING-TOP: 0px}
#footer DIV A:visited {	PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; COLOR: #333; PADDING-TOP: 0px}
#footer DIV A:hover {COLOR: #fc3000}
#footer DIV A:active {	COLOR: #fc3000}
#footercopyrights{CLEAR: both;PADDING:6px 0 0;MARGIN: 0 auto;LINE-HEIGHT: 180%;TEXT-ALIGN: center;}
#footercopyrights SPAN{FONT: 12px/180% arial,helvetica,sans-serif;}
.ewm {POSITION: absolute; WIDTH: 200px; HEIGHT: 100px; TOP: 24px; RIGHT: 0px}
.ewm IMG {WIDTH: 100px; HEIGHT: 100px}
.ewm A IMG {WIDTH: 88px; HEIGHT: 88px}
#logo_m_tp,#logo_r_tp,#tonglan1_tp,#tonglan3_tp,#tonglan6_tp,#tp_ad1,#tp_ad2,#tp_ad3,#tp_ad4,#tp_con_ad1,#tp_con_ad2#d_760_tp,#con_ad3_tp,#baidu300_tp,#artkeys_tp,#baidu580_tp,#tonglan_tp,#tonglan3_tp,#tonglan6_tp,#ad2_all_tp,#index_ad_tp1,#index_ad_tp2,liad_1_tp,liad_2_tp,con_da1_tp,con_da8_tp{PADDING-RIGHT: 0;DISPLAY: none;PADDING-LEFT: 0;PADDING-BOTTOM: 0;MARGIN: 0;OVERFLOW: hidden;PADDING-TOP: 0;HEIGHT: 0;}
#ontools{CLEAR: both;BACKGROUND: #fff;PADDING-BOTTOM: 5px;MARGIN: 0 auto;PADDING-TOP: 0;}
#ontools DIV{BORDER-RIGHT: #d0dbe7 1px solid;PADDING-RIGHT: 0;BORDER-TOP: #d0dbe7 1px solid;PADDING-LEFT: 0;PADDING-BOTTOM: 5px;BORDER-LEFT: #d0dbe7 1px solid;WIDTH: 998px;PADDING-TOP: 2px;BORDER-BOTTOM: #d0dbe7 1px solid;}
#ontools H2{PADDING-RIGHT: 0;PADDING-LEFT: 20px;BACKGROUND: #F6FBFF;PADDING-BOTTOM: 0;MARGIN: 0;LINE-HEIGHT: 25px;PADDING-TOP: 0;BORDER-BOTTOM: #d0dbe7 1px solid;HEIGHT: 25px;TEXT-ALIGN: left;}
#ontools H2 SPAN{DISPLAY: block;FONT-WEIGHT: bold;FONT-SIZE: 12px;MARGIN: 0 auto;COLOR: #003494;LINE-HEIGHT: 25px;}
#ontools P{MARGIN: 0 5px;OVERFLOW: hidden;COLOR: #003494;LINE-HEIGHT: 22px;TEXT-ALIGN: left;}
#ontools A{FONT-SIZE: 12px;height:21px; padding:0; margin:0 6px}
#ontools .noborder{BORDER-RIGHT-STYLE: none;}
.dxy_main{CLEAR: both;MARGIN: 0 auto;}
/*首页背投广告样式*/
.top_banner{ margin:0 auto; width:1000px; height:95px; position:relative}
.top_banner img{ position:absolute; right:0px; top:18px}
.a_show_bg {
	background-repeat: no-repeat;
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	margin-left: 6px;
}
.bg_ban_m{display:block;width:1000px; height:95px;}
.bg_l {display:block; position:absolute; left:0px; top:0px;height:1080px}
.bg_r {display:block; position:absolute; right:0px; top:0px;height:1080px}
.bg_ban_cls{ position:absolute; right:0px; bottom:0px;width:16px; height:16px;z-index:9999999;}
.bg_ban_cls a{
	display:block;
	width:16px;
	height:16px;
	background-image: url(images/close-1.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
.bg_ban_cls a:hover{background:url(images/close-2.gif); no-repeat}

/*首页背投样式2*/

.jb51_top{height: 0px; margin: 0px auto; width:1000px;}
.jb51_top a.click{display:block;height:0px;}
.jb51_top a.close{display:block; color:#fff;background:#000;font-weight:bold; width:54px; height:18px; line-height:17px;text-align:center;position:absolute; right:0;top: 34px; z-index:2000;}
.jb51_bg1{display:block;position:absolute;left:0; top:100px; height:700px;}
.jb51_bg2{display:block; position:absolute;right:0;top:100px;height:700px;}