em {
	font-style: italic;
}

/**Emergencias
@media screen and (min-width: 1360px) and (max-width: 1546px) {
  .publi_sky {
    z-index: 10;
    left: -105px;
    /*zoom: 0.9;
  }
}
fin emergencias...*/
/* soporte 1360 a skycrapper en home */
@media (max-width: 1359px) {
	.con_sky .publi_sky {
		display: none;
	}
}
@media (min-width: 1360px) and (max-width: 1546px) {
	.con_sky .caja_fondo_goles .row,
	.con_sky #content .apertura .apertura_cabecera .row {
	    right: -70px;
	    position: relative;
	}
}
/* fin soporte 1360 a skycrapper en home */

/*-----------cabecera rusia2018----------*/
.logo-rusia2018 {
  position: absolute;
  right: 0;
  top: -20px;
}
.logo-rusia2018 img {
  max-width: 70px;
  height: auto;
}
@media (min-width: 600px) {
  .logo-rusia2018 {
    top: -40px;
  }
  .logo-rusia2018 img {
      max-width: 100px;
  }
}
#content .apertura_noticias .apertura_cabecera .row.ampliado.fondo .txt {
  padding: 0 70px 0 0;
}
.live-deportivo {
    border: 1px solid #fff;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    color: #fff;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 15px;
    padding: 5px 15px;
    display: inline-block;
    margin-top: 5px;
}
.live-deportivo:before {
    background-color: red;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 10px;
    margin-right: 7px;
    width: 10px;
}

.destacada_not.vista-destacada + .destacada_html > .opta-widget-container {
    margin-top: -50px !important;
}

/*-----------Fin cabecera rusia2018----------*/

/*----------- cabecera campeonatos ----------*/

.head_premier_ot {
	background: #38003C;
	position: relative;
}

.head_premier_ot::before {
	content: "";
	background: url(http://especiales.latercera.com/2016/render/img/logos_equipos/fondo_fut.png);
	opacity: 0.08;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.head_premier_ot h2 {
	color: white;
    background: url(http://especiales.latercera.com/2016/render/img/logos_equipos/logo_premier.png) no-repeat;
    background-size: auto 85%;
    background-position: right;
    padding: 5px 25px 5px 10px;
    margin-right: 5px !important;
    margin-bottom: 0px !important;
}

.head_camp_nacional_ot {
	background: #043662;
	position: relative;
}

.head_camp_nacional_ot::before {
	content: "";
	background: url(http://especiales.latercera.com/2016/render/img/logos_equipos/fondo_fut.png);
	opacity: 0.08;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.head_camp_nacional_ot h2 {
	color: white;
    background: url(http://especiales.latercera.com/2016/render/img/logos_equipos/campeonato_nacional.png) no-repeat;
    background-size: auto 85%;
    background-position: right;
    padding: 5px 25px 5px 10px;
    margin-right: 5px !important;
    margin-bottom: 0px !important;
}

.head_copa_chile_ot {
	background: #043662;
	position: relative;
}

.head_copa_chile_ot::before {
	content: "";
	background: url(http://especiales.latercera.com/2016/render/img/logos_equipos/fondo_fut.png);
	opacity: 0.08;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.head_copa_chile_ot h2 {
	color: white;
    background: url(http://especiales.latercera.com/2016/render/img/logos_equipos/logo_copa_chile.png) no-repeat;
    background-size: auto 85%;
    background-position: right;
    padding: 5px 25px 5px 10px;
    margin-right: 5px !important;
    margin-bottom: 0px !important;
}


.head_la_liga_ot {
	background: #121417;
	position: relative;
}

.head_la_liga_ot::before {
	content: "";
	background: url(http://especiales.latercera.com/2016/render/img/logos_equipos/fondo_fut.png);
	opacity: 0.08;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.head_la_liga_ot h2 {
	color: white;
    background: url(http://especiales.latercera.com/2016/render/img/logos_equipos/logo_la_liga.png) no-repeat;
    background-size: auto 85%;
    background-position: right;
    padding: 5px 25px 5px 10px;
    margin-right: 5px !important;
    margin-bottom: 0px !important;
}

.head_serie_tim_ot {
	background: #043769;
	position: relative;
}

.head_serie_tim_ot::before {
	content: "";
	background: url(http://especiales.latercera.com/2016/render/img/logos_equipos/fondo_fut.png);
	opacity: 0.08;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.head_serie_tim_ot h2 {
	color: white;
    background: url(http://especiales.latercera.com/2016/render/img/logos_equipos/logo_serie_a.png) no-repeat;
    background-size: auto 85%;
    background-position: right;
    padding: 5px 25px 5px 10px;
    margin-right: 5px !important;
    margin-bottom: 0px !important;
}

.head_alemana_ot {
	background: #1E1E1E;
	position: relative;
}

.head_alemana_ot::before {
	content: "";
	background: url(http://especiales.latercera.com/2016/render/img/logos_equipos/fondo_fut.png);
	opacity: 0.08;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.head_alemana_ot h2 {
	color: white;
    background: url(http://especiales.latercera.com/2016/render/img/logos_equipos/logo_alemana.png) no-repeat;
    background-size: auto 85%;
    background-position: right;
    padding: 5px 25px 5px 10px;
    margin-right: 5px !important;
    margin-bottom: 0px !important;
}

.head_champions_ot {
	background: url(http://especiales.latercera.com/2016/champions/champion-bg.jpg);
	position: relative;
}

.head_champions_ot::before {
	content: "";
	background: url(http://especiales.latercera.com/2016/render/img/logos_equipos/fondo_fut.png);
	opacity: 0.08;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.head_champions_ot h2 {
	color: white;
    background: url(http://especiales.latercera.com/2016/champions/champions-league.png) no-repeat;
    background-size: auto 85%;
    background-position: right;
    padding: 10px 25px 10px 10px;
    margin-right: 5px !important;
    margin-bottom: 0px !important;
    font-family: sans-serif !important;
    font-weight: bold !important;
    font-size: 24px !important;
}

.head_partido_dia_ot {
  background: #043662;
  position: relative;
}

.head_partido_dia_ot::before {
  content: "";
  background: url(http://especiales.latercera.com/2016/render/img/logos_equipos/fondo_fut.png);
  opacity: 0.08;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.head_partido_dia_ot h2 {
  color: white;
  background:none;
  padding: 10px 5px 5px 10px;
}


/*-----------Fin cabecera campeonatos ----------*/


/*----------------------Estilo Marcador Opta--------------------*/

.opta-widget-container h2 {
	background: none;
	background-image: url("http://especiales.latercera.com/2016/marcador-futbol/img/tit_sup.png");	
	opacity: 0.9;	
	height: 2px;
}

.opta-widget-container h2 span {
	display: none;
}

.opta-widget-container .timeline .clock {
	position: relative !important;
	background: none !important;
}

body .opta-widget-container {
	background: url("http://especiales.latercera.com/2016/marcador-futbol/img/fondo_caja.jpg");
	color: white;
}

.opta-widget-container .timeline {
	background: transparent !important;
	background-image: url("http://especiales.latercera.com/2016/marcador-futbol/img/degradado_fondo_claro.png") !important;
	padding-bottom: 30px !important;
	padding-top: 10px !important;
}

.opta-widget-container .timeline .match-score-details {
	border-bottom: 1px solid rgba(100, 100, 100, 0.5);
	padding-bottom: 15px;
	margin-bottom: 20px;
}
.opta-widget-container .timeline .match-score-details .score-line span {
	color: white;
}
.opta-widget-container li abbr {
	color: white;
}
.opta-widget-container .timeline .match-score-details .score-line .score {
	font-size: 60px !important;
	font-weight: bold;
	letter-spacing: -5px;
}

.opta-widget-container .timeline .match-score-details.hasImg .score-line .home-team {
	max-width: 25%;
	float: left;
	text-align: center;
	vertical-align: bottom !important;
	padding-left: 5px !important;
	padding-top: 10px;
	font-weight: bold;
	font-size: 14px;
	color: white !important;
}

.opta-widget-container .timeline .match-score-details.hasImg .score-line .away-team {
	max-width: 25%;
	float: right;
	text-align: center;
	vertical-align: bottom !important;
	padding-right: 5px !important;
	padding-top: 10px;
	font-weight: bold;
	font-size: 14px;
	color: white !important;
}

.opta-widget-container .timeline .match-score-details .score-line .home-team {
	max-width: 25%;
	float: left;
	text-align: center;
	vertical-align: bottom;
	padding-left: 5px;
	padding-top: 10px;
	font-weight: bold;
	font-size: 14px;
}

.opta-widget-container .timeline .match-score-details .score-line .away-team {
	max-width: 25%;
	float: right;
	text-align: center;
	vertical-align: bottom;
	padding-right: 5px;
	padding-top: 10px;
	font-weight: bold;
	font-size: 14px;
}


.opta-widget-container .timeline .match-score-details .equipo-local {
	text-align: center;
	max-width: 25%;

}

.opta-widget-container .timeline .match-score-details .equipo-visita {
	width: 25%;
	float: right;
	position: absolute;
	right: 0px;
	text-align: center;
	top: 0px;
}

.opta-widget-container .timeline .match-score-details .hometeam-crest, .opta-widget-container .timeline .match-score-details .awayteam-crest {
	position: static;
}

.opta-widget-container .timeline .match-score-details .score-line .score {
	margin-top: -70px;
}

.opta-widget-container .timeline .match-score-details .goal-scorers-away {
	margin-top: -15px;
	width: 49%;
}
.opta-widget-container .timeline .match-score-details .goal-scorers-home {
    float: left;
    width: 24%;
    vertical-align: top;
    text-align: right;
    font-size: 11px;
    clear: none;
}

.opta-widget-container .timeline .match-details {
	background: white;
	display: none;
}
.opta-widget-container .timeline .clock-period {
	background: none !important;
    position: absolute;
    top: -50px;
    text-align: center;
    width: 100%;
    padding-left: 0px !important;
    font-size: 16px;
}
.opta-widget-container .timeline .timeline-container dt.away-events {
	top: 45px !important;
}

.opta-widget-container .timeline .timeline-container {
	z-index: 10;
}

.opta-widget-container .timeline .match-score-details .score-line .score {
	margin-top: 0px;
	height: 76px;
	padding-top: 0px;
	min-width: 165px;
	color: white !important;
	position: absolute;
    top: 10px;
    left: calc(50% - 80px);
}

.opta-widget-container .timeline .match-score-details .goal-scorers-home {
	width: 49%;
	margin-top: -15px;
}

.opta-widget-container .timeline .match-score-details {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.opta-widget-container .timeline .clock-time {
	margin-right: 0px;
}

	
	.opta-widget-container .timeline .match-score-details .goal-scorers-away {
		display: none;
	}
	.opta-widget-container .timeline .match-score-details .goal-scorers-home {
		display: none;
	}

.opta-widget-container .timeline .match-score-details {
		padding-top: 60px !important;
		padding-bottom: 5px;
		margin-bottom: 10px;
	}

.opta-widget-container .timeline .timeline-graph {
    border: 1px solid rgba(255,255,255,0.5);
}
.opta-widget-container .timeline .timeline-graph span {
    background-color: #fff;
    margin-top: -1px;
}

@media (max-width: 450px) {
	.opta-widget-container .timeline .match-score-details .goal-scorers-home {
		display: none;
	}
	.opta-widget-container .timeline .match-score-details .goal-scorers-away {	
		display: none;	
	}
	.opta-widget-container .timeline .match-score-details .equipo-local {
		max-width: 30%;
		width: 30%;
	}
	.opta-widget-container .timeline .match-score-details .equipo-visita {
		max-width: 30%;
		width: 30%;
	}
	.opta-widget-container .timeline .match-score-details.hasImg .score-line .home-team {
		max-width: 33%;
		font-size: 12px;
	}
	.opta-widget-container .timeline .match-score-details.hasImg .score-line .away-team {
		max-width: 33%;
		font-size: 12px;
	}

	.opta-widget-container .timeline .match-score-details .score-line .home-team {
		max-width: 33%;
		font-size: 12px;
	}
	.opta-widget-container .timeline .match-score-details .score-line .away-team {
		max-width: 33%;
		font-size: 12px;
	}
	.opta-widget-container .timeline .match-score-details .score-line .score {
		min-width: 100px;	
	}
	.opta-widget-container .timeline .match-score-details .equipo-visita {
		top: 10px;
	}
	.opta-widget-container .timeline .match-score-details .equipo-local img {
		height: 100%;
		max-height: 60px;
		height: 60px;
	}
	.opta-widget-container .timeline .match-score-details .equipo-visita img {
		height: 100%;
		max-height: 60px;
		height: 60px;
		margin-top: -10px;
	}
	.opta-widget-container .timeline .match-score-details .score-line .score {
		padding-top: 0px;
		width: 55
		% !important;
	}
}

.opta-widget-container .opta-widget, .opta-widget-container .standings, .opta-widget-container .standings-container, .opta-widget-container .season-standings, .opta-widget-container .team-container, .opta-widget-container .commentary, .opta-widget-container .goalreplay, .opta-widget-container .comparison, .opta-widget-container .optafacts, .opta-widget-container .ticker, .opta-widget-container .timeline, .opta-widget-container .fixtures, .opta-widget-container .ranking-container, .opta-widget-container .stats, .opta-widget-container .matchstats-teamstats-container, .opta-widget-container .squad, .opta-widget-container .profile, .opta-widget-container .venues, .opta-widget-container .actionareas, .opta-widget-container .averageposition, .opta-widget-container .passingcombination, .opta-widget-container .formation, .opta-widget-container .chalkboard, .opta-widget-container .c_scorecard, .opta-widget-container .teamlist-onerow, .opta-widget-container .teamlist, .opta-widget-container .wagonwheel, .opta-widget-container .rbvis, .opta-widget-container .tracking-player-breakdown, .opta-widget-container .motorsport-liverace .tabs-content, .opta-widget-container .news-article {
	border: 0px;
}

/*----------------------Fin Estilo Marcador Opta--------------------*/

/*----------------------Partidos otros bajo----------------------------*/

.head_rusia_ot {
	background: url(http://d2vpb0i3hb2k8a.cloudfront.net/wp-content/uploads/sites/7/2016/10/06/cover-rusia2018-1180x165.jpg);
}

.head_rusia_ot h2 {
	color: white;
    background: url(http://especiales.latercera.com/2016/render/img/logorusia2018.png) no-repeat;
    background-size: auto 85%;
    background-position: right;
    padding: 5px 25px 5px 10px;
    margin-right: 5px !important;
    margin-bottom: 0px !important;
}

.bajada_partido_bajo a h3 {
	font-family: 'Noticia Text',serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.1;
    margin: 5px 0px 0px !important;
    color: black;
}

.bajada_partido_bajo p {
	color: #484E64;
    line-height: 1.1em;
    font-size: 1em;
    font-family: 'PT Sans',sans-serif;
    margin-bottom: 10px;
    min-height: 45px;
}

span.btn_vivo_scri {
	color: white;
    background-color: #CC231E;
    padding: 17px 10px;
    display: block;
    width: 85px;
    float: left;
    text-align: center;
    font-weight: bold;
    margin-right: 5px;
    height: 50px;
}

.noticia_bl .marcador_opta h2 {
	display: none !important;
}

.noticia_bl .marcador_opta .timeline {
	border-top: 5px solid #CC231E;
}

.column.izquierda .marcador_opta {
	margin-top: 20px;
}

/*-----------------------Partidos otros bajo--------------------------------------*/

/*----------------------- scribealive ----------------------*/

.ficha .cuerpo.central.column.nine div#opta-widget-idx-0 h2 {
	display: none;
}

.ficha .cuerpo.central.column.nine div#opta-widget-idx-0 {
	border-top: 5px solid #CC231E;
}

/*----------------------- Fin scribealive ----------------------*/

/*------------------------------- Videos en vivo -------------------------------------*/

article.noticia_bl.programas_vivo {
	background: black;
}

.wrapper-video {
    display: block;
    width: 100%;
    padding-top: 0px !important;
}
.frame16-9 {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}
.frame16-9 iframe, .frame16-9 video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.cabecera_vivo_programas {
	position: relative;
	width: 100%;
	height: 50px;
}

.etiqueta_vivo_programa {
	position: absolute;
	background-image: url(http://d2vpb0i3hb2k8a.cloudfront.net/wp-content/themes/latercera/img/f_cat.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: auto 100%;
	color: white;
	padding: 5px 35px 5px 15px;
	font-family: "Utopia-italic";
	font-size: 19px; 
	top: 10px;
	left: -5px;
}

.descripcion_programa_vivo {
	padding: 0px 10px 10px 10px;
}

.descripcion_programa_vivo h2 {
  color: white;
  font-family: "Utopia";
  margin: 0px !important;
  line-height: 38px;
  padding-top: 10px;
}

.descripcion_programa_vivo h3 {
  color: white;
  font-size: 14px !important;
  font-family: 'Open Sans', sans-serif !important;
  border-left: 5px solid #c41325; 
  padding-left: 5px;
  margin: 10px 0px !important;
}



article.noticia_bl.programas_vivo.el_deportivo .cabecera_vivo_programas {
	background-image: url(http://especiales.latercera.com//2016/render/img/logo_deportivo.png);
	background-repeat: no-repeat;
    background-size: auto 85%;
    background-position: right;
}

article.noticia_bl.programas_vivo.charlas_ted .cabecera_vivo_programas {
	background-image: url(http://especiales.latercera.com/2016/render/img/logo_tedx.jpg);
	background-repeat: no-repeat;
    background-size: auto 60%;
    background-position: right;
}

article.noticia_bl.programas_vivo.mouse .cabecera_vivo_programas {
	background-image: url(http://especiales.latercera.com//2016/render/img/logo_mouse.png);
    background-repeat: no-repeat;
    background-size: auto 50%;
    background-position: right;
    width: calc(100% - 10px);
}

article.noticia_bl.programas_vivo.exclusiva .cabecera_vivo_programas {
	background-image: url(http://especiales.latercera.com//2016/render/img/transmision_exclusica.png);
    background-repeat: no-repeat;
    background-size: auto 75%;
    background-position: right;
    width: calc(100% - 10px);
}

article.noticia_bl.programas_vivo.lt_3_voz .cabecera_vivo_programas {
	background-image: url(http://especiales.latercera.com//2016/render/img/logo_3voz.png);
    background-repeat: no-repeat;
    background-size: auto 76%;
    background-position: right;
    width: calc(100% - 10px);
    margin-bottom: 5px;
}

article.noticia_bl.programas_vivo.mundo .cabecera_vivo_programas {
	background-image: url(http://especiales.latercera.com//2016/render/img/logo_mundo.png);
    background-repeat: no-repeat;
    background-size: auto 75%;
    background-position: right;
    width: calc(100% - 5px);
}

article.noticia_bl.programas_vivo.politica .cabecera_vivo_programas {
	background-image: url(http://especiales.latercera.com//2016/render/img/logo_politica.png);
    background-repeat: no-repeat;
    background-size: auto 85%;
    background-position: right;
    width: calc(100% - 5px);	
}

article.noticia_bl.programas_vivo.lt_noticias .cabecera_vivo_programas {
	background-image: url(http://especiales.latercera.com//2016/render/img/logo_noticias.png);
    background-repeat: no-repeat;
    background-size: auto 75%;
    background-position: right;
    width: calc(100% - 5px);
}

article.noticia_bl.programas_vivo.debate .cabecera_vivo_programas {
	background-image: url(http://especiales.latercera.com//2016/render/img/logo_debate.png);
    background-repeat: no-repeat;
    background-size: auto 85%;
    background-position: right;
    width: calc(100% - 10px);
}

article.noticia_bl.programas_vivo.lt_entrevista .cabecera_vivo_programas {
	background-image: url(http://especiales.latercera.com//2016/render/img/logo_entrevistas.png);
    background-repeat: no-repeat;
    background-size: auto 75%;
    background-position: right;
    width: calc(100% - 5px);
}

article.noticia_bl.programas_vivo.eleccion_2016 .cabecera_vivo_programas {
	background-image: url(http://especiales.latercera.com/2016/render/img/elecciones/img_logo_elecciones.png);
    background-repeat: no-repeat;
    background-size: auto 60px;
    background-position: right 0px;
    width: calc(100% - 5px);
    padding-bottom: 60px;
}

article.noticia_bl.programas_vivo.eleccion_2016 {
	background-color: #075B91;
	border-top: 7px solid #C41325;
	border-bottom: 2px solid #C41325;
}

article.noticia_bl.programas_vivo.lt_entrevista {
	background: #EBEAE5;
    border: 1px solid #D9DAD5;
}

article.noticia_bl.programas_vivo.mouse {
	background-color: #23262c;
    background-image: url(http://especiales.latercera.com//2016/render/img/fondo_mouse.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

article.noticia_bl.programas_vivo.mouse .descripcion_programa_vivo {
	padding: 10px !important;
}

article.noticia_bl.programas_vivo.el_deportivo {
	background-color: #2e95c1;
    background-image: url(http://especiales.latercera.com//2016/render/img/fondo_deportivo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
article.noticia_bl.programas_vivo.lets-picnic .cabecera_vivo_programas {
	background-image: url(http://especiales.latercera.com/2016/render/img/lets-picnic.png);
	background-repeat: no-repeat;
    background-size: auto 85%;
    background-position: right;
}
article.noticia_bl.programas_vivo.lets-picnic {
	background-color: #2e95c1;
    background-image: url(http://especiales.latercera.com/2016/render/img/cesped.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
article.noticia_bl.programas_vivo.lets-picnic .descripcion_programa_vivo h3 {
	border-color: #f1cb00;
}

.el_deportivo .descripcion_programa_vivo {
	padding: 10px;
	background-color: rgba(0,149,204,0.6);
}

.el_deportivo .descripcion_programa_vivo h2 {
	font-size: 26px !important;
}

.el_deportivo .descripcion_programa_vivo h3 {
	margin-top: 5px 0px !important;
}

article.noticia_bl.programas_vivo.lt_3_voz {
	background-color: #23262c;
    background-image: url(http://especiales.latercera.com//2016/render/img/fondo_3_voz.jpg);
    background-repeat: repeat-y;
}

article.noticia_bl.programas_vivo.exclusiva {
	background-color: #181819;
}

.noticia_bl.programas_vivo.exclusiva {
	border: 15px solid #CC231E;
}

.exclusiva .descripcion_programa_vivo h2 {
	padding-top: 10px;
}

article.noticia_bl.programas_vivo.lt_3_voz:after, article.noticia_bl.programas_vivo.el_deportivo:after {
    content: "";
    clear: both;
    display: table;
}

.lt_3_voz .descripcion_programa_vivo {
	padding: 15px;
	background-color: rgba(0,0,0,0.6);
}

.lt_3_voz .descripcion_programa_vivo h2 {
	font-size: 24px !important;
}


/*--------------------- Estilos Rudo ----------------------------*/

.opta-widget-container .timeline .timeline-graph {
    border: 1px solid rgba(255,255,255,0.5);
}
.opta-widget-container .timeline .timeline-graph span {
    background-color: #fff;
    margin-top: -1px;
}

/*--------------------- Fin Estilo Rudo ------------------------*/

/*------------------------------- Fin Videos en vivo ---------------------------------*/

/*--------------------- Estilos Caja Suplementos ----------------------------*/
#content.portada .dd_clean .bl_tematico .noticia_tematica_destacada .bl_comparte {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
#content.portada .dd_clean .bl_tematico .noticia_tematica_destacada .bl_comparte ul li {
	border-color: rgba(255, 255, 255, 0.3);
	border-style: solid;
}
.tematico.dd_clean .bl_tematico {
	-webkit-box-shadow: none;
	box-shadow: none;
}
#content.portada .dd_clean .noticia_tematica img {
    margin-bottom: 10px;
}
.tematico.dd_clean .cab_tematico:after {
	border-bottom: 1px solid #d9d9d9;
}
#content.portada .dd_clean .noticia_tematica img {
    height: 70px;
    margin-top: 0px;
    padding-left: 10px;
    width: 110px;
}
.dd_clean .noticia_tematica {
    border-bottom: 1px solid #dedce7;
    padding: 10px;
    min-height: 90px;
}
.tematico.dd_clean .bl_tematico .noticia_tematica_destacada .img {
    min-height: 300px;
    position: relative;
    overflow: hidden;
}
#content.portada .dd_clean .bl_tematico .noticia_tematica_destacada div.dd_bottom {
    bottom: 0;
    padding: 0 20px;
    position: absolute !important;
    width: 100%;
    left: 0;
}
/*------------------------------- Fin Caja Suplementos ---------------------------------*/

/*-------------------------------- Caja goles campeonato nacional ---------------------------- */

.caja_fondo_goles {
	background-color: #F5F5F5;
}

.caja_partido {
	width: calc(100% - 10px);
	height: 160px;
	background-size: 100% auto;
	margin-left: auto;
	margin-right: auto;
	max-width: 250px;
}

.ico_play {
	height: 80px;
	width: 100%;
	text-align: right;
	position: relative;
	background: rgba(0,0,0,0.3);goo
}

.primera .ico_play:before {
	content: "";
    width: 0;
    height: 0;
    border-top: 70px solid #C41325;
    border-left: 70px solid transparent;
    position: absolute;
    right: 0px;
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

a.caja_goles {
	display: block;
}

a.caja_goles:hover .primera .ico_play:before {
	content: "";
    width: 0;
    height: 0;
    border-top: 85px solid #C41325;
    border-left: 85px solid transparent;
    position: absolute;
    right: 0px;
}

.primerab .ico_play:before {
	content: "";
    width: 0;
    height: 0;
    border-top: 70px solid #043662;
    border-left: 70px solid transparent;
    position: absolute;
    right: 0px;
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

a.caja_goles:hover .primerab .ico_play:before {
	content: "";
    width: 0;
    height: 0;
    border-top: 85px solid #043662;
    border-left: 85px solid transparent;
    position: absolute;
    right: 0px;
}

.ico_play:after {
	content: "";
    width: 55px;
    height: 80px;
    background: url(http://especiales.latercera.com/2016/caja_goles/ico_play.png) 0px 9px no-repeat;
    position: absolute;
    right: 0px;
}

.tx_partidos {
	height: 80px;
	color: white;
	background: rgba(0,0,0,0.3);
	background: -moz-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.3)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

a.caja_goles {
	text-decoration: none;
}

.tx_partidos h3 {
	font-family: 'PT Sans', sans-serif !important; 
    margin: 0px 10px !important;
    color: white;
    font-weight: 900;
    padding: 0px 0px;
    text-transform: uppercase;
    font-size: 17px !important;
}

.tx_partidos h3:nth-child(1) {
	padding-top: 30px;
    border-bottom: 1px solid white;
    position: relative;
    margin-bottom: 3px !important;
}

.primera .tx_partidos h3:nth-child(1):before {
	content: "Primera Divisi\00F3n";
    background: #C41325;
    position: absolute;
    top: 8px;
    font-weight: 700;
    padding: 0px 5px;
    font-size: 12px;
    font-family: 'PT Sans', sans-serif;
    color: white;
}

.primerab .tx_partidos h3:nth-child(1):before {
	content: "Primera B";
    background: #043662;
    position: absolute;
    top: 8px;
    font-weight: 700;
    padding: 0px 5px;
    font-size: 12px;
    font-family: 'PT Sans', sans-serif;
    color: white;
}

.caja_goles_cam {
    padding: 0 10px;
}

.tit_goles {
	width: 100%;
	background: url(http://especiales.latercera.com/2016/caja_goles/gol_portada.png) right top;
	position: relative;
	height: 57px;
	margin-bottom: 10px;
}

.tit_goles:before {
	content: "";
	right: 0px;
	position: absolute;
	background: url(http://especiales.latercera.com/2016/caja_goles/logo_cdf.png) center center no-repeat;
	height: 57px;
	width: 100px;
}

.tx_tit_goles {
	width: 60%;
	background: #C41325;
	position: relative;
	height: 57px;
}

.tx_tit_goles:before {
	content: "";
	position: absolute;
	right: -30px;
	width: 0;
    height: 0;
    border-top: 57px solid #C41325; 
    border-right: 30px solid transparent;
}

.tx_tit_goles h2 {
	 color: white;
	 margin: 0px !important;
	 font-family: Helvetica, Arial, sans-serif !important;
	 padding-left: 20px;
	 text-transform: uppercase;
	 font-weight: 700 !important;
	 padding-top: 16px;
	 font-size: 24px !important;
}

.tx_tit_goles h2 span {
	font-weight: 300;
}

.tit_goles.primera_b .tx_tit_goles {
	background: #CC231E;
}

.tit_goles.primera_b .tx_tit_goles:before {
	border-top: 57px solid #043662; 
}


.caja_partido.ver_ver {
	width: 100%;
	height: 80px;
	border-bottom: 4px solid #C41325;
}

.caja_partido.ver_ver.primerab {
	width: 100%;
	height: 80px;
	border-bottom: 4px solid #043662;
}

.caja_partido.ver_ver .ico_play {
	height: 0px;
}

.caja_partido.ver_ver .tx_partidos h3 {
	margin: 0px 60px 0px 10px;
}

.caja_partido.ver_ver .tx_partidos h3:nth-child(1):before {
	right: -40px;
    top: 60px;
}

.caja_lateral {
	max-height: 260px;
	overflow: auto;
}

.caja_goles_cam .owl-prev {
    position: absolute;
    top: 55px;
    left: -10px;
    height: 50px;
    width: 50px;
    color: transparent;
    background: url("http://especiales.latercera.com//2016/render/img/arrow_prev.png") no-repeat center #CC231E;
    opacity: 0.7;
    -webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.caja_goles_cam .owl-prev:hover {
	opacity: 1;
}

.caja_goles_cam .owl-next {
    position: absolute;
    top: 55px;
    right: -10px;
    height: 50px;
    width: 50px;
    color: transparent;
    background: url("http://especiales.latercera.com//2016/render/img/arrow_next.png") no-repeat center #CC231E;
    opacity: 0.7;
    -webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.caja_goles_cam .owl-next:hover {
	opacity: 1;
}

@media (max-width: 510px) {
	.tx_tit_goles h2 {
		padding-top: 4px;
	}
}

@media (max-width: 438px) {
	.tx_tit_goles h2 {
		padding-top: 8px;
		font-size: 20px !important;
	}
}

/*------------------- Fin caja goles campeonato ------------------ */


/*--------- Pruebas especial  -----------*/

.pru_esp_1	{
	width: 100%;
	background: red;
	text-align: center;
	color: white;
}

/*--------- Pruebas especial  -----------*/


/*---------- Caja video secciones -------------*/

.video-links {
	max-height: 115px;
	overflow-y: auto;
	background-color: #454b5c;
	margin-bottom: 5px;
}
.article-box .video-links {
	max-height: none;
	margin-bottom: 15px;
}
.video-links li {
	list-style-type: none;
	margin-bottom: 1px;
}
.video-links li a {
	display: block;
	font-size: 12px;
	text-transform: uppercase;
	padding: 6px 10px;
	background-color: #3a3f4e; 
	color: #7c8298;
	font-family: sans-serif;
	font-weight: bold;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}


.video-links li a:hover,
.video-links li a:focus {
	background-color: #2e3240;
	color: #fff;
}
.video-links li a span {
	font-size: 10px;
	padding-left: 2px;
}
.video-links li a span:before {
	content: "\007E";
	margin-right: 4px;
	font-size: 14px;
}
.video-links li a:hover span,
.video-links li a:focus span {
	color: #c41325;
}

a.control-font {
	color: gray;
    background: wheat;
    border: 1px solid darkgray;
    padding: 5px 10px;
    font-weight: bold;
    font-family: sans-serif;
}

/*---------- Fin Caja video secciones -------------*/

/*---------------- Caja marcador html -----------------*/


/*--- Equipo Chile ---*/

.escudo_equipo.san_luis {
	background-image: url(http://especiales.latercera.com/2016/render/img/logos_equipos/equipos_chile/san_luis.png);
}

.escudo_equipo.u_catolica {
	background-image: url(http://especiales.latercera.com/2016/render/img/logos_equipos/equipos_chile/u_catolica.png);
}

.escudo_equipo.u_chile {
	background-image: url(http://especiales.latercera.com/2016/render/img/logos_equipos/equipos_chile/u_chile.png);
}

.escudo_equipo.cobreloa {
	background-image: url(http://especiales.latercera.com/2016/render/img/logos_equipos/equipos_chile/cobreloa.png);
}

.escudo_equipo.colo_colo {
	background-image: url(http://especiales.latercera.com/2016/render/img/logos_equipos/equipos_chile/colo_colo.png);
}

.escudo_equipo.u_espanola {
	background-image: url(http://especiales.latercera.com/2016/render/img/logos_equipos/equipos_chile/u_espanola.png);
}

.escudo_equipo.palestino {
	background-image: url(http://especiales.latercera.com/2016/render/img/logos_equipos/equipos_chile/palestino.png);
}

.escudo_equipo.everton {
	background-image: url(http://especiales.latercera.com/2016/render/img/logos_equipos/equipos_chile/everton.png);
}

.escudo_equipo.audax {
	background-image: url(http://especiales.latercera.com/2016/render/img/logos_equipos/equipos_chile/audax.png);
}

.escudo_equipo.cobresal {
	background-image: url(http://especiales.latercera.com/2016/render/img/logos_equipos/equipos_chile/cobresal.png);
}

/*-- Argentina --*/

.escudo_equipo.s_lorenzo_almagro {
	background-image: url(http://especiales.latercera.com/2016/render/img/logos_equipos/equipos_chile/s_lorenzo_almagro.png);
}

/*-- Bulgaro --*/

.escudo_equipo.ludorogets {
	background-image: url(http://especiales.latercera.com/2016/render/img/logos_equipos/equipos_chile/ludorogets.png);
}

/*-- Croacia --*/

.escudo_equipo.dinamo_zagreb {
	background-image: url(http://especiales.latercera.com/2016/render/img/logos_equipos/equipos_chile/dinamo_zagreb.png);
}

/*-- España --*/

.escudo_equipo.sevilla {
	background-image: url(http://especiales.latercera.com/2016/render/img/logos_equipos/equipos_chile/sevilla.png);
}

.escudo_equipo.barcelona {
	background-image: url(http://especiales.latercera.com/2016/render/img/logos_equipos/equipos_chile/barcelona.png);
}

/*-- Alemania --*/

.escudo_equipo.leverkusen {
	background-image: url(http://especiales.latercera.com/2016/render/img/logos_equipos/equipos_chile/leverkusen.png);
}

.escudo_equipo.bayern_munich {
	background-image: url(http://especiales.latercera.com/2016/render/img/logos_equipos/equipos_chile/bayern_munich.png);
}

/*-- Inglaterra --*/

.escudo_equipo.tottenham {
	background-image: url(http://especiales.latercera.com/2016/render/img/logos_equipos/equipos_chile/tottenham.png);
}

.escudo_equipo.m_city {
	background-image: url(http://especiales.latercera.com/2016/render/img/logos_equipos/equipos_chile/m_city.png);
}

.escudo_equipo.arsenal {
	background-image: url(http://especiales.latercera.com/2016/render/img/logos_equipos/equipos_chile/arsenal.png);
}

/*-- Paises Bajos --*/

.escudo_equipo.psv {
	background-image: url(http://especiales.latercera.com/2016/render/img/logos_equipos/equipos_chile/psv.png);
}



.img_fondo_marcador {
	background-image: url(http://especiales.latercera.com/2016/marcador-futbol/img/fondo_caja.jpg);
	background-size: cover;
	border-top: 5px solid #CC231E;
}

.marcador_html {
	width: 100%;
	position: relative;
	background-image: url("http://especiales.latercera.com/2016/marcador-futbol/img/degradado_fondo_claro.png") !important;
}
.escudo_equipo {
	width: 30%;
	height: 140px;
	background-position: center;
	float: left;
	background-size: auto 60%;
	background-repeat: no-repeat;
	position: relative;
	background-position-y: 15px; 
}

.escudo_equipo h4 {
	text-align: center;
    font-family: sans-serif;
    color: white;
    position: absolute;
    top: 105px;
    width: calc(100% - 10px);
    font-weight: bold;
    padding: 0px 5px;
    margin:0px;
}

.marcador_partido {
	width: 40%;
	float: left;
	text-align: center;
	color: white;
}

.marcador_partido h3 {
	font-family: sans-serif !important;
    font-weight: bold;
    font-size: 60px !important; 
    margin-bottom: 0px !important;
    margin-top: 20px;
    letter-spacing: -5px;
}

.marcador_partido p {
    font-family: sans-serif !important;
    font-size: 22px !important;
    margin-top: 0px;
}

.marcador_html:after {
    content: "";
    clear: both;
    display: table;
}

.marcadorPersonalizadoWrapper {
position: relative;
padding-bottom: 56.25%; /* 16:9 */
padding-top: 25px;
height: 0;
}
.marcadorPersonalizadoWrapper iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 145px;
}

.marcador_opta {
	height: 160px;
}

body.body_sin_margen {
	margin: 0px;
}


@media (max-width: 340px) {
	.escudo_equipo  {
		background-size: auto 50%;
		height: 120px;
	}
	.marcador_partido h3 {
		font-size: 55px !important;
	}
	.escudo_equipo h4 {
		top: 85px;
		font-weight: normal;
	}
}

@media (max-width: 300px) {
	.escudo_equipo  {
		background-size: auto 30%;

	}
	.marcador_partido h3 {
		font-size: 40px !important;
	    letter-spacing: -5px;
	}
	.escudo_equipo h4 {
		top: 65px;
		font-weight: normal;
		font-size: 12px;
	}
}
/*---------------- Fin faja marcador html -----------------*/

/*-------------- Challenger Santiago ----------------*/

.cabecera_challenger {
	width: 100%;
	background-color: #55a51e;
}

.cabecera_challenger h1 {
	color: white;
    font-family: sans-serif !important;
    font-size: 26px !important;
    background-image: url(http://especiales.latercera.com/2016/render/img/logo_challenger.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding: 10px 160px 10px 10px;
    margin-bottom: 0px !important;
    background-size: auto 35px;
}

.not_principal_challenger {
	height: 300px;
	position: relative;
	background-size: cover;
	background-position: center center;
}

.not_principal_challenger::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	background: rgba(0,0,0,0);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 26%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(26%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 26%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 26%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 26%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 26%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.info_principal_chall {
	position: absolute;
	bottom: 0px;
	padding: 20px;
	width: 100%;
}

.not_challenger_ant {
	border-top: 5px solid #55A51E;
}

.not_principal_challenger h2 {
	color: white;
	width: 100%;
	font-size: 30px !important;
	margin-bottom: 0px !important;
	font-weight: bold !important;
}

.not_principal_challenger p {
	font-family: "Utopia";
    font-size: 16px;
    line-height: 1.2;
    color: white;
}

.cabecera_challenger h1 span {
	font-weight: bold;
}

.challenger_03::after {
	content: "";
    clear: both;
    display: table;
}

.not_challenger_02 {
	width: 100%;
	position: relative;
	padding: 5px 5px 10px 5px;
    border-bottom: 1px solid #D8D8DA;
}

.not_challenger_02::after {
	content: "";
	clear: both;
	display: table;
}

.img_not_chal {
	width: calc(35% - 20px);
	margin: 10px;
	height: 70px;
	float: left;
	background-size: cover;
	background-position: center center;
}

.tx_img_challenger {
	width: 65%;
	float: left;
}

.tx_img_challenger a h3 {
	color: black;
}

.tx_img_challenger a:hover h3 {
	color: #484E64;
}

.tx_img_challenger h3 {
	margin: 0px !important;
    font-weight: bold;
    font-size: 20px !important;
    padding: 5px 5px 0px 5px;
    color: 
}

.tx_img_challenger p {
	margin: 0px !important;	
	padding: 0px 5px 5px 5px;
	color: #484E64 !important;
}

.columna_challenger {
	width: 100%;
	position: relative;
}

.video_challenger {
	width: 100%;
	position: relative;
}

.video_challenger span.epigrafe {
	position: absolute !important;
    top: -10px;
    left: -5px;
}

.ft_colum_challenger {
	text-align: center;
	padding: 20px;
	padding-bottom: 0px;
	padding-top: 65px;
}

.img_not_03 {
	padding-bottom: 25px;
	border-left: 1px solid #D8D8DA;
	border-right: 1px solid #D8D8DA;
}

.img_not_03 h4 {
	text-align: center;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.challenger_caja {
	margin-bottom: 20px;
}

.challenger_caja::after {
	content: "";
    clear: both;
    display: table;
}

.etiqueta_columna_programa {
	position: absolute;
    background-image: url(http://d2vpb0i3hb2k8a.cloudfront.net/wp-content/themes/latercera/img/f_cat.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 100%;
    color: white;
    padding: 5px 35px 5px 15px;
    font-family: "Utopia-italic";
    font-size: 19px;
    top: -10px;
    left: -5px;
}

/*-------------- Challenger Santiago ----------------*/


/*-------------- Elecciones paso de personas ---------------*/

iframe.dongabriel {
	overflow-x:hidden;
	overflow-y:hidden;
}

iframe.especial_resultados_elecciones {
	width: 100%;
	height: 320px;
}

@media (max-width: 767px) {
	iframe.especial_resultados_elecciones {
	width: 100%;
	height: 670px;
	}
}

/*-------------- Elecciones paso de personas ---------------*/


/*------- Tabla responsive ------*/

.table_responsive {
	margin: 0px;
	padding: 0px;
	width: 100%;
	overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid #ddd;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    -webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding: 0px;
}

/*------- Fin Tabla responsive ------*/


/*------- Cabecera elescciones eeuu --------*/

.cabecera_eleciones_eeuu {
	border-top: 2px solid #cc231e;
	border-bottom: 8px solid #cc231e;
	width: 100%;
	position: relative;
	background-image: url(http://especiales.latercera.com/2016/render/img/elecciones/fondo-candidatos.jpg);
	background-position: right top;
}

.cabecera_eleciones_eeuu::before {
	content: "";
	position: absolute;
	right: 0px;
	width: 176px;
	height: 62px;
	bottom: 12px;
	background: url(http://especiales.latercera.com/2016/render/img/elecciones/logo_santander.png);
}

a.lk_santander {
	position: absolute;
	right: 0px;
	width: 176px;
	height: 62px;
	bottom: 12px;
}

.tx_elec_eeuu h2 {
	font-family: sans-serif !important;
	font-weight: bold !important;
	text-transform: uppercase;
	color: white;
	padding-left: 10px;
	margin: 15px 0px !important;
	font-size: 21px !important;
}

.tx_elec_eeuu h2 span {
	background-color: #cc231e;
	padding: 5px;
}

.pie_elec_eeuu {
	background-image: url(http://especiales.latercera.com/2016/render/img/elecciones/pie_bajop_01.png);
	background-position: right;
	height: 20px;
	width: 100%;
	border-bottom: 6px solid white;
}

.column.izquierda .tx_elec_eeuu h2 {
	width: 300px;
	font-size: 19px !important;
}

.column.izquierda .tx_elec_eeuu h2 span {
	line-height: 40px;
}

.column.izquierda .cabecera_eleciones_eeuu {
	background-position: left;
}

.column.izquierda .cabecera_eleciones_eeuu::before {
	bottom: 6px;
}

.cabecera_eleciones_eeuu::before {
	display: none;
}

@media (max-width: 1180px) {
	.tx_elec_eeuu h2 {
		max-width: 370px;
    	margin: 5px 0px 10px 0px !important;
	}
	.tx_elec_eeuu h2 span {
		padding: 2px 5px;
    	line-height: 30px;
	}
	.column.izquierda .tx_elec_eeuu h2  {
		width: 200px;
	}
}


@media (max-width: 1050px) {
	.cabecera_eleciones_eeuu {
		background-position: left bottom;
	}
}

@media (max-width: 935px) {
	.tx_elec_eeuu h2 {
		margin-bottom: 25px !important;
	}
	.pie_elec_eeuu {
		background-position: left !important;
	}
	.cabecera_eleciones_eeuu::before {
		bottom: 6px !important;
	}
}

@media (max-width: 420px) {
	.tx_elec_eeuu h2 {
		max-width: 250px;
	    margin-bottom: 55px !important;
	    text-align: center;
	    padding-left: 0px;
	    margin-left: auto !important;
	    margin-right: auto !important;
	}
	.tx_elec_eeuu h2 span {
		line-height: 40px;
	}
	.cabecera_eleciones_eeuu::before {
		bottom: 6px !important;
	    width: 100%;
	    background-color: red;
	    background-repeat: no-repeat;
	    background-position: center;
	}
	
}

/*------- Fin Cabecera elescciones eeuu --------*/

/*------- Especial bianchi --------*/

.et_sup {
    width: 100%;
    background-color: rgb(153, 189, 56);
    background-image: url(http://especiales.latercera.com/2016/mediocontrauno/img-twitter.png);
    background-size: auto 200%;
    position: relative;
    background-repeat: repeat-x;
    margin-bottom: 25px;
}

.et_sup::before {
    content: "";
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: -10px;
    background: url(http://especiales.latercera.com/2016/mediocontrauno/felipe_b.png) 100% center / auto 100% no-repeat;
    background-position: 100% center;
    border-bottom: 1px solid rgb(229, 230, 232);
}

.et_sup::after {
    content: "";
    width: 100%;
    position: absolute;
    top: -10px;
    border-top: 1px solid rgb(229, 230, 232);
}

.et_sup h2 {
    color: rgb(72, 78, 100);
    font-family: "PT Sans", sans-serif !important;
    padding: 5px 10px;
    margin: 0px !important;
    font-weight: bold !important;
}

.et_sup h2 span.tx_white {
    color: white;
}

.not_cat.deportesmedio-contra-uno span.fond {
	display: none !important;
}

.not_cat.deportesmedio-contra-uno::after {
	display: none !important;
}

@import 'https://fonts.googleapis.com/css?family=PT+Sans:400,700';

.fran-gren {
	width: 100%;
    height: 100px;
    background-color: #99bd38;
    background-image: url(http://especiales.latercera.com/2016/mediocontrauno/img-twitter.png);
    background-repeat: repeat-x;
    margin-top: 40px;
    position: relative;
}

.fran-gren:after {
	content: "";
    border-top: 1px solid gray;
    width: 100%;
    position: absolute;
    top: -10px;
}

.fran-gren:before {
	content: "";
    border-bottom: 1px solid gray;
    width: 100%;
    position: absolute;
    bottom: -10px;
    height: 160px;
}

.tit_bian {
	position: relative;
}

.tit_bian h2 {
	font-size: 60px !important;
	font-weight: 700 !important;
	color: #484E64;
	font-family: 'PT Sans', sans-serif !important;
	margin-top: 20px !important;
	margin-bottom: 0px !important;
	margin-right: 180px !important;
	line-height: 45px !important;
}

.tit_bian:before {
	content: "";
	background: url(http://especiales.latercera.com/2016/mediocontrauno/felipe_b.png) no-repeat;
	background-position: 90%;
	height: 250px;
	width: 170px;
	position: absolute;
	right: 0px;
	bottom: -7px;
}

.tit_bian h2 span.tx_green {
	color: #99bd38;
}

.tit_bian h3 {
	font-size: 28px !important;
	font-weight: 400;
	color: #484E64;
	font-family: 'PT Sans', sans-serif !important;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	margin-right: 180px !important;
	line-height: 30px !important;
}

.menu_pricipal {
	width: 100%;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding-bottom: 10px;
}


.menu_pricipal ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu_pricipal li {
    float: left;
}

.menu_pricipal li a {
    display: block;
    text-align: center;
    padding: 10px 15px 0px 15px;
    font-size: 1em;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: #484E64;
    text-decoration: none;
}

.menu_pricipal li a img {
    max-width: 200px;
    max-height: 32px;
}

.menu_pricipal li a:hover {
	color: #c41325;
}

.art_noticias {
	width: 100%;
	margin-top: 20px;
}

.art_top {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 1px solid lightgray;
}

.img-art-top {
	width: 33%;
	float: left;
}

.tx-art-top {
	width: calc(100% - 35%);
	float: left;
	margin-left: 2%;
}

.tx-art-top a {
	text-decoration: none;
}

.tx-art-top a h3 {
	color: #484E64;
	font-family: 'Noticia Text',serif;
	font-size: 26px;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 30px;
}

.tx-art-top a:hover h3 {
	color: #c41325;
}

.tx-art-top p {
	color: #484E64;
	font-family: 'PT Sans', sans-serif;
	margin-top: 10px;
	margin-bottom: 0px;
}

.responsive {
    width: 100%;
    height: auto;
    margin-bottom: -4px;
    overflow: hidden;
}

.clear {
	clear: both;
}

.tit_bian h4 {
	color: white;
    text-align: right;
    padding-right: 180px;
    float: right;
    width: 420px;
    margin: 0px !important;
    font-size: 16px !important;
    font-family: 'PT Sans', sans-serif !important;
    margin-top: 3px !important;
    font-weight: lighter;
    position: absolute;
    top: -110px;
    right: 0px;
}

.html-especial {
	border-bottom: 1px solid gray;
}

.tit_bian {
	max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
}

@media only screen and (max-width: 550px) {
	.tit_bian h2 {
		margin-right: 0px !important;
	}
	.tit_bian h3 {
		margin-right: 0px !important;
	}
	.tit_bian:before {
		display: none !important;
	}
	.img-art-top {
		width: 100% !important;
		margin-bottom: 10px !important;
	}
	.tx-art-top {
		width: 100% !important;
	}
	.art_top {
		width: calc(100% - 20px) !important;
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
	.tit_bian h4{
		padding-right: 20px !important;
		width: 280px !important;
	}
}

/*------- Fin especial bianchi --------*/
/*------- Indicadores economicos --------*/
iframe.iframeIndicadores {
    margin: 0 -15px;
    max-width: initial;
    width: auto;
    height: 5450px;
    min-width: 100%;
}
@media (min-width: 550px) {
	iframe.iframeIndicadores {
	    height: 4570px;
	}
}
@media (min-width: 768px) {
	iframe.iframeIndicadores {
	    height: 3100px;
	    margin: 0;
	}
}
@media (min-width: 801px) {
	iframe.iframeIndicadores {
	    height: 4990px;
	}
}
@media (min-width: 992px) {
	iframe.iframeIndicadores {
	    height: 4530px;
	}	
}
@media (min-width: 1111px) {
	iframe.iframeIndicadores {
	    height: 3100px;
	}	
}
/*------- Fin indicadores economicos --------*/

/*------- Barra Categoria Especial IRONMAN PUCON 2017 --------*/
	.ironman-pucon-2017 {width: 100%;margin: 5px auto 15px;display: block;}
	.ironman-pucon-2017:after, .ironman-pucon-2017:before {
		content: "";
		display: block;
		background: #e5e6e8;
		height: 1px;
		width: 100%;
	}
	.ironman-pucon-2017:before {margin-bottom: 10px;}
	.ironman-pucon-2017:after {margin-top: 10px;}
	.ironman-pucon-2017 a, #content.portada .ironman-pucon-2017 a {
		width: 100%;
		display: table;
		height: 41px;
		position: relative;
		background: #484848;
	}
	.ironman-pucon-2017 a:before {
		content: "";
		position: absolute;
		bottom: 0;
		right: 0;
		width: 183px;
		height: 56px;
		background: url(http://especiales.latercera.com/2016/render/img/volcan-bg-sm.png) no-repeat top right / 100%;
	}
	.ironman-pucon-2017 a .ipuc_sup {
		border-left: 0px solid #d10925;
		display: table-cell;
		vertical-align: middle;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.ironman-pucon-2017 a:hover .ipuc_sup {
		border-left: 10px solid #d10925;
	}
	.ironman-pucon-2017 a .ipuc_sup .ipuc_logo {
		display: block;
		margin-left: 10px;
		position: relative;
		width:190px; height: 27px;
		background: url(http://especiales.latercera.com/2016/render/img/ironman-2017sm.png) no-repeat center center / 100%;
	}
	@media (min-width: 768px) {
		.ironman-pucon-2017.ipuc_category {margin: 25px auto 0px;}
		.ironman-pucon-2017.ipuc_category a, #content.portada .ironman-pucon-2017.ipuc_category a {height: 100px;}
		.ironman-pucon-2017.ipuc_category a:before {width:347px; height: 126px;background: url(http://especiales.latercera.com/2016/render/img/volcan-bg-lg.png) no-repeat top right / 100%;}
		.ironman-pucon-2017.ipuc_category a .ipuc_sup .ipuc_logo {width:370px; height: 51px; background: url(http://especiales.latercera.com/2016/render/img/ironman-2017lg.png) no-repeat center center / 100%;}
	}
/*------- Fin Barra Categoria Especial IRONMAN PUCON 2017 --------*/
/*------- widget redes sociales --------*/
.rrss-links {text-align: center; border: solid #c4c4c4; border-width: 1px 0; padding: 10px 0 5px;}
#content.portada .rrss-links h3 {font-weight: normal; margin: 0 0 5px; font-size: 20px;}
#content.portada .rrss-links h3 strong {font-weight: bold;}
.rrss-links ul {padding:0; margin:0;text-align: center;}
.rrss-links ul li {list-style-type: none;display: inline-block;vertical-align: middle;}
.rrss-links ul li a {
	display: block;
	opacity: 1;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;

	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-o-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
.rrss-links ul li a:hover, .rrss-links ul li a:focus {
	opacity: .7;
	-moz-transform: translateY(-4px);
	-webkit-transform: translateY(-4px);
	-o-transform: translateY(-4px);
	-ms-transform: translateY(-4px);
	transform: translateY(-4px);
}
/*------- fin widget redes sociales --------*/

/*------- Esconder google + ----------*/

.redes li.google {
	display: none;
}

/*------- Fin Esconder google + ----------*/

/*------- Teleton --------*/

.banner_teleton {
		width: 100%;
		border:1px solid #e75353;
		background-color: #e75353;
		background-image: url(http://especiales.latercera.com/2016/render/img/trama_teleton.png);
		margin-top: 60px;
	}
	.metas_valores {
		width: calc(100% - 300px);
		float: left;
		padding-top: 6px;
	    padding-left: 16px;
	}
	.logo_teleton {
		background-image: url(http://especiales.latercera.com/2016/render/img/logo-teleton.png);
		background-color: white;
		background-size: auto 85%;
		background-repeat: no-repeat;
		background-position: center;
		float: left;
		height: 100px;
		width: 300px;
		position: relative;
	}
	.logo_teleton::before {
		content: "";
	    background-image: url(http://especiales.latercera.com/2016/render/img/fin_logo.png);
	    width: 142px;
	    height: 100px;
	    position: absolute;
	    left: -142px;
	}
	.clear {
		clear: both;
	}
	.meta_tel {
		position: relative;
	}
	.como_vamos {
		position: relative;
	}
	.metas_valores h2 {
		color: white;
		text-transform: uppercase;
		font-weight: bold !important;
		margin: 10px 0px !important;
	}
	.metas_valores .meta_tel h2.valor_meta {
		color: #e75353;
		background-color: white;
		padding: 5px 15px 0px 20px;
		width: 215px;
		text-align: right;
		position: absolute;
	    top: -5px;
	    margin: 0px !important;
	    left: 260px;
	}
	.metas_valores .meta_tel h2.valor_meta::before {
	    content: "$";
	    position: relative;
	    left: -10px;
	}
	.metas_valores .como_vamos h2.valor_meta::before {
	    content: "$";
	    position: relative;
	    left: -10px;
	}
	.metas_valores .como_vamos h2.valor_meta {
		border: 2px solid white; 
		padding: 5px 15px 0px 20px;
		width: 215px;
		text-align: right;
		position: absolute;
	    top: -5px;
	    margin: 0px !important;
	    left: 260px;
	}
	.logo_teleton.teletin_01::after {
	    content: "";
	    background-image: url(http://especiales.latercera.com/2016/render/img/teletin_01.png);
	    width: 188px;
	    position: absolute;
	    height: 165px;
	    background-repeat: no-repeat;
	    bottom: 0px;
	    left: -173px;
	}
	.logo_teleton.teletin_02::after {
	    content: "";
	    background-image: url(http://especiales.latercera.com/2016/render/img/teletin_02.png);
	    width: 200px;
	    position: absolute;
	    height: 175px;
	    background-repeat: no-repeat;
	    bottom: 0px;
	    left: -190px;
	}
	.logo_teleton.teletin_03::after {
	    content: "";
	    background-image: url(http://especiales.latercera.com/2016/render/img/teletin_03.png);
	    width: 200px;
	    position: absolute;
	    height: 160px;
	    background-repeat: no-repeat;
	    bottom: -10px;
	    left: -170px;
	}
	@media (max-width: 900px) {
		.logo_teleton::before {
		display: none;
		}
		.logo_teleton.teletin_01::after {
			display: none;
		}
		.logo_teleton.teletin_02::after {
			display: none;
		}
		.logo_teleton.teletin_03::after {
			display: none;
		}
	}
	@media (max-width: 800px) {
		.metas_valores {
			width: 100%;
		}
		.logo_teleton {
			width: 100%;
		}
		.metas_valores h2  {
			font-size: 28px !important;
		}
	}
	@media (max-width: 500px) {
		.metas_valores .meta_tel h2.valor_meta {
			position: relative;
			width: 100%;
			left: -5px;
		}
		.metas_valores .como_vamos h2.valor_meta {
			position: relative;
			width: 100%;
			left: -5px;
		}
		.metas_valores h2 {
			text-align: center;
		}
	}

/*------- Teleton --------*/

/*------- Opinon deporte ---------*/

.caja_opinion_dep h2.tit_opinion_dep {
		font-size: 28px !important;
	    color: black;
	    border-top: 1px solid #bfbfbf;
	    border-bottom: 1px solid #bfbfbf;
	    padding: 5px 0px;
	    margin: 0px !important;
	    margin-bottom: 20px !important;
	    font-weight: bold !important;
	    padding-top: 10px;
	}
	.caja_comentario_op {
		border: 1px solid #cccccc;
		width: 30%;
		float: left; 
		margin: 0% 1.4%;
		position: relative;
	}
	.caja_not_dep h4 {
		border-top: 1px solid lightgray;
	    border-bottom: 1px solid lightgray;
	    text-align: center;
	    padding: 5px 0px;
	    margin: 0px 10px 15px 10px;
	    font-family: "Utopia-italic";
	    font-size: 16px;
	    font-weight: bold;
	    color: black;
	}
	.caja_foto_por {
		text-align: center;
		color: #232323;
	}
	.caja_foto_por p {
		margin-top: 100px;
		margin-bottom: 3px;
		font-size: 12px;
	}
	.caja_foto_por h3 {
		margin: 0px !important;
    	padding: 0px 10px;
    	font-size: 14px !important;
    }
	.caja_comentario_op.bianchi::before {
		background-image: url(http://especiales.latercera.com/2016/render/img/columnistas_deportes/bianchi.jpg);
	}
	.caja_comentario_op.goldberg::before {
		background-image: url(http://especiales.latercera.com/2016/render/img/columnistas_deportes/goldberg.jpg);
	}
	.caja_comentario_op.hurtado::before {
		background-image: url(http://especiales.latercera.com/2016/render/img/columnistas_deportes/hurtado.jpg);
	}
	.caja_comentario_op.jose_m::before {
		background-image: url(http://especiales.latercera.com/2016/render/img/columnistas_deportes/jose_m.jpg);
	}
	.caja_comentario_op.leonardo_veliz::before {
		background-image: url(http://especiales.latercera.com/2016/render/img/columnistas_deportes/leonardo_veliz.jpg);
	}
	.caja_comentario_op.sepulveda::before {
		background-image: url(http://especiales.latercera.com/2016/render/img/columnistas_deportes/sepulveda.jpg);
	}
	.caja_comentario_op.simonetti::before {
		background-image: url(http://especiales.latercera.com/2016/render/img/columnistas_deportes/simonetti.jpg);
	}
	.caja_comentario_op.solabarrieta::before {
		background-image: url(http://especiales.latercera.com/2016/render/img/columnistas_deportes/solabarrieta.jpg);
	}
	.caja_comentario_op::before {
		content: "";
		background-position: center top;
		background-size: 100% auto;
		width: 80px;
		height: 80px;
		border: 3px solid gray;
		position: absolute;
		left: 50%;
		margin-left: -40px;
		top: 15px;
		-moz-border-radius: 50%;
	    -webkit-border-radius: 50%;
	    border-radius: 50%;
	}
	.caja_comentario_op.solo_1 {
		float: none;
		margin-right: auto;
		margin-left: auto;
	}

	.caja_comentario_op.solo_2:nth-of-type(1) {
		margin-left: 20%;
	}

	@media (max-width: 1060px) {
		.caja_comentario_op {
			width: 100%;
			margin-bottom: 20px;
		}
		.caja_comentario_op.solo_2:nth-of-type(1) {
		margin-left: 0%;
		}
	}
	@media (max-width: 800px) {
		.caja_comentario_op {
			width: 30%;
		}
		.caja_comentario_op.solo_2 {
			width: 46%;
		}
	}
	@media (max-width: 400px) {
		.caja_comentario_op {
			width: 100%;
		}
		.caja_comentario_op.solo_2 {
			width: 100%;
		}
	}

/*------- Fin Opinon deporte ---------*/

.publicidad_caja_en_vivo {
	width: 240px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 5px;
}


.mejores_estadisticas {
		max-width: 600px;
		background-color: lightgray;
	}
	.mejores_estadisticas h3 {
		color: white !important;
		font-weight: bold;
		font-family: sans-serif !important;
		background-color: #99BD38;
		font-size: 26px !important;
		padding: 10px;
		margin: 0px;
		margin-bottom: 0px !important;
	}

	.jugador_sel {
		margin: 0px 10px;
		border-bottom: 1px solid black;
		padding: 0px 0px 15px 10px; 
	}
	.jugador_sel h4 {
		margin: 0px;
		font-weight: bold;
		font-size: 18px !important;
		font-family: sans-serif !important;
		padding-top: 15px;
		position: relative;
		padding-left: 15px;
		margin-bottom: 5px !important;
	}
	.jugador_sel h4::after {
	     width: 0; 
	     height: 0; 
	     border-left: 10px solid #99BD38;
	     border-top: 5px solid transparent;
	     border-bottom: 5px solid transparent; 
	     content: "";
	     left: 0px;
	     position: absolute;
	     top: 20px;
	}
	.caja_porcentaje_jugador {
		position: relative;
		width: 90%;
		height: 20px;
		float: left;
		background-color: #99BD38;
	}
	.caja_porcentaje_jugador::before {
		content: "";
		position: absolute; 
		top: 0px;
		right: 0px;
		height: 20px;
		background-color: white;
	}
	.caja_porcentaje_jugador.porcentaje_90::before {
		width: 10%;
	}
	.caja_porcentaje_jugador.porcentaje_80::before {
		width: 20%;
	}
	.caja_porcentaje_jugador.porcentaje_70::before {
		width: 30%;
	}
	.caja_porcentaje_jugador.porcentaje_60::before {
		width: 40%;
	}
	.caja_porcentaje_jugador.porcentaje_50::before {
		width: 50%;
	}
	.caja_porcentaje_jugador.porcentaje_40::before {
		width: 60%;
	}
	.caja_porcentaje_jugador.porcentaje_30::before {
		width: 70%;
	}
	.caja_porcentaje_jugador.porcentaje_20::before {
		width: 80%;
	}
	.caja_porcentaje_jugador.porcentaje_10::before {
		width: 90%;
	}
	.votos_jugador {
		width: 10%;
		float: left;
		text-align: center;
		font-weight: bold;
		font-family: sans-serif;
	}
	.mejores_estadisticas .jugador_sel:nth-last-of-type(1) {
		border-bottom: 0px;
		padding-bottom: 20px;
	}
	.clear {
		clear: both;
	}
	.jugador_sel p {
		margin-bottom: 0px !important;
	}

	.tabla_anteriores {
		width: calc(50% - 11px);
		float: left;
		margin-bottom: 20px;
		border: 1px solid gray;
	}	
	.tabla_anteriores:nth-child(odd) {
		margin-right: 10px;
	}
	.tabla_anteriores h2 {
		color: white !important;
		font-weight: bold;
		font-family: sans-serif !important;
		background-color: #99BD38; 
		padding: 10px;
		margin: 0px !important;
		font-size: 20px !important;
	}
	.cupo_jugador {
		padding: 5px 10px;
		background-color: #ddd;
	}
	.cupo_jugador:nth-child(odd) {
		background-color: #cacaca;
	}
	.cupo_jugador h3 {
		font-family: sans-serif !important;
		font-weight: bold !important;
		font-size: 16px !important;
		margin: 0px !important;
	}
	.cupo_jugador p {
		font-family: sans-serif !important;
		font-size: 14px !important;
		margin: 0px !important;
	}