@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: local('Play'), local('Play-Regular'), url(http://fonts.gstatic.com/s/play/v7/PeTTkHQKj5rUPVxkIGAoaw.ttf) format('truetype');
}
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: local('Play Bold'), local('Play-Bold'), url(http://fonts.gstatic.com/s/play/v7/j7wx-rRiDuE-JcaZ1ilpKg.ttf) format('truetype');
}
