#header-container,
#masthead-navigation,
.sidebar,
.related-articles,
#inline-connect,
#inline-comments,
.related-header,
footer.site-footer,
#masthead-navigation,
#navigation,
.sticky,
.article-ad,
.promoted-articles,
div[id^="div-gpt-ad"],
iframe[allowfullscreen="allowfullscreen"],
iframe[frameborder="0"]{
	display: none;
}
#primary{
	padding: 0;
}
.article-header .entry-meta{
	border-bottom: none;
	margin-bottom: 40px;
}
*{
	/*display: none;*/
	margin: 0 !important;
}
/*p{
	page-break-before: always;
	page-break-after: always;
	display: inline !important;
	float: none !important;
}
img{
	page-break-before: always;
	page-break-after: always;
	display: inline !important;
}*/
div,p,img{
        page-break-inside: avoid !important;
        /*font-family: Georgia, Times, sans-serif;*/
        page-break-after: avoid;
    }