@charset "utf-8";
/* CSS Document */
body{ margin:0px; font-weight:normal;}
img{ border:none;}
.win body{font-family:"DINAKARAN2W", Arial, Helvetica, sans-serif;line-height:!important;font-size:100%;font-weight:normal;}
@font-face {font-family: 'DINAKARAN2W';src: url('../fonts/dinakaran2w-webfont.eot');src: url('../fonts/dinakaran2w-webfont.eot?#iefix') format('embedded-opentype'),/*url('dinakaran2w-webfont.woff') format('woff'),*/url('../fonts/dinakaran2w-webfont.ttf') format('truetype'),url('../fonts/dinakaran2w-webfont.svg#DINAKARAN2W') format('svg');font-weight:normal;}
@font-face {font-family: 'big-jiregular';src: url('../fonts/big-ji.eot');src: url('../fonts/big-ji.eot?#iefix') format('embedded-opentype'),url('../fonts/big-ji.woff') format('woff'),url('../fonts/big-ji.ttf') format('truetype'),url('../fonts/big-ji.svg#big-jiregular') format('svg');font-weight: normal;font-style: normal;}
@font-face {font-family: 'FontAwesome';src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');font-weight: normal;font-style: normal}
.width-setting{width:1000px;}
.width-left{ width:100%; float:left;}

#head-box-1{ float:left; width:100%;  background-color:#007dc6; border-bottom:solid 1px #FFF; height:30px;}
.top-shadow-left{float:left; position:fixed; left:50%; width:283px; top:0px; margin:0px 0px 0px -803px; height:600px; z-index:500;opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */}
.top-shadow-right{float:left; position:fixed; left:50%; width:283px; top:0px; margin:0px 0px 0px 520px; height:600px; z-index:500;opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */}
#head-box-2{float:left; width:100%; height:90px; padding:10px 0px;
background-image:url(http://img.dinakaran.com/images/site-use/new-header-bg.gif?id=1);background-repeat:no-repeat;background-position:center top;}
.ad-boxtop728{ float:left; width:728px; height:90px;}
img.dinakaranlogo{ float:left; margin:0px 10px;}
.left-icons{ float:left;  font-weight:normal;}
.left-icons a{ text-decoration:none; color:#FFF; text-shadow:0px 0px 15px #217392; float:left; padding:0px 10px; background-image:url(images/line-bg.png); background-repeat:no-repeat; background-position:right; width:25px; height:30px; text-align:center; line-height:30px;}
.left-icons a:hover{ text-decoration:none; color:#FFF;text-shadow:0px 0px 6px #000;}

.right-icons{ float:right; font-weight:normal;}
.right-icons a{ text-decoration:none; color:#FFF; text-shadow:0px 0px 15px #217392; float:left; padding:0px 2px; background-image:url(images/line-bg.png); background-repeat:no-repeat; background-position:left; width:25px; height:30px; text-align:center; line-height:30px;}
.right-icons a:hover{ text-decoration:none; color:#FFF;text-shadow:0px 0px 6px #000;}

.fa232-home:before{font-family: FontAwesome;content:"\f015";}
.fa232-epaper:before{font-family: FontAwesome;content:"\f15c";}
.fa232-sitemap:before{font-family: FontAwesome;content:"\f0e8";}
.fa232-facebook:before{font-family: FontAwesome;content:"\f09a";}
.fa232-twitter:before{font-family: FontAwesome;content:"\f099";}
.fa232-google:before{font-family: FontAwesome;content:"\f0d5";}
.fa232-print:before{font-family: 'FontAwesome'; content:"\f02f"; padding-right:10px;}
.fa232-plus:before{font-family: 'FontAwesome'; content:"\f055"; }
.fa232-minus:before{font-family: 'FontAwesome'; content:"\f056"; }
.fa232-rss:before{font-family: 'FontAwesome'; content:"\f09e";}
.fa232-apple:before{font-family: 'FontAwesome'; content:"\f179";}
.fa232-android:before{font-family: 'FontAwesome'; content:"\f17b"; }
.fa232-google:before{font-family: 'FontAwesome'; content:"\f0d4";}
.fa232-windows:before{font-family: 'FontAwesome'; content:"\f17a"; }
.sunlogo{ float:left; width:160px; height:60px; margin:0px 0px 0px 320px; padding:2px; z-index:500;}
.sunlogo h3{ float:left; width:140px; margin:0px; padding:0px 0px 0px 5px; color:#FFF; font-size:11.5px; line-height:13.5px; font-weight:normal; text-align:left;}
.sunlogo a{ float:left;}
.sunlogo a img{ float:left;width:15px;}

.fa232-left:before{font-family: 'FontAwesome'; content:"\f060"; }
.fa232-right:before{font-family: 'FontAwesome'; content:"\f061"; }

#footer-box{ float:left; width:100%; border-top:solid 1px #007dc6;background: #191919; /* Old browsers */
background: -moz-linear-gradient(top,  #191919 0%, #181818 76%, #181818 76%, #0f0f0f 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #191919 0%,#181818 76%,#181818 76%,#0f0f0f 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #191919 0%,#181818 76%,#181818 76%,#0f0f0f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191919', endColorstr='#0f0f0f',GradientType=0 ); /* IE6-9 */ }
#footer-box-2{ float:left; width:100%; border-top:solid 1px #007dc6;background: #007dc6; /* Old browsers */ }
.fotextlast{ float:left; margin:10px 10px 10px 10px; color:#FFF; text-shadow:1px 1px 2px #333; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.win .fotextlast a{font-size:12px;}
.fotextlast a{ text-decoration:none; color:#FFF}
.fotextlast a:hover{ text-decoration:underline; color:#FFF}

.more-link{ float:left; width:110px; margin:20px 10px 20px 20px;}
.more-link a{ float:left; width:100%; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666; text-shadow:1px 1px 1px #000; text-decoration:none; line-height:20px;}
.more-link a:hover{ text-decoration:none; color:#FFF;}

.contact-info{ float:left; width:220px; margin:20px 10px 20px 20px;}
.contact-info2{ float:left; width:320px; margin:20px 10px 20px 20px;}
.contact-info h1,.contact-info2 h1{ float:left; width:100%; font-size:22px; color:#FFF; font-weight:normal; margin:0px; padding:0px;}
.contact-info h2,.contact-info2 h2{ float:left; width:100%; font-size:16px; color:#666; font-weight:normal; margin:10px 0px 0px 0px; padding:0px;}
.win .contact-info h1,.win .contact-info2 h1{font-size:22px;}
.win .contact-info h2,.win .contact-info2 h2{font-size:16px;}
.contact-info2 h3{ float:left; width:100%; font-size:13px; color:#007dc6; font-weight:normal; margin:0px; padding:0px; font-family:Arial, Helvetica, sans-serif;}
.win .contact-info2 h3{font-size:15px; }
.contact-info2 h3 strong{ font-size:15px; color:#FFF; font-weight: normal;}
.win .contact-info2 h3 strong{ font-size:17px;}
.contact-info a{ float:left; width:100%; font-size:17px; color:#007dc6; font-weight:normal; margin:0px; padding:0px; font-family:Arial, Helvetica, sans-serif; text-decoration:none;}
.win .contact-info a{font-size:19px;}
.contact-info a:hover{ text-decoration:none; color:#FF0;}

/*.........................menu.................................*/
#menubox{ float:left; height:40px; line-height:40px;}

.nav {
background: #fbfafa; /* Old browsers */
background: -moz-linear-gradient(top,  #fbfafa 0%, #e9e9ea 74%, #d9d9d9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #fbfafa 0%,#e9e9ea 74%,#d9d9d9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #fbfafa 0%,#e9e9ea 74%,#d9d9d9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfafa', endColorstr='#d9d9d9',GradientType=0 ); /* IE6-9 */
 float:left; padding:0;text-align: center; height:40px; margin:0px;  width:100%; text-align:center; border-bottom:solid 1px #007dc6;border-top:solid 1px #FFF;}

.width-menu-2{ width:1000px; border-left:solid 1px #000; border-right:solid 1px #000;}
#main-menu{ float:left; width:100%;}
.menu li ul.sub-menu li a.highlight{ font-size:17px; color:#F00;}
.win .menu li ul.sub-menu li a.highlight{ font-size:20px; }
#news-1{ width:1000px;}
#news-2{ width:1000px; margin-left:-75px;}
#news-3{ }
#news-4{ width:410px; margin-left:0px;}
#news-5{ width:410px; margin-left:0px;}
#news-6{ width:410px; margin-left:0px;}
#news-7{ width:410px; margin-left:0px;}
#news-8{ width:410px; margin-left:0px;}
#news-9{ width:410px; margin-left:0px;}
#news-11{ width:205px;}
#news-12{ width:410px; margin-left:-143px;}
#news-14{ width:410px; margin-left:-294px;}
.list-box-menu{ width:200px; float:left;}
.list-box-menu .menu-item{ float:left; width:100%; }
.list-box-menu .menu-item a{ border-bottom:dotted 1px #CCC;}
.list-box-menu .menu-item a:hover{ border-bottom:dotted 1px #CCC; }

#menuline2{ float:left; width:970px; margin:0px 10px; padding:0px 5px; line-height:40px; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#007dc6+0,0063ba+100 */
background: rgb(0,125,198); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(0,125,198,1) 0%, rgba(0,99,186,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,125,198,1) 0%,rgba(0,99,186,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,125,198,1) 0%,rgba(0,99,186,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007dc6', endColorstr='#0063ba',GradientType=0 ); /* IE6-9 */
list-style:none;-webkit-border-bottom-right-radius: 15px;
-webkit-border-bottom-left-radius: 15px;
-moz-border-radius-bottomright: 15px;
-moz-border-radius-bottomleft: 15px;
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;}

#menuline2 li{float:left; line-height:40px; height:40px; list-style:none;}
#menuline2 li a{ float:left; padding:0px 8px; line-height:40px; font-size:17px; color:#FFF; text-shadow:1px 1px 1px #000; text-decoration:none;}
#menuline2 li a:hover{ text-decoration:none; color:#FF0;}

.pix-icon:before{font-size:15.5px;color: #333;font-family: 'FontAwesome';content: "\f03e";line-height:40px;float:left;text-align: center;}

.vdo-icon:before{font-size:15.5px;color: #333;font-family: 'FontAwesome';content: "\f03d";line-height:40px;float:left;text-align: center;}
.nav .menu-toggle { position: relative; z-index: 2;display: block;margin: 0; padding: 0.5em 0;text-decoration: none;text-align: center; color: #333;}
.nav .menu-toggle:hover, .nav .menu-toggle:focus {color: #eee;}
.nav .menu-toggle-text {font-size: 0.55em;display: block;}
.no-js .nav .menu-toggle {display: none;}
.nav .expanded-menu-toggle {color: #eeeeaa;}
.no-fontface .nav .icon-menu:before {display: none;}

/* .menu is visually hidden by default */
.menu {position: relative;z-index: 1;border: 0;margin: -1px auto; overflow: hidden; padding: 0;max-height: 1px;min-height: 0;clip: rect(0 0 0 0);
  -moz-transition: max-height 600ms ease-out, min-height 600ms ease-in, padding 600ms ease-in;
  -o-transition: max-height 600ms ease-out, min-height 600ms ease-in, padding 600ms ease-in;
  -webkit-transition: max-height 600ms ease-out, min-height 600ms ease-in, padding 600ms ease-in;
  transition: max-height 600ms ease-out, min-height 600ms ease-in, padding 600ms ease-in;/* end .menu li */}
.menu li { float:left;
}
.win .menu li a{font-family: "DINAKARAN2W", Arial, Helvetica, sans-serif;font-size:15.5px; }
.menu li a {display: block;padding:0px 10px;text-decoration: none;text-align: center; font-family:Arial, Helvetica, sans-serif;font-size:15.5px; line-height:41px;color: #333;
-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
.menu li a:hover {color: #333;background: #CCC;}
.menu li ul.sub-menu{display: none;}

/* end .menu */
.no-js .menu, .expanded-mobile-menu {
  -moz-transition: max-height 800ms ease-in, min-height 500ms ease-out, padding 400ms ease-in;
  -o-transition: max-height 800ms ease-in, min-height 500ms ease-out, padding 400ms ease-in;
  -webkit-transition: max-height 800ms ease-in, min-height 500ms ease-out, padding 400ms ease-in;
  transition: max-height 800ms ease-in, min-height 500ms ease-out, padding 400ms ease-in;
  /*min/max heights allow me to css transition to height auto for WordPress menus with unknown number of items*/
  clip: auto;min-height: 8em;max-height: 100em;padding: 0.5em 0;}

  .nav .menu-toggle {display: none;}

  .menu, .no-js .menu, .expanded-mobile-menu { /* no longer hidden by default! */margin: 0;min-height: 0;max-height: 999em;-moz-border-radius: 0; -webkit-border-radius: 0;
border-radius: 0;overflow: visible; padding:0;}
  .menu li, .no-js .menu li, .expanded-mobile-menu li { width: auto;display: inline-block; position: relative;vertical-align: middle; float:left;
    /* DROP DOWNS */
    /* showing sub-menus */  }
  .lt-ie8 .menu li, .lt-ie8 .no-js .menu li, .lt-ie8 .expanded-mobile-menu li {
    /* inline-block fix for old ie (relevant if they're served larger media queries in an IE stylesheet or something similar...*/
    display: inline;    zoom: 1;  }
  .menu li a, .no-js .menu li a, .expanded-mobile-menu li a {color: #333; }
  .menu li a:hover, .menu li a:focus, .no-js .menu li a:hover, .no-js .menu li a:focus, .expanded-mobile-menu li a:hover, .expanded-mobile-menu li a:focus {
    color: #FFF;background:#CCC; }
  .menu li ul.sub-menu,
  .menu li ul.children, .no-js .menu li ul.sub-menu,
  .no-js .menu li ul.children, .expanded-mobile-menu li ul.sub-menu,
  .expanded-mobile-menu li ul.children {display: block;position: absolute;z-index: 2;top: 100%;left: 0;width:430px; white-space:nowrap;
    -moz-transition:max-height 400ms ease-out, min-height 500ms ease-in, padding 500ms ease-out, opacity 500ms ease-in;
    -o-transition:max-height 400ms ease-out, min-height 500ms ease-in, padding 500ms ease-out, opacity 500ms ease-in;
    -webkit-transition:max-height 400ms ease-out, min-height 500ms ease-in, padding 500ms ease-out, opacity 500ms ease-in;
    transition:max-height 400ms ease-out, min-height 500ms ease-in, padding 500ms ease-out, opacity 500ms ease-in;
    background:#FFF; box-shadow:0px 0px 20px -3px #333;text-align:left;-moz-border-radius:0 4px 4px 4px;-webkit-border-radius:0;border-radius: 0 4px 4px 4px; /* visually hidden */
    opacity: 0; border: 0;margin: -1px 0;overflow: hidden;padding: 0;max-height: 1px;min-height: 0; border-bottom:solid 3px #000; }
  .menu li ul.sub-menu li,
  .menu li ul.children li, .no-js .menu li ul.sub-menu li,
  .no-js .menu li ul.children li, .expanded-mobile-menu li ul.sub-menu li,
  .expanded-mobile-menu li ul.children li {
    display: block;
    padding: 0px 0.4em 0;
    /* could go deeper here... */
  }
  .menu li ul.sub-menu li a,
  .menu li ul.children li a, .no-js .menu li ul.sub-menu li a,
  .no-js .menu li ul.children li a, .expanded-mobile-menu li ul.sub-menu li a,
  .expanded-mobile-menu li ul.children li a {font-size: 1em;padding: 0.2em 0.5em 0.2em 0.8em;display: block;line-height:30px; margin: 0;text-align: left;background: transparent; }
  .menu li ul.sub-menu li a:hover, .menu li ul.sub-menu li a:focus,
  .menu li ul.children li a:hover,
  .menu li ul.children li a:focus, .no-js .menu li ul.sub-menu li a:hover, .no-js .menu li ul.sub-menu li a:focus,
  .no-js .menu li ul.children li a:hover,
  .no-js .menu li ul.children li a:focus, .expanded-mobile-menu li ul.sub-menu li a:hover, .expanded-mobile-menu li ul.sub-menu li a:focus,
  .expanded-mobile-menu li ul.children li a:hover,
  .expanded-mobile-menu li ul.children li a:focus {background: #f8f8f8; color:#000; box-shadow:inset 0px 0px 0px #999;  }
  .menu li ul.sub-menu li:last-child a,
  .menu li ul.children li:last-child a, .no-js .menu li ul.sub-menu li:last-child a,
  .no-js .menu li ul.children li:last-child a, .expanded-mobile-menu li ul.sub-menu li:last-child a,
  .expanded-mobile-menu li ul.children li:last-child a {
    border-bottom: 0;  }
  .menu li:hover ul, .menu li.focused ul, .no-js .menu li:hover ul, .no-js .menu li.focused ul, .expanded-mobile-menu li:hover ul, .expanded-mobile-menu li.focused ul {
    -moz-transition: max-height 800ms ease-in, min-height 500ms ease-out, padding 500ms ease-out, opacity 800ms ease-out;
    -o-transition: max-height 800ms ease-in, min-height 500ms ease-out, padding 500ms ease-out, opacity 800ms ease-out;
    -webkit-transition: max-height 800ms ease-in, min-height 500ms ease-out, padding 500ms ease-out, opacity 800ms ease-out;
    transition: max-height 800ms ease-in, min-height 500ms ease-out, padding 500ms ease-out, opacity 800ms ease-out;
    /* again using min/max heights to deal with unknown length of lists */
    min-height: 8em;
    max-height: 100em;
    padding: 0.4em 0;
    opacity: 1;
  }
  .menu li:hover ul ul, .menu li.focused ul ul, .no-js .menu li:hover ul ul, .no-js .menu li.focused ul ul, .expanded-mobile-menu li:hover ul ul, .expanded-mobile-menu li.focused ul ul {min-height: 0;padding: 0;}
  .menu li:hover > a, .no-js .menu li:hover > a, .expanded-mobile-menu li:hover > a {background: #f8f8f8; box-shadow:inset 0px 0px 15px #999; color:#000;}

  /* end .menu */
}
/* end media query*/
.webkit .menu li a{padding:0px 7px; font-size:14.5px;}
.mac .menu li a{padding:0px 8px; font-size:15.5px;}
.mac .safari #menuline2 li a{font-size:14.5px;}
.mac #menuline2 li a{font-size:14.5px;}
.safari .ciullist li img.imgtop1{ margin:-11px 0px 0px -212px;}
.safari .ciullist li img.imgtop2{margin:-60px 0px 0px -212px;}
.safari .ciullist li img.imgtop3{margin:-109px 0px 0px -212px;}
.safari .ciullist li img.imgtop4{margin:-158px 0px 0px -212px;}
.mac .mavattam .news-list li h1 a{ font-size:13.5px}

a.linkbgl{float:left; position:relative; left:50%; width:283px; top:0px; margin:0px 0px 0px -803px; height:800px; z-index:500;opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
	opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */}
a.linkbgr{float:left; position:fixed; left:50%; width:283px; top:0px; margin:0px 0px 0px 520px; height:800px; z-index:500;opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */}