@charset "utf-8";
/* CSS Document */

#news_ticker {background: #FFF;width:980px;height:30px;margin:10px; float:left;overflow: hidden;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;
padding:0px; position: relative;-webkit-box-shadow: inset 0px 0px 8px -3px rgba(0,0,0,0.5);-moz-box-shadow: inset 0px 0px 8px -3px rgba(0,0,0,0.5);box-shadow: inset 0px 0px 8px -3px rgba(0,0,0,0.5);}
#news_ticker span {float: left;color: rgba(0,0,0,.8);color: #FFF;background: #FFF; font-family:Arial, Helvetica, sans-serif;padding:0px 15px; line-height:30px;
position: relative;border-radius: 4px;font-size:12px;-webkit-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.2), 0px 1px 1px rgba(0,0,0,0.5);-moz-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.2), 0px 1px 1px rgba(0,0,0,0.5);
box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.2), 0px 1px 1px rgba(0,0,0,0.5);/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#007dc6+0,0065b2+76,007dc6+100 */
background: #007dc6; /* Old browsers */background: -moz-linear-gradient(top,  #007dc6 0%, #0065b2 76%, #007dc6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #007dc6 0%,#0065b2 76%,#007dc6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #007dc6 0%,#0065b2 76%,#007dc6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007dc6', endColorstr='#007dc6',GradientType=0 ); /* IE6-9 */}
#news_ticker span a{ font-size:13px; color:#FFF; text-decoration:none;}
#news_ticker span a:hover{ font-size:13px; color:#FF0; text-decoration:none;}
#news_ticker ul { list-style:none;float: left;padding-left: 20px;-webkit-animation: ticker 42s cubic-bezier(1, 0, .5, 0) infinite;-moz-animation: ticker 42s cubic-bezier(1, 0, .5, 0) infinite;
-ms-animation: ticker 42s cubic-bezier(1, 0, .5, 0) infinite;animation: ticker 42s cubic-bezier(1, 0, .5, 0) infinite;}
#news_ticker ul:hover {-webkit-animation-play-state: paused;-moz-animation-play-state: paused;-ms-animation-play-state: paused;animation-play-state: paused;}
#news_ticker li {line-height:30px;}
#news_ticker a {color: #333;text-decoration: none;font-size:12.5px;}
.win #news_ticker a {font-size:17px;}

@-webkit-keyframes ticker {0%   {margin-top: 0;}
7%  {margin-top: -30px;}
14%  {margin-top: -60px;}
21%  {margin-top: -90px;}
28%  {margin-top: -120px;}
35%  {margin-top: -150px;}
42%  {margin-top: -180px;}
49%  {margin-top: -210px;}
56%  {margin-top: -240px;}
63%  {margin-top: -270px;}
70%  {margin-top: -300px;}
80%  {margin-top: -330px;}
91%  {margin-top: -360px;}
99.5% {margin-top: -390px;}
100% {margin-top: 0;}}
@-moz-keyframes ticker {
0%   {margin-top: 0;}
7%  {margin-top: -30px;}
14%  {margin-top: -60px;}
21%  {margin-top: -90px;}
28%  {margin-top: -120px;}
35%  {margin-top: -150px;}
42%  {margin-top: -180px;}
49%  {margin-top: -210px;}
56%  {margin-top: -240px;}
63%  {margin-top: -270px;}
70%  {margin-top: -300px;}
80%  {margin-top: -330px;}
91%  {margin-top: -360px;}
99.5% {margin-top: -390px;}
100% {margin-top: 0;}}
@-ms-keyframes ticker {
0%   {margin-top: 0;}
7%  {margin-top: -30px;}
14%  {margin-top: -60px;}
21%  {margin-top: -90px;}
28%  {margin-top: -120px;}
35%  {margin-top: -150px;}
42%  {margin-top: -180px;}
49%  {margin-top: -210px;}
56%  {margin-top: -240px;}
63%  {margin-top: -270px;}
70%  {margin-top: -300px;}
80%  {margin-top: -330px;}
91%  {margin-top: -360px;}
99.5% {margin-top: -390px;}
100% {margin-top: 0;}}
@keyframes ticker {
0%   {margin-top: 0;}
7%  {margin-top: -30px;}
14%  {margin-top: -60px;}
21%  {margin-top: -90px;}
28%  {margin-top: -120px;}
35%  {margin-top: -150px;}
42%  {margin-top: -180px;}
49%  {margin-top: -210px;}
56%  {margin-top: -240px;}
63%  {margin-top: -270px;}
70%  {margin-top: -300px;}
80%  {margin-top: -330px;}
91%  {margin-top: -360px;}
99.5% {margin-top: -390px;}
100% {margin-top: 0;}}
.basicbox{ float:left; width:100%; margin:10px 0px;}
.home-left-1{ float:left; width:450px; margin:0px 0px 0px 10px;}
.mainbanner{ float:left; width:440px; margin:0px 0px 0px 0px;}
a.icon{ float:left; width:60px; height:40px; margin:0px 0px -33px 80%; z-index:0; text-decoration:none; background-image:url(http://img.dinakaran.com/images/site-use/trans-help.png); background-repeat:no-repeat; background-position:-51px -55px; text-align:right; line-height:40px; font-size:20px; color:#FFF; position:relative;}
.win a.icon{ font-size:29px;}
a.icon:hover{ float:left; text-decoration:none; color:#FF0;}
.mainbanner a img{ float:left; width:100%; z-index:1;}
.mainbanner .full-left{ float:left; width:100%; margin:10px 10px 10px 0px;}
.mainbanner h1{ float:left; width:100%; margin:5px 0px; padding:0px; font-size:19px; line-height:28px; color:#0065a0; text-decoration:none; text-align:left;}
.win .mainbanner h1{font-family: 'big-jiregular';font-size:25px; }
.mainbanner h1 a{ text-decoration:none; color:#0065a0; font-weight:normal;}
.mainbanner h1 a:hover{ text-decoration:none; color:#000;}
.mainbanner p{ float:left; width:100%; margin:10px 0px; text-align:left; height:60px; overflow:hidden; color:#333; white-space:normal; font-size:12.5px; line-height:normal; text-align:left;}
.win .mainbanner p{font-size:15.5px; line-height:21px;}
.heading-help{ text-align:left; float:left; margin:0px; padding:0px 0px 0px 0px; width:100%; border-bottom:dotted 1px #CCC;border-top:dotted 1px #CCC; font-family:Arial, Helvetica, sans-serif; font-size:10.5px; line-height:35px;color:#666;}
.mainbanner .heading-help a{ float:left;font-family:"DINAKARAN2W", Arial, Helvetica, sans-serif; font-size:13.5px; line-height:35px; text-decoration:none; padding:0px 3px 0px 0px; color:#666;}
.win .mainbanner .heading-help a{ float:left;font-family:"DINAKARAN2W", Arial, Helvetica, sans-serif; font-size:15.5px; line-height:35px; }
.mainbanner .heading-help a:hover{ text-decoration:none; color:#000;}
a.more-text{ float:right; padding:0px 10px 0px 25px; line-height:25px; margin:0px 0px 0px 0px; text-decoration:none; color:#FFF;-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#107ddb+0,44afff+18,0e5ba8+100 */
background: rgb(16,125,219); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(16,125,219,1) 0%, rgba(68,175,255,1) 18%, rgba(14,91,168,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(16,125,219,1) 0%,rgba(68,175,255,1) 18%,rgba(14,91,168,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(16,125,219,1) 0%,rgba(68,175,255,1) 18%,rgba(14,91,168,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#107ddb', endColorstr='#0e5ba8',GradientType=0 ); /* IE6-9 */}
a.more-text:hover{ float:right; text-decoration:none; color:#000;}
.mainbanner2{ float:left; width:290px; margin:0px 0px 0px 0px;}
.mainbanner2:hover{ box-shadow:0px 0px 25px -3px #CCC; margin:10px -10px 0px -10px; padding:10px 10px 0px 10px; background-color:#FFF;-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}
.mainbanner2 a img{ float:left; width:100%; z-index:2;}
.mainbanner2 h1{ float:left; width:100%; margin:5px 0px; padding:0px; font-size:19px; line-height:22px; color:#0065a0; text-decoration:none; text-align:left;}
.win .mainbanner2 h1{font-family: 'big-jiregular';font-size:22px; line-height:24px;}
.mainbanner2 h1 a{ text-decoration:none; color:#0065a0; font-weight:normal;}
.mainbanner2 h1 a:hover{ text-decoration:none; color:#000;}
.mainbanner2 p{ float:left; width:100%; margin:10px 0px; text-align:left; height:85px; overflow:hidden; color:#333; white-space:normal;}
.mainbanner2 .heading-help{ text-align:left; float:left; margin:0px 0px; padding:0px 0px 0px 0px; width:100%; border-bottom:dotted 1px #CCC;border-top:dotted 1px #CCC; font-family:Arial, Helvetica, sans-serif; font-size:10.5px; line-height:35px;color:#666;}
.mainbanner2 .heading-help a{ float:left;font-family:"DINAKARAN2W", Arial, Helvetica, sans-serif; font-size:12.5px; line-height:35px; text-decoration:none; padding:0px 3px 0px 0px; color:#666;}
.win .mainbanner2 .heading-help a{  font-size:15.5px; line-height:35px;}
.heading-help a:hover{ text-decoration:none; color:#000;}
.mainbanner3{ float:left; width:140px; margin:20px 0px 0px 10px;}
.mainbanner3:hover{ box-shadow:0px 0px 25px -3px #CCC; margin:10px 0px 0px 0px; padding:10px 10px 0px 10px; background-color:#FFF;-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;}
.mainbanner3 a img{ float:left; width:100%; z-index:2;}
.mainbanner3 h1{ float:left; width:100%; margin:0px 0px; padding:10px 0px; font-size:16px; line-height:18px; color:#0065a0; text-decoration:none; text-align:left;border-bottom:dotted 1px #CCC;}
.mainbanner3 h1 a{ text-decoration:none; color:#0065a0;}
.mainbanner3 h1 a:hover{ text-decoration:none; color:#000;}

.mainbanner4{ float:left; width:215px; min-height:220px; margin:20px 10px 0px 0px;}
.mainbanner4 a img{ float:left; width:100%; z-index:2;}
.mainbanner4 h1{ float:left; width:100%; margin:0px 0px; padding:10px 0px; font-size:16px; line-height:18px; color:#0065a0; text-decoration:none; text-align:left;border-bottom:dotted 1px #CCC;}
.mainbanner4 h1 a{ text-decoration:none; color:#0065a0;font-size:19px; line-height:22px; height:88px; overflow:hidden; font-weight:normal; float:left}

.mainbanner4 h1 a:hover{ text-decoration:none; color:#000;}
.mainbanner4 p{ float:left; width:100%; margin:10px 0px; font-size:15.5px; line-height:17px; text-align:left; height:51px; overflow:hidden; color:#333; white-space:normal;}
.mainbanner4 .heading-help{ text-align:left; float:left; margin:0px 0px; padding:0px 0px 0px 0px; width:100%; border-bottom:dotted 1px #CCC;border-top:dotted 1px #CCC; font-family:Arial, Helvetica, sans-serif; font-size:10.5px; line-height:35px;color:#666;}
.mainbanner4 .heading-help a{ float:left;font-family:"DINAKARAN2W", Arial, Helvetica, sans-serif; font-size:15.5px; line-height:35px; text-decoration:none; padding:0px 3px 0px 0px; color:#666;}
.mainbanner4 .heading-help a:hover{ text-decoration:none; color:#000;}

.home-left-2{ float:left; width:200px; margin:0px 10px 0px 0px;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+0,ffffff+9 */
background: rgb(247,247,247); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(247,247,247,1) 0%, rgba(255,255,255,1) 9%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(247,247,247,1) 0%,rgba(255,255,255,1) 9%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(247,247,247,1) 0%,rgba(255,255,255,1) 9%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
 padding:10px;}
.news-list{ float:left; width:100%; margin:0px; padding:5px; }
.news-list li{ float:left; padding:5px 0px; margin:0px; width:100%; border-bottom:dotted 1px #e3e3e3; font-weight:normal; list-style:none;}
.news-list li h1{ float:left; width:100%; margin:5px 0px; padding:0px; text-decoration:none; text-align:left;}
.news-list li h1 a{ text-decoration:none; color:#3e5765;font-size:18px; width:100%; line-height:22px; font-weight:normal;}
.news-list li h1 a:hover{ text-decoration:none; color:#000;}
.news-list li a img{ float:left; width:100%; z-index:2;}
.news-list li.high h1 a{font-family: 'big-jiregular'; color:#0065a0; width:100%; font-weight:normal;}
.win .news-list li.high h1 a{font-family: 'big-jiregular';}
.news-list li.heading h1 a{font-family: 'big-jiregular';font-size:22px; color:#0065a0; width:100%; font-weight:normal;}
.win .news-list li.heading h1 a{font-family: 'big-jiregular'; font-size:22px;}


.home-left-3{ float:left; width:300px;}
.basicbox-h10{ float:left; width:100%; margin:10px 0px;}

.most-read{ float:left; width:300px; height:400px; overflow:auto; background-color:#FFF; box-shadow:inset 0px 0px 15px #CCC; margin:0px 0px 0px 0px}
.most-read .m-r-img{ margin:-25px 0px 0px 0px; float:left;}
.mr-icon{ margin:-30px 0px 0px 0px; float:right;}
.most-read ul{ float:left; width:86%; margin:0px 0px 0px 0px; padding:10px 7%; color:#91c6cb; list-style:none; }
.most-read ul li{ float:left; width:100%; border-bottom:dotted 1px #CCC; margin:2px 0%; padding:10px 0px;}
.most-read ul li a{ text-decoration:none;}
.most-read ul li a:hover{ text-decoration:none;}
.most-read ul li a h1{ float:left; width:100%; margin:0px; padding:0px; text-decoration:none; font-size:17px; color:#0065a0;font-weight:normal; text-align:left;}
.most-read ul li a:hover h1{ color:#F00; } 
.win .most-read ul li a h1{ font-family:"DINAKARAN2W", Arial, Helvetica, sans-serif; }
.most-read ul li h6{ font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:12px; text-align:left; width:100%; font-weight:normal; color:#a5e3e9; margin:0px 0px 0px 0px; float:left; padding:0px}
#hlight a h1{ font-size:17px; line-height:19px; color:#0065a0;}
.win #hlight a h1{font-family:  'big-jiregular';font-size:22px; line-height:24px; }

.ad728-box{ float:left; width:100%; margin:10px 0px;}
.other-news{ float:left; width:520px; margin:10px 10px 0px 0px;}
.topic-1{ float:left; width:245px; margin:10px 15px 0px 0px;}
.topic-2{ float:left; width:245px; margin:10px 5px 0px 10px;}
a.headingcolor{-webkit-clip-path: polygon(0 0,94% 0, 100% 100%, 0% 100%);
clip-path: polygon(0 0, 94% 0, 100% 100%, 0% 100%); text-align:left; float:left; padding:0px 0px 0px 15px; width:70%; font-size:17px; color:#FFF; text-shadow:1px 1px 2px #333; line-height:25px; margin:0px 0px 0px 0px; text-decoration:none;
background: rgb(63,63,63);
background: -moz-linear-gradient(top,  rgba(63,63,63,1) 0%, rgba(0,0,0,1) 84%, rgba(68,68,68,1) 100%);
background: -webkit-linear-gradient(top,  rgba(63,63,63,1) 0%,rgba(0,0,0,1) 84%,rgba(68,68,68,1) 100%);
background: linear-gradient(to bottom,  rgba(63,63,63,1) 0%,rgba(0,0,0,1) 84%,rgba(68,68,68,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#444444',GradientType=0 );}
.win a.headingcolor{ font-size:19px;}
a.headingcolor:hover{ text-decoration:none; color:#FF0;text-shadow:0px 0px 0px #333;}

.other-news .mainbanner2:hover{ box-shadow:0px 0px 0px 0px #CCC; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; background-color:#FFF;-webkit-border-radius: 0px;
-moz-border-radius: 0px;border-radius: 0px;}
.other-news .mainbanner2{ width:100%;}
.other-news .mainbanner2 a img{ width:100%; height:200px;object-fit: cover;}
.ie .other-news .mainbanner2 a img{ width:100%; height:auto; clear:both;}
.other-news .news-list{ padding:0px;}
.other-news .news-list li h1 a{font-family:"DINAKARAN2W", Arial, Helvetica, sans-serif;  }
.win .other-news .news-list li.high h1 a{font-family: 'big-jiregular';}
.textpromo{ float:left; width:90%; margin:20px 0px; padding:10px 5%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f7f7f7+84,ffffff+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(247,247,247,1) 84%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 84%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 84%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; border:solid 1px #FFF; box-shadow:0px 0px 15px -3px #CCC;}
.textpromo h1{ float:left; width:100%; margin:5px 0px; padding:0px; font-size:20px; line-height:22px; color:#0065a0; text-decoration:none; text-align:left;}
.win .textpromo h1{font-family: 'big-jiregular';font-size:25px; line-height:28px;}
.textpromo h1 a{ text-decoration:none; color:#F00; font-weight:normal;}
.textpromo h1 a:hover{ text-decoration:none; color:#000;}
.textpromo a.icon{ margin:-18px 0px -22px 0px; float:right; width:46px; padding-right:25px; text-align:right;}
.right-334{ float:left; width:140px; margin:10px 0px 0px 0px; padding:0px 10px 0px 10px;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f2f2f2+11,f7f7f7+50,f7f7f7+87,ffffff+99 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(242,242,242,1) 11%, rgba(247,247,247,1) 50%, rgba(247,247,247,1) 87%, rgba(255,255,255,1) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 11%,rgba(247,247,247,1) 50%,rgba(247,247,247,1) 87%,rgba(255,255,255,1) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 11%,rgba(247,247,247,1) 50%,rgba(247,247,247,1) 87%,rgba(255,255,255,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */}
.right-334 .news-list{ float:left; padding:0px;}
.center-box{ float:left; width:300px; margin:00px 20px 0px 10px; background-color:#FFF;}
.center-box-2{ float:left; width:300px; margin:0px 0px 0px 10px; background-color:#FFF;}
.center-box-2 .mainbanner2{ float:left; width:100%;}
.center-box-2 .mainbanner2:hover{ margin:0px; padding:0px; box-shadow:0px 0px 0px #FFF;}
.center-box-2 .mainbanner2 a img{ float:left; width:100%; height:180px;object-fit: cover;}
.center-box-2 .mainbanner2 h1 a{ color:#000;}
.center-box-2 .mainbanner2 h1 a:hover{ color:#F00;}
.center-box-2 .news-list li h1 a{ color:#000;font-family:"DINAKARAN2W", Arial, Helvetica, sans-serif; }
.center-box-2 .news-list li h1 a:hover{ color:#F00;}

.box-5-frg{ width:820px; margin:0px 20px 0px 0px; padding:0px; float:left;}
.atroday{ float:left; width:180px;height:270px; margin:0px 10px 0px 0px; padding:10px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2b94e5+100 */
background: rgb(30,87,153); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(43,148,229,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(43,148,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(43,148,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#2b94e5',GradientType=0 ); /* IE6-9 */
-webkit-border-top-left-radius: 25px;-webkit-border-bottom-right-radius: 25px;-moz-border-radius-topleft: 25px;-moz-border-radius-bottomright: 25px;
border-top-left-radius: 25px;border-bottom-right-radius: 25px;}
.atroday .date{-webkit-border-top-left-radius: 25px;-webkit-border-bottom-right-radius: 25px;-moz-border-radius-topleft: 25px;
-moz-border-radius-bottomright: 25px;border-top-left-radius: 25px;border-bottom-right-radius: 25px; width:85px; float:left; padding:10px 0px 10px 0px; box-shadow:inset 0px 0px 15px -5px #000; text-align:center;}
.atroday .date2{ width:100%; float:left; padding:5px 0px 5px 0px;  text-align:left;}
.atroday .date2 h3{ float:left; width:100%; text-align:left; font-size:17.5px; color:#FF0; text-shadow:1px 1px 2px #069; margin:0px; padding:0px; line-height:22px;}
.win .atroday .date2 h3{ font-size:20px; }
.atroday .date2 p{ float:left; width:100%; text-align:left; font-size:15.5px; color:#FFF; text-shadow:1px 1px 2px #069; margin:0px; padding:0px;}
.atroday .date h2{ float:left; width:100%; text-align:center; font-size:45px; color:#0CF; text-shadow:2px 2px 2px #069; margin:0px; padding:5px 0px 0px 0px; line-height:30px;}
.atroday .date h3{ float:left; width:100%; text-align:center; font-size:20px; color:#7dbcf6; text-shadow:1px 1px 2px #069; margin:0px; padding:0px; line-height:22px;}
.atroday .date h4{ float:left; width:100%; text-align:center; font-size:15.5px; color:#FFF; text-shadow:1px 1px 2px #069; margin:0px; padding:0px; line-height:22px;}
.atroday2{ float:left; width:230px; height:270px; margin:0px 10px 0px 10px; padding:10px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8e8e8+0,f9f9f9+100 */
background: rgb(232,232,232); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(232,232,232,1) 0%, rgba(249,249,249,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(249,249,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(232,232,232,1) 0%,rgba(249,249,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */-webkit-border-top-left-radius: 25px;
-webkit-border-bottom-right-radius: 25px;-moz-border-radius-topleft: 25px;-moz-border-radius-bottomright: 25px;border-top-left-radius: 25px;
border-bottom-right-radius: 25px;}

.astroname{-webkit-border-top-left-radius: 25px;-webkit-border-bottom-right-radius: 25px;-moz-border-radius-topleft: 25px;-moz-border-radius-bottomright: 25px;
border-top-left-radius: 25px;border-bottom-right-radius: 25px; width:100%; float:left; padding:10px 0px 10px 0px; box-shadow:inset 0px 0px 15px -5px #999; text-align:center;}
.astroname h3{ float:left;  text-align:left; font-size:18.5px; color:#000;  margin:0px; padding:0px 0px 0px 10px; line-height:28px;}
.astroname select{box-shadow:inset 0px 0px 15px -5px #000; float:left; border:solid 0px #000;font-family:"DINAKARAN2W", Arial, Helvetica, sans-serif; font-size:16.5px;line-height:20px;}
.win .astroname select{font-size:18.5px;line-height:22px;}

.atroday2 #teamdata p{ float:left; text-align:left; font-size:13.5px; line-height:16px; color:#333; }
.win .atroday2 #teamdata p{ font-size:15.5px; line-height:18px;}
.atroday2 #teamdata h5{ float:left; width:100%;  text-align:left; font-size:30px; color:#007dc6;  margin:0px; padding:0px 0px 0px 0px; line-height:48px;}
.win .atroday2 #teamdata h5{font-size:35px;}
.atroday2 #teamdata h5 img{ margin:5px 5px 5px 0px;}
.atroday2 .astroname select{box-shadow:inset 0px 0px 15px -5px #000; float:left; border:solid 0px #000;font-family:"DINAKARAN2W", Arial, Helvetica, sans-serif; font-size:16.5px;line-height:19px;}
.win .atroday2 .astroname select{ font-size:18.5px;line-height:22px;}


.box-sh {background-image: url(http://img.dinakaran.com/images/shadow-3.jpg);background-repeat: no-repeat;background-position: left top;}
.box-234 { width: 350px;float: left;margin: 0px;padding: 0px;}
.news-list-small{ float:left; margin:0px 0px 10px 25px; padding:0px; color:#598c91; list-style: inherit;}
.news-list-small li{ float:left; width:100%;padding:5px 0px; border-bottom:dotted 1px #dcdcdc;}
.news-list-small li h1{ float:left; width:100%; margin:0px 0px 0px 0px; padding:0px; }
.news-list-small li h1 a{ float:left; text-decoration:none; color:#3e535b; font-size:11.5px; line-height:normal; margin:0px; padding:0px; text-align:left; font-weight:normal;}
.win .news-list-small li h1 a{ font-size:13.5px;}
.news-list-small li h1 a:hover{ color:#000;}
.news-list-small li h6{ float:left; font-family:Arial, Helvetica, sans-serif; color:#999; font-size:9px; font-weight:normal;line-height:normal; width:auto; text-align:center; margin:5px 0px 0px 0px;}
.win .news-list-small li h6{font-size:9px;}
.win .box-left-1 .news-list-small li h1 a{ font-family:"DINAKARAN2W", Arial, Helvetica, sans-serif; font-size:16.5px;  }
.win .news-list-small li h1 a{ font-family:"DINAKARAN2W", Arial, Helvetica, sans-serif; font-size:16.5px;  }
.box-5-frg{ width:820px; margin:0px 20px 0px 0px; padding:0px; float:left;}
.ad-160{ float:left; width:160px;}
.cinema-5234{ float:left; width:310px; height:270px; margin:0px 0px 0px 10px; padding:10px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8e8e8+0,f9f9f9+100 */
background: rgb(232,232,232); /* Old browsers */background: -moz-linear-gradient(top,  rgba(232,232,232,1) 0%, rgba(249,249,249,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(249,249,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(232,232,232,1) 0%,rgba(249,249,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
-webkit-border-top-right-radius: 25px;-webkit-border-bottom-left-radius: 25px;-moz-border-radius-topright: 25px;-moz-border-radius-bottomleft: 25px;
border-top-right-radius: 25px;border-bottom-left-radius: 25px;}
.cinema-5234 a{ float:left;}
.cinema-5234 a img{ float:left; width:100px; margin:10px 10px 10px 0px; padding:0px;}
.cinema-5234 h1{ float:left; width:150px;  margin:10px 0px 0px 0px; padding:0px;}
.cinema-5234 h1 a{ margin:0px; padding:0px; text-align:left; font-size:20px; line-height:25px; text-decoration:none; color:#900;}
.win .cinema-5234 h1 a{font-family:  'big-jiregular';font-size:25px; line-height:30px;}
.cinema-5234 h1 a:hover{ text-decoration:none; color:#000}
.cinema-5234 p{ float:left; text-align:left; font-size:15.5px; line-height:18px; }
.cinema-5234 a{ text-decoration:none; color:#007dc6}
.cinema-5234 a:hover{ text-decoration:none; color:#000}

.cinema-5234 .astroname{-webkit-border-top-right-radius: 25px;-webkit-border-bottom-left-radius: 25px;-moz-border-radius-topright: 25px;-moz-border-radius-bottomleft: 25px;
border-top-right-radius: 25px;border-bottom-left-radius: 25px;-webkit-border-top-left-radius: 0px;-webkit-border-bottom-right-radius: 0px;-moz-border-radius-topleft: 0px;
-moz-border-radius-bottomright: 0px;border-top-left-radius: 0px;border-bottom-right-radius: 0px;}
.cinema-5234 .astroname h3 { float:left; width:92%;}

.cinema-5234 .astroname h3 a{font-size:16.5px; line-height:18px; font-weight:normal; text-align:center; width:100%; float:left;
 color:#900; text-decoration:none;}
.win .cinema-5234 .astroname h3 a{font-family:'big-jiregular';font-size:18px; line-height:19px; } 
.cinema-5234 .astroname h3 a:hover{ color:#F00; text-decoration:none;}

.heading-list2{ float:left; padding:10px; list-style:none;}
.heading-list2 li{ float:left; width:98%; padding:0px 1%; margin:0px;}
.heading-list2 li h1{ float:left; width:100%; margin:3px 0px; padding:0px; font-size:19px; line-height:21px; color:#0065a0; text-decoration:none; text-align:left;}
.win .heading-list2 li h1{font-size:22px; line-height:22px;}
.heading-list2 li h1 a{ text-decoration:none; color:#FFF;font-family: 'big-jiregular'; text-shadow:1px 1px 5px #036; font-size:18px; font-weight:normal;}
.win .heading-list2 li h1 a{font-family: 'big-jiregular'; font-size:20px; }
.heading-list2 li h1 a:hover{ text-decoration:none; color:#FF0;}

.box-65{ float:left; width:230px; margin:20px 10px 0px 10px; padding:10px; height:270px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,e8e8e8+99 */
background: rgb(249,249,249); /* Old browsers */background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(232,232,232,1) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(232,232,232,1) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%,rgba(232,232,232,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
-webkit-border-top-right-radius: 25px;-webkit-border-bottom-left-radius: 25px;-moz-border-radius-topright: 25px;-moz-border-radius-bottomleft: 25px;
border-top-right-radius: 25px;border-bottom-left-radius: 25px;}
.box-65 .news-list{ padding:0px;}
.cinemavimarsanam{ float:left; width:310px; height:270px; margin:20px 0px 0px 10px; padding:10px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,e8e8e8+99 */
background: rgb(249,249,249); /* Old browsers */background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(232,232,232,1) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(232,232,232,1) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%,rgba(232,232,232,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
-webkit-border-top-left-radius: 25px;-webkit-border-bottom-right-radius: 25px;-moz-border-radius-topleft: 25px;-moz-border-radius-bottomright: 25px;
border-top-left-radius: 25px;border-bottom-right-radius: 25px;}

.cinemavimarsanam a{ float:left;}
.cinemavimarsanam a img{ float:left; width:120px; margin:0px 10px 10px 0px; padding:0px;}
.cinemavimarsanam h1{ float:left; width:150px;  margin:10px 0px 0px 0px; padding:0px;}
.cinemavimarsanam h1 a{ margin:0px; padding:0px; text-align:left; font-size:22px; line-height:26px; text-decoration:none; color:#900;}
.win .cinemavimarsanam h1 a{font-family: 'big-jiregular'; font-size:25px; line-height:30px; }
.cinemavimarsanam h1 a:hover{ text-decoration:none; color:#000}
.cinemavimarsanam p{ float:left;  text-align:left; font-size:13.5px; line-height:16px; margin:10px 0px; }
.win .cinemavimarsanam p{ font-size:15.5px; line-height:18px;}
.cinemavimarsanam .astroname h3 { float:left; width:92%;}
.cinemavimarsanam .astroname h3 a{font-size:20px;  text-align:center; width:100%; float:left;
 color:#900; text-decoration:none; font-weight:normal;}
.win .cinemavimarsanam .astroname h3 a{font-family: 'big-jiregular';font-size:18px;  }
.cinemavimarsanam .astroname h3 a:hover{ color:#F00; text-decoration:none;}
.cinemavimarsanam a{ text-decoration:none; color:#007dc6}
.cinemavimarsanam a:hover{ text-decoration:none; color:#000}

.anmigam{float:left; width:180px; height:270px; margin:20px 10px 0px 0px; padding:10px;
/* Permalink - use to edt\it and share this gradient: http://colorzilla.com/gradient-editor/#2786ce+0,1b4b87+100 */
background: rgb(39,134,206); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(39,134,206,1) 0%, rgba(27,75,135,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(39,134,206,1) 0%,rgba(27,75,135,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(39,134,206,1) 0%,rgba(27,75,135,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2786ce', endColorstr='#1b4b87',GradientType=0 ); /* IE6-9 */
-webkit-border-top-right-radius: 25px;-webkit-border-bottom-left-radius: 25px;-moz-border-radius-topright: 25px;-moz-border-radius-bottomleft: 25px;
border-top-right-radius: 25px;border-bottom-left-radius: 25px;}

.cinemaboxfoot2{ float:left;width:450px; padding:10px 20px 0px 0px;}
.cinemaboxfoot{ float:left; width:450px; padding:10px; box-shadow:0px 0px 15px -3px #333;}
.ciullist{ float:left; width:100%; margin:0px; padding:5px 0px 0px 0px;}
.ciullist li{ float:left; width:230px;  margin:0px 0px 0px 200px; border-bottom:dotted 1px #CCC	; padding:7px 10px;}
.ciullist li img.imgtop1{object-fit: cover;  float:left; width:200px; height:200px; z-index:5; position:absolute; margin:-11px 0px 0px -442px;}
.ciullist li img.imgtop2{object-fit: cover; float:left; width:200px; height:200px; z-index:5; position:absolute;margin:-60px 0px 0px -442px;}
.ciullist li img.imgtop3{object-fit: cover;  float:left; width:200px; height:200px; z-index:5; position:absolute;margin:-109px 0px 0px -442px;}
.ciullist li img.imgtop4{object-fit: cover; float:left; width:200px; height:200px; z-index:5; position:absolute;margin:-158px 0px 0px -442px;}
.ciullist li:hover img.imgtop1{ z-index:10; }
.ciullist li:hover img.imgtop2{ z-index:10; }
.ciullist li:hover img.imgtop3{ z-index:10; }
.ciullist li:hover img.imgtop4{ z-index:10; }
.ciullist li h1{ float:left; width:100%; margin:0px; padding:0px;}
.ciullist li h1 a{ color:#900; text-decoration:none; font-weight:normal; font-size:13.5px; text-align:left; line-height:15px; height:34px; overflow:hidden; width:100%; float:left; line-height:19px;}
.win .ciullist li h1 a{font-size:15.5px;line-height:17px;}
.ciullist li h1 a:hover{ color:#333; text-decoration:none; }
.ciullist li i{float:left; width:15px; height:35px; background-color:#FFF; margin:0px 0px 0px -252px; z-index:100;-webkit-clip-path: polygon(0 50%, 100% 100%, 100% 0);
clip-path: polygon(0 50%, 100% 100%, 100% 0); position:absolute; z-index:1;}

.ciullist li:hover i{ z-index:200;}
.top10mrgin{ float:left; width:100%; margin:10px 0px 0px 0px;}
.foot-box35r{ float:left; width:190px;}
.foot-box35r .textpromo{ margin:0px 0px 10px 0px;}
.ad-300-box2{ float:left; width:300px; margin:0px 20px;}
.ad-300-box2 .mainbanner2{ float:left; width:100%; margin:0px;}
.ad-300-box2 .mainbanner2:hover{ padding:0px; box-shadow:0px 0px 0px #FFF;}
.ad-300-box2 .news-list li h1 a:hover{ color:#900;}

.bookfoot{ float:left; width:100%; padding:10px; box-shadow:inset 0px 0px 15px -3px #CCC;}
.book{ float:left; width:100%; margin:20px 0px; padding:0px; list-style:none;}
.book li.bigbook{ float:left; width:48%; margin:0px 2% 0px 0px; padding:0px;}
.book li.bigbook a{ float:left;}
.book li.bigbook a img{ float:left; width:100%;object-fit:cover;-webkit-filter: grayscale(0%);
filter: grayscale(0%);}
.book li.bigbook h1{ float:left; width:100%; margin:0px; padding:0px;}
.book li.bigbook h1 a{ float:left; width:100%; margin:0px; padding:0px; text-decoration:none; font-size:16px; line-height:22px; color:#333; font-weight:normal;}
.win .book li.bigbook h1 a{font-size:18px; line-height:25px;}
.book li.bigbook h1 a:hover{ text-decoration:none; color:#900;}

.book li{ float:left; width:20%; margin:0px 2.5% 0px 2.5%; padding:0px 0px 10px 0px;}
.book li a{ float:left;}
.book li a img{ float:left; width:100%; object-fit:cover;-webkit-filter: grayscale(100%);
filter: grayscale(100%);}
.book li:hover a img{-webkit-filter: grayscale(0%);filter: grayscale(0%);}
.book li h1{ float:left; width:100%; margin:0px; padding:0px;}
.book li h1 a{ float:left; width:100%; margin:0px; padding:0px; text-decoration:none; font-size:14px; line-height:17px; color:#333;font-weight:normal;}
.win .book li h1 a{font-size:16px; line-height:20px;}
.book li h1 a:hover{ text-decoration:none; color:#900;}

.leftadbox{ float:left; position:fixed; left:50%; width:160px; top:10px; margin:0px 0px 0px -680px; background-color:#090; height:600px; z-index:500;}
.rightadbox{ float:left; position:fixed; left:50%; width:160px; top:10px; margin:0px 0px 0px 520px; background-color:#090; height:600px; z-index:500;}

.photopro{ float:left; width:100%;}
.photopro a{ float:left;}
.photopro a img{ float:left; width:100%; height:250px;object-fit:cover;}
.photopro h1{ float:left; width:70%; margin:-78px 0px 0px 0px; padding:10px 10%; text-align:left;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#723a16+0,4f2e2a+100 */
background: rgb(114,58,22); /* Old browsers */background: -moz-linear-gradient(top,  rgba(114,58,22,1) 0%, rgba(79,46,42,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(114,58,22,1) 0%,rgba(79,46,42,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(114,58,22,1) 0%,rgba(79,46,42,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#723a16', endColorstr='#4f2e2a',GradientType=0 ); /* IE6-9 */ font-weight:normal;-webkit-clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);}
.photopro h1 a{ text-decoration:none; color:#FFF; text-shadow:1px 1px 1px #000; font-size:18px; line-height:20px;}
.win .photopro h1 a{font-family:  'big-jiregular';font-size:16px; line-height:18px;}
.photopro h1 a:hover{ text-decoration:none; color:#FF0;}
.ad-300-box2{ float:left; width:300px;}
.mavattam{ float:left; width:20%; margin:0px 2% 0px 0px;}
.mavattam .news-list li h1 a{ float:left; line-height:18px; max-height:54px; overflow:hidden;} 
.mavattam2{ float:left; width:24%; margin:0px 2% 0px 0px;}
.mavattam2 .news-list li{ width:47%; margin:2px 0px; padding:0px;}
.mavattam2 .news-list li h1{ text-align:left;}
.mavattam2 .news-list li h1{ text-align:right;}

.right-333{ float:left; width:140px; margin:10px 0px 0px 20px;}
.right-333 .news-list{ float:left; padding:0px;}
.news-list li.high p{ float:left; width:100%; font-size:13.5px; line-height:15px; text-align:left; height:102px; overflow:hidden; color:#999;}
.win .news-list li.high p{ float:left; width:100%; font-size:15.5px; line-height:17px;}
.right-333 .news-list li a img{ float:left; width:100%; height:140px;object-fit: cover;}
.right-333 .news-list li h1 a{ font-size:14px; line-height:16px;}
.win .right-333 .news-list li h1 a{ font-size:16px; line-height:18px;}

.heading-list-2{ float:left; padding:10px;-webkit-border-radius: 8px; list-style:none;-moz-border-radius: 8px;border-radius: 8px;background: rgb(249,243,224);
background: -moz-linear-gradient(top,  rgba(249,243,224,1) 0%, rgba(255,231,196,1) 100%);background: -webkit-linear-gradient(top,  rgba(249,243,224,1) 0%,rgba(255,231,196,1) 100%); 
background: linear-gradient(to bottom,  rgba(249,243,224,1) 0%,rgba(255,231,196,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f3e0', endColorstr='#ffe7c4',GradientType=0 ); }
.heading-list-2 li{ float:left; width:98%; padding:0px 1%; margin:0px;}
.heading-list-2 li h1{ float:left; width:100%; margin:1px 0px; padding:0px; font-size:13.5px; line-height:16px; color:#0065a0; text-decoration:none; text-align:left;}
.win .heading-list-2 li h1{font-size:15.5px; line-height:18px;}
.heading-list-2 li h1 a{ text-decoration:none; color:#8b5c1f;}
.heading-list-2 li h1 a:hover{ text-decoration:none; color:#000;}


.antopic-1{ float:left; width:49%; margin:0px 1% 0px 0px;}
.antopic-2{ float:left; width:49%; margin:0px 0px 0px 1%;}
.pix-box-more{ float:left; width:100%; height:200px; overflow:hidden; margin:0px 0px 0px 10px; background-color:#FFF;}
.pix-box-more ul{ float:left; width:950px; margin:0px; padding:0px;  list-style:none; overflow:hidden;}
.help{-webkit-animation: ticker2 50s cubic-bezier(1, 0, .5, 0) infinite;
-moz-animation: ticker2 50s cubic-bezier(1, 0, .5, 0) infinite;	-ms-animation: ticker2 50s cubic-bezier(1, 0, .5, 0) infinite;animation: ticker2 50s cubic-bezier(1, 0, .5, 0) infinite;}
.pix-box-more ul:hover{-webkit-animation-play-state: paused;-moz-animation-play-state: paused;-ms-animation-play-state: paused;animation-play-state: paused;}
#news_ticker li {line-height:30px;}
.pix-box-more ul li{ float:left; width:150px; padding:10px; margin:10px 10px; box-shadow:0px 0px 8px -3px #333; border-top:solid 1px #FFF;border-bottom:solid 1px #FFF;
-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;background: rgb(232,232,232); background: -moz-linear-gradient(top, rgba(232,232,232,1) 0%, rgba(252,252,252,1) 78%, rgba(247,247,247,1) 100%);
    background: -webkit-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(252,252,252,1) 78%,rgba(247,247,247,1) 100%);background: linear-gradient(to bottom, rgba(232,232,232,1) 0%,rgba(252,252,252,1) 78%,rgba(247,247,247,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#f7f7f7',GradientType=0 );}
.pix-box-more ul li a{ float:left;}
.pix-box-more ul li a img{ float:left; width:150px;}
.pix-box-more ul li h1{ float:left; width:100%; margin:2px 0px; padding:0px;}
.pix-box-more ul li h1 a{ float:left; font-size:13.5px; line-height:16px; text-decoration:none; color:#333; font-weight:normal;height:70px;overflow: hidden;}
.win .pix-box-more ul li h1 a{ font-size:15.5px; line-height:18px;}


@-webkit-keyframes ticker2 {0%   {margin-left: 0;}
10%  {margin-left: -190px;}
20%  {margin-left: -380px;}
30%  {margin-left: -570px;}
40%  {margin-left: -760px;}
50%  {margin-left: -950px;}
60%  {margin-left: -1140px;}
70%  {margin-left: -1330px;}
80%  {margin-left: -1520px;}
90%  {margin-left: -1710px;}
99.9%  {margin-left: -1710px;}
100% {margin-left: 0;}}
@-moz-keyframes ticker2 {
0%   {margin-left: 0;}
10%  {margin-left: -190px;}
20%  {margin-left: -380px;}
30%  {margin-left: -570px;}
40%  {margin-left: -760px;}
50%  {margin-left: -950px;}
60%  {margin-left: -1140px;}
70%  {margin-left: -1330px;}
80%  {margin-left: -1520px;}
90%  {margin-left: -1710px;}
99.9%  {margin-left: -1710px;}
100% {margin-left: 0;}}
@-ms-keyframes ticker2 {
0%   {margin-left: 0;}
10%  {margin-left: -190px;}
20%  {margin-left: -380px;}
30%  {margin-left: -570px;}
40%  {margin-left: -760px;}
50%  {margin-left: -950px;}
60%  {margin-left: -1140px;}
70%  {margin-left: -1330px;}
80%  {margin-left: -1520px;}
90%  {margin-left: -1710px;}
99.9%  {margin-left: -1710px;}
100% {margin-left: 0;}}
@keyframes ticker2 {
0%   {margin-left: 0;}
10%  {margin-left: -190px;}
20%  {margin-left: -380px;}
30%  {margin-left: -570px;}
40%  {margin-left: -760px;}
50%  {margin-left: -950px;}
60%  {margin-left: -1140px;}
70%  {margin-left: -1330px;}
80%  {margin-left: -1520px;}
90%  {margin-left: -1710px;}
99.9%  {margin-left: -1710px;}
100% {margin-left: 0;}}
.home-left-main{ float:left; width:700px;padding:0px 0px;}
/* wrapper_promo */
#wrapper_promo {width:100%;margin:0 0%;overflow:hidden;}
#slider_promo {width:100%;height:100px;margin:0;background:#000;border:0px solid #eaeaea;box-shadow:1px 1px 5px rgba(0,0,0,0.7);overflow:visible;position:relative;}

#slider_promo ul {position:relative; margin:0px; float:left; padding:0px;}
#slider_promo li {width:100%;height:100px;top:-145px;position:absolute;list-style:none;}
#slider_promo li.firstanimation {-moz-animation:cycle 25s linear infinite;-webkit-animation:cycle 25s linear infinite;}
#slider_promo li.secondanimation {-moz-animation:cycletwo 25s linear infinite;-webkit-animation:cycletwo 25s linear infinite;}
#slider_promo li.thirdanimation {-moz-animation:cyclethree 25s linear infinite;-webkit-animation:cyclethree 25s linear infinite;}
#slider_promo li.fourthanimation {-moz-animation:cyclefour 25s linear infinite;-webkit-animation:cyclefour 25s linear infinite;}
#slider_promo li.fifthanimation {-moz-animation:cyclefive 25s linear infinite;-webkit-animation:cyclefive 25s linear infinite;}
/* slider_promo Mask */
#mask {width:100%;height:100px;overflow:hidden;}
/* Progress Bar */
#progressbar {width:100%;height:5px;top:-5px;position:relative;background:#000;-moz-animation:fullexpand 25s ease-out infinite;-webkit-animation:fullexpand 25s ease-out infinite;
}

@-moz-keyframes cycle {
0%  { top:0px; }
4%  { top:0px; } 
16% { top:0px; opacity:1; z-index:0; } 
20% { top:110px; opacity:0; z-index:0; } 
21% { top:-110px; opacity:0; z-index:-1; }
92% { top:-110px; opacity:0; z-index:0; }
96% { top:-110px; opacity:0; }
100%{ top:0px; opacity:1; }	}

@-moz-keyframes cycletwo {
0%  { top:-110px; opacity:0; }
16% { top:-110px; opacity:0; }
20% { top:0px; opacity:1; }
24% { top:0px; opacity:1; } 
36% { top:0px; opacity:1; z-index:0; } 
40% { top:110px; opacity:0; z-index:0; }
41% { top:-110px; opacity:0; z-index:-1; } 
100%{ top:-110px; opacity:0; z-index:-1; }}

@-moz-keyframes cyclethree {
0%  { top:-110px; opacity:0; }
36% { top:-110px; opacity:0; }
40% { top:0px; opacity:1; }
44% { top:0px; opacity:1; } 
56% { top:0px; opacity:1; } 
60% { top:110px; opacity:0; z-index:0; }
61% { top:-110px; opacity:0; z-index:-1; } 
100%{ top:-110px; opacity:0; z-index:-1; }}

@-moz-keyframes cyclefour {
0%  { top:-110px; opacity:0; }
56% { top:-110px; opacity:0; }
60% { top:0px; opacity:1; }
64% { top:0px; opacity:1; }
76% { top:0px; opacity:1; z-index:0; }
80% { top:110px; opacity:0; z-index:0; }
81% { top:-110px; opacity:0; z-index:-1; }
100%{ top:-110px; opacity:0; z-index:-1; }}

@-moz-keyframes cyclefive {
0%  { top:-110px; opacity:0; }
76% { top:-110px; opacity:0; }
80% { top:0px; opacity:1; }
84% { top:0px; opacity:1; }
96% { top:0px; opacity:1; z-index:0; }
100%{ top:110px; opacity:0; z-index:0; }}

@-webkit-keyframes cycle {
0%  { top:0px; }
4%  { top:0px; }
16% { top:0px; opacity:1; z-index:0; } 
20% { top:110px; opacity:0; z-index:0; }
21% { top:-110px; opacity:0; z-index:-1; }
50% { top:-110px; opacity:0; z-index:-1; }
92% { top:-110px; opacity:0; z-index:0; }
96% { top:-110px; opacity:0; }
100%{ top:0px; opacity:1; }}

@-webkit-keyframes cycletwo {
0%  { top:-110px; opacity:0; }
16% { top:-110px; opacity:0; }
20% { top:0px; opacity:1; }
24% { top:0px; opacity:1; } 
36% { top:0px; opacity:1; z-index:0; } 
40% { top:110px; opacity:0; z-index:0; }
41% { top:-110px; opacity:0; z-index:-1; }  
100%{ top:-110px; opacity:0; z-index:-1; }}

@-webkit-keyframes cyclethree {
0%  { top:-110px; opacity:0; }
36% { top:-110px; opacity:0; }
40% { top:0px; opacity:1; }
44% { top:0px; opacity:1; } 
56% { top:0px; opacity:1; z-index:0; } 
60% { top:110px; opacity:0; z-index:0; } 
61% { top:-110px; opacity:0; z-index:-1; }
100%{ top:-110px; opacity:0; z-index:-1; }}
@-webkit-keyframes cyclefour {
0%  { top:-110px; opacity:0; }
56% { top:-110px; opacity:0; }
60% { top:0px; opacity:1; }
64% { top:0px; opacity:1; }
76% { top:0px; opacity:1; z-index:0; }
80% { top:110px; opacity:0; z-index:0; }
81% { top:-110px; opacity:0; z-index:-1; }
100%{ top:-110px; opacity:0; z-index:-1; }}
@-webkit-keyframes cyclefive {
0%  { top:-110px; opacity:0; }
76% { top:-110px; opacity:0; }
80% { top:0px; opacity:1; }
84% { top:0px; opacity:1; }
96% { top:0px; opacity:1; z-index:0; }
100%{ top:110px; opacity:0; z-index:0; }}
@-moz-keyframes fullexpand {
0%, 20%, 40%, 60%, 80%, 100% { width:0%; opacity:0; }
4%, 24%, 44%, 64%, 84% { width:0%; opacity:0.3; }
16%, 36%, 56%, 76%, 96% { width:100%; opacity:0.7; }
17%, 37%, 57%, 77%, 97% { width:100%; opacity:0.3;}
18%, 38%, 58%, 78%, 98% { width:100%; opacity:0; }}
/* Webkit */
@-webkit-keyframes fullexpand {
0%, 20%, 40%, 60%, 80%, 100% { width:0%; opacity:0; }
4%, 24%, 44%, 64%, 84% { width:0%; opacity:0.3; }
16%, 36%, 56%, 76%, 96% { width:100%; opacity:0.7; }
17%, 37%, 57%, 77%, 97% { width:100%; opacity:0.3; }
18%, 38%, 58%, 78%, 98% { width:100%; opacity:0; }}

/*///////////////////////////////////*/
.home-his{ float:left; width:90%; margin:0px 5% 0px 5%; padding:0px; }
.home-his h1{ float:left; margin:0px; padding:0px; font-weight:normal;}
.home-his h1 a{ float:left; font-size:16px; line-height:18px; color:#900; text-decoration:none;}
.win .home-his h1 a{ float:left; font-size:18px; line-height:20px; }
.home-his h1 a:hover{ text-decoration:none; color:#000;}
.simpleheading{ float:left; width:100%;}
.simpleheading h1{ float: left; width:100%; margin:0px; border-bottom:solid 2px #900; line-height:25px; padding:0px;}
.simpleheading h1 a{ font-size:20px; float:left; color:#900;}
a.hot-break{ width:100%; float:left; line-height:60px; margin:5px 0px 0px 0px; text-align:center; color:#FFF;background-image:url(http://img.dinakaran.com/images/site-use/bg-blue-black.gif); font-size:30px; text-decoration:none;}
a.hot-break:hover{ text-decoration:none; color:#FF0;}