/****************************************************************************/
/* GLOBAL STYLES */
/****************************************************************************/

.semibold {
    font-weight: 600;
}

/****************************************************************************/
/* HOMEPAGE STYLES */
/****************************************************************************/

#homepage-slider .banner-message {
    color: #FFF;
    position: absolute;
    text-align: center;
    top: 32%;
    width: 90%;
}
#homepage-slider .banner-message.left {
    text-align: left;
}
#homepage-slider .banner-message.right {
    text-align: right;
}
#homepage-slider .banner-message.center {
    text-align: center;
}
@media only screen and (min-width: 480px) and (max-width: 1023px) {
    #homepage-slider .banner-message {
        top: 25%;
    }
}
#homepage-slider .banner-message .banner-text1 {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.938rem;
}
@media only screen and (min-width: 768px) {
    #homepage-slider .banner-message .banner-text1 {
        font-size: 0.938rem;
    }
}
#homepage-slider .banner-message .banner-text2 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 5rem;
    line-height: 4.750rem;
    padding: 6px 0 0;
}
@media only screen and (min-width: 768px) {
    #homepage-slider .banner-message .banner-text2 {
        font-size: 5rem;
    }
}
@media only screen and (min-width: 320px) and (max-width: 478px) {
    #homepage-slider .banner-message .banner-text2 {
        font-size: 3.000rem;
        line-height: 3.000rem;
    }
}
#homepage-slider .banner-message .banner-text3 {
    font-size: 0.813rem;
    padding: 32px 0;
}
@media only screen and (min-width: 320px) and (max-width: 478px) {
    #homepage-slider .banner-message .banner-text3 {
        padding: 25px 0;
    }
}
@media only screen and (min-width: 768px) {
    #homepage-slider .banner-message .banner-text3 {
        font-size: 0.813rem;
    }
}
#homepage-slider .banner-message .banner-text3 a {
    margin: 0 13px;
}
#homepage-slider .banner-message a {
    color: #FFF;
}
#homepage-slider .banner-message a:hover {
    text-decoration: none;
}
#homepage-slider .slide1 .banner-message {
    left: 10%;
    text-align: left;
    width: 80%;
}
@media only screen and (min-width: 320px) and (max-width: 478px) {
    #homepage-slider .slide1 .banner-message {
        left: 8%;
    }
}
#homepage-slider .slide1 .banner-message .banner-text1 {
    color: #e21b70;
}
#homepage-slider .slide1 .banner-message .banner-text2 {
    color: #FFF;
}
#homepage-slider .slide1 .banner-message .banner-text3 {
    color: #FFF;
}
#homepage-slider .slide2 .banner-message {
    left: 0;
    width: 100%;
}
#homepage-slider .slide2 .banner-message .banner-text1 {
    color: #FFF;
}
#homepage-slider .slide2 .banner-message .banner-text2 {
    color: #FFF;
}
#homepage-slider .slide2 .banner-message .banner-text3 {
    color: #FFF;
}
#homepage-slider .slide3 .banner-message {
    left: 0;
}
#homepage-slider .slide3 .banner-message .banner-text1 {
    color: #FFF;
}
#homepage-slider #homepage-slider .slide3 .banner-message .banner-text2 {
    color: #FFF;
}
#homepage-slider .slide3 .banner-message .banner-text3 {
    color: #FFF;
}
#homepage-slider .slide4 .banner-message {
    left: 0;
}
#homepage-slider .slide4 .banner-message .banner-text1 {
    color: #FFF;
}
#homepage-slider .slide4 .banner-message .banner-text2 {
    color: #FFF;
}
#homepage-slider .slide4 .banner-message .banner-text3 {
    color: #FFF;
}
#homepage-slider .slide5 .banner-message {
    left: 0;
}
#homepage-slider .slide5 .banner-message .banner-text1 {
    color: #FFF;
}
#homepage-slider .slide5 .banner-message .banner-text2 {
    color: #FFF;
}
#homepage-slider .slide5 .banner-message .banner-text3 {
    color: #FFF;
}
#homepage-slider #homepage-slides .slide.slide0 .banner-message {
    color: #000;
    position: absolute;
    right: 10px;
    width: 378px;
    line-height: 1;
    background: transparent;    
    top: 23%
}
@media only screen and (max-width: 479px) {
    #homepage-slider #homepage-slides .slide.slide0 .banner-message {
        position: relative;
        margin: 30px auto;
        right: inherit;
        /*top: 15%;
        width: 210px;
        right: 0;*/
    }   
}
@media only screen and (min-width: 768px) {
    #homepage-slider #homepage-slides .slide.slide0 .banner-message {
        position: absolute;
        width: 300px;
        top: 80px;
        right: 160px; 
    }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
    #homepage-slider #homepage-slides .slide.slide0 .banner-message {
        padding: 0;
        top: 30px;
        right: 40px;
    }
}
@media only screen and (min-width: 1280px) {
    #homepage-slider #homepage-slides .slide.slide0 .banner-message {
        right: calc(50% - 470px);
    }
}
#homepage-slider #homepage-slides .slide.slide0 .banner-message .banner-text1 {
    text-transform: uppercase;
    font-size: 1.375rem;
    margin-top: 20px;
}
#homepage-slider #homepage-slides .slide.slide0 .banner-message .banner-text1 {
    
}
@media only screen and (max-width: 767px) {
    #homepage-slider #homepage-slides .slide.slide0 .banner-message .banner-text1 {
        text-transform: none;
        font-size: 28px;
    }
    #homepage-slider #homepage-slides .slide.slide0 .banner-message .banner-text1 ~ .banner-text1 {
        text-transform: uppercase;
        font-size: 20px;
        margin-top: 33px;
    }
}
@media only screen and (max-width: 479px) {
    #homepage-slider #homepage-slides .slide.slide0 .banner-message .banner-text1 {
        font-size: 20px;
    }
    #homepage-slider #homepage-slides .slide.slide0 .banner-message .banner-text1 ~ .banner-text1 {
        margin-top: 10px;
    }
}
@media only screen and (min-width: 768px) {
    #homepage-slider #homepage-slides .slide.slide0 .banner-message .banner-text1 {
        font-size: 1.25rem;
    }
}
#homepage-slider #homepage-slides .slide.slide0 .banner-message .banner-text2 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 5rem;
    padding: 0;
    line-height: 1;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    #homepage-slider #homepage-slides .slide.slide0 .banner-message .banner-text2 {
        font-size: 3.75rem;
    }
}
@media only screen and (max-width: 767px) {
    #homepage-slider #homepage-slides .slide.slide0 .banner-message .banner-text2 {
        font-size: 65px;
    }
    #homepage-slider #homepage-slides .slide.slide0 .banner-message .banner-text2 ~ .banner-text2 {
        font-size: 80px;
        margin-top: -15px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    #homepage-slider #homepage-slides .slide.slide0 .banner-message .banner-text2 {
        font-size: 33px
    }
    #homepage-slider #homepage-slides .slide.slide0 .banner-message .banner-text2 ~ .banner-text2 {
        font-size: 65px;
    }
}
#homepage-slider #homepage-slides .slide.slide0 .banner-message .banner-text2 sup {
    top: -0.2em;
    font-size: 60%;
}
#homepage-slider #homepage-slides .slide.slide0 .banner-message .links {
    margin: 50px 0 0;
}
@media only screen and (min-width: 768px) {
    #homepage-slider #homepage-slides .slide.slide0 .banner-message .links {
        display: block;
        margin: 30px 0 0;
    }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    #homepage-slider #homepage-slides .slide.slide0 .banner-message .links {
        margin-top: 15px;
    }
}
#homepage-slider #homepage-slides .slide.slide0 .banner-message .links a {
    color: #000;
    font-size: 1.25rem;
}

@media only screen and (max-width: 767px) {
    #homepage-slider #homepage-slides .slide.slide0 .banner-message .links a {
        font-size: 28px;
    }
}
@media only screen and (max-width: 479px) {
    #homepage-slider #homepage-slides .slide.slide0 .banner-message .links {
    margin: 30px 0 0;
    }
    #homepage-slider #homepage-slides .slide.slide0 .banner-message .links a {
        font-size: 20px;
    }
}

.home-promo {
    /*background: #ffd672;*/
}
.home-promo #homepage-promo {
    /*background: #ffd672;*/
}
.home-promo #homepage-promo .item {
    background: transparent;
    text-align: center;
    font-size: 1.875rem;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    padding: 14px 0 20px;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-promo #homepage-promo .item {
        font-size: 1.25rem;
    }
}
@media only screen and (min-width: 768px) {
    .home-promo #homepage-promo .item {
        padding: 0;
    }
}
.home-promo #homepage-promo .item a {
    font-weight: 700;
}
.home-promo #homepage-promo .item a:hover {
    text-decoration: none;
}
@media only screen and (min-width: 768px) {
    .home-promo #homepage-promo .item a {
        font-size: 1.5625rem;
    }
}
@media only screen and (min-width: 768px) {
    .home-promo #homepage-promo .item span {
        display: block;
    }
    .home-promo #homepage-promo .item span.start {
        font-size: 0.9375rem;
        line-height: 1;
        height: 15px;
        margin-bottom: -6px;
    }
    .home-promo #homepage-promo .item span.price {
        font-weight: 700;
    }
}
.home-promo #homepage-promo .item span sup {
    top: -0.2em;
    font-size: 60%;
}

.home-additional {
    padding: 50px 0 60px;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-additional {
        padding: 20px 0 25px;
    }
}
.home-additional .mixed-slot {
    padding: 68px 0 38px;
    position: relative;
    float:left;
    clear:both;
    margin: 120px 0;
    width: 100%;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-additional .mixed-slot {
        margin-bottom: 50px;
        padding: 32px 24px;
    }
}
.home-additional .mixed-slot .row:after {
    content: "";
    display: table;
    clear: both;
}
.home-additional .mixed-slot .row .column {
    float: left;
    width: 50%;
}
.home-additional .mixed-slot .row .column.column-1:after,
.home-additional .mixed-slot .row .column.column-2:after,
.home-additional .mixed-slot .row .column.column-3:after,
.home-additional .mixed-slot .row .column.column-4:after {
    content: "";
    display: table;
    clear: both;
}
.home-additional .mixed-slot .row .column.column-1,
.home-additional .mixed-slot .row .column.column-3 {
    padding-right: 12px;
    text-align: left;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-additional .mixed-slot .row .column.column-1,
    .home-additional .mixed-slot .row .column.column-3 {
        float: none;
        padding: 0;
        width: 100%;
    }
}
.home-additional .mixed-slot .row .column.column-2,
.home-additional .mixed-slot .row .column.column-4 {
    padding-left: 12px;
    text-align: right;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-additional .mixed-slot .row .column.column-2,
    .home-additional .mixed-slot .row .column.column-4 {
        float: none;
        padding: 0;
        width: 100%;
    }
}
.home-additional .mixed-slot .row .column .top {
    float: right;
    padding-top: 122px;
    text-align: right;
    width: 60%;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-additional .mixed-slot .row .column .top {
        padding-top: 20px;
    }
}
.home-additional .mixed-slot .row .column .top p {
    font-size: 0.8125rem;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .home-additional .mixed-slot .row .column .top p {
        padding: 5px 0 5px 20%;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-additional .mixed-slot .row .column .top p {
        font-size: 0.75rem;
        margin: 0;
        padding: 5px 0 5px 20%;
    }
}
.home-additional .mixed-slot .row .column .bottom {
    float: left;
    margin-top: -92px;
    width: 50%;
}
.home-additional .mixed-slot .row .column .txt {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5625rem;
    line-height: 1.6875rem;
    float: left;
    padding: 27% 12px 0 20%;
    position: relative;
    text-align: right;
    width: 50%;
    z-index: 2;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .home-additional .mixed-slot .row .column .txt {
        padding: 0 12px 0 0;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .home-additional .mixed-slot .row .column .txt {
        padding: 0 12px 0 0;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-additional .mixed-slot .row .column .txt {
        font-size: 1.1875rem;
        line-height: 1.3125rem;
        float: right;
        padding: 30px 0 0;
        width: 45%;
    }
}
.home-additional .mixed-slot .row .column .left {
    float: right;
    margin: -10px 0 0;
    padding: 0 0 0 12px;
    position: relative;
    text-align: right;
    width: 50%;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-additional .mixed-slot .row .column .left {
        float: left;
        padding: 0 0 50px;
        width: 65%;
    }
}
.home-additional .mixed-slot .row .column .right {
    float: right;
    margin: 50px -24px -129px 0;
    text-align: right;
    width: 50%;
}
@media only screen and (min-width: 1281px) {
    .home-additional .mixed-slot .row .column .right {
        margin: 50px 0 -129px 0;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .home-additional .mixed-slot .row .column .right {
        margin-right: 0;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .home-additional .mixed-slot .row .column .right {
        margin-right: 0;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-additional .mixed-slot .row .column .right {
        margin: 0;
        text-align: center;
        width: 100%;
    }
}
.home-additional .mixed-slot .row .column img {
    max-width: 100%;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-additional .mixed-slot .row .links {
        bottom: -43px;
        left: 0;
        margin: 0;
        position: absolute;
        width: 100%;
    }
}
.home-additional .mixed-slot .row .links p {
    font-size: 0.875rem;
    text-align: center;
}
.home-additional .mixed-slot .row .links p a {
    margin: 0 12px;
}
.home-additional .mobile {
    display: none;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-additional .mobile {
        display: block;
    }
}
.home-additional .desktop {
    display: block;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-additional .desktop {
        display: none;
    }
}
.home-additional:after {
    content: "";
    display: table;
    clear: both;
}
.home-additional {
    background: #F9EBEB;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}
.home-additional #home-additional {
    margin: 0 auto;
    max-width: 1280px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .home-additional #home-additional {
        width: 748px;
    }
}
@media only screen and (min-width: 1024px) {
    .home-additional #home-additional {
        max-width: 1232px;
        padding: 0 24px;
    }
}
@media only screen and (min-width: 1281px) {
    .home-additional #home-additional {
        padding: 0;
    }
}


.home-additional {
    padding: 0 0 60px; }
@media only screen and (min-width: 768px) {
    .home-additional {
        padding: 0;
    }
}
@media only screen and (min-width: 768px) {
    .home-additional #home-additional {
        padding: 0;
    }
}
.home-additional #home-additional .mixed-slot {
    padding: 22px 24px;
    margin: 0;
}
@media only screen and (min-width: 768px) {
    .home-additional #home-additional .mixed-slot {
        padding: 72px 0 38px;
    }
}
.home-additional #home-additional .mixed-slot .column {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    .home-additional #home-additional .mixed-slot .column {
        width: 50%;
    }
}
.home-additional #home-additional .mixed-slot .column.column-1 {
    position: relative; }
.home-additional #home-additional .mixed-slot .column.column-1 .vertical-promo {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    left: -155px;
    bottom: 252px;
    line-height: 1;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-additional #home-additional .mixed-slot .column.column-1 .vertical-promo {
        left: -90px;
        bottom: 155px;
    }
}
@media only screen and (min-width: 768px) {
    .home-additional #home-additional .mixed-slot .column.column-1 .vertical-promo {
        bottom: 240px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .home-additional #home-additional .mixed-slot .column.column-1 .vertical-promo {
        left: -120px;
        bottom: 200px;
    }
}
.home-additional #home-additional .mixed-slot .column.column-1 .vertical-promo h2 {
    margin: 0 0 -10px;
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 5rem;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-additional #home-additional .mixed-slot .column.column-1 .vertical-promo h2 {
        font-size: 3.125rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .home-additional #home-additional .mixed-slot .column.column-1 .vertical-promo h2 {
        font-size: 3.75rem;
    }
}
.home-additional #home-additional .mixed-slot .column.column-1 .vertical-promo h4 {
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.875rem;
}
.home-additional #home-additional .mixed-slot .column.column-2 {
    padding-left: 0;
}
.home-additional #home-additional .mixed-slot .column.column-2 .top {
    position: relative;
    z-index: 1;
    padding-top: 20px;
    text-align: left;
    width: 66%;
}
@media only screen and (min-width: 768px) {
    .home-additional #home-additional .mixed-slot .column.column-2 .top {
        padding-top: 111px;
        text-align: right;
    }
}
.home-additional #home-additional .mixed-slot .column.column-2 .top .links {
    margin: 14px 0 0;
}
.home-additional #home-additional .mixed-slot .column.column-2 .bottom {
    margin-top: -88px;
}
@media only screen and (min-width: 768px) {
    .home-additional #home-additional .mixed-slot .column.column-2 .bottom {
        padding-left: 9px;
        text-align: left;
        margin-top: -95px;
    }
}
.home-additional #home-additional .mixed-slot .column.column-3 {
    margin: 15px 0 0;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-additional #home-additional .mixed-slot .column.column-3 {
        padding: 0;
    }
}
@media only screen and (min-width: 768px) {
    .home-additional #home-additional .mixed-slot .column.column-3 {
        margin: 0;
    }
}
.home-additional #home-additional .mixed-slot .column.column-3 .left {
    margin: 0;
    width: 50%;
    float: right;
}
@media only screen and (min-width: 768px) {
    .home-additional #home-additional .mixed-slot .column.column-3 .left {
        margin: -40px 0 0;
        text-align: left;
        width: 56%;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-additional #home-additional .mixed-slot .column.column-3 .txt {
        float: left;
    }
}
@media only screen and (min-width: 768px) {
    .home-additional #home-additional .mixed-slot .column.column-3 .txt {
        font-size: 1.875rem;
        line-height: 1;
        width: 44%;
        padding: 25% 12px 0 0;
    }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .home-additional #home-additional .mixed-slot .column.column-3 .txt {
        padding-top: 17%;
    }
}
.home-additional #home-additional .mixed-slot .column.column-3 .links {
    text-align: right;
    margin: 20px 0 0;
}
@media only screen and (min-width: 768px) {
    .home-additional #home-additional .mixed-slot .column.column-3 .links {
        position: static;
        text-align: center;
        margin: 6px 0 0;
    }
}
.home-additional #home-additional .mixed-slot .column.column-4 .right {
    margin-top: 10px;
}
@media only screen and (min-width: 768px) {
    .home-additional #home-additional .mixed-slot .column.column-4 .right {
        margin: 37px 12px -104px 0;
    }
}
.home-additional #home-additional .mixed-slot .column .links {
    text-align: center;
    position: static;
    margin: 6px 0;
}
.home-additional #home-additional .mixed-slot .column .links.mobile {
    display: block;
}
@media only screen and (min-width: 768px) {
    .home-additional #home-additional .mixed-slot .column .links.mobile {
        display: none;
    }
}
.home-additional #home-additional .mixed-slot .column .links.desktop {
    display: none;
}
@media only screen and (min-width: 768px) {
    .home-additional #home-additional .mixed-slot .column .links.desktop {
        display: block;
    }
}
.home-additional #home-additional .mixed-slot .column .links a {
    font-size: 1.75rem;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-additional #home-additional .mixed-slot .column .links a {
        font-size: 1.125rem;
    }
}
@media only screen and (min-width: 768px) {
    .home-additional #home-additional .mixed-slot .column .links a {
        font-size: 1.25rem;
    }
}
.home-additional #home-additional .mixed-slot .column .links a:hover {
    text-decoration: none;
}

.home-pixlee {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .home-pixlee {
        width: 748px;
    }
}
@media only screen and (min-width: 1024px) {
    .home-pixlee {
        max-width: 1232px;
        padding: 0 24px 0;
    }
}
@media only screen and (min-width: 1281px) {
    .home-pixlee {
        padding: 0;
    }
}
.home-pixlee .homepage-pixlee {
    padding: 105px 0 15px;
}
.catlanding-slot {
    padding: 50px 0;
}
.home-two-columns {
    padding: 50px 8%;
}
.home-two-columns .column,
.catlanding-slot .column {
    float: left;
    width: 50%;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .home-two-columns .column,
    .catlanding-slot .column {
        float: none;
        text-align: center;
        width: 100%;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-two-columns .column,
    .catlanding-slot .column {
        float: none;
        text-align: center;
        width: 100%;
    }
}
.home-two-columns .column .inner,
.catlanding-slot .column .inner {
    display: inline-block;
    position: relative;
}
.home-two-columns .column.left,
.catlanding-slot .column.left {
    text-align: right;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .home-two-columns .column.left,
    .catlanding-slot .column.left {
        text-align: center;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-two-columns .column.left,
    .catlanding-slot .column.left {
        text-align: center;
    }
}
.home-two-columns .column.right,
.catlanding-slot .column.right {
    padding-top: 65px;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-two-columns .column.right,
    .catlanding-slot .column.right {
        padding-top: 85px;
    }
}
.home-two-columns .column.right .text,
.catlanding-slot .column.right .text {
    top: 41.5%;
}
.home-two-columns .column img,
.catlanding-slot .column img {
    max-width: 100%;
}
.home-two-columns .column .text,
.catlanding-slot .column .text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    /*
  left: 0;
  position: absolute;
  top: 43.5%;
*/
}
.home-two-columns .column .text h4,
.catlanding-slot .column .text h4 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    color: #000;
    font-size: 80px;
    line-height: 4.875rem;
    margin: 0 0 20px 0;
}
.home-two-columns .column .text h4 span.dollar,
.catlanding-slot .column .text h4 span.dollar {
    font-size: 40px;
    position: relative;
    top: -15px;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-two-columns .column .text h4,
    .catlanding-slot .column .text h4 {
        font-size: 3.625rem;
        line-height: 3.5rem;
    }
}
.home-two-columns .column .text h5,
.catlanding-slot .column .text h5 {
    color: #000;
    font-family: 'Fira Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    margin: 0;
    padding: 5px 0;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-two-columns .column .text h5,
    .catlanding-slot .column .text h5 {
        font-size: 1.625rem;
        line-height: 1.5rem;
    }
}
.home-two-columns .column .text p,
.catlanding-slot .column .text p {
    color: #000;
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 0.938rem;
    margin: 0;
    padding: 0;
}
.home-two-columns .column .links,
.catlanding-slot .column .links {
    bottom: -90px;
    font-size: 0.813rem;
    position: absolute;
    text-align: center;
    width: 100%;
}
.home-two-columns .column .links span,
.catlanding-slot .column .links span {
    font-size: 30px;
    line-height: 40px;
    font-family: 'Playfair Display', serif;
}
.home-two-columns .column .links a,
.catlanding-slot .column .links a {
    font-size: 20px;
    line-height: 30px;
    color: #2f2b2c;
    margin: 0 12px;
}
.home-two-columns .column .links a:hover,
.catlanding-slot .column .links a:hover {
    text-decoration: none;
}
.home-two-columns {
    padding-top: 100px;
}

.home-two-columns {
    padding: 50px 8% 15px;
}
@media only screen and (min-width: 768px) {
    .home-two-columns {
        padding-top: 100px;
    }
}
.home-two-columns #homepage-two-columns .column.right {
    padding-top: 20px;
}
@media only screen and (min-width: 768px) {
    .home-two-columns #homepage-two-columns .column.right {
        padding-top: 65px;
    }
}
.home-two-columns #homepage-two-columns .column .inner .promo {
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    width: 100%;
    top: 155px;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-two-columns #homepage-two-columns .column .inner .promo {
        top: 90px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .home-two-columns #homepage-two-columns .column .inner .promo {
        top: 120px;
    }
}
.home-two-columns #homepage-two-columns .column .inner .promo h2 {
    font-size: 5rem;
    line-height: 4.0625rem;
    margin: 0;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-two-columns #homepage-two-columns .column .inner .promo h2 {
        font-size: 2.5rem;
        line-height: 2.031rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .home-two-columns #homepage-two-columns .column .inner .promo h2 {
        font-size: 2.5rem;
        line-height: 2.1875rem;
    }
}
.home-two-columns #homepage-two-columns .column .inner .promo p {
    font-size: 1.875rem;
    line-height: 1.2;
    margin: 15px 0 0;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-two-columns #homepage-two-columns .column .inner .promo p {
        font-size: 1.25rem;
    }
}
@media only screen and (min-width: 768px) {
    .home-two-columns #homepage-two-columns .column .inner .promo p {
        margin: 25px 0 0;
    }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .home-two-columns #homepage-two-columns .column .inner .promo p {
        font-size: 1.5625rem;
    }
}
.home-two-columns #homepage-two-columns .column .inner .content {
    text-align: center;
}
.home-two-columns #homepage-two-columns .column .inner .content .title {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 1;
    margin-top: 10px;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-two-columns #homepage-two-columns .column .inner .content .title {
        font-size: 1.25rem;
    }
}
.home-two-columns #homepage-two-columns .column .inner .content .title span {
    font-weight: 700;
}
.home-two-columns #homepage-two-columns .column .inner .content .title sup {
    top: -0.2em;
    font-size: 60%;
}
.home-two-columns #homepage-two-columns .column .inner .content .links {
    position: static;
    margin: 10px 0;
}
.home-two-columns #homepage-two-columns .column .inner .content .links a {
    font-size: 1.75rem;
}
@media only screen and (min-width: 768px) {
    .home-two-columns #homepage-two-columns .column .inner .content .links a {
        font-size: 1.25rem;
    }
}
.home-two-columns #homepage-two-columns .column .inner .content .note {
    font-size: 1.125rem;
    font-family: 'Fira Sans', sans-serif;
    font-style: italic;
    font-weight: 300;
    margin: 15px 0 5px;
    line-height: 1.5;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-two-columns #homepage-two-columns .column .inner .content .note {
        font-size: 0.9375rem;
    }
}
@media only screen and (min-width: 768px) {
    .home-two-columns #homepage-two-columns .column .inner .content .note {
        display: none;
    }
}
.home-bottom-slots .home-banner {
    display: none;
}
@media only screen and (min-width: 768px) {
    .home-bottom-slots .home-banner {
        display: block;
        padding: 5px 0 25px;
    }
}
.home-bottom-slots .home-banner h6 {
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 0.6875rem;
}

.certona-content h2 {
    font-family: "Playfair Display", sans-serif;
    font-weight:normal;
    font-style: normal;
    font-size: 30px;
    margin-bottom: 14px;
    width:100%;
    text-align:center;
    padding: 35px 0 10px;
}
.certona-content h2 span {
    font-style: italic;
}
.certona-content .secondary-header {
    font-family: "Playfair Display", sans-serif;
    width:100%;
    text-align:center;
    font-size: 18px;
}

.catlanding-slot .column .text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.catlanding-slot .column .text h5 {
    padding: 0;
}
.inner.content-container-solid {
    width: 490px;
    max-width: 100%;
    height: 610px;
}
/* Landing Page Solid Color Content Container*/

.inner.content-container-solid {
    width: 490px;
    height: 610px;
}
.home-banner {
    margin: 0 auto;
    max-width: 1280px;
    padding: 75px 0 40px;
    text-align: center;
    clear: both;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-banner {
        padding: 45px 8%;
    }
}
.home-banner h5 {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.875rem;
    margin: 0;
    padding: 0;
}
.home-banner p {
    font-size: 0.813rem;
    margin: 0;
    padding: 0;
}
.home-banner a {
    color: #2f2b2c;
}
.home-banner a:hover {
    text-decoration: none;
}
.home-banner .wishlist::before {
    background: url("../images/svg-icons/wishlist-small.svg") 0 0 no-repeat;
    content: " ";
    display: inline-block;
    height: 10px;
    position: relative;
    top: 1px;
    width: 15px;
}
#home-bottom-left {
    margin: auto;
    max-width: 320px;
    position: relative;
    text-align: center;
    width: 100%;
}
#home-bottom-left h2 {
    color: #000;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0;
    text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
    #home-bottom-left h2 {
        font-size: 2.3rem;
    }
}
#home-bottom-left ul {
    margin: -.5em 0 .5em 0;
}
#home-bottom-left ul li {
    border-right: 1px solid #707070;
    color: #707070;
    display: inline;
    font-size: .8rem;
    list-style: none outside none;
    margin: 0 5px 0 0;
    padding: 0 5px 0 0;
    text-transform: uppercase;
}
#home-bottom-left ul li:last-child {
    border: 0 none;
}
#home-bottom-left ul li span {
    margin: 0 10px 0 0;
}
#home-bottom-left img {
    display: block;
}
#homepage-slides {
    margin: 0;
    position: relative;
    width: 20000em;
}
#homepage-slides .slide {
    float: left;
    overflow: hidden;
    position: relative;
    list-style: none;
}
#homepage-slides .slide .mobile {
    display: none;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #homepage-slides .slide .mobile {
        display: block;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    #homepage-slides .slide .mobile {
        display: block;
    }
}
#homepage-slides .slide .desktop {
    display: block;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #homepage-slides .slide .desktop {
        display: none;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    #homepage-slides .slide .desktop {
        display: none;
    }
}
#homepage-slides .slide img {
    display: block;
    height: auto;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
#home-bottom-center {
    display: table;
    margin: auto;
    max-width: 1280px;
    padding: 50px 0 14px;
    position: relative;
    width: 100%;
}
@media only screen and (min-width: 1024px) {
    #home-bottom-center {
        padding: 50px 24px 14px;
        max-width: 1232px;
    }
}
@media only screen and (min-width: 1281px) {
    #home-bottom-center {
        padding: 50px 0 14px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #home-bottom-center {
        padding: 0 0 83px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    #home-bottom-center {
        padding: 0 0 83px;
    }
}
#home-bottom-center .column {
    display: table-cell;
    position: relative;
    width: 33.33%;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #home-bottom-center .column {
        display: block;
        width: 100%;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    #home-bottom-center .column {
        display: block;
        width: 100%;
    }
}
#home-bottom-center .column .inner {
    display: inline-block;
    position: relative;
}
#home-bottom-center .column.left {
    box-sizing: border-box;
    padding-right: 7.90%;
    padding-top: 135px;
    text-align: left;
    vertical-align: bottom;
    width: 49.92%;
    z-index: 3;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #home-bottom-center .column.left {
        padding: 0 8% 0;
        width: 100%;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    #home-bottom-center .column.left {
        padding: 0 8% 0;
        width: 100%;
    }
}
#home-bottom-center .column.center {
    text-align: center;
    vertical-align: bottom;
    width: 32.58%;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #home-bottom-center .column.center {
        padding: 0 8%;
        width: 80%;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    #home-bottom-center .column.center {
        padding: 0 8%;
        width: 80%;
    }
    #home-bottom-center .column.center .links {
        padding-left: 16%;
        text-align: left;
    }
}
#home-bottom-center .column.right {
    text-align: right;
    vertical-align: top;
    width: 17.50%;
    z-index: 2;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #home-bottom-center .column.right {
        margin-top: -10%;
        width: 100%;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    #home-bottom-center .column.right {
        float: right;
        margin-top: -18%;
        width: 45%;
    }
}
#home-bottom-center .column img {
    max-width: 100%;
}
#home-bottom-center .column .text {
    bottom: 11%;
    left: 60%;
    position: absolute;
    width: 100%;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #home-bottom-center .column .text {
        bottom: 0;
        left: 0;
        padding: 20px 0 25px;
        position: relative;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    #home-bottom-center .column .text {
        bottom: 0;
        left: 0;
        padding: 20px 0 25px;
        position: relative;
    }
}
#home-bottom-center .column .text h4 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    color: #2f2b2c;
    font-size: 5.000rem;
    line-height: 4.875rem;
    margin: 0;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #home-bottom-center .column .text h4 {
        font-size: 2.875rem;
        line-height: 2.875rem;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    #home-bottom-center .column .text h4 {
        font-size: 2.875rem;
        line-height: 2.875rem;
    }
}
#home-bottom-center .column .text h5 {
    color: #2f2b2c;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.750rem;
    margin: 0;
    padding: 5px 0;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #home-bottom-center .column .text h5 {
        font-size: 1.50rem;
        line-height: 1.50rem;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    #home-bottom-center .column .text h5 {
        font-size: 1.50rem;
        line-height: 1.50rem;
    }
}
#home-bottom-center .column .text p {
    color: #e21b70;
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.938rem;
    margin: 0;
    padding: 0;
}
#home-bottom-center .column .links {
    bottom: -43px;
    font-size: 0.813rem;
    position: absolute;
    text-align: center;
    width: 100%;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #home-bottom-center .column .links {
        bottom: 0;
        position: relative;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    #home-bottom-center .column .links {
        bottom: 0;
        position: relative;
    }
}
#home-bottom-center .home-bottom-center-text {
    position: absolute;
    text-align: center;
    top: 18%;
    width: 100%;
}
#home-bottom-center .home-bottom-center-text h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}
#home-bottom-center .home-bottom-center-text h2 {
    color: #707070;
    font-size: 1.3rem;
    letter-spacing: .2em;
    margin-top: -.05rem;
}
#home-bottom-center .home-bottom-center-text h3 {
    color: #707070;
    font-size: .8rem;
    margin-top: -1rem;
}
#home-bottom-center img {
    display: block;
}
.home-pre-bottom-center {
    max-width: 760px;
    margin: 65px auto 0;
    padding: 0 0 50px;
    position: relative;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .home-pre-bottom-center {
        max-width: 768px;
        padding: 0 60px 50px;
        overflow: hidden;
    }
}
.home-pre-bottom-center .text {
    right: -15%;
    position: absolute;
    top: 3%;
    text-align: center;
    width: 90%;
    z-index: 3;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .home-pre-bottom-center .text {
        right: -12%;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-pre-bottom-center .text {
        left: 0;
        right: auto;
        top: 7%;
        width: 100%;
    }
}
.home-pre-bottom-center .text h4 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    color: #2f2b2c;
    font-size: 5.000rem;
    line-height: 4.875rem;
    margin: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .home-pre-bottom-center .text h4 {
        font-size: 2.875rem;
        line-height: 2.875rem;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .home-pre-bottom-center .text h4 {
        font-size: 2.875rem;
        line-height: 2.875rem;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-pre-bottom-center .text h4 {
        font-size: 2.875rem;
        line-height: 2.875rem;
    }
}
.home-pre-bottom-center .text h5 {
    color: #2f2b2c;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.750rem;
    margin: 0;
    padding: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .home-pre-bottom-center .text h5 {
        font-size: 1.50rem;
        line-height: 1.50rem;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .home-pre-bottom-center .text h5 {
        font-size: 1.50rem;
        line-height: 1.50rem;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-pre-bottom-center .text h5 {
        font-size: 1.50rem;
        line-height: 1.50rem;
    }
}
.home-pre-bottom-center .text p {
    color: #e21b70;
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    margin: 0;
    padding: 15px 0 0;
}
.home-pre-bottom-center .accessories-img {
    float: right;
    font-size: 0;
    position: relative;
    z-index: 1;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .home-pre-bottom-center .accessories-img {
        width: 60%;
    }
    .home-pre-bottom-center .accessories-img img {
        width: 100%;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-pre-bottom-center .accessories-img {
        float: none;
        padding: 46px 8% 24px;
    }
    .home-pre-bottom-center .accessories-img img {
        width: 100%;
    }
}
.home-pre-bottom-center .title {
    display: none;
    padding: 0 8%;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-pre-bottom-center .title {
        display: block;
    }
}
.home-pre-bottom-center .title h4 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.875rem;
    margin: 0;
    padding: 0;
    text-align: center;
}
.home-bottom-right {
    width: 100%;
    margin: auto;
    max-width: 320px;
    position: relative;
    text-align: center;
}
.home-bottom-right .home-bottom-right-header h2 {
    color: #707070;
    font-size: 0.7rem;
    padding: .5em 0 0 0;
    margin: 0;
}
@media only screen and (min-width: 768px) {
    .home-bottom-right .home-bottom-right-header h2 {
        font-size: 2.3rem;
    }
}
.home-bottom-right .home-bottom-right-header h3 {
    font-size: 2.2rem;
    font-style: normal;
    margin: 0;
    padding: 0;
}
@media only screen and (min-width: 768px) {
    .home-bottom-right .home-bottom-right-header h3 {
        font-size: 2.3rem;
    }
}
.home-bottom-right .home-bottom-right-header img {
    display: block;
}
.home-bottom-right .product-tile {
    border: 0 none;
    margin: 1em auto 0;
    min-height: 255px;
    width: 90%;
}
.home-bottom-right .product-tile img {
    /*@include box-shadow(0px 0px 5px 3px #EBEBEB);*/
    
    max-width: 90%;
}
.home-bottom-right .product-tile .product-name {
    height: auto;
}
.home-bottom-right .product-tile .product-sales-price {
    color: #000;
}

/****************************************************************************/
/* CATEGORY LANDING AND LISTING STYLES*/
/****************************************************************************/

.catlanding-slot {
    padding: 0;
}
/* CAT LANDING STYLES */

.catlanding-slot img {
    width: 100%;
    height: auto;
}
.cb-banner-text {
    position: absolute;
    top: 19.1%;
    right: 0;
    width: 41%;
    text-align: center;
}
.cb-banner-text h1,
.cb-banner-text h2,
.cb-banner-text h3,
.cb-banner-text h4 {
    margin: 0;
}
.cb-banner-text h1 {
    font-size: 6.85vh;
    margin-top: 3.65%;
}
.cb-banner-text h2 {
    font-size: 1.49vw;
    margin-top: 2.1%;
}
.cb-banner-text h3 {
    font-size: 3.3vw;
    margin-top: -3.5%;
}
.cb-banner-text h3 span {
    font-size: 55%;
}
.cb-banner-text h4 {
    font-size: 1vw;
    text-transform: uppercase;
}
.cb-shopnow a {
    font-size: 1.05vw;
    margin-top: 6.5%;
    display: block;
}
.cb-copy {
    font-size: .55vw;
    margin-top: 12%;
    font-style: italic;
}
@media only screen and (max-width: 1270px) and (min-width: 1024px) {
    .cb-copy {
        margin-top: 8%;
    }
    .cb-shopnow a {
        margin-top: 4.5%;
    }
    .cb-banner-text h3 {
        margin-top: 1%;
    }
    .cb-copy {
        font-size: .65rem;
        margin-top: 12%;
    }
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .cb-banner-text {
        top: 5%;
    }
    .cb-banner-text h1 {
        font-size: 4.85vh;
        margin-top: 2%;
    }
    .cb-banner-text h2,
    .cb-shopnow a {
        font-size: 1rem;
        margin-top: 4.5%;
    }
    .cb-copy {
        font-size: .65rem;
        margin-top: 5%;
    }
}
@media only screen and (max-width: 768px) {
    .cb-banner-text {
        position: relative;
        width: 100%;
    }
    .cb-banner-text h4 {
        font-size: 1.22rem;
    }
    .cb-banner-text h1 {
        font-size: 10.5vw;
        margin-top: 3.3%;
    }
    .cb-banner-text h2 {
        font-size: 1.9rem;
        margin-top: 1.1%;
    }
    .cb-banner-text h3 {
        font-size: 10vw;
        margin-top: -3%;
    }
    .cb-shopnow a {
        font-size: 1.7rem;
        margin-top: 1.5%;
    }
    .cb-copy {
        font-size: 1.2rem;
        width: 55%;
        margin: 3.3% auto;
    }
}
/*
.catlanding-slot {
  padding: 50px 0 60px;
}
*/

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .catlanding-slot {
        padding: 20px 0 25px;
    }
}
.catlanding-slot .mixed-slot {
    padding: 68px 0 38px;
    position: relative;
    top: 100px;
    float: left;
    clear: both;
    margin: 0 0 120px 0;
    width:100%;
}
@media only screen and (max-width: 767px) {
    .catlanding-slot .mixed-slot {
        margin:0;
        top: 0;
    }
}
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .catlanding-slot .mixed-slot {
        margin-bottom: 50px;
        padding: 32px 24px;
    }
}
.catlanding-slot .mixed-slot .row .column {
    float: left;
    width: 50%;
}
.catlanding-slot .mixed-slot .row .column.column-1,
.catlanding-slot .mixed-slot .row .column.column-3 {
    padding-right: 12px;
    text-align: left;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .catlanding-slot .mixed-slot .row .column.column-1,
    .catlanding-slot .mixed-slot .row .column.column-3 {
        float: none;
        padding: 0;
        width: 100%;
    }
}
.catlanding-slot .mixed-slot .row .column.column-2,
.catlanding-slot .mixed-slot .row .column.column-4 {
    padding-left: 12px;
    text-align: right;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .catlanding-slot .mixed-slot .row .column.column-2,
    .catlanding-slot .mixed-slot .row .column.column-4 {
        float: none;
        padding: 0;
        width: 100%;
    }
}
.catlanding-slot .mixed-slot .row .column .top {
    float: right;
    padding-top: 122px;
    text-align: right;
    width: 60%;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .catlanding-slot .mixed-slot .row .column .top {
        padding-top: 20px;
    }
}
.catlanding-slot .mixed-slot .row .column .top p {
    font-size: 0.8125rem;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .catlanding-slot .mixed-slot .row .column .top p {
        padding: 5px 0 5px 20%;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .catlanding-slot .mixed-slot .row .column .top p {
        font-size: 0.75rem;
        margin: 0;
        padding: 5px 0 5px 20%;
    }
}
.catlanding-slot .mixed-slot .row .column .bottom {
    float: left;
    margin-top: -92px;
    width: 50%;
}
.catlanding-slot .mixed-slot .row .column .txt {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5625rem;
    line-height: 1.6875rem;
    float: left;
    padding: 27% 12px 0 20%;
    position: relative;
    text-align: right;
    width: 50%;
    z-index: 2;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .catlanding-slot .mixed-slot .row .column .txt {
        padding: 0 12px 0 0;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .catlanding-slot .mixed-slot .row .column .txt {
        padding: 0 12px 0 0;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .catlanding-slot .mixed-slot .row .column .txt {
        font-size: 1.1875rem;
        line-height: 1.3125rem;
        float: right;
        padding: 30px 0 0;
        width: 45%;
    }
}
.catlanding-slot .mixed-slot .row .column .left {
    float: right;
    margin: -10px 0 0;
    padding: 0 0 0 12px;
    position: relative;
    text-align: right;
    width: 50%;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .catlanding-slot .mixed-slot .row .column .left {
        float: left;
        padding: 0 0 50px;
        width: 65%;
    }
}
.catlanding-slot .mixed-slot .row .column .right {
    float: right;
    margin: 50px -24px -129px 0;
    text-align: right;
    width: 50%;
}
@media only screen and (min-width: 1280px) {
    .catlanding-slot .mixed-slot .row .column .right {
        margin: 50px 0 -129px 0;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .catlanding-slot .mixed-slot .row .column .right {
        margin-right: 0;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .catlanding-slot .mixed-slot .row .column .right {
        margin-right: 0;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .catlanding-slot .mixed-slot .row .column .right {
        margin: 0;
        text-align: center;
        width: 100%;
    }
}
.catlanding-slot .mixed-slot .row .column img {
    max-width: 100%;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .catlanding-slot .mixed-slot .row .links {
        bottom: -43px;
        left: 0;
        margin: 0;
        position: absolute;
        width: 100%;
    }
}
.catlanding-slot .mixed-slot .row .links p {
    font-size: 0.875rem;
    text-align: center;
}
.catlanding-slot .mixed-slot .row .links p a {
    margin: 0 12px;
}
.catlanding-slot .mobile {
    display: none;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .catlanding-slot .mobile {
        display: block;
    }
}
.catlanding-slot .desktop {
    display: block;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .catlanding-slot .desktop {
        display: none;
    }
}
.category-slot h1,
.product-slot h1 {
    color: #FFF;
    font-size: 3rem;
    position: absolute;
    text-align: right;
    bottom: 2%;
    left: 2%;
}
.category-slot h2,
.product-slot h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: .1rem .5rem;
}
.category-slot h3,
.product-slot h3 {
    background-color: #FFF;
    bottom: 0;
    color: #000;
    font-size: 2rem;
    margin: 0;
    padding: 2rem;
    position: absolute;
    width: 100%;
    /* IE 8 */
    
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    /* IE 5-7 */
    
    filter: alpha(opacity=60);
    /* Netscape */
    
    -moz-opacity: 0.6;
    /* Safari 1.x */
    
    -khtml-opacity: 0.6;
    /* Good browsers */
    
    opacity: 0.6;
}
.category-slot .catlanding-banner,
.product-slot .catlanding-banner {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.category-slot .catlanding-banner img,
.product-slot .catlanding-banner img {
    height: auto;
    width: 100%;
}
.category-slot .category-tile,
.product-slot .category-tile {
    float: left;
    overflow: hidden;
    padding: 0 .15%;
    position: relative;
    width: 100%;
}
@media only screen and (min-width: 768px) {
    .category-slot .category-tile,
    .product-slot .category-tile {
        width: 33%;
    }
}
.category-slot .category-tile img,
.product-slot .category-tile img {
    height: auto;
    width: 100%;
}
.category-slot .cat-banner,
.product-slot .cat-banner {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.category-slot .cat-banner img,
.product-slot .cat-banner img {
    height: auto;
    width: 100%;
}
.category-slot .cat-banner h1,
.product-slot .cat-banner h1 {
    color: #2f2b2c;
    right: 2%;
}
.category-slot .cat-banner .cat-description,
.product-slot .cat-banner .cat-description {
    bottom: 11.5%;
    left: 10%;
    position: absolute;
}
.category-slot .cat-banner .cat-description .banner-text1,
.product-slot .cat-banner .cat-description .banner-text1 {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.938rem;
    color: #e21b70;
}
@media only screen and (min-width: 768px) {
    .category-slot .cat-banner .cat-description .banner-text1,
    .product-slot .cat-banner .cat-description .banner-text1 {
        font-size: 0.938rem;
    }
}
.category-slot .cat-banner .cat-description .banner-text2,
.product-slot .cat-banner .cat-description .banner-text2 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    color: #FFF;
    font-size: 4rem;
    line-height: 4rem;
    padding: 6px 0 0;
}
@media only screen and (min-width: 768px) {
    .category-slot .cat-banner .cat-description .banner-text2,
    .product-slot .cat-banner .cat-description .banner-text2 {
        font-size: 4rem;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .category-slot .cat-banner .cat-description .banner-text2,
    .product-slot .cat-banner .cat-description .banner-text2 {
        font-size: 3.000rem;
        line-height: 3.000rem;
    }
}
.category-slot .search-result-items .grid-tile,
.product-slot .search-result-items .grid-tile {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0;
    padding: 0 .15%;
    width: 100%;
}
@media only screen and (min-width: 768px) {
    .category-slot .search-result-items .grid-tile,
    .product-slot .search-result-items .grid-tile {
        width: 33%;
    }
}
.category-slot .search-result-items .grid-tile .product-tile,
.product-slot .search-result-items .grid-tile .product-tile {
    margin: 0 .15%;
    padding: 1rem 0;
    width: 100%;
}
.category-slot .search-result-items .grid-tile .product-tile .product-name,
.product-slot .search-result-items .grid-tile .product-tile .product-name {
    font-size: 1.2rem;
    height: auto;
    margin-top: .5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.category-slot .search-result-items .grid-tile .product-tile .product-name a,
.product-slot .search-result-items .grid-tile .product-tile .product-name a {
    color: #2f2b2c;
}
.category-slot .search-result-items .grid-tile .product-tile .product-pricing,
.product-slot .search-result-items .grid-tile .product-tile .product-pricing {
    font-size: 1rem;
}
.catlanding-banner .banner .mobile,
.catpromo-slot .banner .mobile {
    display: none;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .catlanding-banner .banner .mobile,
    .catpromo-slot .banner .mobile {
        display: block;
    }
}
.catlanding-banner .banner .desktop,
.catpromo-slot .banner .desktop {
    display: block;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .catlanding-banner .banner .desktop,
    .catpromo-slot .banner .desktop {
        display: none;
    }
}
.catlanding-banner .banner .banner-message,
.catpromo-slot .banner .banner-message {
    color: #FFF;
    position: absolute;
    text-align: center;
    top: 32%;
    width: 90%;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .catlanding-banner .banner .banner-message,
    .catpromo-slot .banner .banner-message {
        width: 100%;
    }
}
.catlanding-banner .banner .banner-message .banner-text1,
.catpromo-slot .banner .banner-message .banner-text1 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.75rem;
}
.catlanding-banner .banner .banner-message .banner-text2,
.catpromo-slot .banner .banner-message .banner-text2 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 5rem;
    line-height: 4.750rem;
    padding: 6px 0 0;
}
@media only screen and (min-width: 768px) {
    .catlanding-banner .banner .banner-message .banner-text2,
    .catpromo-slot .banner .banner-message .banner-text2 {
        font-size: 5rem;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .catlanding-banner .banner .banner-message .banner-text2,
    .catpromo-slot .banner .banner-message .banner-text2 {
        font-size: 3.000rem;
        line-height: 3.000rem;
    }
}
.catlanding-banner .banner .banner-message .banner-text3,
.catpromo-slot .banner .banner-message .banner-text3 {
    font-size: 0.813rem;
    padding: 32px 0;
}
@media only screen and (min-width: 768px) {
    .catlanding-banner .banner .banner-message .banner-text3,
    .catpromo-slot .banner .banner-message .banner-text3 {
        font-size: 0.813rem;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .catlanding-banner .banner .banner-message .banner-text3,
    .catpromo-slot .banner .banner-message .banner-text3 {
        padding: 25px 0;
    }
}
.catlanding-banner .banner .banner-message .banner-text3 a,
.catpromo-slot .banner .banner-message .banner-text3 a {
    margin: 0 13px;
}
.catlanding-banner .banner .banner-message a,
.catpromo-slot .banner .banner-message a {
    color: #FFF;
}
.catlanding-banner .banner .banner-message a:hover,
.catpromo-slot .banner .banner-message a:hover {
    text-decoration: none;
}
.catlanding-banner .banner .cat-link,
.catpromo-slot .banner .cat-link {
    font-size: 0.8125rem;
    text-align: center;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .catlanding-banner .banner .cat-link,
    .catpromo-slot .banner .cat-link {
        margin: 18px 0 45px;
    }
}
.catlanding-banner .banner .cat-link a:hover,
.catpromo-slot .banner .cat-link a:hover {
    text-decoration: none;
}
.catpromo-slot {
    padding: 0;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .catpromo-slot {
        padding: 30px 0;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .catpromo-slot {
        padding: 30px 0;
    }
}
.catpromo-slot .banner {
    position: relative;
}
.catpromo-slot .banner img {
    max-width: 100%;
}
.catpromo-slot .banner .banner-message {
    width: 100%;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .catpromo-slot .banner .banner-message {
        top: 12%;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .catpromo-slot .banner .banner-message {
        top: 12%;
    }
}
.catpromo-slot .banner .banner-message .banner-text3 {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.938rem;
    color: #e21b70;
}
@media only screen and (min-width: 768px) {
    .catpromo-slot .banner .banner-message .banner-text3 {
        font-size: 0.938rem;
    }
}
/****************************************************************************/
/* SEARCH AND LISTING GRID PROMO STYLES*/
/****************************************************************************/

.search-result-items .grid-tile.promo {
    clear: both;
    float: left;
    padding-bottom: 0;
    width: 100%;
}
.search-result-items .grid-tile.promo .catpromo-slot {
    padding-bottom: 60px;
}
.search-result-items .grid-tile.promo .catpromo-slot img {
    width: 100%;
}
.search-result-items .grid-tile.promo.desktop {
    display: block;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .search-result-items .grid-tile.promo.desktop {
        display: none;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .search-result-items .grid-tile.promo.desktop {
        display: none;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .search-result-items .grid-tile.promo.desktop {
        display: none;
    }
}
.search-result-items .grid-tile.promo.mobile {
    display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .search-result-items .grid-tile.promo.mobile {
        display: block;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .search-result-items .grid-tile.promo.mobile {
        display: block;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .search-result-items .grid-tile.promo.mobile {
        display: block;
    }
}
.slot-grid-header .catpromo-slot .banner img {
    width: 100%;
}
.slot-grid-header .catpromo-slot .banner .banner-message {
    bottom: 13%;
    padding-left: 8%;
    text-align: left;
    top: auto;
}
.slot-grid-header .catpromo-slot .banner .banner-message .banner-text3 {
    padding: 0;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .slot-grid-header .catpromo-slot .banner .banner-message .banner-text2 {
        font-size: 2.500rem;
        line-height: 2.500rem;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .slot-grid-header .catpromo-slot .banner .banner-message .banner-text2 {
        font-size: 2.500rem;
        line-height: 2.500rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .html-slot-container img {
        max-width: 100%;
    }
}
.pt_categorylanding .primary-content {
    float: none;
    border: none;
    margin: 0;
    padding: 0 0 0 220px;
    width: 100%;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .pt_categorylanding .primary-content {
        padding: 0;
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .pt_categorylanding .primary-content {
        padding: 0;
    }
}
.pt_categorylanding .catlanding-slot .mixed-slot {
    /*background: $slot;*/
}
@media only screen and (min-width: 767px) {
    .pt_categorylanding .catlanding-slot .mixed-slot {
        padding: 68px 24px 38px;
    }
}
@media only screen and (min-width: 1281px) {
    .pt_categorylanding .catlanding-slot .mixed-slot {
        padding: 68px 0 38px;
    }
}
.pt_categorylanding .catlanding-slot .mixed-slot .inner {
    margin: 0 auto;
    max-width: 1232px;
    position: relative;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .pt_categorylanding .catlanding-slot .mixed-slot .inner {
        width: 748px;
    }
}
.pt_categorylanding .catlanding-slot .mixed-slot .inner .heading {
    text-align: center;
    position: absolute;
    width: 100%;
    top: -160px;
}
@media only screen and (max-width: 767px) {
    .pt_categorylanding .catlanding-slot .mixed-slot .inner .heading {
        position: relative;
        top: 0;
    }
}
 
.pt_categorylanding .catlanding-slot .mixed-slot .inner .heading h3 {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    margin: 0;
}
.pt_categorylanding .catlanding-slot .mixed-slot .inner .heading h4 {
    font-family: 'Playfair Display', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 80px;
    margin: 0;
}
.pt_categorylanding .catlanding-slot .mixed-slot .inner .heading h5 {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin: 10px 0;
}
@media only screen and (max-width: 767px) {
    .pt_categorylanding .catlanding-slot .two-columns {
        padding: 0 10%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .pt_categorylanding .catlanding-slot .two-columns {
        margin: 0 auto;
        width: 748px;
        margin-top: 70px;
    }
}
.bottom-banner-container {
    overflow: hidden;
}
.bottom-banner-container .bottom-banner-cell {
    float: left;
    overflow: hidden;
    text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .bottom-banner-container .bottom-banner-cell img {
        max-width: 100%;
    }
}
.bottom-banner-container .banner-cell-1 {
    width: 33%;
}
.bottom-banner-container .banner-cell-2 {
    width: 34%;
}
.bottom-banner-container .banner-cell-3 {
    width: 33%;
}
/****************************************************************************/
/* CONTENT STYLES */
/****************************************************************************/

.cr_Assets {
    max-width: 1120px;
}
.dotted {
    max-width: 1030px;
    background-image: url("../images/dots.png");
    background-repeat: repeat-x;
    background-color: #FFF;
    margin: 50px auto;
}
.logoCopy {
    max-width: 1030px;
    margin: 0 auto 50px;
}
.dottedCenterText {
    width: 150px;
    margin: 15px auto;
    text-align: center;
    background-color: #fff;
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
.charlotteRusseLogo {
    margin: 0 0 20px 0;
}
.affiliate {
    font-style: italic;
    font-size: 29px;
    text-transform: uppercase;
    margin: 0 0 0 7px;
}
.content-asset .errorContentHdr1 {
    font-family: Playfair Display;
    font-style: italic;
    font-weight: 700;
    font-size: 46px;
    text-transform: uppercase;
    margin: 20px 0 0;
}
.content-asset .errorContentHdr2 {
    font-family: Playfair Display;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
    margin: 0;
}
.content-asset .errorContentHdr3 {
    font-family: Fira Sans;
    font-size: 30px;
    margin: 0 0 20px 0;
}
.content-asset .errorContentHdr4 {
    font-family: Fira Sans;
    font-size: 22px;
    margin: 0;
}
.aboutUs {
    font-style: italic;
    font-weight: 600;
    font-size: 55px;
    margin: 0 0 24px 7px;
}
.aboutUsSubHead {
    font-family: Fira Sans;
    font-size: 17px;
    font-weight: 500;
    margin: 0;
}
.cr_Assets .aboutUsSubHeadCopy {
    line-height: 1.4em;
    margin: 0;
}
.affiliatesList {
    font-family: Fira Sans;
    font-size: 20px;
    max-width: 529px;
    float: left;
    width: 48%;
    margin: 15px 0 0 10px;
}
.affiliatesList a {
    margin: 0px;
    font-size: 14px;
}
.affiliatesList a.button {
    margin: 30px 0 30px;
    font-size: 14px;
}
.affiliatesList p {
    font-size: 14px;
    margin: 7px 0 0 0;
}
.affiliatesList ul {
    margin: 0px 0 0 0;
}
.affiliatesList ul li {
    padding: 2px 0;
    list-style: disc;
    font-size: 12px;
}
.errorContent {
    width: 50%;
    float: left;
    margin: 20px 0 0;
    text-align: center;
}
.errorContent a {
    width: 270px;
    margin: 0 20px 27px 20px;
}
.cr_Assets .aboutUsSubHeadCopyPeek {
    font-size: 14px;
    margin: 0;
}
.bodyCopy {
    font-family: Fira Sans;
    font-size: 20px;
    margin: 0;
}
.topAboutUs_mobile {
    display: none;
}
.topAboutUs {
    margin: 0 auto;
    max-width: 1120px;
    width: 100%;
}
.bottomAboutUsImg_mobile {
    display: none;
}
.bottomAboutUsImg {
    margin: 0 auto;
    max-width: 1120px;
    width: 100%;
}
.aboutUsHeaderImg {
    position: relative;
}
.aboutUsBody {
    max-width: 529px;
    float: left;
    width: 50%;
}
.affiliateBody {
    max-width: 529px;
    float: left;
    width: 50%;
}
.affiliateBody img {
    width: 90%;
}
.aboutUsBody img {
    width: 100%;
}
.aboutUsBody img {
    width: 100%;
}
.aboutUsBodyAffiliate {
    max-width: 529px;
    float: left;
    width: 50%;
    margin: 15px 0 0;
}
a .aboutUsBodyImg {
    width: 100%;
    float: left;
}
.aboutUsQuote {
    max-width: 529px;
    float: left;
    width: 50%;
    margin: 83px 0 0 0;
}
.aboutUsQuoteImg {
    width: 100%;
    float: left;
}
.bannerTextCont {
    position: absolute;
    margin: 0px auto;
    max-width: 1120px;
    top: 27%;
    left: 5%;
}
.bannerTextContAffiliate {
    position: absolute;
    margin: 0px auto;
    max-width: 1120px;
    top: 34%;
    left: 2%;
}
.bannerContent {
    max-width: 328px;
    position: relative;
}
.bannerContentAffiliate {
    max-width: 350px;
    position: relative;
}
.bottomAboutUs {
    position: relative;
    margin: 50px 0 50px 0;
    float: left;
}
.bottomBannerCont {
    position: absolute;
    margin: 0px auto;
    max-width: 1120px;
    top: 56%;
    left: 5%;
}
.bottomBannerContent {
    max-width: 311px;
    position: relative;
}
@media only screen and (max-width: 1120px) {
    .pt_customer-service .content-asset,
    .pt_content .content-asset {
        padding-right: 0;
    }
    .aboutUs {
        font-size: 4.5vw;
    }
    .aboutUsSubHead {
        font-size: 2.0vw;
    }
    /**
    .aboutUsSubHeadCopy {
    font-size: 2.0vw;
}
**/
}
.socialGallery {
    margin: 0 auto;
    max-width: 1230px;
    border: solid 1px black;
}
.socialGallery p {
    margin: 0px;
}
.socialIcons img {
    margin: 0 0 46px 0;
}
.socialGallery h1,
.socialGallery h2,
.socialGallery p {
    text-align: center;
}
.socialGallery h1 {
    font-size: 62px;
    font-family: playfair display;
    font-weight: 900;
    letter-spacing: 3px;
    margin: 38px 0 4px 0;
}
.socialGallery span.socialStyle1 {
    font-family: Fira Sans;
    font-size: 29px;
    font-weight: 200;
    padding: 0 9px 0 0;
}
.socialGallery span.socialStyle2 {
    font-family: Fira Sans;
    font-size: 29px;
}
.socialGallery span.socialStyle3 {
    font-family: Fira Sans;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 27px;
}
.socialGallery span.socialStyle4 {
    font-family: Fira Sans;
    font-size: 27px;
    text-transform: uppercase;
}
.socialIcons {
    text-align: center;
}
.socialIcon {
    padding: 0 10px;
}
@media only screen and (max-width: 768px) {
    .cr_Assets .bannerContent {
        max-width: 297px;
    }
}
@media only screen and (max-width: 640px) {
    .aboutUsHeaderImg img.topAboutUs_mobile,
    .aboutUsBodyImg img.aboutUsBodyImg,
    .aboutUsQuote img.aboutUsQuote,
    .bottomAboutUsImg img.bottomAboutUsImg,
    .bottomAboutUs img.bottomAboutUsImg_mobile {
        max-width: 100%;
        height: auto;
        border: solid 0px red;
    }
    .topAboutUs_mobile {
        display: block;
    }
    .topAboutUs {
        display: none;
    }
    .bottomAboutUsImg_mobile {
        display: block;
    }
    .bottomAboutUsImg {
        display: none;
    }
    .bottomAboutUs {
        float: none;
    }
    .aboutUsHeaderImg {
        max-width: 100%;
        height: auto;
    }
    .aboutUsBody {
        margin: 0 0 0 0;
        width: 100%;
    }
    .aboutUsQuote {
        margin: 50px 0 15px 0;
        width: 100%;
    }
    .bannerTextCont {
        position: relative;
        left: 0;
    }
    .bannerTextContAffiliate {
        position: relative;
        left: 0;
    }
    .affiliatesList {
        width: 100%;
        margin: 15px 0 0;
    }
    .bottomBannerCont {
        position: relative;
        left: 0;
    }
    .bottomBannerContent {
        margin: 0px;
    }
    h1.aboutUs {
        font-size: 45px;
        margin: 0 0 5px 0;
    }
    .aboutUsSubHead {
        font-size: 17px;
    }
    .aboutUsSubHeadCopy {
        font-size: 20px;
    }
    .aboutUsSubHeadCopyPeek {
        margin: 15px 0 0 0;
    }
    .affiliatesList li {
        font-size: 4vw;
    }
    .socialGallery h1 {
        font-size: 45px;
    }
    .errorContent {
        width: 100%;
    }
    .bannerContentAffiliate h1.affiliate {
        line-height: 1.1em;
        margin: 5px 0 15px 0;
        font-size: 27px;
    }
    .charlotteRusseLogo img {
        width: 100%;
        max-width: 348px;
    }
    .cr_Assets .bannerContent {
        max-width: 100%;
    }
}
/** Table styles **/

table.tftable {
    font-size: 16px;
    color: #333333;
    width: 100%;
    border-width: 0px;
    border-color: #729ea5;
    border-collapse: collapse;
    font-family: 'Fira Sans', sans-serif;
    white-space: nowrap;
}
table.tftable th {
    font-size: 16px;
    background-color: #707070;
    border-width: 0px;
    padding: 8px;
    border-style: solid;
    border-color: #707070;
    text-align: left;
}
table.tftable th.header {
    font-size: 16px;
    font-family: playfair display;
    font-weight: 100;
    font-size: 20px;
    color: #2b292a;
    background-color: #FFF;
    border-width: 0px;
    padding: 30px 8px 8px 8px;
    border-style: solid;
    border-color: #FFF;
    text-align: left;
}
table.tftable tr {
    background-color: #ffffff;
}
table.tftable td {
    font-size: 16px;
    text-align: center;
    border-width: 0px;
    padding: 8px;
    border-style: solid;
    border-color: #729ea5;
}
table.tftable td.headerColor {
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    text-align: center;
    border-width: 0px;
    padding: 8px;
    border-style: solid;
    background-color: #707070;
    border-collapse: separate;
    border-right-width: 1px;
    border-right-color: #fff;
}
table.tftable td.cellColor {
    font-size: 16px;
    text-align: center;
    border-width: 0px;
    padding: 8px;
    border-style: solid;
    border-color: #729ea5;
    background-color: #fbf7f8;
    border-collapse: separate;
    border-right-width: 1px;
    border-right-color: #fff;
}
table.tftable td.left {
    text-align: left;
}
table.tftable td.tblSpacer {
    height: 35px;
}
.responsTble {
    display: none;
}
@media only screen and (max-width: 1024px) {
    .cr_Assets table.tftable td {
        padding: 4px;
    }
    table.tftable td.tblSpacer {
        height: 28px;
    }
    .responsTble {
        display: block;
    }
    .mainTble {
        display: none;
    }
}
/** End Table styles **/

div.main-slider {
    background-color: #f3f3f3 !important;
}

/***** IMPORTS
@import url("cat_landing.css"); 
*****/