#ranking-container {
	overflow: hidden;
	padding-top:0.5em;
	width: 980px;
}

#menu-ranking .menu-indicator{
	display: block;
}
#menu-ranking .menu-item-glow{
	display: none;
}

.ranking-container-row-item {
	float:left;
	margin: 5px 0 0 2px;
	position: relative;
	padding: 5px;
}
.ranking-container-row-item img {
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.ranking-container-row-item img:hover {
	opacity: 0.8;
}

.ranking-container-row-item-position {
	font-size: 12px;
	height: 18px;
	overflow: hidden;
	margin-top:4px;
	margin-left:4px;
	margin: 4px 3px 0 3px;
	word-break: break-all;
}
.ranking-container-row-item-position span {
	font-weight: bold;
}
.ranking-container-row-item-position a {
	text-decoration: none;
	overflow: hidden;
}

#content-filter {
	margin: 40px auto 17px;
}

@media only screen and (max-width: 972px) {
	#ranking-container {
		width: auto;
		text-align: center;
	}
	
	.ranking-container-row-separator {
		display: none;
	}
	
	.ranking-container-row-item {
		float: none;
		display: inline-block;
	}
}