body {
	background-image: none;
	background-color: #fff;
	font-family: "Open Sans",Arial,Verdana,sans-serif;
}
#header_android {
	display: none;
}
#header {
	margin-bottom: 0;
	background-color: #fff;
	max-width: 100%;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
	height: 74px;
}
#register-header {
	max-width: 960px;
	margin: auto;
	height: 74px;
	position: relative;
}
#header-logo {
	position: relative;
	top: 12px;
	margin-top: 0;
}
#header-menu {
	position: absolute;
	padding-top: 0;
	font-size: 14px;
	right: 0;
	color: #888;
	top: 18px;
}
#header-menu .header-menu-item {
	float: none;
	margin-left: 10px;
}
#zaloguj {
	display: inline-block;
	background-color: #fff;
	border: solid 2px #4996ba;
	padding: 0 20px;
	height: 40px;
	line-height: 36px;
	text-decoration: none;
	color: #555;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	font-weight: bold;
	margin-left: 10px;
}
#zaloguj:hover {
	color: #fff;
	background-color: #58b3dd;
	background-image: -moz-linear-gradient(top, #58b3dd 0%, #4d9dc2 100%);
	background-image: -webkit-linear-gradient(top, #58b3dd 0%, #4d9dc2 100%);
	background-image: -o-linear-gradient(top, #58b3dd 0%, #4d9dc2 100%);
	padding: 2px 22px;
	border: none;
}
#menu {
	display: none;
}
#page-top-gradient {
	display: none;
}
#page-top-gradient + .shadow-box {
	border: none;
	background-color: transparent;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0;
	overflow: visible;
}
#content {
	padding-bottom: 0;
}
#content-bg {
	position: relative;
	width: 100%;
	overflow: hidden;
}

#content-bg.login-bg {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 700px;
}

#content-bg.login-bg-1 {
	background-image: url('/img/rejestracja_new/login_bg_1.jpg');
}

#content-bg.login-bg-2 {
	background-image: url('/img/rejestracja_new/login_bg_2.jpg');
}

#content-bg.login-bg-3 {
	background-image: url('/img/rejestracja_new/login_bg_3.jpg');
}

#content-bg-a {
	display: none;
	background-repeat: no-repeat;
	background-image: url('/img/rejestracja_new/bg1_.4.jpg');
	background-position: left;
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
	width: 1766px;
}

#content-bg-b {
	display: none;
	background-repeat: repeat-x;
	background-image: url('/img/rejestracja_new/bg1_repeat.jpg');
	background-position: left;
	position: absolute;
	top: 0;
	left: 1766px;
	right: 0;
	bottom: 0;
}

#content-bg-2 {
	display: none;
	background-color: #fafbfb;
	background-image: url('/img/rejestracja_new/img_2_repeat.2.jpg');
	background-position: bottom;
	background-repeat: repeat-x;
    min-height:846px;
	padding-bottom: 90px;
	position: relative;
}

#content-bg-2 .content-register {
	position: relative;
}

#content-bg-2-a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 50%;
	background-repeat: no-repeat;
	background-image: url('/img/rejestracja_new/img_2_a.2.jpg');
	background-position: left bottom;
}

#content-bg-2-b {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 50%;
	background-repeat: no-repeat;
	background-image: url('/img/rejestracja_new/img_2_b.2.jpg');
	background-position: right bottom;
}

#content-bg-3 {
	display: none;
	background-color: #fafbfb;
    background-repeat: no-repeat;
	background-image: url('/img/rejestracja_new/bg3_.2.jpg');
    background-position: center bottom;
	background-size: cover;
    min-height:827px;
}

.content-register {
    max-width: 960px;
    width: 100%;
    margin: auto;
}

#content-registration {
	margin: auto;
	width: 960px;
}
.registration-info {
	float: left;
	margin-top: 94px;
	max-width: 50%;
	line-height: normal;
	font-family: "Open Sans","Arial", sans-serif;
}
.registration-info-big {
	font-size: 37px;
	margin-top:20px;
	margin-bottom: 24px;
	line-height: 37px;
	color: #4996ba;
}
.registration-info-medium {
	font-size: 20px;
	line-height: 30px;
	color: #555;
}
.registration-info .registration-info-big {
	color: #fff;
	font-size: 36px;
	-moz-text-shadow: 0 1px 1px #030303;
	-webkit-text-shadow: 0 1px 1px #030303;
	text-shadow: 0 1px 1px #030303;
}
.registration-info .registration-info-medium {
	color: #fff;
	font-size: 21px;
	-moz-text-shadow: 0 1px 1px #030303;
	-webkit-text-shadow: 0 1px 1px #030303;
	text-shadow: 0 1px 1px #030303;
}
.registration-form {
	float: right;
	width: 394px;
	margin-top: 94px;
}
.registration-form-box {
	background-color: #fff;
	background-color: rgba(255, 255, 255, .9);
	padding: 20px 20px 30px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .15);

}
#facebookLoginBtn {
	display: block;
	height: 47px;
	width: 100%;
	margin: auto;
	background-color: #3F5D9E;
	text-decoration: none;
	line-height: 47px;
	color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	font-size: 17px;
}

#facebookLoginBtn .fb-ico-big {
	background-position: -2px -312px;
	width: 14px;
	height: 26px;
	vertical-align: middle;
	margin: 0 23px;
	position: relative;
	top: -2px;
}

#img_kamerki {
	background-size: 445px 290px;
	background-image: url('/img/rejestracja_new/video.png');
	background-image: -webkit-image-set(
			url('/img/rejestracja_new/video.png') 1x,
			url('/img/rejestracja_new/video_x2.png') 1.5x
	);
	background-repeat: no-repeat;
	display: inline-block;
	width: 445px;
	height: 290px
}

#img_couple {
	background-size: 406px 241px;
	background-image: url('/img/rejestracja_new/couple.png');
	background-image: -webkit-image-set(
			url('/img/rejestracja_new/couple.png') 1x,
			url('/img/rejestracja_new/couple_x2.png') 1.5x
	);
	background-repeat: no-repeat;
	display: inline-block;
	width: 406px;
	height: 241px
}

#img_decyduj {
	background-size: 398px 340px;
	background-image: url('/img/rejestracja_new/decyduj.png');
	background-image: -webkit-image-set(
			url('/img/rejestracja_new/decyduj.png') 1x,
			url('/img/rejestracja_new/decyduj_x2.png') 1.5x
	);
	background-repeat: no-repeat;
	display: inline-block;
	width: 398px;
	height: 340px
}

#img_mobile {
	background-size: 284px 412px;
	background-image: url('/img/rejestracja_new/mobile.png');
	background-image: -webkit-image-set(
			url('/img/rejestracja_new/mobile.png') 1x,
			url('/img/rejestracja_new/mobile_x2.png') 1.5x
	);
	background-repeat: no-repeat;
	display: inline-block;
	width: 284px;
	height: 412px
}

#facebookLoginBtn:hover,
#form_rejestracja:hover {
	opacity: .9;
}

.form-row {
	margin-bottom: 12px;
}

input[type="text"],
input[type="password"] {
	line-height: 30px;
	height: 30px;
	width: 100%;
	border: solid 1px #a9a9a9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-left: 5px;
	font-size: 13px;
}
input[type="text"]:focus,
input[type="password"]:focus{
	outline:none;
	-webkit-box-shadow: 0 0 5px #7dbbfa;
	-moz-box-shadow: 0 0 5px #7dbbfa;
	box-shadow: 0 0 5px #7dbbfa;
}

.form-row-label {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	line-height: 30px;
	height: 30px;
	width: 100px;
	padding-left: 2px;
	float: left;
}
.form-row-content {
	float: left;
	width: 252px;
	position: relative;
}
.form-row-content label {
	vertical-align: middle;
	line-height: 30px;
}
#f_sex_k,
#f_sex_m {
	margin-left: 0;
	margin-top: 0;
	vertical-align: middle;
}
#f_sex_m {
	margin-left: 20px;
}
.form-row select {
	height: 30px;
}
#date_ur_dzien {
	width: 50px;
}
#date_ur_miesiac {
	width: 125px;
}
#date_ur_rok {
	width: 69px;
}
#form_rejestracja {
	background-size: 117px 44px;
	background-image: url('/img/rejestracja_new/dalej.png');
	background-image: -webkit-image-set(
			url('/img/rejestracja_new/dalej.png') 1x,
			url('/img/rejestracja_new/dalej_x2.png') 1.5x
	);
	cursor: pointer;
	display: block;
	height: 44px;
	width: 117px;
	margin: auto;
	background-color: transparent;
	outline: none;
	border: none;
}
.checkboxAgree {
	float: left;
	margin-left: 0;
	margin-right: 4px;
	position: relative;
	top: 1px;
}
.labelAgree {
	cursor: pointer;
	padding-left: 0px;
	display: block;
	float: left;
	width: 336px;
	*width: 330px;
	*display:inline-block;
	margin-bottom: 12px;
	font-size: 12px;
	color: #999;
}
.labelAgree a {
	color: #999;
}
.labelAgree a:hover {
	color: #222;
}
.labelAgree.error {
	position: static;
	top: auto;
}
#register-form-submit-container {
	margin-top: 10px;
}
.error {
	color: #f00;
	display: block;
	position: relative;
	top: 5px;
}
.error a,
.error a:hover {
	color: #f00;
}
.fieldCheckAjax, .fieldCheckAjaxVerify {
	display: none;
	margin-left: 100px;
	position: absolute;
	right: 11px;
	top: 4px;
}
.fieldTick, .fieldTickVerify{
	display: none;
	width: 175px;
	color: #238D06;
	position: relative;
	top: 5px;
}
#FbLoadingInfo {
	margin-top: 0;
	height: 45px;
	line-height: 45px;
	text-align: center;
	display: block;
}

.font-text {
    position: relative;
    top: 6px;
}

.font-text-2 {
    position: relative;
    top: 7px;
}

.a1 {
    float: left;
    margin-top: 70px;
	margin-left: 46px;
}

.a2 {
    float: left;
	width: 380px;
	margin-top: 160px;
	margin-left: 76px;
}

.a3 {
    float: left;
	width: 414px;
	margin-top: 70px;
}

.a4 {
	float: left;
	margin-left: 130px;
	height: 350px;
}

.b1 {
    float: left;
	margin-top: 80px;
}

.b2 {
    float: left;
	width: 416px;
	margin-top: 140px;
	margin-left: 50px;
}

.b3 {
	float: left;
	width: 474px;
	margin-top: 100px;
}

.b4 {
	float: left;
	margin-top: 40px;
	margin-left: 112px;
}

.b5 {
	float: right;
	text-align: center;
	color: #4996ba;
	font-size: 35px;
	line-height: 50px;
	margin-top: 170px;
	margin-bottom: 200px;
}

#register-couples-counter {
	background-size: 291px 39px;
	background-image: url('/img/rejestracja_new/licznik.png');
	background-image: -webkit-image-set(
			url('/img/rejestracja_new/licznik.png') 1x,
			url('/img/rejestracja_new/licznik_x2.png') 1.5x
	);
	text-align: center;
	width: 291px;
	height: 39px;
	margin: 20px auto 0;
}

.register-couples-counter-box {
	float: left;
	width: 34px;
	margin-left: 2px;
	height: 39px;
	line-height: 39px;
	font-size: 24px;
}

#register-couples-counter .registration-info-medium {
	margin-top: 10px;
}

#ranking-container {
	overflow: visible !important;
}

#registration-mobile-buttons {
	margin-top: 26px;
}

.store-buttons-sprite {
	background-size: 482px 354px;
	background-image: url('/img/rejestracja_new/btn-mobile.2.png');
	background-image: -webkit-image-set(
			url('/img/rejestracja_new/btn-mobile.2.png') 1x,
			url('/img/rejestracja_new/btn-mobile_x2.2.png') 1.5x
	);
	display: inline-block;
}

.store-android-button {
	background-position: 0 -2px;
	width: 146px;
	height: 48px;
}
.store-ios-button {
	background-position: -150px -2px;
	width: 146px;
	height: 48px;
}
.store-wp-button {
	background-position: -300px -2px;
	width: 175px;
	height: 48px;
}
.store-android-button:hover {
	background-position: 0 -52px;
}
.store-ios-button:hover {
	background-position: -150px -52px;
}
.store-wp-button:hover {
	background-position: -300px -52px;
}
.store-android-button-medium {
	background-position: -1px -208px;
	width: 144px;
	height: 51px;
	margin-right: 5px;
}
.store-ios-button-medium {
	background-position: -154px -208px;
	width: 144px;
	height: 51px;
	margin-right: 5px;
}
.store-wp-button-medium {
	background-position: -307px -208px;
	width: 175px;
	height: 51px;
}
.store-android-button-medium:hover {
	background-position: -1px -261px;
}
.store-ios-button-medium:hover {
	background-position: -154px -261px;
}
.store-wp-button-medium:hover {
	background-position: -307px -261px;
}
.store-android-button-light {
	background-position: 0 -102px;
	width: 146px;
	height: 51px;
	margin-right: 5px;
}
.store-ios-button-light {
	background-position: -152px -102px;
	width: 146px;
	height: 51px;
	margin-right: 5px;
}
.store-wp-button-light {
	background-position: -305px -102px;
	width: 175px;
	height: 51px;
	margin-right: 5px;
}
.store-android-button-light:hover {
	background-position: 0 -155px;
}
.store-ios-button-light:hover {
	background-position: -152px -155px;
}
.store-wp-button-light:hover {
	background-position: -305px -155px;
}

#registration-info-mobile {
	width: 490px;
	margin-top: 51px;
}

#registration-info-mobile .registration-info-medium {
	margin-bottom: 15px;
}

#register-proposals {
	margin-left: -20px;
}

.register-proposal {
	float: left;
	width: 184px;
	height: 184px;
	position: relative;
	margin: 8px;
}

.register-proposal-hover {
	display: none;
	background-size: 184px 184px;
	background-image: url('/img/rejestracja_new/hover_avek.png');
	background-image: -webkit-image-set(
			url('/img/rejestracja_new/hover_avek.png') 1x,
			url('/img/rejestracja_new/hover_avek_x2.png') 1.5x
	);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	line-height: 184px;
	text-align: center;
	color: #000;
	font-size: 20px;
}

.register-proposal:hover .register-proposal-hover {
	display: block;
}

.register-proposal-box {
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
}

#register-gotop {
	background-size: 301px 65px;
	background-image: url('/img/rejestracja_new/btn_zarejestruj.png');
	background-image: -webkit-image-set(
			url('/img/rejestracja_new/btn_zarejestruj.png') 1x,
			url('/img/rejestracja_new/btn_zarejestruj_x2.png') 1.5x
	);
	display: inline-block;
	width: 301px;
	height: 65px;
	margin-top: 35px;
	cursor: pointer;
}

#register-proposals-header {
	text-align: center;
	margin-top: 60px;
}

#logout-big-infobox {
	margin: auto auto -20px;
}

#footer-menu {
	text-align: center;
	margin-bottom: 0;
}

#footer-menu a {
	margin: 0 10px;
}

#registration-info-message {
	max-width: 484px;
}

#goto-login,
#goto-register {
	display: none;
}

#content-register-version,
#content-login-version {
	display: none;
}

#content-login-version .registration-form {
	width: 335px;
	margin-top: 94px;
}

#content-login-version .registration-info {
	margin-top: 94px;
}

#registration-form {
	margin-bottom: 88px;
}

#loginForm input[type="text"],
#loginForm input[type="password"] {
	margin-bottom: 10px;
}

#form_login {
	margin: 10px 0 35px;
	font-style: normal;
	padding: 10px 25px;
	height: auto;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#regulations-info {
	margin-top: 20px;
	margin-left: -35px;
	text-align: right;
	-moz-text-shadow: 0 1px 1px #030303;
	-webkit-text-shadow: 0 1px 1px #030303;
	text-shadow: 0 1px 1px #030303;
}

#regulations-info,
#regulations-info a {
	color: #fff;
}

#info {
	background-color: #fff;
	border: 2px solid #e00;
	margin: 0 0 15px;
	border-radius: 6px;
}

#naglowek {
	color: #e00;
	font-size: 16px;
	margin-top: 5px;
}

#tresc {
	color: #666;
	margin-top: 3px;
}

#hide_password {
	position: relative;
	top: -33px;
	right: 5px;
	height: 16px;
	width: 26px;
	background: url("/img/nowafotka/sprites_2x.44.png");
	background-position: -395px -232px;
	background-size: 822px 470px;
	float: right;
	display: none;
}

#show_password{
	background-position: -395px -247px;
}

.form-separator {
	height: 1px;
	width: 70%;
	margin: 26px auto;
	position: relative;
}

.form-separator-left,
.form-separator-right {
	position: absolute;
	height: 1px;
	border-bottom: 1px solid #ccc;
	width: 50%;
	width: calc(50% - 20px);
}

.form-separator-left {
	left: 0;
}

.form-separator-right {
	right: 0;
}

.form-separator-label {
	position: absolute;
	left: 50%;
	margin-left: -10px;
	margin-top: -10px;
	width: 20px;
	text-align: center;
}

@media only screen and (max-width: 1626px) {
	#content-bg-2-a {
		background-position: right bottom;
	}

	#content-bg-2-b {
		background-position: left bottom;
	}
}

@media only screen and (max-width: 966px){
	#header-menu {
		right: 10px;
	}

    .min_box {
        clear:both;
        width: 100%;
        max-width:none;
        text-align:center;
        margin-top:30px;
        margin-left:0px;
    }
}
@media only screen and (max-width: 894px) {
	#registration-info-mobile {
		width: auto;
		margin-top: 50px;
	}
}

@media only screen and (max-width: 850px) {
	#registration-form {
		margin-bottom: 20px;
	}

    .registration-info {
        text-align: center;
        float: none;
		max-width: none;
		margin-top: 0;
    }

    .registration-form {
        float: none;
        margin: auto;
        margin-top: 25px !important;
		margin-bottom: 30px;
    }

	#page-top-gradient + .shadow-box {
		height: auto;
		padding-bottom: 20px;
	}

	#content-bg-a {
		background-position: center;
		background-size: cover;
	}

	.labelAgree {
		float: none;
		width: 100%;
		padding-left: 15px;
	}

	#img_decyduj {
		background-size: 100%;
		width: 320px;
		height: 276px;
	}

	#img_couple {
		background-size: 100%;
		width: 320px;
		height: 192px;
	}

	#img_kamerki {
		background-size: 100%;
		width: 320px;
		height: 210px;
	}

	.registration-info-big {
		margin-top: 0;
		padding-left: 10px;
		padding-right: 10px;
	}

	.registration-info-medium {
		padding-left: 10px;
		padding-right: 10px;
	}

	#info-log-in {
		padding-left: 10px;
		padding-right: 10px;
	}

	#regulations-info {
		margin-left: 0;
		text-align: center;
	}

	#content-bg.login-bg {
		height: auto !important;
	}
}

@media only screen and (max-width: 768px) {
	#header {
		display: block;
	}

	#mobile-navigation {
		display: none;
	}

	#header-logo {
		margin-left: 10px;
	}
}

@media only screen and (max-width: 500px) {
	#register-login-label {
		display: none;
	}
}

@media only screen and (max-width: 410px) {
	.registration-form {
		width: 100% !important;
	}

	.form-row-label {
		width: 30%;
		height: auto;
	}

	.form-row-content {
		width: 70%;
	}

	#date_ur_dzien {
		width: 20%;
	}

	#date_ur_miesiac {
		width: 40%;
	}

	#date_ur_rok {
		width: 35%;
	}

	#register-login-label {
		display: none;
	}
}

@media only screen and (max-width: 360px) {
	#facebookLoginBtn .fb-ico-big {
		margin: 0 15px;
	}
}

@media only screen and (max-width: 340px) {
	#facebookLoginBtn {
		font-size: 15px;
	}
}