/* --- World Health Organization ----------------------------------------------------- */
/* --- CSS Framework: General definitions -------------------------------------------- */
/* -------------------------------------------------------------------------------------
 
 Version 1.5.3...
-story page two-column layout
 


======================================================================================*/


/*<![CDATA[*/
@media all {


/* -------------------------------------------------------------------------------------
 ALL
======================================================================================*/

/* body */
body {
	font-family: Helvetica, Arial, sans-serif;
	color:#333333;
	font-size:13px;
}


/* -------------------------------------------------------------------------------------
 GENERIC
 ======================================================================================*/

/* clearfix (clears elements) */
.clearfix:after, .block:after, .box:after, .plainbox:after, .mbox:after, .colormbox:after, field:after, 
ul.stories:after, ul.listing:after, ul.feature:after, ul.news:after, ul.events:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}
/* Safari */
.clearfix, .block, .box, .plainbox, .mbox, .colormbox, .field,
.ul.stories, ul.listing, ul.feature, ul.news, ul.events { display: block; } 
/* Overflow-Methode zum Clearen der Float-Umgebungen */


/* clear */
.clear {
	clear:both;
	width:0;
	height:0;
	font-size:0;
	line-height:0;
	text-indent:-10000px;
}


/* invisible */
.invisible {
	position:absolute;
	left:-10000px;
	top:-10000px;
	visibility:hidden;
	width:0;
	height:0;
	line-height:0;
}

/* selected */
.selected, .selected a, .selected a:visited {
	color:#D86422;
	cursor: default;
}

/* disabled */
.disabled, .disabled a {
	color:#B2B2B2;
}

/* hover */
.hover {
	cursor:pointer;
}
.hover a {
	color:#D86422;
}

/* dateline */
.dateline {
	padding-right:3px;
	text-transform: uppercase;
	font-style:normal;
}

/* scroller */
.scroller {
	padding-right:20px;
	background-image:url('../../img/scroller.gif');
	background-position:right top;
	background-repeat:no-repeat;
}

/* toggler */
.toggler {
	padding:2px 0 2px 15px;
	background-image:url('../../img/toggler.gif');
	background-position:0 7px;
	background-repeat:no-repeat;
	color:#196AAA;
	font-weight:normal;
	cursor:pointer;
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
}
.toggler:hover {
	color:#D86422;
}
.expanded {
	background-position:0 -13px;
}
.toggler_item {
	padding:9px 0 8px 0;
	border-bottom:1px solid #CCCCCC;
}



/* -------------------------------------------------------------------------------------
 HEADINGS
 ======================================================================================*/

/* headers */
h1 {	
	font-size:20px;
	line-height:24px;
	font-weight:bold;
	color:#D86422;
	padding:0;
	margin:0 0 18px 0;
}

h2, h1.title {
	font-size:20px;
	line-height:24px;
	font-weight:bold;
	color:#333333;
	padding:18px 0 0 0;
	margin:0 0 18px 0;
}
h3 {
	font-size:13px;
	line-height:18px;
	font-weight:bold;
	color:#333333;
	padding:0; /*updated*/
	margin:0 0 9px 0;
}
h4 {
	font-size:12px;
	line-height:18px;
	font-weight:bold;
	color:#333333;
	margin:0 0 6px 0;
}
h5 {
	font-size:12px;
	line-height:18px;
	font-weight:bold;
	color:#666666;
}
h6 {
	font-size:13px;
	line-height:18px;
	font-weight:normal;
	color:#333333;
}

/* headline & kicker */
.headline, .headline_multipage {
	font-size:20px;
	line-height:24px;
	font-weight:bold;
	color:#333333;
	padding:0;
	margin:0 0 12px 0;
}
.kicker, .kicker_multipage {
	font-size:15px;
	line-height:18px;
	font-weight:normal;
	color:#333333;
	margin:0 0 12px;
	padding:0;
}

/* section & page headings */
.section_head1 {
font-size:14px;
}

.section_head2 {
font-size:13px;
}

.page_heading {
font-size:14px;
color:#D86422;
}


/* special titles */
.title_country {
	font-size:20px;
	line-height:24px;
	font-weight:bold;
	color:#333333;
	padding:24px 0 6px 40px;
	margin:0 0 18px 0;
	background-image:url('../../img/icon_country.gif');
	background-position:left 18px;
	background-repeat:no-repeat;
}
.title_topic {
	font-size:20px;
	line-height:24px;
	font-weight:bold;
	color:#333333;
	padding:24px 0 6px 40px;
	margin:0 0 18px 0;
	background-image:url('../../img/icon_topic.gif');
	background-position:left 17px;
	background-repeat:no-repeat;
}
.popup_header {
	font-size:13px;
	line-height:18px;
	font-weight:bold;
	color:#333333;
	padding:0 0 0 0;
	margin:0 0 0 0;
}

/* legacy header styles */
.contrib, .teaserHeadline, .headlineblue {
	font-weight:bold;
}


/* -------------------------------------------------------------------------------------
 TEXT 
 ======================================================================================*/

/* paragraph */
p {
	font-size:13px;
	line-height:18px;
	margin:0 0 18px 0;
}

p#lede {
	font-weight:bold;
}



/* text */
strong {
	font-weight:bold;
}
em {
	font-style:italic;
}
sup, sub {
	position: relative;
	font-size:9px;
	height:1;
	line-height:1;
	vertical-align: baseline;
	_vertical-align: bottom;
	background-color:#f5f5f5;
	padding: 1px;	
}
sup {
	bottom:0.8ex;
}
sub {
	top:.5ex;
}
cite{
	font-style:italic;
}
cite:before {
	content:"«";
}
cite:after {
	content:"»";
}


/* -------------------------------------------------------------------------------------
 links
 ------------------------------------------------------------------------------------- */

/* link */
a {
	color:#196AAA ;
	text-decoration:none;
}
a:visited {
    color: #723475;
}
a#search_advanced:visited {
	color:#196AAA;
}

a:hover {
	color:#D86422;
	text-decoration:none;
}
a[name], a[name]:hover, a.anchor, a.anchor:hover {
	color:#333333;
}

/* special links */
.link_external, .link_sites {
	display:inline;
	padding-right:22px;
	background-image:url('../../img/who_sprite.gif');
	background-position: right -488px;
	background-repeat:no-repeat;
}

.link_external:hover, .link_sites:active {
	background-position: right -535px;
	color:#D86422;
}
/*
.link_sites {
	background-image:url('../../img/icon_link_sites.gif');
}*/

ul.list a.link_external:visited, ul.list a.link_sites:visited {
	background-position: right -577px;
	color: #723475;
}

ul.list a.link_external:hover, ul.list a.link_external:active, ul.list a.link_sites:hover, ul.list a.link_sites:active, ul.list_dash a.link_sites:hover, ul.list_dash a.link_sites:active {
	background-position: right -535px;
	color:#D86422;
}
#factbuffets .factbuffet a.link_external, #factbuffets .factbuffet a.link_sites {
	padding: 5px 0 0 20px;
	background-position: right -488px;
	background-repeat:no-repeat;
}


/* media link */
.link_media, 
ul.horizontal_list li a.link_media,
ul.horizontal_list li.first a.link_media, 
#factbuffets .factbuffet a.link_media {
	display:inline-block;
	padding-left:20px;
	position: relative;
}
.link_media
/*ul.horizontal_list li a.link_media:before,
ul.horizontal_list li.first a.link_media:before 
#factbuffets .factbuffet a.link_media:before*/ {
  background-image: url('../../img/icon_media_download.gif');
  background-position: 4px 3px; 
  background-repeat: no-repeat;
}

#factbuffets .factbuffet a.link_media {
	background-position: 0 -861px;;
	line-height: 15px;
}



.link_reference {
	display:inline-block;
	padding-left:15px;
	background-image:url('../../img/icon_link_reference.gif');
	background-position:left 3px;
	background-repeat:no-repeat;
}
.link_image {
	display:block;
}
.link_url, .link_url:hover, .hover .link_url {
	color:#008000;
	cursor:default;
}
.link_info {
	color: #666666;
	text-decoration: none;
}

.jumplink_top {
	float: right;
	display:inline-block;
	padding-left:12px;
	background-image:url('../../img/who_sprite.gif');
	background-position:left -1908px;
	background-repeat:no-repeat;
}

/* #horizontal links */
ul.horizontal_list li {
	display: block;
	float: left;
	border-left: 1px solid #ccc;
	margin-bottom: 5px;
}

ul.horizontal_list li.first, ul.horizontal_list li.information  {
	border: none;
}

ul.horizontal_list li a, ul.horizontal_list li span.null {
	display:block;
	float:left;
	padding:0 5px;
}
ul.horizontal_list li.first a {
	margin-left: 0px;
	padding-left: 0px;
}

/*ul.horizontal_list li a.link_media */
ul.horizontal_list li.first a.link_media {
	display:inline-block;
	padding-left:25px;
	background-image:url('../../img/who_sprite.gif');
	background-position: 6px -869px;
	background-repeat:no-repeat;
}

ul.horizontal_list li.first a.link_media {
	margin-left: 1px;
}

/* external and sites links in Horizontal format */
ul.horizontal_list li a.link_external, ul.horizontal_list li.first a.link_external, ul.horizontal_list li a.link_sites, ul.horizontal_list li.first a.link_sites {
	padding-right:22px;
	background-image:url('../../img/who_sprite.gif');
	background-position: right -488px;
	background-repeat:no-repeat;
}

/*
ul.horizontal_list li a.link_sites, ul.horizontal_list li.first a.link_sites {
	background-image:url('../../img/icon_link_sites.gif');
}
*/
ul.horizontal_list li a.link_external:visited, ul.horizontal_list li.first a.link_external:visited, ul.horizontal_list li a.link_sites:visited, ul.horizontal_list li.first a.link_sites:visited {
	background-position: right -577px;
    color: #723475;
}

ul.horizontal_list li a.link_external:hover, a.link_external:active, ul.horizontal_list li a.link_sites:hover, a.link_sites:active {
	background-position: right -535px;
	color:#D86422;
}


ul.horizontal_list li span.link_info{
	position:absolute;
	left:-1000px;
	top:-1000px;
	visibility:hidden;
	width:0;
	height:0;
	line-height:0;
}

ul.horizontal_list li a span.link_info {
	visibility:visible;
	position:relative;
	width:100%;
	height:100%;
	line-height:15px;
	left:0;
	top:0;
}
a:focus {
	outline:1px dotted;
}
a:active {
	outline:none;
}

/* -------------------------------------------------------------------------------------
 Quotes
 ------------------------------------------------------------------------------------- */

.quote, .quote_left {
	clear:both;
	display: block;
	float:right;
	margin:5px 0px 10px 10px;
	width:45%;
	background-image:url('../../img/lines.gif');
	background-position:left top;
	background-repeat:repeat-x;
}

.quote_left {
	float:left;
	margin:5px 10px 10px 0px;
}

#billboard .quote {
	width:100%;
}

blockquote {
	margin: 18px 0;
	background-image:url('../../img/lines.gif');
	background-position:left bottom;
	background-repeat:repeat-x;

}

blockquote p {
	font-size: 1.2em;
	line-height: 1.4em;
	color: #999;
}

blockquote p.source {
	font-size: 12px;
	color: #666;
	text-align: right;
	padding-bottom: 18px;
	font-weight: bold;
}

blockquote p.source span {
	font-weight: normal;
}

/* -------------------------------------------------------------------------------------
Tooltip
 ------------------------------------------------------------------------------------- */

/* Tooltip container */
.tooltip
{ position: relative; display: inline-block;/* If you want dots under the hoverable text */ }
/* Tooltip text */
.tooltip .tooltiptext { 
	visibility: hidden; 
	/* width: 200px;  */
	width: 300px;
    top: 110%;
    left: 50%; 
    margin-left: -40px; /* -150px */ 
	background-color: #2a5085; 
	color: #fff; 
	text-align: center; 
	padding: 5px 0; 
	border-radius: 6px; /* Position the tooltip text - see examples below! */ 
	position: absolute; 
	z-index: 1; 
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext
{ visibility: visible; }
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 20%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #2a5085 transparent;
}

/* -------------------------------------------------------------------------------------
 linkbutton
 ------------------------------------------------------------------------------------- */

/* linkbutton */
.linkbutton {
	display:block;
	font-size:13px;
	line-height:18px;
	padding:0 0 0 30px;
	margin:0 0 9px 0;
	background-position:2px 4px;
	background-repeat:no-repeat;
}
p .linkbutton {
	margin-bottom:0;
}
.linkbutton span {
	display:block;
}
.linkbutton .linkbutton_info {
	color:#666666;
}


/* button types */
.link_download {
	background-image:url('../../img/icon_download.gif');
}
.link_podcast {
	background-position:2px 0px;
	background-image:url('../../img/icon_podcast.gif');
}
.link_feed {
	background-position:2px 0px;
	background-image:url('../../img/icon_feed.gif');
}
.link_twitter {
	background-position:2px 0px;
	background-image:url('../../img/icon_twitter.gif');
}
.information {
	display:block;
	color: #666666;
	padding:0 0 0 12px;
	background-position:left top;
	background-repeat:no-repeat;
	background-image:url('../../img/icon_info.gif');
}
#tabs span.information {
	display: inline;
	padding: 0;
	font-weight:normal;
	font-size: 13px;
	background-image:none;
}


/* -------------------------------------------------------------------------------------
 #LISTS
 ------------------------------------------------------------------------------------- */

/* list */
ul.lroman, ul.uroman, ul.lalpha, ul.ualpha, ul.disc, ol.list, ul.decimal, ol.decimal, ul.bullet, ol.bullet, ol.reference, ul.reference {
	margin:0 0 18px 0;
	list-style-position:outside;
	padding-left:22px;
}

ul.disc {
	padding-left:0px;
}

ul.lroman li, ul.uroman li, ul.lalpha li, ul.ualpha li, ul.disc li, ul.list li, ol.list li, ul.horizontal_list, ul.list_dash li, ul.news ul.list_li, ul.news ul.horizontal_list li, ul.auto_archive, ul.decimal li, ol.decimal li, ul.bullet li, ol.bullet li, ol.reference li, ul.reference li {
	font-size:13px;
	line-height:15px;
	padding:2px 0 1px 0;
}

ul.list, ul.horizontal_list, ol.list, ul.auto_archive, ul.auto_archive_single, ul.list_dash, ul.list_dash_single {
	margin:0 0 12px 0;
	list-style-position:outside;
}

ul.horizontal_list {
	margin-bottom: 36px;
}
/*for lexical listing and alpha listing bars */
.horizontal_list.alpha-list {
  padding: 10px;
  background: #f2f2f2;
  text-align: center;
}
.horizontal_list.alpha-list li {
  float: none;
  display: inline-block;
  zoom: 1;
  *display: inline;
  border-left: 0;
  margin-bottom: 0;
}
.horizontal_list.alpha-list li a,
.horizontal_list.alpha-list li span.null {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  width: 11px;
}
ul.horizontal_list.alpha-list li.first a {
  padding-left: 10px;
}
.horizontal_list.alpha-list li span.null {
  font-weight: normal;
}

.teaser ul.horizontal_list {
	margin-bottom:17px;
}

ul.list li {
	padding: 3px 0 5px 0;
}
/* a-z listing links */
ul.a_z{
	margin: 0 0 10px 0;
}
ul.a_z li {
	padding-bottom: 6px;
}

/* #auto archive links - #list_dash style links */
ul.auto_archive, ul.auto_archive_single {
	clear: both;
}
ul.auto_archive li {
	padding-bottom: 12px;
}

ul.auto_archive li.last {
	padding-bottom:0px;
}
ul.auto_archive_single li, ul.list_dash_single li {
	padding-bottom: 6px;
}
/* ul.auto_archive li a.highlight, ul.auto_archive_single li a.highlight {
	font-weight:bold;
} */
ul.auto_archive li a.highlight span.link_info {
	font-weight:normal;
}
ul.auto_archive li.disc, ul.auto_archive_single li.disc, ul.list_dash li.disc, ul.list_dash_single li.disc, ul.list_dash li, .news_entry ul.list_dash li {
	padding-left:15px;
	background-image:url('../../img/who_sprite.gif');
	background-position: 0 -1978px;
	background-repeat:no-repeat;
}


/* decimal list */
ul.decimal, ol.decimal {
	list-style-position:outside;
	list-style-type:decimal;
	padding-left:26px;
}


/* disc list */
ul.disc li, ol.disc li, ul.disc ul.disc li, ul.disc ul.disc ul.disc li, ul.disc ul.disc ul.disc ul.disc li {
	padding-left:18px;
	background-image:url('../../img/list.gif');
	background-position:left .5em;
	background-repeat:no-repeat;
}
.mbox ul.disc li, ol.disc li, .mbox ul.disc ul.disc li, .mbox ul.disc ul.disc ul.disc li, .mbox ul.disc ul.disc ul.disc ul.disc li {
	background-position:left .6em;
}
ul.disc ul li, ul.disc ul.disc ul li, ul.disc ul.disc ul.disc ul li {
	background: none;
	padding-left: 0px;
}

/* reference list */
ul.reference, ol.reference {
	list-style-position:outside;
	list-style-type:decimal;
	padding-left:23px;
}
ul.reference li, ol.reference li {
	font-size:12px;
	color:#333333;
	padding:2px 0 16px 5px;
}

ul.lroman {list-style-type: lower-roman;}
ul.uroman {list-style-type: upper-roman;}
ul.lalpha {list-style-type: lower-alpha;}
ul.ualpha {list-style-type: upper-alpha;}

ul ul.disc, ul ul.decimal, ul ul.lroman, ul ul.uroman, ul ul.lalpha, ul ul.ualpha, ul ul ul.disc, ul ul ul.decimal, ul ul ul.lroman, ul ul ul.uroman, ul ul ul.lalpha, ul ul ul.ualpha, ul ul ul ul.disc, ul ul ul ul.decimal, ul ul ul ul.lroman, ul ul ul ul.uroman, ul ul ul ul.lalpha, ul ul ul ul.ualpha {
padding-left: 36px;
/* Updating so more spacing underneath instead of above 01/23/04 */
margin: 0 0 10px;
}


/* -------------------------------------------------------------------------------------
 IMAGES
 ======================================================================================*/

/* image */
.image {
	display:block;
	float:left;
	padding:5px 10px 5px 0;
}

/* WHO styles */
.image_left {
	display:block;
	float:left;
	max-width: 50%;
}
.image_left img {
  height: auto;
  width: auto;
  max-width: 98%;
  margin-right: 10px;
  float: left;
}
.image_left .image_credit,
.image_left .image_caption {
  float: left;
  clear: both;
  max-width: 95%;
  text-align: left;
}

.image_top .image_credit,
.image_top .image_caption {
	text-align: left;
	max-width: 95%;
}

.image_right {
	display:block;
	float:right;
	margin:5px 0px 5px 10px;
	max-width: 50%;
	width: auto;
}
.image_right img {
  float: right;
  width: auto;
  height: auto;
  max-width: 100%;
}
.image_right .image_credit,
.image_right .image_caption {
  float: right;
  clear: both;
  max-width: 240px;
  text-align: right;
}

.image_top {
	display:block;
	margin:15px 0px;
	text-align: left;
}
.image_top img {
  max-width: 100%;
  height: auto;
}


.image_caption, .image_credit {
	display: block;
	font-size:11px;
	line-height:12px;
	padding:5px 0 0 0;
	color:#666666;
}

.image_credit {
	text-align: right;
	font-size: 10px;
	color:#999999;
}

/* scaleimage */
.scaleimage {
	width:100%;
	height:auto;
	margin:0 0 10px 0;
	padding:0;
}

/* icon */
.icon {
	display:block;
	float:left;
	padding:2px 8px 1px 0;
}



/* -------------------------------------------------------------------------------------
 TABLE
 ======================================================================================*/

/* table */
.table_wrapper {
  overflow-x: scroll;
  margin-bottom: 20px;
}
table.tableData, table.borderOn {
	border-collapse:collapse;
	margin:0 0 5px 0;
}
table.tableData thead td, table.tableData tbody th, table.tableData tbody td, table.borderOn thead td, table.borderOn tbody th, table.borderOn tbody td {
	font-size:13px;
	line-height:18px;
	padding:3px 5px 6px 5px;
	background-color:#F5F5F5;
	border-bottom:3px solid #FFFFFF;
}
table.tableData tfoot th, table.tableData tfoot td, table.borderOn tfoot th, table.borderOn tfoot td {
	font-size:12px;
	line-height:18px;
	padding:9px 0 3px;
	color:#999999;
}
.borderOn td {
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
}

table.tableData thead td, table.borderOn thead td {
	font-weight: bold;
	background-color:#E1E1E1;
}


/* WHO table element update*/

.numeric, .RightAlign {
text-align: right;
}


.CenterAlign {
text-align: center;
}
td.indent {
padding-left: 1.5em;
}
td.emptyCell {
border: 0;
min-height: 12px;
height:12px;
}


/* -------------------------------------------------------------------------------------
 FORMS
 ======================================================================================*/

/* form */
.form {
	margin:0 0 18px 0;
}
.form br {
	clear:both;
	width:0;
	height:0;
	font-size:0;
	line-height:0;
	text-indent:-10000px;
}

/* fieldset */
.form fieldset {
	padding:0 0 6px 0;
	margin:0 0 29px 0;
	border-bottom:1px solid #CCCCCC;
}

.form fieldset legend {
	font-family: 'Helvetica', Arial, Verdana, sans-serif;
	font-size:20px;
	line-height:21px;
	font-weight:bold;
	color:#000000;
	padding:3px 0 3px 0;
	margin:0;
}

/* field */
.form .field {
	margin:0 0 9px 0;
}



/* label */
label, .label {
	font-family: 'Helvetica', Arial, Verdana, sans-serif;
	font-size:13px;
	line-height:18px;
	color:#333333;
	padding:3px 0 3px 0;
}
.form .label {
	display:block;
	float:left;
	width:110px;
}

/* error & info */
span.error, span.info {
	clear:both;
	display:block;
	float:left;
	font-family: 'Helvetica', Arial, Verdana, sans-serif;
	font-size:13px;
	line-height:18px;
	color:#333333;
	padding:3px 5px 6px 120px;
}

/* error */
.form span.error {
	color:#FF0000;
}
.form .error label {
	color:#FF0000;
}
.form .error input {
	border-color:#FF0000;
}


/* info  */
.form .info {
	color:#666666;
}

/* inputs */
.input, input.text, select.select, textarea.textarea, input.radio, input.checkbox, input.submit, .submit input {
	font-family: 'Helvetica', Arial, Verdana, sans-serif;
	font-size:13px;
	line-height:18px;
	color:#333333;
	margin:0;	
}
.form .input, .form input.text, .form select.select, .form textarea.textarea, .form input.radio, .form input.checkbox, .form .dropdown {
	display:block;
	float:left;
	margin:0 0 0 10px;
}

input.text:focus, select.select:focus, textarea:focus {
	border-color:#D86422;
}


/* input */
.input {
	padding:4px 0px 2px 0px;
}

/* text input */
input.text {
	width:140px;
	height:18px;
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	padding:4px 4px 0px 4px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
input.tsmall {
	width:60px;
}
input.tsmall-2 {
	width:140px;
}
input.tlarge {
	width:350px;
}

/* textarea */
textarea.textarea {
	width:138px;
	height:72px;
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	padding:2px 5px 2px 5px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
textarea.talarge {
	width:348px;
	height:200px;
}


/* select */
select.select {
	width:150px;
	height:24px;
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	padding:3px 1px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
select.ssmall {
	width:70px;
}
select.slarge {
	width:360px;
}

/* radio */
input.radio {
	border:none;
	background-color:transparent;
}
.form input.radio {
	padding:0;
	margin:6px 5px 0 10px;
}
label.label_radio {
	display:block;
	float:left;
	margin-right:15px;
}


/* checkbox */
input.checkbox {
	border:none;
	background-color:transparent;
}
.form input.checkbox {
	padding:1px 0 0 0;
	margin:5px 5px 0 10px;
}
label.label_checkbox {
	display:block;
	float:left;
	margin-right:15px;
}

/* submit */
input.submit {
	display:block;
	font-size:13px;
	line-height:18px;
	font-weight:normal;
	color:#333333;
	padding:8px 10px;
	margin:0;
	border:1px solid #CCCCCC;
	background-color:#F5F5F5;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
input.submit:hover {
	color:#D86422;
	cursor:pointer;
}
input.primary {
	color:#196AAA ;
	border-color:#196AAA ;
}



/* buttonbar */
.buttonbar {	
}
.buttonbar ul li {
	display:block;
	float:left;
	margin:0 10px 0 0;
	line-height:18px;
}
.form fieldset.buttonbar {
	padding:6px 0;
	margin:0;
	border-bottom:none;
}




/* -------------------------------------------------------------------------------------
 COLUMNS
 ======================================================================================*/

/* columns */
.columns {
	clear:both;
}

/* col 1-2 */
.col_1-2_1, .col_1-2_2 {
	display:block;
	float:left;
	overflow: hidden;
}
.col_1-2_1 {
	width:33.33333%;
}
.col_1-2_2 {
	width:66.66666%;
}
.template_sidebar .col_1-2_1 {
	width:33.33333%;
}
.template_sidebar .col_1-2_2 {
	width:66.66666%;
}
.template_sidebar #billboard .story.plainbox .col_1-2_1,
.template_sidebar #billboard .story.plainbox .col_1-2_2 {
  width: 50%;
}

/* col 2-1 */
.col_2-1_1, .col_2-1_2 {
	display:block;
	float:left;
	overflow: hidden;
}
.col_2-1_1 {
	width:66.66666%;
}
.col_2-1_2 {
	width:33.33333%;
}
.template_sidebar .col_2-1_1 {
	width:66.66666%;
}
.template_sidebar .col_2-1_2 {
	width:33.33333%;
}


/* col 1-1 */
.col_1-1_1, .col_1-1_2 {
	display:block;
	float:left;
}
.col_1-1_1 {
	width:470px;
	margin-right:10px;
}
.col_1-1_2 {
	width:470px;
}
.template_sidebar .col_1-1_1 {
	width:370px;
}
.template_sidebar .col_1-1_2 {
	width:370px;
}


/* col 1-1-1 */
.col_1-1-1_1, .col_1-1-1_2, .col_1-1-1_3 {
	display:block;
	float:left;
}
.col_1-1-1_1 {
	width:33.33333%;
}
.col_1-1-1_2 {
	width:33.33333%;
}
.col_1-1-1_3 {
	width:33.33333%;
}
.template_sidebar .col_1-1-1_1 {
	width:33.33333%;
}
.template_sidebar .col_1-1-1_2 {
	width:33.33333%;
}
.template_sidebar .col_1-1-1_3 {
	width:33.33333%;
}

.columns .subcol_1-1_1{
       width: 50%;
}
.columns .subcol_1-1_2{
       width: 50%;
}

/* subcolumns 1-1 */
.subcol_1-1_1, .subcol_1-1_2 {
	display:block;
	float:left;
}
.subcol_1-1_2 {
}

/* subcolumns */
.col_2-1_1 .subcol_1-1_1 {
	width:50%;
}
.col_2-1_1 .subcol_1-1_2 {
	width:50%;
}

.col_1-2_1 .subcol_1-1_1 {
	width:50%;
}
.col_1-2_1 .subcol_1-1_2 {
	width:50%;
}
.col_1-2_2 .subcol_1-1_1 {
	width:50%;
}
.col_1-2_2 .subcol_1-1_2 {
	width:50%;
}

/* subcolumns template sidebar */
.template_sidebar .col_2-1_1 .subcol_1-1_1 {
	width:50%;
}
.template_sidebar .col_2-1_1 .subcol_1-1_2 {
	width:50%;
}

.template_sidebar .col_1-2_1 .subcol_1-1_1 {
	width:50%;
}
.template_sidebar .col_1-2_1 .subcol_1-1_2 {
	width:50%;
}

/* two-column storypage */
.template_sidebar-marginal #primary .col_2-1_1 {
	width:100%;
}

.template_sidebar-marginal #primary .subcol_1-1_1, .template_sidebar-marginal #primary .subcol_1-1_2 {
	width:48%;
}


/* unit columns */
.unit_col_1, .unit_col_2, .unit_col_3, .unit_col_4, .unit_col_5, .unit_col_6, 
.unit_col_7, .unit_col_8, .unit_col_9, .unit_col_10, .unit_col_11, .unit_col_12, 
.unit_col_13, .unit_col_14, .unit_col_15, .unit_col_16, .unit_col_17, .unit_col_18, 
.unit_col_19, .unit_col_20, .unit_col_21, .unit_col_22, .unit_col_23, .unit_col_24,
.unit_col_1h {
	display:block;
	float:left;
	margin-right:10px;
}
.unit_col_1 {
	width:30px;
}
.unit_col_1h {
	width:55px;
}
.unit_col_2 {
	width:70px;
}
.unit_col_3 {
	width:110px;
}
.unit_col_4 {
	width:150px;
}
.unit_col_5 {
	width:190px;
}
.unit_col_6 {
	width:230px;
}
.unit_col_7 {
	width:270px;
}
.unit_col_8 {
	width:310px;
}
.unit_col_9 {
	width:350px;
}
.unit_col_10 {
	width:390px;
}
.unit_col_11 {
	width:430px;
}
.unit_col_12 {
	width:470px;
}
.unit_col_13 {
	width:510px;
}
.unit_col_14 {
	width:550px;
}
.unit_col_15 {
	width:590px;
}
.unit_col_16 {
	width:630px;
}
.unit_col_17 {
	width:670px;
}
.unit_col_18 {
	width:710px;
}
.unit_col_19 {
	width:750px;
}
.unit_col_20 {
	width:790px;
}
.unit_col_21 {
	width:830px;
}
.unit_col_22 {
	width:870px;
}
.unit_col_23 {
	width:910px;
}
.unit_col_24 {
	width:950px;
}
.unit_col_last {
	margin-right:0;
}

/* last column */
.col_last {
	margin-right:0;
}





/* -------------------------------------------------------------------------------------
 CONTAINERS & BOXES
 ======================================================================================*/

/* block */
.block {
	margin:0 -15px 0 -15px;
	padding:15px 15px 0 15px;
	background-image:url('../../img/lines.gif');
	background-position:left top;
	background-repeat:repeat-x;
}


/* stage */
#stage {
	padding:0;
}
#stage.stage_narrow {
	zoom:1;
}
#stage.stage_narrow #stage_content {
	float:left;
	width:66.66666%;
}
#stage_marginal {
	float:right;
	width:33.33333%;
}
#stage.stage_narrow #stage_content .col_1-1-1_1 .link_image,
.top_story_archive .col_1-1-1_1 .link_image { 
  margin-right: 20px;
}
#stage.stage_narrow #stage_content .col_1-1-1_1 img,
.top_story_archive .col_1-1-1_1 img {
  width: 100%;
  height: auto;
}
#stage.stage_narrow #stage_content .col_1-1-1_1,
#stage.stage_narrow #stage_content .col_1-1-1_2,
.top_story_archive .col_1-1-1_1,
.top_story_archive .col_1-1-1_2 {
  width: 50%;
}

.top_story_archive {
    border-bottom: 1px solid #CCCCCC;
    margin-top: 20px;
}

.top_story_archive .teaser h3{
	font-size: 20px;
}

.top_story_archive div.teaser div.image_right  {
	 float: left;
    height: auto;
    margin-right: 10px;
	 margin-left: 0px;
    max-width: 98%;
    width: auto;
}

.top_story_archive div.teaser div.image_right  img{
	/* height: 129px; */
}

.top_story_archive .image_right .image_credit, 
.top_story_archive .image_right .image_caption {
	float:left;
	text-align: left;
}

/* box */
.box {
	clear:both;
	background-image:url('../../img/lines.gif');
	background-position:left top;
	background-repeat:repeat-x;
	padding:18px 0 18px 0;
	margin-right: 20px;
}

#marginal .box {
	margin-right:0px;
	margin-left:0px;
}
.plainbox {
	clear:both;
	padding:0 0 5px 0;
}
.box_title {
	font-size:13px;
	line-height:18px;
	font-weight:bold;
	color:#333333;
	padding:0 0 0 0;
	margin:0 0 12px 0;
}
.box_subtitle {
	font-size:13px;
	line-height:18px;
	font-weight:bold;
	color:#333333;
	margin:0 0 9px 0;
	padding:5px 0 0 0;
	border-top:1px solid #CCCCCC;
}


/* largebox */
.largebox {
	clear:both;
	padding:6px 0 24px 0;
	margin: 0 10px 0 10px;
	border-top:1px solid #CCCCCC;
}
.largebox_title {
	font-size:20px;
	line-height:21px;
	font-weight:bold;
	color:#333333;
	padding:0;
	margin:0 0 12px 0;
}
.largebox_title a {
 color:#333333;
} /* IE fix */


/* mbox */
.mbox {
	clear:both;
	background-image:url('../../img/lines.gif');
	background-position:left top;
	background-repeat:repeat-x;
	padding:9px 0 9px 0;
	margin:0 0 9px 0;
	background-color:#FFFFFF;
}
#marginal .colormbox {
  margin-left: 0;
}
.colormbox {
	padding:20px;
	margin:20px;
	background-color:#F5F5F5;
}
.mbox_title {
	font-size:13px;
	line-height:18px;
	font-weight:bold;
	color:#333333;
	padding:0 0 0 0;
	margin:0 0 12px 0;
}

/* fonts & elements */
.mbox h4, 
.colormbox h4 {
	line-height:15px;
}
.mbox p, 
.colormbox p  {
	font-size:12px;
	line-height:15px;
}
.mbox .linkbutton, 
.colormbox .linkbutton {
	font-size:12px;
	line-height:15px;
}

.mbox ul.lroman li, .mbox ul.uroman li, .mbox ul.lalpha li, .mbox ul.ualpha li, .mbox ul.disc li, .mbox ul.list li, .mbox ol.list li, .mbox ul.decimal li, .mbox ol.decimal li, .mbox ul.bullet li, .mbox ol.bullet li, .mbox ol.reference li, .mbox ul.reference li, .colormbox ul.lroman li, .colormbox ul.uroman li, .colormbox ul.lalpha li, .colormbox ul.ualpha li, .colormbox ul.disc li, .colormbox ul.list li, .colormbox ol.list li, .colormbox ul.decimal li, .colormbox ol.decimal li, .colormbox ul.bullet li, .colormbox ol.bullet li, .colormbox ol.reference li, .colormbox ul.reference li {
	font-size:13px;
	line-height:18px;
}
.colormbox ul.auto_archive li, .colormbox ul.auto_archive_single li{
	font-size: 12px;
}
hr {
	clear:both;
	border:0;
	height:4px;
	border:none;
	margin-top:0px;
	background-image:url('../../img/lines.gif');
	background-position:left top;
	background-repeat:repeat-x;
	margin: 10px 0;
}

.inlay hr, .inlay_small hr, .inlay_color hr, .inlay_small_color hr {
	background-image:none;
	border-top:1px solid #ccc;
	height:1px;
	margin:5px 0 10px;
}



/* #inlay (box element) */
.inlay, .inlay_small, .inlay_color, .inlay_small_color {
	padding:15px;
	border:1px solid #CCCCCC;
	margin:0 0 18px 0;
	zoom:1;
	overflow: hidden;
}
.inlay_color, .inlay_small_color {
	background-color:#F5F5F5;
	border: 1px solid #e6e6e6;
}
.template_sidebar-marginal .inlay_small, .template_sidebar-marginal .inlay_small_color, .template_sidebar-special .inlay_small, .template_sidebar-special .inlay_small_color {
	display: block;
	width:38%;
	float:right;
	margin-left:10px;
}

.inlay_small_color, .inlay_small {
	width: 38%;
}

.template_sidebar .inlay_small, .template_sidebar .inlay_small_color {

}
.template_sidebar .inlay, .template_sidebar .inlay_color {
	clear: both;
}
.template_sidebar-marginal .inlay, .template_sidebar-marginal .inlay_color {
}
.template_sidebar-special .inlay, .template_sidebar-special .inlay_color {
}

.template_sidebar-marginal .inlay_small, .template_sidebar-marginal .inlay_small_color, .template_sidebar-special .inlay_small, .template_sidebar-special .inlay_small_color {
	
}

.inlay_small_color .image_top, .inlay_small_color .image_top img, .inlay_small .image_top, .inlay_small .image_top img {
	max-width:100%;
	height:auto;
}
.inlay h3, inlay_small h3 {
	padding-top:0;
	margin-bottom:6px;
}
.inlay p, inlay_small p {
	margin-bottom:9px;
}

/* -------------------------------------------------------------------------------------
 BOX HIGHLIGHT STYLES 
 ======================================================================================*/

/* box inside topstory marginal */
#billboard .inlay, #billboard .inlay_color, #billboard .inlay_small, #billboard .inlay_small_color {
	border: none;
	background: none;
	padding: 20px;
	margin: 0;
}

#billboard .teaser p, .inlay .teaser p, .inlay_color .teaser p, .inlay_small .teaser p, .inlay_small_color .teaser p {
	color:#666;
}

.col_1-2_2 .inlay, .col_1-2_2 .inlay_color  {
	width: 610px;
	border: none;
	background-color: #fff;
}

/* teasers inside box */
.inlay .teaser, .inlay_small .teaser, .inlay_color .teaser, .inlay_small_color .teaser {
	margin-bottom: 6px;
}
/* teasers imgs box */
.inlay .image_left, .inlay .image_right, .inlay .image_top, .inlay_color .image_left, .inlay_color .image_right, .inlay_color .image_top, .inlay_small .image_left, .inlay_small .image_right, .inlay_small .image_top, .inlay_small_color .image_left, .inlay_small_color .image_right, .inlay_small_color .image_top {
	margin-top: 0px;
}
/* teasers text inside box */
.inlay .teaser_headline, .inlay_small .teaser_headline, .inlay_color .teaser_headline, .inlay_small_color .teaser_headline, .inlay .teaser p, .inlay_small .teaser p, .inlay_color .teaser p, .inlay_small_color .teaser p {
	line-height:15px;
	font-size:12px;
	margin-top:0px;
}

.inlay .teaser_kicker, .inlay_small .teaser_kicker, .inlay_color .teaser_kicker, .inlay_small_color .teaser_kicker, .inlay .teaser_headline, .inlay_small .teaser_headline, .inlay_color .teaser_headline, .inlay_small_color .teaser_headline {
	margin-bottom:0;
	padding:0;
}
 

/* meta */
.meta {
	margin:0 0 36px 0;
}
#marginal .meta {
	margin-bottom:0;
}
.meta p, p.meta, .meta ul, .meta ol {
	font-size:.9em;
	color:#666;
	margin-bottom:9px;
}
.meta h3, h3.meta {
	margin-bottom:0;
}
.meta h3 {
	font-size:12px;
}


/* -------------------------------------------------------------------------------------
 tabs
 ------------------------------------------------------------------------------------- */

/* container */
#tabs {
	clear:both;
}

/* tabs */
ul.tabs {
	height:18px;
	margin:0 0 9px 0;
}
ul.tabs li {
	display:block;
	float:left;
	font-size:13px;
	line-height:18px;
	padding:0 5px 0 0;
	margin:0 5px 0 0;
	background-image:url('../../img/tabs_divider.gif');
	background-position:right 5px;
	background-repeat:no-repeat;
}
ul.tabs li.last {
	background-image:none;
}
ul.tabs .tab_info {
	background-image:none;
	float:right;
	color:#666666;
}
.ui-tabs-selected a {
	color:#D86422;
	cursor: default;
}
.homepage_sections .subcol_1-1_1 { 
	width:50%; 
}
.homepage_sections .subcol_1-1_2 { 
	width:50%; 
}
.homepage_sections #video.image_top { 
	width:100%; 
}

/* tab */
.tab {
	clear:both;
	padding:0 0 18px 0;
}

.module_col_2 .ui-tabs .tab{
	clear:both;
	padding:0;
}

.ui-tabs-hide {
	position:absolute;
	left:-1000px;
	top:-1000px;
	visibility:hidden;
	width:0;
	height:0;
	line-height:0;
	display:none;
}

/* -------------------------------------------------------------------------------------
 Button more top stories
 ------------------------------------------------------------------------------------- */
p.more_stories {
	margin-top: -15px;
}

p.more_stories  a{
	float: right;
	border: 1px solid #DDDDDD;
   display: block;
   font-weight: bold;
   padding: 5px 20px;
   background-color: #DBEEF9;
   color: #196AAA;
}

p.more_stories  a:hover{
	 background-color: #D86422;
    border: 1px solid #D86422;
    color: #FFFFFF;
}


span.more_stories {
	max-width:270px;
	display: block;
	text-align: center;
}

span.more_stories  a{

    display: block;
    font-weight: bold;
    color: #196AAA;
    padding: 10px 15px;
    background: #008DC9;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
     user-select:none;
	 margin-bottom: 5px;
}


span.more_stories_2  a{ 
	display: block; 
	background:#fff;
	text-align:right;
	cursor:pointer;
	color:#42ACDC;;
	margin:5px 0;
	border-right:1px solid #42ACDC;
	border-left:5px solid #42ACDC;
	border-bottom:1px solid #42ACDC;
	border-top:1px solid #42ACDC;
	padding:5px;
	font:bold 11px sans-serif;
}


span.more_stories_2:hover{
	background:#fff;
	font:bold 11px sans-serif;
}



span.more_stories_2 a:hover {
	color:#D86422;
	text-decoration:none;
} 


html body.main-site div#page div#wrapper div#main div#content div.homepage_sections div.module_col_2 div.teaser.first-highlight span.more_stories a{
	background-image: url(../../img/icon_broadcast.png);
	background-repeat: no-repeat;
	padding-left: 40px;
}

span.more_stories a:hover {
	background-color: #D86422;
	border: 1px solid #D86422;
	color: #FFFFFF;
}
span.more_stories a:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}




/* -------------------------------------------------------------------------------------
 HQ country tabs
 ------------------------------------------------------------------------------------- */

/* clearing double lines for each box */
.col_1-2_2 .tab .box {
	border-bottom:solid 1px #ccc;
}

.col_1-2_2 div#tabs.ui-tabs .tab div.columns div.subcol_1-1_1 div.box,
.col_1-2_2 div#tabs.ui-tabs .tab div.columns div.subcol_1-1_2 div.box{
	background-image: none;
	padding: 10px 0px 10px 0px;
}

/*----------------------
PhotoStory CSS
-----------------------*/

div.photo_story {
  padding-top: 15px;
  padding-bottom: 5px;
  border-top-style: solid;
  border-width: 2px;
  border-color: #999999;
}

div.photo_story .image_top{
	width:100% !important;
	text-align: center;
}

div.photo_story div.buffet_carousel{
	background-image: none;
	padding-top: 0;
	margin-left: 20px;
}

div.photo_story h3.section_head1{
	margin-right: 20px;
}

div.photo_story div.buffet_carousel{
	background-image: none;
	padding: 0px;
	margin-right: 20px;
}

div.photo_story div.buffet_carousel div#owl-buffet-carousel.owl-buffet-carousel{
	margin: 40px -20px 0;
	padding: 20px 0 10px 20px;
}

div.photo_story .owl-theme .owl-controls .owl-page span.owl-numbers { 
  font-size: 15px;
}

div.photo_story div.buffet_carousel div#owl-buffet-carousel.owl-buffet-carousel div.owl-controls div.owl-buttons {
	top: -20px;
}

div.photo_story #owl-story-carousel{
	background-color: #FFFFFF; 
	border: 0px;
}

div.photo_story  div#portal-story{
	margin: -10px 0 -10px -10px;
   padding: 10px;
}


div.photo_story div#story-01.story a{
	margin-left: 10px;
}

div.photo_story div#story-01.story a:hover{
	text-decoration: none;
}

div.photo_story div#owl-story-carousel.owl-carousel div.owl-controls {
	display: block !important; 
}

div.photo_story .owl-pagination {
    display: block;
	position: absolute;
    top: -15px;
}

div.photo_story div#owl-story-carousel div.image_text
{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 3px;
  background-color: #f0f0f0; 
}
div.photo_story div#owl-story-carousel div.image_text p
{
  margin: 0 0 8px 0;
}
div.photo_story div#owl-story-carousel div.image_text h2
{
font-size: 16px;
 margin: 0 0 5px 0;
 padding: 12px 0 0 0;
}

div.photo_story  #owl-story-carousel .owl-buttons .owl-prev:hover, div.photo_story #owl-story-carousel .owl-buttons .owl-prev,
div.photo_story #owl-story-carousel .owl-buttons .owl-next:hover, div.photo_story #owl-story-carousel .owl-buttons .owl-next  {
	top:100px;
}	
	
div.photo_story  #owl-story-carousel .owl-buttons .owl-prev:hover, div.photo_story #owl-story-carousel .owl-buttons .owl-prev{
	left:3px;
}
	
div.photo_story #owl-story-carousel .owl-buttons .owl-next:hover, div.photo_story #owl-story-carousel .owl-buttons .owl-next {
 	right:3px;
}
	   
div.photo_story div#owl-story-carousel.owl-carousel div.owl-wrapper-outer div.owl-wrapper div.owl-item div.item2{
	padding: 0;
 }
	   
div.photo_story div#owl-story-carousel.owl-carousel div.owl-wrapper-outer div.owl-wrapper div.owl-item div.item2  img{
 	width: 100% !important; 
	height: auto;
 }
 
	 
div.photo_story div#owl-story-carousel.owl-carousel div.owl-wrapper-outer div.owl-wrapper div.owl-item div.item2 div.inlay_small_color ul.list li{
	border: 0px;
	padding: 3px 0 5px;
 }
	 
div.photo_story div#portal-story {
	margin:0;
	padding:0;
 }

div.photo_story div#owl-story-carousel.owl-carousel div.owl-wrapper-outer div.owl-wrapper div.owl-item div.item div#portal-story h1.headline a,
div.photo_story div#owl-story-carousel.owl-carousel div.owl-wrapper-outer div.owl-wrapper div.owl-item div.item div#portal-story h2.headline a{
	     font-size: 18px ;
}

div.photo_story div#topcolumns{
	padding-top: 30px;
}

div.photo_story .owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
    opacity: 1;
	 background-color:#d86422;
}

div.photo_story div#owl-story-carousel.owl-carousel div.owl-wrapper-outer div.owl-wrapper div.owl-item div.item2 div.inlay_small_color {
    width: auto !important;
	padding: 10px;
}

div.photo_story div.module  p.more_stories {
	margin-top: 0px;
}

div.photo_story .owl-prev::before {
    content: "‹";
}

div.photo_story .owl-next::before {
    content: "›";
}

div.photo_story .owl-buttons div::before {
	text-indent: 0px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
	opacity: 0.9;
	font-size: 100px;
	display: block;
	position:absolute;
	color: #FEFEFE;
}

div.photo_story .owl-prev:hover::before,
div.photo_story .owl-next:hover::before{
	color: #d86422;
}

div.photo_story #owl-story-carousel .owl-buttons .owl-next,
div.photo_story #owl-story-carousel .owl-buttons .owl-prev{
  position: absolute;
  background-image: none;
}
  
div.photo_story  .image_top .image_caption{
  color: #ffffff;
  width: 100% !important;
  top: -20px;
  max-width: 100% !important;
  float: left; 
  margin-top: -15px;
  margin-bottom: 10px;
  font-style: italic;
}

div.photo_story .caption {
	color: #ffffff;
	padding: 0.6em;
	font-weight: bold;
	font-size: 11px;
	font-family: arial;
	display: none;
	cursor: default;
   width: 100%;
	text-align: center;
	border-top: 1px solid #303030;
	border-right: 1px solid #303030; 
	background: #000000;
	opacity: 0.7;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
}

div.photo_story .caption-wrapper {
	float: left;
}

div.photo_story .caption-wrapper {
	width: 100% !important;
}

div.photo_story  #captext_resp {
	display: none;
}

div.photo_story  span.image_caption_resp,
div.photo_story  span.image_credit_resp{
	display:none; 
}

div.photo_story .image_top .image_credit{
  color:#999999 !important;
}

	div.photo_story .image_top .image_caption {
  color:#FFFFFF !important;
}

}

/* -------------------------------------------------------------------------------------
 Back to the top
 ------------------------------------------------------------------------------------- */

.back-to-top {
    position: fixed;
    bottom: 5em;
    right: -25px;
    text-decoration: none;
    color: #000000;
    background-color: #f5f5f5;
	background-image:  url('../../img/top.png');
     background-repeat: no-repeat;
	font-size: 12px;
    padding: 2.3em;
    display: none;	
}
	

.back-to-top:hover {    
    background-color: #f5f5f5;
}

.btn-back-to-top {
	background: rgba(0,0,0,0.5);
	border-radius: 3px;
	bottom: 20px;
	height: 45px;
	position: fixed;
	right: 20px;
	width: 44px;
	cursor: pointer;
	opacity: 0;
	display: block;
	visibility: hidden;
	z-index: 1;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.back-to-top span {
    visibility: hidden;
    width: 50px;
    display: inline-block;
}


/*----------------------
Portal CSS
-----------------------*/
div#portal.homepage_sections .image_top{
	width:100% !important;
	text-align: center;
}

div#portal.homepage_sections div#billboard h3.section_head1{
	font-size: 24px;
}

div#portal.homepage_sections #billboard {
	margin:-20px 20px -30px -15px;
	background-color: #FFFFFF
}

div#portal.homepage_sections div#billboard div.buffet_carousel{
	background-image: none;
	padding-top: 0;
	margin-left: 20px;
}

div#portal.homepage_sections h3.section_head1{
	margin-right: 20px;
}

div#portal.homepage_sections div.buffet_carousel{
	background-image: none;
	padding: 0px;
	margin-right: 20px;
}

div#portal{
	margin-left: 0px;
}

div#portal.homepage_sections div.buffet_carousel div#owl-buffet-carousel.owl-buffet-carousel{
	margin: 40px -20px 0;
	padding: 20px 0 10px 20px;
}

div#portal.homepage_sections div.buffet_carousel div#owl-buffet-carousel.owl-buffet-carousel div.owl-controls div.owl-buttons {
	top: -20px;
}

div#portal.homepage_sections div#billboard div.stories div.col_1-2_1 div.image_credit{
	margin-right: 15px;
}

div#portal.homepage_sections div#billboard div.stories h3.teaser_headline {
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 15px;
}

div#portal.homepage_sections  h1 {
    border-bottom: 0px solid #CCCCCC;
    padding-bottom: 0px;
	color: #D86422;
}

div#portal.homepage_sections div#billboard div.stories  div#portal-story{
	background-color: #f0f0f0;  
	margin: -10px 0 -10px -10px;
   padding: 10px;
}

div#portal.homepage_sections div#billboard div.stories div#portal-story p {
    color: #000000; 
    font-size: 18px ;
	 line-height: 30px;
    font-weight: 300;
 	margin-left: 10px
}

div#portal.homepage_sections div#billboard div.stories div#story-01.story a{
	margin-left: 10px;
}

div#portal.homepage_sections div#billboard div.stories div#story-01.story a:hover{
	text-decoration: none;
}

div#portal.homepage_sections div#billboard div.stories div#owl-story-carousel.owl-carousel div.owl-controls {
	display: block; 
}

div#portal.homepage_sections div#billboard div.stories .owl-pagination {
    display: block;
}

div#portal.homepage_sections #owl-story-carousel .owl-buttons .owl-prev:hover, div#portal.homepage_sections #owl-story-carousel .owl-buttons .owl-prev {
    display: none;   
}
	
div#portal.homepage_sections #owl-story-carousel .owl-buttons .owl-next:hover, div#portal.homepage_sections #owl-story-carousel .owl-buttons .owl-next {
    display: none;   
}
	   
div#portal.homepage_sections div#billboard div.stories div#owl-story-carousel.owl-carousel div.owl-wrapper-outer div.owl-wrapper div.owl-item div.item2{
	padding: 0;
 }
	   
div#portal.homepage_sections div#billboard div.stories div#owl-story-carousel.owl-carousel div.owl-wrapper-outer div.owl-wrapper div.owl-item div.item2  img{
 	width: 70%; 
	height: 100%;
	padding-left: 10px;
 }

div#portal.homepage_sections hr#storysep{
	background-image:none;
 }
	 
div#portal.homepage_sections div#billboard div.stories div#owl-story-carousel.owl-carousel div.owl-wrapper-outer div.owl-wrapper div.owl-item div.item2 div.inlay_small_color ul.list li{
	border: 0px;
	padding: 3px 0 5px;
 }
	 
div#portal.homepage_sections div#billboard div.stories div#portal-story {
	margin:0;
	padding:0;
 }
	 
div#portal.homepage_sections #billboard {
	padding: 20px 0 0 15px;
}

div#portal.homepage_sections .owl-theme .owl-controls {
	margin-top: 0;
}

div#portal.homepage_sections div#billboard div.stories div#owl-story-carousel.owl-carousel div.owl-wrapper-outer div.owl-wrapper div.owl-item div.item div#portal-story h1.headline a,
div#portal.homepage_sections div#billboard div.stories div#owl-story-carousel.owl-carousel div.owl-wrapper-outer div.owl-wrapper div.owl-item div.item div#portal-story h2.headline a{
	     font-size: 18px ;
}

div#portal.homepage_sections div#topcolumns{
	padding-top: 30px;
}

div#portal.homepage_sections .owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
    opacity: 1;
	 background-color:#d86422;
}

div#portal.homepage_sections div#billboard div.stories div#owl-story-carousel.owl-carousel div.owl-wrapper-outer div.owl-wrapper div.owl-item div.item2 div.inlay_small_color {
    width: auto !important;
	padding: 10px;
}

div#portal.homepage_sections div.module  p.more_stories {
	margin-top: 0px;
}


#newsletter-form {
		/* display:none; */
		background-color: #FFF;
		margin-top: 20px;
}
#newsletter {
	    background-repeat: no-repeat;
		top: -150px;
		left: 10px;
		padding-bottom: 2.3em;
		padding-left: 1.5em;
		padding-right: 2.3em;
		padding-top: 20px;
		position: fixed;
		z-index: 50;
}
#newsletter .more_stories a {
		float: left;
		font-weight: bold;
		background-color: #42ACDC;
		color: #FFFFFF;
		padding: 5px 20px;
		border: 1px solid #DDD;
		display: block;
		border-top: 0px;
		z-index: 10;
		background-position: 1% 35%; 
		background-repeat: no-repeat;
		padding-left: 20px;
}
#newsletter .inlay {
		padding: 15px;
		border: 1px solid #CCC;
		margin: 0px 0px 14px;
		overflow: hidden;
}
#newsletter .newsletter-button {
		background-color: #f5f5f5;
		border: 1px solid #196AAA;
		border-radius: 0;
		color: #196aaa;
		font-size: 12px;
		height: 26px;
		transition: all 0.1s ease-in 0s;
		float: right; 
		margin-top: 10px;
}
#newsletter .newsletter-button:hover {
		background-color: #D86422;
		color: #FFF;
		cursor: pointer;
}

#newsletter .email-address {
		height: 22px;
		font-size: 12px;
		border-radius: 0px;
		border: 1.5px solid #196AAA;
		transition: all 0.1s ease-in 0s;
		width: 100%;
}

.breakingNews {
	padding: 10px;
	font-weight: bold;
	background-color: #F7941D;
	text-align:center;
}

/* Contextually CSS */ 
/* For licensing information see http://contextlysitescripts.contextly.com/kit/assets/3.6.1/licenses.txt */.ctx-overlay {position: fixed !important;top: 0 !important;left: 0 !important;width: 100% !important;height: 100% !important;z-index: 99999 !important;margin: 0 !important;padding: 0 !important;}
.ctx-overlay-dialog {position: fixed !important;z-index: 100000 !important;}
.ctx-clearfix:before, .ctx-clearfix:after {content: "";display: table;width: 100%;}
.ctx-clearfix:after {clear: both;}
.ctx-nodefs {margin: 0 !important;padding: 0 !important;}
.ctx-nomar {margin: 0 !important;}
@font-face {font-family: "contextly";src: url("widgets/fonts/contextly.eot");src: url("widgets/fonts/contextly.eot#iefix") format("embedded-opentype"),url("widgets/fonts/contextly.woff") format("woff"),url("widgets/fonts/contextly.ttf") format("truetype"),url("widgets/fonts/contextly.svg#contextly") format("svg");font-weight: normal;font-style: normal;}.ctx-icon {font-family: "contextly" !important;font-style: normal !important;font-weight: normal !important;font-variant: normal !important;text-transform: none !important;speak: none !important;text-align: center !important;}
.ctx-icon-logo:before {content: "â€€" !important;}
.ctx-icon-video:before {content: "â€" !important;}
.ctx-icon-twitter:before {content: "â€‚" !important;}
.ctx-icon-left-circled:before {content: "â—€" !important;}
.ctx-icon-right-circled:before {content: "â–¶" !important;}
.ctx-icon-hourglass:before {content: "â§–" !important;}
.ctx-video-overlay {background: #000 !important;background: rgba(0,0,0,.7) !important;cursor: pointer !important;}
.ctx-video-modal {width: 700px !important;background: #f6f6f6;padding: 10px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);-box-shadow: 0 0 10px rgba(0,0,0,.4);box-sizing: content-box;}
.ctx-video-modal .ctx-video-close {display: block !important;float: right !important;margin-top: 5px;font-size: 21px;line-height: 24px;top: 8px;right: 11px;color: #7e7c7c;font-weight: bold;font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;text-decoration: none;cursor: pointer;padding-top: 1px;padding-right: 7px;padding-left: 7px;padding-bottom: 3px;border: 1px solid #7e7c7c;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;}
.ctx-video-modal .ctx-video-close:hover {background-color: #7e7c7c;color: white;}
.ctx-video-modal .ctx-video-frame {position: relative !important;width: 700px !important;max-height: 480px !important;min-height: 380px !important;z-index: 1000;overflow-y: auto;}
.ctx-video-modal .ctx-video-loading {display: block !important;height: 24px;left: 50%;position: absolute !important;z-index: 50;top: 45%;width: 24px;margin: -24px 0 0 -24px !important;background: url("widgets/img/loading.gif") center center no-repeat;}
.ctx-video-modal .ctx-video-title {color: #000;font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;font-size: 15px;margin: 5px 0 8px 0;float: left;width: 90%;}
.ctx-video-modal .ctx-modal-social {width: 100%;float: left;}
.ctx-video-modal .ctx-modal-social iframe {float: left;}
@media all and (max-width: 799px) {.ctx-video-modal .ctx-video-frame {max-height: none;min-height: 0;}
}@media all and (min-width: 540px) and (max-width: 799px) {.ctx-video-modal {width: 450px !important;}
.ctx-video-modal .ctx-video-frame {width: 450px !important;height: 280px !important;}
}@media all and (min-width: 340px) and (max-width: 539px) {.ctx-video-modal {width: 340px !important;}
.ctx-video-modal .ctx-video-frame {width: 340px !important;height: 250px !important;}
}@media all and (max-width: 339px) {.ctx-video-modal {width: 200px !important;}
.ctx-video-modal .ctx-video-frame {width: 200px !important;height: 200px !important;}
.ctx-video-modal .ctx-video-title {width: 80%;}
}
.ctx-branding {width: 100%;margin: 8px 0px !important;padding: 0 !important;}
.ctx-branding .ctx-branding-link {display: block !important;width: 110px !important;height: 12px !important;margin-right: 1% !important;float: right;text-align: left !important;line-height: 1.4 !important;background: url("widgets/img/brandedlogo.svg") no-repeat 100% -12px !important;text-decoration: none;font-size: 9px;font-family: Arial,Helvetica,sans-serif;color: #7e7e81;transition: initial;-webkit-transition: initial;}
.ctx-module.ctx-no-svg .ctx-branding .ctx-branding-link {background-image: url("widgets/img/brandedlogo.png") !important;}
.ctx-branding .ctx-branding-link:hover {background-position: 100% 0 !important;color: #1babab !important;}
.ctx-brd-overlay {background: gray !important;background: rgba(0,0,0,.7) !important;cursor: pointer !important;}
#ctx-branding-content {padding: 0 !important;margin: 0 !important;background-color: #fff !important;-webkit-box-shadow: 0px 0px 0px 2px rgba(255,255,255,1);-moz-box-shadow: 0px 0px 0px 2px rgba(255,255,255,1);box-shadow: 0px 0px 0px 2px rgba(255,255,255,1);}
#ctx-brd-text-head {display: block;height: 3px;margin-top: 11px;background-size: 3px;background-position: top;background: #def4f9;background: -moz-linear-gradient(left,#def4f9 0%,#f4fbfd 100%);background: -webkit-gradient(linear,left top,right top,color-stop(0%,#def4f9),color-stop(100%,#f4fbfd));background: -webkit-linear-gradient(left,#def4f9 0%,#f4fbfd 100%);background: -o-linear-gradient(left,#def4f9 0%,#f4fbfd 100%);background: -ms-linear-gradient(left,#def4f9 0%,#f4fbfd 100%);background: linear-gradient(to right,#def4f9 0%,#f4fbfd 100%);}
#ctx-brd-text p {margin: 0 !important;padding: 0 !important;line-height: 1.3 !important;font-family: Gotham,"Helvetica Neue",Helvetica,Arial,sans-serif;color: #404040 !important;font-size: 13px !important;text-align: left !important;}
#ctx-brd-text p a {text-decoration: none !important;color: #0897d3 !important;margin: 0 !important;padding: 0 !important;}
#ctx-brd-text p a:hover {color: #94d2ec;margin-top: 0 !important;padding: 0 !important;}
#ctx-brd-text {margin: 12px 0 0 0 !important;padding: 0px !important;}
#ctx-branding-content {width: 400px !important;border: 7px solid #def4f9 !important;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;}
#ctx-brd-modal {margin: 0 27px 17px 27px;font-size: 13px;line-height: 15px;}
#ctx-brd-logo {display: block;height: 58px;background: url("widgets/img/brandpopupimgs.svg") no-repeat;margin-top: 17px;}
#ctx-brd-close {display: block;height: 31px;width: 31px;background: url("widgets/img/brandpopupimgs.svg") no-repeat 0 -59px;cursor: pointer;position: absolute;right: 0;top: 0;line-height: 22px;text-indent: -10000px;transition: initial;-webkit-transition: initial;}
#ctx-branding-content.ctx-no-svg #ctx-brd-logo {background-image: url("widgets/img/brandpopupimgs.png");}
#ctx-branding-content.ctx-no-svg #ctx-brd-close {background-image: url("widgets/img/brandpopupimgs.png");}
#ctx-brd-close:active {background-position: 0 -91px;}
@media all and (max-width: 604px) {#ctx-branding-content {width: 250px !important;border: 4px solid #def4f9 !important;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}
#ctx-brd-modal {margin: 0 15px 10px 15px;}
#ctx-brd-logo {height: 42px;background: url("widgets/img/brandpopupimgs-mobile.svg") no-repeat;margin-top: 10px;}
#ctx-brd-close {height: 23px;width: 23px;background: url("widgets/img/brandpopupimgs-mobile.svg") no-repeat 0px -42px;}
#ctx-branding-content.ctx-no-svg #ctx-brd-logo {background-image: url("widgets/img/brandpopupimgs-mobile.png");}
#ctx-branding-content.ctx-no-svg #ctx-brd-close {background-image: url("widgets/img/brandpopupimgs-mobile.png");}
#ctx-brd-close:active {background-position: 0 -65px;}
}
.ctx-link-title a {
    display: block;
    cursor: pointer;
	background-color:#F5F5F5;
	background-image:url('../../img/who_sprite.gif');
	background-position: right -1070px;
	background-repeat:no-repeat;
	line-height: 18px;
	font-size: 12px;
	font-weight: bold;
}
.ctx-content-text .ctx-link a {
	padding-left: 15px !important;
    padding-right: 30px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.ctx-content-text .ctx-bullet:before {
	content: "" ! important;
}
.ctx-links-header {
	margin-left: 23px !important;
}
.ctx-branding, .ctx-siderail-container {
	display: none;
}
.ctx-content-text .ctx-links-header p {
	color:#333333 !important;
	font-family: inherit !important;
    font-size: 14px !important
}
.ctx-links-content{
	margin-right: 15px !important;
}

/* bootstrap video */
.embed-responsive-16by9 {
    margin-right: 20px;
}

/* search autocomplete */
.autocomplete-suggestions {
	text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);

	/* core styles should not be changed */
	position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }

/*]]>*/	 