/*
Theme Name: Filmpertutti 2.0
Author: Unknown
Version: 1.0
*/

body {
    background-color: #004278;
    font-family: "Open Sans", "Open Arial", Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    color: #fff
}

body.home {
    background-color: #333
}

#logo {
    background: url(assets/logo.png) no-repeat;
    background-size: contain;
    height: 120px
}

a {
    color: inherit;
    text-decoration: none
}

a:hover { text-decoration: underline }

.wrap {
    max-width: 1280px;
    margin: 0 auto
}

.pad {
    padding: 1.1em;
    word-wrap: break-word;
}

#jumbo {
    overflow: hidden;
    height: 180px;
    background-color: #F0702B
}

#jumbo .content {
    float: left;
    width: 70%;
    height: 100%
}

#jumbo .content .slant {
    float: right;
    border-bottom: 180px solid cornflowerblue;
    border-left: 100px solid transparent;
}

#jumbo .content ul { float: right; list-style: none; padding: 0; margin: 0 }
#jumbo .content ul li { float: left; text-align: center }
#jumbo .content ul li a { height: 180px; display: block; padding: .5em .1em .05em .1em; font-size: 2em; text-decoration: none; width: 210px; box-sizing: border-box }
#jumbo .content ul li a p { color: #FAFAFA; font-size: .7em; margin: .7em 0 }
#jumbo .content ul li a:hover { border-bottom: 4px solid cornflowerblue }

#jumbo aside {
    position: relative;
    background-color: cornflowerblue;
    float: right;
    padding: 2em 2em 2em .5em;
    width: 30%;
    box-sizing: border-box;
    height: 100%
}

#jumbo a:hover {
    text-decoration: none
}

#jumbo aside p {
    margin: .2em;
}
#jumbo aside p:first-child { font-size: 2vw; text-decoration: none }
#jumbo aside p:first-child:hover { text-decoration: underline }
#jumbo aside p:first-child:before {
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: FontAwesome;
    content: '\f021';
    margin-right: .5em
}

#search-box {
    display: none;
    float: right;
    width: 550px;
    height: 180px;
    padding: .7em 2em;
    box-sizing: border-box
}

#search-box h2 {
    font-weight: 300;
    margin: .9em 0 .5em 0;
    font-size: 1.7em
}

#search-box h2 > div {
    font-size: .7em;
    float: right
}

#search-box form > div {
    display: block;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px
}

#search-box input {
    padding: .4em .8em;
    box-sizing: border-box;
    background: transparent;
    border: none;
    font-family: inherit;
    font-size: 1.4em;
    width: 87%
}

#search-box button {
    font-size: 1.4em;
    background: transparent;
    border: none;
    line-height: 1.8em;
    cursor: pointer
}

#jumbo[data-mode=search] #search-box {
    display: block
}

#jumbo[data-mode=search] .content ul {
    display: none
}

.clear { clear: both }

header { background: #333 }

header nav { float: right; text-align: right }
header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
}
header nav ul li { float: left }
header nav ul li a {
    display: block;
    font-size: .9em;
    text-decoration: none;
    text-transform: uppercase;
    padding: .5em .8em;
    box-sizing: border-box;
    border-top: 2px solid transparent
}
header nav ul li a:hover { 
    text-decoration: none;
    border-top-color: cornflowerblue
}
header nav ul li.focus a { border-top-color: #F0702B }
header nav ul li a[target=__blank] { border-top-color: #00e000 }

header nav .social {
    display: inline-block;
    border-radius: 15px;
    background:#fff;
    padding: .4em .6em;
    margin-top: .5em;
    overflow: auto
}

.twitter { margin-right: .3em; color: #55acee }
.facebook { margin-right: .3em; color: #3b5998 }
.gplus { color: #db4437 }

h1 { font-weight: 300 }

main > h1 {
    border-bottom: 2px solid orange;
    padding-bottom: .25em;
    padding-left: .5em
}

.posts-preview {
    clear: both;
    max-width: 1150px;
    margin: 1.5em auto 0 auto;
    height: 200px
}

.posts-preview a {
    float: left;
    height: 200px
}

.posts-preview img {
    height: 200px;
    width: 140px
}

.posts-preview .ext {
    display: inline-block;
    background: #333;
    padding: .3em;
    box-sizing: border-box;
    line-height: 200px
}

main > h2 {
    margin: 1em 0;
    clear: both;
    border-top: 2px solid #666;
    border-bottom: 2px solid #666;
    background: #333;
    padding: .4em .6em
}

.table-list { background: #282828; overflow: auto; list-style: none; padding: 0 .75em 1.25em .75em; margin: 0;
border-radius: 0 0 20px 20px }
.table-list li {
    float: left;
    padding: .2em .6em;
    width: 25%;
    box-sizing: border-box
}
.table-list li a {
    display: block;
    padding: .6em;
    box-sizing: border-box;
    border-bottom: 1px solid orange
}
.table-list li a:hover { border-bottom-color: #bd0000 !important; text-decoration: none }
.table-list li a:before {
    content: '\f10c';
    font-family: FontAwesome;
    font-size: .9em;
    line-height: .9em;
    margin-left: -.5em;
    margin-right: .4em
}
.table-list li a:hover:before { transition: color .1s ease-in; color: #bd0000; content: '\f1db' }
.table-list li a span {
    float: right;
    opacity: 0
}
.table-list li a span:before {
    content: '\f061';
    font-family: FontAwesome;
    font-size: .9em;
    line-height: .9em
}
.table-list li a:hover span {
    opacity: 1;
    transition: opacity .3s ease
}
.table-list li:nth-child(2n) a { border-bottom-color: cornflowerblue }
.table-list li:nth-child(8n+5) a, .table-list li:nth-child(8n+7) a { border-bottom-color: cornflowerblue }
.table-list li:nth-child(8n+6) a, .table-list li:nth-child(8n+8) a { border-bottom-color: orange }

footer {
    background: #111;
    margin-top: 2.5em;
    border-top: 2em solid cornflowerblue;
    font-size: .85em;
    color: #666
}
footer p { margin: .5em 0; text-align: justify }
footer a { text-decoration: underline }

.posts { list-style: none; padding: 0; margin: 0; overflow: auto }
.posts li { float: left; width: 20%; padding: .6em; box-sizing: border-box; text-align: center; overflow: hidden }
.posts a {
    display: block;
    background: #fff;
    margin: 0 .25em;
    overflow: auto
}
.posts a:first-child {
    border-radius: 20px 20px 0 0;
}

.posts a:last-child {
    border-radius: 0 0 20px 20px
}
.posts  a > div {
    margin: .5em auto;
    position: relative;
    width: 199px;
    height: 297px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    border-radius: 20px;
    overflow: hidden;
}

.posts a > p {
    background: #F0702B;
    display: block;
    padding: .5em;
    margin: 0 1.5em .5em 1.5em;
    text-decoration: none
}

.posts .title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: .4em;
    background-color: rgba(0, 0, 0, 0.3);
    box-sizing: border-box
}

.posts .episode {
    position: absolute;
    top: 0;
    left: 0;
    padding: .3em .6em;
    background-color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    border-radius: 0 0 5px 0
}

.posts .hd {
    position: absolute;
    top: 0;
    right: 0;
    padding: .2em .4em;
    font-size: 1.4em;
    background-color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    border-radius: 0 0 0 10px;
    font-weight: bold
}


.navigation ul {
    overflow: auto;
    list-style: none;
    margin: .5em 0 0 0;
    padding: 0
}
.navigation li {
    float: left;
    font-weight: normal;
    margin: 0 .1em
}
.navigation li a {
    display: block;
    padding: .3em .6em;
    text-decoration: none;
    background: none;
    border-radius: 10px;
}
.navigation li a:hover {
    background-color: cornflowerblue;
    transition: all .3s ease;
}
.navigation li.active a {
    background-color: #bd0000;
    cursor: default
}

#content {
    margin-top: 1.5em;
    border-top: 4px solid orange;
    background-color: #f6f6f6;
    color: #000;
    float: left;
    width: 65%;
}

#content a { color: #E15000 }
#content a:hover { color: #000 }

#content h1 {
    color: #fff;
    background: #111;
    font-size: 1.4em;
    font-weight: 400;
    padding: .6em;
    margin: 0;
}

#content .subtitle {
    float: left;
    color: #fff;
    background: #777;
    font-size: .9em;
    padding: .5em .7em;
    margin-right: .5em
}

#content .element {
    background: #eee;
    font-size: .9em;
    padding: .5em .7em;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
}

#content .element:after{
    clear: both
}

#content .thumbnail {
    width: 100%;
    height: 299px
}

#content .rating {
    color: #fff;
    box-sizing: border-box;
    background-color: #474747;
    overflow: auto
}

#content .rating .value {
    float: left;
    background-color: cornflowerblue;
    font-size: 1.7em;
    padding: .5em;
    margin-right: .4em
}

#content .rating p {
    margin: .6em 0 .2em 0
}

#content .meta {
    display: table;
    border-collapse: separate;
    border-spacing: .8em;
}

#content .meta > div {
    display: table-cell;
    vertical-align: top
}

#content .meta > div:first-child {
    width: 25%;
    margin-right: 1em
}

#content .meta > div:first-child p {
    background: #F0702B;
    display: block;
    padding: .5em;
    margin: 0;
    text-decoration: none;
    text-align: center;
    color: #fff
}

#content .ads {
    text-align: center;
    margin: .6em 0 .3em 0;
    font-size: 1.3em
}

#content .ads a {
    width: 12em;
    background: #F0702B;
    display: inline-block;
    padding: .8em;
    margin: 0 1em;
    text-decoration: none;
    text-align: center;
    color: #fff
}

#content .ads a:last-child {
    background: #004278
}

main aside {
    margin-top: 1.5em;
    border-top: 4px solid cornflowerblue;
    background-color: #222;
    float: right;
    width: 30%
}

main aside .title {
    background: #111;
    font-size: 1.3em;
    padding: .6em;
    border-top: 3px solid #333;
    border-bottom: 3px solid #333
}

main aside .subtitle {
    background: #555;
    font-size: .9em;
    padding: .3em .7em
}

main aside .widget-title {
    background: #111;
    font-size: 1.3em;
    padding: .5em;
    margin: 0
}

main aside a { color: orange }

main aside p {
    border-bottom: 2px solid cornflowerblue;
    margin: 0.8em 2em;
    padding-bottom: 0.5em;
}

main aside ul {
    list-style: none;
    margin: 0;
    padding: 0
}

main aside li {
    margin: 0
}

main aside li a:before {
    content: '\f054';
    font-family: FontAwesome;
    display: inline-block;
    width: 1.3em;
}

main aside li > a {
    color: #fff;
    text-decoration: none;
    padding: .5em;
    display: block;
    padding-left: 1.3em;
    text-decoration: none
}
main aside li > a:hover {
    background: rgba(0, 0, 0, 0.3)
}

main aside li > a small {
    float: right;
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0% 0%;
    padding: 0.3em 0.6em;
    border-radius: 0.75em;
    margin-top: -.15em;
    margin-left: .3em
}

.stars {
    background: repeat-x url(assets/stars.png);
    background-position: 0 0;
    background-size: 110px;
    height: 17px;
    width: 215px;
    display: inline-block;
    margin-right: .45em
}

.fs {
    float: left;
    background-position: 0 100%
}

#content { font-size: 15px }

#content .embed-title {
    margin: 0;
    color: #fff;
    font-size: 1.5em;
    padding: .4em .8em;
    background: #777
}

#content .embed {
    position: relative;
    padding-bottom: 40.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

#content .embed iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%
}

#embeds {
    background-color: #000;
    border-bottom: .8em solid #333;
}

#embeds > div {
    display: none;
    text-align: center;
}

#embeds > div:first-child, #embeds .triggers {
    display: block;
}

#embeds .triggers {
    text-align: left;
    background-color: #222
}

#embeds .triggers a {
    color: #fff;
    display: inline-block;
    padding: .6em;
    font-size: 1.2em;
    text-decoration: none
}

#embeds .triggers a:hover {
    background: cornflowerblue
}

#embeds .triggers a.active {
    background: #F0702B;
    cursor: default
}

#frontpage {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 1.5em;
    overflow: auto
}

#frontpage > h1 {
    text-align: center;
    font-weight: 300;
    font-size: 2.2em;
    padding: .3em 0;
    margin: 0;
    background: #222;
    border-radius: 20px 20px 0 0;
}

#frontpage > div:nth-child(2) {
    table-layout: fixed;
    display: table;
    background: linear-gradient(to right, #0070C2, #0070C2, #0010C2, #0010C2);
    height: 250px;
    width: 100%
}

#frontpage > div:nth-child(2) > div {
    vertical-align: top;
    text-align: center;
    display: table-cell;
    height: 250px
}

#frontpage > div:nth-child(2) > div a {
    font-size: 1.7em;
    display: block;
    width: 70%;
    box-sizing: border-box;
    padding: .9em .6em .4em .6em;
    text-decoration: none;
    margin: 0 auto
}
#frontpage > div:nth-child(2) > div a p { margin: .6em 0 0 0; font-size: .8em; font-weight: 400 }
#frontpage > div:nth-child(2) > div a:hover { border-bottom: 3px solid #fff }

#frontpage > div:nth-child(2) > div:first-child {
    padding: 2em 0 2em 2em;
    font-weight: 300;
    box-sizing: border-box
}

#frontpage > div:nth-child(2) > div:first-child, #frontpage > div:first-childnth-child(2) > div:last-child {
    width: 50%;
}
#frontpage > div:nth-child(2) > div:last-child {
    box-sizing: border-box;
    padding: 2em 2em 2em 0;
    /*border-radius: 0px 20px 0px 0px;*/
    background: #fff
}

#frontpage > div:nth-child(2) > div:nth-child(2) {
    width: 1px;
    height: 0px;
    border-right: 170px solid rgb(255, 255, 255);
    border-top: 250px solid transparent
}

#frontpage > div:nth-child(2) > div:last-child > a {
    width: 50%;
    color: #000;
    box-sizing: border-box;
    display: block;
    font-size: 1.7em;
    float: left;
    padding: .9em .6em .4em .6em;
    text-align: center;
    text-decoration: none;
}

#frontpage > div:nth-child(2) > div:last-child > a p { margin: .5em 0 0 0 }
#frontpage > div:nth-child(2) > div:last-child > a:hover { border-bottom: 3px solid #eba715 }
#frontpage > div:nth-child(2) > div:last-child > a:first-child:hover { border-bottom: 3px solid #f0702b }

#frontpage > div:nth-child(3) {
    padding: .6em .8em;
    font-size: 2.2em;
    background: #222
}

.cats {   
    float: right;
    padding: 0.5em;
    font-size: 0.5em;
    border-radius: 10px;
    font-family: inherit;
    border: 0px none;
    margin-top: .2em;
    margin-right: 1em;
}

.cats.mobile {
    display: none;
    width: 100%;
    margin: 1em;
}

#mobileNav {
    display: none;
    font-size: 1.3em
}

#mobileNav ul {
    background: #111;
    list-style: none;
    margin: 0;
    padding: 0;
}

#mobileNav li {
    padding: 0
}

#mobileNav li a {
    display: block;
    padding: .6em .8em;
    text-decoration: none;
    text-transform: uppercase
}

#mobileNav[data-show=true] {
    display: block;
    overflow: auto
}

#mobileNavToggle {
    display: none;
    float: right
}

#search-box form > span {
    display: none
}

@media screen and (max-width: 1355px) {
    #jumbo .content ul li a {
        width: 190px
    }
}

@media screen and (max-width: 1231px) {
    #jumbo .content ul li a {
        width: 150px
    }

    #content {
        width: 70%
    }

    main aside {
        font-size: 15px
    }

    .posts li {
        width: 25%
    }

    .posts-preview {
        display: none
    }
}

@media screen and (max-width: 1023px) {
    #jumbo {
        overflow: auto;
        height: auto;
    }

    #jumbo .content, #jumbo aside {
        overflow: hidden;
        width: 100%;
        float: none;
        height: auto;
        clear: both
    }

    #jumbo .content { height: 180px }

    #jumbo .content ul {
        float: none
    }

    #jumbo .content li {
        width: 25%
    }

    #jumbo .content ul li a {
        width: auto
    }

    #jumbo .slant {
        display: none
    }

    #search-box {
        float: none;
        margin: 0 auto
    }

    header nav {
        display: none
    }

    #mobileNavToggle {
        display: block
    }
}

@media screen and (max-width: 950px) {
    #content {
        width: 100%;
        font-size: 18px
    }

    main aside {
        clear: both;
        width: 100%;
        float: none;
        font-size: 18px
    }
    
    footer {
        font-size: 16px
    }

    #jumbo aside p:first-child {
        font-size: 2em
    }

    #jumbo aside {
        font-size: 20px
    }
}

@media screen and (max-width: 768px) {
    .posts li {
        width: 50%
    }
}

@media screen and (max-width: 425px) {
    #search-box {
        font-size: .7em;
        padding: .7em 1.25em;
        width: auto;
        height: auto
    }

    #search-box form > span {
        display: inline-block;
        width: 15%;
        box-sizing: border-box
    }

    #search-box form > span a {
        display: block
    }

    #search-box form > div {
        max-width: 100%;
        display: inline-block;
    }

    #search-box h2 {
        display: none
    }

    .table-list li {
        width: 100%
    }

    #frontpage > div:nth-child(3) {
        font-size: 1.8em
    }

    #frontpage > div:nth-child(2) > div:nth-child(2) {
        display: none
    }

    #frontpage > div:nth-child(2) {
        height: auto;
        overflow: auto;
        display: block
    }

    #frontpage > div:nth-child(2) > div {
        display: block;
    }
    #frontpage > div:nth-child(2) > div:last-child, #frontpage > div:nth-child(2) > div:first-child {
        padding: 2em
    }

    #frontpage > div:nth-child(2) > div a {
        width: 100%
    }

    #jumbo aside p:first-child {
        font-size: 1.8em
    }
    #jumbo aside {
        text-align: center;
        font-size: initial
    }

    #jumbo .content {
        height: auto
    }
    #jumbo .content li {
        width: 50%;
    }
    #jumbo .content ul li a {
        height: auto
    }

    #jumbo .content ul li a:hover {
        border: none
    }

    #jumbo .content ul i {
        font-size: 1.5em
    }

    .posts a {
        margin: 0
    }

    .posts a > div {
        margin: 0 auto .5em auto;
        width: auto;
        height: 250px
    }

    .posts a > p {
        margin: 0 1em .5em 1em;
    }

    #content .meta {
        display: block
    }

    #content .meta > div:first-child {
        width: 50%;
        margin: 1em auto
    }
    
    #content .meta > div {
        display: block
    }

    #search-box input {
        width: 85%
    }

    .cats {
        display: none
    }

    .cats.mobile {
        display: block;
        width: 90%;
        margin: 1em;
        float: none;
        font-size: 1.2em;
    }
    
}