#ie6_bg {

	background-color: #000000;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 99998;

}


#ie6_warning {

	font-family: "Arial";
	background-image:url('../img/ie6_warning/window.jpg');
	background-repeat: no-repeat;
	background-position: top;
	width: 830px;
	height: 413px;
	position: absolute;
	z-index: 99999;
} 


#ie6w_title {

	margin-top: 15px;
	margin-left: 30px;
	font-size: 25px;
	font-weight: bold;
	color: rgba(0, 0, 101, 1);
}


#ie6w_close {

	background-color: #000000;
	width: 40px;
	height: 40px;
	margin-left: -50px;
	margin-top: 10px;
	float: right;
	position: absolute;
}


#ie6w_content {

	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
	font-size: 15px;
	color: #2F2F2F;
}


.ie6w_item {

	width: 170px;
	height: 160px;
	float: left;
	margin-top: 30px;
	margin-right: 20px;
	border-right: 2px solid #E4E4E4;
}

.ie6w_item.last{
	border-right: 0px solid #E4E4E4;

}

.ie6w_item img {

	margin: 3px;
	color: #2C32BC;
	font-size: 16px;
}


.ie6w_item a {

	color: #2F2F2F;
	text-decoration: none;
}


.ie6w_item a:hover {

	color: #2F2F2F;
	text-decoration: underline;
}


.ie6w_link1 {

	margin-top: 15px;
	margin-left: 20px;
}

.ie6w_link2 {

	margin-top: 5px;
	margin-left: 20px;


}
.medium-lienPP { 
	display: block; 
	background: url(../img/ie6_warning/puce.jpg) 0 50% no-repeat;
	padding-left: 15px; 
	line-height: 1.7; 
	font-size: 14px; 
	color: #263f92; }