@charset "UTF-8";
    .content, .content * {
    box-sizing: border-box;
}
body {
    background: #efefef;
    font-family: Arial;
    font-size: 12px;
    color: #4C5266;
    margin: 0;
    padding: 0;
}
.banner, .main {
    position: relative;
    margin: 0 auto;
}
.main {
    width: 1000px;
    background: #FFF;
}
#header-hp-part, #header-pro {
    width: 100%;
    min-height: 110px;
}
#header-hp-part {
    background: url(../img/bg-header.jpg) repeat-x;
}
#header-pro {
    background: url(../img/bg-header-pro.jpg) repeat-x;
}
.banner {
    width: 1000px;
}
.content-header {
    position: relative;
    width: 970px;
    margin: -1px auto 0;
    background: #fff;
    padding: 0 0 16px 30px;
}
.logo {
    width: 473px;
    height: 105px;
    float: left;
}
.main-nav {
    position: absolute;
    top: 0;
    right: 0;
}
.main-nav ul {
    height: 30px;
}
.main-nav ul li {
    display: inline;
    float: left;
    height: 30px;
    border-right: 1px solid #D3D3D3;
}
.main-nav ul li:last-child {
    border-right: none;
}
.main-nav ul li a {
    display: block;
    height: 30px;
    background: #FFF;
    font-size: 14px;
    text-decoration: none;
    line-height: 30px;
    padding: 0 8px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .main-nav ul li a {
    padding: 0 8px;
}
}.main-nav ul li a.blanc {
    display: block;
    color: #00aee0;
    width: 70px;
    height: 30px;
    background: url(../img/bg-particulier.png) no-repeat;
    padding: 0 8px 0 22px!important;
}
.main-nav ul li a.violet {
    color: #AB429D;
}
.main-nav ul li a.vert {
    color: #699D09;
}
.main-nav ul li a.orange {
    color: #BF9439;
}
.main-nav ul li a.gris {
    color: #666;
}
.main-nav ul li a.bleu-recrutement {
    color: #2480A8;
}
.main-nav ul li a.blanc.active, .main-nav ul li a.blanc:hover {
    color: #FFF;
    width: 70px;
    height: 30px;
    background: url(../img/bg-particulier-active.png) no-repeat;
}
.main-nav ul li a.violet.active, .main-nav ul li a.violet:hover {
    color: #FFF;
    background: #AB429D;
}
.main-nav ul li a.vert.active, .main-nav ul li a.vert:hover {
    color: #FFF;
    background: #699D09;
}
.main-nav ul li a.orange.active, .main-nav ul li a.orange:hover {
    color: #FFF;
    background: #BF9439;
}
.main-nav ul li a.gris.active, .main-nav ul li a.gris:hover {
    color: #FFF;
    background: #666;
}
.main-nav ul li a.bleu-recrutement.active, .main-nav ul li a.bleu-recrutement:hover {
    color: #FFF;
    background: #2480A8;
}
.search {
    width: 208px;
    height: 22px;
    float: right;
    margin-top: 55px;
}
.search input.recherche {
    width: 175px;
    height: 25px;
    padding: 3px;
    border: 1px solid #CCC;
    border-right: none;
    text-align: left;
    color: #999;
    float: left;
}
.search input[type=submit], .search input[type=button] {
    width: 25px;
    height: 33px;
    background: url(../img/loupe.jpg) center center no-repeat #fff;
    padding: 3px;
    border: 1px solid #CCC;
    border-left: none;
    cursor: pointer;
}
.bloc-side {
    width: 305px;
    height: 90px;
    background: #FFF;
    border: 1px solid #CCC;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#E2E2E2,  direction=120);
    zoom: 1;
    -moz-box-shadow: 5px 5px 5px #E2E2E2;
    -o-box-shadow: 5px 5px 5px #E2E2E2;
    -webkit-box-shadow: 5px 5px 5px #E2E2E2;
    box-shadow: 5px 5px 5px #E2E2E2;
}
.bloc-side .inner1 {
    width: 100%;
    height: 30px;
    padding: 0 5px 3px 7px;
    text-align: center;
}
.bloc-side .inner2 {
    width: 125px;
    height: 30px;
    padding: 5px;
    color: #999;
}
.bloc-side .inner2>div {
    height: 30px;
}
.inner2 a {
    color: #999;
    text-decoration: none;
    line-height: 15px;
}
.inner2 a:hover {
    color: #999;
    text-decoration: underline;
}
.no-ident {
    width: 287px;
    height: 81px;
    padding: 10px;
    color: #FFF;
    margin-top: -1px;
}
.btn-compte, .btn-compte a, .btn-compte-pro, .btn-compte-pro a {
    text-decoration: none;
    text-align: center;
    display: block;
    width: 249px;
    height: 38px;
    margin: 10px auto 0;
    font-size: 17px;
    padding-left: 5px;
    line-height: 33px;
}
.no-ident.part {
    background: url(../img/bg-no-ident-blue.png);
}
.no-ident.pro {
    background: url(../img/bg-no-ident-purple.png);
}
.btn-compte, .btn-compte a {
    background: url(../img/btn-acces-compte.png) no-repeat;
    color: #FFF!important;
}
.btn-compte a:hover, .btn-compte:hover {
    background-position: 0 -39px;
    color: #FFF;
    text-decoration: none;
}
.btn-compte-pro, .btn-compte-pro a {
    background: url(../img/btn-acces-compte-pro.png) no-repeat;
    color: #FFF!important;
}
.btn-compte-pro a:hover, .btn-compte-pro:hover {
    background-position: 0 -39px;
    color: #FFF;
    text-decoration: none;
}
.navigation {
    margin-bottom: 15px;
}
.navigation ul.princ {
    width: 663px;
    height: 46px;
    background: url(../img/bg-nav.png) repeat-x;
    border-top: none;
    text-align: center;
}
.navigation ul.princ li {
    display: inline;
    height: 41px;
    float: left;
    border-right: 1px solid #D3D3D3;
}
.navigation ul.princ.pro li>a, .navigation ul.princ>li>a>h2, .navigation ul.princ>li>a {
    text-align: center;
    display: block;
}
.navigation ul.princ li:last-child {
    border: none;
}
.navigation ul li.etudiants.active, .navigation ul.princ li.etudiants, .navigation ul.princ li.etudiants:hover {
    background: url(../img/nav-hover.jpg) repeat-x;
}
.navigation ul.princ>li>a >h2{
    position: relative;
    height: 41px;
    color: #22388d;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    text-decoration: none;
}

.navigation a:hover{
	text-decoration: none;
}

.navigation ul.princ>li.hover>a>h2, .navigation ul.princ>li>a>h2:hover, .sous-nav ul li a.active {
    font-weight: 700;
}
.navigation ul li.home a, .navigation ul.princ li.home a:hover {
    width: 15px;
    height: 50px;
    background: url(../img/nav-home.png) center 10px no-repeat;
}
.navigation ul.princ li.comptes>a>h2 {
    width: 160px;
}
.navigation ul li.comptes.active>a, .navigation ul.princ li.comptes a>h2:hover, .navigation ul.princ li.comptes.hover a {
    height: 50px;
    color: #4B86C0;
    background: url(../img/nav-activelightblue.png) center 40px no-repeat;
}
.navigation ul.princ li.epargne>a>h2 {
    width: 190px;
}
.navigation ul li.epargne.active a, .navigation ul li.epargne.hover>a, .navigation ul.princ li.epargne a>h2:hover {
    height: 50px;
    color: #FA9D1C;
    background: url(../img/nav-activeorange.png) center 40px no-repeat;
}
.navigation ul.princ li.prets>a >h2{
    width: 65px;
}
.navigation ul li.prets.active a, .navigation ul li.prets.hover>a, .navigation ul.princ li.prets a>h2:hover {
    height: 50px;
    color: #007CC2;
    background: url(../img/nav-activeblue.png) center 40px no-repeat;
}
.navigation ul.princ li.assurance>a>h2 {
    width: 104px;
}
.navigation ul li.assurance.active a, .navigation ul li.assurance.hover>a, .navigation ul.princ li.assurance a>h2:hover {
    height: 50px;
    color: #B2005E;
    background: url(../img/nav-activepurple.png) center 40px no-repeat;
}
.navigation ul.princ li.etudiants>a >h2{
    width: 93px;
    color: #FFF;
}
.navigation ul.princ li.etudiants {
    margin-top: -1px;
    float: right;
}
.navigation ul li.etudiants.active a, .navigation ul li.etudiants.hover>a, .navigation ul.princ li.etudiants a>h2:hover {
    height: 50px;
    color: #FFF;
}
.navigation ul li.assurancebis.active a, .navigation ul li.assurancebis.hover>a, .navigation ul li.financements.active a, .navigation ul li.financements.hover>a, .navigation ul li.gestion.active>a, .navigation ul li.placements.active a, .navigation ul li.placements.hover>a, .navigation ul.princ li.assurancebis a:hover, .navigation ul.princ li.financements a:hover, .navigation ul.princ li.gestion a:hover, .navigation ul.princ li.gestion.hover>a, .navigation ul.princ li.placements a:hover {
    color: #AB429D;
    height: 50px;
    background: url(../img/nav-activepurple-pro.png) center 40px no-repeat;
    font-weight: 700;
    z-index: 21;
}
.navigation ul li.home a, .navigation ul.princ.pro li.home a:hover {
    padding: 0 15px!important;
}
.navigation ul.princ.pro li.gestion a {
    width: 180px;
}
.navigation ul.princ.pro li.financements a, .navigation ul.princ.pro li.placements a {
    width: 150px;
}
.navigation ul.princ.pro li.assurancebis a {
    width: 130px;
}
.w_275 {
    width: 275px;
}
.w_275.sep-submenu {
    background: url(../img/sep-submenu.png) 255px 20px no-repeat;
    min-height: 140px;
}
ul.princ li ul.sub-menu {
    position: absolute;
    min-height: 160px;
    width: 590px;
    margin-top: 0;
    padding: 0 20px 30px;
    background: url(../img/bg-submenu2.png) 0 bottom no-repeat;
    visibility: hidden;
    z-index: 20;
}
ul.princ li ul.sub-menu.purple {
    margin-left: -400px;
}
ul.princ li ul.sub-menu.orange {
    margin-left: -180px;
    padding-bottom: 50px;
}
ul.princ li ul.sub-menu.blue {
    margin-left: -350px;
}
ul.princ li ul.sub-menu.dark-blue {
    margin-left: -20px;
    padding-bottom: 50px;
}
ul.princ li ul.sub-menu p.sub-menu-title {
    font-size: 18px;
    margin: 15px 0 10px;
}
ul.princ li ul.sub-menu.purple p.sub-menu-title {
    color: #CF006D;
}
ul.princ li ul.sub-menu.orange p.sub-menu-title {
    color: #FA9D1C;
}
ul.princ li ul.sub-menu.blue p.sub-menu-title {
    color: #007CC2;
}
ul.princ li ul.sub-menu.dark-blue p.sub-menu-title {
    color: #4B86C0;
}
ul.princ li ul.sub-menu li {
    display: list-item;
    height: 15px;
    border: none;
    float: none;
    text-align: left;
    padding-left: 10px;
}
.fil-ariane ul li, .sous-nav ul li {
    float: left;
    display: inline;
}
ul.princ li ul.sub-menu li a {
    font-size: 12px;
    color: #4c5266!important;
    line-height: 12px;
    padding: 3px 0;
}
ul.princ li ul.sub-menu li a:hover {
    background: 0 0!important;
    color: #4C5266!important;
    text-decoration: underline;
}
ul.princ li ul.sub-menu li a.medium-lien.bis {
    background: url(../img/puce.png) 0 4px no-repeat!important;
    padding-left: 10px;
    font-size: 12px;
    color: #21388c!important;
}
.fil-ariane {
    width: 725px;
    clear: both;
    margin-top: 20px;
}
.fil-ariane ul li a {
    color: #263F92;
    text-decoration: none;
    padding: 0 10px;
}
.fil-ariane ul li a.first {
    padding-left: 0;
}
.fil-ariane ul li a:hover {
    text-decoration: underline;
}
.fil-ariane ul li a.active, .fil-ariane ul li a.prev {
    background: url(../img/fil-ariane-active.jpg) 0 center no-repeat;
    padding-left: 15px;
}
.sous-nav ul li {
    height: 20px;
    border-right: 1px solid #009FA3;
}
.sous-nav ul li:last-child {
    border-right: none;
}
.sous-nav ul li a {
    font-size: 14px;
    color: #009FA3;
    text-decoration: none;
    padding: 0 15px;
    line-height: 20px;
}
.sous-nav ul li a.first {
    padding-left: 0;
}
.sous-nav ul li a:hover {
    text-decoration: underline;
}
.bgc-grey {
    background-color: #eee;
}
.bgc-darkgrey {
    background-color: #4c5266;
}
.link-puce {
    display: block;
    background: url(../img/puce.png) 0 50% no-repeat;
    padding-left: 13px;
}
.opacity {
    opacity: .94;
}
.opacity:active, .opacity:hover {
    opacity: 1;
}
section {
    display: block;
}
.content {
    background: #fff;
    padding: 0 40px;
}
.row-1 {
    width: 100%;
    margin-bottom: 45px;
}
.rs-page-wrap, .rs-page-wrap1, .rs-page-wrap2 {
    bottom: -27px;
}
.rs-page-wrap>a, .rs-page-wrap1>a, .rs-page-wrap2>a {
    width: 22px;
    height: 22px;
}
.rs-page-wrap>a.active, .rs-page-wrap>a:hover, .rs-page-wrap1>a.active, .rs-page-wrap1>a:hover, .rs-page-wrap2>a.active, .rs-page-wrap2>a:hover {
    border-color: #263F92;
}
.block.devenir-client_btn {
    height: 54px;
    width: 228px;
    background: url(../img/devenir-client-sprite.jpg);
}
.block.devenir-client_btn:hover {
    background: url(../img/devenir-client-sprite.jpg) 0 57px;
}
.devenir-client_link {
    height: 55px;
    width: 220px;
    background-image: url(../img/btn_devenir-client.jpg);
    padding: 20px 0 0 63px;
	font-weight: normal;
    font-size: 12px;
}

h3.devenir-client_link:hover, .devenir-client_bloc a:hover{
	text-decoration: none;
	color: #13A6CE;
}
.devenir-client_link :hover{
	text-decoration: none;
    color: #13A6CE;
}

.devenir-client_link-products {
    background-position: 0 top;
}
.devenir-client_link-contact {
    background-position: 0 112px;
}
.devenir-client_link-agence {
    background-position: 0 bottom;
}

.devenir-client_link-products:active, .devenir-client_link-products:hover {
    background-position: -219px top;
}
.devenir-client_link-contact:active, .devenir-client_link-contact:hover {
    background-position: -219px 112px;
}
.devenir-client_link-agence:active, .devenir-client_link-agence:hover {
    background-position: -219px bottom;
}
.row-2 {
    margin-top: 5px;
    height: 395px;
}
.bloc-vignette {
    width: 455px;
}
.bloc-vignette>.light-grey>a {
    display: block;
    width: 100%;
    float: left;
}
.light-grey {
    position: relative;
    background: #F9F9F9;
    margin: 0 0 8px;
    float: left;
    height: 88px;
    border: 1px solid #ccc;
    width: 100%}
.light-grey:last-child {
    margin-bottom: 0;
}
.light-grey .desc {
    margin: 0 0 0 38px;
    width: 300px;
}
.light-grey h4 {
    margin-bottom: 5px;
	margin-left: 0;
	text-transform: none;
	font-weight: normal;
}
.light-grey .image {
    margin-top: 5px;
}
.light-grey p {
    line-height: 15px;
}
.light-grey .video {
    width: 90px;
    min-height: 75px;
    margin: 5px 10px 10px;
    position: relative;
    float: left;
}
.light-grey .video a {
    position: absolute;
    width: 100%;
    height: 20px;
    margin-top: -20px;
    color: #FFF;
    padding-left: 5px;
    line-height: 20px;
}
.light-grey:before {
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: 0;
    width: 15px;
}
.light-grey h4, .light-grey h2 a {
    font-size: 18px;
    margin-top: 10px;
}
.light-grey.blue:before {
    background: #0060b2;
}
.light-grey.blue .video a, .light-grey.blue .video span {
    background: url(../img/video-play.jpg) 75px center no-repeat #0060b2;
}
.light-grey.blue h4 , .light-grey.blue h2 a {
    color: #0060b2;
}
.light-grey.light-blue:before {
    background: #4b86c0;
}
.light-grey.light-blue .video a, .light-grey.light-blue .video span {
    background: url(../img/video-play.jpg) 75px center no-repeat #4b86c0;
}
.light-grey.light-blue h4, .light-grey.light-blue h2 a {
    color: #4b86c0;
}
.light-grey.dark-blue:before {
    background-color: #4B86C0;
}
.light-grey.dark-blue .video a, .light-grey.dark-blue .video span {
    background: url(../img/video-play.jpg) 75px center no-repeat #4B86C0;
}
.light-grey.dark-blue a.medium-lien {
    background: url(../img/puce-bleue2.png) 0 4px no-repeat;
}
.light-grey.dark-blue h2, .light-grey.dark-blue h2 a {
    color: #4B86C0;
}
.light-grey.green:before {
    background-color: #00a1a3;
}
.light-grey.green .video a, .light-grey.green .video span {
    background: url(../img/video-play.jpg) 75px center no-repeat #00a1a3;
}
edium-lien {
    background: url(../img/puce-vert.png) 0 4px no-repeat;
}
.light-grey.green h2, .light-grey.green h2 a {
    color: #00a1a3;
}
.light-grey.yellow:before {
    background-color: #ff8b0e;
}
.light-grey.yellow .video a, .light-grey.yellow .video span {
    background: url(../img/video-play.jpg) 75px center no-repeat #ff8b0e;
}
.light-grey.yellow .video span, .light-grey.purple .video span, .light-grey.blue .video span, .light-grey.green .video span {
    position: absolute;
    bottom: 0px;
    color: #fff;
    width: 100%;
    line-height:  19px;
}
.light-grey.yellow h4, .light-grey.yellow h2 a {
    color: #ff8b0e;
}
.light-grey.purple:before {
    background-color: #CF006D;
}
.light-grey.purple .video a, .light-grey.purple .video span {
    background: url(../img/video-play.jpg) 75px center no-repeat #CF006D;
}
.light-grey.purple a.medium-lien {
    background: url(../img/puce-violet.png) 0 4px no-repeat;
}
.light-grey.purple h4, .light-grey.purple h2 a {
    color: #CF006D;
}
.light-grey.purplepro:before {
    background-color: #AB429D;
}
.light-grey.purplepro .video a {
    background: url(../img/video-play.jpg) 75px center no-repeat #AB429D;
}
.light-grey.purplepro a.medium-lien {
    background: url(../img/puce-violet.png) 0 4px no-repeat;
}
.light-grey.purplepro h2 a {
    color: #AB429D;
}
.light-grey.pink:before {
    background-color: #E63090;
}
.light-grey.pink .video a {
    background: url(../img/video-play.jpg) 75px center no-repeat #E63090;
}
.light-grey.pink a.medium-lien {
    background: url(../img/puce-pink.png) 0 4px no-repeat;
}
.light-grey.pink h2, .light-grey.pink h2 a {
    color: #E63090;
}
.banner-fixe {
    width: 440px;
    overflow: hidden;
    position: relative;
}
.banner-fixe>img {
    height: 377px;
    width: auto;
}
.banner-fixe_btn-bloc {
    position: absolute;
    bottom: 20px;
}
.banner-fixe a {
    margin-left: 15px;
}
.banner-fixe a img {
    width: 190px;
    height: auto;
}
.bloc-actu {
    padding: 10px 30px 30px;
    width: 650px;
}
.bloc-actu h1.home {
    margin-bottom: 10px;
}
.bloc-actu_links {
    margin-bottom: 35px;
}
.bloc-actu_links a.medium-lien {
    display: block;
    background: url(../img/puce.png) 0 50% no-repeat;
    padding-left: 15px;
    line-height: 1.7;
    font-size: 14px;
    color: #263f92;
}
.btn-orange {
    background: url(../img/puce-blanc2.png) 10px center no-repeat #FF910F;
    padding: 4px 15px 4px 25px;
    color: #FFF!important;
    text-align: center;
    display: inline-block;
    font-size: 14px;
}
.bloc-actu .rss {
    display: inline-block;
    vertical-align: bottom;
}
.bloc-actu_banner {
    margin-top: 35px;
    height: auto;
}
.bloc-actu_banner .rs-wrap {
    height: auto;
    margin-bottom: 9px;
}
.bloc-simulateur {
    position: relative;
    width: 230px;
    padding: 10px 30px 30px;
    height: 403px;
    background: -webkit-linear-gradient(77.5249deg, #e5e5e5 4%, #fff 95%);
    background: -moz-linear-gradient(77.5249deg, #e5e5e5 4%, #fff 95%);
    background: -o-linear-gradient(77.5249deg, #e5e5e5 4%, #fff 95%);
    background: -ms-linear-gradient(77.5249deg, #e5e5e5 4%, #fff 95%);
    background: linear-gradient(12.475099999999998deg, #e5e5e5 4%, #fff 95%);
}
.bloc-simulateur h1.home {
    margin-bottom: 20px;
}
.bloc-simulateur .btn-accordion, .btn-accordion {
    width: 170px;
    height: 38px;
    line-height: 38px;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    display: block;
    margin-bottom: 4px;
    padding-left: 27px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}
.btn-accordion:hover {
    text-decoration: none;
    cursor: pointer;
}
.btn-accordion:after {
    content: "\25b6";
    float: right;
    padding-right: 10px;
    font-size: .8em;
}
.btn-accordion.ui-state-active:after {
    content: "\25bc";
    font-size: .64em;
    padding-right: 12px;
}
.btn-accordion_orange {
    background-color: #ff8b0e;
}
.btn-accordion_orange:hover {
    background-color: #F7870E;
}
.btn-accordion_blue {
    background-color: #0060b2;
}
.btn-accordion_blue:hover {
    background-color: #045AA4;
}
.btn-accordion_pink {
    background-color: #cf006d;
}
.btn-accordion_pink:hover {
    background-color: #C4056A;
}
.bloc-simulateur .ui-accordion-content {
    background-color: #fff;
    padding: 10px;
    position: relative;
}
.bloc-simulateur .ui-accordion-content, .bloc-simulateur .ui-accordion-content a {
    color: #6a728c;
}
.bloc-simulateur .ui-accordion-content a:after {
    content: "\25b6";
    float: right;
    padding-right: 10px;
    position: absolute;
    right: 0;
}
.btn-accordion_blue+.ui-accordion-content a:after {
    color: #0060b2;
}
.btn-accordion_pink+.ui-accordion-content a:after {
    color: #cf006d;
}
.bloc-simulateur_accordion {
    position: absolute;
    z-index: 5;
}
.simulateur-sub {
    color: #6a728c;
    font: 400 18px/19.8px Arial;
    text-align: center;
    margin-top: 155px;
}
.simulateur-img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%}
.bloc-decouvrez-lcl {
    margin-top: 30px;
    padding-bottom: 40px;
}
.decouvrez_items {
    overflow: hidden;
    text-align: center;
}
.decouvrez_item {
    float: left;
    width: 20%;
    padding: 0 10px;
}
.decouvrez_item-illustration {
    height: 100px;
    vertical-align: middle;
    display: table-cell;
    width: 20%;
    margin-bottom: 20px;
}
.decouvrez_item p {
    color: #1f388c;
    font-size: 16px;
    line-height: 17.6px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 13px;
    min-height: 2.1em;
	text-align: center;
}
.decouvrez_link {
    text-align: left;
}
.gen-footer2, .social-links ul {
    text-align: center;
}
.decouvrez_link a {
    background-position: 0 1px;
}
.bg-round {
    width: 1000px;
    height: 52px;
    position: relative;
    margin: 0 auto;
    background: url(../img/main-roundbottom.png) no-repeat;
    z-index: 3;
}
.gen-footer ul, .gen-footer2 ul {
    width: 1000px;
    margin: 3px auto 0;
}
.gen-footer ul li, .gen-footer2 ul li {
    display: inline;
    border-right: 1px solid #f2f2f2;
    line-height: 11px;
}
.gen-footer ul li a, .gen-footer2 ul li a {
    padding: 0 10px;
    font-size: 12px;
    color: #f2f2f2;
}
#footer .gen-footer {
    height: 80px;
    background: url(../img/bg-footer-part.png) repeat-x;
    padding-top: 60px;
    margin-top: -30px;
}
.footer_img-oreilles {
    vertical-align: top;
    margin-top: -15px;
    position: relative;
    top: 6px;
    left: -5px;
}
.gen-footer2 {
    margin-top: 20px;
}
.gen-footer2 ul {
    padding: 13px 20px;
}
.gen-footer2 ul li {
    line-height: 22px;
}
.gen-footer2 ul li a {
    padding: 0 14px;
}
.detail-footer {
    width: 1000px;
    margin: 0 auto;
}
.detail-footer p.title-footer {
    font-size: 14px;
    color: #22388D;
    font-weight: 700;
    margin: 0 0 10px;
}
.detail-footer ul {
    width: 190px;
    min-height: 120px;
}
.detail-footer ul li {
    display: list-item;
}
.detail-footer ul li a {
    font-size: 12px;
    color: #4C5266;
    padding: 3px 0;
}
.bordered_link-bloc {
    background-color: #fff;
    border: 1px solid #b0b5c4;
    width: 173px;
    margin-right: 20px;
    padding: 10px 7px 10px 13px;
    margin-top: -12px;
}
.icon-calc, .icon-simulateur {
    width: 20px;
    height: 21px;
    display: inline-block;
}
.icon-calc {
    background: url(../img/footer-calc.png) 0 100% no-repeat;
}
.icon-simulateur {
    background: url(../img/footer-graph.png);
}
.detail-footer .icon-calc {
    position: relative;
    top: 2px;
}
.social-links ul li {
    display: inline;
}
.social-links ul li a {
    padding: 3px;
    margin: 2px;
}
.social-links ul li a:hover {
    text-decoration: none;
}
div.COOKIECONSENT_BANDEAU {
    display: block;
    bottom: -100px;
    right: 0;
    left: 0;
    background-color: #E0E0E0;
    opacity: .92;
    position: fixed;
    padding: 10px;
    -webkit-box-shadow: #727171 0 0 4px;
    box-shadow: #727171 0 0 4px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#AAAAAA, direction=0, strength=2)";
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: #000;
    font-family: Arial, sans-serif;
    line-height: 12px;
    z-index: 999999;
}
h4.COOKIECONSENT_TITLE {
    padding: 0 0 7px;
    display: block;
    color: #000;
    font-size: 12px;
    font-weight: 700;
    margin: 0;
}
.COOKIECONSENT_BANDEAU_close, .COOKIECONSENT_close {
    position: absolute;
    top: 0;
    right: 0;
    background: url(../v_1.0/images/CookieConsent/close.png) no-repeat;
    border: none;
    cursor: pointer;
}
a#ID_COOKIECONSENT_HREF {
    color: #000;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}
#ticker  {
    position: relative;
    	margin-left:  325px;
    	width:  600px;
    height:  50px;
    background:  #F0F0F0;
    border:  1px solid #EFEFEF;
    overflow:  hidden;
}
#ticker .img-ticker  {
    position: absolute;
     overflow: hidden;
     z-index: 3;
    background:  #F0F0F0;
 }
.scrollingtext  {
    position: absolute;
     white-space: nowrap;
    font-size:  14px;
    font-weight:  bold;
    line-height:  50px;
}

@media (max-width: 1024px) {
	.main,
	.banner,
	.bg-round,
	.gen-footer ul, .gen-footer2 ul,
	.detail-footer,
	.wrapper {
		width : 100% !important;
	}

    .gen-footer > ul > li {
        float: left;
    }
    .gen-footer > ul > li.imageLien {
        margin-top: -7px;
    }
    .gen-footer > ul > li:last-child {
        word-spacing: 4px;
    }

	.content-header {
		width: 97% !important;
	}

	ul.princ li ul.sub-menu.purple {
		margin-left : -450px !important;
	}

	.main-nav { right: 2%; }
	.search { margin-right: 2%; }
	.rs-wrap {
		width: 650px !important;
	}

	.bgc-darkgrey {
		margin: 0 !important;
		width: 100% !important;
	}

	.gen-footer2 ul {
	    padding: 0 !important;
	}

	.content-header .bloc-side {
		width: 270px !important;
	}
	.content-header .btn-compte {
		margin: 5px auto 0 !important;
	}
	.content-header .inner1 ul {
		padding-left: 12px !important;
	}
}