
/* Game Layer -------------------------------------- */
/* CSS added by edict */

#gameLayer {
    background-color: black;
    display: none;
    outline: none;
    position:fixed;
    z-index: 10000001;
    overflow: hidden;
    width: 1100px;
    height: 734px;
}

#gameLayerAlternativeContent {
    background-color: black;
    left: 50%;
    height: 200px;
    margin-left: -160px;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 320px;
}

#gameLayerAlternativeContentClose {
    cursor: pointer;
    right: 10px;
    position: absolute;
    top: 10px;
}

#gameLayerSelfban {
    display: none;
    position:fixed;
    z-index:1002;
}

#gameTitleBar {
    background-image: url(../images/gameselector_background.png);
    background-repeat: repeat-x;
    height: 29px;
    left: 460px;
    position: fixed;
    top: 11px;
    width: 999px;
    z-index: 10000010;
    color: white;
    font-size: 12px;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#gameTitleBarGameName {
    background-image: url(../images/gameselector_background.png);
    background-repeat: repeat-x;    height: 19px;
    font-size: 14px;
    position: fixed;
    width: 270px;
    padding-left: 10px;
    padding-top: 9px;
    margin-top:-23px;
}

#gameTitleBarButtonsRight {
    color: white;
    float: right;
    font-size: 14px;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 5px;
    cursor: pointer;
    width: 24px;
    z-index: 10000012;
}

#gameTitleBarHelpLink {
    float: left;
    padding-right: 5px;
}

#gameTitleBarCloseLink {
    float: left;
    width: 10px;
}



#gameTitleBarFunGame {
    float:none;
    text-align: center;
    padding-top: 9px;
    font-size:12px;
    font-weight: bold;
}

/* Game Layer end ---------------------------------- */

/* Loading notification ----------------------------------- */

#loading_notification {
   display: none;
   position: fixed;
   top: 0px;
   left: 0px;
   height: 100%;
   width: 100%;
   background-color: transparent;
   z-index: 1000;
}

#loading_notification img{
    left:50%;
    position:absolute;
    top:50%;
    z-index:102;
    margin-top:-50px;
    margin-left:-50px;
}


