
.container_25 {
	margin-left: auto;
	margin-right: auto;
	width: 990px
}

.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16,.grid_17,.grid_18,.grid_19,.grid_20,.grid_21,.grid_22,.grid_23,.grid_24
	{
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.push_1,.pull_1,.push_2,.pull_2,.push_3,.pull_3,.push_4,.pull_4,.push_5,.pull_5,.push_6,.pull_6,.push_7,.pull_7,.push_8,.pull_8,.push_9,.pull_9,.push_10,.pull_10,.push_11,.pull_11,.push_12,.pull_12,.push_13,.pull_13,.push_14,.pull_14,.push_15,.pull_15,.push_16,.pull_16,.push_17,.pull_17,.push_18,.pull_18,.push_19,.pull_19,.push_20,.pull_20,.push_21,.pull_21,.push_22,.pull_22,.push_23,.pull_23
	{
	position: relative
}

.alpha {
	margin-left: 0
}

.omega {
	margin-right: 0
}

.container_25 .grid_1 {
	width: 30px
}

.container_25 .grid_2 {
	width: 70px
}

.container_25 .grid_3 {
	width: 110px
}

.container_25 .grid_4 {
	width: 150px
}

.container_25 .grid_5 {
	width: 190px
}

.container_25 .grid_5a {
	width: 210px;display:inline;float:left;margin:0 10px;
}

.container_25 .grid_6a {
	width: 220px;display:inline;float:left;margin:0 10px;
}
.container_25 .alpha{margin-left:0;}
.container_25 .alpha{margin-right:0;}
.container_25 .grid_6 {
	width: 230px
}

.container_25 .grid_6b {
	width: 250px;display:inline;float:left;margin:0 10px;
}

.container_25 .grid_7 {
	width: 270px
}

.container_25 .grid_8 {
	width: 300px
}

.container_25 .grid_9 {
	width: 330px
}

.container_25 .grid_9a {
	width: 320px;float:left;display:inline;margin:0 10px;
}

.container_25 .grid_10a {
	width: 350px;float:left;display:inline;margin:0 10px;
}

.container_25 .grid_10 {
	width: 360px
}

.container_25 .grid_11 {
	width: 410px
}

.container_25 .grid_11a {
	width: 440px;display:inline;margin:0 10px;float:left;
}

.container_25 .grid_12 {
	width: 470px
}

.container_25 .grid_13 {
	width: 510px
}

.container_25 .grid_14 {
	width: 550px
}

.container_25 .grid_15 {
	width: 590px
}

.container_25 .grid_16 {
	width: 630px
}

.container_25 .grid_16a {
	width: 650px;display:inline;margin:0 10px;float:left;
}

.container_25 .grid_17 {
	width: 670px
}

.container_25 .grid_18 {
	width: 710px
}

.container_25 .grid_19a {
	width: 730px;display:inline;margin:0 10px;float:left;
}

.container_25 .grid_19 {
	width: 750px
}

.container_25 .grid_20 {
	width: 770px;
}

.container_25 .grid_21 {
	width: 830px
}

.container_25 .grid_22 {
	width: 870px
}

.container_25 .grid_23 {
	width: 910px
}

.container_25 .grid_24 {
	width: 950px
}

.container_25 .grid_25 {
	width: 970px;display:inline;margin:0 10px;float:left;
}

.container_25 .prefix_1 {
	padding-left: 40px
}

.container_25 .prefix_2 {
	padding-left: 80px
}

.container_25 .prefix_3 {
	padding-left: 120px
}

.container_25 .prefix_4 {
	padding-left: 160px
}

.container_25 .prefix_5 {
	padding-left: 200px
}

.container_25 .prefix_6 {
	padding-left: 240px
}

.container_25 .prefix_7 {
	padding-left: 280px
}

.container_25 .prefix_8 {
	padding-left: 320px
}

.container_25 .prefix_9 {
	padding-left: 360px
}

.container_25 .prefix_10 {
	padding-left: 400px
}

.container_25 .prefix_11 {
	padding-left: 440px
}

.container_25 .prefix_12 {
	padding-left: 480px
}

.container_25 .prefix_13 {
	padding-left: 520px
}

.container_25 .prefix_14 {
	padding-left: 560px
}

.container_25 .prefix_15 {
	padding-left: 600px
}

.container_25 .prefix_16 {
	padding-left: 640px
}

.container_25 .prefix_17 {
	padding-left: 680px
}

.container_25 .prefix_18 {
	padding-left: 720px
}

.container_25 .prefix_19 {
	padding-left: 760px
}

.container_25 .prefix_20 {
	padding-left: 800px
}

.container_25 .prefix_21 {
	padding-left: 840px
}

.container_25 .prefix_22 {
	padding-left: 880px
}

.container_25 .prefix_23 {
	padding-left: 920px
}

.container_25 .suffix_1 {
	padding-right: 40px
}

.container_25 .suffix_2 {
	padding-right: 80px
}

.container_25 .suffix_3 {
	padding-right: 120px
}

.container_25 .suffix_4 {
	padding-right: 160px
}

.container_25 .suffix_5 {
	padding-right: 200px
}

.container_25 .suffix_6 {
	padding-right: 240px
}

.container_25 .suffix_7 {
	padding-right: 280px
}

.container_25 .suffix_8 {
	padding-right: 320px
}

.container_25 .suffix_9 {
	padding-right: 360px
}

.container_25 .suffix_10 {
	padding-right: 400px
}

.container_25 .suffix_11 {
	padding-right: 440px
}

.container_25 .suffix_12 {
	padding-right: 480px
}

.container_25 .suffix_13 {
	padding-right: 520px
}

.container_25 .suffix_14 {
	padding-right: 560px
}

.container_25 .suffix_15 {
	padding-right: 600px
}

.container_25 .suffix_16 {
	padding-right: 640px
}

.container_25 .suffix_17 {
	padding-right: 680px
}

.container_25 .suffix_18 {
	padding-right: 720px
}

.container_25 .suffix_19 {
	padding-right: 760px
}

.container_25 .suffix_20 {
	padding-right: 800px
}

.container_25 .suffix_21 {
	padding-right: 840px
}

.container_25 .suffix_22 {
	padding-right: 880px
}

.container_25 .suffix_23 {
	padding-right: 920px
}

.container_25 .push_1 {
	left: 40px
}

.container_25 .push_2 {
	left: 80px
}

.container_25 .push_3 {
	left: 120px
}

.container_25 .push_4 {
	left: 160px
}

.container_25 .push_5 {
	left: 200px
}

.container_25 .push_6 {
	left: 240px
}

.container_25 .push_7 {
	left: 280px
}

.container_25 .push_8 {
	left: 320px
}

.container_25 .push_9 {
	left: 360px
}

.container_25 .push_10 {
	left: 400px
}

.container_25 .push_11 {
	left: 440px
}

.container_25 .push_12 {
	left: 480px
}

.container_25 .push_13 {
	left: 520px
}

.container_25 .push_14 {
	left: 560px
}

.container_25 .push_15 {
	left: 600px
}

.container_25 .push_16 {
	left: 640px
}

.container_25 .push_17 {
	left: 680px
}

.container_25 .push_18 {
	left: 720px
}

.container_25 .push_19 {
	left: 760px
}

.container_25 .push_20 {
	left: 800px
}

.container_25 .push_21 {
	left: 840px
}

.container_25 .push_22 {
	left: 880px
}

.container_25 .push_23 {
	left: 920px
}

.container_25 .pull_1 {
	left: -40px
}

.container_25 .pull_2 {
	left: -80px
}

.container_25 .pull_3 {
	left: -120px
}

.container_25 .pull_4 {
	left: -160px
}

.container_25 .pull_5 {
	left: -200px
}

.container_25 .pull_6 {
	left: -240px
}

.container_25 .pull_7 {
	left: -280px
}

.container_25 .pull_8 {
	left: -320px
}

.container_25 .pull_9 {
	left: -360px
}

.container_25 .pull_10 {
	left: -400px
}

.container_25 .pull_11 {
	left: -440px
}

.container_25 .pull_12 {
	left: -480px
}

.container_25 .pull_13 {
	left: -520px
}

.container_25 .pull_14 {
	left: -560px
}

.container_25 .pull_15 {
	left: -600px
}

.container_25 .pull_16 {
	left: -640px
}

.container_25 .pull_17 {
	left: -680px
}

.container_25 .pull_18 {
	left: -720px
}

.container_25 .pull_19 {
	left: -760px
}

.container_25 .pull_20 {
	left: -800px
}

.container_25 .pull_21 {
	left: -840px
}

.container_25 .pull_22 {
	left: -880px
}

.container_25 .pull_23 {
	left: -920px
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0
}

.clearfix:before,.clearfix:after,.container_25:before,.container_25:after
	{
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0
}

.clearfix:after,.container_25:after {
	clear: both
}

.clearfix,.container_25 {
	zoom: 1
}