#banner{margin:0 auto;width:970px;margin-bottom:10px;}
#banner img{width:970px;}

.box{    background-color: #F5F5F5;
    border-color: #D1D1D1;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    padding-right: 1px;
    padding-top: 11px;
    position: relative;
}

.box2{    background-color: #ffffff;
    border-color: #ccc;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
	padding: 10px;
	margin:10px 0;
}

#menulink ul{margin-left:300px;}
#menulink ul li{float:left;margin:10px; }

/*#leftheader{background:url(/img/left-head.png) no-repeat 0 0;margin-bottom:20px;}*/
#profilepicture{width:100%;}
#profilepicture img{width:300px;}
#profile{margin:10px 0 10px 10px;}
#profile li.first{font-weight:bold;font-size:18px;margin-bottom:5px;background-image:none;padding-left:0;}
#profile li{font-size:12px;background:url(/img/clipboard.jpg) no-repeat left center;padding-left:20px;}
#profile li.last{text-align:right;background-image:none;}
#profile li.last a{text-decoration:underline;}
#lessinfo, #moreinfo{float:right;display:block;margin:5px 5px 0 0;font-size:12px;font-weight:normal;}

/*#mainlist li, #mycatlist li{padding-right:20px;text-align:right;background:#ccc;margin:5px 0;line-height:1.5em;}*/
/*
#write{height:69px;background:url("/img/talk.png") no-repeat center center;position:relative;}
#write form{padding:30px;}
#write form #filesummary{border:none;width:200px;}
*/

#personalcategories{padding-top:10px;/*background:url(/img/greybg.png) repeat center bottom;*/}
#personalcategories ul li{float:left;border-left:1px solid #ccc;padding-left:10px;margin-right:10px;}
#personalcategories ul li.noborder{border:none;}
#personalcategories table{width:100%;}
#personalcategories td{padding:0px 10px 10px 10px;}

.middlebox{/*    background-color: #FAFAFA;
    border-color: #BFBFBF;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    margin-left: 1px;
    margin-top: 10px;
    padding: 12px 10px 9px 10px;*/
    margin-bottom:20px;
}
/*.middlebox .title{font-size:1.5em;border-bottom:1px solid #ccc;padding-bottom:10px;margin-bottom:10px;height:25px;width:100%;}
.middlebox .title .editting{float:right;}
#video .title{background:url(/img/video.png) no-repeat left center;}
#audio .title{background:url(/img/audio.png) no-repeat left center;}
#picture .title{background:url(/img/picture.png) no-repeat left center;}
#picture img{height:auto;}
.middlebox table{width:100%;}

.middlebox ul li{float:left;width:220px;text-align:center}
.middlebox ul li .title2{height:30px;line-height:15px;overflow:hidden;}
.middlebox .videolist2 img{width:200px;height:138px;border:0px solid #ccc;}
.middlebox .more{height:15px;margin:10px 0;}
.middlebox .more a{display:block;background:url(/img/more.png) no-repeat right center;width:45px;height:15px;float:right;}
*/

.middlebox .box3{padding:10px 0 0 0;}
.middlebox .textlist li{width:300px;float:left;margin-left:10px;overflow:hidden;}
.middlebox .textlist{margin-bottom:10px;}
#picture ul li{height:auto;}
#picture .spic{height:auto;}

#messagecontainer iframe{margin-bottom:10px;}
#socialPageMessageContainer .commentform textarea{width:100%;height:30px;}
#personPageMessageContainer .commentform textarea{width:100%;height:60px;}
#filesummary{width:99%;}
.messagetitle{margin:5px 0;}

#write{margin:10px 0;}

.uiblock{margin-bottom:10px;padding-bottom:10px;border-bottom:1px solid #eee;}
.uiblock .left{float:left;width:50px;}
.uiblock .right{float:left;width:240px;}
.uiblock .right img{max-width:240px;}
.uiblock .message{}
.commentsummary{float:left;line-height:15px;padding-top:5px;position:relative;width:310px;}
.allcommentblock .commentsummary{width:280px;}
.commentsummary .subcomment{display:block;position:absolute;right:10px;top:5px;}
.commentsummary .hidesubcomment{display:none;position:absolute;right:10px;top:5px;}
.commentsummary .sfont{margin-bottom:5px;}

.action{margin:5px 0;}
.action li{float:left;margin-right:5px;}

#socialPageMessageContainer .right{width:360px;}
#personPageMessageContainer .right{width:240px;}
#personPageMessageContainer .right2{width:120px;float:left;display:inline;}
h6{margin-bottom:5px;}

.commentblock li{margin-bottom:10px;border-bottom:1px dashed #ccc;padding-bottom:10px;}
.childrencomments li{margin-bottom:5px 0;border:none;padding:0}
.childrencomments .commentsummary{width:220px;}

ul.childrencomments{margin-left:50px;}

#hotmusic{border:1px solid #ccc;padding-top:10px;border-radius:4px;}

#recommend .left{width:110px;float:left;margin-right:10px;}
#recommend .right{width:180px;float:left;}

/*register page*/
.registerbox td{padding-bottom:10px;}


/* show/video page*/
.videotitle h1{
    color: #444;
    font-size: 1.5em;
    font-weight: normal;
    height: 1.1363em;
    line-height: 1.1363em;
    margin: 0 0 10px 0;
    overflow: hidden;
    width:560px;
}
#summall{font-size:15px;line-height:1.5em;}
#colorchange{float:right;margin:10px 15px 0;width:60px}
#colorchange li{float:left;border:1px solid #ccc;margin:1px;}
#colorchange a{display:block;width:10px;height:10px;}
#colorchange a.white{background:#fff;}
#colorchange a.grey{background:#888;}
#colorchange a.dark{background:#000;}
#colorchange a.darkblue{background:#042040;}
#rightcol{margin-top:40px;}

/*#mediaplayer{box-shadow:2px 2px 2px 2px #888888;}*/
#articlediv{font-size:1.3em;line-height:1.5em;border-bottom:1px solid #ccc;margin-bottom:10px;padding-bottom:10px;}

#property ul li{float:left;font-size: 13px; margin:0 0px 10px 20px; width: 140px;}
#weeklytops{
    border-color: #D1D1D1;
    border-radius: 0px 0px 4px 4px;
    border-style: solid;
    border-width: 1px;
    padding-left:10px;
    border-top:0;
}
.videolist .spic{width:112px;float:left;display:inline;/*margin-right:10px;*/}
.relatedlist .grid_3, #relatedlist .grid_3, #weeklytops .grid_3{width:160px;}
.videolist li{padding:10px 0 10px 0;line-height:1.3em;}
.videolist .spic img{width:112px;height:70px;}

.roundbox{border-radius:8px;border:3px solid #ccc;}
/* #audiobox{height:526px;} */
#audiobox .videotitle h1{width:auto;text-align:left;height:50px;overflow:auto;max-height:auto;margin-left:0;}
#metatable tr{border-bottom:1px dashed #ccc;}
#metatable td.label{width:90px;background:url(/img/point.png) no-repeat left center;}
#metadata #metatable td{padding:3px 0 2px 15px;vertical-align:middle;}
#metatable #sharebox{margin:0;font-size:13px;}
#tabs{border:none;}

#audiocontainer{position:relative;}
#audioad336{position:absolute;left:55px;top:330px;}

#userlist, #otherlist{background:#efefef;padding:5px;}
#userlist td, #otherlist td{padding:5px;}

/*.videolist .title{margin-top:5px;}*/
.sfont{}
#sharebox{margin:10px 0;background:#eee;padding:5px;}
#shareembed{margin-bottom:10px;}
#sharebox ul li{float:left;}
#sharebox ul li.space{margin-right:8px;}
#sharebox ul #google1{width:70px;overflow:hidden;}
#description{height:auto;line-height:16px;}
#sharebox .blackVirticalBar{border-left:1px solid #aaa;padding-left:5px;}

#jpgdiv{text-align:center;}
#jpgdiv img{max-width:640px}

#bookmarks .left{margin-right:10px;}
#metadata{border:none;}

#shareembed textarea{width:340px;padding:5px;}
#loadingDiv{/*position:fixed;top:50%;left:50%;*/display:none;padding:30px;background:#fff;}

.friendactionblock{border-radius:4px;font-size:12px;}
.friendactionblock .ui-button-text{padding:0.1em 0.2em;border-radius:4px;}
.friendactionblock, .friendactionblock a{color:#aa0000;}

/* category list page*/
#categorypage .grid_3{width:159px;}
#categorypage .grid_14{width:501px;}
#navlist{margin:20px 0 20px 0px;}
#navlist li{float:left;margin-left:20px;}
#navlist li.first{border-right:1px solid #ccc;padding-right:20px;}
#navlist li a.current{color:#aa0000;}
#navlist .memu1{line-height:30px;}

.leftlist{/*border-color:#d1d1d1;border-radius:0 0 4px 4px;border-style:solid;border-width:1px;background:#fff;padding-left:5px;font-size:14px;*/}

.navigation-menu{border-left:1px solid #ccc;border-top:1px solid #ccc;background: url(/img/leftnav-background.png) repeat-y scroll right top transparent;display:block}
.navigation-menu .menu-item{border-top:1px solid #fff;border-bottom:1px solid #ccc;text-shadow:0 1px 1px rgba(255,255,255,.5);text-shadow:0 0 0 transparent,0 1px 1px rgba(255,255,255,.5)}
.navigation-menu .first{border-top:none;}
.navigation-menu .menu-item a{display:block;padding:7px 20px 7px 40px;margin:0;color:#333;text-decoration:none}
.navigation-menu .menu-item a:hover{background:#fdfdfd;background:rgba(255,255,255,.45);text-decoration:none}
.navigation-menu .menu-item .selected a,.navigation-menu .menu-item a.selected{color:#333;background:#fdfdfd;background:rgba(255,255,255,.80);font-weight:bold;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;border-right:4px solid #c4302b}
.navigation-submenu{margin-bottom:10px}
.navigation-menu .menu-subitem a{display:block;padding:5px 0 5px 30px;margin:0;color:#333;text-decoration:none}
#mainlist{background:none;border-right:1px solid #ccc;border-bottom:1px solid #ccc;}
#mainlist .menu-item2{
	text-shadow:0 1px 0 #fff;border-color:#ccc #ccc #aaa;background-color:#e0e0e0;
	-moz-box-shadow:inset 0 0 1px #fff;-ms-box-shadow:inset 0 0 1px #fff;
	-webkit-box-shadow:inset 0 0 1px #fff;box-shadow:inset 0 0 1px #fff;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#fffafafa,EndColorStr=#ffdcdcdc);
	float:left;width:146px;margin:1px;
	padding:5px 0;text-align:center;vertical-align: middle;font-weight:bold;
	}



.newslist small{color:#999}
.audionewslist img, .articlenewslist img{width:15px;}
#categorypage .newslist{margin:10px 0;font-size:1.1em;}

/* .catvideolist li{width:167px;height:170px;margin-bottom:10px;float:left;}
.catvideolist li img{width:152px;height:95px;padding:2px;border:1px solid #ccc;} */

/* front page*/
.spic{position:relative;}
#phonebox{background-position:-323px -483px; height:610px;}
.slides .spic span.duringtime{right:5px;}

#iphonebox #iphoneupload{margin-left:20px;}
.iphonevideolist li{float:left;width:85px;margin:5px 5px 5px 5px;height:104px;}
.iphonevideolist li img{width:85px;height:55px;}
.iphonevideolist li.left{margin-left:28px;}
.iphonevideolist li.right{margin-right:0;}
.iphonevideolist li .title{margin-top:5px;line-height:16px;height:16px;overflow:hidden;margin-bottom:5px;overflow:hidden;font-weight:normal;}

.videolist2 li{width:162px;height:175px;margin-bottom:10px;float:left;}
#biandiaobox li{width:148px;height:130px;margin:0;}
.videolist2 img{width:142px;padding:0px;border:0px solid #ccc;}
.videolist2 td .spic{width:142px;margin:0 auto;}
.videolist2 td{padding-bottom:20px;}
.videolist2 nobr{margin-left:10px;}
.videolist2 nobr img{width:7px;height:14px;margin:0;padding:0;border:0;}
.videolist2 li .spic{text-align:center;width:142px;height:88px;overflow:hidden;margin:0 auto;position:relative;}
.spic span.duringtime{padding:3px;position:absolute;right:0;bottom:0;display:block;color:#fff;background:#000;opacity:0.9;
filter:alpha(opacity=90); /* For IE8 and earlier */}
.videolist2 .sfront{margin:3px 10px 0 10px;color:#555;}
.videolist2 .sfront a{color:#16387C;}
.videolist2 .title{margin-top:5px;max-height:32px;line-height:16px;overflow:hidden;width:142px;}
*html .videolist2 .title{height:32px;}
.videolist2 .sfront .vertical{color:#aaa;}

.brownbox{margin-top:10px;border:1px solid #ff6633;}
#activeusers .left{width:40px;}
#activeusers .right{width:90px;height:32px;line-height:16px;overflow:hidden;}
#activeusers li{width:135px;float:left;margin:5px 0 5px 10px;}
#activeusers li img{width:30px;height:30px;}

.textlist li{list-style:none;}
#audiorecommended .textlist li{float:left;display:inline;margin-right:10px;width:305px;overflow:hidden;height:25px;}

#biandiaobox, #iphoneuploadul, #audiorecommended, #picrecommended, #videorecommended{border:1px solid #E0EEF7;border-top:0;margin-bottom:20px;}
#biandiaobox{margin-bottom:5px;padding-top:5px;}

/*#toprecommend li a{display:block;float:left;max-width:250px;overflow:hidden;margin-right:5px;}*/
#toprecommend li .vertical{font-size:0.9em;vertical-align:top;}

.box3{border:1px solid #eee;border-radius:0px 0px 4px 4px;padding:5px;}

.friendslist li{float:left;width:148px;text-align:center;margin-bottom:15px;}
.friendslist .spic{height:100px;overflow:hidden;}
.friendslist li img{width:130px;}

/* my pictures/video page*/
.videolist3 .spic{width:150px;}
.videolist3 .spic img{width:140px;}
.videolist3 li{margin:10px 0;}
.list4 li{margin:10px 0 10px 10px;}

.videolist table{margin-top:5px;border-bottom:1px solid dashed;padding-bottom:5px;}
.loadmore{background:#eee;padding:5px;}

.grida{width:120px;float:left;display:inline;}
.gridb{width:80px;float:left;display:inline;margin-left:5px;}
#divVideo, #divAudio, #divImage{margin-bottom:10px;}

.deletewallitem{display:block;float:right;display:none;font-weight:normal;}
.uiblock:hover .deletewallitem{display:block;}


#viewfirends td{text-align:center;}
#viecomm td{line-height:1.2em;vertical-align:middle;}
hr{width:100%;margin:10px 0;border-top:1px dashed #ccc;height:1px;}

#backendcontainer td{padding:5px 0;}

#topad728{text-align:center;margin-bottom:10px;padding-bottom:10px;border-bottom:1px solid #ccc;}

#uploadtab .thumbnail img{width:100px;}
