body{font-family:Arial,Helvetica Neue,Helvetica,sans-serif;font-size:13px;/*background:#042040;*/}
.fullpage{background:url(/img/topbg.jpg) no-repeat center top;}

a{text-decoration:none;color:#16387C;target-new:tab;}
a.samecolor:visited{color:#16387C;}
a:visited{color:#888;}
a:hover{text-decoration:underline;}

.container_24 .grid_6a {width: 220px;display:inline;float:left;margin-right:5px;}
.container_24 .grid_8a{width:300px;float:left;display:inline;margin:0 5px;}
.container_24 .grid_9a{width:330px;float:left;display:inline;margin:0 5px;}
.container_24 .grid_10a {width: 420px;display:inline;margin:0 5px;float:left;}
.container_24 .grid_16a{width:640px;float:left;display:inline;margin:0 5px;}
.grid_3a{width:144px;float:left;display:inline;margin-right:10px;}
.grid_13a{width:486px;float:left;display:inline;margin-left:10px;}

.alpha{margin-left:0;}
.omega{margin-right:0}
.greycolor{color:#555;}
span.redcolor, .redcolor span, .redcolor, a.redcolor, a.redcolor:visited{color:#c1272c}
.samefont{font-size:1em;}
.texttitle {color:#555555;  font-size:14px;font-weight:900; }    
.texttitle16 {color:#555555;font-size:16px;
       font-weight:900;
     }    

     .texttitle18
     {
       color:#555555;
       font-size:18px;
       font-weight:900;
     }    
     
     .texttitle20
     {
       color:#555555;
       font-size:20px;
       font-weight:900;
     }    

     .text
     {
       color:#666666;
       font-size:14px;
       font-weight:400;
     }    

     .textsmall
     {
       color:#3B5966;
       font-size:12px;
       margin:3px;
     }    
small{font-size:12px;}
#page{margin:0px auto;}
/*#wrapper{background:#042040}*/
.boxtop{border-top:1px solid #ccc;}
.boxbottom{border-bottom:1px solid #ccc;}
.boxtopdotted{border-top:1px dotted #ccc;}
.boxtopdotted2{border-top:2px dotted #ccc;}
.boxbottomdotted{border-bottom:1px dotted #ccc;}
.boxbottomdotted2{border-bottom:2px dotted #ccc;}
.boxleft{border-left:1px solid #ccc;}
.boxright{border-right:1px solid #ccc;}

.box{border:1px solid #ccc;}
.boxh150{height:150px;}
.boxh250{border:1px solid #ccc;height:250px;}

.boxround5 {
            border:1px solid #ccc;
			-moz-border-radius: 5px 5px / 5px 5px;
			border-radius: 5px / 5px 5px;
		}
     .boxround10 {
            border:1px solid #ccc;
			-moz-border-radius: 10px 10px / 10px 10px;
			border-radius: 10px 10px / 10px 10px;
		}

     .boxround15 {
            border:1px solid #ccc;

			-moz-border-radius: 15px 15px / 15px 15px;
			border-radius: 15px 15px / 15px 15px;
		}
     .boxround10 {
            border:1px solid #ccc;
			-moz-border-radius: 20px 20px / 20px 20px;
			border-radius: 20px 20px / 20px 20px;
		}
		
.emptybox{float:left;width:15px;height:15px;display:block;}

.paging{text-align:right;margin-right:10px;letter-spacing:2px;}
.paging .current{color:#aa0000;font-size:1.2em;}

.clear{clear:both;}
.mtop5{margin-top:5px;}
.mtop3{margin-top:3px;}
.mtop10{margin-top:10px;}
.mtop15{margin-top:15px;}
.mtop20{margin-top:20px;}

.mbottom5{margin-bottom:5px;}
.mbottom10{margin-bottom:10px;}
.mbottom11{margin-bottom:5px;margin-top:5px;margin-left:-5px;}
.mbottom15{margin-bottom:15px;}
.mbottom20{margin-bottom:20px;}
	
.mleft5{margin-left:5px;}
.mleft10{margin-left:10px;margin-top:-8px;}
.mleft20{margin-left:20px;}	
.ptop10{padding-top:10px;}
	
.m5{margin:5px;}
.m10{margin:10px;}
.m15{margin:15px;}
.m20{margin:20px;}
	
.p5{padding:5px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p20{padding:20px;}
.bold{font-weight:bold;}
.rfloat{float:right;}
.left{float:left;}
.right{float:right;}
.white{color:#fff;}
.bluecolor{color:#0000aa;}
.aligncenter{text-align:center;}
.delete{
	background:url(/Icons/RecycleBin_Empty.ico) no-repeat 5px 8px;
	text-indent:24px;
}
#header .home, .home{
	background:url(/Icons/Home.ico) no-repeat 5px 6px;
	text-indent:24px;
}	
.leftmenu .video, .video{
	background:url(/Icons/Video.ico) no-repeat 5px 6px;
	text-indent:24px;
}	
.leftmenu .audio, .audio{
	background:url(/Icons/Audio_Cd.ico) no-repeat 5px 6px;
	text-indent:24px;
}	
.leftmenu .article, .article{
	background:url(/Icons/TextDocument.ico) no-repeat 5px 6px;
	text-indent:24px;
}

.darkgrey a:visited, a.darkgrey:visited, .darkgrey a, a.darkgrey, .darkgrey{color:#555;}
.headtitle{border-bottom:1px solid #ccc;font-size:15px;font-weight:bold;padding:0 0 5px 5px;}
.smallboxtitle{border-bottom:1px solid #ccc;margin-bottom:5px;padding-bottom:5px;}
.boxtitle{padding:0 5px;background:#e0eef7;border:1px solid #e0eef7;background-image:url("/img/left-bar.jpg");background-color:#e0eef7;background-repeat:repeat-x;}
.boxtitle a{display:block;float:left;line-height:32px;height:32px;padding-right:10px;margin-right:10px;/*border-right:2px solid #8E99A6;*/}
.boxtitle a.last{border:none}
a.bigtitle, .bigtitle a, a.bigtitle:visited, .bigtitle a:visited{/*color:#727D98;*/font-size:1.2em;font-weight:bold;}
a.smalltitle, .smalltitle a, a.smalltitle:visited, .smalltitle a:visited{color:#16387C;font-size:1em;}


.textlist{overflow:hidden;}
.newslist{position:relative;border-bottom:0px solid #eee;padding-bottom:0px;margin:7px 0;height:20px;line-height:20px;clear:both;overflow:hidden;padding-right:15px;}
.newslist span.fb-like{position:absolute;right:0;top:0;}

/*#categorypage .newslist{margin:10px 0;}*/

.errortext{color:#ff0000;margin:10px 0;}
.BoldBar13{font-weight:bold;margin-bottom:10px;}

.line01{background:url(/img/line01.png);height:1px;}

.container2 .grid_3{width:159px;}
.container2 .grid_14{width:501px;}

/*header*/
#header2 {border-bottom:1px solid #ccc;/*position:fixed;top:0;left:0;z-index:1000;*/width:100%;background:url(/gb/resources/images/nav_back_down2.gif) repeat-x; }
#header2 table{width:100%;line-height:2em;}
#header2 table .last{text-align:right;}
#header2 #user{border-left:1px solid #ccc;padding-left:10px;}

#header{height:60px;text-align:right;background:url(/img/topbarline.jpg) repeat-x;/*position:fixed;top:0;left:0;width:100%;z-index:1000;*/}
#header .grid_3{width:130px;}
#header .grid_22{width:850px;}
#content{margin-top:0px;/*background:#042040 url(/img/top-bg.png) no-repeat top center;*/}
#container{background:#fff;width:990px;margin:0 auto;padding:8px 0 15px 0;border-radius:8px;}

#headermenu1{padding-top:0px;height:65px;}
#headermenu1 .grid_4{width:180px;margin-right:0;}
#headermenu1 .grid_20{width:800px;height:60px;background:url(/img/bar-2.png) no-repeat;margin:0;}
#headermenu1, #headermenu2{width:100%;}
#headermenu1{background:url(/img/topbar.jpg) repeat-x center top;}
#headermenu2{background:url(/img/bar.png) no-repeat center center;padding-top:15px;height:45px;width:850px;margin-top:-10px;}
#headermenu1 li{height:28px;line-height:28px;}

#headermenu1 .topmenu{margin-top:20px;}
#headermenua .topmenu{padding-top:0px;font-size:12px;}
#headermenua{width:100%;margin-top:2px;}
#headermenua table{float:right;margin-right:10px;}
#headermenua td{height:15px;line-height:15px;vertical-align:middle;}

.topmenu, .topmenu a{color:#fff;}
.topmenu li{float:left;padding:0 5px 0 0;height:15px;line-height:15px;}
.topmenu li.last{float:right;margin-right:5px;}
.topmenu li.first{margin-left:30px;}
.topmenu a:visited{color:#fff;}


.topmenu .smallprofilepicture{width:25px;height:25px;margin:0;margin-right:5px;}

#headermenu2 .topmenu{padding-top:9px;margin:0;}
#headermenu2 li.first{border-left:0px solid #ccc;margin-left:15px;width:180px;}
#headermenu2 li.last{background:none;border:none;float:right;min-width:200px;}
#headermenu2 table{margin:0px auto 0 auto;height:30px;width:820px;}
#headermenu2 li, #headermenu2 td{height:28px;width:45px; text-align:center;line-height:28px;margin-top:1px;}
#headermenu2 td.first{width:150px;}
#headermenu2 td.last{width:230px;}
#headermenu2 li, #headermenu2 li a, #headermenu2 td a, #headermenu2 td a:visited{/*text-shadow: 0px -1px #111;*/font-size:14px;color:#fff;font-weight:bold;}
#headermenu2 .last a, #headermenu2 .last{font-weight:normal;font-size:12px;}


#search{margin:0px 0 0 10px;padding-top:18px;width:325px;height:50px;position:relative;}
#search #searchfield{width:280px;height:25px;background:#f7f7f7;border:none;position:absolute;left:3px;top:18px;z-index:9;}
#search #searchsubmit{position:absolute;left:0;top:14px;z-index:8;}

.topright{padding:5px 0 0 5px;margin-top:5px;position:relative;}

.topright #topmenu{position:absolute;top:25px;left:350px;}
#topmenu a{color:#fff;font-weight:normal;font-size:16px;}
#topmenu li{float:left;}
#topmenu li{border-left:2px solid #ccc;padding-right:5px;margin-right:5px;padding-left:7px;height:15px;line-height:15px;}
#topmenu li.first{border:none;}
.topright #login{position:absolute;right:15px;top:12px;background:url(/img/blackbg2.png) no-repeat center top;width:131px;}
#login #accountmenu{float:right;margin:8px 10px 0 0;}
#accountmenu a{color:#fff;}
#login .smallprofilepicture{float:left;}

.topright #loginform{position:absolute;right:10px;top:20px;}
.topright #loginform input.ui-button{padding:0;}
/*end header*/

.smallprofilepicture{width:28px;height:28px;margin:4px;}

#footer{color:#fff;text-align:center;line-height:2em;padding:30px 0;background:#042040;} 
#footer a{color:#fff;}
#footer td{color:#fff;}
