.allicons{background-image:url(/img/all-icon.png);}
.zan-dark{background-position:-57px -188px;display:block;width:20px;height:16px;float:left;}
.zan-grey{background-position:-40px -130px;display:block;width:23px;height:20px;float:left;}
.zan-blue{background-position:-37px -490px;display:block;width:25px;height:20px;float:left;}

.comment-grey{background-position:-83px -190px;display:block;width:25px;height:16px;float:left;}
.comment-dark{background-position:-110px -190px;display:block;width:25px;height:16px;float:left;}
.boxheader300{display:block;height:30px;background:#efefef;border:1px solid #d1d1d1;}
.boxheader span, .boxheader300 span{display:block;line-height:30px;height:30px;color:#444;padding-left:15px;font-weight:bold;font-size:1.1em;}
.boxheader300 .more{float:right;line-height:30px;margin-right:5px;}
.boxheader{background:#eee;border:1px solid #eee;}
.boxheader .more{float:right;margin-right:10px;display:block;margin-top:5px;}
.smallvirtial{background-position:-195px -255px;display:block;width:5px;height:30px;float:right;}
#logo a{margin-top:7px;background-position:-10px -70px;display:block;width:180px;height:50px;}
#biglogo a{background-position:-8px -28px;width:130px;height:32px;display:block;margin-top:17px;}
.star{background-position:-38px -520px;display:block;width:25px;height:20px;float:left;}
.star{background-position:-188px -190px;display:block;width:40px;height:35px;float:left;}
.star2{background-position:-112px -189px;display:block;width:30px;height:30px;float:left;}
.hotblog{background-position:-30px -213px;display:block;width:298px;height:30px;}
.iphoneupload{background-position:-330px -132px;display:block;width:310px;height:30px;}
.video1{margin-top:5px;background-position:-40px -190px;display:block;width:25px;height:25px;float:left;}
.audio1{margin-top:5px;background-position:-63px -190px;display:block;width:25px;height:25px;float:left;}
.article1{margin-top:3px;background-position:-280px -734px;display:block;width:23px;height:20px;float:left;}
.mobile1{margin-top:5px;background-position:-16px -190px;display:block;width:25px;height:25px;float:left;}
.picture1{margin-top:5px;background-position:-87px -190px;display:block;width:25px;height:25px;float:left;}
#frontsearchinput{background-position:-359px -35px;display:block;width:135px;height:20px;background-color:transparent;border:none;padding-left:10px;line-height:20px;float:left;}
#topsearchinput{background-position:-8px -256px;display:block;width:140px;height:25px;background-color:transparent;border:none;padding-left:10px;line-height:20px;float:left;}
#frontsearchinput{background-position:-8px -256px;display:block;width:140px;height:25px;background-color:transparent;border:none;padding-left:10px;line-height:20px;float:left;margin-top:1px;}
.smallsubmit{cursor: hand; cursor: pointer;background-position:-158px -256px;display:block;width:22px;height:25px;background-color:transparent;border:none;float:left;margin-top:3px;}
.whitebar{background-position:-170px -120px;width:5px;height:15px;float:right;margin-left:5px;}

.ui-state-active .pingluntab, .pingluntab:hover{background-position:-32px -560px;display:block;width:95px;height:35px;}
.pingluntab{background-position:-32px -606px;display:block;width:95px;height:35px;}
.ui-state-active .tuijiantab, .tuijiantab:hover{background-position:-128px -560px;display:block;width:95px;height:35px;}
.tuijiantab{background-position:-128px -606px;display:block;width:95px;height:35px;}
.ui-state-active .embedtab, .embedtab:hover{background-position:-223px -560px;display:block;width:95px;height:35px;}
.embedtab{background-position:-223px -606px;display:block;width:95px;height:35px;}
.authormore{margin-left:50px;background-position:-32px -652px;display:block;width:95px;height:35px;}
.ui-state-active .authormore, .authormore:hover{background-position:-32px -696px;display:block;width:95px;height:35px;}
.relatedvideo{background-position:-128px -652px;display:block;width:95px;height:35px;}
.ui-state-active .relatedvideo, .relatedvideo:hover{background-position:-128px -696px;display:block;width:95px;height:35px;}
.greydot{background-position:-210px -258px;display:block;width:15px;height:15px;float:left;}

span.redcolor, .redcolor span, .redcolor, a.redcolor, a.redcolor:visited{color:#c1272c}


.bg{background: url("http://epochtimes.com/images/preview/share.png") no-repeat scroll 0 0 transparent;
    display: block;
    width: 18px;
    height: 15px;
}
.facebook{background-position:-95px -130px;display:block;width:20px;height:20px;float:left;}
.facebook1{background-position:-20px -158px;display:block;width:15px;height:15px;float:left;}
.twitter{background-position:-140px -130px;display:block;width:20px;height:20px;float:left;}
.twitter1{background-position:-35px -158px;display:block;width:15px;height:15px;float:left;}

.share-panel-embed-container form {
    overflow: auto;
}
.share-embed-size-list {
    overflow: visible;
    font-size:11px;
}
.share-embed-size {
    border: 1px solid #FFFFFF;
    cursor: pointer;
    float: left;
    padding: 4px;
}
.share-embed-size:hover {
    border: 1px solid #CCCCCC;
}
.share-embed-size.selected {
    background: none repeat scroll 0 0 #D8E6FB;
    border: 1px solid #A0B3D9;
}
.share-embed-size > label {
    display: block;
    text-align: center;
}
.share-embed-size .share-embed-size-name {
    color: #666666;
    display: block;
    white-space: nowrap;
}
.share-embed-size-radio {
    display: none;
}
.share-embed-size .share-embed-size-box {
    background: none repeat scroll 0 0 #DDDDDD;
    border: 1px solid #999999;
    display: block;
    margin: auto 0;
    padding: 1px;
}
.share-embed-size:hover .share-embed-radio-box {
    background: none repeat scroll 0 0 transparent;
}
.share-embed-size:hover .share-embed-radio-box {
    background: none repeat scroll 0 0 #D8E6FB;
}
.share-embed-size.selected .share-embed-radio-box {
    background: none repeat scroll 0 0 #D8E6FB;
    border: 1px solid #A0B3D9;
}
.share-embed-size.default .share-embed-size-box {
    height: 32px;
    margin-left: 4px;
    width: 42px;
}
.share-embed-size.medium .share-embed-size-box {
    height: 28px;
    width: 45px;
}
.share-embed-size.large .share-embed-size-box {
    height: 35px;
    width: 55px;
}
.share-embed-size.hd720 .share-embed-size-box {
    height: 43px;
    width: 70px;
}
.share-embed-size.default.wide .share-embed-size-box {
    height: 27px;
    width: 49px;
}
.share-embed-size.medium.wide .share-embed-size-box {
    height: 31px;
    width: 56px;
}
.share-embed-size.large.wide .share-embed-size-box {
    height: 35px;
    width: 64px;
}
.share-embed-size.hd720.wide .share-embed-size-box {
    height: 42px;
    width: 75px;
}
.share-embed-size.custom {
    text-align: right;
}
.share-embed-size.custom .share-embed-customize li {
    margin: 0.25em;
}
.share-embed-size.custom .share-embed-customize input {
    width: 2.5em;
}
.share-embed-customize {
    padding: 0.5em 0;
}
