/*  ==========================================================================
	Master stylesheet for USF Enterprise CMS
	Author: Charlotte Koh, USF University Communications and Marketing
	Author URL: http://www.usf.edu/ucm/
    ==========================================================================  */

/*  ==========================================================================
	Reset CSS
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)

	and normalize.css v3.0.2 | MIT License | git.io/normalize
    ==========================================================================  */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; -webkit-text-size-adjust: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { font-size: .813em; line-height: 1.5; font-family: Arial, sans-serif; color: #666; background-color: #fff; }

ul, ol { margin: 0 0 1.5em 25px; }
ul ul, ul ol, ol ol, ol ul { margin-bottom: 0; }

blockquote, q { quotes: none; }
strong { font-weight: bold; }
em { font-style: italic; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }
input { font-size: 1em; border: 0; }
img { max-width: 100%; display: block; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

a, a:link { 
	font-weight: bold; 
	color: #10805e; 
	text-decoration: none; 
}
a:hover, a:active, a:focus { 
	text-decoration: underline; 
}
#ou-access { color: #666; text-decoration: none; }

h3, h4, h5, h6 { 
	font-family: Arial, sans-serif; 
	font-weight: bold; 
}
h4, h5, h6, p { 
	margin-bottom: 1.5em; 
}
h3 { 
	margin-bottom: 1.25em; 
	font-size: 1.2em; 
	line-height: 1.25em; 
}
h4 { 
	color: #057B56; 
	letter-spacing: 2px; 
	text-transform: uppercase; 
}
h6 { 
	font-style: italic; 
	font-weight: normal; 
}

/*  ==========================================================================
    Clearfix, Collapsing and Accessibility
    ==========================================================================  */
    .u-clearfix:before, .u-clearfix:after, .grid:before, .grid:after, .container:before, .container:after { content:""; display:table; }
    .u-clearfix:after, .grid:after, .container:after { clear:both; }
    .u-clearfix, .grid, .container { *zoom:1; }

    a.skipLink, a.skipLink:hover, a.skipLink:visited, .hidden, .collapsible-heading-status, .no-js .nav-menu .toggle { width:1px; height:1px; position:absolute; left:-99999px; top: auto; overflow:hidden; }
    
    .collapsible-content-collapsed { display:none; }
    .toggle { margin-bottom: 0; }
    
    .mainNav .collapsible-heading-toggle, .secondary-navigation .collapsible-heading-toggle { padding-top: 1em; padding-bottom: 1em; display: block; text-transform: uppercase; }

    a.skipLink:active, a.skipLink:focus { 
        width: 100%;
        height: auto; 
        padding: 0.5em 0;
        display: block;
        position: static; 
        background-color: #0a7756;
        color: #fff;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
    }

/*  ==========================================================================
	Video
    ==========================================================================  */
	.video-container, .media-container {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
	}

	.video-container iframe, .media-container iframe, 
	.video-container object, .media-container object,
	.video-container embed, .media-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

/*  ==========================================================================
	New Fun Things!
    ==========================================================================  */
	.contentTitle { margin-bottom: 0.65em; color: #057b56; font: 2em/1.5em Georgia, serif; }
    .sectionTitle { padding-bottom: 0.25em; border-bottom: 1px solid #dcddde; color: #057b56; }

    .u-wrapper { max-width: 1000px; width: 90%; margin-left: auto; margin-right: auto; }
    
    header ul, footer ul {
        margin-left: 0;
        list-style: none;
    }

    .u-shadowOuter { box-shadow: 0 10px 20px -20px rgba(0, 0, 0, 0.25); }
    .u-shadowInterior { box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5) inset; }

    .content--max { margin-top: 3em; }
    .content--min { margin-top: 0; position: relative; }

    .body--stripes:after { width: 100%; height: 50px; display: block; content: ""; background-color: #dcddde; background-image: linear-gradient(135deg, #dcddde 25%, #ffffff 25%, #ffffff 50%, #dcddde 50%, #dcddde 75%, #ffffff 75%, #ffffff 100%); background-size: 5px 5px; }

/*  ==========================================================================
    Global Information
    ==========================================================================  */ 
    header { 
        -webkit-box-shadow: 0 0px 10px -3px rgba(0,0,0,0.25); 
        -moz-box-shadow: 0 0px 10px -3px rgba(0,0,0,0.25); 
        box-shadow: 0 0px 10px -3px rgba(0,0,0,0.25); 
    }  
    .global, .global_logo, .global_tools, .global_tools ul, .global_search * { 
        margin-bottom: 0; 
    }
    .global_logo {
        padding: 1.15em 0;
        color: #10805e;
        font: 400 1em/1.5em Georgia, serif;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
    }
	.global_logo a {
		font-weight: 400;
		text-decoration: none;
	}

/*  ==========================================================================
    Global Tools
    ==========================================================================  */ 
    .global_tools { 
        padding: 1.15em 0 1em; 
        border-top: 1px solid #e8e8e8; 
    }

    .global_tools ul {
        text-align: center; 
    }
    .global_tools li { 
        display: inline; 
        margin: 0; 
    }
    .global_tools li + li { 
        padding-left: 1em; 
    }

    .global_tools a, 
    .global_tools a:visited { 
        font-size: 0.88em; 
        font-weight: 400; 
        text-transform: uppercase; 
    }

    .global_search {
        width: 200px;
        margin: 0.5em auto;
        padding-left: .25em;
        position: relative;
        background-color: #e9e9ea;
    }
    #site-search-input {
        width: 100%;
		height: 1.538em;
        padding-right: 2.15em;
        border: none;
        -webkit-box-sizing: border-box; 
        -moz-box-sizing: border-box; 
        box-sizing: border-box;
        background-color: #e9e9ea; 
        color: #314942;
    }
    .lt-ie8 #site-search-input {
        width: 90%;
        padding: 0;
    }
    #site-search-submit {
        width: 1.7em; 
        height: 1.538em;
        position: absolute;
        top: 0; 
        right: 0;
        background-color: #118562;
		-webkit-appearance: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
     	border-radius: 0;
    }

/*  ==========================================================================
    Site Information
    ==========================================================================  */ 
    .banner {
        margin-top: 0;
        background-color: #0a7756;
        box-shadow: inset 0px 20px 10px -10px rgba(0,0,0,0.1), inset 0px -20px 10px -10px rgba(0,0,0,0.1);
    }
    .banner_interior {
        padding-top: 1.714em;
        padding-bottom: 1.714em;
    }
	.banner_title { font: 400 2.3em/1.25em Georgia, serif; /* 30px */ }

    .banner_title a {
        color: #fff; 
		font-weight: 400;
    }
    .banner_subtitle, .banner_subtitle a {
        margin: 0;
        color: #f5e9c7;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
	.banner a:hover, .banner a:active, .banner a:focus {
		text-decoration: none;
	}


/*  ==========================================================================
    Main Navigation
    ==========================================================================  */
    .mainNav { 
        margin-top: 0; 
        background-color: #fff; 
    }
    .mainNav--reverse { 
        background-color: #007953; 
        -webkit-box-shadow: inset 0 5px 20px -10px rgba(0,0,0,0.5); 
        -moz-box-shadow: inset 0 5px 20px -10px rgba(0,0,0,0.5); 
        box-shadow: inset 0 5px 20px -10px rgba(0,0,0,0.5); 
    }
    
    .mainNav .toggle-content, .mainNav li { 
        margin: 0; 
    }
    .mainNav li {
        border-top: 1px solid #dcddde; 

    }
    .mainNav--reverse li {
        border-top: 1px solid #3b9b7e; 
        -moz-box-shadow:    0px -1px 0px #166c51;
        -webkit-box-shadow: 0px -1px 0px #166c51;
        box-shadow:         0px -1px 0px #166c51;
    }

    .mainNav a {
        padding: 1.15em 0 0.769em;
        display: block;
        text-decoration: none;
        color: #10805e;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .mainNav_toggle a { 
        padding-left: 35px; 
        background: url("/_resources/images/v2/global/header/main-navigation/menu.png") left center no-repeat; 
    }
    .mainNav--reverse .mainNav_toggle a {
        background-image: url("/_resources/images/v2/global/header/main-navigation/menu-reverse.png");
    }
    .mainNav--reverse a { 
        color: #fff; 
        font-weight: normal; 
    }

    .mainNav_item { 
        position: relative;
    }
    .mainNav_item-toggle { 
        position: absolute; 
        right: 0; 
        top: 10px; 
    }
    .mainNav_item-toggle, 
    .mainNav_item-toggle a, 
    .mainNav_item-toggle img, 
    .subNav, .subNav_group { 
        margin: 0; 
        padding: 0; 
    }

    .mainNav_item .collapsible-heading-toggle { background: url("/_resources/images/v2/global/header/main-navigation/collapse.png") right center no-repeat; /* - */ padding: 0; }
    .mainNav--reverse .mainNav_item .collapsible-heading-toggle { background-image: url("/_resources/images/v2/global/header/main-navigation/collapse-reverse.png"); }
    .mainNav_item .collapsible-heading-toggle img { opacity: 0; vertical-align: middle; }

    .mainNav_item .collapsible-heading-collapsed .collapsible-heading-toggle { background: none; }
    .mainNav_item .collapsible-heading-collapsed .collapsible-heading-toggle img { opacity: 1; }

    .subNav li { 
        padding-left: 1.5em; 
    }

/*  ==========================================================================
    Footer
    ==========================================================================  */ 
    .footer { 
        border-top: 1px solid #dcddde; 
        padding-top: 3em; 
        padding-bottom: 3em; 
    }
    .footer--alt { 
        padding-top: 4.5em;
		padding-bottom: 4.5em;
    }

	.footer_logo {
		margin-bottom: 1.5em;
	}
    .footer_social li { 
        margin-top: 0; 
        display: inline-block; 
    }
    .footer_social li + li { 
        margin-left: 0.5em; 
    }
    .footer_nav li { 
        margin: 0 0 0.5em 0; 
    }


/*  ==========================================================================
	Content
    ==========================================================================  */

.content { 
	width: 90%; 
	max-width: 1000px; 
	margin: 0 auto; 
	padding-top: 1.5em; 
}
.content-title {
	margin-bottom: .65em;
	color: #057b56;
	font: 2.25em/1.333em Garamond, "Times New Roman", serif;
}



/* 	==========================================================================
   	Media Queries
    ==========================================================================  */

@media screen and (min-width: 500px) {
/*  ==========================================================================
    Grid
    ==========================================================================  */
    .grid { margin-left: -1.5em; }
    [class*="grid-"] { width: 100%; padding: 0 0 0 1.5em; float: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

    [class*="grid-sm-"] { margin-top: 0; }

    .grid-sm-1-2 { width: 50%; }
    .grid-sm-1-3 { width: 33.33%; }
    .grid-sm-2-3 { width: 66.66%; }
    .grid-sm-1-4 { width: 25%; }
    .grid-sm-3-4 { width: 75%; }

    .lt-ie8 .grid-sm-1-2 { width: 35%; }
    .lt-ie8 .grid-sm-1-3 { width: 23.33%; }
    .lt-ie8 .grid-sm-2-3 { width: 56.66%; }
    .lt-ie8 .grid-sm-1-4 { width: 15%; }
    .lt-ie8 .grid-sm-3-4 { width: 65%; }
    .lt-ie8 .grid-sm-2-5 { width: 30%; }
    .lt-ie8 .grid-sm-3-5 { width: 50%; }

/*  ==========================================================================
    Global
    ==========================================================================  */ 
    .global_logo { 
        text-align: left; 
    }
    .global_tools ul, .global_search { 
        float: left; 
        text-align: left; 
    }
    .global_search { 
        width: 145px; 
        margin: 0 0 0 1em; 
    }
}


@media screen and (min-width: 515px) {
.magazine-header {
	margin-bottom: 2.5em;
}
.magazine-title {
	float: left;
	line-height: 100px;
}
.magazine-university {
	position: absolute;
	bottom: -2em;
	margin: 0 0 0 1.5em;
	color: #000;
	font-size: 1em;
}
.magazine-tagline {
	width: 200px;
	margin: 1em 0 0;
	float: right;
	color: #fff;
	text-align: right;
}

}


@media screen and (min-width: 650px) {
/*  ==========================================================================
    Grid
    ==========================================================================  */
    [class*="grid-md-"] { margin-top: 0; }

    .grid-md-1-2 { width: 50%; }
    .grid-md-1-3 { width: 33.33%; }
    .grid-md-2-3 { width: 66.66%; }
    .grid-md-1-4 { width: 25%; }
    .grid-md-3-4 { width: 75%; }

    .lt-ie8 .grid-md-1-2 { width: 35%; }
    .lt-ie8 .grid-md-1-3 { width: 23.33%; }
    .lt-ie8 .grid-md-2-3 { width: 56.66%; }
    .lt-ie8 .grid-md-1-4 { width: 15%; }
    .lt-ie8 .grid-md-3-4 { width: 65%; }
    .lt-ie8 .grid-md-2-5 { width: 30%; }
    .lt-ie8 .grid-md-3-5 { width: 50%; }
}

@media screen and (min-width: 730px) {
/*  ==========================================================================
    Global Tools
    ==========================================================================  */
    .global_logo { 
        float: left; 
    }
    .global_logo--space { 
        padding: 2em 0; 
    }
    
    .global_tools { 
        float: right; 
        border-top: none; 
    }
    .global_tools--space { 
        padding: 2.75em 0; 
    }
    
    
    .global_tools ul, .global_search { 
        text-align: left; 
    }
    .global_search { 
        width: 145px; 
        margin: 0 0 0 1em; 
    }
} 

@media screen and (min-width: 750px) {
	.magazine-header {
		margin-bottom: 4.5em;
	}
	.magazine-title {
		font-size: 15em;
		line-height: 150px;
	}
	.magazine-university {
		position: absolute;
		bottom: -2em;
		margin: 0 0 0 1.5em;
		color: #000;
	}
	.magazine-tagline {
		width: 250px;
		font-size: 1.5em;
	}

}

@media screen and (min-width: 850px) {
/*  ==========================================================================
    Collapsing
    ==========================================================================  */
    .collapsible-content-collapsed { display: block; }
    .mainNav .toggle, .secondary-navigation .toggle { display: none; }
    .no-js .nav-menu .toggle { display: block; }

/*  ==========================================================================
    Grid
    ==========================================================================  */
    [class*="grid-lg-"] { margin-top: 0; }

    .grid-lg-1 { width: 100%; }
    .grid-lg-1 + .grid-lg-1 { margin-top: 1.5em; }

    .grid-lg-1-2 { width: 50%; }
    .grid-lg-1-3 { width: 33.33%; }
    .grid-lg-2-3 { width: 66.66%; }
    .grid-lg-1-4 { width: 25%; }
    .grid-lg-3-4 { width: 75%; }

    .lt-ie8 .grid-lg-1-2 { width: 35%; }
    .lt-ie8 .grid-lg-1-3 { width: 23.33%; }
    .lt-ie8 .grid-lg-2-3 { width: 56.66%; }
    .lt-ie8 .grid-lg-1-4 { width: 15%; }
    .lt-ie8 .grid-lg-3-4 { width: 65%; }
    .lt-ie8 .grid-lg-2-5 { width: 30%; }
    .lt-ie8 .grid-lg-3-5 { width: 50%; }
    
/*  ==========================================================================
    Site Information
    ==========================================================================  */ 
    .banner_interior {
        padding-top: 2.5em;
        padding-bottom: 2.5em;
        background: url('/_resources/images/v2/global/header/banner/seal.png') top right no-repeat;
    }
    .banner_subtitle {
        margin-top: 0.5em;
    }

/*  ==========================================================================
    Main Navigation
    ==========================================================================  */
    .mainNav_menu {
        display: table;
        table-layout: fixed;
        width: 100%;
    }
    .mainNav_item {
        display: table-cell;
        text-align: center;
        border-top: none;
        position: static;
		vertical-align: bottom;
    }
    .mainNav li {
        border-top: none;
        -moz-box-shadow:    none;
        -webkit-box-shadow: none;
        box-shadow:         none;
    }
	.mainNav_item > a {
		padding-left: 0.575em;
		padding-right: 0.575em;
	}
    .mainNav_item a {
        border-bottom: 4px solid transparent;
        position: relative;
    }
    .mainNav_item > a:hover, 
    .mainNav_item > a:focus, 
    .mainNav_item.open > a, 
    .mainNav_item:hover > a {
        border-bottom: 4px solid #9ccb3b;
    }
    .mainNav_item.has-subNav > a:hover:after, 
    .mainNav_item.has-subNav > a:focus:after, 
    .mainNav_item.open.has-subNav > a:after, 
    .mainNav_item.has-subNav:hover > a:after {
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        border-top: 8px solid #9ccb3b;
        content: "";
        height: 0;
        left: 50%;
        margin-left: -8px;
        position: absolute;
        bottom: -12px;
        width: 0;
        z-index: 2;
    }

/*  ==========================================================================
    Drop Down
    ==========================================================================  */
    .subNav {
        margin: 0;
        text-align: left;
        padding: 1.5em 0;
        background-color: #49565a;
    }
    .js .subNav {
        width: 100%;
        position: absolute;
        left: -9999em;
        z-index: 1;
        -webkit-box-shadow: 0 5px 10px 0px rgba(0,0,0,0.25);
        -moz-box-shadow:    0 5px 10px 0px rgba(0,0,0,0.25);
        box-shadow:         0 5px 10px 0px rgba(0,0,0,0.25);
    }
    .js .mainNav_item.open .subNav, 
    .js .mainNav_item a:hover ~ .subNav, 
    .js .mainNav_item:hover .subNav, 
    .js .mainNav_item a:focus ~ .subNav {
        width: 100%;
        position: absolute;
        left: 0;
        background-color: #49565a;
    }
    .subNav_interior {
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
        padding-left: 20px; 
        padding-right: 20px;
    }

    .no-js .subNav_group { 
        width: 100%; 
        float: none; 
    }
    .subNav_group li { 
        padding: 0; 
    }
    .subNav_group li + li { 
        border-top: 1px solid #67777c; 
    }

    .subNav a { 
        padding: 0.7em 0; 
        color: #fff;
        font-weight: 400;
        text-transform: none;
        font-size: 1.15em;
        border: none;
        transition: color 0.25s ease;
    }
    .subNav a:hover, 
    .subNav a:focus {
        border: none;
        color: #ebe0bf;
    }
}


@media screen and (min-width: 900px) {

.content { 
	padding-top: 1.5em; 
}

}


/* 	==========================================================================
   	IE FIXES
    ==========================================================================  */
	
.no-js.lt-ie9 .top-bar-logo, .no-js.lt-ie9 .news-widget-thumbnail, .no-js.lt-ie9 .footer-usf-logo { width: auto; }
.no-js.lt-ie9 .main-nav-four, .no-js.lt-ie9 .main-nav-five, .no-js.lt-ie9 .main-nav-six, .no-js.lt-ie9 .footer-info { width: 90%; margin: 0 auto; }


/* 	==========================================================================
   	CALENDAR FIXES
    ==========================================================================  */

#subsTree ul { margin: 0; }
