/*  ==========================================================================
	Home page stylesheet for USF Enterprise CMS
	Author: Charlotte Koh, USF University Communications and Marketing
	Author URL: http://www.usf.edu/ucm/
    ==========================================================================  */

/*  ==========================================================================
	Emergency Messaging
    ==========================================================================  */
.emergency {
	display: none;
	padding: 1.5em 0;
	background-color: #b70304;
	color: #fff;
}
.emergency-heading {
	font-family: Arial, sans-serif;
	font-size: 1.846em;
}
.emergency-heading span:first-child {
	font-weight: bold;
	text-transform: uppercase;
}
.emergency-details {
	margin: .75em 0 0;
}
.emergency-meta, .emergency-text {
	margin-bottom: 0;
}
.emergency-meta {
	font-size: 1.1em;
}

/*  ==========================================================================
	Custom Alert
    ==========================================================================  */
.customAlert {
	background-color: #49565a;
	color: #fff;
	display: block;
	font-size: 1.2em;
	font-weight: 700;
}
.customAlert .u-wrapper {
	background: url('/_resources/images/v2/global/elements/custom-alert-icon.png') center left no-repeat;
	padding: 1em 0;
}
.customAlert_text {
	margin-bottom: 0;
	padding-left: 64px;
}
.customAlert a {
	color: #fff;
}
.customAlert a:link, .customAlert a:visited {
	border-bottom: 1px dotted #fff;
}
.customAlert a:hover, .customAlert a:active, .customAlert a:focus {
	border-bottom: 1px solid #fff;
	text-decoration: none;
}


/*  ==========================================================================
	Feature Navigation
    ==========================================================================  */	
.feature-actions, .feature-text-nav {
	margin: 0 0 1.5em 0;
}
.feature-text-nav {
	list-style: none;
}
.feature-action, .feature-text-nav li {
	border-top: 1px solid #fff;
	-moz-box-shadow:    0px -1px 0px #dcddde;
  	-webkit-box-shadow: 0px -1px 0px #dcddde;
  	box-shadow:         0px -1px 0px #dcddde; /* white border then grey boxshadow */
}
.feature-action:first-child, .feature-text-nav li:first-child {
	border-top: none;
	-moz-box-shadow:    none;
  	-webkit-box-shadow: none;
  	box-shadow:         none;
}
.feature-actions a, .feature-text-nav a, .feature-actions a:visited, .feature-text-nav a:visited {
	padding: 1.25em 1.5em;
	display: block;
	font-weight: normal;
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;
}
.feature-text-nav a, .feature-text-nav a:visited {
	background: #f7f7f7 url("/_resources/images/global/elements/grey-arrow.png") no-repeat right center;
	font-weight: bold;	
	padding-right: 30%;
}
.feature-actions a:hover, .feature-text-nav a:hover, .feature-actions a:active, .feature-text-nav a:active, .feature-actions a:focus, .feature-text-nav a:focus {
	background-color: #eee;
	color: #057b56;
	text-decoration: none;
} 
.feature-action-headline {
	display: block;
	width: 80%;
	margin-bottom: 0;
	font-size: 1.1em;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.feature-action-text {
	display: block;
	width: 70%;
	margin-bottom: 0;
	color: #666;
}
.feature-actions a {
	border-right: 1.25em solid transparent;
	padding-right: 0;
	zoom: 1;
}
.lt-ie8 .feature-actions a {
	border-right: 1.25em solid #f7f7f7;
}
.lt-ie8 .feature-actions a:hover {
	border-right: 1.25em solid #eee;
}
a.feature-action-cog {
	background: #f7f7f7 url("/_resources/images/feature-actions/icon-cog.png") no-repeat right center;
}
a.feature-action-paper {
	background: #f7f7f7 url("/_resources/images/feature-actions/icon-paper.png") no-repeat right center;
}
a.feature-action-compass {
	background: #f7f7f7 url("/_resources/images/feature-actions/icon-compass.png") no-repeat right center;
}
a.feature-action-person {
	background: #f7f7f7 url("/_resources/images/feature-actions/icon-person.png") no-repeat right center;
}
a.feature-action-handshake {
	background: #f7f7f7 url("/_resources/images/feature-actions/icon-handshake.png") no-repeat right center;
}
a.feature-action-wrench {
	background: #f7f7f7 url("/_resources/images/feature-actions/icon-wrench.png") no-repeat right center;
}
a.feature-action-envelope {
	background: #f7f7f7 url("/_resources/images/feature-actions/icon-envelope.png") no-repeat right center;
}
a.feature-action-wireless {
	background: #f7f7f7 url("/_resources/images/feature-actions/icon-wireless.png") no-repeat right center;
}
a.feature-action-person-plain {
	background: #f7f7f7 url("/_resources/images/feature-actions/icon-person-plain.png") no-repeat right center;
}
a.feature-action-gift {
	background: #f7f7f7 url("/_resources/images/feature-actions/icon-gift.png") no-repeat right center;
}
a.feature-action-message {
	background: #f7f7f7 url("/_resources/images/feature-actions/icon-message.png") no-repeat right center;
}
a.feature-action-students {
	background: #f7f7f7 url("/_resources/images/feature-actions/icon-students.png") no-repeat right center;
}
a.feature-action-signature-programs {
	background: #f7f7f7 url("/_resources/images/feature-actions/icon-signature-programs.png") no-repeat right center;
}
a.feature-action-research {
	background: #f7f7f7 url("/_resources/images/feature-actions/icon-research.png") no-repeat right center;
}
a.feature-action-video {
	background: #f7f7f7 url("/_resources/images/feature-actions/icon-video.png") no-repeat right center;
}
a.feature-action-express {
	background: #f7f7f7 url("/_resources/images/feature-actions/icon-express.png") no-repeat right center;
}
a.feature-action-employer-connection {
	background: #f7f7f7 url("/_resources/images/feature-actions/icon-employer-connection.png") no-repeat right center;
}
a.feature-action-about-us {
	background: #f7f7f7 url("/_resources/images/feature-actions/icon-about-us.png") no-repeat right center;
}
a.feature-action-at-home {
	background: #f7f7f7 url("/_resources/images/feature-actions/icon-at-home.png") no-repeat right center;
}
a.feature-action-be-safe {
	background: #f7f7f7 url("/_resources/images/feature-actions/icon-be-safe.png") no-repeat right center;
}
a.feature-action-complete-your-degree {
	background: #f7f7f7 url("/_resources/images/feature-actions/icon-complete-your-degree.png") no-repeat right center;
}
a.feature-action-question-mark {
	background: #f7f7f7 url("/_resources/images/feature-actions/icon-question-mark.png") no-repeat right center;
}
a.feature-action-alert {
	background: #f7f7f7 url("/_resources/images/feature-actions/icon-alert.png") no-repeat right center;
}
a.feature-action-hazardous-waste {
	background: #f7f7f7 url("/_resources/images/feature-actions/icon-hazardous-waste.png") no-repeat right center;
}
a.feature-action-laptop {
	background: #f7f7f7 url("/_resources/images/feature-actions/icon-laptop.png") no-repeat right center;
}
a.feature-action-book {
	background: #f7f7f7 url("/_resources/images/feature-actions/icon-book.png") no-repeat right center;
}
a.feature-action-calculator {
	background: #f7f7f7 url("/_resources/images/feature-actions/icon-calculator.png") no-repeat right center;
}
a.feature-action-camera {
	background: #f7f7f7 url("/_resources/images/feature-actions/icon-camera.png") no-repeat right center;
}
a.feature-action-bullsync {
	background: #f7f7f7 url("/_resources/images/feature-actions/icon-bullsync.png") no-repeat right center;
}
a.feature-action-e {
	background: #f7f7f7 url("/_resources/images/feature-actions/icon-e.png") no-repeat right center;
}
a.feature-action-lock-circle {
	background: #f7f7f7 url("/_resources/images/feature-actions/icon-lock-circle.png") no-repeat right center;
}

/*  ==========================================================================
	Feature
    ==========================================================================  */

.feature:before, .feature:after, .feature-image:before, .feature-image:after, .feature-rotator:before, .feature-rotator:after {
    content:"";
    display:table;
}
.feature:after, .feature-image:after, .feature-rotator:after {
    clear:both;
}
.feature, .feature-image, .feature-rotator {
    *zoom:1;
}
.feature-image, .feature-rotator, .feature-video {
	margin-bottom: 1.5em;
}
.feature-image, .feature-rotator, .feature-rotator .slide {
	position: relative;
}
.feature-headline {
	margin-bottom: 0;
}
.feature-rotator .slides {
	margin: 0;
	list-style-type: none;
}
.feature-rotator .slides > li {
	display: none; 
	-webkit-backface-visibility: hidden; /* Hide the slides before the JS is loaded. Avoids image jumping */
} 
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

.feature-image img, .feature-rotator img {
	max-width: 100%;
	display: block; 
}
.feature-caption img {
	margin-bottom: 1.5em;
}
.feature-caption p {
	margin-bottom: 0;
}
.flex-control-nav {
	display: none;
}
.flex-direction-nav {
	margin: 1.5em 0 0 0;
	display: block;
	list-style: none;
}
.flex-prev {
	float: left;
}
.flex-next {
	float: right;
}

/* No JavaScript Fallback */
.no-js .feature-rotator .slides li { 
	display: block;
}
.no-js .feature-rotator .slides li {
	margin-bottom: 1.5em;
}


/*  ==========================================================================
    Feature - Mega
    ==========================================================================  */
    .featureMega {
        position: relative;
		margin-bottom: 1.5em;
    }
    .featureMega_image {
        height: 0;
        padding-top: 40.31%;
    }
    .featureMega_text {
        font-family: Georgia, serif; 
        font-size: 1.5em; /* 30px */ 
        line-height: 1.25em;
        color: #057b56;
        margin-top: 0.75em;
		margin-bottom: 0;
        text-align: center;
    }
	.featureMega_text a {
		font-weight: 400;
	}
    .featureMega_caption {
        border-bottom: 1px solid #dcddde;
        padding-bottom: 0.75em;
		margin-bottom: 0;
    }

/*  ==========================================================================
    Band
    ==========================================================================  */
    .band {
        background-color: #007953;
        text-align: center;
        padding-top: 3em;
        padding-bottom: 3em;
    }
    .band, .band a { 
        color: #fff; 
    }
    .band_summary { 
        padding-bottom: 1em;
        border-bottom: 1px solid #9ccb3b;
        font: italic 1.5em/1.5em Georgia; 
    }
	.band_list {
		list-style: none;
		margin: 1.5em 0 0;
	}
    .band_list li { 
        font-size: 1.23em; 
    }
	.band_list li + li {
		margin-top: 1.5em;
	}
	.band_list a:hover, .band_list a:active, .band_list a:focus {
		text-decoration: underline;
	}

/*  ==========================================================================
    Calls to Action
    ==========================================================================  */
    .cta { 
        padding-bottom: 1.5em; 
    }
	.cta ul {
		list-style: none;
		margin: 0;
	}
    .band .cta { 
        border-bottom: 1px solid #9ccb3b; 
    }

    .cta_item + .cta_item { 
        padding-top: 1.5em; 
		margin-top: 1.5em;
        border-top: 1px solid #ededee; 
    }
    .band .cta_item + .cta_item { 
        border-top: 1px solid #9ccb3b; 
    }
    .cta_item * { 
        margin: 0 auto; 
        display: block; 
        font-weight: normal; 
        text-align: center; 
    }

    .cta_link:hover, 
    .cta_link:active, 
    .cta_link:focus { 
        text-decoration: none; 
    }
    .cta_link:hover .cta_headline, 
    .cta_link:active .cta_headline, 
    .cta_link:focus .cta_headline { 
        text-decoration: underline; 
    }
    
    .cta_headline { 
        font: 1.5em/1.25em Georgia, serif; 
    }
    .band .cta_headline { 
        padding-bottom: 30px; 
        background: url('/_resources/images/v2/global/elements/green-arrow.png') no-repeat center bottom; 
    }
    .cta_text { 
        margin-top: 0.5em; 
        color: #555; 
    }

/*  ==========================================================================
	Widgets
	==========================================================================  */
	
.widget-area:before, .widget-area:after, .widget:before, .widget:after, .w-row:before, .w-row:after, .w-item:before, .w-item:after, .cal-event:before, .cal-event:after, .w-form:before, .w-form:after, .widgets--spacious:before, .widgets--spacious:after {
    content:"";
    display:table;
}
.widget-area:after, .widget:after, .w-row:after, .w-item:after, .cal-event:after, .w-form:after, .widgets--spacious:after {
    clear:both;
}
.widget-area, .widget, .w-row, .w-item, .cal-event, .w-form, .widgets--spacious {
	*zoom:1;
}
.widget {
	margin-bottom: 1.5em;
}
.w-item {
	margin-bottom: 1.5em;
}
.w-name {
	margin-bottom: 1.393em;
	background-color: #f7f7f7;
	border-bottom: 1px solid #dcddde;
	font: 1.077em Arial, sans-serif;
	letter-spacing: 2px;
	line-height: 1.393em;
	text-transform: uppercase;	
}
.w-name a:link, .w-name a:visited {
	padding: .7em 1em .7em;
	display: block;
	background: url("/_resources/images/global/elements/grey-arrow.png") no-repeat right center;
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;
	color:#006849;
	font-weight: normal;
}
.w-name a:hover, .w-name a:active, .w-name a:focus {
	background-color: #eee;
	color: #057b56;
	font-weight: normal;
	text-decoration: none;
}
.w-name--nolink {
	padding: .7em 1em;
}
.w-headlines {
	margin: 0;
	list-style: none;
}
.w-headlines li {
	margin-bottom: 1.5em;
}
.w-headlines a {
	display: block;
}
.w-thumbnail {
	max-width: 32%;
	width: auto;
	height: auto;
	margin-bottom: 1.5em;
	float: left;
}
.w-content-3 .w-thumbnail {
	max-width: 100%;
  	margin-bottom: .75em;
  	float: none;
}
.w-feature {
	max-width: 100%;
	width: auto;
	height: auto;
	margin-bottom: 1.5em;
	display: block;
}
.w-text {
	margin-left: 38%;
}
.w-content-3 .w-text {
	margin-left: 0;
}
.w-headline {
	font-size: 1em;
	margin-bottom: 0;
}
.w-text p {
	margin: .75em 0 0;
}
.w-text .w-meta {
	margin-top: 0;
}
.w-meta {
	color: #999999;
	font-size: .9em;
	line-height: 1.667em;
}

/* 	Widget Events
    ==========================================================================  */

.cal-events {
	margin: 0;
	list-style: none;
}
.cal-event {
	margin-bottom: 1.5em;
	padding-top: 1.5em;
	border-top: 1px solid #dcddde;
}
.cal-event:first-child {
	padding: 0;
	border-top: none;
}
.cal-date, .cal-date-spanning, .cal-month, .cal-day {
	width: 65px;
	float: left;
	color: #9ACA3C;
	text-align: center;
	text-transform: uppercase;
}
.cal-month, .cal-day {
	font-size: 1.115em;
	line-height: 1.345em;
}
.cal-day {
	font-size: 1.3em;
}
.cal-date-spanning .cal-month, .cal-date-spanning .cal-day {
	width: auto;
	float: none;
}
.cal-date-spanning .cal-month {
	margin-right: .2em;
}
.cal-date-spanning .cal-day {
	font-size: 1.115em;
}
.cal-info {
	margin-left: 85px;
}
.cal-info a {
	margin-bottom: .357em;
	display: block;
}
.cal-time {
	color: #999999;
}

/* 	Widget Form
    ==========================================================================  */

.w-form {
	max-width: 320px;
	margin-bottom: 1.5em;
}
.w-input {
    width:79%;
	height: 18px;
    padding:5px;
	float: left;
	border: 1px solid #ccc;
	border-right: none;
    color: #666;
}
.w-submit {
	width: 15%;
	height: 30px;
	float: left;
	background-color: #0e7b5b;
	border: none;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	text-transform: uppercase;
}

/*  ==========================================================================
	Widgets -- Home Main
	==========================================================================  */
	.widgets--spacious .widget {
		margin-bottom: 3.5em;
	}
	.widgets--spacious .w-content-3 .widget {
		margin-bottom: 1.5em;
	}
	.cta + .widgets--spacious {
		margin-top: 3.5em;
	}
	.widgets--spacious .w-name {
		background: none;
		border-bottom: 2px solid #ededee;
	}
	.widgets--spacious .w-name a:link, .widgets--spacious .w-name a:visited {
		padding: 0 0 10px 0;
		display: inline-block;
		border-bottom: 2px solid #9ccb3b;
		background: none;
		-webkit-transition: unset;
		-moz-transition: unset;
		-o-transition: unset;
		transition: unset;
		color: #10805e;
		font-weight: bold;
		position: relative;
        top: 2px;
        text-decoration: none;
	}
	.widgets--spacious .w-name a:hover, .widgets--spacious .w-name a:active, .widgets--spacious .w-name a:focus {
		background: none;
		color: #10805e;
		font-weight: bold;
		text-decoration: none;
	}
	.widgets--spacious .w-meta { 
        margin-top: 0.75em; 
        text-transform: uppercase; 
        color: #717578; 
        font-weight: bold; 
        letter-spacing: 2px; 
    }
	.widget_block {
        max-width: 320px;
        margin-top: 0;
        padding: 2em;
        position: relative;
        background-color: #f1f2f2;
        -webkit-box-sizing: border-box; 
        -moz-box-sizing: border-box; 
        box-sizing: border-box;
    }
    .widget_block:after {
        width: 0;
        height: 0;
        margin-left: -15px;
        position: absolute;
        top: -10px;
        left: 50%;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        border-bottom: 10px solid #f1f2f2;
        z-index: 2;
        content: "";
    }

    .w-headline--block { 
        font-size: 1.5em; 
		margin-bottom: 0.5em;
    }
	.w-summary--block {
		margin-bottom: 0;
	}
    .w-headline--block a { 
        color: #057b56; 
    }

/*  ==========================================================================
	Widgets -- Home Main Two Column News
	==========================================================================  */
.widgets--spacious .w-col-2 .w-thumbnail {
	max-width: 100%;
	width: auto;
	height: auto;
	float: none;
}
.widgets--spacious .w-col-2 .w-text {
	margin-left: 0;
}
.widgets--spacious .w-col-2 .w-headline {
	font-size: 1.23em;
	line-height: 1.5em;
}

/* 	==========================================================================
	Social Media Bar
	==========================================================================  */
	
#social-media-bar {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto 1.5em;
	text-align: center;
}
.social-media-headline-wrapper {
	margin-bottom: 1.5em;
	padding-top: 1.5em;
	border-top: 1px solid #dcddde;
}
.social-media-headline {
	margin-bottom: 0;
	font: italic 1.692em Georgia, "Times New Roman", serif;
}
.social-media-headline a {
	font-weight: normal;
}
.social-media-list {
	width: 50%;
	margin: 0 auto;
	list-style: none;
}
.social-media-list li {
	margin-bottom: 1em;
	font-weight: bold;
	text-align: left;
}
.social-media-list li img {
	padding-right: 5px;
	vertical-align: middle;
}
.lt-ie8 .social-media-headline-wrapper {
	margin: 4em 0 2em;
	padding-top: 2em;
	border-top: 1px solid #dcddde;
    border-bottom: none;
}



/* 	==========================================================================
	Media Queries
	==========================================================================  */
	
@media screen and (min-width: 515px) {
	
/* 	Feature
    ==========================================================================  */
	
.flex-control-nav {
	width: 100%;
	margin: 0;
	padding: .5em 0;
	position: absolute;
    right: 0;
	display: block;
	background-image: url("/_resources/images/global/elements/rotator-bg.png");
	background: rgba(0,0,0,.6);
    z-index: 10;
	list-style: none;	
	text-align: right;
}
.flex-control-nav li:first-child {
    border-left: medium none;
}
.flex-control-nav li {
    border-left: 1px solid #8D8D88;
    display: inline;
}
.flex-control-nav li a {
	padding: 0.5em 1em;
    color: #8D8D88;
	cursor: pointer;
	font-weight: bold;
}
.flex-control-nav a:hover, .flex-control-nav a:active, .flex-control-nav a.flex-active {
    color: #FFFFFF;
}
.flex-direction-nav {
	display: none;
}
	
	
/* 	Widgets
    ==========================================================================  */	

.w-item, .w-content-2 .w-item, .w-content-2 .w-col {
	width: 48%;
	margin-left: 3%;
	float: left;
}
.w-col .w-item {
	width: 100%;
	margin-left: 0;
}
.w-content-3 .w-item {
	width: 31.3%;
	margin: 0 0 1.5em 3.04%;
	float: left;
}
.w-content-3 .w-headlines {
	font-size: 0;
}
.w-content-3 .w-headlines li {
	width: 31.3%;
	margin: 0 0 1.188em 3.04%;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
}
.lt-ie8 .w-content-3 .w-item, .lt-ie8 .w-content-3 .w-headlines li {
	width: 31%;
}
.lt-ie8 .w-content-3 .w-headlines li {
	display: inline;
	zoom: 1;
}									
.w-item:first-child, .w-name + .w-item, .w-name + .w-col {
	margin-left: 0;
}
.w-content-3 .w-headlines li:first-child, .w-content-3 .w-headlines li:first-child + li + li + li {
	margin-left: 0;
}
.w-content-3 .w-headlines a {
	width: 100%;
	overflow: hidden;
	font-size: .813em;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.w-content-3 .w-headlines .w-meta {
	display: inline-block;
	vertical-align: top;
	font-size: .731em;
}
.lt-ie8 .w-row, .lt-ie8 .w-content-3 .w-headlines {
	margin-bottom: 1.5em;
}

/* 	Widgets -- Home Main Two Column News
    ==========================================================================  */	
.widgets--spacious .w-col-2 .w-thumbnail {
	margin-bottom: 0;
	float: left;
}
.widgets--spacious .w-content-2 .w-item {
	width: 100%;
	margin-left: 0;
	float: none;
}
.widgets--spacious .w-content-2 .w-text {
	margin-left: 200px;
}

/* 	Social Media Bar
    ==========================================================================  */
	
#social-media-bar {
	margin-bottom: 3em;
}
.social-media-headline-wrapper {
	margin-bottom: 4em;
	padding-top: 0;
	border-top: none;
	border-bottom: 1px solid #dcddde;
}
.social-media-headline {
	padding: 0 25px;
	position: relative;
	top: .75em;
	display: inline-block;
	background-color: #fff;
}
.social-media-list {
	width: auto;
}
.social-media-list li {
	padding: 0 10px;
    display: inline-block;
}
.lt-ie8 .social-media-list li {
	display: inline;
}

}

@media screen and (min-width: 650px) {
/*  ==========================================================================
    Band
    ==========================================================================  */
    .band * + * { 
        margin-top: 3em; 
    }

    .band_summary { 
        padding-bottom: 0; 
        border-bottom: none; 
    }
    
    .band_list li { 
        display: inline; 
    }
    .band_list li + li { 
        margin-left: 3em; 
    } 
	
/*  ==========================================================================
    Calls to Action
    ==========================================================================  */
    .band .cta {
        border-top: none;
        border-bottom: none;
        padding-bottom: 0;
    }
    .cta ul {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    .cta_item { 
        display: table-cell; 
        position: relative; 
    }
    .cta_item + .cta_item, .band .cta_item + .cta_item { 
        border-top: none; 
        padding-top: 0; 
		margin-top: 0;
    }
    .cta_item + .cta_item:before {
        position: absolute;
        width: 1px;
        height: 100%;
        background: linear-gradient(0deg, #fff, #cecece, #fff);
        content: "";
        left: 0;
    }
    .band .cta_item + .cta_item:before {
        background: linear-gradient(0deg, #007953, #9ccb3b, #007953);
        left: 0;
    }
    .cta_link { 
        max-width: 150px; 
        padding: 10px 0; 
    }
    .cta_link:hover { 
        text-decoration: none; 
    }
    .cta_text {
        margin-top: 0.5em;
        color: #555;
    }
}

@media screen and (min-width: 750px) {		
/* 	Feature
    ==========================================================================  */
	
.feature-small {
	width: 66%;
	float: left;
}
.feature-reverse .feature-small {
	margin-left: 2%;
	float: right;
}
.feature-large {
	width: 100%;
}
.feature-actions, .feature-text-nav, .feature .widget {
	width: 32%;
	float: right;
}
.feature-reverse .widget {
	float: left;
}
.feature-action a {
	padding: 1.75em 1.5em;
}
.feature-action-text {
	width: 60%;
}
.feature-text-nav li {
	background-color: #f7f7f7;
}
.feature-text-nav-5 li {
	min-height: 74px;
}
.feature-text-nav-5 a {
	padding: 2.077em 30% 2.077em 1.5em;
}
.feature-text-nav-6 li {
	min-height: 61px;
}
.feature-text-nav-6 a {
	padding: 1.577em 30% 1.577em 1.5em;
}
.feature-action-headline {
	width: 85%;
}

/* 	Call to Action - Horizontal
    ==========================================================================  */
.feature-actions-horiz .widget {
	width: 100%;
	display: table;
	float: none;
	table-layout: fixed
}
.feature-actions-horiz .widget:before, .feature-actions-horiz .widget:after {
	content: normal;
}
.feature-actions-horiz .feature-action {
	display: table-cell;
	border-top: none;
	background-color: #f7f7f7;
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;
}
.feature-actions-horiz .feature-action:hover, .feature-actions-horiz .feature-action:hover a {
	background-color: #eee;
}
.feature-actions-horiz .feature-action + .feature-action {
	border-left: 1px solid #fff;
	-moz-box-shadow:    -1px 0px 0px #dcddde;
  	-webkit-box-shadow: -1px 0px 0px #dcddde;
  	box-shadow:         -1px 0px 0px #dcddde; /* white border then grey boxshadow */
}
.lt-ie8 .feature-actions-horiz .widget {
	display: block;
	width: 100%;
}
.lt-ie8 .feature-actions-horiz .feature-action {
	display: block;
	float: left;
	width: 24%;
}
	
/* 	Widgets
    ==========================================================================  */
	
.widget {
	width: 32%;
	margin-left: 2%;
	float: left;
}
.w-item {
	width: 100%;
	margin-left: 0;
}
.lt-ie8 .widget {
	width: 31.9%;
}
.widget:first-child, .feature-reverse .widget {
	margin-left: 0;
}
.w-col-2, .lt-ie8 .w-col-2 {
	width: 66%;
	float: left;
}
.w-content-3 {
	width: 100%;
}
.cal-info a, .w-headlines li a {
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
}

@media screen and (min-width: 850px) {
/*  ==========================================================================
    Feature - Mega
    ==========================================================================  */
    .featureMega_image {
        position: relative;
    }
    .featureMega_text {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.45);
        font-family: Georgia, serif; 
        font-size: 2.3em; /* 30px */ 
        font-weight: 400; 
        line-height: 1.25em;
        text-align: left;
        padding: 1em;
        color: #fff;
        background: -webkit-linear-gradient(
            135deg,
            rgba(0, 0, 0, 0.45) 0, 
            rgba(0, 0, 0, 0.45) 76%, 
            transparent 76%, 
            transparent 77%, 
            rgba(0, 0, 0, 0.15) 77%, 
            rgba(0, 0, 0, 0.15) 80%, 
            transparent 80%, 
            transparent 100%
        );
        background: -moz-linear-gradient(
            135deg,
            rgba(0, 0, 0, 0.45) 0, 
            rgba(0, 0, 0, 0.45) 76%, 
            transparent 76%, 
            transparent 77%, 
            rgba(0, 0, 0, 0.15) 77%, 
            rgba(0, 0, 0, 0.15) 80%, 
            transparent 80%, 
            transparent 100%
        );
    }
	.featureMega_text a {
		color: #fff;
	}
    .featureMega_caption {
        border-bottom: none;
        padding-bottom: 0;
        width: 70%;
        float: right;
    }
	
/*  ==========================================================================
    Band
    ==========================================================================  */
    .band_summary {
        width: 80%;
        margin: 0 auto;
        font-size: 1.75em;  
    }
    .band_list li { 
        display: inline; 
    }
    .band_list li + li { 
        margin-left: 3em; 
    }

/*  ==========================================================================
    Calls to Action
    ==========================================================================  */
    .cta_headline { 
        font-size: 1.85em; 
    }
    .cta_link { 
        max-width: 185px; 
    }
}

@media screen and (min-width: 1000px) {
	
/* 	Feature
    ==========================================================================  */	
	
.feature-action {
	min-height: 92px;
}
.feature-action a {
	padding: 1.95em 1.5em;
}
.feature-caption img {
	margin-bottom: 0;
}
.feature-action-text {
	width: 80%;
}
.feature-text {
	width: 94%;
	padding: 1em 3%;
	position: absolute;
	bottom: 0;
	left: 0;
	background-image: url("/_resources/images/global/elements/rotator-bg.png");
	background: rgba(0,0,0,.6);
	color: #fff;
}
.feature-rotator .feature-headline, 
.feature-rotator .feature-caption {
	width: 65%;
}
.no-js .feature-rotator p, .no-js .feature-small p, .no-js .feature-large p {
	width: 100%;
}
.feature-headline a {
	color: #F1EDB5;
}
.feature-caption .flex-control-nav {
	width: auto;
	padding: 0 0 1em 0;
	right: .5em;
	background-image: none;
	background: rgba(0,0,0,0);
}
	
/*  ==========================================================================
    Feature - Mega
    ==========================================================================  */
	.featureMega_text {
        width: 75%;
    }
	
/* 	Widgets
    ==========================================================================  */
	
.w-content-2 .w-col .w-item {
	min-height: 150px;
}	

}

@media screen and (min-width: 1250px) {
/*  ==========================================================================
    Features
    ==========================================================================  */
    .featureMega_text { 
        width: 60%; 
    }
}
