/*  ==========================================================================
	Print stylesheet for USF Enterprise CMS
	Author: Charlotte Koh, USF University Communications and Marketing
	Author URL: http://www.usf.edu/ucm/
    ==========================================================================  */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; -webkit-text-size-adjust: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { font-size: 13px; line-height: 1.5; font-family: Arial, sans-serif; color: #666; background-color: #fff; }
body * + * { margin-top: 1.5em; }

ul, ol { margin-left: 25px; }
ul ul, ul ol, ol ol, ol ul { margin-bottom: 0; }
br, li { margin-top: 0; }

blockquote, q { quotes: none; }
strong { font-weight: bold; }
em { font-style: italic; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }
input { font-size: 1em; border: 0; }

img { max-width: 100%; display: block; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

a, a:link:after { 
	font-weight: bold; 
	color: #057b56; 
	text-decoration: none; 
}
a:link:after {
	content: " ("attr(href)")";
	font-size: 13px;
	text-transform: lowercase;
	letter-spacing: 0;
	font-family: Arial, sans-serif;
}
h3, h4, h5, h6 { 
	font-family: Arial, sans-serif; 
	font-weight: bold; 
}
h3 { 
	font-size: 1.2em; 
	line-height: 1.25em; 
}
h4 { 
	color: #057B56; 
	letter-spacing: 2px; 
	text-transform: uppercase; 
}
h6 { 
	font-style: italic; 
	font-weight: normal; 
}

/*  ==========================================================================
	Clearfix
    ==========================================================================  */ 
.container:before, .container:after, .main-navigation:before, .main-navigation:after, .feature:before, .feature:after, .feature-image:before, .feature-image:after, .feature-rotator:before, .feature-rotator:after, .widget-area:before, .widget-area:after, .widget:before, .widget:after, .w-row:before, .w-row:after, .w-item:before, .w-item:after, .cal-event:before, .cal-event:after, .w-form:before, .w-form:after { 
	content:""; 
	display:table; 
}
.container:after, .main-navigation:after, .feature:after, .feature-image:after, .feature-rotator:after, .widget-area:after, .widget:after, .w-row:after, .w-item:after, .cal-event:after, .w-form:after { 
	clear:both; 
}
.container, .main-navigation, .feature, .feature-image, .feature-rotator, .widget-area, .widget, .w-row, .w-item, .cal-event, .w-form { 
	*zoom:1; 
}

a.skip-link, a.skip-link:hover, a.skip-link:visited, .hidden {
    height: 1px;
    left: -9999px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

/*  ==========================================================================
	Global
    ==========================================================================  */
.top-bar-wrapper, .toggle, #de, .main-navigation, .site-tools {
	display: none;
}
.banner-title { 
	font: 2em Garamond, "Times New Roman", serif; 
}
.banner-subtitle { 
	margin-top: 0.115em; 
	color: #057b56; 
	letter-spacing: 2px; 
	text-transform: uppercase; 
}
.banner-title a, .banner-subtitle a { 
	color: #057b56; 
	font-weight: normal; 
}
.banner-logo-link:link:after, .banner-title a:link:after, .banner-subtitle a:link:after, .footer-info > a:link:after, #ou-access:link:after { 
	content: "";
}
#content, #footer {
    border-top: 1px solid #dcddde;
    padding-top: 3em;
}
.footer-copy *, .footer-navigation li {
	margin: 0;
}
#ou-access {
	color: #666;
}

/*  ==========================================================================
	Feature Area
    ==========================================================================  */
.feature-actions, .feature-text-nav {
	border: 1px solid #dcddde;
}
.feature-text-nav {
	margin-left: 0;
}
.feature-action, .feature-text-nav li {
	padding: 1em;
	margin: 0;
}
.feature-action + .feature-action, .feature-text-nav li + li {
	border-top: 1px solid #dcddde;
}
.feature-text-nav {
	list-style-type: none;
}
.feature-text-nav a:after {
	display: block;
}
.feature-action-headline {
    display: block;
    font-size: 1.1em;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.feature-action-text {
	margin: 0;
	display: block;
	color: #666;
}
.feature-action-headline, .feature-action-text {
	font-weight: normal;
}
.slides {
	list-style-type: none;
	margin: 0;
}
.slide {
	display: none;
}
.flex-active-slide {
	display: block;
}
.flex-control-nav, .flex-direction-nav {
	display: none;
}
.video-container {
	border: 1px solid #dcddde;
}

/*  ==========================================================================
	Widgets
    ==========================================================================  */
.widget, .feature-actions, .feature-text-nav {
	width: 320px;
}
.w-col-2 {
	width: 660px;
}
.w-name {
    background-color: #f7f7f7;
    border: 1px solid #dcddde;
	color: #057b56;
    font: 1.077em/1.393em Arial,sans-serif;
    letter-spacing: 2px;
    margin-bottom: 1.393em;
	padding: 1em;
    text-transform: uppercase;
}
.w-name a, .w-name a:after {
	display: block;
	font-weight: normal;
}
.w-headlines {
	list-style: none;
	margin: 0;
}
.w-headlines li a, .w-headlines li a:after {
	width: 100%;
	display: block;
}
.w-headlines li + li {
	margin-top: 1.5em;
}
.w-headline {
	font-size: 13px;
}
.w-thumbnail {
    float: left;
    height: auto;
    margin-bottom: 1.5em;
    width: auto;
}
.w-text {
	margin: 0 0 0 120px;
}
.cal-events {
	list-style-type: none;
	margin: 0;
}
.cal-event {
	margin: 1.5em 0 0 0;
}
.cal-event + .cal-event {
	border-top: 1px solid #dcddde;
	padding-top: 1.5em;
}
.cal-info, .cal-day, .cal-time {
	margin: 0;
}
.cal-info a {
	display: block;
}
.cal-info a:link:after {
	content: "";
}
.cal-date, .cal-date-spanning, .cal-month, .cal-day {
    float: left;
    text-align: center;
    text-transform: uppercase;
    width: 65px;
}
.cal-month, .cal-day {
    font-size: 1.115em;
    line-height: 1.345em;
}
.cal-day {
    font-size: 1.3em;
}
.w-form {
	max-width: 320px;
	margin-bottom: 1.5em;
}
.w-input {
    width:79%;
	height: 18px;
    padding:5px;
	float: left;
	border: 1px solid #ccc;
	border-right: none;
    color: #666;
}
.w-submit {
	width: 15%;
	height: 30px;
	float: left;
	background-color: #0e7b5b;
	border: none;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	text-transform: uppercase;
}

/*  ==========================================================================
	Social
    ==========================================================================  */
.social-media-headline {
	font: italic 1.692em Georgia,"Times New Roman",serif;
	border-bottom: 1px solid #dcddde;
}
.social-media-headline a {
	font-weight: normal;
}
.social-media-list li {
	margin-top: 0.75em;
}
.social-media-list img {
	display: none;
}

/*  ==========================================================================
	Secondary
    ==========================================================================  */
.secondary-navigation {
	display: none;
}
.page-title-text, .page-title-plain-text {
    border-bottom: 1px solid #dcddde;
    color: #057b56;
    font: 2em/1em Garamond,"Times New Roman",serif;
    margin-bottom: 0.1em;
    padding-bottom: 0.25em;
}
.breadcrumbs ul {
	margin-left: 0;
}
.breadcrumbs li {
    color: #999;
    display: inline;
    font-size: 0.9em;
    line-height: 1.667em;
}
.content-title {
    color: #057b56;
    font: 1.75em/1.333em Garamond,"Times New Roman",serif;
}

/*  ==========================================================================
	Callouts
    ==========================================================================  */
.callout-caption {
    color: #999999;
    font-style: italic;
	width: 100%;
}
.media-caption { margin: 0; font-style: italic; }

.callout-small, [class*="media-small"] {
	width: 100px;
}
.callout-medium, [class*="media-medium"] {
    width: 44%;
}
.callout-right, .media-small-right, .media-medium-right {
    float: right;
    margin-left: 1.5em;
}
.callout-left, .media-small-left, .media-medium-left {
	float: left;
	margin-right: 1.5em;
}

/*  ==========================================================================
	Tables
    ==========================================================================  */
table { 
	width: 100%; 
	margin-bottom: 1.5em;
	table-layout: fixed;
}
caption {
	padding: .625em; 
	font-weight: bold;
	font-size: 1.2em; 
	line-height: 1.25em;
	text-align: left;
}
thead th {
	border-bottom: 3px solid #DCDDDE;
}
tr + tr td {
	border-top: 1px solid #DCDDDE;
}
th, td {
	padding: .813em;
	text-align: left;
}
th {
	font-weight: bold;
}
.table-bordered, .table-bordered-striped {
	border: 1px solid #DCDDDE;
}
.table-bordered td + td, .table-bordered thead th + th, .table-bordered-striped td + td, .table-bordered-striped thead th + th {
	border-left: 1px solid #DCDDDE;
}

