@font-face {
  font-family: 'IM Fell Double Pica';
  font-style: italic;
  font-weight: 400;
  src: local('IM FELL Double Pica Italic'), local('IM_FELL_Double_Pica_Italic'), url(https://fonts.gstatic.com/s/imfelldoublepica/v6/64odUh2hAw8D9dkFKTlWYrFrn-MbtLE0OZKVtdhT56o.ttf) format('truetype');
}
