/*
    CSS solely for use on the temporary, public homepage for rS.com
*/
/* Overrides for the html outside of login.html */
div#header, .nav-container, .bread-crumb {
    display: none;
}
div.center-block {
    width: auto;
}
div#body {
    cursor: pointer;
    width: auto;
    padding-bottom: 0;
    float: none;
}
/* END overrides */

/* Nav bar */
body {
    margin-top: 50px;
}
.navbar-default {
    background: rgba(255,255,255,.95);
    border: 0;
}
.navbar .nav, .navbar .nav > li {
    float: none;
}
.navbar .nav > li > a {
    text-shadow: none;
    color: #808080;
    font-size: 12px;
    text-transform: uppercase;
}
.navbar-toggle {
    margin-right: 25px;
    margin-top: 10px;
    border: none;
}
.navbar-brand {
    background: url('../images/login-assets/logo.svg') center no-repeat;
    background-size: 120px;
    background-position: center 13px;
    text-indent: -99999px;
    height: 50px;
    width: 150px;
    margin-left: 20px;
}
.navbar-collapse, .navbar-default .navbar-toggle {
    border: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: none;
}
.show-x .bar-1 {
    -moz-transform: rotate(45deg) translateX(4px) translateY(4px);
    -webkit-transform: rotate(45deg) translateX(4px) translateY(4px);
    -o-transform: rotate(45deg) translateX(4px) translateY(4px);
    -ms-transform: rotate(45deg) translateX(4px) translateY(4px);
    transform: rotate(45deg) translateX(4px) translateY(4px);
}
.show-x .bar-2 {
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.show-x .bar-3 {
    opacity: 0;
}
.bar-1, .bar-2, .bar-3 {
    transition: all 300ms ease-in-out;
}

.navbar-right {
    padding: 10px 0 15px 15px
}
.language-selector {
    border: 1px solid #C0C0C0;
    background: rgba(0,0,0,0);
    padding: 5px 10px;
    height: 32px;
    color: #808080;
    width: 150px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 10px;
    text-transform: uppercase;
}
.navbar-right li {
    background: url('../images/login-assets/homepage_v1.5/Dropdown-Arrow.svg') no-repeat;
    background-size: 9px;
    background-position: left 130px bottom 12px;
}
.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.unscrolled .navbar-header {
    margin-left: -170px;
}
/* END Nav */

.main-section {
    padding-bottom: 40px;
}
.carousel-section {
    position: relative;
}
.carousel-arrow {
    display: inline-block;
    background: url('../images/login-assets/homepage_v1.5/Arrow-Left-Black.svg') center no-repeat;
    background-size: 20px;
    height: 100%;
    position: absolute;
    width: 50px;
    text-indent: -99999px;
}
.carousel-left {
    left: 0;
}
.carousel-right {
    right: 0;
    background-image: url('../images/login-assets/homepage_v1.5/Arrow-Right-Black.svg');
}
.carousel-section .container {
    padding: 0 50px;
}

/* Typography */
body,h1,h2,h3,h4,h5,p,select,input {
    font-family: "Gotham A", "Gotham B", Helvetica, Arial, sans-serif;
    line-height: 1.5em;
}
p {
    font-size: 12px;
}
h1,h2 {
    font-size: 18px;
    margin-top: 34px;
    margin-bottom: 31px;
}
h4 {
    font-size: 18px;
}
h3,h5 {
    font-size: 14px;
}
h2,h3,h6,.h6 {
    letter-spacing: .2em;
    text-transform: uppercase;
    font-weight: bold;
}
.subhead {
    display: block;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.5em;
}
.quote {
    font-family: "Didot 24 A", "Didot 24 B", Georgia, serif;
    font-weight: 700;
    font-style: italic;
    width: 85%;
    margin: 0 auto;
}
.quote-large {
    font-size: 24px;
}
.quote-small {
    font-size: 18px;
}
.stat {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    line-height: 48px;
}
.stat-caption {
    text-align: center;
    font-size: 14px;
    text-transform: capitalize;
}
a, a:hover, a:focus {
    color: #000;
}
a.with-line {
    text-decoration: underline;
}
a.with-line:hover, a.with-line:focus {
    text-decoration: none;
}
a:focus,.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
}
/* END Typography */

/* Buttons */
.btn {
    border-radius: 0;
    border-width: 2px;
    font-size: 12px;
    padding: 15px 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.btn-default {
    background: none;
    color: #000;
    border-color: #000;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn-lg {
    font-size: 14px;
    letter-spacing: .2em;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    color: #FFF;
    border-color: #000;
    background: #000;
}
/* END Buttons */

/* Slick carousel styling */
/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 80px;
}
.slick-dots {
    position: absolute;
    bottom: -65px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover, .slick-dots li button:focus {
    outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
    opacity: 1;
}
.slick-dots li button:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    content: '';
    opacity: .5;
    border: 2px solid #000;
    border-radius: 5px;
}
.slick-dots li.slick-active button:before {
    opacity: 1;
    border: none;
    background: #000;
}
.slick-disabled {
    opacity: .25;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
/* End slick carousel styling */

/* Unique Layouts */
/* Home */
.home-logo {
    background: url('../images/login-assets/logo.svg') center no-repeat;
    background-size: 240px;
    text-indent: -99999px;
    height: 55px;
    width: 240px;
    display: inline-block;
    margin-bottom: 10px;
}
.pad-left-right-40 {
    padding-left: 40px;
    padding-right: 40px;
}
.login-form form {
    padding-left: 30px;
}
.login-form input[type="text"], .login-form input[type="password"] {
    width: 100%;
    border: 1px solid #808080;
    height: 32px;
    font-size: 12px;
    color: #000;
}
.login-form img {
    float: left;
    margin: 5px 0 0 -30px;
}
.login-form small, .login-form small a {
    color: #808080;
}
/* Table of Contents */
.toc-left span, .toc-right span {
    float: right;
    margin-left: 15px;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../images/login-assets/homepage_v1.5/Small-Icons.svg');
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.icon-media {background-position: 0 0;}
.icon-bars {background-position: -20px 0;}
.icon-verticals {background-position: -40px 0;}
.icon-ltk {background-position: -60px 0;}
.icon-publishing {background-position: -80px 0;}
.icon-bizalignment {background-position: -100px 0;}
.icon-consulting {background-position: -120px 0;}
.icon-education {background-position: -140px 0;}
.icon-campaignmgt {background-position: -160px 0;}
.icon-channel {background-position: -180px 0;}
.icon-brands {background-position: -200px 0;}
.icon-bars-black {background-position: -220px 0;}
.icon-ltk-black {background-position: -240px 0;}
.icon-media-black {background-position: -260px 0;}

.media-icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: url('../images/login-assets/homepage_v1.5/Large-Icons.svg') no-repeat;
    background-size: auto 100%;
    margin-bottom: 15px;
}
.media-star {background-position: 0 0;}
.media-target {background-position: -60px 0;}
.media-conversation {background-position: -120px 0;}
.media-graph {background-position: -180px 0;}

.press {
    max-width: 250px;
    margin-bottom: 30px;
}

.ltk-logo {
    background: url('../images/login-assets/homepage_v1.5/LTK-Logo.svg') no-repeat center;
    height: 25px;
    text-indent: -99999px;
}

.photo-grid img {
    width: 50%;
    padding: 5px;
    float: left;
}
.photo-grid-3up {
    overflow: hidden;
}
.photo-grid-3up img {
    width: 33.3333%;
    padding: 5px;
    float: left;
}
.photo-grid-3up .photo-grid-feature {
    width: 66.6666%;
}

.img-responsive {
    width: 100%;
}

.circle {
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 2px solid #39B54A;
    border-radius: 5px;
}
.circle-red {
    border-color: #EC2020;
}
/* END Unique Layouts */

/* Footer */
div#footer {
    color: #808080;
    padding-bottom: 40px;
    padding-top: 20px;
    font-size: 10px;
    border: 1px solid #E5E5E5;
}
div#footer a {
    margin: 0;
    color: #808080;
}
/* END Footer */

/* Photo Backgrounds */
.photo-bg-section {
    background-size: cover;
    background-position: center;
}
#influencers {
    background-image: url('../images/login-assets/homepage_v1.5/ltk-bg-1.jpg');
    background-image:
        linear-gradient( rgba(222,222,222,.95), rgba(255,255,255,.95) ),
        url('../images/login-assets/homepage_v1.5/ltk-bg-1.jpg');
}
#liketoknowit {
    background-image: url('../images/login-assets/homepage_v1.5/ltk-bg-2.jpg');
    background-image:
        linear-gradient( rgba(222,222,222,.95), rgba(255,255,255,.95) ),
        url('../images/login-assets/homepage_v1.5/ltk-bg-2.jpg');
}
#press {
    background-image: url('../images/login-assets/homepage_v1.5/Amber-Speaking-1.jpg');
    background-image:
        linear-gradient( rgba(222,222,222,.95), rgba(255,255,255,.95) ),
        url('../images/login-assets/homepage_v1.5/Amber-Speaking-1.jpg');
}
/* END Photo Backgrounds */

/* Helper classes */
.no-margin-bottom {
    margin-bottom: 0;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.lh2-5 {
    line-height: 2.5em;
}
/* END Helper classes */


@media (min-width:768px) {
    .carousel-section .container {
        padding: 0 70px;
    }
    .container {
        min-width:100%;
    }
    .toc-left {
        text-align: right;
    }
    .toc-right span {
        float: left;
        margin-right: 15px;
    }

    /* Nav bar */
    body {
        margin-top: 80px;
    }
    .navbar {
        min-height: 80px;
    }
    .navbar .nav, .navbar .nav > li {
        float: left;
    }
    .navbar .nav > li > a {
        height: 80px;
        line-height: 80px;
        padding: 0 15px;
        color: #808080;
        font-size: 10px;
    }
    .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
        border-bottom: 4px solid #000;
    }
    .navbar-brand {
        background-size: 130px;
        background-position: center;
        height: 80px;
        margin-left: 0;
    }
    .container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
        margin-left: 10px;
    }
    .unscrolled .navbar-header {
        margin-left: -150px;
    }
    .navbar-right {
        padding: 0;
    }
    .language-selector {
        margin-top: 24px;
    }
    /* END Nav bar */

    /* Unique Layouts */
    .media-device {
        min-height: 500px;
    }
    .media-device img {
        position: absolute;
        right: 20px;
        max-width: 800px;
    }
    .col-sm-offset-1 {
        margin-left: 12.5%;
    }
    .photo-grid img {
        width: 25%;
        padding: 5px;
        float: left;
    }
    #home {
        background: url('../images/login-assets/homepage_v1.5/feature.png') no-repeat right;
        background-position: right -170px center;
        background-size: auto 600px; /* max 700px */
    }
    #home.enhanced {
        background: url('https://rstyleimg.s3.amazonaws.com/stuff/enhance.gif') no-repeat right;
        background-position: right bottom -10px;
        background-size: auto 600px;
    }
    .home-content {
        margin-left: 0%;
    }
    .login-form {
        border-right: 1px solid #C0C0C0;
    }
    /* END Unique Layouts */
}
@media (min-width:992px) {
    #home {
        background-position: right -100px center;
        background-size: auto 600px; /* max 700px */
    }
    .home-content {
        margin-left: 8%;
    }
}
@media (min-width:1200px) {
    #home {
        background-position: right -100px center;
        background-size: auto 600px; /* max 700px */
    }
    .home-content {
        margin-left: 10%;
    }
}
@media (max-width:979px) {
    .navbar .container {
        padding: 0 20px;
    }
}
@media (max-width:767px) {
    body {
        padding: 0;
    }
}
/* Set a max-width for all the content */
@media (min-width:1280px) {
    .container {
        min-width: auto;
        width: 1200px;
    }
    .unscrolled .navbar-header {
        margin-left: -500px;
    }
}
