@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), local('Merriweather-Regular'), url(http://fonts.gstatic.com/l/font?kit=RFda8w1V0eDZheqfcyQ4EMdSckKs59N8RBk4vkSuR_OSLTyZq7fePkfep13puuAUujm4K-eVZHavHVh839UYnKNTdy-4qkCIoTAgTbNGeePGO-XeZ6yBYHylTTOdKdruKt62y13h5itb3KBp0n-tHg&skey=379c1eccf863c625&v=v13) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url(http://fonts.gstatic.com/l/font?kit=ZvcMqxEwPfh2qDWBPxn6nvlHOrmb7vaV26Q5aEMTO4RAuLzLSQ7yAg3JiaInRcC_XcZU-UXxiMvebEFhpByF2U_8A0RL6ODuv-r_ZY2pnKYw4zTg5t9oi0WMNkjUwIQ4LAO4OljqGE_w_iI5cKQPcQ&skey=76f88370d7055e09&v=v13) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local('Merriweather Italic'), local('Merriweather-Italic'), url(http://fonts.gstatic.com/l/font?kit=So5lHxHT37p2SS4-t60SlF0O-qVMKoiKDAR8iZEqcnH_H0i4QHVrcwDdZeturjcjBhLQltKuU-kBxACAqAodYfUe9eURLzVRc-ZmkN0QIzL7r2JVGcY1iblqCBWHfGVbmpoWcTZVZBtsWW7UoXXJ0g&skey=899922b35e8afa66&v=v13) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(http://fonts.gstatic.com/l/font?kit=aTNwQKz24iq5JJo2vO5XYgS-zY_zEvk_tcTDu0SB5hfBuA0TYOuguL0a-dW-KabEJQ1bcFog1oYkqbWHV6BMa-kzLtLfhNju3rhJKcSaIUwgKRUqtT2RF8vYlf2gw9OK5M6dQ9wLEKJd6pE_8-cMuA&skey=2b960fe17823056f&v=v6) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(http://fonts.gstatic.com/l/font?kit=PIbvSEyHEdL91QLOQRnZ18dSckKs59N8RBk4vkSuR_OSLTyZq7fePkfep13puuAUujm4K-eVZHavHVh839UYnKNTdy-4qkCIoTAgTbNGeePGO-XeZ6yBYHylTTOdKdruKt62y13h5itb3KBp0n-tHg&skey=c04743c8f0416da6&v=v6) format('truetype');
}
