body {
    text-align: center; /* IE */
}

#page 
{
	margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;   /* IE */
    width: 1000;        /* Fill this out. */
    background-color:#F8FAFA;
}

.frame
        {
            font: 12px arial;
            width: 250;
            height: 150;
            border: none;
            overflow: hidden;
            border: 0px solid black;
            padding: 5;
        }

.toplink{
	font: 10px verdana;
	color:#525252;
	text-decoration:none;
}

.heading{
	font: bold 11px verdana;
	color:#525252;
}

.bodies{
	font: 10px verdana;
	color:#303030;
}

.gbodies{
	font: 10px verdana;
	color:#696969;
}

.footer{
	font: 10px verdana;
	color:#FFFFFF;
}
a{
	font: 11px verdana;
	color:#303030;
	text-decoration:none;
}
a:hover{
	text-decoration:none;
	color:#E2615B;
}