@font-face {
    font-family: 'Bebas_Neue';
    src: url('/fonts/Bebas_Neue/Bebas_Neue.woff2') format('woff2');
    src: url('/fonts/Bebas_Neue/Bebas_Neue.eot');
    src: url('/fonts/Bebas_Neue/Bebas_Neue.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Bebas_Neue/Bebas_Neue.woff') format('woff'),
         url('/fonts/Bebas_Neue/Bebas_Neue.ttf') format('truetype'),
         url('/fonts/Bebas_Neue/Bebas_Neue.svg#Bebas_Neue') format('svg');
    font-weight: normal;
    font-style: normal;
}
