body {
    font-family: Tahoma;
    font-size: 12px;
   
}

input {
    font-family: Tahoma;
    font-size: 12px;
}

img {
    border: 0px;
}

.ChatWinsHolder {
    position: fixed;
    display: none;
    bottom: 5px;
    left: 20px;
    display: block;
    direction: rtl;
    z-index:1000;
}

.chatbox {
  
    width: 225px;  
    direction: rtl;
    z-index:1000;
    float:left;
    margin:0px 5px ;
    position:relative;
}

.chatboxhead {
    background-color: #5d77b1;
    padding: 7px;
    border: 1px solid #2e4588;
    width: 209px;
    height: 20px;
    color: #fff;
    border-radius: 3px 3px 0px 0px;
}


.chatboxcontent {
    color: #333333;
    height: 200px;
    width: 223px;
    overflow-y: auto;
    overflow-x: auto;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #eeeeee;
    background-color: #ffffff;
    line-height: 1.3em;
    word-break: break-all;
}

.chatboxinput {
    padding: 3px;
    background-color: #ffffff;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

    .chatboxinput textarea {
        width: 210px;
        height: 40px;
    }

.chatboxtextarea {
    width: 206px;
    height: 44px;
    padding: 3px 0pt 3px 3px;
    border: 1px solid #eeeeee;
    margin: 1px;
    overflow: hidden;
}

.chatboxtextareaselected {
    border: 2px solid #eeeeee;
    margin: 0;
}

.chatboxmessage {
    margin-left: 1em;
}

.chatboxinfo {
    margin-left: -1em;
    color: #666666;
}

.chatboxmessagefrom {
    margin-left: -1em;
    font-weight: bold;
}

.chatboxmessagecontent {
}

.chatboxoptions {
}

    .chatboxoptions a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-family: Verdana,Arial,"Bitstream Vera Sans",sans-serif;
    }

.chatboxtitle {
    float: left;
    padding-top: 3px;
}

.btnchat {
    background: none;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin: 0px -2px;
    font-size: 12px;
}

.btnFreinds {
    background: bisque;
    padding: 5px;
    display: inline-block;
    margin: 10px;
}

.Messageclass {
    height: inherit;
    background: linear-gradient(#fff,#dce0e6);
    min-height: 20px;
    min-width: 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #b5b5b5;
    position: relative;
    padding: 2px 5px;
    box-shadow: -2px 0px 8px -3px;
    display: inline-block;
    clear: both;
    margin-top: 7px;
    max-width: 150px;
}

    .Messageclass p {
        height: inherit;
        border-right: none;
        border-radius: 5px;
        margin: 0px;
        padding: 0px;
        display: inline;
    }

.SenderImg {
    height: 25px;
    margin-left: 8px;
    margin-top: 6px;
    width: 22px;
}

.BulletRight {
    width: 7px;
    height: 11px;
    background: url(img/bR.png) no-repeat right top;
    position: absolute;
    right: -7px;
    top: 4px;
    display: block;
}

.MessageclassL {
    height: inherit;
    background: linear-gradient(#e5f0fe,#cbe0fe);
    min-height: 20px;
    min-width: 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #b5b5b5;
    position: relative;
    padding: 2px 5px;
    box-shadow: 1px 0px 8px -3px;
    display: inline-block;
    clear: both;
    float: left;
    margin-top: 5px;
}

    .MessageclassL p {
        height: inherit;
        margin-top: 3px;
        border-right: none;
        border-radius: 5px;
        padding: 0 5px;
    }

.BulletLeft {
    width: 7px;
    height: 11px;
    background: url(img/bL.png) no-repeat right top;
    position: absolute;
    left: -7px;
    top: 4px;
    display: block;
}

.BoxHolder {
    height: inherit;
    margin: 5px 0px;
    overflow: hidden;
    padding: 0px 7px;
}

.CloseBtn {
    width: 12px;
    height: 13px;
    background: url(img/close.png) no-repeat right top;
    float: left;
    margin-top: 4px;
    border: 0px;
}

.SettingBtn {
    width: 12px;
    height: 13px;
    background: url(img/setting.png) no-repeat right top;
    float: left;
    margin-left: 7px;
    margin-top: 2px;
    border: 0px;
}

.FriendName {
    float: right;
}

.fOn {
    width: 7px;
    height: 7px;
    background: url(img/fState.png) no-repeat 0px 0px;
    display: inline-block;
    float: right;
    margin: 6px 0px 0px 5px;
}

.fOff {
    width: 7px;
    height: 7px;
    background: url(img/fState.png) no-repeat -7px 0px;
    display: inline-block;
    float: right;
    margin: 6px 0px 0px 5px;
}

.SettingBox {
    width: 155px;
    height: 50px;
    position: absolute;
    top: 27px;
    left: 27px;
    border: 1px solid #ccc;
    background: #fff;
    z-index: 1000;
    font-size: 11px;
    display: none;
}

    .SettingBox a {
        display: block;
        padding: 5px 4px;
    }

        .SettingBox a:hover {
            background: #5d77b1;
            color: #eeeeee;
        }

#SampleWin {
    display:none;
}
