@media screen and (max-width: 1210px) {
  .wrapper {
    margin: 0;
  }
}
@media screen and (max-width: 1210px) {
  .wrapper #container {
    padding-bottom: 65px;
  }
}
@media screen and (max-width: 1210px) {
  .container1,
  .services-list .container {
    width: 95% !important;
  }
  .container1 h2.page-title,
  .services-list .container h2.page-title {
    line-height: 30px;
  }
}
@media screen and (max-width: 800px) {
  .inner-page #header {
    height: 225px !important;
  }
}
@media screen and (max-width: 1040px) {
  #header .file-upload-block {
    width: 90%;
  }
}
@media screen and (max-width: 930px) {
  #header {
    padding-top: 55px;
  }
  #header #mainmenu #language {
    margin-left: 0;
  }
  #header #mainmenu div.menu-toggle {
    display: inline-block;
    position: absolute;
    top: -45px;
    right: 0;
    font-size: 34px;
    color: #fff;
    transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    cursor: pointer;
  }
  #header #mainmenu div.menu-toggle:hover {
    color: #4c98ce;
  }
  #header #mainmenu div.menu-toggle.menu-close {
    color: #efc33b;
  }
  #header #mainmenu > ul {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #202020;
    transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -webkit-transition: all linear 0.5s;
    z-index: 9999999;
  }
  #header #mainmenu > ul.menu-open {
    display: block;
    padding: 5px 0;
    text-align: center;
  }
  #header #mainmenu > ul.menu-open li {
    float: none;
    display: block;
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #3A3A3A;
    text-align: left;
  }
  #header #mainmenu > ul.menu-open li a {
    float: none;
    display: block;
    margin: 0;
    padding: 0 15px;
    line-height: normal;
    color: #ccc;
  }
  #header #mainmenu > ul.menu-open li a:hover,
  #header #mainmenu > ul.menu-open li a.active {
    background: none;
    color: #2385e8;
    text-decoration: none;
  }
  #header #mainmenu > ul.menu-open li:last-child {
    border: 0;
  }
}
@media screen and (max-width: 810px) {
  #header .file-upload-block .tabcontent form#uploadurl .advanced > p {
    width: 100%;
    height: auto;
  }
  #header .file-upload-block .tabcontent form#uploadurl .advanced > p label,
  #header .file-upload-block .tabcontent form#uploadurl .advanced > p input,
  #header .file-upload-block .tabcontent form#uploadurl .advanced > p select {
    float: none;
    display: block;
    width: 100%;
    margin: 0 0 5px 0;
    clear: both;
  }
  #header .file-upload-block .tabcontent form#uploadurl .tos-n-load .tos {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 800px) {
  #header #user-menu-block {
    position: static;
    display: block;
    width: 100%;
    margin: 35px 0 0 0;
  }
  #header #user-menu-block ul {
    text-align: center;
  }
  #header #user-menu-block ul li {
    float: none;
    display: inline-block;
  }
}
@media screen and (max-width: 740px) {
  #header .file-upload-block .tabcontent form#uploadfile .uploadfile table#files_list tr.xrow input.fdescr {
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  #header .file-upload-block .section span.attention-message {
    display: none;
  }
}
@media screen and (max-width: 580px) {
  #header #mainmenu #language > span {
    display: none;
  }
  #header .short-description h1 {
    line-height: 31px;
    font-size: 27px;
  }
  #header .file-upload-block {
    width: 95%;
  }
}
@media screen and (max-width: 450px) {
  #header:after {
    width: auto;
  }
}
@media screen and (max-width: 1200px) {
  .index #container .services-list .container:after {
    content: normal !important;
  }
  .index #container .services-list .container h1 {
    width: auto;
  }
  .index #container .services-list .container ul.list .block {
    width: 31.5%;
    margin: 0 2% 0 0;
  }
  .index #container .services-list .container ul.list .block:last-child {
    margin: 0;
  }
}
@media screen and (max-width: 800px) {
  .index #container .services-list .container ul.list .block {
    width: 48%;
  }
  .index #container .services-list .container ul.list .block:nth-child(2) {
    margin: 0;
  }
  .index #container .services-list .container ul.list .block:last-child {
    width: 100%;
    margin: 25px 0 0 0;
  }
}
@media screen and (max-width: 590px) {
  .index #container .services-list .container ul.list .block {
    width: 100%;
    margin: 0 !important;
  }
}
@media screen and (max-width: 850px) {
  .inner-page .container1.contact .inputs,
  .inner-page .container1.contact .textarea {
    float: none;
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
  }
  .inner-page .container1.contact .inputs .input-group input {
    width: 85%;
  }
}
@media screen and (max-width: 545px) {
  .inner-page .container1.contact .inputs .input-group label {
    margin: 0 0 3px 0;
  }
  .inner-page .container1.contact .inputs .input-group input {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .inner-page .container1.login .form-block {
    width: 80%;
  }
  .inner-page .container1.login .form-block input[type="text"],
  .inner-page .container1.login .form-block input[type="password"] {
    float: none;
    display: block;
    width: 100%;
    margin: 0 0 10px 0;
    clear: both;
  }
}
@media screen and (max-width: 1210px) {
  .inner-page .container1.registration form .form-block {
    width: 100%;
  }
  .inner-page .container1.registration form .form-block label {
    float: none;
    display: block;
    width: 100%;
    margin: 0;
    line-height: 25px;
    clear: both;
  }
  .inner-page .container1.registration form .form-block input[type="text"],
  .inner-page .container1.registration form .form-block input[type="password"] {
    width: 50%;
  }
}
@media screen and (max-width: 800px) {
  .inner-page .container1.registration form .form-block .form-group input[type="text"],
  .inner-page .container1.registration form .form-block .form-group input[type="password"] {
    width: 100%;
  }
  .inner-page .container1.registration form .form-block .form-group.payment-info input[type="text"] {
    width: 64%;
  }
  .inner-page .container1.registration form .form-block .form-group.payment-info select {
    width: 35%;
  }
}
@media screen and (max-width: 430px) {
  .inner-page .container1.registration form .form-block .form-group.payment-info input[type="text"] {
    width: 62%;
  }
}
@media screen and (max-width: 920px) {
  .inner-page .container1.forgot-password form input[type="text"] {
    width: 85%;
  }
}
@media screen and (max-width: 490px) {
  .inner-page .container1.catalogue form table#advs {
    width: 100% !important;
  }
}
@media screen and (max-width: 690px) {
  .inner-page .container1.upload-results .sharetabs .section ul.tabs {
    height: auto !important;
  }
  .inner-page .container1.upload-results .sharetabs .section ul.tabs li {
    float: none;
    display: block;
    width: 100%;
    padding: 10px;
    background: #e9eaef;
    text-align: center;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .inner-page .container1.upload-results .sharetabs .section ul.tabs li:first-child {
    -webkit-border-top-left-radius: 24px;
    -webkit-border-top-right-radius: 24px;
    -moz-border-radius-topleft: 24px;
    -moz-border-radius-topright: 24px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
  }
  .inner-page .container1.upload-results .sharetabs .section ul.tabs li.current {
    background: #cacbd1;
  }
  .inner-page .container1.upload-results .sharetabs .section .box {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-border-bottom-right-radius: 24px;
    -webkit-border-bottom-left-radius: 24px;
    -moz-border-radius-bottomright: 24px;
    -moz-border-radius-bottomleft: 24px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
  }
  .inner-page .container1.upload-results .sharetabs .section .box textarea {
    height: auto;
    padding: 15px;
  }
}
@media screen and (max-width: 1200px) {
  .inner-page .container1.download h1.title:after {
    content: normal;
  }
}
@media screen and (max-width: 1200px) {
  .inner-page .container1.my-account h1.title:after {
    content: normal;
  }
  .inner-page .container1.my-account .account-info-block {
    width: 100%;
  }
  .inner-page .container1.my-account .account-info-block ul {
    width: 100%;
    text-align: center;
  }
  .inner-page .container1.my-account .account-info-block ul li {
    float: none;
    display: inline-block;
  }
}
@media screen and (max-width: 820px) {
  .inner-page .container1.my-account .change-password-block form input[type="text"] {
    float: none;
    display: block;
    width: 100%;
    margin: 0 0 8px 0;
  }
}
@media screen and (max-width: 764px) {
  .inner-page .container1.my-account .account-info-block ul li {
    margin: 0 0 20px 0;
  }
  .inner-page .container1.my-account .account-info-block ul li.used-space {
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 1200px) {
  .inner-page .container1.my-files h1.title:after {
    content: normal;
  }
  .inner-page .container1.my-files table#files_list tr.actionpanel td {
    max-width: 100%;
  }
  .inner-page .container1.my-files table#files_list tr.actionpanel td > div {
    float: none !important;
    width: 100% !important;
    text-align: center;
  }
  .inner-page .container1.my-files table#files_list tr.actionpanel td > div input {
    float: none;
    display: inline-block;
  }
}
@media screen and (max-width: 730px) {
  .inner-page .container1.my-files .top-block {
    width: 100%;
    text-align: center;
  }
  .inner-page .container1.my-files .top-block .search,
  .inner-page .container1.my-files .top-block .create-folder {
    float: none;
    display: inline-block;
    width: 80%;
    margin: 0 !important;
  }
  .inner-page .container1.my-files .top-block .create-folder {
    margin: 15px 0 !important;
  }
}
@media screen and (max-width: 690px) {
  .inner-page .container1.my-files h1.title:after {
    content: normal;
  }
  .inner-page .container1.my-files table#files_list th {
    padding: 0;
  }
  .inner-page .container1.my-files table#files_list tr.actionpanel td {
    padding: 0;
  }
  .inner-page .container1.my-files table#files_list tr.actionpanel td > div {
    padding: 0;
  }
  .inner-page .container1.my-files table#files_list tr.actionpanel td > div input,
  .inner-page .container1.my-files table#files_list tr.actionpanel td > div select {
    width: 80%;
    display: inline-block;
    margin: 0 0 10px 0;
  }
  .inner-page .container1.my-files table#files_list tr.actionpanel td > div:first-child {
    padding: 30px 0 0 0;
  }
}
@media screen and (max-width: 560px) {
  .inner-page .container1.edit-folder form table {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .inner-page .container1.edit-folder form table textarea,
  .inner-page .container1.edit-folder form table input[type="text"] {
    width: 100% !important;
  }
}
@media screen and (max-width: 850px) {
  .inner-page .container1.file-form form table {
    width: 100% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .inner-page .container1.file-form form table textarea,
  .inner-page .container1.file-form form table input[type="text"] {
    width: 100% !important;
  }
}
@media screen and (max-width: 800px) {
  footer {
    margin: 0;
    padding: 55px 0 35px 0;
  }
  footer .container1 #fmenu {
    float: none;
    width: 100%;
    margin-right: 0;
  }
  footer .container1 #fmenu h3 {
    display: none;
  }
  footer .container1 #fmenu ul {
    text-align: center;
  }
  footer .container1 #fmenu ul li {
    display: inline-block;
    background: none;
    padding: 5px;
  }
  footer .container1 .about-block {
    display: none;
  }
  footer .container1 .contact-us {
    float: none;
    display: block;
    width: 100%;
    margin: 15px 0 0 0;
  }
  footer .container1 .contact-us h3 {
    display: none;
  }
  footer .container1 .contact-us ul {
    text-align: center;
  }
  footer .container1 .contact-us ul li {
    float: none;
    display: inline-block;
  }
  footer .container1 .copyright {
    margin: 20px 0 0 0;
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  footer:before {
    width: auto;
  }
}
