html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, label, legend, caption, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section, summary {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

* html .wrapper {
}
ol, ul {
	list-style: none;
}

a img {border: none}

aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block}

/************************ Basics ************************/

@font-face {
    font-family: 'daxlinepro-light';
    src: url('fonts/daxlineProlight.eot');
    src: url('fonts/daxlineProlight.eot') format('embedded-opentype'),
         url('fonts/daxlineProlight.woff2') format('woff2'),
         url('fonts/daxlineProlight.woff') format('woff'),
         url('fonts/daxlineProlight.ttf') format('truetype'),
         url('fonts/daxlineProlight.svg#daxlineProlight') format('svg');
}

@font-face {
    font-family: 'daxlinepro-regular';
    src: url('fonts/daxlineproregular.eot');
    src: url('fonts/daxlineproregular.eot') format('embedded-opentype'),
         url('fonts/daxlineproregular.woff2') format('woff2'),
         url('fonts/daxlineproregular.woff') format('woff'),
         url('fonts/daxlineproregular.ttf') format('truetype'),
         url('fonts/daxlineproregular.svg#daxlineproregular') format('svg');
}

@font-face {
    font-family: 'daxlinepro-medium';
    src: url('fonts/daxlinepromedium.eot');
    src: url('fonts/daxlinepromedium.eot') format('embedded-opentype'),
         url('fonts/daxlinepromedium.woff2') format('woff2'),
         url('fonts/daxlinepromedium.woff') format('woff'),
         url('fonts/daxlinepromedium.ttf') format('truetype'),
         url('fonts/daxlinepromedium.svg#daxlinepromedium') format('svg');
}

@font-face {
    font-family: 'daxlinepro-bold';
    src: url('fonts/daxlineprobold.eot');
    src: url('fonts/daxlineprobold.eot') format('embedded-opentype'),
         url('fonts/daxlineprobold.woff2') format('woff2'),
         url('fonts/daxlineprobold.woff') format('woff'),
         url('fonts/daxlineprobold.ttf') format('truetype'),
         url('fonts/daxlineprobold.svg#daxlineprobold') format('svg');
}

@font-face {
    font-family: 'calibri-reg';
    src: url('fonts/calibri-reg.eot');
    src: url('fonts/calibri-reg.eot') format('embedded-opentype'),
         url('fonts/calibri-reg.woff') format('woff'),
         url('fonts/calibri-reg.ttf') format('truetype'),
         url('fonts/calibri-reg.svg#daxlineprobold') format('svg');
}

@font-face {
    font-family: 'calibri-light';
    src: url('fonts/calibri-light.eot');
    src: url('fonts/calibri-light.eot') format('embedded-opentype'),
         url('fonts/calibri-light.woff') format('woff'),
         url('fonts/calibri-light.ttf') format('truetype'),
         url('fonts/calibri-light.svg#daxlineprobold') format('svg');
}

@font-face {
    font-family: 'calibri-bold';
    src: url('fonts/calibri-bold.eot');
    src: url('fonts/calibri-bold.eot') format('embedded-opentype'),
         url('fonts/calibri-bold.woff') format('woff'),
         url('fonts/calibri-bold.ttf') format('truetype'),
         url('fonts/calibri-bold.svg#daxlineprobold') format('svg');
}

@font-face {
    font-family: 'ardleyshandregular';
    src: url('fonts/ardleyshandregular.eot');
    src: url('fonts/ardleyshandregular.eot') format('embedded-opentype'),
         url('fonts/ardleyshandregular.woff2') format('woff2'),
         url('fonts/ardleyshandregular.woff') format('woff'),
         url('fonts/ardleyshandregular.ttf') format('truetype'),
         url('fonts/ardleyshandregular.svg#ardleyshandregular') format('svg');
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'daxlinepro-light', Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: #f8f9fd;
	color: #818181;
	height: 100%;
	line-height: 20px;
}

.clearfix:after {
	display: block;
	height: 0;
    visibility: hidden;
    font-size: 0;
    content: " ";
    clear: both;
}

a {color: #118bb6; transition:all 0.3s ease;}
a:hover { color: #a6c6cb; }
h1{font-size: 30px; font-weight: bold; color:#686868;margin: 0 0 10px 0;}
h2{font-size: 24px; color: #686868;line-height: 40px;margin: 0 0 10px 0;}
h3{font-size: 18px; color: #686868;margin: 0 0 10px 0;}
h4{font-size: 16px; color: #686868;font-weight:bold;margin: 0 0 10px 0;}

.wrapper {
    min-height: 100%;
	margin: 0 auto -100px;
}
.page-buffer {
    height: 50px;
}

#header {
	display: block;
	position: relative;
	width: 100%;
	height: 593px;
	padding-top: 45px;
	background: url('../images/header-bg.jpg') top center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* Bigger header for index page */

.index #header {
	height: auto !important;
}

/* Bigger header for index page */

#header:after { 
	content: '';
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 430px;
	height: 23px;
	background: url('../images/header-bg-white-element.png') center bottom no-repeat;
}

#header #logo {
	float: left; 
	display: inline-block;
	width: 179px;
	height: 30px;
	background: url('../images/logo.png') no-repeat;
	outline: none;
}

#header #logo:hover {
	cursor: pointer;
}

.inner-page #header .short-description {
	display: none;
}

.index #header .short-description,
.index #header .file-upload-block {
	display: block !important;
}

.index #header .short-description {
	padding-top: 60px;
	text-align: center;
}

.index #header .short-description h1 {
	display: block;
	line-height: 34px;
	font-size: 30px; 
	font-family: 'daxlinepro-light';
	font-weight: normal;
	color: #fff; 
}

.index #header .short-description h1 span {
	font-family: 'daxlinepro-bold';	
	color: #49ab58;
}

.index #header .short-description ul {
	margin: 50px 0 0 0;
	padding: 0;
	text-align: center;
}

.index #header .short-description ul li {
	display: inline-block;
	text-align: center;
	font-size: 18px; 
	color: #fff;
}

.index #header .short-description ul li.cash {
	width: 94px;
	padding: 99px 0 0 0;
	margin: 0 78px 0 0;
	background: url('../images/cash-ico.png') top center no-repeat;
}

.index #header .short-description ul li.games {
	width: 94px;
	padding: 87px 0 0 0;
	background: url('../images/games-ico.png') top center no-repeat;
}

.index #header .short-description ul li.games span {
	position: relative;
	top: 0;
}

#wheader {
	position: absolute;
	top: 0;
	background: #f2f2f2;
	width: 100%;
	height: 25px;
	display: block;
	border-bottom: 1px solid #e9e9e9;
}

#wheader #wmenu ul {
	padding: 0 !important;
}

#wheader #wmenu ul li {
	line-height: 25px !important;
}

.promsign {
	position: absolute;
	top: -30px;
	float: left;
	width: 260px;
	text-align: left;
	color: #e0effa;
	font-size: 15px;
}

.promsign .col .pheader {
	text-align: center; color: #e0effa;
	font-size: 24;
}

.promprofit {
	top: -30px;
	right: 0;
	position: absolute;
	float: right;
	width: 260px;
	text-align: left;
	color: #e0effa;
	font-size: 15px;
}

.promprofit .col .pheader{
text-align: center;
}
.prompic{
	width: 529px;
	height: 366px;
	background: url(../images/cloud.png) repeat; 
	position: relative;
	margin: 80px auto 10px;
	color: #6b899d;	
	font-size: 15px;
}
.prompic .col{
	width: 260px;
	margin: auto;
	position: absolute;
	left: 140px;
	top: 110px;
}
.prompic .col .pheader{
margin: 0 40px;
	color: #6b899d;
}
.prompic h2{
	color: #6b899d;
}
.blues{
	background: #83b9db; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #83b9db 0%, #3c8cbf 100%) ; /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#83b9db), color-stop(100%,#3c8cbf)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #83b9db 0%,#3c8cbf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #83b9db 0%,#3c8cbf 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #83b9db 0%,#3c8cbf 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #83b9db 0%,#3c8cbf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83b9db', endColorstr='#3c8cbf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.noise {
	width: 100%;
	background: url(../images/noise.png) repeat; 
}
.container {
	margin: 0 auto;
	text-align: center;
	position: relative;
}


/************************ Layout ************************/

#container {
	position: relative;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.container1 {
	position: relative;
	width: 1170px;
	margin: 0 auto;
	color: #2c2e34;
}

.container1 h2.page-title {
    display: block;
    position: relative;
    padding: 0 0 10px 0;
    margin: 15px 0 30px 0;
    line-height: normal;
    border-bottom: 1px solid #e7e7e7;
    font-weight: normal;
    font-size: 30px;
    color: #2c2e34;
    text-align: center;	
}

.container1 h2.page-title span {
	font-family: 'daxlinepro-bold';
}

#contentfull {
	width: 1170px;
}

#sidebar-left {
	float: left;
	width: 320px;
}

#sidebar-right {
	float: right;
	width: 320px;
}

.leftcol {
	float: left;
	width: 600px;
	margin: 20px 0;
}

.rightcol {
	margin: 20px 0 0;
	float: right;
	width: 360px;
}
/************************ End Layout ************************/


/************************ Navigation Menu ************************/

#mainmenu {
	float: right;	
	transition:all 0.3s ease;
}

#mainmenu .menu-toggle {
	display: none;
}

#mainmenu ul {
	float: left;
	transition:all 0.3s ease;
	margin: 0;
	padding: 0;
	list-style: none;
}

#mainmenu ul li {
	position: relative;
	float:left;
	transition:all 0.3s ease;
}

#mainmenu > ul li a {
	float: left;
	padding: 0 18px;
	font-size: 18px;
	line-height: 35px;
	background: none;
	color: #fff;
	text-align:center;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}

#mainmenu > ul li a:hover {
	background: #0d66bf;
}

* html #mainmenu ul li { float: left; height: 1%; }
* html #mainmenu ul li a { height: 1%; }

/* Language block */

#mainmenu #language {
	margin-left: 210px;
}

#mainmenu #language {
	float: right;
	position: relative;
}

#mainmenu #language > span {
	position: relative;
    right: 130px;
    top: 8px;
    color: #fff;
}

#mainmenu #language > ul {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	background: #484a50 url('../images/lang_span_arrow.png') center right no-repeat;
	font-size: 14px;
	-webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}

#mainmenu #language > ul:hover {
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

#mainmenu #language > ul > li {
	width: 120px;
    padding: 0 0 0 18px;
	line-height: 35px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#mainmenu #language > ul > li > a:first-letter {
	text-transform: uppercase; 
}

#mainmenu #language > ul ul {
	/* display: none !important; */
}

/* /Language block */

/* User logged in menu */

#user-menu-block {
	position: absolute;
	right: 0;
	top: 55px;
}

#user-menu-block ul {
	padding: 0;
	margin: 0;
}

#user-menu-block ul li {
	float: left;
	margin: 0 0 0 7px;
}

#user-menu-block ul li a {
	padding: 0 8px;
	line-height: 18px; 
	border: 2px solid #49ab58;
	color: #fff;
	font-family: 'daxlinepro-light';
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}

#user-menu-block ul li a:hover {
	border: 2px solid #2385e8;	
	background: #2385e8;
}

/* /User logged in menu */

/************************ End Navigation Menu ************************/

/************************ Start bottom white Menu ************************/
#wmenu
{transition:all 0.3s ease;
float: right;
	
}
#wmenu ul{
float: left;
transition:all 0.3s ease;
margin: 0;
padding: 0;
list-style: none;
}
#wmenu ul li{
transition:all 0.3s ease;
position: relative;
float:left;
line-height: 27px;
}
#wmenu ul li::after{
content: "|";
vertical-align: middle;
line-height: 29px;
padding: 5px 0px 0 0px;
font-size: 10px;
color: #dbdbdb;
}
#wmenu ul li:last-child::after{
content: "";
}
#wmenu ul li:hover > a{
transition:all 0.3s ease;
color: #118bb6;
}

#wmenu ul li a {
	float:left;
	transition:all 0.3s ease;
	font-size:14px;
	padding: 0 8px;
	text-align:center;
	text-decoration: none;
	color: #9c9c9c;
}

* html #wmenu ul li { float: left; height: 1%; }
* html #wmenu ul li a { height: 1%; }
/************************ End bottom white Menu ************************/

/************************ Start Language Menu ************************/

#language {
	float: right;
	transition:all 0.3s ease;
}

#language ul {
	float: left;
	transition:all 0.3s ease;
	margin: 0;
	padding: 0;
	list-style: none;
}

#language ul li {
	padding: 20px;
	transition:all 0.3s ease;
	position: relative;
}

#language ul ul li:hover {
	background-color: #1f1f1f;
	transition:all 0.3s ease;
}

#language ul li ul {
	display: none;
	position: absolute;
	right: 0;
	top: 35px;
	height: auto;
	background: #484a50;
}

#language li ul li {
	width: 120px;
    padding: 0 0 0 18px;
    line-height: 35px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#language ul li a {
	float:left;
	transition:all 0.3s ease;
	font-size:14px;
	padding: 0;
	margin: 0;
	text-align:center;
	text-decoration: none;
	color: #f1f1f1;
}

#language li ul li a {
	display: block;
	margin: 0;
	border-bottom: 1px dotted #353535;
	white-space: nowrap;
	text-align:left;
	font-size:14px;
	transition:all 0.3s ease;
}

* html #language ul li { float: left; height: 1%; }
* html #language ul li a { height: 1%; }
#language li:hover ul, 
#language li.over ul { display: block; z-index: 9999;}

.trf {
	float: left;
	position: relative;
    top: 11px;
	height: 11px;
	width: 16px;
	margin-right: 5px;
	background-image: url(../images/flags.png);
	background-repeat: no-repeat;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
}

.langname{margin-left: 3px;}

.trf-za{
	background-position:-24px 0;
}

.trf-al{
	background-position:-48px 0;
}

.trf-arabic{
	background-position:-72px 0;
}

.trf-by{
	background-position:-96px 0;
}

.trf-bg{
	background-position:-120px 0;
}

.trf-catalonia{
	background-position:-144px 0;
}

.trf-cn{
	background-position:-168px 0;
}

.trf-tw{
	background-position:-192px 0;
}

.trf-hr{
	background-position:-216px 0;
}

.trf-cz{
	background-position:-240px 0;
}

.trf-dk{
	background-position:-264px 0;
}

.trf-dutch{
	background-position:-288px 0;
}

.trf-ee{
	background-position:-312px 0;
}

.trf-fi{
	background-position:-336px 0;
}

.trf-french{
	background-position:-360px 0;
}

.trf-galicia{
	background-position:-384px 0;
}

.trf-german{
	background-position:-408px 0;
}

.trf-gr{
	background-position:-432px 0;
}

.trf-hebrew{
	background-position:-456px 0;
}

.trf-in{
	background-position:-480px 0;
}

.trf-hungary{
	background-position:-504px 0;
}

.trf-indonesia{
	background-position:-528px 0;
}

.trf-it{
	background-position:-552px 0;
}

.trf-is{
	background-position:-576px 0;
}

.trf-ie{
	background-position:-600px 0;
}

.trf-japan{
	background-position:-624px 0;
}

.trf-kr{
	background-position:-648px 0;
}

.trf-lv{
	background-position:-672px 0;
}

.trf-lt{
	background-position:-696px 0;
}

.trf-mk{
	background-position:-720px 0;
}

.trf-my{
	background-position:-744px 0;
}

.trf-mt{
	background-position:-768px 0;
}

.trf-no{
	background-position:-792px 0;
}

.trf-ir{
	background-position:-816px 0;
}

.trf-polish{
	background-position:-840px 0;
}

.trf-pt{
	background-position:-864px 0;
}

.trf-ro{
	background-position:-888px 0;
}

.trf-russian{
	background-position:-912px 0;
}

.trf-rs{
	background-position:-936px 0;
}

.trf-sk{
	background-position:-960px 0;
}

.trf-sl{
	background-position:-984px 0;
}

.trf-spanish{
	background-position:-1008px 0;
}

.trf-ke{
	background-position:-1032px 0;
}

.trf-se{
	background-position:-1056px 0;
}

.trf-ph{
	background-position:-1080px 0;
}

.trf-thai{
	background-position:-1104px 0;
}

.trf-turkish{
	background-position:-1128px 0;
}

.trf-ua{
	background-position:-1152px 0;
}

.trf-vn{
	background-position:-1176px 0;
}

.trf-wales{
	background-position:-1200px 0;
}

.trf-europeanunion{
	background-position:-1224px 0;
}
/************************ End Language Menu ************************/

#col3 .col{
	width: 306px;
	float: left;
	padding: 10px;
}
.col .pheader span, .col .pheader span + span{
	font-size: 24px;
	line-height: 40px;

}
.col .pheader span img{
	width: 20px; height: 20px;
	padding: 7px 7px 0 0;
}

pre{
	font-family:'Courier New';
	font-size: 11px;
	background: #ac6850;
	padding: 10px;
	color: #fff;
	border: 1px solid #804834;
	overflow-x: auto;
	overflow-y: scroll;
	margin: 0;
}

/******************** Widgets **************************/

#widget {
	margin: 0 0 20px 0;
}
.withborder{
	border:#ccc 1px solid; 
	padding: 20px 20px 20px 20px;
}
.withbg{
	border:#ccc 1px solid; 
	padding: 20px 20px 20px 20px;
	background: #e8e8e8;
}
.withoutbg{
	padding: 0px 0px 0px 0px;
}


/* Content */
.green-button {
	display: inline-block;
	width: auto;
	height: 35px;
	padding: 5px 25px 0 25px;
	margin: 0;
	line-height: normal;
	background: none; 
	border: 2px solid #49ab58;
	color: #49ab58;	
	font-family: 'daxlinepro-bold';
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	-webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    outline: none;
}

.green-button.white {
	border: 2px solid #fff;	
	color: #fff;
}

.green-button.white:hover {
	background: #49ab58;
	color: #fff;	
	box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}

.green-button:hover {
	background: #49ab58;
	color: #f8f9fd;	
	box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}

/* Upload form */
.index .file-upload-block {
	width: 58.29%;
	margin: 0 auto;
	padding-top: 30px;
}

.index .file-upload-block .section {
	position: relative;
	padding: 0 0 85px 0;
}

.index .file-upload-block .section ul.tabs {
	width: 100%;
	height: auto;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.index .file-upload-block .section ul.tabs li {
	float: left;
	width: auto;
	height: 36px;
    padding: 7px 25px 0 25px;
	line-height: normal;
	background: none;
	border: 0;
	color: #fff;
	font-family: 'daxlinepro-regular';
	font-size: 16px;
	-webkit-border-top-left-radius: 18px;
	-webkit-border-top-right-radius: 18px;
	-moz-border-radius-topleft: 18px;
	-moz-border-radius-topright: 18px;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.index .file-upload-block .section ul.tabs li.current {
	position: relative;
	background: #484a50;
	color: #2385e8;
	box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;	
}

.index .file-upload-block .section ul.tabs li.current:after {
	content: '';
	display: inline;
	position: absolute;
	bottom: 0;
	right: -10px;
	width: 10px;
	height: 10px;
	background: url('../images/ul-tabs-corner.png') center no-repeat;
}

.index .file-upload-block .section span.attention-message {
	position: absolute;
	top: 6px;
	right: 0;
	font-family: 'calibri-reg';
	color: #aba849;
}

.index .file-upload-block .section .box {
	width: 100%;
	padding: 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.index .file-upload-block .section .box .choose-block {
	padding: 10px;
	background: #484a50;
	-webkit-border-radius: 24px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 24px;
	-moz-border-radius-topleft: 0;
	border-radius: 24px;
	border-top-left-radius: 0;
}

.index .file-upload-block .section .box .choose-block.register {
	padding: 20px 0 16px 0;
	text-align: center;
}

.index .file-upload-block .section .box .choose-block.register a {
	color: #fff;
	text-decoration: underline;
}

.index .file-upload-block .section .box .choose-block.register a:hover {
	text-decoration: none;
}

.index .file-upload-block .section .box .choose-block.rounded {
	padding-top: 20px;
	border-radius: 24px;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	-o-border-radius: 24px;	
}

.index .file-upload-block .section .box .choose-block .input-wrapper {
	position: relative;
	display: block !important;
	width: 99%;
	height: 45px;
	background: #fff;
	-webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
}

.index .file-upload-block .section .box .choose-block .input-wrapper #selected-file-location {
	position: absolute;
	top: 13px;
	left: 30px;
	color: #4d4d4d;
	font-family: 'calibri-reg';
}

.index .file-upload-block .section .box.remote-url #uploadurl #show-advanced a:hover {
	text-decoration: underline;
}

.index .file-upload-block .section .box .choose-block .input-wrapper .uploadbtn {
	position: relative;
    width: 100%;
    height: 45px;
    margin: 0;
    border: 0;
    color: #fff;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none; 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  	filter: alpha(opacity=0);
  	opacity: 0;
    cursor: pointer; 
    z-index: 99999;
}

.index .file-upload-block .section .box .choose-block .input-wrapper .browsebtn {
    position: absolute;
	top: 0;
	right: -6px;
	margin: 0;
	padding: 11px 25px 0 25px;
    width: auto;
    height: 45px;
    border: 0;
    background: #49ab58;
    font-family: 'daxlinepro-bold';
    font-size: 18px;
    color: #fff; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   	-webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
}

.index .file-upload-block .section .box .choose-block .input-wrapper .browsebtn .btext {
	position: static;
	float: none;
	width: auto;
	height: auto;
	line-height: normal;
	text-align: center;
}

.index .file-upload-block .section .box table,
.index .file-upload-block .section .box table table {
	width: 100% !important;
	background: none;
}

.index .file-upload-block .section .box table#files_list {
	position: relative;
}

.index .file-upload-block .section .box table#files_list table {
	border: 10px solid #484a50;	
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;		
}

.index .file-upload-block .section .box table#files_list table,
.index .file-upload-block .section .box table#files_list table tr,
.index .file-upload-block .section .box table#files_list table tr td {
	background: none;
	color: #cbcbcb;
}

.index .file-upload-block .section .box table#files_list table tr td {
	padding: 15px;
}

.index .file-upload-block .section .box table#files_list .xfname {
	display: inline-block;
	margin-bottom: 10px;
    font-weight: normal;
    font-size: 20px;
    color: #fff;
}

.index .file-upload-block .section .box table#files_list table input[type="text"] {
	width: 88.5%;
	height: 25px;
	border: 0;
	outline: none;
}

.index .file-upload-block .section .box table#files_list table input[type="checkbox"],
.index .file-upload-block .section .box table#files_list table label.xdescr {
	display: none;	
}

.index .file-upload-block .section .box #show_advanced {
	width: auto !important;
	padding: 5px 0;
    margin: 5px 0;
  	text-align: center;
}

.index .file-upload-block .section .box #show_advanced a {
	color: #fff;
}

.index .file-upload-block .section .box table#advanced_opts,
.index .file-upload-block .section .box table#advanced_opts tr,
.index .file-upload-block .section .box table#advanced_opts tr td {
	background: none;
	border: 0;
	color: #cbcbcb;
}

.index .file-upload-block .section .box table#advanced_opts {
	border: 10px solid #484a50;	
}

.index .file-upload-block .section .box table#advanced_opts tr {
	border-bottom: 1px solid #484a50;
}

.index .file-upload-block .section .box table#advanced_opts input[type="text"],
.index .file-upload-block .section .box table#advanced_opts select {
	height: 25px;
	margin: 0;
	border: 0;
	outline: none;
}


/* Remote url upload */

.index .file-upload-block .section .box.remote-url {
	color: #ECECEC;
}

.index .file-upload-block .section .box.remote-url form input[type="text"],
.index .file-upload-block .section .box.remote-url form input[type="password"],
.index .file-upload-block .section .box.remote-url form select,
.index .file-upload-block .section .box.remote-url form textarea {
	border: 0;
	background: #fff;
	outline: none;
	resize: none;
}

.index .file-upload-block .section .box.remote-url form textarea {
	height: 150px;
	-webkit-border-bottom-right-radius: 18px;
	-webkit-border-bottom-left-radius: 18px;
	-moz-border-radius-bottomright: 18px;
	-moz-border-radius-bottomleft: 18px;
	border-bottom-right-radius: 18px;
	border-bottom-left-radius: 18px;
}

.index .file-upload-block .section .box.remote-url form .advanced {
	float: none;
	width: 100%;
	margin: 40px 0 0 0;
	padding: 15px;
	background: none;
	border: 10px solid #484a50;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.index .file-upload-block .section .box.remote-url form .advanced h2 {
	margin-bottom: 15px;
	color: #ECECEC;
}

.index .file-upload-block .section .box.remote-url form .advanced p label {
	display: inline-block;
	width: 145px;
}

.index .file-upload-block .section .box.remote-url form .advanced p input[type="text"],
.index .file-upload-block .section .box.remote-url form .advanced p input[type="password"],
.index .file-upload-block .section .box.remote-url form .advanced p select {
    width: 76.2%;
    padding: 0 0 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.index .file-upload-block .section .box.remote-url .tos-n-load {
	margin: 0 0 25px 0;
	text-align: center;
}

.index .file-upload-block .section .box.remote-url .tos-n-load .tos {
	margin: 10px 0 0 0;
	text-align: left;
}

.index .file-upload-block .section .box.remote-url .tos-n-load .tos label {
	position: relative;
	cursor: pointer;
}

.index .file-upload-block .section .box.remote-url .tos-n-load .tos label input[type="checkbox"] {
	display: none;
}

.index .file-upload-block .section .box.remote-url .tos-n-load .tos label:after {
	content: '';
	position: absolute;
    right: -18px;
    top: 3px;
    display: inline-block;
    width: 11px;
    height: 11px;
    background: #484a50;
}

.index .file-upload-block .section .box.remote-url .tos-n-load .tos label.checked:after {
	background: #484a50 url('../images/check-ico.png') top right no-repeat;	
}

.index .file-upload-block .section .box.remote-url .tos-n-load .uploadbtn {
	display: inline-block;
	width: auto;
	margin: 0;
}

/* /Remote url upload */

.index .file-upload-block .section .progress_div {
	color: #fff;
}

.index .file-upload-block .section .progress_div a {
	display: block;
	margin-top: 20px;
	color: #bf4073;
}

/* /Upload form */

.index #container .services-list {
	display: block !important;
	padding: 50px 0 0 0;
}

.index #container .services-list .container {
	position: relative;
	margin: 0 auto;
	width: 1170px;
}

.index #container .services-list .container:before {
	content: '';
    position: absolute;
    top: -135px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: inline-block;
    width: 95px;
    height: 95px;
    background: url('../images/upload-file-ico.png') top left no-repeat;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} 

.index #container .services-list .container:after {
    content: 'Upload your file';
    display: inline-block;
    position: absolute;
    top: -54px;
    right: 30.42%;
    padding: 0 0 0 48px;
    background: url('../images/blue-arrow.png') left top no-repeat;
    font-family: 'ardleyshandregular';
    font-size: 18px;
    color: #2385e8;
}

.index #container .services-list h1 {
	display: block;
    margin: 0 auto 28px;
    width: 34.188%;
    line-height: 32px;
    font-weight: normal;
    font-size: 30px;
    color: #2c2e34;
}	

.index #container .services-list h1 span {
	font-family: 'daxlinepro-medium';
}

.index #container .services-list ul.list {
	padding: 20px 0 0 0;
	border-top: 1px solid #e7e7e7;
}

.index #container .services-list ul.list .block {
	float: left;
	margin: 0 10.256% 0 0;
}

.index #container .services-list ul.list .block:last-child {
	margin-right: 0;
}

.index #container .services-list ul.list li {
	padding: 0 0 0 25px;
	margin: 0 0 5px 0;
	background: url('../images/checked-ico.png') left center no-repeat; 
	font-family: 'calibri-light';
	font-size: 18px;
	color: #2c2e34; 
	text-align: left;
}

.index #container .services-list ul.list li:last-child {
	margin: 0;
}

.index #container .services-list ul.list li strong {
	font-weight: normal;
	font-family: 'calibri-bold';
}

.index #container .services-list .green-button {
	margin: 23px 0 0 0;
}

/* Download page / My account page */

.container1.download, 
.container1.my-account,
.container1.my-files {
	margin-top: 60px !important;
	color: #2c2e34;
}

.container1.download h1.title,
.container1.my-account h1.title,
.container1.my-files h1.title {
	display: block;
	position: relative;
	padding: 0 0 10px 0;
	margin: 0 0 30px 0;
    line-height: normal;
    border-bottom: 1px solid #e7e7e7;
    font-weight: normal;
    font-size: 30px;
    color: #2c2e34;
    text-align: center;
}

.container1.download h1.title span,
.container1.my-account h1.title span,
.container1.my-files h1.title span {
	font-family: 'daxlinepro-bold';
}

.container1.download h1.title span.f-info,
.container1.my-account h1.title span.u-info {
	display: block;
	font-size: 18px; 
} 

.container1.my-account h1.title span.u-info {
	font-family: 'daxlinepro-light';
	font-size: 18px;	
}

.container1.my-account h1.title span.u-info strong {
	font-family: 'daxlinepro-bold';
	font-weight: normal;
	color: #49ab58; 
}

.container1.download h1.title:before,
.container1.my-account h1.title:before,
.container1.my-files h1.title:before {
	content: '';	
	position: absolute;
	bottom: 115px;
    left: 0;
    right: 0;
    margin: 0 auto;
	display: inline-block;
	width: 95px;
	height: 95px;
	background: url('../images/download-file-ico.png') top left no-repeat;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container1.my-account h1.title:before {
	background: url('../images/your-account-ico.png') top left no-repeat;	
}

.container1.download h1.title:after,
.container1.my-account h1.title:after,
.container1.my-files h1.title:after {
	content: 'Time to share...';
	display: inline-block;
	position: absolute;
	bottom: 102px;
	right: 31.196%;
	padding: 0 0 0 48px;
	background: url('../images/blue-arrow.png') left top no-repeat; 
	font-family: 'ardleyshandregular';
	font-size: 18px;
	color: #2385e8; 
}

.container1.my-account h1.title:after {
	content: 'Here is my account';
	right: 28.63%;	
}

.container1.my-files h1.title:after {
	content: 'My uploaded files';
	right: 29.487%;	
}

.container1.step2 h1.title:before {
	bottom: 89px !important;
}

.container1.my-files h1.title:before {
	bottom: 88px;
}

.container1.step2 h1.title:after {
	bottom: 74px;
}

.container1.my-files h1.title:after {
	bottom: 75px;	
}

.container1.download .file-info,
.container1.upload-results .file-info {
	margin: 0 0 15px 0;
	font-size: 14px;
	font-family: 'calibri-light';
}

.container1.upload-results .file-info {
	font-size: 16px;
}

.container1.download .file-info p strong,
.container1.upload-results .file-info p strong {
	font-weight: normal;
	font-family: 'calibri-bold';
}

.container1.download .file-info p span,
.container1.upload-results .file-info p span {
	font-family: 'calibri-bold';
	color: #2385e8;
}

.container1.download .file-info a.abuse {
	color: #75bb80;
	text-decoration: underline; 
}

.container1.download .file-info a.abuse:hover {
	text-decoration: none; 
}

.container1.download .file-info #pay_modes input[type="button"] {
	padding: 0;
    margin: 0 5px 0 0;
	border: 0;
	background: none;
	color: #2385e8;
	font-family: 'calibri-bold';
	cursor: pointer;
	outline: none;
}

/* Sharetabs */
.container1.download .sharetabs,
.container1.download .sharetabs .section,
.container1.download .sharetabs .section ul.tabs,
.container1.download .sharetabs .section .box,
.container1.upload-results .sharetabs,
.container1.upload-results .sharetabs .section,
.container1.upload-results .sharetabs .section ul.tabs,
.container1.upload-results .sharetabs .section .box {
	width: 100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container1.download .sharetabs,
.container1.upload-results .sharetabs {
	margin: 40px 0 0 0;
	padding: 10px 0 0 0;
	border-top: 1px solid #e7e7e7;
}

.container1.upload-results .sharetabs {
	margin: 25px 0 0 0;
	border: 0;
}

.container1.download span#countdown {
	display: block;
	margin-bottom: 10px;
}

.container1.download .sharetabs .section ul.tabs,
.container1.upload-results .sharetabs .section ul.tabs {
	height: 35px;
	line-height: normal;
}

.container1.download .sharetabs .section ul.tabs li,
.container1.upload-results .sharetabs .section ul.tabs li {
    float: left;
    display: inline;
    width: auto;
    height: 36px;
    padding: 9px 25px 0 25px;
    margin: 0;
    line-height: normal;
    background: none;
    border: 0;
    font-family: 'daxlinepro-regular';
    font-size: 16px;
    color: #49ab58;
    -webkit-border-top-left-radius: 18px;
	-webkit-border-top-right-radius: 18px;
	-moz-border-radius-topleft: 18px;
	-moz-border-radius-topright: 18px;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
}

.container1.download .sharetabs .section ul.tabs li.current,
.container1.upload-results .sharetabs .section ul.tabs li.current {
	border: 0;
	background: #e2e3e9; 
	color: #2385e8;
}

.container1.download .sharetabs .section .box,
.container1.upload-results .sharetabs .section .box {
	padding: 10px;
	border: 0;
	background: #e2e3e9;
	-webkit-border-radius: 24px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 24px;
	-moz-border-radius-topleft: 0;
	border-radius: 24px;
	border-top-left-radius: 0;
}

.container1.download .sharetabs .section .box.rounded,
.container1.upload-results .sharetabs .section .box.rounded {
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;	
}

.container1.download .sharetabs .section .box .tabcontent textarea,
.container1.upload-results .sharetabs .section .box textarea {
	padding: 14px 30px 14px 30px;
	line-height: normal;
	background: #fff;
	border: 0;
	color: #4d4d4d;
	font-family: 'calibri-reg';
	font-size: 14px;
	box-shadow: none;
	text-align: left;
	white-space: nowrap;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px; 
	outline: none;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none; 
}

/* /Sharetabs */

.container1.my-account .account-info-block {
	margin: 0 auto;
	width: 60.68%;
}

.container1.my-account .account-info-block ul {
	padding: 0;
	margin: 0 0 25px 0;
}

.container1.my-account .account-info-block ul li {
	float: left;
	width: 342px;
	height: 83px;
	padding: 23px 0 0 140px;
	font-size: 18px;
	color: #fff;
	text-align: left;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container1.my-account .account-info-block ul li p.info {
	margin: 2px 0 0 0;
	font-family: 'daxlinepro-bold';
}

.container1.my-account .account-info-block ul li.balance {
	background: url('../images/account-balance.png') left top no-repeat;
	margin: 0 3.09% 0 0;
}

.container1.my-account .account-info-block ul li.used-space {
	background: url('../images/used-space.png') left top no-repeat;
}

.container1.my-account .change-password-block {
	margin: 28px 0 0 0;
	padding: 28px 0 0 0;
	border-top: 1px solid #e7e7e7;
}

.container1.my-account .change-password-block input[type="text"] {
	position: static;
	float: left;
	padding: 0;
	margin: 0;	
	width: 23.333%;
	height: 40px;
	padding: 0 30px;
	margin: 0 2.136% 0 0;
	background: #e7e7e7;
	border: 0; 
	font-family: 'calibri-reg';
	color: #4d4d4d;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
    outline: none;
}

.container1.my-account .change-password-block input[type="text"]:focus {
	background: #dcd9d9;
}

.container1.my-account .change-password-block input.last {
	margin: 0;
}

.container1.my-account .change-password-block .green-button {
	margin: 40px 0 0 0;
}
	
/* /Download pages /My account page */

/* My files */

.container1.my-files {
	color: #2c2e34;
}

.container1.my-files .top-block {
	width: 65.811%;
	margin: 0 auto;
}

.container1.my-files .top-block > div {
	position: relative;
	float: left;
	width: 48.11%;
}

.container1.my-files .top-block div.create-folder {
	margin: 0 0 0 3.636% !important; 
}

.container1.my-files .top-block input[type="text"] {
	position: static;
	height: 40px;
	line-height: 40px;
	width: 100%;
	margin: 0;
	padding: 0 30px;
	border: 0;
	background: #e7e7e7;
	color: #4d4d4d;
	font-family: 'calibri-reg';
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
    outline: none;
}

.container1.my-files .top-block input[type="text"]:focus {
	background: #dcd9d9;
}

.container1.my-files .top-block input[type="submit"] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	width: 49px;
	height: 40px;
	background: #49ab58;
	border: 0;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	cursor: pointer;
	outline: none;
}

.container1.my-files .top-block .search input[type="submit"] { 
	background: #49ab58 url('../images/search-ico.png') center no-repeat;
}

.container1.my-files .top-block .search input[type="submit"]:hover { 
	background: #2e903d url('../images/search-ico.png') center no-repeat;
}

.container1.my-files .top-block .create-folder input[type="submit"] { 
	background: #49ab58 url('../images/add-folder-ico.png') center no-repeat;
}

.container1.my-files .top-block .create-folder input[type="submit"]:hover { 
	background: #2e903d url('../images/add-folder-ico.png') center no-repeat;
}

.container1.my-files .freespace {
	height: auto;
	margin: 30px 0;
	padding: 15px 5px;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	font-family: 'calibri-light';
	font-size: 15px;
	text-align: left;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container1.my-files .folders .table-title {
	padding: 0 0 0 10px;
	line-height: 32px;
    background: #e7e7e7;
    font-family: 'calibri-bold';
    text-align: left; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container1.my-files .folders table .table-title {
	display: none;
}

.container1.my-files .folders,
.container1.my-files .files,
.container1.my-files table#folders_list2,
.container1.my-files table#files_list2 {
	float: none;
	width: 100%;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container1.my-files table#files_list2 {
	font-family: 'calibri-light';
	font-size: 14px !important;
	color: #2c2e34;
}

.container1.my-files table#folders_list2 a,
.container1.my-files table#files_list2 a {
    font-family: 'calibri-bold';
    color: #2c2e34;
}

.container1.my-files .folders table {
	border: 0; 
}

.container1.my-files .folders table tr.curfolder td.foldername {
	height: auto;
	padding: 0;
	border: 0;
	background: none;
}

.container1.my-files table#folders_list2,
.container1.my-files table#folders_list2 tr td {
	background: none;
	border: 0;
}

.container1.my-files table#folders_list2 tr {
	border-bottom: 1px solid #e7e7e7;
}

.container1.my-files table#folders_list2 tr.folderrow:last-child {
	border: 0 !important;
}

.container1.my-files table#folders_list2 a:hover {
	text-decoration: underline;
}

.container1.my-files table#files_list2,
.container1.my-files table#files_list2 tr.actionpanel {
	background: none;
	border: 0;
}

.container1.my-files table#files_list2 {
	margin-top: 20px;
	margin-bottom: 90px;
}

.container1.my-files table#files_list2 tr {
	background: none;
	border-bottom: 1px solid #e7e7e7;
}

.container1.my-files table#files_list2 tr th {
	border: 0;
	background: #e7e7e7;
}

.container1.my-files table#files_list2 tr th:nth-child(2) {
	text-align: left;
}

.container1.my-files table#files_list2 tr th a {
	font-family: 'calibri-bold';
	color: #2c2e34;
}

.container1.my-files table#files_list2 tr th a:hover {
	color: #2c2e34;
	text-decoration: underline;
}

.container1.my-files table#files_list2 tr td {
	border: 0;
	background: none;
}

.container1.my-files table#files_list2 tr.actionpanel td > div {
	padding: 15px 0 0 0;
}

.container1.my-files table#files_list2 tr.actionpanel input {
	margin: 0 15px 0 0;
}

.container1.my-files table#files_list2 tr .to-folder {
	float: left;
}

.container1.my-files table#files_list2 tr .to-folder select {
	position: static;
	width: 270px;
	height: 35px;
    line-height: 35px;
    margin: 0 15px 0 3px;
    padding: 0 25px;
    border: 0;
    background: #e7e7e7;
    color: #4d4d4d;
    font-family: 'calibri-reg';
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    outline: none;
}

/* /My files */

/* Other pages */

/*
news
catalogue
checkfiles
contact
*/

.container1.catalogue input[type="text"],
.container1.checkfiles textarea,
.container1.contact input[type="text"],
.container1.contact textarea,
.container1.login form .form-block input[type="text"],
.container1.login form .form-block input[type="password"],
.container1.registration form .form-block input[type="text"],
.container1.registration form .form-block input[type="password"],
.container1.registration form .form-block select,
.container1.forgot-password form input[type="text"],
.container1.my-reports form.from-to input[type="text"] {
    position: static;
    padding: 0;
    margin: 0;
    height: 35px;
    padding: 0 30px;
    margin: 0;
    background: #e7e7e7;
    border: 0;
    font-family: 'calibri-reg';
    color: #4d4d4d;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    outline: none;
}

.container1.catalogue input[type="text"]:focus,
.container1.checkfiles textarea:focus,
.container1.contact input[type="text"]:focus,
.container1.contact textarea:focus,
.container1.login form .form-block input[type="text"]:focus,
.container1.login form .form-block input[type="password"]:focus,
.container1.registration form .form-block input[type="text"]:focus,
.container1.registration form .form-block input[type="password"]:focus,
.container1.registration form .form-block select:focus,
.container1.forgot-password form input[type="text"]:focus,
.container1.my-reports form.from-to input[type="text"]:focus {
	background: #dcd9d9;
}

.container1.my-reports form.from-to input[type="text"] {
	height: 30px;	
	margin: 0 5px 15px 2px;
	padding: 0 15px;
	text-align: center;
}

.container1.forgot-password form input[type="text"] {
	width: 23.93%;
	margin: 0 0 15px 0;
}

.container1.registration form .form-block input[type="text"],
.container1.registration form .form-block input[type="password"] {
	width: 25.64%;
}

.container1.registration form .form-block select {
	padding: 0 10px;
}

.container1.catalogue form > input[type="text"] {
	width: 50%;
}

.container1.checkfiles textarea {
	height: 200px;
	padding: 20px;
	margin: 5px 0 20px 0;
	resize: none; 
}

.container1.contact .inputs,
.container1.contact .textarea {
	float: left;
}

.container1.contact .inputs {
    width: 38%;
    margin: 0 2% 0 0;
}

.container1.contact .inputs .input-group {
	margin: 0 0 10px 0;
	text-align: left;
}

.container1.contact .inputs .input-group label {
	display: inline-block;
	width: 14.22%;
}

.container1.contact .inputs .input-group input {
	width: 84%;
}

.container1.contact .textarea {
	width: 60%;
}

.container1.contact .textarea textarea {
	width: 100% !important;
	height: 200px;
	padding: 20px;
	font-size: 15px;
	resize: none;
}

.container1.contact form input[type="submit"] {
	float: right;
	margin: 15px 0 0 0;
}

/* Login */

.container1.login form .form-block {
	width: 39%;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container1.login form .form-block input[type="text"],
.container1.login form .form-block input[type="password"] {
	width: 48.67%;
}

.container1.login form .form-block .green-button {
	margin: 15px 0 0 0;
}

/* /Login */

/* Registration */

.container1.registration form .form-block {
	margin: 0 auto;
    width: 455px;
	text-align: left;
}

.container1.registration form .form-block .form-group {
	margin: 0 0 10px 0;
}

.container1.registration form .form-block .form-group label {
	float: left;
	width: 32.967%;
	line-height: 35px;
}

.container1.registration form .form-block .form-group input[type="text"],
.container1.registration form .form-block .form-group input[type="password"] {
	width: 65.93%;
}

.container1.registration form .form-block .form-group.submit {
	margin: 30px 0 0 0;
	border-top: 1px solid #e7e7e7;
	text-align: center;
}

.container1.registration form .form-block .form-group.submit .green-button {
	margin: 20px 0 0 0;
}

/* /Registration */

/* /Content */

/******************** End Widgets **************************/

.paging{
clear: both;
	text-align: center;
}
.paging.top{
	margin: 20px 0 20px 0;
}
.paging.bottom{
	margin: 20px 0 40px 0;
}
.paging a{
	font-weight: bold;
	text-decoration: none;
	margin: 15px 5px;
	padding: 4px 4px;
}
.paging a:hover #triangle-right{
	width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-left: 4px solid #a6c6cb;
	border-bottom: 4px solid transparent;
	transition:all 0.3s ease;
}
.paging a:hover #triangle-left{
	width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-right: 4px solid #a6c6cb;
	border-bottom: 4px solid transparent;
	transition:all 0.3s ease;
}

.paging span{
	color: #656565;
	padding: 4px 4px;
	margin: 15px 5px;
}
.paging span.dotted{
	color: #656565;
	padding: 2px 2px;
	margin: 15px 2px;
}

#triangle-right {
	width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-left: 4px solid #118bb6;
	border-bottom: 4px solid transparent;
	display: inline-block;
}
#triangle-left{
	width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-right: 4px solid #118bb6;
	border-bottom: 4px solid transparent;
	transition:all 0.3s ease;
	display: inline-block;
}
#comments{
	float: left;
	position: relative;
}
#comments li{margin-bottom: 20px;}
.comment_header{

	vertical-align: middle;

}
.comment_body{
	padding: 10px 0;
	border-bottom: 1px solid #c8c8c8;

}
.comment_user{
	float: left;
	padding-left: 8px;
	display: block;
}
.comment_userip{
	float: left;
	margin-left: 20px;
	color: #aaaaaa;
	font-size: 11px;
}
.comment_date{
	float: right;
	color: #8a8a8a;
	font-size: 11px;
}
.comment_deletemessage{
	float: left;
	margin-top: 6px;
	margin-left: 15px;
}
.comment_mailto{
	float: left;
	margin-top: 6px;

}

#comment_btn, #method_free {
	/*
	display: inline-block;
	padding: 10px 20px;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	background: #0a9dd2;
	box-shadow: inset 0 0 40px #1d6c88;
	-webkit-box-shadow: inset 0 0 40px #1d6c88;
	-moz-box-shadow: inset 0 0 40px #1d6c88;
	height: 40px;
	*/
}

#comment_btn:hover {
	/*
	color: #9dd0e2;
	text-decoration: none;
	background: #0a9dd2;
	box-shadow: inset 0 0 60px #1d6c88;
	-webkit-box-shadow: inset 0 0 60px #1d6c88;
	-moz-box-shadow: inset 0 0 60px #1d6c88;
	*/
}

/******************* START FOOTER *******************/

footer {
	position: relative;
 	/* height: 360px; */
	width: 100%;
	margin: 20px 0 0 0;
	padding: 75px 0 65px 0;
	background: url('../images/footer-bg.jpg') top center no-repeat;
	color: #fefefe !important;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

footer:before {
	content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 431px;
    height: 22px;
    background: url('../images/footer-bg-white-element.png') center bottom no-repeat;
}

footer .container1 h3 {
	margin: 0 0 18px 0;
	font-size: 24px;
	font-family: 'daxlinepro-medium';
	font-weight: normal;
	color: #fefefe;
}

footer .container1 #fmenu {
	float: left;
	width: 11.538%;
	margin: 0 5.811% 0 0;
}

footer .container1 #fmenu ul {
	width: 100%;
}

footer .container1 #fmenu ul li {
	float: none;
	display: block;
	padding-left: 20px;
	background: url('../images/footer-list-ico.png') left center no-repeat 
}

footer .container1 #fmenu ul li a {
	display: block;
	font-family: 'calibri-reg';
	font-size: 14px;
	color: #fefefe;
}

footer .container1 #fmenu ul li a:hover {
	text-decoration: underline; 
}

footer .container1 .about-block {
	float: left;
	width: 63.67%;
	margin: 0 2.991% 0 0;
	font-family: 'calibri-reg';
	font-size: 16px;
	line-height: 1.5;
	color: #fefefe;
}

footer .container1 .about-block h3 {
	margin-bottom: 0;
}

footer .container1 .contact-us {
	float: left;
	width: auto;
}

footer .container1 .contact-us h3 {
	margin: 0 0 23px 0;
}

footer .container1 .contact-us ul {
}

footer .container1 .contact-us ul li {
	float: left;
}

footer .container1 .contact-us ul li:first-child {
	margin: 0 10px 0 0;
}

footer .container1 .contact-us ul li a {
	display: block;
	width: 38px;
	height: 38px;
}

footer .container1 .contact-us ul li a.fbook {
	background: url('../images/footer-facebook-ico.png') center no-repeat; 
}

footer .container1 .contact-us ul li a.email {
	background: url('../images/footer-mail-ico.png') center no-repeat; 
}

footer .container1 .contact-us ul li a:hover {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80); 
  opacity: 0.8;
}

footer .container1 .copyright {
	display: block;
	width: 100%;
	margin: 35px 0 0 0;
	padding: 15px 0 0 0;
	border-top: 1px solid #5999db;
	color: #fefefe;
	font-family: 'calibri-reg';
	font-size: 14px;
	text-align: left;
}





.leftintab {
	float: left; width: 545px;
}
.advanced {
	float: right;
	width: 320px;
	background: #f2f2f2;
	padding: 20px;
}

/******************* START FORMS*******************/
input.input1 {
	position: relative;
	height: 30px;
	border: 1px solid #c8c8c8;
	background: #fff;
	color: #838383;
	box-shadow: inset 0 0 20px #e2e2e2;
	-webkit-box-shadow: inset 0 0 20px #e2e2e2;
	-moz-box-shadow: inset 0 0 20px #e2e2e2;
	line-height: 30px;
	padding: 0 0 0 10px;
	font-size: 13px;
}
.folders .input1 {
	float: left;
	width: 253px;
	height: 30px;
}
.folders input[type="text"] + input[type="submit"]{
	float: left;
	position: relative;
	display: block;
	height: 32px;
	width: 32px;
	border: 1px solid #467618;
	cursor: pointer;
	background: #60a127 url(../images/icon_cr_folder.png) 60% 50% no-repeat;
	color: #838383;
	box-shadow: inset 0 0 15px #4a8c11;
	-webkit-box-shadow: inset 0 0 15px #4a8c11;
	-moz-box-shadow: inset 0 0 15px #4a8c11;
	margin-left: 7px;
}
.folders input[type="text"] + input[type="submit"]:hover{
	transition: all .1s linear;
	box-shadow: inset 0 0 30px #4a8c11;
	-webkit-box-shadow: inset 0 0 30px #4a8c11;
	-moz-box-shadow: inset 0 0 30px #4a8c11;
	border: 1px solid #467618;
}

input[type="text"],
input[type="password"],
select {
	position: relative;
	left:-1px;
	height: 20px;
	border: 1px solid #c8c8c8;
	background: #fff;
	color: #838383;
	box-shadow: inset 0 0 20px #e2e2e2;
	-webkit-box-shadow: inset 0 0 20px #e2e2e2;
	-moz-box-shadow: inset 0 0 20px #e2e2e2;
	line-height: 15px;
	padding: 0 0 0 3px;
	font-size: 13px;
}
.advanced input[type="text"],
.advanced input[type="password"]{
	height: 30px;
}
.advanced select{
	height: 32px;
}
select{
	position: relative;
	left:-1px;
	border: 1px solid #c8c8c8;
	background: #fff;
	color: #838383;
	box-shadow: inset 0 0 20px #e2e2e2;
	-webkit-box-shadow: inset 0 0 20px #e2e2e2;
	-moz-box-shadow: inset 0 0 20px #e2e2e2;
	line-height: 30px;
	padding: 0 0 0 5px;
	font-size: 13px;
	height: 22px;
}
.advanced label + select {
	width: 182px;
}
.advanced label + select > option{
	padding:8px;
}
.advanced p{
	display: block;
	height: 20px;
	margin-bottom: 20px;
}
.advanced:last-child{
	margin-bottom: 0px;
}
label + input[type="text"]:hover,
label + input[type="password"]:hover,
input[type="text"]:hover,
input[type="password"]:hover{
	border-color: #9a9a9a;
}
label + input[type="text"]:active,
label + input[type="password"]:active,
input[type="text"]:active,
input[type="password"]:active,
select:active{
	border-color: #9a9a9a;
}
label + input[type="text"]:focus,
label + input[type="password"]:focus,
input[type="text"]:focus,
select:focus,
input[type="password"]:focus{
	border-color: #9a9a9a;
}

.leftintab textarea{
	position: relative;
	float: left;
	display: block;
	border: 1px solid #c8c8c8;
	background: #fff;
	color: #838383;
	box-shadow: inset 0 0 20px #e2e2e2;
	-webkit-box-shadow: inset 0 0 20px #e2e2e2;
	-moz-box-shadow: inset 0 0 20px #e2e2e2;
	line-height: 20px;
	padding: 3px 5px 3px 5px;
	font-size: 13px;
	margin: 20px 0 0 0;
	min-height: 160px;
	max-width: 535px;
}
textarea{
	position: relative;
	border: 1px solid #c8c8c8;
	background: #fff;
	color: #838383;
	box-shadow: inset 0 0 20px #e2e2e2;
	-webkit-box-shadow: inset 0 0 20px #e2e2e2;
	-moz-box-shadow: inset 0 0 20px #e2e2e2;
	line-height: 20px;
	padding: 3px 5px 3px 5px;
	font-size: 13px;
}
textarea:active,
textarea:focus{
	border-color: #9a9a9a;
}

/********************** Start Premium***********************/
.accexpire{
	width: 980px;
	height: 50px;
	line-height: 50px;
	margin: 0 0 50px 0;
	color: #118bb6;
	font-size: 15px;
}
.accexpire span + span{
	color: #818181;
}
.premium_table{
	margin: 60px 0 0px;
	position: relative;
	background: #f4f4f4;
	box-shadow: #e9e9e9 0 0 60px inset;
	-webkit-box-shadow: #e9e9e9 0 0 60px inset;
	-moz-box-shadow: #e9e9e9 0 0 60px inset;
	width: 980px;
}
.premium_table .features{
	padding: 20px 40px 10px 20px;
	width: 340px;
}
.premium_table .features ul{
	float: right;
}
.premium_table .features ul li{
	line-height: 37px;
	font-size: 15px;
	text-align: right;
}
.premium_table .features h3{
	float: right;
}
.plans{
	width: 580px;
	height: 430px;
	background: #999;
	position: absolute;
	top: -10px;
	right: 10px;
}
.premium_table .free_plan{
	position: absolute;
	top: 0px;
	left: 0px;
	background: #e9e9e9;
	box-shadow: #d3d3d3 0 0 60px inset;
	-webkit-box-shadow: #d3d3d3 0 0 60px inset;
	-moz-box-shadow: #d3d3d3 0 0 60px inset;
	width: 163px;
	height:430px;
	z-index: 999;
	padding: 0 10px;
}
.premium_table .registered_plan{
	position: absolute;
	top: 0px;
	right: 0px;
	background: #e9e9e9;
	box-shadow: #d3d3d3 0 0 60px inset;
	-webkit-box-shadow: #d3d3d3 0 0 60px inset;
	-moz-box-shadow: #d3d3d3 0 0 60px inset;
	width: 163px;
	height:430px;
	z-index: 999;
	padding: 0 10px;
}
.premium_table .premium_plan{
	position: absolute;
	top: -10px;
	left: 182px;
	background: #118bb6;
	box-shadow: #0d7295 0px 50px 50px inset,
				rgba(27, 148, 190, 0.46) 0 0 15px;
	-webkit-box-shadow: #0d7295 0px 50px 50px inset,
				rgba(27, 148, 190, 0.46) 0 0 15px;
	-moz-box-shadow: #0d7295 0px 50px 50px inset,
				rgba(27, 148, 190, 0.46) 0 0 15px;
	width: 195px;
	padding: 0 10px;
	height:440px;
	z-index: 1000;
}
.premium_table .premium_plan::after{
	position: absolute;
	content: "";
	bottom: -87px;
	left: -12px;
	width:241px;
	height:87px;
	background: url(../images/triangle.png) no-repeat;
	display: block;
	z-index: 9999;
}
.monthprice{
	padding: 10px 0 0 0;
	text-align: center;
	color: #04475f;
	position: absolute;
	font-weight: bold;
	width: 195px;
	z-index: 99999;
	font-size: 20px;
	text-shadow: 1px 1px 0px #25a3cf;
}
.monthprice::before{
	content: "";
	width: 50px;
	height: 1px;
	background: #04475f;
	display: block;
	border-bottom: 1px solid #25a3cf;
	left: 72px;
	top: 1px;
	position: absolute;
}
.monthprice span{
	font-weight: normal;
	display: block;
	font-size: 11px;
	text-shadow: 1px 1px 0px #25a3cf;
}

.premium_table .premium_plan ul {
	float: none;
}
.premium_table .premium_plan ul li{
	height: 35px;
	line-height: 37px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	border-bottom: 1px solid #278FB4;
	border-top: 1px solid #127EA5;
}
.premium_table .premium_plan ul li:first-child{
	border-bottom: 1px solid #278FB4;
	border-top: none;
}
.premium_table .premium_plan ul li:last-child{
	border-bottom: none;
	border-top: 1px solid #127EA5;

}

.premium_table .premium_plan .plan_name{
	background: #118bb6 url(../images/linebg.jpg) bottom repeat-x;
	border-bottom: 1px solid #1790bb;
	box-shadow: #0d7295 0 0 60px inset;
	-webkit-box-shadow: #0d7295 0 0 60px inset;
	-moz-box-shadow: #0d7295 0 0 60px inset;
	position:relative;
	left: -10px;
	width: 215px;
	height: 68px;
	line-height: 68px;
	text-align: center;
	font-size: 30px;
	color: #fff;
}
.premium_table .free_plan ul, .premium_table .registered_plan ul{
	float: none;
}
.premium_table .free_plan ul li, .premium_table .registered_plan ul li{

	height: 35px;
	text-align: center;
	color: #7f7f7f;
	border-bottom: 1px solid #ECECEC;
	border-top: 1px solid #DADADA;
}
.premium_table .free_plan ul li:first-child, .premium_table .registered_plan ul li:first-child{
	border-bottom: 1px solid #ECECEC;
	border-top: none;
}
.premium_table .free_plan ul li:last-child, .premium_table .registered_plan ul li:last-child{
	border-bottom: none;
	border-top: 1px solid #DADADA;
	font-size: 11px;
}
.premium_table .free_plan .plan_name, .premium_table .registered_plan .plan_name{
	background: #e9e9e9;
	box-shadow: #d3d3d3 0 0 60px inset;
	-webkit-box-shadow: #d3d3d3 0 0 60px inset;
	-moz-box-shadow: #d3d3d3 0 0 60px inset;
	position:relative;
	left: -10px;
	width: 182px;
	height: 59px;
	line-height: 59px;
	text-align: center;
	font-size: 20px;
	color: #7a7a7a;
}

.extend_premium{
	width:980px;
}
.extend_premium h2{
	text-align: center;
	margin-bottom: 20px;
}
.extend_premium .paybox{
	width: 230px;
	margin: 0px 0 0 20px;
	
}

.extend_premium .paybox:first-child {
}
.extend_premium .paybox .days{
	width: 230px;
	height: 70px;
	line-height:70px;
	text-align: center;
	font-size: 20px;
	background: #f4f4f4;
	box-shadow: #e9e9e9 0 0 60px inset;
	-webkit-box-shadow: #e9e9e9 0 0 60px inset;
	-moz-box-shadow: #e9e9e9 0 0 60px inset;
}
.extend_premium .paybox .price{
	width: 230px;
	height: 70px;
	line-height:70px;
	text-align: center;
	font-size: 30px;
	background: #0a9dd2;
	box-shadow: inset 0 0 60px #1d6c88;
	-webkit-box-shadow: inset 0 0 60px #1d6c88;
	-moz-box-shadow: inset 0 0 60px #1d6c88;
	color: #fff;
	font-weight: bold;	
}
.extend_premium .paysys{
	width: 228px;
	height: 48px;
	line-height:48px;
	background: #fff;
	border: 1px solid #e9e9e9;
	margin: 1px 0 0;
	text-align: center;
	font-size: 0;
	position: relative;
}
.extend_premium .paysys img{
	opacity: .6;
	filter: grayscale(100%);
	 -webkit-filter: grayscale(100%); 
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	max-height:40px;
	max-width:180px;
}
.paybox a:hover .paysys{border: 1px solid #0a9dd2; transition: all linear .5s;}
.paybox a:hover .paysys img{
	opacity: 1;
	filter: grayscale(0%);
	 -webkit-filter: grayscale(0%); 
	transition: all linear .5s;
}
/************************ End Premium***********************/
/******************* Start donwloads ***********************/
.player{
width: 600px;
height: 360px;
background: url(../images/player.jpg);
}
.picture{
width: 600px;
overflow: hidden;
}
.picture a img{
position: relative;
max-width:600px;
transition: .3 all ease;
}
.picture a img:hover{transition: all 0.2s linear 0s;
opacity:0.8;
background: #000;
}

.fileinfo{
margin-bottom: 40px;
}
.fileinfo ul li{
clear: both;
padding: 8px 0;
}

.fileinfo ul li .infoname{
font-size: 15px;
color: #aaaaaa;
width: 110px;
display: block;
float: left;
}
.fileinfo ul li .infoname + span{
font-size: 15px;
color: #5f5f5f;
float: left;
width: 250px;
}
.snap {
font-size: 15px;
color: #aaaaaa;
width: 110px;
display: block;
}
.snap + span {
margin-top: 14px;
width: 360px;
display: block;
}
.snap + span a img{
float: left;
width: 150px;
height: 100px;
margin-left: 10px;
}
.snap + span a:first-child img{
margin-left: 0;
}
#fileinfoarch{

width: 100%;

overflow: hidden;
position: relative;
}
#fileinfoarch #grad{
background: url('../images/grad.png') bottom no-repeat;
width: 100%;
height: 100px;
position: absolute;
bottom:-5px;
}
#showallarch{
	cursor: pointer;
}
#fileinfoarch ul li{
clear: both;
padding: 8px 0;
}

#fileinfoarch ul li .infoname{
font-size: 15px;
color: #5f5f5f;
width: 110px;
display: block;
float: left;
}
#fileinfoarch ul li .infoname + span{
font-size: 15px;

color: #aaaaaa;
float: right;
}
/******************* start dload tabs *******************/
.sharetabs ul.tabs {
	height: 25px;
	line-height: 25px;
	list-style: none;		
	margin: 20px 0 0;
	display: block;
	width: 600px;
}
.sharetabs .tabs li {
	text-align: center;
	float: left;
	display: inline;
	margin: 0 0px 0px 0;
	padding: 0px 0px 0px;
	width: 110px;
	color: #118BB6;
	cursor: pointer;
	font-size: 13px;
	border: 1px solid #e2e2e2;
	/*border-left: 1px solid #fff;*/
	border-left: none;
	position: relative;
	line-height: 25px;
	background: #f3f3f3;
	min-width: none;
	max-width: none;
}

.sharetabs .tabs li:hover{
	transition:all 0.1s linear;
	background: #f0f0f0;
}
.sharetabs .tabs li.current {
	color: #828282;
	background: #f0f0f0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	/*font-weight: bold;	*/
	font-size: 13px;
	border-bottom: 1px solid #f0f0f0;
}
.sharetabs .tabs li:first-child{
	border-left: 1px solid #e2e2e2;

}
.sharetabs .box {
	display: none;
	background: #f0f0f0;
	width: 588px;
	padding: 5px;
	border: 1px solid #e4e4e4;
	margin-top: 1px;
}
.sharetabs .box.visible {
	display: block;

	
}
.sharetabs .tabcontent .flashupload,
.sharetabs .tabcontent .uploadfile{
	text-align: center;
}
.sharetabs .tabcontent .uploadfile .browsebtn,
.sharetabs .tabcontent .flashupload .browsebtn{
	margin: 50px auto;
}
.sharetabs .tabcontent .uploadbtn{
	margin: 20px;
}
.sharetabs .tosread{
	font-size: 12px;
	padding: 0px 0px 4px;
	vertical-align: middle;
}
/*** end dload tabs ***/
/******************* End Downloads *************************/



/******************* START TABS *******************/
ul.tabs {
	height: 50px;
	line-height: 50px;
	list-style: none;		
	margin: 20px 0 0;
	display: table;
	width: 980px;
}
.tabs li {
	text-align: center;
	display: table-cell;
	margin: 0 0px 0px 0;
	padding: 0px 0px 0px;
	max-width: 100%;
	min-width: 70px;
	width: 200px;
	color: #777;
	cursor: pointer;
	font-size: 15px;
	border: 1px solid #e2e2e2;
	/*border-left: 1px solid #fff;*/
	border-left: none;
	position: relative;
	line-height: 50px;
	background: #f3f3f3;
}

.tabs li:hover{
	transition:all 0.1s linear;
	background: #f3f3f3;
	color: #8f8f8f;
}
.tabs li.current {
	color: #999;
	background: #f3f3f3;
	box-shadow: inset 0 0 50px #e6e6e6;
	-webkit-box-shadow: inset 0 0 50px #e6e6e6;
	-moz-box-shadow: inset 0 0 50px #e6e6e6;
	/*font-weight: bold;	*/

}
.tabs li:first-child{
	border-left: 1px solid #e2e2e2;

}
.box {
	display: none;
	background: url('../images/border.jpg') left top no-repeat,
	url('../images/border.jpg') right top no-repeat;
	width: 936px;
	padding: 20px;
}
.box.visible {
	display: block;
	
}
.tabcontent .flashupload,
.tabcontent .uploadfile{
	text-align: center;
}
.tabcontent .uploadfile .browsebtn,
.tabcontent .flashupload .browsebtn{
	margin: 50px auto;
}
.tabcontent .uploadbtn{
	margin: 20px;
}
.tosread{
	font-size: 12px;
	padding: 0px 0px 4px;
	vertical-align: middle;
}

/******************* start download button *******************/

.downloadbtn{
	position: relative;
	cursor: pointer;
	transition:all 0.3s ease;
	width: 360px;
	height: 65px;
	color: #fff;
	background: #64b126;
	box-shadow: inset 0 0 60px #587c29;
	-webkit-box-shadow: inset 0 0 60px #587c29;
	-moz-box-shadow: inset 0 0 60px #587c29;
	font-size: 19px;
	font-weight: bold;
	border: 0;
	margin: 20px 0;
}
.downloadbtn .bicon{
	float: left;
	width: 65px;
	height: 65px;
	position: absolute;
	display: block;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	background: #64b126;
	box-shadow: inset 0 0 60px #587c29;
	-webkit-box-shadow: inset 0 0 60px #587c29;
	-moz-box-shadow: inset 0 0 60px #587c29;
}
.downloadbtn .btext{
	letter-spacing: 0.3px;
	line-height: 65px;
	float: left;
	width: 200px;
	height: 65px;
	position: absolute;
	display: block;
	top: 0;
	left: 110px;
}
.downloadbtn .barrow {
    position: absolute;
    transition: all .2s linear;
    -webkit-transition: all .2s linear; /** Chrome & Safari **/
    -moz-transition: all .2s linear; /** Firefox **/
    -o-transition: all .2s linear; /** Opera **/
}
.downloadbtn .van {
    top: 15px;
    left: 26px;
}
.downloadbtn .vanb {
	position: absolute;
    top: 30px;
	left: 20px;
}
.downloadbtn:hover{
	transition:all 0.5s linear;
	background: #64b126;
	box-shadow: inset 0 0 80px #587c29;
	-webkit-box-shadow: inset 0 0 80px #587c29;
	-moz-box-shadow: inset 0 0 80px #587c29;
}
.downloadbtn:hover .move-bot{
    transform: translate(0,8px);
    -webkit-transform: translate(0,8px); /** Chrome & Safari **/
    -o-transform: translate(0,8px); /** Opera **/
    -moz-transform: translate(0px,8px); /** Firefox **/

}
.downloadbtn:hover .bicon{
	background: #64b126;
	transition:all 0.5s linear;
}

/******************* end download button *******************/
/******************* Start browse button *******************/
.browsebtn input[type="file"]{
	width: 200px;
	height: 65px;
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10000;
	cursor: pointer;
}

.browsebtn .bicon{
	float: left;
	background: #000;
	width: 65px;
	height: 65px;
	position: absolute;
	display: block;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	box-shadow: inset 0 0 50px #1d6c88;
	-webkit-box-shadow: inset 0 0 50px #1d6c88;
	-moz-box-shadow: inset 0 0 50px #1d6c88;
	background: #0a9dd2;
}

.browsebtn .btext {
	line-height: 65px;
	float: left;
	width: 135px;
	height: 65px;
	position: absolute;
	display: block;
	top: 0;
	left: 65px;
}

.browsebtn .bfolder {
    position: absolute;
    transition: all .2s linear;
    -webkit-transition: all .2s linear; /** Chrome & Safari **/
    -moz-transition: all .2s linear; /** Firefox **/
    -o-transition: all .2s linear; /** Opera **/
}
.browsebtn .van {
	display: block;
	width: 27px;
	height: 15px;
	background: #fff;
	
    top: 30px;
    left: 20px;
}

.browsebtn .vanb {
	position: absolute;
    top: 22px;
	left: 20px;
}

.browsebtn:hover .move{
    transform: perspective(30px) rotateX(-40deg);
    -webkit-transform: perspective(30px) rotateX(-40deg); /** Chrome & Safari **/
    -o-transform: perspective(30px) rotateX(-40deg); /** Opera **/
    -moz-transform: perspective(30px) rotateX(-40deg); /** Firefox **/

}
.browsebtn:hover .bicon{
	background: #17b6f0;
	transition:all 0.5s linear;
}
/******************* end browse button *******************/

.section {margin-bottom: 20px;}
/******************* END TABS *******************/

.servinfo{color:#a2a2a2;text-align: center; width: 100%;display: block; height: 50px;}
/******************* START TABLES *******************/

table a:link {}
table { font-size:13px; margin:0 auto; margin-top: 20px; border-collapse: collapse;}
table th {padding:10px; text-align: center; border:#ccc 1px solid;background: #e8e8e8; height: 25px;}
table th:first-child{text-align: left;padding-left:10px;}
table tr{text-align: left;}
table tr td {padding:7px 10px; background: #fafafa;background:#fbfbfb; border:#e4e4e4 1px solid;}
table tr.even td{background: #f6f6f6;}
table tr:hover td{background: #f2f2f2; }

table.filepanel a:link {}
table.filepanel { width:100%; font-size:13px; background:#eaebec; margin:0 auto; border:#ccc 1px solid; margin-top: 20px; border-collapse: collapse;}
table.filepanel th {padding:10px; text-align: center; border:#ccc 1px solid;background: #e8e8e8; height: 25px;}
table.filepanel tr{text-align: left;}
table.filepanel tr td:first-child {padding:10px; background: #f2f2f2; border:#e4e4e4 1px solid;text-align: left}
table.filepanel tr td {padding-top:10px; padding-left: 20px; background: #f2f2f2; border:#e4e4e4 1px solid;text-align: left}
.filepanel ul li a {
	display: block;
	width: 24px;
	height: 24px;
	transition: none;
}
.filepanel ul li a.fb {background: url(../images/social.jpg) 0px 96px;}
.filepanel ul li a.fb:hover {background: url(../images/social.jpg) 24px 96px;}
.filepanel ul li a.tw {background: url(../images/social.jpg) 0px 72px;}
.filepanel ul li a.tw:hover {background: url(../images/social.jpg) 24px 72px;}
.filepanel ul li a.gplus {background: url(../images/social.jpg) 0px 48px;}
.filepanel ul li a.gplus:hover {background: url(../images/social.jpg) 24px 48px;}
.filepanel ul li a.vk {background: url(../images/social.jpg) 0px 24px;}
.filepanel ul li a.vk:hover {background: url(../images/social.jpg) 24px 24px;}
.filepanel ul li {
	float: left;
	padding: 0 5px 0 0;

}
.filepanel ul li:last-child{
	padding: 0;
}
.filepanel .report{
	font-size: 11px;
	float: left;
	padding: 0px 10px;
}
.filepanel .report a{
	color: #ad725b;
	text-decoration: none;
}
.filepanel .report a:hover{
	color: #d29178;
}
.dfile{
	width: 516px;
	float: left;
	padding: 5px 0 0px 10px;
}
.dfilename{
	font-size: 20px;
	float: left;
}
.statd{
	display: block;
	text-align: center;
	font-size: 15px;
	color: #aaaaaa;
}
.statd + span{
	display: block;
	text-align: center;
	font-size: 15px;
}
.folders{
	float: left;
	width: 320px;
}
.files{
	margin-left: 20px;
	float: left;
	width: 640px;
}
a:link{text-decoration:none;}
.folders table a:link{text-decoration:none; font-weight: bold;}
.folders table,
.files table { font-size:13px; background:#fff; margin:0 auto; border:#e4e4e4 1px solid; margin-top: 20px; border-collapse: collapse;}
.folders table { width: 335px }
.folders table th{padding:7px; text-align: center; border:#e4e4e4 1px solid;background: #f2f2f2; height: 25px;}
.files table th, tr.hdr td {padding:7px; text-align: center; border:#e4e4e4 1px solid;background: #f2f2f2; height: 32px;font-weight:bold;}
.folders table th:first-child{text-align: left;}
.folders table tr,
.files table tr{text-align: left;  box-shadow: 0 0 20px #f0f0f0 inset; 
	-webkit-box-shadow: 0 0 20px #f0f0f0 inset
	-moz-box-shadow: 0 0 20px #f0f0f0 inset;}
.folders table tr td:first-child{}
.folders table tr td,
.files table tr td {background: #fafafa;background:#fbfbfb; border:#e4e4e4 1px solid; text-align: center; height: 10px;padding: 5px 7px;}
.folders table tr td.icontd,
.files table tr td.icontd{padding: 0 10px;width: 5px;}
.folders table tr.actionpanel,
.files table tr.actionpanel{border: 1px solid #fff;box-shadow: none; -webkit-box-shadow: none;
	-moz-box-shadow: none; text-align: left;}
.folders table tr.actionpanel td,
.files table tr.actionpanel td{border: 1px solid #fff;box-shadow: none; -webkit-box-shadow:none;
	-moz-box-shadow: none; padding:0;text-align: left;}
.folders table tr.actionpanel td:hover,
.files table tr.actionpanel td:hover{background:#fff;}
.folders table tr td.howfiles {font-size: 11px; border-left: 0;}
.folders table tr td.howfiles img{margin-right: 4px;}
.folders table tr td.filename,
.files table tr td.filename{border-right: 0; text-align: left;}
.folders table tr.tablesep,
.files table tr.tablesep{height: 10px;border: 1px solid #fff;box-shadow: none; -webkit-box-shadow: none;
	-moz-box-shadow: none;}
.folders table tr.backfolder{}
.folders table tr.curfolder{}
.folders table tr.curfolder td.foldername{font-weight: bold; border:#e4e4e4 1px solid;background: #f2f2f2; text-align: left;}
.folders table tr.curfolder td.foldername a{
	display: block;
	background: none repeat scroll 0% 0% #FFF;
	height: 18px;
	line-height: 18px;
	float: right;
	width: 80px;
	text-align: center;
	box-shadow: 0px 0px 20px #E8E8E8 inset;
	-webkit-box-shadow: 0px 0px 20px #E8E8E8 inset;
	-moz-box-shadow: 0px 0px 20px #E8E8E8 inset;
	border: 1px solid #C8C8C8;
	font-weight: normal;
	font-size: 11px;
}
.folders table tr.curfolder td.foldername a img{margin-right: 7px;}
.folders table tr:last-child td{ }
.folders table tr:hover td,
.files table tr:hover td{background: #f2f2f2; }
.files table tr td.tdinfo{}
.files table tr th.diamond img{padding: 0 0 4px 0;}
.files .copymove{
	border: 1px solid #C8C8C8;
	background: #F0F0F0;
	color: #838383;
	box-shadow: 0px 0px 20px #D5D5D5 inset;
	-webkit-box-shadow: 0px 0px 20px #D5D5D5 inset;
	-moz-box-shadow: 0px 0px 20px #D5D5D5 inset;
	height: 21px;
	padding: 4px;
	text-align: center;
}
.folders table input[type="button"],
input[type="submit"],
input[type="button"]{
	/*
	height: 21px;
	padding: 2px 5px 3px;
	font-size: 11px;
	color: #fff;
	text-shadow: 0 1px 0 #116583;
	background: #0a9dd2;
	box-shadow: 0 0 19px #1b7899 inset;
	-webkit-box-shadow: 0 0 19px #1b7899 inset;
	-moz-box-shadow: 0 0 19px #1b7899 inset;
	border: 1px solid #307d99;
	cursor: pointer;
	display: inline-block;
	*/
}

.files label{
	float: left;
	display: block;
	width: 97px;
	height: 29px;
	border: 1px solid #c8c8c8;
	background: #f0f0f0;
	color: #838383;
	box-shadow: inset 0 0 20px #d5d5d5;
	-webkit-box-shadow: inset 0 0 20px #d5d5d5;
	-moz-box-shadow: inset 0 0 20px #d5d5d5;
	line-height: 29px;
	padding: 0 0 0 10px;
	font-size: 13px;
}
.files label + select{
	position: relative;
	left:-1px;
	float: left;
	display: block;
	width: 398px;
	height: 31px;
	border: 1px solid #c8c8c8;
	background: #fff;
	color: #838383;
	box-shadow: inset 0 0 20px #e2e2e2;
	-webkit-box-shadow: inset 0 0 20px #e2e2e2;
	-moz-box-shadow: inset 0 0 20px #e2e2e2;
	line-height: 30px;
	padding: 0 0 0 10px;
	font-size: 13px;
}
.files label + select > option{
	padding:8px;
}

.folders .freespace{
	margin: 30px 0 0 0;
	width: 100%;
	height: 49px;
}

.folders .freespace .indicator{
	position: relative;
	width: 100%;
	border:#e4e4e4 1px solid;
	background: #f2f2f2;
	height: 17px;
	margin: 10px 0 0 0;
	text-align: left;
}
.folders .freespace .indicator .occupied{
	background: #229ec9; /* Old browsers */
	background: -moz-linear-gradient(top,  #229ec9 0%, #1b98c4 50%, #118bb6 50%, #118bb6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#229ec9), color-stop(50%,#1b98c4), color-stop(50%,#118bb6), color-stop(100%,#118bb6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #229ec9 0%,#1b98c4 50%,#118bb6 50%,#118bb6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #229ec9 0%,#1b98c4 50%,#118bb6 50%,#118bb6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #229ec9 0%,#1b98c4 50%,#118bb6 50%,#118bb6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #229ec9 0%,#1b98c4 50%,#118bb6 50%,#118bb6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#229ec9', endColorstr='#118bb6',GradientType=0 ); /* IE6-9 */
	position: absolute;
	height: 17px;
	
}

.files .search{
	margin: 30px 0 0 0;
	border:#e4e4e4 1px solid;
	background: #f2f2f2;
	padding: 7px;

	height: 33px;
}
.files .search input[type="text"]{
	width: 573px;
	float: left;
}
.files .search input[type="text"] + input[type="submit"],
input[type="button"].searchbtn {
	position: relative;
	width: 32px;
	display: inline-block;
	cursor: pointer;
	box-shadow: 0 0 19px #1b7899 inset;
	-webkit-box-shadow: 0 0 19px #1b7899 inset;
	-moz-box-shadow: 0 0 19px #1b7899 inset;
	border: 1px solid #307d99;
	background: #0a9dd2 url(../images/icon_search.png) no-repeat scroll 50% 50%;
	color: #838383;
	margin-left: 7px;
}
.files .search input{
	height: 32px;
}
.folders_list input{
	height: 30px;
}
.files .search input[type="text"] + input[type="submit"]:hover{
	transition: all .1s linear;
	box-shadow: inset 0 0 30px #1b7899;
	-webkit-box-shadow: inset 0 0 30px #1b7899;
	-moz-box-shadow: inset 0 0 30px #1b7899;
	border: 1px solid #307d99;
}
/******************* END TABLES *******************/
.clear{
	clear: both;
}
.uploadfile {
	margin-left: auto;
	margin-right: auto;
}

input
{
	margin: 2px;
}

.search input,
.folders_list input,
.advanced input,
.copymove input
{
	margin: 0px;
}

.tabberlive .tabbertabhide {display:none;}                                                                                        
.tabber {}
.tabberlive {margin-top:1px;}
ul.tabbernav{margin:0;padding: 3px 0;border-bottom: 1px solid rgba(0,0,0,.06);}
ul.tabbernav li{list-style: none;margin: 0;display: inline;width: 110px;}
ul.tabbernav li a {background: #f3f3f3; border: 1px solid rgba(0,0,0,.06); padding: 3px 3px;border-bottom: none;border-left:none;text-decoration: none;}
ul.tabbernav li a:link { color: #66A; border: 1px solid rgba(0,0,0,.06); padding: 3px 3px;border-bottom: none;border-left:none;text-decoration: none;}
ul.tabbernav li a:first-child {border-left: 1px solid rgba(0,0,0,.06);}
ul.tabbernav li a:visited { color: #667; }
ul.tabbernav li a:hover{color: #828282;border-color: rgba(0,0,0,.06);}
ul.tabbernav li.tabberactive a{background-color: #f0f0f0;border-bottom: 1px solid #fff;color: #828282;}
ul.tabbernav li.tabberactive a:hover{background: white;border-bottom: 1px solid white;}
.tabberlive .tabbertab {padding:5px;border-top:0;background-color:#FFF;text-align:center;}
.tabberlive .tabbertab h2 {display:none;}
h2 { margin-bottom: 3px; }

td, th { white-space: nowrap; }

.tbl1 .search-results td, .tbl1 .search-results:hover td { background: #ff9; }
#search-dialog { display: none }
.btext {  white-space: nowrap }

.comment_body { text-align: left; }

.settings table {
	margin: 0;
}

.settings table tr td {
}
.settings .tabs li {
	border-bottom: none;
}
.settings .sharetabs .box {
	width: 820px;
}
.settings .mods .box {
	width: 810px;
}
.settings select {
	margin-bottom: 4px;
}

.settings ul.tabs {
	margin-left: auto;
	margin-right: auto;
}

.mods .tabs li {
	width: 50px;
}

#container > div {
   margin: auto;
}

#container {
	padding-bottom: 100px;
}

.srv_bad td, .srv_bad:hover td {
	background: #ddd;
}

#dl_bittorent .btext {
	left: 100px;
}

.progressbar-outer {
	margin: auto;
}

.file_block {
	table-layout: fixed;
}

.file_block td {
	text-align: center;
	width: 200px;
}

.icon {
	margin: auto;
	width:100px; height:90px; border:solid 1px #C3C3C3;position:relative;background:#FFFFFF;padding:1px;text-align:left
}

.icon a:link, .icon a:visited {
	height:90px;width:100%;display:block;
}

.icon a:hover {
	display:block;position:absolute;z-index:999;width:160px;height:140px;border:solid 1px #C3C3C3;
}

#leftcontent{float:left;width:480px;}
#rightcontent{float:right;width:480px;}

.invisible td { border: 0px; }
.invisible tr:hover td { background: #fff }
.invisible td:hover { background: auto }

#show_advanced { padding: 5px; margin-top: 0; margin: 0 auto; text-align: left; }
#show_advanced a { margin-left: 3px }
#upload_controls { margin-top: 0 }
