.progressbar-outer {
	width: 100%;
	height: 20px;
	margin: 20px 0 0 0;
	background: #49ab58;
	border: 0;
}
.progressbar-inner {
	width: 0px;
	height: 20px;
	background: #229ec9;
}
.xfname {
	font-weight: bold;
}
.xfsize {
	font-style: italic;
}
.xrow td {
	text-align: left;
}
.fdescr {
	width: 330px;
}
.del_btn {
	float: right;
}
.xrow td {
	background: #f2f2f2;
}
