@font-face {
    font-family: 'Thema-icons';
    /*src: url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiMedium Bold.otf');*/
   src: url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/Thema-icons.eot');
   src: url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/Thema-icons.eot?#iefix') format('embedded-opentype'),
     url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/Thema-icons.woff') format('woff'),
     url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/Thema-icons.ttf') format('truetype'),
     url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/Thema-icons.svg#MyFont-regular') format('svg');
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
}
#top-2 .gk-nsp-art .gk-nsp-image {
  height: auto!important;
}
.kedriko .ms-tab-context{ line-height: 13px; font-size: 11.26px;}
@-moz-document url-prefix() {
 .lezanta{width: 50%;height: 33%;}
}
.top4 .gk-nsp-header a::after {
  content: '  »';
  color: rgb(52, 70, 84);
}
#post-99504 > header h1, #post-99504 input[type="submit"] {text-transform: capitalize;}
.top4 .gk-nsp-header a{color: rgb(52, 70, 84)!important;}
/*.lezanta {  font-family: 'thematitloimedium'!important;  line-height: 21px!important;  font-size: 18px!important;  color: white!important;}
.lezanta h2{ font-family: 'thematitloilightbold'!important; color: white!important;  line-height: 38px!important;font-size: 40px!important;  padding-bottom: 2%!important;}*/
#gk-mainbody-columns > div > h2,#gk-mainbody-columns > div > h2 > a , #gk-mainbody-columns > div > h1,#gk-mainbody-columns > div > h1 > a, #post-99504 > header h1, .page-id-100377 > header h1, .incat a
{
  color: #00cd99!important;
  text-decoration: none;
padding-bottom: 32px;
  font-family: 'thematitloimediumbold' !important;
  font-size: 37.26px;
  font-weight: 100 !important;
  line-height: 40px;
  letter-spacing: -0.040em;
  padding-top: 23px;}
/*Nea ana etaireia*/
.nbot h3{
  font-size: 20px !important;
  color: #425867!important;
  background-color: #fff200;
  width: 65%;
  line-height: 30px!important;
  text-align: center;
  margin-left: 30px!important;
  font-family: ThemaTitloiMedium!important;
}

/*End of Nea ana etaireia*/
/*Footer*/
 #gk-bottom4 .nth1{/*margin-left: 8%;*/}
.gstrou{margin-top: 35px;}
.gstrou{float: left;  width: 33%!important;}
.gstrou .gk-nsp-header{margin:0px!important;  padding: 0px!important;}
.gstrou a{color:#FFFFFF!important;}
.gstrou .gk-nsp-art {height: 62px;}
.gstrou .gk-nsp-arts{margin-top:15px;}
.gstrou .gk-nsp-art{border-bottom: white solid 1px;}
.gstrou h3{font-family: thematitloilightbold!important;
  font-size: 14pt!important;
  line-height: 16pt;
    letter-spacing: -.025em!important;}

/*END of Footer*/

 nav > div.nav-prev.nav-btn > a,nav > div.nav-next.nav-btn > a {font-family: thematitloilight !important;}
/*menu*/

.kedriko .ms-thumb-frame{-webkit-filter: grayscale(100%);
filter: grayscale(100%);
filter: gray;
filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");}
.kedriko .ms-thumb-frame:hover{-webkit-filter: grayscale(0%);
filter: grayscale(0%);
filter: none;
}

#main-menu-mobile{ z-index: 1000;float: left;}
.nbot{  width: 25%!important;  background-color: white;  float: left;}
@media screen and (min-width: 1100px){.nbot{ margin-top: 226px; } }
.strou { height: 120px !important;margin-top: 0px !important;}
.page #gk-bg,.single #gk-bg,.category #gk-bg,.page #gk-bg,.single #gk-bg,.archive #gk-bg{margin-top: 40px;} 
.search #gk-bg{margin-top: 19px;}   
.category .gk-page-full,.category-dtm .gk-page-full,.category-764 .gk-page-full, .page .gk-page-full,.single .gk-page-full,.archive .gk-page-full,.search .gk-page-full{margin-top: -25px;}
.page .lgo,.category .lgo,.single .lgo,.archive .lgo,.search .lgo{  margin-top: -41px;}
.home #gk-top-bar{line-height: 73px;}
.home .lgo{margin-top: -32px;}
.page #gk-mainbody-columns,.single #gk-mainbody-columns,.archive #gk-mainbody-columns{margin-top: -12px;}
.page .bgmenu,.category .bgmenu,.single .bgmenu,.archive .bgmenu,.search .bgmenu{ margin-top: -14px;}
.home .bgmenu{ margin-top: -28px;}
.page #gk-main-menu,.category #gk-main-menu,.single #gk-main-menu,.archive #gk-main-menu,.search #gk-main-menu{  margin-top: -14px;}
.home #gk-main-menu{ margin-top: -28px;}
.page #gk-head,.category #gk-head,.single #gk-head,.archive #gk-head,.search #gk-head{ margin: 0px 0 0 0;}
@media screen and (max-width: 800px) {
.search #gk-bg { margin-top: 23px;}
}
@media screen and (min-width: 800px) {
.home #gk-header-nav > div.gk-page.lgo > div > a > img{padding-top: 8px;margin: 7px 0px -6px 0;}
}
@media screen and (max-width: 800px) {
.home #gk-header-nav > div.gk-page.lgo > div > a > img {margin: -5px 0px 7px 0;}
.page #gk-bg, .single #gk-bg, .category #gk-bg, .page #gk-bg, .single #gk-bg, .archive #gk-bg, .search #gk-bg {
    margin-top: 0px;
 }
}
/*end of menu*/
.btn, button, .button, .readon, .nav-btn a, .more-link, a.gk-button{  text-transform: none;}
/*RSS*/
.thema ul>li>a.rsswidget{
    margin: 0;
  color: #c3cacf!important;
  text-decoration: none;
  line-height: 16pt;
  font-size: 11pt;
  font-family: ThemaTitloiMedium !important;}
.thema ul {padding: 0 22px 19px 22px;}
.thema li a::before { content: '»'; color: #fff200;}
.thema img{display:none;}
.thema{ background-color: #425867;}
.thema h3 > a{color: rgb(52, 70, 84); background-color: #fff200; width: 162px;  line-height: 30px;  text-align: center;  margin-left: 30px; font-family: ThemaTitloiMediumBold!important;}
.box h3.box-title .rsswidget{float:none;}
/*End of RSS*/
/*Pirelli*/
.pirart > div > div > div > div > div > a.gk-responsive.gk-image-link{width: 109%!important; margin: 0 0px 0 -8px !important;}

.agones .box-title{color:black !important;font-family: ThemaTitloiMedium!important ;font-size: 22px;  margin: 0 0 -35px 0;}
.pirellimgag {  width: 100%;}
 .pirart{margin-bottom: 9px;}
.pirart .gk-nsp-art { background-color: rgb(254, 241, 232); padding: 12px 9px!important;  margin-bottom: 9px;}
 .pirelliag > div { margin-bottom: -39px;}
.pirelliag h3{ color: white; background-color: #425867 !important; font-family: ThemaTitloiMedium!important ;  font-size: 22px;  margin: 0px;  padding: 5px 11px;}
.pirelliag2 > div { margin-bottom: 16px;}
.pirelliag2 h3{ color: white; background-color: #425867 !important; font-family: ThemaTitloiMedium!important ;  font-size: 22px;  margin: 0px;  padding: 5px 11px;}
/*End of Pirelli*/
/*Responsive*/
@media screen and (max-width: 1100px){
  .gstrou { width: 100%!important;}
  .posts_bottom { border-right: none!important;}
	#gk-mainbody-columns > div > h2, #gk-mainbody-columns > div > h2 > a { padding-top: 42px;}
.nbot{  width: 96%!important;}
#gk-mainbody-columns > div > section{border-right:none!important;}
.category #main-menu-mobile,.category-dtm #main-menu-mobile,.category-764 #main-menu-mobile, .page #main-menu-mobile,.single #main-menu-mobile,.archive #main-menu-mobile{margin: -19px 5px 0 0!important;}	
.home #main-menu-mobile{margin: -29px 5px 0 0!important;}
	}
  @media screen and (max-width: 1050px){.nbot{width:100%!important;}
  .gstrou { width: 100%!important;}
  .posts_bottom { border-right: none!important;}
  .thema{width: 97%!important;}
}
@media screen and (max-width: 800px){
/*.lezanta h2{line-height: 29px!important; font-size: 30px!important;}
.lezanta{line-height: 20px!important; font-size: 14px!important;}*/
.pirart > div > div > div > div > div > a.gk-responsive.gk-image-link{width: 114%!important; }
.nbot{  width: 96%!important;}
.strou { height: 134px !important;}
#bnr-top{display:none;}
.home .bgmenu{  margin-top: -96px; z-index: -1;height: 55px;}
.home .lgo {margin-top: -144px;}
.page .lgo, .category .lgo, .single .lgo,.archive .lgo, .search .lgo{margin-top: 18px;}
.home #main-menu-mobile{ margin: -89px 5px 0 0!important;}
.category .gk-page-full,.category-dtm .gk-page-full,.category-764 .gk-page-full, .page .gk-page-full,.single .gk-page-full,.archive .gk-page-full,.search .gk-page-full{margin-top: -148px;}
.category #main-menu-mobile,.category-dtm #main-menu-mobile,.category-764 #main-menu-mobile, .page #main-menu-mobile,.single #main-menu-mobile,.archive #main-menu-mobile,.search #main-menu-mobile{margin: -17px 5px 0 0!important;}
}
@media screen and (max-width: 600px){
  .pirelliag2 > div {margin-bottom: 54px;}
  .pirart > div > div > div > div > div > a.gk-responsive.gk-image-link{width: 109%!important; margin: 0 0px 0 -8px !important;}
/*.lezanta h2{ line-height: 22px!important; font-size: 21px!important;}
.lezanta{line-height: 16px!important;font-size: 12px!important;}*/
.nbot{  width: 96%!important;}
.home .bgmenu{  margin-top: -97px; z-index: -1;}
#gk-mainbody article > header h1{ line-height: 34px!important;}
#gk-content-wrap { padding: 0 14px 0px 0px !important;}
.home #main-menu-mobile { margin: -89px 5px 0 0!important;}
.strou { height: 132px !important;}
}
/*END of Responsive*/
span.gk-page.incat {float: left;}
a.fn.n.auth {color: #aaa!important;}

/*Times - Texnika Xaraktiristika*/ 
.filtra{
  background-color: #cdcdcd;
    padding: 2%;
    float: left;
    width: 96%;
    display: block;
    height: 49px;}
.filtra a{
        display: block;
    width: 50%;
    max-width: 116px;
    color: black!important;
    border: 1px solid #cccccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    float: left;
    text-align: center;
    padding: 16px 16px;
    line-height: 0px;
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
    background-color: white;
    cursor: pointer;
}
.filtra a:hover{ background-color: #99D3DF;}
.page-template-template-times #gk-mainbody-columns > div > section{border:none;}
.facetwp-slider-reset{display:none!important;}
.resetb{
    padding: 15px 0px;
}
.resetb button{
   margin:0px!important;
}
.facetwp-selections{  padding: 15px 0px;}
.facetwp-selections li::after {
  margin-left: 7px!important; 
}
.facetwp-selection-label,.facetwp-selection-value{color: #d6888e; font-size: 15px;}
.facetwp-facet{display:none;}
.description_text.year{
  display: block;
    margin-top: 0;
    width: 100%;
    padding: 0px;
    background-color: #88BBD6;
}
.facetwp-pager{
    width: 100%;
    display: block;
    float: left;
}
.facetwp-page{
    color: #d6888e!important;
}
.description_text.year a{
  color: rgb(255, 255, 255)!important;
  padding: 5px 0 0 10px;
}
.facetwp-pager-label {
    display: inline-block;
    margin-right: 12px;
    color: white;
    margin-top: 21px;
}
.filters{
  background-color: #425867;
    padding: 2%;
    float: left;
    width: 96%;
    display: none;
}
.filters .fs-wrap{  color: black;}
.filters .box-title{
  margin: 10px 0 10px 16px;
  color: white;
  font-size: 19px;
  cursor: pointer;
}
.filters .facetwp-facet {
    margin-bottom: 0px;
    color: white;
    padding: 2%;
}
#facet_stack_widget-3-Τιμή,.widget_facet_stack_widget{
  padding: 1%;
    background-color: rgba(135, 155, 169, 0.41);
}
.filters .noUi-handle {
    box-shadow: none;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    background: #a7abab;
    cursor: default;
}  

.filters .noUi-connect{
  background: rgb(255, 255, 255);
}
.box-title:after {
    content: '';
    position: absolute;
    left: 296px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #e8e8e8;
    border-bottom: 10px solid transparent;
    clear: both;
}
.fs-wrap:after {
    content: 'ok';
    position: relative;
    left: 226px;
    width: 17px;
    height: 10px;
    border-left: 10px solid #ff0000;
    border-right: 10px solid #ff0000;
    border-top: 10px solid #ff0000;
    border-bottom: 10px solid #ff0000;
    clear: both;
    color: white;
    background-color: red;
    margin-top: -29px;
    pointer-events: none;
    bottom: 20px;
}
#et-trending-button {
     background-color: rgb(255, 255, 255);
}
#et-trending-button:hover, #et-trending-button.toggled:hover {
    background-color: #99D3DF;
}
#et-trending-button.toggled {
     background-color: rgb(233, 233, 233);
}
#et-trending-button span {
    display: block;
    background: #425867;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    transition: 0.3s ease;
}
#et-trending-button span:nth-child(2) {
    margin: 4px 0;
}   
#et-trending-button span:nth-child(4) {
        margin-top: 2px;
}
#et-trending-button.toggled span {
    -webkit-transform-origin: center;
    transform-origin: center;
}
 #et-trending-button.toggled span:first-child {
    -webkit-transform: translateY(6px) rotate(45deg);
    transform: translateY(6px) rotate(45deg);
}
#et-trending-button.toggled span:nth-child(2) {
    opacity: 0;
}
#et-trending-button.toggled span:last-child {
    -webkit-transform: translateY(-6px) rotate(-45deg);
    transform: translateY(-6px) rotate(-45deg);
}

.page-template-template-times #gk-breadcrumb-area{display:none;}
.page-template-template-times #gk-mainbody-columns{background: #CDCDCD;}
.fixed-compare{
  position: fixed;
    width: 100%;
    height: auto;    
    z-index: 193;
    left: 0;
    background-color: #CDCDCD;
    display:block;
    max-height: 3000px;
}
.fixed-compare.inactive{bottom: -40px;}
.fixed-compare.active{bottom: 0;}
.fixed-compare.closed{}
.fixed-compare.open{top:0;}
.fixed-compare-bar.error{background-color: red;}
#compareBarRemoveButton{ color: white!important;}
.fixed-compare-bar{
  float: left;
    width: 100%;
    height: 40px;
    background-color: #88bbd6;
    line-height: 40px;
    font-size: 12px;
    color: #fff;
    cursor: auto;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.scrollable .scroll-bar.vertical, .scrollable .viewport {
    /*height: 100%!important;*/
}
.fixed-compare-content{
    width: 100%;    
    position: relative;    
    height: 100vh;
    max-width: 1260px;
    margin: 0 auto;
    /*max-height: 620px;*/
    overflow-y:auto;
}
.fixed-compare-content.closed{display: none}
.compare-cars-specs-name{
  width: 15%;
    display: block;
    float: left;
    height: 780px;
}
.car-each {
    width: 25%;
    float: left;
    background-color: #E9E9E9;
    font-size: 14px;
}

.car-each .car_title{
  display: block;
  float: left;
  width: 100%;
  margin-top: 0px;
  background-color: white;
}
.car-each .main_photo {
    float: left;
    height: auto;
    width: 100%;
    text-align: center;
    margin: 0px;
}
.car-each .main_photo_inner{
  height: 200px;
}
.car-each .car_title > a{
  display: block;
  padding: 2px 0 0 10px;
  width: 80%;
  float: left;
}

/* ROUNDED ONE */
.car-each .closebutton input[type=checkbox] {
  visibility: hidden;
}
.closebutton {
width: 25px;
    height: 25px;
    background: #425867;
    margin-right: 6px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    float: right;
    display: block;
    margin-top: 2px;
}
.closebutton label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  left: 3px;
  top: 4px;
}

.closebutton label:after {
    opacity: 1;
    content: 'x';
    position: absolute;
    width: 16px;
    height: 16px;
    left: 5px;
    bottom: 13px;
    font-size: 20px;
    font-weight: lighter;
    color: white;
    font-family: arial;
}

.closebutton label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}

.closebutton input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
.fixed-compare .generalWrap {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    position: relative;
}
.fixed-compare .compareBarContent{
  text-align: center;
}
.fixed-compare  .icon-compare {
    font-size: 20px;
    line-height: 40px;
    vertical-align: -8px;
    float: left;
    margin-right: 15px;
        cursor: pointer;
}
[class^="icon-"], [class*=" icon-"]{
    font-family: 'Thema-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-compare:before {
    content: "\e013";
}
.fixed-compare  .compareBarText {
    float: left;
        cursor: pointer;
}
.fixed-compare .compareBarRemove {
    float: left;
    margin-left: 15px;
    font-size: 10px;
    cursor: pointer;
    -webkit-user-select: none;
}
.fixed-compare .compareBarRemove a {
    color: #fff;
    display: block;
    line-height: 40px;
    text-decoration: underline;
    -webkit-user-select: none;
}
.fixed-compare .compareBarArrowWrap {
    float: right;
    cursor: pointer;
}
.fixed-compare .compareBarArrowText {
    float: left;
    margin-right: 12px;
}
.fixed-compare .compareBarArrow {
    float: right;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    font-size: 24px;
    line-height: 40px;
    margin-right: 20px;
}
.icon-back-arrow:before {
    content: "\e004";
        box-sizing: border-box;
}
.fixed-compare.open .compareBarArrow {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.compareLimitError{
      display: inline-block;
    max-width: 374px;
    line-height: 14px;
    margin-top: 6px;
}
.compare.chosen {
  background-color: rgb(214, 136, 142);
}
.vanish{display:none;}
.description {
    float: left;
    width: 100%;
    height: 39px;
    overflow: hidden;
    line-height: 35px;
    border-top: none;
    background-color: #fbfbfb;
}
.description_text {
    float: left;
    width: 44%;
    min-height: 14px;
    padding-left: 4%;
    padding-top: 1%;
    color: #425867;
}
.compare-cars-wraper{
  width: 100%;
  
}
.page-template-template-times #gk-bg {
    margin-top: 15px;
}

@media screen and (max-width: 1280px){
  .fixed-compare .generalWrap {    
    margin-left: 2%;
    margin-right: 2%;  
  }
  .page-template-template-times  .gk-page {
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  .car-each .main_photo_inner {
    height: 159px;
  }

} 
@media screen and (max-width: 1080px){
  .car_container {
    margin: 0 1.5% 1% 1.5%;
    float: left;
    width: 30%;
  }
  .car-each {    
    font-size: 12px;
  }
  .car-each .main_photo_inner {
    height: 141px;
  }
}
@media screen and (max-width: 960px){
  .car_container {
    margin: 0 1% 1% 1%;
    float: left;
    width: 31%;
  }
  .car-each {    
  width: 33%;
  margin: 0 0 1% 0;
  }
  .car-each .main_photo_inner {
    height: 172px;
  }
.page-template-template-times #gk-mainbody-columns > div {
    padding: 0 0% 0 0%!important;
  }
}
@media only screen and (max-width: 850px){
   .car-each {
    width: 50%;    
   }
   .car-each .main_photo_inner {
    height: 208px;
   }
   .car-each .stock_number { 
    font-size: 17px;
   }
}
@media only screen and (max-width: 770px){
  .car_container {    
    width: 47%;
  }
  .car_title {
    font-size: 125%;
    font-weight: bold;
    color: #006699;
    float: left;  
  }
  .car_title a {
    color: #425867!important;
    padding: 5px 10px;
  }
  .main_photo {
    float: left;
    height: auto;    
    text-align: center;  
  }
  .main_photo_inner {
    height: 200px;
  }
  .car-each .main_photo_inner {
    height: 180px;
   }
  .photo_thumb {
        display: block;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .description_label {
    float: left;
    width: 51%;
    padding-left: 2%;
    padding-top: 1%;
    color: #425867;
  }
  .description_text {
    float: left;
    width: 43%;
    min-height: 14px;
    padding-left: 4%;
    padding-top: 1%;
    color: #425867;
 }
}
@media screen and (max-width: 600px){
  .page-template-template-times #gk-content-wrap {
        padding: 0 1% 0px 1% !important;
  }
  .main_photo_inner {
    height: 135px;
  }
  .car-each .main_photo_inner {
    height: 149px;
  }
}
@media screen and (max-width: 540px){
  .car-each {
    width: 100%;
   }
  .cars_container {
    margin-right: 0%;
    width: 100%;
  }
  .car_container {
    margin: 0 1% 2% 1%;
    float: left;
    width: 98%;
  }
  .main_photo_inner {
    height: 268px;
  }
  .car-each .main_photo_inner {
    height: 232px;
  }

}
@media screen and (max-width: 450px){
  .main_photo_inner {
    height: 206px;
  }
  .car-each .main_photo_inner {
    height: 199px;
  }
  .fixed-compare .compareBarText {    
    display: none;
    }
}
@media screen and (max-width: 360px){
  .box-title:after {
    left: 240px;
  }
  .car-each .main_photo_inner {
    height: 159px;
  }
}