/* CSS Document */
#demon-content {
	max-width: 729px !important;	
}
#frm_cd_sort {
	width: 250px;
	margin-top: 15px;	
}
.cd_sort_by_label {
	display: none;	
}
.results_found {
	display: none;
}
.results_found.car_list {
	display: block;
}
.cd-nav-above {
	width: 250px;
	float: left;
	margin-top: 15px;	
}
.cd-fs1 {
	max-width: 100% !important;	
}
.cdform fieldset ol li label {
	display: block;
	margin-left: 12px;
	text-align: left !important;
}
.cdform legend {
	max-width: 95% !important;
}
.cdform fieldset {
	max-width: 100% !important;
}
.cdform fieldset ol li input[type="text"] {
	width: 80% !important;
	margin-left: 8px;
}
.cdform fieldset ol li input[type="radio"] {
	margin-left: 14px;
}
.cdform select {
	margin-left: 8px;
}
.emailreqtxt {
	float: left;
	margin: 10px;	
}
.cdform legend {
	color: #666;
	font: inherit !important;
	background-color: #ccc;
}
.contact_us_btn, .search_btn {
	margin-left: 20% !important;
	margin-top: 15px;
}
.contact_us_btn:hover, .search_btn:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #999), color-stop(1, #999) ) !important;
	background: -moz-linear-gradient( center top, #999 5%, #999 100% ) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999', endColorstr='#999') !important;
	background-color: #999 !important;
}
.search_car_box select {
	height: inherit !important;
	max-width: 100%;
}
input.search_dropdown_sm {
	height: inherit !important;
	max-width: 100%;
	width: 164px;
}
.search_header_logo, .advanced_search_btn_hide {
	display: none;	
}
.cdform label {

}
.remove_part {
	cursor: pointer;
}
.hide_parts {
	display:none;
}
.remove_part_btn {
	cursor: pointer;
	display:none;
	margin-left:10px;
	margin-top:4px;
}
.add_part_btn {
	cursor: pointer;
	margin-left:10px;
	margin-top:4px;
}
.part_msg {
	display:none;
	background: #f1cadf;
	margin:10px;
	padding:5px;
	font-weight:bold;
}
.trade_btn {
	float:right;
}
.cd-box {
	width:15px !important;
	margin-left: 15px !important;
	float:left;
}
.cd-group-after {
	max-width: 150px !important;
	float:left;
}
.cd-ol br {
	display: none;
}
.trade_label {
	width:250px;
}
.trade_img {
	margin-left:75px;
}
.trade_hide {
	display: none;
}
.trade_select_stock {
	display:none;
	margin-left:20px;
}
.trade_select_description {
	display:none;
	margin-left:20px;
}
.trade_reqtxt {
	margin-left:10px;
}
@media only screen and (min-width : 768px) {
	.car_item{
		clear: both;
		float: left;
		font: 13px/1.231 arial,helvetica,clean,sans-serif;
		padding:1%;
		background-color: white;
		margin: 15px;
		position: relative;
		max-width: 1100px;
	}
	.main_photo {
		float: left;
		height: auto;
		width: 20%;
		text-align:center;
		margin: 2px;
	}
	.photo_thumb {
		display: block;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
	}
	.main_photo_inner{
		height: 170px;
	}
	.description {
		float: left;
       width: 100%;
       height: 39px;
       overflow: hidden;
       line-height: 35px;
       border-top: none;
       background-color: #fbfbfb;
	}
	.car_title {
		font-size:125%;
		font-weight:bold;
		color:#006699;
		float:left;
		width:50%;
	}
	.car_title a {
	color: #425867!important;
    padding: 5px 10px;
	}
	.stock_number{
		float: left;
        width: 100%;
        padding: 0 10px;
         font-size: 17px;
	}
	.description_left{
		float: left;
		width: 50%;
	}
	.description_right{
		float: left;
		width: 50%;
	}
	.description_label {
		float: left;
        width: 50%;
        padding-left: 2%;
        padding-top: 1%;
        color: #425867;
	}
	.description_text {
		float: left;
        width: 44%;
        min-height: 14px;
        padding-left: 4%;
        padding-top: 1%;
        color: #425867;
	}
	.price {
		float: left;
		width: 23%;
		padding-left:2%;
	}
	.price_label {
		width: 50%;
		font-size:85%;
		color:#555;
		float:left;
	}
	.price_value {
		width: 50%;
		font-size:95%;
		color:#222;
		float:left;
	}
	.price_line {
		float:left;
		width:100%;
		border-bottom:solid;
		border-bottom-color:#CCCCCC;
		height:1px;
		line-height:1px;
	}
	.final_price_label {
		width: 70%;
		font-size:100%;
		font-weight:bold;
		color:#050;
		float:left;
	}
	.final_price_value {
		width: 70%;
		font-size:120%;
		font-weight:bold;
		color:#96262B;
		float:right;
		text-align:right;
	}
}
@media only screen and (max-width : 767px) {
	.compare {
		display:none;
	}
	.cd_cdrf_compare {
		display:none !important;
	}
	.car_item {
		float: left;
		font: 13px/1.231 arial,helvetica,clean,sans-serif;
		padding:1%;
		background-color: white;
		margin: 15px;
		position: relative;
		width: 210px;
	}
	.main_photo {
		height: auto;
		text-align:center;
		margin: 2px;
	}
	.photo_thumb {
		width:100%;
		height:auto;
	}
	.description {
		float: left;
		width: 100%;
		font-size:85%;
	}
	.car_title {
		font-size:125%;
		font-weight:bold;
		color:#006699;
		float:left;
		width:100%;
	}
	.description_left{
		float: left;
		width: 100%;
	}
	.description_right{
		float: left;
		width: 100%;
	}
	.description_label {
		float: left;
		width: 48%;
	}
	.description_text {
		float: left;
		width: 48%;
		min-height: 14px;
	}
	.price {
		float: left;
		width: 100%;
		padding-left:2%;
	}
	.price_label {
		width: 50%;
		font-size:85%;
		color:#555;
		float:left;
	}
	.price_value {
		width: 100%;
		font-size:95%;
		color:#222;
		float:left;
	}
	.price_line {
		float:left;
		width:100%;
		border-bottom:solid;
		border-bottom-color:#CCCCCC;
		height:1px;
		line-height:1px;
	}
	.final_price_label {
		width: 100%;
		font-size:100%;
		font-weight:bold;
		color:#050;
		float:left;
	}
	.final_price_value {
		width: 100%;
		font-size:120%;
		font-weight:bold;
		color:#96262B;
		float:right;
		text-align:right;
	}
}
.cars_container{
    margin-right: -1%;
    width: 101%;
}
.car_container{
    margin: 0 1% 1% 0;
    float: left;
    width: 24%;
}  
.car_item {
	
    background: #E9E9E9;
    border: none;
    display: block;
    padding: 0px;
    width: 100%;
    float: left;
    height: auto;
    clear: none;
    margin: 0;
    font: inherit;

}
.car_title {
	display: none;
}
.car_item .inventory_ribbon {
    margin-left: 0px;
}
.car_item .car_title {
	 display: block;
    margin-top: 0;
    width: 100%;
    padding: 0px;
    background-color: white;
}
.car_item .main_photo {
	margin: 0;
    width: 100%;
}
.listing {
	float:left;
}
.description_text_vin {
	float: left;
	text-align:right;
}
.compare {
    float: right;
    width: 47%;
    background-color: #88BBD6;
    border: none;
    height: 100%;
}
.compare:hover {
background-color: #99D3DF;
}
.compare_label {
    float: right;
    font-size: 11px;
    width: 100%;
    text-align: center;
    line-height: 37px;
    color: white;
    letter-spacing: 1.5px;
}
.compare_input {
	    float: none;
    text-align: center;
    width: auto;
    padding-right: 0px;
    position: relative;
    display: inline-block;
    color: #fff;
}
.compare_input:before{
    content: '';
    position: absolute;
    left: 8px;
    top: -12px;
    width: 0;
    height: 0;
    /*border-left: 10px solid #ffffff;*/
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    clear: both;
}
.compare_input input{
     position: absolute;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    left: 5px;
    top: -21px;
    width: 120px;
    height: 38px;
}
.no_price_style {
	font-size:135%;
	float:left;
}
.wp-pagenavi .pages {
	display:none;
}
.listing .hentry {
	border-bottom: 0px !important;	
}
.cdcr_top {
	width: 100%;
	float: left;	
}
.cdcr_archive_widget {
	width: 100%;
	overflow: hidden;	
}
/* WP-Page Navi tweaks */
.wp-pagenavi a.last, .wp-pagenavi a.first {
	display: none;	
}