/**
 *
 * -------------------------------------------
 * Small Desktop CSS file
 * -------------------------------------------
 * 
 **/
 
/*
 *
 * 10. Small Desktop code
 *
 *
------------------------------------ */
 
/* 10.1. Base elements
==================================== */ 

.gk-page {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 10px!important;
	padding-right: 10px!important;
}

#gk-menu-overlay-wrap {
	margin: 0 0 0 -360px!important;
	max-width: 720px!important;
}

.gk-is-wrapper-gk-game figcaption h2 {
	font-size: 94px;
}

.gk-is-wrapper-gk-game figcaption p {
	font-size: 25px;
}

#gk-head h2.gk-page {
	font-size: 44px;
	padding: 75px 10px 35px 10px;
}

#form-wysija-2 > p {
	width: 59%;
}