/**
 *
 * -------------------------------------------
 * Template 3rd party extensions CSS file
 * -------------------------------------------
 * 
 **/
 
/*
 *
 * 9. Template additional 3rd party extensions style
 *
 *
------------------------------------ */

/* 9.1. GK Comments
==================================== */

.widget_gk_comments li {
	border: none!important;
	overflow: hidden;
	margin-bottom: 32px;
	padding-left: 0!important;
}

.widget_gk_comments li > p {
	line-height: 1.5;
	margin-bottom: 12px;	
}

.widget_gk_comments li > p a { 
	color: #888;
    display: block;   
	padding: 0;	
}

.widget_gk_comments li > img,
.widget_gk_comments li > strong,
.widget_gk_comments li > small {
	float: left;
}

.widget_gk_comments li > img {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-right: 10px;
}

.widget_gk_comments li > strong,
.widget_gk_comments li > small {
	line-height: 18px;
	width: 65%;
}

/* 9.2. GK NSP
==================================== */

.gk-nsp {
	position: relative;
}

.gk-nsp-arts,
.gk-nsp-links {
	overflow: hidden;
}

.gk-nsp-arts-nav,
.gk-nsp-links-nav {
	overflow: hidden;
	clear: both;
}
.gk-nsp-links-nav {
	float: right;
}
.gk-nsp-arts-nav {
	position: absolute;
	right: -3px;
	padding: 0 3px;
	top: -49px;
}
.gk-nsp-arts-nav ul,
.gk-nsp-links-nav ul {
	list-style-type: none !important;
	margin: 9px 0 0 !important;
	padding: 0 !important;
	float: left;
}
.gk-nsp-arts-nav ul li,
.gk-nsp-links-nav ul li {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	float: left;
	width: 8px;
	height: 8px;
	margin: -2px 4px 0 0 !important;
	background: #ddd;
	border: none!important;
	padding: 0!important;
	text-indent: -999em;
	cursor: pointer;
}
.gk-nsp-arts-nav li:hover,
.gk-nsp-arts-nav li.active,
.gk-nsp-links-nav li:hover,
.gk-nsp-links-nav li.active {
	background: #d82731;
}
.gk-nsp-next,
.gk-nsp-prev {
	cursor: pointer;
	float: left; 
	height: 17px; 
	margin: 0 2px;
	text-indent: -9999px;
	width: 10px;
}
.gk-nsp-next:after,
.gk-nsp-prev:after {
	color: #000;
	display: block;
	float: left;
	font-family: FontAwesome;
	font-size: 22px;
	line-height: 22px;
	text-indent: 0;
}
.gk-nsp-next:after {
	color: #ccc;
	content: '\f105';
}
.gk-nsp-prev:after {
	color: #ccc;
	content: '\f104';
}
.gk-nsp-next:hover:after,
.gk-nsp-prev:hover:after { 
	color: #d82731;
}
.gk-nsp-art-page {
	float: left;
}
.gk-nsp-art {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
	float: left;
}

.gk-nsp-art:first-child {
	border-top: none;
}
.gk-nsp-art div {
	overflow: hidden;
}
.gk-nsp-header {
	color: #000;
	font-size: 15px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: 0!important;
	padding: 10px 0;
	text-transform: none;
}

.gk-nsp-header a {
	color: #000!important;
}
.gk-nsp-header a:active,
.gk-nsp-header a:focus,
.gk-nsp-header a:hover {
	color: #d82731!important;
}
.gk-nsp-art .gk-nsp-image {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	-webkit-transform: scale(1) rotate(0deg);
	-moz-transform: scale(1) rotate(0deg);
	-ms-transform: scale(1) rotate(0deg);
	-o-transform: scale(1) rotate(0deg);
	transform: scale(1) rotate(0deg);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	width: 100%!important;
}

.gk-nsp-art .gk-nsp-image:hover {
/*	-webkit-transform: scale(1.2) rotate(-5deg);
	-moz-transform: scale(1.2) rotate(-5deg);
	-ms-transform: scale(1.2) rotate(-5deg);
	-o-transform: scale(1.2) rotate(-5deg);
	transform: scale(1.2) rotate(-5deg); */
}
.gk-nsp-art .gk-nsp-image-wrap {
	overflow: hidden;
}
.gk-nsp-art .gk-nsp-text {
	display: block!important;
	line-height: 1.5;
	margin: 0;
	padding: 0!important;
}
.gk-nsp-art .gk-nsp-text + .readon {
	margin-top: 16px;	
}

#gk-inset .readon {
	float: left;
	margin-top: 0;
}
.gk-nsp-art .gk-nsp-text + .gk-nsp-info {
	margin-top: 0;
}
.gk-nsp-art .gk-nsp-info {
	color: #999;
	display: block!important;
	font-size: 11px;
	margin: 0;
	padding: 5px 0;
	text-transform: uppercase;
}
.gk-nsp-art .gk-nsp-info a {
	color: #999!important;
}

.gk-nsp-art .gk-nsp-info a:active,
.gk-nsp-art .gk-nsp-info a:focus,
.gk-nsp-art .gk-nsp-info a:hover,
.gk-nsp-art .readon:active,
.gk-nsp-art .readon:focus,
.gk-nsp-art .readon:hover {
	color: #d82731!important;
}
.gk-nsp-art .gk-nsp-info a,
.gk-nsp-art .gk-nsp-info span {
	padding-left: 5px;
}
.gk-nsp-art .gk-nsp-info a:first-child,
.gk-nsp-art .gk-nsp-info span:first-child {
	padding-left: 0!important;
}

.readon.left,
.readon.right,
.readon.center {
	clear: both;
}
.readon.left {
	float: left;
}
.readon.right {
	float: right;
}
.readon.center {
	display: inline;
	float: none;
}
.gk-nsp-art .readon {
	float: right;
	background: none!important;
	color: #111!important;
	padding: 0;
	text-transform: none;
}
.gk-nsp-links ul {
	float: left;
	list-style-type: none !important;
	padding: 0 !important;
}
.gk-nsp-links ul li {
	border-top: 1px solid #e5e5e5;
	margin:0 !important;
	padding: 16px 0;
}
.gk-nsp-image-wrap {
	float: left;
}
/* responsive layout */
.gk-responsive {
	line-height: 1;
}
img.gk-responsive {
	width: 100% !important;
	height: auto;
}
.gk-responsive {
	display: block;
	overflow: hidden;
	position: relative;
}
.gk-nsp-image {
	max-width: 100%;
}
.gk-nsp-arts,
.gk-nsp-links {
	clear: both;
	width: 100%;
}
.gk-nsp-links {
	margin-top: 30px;
}
.gk-nsp-arts::after,
.gk-nsp-links::after {
	clear: both;
	content: "";
	display: table;
}
.gk-nsp-arts-page,
.gk-nsp-art {
	float: left;
}
.gk-nsp-pages-1 { width: 100%; }
.gk-nsp-pages-2 { width: 200%; }
.gk-nsp-pages-3 { width: 300%; }
.gk-nsp-pages-4 { width: 400%; }
.gk-nsp-pages-5 { width: 500%; }
.gk-nsp-pages-6 { width: 600%; }
.gk-nsp-pages-7 { width: 700%; }
.gk-nsp-pages-8 { width: 800%; }
.gk-nsp-pages-9 { width: 900%; }
.gk-nsp-pages-10 { width: 1000%; }
.gk-nsp-cols-1 { width: 100%; }
.gk-nsp-cols-2 { width: 50%; }
.gk-nsp-cols-3 { width: 33.3%; }
.gk-nsp-cols-4 { width: 25%; }
.gk-nsp-cols-5 { width: 20%; }
.gk-nsp-cols-6 { width: 16.66%; }
.gk-nsp-cols-7 { width: 14.285%; }
.gk-nsp-cols-8 { width: 12.5%; }
.gk-nsp-cols-9 { width: 11.1%; }
.gk-nsp-cols-10 { width: 10%; }

.gk-nsp-art.gk-nsp-cols-1,
.gk-nsp-art.gk-nsp-cols-2:nth-child(2n+1),
.gk-nsp-art.gk-nsp-cols-3:nth-child(3n+1),
.gk-nsp-art.gk-nsp-cols-4:nth-child(4n+1),
.gk-nsp-art.gk-nsp-cols-5:nth-child(5n+1),
.gk-nsp-art.gk-nsp-cols-6:nth-child(6n+1),
.gk-nsp-art.gk-nsp-cols-7:nth-child(7n+1),
.gk-nsp-art.gk-nsp-cols-8:nth-child(8n+1),
.gk-nsp-art.gk-nsp-cols-9:nth-child(9n+1),
.gk-nsp-art.gk-nsp-cols-10:nth-child(10n+1) {
	clear: both;
}

.gk-nsp-arts-scroll,
.gk-nsp-links-scroll {
	overflow: hidden;
}

.gk-nsp-link-header {
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.gk-nsp-link-text {
	font-size: 14px;
	margin: 0;
}

.gk-nsp-comment-count:before {
	color: #999;
	content: "\f086";
	font-family: FontAwesome;
	font-size: 14px;
	line-height: 14px;
	padding-right: 6px;
}

.gk-nsp-art .gk-nsp-info > .gk-nsp-stars {
	display: block;
	padding: 4px 10px 0 0!important;
}

.gk-nsp-art .gk-nsp-info > .gk-nsp-stars span {
	padding: 0;
}

.gk-nsp-art .gk-nsp-star-0:before,
.gk-nsp-art .gk-nsp-star-1:before {
	content: "\f005";
	color: #6c6c6c;
	font-family: FontAwesome;
	font-size: 10px;
	padding: 0 2px 0 0;
}
.gk-nsp-art .gk-nsp-star-1:before {
	color: #f7a834;
}

/* Style dark */
.dark .gk-nsp-links-scroll ul li {
	border-top-color: #e5e5e5;
}

/* Article Inset style */
.box.article-inset .gk-nsp-art {
	border: 0;
}

.box.article-inset .gk-nsp-header a {
	color: #111!important;
}
.box.article-inset .gk-nsp-header a:active,
.box.article-inset .gk-nsp-header a:focus,
.box.article-inset .gk-nsp-header a:hover {
	color: #d82731!important;
}

.box.article-inset .gk-nsp-art .readon {
	border: 0;
	float: left;
	font-size: 13px;
	margin: 0 5px 2px 2px;
	padding: 0;
}

/* Highlight format */
.box.highlights {
	background: #d82731;
	padding: 0;
}

.box.highlights .gk-nsp-art.gk-nsp-cols-1 {
	border-top: 0;
}

.box.highlights .box-title {
	border-bottom: 1px solid #e73f48;
	color: #fff;
	line-height: 50px;
	margin: 0;
	text-align: center;
}

.box.highlights .gk-nsp-highlights h3  {
	font-size: 13px;
	font-weight: bold;
	line-height: 1.2;
	text-transform: uppercase;
}

.box.highlights .gk-nsp-highlights h3 a:active,
.box.highlights .gk-nsp-highlights h3 a:focus,
.box.highlights .gk-nsp-highlights h3 a:hover {
	color: #fff;
}

.box.highlights .gk-nsp-highlights p {
	color: #fff;
	margin: 0;
	text-transform: uppercase;
	font-size: 11px;
	margin-top: 6px;
}

.box.highlights .gk-nsp-highlights p a {
	color: #fff;
}
.box.highlights .gk-nsp-highlights p a:hover,
.box.highlights .gk-nsp-highlights p a:active,
.box.highlights .gk-nsp-highlights p a:focus {
	color: #111;
}
.box.highlights .gk-nsp-highlights {
	counter-reset: gkhighlights;
}

.gk-nsp-highlights li {
	border-bottom: 1px solid #e73f48;
	list-style-type: none;
	line-height: 1.6;
	padding: 16px 16px 16px 60px;
	position: relative;
}

.box.highlights .gk-nsp-highlights li:before {
	border: 1px solid #fff;
	counter-increment: gkhighlights;
	content: counter(gkhighlights);
	height: 22px;
	left: 19px;
	line-height: 23px;
	position: absolute;
	text-align: center;
	top: 22px;
	width: 22px;
	color: #fff;
}

.box.highlights .gk-nsp-highlights li:after {
	border-style: solid;
	border-width: 4px 0 4px 4px;
	border-color: transparent transparent transparent #fff;
	content: "";
	height: 0px;
	left: 42px;
	position: absolute;
	top: 30px;
	width: 0px;
}

.box.highlights .gk-nsp-highlights li h3:before {
	border-style: solid;
	border-width: 3px 0 3px 3px;
	border-color: transparent transparent transparent #d82731;
	content: "";
	height: 0px;
	left: 42px;
	position: absolute;
	top: 31px;
	width: 0px;
	z-index: 1;
}

.box.highlights .gk-nsp-highlights + a {
	color: #fff;
	display: block;
	line-height: 50px; 
	text-align: center;
	text-transform: uppercase;
}

.box.highlights .gk-nsp-highlights + a:active,
.box.highlights .gk-nsp-highlights + a:focus,
.box.highlights .gk-nsp-highlights + a:hover {
	color: #111;
}


/* Showcase format */
.showcase .gk-nsp-header,
.showcase-small .gk-nsp-header {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff!important;
	font-size: 18px!important;
	font-weight: 100!important;
	padding: 0 20px 16px 20px!important;
}

.showcase .gk-nsp-header {
	text-align: center;
	width: 100%;
}
.showcase-small .gk-nsp-header {
	font-size: 14px!important;
	padding: 0 10px 8px 10px!important;
	text-align: center;
}

.showcase .gk-nsp-header a,
.showcase-small .gk-nsp-header a,
.dark-area .showcase .gk-nsp-header a,
.dark-area .showcase-small .gk-nsp-header a {
	color: #fff!important;
}

.showcase .gk-nsp-header a:active,
.showcase .gk-nsp-header a:focus,
.showcase .gk-nsp-header a:hover,
.showcase-small .gk-nsp-header a:active,
.showcase-small .gk-nsp-header a:focus,
.showcase-small .gk-nsp-header a:hover {
	color: #d82731!important;
}

.showcase .gk-nsp-category {
	background: #f7a834;
	color: #fff;
	float: left;
	font-weight: bold;
	line-height: 18px;
	padding: 0 5px!important;
	text-transform: uppercase;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.showcase .gk-nsp-category a,
.showcase .gk-nsp-category:hover a,
.showcase .gk-nsp-art .gk-nsp-category a:hover {
	color: #fff!important;
}

.showcase .gk-nsp-info {
	margin-bottom: 10px;
	text-align: right;
}

.showcase .gk-nsp-art .gk-nsp-info a:first-child {
	padding: 0 5px!important;
}

.showcase .gk-nsp-art .gk-nsp-info span:first-child {
	padding: 0!important;
}

.showcase .gk-nsp-category:hover {
	background: #d82731;
}

.showcase .gk-nsp-image-wrapper,
.showcase-small .gk-nsp-image-wrapper,
.showcase-wrap {
	position: relative;
}
.showcase .gk-nsp-image-wrapper .gk-nsp-header,
.showcase-small .gk-nsp-image-wrapper + .gk-nsp-header {
	bottom: 0;
	position: absolute;
	z-index: 2;
}
.showcase .gk-nsp-image-wrapper:before,
.showcase-small .gk-nsp-image-wrapper:before {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(40%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.6))); /* Chrome,Safari4+ */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.6) 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.6) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.6) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.6) 100%); /* W3C */
	
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
.showcase .gk-nsp-image-wrapper:after {
	border: 3px solid #fff;
	border-radius: 50%;
	color: #fff;
	content: "\f105";
	font-family: FontAwesome;
	font-size: 32px;
	left: 50%;
	line-height: 60px;
	margin: -30px 0 0 -30px;
	position: absolute;
	text-indent: 26px;
	top: 39%;
	width: 60px;
	z-index: 2;
}

.showcase .gk-nsp-art .gk-nsp-image-wrapper:hover .gk-nsp-image,
.showcase-small .gk-nsp-art .gk-nsp-image-wrapper:hover .gk-nsp-image {
	-webkit-transform: scale(1.2) rotate(-5deg);
	-moz-transform: scale(1.2) rotate(-5deg);
	-ms-transform: scale(1.2) rotate(-5deg);
	-o-transform: scale(1.2) rotate(-5deg);
	transform: scale(1.2) rotate(-5deg);
}

.showcase .gk-nsp-arts-page,
.showcase-small .gk-nsp-arts-page {
	margin: 0 -10px;
	width: auto;
}

.showcase .gk-nsp-image-wrapper {
	margin-bottom: 16px;
}

/* Border GK NSP */
.box.border .gk-nsp {
	border: 1px solid #d82731;
}

.box.border .gk-nsp-header {
	color: #ddd;
	font-size: 18px;
	line-height: 1.1;
	margin: 0 0 5px 0;
	padding: 0;
	text-transform: uppercase;
}

.box.border .gk-nsp-header a {
	color: #ddd!important;
}

.box.border .gk-nsp-art {
	border-left: 1px solid #d82731;
	display: table-cell;
	float: none;
	vertical-align: top;
}

.box.border .gk-nsp-art:first-child {
	border: 0;
}

.box.border .gk-nsp-header a:active,
.box.border .gk-nsp-header a:focus,
.box.border .gk-nsp-header a:hover {
	color: #fff;
}

.box.border .gk-nsp-art .gk-nsp-info {
	color: #737476;
	font-size: 11px;
	margin: 0!important;
	padding-top: 5px;
	padding-bottom: 0;
}

.box.border .gk-nsp-art .gk-nsp-info > a,
.box.border .gk-nsp-art .gk-nsp-info > span {
	color: #737476;
	font-size: 11px;
}

/* Suffix list */
.box.list .gk-nsp-header {
	color: #000;
	font-size: 20px;
	padding: 0 0 20px 0;
}

.box.list .gk-nsp-art .gk-nsp-image-wrap {
	margin-right: 35px;
}
.box.list-small .gk-nsp-art .gk-nsp-image-wrap {
	margin-right: 25px;
}
.box.list .gk-nsp-header a {
	color: #000!important;
}
.box.list .gk-nsp-header a:active,
.box.list .gk-nsp-header a:focus,
.box.list .gk-nsp-header a:hover {
	color: #d82731!important;
}
.box.list .gk-nsp-art .gk-nsp-info {
	margin: 0!important;
	padding: 15px 0 0 0!important;
}
.box.list .nsp-art {
	border-bottom: 1px solid #e5e5e5;
}

.box.list .gk-nsp-art.gk-nsp-cols-1 { 
	border-top: 1px solid #e5e5e5;
}

.box.list .gk-nsp-art.gk-nsp-cols-1:first-child {
	border-top: 0;
}

/* Dark block */
.dark-area .gk-nsp-header,
.dark-area .list .gk-nsp-header {
	color: #ddd;
	font-size: 15px;
	padding-top: 0!important;
}

.dark-area .list .gk-nsp-header {
	padding-bottom: 0!important;
}
.dark-area .gk-nsp-header a,
.dark-area .list .gk-nsp-header a {
	color: #ddd!important;
}
.dark-area .gk-nsp-text {
	color: #8b8b8b;
}
.dark-area .gk-nsp-header a:active,
.dark-area .gk-nsp-header a:focus,
.dark-area .gk-nsp-header a:hover,
.dark-area .list .gk-nsp-header a:active,
.dark-area .list .gk-nsp-header a:focus,
.dark-area .list .gk-nsp-header a:hover {
	color: #d82731!important;
}
.dark-area .gk-nsp-info {
	color: #737476;	
}

.dark-area .box.list .gk-nsp-art .gk-nsp-info {
	padding: 2px 0!important;
}

.dark-area .gk-nsp-comment-count:before {
	color: #555;
}

.dark-area .gk-nsp-info > a {
	color: #d82731!important;
}
.dark-area .gk-nsp-info > a:active,
.dark-area .gk-nsp-info > a:focus,
.dark-area .gk-nsp-info > a:hover {
	color: #fff;
}

.dark-area .list .gk-nsp-art{
	border-bottom: 1px solid #333;
}

.dark-area .list .gk-nsp-art:last-child {
	border-bottom: 0
}
.dark-area .list .gk-nsp-art.gk-nsp-cols-1 {
	border-top: 0;
}
.dark-area .list gk-nsp-info {
	padding: 2px 0!important;
}
.dark-area a.readon { color: #d82731!important; }
.dark-area a.readon:active,
.dark-area a.readon:focus,
.dark-area a.readon:hover {
	color: #fff!important;
}

/* Videogallery */
.gk-nsp-videogallery {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.gk-nsp-videogallery .gk-big-block {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	overflow: hidden;
	padding: 0 50px 0 0;
	position: relative;
	width: 50%;
}

.gk-nsp-videogallery .gk-small-block {
	cursor: pointer;
	float: right;
	width: 48%;
}

.gk-nsp-videogallery .gk-items-page {
	display: none;
}

.gk-nsp-videogallery .gk-items-page.active {
	display: block;
}

.gk-nsp-videogallery .gk-small-block figcaption {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 120px 0 170px;
	position: relative;
}
.gk-nsp-videogallery .gk-big-block figure {
	cursor: pointer;
	left: 0;
	position: absolute;
	top: 0;
	z-index: 1;
}

.gk-nsp-videogallery .gk-big-block figcaption {
	bottom: -20%;
	opacity: 0;
	padding: 30px;
	position: absolute;
	-webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-ms-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
	z-index: 2;
}
.gk-nsp-videogallery .gk-big-block.active figcaption {
	bottom: 0;
	opacity: 1;
}

.gk-nsp-videogallery .gk-big-block strong {
	background: #f7a834;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	padding: 3px 5px;
	line-height: 20px;
	text-transform: uppercase;
}

.gk-nsp-videogallery .gk-small-block .gk-item {
	cursor: pointer;
	padding: 16px 0;
}

.gk-nsp-videogallery .gk-small-block h3 {
	font-size: 18px;
	font-weight: 300;
	margin: 0 0 5px 0;
	padding: 0;
	text-transform: none;
}

.gk-nsp-videogallery .gk-big-block h3 {
	margin: 10px 0 0 0;
	font-weight: 300;
	line-height: 1;
}

.gk-nsp-videogallery .gk-big-block h3 a {
	color: #f5f5f5!important;
	font-size: 24px;
	font-weight: 300!important;
}

.gk-nsp-videogallery .gk-big-block h3 a:active,
.gk-nsp-videogallery .gk-big-block h3 a:focus,
.gk-nsp-videogallery .gk-big-block h3 a:hover {
	color: #d82731;
}

.gk-nsp-videogallery .gk-small-block p {
	font-size: 14px;
	margin: 0;
}

.gk-nsp-videogallery .gk-big-block img,
.gk-nsp-videogallery .gk-big-block .gk-image-wrap {
	cursor: pointer;
	display: block;
	height: auto;
	width: 100%;
}

.gk-nsp-videogallery .gk-small-block img,
.gk-nsp-videogallery .gk-small-block .gk-image-wrap  {
	height: auto;
	float: left;
	max-width: 120px;
}
.gk-nsp-videogallery .gk-small-block .gk-image-wrap {
	margin: 0 35px 0 0;	
}
.gk-nsp-videogallery .gk-image-wrap {
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.gk-nsp-videogallery .gk-image-wrap img {
	-webkit-transform: scale(1) rotate(0deg);
	-moz-transform: scale(1) rotate(0deg);
	-ms-transform: scale(1) rotate(0deg);
	-o-transform: scale(1) rotate(0deg);
	transform: scale(1) rotate(0deg);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.gk-nsp-videogallery .gk-image-wrap:hover img,
.gk-nsp-videogallery .gk-big-block:hover img {
	-webkit-transform: scale(1.2) rotate(-5deg);
	-moz-transform: scale(1.2) rotate(-5deg);
	-ms-transform: scale(1.2) rotate(-5deg);
	-o-transform: scale(1.2) rotate(-5deg);
	transform: scale(1.2) rotate(-5deg);
}

.gk-nsp-videogallery .gk-big-block p,
.gk-nsp-videogallery .gk-big-block small,
.gk-nsp-videogallery .gk-small-block strong {
	display: none;
}

.gk-nsp-videogallery .gk-big-block figure:before {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.6))); /* Chrome,Safari4+ */
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); /* W3C */
	content: "";
	cursor: pointer;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}
.gk-nsp-videogallery .gk-big-block figure:after {
	background: transparent;
	background: rgba(0, 0, 0, .1);
	border: 3px solid #fff;
	border-radius: 50%;
	color: #fff;
	content: "\f0c1";
	cursor: pointer;
	font-family: FontAwesome;
	font-size: 48px;
	left: 50%;
	line-height: 100px;
	margin: -50px 0 0 -50px;
	opacity: 0;
	position: absolute;
	text-indent: 28px;
	top: 20%;
	-webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-ms-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
	width: 100px;
	z-index: 3;
}
.gk-nsp-videogallery .gk-big-block figure.video:after {
	content: "\f04b";
	text-indent: 34px;
}

.gk-nsp-videogallery .gk-big-block.active figure:after {
	opacity: 1;
	top: 40%;
}

.gk-nsp-videogallery .gk-small-block small {
	border: 1px solid #d82731;
	font-size: 14px;
	height: 45px;
	line-height: 45px;
	margin: -22px 0 0 0;
	position: absolute;
	right: 20px;
	text-align: center;
	top: 50%;
	width: 45px;
}

.gk-nsp-videogallery .gk-small-block small:after {
	border-style: solid;
	border-width: 8px 8px 8px 0;
	border-color: transparent #d82731 transparent transparent;
	content: "";
	height: 0px;
	left: -8px;
	position: absolute;
	top: 15px;
	width: 0px;
}
.gk-nsp-videogallery .gk-small-block small:before {
	border-style: solid;
	border-width: 7px 7px 7px 0;
	border-color: transparent #fff transparent transparent;
	content: "";
	height: 0px;
	left: -6px;
	position: absolute;
	top: 16px;
	width: 0px;
	z-index: 1;
}
.gk-nsp-videogallery .gk-big-block .gk-is-helper-image {
	display: block;
	height: auto;
	width: 100%;
}

/* styles for the portal mode in the dark areas */
.dark-area .gk-nsp-videogallery .gk-small-block small {
	color: #f5f5f5;
}
.dark-area .gk-nsp-videogallery .gk-small-block small:before {
	border-color: transparent #000 transparent transparent;
}
.dark-area .gk-nsp-videogallery .gk-small-block h3 a {
	color: #f5f5f5!important;
}
.dark-area .gk-nsp-videogallery .gk-small-block h3 a:active,
.dark-area .gk-nsp-videogallery .gk-small-block h3 a:focus,
.dark-area .gk-nsp-videogallery .gk-small-block h3 a:hover {
	color: #d82731;
}
.dark-area .gk-nsp-videogallery .gk-small-block p {
	color: #777;
}
.dark-area .gk-nsp-videogallery .gk-small-block .gk-item {
	border-top: 1px solid #333;
}
.dark-area .gk-nsp-videogallery .gk-small-block .gk-item:first-child {
	border-top: none;
}

/* Mobile devices */
@media (max-width: 1100px) {
	.gk-nsp-videogallery .gk-small-block figcaption {
		padding: 0 60px 0 80px;
	}
	.gk-nsp-videogallery .gk-small-block .gk-image-wrap {
		margin: 0 10px 0 0;
	}
	.gk-nsp-videogallery .gk-small-block img, 
	.gk-nsp-videogallery .gk-small-block .gk-image-wrap {
		max-width: 70px;
	}
	.gk-nsp-videogallery .gk-small-block h3 {
		font-size: 15px;
	}
	.gk-nsp-videogallery .gk-small-block p {
		font-size: 11px;
	}
	.gk-nsp-videogallery .gk-small-block .gk-item {
		padding: 10px 0;
	}
	.gk-nsp-videogallery .gk-big-block figcaption {
		padding: 10px;
	}
	.gk-nsp-videogallery .gk-big-block {
		padding: 0;
	}
	.gk-nsp-videogallery .gk-small-block small {
		right: 2px;
	}
	.gk-nsp-videogallery .gk-big-block h3 a {
		font-size: 18px;
		line-height: 1!important;
	}
	.gk-nsp-videogallery .gk-big-block h3 {
		margin: 0;
	}
	.gk-nsp-videogallery .gk-big-block figure:after {
		border: 2px solid #fff;
		font-size: 20px;
		line-height: 60px;
		margin: -30px 0 0 -30px;
		text-indent: 25px;
		width: 60px;
	}
	.gk-nsp-videogallery .gk-big-block figure.video:after {
		text-indent: 25px;
	}
}

@media (max-width: 760px) {
	.gk-nsp-videogallery .gk-small-block figcaption {
		padding: 0 0 0 80px;
	}
	.gk-nsp-videogallery .gk-small-block small,
	.gk-nsp-videogallery .gk-big-block figure.video:after {
		display: none;
	} 
}

@media (max-width: 600px) {
	.gk-nsp-videogallery .gk-big-block,
	.gk-nsp-videogallery .gk-small-block {
		width: 100%;
	}
}

/* 9.5. GK Image Show
==================================== */

.gk-is-wrapper-gk-game {
	margin: 0 0 -16% 0;
	min-height: 200px;
	position: relative;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.gk-is-wrapper-gk-game .gk-is-preloader {
	background: #eee;
	height: 100%;
	position: absolute;
	text-indent: -9999px;
	width: 100%;
	z-index: 19;
}

.gk-is-wrapper-gk-game figure {
	left: 0;
	top: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	overflow: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	width: 100%;
	z-index: 1;
}

.gk-is-wrapper-gk-game figure.animated {
	z-index: 2;
}

.gk-is-wrapper-gk-game.loaded figure.animated {
	opacity: 1;
	filter: alpha(opacity=100);
}

.gk-is-wrapper-gk-game figure.active {
	position: relative;
	z-index: 3;
}

.gk-is-wrapper-gk-game img {
	display: block;
	height: auto;
	position: relative;
	width: 100%;
}

.gk-is-wrapper-gk-game figcaption {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	filter: alpha(opacity=0);
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	z-index: 1;
	-webkit-transition: all .3s ease-in-out;
	   -moz-transition: all .3s ease-in-out;
	 	 -o-transition: all .3s ease-in-out;
	 		transition: all .3s ease-in-out;
}

.gk-is-wrapper-gk-game figcaption.previous {
	opacity: 0;
	right: -20%;
}

.gk-is-wrapper-gk-game figcaption.next,
.gk-is-wrapper-gk-game figcaption.first {
	opacity: 1;
	right: 0;
}

.gk-is-wrapper-gk-game figcaption > div {
	float: right;
	margin: 14% 0 0 0;
	width: 50%;
}

.gk-is-wrapper-gk-game[data-textpos="right"] figcaption {
	left: auto!important;
	right: -50%;
}

.gk-is-wrapper-gk-game .active figcaption {
	filter: alpha(opacity=100);
}

.gk-is-wrapper-gk-game figcaption a.button,
.gk-is-wrapper-gk-game figcaption a.button:hover {
	margin: 30px 0 0 0;
	text-transform: uppercase;
}

.gk-is-wrapper-gk-game figure.active figcaption {
	z-index: 101;
	filter: alpha(opacity=100);
}

.gk-is-wrapper-gk-game figcaption h2 {
	color: #fff;
	font-size: 102px;
	font-weight: 400;
	letter-spacing: -9px;
	line-height: 102px;
	margin: 0;
	padding: 0;
	text-indent: -12px;
	text-transform: uppercase;
}

.gk-is-wrapper-gk-game .gk-is-pagination {
	bottom: 22px;
	position: absolute;
	right: 32px;	
	z-index: 10;
}

.gk-is-wrapper-gk-game[data-textpos="right"] .gk-is-pagination {
	left: 32px;
	right: auto;
}

.gk-is-wrapper-gk-game .gk-is-pagination li {
	background: #717171;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	float: left;
	height: 10px;
	line-height: 10px;
	margin: 0 0 0 5px;
	padding: 0;
	text-indent: -9999px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	width: 10px;
}

.gk-is-wrapper-gk-game .gk-is-pagination li.active,
.gk-is-wrapper-gk-game .gk-is-pagination li:active
.gk-is-wrapper-gk-game .gk-is-pagination li:focus,
.gk-is-wrapper-gk-game .gk-is-pagination li:hover {
	background: #fff;
}

.gk-is-wrapper-gk-game .gk-is-timeline {
	background: rgba(0,0,0,.25);
	display: block;
	height: 3px;
	margin: 15px 0 0 0;
	overflow: hidden;
	width: 100%;
}

.gk-is-wrapper-gk-game .gk-is-progress {
	background: #d82731; 
	height: 3px; 
	width: 0%;
}

.gk-is-wrapper-gk-game figcaption p {
	font-size: 30px;
	line-height: 30px;
	font-weight: 300;
	margin: 0;
	text-transform: uppercase;
}

.gk-is-wrapper-gk-game figcaption p,
.gk-is-wrapper-gk-game figcaption a {
	color: #fff;
}

/* Preloader */
.spinner {
	display: block;
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 0;
  background-color: #ababab;
  border-radius: 100%;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate { 
	100% { -webkit-transform: rotate(360deg) }
}
@keyframes rotate { 
	100% { 
		transform: rotate(360deg); 
		-webkit-transform: rotate(360deg) 
	}
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 
  50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* Responsive styles */
.gk-is-wrapper-gk-game .gk-is-slide {
	background-position: center top;
	background-repeat: no-repeat;
	margin: 0 auto;
	width: 100%;
}

@media (max-width: 1280px) {
	.gk-is-wrapper-gk-game figcaption h2 { 
		font-size: 94px;
	}
	.gk-is-wrapper-gk-game figcaption p {
		font-size: 25px;
	}
}

@media (max-width: 1100px) {
	.gk-is-wrapper-gk-game figcaption h2 {
		font-size: 70px;
		text-indent: 0;
	}
	.gk-is-wrapper-gk-game figcaption p {
		font-size: 17px;
		line-height: 18px;
	}
	.gk-is-wrapper-gk-game figcaption > div {
		margin: 10% 0 0 0;
	}
}

@media (max-width: 760px) {
	.gk-is-wrapper-gk-game figcaption h2 {
		font-size: 50px;
		letter-spacing: -5px;
		line-height: 60px;
		text-indent: 0;
	}
	.gk-is-wrapper-gk-game figcaption p {
		font-size: 12px;
		line-height: 14px;
	}
}

@media (max-width: 600px) {
	.gk-is-wrapper-gk-game figcaption h2 {
		font-size: 24px;
		letter-spacing: -2px;
		line-height: 36px;
		text-indent: 0;
	}
	.gk-is-wrapper-gk-game figcaption p {
		font-size: 11px;
		line-height: 13px;
	}
	.gk-is-wrapper-gk-game .spinner {
		margin: 70px auto;
	}
}

/* 9.6. GK Tabs
==================================== */

.gk-tabs,
#gk-sidebar .box .gk-tabs {
    font-size: 14px!important;
    overflow: hidden;
    position: relative;
}

/*
 * Default style
 */
.gk-tabs-wrap {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

.gk-tabs-wrap > ol {
    background: transparent;
    list-style-type: none;
    margin: 0!important;
    padding: 0;
}

.gk-tabs-wrap > ol:after {
	clear: both;
	content: "";
	display: table;
}

.gk-tabs-wrap > ol li {
    background: #2d2e31;   
	border: none;   
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: 400;
    height: 30px;
    line-height: 31px;
    list-style-type: none;
    margin: 0 6px 0 0;
    padding: 0 10px!important;
    position: relative;
    top: 1px;
    text-transform: uppercase;
}

.gk-tabs-wrap > ol li.active,
.gk-tabs-wrap > ol li.active:hover {
    background: #1c4290;
    color: #fff;
}

.gk-tabs-wrap > ol li:hover {
    color: #fff;
}

.gk-tabs-wrap > ol li.active:after {
	border: 6px solid #1c4290;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	bottom: -11px;
	content: "";
	left: 10px;
	margin-left: 0;
	position: absolute;
	z-index: 101;
}

.gk-tabs-container {
	background: #18191b;
    clear: both;
    overflow: hidden;
    position: relative;
}

.gk-tabs-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    padding: 30px 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.gk-tabs-item .box {
    margin-bottom: 0!important;
    border: none!important;
    margin-bottom: 0!important;
    padding: 0!important;
}

.gk-tabs-item.active {
    left: 0;
    position: relative;
    z-index: 2;
}

.gk-tabs-prev,
.gk-tabs-next {
    display: none
}

/**
 *
 * The common part
 *
 **/

/* Errors */
.gk-tabs-error {
    color: #555;
    font-size: 16px;
    padding: 32px 16px;
    text-align: center;
}

.gk-tabs-error > strong {
    color: #d44;
    display: block;
    font-family: Verdana, sans-serif;
    font-size: 100px;
    font-weight: bold;
    line-height: 100px;
}

.gk-tabs-error > small {
    font-size: 11px;
}
/* Animations */
.gk-tabs-item {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.gk-tabs-item.active {
    opacity: 1;
    filter: alpha(opacity=100);
    position: relative;
    z-index: 2;
}

.gk-tabs[data-anim="scale-up"] .gk-tabs-item {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
}

.gk-tabs[data-anim="scale-down"] .gk-tabs-item {
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75);
}

.gk-tabs[data-anim="rotate-y"],
.gk-tabs[data-anim="rotate-x"] {
    -webkit-perspective: 1200;
    -moz-perspective: 1200;
    -ms-perspective: 1200;
    perspective: 1200;
}

.gk-tabs[data-anim="rotate-y"] .gk-tabs-item {
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
}


.gk-tabs[data-anim="rotate-x"] .gk-tabs-item {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
}

.gk-tabs[data-anim="scale-up"] .gk-tabs-item.active,
.gk-tabs[data-anim="scale-down"] .gk-tabs-item.active {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.gk-tabs[data-anim="rotate-y"] .gk-tabs-item.active {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.gk-tabs[data-anim="rotate-x"] .gk-tabs-item.active {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

/* Big Tabs style */
.bigtabs .gk-tabs-item {
	padding: 45px;
}

.nobottom .gk-tabs-item {
	padding-bottom: 0;
}

.bigtabs .gk-tabs-wrap > ol li {
	background: #18191b;      
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: 400;
    height: 50px;
    line-height: 51px;
    list-style-type: none;
    margin: 0 4px 0 0;
    padding: 0 34px!important;
    position: relative;
    top: 1px;
    text-transform: uppercase;
}

.bigtabs .gk-tabs-wrap > ol li.active,
.bigtabs .gk-tabs-wrap > ol li.active:hover {
	background: #d82731;
	color: #fff;
}

.bigtabs .gk-tabs-wrap > ol li.active:after {
	border: 6px solid #d82731;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	bottom: -11px;
	content: "";
	left: 50%;
	margin-left: -6px;
	position: absolute;
	z-index: 101;
}

.bigtabs .gk-tabs-wrap > ol li:hover {
	color: #fff;
}

/* 9.7. WPML
==================================== */

body #lang_sel_footer {
	background-color: transparent;
	border: none;
	clear: both;
	font: inherit;
	margin: 0;
	min-height: 15px;
	padding: 7px;
	text-align: center;
}

/* 9.8. Wysija plugin
==================================== */
.widget_wysija_cont .wysija-submit {
    float: left;
}
#form-wysija-2 > p {
    float: left;
    margin-top: 0;
    position: relative;
    width: 69.3%;
}
.formError {
    left: 0 !important;
    position: absolute !important;
    top: 50px !important;
}
.wysija-input {
    border: 0!important;
    height: 32px;
    padding: 0 10px !important;
    width: 100%;
}

.widget_wysija_cont .wysija-submit {
	border: none;
	height: 32px;
	line-height: 33px;
	margin: 0;
	padding: 0 10px!important;
}

.wysija-input::-webkit-input-placeholder { 
	color: #bbb; 
}
.wysija-input::-moz-placeholder {
	color: #bbb;
}
.wysija-input:-ms-input-placeholder {
	color: #bbb; 
}
.wysija-input:-moz-placeholder {
	color: #bbb; 
}
.wysija-input:placeholder {
	color: #bbb;
}
.widget_wysija_cont .updated, .widget_wysija_cont .login .message {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
}
