/* mili's custom override */
#dpe_fp_widget-2 {padding-top: 30px;}
.page-id-85505 section {padding-right: 30px;}
.skfixed {position: fixed;}
div#dpe_fp_widget-2 {position: relative;}
#gk_nsp-18 h3.box-title {font-size: 12pt!important;}
#gk-inset .gk-nsp-header {margin-bottom: 0px!important;}
aside#gk-inset {/*border-left: 1px solid black;*/margin-top: 14px;}
#gk_nsp-16 .gk-nsp-arts {margin-top: -51px!important;}
.ttlno .box-title {display: none;}
/*#gk-content-wrap.has-inset {border-right: 1px solid #000;}*/

/* PIRELLI */

/* END PIRELLI */

#top-2 .gk-nsp-art .gk-nsp-image {height: auto!important;}
#skin-na {position: absolute;margin-left: -340px!important;width: 1800px;}
#skin-ncat {position: absolute;margin-left: -340px!important;width: 1800px;}
.gk-page33 {max-width: 1600px;}
#text-83 {margin: 0!important;}
#gk-content-wrap .box {margin-bottom: 5px!important;}
.archive #gk-mainbody {margin-top: 0px!important;}
aside#gk-inset {min-height: 100%!important;}
div#gk-content-wrap {min-height: 100%!important;}
#gk_nsp-24 h3.gk-nsp-header {padding-top: 0px;}
/* Blogs */
.gnomes li {list-style-type: none;width: 200px;float: right;}
.blogs.gnomes {width: 300px;background: #425867;padding-top: 0px!important;}
.catblogs img {width: 90px;float: left;}
.catblogs h4 {padding-bottom: 5px;margin-bottom: 10px;text-transform: capitalize;}
.blogs.gnomes a {color: #c3cacf!important;font-size: 12pt;line-height: 12pt;}
.blogttl a {font-size: 14pt;line-height: 14pt;}
.blogttl {float: right;width: 170px;}
#execphp-4 img {width: 90px;float: left;padding-right: 5px;}
.bloginner {float: left;width: 300px;padding-bottom: 20px;}
.gnomes h3.box-title {font-size: 14pt;}
.gnomes h4 {color: #00cd99!important;padding-left: 30px;}
.gnomesin {margin-left: 30px;}
/* END Blogs */

/* top4 */
.top4n {position: relative;padding: 0px 35px 0px 35px;}
.top4n li {width: 23%;float: left;border: 10px solid transparent!important}
div#text-79 {position:relative;margin:0px;padding:23px;margin-top:-4px;}
div#div-gpt-ad-1450101276945-0 {margin: 0 auto;}
div#gk_nsp-8 {margin-top:-30px;margin-bottom:0px;}
/* END top4 */

/* fixed after scroll */
.pfixed {position: fixed!important;}
.scrfixed .skin-bg {position: fixed!important;}
/* END fixed after scroll */

/* banner after slider */
div#div-gpt-ad-1431942382271-7, div#div-gpt-ad-1433777708145-0 {padding-top: 10px;padding-bottom: 10px;border-bottom: 1px dotted;border-top: 1px dotted;}
.posrel {position: relative; height: 100px;}
#gk_nsp-20 {margin-top: -30px!important;}
.milibnr {margin-top: 10px;margin-bottom: 10px;}
#bnr-top {padding-bottom: 10px;padding-top: 10px;}
/* END banner after slider */
/* logo bg */
.home #gk-header-nav {background: url('/wp-content/themes/Game/images/bg-logo.png') 50% -17% no-repeat;}
/* END logo bg */

@media screen and (max-width:380px) {
.mobcenter .textwidget {margin-left: -8px!important;}
}
@media screen and (max-width:800px) {#gk-header-nav {background:none!important;}}
@media screen and (max-width:1050px) {
#gk_nsp-19 {width: 100%!important;margin: 0 auto;padding-right: 0px;padding-left: 20px;float: none!important;}
#text-71 {width: 100%!important;}
#text-71 .textwidget {width: 300px;margin: 0 auto;}
.widget-area .box.last4 {width: 60%!important;float: left!important;}
#text-85, #text-86, #text-88, #text-89 {width:40%!important;float: right!important;}
/* roh */
#gk_nsp-18 {width: 97%!important;}
#gk-sidebar .gk-nsp-arts-page.gk-nsp-cols-1 {width: 100%!important;height: auto!important;padding: 0px!important;overflow-y: hidden!important;}
.roh .gk-nsp-header {text-align: center;}
aside#gk-sidebar .box .box-title {margin: 0 auto!important;}
#text-85, #text-86, , #text-88 {width: 50%!important;float: right!important;}
.mobcenter .textwidget {text-align: center;margin: 0 auto;width: 300px;}
#text-76 {width: 97%!important;}
/* END roh */
}

@media screen and (max-width:900px) {
/* top1 */
.gk-nsp.top4 {padding: 0!important;}
.top4 .gk-nsp-header {font-size: 12pt!important;line-height: 12pt!important;}
/* END top1 */

/*.gk-pagetv .box ul li:first-child {width: 100%!important;float: left!important;font-size: 24pt!important;}*/
#dpe_fp_widget-2 ul li {width: 90%!important;font-size: 16.166pt!important;float: none!important;margin: 0 auto;}

/*pirelli*/
#gk_nsp-22 .gk-nsp-image-wrap {float: none;}
#gk_nsp-22 .gk-nsp-content-wrap {padding-left: 0px!important;}
#text-84 {padding-bottom: 20px!important;}
/* END pirelli*/

/* dokimes */
#gk_nsp-19 a {font-size: 12pt!important;line-height: 12pt!important;}
#gk_nsp-19 h3.box-title {width: 90%!important}
/* dokimes */

/* Sidebar */
.mobcenter .textwidget {text-align: center;margin: 0 auto;width: 300px;}
#text-76 {width: 97%!important;}
/* roh */
#gk_nsp-18 {width: 97%!important;}
#gk-sidebar .gk-nsp-arts-page.gk-nsp-cols-1 {width: 100%!important;height: auto!important;padding: 0px!important;overflow-y: hidden!important;}
.roh .gk-nsp-header {text-align: center;}
aside#gk-sidebar .box .box-title {margin: 0 auto!important;}
#text-85, #text-86, #text-88, #text-89 {width: 50%!important;float: right!important;}
/* END roh */

/* END Sidebar */
.gk-nsp-image-wrap {padding: 0 14px;}
#gk_nsp-24 .gk-nsp-content-wrap {float: left;}
.widget-area .box.last4 {width: 50%!important;float: left!important;}
}

@media screen and (max-width: 640px){
#text-85, #text-86, #text-88, #text-89 {width: 53%!important;float: right!important;}
.widget-area .box.last4 {width: 47%!important;float: left!important;}
#text-85 .textwidget, #text-86 .textwidget, #text-88, #text-89 .textwidget {margin: 0 auto;width: 300px;}
}

@media screen and (max-width:600px) {
.topcentered .textwidget {margin-right: 25px;}
#dpe_fp_widget-2 {max-width: 100%!important;}
.gk-pagetv .box ul li:first-child {width: 100%!important;font-size: 16.166pt!important;}
.gk-pagetv .box ul li:first-child {width: 100%!important;font-size: 16.166pt!important;}
#gk-mainbody-columns > div > section {margin-bottom: 30px;border-right: none;}
#gk-mainbody-columns.has-inset > div, #gk-mainbody-columns.gk-inset-right-side > div, #gk-mainbody-columns > div {
  padding: 10px 0px 0px 20px!important;
}
.pleft {padding-left: 20px!important}
.pright {padding-left: 20px!important}

/* main content */
#gk_nsp-15, #gk_nsp-17 {padding-right: 20px!important;}
/* END main content */

/* sidebar */
.mobcenter .textwidget {text-align: center;margin: 0 auto;width: 300px;}
#gk-mainbody-columns > div > aside, #gk-article-inset, #gk-inset {
  padding: 0px 20px 0px 0px!important;
}
/* END sidebar */

/* dokimes */
#gk-top1, #gk-top2, #gk-bottom1 > div, #gk-bottom2 > div {margin: 0 0px;}
/* dokimes */

#gk-bottom3 {margin: 20px auto 0px auto!important;}
#top-2 .gk-nsp-header a {font-size: 24pt!important;}
.top4 .gk-nsp-header {font-size: 18pt!important;line-height: 18pt!important;}
#text-85, #text-86, #text-88, #text-89, .widget-area .box.last4 {width: 100%!important;float: none!important;}
.posts_bottom {border-right: none!important;}
#dpe_fp_widget-2 h3.box-title {width: 30%!important}
}
/*#dpe_fp_widget-2 ul li {width: 27.4%;float: right;font-size: 24.166pt;line-height: 24.166pt;font-weight: 700;}
.gk-pagetv .box ul li:first-child {width: 70%!important;float: left!important;border: 0;font-size: 40pt!important;font-weight: 700;}*/

/* - pirelli - */
#gk_nsp-22 .gk-nsp-art.gk-nsp-cols-1 {background-color: none!important;}
.pirelli {position: relative;background-color: transparent!important;}
#gk_nsp-22 .gk-nsp-arts {margin-top: 0px;width: 80%;background: url('/wp-content/themes/Game/images/pir-arrow.jpg') left no-repeat;}
.pirelli img {float: right;margin-top: -11.2%;margin-right: 45px;}
.pirellimg {/*width: 150px;*/}
.pirelli .textwidget {background: #000;}
.pirellif1 .gk-nsp.activated {background-color: #000;}
#gk_nsp-22 {position: relative;}
#gk_nsp-22 .gk-nsp-header a {margin-left:0px!important;font-size:26pt;  color: rgb(255, 221, 0)!important; }
#gk_nsp-22 .gk-nsp-header {background: none!important;font-family: thematitloilightbold!important;}
#gk_nsp-22 {padding-left: 45px!important;padding-right: 45px!important;}
.pirellif1 .gk-nsp-image-wrap {float: right;}
.pirellif1 .gk-nsp-content-wrap {padding-right: 30px;padding-left: 40px!important;}
#gk_nsp-22 p.gk-nsp-text {font-family: thematitloimedium!important;  font-size: 12pt!important;}
}
/* - END pirelli - */

/* bottom4 */
.gk-page44 {float: left;background: black;width: 100%;}
/* END bottom4 */


@media screen and (min-width:1245px) and (max-width: 1270px) {
.pirellif1 .gk-nsp-content-wrap {padding-left: 20px!important;}
}
@media screen and (min-width:1220px) and (max-width: 1245px) {
.pirellif1 .gk-nsp-content-wrap {padding-left: 20px!important;}
}

@media screen and (min-width:1190px) and (max-width: 1220px) {
#gk_nsp-22 .gk-nsp-arts {background:none!important;}
.pirellif1 .gk-nsp-content-wrap {padding-right: 5px!important;padding-left: 0px!important;}
}
@media screen and (min-width:1045px) and (max-width: 1190px) {
	#gk_nsp-22 .gk-nsp-arts {background:none!important;}
#gk_nsp-22 .gk-nsp-header a {margin-left: 0px!important;font-size: 20pt;color: rgb(255, 221, 0)!important;}
.pirelli img {float: right;margin-top: -13.2%;margin-right: 45px;}
}

@media screen and (min-width:900px) and (max-width: 1045px) {
	#gk_nsp-22 .gk-nsp-arts {background:none!important;}
.pirellimg {width: 150px;margin: 0 auto;}
.pirelli img {float: none!important;margin-top: 0;margin-right: 45px;}
#gk_nsp-22 .gk-nsp-header a {margin-left: 0px!important;font-size: 20pt;}
#gk_nsp-22 .gk-nsp-header{margin-top: 0px!important;}
#gk_nsp-22 .gk-nsp-arts {margin-top: 0px;width: 100%;}
.pirelli .textwidget {background: #000;width: 20%;margin: 0 auto;}
}

@media screen and (max-width:900px) {
.pirelli img {float: none!important;margin-top: 0;margin-right: 0px;}
#gk_nsp-22 .gk-nsp-arts{width: 100%!important;background: none!important;}
.pirelli .textwidget {background: #000;width: 25%;margin: 0 auto;}
.pirellimg {width: 150px;}
.pirellimg {margin: 0px auto !important;}
}

@media screen and (max-width:650px) {
.pirelli .textwidget {width: 50%!important}
.gk-nsp-image-wrap {padding: 0 0px!important;}
#gk_nsp-22 .gk-nsp-art.gk-nsp-cols-1 {padding: 0px 10px 0px 10px!important;}
}
/*@media screen and  (min-width:600px) and (max-width: 900px) {
.pirellimg {margin: 18px auto !important ;}}*/

img.disqus_rcw_avatar {display: none;}
.disqus_rcw_author_name a, .disqus_rcw_author_name a:hover {color: #00cd99!important;}
.disqus_rcw_comment_actual_wrapper a{margin: 0;color: #c3cacf!important;text-decoration: none;line-height: 16pt;font-size: 11pt;font-family: ThemaTitloiMedium !important;}
a.disqus_rcw_thread_title, a.disqus_rcw_thread_title:hover {color: #D8D8D8!important;font-size: 12pt!important;line-height: 12pt;font-family: thematitloilightbold !important;}
.disq-comm {background-color: #425867;}
.disq-comm h3.box-title {font-size: 12pt!important;}
.top4 .gk-nsp-header {margin: 0!important}
.disqus_rcw_single_comment_wrapper {margin-left: 30px;margin-right: 30px;margin-bottom: 15px;}

div#div-gpt-ad-1432737305734-0 {margin-left: -10px;}

article .featured-image sup, article.sticky .featured-image sup {display: none;}

sup {display: none;}

.home.blog .gk-page44 {position: relative;}