/**
 *
 * -------------------------------------------
 * Mobile CSS file
 * -------------------------------------------
 * 
 **/
 
/*
 *
 * 13. Mobile code
 *
 *
------------------------------------ */
 
/* 13.1. Base elements
==================================== */ 

.page-title {
	font-size: 32px;
}

a.textLogo {
	margin: 0;
}

#gk-inset {
	webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
	margin-left: -20px;
	margin-right: -20px;
	min-width: 100%;
	padding: 25px 20px!important;
	width: auto!important;
}

#gk-content-wrap.has-inset,
#gk-content-wrap {
	padding: 0!important;
	width: 100%!important;
}

#gk-mainbody-columns.has-inset > div,
#gk-mainbody-columns.gk-inset-right-side > div,
#gk-mainbody-columns > div {
	padding: 10px 20px!important;
}

#gk-mainbody-columns > div > section {
	overflow: visible;
}

/* archive / page 404 */
.page404 .widget,
.archivepage .widget {
	margin: 0!important;
	width: 100%!important;
}

/* images fix */
#gk-mainbody img {
	height: auto!important;
	max-width: 100%!important;
}

/* column rules */
#gk-sidebar {
	padding: 20px 0!important;
}

#gk-sidebar .box,
#gk-sidebar_wc .box {
	float: none!important;
	margin: 0 auto!important;
	max-width: 300px;
	width: 100%!important;
}

#gk-bottom1 .box,
#gk-bottom2 .box,
#gk-bottom3 .box  {
	margin-bottom: 20px;	
	max-width: 300px;
	margin: 0 auto;
}

#gk-sidebar .box,
#gk-inset .box,
#gk-mainbody .box,
#gk-bottom1 .box,
#gk-bottom2 .box,
#gk-bottom3 .box,
#gk-mainbody-top .box,
#gk-mainbody-bottom .box {
	clear: both!important;
	float: none;
	margin: 0 auto!important;
	max-width: 100%;
	width: 100%;
}

#gk-sidebar .box:nth-child(2n+1) {
	clear: both!important;
}

#gk-sidebar .box:nth-child(odd) {
	padding-right: 0px;	
}

#gk-sidebar .box:nth-child(even) {
	padding-left: 0px;
}

.widget-area .col1,
.widget-area .col2,
.widget-area .col3,
.widget-area .col4,
.widget-area .col5,
.widget-area .col6,
.widget-area .box.last1,
.widget-area .box.last2,
.widget-area .box.last3,
.widget-area .box.last4,
.widget-area .box.last5 { 
	float: none!important;
	margin: 0 auto 20px auto!important; 
	/*max-width: 300px;*/
	width: 100%!important; 
}

#gk-top1 .box,
#gk-top2 .box {
	max-width: 100%!important;
}

.widget-area .nth1,
.widget-area .nth2,
.widget-area .nth3,
.widget-area .nth4,
.widget-area .nth5,
.widget-area .nth6 {
	clear: both;
}

body #gk-page .box {
	margin-bottom: 20px!important;
}

#footer-menu li {
	float: none;
}

#gk-bottom3 .gk-columns {
	margin: 0!important;
}

#gk-bottom3 .box {
	padding: 0;
}

.gk-columns[data-column-count="2"] > div,
.gk-columns[data-column-count="3"] > div,
.gk-columns[data-column-count="4"] > div,
.gk-columns[data-column-count="5"] > div {
	padding: 0!important;
	padding-bottom: 20px!important;
	width: 100%!important;
}

#gk-inset .box:first-child .gk-banner {
	margin-top: -25px;
}

/* Overlay menu */
#gk-menu-overlay-wrap {
    margin: 0 0 0 -150px!important;
    max-width: 300px!important;
}

#gk-menu-overlay.open {
    margin-top: 0!important;
}

#gk-menu-overlay-content li {
    font-size: 15px;
}

#gk-menu-overlay-content li,
#gk-menu-overlay-content li a{
    line-height: 38px;
}

#gk-menu-overlay-header {
    font-size: 36px;
    line-height: 72px;
}

#gk-menu-overlay-close {
    font-size: 20px;
    line-height: 72px;        
}

#gk-top-bar.gk-menu-overlay #main-menu > li,
#gk-top-bar.gk-menu-overlay #main-menu > li > a {
	height: 32px;
	line-height: 32px;
}

#gallery figcaption {
	display: none;
}

#gallery ol {
	left: 12px!important;
	top: 12px!important;
}

#gallery ol li {
	height: 9px!important;
	width: 9px!important;
}

/* 13.2. Header and demo elements
==================================== */
#gk-login {
	margin: 10px;
}

#main-menu-mobile {
	margin-top: 10px!important;
}

#gk-top-bar {
	line-height: 40px;
	min-height: 40px;
}

/* 13.3. Posts
==================================== */

#gk-mainbody > article .content {
	width: 100%!important;
}

#gk-inset {
	width: 100%!important;
}

#gk-mainbody article > header h1 {
	line-height: 32px;
	padding: 18px 0 0px;
}

#gk-mainbody article > header {
	margin-bottom: 10px;
}

#gk-mainbody article > header h1, 
#gk-mainbody article > header h2 {
	font-size: 24px;
}

h1 {
	font-size: 28px;
}

h2, 
.pagetitle {
	font-size: 28px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

section#comments,
section#respond {
	margin-left: 0!important;
}

#comments li article > aside {
	float: left;
	margin-bottom: 10px;
	margin-left: 0;
	margin-right: 10px;
	position: static!important;
}

#comments article .author {
	float: none;
	margin-top: 5px;
}

.author-info > aside {
	margin: 0 0 30px 0;
	position: static;
}

.author-info > div {
	clear: both;
	padding: 0;
}

article {
	padding-left: 0!important;
}

aside.meta {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 20px 0!important;
	position: static!important;
	width: 100%!important;
}

#comments article header > * {
	clear: both;
	display: block;
	float: left;
	margin: 5px 0!important;
	width: 100%;
}

#comments li article > .content {
	margin-left: 0!important;
	padding-left: 0!important;
}

#comments > h2:first-child,
#respond > h3 {
	font-size: 30px;
	padding: 30px 0 0;
}

#gk-mainbody article > header h1, 
#gk-mainbody article > header h2 {
	font-size: 24px!important;
	line-height: 1.2;
}

#comments li article {
	padding: 8px 12px 5px 12px;
}

#comments li article > .content p {
	font-size: 13px;
}

.tag-page > article, 
.search-page > article {
	padding: 0!important;
	width: 100%!important;
}

.category-page article,
.archive article {
	padding-top: 10px!important;
}


.tag-page article.has-featured-image figure.featured-image,
.category-page article.has-featured-image figure.featured-image,
.search-page article.has-featured-image figure.featured-image,
.archive article.has-featured-image figure.featured-image,
.page-template-template-latest-php article.has-featured-image figure.featured-image, 
.home #gk-mainbody article.has-featured-image figure.featured-image {
	max-width: 240px;
	width: 100%;
}

.tag-page #gk-mainbody article.has-featured-image > header,
.category-page #gk-mainbody article.has-featured-image > header,
.search-page article.has-featured-image > header,
.archive #gk-mainbody article.has-featured-image > header,
.page-template-template-latest-php #gk-mainbody article.has-featured-image > header, 
.home #gk-mainbody article.has-featured-image > header,
.tag-page article.has-featured-image .summary,
.category-page article.has-featured-image .summary,
.search-page article.has-featured-image .summary,
.archive article.has-featured-image .summary,
.page-template-template-latest-php article.has-featured-image .summary,
.home #gk-mainbody article.has-featured-image .summary,
.archive article.has-featured-image .gk-meta-post,
.page-template-template-latest-php article.has-featured-image .gk-meta-post,
.home article.has-featured-image .gk-meta-post,
.search-page article.has-featured-image .gk-meta-post {
	width: 100%!important;
}
/* 13.4. Other elements
==================================== */
/* Popups */
.gk-popup {
	margin-left: -150px;
	width: 300px;
}

.gk-popup-wrap {
	padding: 15px;
}

.gk-popup h3 {
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	margin: 0 0 10px;
}

body .gk-columns[data-column-count="2"] > div,
body .gk-columns[data-column-count="3"] > div,
body .gk-columns[data-column-count="4"] > div {
	padding-bottom: 20px!important;
	width: 100%!important;
}

/* footer */
#gk-footer {
	text-align: center;
}

#footer-menu,
#gk-footer .gk-copyrights {
	clear: both;
	display: block;
	float: none!important;
	margin: 10px auto;
	overflow: hidden;
	text-align: center;
}

#footer-menu {
	display: inline-block;
	margin-bottom: 0;
}

#gk-footer .gk-copyrights {
	padding-top: 6px;
}

/* GK NSP */
.box.border .gk-nsp {
	overflow: hidden;
}
.box.border .gk-nsp-arts-page {
	display: block;
}
.box.border .gk-nsp-art {
	border-left: 0;
	display: block;
}
.box.header .nspImageWrapper h4 {
	font-size: 14px!important;
}
.gk-nsp .gk-nsp-art {
	padding-bottom: 20px!important;
	padding-top: 20px!important;
	width: 100%!important;
}

.gk-nsp .gk-nsp-content-wrap {
	clear: both;
	width: 100%;
}

.gk-nsp-arts,
.gk-nsp-links-wrap {
	clear: both;
	float: left!important;
	width: 100%!important;
}
.gk-nsp-art .gk-nsp-image-wrapper img {
	max-width: 260px!important;
	width: 100%!important;	
}

.gk-nsp-art .gk-nsp-image-wrapper,
.showcase .gk-nsp-art .gk-nsp-text,
.showcase .gk-nsp-info {
	clear: both;
	float: none;
	margin: 0 auto 20px auto!important;
	max-width: 260px;
	width: 100%;
}

.list-small .gk-nsp-art .gk-nsp-image-wrap {
	float: left;
	margin: 0 10px 0 0!important;
	max-width: 240px;
	width: auto;
}
.list-small .gk-nsp-art .gk-nsp-content-wrap {
	clear: none;
	width: auto;
}
.list-small .gk-nsp-art .gk-nsp-image-wrap img {
	width: auto!important;
}

.gk-nsp-art .gk-nsp-image-wrap {
	clear: both;
	float: none;
	margin: 0 auto 20px auto!important;
	/*max-width: 240px;*/
	width: 100%;
}

.gk-nsp-art .gk-nsp-image {
	/*max-width: 240px!important;*/
	width: 100%!important;
}

/* IS */
#gk-bottom1 .box.double,
#gk-bottom1 .box.double ~ .box,
#gk-bottom2 .box.double,
#gk-bottom2 .box.double ~ .box,
#gk-bottom3 .box.double,
#gk-bottom3 .box.double ~ .box {
	width: 100%!important;
}

.gk-is-wrapper-gk-game figcaption h2 {
	font-size: 24px;
	letter-spacing: -2px;
	line-height: 36px;
	text-indent: 0;
}

.gk-is-wrapper-gk-game .gk-is-timeline {
	display: none;
}

.gk-is-wrapper-gk-game figcaption p {
	font-size: 11px;
	line-height: 13px;
}

/* Tabs */
.gk-tabs-wrap > ol.gk-tabs-nav > li {
    border-left: none;
    text-align: center;
    width: 100%;
}
.bigtabs .gk-tabs-wrap > ol.gk-tabs-nav > li {
	padding: 0 10px!important;
}
.gk-tabs-wrap > ol.gk-tabs-nav > li:after {
	display: none;
}

.dark-area .list .gk-nsp-art:last-child {
	border-bottom: 0;
}

/* 13.5. Device classes
==================================== */

.onlyDesktop {
	display: none!important;
}

.onlyTablets {
	display: none!important;
}

.onlySmartphones {
	display: block!important;
}

.onlyTabltetsAndSmartphones {
	display: block!important;
}