/**
 *
 * -------------------------------------------
 * Override
 * -------------------------------------------
 *
 **/
 @import url("ag.css");
 @import url("mili.css");
@import url("stru.css");
/* Fonts */
@font-face {
    font-family: 'thematitloilight';
    /*src: url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiMedium Bold.otf');*/
   src: url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiLight.eot');
   src: url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiLight.eot?#iefix') format('embedded-opentype'),
     url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiLight.woff') format('woff'),
     url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiLight.ttf') format('truetype'),
     url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiLight.svg#MyFont-regular') format('svg');
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
}
@font-face {
    font-family: 'thematitloilightbold';
    /*src: url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiMedium Bold.otf');*/
   src: url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiLight-Bold.eot');
   src: url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiLight-Bold.eot?#iefix') format('embedded-opentype'),
     url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiLight-Bold.woff') format('woff'),
     url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiLight-Bold.ttf') format('truetype'),
     url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiLight-Bold.svg#MyFont-regular') format('svg');
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
}
@font-face {
    font-family: 'thematitloimediumbold';
    /*src: url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiMedium Bold.otf');*/
   src: url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiMedium-Bold.eot');
   src: url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiMedium-Bold.eot?#iefix') format('embedded-opentype'),
     url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiMedium-Bold.woff') format('woff'),
     url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiMedium-Bold.ttf') format('truetype'),
     url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiMedium-Bold.svg#MyFont-regular') format('svg');
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
}
@font-face {
    font-family: 'thematitloiconmedium';
    /*src: url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiConMedium Bold.otf');*/
    src: url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiConMedium.eot');
   src: url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiConMedium.eot?#iefix') format('embedded-opentype'),
     url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiConMedium.woff') format('woff'),
     url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiConMedium.ttf') format('truetype'),
     url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiConMedium.svg#MyFont-regular') format('svg');
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
}
@font-face {
    font-family: 'thematitloiconmediumbold';
    /*src: url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiConMedium Bold.otf');*/
    src: url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiConMedium-Bold.eot');
   src: url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiConMedium-Bold.eot?#iefix') format('embedded-opentype'),
     url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiConMedium-Bold.woff') format('woff'),
     url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiConMedium-Bold.ttf') format('truetype'),
     url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiConMedium-Bold.svg#MyFont-regular') format('svg');
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
}

@font-face {
    font-family: 'thematitloimedium';
    /*src: url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiMedium.otf');*/
    src: url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiMedium.eot');
   src: url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiMedium.eot?#iefix') format('embedded-opentype'),
     url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiMedium.woff') format('woff'),
     url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiMedium.ttf') format('truetype'),
     url('http://www.newsauto.gr/wp-content/themes/Game/fonts/thema/ThemaTitloiMedium.svg#MyFont-regular') format('svg');
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
}
body,
html,  
body input, 
body select, 
body textarea,
#main-menu,
#main-menu .sub-menu a,
#gk-bottom2 .box .box-title,
#gk-bottom3 .box .box-title,
#gk-bottom2 .box h3,
#gk-bottom3 .box h3,
.box.advertisement .box-title,
h1,h2,h3,h4,h5,h6,
#gk-menu-overlay-header,
#gk-bottom3 .box.bigtitle .box-title > small,
.box.bigtitle .box-title small,
#gk-menu-overlay-content,
.gk-nsp-art .readon,
#reviews #comments ol.commentlist p.meta strong,
.box.highlights .gk-nsp-highlights li:before,
.box #wp-calendar caption,
.btn,
button,
.button,
.readon,
.nav-btn a,
.more-link,
a.gk-button,
input[type="button"],
input[type="submit"],
a.textLogo,
#gk-login,
.gk-popup h3,
.box .box-title,
.widget_wysija_cont .wysija-submit,
.gk-is-wrapper-gk-game .figcaption h3,
.gk-tabs-wrap > ol li,
.gk-is-wrapper-gk-game figcaption h2,
.gk-is-wrapper-gk-game figcaption p,
#gk-head h2.gk-page a,
#gk-head h2.gk-page,
.video-block,
.box.highlights .gk-nsp-highlights + a,
#main-menu .menu-cols-2 > .sub-menu > ul > li > a,
#main-menu .menu-cols-3 > .sub-menu > ul > li > a,
#main-menu .menu-cols-4 > .sub-menu > ul > li > a{font-weight: normal!important;}
/*END OF Fonts */
/*
 *
 * 16. Override
 *
 *
------------------------------------ */

/* 16.1. Overrided elements
==================================== */
@media screen and (min-width: 800px) {
.kedriko{margin-top: 169px;}
}
@media screen and (max-width: 800px) {
.kedriko{margin-top: 112px;}
}
/* head */
#gk-head {background-color: #425867;}
/* END head*/
.gk-nsp-videogallery .gk-small-block .gk-item {float: left;}
#gk_nsp-19 {width:70%}
#text-71 {width: 30%;text-align: right;margin-bottom: 10px;}

/* dokimes */
#gk_nsp-19 .gk-nsp-links {margin-top: 0px;border-top: 1px dotted;width: 20%;}
#gk_nsp-19 h3.box-title {font-size: 14pt!important;line-height: 16pt!important; width: 95%;background: #303030!important;color: #fff200!important;padding: 5px 0px 5px 25px;}
#gk_nsp-19 a {font-size: 12pt;line-height: 14pt;color: #00cd99!important;}
p.gk-nsp-info {margin-top: -20px!important;}
#gk-bottom1 {margin-top: 0!important; margin-bottom: 0!important;background: rgb(36, 36, 36);}
#gk-bottom2 {margin: 40px auto 0px auto;position: relative;margin-top: 0px;padding-top: 40px;}

/* img slider bot */

.posts_bottom p.gk-nsp-text {line-height: 14pt;color: #000;}
.gk-news-gallery .gk-images-wrapper > a img {margin: 0 auto;width: 100%!important;}
#gk-bottom3 {margin: 0px auto 0px auto;}
.gk-news-gallery {padding: 0px 0!important;}

/* inset bar */
div#gk_nsp-16 {margin-top: 30px;}
#gk-inset {background: transparent;float: right;margin-top:0;padding: 0 25px 0 30px!important;/*border-left: 1px solid #000;border-right: 1px solid #000;*/}
#gk-mainbody-columns > div > section {margin-bottom: 30px;border-right: 1px solid #000;}
#gk-inset .gk-nsp-header {font-size: 14pt!important;line-height: 16pt;}

/* END inset bar */

/* maibody */
#gk-mainbody-top .box, #gk-mainbody-bottom .box {padding-top: 0px;}
#gk-content-wrap.has-inset {margin-top: -32px;}
#gk-content-wrap.has-inset {padding-right: 30px;}
#gk-mainbody-columns > div > aside, #gk-article-inset, #gk-inset {padding: 0 0 0 25px;}
.mainroi .gk-nsp-date {color: #00cd99!important;text-transform: capitalize;font-size: 1.2em;}
.mainroi .gk-nsp-header a {color: #000!important;}
.gk-nsp-info > span:hover {color: #888888!important;}
span.gk-nsp-date {font-size: 14pt!important;}
#gk_nsp-15 .gk-nsp-header, #gk_nsp-17 .gk-nsp-header {font-size: 24pt;line-height: 20pt;}
#gk_nsp-15 .gk-nsp-header a, #gk_nsp-17 .gk-nsp-header a {font-size: 20pt;line-height: 20pt;}
#gk_nsp-15 .gk-nsp-text, #gk_nsp-17 .gk-nsp-text {font-size: 12pt!important;line-height: 14pt;}

/* ROH */
.roh a.gk-nsp-links-readon {color: #fff200;}
.roh .gk-nsp-links-scroll.gk-nsp-pages-1 {height: 0px;}
.roh .gk-nsp-links {margin-top: 0px;margin-left: 30px;text-align: left;}
.roh .gk-nsp-header a::before {content: '»';color: #fff200;}
#gk_nsp-18 .gk-nsp-arts-page.gk-nsp-cols-1 {padding: 0 30px;width: 70%;height: 300px;overflow-y: scroll;margin-bottom: 50px;}
.roh .gk-nsp-header a {color: #c3cacf!important;text-decoration: none;/*line-height: 16pt;font-size: 14pt;*/font-size: 11pt;}
.roh .gk-nsp-header {margin: 0 0 5px 0!important;padding: 0px 0;}
div#gk_nsp-18 {background-color: #425867;}
aside#gk-sidebar .box .box-title {color: rgb(52, 70, 84);;background-color: #fff200;width: 142px;line-height: 30px;text-align: center;margin-left: 30px;font-family: ThemaTitloiMediumBold!important;}
#gk_nsp-18 h3.box-title {font-size: 14pt;}
aside#gk-sidebar .box .box-title a {color: rgb(52, 70, 84)!important;}
.page-id-85505 header {float: left!important;}
/*END ROH*/
/* fonts */
.dark-area .gk-nsp-header a, .dark-area .list .gk-nsp-header a {color: #303030!important;}
/* END fonts */

/* top1 */
#gk_nsp-20 .gk-nsp-art{border: 10px solid transparent!important;}
.gk-nsp.top4 {padding: 0px 25px 0px 25px;}
.top4 .gk-nsp-info {font-size: 14pt!important;}
.top4 .gk-nsp-header {font-size: 13pt;}
/* END top1 */

/* Banners */
/* 728 mainbody bot */
.innerbnr {margin: 0 auto;width: 728px;}
.bnr728.mainbotbnr {width: 100%;float: left;padding-top: 30px;}
/* 728 mainbody bot */
/* END Banners */
/* END maibody */

/*menu */
#main-menu { height: 35px;} /*fix*/
#main-menu > li { height: 35px; line-height: 35px;}/*fix*/
#main-menu > li > a {height: 35px; line-height: 35px;}/*fix*/
.social-wrapper {margin-top: 15px;}
.bgmenu {width: 100%;height: 35px;position: absolute;background: #425867;} /*height: 58px;fix*/
#gk-main-menu {float: none;margin: 0 auto; padding: 0;background: #425867;}
#gk-top-bar {background: transparent!important;position: absolute;top: 160px !important;}
.home #gk-top-bar {top: 142px !important;}
#social-top {float: right;  margin-top: -85px;}
.logoin {text-align: center;}
body.no-bg #gk-bg {background: none!important;}

#gk-bg {
  /* background: #eee url('../images/header_bg.jpg') no-repeat center 0; */
  background-size: 2400px 900px;
  overflow: hidden;
  margin-top: -58px;}

  .widget-area.gk-page {
  margin: 0 auto !important;
}

#bnr-top {text-align: center;}
#bnr-top1 {text-align: center;}
/* END menu */


/* inset images placement */
#gk-inset .gk-nsp-art .gk-nsp-image {border: none;margin-top: 9px;height: auto;}
#gk-inset .gk-nsp-text {font-size: 12pt;line-height: 12pt;}
/* END inset images placement */

/* web tv */
.box ul li {border-top: none!important;line-height: 1.6;padding: 10px 0;}
#dpe_fp_widget-2 ul li {width: 29.3%;float: right;font-size: 18px;font-size: 16.166pt;line-height: 16.166pt;}
#dpe_fp_widget-2 ul li a{color: #ffff00!important;}
.gk-pagetv .box ul li:first-child {width: 67%!important;float: left!important;border: 0;font-size: 24pt!important;}
.gk-pagetv .box ul li:first-child a{color: #ffff00!important;}
#dpe_fp_widget-2 img {border: 5px solid #fff;}
.video-list {position:relative;}
.playthumb {background: url('http://www.newsauto.gr/wp-content/themes/Game/images/play-button-s.png') no-repeat center center;top: 0;bottom: 0;left: 0;right: 0;text-align: center;position: absolute;}
.box ul li:first-child .playthumb {
/* margin-bottom: 10px; */
  background: url('http://www.newsauto.gr/wp-content/themes/Game/images/play-button-s.png') no-repeat center center;top: 0;bottom: 0;left: 0;right: 0;text-align: center;position: absolute;}

#dpe_fp_widget-2 {margin-left: 0px;padding-left: 0px;margin-bottom: 0px;}
#dpe_fp_widget-2 h3.box-title {color: #425867;background-color: #fff200;width: 15%;line-height: 30px;text-align: center;font-size:14pt;}
/* END web tv */

/*SLIDER BOT*/
/*.slidebot .ms-layer h2 {color: #fff;font-size: 28px;text-align: center;}
.slidebot .ms-layer {color: #fff;text-align: center;left:28% !important;}
.slidebot .ms-layer {background-color: rgba(0, 0, 0, 0.4);} */
.ms-skin-default .ms-bullet-selected {background: #fff200!important;}
.ms-skin-default .ms-bullet {width: 20px!important;height: 20px!important;border: 1px solid #fff200!important;border-radius: 15px!important;margin: 4px;}
/*.slidebot img {width: 100%!important;height: auto!important;margin-top: -10%!important;}
div#master-slider-main-widget-3 {padding: 0;}
.master-slider-parent.ms-parent-id-7 {
  width: 100%;
  max-width: 100%!important;
}
.slidebot .ms-inner-controls-cont {
  max-width: 100%!important;
}
.slidebot .ms-view.ms-basic-view {
  width: 100%!important;
}
.slidebot .ms-slide.ms-sl-selected {
  width: 100%!important;
}*/
/*END SLIDER BOT*/

/* masterslide */
  .ms-tab-context{margin-top: -121px;
  font-family: 'thematitloimediumbold';
  font-size: 14.26px;
  
  color: white;
  line-height: 1.3;
  text-shadow: 0 0px 8px black;}
  .kedriko .master-slider{margin-bottom: 11px!important;}
/* END masterslide */


/* categories  */

figure.featured-image {width: 100% !important;}

.archive #gk-mainbody article.has-featured-image > header { float: left;width: 100% !important;}

.category-page .archive article.has-featured-image .summary {float: left;}

.tag-page article.has-featured-image .summary, .category-page article.has-featured-image .summary, .search-page article.has-featured-image .summary, .archive article.has-featured-image .summary, .page-template-template-latest-php article.has-featured-image .summary, .archive article.has-featured-image .gk-meta-post, .page-template-template-latest-php article.has-featured-image .gk-meta-post, .home article.has-featured-image .gk-meta-post, .search-page article.has-featured-image .gk-meta-post {
  float: left;
  width: 72.7%;}

.category #gk-mainbody-columns {
  padding-top: 0px;
}

.category #gk-bg {
  margin-top: 0px;
}

.category #gk-content-wrap, .search #gk-content-wrap,.tag  #gk-content-wrap  {padding: 0 25px 0px 8px;}
.category h1 {text-transform: inherit;}
.category #top-2 {display: none;}


/* END categories */

/* single post - arthra  */
.single-post #gk-mainbody {margin-top: 20px;}
.single-post #gk-mainbody-columns > div > aside, #gk-article-inset, #gk-inset {padding: 10px 0 0 25px;}
.single-post h1 {text-transform: inherit;}
.single-post #gk-mainbody > article .content {width: 100%;}
.single-post #gk-bg {margin-top: 0px;}
.single-post #gk-mainbody-columns {padding-top: 49px;}
.single-post #gk-content-wrap {padding: 0 25px 0px 8px;}
.single-post #top-2 {display: none;}


/* END single post - arthra  */

/* fonts */

 body, html, body input, body select, body textarea, #main-menu, #main-menu .sub-menu a, #gk-bottom2 .box .box-title, #gk-bottom3 .box .box-title, #gk-bottom2 .box h3, #gk-bottom3 .box h3, .box.advertisement .box-title {
  font-family: thematitloilight !important;
}

h1, h2, h3, h4, h5, h6, #gk-menu-overlay-header, #gk-bottom3 .box.bigtitle .box-title > small, .box.bigtitle .box-title small, #gk-menu-overlay-content, .gk-nsp-art .readon, #reviews #comments ol.commentlist p.meta strong, .box.highlights .gk-nsp-highlights li:before, .box #wp-calendar caption {
font-family: thematitloimedium !important; }

.tag-page #gk-mainbody article > header h2, .category-page #gk-mainbody article > header h2, .search-page article > header h2, .archive #gk-mainbody article > header h2, .page-template-template-latest-php #gk-mainbody article > header h2, .home #gk-mainbody article > header h2 {
  text-transform: inherit;
  font-size: 25px!important;
}

/* END fonts */

/* home top 2 */

/*#gk-mainbody-columns > div > section {
  margin-top: 700px;
} */

#top-2 {
  width: 96.9%;
  /*z-index: 500; */
  float: left;
  position: relative;
}

#top-2 .gk-nsp-art .gk-nsp-image  {
  height: 500px;
}
@media screen and (min-width: 900px){
#top-2 a.gk-responsive.gk-image-link {height: 390px;}
}
#top-2 .gk-nsp-header a{
  color: #00cd99!important;
  text-decoration: none;
  font-size: 26pt!important;
  }

#top-2 li {display: block;}
li#gk_nsp-10 {display: block;}
#top-2 .gk-nsp-arts {margin-top: 2px;}
#top-2 .gk-nsp-art.gk-nsp-cols-1 {padding: 0!important;}
a.gk-responsive.gk-image-link {margin: 0 0 !important;}
#gk_nsp-21 .gk-nsp-art .gk-nsp-text {display: block!important;line-height: 14pt;font-size: 14pt;}
#gk_nsp-21 {padding: 0px;}
/* END home top 2 */


/*  home top 4 */
.gk-nsp-arts {margin-top: 30px;}
/*.category #before-mainbdy {display: none;}*/
/*.single-post #before-mainbdy {display: none;}*/


/* END home top 4 */

/* pirelli */
.gk-nsp.top22 {padding: 0px 45px 0px 45px;}
li#gk_nsp-22 {list-style-type: none;}
#gk_nsp-22 .gk-nsp-content-wrap {/*background: url('http://www.newsauto.gr/wp-content/uploadss/2013/03/Pirelli_logo.jpg') no-repeat right top;*/margin-top: 0px; padding-left: 10px; }
#gk_nsp-22 .gk-nsp-header {
  /* text-decoration: none; */
  color: #425867;
  background-color: #6A6A6A;
  /*width: 65%;*/
  /* line-height: 30px; */
  /* text-align: center; */
  margin-left: 30px;
  font-size: 18pt;}

#gk_nsp-22 .gk-nsp-art.gk-nsp-cols-1 {;border-bottom: 10px solid transparent;border-top: 10px solid transparent;}
#gk_nsp-22 .gk-nsp-header a {color: #FFF200!important; margin-left: 10px;}
#gk_nsp-22 p.gk-nsp-text {color: #c3cacf!important;/*width: 65%;*/font-size: 16pt;line-height: 1.1em;}

/* END pirelli */

/*Article*/
.content p {
  font-family: 'thematitloimedium' !important;
  font-size: 16px;
  
  line-height: 20px;
  letter-spacing: -0.025em;}
#gk-mainbody article > header h1{
    font-family: 'thematitloimediumbold' !important;
  font-size: 37.26px;
  
  line-height: 40px;
  letter-spacing: -0.040em;}
  /* END of Article */

/* comments */
  p#form-allowed-tags {display: none;}
  code {display: none;}


/* END comments */
/* blogs page */

.blogs a {color: #00cd99!important;font-size: 24px;}
.blogs a.title {font-size: 14px;}  
li.listing-item::before {display: none;}
.blogs {padding: 4px 0px 15px 0px!important;}
.blogs li.listing-item {width: 95%;}
.blogs img.alignnone.size-full.wp-image-35930 { margin-right: 10px;}
article#post-35784 { margin-top: 35px;}
/* END blogs page */


/* times page */
#post-39171 h1 {text-transform: inherit;color: #00cd99!important;}
#post-39171 {margin-top: 35px;}
h4.times_date {text-transform: inherit;color: #00cd99;}
h3.times_klik {text-transform: inherit;color: #00cd99;}

/* END times page */
/* SKIN */
#skin-na {position: absolute;margin-left: -280px;width: 1800px;}
/* END SKIN */

.gk-page44 {float: left;width: 100%;/*background-color: #557286*/;/*position: relative;*/ background-color:#425867;}
/* ag */

/* addthis recoin */
.recoin img.at-tli {  height: 150px!important;width: 312px!important;left: -53px!important;top: -10px!important;}
.recoin .at4-recommended-item-img {height: 125px!important;/*display: none;*/}
/* END addthis recoin */

.single-post #gk-mainbody-columns > div > h2, #gk-mainbody-columns > div > h2 > a {text-transform: none;}

/* RELATED */
.relatedposts h3 {font-size: 14px;margin: 0% 0% 3%;padding: 5px;text-align: center;background-color: rgb(85, 114, 134);
  color: rgb(255, 255, 255);
  font-family: thematitloimediumbold;
  font-weight: 100;
  letter-spacing: -0.025em;
  line-height: 14px;
}
.relatedposts {float: right;width: 25%;background: #e7e7e8;border: 1px solid #ccc;padding: 2%;float: right;margin-left: 2%;margin-bottom: 3%;margin-top: 1%;}
.relatedthumb img {width: 100%;height: auto;}
.relatedposts a {color: rgb(52, 70, 84)!important;}
@media screen and (max-width:600px) {
.relatedposts {float: right;width: 97%;background: #e7e7e8;border: 1px solid #ccc;padding: 2%;margin-left: 3%;margin-bottom: 3%;}
.relatedthumb {float: left;width: 31%;margin-left: 5px;}
}
/* END RELATED */

/* men+speed */
#gk_nsp-29 .gk-nsp-arts {margin-top: 0;padding-top: 0;}
#text-96 .textwidget {margin-bottom: 0px!important;padding-bottom: 0px!important;}
#gk_nsp-29 .gk-nsp-arts {margin-top: -6px!important;}
#gk_nsp-16 {margin-bottom: 5px!important;}

#gk-footer .gk-copyrights a {color: #555;}

/* mainbody */
#gk-content-wrap.has-inset {margin-top: 13px;border-right: 1px solid black;}
#gk-mainbody-top {margin-top: -45px!important;}
/* END mainbody */

/* epikairotita */
.thema ul {padding: 0px 30px;width: 70%;height: 400px;overflow-y: scroll;margin-bottom: 50px;}
.thema ul li {padding: 5px 0;}
/* END epikairotita */


/* kinisi stous dromous */
.post-86439 header h1 {text-transform: inherit;color: #00cd99!important;}

/*.kinisi iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}


.kinisi {
    position: relative;
    padding-bottom: 96.25%;
    height: 0;
    overflow: hidden;
} */

.kinisi {
  height: 21px;
  width: 610px;
  background-color: #F2F2F2;
  z-index: 6000;
  position: absolute;
  margin-top: 562px;
}
/* END kinisi stous dromous */

#gk_nsp-8 h3.box-title {display: none;}
#bnr-top {height: 90px;}
#bnr-top1 {margin-top: 10px; margin-bottom: 10px;}

/*  afieroma */


.sliderfrank {width: 70%; float: left;z-index: 1;position: relative;}

.roifrank {width: 30%;float: left;z-index: 1;position: relative;background-color: #000;/*background-color: #000b24;*/padding-top: 0px;margin-bottom: 0;}

.bannerfrank {width: 25%;float: left;z-index: 1;position: relative;}

.menufrank {background-color: #425867;margin-bottom: 0;}
.menufrank li {padding-right: 25px!important;float: left;text-align: center;background-color: #425867;}
.menufrank li a {/*color: #ababab;*/color: transparent;margin-left: -80px}
li#menu-item-94048,li#menu-item-107886,li#menu-item-109589, li#menu-item-124214 {background-color: rgb(36, 36, 36);margin-left: -10px;padding-left: 15px;}
li#menu-item-94048 a,li#menu-item-107886,li#menu-item-109589 a, li#menu-item-124214 a {color:#fff200;}
li#menu-item-94049,li#menu-item-107887,li#menu-item-109591, li#menu-item-124216 {padding-left: 20px;}
.roifrank .gk-nsp-arts-scroll.gk-nsp-pages-1 {padding: 0 30px;width: 70%;height: 300px;overflow-y: scroll;margin-bottom: 50px;}
.sliderfrank .gk-nsp-arts {margin-top: -10px;}
#afi-mainbody {float: left;width: 75%;position: relative;z-index: 100;}
.afi-container {background-color: transparent!important;}
#afibody {background-color: #000;/*background-color: #000b24;*/}
.afi-container {margin-top: 0px!important;min-height: auto!important;}
div#afi-mainbody {background-color: #000!important;}
/*  END afieroma */
/*728*/
@media screen and (max-width:800px) {.milibnr {display: none;}}

div#text-97 {position: relative;}

/* Anazitisi Dokimes */
div#category_wise_search-2 {width: 30%;margin-bottom: 10px;}
input#s {width: 300px;}
select#searchform_cat {display: none;}

@media screen and (max-width:1050px) {
#category_wise_search-2 {text-align: center;width: 100%!important;}
}

.anaz_dok h3.box-title {width: 100% !important;margin-left: 0px !important;}


@media screen and (max-width:1050px) {
  div#bnr-top1 {display: none;}
  .anaz_dok h3.box-title {width: 300px !important;}
.anaz_dok {width: 100% !important;text-align: -webkit-center;}}
/*search page*/
.search-page .page-title {text-transform: capitalize;}
.search-page article.has-featured-image > header {width: 100%!important;}
.search h2.gk-page {text-transform: capitalize;}

.home div#gk-breadcrumb-area {display: none;}

/* SITEMAP */
.page-id-100377 li:before {content: " »";color: #425867;margin-right: 10px;}
/* END SITEMAP */
#gk-breadcrumb-area {margin-right: 20px;}

#text-104 .textwidget {width: 350px;margin: 0 auto;}

@media screen and (max-width:900px) {
 div#bnr-top1 {display: none;}
 #gk-top-bar {top: 142px !important;}

}


.dtm a {background-image: url("http://www.newsauto.gr/wp-content/uploadss/2015/05/bmw13x13.png");
    background-repeat: no-repeat;
    background-position: 2px 11px;}


    /*tags */
    

.artha-tags {
    margin: 60px 0 14px 5px;
    font-size: 25px;
    font-weight: 900;
}

.artha-tags1 {
    margin: 35px 0 14px 0px;
    font-size: 25px;
    font-weight: 900;
}

.tags {
    color: black;
        margin-bottom: 10px;
    font-size: 2.154em;
        font-weight: bold;
        font-family: 'TitloiMediumBold2';
        text-transform: capitalize;

}

.tag-place {
    padding: 0px 0px 2px 0px;
        margin: 0px 0px 0px -14px;
}

.tag-photo {
    float: left;
    margin: 0 16px 10px;
    width: 37%;
}

.tags-describion {
    padding: 15px;
    background-color: #d9d7d3;
    border: 1px solid #ccc;
    line-height: 150%;
    height: 148px;
    font-size: 15px;
    color: black;
    
}


/* tags seo */

.tags-seo {
    width: 100%;
    margin: 0px 7px 20px 0;
    float: left;
}

.tags-title {
    font-size: 22px;
    font-weight: 900;
    width: 9%;
    float: left;
    margin: 1px 1px 1px 4px;
}

.tags-il {
    width: 20%;
    float: left;
    margin: 4px 12px 1px 0;
    background-color: #425867;
    font-size: 15px;
    letter-spacing: 0.8px;
    text-align: center;
    padding: 3px 1px 3px 1px;
    border-radius: 30px;
}

.tags-lebels {
    width: 43%;
    float: left;
    height: 35px;
}

.tags-il a {
    color: #fff;
}

.tag h2.gk-page {
    text-transform: none;
}

/* skin ros  */
div#google_image_div {
    top: 30px;
}


.ms-slide .ms-layer, .ms-fixed-layers .ms-layer { position: relative !important;}
#at-jumboshare a {color: #fff;}

.addthis_jumbo_share {
    clear: inherit !important;padding-bottom: 15px;
}
div#text-111 {margin-bottom: -50px!important;}

.at-label{color: white!important;}

div#div-gpt-ad-1478780264860-0{margin: 0 auto;padding-bottom: 20px;}
div#div-gpt-ad-1432726874479-1 {height: auto!important;}

.botleft {float: left;margin-right: 40px;text-align: center;}
.botright {float: left;text-align: center;}
@media screen and (max-width:750px) {
.botleft {width: 100%;}
.botright {width: 100%;}
}
.menufrank.afaudi {
    background-color: #425867;
    background-image: url(http://www.newsauto.gr/wp-content/uploadss/2016/12/Audi_Logo.png);
    background-size: 60px;
    background-position: center left, center center;
    background-repeat: no-repeat, repeat;
    margin-bottom: 0;
    padding-left: 70px;
}