/**
 *
 * -------------------------------------------
 * Shortcodes - typography elements - CSS file
 * -------------------------------------------
 *
 **/

/*
 *
 * 6. Shortcodes
 *
 *
------------------------------------ */

/* 6.1. Typography elements
==================================== */

.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	clear: both;
	margin: 30px 0;
}

.gk-warning,
.gk-notice,
.gk-info,
.gk-error,
.gk-thanks,
.gk-contact-error,
.gk-contact-thanks { /* Common rules for all these types */
	padding: 12px 12px 12px 66px;
	position: relative;
}

.gk-contact-error,
.gk-contact-thanks {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 540px;
}

/* Notices */
.gk-notice,
.gk-thanks,
.gk-contact-thanks {
	background-color: #FFFFDD;
	color: #272727;
}

/* Infos */
.gk-info {
	background-color: #f8f8f8;
	color: #272727;
}

/* Errors */
.gk-warning,
.gk-error,
.gk-contact-error {
	background-color: #d82731;
	color: #fff;
}

/* Info Icons */
.gk-info:before, 
.gk-notice:before, 
.gk-warning:before,
.gk-error:before,
.gk-thanks:before,
.gk-contact-error:before,
.gk-contact-thanks:before {
	font-family: FontAwesome;
	font-size: 24px;
	position: absolute;
	top: 7px;
	left: 22px;
}
.gk-info:before {
	color: #333;
	content: "\f0e6";
}
.gk-notice:before,
.gk-thanks:before,
.gk-contact-thanks:before {
	color: #333;
	content: "\f0eb";
}
.gk-error:before,
.gk-warning:before,
.gk-contact-error:before {
	color: #fff;
	content: "\f057";
}

/* Labels & badges */
.gk-badge,
.gk-label,
.gk-badge[data-style="style1"],
.gk-label[data-style="style1"] {
	background-color: #ffd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #666;
	font-weight: 300;
	padding: 1px 3px 2px;
	vertical-align: baseline;
	white-space: nowrap;
}

.gk-badge,
.gk-badge[data-style="style1"] {
	padding: 1px 3px 2px;
}

.gk-badge[data-style="style2"],
.gk-label[data-style="style2"] {
	background: #f5f5f5;
}

/* Code listings */
pre,
pre.gk-code {
	background: #fff;
	border: 1px solid #e5e5e5;
	border-left: 5px solid #d82731;
	color: #333;
	display: block;
	font: normal .92em/32px 'Curier New',monospace!important;
	margin: 36px 0!important;
	padding: 20px 26px 20px 32px!important;
}

/* Text blocks */
.gk-textblock,
.gk-textblock[data-style="style1"] {
	border: 1px solid #e5e5e5;
	margin: 20px 0;
	padding: 15px 20px;
}

.gk-textblock[data-style="style2"] {
	background: #FFFEF4;
	border: 1px solid #EAE8CC;
}

.gk-textblock[data-style="style3"] {
	background: #f8f8f8;
	border: none;
}

.gk-numblock {
	margin: 0 0 24px;
	min-height: 42px;
	padding: 0 0 0 66px !important;
	position: relative;
}

.gk-numblock span,
.gk-numblock[data-style="style1"] span {
	border: 1px solid #ccc;
	display: block;
	font-size: 18px;
	font-weight: 600;
	height: 38px;
	left: 0;
	line-height: 38px;
	position: absolute;
	text-align: center;
	top: 4px;
	width: 38px;
}

.gk-numblock[data-style="style1"] span {
	color: #bbb;
}

.gk-numblock[data-style="style2"] span {
	color: #272727;
	border-color: #272727;
}

.gk-numblock[data-style="style3"] span {
	color: #d82731;
	border-color: #d82731;
}

.gk-floated {	
	color: #272727;
	display: block;
	font-style: italic;
	font-weight: 400;
	line-height: 170%;
	padding: 25px;
	width: 38%;
}

.gk-floated[data-align="left"] {
	float: left;
	padding-left: 0;
}

.gk-floated[data-align="right"] {
	float: right;
	padding-right: 0;
}

.gk-floated[data-align="center"] {
	float: none;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	width: 100%;
}

/* Blockquote */
blockquote.gk-quote {
	clear: both;
	display: block;
	margin: 40px 0;
	padding: 0 0 0 80px;
	position: relative;
}

blockquote.gk-quote p {
	font-style: italic;
	color: #999;
}

blockquote.gk-quote cite {
	color: #aaa;
	float: right;
	font-size: 14px;
	font-style: italic;
}

blockquote.gk-quote:before {
	color: #d82731;
	content: "\f10d";
	font-family: FontAwesome;
	font-size: 32px;
	font-style: italic;
	line-height: 0;
	position: absolute;
	left: 0;
	top: 15px;
}

blockquote.gk-quote[data-style="style2"]:before {
	color: #e5e5e5;
}

/* Lists */
article .intro ol,
article .content ol,
article .summary ol,
article .intro ul,
article .content ul,
article .summary ul,
#tab-description ol,
#tab-description ul {
	list-style-type: none;
	margin: 10px 0;
}

.the-icons li {
	padding-left: 0!important;
}

.the-icons li:before {
	display: none;
}

article .intro ol,
article .content ol,
article .summary ol,
#tab-description ol {
	list-style-type: decimal;
	list-style-position: inside;
	margin-left: 10px;
}

article .intro ol li,
article .content ol li,
article .summary ol li,
article .intro ul li,
article .content ul li,
article .summary ul li,
#tab-description ol li,
#tab-description ul li {
	line-height: 25px;
	padding: 5px 0 5px 20px;
	position: relative;
}

article .intro ol li,
article .content ol li,
article .summary ol li,
#tab-description ol li {
	padding-left: 0;
}

article li ol li,
article li ul li,
#tab-description li ol li {
     padding-left: 20px!important;
}

article ol[data-style="style2"],
#tab-description ol[data-style="style2"] {
	list-style-type: lower-alpha;
}

article ol[data-style="style3"],
#tab-description ol[data-style="style3"] {
	list-style-type: decimal-leading-zero;
}

article ol[data-style="style4"],
#tab-description ol[data-style="style4"] {
	list-style-type: upper-roman;
}

article .intro ul li,
article .content ul li,
article .summary ul li,
#tab-description ul li {
	line-height: 2em!important;
	list-style: none;
	overflow: inherit;
	padding: 2px 0 2px 24px;
	position: relative;
}

article .content ul li:before,
article .intro ul li:before,
article .summary ul li:before,
#tab-description ul li:before {
	color: #111;
	content: "\f111";
	font-family: FontAwesome;
	font-size: 6px;
	left: 0;
	position: absolute;
	top: 3px;
}

article ul[data-style="style1"] li:before,
#tab-description ul[data-style="style1"] li:before {
	content: "\f111";
}

article ul[data-style="style2"] li:before,
#tab-description ul[data-style="style2"] li:before {
	color: #d82731;
	content: "\f14a";
	font-size: 13px;
}

article ul[data-style="style3"] li:before,
#tab-description ul[data-style="style3"] li:before {
	color: #d82731;
	content: "\f006";
	font-size: 13px;
}

article ul[data-style="style4"] li:before,
#tab-description ul[data-style="style4"] li:before {
	color: #d82731;
	content: "\f0a9";
	font-size: 13px;
}

/* Legends */
.gk-legend {
	border: 4px double #e5e5e5;
	margin: 30px 0;
	padding: 12px;
	position: relative;
}

.gk-legend > strong:first-child {
	background: #fff;
	color: #242424;
	float: left;
	font-size: 14px;
	font-weight: 400;
	left: 14px;
	line-height: 18px;
	margin: 0 0 -9px!important;
	padding: 0 10px;
	position: absolute;
	text-transform: uppercase;
	top: -11px;
}

/* Columns */

.gk-columns {
	margin: 0 -20px;
	overflow: hidden;
	width: auto;	
}

#gk-bottom3 .gk-columns {
	margin: 0 -30px;
}

.gk-columns > div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	padding: 0 20px;
}

.gk-columns[data-column-count="1"] > div {
	padding: 0;
	width: 100%;
}

.gk-columns[data-column-count="2"] > div {
	width: 50%;
}

.gk-columns[data-column-count="3"] > div {
	width: 33.333333%;
}

.gk-columns[data-column-count="4"] > div {
	width: 25%;
}

.gk-columns[data-column-count="5"] > div {
	width: 20%;
}

.gk-columns[data-column-count="6"] > div {
	width: 16.666666%;
}

.gk-columns[data-column-count="7"] > div {
	width: 14.28%;
}

.gk-columns[data-column-count="8"] > div {
	width: 12.5%;
}



/* Raw text */
.gk-raw {
	background: #fafafa;
	border: 1px solid #f0f0f0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #444;
	margin: 10px 0;
	padding: 10px 15px;
	position: relative;
}