/**
 *
 * --------------------------------------------
 * Shortcodes - interactive elements - CSS file
 * --------------------------------------------
 * 
 **/

/*
 *
 * 6. Shortcodes
 *
 *
------------------------------------ */

/* 6.2. Interactive elements
==================================== */

/* RSS link */
.gk-rss > i {
	margin-right: 5px;
}

/* PDF link */
.gk-pdf > i {
	margin-right: 5px;
}

/* Private note & members note */
.gk-note,
.gk-members {
	background: #fafafa;
	border: 1px solid #f0f0f0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #aaa;
	margin: 10px 0;
	padding: 10px 15px;
	position: relative;
}

.gk-note:before,
.gk-members > strong:first-child {
	background: #d82731;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #fff!important;
	content: "!";
	font-size: 16px;
	font-weight: 500;
	height: 20px;
	left: 10px;
	line-height: 21px;
	position: absolute;
	text-align: center;
	top: -10px;
	width: 20px;
}

.gk-members > strong:first-child {
	background: #d82731;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 12px;
	padding: 0 10px;
	width: auto!important;
}

/* Toggle */
.gk-toggle {
	background: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 10px 0;
	min-height: 16px;
	overflow: hidden;
	padding: 15px 20px;
	position: relative;
}

.gk-toggle.opened > div {
	margin-top: 0;
	opacity: 1;
}

.gk-toggle.closed > div {
	margin-top: -200%;
	opacity: 0;
}

.gk-toggle.opened > h3:after,
.gk-toggle.closed > h3:after {
	content: "\f056";
	color: #d82731;
	cursor: pointer;
	display: block;
	font-family: FontAwesome;
	font-size: 21px;
	position: absolute;
	right: 0;
	top: 8px;
	width: 21px;
}

.gk-toggle.closed > h3:after {
	content: "\f055";
}

.gk-toggle > h3 {
	background: #fff;
	color: #333;
	cursor: pointer;
	font-size: 16px;
	line-height: 17px;
	margin: -10px 0;
	padding: 10px 0 15px;
	position: relative;	
	z-index: 1;
}

.gk-toggle > div {
	overflow: hidden;
	padding-top: 10px;
	-webkit-transition: margin-top .3s ease-out, opacity .5s ease-out;
	-moz-transition: margin-top .3s ease-out, opacity .5s ease-out;
	-ms-transition: margin-top .3s ease-out, opacity .5s ease-out;
	-o-transition: margin-top .3s ease-out, opacity .5s ease-out;
	transition: margin-top .3s ease-out, opacity .5s ease-out;
}
