/* blogs */

#post-35784 header h1 {color: #00cd99!important;}

/* END blogs */

/* responsive top banner 728 */
@media screen and (max-width: 750px) {div#google_image_div {display: none;}}
/* END responsive top banner 728 */

/* posts bottom */
.widget-area .box.last4 {width: 70%;float:left;}
#text-85, #text-86 {width: 30%;float: right;}

#text-85 {margin-top: 34px!important;}


/* END posts bottom */

#gk-footer {float: left;width: 100%;position: relative;}

/*.ms-slide-layers .slider_right  {
  max-width: none !important;
  width: 100%!important;
  left: 0 !important;
} 

.ms-slide-layers .slider_left  {
  max-width: none !important;
  width: 100%!important;
  left: 0 !important;
} 

.slider_right {width: 100% !important}

.slider_left {width: 100% !important}
*/

.ms-slide .ms-slide-layers, .ms-fixed-layers {
  overflow: inherit!important;}

  .top4 .gk-nsp-header {
  font-size: 18pt;
  font-family: thematitloilightbold!important;
}
.top4 .gk-nsp-date {font-family: thematitloilight!important;}


#top-2 .gk-nsp-header a {font-size: 34pt !important;font-family: thematitloilightbold !important;}
#top-2 .gk-nsp-text {color: #000000 !important;font-size: 16pt;font-family: ThemaTitloiMedium!important;}

.mainroi .gk-nsp-header a {font-family: thematitloilightbold!important;font-size: 30pt;}
.mainroi p.gk-nsp-text {font-family: ThemaTitloiMedium!important;font-size: 14pt !important;color: #000000!important;}
.mainroi .gk-nsp-date {font-family: thematitloimedium !important;}


#gk-inset .gk-nsp-header {color: #303030!important;font-family: thematitloilightbold !important;font-size: 18pt !important;}
#gk-inset .gk-nsp-text {font-family: thematitloimedium !important;}

.roh .gk-nsp-header a {font-family: ThemaTitloiMedium !important;}


.slidebot .ms-layer h2 {text-transform: initial;}

.category h2.gk-page {
  text-transform: inherit;
}

/* @media screen and (max-width: 1100px) {
  #gk-sidebar .box, #gk-sidebar_wc .box {width: 63% !important;}} */


 @media screen and (max-width: 800px) {
#top-2 a.gk-responsive.gk-image-link {
  height: auto;
}}

.top4 .gk-nsp-header {letter-spacing: -.025em !important;}

#gk_nsp-22 .gk-nsp-header {letter-spacing: -.025em !important;}
#top-2 .gk-nsp-header {letter-spacing: -.025em!important;}
.mainroi .gk-nsp-header {letter-spacing: -.025em!important;}
#gk-inset .gk-nsp-header {letter-spacing: -.025em!important;}
#gk-bottom1 .title {letter-spacing: -.025em!important;}

/*.gk-nsp-art.gk-nsp-cols-1 {
  padding: 0px 0px 33px 0px !important;
} */

#gk-mainbody-top .gk-nsp-text {padding: 0px 0px 20px 0px !important}
#gk-mainbody-top .gk-nsp-header {margin: 0px -7px -4px 0!important}
#gk-mainbody-top .gk-nsp-art.gk-nsp-cols-1 {padding: 16px 0  !important;}

.gstrou h3.box-title {
  letter-spacing: -0.025em!important;
  font-size: 18pt !important;
  color: #FFF200!important;
}


 @media screen and (max-width: 800px) {.xartis1 {display: none;}}
 @media screen and (min-width: 801px) {.xartis2 {display: none;}}



 .sliderfrank h3 {
    position: relative;
    background-color: rgba(255,255,255,0.7);
    top: -57px;
    font-size: 20px;
    color: #0053a6;
    line-height: 38px;
    padding-left: 10px;
}

div#afi-mainbody {
    background-color: #000b24;
}

.orizontia .gk-nsp-header a {
    color: #cbcbcb! important;
}

.sliderfrank {
    margin: 0px 0 -30px 0;
}

 @media screen and (max-width: 1120px) {
  .bannerfrank {display: none;} 
  #afi-mainbody {width: 100% !important;}
}

@media screen and (max-width: 700px) {
  .roifrank {width: 100% !important; float: none !important;} 
  .sliderfrank {width: 100% !important;float:none !important;}
}

div#gk_nsp-32, div#gk_nsp-31 {margin-left: -10px;}

