/**
 *
 * -------------------------------------------
 * Template stuff CSS file
 * -------------------------------------------
 * 
 **/
 
/*
 *
 * 7. Template additional features styles
 *
 *
------------------------------------ */

/* 7.1. Breadcrumbs & font-size
==================================== */
 
#gk-breadcrumb-area {
	background: transparent;
	border-bottom: 1px solid #E5E5E5;
	margin-bottom: 36px;
	padding-bottom: 14px;
} 


.home div#gk-breadcrumb-area {display: none;}
 
.gk-breadcrumbs {
	color: #999;
	float: left;
} 

.gk-breadcrumbs > a:first-child:before {
	display: none;
}

.gk-breadcrumbs > a,
.gk-breadcrumbs > span {
	font-size: 13px;
	font-weight: 500;
	line-height: 1;
	padding: 0 10px;
	position: relative;
}

.gk-breadcrumbs > a:first-child {
	padding-left: 0;
}

.gk-breadcrumbs > a:before,
.gk-breadcrumbs > span:before {
	color: #d82731;
	content: "\f111";
	font-family: FontAwesome;
	font-size: 4px;
	font-weight: normal;
	left: -11px;
	padding: 0 10px;
	position: absolute;
	top: 6px;	
}

.gk-breadcrumbs > span {
	color: #999;
}

#gk-font-size {
	float: right;
}

#gk-font-size > a {
	margin-left: 5px;
}
 
/* 7.2. Contact page template
==================================== */
.contactpage .featured-image {
	margin-bottom: 24px;
	padding-top: 51px;
}

.contactpage .featured-image:hover img {
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-ms-transform: scale(1.0);
	-o-transform: scale(1.0);
	transform: scale(1.0);
	opacity: 1;
}

.contactpage .page-title {
	font-size: 42px;
	font-weight: 300;
	text-align: left;
}

.contactpage h3 {
	clear: both;
	font-size: 24px;
	font-weight: 300;
	padding: 50px 0 13px;
}

.contactpage address,
.contactpage .contact-info {
	float: left;
	margin: 0 92px 32px 0
}

.contactpage .contact-text {
	color: #000;
	font-size: 12px;
	font-weight: 600;
}

.contactpage section.intro {
	font-size: 100%;
}

.contactpage .contact-info div {
	float: left;
		margin: 0 52px 0 0
}

.page-template-template-contact-php #gk-mainbody-bottom .box {
	border-top: 1px solid #E5E5E5;
	font-size: 14px;
	margin: 42px 0 0;
	padding: 24px 0 0;
}

#gk-contact {
	margin: 0;
	max-width: 540px;
	overflow: hidden;
	width: 100%;
}

#gk-contact dd {
	margin: 5px 0;
	padding: 0;
}

#gk-contact span.error {
	color: #d82731;
}

.contactpage .gk-contact-error,
.contactpage .gk-contact-thanks {
	line-height: 18px;
	margin: 30px 0;
	max-width: 520px;
	padding: 10px;
	text-align: center;
	width: 100%;
}

.contactpage .gk-contact-error:before {
	top: 10px;
}

.contactpage input[type="text"],
.contactpage textarea {
	width: 100%;
}

.contactpage input[type="submit"] {
	float: right;
	margin: 0;
}

.contactpage #loginform #rememberme {
	margin: 13px 5px 0 2px;
}

/* 7.3. Page 404 template 
==================================== */ 

.page404 > p:first-child {
	font-size: 150%;
	padding: 20px 0;
	text-align: center;
}

.page404 > p:first-child > small {
	display: block;
	font-size: 85%;
	text-align: center;
}

.page404 label[for="s"] {
	display: none;
}

.page404 form {
	margin: 10px 0 30px 0;
	text-align: center;
}

.page404 > div {
	clear: both;
	overflow: hidden;
}

.page404 .widget {
	float: left;
	margin: 0 2%;
	margin-bottom: 30px;
	width: 46%;
}

.page404 #searchsubmit {
	display: inline-block;
	float: none!important;
	vertical-align: middle;
}

.page404 ul li {
	border-top: 1px solid #e5e5e5;
	line-height: 1.6;
	padding: 7px 0;
}

.page404 ul li:first-child {
	border: 0;
}

.page404 .widgettitle {
	margin:  30px 0;
}
/* 7.4. Archive page template
==================================== */

.archivepage .widget h2 {
	font-size: 24px;
	margin-bottom: 30px;
	text-transform: none;
}

.archivepage .widget {
    float: left;
    margin: 0 2%;
    padding: 0;
    width: 27%;
}

.archivepage .widget.first {
    margin-left: 0;
    width: 37%;
}

.archivepage .widget.last {
    margin-right: 0;
    width: 27%;
}

.archivepage .widget li:before {
    display: none;
}

.archivepage .widget.first li {
    position: relative;
}

.archivepage .widget.first li a {
    display: inline-block;
    padding-left: 65px;
}

.archivepage .widget li small {
    color: #777;
    font-size: 11px;
    left: 0;
    position: absolute;
    top: 10px;
}

/* 7.5. Tag cloud template
==================================== */

.tagcloud .tag-cloud {
	border-top: 1px solid #e5e5e5;
	margin: 20px 0;
	padding: 10px 0;
}

.tagcloud .tag-cloud a {
	font-weight: 400;
	padding: 0 10px;
	vertical-align: middle;
}

/* 7.6. Login page template
==================================== */
.page-template-template-login-php .page-title {
	margin-bottom: 40px;
}

.loginpage #loginform {
	overflow: hidden;
	margin: 0 auto;
	width: 240px;
}

.loginpage #loginform p {
    margin: 15px 0;
}

#loginform p.login-submit {
	margin-top: 0;
}

.loginpage input[type="text"],
.loginpage input[type="password"] {
	clear: both;
	width: 240px;
}

.loginpage p label {
	display: block;
}

.loginpage .login-remember {
	float: left;
	margin-top: 8px!important;
}

.loginpage .login-submit {
	float: right;
	margin: 10px 0;
}

.loginpage .login-submit input[type="submit"] {
	margin: 0;
}

.loginpage nav.small {
	border-top: 1px solid #eee;
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 240px;
}

.loginpage nav.small ul {
	margin: 0;
}

.loginpage nav.small ul li {
	float: left;
	font-size: 13px;
	font-weight: 400;
	margin-right: 10px;
	padding-left: 0;
}

.loginpage nav.small ul li:before {
	display: none;
}

/* 7.7. Post formats header
==================================== */

header hgroup h2 {
	margin: 0;
	padding: 11px 0 10px 0;
}

.gk-format-aside,
.gk-format-audio,
.gk-format-chat,
.gk-format-gallery,
.gk-format-image,
.gk-format-link,
.gk-format-quote,
.gk-format-status,
.gk-format-video {
	display: inline-block;
	float: none;
	height: 25px;
	margin: 0 -5px -6px 0!important;
	overflow: hidden;
	padding-right: 0!important;
	width: 26px;
}

.gk-format-aside:before,
.gk-format-audio:before,
.gk-format-chat:before,
.gk-format-gallery:before,
.gk-format-image:before,
.gk-format-link:before,
.gk-format-quote:before,
.gk-format-status:before,
.gk-format-video:before {
	color: #d82731;
	display: block;
	font-family: FontAwesome;
	font-size: 15px;
	line-height: 2;
}

.gk-format-aside:before { 
	content: "\f0f6";
}

.gk-format-audio:before { 
	content: "\f001";
}

.gk-format-chat:before { 
	content: "\f086";
}

.gk-format-gallery:before { 
	content: "\f00a";
}

.gk-format-image:before { 
	content: "\f03e";
}

.gk-format-link:before { 
	content: "\f0c1";
}

.gk-format-quote:before { 
	content: "\f10e";
}

.gk-format-status:before { 
	content: "\f073";
}

.gk-format-video:before { 
	content: "\f03d";
}

/* 7.8. Page navigation
==================================== */

.pagenav {
	margin: 20px 0 10px 0;
	overflow: hidden;
}

.pagenav .nav-prev {
	float: left;
}

.pagenav .nav-next {
	float: right;
}

/* 7.9. Author info
==================================== */

.author-info {
	background: #fffef5;
	border: 1px solid #ecead8;
	clear: both;
	margin: 0 0 45px 0;
	min-height: 48px;
	overflow: hidden;
	padding: 24px;
	position: relative;
}

#gk-social-api + .author-info {
	margin-top: 57px;
}

.author-info > aside {
	left: 24px;
	position: absolute;
	top: 24px;
}

.author-info img {
	display: block;
}

.author-info > div {
	padding: 0 0 0 130px;
}

.author-info h2 {
	color: #333;
	font-size: 16px;
	font-weight: 500;
	margin: 0 0 12px 0;
	text-transform: uppercase;
}

.author-info h2 a {
	color: #333!important;
}

.author-info .author-desc {
	font-size: 13px;
	line-height: 1.5;
}

.author-info .author-desc p {
	margin-bottom: 8px;
}

.author-info p.author-www,
.author-info p.author-google {
	font-size: 12px;
	line-height: 1.7;
}

.author-info p.author-www {
	margin-top: 20px;
}

/* 7.10. Post custom fields
==================================== */

dl.post-fields {
	border-top: 1px solid #000;
	clear: both;
	font-size: 13px;
	line-height: 2.0;
	margin: 52px 0 5px 0;
	padding: 0;
	padding-top: 17px;
}

dl.post-fields dt {
	font-weight: bold;
	float: left;
	margin-right: 10px;
	padding: 0;
}

dl.post-fields dt:first-child {
	border-top: none;
} 

dl.post-fields dd {
	margin: 0;
}

/* 7.11. oEmbed support
==================================== */

/* YouTube, Vimeo - responsive support */
article iframe[src^='http://www.youtube.com'],
article iframe[src^='https://www.youtube.com'],
article iframe[src^='http://youtube.com'],
article iframe[src^='https://youtube.com'],
article iframe[src*='vimeo.com'] {
	max-width: 100%!important;
}

/* Twitter - responsive support */
.content .twitter-tweet-rendered {
	max-width: 100%!important;
}

/* Flickr - responsive support */
.content a[href^='http://www.flickr.com'],
.content a[href^='https://www.flickr.com'],
.content a[href^='http://flickr.com'],
.content a[href^='https://flickr.com'] {
	max-width: 100%!important;
}

/* 7.12. Attachment page
==================================== */

.attachment-page .intro p {
	clear: both;
	padding: 30px 0 0 0;
}

.attachment-page .nav-prev {
	float: left;
}

.attachment-page .nav-next {
	float: right;
}

.attachment-page .intro {
	overflow: hidden;
	padding: 0 0 30px 0;
}

/* 7.13. Search page
==================================== */

.search-page #searchform {
	padding: 40px 0;
	text-align: center;
}

.search-page #searchform input[type="submit"] {
	display: inline-block;
	float: none;
}

.search-page .page-title {
	font-size: 32px;
	text-align: center;
}

.search-page .intro p {
	text-align: center;
}

/* 7.14. Thickbox styling
==================================== */

body #TB_load,
body #TB_window {
	border: none!important;
	background: transparent!important;
}

body #TB_window {
	background: #000!important;
}

body #TB_title {
	display: none;
}

/* 7.15. Demo content
==================================== */


/* 
 * Special Typography elements 
 */
 
/* Social icons */
.gk-social {
	padding: 3px 0;
	text-align: center;
}
.gk-social a {
	color: #555;
	display: inline-block;
	font-size: 12px;
	line-height: 25px;
	margin: 0 20px;
}
.gk-social a:active,
.gk-social a:focus,
.gk-social a:hover {
	color: #111;
}
.gk-social a:before {
	font-family: FontAwesome;
	font-size: 20px;
	line-height: 25px;
	margin: 0 12px 0 0;
	position: relative;
	top: 3px;
}
.gk-social a.gk-twitter:before {
	color: #63cdf1;
	content: "\f099";
}
.gk-social a.gk-facebook:before {
	color: #507cbe;
	content: "\f082";
}
.gk-social a.gk-youtube:before {
	color: #fe0000;
	content: "\f167";
}
.gk-social a.gk-gplus:before {
	color: #f16261;
	content: "\f0d4";
}

/* Banners */
.gk-banner {
	display: block;
}
.gk-banner img {
	height: auto;
	width: 100%;
}
#gk-inset .box .gk-banner {
	margin: 0 -30px 30px -30px;
}
#gk-inset .box:first-child .gk-banner {
	margin: -35px -30px 30px -30px;
}

/* 7.15. Log in popup
==================================== */

#gk-popup-overlay,
.gk-popup {
	background: #fff;
	color: #777;
	display: none;
	overflow: hidden;
	position: absolute;
	z-index: 1000002;
	left: 50%;
	top: 80px;
}

.gk-popup {
	margin-left: -220px;
	width: 426px;
}

.gk-popup-wrap {
	overflow: hidden;
	padding: 40px;
}

#gk-popup-overlay,
.gk-popup {
	display: none;
	z-index: 1000002;
	left: 50%;
}

.gk-popup h3 {
	font-size: 24px;
	font-weight: 400;
	letter-spacing: -0.5px;
	line-height: 32px;
	margin: 0 0 25px;
	text-transform: uppercase;
}

.gk-popup h3 a {
	color: #d82731;
}

.gk-popup h3 a:hover,
.gk-popup h3 a:active,
.gk-popup h3 a:focus {
	color: #363636;
}

.gk-popup h3 small {
	font-size: 16px;
}

.gk-popup #loginform  { 
   	overflow: hidden;
}

.gk-popup #loginform input[type="text"],
.gk-popup #loginform input[type="password"] {
	max-width: 95%!important;
	width: 100%!important;
}

.gk-popup p {
	margin: 0.5em 0;
}

.gk-popup .login-remember label {
	color: #777;
	font-size: 11px;
	font-weight: 400;
	line-height: 27px;
}

.gk-popup .login-remember input {
	margin-right: 1px;
}

.gk-popup .login-remember {
	margin: 10px 0 20px;
}

.gk-popup-wrap p label {
	display: inline-block;
	min-width: 80px;
}

#gk-popup-overlay {
	background: #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	height: 100%;
	left: 0;
	margin-left: 0;
	opacity: 0.45;
	top: 0;
	width: 100%;
	z-index: 1000001;
}

.gk-popup .small {
	border-top: 1px solid #e1e1e1;
	font-size: 14px;
	margin: 42px 0 0;
	padding: 16px 0 0;
}

.gk-popup .small li {
	float: left;
	font-size: 11px;
	line-height: 1.6;
	margin-right: 12px;
}

.gk-popup-wrap .gk-icon-cross {
	color: #ed6363;
	cursor: pointer;
	font-size: 26px;
	line-height: 42px;
	position: absolute;
	right: 0;
}

.gk-popup-login input[type="submit"] {
	margin: 14px 0 0 0;
}

/* Cart styling */
#gk-popup-cart .cart_list li {
	clear: both;
	color: #999;
	overflow: hidden;
	padding: 16px 0;
}

#gk-popup-cart .product_list_widget {
	padding-top: 12px;
}

#gk-popup-cart .cart_list li > div {
	margin-left: 122px;
}

#gk-popup-cart .cart_list li:last-child {
	border-bottom: 1px solid #eee;
}

#gk-popup-cart .cart_list li img {
	float: left;
	height: 70px;
	margin: 0;
	max-height: 70px;
	max-width: 70px;
	width: 70px;
}

#gk-popup-cart .cart_list li a {
    color: #d82731;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
}

#gk-popup-cart .variation {
    clear: none;
    font-size: 14px;
    margin-top: 0;
}

#gk-popup-cart .variation dt {
    display: none;
}

#gk-popup-cart .variation dd {
    clear: none;
}

#gk-popup-cart .variation dd:before {
    content: "/";
    padding: 0 5px;
}

#gk-popup-cart .variation dt:first-child + dd:before {
    display: none;
}

#gk-popup-cart .quantity {
    color: #999;
    font-size: 14px;
    font-weight: 300;
    padding: 0;
}

#gk-popup-cart .quantity .amount {
   color: #d2332b;
   font-size: 16px;
   font-style: italic;
   font-weight: 400;
}

#gk-popup-cart .total {
	border: none;
	color: #ed6363;
	float: none;
	font-size: 32px;
	font-weight: 400;
	line-height: 1.3;
	text-align: center;
}

#gk-popup-cart .total strong {
	display: none;
}

#gk-popup-cart .total span.amount {
	color: #d2332b;
	font-size: 48px;
	font-weight: 400;
	line-height: 1;
}

#gk-popup-cart .buttons {
	display: inline-block;
	margin-top: 0;
	width: 100%;
}

#gk-popup-cart .buttons a {
	text-align: center;
	float: none;
	margin-top: 15px;
}

/* 7.16. Tables
==================================== */

article section table {
	margin: 10px 0;
}

article section table th {
	background: #eee;
	padding: 0 4px;
	text-align: left;
}

article section table td {
	padding: 0 4px;
}

article section table tbody tr:nth-child(2n) {
	background: #f5f5f5;
}

article section table td span.gk-table-label {
	display: none;
}

/* 7.16. FAQ template page
==================================== */
.gk-faq p {
	margin-bottom: 3em;
}

