/**
 *
 * -------------------------------------------
 * Style1
 * -------------------------------------------
 *
 **/

/*
 *
 * 15. Style I
 *
 *
------------------------------------ */

/* 15.1. Basic colors
==================================== */

/* template.css */
a:hover,
a:active,
a:focus,
#gk-mainbody a,
#gk-mainbody header h1 a:active,
#gk-mainbody header h1 a:focus,
#gk-mainbody header h1 a:hover,
#gk-mainbody header h2 a:active,
#gk-mainbody header h2 a:focus,
#gk-mainbody header h2 a:hover,
#gk-sidebar .box a:hover,
.dark-area .box a:hover,
.dark-area .box a:active,
.dark-area .box a:focus {
	color: #d82731;
}

#footer-menu li:before,
#gk-banner-right,
.btn,
button,
.button,
.readon,
.nav-btn a,
.more-link,
a.gk-button,
input[type="button"],
input[type="submit"] {
	background-color: #d82731;
}

/* extensions.css */
.box.highlights .box-title,
.gk-nsp-highlights li {
	border-bottom-color: #e73f48;
}

.gk-nsp-arts-nav li:hover,
.gk-nsp-arts-nav li.active,
.gk-nsp-links-nav li:hover,
.gk-nsp-links-nav li.active,
.box.highlights,
.showcase .gk-nsp-category:hover,
.gk-is-wrapper-gk-game .gk-is-progress,
.bigtabs .gk-tabs-wrap > ol li.active,
.bigtabs .gk-tabs-wrap > ol li.active:hover {
	background-color: #d82731;
}

.gk-nsp-next:hover:after,
.gk-nsp-prev:hover:after { 
	color: #d82731;
}

.gk-nsp-header a:active,
.gk-nsp-header a:focus,
.gk-nsp-header a:hover,
.gk-nsp-art .gk-nsp-info a:active,
.gk-nsp-art .gk-nsp-info a:focus,
.gk-nsp-art .gk-nsp-info a:hover,
.gk-nsp-art .readon:active,
.gk-nsp-art .readon:focus,
.gk-nsp-art .readon:hover,
.box.article-inset .gk-nsp-header a:active,
.box.article-inset .gk-nsp-header a:focus,
.box.article-inset .gk-nsp-header a:hover,
.showcase .gk-nsp-header a:active,
.showcase .gk-nsp-header a:focus,
.showcase .gk-nsp-header a:hover,
.showcase-small .gk-nsp-header a:active,
.showcase-small .gk-nsp-header a:focus,
.showcase-small .gk-nsp-header a:hover,
.box.list .gk-nsp-header a:active,
.box.list .gk-nsp-header a:focus,
.box.list .gk-nsp-header a:hover,
.dark-area .gk-nsp-header a:active,
.dark-area .gk-nsp-header a:focus,
.dark-area .gk-nsp-header a:hover,
.dark-area .list .gk-nsp-header a:active,
.dark-area .list .gk-nsp-header a:focus,
.dark-area .list .gk-nsp-header a:hover,
.dark-area .gk-nsp-info > a,
.dark-area a.readon {
	color: #d82731!important;
}

.box.highlights .gk-nsp-highlights li h3:before {
	border-color: transparent transparent transparent #d82731;
}

.box.border .gk-nsp {
	border-color: #d82731;
}

.box.border .gk-nsp-art {
	border-color: #d82731;
}

.bigtabs .gk-tabs-wrap > ol li.active:after {
	border: 6px solid #d82731;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
}

/* gallery.css */
#gallery ol li:hover,
#gallery ol li.active {
	background: #d82731!important;
	border-color: #d82731!important;
}

/* stuff.css */
.gk-breadcrumbs > a:before,
.gk-breadcrumbs > span:before,
#gk-contact span.error,
.gk-format-aside:before,
.gk-format-audio:before,
.gk-format-chat:before,
.gk-format-gallery:before,
.gk-format-image:before,
.gk-format-link:before,
.gk-format-quote:before,
.gk-format-status:before,
.gk-format-video:before,
.gk-popup h3 a,
#gk-popup-cart .cart_list li a {
	color: #d82731;
}

/* wp.css */
#main-menu .sub-menu li:hover > a,
#main-menu .sub-menu li > a:active,
#main-menu .sub-menu li > a:focus,
#main-menu .sub-menu li > a:hover,
#main-menu .menu-cols-2 > .sub-menu > ul > li > a:hover,
#main-menu .menu-cols-3 > .sub-menu > ul > li > a:hover,
#main-menu .menu-cols-4 > .sub-menu > ul > li > a:hover {
	color: #d82731!important;
}

#gk-menu-overlay-close,
#gk-menu-overlay-content li a:active,
#gk-menu-overlay-content li a:focus,
#gk-menu-overlay-content li a:hover,
#comments em.awaiting-moderation {
	color: #d82731;
}

/* wp.extensions.css */
.box #wp-calendar #today {
	background-color: #d82731;
}

.box #wp-calendar td a,
.box.color1 .box-title > i,
.box.icon-color1 .box-title > i,
.box.color1 .box-title {
	color: #d82731;
}

.box.color-bg1 .box-title {
	background-color: #d82731;
}

.box.dark a:active,
.box.dark a:focus,
.box.dark a:hover,
.box.menu li:hover a {
	color: #d82731!important;
}

.box.color-bg3 .box-title {
	background-color: #f7a834;
}

/* shortcodes.elements.css */
.gk-note:before,
.gk-members > strong:first-child  {
	background-color: #d82731;
}

.gk-toggle.opened > h3:after,
.gk-toggle.closed > h3:after {
	color: #d82731;
}

/* shortcodes.typography.css */
.gk-warning,
.gk-error,
.gk-contact-error {
	background-color: #d82731;
}

pre,
pre.gk-code {
	border-left-color: #d82731;
}

.gk-numblock[data-style="style3"] span {
	color: #d82731;
	border-color: #d82731;
}

blockquote.gk-quote:before,
article ul[data-style="style2"] li:before,
#tab-description ul[data-style="style2"] li:before,
article ul[data-style="style3"] li:before,
#tab-description ul[data-style="style3"] li:before,
article ul[data-style="style4"] li:before,
#tab-description ul[data-style="style4"] li:before {
	color: #d82731;
}

.gk-nsp-videogallery .gk-small-block small {
	border-color: #d82731!important;
}

.gk-nsp-videogallery .gk-small-block small:after {
	border-color: transparent #d82731 transparent transparent!important;
}

.dark-area .gk-nsp-videogallery .gk-small-block h3 a:active,
.dark-area .gk-nsp-videogallery .gk-small-block h3 a:focus,
.dark-area .gk-nsp-videogallery .gk-small-block h3 a:hover,
.gk-nsp-videogallery .gk-big-block h3 a:active,
.gk-nsp-videogallery .gk-big-block h3 a:focus,
.gk-nsp-videogallery .gk-big-block h3 a:hover {
	color: #d82731!important;
}