/**
 *
 * -------------------------------------------
 * Small Tablet CSS file
 * -------------------------------------------
 * 
 **/
 
/*
 *
 * 12. Small Tablet code
 *
 *
------------------------------------ */
 
/* 12.1. Base elements
==================================== */ 
.gk-page {
	padding-left: 10px!important;
	padding-right: 10px!important;
}

#gk-mainbody article > header h1,
#gk-mainbody article > header h2 {
	font-size: 24px;
}

#gk-main-menu.gk-menu-overlay {
	border: 0;
}

#main-menu.gk-menu-overlay {
	height: auto;
	min-height: 21px;
}

#gk-banners > div {
	display: none;
}

#gk-banners > div:first-child {
	display: block;
	width: 100%!important;
}

#gk-menu-overlay-wrap {
	margin: -20px 0 0 -260px!important;
	max-width: 520px!important;
}

#gk-content-wrap {
	margin-top: 10px;
}

#gk-menu-overlay.open {
	margin-top: 0;
}

#gk-menu-overlay-content li {
	font-size: 20px;
}
#gk-menu-overlay-content li,
#gk-menu-overlay-content li a {
	line-height: 58px;
}

#gk-bottom1 .box.double,
#gk-bottom1 .box.double ~ .box,
#gk-bottom2 .box.double,
#gk-bottom2 .box.double ~ .box,
#gk-bottom3 .box.double,
#gk-bottom3 .box.double ~ .box {
	width: 50%!important;
}

.gk-columns[data-column-count="2"] > div,
.gk-columns[data-column-count="3"] > div,
.gk-columns[data-column-count="4"] > div {
	padding-bottom: 20px!important;
	width: 100%;
}

#gk-mainbody-columns > section {
	margin-top: 5px;
}

.gk-is-wrapper-gk-game figcaption h2 {
	font-size: 50px;
}

.gk-is-wrapper-gk-game figcaption p {
	font-size: 12px;
}

#gallery figcaption {
	padding: 15px!important;
}

#gallery figcaption h3 {
	font-size: 16px!important;
}

#gallery figcaption p,
#gallery figcaption {
	font-size: 12px!important;
}

.showcase .gk-nsp-image-wrapper:after,
.showcase-small .gk-nsp-header {
	display: none;
}

.dark-area .gk-nsp-header,
.dark-area .list .gk-nsp-header {
	font-size: 13px;
}

#footer-menu li {
	line-height: 40px;
}

#footer-menu li:before {
	top: 20px;
}

.author-info > div {
	padding: 0 0 0 105px;
}

body.admin-bar #gk-top-bar {
	top: 46px;
}
