/**
 *
 * -------------------------------------------
 * Tablet CSS file
 * -------------------------------------------
 * 
 **/
 
/*
 *
 * 11. Tablet code
 *
 *
------------------------------------ */
 
/* 11.1. Base elements
==================================== */ 

body,
.box {
	font-size: 14px;
}

small {
	font-size: 90%;
}

.gk-page {
	padding-left: 10px!important;
	padding-right: 10px!important;
}

#gk-mainbody {
	margin-bottom: 30px;
}

#gk-mainbody-columns > div {
	padding: 0 20px 0 20px;
}

#gk-banner-left .box {
	padding: 20px!important;
}

#gk-inset {
	margin-top: -10px;
	padding: 25px 15px!important;
}

#gk-mainbody-columns.has-inset > div,
#gk-mainbody-columns.gk-inset-right-side > div {
	padding-right: 0;
}

#gk-inset .box:first-child .gk-banner {
	margin: -15px -15px 20px -15px;
}

#gk-content-wrap.has-inset {
	padding-right: 25px;
}

#gk-mainbody-columns.gk-inset-left #gk-content-wrap.has-inset {
	padding-left: 25px;
	padding-right: 0;
}

#gk-content-wrap {
	margin-top: 30px;
	padding: 0;
}

/* sidebar */
#gk-mainbody-columns {
	display: block;
}

#gk-mainbody-columns > div > section,
#gk-mainbody-columns > div > aside {
	display: block;
	overflow: hidden;
	width: 100%!important;
}

/* Archive page */
.archivepage .widget.first {
	margin-right: 2%;
	margin-left: 0!important;
}

.archivepage .widget.first,
.archivepage .widget.first + .widget {
	margin-right: 0;
	margin-left: 2%;
	width: 48%;
}

.archivepage .widget.last {
	margin: 0;
	width: 100%;
}

.archivepage .widget ul {
	margin-bottom: 30px;
}

/* images fix */
#gk-mainbody img {
	height: auto!important;
	max-width: 100%!important;
}

/* column rules */
#gk-sidebar .box,
#gk-sidebar_wc .box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin-top: 0!important;
	margin-bottom: 30px!important;
	padding: 10px!important;
	width: 50%;
}
#gk-sidebar {
	padding: 0!important;
}
#gk-sidebar .box:first-child,
#gk-sidebar_wc .box:first-child {
	padding-top: 10px!important;
}
#gk-sidebar .box:nth-child(2n+1),
#gk-sidebar_wc .box:nth-child(2n+1) {
	clear: both!important;
}
.widget-area .col1 { width: 100%; }
.widget-area .col2 { width: 50%; }
.widget-area .col3 { width: 33.3%; }
.widget-area .col4 { width: 50%; }
.widget-area .col5 { width: 33.3%; }
.widget-area .col6 { width: 33.3%; }

.widget-area .box.last1 { width: 100%; }
.widget-area .box.last2 { width: 50%; }
.widget-area .box.last3 { width: 33.3%; }
.widget-area .box.last4 { width: 50%; }
.widget-area .box.last5 { width: 33.3%; }

.widget-area .nth1 {
	clear: both;
}

.widget-area .col6.last5.nth4,
.widget-area .col6.last5.nth5 {
	width: 50%;
}

.gk-columns[data-column-count="4"] > div,
.gk-columns[data-column-count="5"] > div {
	margin-bottom: 30px;
	width: 50%!important; 
}

.gk-columns[data-column-count="4"] > div:nth-child(2n+1),
.gk-columns[data-column-count="5"] > div:nth-child(2n+1) {
	clear: both;
}

.widget-area .box.double.last2 {
	width: 60%;
}

.widget-area .box.double.last2 ~ .box.last2 {
	width: 40%;
}

#gk-inset {
	padding-left: 25px;
}

body.gk-inset-left #gk-mainbody > article .content + #gk-inset {
	padding-left: 0;
	padding-right: 25px;
}

#gk-inset .box {
	padding-top: 20px;
}

#gk-inset .box.list {
	padding-top: 10px!important;
}

#gk-inset .box.clear + .box.list {
	padding-top: 0!important;
}

/* 11.2. Header elements
==================================== */
#gk-head h2.gk-page {
	font-size: 34px;
	padding: 55px 10px 25px 10px;
}

/* 11.3. Demo and other elements
==================================== */

#form-wysija-2 > p {
	width: 67%;
}

.box #searchform:after {
	right: 25px;
	top: 15px;
}

.gk-banner > a > img {
	width: 100%;
}

/* Tabs */
.bigtabs .gk-tabs-item {
	padding: 20px;
}

/* IS */
.gk-is-wrapper-gk-game figcaption h2 {
	font-size: 70px;
	text-indent: 0;
}
.gk-is-wrapper-gk-game figcaption p {
	font-size: 17px;
	line-height: 18px;
}
.gk-is-wrapper-gk-game  figcaption > div {
	margin: 10% 0 0 0;
}

/* NSP */
.showcase .gk-nsp-header,
.showcase-small .gk-nsp-header {
	font-size: 15px!important;
	padding: 0 5px 5px 5px!important;
}
.showcase .gk-nsp-image-wrapper:after {
	border: 2px solid #fff;
	font-size: 20px;
	line-height: 40px;
	margin: -20px 0 0 -20px;
	text-indent: 18px;
	width: 40px;
	z-index: 2;
}
.box.border .gk-nsp-art {
	padding: 8px!important;
}
.box.border .gk-nsp-header {
	font-size: 13px;
}
.box.border .gk-nsp-art .gk-nsp-info,
.box.border .gk-nsp-art .gk-nsp-info > span,
.box.border .gk-nsp-art .gk-nsp-info > a {
	font-size: 9px;
}
.box.highlights .gk-nsp-highlights li {
	padding: 8px;
}
.box.highlights .gk-nsp-highlights li:before,
.box.highlights .gk-nsp-highlights li:after,
.box.highlights .gk-nsp-highlights li h3:before {
	display: none;
}
.box.highlights .gk-nsp-highlights h3 {
	font-size: 12px;
}
.box.highlights .gk-nsp-highlights p {
	font-size: 10px;
	margin-top: 2px;
}
.box.highlights .gk-nsp-highlights + a {
	line-height: 40px;
}

/* 11.4. Main menu elements
==================================== */ 

#gk-top-bar.gk-menu-overlay #main-menu > li > a {
	padding: 0 8px;
}

#gk-top-bar.gk-menu-overlay #main-menu > li.haschild:after {
	display: none;
}

#main-menu,
#gk-main-menu {
	display: none;
}

#gk-top-bar.gk-menu-overlay #main-menu,
#gk-top-bar.gk-menu-overlay #gk-main-menu {
	float: right;
	display: block!important;
}

#main-menu-mobile {
	color: #fff;
	display: block!important;
	float: right;
	font-size: 24px;
	height: 44px;
	line-height: 44px;
	margin: 6px 5px 0 0!important;
	overflow: hidden;
	padding: 0 10px;
	position: relative;
	width: 19px;
}

#main-menu-mobile i {
	margin-right: -14px;
}

#main-menu-mobile > select {
	border: none;	
	display: block;
	width: 44px!important;
	height: 44px!important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	padding: 6px!important;
	position: absolute!important;
	right: 4px;
	font-size: 14px;
	top: 0;
}

body[data-mobile="true"] #main-menu-mobile > select {
	font-size: 50px;
}

/* 11.5. Footer
==================================== */ 
#gk-footer .gk-copyrights {
	margin: 20px 10px;
}


/* 11.6. Device classes
==================================== */

.onlyDesktop {
	display: none!important;
}

.onlyTablets {
	display: block!important;
}

.onlySmartphones {
	display: none!important;
}

.onlyTabltetsAndSmartphones {
	display: block!important;
}

/* 11.7. Responsive tables
==================================== */

@media (max-width: 600px) {
	article section table {
		border: 1px solid #eee;
		border-bottom: none;
		max-width: 100%!important;
		width: 100%!important;
	}
	
	article section table thead {
		display: none;
	}
	
	article section table td {
		border-top: 1px solid #eee;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		clear: both;
		display: block;
		float: right;
		padding: 5px 0 5px 50%;
		position: relative;
		width: 100%;
	}
	
	article section table td:first-child {
		border-top: none;
	}
	
	article section table tbody tr {
		border-bottom: 2px solid #eee;
	}
	
	article section table td span.gk-table-label {
		display: block;
		font-size: 95%;
		font-weight: 500;
		left: 5px;
		position: absolute;
	}
}