/**
 *
 * -------------------------------------------
 * Basic template CSS file
 * -------------------------------------------
 *
 **/
 
/*
 *
 * 1. Global elements
 *
 *
------------------------------------ */
 
/* 1.1. Base document elements
==================================== */

* {
	outline: none!important;
}

html {
	-webkit-font-smoothing: subpixel-antialiased;
}

body { 
	background: #000;
	color: #555;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.6;
	margin: 0;
	min-height: 100%;
	padding: 0;
	-ms-word-wrap: break-word;
		word-wrap: break-word;
}

body[data-mobile="true"] #main-menu-mobile select {
    font-size: 50px;
}

#gk-bg {
	background: #eee url('../images/header_bg.jpg') no-repeat center 0;
	background-size: 2400px 900px;
	overflow: hidden;
}

body.no-bg #gk-bg {
	background-image: none;
}

/* 1.2. Base typography elements
==================================== */

a,
#gk-mainbody a:active,
#gk-mainbody a:focus,
#gk-mainbody a:hover,
#gk-mainbody header h1 a,
#gk-mainbody header h2 a {
	color: #000;
	-webkit-transition: color 0.2s linear;
	   -moz-transition: color 0.2s linear;
	     -o-transition: color 0.2s linear;
	        transition: color 0.2s linear;
	text-decoration: none;
}

a:hover,
a:active,
a:focus,
#gk-mainbody a,
#gk-mainbody header h1 a:active,
#gk-mainbody header h1 a:focus,
#gk-mainbody header h1 a:hover,
#gk-mainbody header h2 a:active,
#gk-mainbody header h2 a:focus,
#gk-mainbody header h2 a:hover,
#gk-sidebar .box a:hover,
.dark-area .box a:hover,
.dark-area .box a:active,
.dark-area .box a:focus {
	color: #d82731;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000;
	font-weight: 400;
	line-height: 1.2;
	margin: 0;
	padding: 0;
	text-transform: uppercase
}

h1 {
	font-size: 44px;
	font-weight: 500;
}

h2,
.page-title {
	font-size: 42px;
	font-weight: 300;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 17px;
}

h6 {
	font-size: 13px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ol {
	margin: 0;
	padding: 0;
}

ul li,
ol li {
	line-height: 2.0;
}

p {
	margin: 1em 0 2em;
}

img {
	height: auto;
	max-width: 100%;
}

.box ul ul,
.box ol ol {
	border-top: 1px solid #eee;
	margin: 0;
	padding: 0 0 0 20px;
}

/* 1.3. Base form elements
==================================== */

/* buttons */
.btn,
button,
.button,
.readon,
.nav-btn a,
.more-link,
a.gk-button,
input[type="button"],
input[type="submit"] {
	-webkit-appearance: none;
	background: #d82731;
	border: none;
	color: #fff !important;
	cursor: pointer;
	display: block;
	float: left;
	height: 38px;
	line-height: 39px;
	margin: 0 5px 2px 2px;
	padding: 0 24px;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.3s ease-out 0s;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled],
.button:active,
.button:focus,
.button:hover,
.nav-btn a:active,
.nav-btn a:focus,
.nav-btn a:hover,
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
button:active,
input[type="button"]:active,
input[type="submit"]:active,
button.disabled,
input[type="button"].disabled,
input[type="submit"].disabled,
a.gk-button:hover,
a.gk-button:active,
a.gk-button.active,
a.gk-button.disabled,
a.gk-button[disabled],
button:focus,
a.gk-button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
.more-link:active,
.more-link:focus,
.more-link:hover,
.gk-button,
a.gk-button,
.btn.invert {
 	background: #18191b;
 	color: #fff!important;
}

.btn.invert:hover,
.btn.invert:active,
.btn.invert.active,
.gk-button:active,
.gk-button:focus,
.gk-button:hover,
a.gk-button:active,
a.gk-button:focus,
a.gk-button:hover {
	border-color: #444;
	color: #444!important;
}

/* input fields */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="www"],
input[type="tel"],
textarea,
select  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	border-color: #bcbcbc #dadada #e5e5e5;
	border-style: solid;
	border-width: 1px;
	color: #777;
	padding: 12px 20px;
	max-width: 100%!important;
}

textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	height: auto;
	max-width: 100%!important;
	padding: 24px
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
	background: #fffef4;
}

label {
	display: inline-block;
	color: #111;
    font-size: 14px;
    font-weight: 500;
    padding: 0 6px 0 0;
}

select {
	height: inherit;
	max-width: 100%;
	margin-left: 1px;
	padding: 6px
}

/* 1.4. Base other elements
==================================== */

article {
	margin: 0;
}

.tag-page article,
.category-page article,
.search-page article,
.archive article,
.page-template-template-latest-php article,
.home #gk-mainbody article {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 36px;
	margin: 0 0 36px 0;
}

.tag-page article .summary,
.category-page article .summary,
.search-page article .summary,
.archive article .summary,
.page-template-template-latest-php article .summary,
.home #gk-mainbody article .summary {
	margin: 0;
	padding: 0;
}

.tag-page article .summary a,
.category-page article .summary a,
.search-page article .summary a,
.archive article .summary a,
.page-template-template-latest-php article .summary a,
.home #gk-mainbody article .summary a {
	display: inline-block;
	float: none;
	margin: 24px 0 0;
}

.page-template-template-latest-php article:first-child {
	border-top: 0;
	padding-top: 0;
}

#gk-mainbody article:last-child {
	border-bottom: 0;
}

.tag-page > hr,
.search-page > hr {
	border: none;
}

#gk-mainbody {
	margin-bottom: 20px;
}

.home #gk-mainbody {
	margin: 0;
}

/* archive, latest, tag page post layout */
.tag-page article.has-featured-image figure.featured-image,
.category-page article.has-featured-image figure.featured-image,
.search-page article.has-featured-image figure.featured-image,
.archive article.has-featured-image figure.featured-image,
.page-template-template-latest-php article.has-featured-image figure.featured-image, 
.home #gk-mainbody article.has-featured-image figure.featured-image {
	float: left;
	margin-bottom: 10px;
	width: 22.6%;
}

.tag-page #gk-mainbody article.has-featured-image > header,
.category-page #gk-mainbody article.has-featured-image > header,
.search-page article.has-featured-image > header,
.archive #gk-mainbody article.has-featured-image > header,
.page-template-template-latest-php #gk-mainbody article.has-featured-image > header, 
.home #gk-mainbody article.has-featured-image > header {
	float: right;
	width: 72.7%!important;
}

.tag-page article.has-featured-image .summary,
.category-page article.has-featured-image .summary,
.search-page article.has-featured-image .summary,
.archive article.has-featured-image .summary,
.page-template-template-latest-php article.has-featured-image .summary,
.home #gk-mainbody article.has-featured-image .summary,
.archive article.has-featured-image .gk-meta-post,
.page-template-template-latest-php article.has-featured-image .gk-meta-post,
.home article.has-featured-image .gk-meta-post,
.search-page article.has-featured-image .gk-meta-post {
	float: right;
	width: 72.7%;
}

.tag-page #gk-mainbody article > header h2,
.category-page #gk-mainbody article > header h2,
.search-page article > header h2,
.archive #gk-mainbody article > header h2,
.page-template-template-latest-php #gk-mainbody article > header h2,
.home #gk-mainbody article > header h2 {
	font-size: 20px!important;
	font-weight: 600!important;
}

.tag-page #gk-mainbody article > header,
.category-page #gk-mainbody article > header,
.search-page article > header,
.archive #gk-mainbody article > header,
.page-template-template-latest-php #gk-mainbody article > header,
.home #gk-mainbody article > header {
	margin: 0!important;
}

.tag-page article .featured-image sup,
.category-page article .featured-image sup,
.search-page article .featured-image sup,
.archive article .featured-image sup,
.page-template-template-latest-php article .featured-image sup,
.home #gk-mainbody article .featured-image sup {
	display: none;
}

.tag-page i.gk-comments,
.category-page i.gk-comments,
.search-page i.gk-comments,
.archive i.gk-comments,
.page-template-template-latest-php i.gk-comments,
.home #gk-mainbody i.gk-comments {
	color: #bcbcbc;
	font-size: 14px;
	padding-right: 7px;
}

.tag-page .gk-meta-post li,
.category-page .gk-meta-post li,
.search-page .gk-meta-post li,
.archive .gk-meta-post li,
.page-template-template-latest-php .gk-meta-post li,
.home #gk-mainbody .gk-meta-post li {
	font-size: 13px;
}

.tag-page .gk-meta-post li a,
.category-page .gk-meta-post li a,
.search-page .gk-meta-post li a,
.archive .gk-meta-post li a,
.page-template-template-latest-php .gk-meta-post li a,
.home #gk-mainbody .gk-meta-post li a {
	color: #999 !important;
}

.tag-page .gk-meta-post li.format:before,
.category-page .gk-meta-post li.format:before,
.search-page .gk-meta-post li.format:before,
.archive .gk-meta-post li.format:before,
.page-template-template-latest-php .gk-meta-post li.format:before,
.home #gk-mainbody .gk-meta-post li.format:before {
	font-size: 13px;
	color: #999;
	line-height: 2.3;
}

.tag-page .gk-meta-post li a:hover,
.category-page .gk-meta-post li a:hover,
.search-page .gk-meta-post li a:hover,
.archive .gk-meta-post li a:hover,
.page-template-template-latest-php .gk-meta-post li a:hover,
.home #gk-mainbody .gk-meta-post li a:hover {
	color: #000!important;
}

.page-template-template-latest-php #gk-mainbody,
.archive #gk-mainbody {
	margin-top: 16px;
}

.page-template-template-latest-php .gk-meta-post li,
.archive .gk-meta-post li,
.home .gk-meta-post li {
	color: #555;
}

.archive article.has-featured-image .summary > p,
.page-template-template-latest-php article.has-featured-image .summary > p,
.home #gk-mainbody article.has-featured-image .summary > p {
	margin: 10px 0 20px;
}

/* 1.5. Base CSS classes
==================================== */


/*
 *
 * 2. Template containers
 *
 *
------------------------------------ */

.gk-page-wrap:first-child {
	margin-top: 126px;
}

.gk-page-wrap {
	/*position: relative;*/
	width: 100%;
	/*z-index: 20;*/
}

.gk-page-wrap + #gk-footer {
	margin-top: 20px;
}

.gk-page {
	margin: 0 auto;
	width: 100%; 
}

#gk-mainbody-columns {
	background: #fff;
	display: block;
	overflow: hidden;
	min-height: 800px;
	width: 100%;
}

#gk-mainbody-columns.has-inset {
	min-height: inherit;
}

#gk-mainbody-columns > div > section {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	float: left;
	padding: 0;
}

#gk-mainbody-columns > div {
	padding: 35px 45px 0 45px;
}

#gk-mainbody-columns > div > aside,
#gk-article-inset,
#gk-inset {
	background: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	float: left;
	padding: 0 0 0 45px;
}

#gk-mainbody-columns.gk-inset-left > div {
	padding-left: 0;
}

#gk-mainbody-columns.gk-inset-left.gk-column-left > div {
	padding-left: 45px;
}

#gk-mainbody-columns.gk-column-left.has-inset > div,
#gk-mainbody-columns.gk-inset-right-side > div {
	padding-right: 0;
}

#gk-inset {
	padding-left: 35px;
}

#gk-content-wrap {
	float: left;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
}

#gk-content-wrap.has-inset {
	padding-right: 45px;
}

#gk-mainbody-columns.gk-column-left > div > section,
#gk-mainbody-columns.gk-inset-left #gk-content-wrap,
body.gk-inset-left #gk-mainbody > article .content {
	float: right;
} 

#gk-mainbody-columns.gk-inset-left #gk-content-wrap.has-inset {
	padding-left: 45px;
	padding-right: 0;
}

#gk-mainbody-columns.gk-column-left > div > aside,
#gk-mainbody-columns.gk-inset-left #gk-inset {
	float: left;
	padding: 0 45px 0 0;
}

#gk-mainbody-columns.gk-inset-left #gk-inset {
	padding-right: 35px;
}

#gk-mainbody > article .content {
	float: left;
	margin: 0 0 10px;
	padding: 24px 0 16px;
}

body.gk-inset-left #gk-mainbody > article .content {
	float: right;
}

body.gk-inset-left #gk-mainbody > article .content + #gk-article-inset {
	float: left;
	padding-left: 0;
	padding-right: 45px;
}

#gk-inset {
	background: #18191b;
	float: right;
	margin-top: -35px;
	padding: 35px 30px!important;
}

#gk-head h2.gk-page {
	color: #fff;
	font-size: 44px;
	letter-spacing: -1.5px;
	padding: 75px 0 35px 0;
	text-transform: none;
}
#gk-head h2.gk-page a {
	color: #fff;
}

/*
 *
 * 3. Template structure
 *
 *
------------------------------------ */
 
/* 3.1. Top
==================================== */

#gk-top {
	overflow: hidden;
	padding: 24px 14px;
}

#gk-top-bar.active {
	margin-top: 0;
}

#gk-top-bar.active > div {
	top: 0;
}

#gk-top-bar {
	background: #1e1e1e; 
	color: #fff;
	line-height: 58px;
	min-height: 58px;
	position: fixed;
	top: 0;
	-webkit-transition: all .35s linear;
	-moz-transition: all .35s linear;
	-ms-transition: all .35s linear;
	-o-transition: all .35s linear;
	transition: all .35s linear;
	width: 100%;
	z-index: 110;
}

body.admin-bar #gk-top-bar {
	top: 32px;
}

#gk-top-bar.gk-menu-overlay {
	position: static;
}

#gk-top-bar.gk-menu-overlay + #gk-bg > #gk-head {
	margin-top: 0;
}

#gk-top-bar > div {
	position: relative;
	-webkit-transition: all .35s linear;
	-moz-transition: all .35s linear;
	-ms-transition: all .35s linear;
	-o-transition: all .35s linear;
	transition: all .35s linear;
}

#gk-top-bar .box {
	padding: 0;
}


/* 3.2. Header
==================================== */

/* Header */
#gk-head {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin: 58px 0 0 0;
}

#gk-header-bottom .box {
	padding: 0;
}

#gk-head .box{
	margin: 0;
	padding: 0;
}

#gk-head:after,
#gk-head > div:after,
#gk-breadcrumb-area:after,
#gk-bottom1:after,
#gk-bottom2:after,
#gk-bottom3:after,
#gk-top-bar:after,
#gk-header-bottom:after {
	clear: both;
	content: "";
	display: table;
}

/* Logo */
#gk-header-nav h1 {
    float: left;
}

a.cssLogo {
	height: 100px;
	margin: 0;
	padding: 0;
	text-indent: -999em;
	text-shadow: none;
	width: 159px;
	display: inline-block;
}

a.cssLogo {
	background: transparent url('../images/style1/logo.png') no-repeat 0 0;
	/* You can specify there logo size and background */
	height: 58px;
	width: 85px;
}

a.textLogo {
	color: #fff!important;
	display: block;
	font-size: 30px;
	float: left;
	line-height: 46px;
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	text-indent: 0;
	width: auto;
}

a.textLogo small {
	color: #e5e5e5;
	display: block;
	font-size: 10px;
	height: 10px;
	line-height: 4px;
}

#gk-login {
	float: right;
	color: #fff;
	text-transform: uppercase;
	margin-left: 32px;
	font-size: 13px;
}

#gk-banners {
	background: transparent!important;
	display: table;
	margin-top: 30px;
	padding: 0!important;
}
#gk-banner-left {
	background: #18191b;
}
#gk-banner-left .box {
	padding: 45px!important;
}
#gk-banner-left .box.transparent {
	padding: 0!important;
}
#gk-banner-right {
	background: #d82731;
}

#gk-banners .box-title {
	color: #fff;
}

#gk-banners > div > div:first-child {
	margin-top: -80px;
}

#gk-banners,
#gk-banners + div {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;
	clear: both;
}

#gk-banner-left,
#gk-banner-right {
	display: table-cell;
	float: none;
	vertical-align: top;
}
#gk-banners .box {
	margin: 0;
}

#gk-header-bottom {
	background: #000!important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	clear: both;
	padding: 35px 45px 0 45px;
	width: 100%;
}

#banner-left .box {
	width: 100%;
}

/* 3.3. Content
==================================== */

section.intro {
	font-size: 110%;
	padding: 0;
}

.box::after,
article::after,
#respond::after,
#gk-top1::after,
#gk-top2::after,
#gk-top1 > div::after,
#gk-top2 > div::after,
#gk-bottom1::after,
#gk-bottom2::after,
#gk-bottom3::after,
#gk-mainbody::after,
#gk-mainbody-columns::after,
#gk-bottom1 > div:after, 
#gk-bottom2 > div:after, 
#gk-bottom3 > div:after,
#gk-banners:after {
    clear: both;
    content: "";
    display: table;
}

section.content::after {
    clear: both;
    content: "";
    display: table;
}

#gk-mainbody-top {
	padding: 0 0 10px 0;
}

#gk-mainbody + #gk-mainbody-bottom {
	margin-top: 0;
	padding-top: 10px;
}

#gk-mainbody strong,
#gk-mainbody b {
	font-weight: 400;
	color: #111;
}

/* 3.4. Sidebar
==================================== */
#gk-sidebar .box {
	margin: 0 0 42px;
}

#gk-sidebar_wc .box {
	padding: 0;
	margin: 0 0 52px;
}

/* 3.5. Bottom
==================================== */
#gk-bottom1 {
	margin-top: 32px;
	margin-bottom: 32px;
}

#gk-bottom2,
#gk-bottom3 {
	font-size: 12px;
	margin: 80px auto 60px auto;
}

#gk-bottom2.box,
#gk-bottom3.box {
	color: #555;
}

#gk-bottom2 .box,
#gk-bottom2 .box h3,
#gk-bottom3 .box,
#gk-bottom3 .box h3 {
	font-size: 12px;
}
#gk-bottom2 .box h3,
#gk-bottom3 .box h3,
#gk-bottom2 .box .box-title,
#gk-bottom3 .box .box-title {
	color: #ccc;
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
	margin: 0 0 20px 0;
}
#gk-bottom2 .box li,
#gk-bottom3 .box li {
	border: none;
	padding: 4px 0;
}
#gk-bottom2 .box a,
#gk-bottom3 .box a {
	color: #555;
}
#gk-bottom2 .box a:active,
#gk-bottom2 .box a:focus,
#gk-bottom2 .box a:hover
#gk-bottom3 .box a:active,
#gk-bottom3 .box a:focus,
#gk-bottom3 .box a:hover {
	color: #aaa;
}


/* 3.6. Footer
==================================== */

#gk-footer {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		 -o-box-sizing: border-box;
			box-sizing: border-box;
	color: #505050;
	font-size: 12px;
	line-height: 16px;
	padding: 0;
}

#gk-footer > div {
	padding: 0; 
}

#gk-footer a {
	color: #555; 
}

#gk-footer a:active,
#gk-footer a:focus,
#gk-footer a:hover {
	color: #aaa;
}

#footer-menu {
	border: 1px solid #222327;
	border-left: none;
	border-right: none;
}

#footer-menu li {
	border: none;
	display: inline-block;
	float: none;
	line-height: 67px;
	margin: 0 16px;
	margin-right: 13px;
	padding: 0;
}

#footer-menu li:first-child {
	margin-left: 0;
}

#footer-menu li:before {
	background: #d82731;
	content: "";
	display: block;
	height: 2px;
	left: -16px;
	position: relative;
	top: 34px;
	width: 2px;
}

#footer-menu li:first-child:before {
	display: none;
}

#gk-footer .gk-copyrights {
	color: #555;
	line-height: 1.2;
	margin: 36px 0;
}

#gk-footer .gk-copyrights a {
	color: #ccc;
}

#gk-footer .gk-copyrights a:active,
#gk-footer .gk-copyrights a:focus,
#gk-footer .gk-copyrights a:hover {
	color: #888;
}

#gk-footer .gk-framework-logo {
	clear: both;
	display: block;
	margin: 0 auto!important;
	padding: 32px 0 16px 0!important;
}

/* Style switcher */
#gk-style-area {
	clear: both;
	display: block;
	line-height: 10px;
	margin: 20px 0 40px 0;
	padding: 10px 0 11px 0;
	text-align: center;
}

#gk-style-area a {
	border-radius: 50%;
	display: inline-block;
	height: 10px;
	margin: 15px 0 0 5px;
	text-indent: -9999px;
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-ms-transform: scale(1.0);
	-o-transform: scale(1.0);
	transform: scale(1.0);
	-webkit-transition: -webkit-transform 0.2s ease-out;
	-moz-transition: -moz-transform 0.2s ease-out;
	-o-transition: -o-transform 0.2s ease-out;
	transition: transform 0.2s ease-out;
	width: 10px;
}

#gk-style-area a:first-child {
	margin-left: 0;
}

#gk-style-area a:hover {
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-ms-transform: scale(1.25);
	-o-transform: scale(1.25);
	transform: scale(1.25);
}

#gk-color1 {
	background: #d82731;
}

#gk-color2 {
	background: #6699ff;
}

#gk-color3 {
	background: #f49333;
}

#gk-color4 {
	background: #548c07;
}

#gk-color5 {
	background: #0c77cc;
}

#gk-color6 {
	background: #94a4a5;
}

/*
 *
 * 4. Widget styles
 *
 *
------------------------------------ */
 
/* 4.1. Base style
==================================== */

.box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 10px;
}

/* 4.2. Base style for other areas
==================================== */
#gk-top1,
#gk-top2,
#gk-bottom1 > div,
#gk-bottom2 > div {
	margin: 0 -10px;
}

#gk-top1 + #gk-breadcrumb-area,
#gk-top2 + #gk-breadcrumb-area {
	border-top: 1px solid #e5e5e5;
	margin-top: 0;
	padding-top: 14px;
}

#gk-top1 .box,
#gk-top2 .box,
#gk-bottom1 .box,
#gk-bottom2 .box,
#gk-bottom3 .box {
	float: left;
}

#gk-mainbody-top .box,
#gk-mainbody-bottom .box {
	padding: 20px 0;
}

.widget-area .col1 { width: 100%; }
.widget-area .col2 { width: 50%; }
.widget-area .col3 { width: 33.3%; }
.widget-area .col4 { width: 25%; }
.widget-area .col5 { width: 20%; }
.widget-area .col6 { width: 16.6%; }

.widget-area .box.last1 { width: 100%; }
.widget-area .box.last2 { width: 50%; }
.widget-area .box.last3 { width: 33.3%; }
.widget-area .box.last4 { width: 25%; }
.widget-area .box.last5 { width: 20%; }

.widget-area .box.double.last2 {
	width: 80%;
}

.widget-area .box.double.last2 ~ .box.last2 {
	width: 20%;
}

.widget-area .nth1 {
	clear: both;
}

#gk-bottom6 .gk-columns {
	margin: 0;
}

/* 4.3. Device classes
==================================== */

.onlyDesktop {
	display: block!important;
}

.onlyTablets {
	display: none!important;
}

.onlySmartphones {
	display: none!important;
}

.onlyTabltetsAndSmartphones {
	display: none!important;
}

div#gk-mainbody-columns {
    position: relative;
    z-index: 20;
}