/**
 *
 * -------------------------------------------
 * Template CSS file
 * -------------------------------------------
 * 
 **/
 
/*
 *
 * 5. Wordpress elements styling
 *
 *
------------------------------------ */
 
/* 5.1. Main menu
==================================== */ 

#main-menu-mobile {
	display: none!important;
}

body[data-mobile="true"] #main-menu-mobile select {
	font-size: 50px;
}

#gk-main-menu {
	float: right;
	margin: 0 auto;
	padding: 0;
}

.gk-menu-wrap {
	display: block;
	margin: 0;
	position: relative;
}

#gk-main-menu:after {
	clear: both;
	content: "";
	display: table;
}
 
#main-menu {
	height: 58px;
	margin: 0;
	padding: 0;
}

#main-menu {
	margin-top: 0;
}

#main-menu > li {
	display: block;
	float: left;
	font-size: 12px;
	font-weight: 700;
	height: 58px;
	line-height: 58px;
	position: relative;
	text-transform: uppercase;
	width: auto;
}

#main-menu > li.haschild:after {
	color: #ababab;
	content: "\f107";
	font-family: FontAwesome, sans-serif;
	position: absolute;
	right: 16px;
	top: -1px;
}

#main-menu > li > a {
	color: #ababab;
	display: block;
	height: 58px;
	line-height: 58px;
	padding: 0 18px;
}

#main-menu > li.haschild > a {
	padding-right: 32px;
}

#main-menu > li.current-menu-item,
#main-menu > li.current_page_item,
#main-menu > li:hover,
#main-menu > li a:hover,
#main-menu > li.active > a,
#main-menu > li.current-menu-item > a,
#main-menu > li.current_page_item > a,
#main-menu > li.current-menu-ancestor > a, 
#main-menu > li.current-menu-parent > a  {
	color: #fff;
}

/* Submenu */
#main-menu .sub-menu {
	background: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #eee;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	left: -999em;
	padding-top: 15px;
	position: absolute;
	margin-top: 0;
	text-transform: none;
	width: 170px;
	z-index: 999;
}

#main-menu .sub-menu ul {
	padding-bottom: 12px;
}

#main-menu li:hover .sub-menu {
	left: auto;
}

#main-menu .sub-menu li {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 12px;
	font-weight: 300;
	line-height: 1;
	margin: 0;
	padding: 0 20px;
	text-align: left; 
}

#main-menu .sub-menu li:hover > a {
	-webkit-transition: color .2s ease-out;
	-moz-transition: color .2s ease-out;
	-ms-transition: color .2s ease-out;
	-o-transition: color .2s ease-out;
	transition: color .2s ease-out;
}

#main-menu .sub-menu a {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #777;
	display: block;
	padding: 7px 0;
}

#main-menu .sub-menu li:hover > a,
#main-menu .sub-menu li > a:active,
#main-menu .sub-menu li > a:focus,
#main-menu .sub-menu li > a:hover {
	color: #d82731!important;
	text-decoration: none;
}

#main-menu .sub-menu .sub-menu {
	left: -9999px!important;
	margin-left: 120px;
	margin-top: -37px!important;
}

#main-menu .sub-menu li:hover .sub-menu {
	left: auto!important;
}

/* Menu columns */
.menu-cols-2 > .sub-menu,
.menu-cols-3 > .sub-menu,
.menu-cols-4 > .sub-menu {
	padding-top: 0!important;
}
.menu-cols-2 > .sub-menu {
	width: 340px!important;
}
.menu-cols-3 > .sub-menu {
	width: 510px!important;
}
.menu-cols-4 > .sub-menu {
	width: 680px!important;
}
.menu-cols-2 > .sub-menu > ul,
.menu-cols-3 > .sub-menu > ul,
.menu-cols-4 > .sub-menu > ul {
	display: table;
	padding-bottom: 0!important;
	width: 100%;
}
.menu-cols-2 > .sub-menu > ul > li,
.menu-cols-3 > .sub-menu > ul > li,
.menu-cols-4 > .sub-menu > ul > li {
	border-left: 1px solid #eee;
	display: table-cell;
	padding-bottom: 10px!important;
	padding-top: 14px!important;
	width: 50%;
}
.menu-cols-2 > .sub-menu > ul > li:first-child,
.menu-cols-3 > .sub-menu > ul > li:first-child,
.menu-cols-4 > .sub-menu > ul > li:first-child {
	border-left: none;
}
.menu-cols-3 > .sub-menu > ul > li {
	width: 33.333333%;
}
.menu-cols-4 > .sub-menu > ul > li {
	width: 25%;
}
#main-menu .menu-cols-2 > .sub-menu > ul > li > a,
#main-menu .menu-cols-3 > .sub-menu > ul > li > a,
#main-menu .menu-cols-4 > .sub-menu > ul > li > a {
	color: #444!important;
	font-size: 13px;
	font-weight: bold;
	padding: 7px 0;
	text-transform: uppercase;
}

#main-menu .menu-cols-2 > .sub-menu > ul > li > a:hover,
#main-menu .menu-cols-3 > .sub-menu > ul > li > a:hover,
#main-menu .menu-cols-4 > .sub-menu > ul > li > a:hover {
	color: #d82731!important;
}

#main-menu .menu-cols-2 > .sub-menu > ul > li > .sub-menu,
#main-menu .menu-cols-3 > .sub-menu > ul > li > .sub-menu,
#main-menu .menu-cols-4 > .sub-menu > ul > li > .sub-menu {
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	display: block!important;
	height: auto!important;
	left: 0!important;
	margin: 0 -20px!important;
	opacity: 1!important;
	position: static!important;
	width: auto!important;
}

/* Menu Overlay type */
#main-menu.gk-menu-overlay .sub-menu {
	display: none!important;
}

#gk-menu-overlay {
	background: #fff;
	background: rgba(255, 255, 255, 0.99);
	display: none;
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-ms-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
	width: 100%;
}

#gk-menu-overlay.open {
	display: block;
    min-height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
}

#gk-menu-overlay-wrap {
	left: 50%;
	margin: 0 0 0 -482px;
	max-width: 964px;
	position: absolute;
	top: -25px;
	width: 100%;
	z-index: 1000002;
}

#gk-menu-overlay-wrap > div {
	padding: 0;
	width: 100%;
}

#gk-menu-overlay-header {
	color: #111;
    font-size: 60px;
    font-weight: bold;
    line-height: 140px;
    margin: 0;
    text-align: center;
    text-transform: none;
}

#gk-menu-overlay-close {
	color: #d82731;
	cursor: pointer;
	font-size: 36px;
	font-style: normal;
	line-height: 140px;
	padding-right: 8px;
	position: absolute;
	right: 0;
}

#gk-menu-overlay-content {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 140px;
}

#gk-menu-overlay-content li {
	border-top: 1px solid #e5e5e5;
	font-size: 22px;
	line-height: 60px;
	text-align: center;
}

#gk-menu-overlay-content li li {
	font-size: 17px;
}

#gk-menu-overlay-content li a {
	color: #777;
	display: inline-block;
	line-height: 60px;
}

#gk-menu-overlay-content li a:active,
#gk-menu-overlay-content li a:focus,
#gk-menu-overlay-content li a:hover {
	color: #d82731;
}

/* 5.2. Comments
==================================== */

#comments.nocomments {
	border-top: none;
}

#commentform p {
	margin-bottom: 0;
	margin-top: 0;
}

#comments {
	border-top: 1px solid #e5e5e5;
	margin-top: 50px;
}

#comments > h2:first-child {
	color: #444;
	font-size: 30px;
	font-weight: normal;
	line-height: 32px;
	margin: 0;
	padding: 52px 0 0;
	text-transform: uppercase;
}

#comments > nav {
	margin: 12px 0;
	overflow: hidden;
}

#comments > nav .nav-prev {
	float: left;
}

#comments > nav .nav-next {
	float: right;
}

#comments > ol {
	list-style-type: none;
	margin-bottom: 30px;
	padding: 0;
}

#comments ol.children {
	list-style-type: none;
	margin-left: 5%;
	padding: 0;
}

#comments li {
	border: none;
	margin: 0;
	padding: 0;
}

#comments li:before {
	display: none;
}

#comments li article {
	border-top: 1px solid #e5e5e5;
	padding: 26px 12px 16px 12px;
	position: relative;
}

#comments li:first-child article {
	border-top: 0;
}

#comments li article > aside {
	left: 12px;
	position: absolute;
	top: 20px;
}

#comments li article > aside img {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin: 30px 0 0;
}

#comments li article > .content {
	margin: 0 0 0 92px;
	padding: 10px;
}

#comments li article > .content p {
	margin: 1em 0;
}

#comments article header span {
	color: #999;
	font-size: 15px;
	font-weight: 300;
	line-height: 2.0;
	margin: 0 12px 0 0;
}

#comments article time {
	color: #999;
	font-size: 15px;
	font-weight: 300;
}

#comments article .author {
	color: #111;
	font-weight: 500;
}

#comments article header {
	line-height: 1.0;
	margin: 5px 0 15px;
}

#comments article header .edit-link,
#comments article header .reply {
	float: right;
	margin-left: 10px;
}

#comments em.awaiting-moderation {
	color: #d82731;
	display: block;
	font-size: 14px;
	margin: 0 0 12px 0;
	text-align: center;
}

#comments .bypostauthor {}

/* Comments typography */
#comments li article abbr[title],
#comments li article acronym[title] {
	border-bottom: 1px dotted;
}

#comments li article code {
	background: #fafafa;
	border-left: 4px solid #eee;
	display: block;
	margin: 10px 0;
	padding: 10px 20px; 
	white-space: pre;
}

#comments li article blockquote {
	background: #fafafa;
	border: 2px solid #eee;
	border-left: none;
	border-right: none;
	display: block;
	margin: 10px 0;
	padding: 10px; 
	position: relative;
}

#comments li article blockquote p {
	margin: 0;
}

#comments li article q {
	color: #888;
	font-weight: bold;
}

#comments li article strike {
	text-decoration: line-through;
}

#comments li article del {
	color: #aaa;
	text-decoration: line-through;
}

/* Comment form */
#respond {
	border-top: 1px solid #e5e5e5;
	padding: 24px 0 22px;
}

#respond label {
	padding: 12px 0 10px;
}

#respond > h3 {
	color: #444;
	line-height: 32px;
	margin: 0;
	padding: 40px 0 0;
	text-transform: uppercase;
}

#respond p.comment-notes,
#respond p.logged-in-as,
#respond p.form-allowed-tags {
	font-size: 13px;
	color: #aaa;
}

#respond p.comment-notes {	
	font-size: 13px;
	margin: 6px 0 24px;
}

#respond input,
#respond textarea {
	display: block;
}

#respond input[type="checkbox"] {
	display: inline-block;
}

#respond input[type="text"],
#respond input[type="password"],
#respond textarea {
	width: 100%;
}

#respond #reply-title small {
	float: right;
	font-size: 14px;
	text-transform: none;
}

/* 5.3. Post meta-data
==================================== */

.content > form input[type="submit"] {
	display: inline-block;
	float: none;
}

.page-template #gk-mainbody > article {
	min-height: 0;
}

#gk-mainbody article > header h1,
#gk-mainbody article > header h2 {
	clear: both;
	font-size: 38px;
	font-weight: 500;
}

#gk-mainbody article > header {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 26px;
	width: 100%;
}

#gk-mainbody article > header + #gk-social-api {
	margin-top: 45px;
}

.page #gk-mainbody > header {
	margin-bottom: 42px;
}

article {
	position: relative;
}

.gk-meta-post {
	display: inline-block;
	list-style-type: none;
	overflow: hidden;
}

.gk-meta-post li {
	color: #aaa;
	display: inline-block;
	float: none;
	font-size: 12px;
	list-style-type: none;
	margin: 0;
	padding-right: 10px;
}

article.no-title,
article.page-fullwidth {
	padding-left: 0;
}

article > footer::after,
#gk-social-api::after,
#respond p.form-submit:after {
    clear: both;
    content: "";
    display: table;
}

dl.tags {
	color: #000;
	clear: both;
	font-size: 13px;
	margin: 10px 0 20px;
}

dl.tags > dt {
	float: left;
}
dl.tags > dd {
	padding-left: 60px;
}
dl.tags a {
	line-height: 1.6;
	margin-left: 6px;
}

.video-block {
	font-size: 16px;
	margin: 0 0 12px;
}

/* Social API */
#gk-social-api {
	border: 1px solid #e5e5e5;
	clear: both;
	margin: 24px 0 0;
	padding: 15px 20px 14px;
}

.page-template article > #gk-social-api {
	margin: 0;
}

#gk-social-api > * {
	display: inline-block;
	min-height: 33px;
	margin-right: 5px!important;
}

#gk-social-api .twitter-count-horizontal {
	position: relative;
	margin-left: 10px;
	top: 10px;
}

#gk-social-api > a {
	min-height: inherit!important;
}

/* 5.4. Post additional features
==================================== */
article .featured-image {
	position: relative;
}
article .featured-image sup,
article.sticky .featured-image sup {
	background: #e72e20;
	color: #fff;
	font-size: 11px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 28px;
	height: 28px;
	padding: 2px 12px;
	position: absolute;
	right: -10px;
	text-transform: uppercase;
	top: 24px;
	z-index: 1;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}

article figure.featured-image {
	margin: 0 0 40px;
	overflow: hidden;
}

article figure.featured-image img {	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	clear: both;
	display: block;
	line-height: 0;
	margin: 0;
	max-width: 100%;
	overflow: hidden;
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-ms-transform: scale(1.0);
	-o-transform: scale(1.0);
	transform: scale(1.0);
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
	width: 100%;
}

/*article figure.featured-image:hover img {
	-webkit-transform: scale(1.2) rotateZ(-5deg);
	-moz-transform: scale(1.2) rotateZ(-5deg);
	-ms-transform: scale(1.2) rotateZ(-5deg);
	-o-transform: scale(1.2) rotateZ(-5deg);
	transform: scale(1.2) rotateZ(-5deg);
}*/

.alignnone {
	float: none;
}

.alignleft {
	float: left;
	margin: 0 15px 15px 0;
}

.alignright {
	float: right;
	margin: 0 0 15px 15px;
}

.aligncenter {
	display: block;
	float: none;
	margin: 0 auto;
}

div.wp-caption {
	max-width: 100%!important;
}

.wp-caption-text {
	font-size: 11px;
	font-style: italic;
	line-height: 1.5;
	text-align: center;
}

.gallery {
	clear: both;
	padding: 16px 0;
}

.gallery-caption {
	font-size: 14px;
}

.gallery-icon img {
	border: none!important;
}

/* 5.5. wp-activate.php and wp-signup.php pages
==================================== */

/* wp-activate.php */

#activateform {
	margin: 0 auto;
	max-width: 500px;
}

#activateform #key,
#activateform #submit {
	font-size: inherit!important;
}

/* wp-signup.php */
.mu_register {
	margin: 20px auto!important;
	max-width: 500px;
}

.mu_register input[type="submit"], 
.mu_register #blog_title, 
.mu_register #user_email, 
.mu_register #blogname, 
.mu_register #user_name {
	font-size: inherit!important;  
}

.mu_register label {
	font-size: inherit!important;
}
