/**
 *
 * -------------------------------------------
 * WP Extensions CSS file
 * -------------------------------------------
 * 
 **/
 
/*
 *
 * 8. Additional WP extensions styles
 *
 *
------------------------------------ */

/* 8.1. Archives widget
==================================== */

.widget_archive li {
	color: #848484;
	padding: 2px 0;
}

.widget_archive li a {
	font-size: 13px;
	padding-right: 4px;
}

.widget_archive li a:active,
.widget_archive li a:focus,
.widget_archive li a:hover {
	color: #4c90fe;
}

/* 8.2. Custom menu widget
==================================== */

/* 8.3. Pages widget
==================================== */

/* 8.4. RSS widget
==================================== */

.box h3.box-title .rsswidget {
	clear: none;
	float: left;
	font-size: 20px;
	margin-right: 10px;
}

.box .rsswidget {
	clear: both;
	display: block;
	font-size: 16px;
	margin: 20px 0 10px;
}

.box .rss-date {
	clear: both;
	display: block;
	font-size: 11px;
	font-style: italic;
	margin-top: -10px;
	text-align: right;
}

.box .rssSummary {
	clear: both;
	color: #888;
	font-size: 12px;
	line-height: 1.5;
	margin-bottom: 20px;
}

.widget_rss cite {
	font-size: 12px;
}

/* 8.5. Text widget
==================================== */

#gk-header .box.widget_text {
	padding: 0!important;
}

#gk-header .box.widget_text img {
	height: auto;
	max-width: 100%;
}

/* 8.6. Calendar widget
==================================== */

.box #wp-calendar {
	background: #fff;
	width: 100%;
}

.box #wp-calendar caption {
	background: #fff;
	border: 1px solid #eee;
	color: #000;
	font-size: 14px;
	font-weight: 600;
	padding: 7px 0;
}

.box #wp-calendar th {
	background: #f5f5f5;
	border-right: 1px solid #eee;
	padding: 6px 3px;
	font-size: 11px;
	color: #333;
	font-weight: bold;
}

.box #wp-calendar th:first-child {
	border-left: 1px solid #eee;
}

.box #wp-calendar td {
	background: #fff;
	border: 1px solid #eee;
	font-size: 11px;
	padding: 6px 3px;
	text-align: center;
	vertical-align: middle;
}

.box #wp-calendar td.pad {
	background: #fbfbfb;
}

.box #wp-calendar #today {
	background: #d82731;
	color: #fff;
	font-size: 14px;
}

.box #wp-calendar td a {
	color: #d82731;
}

.box #wp-calendar #today a {
	color: #fff!important;
}


/* 8.7. Links widget
==================================== */

.box ul.xoxo a {
	display: block;
	font-size: 12px;
	line-height: 20px;
}

.box ul.xoxo a img {
	vertical-align: middle;
}

.box ul.xoxo li {
	font-size: 10px;
	padding: 5px 0;
}

/* 8.8. Recent comments widget
==================================== */

/* 8.9. Search widget
==================================== */
 
.box #searchform label,
.box #searchform #searchsubmit {
	display: none;
}

.box #searchform .field {
	padding: 8px 20px !important;
	position: relative;
	width: 100%;
}

.box #searchform {
	position: relative;
}

.box #searchform:after {
	color: #111;
	content: "\f002";
	font-family: FontAwesome;
	position: absolute;
	right: 18px;
	top: 6px;
	z-index: 1;
}
 
/* 8.10. Categories widget
==================================== */
.box.widget_categories li,
.box.widget_archive li {
	color: #999;
	font-size: 11px;
	font-weight: normal;
	line-height: 2.0;
	padding: 11px 0 9px 0;
}

.box.widget_categories li a,
.box.widget_archive li a {
	font-size: 14px;
}

/* 8.11. Meta widget
==================================== */

/* 8.12. Recent posts widget
==================================== */

/* 8.13. Tag cloud widget
==================================== */

.box.tags .tagcloud {
	overflow: hidden;
}

.box.tags .tagcloud a {
	float: left;
	font-size: 13px!important;
	line-height: 1.5;
	margin: 3px;
	padding: 3px 6px;
}

/* 8.14. Common widget styles
==================================== */

/* Modules */
.box {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		 -o-box-sizing: border-box;
		 	box-sizing: border-box;
	color: #555;
	line-height: 1.6;
	margin: 0 0 42px;
	width: 100%;
}

#gk-mainbody .box {
	margin-bottom: 30px;
	padding-left: 0;
	padding-right: 0;
}

#gk-inset .box {
	padding-top: 20px;
}

.box ul {
	list-style-type: none;
	margin: 0;
}

.box ul li {
	border-top: 1px solid #e5e5e5;
	line-height: 1.6;
	padding: 10px 0;
}

.box ul li .children {
	margin-top: 8px;
}

#gk-top1 .box ul li {
	font-size: 16px;
	font-weight: 400;
	padding: 10px 0;
}

.box ul li:first-child {
	border: 0;
}

.box li a {
	line-height: 1.0;
}

.box .box-title {
	color: #000;
	font-size: 13px;
	font-weight: 600;
	line-height: 15px;
	margin: 0 0 20px 0;
	padding: 0;
	text-transform: uppercase;
}

/* Icons int he widge title */
.box .box-title > i {
	float: right;
	font-size: 14px;
	padding: 0!important;
}

.box.color1 .box-title > i { color: #d82731; }
.box.color2 .box-title > i { color: #8b8b8b; }
.box.color3 .box-title > i { color: #f7a834; }
.box.icon-color1 .box-title > i { color: #d82731; }
.box.icon-color2 .box-title > i { color: #8b8b8b; }
.box.icon-color3 .box-title > i { color: #f7a834; }
.box.icon-color4 .box-title > i { color: #000; }

.box .box-title em {
	color: #fec54c;
	font-style: normal;
}

/* transparent style */
.box.transparent,
#gk-banner-left .box.transparent .box.gk_nsp {
	background: transparent!important;
	padding: 0!important;
}

#gk-sidebar .box {
	padding: 0;
}

/* Color-Bg styles */
.box.color-bg1 .box-title,
.box.color-bg2 .box-title,
.box.color-bg3 .box-title {
	background: #d82731;
	color: #fff;
	float: left;
	line-height: 28px;
	padding: 0 8px;
}

.box.color-bg1 .box-title + .textwidget,
.box.color-bg2 .box-title + .textwidget,
.box.color-bg3 .box-title + .textwidget {
	clear: both;
}

/* color* styles */
.box.color1 .box-title { color: #d82731; }
.box.color2 .box-title { color: #8b8b8b; }
.box.color3 .box-title { color: #f7a834; }

.box.color-bg2 .box-title {
	background: #000;
}
.box.color-bg3 .box-title {
	background: #f7a834;
}

/* Newsletter */
.box.newsletter {
	float: right!important;
	max-width: 340px;
	padding: 0!important;
}

/* Style advertisement */
.box.advertisement .box-title {
	background: transparent;
	color: #c0c0c0!important;
	font-size: 13px!important;
	font-style: italic;
	font-weight: 300;
	line-height: 16px;
	margin: 0 0 16px 0;
	min-height: 21px;
	padding: 0;
	text-transform: none;
}

/* Style bigtitle */
.box.bigtitle .box-title {
	color: #999;
	font-size: 42px;
	font-weight: 400;
	line-height: 0.6;
	margin: 0;
	text-align: center;
	text-transform: none;
}

.box.bigtitle .box-title small {
	color: #111;
	display: block;
	font-size: 30px;
	font-weight: 700;
	line-height: 1.2;
	text-align: center;
	text-transform: uppercase;
}

/* Style centered */
.box.centered {
	margin: 0!important;
	padding: 50px 0!important;
}

.box.centered .box-title {
	font-weight: 400;
	text-align: center;
}

.centered .gk-nsp-art {
	padding: 0 42px!important;
	text-align: center;
}
.centered .gk-nsp {
	margin: 0 -42px!important;
}

.centered .gk-nsp-header {
	margin-bottom: 5px;
}

.centered .gk-nsp-text {
	margin-bottom: 20px!important;
}

.centered .gk-nsp-art .readon {
	display: inline-block;
	float: none;
}
.gk-centered {
	clear: both;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
}

/* Style clear */
.box.clear {
	clear: none;
	margin: 0!important;
	padding: 0!important;
}

/* Style light */
.box.light {
	background: #f8f8f8;
	padding: 20px!important;
}

/* Style banner */
.box.banner img {
	display: block;
}

/* Style dark */
.box.dark,
.dark-area .box {
	background: #000!important;
	color: #8b8b8b;
	padding: 20px!important;
}

.dark-area .box {
	background: transparent!important;
	padding: 0!important;
}

.box.dark .box-title,
.dark-area .box .box-title {
	background: transparent!important;
	color: #fff;
	line-height: 1.2;
}

.box.dark h1,
.box.dark h2,
.box.dark h3,
.box.dark h4,
.box.dark h5,
.box.dark h6 {
	color: #ddd;
}

.box.dark ul {
	margin: 0;
	padding: 0;
}

.box.dark ul li {
	border-top: 1px solid #333;
	position: relative;
}

.box.dark ul li:first-child {
	border-top: none;
}

.box.dark a {
	color: #ddd!important;
}

.dark-area .box a {
	color: #ddd
}

.box.dark a:active,
.box.dark a:focus,
.box.dark a:hover {
	color: #d82731!important;
}

.box.dark ul ul {
	margin: 0 0 0 20px;
}

/* Style menu */
.box.menu ul ul {
	margin-left: 0
}
.box.menu li {
	border: 0;
	padding: 4px 0;
	line-height: 1;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.box.menu li:hover { 
	padding: 4px 7px;
}

.box.menu li a {
	display: inline-block;
	line-height: 1;
	padding: 7px 0;
}

.box.menu li:hover a {
	color: #d82731!important;
}

/* Style WC menu */
.box.wc-menu li {
	border: 0;
	padding: 0;
}

.box.wc-menu li a {
	display: inline-block;
	line-height: 1.6;
	padding: 3px 0;
}