﻿@charset "utf-8";
/*---------公共---------*/
*{-webkit-font-smoothing: antialiased;}
html,body { height:100%;} /* 同时设置html是为了兼容FF */ 
body{ margin:0; padding:0; background:#f2f2f2; color:#000;font:12px Microsoft YaHei,Arial,"宋体";text-align:left;}
div,form,img,ul,ol,li,dl,dt,dd{ margin: 0; padding:0; border:0;}
p,h1,h2,h3,h4,h5,h6 { margin:0; padding:0;}
table,td,tr,th{ font-size:12px;}
ul,li{ list-style:none;}
input,select{ margin:0; padding:0; font-size:12px;}
select{ height:21px;}
img{ vertical-align:top;-ms-interpolation-mode:bicubic;-image-rendering: optimizeQuality;}
.fl{float:left; _display:inline;}
.fr{float:right; _display:inline;}
.clear,.clearfix{ clear:both; height:0px;overflow:hidden; width:100%; }
.txtl{ text-align:left;}
.txtc{ text-align:center;}
.txtr{ text-align:right;}
.hidden{display:none;}
a{ text-decoration:none; color:#000;outline: none;hide-focus: expression(this.hideFocus=true);}
a:hover{ text-decoration: none; color:#ff4100;}
em,i{font-style:normal;font-weight:normal;}
.nonlink{ cursor:default;}
/*---------取消chrome下input和textarea的聚焦边框,取消chrome下textarea可拖动放大：---------*/
input,button,select,textarea{outline:none}
textarea{resize:none}
/*---------宽度修改---------*/
.nav,.header{ width:998px;}
.main,.arrows,.site_top{ width:990px;}
.footer,.copyright { width:960px;}
/*---------字体样式---------*/
.bold{ font-weight:bold;}
.orange{ color:#ff4100;}
.gray{ color:#bababa;}
.center{ text-align:center;}
.font14{ font-size:14px;}
.font16{ font-size:16px;}
/*---------边距---------*/
.mt_5{ margin-top:5px;}
.mt_10{ margin-top:10px;}
.mt_15{ margin-top:15px;}
.mb_15{ margin-bottom:15px;}
.mr_15{ margin-right:15px;}
.pt_15{ padding-top:15px;}
.pr_15{ padding-right:15px;}
.pt_20{ padding-top:20px;}
.mt_20{ margin-top:20px;}
.mb_20{ margin-bottom:20px;}
.mr_20{ margin-right:20px;}
.pr_20{ padding-right:20px;}
.mt_25{ margin-top:25px;}
/*---------网站框架---------*/
.site_top_bg,.header_bg,.main_bg,.footer_bg{ width:100%;}
.site_top_bg,.header_bg,.footer_bg,.copyright_bg{min-width:998px;}
.site_top,.nav,.header,.footer,.main,.copyright{margin:0 auto;}
.site_top_bg{height:41px; background-color:#141414;background:url(http://s0.dwnews.net/images/www/icon_bg.png) repeat-x left top;}
.header_bg{height:137px; background-color:#2a2a2a;}
.main_bg{background-color:#434343;}
.bt_h2,.bt2_h2{ height:30px; line-height:30px; margin:5px 0 5px 0;background:url(http://s1.dwnews.net/images/www/bt_bg.png) repeat-x left center;}
.bt3_h2{ height:30px; line-height:30px; margin:10px 0;}
.bt_h2 span,.bt_h2 a,.bt2_h2 span,.bt2_h2 a,.bt3_h2 span,.bt3_h2 a{display:block;background:url(http://s3.dwnews.net/images/www/biaoti.png) no-repeat #fff; width:106px; height:30px;  text-indent:-500px; overflow:hidden; font-weight:normal;}
.bt_h2 .tw3,.bt_h2 .tw3,.bt2_h2 .twidth3,.bt2_h2 .tw3{ width:80px;}
.bt2_h2 span,.bt2_h2 a{margin:0 auto; }
.bt_h3{ font-size:18px; font-weight:normal; line-height:24px; margin:0px 0 10px 0;}
.bt_h3 a{}
.bt_change{height:40px; line-height:40px; border-top: 2px solid #a19fa0; border-bottom: 1px solid #c6c6c6; margin:10px 0 15px 0;}
.bt_change a{ float:left;display:block;background:url(http://s3.dwnews.net/images/www/biaoti.png) no-repeat #fff; width:96px; height:40px;  text-indent:-500px; overflow:hidden; font-weight:normal;}
.bt_change .bc_on{ border-bottom:1px solid #fff;}
.bt_change .tit_non{ background:none #fff;text-indent: 0; text-align:center; font-size:16px;}
.bt_change i{ border-left:1px solid #c6c6c6; float:left; width:0px; height:41px}
.wdxian{border-bottom:1px solid #f0f0f0; height:0; line-height:0;}
.wdline{ border-bottom:1px solid #e6e6e6; height:0; line-height:0;}
.wdhxian{background-color:#f0f0f0; width:1px; height:100%;}
.line{ margin:0 auto 15px auto; width:100%; height:4px; background-color:#a19fa1;}
.layer-line{ width:100%; height:0px; line-height:0px;border-bottom:1px solid #fff;border-top:1px solid #d0d0d0;}
/*---------main样式---------*/
.main_bg{background:url(http://s4.dwnews.net/images/www/main_bg.png) repeat-x top left #f2f2f2; }
.main{background-color:#fff; color:#000; margin-bottom:10px;border-bottom:#d3d3d3 solid 2px;}
/*---------foot样式---------*/
.footer_bg{background-color:#696868; height:210px;}
.footer{ color:#fff;}
.copyright_bg{ background-color:#333; height:34px;}
.copyright{ color:#929292; line-height:34px;}
a.sitemap{ text-decoration:none;float:right; _display:inline; width:68px; height:34px; line-height:34px;background:url(http://s1.dwnews.net/images/www/icon.png) no-repeat 50px -278px; color:#cacaca; padding-right:12px;}
a.sitemap:hover{ color:#fff;}
.about_list{ width:17%; float:left; display:inline; margin-top:30px;}
.about_list dt{ font-size:16px; height:40px; line-height:40px;}
.about_list dd{ font-size:12px; margin:5px 0; height:20px; line-height:20px;}
.about_list dd a{ color:#cacaca;}
.about_list a:hover{ color:#fff;}
.ab_dt a{color:#cacaca;}
/*---------整站面包屑导航---------*/
.breadCrumb{ color:#808080; height:20px; line-height:20px;}
.breadCrumb a{ color:#808080;}
/*---------整站新闻list样式---------*/
.dw_newslist{ float:left; _display:inline; width:100%;}
.dw_newslist li{font-size:14px; float:left; _display:inline;  line-height:26px; height:26px; overflow:hidden;text-indent:15px;background:url(http://s1.dwnews.net/images/www/news_ico.png) no-repeat 0 -1px; width:100%;}
.dw_newslist li a{ font-size:14px; margin-right:7px;}
/*---------整站标题+导言新闻样式---------*/
.news-body{ float:left; _display:inline; width:100%;}
.news-body h2,.news-body h3{color:#666; font-size:18px;line-height:20px; height:20px; margin-top:2px; margin-bottom:8px; overflow:hidden; font-weight:normal;}
.news-body .news_photo{ float:left; _display:inline; margin:4px 10px 0 0; width:120px; height:90px; overflow:hidden;}
.news-body .news_bigphoto{ float:left; _display:inline; margin:4px 10px 10px 0; width:100%;overflow:hidden;}
.news-body p{color:#666; font-size:12px; line-height:20px; margin-top:0px; }
.two-line h3{ height:50px; line-height:26px;}
.two-line p{ margin-top:-2px;}
/*---------整站图片新闻list---------*/
.picnews_list{ float:left; _display:inline; width:100%;}
.picnews_list li{float:left; _display:inline;}
.picnews_list li .picnews_body{ margin-right:15px; display:block;}
.picnews_list li a{ text-align:center;}  
.picnews_list li h3{font-size:12px; line-height:20px; font-weight:normal; margin:5px 0; height:20px; overflow:hidden; cursor:pointer;}
/*---------整站图片新闻---------*/
.photo-news{ position:relative;overflow:hidden; z-index:0;}
.photo-news .photo-news-info{ position:absolute; bottom:15px; left:0; padding:0 15px 0 15px; color:#fff;z-index:2;}
.photo-news h3{ font-size:18px; margin-top:-2px; line-height:24px; font-weight:normal;cursor:pointer;}
.photo-news p{ margin-top:10px;}
.photo-news h3 a,.photo-news p{ color:#fff;}
.photo-news .photo-news-bg{ position:absolute; bottom:0; left:0; height:100%;cursor:pointer; width:100%;background: url(http://s3.dwnews.net/images/www/tx_fcbg.png) repeat-x left bottom; z-index:1;}  
/*---------整站灰色半透明新闻样式---------*/
.wrap_news{ position:relative; display:block; cursor:pointer;overflow: hidden;}
.wrap_news .wrap_title{position: absolute; z-index:11; cursor:pointer; display:none;}
.wrap_news .wrap_bg{ position: absolute; left:0; top:0; width:100%; height:100%; z-index:10; background-color:#000;filter: alpha(opacity=50);-moz-opacity: 0.5;opacity: 0.5;  cursor:pointer;display:none;}
.wrap_title h3{ color:#fff; font-weight:normal;}
.wrap_title p{color:#fff;}
.wrap_news a:hover .wrap_title,.wrap_news a:hover .wrap_bg{ display:block; }
/*---------整站边距---------*/
.space_b10{ width:10px; float:left; _display:inline;}
.space_b15{ width:15px; float:left; _display:inline;}
.space_b20{ width:20px; float:left; _display:inline;}
.space_b25{ width:25px; float:left; _display:inline;}
.block_b10{ height:10px; clear:both;}
.block_b8{ height:8px; clear:both;}
.block_b15{ height:15px; clear:both;}
.block_b20{ height:20px; clear:both;}
/*---------整站用户list---------*/
.person_list{ float:left; _display:inline;}
.person_list li{ width:33.33%; float:left; margin-bottom:0px;} 
.person_list a{ text-decoration:none; font-size:12px;}
.person_list .person_info{width:90%; margin-right:10px\9;} 
.person_list .p_username{ height:26px; line-height:30px; overflow:hidden; } 
.person_list .p_time{ color:#666; overflow:hidden;} 
/*---------整站蓝色标签---------*/
.small_column{position: absolute; left:0; top:0; width:60px; height:26px;z-index:12;}
.small_column em{position: absolute; left:0; top:0;width:100%; height:100%; line-height:30px;font-family:Arial,"宋体";text-align:center; display:block; color:#fff;}
.small_column span{position: absolute; left:0; top:0;width:100%; height:100%; display:block;background-color:#00a8df;filter: alpha(opacity=80);-moz-opacity: 0.8;opacity: 0.8;}
/*---------整站顶部功能条---------*/
.site_top{color:#bbb;}
.site_top a{color:#bbb; text-decoration:none;}
.site_top a:hover{color:#ff4100;}
.left_top{ margin-top:12px; margin-left:8px;}
.left_top a{ margin-right:18px;}
a.login {background:url(http://s1.dwnews.net/images/www/icon.png) no-repeat top left; display:block; text-indent:22px; margin-right:10px; width:60px; height:22px; line-height:22px; text-decoration:none; color:#ff4100; margin-top:10px; overflow:hidden;}
a.login:hover {background:url(http://s1.dwnews.net/images/www/icon.png) no-repeat left 0;}
a.reg{display:block;height:22px; line-height:22px;margin-top:10px; margin-right:5px;}
.site_top .su_line{background:url(http://s1.dwnews.net/images/icon.png) no-repeat -60px -92px;display:block; width:36px; height:41px; margin-top:0px;}
a.fanjian{background:url(http://s1.dwnews.net/images/www/icon.png) no-repeat left -46px;display:block; text-indent:-200px; width:22px; height:22px; overflow:hidden; margin-right:5px;margin-top:10px;}
a.fanjian:hover{ background-position:-23px -46px;}
a.jianfan{background:url(http://s1.dwnews.net/images/www/icon.png) no-repeat -46px -46px;display:block; text-indent:-200px; width:22px; height:22px; overflow:hidden; margin-right:5px;margin-top:10px;}
a.jianfan:hover{ background-position:-69px -46px;}
a.facebook{background:url(http://s1.dwnews.net/images/www/icon.png) no-repeat left -137px;display:block; text-indent:-200px; width:24px; height:22px; overflow:hidden;margin-top:10px;margin-right:5px;}
a.facebook:hover{ background-position:-28px -137px;}
a.twitter{background:url(http://s1.dwnews.net/images/www/icon.png) no-repeat left -160px;display:block; text-indent:-200px; width:24px; height:22px;margin-top:10px; overflow:hidden;}
a.twitter:hover{ background-position:-28px -160px;}
/*---------整站header样式+搜索框---------*/
.header{color:#888;}
.logo{ background:url(http://s1.dwnews.net/images/logo.png) no-repeat left top; display:block; width:180px; height:68px; text-indent:-1000px; overflow:hidden;}
.header h1{ margin:8px 0 8px 10px; float:left;}
.search{float:right; margin-top:25px; _display:inline; margin-right:5px; position:relative; width:190px;background:url(http://s3.dwnews.net/images/www/search.png) no-repeat left 1px;height:39px; line-height:39px;}
.search_input{position:absolute; color:#4c4c4c;border:0;left:10px;top:5px;width:150px;height:30px;height:32px\9;font:12px Microsoft YaHei,Arial,Helvetica; line-height:32px\9; background:none; color:#666;}
.search_btn{ position:absolute; right:0px;top:5px; border:0; width:30px; height:30px;background:url(http://s1.dwnews.net/images/search.png) no-repeat left -40px;cursor:pointer;}
a.search_btn:hover{background:url(http://s1.dwnews.net/images/search.png) no-repeat -39px -40px #ff4100;}

/*---------网站导航---------*/
.nav{ width:998px;margin:0 auto; color:#fff;background:url(http://s0.dwnews.net/images/www/daohang.png) no-repeat 0 0px; height:49px; }
.nav li{ float:left; _display:inline;}
.nav .br_none{border-right:none;}
.nav .bl_none{border-left:none; margin-left:5px;}
.nav a{ color:#fff; text-decoration:none;border-right:#252525 solid 1px;border-left:#434343 solid 1px; text-align:center; font-size:16px; display:block;  line-height:42px; overflow:hidden; height:42px; margin-top:1px;}
.nav a span{  display:block;padding:0 23px;}
.nav a:hover span{ background:url(http://s4.dwnews.net/images/www/nav_xian.png) no-repeat bottom left;}
.nav a.on span{ background:url(http://s4.dwnews.net/images/www/nav_xian.png) no-repeat bottom left;}
/*---------网站细导航---------*/

.nav_fixed{ position:fixed; width:100%; top:0; z-index:1000; background:url(http://s1.dwnews.net/images/www/smallnav_bg.png) repeat 0 0px; height:49px; }
.nav_fixed a.logo_fixed{ width:50px; float:left; padding:0;background:url(http://s2.dwnews.net/images/www/daohang_wz.png) repeat-x 0 -597px; text-indent:-500px; border:none; margin-right:0;}
.nav_fixed a.user_fixed{ width:46px;border:none;border-left:#3d3d3d solid 1px; float:right; padding:0;background:url(http://s1.dwnews.net/images/www/icon.png)  no-repeat 0 -413px; text-indent:-500px; margin-right:0; z-index:101; }.nav_fixed a.user_fixed:hover{ background-position: 0 -463px;}
.nav_fixed a.user_fixed_on{ width:46px;border:none;border-left:#3d3d3d solid 1px; float:right; padding:0;background:url(http://s1.dwnews.net/images/www/icon.png)  no-repeat 0 -515px; text-indent:-500px; margin-right:0; z-index:101; }.nav_fixed a.user_fixed_on:hover{ background-position: 0 -463px;}
.nav_fixed a.search_fixed{ width:46px; border:none;border-left:#3d3d3d solid 1px; float:right; padding:0;background:url(http://s1.dwnews.net/images/www/icon.png) no-repeat 0 -566px; text-indent:-500px; margin-right:0;}.nav_fixed a.search_fixed:hover{ background-position: 0 -617px;}
.nav_fixed a.more_fixed{ width:70px; border:none;border-left:#3d3d3d solid 1px; float:right; padding:0;background:url(http://s1.dwnews.net/images/www/icon.png)  no-repeat 0 -671px; text-indent:-500px; margin-right:0;}.nav_fixed a.more_fixed:hover{ background-position: 0 -721px;}
.nav_fixed .shadow_bg{ height:6px;background:url(http://s1.dwnews.net/images/www/icon.png) repeat-x 0 -364px; width:100%;}
.nav_fixed .nav{color:#fff; background:none; width:998px; margin:0 auto; position:relative;}
.nav_fixed li{ float:left; _display:inline;}
.nav_fixed .br_none{border-right:none;}
.nav_fixed .bl_none{border-left:none; margin-left:5px;}
.nav_fixed a{ color:#fff; text-decoration:none;border:none; margin-right:1px; text-align:center; font-size:16px; display:block;  line-height:49px; overflow:hidden; height:49px;}
.nav_fixed a span{  display:block;padding:0 14px;}
.nav_fixed a:hover span{ background:url(http://s4.dwnews.net/images/www/nav_xian.png) no-repeat bottom left;}
.nav_fixed a.on span{ background:url(http://s4.dwnews.net/images/www/nav_xian.png) no-repeat bottom left;}

/*---------细导航更多--------*/
.dw_fixedmore{ position:absolute; right:0; top:56px; color:#000;border: 1px solid #cdcdcd;-webkit-box-shadow: 0 0 10px #000;-moz-box-shadow: 0 0 10px #000;box-shadow: 0 0 10px #000; background-color:#f2f2f2; width:222px; z-index:99; padding:5px 20px 0px 20px;}
.more-body{ padding-top:20px;padding-top:15px\9;}
.more-fan a,.more-subscribe a,.more-phone a,.more-share{ font-size:16px;}
.more-fan,.more-subscribe,.more-phone,.more-share{ margin:0 0 20px 0; margin-bottom:20px\9;}
.more-share .more-s-facebook,.more-share .more-s-twitter{float:left;background:url(http://s1.dwnews.net/images/www/login-on.png) no-repeat 0 -305px; width:34px; height:34px; display:block; margin-right:15px;}
.more-share .more-s-twitter{ background-position:-50px -305px;}
.more-share .more-s-txt{ float:left; height:34px; line-height:34px; margin-right:10px;}
.more-phone a{ height:40px; display:block;}
.more-phone a.phone-app{ float:left;}
.more-phone a.phone-mobile{ float:right;}
.more-phone a.p-on{ background:url(http://s1.dwnews.net/images/www/login-on.png) no-repeat 15px -418px;}
.more-phone .body-app,.more-phone .body-mobile{ background-color:#FFF; height:84px; overflow:hidden;}
.more-phone .phone-qr{ width:66px; height:66px; overflow:hidden; float:right; margin:10px;}
.more-phone .body-mobile p{margin:10px;}
.phone-down{ margin:10px 0 0 10px;}
.phone-down a i{background:url(http://s1.dwnews.net/images/www/login-on.png) no-repeat; cursor:pointer; width:30px; height:30px; display:block; float:left; margin:0 5px 0 5px;}
.phone-down a{ font-size:12px; color:#7d7d7d; line-height:30px; height:30px; display:block;}
.phone-down a:hover{color:#ff4100;}
.phone-down a.phone-android{ margin-bottom:5px;}
.phone-down a.phone-android i{background-position:0px -350px;}
.phone-down a.phone-iphone i{ background-position:-34px -350px;}


/*---------整站弹出浮层样式---------*/
.dw_fixblock{ width:100%;position:fixed; z-index:999;}
.dw_fwidth{ width:998px; margin:0 auto;position: relative;}
.dw_layer{ position:absolute; right:4px; top:60px; color:#000;border: 1px solid #cdcdcd;-webkit-box-shadow: 0 0 10px #000;-moz-box-shadow: 0 0 10px #000;box-shadow: 0 0 10px #000; background-color:#f2f2f2; width:222px; z-index:99; padding:10px 20px 20px 20px;}
a.login_out{position:absolute; color:#fff; top:auto; display:block; left:-1px; text-decoration:none; text-align:center; width:100%; height:40px; line-height:40px; background-color:#2b2b2b;bottom:-1px; border:1px solid #2b2b2b; border-top:none; font-size:16px;}
.yx-yanzheng{ margin: 0 0 0px;}
.yx-body{ margin:0 0 15px 0px; padding-top:10px;}
a.login_out:hover{ background-color:#444;}
a.la-fabu{ color:#ff4100; top:auto; display:block; text-decoration:none; text-align:center; width:98px; height:24px; line-height:24px;font-size:16px; margin:10px auto 36px auto;}
a.la-fabu i{background:url(http://s1.dwnews.net/images/www/login-on.png) no-repeat 0px -264px;width:24px; height:24px; display:block; float:left;}
a:hover.la-fabu i{background-position:-31px -264px;}
a:hover.la-fabu{ color:#ff602a;}
.lay_list{ float:left; width:100%; margin:5px 0 36px 0;}
.lay_list li{ float:left; width:50%; margin:10px 0;}
.lay_list li a{ font-size:14px; height:24px; line-height:24px;}
.lay_list li a span{ font-size:12px; color:#aaa;}
.lay_list li a:hover span{ font-size:12px; color:#aaa;}
.lay_list li a i{background:url(http://s1.dwnews.net/images/www/login-on.png) no-repeat 0 0; cursor:pointer; width:24px; height:24px; display:block; float:left; margin:0 5px 0 5px;}
.lay_list .zl a i{ background-position:0 0;}
.lay_list .zt a i{background-position:0 -152px;}
.lay_list .pl a i{background-position:0 -36px;}
.lay_list .sc a i{background-position:0 -189px;}
.lay_list .dy a i{background-position:0 -75px;}
.lay_list .sz a i{background-position:0 -227px;}
.lay_list .gz a i{background-position:0 -113px;}
.lay_list .fs a i{background-position:0 -460px;}
.lay_list .zl a:hover i{ background-position:-31px 0;}
.lay_list .zt a:hover i{background-position:-31px -152px;}
.lay_list .pl a:hover i{background-position:-31px -36px;}
.lay_list .sc a:hover i{background-position:-31px -189px;}
.lay_list .dy a:hover i{background-position:-31px -75px;}
.lay_list .sz a:hover i{background-position:-31px -227px;}
.lay_list .gz a:hover i{background-position:-31px -113px;}
.lay_list .fs a:hover i{background-position:-31px -460px;}
/*---------整站更多---------*/
a.hotnews-more{ position:absolute; right:8px; bottom:5px;background:url(http://s4.dwnews.net/images/www/news_ico.png) no-repeat 5px -26px; text-indent:15px; color:#ff4100;  background-color:#fff;}
a.dw-more{background:url(http://s4.dwnews.net/images/www/news_ico.png) no-repeat right -47px; float:right; _display:inline; margin:5px 0 0 0;padding-right:20px;color:#000;  background-color:#fff;}
a.dw-more:hover{color:#ff4100;}
/*---------多维整站搜索--------*/
.dw_search{ position:absolute;right:0; top:56px; color:#000;border: 1px solid #cdcdcd;-webkit-box-shadow: 0 0 10px #000;-moz-box-shadow: 0 0 10px #000;box-shadow: 0 0 10px #000; background-color:#f2f2f2; width:400px; height:50px; z-index:0;}
.dw_search .dw_search_bg{background: url(http://s3.dwnews.net/images/www/index_icon.png) no-repeat 0 -938px; position:relative; width:386px; height:36px; margin-top:7px; margin-left:7px;}
.dw_search .f-search{ border:none; border:0\9; margin-left:12px; margin-top:7px;margin-top:6px\9; width:330px; height:20px; line-height:20px;font:14px Microsoft YaHei,Arial,"宋体";}
.dw_search .f-search-btn{position: absolute; display:block;top: 0px;right: 0;background: url(http://s3.dwnews.net/images/www/index_icon.png) no-repeat 5px -988px;width: 40px;height: 34px;border: none;cursor: pointer; overflow:hidden;}
.dw_search a.f-search-btn:hover{ background-position: -41px -988px}
/*---------多维登录--------*/
.dw_login{ position:absolute; right:4px; top:60px; color:#000;border: 1px solid #cdcdcd;-webkit-box-shadow: 0 0 10px #000;-moz-box-shadow: 0 0 10px #000;box-shadow: 0 0 10px #000; background-color:#f2f2f2; width:262px; height:274px; z-index:99;}
.loginframe-blank{ margin:18px 22px;}
.loginframe-label input{ height:36px;font:12px Microsoft YaHei,Arial,"宋体"; line-height:36px\9; width:190px; padding-left:30px; margin-bottom:10px;  }
.label-account{background:url(http://s1.dwnews.net/images/www/icon.png) no-repeat left -822px #fff;border:1px solid #ddd;}
.label-password{background:url(http://s1.dwnews.net/images/www/icon.png) no-repeat left -853px #fff;border:1px solid #ddd;}
.loginframe-btn{ width:109px;font:14px Microsoft YaHei,Arial,"宋体"; color: #fff; height:30px; background:url(http://s1.dwnews.net/images/www/btn.png) no-repeat 0 0; border:none;margin-top:18px;margin-top:12px\9;}
.loginframe-checkbox{ float:left; _display:inline; padding:0; margin:2px 5px 0 0; border:0;}
a.forgetpwd{ background:none; font-size:12px; color:#000; float:right; height:20px; line-height:20px;}
a.free_reg{margin-top:18px;margin-top:12px\9; float:right;background:none; width:58px; height:22px;line-height:22px; display:inline; margin-right:10px;font-size:14px; color:#000;}
a.free_reg:hover{color:#ff4100;}
.other_login{ height:56px; width:268px; background-color:#2b2b2b; position:absolute; top:196px; left:-4px;}
.other_login a:hover{ background-color:#212121;}
.zhuce_youli{ margin-top:50px;}
a.facebook_login,a.twitter_login{ float:left; width:83px; height:44px; padding-left:50px; background:none; font-size:12px; line-height:18px; margin:0; padding-top:12px; text-align:left;color: #fff;}
a.facebook_login{ background:url(http://s2.dwnews.net/images/www/btn.png) no-repeat 0 -45px;border-right:1px solid #424141;}
a.twitter_login{background:url(http://s2.dwnews.net/images/www/btn.png) no-repeat 0 -110px; border-left:1px solid #1e1e1e;}
/*---------注册样式---------*/
.reg_ok{ font-size:18px; margin-left:10px; line-height:46px; height:46px; color:#7cbe56; padding-left:60px;background:url(http://s3.dwnews.net/images/www/show_box.png) no-repeat 0 -284px;}
.reg_tip{ margin:40px 10px 20px 10px; line-height:20px; font-size:14px;}
.reg_tip a{color:#ff4100;}
.reg_email { background-color:#fcfffa; border:1px solid #d0e4c2; padding:30px; margin:40px 20px; width:500px;}
.reg_email p{ color:#ff4100; font-size:18px;}
.reg_email .reg_yanzheng{ margin-top:20px; font-family:"宋体";}
.reg_yanzheng span{ margin-top:7px;}
.reg_email .yzemail_input{ height:24px; line-height:24px\9; padding-left:5px; border:1px solid #ccc; margin-left:5px; width:200px;}
a.yzemail_btn{ font-family:"宋体"; text-align:center; text-decoration:none; width:124px; display:block; background-color:#f5f5f5; border:1px solid #ddd; height:24px; line-height:24px; margin-left:10px;}
.regframe-label{ margin-right:15px;}
.edit_email{ margin-top:20px;}
.edit_email .editemail_input{ height:24px; line-height:24px\9; padding-left:5px; border:1px solid #ccc; margin-left:5px; width:200px;}
.reg_email { background-color:#fcfffa; border:1px solid #d0e4c2; padding:20px; margin:20px 20px; width:500px;}
.reg_email p{ color:#ff4100; font-size:18px;}
.reg_email span{ line-height:22px;}
.reg_email .reg_dingyue{ margin-top:20px; font-size:14px;}
.regframe-label input{ margin-right:5px;}
a.reg_dingyue,a.reg_dingyueok{ width:132px; height:36px; line-height:36px;display:block; margin:10px 0 0px 0;text-indent:-300px; overflow:hidden;background:url(http://s4.dwnews.net/images/www/show_box.png) no-repeat 0 -337px;}
a.reg_dingyueok{ background-position:0 -376px;}
a.reg_dingyue:hover{ background-position:0 -414px;}
/*---------多维登录错误提示--------*/
.entry_tips{ font-family:"宋体"; background-color:#ffebec; color:#ff4100; border:1px solid #ffbdbf; line-height:18px;width:210px; top:56px; padding:0 5px; left:22px; position:absolute;}
.entry_on{ border:1px solid #999; }
.entry_error{color:#e6393d; border:1px solid #ff4100; }

/*---------多维登录后的状态--------*/
.dw_welcome{margin-top: 12px;}
.dw_welcome span{ float:left;}
a.dw_user_name{ float:left;margin:0 0 0 8px;}
a.dw_user_name span{float:left;width:50px; display:block; height:16px; overflow:hidden;}
a.dw_user_name em{float:left;background:url(http://s1.dwnews.net/images/www/icon.png) no-repeat right -892px; width:18px; height:16px; display:block;}
a.dw_user_name:hover{ color:#ff4100; background-position:right -906px; }
a.dw_publish{ margin-left:15px;}
/*---------header多维产品---------*/
.dwpro{ margin:32px 0 0 20px; float:left; _display:inline;}
.dwpro a{ text-decoration:none; height:20px; line-height:21px; float:left; display:block; padding-left:28px; color:#bbb;}
.dwpro a:hover{color:#ddd;}
.pro_line{background:url(http://s2.dwnews.net/images/www/pro-line.png) no-repeat 0px 0px; width:2px; display:block; height:17px; margin-left:12px; margin-top:2px;}
a.pro_szk{background:url(http://s3.dwnews.net/images/www/icon.png) no-repeat 0px -184px; padding-left:24px; margin-left:8px;}
a.pro_szk:hover{ background-position:-155px -184px;}
a.pro_mobile{background:url(http://s4.dwnews.net/images/www/icon.png) no-repeat 2px -213px; margin-left:5px;}
a.pro_mobile:hover{ background-position:-153px -213px;}
a.pro_android{background:url(http://s0.dwnews.net/images/www/icon.png) no-repeat 2px -933px;}
a.pro_android:hover{ background-position:-153px -933px;}
a.pro_ios{background:url(http://s1.dwnews.net/images/www/icon.png) no-repeat 2px -1001px;padding-left:30px;}
a.pro_ios:hover{ background-position:-153px -1001px;}
a.pro_dzb{background:url(http://s2.dwnews.net/images/www/icon.png) no-repeat 0px -239px; margin-left:8px;}
a.pro_dzb:hover{ background-position:-155px -239px;}
a.pro_m{background:url(http://s3.dwnews.net/images/www/icon.png) no-repeat 28px -263px; padding-left:9px; margin-left:8px;}
a.pro_m:hover{ background-position:-127px -263px;}
a.pro_vote{background:url(http://s4.dwnews.net/images/www/icon.png) no-repeat 0px -966px; margin-left:8px;}
a.pro_vote:hover{ background-position:-154px -966px;}
a.szk-ipad{margin-left: 5px;padding: 0px;height: 16px;line-height: 16px;margin-top: 3px;color: #ff4100;}
a.szk-ipad:hover{color: #e19120;}
.szk-xian{ float:left; margin:1px 0px 0 6px;}


/*---------整站弹出层样式---------*/
.dw_showbox_bg{position: absolute; top: 0px; background-color: #000; opacity: 0.7;filter: alpha(opacity=70);-moz-opacity: 0.7;left: 0px; width: 100%; height: 100%; z-index: 10000;}
.dw_showbox{ border:10px solid #ddd; background-color:#FFF;position: absolute; left: 30%; top: 30%;width: 670px;z-index: 10001;}
a.box_close{ position:absolute; right:15px; top:15px; display:inline; width:32px; height:32px;background:url(http://s0.dwnews.net/images/www/show_box.png) no-repeat right top; text-indent:-300px; overflow:hidden;}
a.box_close:hover{ background-position: right -31px;}
.box_title{ font-size:18px; color:#ff4100; margin:15px 0 15px 25px;}
.dw_showbox .wdline{margin:15px 10px 15px 10px;}
.box_kuang{border:1px solid #c9c9c9;}
.box_body{ padding:0 15px; margin-bottom:15px;}
.box_list{margin:0 0 0 10px; width:100%; float:left; _display:inline;}
.box_list li{ margin:5px 0;float:left;_display:inline; width:100%;}
.box_list li span{ font-size:14px;float:left;_display:inline; height:18px; width:74px;margin-top:8px;}
.box_list li em{ font-size:12px;float:left;_display:inline; height:18px; margin-left:7px;}
.box_list li i{ font-size:12px;float:left;_display:inline; height:18px;  margin:10px 5px 0 5px; color:#ff4100;}
.box_list input{ height:34px;font:12px Microsoft YaHei,Arial,"宋体"; line-height:34px\9; width:246px; padding-left:10px;}
.box-txt{border:1px solid #ddd; float:left; _display:inline;}
.box-error{border:1px solid #ff4100; color:#ff4100;}
.box-on{border:1px solid #999;}
.box_ship{float:left; _display:inline; width:254px;height:32px;font:12px Arial,"宋体"; overflow:hidden; line-height:32px; margin-left:10px;border:1px solid #ddd; background-color:#f7f7f7;}
.box_tberror{ width:18px; height:18px;background:url(http://s4.dwnews.net/images/www/show_box.png) no-repeat 0 0px;  margin:8px 0px 0 0px; color:#ff4100;}
.box_tbok{ width:18px; height:18px;background:url(http://s4.dwnews.net/images/www/show_box.png) no-repeat 0 -26px ;  margin:8px 0px 0 0px; }
.box_yzm{ color:#000; float:left; _display:inline; margin-left:7px; }
.box_yzm em{ margin-top:10px;}
.box_yzm a.yzm_change{ color:#000; }
.box_protocol{ margin:20px 0 20px 65px;float:left; _display:inline; }
.box_protocol span{ margin-top:10px; width:290px;}
.box_protocol input{ float:left; margin:2px 5px 0 0;float:left; _display:inline;}
.box-anniu{ margin-left:88px; margin-bottom:20px;}
.box-anniu .btn-regist{ width:130px; height:50px; overflow:hidden;background:url(http://s4.dwnews.net/images/www/show_box.png) no-repeat 0 -62px;  text-indent:-300px;}
.box-anniu a.btn-clearall{ width:68px; height:28px; overflow:hidden; margin:10px 0 0 38px; font-size:14px;}
.box-anniu .btn-clearall-other{ width:68px; height:28px; overflow:hidden;background:url(http://s4.dwnews.net/images/www/show_box.png) no-repeat 0 -120px; margin:5px 0 0 38px;  text-indent:-300px;}

.box-anniu .box-xian{ width:20px; height:100%; overflow:hidden;background:url(http://s4.dwnews.net/images/www/show_box.png) no-repeat 0 -200px; margin:5px 0 0 38px; }
.box-other{position: absolute; right:80px; width:175px; bottom:80px;background:url(http://s4.dwnews.net/images/www/show_box.png) no-repeat 0 -200px;} 
.box-other-login{ bottom:20px;}
.box-other span{ margin-bottom:20px; margin-left:60px; font-size:14px; width:100%;} 
a.box-facebook,a.box-twitter{background:url(http://s4.dwnews.net/images/www/show_box.png) no-repeat; width:36px; height:36px; display:block; float:left; margin-right:20px; text-indent:-300px; overflow:hidden;}
a.box-facebook { background-position: 0 -161px; margin-left:60px;}
a.box-facebook:hover{ background-position: 0 -161px; }
a.box-twitter{background-position: -52px -161px;}
a.box-twitter:hover{ background-position: -52px -161px;}
.box_about{ height:46px; line-height:46px; text-align:center; background-color:#efefef; }
.box_about a{ margin:0 10px;}

/*---------整站提示框样式---------*/
.dw_tips_bg{position: absolute; top: 0px; background-color: #000; opacity: 0.7;filter: alpha(opacity=70);-moz-opacity: 0.7;left: 0px; width: 100%; height: 100%; z-index: 10000;}
.dw_tipsbox{background-color:#fff;position: absolute; left: 30%; top: 30%;width: 670px;z-index: 10001;border: 2px solid #cdcdcd;-webkit-box-shadow: 0 0 10px #000;-moz-box-shadow: 0 0 10px #000;box-shadow: 0 0 10px #000;}
a.tips_close{ position:absolute; right:15px; top:15px; display:inline; width:30px; height:30px;background:url(http://s0.dwnews.net/images/www/tips-btn.png) no-repeat right 0; text-indent:-300px; overflow:hidden;}
a.tips_close:hover{ background-position: right -31px;}
.tips_title{ font-size:18px; color:#ff4100; margin:15px 0 15px 15px;}
.dw_tipsbox .wdline{margin:0;}
.tips_kuang{border:1px solid #c9c9c9;}
.tips_body{ padding:15px; margin:15px 0;}
.dw_tipsbox .tips_p{ font-size:14px;}
.tips_btn{text-align:center;}
.tips_btn a{ display:inline-block; color:#fff; margin:15px 10px; width:80px; height:31px; text-align:center; line-height:31px;background:url(http://s4.dwnews.net/images/www/tips-btn.png) no-repeat;}
a.tip_ok{ background-position:0 0;}
a.tip_ok:hover{ background-position:-81px 0px;}
a.tip_qux,a.tip_close{ background-position:0 -32px;}
a.tip_qux:hover,a.tip_close:hover{ background-position:-81px -32px;}
/*---------滚动条美化样式--------*/
#dv_scroll{position:absolute;overflow:hidden;}
#dv_scroll .Scroller-Container{width:100%;}
#dv_scroll_bar {position:absolute;right:0;top:58px;width:14px;height:100%;border-left:1px solid #B5B5B5;}
#dv_scroll_bar .Scrollbar-Track{position:absolute;left:0;top:20px;width:14px;height:100%;}
#dv_scroll_bar .Scrollbar-Handle{position:absolute;left:-7px;top:0;width:13px;height:29px;overflow:hidden;background:url(http://s0.dwnews.net/images/www/srcoll.gif) no-repeat 0 0;cursor:pointer;}
#dv_scroll_bar .Scrollbar-Handle-on{position:absolute;left:-7px;top:0;width:13px;height:29px;overflow:hidden;background:url(http://s0.dwnews.net/images/www/srcoll.gif) no-repeat 0 -29px;cursor:pointer;}
/*------------整站加载更多------------*/
.comm_loading,.comm_loadingend,.comm_loadingnone,.comm_loadingback,.comm_loading1{ width:88%; border:1px solid #f0f0f0; height:50px; display:block; margin:30px auto; margin-right:0;background:url(http://s2.dwnews.net/images/www/loading.png) no-repeat center center #fafafa; text-indent:-2000px; overflow:hidden;}
.comm_loadingend{background:url(http://s3.dwnews.net/images/www/loading_end.png) no-repeat center center #fafafa;}
.comm_loadingnone{background:url(http://s4.dwnews.net/images/www/loading_none.png) no-repeat center center #fafafa;}
.comm_loadingback{background:url(http://s3.dwnews.net/images/www/loading_back.png) no-repeat center center #fafafa;}
/*---------底部图集样式1---------*/
.gallery-title{width:310px;height:76px; position:absolute; left:0;top:156px; background:url(http://s1.dwnews.net/images/www/bqp_logo.gif) no-repeat 0 0;}
.dlj{background:url(http://s1.dwnews.net/images/www/dlj_logo.gif) no-repeat 0 0;}
.ktt{background:url(http://s3.dwnews.net/images/www/ktt_logo.gif) no-repeat 0 0;}
.xxc{background:url(http://s0.dwnews.net/images/www/xxc_logo.gif) no-repeat 0 0;}
.tjtx{background:url(http://s4.dwnews.net/images/www/tjtx_logo.gif) no-repeat 0 0;}
.gallery-title a.bqplogo{color:#fff; text-decoration:none; float:right; text-align:right; width:60px; height:34px; line-height:34px;background:url(http://s0.dwnews.net/images/www/icon.png) no-repeat 51px -787px; padding-right:27px; margin:30px 35px 0 0;}
.gallery-title a.bqplogo:hover{color:#ff4100;}
.gallery-thumbs { margin-left:20px;}
.gallery-thumbs .thumb-item{ float:left; _display:inline; width:150px; margin:0 10px 10px 0;}
.gallery-thumbs .thumb-item h3{ font-weight:normal; cursor:pointer; font-size:12px; line-height:30px; height:30px; overflow: hidden}
.gallery-thumbs a:hover h3{color:#ff4100;}
.gallery-thumbs .thumb-big-item{position:relative; float:left; _display:inline;width:310px; height:232px; margin:0 10px 10px 0; overflow:hidden;}
.gallery-thumbs .thumb-big-item .txt-bg{ position:absolute; height:94px;width:310px; left:0;background:url(http://s1.dwnews.net/images/www/tj_bg.png) repeat-x bottom; bottom:0px;}
.gallery-thumbs .thumb-big-item h3{color:#fff; font-size:18px;text-decoration:none;font-weight:normal; left:0; bottom:10px;position:absolute;line-height:25px; padding:0px 15px;overflow:hidden;z-index:3; cursor:pointer;}
.gallery-thumbs .thumb-middle-item{ float:left; _display:inline; position: relative; width:320px; margin:0 0 0 0;}
/*------------整站广告代码------------*/
.m-banner{ margin:15px 0 0 0;}
.gg-tong{ background-color:#434343; padding:20px 15px; padding-bottom:0px\9;}
.dibuaa{ margin:10px 0 15px 0; text-align:center;}
/*---------右侧商业栏目---------*/
.dw_business{ width:300px;}
/*------------商业栏目------------*/
.caito{width:300px; margin-top:10px; margin-top:15px\9;}
.caito li{width:100%; height:34px; margin-bottom:1px; margin-top:-4px\9;font:normal 12px/34px Microsoft YaHei; overflow:hidden; }
.caito-heng{ float:left; width:100%; background-color:#fff; padding:0px 0 5px 0; margin-top:-4px;}
.caito-heng .caito{ width:100%; margin-top:0;}
.caito-heng .caito li{ float:left; width:310px; margin-left:15px; margin-top:0px\9;}
.caito li a{color:#fff; display:block; width:100%; float:left; line-height:34px; height:34px;padding:0 15px;}
.caito li a:hover{color:#fff; background-color:#000;}
.caito li .s1{ width:120px;}
.caito li .s2{ border-left:1px solid #fff; width:119px;}
.caito li.sec01{background:#0fa6e8;}
.caito li.sec02{background:#5292ae;}
.caito li.sec03{background:#6bbab8;}
.caito li.sec04{background:#e27e3f;}
.caito li.sec01 a:hover{background:#1fbbff;}
.caito li.sec02 a:hover{background:#5ba4c4;}
.caito li.sec03 a:hover{background:#7ad0ce;}
.caito li.sec04 a:hover{background:#e27e3f;}
.caito li.last a{ width:216px;}
.caito li.last .sxmore{ width:34px; float:right; text-align:center;}
.caito li.last .sxmore:hover{width:34px; float:right; text-align:center;}

/*---------公共部分—右侧新闻排行---------*/
.paihb{width:300px; padding-bottom:2px;}
.phbox{width:300px;}
.phtop{background:url(http://s2.dwnews.net/images/www/gg_phbg.gif) repeat-x; color:#333; height:42px;width:300px; margin-bottom:15px;}
.phtop li{float:left;}
.phtop .menu_tab_li{font:normal 20px/42px Microsoft YaHei; width:50%; height:42px; background:url(http://s3.dwnews.net/images/www/gg_phtbg01.gif) no-repeat; text-align:center; float:left;}
.phtop .menu_tab_li a{display:block; text-decoration:none; color:#000;}
.phtop .menu_tab_hover{font:normal 20px/42px Microsoft YaHei; width:50%; height:42px; background:url(http://s4.dwnews.net/images/www/gg_phtbg.gif) no-repeat; text-align:center; float:left;}
.phtop .menu_tab_hover a{color:#000; text-decoration:none;}
.newsphbox{width:300px; font:normal 12px/22px Arial, Helvetica, sans-serif; overflow:hidden;}
.menu {height:18px;width:300px;}
.menu ul {margin:0px; padding:0px; list-style:none;}
.menu li {width:80px; height:18px; text-align:center; float:left; margin:0 7px 0 0;}
.menu li a{color:#999; text-decoration:none; font:normal 12px/18px Arial, Helvetica, sans-serif; display:block; background:url(http://s3.dwnews.net/images/www/gg_48h.gif) no-repeat;}
.menu li a.tabactive {background:url(http://s1.dwnews.net/images/www/gg_24h.gif) no-repeat; color:#fff; position:relative;}
#tabcontent1,#tabcontent2,#tabcontent3{width:300px; overflow:hidden;}
ul.top10{width:300px;}
ul.top10 li{width:300px; height:32px; font:normal 14px/32px Microsoft YaHei; color:#333; border-bottom:1px dashed #ccc; overflow:hidden;}
ul.top10 li img{float:left; margin:8px 8px 0 0;}
ul.top10 li.top{border-bottom:1px solid #fff;}
/*---------右侧热门图集样式------------*/
.imgbox{width:300px;}
.imgbox h3{font:normal 20px/22px Microsoft YaHei; color:#000; margin-bottom:15px;}
.imgph{width:300px;border-top:1px solid #ccc;}
.imgph li{width:300px; height:45px; font:normal 14px/45px Microsoft YaHei; color:#333; border-bottom:1px solid #ccc; position:relative; overflow:hidden;}
.imgph li img{float:left; width:60px; height:45px; margin:0 10px 0 0;}
.imgfc{width:28px; height:28px; font:bold 12px/20px Arial, Helvetica, sans-serif; padding-left:5px; color:#fff; background: url(http://s3.dwnews.net/images/www/tjico01.png) no-repeat; position:absolute; top:0; left:0; filter:progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=80,finishOpacity=100); opacity:0.80;}
.imgfc01{width:20px; height:20px; font:bold 14px/20px Arial, Helvetica, sans-serif; padding-left:5px; color:#fff; background: url(http://s0.dwnews.net/images/www/tjico02.png) no-repeat; position:absolute; top:0; left:0; filter:progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=80,finishOpacity=100); opacity:0.80;}

/*---------网站右侧返回顶部css样式---------*/
.public_right{cursor: pointer;position: fixed;bottom: 122px; right:7px;z-index:99;}
.btn-inner-text {display: none;text-decoration: none;color: #8d8f92;text-align: center;position: relative;width: 35px;top: 37px;left: 1px;line-height: 15px; font-family: Arial;}
.backTop,.r-charts,.r-publish,.r-help,.r-opinion{text-decoration: none;width: 54px;height: 54px;background: url(http://s4.dwnews.net/images/www/public_right.png) no-repeat 0px 0px;display:block; margin-bottom:10px;}
.backTop{ background-position:0 -123px;}
.r-publish{ background-position:0 -60px;}
.r-help{ background-position:0 -184px;}
.r-opinion{ background-position:0 -244px;}
a.r-charts:hover{ background-position:-90px 0px;}
a.backTop:hover{ background-position:-90px -123px;}
a.r-publish:hover{ background-position:-90px -60px;}
a.r-help:hover{ background-position:-90px -184px;}
a.r-opinion:hover{ background-position:-90px -244px;}

.r-vote{text-decoration: none;width: 100px;height: 126px; margin-left:-45px; background: url(http://s4.dwnews.net/images/www/vote2015.jpg) no-repeat 0px 0px;display:block; margin-bottom:10px;}
a.r-vote:hover{filter: alpha(opacity=80);-moz-opacity: 0.80;opacity: 0.80;}
.r-dwcn{text-decoration: none;width: 100px;height: 138px; margin-left:-45px; background: url(http://s4.dwnews.net/images/www/dwcn.png) no-repeat 0px 0px;display:block; margin-bottom:10px;}
a.r-dwcn:hover{filter: alpha(opacity=80);-moz-opacity: 0.80;opacity: 0.80;}
.r-dwios{text-decoration: none;width: 100px;height: 126px; margin-left:-45px; background: url(http://s4.dwnews.net/images/www/dwios.png) no-repeat 0px 0px;display:block; margin-bottom:10px;}
a.r-dwios:hover{filter: alpha(opacity=80);-moz-opacity: 0.80;opacity: 0.80;}

/*------------电子报------------*/
.dzbbox{width:300px; height:128px; border-top:2px solid #e9e9e9; background:#fafafa; position:relative;}
.dzbbox h2{text-align:center; font:normal 18px/44px Microsoft YaHei; color:#f40000;}
.dzbdy01{position:absolute; left:10px; top:46px; font:normal 13px/28px Microsoft YaHei; color:#333;}
.dzbdy01 input{float:left; margin:7px 5px 0 0; *margin:4px 5px 0 0;}
.dzbdy02{position:absolute; left:120px; top:46px; font:normal 13px/28px Microsoft YaHei; color:#333;}
.dzbdy02 input{float:left; margin:7px 5px 0 0; *margin:4px 5px 0 0;}
.dzbdy03{position:absolute; left:10px; top:80px;}
.dzbdy03 input{padding:8px 12px; width:200px; height:20px; font:normal 14px/20px Microsoft YaHei; border:0; color:#999; background:url(http://s0.dwnews.net/images/www/dzb_bdb.png) no-repeat;}
.dzbdy04{position:absolute; left:238px; top:80px;}
.dzbdy04 input{padding:0; width:54px; height:36px; border:0; background:url(http://s1.dwnews.net/images/www/dzb_btn.png) no-repeat 0 -73px; cursor:pointer;}

/*------------2015春节，恭喜发财，祝多维财源广进，财运亨通，飞黄腾达，三羊开泰，羊年吉祥！
.main_bg{background:url(http://s0.dwnews.net/images/www/newyear-big_02.png) no-repeat center top #f2f2f2 !important;}
.header_bg{background:url(http://s0.dwnews.net/images/www/newyear-big_01.png) no-repeat center top;}
.logo{background: url(http://s0.dwnews.net/images/www/logo-newyear.png) no-repeat left top !important; height:80px !important;}
.header h1 {margin: 2px 0 2px 10px !important;}
.search {background: url(http://s0.dwnews.net/images/www/search-year.png) no-repeat left 1px;}
.dwpro a{ color:#fff;}
.pro_line {background: url(http://s0.dwnews.net/images/www/pro-line-year.png) no-repeat 0px 0px;}
a.pro_vote {background: url(http://s0.dwnews.net/images/www/icon.png) no-repeat -154px -966px;}------------*/

/*------------2016春节，恭喜发财，祝多维财源广进，财运亨通，飞黄腾达！------------*/
/*
.main_bg{background:url(http://s0.dwnews.net/images/www/newyear-big_02.png) no-repeat center top #f2f2f2 !important;}
.header_bg{background:url(http://s0.dwnews.net/images/www/newyear-big_01.png) no-repeat center top;}
.logo{background: url(http://s0.dwnews.net/images/www/logo-newyear.png) no-repeat left top !important; height:80px !important;}
.header h1 {margin: 2px 0 2px 10px !important;}
.search {background: url(http://s0.dwnews.net/images/www/search-year.png) no-repeat left 1px;}
.dwpro a{ color:#fff;}
.pro_line {background: url(http://s0.dwnews.net/images/www/pro-line-year.png) no-repeat 0px 0px;}
a.pro_vote {background: url(http://s0.dwnews.net/images/www/icon.png) no-repeat -154px -966px;}
a.pro_szk{background:url(http://s0.dwnews.net/images/www/yuedu-bai.png) no-repeat 3px 1px; padding-left:24px; margin-left:8px;}
a.pro_szk:hover{ background-position:3px 1px;}
*/

/*------------footer杂志广告20151012------------*/
.magaz-bg{ float:right; border-left:#3f3f3f solid 1px; margin:19px 0px 0 0;}
.magaz-sub{ padding:10px 0 10px 40px; border-left:#838383 solid 1px; position:relative;}
.magaz-sub a.sub-to{background:url(http://s4.dwnews.net/images/www/dwcn/sub-to.png) no-repeat 0 0; width:103px; height:25px; text-indent:-900px; overflow:hidden; position:absolute; left:153px; top:91px; }
.magaz-sub a.sub-to:hover{background:url(http://s4.dwnews.net/images/www/dwcn/sub-to.png) no-repeat 0 -25px;}