﻿@charset "utf-8";
/*---------------------*/
.area-main{ padding:0 15px;}
.area-main .dw_business{ margin-left:20px;}
h1 a,h2 a, h3 a{ color:#081c41}
/*------------标题------------*/
.bt_h2,.bt2_h2{background:url(http://s0.dwnews.net/images/www/bt_bg2.png) repeat-x left center;}
.bt_h2 span,.bt_h2 a,.bt2_h2 span,.bt2_h2 a{background:url(http://s1.dwnews.net/images/www/biaoti_index.gif) no-repeat #fff;}
a.tit_gdpl{ background-position:11px -6px; width:140px;}
a.tit_gdpl:hover{ background-position:-135px -6px;}
a.tit_sdbd{ background-position:0px -45px;}
a.tit_dwch{ background-position:0px -85px;}
a.tit_zjj{ background-position:0px -123px;}
a.tit_zrd{ background-position:0px -162px;}
a.tit_fhjy{ background-position:0px -200px;}
a.tit_mhua{ background-position:0px -240px;}
a.tit_sswm{ background-position:0px -278px;}

/*------------要闻区------------*/
.head-line{ background-color:#f2f2f2; width:388px; margin:0; padding-bottom:10px;}
.head-line h1{ font-size:20px; font-weight:normal; margin:10px 15px 5px 15px;}
.head-line p{ color:#666; font-size:12px; margin:10px 15px 5px 15px; line-height:18px;}
.head-line .news-sa{ margin:0px 15px;}
.news-sa li{ line-height:26px; height:26px; overflow: hidden;}
.news-sa li a{ font-size:14px; margin-right:15px;}
.shade-bg{background:url(http://s2.dwnews.net/images/www/shade_bg.png) no-repeat 0 0; width:388px; height:15px;}
.hot-news{ width:570px;}
.hot-news .wdline{ margin:10px 0 0 15px;}
.news-line .news-body{ width:265px; margin:0 0 0 20px;}
.hotnews-list,.perspective{ width:570px; position:relative;}
.hotnews-list li,.perspective li{width:265px; margin-left:20px;}
.hotnews-list .dw_newslist{ margin-top:5px;}
.perspective .bt2_h2{ margin:3px 0 3px 20px;}
.perspective .dw_newslist{ margin-top:-8px;}

/*------------深度报道------------*/
.depth_headline{ width:234px; background-color:#f2f2f2; margin-top:4px; height:330px; overflow:hidden;}
.depth_headline h3{ margin:10px; font-weight:normal;}
.depth_headline h3 a{ font-size:16px;}
.depth_headline p{ line-height:18px; margin:0 10px; color:#666;}
.depth_headline .dw_newslist{ padding:10px 0 15px 10px; width:210px;}
.depth_headline ul li{ line-height:20px; background-position:0 -4px; height:20px; text-indent:12px;}
.depth_headline ul li a{ font-size:12px; color:#222;}
.depth_headline ul li a:hover{ color:#ff4100;}
.depth_hotnews{ width:385px; margin-left:20px;}
.depth_hotnews .dw_newslist{ margin-top:8px;}
.depth_hotnews li{ width:386px;}
.depth_hotnews p{ line-height:20px;}
.depth_hotnews .wdline{ margin:10px 0 10px 0;}


/*------------多维策划------------*/
.plan_block{ width:200px;}
.plan_block h3{ margin:10px 0; line-height:22px; font-size:16px; font-weight:normal;}
.plan_block p{ color:#666; line-height:20px;}
.plan_block .dw_newslist{ margin:5px 0 0 0;}
.plan_block ul li{ line-height:24px; background-position:0 -2px; height:24px; text-indent:12px;}
.plan_block ul li a{ font-size:12px; color:#222;}
.plan_block ul li a:hover{ color:#ff4100;}
.plan_photo{ position:relative; display:block;}
.p_photo_tit{ bottom:0; right:0; left:auto; top:auto; width:86px;}

/*------------政聚焦------------*/
.politics_block{ width:310px; float:left; _display:inline;}
.poligj{ width:320px; height:234px; overflow:hidden; position:relative;}
.politics_block .news-body{ margin-top:10px;}
.politics_block .dw_newslist{ margin-top:8px;}
.poli_list{ float:left; width:50%;}
.poli_list .wrap_news{ margin-right:15px; margin-bottom:15px; width:145px; height:109px; overflow:hidden;}
.poli_list .wrap_news .wrap_title{top: 31%;}
.poli_list .wrap_news h3{ font-size:14px; line-height:20px;}


/*------------最热点------------*/
.hot_block{ width:310px; margin-bottom:0px; margin-bottom:10px\9; float:left; _display:inline;}
.hot_block .news-body{ margin-bottom:10px;}
/*------------烽火记忆------------*/
.beacon_block{ width:310px; float:left; _display:inline; margin-bottom:0px; margin-bottom:10px\9;}
.beacon_block .wdline{ width:100%; float:left; _display:inline; margin-bottom:12px;}
.beacon_block .dw_newslist{ margin:3px 0 10px 0;}
.beacon_pic{ width:310px;overflow:hidden; }
.beacon_pic li{ width:50%;}

/*------------漫·话------------*/
.caricature_block .mod-rep-img,.caricature_block .mod-big-img{float:left; _display:inline; margin:0 12px 8px 0; width:180px; height:136px; overflow:hidden;}
.caricature_block .mod-big-img{width:372px; height:280px;}
.caricature_block a:hover img{filter: alpha(opacity=90);-moz-opacity: 0.9;opacity: 0.9;}

/*------------时尚文脉------------*/
.culture_block{ width:310px; margin-bottom:0px; float:left; _display:inline;}
.culture_block .dw_newslist{ margin:8px 0 10px 0;}
.culture_block .wdline{ margin:0px 0 15px 0;}
.culture_block .news_photo{ height:120px;}
.culture_block .photo-news{ margin-bottom:15px;}
.culture_pic{ width:310px;overflow:hidden; }
.culture_pic li{ width:50%;}
.zxfcpic .photo-news-info{ color:#333; bottom:50px;}
.zxfcpic h3{ font-size:24px; line-height:32px;}
.zxfcpic .photo-news-bg {position: absolute;height: 85px;width: 310px;bottom: 40px;background: #fff;z-index:0;filter: alpha(opacity=70);-moz-opacity: 0.7;opacity: 0.7;}


/*------------社区------------*/
.community_block{ border-bottom: 1px solid #ecebec; margin:0 15px; border-top: 4px solid #434343; height:500px; position:relative;}
.community-hots{ width:310px;height:515px; overflow:hidden; position:absolute; top:-15px; left:325px; right:auto; bottom:auto; background-color:#f2f2f2;border: 1px solid #cdcdcd;-webkit-box-shadow: 0 0 10px #ccc;-moz-box-shadow: 0 0 10px #ccc;box-shadow: 0 0 10px #ccc;}
.community_block .caito li.last a{ width:208px;}
.community_block .caito li.last .sxmore{ width:32px;}
.guests{ width:310px;}
.follow-us{ width:300px;}
.guests_list { width:310px;}
.guests_list .p_username{ text-align:center;}
.guests h2{ margin:10px 0; font-weight:normal; font-size:18px;}

.community-all{height:450px; width:305px;}
.community-hots h2{ margin:15px auto 10px auto;background:url(http://s3.dwnews.net/images/www/biaoti_index.gif) no-repeat #fff 0 -313px; width:98px; height:30px;  text-indent:-200px; overflow:hidden; font-weight:normal;}
.comm-body { margin:10px;}
.comm-body .c_photo{ float:left; _display:inline; width:60px;  overflow:hidden; text-align:center; margin-right:5px;}
.comm-body .c_photo .c_name{ height:18px;overflow:hidden;}
.comm-body .photo_k{ width:60px; height:60px; margin:3px 0 5px 0;overflow:hidden;}
.comm-body .photo_k img{ width:100%;}
.comm-body h4{ font-weight:normal; font-size:14px; margin-bottom:10px; line-height:20px; overflow:hidden;}
.comm-body a.c_column{ background-color:#ff4100; text-decoration:none; font-size:12px; margin:0 5px 0 0; color:#fff; padding:0 2px;font-family:Arial,"宋体"; font-weight:normal;}
.comm-body a.c_column:hover{background-color:#e95800;}
.comm-body p{ font-size:12px;height:16px; overflow:hidden; color:#666; }
.comm-body .c_multi{ color:#666; margin-top:7px;}
.comm-body .c_multi a{ color:#666; }
.comm-body .c_multi a:hover{ color:#ff4100;}
.comm-body .c_multi i{ margin:0 8px;}
.comm-body .line{ height:2px; margin:10px 0 5px 0;width: 280px; line-height:2px;background:url(http://s4.dwnews.net/images/www/xian2.gif) repeat-x 0 0;}
a.c_refresh{ position:absolute; right:15px; top:20px; overflow:hidden;background:url(http://s0.dwnews.net/images/www/c_refresh.png) no-repeat 0 0; display:block; width:26px; height:26px; text-indent:-200px;}
.c_article{ margin-top:0px;}
.c_article .c_author{ float:right; _display:inline; margin:8px 0 5px 0; font:12px Arial,"宋体" ;  color:#666}

/*------------首页图集------------*/
.gallery-index{ margin:15px 0 0 15px; position:relative; height:445px; overflow:hidden;}
.gallery-index .mod-big-photo,.gallery-index .mod-rep-photo,.gallery-index .mod-high-photo{float:left; _display:inline; width:184px; height:137px; overflow:hidden; position: absolute;}
.gallery-index .mod-big-photo{width:378px; height:284px;}
.gallery-index .mod-high-photo{width:184px; height:284px;}
.gallery-index h3{ height:39px; line-height:39px; position:absolute; font-size:12px; overflow:hidden; top:auto; bottom:0; padding:0 10px 0 10px; left:0; right:auto;z-index: 11; font-weight:normal;}
.gallery-index a{ color:#FFF;}
.gallery-index a:hover{ color:#ff4100;}
.mod-big-photo h3{ font-size:18px;}
.gallery-index .photo-bg{ position: absolute;left:0; right:auto; top:auto; bottom:0;width: 100%;height: 39px;z-index: 10;background-color: #000;filter: alpha(opacity=50);-moz-opacity: 0.5;opacity: 0.5;cursor: pointer;}
.mod-high-photo .photo-bg{ background-color: #383838;filter: alpha(opacity=100);-moz-opacity: 1;opacity: 1;}
/*------------黑色背景新闻------------*/
.wrap_news .wrap_title{ width:80%; top:20%; left:10%;}
.wrap_title h3{ font-size:18px; line-height:28px;}
.wrap_title p{ font-size:12px; line-height:18px; margin-top:15px;}
/*------------横向排行版------------*/
.charts-heng{background-color: #434343;padding:0 15px 0px 15px; position:relative; width:960px;}
.news-chart{background:url(http://s1.dwnews.net/images/www/public.png) no-repeat 0 0; position:absolute; top:-12px; left:15px; width:120px; height:40px; display:block;overflow:hidden; text-indent:-200px;}
.title-chart .biaoqian{ float:left; _display:inline; border:1px solid #575757; border-right:none; margin-left:116px;}
.title-chart .biaoqian a{ padding:2px 15px; border-right:1px solid #575757; float:left; text-align:center; width:64px; font-size:16px; color:#fff; display:block;}
.title-chart .biaoqian a:hover,.title-chart .biaoqian a.bq_on{ background-color:#616161;}
.title-chart .chart-all{float:right; _display:inline; margin-top:10px;}
.title-chart .chart-all a{float:left; _display:inline; font-size:18px; color:#fff;}
.title-chart .chart-all i{ margin: 0 10px; font-size:18px; color:#535353;}

.chart-list{ float:left; _display:inline; margin:2px 12px 12px 12px;}
.chart-list li{ font-size:14px; width:33.3%; float:left; _display:inline; margin:5px 0; overflow:hidden; height:19px;}
.chart-list li a{ color:#fff;}
.chart-list li img{ margin-right:5px; float:left; _display:inline; margin-top:3px;}
/*------------FollowUs------------*/
.follow-us{ width:300px; height:179px;}
/*---------.follow-us iframe{ width:310px; margin-left:-10px; height:265px; overflow:hidden}------*/
.follow-us .follow-title{ font-size:14px; margin:15px 0 5px 0;}

/*--------------弹出层---------------*/
.tyshowbox_body{position: fixed;left: 0; top: 0;width:685px; height:380px;z-index: 10000;border-radius: 5px;}
.tyshowbox_bg{position: fixed; top: 0px; background-color: #000; opacity: 0.85;filter: alpha(opacity=85);-moz-opacity: 0.85;left: 0px; width: 100%; height: 100%; z-index: 9999;}
.tys_kuan{ margin:0; text-align:center;}
a.tys-close{display: block; width: 31px; height: 31px; text-indent: 50px; background: url(http://s2.dwnews.net/images/www/btn-close.png); overflow: hidden; position: absolute; top: -14px; right: -14px;}

/*--------------网站新版指引---------------*/
.guide_body{position: absolute;z-index: 999;top: 0;left: 0;width: 990px;left: 50%;margin-left: -495px;}
.guide_bg{position: fixed; top: 0px; background-color: #000; opacity: 0.4;filter: alpha(opacity=40);-moz-opacity: 0.4;left: 0px; width: 100%; height: 100%; z-index: 998;}
.guide_body .guide1-5{position: absolute; width:337px; height:260px;background: url(http://s2.dwnews.net/images/www/guide/guide1-5.png); top:8px; left:540px;}
.guide_body .guide2-5{position: absolute; width:311px; height:257px;background: url(http://s2.dwnews.net/images/www/guide/guide2-5.png); top:783px; left:0;}
.guide_body .guide3-5{position: absolute; width:307px; height:257px;background: url(http://s0.dwnews.net/images/www/guide/guide3-5.png); top:3770px; left:0;}
.guide_body .guide4-5{position: absolute; width:303px; height:258px;background: url(http://s1.dwnews.net/images/www/guide/guide4-5.png); top:4915px; left:5px;}
.guide_body .guide5-5{position: absolute; width:974px; height:668px;background: url(http://s2.dwnews.net/images/www/guide/guide5-5.png); top:5410px; left:8px;}
.r-guide{text-decoration: none;width: 63px;height: 51px;background: url(http://s3.dwnews.net/images/www/guide/go-guide.png) no-repeat 0px 0px;display:block; position:absolute; top:-61px; left:-5px;}
a.r-guide:hover{ background-position:0 -51px;}

/*--------------大图广告20150518---------------*/
.big-gg{background:#ff7103;}
.big-imgg{ width:980px; height:496px; margin:0 auto; position:relative; overflow:hidden;}
.close-gg{ position:absolute;  right:20px; z-index:5; bottom:20px; display:block; width:84px; height:32px;background: url(http://s2.dwnews.net/images/www/dwcn/close-gg.png) no-repeat 0px 0px; }
a.close-gg:hover{ background-position:0 -32px;}

/*--------------大图广告---------------*/

/*--------------香港广告---------------*/
.big2-gg{background:#e1982f; position:relative;}
.big2-imgg{ width:980px; height:496px; margin:0 auto; position:relative; overflow:hidden;}
.close2-gg{ position:absolute;  right:20px; z-index:5; bottom:20px; display:block; width:84px; height:32px;background: url(http://s2.dwnews.net/images/www/dwcn/close-gg.png) no-repeat 0px 0px; }
a.close2-gg:hover{ background-position:0 -32px;}
a.big2-btn{ position:absolute;  left:264px; z-index:5; bottom:86px; display:block; width:178px; height:70px;background: url(http://s2.dwnews.net/images/www/dwcn/dwcn-btn.png) no-repeat 0px 0px; }
a.big2-btn:hover{ background-position:0 -70px;}
/*--------------香港广告---------------*/


/*--------------ios港广告---------------*/
.big3-gg{background:#c5c5c5; background-image:url(http://s2.dwnews.net/images/www/dwcn/iosapp/bgwhite_1.png) ; position:relative;}
.big3-imgg{ width:980px; height:496px; margin:0 auto; position:relative; overflow:hidden;}
.close3-gg{ position:absolute;  right:20px; z-index:5; top:5px; display:block; width:84px; height:32px;background: url(http://s2.dwnews.net/images/www/dwcn/iosapp/close-gg.png) no-repeat 0px 0px; }
a.close3-gg:hover{ background-position:0 -32px;}

.big4-gg{background:#be121a; background-image:url(http://s2.dwnews.net/images/www/dwcn/iosapp/bgred1.png) ; position:relative;}
.big4-imgg{ width:980px; height:496px; margin:0 auto; position:relative; overflow:hidden;}

.big5-gg{background:#be121a; position:relative;}
.big5-imgg{ width:980px; height:496px; margin:0 auto; position:relative; overflow:hidden;}

.big7-gg{background:#f99300; position:relative;}
.big7-imgg{ width:980px; height:496px; margin:0 auto; position:relative; overflow:hidden;}

/*--------------ios广告---------------*/
/*--------------vote2015广告---------------*/
.big6-gg{ background:url(http://s2.dwnews.net/images/www/vote2015/vote2015-bg1.jpg) center center #d33331; position:relative;}
.big6-imgg{ width:980px; height:496px; text-align:center; margin:0 auto; position:relative; overflow:hidden;}
.vote-banner{ margin:68px auto 35px auto;}
.close6-gg{ position:absolute;  right:20px; z-index:5; top:15px; display:block; width:84px; height:32px;background: url(http://s2.dwnews.net/images/www/vote2015/close-gg.png) no-repeat 0px 0px; }
a.close6-gg:hover{ background-position:0 -32px;}
a.vote-botton{background:url(http://s2.dwnews.net/images/www/vote2015/vote-botton.png) 0 0; width:420px; height:68px; display:block; margin:0 auto;}
a.vote-botton:hover{ background-position:0 -68px;}
/*--------------vote2015广告---------------*/

/*--------------CN和TW拉幕广告---------------*/
.big12-gg{background:#e1921c; position:relative;}
.big12-imgg{ width:980px; height:496px; margin:0 auto; position:relative; overflow:hidden;}
a.close12-gg{  position:absolute;  right:20px; z-index:5; bottom:100px; display:block; width:84px; height:32px;background: url(http://s2.dwnews.net/images/www/dwcn/close-gg.png) no-repeat 0px 0px; }
a.close12-gg:hover{ background-position:0 -32px;}
a.big12-btn{ position:absolute;  left:121px; z-index:5; bottom:35px; display:block; width:178px; height:70px;background: url(http://s2.dwnews.net/images/www/dwcn/dwcn-btn.png) no-repeat 0px 0px; }
a.big12-btn:hover{ background-position:0 -70px;}
/*--------------CN和TW拉幕广告---------------*/

/*------------座上宾------------*/
.person_list .person_info span{ height:93px; display:block; line-height:93px; overflow:hidden;}

/*--------------重大新闻---------------*/
.inewsmain{padding:0 15px; width:960px;}
.inewsmain h1{font:bold 40px/90px Microsoft Yahei; text-align:center;}
.inewsmain h1 a{color:#000; display:block;}
.inewsmain h1 a:hover{color:#ff4100;}
.inewsmain h1.red a{color:#ac0000;}
.inewsmain h1.red a:hover{color:#ff4100;}
.inewsmain p{font:normal 14px/24px Microsoft Yahei; height:48px; color:#333; margin-bottom:10px; overflow:hidden;}
.inewsmain .imgbox{width:960px; height:390px; overflow:hidden; margin-bottom:10px;}
.inewsmain .lbbox{width:960px; height:63px; overflow:hidden; margin-bottom:5px; position:relative;}
.inewsmain .lbbox .left{position:absolute; top:0; left:0px; width:20px; height:63px; overflow:hidden;z-index:100;}/*left:0;;*/
.inewsmain .lbbox .right{position:absolute; top:0; right:0; width:20px; height:63px; overflow:hidden;z-index:100;}
.inewsmain .lbbox ul{width:920px; height:63px; margin:0 auto 0 20px; overflow:hidden;}
.inewsmain .lbbox li{float:left; margin:0 2px; width:140px; height:63px; padding:10px 20px; font:normal 14px/21px Microsoft Yahei; background:#d5d5d5;}/*margin:0 2px;width:140px;*/
.inewsmain .lbbox li a{color:#000; display:block;}
.inewsmain .lbbox li a:hover{color:#ff4100;}
#slide_list {left: 0;position: absolute;}
.slider-wrap {width:960px;height:63px;position:absolute;top:0;overflow:hidden;}

/*--------------重大新闻---------------*/