* {margin: 0;padding: 0;}
body{ background:url(images/body.jpg)  center 0px; background-color:#000; margin:0; padding:0;font:500 11px tahoma,Helvetica,sans-serif;color:#fff}
img{border:0}
a{text-decoration:underline; color:#FFF}
a:hover{text-decoration:none; color:#FFF}

#back-top { 
bottom: 20px;;
margin: 0px 50% auto;
position: fixed;
right: -530px;
z-index: 1;
}
.img_edit{margin-top: 3px;margin-left: 1px;}
#logo{margin: 10px 0px;}
h1{ margin:0; padding:0;}
p{ margin:0;  padding:0;}
p:first-letter, p:first-letter {font:700 51px tahoma,Helvetica,sans-serif; display:block;position:absolute;float:left;margin: -7px 3px -9px -3px;}

#content{width:965px;border: 2px #fff solid;background:url(images/bodyContent.png);margin: 20px auto 0px; padding:10px;color:#fff;font:500 11px tahoma,Helvetica,sans-serif}
#bottom a{color:#fff; font:700 12px tahoma,Helvetica,sans-serif;}
#vip{font:700 11px tahoma,Helvetica,sans-serif;text-decoration:none}
#newsImg:hover img{
width:50%
}
#bottom a { text-decoration: none;}
#bottom{width:987px;border-top: 2px #fff solid;border-bottom: 2px #fff solid;margin: 20px auto 20px; padding:20px;padding-left:2px;padding-right:0;color:#fff;font:500 12px tahoma,Helvetica,sans-serif; text-align:center}
#bottom h2{float:left;font:700 15px tahoma,Helvetica,sans-serif; margin-right:7px}
#bottom #nonMargin{margin-right:0}
#close, #load { 
height: 30px;
margin: 20px auto 5px;
text-align: center;
width: 120px;
font:700 12px tahoma,Helvetica,sans-serif;
}

#close div, #load div { 
border: 1px solid #FFF;
border-radius: 2px;
color: #01253e;
padding: 4px 10px;
background-color:#FFF;
}
.gallery{font:700 12px tahoma,Helvetica,sans-serif; color:#d7241f; text-decoration:underline}
.gallery:hover{font:700 12px tahoma,Helvetica,sans-serif; color:#d7241f; text-decoration: none}
.fb-like{ margin-left:-30px}
#newsBorder{border-bottom:1px #afafaf solid; width:100%; padding-bottom:10px; margin-bottom:10px;}
#newsTitle a{font:700 15px tahoma,Helvetica,sans-serif; text-decoration:none}
#newsTitle{margin-bottom:5px}
#newsDate{ float:left}
#newsImg img{border: 2px #fff solid; margin-right:10px; margin-top:5px; padding:2px}

#cabinet{color: #FFFFFF;height: 20px;position: absolute;right: -4px;text-align: right;top:10px;width: 200px;}
#cabinet a{color:#fff;font:700 12px tahoma,Helvetica,sans-serif; text-decoration:underline}
#cabinet a:hover{color:#fff;font:700 12px tahoma,Helvetica,sans-serif; text-decoration:none}
#cabinet img{margin: 0px 3px -1px 0px}

.img_news{border:#fff 2px solid;margin:0 5px 0 0;padding:5px}
.img_news2{border:#fff 2px solid;margin:5px 5px 0 0;padding:5px}
.textareaMessage{height: 94px;width:450px;}
.jimgMenu_2 {
	position:relative;
	margin: 0px auto 0px;
	padding: 0px;
	width:985px;
	height:520px;
	overflow: hidden;
	border: 2px #fff solid;
	background-color:#fff;
}
.jimgMenu_2 ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: block;
	height: 520px;
	position: relative;
}	
.jimgMenu_2 ul li {
	width: 124px;
	float: left;
	display: block;
	overflow: hidden;
}
.jimgMenu_2 ul li a { 
	background:#fff repeat scroll 0%;
	border-right: 2px solid #fff;
	cursor:pointer;
	display:block;
	overflow: hidden;
	height: 520px;
}
.jimgMenu_2 ul li#familyGuy a {
	background: url(images/familyGuy.jpg) repeat scroll 0%;
  
}
.jimgMenu_2 ul li#americanDad a {
	background: url(images/americanDad.jpg) repeat scroll 0%;

}
.jimgMenu_2 ul li#clevelandShow a {
	background: url(images/clevelandShow.jpg) repeat scroll 0%;
}
.jimgMenu_2 ul li#simpsons a {
	background: url(images/simpsons.jpg) repeat scroll 0%;
}
.jimgMenu_2 ul li#futurama a {
	background: url(images/futurama.jpg) repeat scroll 0%;
}
.jimgMenu_2 ul li#bobsburgers a {
	background: url(images/bobsburgers.jpg) repeat scroll 0%;
}
.jimgMenu_2 ul li#kingofthehill a {
	background: url(images/kingofthehill.jpg) repeat scroll 0%;
}
.jimgMenu_2 ul li#bordertown a {
	background: url(images/bordertown.jpg) repeat scroll 0%;
}

#logoCC{position: absolute;top: 0px;width:150px;left:120px; border-left:2px solid #ffffff; padding-left:13px}
#logoCN{position: absolute;top: 0px;width:150px;left:256px; border-left:2px solid #ffffff; padding-left:13px}
#menu2{left:116px;position: absolute;top: 18px;width: 7px;}
#menu3{left:105px;position: absolute;top: 18px;width: 7px;}
.menuList2{position: absolute;width:150px; z-index:999; top:50px; right:-175px;margin: 0 50% auto;color:#FFF; font:700 14px tahoma,Helvetica,sans-serif; text-decoration:none;}
.menuList2 img{ margin-top:5px}
.menuList2 li{list-style:none; padding:10px; padding-top:3px; padding-bottom:4px; background: #00263c; border-top:1px #183a4e solid}
.menuList2 a{color:#FFF; font:700 14px tahoma,Helvetica,sans-serif; text-decoration:none}
.menuList2 li ul{ display:none}
.menuList2 li:hover ul{ display:block; position:absolute; margin-top:-21px;left:150px; width:200px;}
.menuList li:hover{ background:url(images/bodyMenu.jpg)}
.menuList2 li:hover a{color:#FFF}

#menu{left: 100px;position: absolute;top: 18px;width: 7px;}
#menu a{color:#FFF; font:700 18px tahoma,Helvetica,sans-serif; text-decoration:none}
#menu img{ margin-bottom:3px}

.menuList{position: absolute;width:150px; z-index:999; top:50px; right:252px;margin: 0 50% auto;color:#FFF; font:700 14px tahoma,Helvetica,sans-serif; text-decoration:none;}
.menuList img{ margin-top:5px}
.menuList li{list-style:none; padding:10px; padding-top:3px; padding-bottom:4px; background: #00263c; border-top:1px #183a4e solid}
.menuList a{color:#FFF; font:700 14px tahoma,Helvetica,sans-serif; text-decoration:none}
.menuList li ul{ display:none}
.menuList li:hover ul{ display:block; position:absolute; margin-top:-21px;left:150px; width:200px;}
.menuList li:hover{ background:url(images/bodyMenu.jpg)}
.menuList li:hover a{color:#FFF}

#history a{color:#fff;font:700 12px tahoma,Helvetica,sans-serif; text-decoration:underline}
#history a:hover{color:#fff;font:700 12px tahoma,Helvetica,sans-serif; text-decoration:none}

.codegen{ margin:10px}
.submitReg{ background:#FFF; padding:5px;color:#02263d;font:700 12px tahoma,Helvetica,sans-serif;cursor:pointer}
#sub2{ background:#FFF; padding:5px;color:#02263d;font:700 12px tahoma,Helvetica,sans-serif;text-align:center;cursor:pointer}
#subVip{ background:#FFF; padding:5px;margin-bottom:5px; width:300px;color:#02263d;font:700 11px tahoma,Helvetica,sans-serif;text-align:center;cursor:pointer}
.textForm{color:#02263d;font:700 12px tahoma,Helvetica,sans-serif;}

.messagebox,.messageboxok,.messageboxerror{position:absolute;margin-left:10px}
.messagebox{background:url(images/load.gif) no-repeat;width:16px;height:16px}
.messageboxok{background:url(images/ok.png) no-repeat}
.messageboxok,.messageboxerror{height:21px;padding-left:21px;width:auto}
.messageboxerror{background:url(images/no.png) no-repeat}

#divError{ margin:100px;font:700 25px tahoma,Helvetica,sans-serif}

#contentUser{margin-top:80px; margin-bottom:80px;}
#contentUser font{font:700 20px tahoma,Helvetica,sans-serif}
#contentUser span{font:500 9px tahoma,Helvetica,sans-serif; color:#CCC}
#contentUser #vip{font:700 10px tahoma,Helvetica,sans-serif;color:#fff;}

#newsText{margin-top:7px}

.userImg{ border:1px #CCC solid; padding:2px;}
.userImgMessege{border:1px #CCC solid; padding:2px; margin-right:10px; margin-top:-2px}
.messegeImg{ margin-right:5px; margin-bottom:-2px}
.imgMessege{border:1px #CCC solid; padding:2px;}
.smile{margin-top:2px}

.decor{text-decoration:underline}
.decor:hover{text-decoration:none}
.onlain{color:#02263d; background:#FFF; padding:2px; font:700 12px tahoma,Helvetica,sans-serif;text-decoration:underline}
.onlain:hover{color:#02263d; background:#FFF; padding:2px; font:700 12px tahoma,Helvetica,sans-serif;text-decoration:none}
.onlain2{color:#02263d; background:#FFF; padding:2px; font:700 12px tahoma,Helvetica,sans-serif;}

#messege{ position: relative;background: url(images/bodyMessege.png); padding:10px; padding-top:12px; width:532px; min-height: 55px;margin-top:15px}
#messege div{float:left}
.messege{ position: relative;background: url(images/bodyMessege.png); padding:10px; padding-top:12px; width:532px; min-height: 55px;margin-top:15px}
.messege div{float:left}

#messegeBody{width: 446px;text-align:left;}
#messegeBody a{font:700 11px tahoma,Helvetica,sans-serif;}
#messegeBody a#answer{font:500 10px tahoma,Helvetica,sans-serif;}
#messegeNew{ position: relative;background: url(images/bodyNewMessege.png); padding:10px; padding-top:12px; width:532px; min-height: 55px;}
#messegeNew div{float:left}
#messegeNewBody{width: 446px;text-align:left;}
.messegeBody{width: 446px;text-align:left;}
.messegeNew{ position: relative;background: url(images/bodyNewMessege.png); padding:10px; padding-top:12px; width:532px; min-height: 55px;margin-top: 15px;}
.messegeNew div{float:left}
.messegeNewBody{width: 446px;text-align:left;}
#profil{ position: relative;background: url(images/bodyMessege.png); padding:10px; padding-top:12px; width:532px; min-height: 55px;}
#profil div{float:left}
#profilBody{width: 406px;text-align:left;}
#choice{width: 600px;margin: 6px 206px;}
#choice div{background: url("images/bodyMessege.png") transparent;float: left;font: 700 14px "tahoma", "Helvetica", sans-serif;height: 23px;margin-right: 6px;padding-top: 5px;width: 273px;}
#choice div:hover{background: url("images/bodyNewMessege.png") transparent;}

#blockMessege{ background: url(images/bodyMessege.png); padding:10px; padding-top:12px; width:552px}
#blockMessege span{font:700 10px tahoma,Helvetica,sans-serif; color:#CCC}
#mesBlock{background: url("images/bodyMessege.png");height: 35px;width: 552px;font:700 14px tahoma,Helvetica,sans-serif;padding-top:17px}
#recall{ position: relative;width:634px;margin: 0px 50% auto; left:-317px}
#load img{width:120px; margin: 3px 3px 3px 0px;}
.reply{margin-bottom:2px}

#listLK{margin: 9px 206px;width: 600px;}
#listLK div{height: 23px;width: 178px;background: url("images/bodyMessege.png");margin-right:9px;float:left;font:700 14px tahoma,Helvetica,sans-serif;padding-top:5px}
#listLK div:hover{background: url("images/bodyNewMessege.png") transparent;}
#listLK div.messageOn,#listLK div.friendsOn,#listLK div.commentOn{background:#FFF;color: #02263D;}
.lkComments{display:none;}
.lkComments ul{width: 168px; background: url("images/bodyMessege.png") transparent;margin-top:5px;margin-left: 373px;padding:5px;}
.lkComments ul li{text-align:left;list-style: none;border-bottom:1px dotted #ffffff;padding-top:2px;padding-bottom:2px;padding-left:5px}
.lkComments ul a{text-decoration: none;font:700 13px tahoma,Helvetica,sans-serif;}
.lkComments ul li:hover{background: url("images/bodyNewMessege.png") transparent;color: #02263D;}
#vote{text-align:center;width: 20px;font:700 10px tahoma,Helvetica,sans-serif;}
#vote font{font:700 10px tahoma,Helvetica,sans-serif;}
.div_up{background:url(images/upp.png) no-repeat;width:20px; height: 10px;}
.div_down{background:url(images/down.png) no-repeat;width:20px; height: 10px;}
#messFriend{margin: 9px 206px;width: 552px;background: url("images/bodyMessege.png");text-align:center;font:700 14px tahoma,Helvetica,sans-serif;padding-top:5px;height: 23px;}

#forma{width: 552px;}
#forma textarea{width: 532px;border:0;padding:10px;margin-bottom:5px;resize:none}

.img_news_pic{ position: relative;margin: 0px 50% auto; left:-333px;width: 140px;}
#descrFans{ margin: 0px 0px 10px 23px;}
.smallFans{ float:left; margin-left:9px; text-align:center; margin-top:10px;}
.smallFans img{border:1px solid #fff}
.smallFans a{font:700 12px tahoma,Helvetica,sans-serif; color:#fff; text-decoration:none}
.smallFans span{ display:block; margin-bottom:-14px;position:relative;font:700 12px tahoma,Helvetica,sans-serif; color: #01253c; background:#FFF; width:92px}

.fonError{background: url(images/fonError.jpg);background-color:#c94922;}
#top{margin: 0px auto;position: relative;width: 985px;}
.share {float:left}
.share li{list-style:none; float:left}

#vkontakte{
background: url("http://yandex.st/share/static/b-share-icon.png") 0px 0px no-repeat transparent;
border: 0px none currentColor;
height: 16px;
width: 16px;
margin-left:4px
}
#facebook{
background: url("http://yandex.st/share/static/b-share-icon.png") 0px -68px no-repeat transparent;
border: 0px none currentColor;
height: 16px;
width: 16px;
margin-left:3px
}
#twitter{
background: url("http://yandex.st/share/static/b-share-icon.png") 0px -51px no-repeat transparent;
border: 0px none currentColor;
height: 16px;
width: 16px;
margin-left:3px
}
#odnoklassniki{
background: url("http://yandex.st/share/static/b-share-icon.png") 0px -170px no-repeat transparent;
border: 0px none currentColor;
height: 16px;
width: 16px;
margin-left:3px
}
#googlePlus{
background: url("http://yandex.st/share/static/b-share-icon.png") 0px -426px no-repeat transparent;
border: 0px none currentColor;
height: 16px;
width: 16px;
margin-left:3px
}