@CHARSET "BIG5";
.srchkw{
	overflow:hidden;
	display:none;
	width:320px;
	border-width:2px;
	/*z-index:999;
	position:absolute;*/
	background-color:#ffffff;
	margin-top:-2px;
	text-align:left;
	line-height: 150%;
}
.srchkw a:link{
	color:#0c66a1;
	text-decoration:none;
	font-size:12px;
}
.srchkw a:visited{
	color:#0c66a1;
	text-decoration:none;
	/*font-size:9px;*/
}
.srchkw a:hover{
	/*font-size:9px;*/
}
.srchkw a:active{
	/*font-size:9px;*/
}
#srckw_controller{
	
}