/* CSS Document */

/*------這支CSS是首頁版頭區塊：最上方會員登入+頻道flash+主題分享bar+文字廣告------*/

#top_main{
	width: 950px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}
/*----------最上方的設為首頁、會員登入區域 start----------*/
#topbox{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
}
#upsidebox{
	padding-top: 5px;
	padding-bottom: 2px;
	padding-right: 3px;
	padding-left: 3px;
}
.sethomebox{
	background-image: url(icons_home.gif);
	background-repeat: no-repeat;
	background-position: 2px center;
	padding-left: 16px;
	color: #ff0000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	float: left;
	position: relative;
}
.sethomebox a:link,
.sethomebox a:visited {
  color: #ff0000;
  text-decoration: none;
}
.sethomebox a:hover,
.sethomebox a:active {
	color: #ff0000;
	text-decoration: underline;
}
.freetxtbox{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #666666;
	float: left;
	position: relative;
	left: 8px;
}
.freetxtbox a:link,
.freetxtbox a:visited {
  color: #666666;
  text-decoration: none;
}
.freetxtbox a:hover,
.freetxtbox a:active {
	color: #666666;
	text-decoration: underline;
}
.freetxtbox span{
	color: #0242d4;
}
.freetxtbox span a:link,
.freetxtbox span a:visited {
  color: #0242d4;
  text-decoration: none;
}
.freetxtbox span a:hover,
.freetxtbox span a:active {
	color: #0242d4;
	text-decoration: underline;
}
.loginbox{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #666666;
	float: right;
	position: relative;
	padding-right: 6px;
}
.loginbox a:link,
.loginbox a:visited {
  color: #005599;
  text-decoration: none;
}
.loginbox a:hover,
.loginbox a:active {
	color: #3366cc;
	text-decoration: underline;
}
.btn_code{
	float: right;
	position: relative;
	padding-right: 3px;
}
/*----------最上方的設為首頁、會員登入區域 end----------*/

/*----------各個頻道區塊+主題投稿區塊+文字連結廣告區塊 start----------*/
#chbgbox{
	background-image: url(topbg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
/*---這個放flash的頻道按鈕---*/
#box_chbtn{}

/*---這個放主題投稿區塊---*/
#box_subject{
	padding-right: 10px;
	padding-left: 10px;
}
.subline_l{
	height: 30px;
	background-image: url(subline_l.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.subline_r{
	background-image: url(subline_r.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	height: 30px;
	padding-right: 40px;
}
.subline_bg{
	background-image: url(subline_bg.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	height: 30px;
}
.box_subshare{
	float: right;
}
.ss_l{
	background-image: url(subject_l.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 30px;
	padding-left: 68px;
}
.ss_r{
	background-image: url(subject_r.gif);
	background-repeat: no-repeat;
	background-position: right top;
	height: 30px;
	padding-right: 10px;
}
.ss_bg{
	background-image: url(subject_bg.gif);
	background-repeat: repeat-x;
	height: 30px;
}
.ss_content{
	padding-top: 5px;
}
.ss_txt{
	float: left;
	padding-top: 2px;
	padding-right: 8px;
	padding-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #6ba7b6;

}
.ss_txt a:link,
.ss_txt a:visited {
  color: #09738d;
  text-decoration: none;
}
.ss_txt a:hover,
.ss_txt a:active {
	color: #ffffff;
	text-decoration: underline;
}
.btn_subshare{
	float: left;
	padding-right: 1px;
	padding-left: 1px;
}
.box_watchword{
	float: left;
	padding-left: 43px;
	padding-top: 6px;
}
.bw_txt{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	color: #666666;
}
.bw_txt a:link,
.bw_txt a:visited {
  color: #666666;
  text-decoration: none;
}
.bw_txt a:hover,
.bw_txt a:active {
	color: #006acd;
	text-decoration: none;
}

/*---這是文字連結廣告區塊---*/
#box_adtxt{
	padding-top: 7px;
	padding-bottom: 10px;
}
#ad{
	font-size: 15px;
	line-height: 20px;
	color: #005599;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
#ad a:link,
#ad a:visited {
  color: #005599;
  text-decoration: none;
}
#ad a:hover,
#ad a:active {
	color: #005599;
	text-decoration: underline;
}

/*---這個放Yahoo購物區塊---*/
#headsubbox{}
.headsub_bd{}

.headsub_l{
	float: left;
	width: 150px;
	display: none;
}
.headsub_r{
	/*float: right;*/
	margin: 0 auto;
	width: 785px;
}
/*
.headsub_l{}
.headsub_r{width: 950px;}
*/

.headsub_lin{
	padding-left: 12px;
	padding-top: 5px;
}
.headsub_rin{}
.headbuybox{
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #9ac2e3;
	border-bottom-color: #9ac2e3;
	border-left-color: #9ac2e3;
}
.hb_home{
	width: 45px;
}
.hb_home a:link,
.hb_home a:visited {
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(http://iguang.tw/images/buybarhead01pink.jpg);
	background-repeat: repeat-x;
	background-position: top;
	font-size: 12px;
	line-height: 27px;
	font-weight: bold;
	text-align: center;
	display: block;
	height: 27px;
}
.hb_home a:hover,
.hb_home a:active {
	color: #FFFFFF;
	text-decoration: underline;
	background-image: url(http://iguang.tw/images/buybarhead01pink.jpg);
	background-repeat: repeat-x;
	background-position: top;
	font-size: 12px;
	line-height: 27px;
	font-weight: bold;
	text-align: center;
	display: block;
	height: 27px;
}
.hb_b01sp{
	width: 65px;
}
.hb_b01sp a:link,
.hb_b01sp a:visited {
	font-size: 12px;
	line-height: 27px;
	color: #00558b;
	text-decoration: none;
	background-image: url(http://iguang.tw/images/buybarhead01pink3.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 27px;
	text-align: center;
	display: block;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9ac2e3;
	padding-left: 5px;
}
.hb_b01sp a:hover,
.hb_b01sp a:active {
	font-size: 12px;
	line-height: 27px;
	color: #00558b;
	text-decoration: none;
	background-image: url(http://iguang.tw/images/buybarhead01pink2.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 27px;
	text-align: center;
	display: block;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9ac2e3;
	padding-left: 5px;
}
.hb_b01{
	width: 60px;
}
.hb_b01 a:link,
.hb_b01 a:visited {
	font-size: 12px;
	line-height: 27px;
	color: #00558b;
	text-decoration: none;
	background-image: url(buybar_ul-b.gif);
	background-repeat: repeat-x;
	background-position: top;
	text-align: center;
	display: block;
	height: 27px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9ac2e3;
}
.hb_b01 a:hover,
.hb_b01 a:active {
	font-size: 12px;
	line-height: 27px;
	color: #00558b;
	text-decoration: none;
	background-image: url(buybar_ul-b_o.gif);
	background-repeat: repeat-x;
	background-position: top;
	text-align: center;
	display: block;
	height: 27px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9ac2e3;
}
.hb_b02{
    width: 62px;
}
.hb_b02 a:link,
.hb_b02 a:visited {
	font-size: 12px;
	line-height: 27px;
	color: #00558b;
	text-decoration: none;
	background-image: url(buybar_ul-p.gif);
	background-repeat: repeat-x;
	background-position: top;
	text-align: center;
	display: block;
	height: 27px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9ac2e3;
	white-space: nowrap;
}
.hb_b02 a:hover,
.hb_b02 a:active {
	font-size: 12px;
	line-height: 27px;
	color: #00558b;
	text-decoration: none;
	background-image: url(buybar_ul-p_o.gif);
	background-repeat: repeat-x;
	background-position: top;
	text-align: center;
	display: block;
	height: 27px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9ac2e3;
}
.hb_b03{
    width: 60px;
}
.hb_b03 a:link,
.hb_b03 a:visited {
	font-size: 12px;
	line-height: 27px;
	color: #00558b;
	text-decoration: none;
	background-image: url(buybar_ul-g.gif);
	background-repeat: repeat-x;
	background-position: top;
	text-align: center;
	display: block;
	height: 27px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9ac2e3;
}
.hb_b03 a:hover,
.hb_b03 a:active {
	font-size: 12px;
	line-height: 27px;
	color: #00558b;
	text-decoration: none;
	background-image: url(buybar_ul-g_o.gif);
	background-repeat: repeat-x;
	background-position: top;
	text-align: center;
	display: block;
	height: 27px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9ac2e3;
}
.hb_b04{
    width: 60px;
}
.hb_b04 a:link,
.hb_b04 a:visited {
	font-size: 12px;
	line-height: 27px;
	color: #00558b;
	text-decoration: none;
	background-image: url(buybar_ul-r.gif);
	background-repeat: no-repeat;
	background-position: center top;
	text-align: center;
	display: block;
	height: 27px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9ac2e3;
}
.hb_b04 a:hover,
.hb_b04 a:active {
	font-size: 12px;
	line-height: 27px;
	color: #00558b;
	text-decoration: none;
	background-image: url(buybar_ul-r_o.gif);
	background-repeat: no-repeat;
	background-position: center top;
	text-align: center;
	display: block;
	height: 27px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9ac2e3;
}

/*----------各個頻道區塊+主題投稿區塊+文字連結廣告區塊 end--------
/*購物頻道特開*/


.hb_b_sp{
    width: 60px;
}
.hb_b_sp a:link,
.hb_b_sp a:visited {
	font-size: 12px;
	line-height: 27px;
	color: #ffffff;
	text-decoration: none;
	background-image: url(../images/sp_b1.gif);
	background-repeat: repeat-x;
	background-position: top;
	text-align: center;
	display: block;
	height: 27px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9ac2e3;
}
.hb_b_sp a:hover,
.hb_b_sp a:active {
	font-size: 12px;
	line-height: 27px;
	color: #e3007f;
	text-decoration: none;
	background-image: url(../images/sp_b2.gif);
	background-repeat: repeat-x;
	background-position: top;
	text-align: center;
	display: block;
	height: 27px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9ac2e3;
}


.hb_web66{
	width: 85px;
}
.hb_web66 a span{
	background-image: url(top_web66.gif);
	background-repeat: no-repeat;
	background-position: left top;
	width: 60px;
	height: 21px;
}
.hb_web66 a:link,
.hb_web66 a:visited {
	font-size: 12px;
	line-height: 27px;
	color: #00558b;
	text-decoration: none;
	background-image: url(buybar_ul-r.gif);
	background-repeat: no-repeat;
	background-position: center top;
	text-align: center;
	display: block;
	height: 27px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9ac2e3;
}
.hb_web66 a:hover,
.hb_web66 a:active {
	font-size: 12px;
	line-height: 27px;
	color: #00558b;
	text-decoration: none;
	background-image: url(buybar_ul-r_o.gif);
	background-repeat: no-repeat;
	background-position: center top;
	text-align: center;
	display: block;
	height: 27px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9ac2e3;
}
