/* CSS Document */

body{
	margin: 0px;
	font-size: 12px;
}
.clear{
	clear: both;
}
a img{
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
a:link,
a:visited {
	color: #0c66a1;
	text-decoration: none;
}
a:hover,
a:active {
	color: #0c66a1;
	text-decoration: underline;
}
select{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 15px;
	margin: 0px;
}
input{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 15px;
}
textarea{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 15px;
}

/*---------- 主要區塊位置設定 start ----------*/
#ywbody{
	width: 950px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}
#bdbox{
	width: 950px;
	margin-right: auto;
	margin-left: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	position: relative;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 30px;
}
#leftbox{
	width: 100px;
	float: left;
	overflow: hidden;
}
#middlebox{
	width: 500px;
	float: left;
	overflow: hidden;
}
#rightbox{
	width: 350px;
	float: right;
	overflow: hidden;
}
.bd_l{
	padding-right: 8px;
}
.bd_m{
	padding-right: 8px;
}
.bd_r{}

/*---------- 主要區塊位置設定 end ----------*/

/*---------- 左邊服務一覽表區塊 start ----------*/

#servicebox{
	padding: 3px;
	border: 1px solid #cecece;
	background-color: #FFFFFF;
}
.sv_top{
	background-image: url(svbg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	height: 28px;
	text-align: center;
}
.sv_bd{
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 5px;
}
.sv_bd ul{
	margin: 0px;
	list-style-type: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
.sv_bd ul li{}
.sv_bd ul li.sv_title{
	font-size: 12px;
	font-weight: bold;
	color: #666666;
}
.sv_bd ul li.sv_title a:link,
.sv_bd ul li.sv_title a:visited{
	font-size: 12px;
	font-weight: bold;
	color: #666666;
}
.sv_bd ul li.sv_title a:hover,
.sv_bd ul li.sv_title a:active{
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	text-decoration: underline;
}


.sv_bd ul li.sv_txt{}
.sv_bd ul li.sv_txt span{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FF0000;
	line-height: 10px;
	vertical-align: super;
}
.sv_bd ul li.sv_txt a:link,
.sv_bd ul li.sv_txt a:visited {
	color: #1d89b0;
	text-decoration: none;
}
.sv_bd ul li.sv_txt a:hover,
.sv_bd ul li.sv_txt a:active {
	color: #1d89b0;
	text-decoration: underline;
}

/*---------- 左邊服務一覽表區塊 end ----------*/

/*------------- 中間區塊 start -------------*/

.morebox{
	text-align: right;
	padding-top: 2px;
	padding-bottom: 2px;
}
.morebox table{
	text-align: right;
}
a.ywbtn:link, a.ywbtn:visited, a.ywbtn:hover{
	border: 1px solid #cccccc;
	background-image: url(icons_arrow02.gif);
	background-repeat: no-repeat;
	background-position: 5px 0.5em;
	padding-left: 18px;
	padding-right: 3px;
	display: block;
	margin-right: 1px;
	margin-left: 1px;
	font-size: 12px;
	line-height: 23px;
	height: 23px;
	color: #0c66a1;
	text-decoration: none;
}

/*---會員登入區塊start---*/
#md_loginbd{
	background-color: #FFFFFF;
	background-image: url(loginbg.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	border: 1px solid #92c8e1;
	margin-bottom: 10px;
}
.loginbd_in{
	padding-top: 15px;
	padding-right: 5px;
	padding-bottom: 15px;
	padding-left: 5px;
}
.md_lbd_msg{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
	color: #000000;
  padding: 0px 0 12px 0px;
}
.md_lbd_btn{}
.md_lbd_btn td{
	padding: 2px;
}
.okloginbd_in{
	padding: 10px;
}
.oklogin_title{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #ff6600;
	padding-bottom: 5px;
}
.oklogin_bd{
	background-color: #FFFFFF;
	border: 1px solid #b2def3;
	padding-top: 10px;
	padding-right: 8px;
	padding-bottom: 10px;
	padding-left: 8px;
}
.oklogin_mng{
	padding-bottom: 5px;
}
.oklogin_news{
	padding-bottom: 5px;
}
.oklogin_pic{}
.oklogin_notice{}
.oklogin_frd{}
.oklogin_data{
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #e2e2e2;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
}
.oklogin_subtitle{
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	padding-bottom: 2px;
}
.oklogin_namelist{
	font-size: 12px;
	font-weight: normal;
	color: #999999;
}
.oklogin_namelist a:link,
.oklogin_namelist a:visited {
	color: #666666;
	text-decoration: underline;
}
.oklogin_namelist a:hover,
.oklogin_namelist a:active {
	color: #0c66a1;
	text-decoration: underline;
}
.oklogin_txt{
	padding-top: 2px;
}
.oklogin_txt td{
	font-size: 12px;
	line-height: 16px;
}
.oklogin_txt ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	font-size: 12px;
	line-height: 16px;
	color: #000000;
}
.oklogin_txt ul li{}
.oklogin_txt ul li.submore{
	padding-top: 5px;
}
.oklogin_sublink:link,
.oklogin_sublink:visited {
	color: #666666;
	text-decoration: underline;
}
.oklogin_sublink:hover,
.oklogin_sublink:active {
	color: #0c66a1;
	text-decoration: underline;
}
.oklogin_caution:link,
.oklogin_caution:visited {
	color: #ce0201;
	text-decoration: none;
}
.oklogin_caution:hover,
.oklogin_caution:active {
	color: #ce0201;
	text-decoration: underline;
}


/*---會員登入區塊end---*/

.md_unitbox{
	background-color: #FFFFFF;
	font-size: 12px;
}
.md_unit_top{
	background-color: #eaf0f4;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #b0def3;
	position: relative;
	margin: 0px;
	padding: 0px;
	height: 30px;
}
.md_unit_title{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #1392c0;
	font-weight: bold;
	background-image: url(icons_arrow.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px;
	position: absolute;
	left: 8px;
	top: 7px;
	z-index: 20;
	text-align: left;
	*background-position: left 0.2em;
	
}
.md_unit_topmsg{
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	position: absolute;
	top: 6px;
	right: 8px;
	z-index: 10;
}
.md_unit_topmsg span{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FF0000;
	line-height: 10px;
	vertical-align: super;
}
.md_unit_bd{
	padding: 8px;
}

/*---今日我最靚start---*/
.bf_mainbd{width: 470px;}
.bf_l_bd{
	width: 135px;
	float: left;
}
.bf_r_bd{
	width: 335px;
	float: right;
}
.bf_subbd{
	text-align: center;
	padding-bottom: 8px;
	width: 470px;
}

.bf_large{
	border: 1px solid #94c9e2;
	width: 130px;
	background-color: #FFFFFF;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
}
.bf_l_pic{
	height: 120px;
}
.bf_l_user{
	font-family: Tahoma;
	font-weight: bold;
	font-size: 11px;
	padding-top: 3px;
}
.bf_l_user a:link,
.bf_l_user a:visited {
	color: #1392c0;
	text-decoration: none;
}
.bf_l_user a:hover,
.bf_l_user a:active {
	color: #0c66a1;
	text-decoration: none;
}
.bf_l_msg{
	color: #666666;
	font-size: 11px;
}
.bf_yr{
	font-family: Tahoma;
	color: #ff9909;
	font-weight: bold;
	font-size: 11px;
}
.bf_male{
	font-family: "新細明體";
	color: #0099ff;
	font-weight: bold;
	font-size: 12px;
}
.bf_female{
	font-family: "新細明體";
	color: #ff66cc;
	font-weight: bold;
	font-size: 12px;
}
.bf_small{
	padding-top: 7px;
}
.bf_other{}

/*---今日我最靚end---*/

/*--- 精選相簿+其他推薦 start---*/
#albumbox{
	height:auto !important;
	*height:415px;
	
}
.album_l{
	width: 255px;
}
.album_r{
	width: 230px;
	padding-left: 2px;
}
#albumbox .md_unit_title{
	width: 150px;
	
}
.md_unit_bd_album{
	padding-top: 8px;
	padding-right: 2px;
	padding-bottom: 8px;
	padding-left: 2px;
}

.ba_pic{}
.ba_msg{
	color: #000000;
	font-size: 12px;
	line-height: 16px;
	padding-top: 5px;
}
.oa_pic{
	padding-bottom: 5px;
}

/*--- 精選相簿+其他推薦 end---*/

/*--- 愛情國小 start---*/
.love_l{
	width: 155px;
}
.love_r{
	padding-left: 10px;
}
.love_title{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
	color: #f96501;
	font-weight: bold;
	padding-bottom: 3px;
}
.love_title a:link,
.love_title a:visited {
	color: #f96501;
	text-decoration: none;
}
.love_title a:hover,
.love_title a:active {
	color: #f96501;
	text-decoration: underline;
}
.love_msg{
	color: #000000;
	padding-bottom: 8px;
	font-size: 12px;
	line-height: 17px;
}
.love_diarybox{}
.love_diary{
	background-image: url(icons_love.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px;

	*background-position: left 0.2em;
	padding-right: 15px;
}
.love_theme{
	background-image: url(icons_pen.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px;
	*background-position: left 0.2em;
}
.love_btn{
	padding-top: 15px;
	text-align: center;
}

/*--- 愛情國小 end---*/

/*--- 好玩 start---*/

.game_item{
	padding-bottom: 8px;
}
.game_msg{
	padding-top: 3px;
}

/*--- 好玩 end---*/

/*--- 好玩 end---*/

/*--- 大專院校校友會 start---*/

.schoolbox{}
.schoolbox td{
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
}
.school_btn{
	text-align: right;
	padding-top: 10px;
}


/*--- 大專院校校友會 end---*/

/*------------- 中間區塊 end -------------*/

/*------------- 右邊區塊 end -------------*/

/*--- 搜尋區塊 start---*/
.searchbox{
	background-color: #FFFFFF;
	border: 2px solid #e2e2e2;
	text-align: center;
	padding-top: 7px;
	padding-right: 12px;
	padding-bottom: 5px;
	padding-left: 12px;
	margin-bottom: 6px;
}
.search_tag{
	font-weight: bold;
	color: #ce0201;
}
.search_input{
	width: 175px;
}
/*--- 搜尋區塊 end---*/


.r_subbox{
	background-color: #FFFFFF;
	margin-bottom: 10px;
	border: 1px solid #cecece;
	padding: 3px;
	position: relative;
}
.r_sub_top{
	background-color: #eaf0f4;
	color: #1392c0;
	position: relative;
	margin: 0px;
	padding: 0px;
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e2e2e2;
}
.r_sub_title{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #1392c0;
	background-image: url(icons_arrow.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 15px;
	position: absolute;
	left: 8px;
	top: 7px;
	z-index: 20;
	text-align: left;
	*background-position: left 0.2em;	
}

.r_sub_title2{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #1392c0;
	position: absolute;
	z-index: 20;
	text-align: left;
	*background-position: left 0.2em;	
}

.r_sub_title2 ul, .r_sub_title2 li {
	margin: 0;
	padding: 0;
	list-style: none;
}

 .r_sub_title2 li {
	 float: left;
	 border: #cecece solid;
	 border-width: 0 1px 0 0;
	 line-height: 30px;
}

.r_sub_btn01:link,
.r_sub_btn01:visited {
	background: #fff;
	width: 67px;
	height: 31px;
	display: block;
	text-align: center;
	color: #1392c0;
}

.r_sub_btn01:hover,
.r_sub_btn01:active {
	background: #fff;
	width: 67px;
	height: 31px;
	display: block;
	text-align: center;
	color: #1392c0;
}

.r_sub_btn02:link,
.r_sub_btn02:visited {
	background: #eaf0f4;
	width: 67px;
	height: 30px;
	display: block;
	text-align: center;
	color: #1392c0;
}

.r_sub_btn02:hover,
.r_sub_btn02:active {
	background: #eaf0f4;
	width: 67px;
	height: 30px;
	display: block;
	text-align: center;
	color: #1392c0;
}

.r_sub_btn_new:link,
.r_sub_btn_new:visited {
	background: #eaf0f4;
	width: 24px;
	height: 30px;
	display: block;
	text-align: center;
	color: #F00;
}

.r_sub_btn_new:hover,
.r_sub_btn_new:active {
	background: #eaf0f4;
	width: 24px;
	height: 30px;
	display: block;
	text-align: center;
	color: #F00;
}

.r_sub_btn_new2:link,
.r_sub_btn_new2:visited {
	background: #fff;
	width: 24px;
	height: 31px;
	display: block;
	text-align: center;
	color: #F00;
}

.r_sub_btn_new2:hover,
.r_sub_btn_new2:active {
	background: #fff;
	width: 24px;
	height: 31px;
	display: block;
	text-align: center;
	color: #F00;
}

.r_sub_topmsg{
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	position: absolute;
	top: 6px;
	right: 8px;
	z-index: 10;
}
.r_sub_bd{
	padding: 8px;
}
.redtxt{
	color: #FF0000;
}

/*---熱門活動區塊 start---*/

.hoteventbox{}
.hoteventbox ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	color: #000000;
}
.hoteventbox ul li{}
.subevent{
	text-align: right;
	padding-top: 10px;
}

/*---熱門活動區塊 end---*/

/*---發燒共產檔區塊 start---*/

.sharefile{
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e2e2e2;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
}
.share_title{
	font-size: 13px;
	font-weight: bold;
	color: #f96501;
	padding-bottom: 3px;
}
.share_title a:link,
.share_title a:visited {
	color: #f96501;
	text-decoration: none;
}
.share_title a:hover,
.share_title a:active {
	color: #f96501;
	text-decoration: underline;
}
.share_info{}
.share_ppl{
	color: #000000;
}
.share_view{
	text-align: right;
}
.share_things{
	text-align: center;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
}
.share_fw{
	text-align: right;
}

.sharetag{
	padding-top: 8px;
	padding-right: 5px;
	padding-left: 5px;
}
.sharetag_title{
	font-size: 12px;
	color: #1392c0;
	background-image: url(icons_arrow03.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 10px;
	*background-position: left 0.3em;
}
.sharetag_title a:link,
.sharetag_title a:visited {
	color: #1392c0;
	text-decoration: none;
}
.sharetag_title a:hover,
.sharetag_title a:active {
	color: #1392c0;
	text-decoration: none;
}
.sharetag_txt{
	padding-top: 5px;
	padding-left: 10px;
	line-height: 22px;
}

.tab1:link,
.tab1:visited {
	color: #666666;
	font-size: 12px;
	line-height: normal;
	text-decoration: none;
}
.tab1:hover,
.tab1:active {
	color: #666666;
	font-size: 12px;
	line-height: normal;
	text-decoration: underline;
}
.tab2:link,
.tab2:visited {
	color: #666666;
	font-size: 13px;
	line-height: normal;
	text-decoration: none;
	font-weight: bold;
}
.tab2:hover,
.tab2:active {
	color: #666666;
	font-size: 13px;
	line-height: normal;
	text-decoration: underline;
	font-weight: bold;
}
.tab3:link,
.tab3:visited {
	color: #666666;
	font-size: 15px;
	line-height: normal;
	text-decoration: none;
}
.tab3:hover,
.tab3:active {
	color: #666666;
	font-size: 15px;
	line-height: normal;
	text-decoration: underline;
}

.tab4:link,
.tab4:visited {
	color: #666666;
	font-size: 15px;
	line-height: normal;
	text-decoration: none;
	font-weight: bold;
}
.tab4:hover,
.tab4:active {
	color: #666666;
	font-size: 15px;
	line-height: normal;
	text-decoration: underline;
	font-weight: bold;
}
.tab5:link,
.tab5:visited {
	color: #666666;
	font-size: 16px;
	line-height: normal;
	text-decoration: none;
}
.tab5:hover,
.tab5:active {
	color: #666666;
	font-size: 16px;
	line-height: normal;
	text-decoration: underline;
}
/*---發燒共產檔區塊 end---*/

/*---俱樂部區塊 start---*/

.blogblock{
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 8px;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e2e2e2;
}
.blogitem{
	padding-bottom: 8px;
}
.blog_top{
	color: #000000;
	padding-bottom: 3px;
}
.blog_title{
	font-size: 12px;
	font-weight: bold;
	color: #f96501;
}
.blog_title a:link,
.blog_title a:visited {
	color: #f96501;
	text-decoration: none;
}
.blog_title a:hover,
.blog_title a:active {
	color: #f96501;
	text-decoration: underline;
}
.blog_bd{}
.blog_txt{
	font-size: 12px;
	line-height: 16px;
	color: #000000;
	padding-right: 5px;
	text-align: left;
}
.blog_pic{
	width: 130px;
}
.blogmore{
	padding-top: 8px;
	padding-right: 5px;
	padding-left: 5px;
}
.blogmore_list{
	padding-top: 5px;
	padding-left: 10px;
}
.blogmore_list ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.blogmore_list ul li{}

/*---俱樂部區塊 end---*/

/*---台灣旅遊主題館區塊 start---*/

.travel_map{
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.teavel_tag{
	padding-top: 5px;
	padding-left: 10px;
	line-height: 22px;
}

/*---台灣旅遊主題館區塊 end---*/


/*------------- 右邊區塊 end -------------*/

/*--------廣告區塊 start--------*/

.ad_420x120box{
	position: relative;
	margin-bottom: 10px;
}
.ad_350box{
	margin-bottom: 10px;
	text-align: center;
}
/*
.ad_420box_200 {
	MARGIN-BOTTOM: 10px;
	POSITION: relative;
	height: 225px;
}
.ad_420box_80 {
	MARGIN-BOTTOM: 10px;
	POSITION: relative;
	height: 105px;
}
.ad_420box{
	position: relative;
	margin-bottom: 10px;
}
.ad_420_random{
	float: left;
	width: 420px;
}
.ad_420_img{
	width: 420px;
}
.ad_420_small{
	FONT-SIZE: 12px;
        FLOAT: left;
        WIDTH: 65px;
        LINE-HEIGHT: 16px;
        padding-left: 6px;

}
.ad_420_small ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.ad_420_small ul li{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.ad_420_txt{
	line-height: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
}
*/


/*---有底圖的關鍵字廣告 start---*/

.ad_keywordbox{
	margin-bottom: 10px;
}
.ad_keywordbox a:link,
.ad_keywordbox a:visited {
	text-decoration: none;
}
.ad_keywordbox a:hover,
.ad_keywordbox a:active {
	text-decoration: none;
}
.adkw01{
	background-image: url(adkwbg01.gif);
	background-repeat: no-repeat;
	background-position: left top;
	width: 350px;
	background-color: #ADD876;
	margin-bottom: 2px;
	padding-bottom: 10px;
}
.adkw02{
	background-image: url(adkwbg02.gif);
	background-repeat: no-repeat;
	background-position: left top;
	width: 350px;
	background-color: #f5ca48;
	margin-bottom: 2px;
	padding-bottom: 10px;
}
.adkw03{
	background-image: url(adkwbg03.gif);
	background-repeat: no-repeat;
	background-position: left top;
	width: 350px;
	background-color: #84c8ef;
	margin-bottom: 2px;
	padding-bottom: 10px;
}
.adkw04{
	background-image: url(adkwbg04.gif);
	background-repeat: no-repeat;
	background-position: left top;
	width: 350px;
	background-color: #f8abab;
	margin-bottom: 2px;
	padding-bottom: 10px;
}
.adkw_title{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #0033ff;
	padding-left: 10px;
	padding-top: 5px;
}
.adkw_title a:link,
.adkw_title a:visited {
	color: #0033ff;
}
.adkw_title a:hover,
.adkw_title a:active {
	color: #0033ff;
}
.adkw_msg{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	line-height: 15px;
	padding-top: 7px;
	padding-right: 10px;
	padding-left: 10px;
}
.adkw_msg a:link,
.adkw_msg a:visited {
	color: #000000;
}
.adkw_msg a:hover,
.adkw_msg a:active {
	color: #000000;
}
.adkw_msg a span{
	color: #0033ff;
	text-decoration: underline;
}

/*---有底圖的關鍵字廣告 end---*/

/*--------廣告區塊 end--------*/

/*----明星娛樂區塊 start---*/
.artist_block{}
.artist_title{
	font-size: 13px;
	font-weight: bold;
	color: #f96501;
	padding-bottom: 3px;
}
.artist_title a:link,
.artist_title a:visited {
	color: #f96501;
	text-decoration: none;
}
.artist_title a:hover,
.artist_title a:active {
	color: #f96501;
	text-decoration: underline;
}
.artist_video{
	text-align: center;
	padding-bottom: 5px;
}
.artist_pic{
	background-repeat: no-repeat;
	background-position: right top;
	height: 160px;
}
.artist_msg{
    color:#333333;
	text-align: left;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 20px;
}
.artist_msg ul{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	line-height: 15px;
	list-style-type: none;
}
.artist_msg ul li{
	margin: 0px;
    color:#333333;
	list-style-type: none;
	background-image: url(icons_bluedot.gif);
	background-repeat: no-repeat;
	background-position: left 0.5em;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}

.artist_msg a:link,
.artist_msg a:visit{
	 color:#333333;
}

.artist_msg a:hover,
.artist_msg a:active{
	 color:#333333;
	text-decoration: underline;
}

/*----明星娛樂區塊 end---*/



/*----明星俱樂部區塊 start*---*/
.fansclub_title{
	font-size: 12px;
	font-weight: bold;
}
.fansclub_list{
	padding-top: 8px;
	padding-bottom: 3px;
}
.fansclub_list_td{
	padding-bottom: 2px;
}
.fansclub_img{
	background-color: #FFFFFF;
	padding: 2px;
	border: 1px solid #d5d5d5;
}
/*----明星俱樂部區塊 end---*/

/*----勸敗達人區塊 start---*/
.buy_mainbd{}
.buyitem{
	background-image: url(../images/icon_buydot.gif);
	background-repeat: no-repeat;
	background-position: left 0.7em;
	padding-left: 8px;
	font-size: 12px;
	line-height: 20px;
}
.buy_time{
	color: #999999;
}
.buy_red{
	color: #ff0000;
}
.buy_btn{
	text-align: right;
	padding-top: 5px;
}

/*----勸敗達人區塊 end---*/

/*----網友心情總匯區塊 start---*/
.moodbox{}
.mooditem{
	padding: 8px;
	border: 1px solid #e1e1e1;
	margin-bottom: 3px;
}
.mood_bd{}
.mood_pic{
	width: 90px;
}
.mood_top{
	padding-bottom: 3px;
}
.mood_top_l{
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
.mood_top_r{
	text-align: right;
	color: #666666;
	font-weight: normal;
}
.mood_msg{
	font-size: 12px;
	line-height: 16px;
	color: #000000;
	padding-left: 5px;
}
.mood_info{
	text-align: right;
	color: #999999;
	padding-top: 5px;
}
.mood_btn{
	text-align: right;
	padding-top: 6px;
}
.mood_page{
	color: #999999;
}

/*----網友心情總匯區塊 end---*/

/*----問卷區塊 end---*/
.r_sub_bd_survey{
	padding-top: 8px;
	padding-right: 3px;
	padding-bottom: 5px;
	padding-left: 3px;
}
.surveybox{}

.surveybox ul, .surveybox li {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.surveybox li {
	padding: 0 5px;
	line-height: 24px;
	border-bottom: #7f7f7f dotted 1px;
}



.survey_tab{
	padding-top: 5px;
}
.survey_top{
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #a5cefa;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #a5cefa;
	padding-right: 3px;
	padding-left: 3px;
}
.survey_title{
	background-color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	line-height: 22px;
	color: #000000;
}
.survey_title02{
	background-color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	line-height: 22px;
	color: #000000;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #a5cefa;
}
.survey_dotline{
	background-image: url(../images/survey_dot.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	padding: 3px;
}
.survey_listtd{
	font-size: 12px;
	line-height: 16px;
	color: #666666;
}
.survey_btn{
	text-align: right;
	padding-top: 6px;
	border: none !important; 
}

/*----問卷區塊 end---*/



.sch{
	width: 158px;
	height: 21px;
	float: left;
}
