/* CSS Document */

/*------這支CSS是首頁上方的文字廣告連結區塊------*/
#ad {
	TEXT-ALIGN: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 40px;
	padding-bottom:6px;
	padding-top:6px;
}
#ad a:link,
#ad a:visited {
	color: #005599;
	text-decoration: none;
}
#ad a:hover,
#ad a:active {
	color: #005599;
	text-decoration: underline;
}
#ad a img{
	vertical-align: middle;
}