/* CSS Document */

/*------這支CSS是頁尾的版權區塊------*/

#tail {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 10px;
	COLOR: #444444;
	PADDING-TOP: 5px;
	TEXT-ALIGN: center;
	line-height: 20px;
	clear: both;
}
#tail a:link,
#tail a:visited {
	color: #177ac9;
	text-decoration: none;
}
#tail a:hover,
#tail a:active {
	color: #0768b6;
	text-decoration: underline;
}
#tail span{
	color: #333333;
}
#tail span a:link,
#tail span a:visited {
	color: #333333;
	text-decoration: underline;
}
#tail span a:hover,
#tail span a:active {
	color: #000000;
	text-decoration: none;
}