@charset "utf-8";
/* NHN (lixue01@nhn.com)  */

/*html5*/  
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
/* Reset */
*{max-height:9999999px}
html,body{width:100%;height:100%}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,h1,h2,h3,h4,input,button{font-size:14px;line-height:1.428571429;color:#3a3a3a}
body{background-color:#fff;*word-break:break-all;-ms-word-break:break-all}
/*body,button,input,textarea{-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility}*/
img,fieldset,iframe{border:0 none}
ul,ol{list-style:none}
li{list-style:none}
input,select,button{vertical-align:middle}
img{vertical-align:top;border:0;-ms-interpolation-mode:bicubic;vertical-align:middle;color:transparent;}

table{border-collapse:collapse;border-spacing:0}
em,address{font-style:normal}
button{cursor:pointer}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}

a{color:#2f3743;text-decoration:none}
a:hover{text-decoration:underline}
button *{position:relative}
button img{left:-3px;*left:auto}
html:first-child select{height:20px;padding-right:6px}
option{padding-right:6px}
hr.hr{display:none}
legend{*width:0}

input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*width:13px;*height:13px}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;-ms-box-sizing:content-box;-o-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,main{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none}
[hidden]{display:none}
.blind{font-size:0;height:0;left:0;line-height:0;overflow:hidden;position:absolute;top:0;width:0;background:none repeat scroll 0 0 transparent;border:0 none;display:block;text-indent:-999em}
.clearfix:before,.clearfix:after{content:"";display:table}
.clearfix:after{clear:both}
.clearfix{*zoom:1}
.no-select,.prevent{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default}
button[disabled],input[disabled]{cursor:default}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible}
button,input{line-height:normal}
.break{word-wrap:break-word;word-break:break-all}
/*::selection{background:#00d1ca;color:#fff;text-shadow:none}
::-moz-selection{background:#00d1ca;color:#fff;text-shadow:none}*/
img::selection{background:transparent}
img::-moz-selection{background:transparent}


/* For image replacement */
.ir{display:block;border:0;text-indent:-999em;overflow:hidden;background-color:transparent;background-repeat:no-repeat;text-align:left;direction:ltr;*line-height:0}
.ir br{display:none}
/* Hide from both screenreaders and browsers:h5bp.com/u */
.hidden{display:none !important;visibility:hidden}
/* Hide only visually,but have it available for screenreaders:h5bp.com/v */
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard:h5bp.com/p */
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
/* Hide visually and from screenreaders,but maintain layout */
.invisible{visibility:hidden}


@media print{
  *{background:transparent !important;color:black !important;box-shadow:none !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important} /* Black prints faster:h5bp.com/s */
  a,a:visited{text-decoration:underline}
  a[href]:after{content:" (" attr(href) ")"}
  abbr[title]:after{content:" (" attr(title) ")"}
  .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}  /* Don't show links for images,or javascript/internal links */
  pre,blockquote{border:1px solid #999;page-break-inside:avoid}
  thead{display:table-header-group} /* h5bp.com/t */
  tr,img{page-break-inside:avoid}
  img{max-width:100% !important}
  @page{margin:0.5cm}
  p,h2,h3{orphans:3;widows:3}
  h2,h3{page-break-after:avoid}
}

/*footer*/
#wrap .lang-list{right: 0px;position: absolute;font-size: 12px;z-index: 9999;cursor: pointer;background-color: #4c4d4f;border-radius: 3px}
#wrap .lang .l-word{position: absolute;left: 15px;line-height: 32px}
#wrap .lang.on .d-arrow{background: url('../img/home/ja_JP/img-lang.png') no-repeat -160px -10px;display: inline-block;width: 10px;height: 10px;position: absolute;top: 10px;right: 10px;background-color: #3a3a3a}
#wrap .footer.dark .lang+.lang:hover{background-color: #737372}
#wrap .footer.dark .lang {color: #ffffff;margin-top: 0px;background: none;float: none;display: none}
#wrap .lang_sel {display: none;}
#wrap .footer.dark .lang_sel.on,#wrap .top-lang .lang_sel.on{display: block;}
#wrap .footer.dark .info {margin-top: 50px}
#wrap .footer.dark .info {
  float: right;
  text-align: right;
  color: #989898;
  font-size: 12px;
  line-height: 23px;
  opacity: 1;
  letter-spacing: .6px;
}
#wrap .noticeifr{margin-bottom: 75px}

/*freepop*/
.free_pop_container1{display: none;position:fixed;top:0;right:0;left:0;bottom:0;z-index:10000;height:100%;text-align:center;vertical-align:middle;white-space:nowrap;background:rgba(0,0,0,0.15)}
.free_pop_container1 .free_pop_content1{display:inline-block;overflow:auto;position:relative;min-width:330px;height:auto;margin:0 auto;background:#f8f8fa;vertical-align:middle;zoom:1}
.free_pop_content1.free_status_push{text-align:center;border: 1px solid #d2d2d2;border-radius: 3px;background-color: #ffffff}
.free_pop_container1 .free_pop_content1 .free_close{cursor: pointer;overflow:hidden;position:absolute;top:12px;right:12px;width:18px;height:17px;background:url('../img/free_close.png') no-repeat 0px 0px;}
.free_pop_content1_align{display:inline-block;overflow:hidden;width:0;height:100%;vertical-align:middle}
.free_pop_container1 .free_pop_content1_bg{display:block;overflow:hidden;position:fixed;_position:absolute;top:0;right:0;left:0;bottom:0;z-index:-1}
.free_pop_container1 .free_left{border-right: 1px solid #f1f1f1;float:left;min-height: 310px}
.free_pop_container1 .free_left.bor-none{border:none}
.free_pop_container1 .top_box{padding: 33px 42px 0 82px;width: 164px;height: 126px}
.free_pop_container1 .top_box a{display: block;border: none;}
.free_pop_container1 .top_box a img{width: 164px;}
.free_pop_container1 h2{font-size: 18px;color: #333;text-align: center;line-height: 23px;margin: 20px 0 9px}
.free_pop_container1 p{font-size: 14px;color: #6a6a6a;text-align: center;line-height: 23px}
.free_pop_container1 p.tit{font-size:15px;line-height:22px;font-weight:bold;padding:16px 0;background:#f7f7f7}
.free_pop_container1 p.tit em,.free_pop_container1 p.tit a{color:#3989d5;}
.free_pop_container1 p.tit a{text-decoration:underline}
.cancel_pop{cursor: pointer;}
#frmMigration{overflow: hidden;}
.mig{margin: 100px auto;}
.mig input{margin: 10px 20px 0px;float: none;display: inline-block;width: 230px}
.go_who,.go_ga{cursor: pointer;}
.fet-order01{background:url(../img/fet_order01.png) no-repeat 0px 0px;width:25px;height:33px;margin-top:10px;}
.fet-order02{background:url(../img/fet_order02.png) no-repeat 1px 0px;width:25px;height:33px;margin-top:10px}
.fet-order03{background:url(../img/fet_order03.png) no-repeat 2px 0px;width:25px;height:35px;margin-top:10px}
.fet-order04{background:url(../img/fet_order04.png) no-repeat 0px 1px;width:25px;height:35px;margin-top:10px}
.fet-order05{background:url(../img/fet_order05.png) no-repeat 1px 1px;width:25px;height:35px;margin-top:10px}
.fet-order06{background:url(../img/fet_order06.png) no-repeat 1px 1px;width:25px;height:35px;margin-top:10px}
.main_sp strong a{display: block;width: 294px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}