@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 400;
  src: local('Cinzel-Regular'), url(http://fonts.gstatic.com/s/cinzel/v4/Hm1qjDlZpOdVXoa-QGE7_w.ttf) format('truetype');
}
