@import url('//fonts.googleapis.com/css?family=Roboto%3A400|Roboto%3A600|Roboto%3A700|Roboto%3Aregular|Oswald%3Aregular&subset=');


body, .main .sidebar .widgettitle, .tabbed .tabs-list, h3.gallery-title, .comment-respond small, .main-heading, .gallery-title, .section-head, .main-footer .widgettitle, .entry-title, .page-title { font-family: "Roboto", Arial, sans-serif; }
.post-content { font-family: "Roboto", Arial, sans-serif; font-weight: normal;font-size: 16px;  }
.highlights .excerpt, .listing-alt .content .excerpt { font-family: "Oswald", Arial, sans-serif; font-weight: normal;font-size: 14px;  }
.post-header h1, .post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 { font-family: "Oswald", Arial, sans-serif; font-weight: normal; }
::selection { background: #990000; }

::-moz-selection { background: #990000; }

.top-bar, .post-content .modern-quote, .mobile-head { border-top-color: #990000; }

.trending-ticker .heading, .breadcrumbs .location, .gallery-title, .related-posts .section-head, 
.post-content a, .comments-list .bypostauthor .comment-author a, .error-page 
.text-404, .main-color, .section-head.prominent, .block.posts .fa-angle-right, a.bbp-author-name, .main-stars span:before,
.main-stars, .recentcomments .url, .nav-light .menu > li:hover > a, .nav-light .menu > .current-menu-item > a, 
.nav-light .menu > .current-menu-parent > a, .nav-light-search .active .search-icon, .nav-light-search .search-icon:hover,
.nav-light .menu li li:hover > a, .nav-light .menu li li.current-menu-item > a, .nav-light .mega-menu .sub-nav li:hover > a, 
.nav-light .menu .sub-nav li.current-menu-item > a { color: #990000; }

.error-page { margin-top: 40px; }

.navigation .menu > li > a { padding: 0 16px !important; }

.navigation .menu > li:hover > a, .navigation .menu >.current-menu-item > a, .navigation .menu > .current-menu-parent > a,
.navigation .menu > .current-menu-ancestor > a, .tabbed .tabs-list .active a, .nav-search .search-icon:hover, 
.nav-search .active .search-icon, .comment-content .reply, .sc-tabs .active a { border-bottom-color: #990000; }

.main-featured .cat, .main-featured .pages .flex-active, .rate-number .progress, .highlights .rate-number .progress, 
.main-pagination .current, .main-pagination a:hover, .cat-title, .sc-button-default:hover, .drop-caps, .review-box .bar,
.review-box .overall, .post .read-more a, .button, .post-pagination > span { background: #990000; }

.post-content .wpcf7-not-valid-tip, .main-heading, .review-box .heading, .post-header .post-title:before, 
.highlights h2:before, div.bbp-template-notice, div.indicator-hint, div.bbp-template-notice.info, 
.modal-header .modal-title, .entry-title, .page-title { border-left-color: #990000; }

.video-container-dest {position:relative;padding-bottom:47.2%;padding-top:30px;height:0;overflow:hidden;margin-bottom: 6px;} 
.video-container-dest iframe, 
.video-container-dest object, 
.video-container-dest embed {position:absolute;top:0;left:0;width:100%;height:100%;}

.fb-comments,
.fb-comments span,
.fb-comments span iframe {width: 100%}

.main-content-publicidad {border: 2px solid #d9d9d9; padding-top: 20px;}
.sidebar-publicidad {border-left:none !important;} 

@media only screen and (max-width: 1128px) { .navigation .menu > li > a { padding: 0 23px !important; } }

@media only screen and (min-width: 941px) and (max-width: 1127px) { .navigation .menu > li > a { padding: 0 12px !important; } }

@media only screen and (min-width: 800px) and (max-width: 940px) { .navigation .menu > li > a { padding: 0 13px !important; font-size: 10.8px !important; } }

@media only screen and (max-width: 799px) { .navigation .mobile .fa { background: #990000; } .error-page { margin-top: 15px; } }

.post-content a { color: #cc3333; }

.navigation { background-color: #222;; }
	
@media only screen and (max-width: 799px) { .navigation .menu > li:hover > a, .navigation .menu > .current-menu-item > a, 
.navigation .menu > .current-menu-parent > a { background-color: #222;; } }

.navigation.sticky { background: rgb(34,34,34); background: rgba(34,34,34, 0.9);; }

.navigation .mega-menu, .navigation .menu ul { background-color: #222;; }

@media only screen and (max-width: 799px) { .navigation .mega-menu.links > li:hover { background-color: #222;; } }

.navigation .menu > li:hover, .navigation .menu li li:hover, .navigation .menu li li.current-menu-item,
.navigation .mega-menu .sub-nav li:hover, .navigation .menu .sub-nav li.current-menu-item { background-color: #222;; }

@media only screen and (max-width: 799px) { .navigation .menu > li:hover > a, .navigation .menu > .current-menu-item > a, 
.navigation .menu > .current-menu-parent > a, .navigation .mega-menu.links > li:hover,
.navigation .menu > .current-menu-ancestor > a, .navigation .menu li.active { background-color: #222;; } }

.navigation { border-color: #990000;; }

.mega-menu .heading, .navigation .mega-menu.links > li > a { border-color: #990000;; }

.navigation .menu > li li a, .navigation .mega-menu.links > li > a, .navigation .mega-menu.links > li li a,
.mega-menu .posts-list .content, .navigation .mega-menu .sub-nav li a { border-color: #606569;; }

@media only screen and (max-width: 799px) { .navigation .menu li a { border-color: #606569;; } }