/*
Theme Name: Proceso
Theme URI: http://www.proceso.com.mx/
Description: Tema de Proceso.com.mx
Author: Ernesto, Mussio y Saúl
Author URI: http://www.proceso.com.mx
Template: smart-mag
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain: smart-mag-child
*/

@import url("../smart-mag/style.css");

span.author, .catpor-box{
	line-height: 40px;
}

.rs_bullet{
	background-color: black;
	width: 100%;
	padding: 5px 0 5px 10px;
}

.naranja, .blanco{
	text-transform: uppercase;
	font-size:16px;
}

.naranja{
	color: #ef8100;
}

.blanco{
	color: white;
}

.post-title{
font-size: 32px !important;
height: 100%;
word-wrap: break-word;
}

.post-share {
	border-top: none !important;
	padding: 0px 0px 25px 0px !important;
	margin-top: 0px !important;
	overflow: hidden;
}

.post-header .post-title {
        font-size: 24px;
	word-wrap: break-word;
}

.post-header .post-title:before {
        content: " ";
        display: block;
        float: left;
        position: absolute;
        left: 0;
        top: 6px; /* line-height padding */
        height: 100%;
        border-left: 3px solid #e54e53;
}

.highlights h2 a{
	font-size: 1.3em;
	border-left: 3px solid #A61111;
	padding-left: 13px;
	word-wrap: break-word;
	display: inline-block;
}

.highlights h2{
	padding-left: 0;
}

.highlights h2:before{
	height: 50px;
	border-left: none;
}

.highlights .excerpt, .listing-alt .content .excerpt{
	font-size: 14px !important;
}

.listing-meta .meta-item{
	line-height: 40px;
}

.read-more{
	text-align: right
}

.reporte-especial{
	width: 100%;
	height: auto;
}

.tz_rs_widget .content{
	margin-top: 10px;
}

.tz_rs_widget .excerpt{
	font-size: 14px;
}

.highlights .thumb .content > a{
	font-weight: bold !important;
	font-size: 14px;
}

.highlights .thumb img{
	width: 100px;
	margin:5px;
	padding:5px;
	border: 1px solid #efefef;
}

.wp-playlist-current-item{
	display: none;
}

.portada_impreso{
float:right;
width:250px;
line-height: 135px;
height: 155px;
padding: 4px 0 4px 4px;
}

.portada_impreso .col1, .portada_impreso .col2{
	width: 50%;
	display:inline-block;
	height: 100%;
}

.portada_impreso .col1 .valign{
	margin: 50% auto;
}

.portada_impreso .titulo{
	font-weight: bold;
	font-size: 1.1em;
	line-height: 30px;
}

.portada_impreso .fecha{
	font-size: .9em;
	color: #c9c9c9;
}

.portada_impreso .suscripcion a{
	color: #eee;
	font-weight: lighter;
	padding: 8px 10px;
	line-height: 30px;
	background-color: #A61111;
	border-radius: 4px;	
}

.portada_impreso img{
	width: 90%;
	margin:5px 0 5px 5px;
	border: 2px solid #c9c9c9;
	float: right;
	display: block;
}

.portada_impreso span{
	width: 100%;
	display: inline;
	line-height:20px;
	font-size: 13px;
	color: black;
	float: left;
	text-transform: uppercase;
}

/* banner prc_sup_enc */
.prc_sup_enc{
	width: 100%;
	text-align: center;
	margin: 5px 0;
}

.prc_foo{
	width: 100%;
	text-align: center;
	margin: 5px 0;	
}

.main-head header{
	min-height: 163px;
	line-height: 163px;
}

.textwidget{
	text-align: center;
}

.page > .row.builder, .page-content > .main-pagination, .post > .row.builder{
	margin-bottom:20px;
}

.author-info .avatar{
	border-radius: 50% 50%;
}

.share-links{
	font-family: Verdana,Geneva,sans-serif;
	float: left;
}

.share-links a {
	padding: 0 10px;
}

#srp_box{
	padding: 10px;
	background-color: #f2f2f2;
	border: 1px dashed #ccc;
}

#srp_box h3{
	color: #3b5998;
}

#srp_box ul{
	margin-left: 22px;
}

#srp_box ul li a{
	color: #666 !important;
}

.only-desktop{
	display: block;
}

@media only screen and (max-width: 980px){

 	.only-desktop{
 		display: none;
 	}

}

@media only screen and (max-width: 768px){
	.portada_impreso{
		display: none;
	}

	.main-head header{
		min-height: 80px;
		line-height: 80px;
		height: 135px;
	}

	.main-head .title{
		margin: 10px 0;
	}
}

.mobile .search{
	line-height: 28px;
}


/* style for google search field */
@media only screen and (max-width: 799px){
	#top-search-q{
	    display: none;
    }
}
.gs-title{
text-align: left;
font-family: 'Roboto Slab', Georgia, serif;
}
.gs-result .gs-snippet{
font-size: 16px;
}
.gsc-control-cse .gs-spelling, .gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title *{
font-size: 20px;
font-weight: bold;
line-height: 23px;
text-decoration: blink;
}
.gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b{
color: #19232D;
}
.gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b{
color: #19232D; 
}
th, td{
border:none;
}
.gs-result .gs-snippet{
margin-left: 10px;
}
.gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl{
color: #A8111C;
}

/* Procesofoto (Home) */
.gallery-block .slider .title{
	display: block;
	position: absolute;
	margin-top: -50px;
	margin-left: 10px;
}

.gallery-block .slider .gogallery a{
	color: white;
	text-shadow: 2px 2px 2px rgba(52, 52, 52, 1);
}

.post-content blockquote{
	border-left: 3px solid #a8111c;
}

.post-content p, .post-content > ul, .post-content > div, .post-content > dl, .post-content blockquote, .post-content ol{
	font-size: 16px;
}