	html, body{background: #333;}
html{
	word-wrap: break-word;
	webkit-font-smoothing: antialiased;
}

#master_wrapper{
	width: 1620px;
	margin: 0 auto;
        padding: 50px 10px 0 10px;
	background: #222;
	font-family: "proxima-nova","Helvetica Neue", Helvetica, Arial, sans-serif;
	box-shadow: 0 0 20px #151515;
	
}

#master_wrapper .theme_nav{
	width: 150px;
	position: absolute;
	top: 50px; right: 25px;
	text-align: right;
}

#master_wrapper .theme_nav button{
	display: inline-block;
	background: white;
	width: 20px; height: 20px;
	border: 4px solid black;
	border-radius: 20px;
	margin: 3px 0;
	cursor: pointer;
	outline: none;
}

#master_wrapper .theme_nav button:hover{
	border: 4px solid white;
}

#master_wrapper.light .theme_nav button{
	background: black;
	border: 4px solid white;
}

#master_wrapper.light .theme_nav button:hover{
	border: 4px solid black;
}

#master_wrapper.light{
	background: #F1F1F1;
}

.deck{
	display: block;
	width: 100%;
	padding: 20px 0 10px 0;		
}

.deck:nth-child(even){
	background: #333333;
	position: relative;
	margin-left: -10px;
	width: 100%;
	padding: 20px 8px 7px 12px;
}


@media(min-width:1600px){
	
}

#feature_deck{
	width: 100%; margin-left: 0;
}

.deck .deckhead{
	position: relative;
	padding: 0 20px 15px 10px;
}

#master_wrapper .deck .deckhead h2{
	font-size: 27px;
	font-family: "proxima-nova","Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	font-weight: 100;
	padding: 0; margin: 0;
	text-transform: uppercase;
}

#master_wrapper.light .deck .deckhead h2{
	color: #151515;
}

#master_wrapper .tier_2{display: none;}

.deck .herowrapper{
	position: relative;
	width: 100%;
	
	
}

.deck .herowrapper .panel .mask{
	position: absolute;
	bottom: 0; left: 0;
	width: 100%; height: 50%;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.deck .herowrapper .panel{
	posiiton: relative; 
	width: 100%; height: 100%;
	background-size: cover!important;
	background-position: center center!important;
}

.deck .herowrapper .panel .text{
	position: absolute;
	bottom: 20px; left: 20px;
	width: calc(100% - 40px);
}

.deck .herowrapper .panel .text h2{
	color: white;
}

.deck .herowrapper .panel .text h2 a{
	color: white; text-decoration: none;
}

#gallery_deck.hidden{
	position: absolute;
	top: 0;
	opacity: 0;
	z-index: -10;
}

.deck .herowrapper .unit{
	height: 100%;
	
}


.deck .herowrapper .unit .slick_carousel{
	position: relative;
	width: 100%; 
	height: 100%;
	cursor: grab;
}

.deck .herowrapper .unit .slick_carousel .slick_carousel_slide{
	width: calc(100%);
	height: 100%;
	background-size: cover!important;
	background-position: center center!important;
	position: relative;
	
}



.deck .herowrapper .unit .slick_carousel .slick_carousel_slide .mask{
	width: 100%; height: 30%;
	position: absolute;
	bottom: 0; left: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+1,0.65+100 */
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.deck .herowrapper .unit .slick_carousel .slick_carousel_slide .text{
	width: calc(100% - 80px);
	padding-left: 40px;
	position: absolute;
	left: 20px; bottom: 20px;
	text-align: left;
	background: url(../images/buttons/text-red-bullet.svg) no-repeat;
	    background-size: 24px 24px;
    background-position: top left 15px;
}

.deck .herowrapper .unit .face.art .slick_carousel .slick_carousel_slide .text{
	background: none;
	width: calc(100% - 100px);
	padding-left: 60px;
}

.deck .herowrapper .unit .face.art .slick_carousel .slick_carousel_slide .text .avatar_thumb{
	position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-size: cover!important;
    background-position: center center!important;
}

.deck .herowrapper .unit .slick_carousel .slick_carousel_slide .text h2{
	font-size: 24px;
    font-weight: 200;
    color: white;
    line-height: 1em;
    text-transform: none;
	
}

.deck .herowrapper .unit .slick_carousel .slick_carousel_slide .text p{
	font-size: 14px;
	color: #AAA;
	padding: 5px 0;
	margin: 0;
}

#feature_deck{
        padding-top: 20px;
	padding-bottom: 30px;
}


#feature_deck .herowrapper .right .unit{
	height: 50%;
	background-size: cover!important;
    background-position: center center!important;
    position: relative;
}

.deck .herowrapper .right .unit .mask{
	width: 100%; height: 50%;
	position: absolute;
	bottom: 0; left: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+1,0.65+100 */
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.deck .herowrapper .right .unit .text{
	width: calc(100% - 60px);
	position: absolute;
	padding-left: 20px;
	left: 10px; bottom: 20px;
	text-align: left;
	background-size: 24px 24px;
	background-position: top left;
}

.deck .herowrapper .right .unit .face.art .text{
	padding-left: 40px;
    width: calc(100% - 80px);
}

.deck .herowrapper .right .unit.tier_2 .text{
	background: none;
	padding-left: 40px;
	width: calc(100% - 80px);
}

.deck .herowrapper .right .unit .text h3{
	font-size: 18px;
	font-weight: 200;
	color: white;
	line-height: 1em;
	text-transform: none;
}

.deck .herowrapper .right .unit .text h3 a, .deck .herowrapper .unit .slick_carousel .slick_carousel_slide .text h2 a{color: white; text-decoration: none;}

.deck .herowrapper .right .unit .text p{
	font-size: 13px;
	font-weight: 200;
	color: #AAA;
	line-height: 1em;
	text-transform: none;
	margin: 0; padding: 0;
}

a.clickzone{
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	display: block;
z-index:1;
}

#feature_deck .herowrapper .right .unit .avatar_thumb{
	position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background-size: cover!important;
    background-position: center center!important;
}

.deck .deckhead .nav{
	position: absolute; 
	top: 0; right: 20px;
	
}

#news_deck .deckhead{
	padding-bottom: 0;
}

.deck .deckhead .nav button{
	background: #2d2e32;
    color: #CCC;
    border: 0px none;
    cursor: pointer;
    display: inline-block;
    height: 38px;
    padding: 12px 20px 12px 20px;
    font-size: 13px;
    text-decoration: none;
    line-height: 1em;
    border-radius: 4px;
    margin: 2px;
	cursor: pointer;
}

.deck .deckhead .nav button:hover, .deck .deckhead .nav button.active{
	background: #FFF;
	color: #151515;
}


#feature_deck .herowrapper .unit .slick_carousel .slick_carousel_slide .text_1{display: block;}
#feature_deck.t2 .herowrapper .unit .slick_carousel .slick_carousel_slide .text_1{display: none;}

#feature_deck .herowrapper .unit .slick_carousel .slick_carousel_slide .text_2{display: none;}
#feature_deck.t2 .herowrapper .unit .slick_carousel .slick_carousel_slide .text_2{display: block;}


#feature_deck unit.tier_1{display: block;}
#feature_deck.t2 unit.tier_1{display: none;}

#feature_deck unit.tier_2{display: none;}
#feature_deck.t2 unit.tier_2{display: block;}

#feature_deck .herowrapper .right .unit.tier_1{display: block;}
#feature_deck.t2 .herowrapper .right .unit.tier_1{display: none;}

#feature_deck .herowrapper .right .unit.tier_2{display: none;}
#feature_deck.t2 .herowrapper .right .unit.tier_2{display: block;}

#feature_deck .herowrapper .unit .slick_carousel .slick_carousel_slide .text.text1{display: block;}
#feature_deck.t2 .herowrapper .unit .slick_carousel .slick_carousel_slide .text.text1{display: none;}

#feature_deck .herowrapper .unit .slick_carousel .slick_carousel_slide .text.text2{display: none;}
#feature_deck.t2 .herowrapper .unit .slick_carousel .slick_carousel_slide .text.text2{display: block;}


.deck .deckhead a.art_filter_button{
	display: inline-block;
	padding: 10px 10px 10px 50px;
	margin-left: 50px;
	top: -7px;
	position: relative;
	font-size: 13px;
	background: url(../images/buttons/filter.svg) no-repeat;
	background-size: 30px 30px;
	background-position: center left 8px;
	text-decoration: none;
	color: white;
	font-weight: 400;
	opacity: 0.3;
}

.deck .deckhead a.art_filter_button:hover{
	opacity: 1;
}

.slick-prev{
	left: 5px!important;
	z-index: 5!important;

}

.slick-next {
	right: 5px!important;
}

.slick-dots{
	bottom: 0px!important;
	margin-bottom: 5px!important;
	right: 5px!important;
	width: 200px!important;
}

.slick-dots li{
	margin: 0!important;
	color: white!important;
}

.slick-dots li button{
	color: white!important;
}

.slick-slider .slick-track, .slick-slider .slick-list{
	height: 100%;
}

.deck .slider{
	posiiton: relative;
	width: 100%;
	display: block;
	overflow-y: visible;
	z-index: 5;
	cursor: grab!important;
	cursor: grab;
	cursor: -webkit-grab; cursor: -moz-grab;
}


#workshop_deck.deck .slider{
	margin-bottom: 5px;
}

.deck .slider:active { cursor: -webkit-grabbing; cursor: -moz-grabbing; }

#news_deck.deck .slider .slide{
	display: block;
	position: relative;
}

#news_deck.deck .slider .slide.ad{
	background: #151515;
}

#gallery_deck.deck .slider{
	width: calc(100% - 20px);
	margin-left: 10px;
}

#gallery_deck.deck .slider .slide{
	display: block;
	position: relative;
	height: calc(100% - 10px);
	padding: 5px;
	cursor: grab;
	cursor: -webkit-grab; cursor: -moz-grab;
}

#news_deck.deck .slider .slide img{
	width: 100%;
	position: absolute;
	cursor: grab;
	cursor: -webkit-grab; cursor: -moz-grab;
}

#gallery_deck.deck .slider .slide img{
	width: initial;
	height: 100%;
}



.slider .slide .wrap{
	width: 100%; height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0; left: 0;
	z-index: 4;
	transition: all 0.25s;
	background-size: cover!important;
	background-position: center center!important;
	cursor: grab;
	cursor: -webkit-grab; cursor: -moz-grab;
}

#news_deck .slider .slide:hover .wrap, #news_deck .slider .slide.active .wrap{
	width: calc(100% + 40px);
	height: calc(100% + 40px);
	top: -20px;
	left: -20px;
	z-index: 5;
	transition: all 0.25s;
	
}

#gallery_deck .slider .slide .wrap{
	left: initial;
	top: initial;
	position: relative;
}

/*
#workshop_deck{
	width: calc(100% - 20px);
	padding-left: 10px; 
}
*/

#workshop_deck .slider .slide{
	padding: 0;
	position: relative;
}

#workshop_deck .slider .slide:focus{
    outline: 0;
}

#workshop_deck .slider .slide .wrap{
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	left: 10px;
	top: 10px;
	position: relative;
	background-size: cover!important;
	background-position: center center!important;
}

.slider .slide .editworkshop{
	position: absolute;
	top:50x; right: 5px;
	font-size: 12px;
	text-transform: uppercase;
	padding: 5px 10px;
	background: white;
	color: #151515;
	z-index: 10;
}

.edit{
	position: absolute;
	top: 0x; right: 5px;
	font-size: 12px;
	text-transform: uppercase;
	padding: 5px 10px;
	background: white;
	color: #151515;
	z-index: 10;
}

.slider .slide .wrap .mask{
	width: 100%; height: 50%;
	position: absolute;
	bottom: 0; left: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+1,0.65+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

#gallery_deck .slider .slide .wrap .text{
	width: calc(100% - 55px);
	padding-left: 35px;
	background: None;
	bottom: 10px; left: 10px;
	opacity: 0;
	transition: opacity 0.25s;
}

#gallery_deck .slider .slide .wrap .mask{
	opacity: 0;
	transition: opacity 0.25s;
}

#gallery_deck .slider .slide:hover .wrap .mask{
	opacity: 1;
	transition: opacity 0.25s;
}

#gallery_deck .slider .slide:hover .wrap .text{
	opacity: 1;
	transition: opacity 0.25s;
}

#gallery_deck .slider .slide .wrap .text .avatar_thumb{
	position: absolute;
	top: 0; left: 0;
	width: 25px; height: 25px;
	background-size: cover!important;
	background-position: center center!important;
}

.slider .slide .wrap .text{
	width: calc(100% - 35px);
	padding: 0;
	position: absolute;
	bottom: 10px; left: 10px;
	transition: all 0.25s;
	padding-left: 15px;
	background: url(../images/buttons/text-red-bullet.svg) no-repeat;
	background-size: 18px 18px;
	background-position: top left;
}

#news_deck .slider .slide:hover .wrap .text, #news_deck .slider .slide.active .wrap .text{
	left: 30px;
	bottom: 30px;
	transition: all 0.25s;
}

.slider .slide .wrap .text h3{
	font-size: 18px;
	font-weight: 400;
	padding: 0; margin: 0;
	color: white;
	line-height: 1em;
	display: block;
}

.slider .slide .wrap .text h3 a{color: white; text-decoration: none;}

.slider .slide .wrap .text p{
	font-size: 11px;
	font-weight: 200;
	padding: 0; margin: 0;
	line-height: 1em;
	display: block;
	color: rgba(255,255,255,0.7);
}

.slider .slide .wrap .show_preview{
	background: #c5202d;
	width: 100%; height: 30px;
	position: absolute;
	bottom: -1px; left: 0;
	opacity: 0;
	transition: opacity 0.25s;
	cursor: pointer;
	z-index: 5;
}

#workshop_deck .slider .slide .wrap .show_preview{
	bottom: -60px;
}

.slider .slide .wrap .show_preview .pointer{
	position: absolute;
	width: 20px; height: 20px;
	top: calc(50% - 10px); left: calc(50% - 10px);
	background: url(../images/buttons/small-down-arrow.svg) no-repeat;
	background-position: center center;
	-ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
	transition: transform 0.25s;
}

.slider .slide.active .wrap .show_preview .pointer{
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
	transition: transform 0.25s;
}

.slider .slide:hover .wrap .show_preview, .slider .slide.active .wrap .show_preview{
	opacity: 1;
	transition: opacity 0.25s;
	
}

.deck .extra{
	display: block;
	position: relative;
	margin-top: -10px;
	width: 100%;
	height: 500px;
	background: #333;
	z-index: 1;
	display: none;
}

#workshop_deck.deck .extra{
	display: none;
	margin-top: -20px;
	margin-bottom: 20px;
	background: #454545;
}

.deck .extra a.close{
	width: 30px; height: 30px;
	position: absolute;
	top: 20px; right: 20px;
	background: url(../images/buttons/close-white-bg-circle.svg) no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	-ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
	transition: transform 0.25s;
}

.deck .extra a.close:hover{
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
	transition: transform 0.25s;
}

.deck .extra .size1of2{
	height: 100%;
}





#workshop_deck .extra{
	display: none;
}

#workshop_deck .extra .padding{
	width:calc(100% - 80px);
	text-align: left;
}

#news_deck .extra .padding{
	width: calc(100% - 400px)!important;
	text-align: left;
}

#news_deck .extra .padding, #workshop_deck .extra .start_date{
	
}

#workshop_deck .extra .start_date{
	position: absolute;
	top: 20px; right: calc(50% + 340px);
	font-size: 12px;
	color: white;
}

.deck .extra .padding{
	width: calc(100% - 80px)!important;
	padding: 30px 40px;
}

.deck .extra h2{
	font-size: 40px;
	line-height: 1em;
	color: white;
	font-weight: 400;
	text-transform: Capitalize;
}

.deck .extra h3{
	font-size: 18px;
	color: #AAA;
	font-weight: 100;
	text-transform: lowercase;
}

.deck .extra h4{
	color: #EEE;
	font-size: 12px;
	margin: 12px 0 0 0;
}



.deck .extra .imgwrapper{
	width: 100%; height: 100%;
	display: block;
	background-size: cover!important;
	background-position: center center!important;
}

.deck .extra .imgwrapper .videoplayer{
	position: relative;
	width: 100%; height: 100%;
	display: block;
	background: url(../images/buttons/play-white.svg) no-repeat;
	background-size: 50px 50px;
	background-position: center center;
}


.deck .extra .ad{
	width: 300px; height: 250px;
	background: #000;
	border: 1px solid #666;
	margin: 20px 0;
	position: absolute;
	top: 20px; right: calc(50% + 20px);
}

.deck .extra .ad p{
	color: white;
	position: absolute;
	top: 20px; left: 20px;
}

.deck .extra .instructor{
	width: 280px;
	height: calc(100% - 40px);
	padding: 20px;
	background: #333;
	position: absolute;
	top: 0; right: 0;
}

.deck .extra .instructor .avatar{
	width: 280px; height: 240px;
	background-position: center center!important;
	background-size: cover!important;
}

.deck .extra .instructor h3{
	color: #D1D1D1;
	font-size: 22px;
	padding: 15px 0 3px 0;
	font-weight: 200;
	text-transform: uppercase;
}

.deck .extra .instructor p{
	color: #CCC;
	font-size: 13px;
	padding: 0; margin: 0;
}

#workshop_deck .extra .unit.left{
	width: calc(50% - 320px);
}
#workshop_deck .extra .unit.right{
	width: calc(50%);
	height: 100%;
}

.deck .extra a.redbutton{
	background: #c5202d url(../images/buttons/small-white-arrow.svg) no-repeat;
	background-position: center right 15px;
	background-size: 14px 14px;
	color: white;
	padding: 10px 30px 10px 15px;
	display: inline-block;
	border: 0px none;
	margin: 20px 0 20px 0;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 11px;
	
	
}

.deck .extra a.redbutton:hover{
	background: #ba0000 url(../images/buttons/small-white-arrow.svg) no-repeat;
	background-position: center right 15px;
	background-size: 14px 14px;
}

.deck .extra .padding p{
	color: #BBB;
	font-size: 16px;
	line-height: 1.5em;
	padding: 0 0 10px 0;
}

.deck .extra .padding p.pricing{
	font-size: 40px;
	color: #FFF;
	font-weight: 400;
	line-height: 1em;
	margin: 0; padding: 0 0 10px 0;
}

.deck .extra .padding p.pricing sup{
	font-size: 0.5em!important;
}

.deck .extra .padding .instructor p{
	font-size: 15px;
	font-weight: 200;
	color: #AAA;
	margin: 0;
	
}

#news_deck .slick-slider .slick-track, #news_deck .slick-slider .slick-list{
	padding: 10px 0 10px 0;
	height: calc(100% + 20px);
}

#workshop_deck .slider .slide .text{
	width: calc(100% - 50px);
	height: 30px;
	padding: 10px 10px 10px 40px;
	background: url(../images/buttons/academic-hat.svg) no-repeat;
	background-size: 20px 20px; background-position: top 10px left 10px; 
	bottom: 0px; left: 0px;
}



#workshop_deck .slider .slide .text2{
	width: calc(100% - 20px);
	height: 15px;
	padding: 10px;
	position: absolute;
	bottom: -35px;
	left: 0;
	background: #252525;
	
	
}

#workshop_deck .slider .slide .text2 a{
	color: white;
	background: #059d62;
	border: 0px none;
	position: absolute;
	top: 0; right: 0;
	font-size: 13px;
	height: 15px;
	padding: 10px 20px;
	text-decoration: none;
	display: none;
	text-transform: uppercase;
}

#workshop_deck .slider .slide:hover .text2 a{
	display: block;
}

#workshop_deck .slider .slide .text2 p{
	color: #999;
	font-size: 13px;
	padding: 0; margin: 0; line-height: 1em;
	
}

#workshop_deck .slider .slide .wrap{
	overflow: initial;
	background-size: cover!important;
	background-position: top center!important;
}

#workshop_deck .extra .difficulty{
	display: block;
	margin: 0 0 10px 0;
	height: 10px;
	padding-top: 20px;
	font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    
}

#workshop_deck .extra .difficulty.fundamental{
	background: url(../images/buttons/difficulty-fundamentals.svg) no-repeat;
	background-position: left top;
	background-size: 85px 20px;
}

#art_deck .deckhead{
	position: relative;
}

#art_deck .deckhead .search_art, .deckhead .filter_block{
	width: calc(100% - 280px);
	position: absolute;
	top: 0;
	left: 100px;
	height: 32px;
}

#art_deck .deckhead .search_art input, .deckhead .filter_block input{
        width: 180px;
	padding: 10px;
	font-size: 13px;
	border: 1px solid #666;
	background: none;
	color: #999;
}

.select_list{
	min-width: 90px;
	height: 13px;
	font-size: 12px;
	padding: 12px 30px 11px 9px;
        margin-right:5px;
	border: 1px solid #666;
	position: relative;
	cursor: pointer;
	background: url(../images/buttons/arrow-white-down.svg) no-repeat;
	background-size: 20px 20px;
	background-position: center right 5px;
        white-space:nowrap;
}

.select_list span{
	display: inline-block;
	color: #CCC;
}

.select_list .pane{
	position: absolute;
	top: 32px; right: 0px;
	margin:  0;
	padding: 0;
	background: white;
	z-index: 5;
	border: 1px solid #666;
	display: none;
}


#art_deck .deckhead .pane button{
	border: 1px solid #666;
	padding: 5px;
	text-transform: uppercase;
	background: white;
	cursor: pointer;
}

#art_deck .deckhead .pane button:hover{
	color: white; background: #151515;
}

#art_deck .deckhead .pane p{
	padding: 0 10px; text-transform: uppercase;
}

.select_list .pane.wide{width: 280px; right: -100px;}


.select_list:hover .pane{
	display: block;
}

.select_list .pane.wide .line .padding{width: calc(100% - 20px); padding: 10px; border-bottom: 1px solid #666;}

.select_list .pane.wide .line .size1of2{width: calc(50% - 1px); border-right: 1px solid #666;}

.select_list .pane.wide .line .size1of2 ul{border-top: 1px solid #666;}

.select_list .pane ul{
	text-indent: 0;
	padding: 0; margin: 0; width: 100%;
	
}

.select_list .pane ul li{
	list-style: none;
	border-bottom: 1px solid #666;
	cursor: pointer;
}

.select_list ul li:hover{
	color: #CCC;
	background: #666;
}

.select_list .pane ul li a{
 	text-decoration: none; 
	color: #151515;
        width: calc(100% - 20px);
        padding: 10px;
display:block;
}
.select_list .pane ul li:hover a{color: #FFF; text-decoration: underline;}

#art_deck .mosaic{
	padding: 10px;
}

.select_list .pane input{
	width: 150px;
}

#art_deck .mosaic div img{
	vertical-align: bottom;
	opacity: 1;
}

#art_deck .mosaic div{
	display: block;
	opacity: 0;
}

#job_deck{
	padding-bottom: 10px!important;
}

#job_deck .slider{
	height: 240px;
	margin-bottom: 0!important;
}

#job_deck .slider .slide{
	height: 240px;
	position: relative;
}


#job_deck .slider .slide.active { 
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c5202d+0,c5202d+100&amp;0+40,1+100 */

background: -moz-linear-gradient(top,  rgba(197,32,45,0) 0%, rgba(197,32,45,0) 40%, rgba(197,32,45,1) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(197,32,45,0)), color-stop(40%,rgba(197,32,45,0)), color-stop(100%,rgba(197,32,45,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(197,32,45,0) 0%,rgba(197,32,45,0) 40%,rgba(197,32,45,1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(197,32,45,0) 0%,rgba(197,32,45,0) 40%,rgba(197,32,45,1) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(197,32,45,0) 0%,rgba(197,32,45,0) 40%,rgba(197,32,45,1) 100%); /* IE10+ */

background: linear-gradient(to bottom,  rgba(197,32,45,0) 0%,rgba(197,32,45,0) 40%,rgba(197,32,45,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c5202d', endColorstr='#c5202d',GradientType=0 ); /* IE6-9 */


}

#job_deck .slider .slide .thumb{
	position: relative;
	width: 150px; 
        height: 150px;
	margin-left: calc(50% - 75px);
   background-attachment: scroll;
    background-clip: border-box;
    background-color: #151515;
    background-image: none;
    background-origin: padding-box;
    background-position: center center !important;
    background-repeat: repeat;
    background-size: cover !important;
	border-radius: 150px;
	overflow: hidden;
	
}

#job_deck .slider .slide .count{
	height: 15px; width: 25px;
	padding:  8px 5px 12px 5px;
	background: #c5202d;
	color: white;
	border-radius: 40px;
	position: absolute;
	left: calc(50% + 50px); top: 0;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
}

#job_deck .slider .slide .text{
	width: calc(100% - 40px);
	margin: 10px 20px;
	text-align: center;
}

#job_deck .slider .slide .text h3{
	font-weight: 400;
	color: white;
	font-size: 18px;
	padding: 0; margin: 0;
 overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: nowrap;
}

#job_deck .slider .slide .text p{
  color: #AAA;
  font-size: 13px;
  margin: 0;   
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: nowrap;
}

#job_deck .extra{
	width: calc(100% - 40px);
	padding: 20px;
	background: #C5202D;
	display: block;
	text-align: left;
}

#job_deck .extra h2{
	text-align: left;
	font-weight: 100;
}

#job_deck .extra ul{
	margin: 0;
	height: auto;
	padding: 20px 0;
	width: calc(100% + 10px);
	text-indent: 0;
}

#job_deck .extra ul li{
	width: 260px; 
	height: 40px;
	padding: 20px;
	margin: 0 10px 10px 0;
	background: black;
	display: inline-block;
	
}

#job_deck .extra ul li h3{
	color: white;
	font-weight: 400;
	margin: 0; padding: 0;
	font-size: 15px;
}

#job_deck .extra ul li p{
	font-size: 12px;
	color: #AAA;
	padding: 0; margin: 0;
}



#job_deck .text  .no_listings{
    background: rgba(0, 0, 0, 0) url("../images/buttons/career-no-listings-icon.svg") no-repeat scroll left center / 20px 20px;
    color: #999;
    display: inline-block;
    font-size: 12px;
    line-height: 0.8em;
    margin-top: -4px;
    padding: 5px 0 5px 30px
}

.forum_wrapper{
	padding: 0 20px 20px 20px; 
	margin: 0;
	text-indent: 0;
}

.forum_wrapper li{
	list-style: none;
	padding: 15px 45px 75px 90px;
	height: 35px;
	color: white;
	float: left;
	position: relative;
	width: 260px;
}

.forum_wrapper li .thumb{
	position: absolute;
	top: 0px; left: 0px;
	width: 80px; height: 80px;
	background: url(../images/bg/cg-logo-bg.png) no-repeat;
	background-size: cover!important;
	background-position: center center!important;
	border-radius: 80px;
}

.forum_wrapper li .thumb:hover{
	box-shadow: 0px 0px 15px white;
}

.forum_wrapper li h3{
	color: white;
	font-size: 14px;
	font-weight: 400;
	margin: 0; padding: 0;
}

.forum_wrapper li h3:hover{text-decoration: underline; cursor: pointer;}

.forum_wrapper li p{
	color: #CCC;
	font-size: 10px;
	padding: 0; margin: 0;
}

.light .forum_wrapper li h3{color: #151515;}

.light .forum_wrapper li p{color: #666;}


/*---------------------------------- CSS 3D FLIP -----------------------------------*/

.depthbox{
	width: 300px; height: 150px;
	-webkit-perspective: 400px;
    -moz-perspective: 400px;
    -o-perspective: 400px;
    -ms-perspective: 400px;
    perspective: 900px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}	

.depthbox .zoomback{
	width: 300px height: 150px;
	-webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ie-transform-style: preserve-3d;
	transform-style: preserve-3d;
    -webkit-transform: translateZ(-75px);
    -moz-transform: translateZ(-75px);
    -o-transform: translateZ(-75px);
    -ms-transform: translateZ(-75px);
    transform: translateZ(-75px);
}

.depthbox .zoomback .box{
    margin: 0;
    position: relative;
    width: 300px;
    height: 150px;
	position: relative;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ie-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    transition: transform 0.5s;
}

.depthbox.tier2 .zoomback .box{
	-webkit-transform: rotateX(90deg) rotateY(0deg);
    -moz-transform: rotateX(90deg) rotateY(0deg);
    transform: rotateX(90deg) rotateY(0deg);
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    transition: transform 0.5s;
}

.depthbox .zoomback .box .face{
	position: absolute;
	background-size: cover!important;
	background-position: center center!important;
	
}

.depthbox .zoomback .box .face:nth-child(1) {
    width: 300px;
    height: 150px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(75px);
    -moz-transform: translateZ(75px);
    -o-transform: translateZ(75px);
    -ms-transform: translateZ(75px);
    transform: translateZ(75px);
}

.depthbox .zoomback .box .face:nth-child(2) {
     width: 300px;
    height: 150px;
    -webkit-transform: translateY(75px) rotateX(-90deg);
    -moz-transform: translateY(75px) rotateX(-90deg);
    -o-transform: translateY(75px) rotateX(-90deg);
    -ms-transform: translateY(75px) rotateX(-90deg);
    transform: translateY(75px) rotateX(-90deg);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

/*---------------------------------- 3D BUTTONS -----------------------------------*/


.button_holder {
    width: 138px;
    height: 31px;
    display: inline-block;
    margin: 0 auto;
}

.buttonbox{
	text-decoration: none;
	display: inline-block;
  -webkit-perspective : 300px;
  -moz-perspective    : 300px;
  -o-perspective      : 300px;
  -ms-perspective     : 300px;
  perspective         : 300px;

  -webkit-perspective-origin  : 50% 50%;
  -moz-perspective-origin     : 50% 50%;
  -moz-transform-origin       : 50% 50%;
  -o-perspective-origin       : 50% 50%;
  -ms-perspective-origin      : 50% 50%;
  perspective-origin          : 50% 50%;
  -webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-ie-transform-style:preserve-3d;
	transform-style:preserve-3d;
	
}

.buttonbox.smallbutton {
    display: inline-box;
    width: 136px;
    height: 30px;
    -webkit-perspective: 200px;
    -moz-perspective: 200px;
    -o-perspective: 200px;
    -ms-perspective: 200px;
    perspective: 200px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    position: relative;
}

.buttonbox.smallbutton .box {
    margin: 0;
    position: relative;
    width: 130px;
    height: 31px;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ie-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
}

.buttonbox.smallbutton:hover .box, .buttonbox.smallbutton.active .box {
    -webkit-transform: rotateX(90deg) rotateY(0deg);
    -moz-transform: rotateX(90deg) rotateY(0deg);
    transform: rotateX(90deg) rotateY(0deg);
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
}

.buttonbox.smallbutton .face {
    width: 130px;
    height: 30px;
    position: absolute;
    text-align: center;
    backface-visibility: hidden;
    text-align: center;
}

.buttonbox.smallbutton .face:nth-child(1) {
    width: 126px;
    height: 30px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid #080909;
    -webkit-transform: translateZ(16px);
    -moz-transform: translateZ(16px);
    -o-transform: translateZ(16px);
    -ms-transform: translateZ(16px);
    transform: translateZ(16px);
}

.buttonbox.smallbutton.white .face:nth-child(1) {
    border: 1px solid white;
}



.buttonbox.smallbutton .face:nth-child(2) {
    -webkit-transform: translateY(16px) rotateX(-90deg);
    -moz-transform: translateY(16px) rotateX(-90deg);
    -o-transform: translateY(16px) rotateX(-90deg);
    -ms-transform: translateY(16px) rotateX(-90deg);
    transform: translateY(16px) rotateX(-90deg);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    background: black;
    width: 126px;
    height: 30px;
    border: 1px solid #080909;
}

.buttonbox.smallbutton.white .face:nth-child(2) {
    border: 1px solid white;
    background: white;
}

.light .buttonbox.smallbutton.white .face:nth-child(1) {
	border: 1px solid #151515;
}

.light .buttonbox.smallbutton.white .face:nth-child(2) {
    border: 1px solid #151515;
    background: #151515;
}

.buttonbox.smallbutton.white .face p{
	line-height: 1em;
	padding: 0; margin: 0;
	font-family: "proxima-nova","Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	padding: 10px 0 0 0;
}
.buttonbox.smallbutton.white .face:nth-child(1) p {
    color: white;
}

.buttonbox.smallbutton.white .face:nth-child(2) p {
    color: #151515;
}

.light .buttonbox.smallbutton.white .face:nth-child(1) p {
    color: #151515;
}

.light .buttonbox.smallbutton.white .face:nth-child(2) p {
    color: white;
}

.box{
	margin: 0 ;
	position: relative;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-ie-transform-style:preserve-3d;
	transform-style:preserve-3d;
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	transition: all 0.25s;
}
/*
.box:hover{
	-webkit-transform: rotateX(90deg) rotateY(0deg);
	-moz-transform: rotateX(90deg) rotateY(0deg);
	transform: rotateX(90deg) rotateY(0deg);
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	transition: all 0.25s;
}
*/

.grid{
	width: calc(100% + 5px);
}

.grid .tile{
	float: left;
	margin: 0 5px 5px 0;
	width: 265px; height: 265px;
	position: relative;
	background-size: cover!important;
	background-position: center top!important;
	overflow:hidden;	
}

.grid .tile.ad{
	background: #151515;
}

.grid .tile.ad iframe {
	position: absolute;
	width: 100%;
	height: 100%;
}


.grid .tile.news .text{display: block; width: calc(100% - 20px); left: 10px; bottom: 10px;}

.grid .tile .mask{
	width: 100%; height: 30%;
	position: absolute;
	bottom: 0; left: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+1,0.65+100 */
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}


.grid .tile a.clickzone{
	display: block;
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	
}

.grid .tile .text{
	position: absolute;
	bottom: 10px; left: 10px;
	width: calc(100% - 20px);
	color: white;
	display: none;
}

.grid .tile:hover .text{
	display: block;
}

.grid .tile .text h3{
	
	color: white;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 1em;
	font-size: 18px;
}

.grid .tile .text h3 a{color: white; text-decoration: none;}

.grid .tile .text p{
	font-size: 11px;
    font-weight: 200;
    padding: 0;
    margin: 0;
    line-height: 1em;
    display: block;
    color: rgba(255,255,255,0.7);
	display: none;
}

.grid .tile img{display: block;}

#news_grid{margin: 20px 0 0 0;}


/*---------------------------------- CSS FRAMEWORK -----------------------------------*/

.line{display: block;}

.unit{float: left;}

.size1of2{width: 50%;}
.size1of4{width: 50%;}
.size1of3{width: 33.33%;}


.big_ad_deck{
	display: block;
	padding: 10px 0;
	text-align: center;
}

.big_ad_deck{
	margin: 0 auto;
	display: block;
        padding-bottom: 35px;
}

@media(max-width: 1620px){
	#master_wrapper{
		width: 100%;
		padding: 50px 0 0 0;	
	}
}

@media(max-width: 1300px){
	.deck .herowrapper .right .unit .text h3{
		font-size: 18px;	
	}
}

@media(max-width: 1023px){
	.deck .herowrapper > .size1of2{
		height:	initial;
		width: 100%;
	}

	.deck .herowrapper > .size1of2.big{
		height: 250px;	
	}

	.deck .deckhead .nav{
		position: relative;
		top: initial;
		right: initial;
		padding: 5px 0 10px 0;	
	}
	
	.deck .deckhead h2{
		font-size: 24px;	
	}
	
	#master_wrapper .deck .deckhead h2{
		font-size: 1.2em;	
	}
	
	.deck, #workshop_deck{
		padding-bottom: 40px;	
	}
}

@media(max-width: 732px){
/*	.big_ad_deck{display: none;}*/

	#art_deck .deckhead .search_art, .deckhead .filter_block{
		display: block;
		position: relative;
		width: 100%;
		left: 0;
		height: initial;
		padding: 10px 0 5px 0;
	}

}

@media(max-width: 520px){
	#master_wrapper{
	
	}

	#feature_deck .herowrapper .right .unit.size1of2{
		width: 100%;
			
	}
}

/************************* ARTICLES PAGE *******************/

#feature_slide{
	width: 100%; height: 300px;
}

#feature_slide .slide{
	width: 500px; height: 300px;
	display: inline-block;
	position: relative;
}
