/* test comment 3 */
html{
	margin: 0; padding: 0;
	width: 100%;
/*	overflow-x: hidden;*/
	min-height: 100%;
}

a img{border: 0px none;}

body{
	margin: 0; padding: 0;
	font-family: 'Titillium Web', sans-serif;
	background: #282828;
	overflow-x: hidden;
	width: 100%;
	min-height: 100%;
}

h1,h2,h3,h4,h5{
	font-weight: 200;
	margin: 0; padding: 0;
	
}

.top-sponsor{
 text-align:center;
 padding:10px 0; 
 height:90px;
}


.line{display: block;}

.dynamic_style{
	display: block;
}

.titlebar{
	width: calc(100% - 39px);
	height: 20px;
	padding: 10px 20px;
	background: rgb(5, 157, 98);
	top: 0px;
	right: 0px;
	color: white;
	line-height: 1em;
	position: relative;
}

.main-content-wrapper{
	background: #FFF;
	min-height: 500px;
	position: relative;
}

.titlebar h2{
	padding: 0px;
	font-size: 18px;
	font-weight: 200;
	margin: 0px;
	position: absolute;
	top: 11px;
	left: 10px;
	color: white;
	text-transform: uppercase;
	line-height: 1em;
}

.titlebar ul.menu{
	width: calc(100% - 200px);
	position: absolute;
	top: 0; left: 180px;
	left-indent: 0;
	margin-top: 0;
	padding: 0; margin: 0;
}

.titlebar ul.menu li{
	list-style: none;
	display: inline-block;
	margin: 0;
}

.titlebar ul.menu li.last{
	position: absolute;
	right: 0;
	text-transform: uppercase;
}

.titlebar ul.menu li a{
	color: white;
	padding: 11px 20px;
	
	text-decoration: none;
	line-height: 1em;
	font-size: 16px;
	display: block;
}

.titlebar ul.menu li a:hover{
	text-decoration: underline;
}

.cgs-wrapper{
	display: block; 
	height: 600px; 
	background: white; 
	margin-top: 50px; 
	position: relative;
}

.sliderwrapper{
	width: 100%;
	padding-right: 20px;
}

#masthead{
	background: #252525;
	width: 100%; height: 50px;
	position: fixed;
	top: 0; left: 0;
	z-index: 30;
        transition: top 0.2s ease-in-out;
}

#masthead.head-hide {
    top: -50px;
}


#masthead a#logo{
	position: absolute;
	top: 5px; left: 15px;
	font-size: 18px;
	color: white;
	line-height: 1em;
	text-decoration: none;
	font-weight: 200;
	letter-spacing: 1px;
	width: 150px;
	height: 40px;
	background: url(../images/brand/cgsociety-logo.svg) no-repeat;
	background-position: center center;
}

#masthead .menu{
	position: absolute; top: 0; left: 180px;
}

#masthead .menu ul{
	margin: 0; padding: 0;
}

#masthead .menu ul li{
	display: inline-block; margin: 0; padding: 0; height: 10px;
	text-transform: uppercase;
	height: 50px;
	-webkit-transition: all 0.25s; 
	-moz-transition: all 0.25s;
	transition: all 0.25s;
}


#masthead .menu ul li a{
	color: #AAA;
	font-size: 12px;
	line-height: 1em;
	text-decoration: none;
	height: 10px;
	padding: 20px 17px; margin: 0;
	display: block;
	-webkit-transition: all 0.25s; 
	-moz-transition: all 0.25s;
    transition: all 0.25s;
	
}

#masthead .menu ul li:hover{
	background: white;
	-webkit-transition: all 0.25s; 
	-moz-transition: all 0.25s;
    transition: all 0.25s;
}

#masthead .menu ul li:hover a{
	color: #333;
	-webkit-transition: all 0.25s; 
	-moz-transition: all 0.25s;
    transition: all 0.25s;
}

#masthead .searchbar{
	background: #000 url(../images/buttons/magnifier-white.svg) no-repeat;
	background-size: 20px 20px;
	background-position: center right 15px;
	width: 190px;
	height: 50px;
	position: absolute;
	top: 0; right: 50px;
        z-index:10;
}

#masthead .searchbar .toggle{
	display: none;
}

#masthead .searchbar input{
	background: none;
	color: #CCC;
	border: 0px none;
	font-size: 14px;
	font-family: 'Titillium Web', sans-serif;
	padding: 14px 10px;
	width: 130px;
}

#masthead .searchbar .resultswrapper{
	width: 280px;
	padding: 20px;
	height: 300px;
	border: 1px solid #CCC;
	background: white;
	position: absolute;
	right: -50px;
	top: 50px;
	z-index: 20;
	overflow-y: auto;
	display: none;
}

#masthead .searchbar .resultswrapper .close{
	width: 30px; height: 30px;
	background: url(../images/buttons/close-button.svg) no-repeat;
	background-size: 40px 40px;
	background-position: center center;
	cursor: pointer;
	position: absolute;
	top: 20px; right: 20px;
	overflow: hidden;
}

#masthead .searchbar .resultswrapper ul{
	margin: 50px 0 0 0; padding: 0;
	text-indent: 0;
	border-top: 1px solid #CCC;
}

#masthead .searchbar .resultswrapper ul li{
	padding: 10px 0 10px 50px;
	width: calc(100% - 50px);
	border-bottom: 1px solid #CCC;
	list-style: none;
	margin: 0;
	min-height: 42px;
	position: relative;
}

#masthead .searchbar .resultswrapper ul li a{
	text-decoration: none;
	color: #333;
}

#masthead .searchbar .resultswrapper ul li a h4{
	padding: 0; margin: 0;
	line-height: 1em;
}

#masthead .searchbar .resultswrapper ul li p{
	font-size: 10px;
	font-style: italic;
	padding: 0; margin: 0;
	line-height: 1em;
}

#masthead .searchbar .resultswrapper ul li .thumb{
	width: 40px; height: 40px;
	position: absolute;
	top: 10px; left: 0;
	background: #999;
	border: 1px solid #CCC;
}

#masthead .searchbar .resultswrapper ul li .thumb img{
	width: 100%; height: 100%;
}

#masthead  .register{
	background: #b11d28;
	color: white;
	font-family: 'Titillium Web', sans-serif;
	padding: 20px;
	height: 10px; 
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	position: absolute;
	top: 0; right: 240px;
	line-height: 1em;
}

#masthead .current-user{
	background: #c5202d;
	color: white;
	font-family: 'Titillium Web', sans-serif;
	padding: 20px 20px 20px 60px;
	height: 10px; 
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	position: absolute;
	top: 0; right: 331px;
	line-height: 1em; 
}

#masthead .current-user:hover{
	background: #81151d;
}

#masthead  .current-user .thumb{
	width: 34px; height: 34px;
	position: absolute;
	top: 8px; left: 15px;
	border-radius: 34px;
	overflow: hidden;
	background: #333 url(../images/buttons/ico-profile-square.svg) no-repeat;
}

#masthead  .current-user .down{
	display: inline-block;
	width: 10px; height: 10px;
	background: url(../images/buttons/small-down-arrow.svg) no-repeat;
	background-size: 10px 10px;
	background-position: center center;
	margin-left: 5px;
}

#masthead .add-project{
	background: #b11d28;
	width: 100px;
	color: white;
	font-family: 'Titillium Web', sans-serif;
	padding: 20px 0 20px 0;
	height: 10px; 
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	position: absolute;
	top: 0; right: 240px;
	line-height: 1em; 
	text-align: center;
}

#masthead .add-project:hover{
	background: #81151d;
}

#masthead  .current-user .thumb img{
	width: 100%; height: 100%;
}

#masthead .drop-panel.user-menu{
	position: absolute;
	top: 50px; right: 340px;
	padding: 20px;
	background: white;
	width: auto;
	
}

#masthead .drop-panel.user-menu ul{
	padding: 0; margin: 0;
	left-indent: 0;
}


#masthead .user-menu ul li{
	list-style: none;
	margin: 0; padding: 0 10px;
	text-align: left;
}

#masthead .user-menu ul li:hover{
	background: #CCC;
}

#masthead .user-menu ul li a{
	padding: 10px 0 10px 30px;
	margin: 0;
	color: #333;
	text-decoration: none;
	text-transform: capitalize;
	display: block;
}

#masthead .user-menu ul li a.ico-portfolio{
	background: url(../images/buttons/ico-portfolio.svg) no-repeat;
	background-position: left center;
	background-size: 20px 20px;
}

#masthead .user-menu ul li a.ico-forum{
	background: url(../images/buttons/ico-profile.svg) no-repeat;
	background-position: left center;
	background-size: 20px 20px;
}

#masthead .user-menu ul li a.ico-project{
	background: url(../images/buttons/ico-plus.svg) no-repeat;
	background-position: left center;
	background-size: 20px 20px;
}

#masthead .user-menu ul li a.ico-upgrade{
	background: url(../images/buttons/ico-upgrade.svg) no-repeat;
	background-position: left center;
	background-size: 25px 25px;
}

#masthead .user-menu ul li a.ico-envelope{
        background: url(../images/buttons/ico-envelope.svg) no-repeat;
        background-position: left center;
        background-size: 25px 25px;
}

#masthead .user-menu ul li a.ico-logout{
	background: url(../images/buttons/ico-logout.svg) no-repeat;
	background-position: left center;
	background-size: 20px 20px;
}


#masthead  .login-button{
	background: #c5202d;
	color: white;
	font-family: 'Titillium Web', sans-serif;
	padding: 20px;
	height: 10px; 
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	position: absolute;
	top: 0; right: 331px;
	line-height: 1em;
}

#masthead   .login-button:hover{
	background: #7a1d1f;
}

#masthead  .register:hover{
	background: #7a1d1f;
}

#masthead .drop-panel{
	position: absolute;
        top:50px;
	width: 280px;
	padding: 40px 40px 30px 40px;
	background: #F1F1F1;
	display: none;
}

#masthead .drop-panel.drop-login{
	right: 250px;
}

#masthead .drop-panel h2{
	color: #333;
	font-size: 30px;
	text-transform: uppercase;
	margin: 0; padding: 0;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 200;
	line-height: 1em;
}

#masthead .drop-panel h4{
	color: #333;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 200;
	font-size: 16px;
	line-height: 1.5em;
	margin: 0; padding: 0;
}

#masthead .drop-panel h4 a{
	font-size: 16px;
}



/*-------------------------------- NEWSLETTER -------------------------------- */

#masthead .subsrcribe-newsletter-button{
	background-color: #151515;
        background-image:  url("../images/buttons/enveloppe-white.svg");
        background-repeat: no-repeat;
        background-size:20px 20px;
        background-position: center left 10px;
        color: white;
        font-family: 'Titillium Web', sans-serif;
        padding: 20px 20px 20px 40px;
        height: 10px;
        font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;
        position: absolute;
        top: 0;
        right: 455px;
        line-height: 1em;
        cursor: pointer;
}

#masthead .subsrcribe-newsletter-button:hover{
         background-color: #059d62;
}

.newsletter-panel{
        position: absolute;
        top: 50px;
        right: 350px;
        width: 280px;
        padding: 20px;
        background: white;
        display: none;
}

.newsletter-panel h2{
          color: #333;
          font-size: 30px;
          text-transform: uppercase;
          margin: 0;
          padding: 0;
          font-family: 'Titillium Web', sans-serif;
          font-weight: 200;
          line-height: 1em;
          color: #333;
        }

.newsletter-panel .close{
          position: absolute;
          top: 20px;
          right: 20px;
          width: 40px;
          height: 40px;
          background: url("../images/buttons/close-button.svg") no-repeat;
          background-size: 100% 100%;
          background-position: center center;
          z-index: 25;
}

/*-------------------------------- END NEWSLETTER -------------------------------- */

form, .form{
	width: calc(100% + 40px);
	padding: 0; margin: 0;
}

form .formfield, .form .formfield{
	position: relative;
	margin: 10px 0; padding: 10px 0;
	width: calc(100% - 40px);
}

form .formfield.half, .form .formfield.half{
	width: calc(50% - 40px);
}

form .formfield label, .form .formfield label{
	font-size: 12px;
	display: block;
	margin-left: 2px;
	color:black;
}

form .formfield label.checkbox input, .form .formfield label.checkbox input {
    display: inline-block;
    width: 20px;    
    height:25px;
    vertical-align: middle;
  -webkit-appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  -ms-appearance: checkbox !important;
  -o-appearance: checkbox !important;
  appearance: checkbox !important
}

form .formfield input, .form .formfield input{
	width: calc(100% - 32px);
	border: 1px solid #CCC;
	padding: 10px 15px;
	font-size: 16px;
	font-family: 'Titillium Web', sans-serif;
	border-radius: 2px;
}

form .formfield input, .form .formfield input[type=color]{
	-webkit-appearance: none;
	border: 1px solid white; background: white;
	padding: 0; 
	width: calc(100% - 2px);
	height: 40px;

}


form .formfield input, .form .formfield select{
	width: calc(100% - 32px);
	border: 1px solid #CCC;
	padding: 10px 15px;
	font-size: 16px;
	font-family: 'Titillium Web', sans-serif;
	border-radius: 2px;
	-webkit-appearance: none;
	background-size: 16px 16px;
	background-position: center right 10px;
}

form .formfield input, .form .formfield select.composite{
	width: 90px;
}

form .formfield textarea, .form .formfield textarea{
	width: calc(100% - 32px);
	border: 1px solid #CCC;
	padding: 10px 15px;
	font-size: 16px;
	font-family: 'Titillium Web', sans-serif;
	border-radius: 2px;
	height: 100px;
	resize: none;
}

form .formfield .tipholder, .form .formfield .tipholder{
	width: 1px; height: 1px;
	position: absolute;
	left: calc(50% - 20px);
	top: 30px;
	z-index: 21;
}

form .formfield .tipholder .tooltip, .form .formfield .tipholder .tooltip{
	position: absolute;
	bottom: 0;
	left: -80px;
	width: 260px; 
	padding: 12px 10px 30px 10px;
	background: url(../images/buttons/tooltip-green.svg) no-repeat;
	background-position: center bottom;
	display: none;
}

form .formfield.error .tipholder .tooltip, .form .formfield.error .tipholder .tooltip{
	background: url(../images/buttons/tooltip-red.svg) no-repeat;
	background-position: center bottom;
	background-size: 300px 150px;
	display: block;
}

form .formfield .tipholder .tooltip p, .form .formfield .tipholder .tooltip p{color: white; 
	font-family: 'Titillium Web', sans-serif;
	font-size: 13px;
	text-align: center;
	padding: 0; line-height: 1.1em;
	margin: 0;
}


form .formfield.error input, .form .formfield.error input{border: 1px solid red;}
form .formfield.error label, .form .formfield.error label{color: red;}

form .formfield label span.required, .form .formfield label span.required{color: red; }

form .formfield button, .form .formfield button{
	padding: 15px 0;
	width: 100%;
	text-align: center;
	margin-top: 5px;
}

form .form_message, .form .form_message{
	display: none;
}

form .form_message.error, .form .form_message.error{
        display: block;
}

form .form_message.success, .form .form_message.success{
        display: block;
}


form .form_message p, .form .form_message p{
	color: #047f4f;
	font-weight: 700;
}

form .form_message.error p, .form .form_message.error p{
	color: #b11d28;
}

a.register-facebook{
	display: inline-block;
	background: #385997 url(../images/buttons/facebook-logo.svg) no-repeat;
	background-position: left 10px center;
	background-size: 30px 30px;
	color: white!important;
	padding: 15px 20px 18px 45px;
	text-decoration: none!important;
	line-height: 1em;
}

a.register-facebook:hover{
background: #273e6a url(../images/buttons/facebook-logo.svg) no-repeat;
	background-position: left 10px center;
	background-size: 30px 30px;
}

#masthead .drop-panel a{
	color: #333;
	font-size: 13px;
	text-decoration: underline;
}



.sectionbar{
	width: 100%;
	height: 40px;
	background: #151515;
	display: none;
}

.sectionbar h2{
	color: #CCC;
	font-weight: 200;
	font-size: 14px;
	text-transform: uppercase;
	padding: 13px 15px;
	line-height: 1em;
	margin: 0;
}

.bottomboxgradient{
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 99%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.unit{float: left; }
.clear{clear: both;}


#footer{
	width: 100%;
	padding: 80px 0;
	background: #151515;
	position: relative;
	z-index: 100;
}

#footer .foot_sponsor{
  display:inline-block;
  position:absolute;
  top:80px;
  right:calc(50% - 642px)
}

#footer .cgs-footer-wrapper{
	width: 984px;
        padding-right:300px;
	margin-left: calc(50% - 642px);
	color: #AAA;
	font-weight: 200;
}

#footer .cgs-footer-wrapper h4{
	font-weight: 400;
	color: #999;
	font-size: 1.2em;
	margin: 0 0 10px 0;
	text-transform: uppercase;
}

#footer .cgs-footer-wrapper p{
	line-height: 1.2em;
	margin: 0;
	
}

#footer .cgs-footer-wrapper p a{
	text-decoration: none;
	color: #999;
}

#footer .cgs-footer-wrapper p a:hover{
	text-decoration: underline;
}

#footer .cgs-footer-wrapper .column{
	/* width: 174px; */ 
        width: calc(25% - 40px);
        left: initial;
        margin: 0 20px;
	display: inline-block;
	margin-bottom: 40px;
}

#footer .cgs-footer-wrapper .twocolumn{
	/* width: 388px; */
        width: calc(50% - 40px);
        margin: 0 20px;
	display: inline-block;
	margin-bottom: 40px;
}

#footer .cgs-footer-wrapper .followuson{
	margin-bottom:25px;
}

#footer .cgs-footer-wrapper .followuson  a{
	display: inline-block;
        padding:20px 20px 20px 50px;
        background-color: #059d62;
        color: white;
        width:55px;
        font-size: 14px;
        text-decoration: none;
        margin:0 2px 2px 0;
        position: relative;       
        background-position:center center;
/*        background-position: left center;*/
        background-repeat: no-repeat;
        background-size: 50px auto;
}

#footer .cgs-footer-wrapper .followuson a .n{
        visibility: hidden ;
}

#footer .cgs-footer-wrapper .followuson a.facebook{
	background-color:#3b5998;
	background-image: url('../images/buttons/icon-facebook.svg');
}
#footer .cgs-footer-wrapper .followuson a.twitter{
	background-color:#55acee;
	background-image: url('../images/buttons/icon-twitter.svg');
}
#footer .cgs-footer-wrapper .followuson a.googleplus {
	background-color:#d73d32;
	background-image: url('../images/buttons/icon-googleplus.svg');
}

#footer .cgs-footer-wrapper .followuson a:hover{
/*	background-position:center center;*/
        background-position: left center;
}

#footer .cgs-footer-wrapper .followuson a:hover .n{
	visibility: visible;
}




#footer .cgs-footer-wrapper a.button{
	display: inline-block;
	padding: 10px 45px;
	background: #059d62;
	color: white;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
	margin-top: 25px;
}

#footer .copyright{
	width: calc(100% - 20px);
	position: relative;
	margin: 0 0 20px 0;
	padding: 50px 10px 0 10px;
	border-top: 1px solid #666;
	font-size: 12px;
}

#footer .copyright p{
	margin: 0; padding: 0;
	line-height: 1em;
	width: 896px;
	display: inline-block;
	width: calc(100% - 388px);
}

#footer .copyright p.logo{
	color: red;
	font-weight: 400;
	width: 388px;
	top: 0;
	font-size: 1.4em;
}

a.social{
	width: 40px; height: 40px;
	display: inline-block;
	margin: 5px 5px;
		
}

a.social.facebook{
	background: url(../images/buttons/social-facebook-grey.svg) no-repeat;
}

a.social.twitter{
	background: url(../images/buttons/social-twitter-grey.svg)no-repeat;
}

a.social.pinterest{
	background: url(../images/buttons/social-pinterest-grey.svg) no-repeat;
}

a.social.linkedin{
	background: url(../images/buttons/social-linkedin-grey.svg) no-repeat;
}

a.social.googleplus{
	background: url(../images/buttons/social-googleplus-grey.svg) no-repeat;
}

a.social.reddit{
	background: url(../images/buttons/social-reddit-grey.svg) no-repeat;
}


.banner-footer {
    bottom: 0;
    width:100%;
    text-align:center;
    position: fixed;
    z-index: 101;
    pointer-events: none;
    background:none;
}

.banner-footer .cgs-ad-unit{ 
    box-shadow: 0px -2px 5px rgba(0,0,0,0.3);
    display:inline-block;
    margin-bottom:5px;
    pointer-events:all;
    position:relative;
}
.banner-footer .cgs-ad-unit{
    background: rgba(10, 10, 10, 0.1) none repeat scroll 0 0;
}

.banner-footer .cgs-ad-unit:hover, .banner-footer .banner-footer-close:hover{
    background: rgba(10, 10, 10, 0.5) none repeat scroll 0 0;

}


.banner-footer .banner-footer-close{
   cursor:pointer;
   z-index:102; 
   color:#f5f5f5;
   text-decoration:none;
   display: inline-block;
   text-shadow:1px 1px 1px #111; 
   height:25px;
   width:30px;
   position: absolute;
   right:0px;
   top: 0px;
   line-height:20px;
   font-size:20px;
}

.banner-footer .bigbanner{
	display: none;
}


#page_wrapper > .page_panel .switch_left{
	width: 35px;
	height: 90px;
	background:  url(../images/buttons/navigation-split-left.svg) no-repeat;
	position: absolute;
	top: 45px; right: 0;
	cursor: pointer;
	-webkit-transition: left 1s; 
	-moz-transition: left 1s;
	transition: left 1s;
}

#page_wrapper > .page_panel .switch_right{
	width: 35px;
	height: 90px;
	background:  url(../images/buttons/navigation-split-right.svg) no-repeat;
	position: absolute;
	top: 45px; left: -25px;
	cursor: pointer;
	-webkit-transition: left 1s; 
	-moz-transition: left 1s;
	transition: left 1s;
}

#page_wrapper.center > .page_panel .switch_left{
	right: 0px;
	-webkit-transition: right 1s; 
	-moz-transition: right 1s;
	transition: right 1s;
}

#page_wrapper.center > .page_panel .switch_right{
	left: 0px;
	-webkit-transition: left 1s; 
	-moz-transition: left 1s;
	transition: left 1s;
}

#page_wrapper.right > .page_panel .switch_left{
	right: -25px;
	-webkit-transition: right 1s; 
	-moz-transition: right 1s;
	transition: right 1s;
}

#page_wrapper.right > .page_panel .switch_right{
	left: 0px;
	-webkit-transition: left 1s; 
	-moz-transition: left 1s;
	transition: left 1s;
}


/*-------------------------------- PAGE MASK -------------------------------- */
.page-mask {
 position: fixed;
 top: 0;
 left: 0;
 right:0;
 bottom:0;
 z-index: 101;
 overflow-x: hidden;
 overflow-y:auto;
 display: none;
}

.page-mask > .mask-module{
  position:static;
  min-height:100%;
}

.page-mask.white-page{
  top: 50px;
  background: white;
}
.page-mask.iframe{
  overflow:hidden;
}

.page-mask.iframe iframe:first-child{
  height:100%;
  width:100%;
  position:absolute;
}

.page-mask.iframe .closemodal{
  right:70px;
}


.noScroll{
overflow:hidden;
}



/*REGISTER FORM*/

#register_form .rightside {
  width: calc(50% + 40px);
}

#register_form .rightside > p{
  margin: 10px 0;
  padding: 10px 0;
  position: relative;
  width: calc(100% - 40px);
}

#register_form .sidebar{
  width: 40%;
  position: absolute;
  left: calc(50% + 50px);
  top: 55px;
}

#register_form .sidebar p{
  color: #333;
  line-height: 1.5em;
  font-size: 16px;
}

#register_form .sidebar ul{
  margin: 10px 0;
}

@media(max-width: 728px){
  #register_form .rightside{
    width: calc(100% - 20px);
    margin-left: 20px;
  }

  #register_form .sidebar{
    width: 100%;
    position: relative;
    left: 0; top: 55px;
    margin: 30px 0;
  }
}



/*
.page-mask .choose-side{
	width: 300px;
	height: 400px;
	position: fixed;
	top: calc(40% - 200px);
	left: calc(50% - 150px);
	text-align: center;
	
	
}


.page-mask .choose-side p{
	color: #CCC;
	font-size: 22px;
	text-transform: uppercase;
	line-height: 1em; padding: 0; margin: 0;
}


.page-mask .choose-side .leftpanel{
	position: absolute;
	top: 40px; left: 0;
	overflow: hidden;
	width: 150px;
	height: 340px;
	
	text-align: center;
}

.page-mask .choose-side .rightpanel{
	position: absolute;
	top: 40px; right: 0;
	overflow: hidden;
	width: 150px;
	height: 340px;
	text-align: center;
	
}


.page-mask .choose-side .leftpanel .pointer{
	width: 150px; height: 300px;	
	background: url(../images/buttons/navigation-split-left.svg) no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 20px;
	-webkit-transition: left 0.5s; 
		-moz-transition: left 0.5s;
		transition: left 0.5s;
}

.page-mask .choose-side .rightpanel .pointer{
	width: 150px; height: 300px;	
	background: url(../images/buttons/navigation-split-right.svg) no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: -20px;
	-webkit-transition: left 0.5s; 
		-moz-transition: left 0.5s;
		transition: left 0.5s;
}

.page-mask .choose-side .rightpanel:hover .pointer{
	left: 0;
	-webkit-transition: left 0.5s; 
		-moz-transition: left 0.5s;
		transition: left 0.5s;
}

.page-mask .choose-side .leftpanel:hover .pointer{
	left: 0;
	-webkit-transition: left 0.5s; 
		-moz-transition: left 0.5s;
		transition: left 0.5s;
}

.page-mask .choose-side .rightpanel p, .page-mask .choose-side .leftpanel p{
	margin-top: 300px;
	font-size: 18px;
}
*/
/*-------------------------------- END PAGE MASK -------------------------------- */

ul.dropmenu li {
  font: bold 12px/18px sans-serif;
  padding: 15px 20px;
  height: 10px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  line-height: 1em;
}

ul.dropmenu{
    position: absolute;
    top: 0; left: 175px;
    z-index: 9;
    text-align: left;
    padding: 0 25px 0 0;
    list-style: none;
    display: inline-block;
    margin: 0;
}

ul.dropmenu.sortby{
    left: 275px;
    z-index: 8;
}


ul.dropmenu li {
  font: bold 12px/18px sans-serif;
  padding: 15px 20px;
  height: 10px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  line-height: 1em;
}

ul.dropmenu > li{
    
}

ul.dropmenu li:hover {
  background: #555;
}

ul.dropmenu li:hover a{color: white;}
ul.dropmenu li ul {
  padding: 0;
  position: absolute;
  top: 35px;
  left: 0;
  width: 300px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}

ul.dropmenu.sortby li ul {
  width: 140px;
}

ul.dropmenu li ul li { 
  background: #555; 
  display: block; 
  float: left;
  width: calc(100% - 40px);
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}

ul.dropmenu li ul li.active { background: #777; }
ul.dropmenu li ul li:hover { background: #666; }

ul.dropmenu li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
  background: #555;
}

ul.dropmenu li ul li.gallery_search_wrapper{
    width: calc(100% - 20px);
    border-bottom: 1px solid #333;
    padding: 10px;
    height: 35px;
    position: relative;
}

ul.dropmenu li ul li.gallery_search_wrapper input{
    display: inline-block;
    border: 1px solid #666;
    background: #151515; color: #CCC;
    font-size: 13px;
    padding: 7px 5px;
    width: 220px;
}

ul.dropmenu li ul li.gallery_search_wrapper:hover{
    background: #555;
}

ul.dropmenu li ul li.gallery_search_wrapper .gallery_search_go{
    font-size: 12px;
    text-transform: uppercase;
    width: 38px; height: 30px;
    padding: 10px 0;
    color: white;
    background: #151515;
    border: 0px none;
    position: absolute;
    top: 12px; right: 11px;
    line-height: 1em;
    cursor: pointer;
}

ul.dropmenu a{text-decoration: none; color: #333;display: inline-block;width: 100%; height: 100%;}

.line{
    display: block;
}

.unit{
    float: left;
}

.panel1of2{
    width: 50%; 
}

.panel1of2:first-child{
    width: calc(50% - 1px);
    border-right: 1px solid #333;
}

ul.dropmenu li ul h3{
    width: calc(100% - 40px); padding: 20px; margin: 0;
    color: white; text-transform: uppercase;
    border-bottom: 1px solid #333;
    cursor: default;
}


#gallery_spinner_wrapper {
height: 480px;
}

#gallery_spinner_wrapper img{
    padding: 50px;
    margin: auto;
    height:30px;
    width:30px;
    display: block;
}

#empty_gallery_wrapper {
    padding: 40px;
    background: white;
    text-align: center;
    float: center;
    height: 460px;
}

/*-------------------------------- BUTTONS -------------------------------- */

.mediumbutton, #masthead a.mediumbutton{
	display: inline-block;
	border: 0px none;
	padding: 15px 45px;
	background: #059d62;
	color: white;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
	font-family: 'Titillium Web', sans-serif;
	cursor: pointer;
}

form .mediumbutton{
	background: #00aeef;
}


.mediumbutton:hover, #masthead a.mediumbutton:hover{
	background: #047b4d;
}

form .mediumbutton:hover{
	background: #00739f;
}

.modal-panel{
	width: 640px;
	position: absolute;
	top: 100px;
	left: calc(50% - 360px);
	z-index: 20;
	margin: 40px 40px 150px;
}

.modal-panel h2{
	color: #333;
	font-size: 36px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 200;
	line-height: 1em;
	width: calc(100% - 50px);
}

.closemodal{
	position: absolute; top: 70px; right: 20px;
	width: 40px; height: 40px;
	background: url(../images/buttons/close-button.svg) no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	z-index: 25;
}

.drop-panel .closemodal{
		top: 30px; right: 30px;
		
}

ul.secondary-nav{
	width: 100%;
	height: 30px;
	display: block;
	margin: 20px 0;
	padding: 0;
	text-indent: 0;
	border-bottom: 2px solid #151515;
}

ul.secondary-nav li{
	display: inline-block;
	margin: 0; padding: 0 20px 10px 20px;
	position: relative;
	bottom: 0;
	
}

ul.secondary-nav li:first-child{
	padding-left: 0;
}

ul.secondary-nav li a{
	color: #DDD;
	text-decoration: none;
	font-size: 16px;
	font-weight: 200;
	padding-bottom: 7px;
}

ul.secondary-nav li a:hover, ul.secondary-nav li.active a{
	border-bottom: 5px #059d62 solid;
}

.form-wrapper{
	width: 300px;
	margin: 0 auto;
	padding: 100px 0 50px;
}

.leftalign{
	text-align: left;
}

.centeralign{
	text-align: center;
}

.rightalign{
	text-align: right;
}

.is_ad{
    position: absolute;
    background: rgba(125,125,125,0.8);
    color: rgba(255,255,255,0.5);
    font-size: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    top: 0;
    right: 0;
    margin: 0; padding: 0;
    line-height: 1em;
    padding: 1px;
    text-shadow: 1px 1px #333;
    text-transform: uppercase;
}


/*-------------------------------- CLEARFIX -------------------------------- */

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/*	
@media(min-height:1024px){
	.banner-footer{
		height: 90px;	
	}
	
	.banner-footer .leaderboard{
		display: none;	
	}
	
	.banner-footer .bigbanner{
		display: block;	
		margin: 0 auto;
	}
}



@media(max-width: 1300px){
	
	#footer .cgs-footer-wrapper{
		width: calc(100% - 40px);
		margin-left: 20px;
	}
	
	#footer .cgs-footer-wrapper .column{
		width: calc(25% - 40px);	
		left: initial;
	}
	
	#footer .cgs-footer-wrapper .twocolumn{
		width: calc(50% - 40px);
	}
}
*/
@media(max-width: 1450px){

        #masthead .subsrcribe-newsletter-button{
           padding: 0; width: 50px; height: 50px;
           right: 403px;
           background-position: center center;
        }

        #masthead .subsrcribe-newsletter-button span{
                display: none;
        }

}

@media(max-width: 1300px){

        #masthead .subsrcribe-newsletter-button{
           right: 263px;
        }
        .newsletter-panel{
                right: 0px;
        }

        #footer{
          padding-top:300px;
        } 

        #footer .foot_sponsor{
         top:20px; 
         left: calc(50% - 150px);
        }

        #footer .cgs-footer-wrapper{
                width: calc(100% - 40px);
                margin-left: 20px;
        }

        #footer .cgs-footer-wrapper .column{
                width: calc(25% - 40px);
                left: initial;
        }

        #footer .cgs-footer-wrapper .twocolumn{
                width: calc(50% - 40px);
        }

        #masthead .searchbar{
                width: 50px;
        }

        #masthead .searchbar{
                right:213px;
        }

        #masthead.loggedIn .searchbar{
                right:50px;
        }

        #masthead .searchbar a.toggle{
                width: 50px;
                height: 50px;
                display: block;
                position: absolute; top: 0; right: 0;
        }

        #masthead .searchbar input{
                display: none;
        }

        #masthead .searchbar.active{
                width: 150px;
                -webkit-transition: width 0.25s;
                -moz-transition: width 0.25s;
                transition: width 0.25s;
        }

        #masthead .searchbar.active input{
                display: block;
        }

        #masthead .register{
          right:50px
        }

        #masthead .login-button{
          right:140px;
        }

        #masthead .drop-panel.drop-login{
                right: 0;
        }
        #masthead .add-project{
           right:100px;
        }

        #masthead .current-user,
        #masthead .drop-panel.user-menu{
          right:200px;
        }


}

@media(min-width: 1180px){
	#masthead .menu .mobile{
		display: none;	
	}

	#masthead .mobilemenubutton{
		display: none;	
	}

	#masthead .menu .user-menu-box{
		display: none;	
	}	
}

@media(max-width: 1180px){
        #masthead .subsrcribe-newsletter-button{
                padding:20px 20px 20px 40px;
                background-position: center left 10px;
                width:auto;
                height:10px;
                right:250px;
        }
        #masthead .subsrcribe-newsletter-button span{
                display: inline;
        }

        #masthead .searchbar{
                right:50px;
                width:150px;
        }

        #masthead .searchbar input{
                display: block;
        }

	#masthead .menu{
		left: auto;
		right: 0;
		width: 50px;
		height: 50px;
		background: #b11d28 url(../images/buttons/menu-icon.svg) no-repeat;
		background-size: 25px 25px;
		background-position: center center;
		cursor: pointer;
	}
	
	#masthead .mobilemenubutton{		
		width: 50px; height: 50px;
		position: absolute;
		top: 0; right: 0;
	}

	#masthead .menu ul{
		position: absolute;
		top: 50px; right: 0px;
		width: 320px;
		padding: 0px;
		margin: 0;
		background: white;
		display: none;
		-webkit-transition: all 0.25s; 
		-moz-transition: all 0.25s;
		transition: all 0.25s;
	}
	
	#masthead .menu.active ul{
		display: block;
		-webkit-transition: all 0.25s; 
		-moz-transition: all 0.25s;
		transition: all 0.25s;
		
	}
	
	#masthead .menu.active > ul{
		max-height: 425px;
		overflow-y: auto;
	}
	
	#masthead .menu ul li{
		width: 100%;
		padding: 0;
		border-bottom: 1px solid #EEE;
		height: auto;
	}
	
	#masthead .menu ul li:last-child{
		border-bottom: 0px none;
	}
	
	#masthead .menu ul li a{
		padding: 15px 20px;	
		width: calc(100% - 40px);
		text-align: center;
		color: #999;
	}
	
	#masthead  .register{
		display: none;	
	}
	
	#masthead .menu .mobile{
		display: block;	
	}
	
	#masthead .menu .mobile.register{
		position:static;
		top: initial;
		right: initial;	
	}
	
	#masthead .menu li.mobile.register a{
		color: white;	
	}
	
	#masthead .menu li.mobile.register:hover a{
		color: white;
		background: #7a1d1f;
	}
	
	#masthead  .login-button{
		display: none;	
	}
	
	#masthead .menu li.login{
		background: #059d62;
		border-bottom: 0px none;
		color: white;	
	}
	
	#masthead .menu li.login a{
		color: white;
	}
	
	#masthead .menu li.login:hover{
		background: #04774a;
	}
	
	#masthead .menu li.login:hover a{
		color: white;	
	}
	
	#masthead .login{
		display: none;
	}
	
	#masthead .drop-panel.drop-login{
		right: 0;
	}
	
	#masthead .menu .user-menu-box{		
		width: calc(100% - 40px);
		margin: 10px;
		padding: 10px;
		background: #666;	
	}
	
	#masthead .menu .user-menu-box .head{
		width: calc(100% - 40px);
		padding: 10px 0 10px 40px;	
		position: relative;
	}
	
	#masthead .menu .user-menu-box .head .thumb{
		width: 34px;
	  height: 34px;
	  position: absolute;
	  top: 8px;
	  left: 0;
	  background: #333 url(../images/buttons/ico-profile-square.svg) no-repeat;
	  background-size: 100% 100%;
	  border-radius: 34px;
	  overflow: hidden;
	}
	
	#masthead .menu .user-menu-box .head .thumb img{
		width: 100%; height: 100%;	
	}
	
	#masthead .menu .user-menu-box .head a{
		font-size: 18px;
		font-weight: 700;
		color: #CCC;	
	}
	
	#masthead .menu .user-menu-box ul{
		padding: 0;
		margin: 0;	
		text-indent: 0;
		position: relative;
		top: auto; left: initial;
		background: none;
		width: calc(100% - 20px);
		text-align: left;
	}
	
	#masthead .menu .user-menu-box ul li{
		list-style: none;
		margin: 0; padding: 10px 0;
		text-align: left;	
		border-bottom: 0 none;
	}
	
	#masthead .menu .user-menu-box ul li a{
		padding: 10px 0 10px 40px;
		margin: 0;
		color: #CCC;
		text-decoration: none;
		text-transform: capitalize;
		display: block;	
		text-align: left;
	}
	
	#masthead .menu .user-menu-box ul li:hover a{
		color: #333;	
	}
	
	#masthead .menu .user-menu-box ul li a.ico-portfolio{
		background: url(../images/buttons/ico-portfolio.svg) no-repeat;
		background-position: left center;
		background-size: 20px 20px;
	}	
	
	#masthead .menu .user-menu-box ul li a.ico-forum{
		background: url(../images/buttons/ico-profile.svg) no-repeat;
		background-position: left center;
		background-size: 20px 20px;
	}
	
	#masthead .menu .user-menu-box ul li a.ico-project{
		background: url(../images/buttons/ico-plus.svg) no-repeat;
		background-position: left center;
		background-size: 20px 20px;
	}	
	
	#masthead .menu .user-menu-box ul li a.ico-upgrade{
		background: url(../images/buttons/ico-upgrade.svg) no-repeat;
		background-position: left center;
		background-size: 25px 25px;
	}	
        #masthead .menu .user-menu-box ul li a.ico-envelope{
                background: url(../images/buttons/ico-envelope.svg) no-repeat;
                background-position: left center;
                background-size: 25px 25px;
        }
	
	#masthead .menu .user-menu-box ul li a.ico-logout{
		background: url(../images/buttons/ico-logout.svg) no-repeat;
		background-position: left center;
		background-size: 20px 20px;
	}	
	
	#masthead .current-user, #masthead .add-project{
		display: none;	
	}
	
}

@media(max-width: 840px){
	
	#footer .cgs-footer-wrapper .column{
		width: calc(50% - 40px);	
		left: initial;
	}
	
	#footer .cgs-footer-wrapper .twocolumn{
		width: calc(100% - 40px);
	}
}

@media(max-width: 728px){
/*	.banner-footer{
		height: 50px;
		
	}

	
	.banner-footer img{
		width: 320px; height: 50px;	
	}
*/

.top-sponsor{
height:50px;
}

 .banner-footer .cgs-ad-unit{
   margin-bottom:0px;
   padding-bottom:0;
 }
 	
	.modal-panel{
		width: calc(100% - 30px);
		height: initial;
		position: relative;
		top: initial;
		margin-top: 50px;
		left: 0;
		z-index: 20;
		margin: 50px 15px 15px;
	}
	
	.modal-panel .sidebar{
		position: relative; width: 100%;
		display: block;
	}

	.page-mask.iframe .closemodal{
  		top:10px;right:10px;
	}


}


@media(max-width: 640px){
	
	#footer .copyright{
		
	
	}
	#footer .copyright p{
		width: calc(100% - 150px);
		left: 150px;	
	}
	
	#footer .copyright p.logo{
		width: 150px;
		top: 0;	
	}

        #masthead .subsrcribe-newsletter-button{
                padding: 0; width: 50px; height:50px;
                right:100px;
                background-position: center center;
        }

        #masthead .subsrcribe-newsletter-button span{
                display: none;
        }

        #masthead .searchbar{
                width: 50px;
        }
        #masthead .searchbar input{
            display: none;
        }


}

@media(max-width: 400px){
	#footer .cgs-footer-wrapper .column{
		width: calc(100% - 40px);	
		left: initial;
	}
	
	a.social{
		margin-left: 0;	
	}
	
	#footer .copyright{
		
		
	}
	#footer .copyright p{
		width: 100%;
		margin-bottom: 15px;
	}
	
	#footer .copyright p.logo{
		width: 100%;
		
	}



	ul.dropmenu li ul {
	  left: -100px;
	}

	ul.dropmenu.sortby li ul {
	  left: -40px; 
	}

	ul.dropmenu.sortby:hover  {
	    z-index: 10;
	}

}

/*--------------------- SPINNER -------------------*/

.spinner{
	width: 15px;
	height: 15px;
	position: absolute;
	border-radius: 15px;
	display: none;
}

.spinner .innerspin{
	border: 2px solid rgba(0,183,229,0.9);
	opacity: .9;
	border-top: 3px solid rgba(0,0,0,0);
	border-left: 3px solid rgba(0,0,0,0);
	border-radius: 20px;
	width: 15px;
	height: 15px;
	margin: 10px auto;
	-moz-animation: spin .5s infinite linear;
	-webkit-animation: spin .5s infinite linear;
}

.formfield .spinner{
	top: 32px; right: -25px;
}

@media(max-height: 700px){
	.main-content-wrapper{
		min-height: 500px;
	}
}


@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}



@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}

.go_top{
    display: none;
    position: fixed;
    bottom: 100px;
    right: 0;
    padding: 8px 15px 8px 30px;
    background: #059d62 url(../images/buttons/arrow-up-white.svg) no-repeat;
    background-size: 20px 20px;
    background-position: center left 5px;
    color: white;
    line-height: 1em;
    font-size: 12px;
    cursor: pointer;
    z-index: 102;
}
