h6 {
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	font-weight: normal;
}
li {
	list-style-type: none; list-style-image: none
}

#nav ul li {
	margin: 3px 0px;
	float: left;
}
#nav ul li a {
	padding-bottom: 6px;
	padding-left: 20px;
	padding-right: 20px;
	display: block;
	padding-top: 0px;
	cursor: pointer;
	font-size: 14px;
}
#nav ul.submenu li a {
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
	display: block;
	padding-top: 0px;
}

#nav {
	border-bottom: #b7bbbe 1px solid;
	background-color: #fff;
	height: 65px;
}
#navigation {
	border-bottom: #b7bbbe 1px solid;
	position: relative;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 15px;
	padding-right: 15px;
	background: #333333;
	height: 46px;
	font-weight: bold;
}
#navigation li a {
	color: #ffffff;
	text-decoration: none;
}

ul#navigation li a:hover,
ul#navigation li.selected a,
ul#navigation li.sfhover a {
	/* color: #e36627; */
	color: #A55A30;
	
}
.submenu {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 30px;
	padding-right: 0px;
	width: 970px;
	height: 24px;
	background: #ffffff;
	text-align: center;
	font-size: 95%;
	font-weight: bold;
	overflow: hidden;
	position: absolute;
	top: 31px;
	left: 0;
}

ul#navigation li.selected,
ul#navigation li.sfhover {
	margin-top: 0px;
	padding-top: 2px;
	background: #ffffff;
	border-top: #a0a0a0 1px solid;
	border-left: #a0a0a0 1px solid;
	border-right: #a0a0a0 1px solid;
}


ul#navigation li ul li.selected,
ul#navigation li ul li.sfhover {
	border: none; 
	padding: 0px;
	margin: 3px 0px;
}

ul#navigation li ul li.selected a,
ul#navigation li ul li.sfhover a {
	/* background: #e36627;*/
	background: #A55A30;
	color: #ffffff;
}

ul#navigation li ul {
	display: none;
}
ul#navigation li.selected ul {
	z-index: 3; 
	display: block;
}
ul#navigation li.sfhover ul {
	z-index: 5; 
	display: block;
}
ul#navigation li.selected ul a,
ul#navigation li.sfhover ul a {
	color: #093d72;
}

#nav ul.submenu li.quick_links {
	background-image: none;
	margin-right: 5px;
}