.seesaaBookmarks{
    float:left;
    width: 90px;
    height:20px;
    cursor:pointer;
}

.bookmark{
  padding-top:5px;
}
.bookmark:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .bookmark{
  zoom: 1;
} /* IE6 */
*:first-child+html .bookmark{
  zoom: 1;
} /* IE7 */


.bookmark div iframe{
    padding-right:5px;
    margin-bottom:5px;
    display:inline-block;
}
.bookmark .hatenaHeightBookmark iframe{
    padding-right:0px;
}
.bookmark div a{
    vertical-align:top;
    padding-right:3px;
    text-decoration:none ! important;
}
.bookmark div a img{
    vertical-align:top;
}
.bookmark div div{
    vertical-align:top !important;
}

#balloonBox {
    display:none;
    width:270px;
    position: absolute;
    top:0px;
    left:-270px;
    z-index:1000;
    padding: 10px 10px 5px 10px;
    margin: 1em 0 3em;
    border:solid 2px #dfdfdf;
    text-align: left;
    color: #333333;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#balloonClose {
    line-height:1;
    font-size:14px;
    position: absolute;
    top:-5px;
    right:-5px;
    width:18px;
    height:18px;
    text-decoration:none;
    text-indent:-3000em;
    overflow:hidden;
    cursor:pointer;
    background-image:url(/img/bookmark/close.png);
    background-repeat:no-repeat;
}
.sns_box {
    padding-left:5px;
    padding-bottom:5px;
    float:left;
}
.facebookBookmark{
    width:102px ! important;
}
.facebookBookmark .fb-like{
    padding-top:0px ! important;
    margin-top:0px ! important;
}


