/*.hero-image-wrapper.hero-vacancy-details {
    display: none;
}*/

@media (min-width: 1200px) {
    .cms-full-width-slider.jcarousel {
        background-image: url("http://www.mediamarkt.de/static/VVBB/vvbb_hg_1920_png.png") !important;
    }
}

@media (max-width: 954px), (max-width: 1199px) and (min-width: 955px) {
    .cms-full-width-slider.jcarousel {
        background-image: url("http://www.mediamarkt.de/static/VVBB/vvbb_hg_1199_png.png") !important;
    }
}

.cms-full-width-slider .slide-content {
    width: auto;
}

.cms-full-width-slider li {
    overflow: hidden;
}

.cms-full-width-slider .slide-content span.photo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
}

.cms-full-width-slider .slide-content span.photo img {
    display: block;
    max-width: inherit !important;
}

@media only screen and (max-width: 954px) {
    .cms-full-width-slider .slide-content {
        width: auto;
    }
}

@media only screen and (min-width: 1200px) {
    .cms-full-width-slider .slide-content {
        width: auto;
    }
}

/*CRM luckykick message in checkout*/

.checkout-logon-vertical.thankyou-page .thankyou-lucky:before { background: url("http://www.mediamarkt.de/static/CRM/Notification/Glueckskick_Automat_width_130px.png") no-repeat center; width: 76px; height: 76px; top: 30px; left: 66px; margin-top: 0; }

/*Skinning of multiple Flye on the market page*/

#my-market-sidebar .my-market-menu li>a>span em{
	display:none !important;
}
#my-market-sidebar .my-market-menu li>a>span {
	margin-bottom:16px;
}
#my-market-sidebar .brochure-double>a {
	display:none !important;	
	}
#my-account .content .forms.box.lc-maintenance-form .lc-cancellation{display: none;}

#my-account .content .forms.box.lc-maintenance-form .lc-cancellation .lc-cancellation-action.js-lc-cancel-action{display: none;}