.lbl-advertising {
    font-family: OpenSans, sans-serif;
    font-weight: 600;
    font-size: 12px;
    padding-left: 10px;
    display: block;
    color: #65656a;
    text-align: left;
}

.w2h2 .lbl-advertising {
    height: 30px;
    margin-top: 20px;
}

.w2h4 .lbl-advertising {
    margin-top: 4px;
    margin-bottom: 4px;
}

.cards {
    display: block;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .4);
    margin: 10px;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    float: left;
}

.cards a {
    text-decoration: none;
    color: #191917;
}

.advertising {
    text-align: center;
    width: 100%;
    z-index: 9;
}

.advcards {
    display: block;
    background: transparent;
    border-radius: 4px;
    overflow: hidden;
    margin: 10px;
    position: relative;
}

.cards.w2h4,
.w1280 .cards.w2h4.flex {
    height: 620px;
    width: 300px;
}

.cards.w4h2,
.w1280 .cards.w4h2.flex {
    height: 300px;
    width: 620px;
}

.cards.w2h4.flex,
.cards.w4h2.flex,
.cards.w2h2 {
    height: 300px;
    width: 300px;
}

.cards.w1h1,
.cards.w2h1.flex {
    height: 140px;
    width: 140px;
    overflow: hidden;
}

.w1280 .cards.w2h1,
.cards.w4h1.flex,
.cards.w2h1 {
    height: 140px;
    width: 300px;
}


/*SPRITES*/
.sprite-icons-card, .network-image {
    background-image:url('../_img/icons.png');
    background-color:transparent;
    background-repeat:no-repeat;
    display:inline-block;
}

@media (min--moz-device-pixel-ratio: 1.5),
       (-o-min-device-pixel-ratio: 3/2),
       (-webkit-min-device-pixel-ratio: 1.5),
       (min-device-pixel-ratio: 1.5),
       (min-resolution: 144dpi),
       (min-resolution: 1.5dppx) {

    .sprite-icons-card, .network-image {
        background-image:url('../_img/iconsX.png');
        background-color:transparent;
        background-repeat:no-repeat;
        display:inline-block;
        background-size: 80px;
    }

}

.sprite-icons-card.video{width:40px; height:40px; background-position:0 -40px}
.sprite-icons-card.gallery{width:40px; height:40px; background-position:0 0}
.sprite-icons-card.versus{width:14px; height:14px; background-position:-82px -213px}
.sprite-icons-card.all-about{width:27px; height:27px; background-position:0 -106px}
.sprite-icons-card.shadow{width:10px; height:10px; background-position:-55px -213px}
.sprite-icons-card.buzz{width:24px; height:25px; background-position:0 -132px}
.sprite-icons-card.buzz-tooltip-arrow{width:13px; height:9px; background-position:-27px -133px}
.sprite-icons-card.arrow-share{width:15px; height:11px; background-position:-62px -115px}

/*Share*/
.cards .title h2{font-size:100%; line-height:100%;}
.w2h4.flex .sprite-icons-card.arrow-share,
.w4h2 .sprite-icons-card.arrow-share{background-position:-62px -105px}
.w1280 .w2h4.flex .sprite-icons-card.arrow-share,
.w4h2 .w2h1 .sprite-icons-card.arrow-share,
.w4h2 .w4h1 .sprite-icons-card.arrow-share{background-position:-62px -115px}
.arrow-share.move{-webkit-transform:rotateY(180deg); -moz-transform:rotateY(180deg); -ms-transform:rotateY(180deg); -o-transform:rotateY(180deg); transform:rotateY(180deg)}
.arrow-share{-webkit-transform:rotateY(0); -moz-transform:rotateY(0); -ms-transform:rotateY(0); -o-transform:rotateY(0); transform:rotateY(0); -webkit-transition:all .2s; -moz-transition:all .2s; -o-transition:all .2s; transition:all .2s}
.network-image{height:25px; margin-left:5px; margin-right:5px; opacity:1; vertical-align:middle; width:24px; display:none; -webkit-transition:all .2s; -moz-transition:all .2s; -o-transition:all .2s; transition:all .2s; cursor:pointer}
.share-facebook{background-position:0 -80px; margin-left:10px; width:24px}
.share-twitter{background-position:-24px -80px; width:25px}
.share-google{background-position:-49px -80px; width:25px}
.card-stamp{position:absolute; background-color:#FFF; bottom:0; right:0; width:88px; height:33px; z-index:5; overflow:hidden}

/* FALLBACK FOR BORDER RADIUS */
.w2h4.flex .news-image a img,
.w4h2 .news-image a img{-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px}
.w1280 .w2h4 .news-image a img,
.w1280 .w2h4.flex .news-image a img{-webkit-border-radius:4px 4px 0 0; -moz-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0}
.w2h1 .news-image a img,
.w4h1 .news-image a img{-webkit-border-radius:4px 0 0 4px; -moz-border-radius:4px 0 0 4px; border-radius:4px 0 0 4px}

/**/
.cards .icon-thumb{position:absolute; top:50%; left:50%; margin:-20px 0 0 -20px; z-index:10; cursor:pointer; opacity: 0.7}
.cards .hat{font-size:11px; font-family:OpenSans,sans-serif; color:#FFF; border-style:solid; border-width:0 0 2px; display:inline-block; margin-bottom:6px; line-height:14px; font-weight:600; text-transform:uppercase}
.cards .hat.gray,
.w1280 .w2h4 .hat{color:#65655d}


/*XX*/
.cards .container-essentials,
.double,
.double.first,
.single,
.single-figure{-webkit-transition:all .2s; -moz-transition:all .2s; -o-transition:all .2s; transition:all .2s; opacity:1}
.container-essentials{height:100%}
.container-essentials.no-support{height:100%; width:100%; background-color:#c1c1c1}
.container-essentials.no-image .news-image{display:none}
.container-essentials .title{padding:5px 10px 0}
.container-essentials .title .text{display: inline-block; color:#191917; font-family:OpenSans,sans-serif; font-weight:600; font-size:24px; line-height:24px; margin:0; overflow:hidden}
.container-essentials .title h3:first-child .text {margin-top: 5px;}
.container-essentials.video .news-image{cursor: pointer;}
.container-essentials .news-image{position:relative}
.container-essentials .news-image img{float:left}
.container-essentials .shaddow{height:150px; position:absolute; width:100%; bottom:0; border-radius:4px; z-index:3; cursor:pointer; background:-moz-linear-gradient(top,rgba(0,0,0,.7)0,rgba(0,0,0,.5)70%,rgba(0,0,0,0)100%); background:-webkit-gradient(linear,top top,right top,color-stop(0,rgba(0,0,0,.7)),color-stop(70%,rgba(0,0,0,.5)),color-stop(100%,rgba(0,0,0,0))); background:-webkit-linear-gradient(top,rgba(0,0,0,.7)0,rgba(0,0,0,.5)70%,rgba(0,0,0,0)100%); background:-o-linear-gradient(top,rgba(0,0,0,.7)0,rgba(0,0,0,.5)70%,rgba(0,0,0,0)100%); background:-ms-linear-gradient(top,rgba(0,0,0,.7)0,rgba(0,0,0,.5)70%,rgba(0,0,0,0)100%); background:linear-gradient(to top,rgba(0,0,0,.7)0,rgba(0,0,0,.5)70%,rgba(0,0,0,0)100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#b3000000',GradientType=0)}
.container-essentials .boxblur{position:absolute; height:120px; width:100%; background-position:-155px -180px; bottom:0; cursor:pointer; z-index:1; -moz-filter:blur(2px); -o-filter:blur(2px); -ms-filter:blur(2px); filter:blur(2px); display:none}
.container-essentials .share .text{color:#FFF; display:inline-block; font-family:OpenSans,sans-serif; font-size:11px; margin-left:5px; vertical-align:middle; margin-bottom:2px; font-weight:600}
.container-essentials .share{position:absolute; bottom:3px; z-index:5}
.container-essentials .share .text.hide{display:none}
.container-essentials .share .arrow{background-position:0 -89px; background-repeat:no-repeat; display:inline-block; height:11px; margin-left:0; width:15px}
.container-essentials .share .action-link{display:inline-block; max-width:120px; height:24px; margin-left:10px}
.container-essentials .buzz .trend-tip{position:absolute; width:160px; right:0; bottom:38px; color:#fff; padding:10px; background-color:#245be7; border-radius:2px; text-align:center; font-size:12px; font-weight:600; box-shadow:0 1px 1px 0 rgba(0,0,0,
.9); display:none}
.container-essentials .buzz .trend-tip .buzz-tooltip-arrow{position:absolute; bottom:-9px; right:7px; margin-left:-4px}
.container-essentials .buzz span.trend-text{display:inline-block; vertical-align:top; padding:6px 5px 0 0; color:#65655d; font-size:12px; font-weight:600}
.container-essentials .stamp-card.team,
.container-essentials .stamp-card.flag{width:29px; height:29px; right:0; bottom:0; background:0; border:0}
.container-essentials .stamp-card{right:0; bottom:0; border:5px solid #fff; width:98px; height:41px; overflow:hidden; position:absolute; background-color:#FFF; z-index:5; border-radius:4px 0}
.container-essentials .stamp-card.buzz{background:0; border:0; width:auto; height:auto; bottom:0; right:5px; overflow:visible}
.container-essentials .stamp-card.sponsor{width:auto; height:auto; display:inline-block; vertical-align:top; padding:0 5px 0 0; color:#65655d; font-size:12px; font-weight:600}
.container-essentials .stamp-card.sponsor-logo{ width:76px; height:31px; border:3px solid #fff; }
.container-essentials .stamp-card.sponsor-logo img{ width:70px; height:25px; }


/*1x1*/
.cards.w1h1 .container-essentials .title .text{font-size:13px; line-height:14px; height:72px}
.w1h1 .container-essentials .buzz .trend-tip{width:130px}

/*2x1*/
.cards.w2h1 .container-essentials .title .text{font-size:24px; line-height:24px; height:99px}
.cards.w2h1 .container-essentials .news .title .text,
.cards.w2h1.flex .container-essentials.no-image .news .title .text{font-size:13px; line-height:15px; height:79px}
.cards.w2h1 .container-essentials.no-image .news .title .text,
.w1280 .cards.w2h1.flex .container-essentials.no-image .news .title .text{font-size:20px; line-height:22px; height:68px}
.cards.w2h1.flex .container-essentials .news-image{display:none; border-radius:4px 0 0 4px;}
.cards.w2h1 .container-essentials .news{width:160px; display:inline-block}
.w1280 .cards.w2h1.flex .container-essentials .news-image{display:block}
.cards.w2h1.flex .container-essentials .news{width:140px}
.cards.w2h1 .container-essentials.no-image .news{width:auto}
.w1280 .w2h1.flex .container-essentials.no-image .card-footer .published-date,
.w2h1.flex .container-essentials .share{left:0}
.w1280 .w2h1.flex .container-essentials .card-footer .published-date,
.w1280 .w2h1.flex .container-essentials .share,
.w2h1 .container-essentials .share{left:140px}
.w1280 .w2h1.flex .container-essentials.no-image .share,
.w2h1 .container-essentials.no-image .share,
.w2h1 .container-essentials.no-image .card-footer .published-date{left:0}
.w1280 .w2h1.flex .hat{display:inline-block}

/*2x2*/
.cards.w2h2 .container-essentials .title .text{font-size:36px; line-height:36px; height:90px}
.cards.w2h2 .container-essentials .news .title .text{font-size:20px; line-height:22px; height:71px}
.cards.w2h2 .container-essentials .news,
.cards.w2h2 .container-essentials .news-image{float:left;}
.cards.w2h2 .container-essentials .news-image{overflow: hidden; width: 300px; height: 170px;}
.cards.w2h2 .container-essentials.no-image .news .title .text{font-size:30px; line-height:34px; height:238px}

/*4x1*/
.cards.w4h1 .container-essentials .news .title .text{font-size:13px; line-height:15px; height:79px}
.w4h2 .w4h1 .container-essentials .news-image{border-radius:4px 0 0 4px}
.w4h2 .w4h1.flex .container-essentials .news-image img{left:0}
.w1280 .cards.w4h1 .container-essentials.no-image .title .text{font-size:30px; line-height:34px; height:72px}
.w1280 .cards.w4h1 .container-essentials .title .text{font-size:24px; line-height:26px; height:58px}
.cards.w4h1 .container-essentials.no-image .title .text{font-size:20px; line-height:22px; height:99px}
.w1280 .cards.w4h1.flex .container-essentials .news{width:480px; display:inline-block}
.w1280 .cards.w4h1.flex .container-essentials.no-image .news{width:auto; display:inline-block}
.cards.w4h1.flex .container-essentials .news{width:140px; display:inline-block}
.cards.w4h1.flex .container-essentials.no-image .news{width:auto; display:inline-block}

/*2x4*/
.w2h4 .container-essentials .news-image{height:300px; overflow:hidden}
.w1280 .w2h4 .container-essentials .news-image,
.w2h4.no-flex .container-essentials .news-image{height:400px}
.cards.w2h4.flex .container-essentials .title{position:absolute; bottom:40px; z-index:5}
.cards.w2h4.flex .container-essentials .title .text{color:#FFF; font-size:20px; line-height:22px; height:82px}
.cards.w2h4 .container-essentials .title .text,
.w1280 .cards.w2h4 .container-essentials .title .text{color:#191917; font-size:30px; line-height:30px; height:164px}
.w320 .cards.w2h4 .container-essentials .title .text{font-size:24px; line-height:24px; height:auto}
.w320 .cards.w2h4.no-flex .container-essentials .title .text{color:#191917; font-size:32px; line-height:32px; height:164px}
.w1280 .cards.w2h4 .container-essentials .title{position:absolute; top:400px; z-index:5; color:#191917}
.w320 .cards.w2h4 .container-essentials .title{bottom:90px}
.w320 .cards.w2h4.flex .container-essentials .title{bottom:40px}
.cards.w2h4.flex .container-essentials .boxblur{background-position:0 221px}
.cards.w2h4 .container-essentials .boxblur,
.cards.w2h4 .container-essentials .shaddow{display:none}
.cards.w2h4.flex .container-essentials .boxblur,
.cards.w2h4.flex .container-essentials .shaddow{display:block}
.w1280 .cards.w2h4.flex .container-essentials .boxblur,
.w1280 .cards.w2h4.flex .container-essentials .shaddow{display:none}
.w1280 .w2h4.flex .container-essentials .buzz span.trend-text{color:#65655d}

/*4x2*/
.w4h2 .container-essentials .news-image{height:100%; overflow:hidden; border-radius:4px}
.w4h2 .w2h1 .container-essentials .news-image,
.w1280 .cards.w4h2 .container-essentials.gallery .title .text,
.w1280 .cards.w4h2 .container-essentials.video .title .text{font-size:32px; line-height:32px; height:67px}
.cards.w4h2 .container-essentials .title .text{color:#FFF; font-size:20px; line-height:22px; height:75px}
.w1280 .cards.w4h2 .container-essentials .title .text{font-size:28px; line-height:32px; height:70px}
.w1280 .cards.w4h2 .container-essentials.manchete .title .text{font-size:40px; line-height:40px; max-height:120px; height:120px}
.cards.w4h2 .container-essentials .title{position:absolute; bottom:40px; z-index:5; color:#191917}
.w1280 .w4h2 .container-essentials .boxblur{background-position:0 -180px}
.w4h2.flex .container-essentials .news-image img{left:-155px; position:relative}
.cards.w4h2.no-flex .container-essentials .news-image img,
.w320 .w4h2 .container-essentials .news-image img{left:0}
.w1280 .w4h2 .container-essentials .news-image img{left:0; position:relative}

/**/

.cards .card-footer .published-date{position: absolute; bottom: 5px; margin-left: 10px; font-family: OpenSans,sans-serif; font-size: 11px; font-weight: 600; color: #65655d; z-index: 5;}
.w1280 .container-essentials.manchete .shaddow{height:200px}
.cards.w2h1 .container-essentials .news-image,
.cards.w4h1 .container-essentials .news-image{float:left; position:relative; width:140px; height:140px; overflow:hidden;}

.w1280 .w2h1.flex .container-essentials.no-image .card-footer .text,
.w1280 .w4h1.flex .container-essentials .card-footer .text{display:inline-block}

.cards.w2h4.flex .container-essentials .card-footer .text,
.cards.w4h2 .container-essentials .card-footer .text{color:#FFF}

.w1280 .cards.w2h4 .container-essentials .card-footer .text,
.w1h1 .container-essentials .card-footer .text,
.w2h1 .container-essentials .card-footer .text,
.w2h2 .container-essentials .card-footer .text,
.w2h4 .container-essentials .card-footer .text,
.w320 .w4h1.flex .container-essentials .card-footer .text,
.w4h1 .container-essentials .card-footer .text,
.w4h2 .w4h1 .container-essentials .card-footer .text{color:#65655d}

.cards.w2h4.flex .container-essentials .buzz span.trend-text,
.cards.w320 .w4h2.flex .container-essentials .buzz span.trend-text,
.cards.w4h2 .container-essentials .buzz span.trend-text{color:#FFF}

/*Premium*/
.w1280 .cards.w6h2 .container-premium .stamp-card{right:210px;}
.cards.w6h2 .container-premium .stamp-card{right:180px;}
.container-premium .stamp-card{bottom:10px; right:190px; border:1px solid #d7d7d7; border-radius:4px; overflow:hidden; position:absolute; background-color:#FFF; z-index:5; padding:15px; width:120px; height:63px}
.w320 .cards.w2h4 .stamp-card{float:left; margin:0 0 10px 10px; position: inherit;}

.w2h4 .container-premium .stamp-card{right:170px}
.w320 .cards.w2h4.premimum-autoplay{height:auto; padding-bottom:70px}
.cards.w6h2.premimum-autoplay .container-items{margin-left:0}
.cards.w4h2 .container-items,
.cards.w6h2 .container-items{width:600px; height:260px; display:inline-block; margin-left:10px; left:0}
.cards.w6h2 .container-items{width:620px}
.w1280 .cards.w6h2 .container-items{width:920px; margin-left:0}
.cards.w6h2.premimum-autoplay .container-items .main{margin-right:20px}
.w1280 .cards.w6h2.premimum-autoplay .container-items .main{margin-right:0}
.cards.w2h4 .container-items .main,
.cards.w4h2 .container-items .main,
.cards.w6h2 .container-items .main{width:300px; display:block; float:left}
.cards.w2h4 .container-items .main{margin-right:0; margin-bottom:20px}
.cards.w6h2 .container-items .main{width:300px}
.w1280 .cards.w6h2 .container-items .main{width:610px}
.cards.w2h4 .container-items .secondary,
.cards.w4h2 .container-items .secondary,
.cards.w6h2 .container-items .secondary{width:300px; display:block; float:left}
.cards.w2h4 .container-premium .main .main-figure,
.cards.w4h2 .container-premium .main .main-figure{width:290px; height:164px; display:block; position:relative}
.cards.w2h4 .container-premium .main .single .main-figure{padding-left:10px}
.cards.w4h2 .container-premium .main .single .main-title{width:290px; float:left}
.cards.w2h4 .container-premium .main .main-figure{width:300px}
.cards.w2h4 .container-premium .main .double,
.cards.w4h2 .container-premium .main .double{width:140px; height:240px; display:block; float:left}
.cards.w2h4 .container-premium .main .double.first,
.cards.w4h2 .container-premium .main .double.first{margin-right:10px}
.cards.w2h4 .container-premium .main .double .main-figure,
.cards.w4h2 .container-premium .main .double .main-figure{width:140px; height:140px; display:block; position:relative}
.cards.w2h4 .container-premium .main .double .main-figure{width:130px; margin-left:10px}
.cards.w2h4 .container-premium .main .double .main-title .text,
.cards.w4h2 .container-premium .main .double .main-title .text{display: inline-block; color:#191917; font-family:OpenSans,sans-serif; font-weight:600; font-size:16px; line-height:17px; margin-top:10px}
.cards.w4h2 .container-premium .main .main-title .text,
.cards.w6h2 .container-premium .main .main-title .text{display: inline-block; color:#191917; font-family:OpenSans,sans-serif; font-weight:600; font-size:22px; line-height:22px; margin-top:10px}
.cards.w2h4 .container-premium .main .main-title .text{display: inline-block; color:#191917; font-family:OpenSans,sans-serif; font-weight:600; font-size:22px; line-height:22px; margin-left:10px; margin-right:10px; margin-top:10px}
.cards.w2h4 .container-premium .main .no-image p,
.cards.w4h2 .container-premium .main .no-image p{color:#191917; font-family:OpenSans,sans-serif; font-weight:600; font-size:32px; line-height:32px; margin-top:30px}
.cards.w4h2 .container-premium .main .double .no-image p,
.cards.w6h2 .container-premium .main .double .no-image p{color:#191917; font-family:OpenSans,sans-serif; font-weight:600; font-size:22px; line-height:22px; margin-top:30px}
.cards.w2h4 .container-premium .secondary .single-figure,
.cards.w4h2 .container-premium .secondary .single-figure,
.cards.w6h2 .container-premium .secondary .single-figure{float:left; margin:0 10px; position:relative}
.cards.w2h4 .container-premium .secondary .single-title p,
.cards.w4h2 .container-premium .secondary .single-title p,
.cards.w6h2 .container-premium .secondary .single-title p{color:#191917; font-family:OpenSans,sans-serif; font-weight:600; font-size:16px; line-height:18px; margin-top:0}
.cards.w2h4 .container-premium .secondary .single-title.no-image p,
.cards.w4h2 .container-premium .secondary .single-title.no-image p,
.cards.w6h2 .container-premium .secondary .single-title.no-image p{color:#191917; font-family:OpenSans,sans-serif; font-weight:600; font-size:22px; line-height:22px; margin-top:0}
.cards.w2h4 .container-premium .secondary .double,
.cards.w4h2 .container-premium .secondary .double,
.cards.w6h2 .container-premium .secondary .double{float:left; width:300px; margin-bottom:6px; min-height:67px}

.w320 .cards.w2h4 .container-premium .secondary .double,
.w320 .cards.w4h2 .container-premium .secondary .double,
.w320 .cards.w6h2 .container-premium .secondary .double{min-height:0}

.w320 .cards.w2h4 .labelto{float:right; margin:0 10px 10px 0; position:relative; right:0; bottom:0; height:62px; width:155px;}
.w320 .cards.w2h4 .labelto a{position:absolute; bottom:0;}

.cards.w2h4 .container-premium .secondary .double-figure,
.cards.w4h2 .container-premium .secondary .double-figure,
.cards.w6h2 .container-premium .secondary .double-figure{width:120px; float:left; margin-right:10px; position:relative}
.cards.w2h4 .container-premium .secondary .double-title .text,
.cards.w4h2 .container-premium .secondary .double-title .text,
.cards.w6h2 .container-premium .secondary .double-title .text{display: block; color:#191917; font-family:OpenSans,sans-serif; font-weight:600; font-size:14px; line-height:17px; margin-top:0}
.container-premium .main img,
.container-premium .secondary img{border-radius:3px; float:left}
.cards.w2h4 .container-premium .secondary .double .no-image p,
.cards.w4h2 .container-premium .secondary .double .no-image p,
.cards.w6h2 .container-premium .secondary .double .no-image p{color:#191917; font-family:OpenSans,sans-serif; font-weight:600; font-size:16px; line-height:16px; margin-bottom:10px}
.cards.w2h4 .container-premium .secondary .double{padding:0 10px 14px}
.cards .labelto{right:12px; position:absolute; bottom:15px}
.cards .labelto a{float:left; position:relative}
.cards .labelto span{position:absolute; top:50%; margin-top:-13px; right:0}
.cards .labelto p{width:120px; float:left; text-align:right; margin-right:37px; color:#191917; font-family:Ubuntu; font-size:14px; line-height:14px; text-transform:uppercase; vertical-align:super}
.border-premium{border-style:solid; border-width:2px 0 0}
.border-economy,
.border-news{border-color:#c11c05}
.border-sport{border-color:#00958c}
.border-entertainment,
.border-live-style{border-color:#b040a2}
.border-default{border-color:#65655d}
.container-premium .premium-title .box-premium{width:61px; height:61px; text-align:center; line-height:61px; position:absolute; top:-10px; background-color:#FFF; left:-10px; box-shadow:0 1px 1px 0 rgba(0,0,0,.4); -webkit-border-top-left-radius:3px; -webkit-border-bottom-right-radius:3px; -moz-border-radius-topleft:3px; -moz-border-radius-bottomright:3px; border-top-left-radius:3px; border-bottom-right-radius:3px; z-index:2}
.container-premium .premium-title img{vertical-align:middle;}
.container-premium .premium-title p{float:left; font-size:18px; font-family:Ubuntu; font-weight:700; line-height:120%; margin:10px 0 10px 60px; color:#191917; text-transform:uppercase}
.container-premium .premium-title p.no-image{margin:10px 0 10px 10px}
.container-premium .premium-title span{left:0; position:absolute; top:62px; width:10px; height:10px; background-position:-28px -108px}

/*BLOG*/
.container-essentials.blog{display:block; padding:0 15px;}
.container-essentials.blog .card-header{float:left; margin:15px 0 10px;}
.container-essentials.blog .card-header div{float:left; color:#65655D; font-size:14px;}
.container-essentials.blog .card-header .name{margin:13px 0 0 12px; font-weight:600; width:215px;}
.container-essentials.blog .card-header .image img{border-radius:42px;}
.container-essentials.blog .card-content{float:left; width:100%; height:185px; color:#191917; font-size:30px; font-weight:600; line-height:32px; overflow:hidden;}
.container-essentials.blog .card-content .icon{display:inline-block; height:32px;}
.container-essentials.blog .card-content .icon.left{margin-right:5px;}
.container-essentials.blog .card-content .icon.right{margin-left:5px;}
.container-essentials.blog .share{left:0;}

.w2h1 .container-essentials.blog .card-header{margin:10px 0 0 0;}
.w2h1 .container-essentials.blog .card-header .image img{border-radius:32px; width:32px; height:32px;}
.w2h1 .container-essentials.blog .card-header .name{margin:6px 0 0 8px;}
.w2h1 .container-essentials.blog .card-content{height:58px; font-size:14px; line-height:16px;}
.w2h1 .container-essentials.blog .card-content .icon{height:25px;}



/*NIGHTMODE THEME*/

.nightmode .cards {background-color: #33332f;}

.nightmode .cards a,
.nightmode .cards .hat.gray, 
.nightmode .w1280 .w2h4 .hat,
.nightmode .container-essentials .title .text,
.nightmode .container-premium .premium-title p,
.nightmode .w1280 .cards.w2h4 .container-essentials .title .text,
.nightmode .cards.w2h4 .container-essentials .title .text,
.nightmode .cards.w2h4 .container-premium .main .main-title .text,
.nigjtmode .cards.w2h4 .container-premium .main .double .main-title .text,
.nightmode .cards.w2h4 .container-premium .secondary .double-title .text,
.nightmode .cards.w2h4 .container-essentials .title .text,
.nightmode .cards.w4h2 .container-premium .secondary .double-title .text,
.nightmode .cards.w4h2 .container-premium .main .double .main-title .text,
.nightmode .cards.w4h2 .container-premium .main .main-title .text,
.nightmode .cards.w6h2 .container-premium .main .main-title .text,
.nightmode .cards.w6h2 .container-premium .secondary .double-title .text,
.nightmode .cards .labelto p,
.nightmode .container-essentials.blog .card-content,
.nightmode .container-essentials .title .text {
    color: #f1f1f1;
}



/* new file bellow */

.share-facebook:hover {
    opacity: 0.8;
}

.share-twitter:hover {
    opacity: 0.8;
}

.share-google:hover {
    opacity: 0.8;
}

.cards .share:hover .network-image {
    display: inline-block;
}



.cards.w2h1 .card-footer:hover .stamp-card,
.cards.w4h1.flex .card-footer:hover .stamp-card,
.cards.w1h1 .card-footer:hover .stamp-card{display:none;}
.cards .card-footer .share:hover{display:block}
.cards.w2h1 .card-footer .stamp-card:hover,
.cards.w4h1.flex .card-footer .stamp-card:hover,
.cards.w1h1 .card-footer .stamp-card:hover{display:block}

.w1280 .w4h1.flex .container-essentials .share:hover .text,
.w1280 .w2h1.flex .container-essentials.no-image .share:hover span.text,
.cards .share:hover .text {
    display: none;
}


.w1280 .cards.w4h1.flex .card-footer:hover .stamp-card,
.w1280 .cards.w2h1.flex:hover .container-essentials.no-image .stamp-card,
.cards.w2h1:hover .no-image .stamp-card{
	display: inline-block;
}

.cards:hover .container-essentials, .double.first:hover, .double:hover, .single:hover, .single-figure:hover,
.cards .labelto:hover,
.container-premium:hover .premium-title a p{
    opacity: 0.85;
}



.container-essentials:hover .news-image span.gallery,
.main .double.first:hover .main-figure span.gallery,
.main .double:hover .main-figure span.gallery,
.main .single:hover .main-figure span.gallery,
.secondary .double:hover span.gallery,
.secondary .single-figure:hover span.gallery
  {
    background-position: -40px 0;    
    opacity: 0.8;
}

.container-essentials:hover .news-image span.video,
.main .double.first:hover .main-figure span.video,
.main .double:hover .main-figure span.video,
.main .single:hover .main-figure span.video,
.secondary .double:hover span.video,
.secondary .single-figure:hover span.video
{
    background-position: -40px -40px;    
    opacity: 0.8;
}


.container-essentials:hover .boxblur {
    /*-webkit-filter: blur(0px);*/
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
}

.container-essentials .share:hover .arrow-share {
    -webkit-transform: rotateY(-180deg);
    -moz-transform:    rotateY(-180deg);
    -ms-transform:     rotateY(-180deg);
    -o-transform:      rotateY(-180deg);
    transform:         rotateY(-180deg);
}

.container-essentials .stamp-card.buzz:hover .trend-tip{
    display: block;
}

.cards .title .hat.hover-news:hover, .cards .title .hat.hover-economy:hover{background-color:#C11C05; color:#FFFFFF; border-width:0 0 2px 0;}
.cards .title .hat.hover-sport:hover{background-color:#00958C; color:#FFFFFF; border-width:0 0 2px 0;}
.cards .title .hat.hover-entertainment:hover, .cards .title .hat.hover-live-style:hover{background-color:#B040A2; color:#FFFFFF; border-width:0 0 2px 0;}
.cards .title .hat.hover-default:hover{background-color:#65655D; color:#FFFFFF; border-width:0 0 2px 0;}