.buttom-rounded {
	outline: none;
	background: #fff;
	padding: 0.8rem 1rem 1rem;
	-webkit-touch-callout: none;
	touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-transform: translate3d 0, 0, 0;
	-webkit-transform: translate3d 0, 0, 0;
	-moz-transform: translate3d 0, 0, 0;
	transform: translate3d 0, 0, 0;
	border-radius: 2.5rem;
	-ms-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
	border-bottom: 0.1rem solid #b4b4b4;
	border-top: 0;
	text-transform: uppercase;
	font-weight: 700;
	color: #65655d;
	display: inline-block;
	box-shadow: 0rem 0rem 0.1rem 0rem #e0e0e0;
	font-size: 1.1rem;
}

html[data-range=xsmall] .buttom-rounded {
	padding: 0.6rem 1rem 0.7rem 1rem;
}

html[data-range=small] .buttom-rounded {
	padding: 0.6rem 1rem 0.7rem 1rem;
}

.buttom-rounded:hover {
	box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem #e0e0e0;
	text-shadow: 0.3rem 0.1rem 0.1rem #eee;
}

.buttom-rounded:active {
	border-top: 0.1rem solid #b4b4b4;
	border-bottom: 0;
}

.buttom-rounded__text {
	display: inline-block;
	max-width: 30rem;
	-ms-transition: all 1s 0.3s;
	-webkit-transition: all 1s 0.3s;
	-moz-transition: all 1s 0.3s;
	transition: all 1s 0.3s;
	white-space: nowrap;
	padding: 0 0.5rem;
	vertical-align: middle;
}

html[data-device-type=web] .buttom-rounded.checked:not(:hover) .buttom-rounded__text {
	-ms-transition: all 1s 2s;
	-webkit-transition: all 1s 2s;
	-moz-transition: all 1s 2s;
	transition: all 1s 2s;
	max-width: 0;
	opacity: 0;
	padding: 0;
}

.buttom-rounded__check {
	display: inline-block;
	vertical-align: middle;
}

.buttom-rounded__unchecked-text {
	position: absolute;
	white-space: nowrap;
}

.unchecked .buttom-rounded__unchecked-text {
	-ms-transition: opacity 1s linear;
	-webkit-transition: opacity 1s linear;
	-moz-transition: opacity 1s linear;
	transition: opacity 1s linear;
	opacity: 1;
}

.checked .buttom-rounded__unchecked-text {
	opacity: 0;
}

.buttom-rounded__checked-text {
	opacity: 0;
	white-space: nowrap;
}

.checked .buttom-rounded__checked-text {
	-ms-transition: opacity 1s linear;
	-webkit-transition: opacity 1s linear;
	-moz-transition: opacity 1s linear;
	transition: opacity 1s linear;
	opacity: 1;
}

html[data-device-type='mob'] .buttom-rounded {
	margin: 0;
}

html[data-legacy="ie8.0"] .buttom-rounded {
	display: none;
}

.buttom-rounded.btn-Horoscope {
	padding: 0.8rem 2rem 1rem 1rem !important;
}

html[data-range=xsmall] .buttom-rounded.btn-Horoscope {
	padding: 0.6rem 1.7rem 0.7rem 1rem !important;
}

html[data-range=small] .buttom-rounded.btn-Horoscope {
	padding: 0.6rem 1.7rem 0.7rem 1rem !important;
}

.btn-Horoscope.checked {
	padding: 0.8rem 0.9rem 0.9rem !important;
}

.zaz-app-subjects-menu[data-context='horoscope'] {
	text-align: left;
}

.zaz-app-subjects-menu {
	margin: 20px auto 0;
	text-align: center;
}

.zaz-app-subjects-menu.simple-button {
	text-align: left;
	margin: 0;
}

.zaz-app-subjects-menu.simple-button.right {
	text-align: right;
}

.zaz-app-subjects-menu__wrapper {
	display: inline;
}

.zaz-app-subjects-menu__item {
	vertical-align: middle;
	position: relative;
	display: inline-block;
}

.zaz-app-subjects-menu__item img {
	height: 3.2rem;
	width: 3.2rem;
}

.zaz-app-subjects-menu__item-separator {
	border-left: #ccc 0.1rem solid;
	border-right: #fff 0.1rem solid;
	height: 2rem;
	display: inline-block;
	margin: 0 1rem;
	vertical-align: middle;
}

.zaz-app-subjects-menu__title {
	margin: 0;
	font-weight: normal;
	vertical-align: middle;
	display: inline-block;
	font-family: 'Ubuntu', sans-serif;
	color: #33332f;
	font-size: 4rem;
}

.zaz-app-subjects-menu .menu {
	display: inline-block;
	margin-left: 15px;
}

.zaz-app-subjects-menu .menu nav li {
	display: inline;
}

.zaz-app-subjects-menu .menu nav a {
	line-height: 40px;
	font-size: 18px;
	margin: 0 16px;
	font-family: Ubuntu, sans-serif;
	color: #65655d;
	display: inline-block;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	vertical-align: sub;
	-ms-transition: all 200ms linear;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	transition: all 200ms linear;
}

.zaz-app-subjects-menu .menu nav a:hover {
	opacity: .8;
}

.zaz-app-subjects-menu .menu nav a.news {
	color: #c11c05;
}

.zaz-app-subjects-menu .menu nav a.sport,
.zaz-app-subjects-menu .menu nav a.sports {
	color: #00958c;
}

.zaz-app-subjects-menu .menu nav a.live-style,
.zaz-app-subjects-menu .menu nav a.fun {
	color: #b040a2;
}

/*# sourceMappingURL=zaz-app-subjects-menu.css.map */

