/*--------- EDIT CSS - PRIMARY SITE ---------------------*/

/*
Welcome to custom CSS for the WSU Spine Theme!

You may delete these comments and get started with your custom stylesheet.
Before doing so, please review the WSU web standards:

http://brand.wsu.edu/media/web/web-standards/

As a general rule of thumb, if your styles target aspects of the spine
(#spine), that's against standard, whereas if you're styling elsewhere on
the page, it's all good.
*/
body {
	font-family: 'proxima-nova', "Lucida Sans", sans-serif;
	font-weight: 400;
	background-color: #fff;
	color: #2a3033;
}

#spine {
	font-family: "Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

/*---------------------------- type ----------------------------*/
.home h1,
.home h2,
.home h3,
.home h4,
.home h5,
.home p {
	font-family: "proxima-nova", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

h1 {
	color: white;
	font-size: 4em;
	background-color: #981e32;
	font-weight: 700;
	padding: 10px;
	width: 60%;
	text-align: center;
	text-transform: uppercase;
	margin: 2.5rem 0 0;
}

h2 {
	font-size: 2.5rem;
	color: #981e32;
	margin: .5em 0;
	font-weight: 300;
}

h3 {
	color: #2a3033;
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 1em;
}

h4 {
	color: #2a3033;
	font-weight: 400;
	font-size: 1.3rem;
	text-transform: uppercase;
	line-height: 1em;
	margin: 1em 0 .25em;
}

h5 {
	color: #2a3033;
	font-weight: 700;
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: .85em;
	margin: 1em 0 .25em;
}

p {
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5em;
}

.hero {
	font-size: 7em;
	font-weight: 800;
	line-height: .85em;
	text-transform: uppercase;
	color: #2a3033;
	width: 80%;
	margin: 1em auto 0;
}

.intro {
	font-size: 1.6rem;
	line-height: 1.25em;
	font-weight: 300;
	color: #2a3033;
	text-align: center;
}

strong {
	font-weight: 700;
}

.highlight {
	color: #fff;
	background-color: #981e32;
	padding: 2px;
}

/*---------------------------- links ----------------------------*/
main a {
	color: #981e32;
	border-bottom: 3px solid #dddddd;
	box-shadow: inset 0 -5px 0 #dddddd;
	transition: background .5s cubic-bezier(.33,.66,.66,1);
	transition: border 1s ease (.33,.66,.66,1);
}

main a:hover {
	color: #981e32;
	background-color: #f2f2f2;
	border-bottom: 3px solid #f2f2f2;
	box-shadow: inset 0 -5px 0 #f2f2f2;
	padding: 2px 0 0;
}

/*---------------------------- wrappers ----------------------------*/
#jacket {
	border-top: 5px solid #981e32;
}

.home #binder {
	max-width: 100% !important;
}

.home section {
	margin: 0 auto;
}

.full {
	max-width: 100% !important;
}

.spacing-loose .gutter.full .column,
.spacing-loose .guttered.full,
.spacing-loose .single.gutter.full .column {
	padding: 0;
}

/*---------------------------- feature ----------------------------*/
.home .main-header {
	background: #fff;
	height: auto;
}

/* ----- header-shelf -----*/
/* column one */
.home .fluid .header-shelf.row.triptych .column.one {
	border: 1px solid #dbdbdb;
	border-top: none;
	border-bottom: none;
	width: 25%;
}

.wsu-logo {
	padding: 2rem 2rem 1.3rem;
	width: 100%;
	box-sizing: border-box;
}

.wsu-logo img {
	width: 100%;
}

/* column two (empty) */
.header-shelf .column.two {
	height: 1px;
}

.home .fluid .row.triptych .column.two {
	width: 62.5%;
}

.home .fluid .main-header .row.triptych.header-shelf .column.two {
	padding: 1.5rem;
	position: absolute;
	left: 25%;
	bottom: 20px;
}

.header-shelf .column.two li:after,
.header-shelf .column.two ul:after {
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

/* column three */
.home .fluid .main-header .row.triptych .column.three {
	border: 1px solid #dbdbdb;
	border-top: none;
	border-bottom: none;
	width: 12.5%;
}

.header-shelf .column.three {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}

.top-level-links-label,
.search-label {
	float: left;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

.top-level-links-label {
	background: #efefef;
	position: absolute;
	top: 0;
	bottom: 55%;
	padding-top: 12%;
	font-size: .8rem;
	transition: background .3s ease;
}

.top-level-links-label:hover {
	background: #dbdbdb;
}

.search-label {
	position: absolute;
	bottom: 20px;
	font-size: .9rem;
	font-weight: 700;
	color: #981e32;
	transition: color .3s ease;
}

.search-label:hover {
	color: #5e6a71;
}

.search-label:after {
	content: "$";
	font-family: Spine-Icons;
	margin: 0 -.25rem 0 .5rem;
	position: relative;
	top: .125rem;
}

/* Campus overlay */
/*---------- CAMPUS LINKS ------------------*/
.campus-links-full-page-wrapper {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(42,48,51,.9);
	overflow: scroll;
}

.campus-links-internal-wrapper {
	position: static;
	top: 50%;
	left: 0;
	width: 50px;
	background: #fff;
}

.campus-links-internal-wrapper {
	position: absolute;
	top: 25%;
	left: 0;
	width: 100%;
}

.campus-links-internal-wrapper li {
	height: 50px;
	width: 100%;
	color: #000;
	background: #ececec;
}

.campus-links-full-page-wrapper {
	background: #981e32;
}

.campus-links-internal-wrapper {
	background: none;
	top: 15%;
}

.campus-links-internal-wrapper ul {
	list-style: none;
	padding: 0;
}

.campus-links-internal-wrapper li {
	font-size: 4rem;
	float: left;
	background: none;
	text-align: center;
	padding: 0;
	height: auto;
}

.campus-links-internal-wrapper li a {
	font-weight: 300;
	display: block;
	text-align: center;
	width: 100%;
	border-top: 1px solid rgba(0,0,0,.1);
	line-height: 1;
	padding: 1rem 0;
}

.campus-links-internal-wrapper li a:hover {
	background: rgba(0,0,0,.05);
}

/*.menu-wsu-campuses-container li:nth-child(4) {
	border-bottom: 1px solid rgba(0,0,0,.1);
	margin-bottom: 3rem;
}

.menu-wsu-campuses-container li:nth-child(n+5) a {
	border: none;
	font-size: 2.5rem;
	margin-top: 0;
}

.menu-wsu-campuses-container li:last-child a {
}

.menu-wsu-campuses-container li:nth-child(n+5) {
	width: 100%;
	padding: 0 3rem;
	box-sizing: border-box;
}*/
/*----- header-drawer -----*/
.header-drawer-wrapper {
	background: #363636;
	border-bottom: 5px solid #981e32;
	font-size: .8rem;
	position: relative;
}

.header-drawer .column > div {
	padding: 1.5rem;
}

.header-drawer ul,
.header-drawer li,
.mega-menu-labels-wrapper ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* column one */
section.single.triptych.row.header-drawer:before {
	position: absolute;
	content: "";
	visibility: visible;
	background: rgba(0,0,0,.1);
	height: 100%;
	width: 25%;
	left: 0;
}

/* mega-menu */
.wsu-mega-nav-container {
	padding-bottom: 1rem;
}

.header-drawer .two .mega-menu-wrapper > ul > li,
.mega-menu-labels-wrapper li {
	float: left;
	width: 20%;
}

#mega-menu .sub-menu {
	padding: 0 .2rem 0 0;
}

.mega-menu-labels-wrapper > ul > li > a {
	color: #404040;
	font-size: .9rem;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
}

.mega-menu-labels-wrapper > ul > li > a:hover {
	color: #981e32;
}

.mega-menu-wrapper > ul > li > a {
	display: none;
}

#mega-menu .sub-menu li,
#signature-menu li {
	padding-bottom: .7rem;
}

#mega-menu .sub-menu a,
.signature-menu-wrapper a {
	color: #c8c8c8;
	display: block;
	line-height: 1.2;
	padding-right: .5rem;
}

/*--search bar--*/
.header-search-input-wrapper,
.header-search-a-z-wrapper {
	width: 70%;
	float: right;
	margin-right: 10%;
	margin-top: 2.5rem;
}

.header-search-a-z-wrapper {
	margin-top: 1rem;
	text-align: right;
}

.header-search-a-z-wrapper a {
	color: #981e32;
}

.header-search-input-wrapper label {
	display: none;
}

.header-search-input-wrapper input[type=text] {
	font-size: 1.5rem;
	font-weight: 300;
	font-family: Proxima-Nova;
	width: 100%;
}

section#search-modal {
}

.header-search-wrapper {
	height: auto;
	padding: 3rem 0;
	background: #dbdbdb;
}

.quick-links-label {
	color: #981e32;
	font-size: 1rem;
	margin-bottom: 1rem;
}

.menu-quick-links-search-container ul {
	list-style: none;
	padding: 0;
}

.menu-quick-links-search-container li {
	width: 50%;
	float: left;
}

.menu-quick-links-search-container li a {
	color: #5e6a71;
}

/* - closing Xs - */
.close-header-drawer,
.close-header-search,
.campus-links-close {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	color: #fff;
	font-size: 2rem;
	font-weight: 300;
	cursor: pointer;
	transition: color .3s ease;
}

.campus-links-close {
	top: 2rem;
	bottom: inherit;
	right: 2rem;
	font-size: 4rem;
}

.campus-links-hide {
	display: none;
}

.close-header-drawer:hover,
.close-header-search:hover,
.campus-links-hide:hover {
	color: #c60c30;
}

/*---------- Main General ----------*/
.graybg {
	background: #e4e4e4;
}

.crimsonbg {
	background: #981e32;
}

/*--------- Features Area ------------*/
/*--- See also style.css -----------*/
.features-container {
	background: #2a3033;
}

.home .features-container .home-headline-item-meta {
	position: absolute;
	height: 25px;
	width: 215px;
	background: #fff;
	top: 0;
	right: 0;
}

.home .features-container .home-headline-item-title {
	float: left;
}

.home .features-container .home-headline-item-date {
	float: right;
}

.home .features-container .wsu-home-headline-wrapper:nth-of-type(1) .home-headline-item-meta {
	top: 50%;
}

.home .features-container .wsu-home-headline-wrapper:nth-of-type(2) .home-headline-item-meta {
	top: 56%;
}

.home .features-container .wsu-home-headline-wrapper:nth-of-type(3) .home-headline-item-meta {
	top: 62%;
}

.home .features-container .wsu-home-headline-wrapper:nth-of-type(4) .home-headline-item-meta {
	top: 68%;
}

/* Hero text */
.features-container .home-headline.headline-has-background > div {
	position: absolute;
	top: 25%;
}

.features-container h2 {
	border-left: 2.5rem solid #981e32;
	color: #fff;
	font-size: 5rem;
	line-height: .9;
	text-transform: uppercase;
	font-family: proxima-nova;
	font-weight: 800;
	padding: 0 0 0 1rem;
	top: 25%;
	bottom: inherit;
}

.features-container .home-subtitle,
.features-container .home-cta {
	margin-top: 2rem;
	padding-left: 3.7rem;
	width: 37.5%;
	color: #fff;
}

.features-container .home-subtitle {
	font-size: 1.2rem;
	line-height: 1.5;
}

.features-container .home-cta a,
.features-container .home-cta a:hover {
	color: #fff;
	border: none;
	box-shadow: none;
	padding: .5rem 1rem;
	border: 1px solid #fff;
	text-transform: uppercase;
	display: inline-block;
}

.features-container .home-cta a:hover {
	color: #981e32;
}

.features-container .home-subtitle strong {
	font-weight: 400;
	background: #981e32;
	padding: 2px 1px;
}

/* features nav */
.features-container .home-headline-nav {
	position: absolute;
	background: none;
	display: block;
	bottom: 25%;
	right: 0;
	margin: 0;
	padding: 0;
}

.features-container .home-headline-nav li {
	background: rgba(0,0,0,.75);
	display: block;
	clear: both;
	color: #fff;
	padding: .8rem .5rem;
	cursor: pointer;
	float: right;
	margin-bottom: 4px;
	text-transform: uppercase;
	font-size: .9rem;
	line-height: 1;
}

.home-headline-nav li:hover {
	background: rgba(152,30,50,1);
	padding-left: 1rem;
}

.home-headline-nav-headline {
	color: #fff;
	float: left;
	padding-right: 2rem;
	display: none;
	text-transform: none;
}

.home-headline-nav a {
	color: #fff;
	border: none;
	box-shadow: none;
}

.home-headline-nav li:hover > .home-headline-nav-headline {
	display: block;
}

span.home-headline-nav-date {
	display: block;
	float: right;
	width: 60px;
	text-align: center;
}

.home-headline-nav li:last-child {
	background: #981e32;
	position: relative;
}

.home-headline-nav li:last-child:hover {
	padding-left: .5rem;
}

.features-container .home-headline-nav li:hover {
	transition: background .3s ease;
}

.home-headline-nav li:last-child:hover {
	background: #c60c30;
}

.home-headline-nav li:last-child a {
	font-size: 2rem;
	transform: translateY(-10px);
	float: left;
	line-height: 0;
	width: 100%;
	display: block;
}

.home-headline-nav li:last-child a:hover {
	padding: 0;
	background: none;
	border-bottom: none;
	box-shadow: none;
	color: #fff;
}

/*---------- Recruitment section ---------*/
.recruitment-head {
	margin-top: 1.5rem;
}

.recruit-top,
.recruit-middle,
.recruit-bottom {
	font-weight: 800;
	text-transform: uppercase;
}

.recruit-top {
	font-size: 4rem;
}

.recruit-middle,
.recruit-bottom {
	font-size: 2rem;
}

.recruit-bottom {
	color: #dbdbdb;
}

main .button-row {
	margin-top: 4rem;
}

main .button-row a {
	display: block;
	float: left;
	text-transform: uppercase;
	background: #c8c8c8;
	color: #fff;
	margin-right: 2rem;
	font-weight: 700;
	border: none;
	box-shadow: none;
	width: 30%;
	box-sizing: border-box;
	margin: 0;
	text-align: center;
	padding: 1rem 0 .75rem;
	transition: background .3s ease;
}

main .button-row a:nth-of-type(2) {
	margin: 0 5%;
}

main .button-row a.button-apply {
	background: #981e32;
}

main .button-row a:hover {
	background: #5e6a71;
}

main .button-row a.button-apply:hover {
	background: #c60c30;
}

main .button-row:after {
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.recruitment h3 {
	margin-top: 4rem;
	color: #981e32;
	font-weight: 300;
}

.recruitment ul {
	margin-top: .5rem;
	padding: 0;
	font-size: 1rem;
}

.recruitment li {
	display: inline-block;
	margin-right: 1.5rem;
	padding: 0 0 .6rem;
	line-height: 1.4;
}

main .recruitment li a {
	color: inherit;
}

.recruitment .column.one p {
	max-width: 550px;
}

/* FOS */
.find-fos {
	background: #dbdbdb;
}

.fos {
	width: 95%;
	margin: 0 2.5% 1rem;
}

.recruitment li.fos-label {
	background: #fff;
	width: 100%;
	padding: .3rem 2.5%;
	box-sizing: border-box;
	font-size: .8rem;
}

li.fos-label:after {
	content: "V";
	position: absolute;
	right: 1.75rem;
	color: #981e32;
}

.fos-open li.fos-label:after {
	content: "X";
}

.find-fos h4,
.recruitment .find-fos-alpha h3 {
	text-transform: none;
	margin: .2rem 2.5%;
	letter-spacing: 0;
	font-size: 1.1rem;
	font-weight: 400;
	color: #2a3033;
}

.find-fos-alpha-wrapper {
	margin-top: 4rem;
}

.az li {
	margin: 0 2px 2px 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
	border: 1px solid #bdbdbd;
	float: left;
}

main .recruitment .az li a,
main .recruitment li.fos-item a {
	color: #981e32;
	display: block;
	transition: all .5s ease;
	border-bottom: none;
	box-shadow: none;
	font-size: .8rem;
	padding: 0 0 0 5%;
}

main .recruitment .az li a {
	padding: 8px;
	min-width: 30px;
}

main .recruitment .az li a:hover {
	background: #981e32;
	color: #fff;
}

main .recruitment li.fos-item a:hover {
	background-color: #981e32;
	color: #fff;
	border-bottom: none;
	box-shadow: none;
	padding: 0 0 0 5%;
}

.fos-open li:nth-child(2) {
	margin-top: 1.5rem;
}

.az:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
	margin-bottom: 2rem;
}

/*--------- Social area ----------*/
.home section.photowall {
	margin-top: 5rem;
	background: -webkit-linear-gradient(top,white,white 45%,#e4e4e4 45%,#e4e4e4);
}

.spacing-loose .halves.gutter.photowall .column.one,
.spacing-loose .halves.gutter.photowall .column.two {
	padding: 0;
}

/* Photo wall */
.fluid .row.halves.photowall .column.one {
	width: 100%;
}

.media-wall-column {
	float: left;
	width: 20%;
}

main .media-wall-column a {
	float: left;
	border-bottom: none;
	box-shadow: none;
	padding: 0;
	line-height: 0;
}

.photowall img {
	float: left;
	width: 100%;
}

.media-wall-column-0 a:first-child,
.media-wall-column-2 a:first-child {
	margin-top: 50%;
}

.media-wall-column-3 a:first-child {
	margin-top: 100%;
}

.media-wall-column-4 a:first-child {
	margin-top: 150%;
}

/* social posting */
.spacing-loose .halves.gutter.photowall .column.two {
	padding-left: 2rem;
}

.fluid .row.halves.photowall .column.two {
	margin-top: -19%;
	width: 40%;
	float: right;
}

/* icons */
main .spine-social-channels ul {
	text-align: left;
	padding: 0;
}

main .spine-social-channels ul li {
	padding: 0 1rem 1rem 0;
}

main .spine-social-channels ul li a {
	padding: 0 !important;
	box-shadow: none;
	border: none;
	font-size: 2rem;
}

main .spine-social-channels ul li a:hover {
	background-color: #fff;
}

main .spine-social-channels ul .googleplus-channel a {
	color: #dd4b39 !important;
}

main .spine-social-channels ul .instagram-channel a {
	color: #517fa4 !important;
}

main .spine-social-channels ul .linkedin-channel a {
	color: #007bb6 !important;
}

main .spine-social-channels ul .pinterest-channel a {
	color: #cb2027 !important;
}

main .spine-social-channels ul .twitter-channel a {
	color: #55acee !important;
}

main .spine-social-channels ul .facebook-channel a {
	color: #3B5998 !important;
}

main .spine-social-channels ul .youtube-channel a {
	color: #cc181e !important;
}

main .spine-social-channels ul .tumblr-channel a {
	color: #32506d !important;
}

.photowall .spine-social-channels a:hover {
	background: none;
	text-shadow: 1px 1px rgba(0,0,0,.2);
}

/*---------- News and Calendar ----------*/
section.news {
	padding-bottom: 5rem;
}

.boldtext-white h1 {
	font-size: 4rem;
	font-weight: 800;
	text-transform: uppercase;
	color: #fff;
	background: none;
	padding: 2rem 0 1rem;
	width: 100%;
	text-align: left;
	margin: 0;
}

.news ul {
	padding: 0;
	list-style: none;
}

.news .one li {
	border-bottom: 1px solid rgba(0,0,0,.1);
	padding: .4rem 0;
}

.content-item-thumbnail,
.content-item-title,
.content-item-byline,
.content-item-excerpt {
	float: left;
	padding-left: 1rem;
	width: 75%;
	box-sizing: border-box;
}

.content-item-thumbnail {
	padding-left: 0;
	width: 25%;
}

.content-item-title {
	font-size: 1.2rem;
	font-weight: 700;
}

.content-item-title a {
	color: inherit;
}

.content-item-byline {
	color: rgba(0,0,0,.5);
	margin-bottom: .4rem;
}

.content-item-excerpt {
	font-size: .7rem;
}

.content-item-byline-date {
	text-transform: uppercase;
}

.news ul li:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

main .news ul a {
	border: none;
	box-shadow: none;
}

.news .one .wsuwp-content-syndicate-wrapper:last-of-type,
.news .two {
	font-size: 1rem;
}

.wsuwp-content-syndicate-item a {
	color: inherit;
	display: block;
}

.wsuwp-content-syndicate-item a:hover {
	color: #981e32;
	padding: 0;
	background: none;
}

a.content-item-read-story {
	color: #981e32;
	font-weight: 700;
}

/* events */
.news .two .wsuwp-content-syndicate-wrapper:first-of-type li {
	margin-bottom: .5rem;
}

.content-item-event-date {
	text-transform: uppercase;
	background: #981e32;
	padding: .5rem 0;
	color: #fff;
	float: left;
	width: 4rem;
	text-align: center;
	margin: 0 1.5rem 1rem 0;
}

.content-item-event-title {
	display: block;
	line-height: 1.2;
}

.content-item-event-title a {
	color: inherit;
}

.content-item-event-meta {
	color: rgba(0,0,0,.5);
	font-size: .9rem;
}

span.wsu-ac-month,
span.wsu-ac-day {
	font-weight: 700;
}

span.wsu-ac-month {
}

span.wsu-ac-day {
	margin-right: .5rem;
}

/*---------- Athletics ---------*/
.athletics {
	background: #fff;
}

.athletics .column.one {
	padding: 0 !important;
}

.athletics img {
	float: right;
	width: 75%;
	max-width: 792px !important;
}

.athletics img.athletics-logo,
.athletics ul {
	float: left;
	width: 25%;
	box-sizing: border-box;
	padding: 3rem 0 0 4rem;
}

.athletics ul {
	list-style: none;
	float: none;
	margin-top: 5rem;
}

.athletics li {
	width: 100%;
	text-align: center;
	font-size: 1.2rem;
}

main .athletics li a,
main .athletics li a:hover {
	color: #981e32;
	border: none;
	box-shadow: none;
	background: none;
	font-weight: 300;
}

main .athletics li a:hover {
	text-decoration: underline;
}

/*---------- Campus Photo ----------*/
.fixedbg {
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
}

.fixedbg .column {
	position: absolute;
	top: 0;
	bottom: 0;
}

.locationcap {
	position: absolute;
	right: 4rem;
	bottom: 0;
	color: #fff;
	float: left;
}

.locationcap:before {
	content: "";
	background-image: url(../images/wsu-home-map-marker.png);
	background-repeat: no-repeat;
	position: relative;
	display: block;
	height: 70px;
	width: 40px;
	float: left;
	top: -2.5rem;
	margin-right: .5rem;
}

/*---------- Map ----------*/
.map {
	/*height: 400px;*/
}

.map iframe {
	width: 100%;
}

.map p {
	padding: 0;
	line-height: 0;
}

.WSU_MAPS_NS .iw_id {
	display: none !important;
}

.WSU_MAPS_NS .ui-tabs .ui-widget-header {
	display: none !important;
}

/*---------- Quick Facts ---------*/
.facts h2 {
	color: #fff;
	padding: 8rem 0;
	text-align: center;
}

main .facts a,
main .facts a:hover {
	border: none;
	box-shadow: none;
	padding: 0;
	background: none;
}

/*---------- Life ----------*/
.home #binder.fluid .row.thirds {
	padding: 0 !important;
}

.home .fluid .row.thirds .column,
.home .fluid .row.thirds .column.two {
	width: 33.33%;
	padding: 0 !important;
}

main .life a.home-link-wrap div {
	width: 100%;
	height: 296px;
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.life a.home-link-wrap div {
	height: 408px;
}

.life a.home-link-wrap div div .home-subtitle {
	display: none;
}

.life .bottom-figures a {
	border-bottom: 0;
	box-shadow: none;
}

main .life.thirds.gutter .column.one,
main .life.thirds.gutter .column.two,
main .life.thirds.gutter .column.three {
	padding: 0;
}

.life h2 {
	width: 90%;
	text-align: center;
	color: white;
	font-weight: 700;
	text-transform: uppercase;
	position: absolute;
	top: calc(50% - .75rem);
	left: 50%;
	margin-left: -45%;
	vertical-align: text-top;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.5rem;
	background: rgba(0,0,0,.2);
	transition: background .3s ease;
}

.life a div div:hover {
	transition: background-color ease .5s;
	background-color: rgba(0,0,0,0.5);
}

.life a div div:hover h2 {
	background: none;
}

.community-head .column {
	position: absolute;
	z-index: 2;
	padding: 0;
	margin-top: -2.4rem;
}

.community-head h1 {
	width: 60%;
	margin: 0 auto;
	font-size: 4rem;
	line-height: 1;
	padding: .6rem 0 .5rem;
}

/*---------- Financail ----------*/
.financialhead {
	margin-top: 3rem;
}

.financial {
	margin-bottom: 4rem;
}

.financial ul {
	list-style: none;
	padding: 0;
}

.financial .two {
	padding-left: 5rem;
}

.financial .two li {
	margin-bottom: 2rem;
}

.numcall {
	background: #5e6a71;
	color: #fff;
	font-size: 3rem;
	font-weight: 800;
	padding: .7rem 1rem .5rem;
	float: left;
	line-height: 1;
	margin-right: 1rem;
}

.desccall {
	color: #981e32;
	font-size: 1.1rem;
	font-weight: 300;
	max-width: 400px;
	float: left;
	padding-top: 1rem;
}

.financial ul li:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

/*---------- Photo II ----------*/
/*---------- Bottom section ----------*/
.campaign-mark {
	text-align: center;
	border-top: 2rem solid #e4e4e4;
	padding: 1.5rem 0 1rem;
	background: #fff;
	max-width: 100% !important;
}

.campaign-mark figure {
	display: inline-block;
	margin: 0 2rem;
}

.home figure {
	width: auto !important;
}

main .campaign-mark a {
	color: #981e32;
	border-bottom: none;
	box-shadow: none;
}

main .campaign-mark a:hover {
	background: none;
}

/*--------- Fat Footer ---------*/
.fat-footer-menu {
	background: #e4e4e4 url(../images/wsu-home-cougar-head-white.svg) no-repeat;
	background-size: 15%;
	background-position: 95% 80%;
	padding: 3rem 0;
	font-size: .8rem;
	max-width: 100% !important;
}

.fat-footer-menu {
	margin-top: 3rem;
}

.home .fat-footer-menu {
	margin-top: 0;
}

.fat-footer-menu ul {
	font-size: .8rem !important;
}

.fat-footer-menu .column.one {
	float: none;
	width: 1386px !important;
	margin: 0 auto;
	max-width: 100%;
	padding: 0 2rem;
}

#fat-footer > ul {
	max-width: 1188px;
	margin: 0 auto;
}

#fat-footer ul {
	list-style: none;
	padding: 0;
}

.nav-section-head > a:first-child {
	font-weight: 700;
	cursor: default;
	text-transform: uppercase;
}

.nav-section-head {
	margin: 1rem 0 .25rem;
}

.sub-menu {
	margin-top: .5rem;
}

.ff-125 {
	margin-top: 1.25rem;
}

#fat-footer,
#fat-footer a {
	color: #2a3033;
}

#fat-footer,
#fat-footer .sub-menu a:hover {
	color: #981e32;
}

#fat-footer .sub-menu {
	padding-right: .3rem;
}

.ff-alumni,
.ff-index,
.ff-services,
.ff-faculty,
.ff-athletics,
.ff-policies {
	width: 25%;
	float: left;
}

/* footer bar */
.footer-bar {
	background: #981e32;
	color: #fff;
	font-size: .7rem;
	text-align: right;
}

.footer-bar .column.one {
	padding: .5rem 2rem;
}

.footer-bar .column.one div {
	display: inline-block;
	margin: 0 0 0 2rem;
}

.footer-contact-us a {
	color: #fff;
	text-transform: uppercase;
}

/* ---------- secondary page work and overrides ---------- */
main,
#spine #glue:before {
	border-right: 1px solid #efefef;
}

.home main {
	border: none;
}

figure {
	width: 100% !important;
}

/*figure img {
	width: 100%;
}*/
/* -- position life grid boxes to top of page -- */
.section-life.page-overview .main-header {
	display: none;
}

.section-life.page-overview .community-head h1 {
	width: 80%;
}

.section-life.page-overview main .bottom-figures a.home-link-wrap div {
	height: 300px;
}

@media screen and (min-width: 693px) {
	#binder.fluid .row.thirds {
		padding: 0 .5rem;
	}

	.fluid .row.thirds .column,
	.fluid .row.thirds .column.two {
		width: 33.33%;
		/*padding: 0 .5rem !important;*/
	}

	#binder.fluid .row.quarters {
		/*padding: 0 .5rem;*/
	}

	.fluid .row.quarters .column {
		width: 25%;
		/*	padding: 0 .5rem !important;*/
	}

	.fluid .row.quarters.bottom-figures {
		padding: 0 !important;
	}

	.fluid .row.quarters.bottom-figures .column,
	.fluid .row.quarters.bottom-figures,
	.fluid .row.thirds.bottom-figures .column {
		padding: 0 !important;
	}

	.fluid .row.thirds.bottom-figures {
		padding: 0 !important;
	}
}

.align-left,
.align-right {
	margin: 0;
}

/*---------------- Responsive ----------------------*/
@media screen and (max-width: 1200px) {
	.home .header-shelf .column.three {
		bottom: inherit;
	}

	.fluid .main-header .row.triptych .column.three {
		width: auto;
		border: 1px solid #dbdbdb;
	}

	.home .fluid .main-header .row.triptych .column.three {
		width: 50%;
		border: none;
	}

	.top-level-links-label,
	.search-label {
		width: auto;
		bottom: inherit;
		top: 0;
		padding: .5rem 1rem;
		position: relative;
		line-height: 1;
		font-size: .8rem;
		font-weight: 400;
		float: right;
	}

	.top-level-links-label {
		border-right: 1px solid #dbdbdb;
		box-sizing: border-box;
		padding-top: calc(1px + .5rem);
		float: right;
	}

	.search-label {
		right: 0;
	}

	.home .fluid .main-header .row.triptych.header-shelf .column.two {
		bottom: 10px;
	}

	.home .fluid .main-header .row.triptych.header-shelf .column.two,
	.home .fluid .row.triptych .column.two {
		width: 75%;
	}
}

@media screen and (max-width: 989px) {
	.home #binder.fluid main {
		width: 100% !important;
		margin-left: 0;
	}

	.features-container h2 {
		font-size: 7vw;
	}

	.athletics ul {
		margin-top: 3rem;
	}

	.athletics li {
		font-size: 1rem;
	}

	.athletics img.athletics-logo,
	.athletics ul {
		padding: 2.5rem 0 0 2rem;
	}
}

@media screen and (max-width: 791px) {
	.wsu-logo {
		padding: 2rem 1rem 1.3rem;
	}

	#binder.fluid main {
		margin-top: 0;
	}

	.mega-menu-labels-wrapper > ul > li > a {
		font-size: .7rem;
	}

	.features-container h2 {
		font-size: 8vw;
		border-left: 4vw solid #981e32;
	}

	.features-container .home-subtitle {
		font-size: 3vw;
	}

	.features-container .home-subtitle,
	.features-container .home-cta {
		width: 50%;
	}

	.features-container .home-cta {
		margin-left: calc(4vw + 1rem);
		padding-left: 0;
	}

	.media-wall-column-0,
	.media-wall-column-3,
	.media-wall-column-4 {
		display: none;
	}

	.media-wall-column-1 a:first-child,
	.media-wall-column-2 a:first-child {
		margin-top: 0;
		display: none;
	}

	.media-wall-column-1,
	.media-wall-column-2 {
		width: 50%;
	}

	.fluid .row.halves.photowall .column.two {
		margin-top: 2rem;
		width: 100%;
		float: left;
		padding: 0 4rem;
	}
}

@media screen and (max-width: 700px) {
	.home .main-header {
		display: none;
	}

	.home #spine {
		display: block;
	}

	.athletics {
		background: #fff;
	}

	.athletics .action-img {
		display: none;
	}

	.athletics img.athletics-logo,
	.athletics ul {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		float: left;
		padding: 1.25rem;
	}

	.athletics img.athletics-logo {
		padding-top: 1.5rem;
	}

	.athletics img.athletics-logo {
		width: 60%;
	}

	.athletics ul {
		width: 40%;
	}

	.athletics li {
		padding: 0;
	}

	.athletics p {
		padding-bottom: 0;
	}
}

@media screen and (max-width: 693px) {
	.az li {
		width: 40px;
	}

	.spacing-loose .gutter .colum,
	.spacing-loose .guttered,
	.spacing-loose .halves.gutter .column.one,
	.spacing-loose .halves.gutter .column.two,
	.spacing-loose .halves.gutter .column:nth-of-type(2n+3),
	.spacing-loose .halves.gutter .column:nth-of-type(2n+4),
	.spacing-loose .margin-left.gutter .column.one,
	.spacing-loose .margin-left.gutter .column.two,
	.spacing-loose .margin-right.gutter .column.one,
	.spacing-loose .margin-right.gutter .column.two,
	.spacing-loose .quarters.gutter .column.four,
	.spacing-loose .quarters.gutter .column.one,
	.spacing-loose .quarters.gutter .column.three,
	.spacing-loose .quarters.gutter .column.two,
	.spacing-loose .quarters.gutter .column:nth-of-type(4n+5),
	.spacing-loose .quarters.gutter .column:nth-of-type(4n+6),
	.spacing-loose .quarters.gutter .column:nth-of-type(4n+7),
	.spacing-loose .quarters.gutter .column:nth-of-type(4n+8),
	.spacing-loose .side-left.gutter .column.one,
	.spacing-loose .side-left.gutter .column.two,
	.spacing-loose .side-right.gutter .column.one,
	.spacing-loose .side-right.gutter .column.two,
	.spacing-loose .single.gutter .column,
	.spacing-loose .thirds.gutter .column.one,
	.spacing-loose .thirds.gutter .column.three,
	.spacing-loose .thirds.gutter .column.two,
	.spacing-loose .thirds.gutter .column:nth-of-type(3n+4),
	.spacing-loose .thirds.gutter .column:nth-of-type(3n+5),
	.spacing-loose .thirds.gutter .column:nth-of-type(3n+6),
	.spacing-loose .triptych.gutter .column.one,
	.spacing-loose .triptych.gutter .column.three,
	.spacing-loose .triptych.gutter .column.two,
	.fluid .row.halves.photowall .column.two {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@media screen and (max-width: 550px) {
	.athletics ul {
		display: none;
	}

	.athletics img.athletics-logo {
		margin: 0 auto;
		float: none;
	}

	.athletics a {
		width: 100%;
		text-align: center;
		display: block;
	}

	.campusphoto,
	.phototwo {
		display: none;
	}

	.community-head,
	.life {
		display: none;
	}

	.features-container .wsu-home-headline-wrapper .headline-has-background {
		min-height: 400px;
	}

	.features-container .home-headline.headline-has-background > div {
		bottom: 15%;
		top: inherit;
	}

	.features-container h2 {
		font-size: 10vw;
	}

	.features-container .home-headline-nav,
	.home-subtitle,
	.fat-footer-menu {
		display: none;
	}
}

@media screen and (max-width: 900px){
	.fixedbg {
		background-attachment: scroll;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
	}
}
