@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot%3F281qd');
	src:url('fonts/icomoon.eot') format('embedded-opentype'),
		url('fonts/icomoon.woff%3F281qd') format('woff'),
		url('fonts/icomoon.ttf%3F281qd') format('truetype'),
		url('fonts/icomoon.svg%3F281qd') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
	content: "\e604";
}
.icon-search:before {
	content: "\f002";
}
.icon-circle:before {
	content: "\f111";
}
.icon-menu:before {
	content: "\e2af";
}
.icon-arrow-down:before {
	content: "\e600";
}
.icon-arrow-left:before {
	content: "\e602";
}
.icon-arrow-down:before {
	content: "\e600";
}
.icon-arrow-up:before {
	content: "\e601";
}
.icon-arrow-right:before {
	content: "\e603";
}
