/*
	Theme Name:  WebAssign
	Description: Custom child theme for the <a href="http://genesistheme.com">Genesis Framework</a>.
	Author:      Bill Erickson
	Author URI:  http://www.billerickson.net
	Version:     1.0.0
	License:     GPL-2.0+
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
	Template:    genesis
*/


/* HTML5 Reset
---------------------------------------------------------------------------------------------------- */

/* Baseline Normalize - normalize.css v2.1.2 | MIT License | git.io/normalize
--------------------------------------------- */

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

/* Box Sizing
--------------------------------------------- */

*,
input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

/* Float Clearing
--------------------------------------------- */

.clearfix:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.wrap:before {
	content: " ";
	display: table;
}

.clearfix:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.wrap:after {
	clear: both;
	content: " ";
	display: table;	
}


/* Defaults
---------------------------------------------------------------------------------------------------- */

/* Typographical Elements
--------------------------------------------- */

body {
	background-color: #fff;
	color: #444;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
	 -moz-font-feature-settings: "ss02";
    -ms-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
    -o-font-feature-settings: "ss02";
    font-feature-settings: "ss02";
}

.site-container { max-width: 100%; position: relative; overflow: hidden; }

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

::-moz-selection {
	background-color: #444;
	color: #fff;
}

::selection {
	background-color: #444;
	color: #fff;
}

a {
	color: #0b79bd;
	font-weight: 600;
	text-decoration: none;
}

a:hover {
	color: #00456d;
}

p {
	margin: 0 0 24px;
	padding: 0;
}

strong {
	font-weight: 700;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

blockquote {
	background: #f1f3f3;
	margin: 40px 0 24px;
	padding: 10px 15px;
	color: #444;
}

blockquote p {
	font-size: 18px;
	font-weight: 300;
}

blockquote p:last-of-type {
	margin: 0;
}

code,
pre {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 12px;
	color: #444;
	border: 1px solid #e1e1e8;
	background-color: #f7f7f9
}

code {
	padding: 2px 4px;
	white-space: nowrap;
}

pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	line-height: 18px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
}

pre code {
	padding: 0;
	color: inherit;
	white-space: pre;
	white-space: pre-wrap;
	background-color: transparent;
	border: 0;
}

cite {
	font-style: normal;
}

hr,
.clear-line {
	overflow: hidden;
	width: 100%;
	border: none;
	border-bottom: 1px solid #ccc;
	margin: 0 0 20px;
	padding: 20px 0 0;
}


/* Icons
--------------------------------------------- */

.entry-content ul li:before,
.footer-widgets .widget-area.footer-widgets-2 .widget h4:after, 
.footer-widgets .widget-area.footer-widgets-3 .widget h4:after, 
.footer-widgets .widget-area.footer-widgets-4 .widget h4:after {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333;
	line-height: 1.2;
	font-weight: 400;
	margin: 0 0 10px 0;
	padding: 0;
}
/* new styling
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a{ color:#333;
	border-bottom:1px solid #bbbbbb;
	display: inline;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover{
	color:#0b79bd;
}

*/


h1 {
	font-size: 26px;
	font-weight: 700;
	margin-bottom:20px;
	
}

h2 {
	font-size: 20px;
	font-weight: 700;
	
}

h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18.5px;
	font-weight: 700;
	letter-spacing: .01em;
	
}

h4 {
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	
}

h5 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	font-weight: 700;
	
}

h6 {
	font-size: 14px;
    font-weight: 400;
    line-height: 1.3em;
	
}






/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img {
	height: auto;
	max-width: 100%;
}

/* Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: #fff;
	border: 1px solid #959da0;
	color: #999;
	font-size: 14px;
	padding: 4px 5px;
	width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
	margin-right: 10px;
	width: auto;
}

input[type="search"],
input[type="submit"] {
	-webkit-appearance: none !important;  
	border-radius: 0 !important; 
	-webkit-border-radius:0 !important;
}

input:focus,
textarea:focus {
	border: 1px solid #0b79bd;
	outline: none;
}

.input-large {
	font-size: 18px;
	padding: 15px;
}

select.input-large {
	height: 54px;
	line-height: 54px;
	padding-top: 12px;
}

.input-small {
	font-size: 12px;
	padding: 5px 10px;
}

::-moz-placeholder {
	color: #999;
	opacity: 1;
}

:-ms-input-placeholder,
::-webkit-input-placeholder {
	color: #999;
}

input:focus::-webkit-input-placeholder,
input:focus::-moz-placeholder,
input:focus:-ms-input-placeholder,
textarea:focus::-webkit-input-placeholder,
textarea:focus::-moz-placeholder,
textarea:focus:-ms-input-placeholder { 
	color:transparent; 
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.button.button-invert:hover {
	background-color: #cc0000;
	border: 1px solid #aa0000;;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	font-size: 13px;
	padding: 5px 10px;
	text-transform: uppercase;
	text-decoration: none;
	width: auto;
	-webkit-appearance: none;
	font-weight: 700;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover,
.button.button-invert {
	background-color: #aa0000;
	color: #fff;
	text-decoration: none;
}

.entry-content .button:hover {
	color: #fff;
}

.button {
	display: inline-block;
}

.button.button-alt {
	background: #959da0;
	border-color: #959da0;
}

.button.button-alt:hover {
	background: #787e80;
	border-color: #787e80;
}

.button.button-blue {
	background: #0b79bd;
	border-color: #0b79bd;
}

.button.button-blue:hover {
	background: #00456d;
	border-color: #00456d;
}

.button.button-block {
	display: block;
	text-align: center;
	width: 100%;
}

.button.button-large {
	font-size: 28px;
	padding: 10px 20px;
}

.button.button-small {
	font-size: 13px;
	padding: 8px;
}

.button.button-mini {
	font-size: 11px;
	padding: 3px 8px;
	background-color: #0b79bd;
	border: 1px solid #0b79bd;
}

.button.button-mini:hover {
	background-color:#00456d;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}
.gform_wrapper td.gfield_list_cell.gfield_list_53_cell4{
	width:12%!important;
}

/* Search Form
--------------------------------------------- */

.search-form {
	width: 250px;
	max-width: 100%;
	padding-right: 36px;
	position: relative;
}

.search-form input[type="submit"] {
	background: #00456d url(images/icon-search.png) no-repeat center center;
	border: none;
	color: #fff;
	display: block;
	width: 32px;
	height: 28px;
	position: absolute;
	right: 0;
	top: 0;
}

.gsc-search-box .gsc-search-button  {
	background: #00456d url(images/icon-search.png) no-repeat center center;
	border: none;
	color: #fff;
	display: block;
	width: 32px;
	height: 28px;
}

.search-form input[type="submit"]:hover,
.gsc-search-box .gsc-search-button:hover {
	background: #142e3d url(images/icon-search.png) no-repeat center center;
}

.site-inner .gsib_a {
	padding: 0 5px;
}

.site-inner .gsc-selected-option-container {
	min-width: 68px;
}

/* Gallery
--------------------------------------------- */

.gallery {
    margin: auto;
}

.gallery-item {
    float: left;
    margin-top: 10px;
    text-align: center;
}

.gallery-columns-2 .gallery-item {
    width: 50%;
}
.gallery-columns-3 .gallery-item {
    width: 33%;
}
.gallery-columns-4 .gallery-item {
    width: 25%;
}
.gallery-columns-5 .gallery-item {
    width: 20%;
}
.gallery-columns-6 .gallery-item {
    width: 16.6666%;
}
.gallery-columns-7 .gallery-item {
    width: 14.2857%;
}
.gallery-columns-8 .gallery-item {
    width: 12.5%;
}
.gallery-columns-9 .gallery-item {
    width: 11.1111%;
}

.gallery img {
    border: 2px solid #cfcfcf;
}

.gallery-caption {
    margin-left: 0;
}

/* Tables
--------------------------------------------- */

table {
	max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
}

.table {
	width: 100%;
	margin-bottom: 20px;
}

.table th,
.table td {
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #ddd;
}

.table th {
	font-weight: bold;
}

.table thead th {
  vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
	border-top: 0;
}

.table tbody + tbody {
	border-top: 2px solid #ddd;
}

.table .table {
	background-color: #fff;
}

.table-condensed th,
.table-condensed td {
	padding: 4px 5px;
}

.table-bordered {
	border: 1px solid #ddd;
	border-collapse: separate;
	*border-collapse: collapse;
	border-left: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px solid #ddd;
}

.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
	border-top: 0;
}

.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child {
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
}

.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child {
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
}

.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child {
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
}

.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tbody:last-child tr:last-child > th:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > th:last-child {
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-right-radius: 0;
}

.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
}

.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
	background-color: #f9f9f9;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
	background-color: #f5f5f5;
}


/* Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* Site Containers
--------------------------------------------- */

.wrap {
	margin: 0 auto;
	padding: 0 10px;
	max-width: 1000px;
}

.site-inner {
	clear: both;
}

/* Column Widths and Positions
--------------------------------------------- */

/* Content */

.content {
	float: right;
	width: 74.489795918%; /* 730/980 */
}

.content-sidebar .content {
	float: left;
}

.full-width-content .content {
	width: 100%;
}

/* Primary Sidebar */

.sidebar-primary {
	float: right;
	width: 20.408163265%; /* 200/980 */
}

.sidebar-content .sidebar-primary {
	float: left;
}

/* Column Classes - Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css
--------------------------------------------- */

	
/* Column Classes
--------------------------------------------- */

.five-sixths,
.four-sixths,
.four-fifths,
.one-fifth,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-fifths,
.three-sixths,
.two-fourths,
.two-fifths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 4.3835616438356%;
}
 
.one-half,
.three-sixths,
.two-fourths {
	width: 47.808219178082%;
}
 
.one-third,
.two-sixths {
	width: 30.41095890411%;
}
 
.four-sixths,
.two-thirds {
	width: 65.205479452055%;
}
 
.one-fourth {
	width: 21.712328767123%;
}
 
.three-fourths {
	width: 73.904109589041%;
}
 
.one-fifth {
	width: 16.493150684932%;
}
 
.two-fifths {
	width: 37.369863013699%;
}
 
.three-fifths {
	width: 58.246575342466%;
}
 
.four-fifths {
	width: 79.123287671233%;
}
 
.one-sixth {
	width: 13.013698630137%;
}
 
.five-sixths {
	width: 82.602739726027%;
}
 
.first {
	clear: both;
	margin-left: 0;
}

.entry-content .one-fifth p {
	margin: 0;
}

.one-fifth img.alignnone {
	margin-bottom: 0;
}



/* Common Classes
---------------------------------------------------------------------------------------------------- */

/* WordPress
--------------------------------------------- */

.avatar {
	float: left;
}

.alignleft .avatar {
	margin-right: 24px;
}

.alignright .avatar {
	margin-left: 24px;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
}

img.alignnone {
	margin-bottom: 12px;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 24px 0;
}

img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 24px;
}

.wp-caption-text {
	font-size: 14px;
	font-weight: 700;
	text-align: center;
}

.gallery-caption {
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td {
	text-align: center;
}

/* Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	padding: 27px 0 20px;
}

.title-area {
	float: left;
	padding-top: 5px;
	width: 180px;
}

h1.site-title,
p.site-title {
	margin: 0;
}

.site-title a {
	background: url(images/logo.png) no-repeat;
	display: block;
	height: 32px;
	text-indent: -9999em;
	width: 180px;
}

.header-widget-area,
.nav-secondary {
	float: right;
	text-align: right;
	max-width: 975px;
}

/* Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
	clear: both;
	color: #999;
	line-height: 1.5;
	width: 100%;
}

.genesis-nav-menu .menu-item {
	float: left;
	list-style: none;
}

.genesis-nav-menu a {
	border: none;
	display: block;
	position: relative;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
}

.genesis-nav-menu .sub-menu .current-menu-item > a {
}

.genesis-nav-menu .sub-menu {
	border: 1px solid #959da0;
	left: -9999px;
	opacity: 0;
	position: absolute;
	text-align: left;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition:    opacity .4s ease-in-out;
	-ms-transition:     opacity .4s ease-in-out;
	-o-transition:      opacity .4s ease-in-out;
	transition:         opacity .4s ease-in-out;
	width: 202px;
	z-index: 99;
	-webkit-box-shadow: 1px 1px 2px 1px rgba(100,100,100,.3);
	box-shadow: 1px 1px 2px 1px rgba(100,100,100,.3);
}

.genesis-nav-menu .sub-menu a {
	background: #f1f3f3;
	border-top: 1px solid #ced0d0;
	font-size: 15px;
	padding: 10px 20px;
	position: relative;
	width: 200px;
}

.genesis-nav-menu .sub-menu .nav-arrow {
	position: absolute;
	display: block;
	width: 17px;
	height: 13px;
	background: url(images/nav-arrow.jpg) no-repeat;
	top: -13px;
	left: 21px;
}

.genesis-nav-menu .sub-menu > .menu-item:first-child > a {
	border-top: 0;
}

.genesis-nav-menu .sub-menu .sub-menu {
	margin: -54px 0 0 199px;
}

.genesis-nav-menu .sub-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu a:hover {
	background: #fff;
}

.genesis-nav-menu .menu-item:hover {
	position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

/* Primary Navigation
--------------------------------------------- */

.nav-header {
	padding-top: 7px;
}

.nav-header .genesis-nav-menu > .menu-item {
	border-top: 4px solid #fff;
}

.nav-header .genesis-nav-menu > .menu-item > a {
	color: #444;
	font-size: 15px;
	font-weight: 700;
	padding: 3px 16px 15px;
	text-transform: uppercase;
}

.nav-header .genesis-nav-menu .menu-item-has-children > a:after {
	background: url(images/down-arrow.svg);
	background-size: 14px 7px;
	content: '';
	display: inline-block;
	height: 7px;
	margin-left: 8px;
	width: 14px;
}

.nav-header .genesis-nav-menu .menu-item:hover,
.nav-header .genesis-nav-menu .current-menu-item,
.nav-header .genesis-nav-menu .submenu-open {
	border-top-color: #cc0000;
	position: static;
}

.nav-header .genesis-nav-menu .menu-item.search:hover {
	border-top-color: transparent;
}

.nav-header .genesis-nav-menu .menu-item-has-children.submenu-open > a:after {
	content: "\e601";
}

.nav-header .genesis-nav-menu .menu-item.submenu-open > .sub-menu {
	left: auto;
	opacity: 1;
}

.nav-header .genesis-nav-menu .sub-menu a {
	color: #444;
	font-weight: 400;
}

.nav-header .genesis-nav-menu .menu-item.search {
	float: right;
}

.nav-header .menu-item.login > a {
	background: #cc0000;
	color: #fff;
}

/* Secondary Navigation
--------------------------------------------- */

.nav-secondary {
	font-size: 13px;
	margin-bottom: 30px;
	text-align: right;
}

.nav-secondary .genesis-nav-menu .menu-item {
	float: none;
	display: inline-block;
	padding: 0 10px;
}

.nav-secondary .genesis-nav-menu .menu-item:first-child {
	border-right: 1px solid #0b79bd;
	padding-left: 0;
}

.nav-secondary .genesis-nav-menu .menu-item.login,
.nav-secondary .genesis-nav-menu .menu-item.class-key {
	padding: 0;
}

.nav-secondary .genesis-nav-menu .menu-item.login > a,
.nav-secondary .genesis-nav-menu .menu-item.class-key > a {
	background: #cc0000;
	border: 1px solid #aa0000;
	color: #fff;
	text-transform: uppercase;
	padding: 6px 15px	;
	font-weight:700;
}

.nav-secondary .genesis-nav-menu .menu-item.login > a:hover,
.nav-secondary .genesis-nav-menu .menu-item.login.current-menu-item > a {
	background: #aa0000;
}

.nav-secondary .genesis-nav-menu .menu-item.class-key > a {
	background-color: #959da0;
	border-color: #383e44;
}

.nav-secondary .genesis-nav-menu .menu-item.class-key > a:hover,
.nav-secondary .genesis-nav-menu .menu-item.class-key.current-menu-item > a {
	background: #383e44;
}

/* Content Area
---------------------------------------------------------------------------------------------------- */

.site-inner > .wrap {
	padding-bottom: 50px;
}

/* Maintenance Alert
--------------------------------------------- */

.maintenance-alert {
	background: #ffcc00;
	padding: 20px 0;
}
.maintenance-alert-blue {
	background: #0b79bd;
	padding: 20px 0;
}

.maintenance-alert p {
	text-align: center;
	font-size: 18px;
	font-weight: 700;
}
.maintenance-alert-blue p {
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
}

.maintenance-alert-blue p a{
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
	text-decoration: underline;
}
.maintenance-alert-blue p a:hover{
	color: #cccece;
	text-decoration:underline;
}
.maintenance-alert .wrap p:last-child {
	margin: 0;
}
.maintenance-alert-blue .wrap p:last-child {
	margin: 0;
}


/* Breadcrumbs
--------------------------------------------- */

.breadcrumb {
	font-size: 12px;
	padding-bottom: 50px;
}

.breadcrumb a {
	color: #444;
	font-weight: 400;
}

.breadcrumb a:hover {
	color: #cc0000;
	text-decoration: underline;
}


/* Gravity Forms
--------------------------------------------- */

.entry-content .gform_wrapper input[type=text],
.entry-content .gform_wrapper input[type=email],
.entry-content .gform_wrapper select {
	font-style: italic;
	padding: 5px;
	margin-bottom: 8px;
}

.entry-content .gform_wrapper .gfield_radio li {
	display: inline-block;
	margin-right: 20px;
}



/* Entries
--------------------------------------------- */

.entry {
	margin-bottom: 40px;
}

.entry-content .attachment a,
.entry-content .gallery a {
	border: none;
}

.entry-content ol,
.entry-content p,
.entry-content ul,
.quote-caption {
	margin-bottom: 26px;
}

.entry-content ol,
.entry-content ul ul {
	margin-left: 20px;
}

.entry-content .gform_wrapper ul.gform_fields {
	margin: 0 0 30px;
}

.entry-content ol li {
	list-style-type: decimal;
}

.entry-content ol ol li {
	list-style-type: lower-alpha;
}

.entry-content ol ol ol li {
	list-style-type: lower-roman;
}

.entry-content ul li {
	list-style-type: disc;
	margin-bottom: 5px;
	margin-left: 18px;
}
/* REDBULLET
.entry-content ul li:before {
	color: #aa0000;
	content: "\f111";
	display: inline-block;
	font-size: 8px;
	padding-right: 4px;
	vertical-align: middle;
}
--------------------------------------------- */


.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-content ul.list-unstyled,
.entry-content ol.list-unstyled {
	margin-left: 0;
}

.entry-content ul.list-unstyled > li,
.entry-content ol.list-unstyled > li,
.entry-content .gform_wrapper ul li {
	list-style: none;
}

.entry-content ul.list-unstyled li:before {
	display: none;
}

.entry-meta {
	clear: both;
	font-size: 14px;
}

.entry-header .entry-meta {
	margin-bottom: 24px;
}
.entry-header{
	margin-top:-7px;
}


/* Entry Navigation
--------------------------------------------- */

.pagination {
	clear: both;
	font-size: 14px;
	margin: 40px 0;
}

.pagination li {
	display: inline;
}

.pagination li a {
	background-color: #444;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 8px 12px;
}

.pagination li a:hover,
.pagination li.active a {
	background-color: #f15123;
}

/* Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
	background-color: #fff;
	margin-bottom: 40px;
}

.entry-comments .comment-author {
	margin-bottom: 0;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%
}

.comment-respond label {
	display: block;
	margin-right: 12px;
}

.comment-respond label[for="subscribe"] {
	display: inline-block;
}

.comment-list li,
.ping-list li {
	list-style-type: none;
}

.comment-list li {
	margin-top: 24px;
	padding: 32px;
}

li.comment {
	background-color: #f5f5f5;
	border: 2px solid #fff;
	border-right: none;
}

.comment .avatar {
	margin: 0 16px 24px 0;
}

.entry-pings .reply {
	display: none;
}

.bypostauthor {
}

.form-allowed-tags {
	background-color: #f5f5f5;
	font-size: 14px;
	padding: 24px;
}


/* Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar .widget {
	margin-bottom: 40px;
}

.sidebar h4 {
	font-size: 14px;
	font-weight: 600;
	letter-spacing:.03em;
	margin: 0;
	padding: 7px 0;
}

.sidebar h4 a {
	color: #444;
	font-weight: bold;
}


/* Widgets
---------------------------------------------------------------------------------------------------- */

/* Subpages Widget
--------------------------------------------- */

.widget_subpages h4,
.sidebar .widget_static_subpages h4 {
	border-top: 1px solid #cccece;
}

.sidebar .widget_subpages ul,
.sidebar .widget_nav_menu ul,
.sidebar .widget_static_subpages ul {
	list-style-type: none;
}

.sidebar .widget_subpages ul li,
.sidebar .widget_nav_menu ul li,
.sidebar .widget_static_subpages ul li {
	border-top: 1px solid #cccece;
	font-size: 12px;
	font-weight: 700;
	padding: 7px 15px;
}

.sidebar .widget_subpages .widget-wrap > ul,
.sidebar .widget_static_subpages .widget-wrap > ul,
.sidebar .widget_nav_menu ul.menu {
	border-bottom: 1px solid #cccece;
}

.sidebar .widget_subpages .widget-wrap > ul > li:hover,
.sidebar .widget_static_subpages .widget-wrap > ul > li:hover,
.sidebar .widget_nav_menu ul.menu > li:hover {
	background: #e3e7e7;
}

.sidebar .widget_subpages a,
.sidebar .widget_static_subpages a,
.sidebar .widget_nav_menu a {
	font-weight: 700;
	color: #444;
}

.sidebar .widget_subpages h4 a,
.sidebar .widget_static_subpages h4 a {
	font-weight: 600;
	border:none;
}

.sidebar .widget_subpages a:hover,
.sidebar .widget_static_subpages a:hover,
.sidebar .widget_nav_menu a:hover {
	color: #00456d;
}

.sidebar .widget_subpages .menu-has-children,
.sidebar .widget_subpages .widget-wrap > ul > li.widget_subpages_current_page,
.sidebar .widget_subpages .widget-wrap > ul > li.menu-has-children:hover,
.sidebar .widget_static_subpages .menu-has-children,
.sidebar .widget_static_subpages .widget-wrap > ul > li.widget_subpages_current_page,
.sidebar .widget_static_subpages .widget-wrap > ul > li.menu-has-children:hover,
.sidebar .single-jobs .widget_subpages .widget-wrap > ul > li.menu-item-56,
.sidebar .widget_nav_menu ul.menu > li.current-menu-item {
	background: #f1f3f3;
}

.sidebar .widget_subpages ul ul li,
.sidebar .widget_static_subpages ul ul li,
.sidebar .widget_nav_menu ul ul li {
	border-top: 0;
	font-size: 11x;
}

.sidebar .widget_subpages ul ul li > a,
.sidebar .widget_static_subpages ul ul li > a,
.sidebar .widget_nav_menu ul ul li > a {
	font-weight: 600;
}

.sidebar .widget_subpages ul ul li > a:hover,
.sidebar .widget_static_subpages ul ul li > a:hover,
.sidebar .widget_nav_menu ul ul li > a:hover {
	font-weight: 600;
	color: #00456d;
	text-decoration:underline;
}

.sidebar .widget_subpages ul ul li.widget_subpages_current_page > a,
.sidebar .widget_static_subpages ul ul li.widget_subpages_current_page > a,
.sidebar .widget_nav_menu ul ul li.current-menu-item > a {
	color: #00456d;
	font-weight: 600;
}

/* WP Address Schema
---------------------------------------------------------------------------------------------------- */
 
ul.wp-address-schema li,
.entry-content ul.wp-address-schema li {
	list-style-type: none;
	padding-bottom: 0;
}
 
.wp-address-schema .address_locality,
.wp-address-schema .address_region,
.wp-address-schema .postal_code {
	display: inline;
	padding-right: 4px;
}
 
.wp-address-schema .address_locality:after {
	content: ',';
}

/* CTA Widget
--------------------------------------------- */

.widget-cta {
	background: #f1f3f3;
	padding: 15px;
}

.widget-cta p {
	font-size: 13px;
	line-height: 1.461538462;
	margin-bottom: 10px;
}

.widget-cta p:last-child {
	margin: 0;
}

.widget-cta p .button {
	font-size: 14px;
	font-weight: 600;
}

/* Testimonial Widget
--------------------------------------------- */

.sidebar blockquote {
	background: transparent;
	padding: 0;
	margin: 10px 0;
}

.sidebar .quote-byline {
	font-size: 11px;
	font-weight: 600;
	margin: 0 0 10px;
	text-align: right;
}

.sidebar .quote-byline strong {
	font-weight: 700;
}

.sidebar .widget-testimonial .testimonial {
	border-bottom: 1px solid #cccece;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.sidebar .widget-testimonial .testimonial:last-child {
	border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

/* Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
	background: #f1f3f3;
	border-top: 3px solid #cccece;
	border-bottom: 1px solid #cccece;
}

.footer-widgets .widget-area {
	float: left;
	padding: 25px;
	min-height: 260px;
}

.footer-widgets .widget-area.footer-widgets-1 {
	border-right: 1px solid #cccece;
	font-size: 12px;
	font-weight: 600;
	padding-left: 0;
	padding-right: 10px;
	width: 14.285714286%; /* 140/980 */
}

.footer-widgets .widget-area.footer-widgets-1 a{
	font-size: 12px;
	font-weight: 600;
	padding-left: 0;
	padding-right: 10px;
	width: 14.285714286%; /* 140/980 */
}

.footer-widgets .widget-area.footer-widgets-2,
.footer-widgets .widget-area.footer-widgets-3,
.footer-widgets .widget-area.footer-widgets-4 {
	width: 17.006802721%;
}

.footer-widgets .widget-area.footer-widgets-4 {
	padding-right: 0;
}

.footer-widgets .widget-area.footer-widgets-5 {
	border-left: 1px solid #cccece;
	padding-right: 0;
	width: 34.693877551%;
}

.footer-widgets .widget-area p,
.footer-widgets .widget-area .widget {
	margin-bottom: 15px;
}

.footer-widgets .widget-area .widget:last-child {
	margin-bottom: 0;
}

.footer-widgets h4,
.footer-widgets h4 a {
	color: #444;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: .02em;
	margin-bottom: 10px;
}

.footer-widgets .footer-widgets-5 h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: normal;
}

.footer-widgets ul {
	list-style-type: none;
}

.footer-widgets li a {
	color: #444;
	font-size: 13px;
	font-weight: 400;
}

.footer-widgets li a:hover {
	color: #0b79bd;
}

.footer-widgets .simple-social-icons ul li {
	margin: 0 0 0 7px !important;
}

.footer-widgets .simple-social-icons ul li:first-child {
	margin-left: 0 !important;
}

.simple-social-icons ul li.social-facebook a:hover {
	background: #00456d !important;
}

.simple-social-icons ul li.social-linkedin a:hover {
	background: #0b79bd !important;
}

.simple-social-icons ul li.social-twitter a:hover {
	background: #99e2f7 !important;
}

.simple-social-icons ul li.social-youtube a:hover {
	background: #cc0000 !important;
}

.simple-social-icons ul li.social-youtube img {
	fill: #fff !important;
}

/* Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	font-size: 9px;
	padding: 20px 0;
	text-align: center;
}

/* Events
---------------------------------------------------------------------------------------------------- */

.entry.type-events .entry-header {
	margin-bottom: 20px;
}

.entry.type-events .entry-header h2 {
	margin-bottom: 5px;
}

.entry.type-events .entry-header p,
.event-details p {
	font-size: 14px;
	font-weight: 600;
	line-height: 1.428571429;
	margin: 0;
}

.entry.type-events .entry-header h2.entry-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	font-weight: 700;
}

/* Jobs
---------------------------------------------------------------------------------------------------- */

.tax-box {
	border-top: 1px solid #cccece;
	padding-top: 10px;
}

.tax-listing .tax-box:last-child {
	border-bottom: 1px solid #cccece;
}

.tax-box h5 {
	margin-bottom: 6px;
}

.tax-box h6 {
	margin-bottom: 5px;
	font-size:16px;
	font-weight: 700;
}

/* FAQs
---------------------------------------------------------------------------------------------------- */

.faq-cat-listing {
	border-bottom: 1px solid #cccece;
	padding-bottom: 20px;
}

.faq-section {
	margin-bottom: 40px;
}

.faq {
	min-height: 20px;
/*	padding-left: 24px; */
	position: relative;
}

.faq .question {
	cursor: pointer;
	font-weight: 600;
	margin: 0;
}

.faq .question {
	color: #0b79bd;
}

.faq .question:hover,
.faq.open .question {
	color: #00456d;
}

.faq-search {
	background: #f1f3f3;
	border: 1px solid #cccece;
	padding: 15px;
}


/* Partners
---------------------------------------------------------------------------------------------------- */

.partner-logos {
	line-height: 70px;
	text-align: center;
}

.partner-logos .one-fifth {
	padding: 15px 5px;
}

.partner-logos img {
	vertical-align: middle;
}


/* Landing Page
---------------------------------------------------------------------------------------------------- */

.page-template-template-landing-php .page-header {
	border-bottom: 3px solid #fff;
}

.page-template-template-landing-php .breadcrumb-wrapper {
	background: #fff;
	background: rgba( 255, 255, 255, .6 );
	margin-bottom: 90px;
}

.page-template-template-landing-php .breadcrumb {
	padding: 6px 0;
}

.page-template-template-landing-php .page-header h1 {
	font-size: 44px;
	font-weight: 400;
}

.page-template-template-landing-php .page-header.light h1 {
	color: #fff;
}

.landing-bar {
	background: #333333;
	padding: 10px 0;
}

.landing-bar .right {
	float: right;
}

.landing-bar .button {
	margin-left: 20px;
}

.landing-bar .mobile-show {
	color: #fff;
	font-size: 26px;
	float: left;
}

.landing-bar.fixed {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}

.logged-in .landing-bar.fixed {
	top: 32px;
}

.landing-section {
	padding-bottom: 90px;
}

.landing-section.first {
	padding: 60px 0 30px;
}

.landing-section .wrap {
	max-width: 725px;
}

.landing-section h2 {
	background: url(images/grey-line.jpg) repeat-x center center;
	font-size: 26px;
	margin-bottom: 30px;
	text-align: center;
}

.landing-section h2 span {
	background: #fff;
	padding: 0 17px;
}

.landing-section .overview-content {
	-webkit-column-count:2; /* Chrome, Safari, Opera */
	-moz-column-count:2; /* Firefox */
	column-count:2;
}

.landing-section.numbers {
	background: #f1f3f3;
	padding: 12px 0;
	margin-bottom: 70px;
}

.landing-section .overview-data {
}

.landing-section .overview-data .item {
	border-left: 1px solid #cecece;
	float: left;
	text-align: center;
	margin: 0;
	width: 33.3333%;
}

.landing-section .overview-data .item:first-child {
	border-left: 0;
}

.landing-section .overview-data .value {
	color: #444;
	display: block;
	font-size: 26px;
	font-weight: 300;
}


.landing-section.tools {
	text-align: center;
	padding-bottom: 20px;
}

.landing-section.tools img {
	margin-bottom: 10px;
	max-width: 70%;
}

.landing-section.resources h4 a {
	color: #444;
}

.landing-section.resources .has-icon {
	position: relative;
	padding-left: 73px;
	min-height: 56px;
}

.landing-section.resources .has-icon .attachment-be_icon {
	position: absolute;
	top: 0;
	left: 0;
}

.landing-section.features {
	background: #f1f3f3;
	padding: 40px 0;
	margin-bottom: 70px;
}

.landing-section.features .wrap {
	max-width: 1000px;
}

.landing-section.features .feature {
	border-left: 1px solid #cccece;
	float: left;
	width: 20%;
	padding: 0 18px;
}

.landing-section.features .feature.first {
	border-left: 0;
}

.landing-section.features p {
	font-size: 13px;
}

.landing-section.features p:last-child {
	margin: 0;
}

/* New Textbooks
---------------------------------------------------------------------------------------------------- */

.textbook-listing h2 {
	border-top: 1px solid #cccece;
	padding: 8px 0 0;
	margin: 38px 0 35px;
}

.textbook-listing h4 {
	margin: 20px 0;
}

.textbook-listing h5 a {
	color: #333;
}

.textbook-listing h5 a:hover {
	color: #0b79bd;
}

.textbook-listing .textbook {
	float: left;
	padding-bottom: 20px;
	margin-left: 2.197802198%; /* 16/728 */
	width: 48.901098901%; /* 356/728 */
}

.textbook-listing .textbook.first {
	margin-left: 0;
}

.textbook-listing .cover {
	float: left;
	width: 31.460674157%; /* 112/356 */
}

.textbook-listing .cover img {
	display: block;
	border: 1px solid #cccece;
}

.textbook-listing .summary {
	float: left;
	margin-left: 3.651685393%; /* 13/356 */
	width: 64.887640449%; /* 231/356 */
}

.textbook-listing .available {
	color: #aa0000;
	font-size: 13px;
	font-weight: 600;
}

/* Collapse
---------------------------------------------------------------------------------------------------- */


.collapse-nav {
	border-bottom: 1px solid #cccece;
	padding-bottom: 20px;
}

.entry-content .collapse-nav li {
	list-style-type: none;
	margin-left:0
}
/*.entry-content .collapse-nav li:before {
	display: none;
}
---------------------------------------------------------------------------------------------------- */

.collapse-section {
	margin-bottom: 30px;
}

.collapse-section h4 {
	margin-bottom: 20px;
}

.collapse-section h6 {
	cursor: pointer;
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 20px;
	padding-left: 22px;
	text-indent: -22px;
	line-height: 1.6em;
}

.collapse-section .arrow {
	display: inline-block;
	width: 14px;
	height: 7px;
	background: url(images/arrow-blue.png) no-repeat;
	background-size: 14px 7px;
	vertical-align: middle;
	margin-right: 5px;
}

.collapse-section .active .arrow {
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);	
}

.collapse-box-content {
	display: none;
}

/* Resources Page
---------------------------------------------------------------------------------------------------- */
.resource-card{
	border:1px solid #c8cece;
	margin-bottom:30px;
}
.resource-inner{
	padding:20px;
}
.resource-label{
	font-size:14px;
	text-transform:uppercase;
	font-weight:700;
	color:#959da0;
	margin-bottom:12px;
	
}
.resource-inner h4{
	font-weight:700;
	font-size:17px;
}


/* Homepage
---------------------------------------------------------------------------------------------------- */

.home-rotator {
	background: #cccece;
	border-bottom: 1px solid #cccece;
	position: relative;
}

.home-rotator .wrap {
	padding: 0;
	max-width: 1500px;
}

.caption-wrapper {
	position: absolute;
	max-width: 980px;
	margin: 0 auto;
	top: 0;
	display: block;
}

.home-about {
	padding: 70px 0;
}

.home-about .wrap {
	max-width: 770px;
}

.home-about .wrap > p {
	text-align: center;
}

.home-about .wrap > p strong {
	color: #cc0000;
}

.home-about-boxes {
	max-width: 810px;
	margin: 0 auto;
}

.home-about-boxes > a {
	background: #f1f3f3;
	border-top: 6px solid #f1f3f3;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 14px;
	font-weight: 400;
	color: #444;
	min-height: 160px;
	padding: 11px 15px 15px;
	text-align: center;
	margin-left: 3.333333333%; /* 27/810 */
	width: 31.111111111%; /* 252/810 */
}

.home-about-boxes a .title {
	display: block;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
}

.home-about-boxes a .desc {
	display: block;
	padding: 5px 0 10px;
}

.home-about-boxes a.box-0 {
	margin-left: 0;
}

.home-about-boxes > a:hover {
	background: #ffffff;
	border-top: 6px solid #cc0000;
}

.home-spotlight h2,
.home-partners h2,
.home-featured h2 {
	background: url(images/grey-line.jpg) repeat-x center center;
	font-size: 26px;
	margin-bottom: 30px;
	text-align: center;
}

.home-spotlight h2 > span,
.home-partners h2 > span,
.home-featured h2 > span {
	background: #fff;
	padding: 0 17px;
}

.home-spotlight .one-third {
	margin-left: 2.857142857%; /* 28/980 */
	width: 31.428571429%;
}

.home-spotlight .one-third.first {
	margin-left: 0;
}

.home-spotlight img {
	margin-bottom: 10px;
}

.home-spotlight,
.home-partners,
.home-featured {
	padding-bottom: 70px;
}

.home-spotlight p {
	margin: 0 0 5px;
}

.home-spotlight a {
	text-transform: uppercase;
	font-weight:700;
}

.home-partners {
	text-align: center;
}

.home-partners .partner {
	display: inline-block;
	vertical-align: middle;
	width: 80px;
	margin: 15px;
}

.featured-after {
	text-align: center;
}

/* Search Results
---------------------------------------------------------------------------------------------------- */

.search-results .sidebar {
	background: #f1f3f3;
	border: 1px solid #cccece;
	padding: 16px;
	width: 22.857142857%; /* 224/980 */
}

.search-results .sidebar h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: normal;
	text-transform: uppercase;
}

.search-results .sidebar li {
	list-style-type: none;
}

.search-results .sidebar .gform_description {
	display: block;
	margin-bottom: 15px;
}

.search-results .sidebar input[type="email"],
.search-results .sidebar textarea {
	font-size: 12px;
	margin-bottom: 20px;
	padding: 8px;
}

.search-results .sidebar p {
	font-size: 13px;
	margin-bottom: 10px;
}

.search-results .sidebar .widget:last-child {
	margin: 0;
}

/* Display Posts Shortcode
---------------------------------------------------------------------------------------------------- */

.entry-content .display-posts-listing li:before {
	display: none;
}

.display-posts-listing a {
	color: #333333;
}

.display-posts-listing a:hover {
	color: #0b79bd;
}

.display-posts-listing .date {
	font-size: 12px;
	font-weight: 400;
}


/* Flexslider
---------------------------------------------------------------------------------------------------- */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Styling
*********************************/
.flexslider { zoom:1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

.flexslider .slide-caption { width: 290px; position: absolute; top: 10px; left: 60px; padding: 20px;} 
.flexslider .slide-caption h2 { font-size: 34px; margin-bottom: 10px; line-height:1.1em;}
.flexslider .slide-caption h2 a { color: #444; font-weight:700;}
.flexslider .slide-caption p { font-size: 17px; line-height: 1.5; margin-bottom: 10px;}
.flexslider .slide-caption p:last-child { margin: 0;}
.flexslider .slide-caption.white-bg h2,
.flexslider .slide-caption.white-bg h2 a,
.flexslider .slide-caption.white-bg p { color: #fff;}

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { display: block; width: 56px; padding: 0 0 0 27px; height: 56px; background: #959da0; background: rgba( 149, 157, 160, .7 ); border-radius: 50%; color: #fff; font-size: 32px; text-align: center; position: absolute; left: -27px; top: 50%; margin-top: -28px; z-index: 9;}
.flex-direction-nav a.flex-next { left: auto; padding: 0 27px 0 0; right: -27px; text-align: center;}
.flex-direction-nav a:before  { content: ''; display: inline-block; background: url(images/left-arrow.svg); background-size: 10px 20px; width: 10px; height: 20px; margin: -25px 10px 0 0;}
.flex-direction-nav a.flex-next:before  { background: url(images/right-arrow.svg); background-size: 10px 20px; margin: 0;}


/* Control Nav */
.flex-control-nav {position: absolute; text-align: center; z-index: 99; bottom: -18px; width: 100%; max-width: 1500px; }
.flex-control-nav li {margin: 0 4px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 17px; height: 17px; display: inline-block; background: #959da0; cursor: pointer; text-indent: -9999px; border-radius: 50%; border: 2px solid #fff; }
.flex-control-paging li a:hover { background: #656a6c; }
.flex-control-paging li a.flex-active { background: #cc0000; cursor: default; }

.home-featured { position:relative; }
.featured-content-rotator { position:relative; overflow: hidden; padding: 0 60px; }
.featured-content-rotator .item { float:left; display:inline; width: 140px; padding-bottom: 25px; margin: 0 14px;  }
.featured-content-rotator .item .text-box { max-width: 140px; }
.featured-content-rotator .item .author { margin-bottom:5px; padding-bottom:0;  font: 700 16px/20px 'Open Sans Condensed', arial, sans-serif; color:#444; }
.featured-content-rotator .item .title { font-size:13px; font-weight:400; line-height:19px; }
.featured-content-rotator .item .coded { font: 600 13px/17px "Open Sans condensed", arial, sans-serif; }
.featured-content-rotator .item p { margin-bottom:5px;  }
.featured-content-rotator .item img { border:1px solid #cccece; }
.featured-content-rotator .flex-direction-nav a { border-radius: 0;}
.featured-content-rotator .flex-direction-nav .flex-prev { left: 20px; top: 70px; width: 22px; height:44px; background: url(images/flex-arrow-prev.png) no-repeat 0 0; font-size: 0; line-height: 0; text-indent: -4000px; }
.featured-content-rotator .flex-direction-nav .flex-next { right: 20px; top: 70px; width: 22px; height:44px; background: url(images/flex-arrow-next.png) no-repeat 0 0; font-size: 0; line-height: 0; text-indent: -4000px; }


/* System Reports
---------------------------------------------------------------------------------------------------- */

.system-report-legend {
	width: 100%;
	margin: 15px auto 50px auto;
	padding: 5px 5px 2px 5px;
	background: #EEE;
}

.system-report-legend p,
.recent-system-reports p {
	margin-bottom: 0;
}

.recent-system-reports .entry {
	padding-bottom: 20px;
	border-bottom: 1px solid #DDD;
}

.recent-system-reports .system-report-title {
	margin-bottom: 10px;
}

.system-report-legend img {
	width: 32px;
	height: 32px;
}

.system-report-legend ul,
.recent-system-reports ul {
	display:table-row;
	list-style-type: none;
}

.system-report-legend ul li,
.recent-system-reports ul li {
	display: table-cell;
	vertical-align: middle;
}

.system-report-legend ul li:before,
.recent-system-reports ul li:before {
	display: none;
}

.system-report-legend ul li:not(:first-child) {
	padding-left: 10px;
}

.system-report-legend ul li:nth-child(3),
.system-report-legend ul li:nth-child(5) {
	padding-left: 25px;
}

.recent-system-reports ul li h4 {
	text-transform: none;
margin-bottom:5px;
}

.recent-system-reports ul li:first-child img {
	width: 32px;
	height: 32px;
	margin-right: 10px;
}

.system-report-title {
	font-size: 15px;
}

.system-report-meta-data ul li span {
	font-size: 13px;
}

.system-report-meta-data{
margin-bottom:10px;
}

.status-indicator{
margin-top:30px;
font-size:14px;
}

/* Dev Math page
---------------------------------------------------------------------------------------------------- */
.dev-wrapper{
	border-bottom:1px solid #c8cece;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
 	align-items: center;
	overflow: hidden;
	width: 100%;
	margin-bottom: 60px;
}

.dev-wrapper.alt {
   -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
	flex-direction: row-reverse;
}

.dev-wrapper.title{
	background-color:#f1f3f3;
	margin-bottom:30px;
}
.dev-summary.title{
padding:70px 0 0;
}

.dev-summary,
.dev-image{
	width: 47.263681592%;
}

.dev-wrapper.alt .dev-summary {
	margin: 0 5.472636816% 0 0;
}
.dev-wrapper .dev-summary {
	margin: 0 0 0 5.472636816%;
}
	
.dev-image{
	margin-bottom:-6px;
}

.dev-action{
	background-color:#f1f3f3;
	padding:60px 130px 34px;
	text-align:center;
}
.dev-action h1 {
	
	font-weight:300;
	font-size:42px;
	margin-bottom:18px;
}
.dev-action .button {
	padding:10px 20px;
	font-size:16px;
}
.dev-action p{
	font-weight:600;
	font-size:16px;
}
  


/* Media Queries
---------------------------------------------------------------------------------------------------- */

.hidden { display: none;}

@media only print {
	
	.site-header .mobile,
	.nav-header,
	.nav-secondary,
	.footer-widgets-2,
	.footer-widgets-3,
	.footer-widgets-4,
	.footer-widgets-5,
	.sidebar {
		display: none;
	}
	
	.footer-widgets .widget-area.footer-widgets-1 {
		border: none;
		text-align: center;
		min-height: 0;
		width: 100%;
	}
	
	.content {
		width: 100%;
	}
	
	.breadcrumb {
		padding-bottom: 10px;
	}
}

@media only screen and (min-width: 768px){
	#menu-primary > li { display:block !important;  }
	#menu-primary > li ul { display:block !important; }
	#menu-primary .mobile-extra li.search { display:none !important; }
}

@media only screen and (min-width: 767px) {

	.mobile-show,
	.mobile-slide {
		display: none;
	}
	
	.site-header .mobile {
		display: none;
	}

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-moz-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min-device-pixel-ratio: 1.5) {

	.site-title a {
		background: url(images/logo@2x.png) no-repeat left;
		background-size: 180px 32px;
	}

}

@media only screen and (max-width: 980px ) {

	.footer-widgets .widget-area {
		min-height: 0;	
	}

	.footer-widgets .widget-area.footer-widgets-1 {
		padding-bottom: 40px;
	}	
	
	.footer-widgets .widget-area.footer-widgets-5 {
		border: none;
		border-top: 1px solid #cccece;
		float: none;
		overflow: hidden;
		width: 100%;
	}

	.footer-widgets .widget-area.footer-widgets-5 .widget {
		margin: 0 auto;
	}
	
	.footer-widgets .footer-widgets-5 form p {
		float: left;
		padding-right: 20px;
		width: 33.3333%;
	}
	
	.footer-widgets .widget-area.footer-widgets-1,
	.footer-widgets .widget-area.footer-widgets-2, 
	.footer-widgets .widget-area.footer-widgets-3, 
	.footer-widgets .widget-area.footer-widgets-4 {
		width: 25%;
	}
	
	.slide-caption .button,
	.flex-control-nav {
		display: none;
	}
	
	.flexslider .slide-caption {
		left: -10px;
	}
	
	.flex-direction-nav a {
		top: auto;
		bottom: -28px;
	}
	
	.page-template-template-landing-php .page-header {
		background-position: right center !important;
	}
}

@media only screen and (max-width: 880px) and (min-width: 767px) {

	.site-container {
		position: relative;
	}
	
	.title-area {
		position: absolute;
		top: 20px;
	}
	
	.genesis-nav-menu .menu-item .search-form {
		width: 160px;
	}
	.nav-header .genesis-nav-menu > .menu-item > a {
		padding: 3px 9px 15px;
}

}

@media only screen and (max-width: 767px) {
.dev-wrapper{
		display: block;
		max-width: 381px;
		margin: 0 auto 60px;
		border-bottom:none;
	}
	.dev-summary,
	.dev-image,
	.dev-wrapper .alt .dev-summary{
		float: none;
		width: 100%;
		margin: 0 auto 30px;
		
	}
	.dev-summary.title{
		padding:30px 10px 0;
		margin:0 
}
.dev-action{
	padding:60px 15px 34px;
}


	.flexslider {
		display: none;
	}
	
	.mobile-slide {
		display: block;
	}

	.content,
	.sidebar-primary,
	.footer-widgets .widget-area,
	.home-spotlight .one-third,
	.landing-section.features .feature,
	.five-sixths,
	.four-fifths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-fifth,
	.one-sixth,
	.one-third,
	.three-fifths,
	.three-fourths,
	.three-sixths,
	.two-fifths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}
	.one-fourth.discipline{
	max-width:70%;
	margin-bottom:25px;
}
	
	.nav-secondary,
	.mobile-hide,
	.genesis-nav-menu .sub-menu .nav-arrow,
	.sidebar-primary,
	.footer-widgets .footer-widgets-1,
	.page-template-template-landing-php .breadcrumb-wrapper,
	.page-template-template-landing-php .page-header h1  {
		display: none;
	}
	
	.title-area {
		padding: 0 0 0 10px;
	}
	
	.logged-in .landing-bar.fixed {
		top: 0;	
	}
	
	.page-template-template-landing-php .page-header {
		height: 160px;
	}
	
	.landing-bar .right {
		padding-top: 5px;
	}

	.landing-section.tools img {
		max-width: 40%;
	}
	
	.landing-section .overview-content {
	-webkit-column-count:1; /* Chrome, Safari, Opera */
	-moz-column-count:1; /* Firefox */
	column-count:1;
	}
	
	.landing-section.first {
		padding-top: 30px;
	}
	
	.landing-section .overview-data {
		margin-top: 0px;
	}
	
	.landing-section .overview-data .item {
		border-left: 0;
		border-bottom: 1px solid #cecece;
		float: none;
		text-align: left;
		margin: 0;
		padding: 10px 0;
		width: 100%;
	}
	
	.landing-section .overview-data .value {
		display: inline;
		font-size: 15px;
		font-weight: bold;
	}
	
	.flexslider .slide-caption,
	.mobile-slide .slide-caption {
		background: #383e44;
		position: relative;
		left: auto;
		top:auto;
		width: 100%;
		display: block;		
	}
	
	.mobile-slide img {
		display: block;
	}
	
	.mobile-slide .slide-caption {
		padding: 20px;
	}
	
	.home-rotator {
		background: #fff;
	}
	
	.caption-wrapper {
		position: relative;
		top: auto;
		left: auto;
	}
	
	.flexslider .slide-caption {
		min-height: 130px;
	}
	
	.flexslider .slide-caption h2,
	.flexslider .slide-caption h2 a,
	.mobile-slide .slide-caption h2 {
		font-size: 20px;
		text-transform: uppercase;
		font-weight: 600;
		color: #fff;
	}
	
	.flexslider .slide-caption p,
	.mobile-slide .slide-caption p {
		color: #fff;
		font-size: 15px;
		margin: 0;
	}
	
	.home-about-boxes a .desc,
	.home-about-boxes a .button {
		display: none;
	}
	
	.home-about-boxes > a,
	.home-about-boxes > a:hover {
		background: #cc0000;
		border: none;
		color: #fff;
		display: block;
		padding: 15px;
		position: relative;
		margin: 0 0 1px;
		top: auto;
		left: auto;
		width: 100%;
		min-height: 0;
	}
	
	.home-about-boxes > a:hover {
		background: #aa0000;
	}
	
	.home-about-boxes a .title {
		display: inline;
	}
		
	.home-spotlight .one-fourth,
	.home-spotlight .one-fourth.first {
		max-width: 340px;
		margin: 0 auto;
		float: none;
	}
	
	.home-spotlight .one-third > img {
		width: 100%;
	}
	
	.home-partners .partner {
		margin: 10px 5px;
	}
	
	.title-area {
		float: none;
	}
	
	.site-header {
		padding-bottom: 0;
	}
	
	.site-header .wrap {
		padding: 0;
		position: relative;
	}
	
	.site-header .mobile {
		color: #383e44;
		position: absolute;
		right: 20px;
		top: -10px;
	}
	
	.site-header .mobile.icon-menu,
	.site-header .icon-close {
		border: 1px solid #383e44;
	}
	
	.site-header .mobile.off {
		display: none;
	}
	
	body.header-fixed {
		padding-top: 217px;
	}
	
	.header-fixed .mobile-bg {
		background: #333333;
		background: rgba( 51, 51, 51, .6);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 9;
	}
	
	.header-fixed .site-header {
		background: #fff;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10;
	}
	
	.logged-in.header-fixed .site-header {
		top: 46px;
	}
		
	.nav-header {
		border-top: 1px solid #cccece;
		border-bottom: 1px solid #cccece;	
		padding: 0;
		margin-top: 35px;
	}
	
	.nav-header,
	.nav-header .genesis-nav-menu .menu-item {
		background: #f1f3f3;
		float: none;
		text-align: left;
		width: 100%;
	}
	
	.nav-header .genesis-nav-menu > .menu-item,
	.nav-header .genesis-nav-menu > .menu-item > a {
		border: none;
	}
	
	.nav-header .genesis-nav-menu > .menu-item > a {
		border-bottom: 1px solid #cccece;
		font-size: 18px;
		font-weight: 600;
		padding: 12px 20px;
	}
	
	.nav-header .genesis-nav-menu .menu-item-has-children > a:after {
		float: right;
		font-size: 24px;
	}
	
	.nav-header .mobile-extra {
		display: block;
		padding: 20px;
		overflow: hidden;
		width: 100%;
	}
	
	.nav-header .instructor a {
		background: #fff;
		border: 1px solid #383e44;
		color: #383e44;
		font-size: 13px;
		line-height: 22px;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		padding: 10px 0;
	}
	
	.nav-header .genesis-nav-menu .menu-item.instructor {
		float: left;
		width: 63.492063492%;
	}
	
	.nav-header .genesis-nav-menu .menu-item.login {
		float: left;
		width: 31.746031746%;
	}
	
	.nav-header .genesis-nav-menu .menu-item.login > a {
		padding: 10px 0;
		text-align: center;
		border: 1px solid #aa0000;
		text-transform:uppercase;
		font-weight:700;
	}
	
	.nav-header .login {
		margin-left: 4.761904762%;
	}
	
	.nav-header .menu-item.search {
		overflow: hidden;
		width: 100%;
		padding: 0 20px 20px;

	}

	.nav-header .search-form {
		width: 100%;
	}
	
	.nav-header .search-form input[type="search"] {
		padding: 8px;
	}

	.nav-header .genesis-nav-menu .sub-menu {
		background: #fff;
		border: none;
		display: none;
		left: auto;
		opacity: 1;
		margin-top: 0;
		overflow: hidden;
		padding: 10px 30px;
		position: relative;
		text-align: left;
		width: 100%;
		z-index: 99;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	
	.nav-header .genesis-nav-menu .submenu-open > .sub-menu {
		display: block;
	}
	
	.genesis-nav-menu .sub-menu a {
		background: #fff;
		border: none;
		float: none;
		padding: 5px;
		width: 100%;
	}
	
	.genesis-nav-menu .sub-menu li:nth-child(2n-1) a {
		clear: both;
	}

	
	.search-form input[type="submit"] {
		width: 40px;
		height: 37px;
	}
	
	.footer-widgets .wrap {
		padding: 0;
	}
	
	.footer-widgets .widget-area.footer-widgets-2, 
	.footer-widgets .widget-area.footer-widgets-3, 
	.footer-widgets .widget-area.footer-widgets-4 {
		padding: 0;
		width: 100%;
	}
	
	.footer-widgets .widget-area.footer-widgets-2 .widget h4, 
	.footer-widgets .widget-area.footer-widgets-3 .widget h4, 
	.footer-widgets .widget-area.footer-widgets-4 .widget h4 {
		background: #383e44;
		color: #fff;
		cursor: pointer;
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 1px;
		padding: 17px 30px;
	}

	.footer-widgets .widget-area.footer-widgets-2 .widget h4:after, 
	.footer-widgets .widget-area.footer-widgets-3 .widget h4:after, 
	.footer-widgets .widget-area.footer-widgets-4 .widget h4:after {
		content: "\e600";
		float: right;
		font-size: 18px;
	}	

	.footer-widgets .widget-area.footer-widgets-2 .widget h4.open:after, 
	.footer-widgets .widget-area.footer-widgets-3 .widget h4.open:after, 
	.footer-widgets .widget-area.footer-widgets-4 .widget h4.open:after {
		content: "\e601";
	}	

	.footer-widgets .widget-area.footer-widgets-2 .widget h4 a, 
	.footer-widgets .widget-area.footer-widgets-3 .widget h4 a, 
	.footer-widgets .widget-area.footer-widgets-4 .widget h4 a {
		color: #fff;
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		font-weight: 600;
	}
	
	.footer-widgets .widget-area.footer-widgets-2 .widget ul, 
	.footer-widgets .widget-area.footer-widgets-3 .widget ul, 
	.footer-widgets .widget-area.footer-widgets-4 .widget ul {
		display: none;
		padding: 20px;
		overflow: hidden;
		width: 100%;
	}
	
	.footer-widgets .widget-area.footer-widgets-2 .widget_nav_menu .widget-wrap > div,
	.footer-widgets .widget-area.footer-widgets-3 .widget_nav_menu .widget-wrap > div,
	.footer-widgets .widget-area.footer-widgets-4 .widget_nav_menu .widget-wrap > div {
		display: none;
	}

	.footer-widgets .widget-area.footer-widgets-2 .widget ul.menu, 
	.footer-widgets .widget-area.footer-widgets-3 .widget ul.menu, 
	.footer-widgets .widget-area.footer-widgets-4 .widget ul.menu {
		display: block;
	}	
		
	.footer-widgets .widget-area.footer-widgets-2 .widget li, 
	.footer-widgets .widget-area.footer-widgets-3 .widget li, 
	.footer-widgets .widget-area.footer-widgets-4 .widget li {
		float: left;
		width: 100%;
		padding: 5px 0;
	}
	
	.footer-widgets .widget-area .widget.simple-social-icons ul li {
		width: auto;
	}
	
	.footer-widgets li a,
	.footer-widgets .simple-social-icons ul li a, 
	.footer-widgets .simple-social-icons ul li a:hover {
		font-size: 15px;
	}
	
	.footer-widgets .widget-area .widget {
		margin: 0;
	}
	
	.footer-widgets .footer-widgets-5 form p {
		width: 100%;
	}

	.featured-content-rotator .flex-direction-nav .flex-prev { left: 10px }
	.featured-content-rotator .flex-direction-nav .flex-next { right: 10px }
	
	.landing-section.features .feature {
		border-left: 0;
		padding-bottom: 20px;
	}
	
	.landing-section.resources .one-half {
		padding-bottom: 30px;
	}

	.nav-header .genesis-nav-menu > .menu-item { display:none; }
	.nav-header .genesis-nav-menu > .menu-item ul.visible { display:block !important; }
	.resource-card img{
		display:none;
	}
}
		

@media screen and (max-width: 600px) {
	.logged-in.header-fixed .site-header {
		top: 0;
	}
	
	.textbook-listing .textbook {
		width: 100%;
		margin-left: 0;
	}	

}