body { font-size: 11px;	font-family: Tahoma, Arial; color: #1b1b1b; margin: 0 auto; background: #e1e1e1 url('bg.gif') repeat-y center}
body.scores { background: #dce4d2; width: 630px}
body.popup_login {background: #000 url(userpanel-bg.gif) repeat-x bottom fixed; padding: 0; margin: 0; float: left; overflow: hidden}
body img { border: 0}
.rek_none {display: none; text-indent: -1000px}
.rek_empty {display: none}
#all { width: 1000px; margin: 0 auto; padding: 0}
.none {display: none}
.hide {display: none}
.clear {clear: both}
iframe, select, textarea, input {outline: none}
textarea {resize: none}

/** header  **/
#top1 {	width: 197px; height: 59px; float: left; background: url('futbol24_01.gif') no-repeat; cursor: pointer}
#top2 {	width: 345px; height: 59px; float: left; background: url('futbol24_02.gif') no-repeat; cursor: pointer}
#top3 {	width: 458px; height: 59px; float: left; background: url('futbol24_03.gif') no-repeat}
#top3 .fb-like {float: right; margin-top: 18px; width: 130px}
#top3 ul {float: right; margin-right: 14px; padding-left: 0}
#top3 ul li {list-style: none; float: left; height: 37px; background-repeat: no-repeat; margin-left: 7px; background-image:url(mobile-f24-right.gif)}
#top3 ul li a {height: 37px; float:left; min-width: 37px; background-repeat: no-repeat; text-decoration: none; color: #FFF; line-height: 37px; background-image:url(mobile-f24-left.gif)}
#top3 ul li a strong {display: none; padding: 0 42px 0 15px}
/*#top3 ul li.active a strong {display: block}*/
#top3 ul li.hover a strong, #top3 ul li:hover a strong {display: block}
#top3 ul li.mobile-android {background-position: right 0}
#top3 ul li.mobile-android a {background-position: left 0}
#top3 ul li.mobile-iOS {background-position: right -37px}
#top3 ul li.mobile-iOS a {background-position: left -37px}
#top3 ul li.mobile-WM {background-position: right -74px}
#top3 ul li.mobile-WM a {background-position: left -74px}
#top3 ul li.facebook {background-position: right -111px}
#top3 ul li.facebook a {background-position: left -111px}

/** left  **/
#left { width: 196px; float: left}
#left #top4 { width: 196px; height: 52px; float: left; background: url('futbol24_04.gif') no-repeat; cursor: pointer}
#left .banner1 { margin: 0 0 0 6px; width: 180px; height: 150px; background-color: #FFF}
#left div.menu { margin: 6px 0 0 12px; float: left; width: 172px; border: 1px solid #d3cec0; padding-bottom: 8px; clear: both}
#left div.menu div.header { margin: 11px 0 11px 10px; width: 160px; float: left; font-size: 13px; font-weight: bold; color: #336600}
#left div.menu div.league { width: 172px; height: 18px; float: left; background: url('menuleft.gif') repeat-x; padding: 4px 0 0 0; margin: 0 0 1px 0}
#left div.menu div.league a.league { color: #ffffff; text-decoration: none; font-weight: bold; background: url('arrow1.gif') no-repeat; background-position: 10px 3px; padding: 0 0 0 20px}
#left div.menu div.national { width: 165px; height: 300px; float: left; overflow: auto; overflow-y: auto; overflow-x: hidden; margin: 5px 0 5px 3px; outline: none}
#left div.menu div.international { width: 165px; float: left; overflow: auto; overflow-y: auto; overflow-x: hidden; margin: 5px 0 5px 3px}

#left div.menu div.list ul.countries { width: 149px; margin: 0; padding: 0; list-style: none; float: left}
#left div.menu div.list ul.countries li { padding: 1px 0 5px 0; text-indent: 6px; background: none}
#left div.menu div.list ul.countries li:hover, #left div.menu ul.countries li.color:hover, #left div.menu ul.countries li.active { background: #80b444}
#left div.menu div.list ul.countries li.color { background: #d5e9bd url('dot1.gif') no-repeat; background-position: 10px 8px}
#left div.menu div.list ul.countries li a { color: #1b1b1b; text-decoration: none; font-weight: bold}
#left div.menu div.list ul.countries li a:hover { text-decoration: none; color: #ffffff}
#left div.menu div.list ul.countries li ul.leagues { padding: 2px 0 4px 0; margin: 0; width: 149px; list-style: none; float: left; background: #FFFFFF}
#left div.menu div.list ul.countries li ul.leagues li.league { padding: 1px 0 0 14px; margin: 0 0 4px 2px; background:url(arrow9.gif) no-repeat 4px 6px; text-indent: 0}
#left div.menu div.list ul.countries li ul.leagues li.league:hover {background-color:#E0EFCD}
#left div.menu div.list ul.countries li ul.leagues li.league a { color: #1b1b1b; text-decoration: none; font-weight: normal}
#left div.menu div.list ul.countries li ul.leagues li.league a:hover { text-decoration: none; color: #000}
#left div.menu div.list ul.countries li ul.leagues li.active {background-color:#E0EFCD}
#left div.menu div.list ul.countries li ul.leagues li.active {color: #000}


#left div.menu div.scroll { margin: 5px 0 0 3px; float: left}
#left div.banner2 { margin: 6px 0 0 6px; float: left; width: 180px; height: 240px; background-color: #FFF}
#left div.menu select { width: 149px; float: left; margin: 6px 0 0 10px}
#left div.menu div.adv { margin: 8px 0 0 10px; float: left; width: 151px}
#left div.menu div.adv ul { width: 149px; float: left; margin: 5px 0 5px 3px; padding: 0; list-style: none}
#left div.menu div.adv ul li {padding: 2px 0 0 10px; background: url('arrow2.gif') no-repeat; background-position: 0 7px}
#left div.menu div.adv ul li a{color: #1B1B1B; text-decoration: none; font-weight: bold}
#left div.menu div.adv ul li a:hover {text-decoration: underline}
#left div.menu div.adv div.dotts { width: 153px; height: 1px; background: url('dotts1.gif') no-repeat; margin: 4px 0 8px 0; float: left}
#left div.menu div.adv a.sponsored, #right #contentright div.adv2 a.sponsored { font-weight: bold; text-decoration: none; color: #1b1b1b}
#left div.menu div.adv a.sponsored:hover, #right #contentright div.adv2 a.sponsored:hover { color: #ff6000; text-decoration: none}
#left div.menu div.adv div.boxes { float: left; width: 51px; margin: 8px 0 0 100px}
#left div.menu div.adv a.box1_green { width: 13px; height: 13px; float: left; background: url('box1_green.gif') no-repeat; margin: 0 4px 0 0}
#left div.menu div.adv a.box1_grey { width: 13px; height: 13px; float: left; background: url('box1_grey.gif') no-repeat; margin: 0 4px 0 0}
#left #disclaimer { background: #ebebeb; color: #313131; line-height: 14px; width: 160px; float: left; margin: 5px 0 0 6px; padding: 10px}

/** right  **/
#right { width: 804px; float: left}
#right #top5 { width: 791px; height: 33px; float: left; background: url('futbol24_05.gif') no-repeat; position: relative}
#right #top5 #text {color: #FFF; float: left; width: 440px; line-height: 33px; text-indent: 12px; overflow: hidden}
#right #top5 #text a.link { color: #aee372; text-decoration: none}
#right #top5 #text a.link:hover { text-decoration: underline}

#right #top5 .select-lang-and-timezone {color: #FFF; float: right; line-height: 33px; z-index:1000}
#right #top5 .select-lang-and-timezone div.select {z-index: 1000; float: left}
#right #top5 .select-lang-and-timezone p {float: left; line-height: 33px; padding: 0; margin: 0 5px 0 0}
#right #top5 .select-lang-and-timezone ul {background-color: #272727; font-family: Tahoma, Verdana, Arial; color: #FFF; border-top: 0 solid; border-right: 1px solid #3F3F3F; border-bottom: 1px solid #3F3F3F; border-left: 0 solid; font-size: 10px; padding: 0; z-index: 10000; margin: 3px 0 0 0; display: none; position:absolute; top: 25px}
#right #top5 .select-lang-and-timezone ul.languages {width: 100px;}
#right #top5 .select-lang-and-timezone ul.timezones {width: 78px}
#right #top5 .select-lang-and-timezone span {display: block; padding: 0 0 0 30px; background-position: 4px 4px; background-repeat: no-repeat; list-style: none; margin: 6px 0 0 0; line-height: 18px; height: 18px; cursor: pointer; background-color: #272727; font-size: 10px; border-right: 1px solid #3F3F3F; border-bottom: 1px solid #3F3F3F; width: 70px}
#right #top5 #timezones {margin: 0 15px 0 8px}
#right #top5 #timezones span {width: 70px; padding-left: 8px}
#right #top5 #timezones span.arrow {width: auto; padding-left: 0}
#right #top5 #timezones ul li {padding-left: 9px}
#right #top5 .select-lang-and-timezone span span.arrow {padding: 0; background:url(select_arrow.gif) no-repeat 95% center; width: auto; height: auto; margin: 0; border: 0 solid}
#right #top5 .select-lang-and-timezone span span.arrow a {text-decoration: none; color: #FFF}
#right #top5 .select-lang-and-timezone ul li {padding: 0 0 0 0; background-position: 4px 6px; background-repeat: no-repeat; list-style: none; margin: 0; line-height: 14px; height: 14px; cursor: pointer}
#right #top5 .select-lang-and-timezone ul li:hover {background-color:#3F3F3F}
#right #top5 .select-lang-and-timezone ul li a {text-decoration: none; color: #FFF; padding: 0 0 0 30px; display: block; width: 80px}


#right #top5 #languages .en, #right #top5 #languages .www {background-image:url(flag_en.gif)}
#right #top5 #languages .bg {background-image:url(flag_bg.gif)}
#right #top5 #languages .de {background-image:url(flag_de.gif)}
#right #top5 #languages .el {background-image:url(flag_el.gif)}
#right #top5 #languages .tr {background-image:url(flag_tr.gif)}
#right #top5 #languages .it {background-image:url(flag_it.gif)}
#right #top5 #languages .pt {background-image:url(flag_pt.gif)}
#right #top5 #languages .pl {background-image:url(flag_pl.gif)}
#right #top5 #languages .es {background-image:url(flag_es.gif)}
#right #top5 #languages .cs {background-image:url(flag_cs.gif)}
#right #top5 #languages .fr {background-image:url(flag_fr.gif)}
#right #top5 #languages .sk {background-image:url(flag_sk.gif)}

#right #top6 { width: 13px; height: 25px; float: left; background: url('futbol24_06.gif') no-repeat}
#right #top7 { width: 791px; float: left; background: #000000 url('futbol24_07.gif') no-repeat; padding-bottom: 7px}
#right #top7 .billboard_750x100 {width: 750px; height: 100px; background-color: #FFF}
#right #top7 #Adminb_750_100 { margin: 0 0 0 12px}
#right #top8 { width: 13px; float: left; background: url('futbol24_08.gif') no-repeat}

/** content left  **/

#contentleft { width: 610px; float: left; background-color: #FFF}
#contentleft h2 {font-size: 17px}
#contentleft ul.menu { display: block; width: 610px; height: 36px; background: url('menu_bg.gif') repeat-x; margin:0; padding: 0}
#contentleft ul.menu li.menu { display: inline;	white-space: nowrap; height: 24px; float: left; color: #ffffff; padding: 0 0 0 0; font-size: 13px; font-weight: bold; text-decoration: none; position: relative}
#contentleft ul.menu li.menu ul {position: absolute; padding: 0 0 5px 0; left: 0; top: 37px; width: 115px; background: url(menu_ul_bg.gif) no-repeat 0 100%; margin: 0; z-index: 100; display: none}
#contentleft ul.menu li.menu ul li {list-style-type: none; background: #659231 url(menu_li_bg.gif) no-repeat 6px 0; padding: 3px 0 3px 0}
#contentleft ul.menu li.menu ul li a {color: #FFF; text-decoration: none; font-size: 11px; font-weight: normal; margin-left: 18px}
#contentleft ul.menu li.menu ul li a:hover {color: #333333}
#contentleft ul.menu li.spacer { display: inline;	white-space: nowrap; background: url('menu_spacer.gif'); width: 2px; height: 36px; float: left}
#contentleft ul.menu li.left { display: inline;	white-space: nowrap; background: url('menu_l.gif'); width: 4px; height: 36px; float: left}
#contentleft ul.menu li.right { display: inline;	white-space: nowrap; background: url('menu_r.gif'); width: 4px; height: 36px; float: right}
#contentleft ul.menu a.menubutton { height: 24px; float: left; color: #ffffff; padding: 12px 7px 0 7px; font-size: 12px; font-weight: bold; text-decoration: none}
#contentleft ul.menu a#fb {color: #FFFF00}
#contentleft ul.menu a.menubutton:hover {text-decoration: none; background: url('menu_hover.gif') repeat-x}

#contentleft div.box { width: 197px; height: 210px; float: left; border: 1px solid #d3cec0; margin: 7px 7px 0 0}
#contentleft div.box2 { width: 196px; height: 210px; float: left; border: 1px solid #d3cec0; margin: 7px 0 0 0}
#contentleft div.box div.header, #contentleft div.box2 div.header { font-size: 14px; font-weight: bold; color: #1b1b1b; margin: 13px 0 0 11px; }
#contentleft div.box div.dotts, #contentleft div.box2 div.dotts { background: url('dotts2.gif') repeat-x; width: 178px; height: 1px; float: left; margin: 4px 0 0 11px}
#contentleft div.box div.boxcontent, #contentleft div.box2 div.boxcontent { margin: 8px 0 0 11px; float: left; line-height: 16px; width: 178px}
#contentleft div.sm { height: 98px}
#contentleft div.box div.boxcontent ul { width: 149px; float: left; margin: 2px 0 2px 3px; padding: 0; list-style: none}
#contentleft div.box div.boxcontent ul li { height: 15px; padding: 2px 0 0 10px; background: url('arrow2.gif') no-repeat; background-position: 0 7px}
#contentleft div.box div.boxcontent div.dotts { background: url('dotts2.gif') repeat-x; width: 178px; height: 8px; float: left; margin: 4px 0 0 0}
#contentleft div.box div.boxcontent img { float: left}
#contentleft div.box2 div.boxcontent div.descr { width: 166px; float: left; background: #222222; color: #ffffff; padding: 3px 0 4px 10px; line-height: 14px}
#contentleft div.box div.boxes { float: left; width: 51px; margin: 12px 0 0 140px}
#contentleft div.box div.boxes a.box2_dark { width: 13px; height: 13px; float: left; background: url('box2_dark.gif') no-repeat; margin: 0 4px 0 0}
#contentleft div.box div.boxes a.box2_grey { width: 13px; height: 13px; float: left; background: url('box2_grey.gif') no-repeat; margin: 0 4px 0 0}
#contentleft div.banner4 { margin: 8px auto 0 auto; float: left}
#contentleft div.bar { width: 610px; height: 26px; float: left; background: url('b1_bg.gif') repeat-x; margin: 8px 0 0 0; position: relative}
#contentleft div.bar div.b1_l { width: 4px; height: 26px; float: left; background: url('b1_l.gif') no-repeat}
#contentleft div.bar div.b1_r { width: 4px; height: 26px; float: right; background: url('b1_r.gif') no-repeat}
#contentleft div.bar div.bartext { color: #ffffff; margin: 5px 0 0 10px; float: left; font-weight: bold}
#contentleft div.bar span.orange { color: #ff942a; font-size: 12px; margin: 0 4px 0 4px}
#contentleft div.bar div.bartext2 { color: #ffffff; font-weight: bold; background: #94be64; height: 18px; float: left; margin: 4px 0 0 30px; padding: 4px 7px 0 7px; text-align: center}
#contentleft div.bar div.bartext3 { color: #ffffff; font-weight: bold; background: #94be64; height: 18px; float: left; margin: 4px 0 0 6px; padding: 4px 7px 0 7px; text-align: center; cursor: pointer}
#contentleft div.bar div.selected {background: #e0efcd; color: #659231; cursor: pointer}
#contentleft div.bar div.deselected:hover { background: #53762a; cursor: pointer}
#contentleft div.bar div.data { float: right; background: url('select_data.gif') no-repeat; width: 126px; height: 18px; margin: 4px 5px 0 0}
#contentleft div.chooseleagues { background: #e0efcd; width: 608px; float: left; border-bottom: 1px solid #b3cf93; border-left: 1px solid #b3cf93; border-right: 1px solid #b3cf93; padding: 0 0 12px 0}
#contentleft div.loading, div.loading { background: url('preloader.gif') no-repeat; background-position: center 10px; filter: alpha(opacity=40); -moz-opacity: 0.4; opacity: 0.4}
#contentleft div.chooseleagues input.checkbox { margin: 1px 4px 0 0; float: left; vertical-align: middle; display: block}
#contentleft div.chooseleagues div.leagues { border-bottom: 1px dotted #8fa377; width: 590px; float: left; margin: 8px 0 0 10px}
#contentleft div.chooseleagues label { display: block; float: left; width: 170px; margin: 0 3px 2px 0; cursor: pointer; }
#contentleft div.chooseleagues div.buttons { margin: 10px 0 0 12px; width: 596px; float: left}
#contentleft div.chooseleagues div.buttons a.button1 { width: 73px; height: 17px; background: url('livenow.gif') no-repeat; float: left; color: #ffffff; font-weight: bold; text-align: center; padding: 2px 0 0 0; text-decoration: none}
#contentleft div.chooseleagues div.buttons input.button2 {width: 73px; height: 19px; background: url('submit.gif') no-repeat; float: left; color: #ffffff; font-weight: bold; text-align: center; padding: 0; text-decoration: none; margin-left: 192px; border: 0 solid; line-height: 19px; font-size: 10px; cursor: pointer}
#contentleft div.chooseleagues div.buttons #chooseleagues_selAll {background: url('x.gif') no-repeat; background-position: 0 5px; float: right; color: #78a048; padding: 2px 0 0 15px; margin: 0 15px 0 0; text-decoration: none; display: block; text-transform: lowercase}
#contentleft div.chooseleagues div.buttons #chooseleagues_deselAll {background: url('deselect.gif') no-repeat; background-position: 0 5px; float: right; color: #78a048; padding: 2px 0 0 15px; margin: 0 15px 0 0; text-decoration: none; display: none; text-transform: lowercase}
#contentleft div.chooseleagues div.buttons #myleagues {float: right; color: #394030; padding: 2px 0 0 0; margin: 0 15px 0 0; text-decoration: none; display: block; text-transform: lowercase}
#contentleft div.chooseleagues div.buttons #myleagues span {display: block; width: 9px; height: 9px; background-image: url('xgreen.gif'); background-repeat: no-repeat; float: left; margin: 3px 9px 0 0}
#contentleft div.chooseleagues div.buttons .inactive span {background-position: bottom}

/*#contentleft div.chooseleagues div.buttons a.button3 { background: url('x.gif') no-repeat; background-position: 0 4px; float: right; color: #78a048; padding: 2px 0 0 15px; margin: 0 15px 0 0; text-decoration: none}*/
#contentleft div.chooseleagues div.buttons a.button4 { width: 73px; height: 17px; background: url('livenowgrey.gif') no-repeat; float: left; color: #ffffff; font-weight: bold; text-align: center; padding: 2px 0 0 0; text-decoration: none}
#contentleft div.boxlast { width: 298px; float: left; border: 1px solid #d3cec0; margin: 8px 10px 0 0; background: url('boxlast_bg.gif') repeat-x}
#contentleft div.boxlast2 { margin: 8px 0 0 0}
#contentleft div.boxlast div.header, #contentleft div.boxlast2 div.header { color: #ff6000; font-weight: bold; width: 278px; float: left; margin: 10px 0 0 12px}
#contentleft div.compar { float: left; margin: 10px 0px 0px 0px; width: 610px; text-align: center;}
#contentleft div.boxlast div.compare { width: 278px; float: left; margin: 10px 0px 10px 10px; padding: 0px;}
#contentleft div.content a.green, #contentleft div.compar a.green { color: #597f2c; text-decoration: none; font-weight: bold;}
#contentleft div.content .rek_ok,
#contentleft div.content .rek_ok ~ .rek_ok ~ .rek_ok,
#contentleft div.content .rek_ok ~ .rek_ok ~ .rek_ok ~ .rek_ok ~ .rek_ok,
#contentleft div.content .rek_ok ~ .rek_ok ~ .rek_ok ~ .rek_ok ~ .rek_ok ~ .rek_ok ~ .rek_ok {clear: both}
#contentleft div.content .rek_ok ~ .rek_ok,
#contentleft div.content .rek_ok ~ .rek_ok ~ .rek_ok ~ .rek_ok,
#contentleft div.content .rek_ok ~ .rek_ok ~ .rek_ok ~ .rek_ok ~ .rek_ok ~ .rek_ok,
#contentleft div.content .rek_ok ~ .rek_ok ~ .rek_ok ~ .rek_ok ~ .rek_ok ~ .rek_ok ~ .rek_ok  ~ .rek_ok {clear: none}
#contentleft div.boxlast select.country { width: 270px; margin: 5px 0px 5px 0px; font-size: 11px;}
#contentleft div.boxlast select.league { width: 270px; margin: 0px 0px 5px 0px; font-size: 11px;}
#contentleft div.boxlast table.last { width: 278px; float: left; margin: 10px 0 10px 10px; padding: 0; border-collapse: collapse}
#contentleft div.boxlast table.last tr { height: 18px; border-collapse: collapse}
#contentleft div.boxlast table.last td {border-collapse: collapse}
#contentleft div.boxlast table.last td.ar { color: #ff6000; width: 12px; border-bottom: 1px dotted #b6b09e}
#contentleft div.boxlast table.last td.team1 { width: 117px; text-align: left; border-bottom: 1px dotted #b6b09e; padding: 0 0 3px 0}
#contentleft div.boxlast table.last td.score { text-align: right; border-bottom: 1px dotted #b6b09e; padding: 0 0 3px 0; font-weight: bold}
#contentleft div.boxlast table.last td.vs { background: url('vs.gif') no-repeat; width: 24px; text-align: center; background-position: center; border-bottom: 1px dotted #b6b09e; padding: 0 0 3px 0}
#contentleft div.boxlast table.last td.team2 { width: 120px; text-align: right; border-bottom: 1px dotted #b6b09e; padding: 0 0 3px 0}
#contentleft div.boxlast a { text-decoration: none; color: #1b1b1b}
#contentleft div.boxlast a:hover { text-decoration: underline}
#contentleft div.boxlast div.link { margin: 0 0 0 11px; padding: 0 0 10px 0; float: left}
#contentleft div.boxlast div.link a.link { color: #ff6000; font-weight: bold; text-decoration: none; float: left}
#contentleft div.boxlast div.link a.link:hover { text-decoration: underline}

/** userpanel w popupie **/
#contentright { width: 188px; float: left}
#contentright .userpanel { width: 234px; float: left; background: url('userpanel.gif') no-repeat}
#contentright .loading { background: url('preloader.gif') no-repeat; background-position: center 10px; filter: alpha(opacity=40); -moz-opacity: 0.4; opacity: 0.4}
#contentright .userpanel fieldset.login {	height: 60px; width: 198px; margin: 2px 0 0 18px; border: 0; display: block}
#contentright .userpanel div.logged { height: 60px; width: 150px; margin: 5px 0 0 26px; color: #ffffff}
#contentright .userpanel div.logged a.pan { color: #aee372; text-decoration: none}
#contentright .userpanel div.logged a.pan:hover { text-decoration: underline}
#contentright .userpanel div.logged span.white { color: #ffffff; font-weight: bold}
#contentright .userpanel div.logged ul.pan { width: 150px; float: left; list-style: none; margin: 8px 0 0 0; padding:0}
#contentright .userpanel div.logged ul.pan li { padding: 1px 0 1px 0; height: 13px}
#contentright .userpanel label.login { float: left; width: 60px; margin: 3px 0 0 0; color: #ffffff; font-weight: normal}
#contentright .userpanel input.login { display: block; float: left; width: 130px;  color: #dddddd; background-color: #272727; padding: 3px 3px 4px 3px; text-indent: 2px; border-right: 1px solid #3f3f3f; border-bottom: 1px solid #3f3f3f; border-left: 0 solid; border-top: 0 solid; margin: 0 0 5px 0; float: left; font-size: 11px}
#contentright .userpanel input.checkbox { margin: 4px 7px 0 0; float: left; vertical-align: middle}
#contentright .userpanel label.remember { float: left; width: 94px; height: 21px; margin: 3px 0 0 0; color: #7f7f7f; font-weight: normal; cursor: pointer}
#contentright .userpanel input.login_button { width: 34px; height: 19px; background: url('login.gif') no-repeat; border: 0; margin: 0 0 0 0; padding: 0 2px 0 0; float: left; color: #d1d1d1; font-size: 12px; font-weight: bold; font-family: tahoma; cursor: pointer}
#contentright .userpanel label.links { float: left; width: 150px; margin: 4px 0 0 0; color: #ffffff; font-weight: normal}
#contentright .userpanel a.panel { color: #aee372; text-decoration: none}
#contentright .userpanel a.panel:hover { text-decoration: underline}

/*userpanel po prawej stronie*/
#all #contentright .userpanel {height: 130px; width: 181px}

#contentright div.adv2 ul { width: 165px; float: left; margin: 7px 0 5px 20px; padding: 0; list-style: none}
#contentright div.adv2 p {margin: 10px 0 0 20px}
#contentright div.adv2 ul li {padding: 2px 0 0 10px; background: url('arrow2.gif') no-repeat; background-position: 0 7px}
#contentright div.adv2 ul li a {color: #1B1B1B; text-decoration: none; font-weight: bold}
#contentright div.adv2 ul li a:hover {text-decoration: underline}
#contentright div.skyscrapper { margin: 6px 0 0 11px; width: 176px; float: left; display: inline}
#contentright div.skyscrapper div.banner3 {margin: auto; width: 120px; height: 600px}

/*Dodatkowe style dla panelu klienta w popupie*/
#popup-userpanel {width: 242px; background-color: #000; }
#popup-userpanel #contentright {width: 100%}
#popup-userpanel #contentright .userpanel { }
#popup-userpanel #contentright .userpanel input.login_button {float: right}
#popup-userpanel #contentright .userpanel fieldset.login {height: auto}
#popup-userpanel #contentright .userpanel form {margin-top: 10px; clear: both}
#popup-userpanel #contentright #userpanel {clear: both; width: 242px; padding-bottom: 20px; float: left; background: none}
#popup-userpanel #contentright #userpanel #userpanel-info {width: 170px; height: 40px; overflow: hidden; float: right; padding: 0 0 0 30px; margin: 21px 19px 21px 0; line-height: 40px; background: #f9ce53 url(ico_error.png) no-repeat 9px 12px; font-size: 10px}
#popup-userpanel #contentright #userpanel #userpanel-info .box_ok {color: #AEE372}
#popup-userpanel #contentright#userpanel  #userpanel-info .box_error {color: #C42D3B}
#popup-userpanel #contentright .box_ok {color: #AEE372; text-align: center; margin-top: 30px}

/** footer **/

#footer {	width: 988px; float: left; height: 40px; background: #e1e1e1; border-top: 4px solid #f0f0f0; margin: 10px 0 0 6px}
#footer #copy { width: 690px; float: left; margin: 13px 0 0 16px}
#footer #copy2 { float: left; margin: 13px 0 0 0}
#footer #copy2 a { color: #1b1b1b; text-decoration: none}
#footer #copy2 a:hover { color: #ff6000; text-decoration: none}

/** subpages **/
#contentleft div.nav { width: 610px; float: left; height: 23px; border-bottom: 1px solid #d3cec0; padding: 10px 0 0 0}
#contentleft div.nav2 { border: 0; height: 17px}
#contentleft div.nav a.black { color: #3d3d3d; text-decoration: none; font-weight: bold}
#contentleft div.nav a.black:hover { text-decoration: underline}
#contentleft div.nav a.orange { color: #ff6000; text-decoration: none; font-weight: bold}
#contentleft div.nav a.orange:hover { text-decoration: underline}
#contentleft div.nav span { color: #ff6000; text-decoration: none; font-weight: bold}
#contentleft h1 {font-size: 16px; font-weight: bold; width: 610px; margin: 10px 0 0 3px; padding: 0; float: left; color: #000000}
#contentleft h3 {font-size: 16px; font-weight: bold; margin: 10px 0 20px 3px; padding: 0; float: left; color: #000000}
#contentleft div.content { width: 610px; float: left; margin: 19px 0 0 /*3px*/; line-height: 17px; /*background: url('contentbg.gif') repeat-y;*/}

/*Komunikaty o bledach*/
#contentleft div.content .box_text {padding: 40px 10px 40px 100px; background-image: url(ico_logo-mini.png); background-repeat: no-repeat; background-position: left center; margin: 40px 100px 0 100px}
#contentleft div.content .box_error {background-color: #FFCCCC; border: 1px solid #FF6600}
#contentleft div.content .box_ok {background-color: #E6F8D4; border: 1px solid #669231}
#contentleft div.content .box_info {background-color:#FFFFCC; border: 1px solid #FFCC66}

/*Komunikaty o bledach w warstwie*/
div.ui-widget-content .box_text {padding: 40px 10px 40px 100px; background-image: url(ico_logo-mini.png); background-repeat: no-repeat; background-position: left center; margin: 20px}
div.ui-widget-content .box_error {background-color: #FFCCCC; border: 1px solid #FF6600}
div.ui-widget-content .box_ok {background-color: #E6F8D4; border: 1px solid #669231}
div.ui-widget-content .box_info {background-color:#FFFFCC; border: 1px solid #FFCC66}

#contentleft div.content_wide { width: 604px; float: left; margin: 10px 0 0 3px; line-height: 17px}
/*WAZNE - zmienione ponizsze wymairy 330 -> 315, 234 -> 249*/
#contentleft div.content div.content_left { width: 315px; float: left; border-right: 1px dotted #BBB}
#contentleft div.content div.content_right { width: 249px; float: left; margin: 0 0 0 23px}

#contentleft div.content span.title {/* width: 280px; */float: left; display: block; font-weight: bold; height: 28px}
#contentleft div.content div.number { width: 280px; float: left; margin: 83px 0 0 0}
#contentleft div.content div.content_right span.year { width: 280px; float: left; display: block; font-weight: bold; color: #507425; font-size: 13px; font-weight: bold}
#contentleft div.content a.green { color: #597f2c; text-decoration: none; font-weight: bold}
#contentleft div.content a.green:hover { text-decoration: underline}

#contentleft div.content div.content_right ul.register { float: left; margin: 5px 0 14px 0; padding: 0 0 0 0; list-style: none}
#contentleft div.content div.content_right ul.register li { padding: 2px 0 2px 0; text-indent: 25px; background: url('arrow3.gif') no-repeat; background-position: 0 4px; line-height: 19px; margin-bottom: 10px}
#contentleft div.content div.content_right ul.adv { width: 270px; float: left; margin: 3px 0 10px 5px; padding: 0 0 0 0; list-style: none}
#contentleft div.content div.content_right ul.adv li { padding: 2px 0 2px 0; text-indent: 12px; background: url('arrow2.gif') no-repeat; background-position: 0 9px}
#contentleft div.content div.content_right ul.promotion { float: left; margin: 5px 0 14px 0; padding: 0 0 0 0; list-style: none}
#contentleft div.content div.content_right ul.promotion li { padding: 2px 0 2px 0; text-indent: 25px; background: url('ok_act.gif') no-repeat; background-position: 0 4px; line-height: 19px}

#contentleft div.content fieldset.registration { width: 300px; float: left; border: 0; margin: 0; padding: 0}
#contentleft div.content fieldset.registration label.validateOnline {position: relative}
/*Dla formularza przypomnienia hasła*/
#contentleft div.content fieldset.password-reminder {width: 600px}
#contentleft div.content fieldset.password-reminder legend {padding: 0; padding-bottom: 20px}
#contentleft div.content fieldset.password-reminder label.register {width: 300px; float: left; padding: 0 0 2px 0px; clear: both}
#contentleft div.content fieldset.password-reminder input.button {margin: 17px 0 0 15px}

/*Dopoki w profilu nie ma edycji maila to adres mail wyswietla sie jakby nei byll w inpu text*/
#contentleft div.content .content_left fieldset.edit-profile label#form-UserNewAccount-UserEmail-box {background-image: none}
#contentleft div.content .content_left fieldset.edit-profile label#form-UserNewAccount-UserEmail-box input.text {border: 0 solid; background: #FFF; color: #000}
/*W edycji profilu regulamin wyszarzony i bez praszka*/
#contentleft div.content .content_left fieldset.edit-profile label#form-UserNewAccount-UserTermsOfUse-box {background-image: none}

/*Formularz zmiany hasla w panelu administracyjnym - wezszy niz inne bo musial sie zmiescic w prawej szpalcie*/
#contentleft div.content .content_right fieldset.registration  {width: 243px}
#contentleft div.content .content_right fieldset.registration label.register {width: 240px}
#contentleft div.content .content_right fieldset.registration label.register input.password {width: 205px}
#contentleft div.content .content_right fieldset.registration label.focusin span.window {left: 228px; width: 190px}

#contentleft div.content fieldset.registration ul.blad {color: #FF6600; clear: both; float:left; list-style: none; padding: 0 0 10px 0; margin: 0}
div.content label.register { width: 296px; float: left; padding: 0 0 2px 4px; background: url(ok_unact.gif) no-repeat 100% 20px}
#contentleft div.content_wide label.register1 { width: 590px; float: left; padding: 0 0 2px 4px; margin: 10px 0 0 0}
/*Zmieniane 11.02.2012 dla formularza rejestracji width z 268px*/
#contentleft div.content label.register3 { width: 296px; float: left; padding: 5px 0 0 4px; background-position: 100% 7px}
#contentleft div.content input.register1 { display: block; float: left; width: 230px;  color: #1b1b1b; background: #eaf2e2; border: 1px solid #577d2b; padding: 3px 3px 4px 3px; text-indent: 2px; margin: 0 0 3px 0; float: left; font-size: 11px}

#contentleft div.content fieldset.registration input.text { display: block; float: left; width: 260px;  color: #1b1b1b; background: #EFEFEF; border: 1px solid #999; padding: 3px 3px 4px 3px; text-indent: 2px; margin: 0 0 3px 0; float: left; font-size: 11px; height: 19px}
#contentleft div.content fieldset.registration input.ok {font-weight: normal; cursor: text}
#contentleft div.content fieldset.registration input.password { display: block; float: left; width: 260px;  color: #1b1b1b; background: #EFEFEF; border: 1px solid #999; padding: 3px 3px 4px 3px; text-indent: 2px; margin: 0 0 3px 0; float: left; font-size: 11px; height: auto; font-weight: bold; height: 19px; font-family: Tahoma, Verdana, Arial; cursor: auto}

/*Styl formularza bez walidacji (np logowanie)*/
div.content .noValidation label {background-image: none}
/*Formularz logowania na stronie wspolnej logowania i rejestracji*/
#contentleft #login-form {border-right: 0 solid}
#contentleft #login-form {padding-bottom: 20px}
#contentleft #login-form h1 {margin-top: 0; margin-bottom: 10px; width: 300px}
#contentleft #login-form .registration {border-bottom: 1px solid #D3CEC0; padding-bottom: 20px; width: 271px}
#contentleft #login-form .registration a.reminder {clear: both; float:right; text-decoration: none; margin-top: 10px}
#contentleft #login-form .registration label.remember-me {width: 50%; margin-top: 3px}
#contentleft #login-form .registration label.remember {cursor: pointer}
#contentleft #login-form .registration input.button {margin-top: 6px}
#contentleft #login-form .box_text {margin: 0; background-image: none; padding: 20px; float: left; clear: both; width: 226px; margin-left: 3px; margin-bottom: 10px}
#contentleft #login-form div.content_right {margin-left: 0}
/*Formularz rejestracjki na stronie wspolnej logowania i rejestracji*/
#contentleft #registration-form h1 {margin-bottom: 10px; margin-top: 19px; width: 300px}
#contentleft div.content fieldset.registration label#form-UserNewAccount-UserTermsOfUse-box {margin-top: 10px}



#contentleft div.content fieldset.clean { margin: 0; padding: 0; border: 0; float: left}
#contentleft div.content input.register2 { width: 160px}
#contentleft div.content input.register3 { width: 266px}
#contentleft div.content input.register4 { width: 132px; margin-right: 10px}
#contentleft div.content input.register5 { width: 132px; margin: 0 0 8px 10px}
#contentleft div.content input.register6 { width: 128px; margin: 0}
#contentleft div.content input.register7 { width: 160px; margin: 0}
#contentleft div.content input.register8 { width: 52px; margin: 0 0 0 10px}
#contentleft div.content_wide input.register1 { display: block; float: left; width: 250px;  color: #1b1b1b; background: #eaf2e2; border: 1px solid #577d2b; padding: 3px 3px 4px 3px; text-indent: 2px; margin: 0 6px 3px 0; float: left; font-size: 11px}
div.content textarea.text { width: 260px; height: 100px; color: #1b1b1b; background: #EFEFEF; border: 1px solid #999; float: left; margin: 0 0 10px 0; font-family: Tahoma, Verdana, Arial; padding: 3px; font-size: 11px}

#contentleft div.content textarea.code { width: 270px; height: 90px; color: #1b1b1b; background: #eaf2e2; border: 1px solid #577d2b; float: left; margin: 5px 0 10px 0}
#contentleft div.content img.icon { float: left; margin: 3px 0 0 16px}
#contentleft div.content img.token { float: left; margin: -5px 0 0 16px}
#contentleft div.content fieldset.registration select { border: 1px solid #999; margin: 0 10px 3px 0; background-color: #EFEFEF; font-size: 11px; font-family: Tahoma, Verdana, Arial; padding: 3px; width: 268px; height: 29px}
#contentleft div.content fieldset.registration select option {padding: 3px}
#contentleft div.content fieldset.registration select._KrajId {width: 268px; clear:both}
#contentleft div.content fieldset.registration select._JezykId {width: 268px; clear:both}

#contentleft div.content div.captcha {clear: both; margin: 10px 0 0 0}
#contentleft div.content div.captcha span.error {clear: both; color: #FF0000}

/*Wyglady bledow w formularzu rejestracji*/
div.content label.ok {background: url(ok_act.gif) no-repeat 100% 20px}
div.content label.ok input.text {border-color: #577D2B; background-color: #EAF2E2}
div.content label.ok input.password {border-color: #577D2B; background-color: #EAF2E2}
div.content label.ok select {border-color: #577D2B; background-color: #EAF2E2}
div.content label.loading {background: url(register_preloader.gif) no-repeat 100% 20px}
/*div.content label span.error {display: none; position: absolute; border: 2px solid #ee5a31; background: #f5e8e5 url(/i/hint_arrow_error.gif) no-repeat -5px 10px; background-attachment: scroll; left: 283px; width: 200px; padding: 12px; color: #3d3d3d; font-weight: bold; top: 0}*/
/*Dymki z podpowiedziami i komunikatem o bledzie w formularzu rejestracji*/
div.content label span.window {display: none}
div.content label.focusin span.window {width: 210px; height: auto; position: absolute; padding: 10px; left: 283px; top: 15px; font-weight: bold; display: none}
div.content label.focusin span.window:after, div.content label span.window:before {border: solid transparent;	content: ' '; height: 0; left: 0; position: absolute; width: 0}
div.content label.focusin span.window:after {border-width: 3px; top: 11px; margin-left: -6px}
div.content label.focusin span.window:before {border-width: 6px; top: 8px; margin-left: -12px}
/*Okienko z bledem*/
div.content label.focusin_error span.error {background-color: #f5e8e5; border: 2px solid #ee5a31; z-index:1}
div.content label.focusin_error span.show {display: block; z-index:1}
div.content label.focusin_error span.error:after {border-right-color: #f5e8e5}
div.content label.focusin_error span.error:before {border-right-color: #ee5a31}
/*Okienko z podpowiedzia*/
div.content label.focusin_ok span.hint {background-color: #e9f2e3; border: 2px solid #7ea550; display: block; z-index:1}
div.content label.focusin_ok span.hint:after {border-right-color: #e9f2e3}
div.content label.focusin_ok span.hint:before {border-right-color: #7ea550}

#hint_league {width: 177px; padding: 12px 24px 12px 12px; color: #FFF; font-weight: bold; background: #000 url(close.gif) no-repeat 193px 6px; filter: alpha(opacity=80); -moz-opacity: 0.8; opacity: 0.8; position: absolute; cursor: pointer; display: none}

/*div.content label.focusin span.show {display: block; z-index:1}*/
div.content label span.error a {color: #FF0000}
div.content label span.error span.kscms_langtxt {display: block; clear: both}
div.content label.error {background: url(wrong.gif) no-repeat 100% 20px}
div.content label.error input.text {border-color: #FF0000; background-color: #FFE4E4}
div.content label.error textarea.text {border-color: #FF0000; background-color: #FFE4E4}
div.content label.error input.password {border-color: #FF0000; background-color: #FFE4E4}
div.content label.error select {border-color: #FF0000; background-color: #FFE4E4}

div.content select.register2  { border: 1px solid #577d2b; width: 120px; margin: 0 0 3px 0; float: left}
div.content select, div.content_wide select.register3 { border: 1px solid #577d2b; width: 273px; margin: 0 0 3px 0; float: left}
#contentleft div.content select.register4  { border: 1px solid #577d2b; width: 128px; margin: 0 0 3px 0; float: left}
#contentleft div.content select.coloristic { border: 1px solid #577d2b; width: 140px; margin: 5px 0 3px 0; float: left}
#contentleft div.content fieldset.registration input.checkbox { margin: 4px 6px 4px 0; float: left; vertical-align: middle; display: block; width: auto; height: auto; background: none}

div.content input.button { width: 35px; height: 19px; background: url('ok.gif') no-repeat; border: 0; margin: 0 0 0 0; padding: 0 2px 2px 0; float: right; color: #ffffff; font-size: 11px; font-weight: bold; font-family: tahoma; cursor:pointer}
div.content_wide input.button { width: 36px; height: 19px; background: url('ok.gif') no-repeat; border: 0; margin: 2px 0 0 0; padding: 0 2px 2px 0; float: left; color: #ffffff; font-size: 11px; font-weight: bold; font-family: tahoma}
div.content input.ok2 { margin-top: 10px}
#contentleft div.content input.ok3 { margin: 2px 3px 0 0}
#contentleft div.content input.ok4 { margin: 6px 5px 0 0}
#contentleft div.content a.more { color: #577d2b; text-decoration: none; font-weight: bold; width: 270px; float: right; text-align: right}
#contentleft div.content img.screen { padding: 3px; float: left; border: 1px solid #d3cec0; margin-bottom: 10px}
#contentleft div.content div.phone { color: #ffffff; padding: 7px 0 0 55px; width: 185px; height: 40px; border: 1px solid #4c7024; background: #799852 url('contact_phone.gif') no-repeat; float: left; margin: 0 0 10px 0}
#contentleft div.content div.mail { padding: 4px 0 0 55px; width: 185px; height: 23px; border: 1px solid #4c7024; background: #799852 url('contact_mail.gif') no-repeat; float: left; margin: 0 0 10px 0}
#contentleft div.content a.mail { color: #ffffff; font-weight: bold; text-decoration: none}
#contentleft div.content a.mail:hover { text-decoration: underline}
#contentleft div.content_wide div.banners { width: 600px; float: left; border-top: 1px solid #d3cec0; margin: 10px 0 0 0; padding: 8px 0 8px 0}
#contentleft div.content_wide textarea.banners { margin: 10px 0 0 0; padding: 3px; width: 500px; height: 64px; float: left; font-family: courier, arial; font-size: 11px; color: #1b1b1b; background: #eaf2e2; border: 1px solid #577d2b}

/*Bledy na podstronie z formularzem kontaktowym*/
#contentleft div#contact_info label.register {background-image: none}
#contentleft div#contact_info label.register span.error {clear: both; color: #FF0000; display: block}
#contentleft div#contact_info label.error {background: url(wrong.gif) no-repeat 100% 20px}
#contentleft div#contact_info label.ok {background: url(ok_act.gif) no-repeat 100% 20px}
#contentleft div#contact_info div.info {width: 300px; border: 1px solid #009933; background-color:#CDE6C3; color:#000000; text-align: center; font-weight: bold; padding: 30px 0; margin: 32px 0}

#contentleft div.navbar { display: block; width: 610px; height: 34px; background: url('navbar_bg.gif') repeat-x; margin: 9px 0 0 0; padding: 0; float: left}
#contentleft div.navbar a.active { color: #444444; text-decoration: none}
#contentleft div.navbar a.active:hover { color: #ff6000; text-decoration: none}
#contentleft div.navbar a.unactive { color: #777777; text-decoration: none}
#contentleft div.navbar a.unactive:hover { color: #ff6000; text-decoration: none}
#contentleft div.navbar div.nav_l { background: url('navbar_end.gif'); width: 1px; height: 34px; float: left}
#contentleft div.navbar div.nav1 { height: 34px; float: left; margin-left: 10px}
#contentleft div.navbar img.ac { float: left; margin-top: 5px}
#contentleft div.navbar img.r { float: left; margin-top: 5px}

/*Moja przerobka podmenu*/
#contentleft div.navbar div.nav2 {padding-left: 10px}
#contentleft div.navbar div.nav2 ul {float: left; margin: 1px 0 0 0; padding: 0; list-style-type: none; position: relative; line-height: normal}
#contentleft div.navbar div.nav2 ul li {display: inline}
#contentleft div.navbar div.nav2 ul li a {float: left; height: 33px; margin: 0; background: url(tab2.gif) 100% 0 no-repeat; text-decoration: none; line-height: 38px}
#contentleft div.navbar div.nav2 ul li a:hover {color: #ff6000}
#contentleft div.navbar div.nav2 ul li a span {float: left; height: 33px; cursor: pointer; background:url(tab1.gif) no-repeat; padding: 0 12px 0 10px; color: #777; font-weight: bold}
#contentleft div.navbar div.nav2 ul li a span:hover {color: #FF6600}
#contentleft div.navbar div.nav2 ul li.active a {background: url(tab2-active.gif) top right no-repeat; text-decoration: none; font-weight: bold}
#contentleft div.navbar div.nav2 ul li.active a span {background: url(tab1-active.gif) no-repeat; padding: 0 13px 0 10px; color: #444}
#contentleft ul.navbar li.select { display: inline;	white-space: nowrap; height: 29px; float: right; padding: 0 0 0 0; margin: 7px 10px 0 0}
#contentleft div.navbar div.nav2 ul li.active a span:hover {color: #FF6600}

/*Uniwersalny zielony button*/
#contentleft div.buttongreen {background:url(buttongreen2_bg.gif) no-repeat scroll 100% 3px transparent; cursor:pointer; float:right; font-weight:normal; height:23px; line-height:22px; margin-right:9px; position:relative; text-indent:7px}
#contentleft div.buttongreen a {background:url(selectgreen1_bg.gif) no-repeat scroll 0 3px transparent; display:block; height:23px; color: #FFF; text-decoration: none; padding-right: 5px}

/*Uniwersalny pomaranczowy button*/
#contentleft div.buttonorange {background:url(buttonorange2_bg.gif) no-repeat scroll 100% 3px transparent; cursor:pointer; float:right; font-weight:normal; height:23px; line-height:23px; margin-right:9px; position:relative; text-indent:7px}
#contentleft div.buttonorange a {background:url(selectorange1_bg.gif) no-repeat scroll 0 3px transparent; display:block; height:23px; color: #FFF; text-decoration: none; padding-right: 5px}
#contentleft div.buttonorange.active a {font-weight: bold}

#contentleft div.banner5 { margin: 12px auto 0 auto; float: left; clear: both}
#contentleft div.desc { float: left; margin: 15px 0 0 0; font-size: 14px; font-weight: bold; width: 600px; clear:both}
#contentleft div.desc2 { float: left; margin: 15px 0 0 0; font-weight: bold; padding: 3px 5px 3px 5px; background: #f2f0eb; line-height: 17px; width: 600px; clear: both}
#contentleft div.desc img.arrow1 { margin: 0 6px 2px 0}
#contentleft div.desc img.arrow2 { margin: 0 6px 2px 6px}
#contentleft div.desc img.seas { margin: 0 6px -6px 6px}
#contentleft div.desc span.small { font-size: 11px; font-weight: normal}
#contentleft div.desc a.black, #contentleft div.table a.black, #contentleft div.table2 a.black, #contentleft table.small a.black { color: #1b1b1b; text-decoration: none}
#contentleft div.desc a.black:hover, #contentleft div.table a.black:hover, #contentleft div.table2 a.black:hover, #contentleft table.small a.black:hover { color: #ff6000; text-decoration: none}
#contentleft div.desc a.white, #contentleft div.table a.white, #contentleft div.table2 a.white { color: #ffffff; text-decoration: none}
#contentleft div.desc a.white:hover, #contentleft div.table a.white:hover, #contentleft div.table2 a.white:hover { text-decoration: underline}
#contentleft div.desc2 a.black { color: #1b1b1b; text-decoration: none; background: url('arrow4.gif') no-repeat; background-position: 1px 5px; padding: 0 7px 0 10px; float: left}
#contentleft div.desc2 a.black:hover { color: #ff6000; text-decoration: none; background: url('arrow4.gif') no-repeat; background-position: 1px 5px}

#contentleft div.bar2 { width: 610px; height: 23px; float: left; background: url('b1_bg.gif') repeat-x; margin: 10px 0 0 0}
#contentleft div.bar2 div.showall {/*width: 55px*/}
#contentleft div.bar2 div.previous {width: 23px}
#contentleft div.bar2 div.previous a {font-size: 14px; font-weight: bold}
#contentleft div.bar2 div.next {width: 20px}
#contentleft div.bar2 div.next a {font-size: 14px; font-weight: bold}

#contentleft div.bar2 p.pagination {float: right; height: 23px; line-height: 23px; padding: 0; margin: 0 10px 0 0; color: #CCCCCC}
#contentleft div.bar2 p.pagination span {color: #FFF; font-weight: bold; font-size: 10px}

#contentleft div.bar2 div.b1_l, #contentleft div.bar5 div.b1_l { width: 4px; height: 23px; float: left; background: url('b1_l.gif') no-repeat}
#contentleft div.bar2 div.b1_r, #contentleft div.bar5 div.b1_r { width: 4px; height: 23px; float: right; background: url('b1_r.gif') no-repeat}
#contentleft div.bar2 div.bartext, #contentleft div.bar5 div.bartext { color: #ffffff; margin: 5px 0 0 7px; float: left; font-weight: bold}
#contentleft div.table, #contentleft div.table2 { width: 608px; float: left; border-bottom: 1px solid #d3cec0; border-left: 1px solid #d3cec0; border-right: 1px solid #d3cec0/*; padding: 0 0 12px 0*/}
#contentleft div.table, #contentleft div.table2 p.info {/*padding:10px; color: #FF6000*/}
#contentleft div.table2 p.user-info {padding:10px; color: #FF6000}
#contentleft div.bartext div.barteam1 { width: 280px; float: left; text-align: right}
#contentleft div.bartext div.barteam2 { width: 230px; float: left}
#contentleft div.bartext div.barresult { font-size: 12px; width: 52px; float: left; text-align: center; background: url('barresult.gif') repeat-x; height: 23px; margin: -5px 8px 0 8px; padding: 4px 0 0 0}

#contentleft div.table table.stat { width: 608px; float: left}
#contentleft div.table table.stat tr { height: 19px; background: url('dash1.gif') no-repeat; background-position: bottom left}
#contentleft div.table table.stat tr:last-child, #contentleft div.table table.stat tr.col:last-child {background-image: none}
#contentleft div.table table.stat tr.col { background: #eaf2e2 url('dash1.gif') no-repeat; background-position: bottom left}
#contentleft div.table table.stat tr.hover { background: /*#b7d497*/ #8D9579 url('dash1.gif') no-repeat; background-position: bottom left}
#contentleft div.table table.stat td.data { padding: 0 0 0 10px; width: 70px}
#contentleft div.table table.stat td.team1 { width: 230px; font-weight: bold; text-align: left}
#contentleft div.table table.stat td.score { font-weight: bold; }
#contentleft div.bar3 { width: 610px; height: 23px; float: left; background: url('b2_bg.gif') repeat-x; margin: 10px 0 0 0}
#contentleft div.bar3 div.b2_l, #contentleft div.bar4 div.b2_l { width: 4px; height: 23px; float: left; background: url('b2_l.gif') no-repeat}
#contentleft div.bar3 div.b2_r, #contentleft div.bar4 div.b2_r { width: 4px; height: 23px; float: right; background: url('b2_r.gif') no-repeat}
#contentleft div.bar3 div.bartext, #contentleft div.bar4 div.bartext { color: #ffffff; margin: 5px 0 0 7px; float: left; font-weight: bold}
#contentleft div.table2 table.stat { width: 608px; float: left; padding: 0 0 0 0} 	/*Zmieniona szerokosc z 5\608 dla userow. Ewentualnie orztwrocic*/
#contentleft div.table2 table.stat tr.black { height: 19px; background: #000000; color: #ffffff; font-weight: bold}
#contentleft div.table2 table.stat tr { height: 19px; background: url('dash1.gif') no-repeat; background-position: bottom left}
#contentleft div.table2 table.stat tr:last-child, #contentleft div.table2 table.stat tr.col:last-child {background-image: none}
#contentleft div.table2 table.stat tr.col { background: #ffe7cf url('dash1.gif') no-repeat; background-position: bottom left}
#contentleft div.table2 table.stat tr.hover { background: #d4b697 url('dash1.gif') no-repeat; background-position: bottom left}
#contentleft img.arr1 { float: left; padding: 2px 5px 0 0}


#contentleft div.table2 table.stat td.no { padding: 0 0 0 10px; width: 26px; text-align: center}
#contentleft div.table2 table.stat td.teamh { padding: 0 0 0 10px}
#contentleft div.table2 table.stat td.team { width: 200px; padding: 0/* 0 0 12px*/; font-weight: bold; /*background-image: url(arrow6.gif); background-repeat: no-repeat; background-position: 12px 6px*/}
#contentleft div.table2 table.stat td.no span.position {display: block; width: 12px; height: 12px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; float: left; margin: 1px 1px 0 0px}
#contentleft div.table2 table.stat td.team a {margin-left: 8px}
#contentleft div.table2 table.stat td.gp, #contentleft table.small td.gp { width: 20px; text-align: center}
#contentleft div.table2 table.stat td.pts, #contentleft table.small td.pts  { width: 30px; text-align: center; font-weight: bold}
#contentleft div.table2 table.stat td.w, #contentleft table.small td.w  { width: 20px; text-align: center}
#contentleft div.table2 table.stat td.d, #contentleft table.small td.d  { width: 20px; text-align: center}
#contentleft div.table2 table.stat td.l, #contentleft table.small td.l  { width: 20px; text-align: center}
#contentleft div.table2 table.stat td.gf, #contentleft table.small td.gf  { width: 20px; text-align: center}
#contentleft div.table2 table.stat td.ga, #contentleft table.small td.ga  { width: 20px; text-align: center}
#contentleft div.table2 table.stat td.plusminus, #contentleft table.small td.plusminus { width: 35px; text-align: center}
#contentleft div.table2 table.stat td.form { padding: 0 0 0 5px; width: 80px; text-indent: 20px}
#contentleft div.table2 table.stat td.compare { text-align: center; width: 35px}
#contentleft div.table2 table.stat td.form img { margin: 0 3px 0 0; float: left}
#contentleft div.table2 div.legend {float: left; padding-left: 10px}
#contentleft div.table2 div.legend p {line-height: 12px; float: left; margin-right: 14px}
#contentleft div.table2 div.legend p span.position {display: block; width: 12px; height: 12px; -webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px; float: left; margin-right: 8px}
#contentleft div.table2 input.ok { width: 31px; height: 19px; background: url('ok2.gif') no-repeat; border: 0; margin: 6px 14px 6px 0; padding: 0 2px 2px 0; float: right; color: #ffffff; font-size: 11px; font-weight: bold; font-family: tahoma; cursor: pointer}
#contentleft div.table table.stat2 { padding: 0 0 0 0}
#contentleft div.table table.stat tr.green { height: 19px; background: #b5cf95; color: #ffffff; font-weight: bold}
#contentleft div.table table.stat td.data1 { padding: 0 0 0 10px}
#contentleft div.table table.stat td.team2 { width: 210px; font-weight: bold; text-align: right; padding: 0 0 0 0}
#contentleft div.table table.stat td.team3 { font-weight: bold; text-align: left; padding: 0 0 0 0}
#contentleft div.table table.stat td.spaceright { padding: 0 8px 0 0}
#contentleft div.table table.stat td.spaceleft { padding: 0 0 0 8px}
#contentleft div.table table.stat td.dash { width: 60px; text-align: center; font-weight: bold}
#contentleft div.table table.stat td.dash a {color: #1B1B1B; text-decoration: none; white-space: nowrap}
/*Wyroznienie wynikow w zaleznosci od statusow -> wykorzystywane w fixtures 2,3,4,7,14*/
#contentleft div.table table.stat tr.status2 td.dash a,
#contentleft div.table table.stat tr.status3 td.dash a,
#contentleft div.table table.stat tr.status4 td.dash a,
#contentleft div.table table.stat tr.status6 td.dash a,
#contentleft div.table table.stat tr.status7 td.dash a,
#contentleft div.table table.stat tr.status12 td.dash a,
#contentleft div.table table.stat tr.status13 td.dash a,
#contentleft div.table table.stat tr.status14 td.dash a{color: #FF6600; cursor: pointer}
/*Wyroznienie wynikow w zaleznosci od statusow -> wykorzystywane w fixtures 2,3,4,7,14*/
#contentleft div.table table.stat tr.status2 td.dash2 a,
#contentleft div.table table.stat tr.status3 td.dash2 a,
#contentleft div.table table.stat tr.status4 td.dash2 a,
#contentleft div.table table.stat tr.status6 td.dash2 a,
#contentleft div.table table.stat tr.status7 td.dash2 a,
#contentleft div.table table.stat tr.status12 td.dash2 a,
#contentleft div.table table.stat tr.status13 td.dash2 a,
#contentleft div.table table.stat tr.status14 td.dash2 a{color: #FF6600; cursor: pointer}
/*Wstawienie ikonki do tabel live przy odpowienich meczach (tj w zaleznosci od classy livetable-active*/
#contentleft div.table table.stat tr.livetable-active1 td.tools a.livetable {background: url(ico_livetable.png) no-repeat; width: 14px; height: 11px; display: block; float: left; margin-left: 3px}

#contentleft div.table table.stat td.dash2 { width: 50px; text-align: center; font-weight: bold; background:#ededed}
#contentleft table.stat td.dash2 a {white-space: nowrap}
#contentleft div.table table.stat td.dash2col { width: 50px; text-align: center; font-weight: bold; background: #d9e1d2}
#contentleft table.stat td.dash2col a {white-space: nowrap}
#contentleft div.table table.stat td.tools { width: 40px; text-align: center}
/*#contentleft div.table table.stat a.tools { width: 32px; height: 15px; float: left; background: url('tools.gif') no-repeat}*/
#contentleft div.table table.stat a.tools { width: 14px; height: 11px; float: left; background: url(ico_tools_compareteams.gif) no-repeat}
#contentleft div.table table.stat tr.last { background: none}
#contentleft div.table table.stat tr.lastcol { background: #eaf2e2}
#contentleft div.table2 table.stat tr.team { background: #D4B697 url('dash1.gif') no-repeat; background-position: bottom left; color: #1B1B1B}
#contentleft div.table table.stat td.comp { width: 55px}
/*Tabele w statach z szablonow _2 tzn pucharowe - maja dluga nazwe rundy i wylatuje ostatni wiersz a drugi jest poszerzony*/
#contentleft div.table table.cup td.comp {width: 130px}
/*Tabele w statach z szablonow _2 tzn pucharowe - maja dluga nazwe rundy. W tabelach fixtures zwezam ostatnia kolumne*/
#contentleft div.table table.cupfixtures td.tools { width: 25px; text-align: center}
#contentleft div.table table.cupfixtures td.comp {width: 130px}
#contentleft div.table table.cupfixtures td.team4 {width: 170px}
#contentleft div.table table.cupfixtures td.team5 {width: 170px}

#contentleft div.table table.cupfixtures tr.livetable-active1 td.tools {width: 35px}

#contentleft div.table table.stat td.team4 { font-weight: bold; text-align: right; width: 180px}
#contentleft div.table table.stat td.team5 { font-weight: bold; text-align: left; width: 180px}

#contentleft div.teaminfo { width: 590px; float: left; margin: 10px 0 0 0; height: 108px}
#contentleft div.teaminfo a.team_logo {display: block; float: left}
#contentleft div.teaminfo img.crest { float: left; padding: 3px; border: 1px solid #d3cec0}
#contentleft div.teaminfo div.teamin { float: left; width: 460px; margin: 3px 0 0 10px; line-height: 18px}
#contentleft div.teaminfo div.teamin a {text-decoration: none}
#contentleft div.teaminfo div.teamin a strong {color: #1B1B1B; text-decoration: none}
#contentleft div.teaminfo div.teamin a:hover strong {color: #1B1B1B; text-decoration: underline}
#contentleft div.teaminfo span.teamname { font-size: 14px; float: left; width: 460px; font-weight: bold}
#contentleft div.teaminfo img.flag { float: left; padding: 4px 6px 0 0}
#contentleft div.teaminfo a.green { color: #659231; text-decoration: none; font-weight: bold}
#contentleft div.teaminfo a.green:hover { text-decoration: underline}
#contentleft div.teaminfo { width: 590px; float: left; margin: 10px 0 0 0; height: 108px}
#contentleft div.teaminfo .fb-like {margin-top: 10px}
#contentleft a.cat { color: #1b1b1b; text-decoration: none}
#contentleft a.cat:hover { color: #ff6000}
#contentleft div.news1 { width: 600px; float: left; padding: 5px 0 5px 10px; margin: 6px 0 0 0}
#contentleft div.news2 { background: #eaf2e2; border-top: 1px dashed #d9d9d9; border-bottom: 1px dashed #d9d9d9}
#contentleft div.news1 h1 {font-weight: bold; font-size: 14px; width: 595px; margin: 0 0 0 0}
#contentleft div.news1 div.data { width: 590px; float: left; color: #646464; margin: 2px 0 0 0}
#contentleft div.news1 div.cont { width: 590px; float: left; margin: 6px 0 0 0; line-height: 16px}
#contentleft div.bar4 { width: 300px; height: 23px; float: left; background: url('b2_bg.gif') repeat-x; margin: 10px 0 0 0}
#contentleft div.bar5 { width: 300px; height: 23px; float: left; background: url('b1_bg.gif') repeat-x; margin: 10px 0 0 0}

#contentleft div.half { width: 300px; float: left}
#contentleft div.half2 { width: 300px; float: left; margin: 0 0 0 10px}
#contentleft div.table2 table.half { width: 298px}
#contentleft div.table2 table.half tr.black { height: 19px; background: #000000; color: #ffffff; font-weight: bold}
#contentleft div.table2 table.stat tr.black { height: 19px; background: #000000; color: #ffffff; font-weight: bold}
#contentleft div.table2 table.stat tr { height: 19px; background: url('dash1.gif') no-repeat; background-position: bottom left}

#contentleft div.table3 { width: 287px; padding: 5px 0 5px 11px}
#contentleft div.table5 { width: 298px; padding: 0 0 2px 0} /*styl dla table5 i jej wnetrznosci specjalnie tylko dla statystyk goals after 65'*/
#contentleft div.table5 td:first-child {padding-left: 11px}
#contentleft div.table5 table .body tr td {padding-bottom: 5px}
#contentleft div.table5 table .body tr:first-child td {padding-top:8px}
#contentleft div.table5 table .body tr:last-child td {padding-bottom:7px}
#contentleft div.table4 { width: 298px; padding: 5px 0 5px 0}
#contentleft div.table3 tr { height: 21px}
#contentleft div.statistics_green { width: 120px; height: 13px; border: 1px solid #80b444; float: left; margin: 0 6px 0 0}
#contentleft div.statistics_green_a { float: right; background: #80b444; height: 13px}
#contentleft div.statistics_orange { width: 120px; height: 13px; border: 1px solid #f78c00; float: left; margin: 0 6px 0 0}
#contentleft div.statistics_orange_a { float: right; background: #f78c00; height: 13px}
#contentleft div.statistics_red { width: 120px; height: 13px; border: 1px solid #ec2e1a; float: left; margin: 0 6px 0 0}
#contentleft div.statistics_red_a { float: right; background: #ec2e1a; height: 13px}
#contentleft div.s_small { width: 80px}
#contentleft td.bold { font-weight: bold}
#contentleft td.under { width: 90px}
#contentleft td.under2 { width: 240px}
#contentleft td.under3 { width: 200px}
#contentleft td.percent { width: 30px; padding: 0 5px 0 0; text-align: right}

#contentleft div.thalf { width: 295px; float: left; margin: 10px 0 0 0}
#contentleft div.thalf img.crestl { float: left; padding: 3px; border: 1px solid #d3cec0}
#contentleft div.thalf img.crestr { float: right; padding: 3px; border: 1px solid #d3cec0}
#contentleft div.vs { width: 20px; float: left; text-align: center; font-size: 14px; font-weight: bold; margin: 30px 0 0 0}
#contentleft div.teaminfohalf { float: left; width: 170px; margin: 3px 0 0 10px; line-height: 18px}
#contentleft div.teaminfohalf a {text-decoration: none; color: #000}
#contentleft div.teaminfohalf a:hover {text-decoration: underline}
#contentleft div.ri { text-align: right; margin: 3px 10px 0 0; float: right}
#contentleft div.teaminfohalf span.teamnamehalf { font-size: 14px; float: left; width: 160px; font-weight: bold}
#contentleft div.teaminfohalf span.teamnamehalf a {text-decoration: none; color: #000; width: auto}
#contentleft div.teaminfohalf span.teamnamehalf a:hover {text-decoration: underline}
#contentleft div.teaminfohalf span.teamnamehalfr { font-size: 14px; float: right; width: 160px; font-weight: bold}
#contentleft div.teaminfohalf span.teamnamehalfr a {text-decoration: none; color: #000}
#contentleft div.teaminfohalf span.teamnamehalfr a:hover {text-decoration: underline}
#contentleft div.teaminfohalf img.flag { float: left; padding: 4px 6px 0 0}
#contentleft div.teaminfohalf img.flagr { float: right; padding: 4px 0 0 6px}
#contentleft a.winner { color: #4d7a37; text-decoration: none; font-weight: bold}
#contentleft a.winner:hover { color: #ff6000; text-decoration: none}
#contentleft a.draw { color: #ff6000; text-decoration: none; font-weight: bold}

#contentleft div.table4 { width: 298px; float: left; border-bottom: 1px solid #d3cec0; border-left: 1px solid #d3cec0; border-right: 1px solid #d3cec0}
#contentleft table.small { width: 298px}
#contentleft table.pad { padding-top: 5px}
#contentleft table.small tr.black { height: 19px; background: #000000; color: #ffffff; font-weight: bold}
#contentleft table.small tr { height: 19px; background: url('dash1.gif') no-repeat; background-position: bottom left}
#contentleft table.small tr.col { background: #ffe7cf url('dash1.gif') no-repeat; background-position: bottom left}
#contentleft table.small tr:last-child, #contentleft table.small tr.col:last-child {background-image:none}
#contentleft table.small tr.col2 { background: #eaf2e2 url('dash1.gif') no-repeat; background-position: bottom left}
#contentleft table.small td.space { width: 86px; padding: 0 0 0 11px}
#contentleft table.small td.no { width: 25px; padding: 0 0 0 11px}
#contentleft table.small td.team { width: 100px}
#contentleft table.small td.goal { width: 30px; text-align: center}
#contentleft table.small td.gpm { width: 50px; text-align: center}
#contentleft table.small td.tot { width: 210px; padding: 0 0 0 10px}
#contentleft table.small td.goal1 { width: 40px; font-weight: bold}
#contentleft table.small td.goal2 { width: 40px}

#contentleft div.content div.content_right table.sms { width: 290px; float: left; padding: 0}
#contentleft div.content div.content_right table.sms td.sms { width: 150px; padding-left: 10px}
#contentleft div.content div.content_right table.sms tr.color { background: #dde7d3}
#contentleft div.content div.content_right table.sms tr { height: 20px}
#contentleft div.content div.content_right table.sms td { border-bottom: 1px solid #beccb0}
#contentleft div.content_wide span.history { font-weight: bold; width: 600px; float: left; display: block; margin: 0; padding: 10px 0 10px 0; border-top: 1px solid #d3cec0}
#contentleft div.table2 table.stat td.no1 { width: 30px; text-align: center}
#contentleft div.table2 table.stat td.data1 { width: 99px; text-align: center}
#contentleft div.table2 table.stat td.match { width: 200px}
#contentleft div.table2 table.stat td.pr { width: 40px; text-align: center; font-weight: bold}
#contentleft div.table2 table.stat td.status { width: 50px}
#contentleft div.table2 table.stat td.last { border-bottom: 1px solid #8e8e8e}
#contentleft div.table2 table.stat tr.colo { background: #eaf2e2 url('dash1.gif') no-repeat; background-position: bottom left}
#contentleft div.sites { width: 279px; float: left; border-top: 1px solid #d3cec0; border-bottom: 1px solid #d3cec0; padding: 8px 0 15px 0; margin: 10px 0 0 0}
#contentleft div.sites2 { width: 279px; float: left; padding: 0 0 0 0; margin: 10px 0 0 0}
#contentleft div.sites2 div.links { width: 260px; float: left; padding: 2px 0 8px 0; border-bottom: 1px dashed #d3cec0}
#contentleft div.sites2 span.site { font-weight: bold; width: 260px; float: left; padding: 2px 0 2px 0}
#contentleft div.sites2 span.subsite { font-weight: normal; width: 240px; float: left; margin: 0 0 0 20px}

#contentleft div.sites2 span.unactive { color: #8a8a8a}
#contentleft div.sites2 div.links a.active { color: #507822; font-weight: bold; text-decoration: none}
#contentleft div.sites2 div.links a.active:hover { text-decoration: underline}
#contentleft div.sites2 div.links a.what { color: #8e8e8e; font-weight: bold; text-decoration: none}
#contentleft div.sites2 div.links a.what:hover { text-decoration: underline}
#contentleft div.sites2 div.sitewhite { float: left; width: 279px; border-bottom: 1px solid #beccb0; padding: 10px 0 8px 0}
#contentleft div.sites2 div.last { margin-bottom: 15px}
#contentleft div.sites2 div.subsite { margin: 7px 0 0 0; float: left; width: 279px}
#contentleft div.sites2 div.edit { margin: 10px 0 10px 0; float: left; width: 279px}
#contentleft div.content_right a.upgrade { float: left; padding: 0 0 10px 0}

#contentleft div.content ul.pref { width: 250px; margin: 0; padding: 0}
#contentleft div.content ul.pref li { width: 250px; height: 20px; background: url('dash1.gif') no-repeat; background-position: 1px 19px; float: left; font-weight: bold}
#contentleft div.content ul.nobold li { font-weight: normal}
#contentleft div.content a.button1 { background: url('xblack.gif') no-repeat; background-position: 0 4px; float: left; color: #1b1b1b; padding: 0 0 0 15px; margin: 10px 0 0 4px; text-decoration: none}
#contentleft div.content a.button2 { background: url('xblackempty.gif') no-repeat; background-position: 0 4px; float: left; color: #1b1b1b; padding: 0 0 0 15px; margin: 10px 0 0 16px; text-decoration: none}
#contentleft div.content input.pref { margin-top: 10px}
#contentleft div.content div.cleague{ width: 272px; float: left; height: 200px; overflow: auto; overflow-y: auto}

#contentleft select.green { float: right; height: 18px; margin: 3px 6px 0 0; padding: 0 0 0 3px; border: 1px solid #5d7f38; background: #7d9f59; color: #ffffff; font-size: 11px; font-family: Tahoma, Arial}

#contentleft .select_green {color: #FFF; float: right; margin-right: 20px; display: inline}
#contentleft .select_green div.select {}
#contentleft .select_green ul.languages {background-color: #7d9f59; font-family: Tahoma, Verdana, Arial; color: #FFF; border: 1px solid #5d7f38; font-size: 11px; padding: 0; margin: 3px 0 0 0; position:absolute; top: 21px; display: none}
#contentleft .select_green span {display: block; padding: 0 5px 0 5px; list-style: none; margin: 3px 0 0 0; line-height: 18px; height: 18px; cursor: pointer; font-size: 11px; border: 1px solid #5d7f38; width: 100%;  background: #7d9f59 url(select_arrow2.gif) no-repeat 95% center}
#contentleft .select_green ul.languages li {padding: 0 17px 0 5px; list-style: none; margin: 0; line-height: 16px; height: 16px; cursor: pointer}
#contentleft .select_green li:hover {background-color:#5d7f38}
#contentleft .select_green li.active {background-color:#5d7f38}

#contentleft select.orange { float: right; height: 18px; margin: 3px 6px 0 0; padding: 0 0 0 3px; border: 1px solid #ab6201; background: #d67a01; color: #ffffff; font-size: 11px; font-family: Tahoma, Arial}
#contentleft select.gray1 { float: right; height: 21px; margin: 6px 10px 6px 0; padding: 0 0 0 3px; border: 1px solid #d1ccbe; background: #ffffff; color: #56524a; font-size: 11px; font-family: Tahoma, Arial}
#contentleft select.gray2 { float: none; height: 21px; margin: 0 3px 0 4px; padding: 0 0 0 3px; border: 1px solid #d1ccbe; background: #ffffff; color: #56524a; font-size: 11px; font-family: Tahoma, Arial}
#contentleft div.sel_orange { color: #ffffff; float: right; height: 18px; background: url('selectorange_bg.gif') repeat-x; margin: 3px 6px 0 0; padding: 0}
#contentleft div.sel_green { color: #ffffff; float: right; height: 18px; background: url('selectgreen_bg.gif') repeat-x; margin: 3px 6px 0 0; padding: 0; cursor: pointer}
#contentleft span.sel { float: left; height: 15px; margin: 2px 4px 0 4px}
#contentleft span.big { font-size: 14px; font-weight: bold; margin: 0 3px 0 3px}
#contentleft a.sel { color: #ffffff; text-decoration: none}
#contentleft a.sel:hover { color: #ffffff; text-decoration: underline}
#contentleft img.livetable { float: left; padding: 0 6px 0 0}

#contentleft div.smslive { width: 198px; height: 100px; float: left; margin: 7px 0 0 0; background: url('smslive.gif') no-repeat; color: #ffffff; cursor: pointer}
#contentleft div.smslive div.header, #contentleft div.livefree div.header { font-size: 15px; font-weight: bold; width: 180px; float: left; height: 50px; margin: 6px 0 0 6px}
#contentleft div.smslive div.points, #contentleft div.livefree div.points { width: 178px; float: left; margin: 9px 0 0 20px; line-height: 17px}
#contentleft div.livefree { width: 198px; height: 100px; float: left; margin: 7px 0 0 0; background: url('livefree.gif') no-repeat; color: #ffffff; cursor: pointer}

#scores { width: 510px; margin: 10px; float: left; height: 134px; background: url('scores_bg.gif') repeat-x}
#scores div.b1_l { width: 5px; height: 134px; float: left; background: url('scores_l.gif') no-repeat}
#scores div.b1_r { width: 5px; height: 134px; float: right; background: url('scores_r.gif') no-repeat}
#scores div.barcontent { color: #ffffff; width: 500px; float: left}
#scores div.barcontent div.banner { width: 480px; float: left; margin: 10px 0 0 15px}
#scores div.barcontent div.rest { width: 480px; float: left; margin: 16px 0 0 5px}
#scores div.barcontent div.ft {width: 35px; float: left; font-size: 12px; font-weight: bold; padding: 10px 0 0 10px}
#scores div.barcontent div.team1 {width: 180px; float: left; font-size: 12px; font-weight: bold; text-align: right; padding: 10px 10px 0 0}
#scores div.barcontent div.sc {width: 75px; float: left; text-align: center; font-size: 19px; font-weight: bold; line-height: 15px; padding: 3px 0 0 0; background: #5a802c}
#scores div.barcontent div.team2 {width: 180px; float: left; font-size: 12px; font-weight: bold; padding: 10px 0 0 10px}
#scores div.barcontent span.small { font-size: 11px; font-weight: normal}
#scores div.cont { border-bottom: 1px solid #d3cec0; border-left: 1px solid #d3cec0; border-right: 1px solid #d3cec0; width: 508px; float: left; background: #ffffff}
#scores table { width: 508px; float: left; padding: 0 0 5px 0}
#scores img.left { float: none; padding: 0 0 0 5px}
#scores img.right { float: none; padding: 0 5px 0 0}
#scores table tr { background: url('dash1.gif') no-repeat; background-position: bottom left; height: 23px}
#scores table td.ft { font-weight: bold; width: 38px; text-align: center; background: #f4f2ef url('dash1.gif') no-repeat; background-position: bottom left}
#scores table td.team1 { width: 189px; text-align: right; padding: 0 10px 4px 0}
#scores table td.sc { width: 73px; text-align: center; background: #f4f2ef url('dash1.gif') no-repeat; background-position: bottom left}
#scores table td.team2 { padding: 0 0 4px 10px}
#scores table tr.col, #scores table td.col { background: #dce4d2 url('dash1.gif') no-repeat; background-position: bottom left; font-weight: bold}
#scores div.cont div.add { width: 460px; padding: 10px 0 12px 42px; float: left; background: url('i.gif') no-repeat; background-position: 15px 10px}
div.table2 div.addi { width: 535px; float: left; margin: 10px 0 10px 10px}
div.menu a.link { color: #1b1b1b; text-decoration: none}
div.menu a.link:hover { text-decoration: underline}

img.ico { float: right; padding: 4px}
#dymek {	position:absolute; border: 2px solid #669331; background: #ffffff; color: #1b1b1b; padding:8px 12px; display:none; font-size: 11px; font-weight: bold; font-family: tahoma; filter: alpha(opacity=80); -moz-opacity: 0.8; opacity: 0.8; }
.kscms_langtxt { background-color: #ffffe1;	border: 1px dashed #ff0000; color: #000000; cursor: help }

div.rek_box, div.rek_box2 {border:1px solid #D3CEC0; float:left; margin:4px 4px 0 0; width:197px; padding: 0; height: 108px}
div.rek_box2 {border:1px solid #D3CEC0; float:left; margin:4px 0 0 0; width:197px}
div.rek_box div.boxcontent, div.rek_box2 div.boxcontent {float: left; height: 100px; margin: 8px 0 0 11px; overflow: hidden; text-align: center; width: 178px; padding: 0; display: inline}
div.rek_box div.boxcontent ul, div.rek_box2 div.boxcontent ul {float: left; list-style: none; margin: 2px 0; padding: 0; text-align: left}
div.rek_box div.boxcontent ul li, div.rek_box2 div.boxcontent ul li  {background:url(arrow8.gif) no-repeat scroll 0 7px; margin: 0; padding: 2px 0 0 10px}
div.rek_box div.boxcontent ul li a, div.rek_box2 div.boxcontent ul li a  {color: #000; text-decoration: none}
div.rek_box div.boxcontent ul li a:hover, div.rek_box2 div.boxcontent ul li a:hover  {color: #EA6645}
div.rek_box div.boxcontent ul li a img, div.rek_box2 div.boxcontent ul li a img  {border: 0 solid}

/*Na potrzeby podgladu zaslepek banerowych*/
.rekdemo, #contentright div.adv2 ul li.rekdemo, div#left div.menu div.adv ul li.rekdemo {background-color:#FF9900; text-align:center}

/*POpup od akcji - style skopiowane z cssa do live*/
div.f24com_action_loading {background: url(preloader.gif) no-repeat; background-position: center 0; height:30px; background-color: #FFF}
div#f24com_actionHtml {width: 510px; position: absolute; z-index: 25; border-top: 1px solid #507426; border-bottom: 1px solid #507426}
div#f24com_actionHtml div#banner {background: url(bg_banner.gif) repeat-x #77A542; width: 510px; height: 80px}
div#f24com_actionHtml div#banner div#banner_e {width: 468px; margin: 0 auto; padding-top: 10px; overflow: hidden}
div#f24com_actionHtml div.actioninfo {width: 510px; height: 23px; background: url(bg_actioninfo1.gif) repeat-x #77A542; color: #fff; cursor: move}
div#f24com_actionHtml div.actioninfo span.date {padding: 3px 0 0 12px; display: block; float: left; font-weight: bold}
div#f24com_actionHtml div.actioninfo span.country {padding: 3px 0 0 0; display: block; text-indent: 5px; float: left}
div#f24com_actionHtml div.actioninfo span.country a {color: #FFF; text-decoration: none}
div#f24com_actionHtml div.actioninfo span.close {float: right; padding: 0; margin: 0; display: block; width: 13px; height: 13px; background:url(close.gif) no-repeat; margin: 7px 9px 0 0; cursor: pointer}
div#f24com_actionHtml table {border-collapse: collapse; width: 510px; background: none; border-bottom: 0 solid}
div#f24com_actionHtml table thead {cursor: move}
div#f24com_actionHtml table thead tr {background:url(bg_actioninfo2.gif) repeat-x #659231; height: 32px; border-top: 0 solid; border-bottom: 0 solid; color: #FFF; text-indent: 0}
div#f24com_actionHtml table thead tr td {height: 32px}
div#f24com_actionHtml table thead tr td.status {width: 42px; font-weight: bold; text-align: center}
div#f24com_actionHtml table thead tr td.home {width: 195px; font-size: 12px; text-align: right; padding: 0 15px 0 0; border-right: 1px solid #5A802C}
div#f24com_actionHtml table thead tr td.guest {width: 195px; font-size: 12px; text-align: left; padding: 0 0 0 15px}
div#f24com_actionHtml table thead tr td.home a, div#f24com_actionHtml table thead tr td.guest a {color: #FFF; text-decoration: none; font-weight: bold}
div#f24com_actionHtml table thead tr td.result {width: 73px; background-color: #5A802C; text-align: center; width: 73px; border: 0 solid}
div#f24com_actionHtml table thead tr td.result div {background-color: #5A802C}
div#f24com_actionHtml table thead tr td.result div span.result1 {font-weight: bold; font-size: 19px; display: block; line-height: 16px; white-space: nowrap}
div#f24com_actionHtml table thead tr td.result div span.result2 {font-size: 11px; clear: both; font-weight: normal; white-space: nowrap}
div#f24com_actionHtml table thead tr td.result div.onescore span.result1 {line-height: 28px; font-size: 19px; font-weight: bold}
div#f24com_actionHtml table thead tr td.result div.onescore span.result2 {display: none}
div#f24com_actionHtml table tbody tr {height: 22px}
div#f24com_actionHtml table tbody tr td {height: 22px; border-bottom: 1px dashed #D7D6D3}
div#f24com_actionHtml table tbody tr:last-child td {border-bottom: 0 solid}
div#f24com_actionHtml table tbody tr td.status {border-left: 1px solid #D3CEC0; font-weight: bold; text-align: center; background-color: #F4F2EF; margin: 0; padding: 0}
div#f24com_actionHtml table tbody tr td.home {border-left: 1px solid #D3CEC0; text-align: right; background-color: #FFF}
div#f24com_actionHtml table tbody tr td.home span {padding: 0; clear: left; float: right; line-height: 19px}
div#f24com_actionHtml table tbody tr td.result {background-color: #F4F2EF; text-align:center; border-left: 1px solid #D3CEC0}
div#f24com_actionHtml table tbody tr td.guest {border-left: 1px solid #D3CEC0; border-right: 1px solid #D3CEC0; background-color: #FFF}
div#f24com_actionHtml table tbody tr td.guest span {padding: 0; clear: right; float: left; line-height: 19px}
div#f24com_actionHtml table tbody tr.action td.status {background-color: #dce4d2}
div#f24com_actionHtml table tbody tr.action td.home {background-color: #dce4d2}
div#f24com_actionHtml table tbody tr.action td.result {background-color: #dce4d2; font-weight: bold}
div#f24com_actionHtml table tbody tr.action td.guest {background-color: #dce4d2}
div#f24com_actionHtml table tfoot tr td {color: #2f2f2f; background: url(i.gif) no-repeat #fff 14px 12px; border-left: 1px solid #D3CEC0; border-right: 1px solid #D3CEC0; padding: 10px 30px 10px 37px; text-align: left; line-height: 16px; font-size: 11px}
div#f24com_actionHtml table tfoot tr.banner_f2 td {color: #fff; background: url(bg_actioninfo1.gif) repeat-x; border-left: 1px solid #D3CEC0; border-right: 1px solid #D3CEC0; padding: 0 0 0 15px; text-align: left; line-height: 23px; font-size: 11px; color: #FFF; font-weight: bold; height:23px}
div#f24com_actionHtml table tfoot tr.banner_f2 td a {color: #ffe400; text-decoration: none }
div#f24com_actionHtml table tfoot tr.banner_f2 td a:hover {color: #fff}

/* Rodzaje akcji*/
div#f24com_actionHtml table tbody tr div {background: top center no-repeat; height: 19px; padding: 0; margin: 0}

div#f24com_actionHtml table tbody tr.action td.home div {float: right}
div#f24com_actionHtml table tbody tr.action td.guest div {float: left}

div#f24com_actionHtml table tbody tr.haction1 td.home div {background-image: url(ico_action1.gif); width: 30px; float:right}
div#f24com_actionHtml table tbody tr.haction2 td.home div {background-image: url(ico_action2.gif); width: 30px; float:right}
div#f24com_actionHtml table tbody tr.haction3 td.home div {background-image: url(ico_action3.gif); width: 30px; float:right}
div#f24com_actionHtml table tbody tr.haction4 td.home div {background-image: url(ico_action4.gif); width: 30px; float:right}
div#f24com_actionHtml table tbody tr.haction5 td.home div {background-image: url(ico_action5.gif); width: 47px; float:right}
div#f24com_actionHtml table tbody tr.haction6 td.home div {background-image: url(ico_action6.gif); width: 47px; float:right}

div#f24com_actionHtml table tbody tr.gaction1 td.guest div {background-image: url(ico_action1.gif); width: 30px; float: left}
div#f24com_actionHtml table tbody tr.gaction2 td.guest div {background-image: url(ico_action2.gif); width: 30px; float: left}
div#f24com_actionHtml table tbody tr.gaction3 td.guest div {background-image: url(ico_action3.gif); width: 30px; float: left}
div#f24com_actionHtml table tbody tr.gaction4 td.guest div {background-image: url(ico_action4.gif); width: 30px; float: left}
div#f24com_actionHtml table tbody tr.gaction5 td.guest div {background-image: url(ico_action5.gif); width: 47px; float: left}
div#f24com_actionHtml table tbody tr.gaction6 td.guest div {background-image: url(ico_action6.gif); width: 47px; float: left}

div#f24com_actionHtml.loading_offkilgor table {background: url(preloader.gif) no-repeat; background-position: center 0; height:30px; background-color: #FFF}

/*Tabele live w popupie*/
.popup_livetable {padding: 10px; clear: both; float: left}
.popup_livetable #livetable {}
.popup_livetable #livetable .round-corners {-webkit-border-top-left-radius: 2px;
-webkit-border-top-right-radius: 2px;
-moz-border-radius-topleft: 2px;
-moz-border-radius-topright: 2px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;}
.popup_livetable #livetable .bar3 {margin-top: 0; width: 378px; background-image: url(b1_bg.gif); height: 26px}
.popup_livetable #livetable .league-name {background: #659231; border-top: 1px solid #5a802c}
.popup_livetable #livetable .bar3 .bartext {width:360px; margin: 0 0 0 7px}
.popup_livetable #livetable .bar3 .bartext span.text {float: left; margin-top: 5px}
.popup_livetable #livetable .bar3 .bartext a.refresh {float: right; display: block; height: 18px; line-height: 18px; margin-top: 5px; width: 22px; background: #345013 url(refresh.gif) no-repeat center; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; margin-top: 3px}
.popup_livetable #livetable .bar3 .bartext span.auto-refresh {float: right; display: block; height: 18px; background: #5a802c; padding: 0 7px; font-weight: normal; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; margin: 3px 0 0 5px; line-height: 18px}
.popup_livetable #livetable .bar3 .bartext span.auto-refresh strong {font-weight: bold}
.popup_livetable #livetable div.table2 {width: 376px}
.popup_livetable #livetable div.table2 table.stat {width: 100%; border-bottom: 1px solid #737373}
.popup_livetable #livetable div.table2 table.stat tr.col {background-color: #eaf2e2}
.popup_livetable #livetable div.table2 table.stat tr.status-active1 {background-color: #f3edbe}
.popup_livetable #livetable div.table2 table.stat tr.hover {background-color: #8D9579}
.popup_livetable #livetable div.table2 table.stat tr td.no {padding: 0 0 0 10px; width: 35px}
.popup_livetable #livetable div.table2 table.stat tr td.no span.position {margin-right: 4px}
.popup_livetable #livetable div.table2 table.stat tr.trh td.no {text-align: left}
.popup_livetable #livetable div.table2 table.stat tr td.team {width: 185px}
.popup_livetable #livetable div.table2 table.stat tr td.teamh {text-indent: 9px}
.popup_livetable #livetable div.table2 table.stat tr.trh td.team span.position {background:url(arrow6.gif) no-repeat}
.popup_livetable #livetable div.table2 table.stat tr.trh td.team a {margin-left: 0}
.popup_livetable #livetable div.table2 table.stat tr.trh td.gp {width: 28px}
.popup_livetable #livetable div.table2 table.stat tr.trh td.pts {width: 28px}
.popup_livetable #livetable div.table2 table.stat tr.trh td.gf {width: 28px}
.popup_livetable #livetable div.table2 table.stat tr.trh td.ga {width: 28px}
.popup_livetable #livetable div.table2 table.stat tr td.up-down {width: 37px}
.popup_livetable #livetable div.table2 table.stat tr td.up-down span {display: block; width: 15px; height: 13px; background: none; margin: 0 5px 0 0; float: right}
.popup_livetable #livetable div.table2 table.stat tr td.up-down span.u {background:url(up-down.gif) top}
.popup_livetable #livetable div.table2 table.stat tr td.up-down span.d {background:url(up-down.gif) bottom}
.popup_livetable #livetable div.table2 div.legend {width: 368px; border-top: 1px solid #c9c9c9}

/*Dodatki dla banerow*/
div.button_600x40 {clear: both; float: left; margin: 4px 0 0 4px; overflow: hidden; padding: 0; display: inline; width: 600px; /*height: 40px; */background-color: #FFF}

.rek_bukban_1 {width: 301px; float: left; margin: 0 4px 4px 0}
.f24_bukban_1 {width: 301px; font-family: Arial, Helvetica, sans-serif; color: #FFF; font-size: 12px; background: bottom no-repeat}
.f24_bukban_1 h3 {height: 39px; background: repeat-x; width: 301px; padding: 0; margin: 0}
.f24_bukban_1 h3 a img {float: left; margin-top: 6px; margin-left: 14px; border: 0 solid}
.f24_bukban_1 h3 a.checkthis {display: block; float: right; font-weight: bold; height: 22px; line-height: 22px; padding: 0 8px; margin-right: 7px; font-family: Tahoma, Verdana, Arial; font-size: 11px; margin-top: 6px; color: #FFF; text-decoration: none}
.f24_bukban_1 ul {padding: 14px 0; margin: 0}
.f24_bukban_1 ul li {list-style-type: square; margin-left: 23px; list-style-position: outside; line-height: 17px; padding: 0}
.f24_bukban_1 ul li a {color: #FFF; text-decoration: none}
.f24_bukban_1 ul li a:hover {color: #FFF; text-decoration: underline}

.rek_bukban_2 {width: 301px; float: left; margin: 0 4px 4px 0}
.even {margin: 0 0 4px 0}
.f24_bukban_2 {width: 301px; font-family: Arial, Helvetica, sans-serif; color: #2B2B2B; font-size: 12px; background: bottom no-repeat; background-color: #FFF; background-position: bottom right; border-left: 1px solid #D3CEC0; border-bottom: 1px solid #D3CEC0; border-right: 1px solid #D3CEC0}
#contentleft .rek .f24_bukban_2 h3 {margin: 0}
.f24_bukban_2 h3 {height: 39px; background: #D3CEC0 repeat-x url(f24bookmachers/bookmachers-bg.gif); width: 301px; padding: 0; margin: 0}
.f24_bukban_2 h3 a img {float: left; margin-top: 6px; margin-left: 14px; border: 0 solid}
.f24_bukban_2 h3 a.checkthis {display: block; float: right; font-weight: bold; height: 22px; line-height: 22px; padding: 0 8px; margin-right: 7px; font-family: Tahoma, Verdana, Arial; font-size: 11px; margin-top: 6px; background-color: #FFF; border: 1px solid #C5C0B0; color: #2B2B2B; text-decoration: none}
.f24_bukban_2 ul {padding: 14px 0; margin: 0; clear:both}
.f24_bukban_2 ul li {list-style-type: square; margin-left: 23px; list-style-position: outside; line-height: 17px; padding: 0; clear: both}
.f24_bukban_2 ul li a {color: #2B2B2B; text-decoration: none}
.f24_bukban_2 ul li a:hover {color: #2B2B2B; text-decoration: underline}

/*Facebook*/
#facebookBox {position: fixed; right: -250px; width: 250px; top: 59px; z-index: 9999}
#facebookBox .fb { position: absolute; left: -23px; width: 25px; height: 88px; background: url(facebook.png) no-repeat}
#facebookBox .fb-like-box {background: white;}
#facebookBox .fb_iframe_widget {position: relative; display: -moz-inline-block; display: inline-block}
#facebookBox .fb_iframe_widget span { position: relative; display: inline-block; vertical-align: text-bottom; text-align: justify}


/* jScrollPane - scroll*/
.jScrollPaneContainer {position: relative; overflow: hidden; z-index: 1; padding: 0 0 2px}
.jScrollPaneTrack {position: absolute; cursor: pointer; right: 0; top: 0; height: 100%; background: #D1E1BD; width: 12px}
.jScrollPaneDrag { position: absolute; background: #9ECA6C url(/i/jscrollpane_bg.gif) repeat-y; cursor: pointer; overflow: hidden; border: 1px solid #80B444; width: 12px}
.jScrollPaneDragTop { position: absolute; top: 0; left: 0; overflow: hidden}
.jScrollPaneDragBottom { position: absolute; bottom: 0; left: 0; overflow: hidden}
a.jScrollArrowUp { display: block; position: absolute; z-index: 1; top: 0; right: 0; text-indent: -2000px; overflow: hidden; height: 16px; background: #D1E1BD url(/i/jscrollpane_arrow_up.gif) no-repeat 0 top}
a.jScrollArrowUp:hover { /*background-color: #f60;*/}
a.jScrollArrowDown { display: block; position: absolute; z-index: 1; bottom: 0; right: 0; text-indent: -2000px; overflow: hidden; height: 16px; background: url(/i/jscrollpane_arrow_down.gif) no-repeat 0 bottom}
a.jScrollArrowDown:hover { /*background-color: #f60;*/}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover { background-color: #f00}

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer {	overflow: hidden; position: relative; }
.jspPane { position: absolute; }
.jspVerticalBar {	position: absolute; top: 0; right: 0; width: 14px; height: 100%; background: #D1E1BD; }
.jspHorizontalBar { position: absolute; bottom: 0; left: 0; width: 100%; height: 16px; background: red; }
.jspVerticalBar *, .jspHorizontalBar * { margin: 0; padding: 0; }
.jspCap { }
.jspCapTop { display: none }
.jspCapBottom { display: none }
.jspHorizontalBar .jspCap { float: left; }
.jspTrack {	cursor: pointer; right: 0; top: 0; height: 100%; background: #D1E1BD; width: 12px; position: relative; }
/*.jspDrag { background: #bbd; position: relative; top: 0; left: 0;	cursor: pointer; }*/
.jspDrag { position: relative; top: 0; left: 0; background: #9ECA6C url(/i/jscrollpane_bg.gif) repeat-y; cursor: pointer; overflow: hidden; border: 1px solid #80B444; width: 12px }
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag { float: left; height: 100%; }
.jspArrow { background: #50506d; text-indent: -20000px; display: block; cursor: pointer; }
.jspArrowUp { display: block; z-index: 1; top: 0; right: 0; text-indent: -2000px; overflow: hidden; height: 16px; background: #D1E1BD url(/i/jscrollpane_arrow_up.gif) no-repeat 0 top }
.jspArrowDown { display: block; z-index: 1; bottom: 0; right: 0; text-indent: -2000px; overflow: hidden; height: 16px; background: url(/i/jscrollpane_arrow_down.gif) no-repeat 0 bottom }

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}