/*
にほんブログ村スタイルシート
*/

/*■タグ・スタイル
--------------------------------------------------*/

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
/*  color: #1111CC;*/
}

a:link {color: #1111CC;}
a:hover {text-decoration: underline;}
a:visited {color: #551A8B;}

div,p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

img {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: middle;
}

ul,
ol,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none outside;
}

table {
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
  vertical-align: middle;
}

tr,
td,
th {
  padding: 0;
  vertical-align: middle;
}

form,
input {
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

/*■タグ共通スタイル
--------------------------------------------------*/
input.text{padding:3px 2px;font-size:90%;}
input.submit{padding:2px 1px;}
input.textarea{height:1.0em;padding:3px 2px;font-size:90%;}

/*■Wigetコンテンツ tableスタイル
--------------------------------------------------*/
.listtable1 {width:100%;border:1px solid #e1e1e1;}
.listtable1 tr {vertical-align:middle;}
.listtable1 tr.title {background-color:#f3f3f3;text-align:center;}
.listtable1 th {vertical-align:middle;text-align:center;width:1%;padding: 0.5em 0 0.5em 1.0em;}
.listtable1 td {vertical-align:middle;padding: 0.5em 1.0em 0.5em 1.0em;}

.bgcolor {background-color:#f1f1f1;}
.narrow1nb {width:1%;padding:9px;text-align:center;border:1px solid #d1d1d1;white-space:nowrap;}
.narrow1 {width:1%;padding:9px;border:1px solid #d1d1d1;}
.broad {width:50%;padding:9px;border:1px solid #d1d1d1;}


/*■フォームベースデザイン
--------------------------------------------------*/
form.form-basestyle input.text{width:300px;height:1.0em;padding:2px;font-size:110%;}
form.form-basestyle input.password{width:300px;height:1.0em;padding:2px;font-size:110%;}
form.form-basestyle input.radio{}
form.form-basestyle input.checkbox{}
form.form-basestyle input.file{width:300px;padding:2px;font-size:110%;}
form.form-basestyle select.select{}
form.form-basestyle option.option{}
form.form-basestyle textarea.textarea{width:300px;height:4.0em;padding:2px;}
form.form-basestyle input.submit{padding:2px;}


/*■ヘッダー・スタイル
--------------------------------------------------*/
#header {
  margin-bottom: 0;
}

#header-upper {
  margin: 0 0 3px;
  padding: 4px 4px 2px;
  font-size: 80%;
  border-bottom: 1px solid #f1f1f1;
  background-color: #fafafa;
}

ul#header-navi {
  float: right;
  margin: -1.3em 0 0 0;
  padding: 0 0 0 0;
  text-align: right;
/*  _position: relative;*/
  z-index: 1000;
}

  ul#header-navi li.list-info {padding: 1px 0 1px 20px;margin-left: 6px;background: url(http://www.blogmura.com/img/infoyaji.gif) no-repeat left center;display: inline;}
  ul#header-navi li.list-help {padding: 1px 0 1px 20px;margin-left: 6px;background: url(http://www.blogmura.com/img/question.gif) no-repeat left center;display: inline;}

#header-logo {
  position: relative;
height: 50px;/*募集バナー対応*/
  margin: 0 0 5px;
}

.header-favorite {
  position: absolute;
  top: 3px;
  right: 12px;
}

#header-smp-change a {
  display: block;
  padding: 20px;
  margin: 0 auto;
  text-align:center;
  text-decoration: none;
  color:#f6f6f6;
  font-weight:bold;
  font-size: 50px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border: 1px solid #8bbe20;
  border-radius: 6px;
  box-shadow: inset 0 1px 1px white, inset -1px -1px 1px #9ccf31;
  background-color:#9ccf31; 
  background:-moz-linear-gradient(rgba(156,207,49,0.8), rgba(156,207,49,1));
  background:-webkit-gradient(linear, 100% 0%, 100% 100%, from(rgba(156,207,49,0.8)), to(rgba(156,207,49,1)));
}

#header-wapper {
  margin: 0 12px;
}

#contents-navi {
  margin: 0 0 3px;
  font-size: 80%;
  clear: both;
}

#contents-navi table {
  width: 100%;
  text-align: center;
}

#contents-navi table tr {
  vertical-align: middle;
}

  #contents-navi td.nb {width: 500px;padding: 5px 4px 4px 4px;border: 1px solid #e1e1e1;border-bottom: 2px solid #0066ff;background-color: #fafafa;/*background-color: #f0f7ff;*/white-space: nowrap;vertical-align: middle;}
  #contents-navi td.no {width: 500px;padding: 5px 4px 4px 4px;border: 1px solid #e1e1e1;border-bottom: 2px solid #ff9900;background-color: #fafafa;/*background-color: #fff7f0;*/white-space: nowrap;vertical-align: middle;}
  #contents-navi td.ng {width: 500px;padding: 5px 4px 4px 4px;border: 1px solid #e1e1e1;border-bottom: 2px solid #66cc66;background-color: #fafafa;/*background-color: #f4ffdf;*/white-space: nowrap;vertical-align: middle;}
  #contents-navi td:hover {width: 500px;padding: 5px 4px 4px 4px;border: 1px solid #e1e1e1;border-bottom: 2px solid #e1e1e1;background-color: #ffffff;white-space: nowrap;vertical-align: middle;z-index: 1000;}

.search-area {
  padding: 4px 0;
  margin-bottom: 6px;
  text-align: center;
  background-color: #f6f6f6;
/*background-color: #ebf7d3;*/
  border:3px solid #fafafa;
}

.search-area input {
  padding: 1px;
}

.search-area span {
  padding: 0 3px;
  font-size: 90%;
  font-weight: bold;
  color: #333333;
  letter-spacing: 0.4em;
}

.search-area a {
  padding: 0 3px;
  font-size: 90%;
  font-weight: bold;
}

.search-area input.search-area-text {
  padding: 3px 2px;
  width: 240px;
  border: 1px solid #7F9DB9;
/*border: 1px solid #99cc66;*/
  font-size: 90%;
}

.search-area select {
  padding: 2px 2px;
  vertical-align: middle;
  font-size: 90%;
}

#topic-path {
  margin-bottom: 1.0em;
  font-size: 80%;
}

#topic-path h2{
  display: inline;
  margin: 0 0.5em 0 0;
}

#topic-path h3{
  display: inline;
  margin: 0 0.5em 0 0.5em;
}

#topic-path span {
  font-weight: bold;
}

.siteinfo {
    text-align: center;
    font-size: 80%;
  margin-bottom: 1.0em;
}

/*■コンテンツエリア・共通スタイル
--------------------------------------------------*/

#content {
  margin: 0 3% 9px;
  font-size: 80%;
  line-height: 1.4em;
  clear: both;
}

#contentsolid {
  width:800px;
  margin: 0 auto 9px;
  font-size: 80%;
  line-height: 1.4em;
  clear: both;
}

#partition {
  width: 100%;
  border: 0;
  border-collapse: collapse;
}

  #partition tr {vertical-align: top;}
  #partition td.left150 {width: 150px;padding: 0 9px 0 0;vertical-align: top;}
  #partition td.left200 {width: 200px;padding: 0 9px 0 0;vertical-align: top;}
  #partition td.left300 {width: 300px;padding:0 9px 0 0;vertical-align: top;}
  #partition td.left50p {width:50%;padding:0 9px 0 0;vertical-align: top;}
  #partition td.center {width:100%;padding:0 0 0 0;vertical-align: top;}
  #partition td.center50p {width:50%;padding:0 0 0 0;vertical-align: top;}
  #partition td.right300 {width: 300px;padding:0 0 0 9px;vertical-align: top;}
  #partition td.right150 {width: 150px;padding: 0 0 0 9px;vertical-align: top;}
  #partition td.right125 {width: 125px;padding: 0 0 0 9px;vertical-align: top;}

/*■ul・olリスト・スタイル
--------------------------------------------------*/
ul.list-inline,
ul.list-block,
ol.list-inline,
ol.list-block {
  list-style: none outside;
}

    ul.list-inner {list-style: none outside;}
    ul.list-inner li {display: inline;}

ul.list-inline li,
ol.list-inline li {
  display: inline;
}

ul.list-block li,
ol.list-block li {
  display: block;
}

li.list-info,
span.list-info {padding: 1px 6px 1px 20px;background: url(http://www.blogmura.com/img/infoyaji.gif) no-repeat left center;display:inline-block;white-space:nowrap;}

li.list-help,
span.list-help {padding: 1px 6px 1px 20px;background: url(http://www.blogmura.com/img/question.gif) no-repeat left center;display:inline-block;}

li.list-keyword,
span.list-keyword {padding: 1px 1.0em 1px 16px;background: url(http://www.blogmura.com/img/keyword-icon.gif) no-repeat left center;display:inline-block;}

li.list-house,
span.list-house {padding: 1px 6px 1px 18px;background: url(http://www.blogmura.com/img/house-icon16.gif) no-repeat left center;display:inline-block;}

li.list-search,
span.list-search {padding: 1px 6px 1px 18px;background: url(http://www.blogmura.com/img/search-icon16.gif) no-repeat left center;display:inline-block;}

li.list-cont,
span.list-cont {padding: 1px 6px 1px 0;display:inline-block;}

li.list-check,
span.list-check {padding: 1px 6px 1px 20px;background: url(http://www.blogmura.com/img/check.gif) no-repeat left center;}

li.list-item,
span.list-item {padding: 1px 6px 1px 20px;}/*■背景画像無しの行頭揃え用*/

li.list-header,
span.list-header {padding-right:2.0em;}

li.list-point,
span.list-point {margin:0;padding:2px;border: 2px solid #ffcc00;background: #ffffe6;font-weight:bold;}

li.list-pointnb,
span.list-pointnb {margin:0;padding:2px;border: 2px solid #ffffe6;background: #ffffe6;}

li.list-checkbox,
span.list-checkbox {}
    li.list-checkbox span,
    span.list-checkbox span {padding:0 0.4em;display:inline-block;}
    li.list-checkbox input,
    span.list-checkbox input {margin-right:4px;}


/*□　羅列系のリストスタイル*/
li.list-menu {padding: 1px 6px 1px 0;white-space:nowrap;}

li.list-pict {padding-right:6px;}
li.list-entrypict {padding-right:12px;display:inline;color:#666666;}

ul li.list-menu {padding:0 0.4em 0 0.8em;border-right:1px solid #d1d1d1;}

ul li.link {margin-left: 3px;padding: 1px 9px 1px 9px;}


/*■注意喚起　エラー　スタイル
--------------------------------------------------*/
.attention {
  margin: 0 0 9px 0;
  padding: 9px 18px;
  border: 2px solid #ffa8a8;
  background: #fff9f9 url(http://www.blogmura.com/img/bgattention.gif) no-repeat right center;
}

  ul.attention li {list-style: disc inside;}
  ol.attention li {list-style: decimal inside;}

.advice {
  margin: 0 0 9px 0;
  padding: 9px 18px;
  border: 2px solid #9acd32;
  background: #f4ffdf url(http://www.blogmura.com/img/bgadvice.gif) no-repeat right center;
}

  ul.advice li {list-style: disc inside;}
  ol.advice li {list-style: decimal inside;}

.report {float:right;}
.report a {color:#cccccc;font-weight:normal;font-size:12px;}


/*■ページインデックス　スタイル
--------------------------------------------------*/
/* 基本 */
div.page-tab {clear: both;padding-bottom:9px;}
div.page-tab ul {padding:9px 0;text-align:center;}
div.page-tab li {display:inline;font-size:110%;font-weight: bold;}
div.page-tab li span.target {padding: 5px 6px 4px 7px;border: 2px solid #313131;background-color: #616161;color:#ffffff;}
div.page-tab li a span {padding: 5px 6px 4px 7px;border: 2px solid #c1c1c1;background-color: #f1f1f1;}
div.page-tab li a span:hover {color:#ffffff;padding: 5px 6px 4px 7px;border: 2px solid #616161;background-color: #ff9900;text-decoration: none;}

/* 枠無し */
div.page-tab-nb {clear: both;padding-bottom:3px;}
div.page-tab-nb ul {padding: 6px;text-align: center;}
div.page-tab-nb li {display:inline;font-size:100%;font-weight:bold;}
div.page-tab-nb li span.target {color:#ffffff;padding: 5px 6px 4px 7px;border: 2px solid #ffffff;background-color: #616161;}
div.page-tab-nb li a span {padding: 5px 6px 4px 7px;border: 2px solid #ffffff;background-color: #ffffff;}
div.page-tab-nb li a span:hover {color: #ffffff;padding: 5px 6px 4px 7px;border: 2px solid #ffffff;background-color: #ff9900;text-decoration: none;}

/* ヘッダー枠無し */
div.page-tab-hdnb {clear: both;}
div.page-tab-hdnb ul {padding: 6px;text-align: center;}
div.page-tab-hdnb li {font-weight: bold;font-size: 100%;display: inline;}
div.page-tab-hdnb li span.target {color:#ffffff;padding: 3px 6px 2px 7px;border: 2px solid #ffffff;background-color: #616161;}
div.page-tab-hdnb li a span {padding: 3px 6px 2px 7px;border: 2px solid #ffffff;background-color: #ffffff;}
div.page-intabdex-hdnb li a span:hover {color: #ffffff;padding: 3px 6px 2px 7px;border: 2px solid #ffffff;background-color: #ff9900;text-decoration: none;}

/* ラージ */
div.page-tab-large {clear: both;padding-bottom:9px;}
div.page-tab-large ul {padding:9px 0;text-align:right;}
div.page-tab-large li {display:inline;font-weight:bold;font-size:180%;}
div.page-tab-large li a span {padding:6px;border:2px solid #ffffff;background-color:#fafafa;}
div.page-tab-large li a span:hover {color:#ffffff;padding:6px;border:2px solid #ffffff;background-color:#ff9900;text-decoration: none;}

/* 枠無 細字 noborder normal */
div.page-tab-nbnw {clear: both;padding-bottom:0px;}
div.page-tab-nbnw ul {padding: 6px;text-align: center;}
div.page-tab-nbnw li {display:inline;font-size:100%;font-weight:normal;}
div.page-tab-nbnw li span.target {color:#000;padding: 5px 6px 4px 7px;border: 2px solid #ffffff;background-color: #e1e1e1;}
div.page-tab-nbnw li a span {padding: 5px 6px 4px 7px;border: 2px solid #ffffff;background-color: #ffffff;}
div.page-tab-nbnw li a span:hover {color: #ffffff;padding: 5px 6px 4px 7px;border: 2px solid #ffffff;background-color: #ff9900;text-decoration: none;}

div.page-tab div.page-tab-form,
div.page-tab-nb div.page-tab-form,
div.page-tab-hdnb div.page-tab-form {
  float:right;
  margin:0.3em;
}
  .page-tab-form span {
    vertical-align:middle;
  }
  .page-tab-form form {
    display:inline;
  }


/*■Wigetスタイル 共通
--------------------------------------------------*/
.widget-wapper {clear:both;padding-bottom:9px;}
.widget-footer-inner div.footer-info {text-align:right;margin:0 3px 0;font-weight:bold;}

/*■トラックバック系 共通スタイル*/
span.tbentry-count,span.tbentry-count a{padding:1px 2px;font-weight:bold;color:#ff3333;background-color:#ffdddd;letter-spacing: 0em;margin-left:0.5em;}
span.date-cout{color:#666666;}
span.date{color:#666666;font-weight:normal;padding-right:0.5em;}
span.count{font-weight:normal;padding-left:1.0em;color:#666666;}


/*■プロフィールアイコン 共通スタイル*/
span.prof-icon,
span.favo-icon {padding:0 0 0 0.3em;}

span.item {padding-left:1.0em;vertical-align:middle;}

/*■トラコミュ機能エリア*/
.tb-area {padding:6px;background-color:#ffffff;}
.tb-area form {padding:2px;}

/*■Wigetタイトル・スタイル
--------------------------------------------------*/

/* title type1 color Blue */
.ttl1Blue .widget {}
.ttl1Blue .widget-inner {}
.ttl1Blue .widget-title {clear:both;background-color:#fafafa;border-bottom:3px solid #f1f1f1;border-right:2px solid #f1f1f1;}
.ttl1Blue .widget-title-inner {padding:4px;border-left:15px solid #0066ff;border-bottom:1px solid #c1c1c1;}
  .ttl1Blue .widget-title-inner h3 {font-size:110%;padding-left:6px;}
  .ttl1Blue .widget-title-inner ul {text-align:right;margin:-1.3em 0 0 1.0em;color:#616161;}
  .ttl1Blue .widget-title-inner ul li {display:inline;padding-left:0.5em;}

/* title type1 color Green */
.ttl1Green .widget {}
.ttl1Green .widget-inner {}
.ttl1Green .widget-title {clear:both;background-color:#fafafa;border-bottom:3px solid #f1f1f1;border-right:2px solid #f1f1f1;}
.ttl1Green .widget-title-inner {padding:4px;border-left:15px solid #66cc00;border-bottom:1px solid #c1c1c1;}
  .ttl1Green .widget-title-inner h3 {font-size:110%;padding-left:6px;}
  .ttl1Green .widget-title-inner ul {text-align:right;margin:-1.3em 0 0 1.0em;color:#616161;}
  .ttl1Green .widget-title-inner ul li {display:inline;padding-left:0.5em;}


/* title type1 color Orange */
.ttl1Orange .widget {}
.ttl1Orange .widget-inner {}
.ttl1Orange .widget-title {clear:both;background-color:#fafafa;border-bottom:3px solid #f1f1f1;border-right:2px solid #f1f1f1;}
.ttl1Orange .widget-title-inner {padding:4px;border-left:15px solid #ff9900;border-bottom:1px solid #c1c1c1;}
  .ttl1Orange .widget-title-inner h3 {font-size:110%;padding-left:6px;}
  .ttl1Orange .widget-title-inner ul {text-align:right;margin:-1.3em 0 0 1.0em;color:#616161;}
  .ttl1Orange .widget-title-inner ul li {display:inline;padding-left:0.5em;}

/* title type2 color Blue */
.ttl2Blue .widget {}
.ttl2Blue .widget-inner {}
.ttl2Blue .widget-title {clear:both;background-color:#fafafa;border-top:2px solid #f9f9f9;border-bottom:3px solid #f1f1f1;border-right:2px solid #f1f1f1;}
.ttl2Blue .widget-title-inner {padding: 4px 4px 4px 6px;border-bottom:1px solid #c1c1c1;border-left:1px solid #f1f1f1;}
  .ttl2Blue .widget-title-inner h3 {font-size:110%;padding-left:6px;border-left:18px solid #0066ff;}
  .ttl2Blue .widget-title-inner ul {text-align:right;margin:-1.3em 0 0 1.0em;color:#616161;}
  .ttl2Blue .widget-title-inner ul li {display:inline;padding-left:0.5em;}

/* title type2 color Green */
.ttl2Green .widget {}
.ttl2Green .widget-inner {}
.ttl2Green .widget-title {clear:both;background-color:#fafafa;border-top:2px solid #f9f9f9;border-bottom:3px solid #f1f1f1;border-right:2px solid #f1f1f1;}
.ttl2Green .widget-title-inner {padding: 4px 4px 4px 6px;border-bottom:1px solid #c1c1c1;border-left:1px solid #f1f1f1;}
  .ttl2Green .widget-title-inner h3 {font-size:110%;padding-left:6px;border-left:18px solid #66cc00;}
  .ttl2Green .widget-title-inner ul {text-align:right;margin:-1.3em 0 0 1.0em;color:#616161;}
  .ttl2Green .widget-title-inner ul li {display:inline;padding-left:0.5em;}

/* title type2 color Orange */
.ttl2Orange .widget {}
.ttl2Orange .widget-inner {}
.ttl2Orange .widget-title {clear:both;background-color:#fafafa;border-top:2px solid #f9f9f9;border-bottom:3px solid #f1f1f1;border-right:2px solid #f1f1f1;}
.ttl2Orange .widget-title-inner {padding: 4px 4px 4px 6px;border-bottom:1px solid #c1c1c1;border-left:1px solid #f1f1f1;}
  .ttl2Orange .widget-title-inner h3 {font-size:110%;padding-left:6px;border-left:18px solid #ff9900;}
  .ttl2Orange .widget-title-inner ul {text-align:right;margin:-1.3em 0 0 1.0em;color:#616161;}
  .ttl2Orange .widget-title-inner ul li {display:inline;padding-left:0.5em;}

/* title type2 color Gray */
.ttl2Gray .widget {}
.ttl2Gray .widget-inner {}
.ttl2Gray .widget-title {clear:both;background-color:#fafafa;border-top:2px solid #f9f9f9;border-bottom:3px solid #f1f1f1;border-right:2px solid #f1f1f1;}
.ttl2Gray .widget-title-inner {padding: 4px 4px 4px 6px;border-bottom:1px solid #c1c1c1;border-left:1px solid #f1f1f1;}
  .ttl2Gray .widget-title-inner h3 {font-size:110%;padding-left:6px;border-left:18px solid #e1e1e1;}
  .ttl2Gray .widget-title-inner ul {text-align:right;margin:-1.3em 0 0 1.0em;color:#616161;}
  .ttl2Gray .widget-title-inner ul li {display:inline;padding-left:0.5em;}

/* title type2 color Brown */
.ttl2Brown .widget {}
.ttl2Brown .widget-inner {}
.ttl2Brown .widget-title {clear:both;background-color:#fafafa;border-top:2px solid #f9f9f9;border-bottom:3px solid #f1f1f1;border-right:2px solid #f1f1f1;}
.ttl2Brown .widget-title-inner {padding: 4px 4px 4px 6px;border-bottom:1px solid #c1c1c1;border-left:1px solid #f1f1f1;}
  .ttl2Brown .widget-title-inner h3 {font-size:110%;padding-left:6px;border-left:18px solid #804000;}
  .ttl2Brown .widget-title-inner ul {text-align:right;margin:-1.3em 0 0 1.0em;color:#616161;}
  .ttl2Brown .widget-title-inner ul li {display:inline;padding-left:0.5em;}

/* title type3 color Orange */
.ttl3Orange .widget {font-size:120%;}
.ttl3Orange .widget-inner {border-top:3px solid #ff6600;}
.ttl3Orange .widget-title {clear:both;padding:8px;border-bottom:1px solid #e1e1e1;background-color:#FFEECC;}
.ttl3Orange .widget-title-inner {}
  .ttl3Orange .widget-title-inner h3 {font-size:100%;padding-left:6px;}
  .ttl3Orange .widget-title-inner ul {text-align:right;margin:-1.3em 0 0 1.0em;color:#616161;}
  .ttl3Orange .widget-title-inner ul li {display:inline;padding-left:0.5em;}

/* title type3 color Blue */
.ttl3Blue .widget {font-size:120%;}
.ttl3Blue .widget-inner {border-top:3px solid #0066ff;}
.ttl3Blue .widget-title {clear:both;padding:8px;border-bottom:1px solid #e1e1e1;background-color:#CCEEFF;}
.ttl3Blue .widget-title-inner {}
  .ttl3Blue .widget-title-inner h3 {font-size:100%;padding-left:6px;}
  .ttl3Blue .widget-title-inner ul {text-align:right;margin:-1.3em 0 0 1.0em;color:#616161;}
  .ttl3Blue .widget-title-inner ul li {display:inline;padding-left:0.5em;}

/* title type3 color Purple */
.ttl3Purple .widget {font-size:120%;}
.ttl3Purple .widget-inner {border-top:3px solid #8a2be2;}
.ttl3Purple .widget-title {clear:both;padding:8px;border-bottom:1px solid #e1e1e1;background-color:#f7f0ff;}
.ttl3Purple .widget-title-inner {}
  .ttl3Purple .widget-title-inner h3 {font-size:100%;padding-left:6px;}
  .ttl3Purple .widget-title-inner ul {text-align:right;margin:-1.3em 0 0 1.0em;color:#616161;}
  .ttl3Purple .widget-title-inner ul li {display:inline;padding-left:0.5em;}

/* title type3 color Gray */
.ttl3Gray .widget {font-size:120%;}
.ttl3Gray .widget-inner {border-top:3px solid #a1a1a1;}
.ttl3Gray .widget-title {clear:both;padding:8px;border-bottom:1px solid #e1e1e1;background-color:#f1f1f1;}
.ttl3Gray .widget-title-inner {}
  .ttl3Gray .widget-title-inner h3 {font-size:100%;padding-left:6px;}
  .ttl3Gray .widget-title-inner ul {text-align:right;margin:-1.3em 0 0 1.0em;color:#616161;}
  .ttl3Gray .widget-title-inner ul li {display:inline;padding-left:0.5em;}

/* title type4 color Green */
.ttl4Green .widget {}
.ttl4Green .widget-inner {}
.ttl4Green .widget-title {clear:both;padding:1.0em 2px;}
.ttl4Green .widget-title-inner {border-left:18px solid #DEEFBA;padding-left:1.0em;}
  .ttl4Green .widget-title-inner h3 {font-size:150%;padding-left:6px;}
  .ttl4Green .widget-title-inner ul {text-align:right;margin:-1.3em 0 0 1.0em;color:#616161;}
  .ttl4Green .widget-title-inner ul li {display:inline;padding-left:0.5em;}

/* title type5 color Blue */
.ttl5Blue .widget {font-size:120%;}
.ttl5Blue .widget-inner {}
.ttl5Blue .widget-title {clear:both;padding:8px;border-top:3px solid #0066ff;border-bottom:1px solid #e1e1e1;background-color:#fafafa;}
.ttl5Blue .widget-title-inner {}
  .ttl5Blue .widget-title-inner h3 {font-size:100%;padding-left:6px;}
  .ttl5Blue .widget-title-inner span {display:block;float:right;margin:-1.3em 0 0 0;}
.ttl5Blue .widget-cont {clear:both;}
.ttl5Blue .widget-cont-inner {padding:12px;border-bottom:1px solid #e1e1e1;}


/* title bottom nemu Biue */

/* title bottom nemu Green */

/* title bottom nemu Orange */



/*■Wiget-title-footer・スタイル ヘッダー直下のメニュー
--------------------------------------------------*/
.widget-title-footer {clear:both;margin: 0 0 9px 0;padding: 9px 18px;border: 2px solid #ffa8a8;}


/*■Wigetコンテンツ・スタイル
--------------------------------------------------*/
/* contents type listcont */
.listcont .widget-cont {clear:both;}
.listcont .widget-cont-inner {padding:6px;}

.listcont .widget-footer {}
.listcont .widget-footer-inner {}
  .listcont .widget-footer ul.list-block {}
  .listcont .widget-footer p {clear:both;}

/* contents type listcont2 */
.listcont2 .widget-cont {clear:both;}
.listcont2 .widget-cont-inner {padding:6px;}

.listcont2 .widget-cont-inner ul {}
.listcont2 .widget-cont-inner li {line-height:1.6em;}
.listcont2 .widget-cont-inner li span {font-weight:bold;}

.listcont2 .widget-footer {}
.listcont2 .widget-footer-inner {}
  .listcont2 .widget-footer ul.list-block {}
  .listcont2 .widget-footer p {clear:both;}

/* contents type grid */
.grid .widget-cont {clear:both;}
.grid .widget-cont-inner {border-top:1px solid #e1e1e1;border-left:1px solid #e1e1e1;}
  .grid .widget-cont table {width:100%;vertical-align:middle;}
  .grid .widget-cont tr {vertical-align:middle;}
  .grid .widget-cont th {vertical-align:top;padding: 0 6px 6px 6px;text-align:center;font-weight:normal;size:100%;color:#333333;border-right:1px solid #d1d1d1;border-bottom:1px solid #d1d1d1;width:1%;}
  .grid .widget-cont td {vertical-align:middle;padding: 12px 11px 3px 11px;text-align:center;border-right:1px solid #d1d1d1;width:1%;}

.grid .widget-footer {margin-top:-1px;}
.grid .widget-footer-inner {border:1px solid #d1d1d1;}
  .grid .widget-footer ul.list-block {float:right;margin:3px;}
  .grid .widget-footer p {clear:both;}

/* contents type grid ･････ thのコメント・タイトル無し ･････ */
.grid1 .widget-cont {clear:both;}
.grid1 .widget-cont-inner {}
  .grid1 .widget-cont table {width:100%;vertical-align:middle;}
  .grid1 .widget-cont tr {vertical-align:middle;}
  .grid1 .widget-cont td {vertical-align:middle;padding: 12px 11px;text-align:center;border: 1px solid #d1d1d1;width:1%;}

.grid1 .widget-footer {margin-top:-1px;}
.grid1 .widget-footer-inner {border:1px solid #d1d1d1;}
  .grid1 .widget-footer ul.list-block {float:right;margin:3px;}
  .grid1 .widget-footer p {clear:both;}


/*■Wigetスタイル square1
--------------------------------------------------*/
.square1 .widget {border: 3px solid #e1e1e1;}
.square1 .widget-inner {border: 1px solid #b1b1b1;}
.square1 .widget-title {clear:both;background-color:#fafafa;}
.square1 .widget-title-inner {padding: 6px;}

  .square1 .widget-title-inner h3 {font-size:100%;padding-left:6px;}
  .square1 .widget-title-inner ul {text-align:right;margin:-1.3em 0 0 1.0em;color:#616161;}
  .square1 .widget-title-inner ul li {display:inline;padding-left:0.5em;}

.square1 .widget-cont {clear:both;border-color:#b1b1b1;}
.square1 .widget-cont-inner {padding:4px;border:1px solid #d1d1d1;}

.square1 .widget-cont-inner p {margin:0.5em 1.0em;}
.square1 .widget-cont-inner ul {margin:0.5em 1.0em;}
.square1 .widget-cont-inner h2 {font-size:110%;margin:0.5em 1.0em;}


/*■Wigetスタイル square2
--------------------------------------------------*/
.square2 .widget {}
.square2 .widget-inner {border:3px solid #ff6600;}

.square2 .widget-title {clear:both;background-color:#ff6600;}
.square2 .widget-title-inner {padding: 6px;}

  .square2 .widget-title-inner h3 {font-size:120%;padding-left:6px;color:#ffffff;}
  .square2 .widget-title-inner ul {text-align:right;margin:-1.3em 0 0 1.0em;}
  .square2 .widget-title-inner ul li {display:inline;padding-left:0.5em;}

.square2 .widget-cont {clear:both;}
.square2 .widget-cont-inner {padding:4px;}


/*■Wigetスタイル square3
--------------------------------------------------*/
.square3 .widget {border: 3px solid #e1e1e1;}
.square3 .widget-inner {border: 1px solid #b1b1b1;}
.square3 .widget-title {clear:both;background-color:#fafafa;}
.square3 .widget-title-inner {padding: 6px;}

  .square3 .widget-title-inner h3 {font-size:1.4em;padding:0.3em;}
  .square3 .widget-title-inner ul {text-align:right;margin:-1.8em 0 0 1.0em;color:#616161;}
  .square3 .widget-title-inner ul li {display:inline;padding-left:0.5em;}

.square3 .widget-cont {clear:both;border-color:#b1b1b1;}
.square3 .widget-cont-inner {padding:0 1.0em;border:1px solid #d1d1d1;}

.square3 .widget-cont-inner .description {margin:1.0em 0 0.5em;font-size:1.1em;line-height:1.4em;}
.square3 .widget-cont-inner .description a {font-size: 0.9em;}
.square3 .widget-cont-inner .newsdate {margin:0 1.0em;font-size:1.2em;line-height:1.4em;}

.square3 .widget-cont-inner {}

.square3 .widget-cont-inner .desc-info {margin:1.0em;}

.square3 .widget-cont-inner .entry-info {margin:1.0em 0;}
.square3 .widget-cont-inner .entry-info h4 {background: #FAFAFA;padding:0.5em 1.0em;border-top:3px solid #E1E1E1;}
.square3 .widget-cont-inner .entry-info div {margin: 1.0em;}

.square3 .widget-cont-inner .entry-info p {}
.square3 .widget-cont-inner .entry-info form {margin-left: 1.0em;}


.widget-tbarea {margin:1.0em;}
.widget-tbarea form {margin-left:1.0em;}


/*■Wigetスタイル omikuji
--------------------------------------------------*/
.omikuji .widget {border:2px solid #ffeecc;}
.omikuji .widget-inner {}

.omikuji .widget-title {clear:both;background-color:#ffde99;}
.omikuji .widget-title-inner {padding:3px;}

  .omikuji .widget-title-inner h3 {font-size:110%;}
  .omikuji .widget-title-inner ul {text-align:right;margin:-1.3em 0 0 1.0em;}
  .omikuji .widget-title-inner ul li {display:inline;padding-left:0.5em;}

.omikuji .widget-cont {clear:both;}
.omikuji .widget-cont-inner {padding:3px;}
.omikuji .widget-cont-inner h3 {font-size:110%;}
.omikuji .widget-cont-inner h4 {}
.omikuji .widget-cont-inner p.dai {font-size:110%;font-weight:bold;margin:0.5em;}
.omikuji .widget-cont-inner p.chu {}
.omikuji .widget-cont-inner p.chu a {}

/*■カテゴリー・サブカテ一覧・スタイル
--------------------------------------------------*/
.category .widget {clear:both;border:2px solid #fafafa;}
.category .widget-inner {border:1px solid #e1e1e1;}

.category .widget-title {border-bottom:1px solid #e1e1e1;}
.category .widget-title-inner {padding: 4px 9px 3px 9px;background-color:#f1f1f1;}
  .category .widget-title-inner h3 {font-size:110%;}
  .category .widget-title-inner ul {text-align:right;margin:-1.3em 0 0 1.0em;color:#616161;}
  .category .widget-title-inner ul li {display:inline;padding-left:18px;}


.category .widget-cont {clear:both;}
.category .widget-cont-inner {}
  .category .widget-cont table {vertical-align:top;width:100%;}
  .category .widget-cont tr {vertical-align:top;}
  .category .widget-cont tr.bgcolor {vertical-align:top;background-color:#f9f9f9;}
  .category .widget-cont th {padding:3px 0 3px 0.8em;text-align:left;white-space:nowrap;vertical-align:top;line-height:1.6em;}
  .category .widget-cont td {vertical-align:middle;line-height:1.5em;padding:2px 0 2px 0.9em;}
  .category .widget-cont td.sidelist {vertical-align:middle;line-height:1.6em;padding:3px 0 3px 0.8em;border-bottom:1px solid #e1e1e1;}
  .category .widget-cont td h4 {}
  .category .widget-cont td ul {}
  .category .widget-cont td ul li {float:left;margin:0 12px 0 0;}
  .category .widget-cont td ul li a {}
  .category .widget-cont td ul li a span {white-space:nowrap;}
  .category .widget-cont td ul li a span.new {white-space:nowrap;padding-left:30px;background: url(http://www.blogmura.com/img/new.gif) no-repeat left center;}

/*■Wigetスタイル side-search
--------------------------------------------------*/
.side-form .widget {}
.side-form .widget-inner {}
.side-form .widget-title {clear:both;border-top: 4px solid #66CC00;border-bottom: 1px solid #dddddd;}
.side-form .widget-title-inner {padding: 6px;}

  .side-form .widget-title-inner h3 {font-size:110%;padding-left:6px;}
  .side-form .widget-title-inner ul {text-align:right;margin:-1.5em 0 0 1.0em;color:#616161;}
  .side-form .widget-title-inner ul li {display:inline;padding-left:0.5em;}

.side-form .widget-cont {clear:both;}
.side-form .widget-cont-inner {}

.side-form .widget-cont table {width:100%;}
.side-form .widget-cont tr {}
.side-form .widget-cont th {white-space:nowrap;width:1%;vertical-align:top;padding:6px 3px 3px;}
.side-form .widget-cont td {vertical-align:top;padding-top:3px;}
.side-form .widget-cont td div {padding-bottom:3px;}
.side-form .widget-cont td.buttom {text-align:center;padding:6px 3px 6px 3px;}

.side-form .widget-footer {padding:6px 3px;border-bottom: 1px solid #dddddd;}
.side-form .widget-footer-inner {}
.side-form .widget-footer-inner p {padding:3px;}
.side-form .widget-footer-inner div {text-align:center;}
.side-form .widget-footer-inner div a {font-weight:bold;}


/*■　仮　カテゴリー・サブカテ一覧・スタイル
--------------------------------------------------*/
.catelist .widget {clear:both;}
.catelist .widget-inner {}

.catelist .widget-title {border-top:3px solid #c1c1c1;}
.catelist .widget-title-inner {padding: 4px 9px 3px 9px;background-color:#f1f1f1;}
  .catelist .widget-title-inner h3 {font-size:100%;}
  .catelist .widget-title-inner ul {text-align:right;margin:-1.3em 0 0 1.0em;color:#616161;}
  .catelist .widget-title-inner ul li {display:inline;padding-left:0.5em;}

.catelist .widget-cont {clear:both;}
.catelist .widget-cont-inner {}

    .catelist .widget-cont dl {}

    .catelist .widget-cont dt {clear:both;padding:0.2em;font-weight:bold;}
    .catelist .widget-cont dd {padding:0.2em;line-height:1.6em;border-bottom:2px solid #f1f1f1;}

    .catelist .widget-cont dd ul {}
    .catelist .widget-cont dd ul li {float:left;margin-right:1.2em;}
/*
    .catelist .widget-cont dd ul li a {padding:0 2px;display:inline-block;}
*/

    .catelist .widget-cont dl.ranking dd ul li a {display:inline-block;padding:0 0px 0 14px;background: url(http://www.blogmura.com/img/r_icon.gif) no-repeat left center;}
    .catelist .widget-cont dl.profile dd ul li a {display:inline-block;padding:0 2px 0 16px;background: url(http://www.blogmura.com/img/p_icon.gif) no-repeat left center;}
    .catelist .widget-cont dl.board dd ul li a {display:inline-block;padding:0 2px 0 16px;background: url(http://www.blogmura.com/img/b_icon.gif) no-repeat left center;}
    .catelist .widget-cont dl.arrival dd ul li a {display:inline-block;padding:0 2px 0 16px;background: url(http://www.blogmura.com/img/e_icon.gif) no-repeat left center;}
    .catelist .widget-cont dl.recent dd ul li a {display:inline-block;padding:0 2px 0 16px;background: url(http://www.blogmura.com/img/n_icon.gif) no-repeat left center;}
    .catelist .widget-cont dl.tracommu dd ul li a {display:inline-block;padding:0 2px 0 16px;background: url(http://www.blogmura.com/img/t_icon.gif) no-repeat left center;}
    .catelist .widget-cont dl.keyword dd ul li a {display:inline-block;padding:0 2px 0 16px;background: url(http://www.blogmura.com/img/k_icon.gif) no-repeat left center;}

    .catelist .widget-cont dl dd ul li a span {white-space:nowrap;}
    .catelist .widget-cont dl dd ul li a:hover span {white-space:nowrap;background-color:#e1e1e1;}

/*
    .catelist .widget-cont dl.ranking dd ul li a span {padding-left:16px;background: url(http://www.blogmura.com/img/r_icon.gif) no-repeat left center;}
    .catelist .widget-cont dl.profile dd ul li a span {padding-left:16px;background: url(http://www.blogmura.com/img/p_icon.gif) no-repeat left center;}
    .catelist .widget-cont dl.board dd ul li a span {padding-left:16px;background: url(http://www.blogmura.com/img/b_icon.gif) no-repeat left center;}
    .catelist .widget-cont dl.arrival dd ul li a span {padding-left:16px;background: url(http://www.blogmura.com/img/e_icon.gif) no-repeat left center;}
    .catelist .widget-cont dl.recent dd ul li a span {padding-left:16px;background: url(http://www.blogmura.com/img/n_icon.gif) no-repeat left center;}
    .catelist .widget-cont dl.tracommu dd ul li a span {padding-left:16px;background: url(http://www.blogmura.com/img/t_icon.gif) no-repeat left center;}
*/

.catelist .widget-footer {clear:both;border-bottom:2px solid #f1f1f1;}
.catelist .widget-footer-inner {padding-top:3px;}


/*■各トップ・ランキングエリア・スタイル
--------------------------------------------------*/
.ranking1 .widget {clear:both;}
.ranking1 .widget-inner {padding-top:6px;}

.ranking1 .widget-title {}
.ranking1 .widget-title-inner {}
  .ranking1 .widget-title-inner h3 {font-size:110%;}
  .ranking1 .widget-title-inner ul {text-align:right;margin:-1.3em 0 0 1.0em;color:#616161;}
  .ranking1 .widget-title-inner ul li {display:inline;padding-left:0.5em;}

.ranking1 .widget-cont {clear:both;}
.ranking1 .widget-cont-inner {}
  .ranking1 .widget-cont table {vertical-align:middle;width:100%;}
  .ranking1 .widget-cont tr {vertical-align:middle;}
  .ranking1 .widget-cont tr.bgcolor {vertical-align:middle;background-color:#f6f6f6;}
  .ranking1 .widget-cont th {text-align:right;white-space:nowrap;vertical-align:middle;width:1%;padding:0.2em 0.6em;}
  .ranking1 .widget-cont td {vertical-align:middle;padding:0.2em;}

.ranking1 .widget-footer {border-bottom:1px solid #f1f1f1;}
.ranking1 .widget-footer-inner {border-bottom:3px solid #fafafa;}
  .ranking1 .widget-footer-inner div.footer-info {text-align:right;margin:3px 3px;font-weight:bold;}

.mainranking {font-size:110%;}


/*■Wigetスタイル badge1
--------------------------------------------------*/
.badge1 .widget {clear:both;border:1px solid #d1d1d1;}
.badge1 .widget-inner {background-color:#f1f1f1;padding:6px 12px 3px 12px;}

.badge1 .widget-title {clear:both;}
.badge1 .widget-title-inner {}

  .badge1 .widget-title-inner h3 {font-size:110%;padding-left:6px;}
  .badge1 .widget-title-inner span {display:block;float:right;margin:-1.3em 0 0 0;}

.badge1 .widget-cont {clear:both;margin-bottom:3px;text-align:center;border:1px solid #e1e1e1;}
.badge1 .widget-cont-inner {padding:6px 12px;background-color:#ffffff;}

  .badge1 .widget-cont p {margin-top:6px;}

.badge1 .widget-footer {text-align:center;}
.badge1 .widget-footer-inner {}

  .badge1 .widget-footer ul.list-block {}
  .badge1 .widget-footer p {}

.badge1 .widget-addition {text-align:center;border-top:1px solid #e1e1e1;}
.badge1 .widget-addition-inner {}

  .badge1 .widget-addition ul.list-block {}
  .badge1 .widget-addition p {}


/*■Wigetスタイル badge2
--------------------------------------------------*/
.badge2 .widget {clear:both;}
.badge2 .widget-inner {border:6px solid #9ACD32;}

.badge2 .widget-cont {clear:both;}
.badge2 .widget-cont-inner {padding:6px;}

.badge2 .widget-cont-inner h3 {}
.badge2 .widget-cont-inner p {}
.badge2 .widget-cont-inner div {text-align:center;font-weight:bold;padding:6px 0;}

/*■Wigetスタイル badge3
--------------------------------------------------*/
.badge3 .widget {clear:both;border:1px solid #d1d1d1;background-color:#f1f1f1;}
.badge3 .widget-inner {}

.badge3 .widget-title {}
.badge3 .widget-title-inner {text-align:center;margin-top:3px;}

  .badge3 .widget-title-inner h3 {font-size:110%;padding:0 18px;}
  .badge3 .widget-title-inner span {display:block;float:right;margin:-1.3em 0 0 0;}

.badge3 .widget-cont {border:1px solid #d1d1d1;background-color:#ffffff;padding:9px 0;margin: 3px 18px;}
.badge3 .widget-cont-inner {width:180px;text-align:center;margin:0 auto;}
.badge3 .badge3-wapper {width:180px;height:180px;display:table-cell;text-align:center;vertical-align:middle;layout-grid-line:180px;}
.badge3 .widget-cont-inner img {vertical-align:middle;}

.badge3 .widget-footer {text-align:center;}
.badge3 .widget-footer-inner {margin-bottom:3px;}

  .badge3 .widget-footer {}
  .badge3 .widget-footer p {clear:both;}

/*■Wigetスタイル renewal1
--------------------------------------------------*/

.renewal1 .widget-cont {clear:both;}
.renewal1 .widget-cont-inner {}

  .renewal1 .widget-cont table {width:100%;vertical-align:top;}
  .renewal1 .widget-cont tr {vertical-align:top;}
  .renewal1 .widget-cont th {vertical-align:top;padding:6px;width:25%;border:1px solid #e1e1e1;font-weight:normal;text-align:left;white-space:nowrap;background-color:#EEFFDD;}
  .renewal1 .widget-cont th span {display:block;text-align:right;margin:-1.3em 0 0 0;color:#616161;}
  .renewal1 .widget-cont td {vertical-align:top;padding:6px;border:1px solid #e1e1e1;}

  .renewal1 ul li ul {display: inline;padding-left:1.0em;}/* ul li ul入れ子改行解除 */
  .renewal1 .entry-keyword {color:#666666;}
  .renewal1 .entry-keyword a {color:#666666;}

.renewal1 .widget-footer {text-align:center;}
.renewal1 .widget-footer-inner {}

  .renewal1 .widget-footer ul.list-block {}
  .renewal1 .widget-footer p {}


/*■Wigetスタイル rankingpoint1
--------------------------------------------------*/
.rankingpoint1 .widget-cont {clear:both;}
.rankingpoint1 .widget-cont-inner {}

  .rankingpoint1 .widget-cont table {width:100%;vertical-align:top;}
  .rankingpoint1 .widget-cont tr {vertical-align:top;}
  .rankingpoint1 .widget-cont th {vertical-align:top;text-align:center;padding:6px;border:1px solid #e1e1e1;font-weight:normal;background-color:#EEFFDD;}
  .rankingpoint1 .widget-cont td {vertical-align:top;text-align:right;padding:6px;border:1px solid #e1e1e1;}

.rankingpoint1 .widget-footer {text-align:center;}
.rankingpoint1 .widget-footer-inner {}

  .rankingpoint1 .widget-footer ul.list-block {}
  .rankingpoint1 .widget-footer p {}


/*■Wigetスタイル sidemenu1
--------------------------------------------------*/
.sidemenu1 .widget {background-color:#d1d1d1;padding:4px 6px;}
.sidemenu1 .widget-inner {}

.sidemenu1 .widget-title {clear:both;padding-top:6px;}
.sidemenu1 .widget-title-inner {padding: 6px;border-width:2px 1px 0 1px;border-style: solid;border-color: #ffffff;background-color:#f1f1f1;}

  .sidemenu1 .widget-title-inner h3 {font-size:100%;padding-left:6px;}
  .sidemenu1 .widget-title-inner span {display:block;float:right;margin:-1.3em 0 0 0;}

.sidemenu1 .widget-cont {clear:both;padding-bottom:6px;}
.sidemenu1 .widget-cont-inner {padding:4px;background-color:#ffffff;}


/*■Wigetスタイル sidemenu2
--------------------------------------------------*/
.sidemenu2 .widget {border:2px solid #ddeebb;background-color:#EEFFDD;}
.sidemenu2 .widget-inner {}

.sidemenu2 .widget-cont {clear:both;}
.sidemenu2 .widget-cont-inner {}

  .sidemenu2 .widget-cont dl {margin:8px 10px;}
  .sidemenu2 .widget-cont dt {font-weight:bold;font-size:110%;}
  .sidemenu2 .widget-cont dd {margin:2px 0;}
    .sidemenu2 .widget-cont dd ul {margin-left:1.0em;}
    .sidemenu2 .widget-cont dd ul li {padding-top:1px;padding-bottom:1px;}
    .sidemenu2 .widget-cont dd ul li.list-check {font-weight:bold;}


/*■エントリーエリア・スタイル
--------------------------------------------------*/
.arrival1 .widget-cont {clear:both;}
.arrival1 .widget-cont-inner {}
  .arrival1 .widget-cont table {vertical-align:top;width:100%;border:1px solid #e1e1e1;}
  .arrival1 .widget-cont tr {vertical-align:top;}
  .arrival1 .widget-cont tr.bgcolor {vertical-align:top;background-color:#f3f3f3;}
  .arrival1 .widget-cont th {text-align:center;vertical-align:middle;width:1%;padding: 0.5em 0 0.5em 1.0em;font-weight:normal;white-space:nowrap;}
  .arrival1 .widget-cont td {vertical-align:top;padding: 0.5em 1.0em 0.5em 1.0em;}
  .arrival1 .widget-cont td.button {vertical-align:middle;width:1%;padding: 0.5em;}

.arrival1 .widget-footer {border-bottom:1px solid #e1e1e1;}
.arrival1 .widget-footer-inner {border-bottom:3px solid #fafafa;}
  .arrival1 .widget-footer-inner div.footer-info {text-align:right;margin:3px 3px;font-weight:bold;}

.arrival1 .widget-cont-inner div.winentry {background:#ffd700;padding: 3px 6px 6px 6px;text-align:center;}
.arrival1 .widget-cont-inner div.winentry span {font-weight:bold;font-size:110%;font-family:font-family:Verdana, Osaka , “ＭＳ Ｐゴシック”,sans-serif;;}
.arrival1 .widget-cont-inner div.winentry img {display: block;margin:3px auto 0 auto;}


/*■エントリーエリア・スタイル　簡易エントリ
--------------------------------------------------*/
.arrival2 .widget-cont {clear:both;border-top:1px solid #d1d1d1;}
.arrival2 .widget-cont-inner {}
  .arrival2 .widget-cont dl {line-height:1.4em;}
  .arrival2 .widget-cont dt {padding:0 3px;}
  .arrival2 .widget-cont dd {padding:0 3px;text-align:right;color:#666666;}
  .arrival2 .widget-cont dd.description {padding:0 3px 0 3.2em;text-align:left;color:#333333;}
.arrival2 .widget-footer {border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;}
.arrival2 .widget-footer-inner {border-bottom:3px solid #fafafa;}

/*■太字・arrivalコンテンツ
--------------------------------------------------*/
.bold-arrival .widget-cont {clear:both;border-top:1px solid #d1d1d1;}
.bold-arrival .widget-cont-inner {border-bottom:1px solid #d1d1d1;}
  .bold-arrival .widget-cont ul {}
  .bold-arrival .widget-cont li {padding:0 3px;font-weight: bold;font-size:1.2em;padding:0.6em 0.5em;}

/*■ランキング・グリッド・スタイル
--------------------------------------------------*/
.ranking-grid .widget-cont {clear:both;}
.ranking-grid .widget-cont-inner {}
  .ranking-grid .widget-cont table {vertical-align:middle;width:100%;}
  .ranking-grid .widget-cont tr {vertical-align:top;}
  .ranking-grid .widget-cont tr.bgcolor {vertical-align:top;background-color:#f3f3f3;}
  .ranking-grid .widget-cont tr.title {white-space:nowrap;text-align:center;background-color:#0066ff;color:#ffffff;font-weight:bold;}
  .ranking-grid .widget-cont tr.title th {white-space:nowrap;text-align:center;padding: 0.5em 0.2em;}
  .ranking-grid .widget-cont tr.title td {white-space:nowrap;text-align:center;padding: 0.5em 0.2em;}
  .ranking-grid .widget-cont td {border:1px solid #e1e1e1;vertical-align:middle;padding: 0.8em 0.5em 0.8em 0.8em;}
  .ranking-grid .widget-cont td.rank {border:1px solid #e1e1e1;vertical-align:middle;text-align:center;font-weight:bold;font-size:110%;padding: 0.4em;white-space:nowrap;}
  .ranking-grid .widget-cont td.point {border:1px solid #e1e1e1;vertical-align:middle;text-align:center;padding: 0.2em;white-space:nowrap;}
  .ranking-grid .widget-cont th {border:1px solid #e1e1e1;vertical-align:middle;text-align:center;padding: 0.8em 0.5em 0.8em 0.5em;}
  /* Chrome44対策 */
  .ranking-grid .widget-cont td:nth-child(4) {width:46px;}


/*■エントリーリスト・スタイル
--------------------------------------------------*/
.entry-list{}
.entry-title {margin-bottom:0.2em;font-weight:bold;font-size:110%;}
.entry-titleitem {font-weight:bold;font-size:100%;}

.entry-rankingtitle {margin-bottom:0.2em;font-weight:bold;font-size:130%;}

.entry-disc{margin-bottom:0.2em;}
.entry-discitem{margin-left:0.5em;}

.entry-listitem{margin-left:0.5em;color:#666666}

.entry-blogtitle{color:#333333;}
  .entry-date{float:right;font-size:100%;font-weight:normal;color:#999999;}

.entry-pict{display: inline;}
.entry-item {}
.entry-item ul {display:inline;}

.entry-arrival {font-size:90%;}


/*■Wigetスタイル keyword1
--------------------------------------------------*/
.keyword1 .widget {border: 3px solid #d6c1ff;}
.keyword1 .widget-inner {border: 1px solid #b1b1b1;}
.keyword1 .widget-title {clear:both;background-color:#fafafa;}
.keyword1 .widget-title-inner {padding: 6px;}

  .keyword1 .widget-title-inner h3 {font-size:100%;padding-left:6px;}
  .keyword1 .widget-title-inner span {display:block;float:right;margin:-1.3em 0 0 0;}

.keyword1 .widget-cont {clear:both;border-color:#b1b1b1;}
.keyword1 .widget-cont-inner {padding: 1.0em;border:1px solid #d1d1d1;}

  .keyword1 .new-expl {padding-bottom:1.5em;font-size:110%;}

  .keyword1 .last-expl {padding-bottom:1.5em;}
    .keyword1 .last-expl li {padding: 3px 0 3px 1.0em;}
    .keyword1 .last-expl li.list-title {padding: 6px 0 6px 1.0em;border-top:4px solid #d6c1ff;background:#fafafa;}
  .keyword1 .expl-disc {padding:1.0em;border:1px solid #bc7aff;background:#fafafa;}

.keyword-title {padding:6px;font-size:160%;border-bottom:3px dashed #bc7aff;}

.keyword-qr {float:right;margin:0 0 9px 2.0em;padding:9px;background:#f7f0ff;}
.keyword-qr img {float:left;padding-right:9px;}
.keyword-qr h3 {display:inline;font-size:120%;}
.keyword-qr p {}

/*■Ground　スタイル
--------------------------------------------------*/
.related-keyword .widget {font-size:120%;}
.related-keyword .widget-inner {}

.related-keyword .widget-title {clear:both;padding:8px;border-top:3px solid #8a2be2;border-bottom:1px solid #e1e1e1;background-color:#f7f0ff;}
.related-keyword .widget-title-inner {}

  .related-keyword .widget-title-inner h3 {font-size:100%;padding-left:6px;}
  .related-keyword .widget-title-inner span {display:block;float:right;margin:-1.3em 0 0 0;}

.related-keyword .widget-cont {clear:both;}
.related-keyword .widget-cont-inner {padding:12px;border-bottom:1px solid #e1e1e1;}


/*■トーナメントトップ・スタイル
--------------------------------------------------*/
/*.tournament1 .widget {border:3px solid #CCEEFF;}*/
/*.tournament1 .widget {background-color:#FFEECC;}*/
.tournament1 .widget {font-size:110%;}
  .tournament1 .widget-title-inner h3 {font-size:110%;}
.tournament1 .widget-cont {clear:both;}
.tournament1 .widget-cont-inner {padding:6px;}

.tournament1 .widget-cont-inner .tmt-title {margin: 6px 0;font-weight:bold;font-size:110%;}
.tournament1 .widget-cont-inner .tmt-badge {float:right;padding: 0 6px 6px;margin-bottom:6px;}
.tournament1 .widget-cont-inner .tmt-disc {padding-bottom:6px;}

.tournament1 .widget-cont-inner .tmt-item {clear:both;padding-bottom:6px;margin: 0 0 6px 0.5em;font-weight:bold;}
.tournament1 .widget-cont-inner .tmt-item li {display:inline;padding:4px 1.0em 2px 1.0em;}
    .ttl3Orange .widget-cont-inner .tmt-item li.limit-title {color:#ffffff;background-color:#ff6600;}
    .ttl3Blue .widget-cont-inner .tmt-item li.limit-title {color:#ffffff;background-color:#0066ff;}
.tournament1 .widget-cont-inner .tmt-item li.limit-date {}
.tournament1 .widget-cont-inner .tmt-item li.item-title {border:1px solid #e1e1e1;background-color:#fafafa;}
.tournament1 .widget-cont-inner .tmt-item li.item-data {}

/*■トーナメントインフォ・スタイル
--------------------------------------------------*/
.tournament2 .widget-cont {clear:both;}
.tournament2 .widget-cont-inner {padding:6px 6px 0 6px;}

.tournament2 .widget-cont-inner .tracommu-badge {float:left;width:192px;padding:12px;border:1px solid #e1e1e1;background-color:#fafafa;}
.tournament2 .widget-cont-inner dl {margin-left:218px;padding-left:12px;}
.tournament2 .widget-cont-inner dt {padding-left:24px;font-size:110%;background: url(http://www.blogmura.com/img/bluedotto.gif) no-repeat left center;}
.tournament2 .widget-cont-inner dd {padding:0.5em 0 1.0em 24px;}
.tournament2 .widget-cont-inner dd.tracommu-disc {font-size:110%;}

.tournament2 .widget-footer {clear:both;}
.tournament2 .widget-footer-inner {}
  .tournament2 .widget-footer-inner div.footer-info {}



/*■トーナメント・votearea・スタイル
--------------------------------------------------*/
.voteare .widget {}
.voteare .widget-inner {border:3px solid #FFA600;}

.voteare .widget-title {clear:both;background-color:#FFA600;}
.voteare .widget-title-inner {padding: 6px;}
  .voteare .widget-title-inner h3 {font-size:120%;padding-left:6px;color:#ffffff;}
  .voteare .widget-title-inner ul {text-align:right;margin:-1.3em 0 0 1.0em;}
  .voteare .widget-title-inner ul li {display:inline;padding-left:0.5em;}
  .voteare .widget-title-inner h4 {text-align:right;}

.voteare .widget-cont {clear:both;}
.voteare .widget-cont-inner {padding:8px;}
.voteare .widget-cont-inner table {}
.voteare .widget-cont-inner tr {vertical-align:top;}
.voteare .widget-cont-inner th {text-align:center;vertical-align:middle;padding:0 9px;font-weight:normal;}
.voteare .widget-cont-inner td {vertical-align:top;width:50%;font-size:110%;}
.voteare .widget-cont-inner td h3 {margin:0.5em 0;}
.voteare .widget-cont-inner td div.prof-badge {float:left;padding: 0 1em 0.5em 0;}
.voteare .widget-cont-inner td p {}

span.vote-button,
a.vote-button{
display: block;
width:200px;
text-align:center;
font-weight:bold;
margin:0.5em auto;
padding:0.5em;
border: 2px solid #FFD280;
background-color: #f1f1f1;
}

span.vote-button:hover,
a.vote-button:hover{
display: block;
width:200px;
color:#ffffff;
text-align:center;
font-weight:bold;
margin:0.5em auto;
padding:0.5em;
border: 2px solid #FFD280;
background-color: #ff6600;
}

a.draw-button{
display: block;
text-align:center;
padding:0.5em;
border: 2px solid #f1f1f1;
background-color: #f1f1f1;
}

a.draw-button:hover{
display: block;
text-align:center;
padding:0.5em;
border: 2px solid #FFD280;
background-color: #FFD280;
}


.button1 {text-align:center;background-color:#FFEECC;padding:3px;}
.button1 h3 {font-size:1.2em;padding:3px;}
.button1 p {font-size:0.95em;}



/*■　リンク取得・スタイル
--------------------------------------------------*/
.getlink .widget {clear:both;border:2px solid #fafafa;}
.getlink .widget-inner {border:1px solid #e1e1e1;}

.getlink .widget-title {border-bottom:1px solid #e1e1e1;}
.getlink .widget-title-inner {padding: 4px 9px 3px 9px;background-color:#f1f1f1;}
  .getlink .widget-title-inner h3 {font-size:100%;}
  .getlink .widget-title-inner ul {text-align:right;margin:-1.3em 0 0 1.0em;color:#616161;}
  .getlink .widget-title-inner ul li {display:inline;padding-left:0.5em;}

.getlink .widget-cont {clear:both;}
.getlink .widget-cont-inner {}
.getlink .widget-cont-inner p {padding:6px;}
.getlink .widget-cont-inner form {padding:6px;}

.getlink .widget-footer {}
.getlink .widget-footer-inner {}


/*■スタイル
--------------------------------------------------*/
.groundbox1 .widget {clear:both;border:2px solid #fafafa;}
.groundbox1 .widget-inner {border:1px solid #e1e1e1;}

.groundbox1 .widget-title {border-bottom:1px solid #e1e1e1;}
.groundbox1 .widget-title-inner {padding: 4px 9px 3px 9px;background-color:#FFF0D5;}
  .groundbox1 .widget-title-inner h3 {font-size:100%;}
  .groundbox1 .widget-title-inner ul {text-align:right;margin:-1.3em 0 0 1.0em;color:#616161;}
  .groundbox1 .widget-title-inner ul li {display:inline;padding-left:0.5em;}

.groundbox1 .widget-cont {clear:both;}
.groundbox1 .widget-cont-inner {padding: 6px 12px;}

.groundbox1 .widget-footer {}
.groundbox1 .widget-footer-inner {}
    .groundbox1 .widget-footer-inner p {clear:both;}


/*■フォメーション1・スタイル
--------------------------------------------------*/
.information1 .widget-cont {clear:both;}
.information1 .widget-cont-inner {padding-top:6px;}

.information1 .image-badge {float:left;width:192px;}
.information1 .image-badge table {background-color:#fafafa;vertical-align:middle;text-align:center;width:192px;height:192px;border:0;}
.information1 .image-badge tr {vertical-align:middle;}
.information1 .image-badge td {vertical-align:middle;text-align:center;}

.information1 .info-area {margin-left:201px;}
.information1 .info-area div.info-disc {border:1px solid #e1e1e1;padding:1.0em 0.5em 1.5em 0.5em;font-size:105%;word-break:break-all;word-break:break-word;/*２重指定はChromeのみ使えるbreak-wordへの対応*/}
.information1 .info-area div.info-cont {border-width:0 1px 1px 1px;border-style:solid;border-color:#e1e1e1;padding:0.5em;}

    /*■フォメーション2・スタイル プロフィールのDLDTDD導入テスト
    --------------------------------------------------*/
    .information2 .widget-cont {clear:both;}
    .information2 .widget-cont-inner {padding-top:6px;}

    .information2 .image-badge {float:left;width:192px;text-align:center;}
    .information2 .image-badge table {background-color:#fafafa;vertical-align:middle;text-align:center;width:192px;height:192px;border:0;}
    .information2 .image-badge tr {vertical-align:middle;}
    .information2 .image-badge td {vertical-align:middle;text-align:center;}

    .information2 .info-area {margin-left:201px;}

    .information2 .info-area table {vertical-align:top;}
    .information2 .info-area tr {vertical-align:top;}
    .information2 .info-area th {vertical-align:top;padding:0.2em 0.5em;border:1px solid #e1e1e1;font-weight:normal;white-space:nowrap;background-color:#eeffcc;}
    .information2 .info-area td {vertical-align:top;padding:0.2em 0.5em;border:1px solid #e1e1e1;width:99%;}

    .information2 .info-area dl {border-width:1px 1px 0 1px;border-style:solid;border-color:#e1e1e1;}
    .information2 .info-area dt {border-bottom:1px solid #e1e1e1;padding: 3px 3px 3px 0.5em;}
    .information2 .info-area dd {border-bottom:1px solid #e1e1e1;padding: 9px 3px 9px 1.5em;}


/*■トラコミュインフォメーション・スタイル
--------------------------------------------------*/
.tracommu1 .widget-cont {clear:both;}
.tracommu1 .widget-cont-inner {padding-top:6px;}

.tracommu1 .widget-cont-inner .image-badge {float:left;}
.tracommu1 .widget-cont-inner .image-badge table {border:0;width:192px;height:192px;vertical-align:middle;text-align:center;background-color:#fafafa;border:0;}
.tracommu1 .widget-cont-inner .image-badge tr {border:0;vertical-align:middle;}
.tracommu1 .widget-cont-inner .image-badge td {vertical-align:middle;}

    .tracommu1 .widget-cont-inner .image-badge-center {text-align:center;}
    .tracommu1 .widget-cont-inner .image-badge-center table {border:0;width:192px;height:192px;vertical-align:middle;text-align:center;background-color:#fafafa;border:0;}
    .tracommu1 .widget-cont-inner .image-badge-center tr {border:0;vertical-align:middle;}
    .tracommu1 .widget-cont-inner .image-badge-center td {vertical-align:middle;}

.tracommu1 .widget-cont-inner .disc {margin-left:201px;}
.tracommu1 .widget-cont-inner .disc table {width:auto;}
.tracommu1 .widget-cont-inner .disc th {font-size:105%;line-height:1.4em;font-weight:normal;text-align:left;padding: 1.0em 1.0em 1.0em 1.0em;border:1px solid #d1d1d1;}
.tracommu1 .widget-cont-inner .disc td {text-align:left;padding:0.5em 1.0em;border:1px solid #d1d1d1;}

.tracommu1 .widget-footer {clear:both;}
.tracommu1 .widget-footer-inner {text-align:center;}


/*■Wigetコンテンツ・スタイル gridtable1
--------------------------------------------------*/
.gridtable1 .widget-cont {clear:both;}
.gridtable1 .widget-cont-inner {}

  .gridtable1 .widget-cont table {width:100%;vertical-align:top;}
  .gridtable1 .widget-cont tr {vertical-align:top;}
  .gridtable1 .widget-cont th {vertical-align:top;width:20%;text-align:center;padding:6px;border:1px solid #e1e1e1;background-color:#ddEEFF;}
  .gridtable1 .widget-cont td {vertical-align:top;text-align:left;padding:6px;border:1px solid #e1e1e1;}

.gridtable1 .widget-footer {text-align:center;}
.gridtable1 .widget-footer-inner {}

  .gridtable1 .widget-footer ul.list-block {}
  .gridtable1 .widget-footer p {}


/*■管理系メニュー　スタイル
--------------------------------------------------*/
.manage-menu .widget {font-size:100%;}
.manage-menu .widget-inner {}
.manage-menu .widget-title {clear:both;padding:8px;border-top:3px solid #a347ff;border-bottom:1px solid #e1e1e1;background-color:#f7f0ff;}
.manage-menu .widget-title-inner {}
  .manage-menu .widget-title-inner h3 {font-size:100%;padding-left:6px;}
  .manage-menu .widget-title-inner span {display:block;float:right;margin:-1.3em 0 0 0;}
.manage-menu .widget-cont {clear:both;}
.manage-menu .widget-cont-inner {}

.manage-menu .widget-cont dl {}
.manage-menu .widget-cont dt {padding:4px;border:1px solid #d1d1d1;background-color:#9acd32;font-weight:bold;color:#ffffff;}
.manage-menu .widget-cont dd {margin-bottom:9px;}
.manage-menu .widget-cont dd ul {}
.manage-menu .widget-cont dd ul li {border-left:1px solid #d1d1d1;border-bottom:1px solid #d1d1d1;border-right:1px solid #d1d1d1;}
.manage-menu .widget-cont dd ul li a {display:block;padding:4px;}
.manage-menu .widget-cont dd ul li span {display:block;padding:4px;background-color:#eeffcc;font-weight:bold;}
.manage-menu .widget-cont dd ul li a:hover {background-color:#eeffcc;}

/*複数登録エリアのCSS*/
.manage-menu .widget-cont dd ol {padding-left:4px;padding-right:4px;border-left:1px solid #d1d1d1;border-bottom:1px solid #d1d1d1;border-right:1px solid #d1d1d1;}
.manage-menu .widget-cont dd ol li {padding-top:4px;padding-bottom:4px;}
.manage-menu .widget-cont dd ol li a {}
.manage-menu .widget-cont dd ol li span {}
.manage-menu .widget-cont dd ol li a:hover {}


/*■カテゴリー・サブカテ一覧・スタイル
--------------------------------------------------*/
.chiiki .widget {clear:both;border:2px solid #fafafa;}
.chiiki .widget-inner {border:1px solid #e1e1e1;}

.chiiki .widget-title {border-bottom:1px solid #e1e1e1;}
.chiiki .widget-title-inner {padding: 4px 9px 3px 9px;background-color:#f1f1f1;}
  .chiiki .widget-title-inner h3 {font-size:110%;}
  .chiiki .widget-title-inner ul {text-align:right;margin:-1.3em 0 0 1.0em;color:#616161;}
  .chiiki .widget-title-inner ul li {display:inline;padding-left:18px;}


.chiiki .widget-cont {clear:both;}
.chiiki .widget-cont-inner {}
  .chiiki .widget-cont table {vertical-align:top;width:100%;}
  .chiiki .widget-cont caption {padding:0.2em 0.5em;}
  .chiiki .widget-cont tr {vertical-align:top;}
  .chiiki .widget-cont th {padding:0.3em 0.5em;text-align:center;white-space:nowrap;vertical-align:top;}
  .chiiki .widget-cont th.title {font-size:1.1em;padding:0.3em 0.5em;text-align:left;white-space:nowrap;vertical-align:top;}
  .chiiki .widget-cont td {vertical-align:middle;padding:0.3em 0.5em;}
  .chiiki .widget-cont td ul li {float:left;padding:0 0.5em;}
  .chiiki .widget-cont td ul li a {white-space: nowrap;}




/*■manage-cont　スタイル
--------------------------------------------------*/
.manage-cont .widget-cont {clear:both;font-size:90%;}
.manage-cont .widget-cont-inner {}

    .manage-cont .widget-cont .inner-wapper {clear:both;margin-bottom:3.0em;}

.manage-cont .widget-cont h3 {margin:1.0em 0.5em;padding-left:0.5em;border-left:1.4em solid #c1c1c1;}
.manage-cont .widget-cont p {margin:1.0em 0.5em;}
.manage-cont .widget-cont div.form-wapper {margin:0.5em 0;padding:0.5em;text-align:center;}
.manage-cont .widget-cont input {font-size:100%;}

.manage-cont .widget-cont table {width:100%;font-size:90%;}
.manage-cont .widget-cont tr {}
.manage-cont .widget-cont tr.title {background-color:#f1f1f1;text-align:center;}
.manage-cont .widget-cont th {width:34%;padding:9px;border:1px solid #d1d1d1;background-color:#f1f1f1;}
.manage-cont .widget-cont td {width:66%;padding:9px;border:1px solid #d1d1d1;}
.manage-cont .widget-cont th p,
.manage-cont .widget-cont td p {font-weight:normal;color:#313131;}
.manage-cont .widget-cont .narrow1nb {width:1%;padding:9px;text-align:center;border:1px solid #d1d1d1;white-space:nowrap;}
.manage-cont .widget-cont .narrow1 {width:1%;padding:9px;border:1px solid #d1d1d1;}
.manage-cont .widget-cont .broad {width:50%;padding:9px;border:1px solid #d1d1d1;}


/*･････　entry-pict管理　･････*/
/*--------------------------------------------------*/
.manage-pict-wapper {font-size:0.9em;}
.manage-pict-inner {float:left;margin:6px;padding:12px;text-align:center;background-color:#f1f1f1;height:100px;}
.manage-pict {width:76px;height:76px;}
.manage-pict-check {margin:0.5em;}


/*･････　news_topic　･････*/
/*--------------------------------------------------*/
ul.news_topic li {padding: 0.1em 0;}

/*■Wigetコンテンツ・スタイル joincomp
--------------------------------------------------*/
.joincomp .widget-cont {clear:both;}
.joincomp .widget-cont-inner {}

    .joincomp .widget-cont table {width:100%;vertical-align:middle;border-width:1px 1px 0 1px;border-style:solid;border-color:#c1c1c1;}
    .joincomp .widget-cont tr {vertical-align:middle;}
    .joincomp .widget-cont th {vertical-align:middle;padding:12px;border-bottom:1px solid #c1c1c1;font-weight:normal;white-space:nowrap;}
    .joincomp .widget-cont th.title {vertical-align:middle;padding:12px;border-bottom:1px solid #c1c1c1;font-weight:bold;white-space:nowrap;}
    .joincomp .widget-cont td {vertical-align:middle;padding:12px;border-bottom:1px solid #c1c1c1;}
    .joincomp .widget-cont td textarea,
    .joincomp .widget-cont td textarea.text,
    .joincomp .widget-cont td input.text {width:60%;vertical-align:middle;font-size:13px;}

    .joincomp .widget-cont p {margin:1.0em 0.5em;}
    .joincomp .widget-cont div.form-wapper {padding:0.5em;text-align:left;}

/*■Wigetコンテンツ・スタイル make-contents　コンテンツ作成用フォーム統一書式
--------------------------------------------------*/
/* formタグの書式は form.form-basestyle にて定義 */

.make-contents .widget-cont {clear:both;}
.make-contents .widget-cont-inner {}

    .make-contents .widget-cont div.info {padding:1.0em;}
    .make-contents .widget-cont div.info .font-black {font-weight:bold;}
    .make-contents .widget-cont div.info .font-red {color:red;font-weight:bold;}
    .make-contents .widget-cont div.info .font-green {color:green;font-weight:bold;}

    .make-contents .widget-cont table {width:100%;vertical-align:top;}
    .make-contents .widget-cont tr {vertical-align:top;}
    .make-contents .widget-cont th {vertical-align:top;width:33%;white-space:nowrap;padding:1.0em;border:1px solid #e1e1e1;background-color:#f1f1f1;}
    .make-contents .widget-cont th span {padding-left:0.5em;font-weight:normal;color:red;}
    .make-contents .widget-cont th p {font-weight:normal;}
    .make-contents .widget-cont th p a {font-weight:bold;}
    .make-contents .widget-cont td {vertical-align:top;width:67%;padding:1.0em;border:1px solid #e1e1e1;}
    .make-contents .widget-cont td span {padding:0 0.5em;}
    .make-contents .widget-cont td p {margin:0.2em 0 0 0.5em;}
    .make-contents .widget-cont td div {margin:0.2em 0 0 0.5em;color:red;}

    .make-contents .widget-cont div.form-wapper {padding:1.0em;text-align:center;}
    .make-contents .widget-cont span.submit-wapper {padding:0.5em 1.0em;}
    .make-contents .widget-cont span.submit-wapper-point {padding:0.5em 1.0em;border:2px solid #ffa8a8;background-color:#fff9f9;}


/*■Wigetコンテンツ・スタイル joininput
--------------------------------------------------*/
.joininput {width:80%;margin:0 auto;}
.joininput .widget-cont {clear:both;}
.joininput .widget-cont-inner {}

    .joininput .widget-cont div.info {padding:1.0em;}
    .joininput .widget-cont div.info .font-black {font-weight:bold;}
    .joininput .widget-cont div.info .font-red {color:red;font-weight:bold;}
    .joininput .widget-cont div.info .font-green {color:green;font-weight:bold;}

    .joininput .widget-cont table {width:100%;vertical-align:middle;}
    .joininput .widget-cont tr {vertical-align:middle;}
    .joininput .widget-cont th {vertical-align:middle;width:33%;white-space:nowrap;padding:1.0em;border:2px solid #ffffff;background-color:#DEEFBA;}
    .joininput .widget-cont th span {padding-left:0.5em;font-weight:normal;color:red;}
    .joininput .widget-cont th p {font-weight:normal;}
    .joininput .widget-cont th p a {font-weight:bold;}
    .joininput .widget-cont td {vertical-align:middle;width:67%;padding:1.0em;border:2px solid #ffffff;background-color:#EFEFEF;}
    .joininput .widget-cont td span {padding:0 0.5em;}
    .joininput .widget-cont td p {margin:0.2em 0 0 0.5em;}
    .joininput .widget-cont td div {margin:0.2em 0 0 0.5em;color:red;}

    .joininput .widget-cont div.form-wapper {padding:1.0em;text-align:center;}
    .joininput .widget-cont span.submit-wapper {padding:0.5em 1.0em;}
    .joininput .widget-cont span.submit-wapper-point {padding:0.5em 1.0em;border:2px solid #ffa8a8;background-color:#fff9f9;}

/*■トラコミュトップ　スタイル
--------------------------------------------------*/
.pickup-commu .widget-cont {}
.pickup-commu .widget-cont .alpha-block {
	float: left;
	padding: 12px 0;
	width: 200px;
	text-align: center;
}

.pickup-commu .widget-cont .beta-block {
	padding: 12px 0;
	margin-left: 200px;
}

.pickup-commu .beta-block dl {
	margin-bottom: 12px;
}

.pickup-commu .beta-block dt {
	font-size: 1.4em;
	font-weight: bold;
	margin-bottom: 6px;
}

.pickup-commu .beta-block ul {
	margin-bottom: 12px;
}

.pickup-commu .beta-block div.tbarea {
	padding: 1.0em;
	text-align: center;
	background-color: #FFF2BE;
}

.pickup-commu .beta-block div.tbarea p {
	text-align: left;
	padding-bottom: 0.5em;
}

.pickup-commu .beta-block div.tbarea form {
}

/* トラコミュサイドスタイル
-------------------------------------------------- */
.side-widget {
  margin-bottom: 0.8em;
  border: 5px solid #e1e1e1;
}

.side-widget-title {
  padding: 10px;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #fff;
  border-right: 2px solid #fafafa;
  border-left: 2px solid #fafafa;
  background-color: #f9f9f9;
}

.side-widget-title h2 {
}

.side-widget-title span.help-link {
  display: block;
  float: right;
  margin: -1.5em 0 0 0;
}

.side-widget-contents {
  padding: 10px;
  border-top: 1px solid #e1e1e1;
}

.side-widget-contents p.addlink {
	text-align: center;
}

.side-widget-contents p.addlink a {
	display : block;
	margin-top: 0.5em;
	padding: 0.5em;
	font-weight :bold;
	font-size: 1.2em;
	letter-spacing: 0.2em;
	color:#fff;
	background-color: #FFA000;
	border-top: 2px solid #FFE6AA;
	border-left: 3px solid #FFE6AA;
	border-bottom: 2px solid #FA8273;
	border-right: 3px solid #FA8273;
}

/*■background-color　スタイル
--------------------------------------------------*/
.bgcf1f1f1 {background-color:#f1f1f1;}
.bgcfafafa {background-color:#fafafa;}
.red {color:#ff0000;}


/*■広告・アドエリア・スタイル
--------------------------------------------------*/

.header-adarea {
  clear: both;
  text-align: center;
  max-width: 970px;
  margin: 0.6em auto;
}

.adarea-footer-bigbanner {
  clear: both;
  text-align: center;
  max-width: 970px;
  margin: 0.6em auto;
}

.adarea {
	clear: both;
	text-align: center;
	margin-bottom: 9px;
}

.adarea-left {text-align: left;margin-bottom:9px;}
.adarea-left138 {text-align: left;margin-left:138px;margin-bottom:9px;}
.adarea-left120 {text-align: left;margin-left:120px;margin-bottom:9px;}
.adarea-left80 {text-align: left;margin-left:80px;margin-bottom:9px;}
.adarea-left64 {text-align: left;margin-left:64px;margin-bottom:9px;}

tr.entry-ad th {border-width:2px 0;border-style:solid;border-color:#f1f1f1;text-align:center;}
tr.entry-ad td {border-width:2px 0;border-style:solid;border-color:#f1f1f1;text-align:left;}

li.adtext,
span.adtext {font-size:110%;font-weight:bold;padding: 0.4em 6px 0.4em 42px;background: url(http://www.blogmura.com/img/prtextranking.gif) no-repeat left center;display:inline-block;}

.pict-ad {margin-bottom:12px;}
.pict-ad ul {}
.pict-ad li {margin-right:6px;display: inline;}

/*amazon-ad
------------------------------------------------------------*/
.amazon-ad{
    margin-bottom: 9px;
}

.amazon-ad-inner{
    border: 1px solid #f1f1f1;
}

.amazon-ad-title{
    padding: 3px 0;
    text-align: center;
    color: #616161;
    background: #f1f1f1;
}


.amazon-ad-inner table{
    width:100%;
    border-collapse:collapse;
}

.amazon-ad-inner td{
    text-align: center;
    border: 1px solid #ffffff;
    padding: 3px;
}

/* <ads_cat1 /> スタイルシート */

.ads-pr-link{
    padding-bottom:18px;
    font-size:100%;
    text-align:left;
}

.ads-pr-link ul{
    list-style:none outside;
    vertical-align:middle;
}

.ads-pr-link li{
    #white-space:nowrap;/*IE回避用*/
    display:block;
    float:left;
    background:url(http://www.blogmura.com/img/prtext.gif) no-repeat left center;
    padding:0 0 0 24px;
    margin:2px 8px;
}


/* <ads_cat2 /> スタイルシート */

.ads-pr-link-footer{
    padding-bottom:18px;
    font-size:100%;
    text-align:left;
}

.ads-pr-link-footer ul{
    list-style:none outside;
    vertical-align:middle;
}

.ads-pr-link-footer li{
    #white-space:nowrap;/*IE回避用*/
    display:block;
    float:left;
    background:url(http://www.blogmura.com/img/prtext.gif) no-repeat left center;
    padding:0 0 0 24px;
    margin:2px 8px;
}

/*■フッターエリア・スタイル
--------------------------------------------------*/
#footer {margin: 0 3%;font-size:90%;text-align:center;border-top:1px solid #9CCF31;}
#footer ul {margin:12px;}
#footer ul li {padding: 1px 1.0em 1px 20px;background: url(http://www.blogmura.com/img/infoyaji.gif) no-repeat left center;display:inline;white-space:nowrap;}

#copyright {padding:12px;background-color:#9CCF31;}

/*■Wigetスタイル murauchiコネクト　comitem
--------------------------------------------------*/
#com-contents {margin: 20px 3%;padding:0;border:1px solid #99CCCC;font-size:90%;}

.com-title {position: relative;zoom: 1;}
    .com-title h2 {margin: 0 5px 0 10px;padding: 10px 10px 10px 32px;font-weight: bold;background: url(http://www.blogmura.com/img/prtextranking.gif) no-repeat left center;}
    .com-title span {display: block;position: absolute;right: 1.0em;top: 0.4em;padding: 0;margin: 0;}

.com-item {font-size:90%;text-align:center;}
    .com-item table {width:100%;vertical-align:middle;}
    .com-item tr {vertical-align:middle;}
    .com-item td {vertical-align:middle;width:1%;padding:10px;}

    .com-item-image {display:block;margin-bottom:6px;}


/*■アンケート・掲示板・スタイル
--------------------------------------------------*/
.board1 .widget-cont {clear:both;}
.board1 .widget-cont-inner {}
  .board1 .widget-cont table {width:100%;}
  .board1 .widget-cont tr {vertical-align: top;border: 1px solid #d1d1d1;}
  .board1 .widget-cont th {border: 1px solid #d1d1d1;width: 120px;padding: 4px 6px;vertical-align: top;font-weight: normal;white-space: nowrap;background-color: #FFF0D5;}
  .board1 .widget-cont td {padding: 4px 6px;vertical-align: top;border: 1px solid #d1d1d1;}
    .board1 .widget-cont td img {vertical-align: middle;}
    .board1 .widget-cont td span {float: right;}
    .board1 .widget-cont td.nb1 {width: 1%;white-space: nowrap;padding: 3px 3px 3px 6px;vertical-align: top;}
    .board1 .widget-cont td.date {background-color: #FFF9E9;}
    .board1 .widget-cont td.botton {text-align: center;padding: 1.2em 0;background-color: #f1f1f1;}/*修正*/
    .board1 .widget-cont td.button {text-align: center;padding: 1.2em 0;background-color: #f1f1f1;}
    .board1 .widget-cont td.formarea {padding: 12px 12px;vertical-align: top;}
      .board1 .widget-cont td.formarea li {padding: 3px 0;}
      .board1 .widget-cont td.formarea li input {margin-right: 3px;}
  .board1 .widget-cont table.graf {width:100%;background-color: #F1FFC8;}
    .board1 .widget-cont table.graf th {padding: 0 12px;vertical-align: middle;background-color: #F1FFC8;}
    .board1 .widget-cont table.graf td {padding-right: 24px;vertical-align: middle;background-color: #F1FFC8;}
    .board1 .widget-cont table.graf th {width: 1%;white-space: nowrap;vertical-align: middle;background-color: #E2FFB7;}
    .board1 .widget-cont table.graf tr.add th {padding: 0.8em 12px;}
    .board1 .widget-cont table.graf tr.add td {padding: 0.8em 12px;text-align: right;background-color: #E2FFB7;}

.board1 .widget-footer {border-bottom:1px solid #f1f1f1;}
.board1 .widget-footer-inner {border-bottom:3px solid #fafafa;}
  .board1 .widget-footer-inner div.footer-info {text-align:right;margin:3px 3px;font-weight:bold;}

.board2 .widget-cont {clear:both;}
.board2 .widget-cont-inner {}
  .board2 .widget-cont table {width:100%;}
  .board2 .widget-cont tr {vertical-align: top;border: 1px solid #d1d1d1;}
  .board2 .widget-cont th {border-top: 1px solid #d1d1d1;border-bottom: 1px solid #d1d1d1;padding: 4px 6px;vertical-align: top;font-weight: normal;white-space: nowrap;background-color: #FFF0D5;}
  .board2 .widget-cont td {padding: 4px 6px;vertical-align: top;border-top: 1px solid #d1d1d1;border-bottom: 1px solid #d1d1d1;}
    .board2 .widget-cont td.nb1 {width: 1%;white-space: nowrap;padding: 3px 3px 3px 6px;vertical-align: top;}

/*■Wigetスタイル about
--------------------------------------------------*/
.about .widget-cont {clear:both;}
.about .widget-cont-inner {font-size:110%;}

  .about .widget-cont h3 {background:#f1f1f1;padding:6px;margin: 2.0em 0 1.0em 0;font-size:110%;}
  .about .widget-cont h4 {background:#f1f1f1;padding:6px;margin:1.0em 0;font-size:110%;}
  .about .widget-cont p {margin:1.0em;}
  .about .widget-cont ol {margin:1.0em;}
  .about .widget-cont ol li {margin:1.0em;list-style: decimal inside;}

.about .widget-footer {}
.about .widget-footer-inner {}
  .about .widget-footer ul.list-block {}
  .about .widget-footer p {}


/*　ソーシャルエリア
--------------------------------------------------*/
#action {padding:6px;margin-bottom:9px;}
.action-center {text-align:center;}
.action-center-button {height:2.0em;margin:0;padding:0 6px;border:1px solid #dadada;background-color:#fafafa;white-space: nowrap;vertical-align:middle;overflow:visible;display:inline;}
.action-center-button:hover {padding:-1px 5px;border:2px solid #bababa;}
.action-center-button span{padding-left:6px;}


#action-share {padding:6px;margin-bottom:9px;border:1px solid #ddd;}
.action-share-close {float:right;}
.action-share-permalink {background: url(http://www.blogmura.com/img/action-link.gif) no-repeat left center;margin:0 0 0 20px;padding:12px 0 9px 22px;}
.view-element {width:200px;padding:3px;border:1px solid #aaa;}
.action-share-permalink-option {margin:0 0 0px 20px;padding:0 0 9px 22px;}
.action-share-permalink-option input {}
.action-share-permalink-option span {vertical-align:middle;padding:0 1.5em 0 0.5em;}
.action-share-button {margin:0 0 0 20px;padding:9px 0 6px 0;}
.share-button {height:2.0em;margin:0 6px 8px 0;padding:0 6px;border:1px solid #dadada;background-color:#fafafa;white-space: nowrap;vertical-align:middle;overflow:visible;display:inline;}
.share-button:hover {margin:0 6px 8px 0;padding:-1px 5px;border:2px solid #bababa;}
.share-button span{padding-left:6px;}


/*■角丸・スタイル
--------------------------------------------------*/
.kadomaru {
    background-color:#ff0000;
}

.kadomaru span.marutop{
    background:url(http://www.blogmura.com/img/topleft.gif) top left no-repeat;
    display:block;
    height:6px;
    font-size:1px;
}

.kadomaru span.marutop span{
    background:url(http://www.blogmura.com/img/topright.gif) top right no-repeat;
    display:block;
    height:6px;
    font-size:1px;
}

.kadomaru span.marubottom{
    background:url(http://www.blogmura.com/img/bottomleft.gif) top left no-repeat;
    display:block;
    height:6px;
    font-size:1px;
    clear:both;
}

.kadomaru span.marubottom span{
    background:url(http://www.blogmura.com/img/bottomright.gif) top right no-repeat;
    display:block;
    height:6px;
    font-size:1px;
}

.widget-wapper {clear:both;padding-bottom:9px;}

/* ヘッダー検索エリアボタン */
.search-area input[type="button"] {
	margin-right: 5px
}
/* ヘッダー検索エリアボタン */
.search-box input[type="button"] {
	margin-right: 5px
}

/*マイページオリジナルバナー
--------------------------------------------------*/
.banner-box {

}

.banner-area {
	width: 300px;
}

/* 話題のタグ */
.tb-tag {
	font-size: 1.1em;
	font-weight: bold;
}

/* ランキングポイントテーブルの行ハイライト */
table tr.rankpoint_clickable:hover th, table tr.rankpoint_clickable:hover td {
	background: #f5ffff;
}

/* 右サイドバー新着記事 */
div.arrival2 div.widget-cont-inner dt {
	width:295px;
	word-wrap: break-word
}