/**
 * ブログ村ランキング情報固定ナビゲーション スタイル
 * @date 2014/12/05
 */

/* ナビゲーション */
div#bmArea-RankNavi {
    /* Size */
    max-width: 300px;
    /*min-width: 280px;*/
    width: 300px;

    max-height: 90px;
    /*min-height: 90px;*/
    height: 90px;

    /* Position */
    position: fixed !important;
    position: absolute;
    bottom: 1px;
    right: 1px;

    /* Color */
    background-color: #34495e;
    color: #ecf0f1;

    /* space */
    margin: 10px;
    /*padding: 10px;*/
    border-radius: 10px;
}

/*ブログ村ランキングナビゲーション子要素の基底スタイル*/
div#bmArea-RankNavi * {
    color: #bdc3c7;
}

/*画像*/
div#bmArea-RankNavi .bmArea-RankNaviImg {
    float: left;
    margin: 5px;
}

div#bmArea-RankNavi .bmArea-RankNaviImg img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

/*コンテンツエリア*/
div#bmArea-RankNavi .bmArea-RankNaviContent {
    float: left;
    margin: 5px;
    max-width: 175px;
    width: 100%;
    max-height: 80px;
    height: 100%;
    font-size: 14px;
}

div#bmArea-RankNavi .bmArea-RankNaviContent p {
    margin: 3px;
    white-space: nowrap;
    overflow: hidden;
}

/*'現在の順位 第xx位'の段落*/
div#bmArea-RankNavi .bmArea-RankNaviContent p.bmArea-RankNaviNumver {
    font-weight: bold;
}

/*'第xx位'の部分の色を指定*/
div#bmArea-RankNavi .bmArea-RankNaviContent p.bmArea-RankNaviNumver a span {
    color: #a0d0ff;
}

div#bmArea-RankNavi .bmArea-RankNaviContent p a {
    margin: 3px;
    max-width: 170px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    cursor: pointer;
}

/*閉じるボタンエリア*/
div#bmArea-RankNavi .bmArea-RankNaviClose {
    float: right;
    width: 45px;
    height: 20px;
    margin: 5px;
    text-align: right;
}

div#bmArea-RankNavi .bmArea-RankNaviClose img {
    width: 20px;
    height: 20px;
}

/*最小化ボタン*/
div#bmArea-RankNavi .bmArea-RankNaviClose a.bmContent-RankNaviMin {
    margin-right: 5px;
}

/*順位を表示エリア*/
div#bmArea-RankNavi .bmArea-RankNaviVisible {
    position: absolute;
    width: 100px;
    min-width: 100px;
    height: 50px;
    min-height: 50px;
    margin: 10px;
    text-align: center;
}

div#bmArea-RankNavi .bmArea-RankNaviVisible a {
    position: fixed;
    cursor: pointer;
}

/*リンクを無効*/
div#bmArea-RankNavi * .bmContent-RankNaviNoLink {
    /*pointer-events: none;*/
    cursor: default;
    /*text-decoration:none;*/
}

/*ランキングポイントを表示*/
div#bmArea-RankNavi * .bmContent-RankNaviRankingPoint {
    font-size: 12px;
}

/*ランキングポイントを表示*/
div#bmArea-RankNavi * .bmContent-RankNaviRankingPoint-NgClick {
    cursor: default;
    font-size: 12px;
}
