/*! jQuery UI - v1.11.2 - 2014-10-31
* http://jqueryui.com
* Includes: core.css, autocomplete.css, menu.css
* Copyright 2014 jQuery Foundation and other contributors; Licensed MIT */

.ui-helper-hidden-accessible{
  border   :0;
  clip     :rect(0 0 0 0);
  height   :1px;
  margin   :-1px;
  overflow :hidden;
  padding  :0;
  position :absolute;
  width    :1px;
}

.ui-front{
  z-index :100;
}

.ui-autocomplete{
  position :absolute;
  top      :0;
  left     :0;
  cursor   :default;
}

.ui-menu{
  list-style :none;
  padding    :0;
  margin     :0;
  display    :block;
  outline    :none;
}

.ui-menu .ui-menu{
  position :absolute;
}

.ui-menu .ui-menu-item{
  position         :relative;
  margin           :0;
  padding          :3px 1em 3px .4em;
  cursor           :pointer;
  min-height       :0; /* support: IE7 */
  /* support: IE10, see #8844 */
  list-style-image :url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}

.ui-menu .ui-state-focus,
.ui-menu .ui-state-active{
  margin :-1px;
}

.ui-menu .ui-state-focus,
.ui-menu .ui-state-active{
  margin :-1px;
}

.ui-menu-item span{
  float       :right;
  font-weight :bold;
}

.ui-widget{
  font-family :Verdana, Arial, sans-serif;
  font-size   :1.1em;
}

.ui-widget .ui-widget{
  font-size :1em;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button{
  font-family :Verdana, Arial, sans-serif;
  font-size   :1em;
}

.ui-widget-content{
  border     :1px solid #cccccc;
  background :#ffffff;
  color      :#4c4c4c;
}

.ui-widget-content a{
  color :#4c4c4c;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus{
  background  :#E9F1FF;
  font-weight :normal;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited{
  color           :#ffffff;
  text-decoration :none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active{
  border      :1px solid #cccccc;
  background  :#ffffff;
  font-weight :normal;
  color       :#4c4c4c;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited{
  color           :#4c4c4c;
  text-decoration :none;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight{
  border     :1px solid #ffde2e;
  background :#ffeb80;
  color      :#363636;
}

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a{
  color :#363636;
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error{
  border     :1px solid #9e0505;
  background :#cd0a0a;
  color      :#ffffff;
}

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a{
  color :#ffffff;
}

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text{
  color :#ffffff;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled{
  opacity          :.35;
  filter           :Alpha(Opacity=35); /* support: IE8 */
  background-image :none;
}

.ui-state-disabled .ui-icon{
  filter :Alpha(Opacity=35); /* support: IE8 - See #6059 */
}