/* Variables */
/* Variables */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

a {
  color: #000;
}

a:focus {
  outline: none;
}

a:hover, a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  max-width: 1040px;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

@media only screen and (min-width: 35em) {
  .ir {
    display: block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
    *line-height: 0;
  }

  .ir br {
    display: none;
  }

  .hidden {
    display: none !important;
    visibility: hidden;
  }

  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }

  .invisible {
    visibility: hidden;
  }

  .clearfix:before, .clearfix:after {
    content: "";
    display: table;
  }

  .clearfix:after {
    clear: both;
  }

  .clearfix {
    *zoom: 1;
  }
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
  margin: 0;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
}

li {
  padding: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a {
  text-decoration: none;
  color: #FFF;
}

head {
  display: block;
}

a {
  outline: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'open sans', Arial, Helvetica, sans-serif;
  font-size: 11px;
  background: #121212;
  color: #dddddd;
}

/* Reset Tools */
/* General Tools */
.fl {
  float: left !important;
}

.fr {
  float: right !important;
}

.tl {
  text-align: left !important;
}

.tc {
  text-align: center !important;
}

.tr {
  text-align: right !important;
}

.vm tr td {
  vertical-align: middle !important;
}

.vt tr td {
  vertical-align: top !important;
}

.vb tr td {
  vertical-align: bottom !important;
}

.vt {
  vertical-align: top !important;
}

.vm {
  vertical-align: middle !important;
}

.vb {
  vertical-align: bottom !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mtb20 {
  margin: 20px 0 !important;
}

.mtb10 {
  margin: 10px 0 !important;
}

.fs15 {
  font-size: 15px !important;
}

.fs15 tr td {
  font-size: 15px !important;
}

.full {
  width: 100%;
  float: left;
}

.half {
  width: 50%;
  float: left;
}

.full-table {
  width: 100%;
  float: left;
}

.full-table tr td {
  padding: 3px;
}

.main {
  width: 100%;
  height: auto;
  float: left;
  position: relative;
    min-width: 320px;
}

.center {
  width: 1040px;
  height: auto;
  margin: 0 auto;
}

.full-label {
  width: 100%;
  height: auto;
  float: left;
  font-size: 12px;
  margin-bottom: 3px;
}

.full-input {
  width: 100%;
  height: 30px;
  float: left;
  background: #fff;
  border: 1px solid #dfdfdf;
  padding: 0 10px;
  border-radius: 2px;
  font-size: 13px;
  font-family: "open sans", Arial, Helvetica, sans-serif;
}

.full-select {
  width: 100%;
  height: 30px;
  float: left;
  background: #fff;
  border: 1px solid #dfdfdf;
  padding: 0 5px;
  border-radius: 2px;
  font-size: 13px;
  font-family: "open sans", Arial, Helvetica, sans-serif;
}

.auto-button {
  width: auto;
  height: 30px;
  float: right;
  background: #914F91;
  border: none;
  color: #fff;
  font-size: 12px;
  border-radius: 2px;
  font-weight: 600;
  line-height: 30px;
  cursor: pointer;
  padding: 0 10px;
  font-family: "open sans", Arial, Helvetica, sans-serif;
  border-radius: 2px;
}
.auto-button:hover {
  opacity: .8;
}
.auto-button.rArrow {
  padding-right: 25px;
  position: relative;
}
.auto-button.rArrow:Before {
  width: 14px;
  height: 14px;
  position: absolute;
  right: 4px;
  top: 9px;
  background: url("../../images/site/front/auto-rArrow.png");
  content: ' ';
}
.auto-button.passive {
  background: #cccccc;
}

/* General Tools */
/* Extendes */
.textOverflow, .user-bts .ub-trigger .user-name, .hl-box .hlb-t .status, .hl-box .hlb-t .date, .chapter-list li .ch-name, .chapter-list li .ch-langs .ch-language .name, .chapter-list li .ch-langs .ch-language .sender, .basic-list li .ch-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Extendes */
/* Ads */
.header-ad {
  width: 728px;
  height: 90px;
  float: right;
  margin-top: 20px;
}

.cl-ad {
  width: 720px;
  float: left;
  overflow: hidden;
  margin: 10px 0;
}

.cr-ad {
  width: 300px;
  float: left;
  margin: 10px 0;
}
.cr-ad.home {
  margin-top: -10px;
}

/* Ads */
/* Header */
.header {
  width: 100%;
  height: 180px;
  float: left;
  background: #000;
}
.header .header-top {
  width: 100%;
  height: 130px;
  float: left;
  background:url(http://readcomics.net/images/site/front/bghead2.jpg) center;
}
.header .header-bottom {
    width: 100%;
    height: 50px;
    float: left;
    margin-top: -1px;
    box-shadow: 0px -6px 10px rgba(20, 180, 125, 0.5);
	-moz-box-shadow: 0px -6px 10px rgba(20, 180, 125, 0.5);
    border: 1px solid #1b1b1b;
}
.header .logo {
  width: 280px;
  height: 90px;
  float: left;
  margin-top: 20px;
}

.main-menu {
  width: auto;
  height: 50px;
  float: left;
  position: relative;
}
.main-menu > li {
  width: auto;
  height: 50px;
  float: left;
}
.main-menu > li > a {
  width: auto;
  height: 50px;
  float: left;
  font-size: 18px;
  color: #fff;
  line-height: 50px;
  font-weight: 300;
  padding: 0 15px;
  letter-spacing: -1px;
}
.main-menu > li:hover {
    background: #1C161C;
    border-bottom: 3px solid #7C1379;
}
.main-menu > li:hover a {
  color: #FFF;
}

.main-search {
  width: 240px;
  height: 50px;
  float: left;
}
.main-search .ms-bt {
  width: 35px;
  height: 50px;
  float: left;
  border: none;
  background: url("../../images/site/front/search-button.png");
  cursor: pointer;
  outline: none;
  opacity: .7;
}
.main-search .ms-bt:hover {
  opacity: 1;
}
.main-search .ms-input {
  width: 205px;
  height: 50px;
  float: left;
  border: none;
  outline: none;
  background: none;
  color: #dddddd;
  font-size: 13px;
  font-family: "open sans", Arial, Helvetica, sans-serif;
}

.user-bts {
  width: auto;
  height: 50px;
  float: right;
  position: relative;
  line-height: 50px;
}
.user-bts li {
  float: left;
  position: relative;
}
.user-bts li > span {
  cursor: pointer;
  padding: 0 10px;
  line-height: 50px;
  color: #dddddd;
  font-size: 13px;
  font-size: 13px;
  float: left;
}
.user-bts li:hover {
  background: #525252;
  color: #fff;
}
.user-bts li.active span {
  background: #fff;
  color: #777777;
}
.user-bts .ub-drop {
  width: 300px;
  height: auto;
  position: absolute;
  display: none;
  right: 0;
  top: 50px;
  background: #fff;
  font-size: 11px;
  line-height: normal;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.32);
  color: #777777;
  line-height: normal;
  z-index: 999;
  padding: 10px 15px 15px 15px;
}
.user-bts .ub-drop .ubd-title {
  width: 100%;
  height: auto;
  float: left;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 2px;
  font-size: 15px;
  margin: 5px 0;
}
.user-bts .ub-drop .fb-lg {
  width: 100%;
  height: 30px;
  float: left;
  text-align: center;
  border: 1px solid #445780;
  background: #45629d;
  background: linear-gradient(#4e69a2, #3b5998);
  -webkit-background: linear-gradient(#4e69a2, #3b5998);
  color: #fff;
  line-height: 28px;
  cursor: pointer;
  margin: 5px 0;
  border-radius: 2px;
  position: relative;
}
.user-bts .ub-drop .fb-lg:hover {
  background: #4777b4;
  background: linear-gradient(#507db8, #3b68a7);
  -webkit-background: linear-gradient(#507db8, #3b68a7);
}
.user-bts .ub-drop .fb-lg:before {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 4px;
  top: 4px;
  background: url("../../images/site/front/fb-lg-before-mid.png");
  content: ' ';
}
.user-bts .ub-drop .or {
  width: 100%;
  height: auto;
  float: left;
  padding: 5px 0;
  text-align: center;
  color: #dddddd;
}
.user-bts .ub-drop .ubd-warning {
  width: 100%;
  height: auto;
  float: left;
  text-align: center;
  color: red;
}
.user-bts .ub-drop .label {
  width: 100%;
  height: auto;
  float: left;
  padding: 5px 0;
}
.user-bts .ub-drop span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.user-bts .ub-drop.min {
  width: 200px;
}
.user-bts .ub-drop ul {
  width: 180px;
  height: auto;
  margin: 0 -5px;
  float: left;
}
.user-bts .ub-drop ul li {
  width: 100%;
  height: auto;
  float: left;
}
.user-bts .ub-drop ul li:hover {
  background: none;
}
.user-bts .ub-drop ul li a {
  width: 100%;
  float: left;
  padding: 5px 7px;
  color: #777777;
}
.user-bts .ub-drop ul li a:hover {
  background: #f1f1f1;
}
.user-bts .ub-trigger {
  width: auto;
  height: 50px;
  float: left;
  padding: 10px;
  line-height: normal;
  position: relative;
  cursor: pointer;
  padding-right: 20px;
}
.user-bts .ub-trigger .user-image {
  width: 30px;
  height: 30px;
  float: left;
  overflow: hidden;
  border-radius: 50%;
}
.user-bts .ub-trigger .user-image img {
  width: 30px;
  height: 30px;
}
.user-bts .ub-trigger .user-name {
  width: auto;
  height: 30px;
  float: left;
  line-height: 30px;
  color: #fff;
  max-width: 95px;
  margin-left: 5px;
}
.user-bts .ub-trigger:before {
  border: solid transparent;
  border-top-color: #fff;
  border-width: 4px;
  right: 6px;
  top: 24px;
  content: '';
  position: absolute;
  height: 0;
  width: 0;
}
.user-bts .ub-trigger:hover {
  background: #525252;
  color: #fff;
}
.user-bts .ub-trigger:hover .user-nr {
  border-color: #525252;
}
.user-bts .ub-trigger.active {
  background: #fff;
}
.user-bts .ub-trigger.active .user-name {
  color: #777777;
}
.user-bts .ub-trigger.active .user-nr {
  border-color: #fff;
}
.user-bts .ub-trigger.active:before {
  border: solid transparent;
  border-top-color: #000;
  border-width: 4px;
}
.user-bts .ub-trigger .user-nr {
    width: auto;
    height: 18px;
    position: absolute;
    font-weight: 600;
    left: 0;
    top: 25px;
    background: #FF005C;
    border-radius: 9px;
    color: #FFF !important;
    font-size: 9px;
    border: 2px solid #000;
    line-height: 15px;
    padding: 0 4px;
}

/* Header */
/* Container */
.container {
  width: 100%;
  float: left;
  margin: 10px 0;
}

.container-left {
  width: 720px;
  float: left;
}

.container-right {
  width: 300px;
  float: right;
}

/* Container */
/* Banner */
.banner {
  width: 720px;
  height: 250px;
  position: relative;
}
.banner .banner-prev,
.banner .banner-next {
  width: 34px;
  height: 34px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  opacity: .8;
  z-index: 9;
  background: url("../../images/site/front/banner-next.png");
}
.banner .banner-prev:hover,
.banner .banner-next:hover {
  opacity: 1;
}
.banner .banner-prev {
  right: 60px;
  background: url("../../images/site/front/banner-prev.png");
}
.banner .banner-container {
  width: 720px;
  height: 250px;
  float: left;
  position: relative;
  overflow: hidden;
}
.banner .banner-carousel li,
.banner .banner-carousel {
  width: 720px;
  height: 250px;
  float: left;
}

/* Banner */
/* Main Title */
.main-title {
    width: 100%;
    float: left;
    margin: 10px 0;
    color: #fff;
}
.main-title h1, .main-title h2, .main-title h3, .main-title h4, .main-title h5, .main-title h6 {
  font-size: 30px;
  color: #ED91FF;
  letter-spacing: -1px;
  font-weight: 300;
}

/* Main Title */
/* Border Title */
.border-title {
  width: 100%;
  height: auto;
  float: left;
  margin: 5px 0;
  padding-bottom: 5px;
  color: #fff;
  border-bottom: 1px solid #25bae5;
}
.border-title .title {
  width: auto;
  float: left;
  color: #fff;
  font-size: 13px;
}
.border-title .date-title {
  width: auto;
  float: right;
  color: #dddddd;
}

/* Border Title */
/* Home List */
.home-list {
    width: 100%;
    height: auto;
    background: #1C161C;
    padding: 10px;
	margin-top: -8px;
    border-top: 1px solid #342834;
    float: left;
}
.hl-box {
  width: 100%;
  height: auto;
  float: left;
  padding-bottom: 10px;
  margin: 5px 0;
  border-bottom: 1px dotted #303030;
}
.hl-box .hlb-t {
  width: 100%;
  height: auto;
  float: left;
}
.hl-box .hlb-t .hlb-name {
  width: auto;
  float: left;
  color: #fff;
  font-size: 15px;
  max-width: 515px;
  padding-left: 20px;
  margin-right: 5px;
  position: relative;
}
.hl-box .hlb-t .hlb-name:before {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 2px;
  content: ' ';
}
.hl-box .hlb-t .hlb-name:hover {
  color: #dddddd;
}
.hl-box .hlb-t .status {
  width: auto;
  float: left;
  color: #25bae5;
  font-size: 11px;
  max-width: 60px;
  margin-top: 3px;
  font-weight: 600;
}
.hl-box .hlb-t .status:before {
  width: 14px;
  height: 14px;
  float: left;
  content: ' ';
  margin-right: 3px;
}
.hl-box .hlb-t .status.hot:before {
  background: url("../../images/site/front/hot-icon.png");
}
.hl-box .hlb-t .status.new:before {
  background: url("../../images/site/front/new-icon.png");
}
.hl-box .hlb-t .date {
  width: 110px;
  float: right;
  color: #fff;
  text-align: right;
}
.hl-box.ongoing .hlb-name:before {
  background: url("../../images/site/front/ongoing-before.png");
}
.hl-box.completed .hlb-name:before {
  background: url("../../images/site/front/completed-before.png");
}
.hl-box .hlb-list {
  width: 100%;
  float: right;
  margin-top: 5px;
}
.hl-box .hlb-list li {
  width: 100%;
  float: left;
}
.hl-box .hlb-list li a {
  width: auto;
  color: #dddddd;
  font-size: 12px;
}
.hl-box .hlb-list li a:hover {
  text-decoration: underline;
}

/* Home List */
/* Container Right Items */
.cr-text {
    width: 300px;
    float: left;
    margin: 10px 0;
    background: #1C161C;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
}
.cr-text h1 {
  font-size: 22px;
  color: #fff;
  font-weight: 300;
}
.cr-text p {
  color: #dddddd;
}

/* Container Right Items */
/* Container Right Title */
.cr-title {
  width: 100%;
  float: left;
  margin: 10px 0;
  font-size: 22px;
  color: #fff;
  font-weight: 300;
}

/* Container Right Title */
/* CR Anime Item */
.cr-anime-box {
    width: 300px;
    float: left;
    margin: 4px 0;
    position: relative;
    min-height: 25px;
    border: 1px solid #211D21;
    box-shadow: 1px 1px 1px black, 0px 0px 104px #1E121F inset;
	-moz-box-shadow: 1px 1px 1px black, 0px 0px 104px #1E121F inset;
    background: #232223;
    border-radius: 5px;
}
.cr-anime-box .number {
  width: 23px;
  height: 25px;
  float: left;
  background: #3B1540;
  text-align: center;
  color: #FFFFFF;
  line-height: 25px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px 0 0 0;
}
.cr-anime-box .image {
    width: 59px;
    height: 82px;
    float: left;
    overflow: hidden;
    border: 2px solid #3B1540;
    background: #302632;
}
.cr-anime-box .image img {
  width: 59px;
  height: 82px;
}
.cr-anime-box .name {
  width: 210px;
  float: right;
  color: #96759A;
  font-size: 15px;
  margin-top:2px;
}
.cr-anime-box .name:hover {
  color: #e1bc07;
}
.cr-anime-box .chapter {
  width: 210px;
  float: right;
  color: #fff;
  font-size: 11px;
}
.cr-anime-box .chapter:hover {
  text-decoration: underline;
}

/* CR Anime Item */
/* Footer */
.footer {
  width: 100%;
  float: left;
  padding: 20px 0 50px 0;
  color: #fff;
  margin-top: 20px;
  border-top: 1px solid #303030;
}
.footer a {
  color: #dddddd;
}
.footer a:hover {
  text-decoration: underline;
}
.footer .full-table tr td {
  padding: 5px 20px;
}

/* Footer */
/* Home Following Title */
.hf-title {
  width: 100%;
  height: 50px;
  float: left;
  margin: 10px 0;
  padding: 0 10px;
  line-height: 50px;
  background: #2b2b2b;
  position: relative;
  cursor: pointer;
  color: #fff;
}
.hf-title:before {
  border: solid transparent;
  border-top-color: #fff;
  border-width: 4px;
  right: 10px;
  top: 24px;
  content: '';
  position: absolute;
  height: 0;
  width: 0;
}
.hf-title:hover {
  background: #414141;
}
.hf-title .title {
  width: auto;
  float: left;
  color: #fff;
  font-size: 20px;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  font-weight: 300;
}
.hf-title span {
  width: auto;
  float: right;
  color: #d6d6d6;
  font-size: 13px;
  font-weight: 300;
  margin-right: 15px;
}
.hf-title.upd {
  background: #25bae5;
}
.hf-title.upd:before {
  border-top-color: #000;
  border-width: 4px;
}
.hf-title.upd:hover {
  background: #e1bc07;
}
.hf-title.upd .title {
  color: #000;
  font-size: 25px;
}
.hf-title.upd span {
  color: #000;
}
.hf-title.opened {
  background: #3e3e3e;
}
.hf-title.opened:hover {
  background: #525252;
}
.hf-title.opened .title {
  font-size: 25px;
}

/* Home Following Title */
/* Following Contents */
.following-contents {
  width: 740px;
  height: auto;
  float: left;
  display: none;
  margin: 10px -10px;
}
.following-contents .following-box {
  width: 226px;
  height: 90px;
  float: left;
  margin: 10px;
  border: 1px solid #212121;
  background-color: #212121;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.21);
  border-radius: 2px;
  position: relative;
  opacity: .7;
  padding: 5px;
}
.following-contents .following-box .image {
  width: 55px;
  height: 78px;
  float: left;
  overflow: hidden;
}
.following-contents .following-box .image img {
  width: 55px;
  height: 78px;
}
.following-contents .following-box .fb-right {
  width: 152px;
  height: 60px;
  float: right;
  overflow: hidden;
  line-height: 15px;
}
.following-contents .following-box .fb-right .series {
  width: 90%;
  float: left;
  color: #dddddd;
  font-size: 13px;
  font-weight: 600;
}
.following-contents .following-box .fb-right .series:hover {
  color: #fff;
}
.following-contents .following-box .fb-right .episode {
  width: auto;
  display: inline-block;
  position: relative;
  color: #fff;
}
.following-contents .following-box .fb-right .episode:hover {
  text-decoration: underline;
}
.following-contents .following-box .mail {
  width: auto;
  height: 15px;
  line-height: 15px;
  position: absolute;
  left: 70px;
  bottom: 5px;
  cursor: pointer;
  color: #dddddd;
}
.following-contents .following-box .mail:hover {
  text-decoration: underline;
}
.following-contents .following-box .mail:before {
  width: 10px;
  height: 10px;
  float: left;
  background: url("../../images/site/front/get-mail-before.png");
  content: ' ';
  margin: 4px 2px 0 0;
}
.following-contents .following-box .mail.active:before {
  width: 5px;
  height: 5px;
  float: left;
  background: #25bae5;
  margin: 6px 2px 0 0;
  content: ' ';
  border-radius: 50%;
}
.following-contents .following-box .remove {
  width: auto;
  height: 15px;
  line-height: 15px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  cursor: pointer;
  color: #dddddd;
}
.following-contents .following-box .remove:hover {
  text-decoration: underline;
}
.following-contents .following-box.new {
  opacity: 1;
}
.following-contents .following-box.new .fb-right .episode:before {
  width: 8px;
  height: 8px;
  float: left;
  background: #25bae5;
  margin: 4px 2px 0 0;
  content: ' ';
  border-radius: 50%;
}

/* Following Contents */
/* Toast */
.toast-main {
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;
  bottom: 50px;
  text-align: center;
  z-index: 99999;
  display: none;
}
.toast-main .toast {
  width: auto;
  height: auto;
  display: inline-block;
  padding: 7px 15px;
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  text-align: center;
}

/* Toast */
/* Main Popup */
.main-popup {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
}
.main-popup .mp-filter {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}
.main-popup .mp-content {
  width: 500px;
  height: auto;
  position: fixed;
  left: 50%;
  top: 15%;
  margin-left: -250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  background: #fff;
  color: #777777;
  padding: 15px;
}
.main-popup .mp-content .title {
  width: 100%;
  height: auto;
  float: left;
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 5px;
  margin-bottom: -1px;
  font-weight: 300;
  font-size: 22px;
}
.main-popup .mp-content .mpc-close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  border-radius: 2px;
  top: 10px;
  cursor: pointer;
  background: url("../../images/site/front/mp-close-bt.png");
  opacity: .7;
}
.main-popup .mp-content .mpc-close:hover {
  opacity: 1;
  background-color: #f1f1f1;
}
.main-popup .mp-content p {
  width: 100%;
  float: left;
  margin: 10px 0;
  font-size: 12px;
}
.main-popup .mp-content p a {
  color: #777777;
  text-decoration: underline;
}
.main-popup .mp-content p a:hover {
  text-decoration: none;
}
.main-popup .mp-content .bts {
  width: 100%;
  height: auto;
  float: left;
  border-top: 1px solid #d5d5d5;
  padding-top: 5px;
}
.main-popup .mp-content .bts .auto-button {
  margin-left: 5px;
}

/* Main Popup */
/* Manga Detail */
.manga-image {
  width: 225px;
  height: auto;
  float: left;
  overflow: hidden;
}
.manga-image img {
  width: 225px;
}

.manga-right {
  width: 480px;
  float: right;
}
.manga-right .manga-title {
  width: 100%;
  float: left;
  color: #fff;
  font-size: 25px;
  font-weight: 300;
}
.manga-right .manga-bts {
  width: 100%;
  height: auto;
  float: left;
  margin: 5px 0;
}
.manga-right .manga-bts .manga-b {
  width: auto;
  height: 30px;
  float: left;
  padding: 0 10px;
  background: #825582;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 30px;
  margin-right: 10px;
  border-radius: 2px;
  cursor: pointer;
}
.manga-right .manga-bts .manga-b:before {
  width: 18px;
  height: 18px;
  float: left;
  margin: 6px 5px 0 -4px;
}
.manga-right .manga-bts .manga-b:hover {
  background: #e1bc07;
}
.manga-right .manga-bts .manga-b.follow:Before {
  background: url("../../images/site/front/manga-b-follow.png");
  content: ' ';
}
.manga-right .manga-bts .manga-b.favorite:Before {
  background: url("../../images/site/front/manga-b-favorite.png");
  content: ' ';
}
.manga-right .manga-bts .manga-b.active {
  background: #595959;
  color: #d6d6d6;
}
.manga-right .manga-bts .manga-b.active:hover {
  background: #464646;
  color: #e5e5e5;
}
.manga-right .manga-bts .manga-b.active.follow:Before {
  background: url("../../images/site/front/manga-b-follow-active.png");
  content: ' ';
}
.manga-right .manga-bts .manga-b.active.favorite:Before {
  background: url("../../images/site/front/manga-b-favorite-active.png");
  content: ' ';
}
.manga-right .manga-details {
  width: 100%;
  height: auto;
  float: left;
  margin: 5px 0;
  font-size: 12px;
  color: #fff;
}
.manga-right .manga-details span {
  color: #dddddd;
}
.manga-right .manga-details .full-table tr td {
  padding: 1px 3px;
}
.manga-right .manga-details a {
  color: #fff;
  font-size: 13px;
}
.manga-right .manga-details a:hover {
  text-decoration: underline;
}
.manga-right .manga-latest {
  width: 100%;
  height: auto;
  float: left;
  font-size: 12px;
  color: #fff;
}
.manga-right .manga-latest .title {
  width: 100%;
  float: left;
  font-weight: 300;
  font-size: 20px;
}
.manga-right .manga-latest .ml-list {
  width: 100%;
  float: left;
  margin-top: 5px;
}
.manga-right .manga-latest .ml-list li {
  width: 100%;
  height: auto;
  float: left;
  padding: 2px 0;
  font-size: 12px;
}
.manga-right .manga-latest .ml-list li:before {
  border: solid transparent;
  border-left-color: #25bae5;
  border-width: 3px;
  content: '';
  height: 0;
  width: 0;
  float: left;
  margin: 7px 0 0 0;
}
.manga-right .manga-latest .ml-list li a {
  color: #fff;
  font-size:13px;
}
.manga-right .manga-latest .ml-list li a:hover {
  text-decoration: underline;
}

/* Manga Detail */
/* e-Mail Subscriptions */
.mail-subsr {
    width: 100%;
    height: auto;
    float: left;
    background: #171417;
    border-radius: 3px 3px 0 0;
    border: 1px solid black;
    padding: 15px 15px 15px 45px;
    position: relative;
    font-size: 15px;
    margin: 10px 0 0px 0;
}
.mail-subsr:before {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 15px;
  top: 15px;
  background: url("../../images/site/front/mail-subsr.png");
  content: '';
}
.mail-subsr .auto-button {
    background: #825582;
    color: white;
}
.mail-subsr .mail-note {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  line-height: 60px;
  text-align: center;
  font-size: 12px;
}

/* e-Mail Subscriptions */
/* Manga Descriptions */
.manga-desc {
  width: 100%;
  height: auto;
  float: left;
  background: #000;
  color: #c9c9c9;
  margin: 10px 0;
  padding: 15px;
}
.manga-desc h2 {
  color: #fff;
}

/* Manga Descriptions */
/* Chapter List */
.chapter-list {
  width: 100%;
  height: auto;
  float: left;
  margin: 10px 0;
}
.chapter-list li {
  width: 100%;
  height: auto;
  float: left;
  padding: 10px 5px;
}
.chapter-list li:nth-child(2n) {
  background: #1a1a1a;
}
.chapter-list li .ch-name {
  width: 135px;
  height: 15px;
  line-height: 15px;
  float: left;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  margin-top: 4px;
}
.chapter-list li .ch-name:before {
  border: solid transparent;
  border-left-color: #25bae5;
  border-width: 3px;
  content: '';
  height: 0;
  width: 0;
  float: left;
  margin: 5px 0 0 0;
}
.chapter-list li .ch-langs {
  width: 570px;
  float: right;
}
.chapter-list li .ch-langs .ch-language {
  width: 190px;
  height: 18px;
  float: left;
  overflow: hidden;
  padding-right: 5px;
  line-height: 18px;
}
.chapter-list li .ch-langs .ch-language .chep-flag {
  width: 16px;
  height: 11px;
  float: left;
  line-height: 0;
  overflow: hidden;
  margin-top: 3px;
  margin-right: 3px;
}
.chapter-list li .ch-langs .ch-language .name {
  width: auto;
  height: 18px;
  float: left;
  color: #cbcbcb;
  max-width: 120px;
  letter-spacing: -0.5px;
}
.chapter-list li .ch-langs .ch-language .name:hover {
  text-decoration: underline;
}
.chapter-list li .ch-langs .ch-language .sender {
  width: auto;
  height: 18px;
  float: left;
  color: #fff;
  max-width: 38px;
  margin-left: 3px;
  letter-spacing: -0.5px;
}
.chapter-list li .ch-langs .ch-language .sender:hover {
  text-decoration: underline;
}

/* Chapter List */
/* Basic List */
.basic-list {
    width: 100%;
    height: auto;
    float: left;
    padding: 10px;
    border: 1px solid black;
    background: #1C161C;
    border-radius: 5px;
}
.basic-list li {
  width: 100%;
  height: auto;
  float: left;
  padding: 1px 5px;
}
.basic-list li .ch-name {
  max-width: 530px;
  height: 15px;
  line-height: 15px;
  float: left;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  margin-top: 4px;
}
.basic-list li .ch-name:before {
  border: solid transparent;
  border-left-color: #D272DF;
  border-width: 3px;
  content: '';
  height: 0;
  width: 0;
  float: left;
  margin: 5px 0 0 0;
}
.basic-list li .ch-name:hover {
  text-decoration: underline;
}
.basic-list li span {
  float: right;
  color: #dddddd;
}

/* Basic List */
/* Chapter Title */
.chapter-title {
  width: 100%;
  height: auto;
  float: left;
  margin: 10px 0;
}
.chapter-title .ct-left {
  width: 700px;
  height: auto;
  float: left;
}
.chapter-title .ct-left .title {
  width: 100%;
  float: left;
}
.chapter-title .ct-left .title h2,
.chapter-title .ct-left .title span,
.chapter-title .ct-left .title h1 {
  font-size: 25px;
  float: left;
  color: #fff;
  font-weight: 300;
  margin-right: 5px;
}
.chapter-title .ct-left .title h2 a, .chapter-title .ct-left .title h2 {
    color: #a3a3a3;
    font-size: 18px;
    line-height: 36px;
}
.chapter-title .ct-left .full-table {
  width: 90%;
}
.chapter-title .ct-left .full-table tr td {
  padding: 5px;
}
.chapter-title .ct-left .full-table tr td:first-child {
  padding-left: 0;
}
.chapter-title .ct-left .full-table tr td:last-child {
  padding-right: 0;
}
.chapter-title .ct-right {
  width: auto;
  max-width: 260px;
  float: right;
}
.chapter-title .ct-right .title {
  font-size: 25px;
  float: left;
  color: #fff;
  font-weight: 300;
  margin-right: 5px;
}
.chapter-title .ct-right .label {
  width: auto;
  float: left;
  line-height: 30px;
  color: #dddddd;
  margin-right: 7px;
}
.chapter-title .ct-right .nav {
  width: auto;
  height: 30px;
  float: right;
  background: #585858;
  color: #fff;
  border-radius: 2px;
  margin-left: 7px;
  line-height: 30px;
  padding: 0 12px;
}
.chapter-title .ct-right .nav:hover {
  background: #696969;
}
.chapter-title .ct-right .nav.next:before {
  border: solid transparent;
  border-left-color: #fff;
  border-width: 4px;
  content: '';
  height: 0;
  width: 0;
  float: right;
  margin: 11px -8px 0 9px;
}
.chapter-title .ct-right .nav.prev:before {
  border: solid transparent;
  border-right-color: #fff;
  border-width: 4px;
  content: '';
  height: 0;
  width: 0;
  float: left;
  margin: 11px 9px 0 -8px;
}

/* Chapter Title */
/* Chapter Main */
.chapter-main {
  width: 100%;
  float: left;
 }
.chapter-main .chapter-left-ad {
  width: 160px;
  height: 600px;
  float: right;
}
.chapter-main .chapter-right-ad {
  width: 160px;
  height: 600px;
  float: left;
}
.chapter-main .chapter-table {
  width: 100%;
  float: left;
}
.chapter-main .chapter-table tr td {
  padding: 0 10px;
}
.chapter-main .chapter-table tr td:nth-child(2) {
  width: 800px;
}
.chapter-main .chapter-container {
  width: 100%;
  float: left;
  position: relative;
  text-align: center;
}

/* Chapter Main */
/* Chapter Bottom Nav */
.c-bottom-nav {
  width: 100%;
  float: left;
  padding: 10px 0;
  border-bottom: 1px dotted #303030;
}
.c-bottom-nav .ct-right {
  width: auto;
  max-width: 260px;
  float: right;
}
.c-bottom-nav .ct-right .label {
  width: auto;
  float: left;
  line-height: 30px;
  color: #dddddd;
  margin-right: 7px;
}
.c-bottom-nav .ct-right .nav {
  width: auto;
  height: 30px;
  float: left;
  background: #585858;
  color: #fff;
  border-radius: 2px;
  margin-right: 7px;
  line-height: 30px;
  padding: 0 12px;
}
.c-bottom-nav .ct-right .nav:hover {
  background: #696969;
}
.c-bottom-nav .ct-right .nav.next:before {
  border: solid transparent;
  border-left-color: #fff;
  border-width: 4px;
  content: '';
  height: 0;
  width: 0;
  float: right;
  margin: 11px -8px 0 9px;
}
.c-bottom-nav .ct-right .nav.prev:before {
  border: solid transparent;
  border-right-color: #fff;
  border-width: 4px;
  content: '';
  height: 0;
  width: 0;
  float: left;
  margin: 11px 9px 0 -8px;
}
.c-bottom-nav .tip {
  width: 350px;
  height: auto;
  float: left;
  position: relative;
  color: #777777;
  padding-left: 70px;
}
.c-bottom-nav .tip strong {
  color: #dddddd;
}
.c-bottom-nav .tip:before {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  content: ' ';
  background: url("../../images/site/front/tip-before.png");
}

.bottom-details {
  width: 100%;
  float: left;
  color: #777777;
  font-size: 12px;
  margin-top: 10px;
}
.bottom-details .mi-title {
  color: #dddddd;
  font-size: 15px;
  font-weight: 600;
}
.bottom-details .mangainfo-top {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}
.bottom-details .mangainfo-top a {
  color: #25bae5;
}
.bottom-details .mangainfo-top a:hover {
  text-decoration: underline;
}
.bottom-details .mangainfo-bottom {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}
.bottom-details .mangainfo-bottom a {
  color: #ababab;
}
.bottom-details .mangainfo-bottom a:hover {
  text-decoration: underline;
}
.bottom-details .manga-related {
  width: 100%;
  height: auto;
  float: left;
  text-align: center;
  font-size: 13px;
}
.bottom-details .manga-related a {
  display: inline-block;
  margin: 3px 7px;
  color: #ababab;
}
.bottom-details .manga-related a:hover {
  text-decoration: underline;
}

/* Chapter Bottom Nav */
/* Chapter Bottom Ads */
.chapter-ads {
  width: 100%;
  float: left;
  margin: 10px 0;
  text-align: center;
}
.chapter-ads .cha300 {
  width: 300px;
  display: inline-block;
  margin: 5px;
}
.chapter-ads .cha728 {
  width: 728px;
  display: inline-block;
  margin: 5px;
}

/* Chapter Bottom Ads */
/* Advanced Search */
.advanced-search {
  width: 100%;
  float: left;
  margin: 10px 0 20px 0;
}
.advanced-search .as-research {
  float: right;
  height: 20px;
  font-size: 13px;
  color: #dddddd;
  cursor: pointer;
  display: none;
  margin-top: -48px;
}
.advanced-search .as-research:before {
  border: solid transparent;
  border-top-color: #dddddd;
  border-width: 4px;
  content: '';
  height: 0;
  width: 0;
  float: right;
  margin: 9px 0 0 5px;
}
.advanced-search .as-research:hover {
  text-decoration: underline;
}
.advanced-search.closed {
  height: 0;
  overflow: hidden;
  margin: 0;
  padding-top: 50px;
  margin-top: -40px;
}
.advanced-search.closed .as-research {
  display: block;
}

.search-bar {
  width: 100%;
  height: auto;
  float: left;
  margin-bottom: 10px;
}
.search-bar .sb-button {
  width: 90px;
  height: 40px;
  float: right;
  background: #009EB3;
  color: #FFFFFF;
  font-size: 15px;
  font-family: "open sans", Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 0 2px 2px 0;
  position: relative;
  cursor: pointer;
  outline: none;
  text-indent: 20px;
}
.search-bar .sb-button:before {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
  top: 10px;
  background: url("../../images/site/front/sb-button-before.png");
  content: ' ';
}
.search-bar .sb-button:hover {
  background: #e1bc07;
}
.search-bar .sb-input {
  width: 632px;
  height: 40px;
  float: left;
  background: #fff;
  border: 1px solid #0096AA;
  margin-right: -5px;
  position: relative;
  z-index: 99;
  border-radius: 2px;
  padding-left: 15px;
  font-size: 15px;
  font-family: "open sans", Arial, Helvetica, sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.search-tip {
  width: 100%;
  float: left;
  margin: 5px 0;
  color: #777777;
}
.search-tip strong {
  color: #dddddd;
}
.search-tip:before {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 3px;
  background: url("../../images/site/front/search-tip-before.png");
  content: '';
}

.search-checks {
  width: 100%;
  float: left;
  margin: 10px 0;
}
.search-checks li {
  width: 144px;
  height: 35px;
  float: left;
  color: #fff;
  line-height: 13px;
  cursor: pointer;
  font-size: 14px;
}
.search-checks li:hover {
  opacity: .8;
}
.search-checks li .fchecbox {
  width: 14px;
  height: 14px;
  float: left;
  background: #fff;
  border: 1px solid #afafaf;
  border-radius: 2px;
  margin-right: 5px;
  position: relative;
}
.search-checks li .fchecbox:before {
  width: 14px;
  height: 14px;
  position: absolute;
  left: -1px;
  top: -1px;
  content: '';
}
.search-checks li .fchecbox.v1:before {
  background: url("../../images/site/front/fcheckbox-1.png");
}
.search-checks li .fchecbox.v2:before {
  background: url("../../images/site/front/fcheckbox-2.png");
}

.search-selects {
  width: 100%;
  height: auto;
  float: left;
  margin-top: 10px;
  font-size: 14px;
  color: #fff;
}
.search-selects .full-table tr td {
  padding: 5px;
  vertical-align: middle;
}
.search-selects .search-bt {
  width: auto;
  height: 35px;
  float: right;
  background: #00B344;
  color: #000000;
  border-radius: 2px;
  border: none;
  font-size: 15px;
  font-family: "open sans", Arial, Helvetica, sans-serif;
  outline: none;
  padding: 0 12px;
}
.search-selects .search-bt:before {
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 5px 0 -5px;
  background: url("../../images/site/front/sb-button-before.png");
  content: ' ';
}
.search-selects .search-bt:hover {
  background: #e1bc07;
}
.search-selects .reset-bt {
  width: auto;
  height: 35px;
  float: right;
  background: #777777;
  color: #fff;
  border-radius: 2px;
  border: none;
  font-size: 15px;
  font-weight: 300;
  font-family: "open sans", Arial, Helvetica, sans-serif;
  outline: none;
  margin-right: 10px;
  padding: 0 12px;
}
.search-selects .reset-bt:before {
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 5px 0 -5px;
  background: url("../../images/site/front/sb-reset-before.png");
  content: ' ';
}
.search-selects .reset-bt:hover {
  background: #929292;
}

/* Advanced Search */
/* Advanced Search Results */
.as-results {
  width: 100%;
  height: auto;
  float: left;
}
.as-results .result-left {
  width: 390px;
  float: left;
}
.as-results .result-right {
  width: 310px;
  float: right;
}
.as-results .asr-title {
  width: 100%;
  float: left;
  color: #fff;
  font-size: 12px;
}
.as-results .asr-author {
  width: 310px;
  height: auto;
  float: left;
  padding: 9px 9px 0 9px;
  border: 1px solid #262626;
  background: #181818;
  border-radius: 2px;
  margin: 10px 0;
}
.as-results .asr-author h3 {
  font-size: 17px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 5px;
}
.as-results .asr-author .author-manga {
  width: 100%;
  height: auto;
  float: left;
  margin-bottom: 9px;
}
.as-results .asr-author .author-manga .image {
  width: 33px;
  float: left;
  overflow: hidden;
}
.as-results .asr-author .author-manga .image img {
  width: 33px;
}
.as-results .asr-author .author-manga .auth-right {
  width: 247px;
  float: right;
  color: #bababa;
}
.as-results .asr-author .author-manga .auth-right h4 a,
.as-results .asr-author .author-manga .auth-right h4 {
  width: 100%;
  float: left;
  color: #fff;
  font-size: 13px;
}
.as-results .asr-author .author-manga .auth-right .auth-genre {
  font-style: italic;
}

/* Advanced Search Results */
/* Manga Box */
.manga-box {
  width: 100%;
  height: auto;
  float: left;
  padding: 9px;
  border: 1px solid #262626;
  background: #181818;
  border-radius: 2px;
  margin: 10px 0;
}
.manga-box .image {
  width: 80px;
  height: auto;
  float: left;
  overflow: hidden;
}
.manga-box .image img {
  width: 80px;
}
.manga-box .mb-right {
  color: #bababa;
  margin-left: 90px;
  font-size: 12px;
}
.manga-box .mb-right h3 a,
.manga-box .mb-right h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
.manga-box .mb-right .detail {
  width: 100%;
  height: auto;
  float: left;
  margin: 1px 0;
}
.manga-box .mb-right .detail.genre {
  font-style: italic;
  margin-top:5px;
}

/* Manga Box */
/* Pagination */
.general-nav {
  width: 100%;
  float: left;
  margin: 10px 0;
  text-align: center;
}
.general-nav a {
  width: auto;
  height: 23px;
  display: inline-block;
  padding: 0 7px;
  color: #fff;
  background: #777777;
  line-height: 23px;
  border-radius: 2px;
  margin: 2px 0;
}
.general-nav a:hover {
  background: #929292;
}
.general-nav span {
  width: auto;
  height: 23px;
  display: inline-block;
  color: #000;
  background: #25bae5;
  padding: 0 7px;
  line-height: 23px;
  border-radius: 2px;
  cursor: default;
  margin: 2px 0;
}

/* Pagination */
/* Series Column */
.series-col {
  width: 350px;
  float: left;
}
.series-col .serie-box {
  width: 100%;
  height: auto;
  float: left;
  padding: 9px;
  border: 1px solid #262626;
  background: #181818;
  border-radius: 2px;
  margin: 10px 0;
}
.series-col .serie-box .sb-title {
  width: 100%;
  height: auto;
  float: left;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.series-col .serie-box ul li {
  width: 100%;
  float: left;
  margin: 2px;
  color: #777777;
}
.series-col .serie-box ul li:before {
  border: solid transparent;
  border-left-color: #fff;
  border-width: 3px;
  content: '';
  height: 0;
  width: 0;
  float: left;
  margin: 6px 5px 0 0;
}
.series-col .serie-box ul li a {
  width: auto;
  height: auto;
  color: #dddddd;
}
.series-col .serie-box ul li a:hover {
  text-decoration: underline;
}

/* Series Column */
/* Settings Table */
.settings-table {
  font-size: 15px;
}
.settings-table tr td {
  padding: 5px;
}

/* Settings Table */

#assets {
  display: none;
}

.chapter-nt-bts {
  width: 100%;
  height: auto;
  float: left;
  margin: 0;
}
.chapter-nt-bts .chapter-nt-b {
  width: auto;
  height: 30px;
  float: left;
  padding: 0 10px;
  background: #825582;
  color: #000;
  font-size: 13px;
  line-height: 30px;
  margin-right: 10px;
  border-radius: 2px;
  cursor: pointer;
}
.chapter-nt-bts .chapter-nt-b:before {
  width: 18px;
  height: 18px;
  float: left;
  margin: 6px 5px 0 -4px;
}
.chapter-nt-bts .chapter-nt-b:hover {
  background: #662D66;
}

.chapter-nt-bts .chapter-nt-b.active {
    background: #6D4E6D;
    color: #d6d6d6;
	border-bottom: 2px solid #AF8EB0;
    cursor: pointer;
    border: 1px solid #121212;
    box-shadow: 0 0 10px black inset;
	-moz-box-shadow: 0 0 10px black inset;
	font-size: 12px;
}
.chapter-nt-bts .chapter-nt-b.active:hover {
  background: #464646;
  color: #e5e5e5;
}
.recommended_manga {
  border-collapse: separate;
}
.recommended_manga td {
  width:   180px;
  padding: 16px 8px;
}
.reg-fb-lg {
  width:      50%;
  text-align: center;
}
.reg-or {
  width:       50%;
  text-align:  center;
  margin:      16px 0px;
  font-size:   1.25em;
  font-weight: bold;
}
div.error {
  clear: both;
  color: red;
}
div.error ul {
  padding-left:    12px;
  list-style-type: square;
}
span.error {
  color: red;
}
.success_box {
  clear:               both;
  color:               #444444;
  margin:              8px 0px;
  padding:             6px 30px;
  background-repeat:   no-repeat;
  background-position: 6px 7px;
  font-size:           1.1em;
  border-radius:       3px;
}
.success_box {
  margin:           8px;
  background-image: url(../../images/site/front/check.png);
  background-color: #DAFFAA;
}
.mail-subsr {
  color: #444444;
}
.following-contents .following-box .subscribed {
  width: auto;
  height: 15px;
  line-height: 15px;
  position: absolute;
  left: 70px;
  bottom: 5px;
  cursor: default;
  color: #78FF00;
}
.following-contents .following-box .subscribed:before {
  width: 10px;
  height: 10px;
  float: left;
  background: url("../../images/site/front/get-mail-before.png");
  content: ' ';
  margin: 4px 2px 0 0;
}
.prompt {
  margin: 12px 0px;
}

.cus_form input {
  width:   25%;
  padding: 2px;
}

div.line {
  margin: 8px 0px;
}
.inputstl {
    width: 250px;
    height: 29px;
    border: 1px solid black;
    border-radius: 5px;
}
.tags {
    background: #2D282D;
    padding: 1px 5px;
    border-radius: 3px;
    color: #A1A1A1;
    margin-right: 6px;
    border: 1px solid #171717;
}
.pdesc {
    font-size: 14px;
    font-style: italic;
    color: #BBAEBC;
}
.reg {
    background: rgba(0, 255, 210, 0.25);
    font-weight: 600;
}
.hot {
	color: red !important;
	font-weight:600;
}
.hotbox {
	background: rgba(52, 0, 35, 0.1);
    padding: 9px;
    border: 1px solid rgb(0, 0, 0);
    margin-left: -1%;
    box-shadow: 0 0 71px rgba(128, 0, 128, 0.36) inset;
    -moz-box-shadow: 0 0 71px rgba(128, 0, 128, 0.36) inset;
    width: 102%;
}
.newbox {
	background: rgba(52, 0, 35, 0.1);
    padding: 9px;
    border: 1px solid rgb(0, 0, 0);
    margin-left: -1%;
	box-shadow: 0 0 71px rgba(0, 58, 128, 0.36) inset;
	-moz-box-shadow: 0 0 71px rgba(0, 58, 128, 0.36) inset;
    width: 102%;
}
.stread {
    float: left;
    background: #009546;
    text-align: center;
    border: 1px solid #277639;
    box-shadow: 0 0 30px #094010 inset;
	-moz-box-shadow: 0 0 30px #094010 inset;
    padding: 8px 0;
    font-size: 20px;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 2px;
}
.resize {
    width: 30px;
    display: inline-block;
    line-height: 30px;
    border-radius: 5px;
    font-weight: 600;
    background: rgb(124, 124, 124);
    box-shadow: 2px 2px black;
	-moz-box-shadow: 2px 2px black;
    font-size: 20px;
    border: 1px solid white;
}
.imgresizediv {
    position: fixed;
    top: 50%;
    right: 0;
    background: rgba(167, 167, 167, 0.24);
    padding: 9px;
    border-radius: 5px;
}

/* Share Buttons */
.shareButtons{
    width: 100%;
    float: left;
    padding: 10px;
    background: rgba(0,0,0,.3);
    margin: 10px 0;
    border-radius: 3px;
    text-align: center;
}
.shareButtons .label{
    width: auto;
    height: 30px;
    float: left;
    line-height: 30px;
    color: #fff;
    font-size: 15px;
    font-style: italic;
    margin-right:7px ;
}
.shareButtons .bt{
    width: auto;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    color: #fff;
    font-size: 12px;
    padding: 0 10px;
    border-radius: 2px;
    background: #666;
    margin-right: 7px ;
}
.shareButtons .bt:Hover{
    opacity: .8;
}
.shareButtons .bt:before{
    width: 16px;
    height: 16px;
    float: left;
    content: ' ';
    margin-top: 7px;
    margin-right: 7px;
    margin-left: -2px;
}
.shareButtons .bt.fb{background: linear-gradient(#4e69a2,#3b5998);}
.shareButtons .bt.fb:before{background: url("../../images/site/front/share-fb.png")}
.shareButtons .bt.tw{background: linear-gradient(#1da1f2, #1d96e6);}
.shareButtons .bt.tw:before{background: url("../../images/site/front/share-tw.png")}
.shareButtons .bt.gp{background: linear-gradient(#db4437, #cf4538);}
.shareButtons .bt.gp:before{background: url("../../images/site/front/share-gp.png")}
.shareButtons .bt.pt{background: linear-gradient(#d1081c, #bd081c);}
.shareButtons .bt.pt:before{background: url("../../images/site/front/share-pt.png")}
.shareButtons .bt.rd{background: linear-gradient(#336699, #305d8d);}
.shareButtons .bt.rd:before{background: url("../../images/site/front/share-rd.png")}
/* Share Buttons */



/* Main Share */
.main-share{
    width: 300px;
    height: 109px;
    float: left;
    background: url("../../images/site/front/mainShare.png") no-repeat;
    text-align: center;
    padding-top: 44px;
    margin: 10px 0;
}
.main-share a{
    width: 41px;
    height: 42px;
    display: inline-block;
    margin: 0 2px;
}
.main-share a:hover{
    opacity: .8;
}
.main-share a.fb{background: url("../../images/site/front/ms-fb.png") no-repeat;}
.main-share a.tw{background: url("../../images/site/front/ms-tw.png") no-repeat;}
.main-share a.gp{background: url("../../images/site/front/ms-gp.png") no-repeat;}
.main-share a.rd{background: url("../../images/site/front/ms-rd.png") no-repeat;}
/* Main Share */


/* Responsive */
@media (max-width: 1100px) {
	.header-ad{display:none}
    .center{
        width: 100%;
    }
    .banner{
        display: none;
    }
    .container-left{
        width: auto;
        float: none;
        margin-right: 310px;
    }
    .main-search{display: none;}

    .search-bar{
        padding-right: 90px;
        position: relative;
    }
    .search-bar .sb-button{
        position: absolute;
        right: 0;
        top: 0;
    }
    .search-bar .sb-input{
        width: 100%;
    }
    .as-results .result-left{
        width: 48%;
    }
    .as-results .result-right{
        width: 48%;
        float: right;
    }
    .as-results .asr-author{
        width: 100%;
    }
    .as-results .asr-author .author-manga .auth-right{
        width: auto;
        float: none;
        margin-left: 40px;
    }
    .advanced-search.closed{
        margin-top: 0;
    }
    .series-col{
        width: 49%;
    }
    .manga-right{
        width: auto;
        float: none;
        margin-left: 245px;
    }
    .imgresizediv{display: none}
    .chapter-title .ct-right,
    .chapter-title .ct-left{
        width: 100%;
        float: left;
        max-width: 100%;
    }
    .chapter-title .ct-right{
        position: relative;
        padding-left: 45px;
    }
    .chapter-title .ct-right .title {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 15px;
        line-height: 35px;
    }
    .chapter-main .chapter-container img{
        max-width: 100% !important;
    }
    .chapter-ads{
        overflow: hidden;
    }
}
@media (max-width: 800px) {
    .header{
        height: auto;
    }
    .header .header-top{
        height: 60px;
        text-align: center;
    }
    .header .logo{
        width: 200px;
        float: none;
        height: auto;
        margin-top: 0;
        display: inline-block;
    }
    .header .logo img{
        width: 100%;
    }
    .header .mainMenuTrigger{
        width: 50px;
        height: 50px;
        position: absolute;
        left: 0;
        cursor: pointer;
        top: 60px;
        z-index: 99;
        background: url("../../images/site/front/mainMenuTrigger.png") center;
    }
    .main-menu{
        width: 300px;
        height: auto;
        position: absolute;
        left: 10px;
        top: 110px;
        background: #171717;
        box-shadow: 0 5px 5px rgba(0,0,0,.8);
        border-radius: 3px;
        z-index: 999;
        display: none;
    }
    .main-menu.active{
        display: block;
    }
    .main-menu > li{
        width: 100%;
    }
    .main-menu > li > a{
        width: 100%;
    }
    .as-results .result-left,
    .as-results .result-right{
        width: 100%;
        margin: 10px 0;
    }
    .container{
        width: 100%;
        float: left;
        margin: 0;
        padding: 0 10px;
    }
    .container-right,
    .container-left{
        width: 100%;
        padding: 0;
        float: left;
        margin: 10px 0;
        overflow: hidden;
    }

    .c-bottom-nav .tip{
        margin-bottom: 15px;
        width: 100%;
    }

}
@media (max-width: 700px) {
    .cr-anime-box,
    .cr-text{
        width: 100%;
    }
    .cr-anime-box{
        padding-left: 90px;
    }
    .cr-anime-box .number{
        margin-left: -90px;
    }
    .cr-anime-box .image{
        margin-left: -70px;
    }
    .cr-anime-box .chapter,
    .cr-anime-box .name{
        width: 100%;
        float: left;
    }
    .search-selects .full-table tr td:last-child{display: none}
    .chapter-title .ct-left .title h2, .chapter-title .ct-left .title span, .chapter-title .ct-left .title h1{
        font-size: 19px;
    }
    .chapter-title .ct-left .title h2 a, .chapter-title .ct-left .title h2{
        font-size: 15px;
    }
    .chapter-title .ct-left .full-table{
        width: 100%;
    }
    .chapter-nt-bts .chapter-nt-b{padding: 0 6px; margin-right: 5px}
    .chapter-nt-bts .chapter-nt-b:nth-child(2){display: none}
}
@media (max-width: 600px) {
    .manga-image{
        width: 130px;
        height: auto;
        float: left;
    }
    .manga-image img{
        width: 100% !important;
        height: auto !important;
    }
    .manga-right{
        margin-left: 145px;
    }
}
@media (max-width: 500px) {
    .series-col{
        width: 100%;
        float: left;
    }
    .mail-subsr {
        display: none;
    }
}
/* Responsive */
.sharespan {
    font-weight: 600;
    margin-bottom: 5px;
    color: white;
    display: block;
    width: 100%;
    font-size: 16px;
}
.bl {
	display:block !important;
	margin-bottom:4px;
}