﻿body {
	MARGIN: 0px;
	font-family: verdana,宋体;
	font-size: 12px;
	SCROLLBAR-FACE-COLOR: #e8e7e7;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #ffffff;
	SCROLLBAR-3DLIGHT-COLOR: #cccccc;
	SCROLLBAR-ARROW-COLOR: #8CBB00;
	SCROLLBAR-TRACK-COLOR: #EFEFEF;
	SCROLLBAR-DARKSHADOW-COLOR: #b2b2b2;
	SCROLLBAR-BASE-COLOR: #000000;
	background-color: #FFFFFF;
}
p { PADDING: 0px;
    margin:0;
}
select {
    font-family: verdana,宋体;
	font-size: 12px;
}
hr {
	color: #CCCCCC;
	clear: both;
}
.putin_succeed{
    background-image: url(../images/sf_bg.gif);
	background-repeat: no-repeat;
	background-position: -159px -591px;
	height: 28px;
	width: 29px;
}
.putin_intro li{
	float: left;
	height: 28px;
	line-height: 28px;
}
ul {
    PADDING: 0px;
	margin:0;
	BORDER: medium none;
    LIST-STYLE-TYPE: none;
	overflow:hidden;
	text-overflow:ellipsis;
}
.base_line {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
.Mh_space4px {
	margin-bottom: 4px;
}
.ddlis_selected
{
	background-color:#999999;
	color:#FFFFFF;
	height: 18px;
	line-height: 19px;
}

.ddlis_unselected
{
    background-color:#FFFFFF;
    color:#666666;
	height: 18px;
	line-height: 19px;
}
.Searchlist_frame {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #E3E3E3;
	border-bottom-color: #E3E3E3;
	border-left-color: #999999;
	color: #666666;
}
.Conjunction {float: left;margin-right: 12px;}
.pic_frame img{
	border: 1px solid #CCCCCC;
	padding: 3px;
	background-color: #FFFFFF;
}
.comic_cover img{
	border: 1px solid #CCCCCC;
	padding: 4px;
	background-color: #FFFFFF;
}
.Comic_Pic_List {
	width:50%;
	float: left;
	margin-top: 10px;
	height: 110px;
}
#announcement ul {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px
}
#announcement {
	width:100%;
	background:url(img/menu_bg.gif) repeat;
	overflow: hidden;
}
#announcement div {
	border: #e6e6e6 1px solid;
	padding:0px 10px 0px 10px;
	overflow-y:hidden;
	line-height: 24px;
	height: 24px
}
#announcement li {
	font-size: 12px;
	float: left;
	list-style-type: none;
	margin-right: 20px;
	padding-left: 10px;
	background: url(img/arrow_right.gif) no-repeat 0px 50%;
	white-space: nowrap
}
/*JtrackBar*/
.JTrackBarStand {
	height:17px;
}
.JTrackBar_FJ {
    background-image: url(../images/sf_bg.gif);
	background-repeat: no-repeat;
	background-position: -48px -445px;
	height: 17px;
	width: 56px;
}
.JTrackBar_FJFS {
    background-image: url(../images/sf_bg.gif);
	background-repeat: no-repeat;
	background-position: -48px -466px;
}
.JTrackBar_TJPF {
    background-image: url(../images/sf_bg.gif);
	background-repeat: no-repeat;
	background-position: -110px -445px;
	height: 19px;
	width: 83px;
	overflow: hidden; 
	display: block;
	text-indent: -9999px;
}
.JTrackBarStand .btnLeft{
	width:5px;
	height:17px;
	background-image: url(../images/sf_bg.gif);
	background-repeat: no-repeat;
	background-position: -211px -445px;
}
.JTrackBarStand .btnRight{
	width:5px;
	height:17px;
	background-image: url(../images/sf_bg.gif);
	background-repeat: no-repeat;
	background-position: -219px -445px;
}
.JTrackBarStand .trackAreaH{
	height:17px;
	background-image: url(../images/sf_bg2.png);
	background-repeat:repeat-x;
	background-position: 0px -418px;
}
.JTrackBarStand .btnPointerH{
	width:9px;
	height:17px;
	background-image: url(../images/sf_bg.gif);
	background-repeat:no-repeat;
	cursor:move;
	background-position: -198px -445px;
}.JTrackBar_input {
	font-weight: bold;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 19px;
	width: 50px;
	color: #FF6600;
	text-align: center;
	font-size: 14px;
	background-color: #f5f5f5;
}
/*JtrackBarEnd*/

/*分页代码*/ 
.nav {
	float:right;
	padding-top: 5px;
}
.nav li {
	float:left;
	height:19px;
	font-family:Verdana;
	font-size:10px;
	line-height: 18px;
	margin-left: 3px;
}
.pagebar a{
	border:1px solid #b5b5b5;
	color:#666;
	text-decoration: none;
	background-color: #FFFFFF;
	padding: 2px 8px 2px 8px;
	}
.pagebar a:link {color:#666;text-decoration: none;}
.pagebar a:visited {color:#666;text-decoration: none;}
.pagebar a:hover { color:#f60;border:1px solid #f60;text-decoration: none; }
.pagebar a:active {color:#666;text-decoration: none;}
.pagebarCurrent {
	color:#f60;
	font-weight:bold;
	padding-right: 8px;
	padding-bottom: 0;
	padding-left: 8px;
	}
.pagebarDot { padding:1px 3px;border:none; }
.pagebarPrv a {
        display:block;
		height:19px;
		width:45px;
		overflow: hidden;
		text-indent: -9999px;
		border:none;background: url(../images/sf_bg.gif);
		background-repeat: no-repeat;
	    background-position: -132px -306px;
	}
.pagebarPrv a:hover {
			border:none;background: url(../images/sf_bg.gif);
			background-repeat: no-repeat;
	        background-position: -198px -306px;
		}
.pagebarNext a {
        display:block;
	    height:19px;
		width:45px;
		overflow: hidden;
		text-indent: -9999px;
		border:none;background: url(../images/sf_bg.gif);
		background-repeat: no-repeat;
	    background-position: 0px -306px;
	}
.pagebarNext a:hover {
	border:none;background-image: url(../images/sf_bg.gif);
	background-repeat: no-repeat;
	background-position: -66px -306px;
	}
/*分页结束*/ 
.Subhead {
	font-size: 12px;
	font-weight: bold;
	color: #FF6600;
	background-image: url(../images/sf_bg.gif);
	background-repeat: no-repeat;
	background-position: 7px -281px;
	padding-left: 16px;
	letter-spacing: 3px;
	padding-top: 3px;
}
.Subhead2 {
	font-size: 12px;
	font-weight: bold;
	color: #FF6600;
	height: 16px;
	line-height: 20px;
	letter-spacing: 3px;
}
.letter_list {
    WIDTH:720px;
	overflow:hidden;
}
.letter_list ul {
    width:728px;
}
.letter_list Li {
	float:left;
	width:20px;
	height:30px;
	margin-right:6px;
	text-align:center;
	line-height:30px;
	font-weight: bold;
	DISPLAY: block;
}
.letter_list2 {
    WIDTH:730px;
	overflow:hidden;
}
.letter_list2 ul {
    width:735px;
}
.letter_list2 Li {
	float:left;
	width:44px;
	height:30px;
	margin-right:5px;
	text-align:center;
	line-height:30px;
	font-weight: bold;
	DISPLAY: block;
}
.letter_list3 {
    WIDTH:960px;
	overflow:hidden;
}
.letter_list3 ul {
    width:960px;
}
.letter_list3 Li {
	float:left;
	width:60px;
	height:30px;
	text-align:center;
	line-height:30px;
	font-weight: bold;
	DISPLAY: block;
}
.Li_bg li{
	background-image: url(../images/sf_bg.gif);
	background-repeat: no-repeat;
	background-position: 2px -75px;
	padding-left: 12px;
	white-space:nowrap;
}
.Li_bg2 li{
	background-image: url(../images/sf_bg.gif);
	background-repeat: no-repeat;
	padding-left: 12px;
}
.Li_bg3 li{
	background-image: url(../images/sf_bg.gif);
	background-repeat: no-repeat;
	background-position: 0px -29px;
	padding-left: 12px;
}
.li_more {
	text-align:right;
	padding-top: 4px;
}
h1,h2,h3,h4,h5,h6 {
	margin:0;
	padding:0;
}
h1{font-size:16px;}
form{margin:0;}
.icon_bugle {
	background-image: url(../images/sf_bg.gif);
	background-repeat: no-repeat;
	background-position: -288px -296px;
	display: block;
	padding-left: 18px;
}
.icon_hot {
	background-image: url(../images/sf_bg.gif);
	background-repeat: no-repeat;
	background-position: -281px -312px;
	display: block;
	padding-left: 25px;
}
.Toolbar2_left {
	background-image: url(../images/sf_bg2.png);
	background-repeat: repeat-x;
	background-position: 0px -84px;
}
.Toolbar2_middle {
	background-image: url(../images/sf_bg2.png);
	background-repeat: repeat-x;
	background-position: 0px -106px;
}
.Toolbar2_right {
	background-image: url(../images/sf_bg2.png);
	background-repeat: repeat-x;
	background-position: 0px -128px;
}
.Toolbar2_icon1 {
	background-image: url(../images/sf_bg.gif);
	background-repeat: no-repeat;
	background-position: -152px -180px;
	display: block;
	padding:4px 4px 0px 22px;
}
.Toolbar2_icon2 {
	background-image: url(../images/sf_bg.gif);
	background-repeat: no-repeat;
	background-position: -152px -101px;
	display: block;
	padding:4px 4px 0px 19px;
}
.Toolbar2_icon3 {
	background-image: url(../images/sf_bg.gif);
	background-repeat: no-repeat;
	background-position: -152px -121px;
	display: block;
	padding:4px 4px 0px 18px;
}
.Toolbar2_icon4 {
	background-image: url(../images/sf_bg.gif);
	background-repeat: no-repeat;
	background-position: -152px -142px;
	display: block;
	padding:4px 4px 0px 18px;
}
.Toolbar2_icon5 {
	background-image: url(../images/sf_bg.gif);
	background-repeat: no-repeat;
	background-position: -152px -161px;
	display: block;
	padding:4px 4px 0px 30px;
}
.Toolbar2_icon6 {
	background-image: url(../images/sf_bg.gif);
	background-repeat: no-repeat;
	background-position: -285px -124px;
	display: block;
	padding:4px 4px 0px 20px;
}
.Menu_bg {
	background-image: url(../images/sf_bg2.png);
	background-repeat: repeat-x;
	background-position: 0px -355px;
}
.Tab_bg {
	background-image: url(../images/Tab_bg.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
.Tab_middle3 {
	background-image: url(../images/sf_bg2.png);
	background-repeat: repeat-x;
	background-position: 0px -329px;
}
.white_link1 a:link {
	color: #FFFFFF;
	text-decoration: none;
}
.white_link1 a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
.white_link1 a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
.white_link1 a:active {
	color: #FFFFFF;
	text-decoration: none;
}
.white_link2 a:link {
	color: #FFF7EC;
	text-decoration: underline;
}
.white_link2 a:visited {
	color: #FFF7EC;
	text-decoration: underline;
}
.white_link2 a:hover {
	color: #FFFFFF;
	text-decoration: none;
}
.white_link2 a:active {
	color: #FFF7EC;
	text-decoration: underline;
}
.gray_link3 a:link {
	color: #666666;
	text-decoration: none;
	display: block;
}
.gray_link3 a:visited {
	color: #666666;
	text-decoration: none;
}
.gray_link3 a:hover {
	color: #BD0000;
	text-decoration: underline;
	display: block;
}
.gray_link3 a:active {
	color: #666666;
	text-decoration: none;
}
a.Tab1:link {
	font-weight: bold;
	color: #999999;
	text-decoration: none;
}
a.Tab1:visited {
	font-weight: bold;
	color: #999999;
	text-decoration: none;
}
a.Tab1:hover {
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
a.Tab1:active {
	font-weight: bold;
	color: #999999;
	text-decoration: none;
}
a.Tab2:link {
	font-weight: bold;
	color: #999999;
	text-decoration: none;
}
a.Tab2:visited {
	font-weight: bold;
	color: #999999;
	text-decoration: none;
}
a.Tab2:hover {
	font-weight: bold;
	color: #cccccc;
	text-decoration: none;
}
a.Tab2:active {
	font-weight: bold;
	color: #999999;
	text-decoration: none;
}
a.Red_link1:link {
	color: #BD0000;
	text-decoration: underline;
}
a.Red_link1:visited {
	color: #BD0000;
	text-decoration: underline;
}
a.Red_link1:hover {
	color: #BD0000;
	text-decoration: none;
}
a.Red_link1:active {
	color: #BD0000;
	text-decoration: underline;
}
.Red_link2 a:link {
	color: #BD0000;
	text-decoration: none;
}
.Red_link2 a:visited {
	color: #BD0000;
	text-decoration: none;
}
.Red_link2 a:hover {
	color: #BD0000;
	text-decoration: underline;
}
.Red_link2 a:active {
	color: #BD0000;
	text-decoration: none;
}
a.orange_link1:link {
	color: #FF6600;
	text-decoration: none;
}
a.orange_link1:visited {
	color: #FF6600;
	text-decoration: none;
}
a.orange_link1:hover {
	color: #FF6600;
	text-decoration: underline;
}
a.orange_link1:active {
	color: #FF6600;
	text-decoration: none;
}
a.orange_link2:link {
	color: #FF6600;
	text-decoration: underline;
}
a.orange_link2:visited {
	color: #FF6600;
	text-decoration: underline;
}
a.orange_link2:hover {
	color: #FF6600;
	text-decoration: none;
}
a.orange_link2:active {
	color: #FF6600;
	text-decoration: underline;
}
.gray_link1 a:link {
	color: #666666;
	text-decoration: none;
}
.gray_link1 a:visited {
	color: #666666;
	text-decoration: none;
}
.gray_link1 a:hover {
	color: #333333;
	text-decoration: underline;
}
.gray_link1 a:active {
	color: #666666;
	text-decoration: none;
}
a.gray_link2:link {
	color: #666666;
	text-decoration: underline;
}
a.gray_link2:visited {
	color: #666666;
	text-decoration: underline;
}
a.gray_link2:hover {
	color: #333333;
	text-decoration: none;
}
a.gray_link2:active {
	color: #666666;
	text-decoration: underline;
}
.gray_link4 a:link {
	color: #454545;
	text-decoration: underline;
}
.gray_link4 a:visited {
	color: #454545;
	text-decoration: underline;
}
.gray_link4 a:hover {
	color: #333333;
	text-decoration: none;
}
.gray_link4 a:active {
	color: #454545;
	text-decoration: underline;
}
a.Blue_link1:link {
	color: #1D4E6D;
	text-decoration: underline;
}
a.Blue_link1:visited {
	color: #1D4E6D;
	text-decoration: underline;
}
a.Blue_link1:hover {
	color: #1D4E6D;
	text-decoration: none;
}
a.Blue_link1:active {
	color: #1D4E6D;
	text-decoration: underline;
}
.Blue_link2 a:link {
	color: #1D4E6D;
	text-decoration: none;
}
.Blue_link2 a:visited {
	color: #3E93CC;
	text-decoration: none;
}
.Blue_link2 a:hover {
	color: #1D4E6D;
	text-decoration: underline;
}
.Blue_link2 a:active {
	color: #1D4E6D;
	text-decoration: none;
}
.Blue_link3 a:link {
	color: #1D4E6D;
	text-decoration: underline;
}
.Blue_link3 a:visited {
	color: #1D4E6D;
	text-decoration: underline;
}
.Blue_link3 a:hover {
	color: #1D4E6D;
	text-decoration: none;
}
.Blue_link3 a:active {
	color: #1D4E6D;
	text-decoration: underline;
}
.Blue_link4 a:link {
	color: #1D4E6D;
	text-decoration: underline;
}
.Blue_link4 a:visited {
	color: #1D4E6D;
	text-decoration: underline;
}
.Blue_link4 a:hover {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #1D4E6D;
	padding: 2px;
}
.Blue_link4 a:active {
	color: #1D4E6D;
	text-decoration: underline;
}
a.Yellow_link1:link {
	color: #FFFF00;
	text-decoration: underline;
}
a.Yellow_link1:visited {
	color: #FFFF00;
	text-decoration: underline;
}
a.Yellow_link1:hover {
	color: #FFFF00;
	text-decoration: none;
}
a.Yellow_link1:active {
	color: #FFFF00;
	text-decoration: underline;
}
a.Yellow_link2:link {
	color: #FFFF00;
	text-decoration: none;
}
a.Yellow_link2:visited {
	color: #FFFF00;
	text-decoration: none;
}
a.Yellow_link2:hover {
	color: #FFFF00;
	text-decoration: underline;
}
a.Yellow_link2:active {
	color: #FFFF00;
	text-decoration: none;
}
.F14PX {
	font-size: 14px;
}
.F10PX {
	font-size: 10px;
}
.F30PX {
	font-size: 30px;
	font-family: "黑体";
	font-weight: bolder;
}
.font_gray {
	color: #666666;
}
.font_white {
    color: #ffffff;
}
.font_red {
    color: #BD0000;
}
.font_orange {
	color: #FF6600;
}
.font_pink {
    color:#FF0066;
}
.font_green {
	color: #00AA00;
}
.font_blue {
    color: #1D4E6D;
}
.Tab_place {
	padding-top: 5px;
	padding-left: 3px;
}
.block_place {
	color: #FF6600;
	font-weight: bold;
	letter-spacing: 3px;
	padding-top: 3px;
	padding-left: 4px;
}
.block_place2 {
	color: #FF6600;
	font-weight: bold;
	padding-top: 2px;
	padding-left: 2px;
}
.block_bg {
	background-image: url(../images/sf_bg2.png);
	background-repeat: repeat-x;
	background-position: 0px -150px;
}
.Tab_space {
	margin-left: 10px;
}
.Tab_space2 {
	margin-left: 5px;
}
.space10px {
	margin-top: 10px;
}
.Search_frame {
	height: 20px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #E3E3E3;
	border-bottom-color: #E3E3E3;
	border-left-color: #999999;
	font-size: 12px;
	color: #666666;
	vertical-align: middle;
	line-height: 23px;
	padding:0 5px;
}
.Search_input {
	font-size: 12px;
	color: #454545;
	height: 22px;
	width: 70px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #e0e0e0;
	border-right-color: #8f8f8f;
	border-bottom-color: #8f8f8f;
	border-left-color: #e0e0e0;
	background-color: #e0e0e0;
	vertical-align: middle;
	padding-top: 2px;
}
.Height_px22 {
	line-height: 22px;
}
.Height_px20 {
	line-height: 20px;
}
.Height_px18 {
	line-height: 18px;
}
.Height_px16 {
	line-height: 16px;
}
.Tab2_frame {
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
	border-bottom-color: #FFFFFF;
}
.affiche_left {
    background-image: url(../images/sf_bg2.png);
	background-repeat: no-repeat;
	background-position: 0px -208px;
}
.affiche_middle {
    background-image: url(../images/sf_bg2.png);
	background-repeat: repeat-x;
	background-position: 0px -230px;
	padding-left: 5px;
}
.affiche_right {
    background-image: url(../images/sf_bg2.png);
	background-repeat: no-repeat;
	background-position: 0px -252px;
}
.Toolbar_left {
	background-image: url(../images/sf_bg2.png);
	background-repeat: repeat-x;
}
.Toolbar_middle {
	background-image: url(../images/sf_bg2.png);
	background-repeat: repeat-x;
	background-position: 0px -28px;
}
.Toolbar_right {
	background-image: url(../images/sf_bg2.png);
	background-repeat: repeat-x;
	background-position: 0px -56px;
}
.Clew_succeed{
    background-image: url(../images/sf_bg.gif);
	background-repeat: no-repeat;
	background-position: -159px -591px;
	height: 28px;
	width: 44px;
}
.comic_title7 {
	background-image: url(../images/sf_bg.gif);
	background-repeat: no-repeat;
	background-position: -164px -208px;
}
.comic_title8 {
    width:60px;
	height:23px;
	background-image: url(../images/sf_bg.gif);
	background-repeat: no-repeat;
	background-position: -60px -721px;
}
.Comment_bg{
	background-image: url(../images/sf_bg2.png);
	background-repeat: repeat-x;
	background-position: 0px -188px;
}
.Comment_list{
	padding: 12px 0px 12px 0px;
}
.Clear_fix{
	display:block!important;
	display:inline-block;
	overflow:hidden!important;
	overflow:auto;
	text-align: left;
}
.Restore_list{
	padding: 7px;
	background-color: #E8F1F9;
	border: 1px solid #8EC0E1;
	margin-bottom: 10px;
}
.restore_text {
	height: 80px;
	width: 586px;
	font-size: 12px;
	font-family: Verdana, "宋体";
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #999999;
	color: #666666;
}
.restore_li {
	height: 28px;
	line-height: 28px;
	padding-left: 2px;
	float: left;
}
.restore2_li {
	float: left;
	width: 152px;
	text-align: center;
	padding-top: 12px;  
    padding-bottom: 3px;  
}
.restor_input {
	height: 48px;
	width: 71px;
	background-image: url(../images/sf_bg3.jpg);
	background-repeat: no-repeat;
	background-position: -73px 0px;
	border:0;
	cursor: hand;
}
.Commend_comic_list {
    WIDTH:190px;
	overflow:hidden;
}
.Commend_comic_list ul{
    WIDTH:200px;
}
.Commend_comic_list li{
	float: left;
	WIDTH:90px;
	text-align: center;
	margin-right:10px;
}
.Commend_comic_list a{
    display: block;
	margin: 6px 0px 4px 0px;
}
/*Tip*/
.tip{
	position:relative;
	color:#00c;
	text-decoration:none;
}
.tip:hover{
	background:none;
	color:#000;
}
.tip span {
	display: none;
}
.tip:hover span{
	display:block;
	position:absolute;
        top:4px;*top:54px;
        left:0px;
}
.tip:hover span p {
	color:#f60;
	text-align:center;
	padding:5px;
	border:1px solid #ccc;
	background:#fff;
	width:70px;
}
.links Li {
	float:left;
	width:97px;
	height:36px;
	line-height:36px;
	text-align:center;
}
.share_bar Li {
	float:left;
	text-align:center;
}
.share1{
    background-image: url(../images/sf_bg.gif);
	background-repeat: no-repeat;
	background-position: -61px -689px;
	height: 14px;
	width: 22px;
	overflow: hidden; 
	display: block;
	text-indent: -9999px;
}
.share2{
    background-image: url(../images/sf_bg.gif);
	background-repeat: no-repeat;
	background-position: -83px -689px;
	height: 14px;
	width: 22px;
	overflow: hidden; 
	display: block;
	text-indent: -9999px;
}
.share3{
    background-image: url(../images/sf_bg.gif);
	background-repeat: no-repeat;
	background-position: -105px -689px;
	height: 14px;
	width: 22px;
	overflow: hidden; 
	display: block;
	text-indent: -9999px;
}
.share4{
    background-image: url(../images/sf_bg.gif);
	background-repeat: no-repeat;
	background-position: -127px -689px;
	height: 14px;
	width: 22px;
	overflow: hidden; 
	display: block;
	text-indent: -9999px;
}
.fg_picmovie{ display:inline; float:left;overflow:hidden;}
.fg_picmovie a{display:block;clear:both;text-align:center; margin:0 0 8px 0;}
.fg_picmovie a img{ border: 1px solid #cccccc;padding: 3px;background-color: #FFFFFF;display:block; clear:both; }
.fg_picmovie li{float: left;margin-right: 19px;width:88px;}
.bigautocomplete-layout{
	display: none;;
	background-color: #FFFFFF;
	border: 1px solid #BCBCBC;
	position: absolute;
	z-index: 100;
	max-height: 220px;
	overflow-x:hidden;
	overflow-y:auto; 
}
.bigautocomplete-layout ul{
	background: none repeat scroll 0 0 #FFFFFF;
	width: 100%;
	cursor: pointer;
}
.bigautocomplete-layout ul li{
	background: none repeat scroll 0 0 #FFFFFF;
	color:#666666;
	word-wrap:break-word;
	word-break:break-all;
	padding:1px 5px;
    line-height: 22px;
}
.bigautocomplete-layout ul li span{
	color:#BD0000;
	font-weight: bold;
}
.bigautocomplete-layout .ct{
	background: none repeat scroll 0 0 #D2DEE8 !important;
}