/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
a.css-fbl, .flp_wrapper a.css-fbl {
    background: url("../img/fb-icon.png") no-repeat 10px center;
    background-color: #2b4170;
    background: url("../img/fb-icon.png") no-repeat 10px center, -moz-linear-gradient(top, #3b5998, #2b4170);
    background: url("../img/fb-icon.png") no-repeat 10px center, -ms-linear-gradient(top, #3b5998, #2b4170);
    background: url("../img/fb-icon.png") no-repeat 10px center, -webkit-linear-gradient(top, #3b5998, #2b4170);
    background-size: 25px 25px, cover;
    line-height: 1;
    display: block;
    padding-left: 50px;
    color: #fff !important;
    text-decoration: none !important;
    transition: opacity .3s ease-in;
    text-shadow: 1px 1px 0px #000;
    opacity: .90;
    position: relative;
    max-width: 300px;
    margin: 0 auto 16px;
}
a.css-fbl:hover{
    background-color: #062c70;
    background: url("../img/fb-icon.png") no-repeat 10px center, -moz-linear-gradient(top, #3b5998, #062C70);
    background: url("../img/fb-icon.png") no-repeat 10px center, -ms-linear-gradient(top, #3b5998, #062C70);
    background: url("../img/fb-icon.png") no-repeat 10px center, -webkit-linear-gradient(top, #3b5998, #062C70);
    background-size: 25px 25px, cover;
    color: #FDFDFD;
    opacity: 1;

}
a.css-fbl div {
    height: 45px;
    display: table-cell;
    vertical-align: middle;
}
.css-fbl img{
    display: none;
    width: 20px;
    right: 6px;
    top: 31%;
    position: absolute;
    height: auto;
}
.css-fbl.fbl-loading img{
    display: block !important;
}
/* ignition deck*/
div#extra_fields .css-fbl {
    margin-top: 1em;
}
/**
* LOGIN FORM
*/
.flp_wrapper{
    max-width: 400px;
    margin: 0 auto;
    display: block;
}
.flp_wrapper .flp_form:before{
    content: " ";
    display: table;
}
.flp_wrapper .flp_form:after{
    clear: both;
    content: " ";
    display: table;
}
.flp_wrapper .flp_form .flp_input{
    width: 100%;
    height: 35px;
    display: block;
    margin-bottom: 5px;
}
.flp_wrapper .flp_orfill{
    text-align: center;
    border-bottom: 2px dashed #ccc;
    padding-bottom: 10px;
}

.flp_wrapper .a.css-fbl {
    margin-bottom: 20px;
}
.flp_wrapper .flp_form .flp_login-username,
.flp_wrapper .flp_form .flp_register-email,
.flp_wrapper .flp_form .login_register,
.flp_wrapper .flp_form .login-submit,
.flp_wrapper .flp_form .remember_pass,
.flp_wrapper .flp_form .flp_login-password{
    margin-bottom: 20px;
}
.flp_wrapper .flp_form div:last-child{
    margin-bottom: 0;
}
.flp_wrapper ul,
.flp_wrapper li{
    list-style: none;
    margin-left: 0;
}
.flp_wrapper input.flp_btn {
    max-width: 55%;
    float: left;
    margin-right: 10px;
}
.flp_wrapper .flp_remember_form input.flp_btn {
    max-width: 100%;
    float: none;
}
.flp_errors, .fbl_error {
    clear: both;
    color: red;
    display: block;
}
.flp_errors li{
    color: red;
    margin-bottom: 5px;
    padding-bottom: 0;
    border-bottom: 0;
}
.flp_wrapper input.flp-error{
    border: 1px solid red;
}

.flp_wrapper.flp_logged {
    text-align: center;
}
.flp_wrapper .flp_avatar{
    border-radius: 50%;
    display: inline-block;
    border: 3px solid #fff;
    overflow: hidden;
}