/*======================================
Theme Name: Dynamic News
Theme URI: https://wordpress.com/themes/dynamicnews/
Description: A responsive, multipurpose blogging and magazine theme with bold colors and fonts. It comes with a featured content slider, custom widgets, and a magazine page template.
Version: 1.0
Author: ThemeZee
Author URI: http://themezee.com
Tags: blog, business, collaboration, education, fashion, food, gaming, holiday, journal, magazine, nature, news, sports, travel, abstract, clean, conservative, contemporary, elegant, formal, minimal, modern, professional, simple, traditional, vibrant, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-image-header, featured-images, flexible-header, full-width-template, infinite-scroll, post-slider, rtl-language-support, sticky-post, threaded-comments, theme-options, translation-ready, fluid-layout, responsive-layout, one-column, two-columns, left-sidebar, right-sidebar, three-columns, light, black, orange, brown, red, white, green, blue, purple, gray
Text Domain: dynamicnews
Domain Path: /languages/
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
======================================*/


/* CSS Reset | http://meyerweb.com/eric/tools/css/reset/ | v2.0
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General Styles
-------------------------------------------------------------- */
html {
	font-size: 100.01%;
}
body {
	font-family: 'Droid Sans', Tahoma, Verdana, Arial;
	font-size: 1.0em;
	border: 0;
	color: #111;
	background-color: #e5e5e5;
}

/* Links */
a, a:link, a:visited{
	color: #e84747;
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: underline;
}

/* Form Elements */
input, textarea {
	padding: 0.7em;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 1.0em;
	color: #333;
	font-family: 'Droid Sans', Tahoma, Verdana, Arial;
}
input[type="submit"] {
	border: none;
	color: #fff;
	background: #e84747;
}
input[type="submit"]:hover {
	background-color: #303030;
	cursor: pointer;
}

/* Clearing Floats */
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
    *zoom: 1; /* For IE 6/7 only */
}

/* Make Form Elements responsive */
input, textarea, select {
	max-width: 100%;
}

/* Basic Structure
-------------------------------------------------------------- */
#wrapper {
	max-width: 1340px;
	width: 92%;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
}
#header-wrap {
	background: #fff;
}
#header {
	padding: 3em;
}
#wrap {
	clear: both;
	padding: 1.5em 1.5em 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#content {
	float: left;
	width: 72%;
	padding-right: 1.5em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#sidebar {
	float: right;
	width: 28%;
}

/* Header
-------------------------------------------------------------- */
#logo {
	float: left;
	max-width: 100%;
}
#logo .logo-image {
	border: 0;
	max-width: 100%;
	height: auto;
}
#logo .site-title {
	font-size: 2.5em;
	font-weight: bold;
	color: #e84747;
	font-family: 'Francois One', Tahoma, Verdana, Arial;
}
#logo a:hover {
	text-decoration: none;
}
#logo a:hover .site-title {
	color: #333;
	text-decoration: none;
}
#logo .site-description {
	margin-top: 0.4em;
	color: #333;
}

/* Header Content */
#header-content {
	display: inline;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#header-content div {
	float: right;
	margin-left: 1.5em;
}
#header-content #header-text {
	margin-top: 0.3em;
	line-height: 1.4em;
	font-size: 1.3em;
	color: #777;
}
#header-content #header-search #s {
	float: right;
}

/* Custom Header Image */
#custom-header {
	margin-top: 1px;
}
#custom-header img {
	max-width: 1340px;
	vertical-align: top;
	width: 100%;
	height: auto;
}
/* Navigation Menu
-------------------------------------------------------------- */
#mainnav-icon {
	display: none;
}
#navi-wrap {
	background: #333;
}
#mainnav-menu {
	list-style-type: none;
	list-style-position: outside;
	position: relative;
}
#mainnav-menu li{
	float:left;
	position:relative;
	margin-right: 1px;
}
#mainnav-menu a {
	display: block;
	padding: 1.5em;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.0em;
	font-family: 'Francois One', Tahoma, Verdana, Arial;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-ms-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}
#mainnav-menu a:link, #mainnav-menu a:visited{
	color: #fff;
	text-decoration: none;
}
#mainnav-menu a:hover {
	background: #e84747;
}
#mainnav-menu ul {
	position: absolute;
	display: none;
	z-index: 99;
	background: #fff;
	box-shadow: 0 0 2px #444;
}
#mainnav-menu ul li{
	margin: 0;
}
#mainnav-menu ul a {
	width: 250px;
	width: 16rem;
	padding: 1em;
	float: left;
	font-weight: normal;
	color: #333;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#mainnav-menu ul a:link, #mainnav-menu ul a:visited{
	color: #333;
	font-size: 0.9em;
	text-decoration: none;
}
#mainnav-menu ul a:hover {
	color: #fff;
	background: #e84747;
}
#mainnav-menu li ul ul {
	margin-left: 250px;
	margin-left: 16rem;
}
#mainnav-menu li:hover ul ul, #mainnav-menu li:hover ul ul ul, #mainnav-menu li:hover ul ul ul ul{
	display:none;
}
#mainnav-menu li:hover ul, #mainnav-menu li li:hover ul, #mainnav-menu li li li:hover ul, #mainnav-menu li li li li:hover ul{
	display:block;
}
#mainnav-menu li.current_page_item a, #mainnav-menu li.current-menu-item a {
	text-decoration: underline;
}
#mainnav-menu li.current_page_item ul li a, #mainnav-menu li.current-menu-item ul li a{
	text-decoration: none;
}
#mainnav-menu ul li.current_page_item a, #mainnav-menu ul li.current-menu-item a {
	text-decoration: underline;
}
#mainnav-menu ul li.current_page_item ul li a, #mainnav-menu ul li.current-menu-item ul li a{
	text-decoration: none;
}


/* Widget Styling
-------------------------------------------------------------- */
.widget {
	margin-bottom: 1.5em;
	box-shadow: 0 0 4px #ddd;
	border: 1px solid #ddd;
	padding: 1.5em;
	background: #fff;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
.widgettitle {
	font-size: 0.9em;
	font-family: 'Droid Sans', Tahoma, Verdana, Arial;
	padding: 0.8em;
	margin: -0.5em -0.5em 1.5em -0.5em;
	background: #333;
	color: #fff;
	text-transform: uppercase;
}
.widget .textwidget {
	line-height: 1.5em;
}
.widget .textwidget p {
	margin-bottom: 1em;
}
.widget ul, .widget ol {
	line-height: 1.5em;
}
.widget ul {
	list-style: circle inside;
	color: #555;
}
.widget ul .children, .widget ol .children {
	padding: 0;
	margin: 0.5em 0 0.5em 1em;
}
.widget a:link, .widget a:visited  {
	text-decoration: none;
	color: #e84747;
}
.widget a:hover, .widget a:active {
	text-decoration: underline;
}
.widget img {
	max-width: 100%;
	height: auto;
}

/* Custom Widgets
-------------------------------------------------------------- */

/* Theme Search Widget */
.search-form {
	display: block;
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow:hidden;
}
.search-form .screen-reader-text {
	display: none;
}
.search-form .search-field {
	display: inline-block;
	margin: 0;
	width: 100%;
	padding: 0.7em 45px 0.7em 0.7em;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 1.0em;
	color: #333;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.search-form .search-submit {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	background: transparent;
	padding: 0.8em 0.7em 0 0;
	cursor: pointer;
}
.search-form .search-submit .genericon-search {
	display: inline-block;
	width: 24px;
	height: 24px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 24px;
	line-height: 1;
	font-family: 'Genericons';
	text-decoration: inherit;
	font-weight: normal;
	font-style: normal;
	vertical-align: text-bottom;
	color: #777;
	content: '\f400';
}
.search-form .search-submit:hover .genericon-search {
	color: #333;
}

/* Theme Calendar Widget */
#wp-calendar {
	margin: 0;
	width: 100%;
	color: #444;
	line-height: 1.6em;
}
#wp-calendar th,
#wp-calendar td,
#wp-calendar caption {
	text-align: center;
}
#wp-calendar caption {
	padding: 0.4em 0;
	margin: 0 -0.4em 0.8em;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.9em;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
#wp-calendar th {
	font-weight: bold;
	font-size: 0.85em;
	padding-bottom: 0.6em;
}
#wp-calendar tbody td {
	color: #888;
}
#wp-calendar tbody td a {
	font-weight: bold;
}
#wp-calendar tbody #today {
	font-weight: bold;
	color: #333;
}
#wp-calendar tfoot tr td {
	padding-top: 0.8em;
}
#wp-calendar #prev {
	text-align: left;
}
#wp-calendar #next {
	padding-right: 0.4em;
	text-align: right;
}

/* Theme Popular Posts Widget */
.widget-popular-posts ul{
	padding: 0;
}
.widget-popular-posts ul li {
	list-style: none;
	margin: 0 0 0.5em 0;
	overflow: auto;
}
.widget-popular-posts .wp-post-image {
	float: left;
	margin: 0.3em 0.8em 0.5em 0;
	max-width: 75px;
	height: auto;
}
.widget-popular-posts .widget-postmeta {
	color: #777;
	margin: 0.3em 0;
	font-size: 0.9em;
}
.widget-popular-posts .widget-postmeta .widget-date {
	border-right: 1px solid #aaa;
	padding-right: 0.6em;
}
.widget-popular-posts .widget-postmeta .widget-comment {
	margin-left: 0.4em;
}

/* Theme Tabbed Widget */
.widget-tabnavi {
	margin: 0 -0.5em;
	padding: 0;
	overflow: auto;
	list-style: none;
}
.widget-tabnav {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-position: outside;
	position: relative;
}
.widget-tabnavi ul {
	text-indent: 0;
	list-style: none;
}
.widget-tabnav li {
	float:left;
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}
.widget-tabnav li a {
	display: block;
	margin: 0 1px 1px 0;
	padding: 0.5em 1em;
	font-size: 0.9em;
	text-decoration: none;
	background-color: #e84747;
}
.widget-tabnav li a:link, .widget-tabnav li a:visited  {
	color: #fff;
}
.widget-tabnavi li a:hover, .widget-tabnavi li a:active {
	background-color: #303030;
	text-decoration: none;
}
.widget-tabnavi li a.current-tab{
	text-decoration: underline;
}
.widget-tabbed .tabdiv {
	padding: 0;
	margin: 1em 0 0 0;
}
.widget-tabbed .tabdiv li.widget-thumb {
	list-style: none;
	margin: 0 0 0.5em 0;
	overflow: auto;
}
.widget-tabbed .tabdiv  li.widget-thumb .wp-post-image {
	float: left;
	margin: 0.3em 0.8em 0.5em 0;
	max-width: 75px;
	height: auto;
}
.widget-tabbed .tabdiv li.widget-avatar{
	list-style: none;
	margin: 0 0 0.3em 0;
	overflow: auto;
}
.widget-tabbed .tabdiv li.widget-avatar img {
	float: left;
	margin: 0.3em 0.8em 0.3em 0;
}
.widget-tabbed .tabdiv ul li .widget-postmeta {
	margin: 0.1em 0;
	padding: 0;
	font-size: 0.8em;
	color: #777;
}

/* WordPress.com Flickr Widget */
#flickr_badge_wrapper {
    border: none !important;
}
#flickr_badge_uber_wrapper a:link, #flickr_badge_uber_wrapper a:visited,
#flickr_badge_uber_wrapper a:hover, #flickr_badge_uber_wrapper a:active {
    color: #e84747 !important;
}

/* WordPress.com Recent Comments Widget */
.recentcommentsavatar tr td {
	padding-bottom: 0.6em;
}
.widget_recent_comments .recentcommentstexttop, .widget_recent_comments .recentcommentstextend {
    vertical-align: middle;
}

/* WordPress.com Contact Info Widget */
.widget_contact_info #contact-map {
	margin-bottom: 1em;
}
.widget_contact_info div {
	line-height: 1.5em;
}


/* Posts and Pages
-------------------------------------------------------------- */
.type-post, .type-page, .type-attachment  {
	margin: 0 0 1.5em 0;
	padding: 0.8em 1.5em 1.5em;
	box-shadow: 0 0 4px #ddd;
	border: 1px solid #ddd;
	background: #fff;
}
.page-title, .post-title {
	font-weight: bold;
	font-family: 'Francois One', Tahoma, Verdana, Arial;
	color: #333;
	line-height: 1.4em;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	text-transform: uppercase;
	padding: 0.3em 0;
	border-bottom: 5px solid #333;
}
.page-title {
    font-size: 2.0em;
}
.post-title {
    font-size: 1.5em;
}
.post-title a:link, .post-title a:visited {
	color: #333;
	text-decoration: none;
}
.post-title a:hover, .post-title a:active{
	color: #e84747;
}
.sticky {
	border-left: 10px solid #ccc;
}

/* Page Links | wp_link_pages() */
.page-links {
	margin: 0;
	word-spacing: 1em;
}

/* Postmeta */
.postmeta {
	display: block;
	color: #333;
	margin: 0;
	padding: 0.7em 1em;
	background: #eee;
}
.postmeta span, .postmeta .post-edit-link {
	font-size: 0.9em;
	line-height: 1.5em;
}
.postmeta a:link, .postmeta a:visited {
	color: #555;
	text-decoration: underline;
}
.postmeta a:hover, .postmeta a:active{
	text-decoration: none;
}
.postmeta .sep, .postmeta .post-edit-link  {
	padding-left: 0.8em;
	margin-left: 0.7em;
	border-left: 1px solid #aaa;
}
.postinfo {
	clear: both;
	line-height: 1.5em;
}
.postinfo .meta-category {
	display: block;
	color: #333;
	margin: 0;
	font-size: 0.9em;
}
.postinfo .meta-category a {
	display: inline-block;
	float: left;
	color: #fff;
	background: #333;
	padding: 0.4em 1em;
	margin: 0 1px 1px 0;
}
.postinfo .meta-category a:hover, .postinfo .meta-category a:active {
	background: #e84747;
	text-decoration: none;
}
.postinfo .meta-tags {
	display: block;
	margin: 0.5em 0;
}

/* Read more Link */
.more-link {
	display: inline-block;
	margin: 0.5em 0;
	padding: 0.6em 1em;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	background-color: #e84747;
}
.more-link:link, .more-link:visited  {
	color: #fff;
}
.more-link:hover, .more-link:active {
	background-color: #303030;
	text-decoration: none;
}
.excerpt-more-link  {
	margin-bottom: 1.2em;
}

/* Archives and Search Heading */
.archive-title {
	font-weight: bold;
	color: #333;
	background: #fff;
	padding: 1.5em;
	margin-bottom: 1.5em;
	box-shadow: 0 0 4px #ddd;
	border: 1px solid #ddd;
	text-transform: uppercase;
}
.archive-title span{
	color: #e84747;
}

/* Default Pagination */
.post-pagination {
	margin-bottom: 1.5em;
	padding: 0.8em 1em;
	font-weight: bold;
	color: #333;
	box-shadow: 0 0 4px #ddd;
	border: 1px solid #ddd;
	background: #fff;
	text-transform: uppercase;
}
.post-pagination .post-pagination-alignleft {
	float: left;
}
.post-pagination .post-pagination-alignright {
	float: right;
}

/* Infinite Scroll Pagination */
.infinite-scroll .post-pagination {
	display: none;
}
.infinite-loader {
	position: relative;
	left: 50%;
	margin-bottom: 1.5em;
}
.infinite-scroll #infinite-handle {
	margin-bottom: 1.5em;
}
.infinite-scroll #infinite-handle span {
	display: block;
	padding: 0.8em 1em;
	font-size: 1.0em;
	font-weight: bold;
	box-shadow: 0 0 4px #ddd;
	border: 1px solid #ddd;
	background: #fff;
	color: #e84747;
	text-transform: uppercase;
	text-align: center;
}
.infinite-scroll #infinite-handle span:hover {
	color: #333;
}

/* Text Elements
-------------------------------------------------------------- */
.entry {
	line-height: 1.6em;
	margin: 0.5em 0;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
.entry p, .comment p {
	margin: 0.75em 0;
}
.entry h1, .comment h1,
.entry h2, .comment h2,
.entry h3, .comment h3,
.entry h4, .comment h4,
.entry h5, .comment h5,
.entry h6, .comment h6 {
	color: #222;
	font-weight: bold;
	line-height: 1.0em;
	margin: 1.2em 0 0.3em;
}
.entry h1, .comment h1 {
	font-size: 3.0em;
}
.entry h2, .comment h2 {
	font-size: 2.25em;
}
.entry h3, .comment h3 {
	font-size: 1.5em;
}
.entry h4, .comment h4 {
	font-size: 1.25em;
}
.entry h5, .comment h5 {
	font-size: 1.125em;
	margin: 1.3em 0 0;
}
.entry h6, .comment h6 {
	font-size: 1.0em;
	margin: 1.3em 0 0;
}
.entry ul, .comment ul{
	list-style: square inside;
	margin: 0 0 1.5em 2em;
}
.entry ol, .comment ol{
	list-style: decimal inside;
	margin: 0 0 1.5em 2em;
}
.entry ol ol, .comment ol ol{
	list-style: upper-alpha inside;
}
.entry ol ol ol, .comment ol ol ol{
	list-style: lower-roman inside;
}
.entry ol ol ol ol, .comment ol ol ol ol{
	list-style: lower-alpha inside;
}
.entry ul ul, .comment ul ul,
.entry ol ol, .comment ol ol,
.entry ul ol, .comment ul ol
.entry ol ul, .comment ol ul {
	margin-bottom: 0.2em;
}
dl {
	margin: 1em 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 1.5em;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big, .big_tag {
	font-size: 1.3em;
}
ins {
	padding: 1px 2px;
	background: #ffa;
	text-decoration: none;
}
code, pre {
	padding: 3px 8px;
	margin: 0 1px;
	background: #eeeeee;
	color: #222;
	font-size: 0.9em;
	font-family: Monospace, "Courier New", Courier;
	overflow: auto;
	line-height: 1.0em;
}
del, strike, s{
	text-decoration: line-through;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
small {
	font-size: 0.7em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
	font-size: 0.8em;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
.entry var, .entry kbd, .entry tt, .entry .tt_tag {
	font-size: 1.1em;
	font-family: "Courier 10 Pitch", Courier, monospace;
}
blockquote {
	background:#f5f5f5;
	border-left: 10px solid #ccc;
	margin: 1.5em 0;
	padding: 0.8em 1.5em;
}
blockquote p {
	display: inline-block;
}
blockquote cite {
	display: block;
	margin: 0.5em 0 0 0.5em;
	color: #777;
}
.entry table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #ddd;
	margin: 1em 0;
	text-align: left;
	width: 100%;
}
.entry tr th,
.entry thead th {
	background: #e5e5e5;
	font-weight: bold;
	padding: 0.2em 1em;
}
.entry tr td {
	border-top: 1px solid #ddd;
	padding: 0.2em 1em;
}
.entry tr.alternate td {
	background: #f5f5f5;
}

/* Images | Gallery | Videos
-------------------------------------------------------------- */
article .wp-post-image {
	max-width: 100%;
	margin: 1em 0 0;
	height: auto;
}
.entry img {
	max-width: 100%;
	height: auto;
}
.wp-caption {
	max-width: 100%;
	height: auto;
	text-align: center;
	margin: 1em 0;
}
.wp-caption .wp-caption-text {
	margin: 0 10px;
	padding: 0;
	font-size: 0.9em;
	text-align: center;
}
.alignleft {
	float: left;
	display: inline;
	margin: 1em 2em 1em 0;
}
.alignright	{
	float: right;
	display: inline;
	margin: 1em 0 1em 2em;
}
.aligncenter {
	margin: 1em auto;
	display: block;
}

/* Gallery Styling */
.gallery {
	padding-top: 1em;
}
.gallery-item {
	padding: 0.3em 1em 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.gallery img {
	margin: 0;
	padding: 2px;
	border: 1px solid #ddd !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Make Vidoes responsive */
embed, iframe, object, video {
	max-width: 100%;
}

/* Image.php Navigation */
#image-nav {
	margin: 1.5em 0;
	padding: 0.6em 1em;
	font-weight: bold;
	color: #333;
	box-shadow: 0 0 4px #ddd;
	border: 1px solid #ddd;
	background: #fff;
	text-transform: uppercase;
}
#image-nav .nav-previous {
	float: left;
}
#image-nav .nav-next {
	float: right;
}
#image-nav .nav-previous a, #image-nav .nav-next a {
	font-size: 0.9em;
	text-decoration: none;
	color: #e84747;
}
#image-nav .nav-previous a:hover, #image-nav .nav-next a:hover {
	text-decoration: underline;
}

/* Social Icons | based upon http://kovshenin.com/2014/social-menus-in-wordpress-themes/
-------------------------------------------------------------- */
#social-icons-menu {
	list-style-type: none;
	list-style-position: outside;
	line-height: 1em;
}
#social-icons-menu li {
	float: left;
	margin: 0 1px 1px 0;
	padding: 0;
}
#social-icons-menu li a {
	position: relative;
	display: inline-block;
	padding: 0.8em;
	background: #e84747;
	text-decoration: none;
	color: #fff;
}
#social-icons-menu li a:hover {
	text-decoration: none;
	background: #333;
}
#social-icons-menu li a:before {
	color: #fff;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
	line-height: 1;
	font-family: 'Genericons';
	text-decoration: inherit;
	vertical-align: top;
}
#social-icons-menu li a .screen-reader-text {
	display: none;
}
.social-icons-wrap .social-icons-hint {
	font-size: 0.8em;
	color: #777;
	max-width: 300px;
	line-height: 1.2em;
}

/* Add Genericons */
#social-icons-menu li a:before { content: '\f408'; } /* Default Icon */
#social-icons-menu li a[href*="codepen.io"]:before  { content: '\f216'; }
#social-icons-menu li a[href*="digg.com"]:before { content: '\f221'; }
#social-icons-menu li a[href*="dribbble.com"]:before { content: '\f201'; }
#social-icons-menu li a[href*="facebook.com"]:before { content: '\f203'; }
#social-icons-menu li a[href*="flickr.com"]:before { content: '\f211'; }
#social-icons-menu li a[href*="plus.google.com"]:before { content: '\f206'; }
#social-icons-menu li a[href*="github.com"]:before { content: '\f200'; }
#social-icons-menu li a[href*="instagram.com"]:before { content: '\f215'; }
#social-icons-menu li a[href*="linkedin.com"]:before { content: '\f207'; }
#social-icons-menu li a[href*="pinterest.com"]:before { content: '\f209'; }
#social-icons-menu li a[href*="polldaddy.com"]:before { content: '\f217'; }
#social-icons-menu li a[href*="getpocket.com"]:before { content: '\f224'; }
#social-icons-menu li a[href*="reddit.com"]:before { content: '\f222'; }
#social-icons-menu li a[href*="spotify.com"]:before { content: '\f515'; }
#social-icons-menu li a[href*="skype.com"]:before,
#social-icons-menu li a[href*="skype:"]:before { content: '\f220'; }
#social-icons-menu li a[href*="stumbleupon.com"]:before { content: '\f223'; }
#social-icons-menu li a[href*="tumblr.com"]:before { content: '\f214'; }
#social-icons-menu li a[href*="twitter.com"]:before { content: '\f202'; }
#social-icons-menu li a[href*="twitch.tv"]:before { content: '\f516'; }
#social-icons-menu li a[href*="vimeo.com"]:before  { content: '\f212'; }
#social-icons-menu li a[href*="wordpress.org"]:before,
#social-icons-menu li a[href*="wordpress.com"]:before { content: '\f205'; }
#social-icons-menu li a[href*="youtube.com"]:before { content: '\f213'; }
#social-icons-menu li a[href*="/feed"]:before,
#social-icons-menu li a[href*="/feed/"]:before,
#social-icons-menu li a[href*="?feed=rss2"]:before,
#social-icons-menu li a[href*="feedburner.google.com"]:before,
#social-icons-menu li a[href*="feedburner.com"]:before { content: '\f413'; }

/* Comments
-------------------------------------------------------------- */
#comments {
	margin: 0 0 1.5em 0;
	padding: 1em 1.5em;
	background: #fff;
	box-shadow: 0 0 4px #ddd;
	border: 1px solid #ddd;
}
#comments .comments-title, #respond #reply-title {
	font-weight: bold;
	font-family: 'Francois One', Tahoma, Verdana, Arial;
	color: #555;
	line-height: 1.4em;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	text-transform: uppercase;
	padding: 0.3em 0;
	border-bottom: 5px solid #555;
	font-size: 1.5em;
}
.commentlist {
	display: block;
	margin: 1.5em 0;
}
.commentlist .comment{
	display: block;
	margin: 1.5em 0 0;
	list-style: none;
	line-height: 1.5em;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
.commentlist .comment .avatar {
	float: left;
	margin: 1em 1.5em 0.5em 0;
}
.commentlist .comment .avatar:after {
	clear: both;
}
.comment-author {
	line-height: 1.5em;
	background: #eee;
}
.comment-author .comment-meta {
	display: inline-block;
	font-size: 0.8em;
	margin: 0.5em 1.2em 0;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	color: #222;
}
.comment-author .fn {
	display: inline-block;
	float: left;
	font-family: 'Francois One', Tahoma, Verdana, Arial;
	font-size: 1.0em;
	color: #fff;
	background: #333;
	padding: 0.4em 1em;
}
.comment-meta a:link, .comment-meta a:visited,
.comment-meta a:active, .comment-meta a:hover {
	color: #222;
}
.comment-author .fn a:link, .comment-author .fn a:visited {
	color: #fff;
	text-decoration: underline;
}
.comment-author .fn a:hover, .comment-author .fn a:active {
	text-decoration: none;
}
.bypostauthor .fn, .comment-author-admin .fn {
	background: #e84747;
}
#comments .children {
	margin-left: 1.5em;
}
.nocomments {
	color: #444;
	padding: 1em;
}
.commentlist .pingback {
	display: block;
	margin: 0.6em 0 0;
	padding: 0.8em 0 0;
	border-top: 1px solid #ddd;
	list-style: none;
	line-height: 1.3em;
}

/* Comment Pagination */
.comment-pagination {
	font-size: 0.9em;
	padding: 0 1em;
	background: #eee;
	margin-bottom: 1.5em;
}
.comment-pagination .alignleft {
	float: left;
}
.comment-pagination .alignright {
	float: right;
}

/* Comment Form */
#respond {
	margin: 0;
}
#commentform {
	padding: 1em 0 0;
}
#commentform p {
	margin: 1em 0;
}
#commentform input[type="text"], #commentform textarea {
	display: inline-block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#commentform label {
	display: block;
	margin: 0.6em 0 0.2em;
}
#commentform #submit {
	display: block;
	border: none;
	margin-top: 1em;
	padding: 1em 4em;
	text-decoration: none;
	color: #fff;
	background: #e84747;
}
#commentform #submit:hover {
	background-color: #303030;
	cursor: pointer;
	text-decoration: none;
}

/* Page Templates
-------------------------------------------------------------- */

/* Fullwidth Template */
.template-fullwidth #content {
	float: none;
	width: 100%;
	padding: 0;
}

/* Front Page Template and Widgets
-------------------------------------------------------------- */

/* Front Page Slideshow */
#frontpage-slider-wrap {
	padding: 0;
	margin-bottom: 2.6em;
	/* All other Slideshow Styles in flexslider.css */
}

.frontpage-magazine-no-widgets, .frontpage-slider-empty-posts {
	line-height: 1.5em;
	margin-bottom: 1.5em;
}
/* Category Posts Widgets */
#frontpage-magazine-widgets .widgettitle {
	margin: 0 0 1.5em 0;
}
.widget-category-posts .type-post {
	margin: 0;
	padding: 0;
	border: none;
	box-shadow: none;
}
.widget-category-posts .type-post .post-title {
	font-size: 1.1em;
}
.widget-category-posts .type-post .wp-post-image {
	margin: 0 0 0.5em 0;
}
.widget-category-posts .more-posts .type-post {
	float: left;
	display: block;
	width: 100%;
	margin: 0 0 1em 0;
	background: #eee;
}
.widget-category-posts .more-posts .wp-post-image {
	float: left;
	margin: 0 0.8em 0 0;
	max-width: 30%;
}
.widget-category-posts .more-posts .more-posts-content {
	padding: 0.4em 0.8em;
}
.widget-category-posts .more-posts .post-title{
	border: none;
	margin: 0;
	font-size: 0.95em;
	font-family: 'Droid Sans', Tahoma, Verdana, Arial;
}
.widget-category-posts .more-posts .postmeta {
	display: inline-block;
	background: none;
	padding: 0 0.3em 0.3em 0;
	font-size: 0.9em;
}
.widget-category-posts .more-posts .postmeta .sep  {
	padding-left: 0.5em;
	margin-left: 0.4em;
	border-left: 1px solid #aaa;
}

/* Category Posts Boxed Widget */
#widget-category-posts-boxed .first-post {
	float: left;
	width: 50%;
	padding-right: 1.5em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#widget-category-posts-boxed .more-posts {
	width: 50%;
	margin-left: 50%;
}

/* Category Posts Grid Widget */
#widget-category-posts-grid .category-posts-grid-row {
	margin-right: -1.5em;
}
#widget-category-posts-grid .category-posts-grid-row .type-post {
	float: left;
	width: 50%;
	padding-right: 1.5em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Front Page Category Area Thre (two columns) */
#widget-category-posts-columns .category-posts-column-left {
	float: left;
	width: 50%;
	padding-right: 0.75em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#widget-category-posts-columns .category-posts-column-right {
	margin-left: 50%;
	width: 50%;
	padding-left: 0.75em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#widget-category-posts-columns .category-posts-columns .more-posts .type-post {
	float: left;
	display: block;
	width: 100%;
	margin: 1em 0 0;
	background: #eee;
}

/* Footer Widget Area
-------------------------------------------------------------- */
#footer-widgets-bg {
	background: #333;
}
#footer-widgets {
	padding-top: 1.5em;
	padding-left: 1.5em;
}
.footer-widget-column {
	float: left;
	width: 25%;
	padding-right: 1.5em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* Footer Widget Styling */
#footer-widgets .widget {
	box-shadow: none;
	border: none;
	background: rgba(255, 255, 255, 0.05);
}
#footer-widgets .widgettitle {
	color: #fff;
	background: rgba(255, 255, 255, 0.1);
}
#footer-widgets .widget ul, #footer-widgets .widget div{
	color: #fff;
}
#footer-widgets .widget a:link, #footer-widgets .widget a:visited  {
	color: #ccc;
}
#footer-widgets .widget a:hover, #footer-widgets .widget a:active {
	text-decoration: underline;
}

/* Custom Widget Styling */
#footer-widgets #wp-calendar {
	color: #fff;
}
#footer-widgets .widget-recent-posts .widget-postmeta {
	color: #ccc;
}
#footer-widgets .widget-recent-comments .comment-content {
	color: #ccc;
}
#footer-widgets .widget-recent-comments .comment-date {
	color: #ccc;
}
#footer-widgets .widget-tabnav li a:link, #footer-widgets .widget-tabnav li a:visited {
	color: #333;
	background-color: #eee;
}
#footer-widgets .widget-tabnavi li a:hover, #footer-widgets .widget-tabnavi li a:active {
	background-color: #ccc;
}

/* Footer
-------------------------------------------------------------- */
#footer-wrap {
	background: #333;
}
#footer {
	padding: 1em 1.5em;
	color: #fff;
	background: rgba(255, 255, 255, 0.05);
}
#footer a {
	color: #bbb;
}
#footer a:hover {
	color: #fff;
}
#footer #credit-link {
	float: right;
	font-size: 0.9em;
}

/*============================ MEDIA QUERIES ============================*/

/* Small screens | <1120px */
@media only screen and (max-width: 70em) {
	#wrapper {
		width: 94%;
	}
	.footer-widget-column {
		width: 50%;
	}
}
/* Smaller screens | <1120px */
@media only screen and (max-width: 65em) {
	#wrapper {
		width: 96%;
	}
	.widget, .type-post, .type-page, .type-attachment,
	#comments {
		box-shadow: none;
		border: none;
		padding: 0;
	}
	.widgettitle {
		margin: 0 0 1.5em 0;
	}
	#footer-widgets .widget {
		padding: 1.5em;
	}
	#footer-widgets .widgettitle {
		margin: -0.5em -0.5em 1.5em -0.5em;
	}
}
/* Tablets (landscape) | <960px */
@media only screen and (max-width: 60em) {
	#wrapper {
		width: 100%;
	}
	#header {
		padding: 2em;
	}
	#content {
		float: none;
		width: 100%;
		padding-right: 0;
	}
	#sidebar {
		clear: both;
		float: none;
		margin: 2em 0 0;
		width: 100%;
	}
	#logo {
		float: none;
		width: 100%;
	}
	#header-content {
		display: block;
		padding-top: 1em;
	}
	#header-content div {
		float: left;
		margin-left: 0;
		margin-right: 1em;
		padding-top: 0.5em;
	}
	#header-content #header-text {
		font-size: 1.3em;
	}
	#header-content #header-search #s {
		max-width: 100%;
		float: none;
	}
	#footer-widgets {
		margin-right: 0;
	}
	.footer-widget-column {
		float: none;
		width: 100%;
	}
	.widget, .type-post, .type-page, .type-attachment, #comments {
		box-shadow: 0 0 4px #ddd;
		border: 1px solid #ddd;
		padding: 1.5em;
	}
	.widgettitle {
		margin: -0.5em -0.5em 1.5em -0.5em;
	}
	.type-post, .type-page, .type-attachment {
		padding: 0.8em 1.5em 1.5em;
	}
	#comments {
		padding: 1em 1.5em;
	}


	/* Mobile Navigation */

	/* Reset */
	#mainnav, #mainnav-menu, #mainnav-menu li, #mainnav-menu a, #mainnav-menu ul,
	#mainnav-menu ul a, #mainnav-menu ul ul, #mainnav-menu li ul ul
	{
		margin: 0;
		padding: 0;
		position: static;
		float: none;
		display: inline;
		font-size: 1.0em;
		border: none;
		box-shadow: none;
		background: none;
		top: 0;
		left: 0;
	}
	#mainnav-menu li:hover ul ul, #mainnav-menu li:hover ul ul ul, #mainnav-menu li:hover ul ul ul ul,
	#mainnav-menu li:hover ul, #mainnav-menu li li:hover ul, #mainnav-menu li li li:hover ul, #mainnav-menu li li li li:hover ul
	{
		display: inline;
	}

	#mainnav {
		margin: 1.5em 0;
		float: none;
	}
	#mainnav-icon {
		display: block;
		padding: 1.5em;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 1.0em;
		font-family: 'Francois One', Tahoma, Verdana, Arial;
		color: #fff;
		background: rgba(255, 255, 255, 0.1);
		-webkit-transition: all 0.1s ease-out;
		-moz-transition: all 0.1s ease-out;
		-ms-transition: all 0.1s ease-out;
		-o-transition: all 0.1s ease-out;
		transition: all 0.1s ease-out;
	}
	#mainnav-icon:hover {
		cursor: pointer;
		background: #e84747;
	}
	#mainnav-icon:after {
		float: right;
		margin: -0.15em 0 0;
		-webkit-font-smoothing: antialiased;
		display: inline-block;
		content: '\f419';
		font: normal 24px/1 Genericons;
		text-decoration: inherit;
		vertical-align: text-bottom;
	}
	#mainnav-menu {
		width: 100%;
		display: none;
		border-top: 1px solid #fff;
	}
	#mainnav-menu a {
		display: block;
		padding: 1.5em;
		text-decoration: none;
		font-size: 1.0em;
		border-bottom: 1px solid #fff;
		clear: left;
	}
	#mainnav-menu ul {
		float: left;
		padding: 1em;
		background: #fff;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	#mainnav-menu ul a {
		display: block;
		width: 100%;
		padding: 1em;
		font-size: 0.9em;
		border-bottom: 1px solid #aaa;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	#mainnav-menu ul li ul {
		float: left;
		padding: 0 0 0 1em;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	#mainnav-menu li.current_page_item a, #mainnav-menu li.current-menu-item a {
		text-decoration: underline;
	}
	#mainnav-menu li.current_page_item ul li a, #mainnav-menu li.current-menu-item ul li a{
		text-decoration: none;
	}
	#mainnav-menu ul li.current_page_item a, #mainnav-menu ul li.current-menu-item a {
		text-decoration: underline;
	}
}

/* Tablets (portrait) | <800px */
@media only screen and (max-width: 50em) {
	#logo .site-title {
		font-size: 2.3em;
	}
	.widget, .type-post, .type-page, .type-attachment, #comments {
		box-shadow: none;
		border: none;
		padding: 0;
	}
	.widgettitle {
		margin: 0 0 1.5em 0;
	}
	#footer-widgets .widget {
		padding: 1.5em;
	}
	#footer-widgets .widgettitle {
		margin: -0.5em -0.5em 1.5em -0.5em;
	}
	.entry h1, .comment h1 {
	font-size: 2.2em;
	}
	.entry h2, .comment h2 {
		font-size: 1.8em;
	}
	.entry h3, .comment h3 {
		font-size: 1.4em;
	}
	.entry tr th,
	.entry thead th {
		padding: 0.2em 0.4em;
	}
	.entry tr td {
		padding: 0.2em 0.4em;
	}
}

/* Phablets (portrait) | <640px */
@media only screen and (max-width: 40em) {

	#logo, #header-content {
		text-align: center;
	}
	#header-content #header-search,
	#header-content #header-text,
	#header-content #header-social-icons {
		margin: 0;
		float: none;
	}
	#header-social-icons #social-icons-menu li {
		float: none;
		display: inline-block;
		list-style: none;
		margin: 1px -1.5px;
	}
	.page-title {
		font-size: 2.0em;
	}
	.post-title {
		font-size: 1.4em;
	}
	.widget-category-posts .type-post .post-title {
		font-size: 1.0em;
	}
	..widget-category-posts .more-posts .post-title{
		font-size: 0.9em;
	}

	/* Frontpage Categories */
	.widget-category-posts .type-post {
		margin: 0 0 1.5em 0;
	}
	#widget-category-posts-grid .category-posts-grid-row {
		margin-right: 0;
	}
	#widget-category-posts-grid .category-posts-grid-row .type-post,
	#widget-category-posts-boxed .first-post,
	#widget-category-posts-columns .category-posts-column-left {
		float: none;
		width: 100%;
		padding-right: 0;
	}
	#widget-category-posts-boxed .more-posts,
	#widget-category-posts-columns .category-posts-column-right {
		width: 100%;
		margin-left: 0;
		padding-left: 0;
	}
	#widget-category-posts-boxed .more-posts,
	#widget-category-posts-columns .category-posts-columns .more-posts	{
		padding-bottom: 0.5em;
	}
	#widget-category-posts-columns .category-posts-columns .more-posts .type-post {
		margin: 0 0 1em;
	}
	#widget-category-posts-columns .category-posts-column-right {
		margin-top: 1.5em;
	}
}


/* Smartphones | <480px */
@media only screen and (max-width: 30em) {
	#logo .site-title {
		font-size: 2.0em;
	}
	.alignright, .alignleft {
		float: none;
		margin: 1em 0;
	}
}

/* Smartphones | <320px */
@media only screen and (max-width: 20em) {
	.postmeta span, .postinfo span {
		display: block;
	}
	.postmeta .sep, .postinfo .sep, .postmeta .post-edit-link {
		border: none;
		margin: 0;
		padding: 0;
	}
}

/* Big Screens Navi Fix | >720px */
@media only screen and (min-width: 60em) {
	/* ensure #nav is visible on desktop version */
	#mainnav-menu {
		display: block !important;
	}
}
