#wrapper.login-wall-enabled {
  overflow: hidden;
}

#login-wall {
  z-index: 10001;
  position: fixed;
  top: 0; 
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
}

#login-wall-exit {
  position: absolute;
  left: 15px;
  top: 15px;
  color: #fff;
  font-size: 22px;
  background: none;
  border: none;
}

#login-wall-inner {
  position: absolute;
  bottom: 60px;
  left: 30px;
  width: 210px;
}

.login-title {
  color: #fff !important;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.2em;
}

#login-wall-btn,
.theChampLogin {
  width: 210px;
  height: 60px;
  margin-top: 30px;
  color: #fff;
  border: 0;
  background-color: #3b5998;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
      