#nav>ul>li#nav_wow:hover, #nav>ul>li#nav_hearthstone:hover {
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  border-bottom:1px solid #3a87cf;
  height:33px;
}

#nav_wow {
  width:205px;
}

#nav_wow:hover {
  width:203px;
}

#nav_hearthstone {
  width:168px;
}

#nav_hearthstone:hover {
  width:166px;
}

#nav_d3 {
  width:138px;
}

#nav_d3:hover {
  width:136px;
}

#nav_heroes {
  width:122px;
}

#nav_heroes:hover {
  width:120px;
}

#nav_hearthstone .sprite_news_preview_title, #nav_wow .sprite_news_preview_title, #nav_d3 .sprite_news_preview_title, #nav_heroes .sprite_news_preview_title {
  position:relative;
  top:6px;
}
